/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 16, ../sass/nodes.scss */
.node {
  /* Node wrapper */
  position: relative;
}
/* line 19, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 23, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 26, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 29, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 32, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 35, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 40, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 43, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 46, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 49, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 58, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 61, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 64, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 67, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/**
 * Layout content node - Display Suite Two columns custom
 */
/* line 79, ../sass/nodes.scss */
.context-web-nodeentry .content-container > .inner-940,
.node-type-webform .content-container > .inner-940,
.context-web-custompage .content-container > .inner-940 {
  padding: 0;
  width: 100%;
}

/* line 86, ../sass/nodes.scss */
.context-web-nodeentry {
  /*ds regions*/
  /*col left*/
  /*fields*/
  /*date & author*/
  /*author*/
  /*body*/
  /*inline elements*/
}
/* line 93, ../sass/nodes.scss */
.context-web-nodeentry .gallery p {
  margin: 0;
  width: 87%;
  float: right;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
  margin-right: 24px;
  overflow: hidden;
  padding-left: 2%;
  border-left: 1px solid #ccc;
  padding-right: 20px;
}
/* line 107, ../sass/nodes.scss */
.context-web-nodeentry .group-share-multimedia {
  background: #f1eeec;
  clear: both;
  height: 40px;
}
/* line 115, ../sass/nodes.scss */
.context-web-nodeentry .field-name-field-article-multimedia > .field-items > .field-item > .node-photo {
  height: 627px;
}
/* line 118, ../sass/nodes.scss */
.context-web-nodeentry .field-name-field-article-multimedia > .field-items > .field-item > .node-photo .image-title-desc p {
  width: 100%;
}
/* line 126, ../sass/nodes.scss */
.context-web-nodeentry .group-multimedia {
  background: #333;
  clear: both;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  /*video*/
  /*photo title*/
}
/* line 139, ../sass/nodes.scss */
.context-web-nodeentry .group-multimedia .image-title-desc {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #CCC;
  font-size: 0.8em;
  left: 0;
  line-height: 1.2;
  position: absolute;
  width: 98%;
  height: auto;
  padding: 7px 1%;
  min-height: 20px;
}
/* line 153, ../sass/nodes.scss */
.context-web-nodeentry .group-multimedia .image-title-desc .d-count {
  float: left;
  width: 10%;
  position: absolute;
  left: 5px;
  bottom: 4px;
  height: 90%;
  margin-right: 3px;
  min-height: 28px;
  max-width: 80px;
}
/* line 164, ../sass/nodes.scss */
.context-web-nodeentry .group-multimedia .image-title-desc .count {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 3px;
  padding: 0;
  line-height: 24px;
}
/* line 175, ../sass/nodes.scss */
.context-web-nodeentry .group-multimedia .image-title-desc p {
  display: inline;
  margin: 0;
}
/* line 181, ../sass/nodes.scss */
.context-web-nodeentry .group-multimedia .count {
  color: #CCC;
  float: left;
}
/* line 187, ../sass/nodes.scss */
.context-web-nodeentry .cols {
  clear: both;
  /*col right*/
}
/* line 190, ../sass/nodes.scss */
.context-web-nodeentry .cols > .group-left {
  position: relative;
  width: 620px;
}
/* line 196, ../sass/nodes.scss */
.context-web-nodeentry .cols > .group-right {
  width: 300px;
}
/* line 205, ../sass/nodes.scss */
.context-web-nodeentry .field-name-format-date-node,
.context-web-nodeentry .field-name-author-node-format {
  clear: both;
  color: #777;
  float: left;
  font-size: 0.9em;
  padding-bottom: 18px;
  /*fix IE7*/
}
/* line 213, ../sass/nodes.scss */
.context-web-nodeentry .field-name-author-node-format {
  background-color: false;
  background-image: url("../images/separador.png");
  background-repeat: no-repeat;
  background-position: left 11px;
  text-indent: -9999em;
  clear: none;
  margin-left: 10px;
  padding-left: 8px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .context-web-nodeentry .field-name-author-node-format {
  background-image: url("../images/separador.svg");
}
/* line 220, ../sass/nodes.scss */
.context-web-nodeentry .field-name-author-node-format > * {
  float: left;
  margin-left: 5px;
}
/* line 225, ../sass/nodes.scss */
.context-web-nodeentry .field-name-author-node-format a {
  color: #444;
}
/* line 228, ../sass/nodes.scss */
.context-web-nodeentry .field-name-author-node-format a:hover {
  text-decoration: underline;
}
/* line 233, ../sass/nodes.scss */
.context-web-nodeentry .field-name-author-node-format span.author-mail a,
.context-web-nodeentry .field-name-author-node-format a.author-item {
  background-color: false;
  background-image: url("../images/twitter-mail-articulo.png");
  background-repeat: no-repeat;
  background-position: 0 7px;
  text-indent: -9999em;
  color: #888;
  margin-left: 15px;
  padding-left: 20px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .context-web-nodeentry .field-name-author-node-format span.author-mail a, .svg
.context-web-nodeentry .field-name-author-node-format a.author-item {
  background-image: url("../images/twitter-mail-articulo.svg");
}
/* line 66, ../sass/_custom.scss */
.context-web-nodeentry .field-name-author-node-format span.author-mail a:hover,
.context-web-nodeentry .field-name-author-node-format a.author-item:hover {
  background-position: 0 -330px;
}
/* line 242, ../sass/nodes.scss */
.context-web-nodeentry .field-name-author-node-format span.author-mail a {
  background-position: 0 -106px;
  padding-left: 25px;
}
/* line 79, ../sass/_custom.scss */
.context-web-nodeentry .field-name-author-node-format span.author-mail a:hover {
  background-position: 0 -443px;
}
/* line 247, ../sass/nodes.scss */
.context-web-nodeentry .field-name-author-node-format a.author-fb {
  background-position: 0 -218px;
}
/* line 79, ../sass/_custom.scss */
.context-web-nodeentry .field-name-author-node-format a.author-fb:hover {
  background-position: 0 -555px;
}
/* line 253, ../sass/nodes.scss */
.context-web-nodeentry .group-left .field-name-body {
  border-bottom: 1px solid #DDD;
  clear: both;
  margin-bottom: 23px;
  overflow: hidden;
}
/* line 259, ../sass/nodes.scss */
.context-web-nodeentry .group-left .field-name-body p {
  /*margin: 0;
  text-indent: 20px;*/
}
/* line 263, ../sass/nodes.scss */
.context-web-nodeentry .group-left .field-name-body p:first-child {
  margin-top: 0;
  text-indent: 0;
}
/* line 270, ../sass/nodes.scss */
.context-web-nodeentry .group-left .field-name-body ul,
.context-web-nodeentry .group-left .field-name-body ol {
  margin-left: 35px;
}
/* line 275, ../sass/nodes.scss */
.context-web-nodeentry .attach-wrapper {
  float: left;
  margin: 24px 0 24px -80px;
  width: 540px;
  overflow: hidden;
}
/* line 281, ../sass/nodes.scss */
.context-web-nodeentry .attach-wrapper .field-name-field-inline-attach-image {
  float: right;
  text-align: right;
}
/* line 285, ../sass/nodes.scss */
.context-web-nodeentry .attach-wrapper .field-name-field-inline-code {
  float: right;
  max-width: 500px;
  min-width: 320px;
  width: 100%;
}
/* line 291, ../sass/nodes.scss */
.context-web-nodeentry .attach-wrapper h3 {
  display: none;
}

/* line 296, ../sass/nodes.scss */
.node-article.view-mode-full {
  /*col left*/
}
/* line 297, ../sass/nodes.scss */
.node-article.view-mode-full .group-multimedia {
  background: #F8F6F5;
}
/* line 301, ../sass/nodes.scss */
.node-article.view-mode-full .field-name-body {
  min-height: 408px;
  padding-left: 160px;
}

/**
 * node slideshow
 */
/* line 309, ../sass/nodes.scss */
.group-multimedia {
  /*arrows*/
}
/* line 311, ../sass/nodes.scss */
.group-multimedia .flexslider {
  background: #000;
  position: relative;
}
/* line 317, ../sass/nodes.scss */
.group-multimedia .flex-direction-nav a {
  background-color: false;
  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  background-position: false;
  text-indent: -9999em;
}
/* line 61, ../sass/_custom.scss */
.svg .group-multimedia .flex-direction-nav a {
  background-image: url("../images/arrows.svg");
}

/*slideshow*/
/* line 322, ../sass/nodes.scss */
.node-article-slider {
  height: 627px;
  /*arrows*/
}
/* line 325, ../sass/nodes.scss */
.node-article-slider .node-ad {
  background: #CCC;
  height: 627px;
  padding-top: 188px;
  text-align: center;
}
/* line 333, ../sass/nodes.scss */
.node-article-slider .flex-direction-nav a {
  background-color: false;
  background-image: url("../images/arrows-fotoslanding.png");
  background-repeat: no-repeat;
  background-position: 17px 22px;
  text-indent: -9999em;
  padding: 20px;
  top: 299px;
  width: 20px;
}
/* line 61, ../sass/_custom.scss */
.svg .node-article-slider .flex-direction-nav a {
  background-image: url("../images/arrows-fotoslanding.svg");
}
/* line 66, ../sass/_custom.scss */
.node-article-slider .flex-direction-nav a:hover {
  background-position: 17px -46px;
}
/* line 339, ../sass/nodes.scss */
.node-article-slider .flex-direction-nav a.flex-next {
  background-position: -41px 22px;
}
/* line 79, ../sass/_custom.scss */
.node-article-slider .flex-direction-nav a.flex-next:hover {
  background-position: -41px -46px;
}
/* line 342, ../sass/nodes.scss */
.node-article-slider .flex-direction-nav a.flex-disabled {
  background: none;
}

/*thumbs carousel*/
/* line 349, ../sass/nodes.scss */
.node-article-carousel {
  padding: 3px 30px;
  /*arrows*/
}
/* line 354, ../sass/nodes.scss */
.lt-ie8 .node-article-carousel .field-item {
  float: left;
}
/* line 359, ../sass/nodes.scss */
.node-article-carousel img {
  cursor: pointer;
  margin: 0 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 365, ../sass/nodes.scss */
.node-article-carousel .flex-active-slide img,
.node-article-carousel img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  filter: none;
}
/* line 370, ../sass/nodes.scss */
.node-article-carousel .flex-direction-nav a {
  background-color: #000;
  background-position: -432px 45px;
  height: 101px;
  top: 3px;
  width: 27px;
}
/* line 379, ../sass/nodes.scss */
.node-article-carousel .flex-direction-nav a:hover {
  background-color: #222;
  background-position: -432px -75px;
}
/* line 385, ../sass/nodes.scss */
.node-article-carousel .flex-direction-nav a.flex-next {
  background-position: -483px 45px;
}
/* line 79, ../sass/_custom.scss */
.node-article-carousel .flex-direction-nav a.flex-next:hover {
  background-position: -483px -75px;
}
/* line 388, ../sass/nodes.scss */
.node-article-carousel .flex-direction-nav a.flex-next.flex-disabled {
  background-position: -483px -195px;
}
/* line 392, ../sass/nodes.scss */
.node-article-carousel .flex-direction-nav a.flex-disabled {
  background-color: #000;
  background-position: -432px -195px;
}

/**
 * inline elements
 */
/*photo and video description*/
/* line 408, ../sass/nodes.scss */
.field-name-field-inline-attach-img-desc,
.field-name-field-inline-video-description,
.field-name-field-inline-attach-imagesource {
  clear: both;
  color: #999;
  float: left;
  font-size: 0.8em;
  line-height: 1.43;
  margin: 5px 5px 3px 0;
}
/* line 416, ../sass/nodes.scss */
.field-name-field-inline-attach-img-desc a,
.field-name-field-inline-video-description a,
.field-name-field-inline-attach-imagesource a {
  display: inline;
}

/* line 420, ../sass/nodes.scss */
.field-name-field-inline-attach-imagesource {
  margin-top: 0;
  width: 100%;
}

/* line 424, ../sass/nodes.scss */
.field-name-field-inline-video-description {
  margin-top: -2px;
}

/* line 427, ../sass/nodes.scss */
.fullscreen a {
  background-color: false;
  background-image: url("../images/fullscreen-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  height: 34px;
  position: absolute;
  right: 0;
  width: 34px;
}
/* line 61, ../sass/_custom.scss */
.svg .fullscreen a {
  background-image: url("../images/fullscreen-icon.svg");
}
/* line 66, ../sass/_custom.scss */
.fullscreen a:hover {
  background-position: -50px 0;
}

/*stats*/
/* line 438, ../sass/nodes.scss */
.inline-element-stats .field-collection-view,
.field-name-field-inline-stat-table .field-collection-view {
  background: #f1eeec;
  margin-bottom: 2px;
  padding: 21px 20px 20px;
  /*number and unit*/
  /*description and source*/
}
/* line 445, ../sass/nodes.scss */
.inline-element-stats .field-collection-view .field-name-field-inline-stat-table-number,
.inline-element-stats .field-collection-view .field-name-field-inline-stats-table-unit,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stat-table-number,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stats-table-unit {
  color: #FA6138;
  float: left;
  font-family: "Stag Web", Georgia, Times, sans-serif;
  font-weight: 500;
  line-height: 55px;
}
/* line 454, ../sass/nodes.scss */
.inline-element-stats .field-collection-view .field-name-field-inline-stat-table-number,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stat-table-number {
  font-size: 4.6em;
  font-style: italic;
  margin-right: 15px;
}
/* line 461, ../sass/nodes.scss */
.inline-element-stats .field-collection-view .field-name-field-inline-stats-table-unit,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stats-table-unit {
  font-size: 1.8em;
  line-height: 59px;
  margin-right: 20px;
}
/* line 469, ../sass/nodes.scss */
.inline-element-stats .field-collection-view .field-name-field-inline-stats-table-desc,
.inline-element-stats .field-collection-view .field-name-field-inline-stats-table-source,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stats-table-desc,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stats-table-source {
  margin-left: 180px;
}
/* line 472, ../sass/nodes.scss */
.inline-element-stats .field-collection-view .field-name-field-inline-stats-table-desc,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stats-table-desc {
  font-style: italic;
  font-weight: bold;
  line-height: 60px;
  overflow: hidden;
}
/* line 480, ../sass/nodes.scss */
.inline-element-stats .field-collection-view .field-name-field-inline-stats-table-source,
.field-name-field-inline-stat-table .field-collection-view .field-name-field-inline-stats-table-source {
  color: #999;
  font-size: 0.8em;
  margin-top: 5px;
  text-align: right;
}

/*quote*/
/* line 490, ../sass/nodes.scss */
.field-name-field-inline-quote-cita {
  color: #444;
  font: italic normal 2em/1 "Stag Web", Georgia, Times, sans-serif;
  margin-top: -2px;
  padding-left: 30px;
  text-indent: -30px;
}
/* line 497, ../sass/nodes.scss */
.field-name-field-inline-quote-cita .quote {
  color: #fb4c1c;
  font-size: 2em;
  line-height: 0.2em;
  vertical-align: bottom;
}

/* line 504, ../sass/nodes.scss */
.group-quote-desc {
  background: #f1eeec;
  font-size: 0.8em;
  margin-top: 13px;
  overflow: hidden;
  padding: 0 10px;
}
/* line 511, ../sass/nodes.scss */
.group-quote-desc .field {
  float: left;
}
/* line 514, ../sass/nodes.scss */
.group-quote-desc .field-name-field-inline-quote-source-desc {
  color: #999;
}

/*fb comments*/
/* line 521, ../sass/nodes.scss */
.field-name-social-comment-box,
.field-name-social-comment-block {
  margin-bottom: 24px;
}

/**
 * Next Article
 */
/* line 527, ../sass/nodes.scss */
ul.flippy li {
  background-color: false;
  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  background-position: 110px 19px;
  text-indent: -9999em;
  background-color: #f1eeec;
  color: #666;
  font-family: "Stag Web", Georgia, Times, sans-serif;
  line-height: 1.2;
  padding: 10px 20px 8px;
  position: fixed;
  text-indent: 0;
  top: 394px;
  white-space: normal;
  width: 90px;
  z-index: 12;
}
/* line 61, ../sass/_custom.scss */
.svg ul.flippy li {
  background-image: url("../images/arrows.svg");
}
/* line 66, ../sass/_custom.scss */
ul.flippy li:hover {
  background-position: 110px -31px;
}
/* line 541, ../sass/nodes.scss */
ul.flippy li.prev {
  display: none;
}
/* line 544, ../sass/nodes.scss */
ul.flippy li.next {
  right: 0;
}
/* line 547, ../sass/nodes.scss */
ul.flippy li a {
  color: #666;
}
/* line 550, ../sass/nodes.scss */
ul.flippy li:hover {
  background-color: #F8F6F5;
}
/* line 553, ../sass/nodes.scss */
ul.flippy li:hover a {
  color: #888;
}

/**
 * Related News
 */
/* line 563, ../sass/nodes.scss */
.field-name-related-news-topics,
.field-name-related-news-sections {
  clear: both;
  margin-bottom: 24px;
}

/* line 567, ../sass/nodes.scss */
.grid-related {
  clear: both;
  /*ds regions*/
}
/* line 570, ../sass/nodes.scss */
.grid-related .view-header {
  overflow: hidden;
}
/* line 573, ../sass/nodes.scss */
.grid-related .view-content {
  background: #f1eeec;
  border-top: 1px solid #EEE;
  margin-top: 9px;
  overflow: hidden;
  padding: 11px 10px 8px;
}
/* line 580, ../sass/nodes.scss */
.grid-related .views-row {
  float: left;
  width: 290px;
}
/* line 584, ../sass/nodes.scss */
.grid-related .views-row > .node {
  border-top: 1px solid #FFF;
  height: 96px;
  overflow: hidden;
  padding-top: 11px;
}
/* line 594, ../sass/nodes.scss */
.grid-related .views-row-first .node,
.grid-related .views-row-2 .node {
  border-top: none;
  padding-top: 0;
}
/* line 599, ../sass/nodes.scss */
.grid-related .views-row-odd {
  border-right: 1px solid #FFF;
  padding-right: 9px;
}
/* line 603, ../sass/nodes.scss */
.grid-related .views-row-even {
  padding-left: 10px;
}
/* line 608, ../sass/nodes.scss */
.grid-related .group-left {
  position: relative;
  width: 125px;
}
/* line 612, ../sass/nodes.scss */
.grid-related .group-right {
  float: none;
  width: auto;
}

/**
 * Colorbox
 */
/* line 621, ../sass/nodes.scss */
#colorbox {
  background: #000;
  border: 10px solid #000;
  border-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 627, ../sass/nodes.scss */
#cboxTitle {
  background: #000;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  color: #ccc;
  font-size: 0.9em;
  height: auto;
  line-height: 1.2;
  margin: 0 -10px;
  padding: 11px 0 9px;
  width: 100%;
}

/* line 641, ../sass/nodes.scss */
#cboxClose {
  height: 60px;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  top: -60px;
  width: 70px;
  background-color: false;
  background-image: url("../images/close-lightbox.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
}
/* line 61, ../sass/_custom.scss */
.svg #cboxClose {
  background-image: url("../images/close-lightbox.svg");
}
/* line 66, ../sass/_custom.scss */
#cboxClose:hover {
  background-position: 0 0;
}

/**
 * Contact Web Form
 */
/* line 654, ../sass/nodes.scss */
.node-type-webform .group-multimedia {
  background: #f1eeec;
  overflow: hidden;
  padding: 16px 0 17px;
}
/* line 659, ../sass/nodes.scss */
.node-type-webform .group-multimedia h3 {
  margin: 0 0 12px;
}
/* line 664, ../sass/nodes.scss */
.node-type-webform .messages {
  width: 398px;
}
/* line 668, ../sass/nodes.scss */
.node-type-webform .info {
  color: #858585;
  width: 460px;
}
/* line 672, ../sass/nodes.scss */
.node-type-webform .info div {
  margin: 1px 0 12px;
}
/* line 676, ../sass/nodes.scss */
.node-type-webform .info a {
  color: #858585;
  display: inline;
}
/* line 680, ../sass/nodes.scss */
.node-type-webform .info a:hover {
  text-decoration: underline;
}
/* line 683, ../sass/nodes.scss */
.node-type-webform .info a.map {
  background-color: false;
  background-image: url("../images/mapa-contacto.png");
  background-repeat: no-repeat;
  background-position: right 0;
  text-indent: -9999em;
  color: #444;
  padding-right: 20px;
}
/* line 61, ../sass/_custom.scss */
.svg .node-type-webform .info a.map {
  background-image: url("../images/mapa-contacto.svg");
}
/* line 689, ../sass/nodes.scss */
.node-type-webform .info .info-label {
  color: #000;
}

/* line 694, ../sass/nodes.scss */
.webform-client-form {
  float: left;
  width: 460px;
}
/* line 698, ../sass/nodes.scss */
.webform-client-form .form-actions {
  text-align: right;
}

/* line 703, ../sass/nodes.scss */
.group-multimedia .flexslider {
  background: #000;
  position: relative;
  overflow: hidden;
  max-width: 940px;
  height: 627px;
}
/* line 709, ../sass/nodes.scss */
.group-multimedia .flexslider .inner-slider {
  width: 20000em;
  position: absolute;
}
/* line 712, ../sass/nodes.scss */
.group-multimedia .flexslider .inner-slider .view-mode-node.clearfix {
  position: relative;
  float: left;
  max-width: 940px;
  height: 627px;
}
/* line 721, ../sass/nodes.scss */
.group-multimedia a.prev, .group-multimedia a.next {
  position: absolute;
  padding: 20px;
  width: 20px;
  top: 40%;
  background: url(/sites/all/themes/dronix/images/arrows-fotoslanding.svg) no-repeat;
  height: 40px;
}
/* line 729, ../sass/nodes.scss */
.group-multimedia a.next {
  right: 0;
  background-position: -41px 22px;
}
/* line 733, ../sass/nodes.scss */
.group-multimedia a.prev {
  left: 0;
  background-position: 17px 22px;
}
/* line 737, ../sass/nodes.scss */
.group-multimedia .view-caption, .group-multimedia .close-caption {
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99999;
  cursor: pointer;
}
/* line 748, ../sass/nodes.scss */
.group-multimedia .view-caption {
  background: url("../images/icon-up.png") no-repeat center center;
}
/* line 751, ../sass/nodes.scss */
.group-multimedia .close-caption {
  background: url("../images/icon-down.png") no-repeat center center;
}
