/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  background: #222;
  color: #525252;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/pages.scss */
#page {
  background: #FFF;
}

/*
 * Back to top
 */
/* line 30, ../sass/pages.scss */
#backtotop {
  background-color: false;
  background-image: url("../images/go-to-top.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  bottom: 0;
  height: 54px;
  width: 56px;
  z-index: 15;
}
/* line 61, ../sass/_custom.scss */
.svg #backtotop {
  background-image: url("../images/go-to-top.svg");
}
/* line 66, ../sass/_custom.scss */
#backtotop:hover {
  background-position: -85px 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 43, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 47, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 61, ../sass/pages.scss */
#preheader,
#footer-ad {
  overflow: hidden;
}

/* line 68, ../sass/pages.scss */
.header-region {
  background-color: #222;
  color: #EEE;
  height: 60px;
}
/* line 73, ../sass/pages.scss */
.header-region .header-wrapper {
  margin: 0 auto;
  width: 940px;
}
/* line 78, ../sass/pages.scss */
.header-region .social {
  border-left: 1px solid #373737;
  border-right: 1px solid #1C1C1C;
  margin: 15px 0;
  padding: 3px 10px;
}
/* line 88, ../sass/pages.scss */
.header-region .date,
.header-region .onix_search_box {
  float: right;
}
/* line 92, ../sass/pages.scss */
.header-region .date {
  border-right: 1px solid #1C1C1C;
  font-size: 0.8em;
  line-height: 30px;
  margin: 15px 0;
  padding: 0 15px;
  text-transform: uppercase;
}
/* line 101, ../sass/pages.scss */
.header-region a {
  color: #EEE;
}

/* line 106, ../sass/pages.scss */
.logo h1 {
  line-height: 0;
  margin: 0;
}

/* line 111, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  background-color: false;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: false;
  text-indent: -9999em;
  float: left;
  /* LTR */
  height: 50px;
  margin: 5px 10px;
  padding: 0;
  width: 66px;
}
/* line 61, ../sass/_custom.scss */
.svg #logo {
  background-image: url("../images/logo.svg");
}
/* line 119, ../sass/pages.scss */
footer #logo {
  margin: 0px;
}
/* line 123, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/*  Search  */
/* line 129, ../sass/pages.scss */
.header-region .onix_search_box {
  border-left: 1px solid #373737;
  height: 30px;
  margin: 15px 0;
  overflow: hidden;
  padding-left: 15px;
  position: relative;
  width: 30px;
  -webkit-transition: width 0.5s ease-in-out;
  -webkit-transition-delay: 1.5s;
  -moz-transition: width 0.5s ease-in-out 1.5s;
  -o-transition: width 0.5s ease-in-out 1.5s;
  transition: width 0.5s ease-in-out 1.5s;
}
/* line 139, ../sass/pages.scss */
.header-region .onix_search_box .form-item {
  margin: 0;
}
/* line 143, ../sass/pages.scss */
.header-region .onix_search_box:hover {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 224px;
}
/* line 147, ../sass/pages.scss */
.header-region .onix_search_box:hover input[type="submit"] {
  background-color: #EEE;
  background-position: -59px 7px;
  -webkit-transition-property: background-color, background-position;
  -moz-transition-property: background-color, background-position;
  -o-transition-property: background-color, background-position;
  transition-property: background-color, background-position;
  -webkit-transition-duration: 0.5s, 0s;
  -moz-transition-duration: 0.5s, 0s;
  -o-transition-duration: 0.5s, 0s;
  transition-duration: 0.5s, 0s;
  -webkit-transition-timing-function: ease-in-out, linear;
  -moz-transition-timing-function: ease-in-out, linear;
  -o-transition-timing-function: ease-in-out, linear;
  transition-timing-function: ease-in-out, linear;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
/* line 157, ../sass/pages.scss */
.header-region .onix_search_box input {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
/* line 163, ../sass/pages.scss */
.header-region .onix_search_box input[type="text"] {
  background-color: #555;
  border: none;
  color: #FFF;
  font-size: 0.8em;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  width: 183px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 175, ../sass/pages.scss */
.header-region .onix_search_box input[type="submit"] {
  background-color: false;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  text-indent: -9999em;
  background-color: #222;
  height: 30px;
  min-width: 0;
  padding-left: 30px;
  right: 0;
  width: 30px;
  -webkit-transition-property: background-color, background-position;
  -moz-transition-property: background-color, background-position;
  -o-transition-property: background-color, background-position;
  transition-property: background-color, background-position;
  -webkit-transition-duration: 0.5s, 0s;
  -moz-transition-duration: 0.5s, 0s;
  -o-transition-duration: 0.5s, 0s;
  transition-duration: 0.5s, 0s;
  -webkit-transition-timing-function: ease-in-out, linear;
  -moz-transition-timing-function: ease-in-out, linear;
  -o-transition-timing-function: ease-in-out, linear;
  transition-timing-function: ease-in-out, linear;
  -webkit-transition-delay: 1.5s, 1.5s;
  -moz-transition-delay: 1.5s, 1.5s;
  -o-transition-delay: 1.5s, 1.5s;
  transition-delay: 1.5s, 1.5s;
}
/* line 61, ../sass/_custom.scss */
.svg .header-region .onix_search_box input[type="submit"] {
  background-image: url("../images/search.svg");
}

/* line 191, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 195, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 201, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 207, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 212, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 217, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 224, ../sass/pages.scss */
#article_top {
  padding: 5px 0;
}

/*
 * Content
 */
/* line 235, ../sass/pages.scss */
.context-web-nodeentry #precontent {
  border-bottom: 2px solid #DDD;
}

/* line 246, ../sass/pages.scss */
#article_top,
#highlighted,
#special,
#multimedia {
  background: #333;
  clear: both;
  overflow: hidden;
  position: relative;
}

/* line 254, ../sass/pages.scss */
.voices-section #highlighted {
  background: #f1eeec;
  height: 264px;
}
/* line 259, ../sass/pages.scss */
.search #highlighted {
  background: none;
}
/* line 262, ../sass/pages.scss */
.search #highlighted .inner-940 {
  padding: 0;
  width: 100%;
}

/* line 268, ../sass/pages.scss */
.content-container {
  margin: 24px 0;
  overflow: hidden;
}
/* line 274, ../sass/pages.scss */
.context-web-nodeentry .content-container, .context-web-custompage .content-container, .node-type-page .content-container {
  margin: 0;
}

/* line 278, ../sass/pages.scss */
#special {
  height: 408px;
}

/* line 284, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 285, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 289, ../sass/pages.scss */
.breadcrumb li {
  color: #444;
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}
/* line 297, ../sass/pages.scss */
.lt-ie8 .breadcrumb li {
  display: inline;
}
/* line 301, ../sass/pages.scss */
.breadcrumb li + li {
  color: #fb4c1c;
  margin-left: 8px;
}
/* line 305, ../sass/pages.scss */
.breadcrumb li + li a {
  color: #fb4c1c;
}
/* line 309, ../sass/pages.scss */
.breadcrumb li a {
  color: #444;
  display: inline;
}

/* line 321, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/**
 * headings
 */
/* line 328, ../sass/pages.scss */
h1 {
  margin: 7px 0 12px;
}
/* line 331, ../sass/pages.scss */
h1.node-title {
  float: left;
  font: normal 400 3.4em/0.94 "Stag Web", Georgia, Times, sans-serif;
  margin: 12px 0;
  width: 100%;
}
/* line 337, ../sass/pages.scss */
.error-404 h1 {
  color: #fb4c1c;
  text-transform: uppercase;
}
/* line 344, ../sass/pages.scss */
.mosaic h1.title-highlight {
  color: #FFF;
  font: 400 2.8em/1.15 "Stag Web", Georgia, Times, sans-serif;
  margin: 0 10px 3px;
  text-shadow: 0 0 3px black;
}
/* line 350, ../sass/pages.scss */
.mosaic h1.title-highlight a {
  color: #FFF;
}
/* line 355, ../sass/pages.scss */
.node-webform .group-header h1 {
  text-transform: uppercase;
}

/* line 360, ../sass/pages.scss */
h2 {
  /*section title*/
  /*title highlight - mosaic*/
  /*title teaser*/
  /*poll*/
  /*title teaser multimedia*/
  /*opinion top*/
}
/* line 362, ../sass/pages.scss */
h2.section-title {
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-weight: bold;
  margin: 7px 0 12px;
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1.77778em;
}
/* line 375, ../sass/pages.scss */
.mosaic h2.title-highlight, .special h2.title-highlight {
  color: #FFF;
  line-height: 1.25;
  margin: 0 10px -5px;
  text-shadow: 0 0 3px black;
}
/* line 381, ../sass/pages.scss */
.mosaic h2.title-highlight a, .special h2.title-highlight a {
  color: #FFF;
}
/* line 388, ../sass/pages.scss */
h2.title-teaser {
  clear: both;
  font-size: 2em;
  line-height: 1;
  margin: 1px 0 20px;
}
/* line 394, ../sass/pages.scss */
h2.title-teaser a:hover {
  color: #666;
}
/* line 398, ../sass/pages.scss */
.view-search h2.title-teaser {
  font-size: 1.4em;
  line-height: 1.155;
  margin: 11px 0 7px;
}
/* line 405, ../sass/pages.scss */
.poll h2 {
  color: #00A3D8;
  font-size: 1.5em;
  margin: 13px 0 12px;
}
/* line 412, ../sass/pages.scss */
h2.title-teaser-multimedia {
  color: #EEE;
  float: left;
  font-size: 1.2em;
  line-height: 1;
  margin: 10px;
}
/* line 419, ../sass/pages.scss */
h2.title-teaser-multimedia a {
  color: #EEE;
}
/* line 424, ../sass/pages.scss */
.opinion-top h2 {
  font: italic bold 1.2em/1 Verdana, Tahoma, "DejaVu Sans", sans-serif;
  margin: 1px 0 12px;
  width: 90%;
}
/* line 429, ../sass/pages.scss */
.opinion-top h2 a:hover {
  text-decoration: underline;
}
/* line 433, ../sass/pages.scss */
.opinion-author h2 {
  clear: both;
  float: left;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.55;
  margin: 0;
}

/* line 444, ../sass/pages.scss */
h3 {
  /*block latest*/
  /*block opinion*/
}
/* line 447, ../sass/pages.scss */
.latest h3 {
  color: #FFF;
  font-size: 1.4em;
  line-height: 1.15;
  margin: 0 12px 1px;
}
/* line 453, ../sass/pages.scss */
.latest h3 a {
  color: #FFF;
}
/* line 459, ../sass/pages.scss */
.opinion h3 {
  color: #fb4c1c;
  line-height: 1;
  margin: 0;
}
/* line 464, ../sass/pages.scss */
.opinion h3 a {
  color: #fb4c1c;
}
/* line 467, ../sass/pages.scss */
.opinion h3 a:hover {
  text-decoration: underline;
}
/* line 472, ../sass/pages.scss */
.full-opinion h3 {
  max-width: 75%;
}
/* line 475, ../sass/pages.scss */
.opinion-top h3 {
  font-size: 1em;
  line-height: 1.6;
}
/* line 479, ../sass/pages.scss */
.opinion-top h3:hover {
  color: #000;
}
/* line 484, ../sass/pages.scss */
.grid-related h3 {
  color: #333;
  line-height: 1;
  margin: 2px 0 0;
}
/* line 489, ../sass/pages.scss */
.grid-related h3 a {
  color: #333;
}
/* line 492, ../sass/pages.scss */
.grid-related h3 a:hover {
  color: #666;
}
/* line 497, ../sass/pages.scss */
.grid-related h3.title-teaser {
  font-size: 1em;
}
/* line 501, ../sass/pages.scss */
.grid-related .view-header h3 {
  background-color: false;
  background-image: url("../images/arrow-related-news.png");
  background-repeat: no-repeat;
  background-position: right 8px;
  text-indent: -9999em;
  float: left;
  line-height: 1.2;
  margin: 0;
  padding-right: 10px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .grid-related .view-header h3 {
  background-image: url("../images/arrow-related-news.svg");
}
/* line 66, ../sass/_custom.scss */
.grid-related .view-header h3:hover {
  background-position: right -101px;
}
/* line 509, ../sass/pages.scss */
.grid-related .view-header h3:hover {
  color: #666;
}
/* line 513, ../sass/pages.scss */
.top-carousel h3 {
  color: #FFF;
  line-height: 1;
  margin: 0;
  text-align: left;
  text-shadow: 0 0 3px black;
}
/* line 520, ../sass/pages.scss */
.top-carousel h3 a {
  color: #FFF;
}

/*block-title*/
/* line 526, ../sass/pages.scss */
h4 {
  /*mosaic*/
  /*mosaic multimedia - front page*/
  /*sidebar*/
  /*full opinion - front page*/
  /*poll - front page*/
  /*newsletter*/
  /*list search*/
  /*sports results*/
}
/* line 530, ../sass/pages.scss */
.mosaic-multimedia h4, .mosaic-special h4 {
  left: 0;
  top: 0;
  z-index: 2;
}
/* line 536, ../sass/pages.scss */
.mosaic-multimedia h4 {
  background: #540072;
}
/* line 541, ../sass/pages.scss */
.sidebar h4, .page-node .group-right h4 {
  /*left: -10px;*/
}
/* line 545, ../sass/pages.scss */
.block.full-opinion h4 {
  margin-left: 10px;
}
/* line 549, ../sass/pages.scss */
.poll h4 {
  background: #333;
  left: 0;
}
/* line 554, ../sass/pages.scss */
.newsletter h4 {
  background: none;
  color: #333;
  font-size: 1.4em;
  font-weight: bold;
  height: auto;
  line-height: 85px;
  position: relative;
  text-transform: none;
}
/* line 567, ../sass/pages.scss */
.block-facetapi h4 {
  background: none;
  border-bottom: 1px solid #EEE;
  color: #444;
  float: none;
  font: normal 1.4em/1 "Stag Web", Georgia, Times, sans-serif;
  height: auto;
  left: 0;
  margin: 24px 0 11px;
  padding: 0 0 21px;
  position: static;
  text-transform: none;
}
/* line 581, ../sass/pages.scss */
.sport-tabs h4 {
  background: #40b29d;
  color: #FFF;
  float: none;
  position: static;
}

/* line 589, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 593, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 597, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-position: 8px 3px;
  margin: 1.1em 0;
  /* Drupal core uses "6px 0" margin */
  text-indent: 0 !important;
}
/* line 603, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 609, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
  background-color: false;
  background-image: url("../images/drupal-exito.png");
  background-repeat: no-repeat;
  background-position: false;
  text-indent: -9999em;
}
/* line 61, ../sass/_custom.scss */
.svg div.status {
  background-image: url("../images/drupal-exito.svg");
}

/* line 614, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
  background-color: false;
  background-image: url("../images/drupal-warning.png");
  background-repeat: no-repeat;
  background-position: false;
  text-indent: -9999em;
}
/* line 61, ../sass/_custom.scss */
.svg div.warning, .svg
tr.warning {
  background-image: url("../images/drupal-warning.svg");
}

/* line 620, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
  background-color: false;
  background-image: url("../images/drupal-error.png");
  background-repeat: no-repeat;
  background-position: false;
  text-indent: -9999em;
}
/* line 61, ../sass/_custom.scss */
.svg div.error, .svg
tr.error {
  background-image: url("../images/drupal-error.svg");
}

/* line 624, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 628, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 632, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 635, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 638, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 641, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 644, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 648, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 654, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 659, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  background: #f1eeec;
  color: #333;
  float: left;
  font-size: 0.8em;
  height: 36px;
  line-height: 36px;
  margin-top: 24px !important;
  overflow: hidden;
  padding: 0 36px !important;
  position: relative;
  width: 548px;
}
/* line 672, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  border-left: 1px solid #E5E3E3;
  border-right: 1px solid #FFF;
  color: #BBB;
  display: inline-block;
  font-weight: normal;
  height: 100%;
  margin-right: -4px !important;
  padding: 0 14px !important;
  vertical-align: top !important;
}
/* line 683, ../sass/pages.scss */
.item-list .pager li a {
  color: #BBB;
  padding: 0 14px;
  min-width: 10px;
}
/* line 688, ../sass/pages.scss */
.item-list .pager li a:hover {
  color: #666;
}
/* line 693, ../sass/pages.scss */
.lt-ie8 .item-list .pager li {
  display: inline;
  margin-right: 0 !important;
}
/* line 698, ../sass/pages.scss */
.item-list .pager li.active {
  padding: 0 !important;
}
/* line 701, ../sass/pages.scss */
.item-list .pager li.pager-current {
  color: #333;
  font-weight: bold;
}
/* line 705, ../sass/pages.scss */
.item-list .pager li.first {
  border-left: none;
}
/* line 708, ../sass/pages.scss */
.item-list .pager li.last {
  border-right: none;
}
/* line 712, ../sass/pages.scss */
.item-list .pager li.pager-previous,
.item-list .pager li.pager-next {
  background-color: false;
  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  background-position: -276px -93px;
  text-indent: -9999em;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  width: 36px;
}
/* line 61, ../sass/_custom.scss */
.svg .item-list .pager li.pager-previous, .svg
.item-list .pager li.pager-next {
  background-image: url("../images/arrows.svg");
}
/* line 720, ../sass/pages.scss */
.item-list .pager li.pager-previous a,
.item-list .pager li.pager-next a {
  padding: 0;
}
/* line 724, ../sass/pages.scss */
.item-list .pager li.pager-previous {
  left: 0;
}
/* line 727, ../sass/pages.scss */
.item-list .pager li.pager-previous.active {
  background-position: -276px 7px;
}
/* line 79, ../sass/_custom.scss */
.item-list .pager li.pager-previous.active:hover {
  background-position: -276px -43px;
}
/* line 731, ../sass/pages.scss */
.item-list .pager li.pager-next {
  background-position: -325px -93px;
  right: 0;
}
/* line 735, ../sass/pages.scss */
.item-list .pager li.pager-next.active {
  background-position: -325px 7px;
}
/* line 79, ../sass/_custom.scss */
.item-list .pager li.pager-next.active:hover {
  background-position: -325px -43px;
}
/* line 739, ../sass/pages.scss */
.item-list .pager li:nth-child(2) {
  border-left: none;
}
/* line 742, ../sass/pages.scss */
.item-list .pager li:nth-last-child(2) {
  border-right: none;
}

/* line 748, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 751, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Pre Footer
 */
/* line 778, ../sass/pages.scss */
#prefooter {
  overflow: hidden;
}

/*
 * Footer
 */
/* line 784, ../sass/pages.scss */
#footer {
  background: #222;
  overflow: hidden;
  padding-top: 24px;
}
/* line 789, ../sass/pages.scss */
#footer .onix_search_box {
  clear: both;
  float: left;
  margin-top: 12px;
  width: 385px;
}
/* line 795, ../sass/pages.scss */
#footer .onix_search_box .form-item {
  float: left;
  margin: 0;
  width: 312px;
  /*ie fix*/
}
/* line 800, ../sass/pages.scss */
#footer .onix_search_box .form-item input[type="text"] {
  width: 300px;
}
/* line 804, ../sass/pages.scss */
#footer .onix_search_box input[type="submit"] {
  border-color: #444;
}
/* line 809, ../sass/pages.scss */
#footer .logo {
  float: left;
  margin-bottom: 22px;
}
/* line 814, ../sass/pages.scss */
#footer #main-menu {
  float: left;
  margin-top: 36px;
  width: 100%;
}
/* line 819, ../sass/pages.scss */
#footer #main-menu li {
  float: left;
  width: 130px;
}
/* line 823, ../sass/pages.scss */
#footer #main-menu li a {
  color: #FFF;
  text-transform: capitalize;
}
/* line 827, ../sass/pages.scss */
#footer #main-menu li a:hover {
  text-decoration: underline;
}
/* line 833, ../sass/pages.scss */
#footer .rights {
  color: #FFFFFF;
  display: block;
  float: right;
  font-size: 0.8em;
  line-height: 1.1;
  margin-top: 48px;
}
/* line 841, ../sass/pages.scss */
#footer .internal-pages {
  float: left;
  list-style: none;
  line-height: 1.1;
  margin-top: 48px;
}
/* line 847, ../sass/pages.scss */
#footer .internal-pages li {
  border-right: 1px solid #444;
  float: left;
}
/* line 851, ../sass/pages.scss */
#footer .internal-pages li a {
  color: #fff;
  font-size: 0.8em;
  padding: 0 15px;
}
/* line 856, ../sass/pages.scss */
#footer .internal-pages li a:hover {
  text-decoration: underline;
}
/* line 862, ../sass/pages.scss */
#footer .internal-pages li.first a {
  padding-left: 0;
}
/* line 867, ../sass/pages.scss */
#footer .internal-pages li.last {
  border: none;
}

/*
 * Page bottom
 */
/* line 879, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/**
 * Flat Pages
 */
/* line 884, ../sass/pages.scss */
.top-container {
  color: #777;
}
/* line 887, ../sass/pages.scss */
.anunciate .top-container {
  padding-top: 42px;
}
/* line 891, ../sass/pages.scss */
.top-container h2 {
  font-size: 4.6em;
  line-height: 0.9;
  margin: 12px 0 15px;
}
/* line 896, ../sass/pages.scss */
.top-container p {
  margin: 0;
}
/* line 899, ../sass/pages.scss */
.top-container .text {
  margin-top: 73px;
  width: 400px;
}

/* line 904, ../sass/pages.scss */
.bottom-container {
  background: #f1eeec;
  clear: both;
  color: #777;
  margin-top: 48px;
  overflow: hidden;
  padding: 33px 0;
}
/* line 912, ../sass/pages.scss */
.bottom-container h3 {
  background-color: false;
  background-image: url("../images/bullets.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  text-indent: -9999em;
  color: #555;
  float: left;
  font-size: 1.8em;
  margin: 0;
  padding-left: 15px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .bottom-container h3 {
  background-image: url("../images/bullets.svg");
}
/* line 921, ../sass/pages.scss */
.bottom-container h3.first.last {
  background: none;
  padding-left: 0;
}
/* line 926, ../sass/pages.scss */
.bottom-container a {
  color: #777;
  float: left;
  font-size: 1.1em;
  line-height: 26px;
  margin: 8px 0 0 46px;
}
/* line 933, ../sass/pages.scss */
.bottom-container a:hover {
  text-decoration: underline;
}
/* line 937, ../sass/pages.scss */
.bottom-container .wrapper {
  height: 120px;
  width: 460px;
}
/* line 941, ../sass/pages.scss */
.bottom-container .wrapper p {
  clear: both;
  line-height: 1.2;
  margin-top: 12px;
}
/* line 946, ../sass/pages.scss */
.bottom-container .wrapper p a {
  color: #000;
  display: inline;
  float: none;
  font-size: 1em;
  font-weight: bold;
  line-height: inherit;
  margin: 0;
}

/*anunciate*/
/* line 959, ../sass/pages.scss */
.bg-anunciate {
  background: url("../images/anunciate-devices.png");
  float: left;
  height: 432px;
  width: 50%;
}

/* line 966, ../sass/pages.scss */
.info-anunciate a {
  background-color: false;
  background-image: url("../images/info-contact.png");
  background-repeat: no-repeat;
  background-position: 0 1px;
  text-indent: -9999em;
  padding-left: 40px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .info-anunciate a {
  background-image: url("../images/info-contact.svg");
}
/* line 971, ../sass/pages.scss */
.info-anunciate a.phone {
  background-position: 0 -74px;
  text-decoration: none;
}

/**
 * ads
 */
/* line 981, ../sass/pages.scss */
.ad.ad-300 {
  margin-bottom: 1px;
}

/**
 * flush caches
 */
/* line 988, ../sass/pages.scss */
a.rules-link {
  background-color: false;
  background-image: url("../images/flush-cache.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999em;
  height: 25px;
  position: fixed;
  top: 65px;
  right: 10px;
  width: 122px;
  z-index: 200;
}
/* line 61, ../sass/_custom.scss */
.svg a.rules-link {
  background-image: url("../images/flush-cache.svg");
}
/* line 66, ../sass/_custom.scss */
a.rules-link:hover {
  background-position: 0 -64px;
}
