/* CSS Gero */
@font-face {
  font-family: 'Stag Web';
  src: url("../fonts/Stag-Book-Web.eot");
  src: url("../fonts/Stag-Book-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-Book-Web.woff") format("woff"), url("../fonts/Stag-Book-Web.ttf") format("truetype"), url("../fonts/Stag-Book-Web.svg#Stag Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Stag Web';
  src: url("../fonts/Stag-BookItalic-Web.eot");
  src: url("../fonts/Stag-BookItalic-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-BookItalic-Web.woff") format("woff"), url("../fonts/Stag-BookItalic-Web.ttf") format("truetype"), url("../fonts/Stag-BookItalic-Web.svg#Stag Web") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Stag Web';
  src: url("../fonts/Stag-Medium-Web.eot");
  src: url("../fonts/Stag-Medium-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-Medium-Web.woff") format("woff"), url("../fonts/Stag-Medium-Web.ttf") format("truetype"), url("../fonts/Stag-Medium-Web.svg#Stag Web") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Stag Web';
  src: url("../fonts/Stag-MediumItalic-Web.eot");
  src: url("../fonts/Stag-MediumItalic-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-MediumItalic-Web.woff") format("woff"), url("../fonts/Stag-MediumItalic-Web.ttf") format("truetype"), url("../fonts/Stag-MediumItalic-Web.svg#Stag Web") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

#mundial {
  background: url("/sites/all/themes/dronix/images/bg_header.png") no-repeat scroll 0 0 #6fad00;
  background-position: center 0px;
}
#mundial #block-views-frontpage-mundial-block-14 {
  overflow: hidden;
}
#mundial .view-id-frontpage_mundial, #mundial .view-id-frontpage_mundial_media {
  overflow: hidden;
}
#mundial .view-id-frontpage_mundial .view-content, #mundial .view-id-frontpage_mundial_media .view-content {
  overflow: hidden;
}
#mundial .view-id-frontpage_mundial .views-row, #mundial .view-id-frontpage_mundial_media .views-row {
  float: left;
  position: relative;
}
#mundial .view-id-frontpage_mundial .views-row .ds-content-region, #mundial .view-id-frontpage_mundial_media .views-row .ds-content-region {
  height: 100%;
  overflow: hidden;
}
#mundial .view-id-frontpage_mundial .views-row .ds-content-region .field-name-social-share, #mundial .view-id-frontpage_mundial_media .views-row .ds-content-region .field-name-social-share {
  right: 0px;
  top: 0;
  position: absolute;
}
#mundial .view-id-frontpage_mundial .views-row .ds-content-region .field-name-mask, #mundial .view-id-frontpage_mundial_media .views-row .ds-content-region .field-name-mask {
  background: rgba(253, 254, 10, 0.3);
}
#mundial .view-id-frontpage_mundial .views-row .ds-below-region, #mundial .view-id-frontpage_mundial_media .views-row .ds-below-region {
  position: absolute;
  bottom: 16px;
}
#mundial .view-id-frontpage_mundial .views-row .ds-below-region h1, #mundial .view-id-frontpage_mundial_media .views-row .ds-below-region h1 {
  margin: 0 10px 3px;
  text-shadow: 0 0 3px #000000;
  font-family: "Stag Web";
  font-weight: 400;
  font-size: 1.8em;
}
#mundial .view-id-frontpage_mundial .views-row .ds-below-region h1 a, #mundial .view-id-frontpage_mundial_media .views-row .ds-below-region h1 a {
  color: #fff;
  line-height: 25px;
}
#mundial .view-id-frontpage_mundial .views-row .ds-below-region h2, #mundial .view-id-frontpage_mundial_media .views-row .ds-below-region h2 {
  margin: 0 10px 3px;
  font-family: "Stag Web";
  font-weight: 400;
  font-size: 1.8em;
  /*font-weight:700;*/
  text-shadow: 0 0 3px #000000;
}
#mundial .view-id-frontpage_mundial .views-row .ds-below-region h2 a, #mundial .view-id-frontpage_mundial_media .views-row .ds-below-region h2 a {
  color: #fff;
}
#mundial .view-id-frontpage_mundial .view-mode-full_highligth, #mundial .view-id-frontpage_mundial_media .view-mode-full_highligth {
  width: 634px;
  height: 442px;
}
#mundial .view-id-frontpage_mundial .view-mode-full_medium_box, #mundial .view-id-frontpage_mundial_media .view-mode-full_medium_box {
  width: 300px;
  height: 250px;
}
#mundial .view-id-frontpage_mundial .view-mode-small_highlight, #mundial .view-id-frontpage_mundial_media .view-mode-small_highlight {
  width: 300px;
  height: 186px;
}
#mundial .view-id-frontpage_mundial .views-row-1, #mundial .view-id-frontpage_mundial_media .views-row-1 {
  margin: 0px 6px 0 0;
}
#mundial .view-id-frontpage_mundial .views-row-2, #mundial .view-id-frontpage_mundial_media .views-row-2 {
  margin: 0;
}
#mundial .view-id-frontpage_mundial .views-row-2 img, #mundial .view-id-frontpage_mundial_media .views-row-2 img {
  height: 250px;
}
#mundial .view-id-frontpage_mundial .views-row-3, #mundial .view-id-frontpage_mundial_media .views-row-3 {
  margin: 6px 0px 0;
}

.region-sidebar-first-middle {
  width: 634px;
  float: left;
}
.region-sidebar-first-middle #block-views-frontpage-mundial-block-15, .region-sidebar-first-middle #block-views-frontpage-mundial-block-23, .region-sidebar-first-middle #block-views-3da66661b0ea31f4e51da03d5b404e1b {
  width: 634px;
}
.region-sidebar-first-middle .views-row {
  float: left;
  height: 488px;
  width: 270px;
  padding: 15px 20px 12px;
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
  position: relative;
}
.region-sidebar-first-middle .views-row article, .region-sidebar-first-middle .views-row .view-mode-teaser_grid {
  overflow: hidden;
}
.region-sidebar-first-middle .views-row article {
  height: 100%;
}
.region-sidebar-first-middle .views-row article .ds-bottom-region {
  background: url("../images/gradients/txt-degradado-white.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 54px 20px 23px;
  width: 100%;
}
.region-sidebar-first-middle .views-row article .ds-bottom-region .field-name-social-share {
  position: absolute;
}
.region-sidebar-first-middle .views-row article .ds-bottom-region .field-name-social-counts-box {
  position: absolute;
  left: 64px;
}
.region-sidebar-first-middle .views-row-2 {
  background: none repeat scroll 0 0 #FBFAF9;
}
.region-sidebar-first-middle .views-row-2 article {
  height: 100%;
}
.region-sidebar-first-middle .views-row-2 article .ds-bottom-region {
  background: url("../images/gradients/txt-degradado-gray.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}

.region-sidebar-second-middle {
  width: 300px;
  float: right;
  margin-top: 10px;
}

#block-views-frontpage-mundial-block-30 {
  background-color: #48A822;
}
#block-views-frontpage-mundial-block-30 .field-name-section-label {
  position: absolute;
  top: 0;
  background-color: #000;
}
#block-views-frontpage-mundial-block-30 .views-row-2, #block-views-frontpage-mundial-block-30 .views-row-3 {
  background-color: #2A2A2A;
  margin-top: 10px;
}

.inline-element-encuentro {
  font-family: "Electrolize", sans-serif;
  font-size: 100%;
  overflow: hidden;
  background: url("/sites/all/themes/soy502zen/img/bg_match.png") no-repeat center 30px;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  max-width: 540px;
}
.inline-element-encuentro .field-name-field-torneo-deporte {
  width: 48%;
  text-align: left;
  float: left;
  padding: 0 1%;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
.inline-element-encuentro .field-name-field-fase {
  width: 48%;
  text-align: right;
  float: left;
  padding: 0 1%;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
.inline-element-encuentro .field-name-field-estadio {
  width: 48%;
  text-align: left;
  float: left;
  padding: 0 1%;
  border-top: 1px solid #d6d6d6;
  margin-top: 25px;
}
.inline-element-encuentro .field-name-field-fecha {
  width: 48%;
  text-align: right;
  float: left;
  padding: 0 1%;
  border-top: 1px solid #d6d6d6;
  margin-top: 25px;
}
.inline-element-encuentro .field-name-field-equipo-local {
  width: 35%;
  float: left;
}
.inline-element-encuentro .field-name-field-equipo-local .field-name-field-escudo {
  text-align: center;
}
.inline-element-encuentro .field-name-field-equipo-local .field-name-field-escudo img {
  float: none;
}
.inline-element-encuentro .field-name-field-equipo-local .field-name-title {
  text-align: center;
  width: 100%;
  clear: left;
}
.inline-element-encuentro .field-name-field-marcador-local {
  float: left;
  font-size: 40px;
  margin: 0 auto;
  padding-top: 12px;
  text-align: center;
  width: 30%;
}
.inline-element-encuentro .field-name-field-equipo-visitante {
  width: 35%;
  float: right;
}
.inline-element-encuentro .field-name-field-equipo-visitante .field-name-field-escudo {
  text-align: center;
}
.inline-element-encuentro .field-name-field-equipo-visitante .field-name-field-escudo img {
  float: none;
}
.inline-element-encuentro .field-name-field-equipo-visitante .field-name-title {
  text-align: center;
  width: 100%;
  clear: right;
}

#epl_impact_div, #epl_impact_div2 {
  padding: 5px;
  height: 0px;
  overflow: visible;
}

#block-views-ad-views-for-articles-block-5 {
  clear: none !important;
  z-index: 9;
  overflow: visible;
}

#epl_impact_div, #epl_impact_div2, #block-views-ad-views-block-8, #block-block-72 {
  width: 160px;
  clear: none !important;
  z-index: 9;
  overflow: visible;
  height: 0px;
}

#epl_impact_div2 {
  float: left;
  margin-left: -170px;
}

#epl_impact_div {
  float: right;
  margin-right: -170px;
}

#block-views-section-section-highlight {
  clear: none !important;
  overflow: visible;
}

.group-multimedia .inner-940 {
  padding: 0 !important;
}

#region-highlighted {
  overflow: hidden;
}

#highlighted {
  overflow: visible !important;
}
#highlighted .inner-940 {
  width: 940px;
  padding: 0;
}

.icon-embed {
  background-image: url("../images/embed_icon.svg") !important;
}

.field-name-field-match {
  clear: both;
}

.menu-match-track {
  clear: both;
  height: 200px !important;
  overflow: hidden;
}
.menu-match-track .inline-element-encuentro {
  font-family: "Electrolize", sans-serif;
  font-size: 100%;
  overflow: hidden;
  background: url("/sites/all/themes/soy502zen/img/bg_match.png") no-repeat center 30px;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  max-width: 300px;
}
.menu-match-track .inline-element-encuentro .field-name-field-torneo-deporte {
  width: 48%;
  text-align: left;
  float: left;
  padding: 0 1%;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
.menu-match-track .inline-element-encuentro .field-name-field-fase {
  width: 48%;
  text-align: right;
  float: left;
  padding: 0 1%;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
.menu-match-track .inline-element-encuentro .field-name-field-estadio {
  width: 48%;
  text-align: left;
  float: left;
  padding: 0 1%;
  border-top: 1px solid #d6d6d6;
  margin-top: 25px;
}
.menu-match-track .inline-element-encuentro .field-name-field-fecha {
  width: 48%;
  text-align: right;
  float: left;
  padding: 0 1%;
  border-top: 1px solid #d6d6d6;
  margin-top: 25px;
}
.menu-match-track .inline-element-encuentro .field-name-field-equipo-local {
  width: 35%;
  float: left;
}
.menu-match-track .inline-element-encuentro .field-name-field-equipo-local .field-name-field-escudo {
  text-align: center;
}
.menu-match-track .inline-element-encuentro .field-name-field-equipo-local .field-name-field-escudo img {
  float: none;
}
.menu-match-track .inline-element-encuentro .field-name-field-equipo-local .field-name-title {
  text-align: center;
  width: 100%;
  clear: left;
}
.menu-match-track .inline-element-encuentro .field-name-field-marcador-local {
  float: left;
  font-size: 40px;
  margin: 0 auto;
  padding-top: 12px;
  text-align: center;
  width: 30%;
}
.menu-match-track .inline-element-encuentro .field-name-field-equipo-visitante {
  width: 35%;
  float: right;
}
.menu-match-track .inline-element-encuentro .field-name-field-equipo-visitante .field-name-field-escudo {
  text-align: center;
}
.menu-match-track .inline-element-encuentro .field-name-field-equipo-visitante .field-name-title {
  text-align: center;
  width: 100%;
  clear: right;
}

#block-block-18, #block-block-16, #block-block-45, #block-block-54 {
  height: 0 !important;
  display: none;
}

.inner-940 {
  padding: 0 !important;
}

/**/
.fb_fp_like {
  background: #eaecf1;
  border-color: 1px solid #758abb;
  width: 98%;
  margin: 3px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  padding: 1%;
}
.fb_fp_like .fb-like {
  width: 96px !important;
  float: right;
}
.fb_fp_like p {
  padding: 3px;
}

.view-display-id-section_highlight .node-reportajes .field-name-title h2, .view-display-id-section_highlight .node-reportajes .field-name-title h2 {
  padding: 10px;
  color: #fff !important;
  font: 400 2.8em/1.15 "Stag Web", Georgia, Times, sans-serif;
  text-shadow: 0 0 3px black;
}

.block-match-liga-nacional .inline-element-encuentro {
  font-family: "Electrolize", sans-serif;
  font-size: 100%;
  overflow: hidden;
  /* background:url("/sites/all/themes/soy502zen/img/bg_match.png") no-repeat center 0px; */
  border: 1px solid #d2d2d2;
  background-image: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  max-width: 540px;
  background-size: contain;
  font-size: 12px;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-torneo-deporte {
  width: 48%;
  text-align: left;
  float: left;
  padding: 0 1%;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-fase {
  width: 48%;
  text-align: right;
  float: left;
  padding: 0 1%;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-estadio {
  width: 48%;
  text-align: left;
  float: left;
  padding: 2px 1% 2px 0;
  border-top: 0;
  margin-top: 6px;
  font-size: 10px;
  line-height: 14px;
  border-bottom: 1px dotted #d6d6d6;
  margin-left: 1%;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-fecha {
  margin-right: 1%;
  width: 48%;
  text-align: right;
  float: left;
  padding: 2px 0 2px 1%;
  border-top: none;
  margin-top: 6px;
  font-size: 10px;
  line-height: 14px;
  border-bottom: 1px dotted #d6d6d6;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-local {
  width: 35%;
  float: left;
  margin: 6px 0 0;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-local .field-name-field-escudo {
  text-align: center;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-local .field-name-field-escudo img {
  float: none;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-local .field-name-title {
  text-align: center;
  width: 100%;
  clear: left;
  font-size: 10px;
  line-height: 10px;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-marcador-local {
  float: left;
  font-size: 20px;
  margin: 10px auto 0;
  padding: 0;
  text-align: center;
  width: 30%;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-visitante {
  width: 35%;
  float: right;
  margin: 6px 0 0;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-visitante .field-name-field-escudo {
  text-align: center;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-visitante .field-name-field-escudo img {
  float: none;
}
.block-match-liga-nacional .inline-element-encuentro .field-name-field-equipo-visitante .field-name-title {
  text-align: center;
  width: 100%;
  clear: right;
  line-height: 10px;
  font-size: 10px;
}

#side_ads {
  height: 0;
  overflow: visible;
}

.content-container {
  overflow: visible !important;
  width: 940px !important;
  margin: auto !important;
}

.content {
  float: left;
  clear: none;
  margin: 0 !important;
}

.sidebars {
  width: 300px;
  float: right;
}

.region-sidebar-second {
  float: right;
  margin: 0 !important;
}

.region-sidebar-second-bottom {
  margin: 0 !important;
}

.view-mode-small_highlight .field-name-field-patrocinador, .view-mode-full_highligth .field-name-field-patrocinador {
  z-index: 3;
  position: absolute;
  background: #ef8023;
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  width: 90px;
  text-align: center;
}
.view-mode-small_highlight .field-name-field-patrocinador div, .view-mode-full_highligth .field-name-field-patrocinador div {
  display: none;
}
.view-mode-small_highlight .field-name-field-patrocinador:after, .view-mode-full_highligth .field-name-field-patrocinador:after {
  content: 'SPONSORED';
}

.teaser-grid .ds-below-region {
  position: relative;
}
.teaser-grid .ds-below-region .field-name-field-patrocinador {
  top: 0;
  right: 0;
}

.view-mode-full .field-name-field-patrocinador {
  z-index: 3;
  padding: 2px 5px;
  font-size: 12px;
  clear: both;
  overflow: hidden;
}
.view-mode-full .field-name-field-patrocinador img {
  max-height: 50px;
  margin-left: 5px;
  width: auto;
}
.view-mode-full .field-name-field-patrocinador:before {
  content: 'Patrocinado por: ';
  float: left;
  line-height: 50px;
}

.group-multimedia .field-name-field-patrocinador {
  right: 0;
}

.view-mode-full_highligth .field-name-multimedia-icon, .view-mode-medium_highlight .field-name-multimedia-icon, .view-mode-small_highlight .field-name-multimedia-icon {
  position: absolute;
  top: 19px !important;
}

#corner-right {
  position: absolute;
  right: 0;
  top: 0;
  overflow: visible;
  height: 75px;
  width: 75px;
}

.view-mode-full_special .group-left .field-name-field-article-multimedia .field-name-title h2 {
  display: none;
}
.view-mode-full_special .group-left h2.title-highlight {
  position: absolute;
  top: 0;
}
.view-mode-full_special .group-left img {
  width: 100% !important;
  position: absolute !important;
}
.view-mode-full_special .group-left .field-name-body {
  position: absolute;
  bottom: 80px;
}
.view-mode-full_special .group-right {
  float: right;
  width: 300px;
  height: 408px;
  position: relative;
}
.view-mode-full_special .group-right .field-name-field-especial-campo-1 {
  position: absolute;
  bottom: 0px;
  background-color: #086FA3;
  height: 200px;
}
.view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-web-short-title-cf, .view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-title {
  position: absolute;
  bottom: 18px;
  z-index: 5;
  width: 300px;
}
.view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-web-short-title-cf h2, .view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-title h2 {
  width: 280px;
}
.view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-web-short-title-cf h2, .view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-web-short-title-cf a, .view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-title h2, .view-mode-full_special .group-right .field-name-field-especial-campo-1 .field-name-title a {
  color: #fff;
  padding: 5px;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 0;
}
.view-mode-full_special .group-right .field-name-field-especial-campo-1 img {
  opacity: 0.6;
  position: relative !important;
}
.view-mode-full_special .group-right .field-name-field-especial-campo-1 img:hover {
  opacity: 1;
}
.view-mode-full_special .group-right .field-collection-container {
  z-index: 9;
  height: 200px;
}
.view-mode-full_special .group-right .field-collection-container .field-collection-view {
  background-color: #086fa3;
  margin-bottom: 0;
}
.view-mode-full_special .group-right .field-collection-container .field-collection-item-field-inline-quote {
  width: 280px !important;
}

.sidebars .special .ds-content-region .field-name-web-short-title-cf {
  display: none;
}
.sidebars .special .ds-content-region .node-photo h2 {
  display: none;
}

.group-right .special .ds-content-region h2 {
  display: none;
}

#block-views-futbol-goleadores-block {
  background-color: #3A3A3A;
  color: #eee !important;
}
#block-views-futbol-goleadores-block h4.block-title {
  background-color: #222222;
  color: #40b29d;
  text-transform: uppercase;
  border: medium none;
  padding: 0 2%;
  text-align: left;
  margin: 0;
  font-size: 0.8em !important;
  width: 96%;
  position: relative;
  font-weight: bold;
}

.table-top-score {
  line-height: 30px;
  font-family: Verdana !important;
  background-color: #3A3A3A;
  color: #eee !important;
}
.table-top-score .views-row {
  width: 96%;
  padding: 1% 2%;
  border-top: 1px solid #444;
}
.table-top-score .views-row .field-name-title {
  width: 80%;
  float: left;
  text-align: left;
  margin: 0 !important;
}
.table-top-score .views-row .field-name-title h2 {
  margin: 0;
  font-size: 0.8em;
  color: #eee;
  line-height: 30px;
  font-family: Verdana;
  text-transform: uppercase;
}
.table-top-score .views-row .field-name-field-goles-torneo {
  width: 20%;
  float: right;
  text-align: right;
  line-height: 30px;
  font-size: 0.8em;
  font-weight: bold;
}
.table-top-score .views-row-even {
  background-color: #333;
}

#block-views-tabla-de-posiciones-block {
  background-color: #3A3A3A;
  color: #eee !important;
}
#block-views-tabla-de-posiciones-block h4.block-title {
  background-color: #222222;
  color: #40b29d;
  text-transform: uppercase;
  border: medium none;
  padding: 0 2%;
  text-align: left;
  margin: 0;
  font-size: 0.8em !important;
  width: 96%;
  position: relative;
  font-weight: bold;
}

.table-standing {
  line-height: 30px;
  font-family: Verdana !important;
  background-color: #3A3A3A;
  color: #eee !important;
}
.table-standing .views-row-special {
  font-weight: bold;
}
.table-standing .views-row {
  width: 96%;
  padding: 0% 2%;
  border-top: 1px solid #444;
  font-size: 0.8em;
  line-height: 20px;
  overflow: hidden;
}
.table-standing .views-row .field {
  float: left;
  background-color: #393939;
  border-right: 1px solid #444;
  text-align: center;
  padding: 1% 0;
}
.table-standing .views-row .field-name-title {
  width: 46%;
  text-align: left;
}
.table-standing .views-row .field-name-field-pts {
  width: 11%;
  background-color: #3f3f3f;
}
.table-standing .views-row .field-name-field-pj {
  width: 9.333333333333%;
}
.table-standing .views-row .field-name-field-g {
  width: 7%;
  background-color: #3f3f3f;
}
.table-standing .views-row .field-name-field-e {
  width: 6.333333333333%;
}
.table-standing .views-row .field-name-field-p {
  width: 7%;
  background-color: #3f3f3f;
}
.table-standing .views-row .field-name-field-dif {
  width: 10.666666666667%;
  border-right: 0;
}

ul.quicktabs-tabs {
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#footer-ad {
  clear: both;
}

#block-block-171 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.top-sponsored {
  max-width: 197px;
  margin: 0 auto;
  width: 100%;
}

.full-sponsored, .full-sponsored-patrocinador, .full-sponsored-patrocinador-grid {
  overflow: hidden;
  margin-top: 44px;
}
.full-sponsored .views-row, .full-sponsored-patrocinador .views-row, .full-sponsored-patrocinador-grid .views-row {
  float: left;
  width: 100%;
  max-width: 272px;
  position: relative;
  margin-bottom: 8px;
  height: 181px;
  overflow: hidden;
}
.full-sponsored .views-row .ds-below-region, .full-sponsored-patrocinador .views-row .ds-below-region, .full-sponsored-patrocinador-grid .views-row .ds-below-region {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}
.full-sponsored .views-row .ds-below-region h1, .full-sponsored-patrocinador .views-row .ds-below-region h1, .full-sponsored-patrocinador-grid .views-row .ds-below-region h1 {
  margin-bottom: 35px;
  text-shadow: 0 0 3px black;
}
.full-sponsored .views-row .ds-below-region h1 a, .full-sponsored-patrocinador .views-row .ds-below-region h1 a, .full-sponsored-patrocinador-grid .views-row .ds-below-region h1 a {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  width: 96%;
  padding: 2%;
  font-family: "Stag Web";
  font-size: 20px;
}
.full-sponsored .views-row .field-name-social-share, .full-sponsored-patrocinador .views-row .field-name-social-share, .full-sponsored-patrocinador-grid .views-row .field-name-social-share {
  position: absolute;
  right: 0;
  top: 0;
}
.full-sponsored .views-row .field-name-field-topic, .full-sponsored-patrocinador .views-row .field-name-field-topic, .full-sponsored-patrocinador-grid .views-row .field-name-field-topic {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.full-sponsored .views-row .field-name-mask, .full-sponsored-patrocinador .views-row .field-name-mask, .full-sponsored-patrocinador-grid .views-row .field-name-mask {
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.3)), color-stop(63%, rgba(0, 0, 0, 0.9)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  opacity: 0.8;
}
.full-sponsored .views-row .field-name-field-patrocinador, .full-sponsored-patrocinador .views-row .field-name-field-patrocinador, .full-sponsored-patrocinador-grid .views-row .field-name-field-patrocinador {
  display: none;
}
.full-sponsored .views-row:hover h1, .full-sponsored-patrocinador .views-row:hover h1, .full-sponsored-patrocinador-grid .views-row:hover h1 {
  text-shadow: 0 0 3px black;
}
.full-sponsored .views-row:hover .field-name-mask, .full-sponsored-patrocinador .views-row:hover .field-name-mask, .full-sponsored-patrocinador-grid .views-row:hover .field-name-mask {
  opacity: 0.5;
}

.full-sponsored .views-row-1 {
  width: 100%;
  max-width: 660px;
  height: 562px;
  margin-right: 8px;
}
.full-sponsored .views-row-1 .ds-below-region h1 a {
  font-size: 30px;
  line-height: 40px;
}

#block-block-172 {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
}

#block-views-view-sponsored-section-block-1 {
  padding-top: 1px;
}

.section-patrocinador .region-highlighted {
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
}

.inline-element-video {
  width: 100%;
}
.inline-element-video .content {
  width: 100%;
}

#block-views-patrocinador-sponsored-block {
  -webkit-box-shadow: 0px 10px 13px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 13px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 13px 3px rgba(0, 0, 0, 0.75);
}

.marketing {
  width: 940px;
  height: 385px;
  overflow: hidden;
  display: block;
  background: url(../images/marketing.jpg) no-repeat top right;
}
.marketing .text-marketing {
  max-width: 540px;
  float: left;
  margin-top: 75px;
  margin-left: 50px;
}
.marketing .text-marketing p {
  font-size: 20px;
  text-align: justify;
}

.sponsored-carousel li {
  width: 100% !important;
  max-width: 291px;
}
.sponsored-carousel li > div {
  width: 275px;
  margin: 0 auto;
}
.sponsored-carousel .flexslider {
  width: 100%;
  max-width: 880px;
}
.sponsored-carousel .flex-viewport {
  width: 100%;
  max-width: 873px;
}
.sponsored-carousel .flexslider,
.sponsored-carousel .flex-viewport {
  height: 186px;
  padding: 0;
  margin: 0 auto;
}
.sponsored-carousel .flexslider {
  padding: 0 30px;
}
.sponsored-carousel .flex-viewport li {
  position: relative;
}
.sponsored-carousel .flex-direction-nav a {
  background: url("../images/arrows.svg") black;
  background-position: -431px -155px;
  height: 186px;
  width: 30px;
  z-index: 2;
}
.sponsored-carousel .flex-direction-nav a.flex-next {
  background-position: -482px -151px;
}
.sponsored-carousel .flex-direction-nav a.flex-next.flex-disabled {
  background-position: -481px -155px !important;
}
.sponsored-carousel .flex-direction-nav a.flex-disabled {
  background-position: -431px -155px !important;
}
.sponsored-carousel .node {
  background: #222;
  height: 186px;
}
.sponsored-carousel .ds-content-region .field-name-mask {
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.3)), color-stop(63%, rgba(0, 0, 0, 0.9)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  opacity: 0.8;
}
.sponsored-carousel li:hover .ds-content-region .field-name-mask {
  opacity: 0.5;
}
.sponsored-carousel .ds-below-region {
  bottom: 11px;
  left: 0;
  margin: 0 10px;
}
.sponsored-carousel .ds-below-region h3 {
  text-shadow: 0 0 3px black;
}
.sponsored-carousel .ds-below-region h3 a {
  color: #fff;
}
.sponsored-carousel .icon {
  left: auto;
  right: 0;
}

#block-views-patrocinador-sponsored-block {
  padding-top: 30px;
  background: url(../images/bg-marketing.png);
  background-size: contain;
}
#block-views-patrocinador-sponsored-block .block-title {
  position: relative;
  background: none;
  text-align: center;
  width: 100%;
  line-height: 40px;
  font-size: 30px;
  color: #3d3d3d;
  max-width: 560px;
  margin: 0 auto;
  float: none;
  height: 90px;
}

.sponsored-logos > .view-content {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  padding: 10px 0;
}
.sponsored-logos .views-row {
  width: 20%;
  float: left;
  height: 130px;
  text-align: center;
}
.sponsored-logos .views-row img {
  transform: scale(1);
  transition: all 0.2s ease;
}
.sponsored-logos .views-row:hover img {
  transform: scale(1.1);
}

.sponsored-logos-simple > .view-content {
  max-width: 880px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}
.sponsored-logos-simple .views-row {
  width: 100%;
  float: left;
  height: 100px;
  text-align: center;
  overflow: hidden;
  margin: 50px 0 10px;
}
.sponsored-logos-simple .views-row .field-name-field-logo, .sponsored-logos-simple .views-row .field-name-title {
  float: left;
}
.sponsored-logos-simple .views-row .field-name-title {
  text-transform: uppercase;
  font-size: 26px;
  margin-left: 30px;
}

#block-views-patrocinador-sponsored-block-1 {
  margin-top: 44px;
}

.full-sponsored-patrocinador {
  margin: 0;
}
.full-sponsored-patrocinador .view-content {
  max-width: 878px;
  margin: 0 auto;
}
.full-sponsored-patrocinador .views-row {
  min-width: 878px;
  max-height: 445px;
  height: 445px;
}
.full-sponsored-patrocinador .views-row .node-article {
  width: 100%;
  margin: 0 auto;
  min-width: 878px;
}
.full-sponsored-patrocinador .views-row .field-name-field-article-multimedia {
  height: 445px;
  overflow: hidden;
}
.full-sponsored-patrocinador .views-row img {
  width: 100%;
  margin-top: -150px;
}
.full-sponsored-patrocinador .views-row .ds-below-region h1 {
  margin-bottom: 0px;
}
.full-sponsored-patrocinador .views-row .ds-below-region h1 a {
  font-size: 30px;
  line-height: 30px;
}

#block-views-view-sponsored-section-block-4 {
  background-color: #fff;
}
#block-views-view-sponsored-section-block-4 h4.block-title {
  width: 100%;
  text-align: center;
  color: #3e3e3e;
  background: none;
  position: relative;
  clear: both;
  font-size: 36px;
  float: none;
  padding: 10px 0;
}

.full-sponsored-patrocinador-grid {
  margin: 0;
  clear: both;
}
.full-sponsored-patrocinador-grid .view-content {
  max-width: 878px;
  margin: 0 auto;
}
.full-sponsored-patrocinador-grid .views-row {
  width: 439px;
  max-width: 439px;
  margin-bottom: 20px;
  float: left;
}
.full-sponsored-patrocinador-grid .views-row .node-article {
  max-width: 275px;
  margin: 0 auto;
}
.full-sponsored-patrocinador-grid .ds-content-region {
  overflow: hidden;
  height: 183px;
}
.full-sponsored-patrocinador-grid .ds-below-region {
  bottom: 10px;
}
.full-sponsored-patrocinador-grid .ds-below-region h1 {
  margin-bottom: 0 !important;
}

#block-views-patrocinador-sponsored-block-1, .full-sponsored-patrocinador, .full-sponsored-patrocinador-grid {
  background-color: #fff;
}

#block-views-patrocinador-sponsored-block-1 .field-name-field-logo, #block-views-patrocinador-sponsored-block-1 .field-name-title {
  float: left;
}

#footer {
  margin-bottom: 90px !important;
}

#fixed-ad {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
#fixed-ad .region-fixed-ad {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  height: 70px;
}

#block-menu-menu-menu-la-liga ul, #block-menu-menu-menu-ucl ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#block-menu-menu-menu-la-liga ul li, #block-menu-menu-menu-ucl ul li {
  list-style: none;
  float: left;
}
#block-menu-menu-menu-la-liga ul li a, #block-menu-menu-menu-ucl ul li a {
  font-size: 0.725em;
  padding: 6px 17px;
  color: #fff;
  text-transform: uppercase;
  display: block;
}
#block-menu-menu-menu-la-liga ul li a:hover, #block-menu-menu-menu-la-liga ul li a.active, #block-menu-menu-menu-ucl ul li a:hover, #block-menu-menu-menu-ucl ul li a.active {
  color: #333;
  background-color: #fff;
}

.field-name-watermark {
  max-height: 627px;
}
.field-name-watermark div {
  text-align: center;
  background-color: #000;
}

.view-mode-node .image-title-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
}
.view-mode-node .image-title-desc p {
  margin: 0;
  color: #CCC;
}

.node-article-slider .inner-slider {
  width: 20000em;
  position: absolute;
  max-height: 627px;
}

.content-container .node-evento .field-name-field-photo-gallery-photos > .field-items > .field-item, .content-container .node-evento .field-name-field-fotos > .field-items > .field-item, .content-container .node-evento .field-name-field-fotos-eventos > .field-items > .field-item {
  width: 33%;
  max-width: 307px;
  float: left;
  margin: 0 3px 6px 3px;
}
.content-container .node-evento .field-name-field-photo-gallery-photos > .field-items > .field-item img, .content-container .node-evento .field-name-field-fotos > .field-items > .field-item img, .content-container .node-evento .field-name-field-fotos-eventos > .field-items > .field-item img {
  max-width: 300px;
  transition: all 0.2s ease-out;
  transform: scale(1, 1);
}
.content-container .node-evento .field-name-field-photo-gallery-photos > .field-items > .field-item img:hover, .content-container .node-evento .field-name-field-fotos > .field-items > .field-item img:hover, .content-container .node-evento .field-name-field-fotos-eventos > .field-items > .field-item img:hover {
  max-width: 300px;
  transform: scale(1.2, 1.2);
}

#cboxClose {
  opacity: 1 !important;
}

.node-type-evento .view-mode-full .field-name-title h2, .node-type-evento .view-mode-full .node-evento .field-name-body {
  font-family: 'Stag Web', 'StagBook';
  text-align: justify;
}
.node-type-evento #content {
  padding: 0px;
}

.context-web-sections #content, .section-patrocinador #content {
  width: 100%;
  max-width: 640px;
}

#cboxClose {
  opacity: 1 !important;
}

.node-evento .field-name-field-photo-gallery-photos img {
  max-width: 300px;
  transition: all 0.2s ease-out;
  transform: scale(1, 1);
}
.node-evento .field-name-field-photo-gallery-photos img:hover {
  max-width: 300px;
  transform: scale(1.2, 1.2);
}

.node-type-evento #content {
  padding: 0px;
}
.node-type-evento .field-name-title h2, .node-type-evento .node-evento .field-name-body {
  font-family: 'Stag Web', 'StagBook';
  text-align: justify;
}
.node-type-evento .node-evento .field-name-field-photo-gallery-photos .content-container .node-evento .field-name-field-photo-gallery-photos > .field-items > .field-item {
  margin: 0 3px 6px 3px;
  overflow: hidden;
}

#gContent {
  clear: both;
  width: 100%;
}

#quicktabs-empleos ul.quicktabs-tabs li.active {
  font-weight: bold;
  background: #222 !important;
  border-bottom: 1px solid #2b2b2b;
}
#quicktabs-empleos ul.quicktabs-tabs li.active a {
  color: #fff;
}
#quicktabs-empleos ul.quicktabs-tabs li {
  color: #fff !important;
  float: left;
  font-size: 0.8em;
  line-height: 30px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 15%;
  border-bottom: 1px solid #959595;
  background-color: #f2f2f2;
  background: url(../images/bullets.png) center right no-repeat;
  padding: 0 10px;
}
#quicktabs-empleos ul.quicktabs-tabs li a {
  color: #000;
  display: block;
  padding: 5px;
}

.page-taxonomy-term-949 #page #main .content-container #content {
  width: 100% !important;
  max-width: 940px !important;
  overflow: hidden !important;
}

#block-quicktabs-empleos {
  float: left;
  width: 100%;
  max-width: 662px;
  overflow: visible;
}

#nosotros_empleos, .contenedor_nosotros, .encabezado_nosotros, .quienes_somos_nosotros, .que_hacemos_nosotros {
  width: 100%;
  max-width: 662px !important;
  overflow: hidden;
}
#nosotros_empleos p, .contenedor_nosotros p, .encabezado_nosotros p, .quienes_somos_nosotros p, .que_hacemos_nosotros p {
  font-size: 14px;
  text-align: justify;
}

.banner_nosotros {
  background: url(../images/back_0.jpg);
  width: 100%;
  max-width: 733px;
  text-align: center;
  overflow: hidden;
  margin-top: 32px;
}
.banner_nosotros h2 {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}

h2.field-name-title-field {
  background: url(../images/back_0.jpg);
  width: 100%;
  max-width: 733px;
  text-align: center;
  overflow: hidden;
  margin-top: 32px;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 86px;
}

.descripcion_nosotros {
  width: 98%;
}

.titulo_somos_nosotros {
  background: url(../images/bg_somos.png) no-repeat;
  width: 100%;
  max-width: 590px;
}
.titulo_somos_nosotros h2 {
  color: #787878;
  text-transform: uppercase;
  font-size: 24px;
  padding: 14px;
}

.descripcion_somos {
  width: 100%;
  overflow: hidden;
}
.descripcion_somos p {
  margin: 0 20px 5px;
}

.titulo_hacemos_nosotros {
  background: url(../images/bg_somos.png) no-repeat top right;
  width: 100%;
  max-width: 400px;
}
.titulo_hacemos_nosotros h2 {
  color: #787878;
  text-transform: uppercase;
  font-size: 24px;
  padding: 14px;
}

.descripcion_hacemos {
  width: 100%;
  max-width: 340px;
  overflow: hidden;
}
.descripcion_hacemos p {
  margin: 0 20px 5px;
}

.contenedor_hacemos_nosotros, .imagen_compu_nosotros {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.imagen_compu_nosotros {
  position: absolute;
  right: -70px;
  bottom: 0;
}

#block-block-148, #block-block-176 {
  overflow: visible;
}

#block-block-149, #block-block-177 {
  width: 100%;
  max-width: 276px;
  float: right;
  clear: none !important;
}

#banner_empleos {
  background-color: #f2f2f2;
  width: 100%;
  max-width: 278px;
  height: 602px;
  overflow: hidden;
  margin: 0 auto;
}

.logotipo_banner {
  width: 100%;
  max-width: 139px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.logotipo_banner img {
  margin: 150px auto 25px;
}

.informacion_banner {
  width: 100%;
  max-width: 187px;
  border-top: 1px solid #b3b3b3;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}
.informacion_banner p {
  font-size: 14px;
  text-align: justify;
  color: #333;
  line-height: 18px;
}

.correo_banner a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.node-empleos h2.field-name-title-field {
  /*background: url(../images/back_0.jpg);
  text-align: center;
  margin-top: 33px;
  color: #fff;
  font-size: 32px;
  padding: 16px;
  text-transform: uppercase;*/
}
.node-empleos .field-name-body {
  background: url(../images/barra_top.jpg) no-repeat 17px 17px;
}
.node-empleos .field-name-body .field-items {
  overflow: hidden;
  width: 100%;
  max-width: 663px;
}
.node-empleos .field-name-body .field-items .field-item {
  width: 100%;
  max-width: 550px;
  margin: 28px 36px;
  background: #f2f2f2;
  overflow: hidden;
  box-shadow: 2px 2px 7px #999;
}
.node-empleos .field-name-body .field-items .field-item p {
  font-size: 14px;
  overflow: hidden;
  margin: 12px 43px;
}
.node-empleos h3.field-name-field-sub-titulo1, .node-empleos h3.field-name-field-sub-titulo2, .node-empleos .field-name-title h2 {
  background: url(../images/bg_somos.png) no-repeat top left;
  overflow: hidden;
  margin-bottom: 22px;
  margin-left: 32px;
  color: #787878;
  font-size: 28px;
  padding: 12px 28px;
  text-transform: uppercase;
}
.node-empleos .field-name-field-descripcion1, .node-empleos .field-name-field-descripcion2 {
  width: 100%;
  max-width: 526px;
  margin: 20px 52px;
}
.node-empleos .field-name-field-descripcion1 .field-items .field-item ul li, .node-empleos .field-name-field-descripcion2 .field-items .field-item ul li {
  list-style-image: url(../images/img_list.png) !important;
}

.field-name-field-image-gif {
  text-align: right;
}

.field-name-responsive-social-buttons, .field-name-responsive-social-buttons-bottom {
  height: 70px;
  overflow: hidden;
  padding: 0px 1% !important;
  margin: 5px auto;
  background-color: #E9EAED;
  background-color: #EAECF1;
  width: 98%;
}
.field-name-responsive-social-buttons .social-buttons, .field-name-responsive-social-buttons-bottom .social-buttons {
  overflow: hidden;
  width: 292px;
  margin: 0 auto;
}
.field-name-responsive-social-buttons .social-buttons .fb, .field-name-responsive-social-buttons-bottom .social-buttons .fb {
  float: left;
  margin-right: 6px;
  padding-top: 5px;
  width: 75px;
}
.field-name-responsive-social-buttons .social-buttons .sh, .field-name-responsive-social-buttons-bottom .social-buttons .sh {
  float: left;
  margin-right: 6px;
  padding-top: 5px;
  width: 80px;
}
.field-name-responsive-social-buttons .social-buttons .gl, .field-name-responsive-social-buttons-bottom .social-buttons .gl {
  float: left;
  padding-top: 5px;
  margin-right: 6px;
  width: 50px;
}
.field-name-responsive-social-buttons .social-buttons .tw, .field-name-responsive-social-buttons-bottom .social-buttons .tw {
  float: left;
  padding-top: 21px;
  width: 68px;
  height: 46px;
}

.real-first-element {
  width: 100%;
  position: relative;
}
.real-first-element .field-name-field-fotos {
  width: 940px;
  max-width: 940px;
  height: 627px;
  position: relative;
  overflow: hidden;
}
.real-first-element .field-name-field-fotos .field-items {
  width: 20000em;
  position: absolute;
  clear: both;
  background-color: #000000;
}
.real-first-element .field-name-field-fotos .field-items .field-item {
  width: 940px;
  height: 627px;
  float: left;
  position: relative;
}
.real-first-element .field-name-field-fotos .field-items .field-item .image-title-desc {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #CCC;
  font-size: 0.8em;
  left: 0;
  line-height: 1.2;
  position: absolute;
  width: 98%;
  height: auto;
  padding: 7px 1%;
  min-height: 20px;
}
.real-first-element .field-name-field-fotos .field-items .field-item .d-count {
  font-family: 'Open Sans Condensed', sans-serif;
  float: left;
  width: 10%;
  position: absolute;
  left: 5px;
  bottom: 4px;
  height: 90%;
  margin-right: 3px;
  min-height: 28px;
  max-width: 80px;
  font-size: 26px;
}
.real-first-element .field-name-field-fotos .field-items .field-item .d-count .count {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Open Sans Condensed',sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 3px;
  padding: 0;
  line-height: 24px;
}
.real-first-element .field-name-field-fotos .field-items .field-item .view-caption {
  background: url(../images/icon-up.png) no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99999;
  cursor: pointer;
}
.real-first-element .field-name-field-fotos .field-items .field-item .close-caption {
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99999;
  cursor: pointer;
  background: url("../images/icon-down.png") no-repeat center center;
}
.real-first-element .field-name-field-fotos .field-items .field-item .caption {
  width: 87%;
  float: right;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
  overflow: hidden;
  padding-left: 2%;
  border-left: 1px solid #ccc;
  padding-right: 20px;
  margin: 0;
}
.real-first-element .field-name-gallery-control a {
  width: 60px;
  height: 40px;
  font-family: FontAwesome, sans-serif;
  position: absolute;
  top: 46%;
  font-size: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.real-first-element .field-name-gallery-control a.disable {
  display: none;
}
.real-first-element .field-name-gallery-control a.prev {
  left: 0;
}
.real-first-element .field-name-gallery-control a.prev:before {
  content: "\f053";
}
.real-first-element .field-name-gallery-control a.next {
  right: 0;
}
.real-first-element .field-name-gallery-control a.next:before {
  content: "\f054";
}

.group-multimedia > .inner-940 {
  width: 100%;
  position: relative;
}
.group-multimedia > .inner-940 > .field-name-field-fotos {
  width: 940px;
  max-width: 940px;
  height: 627px;
  position: relative;
  overflow: hidden;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items {
  width: 20000em;
  position: absolute;
  clear: both;
  background-color: #000000;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items .field-item {
  width: 940px;
  height: 627px;
  float: left;
  position: relative;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items .field-item .image-title-desc {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #CCC;
  font-size: 0.8em;
  left: 0;
  line-height: 1.2;
  position: absolute;
  width: 98%;
  height: auto;
  padding: 7px 1%;
  min-height: 20px;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items .field-item .d-count {
  font-family: 'Open Sans Condensed', sans-serif;
  float: left;
  width: 10%;
  position: absolute;
  left: 5px;
  bottom: 4px;
  height: 90%;
  margin-right: 3px;
  min-height: 28px;
  max-width: 80px;
  font-size: 26px;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items .field-item .d-count .count {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Open Sans Condensed',sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 3px;
  padding: 0;
  line-height: 24px;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items .field-item .view-caption {
  background: url(../images/icon-up.png) no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99999;
  cursor: pointer;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items .field-item .close-caption {
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99999;
  cursor: pointer;
  background: url("../images/icon-down.png") no-repeat center center;
}
.group-multimedia > .inner-940 > .field-name-field-fotos .field-items .field-item .caption {
  width: 87%;
  float: right;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
  overflow: hidden;
  padding-left: 2%;
  border-left: 1px solid #ccc;
  padding-right: 20px;
  margin: 0;
}
.group-multimedia > .inner-940 .field-name-gallery-control a {
  width: 60px;
  height: 40px;
  font-family: FontAwesome, sans-serif;
  position: absolute;
  top: 46%;
  font-size: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.group-multimedia > .inner-940 .field-name-gallery-control a.disable {
  display: none;
}
.group-multimedia > .inner-940 .field-name-gallery-control a.prev {
  left: 0;
}
.group-multimedia > .inner-940 .field-name-gallery-control a.prev:before {
  content: "\f053";
}
.group-multimedia > .inner-940 .field-name-gallery-control a.next {
  right: 0;
}
.group-multimedia > .inner-940 .field-name-gallery-control a.next:before {
  content: "\f054";
}

.view-eventos .views-row {
  float: left;
  position: relative;
  overflow: hidden;
}
.view-eventos .views-row .field-name-mask a {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
.view-eventos .views-row .field-name-title {
  position: absolute;
  width: 96%;
  padding: 5px 2%;
  bottom: 0;
  z-index: 9;
}
.view-eventos .views-row .field-name-title h2 a {
  color: #fff;
}
.view-eventos .views-row .field-name-mask {
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0.3)), color-stop(63%, rgba(0, 0, 0, 0.9)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.9) 63%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  opacity: 0.8;
}
.view-eventos .views-row:hover .field-name-mask {
  transition: all 0.4s ease;
  background: none;
}
.view-eventos .views-row-1 {
  margin-right: 6px;
}
.view-eventos .views-row-1 > .node {
  max-height: 408px;
}
.view-eventos .views-row-2 {
  margin-bottom: 6px;
}
.view-eventos .views-row-2, .view-eventos .views-row-3 {
  max-width: 300px;
}

.corner-section {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  height: 0 !important;
}

.pushcrew-side-button {
  display: none;
}

.generatexml {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 40px;
  text-align: center;
  background: #222;
  line-height: 50px;
  padding: 10px;
  z-index: 9999;
  cursor: pointer;
}
.generatexml i {
  font-size: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
}

.fboverlay {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}
.fboverlay div {
  width: 100%;
  min-height: 600px;
  max-width: 1024px;
  margin: 100px auto;
  position: relative;
}

#getCodeXml {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #555;
  padding: 30px;
  width: 100%;
}

#closeXml {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #222;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}
