/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/*
 * Mosaic
 *
 * Highlighted content
 *
 * Front: Home/Multimedia at top - 5 articles + 1 ad;
 * Multimedia small: Home at bottom - 3 multimedia items;
 * Special: Home in the middle - 1 special article;
 * Section: Section/Subsection at top - 2 articles + 1 ad;
 */
/* line 57, ../sass/views-styles.scss */
.mosaic {
  margin-left: -3px;
  overflow: hidden;
  padding: 0 0 7px;
  width: 946px;
  /*full highlight*/
  /*full highlight multimedia*/
  /*full highlight theme*/
  /*medium highlight*/
  /*small highlight*/
  /*small highlight multimedia*/
  /*ds regions*/
  /*fields*/
  /*author name*/
  /*social share bar*/
  /*image*/
  /*mask & link overlay*/
}
/* line 63, ../sass/views-styles.scss */
.mosaic .views-row {
  float: left;
  margin: 6px 3px 0;
}
/* line 74, ../sass/views-styles.scss */
.mosaic .views-row-4 .view-mode-small_highlight,
.mosaic .views-row-4 .view-mode-small_highlight_multimedia,
.mosaic .views-row-4 .view-mode-small_highlight_voices,
.mosaic .views-row-4 .view-mode-smallhighlight_multimediasection,
.mosaic .views-row-5 .view-mode-small_highlight,
.mosaic .views-row-5 .view-mode-small_highlight_multimedia,
.mosaic .views-row-5 .view-mode-small_highlight_voices,
.mosaic .views-row-5 .view-mode-smallhighlight_multimediasection {
  width: 314px;
}
/* line 79, ../sass/views-styles.scss */
.mosaic .node {
  overflow: hidden;
  position: relative;
}
/* line 89, ../sass/views-styles.scss */
.mosaic .view-mode-full_highligth,
.mosaic .view-mode-full_highlight_multimedia,
.mosaic .view-mode-full_highlight_multimediasection,
.mosaic .view-mode-full_highlight_voices,
.mosaic .view-mode-highlight_theme {
  background: url("../images/gradients/bg-nophoto-web.png") repeat-x 0 0;
  height: 442px;
  width: 634px;
}
/* line 96, ../sass/views-styles.scss */
.mosaic .view-mode-full_highlight_multimedia {
  background-color: transparent;
  height: 408px;
  width: 634px;
}
/* line 101, ../sass/views-styles.scss */
.mosaic .view-mode-full_highlight_multimedia .ds-content-region .field-name-mask {
  background: url("../images/gradients/multimedia-full.png") repeat-x 0 bottom;
}
/* line 104, ../sass/views-styles.scss */
.mosaic .view-mode-full_highlight_multimedia h2.title-highlight {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 1px;
}
/* line 113, ../sass/views-styles.scss */
.mosaic .view-mode-highlight_theme .ds-content-region .field-name-mask {
  background: url("../images/gradients/theme.png") repeat-x 0 bottom;
}
/* line 117, ../sass/views-styles.scss */
.mosaic .view-mode-highlight_theme h2.title-highlight {
  font-size: 2.6em;
  margin-bottom: 3px;
}
/* line 127, ../sass/views-styles.scss */
.mosaic .view-mode-medium_highlight,
.mosaic .view-mode-medium_highlight_multimedia,
.mosaic .view-mode-medium_multimedia_section,
.mosaic .view-mode-medium_highlight_voices {
  background: url("../images/gradients/bg-nophoto-web.png") repeat-x 0 0;
  height: 250px;
  width: 300px;
}
/* line 132, ../sass/views-styles.scss */
.mosaic .view-mode-medium_highlight.node-ad,
.mosaic .view-mode-medium_highlight_multimedia.node-ad,
.mosaic .view-mode-medium_multimedia_section.node-ad,
.mosaic .view-mode-medium_highlight_voices.node-ad {
  background: #333;
}
/* line 141, ../sass/views-styles.scss */
.mosaic .view-mode-small_highlight,
.mosaic .view-mode-small_highlight_multimedia,
.mosaic .view-mode-small_highlight_voices,
.mosaic .view-mode-smallhighlight_multimediasection {
  background: url("../images/gradients/bg-nophoto-smallhighlight.png") repeat-x 0 0;
  height: 186px;
  width: 300px;
}
/* line 148, ../sass/views-styles.scss */
.mosaic .view-mode-small_highlight_multimedia {
  height: 201px;
  width: 300px;
}
/* line 152, ../sass/views-styles.scss */
.mosaic .view-mode-small_highlight_multimedia .ds-content-region .field-name-mask {
  background: url("../images/gradients/multimedia-small.png") repeat-x 0 bottom;
}
/* line 156, ../sass/views-styles.scss */
.mosaic .view-mode-small_highlight_multimedia h2.title-highlight {
  font-size: 1.6em;
  margin-bottom: -1px;
}
/* line 163, ../sass/views-styles.scss */
.mosaic .ds-content-region {
  height: 100%;
}
/* line 166, ../sass/views-styles.scss */
.mosaic .ds-below-region {
  bottom: 16px;
}
/* line 173, ../sass/views-styles.scss */
.mosaic .field-name-field-author {
  background: #fb4c1c;
  clear: both;
  color: #FFF;
  float: left;
  font-size: 0.8em;
  margin: 12px 10px 0;
  padding: 0 5px;
  position: relative;
  z-index: 1;
}
/* line 184, ../sass/views-styles.scss */
.mosaic .field-name-field-author a {
  color: #FFF;
}
/* line 188, ../sass/views-styles.scss */
.mosaic .field-name-field-author:hover {
  background: #FC673E;
}
/* line 193, ../sass/views-styles.scss */
.mosaic .field-name-social-share {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
/* line 201, ../sass/views-styles.scss */
.mosaic img {
  max-width: none;
}
/* line 206, ../sass/views-styles.scss */
.mosaic .field-name-link a {
  z-index: 1;
}

/*mosiac multimedia small - frontpage*/
/* line 212, ../sass/views-styles.scss */
.mosaic-multimedia-small {
  margin: 0;
  padding: 0;
  width: 940px;
}
/* line 217, ../sass/views-styles.scss */
.mosaic-multimedia-small .views-row {
  margin: 0;
}
/* line 220, ../sass/views-styles.scss */
.mosaic-multimedia-small .views-row:hover .field-name-mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 224, ../sass/views-styles.scss */
.mosaic-multimedia-small .views-row-first {
  margin-right: 6px;
}
/* line 227, ../sass/views-styles.scss */
.mosaic-multimedia-small .views-row-even {
  margin-bottom: 6px;
}
/* line 230, ../sass/views-styles.scss */
.mosaic-multimedia-small .icon {
  left: auto;
  right: 0;
}

/*theme highlight*/
/* line 236, ../sass/views-styles.scss */
.mosaic-theme {
  float: left;
  width: 633px;
}

/*mosaic special - frontpage*/
/* line 241, ../sass/views-styles.scss */
.mosaic-special {
  color: #FFF;
  /*hover*/
  /*fields*/
  /*multimedia icon*/
  /*title*/
  /*col left*/
  /*col right*/
  /*ds regions*/
  /*quote fields*/
}
/* line 246, ../sass/views-styles.scss */
.mosaic-special:hover .field-collection-view {
  background: #2B83AF;
}
/* line 249, ../sass/views-styles.scss */
.mosaic-special:hover h2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 252, ../sass/views-styles.scss */
.mosaic-special:hover .field-name-field-inline-description {
  color: #D0DDE4;
}
/* line 257, ../sass/views-styles.scss */
.mosaic-special .views-row > .node {
  height: 408px;
}
/* line 263, ../sass/views-styles.scss */
.mosaic-special .icon {
  left: auto;
  right: 0;
}
/* line 267, ../sass/views-styles.scss */
.mosaic-special img {
  max-width: none;
  position: absolute;
  top: 0;
}
/* line 273, ../sass/views-styles.scss */
.mosaic-special h2.title-highlight {
  font-style: italic;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
/* line 282, ../sass/views-styles.scss */
.mosaic-special .group-left {
  height: 408px;
  margin-right: 6px;
  position: relative;
  width: 634px;
  z-index: 1;
}
/* line 289, ../sass/views-styles.scss */
.mosaic-special .group-left h2 {
  font-size: 2.8em;
  line-height: 1.15;
  margin: 63px 10px 0;
  width: 65%;
}
/* line 295, ../sass/views-styles.scss */
.mosaic-special .group-left .field-name-body {
  margin: 26px 10px 0;
  position: relative;
  width: 65%;
  z-index: 1;
}
/* line 301, ../sass/views-styles.scss */
.mosaic-special .group-left img {
  /*width: 620px;*/
}
/* line 307, ../sass/views-styles.scss */
.mosaic-special .group-right {
  width: 300px;
}
/* line 310, ../sass/views-styles.scss */
.mosaic-special .group-right .field-collection-view {
  background: #086fa3;
  height: 201px;
  margin-bottom: 6px;
  overflow: hidden;
  position: relative;
}
/* line 319, ../sass/views-styles.scss */
.mosaic-special .ds-bottom-region {
  bottom: 14px;
  left: 20px;
  width: 610px;
  z-index: 3;
}
/* line 326, ../sass/views-styles.scss */
.mosaic-special .ds-below-region {
  bottom: 18px;
  margin: 0 auto;
}
/* line 332, ../sass/views-styles.scss */
.mosaic-special .field-collection-item-field-inline-quote {
  padding: 32px 10px;
  width: 284px;
}
/* line 336, ../sass/views-styles.scss */
.mosaic-special .field-collection-item-field-inline-quote .quote {
  color: #03547F;
  font-size: 3em;
  line-height: 0;
  position: relative;
  vertical-align: bottom;
  text-shadow: none;
}
/* line 344, ../sass/views-styles.scss */
.lt-ie8 .mosaic-special .field-collection-item-field-inline-quote .quote {
  top: -10px;
}
/* line 348, ../sass/views-styles.scss */
.mosaic-special .field-collection-item-field-inline-quote .field-name-field-inline-description {
  font: italic 400 1.4em/1.15 "Stag Web", Georgia, Times, sans-serif;
  text-shadow: 0 0 3px black;
}
/* line 352, ../sass/views-styles.scss */
.mosaic-special .field-collection-item-field-inline-quote .field-name-field-inline-source {
  line-height: 1.5;
  margin-top: 25px;
}
/* line 356, ../sass/views-styles.scss */
.mosaic-special .field-collection-item-field-inline-quote .field-name-field-inline-info {
  color: #CCC;
  font-size: 0.8em;
  line-height: 1.25;
}

/**
 * Special - small special
 */
/* line 367, ../sass/views-styles.scss */
.small-special {
  /*ds regions*/
  /*fields*/
}
/* line 370, ../sass/views-styles.scss */
.small-special .ds-content-region {
  position: relative;
}
/* line 373, ../sass/views-styles.scss */
.small-special .ds-below-region {
  bottom: 59px;
}
/* line 376, ../sass/views-styles.scss */
.small-special .ds-bottom-region {
  background: #333;
  height: 24px;
  position: relative;
  padding: 8px 10px;
  width: 280px;
}
/* line 385, ../sass/views-styles.scss */
.small-special h2.title-highlight {
  margin-bottom: 1px;
}

/*
 * Grid
 *
 * This view is displayed at home, section and subsection with secondary notes
 */
/* line 394, ../sass/views-styles.scss */
.view.teaser-grid {
  /*ds regions*/
  /*fields*/
  /*author - voices*/
  /*hashtag or topic*/
  /*multimedia thumb*/
  /*abstract*/
}
/* line 396, ../sass/views-styles.scss */
.view.teaser-grid .views-row {
  border-bottom: 1px solid #EEE;
  float: left;
  height: 488px;
  margin-top: 24px;
  overflow: hidden;
  padding: 15px 20px 12px;
  position: relative;
  width: 270px;
}
/* line 407, ../sass/views-styles.scss */
.view.teaser-grid .views-row:nth-child(1), .view.teaser-grid .views-row:nth-child(2) {
  margin-top: 0;
}
/* line 412, ../sass/views-styles.scss */
.view.teaser-grid .views-row:nth-child(4n+2), .view.teaser-grid .views-row:nth-child(4n+3) {
  background: #FBFAF9;
}
/* line 415, ../sass/views-styles.scss */
.view.teaser-grid .views-row:nth-child(4n+2) .ds-bottom-region, .view.teaser-grid .views-row:nth-child(4n+3) .ds-bottom-region {
  background-image: url("../images/gradients/txt-degradado-grey.png");
}
/* line 420, ../sass/views-styles.scss */
.view.teaser-grid .node-article {
  height: 100%;
  /*position: relative;*/
}
/* line 425, ../sass/views-styles.scss */
.view.teaser-grid .ds-content-region {
  overflow: hidden;
}
/* line 428, ../sass/views-styles.scss */
.view.teaser-grid .ds-below-region {
  clear: both;
  position: relative;
}
/* line 432, ../sass/views-styles.scss */
.view.teaser-grid .ds-bottom-region {
  background: url("../images/gradients/txt-degradado-white.png") repeat-x 0 0;
  bottom: -12px;
  left: 0;
  margin: 0 -20px;
  padding: 54px 20px 23px;
  width: 100%;
}
/* line 442, ../sass/views-styles.scss */
.view.teaser-grid .field-name-field-author {
  border-bottom: 1px solid #EEE;
  margin: 3px 0;
  /*author photo*/
  /*author name*/
}
/* line 447, ../sass/views-styles.scss */
.view.teaser-grid .field-name-field-author img {
  float: left;
  margin: 0 10px 0 0;
}
/* line 453, ../sass/views-styles.scss */
.view.teaser-grid .field-name-field-author h3 {
  color: #fb4c1c;
  font: bold 0.8em Verdana, Tahoma, "DejaVu Sans", sans-serif;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
}
/* line 460, ../sass/views-styles.scss */
.view.teaser-grid .field-name-field-author h3 a {
  color: #fb4c1c;
}
/* line 463, ../sass/views-styles.scss */
.view.teaser-grid .field-name-field-author h3 a:hover {
  color: #FC673E;
}
/* line 470, ../sass/views-styles.scss */
.view.teaser-grid .field-name-field-topic {
  margin-bottom: 12px;
}
/* line 475, ../sass/views-styles.scss */
.view.teaser-grid img {
  float: none;
}
/* line 478, ../sass/views-styles.scss */
.view.teaser-grid img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 484, ../sass/views-styles.scss */
.view.teaser-grid .field-name-body {
  color: #525252;
  float: left;
  line-height: 1.2;
  margin-top: 3px;
}
/* line 490, ../sass/views-styles.scss */
.view.teaser-grid .field-name-body p {
  margin: 0;
}

/*teaser grid multimedia - photos & videos*/
/* line 496, ../sass/views-styles.scss */
.view.teaser-grid-multimedia {
  /*fields*/
}
/* line 498, ../sass/views-styles.scss */
.view.teaser-grid-multimedia .views-row {
  background: #333;
  float: left;
  margin-top: 6px;
  overflow: hidden;
  position: relative;
  width: 307px;
}
/* line 507, ../sass/views-styles.scss */
.view.teaser-grid-multimedia .views-row:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 512, ../sass/views-styles.scss */
.view.teaser-grid-multimedia .views-row img {
  max-width: none;
}
/* line 517, ../sass/views-styles.scss */
.view.teaser-grid-multimedia .views-row:nth-child(1), .view.teaser-grid-multimedia .views-row:nth-child(2) {
  margin-top: 0;
}
/* line 521, ../sass/views-styles.scss */
.view.teaser-grid-multimedia .views-row .node {
  height: 276px;
  overflow: hidden;
}
/* line 526, ../sass/views-styles.scss */
.view.teaser-grid-multimedia .views-row-even {
  float: right;
}
/* line 531, ../sass/views-styles.scss */
.view.teaser-grid-multimedia .field-name-social-share {
  position: absolute;
  right: 0;
}

/*
 * List
 *
 * This format is for lists of theme and search results
 */
/* line 543, ../sass/views-styles.scss */
.view.teaser-list .group-left {
  position: relative;
  width: auto;
}
/* line 548, ../sass/views-styles.scss */
.view.teaser-list .group-right {
  float: none;
  overflow: hidden;
  width: auto;
}

/*theme list*/
/* line 555, ../sass/views-styles.scss */
.view.teaser-list-theme {
  /*article*/
  /*multimedia*/
  /*ds*/
  /*fields*/
}
/* line 558, ../sass/views-styles.scss */
.view.teaser-list-theme .node-article {
  border-left: 2px solid #999;
  margin-left: 29px;
  padding: 11px 0 0 29px;
}
/* line 563, ../sass/views-styles.scss */
.view.teaser-list-theme .node-article img {
  margin-right: 20px;
  max-width: none;
  /*fix ie*/
}
/* line 567, ../sass/views-styles.scss */
.view.teaser-list-theme .node-article .group-footer {
  border-bottom: 1px solid #DDD;
  float: left;
  margin-top: 13px;
  width: 100%;
}
/* line 577, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery,
.view.teaser-list-theme .node-video {
  background: #f1eeec;
  padding-left: 29px;
  /*ds*/
  /*fields*/
}
/* line 583, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery .ds-content-region,
.view.teaser-list-theme .node-photo-gallery .ds-below-region,
.view.teaser-list-theme .node-video .ds-content-region,
.view.teaser-list-theme .node-video .ds-below-region {
  border-left: 2px solid #999;
  clear: both;
  padding: 12px 60px 20px 29px;
}
/* line 589, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery .ds-content-region,
.view.teaser-list-theme .node-video .ds-content-region {
  float: left;
  padding-bottom: 0;
}
/* line 593, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery .ds-below-region,
.view.teaser-list-theme .node-video .ds-below-region {
  padding-top: 0;
  overflow: hidden;
}
/* line 599, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery .field-name-post-date-timeago,
.view.teaser-list-theme .node-video .field-name-post-date-timeago {
  background-position: 0 -127px;
}
/* line 602, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery h2,
.view.teaser-list-theme .node-video h2 {
  margin-bottom: 0;
  padding-bottom: 15px;
}
/* line 606, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery .icon,
.view.teaser-list-theme .node-video .icon {
  left: 29px;
}
/* line 609, ../sass/views-styles.scss */
.view.teaser-list-theme .node-photo-gallery img,
.view.teaser-list-theme .node-video img {
  padding-bottom: 14px;
  /*fix IE*/
}
/* line 615, ../sass/views-styles.scss */
.view.teaser-list-theme .views-row-first .node-article {
  padding-top: 0;
}
/* line 621, ../sass/views-styles.scss */
.view.teaser-list-theme .views-row-last .group-footer {
  border: none;
}
/* line 626, ../sass/views-styles.scss */
.view.teaser-list-theme .ds-below-region {
  position: relative;
}
/* line 631, ../sass/views-styles.scss */
.view.teaser-list-theme .field-name-post-date-timeago {
  background-color: false;
  background-image: url("../images/clock.png");
  background-repeat: no-repeat;
  background-position: 0 3px;
  text-indent: -9999em;
  color: #999;
  line-height: 36px;
  margin: 0 0 12px -46px;
  padding-left: 46px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .view.teaser-list-theme .field-name-post-date-timeago {
  background-image: url("../images/clock.svg");
}
/* line 640, ../sass/views-styles.scss */
.view.teaser-list-theme .field-name-section-label,
.view.teaser-list-theme .field-name-section-label-photos-videos {
  background: none;
  font-weight: bold;
  line-height: 1;
  margin: 1px 0 5px;
  padding: 0;
  position: relative;
}
/* line 648, ../sass/views-styles.scss */
.view.teaser-list-theme h2 {
  float: left;
  margin: 4px 0 15px;
}

/**
 * Voices author
 */
/* line 658, ../sass/views-styles.scss */
.opinion-author {
  height: 252px;
  /*ds regions*/
  /*fields*/
}
/* line 662, ../sass/views-styles.scss */
.opinion-author .group-left {
  padding: 0 10px;
  width: 200px;
}
/* line 666, ../sass/views-styles.scss */
.opinion-author .group-left img {
  bottom: 0;
  position: absolute;
  left: 0;
}
/* line 672, ../sass/views-styles.scss */
.opinion-author .group-middle {
  margin: 0 20px 0 240px;
  padding-top: 42px;
  width: 380px;
}
/* line 677, ../sass/views-styles.scss */
.lt-ie8 .opinion-author .group-middle {
  margin-left: 20px;
}
/* line 681, ../sass/views-styles.scss */
.opinion-author .group-right {
  padding: 5px 0;
  width: 300px;
}
/* line 686, ../sass/views-styles.scss */
.opinion-author .taxonomy-term-description {
  color: #333;
  float: left;
  font-style: italic;
  margin: -4px 0 18px;
  width: 100%;
}
/* line 693, ../sass/views-styles.scss */
.opinion-author .taxonomy-term-description p {
  clear: both;
  margin: 0;
}
/* line 698, ../sass/views-styles.scss */
.opinion-author .field-name-field-biography {
  clear: both;
}
/* line 701, ../sass/views-styles.scss */
.opinion-author .field-name-author-social-voices-term {
  bottom: 18px;
  color: #1F1F1F;
  font-family: "Stag Web", Georgia, Times, sans-serif;
  font-style: italic;
  position: absolute;
}
/* line 710, ../sass/views-styles.scss */
.opinion-author .field-name-author-social-voices-term span {
  float: left;
}
/* line 713, ../sass/views-styles.scss */
.opinion-author .field-name-author-social-voices-term span.at {
  color: #777;
  margin-left: 5px;
}

/**
 * Search Results
 */
/* line 724, ../sass/views-styles.scss */
.view-search {
  /*header & filters*/
  /*ds regions*/
  /*fields*/
}
/* line 727, ../sass/views-styles.scss */
.view-search .view-header {
  border-bottom: 1px solid #EEE;
  color: #444;
  font-family: "Stag Web", Georgia, Times, sans-serif;
  font-size: 1.4em;
  overflow: hidden;
  padding-bottom: 18px;
}
/* line 737, ../sass/views-styles.scss */
.view-search .view-header h1 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
/* line 748, ../sass/views-styles.scss */
.view-search .result-summary,
.view-search .block-search-api-sorts {
  font-family: verdana;
  font-size: 0.714285714em;
}
/* line 754, ../sass/views-styles.scss */
.view-search .result-summary {
  float: left;
}
/* line 757, ../sass/views-styles.scss */
.view-search .result-summary span {
  color: #444;
  font-weight: bold;
}
/* line 762, ../sass/views-styles.scss */
.view-search .block-search-api-sorts {
  clear: none;
  float: right;
  overflow: visible;
}
/* line 767, ../sass/views-styles.scss */
.view-search .block-search-api-sorts .contextual-links-wrapper {
  top: -20px;
}
/* line 771, ../sass/views-styles.scss */
.view-search .block-search-api-sorts span {
  background-color: false;
  background-image: url("../images/separador.png");
  background-repeat: no-repeat;
  background-position: right center;
  text-indent: -9999em;
  color: #444;
  margin-left: 5px;
  padding-right: 10px;
  text-indent: 0;
}
/* line 61, ../sass/_custom.scss */
.svg .view-search .block-search-api-sorts span {
  background-image: url("../images/separador.svg");
}
/* line 778, ../sass/views-styles.scss */
.view-search .block-search-api-sorts span.sort-by-title {
  background: none;
  color: #777;
  padding: 0;
}
/* line 783, ../sass/views-styles.scss */
.view-search .block-search-api-sorts span:last-child {
  background: none;
  padding: 0;
}
/* line 787, ../sass/views-styles.scss */
.view-search .block-search-api-sorts span a {
  color: #777;
  display: inline;
}
/* line 791, ../sass/views-styles.scss */
.view-search .block-search-api-sorts span a:hover {
  color: #444;
}
/* line 798, ../sass/views-styles.scss */
.view-search .views-row {
  border-top: 1px solid #EEE;
  padding: 24px 0 22px;
}
/* line 802, ../sass/views-styles.scss */
.view-search .views-row-first {
  border: none;
  padding: 37px 0 22px;
}
/* line 808, ../sass/views-styles.scss */
.view-search .group-left,
.view-search .group-right {
  width: auto;
}
/* line 811, ../sass/views-styles.scss */
.view-search .group-right {
  float: none;
  overflow: hidden;
}
/* line 817, ../sass/views-styles.scss */
.view-search img {
  margin-right: 20px;
  max-width: none;
  /*fix ie*/
}
/* line 821, ../sass/views-styles.scss */
.view-search .field-name-section-date-search {
  color: #878787;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 0.8;
  text-transform: uppercase;
}
/* line 830, ../sass/views-styles.scss */
.view-search .field-name-section-date-search a {
  color: #fb4c1c;
  display: inline;
  margin-right: 5px;
}
/* line 835, ../sass/views-styles.scss */
.view-search .field-name-section-date-search a:hover {
  text-decoration: underline;
}
/* line 840, ../sass/views-styles.scss */
.view-search .field-name-field-topic {
  margin-bottom: 7px;
}
/* line 843, ../sass/views-styles.scss */
.view-search .field-name-body {
  clear: both;
  float: left;
  line-height: 1.2;
  margin-top: 2px;
}
/* line 849, ../sass/views-styles.scss */
.view-search .field-name-body p {
  margin: 0;
}
