@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic&subset=latin,latin-ext,cyrillic,cyrillic-ext);

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?r2gxu6');
    src:    url('../fonts/icomoon.eot?r2gxu6#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?r2gxu6') format('truetype'),
        url('../fonts/icomoon.woff?r2gxu6') format('woff'),
        url('../fonts/icomoon.svg?r2gxu6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

html, body {
	   margin:0;
	   padding:0;
	   height:100%;
}
#main {
	min-height:100%;
	position:relative;
}
#footer {
/*	position:absolute;*/
	bottom:0;
	width:100%;
	height:180px; /* footer height */
	background-color:#7161ae;
	z-index: 909;
}
		
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

body {
  line-height:1;
}

ul, ol {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

body {
    color: #444;
    font-family: "Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
    margin: 0;
    padding: 0;
}
a{
	text-decoration:none;
}
a{

}
.bold{
	font-weight:700;
	font-style:normal;
	color:#3498db;
}


#g_header{
	position:relative;
	z-index: 1000;
}
.i_header, .i_header_sub{
	width: 100%;
	position:absolute;
	position:fixed;
	background: rgba(255,255,255,0.9);
	border-bottom:1px solid #e1e1e1;
	top:0px;
	display: inline-table;
	height: 70px;	
}
.logo_back{
	width:99px;
	height:128px;
	position:absolute;
	display: inline-block;
	left:-49px;
}
.i_header_sub{
	position:relative;
	background:#666; /* for IE8 */
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}

#logo {

}
#logotype{
    color: #666;
    font-family: "Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 30px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 25px;
}

.logo_pic{
/*	background-image: url("../img/logo.png");*/
	display: inline-block;
    height: 57px;
	width: 182px;
    left: 50px;
    position: absolute;
    top: 10px;
}
#logo img{
	width: 145px;
    height: 45px;
}

#mobile_btn {
	display: inline-block;
    right: 20px;
	position:relative;
    height: 55px;
    left: 10px;
    top: 8px;
    float: left;
}
#mobile_btn:before{
	color: #7161ae;;
    content: '\f0c9';
    position: absolute;
    top: 18px;
    left: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    font-family: FontAwesome;
    font-weight: 400;
}
#t_menu{
	width: 1150px;
	margin: 0 auto;
	text-align: left;
	position:relative;
	line-height:1em;
}
.t_menu_cont{
	display: inline-block;
	width: 100%;
	text-align: right;
}
.t_menu_left{
	display: inline-block;
    text-align: right;
	position:relative;
}
.t_menu_right{
	display: inline-block;
    float: left;
    text-align: left;
    width: 50%;
}
#t_menu ul {
	padding:0;
	margin:0;
	list-style-type: none;
	display: inline-block;
	text-align:left;
	padding: 25px 20px 0px 0px;
	position:relative;
	height:20px;
}
#t_menu ul li { 
	float:left;
	margin-left:30px;
	position:relative;
}

#t_menu ul li:first-child{
	margin-left:0;
/*	display:none;*/
}
#t_menu ul li:last-child{
/*	display:none;*/
}
#t_menu ul li a {
	display:block;
	color:#808080;
	text-decoration:none;
	margin:0px;
	padding: 0 0 2px;
	font-family: "Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	font-weight: 400;
	font-size: 16px;
    line-height: 16px;
/*	transition: all 0.2s ease 0s;*/
}
#t_menu ul li.current a{
	color:#3498db;
}
/* Submenu */
#t_menu ul ul {
	position:absolute;
	display:none;
	list-style-type:none;
	margin:0;
	padding:0;
}
#t_menu ul li:hover { position:relative; }
#t_menu ul li:hover a{ color: #7161ae; }
#t_menu ul li:hover ul {
	left:0px;
	top:63px;
	display:block;
}

#t_menu ul li:hover ul li a {
	display:block;
	width:200px;
	padding:20px 10px;
	margin:0;
	color:#535353;
}
#t_menu ul li:hover ul li a:hover { background:#fd7a50; color:#fff; }

#mainmenu ul{display:none;  height: auto; position:absolute; top:70px;box-shadow: 2px 2px 15px rgba(0,0,0,0.2);}
#mainmenu ul li{
	float:inherit;
	margin:0px;
}
.hidden {display:none;}
#mainmenu .show {display:inherit;}
#mainmenu ul li.hidden a{

}
#mainmenu .title { padding:20px;background:#dfdff9; }
#mainmenu .title:before {
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 18px;
}
#mainmenu ul li::before { display:none;}
#mainmenu ul{ padding:0px; margin:0px; height:auto;  width: 240px; background-color:#fbfbfb;}
#mainmenu ul li a {color: #444; padding: 15px 20px; border-bottom: 1px solid #eee;margin: 0;}
#mainmenu ul li:hover a{ color: #fff; border-bottom: 1px solid #fff; background-color:#7161ae; 	transition: all 0.2s ease 0s;}

/*animation arrows*/
.ghost-box{
    position: relative;
	top: -110px;
    left: 135px;
}
.login-btn{
	color: #fff;
    background-color: #34c48b;
    border-radius: 30px;
    padding: 12px 80px;
    position: relative;
    font-size: 22px;
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0, 0.97) 0s;
    top: 0px;
    margin-right: 0px;
    left: 0px;
	position: absolute;
	cursor:default;
	display:none;
}
.login-btn:hover{
/*	background-color:#17af74;*/
}
div.wrapper {
    position: relative;
    margin: 0 auto;
    color: #eee;
    top: 27px;
    left: 65px;
    z-index: 991;
	display:none;
}
#bond-left {
    position: absolute;
    left: -20px;
	font-size:6px;
}
#bond-left:before, #bond-left:after {
    content: "";
    position: absolute;
    left: 7em;
    width: 2em;
    height: 2em;
    margin-left: -1em;
    margin-top: -1em;
    border: 2px solid #fff;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: arrows 1.5s infinite;
    animation: arrows 1.5s infinite;
}
#bond-right {
    position: absolute;
    left: 230px;
	font-size:6px;
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}
#bond-right:before, #bond-right:after {
    content: "";
    position: absolute;
    left: 7em;
    width: 2em;
    height: 2em;
    margin-left: -1em;
    margin-top: -1em;
    border: 2px solid #fff;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: arrows 1.5s infinite;
    animation: arrows 1.5s infinite;
}
.special{
	color: #7161ae !important;
    border: 1px solid #7161ae;
    border-radius: 30px;
    padding: 8px 30px !important;
    position: relative;
    transition: all 0.2s ease 0s;
    top: -5px;
	margin-right:20px;
}
.special:hover{
	color: #fff !important;
	background-color:#7161ae;
}
.lng_selector{
	display:inline-block;
	float:right;
	padding:45px 20px 0px 0px;
}
.lng_icon{
	color:#666666;
	border:1px solid #b7b7b7;
	padding:7px;
	margin-right:10px;
}
.social-icon-small{
	display: inline-block;
    left: 50%;
    position: absolute;
}
.social-icon-small div{
	display: inline-block;
    left: -25px;
    position: absolute;
    width: 200px;
	top: 25px;
}
.social_icon_small_fb, .social_icon_small_twitter, .social_icon_small_mail{
	background:rgba(0, 0, 0, 0) url("../images/social-icon-small.png") no-repeat scroll 0 0;
	display:inline-block;
	width:23px;
	height:23px;
	margin-right:10px;
}
.social_icon_small_twitter{
	background-position:0px -24px;
}
.social_icon_small_mail{
	background-position:0px -47px;	
}
.social_icon_small_fb:hover{
	background-position:-25px 0px;
}
.social_icon_small_twitter:hover{
	background-position:-25px -24px;
}
.social_icon_small_mail:hover{
	background-position:-25px -47px;
}

/* Footer Menu */
/* Footer */

.footer-content{
	width:1125px;
	margin:0 auto;
	padding:30px;
}
#footer .title{
	color:#d9ceff;
	margin-bottom:5px;
	font-size:18px;
}
.footer-wrap{
	float:left;
	width:20%;
}
#footer a{ color:#fff;}
#footer ul {
	padding:0;
	margin:0;
	list-style-type:none;
	display: inline-block;
	text-align:left;
}
#footer ul li {  }
#footer ul li a {
	color:#fff;
	text-decoration:none;
	margin:0px;
	padding:1px 0px;
	display:inline-block;
	font-size:14px;
}
#footer ul li a:hover {
	color:#34c48b;
}
#footer .social_icons{
	float:left;
}
.facebook:before {
	content: '\f09a';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    font-family: FontAwesome;
    vertical-align: top;
    font-weight: 400;
    margin-top: 0px;
    margin-right: 30px;
    display: inline-block;
	position: relative;
    top: -15px;
}
.twitter:before {
    content: '\f099';
	color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    font-family: FontAwesome;
    vertical-align: top;
    font-weight: 400;
    margin-top: 0px;
    margin-right: 30px;
    display: inline-block;
	position: relative;
    top: -15px;
}

.mod-languages{
	display:inline-block;
}
.footer-txt{
	padding:50px 5px;
	display:inline-block;
	float:right;
}
.t_r_btn{
	float:right; 
	margin:12px 0 0 0;
}
.btn, .btn_white{
    color:#fff;
	background-color: #3498db;
    border: 2px solid #3498db;
	font-weight: bold;
    padding: 15px 45px;
	cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro",sans-serif;
    letter-spacing: 1px;
    outline: 0 none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
	font-size:14px;
}
.btn:hover{
	color:#fff;
	background-color: #333;
	border-color: #333;
}
.btn_white{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-color: #fff;
    color: #fff;
}
.btn_white:hover{
	background-color: #fff;
	border-color: #fff;
	color:#333;
}

.social_icon{
	position:absolute;
	margin:230px 0px 0px 20px;
}
.social_icon div{
	margin-bottom:35px;
}
.social_icon_title{
	border-bottom: 1px solid #444;
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 13px;
    margin-bottom: 15px !important;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.social_icon_fb, .social_icon_twitter, .social_icon_mail{
	background:rgba(0, 0, 0, 0) url("../images/social-icon.png") no-repeat scroll 0 0;
	display:inline-block;
	width:34px;
	height:34px;
}
.social_icon_twitter{
	background-position:0px -34px;	
}
.social_icon_mail{
	background-position:0px -68px;	
}
.social_icon_fb:hover{
	background-position:-34px 0px;
}
.social_icon_twitter:hover{
	background-position:-34px -34px;
}
.social_icon_mail:hover{
	background-position:-34px -68px;
}

.hero-video{
}
.hero-image{
}

/*slider*/
#banner{
	position:absolute;
	top:0;
	left:0;
	width: 100%; 
	height: 100%; 
}
.background{
	background-image: url("../img/top_bcg.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

.move-down {
    bottom: 4%;
    display: table;
    position: absolute;
    text-align: center;
    width: 100%;
	z-index:906;
}
.move-down span {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 55px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
.angle-down {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}
.angle-down::before {
    content: "\f107";
}
.cycle-slideshow { width: 100%; height: 100%; }
.cycle-pager { 
    text-align: center; width: 100%; z-index: 904; position: absolute; top: 620px; left:0;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; line-height: 16px; display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #3498db;}
.cycle-pager > * { cursor: pointer;}


.bgvideo{
	bottom: 0;
	position: absolute;
	right: 0;
	z-index: -100;
}
#bgvid {
	background-color:#edebec;
    background-image: url("../images/banner-home.jpg");
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
    bottom: 0;
	height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -100;
	
}

#hero{
    height: 630px;
    text-align: center;
	overflow: hidden;
	position:relative;
}
#subpage .hero-h{height: 350px !important;}
#subpage .background { background-position: center top;}
#subpage .hero-box {
    margin-top: 95px;
    padding: 0px;
    text-align: center;
    width: 760px;
}
#subpage .hero-content{ width:auto; text-align:center;}
#subpage  h1{ font-size:42px;}
#subpage .smallbuttons{ margin-top:0px;}
.hero_btn{
	margin-top:30px;
}
.hero_btn .btn_white{
	font-size:24px;
}
.hero-content{
	display: inline-block;
    height: 100%;
	padding:0 30px;
    position: relative;
    text-align: right;
    width: 1150px;
	top:0px;
	z-index:905;
	box-sizing: border-box;
}
.hero-box{
    margin-top: 150px;
	padding:0px;
	text-align: left;
	width: 600px;
}
#hero p {
    color: #fff;
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-size: 36px;
    font-weight: 200;
    line-height: 1.2em;
	width:640px;
}
#hero h1,#hero p{
	/*margin: 30px 50px auto 50px;*/
}
#anim_btn{
	margin-top: 50px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.download{
	margin: 0 auto;
    display: inline-block;
}
.gp a,.ios a,.mac a,.pc a { color:#fff;}
.gp,.ios,.mac,.pc {
	float:left;
	width: 125px;
}
.mac,.pc {
	display:none;
}
.gp a:before,.ios a:before,.mac a:before,.pc a:before {
   /* color: #e3dfef;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 72px;
    font-family: FontAwesome;
    vertical-align: top;
    font-weight: 400;
    margin: -5px 30px;
    display: inline-block;
}
.gp a:before {	content: '\f17b';}
.ios a:before {	content: '\f179';}
.pc a:before {	content: '\f17a';}
.mac a:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 72px;
	font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	vertical-align: top;
    font-weight: 400;
    margin: 12px 30px 10px 30px;
    display: inline-block;
	content: "\e900";
}

#searchfield {
    display: block;
    width: 100%;
    margin-bottom: 35px;
}
#searchfield form {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    width: 440px;
    position: relative;
}
#searchfield form .biginput {
    background: #fff;
    border: 1px solid #dfdeda;
    font-size: 2em;
    color: #616265;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    outline: none;
    display: inline-block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 6px;
}
#searchfield form .currency {
    position: absolute;
    right: -42px;
    top: 20px;
    border: none;
    z-index: 2000;
    border-left: 0.6vw solid #dfdeda;
    cursor: pointer;
    padding: 30px 40px;
    border-radius: 6px;
    outline: none;
    background-color: #614c9f;
    color: #fff;
}
#searchfield form .currency:before{
	color: #fff;
    content: '\f002';
    position: absolute;
    top: 15px;
    left: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    font-family: FontAwesome;
    font-weight: 200;
}
#autocomplete{ display:none !important;}
#searchfield form .currency{display:none;}
#ratesbox {
/*    display: inline-block;*/
display:none;
}
#ratesbox div{ float:left; width:100%;}
#ratesbox div:before {
    content: '';
    background-size: cover;
    margin-right: 25px;
    width: 80px;
    margin-bottom: 50px;
    height: 80px;
    float: left;
    margin-top: -10px;
}
.en:before {
    background: url("../img/flag_great_britain.png") no-repeat;
}
.bg:before {
    background: url("../img/flag_bangladesh.png") no-repeat;
}
.in:before {
    background: url("../img/flag_india.png") no-repeat;
}

.ghost{
	background-image: url("../img/free_calls_img.png?7");
	width: 500px;
    height: 370px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 30px;	
}
.ghost1{
	background-image: url(../img/features_screen.png?7);
    width: 435px;
    height: 560px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 30px;
}
.ghost2{
	background-image: url("../img/emot_screen.png?7");
    width: 315px;
    height: 540px;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 30px;	
}
.ghost3{
	background-image: url("../img/multidevice_img.png?7");
	width: 1000px;
    height: 900px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.ghost4{
	background-image: url(../img/landline_screen.png?7);
    width: 560px;
    height: 800px;
    display: inline-block;
    position: absolute;
    top: -50px;
    right: 30px;
}
.ghost5{
	background-image: url("../img/responsive_websites.png?7");
    width: 765px;
    height: 420px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0px;
    background-size: 500px 392px;
}
.ghost6{
	background-image: url("../img/email_screen.png?7");
    width: 315px;
    height: 510px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.ghost7{
	background-image: url(../img/numbers_screen.png?7);
    width: 560px;
    height: 800px;
    display: inline-block;
    position: absolute;
    top: -50px;
    left: 30px;
}
.ghost8{
background-image: url("../img/landline_screen.png?7");
    width: 780px;
    height: 640px;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    background-position: left center;
    right: 0px;
}
.content-frame{ 
    height: 100%;
    padding: 0 30px;
    position: relative;
	text-align: right;
    width: 1150px;
    top: 0px;
    z-index: 905;
    box-sizing: border-box;
	margin:0 auto;
	overflow:hidden;
}
.content-box{ 
	width:600px;
	display: inline-block;
	padding: 180px 0px 220px 0px;
}
#content-row1{
	background-color: #fff;
    background-image: url("../img/login_bg_grey.png");
	background-position: center top;
    background-repeat: repeat-x;
	width:100%;
}
#content-row1 h1{ color:#7161ae;}
#content-row2 h1,#content-row5 h1{ color:#fff;}
.clickhere{
	background: #7161ae;
    padding: 5px 25px 5px 20px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
	margin-bottom: 15px;
    font-size: 14px;
    display: inline-block;
}
.clickhere:hover{
	background: #614c9f;
}
#content-row2{
	background-image: url("../img/top_bcg1.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}
#content-row2 .content-frame{ 
    text-align: right;
}
#content-row2 .content-box{ 
	width:670px;
	display: inline-block;
}
#content-row2 .content-box p{ 
	color:#fff;
}

#content-row3{
	/*	background-color:#eaeaea;
	background-image: url("../img/bcg.png");*/
	background-color: #fff;
    background-image: url("../img/login_bg_grey.png");
	background-position: center top;
    background-repeat: repeat-x;
	width:100%;
}
#content-row3 .content-frame{ ;
    text-align: left;
}
#content-row3 .content-box{ 
	width:670px;
	display: inline-block;
	padding: 100px 0px 800px 0px;
}
#content-row3 h1{ color:#7161ae;}

#content-row4{
	background-color:#fff;
	background: -webkit-linear-gradient(#eaeaea, #fff); 
    background: -o-linear-gradient(#eaeaea, #fff);
    background: -moz-linear-gradient(#eaeaea, #fff);
    background: linear-gradient(#eaeaea, #fff); 
	width:100%;
	overflow:hidden;
}
#content-row4 .content-frame{ ;
    text-align: left;
}
#content-row4 .content-box{ 
	width:480px;
	display: inline-block;
	padding: 180px 0px 280px 0px;
}
#content-row4 h1{ color:#7161ae;}
#content-row5{
	background-image: url("../img/purple_bgd.jpg?7");
	background-position: center bottom;
    background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}
#content-row5 .content-frame{ 
    text-align: right;
}
#content-row5 .content-box{ 
	width:540px;
	display: inline-block;
}
#content-row5 .content-box p{ 
	color:#fff;
}
#content-row6{
	background-color: #fff;
    background-image: url("../img/login_bg_grey.png");
	background-position: center top;
    background-repeat: repeat-x;
	width:100%;
}
#content-row6 .content-frame{ 
    text-align: left;
}
#content-row6 h1{ color:#7161ae;}
#content-row7{
	background-image: url("../img/purple_bgd.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}
#content-row7 .content-frame{ 
    text-align: right;
}
#content-row7 .content-box{ 
	width:480px;
	display: inline-block;
	padding: 180px 0px 240px 0px;
}
#content-row7 .content-box p{ 
	color:#fff;
}
#content-row8{
	background-color: #fff;
    background-image: url("../img/login_bg_grey.png");
	background-position: center top;
    background-repeat: repeat-x;
	width:100%;
	display:none;
}
#content-row8 .content-frame{ 
    text-align: left;
}
#content-row8 .content-box{ 
	width:480px;
}
#content-row8 h1{ color:#7161ae;}
#subpage-row{
/*	background-color:#eaeaea;
	background-image: url("../img/bcg.png");*/
	background-color: #fff;
    background-image: url("../img/login_bg_grey.png");
	background-position: center top;
    background-repeat: repeat-x;
	width:100%;
}
#subpage-row .content-frame{ ;
    text-align: left;
}
#subpage-row .content-box{ 
	width:100%;
	display: inline-block;
	padding: 100px 0px 100px 0px;
}
#subpage-row h1{ color:#7161ae;}


#anim_signs{
	margin-top:20px;
}
.sign1{
	background-image: url("../img/sign1.png");
	display: inline-block;
	width:274px;
	height:60px;
	margin-top:20px;
	margin-right:20px;
}
.sign2{
	background-image: url("../images/sign2.png");
	display: inline-block;
	width:84px;
	height:60px;
	margin-top:20px;
}

h1,h2,h3{}
h1{
	color: #fff;
    display: inline-block;
    font-size: 50px;
    font-weight: 200;
    padding: 0px;
    text-decoration: none;
	font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	line-height: 1.0em;
	margin-bottom: 10px;
    margin-top: 20px;
}
h1 .light{
	text-decoration:underline;
}
#howitworks {
    background: #fff;
    border: 4px solid #dfdeda;
    box-shadow: -14px 14px 0 rgba(223,222,218,0.2);
    margin-top: 20px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
#howitworks ul{
	margin:20px auto;
	text-align:left;
}
#howitworks li{
	margin:20px auto;
}
.map-container{
	display: inline-block;
	height: 500px;
	position: relative;
	width: 100%;	
}
#map {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#contact{
	height: 450px;
	width:100%;
	background-color:#eaeaea;
	clear: both;
	text-align:center;
	position: relative;
	overflow: hidden;
}
.contact-frame{
	margin: 0 auto;
    position: relative;
    text-align: center;
    width: 1125px;
}
.contact-content{
	color:#fff;
	padding: 60px;
	font-style:italic;
	position: relative;
	z-index: 902;
}
.contact-content:after {
	left: 50%;
	top: -30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #3498db;
	border-width: 30px;
	margin-top: -30px;
	margin-left: -30px;
	transform: rotate(-90deg);
}
.contact-content h2{
	color:#fff;
	font-style:normal;
	padding-bottom: 10px;
}
.contact-hours{
	font-family: "Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	font-weight: 700;
	text-transform:uppercase;
	font-size: 16px;
    letter-spacing: 2px;
    line-height: 1em;
	font-style:normal;
}

#data{
	width:100%;
	background-color:#3498db;
	clear: both;
	text-align:center;
	position: relative;
}

#news{
	width:100%;
	background-color:#2c3e50;
	background:rgba(0, 0, 0, 0) url("../images/dark-wood.jpg") repeat scroll center top;
	clear: both;
	text-align:center;
	position: relative;
	overflow: hidden;
}
.news-frame{
	display: inline-block;
    padding: 120px 0;
    position: relative;
    text-align: center;
    width: 1125px;
}
.news-title{
	text-align:center;
	color: #fff;
}
.news-img{
	background: rgba(0, 0, 0, 0) url("../images/plate2.png") no-repeat scroll 0 0;
    top: 0;
    height: 690px;
    overflow: visible;
    position: absolute;
    left: -180px;
    width: 611px;
	z-index: 900;
}
.news-content{
	margin: 0px auto;
	text-align:center;
	display: table;
	padding-top: 30px;
	z-index: 901;
	width: 100%;
}
.news-date, .news-event{
	float:left;
	margin:0px;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	color: #fff;
	text-align: left;
	font-family: "Bitter","Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	font-style:italic;
	font-size:18px;
}
.news-date{
	width:30%;
	text-align:right;
	position:relative;
	padding: 10px 20px 50px;
}
.news-event{
	width:70%;
	padding: 15px 20px 0px 20px;
}
.news-date-txt{
	display:inline-block;
	background:rgba(0, 0, 0, 0) url("../images/news-date.png") no-repeat scroll right 0;
	width:156px;
	height:29px;
	position: absolute;
    right: 0;
	padding:3px 10px 0 0;
	z-index:903;
	top: 45px;
	margin-right: 15px;
	color:#444;
	font-size:15px;
}
.news-event-txt{
	border-left:1px solid #585655;
	margin-left:0px;
	padding:5px 0px 5px 35px;
	font-size:16px;
	line-height:1.8em;
}
.news-event-title{
	font-size:18px;
}


h2, h3{
	color: #34c48b;
    display: inline-block;
    font-size: 50px;
    font-weight: 900;
    padding: 0 20px;
    text-decoration: none;
	font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	line-height: 1.0em;
	
}
h3{
	font-size: 24px;
}

#s_wraps{
	width:100%;
	background-color:#3498db;
	clear: both;
	text-align:center;
	padding:70px 0;
}
#s_wraps h2, #s_wraps h3{
    padding: 10px;
	color:#fff;
}
#s_wraps h3{
	font-size: 24px;
}
.wraps-content{
	color:#999;
	margin: 0px auto;
    width: 1150px;
	text-align:center;
	display: table;
	padding-top: 30px;
}
.wrap{
	width:33.33%;
	float:left;
	padding: 80px 20px 30px 20px;
	margin:0px;
	background: url("../images/icon.png") no-repeat scroll top center transparent;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.wraps_text{
	color:#fff;
	margin: 0px auto;
    width: 1150px;
	text-align:center;
	padding: 30px 20px;
	font-size:20px;
}

#gallery{
	background-color: #fbfbfb;
    clear: both;
    padding: 70px 0;
    text-align: center;
    width: 100%;
}
.gallery-content{
	color:#999;
	margin: 0px auto;
    width: 1150px;
	text-align:center;
	padding: 100px 20px;
	font-size:20px;
}

#info{
	width:100%;
	background-color:#3498db;
	clear: both;
	text-align:center;
	padding:100px 0;
	/*background:url("../images/banner-gantry.jpg");	
	background-position: center center;
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	background-attachment: fixed;*/
}
.info-frame{
	color:#fff;
    text-align: center;
    width: 1125px;
	padding:0px 30px;
	margin:0px auto;
}
#info h2{
	color:#fff;
	font-style:normal;
	padding-bottom: 40px;
}
.contact-content-wraps{
	color:#fff;
	margin: 0px auto;
    width: 100%;
	text-align:center;
	display: table;
	padding-top: 30px;
}
.contact-wrap{
	width:50%;
	float:left;
	padding: 30px 20px 30px 20px;
	margin:0px;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.contact-icon1{
	display:inline-block;
	background: url("../images/mark1.png") no-repeat scroll 0 0 transparent;
	width:150px;
	height:105px;
	margin:10px;
}
.contact-icon2, .contact-icon2de{
	display:inline-block;
	background: url("../images/mark2.png") no-repeat scroll 0 0 transparent;
	width:150px;
	height:105px;
	margin:10px;
}
.contact-icon2de{
	background: url("../images/mark2de.png") no-repeat scroll 0 0 transparent;
}

.page-content {
    background: #fff;
    border: 4px solid #dfdeda;
    box-shadow: -14px 14px 0 rgba(223,222,218,0.2);
    margin-top: 20px;
    padding-bottom: 10px;
	display:inline-block;
	width:100%;
	padding: 30px;
    box-sizing: border-box;
}
.whatis-free {
    width: 50%;
    float: left;
}
.whatis-title{
    font-size: 24px;
    margin-left: 20px;
}
img {
    border: 0;
    vertical-align: middle;
}
.entry-content img, .entry-summary img, #site-header img, .widget img, .wp-caption {
    max-width: 100%;
}
select {
    box-shadow: -14px 14px 0 rgba(223,222,218,0.2);
    margin-top: 20px;
    width: 96%;
    padding: 10px 20px;
    height: 100px;
}
label.help {
    position: relative;
}
label.help:before {
    content: '';
    background: #34c48b;
    position: absolute;
    pointer-events: none;
    z-index: 2000;
    border-left: 0.6vw solid #dfdeda;
    display: block;
	right: 0px;
    top: -42px;
    width: 100px;
    height: 100px;
}

label.help:after {
	content: '\f0d7';
    color: #fff;
    height: 100px;
    width: 100px;
    text-align: center;
    right: 0px;
    top: -17px;
    position: absolute;
    pointer-events: none;
    z-index: 2000;
    font-family: FontAwesome;
    font-size: 34px;
}

#selectMenu {
    background: #fff;
    border: 1px solid #dfdeda;
    font-size: 2em;
    color: #616265;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    outline: none;
    display: inline-block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 6px;
}
.rates-free{
	box-shadow: -14px 14px 0 rgba(223,222,218,0.2);
    color: #fff;
    margin-top: 20px;
    padding: 2%;
    max-height: 80px;
    height: auto;
    position: relative;
    background: #ff953d;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#multi-content {
    position: relative;
    overflow: hidden;
    height: auto;
}
#multipackages {
    position: relative;
    max-width: 100%;
    width: 100%;
    left: 0;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 15px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.plan-header {
	background: #34c48b;
    box-shadow: -14px 14px 0 rgba(223,222,218,0.2);
    color: #fff;
    margin-top: 20px;
    padding: 2% 4% 2% 2%;
    max-height: 80px;
    height: auto;
    position: relative;
}
#multi-content h3 {
    font-size: 30px;
	color: #fff;
	margin-bottom: 0;
	margin-left:0px;
	padding: 0;
}
#pay-form{
	margin-top:30px;
	display:none;
}
#pay-form img {
    border: 0;
    vertical-align: top;
    margin: 0;
    padding: 0;
    position: relative;
    top: -40px;
}
.plan-header a.forward {
    height: 100%;
    width: 10%;
    position: absolute;
    right: -15px;
    top: 0px;
    padding-left: 20px;
    cursor: pointer;
    z-index: 6000;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.plan-header a.forward:after {
	content: '\f0da';
    color: #fff;
    text-align: center;
    right: 0px;
    top: 0px;
    position: absolute;
    font-family: FontAwesome;
    padding-top: 25%;
    padding-right: 50px;
    font-size: 30px;
}
.points {
    background: #fff;
    width: 96%;
    height: 40px;
    position: relative;
    box-shadow: -14px 14px 0 rgba(223,222,218,0.2);
}
.points {
    height: 100px;
    box-shadow: -14px 14px 0 rgba(223,222,218,0.2);
}
.first-point:before, .second-point:before, .third-point:before {
    width: 70px;
    height: 80px;
    position: absolute;
    color: #fff;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: bold;
	font-size: 2em;
}
.first-point:before {
    background: #7161ae;
    content: "1.";
	
}
.second-point:before {
    background: #34c48b;
    content: "2.";
}
.third-point:before {
    background: #ff953d;
    content: "3.";
}
.third-point .checkboxes {
    color: #ff953d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.3em;
    padding-top: 1%;
}
.points .checkboxes {
    padding-left: 120px;
}
.checkbox {
    position: relative;
    float: left;
}
.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #fff;
    border: 3px solid #afafaf;
    border-radius: 50%;
}
.checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 73%;
    padding-bottom: 73%;
    background: #34c48b;
    top: 2px;
    left: 2px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 50%;
	width: 86%;
    padding-bottom: 86%;
}
.pt1 .checkbox, .pt2 .checkbox, .pt3 .checkbox {
    width: 14%;
    margin: 30px 6% 0;
    padding-left: 6%;
    font-size: 2.3em;
}
input[type=radio] {
    visibility: hidden;
}
#subpage-row h3{
	padding: 0px;
    font-weight: 400;
    display: inline-block;
    margin: 10px 0 10px 0;
}
#country-list{ width:100%; display:inline-block;}
.country-col{float:left; width:25%;}
.country-legend{ margin-top:30px;}
.country{ font-weight:600; margin-bottom:10px;}
.green{ color:#34c48b;}
.gray{ color:#777;}



@media (max-width: 1150px) {
	#t_menu{
		min-width: auto;
    	width: auto;
	}
	#hero{
		height:480px;
	}
	#hero h1{
		font-size: 40px;
	}
	#subpage h1{
		font-size: 24px;
	}
	#hero p{
		font-size: 16px ;
		line-height: 24px;
	}
	.hero-box{
		margin-top:160px;
	}
	.wraps-content, .wrap, .news-date,  .news-content, .news-event, .contact-wrap, .contact-content-wraps, .footer-content{
		width:100%;
	}
	#ratesbox, .content-frame, .wraps-frame, .footer-content, .contact-frame, .news-frame, .wraps_text, .gallery-content, .info-frame{
		width: auto;
	}
	.social_icon{
		margin:30px 0px 0px 20px;
	}
	.btn{
		color:#fff;
	}
	.cycle-pager { 
		top: 420px;
	}
}
@media (max-width: 1150px) {
	#logotype{ padding-left:20px;}
	.lng_selector {	display: none;	}
	.hero-content{	width:100%;	}
	.ghost {   height: 260px;}
	.hero-box {  width: 50%;}
	#anim_btn {margin-top: 0px; }
	.hero-box{margin-top:80px;}

/*	.background{
		background-position: center bottom;
	}*/
}
@media (max-width: 1024px) {
	.ghost, .ghost1, .ghost2, .ghost3, .ghost4, .ghost5{display: none;}
	.login-btn{
		position:absolute;
		background: none;
		top: 420px;
		width: 100%;
		left: 0;
		font-size: 14px;
		padding: 0px;
	}
	.ghost-box{ left:20px;}
	.ghost1 {
		width: 435px;
		height: 340px;
		display: inline-block;
		top: 240px;
		left: calc(50% - 210px);
	}
	.ghost2 {
		width: 315px;
		height: 340px;
		display: inline-block;
		top: 240px;
		left: calc(50% - 160px);
	}
	.ghost4 {
		display: inline-block;
		top: 140px;
		left: calc(50% - 310px);
		background-size: 400px 648px;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.ghost5 {
		height: 390px;
		display: inline-block;
		top: 380px;
		left: calc(50% - 250px);
	}
	.ghost6 {
		width: 315px;
		height: 340px;
		display: inline-block;
		top: 320px;
		left: calc(50% - 260px);
	}
	.ghost7 {
		display: inline-block;
		top: 140px;
		left: calc(50% - 280px);
		background-size: 400px 646px;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.ghost8 {
	width: 800px;
		height: 760px;
		display: inline-block;
		top: 240px;
    	left: -280px;
		
	}
	.content-box{ text-align: center;}
	#content-row1 .content-box {padding: 50px 0px 280px 0px;}
	#content-row2 .content-box {padding: 50px 0px 300px 0px;}
	#content-row3 .content-box {padding: 50px 0px 100px 0px;}
	#content-row4 .content-box {padding: 50px 0px 450px 0px;}
	#content-row5 .content-box {padding: 50px 0px 450px 0px;}
	#content-row6 .content-box {padding: 50px 0px 320px 0px;}
	#content-row7 .content-box {padding: 50px 0px 500px 0px;}
	#content-row8 .content-box {padding: 50px 0px 320px 0px;}
	#searchfield form{ width: 80%;}
	#ratesbox div {
		 width: 100%;
	}
	.whatis-free, .whatis-paid{
		 width: 100%;
	}
	#subpage .hero-box, .content-box, #content-row2 .content-box, #content-row3 .content-box, #content-row4 .content-box,#content-row5 .content-box,#content-row7 .content-box,#content-row8 .content-box{ width:auto;}
	.hero-content{
		box-sizing: border-box;
		height: auto;
		position: relative;
		width: inherit;
	}
	.hero-box {
		margin: 20px;
		margin-top:120px;
		padding: 10px;
		width: auto;
		text-align:center;
	}
	#hero h1,#hero p{
		margin:0 0px;
	}
	#hero p {
		width:auto;
		margin-top:10px;
	}
	#anim_btn > .btn{
		margin-top:0px;
	}
	#anim_btn{
		margin:0px;
	}
	.gp, .ios, .mac, .pc {	width: 100px;}
	.mac, .pc { display:none;}
	.gp a:before, .ios a:before, .mac a:before, .pc a:before{ margin: 5px 10px;}
	
	/*mobile menu*/
	.i_header, .i_header_sub{
		height:50px;
		background-color:#FFFFFF;
		position:absolute;
	}
	#menu{ display:none;}
	#mainmenu{ 
		position: absolute;
		top: 0px;
		width: 100%;
	}
	#mainmenu ul{ top:56px;}
	.hidden {/*display:inherit;*/}
	#mainmenu .show {display:none;}
	.logo_pic{
		background-image: url("../images/logo-mobile.png");
		height: 32px;
		left:50px;
		top: 5px;
		width: 240px;
	}
	#mobile_btn {
		display: inline-block;
		right: 20px;
		top:0px;
	}
	#mainmenu ul{display:none; height: auto;}

	.t_menu_left {width: 100%;}
	#t_menu ul li{
		float:inherit;
		margin:0px;
	}
	#t_menu ul li::before { display:none;}
	#t_menu ul{ padding:0px; margin:0px; height:auto;  width: 100%; background-color:#fff;}
	#t_menu ul li a {color: #444; padding: 15px 20px; border-bottom: 1px solid #fff;margin: 0;}
	#t_menu ul li:hover a{ color: #fff; border-bottom: 1px solid #fff; background-color:#7161ae; 	transition: all 0.2s ease 0s;}
	/**/
	.t_menu_cont{ text-align:left;}
	
	.special{
		top: 10px;
		position:absolute;
		right:0px;
	}
	
	h1,h2{
		font-size:40px;
	}
	.hero_btn{
		margin-top:30px;
	}
	.logo_back{
		
	}	
	.social-icon-small{
		display:none;
	}
	#footer{
		height:100%;
		display:inline-block;
	}
	.footer-txt{
		text-align: center;
	}
	.t_r_btn{
		display:none;
	}
	.wraps-img, .news-img{
		display:none;
	}
	.social_icon{
		display:none;
	}
	.contact-content{
		padding: 50px 20px;
		margin-left: 0px;
		width: auto;
	}
	.contact-content:after{
		
	}
	.news-date-txt{
		background: rgba(0, 0, 0, 0) url("../images/news-date-mobile.png") repeat-x scroll left 0;
		left: 0;
		margin-left: 20px;
		padding-left: 35px;
		text-align: left;
		width: 195px;
	}
	#contact{
/*		display:none;*/
	}
	.boxplus-slider {width: auto !important;}
	.boxplus-viewport { width: auto !important;}
	.boxplus-viewport > ul { width: 100% !important;}
	.footer-content{
		display:inline-block;
	}
}
@media (max-width: 480px) {
	#hero{
		height:540px;
	}
	.hero-box{
	}
	#hero h1{
		font-size:34px;
	}
	.login-btn{
		top: 480px;
	}
	#subpage h1{
		font-size:24px;
	}
	#hero p {
		font-size: 14px;
		line-height: 20px;
	}	
	#anim_btn > .btn{
		margin-left:0;
	}
	.background{
		background-position: center top;
	}
	#g_footer ul{
		display:none;
	}
	.cycle-pager { 
		top: 480px;
	}
	.footer-wrap{
		width:100%;
	}
	.ghost5 {
		left: calc(50% - 240px);
	}
	.country-col{width:100%;}
}

.imp {
	width:33%;
	display:block;
	margin-bottom:15px;
	float:left;
	min-width:250px;
}
.imp_fl {
	float:left;
}

/* for CMS */
.suppercase {
	text-transform:uppercase;
}

#a_body {
	width:980px;
	margin:auto;
}


.ui-widget-content
{
	z-index: 99999999;
	
}
/* end for CMS*/