/* D-SHARE CSS INTEGRATION */
.fb-block {
    display: none;
}
.fb-like-box {
    background-color: #ffffff;
    /*top: 40px;*/
    border: 1px solid #3A589A;
	margin-bottom: 20px;
}
.videoElement { position: absolute;top: 0;left: 0;  }
li.noPaddingArchivioEditoriale {   padding-left: 0px;  min-height: 0px;}


/* patch commenti gigya nelle sezioni media */
body.media .gig-composebox-open .gig-composebox-textarea,
body.media .gig-composebox-share-text {
    color: #000000 !important;
}

/* patch per icone foto e video su apertura articolo */
.main-article-content .extra{position: relative}
.article-image.has-media.has-video .image:after, .article-image.has-media.has-photo .image:after, .extra.has-media.has-photo .image:after, .extra.has-media.has-video .image:after{content:"\f030";font:16px/100% FontAwesome;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-indent:0;position:absolute;background:rgba(58, 61, 67, 0.7);border:2px solid rgba(255, 255, 255, 0.3);border-radius:100%;z-index:1;color:#fff;text-align:center;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.6);box-sizing:border-box;}
.article-image.has-media.has-video .image:after, .extra.has-media.has-video .image:after{content:"\f04b";padding-left:4px;}
.article-image.has-media.has-video .image:after, .article-image.has-media.has-photo .image:after, .extra.has-media.has-video .image:after, .extra.has-media.has-photo .image:after{width:70px;height:70px;font-size:38px;line-height:70px !important;bottom:20px;right:20px;}
.article-image.has-media.has-has-photo .image:after, .extra.has-media.has-photo .image:after{content:"\f030";padding-left:4px;}


/* patch video inplace */
.video_inplace .close_inplace:after{content:"\f00d";font:16px/100% FontAwesome;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-indent:0;position:absolute;top:5px;font-size:16px;height:40px;line-height:38px !important; right: 5px; width: 40px; color: #fff;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.6); font-size: 26px; z-index: 100}
.video_inplace {position: absolute; top: 0;left: 0; z-index: 2;}


/* patch strillo blu + video */
.article.special.has-video .image:after {bottom:68px!important}
.article.special.has-photo .image:after {bottom:68px!important}


.noStrech {
	overflow:hidden;
	width:168px;
}
.noStrech img {
    width: auto !important;
}

/* patch squared images */
.article .image.squared img { width: auto !important; margin-left: -37%; } 
