* {margin: 0; padding: 0;}
html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	font-size: 12px;
	font-family: Tahoma;
	background: #262727 url(http://tn.hot-sex-tube.com/img/bg.gif) center top;
	color: #e2e0e0;
	text-align: center;
}

a:link, a:visited, a:active, a:hover {color: #ee0c0c; text-decoration: underline;}
a:hover { text-decoration: none;}

img {border: none; vertical-align: middle;}
input, select {vertical-align: middle;}
ul li{list-style: none;}
.clear{clear: both;}

#wrapper {
	width: 100%;
/*	max-width: 1000px;*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	text-align: left;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 117px;
	background: url(http://tn.hot-sex-tube.com/img/top_bg.jpg) repeat-x center top;
	padding: 0 10px;
	text-align: center;
}
#header .hlogo{ width: 275px; float: left; height: 72px; margin-bottom: 5px; }
#header .hbook{ float: right; margin: 45px 10px 0 0; font-weight: 700; text-align: right; }
#header .hads{ margin: 0 179px 0 275px; }
#header .hinads{ width: 495px;  margin: 0 auto 0 auto; padding-top: 22px; text-align: left; }
.header-links {
	width: 136px;
	height: 26px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-shadow: #000 1px 1px 0px;
	text-align: center;
	line-height: 26px;
	position: absolute;
	top: 0;
	right: 3px;
}

.top_menu { width: 100%; height: 35px; background: url(http://tn.hot-sex-tube.com/img/menu_bg_alt.gif) repeat-x top; text-align: right; }
.top_menu .thmenu{ float: left; font-size: 11px; font-weight: 700; text-transform: uppercase; line-height: 35px;}
.top_menu .thmenu li{ float: left; padding: 0 2px 0 0; background: url(http://tn.hot-sex-tube.com/img/menu_sep.gif) no-repeat right top; }
.top_menu .thmenu a:link, .top_menu .thmenu a:visited, .top_menu .thmenu a:active, .top_menu .thmenu a:hover {color: #000; text-decoration: none; background: url(http://tn.hot-sex-tube.com/img/mi_bg.gif) repeat-x top; display: block; padding: 0 25px; }
.top_menu .thmenu a:hover, .top_menu .thmenu .cur a:link, .top_menu .thmenu .cur a:visited, .top_menu .thmenu .cur a:active { color: #ee0c0c;}
.top_menu .hselect{ float: left; background: url(http://tn.hot-sex-tube.com/img/menu_sep.gif) no-repeat right top; padding: 8px 10px 0;}
.top_menu .hselect .cat_select{ height: 21px;}

.top_menu .search_label { float: left; background: url(http://tn.hot-sex-tube.com/img/mi_bg.gif) repeat-x top; height: 35px; line-height: 35px; font-size: 11px; font-weight: 700; color: #000; padding: 0 10px;}
.top_menu .hsearch { float: left; height: 35px; }
.top_menu .hsearch input { font-size: 12px; font-family: Tahoma; margin: 0; }
.top_menu .hsearch .sbmt { height: 22px; width: 80px; }
.top_menu .hsearch .text { padding: 0 3px; width: 135px; height: 18px; }
.top_menu .hsearch div { padding: 8px 5px 0; }
.top_menu .addthis { float: right; margin: 10px 15px 0; width: auto; }
/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding: 0 0 145px;
}

#content .title{ background: url(http://tn.hot-sex-tube.com/img/title_bg.gif) repeat-x top; height: 33px; margin: 0 8px; border: 2px #000 solid; }
#content .title h2{ background: url(http://tn.hot-sex-tube.com/img/title_left.gif) no-repeat left top; height: 33px; line-height: 33px; float: left; font-size: 18px; color: #000; padding: 0 0 0 53px; }
#content .title .braztab{ height: 33px; line-height: 33px; float: right; font-size: 16px; font-weight: 700; color: #f00; padding: 0 10px 0 0; text-shadow: 0 0 12px #ffffff; }

.pages{ float: left; color: #fff; line-height: 17px; padding: 7px 10px 7px 10px; }
.pages li{ float: left; padding: 0 0 0 3px; }
.pages a:link, .pages a:visited, .pages a:active, .pages a:hover {color: #000; text-decoration: none; border: 1px solid #000; background: #fff; display: block; font-size: 11px; font-weight: 700; padding: 0 6px; }
.pages a:hover, .pages .cur a:link, .pages .cur a:visited, .pages .cur a:active { color: #fff; background: #000; border: 1px solid #959494; }

.thumbs{ text-align: center; font-weight: 700; }
.thumbs .ti{ width: 244px; height: 210px; background: #494949; border: 1px solid #000; padding: 1px; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; line-height: 25px; font-size: 16px; }
.thumbs .ti .pic{ background: #2C2C2C; padding: 1px; height: 208px; }
.thumbs img{ border: 1px solid #999999; }
/*.thumbs a:hover img{ border: 1px solid #494949; }*/
.thumbs a:link, .thumbs a:visited, .thumbs a:active, .thumbs a:hover {color: #ee0c0c; text-decoration: none;}
.thumbs a:hover { text-decoration: none; color: #fff; }

.thumbs2{ text-align: center; font-weight: 700; }
.thumbs2 .ti{ width: 244px; height: 210px; background: #494949; border: 1px solid #000; padding: 1px; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; line-height: 25px; font-size: 16px; }
.thumbs2 .ti .pic{ background: #2C2C2C; padding: 1px; height: 208px; }
.thumbs2 img{ border: 1px solid #999999; }
/*.thumbs2 a:hover img{ border: 1px solid #494949; }*/
.thumbs2 a:link, .thumbs2 a:visited, .thumbs2 a:active, .thumbs2 a:hover {color: #fff; text-decoration: none;}
.thumbs2 a:hover { text-decoration: none; color: #ee0c0c; }

.thumbs3{ text-align: center; color: #9a9a9a; }
.thumbs3 .ti{ width: 244px; background: #494949; border: 1px solid #000; padding: 1px; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; font-size: 11px; }
.thumbs3 .ti .pic{ background: #2C2C2C; padding: 1px; font-size: 13px; text-align: left; font-weight: 700; }
.thumbs3 .ti .pic span{ padding: 0 5px; display: block; }
.thumbs3 img{ border: 1px solid #999999; }
/*.thumbs3 a:hover img{ border: 1px solid #494949; }*/
.thumbs3 a:link, .thumbs3 a:visited, .thumbs3 a:active, .thumbs3 a:hover {color: #fff; text-decoration: underline; font-weight: 700;}
.thumbs3 a:hover { text-decoration: none;}
.thumbs3 .ti .pic a:link span, .thumbs3 .ti .pic a:visited span, .thumbs3 .ti .pic a:active span, .thumbs3 .ti .pic a:hover span {color: #fff; text-decoration: underline;}
.thumbs3 .ti .pic a:hover span { text-decoration: none; #ee0c0c; }
.thumbs3 .ti .descr{ background: #2C2C2C; text-align: left; padding: 0 5px 5px; }
.thumbs3 .dleft{ float: left; }
.thumbs3 .dright{ float: right; }
.thumbs3 .dright a:link, .thumbs3 .dright a:visited, .thumbs3 .dright a:active, .thumbs3 .dright a:hover {color: #ee0c0c; text-decoration: none;}
.thumbs3 .dright a:hover { text-decoration: underline;}
.thumbs3 .descr .strong{ font-weight: 700; color: #fff; }

.tlist1{ border: 2px #000 solid; margin: 0 8px; background: #2C2C2C; padding: 10px 0 10px 30px; color: #ff2c2c; }
.tlist1 ul{ width: 16%; float: left; line-height: 18px;  }
.tlist1 ul li{ border-bottom: 1px dotted #5B5A5A; padding: 0 5px; }
.tlist1 a:link, .tlist1 a:visited, .tlist1 a:active, .tlist1 a:hover {color: #fff; text-decoration: underline;}
.tlist1 a:hover { text-decoration: none;}

.tlist2{ border: 2px #000 solid; margin: 0 8px; background: #2C2C2C; padding: 10px 0 10px 30px; color: #ff2c2c; font-size: 15px; font-weight: 700; }
.tlist2 ul{ width: 24%; float: left; line-height: 18px;  }
.tlist2 ul li{ border-bottom: 1px dotted #5B5A5A; padding: 0 5px; }
.tlist2 a:link, .tlist2 a:visited, .tlist2 a:active, .tlist2 a:hover {color: #fff; text-decoration: underline;}
.tlist2 a:hover { text-decoration: none;}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -80px auto 0;
	min-width: 1000px;
	height: 145px;
	background: url(http://tn.hot-sex-tube.com/img/bttm_bg.gif) repeat-x center top;
	font-size: 11px;
	color: #fff;
}

* html #wrapper,
* html #footer {
	width: expression((documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'');
}