.selectArea  {
	height:39px;
	font-size:14px;
	line-height:38px;
	color:#000;
	position:relative;
	text-decoration:none;
	overflow:hidden;
	display:block;
	outline:none;
}
.selectArea-c {
	background: url(../images/bg-select-c.gif) repeat-x;
	display:block;
	padding:0 20px 0 10px;
	height:39px;
}
.selectArea-l,
.selectArea-r {
	position:absolute;
	top:0;
	height:100%;
}
.selectArea-l {
	background:url(../images/bg-select-l.gif) no-repeat;
	width:2px;
	height:39px;
	left:0;
}
.selectArea-r {
	background: url(../images/bg-select-r.gif) no-repeat;
	width:33px;	
	height:39px;
	right:0;
}


.view .selectArea  {
	height: 32px;
	font-size: 12px;
	line-height: 33px;
	color: #000;
	position: relative;
	text-decoration: none;
	overflow: hidden;
	display: block;
	outline: none;
}
.view .selectArea-c {
	background: url(../images/view_sel_ct.gif) repeat-x;
	display:block;
	padding:0 20px 0 10px;
	height:32px;
}
.view .selectArea-l,
.view .selectArea-r {
	position:absolute;
	top:0;
	height:100%;
}
.view .selectArea-l {
	background:url(../images/view_sel_left.gif) no-repeat;
	height:32px;
	left:0;
	width:4px;
}
.view .selectArea-r {
	background: url(../images/view_sel_rightt.gif) no-repeat;
	width:23px;	
	height:32px;
	right:0;
}


.optionsDiv {
	position:absolute;
	z-index:30;
	overflow:hidden;
	font-size:11px;
	line-height:14px;
}
.optionsDiv .select-c {
	height:1%;
	padding:2px;
	overflow:hidden;
	background-color:#fff;
	border:1px solid #C9C9C9;
}
.optionsDiv ul {
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
}
.optionsDiv ul li {
	overflow: hidden;
	vertical-align: top;
}
.optionsDiv ul li a {
	color:#000;
	font-size:11px;
	line-height:14px;
	overflow:hidden;
	text-decoration:none;
	display:block;
	padding:2px 4px;
}
.optionsDiv a:hover,
.optionsDiv ul li.activeOption a {
	background-color:#2f384e;
	color:#fff;
	text-decoration:none;
}
.checkboxArea {
	display:block;
	outline:none;
	font-size:0;
	line-height:0;
	width:19px;
	height:19px;
	background: url(../images/bg-checkbox.gif) no-repeat;
}
.checkboxAreaChecked {
	background-position:0 100% !important;
}
.radioArea {
	display:block;
	outline:none;
	font-size:0;
	line-height:0;
	width:13px;
	height:13px;
	background: url(../images/bg-radio.gif) no-repeat;
}
.radioAreaChecked {
	background-position:0 -26px !important;
}
.optionsList div {
	padding:0 0 0 10px;
}
.selectAreaMultiple {
	display:block;
	height:100px;
	overflow:hidden;
	border:1px solid red;
	cursor:default;
}
.selectAreaMultiple span,
.selectAreaMultiple em,
.selectAreaMultiple strong {
	display:block;
	font-style:normal;
	font-weight:normal;
}
.optionsListMultiple em {
	
}
.selectAreaMultiple .activeOption {
	background:red;
}
