/* first for IE 4–8 */
@font-face {
	font-family: QuixoPro;
	src: url("/fonts/QuixoWebPro-Medium.eot");
}

/* then for WOFF-capable browsers */
@font-face {
	font-family: QuixoPro;
	src: url(/fonts/QuixoWebPro-Medium.woff) format("woff");
}