/* natemat screens.css  */


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1023px) {
	
	#page, .lpage {
  		width: 768px;
	}
	#container, .lcontainer {
		width: 728px;
	}
	
	.r331 .double-cols-left {
		padding: 0 254px 0 0;
	}
	.r331 .double-cols-right {
		width: 216px;
	}

	.r211 .double-cols-left-wrapper {
		float: none;
	}
	.r211 .double-cols-left {
		padding: 0;
	}
	
	.r211 .double-cols-right {
		display: none;
	}
	
	.hp-rows {
		width: 768px;
	}
	
	.hp-1-row .hp-item {
		width: 728px;
	}

	.hp-2-row .hp-item {
		width: 344px;
	}

	.hp-3-row .hp-item {
		width: 216px;
	}
	div.topic-list-body {
		width: 728px;
	}
	div.topic-list-element {
		width: 152px;
		height: 100px;
	}
	div.topic-list-element-item a {
		font-size: 20px;
		line-height: 22px;
	}
	.overlay .logo-socials {
		width: 728px;
	}
		.overlay .logo-socials a {
			width: 180px;
		}

	.article-related {
		float: none;
		width: 100%;
	}

	.article-wraper {
		margin-right: auto;
		float: none;
	}
	.article-body {
		padding-right: 0;
	}

	.article-related ul {
		width: 340px;
		float: left;
	}
	.article-related ul.left {
		margin-right: 47px;
	}
	
	.article-comments a.button {
		padding: 8px 35px;
	}
	
	a.facebook-share,
	.article-comments .socials a.facebook-share,
	#posts-progress .socials a.facebook-share {
		background-position: -13px -60px;
		padding: 0 10px 0 30px;
		font-size: 16px;
	}
	
	.tipsycomment.c1,.tipsycomment.c2 {
		display: none;
	}
	
	.search-blogs-form {
		width: 100%;
		float: none;
		margin-right: 0px;
	}

	ul.blog-list {
		width: 808px;
	}
	ul.blog-list li {
		margin: 0px 29px 29px 0;
	}
	ul.topics-carousel li, ul.last-on-blogs-carousel li {
		margin: 20px 28px 20px 0;
	}
	
	
	.search-results .left {
		display: none;
	}
	.search-results .right {
		width: 100%;
	}
	
	.article-more-posts ul.posts li {
		width: 216px;
	}
	
	article header h1 {
		font-size: 36px;
		line-height: 42px;
	}
	
	ul.posts li a.post-title {
		font-size: 20px;
		line-height: 26px;
	}
	ul.posts li p {
		font-size: 15px;
		line-height: 21px;
	}
	ul.posts li .author-label-container div.author-label a {
		font-size: 16px;
	}

	a.slide-start {
		white-space: nowrap;
	}
	.slideshow-footer-nav .slideshow-footer-body {
		width: auto;
	}
	
	.slideshow .article-body blockquote.slide-desc {
		margin-top: -25px;
	}
	.slideshow-slide .slide-image .slide-image-source span.slide-image-source-body {
		display: block;
		padding: 10px 25px;
		float: none;
		width: auto;
	}
		
	
	
	.hp-item-body.hp-item-style-ex1, 
	.hp-item-body.hp-item-style-ex2,
	.hp-item-body.hp-item-style-photostory,
	.hp-item-body.hp-item-style-ex3,
	.hp-item-body.hp-item-style-ex4 {
		height: 409px;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-image-body, 
	.hp-item-body.hp-item-style-ex2 .hp-content-image-body,
	.hp-item-body.hp-item-style-photostory .hp-content-image-body,
	.hp-item-body.hp-item-style-ex3 .hp-content-image-body,
	.hp-item-body.hp-item-style-ex4 .hp-content-image-body {
		height: 409px;
		width: 728px;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-image-body img {
		height: 409px;
		width: 728px;
	}	
	
	.hp-item-body.hp-item-style-ex2 .hp-content-body {
		height: 409px;
		width: 55%;
	}	
	
	.hp-item-body.hp-item-style-photostory .hp-content-body {
		height: 409px;
	}
	
	.hp-item-body.hp-item-style-ex4 .hp-content-body {
		height: 409px;
	}

	.hp-item-body.hp-item-style-ex1 h2,
	.hp-item-body.hp-item-style-ex1 h2 a {
		font-size: 48px;
		line-height: 50px;
	}

	.hp-item-body.hp-item-style-ex2 h2,
	.hp-item-body.hp-item-style-ex2 h2 a,
	.hp-item-body.hp-item-style-photostory h2,
	.hp-item-body.hp-item-style-photostory h2 a {
		font-size: 30px;
		line-height: 38px;
	}
	.hp-item-body.hp-item-style-ex2 .hp-content-body h2,
	.hp-item-body.hp-item-style-photostory .hp-content-body h2 {
		margin-top: 10px;
	}

	.hp-item-body.hp-item-style-ex2 h2,
	.hp-item-body.hp-item-style-photostory h2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.hp-item-body.hp-item-style-ex2 p,
	.hp-item-body.hp-item-style-photostory p {
		padding-left: 20px;
		padding-right: 20px;
	}
	.hp-item-body.hp-item-style-ex2 .hp-content-body .hp-stat-line,
	.hp-item-body.hp-item-style-photostory .hp-content-body .hp-stat-line {
		margin-left: 5px;
	}

	.hp-item-body.hp-item-style-ex3 h2,
	.hp-item-body.hp-item-style-ex3 h2 a {
		font-size: 30px;
		line-height: 38px;
	}
	
	.hp-item-body.hp-item-style-ex4 h2,
	.hp-item-body.hp-item-style-ex4 h2 a {
		font-size: 30px;
		line-height: 38px;
	}
	.hp-item-body.hp-item-style-ex4 .hp-content-body h2 {
		margin-top: 10px;
	}
	.hp-item-body.hp-item-style-ex4 .hp-content-body {
		height: 409px;
		width: 50%;
	}	
	
	.hp-item-body.hp-item-style-ex4 h2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.hp-item-body.hp-item-style-ex4 p {
		padding-left: 20px;
		padding-right: 20px;
	}
	.hp-item-body.hp-item-style-ex4 .hp-content-body .hp-stat-line {
		margin-left: 5px;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-image .hot span,
	.hp-item-body.hp-item-style-ex2 .hp-content-image .hot span,
	.hp-item-body.hp-item-style-photostory .hp-content-image .hot span,
	.hp-item-body.hp-item-style-ex3 .hp-content-image .hot span,
	.hp-item-body.hp-item-style-ex4 .hp-content-image .hot span {
		font-size: 24px;
		line-height: 42px;
	}
	
	.hp-item-body.hp-item-style-photostory .hp-links-body {
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-bottom: 20px;
	}
	
	.hp-item-body.hp-item-style-photostory ul.sideshow-titles li {
    	padding: 6px 0 8px 45px;
    }
    .hp-item-body.hp-item-style-photostory ul.sideshow-titles li a i, .promo-posts .promo-posts-item i {
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	}
	.hp-item-body.hp-item-style-photostory a.slide-start {
	    bottom: 20px;
	    font-size: 21px;
	    line-height: 30px;
	    padding: 7px 40px;
	}
	
	#header-promo-posts .second-item {
		display: none;
	}
	
	.cookie-disclaimer div {
		width: auto;
	}
}



/* Smaller than standard 960 (devices and browsers) */
/*
@media only screen and (max-width: 959px) {
  
}
*/
/* Tablet Portrait size to standard 960 (devices and browsers) */
/*
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}
*/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	body {
	}
	
	header#top-header .faces-body {
		display: none;
	}
	header#top-header .categories .more span {
		display: none;
	}
	header#top-header .categories .more {
		width:50px;
		border-left: 1px solid #CCCCCC;
		height:50px;
		padding: 0;
		background: #fff url(/gfx/icons2.png) 17px -1382px no-repeat;
	}
	#page, .lpage {
  		width: auto;
  		padding:20px;
	}	
	#container, .lcontainer {
		width: 100%;
	}

	.r331 .double-cols-left-wrapper,
	.r220 .double-cols-left-wrapper {
		float: none;
	}
	.r331 .double-cols-left,
	.r220 .double-cols-left {
		padding: 0;
	}
	.r331 .double-cols-right {
		width: auto;
		float: none;
		margin-left: 0;
	}
	
	.r220 .double-cols-right {
		display: none;
	}

	.article-comments .socials a.facebook-share {
		background-position: -4px -60px;
		padding: 0 20px 0 40px;
		font-size: 17px;
		display: block;
		margin: 0 10px;
	}

	.slideshow .slideshow-nav,
	.slideshow .slideshow-footer-nav {
		background: #FF6D00;
		min-height: 50px;
	}
	
	.slideshow .slideshow-nav h2 {
		font-size: 30px;
		line-height: 32px;
		text-align: center;
		color: #fff;
	}
	
	
	.slideshow span.counter-desc {
		display: none;
	}
	
	.slideshow span.counter {
		position: static;
		top: auto;
		left: auto;
		display: block;
		width: auto;
		height: auto;
		
	}
	.slideshow span.counter-pages {
		font-size: 21px;
		line-height: 44px;
	}
	.slideshow a.slideshow-prev, .slideshow a.slideshow-next {
		top: 0;
	}
	.slideshow a.slideshow-prev {
		left: 0;
		right: auto;
	}
	.slideshow .slideshow-footer-nav a.slideshow-prev,
	.slideshow .slideshow-footer-nav a.slideshow-next {
		color: #fff;
	}
	.slideshow .slideshow-footer-nav a.slideshow-prev u,
	.slideshow .slideshow-footer-nav a.slideshow-next u {
		margin: 0;
	}
	
	
	.slideshow .slideshow-nav h2 {
		position: static;
		top: auto;
		left: auto;
		transform: none;
		margin: 0 10px;
		font-size: 21px;
		line-height: 1.625;
	}
	
	.slideshow-slide .glass {
		display: none;
	}
	
	.slideshow-slide .article-title {
		position:static;
		top: auto;
		left: auto;
		height: auto;
		background: #000;
		padding: 18px;
		width: auto;
	}
	.slideshow-slide .article-title h1 {
		margin: 0;
	}
	
	ul.sideshow-titles {
		float: none;
		margin: 15px 0 20px;
	}
	
	.slideshow-author {
		margin: 20px 0 30px 0px;
	}
	
	a.slide-start {
		position:static;
		top: auto;
		left: auto;
		transform: none;
		display: block;
		text-align: center;
		font-size: 18px;
		padding: 8px 0px;
	}
	
	.slideshow .article-body blockquote.slide-desc {
		font-size: 19px;
		line-height: 1.625;
	}
	.slideshow .article-body blockquote.slide-desc.quote {
		background-size: 40px 33px;
		padding: 60px 25px 25px;
	}
	
	.slideshow .slideshow-huge-nav {
		display: none;
	}


	#hp-body {
		margin-left: -20px;
		margin-right: -20px;
		
	}
	.hp-rows {
		width: auto;
		padding: 0 20px;
	}
	.hp-item {
		float: left;
		margin: 0;
	}
	.hp-1-row .hp-item,
	.hp-2-row .hp-item,
	.hp-3-row .hp-item {
		width: 100%;
	}
	.hp-1-row .hp-item-body h2,
	.hp-1-row .hp-item-body h2 a,
	.hp-2-row .hp-item-body h2,
	.hp-2-row .hp-item-body h2 a,
	.hp-3-row .hp-item-body h2,
	.hp-3-row .hp-item-body h2 a {
		font-size: 24px;
		line-height: 32px;
	}
	.hp-1-row .hp-item-body p,
	.hp-2-row .hp-item-body p,
	.hp-3-row .hp-item-body pa {
		font-size: 16px;	
	}

	.hp-1-row .hp-item-body p, 
	.hp-1-row .hp-item-body h2
	 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.hp-1-row .hp-content-image .hot span {
		padding: 0 10px;
	}
	
	.hp-1-row .hp-content-image .hot span {
		font-size: 18px;
		line-height: 32px;
	}
	
	.hp-1-row .author-label-container {
		width: auto;
		float: none;
	}
	.hp-1-row .hp-item-with-author-anonymous .hp-content-body, 
	.hp-1-row .hp-item-with-author .hp-content-body {
		border-left: none;
		border-top: 3px solid #FF6D00;
		margin-left: 0;
		padding-left: 0;
	}
	.hp-1-row .hp-item-body.hp-item-style-gray p, 
	.hp-1-row .hp-item-body.hp-item-style-gray h2,
	.hp-1-row .hp-item-body.hp-item-style-yellow p, 
	.hp-1-row .hp-item-body.hp-item-style-yellow h2 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.hp-1-row .hp-item-body.hp-item-with-bg .hp-stat-line {
		padding-left: 15px; 
	}
	.hp-1-row .hp-item-body.hp-item-with-author .author-label-container div.author-label, 
	.hp-1-row .hp-item-body.hp-item-with-author-anonymous .author-label-container div.author-label, 
	.hp-1-row .hp-item-body.hp-item-with-author .author-label-container div.author-avatar, 
	.hp-1-row .hp-item-body.hp-item-with-author-anonymous .author-label-container div.author-avatar, 
	.hp-1-row .hp-item-body.hp-item-with-author .author-label-container div.author-subtitle, 
	.hp-1-row .hp-item-body.hp-item-with-author-anonymous .author-label-container div.author-subtitle {
		text-align: center;
	}
	.hp-1-row .hp-author-anonymous.type-facebook, 
	.hp-1-row .hp-author-anonymous.type-awatar, 
	.hp-1-row .hp-author-anonymous.type-twitter, 
	.hp-1-row .hp-author-anonymous.type-quote {
		background-position: center top;
	}
	
	.hp-row-body-header-top {
		margin: 0px 0px;
	}
	.with-style .hp-row-body-header-top {
		margin: 20px 0px 15px;
	}
	
	.hp-row-body-header-top img.header-awatar {
		width: 45px;
		height: 45px;
	}
	.hp-row-body-header-partner {
		text-align: left;
	}
	.hp-row-body-header-top a, .hp-row-body-header-top span {
		font-size: 20px;
		line-height: 22px;
	}
	
	.hp-row-body-header-top.with-image {
		padding-bottom: 20px;
		margin-bottom: 0px;
	}
	
	div.topic-list-body {
		width: auto;
	}
	div.topic-list-element.by1,
	div.topic-list-element.by2,
	div.topic-list-element.by3,
	div.topic-list-element.by4 {
		width: 215px;
		height: 143px;
		float: none;
		margin: 20px auto;
	}
	
	.hp-content-image a.more span {
		display: none;
	}
	
	header#top-header #header-top-submenu {
		top: 51px;
		right: 0;
		width: 100%;
		border-left: none;
		border-right: none;
	}
	
	.overlay .logo-socials {
		margin: 5% auto 0;
		width: 90%;
	}
		.overlay .logo-socials a b {
			margin: 20px;
		}
		.overlay .logo-socials a {
			width: 140px;
			height: 140px;
			margin: 1px;
		}
		.overlay .logo-socials a span {
			display: none;
		}
	.overlay .search {
		width: 90%;
	}
		.overlay .search .form {
			position: relative;
		}
		.overlay .search input[type=text] {
		}

	#social-share-mail-body {
		margin: 5% auto 0;
		width: 90%;
	}
	
	.article-related ul {
		width: 100%;
		float: none;
	}
	.article-related ul.left {
		margin-right: 0;
	}

	#posts-progress {
		display: none !important;
	}
	
	.article-comments .socials a, .article-comments .socials span.fbcnt {
		display: inline-block;
		float: none;
		margin: 0 2px;
	}
	.article-comments .socials span.fbcnt {
		height: 40px;
	}
	.article-comments .socials {
		display: none;
	}
	.post-scroll-active .article-comments .socials {
		position: fixed;
		bottom: 0;
		top: auto;
		left: 0;
		width: 100%;
		height: 45px;
		text-align: center;
		display: block;
		z-index: 10000;
	}
	
	.article-comments a.button span.label span {
		display: inline;
	}
	
	.article-comments div.comments-preview-box {
		display: none !important;
	}

	article section.article-author div.author-avatar {
		display: none;
	}
	article section.article-author,
	article section.article-author div.author-label-container,
	article section.article-author div.author-descall {
		display: block;
	}
	.post-socials-messenger {
		display: inline-block;
		text-align: left; 
		padding-top: 4px;
	}
	
	.author-label-container div.author-label {
		display: block;
		padding-bottom: 5px;
		padding-top: 10px;
		text-align: left;
	}
	article section.article-author .author-label-container .socials {
		display: block;
		float: right;
		padding-top: 4px;
	}
	article section.article-author .author-label-container .socials a {
		width: 39px;
		height: 38px;
		border-radius: 3px;
	}
		article section.article-author .author-label-container .socials a.twitter,
		article section.article-author .author-label-container .socials span.fbcnt,
		article section.article-author .author-label-container .socials a.comments,
		article section.article-author .author-label-container .socials a.linkedin,
		article section.article-author .author-label-container .socials a.mail,
		article section.article-author .author-label-container .socials a.gplus
		{
			display:none;
		}

	.article-body blockquote.block div.gallery .img-container img {
		width: 100% !important;
	}
	
	article .author-label-container div.author-about {
		display: none;
	}
	
	article header h1 {
		font-size: 21px;
		line-height: 1.625;
	}
	article .article-body {
		font-size: 17px;
	}
	
	
	ul.blog-list {
		width: auto;
	}
	
	div.topic-list,
	.last-on-blogs-body {
		display: none;
	}
	
	.user-header .header-form {
		display: none;
	}
	.user-header {
		padding-right: 20px;
	}
	
	.page-header-socials {
		display: none;
	}
	
	.article-more-posts ul.posts li {
		float: none;
		width: 100%;
		margin-right: 0px;
		border-bottom: 1px solid #E4E4E4;
	}
	.article-more-posts ul.posts li .content {
		padding-bottom: 20px;
	}	
	
	.letsmake span {
		font-size: 32px;
	}
	footer {
		display: none;
	}
	
	header.with-fullpage-photo h1 {
		padding: 0;
		color: #2a2a2a;
	}
	header.with-fullpage-photo .article-title {
		background-image: none;
		
		position: static;
		top: auto;
		left: auto;
		width: 100%;
	}
	
	
	header#top-header .cap-body{
		display:none;	
	}
	
	
	.hp-item-body.hp-item-style-ex1 h2,
	.hp-item-body.hp-item-style-ex1 h2 a,
	.hp-item-body.hp-item-style-ex1 p,
	.hp-item-body.hp-item-style-ex2 h2,
	.hp-item-body.hp-item-style-ex2 h2 a,
	.hp-item-body.hp-item-style-ex2 p,
	.hp-item-body.hp-item-style-ex3 h2,
	.hp-item-body.hp-item-style-ex3 h2 a,
	.hp-item-body.hp-item-style-ex3 p,
	.hp-item-body.hp-item-style-ex4 h2,
	.hp-item-body.hp-item-style-ex4 h2 a,
	.hp-item-body.hp-item-style-ex4 p {
		color: #25282a;
	}
	
	.hp-item-body.hp-item-style-ex1 h2,
	.hp-item-body.hp-item-style-ex1 h2 a {
		font-size: 24px;
		line-height: 32px;
	}
	
	
	.hp-item-body.hp-item-style-ex1, 
	.hp-item-body.hp-item-style-ex2,
	.hp-item-body.hp-item-style-photostory,
	.hp-item-body.hp-item-style-ex3,
	.hp-item-body.hp-item-style-ex4 {
		position: static;
		width: 100%;
		height: auto;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-body,
	.hp-item-body.hp-item-style-ex2 .hp-content-body,
	.hp-item-body.hp-item-style-photostory .hp-content-body,
	.hp-item-body.hp-item-style-ex3 .hp-content-body,
	.hp-item-body.hp-item-style-ex4 .hp-content-body {
		position: static;
		bottom: auto;
		left: auto;
		width: 100%;
		background-image: none;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-image-body, 
	.hp-item-body.hp-item-style-ex2 .hp-content-image-body,
	.hp-item-body.hp-item-style-photostory .hp-content-image-body,
	.hp-item-body.hp-item-style-ex3 .hp-content-image-body,
	.hp-item-body.hp-item-style-ex4 .hp-content-image-body {
		position: relative;
		top: auto;
		left: auto;
		height: auto;
		width: 100%;
		overflow: hidden;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-image-body img {
		height: auto;
		width: 100%;
	}
	
	.hp-item-body.hp-item-style-ex1  .hp-content-image a img:hover,
	.hp-item-body.hp-item-style-ex2  .hp-content-image a img:hover,
	.hp-item-body.hp-item-style-photostory  .hp-content-image a img:hover,
	.hp-item-body.hp-item-style-ex3  .hp-content-image a img:hover,
	.hp-item-body.hp-item-style-ex4  .hp-content-image a img:hover {
		opacity: 1;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-image .hot,
	.hp-item-body.hp-item-style-ex2 .hp-content-image .hot,
	.hp-item-body.hp-item-style-photostory .hp-content-image .hot,
	.hp-item-body.hp-item-style-ex3 .hp-content-image .hot,
	.hp-item-body.hp-item-style-ex4 .hp-content-image .hot {
		top: 19px;
		right: 10px;
		bottom: auto;
		text-align: right;
		left: auto;
		padding: 0 10px;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-content-image .hot span,
	.hp-item-body.hp-item-style-ex2 .hp-content-image .hot span,
	.hp-item-body.hp-item-style-photostory .hp-content-image .hot span,
	.hp-item-body.hp-item-style-ex3 .hp-content-image .hot span,
	.hp-item-body.hp-item-style-ex4 .hp-content-image .hot span {
		padding: 0 10px;
		font-size: 30px;
		line-height: 50px;
	}
	
	
	.hp-item-body.hp-item-style-ex2 .hp-content-body {
		height: auto;
		width: 100%;
		background-image:none;
		
	}
	
	.hp-item-body.hp-item-style-photostory .hp-content-image {
		padding: 0;
	}
	
	.hp-item-body.hp-item-style-photostory .hp-content-body {
		background: #000;
		margin: 0;
		padding: 10px;
		width: auto;
		height: auto;
	}
	
	.hp-item-body.hp-item-style-photostory .hp-content-body h2 {
 	   margin-top: 0px;
	}
	
	.hp-item-body.hp-item-style-photostory .hp-links-body {
	    padding-left: 0px;
	    padding-right: 0px;
	    padding-bottom: 20px;
	}
	
	.hp-item-body.hp-item-style-ex2 .hp-content-body h2 {
		text-align: left;
		margin-top: 0px;
	}
	.hp-item-body.hp-item-style-ex2 .hp-content-body p {
		text-align: left;
	}
	.hp-item-body.hp-item-style-ex2 .hp-content-body .hp-stat-line,
	.hp-item-body.hp-item-style-photostory .hp-content-body .hp-stat-line {
		text-align: left;
		margin-left: 0px;
		padding-left: 0;
	}
	
	
	
	.hp-item-body.hp-item-style-ex3 .hp-content-body h2 {
		text-align: left;
	}
	.hp-item-body.hp-item-style-ex3 .hp-content-body p {
		text-align: left;
	}
	.hp-item-body.hp-item-style-ex3 .hp-content-body .hp-stat-line {
		text-align: left;
		margin-left: 0px;
		padding-left: 0;
	}
	
	
	
	.hp-item-body.hp-item-style-ex4 .hp-content-body {
		height: auto;
		width: 100%;
		background-image: none;
		background: none;
	}
	.hp-item-body.hp-item-style-ex4 .hp-content-body h2 {
		text-align: left;
		margin-top: 0px;
	}
	.hp-item-body.hp-item-style-ex4 .hp-content-body p {
		text-align: left;
	}
	.hp-item-body.hp-item-style-ex4 .hp-content-body .hp-stat-line {
		margin-left: 0px;
		padding-left: 0;
	}
	
	
	.hp-item-body.hp-item-style-ex1 .hp-stat-line-counters,
	.hp-item-body.hp-item-style-ex2 .hp-stat-line-counters,
	.hp-item-body.hp-item-style-ex3 .hp-stat-line-counters,
	.hp-item-body.hp-item-style-ex4 .hp-stat-line-counters {
		border: 1px solid #e0e0e0;
		border-color: rgba(0,0,0,0.2);
		
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-stat-line .lc,
	.hp-item-body.hp-item-style-ex2 .hp-stat-line .lc,
	.hp-item-body.hp-item-style-ex3 .hp-stat-line .lc,
	.hp-item-body.hp-item-style-ex4 .hp-stat-line .lc {
		background-position: 0px -546px;
		color: #999;
	}
	
	.hp-item-body.hp-item-style-ex1 .hp-stat-line .cc,
	.hp-item-body.hp-item-style-ex2 .hp-stat-line .cc,
	.hp-item-body.hp-item-style-ex3 .hp-stat-line .cc,
	.hp-item-body.hp-item-style-ex4 .hp-stat-line .cc {
		background-position: 0px -618px;
		color: #999;
	}
		
	.header-promo-posts {
		display: none;
	}
	
	.content-full-page-photo .lcontainer {
		padding-top: 10%;
  		padding-bottom: 5px;
  		min-height: 100px;
	}
	.mod_live article header .live-status .status {
		font-size: 18px;
	}
	.mod_live article header .live-status .cnt {
		font-size: 16px;
	}
	.mod_live article header p {
  		font-size: 18px;
  	}
  	
  	.content-full-page-photo .socials {
		position: static;
		display: block;
		width: 135px;
		margin: 10px auto 0;
	}
  	
}
 
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}
 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	header#top-header .categories-body .categories{
		padding-right: 30px;
	}
	
	header#top-header .categories-body ul li a {
		display:none;
	}
	
	.hp-content-image a.more span {
		display: none;
	}
	
	.lpage {
		min-height: 100px;
	}
	
	.live-item .live-item-ended {
		display: none;
	}
	
	a.slide-start {
	    white-space: normal;
	}
}	
	

@media only screen and (min-width: 1280px) {

	article .article-author {
		width: 180px;
		position: absolute;
		top:0;
		left: -200px;
	}
	
	.mod_post .article-body blockquote.block .author-header {
		width: 160px;
		position: absolute;
		top:0;
		left: -200px;
		text-align:right;
		padding-left: 0;
	}
	.mod_post .article-body blockquote.block .author-header img.avatar {
		position: static;
	}
	.article-author .author-label-container div.author-avatar, .article-author .author-label-container div.author-label, .article-author .author-label-container div.author-subtitle {
		display: block;
		text-align: right;
		padding: 5px 0 10px;
		line-height: 20px;
	}
	
	.article-author .author-avatar img {
		margin-right: 0;
	}
	article header h1 {
		margin-bottom: 20px;
	}
	
	article,
	#article-top-patronat-slot {
		margin-left: -200px;
	}
	article div.article {
		margin-left: 200px;
	}
	
	.article-author .socials {
		display: block;
	}
	
	.mod_live article {
		margin-left: 0;
	}
	
	article section.article-author div.author-label-container,
	article section.article-author div.author-avatar, 
	article section.article-author div.author-descall {
		display: block;
	}
		
	#page, .lpage {
		width: 1280px;
	}
	
	#container, .lcontainer {
		margin: 0px 0 0 220px
	}
	.mod_blogs #container {
		width: 1187px;
		margin: 0px auto;
	}
	.mod_blogs ul.blog-list {
		width: 1224px;
	}
	
	.sec_users.mod_index #container {
		margin: 0px auto;
	}
	.sec_users.mod_index #page {
		width: 1020px;
	}
	/*
	ul.stream-full.users-stream-full .stream-info {
		position: absolute;
		text-align: right;
		top: 15px;
		left: -200px;
		width: 180px;
	}
	
	ul.stream-full.users-stream-full .stream-info .stream-author {
		display: block;
		
	}
	*/
	ul.stream-full li {
		padding-left: 0;
	}
	ul.comments-small li, ul.stream-full.users-stream-full li ul.comments-small li {
		padding-left: 35px;
	}
	ul.stream-full .stream-info {
		position: absolute;
		top: 18px;
		left: -200px;
		width: 180px;
		text-align: right;
	}
	.stream-full .stream-info .stream-author {
		text-align: right;
	}
	ul.stream-full img.stream-author-awatar,
	ul.stream-full img.stream-default-awatar {
		position: static;
		margin-bottom: 10px;
	}
	
	.user-header {
		padding-right: 460px;
	}
	.user-header .header-form {
		top: 29px;
	}
	.user-header .header-form .nlfheader {
		position: absolute;
		top: 12px;
		left: -147px;
	}
	
	.search-results {
		position: relative;
	}
	.search-results .left {
		position: absolute;
		top:0;
		left: -200px;
		width: 180px;
	}
	.search-results .right {
		width: 100%;
	}
	
	.middle .slide-image {
		width: 840px;
	}
	.middle section.article-related {
		position: absolute;
		width: 300px;
		top:0;
		right:0;
	}
	
	.slideshow-footer-nav .slideshow-footer-body {
		width: 840px;
	}
	
	
	.post-scroll-item.type-slideshow .article-topics,
	.post-scroll-item.type-slideshow .article-comments,
	.post-scroll-item.type-slideshow .post-ad-slot-billboard {
		margin-left: -200px;
	} 

	.hp-rows {
		margin-left: -200px;
		padding-left: 200px;
		position: relative;
	}
	
	.hp-rows.with-style {
		padding-top: 20px;
	}
	.hp-row-body-header {
		position: absolute;
		top: 0px;
		left: 10px;
		text-align: right;
		width: 180px;
	}
	.with-style .hp-row-body-header {
		top: 20px;
	}
	.with-style .hp-row-body-header-top,
	.with-style .hp-row-body-header-top.with-image,
	.hp-row-body-header-top, 
	.hp-row-body-header-top.with-image {
		padding: 0;
		margin: 0;
	}
	.hp-row-body-header-top span,
	.hp-row-body-header-top a.title,
	.hp-row-body-header-top span.subtitle {
		display: block;
		line-height: 23px;
		margin-top: 5px;
	}
	.hp-row-body-header-top img.header-awatar {
		position: static;
		margin-bottom: 10px;
	}
	.hp-row-body-header-partner img {
		margin-top: 10px;
	}
	
	div.topic-list-body {
		width: 1187px;
	}
	
	.live-item .article-comments {
		position: static;
	}
	.live-item .socials {
		position: absolute;
		width: 50px;
		top: 0;
		left: -70px;
	}
	
	.post-left-ad {
		display: block;
	}
	
}


@media only screen and (min-width: 1460px) {
	.mod_live article header .partner {
		position: absolute;
		top: 0;
		left: -200px;
	}
}


/* youtube iframe */
@media only screen and (max-width: 900px) {
	#gallery-popover{
		top:0;
		width:100%;
		height:100%;
		margin:0;
		left:0;
	}
	#gallery-popover iframe{
		width:100% !important;
		height:100% !important;
		top:0;
		left: 0;
		position:absolute;
		margin:0 !important;
	}
	#gallery-popover .img-container{
		position:relative;
		overflow: hidden;
	}
	#gallery-popover .img-container.video{
		padding-bottom:50%;
	}
	#gallery-popover .img-container img{
		max-width:100%;	
		max-height:100%;
	}
	#gallery-popover .navi a.next, #gallery-popover .navi a.prev{
		display:none;
	}
	#gallery-popover .border.top, #gallery-popover .border.bottom{
		height:1px;
	}
	#gallery-popover .border.left, #gallery-popover .border.right{
		width:1px;
	}
	#gallery-popover .content-container{
		padding:3px;
	}
	
}
@media only screen and (max-width: 1280px) {
	.hp-content-body .ytc{
		position:relative;
		overflow: hidden;
		padding-bottom:50%;
	}
		.hp-content-body .ytc iframe{
			width:100% !important;
			height:100% !important;
			top:0;
			left: 0;
			position:absolute;
			margin:0 !important;
		}
}

