
@font-face {
  font-family: 'open_sanslight';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.block.list.group.dottedBorder.kth-magazine-start {
  padding: 5px 0;
  margin: 0px;
  display: block;
  border: 1px solid #61912F;
}
.block.list.group.dottedBorder.kth-magazine-start .blockItem .block.figure .imageWrapper {
  padding: 6px 0 6px 6px
}

.kth-magazine-start .block.rssReader .entries .entry h3 {
  padding: 6px 10px 0px;
}

.kth-magazine-start .block.rssReader .entries .entry h3 {
  font: 1.5em/1.2 "open_sanslight",Arial,Helvetica,"Nimbus Sans L",sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 1.5em;
  line-height: 1.2;
  font-family: open_sanslight, Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.kth-magazine-start .block.rssReader .entries .entry h3:first-child {
  display: none;
}

.kth-magazine-start .block.rssReader .entries .entry .field--name-teaser-image img {
  width: 100%;
  height: 100%;
}

.kth-magazine-start .block.rssReader .entries .entry .field--name-body {

}

.kth-magazine-start .block.rssReader .entries .entry .field--name-body p {
  padding-left: 10px;
  padding-right: 10px;
}

.kth-magazine-start .block.rssReader .entries .entry .field--name-vignette {
  font: 1.2rem Arial, 'Helvetica Neue', helvetica, sans-serif;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

.kth-magazine-start .block.rssReader .entries .entry .field--name-vignette a {
  padding-left: 0;
  background: none;
  color: #ffffff;
}

.kth-magazine-start .block.rssReader .entries .entry .mainLink {
  display: none;
}
