@media (min-width: 1200px) {
    header::before {
    content: "";
    height: 179px;
    left: 0;
    margin: 0 auto;
    max-width: 1600px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    -moz-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
}

.footer {
    max-width: 1600px;
    margin: 0 auto;
}
.footer > .wrapper {
    max-width: 1290px;
    padding-right: 65px;
    margin: 0 auto;
}

.theme.landing #main-content .bg-main-content::before {
    content: "";
    margin: 0 auto;
    max-width: 1600px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    -webkit-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    -moz-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
}

}
@media (min-width: 1270px) {
    header .branding {
        margin-left: 32px;
        position: absolute;
        top: 0;
        z-index: 2;
    }
}