@media (min-width: 1600px) {
    .footer  {
    -webkit-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    -moz-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
}
body,
body.html,
footer {
    background-color: #31302f;
}
.owl-carousel-bg {
    padding-bottom: 0;
    padding-top: 0;
}
.owl-carousel-bg .owl-carousel  {
    -webkit-box-shadow: inset -40px 0 20px -20px #1d1d1c, inset 40px 0 20px -20px #1d1d1c;
    -moz-box-shadow: inset -40px 0 20px -20px #1d1d1c, inset 40px 0 20px -20px #1d1d1c;
    box-shadow: inset -40px 0 20px -20px #1d1d1c, inset 40px 0 20px -20px #1d1d1c;
    max-width: 1600px;
    padding: 69px 200px;
}
.owl-carousel-bg .owl-nav .owl-prev {
    left: 175px;
}
.owl-carousel-bg .owl-nav .owl-next {
    right: 175px;
}


.theme header::after {
    background-color: white;
    content: "";
    height: 150px;
    left: 0;
    margin-top: 468px;
    position: absolute;
    right: 0;
    top: 0;
}

.the-latest,
.the-latest.wrapper {
    -webkit-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    -moz-box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
    box-shadow: inset -40px 0 20px -20px #31302f, inset 40px 0 20px -20px #31302f;
}
.compress #nav-underlay {
    height: 68px;
    width: 25%;
    left: 75%;
}
.global-nav .compressed::before {
    border-bottom: 68px solid #006940;
    border-left: 35px solid transparent;
    content: "";
    height: 68px;
    right: 319px;
    position: absolute;
    top: 0;
    width: 0;
}
@-moz-document url-prefix() { 
.global-nav .compressed::before {
         right: 318px;
      }
    }
}