@media (max-width: 660px) { 
.hide-from-660 {
    display: none;
}
.show-from-660 {
    display: block;
}
.branding img {
    height: 109px;
}
.landing header {
    min-height: 245px;
}
.wrapper {
    padding: 0 10px;
}
/* Main Menu Flyout */
.compress-tablet .global-nav,
.compress .global-nav {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    overflow: initial;
}
header form.search label {
    display: block !important;
    margin: 0 auto;
    width: 281px;
}
header form.search  .search-wrapper input {
    width: auto;
}

nav.global-nav {
    min-width: 320px;
    left: 0;
    background-size: 133px auto;
    background-position: 19px 9px;
    padding-top: 122px;
    /* Trying to fix scrolling issue on flyout */
    max-height: 100%;
    overflow: auto;
}
.global-nav .utility-links {
    float: none;
    padding-right: 0;
    text-align: center;
}
.search-expanded .global-nav .utility-links {
    /*background-image: none;*/
    background-size: 133px auto;
    background-position: 19px 9px;
    padding-top: 122px;
}

.compress .global-nav .menu-band,
.compress-tablet .global-nav .menu-band {
    background-color: transparent;
    margin-top: 15px;
    padding-top: 0;
}
.global-nav .green-band,
.global-nav .menu-band {
    background-color: white;
    margin-bottom: 26px;
    float: none;
    margin-top: 0;
    padding-top: 15px;
}
.global-nav .branding > a {
    display: block;
    height: 104px;
    width: 178px;
}
.global-nav .main-menu li > a {
    background-color: #006940;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    padding: 18px 7px 17px;
}
.global-nav .main-menu,
.global-nav .main-menu > li {
    display: block;
}
.global-nav .main-menu > li:first-child > a::before {
    content:none;
}
.main-menu > li + li {
    margin-top: 5px;
}
h1,
.landing h1 {
    font-size: 28px;
}
.breadcrumb {
    display: none;
}
.content-area .intro {
    font-size: 22px;
    line-height: 32px;
}
.compress-tablet header .global-nav .social-media-and-copyright,
.compress header .global-nav .social-media-and-copyright,
header .social-media-and-copyright .sitemap-toggle {
    display: none;
}
header .global-nav .social-media-and-copyright {
    float: none;
    text-align: center;
    max-width: none;
}
header .social-media-and-copyright .social-media {
    margin-top: 0;
}
header .social-media-and-copyright .social-media li {
    display: inline-block;
    margin-left: 9px;
}
header .social-media-and-copyright .social-media li:first-child {
    margin-left: 0;
}
header .social-media-and-copyright .social-media a {
    height: 37px;
    width: 37px;
}
header .social-media-and-copyright > p {
    padding: 0 60px;
}


body {
    min-height:100vh;
    padding-bottom:185px; /* Height absolute positioned footer bar + background that extends up */
}
body.home {
    background-color: #004c2e;
}
body.home .the-latest,
body.home .audience-menu {
    display: none;
}

.home .banner .content h2 {
    font-size: 42px;
    line-height: 38px;
    margin-top: -96px;
}
body.landing,
body,
body.html {
    background-size: auto 800px;
    background-repeat: repeat-y;
}
/*body.landing {
    background-size: auto 100%;
}*/
.landing h1 {
    font-size: 34px;
    line-height: 34px;
}
.landing .pre-content > .wrapper:first-child {
    margin-top: -120px;
}
.landing .pre-content p {
    font-size: 20px;
    line-height: 30px;
}
article {
}
body.home article { padding-bottom:0px; }
.columns {
    margin-left: 0;
}
.column {
    float: none;
    margin-left: 0 !important;
    padding-left: 0;
    width: 100% !important;
}
#main-content .content-area .column + .column,
.column + .column {
    margin-top: 1em;
}
.cta,
.landing .cta {
    width: 100%;
    font-size: 19px;
    height: 72px;
}
.cta-boxes > .column {
    height: auto;
}
.cta-boxes > .column + .column {
    margin-top: 7px;
}

.content-area img.right,
.content-area img.left {
    float: none;
    width: 100%;
    margin: 0;
}
.owl-carousel-bg .owl-carousel.wrapper {
    padding: 0 40px;
}
.owl-carousel h2 {
    background-color: #343332;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0 !important;
    padding: 12px 14px;
    position: static;
}
.owl-carousel h2 > span::after {
    font-size: 12px !important;
}
.owl-carousel .owl-controls .owl-dots,
.home .owl-carousel .owl-controls .owl-nav {
    display: none !important;
}
.owl-carousel .owl-controls .owl-nav {
    display: block !important;
}
.owl-carousel .owl-controls {
    width: 100%;
    bottom: auto;
    right: auto;
    top: 50%;
    margin-top: -25px !important;
}
.news.landing .owl-carousel .owl-controls {
    margin-top: 0px !important;
}
.home .owl-carousel {
    max-height:none !important;
}
.home .owl-carousel .feature {
    height:100% !important;
    background-color:#004c2e;
}
.home .owl-carousel .owl-controls {
    margin-top: 0 !important;
}
.owl-carousel.default .owl-nav > div {
    position: absolute;
}
.owl-carousel.default .owl-nav > .owl-next {
    right: 5px;
}
.owl-carousel.default .owl-nav > .owl-prev {
    left: 5px;
}
.owl-carousel.navigation .owl-controls {
    left: 0;
    right: 0;
    margin:0 auto;
    width: 26%;
    min-width:110px;
    top: auto;
    bottom: 45px;
}
.owl-carousel.navigation .content {
    padding-bottom: 55px;
}
.owl-carousel.default.areas-of-focus .owl-nav > div {
    position: static;
}

#main-content .feature,
.alert .feature {
    margin-left: auto;
    margin-right: auto;
    width: 275px;
}
#main-content .feature > img:first-child,
.alert .feature > img:first-child {
    position: absolute;
    float: none;
}
#main-content .feature > img:first-child + h2,
.alert .feature > img:first-child + h2 {
    position: relative;
    background-image: url('../images/feature-image-overlay.png');
    background-position: left bottom;
    height: 183px;
    padding-bottom: 8px;
}
#main-content .feature > img:first-child + h2 ~ *,
.alert .feature > img:first-child + h2 ~ *  {
    margin-left: 0;
}
#main-content .feature .button,
.alert .feature .button {
    display: block;
}
.events-feed {
    margin: 0 auto;
    width: 275px;
}
.sidebar-content .events-feed > p {
    max-width: none;
}
.sidebar-content .events-feed ul + p {
    padding-top: 0;
}
.events-feed > ul,
.sidebar-content .events-feed > p .button {
    margin-left: 0;
}
.events-feed li {
    float: none;
    width: 100%;
    padding-left: 68px;
    padding-right: 0;
}
.events-feed li + li {
    border-left-width: 0;
    border-top-width: 1px;
}

/* News Section */
.news.landing .pre-content > .wrapper {
    margin-top: 0;
}
.news.landing header {
    min-height: 212px;
}
.news.landing .section-title {
    margin-top: -104px;
}
.news.landing .section-title > .wrapper,
.news.landing .section-title .wrapper > h1 {
    height: 67px;
    font-size: 34px;
}
.news .latest-news-feed,
.latest-news-feed .img-wrapper {
    display: none;
}
.latest-news-feed .img-wrapper ~ * {
    margin-left: 0%;
}
.news.landing .latest-news-feed {
    display: block;
}
.news.landing .events-feed {
    width: auto;
}
.news .events-feed li {
    width: 100%;
}
.news.landing .columns:first-child + .columns .col-33 ul {
    display: none;
}
.content-area .video-wrapper.right,
.content-area .video-wrapper.left {
    width: 100%;
}
.news.landing .owl-carousel-bg {
    padding-bottom: 0;
    padding-top: 0;
}
.news.landing .news-boxes .news-box {
    display: none;
}
.news.landing .news-boxes .news-box:first-child {
    display: block;
}
.news-boxes .news-box {
    width: 100%;
}
.news.landing .column + .column,
.news.landing #main-content .col-50 + .col-50 {
    padding-top: 2em;
}
.news.landing .columns > .col-33 {
    margin-bottom: 0;
}
.news.landing #main-content .owl-carousel .owl-controls {
    display: none;
}
.hidden-caption.owl-carousel .owl-stage {
    background-color: #343332;
}
.news.landing .twitter-feature ul li {
    display: none;
}
.news.landing .twitter-feature ul li:first-child {
    display: block;
}
.news #main-content .filters form .date-picker,
.news #main-content .filters form .news-search {
    width: 100%;
    margin-right: 0;
}
.news #main-content .filters form .date-picker input,
.news #main-content .filters form input {
    width:100%;
}
.news #main-content .filters form .news-search input {
    width: 83%;
}
.news #main-content .filters form .dropdown {
    width: 100%;
    margin-right: 0;
}
#main-content .filters .dropdown {
    width: 100%;
    margin-right: 0;
}
#main-content .filters select {
    max-width: none;
}
#main-content .filters input {
    width: 83%;
}

ul.pager {
    max-width: 320px;
    padding:40px 0 0 0;
}
#main-content .pager .pager-first,
#main-content .pager .pager-previous,
#main-content .pager .pager-next,
#main-content .pager .pager-last {
    top:20px;
}
#main-content .pager .pager-first {
    left:60px;
}
#main-content .pager .pager-previous {
    left:100px;
}
#main-content .pager .pager-next {
    right:100px;
}
#main-content .pager .pager-last {
    right:60px;
}

/* Area of Study */
#main-content .program-listing .img-wrapper {
    margin-bottom: 10px;
}
#main-content .program-listing h3::after {
    content: "\f055";
    padding-left: 6px;
    color: #3ab3c1;
    cursor: pointer;
}
#main-content .program-listing li.expanded h3::after {
    content: "\f056";
}
#main-content .program-listing .img-wrapper ~ * {
    margin-left: 0;
    clear: both;
}
#main-content .program-listing .img-wrapper + h3 {
    margin-left: 37%;
    clear: none;
}
#main-content .program-listing h3 {
    cursor: pointer;
}
#main-content .program-listing .description {
    display: none;
}

/* Theme */
.theme .bg-banner-img {
    background-size: 660px auto;
}
.theme article {
    background-size: 1150px auto;
    padding-top: 50px;
}
.theme article::before {
    top: 427px;
}
.theme .pre-content .tagline {
    font-size: 34px;
    padding: 0 28px;
}
.theme .pre-content .tagline .lead-in {
    font-size: 21px;
}
.theme .theme-nav.prev a {
    left: 10px;
}
.theme .theme-nav.next a {
    right: 10px;
}
.theme .theme-nav a::before {
    font-size: 28px;
}
.theme-banner {
    overflow: hidden;
}
.theme-banner > img {
    left: 50%;
    margin-left: -313px;
    position: relative;
    width: 626px;
}
#main-content .theme-banner > img {
    max-width: none;
}
.theme #main-content .content-area h1 {
    font-size: 28px;
    line-height: 30px;
}
#main-content .twitter-feature,
#main-content .instagram-feature {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
}
#main-content .twitter-feature + .instagram-feature {
    border-left-width: 0;
    border-top-width: 1px;
    padding-top: 30px;
}
.twitter-feature::after {
    right: 0;
}
#main-content .owl-carousel + .twitter-feature {
    border-top-width: 1px;
    padding-top: 30px;
}

.owl-carousel.navigation .content {
    max-height: none;
    overflow: visible;
}
.theme #main-content .content-area .owl-carousel.navigation .owl-item > div {
    padding-left: 0;
}
.theme #main-content .content-area .owl-carousel.navigation .img-wrapper {
    max-width: 100%;
    float: none;
    margin-left: 0;
}
.theme .col-26 {
    padding-left: 0px; /* Override padding set in 899 */
}

/* Landing Guide */
.landing.guide .pre-content > .wrapper {
    margin-top: 0;
}
.tab-flyouts {
    top: 35px;
}
.landing.guide .pre-content > .wrapper:first-child {
    margin-top: -320px;
}
.landing.guide .pre-content {
    background-color: black;
    position: relative;
}
.landing.guide .pre-content::before {
    content: "";
    width: 100%;
    height: 80px;
    position: absolute;
    top: -80px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.99)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    z-index: -1;
}
.tab-menu ul {
    position: relative;
}
.tab-menu li > a.active {
    position: absolute;
    top: -10px;
    width: 100%;
}
.tab-menu li:first-child > a.active {
    position: relative;
    top: 0;
}
.tab-menu li,
.tab-menu li.show-from-660 {
    display: block;
    float: none;
    width: 100%;
    margin-right: 0;
}
.tab-menu li > a {
    display: block;
    border-width: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    font-size: 21px;
}
.tab-menu li + li > a {
    margin-top: 10px;
}
#areasOfFocus .owl-carousel {
    margin-bottom: 0;
}
#areasOfFocus .owl-carousel + * {
    margin-top: 2em;
}
#areasOfFocus .owl-carousel.hidden {
    display:none;
}
.landing.guide .guide-boxes .owl-carousel .img-wrapper {
    float: none;
    width: 100%;
    height: auto;
}
.landing.guide .guide-boxes .owl-carousel .img-wrapper img {
    height: auto;
    margin-left: 0;
    position: static;
    width: 100%;
}
.landing.guide .guide-boxes .owl-carousel .title,
.landing.guide .guide-boxes .owl-carousel h2 {
    position: static;
}
.landing.guide .guide-boxes .owl-carousel .title {
    background-color: transparent;
}
.landing.guide .guide-boxes .owl-carousel .tagline {
    background-color: transparent;
    position: relative;
    width: 100%;
    padding: 12px 80px 5px 12px;
    height: 60px;
    margin-top: -60px;
    background-color: rgba(0, 0, 0, 0.35);
    line-height: 19px;
    font-size: 16px;
}
.landing.guide .guide-boxes .owl-carousel h2 {
    position: relative;
    width: 95%;
    font-size: 26px;
    line-height: 27px;
    float: left;
    left:0;
    padding: 12px 11px;
}
.landing.guide .guide-boxes .owl-carousel h2 > span::after {
    content: '\f13a';
}
.landing.guide .guide-boxes .owl-carousel h2.expanded > span::after {
    content: '\f139';
}
.landing.guide .guide-boxes .owl-carousel .content {
    margin-left: 0;
    padding: 20px;
}
.landing.guide .guide-boxes .owl-carousel .owl-controls {
    bottom: unset;
    right: 20px;
    top: 30px;
    width: 100%;
}
.landing.guide .guide-boxes .owl-carousel .owl-controls .owl-nav {
    display: block !important;
}
.content-active-slide {
    background-color: #343332;
    background-image: none;
    filter: none;
}
.landing.guide .tab-flyouts .content-active-slide {
    margin-bottom: 2em;
    display: block;
}
.landing.guide .tab-flyouts .content-active-slide p,
.pre-content .content-active-slide p {
    font-size: 16px;
    line-height: 18px;
    color: white;
}
.landing.guide .tab-flyouts .content-active-slide * + * {
    margin-top: 1em;
}
.tab-flyouts #areasOfFocus {
    background-color: #eff0e7;
    margin-left: -20px;
    margin-right: -20px;
    /*padding-left: 20px;
    padding-right: 20px;*/
}
.landing.guide .guide-boxes .guide-box:nth-child(2n) {
    clear: none;
    margin-right: 0;
}
.landing.guide .guide-boxes .guide-box {
    display:block;
    width: 100%;
    float: none;
}
.tab-flyouts .wrapper {
    padding: 0 20px;
}
.tab-flyouts .program-listing .img-wrapper {
    width: 26%;
}
.tab-flyouts .program-listing .img-wrapper ~ * {
    margin-left: 30%;
}
.tab-flyouts .program-listing h3 {
    font-size: 20px;
}
.tab-flyouts .program-listing .description {
    display: none;
}
.tab-flyouts .program-listing .button {
    font-size: 18px;
    margin-top: 6px;
}
.tab-flyouts h2 + ul.list-of-links {
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    column-gap: normal;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    margin-top: 10px;
}
.tab-flyouts h2 + ul.list-of-links li {
    margin-left: 0;
}
.tab-flyouts .filters .a-z {
    float: none;
    margin-bottom: 17px;
    margin-right: 0;
    width: 100%;
}
.tab-flyouts .filters > form input {
    width: 81%;
}
.tab-flyouts .collapse {
    padding: 0 20px;
    margin-top: 1em;
}
.tab-flyouts .collapse a {
    color: #999a92;
    display: block;
    text-align: center;
    border: 1px solid #a7a8a2;
    background-color: #dbded5;
    font-size: 21px;
    font-weight: 600;
    padding: 8px;
}

/*  Theme Landing  */
.theme.landing .bg-banner-graphics {
    background-size: 870px auto;
    height: 433px;
    top: -35px;
}
.theme.landing .pre-content > .bg-banner-graphics ~ .wrapper {
    margin-top: 85px;
}
.theme.landing h1 {
    font-size: 46px;
}
.theme.landing #main-content {
    margin-top: 54px;
    padding-top: 0;
}
.theme.landing #main-content .themes {
    margin-left: 0;
}
.theme.landing #main-content .themes .theme {
    float: none;
    width: 100%;
    margin: 0 auto 21px;
    padding-bottom: 0;
}
.theme.landing #main-content .themes .theme .img-wrapper {
    height: auto;
}
.theme.landing #main-content .themes .theme img {
    height: auto;
    margin-left: 0;
    position: static;
    width: 100%;
}
.theme.landing #main-content .themes .theme .content {
    /*height: auto;*/
    position: static;
    padding: 14px 10px;
}
.theme.landing #main-content .themes .theme .content h2 {
    font-size: 22px;
    line-height: 24px;
    height: auto;
}
.theme.landing #main-content .themes .theme .content .hash {
    margin-top: 10px;
}

/* FOOTER */
.footer-flyouts,
.audience-menu .flyout .wrapper > h2,
.audience-menu .flyout .close {
    display: block;
}
footer {
    padding-top:130px;
    height:186px; /* top padding + height of tabs */
    top: auto;
    bottom:0;
    position: absolute;
    width: 100%;
    min-width: 320px;
    background-size: 212%;
    background-position:left 14%;
    transition:height 0.5s, padding-top 0.2s;
    overflow:hidden;
}
.home footer {
    padding-top:0;
    height:56px; /* Just height of tabs since home has no top padding */
}
footer .footer {
    display: none;
}
footer[class*='active'] {
    z-index: 1001;
    padding-top:0; /* remove the extra space above the tabs for the full-screen transition */
}
footer .footer-flyouts {
    position: relative;
    width: 100%;
    z-index: 1;
    bottom: 0;
}
.footer-flyouts::after {
    clear: both;
    content: "";
    display: table;
}
.footer-flyouts a {
    display: block;
    float: left;
    width: 100%;
    font-weight: 700;
    font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
    letter-spacing: 0.025em;
    text-align:center;
    color: #aab1ad;
    background-color: #006940;
    padding: 20px 17px;
}
body.home .footer-flyouts a {
    width:50%;
    text-align:left;
}
.footer-flyouts a:hover,
.footer-flyouts a:focus,
.audience-active .footer-flyouts .audience-menu-toggle,
.news-active .footer-flyouts .latest-news-toggle {
    color: white;
}
.audience-menu-toggle::after,
.latest-news-toggle::after  {
    content: "\f055";
    padding-left: 6px;
}
.audience-active .footer-flyouts .audience-menu-toggle::after,
.news-active .footer-flyouts .latest-news-toggle::after  {
    content: "\f056";
}

.flyout .img-wrapper > a {
    width: 100%;
}
.flyout .img-wrapper img + .button {
    position: static;
    width: 100%;
}
.flyout .featured-links li {
    margin-bottom: 8px;
}
.flyout .featured-links a {
    font-size: 18px;
    padding: 13px 5px;
}
.audience-menu .flyout .wrapper > h2 {
    margin-bottom: 17px;
}
.audience-menu .flyout .column,
.audience-menu .flyout .column:last-child {
    padding-left: 0;
}

.the-latest.wrapper,
.audience-menu {
    position:absolute;
    top:186px; /* Bump down by the height of the flyout tabs + the top padding of the footer */
    bottom:0;
    width:100%;

    background:transparent url('../images/footer-background-image.jpg') no-repeat scroll center bottom; /*/ auto 100vh;*/ /* Looks like ios doesn't support the condensed background-size notation */
    /*background-size: 100vw auto;*/

    overflow:scroll;
    overflow-x:hidden;

    -webkit-overflow-scrolling: touch; /* Make scrolling in ios not stupid */

    transition:top 0.2s;
}

footer[class*='active'] .the-latest.wrapper,
footer[class*='active'] .audience-menu {
    top:56px; /* Top padding of footer removed for full-screen, so only bump down by the height of the tabs */
}

.the-latest-wrapper {
    padding-top: 20px;
}
.the-latest,
.the-latest.wrapper {
    display: block;
    padding: 0 0 25px;
}
.the-latest h2 {
    display: none;
}
.the-latest > ul {
    width: 275px;
}
.the-latest > ul > li {
    margin: 20px 0;
}
.news-boxes .news-box .wrapper {
    margin: 20px auto;
    max-width: 350px;
}
.audience-menu::after {
    display: none;
}
.audience-menu > ul {
    display: block;
    min-height: 100%;
}
.audience-menu > ul > li {
    float: none;
    width: 100%;
}
.audience-menu > ul > li > a {
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
}
.audience-menu > ul > li > a > .img-wrapper {
    height: auto;
    float: left;
    height: 81px;
    margin-right: 12px;
    width: 140px;
    position: relative;
}
.audience-menu > ul > li > a img {
    filter: none;
    -webkit-filter: none; 
    -moz-filter: none; 
    -o-filter: none; 
    -ms-filter: none;
    right: 0;
    top: -17px;
    width: 140px;
}
.audience-menu > ul > li > a > h2 {
    background-color: transparent;
    position: static;
    padding: 5px 0 0;
}
.audience-menu > ul > li > a:hover h2 {
    background-color: transparent;
    color: #febe10;
}
.audience-menu > ul > li + li {
    margin-top: 2px;
    margin-left: 0;
}
.audience-menu .wrapper {
    /*display: none;*/
    padding: 20px;
}
.audience-active .audience-menu > .wrapper {
    position: relative;
    width:100%;
    overflow:hidden;
}
.audience-menu .flyout {
    bottom: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    right: -100%;
    left: auto;
    padding: 20px;
    top: 0;
    z-index: 2;
    display: block;
}
.audience-menu .flyout .wrapper {
    padding: 0;
}
.audience-menu .flyout .close {
    position: absolute;
    right: 20px;
    top: 15px;
}
.audience-menu .flyout .close a {
    color: #aaaaaa;
    font-size: 9px;
    text-transform: uppercase;
}
.audience-menu .flyout .close .fa-times-circle {
    font-size: 18px;
    left: 1px;
    position: relative;
    top: 2px;
}
.audience-menu .flyout h2 {
    color: #5b6160;
    font-size: 21px;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 600;
    padding-right: 60px;
}
.audience-menu .flyout .img-wrapper img {
    max-width: 100%;
}
.audience-menu .flyout .col-33:first-child + .col-33 {
    display: none;
}



/* GSL additions */
footer {

}
[class*='active'] footer .the-latest.wrapper {
    overflow:auto;
    position:absolute;
    top:56px; /* Nudge down the top by the height of the open/close buttons */
    bottom:0;
}

/* Mobile Updates */
/* Home */
.banner {
    max-height: 517px;
    overflow: hidden;
}
.banner .img-wrapper {
    height: 389px;
    background-size: 915px auto;
    margin-bottom:0;
}
.banner .content .band {
    height: 128px;
    padding: 22px 19px;
}

.banner .content .band > .hover {
    font-size: 25px;
}
.banner .content > a {
    margin-top: -185px;
}

/* Alert */
body.alert > .wrapper {
    background-position: center 12px;
}
body.alert h1,
section.alert.emergency h1 {
    font-size: 24px;
    line-height: 28px;
}
.alert h1 {
    font-size: 18px;
    line-height: 22px;
}
.alert .intro,
body.alert .intro,
section.alert.emergency .intro {
    font-size: 20px;
    line-height: 33px;
}
body.alert {
    height: auto;
    overflow: visible;
}
.alert .columns::before {
    left: 0;
    right: 0;
}
.alert .columns {
    margin-top: 40px;
    padding-top: 40px;
}
section.alert .close {
    top: 2px;
}

}