@media (max-width: 899px) {
.hide-from-899 {
    display: none;
}

.banner .content h2 {
    font-size: 50px;
    padding: 0 10px 20px;
    margin-top: 0;
}
.compress-tablet header .main-menu,
.compress-tablet header .utility-links,
.compressed .logo {
    display: none;
}
header .compressed {
    background-color: #006940;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 32px;
    padding: 6px 20px 0 17px;
}
header .branding {
    margin-left: 7px;
    position:absolute;
}
.branding img {
    height: 140px;
}
.landing header {
    min-height: 291px;
}
nav.global-nav {
    height: auto;
}

.compress .global-nav .branding,
.compress-tablet .global-nav .branding {
    display: none;
}
.global-nav .branding,
header.search-expanded nav.global-nav .branding {
    display: block;
}

.global-nav .branding > a {
    display: block;
    height: 140px;
    width: 200px;
}
.global-nav .branding img {
    display: none;    
}
nav.global-nav,
header.search-expanded nav.global-nav,
[class*="compress"] header.search-expanded nav.global-nav {
    -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
}
[class*="compress"] header nav.global-nav {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.search-expanded nav.global-nav {
    overflow: visible;
    padding-bottom: 25px;
}
nav.global-nav,
.search-expanded .global-nav .utility-links {
    background: url('../images/mason-logo-green.png') no-repeat scroll 22px 12px / 170px auto white;
    padding-top: 104px;
    width: 100%;
}
.global-nav-icon::before {
    content: "\f00d";
    font-size: 18px !important;
    width: 15px;
}
[class*="compress"] header .global-nav-icon::before {
    content: "\f0c9"; 
}

header .compressed,
[class*="compress"] header .compressed {
    padding: 11px 20px 0 8px;
    height: 36px;
}
.global-nav .compressed::before,
[class*='compress'] header .global-nav .compressed::before {
    border-bottom-width: 35px;
    border-left-width: 16px;
    left: -16px;
    height: 36px;
    top: 0;
}
.compress-tablet nav.global-nav,
.compress nav.global-nav {
    background-color: transparent;
    background-image: none;
    padding-top: 0;
}
.global-nav .green-band,
.global-nav .menu-band {
    padding-right: 0;
    width: 100%;
}
.global-nav .green-band::after,
.global-nav .menu-band::after {
    display: none;
}
.global-nav .utility-links {
    background-color: #ebebeb;
    margin-right: 0;
}
.global-nav .utility-links li > a {
    color: #d5a113;
    font-size: 12px;
    padding: 12px 6px;
    text-shadow: none;
}
.global-nav .utility-links::before {
    border-bottom: 38px solid #ebebeb;
}
.global-nav .utility-links::after {
    display: none;
}

.compressed .search-toggle::after {
    font-size: 18px !important;
    margin-left: 15px;
}
.search-expanded form.search .off-screen::after {
    left: -9999px;
    top: -9999px;
}
.utility-links form.search,
.search-expanded .utility-links > li {
    display: none;
}
.search-expanded .utility-links,
.search-expanded .utility-links > li:last-child,
.search-expanded .utility-links form.search {
    display: block !important;
}
header form.search label input,
header form.search button {
    display: inline-block !important;
}
header form.search button {
    background-color: #febe10;
    margin-left: -5px;
    margin-top: -1px;
    padding: 5px 7px 4px;
}
form.search button::after {
    color: white;
    font-size: 18px !important;
    text-shadow: 0px 1px 0px rgba(157, 126, 0, 0.75);
    height: 20px;
    margin-top: 1px;
    display: inline-block;
    top: -1px;
}
.search-expanded .utility-links > li {
    text-align: center;
    width: 100%;
}
.search-expanded .global-nav .utility-links {
    float: none;
    padding-right: 0;
    padding-top: 143px;
}
.search-expanded form.search {
    background-color: #006940;
    height: auto;
    padding-bottom: 13px;
    padding-top: 13px;
    margin-left: 0;
    width: 100%;
}
.search-expanded form.search > label {
    display: block;
    height: 30px;
    overflow: hidden;
}
.search-expanded form.search label input {
    position: static;
}

header .social-media-and-copyright {
    padding-bottom: 15px;
}
.main-menu {
    display: table;
    width: 100%;
}
.global-nav .main-menu > li {
    display: table-cell;
    text-align: center;
}
.global-nav .main-menu > li > a {
    font-size:16px;
}
.global-nav .main-menu li > a {
    margin-left: 0;
    margin-right: 0;
    padding: 18px 0 17px;
}
header .flyout {
    display: none !important;
}
.wrapper {
    padding: 0 20px;
}
.landing h1 {
    font-size: 48px;
}
h1 {
    font-size: 34px;
    line-height: auto;
}
.content-area h2 {
    line-height: 34px;
}
.breadcrumb, .breadcrumb a {
    font-size: 10px;
}
#main-content .left-column {
    float: none;
    margin-right: 0;
    width: 100%;
}
.content-area {
    margin-left: 0;
    padding-bottom: 14px;
}
.sidebar-content {
    border-top: 1px solid #cdd5d4;
    padding-top: 30px;
    width: 100%;
    float: left;
}
.cta {
    font-size: 22px;
}
.audience-menu > ul {
    width: 100%;
}
.audience-menu > ul > li > a > h2 {
    font-size: 14px;
    line-height: 14px;
    padding-right: 5px;
 }
 .audience-menu > ul > li + li {
    margin-left: 0.3%;
}
.audience-menu .flyout .columns > .column:first-child + .column {
    display: none;
}
.audience-menu .flyout .column,
.audience-menu .flyout .column:first-child {
    width: 50%;
}
.audience-menu .flyout .column:last-child {
    padding-left: 20px;
}
.audience-menu > ul::after,
.footer .wrapper::after {
    display: none;
}
 .sub-nav-toggle {
    display: block;
 }
 .sub-nav-toggle a {
    display: block;
    border-top: 1px solid #cdd5d4;
    border-bottom: 1px solid #cdd5d4;
    padding: 21px 38px 19px 11px;
    position: relative;
 }
 .sub-nav-toggle.expanded a {
    color: #848381;
 }
 .sub-nav-toggle a::after {
    content: "\f0c9";
    position: absolute;
    right: 12px;
    margin-top: -10px;
    top: 50%;
 }
 .sub-nav-toggle.expanded a::after {
    content: "\f00d";
    color: #007682;
 }
 #sub-nav {
    display: none;
 }
 #sub-nav.expanded {
    display: block;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
 }
 #main-content #sub-nav.expanded {
    margin-top: 0;
 }
 #sub-nav.expanded > ul {
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
    padding-left: 20px;
    padding-right: 20px;
    z-index: 8;
    padding-bottom: 35px;
    border-bottom: 0 none;
}
#sub-nav > ul > li:last-child {
    border-bottom: 1px solid #cdd5d4;
}
#sub-nav.expanded > ul > li:first-child > a {
    border-top: 0;
}
.sub-nav .active > a::after {
    left: 0;
    right: unset;
    border-left-color: white;
}
.sub-nav ul ul ul .active > a::after {
    border-left-color: white;
    left: -20px;
    right: unset;
}
.sub-nav a {
    padding-left: 20px;
}
.sub-nav > ul > li > ul > li > a {
    padding-left: 35px;
}
.sub-nav ul ul ul ul li a {
    padding-left: 40px;
}
.column.navigation {
    float: none;
    margin-bottom: 1em;
    width: 100% !important;
}
.column.navigation ~ .column {
    width: 50%;
}
#main-content .feature, 
.alert .feature {
    position: relative;
    overflow: auto;
}
#main-content .feature > img:first-child,
.alert .feature > img:first-child {
    float: left;
    height: auto;
    position: static;
}
#main-content .feature > img:first-child + h2, 
.alert .feature > img:first-child + h2 {
    background-image: url("../images/feature-image-overlay_tablet.png");
    background-position: left top;
    padding-bottom: 28px;
    padding-top: 11px;
    width: 275px;
    height: auto;
    position: absolute;
    top: 0;
}
.events-feed > ul {
    margin-left: -27px;
}
.events-feed li {
    float: left;
    width: 33.33%;
    padding-left: 88px;
    padding-right: 10px;
}
.events-feed li + li {
    border-top-width: 0;
    border-left: 1px solid #cdd5d4;
}
.events-feed .button {
    clear: both;
    margin-top: 23px;
}
.sidebar-content .events-feed > p {
    max-width: 32%;
    margin: 0 auto;
}
.sidebar-content .events-feed ul + p {
    clear: left;
    padding-top: 1em;
}
.sidebar-content .events-feed > p .button {
    margin-left: -23px;
}
#main-content .feature > img:first-child + h2 {
    margin-top: 0;
}
.feature > img:first-child + h2 ~ * {
    margin-left: 277px;
}

.col-50 {
    float: none;
    padding-right: 0;
    width: 100%;
}
#main-content .col-50 + .col-50 {
    padding-top: 1em;
    clear: left;
}

.col-74,
.col-26,
.theme .col-26 {
    width: 100%;
    padding-right: 0;
    float: none;
}
.theme .col-74 {
    margin-right: 0;
    padding-right: 0;
}
.theme .col-26 {
    padding-left: 20px;
}

/* Landing Guide */
.landing.guide .pre-content > .wrapper:first-child {
    margin-top: -368px;
}
.tab-menu.wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.tab-menu li > a {
    padding-right: 70px; 
}
.landing.guide .guide-boxes {
    margin-left: 0;
}
.landing.guide .guide-boxes .guide-box {
    height: auto;
    margin-left: 0;
    width: 48%;
    text-align: left;
}
.landing.guide .guide-boxes .guide-box img {
    width: 77px;
    height: 54px;
    float: left;
}
.landing.guide .guide-boxes .guide-box .content .description {
    padding: 15px 15px 0;
}
.landing.guide .guide-boxes .guide-box .more {
    height: auto;
    padding-bottom: 15px;
    text-align: center;
}
.landing.guide .guide-boxes .guide-box h2 {
    height: 54px;
    margin: 0;
}

.landing.guide .guide-boxes .guide-box.expanded .description,
.landing.guide .guide-boxes .guide-box.expanded .more {
    display: block;
    background-color: #595959;
}
.landing.guide .guide-boxes .guide-box:nth-child(even) {
    clear: both;
    margin-right: 4%;
}
.landing.guide .guide-boxes .owl-carousel.default {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-bottom: 2em;
}
.landing.guide .guide-boxes .owl-carousel.default .owl-stage {
    background-color: #232525;
}
.landing.guide .guide-boxes .owl-carousel .img-wrapper {
    float: left;
    width: 48%;
    position: static;
}
.landing.guide .guide-boxes .owl-carousel .content {
    height: auto;
    margin-left: 48%;
    padding: 70px 20px 20px 4%;
}
.landing.guide .guide-boxes .owl-carousel .content .button {
    left: 0;
    margin: 0.75em auto 0;
    position: static;
    font-size: 19px;
    line-height: 19px;
    max-width: 200px;
    padding: 12px 10px;
}
.landing.guide .guide-boxes .owl-carousel .title {
    position: static;
}
.landing.guide .guide-boxes .owl-carousel .tagline {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    bottom: 0;
    width: 48%;
    line-height: 23px;
    padding-bottom: 12px;
}
.landing.guide .guide-boxes .owl-carousel h2 {
    left: 49%;
    position: absolute;
    right: 0;
    bottom: unset;
    top: 6px;
    width: 51%;
    padding-right: 20px;
    z-index: 2;
    display: table;
}
.landing.guide .guide-boxes .owl-carousel h2 > *:first-child {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
}
.landing.guide .guide-boxes .owl-carousel .content, 
.landing.guide .guide-boxes .owl-carousel .content p {
    font-size: 16px;
    line-height: 21px;
}
.landing.guide .guide-boxes .owl-carousel .owl-controls {
    bottom: 17px;
    left: 0;
    width: 48%;
}
.landing.guide .guide-boxes .owl-carousel .owl-controls .owl-nav {
    float: right;
    margin-right: 10px;
    width: auto;
}
.landing.guide .owl-carousel + .content-active-slide {
    display: none;
}
.tab-flyouts h2 + ul.list-of-links {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.tab-flyouts .a-z {
    float: left;
    width: 50%;
}
.tab-flyouts .a-z ul {
    display: none;
}
.tab-flyouts select[name="az"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 37px;
    font-size: 18px;
    font-weight: 600;
    color: #73726f;
    text-transform: uppercase;
    border: 1px solid #d8d9d1;
    width: 100%;
    padding-left: 6px;
    cursor: pointer;
}
.tab-flyouts select[name="az"] option {
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
}
.tab-flyouts select[name="az"]::-ms-expand { /* for IE 11 */
    display: none;
}
.tab-flyouts .filters .arrow {
    background-color: #febe10;
    color: white;
    text-shadow: 0px 1px 0px rgba(157, 126, 0, 0.75);
    padding-top: 10px;
    position: absolute;
    text-align: center;
    width: 40px;
    display: block;
    bottom: 0;
    right: 0;
    top: 0;
    border: 1px solid #eaaf0f;
    pointer-events: none;
}
.tab-flyouts .a-z .arrow:hover {
    background-color: #e5ad12;
}
.tab-flyouts .filters > form input {
    width: 37%;
}

#main-content .node-webform .webform-client-form {
    max-width:600px;
}
#main-content .node-webform .form-item {
    margin-top: 0px;
    margin-bottom: 25px;
}
#main-content .node-webform .form-item .description {
    margin-left:0;
}
#main-content .node-webform label,
#main-content .node-webform input,
#main-content .node-webform select {
    float: none;
    width: 100%;
}
#main-content .node-webform .webform-component-radios .form-type-radio > input,
#main-content .node-webform .webform-component-checkboxes .form-type-checkbox > input {
    width:auto;
    margin-left:0;
}
#main-content .node-webform .webform-component-date {
    position:relative;
}
#main-content .node-webform .webform-component-date label {
    min-height:45px;
}
#main-content .node-webform label + .webform-datepicker select {
    margin-bottom: 10px;
}
#main-content .node-webform label + .webform-datepicker .webform-calendar {
    width:auto;
    float:none;
    margin-right:0;
    position:absolute;
    top:0;
    right:0;
}
#main-content .node-webform input.button {
    display: block;
    float: none;
    margin: 0 auto;
}

/* Theme */
.theme.landing header {
    min-height: 0;
}
.theme.landing .bg-banner-graphics {
    background-size: 1170px auto;
    height: 590px;
    top: -83px;
}
.theme.landing .pre-content > .bg-banner-graphics ~ .wrapper {
    margin-top: 107px;
}
.theme .bg-banner-img {
    background-size: 899px auto;
}
.theme.landing h1 {
    font-size: 64px;
}
.theme article {
    background-size: 1050px auto;
    padding-top: 39px;
}
.theme.landing article {
    padding-top: 70px;
}
.theme article::before {
    top: 390px;
}
.theme .theme-nav.prev a {
    left: 20px;    
}
.theme .theme-nav.next a {
    right: 20px;
}
.theme .pre-content .tagline {
    padding: 0 38px;
}
.theme #main-content {
    padding-top: 18px;
}
.theme.landing #main-content {
    margin-top: 72px
}
.theme #main-content .content-area h1 {
    font-size: 38px;
    line-height: 42px;
    margin-top: 27px;
}
#main-content .twitter-feature,
#main-content .instagram-feature {
    width: 50%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
#main-content .twitter-feature + .instagram-feature {
    border-left: 1px solid #cdd5d4;
    border-top-width: 0;
    padding-top: 0;
}
.twitter-feature::after {
    right: 40px;
}
#main-content .owl-carousel + .twitter-feature {
    border-top-width: 0;
    padding-top: 0;
}
.theme .content-area .sidebar-content {
    width: 100%;
}
.owl-carousel.navigation .owl-stage {
    padding-bottom: 0;
}
.owl-carousel.navigation .content {
    max-height: 102px;
    overflow: hidden;
}
.theme #main-content .content-area .owl-carousel.navigation .owl-item > div {
    padding-left: 297px;
}
.theme #main-content .content-area .owl-carousel.navigation .img-wrapper {
    max-width: 276px;
    float: left;
    margin-left: -297px;
}
.owl-carousel.navigation .owl-controls {
    bottom: 12px;
    left: 50%;
    margin-left: 70px;
    width: 21%;
    right: unset;
}
.owl-carousel.navigation .owl-controls .owl-dots {
    margin-left: -8px;
}
.owl-carousel.navigation .owl-controls .owl-nav {
    width: 90%;
}
.owl-carousel.navigation .owl-controls .owl-prev {
    margin-left: 0;
}
.owl-carousel.navigation .owl-controls .owl-next {
    margin-right: 0;
}
.theme.landing #main-content .themes .theme img {
    width: 100%;
}
.theme.landing #main-content .themes .theme .img-wrapper {
    height: auto;
}

.theme.landing #main-content .themes .theme.more-info .content .description,
.theme.landing #main-content .themes .theme.more-info .more {
    display: none;
}
.theme.landing #main-content .themes .theme .content {
    background-color: rgba(255, 255, 255, 0.85);
    bottom: 0;
    height: 90px;
}
form.search input { 
    display: block; 
    float: left; 
    position: static; 
    box-shadow: inset 0px 0px 8px 1px #CCC; 
    width: 237px; height: 31px !important; 
    border: 1px solid #87908f; 
    padding: 0px 10px; right: 0px; 
}

form.search .box{ 
    width:272px; 
    margin: 0 auto; 
}

/* News */
.news.landing header {
    min-height: 261px;
}
.news.landing .section-title {
    margin-top: -121px;
}
.news.landing .section-title > .wrapper,
.news.landing .section-title .wrapper > h1 {
    height: 84px;
    font-size: 48px;
}
.news .columns + .columns {
    clear: both;
    padding-top: 1em;
}
.news.landing .columns > .col-33 {
    margin-bottom: 2em;
}
.news .events-feed li {
    width: 50%;
}
.news .events-feed li:nth-child(2n) {
    padding-top: 0;
}
.news .events-feed li:nth-child(2n+1) {
    clear: left;
}
.news .col-33 {
    width: 50%;
}
.news.landing .events-feed .button {
    margin-top: 0;
}
.news.landing .columns:first-child + .columns + .columns {
    clear: none;
}
.news.landing #main-content .twitter-feature {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.twitter-feature::after {
    bottom: -35px;
}
.news.landing #main-content .twitter-feature li:last-child {
    padding-bottom: 0;
}


/* Home */
.banner .img-wrapper {
    height: 462px;
    background-size: 1087px auto;
}
.banner .content h2 {
    font-size: 50px;
    padding: 0 10px 20px;
    margin-top: 0;
}
.banner .content .band {
    height: 88px;
    padding: 22px 70px;
    font-size: 15px;
    line-height: 18px;
}
.banner .content > a {
    margin-top: -195px;
}
.banner .content .band > p:first-child {
    display: none;
}
.banner .content .band > .hover {
    font-size: 21px;
    line-height: 24px;
    display: table-cell;
}
.banner .owl-nav > .owl-prev {
    left: 10px;
}
.banner .owl-nav > .owl-next {
    right: 10px;
}

.news-boxes .news-box .hover a {
    padding: 11px 20px;
}

/* Alert */
body.alert > .wrapper {
    background-position: 20px 12px;
}
section.alert > .wrapper {
    padding: 0 50px;
}
.js section.alert.active > .bg-band {
    display: none !important;
}
.js .alert-on-screen header .global-nav .compressed {
    position: absolute;
}
.js .alert-off-screen header .global-nav .compressed  {
    position: fixed;
}
.alert .columns .column {
    width: 100%;
    float: none;
    padding-right: 0;
}
.alert .feature {
    max-width: 275px;
    margin: 0 auto;
}
body.alert h1,
section.alert.emergency h1 {
    font-size: 30px;
    line-height: 34px;
}
.alert .intro,
body.alert .intro,
section.alert.emergency .intro {
    font-size: 18px;
    line-height: 31px;
}
section.alert .close {
    left: 20px;
}
section.alert .more-less {
    right: 20px;
}
.compress #nav-underlay,
#nav-underlay {
    display:none;
}
.news #main-content .filters form .dropdown, 
.news #main-content .filters form .date-picker {
    width:25%;
}
.news #main-content .filters form .date-picker input, 
.news #main-content .filters form input {
    width:100%;
    box-sizing: border-box;
}
.news #main-content .filters form .news-search {
    width: 25%;
}
.news #main-content .filters form .news-search input {
    width:75%;
}

}
