.node-type-urgent-alert footer {
    display:none;
}
section.alert {
    position: absolute;
    z-index: 1001;
    border-top: 4px solid #fdbe14;
	color: #73726f;
}
.alert {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    background-color: #fdf3d7;
}
body.alert,
body.alert.home,
section.alert.emergency {
    border-top: 4px solid #cb1d00;
	color: #73726f;
	background-color: #fdf3d7;	
	background-image: none;
}
.alert > .wrapper {
	max-width: 1300px;
}
section.alert > .wrapper {
	position: relative;
	padding: 0 95px;
}
body.alert > .wrapper {
	overflow: auto;
}
.alert > .wrapper * + * {
	margin-top: 1em;
}
.alert > .wrapper .feature em,
.alert > .wrapper .feature strong,
.alert > .wrapper .feature a,
.alert > .wrapper .feature br {
	margin-top: 0 !important;
}
section.alert .content-area .feature ul li {
    margin-left: 13px;
    padding-left: 11px;
}
.alert .content-area {
	margin-left: 0;
}
.alert.advisory #more-info {
	line-height: 22px;
}
.js section.alert div.more {
	display: none;
    background-color: #fdf3d7;
}
.js .alert-on-screen section.alert.active > .bg-band {
    background-color: #006940;
    height: 55px;
    position: absolute;
    right: 0;
    bottom: -55px;
    width: 50%;
    z-index: -1;
    display: block;
}
.js section.alert.active.expanded > .bg-band,
.js section.alert.active > .bg-band,
.alert-on-screen header .green-band::after,
.alert-on-screen header .menu-band::after {
	display: none;
}

.js .compress section.alert.active > .bg-band,
.js .compress-tablet section.alert.active > .bg-band {
	width: 20.5%;
	bottom: -68px;
    height: 68px;
}
.js .alert-on-screen header .branding, 
.js .alert-on-screen nav.global-nav, 
.js .alert-on-screen header .flyout > div {
	position: absolute;
}
.js .alert-off-screen header .branding, 
.js .alert-off-screen nav.global-nav, 
.js .alert-off-screen header .flyout > div {
	position: fixed;
}
section.alert.expanded {
	-webkit-box-shadow: 0 0 115px 40px #000000;
	-moz-box-shadow: 0 0 115px 40px #000000;
	box-shadow: 0 0 115px 40px #000000;
}
body.alert > .wrapper {
	background: transparent url('../images/mason-logo-green-with-shadow.png') no-repeat 50px 12px;
	padding-top: 155px;
	position: relative;
}
html .alert h1 {
	color: #42413f;
	font-size: 22px;
	line-height: 28px;
	font-weight: 600;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	text-shadow: none;
}
section.alert.advisory h1 {
	margin-top: 0;
	margin-right: 80px;
}
.js section.alert.advisory h1 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
section.alert.advisory.expanded h1 {
	white-space: normal;
}
body.alert h1,
section.alert.emergency h1 {
	color: #d8543a;
	font-size: 34px;
	line-height: 40px;
}
section.alert .more-less,
section.alert.emergency .more {
	text-align: center;
}
section.alert .more-less > a,
section.alert.emergency .more > a {
	color: #d95c42;
	font-size: 18px;
	background-color: transparent;
	border: 1px solid #e58b73;
	text-shadow: none;
	padding: 13px 36px;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
}

section.alert .more-less > a {
	font-size: 14px;
}
section.alert.emergency .more > a:hover,
section.alert.emergency .more > a:focus {
    border-color: #d94223;
    color: #d94223;
}
section.alert .more-less > a > span {
	margin-top: 0;
}
section.alert.expanded .more-less > a > .more,
section.alert .more-less > a > .less {
	display: none;
}
section.alert .more-less > a > .more,
section.alert.expanded .more-less > a > .less {
	display: inline-block;
}
section.alert .more-less {
	position: absolute;
	top: -4px;
	right: 50px;
	margin-top: 0;
}
section.alert .wrapper .more-less > a,
section.alert .wrapper .more-less > a:focus {
	color: #9d7f00;
	border-color: #cebc73;
	font-size: 14px;
	background-color: #fef6df;
	padding: 6px 15px 5px;
}
section.alert .wrapper .more-less > a:hover{
	border-color: #c5a20d;
	color: #c5a20d;
}
section.alert .more-less > a::after {
	content: '\f056';
	font-size: 15px !important;
}
.alert .intro {
	font-size: 24px;
	line-height: 36px;
	color: #42413f;
}
.alert .feature {
    min-width: 275px;
}
body.alert .feature h2 {
    color: white;
}
.alert .feature a {
	color: #097984;
}
.alert .feature a:hover, 
.alert .feature a:focus {
    color: #00a8b8;
}
.alert .columns {
	position: relative;
	margin-top: 50px;
    padding-top: 50px;
}
.alert .column + .column {
	margin-top: 0;
}
.alert .column {
	float: right;
}
.alert .columns::before {
    border-top: 1px solid #cdd5d4;
    content: "";
    height: 0;
    left: 20px;
    position: absolute;
    right: 20px;
    top: -1px;
}
.alert .col-40 {
	padding-right: 7%;
}
.alert .alert-update {
	padding-bottom: 22px;
	border-top: 1px solid #cdd5d4;
}
.alert .alert-update + .alert-update {
    padding-top: 34px;
}
.alert .alert-update:first-child {
	border-top: 0 none;
}
.alert .date {
    color: #73726f;
    font-size: 14px;
    font-style: italic;
}
.alert h3 + .date {
    margin-top: 9px;
}
.alert .red-text {
	color: #d8543a;
}
.alert a {
    color: #e2aa12;
}
.alert a:hover, 
.alert a:focus {
    color: #f2b50f;
}
section.alert.active ~ header .global-nav .main-menu li:last-child::after {
    border-bottom: 55px solid transparent;
    border-left: 30px solid #006940;
    right: -30px;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
section.alert .close {
	position: absolute;
	left: 50px;
	top: 6px;
}
section.alert .close > a {
	color: #a19b88;
}
section.alert .close > a:hover,
section.alert .close > a:focus {
	color: #cebc73;
}
.alert-off-screen header .flyout > div {
	top: 0 !important;
}