*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.off-screen, .sc-reader-only {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
[class^="show-from"] {
	display: none;
}


div, a, li, span {
    outline-color: #77B0E8;
}

div:focus, a:focus, li:focus, span:focus   
outline: #77B0E8 solid;

}

html {
	background-color: white;
	height:100%;
}
body {
	background-color: white;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-size: 16px;
	outline-color :red;
	min-height: 100%;

	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;

	min-width: 320px;
	margin: 0 auto;
    /*max-width: 1600px;*/
    position: relative;
    overflow-x: hidden; /* This is to hide the overflow of the M on the audience menu */
}

div#skip-link {
    left: 50%;
    margin-left: -5.25em;
    margin-top: 0;
    position: absolute;
    width: auto;
    z-index: 50;

}

div#skip-link a {
	color: transparent;
}

div#skip-content-home {
    position: absolute;
    top: 400px;
}

h1,
.intro,
.button,
.news .section-title {
	font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
	letter-spacing: 0.025em;
}
a {
	color: #097984;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #00a8b8;
}

a:focus, input:focus, select:focus, button:focus, [tabindex]:focus {
    outline: 2px solid #77B0E8 !important;
}
.slick-carousel a:focus {
    outline: 1px solid #77B0E8 !important;
    background-color: rgba(119, 176, 232, 0.2);
    margin: 1px !important;
    /*box-shadow: 0 0 2px #77B0E8 inset !important;*/
}

.panels-ipe-editing {
    position:relative;
    z-index:10;
}