@media all {

    html {
        -webkit-tap-highlight-color: red;
    }
    .wrapper {
        margin: 0 auto;
        padding: 0 50px;
        max-width: 1200px;
    }
    strong, b {
        font-weight: bold;
    }
    i, em {
        font-style: italic;
    }
    body.html {
        background-image: url('../images/in-content/banner-student-life.jpg');
        background-repeat:  no-repeat;
        background-attachment:  fixed;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    body,
    body.html {
        background-size: initial;
    }
}
    header {
        min-height: 179px;
        width: 100%;
        margin: 0 auto;
        max-width: 1275px;
    }

    .temp-show{
        position:absolute !important;
        visibility:hidden !important;
        display:block !important;
    }
    
    .landing header {
        min-height: 446px;
    }
    .landing header::before {
        height: 446px;
    }
    header .branding {
        margin-left: 38px;
        position: absolute;
        top: 0;
        z-index: 0;
    }
    nav.global-nav {
        top: 0;
        position: absolute;
        z-index: 1000;
        max-width: 1275px;
        width: 100%;
        /*right: 0;*/
        height: 0;
    }
    .js nav.global-nav {
        position: fixed;
    }
    .js .school nav.global-nav {
        margin-top: 42px;
    }
    .js .school.compress nav.global-nav {
        margin-top: 0px;
    }
    .global-nav .wrapper {
        padding: 0;
        position: absolute;
        right: 0;
    }
    .js body.alert-on-screen section.alert.active > .bg-band {
        display:none;
    }
    header .compressed,
    header .compressed .branding,
    .compress header .main-menu,
    .compress header .utility-links {
        display: none;
    }
    .compress header .compressed {
        display: block;
        padding: 4px 30px 0 18px;
        height: 68px;
    }
    .compressed .logo {
        display: inline-block;
        position: relative;
    }

    .global-nav .compressed::before {
        border-bottom: 68px solid #006940;
        border-left: 35px solid transparent;
        content: "";
        height: 68px;
        /*left: -35px;*/
        right: 258px;
        position: absolute;
        top: 0;
        width: 0;
    }
    @-moz-document url-prefix() { 
      .global-nav .compressed::before {
         right: 257px;
      }
    }
    .global-nav-icon {
        color: transparent;
        font-size: 0;
    }
    .global-nav-icon::before {
        content: "\f0c9";
        font-size: 22px !important;
        color: white;
        margin-left: 20px;
        position: relative;
        top: -2px;
    }
    .compressed .search-toggle::after {
        color: white;
        font-size: 22px !important;
        margin-left: 20px;
        width: 20px;
        position: relative;
        top: -2px;
    }
    .search-expanded .compressed .search-toggle::after {
        content: "\f00d";
    }
    .global-nav .green-band,
    .global-nav .menu-band {
        background-color: #006940;
        float: right;
        padding-right: 26px;
    }
    .global-nav .green-band::after,
    .global-nav .menu-band::after {
        background-color: #006940;
        content: "";
        height: 55px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: -1;
    }
    .js .global-nav .green-band::after,
    .js .global-nav .menu-band::after {
        /*position: fixed;*/
    }
    #nav-underlay{
        position: relative;
        background: #006940;
        height: 55px;
        right: 0;
        top: 0;
        width: 311%;
        z-index: -1;
        left: 100%;
    }
    body.compress #nav-underlay{
        height: 68px;
        width: 311%;
    }
    .compress .global-nav .green-band::after,
    .compress .global-nav .menu-band::after {
        height: 68px;
        width: 15%;
    }
    .school.compress-menu .global-nav .green-band::after,
    .school.compress-menu .global-nav .menu-band::after{
        height: 52px;
        width: 311%;
        left: 100%;
    }
    .global-nav .main-menu li,
    .global-nav .utility-links li {
        display: inline-block;
    }
    .global-nav .main-menu > li > a,
    .global-nav .utility-links li > a {
        color: #fff;
        text-transform: uppercase;
    }
    .global-nav .main-menu > li > a {
        display: block;
        font-size: 18px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 18px 7px 17px;
        position: relative;
        height: 55px;
    }
    .global-nav .main-menu > li:first-child > a::before {
        border-bottom: 55px solid #006940;
        border-left: 35px solid transparent;
        content: "";
        height: 0;
        left: -50px;
        position: absolute;
        top: 0;
        width: 0;
    }
    .global-nav .main-menu > li > a:hover::after,
    .global-nav .main-menu > li.hover > a::after,
    /*.global-nav .main-menu > li.active > a::after,*/
    .global-nav .main-menu li.flyout-active a::after  {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        transform: skew(-30deg);
        -webkit-transform: skew(-30deg);
        -moz-transform: skew(-30deg);
        -o-transform: skew(-30deg);
        background: #febe10;
    }
    .global-nav .main-menu > li.active > a,
    .global-nav .main-menu > li.active > a:hover,
    .global-nav .main-menu > li.active > a:active {
        color: #ccebde;
    }
    /*header > .flyout > * {
        display: none;
    }*/
    .global-nav .utility-links {
        background-color: rgba(0, 0, 0, .35);
        clear: right;
        float: right;
        padding-right: 10px;
        position: relative;
        height: 40px;
        margin-right: 20px;
    }
    .global-nav .utility-links.search-expanded {
        height: 48px;
    }
    .global-nav .utility-links::before {
        content: "";
        border-bottom: 40px solid rgba(0, 0, 0, .35);
        border-left: 20px solid transparent;
        height: 40px;
        left: -20px;
        position: absolute;
        top: 0;
        width: 0;
    }
    .global-nav .utility-links::after {
        content: "";
        border-top: 40px solid rgba(0, 0, 0, .35);
        border-right: 20px solid transparent;
        height: 40px;
        right: -20px;
        position: absolute;
        top: 0;
        width: 0;
    }
    .global-nav .utility-links.search-expanded::before {
        border-bottom-width: 47px;
        height: 48px;
    }
    .global-nav .utility-links.search-expanded::after {
        border-top-width: 47px;
        height: 48px;
    }
    .global-nav .utility-links li > a {
        display: block;
        font-size: 14px;
        padding: 12px 10px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    }
    .global-nav .utility-links li.active > a {
        color:#bf9930;
    }
    .global-nav .utility-links li > a:hover {
        color: #febe10;
    }
    form.search .off-screen::after,
    form.search button::after,
    .compressed .search-toggle::after {
        content: "\f002";
    }
    form.search .off-screen::after {
        right: 0;
        top: 10px;
        left: unset;
        font-size: 14px !important;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
        color: white;
    }
    .search-expanded form.search .off-screen::after {
        content: "\f00d";
        position: absolute;
        top: 15px;
        left: 0;
    }
    .search-expanded form.search {
        height: 40px;
    }
    form.search .off-screen,
    form.search button,
    .green-band .compressed .search-toggle,
    .menu-band .compressed .search-toggle {
        font-size: 0;
        color: transparent;
        background-color: transparent;
        border: 0 none;
        position: static;
        cursor: pointer;
    }
    form.search button {
        display: none;
        padding: 0;
    }
    form.search button::after {
        font-size: 20px !important;
        color: #febe10;
        position: relative;
        top: 5px;
    }
    form.search input {
        display: none;
        font-size: 14px;
        position: absolute;
        top: 9px;
        padding: 0px 10px;
        right: 51px;
        width: 81%;
        height: 30px !important;
    }
    .global-nav .utility-links.search-expanded li > a {
        color: transparent;
        text-shadow: none;
    }
    .compress header .flyout {
        display: none;
    }
    header .flyout > div {
        display: none;
        background-color: white;
        position: fixed;
        width: 100%;
        z-index: 900;
        -webkit-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
        padding-bottom: 1.5em;
        left: 0;
    }
    header .flyout > div > .wrapper {
        max-width: 1290px;
        padding-top: 188px;
    }

    .branding.flyout-logo {
        margin-left: 9px;
        top: 15px;
    }

    header .flyout .column {
        width: 29%;
        padding-left: 30px;
        margin-top: 0;
    }
    header .flyout .column:last-child {
        width: 42%;
        padding-left: 90px;
    }
    header .flyout .flyout-sub-nav ul {
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    header .flyout .flyout-sub-nav * + * {
        margin-top: 0;
    }
    header .flyout-sub-nav a {
        display: block;
        padding-bottom: 18px;
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
    }
    header .flyout-sub-nav a:hover {
        text-decoration: underline;
    }
    .flyout .featured-img > img {
        width: 100%;
    }
    .flyout h2 {
       text-transform: uppercase;
       font-weight: bold;
       line-height: 24px;
    }
    header .flyout > div * + * {
        margin-top: 0.5em;
    }
    .flyout form select > * + * {
        margin-top: 0;
    }
    .flyout form select {
        width: 100%;
        background: url('../images/select-down-arrow.png') no-repeat right center transparent;
        border: 1px solid #87908f;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 6px;
        -webkit-box-shadow: 0 1px 5px #d3d3d3 inset;
        -moz-box-shadow: 0 1px 5px #d3d3d3 inset;
        box-shadow: 0 1px 5px #d3d3d3 inset;
        position: relative;
    }
    .flyout form select,
    .flyout form option {
        text-transform: uppercase;
        font-size: 14px;
        color: #616766;
        cursor: pointer;
    }
    .flyout p {
        color: #73726f;
        font-size: 14px;
        line-height: 22px;
    }
    .flyout form p {
        line-height: 22px;
    }
    .flyout ul.list-of-links > li::before {
        top: 0;
    }
    .flyout ul.list-of-links > li {
        padding-left: 16px;
    }
    .flyout ul.list-of-links li a:hover {
        text-decoration: underline;
    }
    header .flyout .button {
        font-size: 20px;
        float: right;
        padding: 10px 15px 9px;
    }
    button.button {
        border: 0 none;
        cursor: pointer;
    }
    article {
        position: relative;
        z-index: 5;
    }

    #main-content .feature,
    .alert .feature {
        background-color: #eff0e7;
    }
    .feature {
        font-size: 14px;
        line-height: 22px;
    }
    #main-content .feature > *,
    .alert .feature > * {
        padding-left: 18px;
        padding-right: 18px;
    }
    #main-content .feature > *:first-child,
    .alert .feature > *:first-child {
        padding-top: 18px;
    }
    #main-content .feature > *:last-child,
    .alert .feature > *:last-child  {
        padding-bottom: 18px;
    }
    #main-content .feature > img:first-child,
    .alert .feature > img:first-child {
        padding: 0;
        position: absolute;
        width: 275px;
        height: 183px;
    }
    #main-content .feature > img:first-child + h2,
    .alert .feature > img:first-child + h2 {
        display: table-cell;
        position: relative;
        background: transparent url('../images/feature-image-overlay.png') repeat-x left bottom;
        vertical-align: bottom;
        height: 183px;
        padding-bottom: 8px;
        width: 275px;
    }
    body #main-content .feature h2,
    body .alert .feature h2 {
      font-size: 28px;
      line-height: 28px;
      color: white;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    }
    #main-content .feature > h2:first-child,
    .alert .feature > h2:first-child {
        background-color: #006940;
        padding-bottom: 15px;
    }
    .button {
        font-size: 24px;
        line-height: 24px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(157, 126, 0, 0.75);
        background-color: #febe10;
        display: inline-block;
        font-weight: 700;
        padding: 13px 15px 11px;
    }
    .button::after {
        content: "\f138";
        padding-left: 8px;
        font-size: 18px !important;
        position: relative;
        top: -1px;
    }
    .button:hover,
    .button:focus {
        background-color: #e5ad12;
        color: white;
    }
    .left-column .feature .button {
        width: 100%;
    }

    /* Area of Study: Degrees */
    .content-area ul.program-listing li {
        background-image: none;
        padding-left: 0;
        margin-left: 0;
    }
    ul.program-listing li {
        border-top: 1px solid #cdd5d4;
        overflow: auto;
        padding-bottom: 21px;
        padding-top: 22px;
    }
    .program-listing .img-wrapper {
        width: 33.4%;
        float: left;
    }
    .program-listing .img-wrapper ~ * {
        margin-left: 37%;
    }
    #main-content .program-listing .img-wrapper + h3 {
        margin-top: -2px;
    }
    .content-area .program-listing h3,
    .program-listing h3 {
        font-size: 22px;
        color: #097984;
    }
    #main-content .program-listing .description,
    .program-listing .description {
        margin-top: 5px;
        display: block;
    }
    .program-listing .button {
        color: #febe10;
        background-color: transparent;
        padding: 0;
        font-size: 18px;
        text-shadow: none;
    }
    .program-listing .button:hover,
    .program-listing .button:focus {
        color: #e5ad12;
    }
    #main-content ul.program-listing .sm-italic-txt,
    ul.program-listing .sm-italic-txt {
        margin-top: -8px;
    }
    .program-listing .sm-italic-txt {
        color: #9d9c99;
        font-style: italic;
        font-size: 12px;
    }

    /* News Section */
    .news header {
        min-height: 268px;
    }
    .news header:before {
        height: 268px;
    }
    .news.landing header {
        min-height: 286px;
    }
    .news.landing header:before {
        height: 286px;
    }
    .news .section-title {
        font-size: 28px;
        color: white;
        font-weight: 700;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 105, 64, .7);
        margin-bottom: 25px;
        margin-top: -98px;
        padding-bottom: 2px;
        padding-top: 3px;
        display: table;
        width: 100%;
    }
    .news.landing .section-title {
        margin-top: -131px;
    }
    .news .section-title > .wrapper {
        height: 61px;
    }
    .news.landing .section-title > .wrapper {
        height: 94px;
        overflow: hidden;
    }
    .news .section-title .wrapper > p,
    .news .section-title .wrapper > h1 {
        display: table-cell;
        height: 62px;
        line-height: 28px;
        vertical-align: middle;
    }
    .news .section-title .wrapper > h1 {
        font-size: 60px;
        line-height: 60px;
        font-weight: bold;
        color: white;
        height: 94px;
    }
    .news.landing #main-content {
        clear: both;
    }
    .news.landing .owl-carousel-bg {
        overflow: auto;
        padding-bottom: 35px;
        padding-top: 30px;
    }
    .news.landing .owl-carousel .content {
        padding:30px 25px;
        background: #232525;
        position: relative;
    }
    .news.landing .owl-carousel p {
        color:#fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
    }
    .news.landing .owl-carousel p a.action-link{
        color: #febe10;
        font-size: 15px;
        font-weight: bold;
    }

    .news.landing .owl-carousel p a.action-link:before{
        content: "\f054";
        font-family: FontAwesome;
        margin-right: 5px;
        font-size: 15px;
        margin-left: 20px;
    }
    .news .details {
        color: #73726f;
        font-style: italic;
        margin-top: 20px;
    }
    .news .details a {
        font-weight: 600;
    }
    .back.button {
        background-color: #deebe9;
        color: #1f5c63;
        display: block;
        text-shadow: none;
        margin-bottom: 42px;
        padding-bottom: 15px;
        padding-top: 15px;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    }
    .back.button:hover,
    .back.button:focus {
        color: #01909e;
    }
    .back.button::before {
        content: "\f137";
        font-size: 20px;
        padding-right: 6px;
        position: relative;
        top: -1px;
    }
    .back.button::after {
        display: none;
    }

    .latest-news-feed {
        padding-top: 20px;
    }
    .col-50 .latest-news-feed {
        padding-top: 0;
    }
    .latest-news-feed .img-wrapper {
        float: left;
        margin-left: 10px;
        margin-right: 24px;
        overflow: hidden;
        padding-bottom: 8px;
        padding-top: 13px;
        width: 140px;
        height:140px;
    }
    .news.landing #main-content .img-wrapper {
        margin-left: 0;
    }
    .latest-news-feed .img-wrapper ~ * {
        margin-left: 33.3%;
    }
    .latest-news-feed > h2,
    .events-feed > h2,
    .news.landing #main-content h2 {
        color: #006940;
        font-size: 26px;
        font-weight: 600;
        position: relative;
        border-bottom: 1px solid #cdd5d4;
        padding-bottom: 15px;
        padding-right: 85px;
    }
    .news.landing #main-content .twitter-feature li {
        line-height: 30px;
        float: left;
        width:100%;
    }
    .news.landing #main-content .twitter-feature li + li {
        border-top: 1px solid #cdd5d4;
        margin-top: 22px;
        padding-top: 20px;
    }
    .news.landing #main-content .twitter-feature li:last-child {
        padding-bottom: 2em;
    }
    .news.landing #main-content .twitter-feature h2::before,
    .news.landing #main-content .facebook-feature h2::before {
        font-size: 30px !important;
        padding-right: 7px;
        color: #b3b4ae;
        position: relative;
        top: 1px;
    }
    .news.landing #main-content .twitter-feature h2::before {
        content: "\f081";
    }
    .news.landing #main-content .facebook-feature h2::before {
        content: "\f082";
    }
    .owl-carousel.simple .content {
        color: white;
        background-color: rgba(0, 0, 0, 0.35);
        font-size: 16px;
        text-shadow: 1px 1.732px 0px rgba(32, 32, 32, 0.75);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 20px;
    }
    .owl-carousel.simple .owl-controls {
        background-color: #eff0e7;
        position: static;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    #main-content .owl-carousel.simple .owl-controls {
        margin-top: 0;
    }
    .owl-carousel.simple .owl-controls .owl-nav {
        float: none;
        position: absolute;
        width: 100%;
    }
    .owl-carousel.simple .owl-controls .owl-prev {
        float: left;
        margin-left: 72px;
    }
    .owl-carousel.simple .owl-controls .owl-next {
        float: right;
        margin-right: 72px;
    }
    .owl-carousel.simple .owl-nav > div {
        background-color: #dbded5;
        border-color: #a4a59f;
    }
    .owl-carousel.simple .owl-nav > div:hover {
        background-color: #c7cac1;
    }
    .owl-carousel.simple .owl-controls .owl-dots {
        text-align: center;
        width: 100%;
        float: none;
    }
    .owl-carousel.simple .owl-controls .owl-dots .owl-dot {
        color: #535451;
    }
    .news #main-content .filters {
        padding:25px 20px;
    }
    .news #main-content .filters > h2 ~ form {
        margin-top: 0;
    }
    .news #main-content .filters form .dropdown,
    .news #main-content .filters form .date-picker {
        padding-right: 10px;
        float: left;
        margin-top:1em;
        position: relative;
    }
    .news #main-content .filters form .date-picker .calendar {
        color:#febe10;
        position: absolute;
        top: -5px;
        right: 20px;
        pointer-events: none;
    }
    .news #main-content .filters form .date-picker input,
    .news #main-content .filters form input {
        width:155px;
        box-sizing: border-box;
    }
    .news #main-content .filters form .news-search {
        float: left;
    }
    .news #main-content .filters form .news-search input {
        margin-top:0;
    }
    .news .content-active-slide .action-link {
        color: #febe10;
        font-weight: bold;
        font-size: 15px;
        margin-left: 30px;
        white-space: nowrap;
    }
    .news .content-active-slide .action-link::before {
        content: "\f054";
        padding-right: 5px;
        font-size: 12px !important;
        position: relative;
        top: -1px;
    }

    .latest-news-feed h2 .button,
    .events-feed h2 .button,
    .news.landing #main-content h2 .button {
        background-color: transparent;
        color: #febe10;
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        right: 0;
        text-shadow: none;
        bottom: 3px;
    }
    .latest-news-feed h2 .button:hover,
    .latest-news-feed h2 .button:focus,
    .events-feed h2 .button:hover,
    .events-feed h2 .button:focus,
    .news.landing #main-content h2 .button:hover,
    .news.landing #main-content h2 .button:focus {
        color: #e5ad12;
    }
    .latest-news-feed a,
    .events-feed a,
    .news.landing #main-content  a {
        font-weight: 600;
        line-height: 22px;
        font-size:18px;
        text-decoration: underline;
    }
    .news.landing #main-content  h2 a {
        text-decoration: none;
    }
    .news.landing #main-content .twitter-feature ul li a {
        word-break: break-all;
    }

    .news.landing .events-feed li a {
        color: #097984;
    }
    .news.landing .events-feed li a:hover,
    .news.landing .events-feed li a:focus {
        color: #00a8b8;
    }
    .news .events-feed li + li,
    .news.landing #main-content li + li {
        border: 0 none;
        padding-top: 10px;
    }
    .news .events-feed li:first-child {
        padding-top: 6px;
    }
    .news .date {
        font-size: 14px;
        font-style: italic;
    }
    .news .events-feed .month {
        text-transform: uppercase;
        font-size: 18px;
    }
    .news .events-feed .day {
        font-size: 36px;
    }
    .news .events-feed .date {
        font-style: normal;
    }
    #main-content .events-feed .date + * {
        margin-top: 0;
    }
    #main-content .latest-news-feed .date {
        margin-top: 12px;
    }
    #main-content .latest-news-feed li + li {
        margin-top: 23px;
        clear: left;
    }
    .news .addthis {
        float: right;
    }

    #main-content .img-wrapper.has-caption .caption {
        margin-top: 0;
        position: relative;
    }

    .img-wrapper.has-caption.loaded .caption {
        position: absolute !important;
    }

    .news #main-content .tags {
        margin-top: 0;
    }
    .news .tags > h2 {
        color: #73726f;
        float: left;
        font-size: 14px;
        font-weight: 700;
        width: 40px;
        margin-top: -7px;
    }
    .news .tags p {
        font-size: 14px;
        line-height: 22px;
        margin-left: 40px;
    }
    div.related-content {
        border-top: 1px solid #cdd5d4;
        padding-top: 26px;
    }
    #main-content div.related-content {
        margin-top: 28px;
    }
    .content-area .filters > h2 {
        color: #42413f;
        font-family: "Roboto Slab", Palatino Linotype, Palatino, serif;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.025em;
    }
    .content-area .news-list li {
        background-image: none;
        margin-left: 0;
        padding: 10px 0 22px;
        border-bottom: 1px solid #cdd5d4;
        overflow: auto;
    }
    .content-area .news-list li .img-wrapper {
        float: left;
        overflow: hidden;
        padding: 10px 24px 8px 10px;
        width: 37.8%;
    }
    .news-list li .img-wrapper ~ * {
        margin-left: 37.8%;
    }
    .news-list li a {
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
    }
    #main-content .news-list .details {
        font-size: 14px;
        margin-top: 0;
    }
    .news.landing .columns + .columns {
        clear: left;
        padding-top: 75px;
    }

    .img-wrapper.has-caption {
        display: inline-block;
        position: relative;
        max-width: 100%;
    }
    .img-wrapper img {
        display: block;
        /*width: 100%;*/
    }
    /*.img-wrapper.right img,
    .img-wrapper.left img {
        width: auto;
    }*/
    .img-wrapper .caption {
        background-color: #232525;
        font-size: 14px;
        line-height: 20px;
        color: white;
        padding: 20px;
    }
    .img-wrapper.has-caption > .caption {
        left: 0;
        position: absolute;
        right: 0;
    }
    .caption .cite {
        color: #aaaaaa;
        font-style: italic;
    }
    .content-area .video-wrapper .embedded-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .content-area .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .content-area .video-wrapper.right,
    .content-area .video-wrapper.left {
        width: 342px;
    }


    /* Pager */
    ul.pager {
        width:450px;
        position: relative;
        padding:0 70px;
        margin:0 auto;
        text-align:center;
    }
    #main-content * + .pager {
        margin-top: 50px;
    }
    #main-content .pager > *,
    #main-content ul.pager li {
        display:inline-block;
        margin-top: 0;
    }
    #main-content ul.pager li {
        background-image: none;
        margin-left: 0;
        padding-left: 0;
        margin:0;
        padding:0;
    }
    /*#main-content ul.pager li + li {
        margin-left: 10px;
    }*/
    #main-content ul.pager li > a,
    #main-content .pager > a,
    #main-content ul.pager li.pager-current {
        color: #006940;
    }
     #main-content ul.pager li > *,
    #main-content ul.pager li.pager-current a {
        font-size: 16px;
        font-weight: 700;
       padding: 3px 10px 4px 11px !important; 
    }
    #main-content ul.pager li > .dropdown {
        padding: 0;
    }
    #main-content ul.pager li.pager-current a {
        background-color: #febe10 !important;
        color: white;    }
    #main-content ul.pager li.pager-ellipsis {
        display:none;
    }
    .js #main-content .pager .dropdown select + .arrow {
        padding-top: 7px;
    }
    #main-content .pager .pager-first,
    #main-content .pager .pager-previous,
    #main-content .pager .pager-next,
    #main-content .pager .pager-last {
        position:absolute;
        top:50%;
        margin-top:-18px;
        padding-top: 1px;
        text-indent:-9999px;
        width:38px;
    }
    #main-content .pager .pager-first {
        left:0px;
    }
    #main-content .pager .pager-previous {
        left:42px;
    }
    #main-content .pager .pager-next {
        right:42px;
    }
    #main-content .pager .pager-last {
        right:0px;
    }
    #main-content .pager .pager-previous a, #main-content .pager .pager-next a {
        display: block;
    }

    #main-content .pager .pager-first a:after,
    #main-content .pager .pager-previous a:after,
    #main-content .pager .pager-next a:after,
    #main-content .pager .pager-last a:after {
        position:absolute;
        top:50%;
        line-height:0;
        font-family:FontAwesome;
        font-size:24px;
        text-indent:0;
    }
    #main-content .pager .pager-first a:after {
        margin-top:-2px;
        content:"\f060";
        left:0;
    }
    #main-content .pager .pager-previous a:after {
        content:"\f053";
        left:0;
    }
    #main-content .pager .pager-next a:after {
        content:"\f054";
        right:0;
    }
    #main-content .pager .pager-last a:after {
        margin-top:-2px;
        content:"\f061";
        right:0;
    }



    /* Search Results */
    li.search-result {
        display:block;
        background:none !important;
        font-size:18px;
        line-height:24px;
    }
    li.search-result a.search-result-title {
        font-size:24px;
        line-height:32px;
        font-weight:700;
    }
    .search-info {
        font-size:16px;
        font-style:italic;
        color:#006940;
    }
    .search-crawl-date {
        color:#73726f;
    }

    /* Table scroll styles */
    #main-content .content-area .table-wrapper {
        max-width: 100%;
        position: relative;
    }
    #main-content .content-area .table-wrapper > div.table {
        max-width: 100%;
        overflow: auto;
    }
    #main-content .content-area .table-wrapper > div.shadow {
        background: none repeat-y scroll left top transparent;
        bottom: 0;
        display: none;
        margin: 0;
        position: absolute;
        top: 0;
        width: 20px;
        z-index: 50;
    }
    #main-content .content-area .table-wrapper > div.shadow.left {
        background-image: url('../images/table-scroll-shadow-left.png');
        left: 0;
    }

    #main-content .content-area .table-wrapper > div.shadow.right {
        background-image: url('../images/table-scroll-shadow-right.png');
        right: 0;
    }
    .content-area table.datatable {
        border-top: 1px solid #cdd5d4;
    }
    .content-area table.datatable thead {
        border-bottom: 10px solid #006940;
    }
    .content-area table.datatable tbody {
        border: 1px solid #eff0e7;
    }
    .content-area table.datatable th {
        color: #42413f;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        padding: 30px 3% 4px;
    }
    .content-area table.datatable td {
        font-size: 14px;
        line-height: 20px;
        padding: 13px 3%;
    }
    .content-area table.datatable tbody tr:nth-child(2n+1) {
        background-color: #eff0e7;
    }


    .the-latest,
    .the-latest.wrapper {
        overflow: auto;
        padding: 44px 50px 35px;
        display: none;
        background: transparent url('../images/in-content/the-latest-bg.jpg') no-repeat fixed center top / cover;
        position: relative;
    }
    .the-latest h2 {
        font-size: 46px;
        text-align: center;
        font-weight: 700;
        color: white;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
    }
    .the-latest h2 + .news-boxes {
        margin-top: 5px;
    }
    .news-boxes {
        display: block;
        margin: 0 auto;
        max-width: 1217px;
    }
    .news-boxes .news-box {
        float: left;
        padding: 0 20px;
        width: 33.33%;
    }
    .js .news-boxes .news-box {
        cursor: pointer;
    }
    .news-boxes .news-box .wrapper {
        max-width: none;
        padding: 0;
        background: #fff;
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 30%, rgba(255,255,255,1) 51%, rgba(255,255,255,0.85) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(255,255,255,1)), color-stop(51%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.85))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 30%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.85) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 30%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.85) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 30%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.85) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 30%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.85) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9ffffff',GradientType=0 ); /* IE6-9 */
        margin: 20px 0;
        overflow: hidden;
        /*width: 29.9%;
        float: left;*/
        height: 370px;
        text-align: center;
        position: relative;
        display: table;
        width: 100%;
    }
    .js .news-boxes .news-box:nth-child(1n+4) {
        display: none;
    }

    .news-boxes .news-box .img-wrapper {
        height: 219px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .news-boxes .news-box img {
        min-width: 100%;
        height: auto;
    }
    .news-boxes .news-box .content {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .news-boxes .news-box.more-info .content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    /*.news-boxes .news-box:hover .headline,*/
    .news-boxes .news-box h3 {
        color: #007682;
        font-size: 21px;
        line-height: 26px;
        width: 100%;
    }
    .news-boxes .news-box .event-info {
        color: #73726f;
        font-size: 14px;
        font-style: italic;
    }
    .news-boxes .news-box .headline > * + *,
    .news-boxes .news-box .hover > * + * {
        margin-top: 12px;
    }
    .news-boxes .news-box .headline,
    .news-boxes .news-box .hover {
        padding: 20px;
        height: 151px;
        position: relative;
        z-index: 1;
    }
    .news-boxes .news-box .hover {
        height: 0;
        padding: 0 20px;
    }
    .news-boxes .news-box .hover ul{
        opacity: 0;
    }
    .news-boxes .news-box .hover li + li {
        margin-top: 7px;
    }
    .news-boxes .news-box .hover a {
        border: 1px solid #b3b3b2;
        color: #d5a113;
        font-size: 14px;
        display: block;
        font-weight: 700;
        padding: 11px 52px;
        background-color: #fff;
    }
    .news-boxes .news-box .hover li:first-child > a {
        text-transform: uppercase;
        font-size: 16px;
        padding: 11px;
    }
    .news-boxes .news-box .hover li:first-child > a::after {
        content: "\f138";
        padding-left: 8px;
    }
    .news-boxes .news-box .hover li:first-child > a:hover {
        text-shadow: none;
    }
    .news-boxes .news-box .hover a:hover,
    .news-boxes .news-box .hover a:focus {
        border: 1px solid #febe10;
        background-color: #febe10;
        color: #fff;
        text-shadow: 0px 1px 0px rgba(157, 126, 0, 0.75);
    }

    .js .news-boxes .more {
        display: block;
    }
    .news-boxes .more {
        display: none;
        clear: left;
        text-align: center;
    }
    .news-boxes .more a {
        border: 1px solid #5b635d;
        color: #87908f;
        text-align: center;
        text-transform: uppercase;
        padding: 19px 10px;
        min-width: 228px;
        display: inline-block;
        background-color: rgba(0, 0, 0, .7);
    }
    .news-boxes .more a:hover,
    .news-boxes .more a:focus  {
        border: 1px solid #c4c7c4;
        color: #e3e2df;
    }
    .news-boxes .more a::after {
        content: "\f055";
        padding-left: 8px;

    }
    .news-boxes .more.all-shown a::after {
        content: "\f138";
    }

    /* Audience Menu */
    .audience-menu {
        background-color: #006940;
        position: relative;
    }
    .audience-menu > .wrapper {
        max-width: 1290px;
    }
    .audience-menu .flyout {
        display: none;
        background-color: white;
        bottom: 154px;
        left: 0;
        position: absolute;
        width: 100%;
        padding: 40px 0;
        -webkit-box-shadow: 0px -12px 50px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px -12px 50px 0px rgba(0,0,0,0.5);
        box-shadow: 0px -12px 50px 0px rgba(0,0,0,0.5);
    }
    .audience-menu .flyout .wrapper {
        max-width: 1270px;
    }
    .audience-menu .flyout.expanded {
        display: block;
    }
    .audience-menu .flyout .column {
        float: right;
        width: 29%;
        padding-left: 30px;
    }
    .audience-menu .flyout .column:first-child {
        width: 42%;
    }
    .audience-menu .flyout .column:first-child > * {
        float: right;
    }
    .audience-menu .flyout .column:last-child {
        padding-left: 10px;
    }
    .audience-menu .flyout .img-wrapper {
        max-width: 100%;
    }
    .flyout .featured-links a {
        background-color: #01909e;
        color: white;
        font-size: 22px;
        display: block;
        text-align: center;
        font-weight: 600;
        padding: 15px 5px;
        text-transform: uppercase;
    }
    .flyout .featured-links a:hover,
    .flyout .featured-links a:focus {
        background-color: #3ab3c1;
    }
    .flyout .featured-links li {
        margin-bottom: 23px;
    }
    .flyout .img-wrapper > a {
        display: inline-block;
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }
    .flyout .img-wrapper img + .button {
        bottom: 0;
        position: absolute;
        right: 0;
    }
    .flyout .img-wrapper a:hover .button {
        background-color: #e5ad12;
    }
    .footer  {
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;
    }
    .footer .wrapper::after {
        content: url('../images/audience-menu-mason-m.png');
        position: absolute;
        right: -100px;
        top: -213px;
        z-index: -1;
    }
    .audience-menu > ul {
        display: table;
    }
    .audience-menu > ul::after {
        content: url('../images/audience-menu-mason-m-top.png');
        position: absolute;
        right: -100px;
        top: -68px;
        z-index: 0;
    }
    .audience-menu > ul > li {
        display: block;
        float: left;
        overflow: hidden;
        width: 16.4%;
    }
    .audience-menu > ul > li + li {
        margin-left: 2px;
    }
    .audience-menu > ul > li > a {
        display: block;
        height: 70px;
        margin-bottom: 42px;
        margin-top: 42px;
        padding: 0;
        position: relative;
        z-index: 1;
        text-shadow: 0 1px 0 #000000;
    }

    .audience-menu > ul > li.flyout-active > a::before {
        background-color: #febe10;
        top: -42px;
        content: "";
        height: 7px;
        left: 2px;
        position: absolute;
        right: 2px;
        transform: skew(-30deg);
    }
    .audience-menu > ul > li.flyout-inactive > a > .img-wrapper img {
        opacity: 0.3;
    }
    .audience-menu > ul > li > a > .img-wrapper {
        display: block;
        height: 70px;
        overflow: hidden;
        position: relative;
    }
    .audience-menu > ul > li > a img {
        float: right;
        position: absolute;
        top: -37px;
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
    .audience-menu > ul > li > a > h2 {
        background-color: #004c2e;
        clear: right;
        color: white;
        font-size: 17px;
        font-weight: 600;
        height: 70px;
        line-height: 17px;
        padding: 16px 50px 0 10px;
        position: relative;
        text-transform: uppercase;
        top: -70px;
    }
    .audience-menu > ul > li > a > h2 {
        background-color: #004c2e;
    }
    .audience-menu > ul > li > a:hover h2,
    .audience-menu > ul > li > a:focus h2,
    .audience-menu > ul > li.flyout-active > a h2{
        background-color: rgba(150, 176, 163, .4);
    }

    /* Content */
    .pre-content {
        background-color: #eff0e7;
        padding: 32px 0;
    }
    h1 {
        font-size: 40px;
        color: #42413f;
        font-weight: 700;
    }
    .landing h1 {
        color: white;
        font-size: 60px;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        line-height: 48px;
    }
    .landing .pre-content > .wrapper:first-child {
        margin-top: -160px;
    }
    .landing h1 + .cta-boxes {
        margin-top: 20px;
    }
    .landing .cta-boxes + * {
        margin-top: 21px;
    }
    .landing .pre-content p {
        color: #42413f;
        font-size: 22px;
        line-height: 34px;
    }
    .landing.compress header .branding,
    .compress header .branding {
        display: none;
    }
    .breadcrumb {
        margin-top: 17px;
        color: #87908f;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin-right: 35px;
    }
    .breadcrumb a {
        color: #87908f;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin-right: 35px;
        text-decoration: underline;
    }

    .breadcrumb > a:hover,
    .breadcrumb > a:focus {
        color: #519399;
    }
    .breadcrumb > a::after {
        content: "/";
        font-weight: 500;
        padding-left: 17px;
        padding-right: 14px;
        position: absolute;
    }
    .breadcrumb > a:hover::after,
    .breadcrumb > a:focus::after {
        color: #87908f;
    }
    #main-content {
        padding-top: 40px;
        overflow: auto;
        padding-bottom: 60px;
        color: #73726f;
        background-color: white;
    }
    #main-content img {
        max-width: 100%;
        height: auto;
    }
    #main-content .left-column {
        width: 275px;
        margin-right: 2em;
        float: left;
    }
    .columns {
        margin-left: -20px;
    }
    .column {
        width: 33%;
        float: left;
        padding-left: 20px;
    }
    #main-content .column img {
        width: 100%;
    }
    #main-content .column img.left,
    #main-content .column img.right  {
        width: auto;
    }
    #main-content .content-area .column + .column,
    #main-content .column + .column {
        margin-top: 0;
    }
    .col-33 {
        width: 33.33%;
    }
    .col-30 {
        width: 30%;
    }
    .col-35 {
        width: 35%;
    }
    .col-40 {
        width: 40%;
    }
    .col-45 {
        width: 45%;
    }
    .col-50 {
        width: 50%;
    }
    .col-60 {
        width: 60%;
    }
    .col-65 {
        width: 65%;
    }
    .col-74 {
        width: 73.7%;
        padding-right: 7.2%;
    }
    .col-26 {
        width: 26.3%;
    }
    .theme .col-74 { /* making right sidebar fixed width */
        margin-right: -275px;
        padding-right: 325px;
        width: 100%;
    }
    .theme .col-26 { /* making right sidebar fixed width */
        width: 275px;
        float: right;
        padding-left: 0;
    }
    .content-area {
        margin-left: 375px;
        line-height: 28px;
    }
    .content-area.extra {
        /* Used for extra embedded content outside of the main content area */
        margin:0;
        padding:0;
    }
    .content-area.extra { 
        margin-top:1em; 
    }

    /* Mimic the styles put on #main-content, since .extra doesn't necessarily appear within it */
    .content-area.extra * + * { margin-top:1em; }
    .content-area.extra ul * + *,
    .content-area.extra ol * + * {
        margin-top: 0.5em;
    }

    .landing .content-area {
        margin-left: 0;
    }
    #main-content * + * {
        margin-top: 1em;
    }
    #main-content .sub-nav * + * {
        margin-top: 0;
    }
    #main-content ul * + *,
    #main-content ol * + * {
        margin-top: 0.5em;
    }
    .content-area .intro {
        font-size: 24px;
        line-height: 36px;
        color: #42413f;
    }
    .content-area h2,
    .content-area h4,
    .content-area h5,
    .sidebar-title{
        color: #006940;
    }
    .content-area h2, .sidebar-title {
        font-size: 26px;
        line-height: 34px;
        font-weight: 600;
    }
    .content-area h3 {
        color: #004c2e;
        font-size: 23px;
        line-height: 29px;
        font-weight: 600;
    }
    .content-area h4 {
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
    }
    .content-area .right,
    .content-area img.right,
    .img-wrapper.right {
        float: right;
        margin: 2px 0 23px 35px;
    }
    .content-area .left,
    .content-area img.left,
    .img-wrapper.left {
        float: left;
        margin: 2px 35px 23px 0;
    }
    .content-area ol li,
    .content-area ul ol li {
        list-style-type: decimal;
        margin-left: 41px;
        padding-left: 0;
        background-image: none;
    }
    .content-area ul li {
        list-style-type: none;
        background: url('../images/gray-bullet.png') no-repeat scroll left 12px;
        padding-left: 17px;
        margin-left: 24px;
    }
    .content-area ul li + li {
        margin-top: 6px;
    }
    ul.list-of-links li {
        position: relative;
        background-image: none;
        padding-left: 17px;
        margin-left: 24px;
        line-height: 1.75em;
    }
    ul.list-of-links li .fa{
        font-size: 0.8em;
    }
    ul.list-of-links li + li{
        margin-top: 0.5em;
    }
    ul.list-of-links > li::before {
        content: "\f0da";
        position: absolute;
        left: 0;
        top: 6px;
        color: #007682;
    }
    .callout {
        border-color: #cdd5d4;
        border-style: solid;
        border-width: 1px 0;
        overflow: auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .callout h2 {
        font-size: 22px;
        line-height: 28px;
        color: #42413f;
        font-weight: 500;
    }
    .callout img.left + *,
    .callout img.right + * {
        margin-top: 0;
    }
    .callout img.left {
        margin-right: 25px;
        margin-bottom: 0;
    }
    .callout img.right {
        margin-left: 25px;
        margin-bottom: 0;
    }
    blockquote {
        background-color: #eff0e7;
        padding: 20px 15px 18px 34px;
        position: relative;
        font-size: 20px;
        line-height: 28px;
        color: #42413f;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
    }
    #main-content blockquote .cite {
        color: #73726f;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        margin-top: 10px;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    }
    blockquote::before {
        content: "";
        top: 0;
        bottom: 0;
        border-left: 10px solid #febe10;
        width: 0;
        left: 0;
        position: absolute;
    }
    .expandable-content-wrapper {
        padding-bottom: 1em;
    }
    #main-content .expandable-content-wrapper .expanded-content,
    #main-content .expandable-content-wrapper .header a > span {
        margin-top: 0;
    }
    .expandable-content-wrapper .header {
        color: #42413f;
        font-size: 20px;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        font-weight: 500;
        line-height: 22px;
        border-bottom: 1px solid #cdd5d4;
        padding: 22px 72px 6px 1px;
        position: relative;
        background-color: white;
    }
    .expandable-content-wrapper .header a {
        display: block;
        color: #42413f;
    }
    .expandable-content-wrapper .header a > span {
        color: #097984;
        font-size: 12px;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
        font-weight: 600;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        bottom: 4px;
    }
    .expandable-content-wrapper .header span .fa {
        font-size: 18px !important;
        padding-left: 3px;
        position: relative;
        top: 1px;
    }
    .expandable-content-wrapper .header.open .more,
    .expandable-content-wrapper .header .less {
        display: none;
    }
    .expandable-content-wrapper .header.open .less,
    .expandable-content-wrapper .header .more {
        display: block;
    }
    .expandable-content-wrapper .expanded-content {
        background-color: #eff0e7;
        padding: 22px;
        font-size: 14px;
        line-height: 20px;
    }
    .js .expandable-content-wrapper .expanded-content {
        display: none;
    }
    #main-content .expandable-content-wrapper .expanded-content > * + * {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 0;
    }
    .content-area .expandable-content-wrapper .expanded-content ul li {
        background-position: left 7px;
    }
    .cta-boxes {
        overflow: auto;
    }
    .cta-boxes > .column {
        height: 100px;
        overflow: hidden;
    }
    .cta {
        background-color: #425196;
        background-position: right bottom;
        background-repeat: no-repeat;
        color: #eff0e7;
        display: table;
        font-size: 26px;
        font-weight: 600;
        width: 100%;
        height: 89px;
    }
    .content-area .cta-boxes .cta {
        font-size: 22px;
        line-height: 22px;
        color: white;
    }
    .cta.person {
        background-image: url('../images/cta-icons/cta-person.png');
    }
    .cta.info {
        background-image: url('../images/cta-icons/cta-info.png');
    }
    .cta.athletics {
        background-image: url('../images/cta-icons/cta-athletics.png');
    }
    .cta.books {
        background-image: url('../images/cta-icons/cta-books.png');
    }
    .cta.calendar {
        background-image: url('../images/cta-icons/cta-calendar.png');
    }
    .cta.financial {
        background-image: url('../images/cta-icons/cta-financial.png');
    }
    .cta.form {
        background-image: url('../images/cta-icons/cta-form.png');
    }
    .cta.graduate {
        background-image: url('../images/cta-icons/cta-graduate.png');
    }
    .cta.news {
        background-image: url('../images/cta-icons/cta-news.png');
    }
    .cta.research {
        background-image: url('../images/cta-icons/cta-research.png');
    }
    .cta.ball {
        background-image: url('../images/cta-icons/cta-ball.png');
    }
    .cta.school {
        background-image: url('../images/cta-icons/cta-school.png');
    }
    .landing .cta {
        height: 100px;
    }
    .left-column .cta {
        margin-bottom: 20px;
    }

    #main-content .left-column .cta,
    #main-content .cta-boxes + .cta-boxes {
        margin-top: 0;
    }
    .cta:hover,
    .cta:focus {
        background-color: #6a66b8;
        color: white;
    }
    .cta > span {
        display: table-cell;
        vertical-align: bottom;
        padding: 8px 22% 9px 15px;
    }
    .cta > span::after {
        content: "\f138";
        padding-left: 8px;
        font-size: 20px !important;
    }
    .events-feed li {
        padding: 15px 4px 10px 68px;
    }
    .events-feed li + li {
        border-top: 1px solid #cdd5d4;
    }
    .events-feed .date {
        color: #006940;
        float: left;
        margin-left: -68px;
        text-align: center;
        width: 50px;
    }
    .events-feed .month,
    .events-feed .day {
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        text-transform: uppercase;
    }
    .events-feed .month {
        font-size: 16px;
        font-weight: 700;
    }
    .events-feed .day {
        font-size: 34px;
        font-weight: 900;
    }
    #main-content .events-feed ul h2 {
        margin-top: 0;
    }
    .events-feed li a {
        color: #61605e;
        line-height: 20px;
    }
    .events-feed li a:hover,
    .events-feed li a:focus {
        color: #01909e;
    }
    .sidebar-content .events-feed .button {
        display: block;
        max-width: none;
    }
    .events-feed .button {
        background-color: #01909e;
        max-width: 275px;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    }
    .events-feed .button:hover,
    .events-feed .button:focus {
        background-color: #3ab3c1;
    }
    #main-content .events-feed .time {
        color: #8c8b89;
        font-size: 13px;
        font-style: italic;
        margin-top: 11px;
    }

    .twitter-feature {
        position: relative;
        z-index: 0;
        float: left;
        width:100%;
    }
    .twitter-feature::after {
        content: "\f099";
        font-size: 141px !important;
        position: absolute;
        right: 0;
        bottom: -20px;
        color: #f6f6f1;
        z-index: -1;
    }
    .twitter-feature h3 {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
    }
    .content-area .twitter-feature ul li:first-child {
        padding-top: 0;
        border-top: 0;
    }
    .content-area .twitter-feature ul li:last-child,
    .left-column .twitter-feature ul li:last-child {
        padding-bottom: 25px;
    }
    .content-area .twitter-feature ul li {
        background-image: none;
        border-top: 1px solid #cdd5d4;
        margin-left: 0;
        padding: 15px 0 14px;
    }
    .left-column .twitter-feature ul li {
        line-height: 28px;
    }
    #main-content .twitter-feature > p + p {
        margin-top: 0;
    }
    #main-content .owl-carousel + .twitter-feature,
    #main-content .twitter-feature + .instagram-feature {
        border-top: 1px solid #cdd5d4;
        margin-top: 30px;
        padding-top: 30px;
    }
    .owl-carousel {
        display: block !important;
    }
    .owl-carousel > div {
        display: none;
    }
    .js .owl-carousel > div {
        display: block;
    }
    .owl-carousel > div:first-child {
        display: block;
    }
    .owl-carousel-bg {
        position: relative;
        padding-bottom: 69px;
        padding-top: 69px;
        /*background-size: cover;*/
    }
    .owl-carousel-bg::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../images/carousel-bg-overlay.png') repeat-x left top;
    }
    .owl-carousel-bg .owl-carousel .owl-item {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        min-height: 162px;
    }
    .owl-carousel-bg .owl-carousel .owl-item.active + .owl-item.active {
        border-left: 1px solid #b2b9be;
    }
    #main-content .owl-carousel .owl-item + .owl-item {
        margin-top: 0;
    }
    #main-content .owl-carousel .owl-item .content {
        margin-top:0;
    }
    .owl-carousel-bg .owl-carousel h2 {
        color: #febe10;
        font-size: 45px;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        line-height: 45px;
        font-weight: 700;
        background-color: transparent;
        position: static;
        cursor: default;
        padding: 0 0 8px;
        min-height: 0;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    }
    @media only screen and (max-width:1000px)  {
        font-size: 40px;
    }
    .owl-carousel-bg .owl-controls {
        position: static;
    }
    .owl-carousel-bg .owl-nav > div {
        font-size: 40px;
        margin-top: -25px;
        position: absolute;
        top: 50%;
        color: white;
        opacity: 0.4;
        border: 0 none;
        background-color: transparent;
        float: none;
        padding: 0;
        margin-left: 0;
    }
    .owl-carousel-bg .owl-nav > div:hover,
    .owl-carousel-bg .owl-nav > div:focus {
        opacity: 1;
    }
    #main-content .owl-nav > div {
        margin-top: 0;
    }
    .owl-carousel-bg .owl-nav .owl-prev {
        left: 5px;
    }
    .owl-carousel-bg .owl-nav .owl-next {
        right: 5px;
    }
    .owl-carousel h2 {
        background-color: rgba(0, 0, 0, .35);
        font-size: 28px;
        color: white;
        font-weight: 600;
        text-shadow: 1px 1.732px 0px rgba(32, 32, 32, 0.75);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 160px 20px 24px;
        min-height: 75px;
    }
    .owl-carousel.hidden-caption h2 {
        cursor: pointer;
    }
    .owl-carousel.hidden-caption h2::after,
    .landing.guide .owl-carousel.hidden-caption h2 > span::after {
        content: "\f055";
        padding-left: 8px;
        font-size: 20px !important;
    }
    .landing.guide .owl-carousel.hidden-caption h2::after {
        display: none;
    }
    .owl-carousel.hidden-caption h2.expanded::after {
        content: "\f056";
    }
    .owl-carousel.hidden-caption .content {
        display: none;
    }
    .webform-component.webform-component-radios .form-item.form-type-radio {
        width: 100%;
        margin-top: 1em;
        float: left;
    }
    #main-content form input[type="radio"] {
        height: 20px;
    }
    .content-active-slide {
        background: #242527; /* Old browsers */
        background: -moz-linear-gradient(left,  #242527 0%, #232426 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#242527), color-stop(100%,#232426)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #242527 0%,#232426 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #242527 0%,#232426 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #242527 0%,#232426 100%); /* IE10+ */
        background: linear-gradient(to right,  #242527 0%,#232426 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242527', endColorstr='#232426',GradientType=1 ); /* IE6-9 */
        display: none;
        color: white;
        padding: 15px;
        position: relative;
        z-index: 1;
    }
    #main-content .content-active-slide,
    .content-active-slide {
        margin-top: -1px !important;
        font-size: 18px;
        color: white;
    }
    .pre-content .content-active-slide p {
        font-size: 18px;
        color: white;
    }

    .owl-controls {
        bottom: 19px;
        position: absolute;
        right: 20px;
        width: 135px;
    }
    .owl-nav > div {
        border: 1px solid #66635b;
        background-color: rgba(0, 0, 0, .5);
        float: left;
        height: 35px;
        width: 35px;
        padding: 0;
        text-align: center;
        margin-left: 2px;
        color: #87908f;
        font-size: 14px;
        display: table;
    }
    .owl-controls .owl-nav > div > span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 35px;
        width: 35px;
    }
    .owl-nav > div:hover,
    .owl-nav > div:focus {
        border-color: white;
        color: white;
    }
    .owl-controls .owl-nav {
        float: right;
        width: 55%;
    }
    .owl-controls .owl-dots {
        float: right;
        width: 45%;
        padding-top: 2px;
    }
    .owl-controls .owl-dots .owl-dot {
        display: none;
        color: #87908f;
        line-height: 28px;
    }
    .owl-controls .owl-dots .owl-dot.active,
    .owl-controls .owl-dots .owl-dot.total {
        display: inline-block;
    }
    .owl-controls .owl-dots .owl-dot.total::before {
        content: " / ";
        padding-left: 8px;
    }
    #main-content .owl-controls * + * {
        margin-top: 0;
    }
    .sub-nav-toggle {
        display: none;
    }
    .landing .sub-nav > ul > li {
        display: block;
    }
    .landing .sub-nav > ul > li > a {
        position: relative;
        padding-right: 35px;
    }
    .landing .sub-nav > ul > li > a::after {
        color: #c8c7c6;
        content: "\f054";
        position: absolute;
        right: 13px;
        margin-top: -8px;
        top: 50%;
    }
    .landing .sub-nav > ul > li > a:hover::after {
        color: white;
    }
    .landing .sub-nav > ul > li ul {
        display: none;
    }
    .landing .additional-content {
        clear: both;
        padding-top: 1em;
    }
    .sub-nav {
        margin-bottom: 40px;
        line-height: 17px;
        margin-top: 0;
    }
    .sub-nav > ul {
        border-bottom: 1px solid #cdd5d4;
    }
    .content-area .sub-nav li {
        list-style-type: none;
        background-image: none;
        margin-left: 0;
        padding-left: 0;
    }
    .sub-nav a {
        border-top: 1px solid #cdd5d4;
        display: block;
        padding: 20px 10px;
        color: #007682;
    }
    .sub-nav .active > a {
        position: relative;
    }
    .sub-nav .active > a::after {
        border-bottom: 7px solid transparent;
        border-left: 7px solid #01909e;
        border-top: 7px solid transparent;
        content: "";
        position: absolute;
        margin-top: -7px;
        top: 50%;
    }
    .sub-nav .active > a::after {
        right: -7px;
    }
    .sub-nav ul ul .active > a::after {
        right: -26px;
        border-left-color: #dfebe9;
    }


    .sub-nav > ul > li.expanded > a,
    .sub-nav > ul > li.active > a,
    .sub-nav > ul > li.expanded.active > a {
        background-color: #01909e;
        color: #fff;
    }
    .sub-nav .expanded > a {
        border-bottom: 1px solid white;
    }
    .sub-nav ul ul ul > li.expanded > a {
        border-bottom-color: white;
    }

    #sub-nav li.expanded > ul > li:first-child > a {
        border: 0 none;
    }
    #sub-nav li.expanded > ul > li > a {
        border-top: 1px solid white;
    }
    .sub-nav a:hover,
    .sub-nav a:focus {
        background-color: #dfebe9;
        color: #003c42;
    }
    .sub-nav ul ul a:hover,
    .sub-nav ul ul a:focus {
        background-color: transparent !important;
    }
    .sub-nav ul ul {
        background-color: #dfebe9;
    }
    .sub-nav ul ul li a {
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 11px;
        border-color: #fff;
    }
    .sub-nav ul ul li a:hover,
    .sub-nav ul ul li a:focus {
        color: #003c42;
    }
    .sub-nav ul ul .active > a {
        color: #42413f;
        font-weight: 600;
    }
    .sub-nav > ul > li > ul > li {
        padding: 0 20px;
    }
    .sub-nav li li li > a {
        padding-left: 26px;
    }
    .sub-nav li li li li > a {
        padding-left: 40px;
    }

    /* Form Elements */
    #main-content .pager .dropdown,
    #main-content form .dropdown {
        position: relative;
        display: inline-block;
    }
    #main-content .pager select,
    #main-content form select,
    #main-content form input {
        height: 37px;
        font-weight: 500;
        border: 1px solid #d8d9d1;
        padding-left: 6px;
    }
     #main-content form input[type="text"],
     #main-content form input[type="email"] {
        width:100%;
     }
     #main-content form input:focus,
     #main-content form textarea:focus {
        border-color: rgba(253, 194, 36, 0.8);
        box-shadow: 0 1px 1px rgba(253, 194, 36, 0.075) inset, 0 0 3px rgba(253, 194, 36, 0.6);
        outline: 0 none;
    }
     #main-content form input[type="checkbox"] {
        height: auto;
        width: auto;
        transform: scale(1.2);
    }
    .marker, .form-required {
      color: #f00;
    }
    #main-content form input {
        font-size: 15px;
    }
    #main-content .pager select,
    #main-content .filters select {
        cursor: pointer;
        color: #73726f;
        padding-right: 40px;
        width: 100%;
        font-size: 16px;
        text-overflow: ellipsis;
        max-width: 155px;
        background: #fff;
        text-transform: uppercase;
    }
    .js #main-content .pager select,
    .js #main-content .filters select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    #main-content .pager select option,
    #main-content .filters select option {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        text-transform: none;
    }
    #main-content .pager select::-ms-expand,
    #main-content .filters select::-ms-expand { /* for IE 11 */
        display: none;
    }
    .js #main-content .pager select + .arrow,
    .js #main-content .filters select  + .arrow {
        background-color: #febe10;
        color: white;
        text-shadow: 0px 1px 0px rgba(157, 126, 0, 0.75);
        padding-top: 10px;
        position: absolute;
        text-align: center;
        width: 40px;
        display: block;
        bottom: 0;
        right: 10px;
        top: 0;
        border: 1px solid #eaaf0f;
        pointer-events: none;
        margin-top: 0;
    }
    .js #main-content .pager select:hover + .arrow,
    .js #main-content .filters select:hover + .arrow {
        background-color: #e5ad12;
    }
    .filters form button {
        font-size: 0;
        color: transparent;
        background-color: transparent;
        border: 0 none;
        position: static;
        cursor: pointer;
    }
    .filters form button::after {
        color: #febe10;
        font-size: 20px !important;
        position: relative;
        top: 1px;
        content: "\f002";
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    }
    .filters form button:hover::after {
        color: #e5ad12;
    }
    #main-content form select {
        border: 1px solid #d8d9d1;
        border-radius: 0;
        padding: 6px 0px 6px 6px;
        position: relative;
        
    }
    #main-content .webform-component-select select {
        width: 100%;
    }
    #main-content form select,
    #main-content form option {
        text-transform: uppercase;
        font-size: 14px;
        color: #616766;
        cursor: pointer;
    }
    .webform-component {
        position: relative;
    }
    .webform-component .content-area {
        margin:0;
        padding:0;
    }
    .webform-component .form-type-checkbox label {
        font-size: 15px;
        color: #73726f;
    }
    .webform-component {
        float: left;
        width:100%;
        margin-bottom: 10px;
    }
    .webform-component .form-item.form-type-checkbox {
        margin-bottom: 0;
    }
    .webform-component .form-item .description {
        font-style:italic;
        float:none;
        clear:both;
        margin-top:10px;
        margin-left:30%;
    }
    .webform-component input[type=text],
    .webform-component input[type=checkbox],
    .webform-component textarea,
    .webform-component select,
    .webform-component input[type=email] {
        border:1px solid #d0cfcd;
        box-shadow: 5px 5px 10px -5px #d0cfcd inset;
    }
    #main-content form .webform-component .form-managed-file input {
        border:none;
    }
    .webform-component option {
        margin-top: 0;
    }
    .form-textarea-wrapper {
        float: left;
    }
    .webform-component .form-item,
    .webform-component .form-actions {
        overflow: hidden;
    }
    .webform-component  .content-area {
        margin-left:0;
    }
    .webform-component label {
        font-weight: 600;
        width: 30%;
        padding-right:30px;
        line-height:20px;
        margin-bottom:0px;
    }
    .webform-component > label {
        float: left;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        color: #73726f;
    }
    .webform-component .form-textarea-wrapper {
        width:100%;
    }
    .webform-component .form-textarea-wrapper textarea{
        width:100%;
    }
    .webform-component-select .arrow {
        background-color: #febe10;
        color: white;
        text-shadow: 0px 1px 0px rgba(157, 126, 0, 0.75);
        padding-top: 10px;
        position: absolute;
        text-align: center;
        width: 40px;
        height: 37px;
        display: block;
        bottom: 0;
        right: 0px;
        margin-top: 0!important;
        border: 1px solid #eaaf0f;
        pointer-events: none;
    }
    #main-content .webform-component-file .form-submit {
        color: white;
        font-weight: 600;
        padding: 4px 20px 7px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
        text-transform: capitalize;
        background-color: #425196;
    }
    #main-content .webform-component-file .form-submit:hover{
        background-color: #6a66b8;
    }
    .form-actions {
        position: relative;
        width:100%;
        float: left;
    }
    #main-content .form-actions input {
        float: right;
        color: white;
        display: block;
        font-size: 22px;
        font-weight: 600;
        padding: 4px 50px 7px 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
        text-transform: capitalize;
        background-color: #425196;
        -webkit-appearance: none;
    }
    #main-content .webform-component-select .select-special-wrapper {
        float:left;
        width:100%;
        position: relative;
    }
    #main-content .form-actions input:hover {
          background-color: #6a66b8;
    }
    #main-content form select[multiple="multiple"] {
    height:auto!important;
    }
    .form-actions .fa {
        color: white;
        position: absolute;
        right: 15px;
        bottom: 10px;
        z-index: 1;
    }
    .webform-component-checkboxes .form-checkboxes {
        width:100%;
        float: left;
    }
    .webform-component label + input,
    .webform-component label + select,
    .webform-component label + .webform-datepicker {
        margin-top: 0;
        max-width: 100%;
    }
    .webform-component label + .webform-datepicker select {
        margin-right:1em;
        margin-top:0;
        float:none;
    }
    .webform-component label + .webform-datepicker .webform-calendar {
        margin-right:1em;
        margin-top:0;
        float:left;
    }
    .webform-component .webform-component-checkboxes > label ,
    .webform-component .webform-component-radios > label {
        float:none;
    }
    .webform-component .webform-component-checkboxes > .form-checkboxes,
    .webform-component .webform-component-radios > .form-radios {
        margin-top:0;
    }
    .webform-component .webform-component-checkboxes > .form-checkboxes .form-item,
    .webform-component .webform-component-radios > .form-radios .form-item {
        margin-top:0;
        margin-bottom:0;
    }
    .webform-component .webform-component-checkboxes .form-type-checkbox > input,
    .webform-component .webform-component-radios .form-type-radio > input {
        height:auto;
        margin-bottom:18px;
        vertical-align: top;
    }
    .webform-component .webform-component-checkboxes .form-type-checkbox > label ,
    .webform-component .webform-component-radios .form-type-radio > label {
        float:none;
    }
    .webform-component .webform-component-textarea > label {
        margin-bottom:30px;
    }
    .webform-component .form-actions {
        border-top: 1px solid #cdd5d4;
        margin-top: 50px;
        padding-top: 21px;
    }
    .webform-component input.button {
        background-color: #425196;
        border: 0 none;
        font-size: 26px;
        text-transform: none;
        font-weight: 600;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
        letter-spacing: 0;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        float: right;
        max-width: 250px;
    }
    .element-invisible {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      overflow: hidden;
      height: 1px;
    }
    .webform-container-inline div, .webform-container-inline div.form-item {
        display:inline;
    }


    /* Search Results */
    .search-results .back.button::before {
        display: none;
    }
    .search-results .details {
        color: #87908f;
        font-size: 14px;
        margin-top: 20px;
    }
    .search-results .filters {
        min-height: 0;
        padding: 15px 20px;
        font-weight: 600;
    }
    .search-results .filters .active {
        color: #73726f;
    }
    .search-results .search-results-list li {
        background-image: none;
        margin-left: 0;
        padding-left: 0;
    }
    .search-results .search-results-list li a:first-child {
        font-size: 22px;
        font-weight: 600;
    }
    .search-results #main-content .search-results-list li + li {
        margin-top: 20px;
    }

    /* Footer */
    .footer-flyouts,
    .audience-menu .flyout .wrapper > h2,
    .audience-menu .flyout .close {
        display: none;
    }
    footer {
        background: transparent url('../images/footer-background-image.jpg') no-repeat scroll center top;/* / cover;*/
        background-size: cover;
        margin-top: -1px;
        clear: both;
        position: relative;
        z-index: 7;
    }
    footer .footer {
        color: #fff;
    }
    footer .footer .branding {
        float: left;
        margin-left: -22px;
        margin-top: 9px;
    }
    .social-media-and-copyright {
        float: right;
        text-align: right;
        font-size: 11px;
        line-height: 16px;
        position: relative;
        max-width: 69%;
    }
    .social-media-and-copyright span p a {
        color:#d1e9eb;

    }
    .social-media-and-copyright span p a:hover {
        color:#75c1c9;
    }
    .social-media-and-copyright .social-media {
        margin-bottom: 15px;
        margin-top: 80px;
    }
    .social-media-and-copyright .social-media li {
        display: inline-block;
        margin-left: 10px;
    }
    .social-media-and-copyright .social-media a {
        background-color: #01909e;
        width: 45px;
        height: 45px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding-top: 4px;
    }
    .social-media .fb:hover,
    .social-media .fb:focus {
        background-color: #315092;
    }
    .social-media .twitter:hover,
    .social-media .twitter:focus {
        background-color: #0fa3e3;
    }
    .social-media .youtube:hover,
    .social-media .youtube:focus {
        background-color: #d82724;
    }
    .social-media .instagram:hover,
    .social-media .instagram:focus {
        background-color: #1e5b83;
    }
    .social-media .linkedin:hover,
    .social-media .linkedin:focus {
        background-color: #006fba;
    }
    .social-media .pinterest:hover,
    .social-media .pinterest:focus {
        background-color: #cb1916;
    }
    footer .sitemap-toggle {
        display: none;
    }
    .js footer .sitemap-toggle {
        border: 1px solid #5b635d;
        color: #87908f;
        text-align: center;
        text-transform: uppercase;
        margin-left: 21px;
        margin-top: 5px;
        padding: 7px 10px;
        display: inline-block;
        background-color: rgba(0, 0, 0, .7);
    }
    footer .sitemap-toggle::after {
        content: '\f055';
        padding-left: 6px;
    }
    footer .sitemap-toggle.expanded::after {
        content: '\f056';
    }
    footer .sitemap-toggle:hover,
    footer .sitemap-toggle:focus  {
        border: 1px solid #c4c7c4;
        color: #e3e2df;
    }
    #sitemap {
        display: none;
        clear: both;
        position: relative;
        margin-left: -50px;
        padding-top: 15px;
    }
    #sitemap > ul {
        display: flex;
        flex-wrap: wrap;
    }
    #sitemap > ul > li {
        float: left;
        width: 20%;
        padding-left: 50px;
        display: block;
        margin-bottom: 25px;
    }
    #sitemap > ul > li > a {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 0 1px 0 #000000;
        color: white;
        display: block;
        margin-bottom: 12px;
    }
    #sitemap li li a {
        font-size: 13px;
        color: #75c1c9;
    }
    #sitemap li li + li {
        margin-top: 9px;
    }
    #sitemap li a:hover {
        color: #d1e9eb;
    }
    #sitemap li a:focus {
        color: white;
    }
    .news .content-active-slide .action-link::before,
    .news.landing #main-content .twitter-feature h2::before,
    .news.landing #main-content .facebook-feature h2::before,
    .news-boxes .news-box .hover li:first-child > a::after,
    .banner .content .band > .hover > p:first-child::after,
    .news-boxes .more a::after,
    .filters form button::after,
    .tab-menu li > a::after,
    .theme .theme-nav a::before,
    .twitter-feature::after,
    .program-listing h3::after,
    .green-band .compressed .search-toggle::after,
    .menu-band .compressed .search-toggle::after,
    .global-nav-icon::before,
    form.search .off-screen::after,
    form.search button::after,
    .owl-carousel.hidden-caption h2::after,
    .landing.guide .owl-carousel.hidden-caption h2 > span::after,
    .audience-menu-toggle::after,
    .latest-news-toggle::after,
    .back.button::before,
    .button::after,
    .cta > span::after,
    .landing .sub-nav > ul > li a::after,
    footer .sitemap-toggle::after,
    ul.list-of-links li::before,
    .sub-nav-toggle a::after {
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        font-family: FontAwesome;
        font-feature-settings: normal;
        font-kerning: auto;
        font-language-override: normal;
        font-size: inherit;
        font-size-adjust: none;
        font-stretch: normal;
        font-style: normal;
        font-synthesis: weight style;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        text-rendering: auto;
        transform: translate(0px, 0px);
    }

    .ios .audience-menu > ul::after {
        display: none;
    }

    .social-media-and-copyright span {
        display: inline-block;
    }

    .social-media-and-copyright span p:last-child {
        margin-top: 2px;
    }

    a.sitemap-toggle {
        vertical-align: top;
        margin-top: 0px !important;
    }

    .disclaimer {
        font-style: italic;
        border-top: 1px solid #D1D5D4;
        padding: 15px 0;
        margin: 3em 0 60px !important;
        font-size: 0.9em;
        line-height: 1.6em;
    }

}

@media only screen and (max-width: 1080px) {
    /* Stop the global nav from running overtop the logo: */
    .global-nav .main-menu > li > a {
        font-size: 15px;
        margin-left: 6px;
        margin-right: 6px;
        height: 55px;
    }
    .global-nav .main-menu > li:first-child > a::before {
        left: -40px;
    }

}
@media only screen and (max-width: 1000px) {

    .js .news-boxes .news-box:nth-child(1n+3) {
        display: none;
    }

    .news-boxes .news-box {
        width: 50%;
    }

    header .flyout .featured-img {
        display: none;
    }

    header .flyout .col-33 {
        width: 50%;
    }
}

    #main-content .filters .date-picker, #main-content .filters .form-item-field-news-tags-tid {
        position:relative;
        float:left;
        width: 31%;
        padding-right:10px
    }
    #main-content .filters .news-search {
        float:left;
        position:relative;
    }
    #main-content .filters .form-item-field-news-tags-tid {
        float:left;
        width: 28%;
    }
    #main-content .filters .form-item-field-news-tags-tid select {
        max-width:100%;
        width:100%;
    }
    #main-content .filters .date-picker:before {
        content: "\f073";
        font-family: FontAwesome;
        position: absolute;
        right:20px;
        top:5px;
        color: #febe10;
        pointer-events:none;
    }
    #main-content .filters .calendar {
        display:none;
    }
    #main-content .filters .date-picker input, .filters .date-picker .form-type-textfield {
        width:100%;
        margin:0;
    }
    #main-content .filters .news-search input#edit-submit-news-items {
        text-indent: -999px;
        width:35px;
        background:transparent;
        border:none;
        cursor: pointer;
    }
    #main-content .filters .news-search:after {
        font-family: FontAwesome;
        color: #febe10;
        font-size: 20px !important;
        position: relative;
        top: 1px;
        content: "\f002";
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
        position:absolute;
        left:7px;
        top:4px;
        pointer-events:none;
    }
@-moz-document url-prefix() { 
  br {
     margin:0!important;
  }
}
.content-area a, .promoted-article a, .left-column a {
    text-decoration: underline;
}
.content-area .read-more, .content-area .read-less, .content-area .r-tabs-tab a, .content-area a.accordion-section-title, .content-area a.no-list, .content-area a.button, .content-area .expandable-content-wrapper .header a, .sub-nav a, .content-area .disertation-lst .listing-item > a, .left-column .all-courses-button a, .left-column .all-topic-button a, .left-column .cta-boxes a, .left-column a.button, .cta-boxes a {
    text-decoration: none;
}
.tab-flyouts .list-of-links li a:hover {
    text-decoration: underline;
}
.sub-nav ul li.expanded ul li a:hover {
    text-decoration: underline;
}