@media all {
    body.home, 
    body.html.home {
        background-image: none;
    }
    .home .wrapper {
        max-width: 1280px;
    }
    .home header {
        background-image: none;
        min-height: 0;
    }
    .home header .branding {
        z-index: 5;
        position: absolute;
    }
    .home article {
        z-index: auto;
        background-color: #31302f;
    }
    .home article .wrapper {
        max-width: 1600px;
    }
    .home .the-latest {
        display: block;
    }

    .banner .img-wrapper {
        -webkit-box-shadow: inset -1px 99px 46px -25px rgba(0, 0, 0, 0.5), inset 0 -99px 46px -25px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset -1px 99px 46px -25px rgba(0, 0, 0, 0.5), inset 0 -99px 46px -25px rgba(0, 0, 0, 0.5);
        box-shadow: inset -1px 99px 46px -25px rgba(0, 0, 0, 0.5), inset 0 -99px 46px -25px rgba(0, 0, 0, 0.5);
    }
    .banner .owl-controls {
        margin: 0 auto;
        max-width: 1275px;
        position: relative;
        width: 100%;
        right: auto;
        bottom: auto;
    }
    .banner .owl-controls .owl-dots {
        display: none !important;
    }
    .banner .owl-controls .owl-nav {
        float: none;
        width: 100%;
    }

    .banner .owl-nav > div {
        background-color: transparent;
        font-size: 40px;
        color: white;
        border: 0 none;
        position: absolute;
        bottom: 36px;
    }
    .banner .owl-nav > div:hover {
        color: black;
        opacity: 0.3;
    }
    .banner .owl-nav > .owl-next {
        right: 50px;
    }
    .banner .owl-nav > .owl-prev {
        left: 50px;
    }
    .banner .owl-nav > div > span {
        /*display: none;*/
        opacity: 0;
    }

    .banner .img-wrapper {
        height: 680px;
        max-width: 1600px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: scroll;
        margin-bottom: 41px;
    }
    .js .banner .img-wrapper img {
        display: none;
    }
    .banner .content {
        text-align: center;
        bottom: 0;
        position: relative;
        min-height: 132px;
    }
    .banner .content > a {
        display: block;
        margin-top: -145px;
    }
    .banner .content h2 {
        color: white;
        font-size: 68px;
        font-weight: 700;
        /*margin-top: -93px;*/
        text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
        background-color: transparent;
        padding: 0 0 50px;
        position: relative;
        display: table;
        height: 145px;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
    }
    .banner .content h2 span {
        display: table-cell;
        vertical-align: middle;
    }
    .banner .content .band {
        /*background-color: #3ab3c1;*/
        color: #164c52;
        display: table;
        padding: 22px 97px;
        width: 100%;
        overflow: hidden;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }

    .banner .content .band > p {
        display: table-cell;
        height:72px;
        vertical-align: middle;
    }


    .home .banner .content .band > p {
        display: inline-table;
        max-width: 1080px;
        margin: 0px;
    }



    .band > p > span.rotator-text {
        display: table-cell;
        vertical-align: middle;
    }

    .banner .content .band > .hover {
        height:72px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        vertical-align: middle;
    }
    .banner .content .band > .hover,
    .banner .content a:hover .band > p:first-child {
        display: none;
    }
    .banner .content a:hover .band > .hover {
        display: table-cell;
    }
    .banner .content .band > .hover > p:first-child::after {
        content: "\f138";
        padding-left: 8px;
    }

}
@media only screen and (min-width: 1570px) {
    .banner .img-wrapper {
        -webkit-box-shadow: inset -11px 0 29px 20px #31302f, inset 49px 50px 50px -20px #31302f;
        -moz-box-shadow: inset -11px 0 29px 20px #31302f, inset 49px 50px 50px -20px #31302f;
        box-shadow: inset -11px 0 29px 20px #31302f, inset 49px 50px 50px -20px #31302f;
    }
}
@media only screen and (min-width: 899px) {
    .banner .img-wrapper {
        margin: 0 auto; /* 134px;*/
    }
    /*.banner .content h2 {
        bottom: 100px;
        position: absolute;
    }
    .banner .content .band {
        bottom: 0;
        position: absolute;
        width: 100%;
    }*/
    .banner .feature {
        background-color: #31302f;
    }
    .home .audience-menu > ul::after {
        top: 0;
    }
    .home .audience-menu .flyout {
        bottom: 220px;
    }
    .home .audience-menu > ul::after {
        content: url('../images/audience-menu-mason-m-top_home.png');
    }
    .home .audience-menu > ul > li > a {
        padding: 20px 0 21px;
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
        text-shadow: none;
    }
    .home .audience-menu > ul > li.flyout-active > a::before {
        top: 0;
    }
    .home .audience-menu > ul > li > a > .img-wrapper {
        height: auto;
    }
    .home .audience-menu > ul > li > a img {
        position: static;
        -webkit-filter: initial; 
        -moz-filter: initial; 
        -o-filter: initial; 
        -ms-filter: initial; 
        filter: initial;
    }
    .home .audience-menu > ul > li > a > h2 {
        position: static;
        padding: 9px 50px 0 5px;
        background-color: transparent;
        height: auto;
    }
    .home .audience-menu > ul > li > a:hover h2 {
        background-color: transparent;
    }
}
@media only screen and (max-width: 660px) {
    .banner .owl-nav > div > span {
        opacity: 1;
    }
}
