@media all {
    .landing.guide .pre-content > .wrapper:first-child {
        /*margin-top: -103px;*/
        
        /* Testing positioning with title */
        margin-top: -293px;
    }
    .landing article {
        -webkit-box-shadow: 0 -117px 46px 1px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0 -117px 46px 1px rgba(0, 0, 0, 0.41);
        box-shadow: 0 -117px 46px 1px rgba(0, 0, 0, 0.41);
    }
    .landing.guide h1 {
        display: table;
        float: left;
        height: 250px;
        /*width: 31%;*/
        width: 33.6%;
    }
    .landing.guide h1 span {
        display: table-cell;
        vertical-align: bottom;
    }
    .tab-menu.wrapper {
        /*margin-top: -42px;*/

        /* Testing positioning with title */
        display: table-cell;
        height: 261px;
        vertical-align: bottom;
        padding: 0;
    }
    .tab-menu ul {
        float: right;
    }
    .tab-menu li {
        float: left;
        padding: 0;
        max-width: 230px;
    }
    .tab-menu li.show-from-660 {
        display: none;
    }
    .tab-menu li + li {
        margin-left: 13px;
    }
    .tab-menu li > a {
        border-width: 1px 1px 0;
        border-style: solid;
        border-color: #494d4d;
        padding: 10px 50px 10px 16px;
        font-size: 22px;
        line-height: 22px;
        color: #87908f;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        display: block;
        font-weight: 600;
        height: 66px;
    }
    .tab-menu li > a:hover,
    .tab-menu li > a:focus {
        border-color: white;
        color: white;
    }
    .tab-menu li > a::after {
        content: "\f055";
        font-size: 24px !important;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -12px;
    }
    .tab-menu li > a.active {
        color: white;
        background-color: #006940;
        border-color: #006940;
    }
    .tab-menu li > a.active::before {
        content: "";
        position: absolute;
        bottom: -7px;
        left: -3px;
        right: 1px;
        height: 7px;
        -webkit-transform: skew(-30deg);
        -moz-transform: skew(-30deg);
        -o-transform: skew(-30deg);
        background-color: #febe10;
        z-index: 3;
    }
    .tab-menu li > a.active::after {
        content: "\f056";
    }
    .tab-flyouts {
        display: none;
        background-color: white;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 2;
        -webkit-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.5);
    }
    .tab-flyouts > .wrapper > div {
        display: none;
        padding-bottom: 30px;
        padding-top: 25px;
    }
    .tab-flyouts .program-listing .img-wrapper ~ * {
        margin-left: 24%;
    }
    .tab-flyouts .program-listing .img-wrapper {
        width: 22%;
    }
    .tab-flyouts .program-listing .img-wrapper img {
        max-width: 100%;
    }
    .tab-flyouts ul.program-listing li {
        border-top-width: 0;
        border-bottom: 1px solid #cdd5d4;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .tab-flyouts .program-listing h3 {
        font-weight: 600;
    }
    .landing.guide .program-listing p {
        color: #73726f;
        font-size: 16px;
        line-height: 28px;
    }
    .tab-flyouts .program-listing .button {
        font-size: 24px;
        margin-top: 17px;
    }
    .filters {
        background-color: #eff0e7;
        padding: 30px;
        overflow: auto;
        margin-bottom: 30px;
        min-height: 106px;
    }
    .tab-flyouts .filters .a-z  {
        float: left;
        margin-right: 30px;
        position: relative;
    }
    .tab-flyouts .filters .a-z li {
        display: inline-block;
    }
    .tab-flyouts .filters .a-z li a {
        color: #006940;
        font-size: 22px;
        font-weight: 700;
        padding-left: 6px;
        display: block;
        margin-bottom: 10px;
    }
    .tab-flyouts .filters .a-z li a:hover,
    .tab-flyouts .filters .a-z li a:focus {
        color: #038452;   
    }
    .tab-flyouts .filters .a-z a.all {
        background-color: #febe10;
        color: white;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
        padding: 6px 12px 8px;
        margin-right: 8px;
        font-weight: 600;
    }
    .tab-flyouts .filters .a-z a.all:hover,
    .tab-flyouts .filters .a-z a.all:focus {
        background-color: #e5ad12;
        color: white;
    }
    .tab-flyouts .a-z .arrow {
        display: none;
    }
    .tab-flyouts .filters > form input {
        font-size: 14px;
        padding: 9px;
        width: 198px;
        border: 1px solid #d8d9d1;
    }
    .tab-flyouts .filters ~ h2 {
        color: #42413f;
        font-size: 40px;
        font-weight: 700;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        margin-top: 30px;
    }
    .tab-flyouts .filters ~ h2::before {
        content: "";
        width: 100%;
        border-top: 1px solid #cdd5d4;
        display: block;
        height: 7px;
    }
    .tab-flyouts h2 + ul.list-of-links {
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    /*-    margin-top: -25px;
        margin-bottom: 15px;  item wrappig and position problem */ 
    }

    ul.list-of-links.selected {
        padding: 10px 0px;
    }
    .tab-flyouts h2 + ul.list-of-links li {
        padding-left: 13px;
        margin-left: 58px;
        color: #9a9995;
        line-height: 22px;
         -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        padding-bottom: 12px;
        display: inline-block;
    }
    .tab-flyouts h2 + ul.list-of-links > li::before {
        top: 4px;
    }
    .landing.guide .tab-flyouts ul.list-of-links li:last-child {
        margin-bottom: 0;
    }
    .landing .tab-flyouts .no-results,
    .landing .tab-flyouts .no-search-results {
        font-size: 18px;
        margin-top: 1em;
    }
    .active-tab-menu footer {
        z-index: 4;
    }

    .landing.guide .guide-boxes {
        clear: both;
        padding-top: 49px;
        margin-left: -20px;
    }
    .landing.guide .guide-boxes::after {
        content: "";
        display: table;
        clear: both;
    }
    .landing.guide .guide-boxes .guide-box {
        margin-left: 1.8%;
        width: 23.2%;
        background-color: white;
        float: left;
        margin-bottom: 26px;
        overflow: hidden;
        height: 256px;
    }
            

    .landing.guide .guide-boxes .guide-box:nth-child(6) {
        clear: both;
    }
    .landing.guide .guide-boxes .guide-box .description,
    .landing.guide .guide-boxes .guide-box .more {
        display: none;
    }
    
    .landing.guide .guide-boxes .guide-box h2,
    .landing.guide .guide-boxes .guide-box .more {
        height: 76px;
    }
    .landing.guide .guide-boxes .guide-box {
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    .landing.guide .guide-boxes .guide-box h2 {
        display: table;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        color: #007682;
        font-size: 18px;
        line-height: 20px;
    }
    .landing.guide .guide-boxes .guide-box .content .description > p {
        color: #fefefe;
        font-size: 14px;
        line-height: 17px;
        padding: 0 8px;
    }
    .landing.guide .guide-boxes .guide-box .content .more .button {
        color: #d5a113;
        border: 1px solid #b3b3b2;
        background-color: white;
        font-size: 16px;
        font-family: 'Open Sans', Verdana, Geneva, sans-serif;
        text-shadow: none;
        padding: 6px 15px 7px;
        margin-top: 19px;
    }
    .landing.guide .guide-boxes .guide-box .content .more .button::after {
        top: 1px;
    }
    .landing.guide .guide-boxes .guide-box .content .more .button:hover,
    .landing.guide .guide-boxes .guide-box .content .more .button:focus {
        color: white;
        background-color: #febe10;
        border: 1px solid #febe10;
    }
    .landing.guide .guide-boxes .guide-box h2 > *:first-child {
        display: table-cell;
        vertical-align: middle;
    }


    .landing.guide .guide-boxes .owl-carousel.default .owl-stage,
    .landing.guide .guide-boxes .owl-carousel + .content-active-slide {
        background-color: #232525;
    }
    .landing.guide .guide-boxes .owl-carousel.default {
        width: 48.2%;
        float: left;
        margin-left: 1.8%;
        margin-bottom: 1em;
    }
    .landing.guide .guide-boxes .owl-carousel .img-wrapper {
        position: relative;
        height: 346px;
        overflow: hidden;
    }
    .landing.guide .guide-boxes .owl-carousel .img-wrapper img {
        height: 346px;
        left: 50%;
        margin-left: -268.5px;
        position: relative;
        width: 537px;
    }

    .landing.guide .guide-boxes .owl-carousel .title {
        bottom: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.35);
        width: 100%;
    }
    .landing.guide .guide-boxes .owl-carousel h2 {
        position: static;
        background-color: transparent;
        padding-right: 100px;
        padding-top: 0;
        text-shadow: 1px 2px 0px rgba(32, 32, 32, 0.75);
        min-height: 0;
    }
    .landing.guide .guide-boxes .owl-carousel .tagline {
        color: #c1cdcb;
        font-size: 20px;
        display: block;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        font-weight: 500;
        line-height: 24px;
        font-style: italic;
        padding: 10px 100px 5px 24px;
        text-shadow: 1px 2px 0px rgba(32, 32, 32, 0.75);
    }
    .landing.guide .guide-boxes .owl-carousel .content {
        background-color: #232525;
        /*height: 195px;*/
        min-height: 192px;
        padding: 16px 15px 8px 20px;
        position: relative;
    }
    .landing.guide .guide-boxes .owl-carousel .content * + * {
        margin-top: 0.5em;
    }
    .landing.guide .guide-boxes .owl-carousel .content,
    .landing.guide .guide-boxes .owl-carousel .content p {
        color: #fff;
        font-size: 16px;
        line-height: 21px;
    }
    .landing.guide .guide-boxes .owl-carousel .content .button {
        display: block;
        /*bottom: 20px;
        left: 50%;
        margin: 0 auto 0 -115px;*/
        margin: 0 auto;
        max-width: 235px;
        padding: 15px 22px;
        position: relative;
    }
    .landing.guide .guide-boxes .owl-carousel .owl-controls {
        top: 297px;
        width: auto;
    }
    .landing.guide .guide-boxes .owl-carousel .owl-controls .owl-nav {
        width: 100%;
    }
    .landing.guide .guide-boxes .owl-carousel .owl-controls .owl-dots {
        display: none !important;
    }
}
@media only screen and (min-width: 899px) {
/*    .landing.guide .guide-boxes .guide-box:hover,
    .landing.guide .guide-boxes .guide-box.more-info {
        padding-bottom: 76px;
    }*/
    .landing.guide .guide-boxes .guide-box .img-wrapper {
        width: 100%;
        height: 180px;
        overflow: hidden;
        position: relative;
    }
    .landing.guide .guide-boxes .guide-box .img-wrapper .img-hover{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0, 0.7);
		display: block;
		opacity: 0;
    }
    .landing.guide .guide-boxes .guide-box .img-wrapper .img-hover h2{
    	opacity: 0;
		color: #09AEC2;
		font-size: 18px;
	    display: block;
	    padding: 15px 5px 0;
	    margin: 0 0 15px;
	    text-align: center;
	    font-weight: 600;
	    height: auto;
		text-shadow: 0 0 1px rgba(0,0,0, 0.85);
    }
    .landing.guide .guide-boxes .guide-box .img-wrapper .img-hover h2 span{
		display: inline;
    }
    .landing.guide .guide-boxes .guide-box .img-wrapper .img-hover .description{
		opacity: 0;
    }
    .landing.guide .guide-boxes .guide-box .img-wrapper .img-hover .description p{
		color: #fff;
		font-size: 13px;
	    line-height: 1.2em;
	    font-weight: 600;
	    padding: 0 10px;
		text-shadow: 0 0 1px rgba(0,0,0, 0.85);
    }
    .landing.guide .guide-boxes .guide-box .img-wrapper img {
        width: 256px;
        height: auto;
        left: 50%;
        margin-left: -128px;
        position: absolute;
    }
/*    .landing.guide .guide-boxes .guide-box:hover h2,
    .landing.guide .guide-boxes .guide-box.more-info h2 {
        height: 62px;
        color: #01aec0;
    }*/
/*    .landing.guide .guide-boxes .guide-box:hover .description,
    .landing.guide .guide-boxes .guide-box.more-info .description,
    .landing.guide .guide-boxes .guide-box:hover .more,
    .landing.guide .guide-boxes .guide-box.more-info .more  {
        display: block;
    }*/

    .landing.guide .guide-boxes .guide-box .content .more {
        background-color: white;
        bottom: 0;
        position: absolute;
        width: 100%;
        opacity: 0;
        display: block;
    }
/*    .landing.guide .guide-boxes .guide-box:hover .content,
    .landing.guide .guide-boxes .guide-box.more-info .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 256px;
        background-color: rgba(0, 0, 0, .65);
    }
*/}
@media only screen and (max-width: 1140px) {
    .landing.guide h1 {   
        width: 100%;
        float: none;        
    }
    .landing.guide .pre-content > .wrapper:first-child {
        margin-top: -369px;
    }
    .tab-menu.wrapper {
        display: table;
        height: auto;
        width: 100%;
        padding: 20px 50px 0;
    }
    .tab-menu ul {
        float: none;
    }
    .tab-menu li {
        float: left;
        max-width: none;
        width: 31.6%;
        display: table;
        margin-right: 2.6%;
    }
    .tab-menu li:last-child {
        margin-right: 0;
    }
    .tab-menu li + li {
        margin-left: 0;
    }
    .tab-menu li > a {
        display: table-cell;
        vertical-align: middle;
    }
}
@media only screen and (max-width: 990px) {
    .landing.guide .guide-boxes .owl-carousel .content, 
    .landing.guide .guide-boxes .owl-carousel .content p {
        font-size: 14px;
        line-height: 18px;
    }
}
@media only screen and (max-width: 380px) {
    .landing.guide .guide-boxes .owl-carousel .owl-controls { 
        top: 158px !important;
    }
}
@media only screen and (min-width: 900px) {
    .landing.guide .guide-boxes .content-active-slide {
        display: none !important;
    }
}