@viewport {
	zoom: 1.0;
	width: auto;
	user-zoom: fixed;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700|Roboto+Slab:400,300,700);


/* 3rd party plugins */
@import url('../javascript/slick-1.5.8/slick/slick.css');
@import url('../javascript/slick-1.5.8/slick/slick-theme.css');
/* /3rd party plugins */

@import url('reset.css');
@import url('font-awesome-4.3.0/css/font-awesome.min.css');
@import url('base.css');
@import url('alert.css');
@import url('desktop.css');
@import url('landing-guide.css');
@import url('theme.css');
@import url('owl.carousel.css');
@import url('home.css');
@import url('1600.css');
@import url('1200.css');
@import url('899.css');
@import url('660.css');