body.admin-menu-on {top:29px;}
#admin-menu, #admin-menu .dropdown {z-index:10000;}
/*.panels-ipe-editing{transform: scale(0.65)}*/

.item-list ul li { margin:0; padding:0; }

/**
 * Panels IPE.
 */
ul.panels-ipe-linkbar  li,
.content-area .panels-ipe-on li { list-style-type: none;  background: none;  padding-left: 0;  margin-left: 0;  margin-top: 0.5em;  float:left; }
.panels-ipe-newblock ul.panels-ipe-linkbar { margin-top:-42px; }

.panels-ipe-editing .panels-ipe-region,
.panels-ipe-editing #panels-ipe-regionid-pre_content,
.panels-ipe-editing #panels-ipe-regionid-intro,
.panels-ipe-editing #panels-ipe-regionid-content_header {float:none;}

/*news landing page edit mode */
.panels-ipe-editing #panels-ipe-regionid-news_boxes div.panels-ipe-portlet-wrapper{width:33%;float:left;}
.panels-ipe-editing #panels-ipe-regionid-news_boxes div.panels-ipe-portlet-wrapper .news-box{width:100%}
.panels-ipe-editing .owl-carousel-bg::before{display:none}



.node-page .panels-ipe-editing .content-area .panels-ipe-region{float:left;}

.home .panels-ipe-editing article{margin-top:200px;}

/*homepage "The Latest" editing, float blocks left*/
.panels-ipe-editing #panels-ipe-regionid-the_latest div.panels-ipe-portlet-wrapper{width:30%;float:left;margin:10px;}

/* Allow editing UI for CTA buttons to take up more height than the buttons would */
.panels-ipe-editing .cta-boxes > .column { height:auto; }

/**
 * Form elements.
 */
#modalContent fieldset { border: 1px solid #ccc;  padding: 2.5em 0 0 0; /* LTR */
    position: relative;  margin: 1em 0; }
#modalContent fieldset .fieldset-legend { margin-top: 0.5em;  padding-left: 15px; /* LTR */
    position: absolute;  text-transform: uppercase; }
#modalContent fieldset .fieldset-wrapper { padding: 0 13px 13px 15px;} /* LTR */
#modalContent fieldset.collapsed { background-color: transparent; }
#modalContent html.js fieldset.collapsed { border-width: 1px;  height: auto; }
#modalContent fieldset fieldset { background-color: #fff; }
#modalContent fieldset fieldset fieldset { background-color: #f8f8f8; }

#modalContent  .form-item { padding: 9px 0;  margin: 0 0 10px; }
#modalContent .filter-wrapper .form-item,
#modalContent  div.teaser-checkbox .form-item,
#modalContent  .form-item .form-item { padding: 5px 0;  margin: 0;  border: 0; }
#modalContent .form-type-checkbox { padding: 0; }
#modalContent .text-format-wrapper .form-item { padding-bottom: 0; }
#modalContent .form-item label { margin: 0;  padding: 0; }
#modalContent .form-item label.option { font-size: 0.923em;  text-transform: none; }
#modalContent .form-item label.option input { vertical-align: middle; }
#modalContent .form-disabled input.form-autocomplete,
#modalContent .form-disabled input.form-text,
#modalContent .form-disabled input.form-file,
#modalContent .form-disabled textarea.form-textarea,
#modalContent .form-disabled select.form-select { background-color: #eee;  color: #777; }

/* Filter */
#modalContent .filter-wrapper { border-top: 0;  padding: 10px 2px; }
#modalContent .filter-wrapper .fieldset-wrapper { padding: 0 6px; }
#modalContent .filter-wrapper .form-item,
#modalContent .filter-wrapper .filter-guidelines,
#modalContent .filter-wrapper .filter-help { font-size: 0.923em;  padding: 2px 0 0 0;} /* LTR */
#modalContent ul.tips,
#modalContent  div.description,
#modalContent  .form-item div.description { margin: 5px 0;  line-height: 1.231em;  font-size: 0.923em;  color: #666; }
#modalContent ul.tips li { margin: 0.25em 0 0.25em 1.5em;} /* LTR */
#modalContent body div.form-type-radio div.description,
#modalContent body div.form-type-checkbox div.description { margin-left: 1.5em;} /* LTR */
#modalContent input.form-submit,
#modalContent a.button { cursor: pointer;  padding: 4px 17px;  margin-bottom: 1em;  margin-right: 1em; /* LTR */
    color: #5a5a5a;  text-align: center;  font-weight: normal;  font-size: 1.077em;  font-family: "Lucida Grande", Verdana, sans-serif;
    border: 1px solid #e4e4e4;  border-bottom: 1px solid #b4b4b4;  border-left-color: #d2d2d2;  border-right-color: #d2d2d2;
    background: url(images/buttons.png) 0 0 repeat-x;  -moz-border-radius: 20px;  -webkit-border-radius: 20px;  border-radius: 20px; }
#modalContent a.button:link,
#modalContent a.button:visited,
#modalContent a.button:hover,
#modalContent a.button:active { text-decoration: none;  color: #5a5a5a; }
#modalContent input.form-submit:active { background: #666;  color: #fff;  border-color: #555;  text-shadow: #222 0 -1px 0; }
#modalContent input.form-button-disabled,
#modalContent input.form-button-disabled:active { background: #eee none;  border-color: #eee;  text-shadow: none;  color: #999; }
#modalContent input.form-autocomplete,
#modalContent input.form-text,
#modalContent input.form-file,
#modalContent textarea.form-textarea,
#modalContent select.form-select { padding: 2px;  border: 1px solid #ccc;  border-top-color: #999;  background: #fff;  color: #333; }
#modalContent input.form-text:focus,
#modalContent input.form-file:focus,
#modalContent textarea.form-textarea:focus,
#modalContent select.form-select:focus { color: #000;  border-color: #ace; }
#modalContent
#modalContent ul.action-links { margin: 1em 0;  padding: 0 20px 0 20px; /* LTR */
    list-style-type: none;  overflow: hidden; }
#modalContent ul.action-links li { float: left; /* LTR */
    margin: 0 1em 0 0; }
#modalContent ul.action-links a { padding-left: 15px; /* LTR */
    background: transparent url(images/add.png) no-repeat 0 center;  line-height: 30px;
}

/**

static template overrides

**/

.cta-boxes > .column {height: auto;}

div.status{}