@media all {
    body.theme {
        background-image: none;
    }
    .theme .bg-banner-img,
    .theme.landing #main-content .bg-main-content {
        background-size: 1586px auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        -webkit-filter: blur(3px); 
        -moz-filter: blur(3px); 
        -o-filter: blur(3px); 
        -ms-filter: blur(3px); 
        filter: blur(3px);
        min-height: 601px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .theme header {
        min-height: 0;
    }
    .theme header::before {
        display: none;
    }
    .theme header .branding {
    	display: none;
    }
    .theme article::before {
        background-color: white;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 601px;
        width: 100%;
        z-index: -1;
    }
    .theme article {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 1600px auto;
        padding-top: 100px;
    }
    .theme.magenta article {
        background-image: url('../images/theme-background-graphics_magenta.png');
    }
    .theme.blue article {
        background-image: url('../images/theme-background-graphics_blue.png');
    }
    .theme.orange article {
        background-image: url('../images/theme-background-graphics_orange.png');
    }
    .theme.lime article {
        background-image: url('../images/theme-background-graphics_lime.png');
    }
    .theme.purple article {
        background-image: url('../images/theme-background-graphics_purple.png');
    }
    .theme.teal article {
        background-image: url('../images/theme-background-graphics_teal.png');
    }
    .theme .pre-content {
        background-color: transparent;
        padding: 0;
        text-align: center;
        color: white;
    }
    .theme .pre-content .tagline {
        font-size: 57px;
        color: white;
        font-weight: 700;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        padding: 0 128px;
    }
    .theme .pre-content .tagline .lead-in {
        font-size: 32px;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        font-weight: 900;
        text-transform: uppercase;
        display: block;
    }
    .theme .pre-content > .wrapper {
        position: relative;
    }
    .theme .theme-nav a {
        font-size: 0;
        color: transparent;
        position: absolute;
        top: 50%;
        margin-top: -15px;
    }
    .theme .theme-nav a::before {
        font-size: 38px;
        color: rgba(255, 255, 255, 0.502);
    }

    .theme .theme-nav a:hover::before {
        color: white;
        text-shadow: 0px 2px 1px black;
    }
    .theme .theme-nav.prev a {
        left: 140px;    
    }
    .theme .theme-nav.next a {
        right: 140px;
    }
    .theme .theme-nav.prev a::before {
        content: "\f053";
    }
    .theme .theme-nav.next a::before {
        content: "\f054";
    }
    .theme #main-content {
        background-color: transparent;
    }
    .theme .content-area {
        margin-left: 0;
    }
    .theme .content-area .sidebar-content {
    	width: 276px;
    }
    .theme #main-content .content-area h1 {
    	font-size: 45px;
    	line-height: 48px;
    	margin-top: 24px;
    }
    .theme #main-content .content-area .sidebar-content h2 {
        font-size: 24px;
        line-height: 28px;
        color: #006940;
    }
    .theme #main-content .content-area .sidebar-content h3 {
        color: #42413f;  
        font-size: 16px;
        line-height: 19px;
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
    }
    .theme #main-content .content-area .sidebar-content h3 .fa {
        color: #b3b4ae;
    }
    .theme #main-content .sidebar-content h3 + * {
        margin-top: 7px;
    }



    /* COLOR THEMES */

    /* magenta */
    .magenta .cta,
    .theme.landing #main-content .themes .theme.more-info.magenta,
    .theme.landing #main-content .themes .theme.more-info.magenta .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.magenta .more,
    .banner [data-theme="magenta"] .content .band,
    .feature[data-theme="magenta"] {
        background-color: #a6237f;
    }
    .magenta .cta:hover,
    .magenta .cta:focus{
        background-color: #be2992;
    }
    .theme.landing #main-content .themes .theme.magenta .content h2,
    .magenta .content-area h1,
    .theme.landing #main-content .themes .theme.magenta .more .button:hover, 
    .theme.landing #main-content .themes .theme.magenta .more .button:focus {
        color: #a6237f;
    }
    .theme.landing #main-content .themes .theme.magenta .content .hash {
        color: #370729;
    }

    .banner [data-theme="magenta"] .content .band {
        color: #F5D0E9;
    }

    /* blue */
    .blue .cta,
    .theme.landing #main-content .themes .theme.more-info.blue,
    .theme.landing #main-content .themes .theme.more-info.blue .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.blue .more,
    .banner [data-theme="blue"] .content .band,
    .feature[data-theme="blue"] {
        background-color: #037dc6;
    }
    .blue .cta:hover,
    .blue .cta:focus {
        background-color: #1e97df;
    }
    .theme.landing #main-content .themes .theme.blue .content h2,
    .blue .content-area h1,
    .theme.landing #main-content .themes .theme.blue .more .button:hover, 
    .theme.landing #main-content .themes .theme.blue .more .button:focus {
        color: #037dc6;
    }
    .theme.landing #main-content .themes .theme.blue .content .hash {
        color: #023d60;
    }

    .banner [data-theme="blue"] .content .band {
        color: #ffffff;
    }

    /* orange */
    .orange .cta,
    .theme.landing #main-content .themes .theme.more-info.orange,
    .theme.landing #main-content .themes .theme.more-info.orange .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.orange .more,
    .banner [data-theme="orange"] .content .band,
    .feature[data-theme="orange"] {
        background-color: #f37022;
    }
    .orange .cta:hover,
    .orange .cta:focus {
        background-color: #f7891e;
    }
    .theme.landing #main-content .themes .theme.orange .content h2,
    .orange .content-area h1,
    .theme.landing #main-content .themes .theme.orange .more .button:hover, 
    .theme.landing #main-content .themes .theme.orange .more .button:focus {
        color: #f37022;
    }
    .theme.landing #main-content .themes .theme.orange .content .hash {
        color: #8e3500;
    }

    .banner [data-theme="orange"] .content .band {
        color: #1A0B04;
    }

    /* lime */
    .lime .cta,
    .theme.landing #main-content .themes .theme.more-info.lime,
    .theme.landing #main-content .themes .theme.more-info.lime .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.lime .more,
    .banner [data-theme="lime"] .content .band,
    .feature[data-theme="lime"] {
        background-color: #adc629;
    }
    .lime .cta:hover,
    .lime .cta:focus {
        background-color: #bcd631;
    }
    .theme.landing #main-content .themes .theme.lime .content h2,
    .lime .content-area h1,
    .theme.landing #main-content .themes .theme.lime .more .button:hover, 
    .theme.landing #main-content .themes .theme.lime .more .button:focus {
        color: #adc629;
    }
    .theme.landing #main-content .themes .theme.lime .content .hash {
        color: #5a6b00;
    }

    .banner [data-theme="lime"] .content .band {
        color: #1C2006;
    }

    /* purple */
    .purple .cta,
    .theme.landing #main-content .themes .theme.more-info.purple,
    .theme.landing #main-content .themes .theme.more-info.purple .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.purple .more,
    .banner [data-theme="purple"] .content .band,
    .feature[data-theme="purple"] {
        background-color: #504d98;
    }
    .purple .cta:hover,
    .purple .cta:focus {
        background-color: #6460b2;
    }
    .theme.landing #main-content .themes .theme.purple .content h2,
    .purple .content-area h1,
    .theme.landing #main-content .themes .theme.purple .more .button:hover, 
    .theme.landing #main-content .themes .theme.purple .more .button:focus {
        color: #504d98;
    }
    .theme.landing #main-content .themes .theme.purple .content .hash {
        color: #311c4d;
    }

    .banner [data-theme="purple"] .content .band {
        color: #D6D5F7;
    }

    /* teal */
    .teal .cta,
    .theme.landing #main-content .themes .theme.more-info.teal,
    .theme.landing #main-content .themes .theme.more-info.teal .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.teal .more,
    .banner [data-theme="teal"] .content .band,
    .feature[data-theme="teal"] {
        background-color: #3ab3c1;
    }
    .teal .cta:hover,
    .teal .cta:focus {
        background-color: #41c9d9;
    }
    .theme.landing #main-content .themes .theme.teal .content h2,
    .teal .content-area h1,
    .theme.landing #main-content .themes .theme.teal .more .button:hover, 
    .theme.landing #main-content .themes .theme.teal .more .button:focus {
        color: #3ab3c1;
    }
    .theme.landing #main-content .themes .theme.teal .content .hash {
        color: #1f5c63;
    }

    .banner [data-theme="teal"] .content .band {
        color: #092124;
    }     

    /* Navigation Carousel */

    .owl-carousel.navigation .owl-stage {
        background-color: #eff0e7;
        padding-bottom: 60px;
    }
    .owl-carousel.navigation .content {
        font-size: 18px;
        line-height: 24px;
        padding: 13px 20px;
    }
    .owl-carousel.navigation .owl-item .img-wrapper {
    	position: relative;
    }
    .owl-carousel.navigation .owl-item .img-wrapper::after {
    	content: "";
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	height: 10px;
    	width: 100%;
    }
    .theme.landing #main-content .themes .theme.magenta .img-wrapper::after,
    .magenta .owl-carousel.navigation .owl-item .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.magenta .img-band,
    .theme.landing #main-content .themes .theme.more-info.magenta .content {
         background-color: rgba(166, 35, 127, 0.75);
    }
    .theme.landing #main-content .themes .theme.blue .img-wrapper::after,
    .blue .owl-carousel.navigation .owl-item .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.blue .img-band, 
    .theme.landing #main-content .themes .theme.more-info.blue .content {
         background-color: rgba(3, 125, 198, 0.75);
    }
    .theme.landing #main-content .themes .theme.purple .img-wrapper::after,
    .purple .owl-carousel.navigation .owl-item .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.purple .img-band,
    .theme.landing #main-content .themes .theme.more-info.purple .content {
         background-color: rgba(80, 77, 152, 0.75);
    }
    .theme.landing #main-content .themes .theme.orange .img-wrapper::after,
    .orange .owl-carousel.navigation .owl-item .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.orange .img-band,
    .theme.landing #main-content .themes .theme.more-info.orange .content {
         background-color: rgba(243, 112, 34, 0.75);
    }
    .theme.landing #main-content .themes .theme.lime .img-wrapper::after,
    .lime .owl-carousel.navigation .owl-item .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.lime .img-band,
    .theme.landing #main-content .themes .theme.more-info.lime .content {
         background-color: rgba(173, 198, 41, 0.75);
    }
    .theme.landing #main-content .themes .theme.teal .img-wrapper::after,
    .teal .owl-carousel.navigation .owl-item .img-wrapper::after,
    .theme.landing #main-content .themes .theme.more-info-toggle.teal .img-band,
    .theme.landing #main-content .themes .theme.more-info.teal .content {
         background-color: rgba(58, 179, 193, 0.75);
    }
    #main-content .owl-carousel.navigation .content {
        margin-top: 0;
    }
    .owl-carousel.navigation .content a {
        color: #006940;
    }
    .owl-carousel.navigation .content a:focus,
    .owl-carousel.navigation .content a:hover {
        color: #009058;
    }
    .owl-carousel.navigation .owl-controls {
        bottom: 19px;
        position: absolute;
        right: unset;
        width: 100%;
    }
    .owl-carousel.navigation .owl-controls .owl-nav {
        float: none;
        position: absolute;
        width: 100%;
    }
    .owl-carousel.navigation .owl-controls .owl-prev {
        float: left;
        margin-left: 72px;
    }
    .owl-carousel.navigation .owl-controls .owl-next {
        float: right;
        margin-right: 72px;
    }
    .owl-carousel.navigation .owl-nav > div {
        background-color: #dbded5;
        border-color: #a4a59f;
    }
    .owl-carousel.navigation .owl-nav > div:hover {
        background-color: #c7cac1;
    }
    .owl-carousel.navigation .owl-controls .owl-dots {
        text-align: center;
        width: 100%;
        float: none;
    }
    .owl-carousel.navigation .owl-controls .owl-dots .owl-dot {
        color: #535451;
    }

    .theme footer {
        background-image: url('../images/footer-background-image-theme.jpg');
    }

    /* Theme Landing */
    .theme.landing .bg-banner-img {
        min-height: 100%;
        -webkit-filter: none; 
        -moz-filter: none; 
        -o-filter: none; 
        -ms-filter: none; 
        filter: none;
    }
    .theme.landing .bg-banner-graphics {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 1600px auto;
        background-image: url('../images/theme-background-graphics_landing.png');
        width: 100%;
        height: 801px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .theme.landing .pre-content > .bg-banner-graphics ~ .wrapper {
        margin-top: 270px;
    }
    .theme.landing h1 {
        font-size: 90px;
        text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.6);
        font-weight: 700;
        text-transform: uppercase;
    }

    .theme.landing header::after {
        display: none;
    }
    .theme.landing article::before {
        /*top: 802px;*/
        display: none;
    }
    .theme.landing #main-content {
        /*padding-top: 560px;
        margin-top: 102px;*/
        position: relative;

        margin: 102px auto -7px;
        max-width: 1600px;
    }
    .theme.landing #main-content .bg-main-content {
        background-image: url('../images/theme-landing-main-content-img.jpg');
        height: 100%;
        width: 100%;
        z-index: -1;
        background-attachment: scroll;
        background-size: cover;
    }
    /*.theme.landing #main-content > .wrapper:first-child {
        background-image: url('../images/theme-landing-bg-img-overlay.png');
        background-repeat: repeat;    
    }*/
    .theme.landing #main-content .themes {
        margin-left: -3%;
    }
    .theme.landing #main-content .themes .theme {
        float: left;
        width: 47%;
        margin-top: 0;
        max-width: 528px;
        margin-left: 3%;
        overflow: hidden;
        position: relative;
        margin-bottom: 2em;
        padding-bottom: 90px;
    }
    .js .theme.landing #main-content .themes .theme.more-info {
        cursor: pointer;
    }
    .theme.landing #main-content .themes .theme .img-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .theme.landing #main-content .themes .theme .img-wrapper::after {
        content: "";
        height: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .theme.landing #main-content .themes .theme.more-info .img-wrapper::after {
        height: 22px;
    }
    .theme.landing #main-content .themes .theme .img-wrapper .img-band {
        height: 0px;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
    }
    
    .theme.landing #main-content .themes .theme img {
        display: block;
        height: auto;
        max-width: none;
        width: 100%;
    }
    .theme.landing #main-content .themes .theme .content {
        background-color: rgba(255, 255, 255, 0.85);
        margin-top: 0;
        text-align: center;
        padding: 4px 5px 20px;
        height: 90px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
/*    .theme.landing #main-content .themes .theme.more-info .content {
        height: auto;
        padding-bottom: 18px;
        padding-top: 20px;
    }*/
    .theme.landing #main-content .themes .theme .content h2 {
        font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
        letter-spacing: 0.025em;
        font-size: 36px;
        height: 48px;
        display: table;
        width: 100%;
    }
    .theme.landing #main-content .themes .theme .content h2 span {
        display: table-cell;
        vertical-align: middle;
    }
    .theme.landing #main-content .themes .theme.more-info .content h2 {
        height: auto;
    }
    .theme.landing #main-content .themes .theme.more-info .content h2,
    .theme.landing #main-content .themes .theme.more-info .content .description,
    .theme.landing #main-content .themes .theme.more-info .more a {
        color: white;
    }
    .theme.landing #main-content .themes .theme .description,
    .theme.landing #main-content .themes .theme .more,
    .theme.landing #main-content .themes .theme .more .button {
        display: none;
    }
    .theme.landing #main-content .themes .theme .more{
		display: block;
		z-index: 1;
		height: 0px;
		background: red;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
    }
    .theme.landing #main-content .themes .theme .more .button {
		margin-top: 20px;
    }
    .theme.landing #main-content .themes .theme.more-info .content .description {
        font-size: 14px;
        line-height: 18px;
        display: block;
        margin-bottom: 50px;
        margin-top: 9px;
    }
    .theme.landing #main-content .themes .theme.more-info-toggle .content .description{
		width: 100%;
		left: 0;
		right: 0;
    }
    .theme.landing #main-content .themes .theme.more-info-toggle .content .description p{
        font-size: 14px;
        line-height: 18px;
        display: block;
        margin-bottom: 50px;
        margin-top: 9px;
    }
    .theme.landing #main-content .themes .theme.more-info .more {
        display: block;
    }
    .theme.landing #main-content .themes .theme.more-info-toggle .more .button {
        background-color: transparent;
        border: 1px solid white;
        text-shadow: none;
        text-transform: none;
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        padding: 12px 15px 11px;
        font-family: "Open Sans",Verdana,Geneva,sans-serif;
        letter-spacing: 0;
    }
    .theme.landing #main-content .themes .theme.more-info-toggle .more .button:hover, 
    .theme.landing #main-content .themes .theme.more-info-toggle .more .button:focus {
        background-color: white;
    }
    .theme.landing #main-content .themes .theme.more-info-toggle .more .button::after {
        font-size: 16px !important;
        top: 1px;
    }
    .theme.landing #main-content .themes .theme .content .hash {
        color: #727272;
        font-style: italic;
        line-height: 18px;
        margin-top: 2px;
    }
    .theme.landing #main-content .themes .theme.more-info .content .hash {
        margin-top: 10px;
    }
    
    .theme.landing #main-content .wrapper .content-area .themes .theme .content .hash{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		z-index: 1;
    }
    
}
@media only screen and (max-width: 1080px) {
    .theme.landing #main-content .themes .theme .content h2 {
        font-size: 26px;
        line-height: 24px;
    }
    .theme.landing #main-content .themes .theme .content {
        /*padding-top: 19px;*/
    }
}