body {
	margin-top: 0px;
	margin-left: 7px;
}
.box {
	height: auto;
	width: 989px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-family: "宋体";
	font-size: 12px;
}
a:link {
	text-decoration: none;
	color: #333;
}
.nav01d a   {
	color: #900;
}

a:hover {
	color: #990000;
	text-decoration: none;
}

.header {
	float: left;
	height: auto;
	width: 989px;
}
.nav01a {
	float: left;
	width: 150px;
	font-family: "宋体";
	font-size: 12px;
	color: #000;
	height: 30px;
}
.nav01b {
	font-family: "宋体";
	font-size: 12px;
	color: #000;
	float: right;
	width: 623px;
	height: 30px;
}
.nav01c {
	font-family: "宋体";
	font-size: 12px;
	color: #000;
	float: left;
	width: 147px;
	margin-right: 3px;
	margin-top: 4px;
}





.mainbody {
	float: left;
	height: auto;
	width: 989px;
	margin-top: 1px;
}
.nav01d ul li {
	list-style-type: none;
	background-image: url(../images/index_16.gif);
	background-repeat: no-repeat;
	height: 28px;
	width: 89px;
	float: left;
	display: block;
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #990000;
	line-height: 28px;
	text-align: center;
}
.nav01d ul {
	margin-top: 3px;
}
.nav01d {
	height: 28px;
	float: left;
	width: 773px;
}
.left_boder {
	border: 1px solid #cbcbcb;
}



.footer {
	float: left;
	height: auto;
	width: 989px;
	margin-top: 5px;
	text-align: center;
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #333;
}
.banner_ {
	float: left;
	height: 92px;
	width: 989px;
	margin-top: 3px;
}

.nav {
	background-repeat: repeat-x;
	background-image: url(../images/index_03.gif);
	float: left;
	height: 62px;
	width: 989px;
}
.center01a {
	height: 241px;
	width: 326px;
	background-color: #fef8df;
	border: 1px solid #afafaf;
	float: left;
}
.bg02 {
	background-image: url(../images/index2_69.gif);
	background-repeat: repeat-x;
	height: 19px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #5f5f5f;
	border-bottom-color: #5f5f5f;
	border-left-color: #5f5f5f;
	font-size: 12px;
}


.left01 {
	float: left;
	height: auto;
	width: 178px;
}
.left01a {
	float: left;
	height: auto;
	width: 178px;
}

.center01 {
	float: left;
	margin-left: 3px;
	width: 643px;
	font-family: "宋体";
	font-size: 14px;
	height: auto;
}
.left01b {
	background-color: #f3f8fc;
	float: inherit;
	width: 176px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cbcbcb;
	border-right-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
	border-left-color: #cbcbcb;
	height: auto;
	padding-top: 6px;
	padding-bottom: 9px;
}
/*
.left01b img {
	border: 1px solid #000;
	margin-left: 7px;
	margin-bottom: 4px;

}
*/

.boder01 {
	border: 1px solid #5f5f5f;
}

.right01 {
	float: right;
	height: auto;
	width: 162px;
	margin-top: 3px;
}
.bg01 {
	background-image: url(../images/index1_36.gif);
	background-repeat: repeat-x;
}


.logo {
	float: left;
	height: 62px;
	width: 216px;
}
.nav01 {
	float: left;
	height: 62px;
	width: 773px;
}
.subnav {
	background-image: url(../images/index_34.gif);
	background-repeat: repeat-x;
	border: 1px solid #7f7f7f;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom:1px;
}

.right01 img {
	border: 1px solid #000;
	margin-bottom: 3px;

}
.center01c {
	float: left;
	width: 643px;
	height: auto;
	margin-top: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cbcbcb;
	border-right-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
	border-left-color: #cbcbcb;
	background-color: #fffcf3;
}

.center01b {
	float: left;
	height: 242px;
	width: 315px;
	background-color: #fef8df;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #afafaf;
}
.margin01 {
	margin-top: 10px;
	margin-bottom: 12px;
}
.text01 {
	background-color: #FFF;
	height: 13px;
	width: 91px;
	background-image: none;
	border: 1px solid #D1C1A8;
}
.button01 {
	background-color: #666;
	background-image: url(../images/index_54.gif);
	background-repeat: no-repeat;
	height: 13px;
	width: 15px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.right01a {
	background-color: #f4f7fe;
	margin-top:3px;
	float: left;
	height: 90px;
	width: 160px;
	border: 1px solid #cbcbcb;
	line-height: 21px;
}
.right01a table tr td img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.left01c {
	float: left;
	height: auto;
	width: 178px;
	margin-top: 5px;
}
.left01d {
	background-color: #f3f8fc;
	float: left;
	width: 176px;
	height: auto;
	padding-top: 6px;
	padding-bottom: 2px;
	margin-top: 3px;
	border: 1px solid #cbcbcb;
}
.left01k {
	background-color: #f3f8fc;
	float: left;
	width: 176px;
	height: auto;
	padding-top: 6px;
	padding-bottom: 9px;
	margin-top: 2px;
	border: 1px solid #cbcbcb;
}
/*
.left01d img {
	border: 1px solid #000;
	margin-left: 7px;
	margin-bottom: 4px;
}
*/
.mainbody01 {
	float: left;
	height: auto;
	width: 989px;
	margin-top: 5px;
}
.mainbody01a {
	background-color: #f4f7fe;
	float: left;
	height: 83px;
	width: 255px;
	border: 1px solid #cbcbcb;
	line-height: 19px;
	padding-top: 7px;
}
.banner01 {
	float: right;
	height: 90px;
	width: 728px;
	border: 1px solid #000;
}
.left01e {
	background-color: #f3f8fc;
	float: inherit;
	width: 176px;
	height: auto;
	padding-top: 6px;
	padding-bottom: 2px;
	border: 1px solid #cbcbcb;
}
/*
.left01e img {
	border: 1px solid #000;
	margin-left: 7px;
	margin-bottom: 4px;
}
*/
.subnav01 {
	background-image: url(../images/index6_91.gif);
	background-repeat: repeat-x;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9b9b9b;
}
.more {
	font-family: "宋体";
	font-size: 12px;
	color: #7a745b;
	padding-right: 10px;
}

.center01d {
	float: left;
	width: 319px;
	height: auto;
	background-color: #fffcf3;
	margin-bottom: 4px;
	border: 1px solid #cbcbcb;
}

.center01dd {
	float: left;
	width: 321px;
	height: auto;
	background-color: #fffcf3;
	margin-bottom: 4px;
}
.c_text,.c_text a{color:#513100;}
.center01e {
	float: left;
	width: 318px;
	height: auto;
	background-color: #fffcf3;
	margin-bottom: 4px;
	margin-left: 2px;
	border: 1px solid #cbcbcb;
}
.right01b {
	background-color: #f4f7fe;
	float: left;
	height: auto;
	width: 160px;
	border: 1px solid #cbcbcb;
	line-height: 20px;
}
.right01b img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.right01c {
	width: 160px;
	float: left;
	height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 2px;
}
.margin02 {
	margin-top: 5px;
	margin-bottom: 2px;
}
.margin03 {
	margin-top: 6px;
	margin-bottom: 6px;
}
.mainbody01b {
	background-color: #f4f7fe;
	float: right;
	height: 90px;
	width: 255px;
	border: 1px solid #cbcbcb;
	line-height: 20px;
}
.banner02 {
	float: left;
	height: 90px;
	width: 728px;
	border: 1px solid #000;
}
.right01d {
	float: left;
	width: 160px;
}
/*
.nav03 {
	text-decoration: underline;
}
*/
.footer_bg {
	background-image: url(../images/index7_147.gif);
	background-repeat: repeat-x;
	height: 12px;
}
a:visited {
	text-decoration: none;
	color: #333;
}
.nav01d ul .dangqian {
	background-image: url(../images/index_14.gif);
	background-repeat: no-repeat;
	color: #FFF;
}
.nav01d ul .dangqian a {
	color: #FFF;
}
.subnav02 {
	background-image: url(../images/index_34.gif);
	background-repeat: repeat-x;
	border: 1px solid #7f7f7f;
	font-size: 12px;
}
.nav01d ul li a:visited {
	color: #900;
	text-decoration: none;
}
.nav01d ul .dangqian a:visited {
	color: #FFF;
}
.n1 {
background-image: url(../images/index_16.gif);
height: 28px;
background-repeat: repeat-x;
line-height: 28px;
color: #900;
font-weight: bold;
}
.n1 a {
color: #900;
text-decoration: none;
}

.n2 {
background-image: url(../images/index_14.gif);
height: 28px;
background-repeat: repeat-x;
color: #FFF;
}
.n1 a:visited {
color: #900;
text-decoration: none;
}
.n2 a {
font-weight: bold;
color: #FFF;
}
.n2 a:visited {
font-weight: bold;
color: #FFF;
}
.toptxt{
	font-size:12px;
	color:#60534d;
}
