body {
	background-color:#FFF;
	font: 12px/14px NSimsun;
	width:1024px;
	left: auto;
	color:#000000;
	margin:0px auto;
	z-index: auto;
	position: relative;
}
a{color:#000;text-decoration:none;}
a:hover{color:#990000;}
#logo{width:1024px;height:62px;}
.logotubiao{margin-top:-62px;*margin-top:-64px;}
.xiaotu{margin-left:218px; margin-top:-56px;}
.sheweishouye{font-size:12px;width:100px; margin-left:238px; margin-top:-13px; }
.guanyuwanwei{
	margin-left: 800px;
	margin-top: -14px;
	width: 250px;
}
.guanyuwanwei a{
	font-size:12px;
	background:url(images/index_new/102.png) 0px 4px no-repeat;
	padding-left:10px;
	margin-left:10px;
}
.jianti{margin-left:220px; margin-top:13px;}
.daohang {width:623px; height:26px; margin:-10px auto;font-weight:bold; position: absolute; margin-left:415px; top:43px;}
.daohang ol {list-style: none; margin: 0px; padding: 0px; }
.daohang ol li {float:left;vertical-align:middle;}
.daohang ol li a {color:#990000; display:block; width:87px; height:28px; line-height:28px; text-align:center; background:url(images/index_new/an1.gif) 0 0 no-repeat; font-size:12px;}
.daohang ol li a.current {background:url(images/index_new/an.png) 0 0 no-repeat; color:#FFFFFF;}
.daohang ol li a:hover {background:url(images/index_new/an.png) 0 0 no-repeat; color:#FFFFFF;}
.dh{word-spacing:-3px; margin-top:-18px;*margin-top:-22px;}
.dh a{color:#60534d;}
.content {width:1024px;}
.content a img{border:0px solid #000;}
.side {width: 131px; float: left; }
.side1 {width: 129px; float: right; }
.main {margin-left: 136px;}

#onemain{width:600px;height:1508px; float:left; border:1px solid #cbcbcb;}
.onemain1 {height:218px;}
.onemain1 img {border:0;position: relative;}
.onemain1 ol {padding:0; overflow:auto; zoom:1; margin-top:-18px; text-align: center;position: relative;}
.onemain1 .imgbox{height:198px;text-align:center;position: relative;border-right:1px solid #cbcbcb;}
#jrt{background: url(images/index_new/index6_91.gif) 0px -1px repeat-x;height:23px;}
#jr{font-size:13px;line-height:23px;text-align:center;border-right:2px #9c9c9c solid;width:49%;}
#jr a{color:#000;}
#jr a:hover{font-weight:bold;}
#jr1{font-size:13px; margin-top:-23px; margin-left:190px;line-height:23px;}
#jr1 a{color:#000;}
#jr1 a:hover{font-weight:bold;}
#layout,#layout_1{font-size:14px;line-height:24px}

#guanggao{
	clear:both;
    padding: 8px 0px 5px 0px;
}
#guanggao img {border:0;}

#sph{background: url(images/index_new/index6_91.gif) 0px -1px repeat-x;height:21px;margin:1px 1px 0px 0px;}
#sp{font-size:13px;line-height:21px;width:50%;border-right:2px #9c9c9c solid;text-align:center;}
#sp a{color:#000;}
#sp a:hover{font-weight:bold;}
#sp1{font-size:13px; margin-top:-21px; margin-left:190px;line-height:21px;}
#sp1 a{color:#000;}
#sp1 a:hover{font-weight:bold;}

#shipin{margin-top:12px; margin-left:20px;}
#shipin1{margin-top:-127px; margin-left:165px;}
#layout1,#layout1_1{width:300px;height:201px;margin-top:7px;font-size:14px;line-height:22px}
#layout1 ol{clear: both;}
#layout1 ol li{background:url(images/index_new/spj.png) 0px 8px no-repeat;padding-left: 18px;}

#layout1 .gengduo,#layout1_1 .gengduo{clear:both;text-align:right;}
#layout1 .gengduo a,#layout1_1 .gengduo a{color:#b95838;font-size: 13px;line-height:14px;}

#jiaodian{float:right; width:300px;height:20px;}
#httb{margin-top:-19px;*margin-top:-23px;height:20px;}
#htwz{margin-top:-21px; margin-left:25px; font-size:13px;line-height:20px;}
#htwz a{color:#000000;}
#htwz a:hover{color:#000000; font-weight:bold;}

#sousuo input{width:90px; height:12px;}
#sousuo p{color:#000000;margin:0px;}
#sousuo{margin-top:-20px;margin-left:154px;height:20px;}
#ssan{margin-top:-17px; margin-left:280px;}
#ssan img{border:0;}
#layout2{width:300px; float:right; font-size:14px;line-height:24px;margin-top:4px;}
#layout2 ol{padding-left:5px;}
#layout2 .sjc_list{
	text-align:center;
	height:24px;
	background-image:none;
	padding-left:0px;
}
#layout2 .sjc_list a{
	line-height:24px;
	color: #0000ff;
	font-size:13px;
}

#gengduo1{text-align:right; margin-right:15px;}
#gengduo1 a{color:#b95838;font-size:13px;line-height:14px;}

#twomain{width:258px;height:1508px; float:left; margin-left:-1px; border:1px solid #cbcbcb;}
#daodu1{/*float:right;*/ font-size:14px;}
#wwdd1{margin-left:2px; margin-top:-19px;height:20px;}
#wwdd{margin-left:25px; margin-top:-21px; font-size:13px;line-height:20px;}
#wwdd a{color:#000000;}
#wwdd a:hover{color:#000000; font-weight:bold;}
#layouty{font-size:14px;line-height:24px;margin-top:4px;}

#wwbk2{background: url(images/index_new/index6_91.gif) 0px -2px repeat-x;height:24px;clear:both;}
#wwbk1{margin-left:2px; margin-top:-23px;}
#wwbk{margin-left:25px; margin-top:-19px; font-size:13px;line-height:22px;}
#wwbk a{color:#000000;}
#wwbk a:hover{color:#000000; font-weight:bold;}
#layouty1{font-size:14px;line-height:24px;}
#gengduo2{text-align:right;clear:both; margin-right:15px;font-size: 13px;height: 24px;}
#gengduo2 a{color:#b95838;}

#wwlt2{background: url(images/index_new/index6_91.gif) 0px -2px repeat-x;height:24px;}
#wwlt1{margin-left:2px; margin-top:-26px;}
#wwlt{margin-left:30px; margin-top:-20px;font-size:13px;line-height:22px;}
#wwlt a{color:#000000;}
#wwlt a:hover{color:#000000; font-weight:bold;}
#layouty2 {font-size:14px;line-height:24px;}

#gengduo3{text-align:right;clear:both; margin-right:15px;height:24px;}
#gengduo3 a{color:#b95838;}

#wwpl2{background: url(images/index_new/index6_91.gif) 0px 0px repeat-x;height:24px;}
#wwpl1{margin-left:2px; margin-top:-20px;}
#wwpl{margin-top:-19px;font-size:13px;line-height:23px;text-align:center;width:50%;border-right:2px #9c9c9c solid;}
#wwpl a{color:#000000;}
#wwpl a:hover{color:#000000; font-weight:bold;}
#wwzw{margin-left:164px; margin-top:-23px;font-size:13px;line-height:23px;}
#wwzw a{color:#000000;}
#wwzw a:hover{color:#000000; font-weight:bold;}
#layouty3,#layouty3_1{font-size:14px;line-height:24px;}

#layouty3 .gengduo4{text-align:right;clear:both; margin-right:15px;}
#layouty3 .gengduo4 a{color:#b95838;font-size:13px;line-height:14px;}

#layouty3_1 .gengduo4{text-align:right;clear:both; margin:0px 10px 0px 0px;}
#layouty3_1 .gengduo4 a{color:#b95838;font-size:12px;}

#threemain{width:160px;height:1510px; float:right; margin-left:-1px;  border:0px solid #cbcbcb;}

#guanggao1 img{border:0;}
#guanggao2{padding: 2px 0px 3px 0px;margin: 4px 0px; height: 183px; border:1px solid #d8d8d8; background-color:#f4f7fe;}
#guanggao2 a{color:#545569;}

#zhongjian {width:1024px;clear: both;padding:5px 0px;}
#zhongjian img{border:0;}



#fourmain{width:600px;height:880px; float:left; margin-left:-1px; border:1px solid #cbcbcb;}
#fourmain .leftbox,#sevenmain .leftbox{
	width: 300px;
	float: left;
}
#fourmain .leftbox .newsbox .gengduo.left{text-align:left;padding-left:9px;-moz-padding-start: 0px;padding-right:0;}
#fourmain .leftbox .newsbox .spac hr{width: 95%;margin: 8px auto 8px auto;border-top: dashed #ccc 1px;border-bottom: none;}
#fourmain .rightbox,#sevenmain .rightbox{
	width: 300px;
	float: right;
}

.x1{margin-left:2px; margin-top:-18px;}
.x2{margin-left:22px; margin-top:-14px; font-size:14px;}
.x2 a{color:#000;}
.x2 a:hover{color:#000; font-weight:bold;}
.x3{margin:7px 0px 5px 20px;width:120px;height:125px;text-align:center;}
.x3 a{color:#000;}
.x4{margin-left:160px; margin-top:-130px; margin-right:15px;width:120px;height:125px;text-align:center;}
.x4 a{color:#000;}
.x3 p,.x4 p{
	margin: 10px 0px;
	line-height:14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.layoutyxg {font-size:14px;line-height:22px;}

.gengduoxg{margin-left:220px; margin-top:-10px;}
.gengduoxg a{color:#b95838;}

#zg{float:right; margin-top:-858px;}
.zg1{margin-left:2px; margin-top:-15px;}
.zg2{margin-left:22px; margin-top:-13px; font-size:14px;}
.zg2 a{color:#000;}
.zg2 a:hover{color:#000; font-weight:bold;}
.layoutyzg {margin-left:-15px; margin-top:-12px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyzg a{color:#000000;}
.layoutyzg a:hover{color:#990000;}
.gengduozg{margin-top:-10px; margin-left:240px;}
.gengduozg a{color:#b95838;}
#mg{float:right; margin-top:-642px;}
.mg1{margin-left:2px; margin-top:-15px;}
.mg2{margin-left:22px; margin-top:-13px; font-size:14px;}
.mg2 a{color:#000;}
.mg2 a:hover{color:#000; font-weight:bold;}
.layoutymg {margin-left:-15px; margin-top:-12px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutymg a{color:#000000;}
.layoutymg a:hover{color:#990000;}
.gengduomg{margin-top:-14px; margin-left:240px;}
.gengduomg a{color:#b95838;}
#jg{float:right; margin-top:-426px;}
.jg1{margin-left:2px; margin-top:-15px;}
.jg2{margin-left:22px; margin-top:-13px; font-size:14px;}
.jg2 a{color:#000;}
.jg2 a:hover{color:#000; font-weight:bold;}
.layoutyjg {margin-left:-15px; margin-top:-10px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyjg a{color:#000000;}
.layoutyjg a:hover{color:#990000;}
.gengduojg{margin-top:-14px; margin-left:240px;}
.gengduojg a{color:#b95838;}
#hq{float:right; margin-top:-210px;}
.hq1{margin-left:2px; margin-top:-18px;}
.hq2{margin-left:22px; margin-top:-16px; font-size:14px;}
.hq2 a{color:#000;}
.hq2 a:hover{color:#000; font-weight:bold;}
.layoutyhq {margin-left:-15px; margin-top:-10px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyhq a{color:#000000;}
.layoutyhq a:hover{color:#990000;}
.gengduohq{margin-top:-12px; margin-left:240px;}
.gengduohq a{color:#b95838;}






#fivemain{width:258px;height:880px; float:left; margin-left:-1px; border:1px solid #cbcbcb;}

.newsbox{
	width:100%;
}
.newsbox .gengduo{text-align:right; clear:both;padding-right:15px;height:22px;font-size:13px;}
.newsbox .gengduo a{color: #b95838;}
.newsbox .layouty {font-size:14px;line-height:22px;}
.newsbox .layouty ol{padding-left:5px;margin:0px;}
.newsbox .no_icon_list ol{
	padding-left:5px;
}
.newsbox .channel{height:18px; font-size:14px;background:url(images/index_new/index6_91.gif) repeat-x;padding:4px 0px 0px 4px;margin-right:1px;}
.newsbox .channel img{vertical-align: middle;}
.newsbox .channel img.top{vertical-align: middle;}
.newsbox .channel a{color:#000;font-weight:bold;font-size:13px;}

.newsbox .channel .left,.newsbox .channel .right{
	line-height: 23px;
	width: 49%;
	text-align: center;
	float:left;
}
.newsbox .channel .left{
	border-right: 2px #9c9c9c solid;
}
.newsbox .noicon{padding:0px;height:23px;background-position: 0px -1px;margin-right:0px;}
.newsbox .noicon a{font-weight:normal;}
.newsbox .noicon .bold{font-weight:bold;}
.newsbox .lh24{line-height:24px;}
#sevenmain .newsbox .gengduo,#eightmain .newsbox .gengduo{
	height:23px;
}
#sevenmain .leftbox .newsbox .gengduo{
	height:22px;
}
#sevenmain .layouty,#eightmain .layouty{
	line-height:23px;
}

.layoutyss a{color:#000000;}
.layoutyss a:hover{color:#990000;}

.ss1{margin-top:-19px; margin-left:2px;}
.ss2{margin-top:-15px; margin-left:22px; font-size:14px;}
.ss2 a{color:#000;}
.ss2 a:hover{color:#000; font-weight:bold;}
.layoutyss {margin-left:-15px; margin-top:-14px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyss a{color:#000000;}
.layoutyss a:hover{color:#990000;}
.gengduoss{float:right; margin-top:-9px; margin-right:10px;}
.gengduoss a{color:#b95838;}
#qc{width:258px; float:right; margin-top:5px;}
.qc1{margin-top:-16px; margin-left:2px;}
.qc2{margin-top:-12px; margin-left:30px; font-size:14px;}
.qc2 a{color:#000;}
.qc2 a:hover{color:#000; font-weight:bold;}
.layoutyqc {margin-left:-15px; margin-top:-14px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyqc a{color:#000000;}
.layoutyqc a:hover{color:#990000;}
.gengduoqc{float:right; margin-top:-13px; margin-right:10px;}
.gengduoqc a{color:#b95838;}
#sm{width:258px; float:right; margin-top:10px;}
.sm1{margin-top:-19px; margin-left:2px;}
.sm2{margin-top:-15px; margin-left:30px; font-size:14px;}
.sm2 a{color:#000;}
.sm2 a:hover{color:#000; font-weight:bold;}
.layoutysm {margin-left:-15px; margin-top:-11px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutysm a{color:#000000;}
.layoutysm a:hover{color:#990000;}
.gengduosm{float:right; margin-top:-13px; margin-right:10px;}
.gengduosm a{color:#b95838;}
#ly{width:258px; float:right; margin-top:7px;}
.ly1{margin-top:-19px; margin-left:2px;}
.ly2{margin-top:-16px; margin-left:30px; font-size:14px;}
.ly2 a{color:#000;}
.ly2 a:hover{color:#000; font-weight:bold;}
.layoutyly {margin-left:-15px; margin-top:-12px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyly a{color:#000000;}
.layoutyly a:hover{color:#990000;}
.gengduoly{float:right; margin-top:-10px; margin-right:10px;}
.gengduoly a{color:#b95838;}



#sixmain{width:160px;float:right; border:0px solid #cbcbcb;}
#ymfw{width:158px;border:1px solid #d8d8d8; background-color:#f4f7fe; margin:0px 0px 4px 0px;}
.fw{margin-top:-20px; margin-left:3px;}
.fw2{margin-left:25px; margin-top:-20px; font-size:12px;line-height:20px;}
.fw2 a{color:#000;}
.fw2 a:hover{color:#000; font-weight:bold;}
.layoutyfw{padding:9px 0px;}
.layoutyfw ol{margin-top:8px;list-style-type:none;font-size:12px; margin-left:-34px;line-height:180%}
.layoutyfw a{color:#000;line-height:21px;}
.layoutyfw a:hover{color:#000;}
.tuwen{float:right; width:160px;}
.ym1{margin-top:4px;}
#gwfw{border:1px solid #d8d8d8;background-color:#f4f7fe;}
#gwfw td a{color:#535669;}
.gw{margin-top:-19px; margin-left:2px;}
.gw2{margin-left:25px; margin-top:-14px; font-size:12px;}
.gw2 a{color:#000;}
.gw2 a:hover{color:#000; font-weight:bold;}
.layoutygw ol{font-size:12px; margin:0px;line-height:21px;padding:9px 0px 8px 10px; }

.layoutygw a{color:#000;}
.layoutygw a:hover{color:#000;}
.ww{margin-left:7px;line-height: 23px;font-family: SimSun;}
.ww a{color:#000;font-size: 12px;line-height: 21px;}
.hhh{margin-top:4px;}
.ww1{margin-top:5px;margin-left:-10px;}

#zhongjian1 {width:1024px; padding:5px 0px;clear: both;}
#zhongjian1 img{border:0;}


#sevenmain{width:600px;height:730px; float:left; border:1px solid #cbcbcb;}
.cz1{margin-top:-20px; margin-left:2px;}
.cz2{margin-left:22px; margin-top:-15px; font-size:14px;}
.cz2 a{color:#000;}
.cz2 a:hover{color:#000; font-weight:bold;}
.layoutycz {margin-left:-20px; margin-top:-5px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutycz a{color:#000000;}
.layoutycz a:hover{color:#990000;}
.gengduocz{margin-left:240px; margin-top:-15px; margin-right:10px;}
.gengduocz a{color:#b95838;}
.qt1{margin-top:-17px; margin-left:2px;}
.qt2{margin-left:22px; margin-top:-14px; font-size:14px;}
.qt2 a{color:#000;}
.qt2 a:hover{color:#000; font-weight:bold;}
.layoutyqt {margin-left:-20px; margin-top:-5px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyqt a{color:#000000;}
.layoutyqt a:hover{color:#990000;}
.gengduoqt{margin-left:240px; margin-top:-15px; margin-right:10px;}
.gengduoqt a{color:#b95838;}
.tt{float:right; margin-top:-699px;}
.tt1{margin-top:-19px; margin-left:2px;}
.tt2{margin-left:24px; margin-top:-18px; font-size:14px;}
.tt2 a{color:#000;}
.tt2 a:hover{color:#000; font-weight:bold;}
.layoutytt {margin-left:-20px; margin-top:-6px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutytt a{color:#000000;}
.layoutytt a:hover{color:#990000;}
.gengduott{margin-left:240px; margin-top:-15px; margin-right:10px;}
.gengduott a{color:#b95838;}
.lx{float:right; margin-top:-520px;}
.lx1{margin-top:-19px; margin-left:2px;}
.lx2{margin-left:24px; margin-top:-18px; font-size:14px;}
.lx2 a{color:#000;}
.lx2 a:hover{color:#000; font-weight:bold;}
.layoutylx {margin-left:-20px; margin-top:-13px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutylx a{color:#000000;}
.layoutylx a:hover{color:#990000;}
.gengduolx{margin-left:240px; margin-top:-15px; margin-right:10px;}
.gengduolx a{color:#b95838;}
.cj{float:right; margin-top:-350px;}
.cj1{margin-top:-19px; margin-left:2px;}
.cj2{margin-left:24px; margin-top:-18px; font-size:14px;}
.cj2 a{color:#000;}
.cj2 a:hover{color:#000; font-weight:bold;}
.layoutycj {margin-left:-20px; margin-top:-3px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutycj a{color:#000000;}
.layoutycj a:hover{color:#990000;}
.gengduocj{margin-left:240px; margin-top:-15px; margin-right:10px;}
.gengduocj a{color:#b95838;}
.sd{float:right; margin-top:-170px;}
.sd1{margin-top:-19px; margin-left:2px;}
.sd2{margin-left:24px; margin-top:-14px; font-size:14px;}
.sd2 a{color:#000;}
.sd2 a:hover{color:#000; font-weight:bold;}
.layoutysd {margin-left:-20px; margin-top:-7px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutysd a{color:#000000;}
.layoutysd a:hover{color:#990000;}
.gengduosd{margin-left:240px; margin-top:-15px; margin-right:10px;}
.gengduosd a{color:#b95838;}


#eightmain{width:258px;height:730px; float:left; margin-left:-1px; border:1px solid #cbcbcb;}
.flgg1{margin-left:2px; margin-top:-17px;}
.flgg2{margin-left:22px; margin-top:-14px; font-size:14px;}
.flgg2 a{color:#000;}
.flgg2 a:hover{color:#000; font-weight:bold;}
#index_pic {margin-bottom: 11px;}
#index_pic ul {padding:0px; overflow:hidden; zoom:1;margin:0px;}
#index_pic ul li {width:40px; float:left; margin:15px 0px 5px 8px; display:inline; text-align:center;}
#index_pic ul li a {display:block; color:#000;}
#index_pic ul li img {padding:1px; border:1px solid #e1e1e1; margin-bottom:3px;}
#index_pic a:hover{color:#900;}
#aer{letter-spacing:-2px;}
.layoutyflgg {margin-left:-15px; margin-top:-18px; list-style-image:url(images/index_new/102.png);font-size:14px;line-height:160%}
.layoutyflgg a{color:#000000;}
.layoutyflgg a:hover{color:#990000;}
.gengduoflgg{margin-left:200px; margin-top:-15px; margin-right:10px;}
.gengduoflgg a{color:#b95838;}



#ninemain{width:160px;float:right; border:0px solid #cbcbcb;}
#ninemain .ads_pic img{
	margin-bottom:2px;
}
#sshl{width:160px; border:1px solid #d8d8d8;}
#sshl td{color: #2f2f2f;font-family: Arial;font-size: 12px;padding-left:3px;}
.hl{margin-left:5px; margin-top:-22px; font-size:14px;height:22px;}
.hl a{color:#000;}
.hl a:hover{color:#000; font-weight:bold;}
.layoutyhl ol{z-index:10;list-style-type:none;font-size:12px; line-height:180%;margin: 4px 0px 0px 0px;padding:0px 0px 0px 4px;}
.layoutyhl a{color:#000;}
.layoutyhl a:hover{color:#000;}

.hl1{margin-top:-100;}

#ssh2{width:160px; border:1px solid #d8d8d8;margin:2px 0px;}

#sy{width:160px; border:0px solid #d8d8d8;background-color:#f4f7fe;}
.sy{margin-top:-19px; margin-left:2px;}
.sy2{margin-left:25px; margin-top:-14px; font-size:12px;}
.sy2 a{color:#000;}
.sy2 a:hover{color:#000; font-weight:bold;}
.layoutysy ol{padding:4px 0 5px 10px;line-height:22px;margin: 0px;list-style-type:none; letter-spacing: 2px;}
.layoutysy a{color:#000;font-size:12px;line-height:22px;}
.layoutysy a:hover{color:#000;}


#dbgg{width:162px; float:right;}
.t1{margin-top:2px;}


.mainbody {
	float: none;
	clear:both;
	height: auto;
	width: 1024px;
	margin-top: 1px;
}
.mainbody a{color:#000;}
.mainbody a:hover{color:#900;}
.footer {
	float: left;
	height: auto;
	width: 1024px;
	margin-top: 5px;
	text-align: center;
	font-family: "宋体";
	font-size: 12px;
	line-height: 25px;
	color: #333;
}
.footerbg {
	background-image:url(images/index_new/index7_147.gif);
	background-repeat: repeat-x;
	height: 12px;
}

.content{
	padding:10px 0px;
}

.ads_pic a{
	font-size:0px;
}
.ads_pic img{
	margin-bottom:3px;
}

a.blue{
	color:rgb(0, 0, 255);
}

.bold{
	font-weight:bold;
}

.img_video{
	width:116px;
	height:97px;
  padding-left:20px;
  padding-right:9px;
	text-align:center;
	float:left;
	line-height:25px;
	font-size:13px;
	overflow: hidden;
}

ol{
	padding:0px 0px 0px 5px;
	margin: 0px;
}

ol li{
	list-style:none;
	background: url(images/index_new/102.png) 0px 9px no-repeat;
	padding-left:12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
ol li a{
	color:#333333;
}
ol li a:visited{
	color:#BD6B09;
}
.non-visited a:visited{
	color:#333333;
}
ol li a:hover{
	color:#990000;
}

.layoutygw ol li,.hl1 ol li,.layoutysy ol li,.no_icon_list ol li,.onemain1 ol li{background-image:none;padding-left:0px;}

#layout4 ol{padding-left:5px;}
#layout_1 ol,#layout4_1 ol{
	float: left;
	width: 140px;
}

#sevenmain,#eightmain,#fourmain,#fivemain,#onemain,#twomain{
	background-color: #fffcf3;
}