@charset 'utf-8';

/*----------------------------------------------------
 アイコンフォント
----------------------------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url('//svg.aacdn.jp/aa-front/font/fontello.eot');
  src: url('//svg.aacdn.jp/aa-front/font/fontello.eot') format('embedded-opentype'),
       url('//svg.aacdn.jp/aa-front/font/fontello.woff') format('woff'),
       url('//svg.aacdn.jp/aa-front/font/fontello.ttf') format('truetype'),
       url('//svg.aacdn.jp/aa-front/font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="aa_icon-font-"]:before,
[class*=" aa_icon-font-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-style: normal;

    src: url('//svg.aacdn.jp/aa-front/font/fontello.eot');
    src: url('//svg.aacdn.jp/aa-front/font/fontello.eot') format('embedded-opentype'),
    url('//svg.aacdn.jp/aa-front/font/fontello.woff') format('woff'),
    url('//svg.aacdn.jp/aa-front/font/fontello.ttfS') format('truetype'),
    url('//svg.aacdn.jp/aa-front/font/fontello.svg') format('svg');
}
[class^='aa_icon-font-']:before,
[class*=' aa_icon-font-']:before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    speak: none;
}
.aa_icon-font-search:before { content: '\e800'; }
.aa_icon-font-glyph-facebook:before { content: '\e801'; }
.aa_icon-font-glyph-twitter:before { content: '\e802'; }
.aa_icon-font-glyph-gplus:before { content: '\e803'; }
.aa_icon-font-up-open-big:before { content: '\e804'; }
.aa_icon-font-glyph-hatena:before { content: '\e805'; }
.aa_icon-font-text-cat:before { content: '\e806'; }
.aa_icon-font-glyph-pocket:before { content: '\e807'; }
.aa_icon-font-glyph-rss:before { content: '\e808'; }
.aa_icon-font-arrow-down:before { content: '\e809'; }
.aa_icon-font-arrow-left:before { content: '\e80a'; }
.aa_icon-font-arrow-up:before { content: '\e80b'; }
.aa_icon-font-cart:before { content: '\e80d'; }

.aa_icon-font:hover {
    text-decoration: none;
}
/* ie7 */
.ie7 [class^='aa_icon-font-'],
.ie7 [class*=' aa_icon-font-'] {
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
}
.ie7 .aa_icon-font-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.ie7 .aa_icon-font-glyph-facebook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.ie7 .aa_icon-font-glyph-twitter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.ie7 .aa_icon-font-glyph-gplus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }
.ie7 .aa_icon-font-up-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
.ie7 .aa_icon-font-glyph-hatena { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
.ie7 .aa_icon-font-text-cat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }
.ie7 .aa_icon-font-glyph-pocket { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;'); }
.ie7 .aa_icon-font-glyph-rss { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;'); }
.ie7 .aa_icon-font-arrow-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;'); }
.ie7 .aa_icon-font-arrow-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;'); }
.ie7 .aa_icon-font-arrow-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;'); }
.ie7 .aa_icon-font-cart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80d;&nbsp;'); }

/*----------------------------------------------------
 ベースレイアウト
----------------------------------------------------*/
.aa_layout-inner {
    position: relative;
    width: 1058px;
    margin: 0 auto;
}
.aa_container {
    position: relative;
}
.aa_content {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.aa_content > .aa_layout-inner {
    padding: 12px 0;
}
.aa_content-inner {
    position: relative;
    padding-top: 7px;
}
.aa_content-main {
    float: left;
    width: 697px;
}
.aa_content-side {
    float: right;
    width: 336px;
}
.aa_main {
    margin-bottom: 20px;
}

/*----------------------------------------------------
 汎用ブロック
----------------------------------------------------*/
/* 共通 */
.aa_rec-box {
    max-width: 336px;
    text-align: center;
}
.aa_rec-box > div,
.aa_rec-box > iframe,
.aa_rec-box > span,
.aa_rec-box > ins,
.aa_rec-box > img {
    display: inline-block;
    text-align: left;
}
.aa_rec-box > img {
    display: block;
    max-width: 336px;
    height: auto;
    margin: 0 auto;
}
.aa_rec-box-narrow {
    max-width: 300px;
    text-align: center;
}
/* グリッド */
.aa_grid-free,
.aa_grid-2col,
.aa_grid-3col,
.aa_grid-4col,
.aa_grid-5col {
    letter-spacing: -0.4em;
    font-size: 0;
}
.aa_grid-free-item,
.aa_grid-2col-item,
.aa_grid-3col-item,
.aa_grid-4col-item,
.aa_grid-5col-item {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 3.4%;
    vertical-align: top;
    letter-spacing: normal;
    font-size: 16px;
    *display: inline;
    *zoom: 1;
}
.aa_grid-2col .aa_grid-2col-item {
    width: 48.3%;
}
.aa_grid-2col .aa_grid-2col-item:nth-child(2n) {
    margin-right: 0 !important;
}
.aa_grid-3col .aa_grid-3col-item {
    width: 31%;
}
.aa_grid-3col .aa_grid-3col-item:nth-child(3n) {
    margin-right: 0 !important;
}
.aa_grid-4col .aa_grid-4col-item {
    width: 22.4%;
}
.aa_grid-4col .aa_grid-4col-item:nth-child(4n) {
    margin-right: 0 !important;
}
.aa_grid-5col .aa_grid-5col-item {
    width: 17.2%;
}
.aa_grid-5col .aa_grid-5col-item:nth-child(5n) {
    margin-right: 0 !important;
}
.aa_grid-free .aa_grid-free-item:last-child {
    margin-right: 0 !important;
}
.aa_grid-free .size1of3 {
    width: 31%;
}
.aa_grid-free .size2of3 {
    width: 62%;
}
.aa_grid-no-gutter .aa_grid-2col-item {
    width: 50%;
    margin-right: 0;
}
.aa_grid-no-gutter .aa_grid-3col-item {
    width: 33%;
    margin-right: 0;
}
.aa_grid-no-gutter .aa_grid-3col-item:nth-child(3n) {
    width: 34%;
}
/* ltIE9 fix */
.lt-ie9 .aa_grid-free-item,
.lt-ie9 .aa_grid-2col-item,
.lt-ie9 .aa_grid-3col-item,
.lt-ie9 .aa_grid-4col-item {
    margin-right: 0;
} 
/* 数値 */
.aa_number-count {
    position: relative;
    top: 1px;
    padding: 0 3px;
    font-size: 15px;
    font-weight: bold;
    color: #c00;
}
/* ラベル */
.aa_media-category {
    background: #d6d6d6;
    line-height: 1;
}
.aa_media-category .aa_icon-font-text-cat {
    color: #fff;
}
/* ラベル */
.aa_media-category {
    background: #d6d6d6;
    line-height: 1;
}
.aa_media-category .aa_icon-font-text-cat {
    color: #fff;
    font-size: 16px;
}
.aa_media-category.no-bg {
    padding: 0;
    background: none;
}
.aa_media-category.no-bg .aa_icon-font-text-cat {
    color: #999;
}
/* メインカラム */
.aa_main-block {
    margin-bottom: 20px;
}
.aa_main-section {
    border-top: 1px solid #dbdbcf;
    margin-bottom: 20px;
}
.aa_main-section-heading {
    position: relative;
    margin-bottom: 5px;
    padding: 10px 0;
}
.aa_main-section-heading .aa_icon-font-text-cat {
    position: absolute;
    top: 10px;
    right: 5px;
}
.aa_main-section-heading-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.aa_main-section-heading-title a {
    color: #000;
}
.aa_main-section-heading-shoulder {
    float: right;
    overflow: hidden;
    position: relative;
    top: 0.3em;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
.aa_main-section-heading-date {
    display: inline-block;
    margin-left: 12px;
    font-size: 13px;
    color: #666;
}
/* サイドカラム*/
.aa_side-section {
    margin: 0 0 20px;
}
.aa_side-section .aa_side-section {
    margin-bottom: 0;
}

/*----------------------------------------------------
 共通モジュール
----------------------------------------------------*/
/* link */
.aa_link-has-triangle-left {
    display: inline-block;
    position: relative;
    padding-left: 12px;
}
.aa_link-has-triangle-left:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.4em;
    left: 0;
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent #c00;
    width: 0;
    height: 0;
}
/* tag */
.aa_tag-list li:last-child {
    margin-right: 0;
}
.aa_tag-list a {
    display: block;
    text-align: center;
}
.aa_tag-list-type1 a {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 2px 9px;
    font-size: 12px;
    color: #1e1e1e;
}
.aa_tag-list-type2 a {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 12px;
    color: #1e1e1e;
}
.aa_tag-list-type2 a:hover {
    color: #fff;
    background: #000;
}
/* ガイドサムネイル */
.aa_guide-thumb-round {
    display: block;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    line-height: 1;
}
.aa_guide-thumb-round img {
    width: 100%;
    height: auto;
}
/* クレジット表記：提供者名＋ロゴ */
.aa_credit {
    line-height: 1.2;
    color: #666;
}
.aa_credit img {
    vertical-align: top;
}
.aa_credit-name {
    margin-right: 8px;
    font-size: 12px;
}
/* SNSアイコン */
.aa_pict-sns {
    text-align: center;
    color: #fff;
}
.aa_pict-sns-facebook {
    background: #315096;
}
.aa_pict-sns-twitter {
    background: #55acee;
}
.aa_pict-sns-gplus {
    background: #dd4b39;
}
.aa_pict-sns-hatena {
    background: #008fde;
}
.aa_pict-sns-pocket {
    background: #ee4257;
}

/* main-content */
.aa_main-content-desc {
    margin: 10px 0;
    font-size: 14px;
}

/*----------------------------------------------------
 main-content
----------------------------------------------------*/
/* header */
.aa_main-content-header {
    border-top: 4px solid #c00;
    padding: 10px 0 20px;
}
.aa_main-content-header .aa_icon-font-glyph-rss:before {
    color: #ff8c00;
}
.aa_main-content-header-left {
    float: left;
    width: 517px;
    padding-right: 10px;
}
.aa_main-content-header-right {
    float: right;
    width: 170px;
}
.aa_main-content-header-guide-list-link a {
    position: relative;
    padding-left: 12px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
.aa_main-content-header-guide-list-link a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #c00 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 5px;
}
.aa_main-content-header-guide {
    margin-top: 10px;
    text-align: center;
}
.aa_main-content-header-guide-thumb {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
.aa_main-content-header-guide-name {
    font-size: 13px;
}
.aa_main-content-header-catch {
    margin: 10px 0;
    font-size: 13px;
}
.aa_main-content-header-shoulder {
    float: right;
    overflow: hidden;
    padding-top: 5px;
    font-size: 13px;
}
.aa_main-content-header-title-wrap {
    overflow: hidden;
    line-height: 1.3;
}
.aa_main-content-header-title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}
.aa_main-content-header-lead {
    margin-top: 12px;
    font-size: 13px;
}
.aa_main-content-header .aa_credit {
    margin-top: 10px;
}
/* ページカウント */
.aa_title-pagecount {
    padding-left: 7px;
    font-weight: normal;
    font-size: 20px;   
}
.aa_title-pagecount:empty {
    display: none;
}

/*----------------------------------------------------
 リンクリスト
----------------------------------------------------*/
.aa_link-list-item {
    margin-bottom: 12px;
    font-size: 15px;
}
.aa_content-side .aa_link-list-item {
    font-size: 13px;
}
.aa_content-main .aa_link-list.has-grid .aa_link-list-item,
.aa_content-main .aa_link-list.aa_grid-2col .aa_link-list-item,
.aa_content-main .aa_link-list.aa_grid-3col .aa_link-list-item,
.aa_content-main .aa_link-list.aa_grid-4col .aa_link-list-item {
    font-size: 13px;
}
.aa_link-list-item:last-child {
    margin-bottom: 0;
}
.aa_link-list.has-grid .aa_link-list-item:not(.aa_grid-2col-item),
.aa_link-list.has-grid .aa_link-list-item:not(.aa_grid-3col-item),
.aa_link-list.has-grid .aa_link-list-item:not(.aa_grid-4col-item) {
    margin: 0 20px 8px 0;
}
.aa_link-list-order {
    font-size: 15px;
}
.aa_link-list-order-item {
    position: relative;
    min-height: 25px;
    padding-left: 35px;
}
.aa_link-list-order-num {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    color: #fff;
    background: #c00;
}

/*----------------------------------------------------
 ヘッダー
----------------------------------------------------*/
.aa_header {
    border-top: 4px solid #c00;
}
.aa_header-inner {
    padding: 12px 0;
}
.aa_header-site-id {
    float: left;
    width: 578px;
    padding-top: 6px;
}
.aa_header-logo {
    float: left;
}
.aa_header-category {
    float: left;
    margin-left: 16px;
    font-size: 22px;
}
.aa_header-category-link {
    font-weight: bold;
    line-height: 1;
    color: #1e1e1e;
}
.aa_header-category-link:hover {
    text-decoration: none;
}
/* サイト内検索 */
.aa_header-search {
    float: right;
    position: relative;
    width: 480px;
}
.aa_header-search-input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    width: 480px;
    height: 40px;
    padding: 0 50px 0 16px;
    font-size: 15px;
    line-height: 40px;
    background: #fff;

    -webkit-appearance: none;
}
.aa_header-search-input:focus {
    outline: none;
}
.aa_header-search-input::-webkit-input-placeholder {
    color: #b4b4b4;
}
.aa_header-search-input:-moz-placeholder {
    color: #b4b4b4;
}
.aa_header-search-input::-moz-placeholder {
    color: #b4b4b4;
}
.aa_header-search-input:-ms-input-placeholder {
    color: #b4b4b4;
}
.aa_header-search .aa_icon-font-search {
    position: absolute;
    top: 4px;
    right: 14px;
    z-index: 10;
    font-size: 19px;
}
.aa_header-search-submit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    border: none;
    width: 50px;
    height: 40px;
    text-indent: -9999px;
    background: none;
}
.aa_header-search-submit:hover + .aa_icon-font-search,
.aa_header-search-submit:focus + .aa_icon-font-search {
    opacity: 0.8;
    outline: none;
}

/*----------------------------------------------------
 グローバルナビ
----------------------------------------------------*/
.aa_menu {
    background: #c00;
}
.aa_menu-list {
    padding-top: 7px;
}
.aa_menu-list-item a {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 7px 8px 0;
    font-size: 12px;
    line-height: 1;
    color: #fff;
}
.aa_menu-list-item:hover a,
.aa_menu-list-item.current a {
    text-decoration: none;
    font-weight: bold;
    color: #1e1e1e;
    background: #fff;
}

/*----------------------------------------------------
 パンくず
----------------------------------------------------*/
.aa_breadcrumb {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;
}
.aa_breadcrumb a {
    display: block;
    position: relative;
    margin-right: 8px;
    padding-right: 17px;
    font-weight: normal;
    color: #1e1e1e;
}
.aa_breadcrumb a:after {
    content: '>';
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    color: #999;
    -webkit-transform: scaleX(0.6);
    -ms-transform: scaleX(0.6);
    transform: scaleX(0.6);
}

/*----------------------------------------------------
 コンテンツ：上部
----------------------------------------------------*/
.aa_area-content-top {
    margin-bottom: 10px;
}

/*----------------------------------------------------
 コンテンツ：main上部
----------------------------------------------------*/
.aa_area-above-main .aa_box {
    margin-bottom: 10px;
}

/*----------------------------------------------------
 コンテンツ下部
----------------------------------------------------*/
.aa_content-bottom {
    border-top: 1px solid #dbdbcf;
    padding: 0 0;
    margin: -1px 0;
}
.aa_bottom-section-heading {
    position: relative;
    padding: 20px 0;
}
.aa_bottom-section-heading-title {
    font-size: 18px;
    font-weight: bold;
}

/*----------------------------------------------------
 ページネーション
----------------------------------------------------*/
.aa_pagination {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 70px;
    padding: 11px 3px;
    text-align: center;
    background: #efefe0;
    margin: 10px 0;
}
.aa_pagination-direction {
    width: 148px;
    height: 40px;
}
.aa_pagination-direction-prev {
    margin-right: 9px;
    text-align: left;
}
.aa_pagination-direction-next {
    margin-left: 9px;
    text-align: right;
    font-weight: bold;
}
.aa_pagination-direction-link {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    line-height: 50px;
    background: #fff;
}
.aa_pagination-direction-link:hover {
    text-decoration: none;
}
.aa_pagination-direction-prev .aa_pagination-direction-link {
    padding-left: 33px;
    color: #1e1e1e;
    background: #fff;
}
.aa_pagination-direction-next .aa_pagination-direction-link {
    padding-right: 30px;
    color: #fff;
    background: #c00;
}
.aa_pagination-direction-prev .aa_pagination-direction-link:after {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: 15px;
    border-top: 3px solid #1e1e1e;
    border-left: 3px solid #1e1e1e;
    width: 8px;
    height: 8px;
    line-height: 1;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    -ms-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
}
.aa_pagination-direction-next .aa_pagination-direction-link:after {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    right: 15px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    width: 8px;
    height: 8px;
    line-height: 1;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}
.aa_pagination-number {
    display: block;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 10px 4px 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #1e1e1e;
}
.aa_pagination-number-link {
    margin: 10px 5px 0;
    background: #fff;
}
.aa_pagination-number-link:hover {
    text-decoration: none;
    color: #999;
}
.aa_pagination-number.current {
    margin: 10px 8px 0;
    font-weight: bold;
    color: #c00;
}

/*----------------------------------------------------
 ボトムコンテンツ
----------------------------------------------------*/
.aa_content-credit {
    clear: both;
    text-align: right;
    font-size: 12px;
    color: #666;
}
.aa_pagetop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    width: 87px;
    height: 87px;
}
.aa_pagetop-link {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    color: #fff;
    background: #c00;
}
.aa_pagetop-link:hover {
    text-decoration: none;
}
.aa_pagetop-link .aa_icon-font-up-open-big {
    position: absolute;
    top: 15px;
    left: 19px;
    font-size: 35px;
    color: #fff;
}

/*----------------------------------------------------
 フッター
----------------------------------------------------*/
.aa_footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background: #efefe0;
}
.aa_footer-content-left {
    float: left;
    width: 400px;
    margin-bottom: 25px;
}
.aa_footer-content-right {
    overflow: hidden;
    margin-bottom: 25px;
    padding-left: 60px;
}
.aa_footer-fbwidget {
    margin-bottom: 10px;
}
.aa_footer-sns {
    margin-bottom: 5px;
}
.aa_footer-sns-item {
    margin-right: 6px;
}
.aa_footer-sns-item:last-child {
    margin-right: 0;
}
.aa_footer-sns-rss {
    display: block;
    border-radius: 4px;
    width: 85px;
    height: 26px;
    padding-left: 3px;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    color: #fff;
    background: #ff8c00;
}
.aa_footer-sns-rss .aa_icon-font-glyph-rss:before {
    margin-right: 3px;
    color: #fff;
}
.aa_footer-sns-rss:hover {
    text-decoration: none;
}
.aa_footer-link .aa_link-list-item {
    vertical-align: middle;
    margin: 0 20px 0 0;
    font-size: 12px;
    font-weight: bold;
}
.aa_footer-link .aa_link-has-triangle-left {
    padding-left: 9px;
}
.aa_footer-survey {
    border: 1px solid #dbdbcf;
    padding: 13px;
    font-size: 12px;
}
.aa_footer-survey-title {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}
.aa_footer-link-list {
    margin-bottom: 10px;
}
.aa_footer-link-list li {
    margin-right: 20px;
}
.aa_footer-link-list a {
    font-size: 13px;
    font-weight: bold;
}
.aa_footer-menu-col {
    float: left;
    width: 150px;
    padding-right: 20px;
}
.aa_footer-menu-col:nth-child(2) {
    width: 190px;
    padding-right: 20px;
}
.aa_footer-menu-col:nth-child(3) {
    overflow: hidden;
}

.aa_footer-menu-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

.aa_footer-menu-h-title {
    margin: 0 auto 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.aa_footer-menu-list {
    font-size: 12px;
}
.aa_footer-menu-list li {
    margin-bottom: 5px;
}
.aa_footer-menu-list a {
    color: #1e1e1e;
}
.aa_footer-menu-title ~ .aa_footer-menu-title {
    margin-top: 20px;
}
.aa_footer-content-bottom {
    clear: both;
}
.aa_footer-device {
    font-size: 12px;
    text-align: center;
}
.aa_footer-device-pc {
    font-weight: bold;
}
.aa_footer-device-pc:after {
    content: "｜";
}
.aa_footer-util {
    border-top: 1px solid #dbdbcf;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
}

.aa_footer-util-main {
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
}

.aa_footer-util-item {
    margin: 0 15px;
}
.aa_footer-util-item a {
    color: #1e1e1e;
}
.aa_footer-copyright {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
    color: #666;
    padding: 7px 0px 0px;
}

/* footer：sns */
.aa_footer-sns-v002 {
    margin: 20px 0;
}
.aa_footer-sns-v002 li {
    margin-right: 10px;
    line-height: 45px;
}
.aa_footer-sns-v002 li a {
    display: block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.aa_footer-sns-v002 .aa_pict-sns-facebook {font-size: 18px;}
.aa_footer-sns-v002 .aa_pict-sns-twitter {font-size: 18px;}
.aa_footer-sns-v002 .aa_pict-sns-gplus {font-size: 28px;}
.aa_footer-sns-v002 .aa_pict-sns-rss {
    background: #ff8c00;
    font-size: 18px;
}
.aa_footer-sns-v002 .aa_icon-font-glyph-facebook:before {
    margin: 10px 0 0 2px;
}
.aa_footer-sns-v002 .aa_icon-font-glyph-twitter:before {
    margin: 11px 0 0 2px;
}
.aa_footer-sns-v002 .aa_icon-font-glyph-gplus:before {
    margin: 0 6px 0 0;
}
.aa_footer-sns-v002 .aa_icon-font-glyph-rss:before {
    margin: 0 0 0 3px;
    color: #fff;
}

/*----------------------------------------------------
HOME配下(領域)で使用したfooter_css
----------------------------------------------------*/
/* footer */
.aa_footer-bgcolor {
    background: #efefe0;
    padding: 0 0 22px 0;
}

.aa_footer-note {
    position: relative;
    margin-top: 22px;
    font-size: 12px;
}

/* ブランドコンテンツ枠 */
.aa_footer-content {
    font-size: 100%;
    margin: 0;
}

/* bg付カラム */
.aa_footer-bgcolor-box {
    padding: 30px 0 8px;
    background: #f9f9ed;
}

.has-grid .has-grid-item {/* has-grid直下にhas-grid-itemがなくても効くようにする */
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
/* お知らせ枠・新着記事枠 */
.aa_footer-service .aa_footer-heading {
    margin: 0 auto 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

/* サービス一覧 */
.aa_footer-service-list {margin-bottom: 12px;}/* 上下padding合計22pxにするため */
.aa_footer-service-list a {
    color: #1e1e1e;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

/* メインの記事リスト */
.aa_footer-list-border-top {
    padding-top: 22px;
    border-top: 1px solid #dbdbcf;
}

.aa_footer-heading {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 38px;
}

/* base */
.aa_footer-layout-inner {
    position: relative;
    width: 1058px;
    margin: 0 auto;
}

/* 公式SNS・メルマガ登録 */
.aa_footer-common-info .aa_footer-heading {
    margin: 0 auto;
    font-size: 30px;
}
.aa_footer-common-info .aa_footer-heading-shoulder {
    margin-bottom: 20px;
    font-size: 13px;
}
.aa_footer-common-info {margin-bottom: 22px;}
.aa_footer-common-info .aa_grid-2col-item {padding: 10px 0;}
.aa_footer-common-info .aa_grid-2col-item:nth-child(2n) {border-left: 1px solid #dbdbcf;}

/* 公式SNSボタン */
.aa_footer-common-info-sns {margin-bottom: 20px;}
.aa_footer-common-info-melmaga {margin-bottom: 10px;}
.aa_footer-common-info-notes {
    margin-bottom: 20px;
    font-size: 11px;
    color: #666;
}
.aa_footer-common-info-sns-item {
    margin-left: 12px;
    line-height: 45px;
}
.aa_footer-common-info-sns-item a {
    display: block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.aa_footer-common-info-sns-item .aa_pict-sns-facebook {font-size: 17px;}
.aa_footer-common-info-sns-item .aa_pict-sns-twitter {font-size: 16px;}
.aa_footer-common-info-sns-item .aa_pict-sns-gplus {font-size: 24px;}
.aa_footer-common-info-sns-item .aa_pict-sns-rss {
    background: #ff8c00;
    font-size: 15px;
}

/* メルマガ登録フォーム */
.aa_footer-common-info-melmaga-form-input {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 295px;
    height: 45px;
    line-height: 45px;
    outline: none;
    padding-left: 10px;
    margin-right: 5px;
}
.aa_footer-common-info-melmaga-form-input:placeholder-shown {
    color: #b4b4b4;
}
/* Google Chrome, Safari, Opera 15+ */
.aa_footer-common-info-melmaga-form-input::-webkit-input-placeholder {
    color: #b4b4b4;
}
/* Firefox 18- */
.aa_footer-common-info-melmaga-form-input:-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
}
/* Firefox 19+ */
.aa_footer-common-info-melmaga-form-input::-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
}
/* IE 10+ */
.aa_footer-common-info-melmaga-form-input:-ms-input-placeholder {
    color: #b4b4b4;
}
/* IE Edge */
.aa_footer-common-info-melmaga-form-input::-ms-input-placeholder {
    color: #b4b4b4;
}
.aa_footer-common-info-melmaga-form-submit {
    background: #c00;
    border-radius: 2px;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 75px;
    height: 45px;
    line-height: 40px;
    outline: none;
}
.aa_footer-common-info-melmaga-form-submit:hover {
    opacity:0.7;
    filter:alpha(opacity=70);
}


/*----------------------------------------------------
 メディア
----------------------------------------------------*/
.aa_media {
    position: relative;
    margin-bottom: 20px;
}
.aa_media-heading-has-date {
    position: relative;
    padding: 0 10em 0 0 ;
}
.aa_media-heading-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 10em;
    text-align: right;
    font-size: 13px;
    color: #999;
}
.aa_media-attachment {
    padding: 3px 0 5px;
}
.aa_media-attachment.has-thumbnail-margin {
    margin-left: 120px;
    padding-left: 2.5%;
}
.aa_media-text .aa_media-attachment {
    padding: 0;
}
.aa_media-guide {
    position: relative;
    top: -0.1em;
    font-size: 13px;
}
.aa_media-guide-thumb {
    display: inline-block;
    border-width: 2px;
    width: 18px;
    height: 18px;
}
.aa_media-guide-name {
    display: inline-block;
    position: relative;
    top: 0.1em;
    padding-left: 3px;
    vertical-align: top;
}
.aa_media-article-category + .aa_media-guide {
    padding-left: 12px;
}
.aa_media-thumb {
    position:relative;
    float: left;
    margin-right: 2.5%;
}
.aa_media-thumb img {
    display: block;
}
.aa_media-text {
    overflow: hidden;
    position: relative;
    font-size: 13px;
}
.aa_media-text .aa_media-category {
    display: block;
    text-align: right;
}
.aa_media-title {
    margin-bottom: 5px;
}
.aa_media-title-l {
    margin-bottom: 5px;
    font-size: 15px;
}
.aa_media-article-category {
    display: inline-block;
    margin-bottom: 5px;
    padding: 1px 6px;
    font-size: 11px;
    color: #fff;
}
/* full：サイズ大 */
.aa_media-l {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
.aa_media-l .aa_media-title-l {
    font-size: 16px;
}
/* テキスト左 + サムネイル右 */
.aa_media-reverse .aa_media-thumb {
    float: right;
    margin-right: 0;
    margin-left: 2.5%;
}
.aa_media-reverse .aa_media-text {
    overflow: hidden;
    font-size: 13px;
    color: #1e1e1e;
}
/* ボーダーあり */
.aa_media-border {
    margin-bottom: 0;
    padding: 10px 0;
    border-bottom: 1px solid #efefe0;
}
/* セクション */
.aa_media-section ~ .aa_media-section {
    border-top: 1px dashed #dbdbcf;
    padding-top: 12px;
}
.aa_media-section-title {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}
/* ソーシャル */
.aa_media-service-list {
    text-align: right;
}
.aa_media-service-list li {
    margin-right: 10px;
    line-height: 1;
}
.aa_media-service-list li:last-child {
    margin-right: 0;
}
.aa_media-service-list .sbset_googleplus {
    width: 80px !important;
    overflow: hidden;
}
.aa_media-reverse .aa_media-service-list {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
}
.aa_media-border .aa_media-service-list {
    bottom: 10px;
}
/* 記事リストリンク */
.aa_media-field {
    margin-right: 300px;
    font-size: 13px;
}
/* 特集GL等　サムネ＋記事リンクブロック */
.aa_media-guide-text {
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    top: -5px;
}
.aa_media-text + .aa_media-attachemnt {
    padding-top: 10px;
    clear: both;
}

/*----------------------------------------------------
 メディア 縦型
----------------------------------------------------*/
.aa_media-vertical {
    margin-bottom: 20px;
}
.aa_media-vertical-thumb {
    position: relative;
    margin-bottom: 8px;
}
.aa_media-vertical-thumb .aa_media-category {
    position: absolute;
    top: 0;
    right: 0;
}
.aa_media-vertical-text {
    position: relative;
    min-height: 4em;
    line-height: 1.3;
}
.aa_media-vertical-title {
    font-size: 15px;
}
.aa_media-vertical-text .aa_media-category {
    display: block;
    text-align: right;
}

/*----------------------------------------------------
 frame manager
----------------------------------------------------*/
.aa_frame-section .inner-box {
    padding: 0 10px;
}
.aa_frame-section .aa_media {
    margin-bottom: 10px;
}
.aa_frame-section .aa_media-title {
    overflow: hidden;
    font-size: 14px;
}
.aa_frame-section.free + .aa_frame-section.free {
    margin-top: 20px;
}
.aa_frame-section.free + .aa_side-section {
    margin-top: 20px;
}

/*----------------------------------------------------
 記事リストパーツ (特集gt：article1, 2)
----------------------------------------------------*/
.aa_mod-feature-list .aa_main-section {
    border-top: 2px solid #c00;
}
.aa_mod-feature-list-text {
    font-size: 13px;
    margin-bottom: 15px;
}
.aa_mod-feature-list .footer-link {
    margin-top: 10px;
    text-align: right;
    font-size: 14px;
}

/*----------------------------------------------------
 サイドカラム
----------------------------------------------------*/
.aa_content-side {
    font-size: 13px;
}
.aa_side-section-heading {
    position: relative;
    margin-bottom: 10px;
    padding: 8px 10px;
    background: #dbdbcf;
}
.aa_side-section-heading-title {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.aa_side-section-heading-shoulder {
    float: right;
    overflow: hidden;
    position: relative;
    top: 0.1em;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.aa_side-section-heading-link img {
    vertical-align: top;
}
.aa_side-section-credit {
    position: relative;
    bottom: -6px;
    margin-top: 8px;
    line-height: 1.2;
}
.aa_side-section-credit-name {
    margin-right: 10px;
    font-size: 12px;
    color: #666;
}
.aa_side-section-credit img {
    vertical-align: top;
}
/* 周囲に余白 */
.aa_side-section-inner {
    padding: 0 10px;
}
/* 周囲に余白＋ボーダー */
.aa_side-border-box {
    border: 1px solid #dbdbcf;
    padding: 16px 10px;
}
.aa_side-border-box-title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
/* タグ */
.aa_side-tag-list li {
    margin-right: 14px;
    margin-bottom: 10px;
}

/*----------------------------------------------------
 サイドカラム：楽天ウィジェット
----------------------------------------------------*/
.aa_side-rakuten-search {
    border: 1px solid #dbdbcf;
    border-bottom: none;
    padding: 8px 8px 12px;
}
.aa_side-rakuten-search-title {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}
.aa_side-rakuten-search-input {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f11;
    width: 218px;
    height: 28px;
    padding: 5px;
}
.aa_side-rakuten-search-input::-webkit-input-placeholder {
    color: #b4b4b4;
}
.aa_side-rakuten-search-input:-moz-placeholder {
    color: #b4b4b4;
}
.aa_side-rakuten-search-input::-moz-placeholder {
    color: #b4b4b4;
}
.aa_side-rakuten-search-input:-ms-input-placeholder {
    color: #b4b4b4;
}
.aa_side-rakuten-search-submit {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 55px;
    height: 28px;
    margin-left: 8px;
    padding: 0 12px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    background: #f11;;
}

/*----------------------------------------------------
 サイドカラム：メニュー
----------------------------------------------------*/
.side-menu-box {
    font-size: 15px;
}
.side-menu-box a {
    color: #1e1e1e;
}
.side-menu-box .title-link {
    border-bottom: #fff;
    padding: 5px 0;
    background: #dbdbcf;
}
.side-menu-box  .title-link span {
    display: block;
    border-left: 10px solid #c00;
    padding: 1px 3px 1px 7px;
    font-weight: bold;
}
.side-menu-box　.title-link span a {
    font-weight: bold;
    color: #404040;
}
.side-menu-box　.title-link span a:hover {
    text-decoration: underline;
}
.side-menu-box　.title-link a:hover span {
    text-decoration: underline;
}
.side-menu-box .menu-list li {
    display: block;
    border-bottom: 1px solid #fff;
    width: 100%;
}
.side-menu-box .menu-list li a {
    display: block;
    border-top: 1px solid #fff;
    padding: 8px 5px 8px 10px;
    font-size: 14px;
    line-height: 1.6;
    background: #efefe0;
}
.side-menu-box .menu-list li a:hover {
    background: #fbfbec;
}
.side-menu-box .menu-list li .selected {
    background: #fbfbec;
}
.side-menu-box .menu-list li .item {
    width: 261px;
}
.side-menu-box .selected {
    font-weight: bold;
    color: #404040;
    background-color: #fff;
}
.menu-list .list-link-icon {
    display: inline-block;
    width: 14px;
    height: 18px;
    margin-top: 2px;
    margin-right: 7px;
    vertical-align: top;
    word-spacing: normal;
    background: url(//img.aacdn.jp/allabout/common/icon-sprite.png) no-repeat 0 0;
    background-position: -219px -32px;
}
.side-menu-box .menu-list li {
    letter-spacing: normal;
}

/*----------------------------------------------------
 サイドカラム：ガイドスライダー
----------------------------------------------------*/
/* ガイド紹介ボックス */
.right-guide-slider {
    position: relative;
    font-size: 13px;
}
.right-guide-slider .scrollable {
    position:relative;
    overflow:hidden;
    width: 296px;
    margin: 0px 20px;
    height: 145px;
}
.right-guide-slider .scrollable .items {
    width:20000em;
    position:absolute;
}
.right-guide-slider .inner-box {
    position: relative;
}
.right-guide-slider .inner-box .main {
    height: 138px;
    width: 296px;
    margin: 0px;
    padding: 0 0px 7px;
    text-align: left;
}
.right-guide-slider .guide-info {width: 190px; margin-right: 10px;}
.right-guide-slider .guide-info .title {
    margin-bottom: 3px;
}
.right-guide-slider .guide-info .title a {font-weight: bold;}
.right-guide-slider .guide-info .name { margin-bottom: 7px;}
.right-guide-slider .guide-info .name span {
    border-radius: 4px;
    margin-right: 5px;
    padding: 2px 4px;
    font-size: 11px;
    color: #fff;
    background: #c00;
}
.right-guide-slider .inner-box .guide-info .career {margin-bottom: 5px; font-size: 12px;}
.right-guide-slider .inner-box .thumb {
    width: 82px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
}
.right-guide-slider .inner-box .thumb img {
    width: 100%;
    height: auto;
}
.right-guide-slider .inner-box .previous-wrap {
    position: absolute;
    height: 165px;
    width: 18px;
    left: 0;
    top: 0;
}
.right-guide-slider .inner-box .next-wrap {
    position: absolute;
    height: 165px;
    width: 18px;
    right: 0;
    top: 0;
}
.right-guide-slider .inner-box .previous-wrap a {
    display: block;
    height: 100%;
    width: 18px;
}
.right-guide-slider .inner-box .next-wrap a {
    display: block;
    height: 100%;
    width: 18px;
}
.right-guide-slider .previous-cursor,
.right-guide-slider .next-cursor {
    display: block;
    position: absolute;
    top: 58px;
    text-indent: -9999px;
}
.right-guide-slider .previous-cursor {
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #c00 transparent transparent;
}
.right-guide-slider .next-cursor {
    right: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #c00;
}

/*----------------------------------------------------
 ボタン
----------------------------------------------------*/
.aa_btn-rect {
    display: block;
    border: 1px solid #dbdbcf;
    padding: 8px 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    background: #efefe0;
}
.aa_btn-rect:hover {
    text-decoration: none;
    background: #fbfbec;
}

/*----------------------------------------------------
 カテゴリーラベル
----------------------------------------------------*/
/* 記事種別 */
.kind-article-label {
    background: #ee4460;
}
.qa-article-label {
    background: #5f9bb8;
}
.matome-article-label {
    background: #57b562;
}
.feature-article-label {
    background: #f58326;
}
.feature-red-article-label {
    background: #e52c27;
}
.ad-article-label {
    background: #d6d6d6;
}
.jiji-article-label,
.dig-article-label {
    background: #3e5d9e;
}

/*----------------------------------------------------
 特集戻り導線
----------------------------------------------------*/
.aa_feature-banner-wrap {
    top: 0;
    width: 100%;
    background: #fff;
}
.aa_feature-banner {
    display: block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding: 12px 0;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
}
.aa_feature-banner:after {
    content: '';
    display: block;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 120px;
    background: #000;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.aa_feature-banner > .aa_layout-inner {
    z-index: 20;
}
.aa_feature-banner-label-running {
    display: block;
    float: left;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 8px;
    margin-right: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    color: #fff;
    background: #c00;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.aa_feature-banner-title-text {
    float: left;
    width: 768px;
    margin-top: 12px;
    line-height: 1.3;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.aa_feature-banner-title-text-inner {
    display: table-cell;
    width: 768px;
    height: 70px;
    vertical-align: middle;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
}
.aa_feature-banner-title-text-sub {
    display: block;
    font-size: 18px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.aa_feature-banner-title-text-main {
    display: block;
    font-size: 36px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.aa_feature-banner-right-img {
    float: right;
    overflow: hidden;
    width: 158px;
    height: 98px;
    margin-left: 15px;
}
.aa_feature-banner-right-img img {
    display: block !important;
    width: 100%;
    height: auto;
}
/* 固定表示時 */
.aa_feature-banner-wrap.is-fixed {
    position: fixed;
    z-index: 20;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner {
    height: 55px;
    padding: 8px 0;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner:after {
    height: 55px;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner-label-running {
    width: 39px;
    height: 39px;
    margin-top: 0;
    margin-right: 8px;
    font-size: 11px;
    line-height: 39px;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner-title-text {
    margin-top: 0;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner-title-text-inner {
    height: 40px;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner-title-text-sub {
    font-size: 11px;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner-title-text-main {
    font-size: 18px;
}
.aa_feature-banner-wrap.is-fixed .aa_feature-banner-right-img {
    display: none;
}

/*----------------------------------------------------
 スポンサードサイト
----------------------------------------------------*/
.aa_ss-list {
    margin-top: 10px;
}
.aa_ss-list-item {
    width: 190px;
    margin: 0 10px 30px;
}
.aa_ss-list-item-thumb {
    width: 60px;
    height: 60px;
    margin: 0 auto 12px;
}
.aa_ss-list-item-text {
    text-align: center;
}
.aa_ss-list-item-genre {
    font-size: 13px;
}
.aa_ss-list-item-guide-name {
    font-size: 13px;
}
.aa_ss-list-item-company-name {
    font-size: 11px;
}
/* paragraph */
.aa_paragraph {
    margin-bottom: 15px;
}
.aa_paragraph-heading {
    padding: 10px 0;
}
.aa_paragraph-heading-title {
    font-weight: bold;
}

/*----------------------------------------------------
 タブ
----------------------------------------------------*/
.aa_tab-content-body {
    padding: 10px 0;
}
.aa_tab-list {
    border-top: 1px solid #dbdbcf;
}
.aa_tab-list-item {
    border-top: 3px solid #c00;
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

/*----------------------------------------------------
 メインガイドスライダー
----------------------------------------------------*/
.aa_main-guide-slider {
    position: relative;
    width: 620px;
    margin: 0 auto;;
}
.aa_main-guide-slider-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
    text-align: center;
    font-size: 13px;
}
.aa_main-guide-slider-thumb {
    width: 70px;
    height: 70px;
    margin: 0 auto 5px;
}
.guide-scroll-area .container {
    position: relative;
}
.guide-scroll-area .previous-wrap {
    position: absolute;
    left: 0;
    top: 0;
}
.guide-scroll-area .previous-cursor {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 10px 7px 0;
    border-color: transparent #c00 transparent transparent;
}
.guide-scroll-area .next-wrap {
    position: absolute;
    right: 0;
    top: 0;
}
.guide-scroll-area .next-cursor {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #c00;
}

/*----------------------------------------------------
 ローカルメニュー
----------------------------------------------------*/
.aa_local-menu-heading {
    border-bottom: #fff;
    padding: 5px 0;
    background: #dbdbcf;
}
.aa_local-menu-heading-title {
    display: block;
    border-left: 10px solid #c00;
    padding: 1px 3px 1px 7px;
    font-size: 15px;
    font-weight: bold;
}
.aa_local-menu-heading-title a {
    color: #000;
}
.aa_local-menu-list {
    background: #efefe0;
}
.aa_local-menu-list li {
    border-bottom: 1px solid #fff;
    font-size: 14px;
    line-height: 1.3;
    background: #efefe0;
}
.aa_local-menu-list.aa_grid-2col > .aa_local-menu-item:nth-child(odd) {
    border-right: 1px solid #fff;
}
.aa_local-menu-item a {
    display: block;
    height: auto;
    padding: 8px 5px 8px 10px;
    color: #1e1e1e;
}
.aa_local-menu-item a.selected,
.aa_local-menu-item a:hover {
    background: #fbfbec;
}
.aa_local-menu-item .list-link-icon {
    display: inline-block;
    width: 14px;
    height: 18px;
    margin-right: 7px;
    vertical-align: top;
    word-spacing: normal;
    background: url(//img.aacdn.jp/allabout/common/icon-sprite.png) no-repeat 0 0;
    background-position: -219px -32px;
}
/* サイドカラム 2行で崩れないよう調整 */
.aa_content-side .aa_local-menu-item .item {
    display: inline-block;
    width: 290px;
}
/* メインカラム 2行で崩れないよう調整 */
.aa_main-section .aa_local-menu-item.aa_grid-2col-item a {
    display: table-cell;
    width: 332px;
    height: 4em;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
.aa_main-section .aa_local-menu-item.aa_grid-2col-item .item {
    display: inline-block;
    width: 305px;
}

/*----------------------------------------------------
 メインカラム：おすすめ情報
----------------------------------------------------*/
.recommend-info {
    margin-bottom: 20px;
}
.recommend-info .aa_media-thumb img {
    width: 50px;
    height: auto;
}
.recommend-info .aa_main-section {
    margin-bottom: 0;
}
.recommend-info .aa_main-section ~ .aa_main-section {
    border: none;
}
.recommend-info .aa_link-list-item:last-child {
    margin-bottom: 12px;
}
/* 見出しを含むA枠が出力されない場合の余白調整 */
.recommend-info .aa_main-section > .aa_media-list:first-child,
.recommend-info .aa_main-section > .aa_link-list:first-child {
    padding-top: 18px;
}
.recommend-info .aa_main-section ~ .aa_main-section .aa_media-list:first-child,
.recommend-info .aa_main-section ~ .aa_main-section .aa_link-list:first-child {
    padding-top: 0;
}

/*----------------------------------------------------
 ll/** リンクリストページ
----------------------------------------------------*/
.link-list li a {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
}
.link-list .list-link-icon {
    width: 14px;
    height: 18px;
    background-position: -219px -32px;
    margin-right: 7px;
}

/*----------------------------------------------------
 新着ページ
----------------------------------------------------*/
.latest-category-list {
    margin-bottom: 20px;
}

/*----------------------------------------------------
 ランキングページ
----------------------------------------------------*/
.ranking-all-outline {
    margin-bottom: 10px;
    font-size: 14px;
}
/* ページ選択 */
.ranking-select {
    margin-bottom: 20px;
}
.ranking-select li {
    margin-right: 10px;
    font-size: 13px;
}
.ranking-select a {
    position: relative;
    padding-left: 17px;
    font-weight: bold;
}
.ranking-select-arw {
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 2px;
    background: #ddd;
}
.ranking-select-arw.current {
    background: #c00;
}
.ranking-select-arw:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 6px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}
.ranking-select-arw.current:after {
    border-style: solid;
    border-width: 6px 3px 0 3px;
    border-color: #fff transparent transparent transparent;
    left: 3px;
}
/* リスト */
.aa_media-list-ranking .ranking-icon {
    width: 36px;
    height: 32px;
    margin-right: 7px;
    text-indent: -9999px;
}
.aa_media-list-ranking .ranking-title-text {
    position: relative;
    top: 8px;
}
.no1-icon {
    background-position: -388px -213px;
}
.no2-icon {
    background-position: -448px -213px;
}
.no3-icon {
    background-position: -507px -213px;
}
.ranking-no {
    color: #c00;
    font-size: 25px;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 2px;
}
.ranking-no-small {
    color: #c00;
    margin-right: 8px;
    margin-top: 14px;
    font-size: 13px;
}
/* カテゴリ別ランキング一覧 */
.ranking-category .category-title {
    display: block;
    padding: 5px 7px 4px;
    margin-bottom: 7px;
    background-color: #ffebec;
    font-size: 14px;
    font-weight: bold;
}
.ranking-category .category-title .icon-more {
    width: 10px;
    height: 15px;
    margin-left: 10px;
    background: transparent url(//img.aacdn.jp/allabout/common/icon-sprite.png) no-repeat 0 0;
    background-position: -30px 6px;
}
.ranking-category-item {
    margin-bottom: 20px;
}
.ranking-category-item .text {
    width: 200px;
    margin-right: 10px;
    font-size: 13px;
}
.ranking-category h4 {
    margin-bottom: 10px;
}
.ranking-category h4 .item {
    width: 160px;
    font-weight: bold;
}


/*----------------------------------------------------
 共通スタイル：引継ぎ
----------------------------------------------------*/
.ico {
    display: inline-block;
    background-image: url(//img.aacdn.jp/allabout/common/icon-sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
}
.blue-arrow {
    width: 7px;
    height: 14px;
    background-position: -60px 1px;
    margin: 5px 0 0 5px;
}
.bold {
    font-weight: bold;
}
.mod .bd,
.mod .ft,
.mod .hd {
    display: inline-block;
    zoom: 1;
    width: 100%;

    *display: block;
    *width: auto;
}
.mod .inner {
    position: relative;
}
.media {
    position: relative;
}
.media .bd {
    display: table-cell;
    zoom: 1;
}
.media .left {
    float: left;
    margin-right: 12px;

    *display: inline;
}
.media .right {
    float: right;
    margin-left: 12px;

    *display: inline;
}
.title-box {
    border-top: 1px solid #dbdbcf;
    padding: 10px 0 5px;
}
.title-box h2 {
    font-size: 18px;
    font-weight: bold;
}
.no-border,
.border-none {
    border: none !important;
}
.ml-half,
.ml-third,
.ml-forth {
    letter-spacing: -0.31em;
    word-spacing: -0.43em;

    *letter-spacing: normal;
}
.ml-half li,
.ml-third li,
.ml-forth li {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;

    *display: inline;
}
.ml-half li {
    position: relative;
    width: 50%;
    margin-bottom: 15px;
}
.size1of1 {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.size1of2 {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    vertical-align: top;
}
.size1of3 {
    display: inline-block;
    box-sizing: border-box;
    width: 33.33333%;
    vertical-align: top;
}
.size2of3 {
    display: inline-block;
    box-sizing: border-box;
    width: 66.66666%;
    vertical-align: top;
}
.size1of4 {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    vertical-align: top;
}
.size3of4 {
    display: inline-block;
    box-sizing: border-box;
    width: 75%;
    vertical-align: top;
}
.size1of5 {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    vertical-align: top;
}
.size2of5 {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    vertical-align: top;
}
.size3of5 {
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    vertical-align: top;
}
.size4of5 {
    display: inline-block;
    box-sizing: border-box;
    width: 80%;
    vertical-align: top;
}
.hasGrid {
    word-spacing: -0.43em;
    letter-spacing: -0.4em;
}
.hasGrid .size1of1,
.hasGrid .size1of2,
.hasGrid .size1of3,
.hasGrid .size1of4,
.hasGrid .size2of3,
.hasGrid .size3of4,
.hasGrid .size1of5,
.hasGrid .size2of5,
.hasGrid .size3of5,
.hasGrid .size4of5 {
    *display: inline;
    *zoom: 1;
    word-spacing: normal;
    letter-spacing: normal;
}
.red {
    color: #c00!important;
}
.blow-title {
    position: relative;
    z-index: 0;
    border: 3px solid #ddd;
    border-radius: 2px;
    margin-bottom: 10px;
}
.blow-title .inner {
    position: relative;
    border: 1px solid #ccc;
    padding: 15px 10px;
}
.blow-title .inner .number,
.title-box .inner .number {
    position: absolute;
    top: 11px;
    right: 10px;
    letter-spacing: normal;
    font-size: 13px;
}

/*----------------------------------------------------
 枠
----------------------------------------------------*/
.free {
    margin-bottom: 20px;
    font-size: 13px;
}
.aa_content-side .free {
    margin-bottom: 0;
}
.free .mts {
    margin-top: 7px;
}
.free .mbs {
    margin-bottom: 7px;
}
.free .border-none {
    border: none !important;
}
.free > img,
.free-box > img {
    width: 100%;
}
.free .media {
    position: relative;
}
.free .media:after {
    content: '';
    display: block;
    clear: both;
}
.free .inner-box {
    padding: 0 10px;
}
.free-sec {border: 1px solid #dbdbcf; margin: 0 auto 15px; width:643px; font-size:13px;}
.free-sec .hasBg {background-color: #dedede;padding: 4px;}
.free-sec .h5 {font-size: 15px; margin-bottom: 5px;}
.free-sec .p-content {padding: 10px; line-height: 1.3;}
.free-sec .p-content02 {padding: 10px 10px 0;}
.free-sec .catch {margin: 5px 0;}
.free-sec .link-text {margin-bottom: 3px;}
.free-sec ul li {margin-top: 3px;}
.free-sec ul li a {position: relative;}
.free-sec .hasBorder {border-bottom: 1px solid #dbdbcf; margin: 0 5px 5px 2px; padding-left: 3px; padding-bottom: 3px;}
.free-sec .list-square {padding-left: 19px; }
.free-sec .hasBorder a:link {text-decoration: none;}
.free-sec .icon-recipe-check {
    min-width: 20px;
    height: auto !important;
    height: 10px;
    min-height: 10px;
    padding-left: 15px;
    background: url('//img.aacdn.jp/allabout/free/m_keyword.gif') no-repeat scroll 0 0.3em transparent;
}
.free-sec .column-2 {
    margin-right: -12px;
}
.free-sec .column-3 {
    margin-right: -10px;
}
.free-sec .column-4 {
    margin-right: -49px;
}
.free-sec .size1of2 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.free-sec .column-3 .size1of2:last-child {
    margin-right: 0 !important;
}
.free-sec .column-3 .size1of3 {
    width: 200px; 
    margin-right: 8px;
}
.free-sec .column-3 .size1of3:last-child {
    margin-right: 0 !important;
}
.free-sec .column-4 .size1of4 {
    width: 145px;
    margin-right: 12px;
}
.free-sec .column-4 .size1of4:last-child {
    margin-right: 0 !important;
}
#fat_special .size1of4 {
    width: 120px; 
    margin-right: 40px;
}
.free-sec .column-4 .size1of4 img {
    width: 120px;
}
.free-sec .column-4 .size1of4 .content .figure a {
    font-size: 12px;
}
.free-sec .fig-120,
.free-sec .fig-120 img {
    width: 120px;
}
.free-sec .list-arrow-red {
    position: relative;
    margin-bottom: 8px;
    padding-left: 12px;
}
.free-sec .list-arrow-red:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.4em;
    left: 0;
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent #c00;
    width: 0;
    height: 0;
}
.free-sec .label-h40 {
    position: relative;
    border-top: none;
    border-right: none;
    border-left: none!important;
    margin-bottom: 0!important;
    padding: 10px 10px 5px;
    font-size: 18px;
    font-weight: bold;
}
.free-sec .label-h40 span {
    font-weight: bold;
}
.mod-feature-image .label {
    text-align: center;
}
.mod-feature-image .bd {
    font-size: 14px;
}
.mod-feature-image .bd p {
    margin: 5px 20px 0;
}
.mod-box {
    border: 1px solid #dbdbcf;
    font-size: 13px;
}
.mod-box .inner {
    padding: 16px 10px;
}
.aa_content-side .aa_side-section　.mod-box .inner {
    padding: 0;
}
.mod-box .label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}
.mod-box .label .icon {
    font-size: 15px;
    font-weight: bold;
}
.mod-box .icon-list li {
    position: relative;
    margin: 3px 0;
    padding: 2px 10px 2px 12px;
}
.mod-box .icon-list li:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5em;
    left: 0;
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent #c00;
    width: 0;
    height: 0;
}
.free .cmn-box .main-label {
    position: relative;
    margin-bottom: 10px;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: bold!important;
    background-color: #dbdbcf;
}
.free .cmn-box .main-label a,
.free .cmn-box .main-label a span {
    font-weight: bold;
    color: #000;
}
.free .cmn-box.forM .main-label .logo {
    position: absolute;
    top: 11px;
    right: 6px;
}
.free .cmn-box .main-label .has-grid span {
    letter-spacing: normal;
}
.free .main-label .icon-more {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 10px;
    height: 17px;
    margin: 0 0 0 7px;
    text-indent: -9999px;
    background: url(//img.aacdn.jp/allabout/common/red-arrow-l.png) no-repeat 0 5px;
}
.free .icon-list li {
    display: block;
    position: relative;
    margin: 3px 0;
    padding: 2px 10px 0 12px;
}
.free .icon-list li:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5em;
    left: 0;
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent #c00;
    width: 0;
    height: 0;
}
.free .icon-list li:last-child {
    border-bottom: none;
}
/* ファットフッター・オトコノキッチン用 */
.free-section {
    border: 1px solid #dbdbcf;
    margin: 0 auto 15px;
}
.free-section .aa_main-section-heading {
    padding: 10px;
}
.free-section .free-section-btm {
    padding: 0 10px 10px;
}
.free-section .free-section-content {
    padding: 0 10px;
}
.free-section .panel-list-item {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 218px;
    height: 100%;
    margin: 0 10px 15px 0;
    margin-right: 10px;
}
.free-section .panel-list-item:nth-child(3n) {
    margin-right: 0;
}
.free-section .panel-list-item a {
    display: block;
    width: 100%;
    height: 163px;
}
.free-section .panel-list-title-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 163px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 60%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 60%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}
.free-section .panel-list-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
}

/* rotation-box */
.rotation-box {
    font-size: 14px;
}
.rotation-box .title {
    font-weight: normal;
}
.rotation-box li {
    display: block;
    margin-top: 3px;
    margin-bottom: 8px;
    padding: 0 5px 8px;
}
.rotation-box li:last-child {
    border-bottom: none;
}
.rotation-box .media:after {
    content: '';
    display: block;
    clear: both;
}
/* closeup-contents */
.closeup-contents .thumb {
    margin-right: 10px;
}
.closeup-contents a {
    display: block;
}
.closeup-contents .content-box {
    overflow: hidden;
    height: auto;
    word-wrap: break-word;
}
.closeup-contents .content-box .title {
    font-size: 15px;
    font-weight: bold;
}
.closeup-contents .content-box .read {
    font-size: 13px;
}
/* catalog list */
.catalogue-list-box .inner-box li {
    margin-bottom: 10px;
    text-align: center;
}
/* ss記事リスト */
.ss-list-box {
    border: 1px solid #dbdbcf;
    font-size: 13px;
}
.ss-list-box .inner-box {
    padding: 16px 10px;
}
.ss-list-box ul.has-grid > li {
    margin-bottom: 12px;
    letter-spacing: normal;
}
.ss-list-box ul.has-grid > li:last-child {
    margin-bottom: 0;
}
.ss-list-box {
    position: relative;
    bottom: -6px;
    margin-top: 8px;
    line-height: 1.2;
}
.ss-list-box .credit a {
    letter-spacing: normal;
}
/* r_house 住まいトップ特集 */
#pickUpContents div.inner {
    padding-left: 10px;
}
#pickUpContents div.inner .hoge {
    display: inline-block;
    position: relative;
    width: 262px;
    margin: 0 40px 10px 0;
    padding: 85px 0 10px 48px;
    vertical-align: top;

    *display: inline;
    *zoom: 1;
}
#pickUpContents div.inner .turn {
    display: inline-block;
    position: relative;
    width: 262px;
    margin: 0 0 10px 0;
    padding: 85px 0 10px 48px;
    vertical-align: top;

    *display: inline;
    *zoom: 1;
}
#pickUpContents div.inner div h4 {
    margin: 0 0 5px;
    font-size: 100%;
}
#pickUpContents div.inner div p.photo {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dbdbcf;
}
#pickUpContents div.inner div h4 img {
    position: absolute;
    top: 85px;
    left: 0;
}
#pickUpContents div.inner div p.showDetail {
    margin-top: 3px;
    text-align: right;
    font-size: 90%;
}
#pickUpContents h3 {
    position: relative;
    border-top: 1px solid #dbdbcf;
    padding: 10px 0;
}
#pickUpContents h3 span {
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: bold;
}
/* 楽天 */
.aa_content-side .rakuten .main-label {
    border-top: 1px solid #dbdbcf;
    border-right: 1px solid #dbdbcf;
    border-bottom: none;
    border-left: 1px solid #dbdbcf;
    margin: 0;
    padding: 8px 6px;
    background: none;
    font-weight: bold;
}
.aa_content-side .rakuten .main-label {
    border-top: 1px solid #dbdbcf;
    border-right: 1px solid #dbdbcf;
    border-bottom: none;
    border-left: 1px solid #dbdbcf;
    margin: 0;
    padding: 8px 6px;
    font-size: 13px;
}
.free .rakuten .inner-box {
    padding: 0;
}
/* amazon */
#amazon_rank {
    position: relative;
    border: 1px solid #ccc;
    width: 640px;
    margin: 0 auto 20px;
}
#amazon_rank .label-h40 {
    position: relative;
    border-right: 0;
    border-left: 0!important;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
#amazon_rank ul {
    padding: 5px 5px 10px;
    letter-spacing: -0.40em;
}
#amazon_rank li {
    display: inline-block;
    width: 32%;
    margin-left: 5px;
    vertical-align: top;
    letter-spacing: normal;
}
#amazon_rank li .amzn-ranking {
    border-bottom: 1px solid #dbdbcf;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
#amazon_rank li .amzn-img {
    height: 75px;
    margin-bottom: 0;
    text-align: center;
}
#amazon_rank li .amzn-title {
    margin: 5px 10px 0;
    font-size: 12px;
}
#amazon_rank li .amzn-price .cost {
    margin-right: 5px;
    text-decoration: line-through;
    font-size: 0.8em;
}
#amazon_rank li .amzn-price .discount {
    font-weight: bold;
    color: #f00;
}
#amazon_rank li .used {
    margin-bottom: 5px;
    font-size: 9px;
}
/* 住設 編集枠 */
.panel-list li {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 100%;
    margin-top: 0 !important;
    margin-right: 10px;
}
.panel-list li:nth-child(1),
.panel-list li:nth-child(2),
.panel-list li:nth-child(3) {
    margin-bottom: 15px;
}
.panel-list li:nth-child(3n) {
    margin-right: 0;
}
.panel-list li a {
    display: block;
    width: 100%;
    height: 150px;
}
.panel-list-title-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 60%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 60%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}
.panel-list-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 7px;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #fff;
}
/* #partner */
#partnership {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0 10px 10px;
    letter-spacing: -0.4em;
    font-size: 13px;
}
#partnership li {
    display: inline-block;
    margin: 5px 10px 5px 0;
    letter-spacing: normal;
    line-height: 1.2;
}
#partnership li img {
    vertical-align: top;
}
#partnership .list-seven li {
    width: 150px;
}
#partnership .list-five li {
    width: 215px;
}
#partnership .list-five.left {
    float: left;
    width: 510px;
}
#partnership .logo {
    float: right;
    width: 60px;
}
#partnership .list-five.left + .logo {
    padding-right: 100px;
}
#partnership .list-five.left li {
    width: 160px;
}
#partnership .list-two li:first-child {
    width: 100%;
    margin-right: 0;
}
#partnership .list-two  li:nth-child(2) {
    width: 370px;
}
/* SS記事リスト */
.aa_content-side .ss-list-box {
    padding: 0 10px;
    border: 1px solid #dbdbcf;
    font-size: 13px;
}
.aa_content-side .ss-list-box .inner-box {
    padding: 16px 0 10px;
}
.aa_content-side .ss-list-box ul li {
    margin-bottom: 12px;
}
.aa_content-side .ss-list-box ul li:last-child {
    margin-bottom: 0;
}
.aa_content-side .ss-list-box ul li span {
    letter-spacing: normal;
}
.aa_content-side .ss-list-box ul li a {
    font-weight: bold;
}
.aa_content-side .credit {
    position: relative;
    letter-spacing: normal;
    bottom: -6px;
    margin-top: 8px;
    line-height: 1.2;
}

/*----------------------------------------------------
 広告
----------------------------------------------------*/
body > img {
    display: none;
}
/* ad-tmt-top */
.ad-tmt-top {
    font-size: 13px;
    line-height: 1.4;
}
.ad-tmt-top li {
    margin-bottom: 20px;
}
.ad-tmt-top .title {
    font-size: 16px;
    font-weight: bold;
}
.ad-tmt-top .title span {
    font-weight: bold;
}
.ad-tmt-top .read {
    color: #404040;
}
.ad-tmt-top .ads-by {
    margin-bottom: 5px;
}
.ad-tmt-top .ads-by a {
    font-size: 10px;
    color: #777;
}
.ad-tmt-top .media .title a .url {
    margin: 4px 0 0 5px;
    font-size: 12px;
}
.ad-rec {
    margin-bottom: 20px;
    text-align: center;
}
.aa_side-section .ad-rec {
    margin-bottom: 0;
}
/* deqwas */
#deqwas-collection,
#deqwas {
    display: none;
}
/* veltra */
.veltra-affiliate-lead {
    margin-bottom: 20px;
    font-size: 13px;
}
.veltra-affiliate-count-list {
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
}
.veltra-affiliate-count-list li + li {
    margin-left: 15px;
}
.veltra-affiliate-count-num {
    display: inline-block;
    border-radius: 12px;
    margin-left: 2px;
    padding: 4px 8px 2px;
    font-weight: bold;
    color: #fff;
    background: #c00;
}
.veltra-affiliate-credit {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}
.veltra-affiliate-btn-list {
    margin-top: 20px;
}
.veltra-affiliate-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    border: 2px solid #c00;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: #c00;
}
.veltra-affiliate-btn:hover {
    text-decoration: none;
    color: #fff;
    background: #c00;
}
.veltra-affiliate-btn:after {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    right: 12px;
    border-top: 1px solid #c00;
    border-right: 1px solid #c00;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}
.veltra-affiliate-btn:hover:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

/*----------------------------------------------------
 特集GL
----------------------------------------------------*/
/* リストタイプ4, 表示タイプ3 */
/* kurashi kurashi_shuno_201201.css */
.gsid-2245 .item {
    background: none;
}
.family-feature {
    margin-bottom: 20px;
    padding: 0 10px;
}
.family-feature .list-section {
    margin: 0 20px;
}
.family-feature .aa_media-vertical {
    margin-bottom: 0;
}
.family-feature .aa_media-vertical-text {
    min-height: 3em;
}
.mod-feature:after {
    content: '';
    clear: both;
    display: block;
}
.mod-feature .title {
    font-size: 22px !important;
    line-height: 1.3;
}
.mod-feature .catch {
    font-size: 14px;
}
/* kurashi みんなの実例フォト basicに残す */
.sec-qa-photo {width: 640px; margin: 0 auto;}
.sec-qa-photo .p-content {padding: 0px 40px;}
.sec-qa-photo .bd {margin-bottom: 15px; padding-top: 10px;}
.sec-qa-photo .p-content li {
    display:inline-block;
    margin:0px 3px 15px;
    vertical-align:top;
    width:83px;
}
.sec-qa-photo .p-content li .figure img {
    background:#FFFFFF;
    border:1px solid #d8d7d7;
    display:block;
    padding:3px;
    margin:0px auto;
}
.sec-qa-photo .p-content li .figure .mts {line-height: 1.2;}
.sec-qa-photo .p-content li .figure .mts a {
    font-weight:bold;
    text-decoration:underline;
    font-size: 11px;
}
.sec-qa-photo .p-content li .figure .mts a:hover {text-decoration:none;}
/* recipe */
.recipe-feature .mod-feature .bd {
    width: 450px;
}
.recipe-feature .mod-feature .title {
    font-size: 22px;
    float: none;
    display: block;
}
.recipe-feature .mod-feature .catch {
    font-size: 14px;
}
.recipe-feature .list-section {
    margin: 0 20px;
}
.recipe-feature .aa_media-vertical-text {
    min-height: 3em;
}
#otherArticleWire {
    background-repeat: repeat !important;
}

/*----------------------------------------------------
 メインカラム：あわせて読みたい
----------------------------------------------------*/
.aa_related-article .aa_link-list-item {
    border-bottom: 1px dashed #dbdbcf;
    margin-bottom: 0;
}
.aa_related-article .aa_link-list-item a {
    position: relative;
    padding: 8px 0;
    height: 3em;
    display: block;
}
.aa_related-article .aa_link-list-item a:hover {
    opacity: 0.7;
}
.aa_related-article .aa_link-list-category {
    position: absolute;
    right: 5px;
    bottom: 8px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

/*----------------------------------------------------
 メインカラム：まとめ
----------------------------------------------------*/
.aa_content-main .aa_matome-link .aa_link-list.aa_grid-2col .aa_link-list-item {
    font-size: 15px;
}

/*----------------------------------------------------
 DFP
----------------------------------------------------*/
/* PS上枠 */
.dfp-ps-uewaku {
    position: relative;
    overflow: hidden;
    letter-spacing: -0.4em;
    margin-bottom: 20px;
}
.dfp-ps-uewaku:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #808080;
    position: absolute;
    top: 0;
    left: 0;
}
.dfp-ps-uewaku:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #808080;
    position: absolute;
    bottom: 0;
    left: 0;
}
.dfp-ps-uewaku > div:hover {
    opacity: 0.7;
}
.dfp-ps-uewaku .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
.dfp-ps-uewaku .border:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 74px;
    border-left: 1px solid #808080;
}
.dfp-ps-uewaku .border:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 74px;
    border-right: 1px solid #808080;
}
.dfp-ps-uewaku > div > div {
    display: inline-block;
    letter-spacing: normal;
    width: 225px;
    float: left;
}
.dfp-ps-uewaku > div:nth-child(4) > div,
.dfp-ps-uewaku > div:nth-child(5) > div,
.dfp-ps-uewaku > div:nth-child(6) > div {
    padding-bottom: 10px;
}
.dfp-ps-uewaku .aa_icon-font-text-cat {
    position: absolute;
    right: 3px;
    bottom: 0px;
    color:#999;
}
.tmp_ps-uewaku .aa_icon-font-text-cat {
    position: absolute;
    right: 3px;
    bottom: 0px;
    color:#999;
}
/*PS上枠 カスタム*/
.dfp-ps-uewaku.ac283 > div{
    float: left;
}
.dfp-ps-uewaku.ac283 > div:hover{
    opacity: 1;
}
.dfp-ps-uewaku.ac283:before {
    border-top: 1px solid #e0e0e0;
}
.dfp-ps-uewaku.ac283:after {
    border-top: 1px solid #e0e0e0;
}
/* PS下枠 */
.dfp-ps-shitawaku {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}
.dfp-ps-shitawaku > div > div {
    margin: 5px 0;
    padding: 0 5px;
}
.dfp-ps-shitawaku > div:hover {
    opacity: 0.7;
}
.dfp-ps-shitawaku .aa_side-section-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 316px;
    padding: 8px 10px;
}
.dfp-ps-shitawaku .aa_side-section-heading:hover {
    opacity: 1;
}
.dfp-ps-shitawaku .aa_side-section-heading + div > div{
    padding-top: 40px;
}
.dfp-ps-shitawaku .aa_icon-font-text-cat {
    position: absolute;
    top: 10px;
    right: 10px;
}
/* TMT枠 */
.dfp-tmtwaku {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}
.dfp-tmtwaku:before {
    content: '';
    display: block;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
.dfp-tmtwaku:after {
    content: '';
    display: block;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
}
.dfp-tmtwaku > div > div {
    margin-bottom: 20px;
}
.dfp-tmtwaku > div:hover {
    opacity: 0.7;
}
.dfp-tmtwaku .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
.dfp-tmtwaku .border:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    widht: 0;
    height: 413px;
    border-left: 1px solid #e0e0e0;
}
.dfp-tmtwaku .border:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    widht: 0;
    height: 413px;
    border-right: 1px solid #e0e0e0;
}
.dfp-tmtwaku .aa_icon-font-text-cat {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
}
.dfp-tmtwaku .aa_main-section-heading {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
.dfp-tmtwaku .aa_main-section-heading-title {
    width: 675px;
    padding: 12px 10px;
    font-size: 15px;

}
.dfp-tmtwaku .aa_main-section-heading + div > div {
    padding-top: 40px;
}

/*----------------------------------------------------
 一時指定：SOSテスト
----------------------------------------------------*/
/* PS上枠 */
.tmp_ps-uewaku {
	position:relative;
    border: 1px solid #808080;
    padding: 0 0 10px 10px;
    font-size: 14px;
}
.tmp_ps-uewaku > .has-grid > .has-grid-item {
    width: 210px;
    padding-top: 10px;
    padding-right: 15px;
}
.tmp_ps-uewaku .ico {
    height: 10px;
    background-position: 0 3px;
    background: transparent url(//img.aacdn.jp/allabout/common/icon-sprite.png) no-repeat 0 0;
    width: 4px;
    margin: 6px 7px 0 0;
}
/* PS下枠 */
.tmp_ps-shitawaku .aa_icon-font {
    position: absolute;
    top: 10px;
    right: 10px;
}
.tmp_tmtwaku {
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
}
.tmp_tmtwaku .aa_icon-font {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
}
.tmp_tmtwaku .aa_main-section-heading-title {
    font-size: 15px;
}
.tmp_tmtwaku .aa_link-list-item {
    margin-bottom: 30px;
}
.tmp_tmtwaku .aa_link-list-item .title {
    color: #005ead;
    font-weight: bold;
}
.tmp_tmtwaku .aa_link-list-item .desc {
    font-size: 12px;
    color: #404040;
}

/*----------------------------------------------------
 SNS
----------------------------------------------------*/
.aa_article-heading-sns {
    height: 40px;
}
.aa_article-heading-sns li {
    width: 70px;
    height: 40px;
    padding-left: 1px;
    line-height: 40px;
}
.aa_article-heading-sns li a {
    display: block;
    height: 40px;
    font-size: 18px;
}
.aa_article-heading-sns .aa_icon-font-glyph-gplus:before {
    margin-top: 7px;
    font-size: 25px;
}
.aa_article-heading-sns .aa_icon-font-glyph-hatena:before {
    font-size: 22px;
}

/* 記事：SNS フローティングボックス */
.aa_side-sns {
    position: absolute;
    top: 0;
    left: -120px;
}
.aa_side-sns .aa_side-sns-area-vertical {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 70px;
    width: 72px;
    overflow: visible;
    border-radius: 0;
    padding: 18px 0 0;
    text-align: center;
    background: transparent;
    *display: none;
}
.aa_side-sns .aa_side-sns-area-vertical.is-clickable {
    pointer-events: auto;
}
.aa_side-sns .aa_article-heading-sns li {
    width: 100%;
    height: auto;
    margin-bottom: 1px;
}
.aa_side-sns .aa_article-heading-sns li a {
    height: 70px;
    position: relative;
    text-decoration: none;
}
.aa_side-sns .aa_article-heading-sns .aa_icon-font {
    padding-top: 7px;
    display: block;
}
.aa_side-sns .aa_article-heading-sns .aa_icon-font {
    font-size: 28px;
}
.aa_side-sns .aa_article-heading-sns .aa_icon-font.aa_icon-font-glyph-gplus {
    padding-top: 0px;
}
.aa_side-sns .aa_article-heading-sns .aa_icon-font.aa_icon-font-glyph-gplus,
.aa_side-sns .aa_article-heading-sns .aa_icon-font.aa_icon-font-glyph-gplus:before {
    font-size: 35px;
    margin-left: 0;
}
.aa_side-sns .aa_article-heading-sns .sns-text {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
}
.aa_side-sns .aa_article-heading-sns .aa_sns-btn-fblike {
    margin-top: 15px;
}


/*----------------------------------------------------
 まとめ
----------------------------------------------------*/
/* 右枠でランキングやる場合 */
.aa_content-side .aa_link-list-order-num {
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
}
/* ページ下部急上昇ランキング */
.aa_media-ranking-list .aa_link-list-order-num {
    top: 3px;
    left: 3px;
}
.aa_media-ranking-thumb {
    margin-bottom: 8px;
    position: relative;
}
.aa_media-ranking-text {
    line-height: 1.3;
    min-height: 4em;
    position: relative;
}
.aa_media-ranking-title {
    font-size: 13px;
}
/* ページ下部カテゴリーリスト */
.aa_matome-category {
    border: 1px solid #dbdbcf;
    padding: 10px 20px;
    margin: 40px 0;
}
.aa_matome-category-list-item {margin-bottom: 20px;}
.aa_matome-category-list a {
    font-size: 14px;
    font-weight: bold;
    color: #1e1e1e;
}
.aa_matome-category-list-caption {
    display: inline;/* hoverで下線が出なくなるのを打ち消すため */
}
.aa_matome-category-list-lead {
    padding: 1px 0 0 12px;
    font-size: 11px;
    font-weight: normal;
    color: #666;
}
/* PRラベルが見出しのところに入った場合 */
.aa_side-section-heading .aa_media-category {
    position: absolute;
    top: 12px;
    right: 10px;
}
/* リスト右下に一覧リンク */
.aa_side-section-link {
    margin-top: -10px;
    font-weight: bold;
}
/* レコメンドウィジェット対策 */
.aa_main-section ~ ins {margin-bottom: 20px;}