@charset 'utf-8';

/* base */
.aa_home .aa_header {border: none;}
.aa_home-layout-inner {
    position: relative;
    width: 1058px;
    margin: 0 auto;
}
.aa_home-content {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

/* グロナビ*/
.aa_menu-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

/* header */
.aa_home-header-inner {padding: 22px 0;}
.aa_home-header-left {width: 600px;}
.aa_home-header-right {width: 458px;}
.aa_home-header-logo {margin-right: 35px;}
.aa_home-header-left > .aa_home-header-logo,
.aa_home-header-left > .aa_home-header-search {
    vertical-align: middle;
}

/* サイト内検索 */
.aa_home-header-search {
    position: relative;
    width: 310px;
    vertical-align: middle;
}
.aa_home-header-search-input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    width: 310px;
    height: 40px;
    padding: 0 50px 0 16px;
    font-size: 15px;
    line-height: 40px;
    background: #fff;
    -webkit-appearance: none;
}
.aa_home-header-search-input:focus {
    outline: none;
}
.aa_home-header-search-input::-webkit-input-placeholder {
    color: #b4b4b4;
}
.aa_home-header-search-input:-moz-placeholder {
    color: #b4b4b4;
}
.aa_home-header-search-input::-moz-placeholder {
    color: #b4b4b4;
}
.aa_home-header-search-input:-ms-input-placeholder {
    color: #b4b4b4;
}
.aa_home-header-search .aa_icon-font-search {
    position: absolute;
    top: 4px;
    right: 14px;
    z-index: 10;
    font-size: 19px;
}
.aa_home-header-search-submit {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    border: none;
    width: 50px;
    height: 40px;
    text-indent: -9999px;
    background: none;
}
.aa_home-header-search-submit:hover + .aa_icon-font-search,
.aa_home-header-search-submit:focus + .aa_icon-font-search {
    opacity: 0.8;
    outline: none;
}

/* ヘッダーの公式SNSボタン */
.aa_home-header-sns {margin-bottom: 10px;}
.aa_home-header-sns li {
    margin-left: 12px;
    line-height: 35px;
}
.aa_home-header-sns li a {
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.aa_home-header-sns .aa_pict-sns-facebook {font-size: 15px;}
.aa_home-header-sns .aa_pict-sns-twitter {font-size: 14px;}
.aa_home-header-sns .aa_pict-sns-gplus {font-size: 20px;}
.aa_home-header-sns .aa_pict-sns-rss {
    background: #ff8c00;
    font-size: 12px;
}
/* アイコンフォント */
.aa_home-header-sns .aa_icon-font-glyph-facebook:before {
    margin: 10px 0 0 2px;
}
.aa_home-header-sns .aa_icon-font-glyph-twitter:before {
    margin: 11px 0 0 2px;
}
.aa_home-header-sns .aa_icon-font-glyph-gplus:before {
    margin: 0 4px 0 0;
}
.aa_home-header-sns .aa_icon-font-glyph-rss:before {
    margin: 0 0 0 3px;
    color: #fff;
}

/* ヘッダーリンクメニュー */
.aa_home-header-link .aa_link-list-item {
    vertical-align: middle;
    margin: 0 0 0 20px;
    font-size: 12px;
}
.aa_home-header-link .aa_link-has-triangle-left {
    padding-left: 9px;
}

/* footer */
.aa_home-footer-bgcolor {
    background: #efefe0;
    padding: 22px 0;
}
.aa_footer-note {
    position: relative;
    margin-top: 22px;
    font-size: 12px;
}
.aa_footer-note .aa_footer-copyright {
    position: absolute;
    bottom: 4px;
}
.aa_footer-foreign-item {
    margin-left: 10px;
}
.aa_footer-foreign-item {
    padding: 4px 14px 3px;
    background: #fff;
    border: 1px solid #dbdbcf;
    border-radius: 50px;
}

/* ブランドコンテンツ枠 */
.aa_home-content .free {
    font-size: 100%;
    margin: 0;
}
.aa_home-brand-box {margin-top: 22px;}
.aa_home-brand-box-item {margin: 0 0 22px 0;}
.aa_home-brand-box-left {width: 736px;}
.aa_home-brand-box-right {width: 300px;}
.aa_home-brand-item {
    position: relative;
    margin-bottom: 22px;
}
.aa_home-brand-box-left-list.has-grid .aa_home-brand-item:first-child{
    margin-right: 22px;
}
.has-grid .has-grid-item {/* has-grid直下にhas-grid-itemがなくても効くようにする */
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
.item-double {width: 357px;}
.item-right {width: 300px;}
.aa_home-media-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 40%,rgba(0,0,0,0.6) 100%);
}
.aa_home-thumb-large,
.aa_home-thumb-medium,
.aa_home-thumb-small {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.aa_home-thumb-large {
    width: 736px;
    height: 460px;
}
.aa_home-thumb-medium {
    width: 357px;
    height: 262px;
}
.aa_home-thumb-small {
    width: 300px;
    height: 225px;
}
a:hover .js-img-liquid.trans {
    cursor: pointer;
    filter:alpha(opacity=68);
    -moz-opacity:0.68;
    opacity:0.68;
}
.aa_home-text {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    padding: 16px;
    color: #fff;
}
.aa_home-text-title {
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    line-height: 1.2;
}
.item-single .aa_home-text-title {font-size: 2.3rem;}
.item-double .aa_home-text-title {font-size: 1.3rem;}
.item-right .aa_home-text-title {
    margin-bottom: 5px;
    font-size: 1.1rem;
}
.aa_home-brand-box-right .aa_home-text {
    width: 268px;
}
/* ガイド枠 */
.aa_home-text-guide {
    position: relative;
    padding-top: 8px;
    font-size: 12px;

}
.aa_home-main-panel .aa_home-text-guide {
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.aa_home-article-list .aa_home-text-guide,
.aa_home-article-list a.border-btm-link,
.aa_home-article-list a.border-btm-link:hover {color: #666;}/* 記事リスト時はGS名等下線出す */
.aa_home-guide-thumb {
    vertical-align: top!important;
    width: 40px;
    height: 40px;
}
.aa_home-guide-thumb .aa_guide-thumb-round {
    height: 40px;
    width: 40px;
    background: #fff;
    border: 1px solid #dbdbcf;
    border-radius: 50%;
}
.aa_home-guide-info {
    padding-left: 10px;
    line-height: 1.3;
}
.aa_home-guide-gsname {margin-bottom: 3px;}
.aa_home-guide-name {font-weight: bold;}

/* PR label */
.aa_home-brand-box .aa_media-category.no-bg .aa_icon-font-text-cat {color: #fff;}
.aa_home-brand-box-left .aa_media-category {
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.aa_home-brand-box-right .aa_media-category {
    display: block;
    text-align: right;
}

/* メインの記事リスト */
.aa_home-list-border-top {
    padding-top: 22px;
    border-top: 1px solid #dbdbcf;
}
.aa_home-article-common-list {padding: 30px 0 8px;}
.aa_home-heading {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 38px;
}
.aa_home-main-content > .aa_home-heading {margin: 0 auto;}
.aa_home-heading-bold-red {
    margin: 0 3px;
    color: #c00;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; letter-spacing;
    font-size: 44px;
}

/* 横イチのバナー枠 */
.aa_home-ad-bnr {margin-bottom: 22px;}

/* 共通記事リスト */
.aa_home-article-list .aa_grid-4col-item {
    width: 248px;
    margin: 0 22px 22px 0;
}
.aa_home-article-list .aa_grid-4col-item:nth-child(4n) {margin: 0 0 22px 0;}
.aa_home-article-list-thumb {
    position: relative;
    width: 248px;
    height: 186px;
    margin-bottom: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aa_home-article-list-thumb img {display: block;}
.aa_home-article-list-text {
    line-height: 1.3;
    position: relative;
}
.aa_home-article-list .aa_media-category {/* PRラベルは右下 */
    display: block;
    text-align: right;
}

/* カルーセル制御用 */
.js-slider-obj .aa_grid-4col.aa_home-article-list > ul li {
    width: 248px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 22px 22px 0;
    letter-spacing: normal;
    font-size: 16px;
    *display: inline;
    *zoom: 1;
}

/* bg付カラム */
.aa_home-bgcolor-box {
    padding: 30px 0 8px;
    background: #f9f9ed;
}
.aa_home-link-btn {
    width: 380px;
    padding: 15px 0 12px;
    margin: 8px auto 22px;
    background: #1e1e1e;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* 特集　暮らしに役立つ知識～ */
.aa_home-feature .aa_home-heading {
    border-collapse: separate;
    border-spacing: 10px 0;
}
.feature-heading-icon {
	width: 70px;
	height: 70px;
	margin-right: 12px;
	border: 2px solid #1e1e1e;
	border-radius: 50%;
	font-size: 16px;
	font-weight: bold;
}
.aa_home-feature-slider {
    -moz-user-select: none;
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
}
.aa_home-feature-slider .aa_home-article-list {overflow: hidden;}
.slider-arrow {
    position: absolute;
    top: 50%;
    padding: 0;
    background: transparent;
    font-size: 0;
    line-height: 0;
    outline: none;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: -64px;
}
.arrow-next {
    border-top: 3px solid #1e1e1e;
    border-left: 3px solid #1e1e1e;
    border-bottom: none;
    border-right: none;
    right: -70px;
}
.arrow-prev {
    border-top: none;
    border-left: none;
    border-bottom: 3px solid #1e1e1e;
    border-right: 3px solid #1e1e1e;
    left: -70px;
}

/* 人気記事ランキング */
.aa_home-layout-inner .aa_grid-5col-item {
    position: relative;
    width: 194px;
    margin: 0 22px 22px 0;
}
.aa_home-layout-inner .aa_grid-5col-item:nth-child(5n) {margin: 0 0 22px 0;}
.aa_home-ranking {
    counter-reset: num;/* num のカウンタを 0 にセット */
}
.aa_home-ranking .aa_grid-5col-item .aa_home-article-list-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 194px;
    height: 146px;
    z-index: 1;
    overflow: hidden;
    margin: 0 22px 8px 0;
}
.aa_home-ranking .aa_grid-5col-item .aa_home-article-list-thumb:before {
    counter-increment: num;
    content: counter(num, decimal);
    position: absolute;
    top: 5px;
    left: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    z-index: 3;
}
.aa_home-ranking .aa_grid-5col-item:nth-child(10) .aa_home-article-list-thumb:before {
    left: 5px;
}
.aa_home-ranking .aa_grid-5col-item .aa_home-article-list-thumb:after {
    content: '';
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #1e1e1e transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 2;
}
.aa_home-ranking .aa_grid-5col-item:first-child .aa_home-article-list-thumb:after {
    border-color: #d9b340 transparent transparent transparent;
}
.aa_home-ranking .aa_grid-5col-item:nth-child(2) .aa_home-article-list-thumb:after {
    border-color: #6f7b83 transparent transparent transparent;
}
.aa_home-ranking .aa_grid-5col-item:nth-child(3) .aa_home-article-list-thumb:after {
    border-color: #a15326 transparent transparent transparent;
}
.aa_home-ranking .aa_home-article-list-text {
    margin-top: 154px;
    font-size: 14px;
}

/* 人気ガイドランキング */
.aa_home-guide-list .aa_grid-5col-item {
    padding: 10px 22px 10px 0;
    min-height: 190px;
    border-right: 1px solid #dbdbcf;
}
.aa_home-guide-list .aa_grid-5col-item:last-child {border: none;}
.aa_home-guide-inner {font-size: 13px;}
.aa_home-guide-ranking-profile {
    min-height: 95px;
	margin-bottom: 15px;
}
.aa_home-guide-ranking-profile a {
    color: #1e1e1e;
    display: block;
}
.aa_home-guide-ranking-thumb {
    width: 60px;
    height: 60px;
    vertical-align: top!important;
}
.aa_home-guide-ranking-thumb .aa_guide-thumb-round {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dbdbcf;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.aa_home-guide-ranking-detail {
    padding-left: 12px;
    line-height: 1.3;
}
.aa_home-guide-ranking-gsname {margin-bottom: 3px;}
.aa_home-guide-ranking-guidename {font-weight: bold;}
.aa_home-guide-ranking-order {margin-bottom: 5px;}
.aa_home-guide-ranking-order-label {
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
}
.aa_home-guide-ranking .aa_grid-5col-item:first-child  .aa_home-guide-ranking-order-label,
.aa_home-guide-ranking .aa_grid-5col-item:nth-child(2) .aa_home-guide-ranking-order-label,
.aa_home-guide-ranking .aa_grid-5col-item:nth-child(3) .aa_home-guide-ranking-order-label {
	padding: 2px 6px;
	color: #fff;
	font-size: 11px;
}
.aa_home-guide-ranking .aa_grid-5col-item:first-child  .aa_home-guide-ranking-order-label{background: #d9b340;}
.aa_home-guide-ranking .aa_grid-5col-item:nth-child(2) .aa_home-guide-ranking-order-label {background: #6f7b83;}
.aa_home-guide-ranking .aa_grid-5col-item:nth-child(3) .aa_home-guide-ranking-order-label {background: #a15326;}
/* ランキングアイコン */
.aa_icon-font-arrow-up,
.aa_icon-font-arrow-down,
.aa_icon-font-arrow-left {
	margin: -5px 0 0 3px;
	font-size: 20px;	
}
.aa_icon-font-arrow-up {color: #f10808;}
.aa_icon-font-arrow-down {color: #086af1;}
.aa_icon-font-arrow-left {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    color: #888;
}

/* 公式SNS・メルマガ登録 */
.aa_home-common-info .aa_home-heading {
	margin: 0 auto;
	font-size: 30px;
}
.aa_home-common-info .aa_home-heading-shoulder {
	margin-bottom: 20px;
	font-size: 13px;
}
.aa_home-common-info {margin-bottom: 22px;}
.aa_home-common-info .aa_grid-2col-item {padding: 10px 0;}
.aa_home-common-info .aa_grid-2col-item:nth-child(2n) {border-left: 1px solid #dbdbcf;}

/* 公式SNSボタン */
.aa_home-common-info-sns {margin-bottom: 20px;}
.aa_home-common-info-melmaga {margin-bottom: 10px;}
.aa_home-common-info-notes {
    margin-bottom: 20px;
    font-size: 11px;
    color: #666;
}
.aa_home-common-info-sns-item {
    margin-left: 12px;
    line-height: 45px;
}
.aa_home-common-info-sns-item a {
    display: block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.aa_home-common-info-sns-item .aa_pict-sns-facebook {font-size: 17px;}
.aa_home-common-info-sns-item .aa_pict-sns-twitter {font-size: 16px;}
.aa_home-common-info-sns-item .aa_pict-sns-gplus {font-size: 24px;}
.aa_home-common-info-sns-item .aa_pict-sns-rss {
    background: #ff8c00;
    font-size: 15px;
}

/* アイコンフォント */
.aa_home-common-info-sns-item .aa_icon-font-glyph-facebook:before {
    margin: 10px 0 0 2px;
}
.aa_home-common-info-sns-item .aa_icon-font-glyph-twitter:before {
    margin: 15px 0 0 2px;
}
.aa_home-common-info-sns-item .aa_icon-font-glyph-gplus:before {
    margin: 0 4px 0 0;
}
.aa_home-common-info-sns-item .aa_icon-font-glyph-rss:before {
    margin: 0 0 0 3px;
    color: #fff;
}

/* メルマガ登録フォーム */
.aa_home-common-info-melmaga-form-input {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 295px;
    height: 45px;
    line-height: 45px;
    outline: none;
    padding-left: 10px;
    margin-right: 5px;
}
.aa_home-common-info-melmaga-form-input:placeholder-shown {
    color: #b4b4b4;
}
/* Google Chrome, Safari, Opera 15+ */
.aa_home-common-info-melmaga-form-input::-webkit-input-placeholder {
    color: #b4b4b4;
}
/* Firefox 18- */
.aa_home-common-info-melmaga-form-input:-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
}
/* Firefox 19+ */
.aa_home-common-info-melmaga-form-input::-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
}
/* IE 10+ */
.aa_home-common-info-melmaga-form-input:-ms-input-placeholder {
    color: #b4b4b4;
}
/* IE Edge */
.aa_home-common-info-melmaga-form-input::-ms-input-placeholder {
    color: #b4b4b4;
}
.aa_home-common-info-melmaga-form-submit {
    background: #c00;
    border-radius: 2px;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 75px;
    height: 45px;
    line-height: 40px;
    outline: none;
}
.aa_home-common-info-melmaga-form-submit:hover {
    opacity:0.7;
    filter:alpha(opacity=70);
}

/* お知らせ枠・新着記事枠 */
.aa_home-information,
.aa_home-latest {margin-bottom: 2px;}/* 上下padding合計22pxにするため */
.aa_home-information .aa_home-heading,
.aa_home-latest .aa_home-heading,
.aa_home-category .aa_home-heading,
.aa_home-service .aa_home-heading {
    margin: 0 auto 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}
.aa_home-information-list,
.aa_home-latest-list {
    margin-left: 146px;
    font-size: 12px;
}
.aa_home-information-list-item,
.aa_home-latest-list-item {margin-bottom: 20px;}
.aa_home-information-date,
.aa_home-latest-date {
	margin-right: 15px;
	color: #1e1e1e;
}
#js-masonry-list {  
    width:100%;
    overflow:auto;
}  
.js-masonry-list-item {
    width:194px;
    margin: 0 17px 22px 0;
    float:left;
    display:inline;
}

/* フッターリンク */
.aa_home-sub-heading a {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
    color: #1e1e1e;
}
.aa_home-category-list-item a {
	display: block;
	margin: 0 0 10px 12px;
	font-size: 12px;
	color: #1e1e1e;
}

/* サービス一覧 */
.aa_home-service-list {margin-bottom: 12px;}/* 上下padding合計22pxにするため */
.aa_home-service-list a {
	color: #1e1e1e;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

/* 共通カテゴリーラベル */
.aa_media-article-category {
    display: block;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 120px;
    padding: 4px 0 2px;
    text-align: center;
    font-size: 0.73rem;
    color: #fff;
}
.category-r_house {background: #98630f;}
.category-r_kurashi {background: #f29500;}
.category-r_gourmet {background: #dfbe04;}
.category-recipe {background: #e55125;}
.category-r_relationship {background: #ff4f81;}
.category-r_beauty {background: #d54da9;}
.category-r_fashion {background: #863fb7;}
.category-r_itdigital {background: #2e5f77;}
.category-r_business {background: #1a57d2;}
.category-r_finance {background: #3396db;}
.category-r_auto {background: #1089a7;}
.category-r_hobby {background: #01a89b;}
.category-r_travel {background: #70b000;}
.category-r_health {background: #094;}
.category-feature {background: #c00;}
.category-r_mensstyle {background: #666;}
.category-newsdig {background: #333;}
.category-form {background: #000;}
.category-ad {background: #c00;}
.category-news {background: #333;}
.category-otokichi {background: #2e384e;}