@charset "utf-8";
/*----------------------------------------------------
 reset
----------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:inherit;font-weight:inherit;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main,summary{display:block;}ul,ol{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;}input,select{vertical-align:middle;}label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer;}textarea{overflow: auto;vertical-align:top;}b,strong,em{font-weight:bold;}sup,sub{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{vertical-align:super;}sub{vertical-align:sub;}svg:not(:root){overflow: hidden;}audio,canvas,video{display:inline-block;*display:inline;*zoom: 1;}audio:not([controls]){display:none;}[hidden]{display:none;}

/*----------------------------------------------------
 base
----------------------------------------------------*/
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}
body {
    font-family: "メイリオ",Meiryo,YuGothic,"游ゴシック","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    line-height: 1.5;
    background: #fff;
    color: #1e1e1e; 
    word-wrap: break-word;
    min-width: 1058px;
}
.clear {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow: hidden;
}
a {
    color: #005ead;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
}
a:hover img.trans,
a.trans:hover {
    cursor: pointer;
    opacity:0.7;
    filter:alpha(opacity=70);
}
.link-blue {
    color: #005ead !important;
}
a:hover .link-blue {
    text-decoration: underline;
}
.clear-text {
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}
/*
aタグ, imgタグに直接.transクラスが指定できない場合に使用
透過させたい広告タグを囲むdivなど
*/
.has-trans:hover {
    opacity: 0.8;
    filter:alpha(opacity=80);
}
/* helper */
.centering-content {
    text-align: center;
}
.centering-content > div,
.centering-content > iframe,
.centering-content > span,
.centering-content > ins,
.centering-content > img {
    display: inline-block;
    text-align: left;
}
.text-color-default {
    color: #1e1e1e;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-normal {
    font-weight: normal;
}
.text-bold {
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hide {
    display: none !important;
}
.full-width {
    width: 100%;
}
.display-block {
    display: block;
}
.display-inline {
    display: inline;
}
.display-inline-block {
    display: inline-block;
    *display: inline; 
    *zoom: 1;
}
.list-disc {
    list-style: disc;
    padding-left: 1.5em;
}
.list-square { 
    list-style: square;
    padding-left: 1.5em;
}
.list-decimal {
    list-style: decimal; 
    padding-left: 1.5em;
}
.list-indent {
    margin-left: 0;
}
.list-indent li {
    padding-left: 1em;
    list-style-type: none;
    text-indent: -1em;
}
.has-grid {
    letter-spacing: -0.4em;
}
.has-grid > .has-grid-item {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
.has-table {
    display: block;
    display: table;
}
.has-table > .has-table-item {
    display: inline-block;
    display: table-cell;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
/* margin */
.mb0 {
    margin-bottom: 0 !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
/* rotate */
.after-rotate180:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.after-rotate90:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* 
  リンクエリアをブロックにしたいaタグに使用
  .block-link内で青くしたいテキストには.link-blueテキストをつける
*/
.block-link {
    text-decoration: none;
    display: block;
    color: #1e1e1e;
}
.block-link:hover {
    text-decoration: none;
}
.block-link:hover {
    opacity: 0.7;
    filter:alpha(opacity=70);
}
.block-link:after {
    content: '';
    display: block;
    clear: both;
}

/*----------------------------------------------------
 プラグイン：slick
----------------------------------------------------*/
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*----------------------------------------------------
 プラグイン：slick
----------------------------------------------------*/
#lbOverlay {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
}
#lbCenter,
#lbBottomContainer {
    position: absolute;
    z-index: 1100;
    overflow: hidden;
    background-color: #fff;
    border:1px solid #d1d1d1;
}
.lbLoading {
    background: #fff url(//img.aacdn.jp/allabout/gc/gallery/loading.gif) no-repeat center;
}
#lbImage {
    position: absolute;
    left: 0;
    top: 0;
    border: 10px solid #fff;
    background-repeat: no-repeat;
}
#lbPrevLink, #lbNextLink {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    outline: none;
}
#lbPrevLink {
    left: 0;
}
#lbPrevLink:hover {
    background: transparent url(//img.aacdn.jp/allabout/gc/gallery/prevlabel.gif) no-repeat 0 15%;
}
#lbNextLink {
    right: 0;
}
#lbNextLink:hover {
    background: transparent url(//img.aacdn.jp/allabout/gc/gallery/nextlabel.gif) no-repeat 100% 15%;
}
#lbBottom {
    position: relative;
    color: #666;
    line-height: 1.4em;
    font-size:70%;
    text-align:left;
    border: 10px solid #fff;
    border-top-style: none;
}
#lbBottom:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background:transparent url(//img.aacdn.jp/allabout/gc/gallery/aaLogo.gif) no-repeat scroll center center;
    height:15px;
    width:72px;
    margin:12px 8px 2px 2px;
}
#lbCloseLink {
    display: block;
    float: right;
    width: 66px;
    height: 22px;
    background: transparent url(//img.aacdn.jp/allabout/gc/gallery/closelabel.gif) no-repeat center;
    margin: 5px 4px 2px 2px;
    outline:none;
}
#lbCaption, #lbNumber {
    margin:2px 77px 2px 82px;
}
#lbCaption {
    font-weight: bold;
}