/** WRAP UP BAR **/
.usp-banner-2016 {
    background: none;
    padding: 0 10px;
    /*       padding: 0px;
        margin: 15px 0 0 2px;*/
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /*  padding: 0 0.7%*/
}

.usp-banner-2016 .usp-col-1,
.usp-banner-2016 .usp-col-2,
.usp-banner-2016 .usp-col-3 {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    height: auto;
}

.usp-banner-2016 .usp-cta {
    float: left;
    display: block;
    width: 46%;
    height: auto;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    background: #000;
    margin: 2%;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    font-family: 'Gotham A', 'Gotham B', sans-serif !important;
    text-transform: uppercase;
}

.usp-title-img {
    width: 85%;
    height: auto;
    margin: 0 7%;
}

.usp-col-1 a {
    width: 46%;
    height: auto;
    float: left;
    margin-right: 4%;
    box-sizing: border-box;
}

.usp-col-1 a img {
    width: 100%;
    height: auto;
}

.usp-col-3 a {
    width: 46%;
    height: auto;
    float: left;
    margin-left: 4%;
    box-sizing: border-box;
}

.usp-col-3 a img {
    width: 100%;
    height: auto;
}
/* INSTAFEED START **/
#instafeed{
	    margin: 0 auto;
    padding: 10px;
    width: 98%;
    min-height: 320px;
    background: #f3f3f3;
  /*  border-style: solid;
    border-width: 3px 3px 3px 3px;
    -moz-border-image: url(http://jdsports-client-resources.s3.amazonaws.com/milletsports/mailers/lastchance.jpg) 10 10 10 10 repeat;
    -webkit-border-image: url(http://jdsports-client-resources.s3.amazonaws.com/milletsports/mailers/lastchance.jpg) 10 10 10 10 repeat;
    -o-border-image: url(http://jdsports-client-resources.s3.amazonaws.com/milletsports/mailers/lastchance.jpg) 10 10 10 10 repeat;
    border-image: url(http://jdsports-client-resources.s3.amazonaws.com/milletsports/mailers/lastchance.jpg) 10 10 10 10 repeat;
    */
    box-sizing: border-box;
    display: block;
}
#instafeed .slide{
	width: 24%;
    float: left;
    display: block;
    margin-right:1.3%; 
}
#instafeed .slide img{
	width: 100%;
}
#instafeed .slide:nth-child(4){
	margin-right: 0px!important;
}
.innerInsta{
	    width: 99.5%;
    margin: 0 auto;
    background: white;
    padding-bottom: 1%;
}
#instafeed h2 {
	padding:0;
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}
#instafeed p{
	text-align: center;
	margin:0;
	padding: 10px 0%;
	font-size: 14px;
	margin: 10px 0;
	font-family:  'Gotham A', 'Gotham B', sans-serif !important;
    text-transform: uppercase;
}
#InstafeedSlider a{
	background: white;
}
#InstafeedSlider{
	width: 99%;
	margin: 0 auto;
	background: white!important;
}
/* INSTAFEED END **/

/* PAGE BACKGROUND COLOUR */

.cmsPage {
    background-color: #fff!important;
}

/* BUTTON ON RIGHT **/
.cmsCols1 .cmsItemTxt,.cmsCols1 .cmsItemTxtHold, .cmsCols3 .doubleCol .cmsItemTxt , .cmsCols3 .doubleCol .cmsItemTxtHold{
    float: right;
    text-align: right;
}

/** NEW in SLIDER **/

#new-in .owl-item{
    border: 5px solid #f3f3f3;
}
#new-in {    width: 98%;
    margin: 0 auto;padding-bottom: 20px;}

#new-in a{
        display: block;
    width: 25%;
    float: left;
}
#brands {
    padding: 20px;
}
#brands a.cta{
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    background: #000;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    width: 16%;
    text-align: center;
}
#new-in a .txtLink {
       font-size: 12px;
       margin: 15px auto;
       padding: 6px 15px;
       background: #000;
       line-height: 21px;
       color: #FFF;
       display: block;
       text-transform: uppercase;
       font-weight: 700;
     text-decoration: none;
     width: 75%;
     text-align: center;
}
#MainBanner a{
    width: 20%;
    display: block;
    float: left;
}
#MainBanner a img{
    width: 100%;
}
#new-in .bx-wrapper{
    width: 85%;
    margin: 0 auto;
}
#new-in a span{
    display: block;
    font-family: "Gotham SSm A","Gotham SSm B",Arial,san-serif;
text-align:center;
    }

.bold{
    display: block;
    font-weight: bold;
    font-family: "Gotham SSm A","Gotham SSm B",Arial,san-serif;
    padding: 8px 0;
    }
.cmsCols9 .cmsItem{
    width: 11.11%
}
/** Christmas styles Start here */
#uspExtension{background: transparent !important;}
.xmasUSP ul {position: absolute;z-index: 2;margin-top: 5%;width:21%;left:10%;padding-left: 0;}
.xmasUSP2 ul {position: absolute;z-index: 2;margin-top: 5%;width:21%;right: 10%;padding-left: 0;}
/*.xmas-usp-banner ul li {width: 22.5%;height: auto;display: inline-block;margin-right: 14px;}*/
.xmasUSP ul li {list-style-type:none;padding:3% 0;position: relative; }
/*.xmas-usp-banner ul li {width: 22.5%;height: auto;display: inline-block;margin-right: 14px;}*/
.xmasUSP2 ul li {list-style-type:none;padding:3% 0;position: relative;}
.xmasUSP2 a,.xmasUSP a {
    background: url(http://jdsports-client-resources.s3.amazonaws.com/mobile_images/2016/26.20.3026/Vector-Smart-Object.png);
    background-size:110%;
    background-position:center;
    color: #000;
    width:100%;
    height: 33.33px;
    display: block;
    line-height: 33.33px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media  (max-width: 1440px) {
.xmasUSP ul, .xmasUSP2 ul {margin-top: 4%!important}

.xmasUSP ul li {padding:3% 0!important;}
.xmasUSP2 ul li {padding:3% 0!important;}

  #gigiPos{
    bottom: 72% !important;
  }
  #gigiCTA{
    padding: 6px 15px !important;
  }

}
@media  (max-width: 960px) {
.xmasUSP ul, .xmasUSP2 ul {margin-top: 3%!important}
}

