.col-one-quarter{
	width:25%;
	display:block;
	float:left;
	position: relative;
	font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
	overflow: hidden;
}
.fsmainNav{
	max-width: 100%!important;
	padding-bottom: 0!important;
	padding-left: 0!important;
	padding-top: 0!important;
}
.col-one-quarter img{
	width: auto;
	height: 495px;
	float: left;
	display: block;
}
/*.col-one-quarter img {
	width: 407px!important;
}*/
/** Drop Down Img Sizes **/

#mens .col-one-quarter img{
	height: 650px!important;
}
#womens .col-one-quarter img{
	height: 578px!important;
}
#kids .col-one-quarter img{
	height: 610px!important;
}
#accessories .col-one-quarter img{
	height: 285px!important;
}
#running .col-one-quarter img{
	height: 420px!important;
}
#football .col-one-quarter img{
	height: 572px!important;
}
#bts .col-one-quarter img{
	height: 190px!important;
}

/** Links on Assets **/
div.ddcta ul li a {
    color: white!important;
    padding: 10px 0;
    font-size: 16px!important;
    margin-top: 10px!important;
  text-transform:uppercase;
}
.dTitle a{
    color: white!important;
    text-transform: uppercase!important;
    font-size: 22px!important;
    font-weight:600;
    padding-bottom: 10px!important;
    /* border-bottom: 1px solid white; */
    width: 100%!important;
    }
    .dTitle {
    border-bottom:1px solid white;
    margin:0 auto;
       margin-bottom:35px;
    }
    .sale a {
    color:red!important;
    }
div.ddcta .offers li a:nth-child(1){
color:white!important;
  margin-bottom:50px;
}

div.ddcta .offers li a {
   font-size: 11px!important;
  color:rgba(255, 255,255, 0.6)!important;
}
.ddcta{
        width: 80%;
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.col-three-quarter{
	width:69%;
	display:block;
	float:left;
	position: relative;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.col-four-quarter{
	width:98%;
	display:block;
	float:left;
	position: relative;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
	padding-left:2%;
}
.fifth ul li:nth-child(1) a, .fifth ul li:nth-child(1), .three ul li:nth-child(1) a, .three ul li:nth-child(1){
	font-weight:bold!important;
	font-size:12px!important;
	font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
}
 .fifth ul li:nth-child(1), .three ul li:nth-child(1){
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	margin-bottom:20px;
	text-transform: uppercase;

}
.fsnav ul{
	padding:0;
	margin:0;
	list-style-type: none;
	display: block!important;
}
.fsnav ul li a{
	text-decoration: none;
	color: black;
	font-weight: 600;
    font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
}
.fsnav .fifth{
	width:18%;
	display:block;
	float:left;
	margin-right:2%; 
}
.fsnav .fs-headImg{
	position: absolute;
	right: 7%;
	top: 0;
	float: right;
	width: 40%;
}
  #dropNavWidth{
	top:0!important;
  }
.fsnav .fs-headImg a{
	width: 100%;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding:10px 0;
}
.fsnav .fs-headImg a:nth-child(1){
	font-size: 24px;
	padding:5px 0;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.34);*/
}
.fsnav .fs-headImg a:nth-child(2){
	font-size: 14px;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.34);*/
}
.fsnav .fs-headImg a:nth-child(3){
	font-size: 16px;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.34);*/
}
.fsnav .fs-headImg a:nth-child(4){
	font-size: 16px;
	color: red;
	/*border-bottom: 0.5px solid rgba(255, 0, 0, 0.34);*/
}
.fsnav.col-one-quarter a.newin_btn{
	background: white;
    padding: 15px 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 16.76%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}
#kids .fsnav.col-one-quarter a.newin_btn{
	bottom:130px!important;
}

.fsnav .fs-headImg ul li a{
	font-weight:bold!important;
	text-transform: uppercase;
	font-style: italic;
	font-size: 14px!important;
}
.fsnav.col-three-quarter .three,.fsnav.col-four-quarter .three{
	width: 31.33%!important;
	display: block;
	float: left;
	margin-right: 2%!important;
}
img.tablet{
	display:none;
}
#football ul {margin-bottom:20px;}

.subTitleNav {
	font-weight: bold!important;
	text-transform:uppercase!important;
	font-size:11px!important;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
  	.fsnav .fs-headImg a:nth-child(1){
	font-size: 12px!important;
	padding:5px 0;
	}
	img.desktop{
		display:none!important;
	}
	img.tablet{
	display:block;
	}
	.fsnav .fs-headImg .fs-dd-MenuHead{
		font-size: 14px!important;
	}
	.fsnav .fs-headImg .fsMenuHead:nth-child(1),.fsnav .fs-headImg .fsMenuHead:nth-child(2) {
		font-size: 12px!important;
	}
	.fsnav .fs-headImg .fsMenuHead:nth-child(4){
		font-size: 12px!important;
		color: red;
	}
	.fsmainNav{
		padding: 10px 0 20px 0!important;
	}
	.fsnav .fs-headImg ul li a{
		font-weight:bold!important;
		text-transform: uppercase;
		font-style: italic;
		font-size: 12px!important;
	}
}
@media only screen and (device-width: 768px) {
	.col-one-quarter{
		display:none;
	}
	.col-three-quarter{
		width:100%;
	}
}
@media only screen and (max-width:1160px){
	.col-one-quarter{
		display:none;
	}
	.col-three-quarter{
		width:99%;

	}
	.col-three-quarter .fifth:nth-child(1){
		text-indent: 5%;
	}
}
@media only screen and (max-width:1300px){
	#accessories .col-one-quarter img{
	height: 250px!important;
}
	}
@media only screen and (max-width:1600px){
	.col-three-quarter{
		float: right!important;
	}
		.col-one-quarter{
	width:30%;
	}
}
@media only screen and (max-width:1400px){
	.fifth ul li:nth-child(1) a, .fifth ul li:nth-child(1), .three ul li:nth-child(1) a, .three ul li:nth-child(1){
		font-weight:bold!important;
		text-transform: uppercase;
		font-size:14px;
		font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif
	}
	#accessories .col-one-quarter img{
	height: 276px!important;
}

}
@media only screen and (max-width:1024px){
	.fsnav .fs-headImg a:nth-child(1){
		font-size: 12px!important;
		padding:5px 0;
	}
	img.desktop{
		display:none!important;
	}
	img.tablet{
		display:block;
	}
	.fsnav .fs-headImg .fs-dd-MenuHead{
		font-size: 14px!important;
	}
	.fsnav .fs-headImg .fsMenuHead:nth-child(1),.fsnav .fs-headImg .fsMenuHead:nth-child(2) {
		font-size: 12px!important;
	}
	.fsnav .fs-headImg .fsMenuHead:nth-child(4){
		font-size: 12px!important;
		color: red;
	}
	.fsmainNav{
		padding: 10px 0 20px 0!important;
	}
	.fsnav .fs-headImg ul li a{
		font-weight:bold!important;
		text-transform: uppercase;
		font-