@media screen and (min-width: 1601px) {

	.home-left-col,
	.home-mid-col,
	.home-right-col {
		display: block !important;
		}

	#body-main-wrap {
		display: table;
		float: none;
		margin: 0 auto;
		position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
		width: 1600px;
		}
	.insta-in {
		width: 1400px;
    margin: 0 auto !important;
	}
}

@media screen and (max-width: 1600px) and (min-width: 1501px) {

	.home-left-col,
	.home-mid-col,
	.home-right-col {
		display: block !important;
		}

		.insta-in {
		width: 1384px;
		margin: 30px auto !important;
		}

}

@media screen and (max-width: 1500px) and (min-width: 1400px) {


	.insta-in {
	width: 1277px;
	margin: 30px auto !important;
	}

	span.social-text {
		display: none;
		}

	.home-left-col,
	.home-mid-col,
	.home-right-col {
		display: block !important;
		}

	#home-feat-text {
		padding: 50px 3.61663652803% 35px; /* 20px / 553px */
		width: 92.7667269439%; /* 513px / 553px */
		}

	.category #home-feat-text {
		padding: 50px 2.30414746544% 20px; /* 20px / 868px */
		width: 95.3917050691%; /* 828px / 868px */
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 3.61663652803% 20px; /* 20px / 553px */
		width: 92.7667269439%; /* 513px / 553px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 3.61663652803%; /* 20px / 553px */
		width: 92.7667269439%; /* 513px / 553px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	ul.row-widget-list {
		margin-left: -3.89863547758%; /* 20px / 513px */
		width: 103.89863547758%; /* 533px / 513px */
		}

	ul.row-widget-list li {
		margin-left: 3.75234521576%; /* 20px / 533px */
		width: 29.5809881176%; /* 157.6666px / 533px */
		}

	.blog-widget-text h2 {
		font-size: 1rem;
		line-height: 130%;
		}

	#content-area,
	.post-feat-text {
		padding: 30px 3.45622119816%; /* 30px / 868px */
		width: 93.0875576037%; /* 808px / 868px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#archive-list-wrap {
		padding: 0 2.30414746544% 20px; /* 20px / 868px */
		width: 95.3917050691%; /* 828px / 868px */
		}

	ul.archive-col-list {
		margin-left: -2.4154589372%; /* 20px / 828px */
		width: 102.4154589372%; /* 848px / 828px */
		}

	ul.archive-col-list li {
		margin-left: 2.35849065504%; /* 20px / 848px */
		width: 30.9748427673%; /* 262.6666px / 848px */
		}

	.archive-list-out {
		margin-left: -270px;
		}

	.archive-list-in {
		margin-left: 270px;
		}

	.archive-list-img {
		width: 250px;
		}

	.feat-top2-left-text {
		padding: 30px 2.53807106599% 15px; /* 15px / 591px */
		width: 94.93%; /* 561px / 591px */
		}

	.feat-top2-right-text {
		padding: 30px 5.08474576271% 15px; /* 15px / 295px */
		width: 89.84%; /* 265px / 295px */
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1.4rem;
		}

	#feat-wide-sub {
		width: 20%;
		}

	.feat-wide5-text {
		padding: 40px 6.77966101695% 20px; /* 20px / 295px */
		width: 86.45%; /* 255px / 295px */
		}

	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: 1.4rem;
		}

}

@media screen and (max-width: 1399px) and (min-width: 1250px) {


				.insta-in {
				width: 1037px;
				margin: 0 auto !important;
				}
	.row-widget-wrap .feat-info-wrap,
	span.social-text {
		display: none;
		}

	.home-left-col,
	.home-mid-col,
	.home-right-col {
		display: block !important;
		}

	.home-wrap-out2 {
		margin-left: -265px;
		}

	.home-wrap-in2 {
		margin-left: 265px;
		}

	.home-mid-col {
		width: 250px;
		}

	.side-list-text p {
		font-size: .75rem;
		}

	#home-feat-text {
		padding: 50px 4.41501103753% 35px; /* 20px / 453px */
		width: 91.1699779249%; /* 413px / 453px */
		}

	.category #home-feat-text {
		padding: 50px 2.71002710027% 20px; /* 20px / 738px */
		width: 94.5799457995%; /* 698px / 738px */
		}

	#home-feat-text h2,
	.feat-top2-left-text h2,
	.feat-wide1-text h2,
	.feat-wide4-text h2 {
		font-size: 1.9rem;
		}

	#feat-top-wrap #home-feat-text h2 {
		font-size: 2.3rem;
		}

	#home-feat-text p,
	.feat-top2-left-text p,
	.feat-wide1-text p,
	.feat-wide4-text p {
		font-size: 1rem;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 4.3956043956% 20px; /* 20px / 455px */
		width: 91.2087912088%; /* 415px / 455px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 4.3956043956%; /* 20px / 455px */
		width: 91.2087912088%; /* 415px / 455px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	ul.row-widget-list {
		margin-left: -4.81927710843%; /* 20px / 415px */
		width: 104.81927710843%; /* 435px / 415px */
		}

	ul.row-widget-list li {
		margin-left: 4.59770114943%; /* 20px / 435px */
		width: 28.7356321839%; /* 125px / 435px */
		}

	.row-widget-text p {
		font-size: .75rem;
		}

	.blog-widget-text h2 {
		font-size: 1rem;
		line-height: 130%;
		}

	.blog-widget-img {
		margin-right: 4.84261501211%; /* 20px / 413px */
		width: 36.3196125908%; /* 150px / 413px */
		}

	.blog-widget-text {
		width: 58.8377723971%; /* 243px / 413px */
		}

	#post-header {
		display: block;
		float: left;
		margin: 30px 4.1782729805%; /* 30px / 718px */
		padding: 0;
		width: 91.643454039%; /* 658px / 718px */
		}

	h1.post-title,
	#content-main h1.post-title {
		font-size: 2.1rem;
		}

	#content-area,
	.post-feat-text {
		padding: 30px 4.1782729805%; /* 30px / 718px */
		width: 91.643454039%; /* 658px / 718px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#archive-list-wrap {
		padding: 0 2.78551532033% 20px; /* 20px / 718px */
		width: 94.4289693593%; /* 678px / 718px */
		}

	ul.archive-col-list {
		margin-left: -2.94985250737%; /* 20px / 678px */
		width: 102.94985250737%; /* 698px / 678px */
		}

	ul.archive-col-list li {
		margin-left: 2.86532951289%; /* 20px / 698px */
		width: 30.4680038204%; /* 212.6666px / 698px */
		height: 340px;
		}

	.archive-list-out {
		margin-left: -270px;
		}

	.archive-list-in {
		margin-left: 270px;
		}

	.archive-list-img {
		width: 250px;
		}

	#foot-widget-wrap {
		margin-left: -2.90416263311%; /* 30px / 1033px */
		width: 102.90416263311%; /* 1063px / 1033px */
		}

	.foot-widget {
		margin-left: 2.82220131703%; /* 30px / 1063px */
		width: 30.5111320163%; /* 324.333333px / 1063px */
		}

	.feat-top2-left-text {
		padding: 30px 2.90697674419% 15px; /* 15px / 516px */
		width: 94.19%; /* 486px / 516px */
		}

	.feat-top2-right-text {
		padding: 30px 5.83657587549% 15px; /* 15px / 257px */
		width: 88.33%; /* 227px / 257px */
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 3rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1.4rem;
		}

	#feat-wide-sub {
		width: 20%;
		}

	#feat-wide-sub {
		width: 20%;
		}

	.feat-wide5-main {
		margin-left: .145208131655%; /* 1.5px / 1033px */
		width: 24.8910939013%; /* 257.125px / 1033px */
		}

	.feat-wide5-text {
		padding: 40px 7.78210116732% 20px; /* 20px / 257px */
		width: 84.44%; /* 217px / 257px */
		}

	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: 1.4rem;
		}

	.post-wide-text1 {
		padding: 60px 20% 30px;
		width: 60%;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 20px 2.78551532033%; /* 20px / 718px */
		width: 94.4289693593%; /* 678px / 718px */
		}

	.mvp-related-text a {
		font-size: .8rem;
		}

}

@media screen and (max-width: 1249px) and (min-width: 1100px) {

	.row-widget-wrap .feat-info-wrap,
	#prev-next-wrap,
	#wallpaper,
	span.social-text,
	span.social-text-com {
		display: none;
		}

	.home-left-col,
	.home-mid-col,
	.home-right-col {
		display: block !important;
		}

	.body-main-out {
		margin-left: -30px;
		right: 15px
		}



	.body-main-in {
		margin-left: 30px;
		}

	.home-wrap-out2 {
		margin-left: -265px;
		}

	.home-wrap-in2 {
		margin-left: 265px;
		}

	.home-mid-col {
		width: 250px;
		}

	.side-list-text p {
		font-size: .75rem;
		}

	#home-feat-text {
		padding: 50px 4.41501103753% 35px; /* 20px / 453px */
		width: 91.1699779249%; /* 413px / 453px */
		}

	.category #home-feat-text {
		padding: 50px 2.71002710027% 20px; /* 20px / 738px */
		width: 94.5799457995%; /* 698px / 738px */
		}

	#home-feat-text h2,
	.feat-top2-left-text h2,
	.feat-wide1-text h2,
	.feat-wide4-text h2 {
		font-size: 1.9rem;
		}

	#feat-top-wrap #home-feat-text h2 {
		font-size: 2.3rem;
		}

	#home-feat-text p,
	.feat-top2-left-text p,
	.feat-wide1-text p,
	.feat-wide4-text p {
		font-size: 1rem;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 4.3956043956% 20px; /* 20px / 455px */
		width: 91.2087912088%; /* 415px / 455px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 4.3956043956%; /* 20px / 455px */
		width: 91.2087912088%; /* 415px / 455px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	ul.row-widget-list {
		margin-left: -4.81927710843%; /* 20px / 415px */
		width: 104.81927710843%; /* 435px / 415px */
		}

	ul.row-widget-list li {
		margin-left: 4.59770114943%; /* 20px / 435px */
		width: 28.7356321839%; /* 125px / 435px */
		}

	.row-widget-text p {
		font-size: .75rem;
		}

	.blog-widget-text h2 {
		font-size: 1rem;
		line-height: 130%;
		}

	.blog-widget-img {
		margin-right: 4.5871559633%; /* 20px / 436px */
		width: 34.4036697248%; /* 150px / 436px */
		}

	.blog-widget-text {
		width: 61.0091743119%; /* 266px / 436px */
		}

	#post-header {
		display: block;
		float: left;
		margin: 30px 4.1782729805%; /* 30px / 718px */
		padding: 0;
		width: 91.643454039%; /* 658px / 718px */
		max-width: none;
		}

	h1.post-title,
	#content-main h1.post-title {
		font-size: 2.1rem;
		}

	#content-area,
	.post-feat-text {
		padding: 30px 4.06504065041%; /* 30px / 738px */
		width: 91.8699186992%; /* 678px / 738px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#archive-list-wrap {
		padding: 0 2.78551532033% 20px; /* 20px / 718px */
		width: 94.4289693593%; /* 678px / 718px */
		}

	ul.archive-col-list {
		margin-left: -2.94985250737%; /* 20px / 678px */
		width: 102.94985250737%; /* 698px / 678px */
		}

	ul.archive-col-list li {
		margin-left: 2.86532951289%; /* 20px / 698px */
		width: 30.4680038204%; /* 212.6666px / 698px */
		height: 340px;
		}

	.archive-list-out {
		margin-left: -270px;
		}

	.archive-list-in {
		margin-left: 270px;
		}

	.archive-list-img {
		width: 250px;
		}

	#foot-widget-wrap {
		margin-left: 0;
		width: 100%;
		}

	.foot-widget {
		margin-left: 2.849002849%; /* 30px / 1053px */
		width: 29.534662868%; /* 311px / 1053px */
		}

	.feat-top2-left-text {
		padding: 30px 2.90697674419% 15px; /* 15px / 516px */
		width: 94.19%; /* 486px / 516px */
		}

	.feat-top2-right-text {
		padding: 30px 5.83657587549% 15px; /* 15px / 257px */
		width: 88.33%; /* 227px / 257px */
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 3rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1.4rem;
		}

	#feat-wide-sub {
		width: 20%;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		padding-left: 30px;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		padding-right: 30px;
		}

	.feat-wide5-main {
		margin-left: .145208131655%; /* 1.5px / 1033px */
		width: 24.8910939013%; /* 257.125px / 1033px */
		}

	.feat-wide5-text {
		padding: 40px 7.78210116732% 20px; /* 20px / 257px */
		width: 84.44%; /* 217px / 257px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: 1.3rem;
		}

	.post-wide-text1 {
		padding: 60px 20% 30px;
		width: 60%;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 20px 2.78551532033%; /* 20px / 718px */
		width: 94.4289693593%; /* 678px / 718px */
		}

	.mvp-related-text a {
		font-size: .8rem;
		}

}

@media screen and (max-width: 1099px) and (min-width: 1004px) {

	#tab-col2,
	.feat-title-wrap,
	#tab-col2 .side-title-wrap,
	ul.col-tabs li.pop-col-tab,
	#prev-next-wrap,
	#wallpaper {
		display: none;
		}

	.home .fixed {
		-webkit-box-shadow: none;
	 	   -moz-box-shadow: none;
	  	    -ms-box-shadow: none;
	   	     -o-box-shadow: none;
			box-shadow: none;
		}

	.col-tabs-wrap {
		display: block;
		}

	.home .tabs-top-marg {
		margin-top: 30px !important;
		}

	.body-main-out {
		margin-left: -30px;
		right: 15px
		}

	.body-main-in {
		margin-left: 30px;
		}

	.home-wrap-out2,
	.home-wrap-in2 {
		margin-left: 0;
		}

	ul.col-tabs li {
		width: 50%;
		}

	#home-feat-text,
	#feat-top-wrap #home-feat-text {
		padding-bottom: 20px;
		}

	.category #home-feat-text {
		padding: 50px 3.11526479751% 20px; /* 20px / 642px */
		width: 93.769470405%; /* 602px / 642px */
		}

	.home-mid-col {
		margin-right: 0;
		width: 100%;
		}

	.home-right-col {
		display: block !important;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 3.11526479751% 20px; /* 20px / 642px */
		width: 93.769470405%; /* 602px / 642px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 3.11526479751%; /* 20px / 642px */
		width: 93.769470405%; /* 602px / 642px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	.home-mid-col ul.side-list li {
		padding: 15px 2.33644859813%; /* 15px / 642px */
		width: 95.3271028037%; /* 612px / 642px */
		}

	.home-mid-col .side-list-text p {
		font-size: 1rem;
		line-height: 120%;
		}

	#post-header {
		display: block;
		float: left;
		margin: 30px 4.67289719626%; /* 30px / 642px */
		padding: 0;
		width: 90.6542056075%; /* 582px / 642px */
		}

	h1.post-title,
	#content-main h1.post-title {
		font-size: 2rem;
		}

	#content-area,
	.post-feat-text {
		padding: 30px 4.67289719626%; /* 30px / 642px */
		width: 90.6542056075%; /* 582px / 642px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.post-cont-out,
	.post-cont-in {
		margin-right: 0;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#post-sidebar-wrap {
		border-top: 1px solid #ddd;
		float: left;
		margin-left: 0;
		margin-top: 20px;
		padding-top: 20px;
		width: 100%;
		}

	#archive-list-wrap {
		padding: 0 3.11526479751% 20px; /* 20px / 642px */
		width: 93.769470405%; /* 602px / 642px */
		}

	ul.archive-col-list {
		margin-left: -3.32225913621%; /* 20px / 602px */
		width: 103.32225913621%; /* 622px / 602px */
		}

	ul.archive-col-list li {
		margin-left: 3.2154340836%; /* 20px / 622px */
		width: 46.7845659164%; /* 291px / 622px */
		}

	.archive-list-out {
		margin-left: -270px;
		}

	.archive-list-in {
		margin-left: 270px;
		}

	.archive-list-img {
		width: 250px;
		}

	#foot-widget-wrap {
		margin-left: 0;
		width: 100%;
		}

	.foot-widget {
		margin-left: 3.13479623824%; /* 30px / 957px */
		margin-bottom: 60px;
		width: 45.2978056426%; /* 433.5px / 957px */
		}

	.foot-widget:nth-child(3n+3) {
		clear: both;
		}

	.feat-top2-left-text {
		padding: 30px 3.04259634888% 15px; /* 15px / 493px */
		width: 93.92%; /* 463px / 493px */
		}

	.feat-top2-right-text {
		padding: 30px 6.09756097561% 15px; /* 15px / 246px */
		width: 87.81%; /* 216px / 246px */
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.8rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1.3rem;
		}

	#feat-wide-sub {
		width: 25%;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		padding-left: 30px;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		padding-right: 30px;
		}

	.feat-wide5-main {
		margin-left: .145208131655%; /* 1.5px / 1033px */
		width: 24.8910939013%; /* 257.125px / 1033px */
		}

	.feat-wide5-text {
		padding: 40px 8.40336134454% 20px; /* 20px / 238px */
		width: 83.2%; /* 198px / 238px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: 1.2rem;
		}

	.post-wide-text1 {
		padding: 60px 20% 30px;
		width: 60%;
		}

	h1.post-title-wide,
	#content-main h1.post-title {
		font-size: 2.7rem;
		}

	.post-wide-text1 span.post-excerpt p {
		font-size: 1.1rem;
		}

	#post-wide-video {
		display: block;
		margin: 0;
		max-width: none;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 20px 2.78551532033%; /* 20px / 718px */
		width: 94.4289693593%; /* 678px / 718px */
		}

}

@media screen and (max-width: 1003px) and (min-width: 900px) {

	.fly-to-top,
	#tab-col2,
	nav.main-menu-wrap,
	.feat-title-wrap,
	#tab-col2 .side-title-wrap,
	ul.col-tabs li.pop-col-tab,
	span.social-text,
	#prev-next-wrap,
	#wallpaper,
	.logo-left-wrap,
	.logo-wide-wrap {
		display: none;
		}

	.home .fixed {
		-webkit-box-shadow: none;
	 	   -moz-box-shadow: none;
	  	    -ms-box-shadow: none;
	   	     -o-box-shadow: none;
			box-shadow: none;
		}

	.col-tabs-wrap {
		display: block;
		}

	.home .tabs-top-marg {
		margin-top: 30px !important;
		}

	.body-main-out {
		margin-left: -20px;
		right: 10px
		}

	.body-main-in {
		margin-left: 20px;
		}

	.home-wrap-out2,
	.home-wrap-in2 {
		margin-left: 0;
		}

	ul.col-tabs li {
		width: 50%;
		}

	.home-mid-col {
		margin-right: 0;
		width: 100%;
		}

	.home-right-col {
		display: block !important;
		}

	ul.side-list li {
		padding: 15px 2.33644859813%; /* 15px / 642px */
		width: 95.3271028037%; /* 612px / 642px */
		}

	.side-list-text p {
		font-size: 1rem;
		line-height: 120%;
		}

	#home-feat-text,
	.category #home-feat-text {
		padding: 50px 3.6496350365% 20px; /* 20px / 548px */
		width: 92.700729927%; /* 508px / 548px */
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 3.6496350365% 20px; /* 20px / 548px */
		width: 92.700729927%; /* 508px / 548px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 3.6496350365%; /* 20px / 548px */
		width: 92.700729927%; /* 508px / 548px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	#feat-top-wrap #home-feat-text {
		padding: 50px 2.31749710313% 20px; /* 20px / 863px */
		width: 95.4%; /* 823px / 863px */
		}

	ul.row-widget-list {
		margin-left: -3.93700787402%; /* 20px / 508px */
		width: 103.93700787402%; /* 528px / 508px */
		}

	ul.row-widget-list li {
		margin-left: 3.787878787878%; /* 20px / 528px */
		width: 29.5454545454545%; /* 156px / 528px */
		}

	.blog-widget-text h2,
	#post-right-col .blog-widget-text h2 {
		font-size: 1rem;
		line-height: 130%;
		}

	.blog-widget-img {
		margin-right: 3.44827586207%; /* 20px / 508px */
		width: 31.0344827586%; /* 180px / 508px */
		}

	.blog-widget-text {
		width: 60.6299212598%; /* 308px / 508px */
		}

	#content-area,
	.post-feat-text {
		padding: 30px 3.47624565469%; /* 30px / 863px */
		width: 93.0475086906%; /* 803px / 863px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.post-wrap-out1,
	.post-wrap-in1 {
		margin-right: 0;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#post-right-col {
		margin: 15px 0 0 0;
			width: 100%;
		}

	#post-right-col .feat-widget-img {
		width: 34.7624565469%; /* 300px / 863px */
		max-height: none;
		}

	#post-right-col .feat-widget-text {
		padding: 20px 2.31749710313%; /* 20px / 863px */
		width: 60.6025492468%; /* 523px / 863px */
		}

	#post-right-col .feat-widget-text h2 {
		font-size: 1.15rem;
		}

	#post-right-col .side-widget {
		padding: 20px 2.31749710313%; /* 20px / 863px */
		width: 95.3650057937%; /* 823px / 863px */
		}

	#post-right-col .blog-widget-img {
		margin-right: 1.82260024301%; /* 15px / 823px */
		width: 9.7205346294%; /* 80px / 823px */
		max-width: 80px;
		}

	#post-right-col .blog-widget-text {
		width: 88.4568651276%; /* 728px / 823px */
		}

	#post-right-col .blog-widget-text p {
		display: block !important;
		}

	#archive-list-wrap {
		padding: 0 3.6496350365% 20px; /* 20px / 548px */
		width: 92.700729927%; /* 508px / 548px */
		}

	ul.archive-col-list {
		margin-left: -3.93700787402%; /* 20px / 508px */
		width: 103.93700787402%; /* 528px / 508px */
		}

	ul.archive-col-list li {
		margin-left: 3.787878787878%; /* 20px / 528px */
		width: 46.212121212121%; /* 244px / 528px */
		}

	.archive-list-out {
		margin-left: -220px;
		}

	.archive-list-in {
		margin-left: 220px;
		}

	.archive-list-img {
		width: 200px;
		}

	.archive-list-text h2 {
		font-size: 1rem;
		}

	#foot-widget-wrap {
		margin-left: 0;
		width: 100%;
		}

	.foot-widget {
		margin-left: 3.47624565469%; /* 30px / 863px */
		margin-bottom: 60px;
		width: 44.785631518%; /* 386.5px / 863px */
		}

	.foot-widget:nth-child(3n+3) {
		clear: both;
		}

	.feat-top2-left-wrap,
	.feat-top2-right-wrap {
		width: 100%;
		}

	#feat-wide-wrap .feat-top2-left-wrap {
		height: 370px;
		}

	.feat-top2-left-wrap {
		margin-bottom: 1px;
		}

	.feat-top2-right-wrap,
	#feat-wide-wrap .feat-top2-right-wrap {
		height: auto;
		}

	.feat-top2-right {
		margin-left: .173812282735%; /* 1.5px / 863px */
		width: 33.2174584782%; /* 286.666px / 863px */
		}

	.feat-top2-right:first-child {
		margin-left: 0;
		}

	.feat-top2-right,
	.feat-top2-right:first-child,
	#feat-top-wrap .feat-top2-right,
	#feat-top-wrap .feat-top2-right:first-child,
	#feat-wide-wrap .feat-top2-right,
	#feat-wide-wrap .feat-top2-right:first-child {
		height: 150px;
		}

	.feat-top2-right:first-child .feat-top2-right-img img,
	.feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right:first-child .feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right-img img {
		min-width: 260px;
		}

	.feat-top2-right:first-child .feat-top2-big {
		display: none;
		}

	.feat-top2-right:first-child .feat-top2-small {
		display: block;
		}

	.feat-top2-right-text h2,
	.feat-top2-right:first-child .feat-top2-right-text h2 {
		font-size: .9rem;
		}

	.feat-top2-left-text {
		padding: 30px 1.66666666% 15px; /* 15px / 900px */
		width: 96.67%; /* 870px / 900px */
		}

	.feat-top2-right-text {
		padding: 30px 5.22648083624% 15px; /* 15px / 287px */
		width: 89.55%; /* 257px / 287px */
		}

	#feat-top-wrap .feat-top2-left-wrap .feat-info-wrap,
	#feat-top-wrap .feat-top2-right-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.8rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1.3rem;
		}

	.feat-wide4-text {
		width: 30%;
		}

	#feat-wide-sub {
		width: 25%;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		padding-left: 30px;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		padding: 50px 30px 20px 100px;
		}

	#feat-top-wrap #feat-wide-main,
	#feat-wide-wrap #feat-wide-main {
		height: auto;
		}

	#feat-wide-main .feat-wide1-img img {
		position: relative;
		left: auto;
		right: auto;
		}

	.feat-wide1-img img {
		margin-top: 0 !important;
		}

	.feat-wide4-text,
	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		height: 500px;
		}

	#feat-top-wrap .feat-wide5-main,
	#feat-wide-wrap .feat-wide5-main {
		height: 370px;
		}

	.feat-wide5-img img {
		min-width: 660px;
		}

	.feat-wide5-main {
		margin-left: .145208131655%; /* 1.5px / 1033px */
		width: 24.8910939013%; /* 257.125px / 1033px */
		}

	.feat-wide5-text {
		padding: 30px 6.97674418605% 15px; /* 15px / 215px */
		width: 86.05%; /* 185px / 215px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: 1rem;
		}

	.post-wide-text1 {
		padding: 40px 15% 30px;
		width: 70%;
		}

	h1.post-title-wide {
		font-size: 2.5rem;
		}

	.post-wide-text1 span.post-excerpt p {
		font-size: 1rem;
		}

	#post-wide-video {
		display: block;
		margin: 0;
		max-width: none;
		padding: 0;
		width: 100%;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 20px 3.6496350365%; /* 20px / 548px */
		width: 92.700729927%; /* 508px / 548px */
		}

	.video-main-text h2 {
		font-size: 1.1rem;
		}

	.logo-leader-out,
	.logo-leader-in {
		margin-left: 0;
		}

	.logo-left-wrap {
		margin-bottom: 15px;
		margin-right: 0;
		text-align: center;
		width: 100%;
		}

	.nav-logo-out {
		margin-left: -280px !important;
		}

	.nav-logo-in {
		margin-left: 280px !important;
		}

	.nav-left-wrap {
		width: 280px !important;
		}

	.nav-logo-fade {
		width: 200px;
		}

	.mvp-related-text a {
		font-size: .8rem;
		}

}

@media screen and (max-width: 899px) and (min-width: 768px) {

	nav.main-menu-wrap,
	.fly-to-top,
	#tab-col2,
	.feat-title-wrap,
	#tab-col2 .side-title-wrap,
	ul.col-tabs li.pop-col-tab,
	.blog-widget-text p,
	span.social-text,
	#prev-next-wrap,
	.archive-list-text p,
	#wallpaper,
	.logo-left-wrap,
	.logo-wide-wrap {
		display: none;
		}

	.home .fixed {
		-webkit-box-shadow: none;
	 	   -moz-box-shadow: none;
	  	    -ms-box-shadow: none;
	   	     -o-box-shadow: none;
			box-shadow: none;
		}

	.col-tabs-wrap {
		display: block;
		}

	.home .tabs-top-marg {
		margin-top: 30px !important;
		}

	.body-main-out {
		margin-left: -20px;
		right: 10px
		}

	.body-main-in {
		margin-left: 20px;
		}

	.home-wrap-out2,
	.home-wrap-in2 {
		margin-left: 0;
		}

	ul.col-tabs li {
		width: 50%;
		}

	#home-feat-text {
		padding-bottom: 20px;
		}

	.home-mid-col {
		margin-right: 0;
		width: 100%;
		}

	.home-right-col {
		display: block !important;
		}

	ul.side-list li {
		padding: 15px 3.60576923077%; /* 15px / 416px */
		width: 92.7884615385%; /* 386px / 416px */
		}

	#post-right-col ul.side-list li {
		padding: 15px 2.05198358413%; /* 15px / 731px */
		width: 95.8960328317%; /* 701px / 731px */
		}

	.side-list-text p {
		font-size: 1rem;
		line-height: 120%;
		}

	#home-feat-text,
	.category #home-feat-text {
		padding: 50px 4.81927710843% 20px; /* 20px / 415px */
		width: 90.3614457831%; /* 375px / 415px */
		}

	#home-feat-text h2,
	.feat-top2-left-text h2,
	.feat-wide1-text h2,
	.feat-wide4-text h2 {
		font-size: 1.9rem;
		}

	#home-feat-text p,
	.feat-top2-left-text p,
	.feat-wide1-text p,
	.feat-wide4-text p {
		font-size: 1rem;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 4.80769230769% 20px; /* 20px / 416px */
		width: 90.3846153846%; /* 376px / 416px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 4.80769230769%; /* 20px / 416px */
		width: 90.3846153846%; /* 376px / 416px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	#feat-top-wrap #home-feat-text,
	.feat-wide1-text {
		padding: 50px 2.73597811218% 20px; /* 20px / 731px */
		width: 94.53%; /* 691px / 731px */
		}

	#feat-top-wrap #home-feat-text h2 {
		font-size: 2.3rem;
		}

	#feat-wide-wrap {
		height: auto;
		}

	.feat-wide1-text {
		padding-bottom: 40px;
		}

	.feat-wide1-img img,
	.feat-top2-left-img img,
	.feat-top2-right-img img {
		position: relative;
		left: auto;
		right: auto;
		}

	#feat-wide-main .feat-wide1-text h2,
	#feat-wide-main .feat-wide4-text h2 {
		font-size: 3rem;
		}

	#feat-wide-main .feat-wide1-text p,
	#feat-wide-main .feat-wide4-text p {
		font-size: 1.4rem;
		}

	ul.row-widget-list {
		margin-left: 0;
		margin-bottom: -20px;
		width: 100%;
		}

	ul.row-widget-list li {
		border-top: 1px solid #ddd;
		margin-left: 0;
		padding: 20px 0;
		width: 100%;
		}

	ul.row-widget-list li:first-child {
		border-top: none;
		padding-top: 0;
		}

	.row-widget-img,
	.blog-widget-img {
		margin: 0 5.31914893617% 0 0; /* 20px / 376px */
		width: 39.8936170213%; /* 150px / 376px */
		}

	.row-widget-text,
	.blog-widget-text {
		width: 54.7872340426%; /* 206px / 376px */
		}

	.row-widget-text p,
	.blog-widget-text h2 {
		font-size: .9rem;
		}

	.post-wrap-out1,
	.post-wrap-in1 {
		margin-right: 0;
		}

	#post-header {
		display: block;
		float: left;
		margin: 30px 4.10396716826%; /* 30px / 731px */
		padding: 0;
		width: 91.7920656635%; /* 671px / 731px */
		}

	#content-area,
	.post-feat-text {
		padding: 30px 4.10396716826%; /* 30px / 731px */
		width: 91.7920656635%; /* 671px / 731px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#post-right-col {
		margin: 20px 0 0 0;
			width: 100%;
		}

	#post-right-col .feat-widget-img {
		width: 34.1997264022%; /* 250px / 731px */
		max-height: none;
		}

	#post-right-col .feat-widget-text {
		padding: 20px 2.73597811218%; /* 20px / 731px */
		width: 60.3283173735%; /* 441px / 731px */
		}

	#post-right-col .feat-widget-text h2 {
		font-size: 1.15rem;
		}

	#post-right-col .side-widget {
		padding: 15px 2.05198357413%; /* 15px / 731px */
		width: 95.8960328317%; /* 701px / 731px */
		}

	#post-right-col .blog-widget-img {
		margin-right: 2.13980028531%; /* 15px / 701px */
		width: 11.4122681883%; /* 80px / 701px */
		max-width: 80px;
		}

	#post-right-col .blog-widget-text {
		width: 73.6330498177%; /* 606px / 823px */
		}

	#post-right-col .blog-widget-text h2 {
		font-size: 1rem;
		}

	#archive-list-wrap {
		padding: 0 4.80769230769% 20px; /* 20px / 416px */
		width: 90.38446153846%; /* 376px / 416px */
		}

	ul.archive-col-list {
		margin-left: -3.93700787402%; /* 20px / 508px */
		width: 103.93700787402%; /* 528px / 508px */
		}

	ul.archive-col-list li {
		margin-left: 3.787878787878%; /* 20px / 528px */
		width: 46.212121212121%; /* 244px / 528px */
		height: 220px;
		}

	h1.arch-head {
		line-height: 130%;
		margin: 10px 0 30px;
		}

	.archive-list-out {
		margin-left: -170px;
		}

	.archive-list-in {
		margin-left: 170px;
		}

	.archive-list-img {
		width: 150px;
		}

	.archive-list-text h2 {
		font-size: 1rem;
		}

	#foot-widget-wrap {
		margin-left: 0;
		width: 100%;
		}

	.foot-widget {
		margin-left: 4.10396716826%; /* 30px / 731px */
		margin-bottom: 60px;
		width: 43.8440492476%; /* 320.5px / 731px */
		}

	.foot-widget:nth-child(3n+3) {
		clear: both;
		}

	#foot-bot {
		margin: 10px 3.11041990669%; /* 20px / 643px */
		width: 93.7791601866%; /* 603px / 643px */
		}

	.foot-menu {
		margin-bottom: 15px;
		max-width: none;
		text-align: center;
		width: 100%;
		}

	.foot-copy {
		max-width: none;
		width: 100%;
		}

	.category h1.cat-head {
		font-size: 1.3rem;
		}

	.author-page-text h1.cat-head {
		margin-bottom: 10px;
		}

	.author-box-bot,
	h4.post-header {
		margin-bottom: 20px;
		}

	.feat-top2-left-wrap,
	.feat-top2-right-wrap {
		width: 100%;
		}

	.feat-top2-left-wrap {
		margin-bottom: 1px;
		}

	#feat-wide-wrap .feat-top2-left-wrap {
		height: 370px;
		}

	.feat-top2-right-wrap,
	#feat-wide-wrap .feat-top2-right-wrap {
		height: auto;
		}

	.feat-top2-right {
		margin-left: .173812282735%; /* 1.5px / 863px */
		width: 33.2174584782%; /* 286.666px / 863px */
		}

	.feat-top2-right:first-child {
		margin-left: 0;
		}

	.feat-top2-right,
	.feat-top2-right:first-child,
	#feat-wide-wrap .feat-top2-right,
	#feat-wide-wrap .feat-top2-right:first-child {
		height: 150px;
		}

	.feat-top2-right:first-child .feat-top2-right-img img,
	.feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right:first-child .feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right-img img {
		min-width: 260px;
		}

	.feat-top2-right:first-child .feat-top2-big {
		display: none;
		}

	.feat-top2-right:first-child .feat-top2-small {
		display: block;
		}

	.feat-top2-right-text h2,
	.feat-top2-right:first-child .feat-top2-right-text h2 {
		font-size: .9rem;
		}

	.feat-top2-left-text {
		padding: 30px 2.05198358413% 15px; /* 15px / 731px */
		width: 95.9%; /* 701px / 731px */
		}

	.feat-top2-right-text {
		padding: 30px 6.19834710744% 15px; /* 15px / 242px */
		width: 87.61%; /* 212px / 242px */
		}

	#feat-top-wrap .feat-top2-left-wrap .feat-info-wrap,
	#feat-top-wrap .feat-top2-right-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	#feat-wide-main {
		height: auto;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		padding: 40px 100px 40px 20px;
		height: 612px;
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.5rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1.1rem;
		}

	#feat-wide-sub,
	.feat-wide4-text {
		width: 30%;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		padding: 50px 100px 20px 20px;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		padding: 20px 20px 20px 100px;
		height: 692px;
		}

	ul.feat-wide-sub-list li {
		margin-bottom: 15px;
		}

	#feat-top-wrap #feat-wide-main,
	#feat-wide-wrap #feat-wide-main {
		height: auto;
		}

	.feat-wide1-img img {
		margin-top: 0 !important;
		}

	.feat-wide4-text,
	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		height: 500px;
		}

	#feat-top-wrap .feat-wide5-main,
	#feat-wide-wrap .feat-wide5-main {
		height: 300px;
		}

	.feat-wide5-img img {
		min-width: 540px;
		}

	.feat-wide5-main {
		margin-left: .205198358413%; /* 1.5px / 731px */
		width: 24.8461012312%; /* 181.625px / 731px */
		}

	.feat-wide5-text {
		padding: 30px 8.24175824176% 15px; /* 15px / 182px */
		width: 83.52%; /* 152px / 182px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: .9rem;
		}

	.post-wide-text1 {
		padding: 40px 15% 30px;
		width: 70%;
		}

	h1.post-title-wide {
		font-size: 2.4rem;
		}

	.post-wide-text1 span.post-excerpt p {
		font-size: 1rem;
		}

	#post-wide-video {
		display: block;
		margin: 0;
		max-width: none;
		padding: 0;
		width: 100%;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 20px 4.80769230769%; /* 20px / 416px */
		width: 90.3846153846%; /* 376px / 416px */
		}

	.video-main-text h2 {
		font-size: 1.1rem;
		}

	.logo-leader-out,
	.logo-leader-in {
		margin-left: 0;
		}

	.logo-left-wrap {
		margin-bottom: 15px;
		margin-right: 0;
		text-align: center;
		width: 100%;
		}

	.nav-logo-out {
		margin-left: -280px !important;
		}

	.nav-logo-in {
		margin-left: 280px !important;
		}

	.nav-left-wrap {
		width: 280px !important;
		}

	.nav-logo-fade {
		width: 200px;
		}

	.mvp-related-text a {
		font-size: .8rem;
		}

}

@media screen and (max-width: 767px) and (min-width: 660px) {

	nav.main-menu-wrap,
	.fly-to-top,
	#tab-col2,
	#tab-col3,
	.feat-title-wrap,
	.side-title-wrap,
	#prev-next-wrap,
	#wallpaper,
	.logo-left-wrap,
	.logo-wide-wrap {
		display: none;
		}

	.home .fixed {
		-webkit-box-shadow: none;
	 	   -moz-box-shadow: none;
	  	    -ms-box-shadow: none;
	   	     -o-box-shadow: none;
			box-shadow: none;
		}

	.col-tabs-wrap {
		display: block;
		}

	.home .tabs-top-marg {
		margin-top: 30px !important;
		}

	.body-main-out,
	.body-main-in {
		margin-left: 0;
		right: auto;
		}

	.home-wrap-out1,
	.home-wrap-in1 {
		margin-right: 0;
		}

	.home-wrap-out2,
	.home-wrap-in2 {
		margin-left: 0;
		}

	#home-feat-text {
		padding-bottom: 20px;
		}

	.category #home-feat-text,
	#feat-top-wrap #home-feat-text,
	.feat-wide1-text {
		padding: 50px 3.0303030303% 20px; /* 20px / 660px */
		width: 93.939393939393%; /* 620px / 660px */
		}

	.feat-wide1-text {
		padding-bottom: 40px;
		}

	.feat-wide1-img img,
	.feat-top2-left-img img,
	.feat-top2-right-img img {
		position: relative;
		left: auto;
		right: auto;
		}

	.feat-wide1-img img {
		margin-top: 0 !important;
		}

	#feat-wide-main .feat-wide1-text h2,
	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.9rem;
		}

	#feat-wide-main .feat-wide1-text p,
	#feat-wide-main .feat-wide4-text p {
		font-size: 1.2rem;
		}

	.home-mid-col,
	.home-right-col,
	#post-right-col,
	#arch-right-col {
		margin: 0 2.33281493002%; /* 15px / 643px */
		width: 95.33437014%; /* 613px / 643px */
		}

	#post-right-col,
	#arch-right-col {
		margin-top: 15px;
		}

	#post-right-col .side-title-wrap {
		display: block !important;
		}

	ul.side-list li {
		padding: 15px 2.33644859813%; /* 15px / 642px */
		width: 95.3271028037%; /* 612px / 642px */
		}

	.side-list-text p {
		font-size: 1rem;
		line-height: 120%;
		}

	.home-right-col .feat-widget-img {
		max-height: none;
		width: 40%;
		height: 150px;
		}

	.home-right-col .feat-widget-img img {
		min-width: 260px;
		}

	.home-right-col .feat-widget-text {
		margin: 0;
		padding: 15px 4%;
		width: 52%;
		height: 120px;
		}

	.home-right-col .feat-widget-text h2 {
		font-size: 1rem;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 3.11041990669% 20px; /* 20px / 643px */
		width: 93.7791601866%; /* 603px / 643px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 3.11041990669%; /* 20px / 643px */
		width: 93.7791601866%; /* 603px / 643px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	.post-wrap-out1,
	.post-wrap-in1 {
		margin-right: 0;
		}

	#post-header {
		display: block;
		float: left;
		margin: 30px 4.66562986003%; /* 30px / 643px */
		padding: 0;
		width: 90.6687402799%; /* 583px / 643px */
		}

	h1.post-title,
	#content-main h1.post-title {
		font-size: 1.9rem;
		}

	.post-cont-out,
	.post-cont-in {
		margin-right: 0;
		}

	#content-area,
	.post-feat-text {
		padding: 30px 4.66562986003%; /* 30px / 643px */
		width: 90.6687402799%; /* 583px / 643px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#post-sidebar-wrap {
		border-top: 1px solid #ddd;
		float: left;
		margin-left: 0;
		margin-top: 20px;
		padding-top: 20px;
		width: 100%;
		}

	#post-right-col .feat-widget-img,
	#arch-right-col .feat-widget-img {
		width: 38.8802488336%; /* 250px / 643px */
		max-height: none;
		}

	#post-right-col .feat-widget-text,
	#arch-right-col .feat-widget-text {
		padding: 20px 3.11041990669%; /* 20px / 643px */
		width: 54.898911353%; /* 353px / 643px */
		}

	#post-right-col .feat-widget-text h2,
	#arch-right-col .feat-widget-text h2 {
		font-size: 1.1rem;
		}

	#post-right-col .side-widget,
	#arch-right-col .side-widget {
		padding: 20px 2.44698205546%; /* 15px / 613px */
		width: 95.1060358891%; /* 583px / 613px */
		}

	#post-right-col .blog-widget-img,
	#arch-right-col .blog-widget-img {
		margin-right: 2.57289879931%; /* 15px / 583px */
		width: 13.7221269297%; /* 80px / 583px */
		max-width: 80px;
		}

	#post-right-col .blog-widget-text,
	#arch-right-col .blog-widget-text {
		width: 83.704974271%; /* 488px / 583px */
		}

	#post-right-col .blog-widget-text h2,
	#arch-right-col .blog-widget-text h2 {
		font-size: 1rem;
		}

	#archive-list-wrap {
		padding: 0 3.11041990669% 20px; /* 20px / 643px */
		width: 93.7791601866%; /* 603px / 643px */
		}

	ul.archive-col-list {
		margin-left: -3.31674958541%; /* 20px / 603px */
		width: 103.31674958541%; /* 623px / 603px */
		}

	ul.archive-col-list li {
		margin-left: 3.21027287319%; /* 20px / 623px */
		width: 46.7897271268%; /* 291.5px / 623px */
		}

	h1.arch-head {
		line-height: 130%;
		margin: 10px 0 30px;
		}

	.archive-list-out {
		margin-left: -220px;
		}

	.archive-list-in {
		margin-left: 220px;
		}

	.archive-list-img {
		width: 200px;
		}

	.archive-list-text h2 {
		font-size: 1rem;
		}

	#foot-widget-wrap {
		margin: 40px 3.11041990669% 20px; /* 20px / 643px */
		width: 93.7791601866%; /* 603px / 643px */
		}

	.foot-widget {
		margin-left: 0;
		margin-bottom: 40px;
		width: 100%;
		}

	#foot-bot {
		margin: 10px 3.11041990669%; /* 20px / 643px */
		width: 93.7791601866%; /* 603px / 643px */
		}

	.foot-menu {
		margin-bottom: 15px;
		max-width: none;
		text-align: center;
		width: 100%;
		}

	.foot-copy {
		max-width: none;
		width: 100%;
		}

	.page h1.cat-head,
	.category h1.cat-head {
		font-size: 1.3rem;
		margin: 0 2.2727272727% 15px; /* 15px / 660px */
		width: 95.454545454545%; / 630px / 660px */
		}

	.author-page-text h1.cat-head {
		margin-bottom: 10px;
		}

	.author-box-bot,
	h4.post-header {
		margin-bottom: 20px;
		}

	.feat-top2-left-wrap,
	.feat-top2-right-wrap {
		width: 100%;
		}

	.feat-top2-left-wrap,
	#feat-wide-wrap .feat-top2-left-wrap {
		margin-bottom: 1px;
		height: auto;
		}

	.feat-top2-right-wrap,
	#feat-wide-wrap .feat-top2-right-wrap {
		height: auto;
		}

	.feat-top2-right {
		margin-left: .173812282735%; /* 1.5px / 863px */
		width: 33.2174584782%; /* 286.666px / 863px */
		}

	.feat-top2-right:first-child {
		margin-left: 0;
		}

	.feat-top2-right,
	.feat-top2-right:first-child,
	#feat-wide-wrap .feat-top2-right,
	#feat-wide-wrap .feat-top2-right:first-child {
		height: 150px;
		}

	.feat-top2-right:first-child .feat-top2-right-img img,
	.feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right:first-child .feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right-img img {
		min-width: 260px;
		}

	.feat-top2-right:first-child .feat-top2-big {
		display: none;
		}

	.feat-top2-right:first-child .feat-top2-small {
		display: block;
		}

	.feat-top2-right-text h2,
	.feat-top2-right:first-child .feat-top2-right-text h2 {
		font-size: .9rem;
		}

	.feat-top2-left-text {
		padding: 30px 2.33281493002% 15px; /* 15px / 643px */
		width: 95.34%; /* 613px / 643px */
		}

	.feat-top2-right-text {
		padding: 30px 7.04225352113% 15px; /* 15px / 213px */
		width: 85.92%; /* 183px / 213px */
		}

	#feat-top-wrap .feat-top2-left-wrap .feat-info-wrap,
	#feat-top-wrap .feat-top2-right-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	.feat-top2-left-img img,
	#feat-wide-wrap  .feat-top2-left-img img {
		min-width: 0;
		}

	#feat-wide-main {
		height: auto;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		padding: 40px 100px 40px 20px;
		height: 612px;
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.5rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1.1rem;
		}

	#feat-wide-sub,
	.feat-wide4-text {
		width: 35%;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		padding: 20px 20px 20px 100px;
		height: 692px;
		}

	ul.feat-wide-sub-list li {
		margin-bottom: 15px;
		}

	.feat-wide-sub-text h2 {
		font-size: .8rem;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		padding-left: 20px;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		padding-right: 20px;
		}

	#feat-top-wrap #feat-wide-main,
	#feat-wide-wrap #feat-wide-main {
		height: auto;
		}

	#feat-top-wrap .feat-wide5-main,
	#feat-wide-wrap .feat-wide5-main {
		height: 250px;
		}

	.feat-wide5-img img {
		min-width: 450px;
		}

	.feat-wide5-main {
		margin-left: .205198358413%; /* 1.5px / 731px */
		width: 24.8461012312%; /* 181.625px / 731px */
		}

	.feat-wide5-text {
		padding: 30px 9.375% 15px; /* 15px / 160px */
		width: 81.26%; /* 130px / 160px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: .8rem;
		}

	.post-wide-text1 {
		padding: 40px 15% 30px;
		width: 70%;
		}

	h1.post-title-wide {
		font-size: 2.1rem;
		}

	.post-wide-text1 span.post-excerpt p {
		font-size: .9rem;
		}

	#post-wide-video {
		display: block;
		margin: 0;
		max-width: none;
		padding: 0;
		width: 100%;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 20px 3.030303030303%; /* 20px / 660px */
		width: 93.9393939393939393%; /* 620px / 660px */
		}

	.video-main-text h2 {
		font-size: 1.1rem;
		}

	.cont-part-main {
		display: block;
		float: left;
		max-width: none;
		}

	.logo-leader-out,
	.logo-leader-in {
		margin-left: 0;
		}

	.logo-left-wrap {
		margin-bottom: 15px;
		margin-right: 0;
		text-align: center;
		width: 100%;
		}

	.nav-logo-out {
		margin-left: -280px !important;
		}

	.nav-logo-in {
		margin-left: 280px !important;
		}

	.nav-left-wrap {
		width: 280px !important;
		}

	.nav-logo-fade {
		width: 200px;
		}

	.whatsapp-share {
		display: inline-block;
		}

	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.email-share,
	.social-comments,
	.whatsapp-share {
		width: 13%;
		}

}

@media screen and (max-width: 659px) and (min-width: 600px) {

	nav.main-menu-wrap,
	.fly-to-top,
	#tab-col2,
	#tab-col3,
	.feat-title-wrap,
	.side-title-wrap,
	span.social-text,
	#prev-next-wrap,
	#feat-wide-main .feat-wide4-text p,
	#wallpaper,
	.logo-left-wrap,
	.logo-wide-wrap {
		display: none;
		}

	.home .fixed {
		-webkit-box-shadow: none;
	 	   -moz-box-shadow: none;
	  	    -ms-box-shadow: none;
	   	     -o-box-shadow: none;
			box-shadow: none;
		}

	.col-tabs-wrap {
		display: block;
		}

	.home .tabs-top-marg {
	margin-top: 30px !important;
		}

	.body-main-out,
	.body-main-in {
		margin-left: 0;
		right: auto;
		}

	.home-wrap-out1,
	.home-wrap-in1 {
		margin-right: 0;
		}

	.home-wrap-out2,
	.home-wrap-in2 {
		margin-left: 0;
		margin-right: 0;
		}

	#home-feat-text {
		padding-bottom: 20px;
		}

	.category #home-feat-text,
	#feat-top-wrap #home-feat-text,
	.feat-wide1-text {
		padding: 50px 3.333333333% 20px; /* 20px / 600px */
		width: 93.33333333%; /* 560px / 600px */
		}

	.feat-wide1-text {
		padding-bottom: 30px;
		}

	.feat-wide1-img img,
	.feat-top2-left-img img,
	.feat-top2-right-img img,
	.feat-wide5-img img {
		position: relative;
		left: auto;
		right: auto;
		}

	.feat-wide1-img img {
		margin-top: 0 !important;
		}

	#feat-wide-main .feat-wide1-text h2,
	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.7rem;
		}

	#feat-wide-main .feat-wide1-text p,
	#feat-wide-main .feat-wide4-text p {
		font-size: 1.1rem;
		}

	.home-mid-col,
	.home-right-col {
		margin: 0;
		width: 100%;
		}

	.home-mid-col,
	.home-right-col,
	#post-right-col,
	#arch-right-col {
		margin: 0 2.33281493002%; /* 15px / 643px */
		width: 95.33437014%; /* 613px / 643px */
		}

	#post-right-col,
	#arch-right-col {
		margin-top: 15px;
		}

	#post-right-col .side-title-wrap {
		display: block !important;
		}

	ul.side-list li {
		padding: 15px 2.69784172662%; /* 15px / 556px */
		width: 94.6043165468%; /* 526px / 556px */
		}

	.side-list-text p {
		font-size: 1rem;
		line-height: 120%;
		}

	.home-right-col .feat-widget-img,
	#post-right-col .feat-widget-img {
		max-height: none;
		width: 40%;
		height: 150px;
		}

	.home-right-col .feat-widget-img img,
	#post-right-col .feat-widget-img img {
		min-width: 260px;
		}

	.home-right-col .feat-widget-text,
	#post-right-col .feat-widget-text {
		margin: 0;
		padding: 15px 4%;
		width: 52%;
		height: 120px;
		}

	.home-right-col .feat-widget-text h2,
	#post-right-col .feat-widget-text h2 {
		font-size: 1rem;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 3.43053173242% 20px; /* 20px / 583px */
		width: 93.1389365352%; /* 543px / 583px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 3.43053173242%; /* 20px / 583px */
		width: 93.1389365352%; /* 543px / 583px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 20px;
		}

	ul.row-widget-list {
		margin-left: -3.6832412523%; /* 20px / 543px */
		width: 103.6832412523%; /* 563px / 543px */
		}

	ul.row-widget-list li {
		margin-left: 3.55239786856%; /* 20px / 563px */
		width: 29.7809354648%; /* 167.66666px / 563px */
		}

	.row-widget-text p {
		font-size: .75rem;
		}

	.blog-widget-text h2 {
		font-size: 1rem;
		line-height: 130%;
		}

	.blog-widget-img {
		margin-right: 3.6832412523%; /* 20px / 543px */
		width: 36.832412523%; /* 200px / 543px */
		}

	.blog-widget-text {
		width: 59.4843462247%; /* 323px / 543px */
		}

	.post-wrap-out1,
	.post-wrap-in1 {
		margin-right: 0;
		}

	#post-header {
		display: block;
		float: left;
		margin: 30px 5.14579759863%; /* 30px / 583px */
		padding: 0;
		width: 89.7084048027%; /* 523px / 583px */
		}

	h1.post-title,
	#content-main h1.post-title {
		font-size: 1.9rem;
		}

	.post-cont-out,
	.post-cont-in {
		margin-right: 0;
		}

	span.post-excerpt {
		font-size: .9rem;
		}

	#content-area,
	.post-feat-text {
		padding: 30px 5.14579759863%; /* 30px / 583px */
		width: 89.7084048027%; /* 523px / 583px */
		}

	.post-feat-text {
		padding-top: 40px;
		padding-bottom: 20px;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
		width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#post-sidebar-wrap {
		border-top: 1px solid #ddd;
		float: left;
		margin-left: 0;
		margin-top: 20px;
		padding-top: 20px;
		width: 100%;
		}

	#post-right-col .side-widget,
	#arch-right-col .side-widget {
		padding: 20px 2.71247739602%; /* 15px / 553px */
		width: 94.57045208%; /* 523px / 553px */
		}

	#post-right-col .blog-widget-img,
	#arch-right-col .blog-widget-img {
		margin-right: 2.86806883365%; /* 15px / 523px */
		width: 15.2963671128%; /* 80px / 523px */
		max-width: 80px;
		}

	#post-right-col .blog-widget-text,
	#arch-right-col .blog-widget-text {
		width: 81.8355640535%; /* 428px / 523px */
		}

	#post-right-col .blog-widget-text h2,
	#arch-right-col .blog-widget-text h2 {
		font-size: 1rem;
		}

	#archive-list-wrap {
		padding: 0 3.43053173242% 20px; /* 20px / 583px */
		width: 93.1389365352%; /* 543px / 583px */
		}

	ul.archive-col-list {
		margin-left: -3.6832412523%; /* 20px / 543px */
		width: 103.6832412523%; /* 563px / 543px */
		}

	ul.archive-col-list li {
		margin-left: 3.55239786856%; /* 20px / 563px */
		width: 46.4476021314%; /* 261.5px / 563px */
		}

	h1.arch-head {
		line-height: 130%;
		margin: 10px 0 30px;
		}

	.archive-list-out {
		margin-left: -220px;
		}

	.archive-list-in {
		margin-left: 220px;
		}

	.archive-list-img {
		width: 200px;
		}

	.archive-list-text h2 {
		font-size: 1rem;
		}

	footer#foot-wrap {
		margin-top: 30px;
		}

	#foot-widget-wrap {
		margin: 40px 3.3333333% 20px; /* 20px / 600px */
		width: 93.33333333%; /* 560px / 600px */
		}

	.foot-widget {
		margin-left: 0;
		margin-bottom: 40px;
		width: 100%;
		}

	#foot-bot {
		margin: 10px 3.3333333%; /* 20px / 600px */
		width: 93.33333333%; /* 560px / 600px */
		}

	.foot-menu {
		margin-bottom: 15px;
		max-width: none;
		text-align: center;
		width: 100%;
		}

	.foot-copy {
		max-width: none;
		width: 100%;
		}

	.page h1.cat-head,
	.category h1.cat-head {
		font-size: 1.3rem;
		margin: 0 2.5% 15px; /* 15px / 600px */
		width: 95%; / 570px / 600px */
		}

	.author-page-text h1.cat-head {
		margin-bottom: 10px;
		}

	.author-box-bot,
	h4.post-header {
		margin-bottom: 20px;
		}

	.feat-top2-left-wrap,
	.feat-top2-right-wrap {
		width: 100%;
		}

	.feat-top2-left-wrap,
	#feat-wide-wrap .feat-top2-left-wrap {
		margin-bottom: 1px;
		height: 300px;
		}

	.feat-top2-right-wrap,
	#feat-wide-wrap .feat-top2-right-wrap {
		height: auto;
		}

	.feat-top2-right {
		margin-left: .173812282735%; /* 1.5px / 863px */
		width: 33.2174584782%; /* 286.666px / 863px */
		}

	.feat-top2-right:first-child {
		margin-left: 0;
		}

	.feat-top2-right,
	.feat-top2-right:first-child,
	#feat-wide-wrap .feat-top2-right,
	#feat-wide-wrap .feat-top2-right:first-child {
		height: 150px;
		}

	.feat-top2-right:first-child .feat-top2-right-img img,
	.feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right:first-child .feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right-img img {
		min-width: 260px;
		}

	.feat-top2-right:first-child .feat-top2-big {
		display: none;
		}

	.feat-top2-right:first-child .feat-top2-small {
		display: block;
		}

	.feat-top2-right-text h2,
	.feat-top2-right:first-child .feat-top2-right-text h2 {
		font-size: .9rem;
		}

	.feat-top2-left-text {
		padding: 30px 2.5% 15px; /* 15px / 600px */
		width: 95.01%; /* 570px / 600px */
		}

	.feat-top2-right-text {
		padding: 30px 7.73195876289% 15px; /* 15px / 194px */
		width: 84.54%; /* 164px / 194px */
		}

	#feat-top-wrap .feat-top2-left-wrap .feat-info-wrap,
	#feat-top-wrap .feat-top2-right-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	.feat-top2-left-img img,
	#feat-wide-wrap  .feat-top2-left-img img {
		min-width: 0;
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.2rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1rem;
		}

	ul.feat-wide-sub-list li {
		margin-bottom: 10px;
		}

	.feat-wide-sub-text h2 {
		font-size: .8rem;
		}

	#feat-top-wrap #feat-wide-main,
	#feat-wide-wrap #feat-wide-main {
		height: 500px;
		}

	#feat-wide-main .feat-wide1-img img {
		position: absolute;
		left: -9999px;
		right: -9999px;
		min-width: 900px;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba0,0,0,0.6)));
		background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
		top: auto;
		bottom: 0;
		padding: 40px 3.33333333% 230px; /* 20px / 600px */
		width: 93.34%; /* 560px / 600px */
		height: auto;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		background-image: none;
		left: 0;
		right: auto;
		top: auto;
		bottom: 0;
		padding: 0 3.33333333% 15px; /* 20px / 600px */
		width: 93.34%; /* 560px / 600px */
		height: auto;
		}

	#feat-top-wrap .feat-wide5-main,
	#feat-wide-wrap .feat-wide5-main {
		margin-bottom: 1px;
		margin-left: 0;
		width: 100%;
		height: 150px;
		}

	.feat-wide5-img img {
		margin-top: -5% !important;
		min-width: 0;
		}

	.feat-wide5-text {
		padding: 30px 2.5% 15px; /* 15px / 600px */
		width: 95.01%; /* 570px / 600px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: 1rem;
		}

	.post-wide-text1 {
		padding: 40px 15% 30px;
		width: 70%;
		}

	h1.post-title-wide {
		font-size: 1.9rem;
		}

	.post-wide-text1 span.post-excerpt p {
		font-size: .9rem;
		}

	#post-wide-video {
		display: block;
		margin: 0;
		max-width: none;
		padding: 0;
		width: 100%;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 20px 3.3333333333%; /* 20px / 600px */
		width: 93.3333333333333%; /* 560px / 600px */
		}

	.video-main-text h2 {
		font-size: 1.1rem;
		}

	.cont-part-main {
		display: block;
		float: left;
		max-width: none;
		}

	.logo-leader-out,
	.logo-leader-in {
		margin-left: 0;
		}

	.logo-left-wrap {
		margin-bottom: 15px;
		margin-right: 0;
		text-align: center;
		width: 100%;
		}

	.nav-logo-out {
		margin-left: -280px !important;
		}

	.nav-logo-in {
		margin-left: 280px !important;
		}

	.nav-left-wrap {
		width: 280px !important;
		}

	.nav-logo-fade {
		width: 200px;
		}

	.mvp-related-text a {
		font-size: .8rem;
		}

	.whatsapp-share {
		display: inline-block;
		}

	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.email-share,
	.social-comments,
	.whatsapp-share {
		width: 13%;
		}

}

@media screen and (max-width: 599px) and (min-width: 480px) {

	#score-wrap,
	nav.main-menu-wrap,
	.fly-fade,
	.fly-to-top,
	#tab-col2,
	#tab-col3,
	.feat-title-wrap,
	.side-title-wrap,
	.blog-widget-text p,
	span.post-excerpt,
	span.social-text,
	#prev-next-wrap,
	ul.archive-list .archive-list-text p,
	#feat-wide-main .feat-wide4-text p,
	#wallpaper,
	.logo-left-wrap,
	.logo-wide-wrap {
		display: none;
		}

	#score-wrap {
		height: 0;
		}

	.home .fixed,
	.home #main-nav-wrap {
		-webkit-box-shadow: none;
	 	   -moz-box-shadow: none;
	  	    -ms-box-shadow: none;
	   	     -o-box-shadow: none;
			box-shadow: none;
		}

	.col-tabs-wrap {
		display: block;
		}

	.main-nav-over {
		position: fixed !important;
		-webkit-transform: translate3d(0,0,0) !important;
	   	   -moz-transform: translate3d(0,0,0) !important;
	    	    -ms-transform: translate3d(0,0,0) !important;
	    	     -o-transform: translate3d(0,0,0) !important;
			transform: translate3d(0,0,0) !important;
		}

	.fly-content {
		/*
		-webkit-transform: translate3d(100%,0,0) !important;
	   	   -moz-transform: translate3d(100%,0,0) !important;
	    	    -ms-transform: translate3d(100%,0,0) !important;
	    	     -o-transform: translate3d(100%,0,0) !important;
			transform: translate3d(100%,0,0) !important;
			*/
			-webkit-transform: translate3d(0,0,0) !important;
		   	   -moz-transform: translate3d(0,0,0) !important;
		    	    -ms-transform: translate3d(0,0,0) !important;
		    	     -o-transform: translate3d(0,0,0) !important;
				transform: translate3d(0,0,0) !important;
		}

	.search-fly-wrap {
		padding: 10px;
		}

	#fly-wrap {
		-webkit-transform: translate3d(-30%,0,0);
	  	   -moz-transform: translate3d(-30%,0,0);
	   	    -ms-transform: translate3d(-30%,0,0);
	   	     -o-transform: translate3d(-30%,0,0);
			transform: translate3d(-30%,0,0);
		top: 60px;
		width: 0px;
		z-index: auto;
		}

	.fly-menu {
		width: 100% !important;
		}

	#leader-wrap {
		margin: 0;
		padding-bottom: 10px;
		}

	#body-main-wrap {
		background: #eee;
		padding-top: 10px;
		z-index: 100;
		}

	.body-main-out,
	.body-main-in {
		margin-left: 0;
		right: auto;
		}

	.home-wrap-out1,
	.home-wrap-in1 {
		margin-right: 0;
		}

	.home-wrap-out2,
	.home-wrap-in2 {
		margin-left: 0;
		margin-right: 0;
		}

	.home-mid-col,
	.home-right-col {
		margin: 0;
		width: 100%;
		}

	.home-mid-col,
	.home-right-col,
	#post-right-col,
	#arch-right-col {
		margin: 0 2.15982721382%; /* 10px / 463px */
		width: 95.6803455724%; /* 443px / 463px */
		}

	#post-right-col,
	#arch-right-col {
		margin-top: 10px;
		}

	#post-right-col .side-title-wrap {
		display: block !important;
		}

	ul.side-list li {
		padding: 15px 3.38600451467%; /* 15px / 443px */
		width: 93.2279909707%; /* 413px / 443px */
		}

	.side-list-text p {
		font-size: 1rem;
		line-height: 130%;
		}

	.home-right-col .feat-widget-img,
	#post-right-col .feat-widget-img {
		max-height: none;
		width: 40%;
		height: 120px;
		}

	.home-right-col .feat-widget-img img,
	#post-right-col .feat-widget-img img{
		min-width: 210px;
		}

	.home-right-col .feat-widget-text,
	#post-right-col .feat-widget-text {
		margin: 0;
		padding: 15px 4%;
		width: 52%;
		height: 90px;
		}

	.home-right-col .feat-widget-text h2,
	#post-right-col .feat-widget-text h2 {
		font-size: 1rem;
		}

	#sidebar-wrap .feat-widget-wrap,
	.side-pop-wrap .feat-widget-wrap {
		margin-top: 10px;
		}

	.widget-ad {
/*		margin-top: 10px;*/
		}

	#home-feat-text,
	.category #home-feat-text {
		padding-bottom: 20px;
		}

	#home-feat-text,
	.category #home-feat-text,
	#feat-top-wrap #home-feat-text,
	.feat-wide1-text {
		padding: 40px 3.23974082073% 15px; /* 15px / 463px */
		width: 93.5205183585%; /* 433px / 463px */
		}

	#home-feat-text h2,
	.feat-top2-left-text h2,
	.feat-wide1-text h2,
	.feat-wide4-text h2,
	#feat-wide-main .feat-wide1-text h2,
	#feat-wide-main .feat-wide4-text h2 {
		font-size: 1.9rem;
		}

	#home-feat-text p,
	.feat-top2-left-text p,
	.feat-wide1-text p,
	.feat-wide4-text p,
	#feat-wide-main .feat-wide1-text p,
	#feat-wide-main .feat-wide4-text p {
		font-size: 1rem;
		}

	#feat-wide-wrap {
		margin: -10px 0 10px;
		height: auto;
		}

	.feat-wide1-img img,
	.feat-top2-left-img img,
	.feat-top2-right-img img,
	.feat-wide5-img img {
		position: relative;
		left: auto;
		right: auto;
		}

	.feat-wide1-img img {
		margin-top: 0 !important;
		}

	#feat-wide-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	.home-title-wrap {
		margin: 0 0 15px;
		}

	h3.side-list-title {
		font-size: 1rem;
		}

	#home-mid-wrap {
		padding-top: 15px;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 3.23974082073% 15px; /* 15px / 463px */
		width: 93.5205183585%; /* 433px / 463px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 3.23974082073%; /* 15px / 463px */
		width: 93.5205183585%; /* 433px / 463px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 15px;
		}

	ul.row-widget-list {
		margin-left: 0;
		margin-bottom: -15px;
		width: 100%;
		}

	ul.row-widget-list li {
		border-top: 1px solid #ddd;
		margin-left: 0;
		padding: 15px 0;
		width: 100%;
		}

	ul.row-widget-list li:first-child {
		border-top: none;
		padding-top: 0;
		}

	.row-widget-img,
	.blog-widget-img {
		margin: 0 3.46420323326% 0 0; /* 15px / 433px */
		width: 34.6420323326%; /* 150px / 433px */
		}

	.row-widget-text,
	.blog-widget-text {
		width: 61.8937644342%; /* 268px / 433px */
		}

	.row-widget-text p,
	.blog-widget-text h2 {
		font-size: .9rem;
		line-height: 130%;
		}

	ul.blog-widget-list li {
		padding: 15px 0;
		}

	.post-wrap-out1,
	.post-wrap-in1 {
		margin-right: 0;
		}

	#post-header {
		display: block;
		float: left;
		margin: 30px 4.31965442765% 20px; /* 20px / 463px */
		padding: 0;
		width: 91.3606911447%; /* 423px / 463px */
		}

	h1.post-title,
	#content-main h1.post-title {
		font-size: 1.9rem;
		}

	.post-cont-out,
	.post-cont-in {
		margin-right: 0;
		}

	#content-area {
		padding: 30px 4.31965442765% 20px; /* 20px / 463px */
		width: 91.3606911447%; /* 423px / 463px */
		}

	.post-feat-text {
		padding-bottom: 0;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	#post-sidebar-wrap {
		border-top: 1px solid #ddd;
		float: left;
		margin-left: 0;
		margin-top: 20px;
		padding-top: 20px;
		width: 100%;
		}

	#post-right-col .side-widget,
	#arch-right-col .side-widget {
		padding: 20px 3.46420323326%; /* 15px / 433px */
		width: 93.0715935335%; /* 403px / 433px */
		}

	#post-right-col .blog-widget-img,
	#arch-right-col .blog-widget-img {
		margin-right: 3.72208436725%; /* 15px / 403px */
		width: 19.8511166253%; /* 80px / 403px */
		max-width: 80px;
		}

	#post-right-col .blog-widget-text,
	#arch-right-col .blog-widget-text {
		width: 76.4267990074%; /* 308px / 403px */
		}

	#post-right-col .blog-widget-text h2,
	#arch-right-col .blog-widget-text h2 {
		font-size: 1rem;
		}

	#archive-list-wrap {
		padding: 0 3.23974082073% 15px; /* 15px / 463px */
		width: 93.5205183585%; /* 433px / 463px */
		}

	ul.archive-col-list {
		margin-left: -3.46420323326%; /* 15px / 433px */
		width: 103.46420323326%; /* 448px / 433px */
		}

	ul.archive-col-list li {
		margin-left: 3.34821428571%; /* 15px / 448px */
		width: 46.6517857143%; /* 209px / 448px */
		height: 340px;
		}

	h1.arch-head {
		line-height: 130%;
		margin: 10px 0 30px;
		}

	.archive-list-out {
		margin-left: -165px;
		}

	.archive-list-in {
		margin-left: 165px;
		}

	.archive-list-img {
		margin-right: 15px;
		width: 150px;
		}

	.archive-list-text h2 {
		font-size: 1rem;
		}

	footer#foot-wrap {
		margin-top: 30px;
		}

	#foot-widget-wrap {
		margin: 40px 4.1666666% 20px; /* 20px / 480px */
		width: 91.6666666%; /* 440px / 480px */
		}

	.foot-widget {
		margin-left: 0;
		margin-bottom: 40px;
		width: 100%;
		}

	#foot-bot {
		margin: 10px 4.1666666%; /* 20px / 480px */
		width: 91.6666666%; /* 440px / 480px */
		}

	.foot-menu {
		margin-bottom: 15px;
		max-width: none;
		text-align: center;
		width: 100%;
		}

	.foot-menu .menu li {
		display: inline-block;
		float: none;
		margin-bottom: 5px;
		}

	.foot-copy {
		max-width: none;
		width: 100%;
		}

	.page h1.cat-head,
	.category h1.cat-head {
		font-size: 1.2rem;
		margin: 0 3.125% 10px; /* 15px / 480px */
		text-align: center;
		width: 93.75%; / 430px / 480px */
		}

	.author-page-text h1.cat-head {
		margin-bottom: 10px;
		}

	.author-box-bot,
	h4.post-header {
		margin-bottom: 20px;
		}

	ul.archive-list li {
		padding: 15px 0;
		}

	.feat-top2-left-wrap,
	.feat-top2-right-wrap {
		width: 100%;
		}

	.feat-top2-left-wrap,
	#feat-wide-wrap .feat-top2-left-wrap {
		margin-bottom: 1px;
		height: 250px;
		}

	.feat-top2-right-wrap,
	#feat-wide-wrap .feat-top2-right-wrap {
		height: auto;
		}

	.feat-top2-right,
	.feat-top2-right:first-child,
	#feat-wide-wrap .feat-top2-right,
	#feat-wide-wrap .feat-top2-right:first-child {
		height: 100px;
		}

	.feat-top2-right {
		margin-left: 0;
		margin-bottom: 1px;
		width: 100%;
		}

	.feat-top2-right:first-child {
		margin-left: 0;
		}

	.feat-top2-left-img img,
	.feat-top2-right:first-child .feat-top2-right-img img,
	.feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-left-img img,
	#feat-wide-wrap .feat-top2-right:first-child .feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right-img img {
		min-width: 0;
		}

	.feat-top2-right .feat-top2-big,
	.feat-top2-right:first-child .feat-top2-big {
		display: block;
		}

	.feat-top2-right .feat-top2-small,
	.feat-top2-right:first-child .feat-top2-small {
		display: none;
		}

	.feat-top2-right-text h2,
	.feat-top2-right:first-child .feat-top2-right-text h2 {
		font-size: .9rem;
		}

	.feat-top2-left-text,
	.feat-top2-right-text {
		padding: 30px 3.125% 15px; /* 15px / 480px */
		width: 93.76%; /* 450px / 480px */
		}

	#feat-top-wrap .feat-top2-left-wrap .feat-info-wrap,
	#feat-top-wrap .feat-top2-right-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.2rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1rem;
		}

	ul.feat-wide-sub-list li {
		margin-bottom: 10px;
		}

	.feat-wide-sub-text h2 {
		font-size: .8rem;
		}

	#feat-top-wrap #feat-wide-main,
	#feat-wide-wrap #feat-wide-main {
		height: 550px;
		}

	#feat-wide-main .feat-wide1-img img {
		position: absolute;
		left: -9999px;
		right: -9999px;
		min-width: 980px;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba0,0,0,0.6)));
		background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
		top: auto;
		bottom: 0;
		padding: 40px 3.33333333% 260px; /* 20px / 600px */
		width: 93.34%; /* 560px / 600px */
		height: auto;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		background-image: none;
		left: 0;
		right: auto;
		top: auto;
		bottom: 0;
		padding: 0 3.33333333% 15px; /* 20px / 600px */
		width: 93.34%; /* 560px / 600px */
		height: auto;
		}

	#feat-top-wrap .feat-wide5-main,
	#feat-wide-wrap .feat-wide5-main {
		margin-bottom: 1px;
		margin-left: 0;
		width: 100%;
		height: 180px;
		}

	.feat-wide5-img img {
		margin-top: -5% !important;
		min-width: 0;
		}

	.feat-wide5-text {
		padding: 30px 3.125% 15px; /* 15px / 480px */
		width: 93.76%; /* 450px / 480px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: .9rem;
		}

	.home .tabs-top-marg {
		margin-top: 90px !important;
		}

	.home .body-top-pad {
		padding-top: 0 !important;
		}

	.body-top-pad {
		padding-top: 60px !important;
		}

	#post-wide-wrap {
		margin: -10px 0 10px;
		}

	.post-wide-text1 {
		padding: 40px 15% 30px;
		width: 70%;
		}

	h1.post-title-wide {
		font-size: 1.6rem;
		}

	#post-wide-video {
		display: block;
		float: left;
		margin: 0;
		max-width: none;
		padding: 0;
		width: 100%;
		}

	ul.side-list li:first-child {
		padding-top: 15px;
		}

	#latest-video-wrap {
		margin-bottom: 0;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 15px 3.125%; /* 15px / 480px */
		width: 93.75%; /* 450px / 480px */
		}

	.video-main-text h2 {
		font-size: 1rem;
		}

	.cont-part-main {
		display: block;
		float: left;
		max-width: none;
		}

	#main-nav-wrap {
		-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	   	   -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	    	    -ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	    	     -o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
			box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
		}

	.nav-logo-out {
		margin-left: -280px !important;
		}

	.nav-logo-in {
		margin-left: 280px !important;
		}

	.nav-left-wrap {
		width: 280px !important;
		}

	.nav-logo-fade {
		width: 200px;
		}

	#logo-leader-wrap {
		margin: 0;
		}

	.logo-leader-out,
	.logo-leader-in,
	.leader-wrap-out,
	.leader-wrap-in {
		margin-left: 0;
		}

	.leader-right-wrap {
		padding: 10px 0;
		}

	.leader-wrap-out {
		right: 0;
		}

	#head-main-top #leader-wrap {
		margin: 0;
		padding: 10px 0;
		}

	.mvp-related-posts ul li {
		margin-left: 3.54609929078% !important; /* 15px / 423px */
		width: 30.9692671395%; /* 131px / 423px */
		}

	.mvp-related-text a {
		font-size: .8rem;
		}

	.whatsapp-share {
		display: inline-block;
		}

	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.email-share,
	.social-comments,
	.whatsapp-share {
		width: 13%;
		}

}

@media screen and (max-width: 479px) {

	#score-wrap,
	nav.main-menu-wrap,
	.nav-right-wrap a,
	.fly-fade,
	.fly-to-top,
	#tab-col2,
	#tab-col3,
	.feat-title-wrap,
	.side-title-wrap,
	.reg-img,
	.blog-widget-text p,
	.widget-img-main,
	.row-widget-wrap .feat-info-wrap,
	.blog-widget-wrap .feat-info-wrap,
	.side-pop-wrap .feat-info-wrap,
	span.post-excerpt,
	span.social-text,
	#prev-next-wrap,
	ul.archive-list .archive-list-text p,
	ul.archive-list .feat-info-wrap,
	#feat-wide-main .feat-wide4-text p,
	#wallpaper,
	.logo-left-wrap,
	.logo-wide-wrap {
		display: none;
		}

	#score-wrap {
		height: 0;
		}

	.home .fixed,
	.home #main-nav-wrap {
		-webkit-box-shadow: none;
	 	   -moz-box-shadow: none;
	  	    -ms-box-shadow: none;
	   	     -o-box-shadow: none;
			box-shadow: none;
		}

	.col-tabs-wrap,
	.mob-img,
	#home-mid-wrap .widget-img-side {
		display: block;
		}

	.main-nav-over {
		position: fixed !important;
		-webkit-transform: translate3d(0,0,0) !important;
	   	   -moz-transform: translate3d(0,0,0) !important;
	    	    -ms-transform: translate3d(0,0,0) !important;
	    	     -o-transform: translate3d(0,0,0) !important;
			transform: translate3d(0,0,0) !important;
		}

	.fly-content {
		/*
		-webkit-transform: translate3d(100%,0,0) !important;
	   	   -moz-transform: translate3d(100%,0,0) !important;
	    	    -ms-transform: translate3d(100%,0,0) !important;
	    	     -o-transform: translate3d(100%,0,0) !important;
			transform: translate3d(100%,0,0) !important;
			*/
			-webkit-transform: translate3d(0,0,0) !important;
		   	   -moz-transform: translate3d(0,0,0) !important;
		    	    -ms-transform: translate3d(0,0,0) !important;
		    	     -o-transform: translate3d(0,0,0) !important;
				transform: translate3d(0,0,0) !important;
		}

	.nav-right-wrap {
		width: 50px;
		}

	.search-fly-wrap {
		padding: 10px;
		}

	#fly-wrap {
		-webkit-transform: translate3d(-30%,0,0);
	  	   -moz-transform: translate3d(-30%,0,0);
	   	    -ms-transform: translate3d(-30%,0,0);
	   	     -o-transform: translate3d(-30%,0,0);
			transform: translate3d(-30%,0,0);
		top: 60px;
		width: 0px;
		z-index: auto;
		}

	.fly-menu {
		width: 100% !important;
		}

	#leader-wrap {
		margin: 0;
		padding: 10px 0;
		}

	#body-main-wrap {
		background: #fff;
		padding-top: 0;
		z-index: 100;
		}

	#home-main-wrap,
	#post-main-wrap {
		z-index: 100;
		}

	.body-main-out,
	.body-main-in {
		margin-left: 0;
		right: auto;
		}

	.home-wrap-out1,
	.home-wrap-in1 {
		margin-right: 0;
		}

	.home-wrap-out2,
	.home-wrap-in2 {
		margin-left: 0;
		margin-right: 0;
		}

	.home-mid-col,
	.home-right-col,
	#post-right-col,
	#arch-right-col {
		float: left;
		width: 100%;
		}

	#post-right-col,
	#arch-right-col {
		margin-left: 0;
		margin-top: 10px;
		}

	#post-right-col .side-title-wrap {
		display: block !important;
		}

	#post-right-col .feat-widget-wrap:first-child {
		border-top: none;
		}

	#post-right-col .side-title-wrap {
		margin: 5px 0 0;
		}

	#post-right-col h3.side-list-title {
		margin-left: 15px;
		}

	#home-feat-text {
		padding-bottom: 20px;
		}

	.home-mid-col {
		border-top: 1px solid #ddd;
		margin: 0;
		width: 100%;
		}

	.home-right-col {
		margin: 0;
		width: 100%;
		}

	ul.side-list li {
		padding: 15px 4.37317784257%; /* 15px / 343px */
		width: 91.2536443149%; /* 313px / 343px */
		}

	#sidebar-wrap .feat-widget-wrap {
		margin-top: 10px;
		}

	.side-pop-wrap .widget-ad {
		margin-top: 0;
		}

	.post-wrap-out1,
	.post-wrap-in1,
	.post-cont-out,
	.post-cont-in {
		margin-right: 0;
		}

	#home-feat-text,
	.category #home-feat-text,
	#feat-top-wrap #home-feat-text,
	.feat-wide1-text {
		padding: 40px 4.37317784257% 15px; /* 15px / 343px */
		width: 91.2536443149%; /* 313px / 343px */
		}

	#home-feat-text h2,
	.feat-top2-left-text h2,
	.feat-wide1-text h2,
	.feat-wide4-text h2,
	#feat-wide-main .feat-wide1-text h2,
	#feat-wide-main .feat-wide4-text h2 {
		font-size: 1.4rem;
		}

	#home-feat-text p,
	.feat-top2-left-text p,
	.feat-wide1-text p,
	.feat-wide4-text p,
	#feat-wide-main .feat-wide1-text p,
	#feat-wide-main .feat-wide4-text p {
		font-size: .9rem;
		}

	#feat-wide-wrap {
		margin: 0;
		height: auto;
		}

	.feat-wide1-img img,
	.feat-top2-left-img img,
	.feat-top2-right-img img,
	.feat-wide5-img img {
		position: relative;
		left: auto;
		right: auto;
		}

	.feat-wide1-img img {
		margin-top: 0 !important;
		}

	#feat-wide-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	.home-title-wrap {
		margin: 0 0 15px;
		}

	h3.side-list-title {
		font-size: 1rem;
		}

	#home-mid-wrap {
		padding-top: 15px;
		}

	.home-widget,
	#home-mid-wrap .feat-widget-cont .home-title-wrap,
	#home-mid-wrap .gallery-widget-wrap .home-title-wrap,
	#home-mid-wrap .feat-widget-text {
		margin: 0 4.166666666% 15px; /* 15px / 360px */
		width: 91.666666666%; /* 330px / 360px */
		}

	.gallery-widget-wrap .post-gallery-bot {
		margin: 0 4.166666666%; /* 15px / 360px */
		width: 91.666666666%; /* 330px / 360px */
		}

	#home-mid-wrap .feat-widget-text {
		margin-top: 15px;
		}

	#home-mid-wrap .feat-widget-text h2 {
		font-size: 1rem;
		}

	.side-pop-wrap .feat-widget-wrap,
	#post-right-col .feat-widget-wrap,
	#arch-right-col .feat-widget-wrap {
		border-top: 1px solid #ddd;
		margin-top: 0;
		padding: 15px 4.166666666%; /* 15px / 360px */
		width: 91.666666666%; /* 330px / 360px */
		}

	ul.row-widget-list,
	#sidebar-wrap .feat-widget-wrap {
		margin-left: 0;
		margin-bottom: -15px;
		width: 100%;
		}

	ul.row-widget-list li,
	#sidebar-wrap .feat-widget-wrap {
		border-top: 1px solid #ddd;
		margin-left: 0;
		padding: 15px 0;
		width: 100%;
		}

	ul.row-widget-list li:first-child {
		border-top: none;
		padding-top: 0;
		}

	.row-widget-img,
	.blog-widget-img,
	.home-right-col .feat-widget-img,
	#post-right-col .feat-widget-img,
	#arch-right-col .feat-widget-img{
		margin: 0 4.545454545454% 0 0; /* 15px / 330px */
		width: 24.242424242424%; /* 80px / 330px */
		max-width: 80px;
		}

	.row-widget-text,
	.blog-widget-text,
	.home-right-col .feat-widget-text,
	#post-right-col .feat-widget-text,
	#arch-right-col .feat-widget-text{
		width: 71.212121212121%; /* 235px / 330px */
		}

	.home-right-col .feat-widget-text,
	#post-right-col .feat-widget-text,
	#arch-right-col .feat-widget-text {
		margin: 0;
		padding: 0;
		}

	.row-widget-text p,
	.blog-widget-text h2,
	.feat-widget-text h2,
	.side-list-text p {
		font-size: .9rem;
		line-height: 130%;
		}

	ul.blog-widget-list li {
		padding: 15px 0;
		}

	.post-wrap-out1,
	.post-wrap-in1 {
		margin-right: 0;
		}

	#post-header {
		display: block;
		float: left;
		margin: 15px 4.37317784257% 15px; /* 15px / 343px */
		padding: 0;
		width: 91.2536443149%; /* 313px / 343px */
		}

	h1.post-title,
	#content-main h1.post-title {
		font-size: 1.5rem;
		}

	.post-feat-text {
		padding-bottom: 0;
		}

	span.feat-caption {
		font-size: .5rem;
		right: 5px;
		bottom: 5px;
		width: 80%;
		}

	#content-area {
		padding: 15px 4.37317784257%; /* 15px / 343px */
		width: 91.2536443149%; /* 313px / 343px */
		}

	.social-sharing-top,
	.social-sharing-bot {
		margin-bottom: 20px;
		}

	.share-count {
		margin-top: 0;
		width: 19%;
		}

	span.soc-count-num {
		font-size: 16px;
		}

	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.email-share,
	.social-comments {
		width: 14.5%;
		}

	.social-comments i {
		width: 100%;
		}

	span.social-text-com {
		margin-right: 0;
			width: 100%;
		}

	.social-comments span.social-text-com a {
		margin-top: -26px;
		margin-left: 0;
		padding: 26px 0 0;
		width: 100%;
		}

	.post-tags {
		margin: 20px 0;
		}

	#article-ad {
		margin-bottom: 20px;
		}

	.widget-ad {
/*		margin-bottom: -15px;*/
		}

	#post-sidebar-wrap {
		border-top: 1px solid #ddd;
		float: left;
		margin-left: 0;
		margin-top: 20px;
		padding-top: 20px;
		width: 100%;
		}

	#post-right-col,
	#arch-right-col {
		border-bottom: 1px solid #ddd;
		}

	#post-right-col .side-widget,
	#arch-right-col .side-widget {
		padding: 20px 4.16666666%; /* 15px / 360px */
		width: 91.6666666666%; /* 330px / 360px */
		}

	#post-right-col .blog-widget-img,
	#arch-right-col .blog-widget-img {
		margin-right: 4.545454545454%; /* 15px / 330px */
		width: 24.242424242424%; /* 80px / 330px */
		max-width: 80px;
		}

	#post-right-col .blog-widget-text,
	#arch-right-col .blog-widget-text {
		width: 71.212121212121%; /* 235px / 330px */
		}

	#post-right-col .blog-widget-text h2,
	#arch-right-col .blog-widget-text h2 {
		font-size: .9rem;
		}

	#archive-list-wrap {
		padding: 0 4.166666666% 15px; /* 15px / 360px */
		width: 91.666666666%; /* 330px / 360px */
		}

	ul.archive-col-list {
		margin-left: 0;
		width: 100%;
		}

	ul.archive-col-list li {
		margin-left: 0;
		width: 100%;
		height: 300px;
		}

	h1.arch-head {
		line-height: 130%;
		margin: 10px 0 30px;
		}

	.archive-list-out {
		margin-left: -95px;
		}

	.archive-list-in {
		margin-left: 95px;
		}

	.archive-list-img {
		margin-right: 15px;
		width: 80px;
		}

	.archive-list-text h2 {
		font-size: .9rem;
		}

	footer#foot-wrap {
		margin-top: 30px;
		}

	#foot-widget-wrap {
		margin: 40px 4.1666666% 15px; /* 15px / 360px */
		width: 91.6666666666%; /* 330px / 360px */
		}

	.foot-widget {
		margin-left: 0;
		margin-bottom: 40px;
		width: 100%;
		}

	#foot-bot {
		margin: 10px 4.1666666%; /* 15px / 360px */
		width: 91.6666666666%; /* 330px / 360px */
		}

	.foot-menu {
		margin-bottom: 15px;
		max-width: none;
		text-align: center;
		width: 100%;
		}

	.foot-menu .menu li {
		display: inline-block;
		float: none;
		margin-bottom: 5px;
		}

	.foot-copy {
		max-width: none;
		width: 100%;
		}

	.page h1.cat-head,
	.category h1.cat-head {
		font-size: 1.2rem;
		margin: 10px 3.125%; /* 15px / 480px */
		text-align: center;
		width: 93.75%; / 430px / 480px */
		}

	.author-page-text h1.cat-head {
		margin-bottom: 10px;
		}

	.author-box-bot,
	h4.post-header {
		margin-bottom: 20px;
		}

	.author-box-bot p {
		font-size: .9rem;
		}

	ul.author-social li {
		margin-left: 5px;
		}

	ul.archive-list li {
		padding: 15px 0;
		}

	ul.archive-col-list .reg-img {
		display: block !important;
		}

	ul.archive-col-list .mob-img {
		display: none !important;
		}

	.feat-top2-left-wrap,
	.feat-top2-right-wrap {
		width: 100%;
		}

	.feat-top2-left-wrap,
	#feat-wide-wrap .feat-top2-left-wrap {
		margin-bottom: 1px;
		height: auto;
		}

	.feat-top2-right-wrap,
	#feat-wide-wrap .feat-top2-right-wrap {
		height: auto;
		}

	.feat-top2-right,
	.feat-top2-right:first-child,
	#feat-wide-wrap .feat-top2-right,
	#feat-wide-wrap .feat-top2-right:first-child {
		height: 100px;
		}

	.feat-top2-right {
		margin-left: 0;
		margin-bottom: 1px;
		width: 100%;
		}

	.feat-top2-right:first-child {
		margin-left: 0;
		}

	.feat-top2-left-img img,
	.feat-top2-right:first-child .feat-top2-right-img img,
	.feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-left-img img,
	#feat-wide-wrap .feat-top2-right:first-child .feat-top2-right-img img,
	#feat-wide-wrap .feat-top2-right-img img {
		min-width: 0;
		}

	.feat-top2-right .feat-top2-big,
	.feat-top2-right:first-child .feat-top2-big {
		display: none;
		}

	.feat-top2-right .feat-top2-small,
	.feat-top2-right:first-child .feat-top2-small {
		display: block;
		}

	.feat-top2-right-text h2,
	.feat-top2-right:first-child .feat-top2-right-text h2 {
		font-size: .9rem;
		}

	.feat-top2-left-text,
	.feat-top2-right-text {
		padding: 30px 4.1666666% 15px; /* 15px / 360px */
		width: 91.67%; /* 330px / 360px */
		}

	#feat-top-wrap .feat-top2-left-wrap .feat-info-wrap,
	#feat-top-wrap .feat-top2-right-wrap .feat-info-wrap {
		top: 0;
		right: 0;
		}

	#feat-wide-main .feat-wide4-text h2 {
		font-size: 2.2rem;
		}

	#feat-wide-main .feat-wide4-text p {
		font-size: 1rem;
		}

	ul.feat-wide-sub-list li {
		margin-bottom: 10px;
		}

	.feat-wide-sub-text h2 {
		font-size: .8rem;
		}

	#feat-top-wrap #feat-wide-main,
	#feat-wide-wrap #feat-wide-main {
		height: 560px;
		}

	#feat-wide-main .feat-wide1-img img {
		position: absolute;
		left: -9999px;
		right: -9999px;
		min-width: 1000px;
		}

	#feat-top-wrap .feat-wide4-text,
	#feat-wide-wrap .feat-wide4-text {
		background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
		background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba0,0,0,0.6)));
		background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
		top: auto;
		bottom: 0;
		padding: 40px 3.33333333% 280px; /* 20px / 600px */
		width: 93.34%; /* 560px / 600px */
		height: auto;
		}

	#feat-top-wrap #feat-wide-sub,
	#feat-wide-wrap #feat-wide-sub {
		background-image: none;
		left: 0;
		right: auto;
		top: auto;
		bottom: 0;
		padding: 0 3.33333333% 15px; /* 20px / 600px */
		width: 93.34%; /* 560px / 600px */
		height: auto;
		}

	#feat-top-wrap #feat-wide-main img.reg-img,
	#feat-wide-wrap #feat-wide-main img.reg-img {
		display: block;
		}

	#feat-top-wrap #feat-wide-main img.mob-img,
	#feat-wide-wrap #feat-wide-main img.mob-img {
		display: none;
		}

	#feat-top-wrap .feat-wide5-main,
	#feat-wide-wrap .feat-wide5-main {
		margin-bottom: 1px;
		margin-left: 0;
		width: 100%;
		height: 180px;
		}

	.feat-wide5-img img {
		margin-top: -5% !important;
		min-width: 0;
		}

	.feat-wide5-text {
		padding: 30px 4.1666666666% 15px; /* 15px / 360px */
		width: 91.67%; /* 330px / 360px */
		}

	#feat-top-wrap .feat-wide5-text h2,
	#feat-wide-wrap .feat-wide5-text h2 {
		font-size: .9rem;
		}

	.feat-vid-but {
		border: 3px solid #fff;
		font-size: 21.333333333px;
		margin: -23px 0 0 -23px;
		width: 40px;
		height: 40px;
		}

	.home-feat-main .feat-vid-but {
		top: 40%;
		}

	.home .tabs-top-marg {
		margin-top: 90px !important;
		}

	.home .body-top-pad {
		padding-top: 0 !important;
		}

	.body-top-pad {
		padding-top: 60px !important;
		}

	#post-wide-wrap {
		margin: 0;
		}

	.post-wide-text1 {
		padding: 40px 8.333333333% 30px; /* 30px / 360px */
		width: 83.34%; /* 300px / 360px */
		}

	h1.post-title-wide {
		font-size: 1.4rem;
		}

	#post-wide-video {
		display: block;
		float: left;
		margin: 0;
		max-width: none;
		padding: 0;
		width: 100%;
		}

	ul.side-list li:first-child {
		padding-top: 15px;
		}

	#latest-video-wrap {
		margin-bottom: 0;
		}

	.video-main-top {
		width: 100%;
		}

	.video-main-text {
		padding: 15px 4.16666666666%; /* 15px / 360px */
		width: 91.6666666666%; /* 330px / 360px */
		}

	.video-main-text h2 {
		font-size: 1rem;
		}

	.cont-part-main {
		display: block;
		float: left;
		max-width: none;
		}

	#main-nav-wrap {
		-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	   	   -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	    	    -ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	    	     -o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
			box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
		}

	.nav-logo-out {
		margin-left: -280px !important;
		}

	.nav-logo-in {
		margin-left: 280px !important;
		}

	.nav-left-wrap {
		width: 280px !important;
		}

	.nav-logo-fade {
		width: 200px;
		}

	#logo-leader-wrap {
		margin: 0;
		}

	.logo-leader-out,
	.logo-leader-in,
	.leader-wrap-out,
	.leader-wrap-in {
		margin-left: 0;
		}

	.leader-right-wrap {
		padding: 10px 0;
		}

	.leader-wrap-out {
		right: 0;
		}

	#head-main-top #leader-wrap {
		margin: 0;
		}

	#content-main h4.post-header {
		margin-bottom: 15px !important;
		}

	.mvp-related-posts {
		margin-bottom: 20px;
		}

	.mvp-related-posts ul li {
		border-top: 1px solid #ddd;
		margin-left: 0 !important;
		margin-top: 15px;
		padding-top: 15px !important;
		width: 100%;
		}

	.mvp-related-posts ul li:first-child {
		border-top: none;
		margin-top: 0;
		padding-top: 0 !important;
		}

	.mvp-related-img {
		margin-bottom: 0;
		margin-right: 4.54545454545454%; /* 15px / 330px */
		width: 24.242424242424%; /* 80px / 330px */
		max-width: 80px;
		}

	.mvp-related-text {
		width: 71.21212121212121%; /* 235px / 330px */
		}

	.mvp-related-text a {
		font-size: .9rem;
		}

	.whatsapp-share {
		display: inline-block;
		}

	.facebook-share,
	.twitter-share,
	.pinterest-share,
	.email-share,
	.social-comments,
	.whatsapp-share {
		width: 11%;
		}

}



@media screen and (max-width: 767px) {

	.contact-box {
		width: calc(100% - 90px);
    padding: 30px;
    float: left;
    background: #dedede;
    margin: 15px;
		height: auto;
	}

	.fly-but-wrap {
		display: block;
		}


		.wpcf7-form input {
			width: 92% !important;
		}
		.wpcf7-form textarea {
			width: 92% !important;
		}

		#home-mid-wrap .widget-ad {
			display: block !important;
		}

		.nav-search-wrap {
			display: none;
		}

		.is-fixed {
				position: fixed;
				top: -60px;
				left: 0;
				-webkit-transition: -webkit-transform 0.2s;
				-moz-transition: -moz-transform 0.2s;
				transition: transform 0.2s;
				z-index: 9999;
				width: 100%;
				display: block !important;
		}

		.header-cd {
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			transition: background-color 0.2s;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

				height: 60px;
				width: 100%;
				background: #4c196a;
		}
		.header-cd.is-visible {
			-webkit-transform: translate3d(0, 100%, 0);
			-moz-transform: translate3d(0, 100%, 0);
			-ms-transform: translate3d(0, 100%, 0);
			-o-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}
		.header-cd.is-fixed {
			position: fixed;
			top: -60px;
			-webkit-transition: -webkit-transform 0.2s;
			-moz-transition: -moz-transform 0.2s;
			transition: transform 0.2s;
		}
		.ontop {
		transform: translateZ(0) !important;
		-moz-transform: translatez(0) !important;
		-ms-transform: translatez(0) !important;
		-o-transform: translatez(0) !important;
		-webkit-transform: translateZ(0) !important;
		-webkit-font-smoothing: antialiased;
		}
}
