/* CSS Document */
body,html{height:100%;}
body{font-size:12px; font-family:Tahoma, Geneva, sans-serif; margin:0; padding:0; color:#222; height:100%;background:#edf4fa;}
.bodyc{background:#b8d8e8;}
img{border:0;}
a{blr:expression(this.onFocus=this.blur());outline: none;}
a:link{color:#07519a; text-decoration:none;}a:visited{color:#07519a; text-decoration:none;}
a:hover{color:#f00; text-decoration:none;}a:active{color:#506; text-decoration:none;}
.ma a{margin:0 5px;}.ma3 a{margin:0 3px;}.ma15 a{margin:0 15px;}
ul,li,p,dl,dt,dd{margin:0; padding:0; list-style:none;}

.ff{clear:both;}.z{float:left;}.y{float:right;}.cz{text-align:left;}.cc{text-align:center;}.cy{text-align:right;}
.mt10{margin-top:10px;}.mt8{margin-top:8px;}.mt5{margin-top:5px;}.mr10{margin-right:10px;}
.pt10{padding-top:10px;}.pb10{padding-bottom:10px;}.pl10{padding-left:10px;}
.zf00{color:#f00;}.hot{color:#f40;}.zf40{color:#f40;}.zcf0{color:#cf0;}.z888{color:#888;}.z555{color:#555;}.z075{color:#07519a;}.znew{color:#3da900}.zlan{color:#0074e7;}
.z14{font-size:14px;}.cu{font-weight:700;}
.k980{width:980px; margin:0 auto; clear:both;}.k780{width:780px;}.k710{width:710px;}.k268{width:268px;_width:267px;}.k200{width:200px;}
.k399{width:399px; padding-left:10px;}.k100{width:100px;}.k488{width:488px; padding-left:10px;}.k120{width:120px;}
.k399 dd{width:350px;}
.k140{width:140px;}.k600{width:600px;}
.kk1{padding:3px; border-bottom:1px solid #6dbfe9;}.kk2{border-bottom:1px solid #6dbfe9;padding: 9px;}

.kk3{border-bottom:1px solid #6dbfe9; padding:0 12px; height:28px; padding-top:8px;}
.kk4{border-bottom:1px solid #6dbfe9;}

.main_gg{margin:10px auto;}
.gg{width:738px;height:100px;margin:0px auto;/*border:1px solid #6dbfe9;background:#fff;padding:9px;*/ }
.gg1{border-bottom-style:none;border-bottom-width:medium;}
/*header*/
.hd{width:100%; background:url(../img/tbg.png) repeat-x;}
	.hd1{height:30px; line-height:30px;}
	.hd2{height:24px; line-height:24px;}
	.hd3{height:34px; padding-right:5px;}
	.hd31{width:420px; float:right; padding:0px 0 0 29px; background:url(../img/t1.png) no-repeat;}
	.hd311{display: table-cell;vertical-align: middle;zoom: 1;*display:inline;}
	.hd312{border:0px;display:table-cell;*display:inline;zoom:1;vertical-align:middle;height:34px;width:0px;}
	.hd32{width:120px; float:right;}
	
	.ssk{width:400px; height:20px; border:none; color:#07519a; font-size:14px;}
	.ssan{width:120px; height:34px; background:url(../img/t2.png) no-repeat; border:none;}

.nav{background:url(../img/t4.png) no-repeat; height:29px;padding-left:4px;}
	.nav li{line-height:27px; float:left; background:url(../img/t4.png) no-repeat 100% 0;}
	.nav span{display:block; padding:2px 14px 0 10.5px;}
	.nav li a:link,.nav li a:visited{color:#fff; text-decoration:none;line-height:27px;}.nav li a:hover{color:#ff0; text-decoration:none;line-height:27px;}
	.nav li.on{line-height:27px; float:left; background:url(../img/t5.png) no-repeat right;}
	.nav li.on a{color:#ff0;line-height:27px;}
.newnav{background:url(../img/t4.png) no-repeat; height:29px;padding-left:4px;}
	.newnav li{line-height:27px; float:left; background:url(../img/t4.png) no-repeat 100% 0;}
	.newnav span{display:block; padding:2px 14px 0 11px;}
	.newnav li a:link,.newnav li a:visited{color:#fff; text-decoration:none;line-height:27px;}.newnav li a:hover{color:#ff0; text-decoration:none;line-height:27px;}
	.newnav li.on{line-height:27px; float:left; background:url(../img/t5.png) no-repeat right;}
	.newnav li.on a{color:#ff0;line-height:27px;}
/*main*/
.main{width:978px; border:1px solid #6dbfe9; background:#fff; margin:10px auto;position: relative;z-index:3;}
	.in_01{background:#e1f4ff; overflow:hidden; padding:6px 0 0 12px;}
		.in_01 li{width:154px; height:205px; float:left; line-height:18px; text-align:center; margin:10px 2px; color:#888; overflow:hidden;}
		.in_01 li img{width:115px; height:153px; border:1px solid #ccc; padding:4px; background:#fff; margin-bottom:4px;}
		.in_01 li a:hover img{border:2px solid #f40; padding:3px; margin-bottom:4px;}
		.in_01bt{font-weight:700; color:#07519a; margin-bottom:5px;}.in_01bt span{font-weight:100;}
	.in_02{background:url(../img/xin.png); border-right:1px solid #6dbfe9; width:709px;}
		.in_02 ul{height:30px; line-height:30px;overflow:hidden;}.in_02 ul:hover{background:#e1f4ff;}
		.in_02 ul li{float:left; color:#222; overflow:hidden;}.in_02 ul li.xx{padding:0 10px; text-align:left; width:690px; color:#07519a;}
		.in_02 ul li b{color:#07519a; font-weight:700;float:left;}
		.in_02 ul li dl{color:888;}
		.in_02 ul li dl dt{width:21px; height:21px; border:1px solid #ccc; padding:1px; overflow:hidden; float:left; margin:3px 4px 0 0;}
		.in_02 ul li dl dd{color:#888; float:left;}
	.in_03{height:55px; background:url(../img/lbd.png) repeat-x;}
		.in_031{height:26px; overflow:hidden; margin-left:15px;}
			.in_031 li{width:80px; height:26px; float:left; text-align:center; line-height:30px; overflow:hidden;}	
			.in_031 li.on{width:100px; background:url(../img/guo.png) no-repeat; text-indent:6px; font-weight:700; line-height:26px;}	
			.in_031 li.on a{font-weight:700; color:#fff; padding-left:7px;}		
		.in_032{border-bottom:1px solid #d9ecff; background:#f5faff; line-height:20px; height:23px; padding:4px 0 0 10px;}
			.in_032 li{float:left; height:20px; overflow:hidden;}
			.in_032 li a{padding:0 5px; line-height:20px; height:20px; overflow:hidden; color:#07519a;}
			.in_032 li.on{background:url(../img/qh3.gif) no-repeat 0 0; padding-left:3px; margin:0 5px; float:left;}
			.in_032 li.on a{padding:0 7px 0 0px; display:block; float:left; background:url(../img/qh3.gif) right -20px; color:#fff; border:0;}
	.in_04{background:url(../img/xin.png); overflow:hidden; height:268px;}.in_04k{background:url(../img/d2.png) repeat-x 0 100%; padding-bottom:9px;}
		.in_04 li{width:174px; height:30px; line-height:30px; float:left;overflow:hidden; background:url(../img/b.gif) no-repeat 6px 9px; padding-left:21px;}
	.in_05{background:#e1f4ff; overflow:hidden; padding:6px 12px 10px 12px;}
		.in_05 ul{border-bottom:1px dashed #a8cee1; line-height:20px; height:23px; padding:4px 0 0 3px;}
			.in_05 ul li{float:left; height:20px; overflow:hidden;}
			.in_05 ul li a{padding:0 2px; line-height:20px; height:20px; overflow:hidden; color:#07519a;}
			.in_05 ul li.on{background:url(../img/qh2.gif) no-repeat 0 0; padding-left:3px; margin:0 5px; float:left;}
			.in_05 ul li.on a{padding:0 7px 0 0px; display:block; float:left; background:url(../img/qh2.gif) right -20px; color:#fff; border:0;}
	.in_06{width:268px;height:331px;float:right;border-bottom:1px solid #6dbfe9;_width:267px;overflow:hidden;}
	    .in_061{width:248px;height:239px;background:#000;margin:10px;_display:inline;_zoom:1;}
	        .in_061_l{width: 61px;display: inline-block;margin: 3px 0px 0px 5px;float:left;_display:inline;_zoom:1;_width:58px;}
	            .in_061_l li{width: 56px;height: 56px;display: block;margin: 0px 0px 3px 0px;background-color: black;_display:inline;_zoom:1;}
	            .in_061_l li img{width:56px;height:56px;_height:53px;}
	            .in_061_l li a{display:block;}
	        .in_061_r{width:182px;height:239px; display:inline-block;background-color:black;position:relative;_display:inline;_zoom:1;_height:240px;}
	            .in_061_r a{display:block;}
	            .in_061_r img{width:182px;height:239px;}
	            .in_061_rb{width:182px;height:60px;position:absolute;bottom:0px;left:0px;}
	                .in_061_rb1{width:182px;height:60px;opacity: 0.6;filter:alpha(opacity=60);background-color:Black;_position: absolute;_top:0px;_height:61px;}
	                .in_061_rb2{width:182px;height:60px;position: relative;top: -60px;_posation:absolute;_top:0px;_height:61px;}
	                .in_061_rb21{width:182px;height: 37px;overflow:hidden;padding: 3px 0px 0px 2px; vertical-align:top;display:inline-block;font-size:16px;color:Orange;font-weight:bold;_height:38px;}
	                .in_061_rb22{width:182px;height: 20px;overflow:hidden;padding-left:2px; vertical-align:top;display:inline-block;font-size:16px;color:White;}
	                    .in_061_rb22 a{color:White!important;white-space: nowrap;display:inline-block;_display:inline;zoom:1;height: 20px;overflow:hidden;vertical-align:top;}
	                    .in_061_rb22 a:hover{color:red!important;}
	                        .in_061_rb22a1{max-width:110px;width: expression(this.offsetWidth > 110 ? '110px': true);}
	                        .in_061_rb22a2{max-width:60px;width: expression(this.offsetWidth > 60 ? '50px': true);}
	.lvkx2{padding:10px 0 0 0; height:100%;}
		.lvkx2 li{width:135px; margin-right:20px; display:inline; float:left; color:#888; font-size:11px;}
		.lvkx2 li img{border:1px solid #ccc; padding:4px; margin-bottom:5px;}.lvkx2 li a:hover img{border:2px solid #f50; padding:3px;}
		.lvkx2 li a{font-size:14px; color:#f50; text-decoration:none;font-family:Arial;}.lvkx2 li a:hover{color:#222;}
		
.gl_k{width:280px; background:#fff url(../img/glk.gif) repeat-x; border:6px solid #dfdfdf;}
	.gl_k_bt{height:30px; line-height:30px; color:#07519a; font-weight:700; padding-left:10px;}
	.gl_k_nr{padding:4px 0 4px 8px; line-height:28px; overflow:auto;}.gl_k_nr img{vertical-align:middle;}
		.gl_k_nr ul li{width:200px; float:left;}
	.gl_k_nr2{padding:12px 0; text-align:center; color:#f00; line-height:24px;}
.gl_k2{width:230px; background:#fff url(../img/glk.gif) repeat-x; border:6px solid #dfdfdf;}
.update{color:#0af;}
.new{color:#3da900;}
/*索引页*/
.sy_k{ background:url(../img/xxd.png) repeat-x 0% 100%;border-top:3px solid #fff;border-left:3px solid #fff;border-right:3px solid #fff; min-height:275px;background-color: #e1f4ff;}
	.sy_k1{width:186px; height:246px; padding:14px 11px 10px 14px;}
		.sy_k1 img{width:180px; height:240px; padding:2px; border:1px solid #ccc; background:#fff;}
	.sy_k2{width:750px; padding:12px 0; overflow:hidden;}
		.sy_k21{border-bottom:1px dashed #ccc; height:27px; overflow:hidden; line-height:27px; padding:0 0 0 5px;}
			.sy_k21 h1{font-size:14px; color:#07519a; display:inline;}.sy_k21 h2{font-size:12px; font-weight:100; color:#888; display:inline;}
		.sy_k22{width:525px;}
			.sy_k22 li{height:20px; line-height:20px; overflow:hidden;}
		.sy_k23{background-color:#fff; overflow:hidden;padding:3px;border:1px solid #6dbfe9;margin-top:10px;}.sy_k23 img{border:1px solid #6dbfe9; padding:3px; background:#fff;}
	.sy_ts{border:2px solid #feeecb; width:98%; margin:0 auto;}
		.sy_ts2{border:1px solid #ffd38a; color:#07519a; background:#fef5e3; padding:6px; text-align:center; overflow:auto; line-height:22px;}
	.sy_bt{border-bottom:1px dashed #ccc; height:25px; line-height:25px; width:98%; margin:10px auto;}
		.sy_bt h3{font-size:14px; line-height:25px; display:inline;}
	.sy_nr1{margin:8px 0 10px 10px;}
		.sy_nr1 li{width:161px; height:24px; line-height:24px; overflow:hidden; float:left; color:#888;}
	.sy_nr2{margin:10px 8px 0 8px; border-bottom:1px dashed #ccc; height:215px; overflow:auto;}
		.sy_nr2 li{width:140px; height:213px; margin:0 10px; overflow:hidden; float:left; text-align:center; line-height:18px; display:inline;}
		.sy_nr2 li img{width:120px; height:160px; border:1px solid #ccc; padding:2px; margin-bottom:5px;}
		.sy_nr2 li a{text-decoration:none;}.sy_nr2 li a:hover img{border:1px solid #07519a;}
.sy_tb1{height:34px; line-height:40px; overflow:hidden; border-bottom:2px solid #71a7d2; padding:0 10px 5px 10px;}
	.sy_tb1 img{vertical-align:middle; margin-top:6px;}
.sy_tb2{background:url(../img/xin.png);}
	.sy_tb2 ul{clear:both; color:#09f;}
	.sy_tb2 ul li{float:left; height:30px; line-height:30px; overflow:hidden;}
	.sy_tb2 ul li{position:relative;}
	.li_del {overflow:visible!important;width:0px;}
	.sy_tb2 ul li p {display:none;}
	.sy_tb2 ul:hover li p{border: 1px solid #D8D8D8;height: 10px;position: absolute;right: 0;top: 4px;padding: 6px 8px;background: #FBFBFB;display:block;width:24px;}
	.sy_tb2 ul li p a{line-height: 9px;}
		.k30{width:30px; padding-top:4px;}
.sy_tb3{background:url(../img/ftd.png) repeat-x; height:203px; padding:0 15px; overflow:hidden;}
	.sy_tb31{font-weight:700; line-height:35px; height:35px;}
	.sy_tb32{overflow:hidden;}
.sy_tb4{background:#ddf4ff; border-top:1px solid #afd9ec; border-bottom:1px solid #afd9ec; font-weight:700; padding:0 10px;}
.sy_tb5{padding:8px 0 8px 12px; border-bottom:1px solid #afd9ec; overflow:auto;}
	.sy_tb51{width:72px; float:left;}.sy_tb51 img{width:56px; height:56px; padding:1px; border:1px solid #d0eaf6;}
	.sy_tb52{width:878px; float:left;}
		.sy_tb52_nr{line-height:20px; color:#222;width: 878px;word-break: break-all;word-wrap: break-word;}
.xxx1{width:970px; margin:10px auto; height:450px; background:url(../img/xx2.gif) repeat-x;}
.xxx2{width:960px; text-align:center; background:url(../img/xx1.gif) no-repeat; float:left; padding-top:150px; line-height:40px; color:#090; font-weight:700; font-size:16px;}
	.xxx2 a{color:#07519a; text-decoration:underline; font-weight:100; font-size:12px;}.xxx2 a:hover{color:#f00;}
.xxx3{width:10px; height:450px; background:url(../img/xx3.gif) no-repeat; float:left;}
/*view*/
.hd_view{height:28px; line-height:28px; padding:2px 10px 0 10px; background:url(../img/tbg.png) repeat-x bottom;}
	.view_bt{margin:20px auto; text-align:center;}
		.view_bt h1{font-size:18px; line-height:26px;}
	.view_tu{text-align:center;}.view_tu img{border:2px solid #000; padding:2px; background:#fff;position:relative;z-index:9;}
.v_fy{width:980px; margin:0 auto; text-align:center; height:60px; line-height:20px;  border-bottom:1px dashed #d2d2d2;}
	.v_yan1{width:90px; height:30px; font-size:14px; font-weight:700; background:url(../img/yan.gif); border:0; color:#fff; padding-left:20px; letter-spacing:1px;}
		.v_yan1:hover{background:url(../img/yan.gif) 0 -30px;}
	.v_yan2{width:90px; height:30px; font-size:14px; font-weight:700; background:url(../img/yan.gif) 0 -60px; border:0; color:#fff; text-align:left; padding-left:12px; letter-spacing:1px;}
		.v_yan2:hover{background:url(../img/yan.gif) 0 -90px;}

.blue_lj a,.blue_lj a:link,.blue_lj a:visited{color:#07519a; text-decoration:none;}.blue_lj a:hover{text-decoration:underline;}
.huang_lj a,.huang_lj a:link,.huang_lj a:visited{color:orange; text-decoration:none;}.huang_lj a:hover{text-decoration:underline;}

#login_kk{border:2px solid #ccc; overflow:auto;}
	.login_bt{height:51px; overflow:hidden; line-height:70px; font-size:14px; background:#f5f5f5 url(../img/login/tb.jpg) no-repeat; border-bottom:1px solid #ccc; text-align:right;}
		.login_bt span{color:red; font-size:16px; font-weight:700;}
#login_nk{padding:0px 10px;}
	.login_dl{width:350px; float:left; margin:0px 5px 10px 30px; display:inline;}
		.dlk1{width:250px; height:23px; border: 1px solid; margin:6px 0; line-height:23px; border-color: #707070 #CECECE #CECECE #ABABAB; background:#F9F9F9 url(../img/login/ico1.jpg) no-repeat; padding-left:80px;}
			.dlk1:focus{ border-color: #6FB1DF; color: #333; -moz-box-shadow: 0 0 5px #6FB1DF; }
		.dlk2{width:250px; height:23px; border: 1px solid; margin:6px 0; line-height:23px; border-color: #707070 #CECECE #CECECE #ABABAB; background:#F9F9F9 url(../img/login/ico2.jpg) no-repeat; padding-left:80px;}
			.dlk2:focus{ border-color: #6FB1DF; color: #333; -moz-box-shadow: 0 0 5px #6FB1DF; }
		.dlk3{width:100px; height:23px; border: 1px solid; margin:6px 0; line-height:23px; border-color: #707070 #CECECE #CECECE #ABABAB; background:#F9F9F9 url(../img/login/ico3.jpg) no-repeat; padding-left:80px;}
			.dlk3:focus{ border-color: #6FB1DF; color: #333; -moz-box-shadow: 0 0 5px #6FB1DF; }
		.dlk4{width:156px; height:29px; border:0; background:url(../img/login/dl.jpg) no-repeat;}
		.zcts{width:330px; height:22px; line-height:22px; color:#f00; font-size:14px; font-weight:700; margin:10px 0 0 30px; display:none;}
	.login_dl img{vertical-align:middle;}
	.login_da{margin-top:10px; text-align:center;}

	.login_tg{width:180px; float:left; text-align:center; line-height:20px; margin-top:5px;}

	.login_tx{margin-top:30px; border-top:1px solid #efefef; line-height:40px; text-align:center; padding-bottom:10px;}
/*link*/
.lj_bai{color:#fff;}.lj_bai a:link,.lj_bai a:visited{color:#fff; text-decoration:none;}.lj_bai a:hover{color:#cf0; text-decoration:none;}
.lj_bai2 a:link,.lj_bai2 a:visited{color:#000; text-decoration:none;}.lj_bai2 a:hover{color:#cf0; text-decoration:none;}
.lj_h1 a{color:#f40; text-decoration:none;}.lj_h1 a:hover{color:#a00; text-decoration:none;}
.lj_lv{color:#183f02;}.lj_lv a:link,.lj_lv a:visited{color:#183f02; text-decoration:underline;}.lj_lv a:hover{color:#f00; text-decoration:none;}
.lj_lv2 a{color:#183f02; text-decoration:underline;}.lj_lv2 a:hover{color:#f00; text-decoration:none;}
.lj_red a,.lj_red a:link,.lj_red a:visited{color:#f00; text-decoration:none;}.lj_red a:hover{color:#f00; text-decoration:underline;}
.lj_hei a{color:#222; text-decoration:none;}.lj_hei a:hover{color:#f00; text-decoration:underline;}
.lv_lj a,.lv_lj a:link,.lv_lj a:visited{color:#468601; text-decoration:none;}.lv_lj a:hover{text-decoration:underline;}
/*contact*/
.contact{padding:5px;width:968px;}
    .cmain{height:100%;background:#e2f4ff;}
        .cmain .cur{background:url(../img/clb.png) repeat-x;border-left:3px solid #fe9900;width:106px;}
        .cmainl{display:inline-block;*display:inline;zoom:1;float:left;width:109px;}
            .cmainl ul li{border-left:3px solid #e2f4ff;width:106px;height:38px;line-height:38px;text-align:center;font-size:14px;font-weight:bold;color:#26292e;}
                .cmainl ul li a{color:#26292e;width: 106px;height: 38px;display: block;}
                .cmainl ul li a:hover{color:#f00;}
        .cmainr{padding-left:31px;width:828px;display:inline-block;*display:inline;zoom:1;background-color:White;_margin-left:-3px;}
            .cmainr .crc{width:793px;padding-right:35px;color:#666666;word-spacing:2px;}
            .cmainr .crc a{color:#666666;}
                .helpmain{width:720px;height:630px;background:#e2f4ff; margin:22px auto;border:1px solid #6dbfe9;}
                    .helpmaint{height:27px;width:720px;border-bottom:1px solid #6dbfe9;}
                        .helpmaint .c{background:#ff9900;color:White;}
                        .helpmaint ul li{width:74px;height:27px;line-height:27px;float:left;text-align: center;display:inline-block;*display:inline;*zoom:1;border-right:1px solid #6dbfe9;}
                            .helpmaint ul li a{width:74px;height:27px;line-height:27px;display:block;}
                    .helpmainc{height:534px;width:720px;}
                        .helpmainc .hmct{height:34px;padding-left:7px;line-height:34px;border-top:1px solid white;padding-bottom: 20px;}
                        .helpmainc .hmcc1{height:16px;width:670px;padding-bottom:20px;margin:0 auto;}
                            .hmcc1 label{display:inline-block;line-height:16px;line-height:20px\9;*line-height:24px;_line-height:20px;*display:inline;*zoom:1;padding-left:18px;}
                            .hmcc1 input{float:left;}
                        .helpmainc .hmcc2{width:670px;padding:20px 0px 0px 50px;}
                            .hmcc2 #txtHelpTargetUrl{width:605px;height:16px;border: 1px solid #b4d8f2;padding:5px;color:#b3b3b3;}
                            .hmcc2 span{color:#f00;padding-left:9px;vertical-align:bottom;}
                            .hmcc2 .hmcccontent{width:615px;height:130px;border: 1px solid #b4d8f2;float:left;background:White;color:#b3b3b3;margin-top:6px;overflow:auto;}
                            .hmcc2 .spc{display: inline-block;padding-top: 18px;*display:inline;*zoom:1;}
                            .hmcc2 #txtHelpContent{color:#b3b3b3;min-height:120px;padding:5px;}
                            .hmcc2 img{margin:7px 0 0 585px;}
                            .hmcc2 #txtHelpContent img{margin:0;}
                            .hmcc2 .hmccmsg{width:615px;height:20px;border: 1px solid #b4d8f2;padding:60px 0;background:White;margin-top:36px;text-align:center;color:#b3b3b3;}
                        .helpmainc .hmcc3{width:670px;padding:20px 0px 0px 50px;}
                            .hmcc3 #txtQQ,.hmcc3 #txtTel,.hmcc3 #txtEmail{width:140px;border:1px solid #b4d8f2;height:16px;margin-top:15px;padding:5px;color:#b3b3b3;}
                            .hmcc3 #btnSubmit{width:50px;height:20px;color:White;margin-top:20px;background:#519bc0;border:0px;}
                            .hmcc3 span{color:#f00;padding-left:9px;vertical-align:bottom;}
                            .hmcc3 #txtErrorMsg{display: inline-block;padding-bottom: 3px;*display:inline;*zoom:1;}
                    .helpmainb{height:69px;width:720px;}
                        .helpmainb .hmbt{height:26px;width:705px;line-height:26px;padding-left:15px;background:url(../img/ysj.png) no-repeat 8px center;}
                        .helpmainb .hmbb{height:42px;width:710px;line-height:42px;padding-left:10px;border-top:1px solid #b4d8f2;}
            .crct{height:30px;width:786px;line-height:30px; border-bottom:1px solid #6dbfe9;padding-left:7px;background:url(../img/ysj.png) no-repeat left center;}
            .crcb{min-height:112px;width:793px;line-height:20px;padding-top:11px;_height:112px;overflow:visible;}
                .crcb p{letter-spacing:1px;text-indent:2em;line-height:23px;margin-bottom:14px;}
                .crcb ul{display:block;padding-left:20px;letter-spacing:1px;margin-bottom:24px;}
                .crcb ul li{line-height:22px;padding-left:7px;}
                .crcb .h{font-weight:bold;background:url(../img/yjt.png) no-repeat left center;}
/*footer*/
.footer{height: 230px;margin-top: 10px;background: #edf4fa;border-top: 3px solid #e0f4ff;}
    .fm{height: 229px;border-top: 1px solid #6dbfe9;}
        .fmb{width: 972px;margin: 0 auto;height: 100%;}
            .fmbs1{width: 967px;height: 139px;padding:40px 0 0 5px;}
                .fmbs1 ul{display:inline-block;float:left;*display:inline;*zoom:1;width:155px;height:120px;}
                .fmbs1 ul li{height:25px;font-family:none;color:#676767;}
                .fmbs1 ul li a{color:#676767;} 
                .fmbs1 ul li a:hover{color:#f00;}
                .fmbs1 .tt{font-weight: bold;font-size: 14px;height: 30px;color:#444;text-shadow: 0 0 1px rgba(0,0,0,0.3);}
                .fmbs1 .tt span{font-weight:normal;font-size:12px;margin:0 5px;}
                .fmbs1 .tr{width:192px;height:120px;float:left;font-family:none;color: #676767;}
                .fmbs1 .tr .tr2{margin-top: 10px;line-height: 17px;height:34px;}
                .fmbs1 .tr .tr2 .tr2l{width:60px;display:inline-block;float:left;}
                .fmbs1 .tr .tr2 .tr2r{display:inline-block;float:left;font-size: 13px;}
                .fmbs1 .tr .tr3{font-family:Tahoma, Geneva, sans-serif;font-size: 24px;margin-top:7px;}
                .fmbs1 .tr .tr3 a{color:#d20b99;text-shadow: 0 0 1px rgba(223,173,202,0.5);}
                .fmbs1 .tr .tr3 a:hover{color:#f00;text-shadow: 0 0 1px rgba(223,173,202,0.5);}
            .fmbs2{width: 967px;height: 39px;border-top: 1px solid #cccccc;font-family:none;font-size:13px;_font-size:12px; line-height: 16px;color: #676767;padding:10px 0 0 5px;}

/*友情链接*/
.yq_bot{padding:5px 5px 10px 5px;}
	.yq_img{width:950px; overflow:hidden;}.yq_img img{width:88px; height:31px; border:1px solid #000; margin:3px 7px;}
	.yqzi{padding:5px;}.yq_zi a{margin-right:15px; line-height:20px;}
.fot{line-height:20px; margin:10px 0; text-align:center;}
/*仿滑门*/
.dis{display:block;}.undis{display:none;}
.in1{color:#07519a; padding:0 10px; cursor:pointer;}
.in2{color:#f50; background:#fff; height:23px; margin:2px 0 0 0; padding:0 10px; border:1px solid #c0e0ff; border-bottom:none; cursor:pointer;}
.bt1{background:#e4f4ff; color:#07519a; font-weight:700; padding:0 8px; height:26px; line-height:26px;}
.hm{margin:8px 6px 0 6px; background:url(../img/xb.gif) no-repeat 1px 4px;}
	.hm li{height:24px; line-height:24px; overflow:hidden; border-bottom:1px dashed #ccc; padding-left:20px;}
/*翻页*/
#search_fy{margin:20px 0; clear:both; text-align:center; background:#fff;}
	#search_fy a:link,#search_fy a:visited{border:1px solid #e8e8e8; font-size:12px; padding:5px 9px; *line-height:28px!important; margin:0 3px; color:#333; text-decoration:none;}#search_fy a:hover{background:#359cee; padding:4px 9px; text-decoration:none; border-color:#359cee; color:#fff;}
	#search_fy .current{font-size:12px; padding:5px 9px; margin:0 3px; font-weight:700; color:#000;}
	#search_fy em.flr a{border:0; padding:0; background:none; margin:0;}
	.search_fy{margin:20px 0; clear:both; text-align:center; background-color:#B8D8E8;}
	.search_fy a:link,.search_fy a:visited{border:1px solid #e8e8e8; font-size:12px; padding:5px 9px; *line-height:28px!important; margin:0 3px; color:#333; text-decoration:none;}.search_fy a:hover{background:#359cee; padding:4px 9px; text-decoration:none; border-color:#359cee; color:#fff;}
	.search_fy .current{font-size:12px; padding:5px 9px; margin:0 3px; font-weight:700; color:#000;}
	.search_fy em.flr a{border:0; padding:0; background:none; margin:0;}
/*小弹框*/
.tk{width:360px; border:1px solid #6dbfe9; background:#fff; margin:0 auto 22px; z-index:3 }
	.tk_01{width:96px; height:150px; overflow:hidden; float:left; margin:8px 8px 2px 9px;}
		.ydfm{width:90px; height:120px; border:1px solid #ccc; padding:2px; margin-bottom:5px;}
	.tk_02{width:232px; height:150px; overflow:hidden; float:left; margin:8px 0 2px 0;}
		.tk_02_bt{border-bottom:1px dashed #ccc; height:27px; overflow:hidden; line-height:27px;}
			.tk_02_bt h1{font-size:14px; color:#07519a; display:inline;}.tk_02_bt h2{font-size:12px; font-weight:100; color:#888; display:inline;}
		.tk_02_nr{margin:3px 0 0 0; color:#222;overflow:inherit!important;height:auto!important;line-height:normal!important;}
			.tk_02_nr li{height:20px; line-height:20px; overflow:hidden;float:none!important;}
	.tk_03{height:20px; background:url(../img/xx.png) repeat-x; clear:both;}
	.tk_04{line-height:18px; color:#555; padding:5px 8px; border-bottom:1px solid #eee;}
	.tk_05{line-height:20px!important; padding:5px 8px!important;overflow:inherit!important;height:auto!important;}
		.tk_05 li{height:20px; overflow:hidden; color:#090!important;}
.tk2{border:10px solid #b2d0ea; background:#fff; padding:10px; width:550px; /* position:fixed; top:200px; left:50%; margin-left:-286px;*/}
	.tk21{font-weight:700; font-size:14px; line-height:24px;}
	.tk22{margin:20px auto;}
	.tk23{overflow:hidden; padding:6px 0 0 0;}
		.tk23 li{width:135px; height:185px; float:left; line-height:18px; text-align:center; margin:5px 1px; color:#888; overflow:hidden;}
		.tk23 li img{width:100px; height:133px; border:1px solid #ccc; padding:4px; background:#fff; margin-bottom:4px;}
		.tk23 li a:hover img{border:2px solid #f40; padding:3px; margin-bottom:4px;}
	.tk24{margin:0;}
		.tk24 li{width:160px; background:url(../img/xg.gif) no-repeat 0 6px; padding:0 8px 0 15px;}
/*点击切换内容*/
.qh{overflow:hidden; z-index:9999}
.qh li{float:left; text-align:center; margin-left:15px; letter-spacing:2px;}
	.qh li a{display:block; width:122px; height:31px; line-height:27px; text-align:center; white-space:nowrap; background:url(../img/an.png) no-repeat 0 -31px;}
	.qh li a:link,.qh li a:visited{color:#fff; font-size:14px; font-weight:700;}
	.qh li a:hover{text-decoration:none; background:url(../img/an.png) no-repeat 0 -62px; color:#07519a;}
	.qh li.dj{}
	.qh li.dj a{background:url(../img/an.png) no-repeat 0 0;zoom:1;display:inline-block;}
	.qh li.dj a:hover{background:url(../img/an.png) no-repeat 0 0; color:#fff;zoom:1;display:inline-block;}
	/*#a1{display:block;}#a2,#a3,#a4,#a5,#a6,#a7,#a8{display:none;}*/
.qhy{float:right; line-height:28px; margin-top:8px; color:#07519a; vertical-align:middle;}
/*输入框样式*/
.srk1{width:180px; height:18px; line-height:18px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background:#F9F9F9;}
	.srk1:focus{height:18px; line-height:18px; border-color: #6FB1DF; color: #333; -moz-box-shadow: 0 0 5px #6FB1DF; }
.srk2{width:946px; height:100px; margin:6px 0; font-size:12px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9;}
	.srk2:focus{border-color: #6FB1DF; color: #333; -moz-box-shadow: 0 0 5px #6FB1DF; }
.wdl{width:946px; height:100px; margin:6px 0; font-size:14px; border: 1px solid #ccc; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9; line-height:100px; text-align:center;}
.an1{width:84px; height:24px; border:0; background:url(../img/xa3.png) no-repeat;}
.an2{width:112px; height:24px; border-top:1px solid #c2d5e3; border-left:1px solid #c2d5e3; border-right:1px solid #369; border-bottom:1px solid #369; background:#e5edf2; letter-spacing:3px; font-size:14px; font-weight:700; color:#07519a;}
/*登陆注册页*/
.zc{width:920px; margin:30px auto;}
	.zc1{height:110px; overflow:hidden;}
	.zc2{width:900px; height:200px; overflow:hidden; color:#666; line-height:33px; margin:5px 0;}
		.zc2 li.z2z{width:250px; height:33px; float:left; text-align:right; font-size:14px;}
		.zc2 li.z2y{width:580px; height:33px; float:left; color:#888;}
		.zc2 li.z2y img{vertical-align:middle;}
	.zc3{height:56px; overflow:hidden;}
	.onShow{color:#999;}
	.onCorrect{background:url(../img/gou.gif) no-repeat;}
	.onFocus{color:#999;}
	.onError{color:#f00;}
.zck{border:1px solid #ddd; height:18px; width:180px;}.zck:focus{border:1px solid #4ca5d3;}
.zcan{width:96px; height:26px; background:url(../img/ana.png) repeat-x; border:1px solid #bbb; color:#fff; font-size:14px; font-weight:700;}
	.zc2x{width:550px; height:175px; overflow:hidden; color:#666; line-height:33px; margin:5px 0; border-top:2px solid #eee; padding-top:20px;}
		.zc2x li.z2z{width:100px; height:33px; float:left; text-align:right; font-size:14px;}
		.zc2x li.z2y{width:440px; height:33px; float:left; color:#888;}
		.zc2x li.z2y img{vertical-align:middle;}
.mato10{margin-top:10px;}
/*下拉框*/
.select-box{background:#fff url(../img/xlkr.gif) no-repeat right; position:relative; border:1px solid #7c9cb9; height:20px; margin:5px 5px 0 0; line-height:20px; text-indent:6px; float:left;}
.select-box ul{border:1px solid #7c9cb9; background:#fff;display: none; position:absolute; left:0px; top:20px;}
.select-box ul li{line-height:20px; font-family:Verdana, Geneva, sans-serif;}.select-box ul li:hover{background:#0065a2;}
.select-box span{font-family:Verdana, Geneva, sans-serif; font-weight:700;}
.ss_xl li{line-height:22px; border-left:1px solid #6dbfe9; border-right:1px solid #6dbfe9; border-bottom:1px solid #edf5fb; border-top:0px; padding:0px 4px; opacity:1; z-index:233px; background:#fff;}.ss_xl li:hover{background:#e6f2fe;}

* html .fixed {
	bottom:auto;
	position:absolute;
	right:0;
top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}
.fixed {
	bottom:0;
	position:fixed;
	left:50%;
	width:250px; height:30px; line-height:30px;background:#e0ffce; text-align:center; font-size:12px; font-weight:100; color:#690; margin:-28px 0 0 -100px;
	border:2px solid #690;
}
.hongzi{color:#f00;}
#ulComicType li{cursor:pointer;}
.flowtag{width:110px;height:20px;padding:0px 5px 0px 0px;margin:0px 0px 0px 5px; position:absolute;text-align:right;background-image:url(../img/status_bg.png);display:block;top:138px;left:0px;background-repeat:no-repeat;background-color:transparent;background-position:right top;background-attachment:scroll;clear:both;}
.cover{width:125px;height:170px;display:block;position:relative;}
 html,*html body{background-image:url(about:blank);background-attachment:fixed}
  .fixedshare
    {
        position:fixed;
        border: 1px solid #6DBFE9;
        background-color:White;
        margin:0px;
        padding:0px;
        z-index:1000;
        text-align:center;
        overflow:hidden;
        top: 250px;
        right:149px;
    }
      .fixedshare_zhangjie
    {
        position:fixed;
        border: 1px solid #6DBFE9;
        background-color:White;
        margin:0px;
        padding:0px;
        z-index:1000;
        text-align:center;
        overflow:hidden;
        bottom: 50px;
        right:5px;
    }
.about 
{
    padding:20px 0px;
border: 1px solid #7BB6CE;
background: #F1F9FB;
width:978px;
margin:10px auto;
text-align: left;
}
.about_c
{
    padding: 10px;
}
.about h1 {
font-size: 14px;
font-weight: bold;
color: #ED5D0F;
}
.about ul{
margin: 0;
padding: 0;
list-style: none;
}
.about li {
margin: 0;
padding: 5px;
list-style: none;
line-height:28px;
}

.about .job_c 
{
    margin:5px 6px;
width: 451px;
border: 1px solid #7BB6CE;
background: #F1F9FB;
padding: 5px 0px 10px 17px;
text-align: left;
float: left;
}
.about .about_nav
{
    text-align:center;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    margin:10px;
    border-bottom:1px solid #7BB6CE;
}
.about .about_nav a {
color: #0086CA;
margin: 0 35px;
}
/*评论*/

#screen{width:100%;height:100%;position:absolute;top:0;left:0;display:none;z-index:100;background-color:#666;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;}
.floatbox {background: none repeat scroll 0 0 #fff;border: 2px solid #cbced0;left: 50%;position: absolute;top: 50%;width: 466px;z-index: 999;}
.floatbox_tt {background: none repeat scroll 0 0 #F4F4F4;border-bottom: 1px solid #E5E5E5;height: 32px;line-height: 32px;padding: 0 18px;position: relative;}
.floatbox_tt h3 {color: #3D3D3D;font-size: 14px;margin:0;padding:0;}
.floatbox_tt .close {background: url("../img/act_0808.png") no-repeat scroll 0 -158px transparent;display: block;height: 11px;overflow: hidden;position: absolute;right: 18px;text-indent: -9999px;top: 10px;width: 11px;}
.floatbox_tt .close:hover {background-position: -12px -158px;}
.floatbox_con tt{ color:#333; font-size:14px; padding-right:10px; }
.floatbox_con {background: url("../img/login_bg.png") no-repeat scroll 287px 20px transparent;overflow: hidden;padding: 0px 30px 30px 50px;}
.floatbox_div_tt {color: #929292;height: 32px;line-height: 32px;}
.floatbox_div_tt h4 {color: #6E6E6E;float: left;font-size: 12px;}
.floatbox_div {border-bottom: 1px dashed #E2E2E2;overflow: hidden;padding-bottom: 10px;}

.cl5-left, .cl5-right {display: block;position: absolute;width: 50%;z-index: 0;}
.cl5-right{right: 0px;height: 700px;top: 133px;}
.cl5-left{left: -499px;height: 700px;top:133px;}
.kk2_p{ padding:9px}

.kk1_1{border: none;border-bottom: 1px solid #6DBFE9;padding: 3px;}
.in_01_1{background: #E1F4FF;overflow: hidden;padding: 6px 0 0 6px;}
.kk1_1_sp{ color: #07519A;font-weight: bold;}

.right_NewBg{position: absolute;width: 50%!important;height: 700px!important;top: 143px;right: 0px;cursor: pointer;}
.left_NewBg{height: 700px;left: -490px;top: 143px;position: absolute;width: 50%;cursor: pointer;}
.divEnd_cs{ text-align:left;}
.divEnd_cs .hd2{ overflow :hidden}
.right_NewBgt{background-repeat:no-repeat;background-attachment:scroll;background-position:490px top; position:absolute;width: 50%!important;height: 700px!important;top: 143px;right: 0px;cursor: pointer;}
.left_NewBgt{background-repeat:no-repeat;background-attachment:scroll;background-position:right top;height: 700px!important;left: -490px;top: 143px;position: absolute;width: 50%!important;;cursor: pointer;}
.right_NewBg_fixed{background-repeat:no-repeat;background-attachment:scroll;background-position:490px top;position:fixed!important;_position:absolute; width: 50%!important;height: 700px!important;top: 143px;right: 0px;cursor: pointer;_top: expression(eval(document.documentElement.scrollTop+143));}
.left_NewBg_fixed{background-repeat:no-repeat;background-attachment:scroll;background-position:right top; height: 700px!important;left: -490px;top: 143px;position: fixed!important;_position:absolute;width: 50%!important;cursor: pointer;_top: expression(eval(document.documentElement.scrollTop+143));}
#cp_a1{display:block;}
#cp_a2{display:none;}
.nav .ielast span{*padding: 2px 11px 0 13px!important;}
.newnav .ielast span{*padding: 2px 9px 0 9px!important;}

/*首页走马灯*/
.zmd1{width: 973px;height: 226px;overflow:hidden;position:relative;}
.zmd11{width: 979px;position: absolute;left:0px;top:0px;display:none;}
.zmd11_1{display: table-cell;*display:inline;zoom: 1;vertical-align: middle;width: 979px;}
.zmd11_11{width:58px;height:25px;background:url(../img/topscrollbackground.png) no-repeat;margin:0 auto;}
    .zmd11_11 tt{width:10px;height:10px;background:url(../img/topscrollbuttongrey.png) no-repeat center;display:inline-block;_display:inline;_zoom:1;margin-top: 8px;padding: 0 0 0 9px;_margin-top:4px;_height:8px;}
     .zmd11_11 tt.numcur{background:url(../img/topscrollbuttonblue.png) no-repeat center;}
.zmd11_2{width:0px;height: 233px;border: 0px;display: table-cell;*display:inline;zoom: 1;vertical-align: middle;_height:210px;}
.pre{width: 41px;background:#e1f4ff;}
    .pre a{background:url(../img/left.jpg) no-repeat;width:29px;height:43px;display:block;margin:0 auto;}
    .pre a:hover{background:url(../img/lefthover.jpg) no-repeat;}
.prec1 {display: table-cell;*display:inline;zoom: 1;vertical-align: middle;width:41px;}
.prec2 {border: 0px;display: table-cell;*display:inline;zoom: 1;vertical-align: middle;height: 226px;width: 0px;}
.ibox{width: 890px;height:226px;margin: 0 auto;position: relative;overflow: hidden;background:#e1f4ff;}
    .ibox ul{height: 226px;white-space: nowrap;zoom: 1;}
    .ibox ul li{width:144px; height:205px; float:left; line-height:18px; text-align:center; margin:10px 2px; color:#888; overflow:hidden;display:inline;}
    .ibox ul li img{width:115px; height:153px; border:1px solid #ccc; padding:4px; background:#fff; margin-bottom:4px;}
    .ibox ul li a:hover img{border:2px solid #f40; padding:3px; margin-bottom:4px;}
.ibox .showbox {position: absolute;left: 0px;float: left;overflow: hidden;}
.next{width: 41px;background:#e1f4ff;}
    .next a{background:url(../img/right.jpg) no-repeat;width:29px;height:43px;display:block;margin:0 auto;}
    .next a:hover{background:url(../img/righthover.jpg) no-repeat;}
.next1 {display: table-cell;zoom: 1;*display:inline;vertical-align: middle;width:41px;}
.next2 {border: 0px;display: table-cell;zoom: 1;*display:inline;vertical-align: middle;height: 226px;width: 0px;}

/*背投广告*/
.beitou{background-position:center 143px;background-repeat:no-repeat;min-width:970px;_width:expression((documentElement.clientWidth < 970) ? "970px" : "auto" );}
.beitouc{margin: 10px auto 0;}
.btcflaym{width: 100%;display: block;position:relative;z-index:3}
.btcflayl{position:absolute;left:-489px;top:143px;width:50%;display:block;z-index:3;_left:0;_z-index:2;}
.btcflayr{position:absolute;right:0px;top:143px;width:50%;display:block;z-index:2;}




/*以下为新加的内容*/
.cl970{ border-top:1px solid #6dbfe9;border-bottom:1px solid #6dbfe9;overflow:hidden;padding:9px;margin:0 auto;height:90px;margin-bottom:10px;width:960px;text-align: center;}
.madi10{margin-bottom:10px;}.flr{float:right;}.fll{float:left;}.mato8{margin-top:8px;}.hg1{line-height:30px;}.matol{margin-left:10px;}

/* 0928 */
.clear{ clear:both;}
#fx_new .fllbaidu{float:left; margin-top:8px; margin-left:12px; width:400px;}
#fx_new .flltxt{ float:left; margin-top:21px;}

/*章节索引页*/
#index_ifview_main{width:763px;}
#index_ifview_main #nav{border:1px solid #b1c0d0;font-size:14px;background: #ECF5FA;height: 30px;padding: 0 10px;}
#index_ifview_main #nav a{color: #175DA0;text-decoration: none; font-weight:bold}
#index_ifview_main #nav #nav_content{padding:7px 3px}
#index_ifview_main_content{border:1px solid #ccc; border-top:none;}
#index_ifview_comic{width:200px; float:left}
#index_ifview_comic .v_title{display: block;color: #C8000A;text-align: center;font-size: 14px;font-weight: bold;}
#index_ifview_comic .v_pic a{ margin-left:17px; padding: 4px;height:166px;width: 126px;overflow: hidden;text-decoration: none;display: block;border: 1px solid #CCC;}
#index_ifview_comic .v_item_frist{margin:0px 17px;padding-bottom:6px;border-bottom: 1px dashed #dcdcdc;width:180px;}
#index_ifview_comic .v_item{margin:0px 17px;padding:6px 0px;border-bottom: 1px dashed #dcdcdc;width:180px;}
.v_item a, .v_item a:link, .v_item a:visited {color: #056BE9;text-decoration: none;font-size: 12px;}
#index_ifview_comic .v_item_end{margin:0px 17px;padding:6px 0px;border-bottom: 1px dashed #dcdcdc;width:180px;}
#index_ifview_chapter{width:540px;_width:525px; height:416px;float:left;padding-left: 10px; margin-left:10px;border-left: 1px solid #e7e7e7;}
#index_ifview_chapter #c_title{overflow:hidden;margin-left:3px;}
#index_ifview_chapter #c_title h1{font-size:20px; font-weight:bold;font-family: 'Microsoft YaHei',Tahoma;margin:20px 0 0 0;}
#index_ifview_chapter #c_title h3{font-size: 15px;color: #999;padding-left:10px;font-family: 'Microsoft YaHei',Tahoma;display:inline;}
#index_ifview_chapter #c_list{font-size:14px;}
#index_ifview_chapter #c_list li{padding:10px;margin-top:14px;margin-right: 10px;border: 1px solid #f0f0f0;background: #f9f9f9 url(../img/readcp.png) 8px center no-repeat;padding-left: 34px;font-family: Tahoma,'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;}
#index_ifview_chapter #c_list a{font-weight: bold;color: #0d71eb;}
#index_ifview_chapter #c_list em {font-size: 12px;color: #999;padding-left: 10px;font-style: normal;font-weight: normal;}
#index_ifview_chapter #fx_new{height:45px;}
#index_ifview_newcomic {border:1px solid #b1c0d0; float: right; width:198px;color:#888888;}
#index_ifview_newcomic .c_title{border-bottom:1px solid #b1c0d0;font-size:14px;padding:7px 7px; color:#175DA0;background: #ECF5FA;font-weight: bold;}
#index_ifview_newcomic .c_item{margin:0px;padding:6px;height:70px;border-bottom:1px solid #e7e7e7;line-height: 19px;overflow: hidden;}
#index_ifview_newcomic .c_item a:visited{color:red; text-decoration:none;}
#index_ifview_newcomic .c_item img{width:68px;height:68px}
#index_ifview_newcomic .c_item_end img{width:68px;height:68px}
#index_ifview_newcomic .c_item_end{border-bottom:none}
#index_ifview_newcomic .c_item ul{border:none;width: 68px;height: 68px;padding: 2px;margin-right: 6px;float: left;}
#index_ifview_newcomic .c_item dl{width: 106px;float: left;}
#index_ifview_newcomic .c_itemname{margin-top:2px;width: 106px;height: 19px;overflow: hidden;font-size: 14px;}
#index_ifview_newcomic .c_itemname a, #index_ifview_newcomic .c_itemname a:link, #index_ifview_newcomic .c_itemname a:visited {color: #175DA0;text-decoration: none;font-size: 12px;}
#index_ifview_newcomic .c_item dt{height:19px;overflow:hidden;}
#index_ifview_newcomic .c_itemnew{margin-top:5px}
#index_ifview_newcomic .c_itemauthor{margin-top:5px;height: 19px;overflow: hidden;}


.bzpl{background:url(../img/an.png) no-repeat 0 0;width: 125px; padding-left:30px; height: 31px;color:#fff;font-size:14px;font-weight:700;margin-top:-5px; float:left;line-height: 27px}
.main1{border-top: 1px solid #6dbfe9;border-bottom: 1px solid #6dbfe9; margin-bottom:10px;}
#index_mian{width:970px; margin:5px auto 10px;}
.an2-1{width:112px; height:21px; border-top:1px solid #c2d5e3; border-left:1px solid #c2d5e3; border-right:1px solid #369; border-bottom:1px solid #369; background:#e5edf2; letter-spacing:3px; font-size:14px; font-weight:700; color:#07519a;}
.sy_tb1-1{height:34px; line-height:40px;overflow:hidden; border-bottom:1px solid #afd9ec; padding:0 10px 5px 10px;}

/*用户举报*/
.lanan{border:none; background:url(../img/nt.jpg) no-repeat; width:75px; height:22px; color:white; font-size:12px; letter-spacing:1px;}
.flr{float:right;}
.div_line{line-height:1px;font-size:1px;background:#d7d7d7;margin:0 auto; overflow:hidden;}
.mar10{margin-right:10px;}.mar6{margin-right:6px;}.mar7{margin-right:7px;}.diline{border-bottom:1px solid #dcdcdc;}
.sos3{width:100px; height:17px; line-height:17px; border: 1px solid; border-color: #707070 #CECECE #CECECE #ABABAB; background: #F9F9F9; margin-top:7px;}
.sos3:focus{ height:17px; line-height:17px; border-color: #6FB1DF; color: #333; -moz-box-shadow: 0 0 5px #6FB1DF; }

/*右侧功能块*/
#showimage #cp_funtb{ margin:0 auto; text-align:left; background-color:#e1f4ff;}
.cp_fun_c1{line-height: 26px;}
#cp_fun{display: inline-block;vertical-align: top;*display:inline;*zoom:1;}
#cp_funtb .cp_tbimg{border: 1px solid #6dbfe9;min-width: 908px;min-height:900px;*width:908px;height:900px;}
#cp_funtb .cp_tbmore{background-color: #b8d8e8;}
.bdcolor #cp_funtb .cp_tbmore{background-color: #b8d8e8;}
.bdblackcolor #cp_funtb .cp_tbmore{background-color:Black;}
#cp_funtb .cp_tbfu{border: 1px solid #6dbfe9; border-left:none;}
#cp_fun_container{float:left;border:1px solid #ccc;background-color:#f6f6f6}
#cp_funtb #cp_img{padding:2px 2px 2px 2px;}
#cp_funtb .cp_bm{ font-size:14px; border-bottom:1px solid #6dbfe9; margin:0px 8px 0px 8px; color:#666666;background: #e1f4ff url(../img/bk_5.png) 0px 18px no-repeat;padding:10px 0px 10px 18px;text-align: left;}
#cp_funtb .cp_fx{border-bottom:1px dashed #6dbfe9;margin:0px 8px 0px 8px; padding-left:13px; height:37px}
#cp_funtb .cp_fx2{border-bottom:1px solid #6dbfe9;margin:0px 8px 0px 8px;padding-left:13px; height :37px}
#cp_funtb .cp_bds_pd{padding-left:32px!important}
#cp_funtb .cp_bds_pdend{padding-left:32px!important; margin-right:0px!important}
#cp_funtb .cp_bds_pdend{padding-left:32px!important; margin-right:0px!important}
#cp_funtb .cp_fun_c2{margin:0px 8px 0px 8px;border:1px solid #6dbfe9;padding:3px}
#cp_fun_ct{ width:184px;border-left: none;}
.cp_top{width: 68px;height: 58px;_width: 0px;_height: 0px;position: fixed;right: 80px;bottom: 150px;background: #B8D8E8 url(../img/top_ct7.png) 5px 12px no-repeat;}
.cp_top a{width: 68px;height: 58px;_width: 0px;_height: 0px; display:block;}
.bdblackcolor .cp_top{background:Black url(../img/top_ct72.png) 5px 12px no-repeat;}
.cp_fx3{margin: 10px 8px 10px 8px}
.cp_fx3 a {width:57px;display:block; float:left;color: #999;background-color: #e1f4ff;border: 1px solid #6dbfe9;}
.cp_fx3 a:hover {color: #fff;text-decoration: none;background-color: #3399cc;}
.cp_fx3 .cp_funbt_1{margin:0px 4px 4px 0px;padding: 3px 3px 0px 20px;background: #e1f4ff url(../img/cp_bt_1.png) 5px 12px no-repeat;}
.cp_fx3 .cp_funbt_2{margin:0px 0px 4px 0px;padding: 3px 3px 0px 20px;background: #e1f4ff url(../img/cp_bt_2.png) 5px 12px no-repeat;}
.cp_fx3 .cp_funbt_3{margin:0px 4px 0px 0px;padding: 3px 3px 0px 20px;background: #e1f4ff url(../img/cp_bt_3.png) 5px 9px no-repeat;}
.cp_fx3 .cp_funbt_4{padding: 3px 3px 0px 20px;background: #e1f4ff url(../img/cp_bt_4.png) 5px 11px no-repeat;}
.cp_fun_c3{ float:left; background-color:#fff;}
.cp_fun_c3 a{padding-left:6px;font-size:13px;height:70px;line-height:16px;font-weight:lighter;display:block; float:left;width:20px;color: #999999;background-color: #e1f4ff;border: 1px solid #6dbfe9; border-left:none; text-decoration: none;padding-top: 20px;}
.cp_fun_c3 a:hover {color: #fff;text-decoration: none;background-color: #3399cc;}
.cp_fun_c3 .cp_funbt_6{background: #e1f4ff url(../img/cp_bt_6.png) 10px 5px no-repeat;}
.cp_fun_c3 .cp_funbt_62{background: #e1f4ff url(../img/cp_bt_62.png) 10px 5px no-repeat;}
.cp_fx4{margin: 10px 8px 10px 8px;border-top:1px solid #6dbfe9;}
.cp_fx4 a {width:57px;display:block; float:left;color: #999;background-color: #e1f4ff;border: 1px solid #6dbfe9;}
.cp_fx4 .cp_funbt_5{padding: 3px 0px 0px 23px; margin:10px 0px 0px 0px;background: #e1f4ff url(../img/cp_bt_5.png) 3px 3px no-repeat;}
.cp_fx4 .cp_funbt_52{padding: 3px 0px 0px 23px;margin:10px 0px 0px 4px;background: #3399cc url(../img/cp_bt_5c2.png) 3px 4px no-repeat;color:#fff}
.bdblackcolor .cp_fx4 .cp_funbt_5{color:#fff;background: #3399cc url(../img/cp_bt_5c1.png) 3px 3px no-repeat;}
.bdblackcolor .cp_fx4 .cp_funbt_52{background: #e1f4ff url(../img/cp_bt_5.png) 3px 3px no-repeat;color: #999;}
.bdblackcolor .cp_fx4 a:hover {color: #fff;text-decoration: none;background-color: #3399cc;}
.bdblackcolor{background-color:Black; height:auto}
.cp_fx4 a:hover {color: #fff;text-decoration: none;background-color:#3399cc;}
.bdcolor{background-color:#b8d8e8; height:auto}
.bdblackcolor .view_bt h1 {color:#fff}
.bdblackcolor .z555{color:#fff}
#cp_footer{margin:0px auto; width:770px; text-align:center;}
#cp_footer_ct{padding:5px 0px;width:100%;}
.bdblackcolor .search_fy{background-color: Black}
.bdblackcolor .search_fy a{color:#fff}
.bdblackcolor .search_fy .current{color:#fff}
.bdblackcolor .hd_view{background: Black}
.crc .xw p{ margin-left:2em;text-indent: 0;padding-left:13px; background:url(../img/dian.png) no-repeat 0 48%;}
/*Notice*/
#public{min-width:970px;_width:expression((documentElement.clientWidth < 970) ? "970px" : "auto" );font-size:12px; color:#fff;position:absolute;width:100%; height:52px; display:none;}
#public_opacity{filter:alpha(opacity=60);width:100%; z-index:2;position:absolute; height:52px;background:rgba(0,0,0,0.5) none repeat scroll !important; background:#000;}
#public_wrap{ position:absolute; z-index:3;width:100%; height:52px; text-align:center}
#btnclosepublic{ margin-right:20px; margin-top:16px; float: right;background: url(../img/baX.png) no-repeat;width: 18px;height: 19px; display:block;}
#btnFavorite{color: rgb(152, 212, 240);}
.plcc{ margin-bottom:-3px; overflow: hidden;display: inline-block;*display:inline;*zoom:1;/* max-width:756px; */_width:expression((documentElement.clientWidth > 756) ? "756px" : "auto" );}
.plcc ul{;white-space: nowrap;float:left;position: relative;overflow: hidden;max-width:756px;_width:expression((documentElement.clientWidth > 756) ? "756px" : "auto" );}
.plcc ul li{display: inline;white-space: nowrap;zoom:1; }
.plcf{ margin-bottom:-3px;display: inline-block;*display:inline;*zoom:1;}
.plcf ul{float:left;}
#publiccontent{ margin:16px 0px;}
#public_title{ font-weight:bold; font-size:14px;display: inline-block;*display:inline;*zoom:1;}
.plsplit{ margin-left:10px; font-family:黑体; width: 15px;height: 15px; display:inline-block;background: url(../img/wy_1.png) no-repeat;}
/*章节末尾弹出层*/
    .alertRecommendForm{position: fixed;left: 50%;top: 50%;z-index: 9999;margin-left: -315px;top:30px;width: 530px;background-color: #fff;padding: 20px 50px;font-family: 'MicroSoft YaHei';border: 2px solid #3dacf9;}
    .alertRecommendForm .cross{position: absolute;top: -15px;right: -15px;}
    .alertRecommendForm .font_1{font-size: 16px;color: #1d9dff;}
    .alertRecommendForm .font_1 img{position: relative;top: 7px;margin-right: 10px;}
    .alertRecommendForm .font_2{float: right;}
    .alertRecommendForm .font_2 img{position: relative;top: 11px;}
    .alertRecommendForm .font_2 a{font-size: 16px;color: #000;font-weight: bold;}
    .alertRecommendForm .font_2 a span{position: relative;top: 8px;margin-left: 5px;}
    .alertRecommendForm .alertMain{padding: 20px 0;margin-top: 10px;border-top: 1px dashed #d2d2d2;}
    .alertRecommendForm .alertMain div{display: inline-block;*display: inline;zoom: 1;margin-left: 18px;}
    .alertRecommendForm .alertMain .img{margin-left: 0;}
    .alertRecommendForm .alertMain .img img{width: 145px;height: 190px;border-radius: 3px;}
    .alertRecommendForm .alertMain .c_img{float: right;}
    .alertRecommendForm .alertMain .info p{line-height: 30px;}
    .alertRecommendForm .alertMain .info .font_3{font-weight: bold;font-size: 18px;color: #444;}
    .alertRecommendForm .alertMain .info .font_3 a{ color: black;}
    .alertRecommendForm .alertMain .info .font_3 a:visited{ color: #000;}
    .alertRecommendForm .alertMain .info .font_4{font-size: 14px;color: #6f6f6f;}
    .alertRecommendForm .alertMain .info .font_5{font-size: 14px;color: #d0d0d0;}
    .alertRecommendForm .alertMain .info img{margin-top: 35px;}
    .alertRecommendForm .list{padding: 20px 0;border-top: 1px dashed #d2d2d2;padding-bottom:0;}
    .alertRecommendForm .list img{width: 115px;height: 160px;border-radius: 3px;border: 2px solid #fff;}
    .alertRecommendForm .list .title{font-size: 14px;padding: 3px 0;height: 20px;overflow: hidden;line-height: 20px;}
    .alertRecommendForm .list .date{font-size: 12px;color: #ababab;}
    .alertRecommendForm .list .item{display: inline-block;*display: inline;zoom: 1;margin-left: 14px;position: relative;width: 119px;overflow: hidden;}
    .alertRecommendForm .list .item:first-child{margin-left: 0px;}
    .alertRecommendForm .list .item .h:hover img{border: 2px solid #f60000;}
    .alertRecommendForm .list .item a.mask{position: absolute;background-color: #000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;top: 132px;width: 105px;height: 30px;color: #fff;line-height: 30px;padding-left: 10px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;text-decoration: none;left: 2px;}
    .alertRecommendForm .m_list{font-size: 0;padding: 20px 0;margin-top: 10px;border-top: 1px dashed #d2d2d2;padding-bottom:0;}
    .alertRecommendForm .m_list span{display: inline-block;*display: inline;zoom: 1;width:32%;font-size: 12px;text-align: left;margin: 3px 0;color: #01baff;*width: 32%;vertical-align: top;}
    .alertRecommendForm .m_list a{text-decoration: none;}
    .alertRecommendForm .pane{margin-top: 20px;}
    .alertRecommendForm .alertNext{display: block;float: right;position: relative;top: 5px;}
    .alertRecommendForm .star{color: #eab93f;font-size: 18px;}
    .alertRecommendForm .star span{position: relative;top: -5px;margin-left: 10px;}

    .alertRecommendForm{padding: 20px;margin-left: -285px;}
    .alertRecommendForm .listContent{padding: 20px 0;font-size: 14px;}
    .alertRecommendForm .toolBar{padding: 25px 0 5px 110px;border-top: 1px dashed #d4d4d4;}
    .alertRecommendForm .toolBar a{margin: 0 10px;}
    .alertRecommendForm .recomFormNum{color: #6d6d6d;margin-right: 15px;font-size: 12px;position: relative;top: -3px;}
    .alertRecommendForm .alertMain{background: url(../img/rem/recomForm_1.png);background-repeat: no-repeat;background-position: 410px 0;}
    .alertRecommendForm .alertMain .img{position: relative;top: 10px;}
    .alertRecommendForm .recomFormTitle{padding-top: 20px;font-size: 20px;line-height: 40px;}
    .RecommendFormMask{position: fixed;height: 100%;width: 100%;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity: 0.5;background-color: #000;z-index: 9998;top: 0;left: 0;}

    .kk1 .newTitle{ color:#3699cf;font-size:18px;font-family:'Microsoft YaHei';height:40px;line-height:40px;padding-left:28px;padding-right:28px;overflow: hidden;margin-top: 10px; }
    .kk1 .newTitle a{ float:right;font-size:14px;color:#3699cf; }
    .kk1 .newT{float: left;}
    .kk1 .newTip{font-size: 12px;color: #c0c0c0;float: left;margin-left: 5px;line-height: 43px;}
    .kk1 .newTitle .logo{vertical-align: top;margin: 10px;margin-left: 0;float: left;*margin-top: 15px;}
    .kk1 .newTitle .more{vertical-align: top;margin-top: 8px;*margin-top: 11px;}
    .kk1 .newTitle span{*margin-top: 5px;}
    .kk1 .newBox{ width:100%;margin: 0 auto;position: relative;overflow: hidden;height: 460px; }
    .kk1 .newBox ul{ padding:0 12px;height: 226px;white-space: nowrap;zoom: 1; }
    .kk1 .newBox ul li{ width: 144px;height: 205px;float: left;line-height: 18px;text-align: center;margin: 10px 7px;color: #888;overflow: hidden;display: inline; }
    .kk1 .newBox ul li img{ width: 115px;height: 153px;border: 1px solid #ccc;padding: 4px;background: #fff;margin-bottom: 4px; }
    .kk1 .newBox ul li a:hover img{ border: 2px solid #f40;padding: 3px;margin-bottom: 4px; }
    .newMargin{height:10px;background-color:#b8d8e8;border-bottom: 1px solid #6dbfe9;}
    .kk1 .newBorder{width: 560px;border-bottom: 1px dashed #ccc;display: inline-block;*display: inline;zoom: 1;vertical-align: top;margin-top: 20px;*margin-top: 24px;height: 1px;margin-right: 8px;float: right;}

.ib {display: inline-block;zoom: 1;}
.finalForm_1{background-color: #fff;border: 1px solid #6dbfe9;padding: 30px 35px;position: fixed;width: 866px;top: 100px;left: 50%;margin-left: -468px;font-family: 'Microsoft YaHei';z-index: 999;display: none;}
.finalForm_1 .topBar .font_1{font-size: 16px;color: #24a0ff;position: relative;top: -13px;margin-left: 10px;}
.finalForm_1 .topBar .font_2{font-size: 16px;color: #adabab;position: relative;top: -13px;}
.finalForm_1 .topBar .font_2s{color: #2ea1fc;}
.finalForm_1 .topBar .img_1{position: relative;top: -6px;}
.finalForm_1 .topBar .img_2{position: relative;top: -9px;}
.finalForm_1 .topBar a{margin-left: 15px;}
.finalForm_1 .info{margin: 20px 0;padding: 20px 0 30px 0;border-top: 1px dashed #d2d2d2;border-bottom: 1px dashed #d2d2d2;}
.finalForm_1 .info .img img{width: 145px;height: 192px;}
.finalForm_1 .info .detail{padding-left: 15px;}
.finalForm_1 .info .detail p a{font-size: 12px;color: #808080;}
.finalForm_1 .info .detail p a:hover{color: #dd2626;}
.finalForm_1 .info .detail p{margin-bottom: 0px;width: 100px;height: 22px;overflow: hidden;}
.finalForm_1 .info .detail p.author{margin-bottom: 50px;}
.finalForm_1 .info .detail p.author a{font-size: 12px;color: #444;}
.finalForm_1 .info .detail p.author a:hover{color: #dd2626;}
.finalForm_1 .info .detail p.title{margin-bottom: 8px;}
.finalForm_1 .info .detail p.title a{font-size: 18px;color: #444;padding-bottom: 10px;}
.finalForm_1 .info .detail p.title a:hover{color: #dd2626;}
.finalForm_1 .info .detail img{margin-top: 5px;}
.finalForm_1 .info .list img{width: 115px;height: 160px;border-radius: 3px;border: 1px solid #808080;}
.finalForm_1 .info .list .title{font-size: 14px;margin: 3px 0;width: 119px;height: 19px;overflow: hidden;color: #444;}
.finalForm_1 .info .list .title:hover{color: #dd2626;}
.finalForm_1 .info .list .date{font-size: 12px;color: #ababab;}
.finalForm_1 .info .list .item{display: inline-block;*display: inline;zoom: 1;margin-left: 19px;*margin-left: 10px;position: relative;}
.finalForm_1 .info .list .item:first-child{margin-left: 0px;*margin-right: 10px;}
.finalForm_1 .info .list .item .hn:hover img{border: 1px solid #ff0000;}
.finalForm_1 .info .list .item a.mask{position: absolute;background-color: #000;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;top: 131px;width: 105px;height: 30px;color: #fff;line-height: 30px;padding-left: 10px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;text-decoration: none;left: 1px;font-size: 12px;}
.finalForm_1 .bottomBar span{width: 168px;display: inline-block;*display: inline;zoom: 1;text-align: left;padding-top: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.finalForm_1 .bottomBar span a{font-size: 12px;color: #898989;}
.finalForm_1 .bottomBar span a:first-child{margin-right: 10px;}
.finalForm_1 .bottomBar span a:hover{color: #dd2626;}
.finalForm_1 .info .list{margin-left: 0px;}
.finalForm_1 .topBar .right{float: right;}
.finalForm_1 .topBar .font_1{top: -6px;}
.finalForm_1 .topBar .img_1{top: 0;}
.finalForm_1 .info .detail{width: 153px;}
.finalForm_1 .info .detail p{width:160px;}
    

.header_sider{position: fixed;bottom: 100px;left: 50%;margin-left: 520px;z-index: 997;display: none;}
.header_sider a{display: block;margin-bottom: 5px;}
.header_sider a:hover .btn{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity: 0.8;}
.header_sider .code{position: absolute;left: -163px;top: -50px;display: none;}
.header_sider a:hover .code{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity: 1;display: block;}
#Icon_header_sider_logo_3{background: url(../images/new/spriteIcons_11.png) -0px -0px no-repeat; width: 162px; height: 188px;}
#Icon_header_sider_logo_2{background: url(../images/new/spriteIcons_11.png) -162px -0px no-repeat; width: 43px; height: 43px;}
#Icon_header_sider_logo_1{background: url(../images/new/spriteIcons_11.png) -162px -43px no-repeat; width: 43px; height: 43px;}