﻿@media print {

	table, p, ul, h1, h2, h3, h4, h6, .infobox, .ar-link-to-another {
		page-break-inside: avoid!important;
	}

	h1, h2, h3 {
		page-break-after: avoid!important;
	}

	body {
     		background: #ffffff!important;
	}

	#content-lead, .common-menu, .tm-r1, .tm-r2, #page-hub, #mf-footer, .bx-billboard, .cs-cnt-cl-r, .forum-simple, .bx-rectangle-article, .ar-list, .ar-list-description, .pfm-items, .ar-society-link, .article-template-spliter {
     		display: none!important;
	}

	.branding-wrapper {
		width: auto! important;
	}
	
	.bodyPart {
     		display: block!important;
	}
	
	.cs-cnt-main {
		background: #ffffff! important;
		border-top: 0px solid;
		width: 640px;
	}

}