﻿/* ****************************** SECTION DESCRIPTION ***************************** */
.ar-list-description-mg
{
	margin-bottom: 20px!important;
}

.ar-list-description h1
{
	font-weight: bold;
	font-weight: 400;
	color: #d42226;
	font-size: 36px;
	position: relative;
}

.ar-list-description
{
	font-weight: normal;
	font-weight: 400;
	color: #000;
	font-size: 16px;
}

.ar-list-description p
{
	margin: 0 auto 20px auto!important;
}
.ar-list-description p:first-child
{
	margin-top: 20px!important;
}
.ar-list-description p:last-child
{
	margin-bottom: 0px!important;
}

.ar-list-description .ar-img
{
	margin-top: .5em!important;
}

.ar-list-description table
{
	width: 100%!important;
}

.ar-list-description table td
{
	min-width: 50%!important;
}

.ar-list-description .ar-tags
{
	color: #000;
	font-size: 16px;
	line-height: 155%;
	font-weight:400;
}
.ar-list-description .ar-tags a
{
	color: #000!important;
	text-decoration: none!important;
}
.ar-list-description .ar-tags a:hover
{
	color: #D42226!important;
}

/* ************ float info ******************* */
.ar-list-description h1 .ar-float
{
	font-weight: normal;
	font-weight: 300;
	font-size: 13px;
	display: block;
	position: absolute;
	bottom: 11px;
	right: 0px;
	line-height: 20px;
}

.ar-list-description h1 .ar-float .tm-ico
{
	float: right;
	width: 20px;
	height: 20px;
	margin-left: 4px;
}

.ar-list-description h1 .ar-rss .tm-ico
{
	background-position: -280px -280px;
}

.ar-list-description h1 .ar-mail .tm-ico
{
	background-position: -210px -280px;
}

/* ****************************** SECTION SOCIETY LINKS ***************************** */
.ar-society-row
{
	display: block;
	position: relative;
	height: 24px;
	border-bottom: 1px solid #D3D2D3!important;
	padding: 30px 0 0.5em!important;
	margin-bottom: 15px!important;
	font-size: 14px;
	font-weight: normal;
	font-weight: 300;
}

.ar-society-row a,
.ar-society-row a:hover
{
	text-decoration: underline!important;
	color: #d42226;
}

.ar-society-row span.fb
{
	display: block;
	position: absolute;
	bottom: 11px;
	right: 0px;
	line-height: 20px;
}

.ar-society-row span.ar-society-item
{
	float: left;
	margin-right: 5px;
}

.ar-society-row span.ar-society-item iframe
{
	height: 20px!important;
	overflow: hidden!important;
	border: 0px solid!important;
}

.ar-society-row span.ar-society-item iframe#ar-society-row-fb
{
	width: 110px!important;
}

/* ****************************** ARTICLE LIST *********************************** */
.ar-list,
.ar-list .ar-row
{
	display: block;
	position:relative;
}

.ar-list .ar-row
{
	margin-bottom:16px;
	clear: right;
	height: 105px;
	display: inline-block;
}

.ar-list .ar-row-promo {
    display: inline-block;
    margin-bottom: 4px!important;
    margin-top: 4px!important;
    position: relative;
    height: auto;
}

.ar-list .ar-row-promo-first {
    margin-top: 0px!important;
}

.ar-list-separator
{
	display: block;
	clear: both;
	margin-top: 20px!important;
	padding-top: 20px!important;
	border-top: 1px solid #e9e9e9;
}

.ar-list-separator-positioned
{
	margin-top: 14px!important;
	padding-top: 0px!important;
	border-top: 0px solid #e9e9e9;
}

/* ************ image ******************* */
.ar-list .ar-row .ar-img
{
	display: block;
	position:relative;
	float: left;
	width: 188px;
	height: 94px;
	background: #ececec;
	padding: 1px;
	margin-right: 20px;
	margin-top: 4px;
}

.ar-list .ar-row-promo .ar-img
{
	width: 600px;
	height: 300px;
	padding: 0px;
	margin-right: 0px!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	clear: both;
	position: relative;
}

.ar-list .ar-row .ar-img a
{
	display: inline-block;
	position:relative;
	width: 188px;
	height: 94px;
	background: #fff;
	text-align: center;
	text-decoration: none;
}

.ar-list .ar-row .ar-img a img
{
	max-width: 188px;
	max-height: 94px;
}

.ar-list .ar-row-promo .ar-img a
{
	width: 600px;
	height: 300px;
}

.ar-list .ar-row-promo .ar-img a img
{
	max-width: 600px;
	max-height: 300px;
}

.ar-list .ar-row .ar-img a:hover
{
	text-decoration: none!important;
}

.ar-list .ar-row .ar-img a:before
{
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}

.ar-list .ar-row-promo .ar-img > a::after
{
    border: 1px solid #e9e9e9;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ar-list .ar-row .ar-img a img
{
	display: inline-block;
	vertical-align: middle;
}

.ar-list .ar-row .ar-img-yt a
{
	overflow: hidden;
}

.ar-list .ar-row .ar-img-yt a img
{
    margin-top: -18px;
    max-height: 148px;
    max-width: 188px;
}

.ar-list .ar-row .ar-img-yt a:before
{
    display: none;
}

/* ************ text ******************* */
.ar-list .ar-row-promo .ar-img h1
{
	font-weight: bold;
	font-weight: 700;
	color: #fff;
	font-size: 25px;
	position: absolute;
	line-height: 130%;
	bottom: 1px;
	right: 1px;
	left: 1px;
	background: rgba(0,0,0,0.6);
}

.ar-list .ar-row-promo .ar-img h1:hover
{
	background: rgba(0,0,0,0.85);
}

.ar-list .ar-row-promo .ar-img h1 a
{
	color: #fff;
	text-decoration: none;
	padding: 18px 50px 18px 20px;
	width: 530px;
	text-align: left;
	height: auto;
	background: transparent;
	display:block;
}

.ar-list .ar-row-promo .ar-img h1 a:hover
{
	color: #fff;
}

.ar-list .ar-row .ar-txt
{
	width: 380px; 
	padding-left: 220px;
}

.ar-list .ar-row-promo .ar-txt
{
	width: 380px; 
	padding-left: 220px;
}

.ar-list .ar-row .ar-txt h2
{
	font-size: 18px;
	font-weight: bold;
	font-weight: 700;
}
.ar-list .ar-row .ar-txt h2 a
{
	color: #000;
	text-decoration: none;
}
.ar-list .ar-row .ar-txt h2 a:visited
{
	color: #666;
}
.ar-list .ar-row .ar-txt h2 a:hover,
.ar-list .ar-row .ar-txt h2 a:visited:hover
{
	color: #d42226!important;
	text-decoration: none!important;
}
.ar-list .ar-pr .ar-txt h2 a,
.ar-list .ar-pr .ar-txt h2 a:hover,
.ar-list .ar-pr .ar-txt h2 a:visited:hover
{
	color: #d42226!important;
	text-decoration: none!important;
}
.ar-list .ar-row .ar-txt .ar-anno
{
	display: none;
}

/* ************ info ******************* */
.ar-list .ar-row .ar-info
{
	color: #a1a1a1;
	margin-top: 6px!important;
}

.ar-list .ar-row-promo .ar-info
{
	line-height: 20px;
	position:absolute;
	left: auto;
	bottom: 8px;
	right: 10px;
	display: block;
	height: auto;
	margin-top: 0px!important;
}

.ar-list .ar-row .ar-info span
{
	margin-right: 5px;
	font-size: 14px;
}

.ar-list .ar-row-no-auth .ar-info span
{
	margin-right: 0px;
	display:none;
}

.ar-list .ar-row span.ar-date
{
	color: #d42226;
}

.ar-list .ar-pr span
{
	color: #d42226;
}

.ar-list .ar-row-promo span.ar-date
{
	color: #fff;
}

.ar-list .ar-row span.ar-comments
{
	color: #d42226;
	margin-left: 2px;
}
.ar-list .ar-row-no-auth .ar-info span.ar-comments
{
	display:block;
}

.ar-list .ar-row span.ar-comments a:before
{
	content:url('../img/icons/forum.png');
	position:relative;
	left:-2px;
	top:1px;
}

.ar-list .ar-row-promo span.ar-comments a:before,
.ar-list .ar-row-no-auth span.ar-comments a:before
{
	content:url('../img/icons/forum-white.png');
}

.ar-list .ar-row span.ar-comments a
{
	color: #d42226;
	text-decoration: none!important;
}

.ar-list .ar-row span.ar-comments a:hover
{
	text-decoration: underline!important;
}

.ar-list .ar-row-promo span.ar-comments a,
.ar-list .ar-row-promo span.ar-comments a:hover,
.ar-list .ar-row-no-auth span.ar-comments a,
.ar-list .ar-row-no-auth span.ar-comments a:hover
{
	color: #fff!important;
	text-decoration: none!important;
	background: transparent;
	height: auto;
	width: auto;
}

/* ****************************** ARTICLE LIST TILES ******************************* */
.ar-list .ar-tile
{
	width: 290px;
	height: auto;
	min-height: 260px;
	padding-bottom: 30px;
	display: inline-block;
	clear: none;
	margin-top: 20px!important;
	padding-top: 40px!important;
	margin-bottom: 0px!important;
	margin-right: 20px!important;
	border-top: 1px solid #e9e9e9;
	vertical-align: top;
	float: left;
}


.ar-list .ar-row .ar-txt
{
	width: 380px; 
	padding-left: 220px;
}

.ar-list .ar-tile .ar-info
{
	line-height: 20px;
	position:absolute;
	left: 210px;
	bottom: 0px;
	margin-top: 0px!important;
}


.ar-list .ar-tile .ar-img,
.ar-list .ar-tile .ar-img a
{
	width: 288px;
	height: 144px;
}

.ar-list .ar-tile .ar-img a img
{
	max-width: 288px;
	max-height: 144px;
}

.ar-list .ar-row-no-auth
{
	padding-bottom: 0px;
}

.ar-list .ar-tile-small
{
	width: 188px;
	height: auto;
	min-height: 170px;
	padding-bottom: 0px;
	margin-top: 20px!important;
	margin-right: 17px!important;
}

.ar-list .ar-tile.ar-pr
{
	padding-bottom: 0px;
	background: transparent;
}

.ar-list .ar-tile-1,
.ar-list .ar-tile-2
{
	margin-right: 0px!important;
	clear: right;
}

.ar-list .ar-tile-small.ar-tile-1
{
	margin-right: 17px!important;
	clear: none;
}

.ar-list .ar-tile-first-row
{
	padding-top: 0px!important;
	border-top: 0px solid #a1a1a1;
}

.ar-list .ar-tile-first-row.nm
{
	margin-top: 0px!important;
}

.ar-list .ar-tile.ar-pr
{
	border-top: 1px solid #ececec!important;
}

.ar-list .ar-tile .ar-img
{
	margin-bottom: 20px!important;
	margin-right: 0px!important;
	float: none;
}

.ar-list .ar-tile-small .ar-img
{
	margin-bottom: 5px!important;
}

.ar-list .ar-tile-small .ar-img,
.ar-list .ar-tile-small .ar-img a
{
	height: 94px;
	width: 188px;
}

.ar-list .ar-tile.ar-pr .ar-img
{
	margin-bottom: 0px!important;
	padding-top: 0px
}

.ar-list .ar-tile .ar-txt
{
	display: block;
}

.ar-list .ar-tile.ar-pr .ar-txt
{
	padding-left: 20px!important;
	padding-right: 20px!important;
	padding-top: 20px!important;
	background-color: #ececec;
	min-height: 144px;
}

.ar-list .ar-tile-small .ar-txt h2
{
	font-size: 16px;
}

.ar-list .ar-tile .ar-info
{
	left: 0;
	bottom: 0;
}

.ar-list .ar-row-no-auth .ar-info
{
	left: auto;
	bottom: 1px;
	right: 1px;
	padding: 4px 8px;
	background: rgba(0,0,0,0.6);
}

.ar-list .ar-tile.ar-pr .ar-info
{
	left: 20px;
	bottom: 20px;
}

.ar-list .ar-tile-small .ar-info
{
	position: relative;
	margin-bottom: 8px;
}


/* ****************************** ARTICLE LIST USER CARD *********************************** */
.ar-list .ar-row-user
{
	padding-left: 0px!important;
	padding-right: 0px!important;
	height: auto!important;
}

.ar-list .ar-row-user .ar-txt
{
	padding-left: 0px!important;
	width: auto!important;
}


.ar-list .ar-row-user .ar-txt h2
{
	margin-top: 10px!important;
}

.ar-list .ar-row-user .ar-txt h3
{
	font-size: 17px;
	font-weight: bold;
	font-weight: 700;
	margin-bottom: 5px!important;
}

.ar-list .ar-row-user .ar-txt h3 a
{
	color: #000;
	text-decoration: none;
}

.ar-list .ar-row-user .ar-txt h3 a:hover
{
	text-decoration: underline;
	color:#d42226;
}

.ar-list .ar-row-user .ar-txt .ar-anno
{
	display: block;
	font-size:14px;
	color: #000;/*333*/
	margin-bottom: 10px!important;
}


/* ****************************** PAGER ***************************** */
.pager
{
	text-align: center;
}

.pager > table
{
	text-align: center;
	margin: 0 auto!important;
}

.pager span
{
	font-weight: bold;
	font-weight: 600;
	color: #000;
	font-size: 14px;
}

.pager span a,
.pager span.active
{
	text-decoration: none;
	line-height: 40px;
	padding-left: 12px!important;
	padding-right: 12px!important;
	display: inline-block;
}

.pager span.pager-link a
{
	font-size: 13px;
	color:#d42226;
}

.pager span.pager-number a
{
	color:#000;
	margin-left: 1px!important;
	margin-right: 1px!important;
}

.pager span.pager-number a:hover,
.pager span.active
{
	color:#fff;
	background-color:#d42226;
	text-decoration: none!important;
}