﻿/* ****************************** FORUM SIMPLE ***************************** */
.forum-simple
{
	display: block;
	position:relative;
	width: 600px;
	margin: 0 auto!important;
}

.forum-simple .bx-head,
.forum-simple .bx-cnt,
.forum-simple .bx-btn
{
	padding: 0!important;
}

.forum-simple .bx-head
{
	background: transparent;
	color: #484848;
}

.forum-simple .bx-head h2
{
	color: #d42226;
	font-size: 36px;
	font-weight: normal;
	font-weight: 400;
}

.forum-simple .bx-head small
{
	font-size: 16px;
	right: 0px;
	bottom: 4px;
}

.forum-simple .bx-head small strong
{
	color: #d42226;
	font-weight: bold;
	font-weight: 700;
}


.forum-simple .bx-cnt li
{
	padding: 15px 0!important;
}

.forum-simple .bx-cnt li.row-first
{
	border-top: 1px solid #d6d6d6;
	margin-top: 8px!important;
}


.forum-info
{
	margin-bottom: 4px!important;
	font-size: 14px;
	font-weight: bold;
	font-weight: 400;
	color: #000;/*000*/
}

.forum-info .forum-author
{
	color: #d42226;
}

.forum-info .forum-date
{
	float: right;
	color: #a1a1a1;
}

.bx-inc .bx-cnt li .forum-date,
.cs-cnt-cl-r .bx-cnt li .forum-date {
    color: #d42226;
}

.forum-comment
{
	font-size: 16px;
	font-weight: bold;
	font-weight: 400;
	color: #000;/*333*/
}

/* ****************************** FORUM MAIN ***************************** */
.forum-row-wrapper
{
	display: block;
	position: relative;
	margin-bottom: 20px!important;
}

/* *** borders *** */
.forum-row-wrapper .forum-head,
.forum-row-wrapper .forum-text
{
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	padding: 5px 10px!important;
}

.forum-row-wrapper .forum-text
{
	border-bottom: 1px solid #e8e8e8;
	padding-top: 10px!important;
}

.forum-row-wrapper.readed .forum-head,
.forum-row-wrapper.readed .forum-text
{
	color: #666;
}

/* **** link next *** */
.forum-row-wrapper .forum-row-next
{
	display: block;
	position: absolute;
	right: -10px;
	top: 0px;
	background: url("../img/icons/forum-next.png") no-repeat left center;
	width: 5px;
	height: 9px;
}

/* **** collapsed posts *** */
.forum-row-wrapper .forum-collapser
{
	background: #f8f8f8;
	padding: 5px 10px 5px 25px!important;
	font-size: 12px;
	background-position: 5px 50%;
	background-repeat: no-repeat;
	font-weight: bold;
	cursor: pointer;
	background-image: url("../img/icons/forum-collapse.gif");
}

.forum-row-wrapper .forum-collapser.collapsed
{
	background-image: url("../img/icons/forum-expand.gif");
}

.forum-row-wrapper .forum-collapser .forum-collapser-info
{
	color: #fff;
	cursor: help;
	float: right;
	background: #bebebe;
	padding-left: 4px!important;
	padding-right: 4px!important;
}

/* **** head *** */
.forum-row-wrapper.readed .forum-head
{
	border-top-width: 1px!important;
}

.forum-row-wrapper .forum-head
{
	border-top: 4px solid #e8e8e8;
	background: #f8f8f8;
	font-size: 12px;
}

.forum-row-wrapper .forum-head-0
{
	border-top-color: #D42226;
}

.forum-row-wrapper .forum-head img
{
	border: 0px solid!important;
	vertical-align: middle;
}

.forum-row-wrapper .forum-head .avatar
{
	background: url("../img/icons/avatar.gif") no-repeat left center;
	display: block;
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 10px!important;
	margin-top: 6px!important;
	margin-bottom: 5px!important;
}

.forum-row-wrapper .forum-head .avatar img
{
	height: 40px;
	width: 40px;
}

.forum-row-wrapper .forum-head .identification .user
{
	font-size: 15px;
	padding-right: 10px!important;
	background: url("../img/icons/avatar-link.gif") no-repeat right center;
}

.forum-row-wrapper .forum-head .identification .networks
{
	float: right;
}

.forum-row-wrapper .forum-head .identification .networks img
{
	width: 20px;
	height: 20px;
	margin-left: 3px;
}

.forum-row-wrapper .forum-head .info
{
	line-height: 17px;
}

.forum-row-wrapper .forum-head .profile-link
{
	float: right;
}


/* **** text *** */
.forum-row-wrapper .forum-text img
{
	border: 0px solid!important;
	vertical-align: middle;
}

.forum-row-wrapper .forum-text p
{
	margin-bottom: 10px!important;
	font-size: 15px;
}

.forum-row-wrapper .forum-text table
{
	margin-bottom: 0px!important;
}

.forum-row-wrapper .forum-text span.spacer
{
	clear: both;
	margin-bottom: 10px!important;
	display: block;
}

.forum-row-wrapper .forum-text .forum-post-info
{
	font-size: 9px;
}

.forum-row-wrapper .forum-text .forum-post-sign
{
	border-top: 1px solid #e8e8e8;
	display: none;
}

.forum-row-wrapper .forum-text .forum-post-treestop
{
	margin-bottom: 0px!important;
}

/* **** links bellow *** */
.forum-row-wrapper .forum-post-actions
{
	font-size: 14px;
}

.forum-row-wrapper .forum-post-actions .vote
{
	color: #000;/*333*/
}

.forum-row-wrapper.readed .forum-post-actions .vote
{
	color: #666;
}

.forum-row-wrapper .forum-post-actions .disabled,
.forum-row-wrapper .forum-post-actions .disabled:hover
{
	color: #999!important;
	text-decoration: none!important;
}


/* **** post mailing *** */
.forum-main .ar-content
{
	margin-top: 0px!important;
	padding-top: 0px!important;
}

.forum-main .ar-content .bx-btn
{
	padding-right: 0px!important;
	padding-left: 0px!important;
	font-size: 13px;
}

.forum-main .ar-content .bx-btn input {
    border-color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    width: 160px;
}


/* **** new post *** */
.forum-new-post .forum-post-reply
{
	border-top: 0px solid!important;
	margin-top: 0px!important;
	padding-top: 0px!important;
}

.ar-detail .forum-rules
{
	border-top: 0px solid!important;
	margin-top: 0px!important;
}

.forum-new-post .post-wrapper .smiley-row
{
	background: #f8f8f8;
	padding: 5px 10px !important;
	border-left: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
	border-top: 1px solid #bdbdbd;
}

.forum-new-post .post-wrapper .smiley-row img
{
	border: 0px solid;
	margin-right: 3px!important;
}

.forum-new-post .post-wrapper textarea,
.forum-new-post .post-wrapper .inp-text
{
	border-top: 1px solid #bdbdbd!important;
	border-bottom: 1px solid #bdbdbd!important;
	border-left: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
	width: 578px;
	padding: 0 10px!important;
	margin: 0!important;
	font-size: 16px;
	color: #000;/*333*/
	font-weight: 400;
	line-height: 165%;
}

.forum-new-post .post-wrapper textarea
{
	border-top: 0px solid!important;
	height: 180px;
}

.forum-new-post #forum-post-rules
{
	display: none;
	margin-top: 20px!important;
}

.forum-new-post #forum-post-rules iframe
{
	border: 0px solid;
	width: 100%;
	height: 350px;
}

.forum-new-post .ar-content .bx-btn
{
	padding-right: 0px!important;
	padding-left: 0px!important;
	font-size: 13px;
}

.forum-new-post .ar-content .bx-btn .input-checkbox {
	height: auto;
	padding: 0!important;
	width: auto;
}

.forum-new-post .ar-content .bx-btn a.plain {
	background: transparent;
	display: inline;
	font-weight: normal;
	font-weight: 400;
	margin: 0 !important;
	padding: 0 !important;
}

.forum-new-post .ar-content .bx-btn a.plain:hover {
	background: transparent!important;
	color: #D42226!important;
	text-decoration: underline!important;
}
