﻿/* ****************************** TAG LIST ***************************** */
.ar-tag-list .ar-content h2
{
	font-weight:bold;
	font-weight:700;
}

.ar-tag-list .ar-content ul
{
	margin-left:70px!important;
	margin-top:-21px!important;
}

.ar-tag-list .ar-content ul li
{
	display:inline-block;
	width:45%;
}

.ar-tag-list .ar-content ul li a
{
	color:#000!important;/*333*/
}

.ar-tag-list .ar-content ul li a:hover
{
	color:#d42226!important;
}