div#article-main-data.box-data {
    width: 630px;
    margin-left: 20px;
}

div#article-main-data div.YOUTUBE_CLIP {
    margin-left: -7px;
    margin-top: 25px;
    width: 621px;
}

div#article-main-data div.YouTubeVideo-Clip {
    margin-top: 0px;	
}

div#article-main-data div.YouTubeVideo-Clip object{
    margin-top: -5px;	
}

.arinfo {
	padding-left: 14px;
	padding-right: 14px;
}

.readerSize1 .gm-download-box-clip,
.readerSize2 .gm-download-box-clip,
.readerSize3 .gm-download-box-clip
{
	font-size: 12px!important;
	line-height: 18px!important;
}

h6 img,
h6 a img
{
    margin-bottom: 10px;
}



/* READER SIZE 2 */
/* ********************************************************** */

.readerSize2 li a,
.readerSize2 p a,
.readerSize2 p b a,
.readerSize2 p a b,
.readerSize2 p strong a,
.readerSize2 p a strong  {
    text-decoration: none;
    font-weight: normal;
}

.readerSize2 li a:hover,
.readerSize2 p a:hover {
    text-decoration: underline;
}

.readerSize2 ul li {
    font-size: 1.25em;
    line-height: 1.7em;
    color: #000000;
}

#article-main-data .ardata .readerSize2 h6 {
	font-size: 1.0em;
	color: #000000;
	line-height: 1.9em;
	margin: 25px 0 0 0;
}
.readerSize2 div.arlist-data {
	display: block;
	z-index: 0;
}

.readerSize2 div.arlist-data p {
    font-size: 1.25em;
    line-height: 1.7em;
    display: none;
}

.readerSize2 span.program-name strong a {
    font-weight: bold!important;
}

.readerSize2 small.article-tags {
    margin-left: 0;
    font-size: 0.9em;
}

.readerSize2 small.article-tags strong a {
    font-size: 11px;
    font-weight: normal;
}

.readerSize2 h4 {
	font-size: 1.3em;
	line-height: 1.6em;
	margin-top: 23px;
	margin-bottom: 0;
}

.readerSize2 div.arforum-text p {
    margin-top: 4px;
}

.readerSize2 div.arlist {
	display: block;
	margin-bottom: 21px;
	z-index: 0;
	margin-top: 23px;
}

.readerSize2 div.arlist-data h2 a {
    line-height: 25px;
}

.readerSize2 div.vykrik-data {
	padding-bottom: 15px;
}

.readerSize2 div.vykrik-data p {
    font-family: Times New Roman;
    font-size: 24px;
    line-height: 36px;
    color: #C20000;
}

.readerSize2 div.vykrik-foot {
    margin-top: -15px;
}

.readerSize2 div.tip.tip-1 .tip-data p {
    background-position: 0 7px;
}

.readerSize2 h3 span {
    line-height: 27px;
}

.readerSize2 div.page-hub-item h4 a {
    font-size: 14px;
    line-height: 18px;
}

.readerSize2 span.author-photo a img {
    margin-top: 0;
    border-style: solid;
    border-color: #d7d7d7;
    border-width: 1px;
}

.readerSize2 div.arinfo.noprint {
    margin-left: 3px;
    width: 604px;
}

.readerSize2 div.infobox-1,
.readerSize2 div.infobox-0 {
    margin-bottom: 15px;
}

.readerSize2 div.infobox-data h3 {
    margin-top: 8px;
}

.readerSize2 .PressReleaseData h2 {
	line-height: 140%;
}

.readerSize2 h3 {
    font-size: 1.667em;
    line-height: 1.4em;
	margin-top: 23px;
	margin-bottom: 0px;
}

.readerSize2 p {
    font-size: 1.25em;
    line-height: 1.7em;
    color: #000000;
    margin-bottom: 1em;
}

.readerSize2 h1 {
    margin-left: 0;
    font-size: 2.1em;
    line-height: 1.25em;
}

.readerSize2 ol li {
    font-size: 1.25em;
    line-height: 1.7em;
}



/* READER SIZE 3 */
/* ********************************************************** */
.readerSize3
{
	font-size: 145%;
	line-height: 180%;
}