﻿.cse .gsc-control-cse,
.gsc-control-cse, 
.gsc-control-cse .gsc-table-result {
    font-family: inherit!important;
}

.cse .gs-webResult.gs-result a.gs-title:link, 
.gs-webResult.gs-result a.gs-title:link, 
.cse .gs-webResult.gs-result a.gs-title:link b, 
.gs-webResult.gs-result a.gs-title:link b, 
.cse .gs-webResult.gs-result a.gs-title:visited, 
.gs-webResult.gs-result a.gs-title:visited, 
.cse .gs-webResult.gs-result a.gs-title:visited b, 
.gs-webResult.gs-result a.gs-title:visited b, 
.gs-imageResult a.gs-title:link, 
.gs-imageResult a.gs-title:link b, 
.gs-imageResult a.gs-title:visited, 
.gs-imageResult a.gs-title:visited b, 
.cse .gsc-cursor-page, 
.gsc-cursor-page, 
.cse .gsc-trailing-more-results:link, 
.gsc-trailing-more-results:link, 
.cse .gs-spelling a, 
.gs-spelling a
{
	color: #000!important;
}

.cse .gs-webResult.gs-result a.gs-title:hover, 
.gs-webResult.gs-result a.gs-title:hover, 
.cse .gs-webResult.gs-result a.gs-title:hover b, 
.gs-webResult.gs-result a.gs-title:hover b, 
.gs-imageResult a.gs-title:hover, 
.gs-imageResult a.gs-title:hover b
{
	color: #d42226!important;
}

.gsc-adBlock,
.gsc-above-wrapper-area
{
	margin-bottom: 20px!important;
}

.gsc-result-info
{
	color: #000!important;
}


/* ****************************** SEARCH RESULTS LIST *********************************** */
.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-classic, .gsc-imageResult-column
{
	margin-bottom: 20px!important;
}

.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-classic, .gsc-imageResult-column
{
	padding: 0px!important;
}

.cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover
{
	border-left: 1px solid transparent!important;
}

.gsc-control-cse .gsc-table-result
{
	font-family: inherit!important;
	clear: right;
}

.gsc-control-cse .gsc-table-result td
{
	vertical-align: top!important;
}

/* ************ image ******************* */
.gsc-table-cell-thumbnail, 
.gs-promotion-image-cell
{
	display: block!important;
	position:relative;
	width: 288px;
	height: 144px;
	background: #ececec;
	padding: 1px!important;
}
.gs-web-image-box, .gs-promotion-image-box
{
	width: 288px!important;
	height: 144px!important;
	background: #fff;
	padding: 0px!important;
}
.gs-web-image-box a:before, .gs-promotion-image-box a:before
{
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}
gs-result img.gs-image, .gs-result img.gs-promotion-image
{
	display: inline-block!important;
	vertical-align: middle;
	width: 288px!important;
	height: 144px!important;
}
.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image
{
	max-height: 144px!important;
	max-width: 288px!important;
	border: 0px solid!important;
}


/* ************ text ******************* */
.gsc-result .gs-title
{
	background: transparent!important;
	font-size: 22px!important;
	font-weight: normal!important;
	font-weight: 400!important;
	overflow: visible!important;
	width: auto!important;
	height: auto!important;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * 
{
	font-size: 22px!important;
}
.gs-result .gs-title, .gs-result .gs-title *
{
	text-decoration: none!important;
}
.gs-result div.gs-title:hover, .gs-result div.gs-title *:hover {
	text-decoration: none!important;
}
.gs-result a.gs-title:hover, .gs-result a.gs-title *:hover
{
	text-decoration: underline!important;
}

.gs-webResult.gs-result div.gs-title,
.gs-webResult.gs-result div.gs-snippet,
.gs-webResult.gs-result div.gsc-url-bottom
{
	padding-left: 20px!important;
}

.cse .gs-result .gs-snippet, .gs-result .gs-snippet, .cse .gs-spelling-original, .gs-spelling-original
{
	font-size: 14px!important;
	line-height: 20px!important;
	margin-bottom: 15px!important;
	margin-top: 15px!important;
	color: #434343!important;
}


.gs-webResult.gs-result .gs-visibleUrl-short
{
	background: transparent!important;
	border-right: 1px solid #a1a1a1!important;
	border-top: 0px solid!important;
	color: #a1a1a1!important;
	display: block!important;
	float: left!important;
	font-size: 14px!important;
	font-weight: normal!important;
	font-weight: 300!important;
	line-height: 20px!important;
	margin-right: 5px!important;
	margin-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 5px!important;
}

.gs-webResult.gs-result .gs-visibleUrl-long
{
	color: #a1a1a1!important;
	font-size: 14px!important;
	font-weight: normal!important;
	font-weight: 300!important;
	line-height: 20px!important;
}


/* ****************************** PAGER ***************************** */
.cse .gsc-cursor-box, .gsc-cursor-box
{
	text-align: center!important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page
{
	line-height: 40px!important;
	padding-left: 12px!important;
	padding-right: 12px!important;
	display: inline-block!important;
	margin-right: 0px!important;
	text-decoration: none!important;
	font-weight: bold!important;
	font-weight: 600!important;
	color: #000!important;
	font-size: 14px!important;
}


.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page, 
.gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-box .gsc-cursor-page:hover
{
    	background-color: #d42226!important;
    	color: #fff!important;
	line-height: 40px!important;
	padding-left: 12px!important;
	padding-right: 12px!important;
    	text-shadow: none!important;
}

/* ****************************** TABS ***************************** */
.gsc-tabsArea 
{
    	border-bottom: 3px solid #d42226!important;
	height: auto!important;
	margin-bottom: 20px!important;
}

.gsc-tabsArea .gs-spacer
{
    display: none!important;
}

.cse .gsc-tabHeader, .gsc-tabHeader
{
	font-size: 15px!important;
	font-weight: normal!important;
	text-transform: none!important;
}

.cse .gsc-tabHeader.gsc-tabhActive, 
.gsc-tabHeader.gsc-tabhActive
{
	background: #d42226!important;
	border: 0px solid!important;
	border-right: 1px solid #fff!important;
	color: #fff!important;
	line-height: 45px!important;
	padding-left: 15px!important;
	padding-right: 15px!important;
	padding-bottom: 0px!important;
}

.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive
{
	background: #ededed!important;
	border: 0px solid!important;
	border-right: 1px solid #fff!important;
	color: #adadad!important;
	line-height: 45px!important;
	padding-left: 15px!important;
	padding-right: 15px!important;
	padding-bottom: 0px!important;
}