﻿.clear-gray {
    background: #fff;
	display: block;
	clear: both;
	height: 20px;
}

.GigaNavigator {
    width: 600px;
}

#article-promo
{
	display: none!important;
}

.arlist .arlist-img-position,
.arlist .arlist-img-type {
    float: left;
}

.arlist .arlist-img-type {
    margin-right: 20px;
}

/* ********************* BOXES *************************** */
.box .box-top,
.box .box-top .corner,
.box .box-bottom,
.box .box-bottom .corner
{
    background-image: none;
}

.cs-cnt-cl .box .box-data
{
    margin: 0px 0px;
}

.cs-cnt-cl .white-back {
    padding-left: 0px;
    padding-right: 0px;
}

.cs-cnt-cl div#article-main-data.box-data {
    margin-left: 7px;
}


.arforum-security
{
	background: url(../img/background/w-modal.png) repeat top left!important;
	opacity: 1!important;
	filter: alpha(opacity=100);
	z-index: 20000;
}