﻿.branding-wrapper
{
	margin: 0 auto!important
	background: #eee!important;
}

.bx-bb
{
	position: relative;
	text-align: center;
}

.bx-bb > div
{
	margin-top: -10px;
}

.bx-bb > div table
{
	margin-left: auto;
	margin-right: auto;
}

/* ****************************** BILLBOARD BOTTOM ***************************** */
.bx-billboard
{
	margin-left: auto;
	margin-right: auto;
	min-width: 1000px;
	/* min-height: 213px;*/
	text-align: center;
	padding-top: 8px;
	background: #eee;
}

.bx-billboard > div
{
	margin: 0 auto!important;
}

/* ****************************** LEADERBOARD ***************************** */
.bx-leaderboard
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	min-width: 1000px;
	min-height: 213px;
	text-align: center;
}

.bx-leaderboard > div
{
	margin: 0 auto!important;
}

/* ****************************** FULLBANNER ***************************** */
.bx-fullbanner > div
{
	width: 300px;
	overflow-x: hidden;
	margin-bottom: 20px;
}

/* ****************************** RECTANGLE ARTICLE ***************************** */
.bx-rectangle-article > div
{
	margin-bottom: 20px;
}

/* ****************************** COMMERCIAL ***************************** */
.bx-commercial > div
{
	margin-top: -3px;
}
.bx-commercial td
{
	text-align: left!important;
	vertical-align: middle!important;
	line-height: 15px;
}
.bx-commercial td a
{
	color: #000;
}
.bx-commercial td img
{
	margin-bottom: 0px!important;
	margin-top: 2px!important;
}