﻿.css-clear div, 
.css-clear span, 
.css-clear applet, 
.css-clear object, 
.css-clear iframe, 
.css-clear h1, 
.css-clear h2, 
.css-clear h3, 
.css-clear h4, 
.css-clear h5, 
.css-clear h6, 
.css-clear p, 
.css-clear blockquote, 
.css-clear pre, 
.css-clear a, 
.css-clear abbr, 
.css-clear acronym, 
.css-clear address, 
.css-clear big, 
.css-clear cite, 
.css-clear code, 
.css-clear del, 
.css-clear dfn, 
.css-clear em, 
.css-clear font, 
.css-clear img, 
.css-clear ins, 
.css-clear kbd, 
.css-clear q, 
.css-clear s, 
.css-clear samp, 
.css-clear small, 
.css-clear strike, 
.css-clear strong, 
.css-clear tt, 
.css-clear var, 
.css-clear b, 
.css-clear u, 
.css-clear i, 
.css-clear center, 
.css-clear dl, 
.css-clear dt, 
.css-clear dd, 
.css-clear ol, 
.css-clear ul, 
.css-clear li, 
.css-clear fieldset, 
.css-clear form, 
.css-clear label, 
.css-clear legend, 
.css-clear table, 
.css-clear caption, 
.css-clear tbody, 
.css-clear tfoot, 
.css-clear thead, 
.css-clear tr, 
.css-clear th, 
.css-clear td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	list-style-type: none;
	list-style-position: outside;
}