﻿.tm-ico
{
	display: block;
	background-image: url('../img/sprites/sprite-menu.png?v=1.0.001');
	background-repeat: no-repeat;
	background-color: transparent;
}


/* --------------------------- TOP MENU - ROW 1 ---------------------------- */
.tm-r1
{
	height: 70px;
	background-color: #fff!important;
	z-index: 212;
}

.tm-r1 .cs-cnt
{
	background-color: #fff;
}

/* logo */
.tm-r1 .logo
{
	display: block;
	float: left;
	width: 83px;
	height: 44px;
	padding: 13px 0px 12px;
	margin-left: 5px;
	margin-right: 20px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 50% 50%;
}

.tm-r1 .logo span
{
	display: none;
}

/* containers */
.tm-r1 .cs-search-wrapper,
.tm-r1 .cs-user-wrapper,
.tm-r1 ul.perma-links
{
	display: block;
	height: 69px;
	float: right;
}

/* Perma links */
.tm-r1 ul.perma-links li
{
	display: block;
	float: right;
	height: 70px;
	margin-right: 17px;
	font-size: 20px;
	line-height: 71px;
	font-weight: bold;
	font-weight: 700;
	text-transform: uppercase;
}

.tm-r1 ul.perma-links li a
{
	display: block;
	height: 70px;
	color: #7B7B7B;
	text-decoration: none;	
}

.tm-r1 ul.perma-links li.active a,
.tm-r1 ul.perma-links li:hover a,
.tm-r1 ul.perma-links li a:hover
{
	color: #cc0000;
	text-decoration: none!important;
}


/* Search */
.tm-r1 .cs-search-wrapper
{
	position: relative;
	width: 50px;
}

.tm-r1 .cs-search-wrapper .tm-ico
{
	width: 50px;
	height: 70px;
	background-position: -150px -70px;
}

.tm-r1 .cs-search-wrapper .tm-ico:hover
{
	background-position: -220px -140px;
}

.tm-r1 .cs-search-wrapper .tm-ico.active,
.tm-r1 .cs-search-wrapper .tm-ico.active:hover
{
	width: 50px;
	height: 70px;
	background-position: -220px -70px;
	background-color: #c7c7c7;
}

.tm-r1 .cs-search
{
	display: none;
	position: absolute;
	right: 0px;
	top: 70px;
	height: 30px;
	width: 250px;
	padding: 10px 20px;
	background-color: #c7c7c7;
	overflow: hidden;
	z-index: 313;
}

.tm-r1 .cs-search span,
.tm-r1 .cs-search a
{
	display: block;
	height: 30px;
	overflow: hidden;
	float: left;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	font-weight: 700;
}

.tm-r1 .cs-search span
{
	background-color: #fff;
	width: 154px;
	padding: 0px 10px;
}

.tm-r1 .cs-search span input
{
	color: #727272;
	font-size: 14px;
	line-height: 30px;
	background-color: #fff;
	width: 154px;
	border: 0px solid;
	padding: 0px;
	height: 30px;
}

.tm-r1 .cs-search a
{
	color: #fff;
	background-color: #cc0000;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 74px;
}

.tm-r1 .cs-search a:hover
{
	text-decoration: none!important;
	background-color: #990000;
}

/* User */
.tm-r1 .cs-user-wrapper
{
	position: relative;
	width: auto;
}

.tm-r1 .cs-user-wrapper .tm-ico
{
	width: 50px;
	height: 70px;
	background-position: -280px -70px;
}

.tm-r1 .cs-user-wrapper .tm-ico:hover
{
	background-position: -280px -140px;
}

.tm-r1 .cs-user-wrapper .tm-ico span
{
	display: none;
}

/* User logged */
.tm-r1 .cs-user-wrapper .us-avatar,
.tm-r1 .cs-user-wrapper .us-nick,
.tm-r1 .cs-user-wrapper .us-mn
{
	display: block;
	float: left;
	margin-top: 21px;
}

.tm-r1 .cs-user-wrapper .us-avatar
{
	margin-right: 12px;
	width: 36px;
	height: 36px;
	margin-top: 18px;
	overflow: hidden;
	background-position: -297px -227px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.tm-r1 .cs-user-wrapper  .us-avatar:hover
{
	background-position: -297px -227px;
}

.tm-r1 .cs-user-wrapper .us-avatar img
{
	max-width: 36px;
	max-height: 36px;
}

.tm-r1 .cs-user-wrapper .us-nick
{
	height: 28px;
	margin-right: 39px;
	margin-bottom: 11px;
	line-height: 28px;
	font-size: 16px;
	font-weight: bold;
	font-weight: 700;
	color: #cc0000;
}

.tm-r1 .cs-user-wrapper .us-mn
{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 26px;
	height: 38px;
	padding: 1px 1px 0px;
	background-color: #fff;
	z-index: 314;
}

.tm-r1 .cs-user-wrapper .us-mn .tm-ico
{
	width: 26px;
	height: 38px;
	background-color: #fff;
	background-position: -22px -162px;
}

.tm-r1 .cs-user-wrapper .us-mn .tm-ico:hover
{
	background-position: -162px -162px;
}

.tm-r1 .cs-user-wrapper .us-mn.active
{
	background-color: #d8d8d8;
}

.tm-r1 .cs-user-wrapper .us-mn.active .tm-ico,
.tm-r1 .cs-user-wrapper .us-mn.active .tm-ico:hover
{
	background-position: -92px -162px;
}

.tm-r1 .cs-user-wrapper ul
{
	display: none;
	list-style: none;
	position: absolute;
	right: 0px;
	top: 59px;
	padding: 10px 20px;
	border: 1px solid #d8d8d8;
	background-color: #fff;
	z-index: 313;
}

.tm-r1 .cs-user-wrapper ul li
{
	font-size: 16px;
	line-height: 40px;
	border-bottom: 1px solid #d8d8d8;
	white-space: nowrap;
	font-weight: bolder;
	font-weight: 400;
}

.tm-r1 .cs-user-wrapper ul > :last-child
{
	border-bottom: 0px solid #d8d8d8;
}

.tm-r1 .cs-user-wrapper ul li a
{
	color: #727272;
	text-decoration: none;
}

.tm-r1 .cs-user-wrapper ul li a:hover
{
	color: #cc0000;
	text-decoration: none!important;
}

/* --------------------------- TOP MENU - ROW 2 ---------------------------- */
.tm-r2
{
	height: 50px;
	background-color: #424242!important;
	z-index: 211;
}

.tm-r2 .cs-cnt > span,
.tm-r2 .cs-cnt > ul
{
	background-color: #424242;
	z-index: 213;
}


/* Perma links */
.tm-r2 ul.perma-links
{
	display: block;
	height: 50px;
	overflow: hidden;
	margin-left: 5px;
}

.tm-r2 ul.perma-links li
{
	display: block;
	float: left;
	height: 46px;
	padding-bottom: 4px;
	margin-left: 20px;
	font-size: 16px;
	line-height: 51px;
	font-weight: bold;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #424242;
}

.tm-r2 ul.perma-links li:first-child
{
	margin-left: 0px;
}

.tm-r2 ul.perma-links li.home
{
	margin-left: 0px;
	width: 21px;
}

.tm-r2 ul.perma-links li.home span
{
	display: none;
}

.tm-r2 ul.perma-links li a
{
	display: block;
	height: 46px;
	background-color: #424242;
	color: #c4c4c4;
	text-decoration: none;	
}

.tm-r2 ul.perma-links li.submenu a:after {
	display: block;
	float:right;
	height: 48px;
	width: 16px;
	content: "";
	background-position: -25px -149px;
	background-image: url('../img/sprites/sprite-menu.png?v=1.0.001');
	background-repeat: no-repeat;
}

.tm-r2 ul.perma-links li.home a
{
	background-position: -25px -82px;
}

.tm-r2 ul.perma-links li:hover,
.tm-r2 ul.perma-links li.active
{
	background-color: #cc0000;
}

.tm-r2 ul.perma-links li.home:hover
{
	background-color: #424242;
}

.tm-r2 ul.perma-links li:hover a,
.tm-r2 ul.perma-links li.active a,
.tm-r2 ul.perma-links li a:hover
{
	color: #fff;
	text-decoration: none!important;
}

.tm-r2 ul.perma-links li.submenu.active a:after,
.tm-r2 ul.perma-links li.submenu a:hover:after {
	background-position: -95px -149px;
}

.tm-r2 ul.perma-links li.home:hover a,
.tm-r2 ul.perma-links li.home a:hover
{
	background-position: -95px -82px;
}


/* Social network links */
.tm-r2 a.social-network
{
	width: 50px;
	height: 50px;
	float: right;
}

.tm-r2 a.social-network span
{
	display: none;
}

.tm-r2 a.sn-1
{
	background-position: 0px 0px;
}

.tm-r2 a.sn-2
{
	background-position: -70px 0px;
}

.tm-r2 a.sn-3
{
	background-position: -140px 0px;
}

.tm-r2 a.sn-4
{
	background-position: -210px 0px;
}

.tm-r2 a.sn-5
{
	background-position: -280px 0px;
}

/* Submenu */
.tm-r2 .cs-menu-wrapper 
{
	background-color: #cc0000;
	display: none;
	padding: 0 5px;
	position: absolute;
	top: 50px;
	width: 990px;
	height: 0px;
	overflow: hidden;
}

.tm-r2 .cs-menu-cnt
{
	background-color: #fff;
	display: block;
	height: 191px;
	padding: 14px 15px 24px;
	position: relative;
	top: -229px;
}

/* Submenu - tags */
.tm-r2 .tg-wrapper
{
	display: block;
	height: 28px;
	margin-bottom: 14px;
	list-style: none;
	overflow: hidden;
}

.tm-r2 .tg-wrapper li
{
	float: left;
	height: 28px;
	line-height: 28px;
	margin-right: 10px;
	background-color: #cc0000;
}

.tm-r2 .tg-wrapper li:hover
{
	background-color: #990000;
}

.tm-r2 .tg-wrapper li a
{
	font-size: 13px;
	font-weight: bold;
	font-weight: 700;
	height: 28px;
	line-height: 28px;
	padding-left: 14px;
	padding-right: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.tm-r2 .tg-wrapper li a:hover
{
	text-decoration: none!important;
}

/* Submenu - most readed */
.tm-r2 .war-mr-wrapper
{
	display: block;
	float: left;
	width: 182px;
	margin-right: 10px;
}

.tm-r2 .war-mr-wrapper a
{
	display: block;
	position: relative;
	overflow: hidden;
	height: 56px;
}

.tm-r2 .war-mr-wrapper .war-im-cnt
{
	width: 180px;
	height: 90px;
	padding: 1px;
	background-color: #f1f1f1;
	margin-bottom: 9px;
}

.tm-r2 .war-mr-wrapper .war-im-cnt-fix
{
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	width: 180px;
	height: 90px;
}

.tm-r2 .war-mr-wrapper .war-im-cnt img
{
	width: 180px;
	height: 90px;
}

.tm-r2 .war-mr-wrapper .war-im-cnt .war-im-cnt-fix img
{
	position: absolute;
	width: 180px;
	height: auto;
}

.tm-r2 .war-mr-wrapper a
{
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	font-weight: 400;
	color: #000;
	text-decoration: none;
}

.tm-r2 .war-mr-wrapper:hover a,
.tm-r2 .war-mr-wrapper a:hover
{
	color: #cc0000;
	text-decoration: none!important;
}