﻿html, body
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	list-style-type:none;
	background: #eee;
}

* 
{
	filter: none;
	font-smooth: never;
}

.ta-left
{
	text-align: left;
}

.ta-right
{
	text-align: right;
}

.ta-center
{
	text-align: center;
}

.f-left
{
	float: left;
}

.f-right
{
	float: right;
}

.clear {
    clear: both;
    display: block;
    font-size: 1px;
    height: 0px;
    overflow: hidden;
    width: 100%;
}

/* --------------------------- GENERAL ---------------------------- */
.cs-cnt-wrapper
{
	display: block;
	position: relative;
	text-align: center;
	background: #eee!important;
}

.cs-cnt
{
	display: block;
	position: relative;
	margin: 0 auto!important;
	text-align: left;
	width: 1000px;
}

.cs-cnt-main
{
	background: #eee url("../img/background/cs-cnt-main.png?v=2015.0.001") 0px 0 repeat-y;
	border-top: 20px solid #eee;
}

/* --------------------------- 404 ---------------------------- */
.cs-cnt-err
{
	padding: 20px!important;
	margin-bottom: 20px!important;
	font-size: 16px;
	width: 960px;
	background: #fff;
	text-align: center;
}

/* --------------------------- COLUMNS ---------------------------- */
.cs-cnt-cl
{
	display: block;
	position: relative;
	height: 100%;
	background: #fff;
	
}

.cs-cnt-cl-l
{
	width: 600px;
	padding: 20px!important;
	overflow: hidden;
	float: left;
}

.cs-cnt-cl-r
{
	padding: 0 20px!important;
	width: 300px;
	float: right;
}

.cs-cnt-cl-full
{
    background: #fff;
    display: block;
    height: auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 960px;
}

.cs-cnt-cl-w600
{
    margin: 0 auto!important;
    width: 600px;
}

/* --------------------------- BOXES ---------------------------- */
.bx
{
	display: block;
	position: relative;
	margin-top: 20px!important;
	margin-bottom: 20px!important;
	clear: both;
}

.bx-scroller-fixed
{
	position: fixed;
	top: 0;
}

.bx-rvm
{
	margin-top: 0px!important;
	margin-bottom: 20px!important;
}

.bx-ntm
{
	margin-top: 1px!important;
}


/* header */
.bx-head
{
	display: block;
	position: relative;
	background: #d42226;
	color: #fff;
	font-weight: bold;
	font-weight: 700;
	padding: 9px 9px!important;
}

.bx-head h2
{
	font-size: 19px;
	color: #fff;
}

.bx-head small
{
	display: block;
	position: absolute;
	font-weight: normal;
	font-weight: 500;
	right: 9px;
	bottom: 13px;
}
.bx-inc .bx-head small
{
	font-size: 75%;
	bottom: 12px;
}

.bx-head a 
{
	color: #fff;
	text-decoration: none;
}

.bx-head a:hover 
{
	text-decoration: underline;
}

/* content */
.bx-cnt
{
	display: block;
	position: relative;
	font-size: 14px;
	color: #000;
	padding: 0px 9px!important;
}

.bx-cnt-full
{
	padding: 0px 0px!important;
}

/* buttons */
.bx-btn
{
	display: block;
	position: relative;
	margin-top: 12px!important;
	height: 40px;
	line-height: 40px;
	padding-left: 9px!important;
	padding-right: 9px!important;
}

.bx-btn a
{
	background: none repeat scroll 0 0 #e0e0e0;
	color: #808080;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	margin-right: 10px!important;
	text-align: center;
	text-decoration: none;
	padding-left: 20px!important;
	padding-right: 20px!important;
}

.bx-btn a.last
{
	margin-right: 0px!important;
}

.bx-btn.ta-center a,
.bx-btn.ta-center a.last
{
	margin: 0 auto!important;
}

.bx-btn a:hover
{
	background: #d42226!important;
	color: #fff!important;
	text-decoration: none!important;
}

.bx-btn-inverted a
{
	background: #d42226!important;
	color: #fff!important;
}
.bx-btn-inverted a:hover
{
	background: none repeat scroll 0 0 #e0e0e0!important;
	color: #808080!important;
}

/* list */
.bx-cnt ul
{
	list-style-image: none;
}
.bx-cnt ul.thin
{
	width:50%;
	float: left;
}
.bx-cnt li
{
	padding: 9px 0px;
	border-bottom: 1px solid #d6d6d6;
}
.bx-inc .bx-cnt li
{
    padding: 6px 0px;
}
.bx-cnt ul.thin li
{
	margin-right: 4%!important;
}
.bx-cnt ul.last li
{
	margin-left: 4%!important;
	margin-right: 0%!important;
}
.bx-cnt ul.thin li.last
{
	margin-right: 0%!important;
	padding-right: 4%!important;
}
.bx-cnt ul.last li.last
{
	margin-left: 0%!important;
	margin-right: 0%!important;
	padding-right: 0%!important;
	padding-left: 4%!important;
}
.bx-cnt ul a
{
	color: #000;
	text-decoration: none!important;
}
.bx-cnt ul.thin a
{
    display: block;
    height: 20px;
    overflow: hidden;
    width: 238px;
}
.bx-cnt ul a:hover
{
	color: #d42226;
}
.bx-cnt li .f-right
{
	color: #d42226;
	font-size: 13px;
}

/* simple list */
.bx-list-simple .bx-cnt ul li
{
	border-bottom: 0px solid;
	line-height: 25px;
	padding: 0px 0px!important;
}

/* article tip link */
.bx-tip-link
{
	background: url("../img/background/bx-pen.png") no-repeat scroll right top;
	color: #484848;
	font-size: 140%;
	font-weight: bold;
	font-weight: 700;
	line-height: 22px;
	margin-top: 20px !important;
}

.bx-tip-link .bx-cnt
{
	font-size: 19px;
}

.bx-tip-link a 
{
	color: #d42226;
	text-decoration: none;
}

.bx-tip-link a:hover 
{
	text-decoration: underline;
}

/* external rss */
.bx-ext-rss li
{
	display: block;
	height: 60px;
	padding-bottom: 15px;
	padding-top: 0px;
	margin-top: 2px;
	width: 282px;
}

.bx-ext-rss li.plain
{
	height: auto;
	padding-bottom: 6px;
}

.bx-ext-rss li.last
{
}

.bx-ext-rss li .img
{
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 60px;
	margin-top: 6px;
	margin-right: 8px;
	width: 100px;
}

.bx-ext-rss li .text
{
	display: block;
	float: left;
	height: 61px;
	line-height: 150%;
	text-decoration: none!important;
	width: 174px;
	margin-top: 4px;
	overflow: hidden;
}

.bx-ext-rss li.plain .text
{
	float: none;
	height: auto;
	width: 100%;
}

.bx-ext-rss li .text small
{
	display: block;
}


/* external rss small img */
.bx-ext-rss-sm li .img
{
	height: 60px;
	width: 60px;
}
.bx-ext-rss-sm li .text
{
	width: 214px;
}

/* external rss gallery img */
.bx-ext-rss-gall li
{
	background: #c9c9c9;
	height: 90px;
	width: 133px;
	padding: 1px;
	float: left;
	margin: 12px 12px 0px 0px;
}
.bx-ext-rss-gall li.last
{
	clear: right;
	margin-right: 0px;
}
.bx-ext-rss-gall li .img
{
	height: 90px;
	width: 133px;
	background-color: #c9c9c9;
	margin: 0px 0px;
	float: none;
}


/* computer */
.bx-computer img
{
	float: left;
	margin-right: 8px;
	margin-top: 5px;
}

.bx-computer p
{
	margin-top: 8px;
}

.bx-computer .bx-btn a
{
	float: left;
	padding-left: 0!important;
	padding-right: 0!important;
	width: 136px;
}

/* live companies */
.bx-livecompanies .bx-head
{
	background: #fff!important;
	padding-left: 0px!important;
}

.bx-livecompanies .bx-head a
{
	display: block;
	height: 27px;
	background: url("../img/background/bx-livecompanies.png") no-repeat scroll left center!important;
}

.bx-livecompanies .bx-head a span
{
	display: none;
}

.bx-livecompanies .bx-cnt ul li.ta-right a
{
	color: #d42226;
	font-weight: bold;
	font-weight: 700;
}

/* MSDN */
.bx-msdn .bx-head {
	padding: 0px 9px!important;
	background: transparent!important;
}

.bx-msdn .bx-head h2 {
	color: #000!important;
    	font-size: 14px!important;
	font-weight: normal;
	font-weight: 400;
}

.bx-msdn .bx-cnt ul li {
    border-bottom: 0px solid!important;
}