﻿.tab-wrapper 
{
    	border-bottom: 3px solid #d42226!important;
	height: auto;
	margin-bottom: 20px!important;
}

.tab-wrapper .tab
{
	font-size: 15px;
	font-weight: bold;
	text-transform: none;
	background: #ededed;
	border-right: 1px solid #fff;
	color: #adadad;
	line-height: 45px;
	padding-left: 15px!important;
	padding-right: 15px!important;
	padding-bottom: 0px!important;
	display: inline-block;
}

.tab-wrapper .tab-active
{
	background: #d42226;
	border-right: 1px solid #fff;
	color: #fff;
}

.tab-wrapper-boxed .tab
{
	font-size: 12px;
	font-weight: bold;
	font-weight: 700;
	text-transform: normal;
	background: #ededed;
	border-right: 1px solid #fff;
	color: #adadad;
	line-height: 25px;
	padding-left: 15px!important;
	padding-right: 15px!important;
	padding-bottom: 0px!important;
	display: inline-block;
	text-decoration: none;
}

.tab-wrapper-boxed .tab:hover
{
	color: #000;
	text-decoration: none!important;
}

.tab-wrapper-boxed .tab-data-wrapper {
    	border-top: 3px solid #d42226!important;
	height: auto;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data {
    	background: #ededed;
	padding: 6px 6px;
	display: none;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data-colored {
    	background: #d42226;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data-active {
	display: block;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data .bx-btn {
	margin: 0!important;
	padding: 0 6px!important;
	height: 25px;
	line-height: 25px;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data .bx-btn select {
	width: 130px;
	height: 25px;
	float: left;
	margin-right: 3px;
	font-size: 12px;
	font-family: Open Sans;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data .bx-btn select optgroup,
.tab-wrapper-boxed .tab-data-wrapper .tab-data .bx-btn select option {
	font-size: 12px;
	font-family: Open Sans;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data .bx-btn a {
	margin-right: 3px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	font-size: 12px;
	font-weight: bold;
	font-weight: 700;
}

.tab-wrapper-boxed .tab-data-wrapper .tab-data .bx-btn a.last {
	margin-right: 0px !important;
}