﻿/* --------------------------- RSS HUB ------------------------ */
#page-hub-wrapper {
    background: #eee;
}
#rss-hub
{
	background: #eee;
	min-width: 1000px;
	width: 1000px;
	clear: both;
	display: block;
	position: relative;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0px!important;
	padding: 20px 0!important;
	text-align: left;
}
#rss-hub #page-hub .box-data
{
	padding: 20px 0px!important;
	margin: 0 0!important;
	background: #FFFFFF;
	width:1000px!important;
	height:auto!important;
	margin: 0 0!important;
	position: relative;
}
#rss-hub #page-hub .box-data #page-hub-item-container
{
	width: 100%;
	height: auto!important;
	padding: 0!important;
	position: relative;
	left: 0!important;
}
#rss-hub #page-hub .box-data .page-hub-item
{
	float:left;
	width: 176px!important;
	padding-left: 20px!important;
	padding-right: 0px!important;
	height: auto!important;
}
#rss-hub #page-hub .box-data .page-hub-item .box_name
{
	display: block;
	font-size: 20px;
	margin-top: 0px!important;
	height: 28px;
}
#rss-hub #page-hub .box-data .page-hub-item a.box_name,
#rss-hub #page-hub .box-data .page-hub-item a.box_name:hover
{
	color: #4b4b4b;
	text-decoration: none !important;
}

#rss-hub #page-hub .box-data .page-hub-item img
{
	border: 0px solid!important;
	margin-bottom: 8px;
}
#rss-hub #page-hub .box-data .page-hub-item-img
{
	display: block;
	width: 174px;
	height: 130px;
	background: #b4b4b4;
	padding: 1px;
	overflow: hidden; 
}
#rss-hub #page-hub .box-data .page-hub-item-img img
{
	border: 0px solid;
	width: 174px;
	height: 130px;
	vertical-align: top;
	margin: 0!important;
}
#rss-hub #page-hub .box-data .page-hub-item h4
{
	padding-bottom:0.5em;
	font-size:14px;
	font-weight: bold;
}

#rss-hub #page-hub .box-data .page-hub-item h4 a,
#rss-hub #page-hub .box-data .page-hub-item h4 a:visited
{
	color:#DD0000;
	text-decoration:none;
}

#rss-hub #page-hub .box-data .page-hub-item h4 a:hover
{
	text-decoration:underline;
}

.rss_hub_clr
{
	clear: both;
}

/* --------------------------- MF COMMON FOOTER ------------------------ */
#prolinkftr {
    margin: 0 auto!important;
    min-width: 1000px;
}

#prolinkftr .prolinkftr-fixed {
    margin: 0 auto !important;
    padding: 0 0px;
    text-align: center;
    width: 1000px;
}

#prolinkftr .prolinkftr-col1 {
    margin-left: 20px!important;
}

#prolinkftr img {
    border: 0px solid!important;
}

/* --------------------------- MF COMMON FOOTER ------------------------ */
#prolinkhdr
{
	text-align: center!important;
	min-width:1000px;
}

#prolinkhdr table
{
	margin: 0 auto!important
}

.prolinkhdr-links table tr *
{
	text-align: left!important;
}

#prolinkhdr .prolinkhdr-center {
	margin:0 auto;
	width:1000px;
}

.prolinkhdr-fixed table
{
	float: left;
}

#prolinkhdr .prolinkhdr-fixed {
    padding-left: 0px!important;
    width: 965px!important;
}

#prolinkhdr .prolinkhdr-fixed table {
    float: left;
    margin-left: 0 !important;
    width: auto !important;
}

