﻿/* SUPERZARI */
.ar-list .ar-row .ar-txt span.tag-highlighted a
{
	font-weight: bold;
	font-weight: 700;
	color: #d42226!important;
	text-decoration: none!important;
}

.ar-list .ar-row .ar-txt span.tag-highlighted a span
{
	margin-right: 0!important;
	color: #d42226!important;;
	position: relative;
	padding-left: 21px;
}

.ar-list .ar-row .ar-txt span.tag-highlighted a span:before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 18px;
	height: 18px;
	background: url("../img/article/zive/vanoce.png?v=1.0.002") no-repeat center top transparent;
}

.ar-list .ar-row-promo .ar-img a.tag-highlighted
{
	display: block;
	position: absolute;
	top: 0px;
	right: 50px;
	width: 60px;
	height: 60px;
	background: url("../img/article/zive/vanoce-big.png?v=1.0.002") no-repeat center top transparent;
}