.white-back .box {
	float: left;
	width: 310px!important;
	clear: none;
}

#rssforum {
	margin-right: 20px;
}

.box-rss .box-data .rssitem {
	padding: 0 0 0 0;
	border: 0px solid;
}

.box-rss .box-data {
	margin-left: 5px;
	margin-right: 5px;
}

.rssitem span {
	display: block;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #d7d7d7;
}


.rssitem-lastone span {
	border-bottom: 0px solid #d7d7d7!important;
}

.rssitem .rsslink {
	width: 250px;
	text-align: left;
}

.rssitem .rsslink a {
	color: #cc0000;
}
.rssitem .rssdate {
	width: 45px;
	text-align: right;
}

.rssitem .rssitem-left {
	padding-right: 35px;
}


#rssblog {
	float: none;
	width: 644px!important;
	padding: 0px 13px 13px 13px!important;
}

#rssblog .box-data .rssblogfbox
{
	width: 305px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 1px solid #ffffff;
	float: left;
}

.rssblogfbox .rssitem
{
	display: block;
	height: 18px;
	width: 305px;
	background: none;
}
.rssblogfbox .rssitem .rsslink
{
	width: 305px;
}

.rssblogfbox .rssitem span
{
	height: 18px;
	line-height: 18px;
}


.rssblogfbox-right {
	margin-left: auto;
	float: right!important;
}


.article-promo-content-pane {
	background-color: #ffffff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	zoom: 1;
}

.article-promo-content-pane .promo-text,
.article-promo-content-pane .promo-text p
{
	background: #ffffff!important;
}

/*************************************************************/

.rotator-links
{
	display: block;
	width: 644px;
	height: 15px;
	clear: both;
}
.rotator-links-nav
{
	float: left;
	display: block;
	width: 34px;
	height: 15px;
	margin-right: 10px;
}
.rotator-links-nav a
{
	float: left;
	display: block;
	width: 14px;
	height: 15px;
	margin-right: 3px;
}
.rotator-links-nav a.rotator-links-nav-prev
{
	background: url(../Client.Images/Arrows/arrow-prev.gif) no-repeat center center;
}
.rotator-links-nav a.rotator-links-nav-next
{
	background: url(../Client.Images/Arrows/arrow-next.gif) no-repeat center center;
}
.rotator-links-text
{
	float: left;
	display: block;
	width: 570px;
	height: 15px;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.rotator-links-text b
{
	margin-right: 10px;
}
.rotator-links-text .rotator-links-text-data
{
	float: left;
}

.rotator-links-text a
{
	font-weight: bold;
	text-decoration: none;
}


.rotator-links-text a:hover
{
	text-decoration: underline;
}


.rotator-links-text .rotator-links-text-cursor
{
	height: 100%;
	width: 10px;
	background: #cc0000;
	display: block;
	float: left;
}

.jobs-header
{
	background: url(/Client.Images/jobs-header.gif) no-repeat; height: 45px; display: block;
}

.jobs-header a img
{
	border: 0px solid;
	margin-right: 83px;
	margin-left: 31px;
}

.jobs-header a
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	line-height: 40px;
}

.jobs-header a:hover
{
	text-decoration: none!important;
}