/* --------------------------- GENERAL ---------------------------- */
html, body { height: 100%; }

body {
	margin: 0;
	padding: 0;
	font-family:  Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 0.75em;	
	color : #000000;
	background: #cccccc;
	text-align: center;
}

form
{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}

h1 { 
	font-size: 200%;
	color: #cc0000;
	font-weight: bold;
}
h2 { 
	font-size: 150%;
	color: #cc0000;
}
h3 {  
	font-size: 120%; 
}
h4, h5 { 
	font-size: 100%; 
}

h6 { 
	font-size: 80%;
}

hr {
	height: 1px;
	color: #cc0000;
	background: #cc0000;
	border: 0px solid;
}

a {
	color: #cc0000;
}

a:hover {
	text-decoration: underline!important;
}

ul {
	margin-left: 5px;
	padding-left: 20px;
	list-style: none url(/Client.Images/ul-square.gif)
}

ul li {
	margin: 0;
	padding: 0;
}
/* ------------------------- GENERAL END -------------------------- */


/* ------------------------- BUTTONS -------------------------- */
.button-row {
	clear: both;
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
}

.button {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	background: url(/Client.Images/Inputs/inp-button.gif) top left repeat-x;
	height: 21px;
	font-weight: bold;
	float: left;
	margin-left: 3px;
}

.button a {
	padding-left: 5px;
	padding-right: 5px;
	line-height: 21px;
	text-decoration: none;
	color: #000000!important;
	cursor: pointer;
}

.button a:hover {
	text-decoration: underline;
}
/* ------------------------- BUTTONS END -------------------------- */



/* ------------------------- BOXES -------------------------- */
.box {
	display: block;
	clear: both;
	background-color: #ffffff;
	width: auto;
}

.box .box-data {
	display: block;
	position: relative;
	margin: 0 13px 0 13px;
	width: auto;
	clear: both;
	text-align: left;
}

.box .box-top,
.box .box-bottom { 
	display: block;
	height: 11px;
	clear: both;
	overflow: hidden;
}
.box .box-top { 
	background: #ffffff url(/Client.Images/Corners/corner-tr-w.gif) no-repeat top right; 
}

.box .box-bottom { 
	background: #ffffff url(/Client.Images/Corners/corner-br-w.gif) no-repeat top right; 
}

.box .corner {
   width: 13px;
   height: 11px;
   display: block;
}

.box .box-top .corner { 
	background: url(/Client.Images/Corners/corner-tl-w.gif) no-repeat top left; 
}

.box .box-bottom .corner { 
	background: url(/Client.Images/Corners/corner-bl-w.gif) no-repeat top left; 
}


.box-red {
	background-color: #cb0000;
}

.box-red .box-top {
	background: #cb0000 url(/Client.Images/Corners/corner-tr-r.gif) no-repeat top right;
}

.box-red .box-top .corner{
	background: url(/Client.Images/Corners/corner-tl-r.gif) no-repeat top left;
}

.box-red .box-bottom {
	background: #cb0000 url(/Client.Images/Corners/corner-br-r.gif) no-repeat top right;
}

.box-red .box-bottom .corner{
	background: url(/Client.Images/Corners/corner-bl-r.gif) no-repeat bottom left;
}


.box-gray {
	background-color: #f1f1f1;
}

.box-gray .box-top {
	background: #f1f1f1 url(/Client.Images/Corners/corner-tr-g.gif) no-repeat top right;
}

.box-gray .box-top .corner{
	background: url(/Client.Images/Corners/corner-tl-g.gif) no-repeat top left;
}

.box-gray .box-bottom {
	background: #f1f1f1 url(/Client.Images/Corners/corner-br-g.gif) no-repeat bottom right;
}

.box-gray .box-bottom .corner{
	background: url(/Client.Images/Corners/corner-bl-g.gif) no-repeat bottom left;
}

.box-tabbed .box-top { 
	background: #e7e7e7 url(/Client.Images/Corners/corner-tr-tab-w.gif) no-repeat top right; 
}

.box-tabbed .box-top .corner { 
	background: url(/Client.Images/Corners/corner-tl-tab-w.gif) no-repeat top left; 
}

.box-tabbed-gray .box-top { 
	background: #e7e7e7 url(/Client.Images/Corners/corner-tr-tab-g.gif) no-repeat top right; 
}

.box-tabbed-gray .box-top .corner { 
	background: url(/Client.Images/Corners/corner-tl-tab-g.gif) no-repeat top left; 
}

.box-tabbed-gray .box-tabbed .box-top { 
	background: #e7e7e7 url(/Client.Images/Corners/corner-tr-tab-w.gif) no-repeat top right; 
}

.box-tabbed-gray .box-tabbed .box-top .corner { 
	background: url(/Client.Images/Corners/corner-tl-tab-w.gif) no-repeat top left; 
}

.box-tabbed .box-heading {
	height: 32px;
	background: #e7e7e7 url(/Client.Images/Tabs/bg-tab.gif) repeat-x 0px -8px;
	margin-bottom: 15px;
	padding-left: 13px;
	display: block;
	overflow: hidden;
}

.box-tabbed .box-heading h3 {
	font-size: 150%;
	font-weight: normal;
	background: url(/Client.Images/Tabs/bg-tab-l.gif) no-repeat top left;
	margin: 0;
	padding: 0 0 0 13px;
	line-height: 39px;
	height: 32px;
	display: block;
	position: relative;
}

.box-tabbed .box-heading h3 span{
	background: url(/Client.Images/Tabs/bg-tab-r.gif) no-repeat top right;
	padding: 0 13px 0 0;
	height: 32px;
	display: block;
	float: left;
	position: relative;
}

.box-gray .box-heading h3 {
	background: url(/Client.Images/Tabs/bg-tab-l-g.gif) no-repeat top left!important;
}

.box-gray .box-heading h3 span{
	background: url(/Client.Images/Tabs/bg-tab-r-g.gif) no-repeat top right!important;
}

.box-heading h3 a{
	color: #000000;
	text-decoration: none;
}

.box-heading small {
	float: right;
	font-size: 80%;
	color: #666666;
	line-height: 21px;
	margin-right: 13px;
	position: relative;
	z-index: 100;
}

.box-heading small.rss a  {
    background: url("/Client.Images/V4/SocialNet/icon-rss.png") no-repeat scroll right center transparent;
    color: #CC0000;
    display: block;
    font-size: 70%;
    line-height: 21px;
	    padding-right: 22px;
	    text-decoration: underline;
}

.box-heading small b {
	color: #cc0000;
}

.box-heading small .inp {
	background: url(/Client.Images/Inputs/inp-search.gif) top left no-repeat;
	width: 163px;
	height: 21px;
	padding-left: 5px;
	padding-right: 5px;
}

.box-heading small .inp input {
	background: transparent;
	border: 0px solid;
	width: 163px;
	height: 18px;
	font-size: 90%;
	padding-top:3px;
}

.box .box-bottom-flat { 
	background: #ffffff url(/Client.Images/bg-box-flat.gif) repeat-x top left;
	margin-top: 15px;
}
.box .box-bottom-flat .corner { 
	background: transparent; 
}

.box-pager {
	background: #f1f1f1 url(/Client.Images/Corners/corner-br-g.gif) no-repeat bottom right;
	height: 32px;
	display: block;
	padding-right: 10px;
}

.shadow {
	background: url(/Client.Images/bg-pager.gif) repeat-x top left;
	padding-top: 5px;
	display: block;
}

.box-pager .corner{
	background: url(/Client.Images/Corners/corner-bl-g.gif) no-repeat bottom left;
	height: 32px;
}

.box-pager table {
	font-size: 90%;
	float: right;
	line-height: 25px;
}

.box-pager select {
	font-size: 90%;
}

.box-pager a img {
	border: 0px solid;
	text-decoration: none;
}

.box .box-heading h3 span.tab-off {
	background: url(/Client.Images/Tabs/bg-tab-r-g2.gif) no-repeat top right!important;
	margin: 0 0 0 4px;
	position: relative;
	font-size: 80%;
}

.box .box-heading h3 span.tab-off span {
	background: url(/Client.Images/Tabs/bg-tab-l-g2.gif) no-repeat top left!important;
	margin: 0;
	padding: 0 0 1px 13px;
	line-height: 38px;
	height: 31px;
	display: block;
	float: left;
	position: relative;
}

.box .box-heading h3 span.tab-off span a {
	color: #606060!important;
}

/* ------------------------- BOXES END -------------------------- */


/* ------------------------- BOX MIDDLE - phorum consult -------------------------- */
.white-back {
	background: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}
/* ------------------------- BOX MIDDLE - phorum consult END -------------------------- */

.nodisplay {
	display: none;
}

.noview {
	visibility: hidden;
}

.noborder {
	border-top: 0px solid!important;
	border-right: 0px solid!important;
	border-bottom: 0px solid!important;
	border-left: 0px solid!important;
}

.nodecoration {
	text-decoration: none;
}

.clear {
	font-size: 1px;
	display: block;
	clear: both;
	height: 1px;
	width: 100%;
	overflow: hidden;
}

.clear-margin {
	height: 10px;
}

.clear-gray {
	background: #cccccc;
	clear: both;
	display: block;
	height: 15px;
}

.float-right {
	float: right!important;
}

.float-left {
	float: left!important;
}

.float-none {
	float: none!important;
}

.centered {
	text-align: center!important;
}

.more-info {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #d7d7d7;
	text-align: right;
	font-weight: bold;
}

.bigger {
	font-size: 110%;
}
.biggest {
	font-size: 130%;
}

h2.smaller {
	font-size: 120%;
	margin-bottom: 0px!important;
}

h2.smaller a {
	color: #404040;
}

h2.smaller a:visited {
	color: #9a9a9a!important;
}

.bold {
	font-weight: bold;
}

.lighter {
	color: #999999;
}

#link-kristalova-lupa
{
	display:none;
}

/* --------------------------- COMPUTER ---------------------------- */
#page-data-main-clip
{
	display: block;
	position: relative;
	min-width:1000px;
}


/* --------------------------- BUTTONS ------------------------ */
.button-row-new
{
	display: block;
	height: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.button-row-new.disabled
{
	display: none;
}

.button-row-new .button
{
	display: block;
	height: 40px;
	float: right;
	background: url("/Client.Images/V4/Buttons/btn-corner.png") no-repeat center right;
	padding-right: 43px;
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 0px;
	border: 0px solid!important;
	font-weight: normal!important;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	margin-right: 0px!important;
}

.button-row-new .button:hover
{
	color: #FFFFFF!important;
}

.button-row-new .button:hover .button-text span
{
	text-decoration: underline!important;
}

.button-row-new .button .button-corner
{
	display: block;
	height: 40px;
	float: left;
	width: 14px;
	background: url("/Client.Images/V4/Buttons/btn-arrow.png") no-repeat center right;
}

.button-row-new .button .button-text
{
	padding-right: 10px;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #000000;
	font-weight: bold;
	background: url("/Client.Images/V4/Buttons/btn-bg.png") repeat-x center left;
	float: left;
	white-space: nowrap;
	text-transform: uppercase;
}

.button-row-new .chapter-previous
{
	float: left;
	background: url("/Client.Images/V4/Buttons/btn-corner-reverse.png") no-repeat scroll left center transparent;
	padding-left: 43px;
	padding-right: 0px;
}

.button-row-new .chapter-previous .button-corner {
	background: url("/Client.Images/V4/Buttons/btn-arrow-reverse.png") no-repeat scroll left center transparent;
	float: right;
}
.button-row-new .chapter-previous .button-text {
	padding-left: 10px;
	padding-right: 0px;
}


.button-row-new .chapter-next
{
	float: right;
}

.quick-chapter-nav td
{
	padding: 0px;
	height: 40px;
}

.quick-chapter-nav td
{
	padding: 0px;
	height: 40px;
}

.quick-chapter-nav td.first-cell
{
	width: 180px;
}
.quick-chapter-nav td.middle-cell
{
	width: 240px;
	text-align: center;
}
.quick-chapter-nav td.last-cell
{
	width: 180px;
}




.quick-chapter-nav .styled-select {
   width: 238px;
   height: 38px;
   overflow: hidden;
   background: #FAFAFA;
   border: 1px solid #ddd;
	margin: 0 auto;
}

.quick-chapter-nav .styled-select select {
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    font-size: 15px;
    height: 38px;
    line-height: 1;
    padding: 8px;
    text-overflow: ellipsis;
    width: 238px;
}

.button-row-new .chapter-next .button-text,
.last-cell .button-row-new .button .button-text,
.button-row-new .chapter-previous .button-text,
.first-cell .button-row-new .button .button-text
{
	text-align: center;
	width: 100px;
}

