/* CSS Reset (Eric Meyer) */
*{

padding:0; margin:0;

}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background:#ebebeb;

}
th{ background:#999999; padding:5px; }
td{ background:#CCCCCC; padding:5px;}
#page{ background:#FFFFFF;width:980px; margin:0 auto;}
.header{ background:url(../img/header-bg.gif) repeat-x; height:127px;  border-top: 4px solid #003042;}
.header h1{ border-bottom: 1px solid #4C8CA6;
    font: 36px Georgia,"Times New Roman",Times,serif;
    margin: 0 0 10px 120px;
    padding: 15px 0 5px;
    width: 55%;
	}
	
	
.header h1 a:link, .header  h1 a:visited {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
}


.header  h2 {
    border-left: 3px solid #FFAE20;
    color: #FFFFFF;
    font: 1.3em Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    margin: 12px 0 0 120px;
    padding-left: 14px;
	font-weight:bold;
}

.logo 
{
background:url(../img/logo1.png) no-repeat center;  height:116px;
width:80px; padding:0 10px; float:left;

}

#nav{ height:30px; background:#252525;}
#nav ul{ margin:0; padding:0; }
#nav ul li{ float:left; list-style:none; border-right:#000000 solid 1px; padding:0 20px;  }
#nav ul li a{ text-decoration:none; line-height:30px; text-transform:uppercase; text-shadow:#666666; font-size:14px; color:#cccccc; font-weight:bold;}
#nav ul li a:hover{ color:#FFFFFF;}
.b1{width:500px; text-align:center;}
h3{ border-bottom:#000000 dashed 1px; font-size:18px; font-weight:bold; text-transform:capitalize; margin-bottom:20px; padding:0 0 10px 0;}
#content
{
padding:20px;}



.clr{ clear:both;}

legend{ border:#CCCCCC solid 0px; padding:5px; font-size:16px; font-weight:bold; text-transform:capitalize;}
fieldset{border:#CCCCCC dashed 1px; padding:20px; border-radius:5px;}

#bigbutton2{

background: #f8f8f8 ;
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 1px  solid #b8b8b8;
   border-radius:9px;
  padding: 5px;}
#bigbutton {
  background: #f8f8f8 ;
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 1px  solid #b8b8b8;
   border-radius:9px;
  padding: 5px;
  margin:5px;
}
#bigbutton2 h2{ font-size:18px; font-weight:bold; text-align:center;}
#bigbutton h2{ font-size:18px; font-weight:bold; text-align:center;}
#bigbutton h2 a{ display:block; padding:22px; color:#555f6b; text-decoration:none; text-align:center;}
#bigbutton:hover {background: #f78f1e ;  color:#fff; }
#bigbutton a:hover {background: #f78f1e ;  color:#fff; }

.box1{width:48%; text-align:center; float:left;}
.box2{width:48%; text-align:center; float: right;}
.box3{width:48%; text-align:center; float:left;}
.box4{width:48%; text-align:center; float: right;}

#footer{ height:30px; background:#00587D;}
#footer p{ color:#FFFFFF; font-size:12px; text-indent:20px;}
#footer a{color:#FFFFFF; font-size:12px; text-decoration:underline; line-height:30px; font-weight:bold;}


