body {
    font-size: 12px;
    line-height: 1.6em;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
}

a {
    color: #fe4f99;
    text-decoration: none;
}

a:hover{
    color: #fe4f99;
    text-decoration: underline;	
}
.splash{ max-width: 440px; margin: auto; margin-top:40px;}

.splash-line {
    height: 41px;
    width: 4px;
    border-radius: 2px;
	background-color: #313539;
	float:left;
}
.splash-buttons{  max-width:440px; margin: auto;  margin-top:40px;  font-family: 'Roboto',Arial,Helvetica,sans-serif; font-size: 14px; font-weight: 300;}

.splash-buttons i{ vertical-align: middle;}
.splash-buttons a{ letter-spacing: 2px; text-decoration: none; color:#313539;}
.splash-buttons a:hover{ text-decoration: none; color:#313539;}
.exit{ width: 49%; float: left; text-align: center; line-height: 41px;}
.enter{width: 49%; float:right; text-align: center;line-height: 41px;}

.btn-default {
    max-width: 220px;
    margin: 40px auto;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
	background:#313539; color:#FFFFFF !important; 
}
.btn-default:hover{ 	background:#313539; color:#FFFFFF !important; }
.btn-default{ max-width: 220px; margin:40px auto; font-family: 'Roboto',Arial,Helvetica,sans-serif; font-size: 14px; font-weight: 300; text-transform: uppercase;}

.smalltext p{ width:280px; margin: auto; text-align: center;font-size:11px;    font-family: 'Roboto',Arial,Helvetica,sans-serif; font-weight: 300;}

footer{ margin-top:40px; text-align: center; font-size:12px; padding:50px 15%; -webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.10);
-moz-box-shadow:    0px -5px 5px 0px rgba(50, 50, 50, 0.10);
box-shadow:         0px -5px 5px 0px rgba(50, 50, 50, 0.10);}

.footer-links{ font-size: 12px;}

.copyright{ padding-top:20px;}