.accessibility, .header, .footer, .related-content, .related-wrapper, .accessibility, .mobile-only, .breadcrumb {
  display: none !important; }

@page {
  size: auto;
  margin: 15mm 0 10mm 0; }

marquee {
  -moz-binding: none; }

html {
  margin: 0 5mm; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid; }

ul, ol, li {
  page-break-inside: avoid; }

table, tr, td {
  page-break-before: avoid;
  page-break-after: avoid;
  page-break-inside: avoid; }
  .firefox table, .firefox tr, .firefox td {
    page-break-inside: initial; }

body {
  font-family: Arial, sans-serif;
  text-align: left;
  width: auto;
  background: none;
  margin: 0;
  overflow: visible !important;
  float: none !important;
  position: relative !important;
  page-break-inside: auto !important; }

h1 {
  font: normal 2.000em/1 Arial, sans-serif;
  font-weight: bold; }

h2 {
  font: normal 1.750em/1.250 Arial, sans-serif; }

h3 {
  font: normal 1.250em/1.250 Arial, sans-serif;
  font-weight: bold; }

h4 {
  font: bold 1.125em/1 Arial, sans-serif; }

h5 {
  font: normal 1em/1 Arial, sans-serif;
  font-weight: bold; }

h6 {
  font: bold 0.875em/1.5 Arial, sans-serif; }

p {
  font: normal 0.875em/1.5 Arial, sans-serif; }

label {
  font: normal 0.875em/1.5 Arial, sans-serif; }

a {
  color: #000;
  text-decoration: none; }
  a.pdf, a.word, a.link-box-arrow-left, a.webcast-icon, a.excel, a.web-link {
    padding-left: 0px;
    background: none; }

a:link:after, a:visited:after {
  content: ""; }

hr {
  border-color: #000; }

.print-only {
  display: block; }

.text-white, .text-green, .text-red {
  color: #000; }

.text-white a, .hsbcWhite {
  color: #000; }

.layout-two-cols .related-content .general-links-block, .layout-two-cols .related-content .general-links-block.bg-red, .layout-two-cols .related-content .general-links-block.bg-dark-gray {
  background: none; }
  .layout-two-cols .related-content .general-links-block a, .layout-two-cols .related-content .general-links-block a.pdf, .layout-two-cols .related-content .general-links-block a.excel, .layout-two-cols .related-content .general-links-block.bg-red a, .layout-two-cols .related-content .general-links-block.bg-red a.pdf, .layout-two-cols .related-content .general-links-block.bg-red a.excel, .layout-two-cols .related-content .general-links-block.bg-dark-gray a, .layout-two-cols .related-content .general-links-block.bg-dark-gray a.pdf, .layout-two-cols .related-content .general-links-block.bg-dark-gray a.excel {
    color: #000; }
  .layout-two-cols .related-content .general-links-block .para, .layout-two-cols .related-content .general-links-block .para a, .layout-two-cols .related-content .general-links-block .para a.text-white, .layout-two-cols .related-content .general-links-block .para a.para, .layout-two-cols .related-content .general-links-block .para a.pdf, .layout-two-cols .related-content .general-links-block .para a.excel, .layout-two-cols .related-content .general-links-block.bg-red .para, .layout-two-cols .related-content .general-links-block.bg-red .para a, .layout-two-cols .related-content .general-links-block.bg-red .para a.text-white, .layout-two-cols .related-content .general-links-block.bg-red .para a.para, .layout-two-cols .related-content .general-links-block.bg-red .para a.pdf, .layout-two-cols .related-content .general-links-block.bg-red .para a.excel, .layout-two-cols .related-content .general-links-block.bg-dark-gray .para, .layout-two-cols .related-content .general-links-block.bg-dark-gray .para a, .layout-two-cols .related-content .general-links-block.bg-dark-gray .para a.text-white, .layout-two-cols .related-content .general-links-block.bg-dark-gray .para a.para, .layout-two-cols .related-content .general-links-block.bg-dark-gray .para a.pdf, .layout-two-cols .related-content .general-links-block.bg-dark-gray .para a.excel {
    color: #000; }
.layout-two-cols .related-content .general-links-block a.pdf, .layout-two-cols .related-content .general-links-block a.excel {
  padding-left: 0px;
  background: none; }

.bg-red, .bg-black, .bg-cool-gray, .bg-dark-gray, .bg-hero-black, .bg-gray, .bg-light-gray, .bg-very-light-gray {
  background: none; }
  .bg-red, .bg-red p, .bg-black, .bg-black p, .bg-cool-gray, .bg-cool-gray p, .bg-dark-gray, .bg-dark-gray p, .bg-hero-black, .bg-hero-black p, .bg-gray, .bg-gray p, .bg-light-gray, .bg-light-gray p, .bg-very-light-gray, .bg-very-light-gray p {
    color: #000; }

.bg-dark-gray .caption, .layout-two-cols .related-content .general-links-block.bg-dark-gray .caption {
  color: #000; }

.page-link .arrow {
  display: none; }

.title-link .red-arrow {
  display: none; }

.elevated-block {
  display: block; }

.wide-banner .intro-block {
  padding: 0px;
  width: 936px;
  margin-left: 12px;
  margin-top: 0px; }
.wide-banner .related-content, .wide-banner .related-wrapper {
  display: block; }
.wide-banner .annual-results .content-body {
  margin-top: 0px; }
.wide-banner .annual-results .related-content, .wide-banner .annual-results .related-wrapper {
  display: block !important; }
.wide-banner .annual-results .related-content {
  margin-top: 0px !important; }
.wide-banner .annual-results .global-info {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 12px;
  padding-bottom: 0px;
  width: 684px; }
.wide-banner .annual-results .web-comms {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 12px;
  padding-right: 0px;
  padding-top: 0px;
  width: 660px; }
.wide-banner .annual-results .reports {
  margin-top: 0px;
  padding-left: 12px;
  margin-left: 0px;
  margin-right: 0px;
  width: 684px; }
  .wide-banner .annual-results .reports .primary-header-text {
    padding-left: 0px;
    padding-top: 0px; }
  .wide-banner .annual-results .reports .supporting-text {
    margin-left: 0px; }
  .wide-banner .annual-results .reports .table-grid .accordian_title {
    width: 936px; }
    .wide-banner .annual-results .reports .table-grid .accordian_title .grid-header {
      background: none;
      padding-top: 0px;
      padding-bottom: 0px;
      color: #000;
      font-weight: bold; }
  .wide-banner .annual-results .reports .table-grid ul {
    margin-left: 0px; }
    .wide-banner .annual-results .reports .table-grid ul .col1 {
      width: 864px; }
      .wide-banner .annual-results .reports .table-grid ul .col1.pdf, .wide-banner .annual-results .reports .table-grid ul .col1.excel {
        background: none;
        padding-left: 0px; }
    .wide-banner .annual-results .reports .table-grid ul.grid-header {
      padding-left: 24px; }
      .wide-banner .annual-results .reports .table-grid ul.grid-header .col1 {
        width: 888px; }
.wide-banner .investor-day .global-info {
  padding-left: 12px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 936px; }
.wide-banner .investor-day .elevated-block .investor-col1 {
  width: 936px; }
  .wide-banner .investor-day .elevated-block .investor-col1 .profile-wrapper-text {
    width: 816px; }

.advertising .content-body, .history-wall .content-body, .faqs .content-body, .structure-network .content-body, .comm-banking .content-body, .in-the-future .content-body, .country-contacts .content-body,
.sustainability .content-body, .em-filter-page .content-body, .investor-day .content-body, .fast-facts .content-body, .share-information .content-body, .utility-common .content-body {
  width: 720px; }
  .advertising .content-body .elevated-block, .history-wall .content-body .elevated-block, .faqs .content-body .elevated-block, .structure-network .content-body .elevated-block, .comm-banking .content-body .elevated-block, .in-the-future .content-body .elevated-block, .country-contacts .content-body .elevated-block,
  .sustainability .content-body .elevated-block, .em-filter-page .content-body .elevated-block, .investor-day .content-body .elevated-block, .fast-facts .content-body .elevated-block, .share-information .content-body .elevated-block, .utility-common .content-body .elevated-block {
    margin: 0px;
    padding: 0px 12px;
    width: 698px; }
.advertising .content-block, .history-wall .content-block, .faqs .content-block, .structure-network .content-block, .comm-banking .content-block, .in-the-future .content-block, .country-contacts .content-block,
.sustainability .content-block, .em-filter-page .content-block, .investor-day .content-block, .fast-facts .content-block, .share-information .content-block, .utility-common .content-block {
  width: 686px;
  margin-left: 12px; }
.advertising .related-content, .history-wall .related-content, .faqs .related-content, .structure-network .related-content, .comm-banking .related-content, .in-the-future .related-content, .country-contacts .related-content,
.sustainability .related-content, .em-filter-page .related-content, .investor-day .related-content, .fast-facts .related-content, .share-information .related-content, .utility-common .related-content {
  margin-top: 0px !important; }
.advertising .related-content, .advertising .related-wrapper, .history-wall .related-content, .history-wall .related-wrapper, .faqs .related-content, .faqs .related-wrapper, .structure-network .related-content, .structure-network .related-wrapper, .comm-banking .related-content, .comm-banking .related-wrapper, .in-the-future .related-content, .in-the-future .related-wrapper, .country-contacts .related-content, .country-contacts .related-wrapper,
.sustainability .related-content,
.sustainability .related-wrapper, .em-filter-page .related-content, .em-filter-page .related-wrapper, .investor-day .related-content, .investor-day .related-wrapper, .fast-facts .related-content, .fast-facts .related-wrapper, .share-information .related-content, .share-information .related-wrapper, .utility-common .related-content, .utility-common .related-wrapper {
  display: block !important; }
  .advertising .related-content .general-links-block, .advertising .related-wrapper .general-links-block, .history-wall .related-content .general-links-block, .history-wall .related-wrapper .general-links-block, .faqs .related-content .general-links-block, .faqs .related-wrapper .general-links-block, .structure-network .related-content .general-links-block, .structure-network .related-wrapper .general-links-block, .comm-banking .related-content .general-links-block, .comm-banking .related-wrapper .general-links-block, .in-the-future .related-content .general-links-block, .in-the-future .related-wrapper .general-links-block, .country-contacts .related-content .general-links-block, .country-contacts .related-wrapper .general-links-block,
  .sustainability .related-content .general-links-block,
  .sustainability .related-wrapper .general-links-block, .em-filter-page .related-content .general-links-block, .em-filter-page .related-wrapper .general-links-block, .investor-day .related-content .general-links-block, .investor-day .related-wrapper .general-links-block, .fast-facts .related-content .general-links-block, .fast-facts .related-wrapper .general-links-block, .share-information .related-content .general-links-block, .share-information .related-wrapper .general-links-block, .utility-common .related-content .general-links-block, .utility-common .related-wrapper .general-links-block {
    background-color: #FFF; }
    .advertising .related-content .general-links-block a, .advertising .related-content .general-links-block a:hover, .advertising .related-content .general-links-block a span, .advertising .related-wrapper .general-links-block a, .advertising .related-wrapper .general-links-block a:hover, .advertising .related-wrapper .general-links-block a span, .history-wall .related-content .general-links-block a, .history-wall .related-content .general-links-block a:hover, .history-wall .related-content .general-links-block a span, .history-wall .related-wrapper .general-links-block a, .history-wall .related-wrapper .general-links-block a:hover, .history-wall .related-wrapper .general-links-block a span, .faqs .related-content .general-links-block a, .faqs .related-content .general-links-block a:hover, .faqs .related-content .general-links-block a span, .faqs .related-wrapper .general-links-block a, .faqs .related-wrapper .general-links-block a:hover, .faqs .related-wrapper .general-links-block a span, .structure-network .related-content .general-links-block a, .structure-network .related-content .general-links-block a:hover, .structure-network .related-content .general-links-block a span, .structure-network .related-wrapper .general-links-block a, .structure-network .related-wrapper .general-links-block a:hover, .structure-network .related-wrapper .general-links-block a span, .comm-banking .related-content .general-links-block a, .comm-banking .related-content .general-links-block a:hover, .comm-banking .related-content .general-links-block a span, .comm-banking .related-wrapper .general-links-block a, .comm-banking .related-wrapper .general-links-block a:hover, .comm-banking .related-wrapper .general-links-block a span, .in-the-future .related-content .general-links-block a, .in-the-future .related-content .general-links-block a:hover, .in-the-future .related-content .general-links-block a span, .in-the-future .related-wrapper .general-links-block a, .in-the-future .related-wrapper .general-links-block a:hover, .in-the-future .related-wrapper .general-links-block a span, .country-contacts .related-content .general-links-block a, .country-contacts .related-content .general-links-block a:hover, .country-contacts .related-content .general-links-block a span, .country-contacts .related-wrapper .general-links-block a, .country-contacts .related-wrapper .general-links-block a:hover, .country-contacts .related-wrapper .general-links-block a span,
    .sustainability .related-content .general-links-block a,
    .sustainability .related-content .general-links-block a:hover,
    .sustainability .related-content .general-links-block a span,
    .sustainability .related-wrapper .general-links-block a,
    .sustainability .related-wrapper .general-links-block a:hover,
    .sustainability .related-wrapper .general-links-block a span, .em-filter-page .related-content .general-links-block a, .em-filter-page .related-content .general-links-block a:hover, .em-filter-page .related-content .general-links-block a span, .em-filter-page .related-wrapper .general-links-block a, .em-filter-page .related-wrapper .general-links-block a:hover, .em-filter-page .related-wrapper .general-links-block a span, .investor-day .related-content .general-links-block a, .investor-day .related-content .general-links-block a:hover, .investor-day .related-content .general-links-block a span, .investor-day .related-wrapper .general-links-block a, .investor-day .related-wrapper .general-links-block a:hover, .investor-day .related-wrapper .general-links-block a span, .fast-facts .related-content .general-links-block a, .fast-facts .related-content .general-links-block a:hover, .fast-facts .related-content .general-links-block a span, .fast-facts .related-wrapper .general-links-block a, .fast-facts .related-wrapper .general-links-block a:hover, .fast-facts .related-wrapper .general-links-block a span, .share-information .related-content .general-links-block a, .share-information .related-content .general-links-block a:hover, .share-information .related-content .general-links-block a span, .share-information .related-wrapper .general-links-block a, .share-information .related-wrapper .general-links-block a:hover, .share-information .related-wrapper .general-links-block a span, .utility-common .related-content .general-links-block a, .utility-common .related-content .general-links-block a:hover, .utility-common .related-content .general-links-block a span, .utility-common .related-wrapper .general-links-block a, .utility-common .related-wrapper .general-links-block a:hover, .utility-common .related-wrapper .general-links-block a span {
      color: #000; }

.history-wall .content-body {
  margin-top: 0px; }
.history-wall .elevated-block .profile-col1 {
  margin: 0px; }
  .firefox .history-wall .elevated-block .profile-col1 {
    margin-top: 20px; }
.ie8 .history-wall .elevated-block {
  float: none !important; }
  .ie8 .history-wall .elevated-block .profile-col1.profile-last {
    float: none !important;
    page-break-before: always; }

.faqs .common-block {
  display: none; }
.faqs .question-block {
  margin: 0px;
  padding-top: 0px; }
  .faqs .question-block .collapsible_box {
    padding-left: 12px;
    padding-right: 24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px; }
.faqs .content-body {
  margin-top: 0px;
  padding-left: 12px;
  width: 660px; }

.structure-network .header-link {
  color: #000; }
.structure-network .accessible-dropdowns {
  display: none; }
.structure-network .elevated-block {
  padding-right: 24px; }
  .structure-network .elevated-block .text-gray {
    display: none; }
.structure-network .content-body .page-related-block {
  margin: 0px;
  margin-top: 24px;
  margin-left: 12px;
  width: 936px; }
  .structure-network .content-body .page-related-block .link-wrapper {
    width: 936px;
    float: none;
    border: none;
    padding: 0px;
    height: auto;
    margin-bottom: 24px; }
    .structure-network .content-body .page-related-block .link-wrapper .header-link {
      padding-bottom: 12px; }

.comm-banking .intro-block {
  width: 672px; }
  .comm-banking .intro-block .intro-col1 {
    width: 672px;
    margin-top: 0px; }
.comm-banking .content-body {
  width: 696px; }
  .comm-banking .content-body .elevated-block {
    width: 672px;
    margin-right: 24px; }
.comm-banking .featured-read {
  display: none; }

.country-contacts .intro-block {
  padding: 0px;
  background: none;
  padding-left: 12px;
  width: 936px; }
  .country-contacts .intro-block .regions-block {
    width: auto;
    float: none; }
    .country-contacts .intro-block .regions-block .branch-finder {
      display: none; }
.country-contacts .content-body {
  margin-top: 0px;
  margin-right: 0px;
  width: 696px; }
  .country-contacts .content-body .intro-block {
    width: 672px; }
  .country-contacts .content-body .splitted-elevated-blocks .splitted-sections {
    width: 672px; }
    .country-contacts .content-body .splitted-elevated-blocks .splitted-sections .section-country {
      width: 672px; }
  .firefox .country-contacts .content-body .splitted-elevated-blocks .splitted-sections {
    float: none;
    clear: none; }
    .firefox .country-contacts .content-body .splitted-elevated-blocks .splitted-sections .section-country {
      float: none;
      clear: none; }
.country-contacts .splitted-elevated-blocks .splitted-sections {
  padding-left: 0px;
  padding-right: 0px;
  width: 936px; }
.country-contacts .section-country {
  width: 924px; }

.in-the-future .content-body {
  margin-top: 0px; }
  .in-the-future .content-body .intro-block {
    padding: 0px;
    padding-left: 12px; }
  .in-the-future .content-body .elevated-block .brand-row {
    margin-left: 0px; }
  .in-the-future .content-body .accordian-block {
    margin-left: 0px; }
    .in-the-future .content-body .accordian-block .accordianWrapper .collapsible_box {
      width: 924px;
      padding-left: 12px; }
      .in-the-future .content-body .accordian-block .accordianWrapper .collapsible_box .accordian_content .section-brand .brand-info {
        padding-right: 0px;
        width: 924px; }
      .in-the-future .content-body .accordian-block .accordianWrapper .collapsible_box .accordian_content .section-links .link-block .link-wrapper {
        width: 806px; }
  .in-the-future .content-body .disclaimer-block {
    margin-left: 12px;
    width: 924px; }
    .in-the-future .content-body .disclaimer-block .detail {
      width: 837px; }

.sustainability .content-block {
  width: 689px; }
.sustainability .elevated-block .key-facts {
  background: none; }
  .sustainability .elevated-block .key-facts .wrapper-trillion {
    border-top: 1px black solid; }

.case-study .filter-bar {
  display: none; }
.case-study .content-body {
  margin-top: 0px; }
  .case-study .content-body .content-inner {
    margin-top: 0px;
    margin-left: 12px;
    width: 924px; }

.fixed-income article.table-block {
  width: 924px;
  padding-top: 0px; }
  .fixed-income article.table-block .table th {
    background: none;
    color: #000;
    font-weight: bold; }
  .fixed-income article.table-block .table .arrow-right {
    display: none; }

.mediatools .contentBlockTab {
  width: 924px;
  margin-top: 0px;
  padding-left: 12px;
  background: none;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0px; }
  .mediatools .contentBlockTab .tabIcon {
    display: none; }
  .mediatools .contentBlockTab .mediaToolIntro {
    padding-top: 0px; }
    .mediatools .contentBlockTab .mediaToolIntro h2, .mediatools .contentBlockTab .mediaToolIntro p {
      color: #000; }
    .mediatools .contentBlockTab .mediaToolIntro .columnLeft {
      width: 561px; }
    .mediatools .contentBlockTab .mediaToolIntro .columnRight {
      width: 363px; }
.mediatools .contentMain .mediaToolblock {
  padding-left: 0px; }
  .mediatools .contentMain .mediaToolblock .mediaToolContent {
    padding-left: 12px;
    width: 936px;
    padding-right: 12px; }
    .mediatools .contentMain .mediaToolblock .mediaToolContent .accordion .accordion-header.expanded, .mediatools .contentMain .mediaToolblock .mediaToolContent .accordion .accordion-header {
      background: none;
      padding-left: 0px; }
    .mediatools .contentMain .mediaToolblock .mediaToolContent .accordion .accordion-content {
      padding-left: 0px;
      display: block !important; }
    .mediatools .contentMain .mediaToolblock .mediaToolContent .mediaSearch {
      display: none; }
    .mediatools .contentMain .mediaToolblock .mediaToolContent.biographiesBlock {
      padding-top: 0px; }
      .mediatools .contentMain .mediaToolblock .mediaToolContent.biographiesBlock .biographyResults .bioInfo {
        width: 816px; }
      .mediatools .contentMain .mediaToolblock .mediaToolContent.biographiesBlock .biographyResults li a {
        background: none; }
      .mediatools .contentMain .mediaToolblock .mediaToolContent.biographiesBlock .biographyResults li span {
        padding-left: 0px; }
      .mediatools .contentMain .mediaToolblock .mediaToolContent.biographiesBlock .biographyResults .pdf, .mediatools .contentMain .mediaToolblock .mediaToolContent.biographiesBlock .biographyResults .downloadImage {
        display: none; }
    .mediatools .contentMain .mediaToolblock .mediaToolContent .imageResults {
      width: 936px;
      padding-top: 0px; }
      .mediatools .contentMain .mediaToolblock .mediaToolContent .imageResults .content {
        padding-left: 0px; }

.events-presentations .em-relate-wrapper {
  padding: 0px;
  padding-left: 12px;
  width: 924px;
  margin-bottom: 24px; }
  .events-presentations .em-relate-wrapper .support-right-col .support-sub {
    width: 683px; }
    .events-presentations .em-relate-wrapper .support-right-col .support-sub .support-sub-content {
      width: 590px; }
.events-presentations .filter, .events-presentations .filter-section {
  display: none; }
.events-presentations .content-body {
  margin-top: 0px;
  width: 672px; }
  .events-presentations .content-body .filter {
    display: none; }
    .events-presentations .content-body .filter + .table-block.bg-gray {
      margin-left: 12px;
      padding-left: 0px;
      width: 672px; }
.events-presentations .table-block {
  margin-left: 12px;
  padding-left: 0px;
  width: 672px; }
  .events-presentations .table-block .year-headers {
    padding-top: 0px; }
    .events-presentations .table-block .year-headers .year {
      padding-left: 0px; }
  .events-presentations .table-block .table th {
    font-weight: bold;
    color: #000;
    background: none; }
  .events-presentations .table-block .table td a.webcast-icon {
    padding-left: 0px; }
  .events-presentations .table-block .table td span.pdf {
    display: none; }
  .events-presentations .table-block .table td.event-name a .arrow {
    display: none; }
  .events-presentations .table-block .table .down span.pmi-indicator, .events-presentations .table-block .table .up span.pmi-indicator, .events-presentations .table-block .table .unchanged span.pmi-indicator {
    display: none; }
  .events-presentations .table-block .table .down .print-only-arrow, .events-presentations .table-block .table .up .print-only-arrow, .events-presentations .table-block .table .unchanged .print-only-arrow {
    display: block;
    float: left;
    margin-right: 3px; }
.events-presentations .related-content, .events-presentations .related-wrapper {
  display: block !important; }
.events-presentations .related-content {
  margin-top: 0px !important; }
.events-presentations .pagination-block {
  margin-top: 0px; }
  .events-presentations .pagination-block .results {
    padding-left: 0px;
    margin-left: 12px; }
  .events-presentations .pagination-block .pagination {
    display: none; }

.em-filter-page .content-body {
  margin-top: 0px; }
.em-filter-page .table-block {
  margin-left: 12px;
  margin-right: 24px; }
.em-filter-page .filter-section {
  display: none; }
.em-filter-page .pagination-block {
  display: none; }

.invest-in-hsbc.dividends-info .common-block {
  padding-left: 12px;
  width: 660px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px; }
  .invest-in-hsbc.dividends-info .common-block .dividends-sub-context {
    margin-bottom: 0px; }
.invest-in-hsbc.dividends-info .content-body {
  width: 672px; }
  .invest-in-hsbc.dividends-info .content-body .links-block {
    width: 660px; }
    .invest-in-hsbc.dividends-info .content-body .links-block .link-wrapper {
      width: 289px; }
.invest-in-hsbc.dividends-info .related-content, .invest-in-hsbc.dividends-info .related-wrapper {
  display: block !important; }
.invest-in-hsbc.dividends-info .related-content {
  margin-top: 0px !important; }

.dividends-info .links-block {
  margin-top: 0px;
  margin-left: 12px;
  width: 674px; }
  .dividends-info .links-block .link-wrapper {
    width: 296px; }

.dividend-history.fast-facts {
  margin-left: 0px;
  margin-right: 0px; }
  .dividend-history.fast-facts .content-body {
    width: 660px;
    margin-top: 0px; }
  .dividend-history.fast-facts .note-block {
    padding-left: 12px;
    padding-right: 24px;
    width: 660px; }
    .dividend-history.fast-facts .note-block.gutter-top {
      margin-top: 0px; }
  .dividend-history.fast-facts .table-block {
    padding-right: 0px; }
    .dividend-history.fast-facts .table-block h2.year-heading {
      padding-top: 0px;
      padding-left: 12px;
      color: #000; }
    .dividend-history.fast-facts .table-block.bg-gray td {
      color: #000; }
  .dividend-history.fast-facts .governance-related-content-block {
    margin-top: 0px;
    width: 648px; }

.square-list .bullet {
  padding: 0px;
  background: none;
  list-style-type: square;
  list-style-position: inside; }

.share-information .copyright {
  clear: both; }

.utility-common .utility-intro {
  padding-left: 12px;
  margin-top: 0px;
  padding-bottom: 0px; }
  .utility-common .utility-intro .intro {
    padding-top: 0px; }
  .utility-common .utility-intro .check .label .help {
    display: none; }
.utility-common .content-body {
  margin-top: 0px; }
  .utility-common .content-body .utility-block {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 12px;
    padding-left: 0px;
    padding-right: 0px;
    width: 924px; }
    .utility-common .content-body .utility-block .table thead th {
      color: #000;
      font-weight: bold;
      background: none; }
.utility-common .related-content-block {
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 0px; }

.share-analytics .content-body {
  margin-top: 0px; }
  .share-analytics .content-body .utility-intro {
    padding-left: 12px;
    padding-bottom: 24px; }
    .share-analytics .content-body .utility-intro .intro {
      padding-top: 0px; }
  .share-analytics .content-body .utility-block {
    margin-top: 0px;
    margin-left: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; }

.treasury-shares .content-body {
  margin-top: 0px;
  width: 672px; }
  .treasury-shares .content-body .common-block {
    margin-top: 0px;
    padding-left: 12px;
    width: 648px; }
    .treasury-shares .content-body .common-block .intro {
      padding-right: 0px; }
    .treasury-shares .content-body .common-block .downloads {
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px; }
      .treasury-shares .content-body .common-block .downloads .download-item .download-link .pdf {
        display: none; }
.treasury-shares .related-content, .treasury-shares .related-wrapper {
  display: block !important; }
.treasury-shares .related-content {
  margin-top: 0px !important; }

.dividends-info .common-block {
  padding-left: 12px;
  width: 674px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }
.dividends-info .content-body {
  margin-top: 0px;
  width: 674px; }
.dividends-info .related-content, .dividends-info .related-wrapper {
  display: block !important; }
.dividends-info .related-content {
  margin-top: 0px !important; }

.fixed-income .content-body {
  margin-top: 0px;
  width: 672px; }
  .fixed-income .content-body .filter-bar-multi-rows {
    display: none; }
  .fixed-income .content-body .content-inner {
    margin-left: 12px;
    width: 648px; }
    .fixed-income .content-body .content-inner .table-block {
      padding-top: 0px;
      width: 648px; }
      .fixed-income .content-body .content-inner .table-block .table th {
        background: none;
        color: #000;
        font-weight: bold; }
      .fixed-income .content-body .content-inner .table-block .table .ellipsis span.pdf {
        display: none; }
    .fixed-income .content-body .content-inner .pagination-block {
      margin-top: 0px; }
      .fixed-income .content-body .content-inner .pagination-block .results {
        margin-left: 0px; }
      .fixed-income .content-body .content-inner .pagination-block .pagination {
        display: none; }
.fixed-income .related-content, .fixed-income .related-wrapper {
  display: block !important; }
.fixed-income .related-content {
  margin-top: 0px !important; }

.investor-contacts .content-body .elevated-block {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 12px;
  padding-left: 0px;
  width: 936px; }
  .ie7 .investor-contacts .content-body .elevated-block .contacts-block .contacts-wrapper {
    display: block; }
    .ie7 .investor-contacts .content-body .elevated-block .contacts-block .contacts-wrapper ul {
      page-break-inside: auto; }

.container {
  width: auto;
  left: 0;
  margin: 0;
  margin-left: 20px\9;
  *margin-left: 0;
  background: none;
  box-shadow: none;
  float: none !important;
  position: relative !important;
  *position: none !important;
  /* Homepage */ }
  .container .footer {
    display: none !important; }
  .container .btn {
    display: none; }
  .container .cookie_wrapper {
    display: none; }
  .container .home-header {
    height: auto; }
    .container .home-header .banner {
      display: none; }
    .container .home-header .banner-context {
      position: relative;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      background: none; }
      .container .home-header .banner-context .title, .container .home-header .banner-context .content, .container .home-header .banner-context .content p {
        float: none; }
      .container .home-header .banner-context .title {
        width: auto; }
        .container .home-header .banner-context .title a {
          color: #000; }
      .container .home-header .banner-context .content {
        width: auto; }
        .container .home-header .banner-context .content p.para {
          width: auto; }
  .container .intro-quote-block {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
    background: none; }
    .container .intro-quote-block .quote {
      padding-left: 0px; }
    .container .intro-quote-block .link-video .arrow-red {
      display: none; }
  .container .home-red-block .column-left .quote-wrapper, .container .home-gray-block .news-story-block .news-story-quote .quote {
    padding-top: 0px; }
  .container .home-gray-block {
    page-break-after: always;
    padding-left: 0px; }
    .container .home-gray-block h2.title {
      padding-top: 0px; }
    .container .home-gray-block .news-story-block .news-story-quote .quote {
      background: none; }
  .container .home-shareInfo-block {
    margin: 0px;
    margin-left: 76px;
    margin-top: -60px;
    background: none;
    position: relative; }
    .container .home-shareInfo-block .table td {
      background: none;
      color: #000; }
    .container .home-shareInfo-block .share-copy .para {
      color: #000; }
    .container .home-shareInfo-block .arrow-up, .container .home-shareInfo-block .arrow-down {
      display: none; }
    .container .home-shareInfo-block .print-only-arrow {
      margin-left: 8px; }
  .container .home-red-block {
    margin-left: 0px;
    position: relative;
    padding-left: 0px;
    margin-top: -200px;
    margin-bottom: 0px; }
    .container .home-red-block .image-overlap-div {
      left: 610px !important; }
      .container .home-red-block .image-overlap-div .ribbon-div {
        background: none; }
      .container .home-red-block .image-overlap-div .items-list .bullet-list-item, .container .home-red-block .image-overlap-div .items-list .bullet-list-item.black-bullet-list {
        padding-left: 0px;
        list-style-type: square;
        list-style-position: inside;
        background: none;
        display: list-item; }
  .container .gototop-btn-block {
    display: none; }
  .container .notch, .container .notch-right, .container .notch-red, .container .notch-hsbc-red, .container .notch-transparent, .container .notch-cool-gray, .container .notch-white, .container .notch-light-gray, .container .notch-gray {
    display: none; }
  .container .home-red-block {
    page-break-after: always; }
  .container .home-dividends-block {
    background: none;
    left: 533px;
    position: relative;
    margin-right: 0px; }
    .container .home-dividends-block .divid-value, .container .home-dividends-block .context {
      color: #000; }
  .container .home-black-block {
    padding-left: 0px;
    background: none;
    position: relative;
    margin-top: -200px;
    page-break-before: always; }
    .container .home-black-block .highlights-wrapper .about-hsbc a.page-link {
      display: none; }
    .container .home-black-block .home-sustainability {
      height: auto; }
      .container .home-black-block .home-sustainability .sustainability-img {
        display: none; }
      .container .home-black-block .home-sustainability .sustainability-module {
        position: static;
        padding: 0px;
        width: auto; }
  .container .quick-links-block {
    display: none; }
  .container .home-more-block {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    width: auto; }
    .container .home-more-block .home-more-wrapper {
      width: 960px; }
      .container .home-more-block .home-more-wrapper .home-more-content {
        width: 960px; }
        .container .home-more-block .home-more-wrapper .home-more-content .page-link {
          display: none; }
        .container .home-more-block .home-more-wrapper .home-more-content .home-more-col1, .container .home-more-block .home-more-wrapper .home-more-content .home-more-col2, .container .home-more-block .home-more-wrapper .home-more-content .home-more-col3 {
          width: 290px; }

.dividend-calc .btn {
  display: block; }
.dividend-calc.utility-common .check {
  padding-top: 0px; }

.dividend-history {
  margin-left: 12px; }
  .dividend-history .content-body {
    margin-top: 0px;
    padding-left: 0px;
    width: 636px; }
    .dividend-history .content-body .table-block {
      page-break-inside: avoid; }
      .dividend-history .content-body .table-block.bg-gray h2, .dividend-history .content-body .table-block.bg-gray .table td {
        color: #000; }
      .dividend-history .content-body .table-block h2 {
        padding-top: 0px; }
      .dividend-history .content-body .table-block .table th {
        background: none;
        font-weight: bold;
        color: #000; }
    .dividend-history .content-body .pagination-block {
      display: none; }
    .dividend-history .content-body .note-block {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 0px;
      width: 636px; }
      .dividend-history .content-body .note-block.gutter-bottom {
        margin-bottom: 0px; }
  .dividend-history .related-content, .dividend-history .related-wrapper {
    display: block !important; }
  .dividend-history .related-content {
    margin-top: 0px !important; }
  .dividend-history.credit-ratings-filtered {
    margin: 0px; }
    .dividend-history.credit-ratings-filtered .filter {
      display: none; }
    .dividend-history.credit-ratings-filtered .content-body {
      width: 672px; }
      .dividend-history.credit-ratings-filtered .content-body .table-block {
        page-break-inside: auto;
        margin-left: 0px;
        width: 672px; }
        .dividend-history.credit-ratings-filtered .content-body .table-block table {
          page-break-inside: auto; }
        .dividend-history.credit-ratings-filtered .content-body .table-block .break {
          display: none; }
      .dividend-history.credit-ratings-filtered .content-body .note-block {
        width: 660px;
        margin-left: 12px; }
    .dividend-history.credit-ratings-filtered .related-content, .dividend-history.credit-ratings-filtered .related-wrapper {
      display: block !important; }
    .dividend-history.credit-ratings-filtered .related-content {
      margin-top: 0px !important; }

.dividend-timetable .content-body .note-block {
  margin-bottom: 0px; }
  .dividend-timetable .content-body .note-block.gutter-top {
    margin-top: 0px; }

.financial-results-table .content-body {
  margin-top: 0px; }
  .financial-results-table .content-body .filter {
    display: none; }
  .financial-results-table .content-body .table-block {
    margin-left: 12px; }
    .financial-results-table .content-body .table-block .year-headers .year {
      padding-bottom: 0px; }
  .financial-results-table .content-body .pagination-block {
    margin-top: 0px; }
    .financial-results-table .content-body .pagination-block .pagination {
      display: none; }
    .financial-results-table .content-body .pagination-block .desktop-only {
      padding-left: 0px;
      margin-left: 0px; }

.governance.content .common-block {
  margin-top: 0px;
  padding-left: 12px;
  width: 936px;
  padding-bottom: 0px; }
  .governance.content .common-block .intro {
    padding-top: 0px; }
.governance.content .content-body .links-block {
  width: 650px;
  margin-top: 0px;
  margin-left: 12px; }
  .governance.content .content-body .links-block .link-wrapper {
    width: 280px; }
.governance.content .related-content-block {
  padding-left: 12px;
  padding-top: 0px;
  width: 936px; }
.governance.content .related-content {
  margin-top: 0px !important; }

.content-wrapper {
  width: 960px;
  background: none;
  float: none !important;
  position: relative !important;
  display: block !important; }
  .content-wrapper .page-title {
    margin: 0px;
    padding-left: 12px;
    background-color: transparent; }
    .content-wrapper .page-title .title-content {
      background-color: transparent; }
      .content-wrapper .page-title .title-content .title {
        color: #000; }
      .content-wrapper .page-title .title-content .btn-wrapper {
        display: none; }
    .content-wrapper .page-title .pageTitleInfo {
      display: none; }
  .content-wrapper .content {
    float: none !important;
    position: relative !important;
    display: block !important;
    width: auto; }
    .content-wrapper .content .notch {
      border-color: #fff transparent transparent; }
    .content-wrapper .content .tabs-block {
      display: none; }
    .content-wrapper .content .tabs-content {
      display: block;
      visibility: visible; }
    .content-wrapper .content.leadership .related-content, .content-wrapper .content.leadership .related-wrapper {
      display: block !important; }
    .content-wrapper .content.leadership .related-content {
      margin-top: 0px !important; }
    .content-wrapper .content.leadership .content-body {
      margin-top: 0px;
      width: 672px; }
      .content-wrapper .content.leadership .content-body .intro-block {
        display: none; }
      .ie8 .content-wrapper .content.leadership .content-body * {
        page-break-inside: auto;
        page-break-before: auto; }
      .content-wrapper .content.leadership .content-body .elevated-block {
        position: static;
        display: block;
        margin: 0px;
        padding-top: 0px;
        padding-left: 12px;
        width: 672px;
        clear: both; }
        .content-wrapper .content.leadership .content-body .elevated-block ul {
          page-break-inside: auto; }
        .content-wrapper .content.leadership .content-body .elevated-block h3.print-header {
          font-size: 16px;
          margin-bottom: 12px;
          color: #000; }
        .content-wrapper .content.leadership .content-body .elevated-block .profile-col1 {
          width: 672px;
          padding-right: 0px;
          page-break-inside: auto; }
          .content-wrapper .content.leadership .content-body .elevated-block .profile-col1 .profile-wrapper-text {
            width: 552px; }
            .content-wrapper .content.leadership .content-body .elevated-block .profile-col1 .profile-wrapper-text .profile-info {
              width: 552px; }
              .content-wrapper .content.leadership .content-body .elevated-block .profile-col1 .profile-wrapper-text .profile-info .link-internal {
                display: none; }
            .content-wrapper .content.leadership .content-body .elevated-block .profile-col1 .profile-wrapper-text .title-profile {
              color: #000; }
  .content-wrapper .contentMain {
    float: none !important;
    position: rlative !important;
    display: block !important;
    width: auto; }
    .content-wrapper .contentMain .newsroomArticle {
      padding: 0 24px 0 0; }
  .content-wrapper .individual-profile {
    margin-left: 12px; }
    .content-wrapper .individual-profile .content-body {
      width: 660px; }
      .content-wrapper .individual-profile .content-body .profile-block {
        width: 660px;
        margin-left: 0px; }
        .content-wrapper .individual-profile .content-body .profile-block .wrap-spacer, .content-wrapper .individual-profile .content-body .profile-block .wrap-text {
          display: none; }
      .content-wrapper .individual-profile .content-body .profile-related-block {
        display: none !important; }
      .content-wrapper .individual-profile .content-body .boards-profile {
        padding: 0px; }
        .content-wrapper .individual-profile .content-body .boards-profile .profile-col1 {
          padding: 24px 0px; }
    .content-wrapper .individual-profile .related-content {
      display: block !important;
      margin-top: 0px !important;
      position: static;
      top: auto;
      right: auto; }
      .content-wrapper .individual-profile .related-content .related-wrapper {
        display: block !important; }
  .content-wrapper .internet-banking .content-body .intro-block {
    padding-left: 12px;
    padding-top: 0px;
    width: 936px; }
  .content-wrapper .internet-banking .content-body .floating-panel {
    display: none; }
  .content-wrapper .internet-banking .content-body .customer-types {
    padding-left: 12px;
    width: 936px;
    padding-top: 0px;
    margin-top: 0px; }
    .content-wrapper .internet-banking .content-body .customer-types .customer-type {
      width: 288px; }
      .content-wrapper .internet-banking .content-body .customer-types .customer-type .fieldset {
        display: none; }

.newsroomArticle .content-newsroom .callout-right {
  margin-right: 0; }
  .newsroomArticle .content-newsroom .callout-right .newsroom-callout-asset {
    float: left; }

.rationalised .page-title {
  padding-left: 0px; }
.rationalised .page-title {
  margin-bottom: 0px;
  margin-left: 12px;
  margin-top: 0px; }
.rationalised .rhs-section {
  float: right; }
  .rationalised .rhs-section a.skip-rhs + .rhs-panel-container {
    width: 192px; }
  .rationalised .rhs-section .section-headline .title-ext-link {
    padding-left: 0px; }
  .rationalised .rhs-section .rhs-panel-container {
    background: none;
    padding-top: 0px;
    padding-left: 12px; }
    .rationalised .rhs-section .rhs-panel-container .content-panel-item .bullet-list-link-container a[data-link-icon=pdf] {
      padding-left: 0px;
      color: #000; }
  .rationalised .rhs-section .dividends-announcement.column-1-4 {
    width: 168px;
    padding-left: 12px; }
  .rationalised .rhs-section .dividends-announcement .dividend-ammount {
    border-color: #000; }
.rationalised .bg-red .with-top-border, .rationalised .bg-red.with-top-border {
  border-top: 1pt solid #bbb; }
.rationalised .bg-dark p, .rationalised .bg-dark h2, .rationalised .bg-dark h3, .rationalised .bg-dark h4, .rationalised .bg-dark a:link, .rationalised .bg-dark a:visited, .rationalised .bg-dark .bg-transparent p, .rationalised .bg-dark .bg-transparent h2, .rationalised .bg-dark .bg-transparent h3, .rationalised .bg-dark .bg-transparent h4, .rationalised .bg-dark .bg-transparent a:link, .rationalised .bg-dark .bg-transparent a:visited, .rationalised .bg-dark .bg-transparent-with-padding-for-rhs p, .rationalised .bg-dark .bg-transparent-with-padding-for-rhs h2, .rationalised .bg-dark .bg-transparent-with-padding-for-rhs h3, .rationalised .bg-dark .bg-transparent-with-padding-for-rhs h4, .rationalised .bg-dark .bg-transparent-with-padding-for-rhs a:link, .rationalised .bg-dark .bg-transparent-with-padding-for-rhs a:visited {
  color: #000; }
.rationalised .bg-light .bg-dark p, .rationalised .bg-light .bg-dark h2, .rationalised .bg-light .bg-dark h3, .rationalised .bg-light .bg-dark h4, .rationalised .bg-light .bg-dark a:link, .rationalised .bg-light .bg-dark a:visited, .rationalised .bg-transparent .bg-dark p, .rationalised .bg-transparent .bg-dark h2, .rationalised .bg-transparent .bg-dark h3, .rationalised .bg-transparent .bg-dark h4, .rationalised .bg-transparent .bg-dark a:link, .rationalised .bg-transparent .bg-dark a:visited, .rationalised .bg-transparent-with-padding-for-rhs .bg-dark p, .rationalised .bg-transparent-with-padding-for-rhs .bg-dark h2, .rationalised .bg-transparent-with-padding-for-rhs .bg-dark h3, .rationalised .bg-transparent-with-padding-for-rhs .bg-dark h4, .rationalised .bg-transparent-with-padding-for-rhs .bg-dark a:link, .rationalised .bg-transparent-with-padding-for-rhs .bg-dark a:visited {
  color: #000; }
.rationalised .bg-light p a[data-link-icon="pdf"], .rationalised .bg-light a.text-link[data-link-icon="pdf"], .rationalised .bg-dark bg-light p a[data-link-icon="pdf"], .rationalised .bg-dark bg-light a.text-link[data-link-icon="pdf"], .rationalised .bg-dark .bg-transparent .bg-light p a[data-link-icon="pdf"], .rationalised .bg-dark .bg-transparent .bg-light a.text-link[data-link-icon="pdf"] {
  padding-left: 0px; }
.rationalised .bg-black {
  background: none;
  color: #000; }
.rationalised .article-module, .rationalised .article-module.bg-solid, .rationalised .article-module.bg-transparent {
  margin-left: 0px;
  padding-left: 0px; }
.rationalised .article-module .acccordion-background {
  width: 936px; }
  .rationalised .article-module .acccordion-background .question-block .collapsible_box {
    padding-left: 0px;
    padding-right: 0px; }
.rationalised #PrimaryRHSSection {
  margin-top: 0px !important; }
.rationalised #PrimaryContentSection, .rationalised #SecondaryContentSection, .rationalised .banner-module, .rationalised .content-module {
  padding-left: 0px; }
.rationalised #PrimaryContentSection, .rationalised .banner-module {
  padding-right: 0px; }
.rationalised #PrimaryContentSection {
  width: 720px;
  clear: none; }
  .rationalised #PrimaryContentSection .article-module, .rationalised #PrimaryContentSection .article-module.bg-solid, .rationalised #PrimaryContentSection .article-module.bg-transparent {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px; }
.rationalised #SecondaryContentSection {
  width: 972px; }
  .rationalised #SecondaryContentSection .graduate-module-tabs {
    margin-top: 0px;
    padding-top: 0px; }
    .rationalised #SecondaryContentSection .graduate-module-tabs h2.section-headline {
      margin-left: 0px; }
    .rationalised #SecondaryContentSection .graduate-module-tabs .tabs-content-wrapper {
      background: none; }
    .rationalised #SecondaryContentSection .graduate-module-tabs hr {
      margin-top: 0px; }
    .rationalised #SecondaryContentSection .graduate-module-tabs .notch + * {
      display: block; }
  .rationalised #SecondaryContentSection .revamp .tabs-content .elevated-block .profile-wrapper .profile-text .profile-text-people-name {
    color: #000; }
.rationalised .banner-module {
  padding-top: 0px;
  background: none; }
  .rationalised .banner-module .banner-item h2 {
    margin-top: 0px; }
.rationalised#landing-page .banner-module {
  padding-bottom: 0px; }
.rationalised#article-page .page-title {
  color: #000;
  background: none; }
  .rationalised#article-page .page-title .title-content h1.title {
    padding-bottom: 0px; }
.rationalised#article-page .pageTitleInfo {
  display: block;
  margin-top: 15px;
  margin-bottom: 0px; }
.rationalised#article-page .banner-module, .rationalised#article-page .banner-module.without-extended-padding {
  margin-top: 0px;
  padding-bottom: 0px; }
.rationalised#article-page .banner-module + #PrimaryContentSection, .rationalised#article-page .banner-module + #PrimaryRHSSection + #PrimaryContentSection {
  margin-top: 0px; }
.rationalised#article-page .banner-module.small-banner, .rationalised#article-page .banner-module.large-banner {
  margin-top: 12px; }
  .rationalised#article-page .banner-module.small-banner .banner-item h2, .rationalised#article-page .banner-module.large-banner .banner-item h2 {
    margin-top: 12px; }
.rationalised#article-page #PrimaryContentSection > .content-module:first-child {
  margin-top: 0px; }
.firefox .rationalised#article-page .image-section.thumbnail-half {
  page-break-inside: avoid; }
.rationalised#article-page #PrimaryContentSection {
  margin-top: 0px; }
.rationalised .page-link .arrow, .rationalised .page-link .arrow-up, .rationalised .page-link .arrow-down, .rationalised .page-link .arrow-left, .rationalised .page-link .arrow-right, .rationalised .page-link .arrow-red {
  background: none; }
.rationalised .main-content {
  clear: both; }
.rationalised .content-module.bg-solid {
  padding-right: 0px;
  margin-top: 0px; }
.rationalised .content-module.bg-gray {
  background: none; }
.rationalised .section-headline.with-image a, .rationalised .article-headline.with-image a {
  display: block; }
  .firefox .rationalised .section-headline.with-image a, .firefox .rationalised .article-headline.with-image a {
    page-break-inside: avoid; }
.rationalised .bg-light .section-headline a, .rationalised .bg-light .in-prefix, .rationalised .bg-dark .bg-light .section-headline a, .rationalised .bg-dark .bg-light .in-prefix {
  color: #000; }
.rationalised .bg-light .feature-quote .quote-mark, .rationalised .bg-light .feature-quote .quote-mark-no-image, .rationalised .bg-dark .bg-light .feature-quote .quote-mark, .rationalised .bg-dark .bg-light .feature-quote .quote-mark-no-image {
  display: none; }
.rationalised .bg-dark span.link-icon.pdf, .rationalised .bg-dark span.link-icon.internal, .rationalised .bg-dark span.link-icon.section-internal, .rationalised .bg-dark span.link-icon.external, .rationalised .bg-dark span.link-icon.video, .rationalised .bg-light span.link-icon.pdf, .rationalised .bg-light span.link-icon.internal, .rationalised .bg-light span.link-icon.section-internal, .rationalised .bg-light span.link-icon.external, .rationalised .bg-light span.link-icon.video, .rationalised .bg-dark .bg-light span.link-icon.pdf, .rationalised .bg-dark .bg-light span.link-icon.internal, .rationalised .bg-dark .bg-light span.link-icon.section-internal, .rationalised .bg-dark .bg-light span.link-icon.external, .rationalised .bg-dark .bg-light span.link-icon.video {
  display: none; }
.rationalised a.excel {
  padding-left: 0px;
  background-image: none; }
.rationalised .ticker-block {
  display: none; }
.rationalised ul.items-list {
  page-break-inside: auto; }
  .rationalised ul.items-list li.bullet-list-item {
    padding-left: 0px;
    list-style-type: square;
    list-style-position: inside;
    background: none;
    display: list-item; }
    .rationalised ul.items-list li.bullet-list-item p {
      display: inline; }
.rationalised p.info-box .red {
  color: #000; }
.rationalised .faqs {
  margin-top: 24px; }
  .rationalised .faqs .elevated-block .print-header, .rationalised .faqs .no-main-content .elevated-block .print-header {
    margin-left: 12px; }
  .rationalised .faqs .elevated-block .notch, .rationalised .faqs .no-main-content .elevated-block .notch {
    display: none; }
.rationalised .share-info-block {
  padding-left: 12px; }
  .rationalised .share-info-block.bg-black.bg-solid {
    background: none; }
  .rationalised .share-info-block .share-city .values-area .deviate .deviate-value {
    padding-right: 0px; }
    .rationalised .share-info-block .share-city .values-area .deviate .deviate-value .print-only-arrow {
      display: inline; }
  .rationalised .share-info-block .share-city .values-area .deviate .arrow-up, .rationalised .share-info-block .share-city .values-area .deviate .arrow-down {
    display: none; }
.rationalised .meet-our-people-content {
  margin-top: 0px; }
  .rationalised .meet-our-people-content .content-body {
    display: none !important; }
.rationalised .pagination {
  display: none; }
.rationalised .revamp .elevated-block.people-result-container {
  margin-left: 0px;
  padding-left: 12px;
  width: 696px; }
.rationalised .events-presentations .pagination-block {
  margin-top: 12px; }
  .rationalised .events-presentations .pagination-block .results {
    padding-left: 0px; }
.rationalised .events-presentations.graduate-program .content-body {
  width: 720px; }
  .rationalised .events-presentations.graduate-program .content-body .featured-intro {
    display: none; }
  .rationalised .events-presentations.graduate-program .content-body .table-block {
    margin-left: 0px;
    margin-right: 12px;
    padding-bottom: 0px;
    width: 708px; }
    .rationalised .events-presentations.graduate-program .content-body .table-block .year-headers {
      display: none; }
    .rationalised .events-presentations.graduate-program .content-body .table-block .table {
      width: 708px; }
      .rationalised .events-presentations.graduate-program .content-body .table-block .table th.bg-black {
        background: none;
        color: #000;
        font-weight: bold; }
.rationalised .image-section .medium-video-icon, .rationalised .image-section .white-youtube-icon {
  display: none; }
.firefox .rationalised .image-section img {
  position: static;
  z-index: auto; }
.rationalised p.info-box .white, .rationalised p.info-box .cool-gray, .rationalised p.info-box .hero-black, .rationalised p.info-box .red {
  color: #000; }
.rationalised p.info-box .delta-icon-up {
  display: none; }
.rationalised p.info-box .print-only-arrow {
  display: inline; }
.rationalised .filter-page .filter-page-content {
  padding-top: 0px;
  width: 720px; }
  .rationalised .filter-page .filter-page-content .filter-section {
    display: none; }
  .rationalised .filter-page .filter-page-content .table-section {
    margin-left: 12px;
    width: 708px; }
    .rationalised .filter-page .filter-page-content .table-section .table {
      width: 708px;
      margin-top: 0px; }
      .rationalised .filter-page .filter-page-content .table-section .table th {
        background: none;
        font-weight: bold;
        padding-bottom: 0px; }
  .rationalised .filter-page .filter-page-content .pagination-section {
    margin-left: 12px; }
    .rationalised .filter-page .filter-page-content .pagination-section .automatic-pagination {
      display: none; }
    .rationalised .filter-page .filter-page-content .pagination-section .pagination-block {
      margin-top: 0px; }

.revamp .tabs-active-bg-transparent ul.hero-tabs, .revamp .tabs-active-bg-black ul.hero-tabs, .revamp .tabs-active-bg-cool-gray ul.hero-tabs, .revamp .tabs-active-bg-hero-black ul.hero-tabs, .revamp .tabs-active-bg-red ul.hero-tabs, .revamp .tabs-active-bg-white ul.hero-tabs {
  display: none; }
.revamp .tabs-active-bg-transparent .tabs-content .hero-tabs-content, .revamp .tabs-active-bg-black .tabs-content .hero-tabs-content, .revamp .tabs-active-bg-cool-gray .tabs-content .hero-tabs-content, .revamp .tabs-active-bg-hero-black .tabs-content .hero-tabs-content, .revamp .tabs-active-bg-red .tabs-content .hero-tabs-content, .revamp .tabs-active-bg-white .tabs-content .hero-tabs-content {
  display: none; }
.revamp .tabs-active-bg-transparent .tabs-content .page-link, .revamp .tabs-active-bg-black .tabs-content .page-link, .revamp .tabs-active-bg-cool-gray .tabs-content .page-link, .revamp .tabs-active-bg-hero-black .tabs-content .page-link, .revamp .tabs-active-bg-red .tabs-content .page-link, .revamp .tabs-active-bg-white .tabs-content .page-link {
  display: none; }
.ie .revamp .tabs-active-bg-transparent .tabs-content div.nowrap, .ie .revamp .tabs-active-bg-black .tabs-content div.nowrap, .ie .revamp .tabs-active-bg-cool-gray .tabs-content div.nowrap, .ie .revamp .tabs-active-bg-hero-black .tabs-content div.nowrap, .ie .revamp .tabs-active-bg-red .tabs-content div.nowrap, .ie .revamp .tabs-active-bg-white .tabs-content div.nowrap {
  display: none; }
.revamp .tabs-active-bg-transparent .tabs-content.hide, .revamp .tabs-active-bg-black .tabs-content.hide, .revamp .tabs-active-bg-cool-gray .tabs-content.hide, .revamp .tabs-active-bg-hero-black .tabs-content.hide, .revamp .tabs-active-bg-red .tabs-content.hide, .revamp .tabs-active-bg-white .tabs-content.hide {
  display: block;
  visibility: visible; }
.revamp .tabs-active-bg-transparent .tabs-content .elevated-block h3.print-header, .revamp .tabs-active-bg-black .tabs-content .elevated-block h3.print-header, .revamp .tabs-active-bg-cool-gray .tabs-content .elevated-block h3.print-header, .revamp .tabs-active-bg-hero-black .tabs-content .elevated-block h3.print-header, .revamp .tabs-active-bg-red .tabs-content .elevated-block h3.print-header, .revamp .tabs-active-bg-white .tabs-content .elevated-block h3.print-header {
  font-size: 16px;
  margin-bottom: 12px;
  color: #000; }
.revamp .no-main-content .elevated-block {
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 0px; }
.revamp .profile-wrapper .profile-text-people-name {
  color: #000; }

#PrimaryContentSection .revamp .graduate-module-content {
  margin: 0px;
  margin-top: -104px; }
  #PrimaryContentSection .revamp .graduate-module-content .ie8 {
    display: block; }

.accordion-background .faq-section-heading {
  font: bold 0.875em/1.5 Arial, sans-serif;
  color: #000;
  margin-left: 24px;
  padding-bottom: 12px;
  padding-top: 0px; }

.accordianWrapper .accordian_title .rightAlign {
  display: none; }
.accordianWrapper .accordian_content {
  display: block !important; }

.faqs .elevated-block .collapsible_box {
  padding-left: 24px;
  padding-top: 0px;
  margin-top: 0px; }

.online-security .content-body .intro-block .text-block .list .bullet, .list li {
  padding: 0px;
  background: none;
  display: list-item;
  list-style: disc inside none; }

.rationalised .banner-module .ribbon-div {
  background: none; }
.rationalised .banner-module .image-overlap-div.div-width-size2 {
  left: 140px; }
.rationalised .banner-module .image-overlap-div.div-width-size1 {
  left: 170px; }
.rationalised .banner-module .image-overlap-div ul {
  margin-top: -10px; }
.rationalised .banner-module .image-overlap-div p.font-size085, .rationalised .banner-module .image-overlap-div p.font-size086 {
  font: 0.65em/1.25em Arial, sans-serif; }
.rationalised .banner-module .image-overlap-div h2 {
  padding-left: 30px;
  margin-top: -30px; }
.rationalised .banner-module .image-overlap-div .items-list .bullet-list-item, .rationalised .banner-module .image-overlap-div .items-list .bullet-list-item.black-bullet-list {
  padding-left: 0px;
  list-style-type: square;
  list-style-position: inside;
  background: none;
  display: list-item; }
