.ie7 .rationalised ul.items-list li.bullet-list-item {
  vertical-align: top; }
  .ie7 .rationalised ul.items-list li.bullet-list-item p {
    display: block;
    margin-top: -5px; }
.ie7 .title-elevated {
  margin-top: 20px; }
.ie7 .content-module a.text-link.single-link {
  padding-bottom: 15px; }
.ie7 .main-content, .ie7 .content-module, .ie7 .article-module {
  display: inline; }
.ie7 .investor-contacts * {
  page-break-before: avoid;
  page-break-after: avoid; }
.ie7 .rationalised .collapsible_box collapsed, .ie7 .rationalised .tabs-content, .ie7 .rationalised .accordian_content, .ie7 .rationalised .tab-panel-all-candidates, .ie7 .rationalised .accordion-classic * {
  display: inline-block;
  page-break-before: avoid;
  page-break-after: avoid;
  line-height: normal; }

.ie8 .container .home-black-block {
  margin-top: 0px; }
.ie8 .events-presentations .sea-table .table-block {
  page-break-inside: always; }
  .ie8 .events-presentations .sea-table .table-block .year-headers {
    page-break-before: avoid;
    page-break-after: avoid; }
  .ie8 .events-presentations .sea-table .table-block table, .ie8 .events-presentations .sea-table .table-block tr, .ie8 .events-presentations .sea-table .table-block td {
    page-break-inside: always; }
.ie8 .rationalised #SecondaryContentSection .graduate-module-tabs {
  float: none; }
.ie8 .investor-contacts .intro-block {
  page-break-after: avoid; }
.ie8 .content-body {
  page-break-before: avoid; }
  .ie8 .content-body .utility-block table.table, .ie8 .content-body .elevated-block .contacts-wrapper {
    page-break-before: avoid; }
.ie8 .investor-contacts {
  page-break-before: avoid;
  page-break-inside: avoid;
  page-break-after: avoid; }
.ie8 .utility-intro {
  page-break-after: avoid; }
.ie8 .intro {
  page-break-after: avoid; }
.ie8 .content-body .table, .ie8 .content-body .table tr, .ie8 .content-body .table th, .ie8 .content-body .table td {
  page-break-before: auto;
  page-break-inside: auto;
  page-break-after: auto; }

.dividend-history .note-block {
  padding-bottom: 25px; }
.ie7 .dividend-history .content-body .notch-gray {
  display: none; }

.utility-block p {
  page-break-after: avoid; }
.utility-block .list {
  page-break-before: avoid; }
  .utility-block .list li {
    page-break-inside: avoid; }
.firefox .utility-block .list, .firefox .utility-block li {
  page-break-inside: initial; }

.utility-common .utility-intro {
  width: 660px; }
.utility-common .content-body {
  width: 696px; }
  .utility-common .content-body .utility-block {
    width: 660px; }

.utility-common .related-content, .content.governance .related-content {
  margin-top: 0px; }
  .ie .utility-common .related-content, .ie .content.governance .related-content {
    margin-top: 0px !important; }
  .utility-common .related-content, .utility-common .related-content .related-wrapper, .content.governance .related-content, .content.governance .related-content .related-wrapper {
    display: block !important; }
  .utility-common .related-content .general-links-block .divide-bottom, .content.governance .related-content .general-links-block .divide-bottom {
    border-bottom: none;
    margin-bottom: 0px; }
  .utility-common .related-content .general-links-block.bg-red a, .content.governance .related-content .general-links-block.bg-red a {
    color: #000; }
  .ie .utility-common .related-content .nowrap, .ie .content.governance .related-content .nowrap {
    display: inline-block;
    visibility: visible; }

.content.governance.usa-patriot-act .related-content {
  margin-top: -90px !important;
  position: absolute; }
  .ie7 .content-wrapper .content.governance.usa-patriot-act .related-content {
    position: absolute;
    top: 0px;
    left: 720px;
    margin-left: 0px;
    margin-top: 0px !important; }

.content-wrapper .content.governance .common-block {
  width: 684px; }
.content-wrapper .content.governance .filter {
  display: none; }
.content-wrapper .content.governance .content-body {
  width: 720px;
  margin-top: 0px; }
  .content-wrapper .content.governance .content-body .elevated-block {
    width: 686px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px 12px; }
    .content-wrapper .content.governance .content-body .elevated-block table thead tr td, .content-wrapper .content.governance .content-body .elevated-block table thead tr th {
      color: #000;
      background: none; }
.content-wrapper .content.governance .related-content {
  margin-left: 720px; }

.layout-two-cols .related-content .share-info-block {
  background-color: #FFF; }
  .layout-two-cols .related-content .share-info-block .table td.deviate .arrow-up, .layout-two-cols .related-content .share-info-block .table td.deviate .arrow-down {
    display: none; }

.title-link .white-arrow {
  display: none; }

.share-bar-large {
  display: none; }

.ie8 .rationalised .banner-module .image-overlap-div {
  background: white; }

.print-only-filter-display {
  font-size: 14px;
  margin-bottom: 24px; }
  .print-only-filter-display .label {
    font-weight: bold; }
  .covered-bond .print-only-filter-display, .issuance-programme .print-only-filter-display, .events-presentations .print-only-filter-display, .fixed-income .print-only-filter-display, .sea-table .print-only-filter-display, .fixed-income-securities .print-only-filter-display, .credit-ratings-filtered .print-only-filter-display {
    margin-left: 12px; }
  .fixed-income .print-only-filter-display, .fixed-income-securities .print-only-filter-display {
    width: 648px;
    margin-bottom: 0px; }

.rationalised #PrimaryContentSection .events-presentations.fixed-income-securities .content-body .filter-section {
  display: none; }
.rationalised #PrimaryContentSection .events-presentations.fixed-income-securities .no-results, .rationalised #PrimaryContentSection .events-presentations.stock-exchange-announcements .no-results {
  margin-left: 12px; }

.ie7 .rationalised #SecondaryContentSection > .bg-solid:first-child {
  margin-top: 30px; }
.ie7 .rationalised#article-page .graduate-banner-module {
  height: auto; }

.wide-banner .title-content {
  width: 100%; }
  .wide-banner .title-content .title {
    width: 100%; }
.wide-banner .utility-common .related-content {
  margin-top: -24px !important; }

.rationalised#article-page .programme-key-information {
  padding-right: 0px; }
  .rationalised#article-page .programme-key-information + #PrimaryRHSSection.rhs-section.careers-adjusted-rhs {
    margin-top: -190px !important; }

.ie7 div.seperator-div p {
  line-height: 20px; }
.ie7 .rationalised#article-page .faqs .accordion-classic * {
  line-height: 20px; }
.ie7 .leadership .elevated-block .profile-col1 {
  padding-bottom: 32px; }
.ie7 h3.with-image .image-section {
  float: none;
  display: block;
  page-break-inside: avoid; }

.structure-network.new-structure-network .intro-block {
  width: 672px; }
.structure-network.new-structure-network .content-body {
  width: 672px; }
  .structure-network.new-structure-network .content-body .page-related-block {
    width: 672px; }
    .structure-network.new-structure-network .content-body .page-related-block .link-wrapper {
      width: 672px; }
  .structure-network.new-structure-network .content-body .country-block {
    margin: 0px;
    padding-left: 12px;
    padding-right: 0px; }

.revamp .tabs-content .feature-quote {
  height: 130px;
  page-break-inside: avoid; }
.revamp .tabs-content .elevated-block .table-block table {
  page-break-inside: auto; }

.rationalised .print-next-page-all, .ie8 .rationalised .print-next-page-ie8, .ie7 .rationalised .print-next-page-ie7, .firefox .rationalised .print-next-page-firefox {
  float: none;
  page-break-before: always; }
.ie7 .rationalised .print-next-page-ie7 {
  clear: both; }

.advertising .intro-block {
  width: 696px; }
.advertising .content-body, .advertising .content-body .elevated-block {
  width: 696px; }

.ie7 .main-column-3-4 .column-3-4 {
  float: none; }
.ie7 .dividend-history .content-body .notch-light-gray {
  display: none; }
