@charset "utf-8";
#topbar{position:fixed;z-index:2147483647;top:0;left:0;width:100%;font: 12px/1.5 Tahoma,Arial,sans-serif;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));background:#84c86d none repeat scroll 0 0;border-bottom:2px solid #7fbb3e;height:37px;}
#topbar a{color:#fff;}
#topbar .topbar-bd{margin:0 auto;height:37px;line-height:37px;color:#fff;}
#topbar p{float:left;padding-right:10px;margin-right:10px;}
#topbar .btask{position:relative;display:block;font-style:normal;cursor:pointer;float:left;height:39px;line-height:37px;padding:0 8px;background:#D19109;text-align:center;color:#fff;text-decoration:none;font-weight:bold;margin-right:20px;box-shadow:0 -8px 8px #000;border-bottom:4px solid #E7BA5C}
#topbar .quick-link{float:right;}
#topbar .logined-info li,.quick-link li{float:left;padding-right:6px;margin-right:6px;}
#topbar .login-info em{cursor:pointer;color:#fff;font-style:normal;}
#topbar .w1100{width:1100px;}
#topbar .w980{width:980px;}
.untopbar{height:37px}


