/* PARAGRAPH STYLE **/

.introduction {
	padding: 5px 0;
	font-size: 14px;
	color: #999;
	}

.introduction a {
	font-weight: bold;
	}

.page_date {
	padding:0;
	margin:0;
	font-size:11px;
	color: #999;
	}

.content {
	font-weight: normal;
	color: #333;
	font-size : 13px;
	}

.small_txt {
	padding:5px 0;
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:11px;
	}

.fondCouleur {
	background: #e8f0f8;
	border-top: 1px solid #94b9de;
	border-bottom: 1px solid #94b9de;
	margin: 10px 0;
	}

.picto {
	border:0;
	vertical-align:middle;
	}

/* LISTS STYLE **/

#col_middle ul {
	list-style-position: outside;
	list-style-image:url(../../img/new/common/main_bullet.gif);
	margin:10px 0 0 0;
	padding: 10px 10px 10px 20px;
	}

ul.main {
	list-style-position: outside;
	list-style-image:url(../../img/new/common/main_bullet.gif);
	margin:10px 0 0 0;
	padding: 10px 10px 10px 20px;
	}

ul.main li {
	padding: 0 0 10px 0;
	}

ul.arrow {
	list-style-position: outside;
	list-style-image:url(/media/oecdorg/styleassets/images/li_fl1.gif );
	margin:10px 0 0 0;
	padding: 10px 10px 10px 20px;
	}
ul.arrow li {
	padding-bottom: 10px;
	}
ul.arrow a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	}

ul.arrow2 {
	list-style-position: outside;
	list-style-image:url(/media/oecdorg/styleassets/images/nav_lev1_fl1.gif);
	margin:10px 0 0 0;
	padding: 5px 0 5px 10px;
	}
ul.arrow2 li {
	margin:0;
	padding: 0 0 2px 0;
	font-size:10px;
	}
ul.arrow2 li a {
	font-size:10px;
	}

ul.related  {
	margin:0;
	padding:0;
	list-style:url(/media/oecdorg/styleassets/images/related_bullet1.gif) inside;
	font-size:10px;
	}
ul.related li {
	margin:0;
	padding: 0 0 5px 0;
	font-size:10px;
	}
ul.related li a {
	font-size:10px;
	}

/* COUNTRIES ELEMENTS STYLE ***/

.countriesTable {
	width: 100%;
	border-collapse:collapse;
	}

.countriesTable td {
	padding: 10px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	vertical-align:top;
	}

.countriesTable a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	}

.countriesTable img {
	border: 1px solid #aaa;
	margin: 0 5px;
	}

/* SITEMAP ELEMENTS STYLE ***/

.mapSection {
	margin: 15px 0;
	border: 1px solid #ccc;
	}

.mapSection h2 {
	margin:0;
	padding:5px;
	border: none;
	background: #dfeaf5;
	font-style:normal;
	}

.mapSection p.small_txt a {
	padding:5px 0;
	margin:0;
	font-family: Verdana, Arial, sans-serif;
	font-size:10px;
	}

/* SEARCH STYLE ***/

#advsearch {
	width: 100%;
	padding: 10px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	}

#advsearch td {
	margin:0;
	padding: 5px 0;
	}

#advsearch label {
	display:block;
	padding-right: 5px;
	text-align:right;
	color:#000000;
	}

#advsearch p {
	padding:5px;
	font-size:12px;
	font-weight:bold;
	color: #999;
	text-align: center;
	border-bottom: 1px dotted #fff;
	}

.fixedField {
	margin: 0;
	width: 260px;
	}

.dayWidth {
	width: 25px;
	}

.yearWidth {
	width: 35px;
	}

.selectBox {
	width: 120px;
	height: 100px;
	margin: 0;
	}

.reverse {
	vertical-align:top;
	margin: 45px 0;
	}


/****
*
* NEW STYLES FOR 04,07b,08,10,18,19,20
*
*/

/***
* ajout countries 7b
*/

.nonmembercountriesTable {
	width: 100%;
	margin:0 0 10px 0;
	border-collapse:collapse;
	}

.nonmembercountriesTable td {
	padding: 10px;
	border-bottom: 1px solid #ccc;;
	}

.nonmembercountriesTable a {
	background: url(../../img/new/common/li_fl1.gif) no-repeat left center;
	padding-left: 10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	}

select.nonmembercountries {
	margin: 5px 0;
	}

/***
* ajout Glossary 10
*/

.definition {
	font-weight: normal;
	color: #333;
	font-size : 13px;
	padding: 0 0 10px 0;
	}

/***
* CV item 18
*/

#cv { margin:5px 0; }

#cv img {
	float:left;
	clear: both;
	margin: 10px 10px 0 0;
	border: 1px solid #999;
	width : 180px;
	}

#cv .cvheading{
	padding: 60px 0 0 0;
	line-height: 15px;
	#height: 120px;
	_height: 180px;
	word-wrap: break-word;
	}

#cv .cvheading strong{
	font-size: 13px;
	}

#cv .cvheading em{
	font-size: 13px;
	}
#cv .cvheading a{
	font-weight: bold;
	}

#cv p.content{
	padding: 5px 0 10px 0;
	}

/***
* more country list 19
*/

.azblock{
	padding: 10px 0 0 0;
	}
.azblock h2{
	font-style: normal;
	padding-left:43px;
	border-bottom:1px solid #999999;
	font-family: Georgia,Times,serif;
	font-size:17px;
	margin:20px 0 7px;
	line-height:1.5em;
	}

.azblock h2 img {
	margin: 0 5px 3px 0;
	border: 1px solid #999;
	}

.azblock ul{
	list-style-position: outside;
	list-style-image:url(/media/oecdorg/styleassets/responsive/oecd/images/components/main_bullet.gif );
	margin:0;
	padding: 0 0 0 20px;
	}
.azblock li{
	padding: 0 0 5px 0;
	}

.faqholder .azblock h2{	border-bottom:none; padding-left:0px;}

/***
* ajout statistic portal 08
*/

a.topiclist{
	display:block;
	background: url(../../img/new/common/statistic_topic_fl1.gif) no-repeat 0 3px;
	padding-left: 10px;
	}

/***
* ajout login page 20
*/

#frmLogin{
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	margin-top: -250px;
	}

#frmLogin #container {
	width: 600px;
	margin: 0px auto;
	}
#frmLogin #header{
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 5px;
	margin: 0;
	}
#frmLogin #content{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 0 5px 0;
	}
#frmLogin h2 {
	margin: 0 0 7px 0;
	}
#frmLogin #footer{
	margin:0;
	}
	
#frmLogin #containerH {
	width: 600px;
	margin: 0px auto;
	display: none;
	visibility: hidden;
	}
		
#registered, #notregistered{
	width: 280px;
	float:left;
	padding:0 9px 9px 9px;
	}
*html #registered, *html #notregistered{
	width: 299px;
	}
#registered{
	border-right: 1px solid #ccc;
	}
#registered table{
	width:100%;
	padding: 5px;
	}
#registered td{
	padding: 5px 0;
	}
#notregistered a{
	float:right;
	}


/***
*  Topics 25 (table version)
*/

table#topics, table.family {
	width: 100%;
	border-collapse: collapse;
	}
	
table#topics {
	margin: 20px 0 0 0;
	}
table#topics td {
	width: 49%;
	padding: 0 0 10px 0;
	vertical-align: top;
	}
table#topics td.gutter {
	width: 2%;
	}

table.family caption {
	background: #f30;
	padding: 7px 5px 10px 5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	color: #fff;
	text-align: left;
	}
table#topics table.family td {
	padding: 0;
	border: 1px solid #ccc;
	}
table.family td a {
	display:block;
	padding: 3px 3px 3px 12px;
	background: url(/media/oecdorg/styleassets/images/nav_topics_fl1.gif) no-repeat 5px 7px;
	font-size: 10px;
	color: #4b4b4b;
	}
table.family td a:hover {
	color: #2973bd;
	}

table.family caption#family1 {
	background: #79ae2a url(/media/oecdorg/styleassets/images/nav_topics_fam1.gif) no-repeat bottom right;
	border-bottom: 3px solid #c9dfaa;
	}
table.family caption#family2 {
	background: #e0b605 url(/media/oecdorg/styleassets/images/nav_topics_fam2.gif ) no-repeat bottom right;
	border-bottom: 2px solid #f3e29b;
	}
table.family caption#family3 {
	background: #c92f20 url(/media/oecdorg/styleassets/images/nav_topics_fam3.gif ) no-repeat bottom right;
	border-bottom: 2px solid #e9aca6;
	}
table.family caption#family4 {
	background: #846db5 url(/media/oecdorg/styleassets/images/nav_topics_fam4.gif) no-repeat bottom right;
	border-bottom: 2px solid #cec5e1;
	}
table.family caption#family5 {
	background: #e96f09 url(/media/oecdorg/styleassets/images/nav_topics_fam5.gif) no-repeat bottom right;
	border-bottom: 2px solid #f6c59d;
	}
table.family caption#family6 {
	background: #1d83b1 url(/media/oecdorg/styleassets/images/nav_topics_fam6.gif) no-repeat bottom right;
	border-bottom: 2px solid #a5cde0;
	}
table.family caption#family7 {
	background: #9f3c5d url(../../img/new/common/nav_topics_fam7.gif) no-repeat bottom right;
	border-bottom: 2px solid #d9b1be;
	}
	

/* fix cleaning floats in ie */

.clearfix:after{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */


/***
* ajout Topics 25
*/

h2.Tmargin {
	margin-top: 30px;
	}

ul.topics {
	width:224px;
	list-style:none;
	background: url(/media/oecdorg/styleassets/images/nav_topics_fnd.gif) repeat-y;
	margin: 10px 0 0 0;
	}

ul.lt {
	float:left;
	clear:left;
	}


ul.rt {
	float:right;
	clear:right;
	}

ul.topics li.title {
	display:block;
	background: #f30;
	padding: 7px 5px 10px 5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #fff;
	}
ul.topics li.fam1 {
	background: #79ae2a url(/media/oecdorg/styleassets/images/nav_topics_fam1.gif) no-repeat bottom right;
	border-bottom: 2px solid #c9dfaa;
	}
ul.topics li.fam2 {
	background: #e0b605 url(/media/oecdorg/styleassets/images/nav_topics_fam2.gif ) no-repeat bottom right;
	border-bottom: 2px solid #f3e29b;
	}
ul.topics li.fam3 {
	background: #c92f20 url(/media/oecdorg/styleassets/images/nav_topics_fam3.gif ) no-repeat bottom right;
	border-bottom: 2px solid #e9aca6;
	}
ul.topics li.fam4 {
	background: #846db5 url(/media/oecdorg/styleassets/images/nav_topics_fam4.gif) no-repeat bottom right;
	border-bottom: 2px solid #cec5e1;
	}
ul.topics li.fam5 {
	background: #e96f09 url(/media/oecdorg/styleassets/images/nav_topics_fam5.gif) no-repeat bottom right;
	border-bottom: 2px solid #f6c59d;
	}
ul.topics li.fam6 {
	background: #1d83b1 url(/media/oecdorg/styleassets/images/nav_topics_fam6.gif) no-repeat bottom right;
	border-bottom: 2px solid #a5cde0;
	}

ul.topics ul {
	border-bottom: 1px solid #ccc;
	list-style:none;
	float:left;
	}


ul.topics li ul {
	float:left;
	}

ul.topics li li {
	width:112px;
	float:left;
	border-top: 1px solid #ccc;
	}

ul.topics li li.lt {
	clear: left;
	}

ul.topics li li a {
	display:block;
	padding: 3px 3px 3px 12px;
	background: url(/media/oecdorg/styleassets/images/nav_topics_fl1.gif) no-repeat 5px 9px;
	font-size: 10px;
	color: #4b4b4b;
	}

ul.topics li li a:hover {
	color: #2973bd;
	}
	

.edit_content {
	font-size: 8 pt;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
	}

.edit_content_black {
	font-size: 8 pt;
	font-weight: bold;
	color: #FF0000;
	text-decoration : none;
	}

/* OECD TITle Styles 
	if these are changed also change in oecd_CDS.css */

p.OECDTitle1, li.OECDTitle1, div.OECDTitle1, a.OECDTitle1 {
 caption  : Title 1;
 font-size : 17px;
 font-style: italic;
 font-family : Georgia;
 font-weight : bold;
 color  : #545454;
 border-bottom: 1px solid #ccc;
}
 
p.OECDTitle2, li.OECDTitle2, div.OECDTitle2, a.OECDTitle2 {
 caption  : Title 2;
 font-size : 17px;
 font-family : Georgia;
 font-weight : bold;
 text-decoration : none;	
 color  :#675C53;
}
 

p.OECDTitle3, li.OECDTitle3, div.OECDTitle3, a.OECDTitle3
 {
 caption  : Title 3;
 font-size : 17px;
 font-family : Georgia;
 font-weight : bold;
 text-decoration : none;	
 color  : #0073cf;
}
 

p.OECDTitle4, li.OECDTitle4, div.OECDTitle4, a.OECDTitle4 {
 caption  : Title 4;
 font-size : 15  px;
 font-family : Verdana;
 font-weight : bold;
 text-decoration : none;	
 color  : #0073cf;
}
 
 
 
p.OECDTitle5, li.OECDTitle5, div.OECDTitle5, a.OECDTitle5 {
 caption  : Title 5;
 font-size : 15  px;
 font-family : Verdana;
 font-weight : bold;
 text-decoration : none;	
 color  : #675C53;
}

/* Bando for Special Sites
*/
#bandoSpecial {
	clear:both; border-top: 
	5px solid #aaa; 
	height: 77px; 
	}

#bandoSpecial a {
	margin: 0; 
	padding: 0;
	}

#bandoSpecial a img {
	margin: 0;
	padding: 0;
	vertical-align: top;
	}

#bandoVide {
	clear:both;
	height: 5px; 
	}



/****
* Main Navigation ( #col_left )
*/

.nav_portlet {
	width: 180px;
	margin:0 0 10px 0;
	border-bottom: 1px dotted #b2b2b2;
	_border: none;
	_background: url(../../img/new/common/dotted_border_for_ie.gif) repeat-x bottom;
	}

.nav_portletHead {
	background: #2973bd url(../../img/new/common/nav_fl1.gif) no-repeat right center;
	padding: 0 16px 1px 0;
	color: #555;
	}
.nav_portletHead span {
	display: block;
	padding: 1px 1px 1px 10px;
	background: #ddd;
	}
.nav_portletHead a{
	color: #555;
}
.nav_portletHead a:hover{
	color: #2973bd;
}



ul.nav_portletBody {
	margin: 5px 0 0 0;
	}

.currentSection {
	background: #dfeaf5;
	}

ul.nav_portletBody li {
	list-style:none;
	border-top: 1px dotted #b2b2b2;
	_border: none;
	_background: url(../../img/new/common/dotted_border_for_ie.gif) repeat-x;
	}

ul.nav_portletBody li.opened {
	background:#699dd1;
	}

ul.nav_portletBody li li {
	border: none;
	}

.navigation_level_1 {
	display: block;
	_width: 100%;
	background: url(/media/oecdorg/styleassets/images/nav_lev1_fl1.gif) no-repeat 0 6px;
	padding: 2px 5px 2px 17px;
	font-weight:normal;
	font-size:10px;
	color: #666;
	}

.navigation_selected_level_1 {
	display: block;
	_width: 100%;
	background:#699dd1 url(../../img/new/common/nav_lev1_fl2.gif) no-repeat 0 6px;
	padding: 2px 5px 2px 17px;
	font-weight:normal;
	font-size:10px;
	color: #fff;
	}


ul.nav_portletBody li.opened .navigation_selected_level_1 {
	background:#699dd1 url(../../img/new/common/nav_opened_fl1.gif) no-repeat left top;
	}

.navigation_level_1:hover {
	color: #2973bd;
	}

.navigation_level_2 {
	display: block;
	_width: 100%;
	background:#699dd1 url(../../img/new/common/nav_lev2_fl1.gif) no-repeat left top;
	border: none;
	padding: 2px 5px 2px 25px;
	margin:0;
	font-weight:normal;
	font-size:10px;
	color: #fff;
	}

.navigation_level_2:hover {
	}

.navigation_selected_level_2 {
	display: block;
	_width: 100%;
	background:#b4cee8 url(../../img/new/common/nav_lev2_fl2.gif) no-repeat left top;
	padding: 2px 5px 2px 25px;
	margin:0;
	font-weight:normal;
	font-size:10px;
	color: #2973bd;
	}

.navigation_selected_level_2:visited:hover {
	color: #FFFFFF;
	text-decoration : underline;
	}

/***
* shortcuts Navigation ( #col_right )
*/

.nav2_portlet {
	_width:155px;
	margin:0 0 10px 0;
	}

.nav2_portletHead {
	background: #94b9de;
	}

.nav2_portletHead span {
	padding:0 10px;
	background: #666;
	color: #fff;
	}

ul.nav2_portletBody {
	border: 1px solid #666;
	}

ul.nav2_portletBody li {
	list-style:none;
	border-top: 1px dotted #94b9de;
	_border: none;
	_background: url(../../img/new/common/dotted_border_for_ie2.gif) repeat-x;
	}

a.nav2_level_1 {
	display: block;
	_width: 100%;
	background: url(../../img/new/common/nav2_lev1_fl1.gif) no-repeat 0 7px;
	padding: 2px 5px 2px 17px;
	font-weight:normal;
	font-size:11px;
	color: #2973bd;
	}

a.nav2_level_1:Hover {
	color: #666;
	}

/***
* Commarea Rules ( #col_right)
*/

.commarea_portlet {
	_width:155px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 0 0 10px 0;
	}

.commarea_title {
	padding: 5px;
	text-align:center;
	font-weight: bold;
	font-size: 12px;
	color: #666;
	}

.commarea_image {
	border: 1px solid #aaa;
	}

.commarea_subtitle {
	font-size: 12px;
	font-weight: bold;
	}

.commarea_text {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
	line-height: 11pt;
	color: #707070;
	}

/****
* Centent Navigation ( #col_middle )
*/

.nav_center {
	background: #e8f0f8;
	margin: 2px 0;
	padding: 2px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align: center;
	}
.pages{
	text-align: left;
	}
.nav_center a, .nav_center strong{
	padding: 0 3px 0 2px;
	border-right: 1px solid #999;
	}
.nav_center a.last{
	border-right: none;
	}

.nav_center2 {
	background: #b4cee8;
	padding:0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	}

.nav_center_level_1 {
	display: block;
	float: left;
	background: url(/media/oecdorg/styleassets/images/navcenter_fl1.gif) no-repeat left center;
	margin: 0;
	padding: 5px 5px 5px 15px;
	border-left: 2px solid #fff;
	font-family:Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #4b4b4b;
	}


.nav_center_level_1:hover {
	color: #2973bd;
	}

.nav_center_selected_level_1 {
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
	color: #223152;
	text-decoration: none;
	}

.nav_center_level_2 {
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
	color: #598AB3;
	text-decoration: underline;
	}


.nav_center_level_2:visited:hover {
	color: #598AB3;
	text-decoration: underline;
	}

.nav_center_selected_level_2 {
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
	color: #598AB3;
	text-decoration: none;
	}

/****
* Hot Topics
*/

ul.hotTopics {
	list-style:none;
	background: #e8f1f8 url(/media/oecdorg/styleassets/images/nav_hottopics_fnd.gif) repeat-x;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
	}

ul.hotTopics li {
	display: block;
	float:left;
	width: 114px;
	}

ul.hotTopics li.last {
	width: 110px;
	}

ul.hotTopics li a {
	display: block;
	padding: 3px 5px 5px 15px;
	font-size: 10px;
	color: #4b4b4b;
	}

ul.hotTopics li a:hover {
	color: #2973bd;
	}
	
.fineLines {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 15px 0;
    padding: 1px 0;
}
.fineLine_top {
    border-top: 1px solid #CCCCCC;
}
.fineLine_bottom {
    border-bottom: 1px solid #CCCCCC;
    padding: 3px 0;
}