strong {font-weight: bold;}
/*
=======================
        BLOCKS
=======================
*/
.block{background: none repeat scroll 0% 0% rgb(249, 249, 249);border-width: 1px;border-style: solid;border-color: rgb(221, 221, 221) rgb(240, 240, 240) rgb(251, 251, 251);padding: 15px;margin: 1em 0px 0px;}
.block:before, .block:after {content: " ";display: table;clear: both;}

.block h2{position:relative;font-size: 1.7em;font-weight: bold;margin: 22px 0px 12px 0px; color:rgb(102, 102, 102);border-color:rgb(102, 102, 102);}
.block h2:first-child{margin: 0px 0px 20px 0px;}
.block h2 a{text-decoration: underline;}
.block h3{margin: 0px 0px 10px;font-size: 1.3em;line-height: 1.2em;font-weight: bold;}
.block h3 a{text-decoration: underline;}
.block h5{font-weight: bold; font-size:13px;margin-bottom: 10px;}

.block h2 strong{display: block; overflow: hidden;}
.blue-block {
background: #ecf7fd;
background: #f9f9f9 url('/media/oecdorg/styleassets/images/content/topicscountries/fndbluebox.png') top right repeat-x;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf7fd), to(#f9f9f9));
background: -moz-linear-gradient(center bottom, #f9f9f9 1%, #ecf7fd 75% );
}
/*
===========================
        BLOCK COLORS
===========================
*/
h2.orange, h3.orange{color:rgb(226, 92, 19)!important; border-color:rgb(226, 92, 19)!important;}
h2.gray, h3.gray{color:rgb(102, 102, 102) !important; border-color:rgb(102, 102, 102)!important;}
h2.green, h3.green{color:rgb(152, 193, 15)!important; border-color:rgb(152, 193, 15)!important;}
h2.blue, h3.blue{color:rgb(0, 149, 217)!important; border-color:rgb(0, 149, 217)!important;}

.block-button-group.orange>a{background-color:rgb(226, 92, 19);}
.block-button-group.orange>a:hover{background-color:rgb(226, 62, 19);}

.block-card-large ul.green li.selected{
  background:rgb(178, 207, 82) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#98C10F, endColorstr=#B2CF52) !important;
  background:  -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(152, 193, 15)), to(rgb(178, 207, 82))) !important;
  background:  -moz-linear-gradient(center bottom, rgb(178, 207, 82) 1%, rgb(152, 193, 15) 100% ) !important;
}
.block-card-large ul.green li{border-bottom-color: rgb(152, 193, 15);}


/*
=============================
        BLOCK CARD
=============================
*/
.block-card ul{background: none repeat scroll 0% 0% rgb(178, 207, 82);height: 24px;}
.block-card li a{float: left;width: 20px;height: 18px;margin: 3px;padding: 2px;background: none repeat scroll 0% 0% rgb(152, 193, 15);text-align: center;color: rgb(255, 255, 255);border-radius: 3px 3px 3px 3px;text-decoration: none;}
.block-card li.selected > a{background: none repeat scroll 0% 0% rgb(255, 255, 255);color: black;text-decoration: none;cursor: default;}
.block-card>ul>li>div{display: none;}
.block-card .block-content{padding: 10px;background-color: white;}


/*
===================================
        BLOCK CARD VERTICAL
===================================
*/
/*/img/components/closedarrow.gif*/
.block-card-vertical h3{background: url("/media/oecdorg/styleassets/responsive/oecd/images/components/closedarrow.gif") no-repeat scroll right center rgb(233, 241, 206);font-size: 1.1em;color: rgb(152, 193, 15);margin:1px 0px;padding: 5px 25px 5px 5px;cursor: pointer;}
.block-card-vertical li:hover h3{background-color: #B2CF52;color: rgb(255, 255, 255);}
.block-card-vertical li.selected h3{background: none repeat scroll 0% 0% rgb(152, 193, 15);color: rgb(255, 255, 255);cursor: default;}
.block-card-vertical li.selected .block-content{ border:1px solid #dddddd;}
.block-card-vertical .block-content{
	height: 0px;margin: 0px;
	overflow: hidden;
	cursor: pointer;
	background: white;
    -webkit-transition: height .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;
    -o-transition: height .4s ease-in-out;
    transition: height .4s ease-in-out;
}
.block-card-vertical figure{max-width: 260px;max-height: 180px;margin: 0px auto;padding: 10px;}
.block-card-vertical img{width: 100%;height: 100%;}
.block-card-vertical p{padding: 10px 0px 15px 0px; margin: 0px;}
.block-card-vertical .block-content-wrapper{padding: 0px 20px;}
.block-card-vertical ul{margin:0; height:100%;}

/*
=================================
        BLOCK CARD LARGE
=================================
*/
.block-card-large{display:inline-block;position:relative;width:100%;}
.block-card-large>ul{
width: 40%;
float: left; 
border-collapse: collapse;
height:100%;
}
.block-card-large .block-content {
opacity:0.7;
 padding-bottom: 22px;
position:absolute;
top:0;
left:42%;
visibility:hidden;
}
.block-card-large .block-content.visible {
opacity:1;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
visibility:visible;
}
.block-card-large li h3{margin: 0px;font-weight: normal !important;font-size: 100% !important;}
.block-card-large li h3 a{
text-decoration: none;
background-repeat: no-repeat;
background-position: 10px 50%;
background-size: 11px auto;
padding: 0 10px 0 27px !important;
display: block;
}
.block-card-large li.selected h3 a{
background-repeat: no-repeat;
background-position: 10px 50%;
background-size: 11px auto;
}
.block-card-large figure{overflow:hidden;}
.block-card-large figure img {width: 100%;  height:auto; margin-bottom:3px;}
                                 
@media screen and (min-width: 768px){
    .block-card-large ul li{display: table-row;height: 72px;padding: 0px 20px;border-bottom: 1px dotted rgb(1, 143, 208);font-size: 1.2em;cursor: pointer;vertical-align: top;}
    .block-card-large ul li.more{height: 40px !important;}
    .block-card-large ul li.selected{
      background : #2973bd;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2973bd, endColorstr=#018fd0);background:  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2973bd), to(#018fd0))
     background:  -moz-linear-gradient(center bottom, #018fd0 1%, #2973bd 100% );
     }
    .block-card-large li div{display: none;}
    .block-card-large li h3{display: table-cell;vertical-align: middle;padding: 15px 0;}
    .block-card-large li.selected h3 a{color: #fff;}
    .block-card-large li.selected h3 a:hover{text-decoration: underline;}
    .block-card-large .block-content figcaption{display: block;padding: 3px 0px;border-top: 1px solid rgb(170, 170, 170);border-bottom: 1px dotted rgb(1, 143, 208);color: rgb(51, 51, 51);}
    .block-card-large .block-content p{padding: 10px 20px 0px 0px;margin-bottom: 10px;}
}
@media screen and (max-width: 767px){
    .block-card-large h3{margin: 5px 10px;}
    .block-card-large h3 a{padding: 0px;}
    .block-card-large .block-content{display: none;}
    .block-card-large ul li{height:auto !important;}
}


/*
=============================
        BLOCK FOOTER
=============================
*/
/*footer*/

.block-footer {
padding:0px;
padding:20px 0;
display:table;
}
.block-footer>ul{
display:table-cell;
padding-left:50px;
}
.block-footer>ul>li {
float: left;
padding:0px 10px;
}
.block-footer ul , .block-footer h4 {
margin:0;
}
.block-footer .a-z-link {
display:table-cell;
font-size: 14px;
vertical-align:top;
min-width:150px;
text-align:center;
}

@media screen and (min-width: 768px){
    .block-footer {margin-top: 12px;width: 100%;}
	.block-footer a{
        text-decoration: none;
        width:70px;
    }
    .block-footer a:hover{text-decoration: underline;}
    .block-footer h4{margin-bottom: 0.6em;}
    .block-footer ul li h4{
        margin-bottom: 0.6em;
        color: rgb(51, 51, 51);
    }
    .block-footer ul li ul li{float:none;}
    .block-footer ul li a{
        float:none;
        display: block;
        padding: 0.4em 0px;
        color: rgb(119, 119, 119);
        width:auto;
    }
    .block-footer ul li a:hover{color: rgb(41, 115, 189);}
}

@media screen and (max-width: 767px){
    .block-footer, .block-footer ul, .block-footer li, .block-footer h4{
        width: 100%;
    }
    .block-footer>ul{
	padding-left:0px;
	}
}


/*
==========================
        BLOCK LIST
==========================
*/
.block-list li{margin-bottom: 10px;}
/*/img/components/newsslidearrowoff.gif*/
.block-list a{display: block;padding: 0px 0px 0px 15px;background: url("/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif") no-repeat scroll 0px 0.4em transparent;text-decoration: underline;}
/*/img/components/moreslidearrowgrey.gif*/
.block-list a:hover{background: url("/media/oecdorg/styleassets/responsive/oecd/images/components/moreslidearrowgrey.gif") no-repeat scroll 0px 0.4em transparent;color: rgb(51,51,51);}
.block-list p{text-decoration: none;font-size: 0.8em;color: rgb(119, 119, 119);padding: 0px 0px 0px 15px;}

/*
=================================
        BLOCK IMAGE SLIDE
=================================
*/
.block-img-slide{
    position: relative;
    height: 170px;
    overflow-x: scroll;
    width: 100%;
    padding-right: 30px;
}
.block-img-slide ul{
    position: absolute;
    white-space: nowrap;
}
.block-img-slide li{
    display: inline-block;
}
.block-img-slide img{
    height:150px;
}



/*
================================
        BLOCK ELEMENTS
================================
*/
.spacer-left{padding-left: 10px;}
.spacer-right{padding-right: 10px;}
.spacer-top{padding-top: 10px;}
.spacer-bottom{padding-bottom: 10px;}
@media screen and (max-width: 768px){
    .no-margin-xs{margin: 0px !important;}
}

/*/img/components/newsslidearrowoff.gif*/
.block-link{display:block;background: url("/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif") no-repeat scroll 0px 0.4em transparent;padding-left:15px;text-decoration: underline;}

.block-date {text-decoration: none;font-size: 0.8em;color: rgb(119, 119, 119);padding: 0px 0px 0px 15px;padding-top: 5px;}
.block-date-big {font-size: 1.1em; padding: 10px 0px 10px 0px;}

.block-button-group{display: table; padding:10px 0px; table-layout: fixed;border-spacing: 10px 0px;width: 100%;max-width: 500px;margin: 0px auto;}
.block-button-group>.block-button{display: table-cell;padding: 3px 0px;max-width:150px;border: 1px solid rgb(177, 177, 177);background-color: rgb(0, 149, 217);border-radius: 5px 5px 5px 5px;text-align: center;color: rgb(236, 247, 253);}
.block-button-group a{color: rgb(255, 255, 255);}
.block-button-group a:hover{text-decoration: none;}
.block-button-group>.block-button:hover{text-decoration: none;background-color: rgb(41, 115, 189);color: rgb(236, 247, 253);}

.block-more{background-color: rgb(247, 247, 247);background-repeat: repeat-x;background-image: linear-gradient(rgb(241, 241, 241), rgb(247, 247, 247));border-top: 1px solid rgb(255, 255, 255);padding: 0.7em 2%;margin-top: 10px;width: 100%;}
.block-v-center{display: table;}
.block-v-center > * {display: table-cell;vertical-align: middle;float: none;}
.block-h-center{text-align: center;}
.block-image{max-width: 300px; width: 100%;}
.block-iframe{ width: 100%; height:200px;}
.search-bar{margin: 10px;} 
                                 
/*
=============================
       SIDE NAVIGATION
=============================
*/
.nav-side {width:100%; padding:3px 0px 3px 0px;}
.nav-side ul{float: right;width:85%;}
.nav-side ul:first-child{border:none;}
.nav-side li{padding: 0px;border-top: 1px solid rgb(164, 178, 191);}
.nav-side a{display: block;padding: 5px 10px 5px 10px;font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;color: rgb(102, 102, 102);text-decoration: none;background: url("/media/oecdorg/styleassets/responsive/oecd/images/components/sidenavfl1.gif") no-repeat scroll 0px 8px transparent;}
/*/media/oecdorg/styleassets/images/content/topicscountries/sidenavfl1.gif*/
.nav-side a:hover{color: rgb(41, 115, 189);cursor: pointer;}
.nav-side li.selected a{background-color: rgb(41, 115, 189);color:white;}
.nav-side li span.currentbranch0 a{padding-bottom:5px;background-color: rgb(41, 115, 189);color:white;}
@media screen and (max-width: 768px){
    .nav-side ul{width:100%;}
    .nav-side a{padding: 10px 0px 10px 30px;}
    .nav-side li:last-of-type{border-bottom: 1px solid rgb(164, 178, 191);}
}


/*
===========================================
       ITEM LIST (LIST CONTENT TYPE)
===========================================
*/
.item-list .item{margin-bottom: 10px;}
.item-list .item .left{text-align: right;padding-right: 10px;}
.item-list .date{border-bottom: 1px solid rgb(237, 237, 237);margin: 0px 0px 0.5em;padding: 17px 0px 0px;color: rgb(119, 119, 119);font-size: 0.9em;}
.item-list .infos{margin: 0px;font-size: 0.9em;color: rgb(119, 119, 119);}
.item-list p{font-weight: normal;color: rgb(51, 51, 51);font-size: 13px;margin: 0px 0px 1.5em;}
.item-list h4, h5{margin: 0px 0px 0.25em;font-weight: normal;}
.item-list a{text-decoration: underline;}

/*
============================
       MAIN HEADER
============================
*/

.header-identity {float: left;padding: 15px 0px 10px 10px;}
.header-identity img{ height:auto; width:250px;}
.header-tools {float: right; margin-top: 10px;}
.header-tools>*{float: right; clear: right; margin-bottom: 5px;}
.header-language{}
.header-button-group{margin-bottom: 10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding: 5px 5px 5px 10px;background: #eaeaea url('<img src="/media/oecdorg/styleassets/responsive/oecd/images/components/gradientbg.png" alt="" title="" style="width : 10px; height : 80px;    " />') bottom repeat-x;}
.header-button-group h4{margin-bottom: 5px;}
.header-tool-button{float: left;margin: 3px;background: #9c9c9c;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9c9c9c), to(#7e7e7e));background: -moz-linear-gradient(center bottom, #7e7e7e 1%, #9c9c9c 100% );-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding: 2px 7px;font-size: 10px;color: rgb(255, 255, 255);text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);}
.header-tool-button:hover{background: #b6b6b6;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1b1b1), to(#adadad));background: -moz-linear-gradient(center bottom, #b1b1b1 1%, #adadad 100% );color: rgb(255, 255, 255);text-decoration: none;}
.header-social-button{float: left;margin: 1px 2px;line-height: 0.9;opacity: 0.8;}
.header-social-button:hover{opacity: 1;}
.header-social-button img{width: 20px;height: 20px;}
.header-search fieldset {padding: 0 0 0 3px;background: transparent url('/media/oecdorg/styleassets/responsive/oecd/images/components/sfrightborder.png') left center no-repeat;}
.header-search input, .header-search button {border: none;float: left;}
.header-search input.sBox {border:1px solid #b2b2b4;border-left: none;width: 200px;height: 22px;}
.header-search button.sBtn {height: 22px;cursor: pointer;background: #aaa url('/media/oecdorg/styleassets/images/responsive/tempsbtnbg.png') no-repeat top right;}
.header-search button.sBtn:hover {background: #aaa no-repeat bottom right;}
/*
================================
        MAIN NAVIGATION
================================
*/

.main-nav{float: left; margin-top: 8px;}
                                  
.main-nav>ul{display: table;position: relative;margin-bottom: 7px;border-top: 2px solid #018fd1;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2973bd, endColorstr=#018fd0);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2973bd), to(#018fd0));background: -moz-linear-gradient(center bottom, #018fd0 1%, #2973bd 100% );table-layout: fixed;width:100%;}
.main-nav>ul>li {display: table-cell;min-width: 110px;background: url('/media/oecdorg/styleassets/responsive/oecd/images/components/splitter.png') right center no-repeat;} /*/img/index/nav/splitter.png*/
.main-nav>ul>li>a{display: block;color: #fff;text-align: center;font-size: 1.5em;padding: 6px 0px 8px 0px;text-decoration: none;}
.main-nav>ul>li:hover>a  {-webkit-border-radius: 3px 3px 0 0;-moz-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;background-color: #c5d7ed;color: #2973bd;}
.main-nav li:hover>ul  {visibility: visible;}

.main-nav ul.tab{visibility: hidden;display: table;position:absolute;left:0px;border-bottom: 1px solid #f9f9f9;box-shadow: 0px 3px 3px rgb(170, 170, 170);background-color: white;table-layout: fixed;width: 100%;height: 43px;z-index: 2;}
.main-nav ul.tab>li{display: table-cell;text-align: center;vertical-align: middle;font-size: 1.15em;}
.main-nav ul.tab>li>a{display: block;padding: 12px;text-decoration: none;}
.main-nav ul.tab>li>a:hover{background: #eeefff;}

.main-nav ul.list{visibility: hidden;display: table;position:absolute;left:0px;border-top: 2px solid #f9f9f9;border-bottom: 1px solid #f9f9f9;background: white;box-shadow: 0px 3px 3px rgb(170, 170, 170);padding:10px 0px 10px 60px;width: 100%;z-index: 2;}
.main-nav ul.list li{display: block;text-align: left;text-indent: -10px;margin-left: 10px;padding: 4px 10px 4px 0px;}
.main-nav ul.list li>a{text-decoration: none;font-size: 11px;color:#666;}
.main-nav ul.list li>a:before{content:"> ";}
.main-nav ul.list li>a:hover{color:#2973bd;}
  
.main-nav-xs{margin-bottom: 0px;}
.main-nav-xs .navbar-header img{margin:5px 0px 0px 10px; width: 160px; height: 40px;}

 /*
============================
       MAIN FOOTER
============================
*/
.main-footer{margin: 35px 0 0 0;border-top: 1px solid #dfdfdf;}
.main-footer>ul>li{background: #fafafa;}
.main-footer>ul>li a {display: block;padding: 9px 0px;font-size: .85em;color: #333;text-align: center;text-decoration: none;}
.main-footer>ul>li a:hover {color: #000;}
.main-footer>ul>li:last-child {border-color: #205ca2;background: #2973bd;background:  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2973bd), to(#018fd0));background:  -moz-linear-gradient(center bottom, #018fd0 1%, #2973bd 100% );color: #fff;}
.main-footer>ul>li:last-child a{color: #ecf7fd;} 
  
/*
==========================
        KEYISSUES
==========================
*/
.keyissue{padding-right: 10px;}
.keyissue:last-child{padding-right: 0px;}
.keyissue p {font-size: 14px;padding: 7px;background: #fff;line-height: 1.2em;font-weight: bold;}
.keyissue p a {color: rgb(41, 115, 189);}
.keyissue p:hover a { color: #333; }
.keyissue div{height: 48px; width: 100%;overflow: hidden;}

.keyissue-event{background: #5A245A}
.keyissue-statistics{background: #A54108}
.keyissue-opinion{background: #8C1000;}
.keyissue-video{background: #394952}


/*
============================
       MEDIA QUERIES
============================
*/

.breadcrumb .bd-icon{color:#ddd; font-size:8px; padding:0 5px;}
@media screen and (min-width: 769px){
    .breadcrumb {padding: 0px 0px 10px 0px;background-color: transparent;margin: 0px;}
    .breadcrumb a{text-decoration: underline;}
    .breadcrumb > li + li:before {content: ">\00a0";padding: 0px;color: black;}
	.breadcrumb { 
 	 max-height: 30px;
  	position: relative;
  	overflow: hidden;
  	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
  }
}
@media screen and (max-width: 768px){
    .breadcrumb {margin: 0px;}
    .block-v-center{display: block;}
    .block-v-center > * {display: block;}
}
/*
=======================
      PAGINTAION
=======================
*/
.paginate, .alphaList {
	clear: both;
	margin: 5px 0;
	padding: 5px 20px;
	background: #b4cee8;
	background: #e8f0f8;
	background: #9c9c9c;
	background: #9c9c9c url('/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=83871264') repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8C8C8C), to(#9c9c9c));
	background: -moz-linear-gradient(center bottom, #9c9c9c 1%, #8C8C8C 100% );

	border: 1px solid #ddd;
	border-color: #ddd #f0f0f0 #fbfbfb #f0f0f0;
	text-align: center;
	 }
.paginate div {
	text-align: center;
	color: #ddd;
	}
.paginate .left {
	float: left;
	}
.paginate .right {
	float: right;
	}
.paginate a {
	 color: #fff;
	}
#results {
	padding-top: 10px;
}
                                 
                                 