.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .home > a, 
.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .home > a:hover, 
.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .home > a:focus {
  color: #11629A;
  background-color: #ffffff;
}
.oecd-menu--bg-dark-blue .navbar-default .navbar-nav.xs-navbar-nav li.home>a {
  background-color: #578FB8;
  font-weight: bold;
  color: #ffffff;
}
.xs-menu-navbar .page-name.en:after{
  content: "OECD Home" ;
}
.xs-menu-navbar .page-name.fr:after{
  content: "Accueil de l'OCDE";
}