/* custom styles for tiny mce */
.width-100{
  
}
.width-75{
  
}
.width-50{
  
}
.width-25{
  
}
.width-100 img{
    width:100% !important;
    height:auto !important;
}
.width-75 img{
    width:75% !important;
    height:auto !important;
}
.width-50 img{
    width:50% !important;
    height:auto !important;
}
.width-25 img{
    width:25% !important;
    height:auto !important;
}

/*line under h2*/
#tinymce h2 {
	padding:0;
	margin:  0 0 5px 0; 
	font-size: 1.7em;
	line-height: 1.6em;
	font-weight: bold;
	border-bottom: 5px solid #666;
	margin-bottom: 1em;
	color: #666;
}
/*line under h2*/

/* custom styles for tiny mce */
.pub-section-comment {
    background:#F2F2F2;
	margin:0 !important;
	padding: 10px 20px 0px 20px !important;
}

/* publication templates */
/*Title*/

.table-half{
    width:100% !important;
}
.table-half tr td{
    width:50% !important;
}
.pub-section-line {
    border-top: 1px solid #000;
    padding:10px 3px !important;
    text-transform : uppercase;
	font-size:14px;
	margin-bottom:5px;
}
/*Title with country image*/
.pub-section-line-country {
   /* border-top: 1px solid #000;*/
    padding:10px 3px !important;
    text-transform : uppercase;
    font-size:14px;
	margin-bottom:5px;
}
td.pub-section-line-country:before {
  width: 97%;
}
.pub-section-line-country:before {
	content: '\A';
	display: block;
	border-top: 1px solid #000;
	padding-bottom: 10px;
}
.pub-section-line-country:after {
    background:  url('/media/oecdorg/styleassets/responsive/oecd/images/publications/country specific material 70.PNG') no-repeat,url('http://www.oecd.org/media/oecdorg/directorates/directorateforeducation/country%20specific%20material%2070.PNG')  no-repeat;
	background-position:0 0;
	background-size:auto 100%;
	height:75px;
	width:100%;
	display:inline-block;
	content:"";
	margin-top:15px;
}
/*Title with graph image*/
.pub-section-line-graph {
    /*border-top: 1px solid #000;*/
    padding:10px 3px !important;
    text-transform : uppercase;
    font-size:14px;
	margin-bottom:5px;
}
td.pub-section-line-graph:before {
  width: 97%;
}
.pub-section-line-graph:before {
	content: '\A';
	display: block;
	border-top: 1px solid #000;
	padding-bottom: 10px;
}

.pub-section-line-graph:after {
	background:  url('/media/oecdorg/styleassets/responsive/oecd/images/publications/data and indicators.PNG') no-repeat,url('http://www.oecd.org/media/oecdorg/directorates/directorateforeducation/data%20and%20indicators.PNG')  no-repeat;
	background-position:0 0;
	background-size:auto 100%;
	height:75px;
	width:100%;
	display:inline-block;
	content:"";
	margin-top:15px;
}

/*Lists*/
.pub-1-col-list{
    list-style-type:none !important;
    margin:0 !important;
}
.pub-2-col-list{
    list-style-type:none !important;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;  
    margin:0 !important;
}
.pub-3-col-list{
    list-style-type:none !important;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;  
    margin:0 !important;
}
.pub-4-col-list{
    list-style-type:none !important;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;  
    margin:0 !important;
}
.pub-1-col-list li{
    padding-bottom: 5px;
}
.pub-2-col-list li{
    padding-bottom: 5px;
}
.pub-3-col-list li{
    padding-bottom: 5px;
}
.pub-4-col-list li{
    padding-bottom: 5px;
}
.pub-1-col-list li:before{
    font-family: CustomIcons;
    content: 'u';
    padding-right: 7px;
    color:rgb(41, 115, 189);
	font-size:.7em;
}
.pub-2-col-list li:before{
    font-family: CustomIcons;
    content: 'u';
    padding-right: 7px;
    color:rgb(41, 115, 189);
	font-size:.7em;
}
.pub-3-col-list li:before{
    font-family: CustomIcons;
    content: 'u';
    padding-right: 7px;
    color:rgb(41, 115, 189);
	font-size:.7em;
}
.pub-4-col-list li:before{
    font-family: CustomIcons;
    content: 'u';
    padding-right: 7px;
    color:rgb(41, 115, 189);
	font-size:.7em;
}
/*Colors*/
.text-blue{
    color:rgb(41, 115, 189);
}
.text-gray{
    color:#333;
}

/*responsive*/
@media (max-width: 769px){
.book-editable-body {
padding: 0px 10px;
}
.pub-2-col-list , .pub-3-col-list ,.pub-4-col-list {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-gap: 1em;
-moz-column-gap: 12em;
column-gap: 1em;
}
.table-half table{
	display:inline-block;
}
.table-half tr td{
    width:100% !important;
	display:inline-block;
}
}
/* end of publication templates */

.red-border{border:1px solid red;}
.double li {width: 50%;}
.pachead{border-top:1px solid #000; padding:0px 5px;}

/* 

first inner tiny rules
get me those damn cells to the roof 

*/

table, td, th {
	 vertical-align: top;
}


/*

the generic "more" 
link with double arrow

*/

a.more {
	display: block;
	padding: 0 0 0 15px;
    background: url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif') 0 .4em no-repeat , url('http://www.oecd.org/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif') 0 .4em no-repeat;
	float: left;
	}
a.more:hover {
    background: url('/media/oecdorg/styleassets/responsive/oecd/images/components/moreslidearrowgrey.gif') 0 .4em no-repeat, url('http://www.oecd.org/media/oecdorg/styleassets/responsive/oecd/images/components/moreslidearrowgrey.gif')  0 .4em no-repeat;
}


/* 

the list version of 
links with double arrow 

*/

.linkList {
	margin: 0 0 15px 0; padding: 0;
	list-style-type: none;
	text-align: left;
	clear:both;
	}
.linkList li {
	margin: 0 0 10px 0;
	}
.linkList li span.date {
	text-decoration: none;
	font-size: .8em;
	color: #777;
	padding: 0 0 0 15px;
	}
.linkList a {
	display: block;
	padding: 0 0 0 15px;
	background: url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif') 0 .4em no-repeat;
	color: #2973bd;
	}
.linkList a span, .linkList span a {
	color: #2973bd;
	}
.linkList a:hover {
	background-image: url('/media/oecdorg/styleassets/responsive/oecd/images/components/moreslidearrowgrey.gif');
	color: #aaa;
	}
.linkList a:hover span {
	color: #333;
	}


/* 
	START
	added by wbo for nav center format
*/
.fineLines {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 15px 0;
    padding: 1px 0;
}
.fineLine_top {
    border-top: 1px solid #CCCCCC;
}
.fineLine_bottom {
    border-bottom: 1px solid #CCCCCC;
    padding: 3px 0;
}

.nav_center {
	background: #e8f0f8;
	margin: 2px 0;
	padding: 2px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align: center;
	}

.nav_center a, .nav_center strong{
	padding: 0 3px 0 2px;
	border-right: 1px solid #999;
  	text-decoration: none;
	}
.nav_center a.last{
	border-right: none;
	}

.azblock{
	padding: 10px 0 0 0;
	}
.azblock h2{
	font-style: normal;
	padding-left:43px;
	border-bottom:1px solid #999999;
	font-family: Georgia,Times,serif;
	font-size:17px;
	margin:20px 0 7px;
	line-height:1.5em;
  	font-weight: bold;
	}

.azblock h2 img {
	margin: 0 5px 3px 0;
	border: 1px solid #999;
	}

.azblock ul{
	list-style-position: outside;
	list-style-image:url(/media/oecdorg/styleassets/responsive/oecd/images/components/main_bullet.gif );
	margin: 10px 0 0 0;
	padding: 10px 10px 10px 20px;
	}
.azblock li{
	padding: 0 0 5px 0;
	}

.azblock li a {
  	text-decoration: none;
}
/* 
	END
	added by wbo for nav center format
*/

.opsi-oecd-text{
  border: 6px double red;
}

td[align=center] {
  text-align:center !important;
}

td[align=left] {
  text-align:left !important;
}

td[align=right] {
  text-align:right !important;
}

td[valign=top] {
  vertical-align:top !important;
}

td[valign=middle] {
  vertical-align:middle !important;
}

td[valign=bottom] {
  vertical-align:bottom !important;
}

/*modal window css*/
.ui-widget-header {
border: 0px solid #aaaaaa !important;
background: #2973bd !important;
color: #fff  !important;
}

.ui-dialog {
padding: 0 !important;
}

.ui-dialog-titlebar.ui-corner-all{
border-radius: 0px !important;
padding: .7em 1em  !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #2973bd !important;
	background: #2973bd !important;
}

.ui-widget-content {
border: 0px solid #ededed !important;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
background-color: #fff;
border: 0px solid  #2973bd;
color:#2973bd;
}
