h1{
    margin: 0px;
    padding: 15px 10px 2px 10px;
    font-family: Georgia,"Times New Roman",Times,serif;
    text-align: left;
    font-weight: bold;
    font-size: 1.7em;
    font-weight: bold;
}


#breadcrum{
    display:block;
}

#heading{
    display:block;
}

#container{
    margin: 0 auto;
    position: relative;
    width:100%;
    float:left;
}
.document:before,
.document:after {
    content: " ";
    display: table;
    clear: both;
}

/* Tables still need 'cellspacing="0"' in the markup. */
.document table { border-collapse: separate; border-spacing: 0; }
.document caption, .document th, .document td { text-align: left; font-weight: normal; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
.document blockquote:before, .document blockquote:after, .document q:before, .document q:after { content: ""; }
.document blockquote, .document q { quotes: "" ""; }

/* Remove annoying border on linked images. */
.document a img { border: none; }

/* Headings
-------------------------------------------------------------- */

/*.document h1,.document h2,.document h3,.document h4,.document h5,.document h6 { font-weight: normal; color: #111; }*/

/*.document h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }*/
/*.document h2 { font-size: 2em; margin-bottom: 0.75em; }*/
/*.document h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }*/
/*.document h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }*/
/*.document h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }*/
/*.document h6 { font-size: 1em; font-weight: bold; }*/

.document h1 img, .document h2 img, .document h3 img,
.document h4 img, .document h5 img, .document h6 img {
    margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

.document a:focus,
.document a:hover     { color: #333; }
.document a           { color: #2973bd; text-decoration: underline; }

.document blockquote  { margin: 1.5em; color: #666; font-style: italic; }
.document strong      { font-weight: bold; }
.document em,.document dfn      { font-style: italic; }
.document dfn         { font-weight: bold; }
.document sup, .document sub    { line-height: 0; }

.document abbr,
.document acronym     { border-bottom: 1px dotted #666; }
.document address     { margin: 0 0 1.5em; font-style: italic; }
.document del         { color:#666; }

.document pre 				{ margin: 1.5em 0; white-space: pre; }
.document pre,.document code,.document tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

.document li ul,
.document li ol       { margin:0 1.5em; }
.document ul, .document ol      { margin: 0 1.5em 1.5em 1.5em; }

.document ul          { list-style-type: disc; }
.document ol          { list-style-type: decimal; }

.document dl          { margin: 0 0 1.5em 0; }
.document dl dt       { font-weight: bold; }
.document dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

.document table       { margin-bottom: 1.4em; width:100%;}
.document th          { font-weight: bold; }
.document thead th 		{ background: #c3d9ff; }
.document th,.document td,.document caption { padding: 4px 10px 4px 5px; }
.document tr.even .document td  { background: #e5ecf9; }
.document tfoot       { font-style: italic; }
.document caption     { background: #eee; }


.document hr {
    background: #ddd;
    color: #ddd;
    clear: both;
    float: none;
    width: 100%;
    height: .1em;
    margin: 0 0 1.45em;
    border: none;
}
.document label       { font-weight: bold; }
.document fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
.document legend      { font-weight: bold; font-size:1.2em; }
.document h2 strong img {
    margin-right: 100% !important;
}

@media screen and (max-width: 428px){
    h1{
        text-align: center;
    }
    #sideNav ul{
         width: 100%;
    }
    #sideNav li a{
        padding-left: 20px;
    }

    .document iframe{
        height:100%;
        width: 100%;
    }
    .document object{
        width:100%;
        height: auto;
        min-width: 0px;
    }
    .document embed{
        width:100%;
        height: auto;
    }
    .document table{
        width: 100% !important;
        height: 100% !important;
    }
    .document td{
        width:100% !important;
        min-width: 0px;
        display: block;
        overflow: hidden;
    }
    .document td *{
        /*display: block;*/
    }
    .document tr{
        min-width: 0px;
    }
    .document img {
    max-width: 100% !important;
    height: auto !important;
}
}