/*
===========================
        FAT FOOTER
===========================
*/

#fatFooter .block {
    float:left;
    padding: 15px 79px 20px 79px;
}

#fatFooter h4 {
    margin-bottom: .6em;
    color: #333;
}
#fatFooter h4 a {
    text-decoration: none;
    color: #2973bd;
}
#fatFooter h4 a:hover {
    /* color: #333; */
    text-decoration: underline;
}

#fatFooter ul {
    list-style-type: none;
    margin: 0;
}
#fatFooter ul a {
    display: block;
    padding: .4em 0;
    text-decoration: none;
    color: #777;
}
#fatFooter ul a:hover {
    color: #2973bd;
    text-decoration: underline;
}



/* --------------------------------------------------------------

C_3 - content Section subtopics

-------------------------------------------------------------- */

/* research button for subtopic */

.fullLength {
    margin: 0 5%;
    padding: 3px 10px;
    width: auto;
}

/* newsSlide (focus) */

#subGroup {
    float: left;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #EEEEEE;

    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee)); /* Konqueror */
    background-image: -moz-linear-gradient(#ffffff, #eeeeee); /* FF 3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #eeeeee); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(#ffffff, #eeeeee); /* Opera 11.10 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0)"; /* IE8+ */
    background-image: linear-gradient(#ffffff, #eeeeee); /* the standard */

}

#subSubList {
    width: 210px;
    overflow: hidden;
    margin: 0; padding: 0;
    float: left;
    list-style-type: none;
    text-align: left;
}

#subSubList li {
    padding: 0;
    border-bottom: 1px dotted #98c10f;
}
#subSubList li.current {
    background-color: #B2CF52;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#98c10f), to(#B2CF52)); /* Konqueror */
    background-image: -moz-linear-gradient(#98c10f, #B2CF52); /* FF 3.6+ */
    background-image: -ms-linear-gradient(#98c10f, #B2CF52); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98c10f), color-stop(100%, #B2CF52)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(#98c10f, #B2CF52); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(#98c10f, #B2CF52); /* Opera 11.10 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98c10f', endColorstr='#B2CF52', GradientType=0); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#98c10f', endColorstr='#B2CF52', GradientType=0)"; /* IE8+ */
    background-image: linear-gradient(#98c10f, #B2CF52); /* the standard */
}
#subSubList h3 {
    margin: 0; padding: 0;

    font-size: 1.2em;
    font-weight: normal;
}
#subSubList h3 a {
    display: block;
    background: url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif') no-repeat scroll 10px 5px transparent; /*/media/oecdorg/styleassets/images/content/topicscountries/newsslidearrowoff.gif*/
    padding: 0 20px 0 30px;
    margin: 0;

    color: #2973bd;
    text-decoration: none;
    cursor: pointer;
}
#subSubList li.current h3 a {
    background: url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowon.gif') no-repeat scroll 10px 5px transparent; /*/media/oecdorg/styleassets/images/content/topicscountries/newsslidearrowon.gif*/
    color: #fff;
}
.subSubPane {
    background: #fff;
    float: left;
    width: 227px;
}
.subSubPane p {
    float: left;
    padding: 15px 15px 15px 30px!important;
}
.subSubPane p a.more {
    display: block;
    margin: 7px 0;
}


/* --------------------------------------------------------------

E - mainly rules regarding content typed in tinyMCE (to be refined)

-------------------------------------------------------------- */

table, td, th {
    vertical-align: top;
}


#webEditContent.block {
    background: #f9f9f9 url('/media/oecdorg/styleassets/responsive/oecd/images/components/fndwhitebox.png') top right repeat-x; /*/media/oecdorg/styleassets/images/content/fndwhitebox.png*/
    background:  -webkit-gradient(linear, 0% 0%, 0% 25%, from(#fff), to(#f9f9f9));
    /* background:  -moz-linear-gradient(0% 25%, #f9f9f9 1%, #ecf7fd 100% ); */
}
#webEditContent .right {
    float:right;
}
#webEditContent blockquotes {
    font-style: normal;
}
#webEditContent img {
    border: auto;
}

#webEditContent p {
    margin:5px 0;
    padding:0;
}
#webEditContent table {
	margin-bottom: 1.4em; width:100%;
}
#webEditContent th,td,caption {
	padding: 4px 10px 4px 5px;
}
#webEditContent ul, ol      { 
	margin: 0 1.5em 1.5em 1.5em; 
}
#webEditContent ul     { 
    list-style-type: initial;
}
/* --------------------------------------------------------------

D - legacy styles inherited from the dawn of time
	I'll have to find a way to map them to regular h2, h3, h4, h5, h6

-------------------------------------------------------------- */

.OECDTitle1, .OECDTitle2, .OECDTitle3, .OECDTitle4 {
    font-family:Georgia, "Times New Roman", Times, serif;
    margin:0;
    padding:0;
    color 	 : #000;
}

.OECDTitle1 {
    caption  : Title 1;
    font-size : 17px;
    font-style: italic;
    font-weight : bold;
    color  : #545454;
    border-bottom: 1px solid #ccc;
}

.OECDTitle2 {
    caption  : Title 2;
    font-size : 17px;
    font-weight : bold;
    color  :#675C53;
}

.OECDTitle3 {
    caption  : Title 3;
    font-size : 17px;
    font-weight : bold;
    color: #000000 !important;
}

.OECDTitle4 {
    caption  : Title 4;
    font-size : 15  px;
    font-family : Verdana;
    font-weight : bold;
}

p.OECDTitle5, li.OECDTitle5, div.OECDTitle5, a.OECDTitle5 {
    caption  : Title 5;
    font-size : 15  px;
    font-family : Verdana;
    font-weight : bold;
}

.azblock p.OECDTitle1{margin-bottom:15px;}

a.topofpage {
    display:block;
    _width:100%;
    background: url('<img src="/media/oecdorg/styleassets/responsive/oecd/images/components/top_fl1.gif" alt="" title="" style="width : 17px; height : 8px;    " />') no-repeat right top; /*<img src="/media/oecdorg/styleassets/images/content/common/top_fl1.gif" alt="" style="width : 17px; height : 8px;    " />*/
    margin: 30px 0 0 0;
    padding:3px;
    border-top: 1px solid #ccc;
    color: #fff;
}

a.topofpage:hover {
    background-color: #8d8d8d;
    color: #fff;
}

/* modal window styleing */

/* Overlays */
.ui-widget-overlay {position:absolute; top:0; background: #aaaaaa url('/media/oecdorg/styleassets/responsive/oecd/images/components/ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x; opacity: .40;filter:Alpha(Opacity=40); } /*/media/oecdorg/styleassets/images/jqueryui/ui-bg_flat_0_aaaaaa_40x100.png*/
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url('/media/oecdorg/styleassets/responsive/oecd/images/components/ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; } /*/media/oecdorg/styleassets/images/jqueryui/ui-bg_flat_0_aaaaaa_40x100.png*/

.ui-dialog { position: absolute; padding: .2em;  overflow: hidden; background:#fff; top:50px;}
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; display:block; color:#fff; margin-right:20px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

#dialog-form{border:1px solid #efefef; background:#fff; width:100% !important;}
#choose-form{margin-bottom:20px;}
#dialog-form ul{margin-bottom:0px;}
.ui-dialog #dialog-form textarea{height:100px; width:416px}
#form-1 li, #form-2 li, #form-3 li{list-style-type:none; margin:0 0 5px 0; padding:0px; clear:both;}
#form-1 label, #form-2 label, #form-3 label{width:170px; float:left; line-height:20px;}
#form-1 label.long, #form-2 label.long, #form-3 label.long{float:none; width:auto; line-height:normal;}
#form-1 input, #form-2 input, #form-3 input, #form-1 select, #form-2 select, #form-3 select, #form-1 textarea, #form-2 textarea, #form-3 textarea{width:250px; margin-top:0px; margin-bottom:3px;}
#dialog-form .button{width:100px; border:1px solid #2973BD; background:#ECF7FD; padding:5px; color:#2973BD; height:30px; float:left; margin-right:10px; cursor:pointer;}
#dialog-form .button:hover{background:#C5D7ED; color:#2973BD;}
#dialog-form a.button{height:16px; padding-top:7px; text-align:center; text-decoration:none;}
.ui-dialog .ui-dialog-titlebar{height:30px; background: -moz-linear-gradient(center bottom , #018FD0 1%, #2973BD 100%) repeat scroll 0 0 transparent;}
#dialog-form .ui-dialog .ui-dialog-titlebar-close{display:block; color:#fff; margin-right:20px; }



.Topics .contenttypeholder,
.Themes .contenttypeholder {
    width:710px; float:left;
}

.Topics .contenttypeholder-19,
.Themes .contenttypeholder-19 {
    width:750px; float:left;
}