/*ie9 font load problem fix*/
body > * {
  font-family:inherit;
}
/*ie9 font load problem fix*/

.dropdown-menu li a{
    overflow: hidden;
}

.no-space{
 padding-left:0;
 padding-right:0;
}
.no-space-left{
 padding-left:0;
}


@media (min-width: 769px){
.leftnav-sidebar-wrapper.col-sm-3 {
width: 20%;
}
.leftnav-content-wrapper.col-sm-9 {
width: 80%;
padding-left:0;
}
}

/*iphone smooth scroll*/
body, html {-webkit-overflow-scrolling: touch;}

.section {font-size: 12px;padding-bottom: 50px;}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Hide tags
 */
script , style  {
display: none !important;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

blockquote {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: rgb(17, 17, 17);
}


h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

a {
    color: rgb(41, 115, 189);
}

ul{
    list-style: none;
}

.no-padding{
    padding:0px;
}

@keyframes fade {
    0% {opacity:0;}
    50% {opacity:1;}
}

@-moz-keyframes fade { /* Firefox */
    0% {opacity:0;}
    50% {opacity:1;}
}

@-webkit-keyframes fade { /* Safari and Chrome */
    0% {opacity:0;}
    50% {opacity:1;}
}

@-o-keyframes fade { /* Opera */
    0% {opacity:0;}
    50% {opacity:1;}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.ui-dialog-custom-msg .ui-widget-header {
border: 0px solid #aaaaaa !important;
background: #2973bd !important;
color: #fff  !important;
}

.ui-dialog-custom-msg.ui-dialog {
padding: 0 !important;
}

.ui-dialog-custom-msg .ui-dialog-titlebar.ui-corner-all{
border-radius: 0px !important;
padding: .7em 1em  !important;
}

.ui-dialog-custom-msg .ui-state-hover {
	border: 1px solid #2973bd !important;
	background: #2973bd !important;
}

.ui-dialog-custom-msg .ui-widget-content ,.ui-dialog-custom-msg.ui-widget-content {
border: 0px solid #ededed !important;
}

.ui-dialog-custom-msg button {
background-color: #fff;
border: 0px solid  #2973bd;
color:#2973bd;
}

.active-menu {
webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
background-color: #ffffff;
color: #2973bd !important;
}

/*share bar on mobile fix*/
.at4m-dock-bottom {
bottom: -45px !important;
position: absolute !important;
} 

/* ==========================================================================
   collapse.css
   ========================================================================== */
.collapse-block-wrapper{
  border-top: 1px solid #1f6ba9;
  border-bottom: 1px solid #1f6ba9;
  background-color: #f3f3f3;
  padding: 0;
  margin-top: -1px;
}
.collapse-title a{
  text-decoration: none !important;
  color: #1f6ba9;
}
.collapse-body{
  margin-top: 25px;
}
.collapse-body .rsp-block-wrapper{
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
}
.collapse-block-wrapper h3.collapse-title{
  margin: 0;
  padding: 20px 10px;
  cursor: pointer;
}
h3.open{
  background-color: #ccd3e5;
  color: #f9f9f9;
}
.collapse-block-wrapper h3.open a:before{
  content: "\2212";
}
.collapse-block-wrapper h3 a:before{
  content: "\002b";
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  margin-right: 10px;
}
.collapse-block-wrapper img.sp-image{
  margin: auto !important;
}
.collapse-btn:lang(fr):before{
  content: "Tout fermer";
}
.collapse-btn:lang(en):before{
  content: "Collapse all";
}
.expand:lang(fr):before{
  content: "Tout ouvrir";
}
.expand:lang(en):before{
  content: "Expand all";
}
.collapse-expander {
  height:30px;
}
.collapse-expander a{
  float: right;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 1;
}
.collapse-expander a:hover{
  opacity: 0.7;
}
.rsp-block-wrapper .collapse-outer {
  clear: left;
}
.rsp-block-wrapper .collapse-outer:nth-of-type(1){
  clear: none;
}