/*add Flickr icon*/
.oecd-shared-footer__icon-link.oecd-shared-footer__flickr {
background: url(/media/oecdorg/styleassets/responsive/corporate/SocialButtons-flickr.png) no-repeat center;
}

/*add OECD Direct icon*/
.oecd-shared-footer__icon-link.oecd-shared-footer__oecddirect {
background: url(/media/oecdorg/styleassets/responsive/corporate/SocialButtons-mailalerts.png) no-repeat center;
}

/*! BUILD-b7482bce861b59baaf2bbbf4bd7435f1c01b5b1a */
/* line 111, ../oecd-headers-footers.sass */
.oecd-header {
  background-color: white;
  font-family: Bernini, "Bernini Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
  /* line 111, ../oecd-headers-footers.sass */
  .oecd-header {
    height: 38px;
    border-bottom: 1px solid #c3c3c3;
    background-image: -moz-linear-gradient(top, white, white 90%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, white, white 90%, #f0f0f0);
    background-image: linear-gradient(to bottom, white, white 90%, #f0f0f0);
    font-size: 14px;
  }
}

/* line 125, ../oecd-headers-footers.sass */
.oecd-header__primary,
.oecd-header__secondary {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
/* line 131, ../oecd-headers-footers.sass */
.oecd-header__primary:focus,
.oecd-header__secondary:focus {
  outline: 0;
}

@media only screen and (min-width: 768px) {
  /* line 134, ../oecd-headers-footers.sass */
  .oecd-header__primary {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  /* line 140, ../oecd-headers-footers.sass */
  .oecd-header--primary-hidden .oecd-header__primary {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
}
/* line 143, ../oecd-headers-footers.sass */
.oecd-header__logo-and-toggle {
  border-bottom: 1px solid #99bcd4;
}
@media only screen and (min-width: 768px) {
  /* line 143, ../oecd-headers-footers.sass */
  .oecd-header__logo-and-toggle {
    padding-right: 0;
  }
}

/* line 151, ../oecd-headers-footers.sass */
.oecd-header__logo {
  float: left;
  width: 110px;
  height: 46px;
  /*logo-oecd-mobile@2x.png*/
  background: url(/media/oecdorg/styleassets/responsive/corporate/logo-oecd-mobile@2x.png) center/110px no-repeat;
}
@media only screen and (min-width: 768px) {
  /* line 151, ../oecd-headers-footers.sass */
  .oecd-header__logo {
    float: none;
    width: 100%;
    height: 38px;
    /*logo-oecd-short@2x.png*/
    background: url(/media/oecdorg/styleassets/responsive/corporate/logo-oecd-short@2x.png) left center/35px no-repeat;
  }
}

/* line 166, ../oecd-headers-footers.sass */
.oecd-header__primary-toggle {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  border: 0;
  padding: 0;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  /* line 166, ../oecd-headers-footers.sass */
  .oecd-header__primary-toggle {
    display: none;
  }
}

/* line 181, ../oecd-headers-footers.sass */
.oecd-header__menu-open {
  display: none;
  margin: auto;
  width: 20px;
  height: 15px;
  border-top: 9px double #0b71b0;
  border-bottom: 3px solid #0b71b0;
}

/* line 190, ../oecd-headers-footers.sass */
.oecd-header__menu-close {
  display: block;
  color: #0b71b0;
  font-size: 40px;
  line-height: 45px;
}

/* line 197, ../oecd-headers-footers.sass */
.oecd-header--primary-hidden .oecd-header__menu-open {
  display: block;
}
/* line 199, ../oecd-headers-footers.sass */
.oecd-header--primary-hidden .oecd-header__menu-close {
  display: none;
}

/* line 204, ../oecd-headers-footers.sass */
.oecd-header__item {
  position: relative;
  min-height: 46px;
  border-bottom: 1px solid #99bcd4;
}
@media only screen and (min-width: 768px) {
  /* line 204, ../oecd-headers-footers.sass */
  .oecd-header__item {
    min-height: 1px;
    border-bottom: 0;
  }
}

/* line 215, ../oecd-headers-footers.sass */
.oecd-header__current-page,
.oecd-header__link {
  display: block;
  margin: 0 -15px;
  padding: 11px 15px 10px;
  line-height: 25px;
  color: #11629a;
}
@media only screen and (min-width: 768px) {
  /* line 215, ../oecd-headers-footers.sass */
  .oecd-header__current-page,
  .oecd-header__link {
    margin: 0;
    padding: 10px 0 8px;
    line-height: 20px;
  }
}

/* line 234, ../oecd-headers-footers.sass */
.oecd-header__link:hover, .oecd-header__link:focus {
  color: #428bca;
}
/* line 237, ../oecd-headers-footers.sass */
.oecd-header__link:focus {
  outline: 1px solid rgba(11, 113, 176, 0.35);
}

/* line 243, ../oecd-headers-footers.sass */
.oecd-header__item--active {
  font-weight: bold;
  background-color: #eef4f8;
}
@media only screen and (min-width: 768px) {
  /* line 243, ../oecd-headers-footers.sass */
  .oecd-header__item--active {
    height: 38px;
    border-style: none solid;
    border-width: 1px;
    border-color: #c3c3c3;
  }
}
@media only screen and (min-width: 768px) {
  /* line 255, ../oecd-headers-footers.sass */
  .oecd-header--bg-white .oecd-header__item--active {
    background-color: white;
  }
  /* line 257, ../oecd-headers-footers.sass */
  .oecd-header--bg-light-blue .oecd-header__item--active {
    background-color: #eef4f8;
  }
  /* line 259, ../oecd-headers-footers.sass */
  .oecd-header--bg-dark-blue .oecd-header__item--active {
    background-color: #1b67b5;
  }
}

@media only screen and (min-width: 768px) {
  /* line 265, ../oecd-headers-footers.sass */
  .oecd-header--bg-dark-blue .oecd-header__current-page {
    color: white;
  }
}
/* line 271, ../oecd-headers-footers.sass */
.oecd-header__secondary {
  background-color: white;
}
@media only screen and (min-width: 768px) {
  /* line 271, ../oecd-headers-footers.sass */
  .oecd-header__secondary {
    position: absolute;
    left: -1px;
    right: -1px;
    border-style: none solid solid;
    border-width: 1px;
    border-color: silver;
    font-size: 12px;
    text-align: left;
  }
  /* line 285, ../oecd-headers-footers.sass */
  .oecd-header__secondary:focus {
    outline: 1px solid rgba(11, 113, 176, 0.35);
  }
}
@media only screen and (min-width: 992px) {
  /* line 271, ../oecd-headers-footers.sass */
  .oecd-header__secondary {
    font-size: 14px;
  }
}

/* line 292, ../oecd-headers-footers.sass */
.oecd-header__secondary-toggle {
  color: #0c456c;
}

/* line 297, ../oecd-headers-footers.sass */
.oecd-header__secondary-toggle:after {
  content: "\25BC";
  float: right;
}

@media only screen and (min-width: 768px) {
  /* line 301, ../oecd-headers-footers.sass */
  .oecd-header__secondary-link {
    padding: 6px 15px;
  }
}

/* line 307, ../oecd-headers-footers.sass */
.oecd-header__secondary-item-first {
  border-top: 1px solid #99bcd4;
}
@media only screen and (min-width: 768px) {
  /* line 307, ../oecd-headers-footers.sass */
  .oecd-header__secondary-item-first {
    border-top: 0;
  }
}

/* line 313, ../oecd-headers-footers.sass */
.oecd-header__secondary-item-last {
  border-bottom: 0;
}

@media only screen and (min-width: 768px) {
  /* line 318, ../oecd-headers-footers.sass */
  .oecd-header__secondary-container--active {
    z-index: 203;
    background-color: white;
    border-right: 1px solid silver;
  }
}
/* line 328, ../oecd-headers-footers.sass */
.oecd-header__secondary-container--active .oecd-header__secondary-toggle:after {
  content: "\25B2";
}

/* line 335, ../oecd-headers-footers.sass */
.oecd-institutional-footer,
.oecd-shared-footer {
  font-size: 85%;
}
@media only screen and (min-width: 768px) {
  /* line 335, ../oecd-headers-footers.sass */
  .oecd-institutional-footer,
  .oecd-shared-footer {
    font-size: 100%;
  }
}

/* line 345, ../oecd-headers-footers.sass */
.oecd-institutional-footer {
  padding: 10px 0;
  background-color: #eef4f8;
  font-family: Caecilia, Georgia, serif;
  color: #0b71b0;
}

/* line 351, ../oecd-headers-footers.sass */
.oecd-institutional-footer__name {
  font-size: 18px;
  line-height: 20px;
}

/* line 355, ../oecd-headers-footers.sass */
.oecd-institutional-footer__link {
  display: block;
}

/* line 361, ../oecd-headers-footers.sass */
.oecd-shared-footer {
  padding: 20px 0;
  font-family: Bernini, "Bernini Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}
/* line 366, ../oecd-headers-footers.sass */
.oecd-shared-footer a {
  color: white !important;
}

/* line 369, ../oecd-headers-footers.sass */
.oecd-shared-footer--dark {
  background-color: #343434;
}

/* line 372, ../oecd-headers-footers.sass */
.oecd-shared-footer--light {
  background-color: #0f629a;
}

/* line 53, ../oecd-headers-footers.sass */
.oecd-shared-footer__logo-and-copyright:before, .oecd-shared-footer__logo-and-copyright:after {
  content: "";
  display: table;
}
/* line 57, ../oecd-headers-footers.sass */
.oecd-shared-footer__logo-and-copyright:after {
  clear: both;
}
/* line 59, ../oecd-headers-footers.sass */
.oecd-shared-footer__logo-and-copyright {
  zoom: 1;
}

/* line 378, ../oecd-headers-footers.sass */
.oecd-shared-footer__logo {
  margin-bottom: 10px;
  width: 152px;
  height: 40px;
  /*logo-oecd-footer.png*/
  background: url(/media/oecdorg/styleassets/responsive/corporate/logo-oecd-footer.png) no-repeat center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  /* line 385, ../oecd-headers-footers.sass */
  .oecd-shared-footer__logo {
    /*logo-oecd-footer@2x.png*/
    background-image: url(/media/oecdorg/styleassets/responsive/corporate/logo-oecd-footer.png);
    background-size: contain;
  }
}
@media only screen and (min-width: 768px) {
  /* line 389, ../oecd-headers-footers.sass */
  .oecd-shared-footer__copyright {
    font-size: 100%;
  }
}
/* line 394, ../oecd-headers-footers.sass */
.oecd-shared-footer--dark .oecd-shared-footer__copyright {
  color: #a4a1a1;
}
/* line 397, ../oecd-headers-footers.sass */
.oecd-shared-footer--light .oecd-shared-footer__copyright {
  color: #cacaca;
}

@media only screen and (min-width: 768px) {
  /* line 402, ../oecd-headers-footers.sass */
  .oecd-shared-footer__copyright-first,
  .oecd-shared-footer__copyright-second {
    display: block;
  }
}
/* line 406, ../oecd-headers-footers.sass */
.oecd-shared-footer__links,
.oecd-shared-footer__icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 53, ../oecd-headers-footers.sass */
.oecd-shared-footer__links:before, .oecd-shared-footer__links:after,
.oecd-shared-footer__icons:before,
.oecd-shared-footer__icons:after {
  content: "";
  display: table;
}
/* line 57, ../oecd-headers-footers.sass */
.oecd-shared-footer__links:after,
.oecd-shared-footer__icons:after {
  clear: both;
}
/* line 59, ../oecd-headers-footers.sass */
.oecd-shared-footer__links,
.oecd-shared-footer__icons {
  zoom: 1;
}

/* line 413, ../oecd-headers-footers.sass */
.oecd-shared-footer__link-item {
  margin-bottom: 10px;
}

/* line 416, ../oecd-headers-footers.sass */
.oecd-shared-footer__link {
  display: block;
}

/* line 419, ../oecd-headers-footers.sass */
.oecd-shared-footer__social-media {
  clear: both;
  padding-top: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 419, ../oecd-headers-footers.sass */
  .oecd-shared-footer__social-media {
    clear: none;
    padding-top: 0;
  }
}

/* line 427, ../oecd-headers-footers.sass */
.oecd-shared-footer__icon {
  float: left;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  /* line 427, ../oecd-headers-footers.sass */
  .oecd-shared-footer__icon {
    margin-bottom: 5px;
  }
}

/* line 434, ../oecd-headers-footers.sass */
.oecd-shared-footer__icon-link {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  opacity: 0.85;
  transition: opacity 300ms;
  width: 35px;
  height: 35px;
  /*social-buttons.png*/
  background: url(/media/oecdorg/styleassets/responsive/corporate/social-buttons.png) no-repeat center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  /* line 434, ../oecd-headers-footers.sass */
  .oecd-shared-footer__icon-link {
    /*social-buttons@2x*/
    background-image: url(/media/oecdorg/styleassets/responsive/corporate/social-buttons@2x.png);
    background-size: 35px 175px;
  }
}
/* line 447, ../oecd-headers-footers.sass */
.oecd-shared-footer__icon-link:hover {
  opacity: 1;
}

/* line 450, ../oecd-headers-footers.sass */
.oecd-shared-footer__facebook {
  background-position: 0 0px;
}

/* line 452, ../oecd-headers-footers.sass */
.oecd-shared-footer__twitter {
  background-position: 0 -35px;
}

/* line 454, ../oecd-headers-footers.sass */
.oecd-shared-footer__youtube {
  background-position: 0 -70px;
}

/* line 456, ../oecd-headers-footers.sass */
.oecd-shared-footer__linkedin {
  background-position: 0 -105px;
}

/* line 458, ../oecd-headers-footers.sass */
.oecd-shared-footer__rss {
  background-position: 0 -140px;
}