/*oecd custom header menu*/
/*oecd custom header menu top*/
.oecd-menu-top {
  height: 99px;
}

.oecd-body {
  overflow-x: hidden;
}

.oecd-menu-logo {
  height: 100%;
  min-width: 210px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 15px;
}

.oecd-menu-logo-en {
  /*logooecd_en.png*/
  background-image: url(/media/oecdorg/styleassets/responsive/menu/images/logooecd_en.png);
}

.modernizrno-backgroundsize .oecd-menu-logo-en {
  /*ie8 fix*/
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='/media/oecdorg/styleassets/responsive/menu/images/logooecd_en.png',
    sizingMethod='scale');
}

.oecd-menu-logo-fr {
  /*logooecd_fr.png*/
  background-image: url(/media/oecdorg/styleassets/responsive/menu/images/logooecd_fr.png);
}

.modernizrno-backgroundsize .oecd-menu-logo-fr{
  /*ie8 fix*/
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='/media/oecdorg/styleassets/responsive/menu/images/logooecd_fr.png',
  sizingMethod='scale');
}

/*oecd custom header search*/
.oecd-search-wrapper {
  height: 100%;
}

.oecd-search {
  background: #8CC841;
  height: 100%;
  position: relative;
}

.oecd-search-before {
  height: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 80px;
  border-color: transparent transparent #8CC841 transparent;
}

.oecd-search-after {
  background: #8CC841;
  height: 100px;
  position:absolute;
  left:50%;
  right:0;
  margin-left:560px;
}

.oecd-search-wrapper .navbar-form {
  padding: 0;
}

.search-a-z-link {
  margin-top: 15px;
}

.btn-search {
  color: #ffffff;
  background-color: #11629A;
  border-color: #11629A;
  min-height: 33px;
}

.btn-search-light {
  color: #ffffff;
  background-color: #578FB8;
  border-color: #578FB8;
  min-height: 34px;
}

.btn-search .active, .btn-search .focus, .btn-search:active, .btn-search:focus, .btn-search:hover {
  color: #ffffff;
  background-color: #11629A;
  border-color: #11629A;
}

.btn-search-light .active, .btn-search-light .focus, .btn-search-light:active, .btn-search-light:focus, .btn-search-light:hover {
  color: #ffffff;
  background-color: #578FB8;
  border-color: #578FB8;
}

.oecd-menu .btn-search .glyphicon {
  font-size: 15px;
}
/*oecd custom header menu bottom*/
.oecd-menu--bg-dark-blue .navbar-default {
  background-color: #11629A;
  border: 0;
  border-radius: 0;
  min-height: 0;
}

.oecd-menu .navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .active > a, 
.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .active > a:hover, 
.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .active > a:focus {
  color: #11629A;
  background-color: #ffffff;
}

.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.oecd-navbar .nav>li>a {
  padding: 8px 20px;
  line-height: 25px;
}

.oecd-main-nav.nav>li>a {
  font-size: 19px;
  min-width: 150px;
  text-align: center;
}

.oecd-navbar.navbar-default .navbar-nav>.open>a,
.oecd-navbar.navbar-default .navbar-nav>.open>a:focus,
.oecd-navbar.navbar-default .navbar-nav>.open>a:hover {
  color: #11629A;
  background-color: #ffffff;
}

.oecd-menu .glyphicon {
  font-size: 10px;
}

.oecd-menu-bottom-wrapper .glyphicon {
  color: #8FB4CF;
}

.icon-before {
  margin-left: 7px;
}

.icon-after {
  margin-right: 3px;
}
/*oecd custom header menu dropdown*/ 
.custom-dropdown-wrapper {
  position: relative;
}

.oecd-main-nav.navbar-nav>li {
  position: static;
}

.oecd-main-nav .dropdown-menu {
  position: absolute;
  left: -1px;
  right: -1px;
  padding: 20px;
  border-top: 0;
}

.oecd-main-nav .dropdown-menu li {
  text-decoration: none;
  font-size: 11px;
  color: #666;
  padding: 7px 5px;
  list-style: none;
}

.oecd-main-nav .dropdown-menu li>a {
  text-decoration: none;
  font-size: 11px;
  color: #666;
}

.oecd-main-nav .dropdown-menu li>a .glyphicon {
  color: #999;
}

.oecd-main-nav .dropdown-menu li:hover {
  background-color: #ededed;
}

.oecd-main-nav .dropdown-menu li:hover>a {
  color: #11629A;
}

.oecd-main-nav .dropdown-menu li:hover>a .glyphicon {
  color: #11629A;
}
/*for topics*/
.col-4-dropdown>.col-sub-dropdown {
  float: left;
  width: 25%;
}
/*for country*/
.oecd-main-nav .dropdown-menu.col-6-dropdown {
  padding: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.col-6-dropdown>.dropdown-tab {
  float: left;
  width: 16.6%;
}

.oecd-main-nav .col-6-dropdown.dropdown-menu li.dropdown-tab>a {
  text-decoration: none;
  font-size: 15px;
  color: #11629A;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  margin-top: 10px;
}

.oecd-main-nav .dropdown-menu li.dropdown-tab:hover {
  background-color: transparent;
}

.col-6-dropdown.dropdown-menu>li.dropdown-tab>a:focus, .col-6-dropdown.dropdown-menu>li.dropdown-tab>a:hover {
  color: #ffffff;
  background-color: #8FB4CF;
}

.col-6-dropdown>.dropdown-tab .dropdown-sub-tab {
  display: none;
  border-top: 1px solid #ededed;
  position: absolute;
  left: -1px;
  right: -1px;
  padding: 20px;
  margin-top: 13px;
  position: absolute;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.col-6-dropdown>.dropdown-tab .dropdown-sub-tab>div {
  float: left;
  width: 20%;
}

.col-6-dropdown>.dropdown-tab:hover .dropdown-sub-tab {
  display: block;
}

/*oecd custom header menu*/ 

/*responsive-mobile*/
.xs-menu-navbar .navbar-header {
  padding: 8px 0px;
}

.xs-menu-navbar .navbar-toggle {
  margin: 0px;
  border-color: transparent;
  padding: 0 10px;
}

.xs-menu-navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

.xs-menu-navbar .navbar-toggle:focus, .xs-menu-navbar .navbar-toggle:hover {
  background-color: transparent;
}

.xs-menu-navbar .page-name {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-top: 2px;
}

.xs-menu-navbar .lang-nav {
  list-style: none;
  margin: 0px;
  margin-top: 7px;
  margin-right: 5px;
}

.xs-menu-navbar .lang-nav a {
  color: #ffffff;
}
.lang-nav .glyphicon {
position: absolute;
top: 16px;
left: 5px;
}
.lang-nav li{
position:relative;
}
.xs-menu-navbar .lang-nav .glyphicon {
position: absolute;
top: 5px;
left: 0px;
}
.xs-menu-navbar .lang-nav a {
margin-left:15px;
}

.oecd-menu-bottom-wrapper .xs-menu-navbar .btn-search .glyphicon {
  color: #ffffff;
}

.navbar-default .xs-menu-navbar .navbar-collapse {
  border-color: #578FB8;
}

.navbar-default .xs-menu-navbar .navbar-form {
  border: 0;
  box-shadow: none;
  display: inline-block;
  width: 100%;
}

.xs-navbar-nav {
  margin: 0px;
}

.xs-navbar-nav li a {
  padding: 8px 20px;
  border-bottom: 1px solid #578FB8;
}

.xs-navbar-nav li.current-page a {
  background-color: #578FB8;
  font-weight: bold;
}

.navbar-default .xs-navbar-nav li a {
  padding: 7px 10px;
}

.navbar-default .xs-navbar-nav>li:hover>a {
  background-color: #578FB8;
  border-color: #11629A;
}

.oecd-menu .xs-menu-navbar .navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.oecd-menu .xs-navbar-nav .glyphicon {
  font-size: 15px;
  margin-top: 5px;
  margin-right: 5px;
  color: #fff;
}

.oecd-navbar.navbar-default .xs-navbar-nav.navbar-nav>.open>a,
.oecd-navbar.navbar-default .xs-navbar-nav.navbar-nav>.open>a:focus,
.oecd-navbar.navbar-default .xs-navbar-nav.navbar-nav>.open>a:hover {
  color: #ffffff;
  background-color: #578FB8;
}

.xs-navbar-nav.navbar-nav .open .dropdown-menu {
  color: #ffffff;
}

.navbar-default .xs-navbar-nav.navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
}

/*menu icon*/
.xs-menu-navbar .navbar-toggle .oecd-menu_close {
  display: block;
}

.xs-menu-navbar .navbar-toggle.collapsed .oecd-menu_close {
  display: none;
}

.xs-menu-navbar .navbar-toggle .oecd-menu_open {
  display: none;
}

.xs-menu-navbar .navbar-toggle.collapsed .oecd-menu_open {
  display: block;
}

.oecd-menu_open {
  margin: auto;
  margin-top: 8px;
  width: 20px;
  height: 15px;
  border-top: 9px double #ffffff;
  border-bottom: 3px solid #ffffff;
}

.xs-menu-navbar .navbar-toggle {
width:45px;
}
.oecd-menu_close {
  color: #ffffff;
  font-size: 40px;
  margin-top:-4px;
  position: relative;
  line-height: 1;
  height:35px;
}
.oecd-header__menu-close {
margin-top:-4px;
position: relative;
line-height: 1;
height:35px;
}
/*search icon*/
.xs-menu-navbar .btn-search .search_close {
  display: block;
}

.xs-menu-navbar .btn-search.collapsed .search_close {
  display: none;
}

.xs-menu-navbar .btn-search .search_open {
  display: none;
}

.xs-menu-navbar .btn-search.collapsed .search_open {
  display: block;
}

.search_open {
  width: 20px;
  height: 22px;
  line-height: 22px;
}

.search_close {
  color: #ffffff;
  font-size: 40px;
  height: 22px;
  width: 20px;
  line-height: 22px;
}


.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .passive > a, 
.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .passive > a:hover, 
.oecd-menu--bg-dark-blue .navbar-default .navbar-nav > .passive > a:focus {
  color: #ffffff !important;
  background-color: #11629A  !important;
}

/*Autocomplete*/

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #11629A;
  cursor:pointer;

}

.tt-suggestion p {
  margin: 0;
}

.xs-menu-navbar .twitter-typeahead {
  width: 100%;
}

.xs-menu-navbar .navbar-collapse.in {
overflow-y: visible;
}

@media (min-width: 992px) and (max-width: 1224px){
.oecd-search-after {
margin-left: 450px;
}
}
@media (min-width: 767px) and (max-width: 991px) {
.oecd-search-after {
margin-left: 350px;
}
}
