/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " " !important;
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /* Don't show links for images, or javascript/internal links */
    
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .block-content {
        visibility: visible !important;
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
        opacity: 1 !important;
        height: 200px;
    }
    .block-content figure {
        width: 250px !important;
        margin-right: 15px !important;
        float: left !important;
    }
    .block-card-vertical {
        height: auto !important;
    }
    .block-card-vertical * {
        height: auto !important;
    }
    .oecd-menu-top {
        margin-top: 20px;
    }
    .leftnav-content-wrapper {
        width: 100% !important;
    }
    .block-card .block-content {
        display: none;
    }
    .block-card ul li {
        display: inline-block !important;
        margin-bottom: 20px;
    }
    .newstop .block-h-center,
    .block-card ul li .block-h-center {
        float: left !important;
        width: 30% !important;
    }
    .newstop .spacer-left,
    .block-card ul li .spacer-left {
        float: right!important;
        width: 70% !important;
    }
    .block-card ul li h3 a {
        width: 100% !important;
        margin: 0 !important;
        float: none !important;
        padding: 0px !important;
    }
    .block-card ul li > a {
        display: none;
    }
    .block-card ul li div {
        display: block !important;
    }
    .newstop > .row {
        border-bottom: 0px !important;
    }
    .sub-topic-home .block-card-large ul.green li {
        border: none !important;
    }
    .sub-topic-home .block-card-large ul a {
        font-size: 16px;
        font-weight: bold;
        padding: 0 !important;
    }
    .sub-topic-home .block-card-large ul {
        width: 100% !important;
    }
    .sub-topic-home .block-card-large ul li {
        height: auto !important;
    }
    .sub-topic-home .block-card-large ul.green li.selected {
        background-image: none !important;
        background: none !important;
        background-color: none !important;
    }
    #webEditContent table table span > a,
    #webEditContent table table img + a {
        display: inline-block !important;
    }
    #webEditContent table table td a:first-child {
        display: inline-block !important; 
        width: 100%;
        float: left;
    }
    .document td {
        min-width: 140px;
        border: none !important;
    }
    #webEditContent table table hr + * + *,
    #webEditContent table table hr + *,
    #webEditContent table table a,
    .sub-topic-home .block-content,
    .paginate,
    .newsroom-lists + .block,
    .newsroom-lists .news-col + *,
    .newstop .row + .row,
    .block-more,
    .newslogin,
    .blue-block ul + *,
    .blue-block ul + * + *,
    .block-link,
    .leftnav-sidebar-wrapper,
    .oecd-search-wrapper,
    ul.newslist,
    footer.oecd-footer,
    .oecd-menu-bottom-wrapper,
    .block-footer,
    iframe,
    .oecd-header {
        display: none !important;
    }
    .equal-block-item {
        float: left !important;
        width: 100% !important;
        display: block;
    }
}