/*responsive design overwrite 09.07.2014*/

@font-face {
  font-family: CustomIcons;
  src: url(/media/oecdorg/styleassets/responsive/oecd/fonts/fontella-icons/fontello.eot);
  src: url(/media/oecdorg/styleassets/responsive/oecd/fonts/fontella-icons/fontello.eot?#iefix) format('embedded-opentype'),
       url(/media/oecdorg/styleassets/responsive/oecd/fonts/fontella-icons/fontello.woff) format('woff'),
       url(/media/oecdorg/styleassets/responsive/oecd/fonts/fontella-icons/fontello.ttf) format('truetype'),
       url(/media/oecdorg/styleassets/responsive/oecd/fonts/fontella-icons/01_ifc_wb.pdf#glyphicons_halflingsregular) format('svg');
}

.block-card-vertical li.selected .block-content {
border: 0px solid #dddddd !important;
}

.block-card-vertical h3 {
background-image:none;
position:relative;
}

.block-card-vertical li:not(.selected) h3:after {
font-family: CustomIcons;
content: '1';
position:absolute;
right:10px;
font-size:20px;
}


.block-list li a {
background-image:none;
}
.block-list li a:hover {
background-image:none;
}

.block-list li {
position:relative;
margin-bottom: 0px;
}

.block-list li a{
margin-bottom: 10px;
}

.block-list li a:before {
font-family: CustomIcons;
content: 'uu';
font-weight:800;
letter-spacing:-2px;
font-size:9px;
position:absolute;
left:0;
top:0;
margin-top:3px;
color:#2973bd;
}
.block-list li a:hover:before {
color:rgb(51,51,51);
}


li a:empty
{
    display:none !important
}

.block-list li:hover:before{
color:#555;
}

.block-list li a {
padding-left:20px;
}

.block-list p {
margin-top:5px;
padding: 0px 0px 0px 20px;
}


.block-list span.date {
margin-top:5px;
padding: 0px 0px 0px 20px;
text-decoration: none;
font-size: 0.8em;
color: rgb(119, 119, 119);
}

.block-link {
background-image:none;
padding-left: 0px;
text-decoration : none !important;
}

.block-link:hover {
color : #555;
}

.block-link span {
text-decoration : underline;
}


.block-link:before {
font-family: CustomIcons;
content: 'uu';
font-weight:800;
letter-spacing:-2px;
font-size:9px;
padding-right:8px;
}

#___gcse_0 {
margin-top: -10px;
}

#gs_id50{
width: 100% !important;
}


.navbar-header .dropdown-toggle {
position: relative;
float: right;
margin-right: 10px;
margin-top: 8px;
}

.main-nav-xs .navbar-header .dropdown-menu img {
margin: 0px;
margin-right:5px !important;
width: 22px;
height: auto;
}

.dropdown-menu li a {
text-align:left;
}

.dropdown-menu li a {
padding:5px 5px;
}

.block h2{
max-width:100%;
}

.illustration {
max-width:100%;
}

.input-group-btn button:focus{z-index:2;}

object embed{
max-width:100%;
}


.ui-dialog-custom-form.ui-dialog {
min-height:600px;
}


/* media query 950*/
@media screen and (max-width: 950px){
    
.block-footer {
padding: 15px 20px 20px;
}

}

/* end of media query 950*/

/* media query 784*/
@media screen and (max-width: 784px){

.block-image {
max-width: 100%;
width: auto;
height:auto;
margin-bottom: 10px;
max-height:200px;
}

.block-footer ul li {
margin-right: 0px;
width: 50%;
}

.block-footer ul li h4{
margin-right: 0px;
width: 98%;
}

.block-footer ul li h4 {
margin: 0px 0 ;
}

}

/* end of media query 784*/

/* media query 768*/
@media screen and (max-width: 767px){

.oecd-popup .modal-dialog {
  margin: 20px;
}
  
.spacer-left {
padding-left: 15px;
}
.equal-blocks{
display:block;
width:100%;
}
.equal-block-item{
display:block;
width:100%;
}
  
.equal-block-item>.block{
height:auto !important;
}

.block-card-vertical .block-content-wrapper {
margin-bottom:10px;
}
  
  #viz-controls {
width: 100% !important;
position:relative !important;
}
#viz-controls-sticky-wrapper{
height:auto !important;
}
.dyn-right{
margin:10px;
}

.visuals{
height:auto !important;
}
.visuals .item{
width: 49% !important;
margin-right:1% !important;
position:relative !important;
height:300px;
-webkit-transform:translate3d(0px, 0px, 0px) !important;
}
.visuals .item a{
width: 100% !important;
}
.visuals .item a p{
visibility:visible !important;
}


.block-card-large li{
padding:5px 10px !important;
}
.panel-body{padding:0px 15px;}

.panel-body .block-link{margin-bottom:10px;}

.footer-header {
float: left;
width: 100%;
margin-left: 0% !important;
}

.footer-header li {
width: 100% !important;
}

#c , #heading
{margin-bottom:10px;}

  
/*fony family*/

/*reset old*/
.block-card-large li h3 {
background: none;
}
.block-card-large li.selected h3 {
background: none;
}

.block-card-large li h3 a {
background: none;
padding:0 !important;
}

.block-card-large li.selected h3 a {
background: none;
padding:0 !important;
}


.block-card-large ul.green li {
border-bottom-color: rgb(152, 193, 15);
}

.block-card-large li h3 {
margin:5px;
padding:0 !important;
}

.block-card-large li.selected h3 {
margin:5px;
padding:0 !important;
}

.block-card-large ul.green li {
border-bottom-color: #ddd;
}

/*end reset old*/

.block-card-large li .panel-heading {
line-height:20px;
}

.block-card-large li:hover {
background-color:#efefef ;
}

.block-card-large ul.green li.selected {
background:none;
background-color:#efefef;
}


.block-card-large li .panel-heading:before {
font-family: CustomIcons;
content: 'u';
padding-right:10px;
}

.block-card-large li.more{
background:#f6f6f6;
}

.block-card-large li.more .panel-heading:before {
content:'u';
}

.block-card-large li.open .panel-heading:before {
content: 't';
}


/*fonyt fammily end */

.header-search{
margin-top:5px;
margin-bottom:16px;
}

.header-tools.hidden-xs {
display:inline-block !important;
}

.header-button-group , .header-tools.hidden-xs a:not(.gsst_a){
display:none !important;
}


.header-tools {
 margin-top: 5px;
 margin-bottom: -10px;
}

.header-tools {
float: none;
width:96% !important;
margin-left:2%;
}

.header-tools table {
table-layout: auto;
word-break: break-all
}

.gcsc-branding table{
table-layout: auto;
}

.span-6{
width:100%;
margin-right:0%;
}

.span-7.last{
width:100%;
}


#cPhotos .legalInfos {
width: 100%;

}

#cPhotos #wrapper {
width: 100%;

}

#flkr {
width: 100% !important;
}

.morebg {
width: 100% !important;
}


.nav-side ul {
float: right;
width: 100%;
margin-right: 0%;
border:1px solid #ddd !important;
}

.nav-side a {
background-position:5px 50%;
padding: 10px 0px 10px 20px;
}

.block-footer ul li {
width: 100%;
}

.block-footer ul li h4{
width: 100%;
}


#heading h1 {
padding-bottom:14px;
text-align:center;
border-bottom:1px solid #ddd;
}

body{padding:0px;}

/*menu icon*/
.navbar-toggle {
margin-right: 10px;
}

.breadcrumb{padding:8px 10px;}

.block {
background: transparent !important;
border-color:  transparent !important;
display:block;
}

.no-margin-xs {
padding-right:0px ;
padding-left:0px ;
}

.list-group-item {
padding: 10px 0px;
}

.block h2 span {
background:  #fff  !important;
}

figcaption{
padding: 5px 0px !important;
}

.block-card-large figure {
text-align:center;
}

.block-card-large figure img {
max-width:100%;
height:auto;
}


.block-card-vertical li.selected .block-content{
    border:1px solid #dddddd;
}


.keyissue-statistics {
background: transparent !important;
}

.keyissue{
width: 48% !important;
height: auto !important;
float:left;
min-height:150px;
}

.keyissue img{
 max-width: 100% !important;
}

.search-bar .dropdown-menu>li{
padding:5px 0;
}

.search-bar .dropdown-menu>li.divider{
padding:0;
margin: 0;
margin-bottom: 5px;
}

.search-bar .dropdown-menu>li>a{
font-size: 13px;
}

.search-bar .dropdown-menu>li>a img{
margin-top: -10px;
margin-bottom: -3px;
padding: 7px 5px 0px 0px;
float: left;
}

.keyissue p {
padding-left:0;
}

.btn-group  {
margin:2px 0;
}

.sliderContainer {
height: 100%  !important;
}
.sliderContainer .wrapper {
float: none !important;
}
.sliderContainer p.intro {
width: 100% !important;
margin-top:20px;
}
.sliderContainer #moreViz {
position: relative  !important;
width: 100% !important;
top:0 !important;
}

.focusList {
width: 100%;
}

.block-card-large ul {
position: relative;
width: 40%;
float: left;
margin: 0;
}

.contact-us-link {
margin: 0px 15px 20px 15px;
}
  
.ui-dialog-custom-form.ui-dialog {
padding: 0;
max-width: 100%;
top:50px !important;
left:0 !important;
right:0 !important;
width:auto !important;
margin-top:0px;
margin-left:0px;
}


.block-card-large  {
height:auto !important;
}
.block-card-large .block-content {
display:none !important;
}
.subTopicWN .block-card-large ul {
width: 100%;
}
.block-card-large ul {
position: relative;
width: 100%;
float: left;
margin: 0;
}
.equal-blocks {
height: auto !important;
}
.block-card-vertical>ul>li.selected {
height: auto !important;
}
.block-card-vertical ,.block-card-vertical li.selected .block-content {
height: auto !important;
}
.block-card-large ul li {
display: inline-block;
width:100%;
height: auto !important;
}

.main-footer>ul{
background: #fafafa;
}

.main-footer>ul>li a {
font-size: 1.2em;
}

.main-footer li.col-xs-6 {
width: 35%;
}

.main-footer>ul>li:first-child{
width: 30%;
height:70px;
}

.main-footer>ul>li:last-child {
width: 100%;
}

.main-footer>ul>li:first-child a{
font-size: .8em;
color:#777;
}

.nav-side a {
padding: 10px;
}

.nav-side li {
border-top: 0px solid rgb(164, 178, 191);
}

.nav-side ul {
border: 0px solid #ddd !important;
}

.nav-side li:last-of-type {
border-bottom: 0px solid rgb(164, 178, 191);
}

.nav-side ul li a {
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

.nav-side ul li:last-child a {
border-bottom: 1px solid #ddd;
}


.nav-side ul li .currentbranch0 a {
border-top: 1px solid rgb(41, 115, 189);
border-left: 1px solid rgb(41, 115, 189);
border-right: 1px solid rgb(41, 115, 189);
}


.nav-side ul li:last-child .currentbranch0 a {
border-bottom: 1px solid rgb(41, 115, 189);
}

  .newsroom-lists {
display:inline-block;
margin-left: 0px;
margin-right: 0px;
margin-top:0;
}
.newsroom-lists .news-col{ 
display:inline-block;
width:100%;
margin-top:0;
padding-bottom:0;
}
.morebttm {
position: relative !important;
bottom: 0px;
right: 0px; 
left: 0px; 
}
  
}

/* end of media query 768*/




/* media query 600*/
@media screen and (max-width: 600px){

.illustration {
float: none;
margin-bottom: 10px;
}

#lastNews ul.linkList li {
float: left;
margin: 0 0% 10px 0%;
width: 100%;
}

table {
table-layout:fixed;
}
  
table.dSubHp  {
table-layout:auto;
word-wrap:break-word;
}

table.dataTable thead th {
width:auto !important;
}

table.dataTable td {
padding: 10px 5px !important;
}

.dataTables_info {
top: 25px !important;
right: auto  !important;
}

.dataTable{
margin-top: 50px !important;
}

.dataTables_filter {
float: none !important;
text-align: left  !important;
}

}

/* end of media query 600*/

/* media query 467*/
@media screen and (max-width: 467px){
  
.visuals .item{
width: 100% !important;
margin-right:0% !important;
height:200px;
}
  
.box {
  display:inline-block;
}
  
  
.flex-item {
margin-right:0px;
margin-bottom:10px;
}

.flex-item:last-of-type {
margin-right:0px;
margin-bottom:0px;
}
  
#choose-form , #form-1 input, #form-2 input, #form-3 input, #form-1 select, #form-2 select, #form-3 select, #form-1 textarea, #form-2 textarea, #form-3 textarea {
width:100%;
}

.main-footer>ul>li a {
text-align:left;
padding:10px;
}

.main-footer li.col-xs-6 {
width: 100%;
}

.main-footer>ul>li:first-child a{
text-align:right ;
}

.main-footer>ul>li:last-child a{
text-align:center ;
}

.main-footer>ul>li:first-child{
width: 100%;
height:auto;
}

.main-footer>ul>li:last-child {
width: 100%;
}

}

/* end of media query 467*/


/* media query 410*/
@media screen and (max-width: 410px){


.gcsc-branding{
display:none;
}

.header-button-group {
width:100%;
}

.gsc-control-searchbox-only {
width: 100% !important;
}

.researchBtn.right {
float: none;
}

#lastNews h3 {
width: 100%;
margin-right:0%;
}

#lastNews .researchBtn {
width: 100%;
margin:5px 0;
}

 .keyissue{
 width: 100% !important;
 min-height: 0;
}
  
.sliderContainer .wrapper{
position: absolute !important;
left:0;
right:0;
width:auto !important;
}

.sliderContainer .iosSlider {
width:auto !important;
}

.sliderContainer p.intro
{
padding-top: 122px;   
}

.focusList li {
float: none !important;
width: 100% !important;
margin: 10px 0% !important;
}

/* end of media query 410*/

/* media query 310*/
@media screen and (max-width: 310px) {
.ui-dialog {
top:100px !important;
min-height:300px;
}
}
/* end of media query 310*/



/* media query 300*/
@media screen and (max-width: 300px){


.header-search {
width:100% !important;
}

.header-search input.sBox {
width: 100%   !important;
width: -webkit-calc(100% - 70px)  !important;
width: -moz-calc(100% - 70px)  !important;
width: calc(100% - 70px)  !important;
}

.navbar-header{
text-align:center;
display:inline-block;
width:100%;
padding-bottom:5px;
}

.navbar-header img {
margin-left: auto !important;
margin-right: auto !important;
text-align:center;
}


.main-footer .col-xs-6 {
width: 100%;
}

.block .col-xs-2 , .block .col-xs-2 {
width: 100%;
}

}
/*end of media query 467*/

/*browser corrections*/

.main-nav
{width:100%;}

.block-card-vertical img{
  width: 100% !important;
  height: auto !important;
}

.main-nav>ul {
/* SVG fallback(Opera 11.10-, IE9) */
background: #018fd0;
/* Opera 11.10+ */
background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#2973bd), to(#018fd0));

/* Firefox 3.6+ */
background: -moz-linear-gradient(center bottom, #018fd0 1%, #2973bd 100% );

/* Chrome 7+ & Safari 5.03+ */
background:  -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2973bd), to(#018fd0));

/* Newer Browsers */
background: linear-gradient(linear, 0% 0%, 0% 100%, from(#2973bd), to(#018fd0));

/* IE5.5 - IE7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2973bd, endColorstr=#018fd0);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#2973bd,EndColorStr=#018fd0)"
}