/* sources for images*/

.newslist li h3 a{
background:  url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif') no-repeat;
}

.newslist li.selected h3 a{
background: url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowon.gif')  no-repeat;
}

.subTopicWN li h3 a{
background-image:  url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowoff.gif');
}

.subTopicWN li.selected h3 a{
background-image: url('/media/oecdorg/styleassets/responsive/oecd/images/components/newsslidearrowon.gif');
}

.main-nav li a.hasPanel:hover{
background: #c5d7ed url('/media/oecdorg/styleassets/responsive/oecd/images/components/closedarrow.gif') center right no-repeat;
}

.main-nav ul.list li>a:before {
content: "";
background:url('/media/oecdorg/styleassets/responsive/oecd/images/components/sidenavfl1off.gif') center left no-repeat;
padding:0 5px;
}

.main-nav ul.list li>a:hover:before {
background:url('/media/oecdorg/styleassets/responsive/oecd/images/components/sidenavfl1.gif') center left no-repeat;
}

/*end of sources for images*/

/* social media */
.header-button-group {
padding: 5px 10px;
}
/* end of social media */


.keyissue-statistics{background: transparent !important ; }

.gsc-search-button.gsc-search-button-v2{
border-color: #3079ed;;
background-image: url(http://www.google.com/uds/css/v2/search_box_icon.png);
background-size: auto 14px;
background-position: center;
background-repeat: no-repeat;
background-color: #4d90fe;
background-color: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
background-color: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-color: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-color: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-color: -o-linear-gradient(top,#4d90fe,#4787ed);
background-color: linear-gradient(top,#4d90fe,#4787ed);
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
padding:12px 30px;
}

.gsc-search-button.gsc-search-button-v2:hover{
border-color: #2f5bb7;
background-image: url(http://www.google.com/uds/css/v2/search_box_icon.png);
background-size: auto 14px;
background-position: center;
background-repeat: no-repeat;
background-color: #357ae8;
background-color: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
background-color: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-color: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-color: -ms-linear-gradient(top,#4d90fe,#357ae8);
background-color: -o-linear-gradient(top,#4d90fe,#357ae8);
background-color: linear-gradient(top,#4d90fe,#357ae8);
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
padding:12px 30px;
}


input.gsc-input {
margin-top:2px !important;
font-size: 15px !important;
padding-top: 2px !important;
padding-left: 6px !important;
}

.gsib_a {
padding: 0px !important;
}

.gsst_a {
padding: 0px 3px !important;
}

.gscb_a {
display: inline-block;
font-size: 25px !important;
height:24px;
line-height:24px !important;
}

.gsc-input td{
padding:0 !important;
}


/* search */
.header-search button.sBtn {
border-color: #3079ed;
background-image: url(http://www.google.com/uds/css/v2/search_box_icon.png);
background-size: auto 14px;
background-position: center;
background-repeat: no-repeat;
background-color: #4d90fe;
background-color: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
background-color: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-color: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-color: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-color: -o-linear-gradient(top,#4d90fe,#4787ed);
background-color: linear-gradient(top,#4d90fe,#4787ed);
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
padding:15px 30px;
}

.header-search button.sBtn:hover{
border-color: #2f5bb7;
background-image: url(http://www.google.com/uds/css/v2/search_box_icon.png);
background-size: auto 14px;
background-position: center;
background-repeat: no-repeat;
background-color: #357ae8;
background-color: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
background-color: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-color: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-color: -ms-linear-gradient(top,#4d90fe,#357ae8);
background-color: -o-linear-gradient(top,#4d90fe,#357ae8);
background-color: linear-gradient(top,#4d90fe,#357ae8);
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
padding:15px 30px;
}

.header-search fieldset {
padding: 0 0 0 0px;
background: none;
}

.header-search input.sBox {
border: 1px solid #ddd;
width: 200px !important;
height: 30px;
margin-right:5px;
padding:0 10px;
color:#333;
}
/* end search */


/* Menu */


/* End of Menu *
   

/*hide breadcrumb*/

.section281 .breadcrumb
{
    display:none;
}
/*end of hide breadcrumb*/

/*hide heading*/

.section281 #heading
{
    display:none;
}
/*end of hide breadcrumb*/

.section281 .home-menu-item a
{
background-color: #fefefe!important;
color: #2973bd!important;
border-radius:3px 3px 0 0 ;
margin-right:2px;
}

.main-nav>ul {
margin-bottom: 0px;
margin-top: 0px;
}


/* About Page*/ 

.breadcrumb {
padding: 10px 0px 0px 2px;
}

#heading h1 {
padding: 15px 10px 10px 2px;
}

.nav-side li.first-item {
padding: 0px;
border-top: 0px solid rgb(164, 178, 191);
}

.nav-side ul {
float: right;
width: 100%;
margin:0;
}

menu, ol, ul {
padding: 0 0 0 0px;
}


.nav-side li span.currentbranch0 a {
background-image: none;
}

.header-button-group h4 {margin:0;}

.main-nav {
float: left;
margin-top: 0px;
}

.main-nav ul.tab {
margin:0;
}

.main-nav ul.list {
margin:0;
}


.main-footer ul {margin:0;}

.nav-side.block {
padding:0;
}

/*news page */

.morebg{
padding-top:15px;
}

#lastNews h3 {
width: 39%;
margin-right:1%;
padding:1px 0;

}

#lastNews .researchBtn {
margin: 0;
padding: 2px 0;
width: 19%;
margin-right:1%;
}


.span-6{
float:left;
width:31%;
margin-right:1%;
}

.span-7.last{
float:left;
width:36%;
}

#newsRow{
display:inline-block;
}

#leadNews h4
{margin:0;}

#cPhotos .legalInfos {
width: 25%;

}

#cPhotos #wrapper {
width: 75%;

}

#flkr {
width: 96% !important
}

.block H2 span {
margin-bottom: 0px;
}
#newsRow h2{
margin-top: 10px;
}

#cVideos h2 {
top: -7px !important
}

#cVideos h2 span{
top: -5px !important
}


 #cPhotos h2{
top: 0px !important;
margin-bottom: 20px;
}

 #cPhotos h2 span{
top: 0px !important
}


.nav-side a{
background-position:0 10px;
}

.linkList a{
margin-bottom:5px;
}

.blue-bg h2 span{
background-color: #ecf7fd;
}

.section34483 section ul:not(.breadcrumb) {
list-style-type: disc;
margin-left:10px;
}

.section34483 section ul:not(.breadcrumb) li {
display: list-item;
margin-left:20px;
margin-bottom:10px;
}

/*form dialog*/
.ui-dialog-custom-form.ui-dialog .ui-dialog-titlebar {
background: #2973bd;
border:none;
}

.ui-dialog .ui-dialog-titlebar-close {
background: #2973bd;
border:none;
}

.ui-dialog .ui-dialog-titlebar-close:after {
color: #fff;
font-weight:bold;
font-size:17px;
content:'x';
position:absolute;
top:-1.5px;
}

#dialog-form a.button {
height: 30px;
line-height:16px;
margin-bottom:3px;
}

.ui-dialog-custom-form.ui-dialog {
padding: 0;
max-width: 100%;
top:50%!important;
left:50% !important;
width:600px !important;
margin-top:-300px;
margin-left:-300px;
}


.ui-dialog-custom-msg.ui-dialog {
padding: 0;
max-width: 100%;
top:50%!important;
left:50% !important;
width:300px !important;
height: auto !important;
margin-top:-150px;
margin-left:-150px;
}


.ui-dialog #dialog-form textarea{max-width:100%;}

#choose-form , #form-1 input, #form-2 input, #form-3 input, #form-1 select, #form-2 select, #form-3 select, #form-1 textarea, #form-2 textarea, #form-3 textarea {
max-width:100%;
}


fieldset {
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-before: 0em;
-webkit-padding-start: 0em;
-webkit-padding-end: 0em;
-webkit-padding-after: 0em;
max-width:100%;
min-width: 0;
}

.ui-widget-overlay {
position: fixed;
}


.subTopicWN .block-card-large ul {
width: 50%;
}
.subTopicWN .block-card-large .block-content {
width: 47%;
left: 53%;
}

/*fav menu*/


.fav-icons .divider {
margin: 1px 0;
}

.fav-icons li a{
padding-right:20px !important
}

.icon-youtube a:before {
content:'m';
font-family: CustomIcons;
font-size:20px;
padding-right:10px;
padding-left:10px;
}

.icon-flickr a:before {
content:'j';
font-family: CustomIcons;
font-size:20px;
padding-right:13px;
padding-left:10px;
}

.icon-facebook a:before {
content:'g';
font-family: CustomIcons;
font-size:20px;
padding-right:19px;
padding-left:10px;
}

.icon-twitter a:before {
content:'f';
font-family: CustomIcons;
font-size:20px;
padding-right:11px;
padding-left:10px;
}

.icon-rss a:before {
content:'d';
font-family: CustomIcons;
font-size:20px;
padding-right:14px;
padding-left:10px;
}

.icon-blog a:before {
content:'6';
font-family: CustomIcons;
font-size:20px;
padding-right:14px;
padding-left:10px;
}

.icon-email a:before {
content:'c';
font-family: CustomIcons;
font-size:20px;
padding-right:11px;
padding-left:10px;
}

.icon-linkedin a:before {
content:'\e800';
font-family: CustomIconsFontello;
font-size:20px;
padding-right:11px;
padding-left:10px;
}

.icon-language a:before {
content:'';
padding-left:10px;
}

.dropdown-menu .icon-youtube a:hover , .icon-youtube.hover_effect {
background:#C4302B;
}

.dropdown-menu .icon-flickr a:hover, .icon-flickr.hover_effect  {
background:#FE0883;
}

.dropdown-menu .icon-facebook a:hover ,.icon-facebook.hover_effect  {
background:#3B5998;
}

.dropdown-menu .icon-twitter a:hover,.icon-twitter.hover_effect  {
background:#00A0D1;
}

.dropdown-menu .icon-rss a:hover,.icon-rss.hover_effect  {
background:#FA9B39;
}

.nav-side li span.currentbranch0 a {
padding-bottom: 10px;
}

.nav-side a {
background-image:none;
padding:10px 10px;
}
.nav-side a:before {
background-image:none;
content:'u';
font-family: CustomIcons;
font-size:.8em;
padding-right:5px;
color:#428bca;
}

.nav-side .currentbranch0 a:before {
color:#fff;
}

.focus-carousel ul li {display:none;}


.wn-item a
{margin-bottom:5px !important;}

.wn-item .Date-Published
{color:#777;
font-size:.8em;
margin-left:20px;
margin-bottom:10px;
}

.block-card-vertical .block-content-wrapper {
padding: 0px 10px;
}

.breadcrumb {
display:inline-block;
width:100%;
}

.headerbody {
display: inline-block;
}


.main-nav>ul>li.selected-menu>a {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
background-color: #fff;
color: #2973bd;
}

.navbar-collapse>ul>li.selected-menu>a {
color: #2973bd;
}

.headerbody {width:100%;}

.navbar-header .dropdown-toggle {
height:33px;
}

a {
cursor: pointer;
}

/*results page*/

.row.item{
    list-style-type: none;
}


.row.item p.date {
	border-bottom: 1px solid #ededed;
	margin: 0 10px .5em 0;
	padding: 17px 2px 5px 0;
	color: #777;
	font-size: .9em;
	text-align: right;
	}
    
.row.item p.infos {
margin:  0 10px .5em 0;
padding: 0px 2px 0 0px;
font-size: .9em;
color: #777;
text-align: right;
}

.row.item h4{
margin: 0 0 .5em 0;
font-weight: normal;
text-decoration: underline;
}
.row.item h5 {
margin: 0 0 .5em 0;
font-weight: normal;
}

/*statistic page*/
.main-nav ul{
z-index: 100;
}

.dyn-right{
margin-left:260px;
}

#viz-controls{
width:240px;
}

.visuals .item a h3{
font-size:1.7em;
}

.tagGroup h2 {
margin:0 !important;
}

.tagGroup a {
margin:0;
}

.blue.header-title{
color: #0095d9;
border-color: #0095d9;
font-size: 1.7em;
font-weight: bold;
display:inline-block;
width:100%;
border-bottom: 5px solid #0095d9;
}

#viz-controls ul li.tagGroup {
margin:0px 0 !important;
padding:10px 0 !important;
border-top: 1px dotted #dedede;
}

.header-sm{
float:left;
padding-top:3px;
}

.nav-side li{
display:inline-block;
width:100%;
}
.nav-side li ul{
/*padding:0px 20px;*/
padding:0 0 0 30px;
}

/*newsroom*/
#newsRow iframe
{width:100%;}

.block-button-group>.block-button.orange {
background-color: #e29549;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E25C13), to(#e0c5b6));
background: -moz-linear-gradient(center bottom, #E25C13 1%, #e0c5b6 100% );
}

.newslogin a{text-decoration: underline;}
.newslogin .block-button{text-decoration: none;}
.news-col .block-list p {
font-size: 1em;
color: inherit;
padding: 0px 0px 0px 0px;
}
#photos{margin:12px 10px;}
.newsroom-top-story{border-bottom: 1px solid #ddd; margin-bottom:10px}
.newslogin.block{padding: 2px 15px;}
.newslogin .block-button-group {border-spacing: 0px 0px;}
.newstop h4{margin: 0;}
.newstop p{margin: 0; padding-bottom: 10px;}
.newstop .block-date { padding: 7px 0px 0px 0px;
}

.newstop .block-more h3 {
margin: 0px;
}

.block-img-slide {
background: #333;
}

.block-img-slide img {
height:128px;
border: 1px solid #777;
opacity: .7;
filter: alpha(opacity=70);
}

.block-img-slide img:hover {
border: 1px solid #fff;  
opacity: 1;
filter: alpha(opacity=100);
}


.newsroom-lists { 
	display:table;
	margin-top:15px;
	margin-left:-10px;
	margin-right:-10px;
    border-spacing: 10px 0px;
    overflow: hidden;
}
.newsroom-lists .news-col{ 
	display: table-cell; 
	width: 33%;
    position:relative;
    vertical-align:top;
    padding-bottom:90px;
}

.morebttm {
background-color: rgb(247, 247, 247);
background-repeat: repeat-x;
background-image: linear-gradient(rgb(241, 241, 241), rgb(247, 247, 247));
border-top: 1px solid rgb(255, 255, 255);
padding: 10px 0px 5px 0px;
margin-top:10px;
position:absolute !important;
bottom:10px;
left:10px;
right:10px;
}
.block-list .morebttm  a:before {
margin-top: 12px;
padding-left:3px;
}

/*lined header*/

.lined-title.blue { color: #0095d9; border-color: #0095d9;}
.lined-title.orange { color: #e25c13; border-color: #e25c13; }
.lined-title.green { color: #98c10f; border-color: #98c10f; }
.lined-title.purple { color: #b1428f; border-color: #b1428f; }
.lined-title.gray { color: #666; border-color: #666; }

.lined-title {
font-size: 1.7em;
font-weight: bold;
position:relative;
overflow:hidden;
margin-bottom:15px;
}

.lined-title:after {
border-bottom: 5px solid;
content:"";
display:inline-block;
width:100%;
height:5px;
position:absolute;
bottom:6px;
margin-left:15px;
}

.newsroom-lists .lined-title:after {
display:none;
}
.newsroom-lists .lined-title span {
display: block;
width:80%;
}
.newsroom-lists .lined-title span:after {
border-bottom: 5px solid;
content:"";
display:inline-block;
width:100%;
height:5px;
position:absolute;
bottom:6px;
margin-left:15px;
}

/* BY TOPIC*/
#results ul.topicsList {
	display: none;
}

#results ul.topicsList li {
	padding: 5px 0 5px 10px;
	font-size: 1em;
	border-top: 1px solid #DDD;
}

#results  .topicsList li a {
	text-decoration: underline;
	color: #2973bd;
}
   
#results  .topicsList li a span {
   	color: #2973bd;
}
 
#results  .topicsList li a:hover {
   	color: #aaa;
}
#results  .topicsList li a:hover span {
  	color: #333;
}

#results ul.topicsList>li>ul>li:before {
	background-image: none;
	content: 'u';
	font-family: CustomIcons;
	font-size: .8em;
	padding-right: 5px;
	color: #428bca;
}

#results ul.topicsList>li>ul>li { 
	min-height: 40px; 
}

#results ul.topicsList>li,
#results ul.topicsList>li>ul>li:nth-child(1) { 
	border-top: 0; 
}

/*BY COUNTRY*/
#results .topicsList.ByCountry li span.flag {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat !important;
	border: none;
	background-size: 16px 11px !important;
	display: block;
	float: left;
}

#results ul.topicsList.ByCountry>li>ul>li:before {
	content: '';
}

#results ul.topicsList.ByCountry>li>ul>li { 
	min-height: 0; 
	border-top: none;
    background: none !important;
}

#results ul.topicsList.ByCountry>li>ul>li.split {
	margin-left: 0px;
	padding-left: 0px;
	background: url('/media/oecdorg/styleassets/responsive/oecd/images/flags/filetbg3.png') 0px 11px repeat-x !important;	
}

#results ul.topicsList.ByCountry li.split a {
	color: #aaa;
	text-decoration: none;
	float: none;
	margin-left: 0px;
}

#results ul.topicsList.ByCountry li.split a span {
	color: #aaa;
	font-weight: bold;
}
/*sitemap*/
.oecd-sitemap{
margin-top : 20px;
}
.oecd-sitemap ul{
padding:3px 15px;
margin:0;
list-style-type: disc;
}
.oecd-sitemap ul li{
padding:3px 15px;
margin:0;
}

/*equal-blocks*/
.equal-blocks{
display:table;
height: 100%;
}
.equal-block-item{
display:table-cell;
height: 100%;
float:none;
vertical-align: top;
}
.equal-block-item>.block{
height: 100%;
/* Firefox */
height: -moz-calc(100% + 20px);
/* WebKit */
height: -webkit-calc(100% + 20px);
/* Opera */
height: -o-calc(100% + 20px);
/* Standard */
height: calc(100% + 20px);
/* IE-OLD */
height: expression(100% + 20px);
-moz-box-sizing: border-box;      
box-sizing: border-box;
}
.block>.block-card-large {
background: #ffffff;
}
.block>.block-card-large>ul {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
background: -moz-linear-gradient(center bottom, #ddd 1%, #fff 100% );
margin:0;
}
.block>.block-card-vertical {
background: #ffffff;
}
.block>.block-card-vertical>ul>li.selected>.block-content{
height:auto;
}
/*block cards*/
.block-card-large .newslist li h3 a{
background-position: 10px 5px;
}
.block-card-large .newslist li.selected  h3 a{
background-position: 10px 5px;
}

/*fix for newsroom list*/
.block-list li.news-event-item {
padding-left:17px;
margin-bottom:10px;
}
.block-list li.news-event-item.linked {
padding-left:17px;
margin-bottom:10px;
color: rgb(41, 115, 189);
}
.block-list li.news-event-item .block-date {
margin:0;
margin-bottom:3px;
margin-left:-17px;
color: rgb(34, 34, 34);
}
.block-list li.news-event-item  a{
padding-left: 0px;
}
.block-list li.news-event-item:before {
font-family: CustomIcons;
content: 'uu';
font-weight: 800;
letter-spacing: -2px;
font-size: 9px;
position: absolute;
left: 3px;
top: 2px;
margin-top: 20px;
}
.block-list li.news-event-item.linked:before {
display:none;
}
.block-list li.news-event-item.linked a:before {
font-family: CustomIcons;
content: 'uu';
font-weight: 800;
letter-spacing: -2px;
font-size: 9px;
position: absolute;
left: 3px;
top: 2px;
margin-top: 20px;
}
.block-list li.news-event-item.linked a:before {
color: #2973bd;
}
.block-list li.news-event-item.linked a:hover:before {
color: #555;
}
.linkList a {
 text-decoration: underline;
}
body[lang='fr'] .label-fr{
display:inline-block !important;
}
body[lang='en'] .label-en{
display:inline-block !important;
}
.more-pub-content{
  height: 55px;
  overflow: hidden;
  margin-bottom:15px;
  position:relative;
}
.more-pub-content:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgb(249, 249, 249));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(249, 249, 249));
}

/*popup*/
.oecd-popup .modal-backdrop.in {
  opacity: 0.7;
}

.oecd-popup .modal-dialog {
  margin: 215px auto;
}

.oecd-popup .modal-dialog .modal-content {
  border: solid 4px white;
}

.oecd-popup .modal-dialog .modal-content .modal-header {
  padding: 10px;
  border: none;
  background-color: #11629a;
}

.oecd-popup .modal-dialog .modal-content .modal-header .close {
  color: white;
  opacity: 1;
  position: absolute;
  right: -18px;
  top: -18px;
  background-color: #11629a;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  font-family: aria;
  border: 2px solid white;
}

.oecd-popup .modal-dialog .modal-content .modal-header .modal-title {
  color: white;
  font-size:22px;
  text-align: center;
}

.oecd-popup .modal-dialog .modal-content .modal-body {
  padding: 10px 15px;
  margin-top: 15px;
}

.oecd-popup .modal-dialog .modal-content .modal-footer {
  border: none;
  text-align: center;
  padding: 10px;
}

.oecd-popup .modal-dialog .modal-content .modal-footer .btn-default {
  border: none;
  background-color: transparent;
}

.oecd-popup .modal-dialog .modal-content .modal-footer .btn-default:hover {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.oecd-popup .modal-dialog .modal-content .modal-footer .btn-primary {
  background-color: #11629a;
}

.oecd-popup .modal-dialog .popup-logo{
margin-right:10px;
}