/*TINY MCE*/
.rsp-block-wrapper .pub-1-col-list li:before , .rsp-block-wrapper .pub-2-col-list li:before, .rsp-block-wrapper .pub-3-col-list li:before, .rsp-block-wrapper .pub-4-col-list li:before {
    color:inherit;
}
.rsp-block-wrapper .pub-1-col-list , .rsp-block-wrapper .pub-2-col-list , .rsp-block-wrapper .pub-3-col-list , .rsp-block-wrapper .pub-4-col-list  {
  padding: 0 0 0 10px;
}

/*media types*/
.rsp-block iframe{
  max-width:100%;
}

/*containers*/
.rsp-block-wrapper a {
  color: inherit;
  text-decoration: underline;
  font-weight:bold;
}
.rsp-block-wrapper a.more {
    color: #2973BC;
    text-decoration: none;
}
.rsp-block-wrapper a.more:hover {
    color: #555;
}
.rsp-blocks-container {
  margin-left:-7px;
  margin-right:-7px;
}
.rsp-block-menu{
 padding-left:0px;
 padding-right: 5px;
}
.rsp-block-menu.pull-right {
  padding-left: 5px;
  padding-right: 0px;
}
.rsp-block-body{
 padding-left: 0px;
 padding-right:0px;
}
.rsp-block-wrapper {
  padding-right: 7px;
  padding-left: 7px;
}
.rsp-block-title {
  margin-top: 10px;
  margin-bottom: 15px;
  width:100%;
  position:relative;
}
.rsp-media {
padding-bottom:15px;
}
.rsp-media img{
    max-width:100%;
    height:auto !important;
}
.rsp-media iframe{
    max-width:100%;
    min-height:300px;
}
.carousel .rsp-media {
padding-bottom:0px;
}
.nohover {
 cursor: default; 
}
/*title styles*/  
.underline-title-all{
     padding-bottom:5px;
     border-bottom:5px solid;
     border-width: 0 0 5px 0;
}
.underline-title-after-bottom .title-label{
  padding: 0 20px 0 0;
  z-index: 2;
  position:relative;
  background-color:#ffffff;
}
.underline-title-after-bottom .title-line{
  position:absolute;
  left:0;
  right:0;
  bottom:5px;
  border-bottom:5px solid;
  z-index: 1;
}
.underline-title-after-middle .title-label{
  padding: 0 20px 0 0;
  z-index: 2;
  position:relative;
  background-color:#ffffff;
}
.underline-title-after-middle .title-line{
  position:absolute;
  left:0;
  right:0;
  bottom:10px;
  border-bottom:5px solid;
  z-index: 1;
}
h1.ip-title {
    font-size: 25px;
}
/*thin*/
.underline-title-all.thin-underline{
  border-bottom:2px solid;
}
.underline-title-after-bottom.thin-underline .title-line{
  border-bottom: 2px solid;
}
.underline-title-after-middle.thin-underline .title-line{
  border-bottom: 2px solid;
  margin-top:-1px
}
/*gradients*/
.gradient-blue{
    -webkit-border-image:  -webkit-linear-gradient(left, #037BC1 0%, #004B78 100%);
    -moz-border-image:  -moz-linear-gradient(left, #037BC1 0%, #004B78 100%);
    border-image: linear-gradient(to right, #037BC1 0%, #004B78 100%);
    border-image-slice: 1;
}
.gradient-orange{
  -webkit-border-image: -webkit-linear-gradient(left, #E52775 0%, #F7A600 100%);
  -moz-border-image: -moz-linear-gradient(left, #E52775 0%, #F7A600 100%);
  border-image: linear-gradient(to right, #E52775 0%, #F7A600 100%);
  border-image-slice: 1;
}
.gradient-green{
    -webkit-border-image: -webkit-linear-gradient(left, #009FE3 0%, #93C11F 100%);
  -moz-border-image: -moz-linear-gradient(left, #009FE3 0%, #93C11F 100%);
  border-image: linear-gradient(to right, #009FE3 0%, #93C11F 100%);
  border-image-slice: 1;
}
.gradient-gray{
  -webkit-border-image: -webkit-linear-gradient(left, #727272 0%, #C8C8C8 100%);
  -moz-border-image: -moz-linear-gradient(left, #727272 0%, #C8C8C8 100%);
  border-image: linear-gradient(to right, #727272 0%, #C8C8C8 100%);
  border-image-slice: 1;
}
.gradient-purple{
  -webkit-border-image: -webkit-linear-gradient(left, #3F4697 0%, #E52875 100%);
  -moz-border-image: -moz-linear-gradient(left, #3F4697 0%, #E52875 100%);
  border-image: linear-gradient(to right, #3F4697 0%, #E52875 100%);
  border-image-slice: 1;
}
/*image styles*/  
.rsp-media.float-left{
float: left; 
margin-right: 20px;
}
.rsp-media.float-right{
float: right; 
margin-left: 20px;
}
.rsp-media.align-center{
text-align: center;
}
/*slider styles*/  
.sp-thumbnail {
  padding: 15px;
  background-color: #F0F0F0;
  height: 100%;
  width: 100%;
}
.sp-next-thumbnail-arrow:after, .sp-next-thumbnail-arrow:before, .sp-previous-thumbnail-arrow:after, .sp-previous-thumbnail-arrow:before {
  background-color: #555  !important;
  margin-top:5px;
}
.sp-bottom-thumbnails .sp-next-thumbnail-arrow, .sp-top-thumbnails .sp-next-thumbnail-arrow {
  right: 10px  !important;
}
.sp-bottom-thumbnails .sp-previous-thumbnail-arrow, .sp-top-thumbnails .sp-previous-thumbnail-arrow {
  left: 10px  !important;
}
.sp-slide .sp-layer{
display:none;
padding:15px;
}
/*bottom*/
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  border-bottom: 5px solid #ccc !important;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  border-bottom: 13px solid #ccc !important;
}
/*left*/
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  border-left: 5px solid #ccc !important;
}
.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  border-left: 13px solid #ccc !important;
}
.sp-left-thumbnails.sp-has-pointer .sp-thumbnail {
  padding-left: 36px;
}
/*right*/
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  border-left: 5px solid #ccc !important;
}
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  border-right: 13px solid #ccc !important;
}
.sp-right-thumbnails.sp-has-pointer .sp-thumbnail {
  padding-right: 36px;
}
/*buttons*/
.sp-button {
  border: 2px solid #ccc !important;
  width: 10px  !important;
  height: 10px  !important;
}
.sp-selected-button {
  background-color: #ccc !important;
}
/*top textbox*/
.slider-pro[position="top"]{
    padding-top:0 !important;
}
.slider-pro[position="top"]  .sp-slide .sp-layer {
  display: block;
}
.slider-pro[position="top"] .sp-slide .sp-layer h1:first-child, .slider-pro[position="top"] .sp-slide .sp-layer h2:first-child, .slider-pro[position="top"] .sp-slide .sp-layer h3:first-child, .slider-pro[position="top"] .sp-slide .sp-layer h4:first-child{
  margin-top:2px;
}
.slider-pro[position="top"] .sp-slide .sp-layer p:last-child{
  margin-bottom:0;
}
.slider-pro[position="top"] .sp-thumbnails-container{
    display:none;
}
.slider-pro[position="top"] .sp-buttons {
  padding-top: 0px;
  margin-top: -25px;
}

.sp-thumbnail-description{
  display: table;
  height: 100%;
}
.sp-thumbnail-description-inner{
  display: table-cell;
  vertical-align: middle;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail-description{
  padding-bottom: 18px;
}

/*menu*/
.rsp-block-menu-header{
  font-size:24px;
  margin-bottom:10px;
}
.rsp-block-menu .list-group-item{
  text-align:center;
}
.rsp-block-menu .list-group-item img{
  max-width:100%;
  height:auto!important;
  margin-bottom: 10px;
}
.rsp-block-menu .link-text{
  text-align:left;
  display:inline-block;
  width:100%;
}

.rsp-block-content ul {
  padding-left: 40px;
}

/*responsive*/
@media (max-width: 768px) {
.rsp-media.float-left{
float: none; 
width: 100%; 
margin-right: 0px;
}
.rsp-media.float-right{
float: none; 
width: 100%; 
margin-left: 0px;
}
.rsp-media iframe , .rsp-block iframe {
   min-width: 100%;
   width: 1px;
}
  
/*images in table fix in mobile view*/
.rsp-block-content table img{
    max-width: 100%;
    height: auto !important;
}
  
}

@media (max-width: 517px) {
  /*top textbox*/
.slider-pro{
    padding-top:0 !important;
}
.slider-pro .sp-slide .sp-layer {
  display: block;
  text-align:center;
}
.slider-pro .sp-thumbnails-container{
    display:none;
}
.slider-pro .sp-buttons {
  padding-top: 0px;
  margin-top: -25px;
}
}