.jcarousel-skin-opencart .jcarousel-container {
    /*background: #FFF;*/
    /*	margin-bottom: 20px;*/
}
.jcarousel-skin-opencart .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-opencart .jcarousel-container-horizontal {
    /*	padding: 0px 40px;*/
}
.jcarousel-skin-opencart .jcarousel-clip {
    overflow: hidden;
    width: 100%;
}
.jcarousel-skin-opencart .jcarousel-clip-horizontal {
}
.jcarousel-skin-opencart .jcarousel-item {
    /*	text-align: center;*/
}
.jcarousel-skin-opencart .jcarousel-item-horizontal {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 10px;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-opencart .jcarousel-item-placeholder {
    /*background: #fff;*/
    color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-opencart .jcarousel-next-horizontal {
    position: absolute;
    top: 43%;
    right: -15px;
    cursor: pointer;
    display:block;
    width:30px;
    height:30px;
    background: url('../image/slider-arrows.png') no-repeat;
    background-position:-30px 0;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background: url('../image/button-previous.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-next-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-horizontal:focus {
}
.jcarousel-skin-opencart .jcarousel-next-horizontal:active {
}
.jcarousel-skin-opencart .jcarousel-next-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: none;
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal {
    position: absolute;
    top: 43%;
    left: -25px;
    display:block;
    width:30px;
    height:30px;
    cursor: pointer;
    background: url('../image/slider-arrows.png') no-repeat;
}
.jcarousel-skin-opencart .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 0px;
    background: url('../image/button-next.png') center no-repeat;
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-horizontal:focus {
}
.jcarousel-skin-opencart .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-opencart .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: none;
}


.no-margin-button-carousel .jcarousel-skin-opencart .jcarousel-prev-horizontal{
    left: 0;
}

.no-margin-button-carousel .jcarousel-skin-opencart .jcarousel-next-horizontal{
    right: 0;
}








#bestseller-module .jcarousel-skin-opencart .jcarousel-container-vertical {
    height: 175px;
    padding: 25px 0;
}

.jcarousel-skin-opencart .jcarousel-container-vertical {
    height: 281px;
}

#bestseller-module .jcarousel-skin-opencart .jcarousel-clip-vertical {
    height: 175px;
}
.jcarousel-skin-opencart .jcarousel-clip-vertical {
    height: 281px;
}

.jcarousel-skin-opencart .jcarousel-item-vertical {
    margin-bottom: 10px;
    float: none !important;
}

/**
 *  Vertical Buttons
 */
#bestseller-module .jcarousel-skin-opencart .jcarousel-next-vertical {
    position: absolute;
    bottom: 80px;
    left: 42%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../image/down-arrow.png') no-repeat center;
}
.jcarousel-skin-opencart .jcarousel-next-vertical {
    position: absolute;
    left: 42%;
    width: 32px;
    height: 32px;
    bottom: -10px;
    cursor: pointer;
    background: transparent url('../image/down-arrow.png') no-repeat center;
}

.jcarousel-skin-opencart .jcarousel-next-vertical:hover,
.jcarousel-skin-opencart .jcarousel-next-vertical:focus {
}

.jcarousel-skin-opencart .jcarousel-next-vertical:active {
}

.jcarousel-skin-opencart .jcarousel-next-disabled-vertical,
.jcarousel-skin-opencart .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-opencart .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-opencart .jcarousel-next-disabled-vertical:active {
    cursor: default;
}

#bestseller-module .jcarousel-skin-opencart .jcarousel-prev-vertical {
    position: absolute;
    left: 42%;
    top:50px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../image/up-arrow.png') no-repeat center;
}
.jcarousel-skin-opencart .jcarousel-prev-vertical {
    position: absolute;
    top: -10px;
    left: 42%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../image/up-arrow.png') no-repeat center;
}

.jcarousel-skin-opencart .jcarousel-prev-vertical:hover,
.jcarousel-skin-opencart .jcarousel-prev-vertical:focus {
}

.jcarousel-skin-opencart .jcarousel-prev-vertical:active {
}

.jcarousel-skin-opencart .jcarousel-prev-disabled-vertical,
.jcarousel-skin-opencart .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-opencart .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-opencart .jcarousel-prev-disabled-vertical:active {
    cursor: default;
}
