html {
    overflow: 0;
}
body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
body, td, th, input, textarea, select, a {
    font-size: 12px;
}
div.title, h1 {
    color: #555;
    font: Verdana;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
    color: #000000;
    font-size: 16px;
    margin-bottom: 5px;
}
a > h2 {
    display: inline-block;
    margin-bottom: 0;
}
h3{
    font-size: 14px;
}
hr{
    border-bottom: 1px solid #D9D9D9;
}

p {
    margin-bottom: 20px;
}
a, a:visited, a b {
    color:#FF8000;
    text-decoration: underline;
    cursor: pointer;
}

b.orange{
    color:#FF8000;
}

a:hover {
    text-decoration: none;
}
a img {
    border: none;
}
a.alt{
    text-decoration: none;
    color:#000;
}
a.alt:hover {
    color:#FF8000;
}
a.alt b{
    color:#000;
}
a.no-decoration{
    text-decoration: none;
    color:#000;
}

.text-strike {
    position: relative;
}
.text-strike::after {
    border-bottom: 3px solid black;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.no-border{
    border:none !important;
}

form {
    display: inline;
}
input[type='checkbox']{
    vertical-align: text-bottom;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

input[type='text'], input[type='password'], textarea {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 4px;
    margin-left: 0;
    margin-right: 0;
}
select {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 2px;
}
label {
    cursor: pointer;
}
/* layout */
.fl{float: left}
.fr {float: right !important;}
.inline{display: inline}
.right-align {text-align: right;}
.relative{position: relative;}
.text-center{text-align: center;}

.large-font{
    font-size: 25px;
}

.mg-0{ margin:0 !important;}

.mg-b-5{ margin-bottom: 5px !important;}
.mg-b-10{ margin-bottom: 10px !important; }
.mg-b-20{ margin-bottom: 20px !important; }

.mg-r-10{ margin-right:  10px; }
.mg-r-20{ margin-right:  20px; }


.padding {padding: 10px;}

.no-padding .jBox-content{
    padding: 0px !important;
}

.hidden{display: none;}

span.sprite{
    display: inline-block;
}

.full-width-bg{
    background: #fff;
    overflow: hidden;
}
.slider-border{
    border-top: 3px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
}
.auto-margin{
    margin: auto;
    width: 940px;
}

.vertical-center{
    position: relative;
    top: 50%;
    transform: 			translateY(-50%);
}

.sticky{
    z-index: 108;
    width: 100%;
}
#notification{
    z-index: 106;
    position: relative;
}

/*.box, .column-box*/
.box-shadow{
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

/* header */
#header {
    z-index: 99;
}
#header-banner {
    background-color: #CCCCCC;
    border-bottom: 1px solid #FF8000;
}
#header-top {
    background-color: #333333;
    color: #FFFFFF;
}
#header-top .container_12 {
    height: 30px;
}
#header-top span {
    display: inline-block;
}
#header-top .logout a {
    text-decoration: none;
    float: left;
    line-height: 24px;
}
#header-bottom {
    background: url('../image/searchbar-bg.png') repeat-x;
    position: relative;
    height: 64px;
    border-bottom: 3px solid #000000;
}
#header-bottom .container_12{
    padding-top: 15px;
}
#header-bottom .small-logo img{
    width: 60px;
    position: absolute;
    top: 2px;
    opacity: 0;
}

.main-logo{
    float: left;
    height: 80px;
}

.side-logo{
    float: right;
    height: 80px;

}

#birthdate_name
{
    float:right;
    margin-left: 65px;
    margin-top: -35px;
}

#birthdate
{
    font-size:16px;
    font-family: arial;
    color:#EF4A4A;
    margin-left: -45px;
}

.is-sticky #header-bottom .small-logo img{
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.is-sticky #header-bottom #search{
    margin-left: 70px;
    width: 500px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.is-sticky .notification-sticky, .is-sticky .warning-sticky{
    right: 50%;
    margin-right: -480px;
    z-index: 107;
}

#library{
    position: absolute;
    right: 20px;
    width: 300px;
    z-index: 111;
}

#cart {
    position: absolute;
    right: 221px;
    z-index: 112;
    min-width: 300px;
}
#cart .heading,#library .heading {
    float: right;
    padding: 0 14px;
    z-index: 1;
    cursor: pointer;
}
#cart .heading #cart-items{
    padding :8px 15px 20px 19px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    width: 15px;
}
#cart .heading h4, #library .heading h4 {
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3px;
    padding-right: 5px;
}
#cart .heading a, #library .heading span, #cart .heading .text {
    color: #AAA;
    text-decoration: none;
}
#cart .content, #library .content {
    clear: both;
    display: none;
    position: relative;
    top: -1px;
    /*min-height: 150px;*/
    border: 1px solid #CCC;
    border-top: 2px solid#FF8000;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    background: #FFF;
}
#library .content a{
    color: #666666;
    text-decoration: none;
}
#library .content ul li{
    padding: 10px 20px;
    line-height: 20px;
}
#library .content ul li:hover, .mini-cart-info tr:hover, #search-panel-results ul li a:hover{
    background: #fafafa;
}

#library .content ul li + li{
    border-top: 1px solid #CCCCCC;
}
#library .content h4{
    font-size: 16px;
    font-weight: bold;
}
#cart.active .heading, #library.active .heading {
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 11px;
    border: 1px solid#FF8000;
    border-bottom: none;
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    -webkit-box-shadow:  0 1px 2px #FFF inset;
    -moz-box-shadow:  0 1px 2px #FFF inset;
    box-shadow: 0 1px 2px #FFF inset;
    background:#FF8000;
}

#sprite-cart-icon{
    background: url(../image/cart-icon.png) no-repeat;
}
#cart.active #sprite-cart-icon{
    background: url(../image/cart-icon-selected.png) no-repeat;
}

#sprite-cart-arrow{
    background: url(../image/cart-arrow.png) no-repeat;
    width: 12px; height: 8px;
}
#cart.active #sprite-cart-arrow{
    background: url(../image/cart-arrow-selected.png) no-repeat;
    width: 12px; height: 8px;
}

#cart.active .heading h4, #library.active .heading h4, #cart.active .heading a, #library.active .heading span,
#cart.active .heading .text, #library.active .heading .text{
    color: #FFF;
}

#cart.active .heading #cart-items{
    color:#FF8000;
    padding: 7px 14px 20px 16px;
}

#cart.active .content, #library.active .content {
    display: block;
}
.mini-cart-info {
    max-height: 243px;
    width: 420px;
    overflow: auto;
}
.mini-cart-info table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}
.mini-cart-info td {
    color: #000;
    vertical-align: middle;
    padding: 10px 5px;
    border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
    width: 1px;
}
.mini-cart-info .image img {
    border: 1px solid #EEEEEE;
    text-align: left;
}
.mini-cart-info .name {
    max-width: 500px;
}
.mini-cart-info .name small {
    color: #666;
}
.mini-cart-info .quantity {
    text-align: right;
}
.mini-cart-info td.total {
    width: 55px;
    text-align: right;
}
.mini-cart-info .remove {
    text-align: right;
    padding-right: 15px;
}
.mini-cart-info .remove img {
    cursor: pointer;
}
.mini-cart-total {
    text-align: right;
    margin: 10px;
}
.mini-cart-total table {
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 5px;
}
.mini-cart-total td {
    padding: 4px;
}
.mini-cart-total td.right{
    text-align: right;
}

#cart .checkout {
    clear: both;
    margin: 0px 5px;
}
#cart .checkout .button{
    margin: 10px;
}

#library .no-login a {
    color:#FF8000;
}
#cart .empty, #library .no-login {
    padding: 60px 10px 0px 10px;
    text-align: center;
    min-height: 100px;
}
#search {
    z-index: 115;
    position: relative;
}

#search .button-search {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    background-color:#FF8000;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius:  0px 3px 3px 0px;
    -khtml-border-radius:  0px 3px 3px 0px;
    border-radius:  0px 3px 3px 0px;
    z-index: 120;
}
#search input {
    background: #FFF;
    padding: 1px 1px 1px 1px;
    width: 92%;
    height: 28px;
    border: 1px solid#FF8000;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -khtml-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    -webkit-box-shadow: 1px 2px 0px #F0F0F0 inset;
    -moz-box-shadow: 1px 2px 0px #F0F0F0 inset;
    box-shadow: 1px 0px 0px #F0F0F0 inset;
}

#search-virtual-key-button{
    cursor:pointer;
    position: absolute;
    right: 50px;
    top: 10px;
}
#filter-detail-button{
    cursor:pointer;
    position: absolute;
    right: 82px;
    top: 5px;
}
#suggest-search{
    color: #000;
    margin-bottom: 20px;
}

#suggest-search a{
    color:#000000;
    text-decoration:none;
    margin-bottom: 20px;
}

#suggest-search .search-phrase-desc{
    color:#505050;
    font-size: 14px;

}
#suggest-search .search-phrase{
    color:#FF8000;
    font-size: 20px;
    text-decoration:none;
}

#virtual-key-container{
    cursor:pointer;
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FF8000;
    /*    bottom: -33px;*/
    padding: 5px;
    position: absolute;
    visibility: visible;
    right: 60px
}

#virtual-detail-filter-container{
    cursor:default;
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FF8000;
    /*    bottom: -33px;*/
    padding: 5px;
    position: absolute;
    visibility: visible;
    right: 60px
}
/* menu */
.menu-bg{
    background:#FF9F40;
    border-bottom: 3px solid #D9D9D9;
    height: 37px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
}
.menu > ul > li {
    position: relative;
    float: left;
    z-index: 107;
}
.menu.bottom > ul > li{
    padding: 6px 0 0 0;
}
div.menu.top {
    display: inline-block;
}
.menu.top > ul > li {
    margin-top: 5px;
    z-index: 113;
}
.menu > ul > li > a{
    line-height: 14px;
    text-decoration: none;
    display: block;
    z-index: 6;
    position: relative;
    color: #FFF;
}
.menu.bottom > ul > li > a{
    font-size: 13px;
    display: block;
    padding: 6px 8px 6px 8px;
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
}
.menu.bottom > ul > li:hover {
    background: #000;
}
.menu.top > ul > li > a{
    line-height: 24px;
    height: 22px;
    padding: 0 10px;
}
.menu.top a b {
    text-decoration: none;
}

.menu-separator{
    border-right: 1px solid #ccc;
    margin: 4px 5px;
    height: 18px;
}
.menu.top > ul > li:hover {
    background:#FF8000;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.menu.top > ul > li:hover > a b{
    color: #fff;
}
.menu.bottom > ul > li > div {
    display: none;
    background: #FFFFFF;
    position: absolute;
    z-index: 5;
    padding: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    background: #000;
}
.menu.top > ul > li > div  {
    display: none;
    background: #FFFFFF;
    position: absolute;
    z-index: 5;
    padding: 3px;
    border : 1px solid #CCC;
    border-top: 1px solid #FF8000;
}
.menu > ul > li:hover > div{
    display: table;
}
.menu > ul > li > div > ul {
    display: table-cell;
}
.menu > ul > li ul + ul {
    padding-left: 20px;
}

.menu > ul > li ul > li > a {
    text-decoration: none;
    padding: 4px;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    min-width: 120px;
}

.menu.top > ul > li ul > li > a {
    color: #333333;
    padding: 3px;
}

.menu.top > ul > li ul > li + li {
    border-top: 1px solid #ccc;
}
.menu.bottom > ul > li ul > li > a:hover {
    background: #333;
}
.menu.top > ul > li ul > li > a:hover {
    color: #FF8000;
}
.breadcrumb {
    color: #CCCCCC;
    margin-bottom: 10px;
    margin-top: 10px;
}
.success, .warning, .dialog-warning, .attention, .information, .sticky-attention {
    padding: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.attention.offer-product-list{
    margin-bottom: 5px;
    padding: 15px 15px 5px 15px;

}

.review-reply{
    padding: 10px;
}

.review-reply textarea{
    background: #FEFEFE;
}

.success a,.warning a, .dialog-warning a, .attention a, .sticky-attention a, .offer-attention a{
    color: #000;
    font-weight: bold;
}

.success {
    color: #000;
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.warning, .dialog-warning {
    color: #000;
    background-color: #f2dede;
    border: 1px solid #a94442;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.attention, .sticky-attention, .offer-attention {
    color: #000;
    background-color: #fcf8e3;
    border: 1px solid #8a6d3b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.warning-bg{
    background: #FED8B8;
}

.review-reply {
    background: #F3FED9;
    border-bottom: 1px solid #DDD;
}
.success .close, .warning .close, .attention .close, .information .close, .review-reply .close {
    float: right;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
    cursor: pointer;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    display: block;
    color: #FF0000;
}
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
}
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table.form tr td:first-child {
    width: 150px;
}
table.form > * > * > td {
    color: #000000;
}
table.form td {
    padding: 4px;
    vertical-align:middle;
}
input.large-field, select.large-field {
    width: 300px;
}
table.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
table.list td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
    background-color: #EFEFEF;
    padding: 0px 5px;
}
table.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
table.list tbody td {
    vertical-align: top;
    padding: 0px 5px;
}
table.list .left {
    text-align: left;
    padding: 7px;
}
table.list .right {
    text-align: right;
    padding: 7px;
}
table.list .center {
    text-align: center;
    padding: 7px;
}
table.radio {
    width: 100%;
    border-collapse: collapse;
}
table.radio td {
    padding: 5px;
    vertical-align: top;
}
table.radio.center td{
    vertical-align: middle;
}
table.radio td label {
    display: block;
}
table.radio tr td:first-child {
    width: 1px;
}
table.radio tr td:first-child input {
    margin-top: 1px;
}
table.radio tr.highlight:hover td, .checkout_payment_shipping_table tr:hover, table.list.highlight tr:hover {
    background: #F1FFDD;
    cursor: pointer;
}
.pagination {
    border-top: 1px solid #EEEEEE;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.pagination .links {
    float: right;
}
.pagination .links a {
    display: inline-block;
    padding: 4px 5px;
    text-decoration: none;
    color: #999999;
}
.pagination .links b, .pagination .links a.active{
    display: inline-block;
    padding: 4px 5px;
    color:#FF8000;
    font-weight: normal;
}
.pagination .results {
    float: left;
    padding: 3px 10px 0px 10px;
}
/* button */
a.button, input.button {
    cursor: pointer;
    color: #FFFFFF !important;
    line-height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: #FF8000;
    border: 1px solid #FF8000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.button img, input.button img{
    vertical-align: bottom;
}

a.button {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
    text-align: center;
}
input.button {
    height: 26px;
    margin: 0;
    padding: 0 12px;
}

.orange-button{
    background: #FF8000;
    border: 1px solid #FF8000;
}

a.button:hover, input.button:hover, .orange-button:hover {
    background: #ffa047;
    background: -moz-linear-gradient(top,  #ffa047 0%, #ff8000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa047), color-stop(100%,#ff8000));
    background: -webkit-linear-gradient(top,  #ffa047 0%,#ff8000 100%);
    background: -o-linear-gradient(top,  #ffa047 0%,#ff8000 100%);
    background: -ms-linear-gradient(top,  #ffa047 0%,#ff8000 100%);
    background: linear-gradient(to bottom,  #ffa047 0%,#ff8000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa047', endColorstr='#ff8000',GradientType=0 );



}
a.button.red, input.button.red, .red-button{
    background: #FF0000;
    border: 1px solid #FF0000;
}
a.button.red:hover, input.button.red:hover, .red-button:hover{
    background: #ff7272;
    background: -moz-linear-gradient(top,  #ff7272 0%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7272), color-stop(100%,#ff0000));
    background: -webkit-linear-gradient(top,  #ff7272 0%,#ff0000 100%);
    background: -o-linear-gradient(top,  #ff7272 0%,#ff0000 100%);
    background: -ms-linear-gradient(top,  #ff7272 0%,#ff0000 100%);
    background: linear-gradient(to bottom,  #ff7272 0%,#ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7272', endColorstr='#ff0000',GradientType=0 );

}

a.button.blue, input.button.blue, .blue-button{
    background: #3366FF;
    border: 1px solid #3366FF;
}
a.button.blue:hover, input.button.blue:hover, .blue-button:hover{
    background: #7093ff;
    background: -moz-linear-gradient(top,  #7093ff 0%, #3366ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7093ff), color-stop(100%,#3366ff));
    background: -webkit-linear-gradient(top,  #7093ff 0%,#3366ff 100%);
    background: -o-linear-gradient(top,  #7093ff 0%,#3366ff 100%);
    background: -ms-linear-gradient(top,  #7093ff 0%,#3366ff 100%);
    background: linear-gradient(to bottom,  #7093ff 0%,#3366ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7093ff', endColorstr='#3366ff',GradientType=0 );

}

a.button.green, input.button.green, .green-button{
    background: #64C632;
    border: 1px solid #64C632;
}
a.button.green:hover, input.button.green:hover, .green-button:hover{
    background: #8ec471;
    background: -moz-linear-gradient(top,  #8ec471 0%, #64c632 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ec471), color-stop(100%,#64c632));
    background: -webkit-linear-gradient(top,  #8ec471 0%,#64c632 100%);
    background: -o-linear-gradient(top,  #8ec471 0%,#64c632 100%);
    background: -ms-linear-gradient(top,  #8ec471 0%,#64c632 100%);
    background: linear-gradient(to bottom,  #8ec471 0%,#64c632 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ec471', endColorstr='#64c632',GradientType=0 );

}

a.button.gray, input.button.gray, .gray-button{
    background: #f0f0f0;
    border: 1px solid #ccc;
    color: #000!important;
    font-weight: normal;
}
a.button.gray:hover, input.button.gray:hover, .gray-button:hover{
    background: #ccc;
}

.orange-button a, .red-button a, .blue-button a, .green-button a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.button.about-notify{
    line-height: 13px;
    font-size: 11px;
}

.buttons {
    /*  background: #FFFFFF;
      border: 1px solid #EEEEEE;*/
    overflow: auto;
    padding: 6px;
    /*margin-bottom: 20px;*/
}
.buttons .left {
    float: left;
    text-align: left;
}
.buttons .right {
    float: right;
    text-align: right;
}
.buttons .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.tab-content {
    padding: 10px;
    z-index: 2;
    overflow: auto;
    border: 1px solid #ccc;
    border-top: none;
}
.top-bordered{
    border-top: 1px solid #E4E4E4;
}
.htabs {
    height: 30px;
    line-height: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.box .htabs{
    margin-top: 10px;
    padding: 0;
}
.htabs .tab-container{
    float: right;
    margin-right: 10px;
}
.htabs a {
    padding: 7px 15px 6px 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color:#FF8000;
    margin-right: 2px;
    display: none;
}

.htabs.alt a{
    border: 1px solid #ccc;
}
.htabs.alt a.selected{
    border-bottom: none;
    background-color: #FFF;
}

.htabs a.selected {
    padding-bottom: 7px;
    font-weight: bold;
    color:#FF8000;
    position: relative;
}
.product-info .htabs a{
    float: right;
}
.product-info .htabs a.review{
    float: left;
}


/* box */
.box {
    margin-bottom: 20px;
    border: 1px solid #DBDEE1;
    padding: 10px;
    background: #fff;
}

.box.no-padding{
    padding: 0;
}

.box .box-heading{
    position: relative;
}

.box .box-heading img.icon {
    bottom: 7px;
    right: 10px;
    position: absolute;
}
.color-white{
    color: #FFF;
}
.box.no-padding .box-heading {
    border-bottom: 1px solid #DDD;
}
.background-light{
    background-color:  #fefefe;
}

.box.gray .box-heading, .background-gray{
    background-color: #FBFBFB;
}

.ribbon-container{
    margin-left: -20px;
    height: 35px;
}
.ribbon-container.absolute{
    position: absolute;
}
.ribbon-container .before {
    /*padding: 22px 0 15px 0px;*/
    float:left;
}
.ribbon-container .middle{
    display: inline;
    padding: 0px 10px 5px;
    float:left;
}
.ribbon-container .middle .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    color: #FFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2)
}
.ribbon-container .after{
    float:left;
}
.attr-container .before{
    padding: 6px 0 6px 9px;
    height: 12px;
    float: left;
}
.attr-container .middle{
    padding: 6px 0 5px;
    float: left;
}
.attr-container .middle .text{
    color: #333333;
    padding-right: 7px;
}
.attr-container .middle .text .fa{
    font-size: 14px;
}

.attr-container .after{
    padding: 6px 0 6px 9px;
    height: 12px;
    float: left;
}

.attr-container{
    margin-left: 10px;
    height: 24px;
    display: inline-block;
}


.box-heading h1, .box-heading h2, .box-heading h3{
    margin: 0!important;
}
.box .box-heading .heading-nav {
    position: absolute;
    right: 5px;
    top: 10px;
    height:30px;
    padding-right: 40px;
}
.box .box-heading .heading-nav .all, a.link{
    margin-right: 5px;
    color:#777;
    text-decoration: none;
    line-height: 17px;
}
.heading-nav a img{
    padding: 0 5px !important;
}

.box .box-heading .heading-links{
    position: relative;
    z-index: 1;
}

.box .box-heading .heading-links a{
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
    color: #999;
    font-weight: bold;
}

.box .box-heading .heading-links a.selected{
    color: #FF8000;
}

.box .box-heading .center-top-image{
    left: 38%;
    position: absolute;
    top: 0;
}

.product_offer .box-content .left{
    float: left;
    margin-right: 1%;
    margin-top: 35px;
    width: 20%;
}
.product_offer .box-content .middle{
    float: left;
    margin-left: 73px;
    width: 50%;
}
.product_offer .box-content .total-price{
    background: url("../image/ribbon.png") repeat-x scroll center top transparent;
    float: left;
    padding: 0 0 5px;
    width: 100%;
    text-align: center;
}
.product_offer .box-content .total-price .text{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
}
.product_offer .box-content .right{
    width: 25%;
    float: right;
    margin-top: 10px;
    margin-right: 75px;
}
#product_offer {
    padding-bottom: 0px;
}
.product_offer span.action-link{
    color:#FF8000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.product_offer span.no-action-link{
    color:#8d8d8d;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.product_offer span.discount-text{
    color:#FF8000;
    font-weight: bold;
}
.product_offer .products ul {
    margin: auto;
}
.product_offer .products ul li {
    float: left;
    margin-top: 20px;
}
.product_offer .products ul li .image{
    margin-bottom: 0;
}
.product_offer .products ul li .image a img{
    width: auto;
}
.product_offer .products ul li + li{
    margin-left: 5px;
}
.box.product_offer.grid_5 {
    height: 370px;
}

#product-offer-list
{
    margin-top: 40px;
}
#product-offer-list-no-button
{
    margin-top: 30px;
}
/* product grid */
.product-grid > li, .product-grid > div, .inset-grid > li {
    width: 126px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    text-align: center;
}

/*.product-grid > li:hover, .product-grid > div:hover{
    border: 1px solid #ccc;
}*/

.product-grid.free-shipping > div{
    margin: 0;
    height: 200px;
}
.product-grid.free-shipping .image img{
    height: 90px;
}
.product-grid.free-shipping .image{
    height: 105px;
}
.bestseller .product-grid > div{
    width: 160px;
    margin: 5px 5px 15px 5px;
}

.bestseller .product-grid .bestseller-rank{
    height: 100%;
    width: 30px;
    float: left;
}

.bestseller .grid_6{
    width: 540px;
    margin: 0;
}

.product-grid > li > div, .product-grid > div, .inset-grid > li{
    height: 247px;
    position: relative;
}

.product-grid > li > div.stock-status, .product-grid > div.stock-status, .inset-grid > li.stock-status{
    height: 270px;
}

.product-grid > li > div.cur-order, .product-grid > div.cur-order, .inset-grid > li.cur-order{
    height: 285px;
}
.product-grid > li > div .bottom, .product-grid > div .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.product-grid > li > div .bestseller-rank ~ .bottom, .product-grid > div .bestseller-rank ~ .bottom{
    position: absolute;
    bottom: 0;
    left: 17px;
    width: 100%;
    text-align: left;
}

.product-grid .image, .inset-grid .image {
    border: medium none;
    display: block;
    height: 160px;
}
.product-grid .publisher {
    display: none;
}
.product-grid .author, .product-grid .author a{
    color: #999;
    font-size: 9px;
    display: none;
}
.product-grid .author.compact, .product-grid .author.compact a{
    display: block;
}

.product-grid .product-info {
    display: none;
}

.image a img, .image img{
    border: 1px solid #E7E7E7;
    padding: 3px;
}

.image-container .image a img{
    border: none;
}

.product-grid .image a  img, .inset-grid .image a  img, .product-list .image a img, #featured-product .image a img{
    border: 1px solid #E7E7E7;
    padding: 3px;
    max-height: 145px;
}

.product-list .image a img{
    max-height: 75px;
    max-width: 50px;
}

.product-list .product-details{
    width: 210px;
    float: left;
}

.inset-grid .name a, .product-list .name a, #bestseller-module .data .name a  {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
    font-size: 13px;
}
.product-list .name a{
    font-size: 16px;
}

.product-list .publisher a, .product-list .author,  .product-list .author a, .product-list .product-info{
    line-height: 13px;
    font-size: 10px;
    margin-bottom: 4px;
}
.product-list .product-info{
    color: #999;
    float: left;
    width: 190px;
}

.product-list .author.compact{
    display: none;
}

.product-grid .price-new, .inset-grid .price-new, .product-list .price-new, #bestseller-module .data .price-new{
    color:#FF8000;
    font-weight: bold;
    font-size: 12px;
}

.product-list .price-new .text, .product-list .price-old .text {
    font-size: 9px;
    font-weight: normal;
}
.product-grid .discount, .product-list .discount{
    font-weight: bold;
    color: #FFF;
    font-size: 11px;
    text-align: center;
    background: url("../image/product-discount-ribbon.png") no-repeat top center;
    background-size: 20px 38px;
    background-repeat: no-repeat;
    height: 40px;
    width: 15px;
    padding: 1px 1px 1px 5px;
}

.product-grid .discount{
    position: absolute;
    top: -4px;
    right: 12px;
}
.product-grid.mini .discount{
    position: absolute;
    top: -4px;
    right: 0px;
}

.product-list .discount{
    position: absolute;
    left: -20px;
    bottom: 0;
    background-position: -4px 0px;
    background-size: 21px 38px;
    background-repeat: no-repeat;
    height: 40px;
    width: 15px;
    padding: 1px 1px 1px 1px;
}

.product-grid .price {
    display: inline-block;
}

.notice .text {
    font-size: 10px;
}

.notice .fa{
    font-size: 14px;
    vertical-align: top;
}
.red{color: #F00;}
.green{color: #55A529;}
.purple{color: #A251CE;}
.orange{color: #FF8000;}

.free-shipping-same-day .text{
    display: inline-block;
}

.product-list .price > div {
    /*margin-bottom: 5px;*/
}

.product-grid .price-passive{
    display: none;
}

.product-grid .price-new .text, .product-grid .price-old .text{
    display: none;
}
.product-list .price-passive .value{
    text-decoration: line-through
}

.product-list .price-new .value, .product-list .price-old .value, .product-list .price-spec .value{
    float: right;
}

.product-list .price-new .text, .product-list .price-old .text, .product-list .price-spec .text{
    width: 80px;
    display: inline-block;
}

.product-list .price-spec, .product-grid .price .price-spec, .rating-ratio, .magazine-lead, .reward-point {
    font-size: 12px;
    font-weight: bold;
    color: #DD0000;
}
.rating-ratio{
    font-size: 15px;
}
.price-spec .text{
    font-size: 9px;
    font-weight: normal;
}
.price-spec{
    color: #DD0000;
}

.product-grid .rating {
    display: block;
    margin-bottom: 4px;
}
.product-grid .button, .inset-grid .button, .product-list .button{
    padding: 8px 4px;
    margin: auto;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*width:118px;*/
}
.product-grid .button{
    padding: 3px;
    width:105px;
}
.product-grid .publish-notice small{
    display: block;
    margin: 3px 8px;
}

.product-list .publish-notice small{
    display: block;
    margin: 5px 8px;
}

.big-button{
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.big-button a, input.big-button{
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    display: block;

}

.cart .big-button a{
    font-size: 14px;
    padding: 5px 0px 5px 6px;
}
.big-button .before, .big-button .after, .button .before, .button .after{
    display: inline-block;
    height: 31px;
    position: absolute;
    width: 2px;
}
.button .before{
    top: 0;
    left: 0;
}
.button .after{
    top:0;
    right: 0;
}

.product-grid .separator, .product-list .separator{
    border-right: 1px solid #fff;
    margin: 0 5px;
    display: inline;
    vertical-align: middle;
}
.product-grid .button > div > a, .product-list .button > div > a, .inset-grid .button > div > a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.product-grid .button > div > a{
    font-size: 9px;
    display: inline;
}

.product-grid .bottom .small-menu, .product-grid .bottom .small-menu, .product-list .bottom .small-menu{
    /*background: url("../image/small-white-arrow.png") no-repeat scroll center transparent;*/
    display: inline-block;
    height: 31px;
    padding: 0 0 0 9px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 11px;
}
.product-grid .bottom .small-menu{
    padding: 0px 4px 2px 4px;
    height: 21px;
    top: 0;
}

.small-menu-content{
    display: none;
}
.floating-small-menu{
    display: none;
    background: #FFFFFF;
    position: absolute;
    z-index: 110;
    padding: 3px;
    border : 1px solid #F26D00;
    top: 29px
}
.floating-small-menu.red{
    border : 1px solid #F00;
}
.floating-small-menu.blue{
    border : 1px solid #0040FD;
}
.floating-small-menu.green{
    border : 1px solid #55A529;
}

.floating-small-menu > div{
    /*display: table-cell;*/
}
.floating-small-menu > div > a {
    text-decoration: none;
    line-height: 16px;
    padding: 2px;
    color: #000;
    font-size: 9px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #CCC
}
.floating-small-menu > div > a:hover{
    font-weight: bold;
}
.floating-small-menu > div > a:last-child{
    border: none;
}

.fixed-small-menu{
    text-align: center;
}
.fixed-small-menu > a {
    text-decoration: none;
    line-height: 11px;
    padding: 2px;
    color: #000;
    font-size: 9px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #CCC
}
.fixed-small-menu > a:hover{
    font-weight: bold;
}
.fixed-small-menu > a:last-child{
    border: none;
}

/* box category */

.box-category > ul > li {
    padding: 2px 0px;
}
.box-category > ul > li > a {
    text-decoration: none;
    color: #333;
}

/* content */
#content .content {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    background: #fff;
}
#content .content .left {
    float: left;
    width: 49%;
}
#content .content .right {
    float: right;
    width: 49%;
}
/* category */
.category-info, .category-list {
    overflow: auto;
    margin-bottom: 20px;
}
.category-info .image {
    float: left;
    padding: 5px;
    margin-right: 15px;
    border: 1px solid #E7E7E7;
}
.category-list ul {
    float: left;
    width: 25%;
}

.category-list ul li{
    margin-bottom: 5px;
}

.channel-list ul {
    width: 100%;
}

/* common list styles manufacturer & publisher */
.manufacturers.content, .publishers.content {
    border: 1px solid #DBDEE1;
    padding: 5px;
    overflow: auto;
    margin-bottom: 20px;
}
.manufacturer-heading, .publisher-heading{
    background: #F8F8F8;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 8px;
    margin-bottom: 6px;
}
.manufacturer-content, .publisher-content {
    padding: 8px;
}
.manufacturers ul, .publishers ul  {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

.manufacturers ul li, .publishers ul li
{
    padding: 5px;
    line-height: 20px;
}

/* product */
.arrow, .arrow-border{
    border-style: solid;
    border-width: 8px;
    height:0;
    width:0;
    position:absolute;
    left:28%;
}
.arrow-border {
    border-color: #E4E4E4 transparent transparent transparent;
    bottom:-26px;
}
.arrow {
    border-color: #FFF transparent transparent transparent;
    bottom:-25px;
}

.product-filter .list-object a, a b{
    text-decoration:  none;
}
.product-filter .list-object a{
    color: #000;
    padding: 3px 10px 3px 5px;
    margin-right: 5px;
    border-right: 1px solid #E4E4E4;
    font-size: 13px;
}
.product-filter .list-object a:last-child{
    border-right: none;
}


.filter-clear-title{
    cursor: pointer;

}

.filter-item{
    cursor: pointer;
}
.filter-item-selected{
    font-weight: bolder;
}


.filter-item-category-parent{
    font-size: 6px;
    color: #909090;

}

.filter-increase-button{
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

.mg-b-20{
    margin-bottom: 30px;
}

.filter-title{
    color: #505050;
    font-size: 18px;
}
.product-filter .display {
    margin-top: 4px;
}
.product-filter .display a {

}
.product-filter .sort {
    color: #333;
}
.product-filter .limit {
    margin-left: 15px;
    color: #333;
}
.product-compare {
    padding-top: 6px;
    margin-bottom: 25px;
    font-weight: bold;
}
.product-compare a {
    text-decoration: none;
    font-weight: bold;
}
.product-list > div {
    overflow: auto;
    margin-bottom: 10px;
}
.product-list > div:first-child{
    /*padding-top: 10px;*/
}

.product-list .right {
    float: right;
    margin-left: 15px;
}
.product-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
}
.product-list .image {
    float: left;
    margin-right: 10px;
    height: 85px;
}
.product-list .box-content{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.product-list .box-content .offer-attention{
    margin-top: 2px;
    padding: 3px;
}
.product-list .image img {
    padding: 3px;
    border: 1px solid #E7E7E7;
}
.product-list .name {
    margin-bottom: 5px;
}

.product-list .description {
    line-height: 15px;
    margin-bottom: 5px;
    color: #4D4D4D;
}
.product-list .rating {
    color: #7B7B7B;
}
.product-list .price {
    line-height: 14px;
    margin: 5px 0px;
}
.product-list .price .points {
    text-align: center;
}
.product-list .price img{
    vertical-align: middle;
}

.product-list .wishlist, .product-list .compare, .product-grid .wishlist, .product-grid .compare  {
    margin-bottom: 3px;
}
.product-list .wishlist a, .product-grid .wishlist a, .product-list .compare a, .product-grid .compare a {
    color: #333333;
    text-decoration: none;
    display: block;
}

.product-grid {
    width: 100%;
}

.product-grid .name a, a.product-name {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 9px;
}
.product-grid .description {
    display: none;
}

.product-grid .price img{
    vertical-align: middle;
}

.product-info  .book-cover{
    position: relative;
    overflow: hidden;
    background: url('../image/product-info-bg.gif') center center repeat-y;
}

.product-info .book-cover .image img{
    max-height: 250px;
}

.product-info .product-survey{
    position:absolute; bottom:0;
}

.product-info .product-survey-cover{
    position:absolute; bottom:100px;
}

.product-info .product-heading{
    border-bottom: 1px solid #e4e4e4;
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 15px;
}

.product-info .image-container{
    text-align: center;
}
.product-info .book-left .image {
    padding: 2px;
    text-align: center;
    display: inline-block;
}
.product-info .image-additional {
    width: 220px;
    margin-left: -5px;
    clear: both;
    overflow: hidden;
    padding: 5px 10px;
}
.product-info .image-additional img {
    border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
    float: left;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}
.product-info .share-buttons > span{
    vertical-align: top !important;
    margin-right: 5px;
}
.product-info .share_button{
    background: url('../image/share-button.png') no-repeat;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    padding: 3px 0 0 33px;
    text-decoration: none;
    width: 62px;
}
.product-info .tags a{
    background: #F8F8F8;
    padding: 5px;
    margin-right: 3px;
    color: #666666;
    line-height: 30px;
    text-decoration: none;
}

.product-info .description {
    line-height: 20px;
    color: #333;
}
.product-info .description .publishers a, .product-info .description .manufacturers a {
    color:#999999;
}
.product-info .description .manufacturers a{
    font-weight: bold;
}
.product-info .description p{
    color: #333;
    font-size: 15px;
    margin-top: 10px;
}

.product-info .description a, .orange{
    color:#FF8000;
    text-decoration: none;
}
.product-info .options {
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;
    color: #000000;
}
.product-info .option-image {
    margin-top: 3px;
    margin-bottom: 10px;
}
.product-info .option-image label {
    display: block;
    width: 100%;
    height: 100%;
}
.product-info .option-image img {
    margin-right: 5px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}

.border-bottom, .section{
    border-bottom: 1px solid #E4E4E4;
}
.gray-border-bottom{
    border-bottom: 1px solid #CCC;
}
.orange-border-bottom{
    border-bottom: 1px solid #FF8000;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

ul.sectioned li{
    padding-bottom: 7px;
    margin-bottom: 7px;
}
ul.sectioned li img{
    vertical-align: bottom;
}
ul.full-sectioned li {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E4E4E4;
}
ul.full-sectioned li a{
    display: block;
    color: #000;
    text-decoration: none;
}

ul.full-sectioned li:hover {
    background-color: #FF8000;
}

ul.full-sectioned .active
{
    background-color: #FF8000;
}

.section {
    color: #777;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.section a, ul.sectioned li a{
    text-decoration: none;
    color: #777;
}
.section a:hover, section a.active, ul.sectioned li a:hover{
    color:#FF8000;
}
.column-box .section{
    color: #000;
}
.product-info .section:last-child, .column-box .section:last-child, ul.sectioned li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.product-info .category a, .column-box .section b, .column-box .section a b{
    text-decoration: none;
    color:#FF8000;
}
.product-info #format-accordion h4{
    padding: 10px !important;
    background-color: #F8F8F8;
    font-weight: bold;
    color: #000;
}
.product-info #format-accordion a{
    display: block;
    text-decoration: none;
    color: #999999;
}
.product-info #format-accordion a.active{
    color:#FF8000;
}
.product-info #format-accordion div{
    color: #999999;
}
.product-info #format-accordion .section{
    margin-bottom: 5px;
    padding: 0;
    background-color: #EFEFEF;
}
.product-info #format-accordion .section-content{
    display: none;
    margin-bottom: 10px;
    max-height: 150px;
    overflow: auto;
}
table.product-alternate td{
    vertical-align: middle;
    padding-right: 10px;
}
table.product-alternate .image{
    margin-bottom: 0;
    margin-right: 10px;
}
table.product-alternate .name{
    max-width: 120px;
}

.product-info .section .share{
    margin-right: 10px;
}
.product-info .minimum {
    padding-top: 5px;
    font-size: 11px;
    color: #999;
    clear: both;
}
.review-button-panel {
    line-height: 30px;
    padding: 10px;
    border-bottom: 1px solid #E4E4E4;
}

.review-button-panel span.write-review{
    cursor: pointer;
    color:#FF8000;
    font-weight: bold;
    font-size: 13px;
}

.write-message span.write-message-button {
    color: #008000;
    cursor:pointer;
}

.review-list {
    padding: 10px;
    overflow: auto;
}
.review-list + .review-list{
    border-top: 1px solid #E4E4E4;
}

.review-list .review-date{
    color: #999999;
}
.review-list .rating span.text, .magazines .magazine-title{
    font-size: 11px;
}
.review-list .rating span.agree{
    font-size: 11px;
    font-weight: bold;
    color: #008000;
}
.review-list .rating span.disagree{
    font-size: 11px;
    font-weight: bold;
    color: #FF0000;
}
.review-list .rating-buttons {
    margin-top:  10px;
    margin-bottom: 10px;
    font-size: 11px;
}
.review-list .rating-buttons > span {
    cursor:pointer;
}
.review-list .rating-buttons span.agree {
    color: #008000;
}
.review-list .rating-buttons span.disagree {
    margin-left: 10px;
    color: #FF0000;
}
.review-list .rating-button-question{
    border-top: 1px solid #AAA;
    padding: 5px 0px;
    font-weight: bold;
    font-style: italic;
}
.review-list .rating-buttons span.write-reply, .review-list .rating-buttons span.read-reply{
    margin-left: 10px;
    color: #990000;
}
.attribute {
    width: 100%;
    text-align: left;
}
.attribute tr td:first-child {
    width: 90px;
}
.attribute td {
    vertical-align: top;
    line-height: 16px;
}
.attribute-highlight{
    font-weight: bold;
    color: #FF0000;
}

.compare-info {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}
.compare-info tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right;
}
.compare-info td {
    padding: 7px;
    width: 20%;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a, .compare-info .reward  {
    font-weight: bold;
}
.compare-info .points {
    font-weight: bold;
    color: #990000;
}
.compare-info .sell_price {
    color: #990000;
    font-size: 14px;
    font-weight: bold;
}
.compare-info .spec_price {
    color: #990000;
    font-size: 16px;
    font-weight: bold;
}
.compare-info .discount {
    border-color: #557DA5;
    border-style: solid;
    border-width: 1px;
    width: 90px;
    height: 14px;
    text-align: center;
    font-weight: bold;
    color: #990000;
    margin-left:auto;
    margin-right: auto;
}
.compare-info .discount .left {
    background: #557DA5;
    width: 30%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    float: left;
}
.compare-info .price-old {
    font-weight: bold;
    color: #F00;
    text-decoration: line-through;
}
.compare-info .price-new {
    font-weight: bold;
}

.login-content, .sitemap-info {
    margin-bottom: 20px;
    overflow: auto;
}
.login-content .left, .sitemap-info .left, .checkout-content .left{
    float: left;
    width: 48%;
}
.login-content .right, .sitemap-info .right{
    float: right;
    width: 48%
}
.login-content .left .content, .login-content .right .content {
    min-height: 190px;
}

/* common list styles */
.order-list, .return-list, .download-list{
    margin-bottom: 10px
}
.order-list .order-id,.return-list .return-id,.download-list .download-id{
    width:49%;
    float:left;
    margin-bottom:2px;
}
.order-list .order-status,.return-list .return-status,.download-list .download-status{
    width:49%;
    float:right;
    text-align:right;
    margin-bottom:2px;
}
.order-list .order-content,.return-list .return-content,.download-list .download-content{
    display:inline-block;
    width:100%;
    margin-bottom:20px;
    border-top:1px solid #EEE;
    border-bottom:1px solid #EEE;
    padding:10px 0;
}
.order-list .order-content div,.return-list .return-content div,.download-list .download-content div{
    float:left;
    width:33.3%;
}
.order-list .order-info, .return-list .return-info, .download-list .download-info{
    text-align: right;
}

/* orders */
.order-detail {
    background: #EFEFEF;
    font-weight: bold;
}
/* returns */
.return-product {
    overflow: auto;
    margin-bottom: 20px;
}
.return-name, .return-reason, .return-model, .return-opened {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-quantity {
    float: left;
    width: 31%;
}
.return-detail {
    overflow: auto;
    margin-bottom: 20px;
}
.return-opened textarea {
    width: 98%;
    vertical-align: top;
}
.return-captcha {
    float: left;
}

/* wishlist */
#wishlist_module .wishlist-info{
    overflow: auto;
    width: 250px;
}

.wishlist-info thead .image {
    text-align: center;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
    text-align: right;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .total, .wishlist-info tbody .action {
    text-align: right;
}
.wishlist-info tbody .price{
    /*height: 50px;*/
    margin-left: 8px;
    text-align: right;
    color: #4D4D4D;
    font-size: 12px;
    line-height: 16px;
}
.wishlist-info tbody .narrow{
    width: 50px;
}

.wishlist-info tbody .price img{
    vertical-align: middle;
}
.wishlist-info tbody .action img {
    cursor: pointer;
}

/* cart */
.cart-info .name .pc, .mini-cart-info .name .pc{
    color: #0033FF;
}

.cart-info .name .vp, .mini-cart-info .name .vp {
    color: #ff7808;
}

.cart-info thead .price, .cart-info thead .total {
    text-align: right;
}

.cart-info table{
    margin-bottom: 0 !important;
}

.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
    cursor: pointer;
    margin-top: 2px;
    vertical-align: top;
}
.cart-info tbody .price, .cart-info tbody .total,.cart-info tbody .remove{
    text-align: right;
}
.cart-info tbody .image {
    text-align: center;
}

.cart-info tbody span.stock {
    color: #F00;
    font-weight: bold;
}
.cart-module > div.content {
    display: none;
}
.cart-total {
    border-top: 1px solid #DDDDDD;
    overflow: auto;
    padding-top: 8px;
    margin-bottom: 15px;
}
.cart-total table {
    float: right;
}
.cart-total td {
    padding: 3px;
    text-align: right;
}
/* checkout */
.checkout-heading {
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    background: #F8F8F8;
    border: 1px solid #DBDEE1;
    color: #bbb;
    /*    color: #a94442;
	background: #f2dede;
	border: 1px solid #ebccd1;*/
}

.checkout-heading.editable, .checkout-heading.passed {
    /*color: #555;*/
    cursor: pointer;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #d6e9c6;
}
.checkout-heading.passed{
    cursor:  auto;
    color: #999;
}

.checkout-content {
    padding: 0px 0px 15px 0px;
    display: none;
    overflow: auto;
}
.checkout-content .buttons {
    clear: both;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
    text-align: right;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
    text-align: right;
}
.checkout-product tfoot td {
    text-align: right;
    border-bottom: 1px solid #DDDDDD;
}
.checkout-product tfoot td.total {
    text-align: right;
    border-bottom: 1px solid #DDDDDD;
    width: 80px;
}

.checkout-product tbody .name .pc{
    color: #0033FF;
}
.checkout-product tbody .name .vp{
    color: #ff7808;
}
.checkout-total div:first-child{
    padding: 10px;
    border: 1px solid #DDDDDD;
}
.checkout-total table tr td{
    padding: 5px;
    text-align: right;
    width: 100px;
}
.checkout-total table tr td:first-child{
    width: 85px;
}
.checkout-total .button, #confirm .payment .button{
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
    height: 32px
}

.confirm-total {
    margin-bottom: 20px;
}
.confirm-total tr td{
    padding: 5px;
    text-align: right;
    width: 95px;
}
.confirm-total tr td:first-child{
    width: 80px;
    text-align: left;
}


/* common table styles */
.wishlist-info table, .cart-info table, .checkout-product table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.checkout-product td{
    padding: 10px;
}
.wishlist-info td,.wishlist-info th, .cart-info td, .myos-campaign table td  {
    padding: 5px;
}
.wishlist-info thead td, .wishlist-info thead th, .cart-info thead td, .checkout-product thead td  {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: middle;
    background: #fbfbfb;
}
.wishlist-info tbody td,.cart-info tbody td,.checkout-product tbody td , .myos-campaign table tbody td{
    vertical-align: middle;
    border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .price .price-old, .cart-info tbody .price .price-old{
    text-decoration: line-through;
}
.wishlist-info tbody .price .price-new, .cart-info tbody .price .price-new, .muted{
    color: #777;
}
.wishlist-info tbody .price .price-spec, .cart-info tbody .price .price-spec {
    font-size: 15px;
    font-weight: bold;
    color: #990000;
}

/* contact */
.contact-info {
    overflow: auto;
}
/* footer */
#footer {
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #E7E4CE;
    background: #F6F6F6;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #666666;
}
#footer #information a
{
    color: #666666;
}
#footer #information a:hover
{
    color: #FF8000;
}
.footer-top{
    margin-bottom: 10px;
}
.footer-logo{
    border-top: 2px solid #E4E4E4;
    border-bottom: 2px solid #E4E4E4;
    padding-bottom: 18px;
    padding-top: 27px;
    background: #F6F6F6;
}
#footer h3 {
    color: #666666;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
#footer .column {
    float: left;
    border-right: 2px solid #E4E4E4;
    min-height: 150px;
}
#footer .column.end{
    border: none;
}
#footer .column ul {
    line-height: 23px;
    min-height: 100px;
}
#footer .column a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    display: inline-block;
}
#footer .column a:hover {
    color:#FF8000;
}

.fa-twitter-square:hover{
    color:#00aced;
}
.fa-facebook-square:hover{
    color:#3b5998;
}
.fa-google-plus-square:hover{
    color:#dd4b39;
}
.fa-instagram:hover {
    color: #417399;
}

#footer .bottom{
    margin-top: 10px;
    padding-top: 20px;
    border-top: 2px solid #E4E4E4;
}

#footer .column-section{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #E4E4E4;
}
#footer .column-section.end{
    border-bottom: none;
}
#footer .column-section > div {
    margin-bottom: 5px;
}
#powered {
    margin-top: 5px;
    text-align: right;
    clear: both;
}
/* banner */
.banner div {
    text-align: center;
    width: 100%;
    display: none;
}
.banner div img {
    margin-bottom: 20px;
}

/*@font-face {
    font-family: 'AbakuTLSymSans';
    src: url('AbakuTLSymSans-Regular.eot');
    src: url('AbakuTLSymSans-Regular.ttf') format('truetype');
    font-weight: normal;     font-style: normal;
}

.TL:before{
    font-family: 'AbakuTLSymSans';
    content:"¨ ";  leaving one space
}*/

.TL::before{
    font-family: FontAwesome;
    content: "\f195 ";
}
/* ie 8 */
.TL:before{
    font-family: FontAwesome;
    content: "\f195 ";
}

.scrollbox {
    width: 350px;
    max-height: 100px;
    background: #FFFFFF;
    overflow-y: auto;
}
.scrollbox.checklist{
    line-height: 20px;
    width: 325px;
    border: 1px solid #ccc;
    padding: 4px;
}

.scrollbox.long{
    height: 200px;
}
.scrollbox img {
    /*float: right;*/
    cursor: pointer;
}
.scrollbox .row {
    padding: 3px;
}
.scrollbox .row input {
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
}

.scrollbox::-webkit-scrollbar {
    width: 10px;
}
.scrollbox::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.scrollbox::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.scrollbox::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

table.rating {
    border: 0px white;
    text-align: left;
    border-collapse: separate;
    border-spacing: 3px;
}
table.rating thead th
{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
table.rating tbody td.percent
{
    width: 80px;
    min-width: 60px;
    background: #EEE;
    margin: 0 5px;
    padding: 0;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
table.rating tbody td.count
{
    text-align: right;
    color: black;
    font-size: 11px;
}
table.rating tbody td.percent div
{
    height: 12px;
    background: #FF9800;
    margin: 0;
    padding: 0;
    display: block;
}

.column-box{
    border: 1px solid #ccc;
    padding: 20px;
    padding-bottom: 0;
}

.column-box .ribbon-container{
    margin-left: -30px;
    margin-top: -10px;
}

/* PRODUCT-INFO SALES&PRICES DIVISION */
.product-info .price-sales.column-box
{
    background: #fff;
    position: relative;
}

.product-info .price-sales .discount-ribbon{
    background: url("../image/product-discount-ribbon.png") no-repeat scroll top center;
    height: 81px;
    position: absolute;
    text-align: center;
    width: 53px;
    padding-left: 9px;
    padding-top: 5px;
    top: -10px;
    right: 5px;
    color: #fff;
    font-weight: bold;
}
.product-info .price-sales .discount-ribbon .percent {
    font-size: 16px;
    line-height: 10px;
}
.product-info .price-sales .discount-ribbon .price {
    font-size: 30px;
}
.product-info .price-sales .discount-ribbon .text {
    font-size: 9px;
    line-height: 5px;
}

.product-info .price-sales div.additional-info
{
    margin-bottom: 20px;
    margin-top: 30px;
    color: #666666;
    font-size: 11px;
}
.product-info .price-sales div.additional-info > div
{
    margin-bottom: 10px;
}
.product-info .price-sales div.additional-info .preparation.express
{
    color: #CC0000;
    font-weight: bold;
    font-size: 13px;
    background: url(../image/delivery-icon.png) no-repeat 0 0;
    padding: 0 0 0 40px;
}
.preparation.express{
    color: #CC0000;
}
.product-info .price-sales div.additional-info .preparation.instantly{
    color: #ff7808;
    font-weight: bold;
    font-size: 13px;
    background: url(../image/delivery-icon.png) no-repeat 0 0;
    padding: 0 0 0 40px;
}

.preparation.instantly{
    color: #ff7808;
}

.product-info .price-sales div.additional-info .preparation.express .entry,
.product-info .price-sales div.additional-info .preparation.instantly .entry, .preparation .entry{
    color: #000;
    font-weight: normal;
    display: block;
}

.product-info .price-sales .list_price{
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}
.product-info .price-sales .list_price .text
{
    display: block;
    font-size: 12px;
}
.product-info .price-sales .list_price .value
{
    text-decoration: line-through;
}
.product-info .price-sales span.sell_price
{
    color: #000;
    font-size: 30px;
    font-weight: bold;
}



.product-info .price-sales div.spec_price {
    font-weight: bold;
    margin-bottom: 5px;
}

.big-ribbon-container{
    margin-left: -31px;
    margin-top: 5px;
}
.big-ribbon-container .before {
    background: transparent  url('../image/big-ribbon-left.png') no-repeat top;
    padding:38px 0 14px 11px;
    float:left;
}
.big-ribbon-container .middle{
    background: url('../image/big-ribbon-middle.png') repeat-x top;
    display: inline;
    padding: 0px 5px 5px;
    float: left;
}
.big-ribbon-container .middle .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    color: #FFF;
}
.big-ribbon-container .middle .text span.TL, .product-info .price-sales span.sell_price span.TL{
    font-weight: normal;
    font-size: 75%;
}

.big-ribbon-container .after {
    background: transparent  url('../image/big-ribbon-right.png') no-repeat top;
    padding:21px 0px 22px 28px;
    float:left;
}
.product-info .price-sales .action a{
    text-decoration: none;
    color: #666666;
    line-height: 25px;
}

.product-info .price-sales .action a:hover{
    color:#FF8000;
}
.orange-rounded-box{
    background:#FF8000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    line-height: 22px;
    padding-left: 12px;
    color: #FFF;
    width: 130px;
}
.filler{
    background: #CCC;
    width: 100%;
    height: 500px;
}
#bestseller-module .rank, .product-list .bestseller-rank > div, .product-grid .bestseller-rank > div, .order > div {
    font-size: 25px;
    font-weight: bold;
    color:#FF8000;
    text-align: center;
    margin-top: 5px;
}

/*.order > div {
  margin-right: 10px;
}*/

.product-list .bestseller-rank{
    text-align: center;
    width: 50px;
}

#bestseller-module .rank.first{
    font-size: 40px;
    text-align: left;
}
#bestseller-module .data{
    margin: 10px;
    display: inline;
    width: 75px;
}
#bestseller-module .image{
    display: inline-block;
}
#bestseller-module .image + .image{
    float: right;
}

table.bestseller tr td{
    padding-bottom: 5px;
}
table.bestseller tr td{
    vertical-align: middle;
}
table.bestseller .rank{
    width: 20px;
}
table.bestseller .data{
    padding: 5px;
}

.faceted-search, .faceted-search a{
    font-size: 10px;
}

#faceted-search-facet-groups .toggle{
    background: url("../image/orange-plus-icon.png") no-repeat scroll top center;
    display: inline-block;
    width: 13px;
    height: 16px;
    vertical-align: middle;
}

#faceted-search-facet-groups .toggle.active{
    background: url("../image/orange-minus-icon.png") no-repeat scroll top center;
}

.selected-faceted-search-group{
    margin: 5px;
}

.selected-faceted-search-group .name{
    font-weight: bold;
}

.favorite-tags {
    text-align: center;
}
.favorite-tags .favorite-tag{
    background: #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 30px 2px 10px;
    margin: 5px;
    display: inline-block;
    position: relative;
}
.favorite-tags .favorite-tag a{
    font-size: 20px;
    color: #fff;
}
.favorite-tags .favorite-tag.active{
    background: #64C632;
}
.favorite-tags .favorite-tag span{
    font-weight: bold;
    color: #fff;
    margin-left: 6px;
    padding: 6px;
    position: absolute;
    cursor: pointer;
    top:0;
    right: 5px;
}
.favorite-tags .favorite-tag span.editable:hover{
    background: url('../image/small-edit.png') center right no-repeat;
    color: transparent;
}

.dialog-box{
    background: #F2F2F2;
}
.dialog-box .dialog-header{
    background: url('../image/dialog-header-bg.png')  repeat-x;
    padding: 8px;
    color: #fff;
    font-size: 20px;
}
.dialog-box .dialog-header a{
    line-height: 22px;
}
.dialog-box .dialog-content{
    padding: 10px;
    min-height: 80px;
}
.dialog-box .dialog-content [type='text']{
    background: #fff;
    border: 1px solid #999;
    padding: 5px;
    font-size: 16px;
    width: 180px;
}

.cart-total .grand-total, .mini-cart-total .grand-total, .checkout-total .grand-total, .confirm-total .grand-total{
    color:#FF8000;
}
.cart-total .grand-total td, .mini-cart-total .grand-total td, .checkout-total .grand-total td, .confirm-total .grand-total td{
    font-size: 18px;
    font-weight: bold;
}
.myos-box, .myos-campaign table{
    border: 1px #FF8000 solid;
    background-color: #FFF8CE
}

#myos-carousel{
    float: left;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
    width: 400px;
    position: relative;
}
.inset-grid li {
    position: relative;
}
.inset-grid li .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.inset-grid-info {
    float: left;
    padding: 20px;
    font-size: 14px;
    width: 170px;
    height: 290px;
    background: #FFF1AD;
    position: relative;
}
.inset-grid-info .bottom{
    bottom: 10px;
    position: absolute;
}

#myos-carousel-next,#myos-carousel-prev{
    height: 30px;
    width: 25px;
    position: absolute;
    top: 46%;
    font-size: 25px;
}
#myos-carousel-next{
    right: 5px;
}
#myos-carousel-prev{
    left: 5px;
}
.myos-campaign {
    margin-top: 69px;
}
.myos-campaign table thead td{
    padding: 7px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    background: #FF8000;
}
.myos-campaign table .action{
    border-right:  4px double #FFAAAA;
    text-align: center;
    vertical-align: middle;
    min-width: 25px;
}

.myos-header{
    color: #FF8000;
    margin-left: 80px;
    margin-top: 20px;
}
.myos-header img{
    left: -25px;
    position: absolute;
    top: 8px;
    z-index: 1;
}
.myos-message{
    font-size: 20px;
    position: absolute;
    top: 165px;
    text-align: center;
    width: 80%;
}
.book-left a{
    text-decoration: none;
}

.divider{
    margin: 20px 0px;
    background: #FF8000;
    height: 1px;
}
.question{
    margin: 20px 0px;
    color: #FF8000;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
}
.answer{
    display: none;
    margin: 20px;
    font-size: 12px;
}

.product-grid .ellipsis {
    white-space: normal;
    overflow: hidden;
    display: block;
    height: 14px;
}

.filter-item .facet-name{
    /*    white-space: normal;
	overflow: hidden;
	width: 130px;
	display: inline-block;
	height: 11px;
	position: relative;
	top: 3px;*/
}

#twitts{
    width: 330px;
}

#twitts ul li {
    margin-bottom: 5px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.tweet_list li {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5em;
    list-style-type: none;
    line-height: 15px;
    font-size: 11px !important;
}
.tweet_list li a{
    font-size: 11px !important;
    font-weight: bold;
}
.tweet_list li .tweet_avatar{
    float: left;
    padding-right: 0.5em;
}

.facebook-button{
    display: block;
    margin-right: 10px;
    margin-top: 2px;
}
.facebook-mini-button{
    display: inline-block;
    vertical-align: middle;
}

.facebook-login-button-image{
    background-image: url("../image/j_i0CTUUUEe.png");
    width: 22px;
    height: 22px;
    background-position: 0 -132px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebook-login-button-image-1{
    background-image: url("../image/j_i0CTUUUEe.png");
    background-position: 0 -178px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline-block;
    height: 18px;
    width: 18px;
}
.sprite-facebook-login-icon{
    display: inline-block;
    height: 18px;
    width: 18px;
}
.facebook-login-button-border{
    display: inline-block;
    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    background-color: #5f78ab;
    color: #fff;
    cursor: pointer;
    vertical-align: top;
}
.facebook-login-button-text{
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px 3px;
    display: inline-block;
    border-top: 1px solid #879ac0;
    white-space: nowrap;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight: bold;
}

.search-panel-container{
    display: none;
}
.search-panel{
    background: none repeat scroll 0 0 #FFF;
    /*min-height: 500px;*/
    position: absolute;
    top: 64px;
    width: 532px;
    z-index: 108;
    font-size: 10px;
}
.search-pointer{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 109;
}
.search-pointer-border{
    border-bottom-color: #ccc;
    top:49px;
}

.search-panel .close-button{
    position: absolute;
    right: 0;
}
#search-panel-results .wait{
    text-align: center;
    display: block;
    padding: 100px;
}
#search-panel-results .view-all a{
    padding: 12px 8px 12px 10px;
    display: block;
    background: #efefef;
    font-weight: bold;
}

#search-panel-results ul li{
    border-bottom: 1px solid #efefef;
}

#search-panel-results ul li a{
    display: block;
    height: 70px;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}
#search-panel-results ul li a.suggestion{
    display: block;
    height: auto;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    padding: 10px
}
#search-panel-results ul li a .image{
    margin: 4px;
    float: left;
}
#search-panel-results ul li a .content{
    display: block;
    padding: 12px 5px 5px 55px;
}
#search-panel-results ul li a .name{
    display: block;
    font-size: 13px;
    font-weight: bold;
}
#search-panel-results ul li a .detail{
    font-size: 11px;
    color: #666666;
    margin-top: 5px;
}
#search-panel-results ul li a .price{
    position: absolute;
    right: 10px;
}



.filter-remove-button{
    display: inline-block;
    background: #999;
    color: #FFF !important;
    padding: 2px 5px;
    margin: 1px;
}
.vertical-product-list-item a{
    text-decoration: none;
}
.vertical-product-list-item .name, .date{
    color: #000;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 10px;
    display: inline-block;
    width: 120px;
    margin-top: 15px;
    height: 20px;
    overflow: hidden;
    white-space: normal;
}

.vertical-product-list-item .price{
    font-weight: bold;
    font-size: 14px;
}

#featured-product , #featured-product a{
    font-size: 10px;
    color: #000;
    text-decoration: none;
    line-height: 12px;
}
#featured-product .name a{
    font-weight: bold;
    font-size: 11px;
}
#featured-product .price-new{
    color:#FF8000;
    font-weight: bold;
    font-size: 12px;
}

#featured-product .price-new + .price-old{
    text-decoration: line-through;
    color: #999;
}
#featured-product .description{
    width: 450px;
    height: 230px;
    margin: auto;
    line-height: 18px;
    font-size: 10px;
    white-space: normal;
    overflow: hidden;
    display: block;
    padding: 30px;
}
.grid_3 > .grid_3 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.footer-telephone-container > span{
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 205px;
    font-size: 11px;
}


.menu-book, .menu-music, .menu-film, .menu-other, .menu-points_catalog, .menu-magazine{
    font-size: 12px !important;
    font-weight: normal !important;
}



.sprite-ky-eu-main-logo{
    float:left;
}

.sprite-white-flag{
    position: absolute; top: 4px; left: 4px;
}

.sprite-yaz-logo{
    float: right;
}

.lang-list-link{
    left: 23px;
    position: relative;
}

.lang-list-image{
    position: absolute;
    margin-left: -20px;
    margin-top: 1px;
}

.selected-lang {
    position: absolute;
    top: 6px;
    left: 10px;
}
#sprite-cart-icon, #sprite-library-icon {
    margin-right: 8px;
}
#sprite-cart-arrow, #sprite-library-arrow{
    float: right;
    margin-top: 4px;
}
.sprite-slider-arrows-prev, .sprite-slider-arrows-next{
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    border: 0;
    width: 25px;
    height: 30px;
}
.sprite-slider-arrows-prev{
    left: -50px;
}
.sprite-slider-arrows-next{
    right: -50px;
}
.sprite-prev-disabled, .sprite-prev-enabled{
    position: absolute;
    float: right;
    right: 25px;
    bottom: 15px;
}
.sprite-next-disabled, .sprite-next-enabled{
    position: absolute;
    float: right;
    right: 7px;
    bottom: 15px;
}
.sprite-ribbon {
    width: auto;
}
.footer-telephone-holder{
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 205px;
    font-size: 11px;
}
.footer-telephone-holder div{
    display: inherit;
}
.footer-telephone-container span {
    padding-left: 12px;
}
.footer-logo-icons, .footer-logo-platforms{
    display: inline-block;
}
.footer-logo-icons div{
    display: inherit;
}
.footer-social-icons{
    margin-bottom: 14px;
}
.platform-icon-holder{
    display: table;
    width: 280px;
    margin-top:15px;
}
.platform-text{
    display: inline-block;
    margin-left:5px;
    font-size: 11px;
}
.platform-icon{
    display: inline-block;
    vertical-align: middle;
}

.sprite-icon-add-to-basket-mini, .sprite-icon-notify-mini {
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 2px;
}
.sprite-stars{
    width: 60px;
}
div.rank.first div.sprite.sprite-rank-up, div.rank.first div.sprite.sprite-rank-down, div.rank.first div.sprite.sprite-rank-stable{
    position: relative;
    top: -34px;
    left: 28px;
}
div.rank div.sprite.sprite-rank-up, div.rank div.sprite.sprite-rank-down, div.rank div.sprite.sprite-rank-stable{
    position: relative;
    top: -30px;
    left: 68px;
}
.sprite-up-arrow, .sprite-down-arrow {
    margin: 0 auto;
}

.rating div{
    display: inline-block;
}

#bestseller-module-prev div, #bestseller-module-next div{
    padding: 0;
    position: absolute;
    left: 92px;
    bottom: 180px;
}
#bestseller-module-next div{
    bottom: 113px;
}
.feedback-form b
{
    display: inline-block;
    width: 70px;
}
.ad-layout div{
    margin-bottom: 10px;
}
table.score tr{
    border-bottom: 1px solid #DDDDDD;
}
table.score tr:last-child{
    border-bottom: none;
}
table.score tr td{
    padding: 5px;
}
table.score tr td.value{
    vertical-align: middle;
    font-size: 15px;
}
table.score tr td {
    color: #000;
}

.product-grid.mini > li{
    width: 65px;
}
.product-grid.mini > li > div{
    height: 140px;
}
.product-grid.mini .ellipsis{
    height: 25px;
}
.product-grid.mini .image{
    height: 90px;
}
.product-grid.mini .author.compact, .product-grid.mini .rating{
    display: none;
}
.product-grid.mini .button{
    width: 55px;
}
.product-grid.mini .image a img{
    max-height: 80px;
}
.product-grid.mini .notice{
    display: none !important;
}

.product-grid.small > li > div{
    height: 160px;
}
.product-grid.small .image{
    height: 100px;
}
.product-grid.small .author.compact, .product-grid.small .rating{
    display: none;
}

.manufacturer-bestseller .column,.publisher-bestseller .column{
    font-size: 14px;
    margin-bottom: 5px;
    width: 300px;
    display: inline-block;
}
.new-manufacturer{
    width: 755px;
    float: left;
    padding: 0px 10px 0px 10px;
}
.new-manufacturer .ellipsis{
    height: 80px;
    overflow: hidden;
    white-space: normal;
    display: block;
}

.bestseller-year-list{
    position: relative;
    height: 69px;
    background: url(../image/yearsbg_3.png) no-repeat -5px 22px;
}
.bestseller-year-list a{
    display: inline-block;
    position: relative;
    width: 50px;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}
.bestseller-year-list a:hover{
    font-size: 18px;
}
.bestseller-year-list a:nth-child(even){
    top: 15px;
}
.bestseller-year-list a:nth-child(odd){
    bottom: 0;
}
.magazines li a{
    display: block;
    text-decoration: none;
    color: #000;
    position: relative;
    margin-bottom: 10px;
}
.magazines li a:hover{
    background: #EEE;
}
.magazines::-webkit-scrollbar {
    width: 10px;
}
.magazines::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.magazines::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.magazines::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.checkout_payment_shipping_table{
    background-color: #FDFDFD;
    width: 100%;
    height: 150px;
    line-height: 16px;
}
.checkout_payment_shipping_table td{
    vertical-align: middle;
    font-size: 10px;
}

.bottom .button img{
    display: none;
}

.product-grid.mini .bottom .button img{
    display: inline;
}

.product-grid .separator, .product-list .separator{
    display: none;
}

.product-grid .button, .product-list .button{
    text-align: center;

}

.product-grid .bottom, .product-list .bottom{
    display: none;
}
.product-grid .myos .bottom, .product-list .myos .bottom{
    display: block;
}

.product-grid .image .cover{
    display: inline-block;
    position: relative;
}

.product-list .hover-menu{
    text-align: center;
    margin-top: 15px;
}
.product-grid .hover-menu{
    bottom: 0px;
    /*position: absolute;*/
    /*width: 100%;*/
    display: none;
    /*background: rgba(255, 255, 255, 0.8);*/
}
.product-grid .hover-menu a, .product-list .hover-menu a{
    font-size: 21px;
    color: #999;
    display: inline-block;
    padding: 1px;
    letter-spacing: 2px;
}
.favorites .product-grid .hover-menu a, .favorites .product-list .hover-menu a{
    font-size: 16px;
}

.product-grid.mini .hover-menu a{
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0;
}

.product-grid .hover-menu a:hover{
    color: #FF8000;
}

.product-actions a {
    text-decoration: none;
    line-height: 10px;
    padding: 2px;
    color:#666666;
    font-size: 9px;
    display: block;
    white-space: nowrap;
}
.product-actions a:hover{
    color:#FF8000;
}
.checkout #headings{
    margin-bottom: 15px;
}

.checkout #headings > div{
    width: 142px;
    text-align: center;
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}
.checkout #headings > div.active{
    background: #FF8000;
    color: #FFF;
}
.checkout #headings > div.active a{
    color: #FFF;
}
#login-dialog{
    width: 380px;
    position: relative;
}
#login-dialog .wait{
    position: absolute;
    top: 47%;
    left: 44%;
}
.login-box{
    position: absolute;
    top: 95px;
    background: #FFF;
    padding: 20px;
    left: 50px;
    border-radius: 3px;
}
.notification-sticky{
    height: 0px;
}
.bank-form table{
    width: 100%;
}
.campaign-item{
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    height: 200px;
}

/* FONT AWESOME */
#library .fa{
    font-size: 25px;
    color: #FF8000;
    float: left;
    line-height: 40px;
    margin-right: 15px;
}
.menu.top .fa{
    font-size: 15px;
}
.menu.top .fa-chevron-down{
    font-size: 12px;
}
.fa.icon-normal{
    font-size: 20px;
}
.fa.icon-big{
    font-size: 30px;
}
.product-actions .fa{
    font-size: 14px
}
.option_selected .fa-check{
    color: #63c731;
}
.option_default .fa-check{
    display: none;
}
.fa.red-icon{
    color: #FF0000;
    text-decoration: none;
}
.fa.green-icon{
    color: #64C632;
    text-decoration: none;
}
.fa.gray-icon{
    color: #ddd;
}
.fa-stack.stack-single-icon{
    display: inline;
    width: auto;
    height: auto;
    line-height: 1em;
}

.product-loading{
    opacity: 0.5;
}
.product-loading .wait{
    position: absolute;
    top: 22%;
    left: 24%;
}
.product-loading .bottom, .product-loading .hover-menu{
    display: none !important;
}
.ad a img, .ad div{
    margin-bottom: 10px;
}
.legal-information{
    max-height: 180px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 13px;
}
.legal-information p{
    margin-bottom: 15px;
}
.faded-link-container a{
    text-decoration: none;
    color: #999;
}

.image-sınav{
    width: 115px;
    height: 140px;
    display: inline-block;
}
.image-sinav-1{
    background: url(/image/data/links/sinav1.jpg) no-repeat;
}
.image-sinav-2{
    background: url(/image/data/links/sinav2.jpg) no-repeat;
}
.image-sinav-3{
    background: url(/image/data/links/sinav3.jpg) no-repeat;
}
.image-sinav-4{
    background: url(/image/data/links/sinav4.jpg) no-repeat;
}
.image-sinav-5{
    background: url(/image/data/links/sinav5.jpg) no-repeat;
}
.image-sinav-6{
    background: url(/image/data/links/sinav6.jpg) no-repeat;
}

.manufacturer-image{
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    height: 120px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
}


#readlist .list{
    display: none;
    position: absolute;
    margin: 0px 10px 10px 10px;
    background-color: white;
    border: 1px solid #B0A79A;
    width: 124px;
}
#readlist .list li{
    display: block;
    padding: 3px;
    cursor: pointer;
}


#readlist .list li:hover{
    background-color: #F2E8D9;
}
#readlist .selected{
    font-size: 11px;
    margin: 10px 10px 0px 5px;
    background: #F2E8D9;
    border: 1px solid #B0A79A;
    font-weight: normal;
    color: #000 !important;
    width: 100px;
}


.rating .fa-star.faded{
    color: #eee;
}
.rating .fa-star.active{
    color: #FF9800;
}
.rating .fa-star.passive{
    color: #ccc;
}

#readlist table{
    width: 100%;
}
#readlist table tr{
    border-bottom: 1px solid #B7DAFD;
}
#readlist table tr td{
    padding: 5px;
}
#readlist table tr td.red{
    padding: 0;
    border-left: 3px double #FCCBCB;
}

#readlist table tr{
    opacity: 0.5;
    color: #555;
    cursor: pointer;
}

#readlist table tr.active{
    opacity: 1;
    color: #000;
}
#readlist table tr .fa{
    color: #777;
}

#readlist table tr.active .fa{
    color: #64C632;
}

#readlist table tr td:first-child{
    width: 10px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 18px;
}

.postit {
    text-align:center;
    width: 200px;
    position:relative;
    border:1px solid #E8E8E8;
    border-bottom-right-radius: 60px 5px;
    display:inline-block;
    background: #FCF7F1;


    /*    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6));
	background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
	background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
	background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
	background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); */
}

.postit:after {
    content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.selected-button{
    margin-bottom: 3px;
    display: inline-block;
}

td.checkbox input[type='checkbox']{
    margin-right: 0;
}

.dataTables_paginate .paginate_button.previous, .dataTables_paginate .paginate_button.next{
    display: none;
}
.dataTables_paginate .paginate_button{
    text-decoration: none;
    padding: 0 5px;
    color: #777;
}
.dataTables_paginate .paginate_button.current{
    color:#FF8000;
}
.dataTables_filter {
    display: none;
}
.dataTables_filter input{
    width: 100%;
}

.sponsored-product-list{
    background: #ECF7EB;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc{
    position:relative;
}

table.dataTable thead .sorting:after{
    position:absolute;
    font-family: FontAwesome;
    top:13px;
    right:0;
    content: "\f0dc";
}

table.dataTable thead .sorting_asc:after{
    position:absolute;
    font-family: FontAwesome;
    top:13px;
    right:0;
    content: "\f0de";
}

table.dataTable thead .sorting_desc:after{
    position:absolute;
    font-family: FontAwesome;
    top:13px;
    right:0;
    content: "\f0dd";
}

#fixedbutton {
    position: fixed;
    bottom: 5px;
    right: 40px;
    width: 41px;
    word-wrap:break-word;
}

.sprite-always-read {
    background: url('../image/tavsiye.png') no-repeat -18px -10px;
    width: 68px;
    height: 103px;
}

.sprite-most-revieved {
    background: url('../image/tavsiye.png')  no-repeat -119px -10px;
    width: 81px;
    height: 102px;
}

.sprite-most-gifted {
    background: url('../image/tavsiye.png') no-repeat -221px -10px;
    width: 92px;
    height: 105px;
}


.sprite-most-liked {
    background: url('../image/tavsiye.png') no-repeat -342px -10px;
    width: 70px;
    height: 105px;
}

.sprite-nobel {
    background: url('../image/tavsiye.png') no-repeat -452px -10px;
    width: 69px;
    height: 103px;
}


.sprite-oscar {
    background: url('../image/tavsiye.png') no-repeat -561px -10px;
    width: 68px;
    height: 103px;
}

.sprite-authors_reading {
    background: url('../image/tavsiye.png') no-repeat -669px -10px;
    width: 69px;
    height: 103px;
}
.sprite-upcoming-books {
    background: url('../image/tavsiye.png') no-repeat -773px -10px;
    width: 75px;
    height: 105px;
}
.sprite-magazine{

    background: url('../image/tavsiye.png') no-repeat -887px -11px;
    width: 68px;
    height: 89px;
}

#form-clear-note-dialog{
    color: #fff !important;
    background: rgba(255, 128, 0, 0.78) !important;
    border-color: #eea236;
    float: right;
}

#description_text{
    width:100%;
    float:left;
}