@charset "utf-8";
/* ======= general ======= */
.okw_main {
  width: 930px;
  margin: 20px auto 0;
}
/* ======= common ======= */
.layoutleft .okw_area .ttl {
  padding: 0px 0 10px 0;
  font-weight: bold;
  font-size: 24px;
  color: #665329;
  line-height: 24px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.layoutleft .ttl span {
  font-weight: 100;
  font-size: 12px;
  margin-left: 15px;
}
/* ======= contents ======= */
.okw_contents {
  clear: both;
  width: 620px;
  line-height: 1.7;
  color: #000;
}
.okw_contents img {
  border-style: none;
  outline: none;
  vertical-align: top;
}
.okw_contents a {
  color: #0066cc;
  text-decoration: none;
}
.okw_contents a:visited {
  color: #832dab;
}
.okw_contents a:hover {
  text-decoration: underline;
  color: #209DD6
}
.okw_contents.layoutleft {
  position: relative;
  z-index: 1;
  float: left;
}
.okw_contents.layoutright {
  float: right;
}
/* ======= contents main ======= */
.okw_contents .main {
  width: 620px;
}
.okw_contents .main.layoutleft {
  float: left;
}
.okw_contents .main.layoutright {
  float: right;
}
.okw_contents .pr ul li {
  margin-bottom: 20px;
}
.okw_area {
  position: relative;
  width: 610px;
  margin-bottom: 30px;
}
.okw_area h2, .okw_area p, .okw_area ul, .okw_area li, .okw_category ul, .okw_category li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.okw_attlink {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  float: none;
  padding: 0;
  margin: 0;
}
.okw_attlink a {
  display: block;
  float: none;
  margin-top: 0px;
  height: auto;
}
/* ======= tab ======= */
.okw_tab {
 /position: relative;
 /z-index: auto;
}
.okw_tb_hed {
  border-bottom: 1px solid #dacaa5;
  height: 40px;
  -webkit-text-size-adjust: none
}
.okw_tb_list {
  clear: both;
  position: relative;
  border: 2px solid #D9CAA5;
  position: relative;
  padding: 0;
}
.okw_tb_list ul {
  display: block;
  padding: 0px 15px 0;
  background: #FFF;
  min-height: 150px;
}
.okw_tb_list li {
  border-bottom: 1px dotted #99865c;
}
.okw_tb_list li .rank1_icon, .okw_tb_list li .rank2_icon, .okw_tb_list li .rank3_icon {
  width: 24px;
  float: left;
  height: 21px;
  line-height: 100px;
  overflow: hidden;
  margin-right: 10px;
}
.rank1_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat 0 -20px;
}
.rank2_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -25px -20px;
}
.rank3_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -51px -20px;
}
.q_lv3_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -127px -20px;
}
.q_lv2_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -103px -22px;
}
.q_lv1_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -79px -22px;
}
.okw_tb_list li .rank_ant_icon {
  padding-left: 3px;
  margin-top: 1px;
  width: 30px;
  float: left;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #66400a
}
.okw_tb_list li .rank_ant_icon span, .okw_category li .rank_ant_icon span {
  font-size: 11px;
  font-weight: 100;
}
.okw_lt.ranking .sentense1 {
  font-size: 14px;
}
.okw_lt.ranking .txt18 {
  font-size: 18px;
}
.okw_tb_list .sentense2 .statas_icon01, .okw_tb_list .sentense2 .statas_icon02, .okw_tb_list .sentense2 .statas_icon03, .okw_tb_list .sentense2 .statas_icon04 {
  float: right;
  display: block;
  width: 35px;
  height: 20px;
  line-height: 100px;
  overflow: hidden;
}
.okw_tb_list .sentense2 .time {
  clear: both;
  display: block;
}
.statas_icon01 {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -154px 0px;
}
.statas_icon02 {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -193px 0px;
}
.statas_icon03 {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -193px -22px;
}
.statas_icon04 {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -154px -22px;
}
.okw_tb_list .okw_attlink {
  right: 30px;
}
.okw_area .okw_rss_icon {
}
.okw_area .okw_rss_icon a {
  position: absolute;
  top: 11px;
  right: 10px;
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -13px 0px;
  width: 15px;
  height: 15px;
  line-height: 100px;
  overflow: hidden;
}
.okw_tb_list em {
  font-style: normal;
}

.okw_tb_list ul.okw_lt .qa_hidden {
  padding: 10px 0;
  display: block;
  font-size: 12px;
  /margin-bottom:-2px;
}

.okw_tb_list ul.okw_lt a {
  padding: 10px 0;
  cursor: pointer;
  display: block;
  font-size: 12px;
  /margin-bottom:-2px;
}
.okw_tb_list ul.okw_lt a:hover {
  color: #209DD6;
  text-decoration: underline;
}
.okw_tb_list .sentense1 {
  line-height: 21px;
  display: block;
  max-width: 540px;
  margin-right: 5px;
  float: left;
  font-size: 18px;
  font-weight: bold;
  -webkit-text-size-adjust: 100%
}
.okw_tb_list .ranking .sentense1 {
  max-width: 500px;
}
.okw_tb_list a:hover .sentense1 {
  text-decoration: underline;
}
.okw_tb_list .sentense1 em {
  font-style: normal;
  color: #e69e3a;
  padding-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  vertical-align: text-bottom;
  padding-right: 5px;
}
.okw_tb_list a:visited .sentense1 em.list_cate {
  color: #832dab;
}
.okw_tb_list a:hover .sentense1 em {
  text-decoration: none;
}
.okw_tb_list .sentense1 em.txt20 {
  font-size: 20px;
  line-height: 15px;
}
.okw_tb_list .sentense1 .list_cate {
  display: inline-block;
  font-size: 12px;
  font-weight: 100;
  color: #0066cc;
  padding: 0 0 0 5px;
  vertical-align: bottom;
}
.okw_tb_list .sentense3 {
  float: right;
  width: 546px;
  -webkit-text-size-adjust: 100%;
}
.okw_tb_list .list_txt {
  display: block;
  color: #222;
  max-width: 405px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.okw_tb_list .time {
  color: #aaaaaa;
  width: 140px;
  display: block;
  float: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}
.okw_tb_list .okw_more_btn {
  text-align: center;
  font-size: 11px;
}
.okw_tb_list .okw_more_btn a {
  padding: 20px 0;
  display: block;
  line-height: 18px;
}
.okw_tb_list .okw_more_btn a .txt {
  padding-right: 5px;
  font-weight: bold;
  font-size: 18px;
  display: block;
}
.okw_tb_list li.top_bar {
  border-top: 1px solid #EEE;
}
.okw_lt .q_lv3_icon, .okw_lt .q_lv2_icon, .okw_lt .q_lv1_icon {
  width: 24px;
  float: left;
  height: 24px;
  line-height: 100px;
  overflow: hidden;
  margin-top: 7px;
  margin-right: 5px;
}
.okw_tb_list ul.lv_txt_area {
  position: absolute;
  top: 8px;
  right: 33px;
  font-size: 11px;
  padding: 0;
  min-height: 0;
}
.lv_txt_area li {
  float: left;
  line-height: 25px;
  margin-right: 5px;
  border: none;
  white-space: nowrap
}
.lv_txt_area li .q_lv3_icon, .lv_txt_area li .q_lv2_icon, .lv_txt_area li .q_lv1_icon {
  width: 24px;
  float: left;
  height: 24px;
  line-height: 100px;
  overflow: hidden;
  margin-right: 3px;
}
/* ======= user ranking ======= */
.okw_tb_list .ranking_user li .rank1_icon, .okw_tb_list .ranking_user li .rank2_icon, .okw_tb_list .ranking_user li .rank3_icon {
  width: 39px;
  height: 34px;
  overflow: hidden;
  position: absolute;
  top: 7px;
  left: 15px
}
.okw_tb_list .status_icon {
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #665329;
  font-weight: bold;
  font-size: 10px;
  overflow: hidden;
  position: absolute;
  top: 43px;
  left: 11px;
  text-align: center
}
.okw_tb_list .ranking_user .rank1_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat 0 -46px;
}
.okw_tb_list .ranking_user .rank2_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -44px -46px;
}
.okw_tb_list .ranking_user .rank3_icon {
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat -88px -46px;
}
.okw_tb_list .ranking_user {
  clear: both;
  margin: 15px 0;
  padding: 0;
  min-height: 99px;
  display: table;
  word-break: break-all;
  word-wrap: break-word
}
.okw_tb_list .ranking_user.cpn_nm {
  margin: 25px 15px 0 15px;
  padding: 0 0 15px 0;
  border-bottom: 1px dotted #99865c
}
.okw_tb_list .ranking_user li {
  border: none;
  border-left: 1px dotted #99865c;
  width: 150px;
  position: relative;
  text-align: center;
  display: table-cell
}
.okw_tb_list .more_cpn_link {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-size: 11px;
}
.okw_tb_list .ranking_user li:first-child {
  border: none
}
.okw_tb_list .ranking_user li img {
  border: #ccc 1px solid
}
.okw_tb_list .ranking_user li .avatar_icon img {
  position: absolute;
  top: 9px;
  right: 28px
}
.okw_tb_list .ranking_user li a {
  padding: 15px 0 7px 0
}
.okw_tb_list .ranking_user.cpn_nm li a {
  padding: 0
}
.okw_tb_list .ranking_user li a:visited .rank_userarea .att {
  color:#222
}
.okw_tb_list .ranking_user li a:visited .rank_userarea .att span {
  color:#fff
}
.okw_tb_list .ranking_user li a:hover {
  text-decoration:none
}
.okw_tb_list .ranking_user li a:hover .rank_userarea .rank_username {
  text-decoration: underline
}
.rank_userarea {
  display: block;
  font-size: 11px;
  margin: 66px 0 0 0;
  padding: 0 5px
}
.cpn_nm .rank_userarea {
  margin: 5px 0 0 0;
}
.rank_userarea .att {
  line-height: 1.4;
  display: block;
  padding: 0 5px;
  margin: 8px 0 2px 0;
  color:#222
}
.rank_userarea .att span {
  font-size: 10px;
  background: #66400a;
  color: #fff;
  margin-top: 1px;
  margin-right: 4px;
  padding: 1px 3px;
  text-align: center;
  line-height: 1
}
.rank_userarea .rank_group {
  line-height: 1.4;
  display: block;
  padding: 0 5px;
  margin: 5px 0 2px 0;
  color: #222
}
.rank_userarea .rank_username {
  display: block;
  font-size: 14px;
  line-height: 1.2
}
.okw_tb_list .ranking_user.cpn_nm .rank_username {
  font-size: 12px;
}
.okw_tb_list .ranking_user .okw_more_btn {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle
}
.okw_tb_list .ranking_user .okw_more_btn span {
  padding-left:20px;
  display:block
}
.okw_tb_list .ranking_user .okw_more_btn a {
  padding:0
}
.okw_tb_list .ranking_user .okw_more_btn a:hover {
  text-decoration:underline
}
.okw_tb_list .ranking_user .okw_more_btn em {
  font-size: 18px
}
.ranking_user_footerlink {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0 0
}
.ranking_user_footerlink span {
  font-weight: normal;
  margin: 0 5px
}
/* ======= expert jobs list ======= */
.okw_area .okw_tb_list .okw_list_p {
  display: block
}
.okw_area .okw_tb_list .okw_list_p .sort_type {
  background: none;
  font-size: 14px;
  font-weight: bold;
  margin-top: -8px;
  padding: 0
}
.okw_area .okw_tb_list .okw_list_p .sort_type ul {
  margin-top: -6px;
  margin-bottom: -5px;
  min-height: inherit;
  overflow: hidden
}
.okw_area .okw_tb_list .okw_list_p .sort_type li {
  border-bottom: none
}
.okw_area .okw_tb_list .okw_list_p .sort_type .okw_more_btn {
  border-top: 1px dotted #99865c;
  margin: 0 15px;
}
.okw_area .okw_tb_list .okw_list_p .expertList_area {
  height: 108px;
  padding: 15px;
  overflow: auto;
  width: 576px
}
/* ======= category ======= */
.okw_category {
  position: relative;
  margin-bottom: 15px;
  background: #f7f3e8;
  padding-bottom: 15px;
  margin-right: 10px;
}
.okw_category .ttl {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 8px;
  background: #d9caa5;
  color: #000
}
.okw_category_box {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px
}
.okw_category_box .box {
  background: #FFF;
  padding: 10px
}
.okw_category_box img {
  width: 120px;
  height: 80px;
}
.okw_category li .rank1_icon, .okw_category li .rank2_icon, .okw_category li .rank3_icon, .okg_rank li .rank1_icon, .okg_rank li .rank2_icon, .okg_rank li .rank3_icon {
  width: 24px;
  float: left;
  height: 20px;
  line-height: 50px;
  overflow: hidden;
  margin: 0 12px 15px 0;
  padding: 0;
}
.okw_category li .rank_ant_icon {
  padding: 0 0 0 3px;
  margin: 0px;
  width: 35px;
  float: left;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #66400a;
}
.okw_category li {
  clear: both;
  font-size: 12px;
  padding: 2px 0;
}
.okw_category li .rank_fo_b {
  font-size: 18px;
  font-weight: bold;
  display: block;
  line-height: 18px;
  padding: 2px 0 0;
}
.okw_category li a {
  margin-top: 2px;
  display: block;
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.okw_category li a:hover {
  text-decoration: none;
}
.okw_category_lank li {
  margin-bottom: 5px;
  padding: 0;
}
.okw_category ul.okw_category_lank {
  clear: both;
  float: left;
  width: 130px;
  margin-left: 15px;
}
.okw_category .ct_ttl {
  text-align: center;
  font-size: 18px;
  margin: 5px 0 0 0;
  padding: 0;
  font-weight: bold;
}
/* ======= qr ======= */
.okw_qr {
  position: relative;
  /* margin-top: 40px;*/
  background: #f7f3e8;
  padding-bottom: 15px;
  margin-right: 10px;
}
.okw_qr .ttl {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 8px;
  background: #d9caa5;
  color: #000;
  margin: 14px 0;
}
.okw_qr ul {
  margin: 0 -1px 0 15px;
  padding:0
}
.okw_qr ul li {
  list-style:none;
  float:left;
  width:268px;
  padding-left:15px;
  border-left:#99865c 1px dotted
}
.okw_qr ul li:first-child {
  margin-right:15px;
  padding:0;
  border-left:none
}
/* ======= external ======= */
.okw_external {
  position: relative;
  margin-bottom: 15px;
  background: #f7f3e8;
  padding-bottom: 15px;
  margin-right: 10px;
}
.okw_external .ttl {
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  background: #d9caa5;
  color: #000;
  margin: 14px 0;
}
/* ======= oks ======= */
.layoutleft .okw_external .ttl .oks_logo {
  margin: 0px 0 0 -1px;
  width: 142px;
  display: block;
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat 0 -85px;
  line-height: 70px;
  height: 25px;
  overflow: hidden;
  float: left;
}
.layoutleft .okw_external .ttl span {
  line-height: 25px;
}
ul.oks_box {
  margin: 0;
  padding: 0 15px;
}
.oks_box li.oks_sentence {
  padding-right: 5px;
  padding-left: 14px;
  border-left: #99865c 1px dotted;
  display: table-cell;
}
.oks_box li.oks_sentence:first-child {
  border: none;
  padding: 0;
}
.oks_box li.oks_sentence a {
  display: block;
}
.oks_box li.oks_sentence.none {
  border-right: none;
}
.oks_ttl {
  font-size: 13px;
  line-height: 15px;
  width: 170px;
  padding: 0;
  margin: 0;
  float: left;
}
.oks_sentence .oks_ttl a {
  font-size: 16px;
  line-height: 18px;
  width: 170px;
  margin-bottom: 5px;
}
.oks_ttl span {
  font-size: 11px;
  display: block;
}
.oks_sentence img {
  width: 90px;
  height: 90px;
}
.oks_sentence a {
  width: 90px;
  float: left;
  margin-right: 10px;
}
p.oks_txt_area {
  float: left;
  width: 170px;
  margin-top: 5px;
  font-size: 11px;
  color: #222;
  line-height: 13px;
  padding: 0;
  margin: 0;
}
/* ======= okw_category_filter ======= */
.okw_category_serect {
  line-height: 1.7;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  width: 270px;
}
.okw_category_serect .ct_ttl {
  font-weight: bold;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  color: #222;
}
.okw_category_serect a {
  float: left;
  display: block;
}
.okw_category_serect a:hover .category_name {
  text-decoration: underline;
  cursor: pointer;
}
.category_name {
  padding-right: 10px;
  max-width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  position: relative;
}
.category_name:after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 0;
  content: "";
  width: 5px;
  height: 6px;
  background: url(../images/common/sprite_icon.gif?fvi9f50Kig) no-repeat 0 0
}
.okw_tb_list .okw_category_filter {
  position: absolute;
  zoom: 1;
  top: 20px;
  left: 0;
  display: block;
  background: white;
  z-index: 10;
  border: 1px solid #CCC;
  width: 340px;
  padding: 0 5px;
  min-height: 50px;
}
.okw_tb_list .okw_category_filter li {
  height: 28px;
  line-height: 28px;
  background: #FFF;
  padding: 0;
  border-bottom: 1px dotted #DDD;
  border-top: none;
}
.okw_category_serect .okw_category_filter li a {
  float: none;
}
.okw_category_serect a:hover {
  color: #209DD6
}
.okw_tb_list ul.okw_category_serect .okw_category_filter li.none {
  border-bottom: none;
}
.okw_tb_list ul.okw_category_filter .list_right {
  width: 159px;
  float: right;
  border-left: 1px solid #DDD;
  padding: 0 5px
}
.okw_category_filter .list_left {
  width: 170px;
  float: left;
}
/* ======= no_login_top ======= */
.no_login_inner a:link, .no_login_inner a:visited {
  color: #0066cc;
  text-decoration: none;
}
.no_login_inner a:hover {
  color: #209dd6;
  text-decoration: underline
}
.no_login_section1, .no_login_section3, .no_login_section5, .no_login_section7, .no_login_section9, .no_login_section11, .no_login_section13 {
  background: #FFF;
}
.no_login_section2, .no_login_section4, .no_login_section6, .no_login_section8, .no_login_section10, .no_login_section12 {
  background: #f7f3e8
}
.no_login_inner {
  width: 930px;
  margin: 0 auto;
  padding: 0 10px;
  color: #66400a;
  line-height: 1.4;
  font-size: 14px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.no_login_inner ul, .no_login_inner li, .no_login_inner p {
  margin: 0;
  padding: 0;
}
.no_login_inner .ttl {
  font-size: 24px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  padding-bottom: 20px
}
.no_login_inner .dis {
  padding-bottom: 10px;
  display: block;
}
.no_login_inner .dis2 {
  display: block;
  font-size: 12px;
}
.no_login_inner a {
  display: block;
  padding-top: 15px;
  font-weight: bold
}
.no_login_inner .sc_left {
  width: 50%;
  display: table-cell;
  vertical-align: middle
}
.no_login_inner .sc_right {
  width: 50%;
  display: table-cell;
  vertical-align: middle
}
.no_login_section1 .no_login_inner .ttl {
  font-size: 36px;
  padding-top: 50px;
}
.no_login_section1 {
  min-height: 400px;
  background: url(../images/common/top_img01.gif?fvi9f50Kig) no-repeat center bottom;
  text-align: center;
}
.no_login_section2 .no_login_inner {
  width: 465px;
  padding: 100px 465px 100px 10px;
  background: url(../images/common/top_img02.gif?fvi9f50Kig) 510px no-repeat;
}
.no_login_section2 .no_login_inner .att {
  font-size: 12px;
}
.no_login_section3 .no_login_inner {
  padding: 60px 10px;
  display: block;
}
.no_login_section3 .sc_left p {
  position: relative;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.no_login_section3 .h_date {
  padding-left: 110px;
  color: #e67373;
  font-weight: bold;
  font-size: 19px;
  min-height: 100px;
}
.no_login_section3 .q_date {
  padding-left: 110px;
  color: #e69e3a;
  font-weight: bold;
  font-size: 19px;
  min-height: 100px;
  margin-bottom: 30px;
}
.no_login_section3 .a_date {
  padding-left: 110px;
  color: #33aadd;
  font-weight: bold;
  font-size: 19px;
  min-height: 100px;
  margin-bottom: 26px;
}
.no_login_section3 .h_date span {
  display: block;
  color: #bf4c4c;
  font-size: 30px
}
.no_login_section3 .q_date span {
  display: block;
  color: #a66d21;
  font-size: 30px
}
.no_login_section3 .a_date span {
  display: block;
  color: #1b85b3;
  font-size: 30px
}
.no_login_section3 .h_date em, .no_login_section3 .q_date em, .no_login_section3 .a_date em {
  font: 90px Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 70px;
  margin-right: 5px;
}
.no_login_section3 .q_date:after {
  width: 30px;
  height: 30px;
  content: "";
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat -165px -5px;
  position: absolute;
  bottom: -28px;
  left: 39px;
}
.no_login_section3 .a_date:after {
  width: 30px;
  height: 45px;
  content: "";
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat -200px 7px;
  position: absolute;
  bottom: -33px;
  left: 39px;
}
.no_login_section3 .q_date:before {
  content: "Q";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125px;
  font-weight: bold;
  color: #E69E3A;
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -50px;
  line-height: 100px
}
.no_login_section3 .a_date:before {
  content: "A";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125px;
  font-weight: bold;
  color: #3AD;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -50px;
  line-height: 100px
}
.no_login_section3 .h_date:before {
  content: "";
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat -174px -40px;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  left: 2px;
  width: 100px;
  height: 90px;
}
.no_login_section4 .no_login_inner {
  padding-bottom: 370px;
  min-height: 230px;
  display: table;
  padding-top: 90px;
  background: url(../images/common/top_img04.gif?fvi9f50Kig) no-repeat center bottom;
}
.no_login_section4 .sc_left {
  text-align: right;
  padding-right: 15px;
  vertical-align: top;
}
.no_login_section4 .sc_right {
  padding-left: 15px;
  vertical-align: top;
}
.no_login_section4 .sc_right li {
  display: block;
  padding-bottom: 15px;
}
.no_login_section4 .sc_right li a {
  font-size: 18px;
  padding: 0
}
.no_login_section4 .dis_area {
  font-size: 12px;
}
.no_login_section5 .okw_nmb {
  font-size: 140px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #bfa34d;
  letter-spacing: -0.05em;
  line-height: 110px;
  margin: 60px 0 80px;
}
.no_login_section5 .okw_nmb span {
  letter-spacing: -0.13em;
}
.no_login_section5 .dis {
  margin-bottom: 20px;
}
.no_login_section5 .no_login_inner {
  text-align: center;
  min-height: 485px
}
.no_login_section5 .no_login_inner a, .no_login_section12 .no_login_inner a {
  display: inline-block;
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat 0 0;
  width: 165px;
  height: 42px;
  cursor: pointer;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  line-height: 42px;
  margin: 0 0 5px 0;
  padding: 0
}
.no_login_section5 .no_login_inner a:link, .no_login_section5 .no_login_inner a:visited, .no_login_section12 .no_login_inner a:link, .no_login_section12 .no_login_inner a:visited {
  text-decoration: none
}
.no_login_section5 .no_login_inner a:hover, .no_login_section12 .no_login_inner a:hover {
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat 0 -44px;
}
.no_login_section5 .no_login_inner a:active, .no_login_section12 .no_login_inner a:active {
  padding-top: 2px;
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat 0 -88px;
  height: 40px;
}
.no_login_section5 .no_login_inner .ttl {
  padding-bottom: 30px;
}
.no_login_section6 .no_login_inner {
  width: 465px;
  padding: 130px 465px 130px 10px;
  background: url(../images/common/top_img05.gif?fvi9f50Kig) 490px no-repeat;
}
.no_login_section7 .no_login_inner {
  width: 465px;
  padding: 100px 10px 100px 465px;
  background: url(../images/common/top_img06.jpg?fvi9f50Kig) 10px no-repeat;
}
.no_login_section7 .no_login_inner .sc_right {
  padding-left: 20px;
}
.no_login_section8 .no_login_inner {
  padding: 100px 465px 100px 10px;
  width: 465px;
  background: url(../images/common/top_img07.gif?fvi9f50Kig) 490px top no-repeat;
}
.no_login_section9 .no_login_inner {
  padding-top: 80px;
  text-align: center;
  min-height: 605px;
  background: url(../images/common/top_img08.gif?fvi9f50Kig) center bottom no-repeat;
}
.no_login_section10 .no_login_inner {
  padding: 100px 465px 100px 10px;
  width: 465px;
  background: url(../images/common/top_img09_2.gif?fvi9f50Kig) 490px no-repeat;
}
.no_login_section10 .no_login_inner ul {
  overflow: hidden;
}
.no_login_section10 .no_login_inner li {
  font-size: 10px;
  width: 113px;
  margin-right:30px;
  float: left;
  display: block;
  text-align: center;
  padding-top: 120px;
}
.no_login_section10 .no_login_inner li.pr1 {
  background: url(../images/common/top_img09_1.jpg?fvi9f50Kig) no-repeat;
}
.no_login_section10 .no_login_inner li.pr2 {
  background: url(../images/common/top_img09_1.jpg?fvi9f50Kig) -144px 0 no-repeat;
}
.no_login_section10 .no_login_inner li.pr3 {
  background: url(../images/common/top_img09_1.jpg?fvi9f50Kig) -288px 0 no-repeat;
  margin-right:0
}
.no_login_section11 .no_login_inner {
  width: 465px;
  padding: 100px 10px 100px 465px;
  background: url(../images/common/top_img10.gif?fvi9f50Kig) 10px center no-repeat;
}
.no_login_section11 .no_login_inner .sc_right {
  padding-left: 20px;
}
.no_login_section11 ul, .no_login_section6 ul {
  margin-bottom: 10px;
}
.no_login_section11 li, .no_login_section6 li {
  display: block;
  padding-top: 10px;
}
.no_login_section11 li a, .no_login_section6 li a {
  padding: 0;
  font-weight: 100
}
.no_login_section12 .no_login_inner {
  padding-top: 70px;
  text-align: center;
  min-height: 450px;
}
.no_login_section12 li {
  position: relative
}
.no_login_section12 .q_date {
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125px;
  font-weight: bold;
  color: #E69E3A;
  line-height: 100px;
  margin-right: 70px;
}
.no_login_section12 .a_date {
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125px;
  font-weight: bold;
  color: #3AD;
  margin-right: 70px;
  line-height: 100px;
}
.no_login_section12 .h_date {
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat -174px -40px;
  width: 100px;
  height: 90px;
  text-indent: 100%;
  overflow: hidden
}
.no_login_section12 .q_date:after {
  width: 40px;
  height: 40px;
  content: "";
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat -290px -0px;
  position: absolute;
  top: 30px;
  right: -58px;
}
.no_login_section12 .a_date:after {
  width: 60px;
  height: 40px;
  content: "";
  background: url(../images/common/top_img03.gif?fvi9f50Kig) no-repeat -228px 0px;
  position: absolute;
  top: 30px;
  right: -55px;
}
.no_login_section12 ul {
  overflow: hidden;
  margin: 0 auto 60px;
  width: 440px;
}
.no_login_section12 li {
  float: left;
  display: block
}
.no_login_section12 .dis {
  margin-bottom: 20px;
}
.no_login_section13 .no_login_inner {
  padding: 50px 10px;
  padding-left:20px;
  padding-right:0
}
.no_login_section13 li {
  display: block;
  margin-bottom: 20px
}
.no_login_section13 a {
  padding: 0;
  display: inline-block;
  margin-left: 10px;
}
/* ======= okw_recommend 201512 renewal ======= */
.okw_recommend_tab {
  clear: both;
  width: 610px;
  height: 45px;
  margin: 30px 0 0 0;
  background: #fff;
  border-bottom: #ccc 1px solid;
  font-size: 12px;
  font-weight: bold;
  position: relative
}
.okw_recommend_tab ul {
  margin: 0;
  padding: 0;
  height: 46px;
  display: block;
  position: absolute;
  top: 0;
  left: 0
}
.okw_recommend_tab ul li {
  list-style: none;
  float: left;
  text-align: center;
  margin: 0 0 0 10px
}
.okw_recommend_tab ul li:first-child {
  margin: 0
}
.okw_recommend_tab ul li a {
  display: block;
  width: 158px;
  height: 44px;
  line-height: 44px;
  border: #ccc 1px solid;
  border-bottom: none;
  -webkit-border-radius: 6px 6px 0 0;  
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  position: relative
}
.okw_recommend_tab ul li a:hover {
  opacity: 0.75;
}
.okw_recommend_tab ul li.present a {
  background: #f8f8f8;
  border-bottom: #f8f8f8 1px solid
}
.okw_recommend_tab ul li.present a:hover {
  opacity: 1;
}
.okw_recommend_tab ul li.top_tab_answer a {
  color: #38b3e6
}
.okw_recommend_tab ul li.tab_up a {
  color: #df3939
}
.okw_recommend_tab ul li.tab_thank a {
  color: #e87270
}
.okw_recommend_tab ul li.top_tab_answer a:before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 25px;
  background: url(../images/common/sprites_icon_2.gif?fvi9f50Kig) no-repeat 0 -29px;
  position: absolute;
  top: 8px;
  left: 34px
}
.okw_recommend_tab ul li.top_tab_answer a span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 68px
}
.okw_recommend_tab ul li.tab_up a:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 28px;
  background: url(../images/common/sprites_icon_2.gif?fvi9f50Kig) no-repeat -29px -29px;
  position: absolute;
  top: 6px;
  left: 36px
}
.okw_recommend_tab ul li.tab_up a span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 64px
}
.okw_recommend_tab ul li.tab_thank a:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 28px;
  background: url(../images/common/sprite_icon3.png?fvi9f50Kig) no-repeat 0px 1px;
  position: absolute;
  top: 8px;
  left: 43px
}
.okw_recommend_tab ul li.tab_thank a span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 72px
}
.okw_recommend_area {
  width: 608px;
  background: #f8f8f8;
  border-left: #ccc 1px solid;
  border-right: #ccc 1px solid;
  padding-top: 16px
}
.okw_recommend_area h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  background: #f8f8f8;
  margin: 0;
  padding: 19px 0 8px 10px;
  position: relative
}
.okw_recommend_area h2 span {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  position: absolute;
  bottom: 8px;
  right: 10px
}
.okw_recommend_area h2 span.qlist_keyword {
  display: inline;
  position: static;
  padding-left: 4px
}
.okw_recommend_area h2:first-child {
  padding-top: 0
}
.okw_recommend_setting {
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
  background: #fff;
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
  line-height: 1.2
}
.btn_setting a {
  font-size: 14px;
  display: inline-block;
  width: 246px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: #06c 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin: 16px 0 0 0
}
.btn_setting a:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 12px;
  background: url(../images/common/sprites_icon_2.gif?fvi9f50Kig) no-repeat -41px 0;
  position: absolute;
  top: 13px;
  right: 13px
}
.okw_personal_apply {
  width: 610px;
  clear: both;
  text-align: center;
  position: relative
}
.okw_personal_apply .apply_faq a {
  display: inline-block;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  right: 0
}
.okw_favorite_area {
  width: 610px;
  margin: 40px 0 0 0
}
.okw_favorite_area .okw_qlist {
  border-left: #ccc 1px solid;
  border-right: #ccc 1px solid;
}
.okw_favorite_area h2 {
  line-height: 1.2;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 6px 0
}
.qlist_keyword_list {
  clear: both;
  background: #fff;
  border-bottom: #ccc 1px solid;
  padding: 16px 10px;
  font-size: 12px;
  line-height: 1.2
}
.qlist_keyword_list span {
  display: block
}
.qlist_keyword_list ul {
  margin: 0;
  padding: 0;
  overflow: hidden
}
.qlist_keyword_list ul li {
  list-style: none;
  float: left;
  margin: 10px 10px 0 0
}
.qlist_keyword_list ul li a {
  display: inline-block;
  border: #ccc 1px solid;
  padding: 0 12px;
  height: 28px;
  line-height: 28px
}
.okw_announce {
  font-size: 14px;
  margin: 0 0 16px 0;
}
.text_announce {
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: #000 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}
.okw_announce .btn_announce {
  height: 38px;
  line-height: 38px;
  border: #06c 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center
}
.btn_announce a {
  display: block;
  position: relative;
}
.btn_announce a:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 12px;
  background: url(../images/common/sprites_icon_2.gif?fvi9f50Kig) no-repeat -41px 0;
  position: absolute;
  top: 13px;
  right: 13px;
}
.btn_announce span {
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
}
.adminmessage a, .adminmessage p {
  opacity: 0;
}
.okw_recruiting {
  clear: both;
  width: 578px;
  margin: 0 0 30px 0;
  padding: 16px;
  background: #eee;
  line-height: 1.4;
  font-size: 14px
}
.okw_recruiting .ttl {
  font-size: 18px;
  font-weight: bold;
  color: #665329;
  line-height: 1.4;
  margin: 0 0 4px 0
}
.okw_recruiting .content {
  line-height: 1.1;
  clear: both;
  overflow: hidden
}
.okw_recruiting p {
  float: left;
  margin: 0;
  padding: 0
}
.okw_recruiting ul {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0
}
.okw_recruiting ul li {
  list-style: none;
  float: left;
  border-left: #000 1px solid;
  margin-left: 8px;
  padding-left: 8px
}
.okw_recruiting ul li:first-child {
  border: none;
  margin: 0;
  padding: 0
}
.okw_apps {
  font-size: 13px;
  line-height: 1.4;
  padding: 0 15px
}
.okw_apps ul {
  margin: 16px 0 0 0;
  overflow: hidden
}
.okw_apps ul li {
  text-align: center
}
.okw_apps ul li span {
  display: block;
  margin: 8px 0 0 0
}
.okw_apps ul li img {
  width: 200px
}
