/* Megogo rating by vitnet start */
.rating-mg {
  position: relative;
  width: 300px;
  text-align: center;
}

.rating-mg .btn-group {
  margin: 10px 0;
}

.btn-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.rating-mg .btn.like .icon {
  width: 16px;
  height: 16px;
  background: url(../dleimages/icon-like.png);
}

.rating-mg .btn.dislike .icon {
  width: 16px;
  height: 16px;
  background: url(../dleimages/icon-dislike.png);
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn {
  font-weight: bold;
}

.rating-mg .btn {
  padding: 4px 8px;
  font-size: 12px;
}

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-group > .btn + .btn {
  margin-left: -1px;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #494949;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #dddddd;
  background-image: -moz-linear-gradient(top, #f6f6f6, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #dddddd);
  background-image: -o-linear-gradient(top, #f6f6f6, #dddddd);
  background-image: linear-gradient(to bottom, #f6f6f6, #dddddd);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffdddddd', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #dddddd;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: 0;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.rating-mg .progress {
  margin: 5px 0;
  height: 10px;
}

.progress {
  height: 13px;
  margin-bottom: 3px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff;
}

.progress-success .bar, .progress .bar-success {
  background-color: #FFC600;
  background-image: -moz-linear-gradient(top, #84ce19, #3a8e0b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#84ce19), to(#3a8e0b));
  background-image: -webkit-linear-gradient(top, #84ce19, #3a8e0b);
  background-image: -o-linear-gradient(top, #84ce19, #3a8e0b);
  background-image: linear-gradient(to bottom, #ffdc06, #FFC600);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff84ce19', endColorstr='#ff3a8e0b', GradientType=0);
}

.progress-danger .bar, .progress .bar-danger {
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #111111, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#000000));
  background-image: -webkit-linear-gradient(top, #111111, #000000);
  background-image: -o-linear-gradient(top, #111111, #000000);
  background-image: linear-gradient(to bottom, #111111, #000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111', endColorstr='#ff000000', GradientType=0);
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
                         -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                                 box-sizing: border-box;
                    -webkit-transition: width 0.6s ease;
                       -moz-transition: width 0.6s ease;
                         -o-transition: width 0.6s ease;
                            transition: width 0.6s ease;
}



.rating-mg .result {
  margin: 5px 0;
  font-family: 'PF DinDisplay','Trebuchet MS',Arial;
  font-size: 12px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.rating-mg .result {
  font-family: 'PF DinDisplay','Trebuchet MS',Arial;
  font-size: 12px;
}

.rating-mg .result .like {
  display: block;
  float: left;
  width: 50%;
}

.rating-mg .result .dislike {
  display: block;
  float: right;
  width: 50%;
  text-align: right;
}
/* Megogo rating by vitnet end */

.btn-active {
      color: black;
      text-decoration: none;
      background: linear-gradient(to bottom, #ffd65e 0%,#ffc600 100%);

}

.info_data .btn {
    padding: 0 5px;
    margin: 2px 2px 4px 0;
}

#updown {
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.2s ease;
    opacity:0;
    text-align: center;
}
#updown span {
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin-top: 50px;
    display: block;
}
#updown:hover {
    background: rgba(0, 0, 0, 0.5);
}

#updown.up {
    opacity:1;
}

#updown.down {
    opacity:1;
}

#logged:hover ul {
    width: 170px;
    left: 0;
    top: 0;
}
#logged {
    min-width: 170px;
}

.sfr {
    margin: 1em 2em 0 2em;
}

.sfri {
    width: 200px;
    float: left;
}

.sfrt {
    width: 640px;
    float: left;
}

.sfrh3 {
    padding-top: 6px;
    height: 26px;
    background-color: #303030;
    color: #ffffff;
    font-weight: bold;
}

.sfrh3 a, .sfrh3 a:visited {
    margin-left: 10px;
    color: #ffffff;    
}

.sfrh3 a:hover {
    color: #ffc600;
}

.sfrh3 a:third {
    float: right;
}

.ui-menu-item {
    padding-top: 3px;
    padding-left: 3px;
    height: 23px;
    font-size: 15px;
}

#chat-wrapper {
    position: fixed;
    width: 300px;
    height: 320px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    box-shadow: 0 0 5px rgb(178, 178, 178);
    bottom: 50px;
}
.chat-closed {
    right: -302px!important;
}
.chat-opened {
    right: 5px!important;
}
#chat-header {
    height: 30px;
    width: 130px;
    padding: 5px 0 0 0;
    /* margin-top: -5px;*/
    border: none!important;
    border-radius: 2px 2px 0 0!important;
    margin-left: -82px;
    float: left;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: absolute;
    top: 50px;
}