.imgresdif {
width:240px;
height:180px;
}

.iframeresdif {
width:640px;
height: 480px;
}


.og-grid li {
	height: 195px;
}


.clip {
#max-width:100%;
	width:238px;
	#text-align:center;
    white-space: nowrap; 
    overflow: hidden; 
    #background: #fc0; 
    #padding: 5px; 
    text-overflow: ellipsis; 
   }


