
.divrectr{

}
/* line 379, ../sass/screen.scss */
.divrectr {
padding:0px 40px 30px;
  line-height: 25px;
}
/* line 382, ../sass/screen.scss */
.divrectr a {
  text-decoration: underline;
  color: #B5A57F;
  margin-right: 30px;
}
/* line 387, ../sass/screen.scss */
.divrectr a:hover {
  color: #de2172;
}




.allframed{
width:650px;
height: 490px;
}


.textbigbig{
	font-size: 13pt; 
	font-family: Tahoma;  
font-weight: bold;
}


.h1cls{
padding:0px 30px 0px;
  font: 400 30px/1.3 'Bree Serif', Georgia, serif;
}


.topdv2{
float: right;
padding:0px 10px 0px;
#background-color:#000000
}


	


.linkscts{
color:#B5A57F;
#text-decoration: underline;
font-weight: bold;
}
.linkscts2{
#color:#999999;
#text-decoration: underline;
}



.allframed{
width:650px;
height: 490px;
}


.textbigbig{
	font-size: 13pt; 
	font-family: Tahoma;  
font-weight: bold;
}


.h1cls{
padding:0px 30px 0px;
}


.topdv2{
float: right;
padding:0px 10px 0px;
#background-color:#000000
}


	


.linkscts{
color:#B5A57F;
#text-decoration: underline;
font-weight: bold;
}
.linkscts2{
#color:#999999;
#text-decoration: underline;
}

/*search querr title*/
.frmquert {
	font-size: 18pt; 
	font-family: Tahoma; 
	color: #333333; 
letter-spacing: 2px;
	border: 2px solid #B5A57F; 
	margin-left:6; 
	margin-top:6; 
	margin-bottom:6; 
	padding:0px 5px 5px;
	width: 600px; 
	height: 43px; 
	background-color:#FFFFFF
	}

/*search querr title*/
.frmquert2 {
	font-size: 18pt; 
	font-family: Tahoma; 
	color: #333333; 
letter-spacing: 2px;
	border: 2px solid #B5A57F; 
	margin-left:6; 
	margin-top:6; 
	margin-bottom:6; 
	padding:0px 5px 5px;
	width: 400px; 
	height: 43px; 
	background-color:#FFFFFF
	}


.scrollToTop{position:fixed;
right:9px;
bottom:0px;
font-size:15px;
line-height:20px;
font-weight:bold;
display:none;
border-radius:0.3em 0.3em 0.3em 0.3em;box-shadow:0 0 #FFF,0 1px 3px rgba(34,25,25,0.5);
height:52px;
padding:15px 2px 20px;
background-color:#F0EDED;
z-index:10000}

.scrollToTop a{transition:bottom 250ms ease-in-out 0s;
-moz-transition:bottom 250ms ease-in-out 0s;
-webkit-transition:bottom 250ms ease-in-out 0s;
-o-transition:bottom 250ms ease-in-out 0s;
bottom:-30px;
padding:15px 2px 20px;
right:15px;
width:70px;
background-color:#F0EDED;
background-image:-moz-linear-gradient(center top,#FDFAFB,#F9F7F7 50%,#F6F3F4 50%,#F0EDED);
background-image:-webkit-linear-gradient(center top,#FDFAFB,#F9F7F7 50%,#F6F3F4 50%,#F0EDED);
background-image:-o-linear-gradient(center top,#FDFAFB,#F9F7F7 50%,#F6F3F4 50%,#F0EDED);
color:#524D4D;text-shadow:0 1px rgba(255,255,255,0.9);
border-radius:0.3em 0.3em 0.3em 0.3em;box-shadow:0 0 #FFF,0 1px 3px rgba(34,25,25,0.5);
-webkit-box-shadow:0 0 #FFF,0 1px 3px rgba(34,25,25,0.5);
display:block;position:relative;text-align:center
}
.scrollToTop a:hover{text-decoration:none;}

.scrollToTop:hover{text-decoration:none;background-color:#FFFFFF;}







.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;

}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 260px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 20px;
	left: 50%;
	margin: -9px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 25px 25px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg{
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.og-details {
	width: 47%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 32px;
	padding: 10px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 2px solid #333;
	display: inline-block;
	margin: 5px 0 0;
	outline: none;
}


.og-details a::before {
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}



input.show_more {
background: #FFF;
	font-weight: 700;
	font-size: 16px;
	color: #333;
	#text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 2px solid #333;
	display: inline-block;
	#margin: 30px 0 0;
	outline: none;
}
input.show_more:before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

input.show_more:hover {
	border-color: #999;
	color: #999;
}


.topbtm {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 2px solid #333;
	display: inline-block;
	#margin: 30px 0 0;
	outline: none;
}


.topbtm::before {

	display: inline-block;
	margin-right: 10px;
}

.topbtm:hover {
	border-color: #999;
	color: #999;
}

.topbtmsel {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 2px solid #333;
	display: inline-block;
	#margin: 30px 0 0;
	outline: none;
background: #DDD;
}




.topbtmsel::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.topbtmsel:hover {
	border-color: #999;
	color: #999;
}

.topbtmsel2r {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 2px solid #333;
	display: inline-block;
	#margin: 30px 0 0;
	outline: none;
}
.topbtmsel2r::before {
	display: inline-block;
	margin-right: 10px;
}
.topbtmsel2r::after {
	content: '\2192';
	display: inline-block;
	margin-left: 10px;
}

.topbtmsel2r:hover {
	border-color: #999;
	color: #999;
}

.topbtmsel2l {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 2px solid #333;
	display: inline-block;
	#margin: 30px 0 0;
	outline: none;
}
.topbtmsel2l::before {
	content: '\2190';
	display: inline-block;
	margin-right: 10px;
}

.topbtmsel2l:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}

ul.anb { position: absolute; top: 10px; right: 10px;}
li.anb2 { list-style: none; margin: 0px; width: 0px; height: 0px; font-size:0; line-height:0; float: left; border:0px solid #000;display: block;}
.sel {background-color:#000;}


.srchfields {

	display: inline-block;
padding:0px 50px 0px;
}

/*search btn
.srchbutton {
	font-size: 18pt;
	font-family: Tahoma;
	color: #0d2f3a;
	background-color:FFFFFF;
padding:0px 30px 0px;
margin:0px 5px 0px;
height: 35px;
	border: 2px solid #0d2f3a;
	}
*/

.srchbutton {
	font-weight: 700;
	font-size: 16px;
	color: #0d2f3a;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 2px solid #0d2f3a;
	display: inline-block;
	margin:0px 5px 0px;
	outline: none;
background-color:#f9f9f9;
}


.srchbutton::before {

	display: inline-block;
	margin-right: 10px;
}

.srchbutton:hover {
	border-color: #999;
	color: #999;
}









