.imgresdif {
width:228px;
height:171px;
}

.iframeresdif {
width:400px;
height: 300px;
}


.og-grid li {
	height: 188px;
}

.scrollToTop{
bottom:70px;
}

.clip {
#max-width:100%;
	width:218px;
	#text-align:center;
    white-space: nowrap; 
    overflow: hidden; 
    #background: #fc0; 
    #padding: 5px; 
    text-overflow: ellipsis; 
   }

/*search querr title*/
.frmquert {
	width: 250px; 
	}

.topbtm::before {

	margin-right: 5px;
}

.topbtmsel::before {
	content: '';
	margin-right: 5px;
}

.h1cls{
font-size: 16pt;
padding:0px 10px 0px;
}

.linkscts{
font-size: 8pt;
}