ul, ol {
	margin: 0 0 1.5em 2.5em;
}

ul {
	list-style: square;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 1.5em;
}

dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}

strong {
	font-weight: bold;
}

small { 
	font-size: 80%; 
}

big {
	font-size: 120%;
}

cite, em, i {
	font-style: italic;
}

cite {
	border: none;
}

blockquote {
    margin: 7px 35px 20px 45px;    
	background: #EFEFEF;
	padding: 10px;
	clear: both;
	position: relative;
}

blockquote :before {
	content: "\f10d";
	font-family: FontAwesome;
	display: block;
	float: left;
	padding: 0;
	font-weight: 700;	
	margin-right: 10px;
	margin-top: 6px;
	line-height: 1;	
	font-size: 14px;	
	color: #AAAAAA
}

blockquote p {
	margin: 0 0 20px;
	padding: 0;
}

blockquote p:last-child {
	margin: 0;
}

blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}

pre {
	background: rgba(0, 0, 0, 0.05);
	font: 87.5% "Courier 10 Pitch", Courier, monospace;
	line-height: normal;
	margin-bottom: 1.5em;
	padding: 0.75em 1.5em;
	overflow: hidden;
}

code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins {
	text-decoration: none;
}

sup, sub {
	font-size: 62.5%;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

input[type=text], 
textarea {
	border: 1px solid #CCCCCC;
	font: inherit;
}

textarea {
	padding-left: 3px;
	width: 98%;
	overflow: hidden;
    resize: none;
}

address {
	display: block;
	margin: 0 0 1.625em;
}

table {
	border-bottom: 1px solid #F2F2F2;
	margin: 0 0 1.625em;
	width: 100%;
	text-align:left;
}

th {
	color: #666;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 2.6em;
}

td {
	border-top: 1px solid #F2F2F2;
	padding: 6px 10px 6px 0;
}

p{
	margin-bottom: 20px;
}

img{
	max-width: 100%; 
	height: auto;
}

button {
	font: inherit;
}

/*-- WordPress common classes*/
.alignleft{
	display: inline;
	float: left;
	margin-right: 1.25em;
}

.alignright{
	display: inline;
	float: right;
	margin-left: 1.25em;
}

.alignnone,
.aligncenter{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft,
img.alignright,
img.alignnone,
img.aligncenter{
	margin-bottom: 1em;	
}

p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	margin-bottom: 1em;
	max-width: 96%;
	text-align:center;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}

p.wp-caption-text{
	margin-bottom: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
	color: #AAAAAA;	
	font-size: 14px;
	margin-top: 5px;
}

.gallery{
	margin-bottom:15px !important;
}

.gallery dl{	
	margin: 0;
}

.gallery img{
	border: none !important;
}

.lb-image{
	max-width: inherit; 
}

.lb-prev, 
.lb-next,
.lb-nav {
	transition: all 0s ease 0s;
}

.sticky {
	
}

input[type=submit],
.button {
	color: #FFFFFF !important;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	display: block;
    padding: 6px 12px;
    text-decoration: none;
	border: none;
	-moz-transition:  .4s ease-in-out; 
	-webkit-transition:  .4s ease-in-out; 
	transition:  .4s ease-in-out;
	font-weight: 700;
	text-transform: uppercase;
}

.clear{
	clear:both;
}
 
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

 .clearfix { 
 display: inline-block; 
 } 
 
 /* Hide from IE Mac \*/ 
 .clearfix { 
	display: block; 
 }
 
 .bypostauthor{
 
 }
 
.list{
	list-style: none;
	margin: 0;
	padding: 0;
}