/*=== Core Styles ===*/
.slicknav_btn { 
	position: relative; 
	display: block; 
	vertical-align: middle; 
	float: right; 
	line-height: 1.125em; 
	cursor: pointer; 
}

.slicknav_menu  .slicknav_menutxt { 
	display: block; 
	line-height: 1.188em; 
	float: left; 
}

.slicknav_menu .slicknav_icon { 
	float: right; 
	margin: 0.188em 0 0 0.438em; 
}

.slicknav_menu .slicknav_no-text { 
	margin: 0 
}

.slicknav_menu .slicknav_icon-bar { 
	display: block; 
	width: 22px; 
	height: 3px; 
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px; 
	border-radius: 1px;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { 
	margin-top: 0.188em 
}

.slicknav_nav { 
	clear: both 
}

.slicknav_nav ul,
.slicknav_nav li{ 
	display: block 
}

.slicknav_nav li {
	margin-right: 0;
	width: 100%;

}

.slicknav_nav .slicknav_arrow{
	font-size: 0.8em; 
	margin: 0 0 0 0.4em; 
}

.slicknav_nav .slicknav_item { 
	display: block; 
	cursor: pointer; 
}

.slicknav_nav a{ 
	display: block 
}

.slicknav_nav .slicknav_item a { 
	display: inline 
}

.slicknav_menu:before,
.slicknav_menu:after { 
	content: " "; 
	display: table; 
}

.slicknav_menu:after { 
	clear: both 
}

.slicknav_menu { 
	*zoom: 1 
}

/* 
    Custom Styles
*/
.slicknav_menu {
	font-size: 16px;
	display: none;
	position: absolute;
	right: 10px;
	z-index: 998;
	margin-top: 6px;
}

.slicknav_btn {
	background-color: rgba(255, 255, 255, 0.1);
	text-decoration: none;
}

.slicknav_menu  .slicknav_menutxt {	
	font-weight: 700;	
}

.slicknav_menu .slicknav_icon-bar {
	background: #1D1F22;
}

.slicknav_nav {
	background: #FFFFFF;
	margin: 0;	
	padding: 0;
}
.slicknav_nav, 
.slicknav_nav ul {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slicknav_nav {
  border: 1px solid #EAEAEA;
}

.slicknav_nav ul li {
	display: block;
	
}
.slicknav_nav li a{
	display: block;
	padding: 5px;
	margin: 2px 7px;
	font-size: 15px;
	text-decoration: none;
	font-weight: 700;
}

.slicknav_nav li a a{
	margin: 2px 0;
	padding: 5px 0;
}

.slicknav_nav .menu-item {
  border-bottom: 1px solid #EAEAEA;
}

.slicknav_nav .sub-menu {
	margin-left: 0;
}

.slicknav_nav a:hover{
	color: #222;
}

.slicknav_nav .slicknav_txtnode {
     margin-left: 15px;   
}

.slicknav_nav .slicknav_arrow{
	float: right;
	margin-top: 3px;
	margin-left: 10px;
	display: inline-block;
	color: #666666;
}

/*=== custom ===*/
.menu-section .slicknav_menu {
	right: 10px;		
}

.menu-section .slicknav_btn {
	padding: 8px 8px;
	background: #FFFFFF;
	border: 1px solid #1D1F22;
}

@media only screen and (max-width: 1023px) {

	.menu-section .megamenu .slicknav_arrow{
		display: none;
	}

}

