#ie-advisory{
	display:none;
    margin: 15px auto;
    width: 1000px;	
}
#ie-advisory .warning-icon{
    display: inline-block;
    float: left;
    margin-right: 10px;	
}
#ie-advisory .warning-msg{
	padding-left:4%;
}
@media (max-width: 1000px) {
	#ie-advisory{
	    width: 90%;	
	}
	#ie-advisory .warning-msg{
		padding-left:10%;
	}	
}