#amcn-ui-modal-overlay {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 9000000;
}

#amcn-ui-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 9000001;
    display:none;
    background-color: #000000;
    padding: 30px;
    border: 1px solid #3d3d3a;
}

#amcn-ui-modal-close {
	position: absolute;
	top:20px;
	right:20px;
	cursor:pointer;
}

@media screen and (max-width: 767px) {
    #amcn-ui-modal {
        width: 95% !important;
    }
}