@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 14px;
	font-family: Arial, Helvetica, "微软雅黑", "宋体", sans-serif;
	-webkit-font-smoothing: antialiased;
}
div {
	margin: 0;
	padding: 0;
}
img {
	padding:0;
	margin: 0;
	border: 0;
}
.center {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.screen01 {
	background-color: #f3f2f2;
}
.header {
	width: 100%;
	height: 39px;
	background-color: #f4a700;
	/* border-bottom: 2px solid #fbb804; */
}
.header .hd_top {
	width: 999px;
	margin: 0px auto;
	height: 39px;
	border-right: 1px solid #d39b06;
}
.header .hd_top span {
	float: left;
	display: inline-block;
	height: 39px;
	padding: 0px;
	line-height: 39px;
	margin: 0;
}
.header .hd_top span.home{
	background: #f4d730 url(http://www.d1net.com/statics/index/2015/images/home-back.png) no-repeat;
    text-align: center;
    width: 100px;
}
.header .hd_top span a{padding:0px 10px;/* border-right:1px solid #666; */}
.header .hd_top span:hover {
	background-color: #f4d730;
}
.header .login {
	float: right;
}
.header .social {
	float: right;
}
.header .social img {
	display: block;
	float: left;
	margin: 0;
	border-left: 1px solid #d39b06;
}
.fl {
	float: left;
}
.cl {
	clear: both;
}
.cont_l {
	width: 700px;
}
.cont_r {
	width: 270px;
	margin-left: 30px;
}
/* logo栏 */
.top_nav {
	width: 100%;
	height: 50px;
	padding: 15px 0px;
	border-bottom: 1px solid #e4e4e4;
}
.hd {
}
.logo a {
	display: block;
}
.recommend {
	position: relative;
	height: 50px;
	left: 105px;
	display: inline-block;
	background-color:#f3f3f3;
}
.recommend .t01 {
	display: inline-block;
	font-size: 16px;
	line-height:50px;
	font-weight: bold;
	color: #fff;
	background-color:#7AB522;
	vertical-align: top;
	padding:0px 8px;
	border-right:2px solid #7AB522;
}
.recommend .r_nav {
	display: inline-block;
	width: 350px;
}
.recommend .r_nav span {
	display: inline-block;
	margin: 4px 0px 3px 10px;
}
/* 搜索框 */
.search {
	position: relative;
	float: right;
	width: 270px;
	margin: 10px 0 0 0;
}
.search form {
	margin: 0;
}
.search .input-text {
	padding-right: 30px;
	padding-left: 10px;
	width: 225px;
}
.form-search input {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	-webkit-writing-mode: horizontal-tb;
}
input[type="text"] {
	background-color: #fff;
	border: 1px solid #ccc;
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
.search-btn {
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
	background: url(../../images/d1com/index/icon-search.png) 0 0 scroll no-repeat transparent;
	border: 0;
	position: absolute;
	right: 5px;
	top: 6px;
}
.icon-search {
}
button {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	vertical-align: middle;
}
[class^="icon-"], [class*="icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	/* background-image: url("../img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat; */
}
/*子导航*/
span.pindao{font-size:18px;margin-right:10px;line-height:32px;}
span.sub_more{line-height:32px;margin-left:15px;}
.nav{border-bottom:1px solid #e4e4e4;}
ul.sub_nav {
	padding: 0;
	margin: 0;
}
ul.sub_nav li {
	display: inline-block;
	height: 30px;
	list-style: none;
	font-size: 14px;
	line-height: 28px;
	margin: 0px 5px;
	border-radius: 6px;
}
ul.sub_nav li.last {
	margin: 0px 0px 0px 5px;
}
ul.sub_nav li.nav_first {margin:0px 5px 0px 0px;}
ul.sub_nav li a {
	display: block;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	padding: 0px 10px;
	-moz-transition: all .4s linear 0s;
	-ms-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	-webkit-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
}
ul.sub_nav li a:hover {
	color: #fff;
	background-color: #7AB522;
	border: 1px solid #10AE64;
	-moz-transition: all .4s linear 0s;
	-ms-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	-webkit-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
}
/* 首屏新闻 */
.pic_show {
	float: left;
	width: 350px;
	height: 330px;
}
.pic_show .pic {
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	width: 175px;
	height: 110px;
	background: -webkit-gradient(linear, 0 0, 0 50%, from(rgba(0,0,0,0.3)), to(#000));
	background: -moz-linear-gradient(top, rgba(0,0,0,.03), #000 50%);
	background: -o-linear-gradient(top, rgba(0,0,0,.03), #000 50%);
 filter:alpha(opacity=30 finishopacity=100 style=1 startx=0, starty=0, finishx=0, finishy=55) progid:DXImageTransform.Microsoft.gradient(startcolorstr=black, endcolorstr=black, gradientType=0);
 -ms-filter:alpha(opacity=30 finishopacity=100 style=1 startx=0, starty=0, finishx=0, finishy=55) progid:DXImageTransform.Microsoft.gradient(startcolorstr=black, endcolorstr=black, gradientType=0);/*IE8*/
}
.pic_show .pic > a {
	display: block;
	width: 175px;
	height: 110px;
	-moz-transition: all .4s linear 0s;
	-ms-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	-webkit-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
	opacity: .6;
}
.pic_show .pic > a:hover img {
	-moz-transition: all .4s linear 0s;
	-ms-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	-webkit-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
	opacity: .9;
}
.pic_show .pic .pic_text {
	width: 175px;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.pic_show .pic .pic_text:hover {
	opacity: 1;
}
.pic_show .pic .pic_text p {
	padding: 0px 5px;
	margin: 4px 0px;
	line-height: 21px;
	font-weight: 700;
}
.pic_show .pic .pic_text p a {
	display: block;
	width: 165px;
	height: 42px;
	color: #eee;
}
.pic_show .pic .pic_text p a:hover {
	color: #fff;
}
.points {
	float: left;
	width: 335px;
	height: 330px;
	overflow: hidden;
	padding-left: 15px;
}
.points p {
	font-size: 16px;
	height: 27px;overflow:hidden;
	line-height: 27px;
	margin: 0px;
	clear:both;
}
.points p.top_pot {
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	margin: 0px 0px 5px 0px;
	height:50px;overflow:hidden;
}
div.points p.top_pot > span {
	float: left;
	display: inline-block;
	width: 40px;
	background-color: #ff4830;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin-right:5px;
	line-height:20px;
}

/* 编辑推荐栏 */
.recomm {
	clear: both;
	width: 700px;
	height: 252px;
	border-bottom: 1px solid #b2d7f8;
	margin-top: 15px;
	background-color: #f0f8ff;
}
.recomm ul {
	float: left;
	width: 349px;
	height: 252;
	margin: 0;
	padding-left: 0px;
}
.recomm ul.u_left {
	border-right: 1px solid #b2d7f8;
}
.recomm ul li {
	list-style: none;
	line-height: 36px;
	padding-left: 15px;
}
.contents-l {
	width: 335px;
	float: left;
	overflow: hidden;
}
.contents-r {
	padding-left: 30px;
	width: 335px;
	float: left;
	overflow: hidden;
}
.content {
	padding: 15px 0px 15px 0px;
	overflow: hidden;
	border-bottom: 1px #ccc solid;
}
.bot_cont {
	border: 0;
}
.top_cont {
	padding-top: 0px;
}
.content ul {
	margin: 0;
	padding: 0px 0px 0px 0px;	
	height: 196px;
}
.content .pd{
	width:329px;
	height:38px;
	padding-right:6px;
	margin-bottom:5px;
	}
.content .pd h3 {
	float: left;
	margin: 0px;
	font-size: 16px;
	color: #48f;
	line-height: 38px;
	overflow: hidden;
}
.content .pd h3 a {
	color: #48f;
}
.content .pd h3 a:hover {
	background-color:#48f;
	color: #fff;
}
.content .pd span{
	float:right;
	line-height:38px;
	padding:0px 2px;
	}
.content ul li.content-article {
	list-style:none;
	position: relative;
	height: 85px;
	overflow: hidden;
	margin-left:0px;
	margin-bottom: 10px;padding:0;
}
.content ul li {
	clear:left;
	/* list-style: square; */
	word-wrap: break-word;
	line-height: 24px;height:24px;overflow:hidden;padding-left:15px;
	background: url(/images/d1com/indexnew/list_bg.jpg) no-repeat -375px -6px;
}
.content-article > a{
	display:inline-block;
	width:136px;
	height:85px;
	float:left;
	}
.content-article > a .img {
	width: 136px;
	height: 85px;

}
.content-article .cont {
	float:left;
	width:184px;
	height: 85px;
}
.content-article .cont h4{
	font-weight: bold;
	padding: 0px 0px 0px 5px;
	margin:0;
	line-height: 1.5;
	overflow: hidden;
	}
.content-article .cont p {
	height: 40px;
	font-size: 12px;
	color: #888;
	padding: 0px 0px 0px 5px;
	margin: 10px 0px 0px 0px;
	overflow: hidden;
	line-height: 1.5;
}

/* 右边热门文章 */
#moving_tab {
		/* hide overlength child elements*/
		overflow:hidden;
		
		/* all the child elements are refering to this width */
		width:270px;
		height:408px;
		/* fix ie 6 overflow bug */
		position:relative
		
		/* styling */
		margin:0 auto;
	}
	
		#moving_tab .tabs {
			/* enable absolute position for .lava */
			position:relative;	
			height:30px;
			
			/* styling */
			padding-top:5px;
			cursor:default;
		}
	
#moving_tab .tabs .item {
	/* enable z-index */
	position:relative;
	z-index:10;
		
	/* display in one row */
	float:left;
	display:block;

	/* width = half size of #moving_tab */
	width:135px;
			
	/* height = height of .tabs */
	text-align:center;
	font-size:14px;
	font-weight:700;	
		}
#moving_tab .tabs .item a{
	display:block;
	}
#moving_tab .tabs .item a:active{
	color:#ff4800;
	}
#moving_tab .tabs .lava {
	/* Set it to absolute */
	position:absolute;
			top:0; left:0;
			
			/* display the lava in bottom most layer */
			z-index:0;		
				
			/* width = half size of #moving_tab */
			width:135px;

			/* height = height of .tabs */
			height:30px;
			
			/* styling */
			background:#fff;

	}
		
#moving_tab .things {
			/* enable absolute position for .panel */	
			position:relative;
			overflow:hidden;
			
			/* styling */
			height:370px;
			background:#fff;
			border-top:1px solid #FF4830;
	}
		
#moving_tab .panel {
			/* width is width of #moving_tab times 2 */
			position:relative;
			width:540px;
	}
		
#moving_tab .panel ul {
			/* display in one row */
			float:left;
			
			/* width is the same with #moving_tab */
			width:270px;
			
			/* remove all styles */
			padding:0;
			margin:0;
			list-style:none;
	}
/* styling */
#moving_tab .panel ul h4 {
	float:left;
	width:155px;
	margin:8px 0px;
	font-weight: 400;
	padding: 0px;
	line-height: 1.5;
	overflow: hidden;
}
#moving_tab .panel ul li{
	padding:8px 0px;
	width:270px;
	height:76px;
	border-bottom:1px solid #dedede;
	}
#moving_tab .panel ul li img {
	width:96px;
	height:60px;
	float:left;
	margin:8px;
			}
		
		
/* 新视点 */
div.new_point {
	position: relative;
	width: 270px;
	height: 201px;
	background-image: url(../../images/d1com/index/newpoint.jpg);
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
a.np {
	display: block;
	height: 100%;
	width: 270px;
	height: 80px;
}
h5 {
	position: absolute;
	top: 50px;
	left: 135px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
div.new_point p {
	width: 112px;
	position: absolute;
	top: 100px;
	left: 135px;
}
/*高端访谈*/
.interview{width:270px;height:308px;margin:15px 0px 20px 0px;background-color:#f3f3f3;}
.interview ul, .interview ul li{list-style:none;padding:0;margin:0;}
.interview > span{font-size:18px;}
.interview .t_inter{
	width: 250px;
	height: 42px;
	margin: 0px;
	padding:0px 10px;
	margin-bottom:5px;
	border-top: 2px solid #999;
	}
.interview .t_inter h6{
	float: left;
	padding: 0;
	margin:0;
	font-size: 14px;
	line-height: 42px;
	color: #555;
	}
.interview .t_inter span{
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	}
.interview .dot_box{width:90px;height:50px;margin:0 auto;}
.interview .dot_box a{
	display:inline-block;
	height:15px;
	width:15px;
	overflow:hidden;
	background:url(../../images/d1com/index/dots.png) 0 0 scroll no-repeat;
	margin:17px 5px;
	}
.interview .dot_box a.a_current{background-position:-15px 0px;}
/* 底部 */

h6 {
	text-align: center;
	margin: 30px 0px 10px 0px;
}
.footer {
	width: 100%;
	background-color: #f8f8f8;
}
.footer .info_bg {
	height: 34px;
	border-top: 2px solid #000;
	background-color: #444;
}
.footer .info {
	height: 34px;
	text-align: center;
	line-height: 34px;
}
.footer .info span {
	display: inline-block;
	height: 34px;
	margin: 0px;
	padding: 0px 12px;
}
.footer .info span:hover {
	background-color: #666;
}
.maps {
	text-align: center;
}
.maps span {
	font-size: 12px;
	margin: 0px 10px;
	line-height: 24px;
}
.maps span.fir {
	margin-left: 0px;
}
.copyright {
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 20px 0px 30px 0px;
}
/* 链接 */
a {
	color: #666;
	height: 100%;
	text-decoration: none;
}
a:hover {
	color: #ff4830;
}
.header .hd_top span a {
	color: #fff;
}
.c_nav a {
	color: #fff;
}
.c_nav a:hover {
	color: #fff;
	text-decoration: underline;
}
.points p.top_pot a {
	color: #ff4830;
}
a.more {
	float: right;
	line-height: 38px;
	color: #888;
}
a.more:hover {
	text-decoration: underline;
}
div.recomm ul li span a {
	color: #36c;
}
div.recomm ul li span a:hover {
	color: #ff4830;
}
a.m_more {
	color: #48f;
	text-decoration: none;
}
a.m_more:hover {
	text-decoration: underline;
}

.new_point a {
	color: #fff;
	text-decoration: none;
}
.new_point a:hover {
	text-decoration: underline;
}
.footer .info span a {
	color: #fff;
}
.maps span a {
	color: #888;
}
.maps span a:hover {
	color: #333;
	text-decoration: underline;
}
/*供应商列表*/
.suppliers {
	width: 250px;
	height: 280px;
	background-color: #f3f3f3;
	padding: 0px 10px;
	margin-bottom: 20px;
}
.suppliers div.t_supp {
	width: 240px;
	height: 34px;
	margin: 0px;
	margin-bottom:8px;
	border-bottom: 2px solid #999;
}
.suppliers div.t_supp h6 {
	float: left;
	margin: 10px 0px;
	padding: 0;
	font-size: 14px;
	line-height: 1;
	color: #555;
}
.suppliers div.t_supp span {
	display: inline-block;
	float: right;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
}
.suppliers div.pd {
	padding: 0px 2px;
}
.suppliers div.pd a img {
	margin: 5px;
}
.suppliers div.pd span {
	display: inline-block;
	padding: 5px;
}
/*右边切换，行业报告*/
.report{margin-bottom:20px;}
ul#card_btn {
	width: 270px;
	height: 42px;
	padding: 0;
	margin: 0;
	border-top: 2px solid #999;
}
ul#card_btn li {
	list-style: none;
	float: left;
	padding: 14px 0px;
	margin:0;
	width: 90px;
	text-align: center;
	font-size: 14px;
	line-height:1;
}
ul#card_btn li:hover{background-color:#f3f3f3;}
ul#card_btn li span{border-right:1px solid #CCC;}
ul#card_btn li span.t_last{border:0;}
ul#card_btn li.c_current{
	background-color:#f3f3f3;
	}
ul#card_btn li span {
	display: block;
	cursor: pointer;
}
.card_body ul{padding:15px 0px 15px 30px;margin:0px;background-color:#f3f3f3;color:#999;}
.card_body ul li{margin:0px;margin-right:15px;padding:15px 0px;border-bottom:1px dashed #999;}
/* 广告位 */
.top_ad {

}
.ad01 {
	float: left;
	display: block;
	width: 490px;
	height: 90px;
	background-color: #ccc;
}
.ad02 {
	float:left;
	width: 340px;
	height: 68px;
	background-color: #f3f2f2;
}
.ad02_last{
	width: 330px;
	height: 68px;
	float:left;
	margin-left:20px;
	background-color: #f3f2f2;
	}
.ad02_ab{
	float:left;
	width: 700px;
	height:auto;
	background-color: #f3f2f2;
}
.ad02 img,.ad02_last img,.ad02_ab img{display:block;margin-top:10px;}
.ad03 {
	width: 270px;
	height: 100px;
	background-color: #ccc;
}
.ad04 {
	clear: both;
	width: 1000px;
	height: 100px;
	background-color: #ccc;
}
.ad05 {
	clear:both;
	width: 335px;
	height: 100px;
	background-color: #ccc;
}
.ad06 {
	width: 270px;
	height: 175px;
	background-color: #ccc;
	margin: 20px 0px;
}
.ad07 {
	clear: both;
	width: 700px;
	height: 100px;
	background-color: #eee;
}
.ad08 {
	width: 270px;
	height: 160px;
	background-color: #ccc;
	margin-top:20px;
}
.ad {
	margin-right: 20px;
}
/*滚动文字广告栏*/
.texta .item {
	width: 350px;
	height: 26px;
	background-color: #06C;
}
.texta .item .ad_logo {
	height: 20px;
	overflow: hidden;
	margin: 3px;
}
.texta .item .text {
	overflow: hidden;
	height: 25px;
	line-height: 25px;
}
/* 空格 */
.b10 {
	width: 1000px;
	height: 10px;
}
.b20 {
	width: 1000px;
	height: 20px;
}
.b30 {
	width: 1000px;
	height: 30px;
}
.b14 {
	width: 270px;
	height: 14px;
}
.b2_l{
	width: 700px;
	height: 2px;
	}
.b20_r {
	width: 270px;
	height: 20px;
}
/* CSS Document */