/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.black {
  color: #0c0c0c !important;
}
.red {
  color: #ae0000 !important;
}
.white {
  color: #fff !important;
}
.green {
  color: green !important;
}
/*Form Wizard*/
.bs-wizard {
  margin: 0 0 30px;
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 13px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #f99494;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #d96a6a;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #f99494;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {
  background: #aa0000;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}
/*END Form Wizard*/
.embed-p span {
  font-weight: bold;
  display: inline-block;
  line-height: 30px;
}
.embed-p .form-control {
  width: 100%;
  float: right;
}
.member-info .panel-body {
  background: #fafafa;
}
.member-info .top {
  margin: 0 0 15px;
}
.member-info .top img {
  width: 90px;
  height: 90px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.member-info .top div {
  margin: 0 0 0 105px;
  font-size: 12px;
  line-height: 16px;
}
.member-info .top div .user {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 10px;
}
.member-info .about-me {
  font-size: 13px;
}
.avatar-square {
  text-align: center;
  background: #fff;
  border-radius: 5px;
  padding: 20px 15px;
}
.avatar-square img {
  width: 162px;
  height: 162px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ae0000;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
}
.add-remove-btns a {
  margin: 12px 0;
}
@media (min-width: 768px) {
  .add-remove-btns a {
    display: block;
  }
}
.user-banner {
  margin: 15px 0;
}
.user-banner img {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
}
div.tagsinput{border:1px solid #CCC;background:#FFF;padding:5px;width:300px;height:100px;overflow-y:auto}div.tagsinput span.tag{border:1px solid #a5d24a;-moz-border-radius:2px;-webkit-border-radius:2px;display:block;float:left;padding:5px;text-decoration:none;background:#cde69c;color:#638421;margin-right:5px;margin-bottom:5px;font-family:helvetica;font-size:13px}div.tagsinput span.tag a{font-weight:700;color:#82ad2b;text-decoration:none;font-size:11px}div.tagsinput input{width:80px;margin:0 5px 5px 0;font-family:helvetica;font-size:13px;border:1px solid transparent;padding:5px;background:0 0;color:#000;outline:0}div.tagsinput div{display:block;float:left}.tags_clear{clear:both;width:100%;height:0}.not_valid{background:#FBD8DB!important;color:#90111A!important}
.tooltip-inner {
    max-width: 300px !important;
    /* If max-width does not work, try using width instead */
    width: 300px !important; 
}

a.member-mod-vid, a.member-mod-vid:visited, a.member-mod-vid:hover, a.member-mod-vid:active, a.member-mod-vid:focus {
  color: #a1a1a1;
  padding: 5px 10px;
}
