.whiteBoxBody {
    padding: 5px;
}
.whiteBoxBody form {
    margin: 0;
    padding: 0;
}
.whiteBoxBody .form {
    margin: 3px;
}
.whiteBoxBody fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.whiteBoxBody .formLine {
    clear: both;
    margin-bottom: 3px;
}
.whiteBoxBody .formSet {
    margin-bottom: 2px;
    font-size: 11px;
}
.whiteBoxBody label {
    float: left;
    margin-right: 3px;
    margin-top: 2px;
    text-align: right;
    width: 40%;
    font-size: 11px;
    font-weight: normal;
    color: #000;
}
.whiteBoxBody .textfield {
    border: 1px solid #999;
    color: #000;
    font: 8pt Arial,Helvetica,sans-serif;
    padding: 1px;
    height: auto;
    width: auto;
}
.whiteBoxBody .textarea {
    border: 1px solid #999;
    color: #000;
    font: 8pt Arial,Helvetica,sans-serif;
    padding: 1px;
}
.whiteBoxBody .textfield2 {
    border: 1px solid #999;
    color: #000;
    float: right;
    font: 8pt Arial,Helvetica,sans-serif;
    padding: 1px;
}
.whiteBoxBody .textarea2 {
    border: 1px solid #999;
    color: #000;
    float: right;
    font: 8pt Arial,Helvetica,sans-serif;
    margin-top: 2px;
    padding: 1px;
}
.whiteBoxBody .button {
    color: #000;
    font: 8pt Arial,Helvetica,sans-serif;
}
.whiteBoxBody .dropdown {
    color: #000;
    font: 8pt Arial,Helvetica,sans-serif;
}
.whiteBoxBody .dropdown_multiple {
    color: #000;
    font: 8pt Arial,Helvetica,sans-serif;
    height: 70px;
}
.whiteBoxBody .pages {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}
.whiteBoxBody .pages a {
    background-color: #f6f6f6;
    background-image: -moz-linear-gradient(center top , #ffffff, #efefef);
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000;
    margin: 4px;
    padding: 3px 0.5em;
    text-decoration: none;
}
.whiteBoxBody .pages a.active, .whiteBoxBody .pages a:hover {
    border: 1px solid #b70000;
    color: #b70000;
}
.whiteBoxBody .pages .p {
    font-weight: bold;
    margin: 0 4px;
}
.whiteBoxBody .padded5 {
    padding: 5px;
}
.whiteBoxBody .dotBorderBottom {
    border-bottom: 1px dotted #666;
}
.whiteBoxBody .checkbox, .whiteBoxBody .radio {
    display: inline;
    margin: 0px 2px;
}