.listItem {
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.listItem .listScrCol {
    float: left;
    width: 168px;
}
.listItem .listInfoCol {
    color: #999;
    float: left;
    margin-left: 5px;
    width: 420px;
}
.listItem3Col {
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.listItem3Col .listScrCol {
    float: left;
    width: 128px;
}
.listItem3Col .listInfoCol {
    color: #999;
    margin-left: 135px;
    margin-right: 50px;
}
.listItem3Col .listPosCol {
    float: right;
    width: 35px;
}
.listItemSmall {
    overflow: hidden;
    padding: 0 0 3px;
    width: 100%;
}
.listItemSmall .listScrCol {
    float: left;
    width: 98px;
}
.listItemSmall .listInfoCol {
    color: #999;
    margin-left: 105px;
}
.listItemDefault {
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.listItemDefault .listScrCol {
    float: left;
    width: 98px;
}
.listItemDefault .listInfoCol {
    color: #999;
    margin-left: 108px;
    margin-right: 80px;
}
.listItemDefault .listActionsCol {
    float: right;
    font-size: 10pt;
    line-height: 17px;
    margin-right: 5px;
    text-align: right;
    width: 70px;
}
.listItemDefault .listActionsCol a {
    text-decoration: none;
}
.listItemDefault .listDataCol {
    float: right;
    width: 50px;
}
.listItemVert_popular {
    float: left;
    height: 60px;
    margin: 4px 0 0 4px;
    width: 80px;
}
.listScrCol_popular {
    float: left;
    width: 80px;
}
.listItemVert {
    height: 117px;
    margin: 10px;
    width: 155px;
}
.listItemVert .info {
    font-size: 11px;
}
.listItemVert .listInfoCol {
    height: 31px;
    margin-left: 4px;
    margin-top: -32px;
    padding: 2px 5px;
    position: absolute;
    width: 137px;
}
.listItemVert .listInfoCol .overlay {
    background-color: #000;
    height: 31px;
    margin-left: -9px;
    margin-top: -1px;
    opacity: 0.4;
    position: absolute;
    width: 150px;
    z-index: 2;
}
.listItemVert a {
    height: 107px;
    text-decoration: none;
    width: 147px;
}
a:hover .listInfoCol .overlay {
    background-color: #b70000;
}
.listItemVert .listInfoCol .title-vert {
    margin-left: -8px;
    opacity: 1;
    padding-top: 5px;
    position: relative;
    z-index: 4;
}
.listItemGroup {
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.listItemGroup .listScrCol {
    float: left;
    width: 98px;
}
.listItemGroup .listInfoCol {
    color: #999;
    margin-left: 108px;
    margin-right: 120px;
}
.listItemGroup .listActionsCol {
    float: right;
    font-size: 10pt;
    line-height: 17px;
    margin-right: 5px;
    text-align: right;
    width: 110px;
}
.listItemGroup .listActionsCol a {
    text-decoration: none;
}
.listItemGroupAddVideos {
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.listItemGroupAddVideos .listChBoxCol {
    float: left;
    padding-top: 27px;
    text-align: center;
    width: 26px;
}
.listItemGroupAddVideos .listScrCol {
    float: left;
    width: 98px;
}
.listItemGroupAddVideos .listInfoCol {
    color: #999;
    margin-left: 134px;
}
.listInfoCol .title {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-top: 3px;
    text-transform: capitalize;
}
.listInfoCol .title div {
    float: right !important;
    margin-right: -25px !important;
}
.listInfoCol .title a {
    color: #000;
    display: block;
    float: left;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 390px;
}
.listInfoCol .title-recent {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-top: 3px;
    text-transform: capitalize;
}
.listInfoCol .title-vert {
    clear: both;
    color: #fff !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-top: -5px !important;
    text-align: center;
}
.listInfoCol .title a:hover {
    color: #b70000;
    text-decoration: none;
}
.listInfoCol .title-recent a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}
.listInfoCol .title-recent a:hover {
    color: #b70000;
    text-decoration: none;
}
.listInfoCol .description, .listInfoCol .videodescr {
    clear: both;
    color: #000;
    font-size: 13px;
    margin: 0 0 5px;
    width: 420px;
}
.listInfoCol .info {
    color: #999;
    line-height: 14px;
}
.listInfoCol .label {
    color: #999;
}
.listClear {
    clear: both;
}
.clearRight {
    clear: right;
}