@charset "utf-8";
/*
.adarea {width: 100%;display: block;text-align:center;}
.admskarea {margin:30px 0px 0px 0px;display: block;text-align:center;background:#fff;}
.adarea img, .admskarea img{width: 100%;max-width: 100%;display:block}
.admaskbg{position:absolute;top:0px;left:0px;z-index:502;width: 100%;height:500px;display: block;float:left;clear:both;background:#FFF}
.adblkbg{border-top:1px #d3d3d3 solid;clear:both;padding:8px 5px;display:block}
.btn_cls{position:absolute;background:url(http://pic.adver.com.tw/img/btn_close_big.png) no-repeat 45px 0px;top:0px;right:3px;width:90px;height:84px;z-index:50;display:block}
.ani_area{position:absolute;width:100%;left:-480px;}
*/
.admaskbg{position:absolute;top:0px;left:0px;z-index:1200;width: 102%;height:500px;display: block;float:left;clear:both;background:none}
.bgTransparent{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;margin:0;padding:0;background:#000;opacity:.8}
.ani_area{position:absolute;width:100%;left:0;}
/*.btn_cls{position:absolute;display:block;top:0px;right:3px;z-index:50;width:90px;height:84px;background:url(http://pic.adver.com.tw/img/btn_close_big.png) no-repeat 45px 0px;}*/
.btn_cls{position:absolute;display:block;top:0px;right:3%;z-index:50;width: 11%;height: 16%;background:url(http://pic.adver.com.tw/img/sp_close.png) no-repeat 0 0;background-size: 100% auto;}
/*.admskarea{display:block;margin:30px 0px 0px 0px;text-align:center;background:none;}*/
.ani_area aside.admskarea{display:block;text-align:center;background:none;width: 100%;margin: 30px 0px 0px 0px;position:static;}
.adarea {width:100%;display:block;text-align:center;}
.adarea img, .admskarea img{width:100%;max-width:100%;display:block}
.adblkbg{border-top:1px #d3d3d3 solid;clear:both;padding:8px 5px;display:block}

/*20140901*/
.ad_atcblk{border-top:1px #d3d3d3 solid;clear:both;padding:8px 5px;display:block;padding:8px 5px;background: #fff;}
.ad_atcblk a{display:block;overflow:hidden;height:120px;}
.ad_atcblk .ad_picar{width:120px;display:table;text-align:center;background:#e1e1d6;float:left;margin:0 5px 0 0;font-size:0;box-shadow:0px 0px 8px #c8c8be inset}
.ad_atcblk .ad_picar .ad_tbcl{display:table-cell;vertical-align:middle;padding:0;margin:0}
.ad_atcblk .ad_picar img{width:120px;max-height:120px;margin:0;padding:0}
.ad_atcblk h2{height:48px;overflow:hidden;font-size:17px;line-height:24px;margin:0 0 3px 0;text-shadow:0px 1px 0px #fff}
.ad_atcblk h2 b{font-size:18px;color:#fff;background:#ff3817;line-height:24px;text-shadow:none;margin:3px;padding:2px}
.ad_atcblk p{font-size:14px;line-height:18px;color:#000;margin:0;padding:0;max-height:54px;overflow:hidden}
.ad_atcblk p.ad_moretext{display:none;}
.ad_atcblk .ad_dategray{color:#ccc;font-size:12px;}

@media screen and (min-width: 700px){
.ad_atcblk{padding:15px;display:block}
.ad_atcblk a{height:240px;}
.ad_atcblk .ad_picar{width:240px;margin:0 10px 0 0}
.ad_atcblk .ad_picar img{width:240px;max-height:240px;}
.ad_atcblk h2{font-size:32px;line-height:35px;margin: 0 0 5px 0;height:80px;}
.ad_atcblk p{font-size:30px;line-height:38px;max-height:110px;overflow:hidden}
/*.ad_atcblk p.ad_moretext{display:block}*/
}

@media screen and (max-width: 700px) and (min-width: 410px) {
.ad_atcblk{padding:12px 10px;display:block}
.ad_atcblk a{height:180px;}
.ad_atcblk .ad_picar{width:180px;margin:0 8px 0 0}
.ad_atcblk .ad_picar img{width:180px;max-height:180px;}
.ad_atcblk h2{font-size:24px;line-height:30px;margin:0 0 5px 0;height:60px;}
.ad_atcblk p{font-size:20px;line-height:26px;max-height:102px}
/*.ad_atcblk p.ad_moretext{display:block}*/
}

/*vedio_ad*/
/*
.videoad{position:relative;line-height:0;text-align:center;background:#1c1c1c}
.videoad video{width:100%;height:auto;margin:0 auto;}

.videoad b{display:block;position:absolute;left:0;top:0;z-index:auto;width:100%;height:100%;background:rgba(0,0,0,.15)}
.videoad b i{display:table;width:100%;height:100%}
.videoad b i u{display:table-cell;width:100%;padding-top:10%;text-align:center;vertical-align:middle}
.videoad b i u span{display:block;overflow:hidden;margin:0 auto;z-index: 30;text-shadow:none;text-align:center}
.videoad b i u span a{background:url(http://pic.adver.com.tw/img/btn_play.png) no-repeat;background-size:81px 84px;-webkit-background-size:81px 84px;display:block;width:84px;height:84px;margin:0 auto;text-indent:-9999px}
.videoad em{display:block;position:absolute;left:0;top:0;z-index:auto;width:100%;height:100%;}

.slgn{font-family:"·L³n¥¿¶ÂÅé",Helvetica,sans-serif;position:relative;padding:11px 15px 10px 11px;border-top:1px solid #000;border-bottom:1px solid #000;background-color:#1c1c1c}
.slgn h2,.slgn h4{display:-webkit-box;-webkit-box-orient:vertical;font-size:15px;font-weight:normal;line-height:20px;text-align:left;overflow:hidden;text-overflow:ellipsis;height:22px}
.slgn h2{padding-right:70px;color:#fff;font-weight:bold}
.slgn h4{color:#878787}
.slgn a{color:#ff5353;position:absolute;top:10px;margin:0 10px 0 0;font-size:13px;right:0;cursor:pointer;}
.slgn a span{display:inline-block;overflow:hidden;width:11px;height:14px;margin:2px 5px 0 0;vertical-align:top;background:url(http://pic.adver.com.tw/img/btn_adclk.png) no-repeat;-webkit-background-size:11px 14px;background-size:11px 14px}
*/
/*vedio_ad*/
.videoad{position:relative;background:#1c1c1c;width:100%;}
.videoad .video{position:absolute;top:0;left:0;z-index:-1;border:none;width:100%;height:100%}
.videoad .poster{position:relative;top:0;left:0;z-index:20;display:block;width:100%;}

.videoad .vdobtn{display:block;position:absolute;left:0;top:0;z-index:30;width:100%;height:100%;background:rgba(0,0,0,.15)}
.videoad .vdobtn i{display:table;width:100%;height:100%}
.videoad .vdobtn i u{display:table-cell;width:100%;padding-top:10%;text-align:center;vertical-align:middle}
.videoad .vdobtn i u span{display:block;overflow:hidden;margin:0 auto;z-index: 40;text-shadow:none;text-align:center}
.videoad .vdobtn i u span a{background:url(http://pic.adver.com.tw/img/btn_play.png) no-repeat;background-size:81px 84px;-webkit-background-size:81px 84px;display:block;width:84px;height:84px;margin:0 auto;text-indent:-9999px}

.slgn{font-family:"微軟正黑體",Helvetica,sans-serif;position:relative;padding:11px 15px 10px 11px;border-top:1px solid #000;border-bottom:1px solid #000;background-color:#1c1c1c;height:44px;}
.slgn h2.videotext,.slgn h4.videotext{display:-webkit-box;-webkit-box-orient:vertical;font-size:15px;font-weight:normal;line-height:20px;text-align:left;overflow:hidden;text-overflow:ellipsis;height:22px;margin:0;}
.slgn h2.videotext{padding-right:70px;color:#fff;font-weight:bold}
.slgn h4.videotext{color:#878787}
.slgn a{display:block;width:100%;cursor:pointer;}
.slgn b{font-weight:normal;color:#ff5353;position:absolute;top:10px;margin:0 10px 0 0;font-size:13px;right:0;width:auto;}
.slgn b span{display:inline-block;overflow:hidden;width:11px;height:14px;margin:2px 5px 0 0;vertical-align:top;background:url(http://pic.adver.com.tw/img/btn_adclk.png) no-repeat;-webkit-background-size:11px 14px;background-size:11px 14px}

/*20151124_vedio_ad_part2*/
.ani_area aside.admskarea.vad {
    width: initial;
    padding: 0 5%;
}
.volbut.on,.volbut.off{position: absolute; top: 0px; left: 2px; z-index: 1;cursor: pointer; display: block;background: url("http://pic.adver.com.tw/img/sp_volon.png");background-size: 40px; width: 40px;height: 40px;} 
.volbut.off{background: url("http://pic.adver.com.tw/img/sp_voloff.png");background-size: 40px} 

.videoad_thumb{position:relative;}
.videoad_thumb iframe{position:absolute;top:0;left:0;z-index:auto;width:100%;height:100%;}