.new_menu li.tab_nav_03 a{color:#FFF !important;}
.new_menu li.tab_nav_03 a:hover{color:#393939 !important;}
#productName{font-size:16px;margin:8px 0 4px 0;}
.link-avis{font-size:9.9px !important}
.box_price .price{padding-left:20px;}
.box_price_right{padding:20px 0 0px 0;}
#AddToErep_buttonShowStock{margin-top:-55px;}
.add-to-erep{width:170px !important;height: auto !important;padding: 15px 0px !important;}
#add_to_wishlist_button{font-size:10px !important;padding:0 10px 0 18px !important;}
.wishlist-button-picto{background-size:15px 15px !important;}
.prod_action_content{padding:15px 20px 0px 20px;}
.wishlist_button{margin-top:-10px !important;}
.choose-store{height:30px;margin-top:-55px;}
.mag_infos{margin-top:-35px !important;}
.in_store_only_button p{font-size:12px;}
.in_store_only_button{width:170px;}
.show-stock { background: #2070af !important; font-size: 14px !important; font-weight: bold !important; text-align:center !important; text-transform:uppercase !important; color: #ffffff !important;}
#snow{
	background: none;
	background-image: url('//www.decathlon.es/eces/static/2015_2/web/bg-copos/copo-3.png'), url('//www.decathlon.es/eces/static/2015_2/web/bg-copos/copo-1.png'), url('//www.decathlon.es/eces/static/2015_2/web/bg-copos/copo-2.png');
	height: 2200px;
	left: 0;
    pointer-events: none;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index:99999;
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
.prod_view.vertical-thumbnails .miniature_box_vert_p{top:140px !important}
/* sport-fitness-material */
.picto-menu.sport-fitness-material {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px 0px !important;
  background-size: 160px 160px !important; }

/* sport-ice-hockey-1 */
.picto-menu.sport-ice-hockey-1 {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -80px !important;
  background-size: 160px 160px !important; }

/* sport-ice-hockey-2 */
.picto-menu.sport-ice-hockey-2 {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -40px !important;
  background-size: 160px 160px !important; }

/* sport-volley-2 */
.picto-menu.sport-volley-2 {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -40px !important;
  background-size: 160px 160px !important; }

/* sport-volley */
.picto-menu.sport-volley {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px 0px !important;
  background-size: 160px 160px !important; }

/* sport-boat */
.picto-menu.sport-boat {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px -40px !important;
  background-size: 160px 160px !important; }

/* sport-bodybuilding */
.picto-menu.sport-bodybuilding {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -80px !important;
  background-size: 160px 160px !important; }

/* sport-dance-2 */
.picto-menu.sport-dance-2 {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px 0px !important;
  background-size: 160px 160px !important; }

/* sport-horse-riding */
.picto-menu.sport-horse-riding {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px -80px !important;
  background-size: 160px 160px !important; }

/* sport-roller-2 */
.picto-menu.sport-roller-2 {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px 0px !important;
  background-size: 160px 160px !important; }

/* sport-skate */
.picto-menu.sport-skate {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px -40px !important;
  background-size: 160px 160px !important; }

/* sport-snowboard */
.picto-menu.sport-snowboard {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px -80px !important;
  background-size: 160px 160px !important; }

/* sport-volley-3 */
.picto-menu.sport-volley-3 {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -120px !important;
  background-size: 160px 160px !important; }

/* sport-xc-skiing */
.picto-menu.sport-xc-skiing {
  background-image: url("/eces/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -120px !important;
  background-size: 160px 160px !important; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* sport-fitness-material */
  .picto-menu.sport-fitness-material {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-ice-hockey-1 */
  .picto-menu.sport-ice-hockey-1 {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-ice-hockey-2 */
  .picto-menu.sport-ice-hockey-2 {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley-2 */
  .picto-menu.sport-volley-2 {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley */
  .picto-menu.sport-volley {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-boat */
  .picto-menu.sport-boat {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-bodybuilding */
  .picto-menu.sport-bodybuilding {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-dance-2 */
  .picto-menu.sport-dance-2 {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-horse-riding */
  .picto-menu.sport-horse-riding {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-roller-2 */
  .picto-menu.sport-roller-2 {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-skate */
  .picto-menu.sport-skate {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-snowboard */
  .picto-menu.sport-snowboard {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley-3 */
  .picto-menu.sport-volley-3 {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-xc-skiing */
  .picto-menu.sport-xc-skiing {
    background-image: url("/eces/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; } }
/* page orderdetail */
.order-main-container #next-button-top, #next-button-bottom { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 93% 50% no-repeat #f7df2f !important; color: #000 !important; }
.order-main-container #next-button-top:hover, #next-button-bottom:hover { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 93% 50% no-repeat #f5d540 !important; color: #000 !important; }

/* billingmode */
a#paymentvalidcart_payment-confirm { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 96% 50% no-repeat #f7df2f !important;  color: #000 !important; padding-right: 10px !important;}
a#paymentvalidcart_payment-confirm:hover { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 96% 50% no-repeat #eec523 !important;  color: #000 !important;}

/* Listing Page */
#box_show_next_product .btn_show_next_product { color: #000 !important; background-color: #f7df2f !important; background: -webkit-linear-gradient( #fef63a 0%, #eec523 100%) !important; text-shadow: inherit !important; font-family: roboto_condensedregular, arial !important; text-transform: uppercase !important; }
#box_show_next_product .btn_show_next_product:hover { color: #000 !important; background-color: #f5d540 !important; background: -webkit-linear-gradient( #eec523 0%, #fef63a 100%) !important; }

/* Product page*/ 
.add_to_cart_button { color: #000; background-color: #f7df2f; background: -webkit-linear-gradient( #fef63a 0%, #eec523 100%); }
.add_to_cart_button:hover { color: #000; background-color: #f5d540; background: -webkit-linear-gradient( #eec523 0%, #fef63a 100%); }

/* V+1 pop up */
#button_end_order { color: #000 !important; background-color: #f7df2f !important; background: -webkit-linear-gradient( #fef63a 0%, #eec523 100%) !important; text-shadow: inherit !important; font-family: roboto_condensedregular, arial !important; text-transform: uppercase !important; }
#button_end_order:after{background: url(/ecfr/static/head-css/images/puce-black-go.gif) top no-repeat !important;}
#button_end_order:hover { color: #000 !important; background-color: #f5d540 !important; background: -webkit-linear-gradient( #eec523 0%, #fef63a 100%) !important; }
/* Correcion para la posicion de los stickers en categorias  */

@media(min-width:1001px){

[stickerid="13165"]{position:relative;top:68px;}
[stickerid="13168"]{position:relative;top:68px;}
[stickerid="13167"]{position:relative;top:68px;}
[stickerid="13105"]{position:relative;top:68px;}
[stickerid="13107"]{position:relative;top:68px;}
[stickerid="13159"]{position:relative;top:68px;}
[stickerid="13160"]{position:relative;top:68px;}
[stickerid="13163"]{position:relative;top:68px;}
[stickerid="13300"]{position:relative;top:68px;}
[stickerid="13301"]{position:relative;top:68px;}
[stickerid="13304"]{position:relative;top:68px;}
[stickerid="13353"]{position:relative;top:68px;}
[stickerid="13356"]{position:relative;top:68px;}
[stickerid="13363"]{position:relative;top:68px;}
[stickerid="13367"]{position:relative;top:68px;}
[stickerid="13368"]{position:relative;top:68px;}
[stickerid="13400"]{position:relative;top:68px;}
[stickerid="13375"]{position:relative;top:68px;}
[stickerid="13379"]{position:relative;top:68px;}
[stickerid="13382"]{position:relative;top:68px;}
[stickerid="13388"]{position:relative;top:68px;}
[stickerid="13408"]{position:relative;top:68px;}
[stickerid="13414"]{position:relative;top:68px;}
[stickerid="13101"]{position:relative;top:68px;}
[stickerid="13102"]{position:relative;top:68px;}
[stickerid="13103"]{position:relative;top:68px;}
[stickerid="13104"]{position:relative;top:68px;}
[stickerid="13106"]{position:relative;top:68px;}
[stickerid="13108"]{position:relative;top:68px;}
[stickerid="13109"]{position:relative;top:68px;}
[stickerid="13110"]{position:relative;top:68px;}
[stickerid="13111"]{position:relative;top:68px;}
[stickerid="13153"]{position:relative;top:68px;}
[stickerid="13156"]{position:relative;top:68px;}
[stickerid="13158"]{position:relative;top:68px;}
[stickerid="13303"]{position:relative;top:68px;}
[stickerid="13312"]{position:relative;top:68px;}
[stickerid="13313"]{position:relative;top:68px;}
[stickerid="13316"]{position:relative;top:68px;}
[stickerid="13317"]{position:relative;top:68px;}
[stickerid="13319"]{position:relative;top:68px;}
[stickerid="13321"]{position:relative;top:68px;}
[stickerid="13330"]{position:relative;top:68px;}
[stickerid="13335"]{position:relative;top:68px;}
[stickerid="13355"]{position:relative;top:68px;}
[stickerid="13387"]{position:relative;top:68px;}
[stickerid="13507"]{position:relative;top:68px;}
[stickerid="NIKE_25,99"]{position:relative;top:68px;}
[stickerid="13606"]{position:relative;top:68px;}
[stickerid="13608"]{position:relative;top:68px;}
[stickerid="13611"]{position:relative;top:68px;}
[stickerid="13615"]{position:relative;top:68px;}
[stickerid="13652"]{position:relative;top:68px;}
[stickerid="13200"]{position:relative;top:68px;}
[stickerid="13311"]{position:relative;top:68px;}
[stickerid="13322"]{position:relative;top:68px;}
[stickerid="13327"]{position:relative;top:68px;}
[stickerid="13328"]{position:relative;top:68px;}
[stickerid="13357"]{position:relative;top:68px;}
[stickerid="13358"]{position:relative;top:68px;}
[stickerid="13360"]{position:relative;top:68px;}
[stickerid="NIKE_39,99"]{position:relative;top:68px;}
[stickerid="NIKE_32,99"]{position:relative;top:68px;}
[stickerid="13371"]{position:relative;top:68px;}
[stickerid="ADIDAS_8,99"]{position:relative;top:68px;}
[stickerid="13373"]{position:relative;top:68px;}
[stickerid="13380"]{position:relative;top:68px;}
[stickerid="13381"]{position:relative;top:68px;}
[stickerid="13383"]{position:relative;top:68px;}
[stickerid="13384"]{position:relative;top:68px;}
[stickerid="13385"]{position:relative;top:68px;}
[stickerid="13386"]{position:relative;top:68px;}
[stickerid="13389"]{position:relative;top:68px;}
[stickerid="13403"]{position:relative;top:68px;}
[stickerid="13407"]{position:relative;top:68px;}
[stickerid="13409"]{position:relative;top:68px;}
[stickerid="13410"]{position:relative;top:68px;}
[stickerid="13411"]{position:relative;top:68px;}
[stickerid="13415"]{position:relative;top:68px;}
[stickerid="13451"]{position:relative;top:68px;}
[stickerid="13508"]{position:relative;top:68px;}
[stickerid="13512"]{position:relative;top:68px;}
[stickerid="13514"]{position:relative;top:68px;}
[stickerid="13515"]{position:relative;top:68px;}
[stickerid="13516"]{position:relative;top:68px;}
[stickerid="13601"]{position:relative;top:68px;}
[stickerid="13607"]{position:relative;top:68px;}
[stickerid="13609"]{position:relative;top:68px;}
[stickerid="13612"]{position:relative;top:68px;}
[stickerid="13613"]{position:relative;top:68px;}
[stickerid="13614"]{position:relative;top:68px;}
[stickerid="13617"]{position:relative;top:68px;}
[stickerid="Adidas 79,99"]{position:relative;top:68px;}
[stickerid="13162"]{position:relative;top:68px;}
[stickerid="13306"]{position:relative;top:68px;}
[stickerid="13310"]{position:relative;top:68px;}
[stickerid="13325"]{position:relative;top:68px;}
[stickerid="13359"]{position:relative;top:68px;}
[stickerid="13361"]{position:relative;top:68px;}
[stickerid="NIKE_27,99"]{position:relative;top:68px;}
[stickerid="13376"]{position:relative;top:68px;}
[stickerid="13402"]{position:relative;top:68px;}
[stickerid="13404"]{position:relative;top:68px;}
[stickerid="13405"]{position:relative;top:68px;}
[stickerid="13406"]{position:relative;top:68px;}
[stickerid="13413"]{position:relative;top:68px;}
[stickerid="13416"]{position:relative;top:68px;}
[stickerid="13509"]{position:relative;top:68px;}
[stickerid="13517"]{position:relative;top:68px;}
[stickerid="13323"]{position:relative;top:68px;}
[stickerid="13324"]{position:relative;top:68px;}
[stickerid="13326"]{position:relative;top:68px;}
[stickerid="13337"]{position:relative;top:68px;}
[stickerid="13350"]{position:relative;top:68px;}
[stickerid="13354"]{position:relative;top:68px;}
[stickerid="13417"]{position:relative;top:68px;}
[stickerid="13500"]{position:relative;top:68px;}
[stickerid="13511"]{position:relative;top:68px;}
[stickerid="13602"]{position:relative;top:68px;}
[stickerid="13610"]{position:relative;top:68px;}
[stickerid="13650"]{position:relative;top:68px;}
[stickerid="13651"]{position:relative;top:68px;}
[stickerid="13161"]{position:relative;top:68px;}
[stickerid="13305"]{position:relative;top:68px;}
[stickerid="13307"]{position:relative;top:68px;}
[stickerid="13309"]{position:relative;top:68px;}
[stickerid="13314"]{position:relative;top:68px;}
[stickerid="13318"]{position:relative;top:68px;}
[stickerid="13320"]{position:relative;top:68px;}
[stickerid="13329"]{position:relative;top:68px;}
[stickerid="13331"]{position:relative;top:68px;}
[stickerid="13332"]{position:relative;top:68px;}
[stickerid="13333"]{position:relative;top:68px;}
[stickerid="13334"]{position:relative;top:68px;}
[stickerid="13336"]{position:relative;top:68px;}
[stickerid="ADIDAS_27.99"]{position:relative;top:68px;}
[stickerid="13352"]{position:relative;top:68px;}
[stickerid="13362"]{position:relative;top:68px;}
[stickerid="13364"]{position:relative;top:68px;}
[stickerid="13365"]{position:relative;top:68px;}
[stickerid="13366"]{position:relative;top:68px;}
[stickerid="13369"]{position:relative;top:68px;}
[stickerid="puma_29,99"]{position:relative;top:68px;}
[stickerid="13370"]{position:relative;top:68px;}
[stickerid="13372"]{position:relative;top:68px;}
[stickerid="13374"]{position:relative;top:68px;}
[stickerid="13377"]{position:relative;top:68px;}
[stickerid="13450"]{position:relative;top:68px;}
[stickerid="13501"]{position:relative;top:68px;}
[stickerid="13502"]{position:relative;top:68px;}
[stickerid="13503"]{position:relative;top:68px;}
[stickerid="13504"]{position:relative;top:68px;}
[stickerid="13513"]{position:relative;top:68px;}
[stickerid="13603"]{position:relative;top:68px;}
[stickerid="13604"]{position:relative;top:68px;}
[stickerid="13605"]{position:relative;top:68px;} 
[stickerid="13616"]{position:relative;top:68px;} 
[stickerid="13150"]{position:relative;top:68px;}
[stickerid="13151"]{position:relative;top:68px;}
[stickerid="13152"]{position:relative;top:68px;}
[stickerid="13154"]{position:relative;top:68px;}
[stickerid="13155"]{position:relative;top:68px;}
[stickerid="13157"]{position:relative;top:68px;}
[stickerid="13251"]{position:relative;top:68px;}
[stickerid="13302"]{position:relative;top:68px;}
[stickerid="13308"]{position:relative;top:68px;}
[stickerid="13315"]{position:relative;top:68px;}
[stickerid="13378"]{position:relative;top:68px;}
[stickerid="13505"]{position:relative;top:68px;}
[stickerid="13506"]{position:relative;top:68px;}
[stickerid="13510"]{position:relative;top:68px;}
[stickerid="ADIDAS_24,99"]{position:relative;top:68px;}
[stickerid="13653"]{position:relative;top:68px;}
[stickerid="13751"]{position:relative;top:68px;}



}
@media only screen and (min-width:1084px) {
	#nl-badge {position: fixed; right: 0px; top: 195px; z-index: 1000;}
	#nl-badge a {position: relative; right: -74px; padding:8px 40px 6px 8px; text-decoration: none; color: #000; font-size: 15px; display: inline-block; text-align: center; text-transform: uppercase; background-color: #fee255; transform: rotate(270deg); -ms-transform: rotate(270deg); -moz-transform: rotate(270deg); -webkit-transform: rotate(270deg); -o-transform: rotate(270deg);}
	#nl-badge a:after {content: ''; position: absolute; top: 0px; right: 0px; width: 34px; height: 100%; background: url('/eces/static/2015_1/web/badge-newsletter/img/cta_arrow@2x.png'); background-size: 34px, auto;}
	#nl-badge a:hover {right:-72px;}
	#nl-badge img { position: relative; top:-4px; max-width: 20px; display: inline; vertical-align: -50%; margin-right: 10px;}
}
.product-size{margin-bottom:20px !important;}

.product-size .title {display:none;}
#dropdown-list-size {padding:15px 0 0 0;}
.ui-mobile #dropdown-list-size {padding:0;}
.ui-mobile #dropdown-list-size .dropdown button {max-width:150px;}
.product-size .link_size_guider, .ui-mobile .link_size_guider  {
    font-size: 12px;
    text-decoration: none;
    color: #0082c3;
    font-weight: bold;
    text-transform: uppercase;
}
.product-size>ul li, .box_color>ul li {
margin-right:0px;
}
a.link_size_guider:before, .ui-mobile .link_size_guider:before {
    content: '';
    width: 20px;
    height: 15px;
    background: url('/eces/static/2016_1/web/guia-tallas/img/icon_hanger.png') no-repeat;
    background-size: 15px;
    display: block;
    position: absolute;
    left: -19px;
    margin: 0px;
}

.ui-mobile .link_size_guider {position:relative; display: block; margin: 10px 0 0 30px;}

.guiaNueva:before {
    top: 2px;
    content: '';
    width: 20px;
    height: 15px;
    background: url(/eces/static/2016_1/web/guia-tallas/img/icon_hanger.png) no-repeat;
    background-size: 15px;
    display: block;
    position: absolute;
    left: -19px;
    margin: 0px;
}

.guiaNueva {
    
    font-size: 12px;
    text-decoration: none;
    color: #0082c3;
    font-weight: bold;
    text-transform: uppercase;
}
#maincontainer:after {z-index: -1;}

.devolucionDias{text-align: center;  background: #0082c3;width: 100%; color: #ffffff; font-family: roboto-condensed; font-style: italic; font-weight: bold; font-size: 14px;}
.picto-camion-top{font-family: 'DecathlonCube';font-size: 28px;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;letter-spacing: 0;-webkit-font-smoothing: antialiased;font-smoothing: subpixel-antialiased;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;text-size-adjust: none;zoom: 1;}
span.picto-camion-top:before{content:'\E056'; font-size:34px; position: relative;}
.enlacetop{text-decoration:none;color:white;}

@media(max-width:350px){
   .devolucionDias{font-size:12px;}
}

@media(max-width:300px){
   .devolucionDias{font-size:11px;}
}
/* opacity 1 para stickers bajamos los precios */

[stickerid="12901"]{opacity:1;}
[stickerid="12903"]{opacity:1;}
[stickerid="12904"]{opacity:1;}
[stickerid="12916"]{opacity:1;}
[stickerid="12908"]{opacity:1;}
[stickerid="12909"]{opacity:1;}
[stickerid="12917"]{opacity:1;}
[stickerid="12919"]{opacity:1;}
[stickerid="12924"]{opacity:1;}
[stickerid="12928"]{opacity:1;}
[stickerid="12929"]{opacity:1;}
[stickerid="12934"]{opacity:1;}
[stickerid="12940"]{opacity:1;}
[stickerid="12912"]{opacity:1;}
[stickerid="12915"]{opacity:1;}
[stickerid="12918"]{opacity:1;}
[stickerid="12920"]{opacity:1;}
[stickerid="12921"]{opacity:1;}
[stickerid="12927"]{opacity:1;}
[stickerid="12933"]{opacity:1;}
[stickerid="12935"]{opacity:1;}
[stickerid="12938"]{opacity:1;}
[stickerid="12939"]{opacity:1;}
[stickerid="12902"]{opacity:1;}
[stickerid="12907"]{opacity:1;}
[stickerid="12922"]{opacity:1;}
[stickerid="12937"]{opacity:1;}
[stickerid="12941"]{opacity:1;}
[stickerid="12943"]{opacity:1;}
[stickerid="12954"]{opacity:1;}
[stickerid="12923"]{opacity:1;}
[stickerid="12925"]{opacity:1;}
[stickerid="12930"]{opacity:1;}
[stickerid="12932"]{opacity:1;}
[stickerid="12936"]{opacity:1;}
[stickerid="12942"]{opacity:1;}
[stickerid="12905"]{opacity:1;}
[stickerid="12910"]{opacity:1;}
[stickerid="12911"]{opacity:1;}
[stickerid="12913"]{opacity:1;}
[stickerid="12914"]{opacity:1;}
[stickerid="12926"]{opacity:1;}
[stickerid="12931"]{opacity:1;}
[stickerid="12944"]{opacity:1;}
[stickerid="12950"]{opacity:1;}
[stickerid="12951"]{opacity:1;}
[stickerid="12952"]{opacity:1;}
[stickerid="12953"]{opacity:1;}
[stickerid="12956"]{opacity:1;}
[stickerid="13454"]{opacity:1;}
[stickerid="13455"]{opacity:1;}
[stickerid="13460"]{opacity:1;}
[stickerid="13461"]{opacity:1;}
[stickerid="13464"]{opacity:1;}
[stickerid="13050"]{opacity:1;}
[stickerid="13452"]{opacity:1;}
[stickerid="13457"]{opacity:1;}
[stickerid="13462"]{opacity:1;}
[stickerid="13466"]{opacity:1;}
[stickerid="10104"]{opacity:1;}
[stickerid="13470"]{opacity:1;}
[stickerid="13701"]{opacity:1;}
[stickerid="13100"]{opacity:1;}
[stickerid="13453"]{opacity:1;}
[stickerid="13456"]{opacity:1;}
[stickerid="13467"]{opacity:1;}
[stickerid="13468"]{opacity:1;}
[stickerid="13469"]{opacity:1;}
[stickerid="13550"]{opacity:1;}
[stickerid="13700"]{opacity:1;}
[stickerid="13463"]{opacity:1;}
[stickerid="13471"]{opacity:1;}
[stickerid="13051"]{opacity:1;}
[stickerid="13169"]{opacity:1;}
[stickerid="13170"]{opacity:1;}
[stickerid="13171"]{opacity:1;}
[stickerid="13458"]{opacity:1;}
[stickerid="13459"]{opacity:1;}
[stickerid="13465"]{opacity:1;}
.new-product-thumbnail .thumbnail-zone-price { 
 white-space: nowrap;
}
.howtochoose .visual{
	background-image: url('/eces/static/how-to-choose/howtochoose-background.jpg');
}
.picto-menu {
    background-image: url('/skins/images/picto-menu-gtc.png?v=fix1611');
}

@media(-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
    .picto-menu {
        background-image:url('/skins/images/picto-menu-gtc@2x.png?v=fix1611');
    }
}
.cta-test-mob{width:100%;background:#004876;height:35px;color:#FFFFFF;text-align:center;line-height:35px;font-size:14px;text-transform:uppercase;text-decoration:none;}
.cta-test{width:330px;background:#004876;color:#FFFFFF;text-decoration:none;height:35px;text-align:center;line-height:35px;text-transform:uppercase;font-size:14px;margin:10px 0px;}
#test-prod-cta{text-decoration:none;}
#home.search_page .no_result *
{
  font-family: Roboto;  
  text-transform: uppercase;
  color:white;
  background: #0082C3;
  text-align: center;

}

#home.search_page .title_no_result {
  padding-top: 25px;
}

#home.search_page .newsearch p{
  padding:1em;
}

.no_result_suggest:after, .no_result_suggest:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.no_result_suggest:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #0082C3;
	border-width: 20px;
	margin-left: -20px;
}
@font-face { font-family: 'DecathlonCube'; src: url('/eces/static/2016_1/web/fonts/cube-icons/Cube-Decathlon.eot'); src: url('/eces/static/2016_1/web/fonts/cube-icons/Cube-Decathlon.eot?#iefix') format('embedded-opentype'), url('/eces/static/2016_1/web/fonts/cube-icons/Cube-Decathlon.woff') format('woff'), url('/eces/static/2016_1/web/fonts/cube-icons/Cube-Decathlon.ttf') format('truetype'), url('/eces/static/2016_1/web/fonts/cube-icons/Cube-Decathlon.svg#CubeIcons') format('svg');}
.old_menu .sous_nav_list a:hover .sous_nav_picto {
    background-position: -80px 0;
}
.vat_mention,.a_partir_de,.taxMention { display:none !important; }
