.boton-amarillo,
.boton-azul {
    line-height: 25px;
    font-size: 13px;
    letter-spacing: .5px;
    font-style: normal!important;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: 32px
}

#carousel #prevslide:hover,
#nextslide:hover,
.services a {
    cursor: pointer
}

.brand-row-title,
.services a,
.title-avis h2,
.title-boutique-sup {
    text-transform: uppercase
}

@font-face {
    font-family: roboto_condensedregular;
    src: url(robotocondensed-regular-webfont.eot);
    src: url(robotocondensed-regular-webfont.eot?#iefix) format('embedded-opentype'), url(robotocondensed-regular-webfont.woff2) format('woff2'), url(robotocondensed-regular-webfont.woff) format('woff'), url(robotocondensed-regular-webfont.ttf) format('truetype'), url(robotocondensed-regular-webfont.svg#roboto_condensedregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.boton-amarillo {
    font-family: roboto-condensed;
    font-weight: 700;
    position: relative;
    top: 10px;
    width: 150px;
    height: 30px;
    color: #000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fef63a), color-stop(100%, #eec423));
    background: -webkit-linear-gradient(top, #fef63a 0, #eec423 100%);
    background: -o-linear-gradient(top, #fef63a 0, #eec423 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fef63a), to(#eec423));
    background: linear-gradient(to bottom, #fef63a 0, #eec423 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#fef63a, endColorstr=#eec423, GradientType=0)
}

.boton-amarillo.right:after,
.boton-amarillo.right:before,
.boton-azul.right:after,
.boton-azul.right:before {
    left: auto;
    height: 100%;
    position: absolute
}

.boton-amarillo a {
    color: #000
}

.boton-amarillo.right:after {
    content: '';
    top: 0;
    right: 0;
    width: 50%;
    max-width: 38px;
    background-size: 38px, auto;
    background: rgba(255, 255, 255, 1)!important;
    -webkit-transform: skew(-14deg);
    -ms-transform: skew(-14deg);
    -o-transform: skew(-14deg);
    transform: skew(-14deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: .15
}

.boton-amarillo.right:before {
    font-family: DecathlonCube;
    content: '\E00B';
    top: 5px;
    right: 6px;
    z-index: 1
}

.boton-azul {
    font-family: roboto-condensed;
    position: relative;
    top: 10px;
    width: 150px;
    height: 30px;
    color: #fff;
    background: -webkit-linear-gradient(bottom, rgba(0, 120, 188, 1), rgba(15, 182, 238, 1));
    background: -o-linear-gradient(bottom, rgba(0, 120, 188, 1), rgba(15, 182, 238, 1));
    background: -moz-linear-gradient(bottom, rgba(0, 120, 188, 1), rgba(15, 182, 238, 1));
    background: -ms-linear-gradient(bottom, rgba(0, 120, 188, 1), rgba(15, 182, 238, 1));
    background: linear-gradient(bottom, rgba(0, 120, 188, 1), rgba(15, 182, 238, 1))
}

.boton-azul a {
    color: #fff
}

.boton-azul.right:after {
    content: '';
    top: 0;
    right: 0;
    width: 50%;
    max-width: 38px;
    background-size: 38px, auto;
    background: rgba(255, 255, 255, 1)!important;
    -webkit-transform: skew(-14deg);
    -ms-transform: skew(-14deg);
    -o-transform: skew(-14deg);
    transform: skew(-14deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: .15
}

.boton-azul.right:before {
    font-family: DecathlonCube;
    content: '\E00B';
    top: 5px;
    right: 6px;
    z-index: 1
}

.fclear {
    clear: both
}

.fleft {
    float: left
}

.fright {
    float: right
}

.avis-general a,
.boutiques-general a,
.boutiques-sup-general a {
    text-decoration: none
}

#supersized li.slide-0,
#supersized li.slide-1,
#supersized li.slide-2,
#supersized li.slide-3,
#supersized li.slide-4 {
    background: #FFF
}

#carousel {
    height: 400px
}

#carousel #controls-wrapper {
    top: 375px;
    height: 26px
}

#nextslide,
#prevslide {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 50%;
    margin-top: -21px;
    opacity: 1
}

#carousel #prevslide {
    left: 100px;
    background: red
}

#carousel #nextslide {
    right: 100px;
    background: url(/eces/static/carousel/images/forward.png)
}

#carousel #prevslide:active,
#nextslide:active {
    margin-top: -19px
}

body#home,
body#home #maincontainer {
    background: 0 0!important
}

#carousel #controls {
    display: none
}

#carousel ul#slide-list .playPause {
    width: 19px;
    height: 16px;
    position: absolute;
    padding-right: 3px;
    top: 6px;
    left: 11px;
    z-index: 9;
    display: none;
    background: url(/eces/static/carousel/images/bgSeparator.png) 19px 0 no-repeat
}

#carousel .playPause a {
    height: 16px;
    width: 14px;
    display: inline-block;
    background: url(/eces/static/carousel/images/playPause.png) -1px -12px no-repeat
}

#carousel .playPause a.playIcon {
    background-position: -1px 2px
}

@media screen and (-webkit-min-device-pixel-ratio:2),
screen and (max-moz-device-pixel-ratio:2) {
    #carousel .playPause a {
        background-image: url(/eces/static/carousel/images/playPause@2x.png);
        background-size: 10px 26px
    }
}

ul#slide-list {
    background: url(/eces/static/carousel/images/bgControls.png);
    padding: 10px 5px 8px 39px;
    -webkit-border-top-left-radius: 11px;
    -webkit-border-top-right-radius: 11px;
    -moz-border-radius-topleft: 11px;
    -moz-border-radius-topright: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    position: relative
}

ul#slide-list li {
    width: 8px;
    height: 8px;
    border: 0;
    background: 0 0;
    border-radius: 4px;
    margin: 0 10px 0 0
}

ul#slide-list li.current-slide {
    border: 0
}

ul#slide-list li a {
    width: 8px;
    height: 8px;
    background: #FFF;
    border-radius: 4px;
    opacity: .3
}

ul#slide-list li a:hover,
ul#slide-list li.current-slide a {
    opacity: 1
}

#HPBanner1,
#HPBanner2,
#HPBanner3,
#HPBanner4 {
    display: none!important
}

div#myHPbox {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 0
}

.insidemargin {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: 7px
}

.firstborder {
    width: 0;
    height: 165px;
    display: block;
    margin: 10px 0 0;
    float: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff
}

*,
div.clear-both {
    margin: 0;
    padding: 0
}

div#myHPbox h2,
div#myHPbox h2 a {
    font-size: 20px;
    color: #191919;
    font-family: robotoboldcond, Arial;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    text-decoration: none
}

div#myHPbox h2 a {
    padding: 0!important
}

div#myHPbox h2 a:hover {
    color: #0083C2;
    text-decoration: underline
}

div.clear-both {
    width: 100%;
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    line-height: 0
}

.services,
body,
html {
    width: 100%!important
}

body,
html {
    height: 100%!important
}

.services a:active,
.services a:hover,
.services a:link,
.services a:visited {
    text-decoration: none!important
}

.services .bloques {
    width: 1000px;
    margin: 0 auto
}

.services .services-shadow {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 95%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 95%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .2)), color-stop(50%, rgba(0, 0, 0, .1)), color-stop(95%, rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 95%);
    content: "";
    display: block;
    height: 5px;
    height: 8px;
    position: absolute;
    width: 100%;
    z-index: 2
}

.services .services-mask {
    max-height: 35px;
    background-color: #0082c3;
    overflow: hidden;
    z-index: 0
}

.services .columns-3 .column {
    width: 33%;
    float: left;
    position: relative;
    min-height: 1px
}

.services a {
    text-decoration: none;
    color: #fff!important;
    height: 60px;
    font-family: Roboto-Condensed, sans-serif;
    font-weight: 500;
    font-style: italic;
    position: relative;
    display: table;
    width: 100%;
    z-index: 1
}

.avis-general,
.boutiques-general,
.brand-row-title,
.services a .text {
    font-family: roboto-condensed
}

.services a .text {
    display: table-cell;
    position: relative;
    top: -16px;
    left: 20px;
    font-size: 14px
}

.services .sprite {
    width: 50px;
    height: 40px;
    position: relative;
    top: -4px;
    left: 85px
}

.services .icon-mobiles {
    background: url(/eces/static/2016_1/web/hp/libelleSup/img/Libelle-superior-mobile.png) no-repeat;
    width: 50px;
    height: 40px;
    margin-right: 5px
}

.services span.picto-camion {
    font-family: 'DecathlonCube';
    font-size: 36px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    zoom: 1;
}

.services span.picto-camion:before {
    left: 53px;
    float: left;
    content: '\E056';
    font-size: 34px;
    top: -3px;
    position: relative;
}

.services span.icon-mobileCube {
    font-family: 'DecathlonCube';
    font-size: 36px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    zoom: 1;
}

.services span.icon-mobileCube:before {
    left: 88px;
    float: left;
    content: '\E05F';
    font-size: 25px;
    top: 5px;
    position: relative;
}

.services span.icon-clickRec {
    font-family: 'DecathlonCube';
    font-size: 36px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    zoom: 1;
}

.services span.icon-clickRec:before {
    left: 88px;
    float: left;
    content: '\E055';
    font-size: 25px;
    top: 5px;
    position: relative;
}

.services .column:after {
    content: "";
    display: block;
    -webkit-transform: skewX(-3.5deg);
    -o-transform: skewX(-3.5deg);
    -ms-transform: skewX(-3.5deg);
    transform: skewX(-3.5deg);
    -webkit-box-shadow: 0 0 10px #01517b;
    box-shadow: 0 0 10px #01517b;
    background-color: #0082c3;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

div#main-content-container ul.product_list .productlong .product_bloc_orga_01,
ul.product_list,
ul.product_list .bloc_picto img,
ul.product_list .product,
ul.product_list li .product_bloc_orga_00,
ul.product_list li .product_bloc_orga_01,
ul.product_list li .product_brand,
ul.product_list li .product_name,
ul.product_list li .product_price {
    -webkit-transition: all .35s ease-out;
    -chrome-transition: all .35s ease-out;
    -khtml-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    transition: all .4s ease-out
}

#middle ul.product_list li.product div.more_info div.more_info_content {
    background: #fa6e18!important;
    color: #fff!important
}

ul.product_list {
    background: #eee;
    padding: 4px;
    margin: 10px 0 0
}

ul.product_list .product p {
    display: none
}

ul.product_list .banner01 p {
    display: block
}

ul.product_list .product_normal {
    margin: 3px!important
}

ul.product_list .product_normal,
ul.product_list .productshort {
    width: 240px;
    height: 304px;
    border: 1px solid #fff;
    background: #fff
}

ul.product_list .productlong {
    width: 490px;
    height: 304px;
    border: 1px solid #fff;
    background: #fff
}

ul.product_list .product img.product_special {
    margin: 0;
    width: 100%
}

ul.product_list .over,
ul.product_list .product:hover {
    border-color: #ff5f00;
    background-image: none;
    box-shadow: 0 5px 20px #a9a9a9;
    z-index: 10
}

ul.product_list .product .more_info {
    right: 0
}

ul.product_list .product .bloc_picto {
    top: 7px;
    left: 7px
}

ul.product_list .product_bloc_orga_02 {
    margin: 0!important
}

ul.product_list .product_bloc_orga_03 {
    display: none
}

ul.product_list .product_normal a.infobulle.etoile,
ul.product_list .productshort a.infobulle.etoile {
    position: absolute;
    top: 236px;
    left: 10px;
    z-index: 2;
    margin: 0
}

ul.product_list .product .product_bloc_orga_01 {
    padding: 10px 0
}

div#main-content-container .product_list .product .product_brand,
div#main-content-container .product_list .product .product_name {
    margin: 0 0 0 10px
}

ul.product_list .bloc_picto img {
    opacity: 0;
    filter: alpha(opacity=0)
}

div#main-content-container ul.product_list .productlong:hover .product_bloc_orga_01,
ul.product_list li:hover .bloc_picto img {
    opacity: 1;
    filter: alpha(opacity=100)
}

body.main_page div#maincontainer div#main-content-container {
    padding-top: 277px
}

div#maincontainer #top {
    margin: 0 auto
}

div#maincontainer div.product_list_content {
    width: 1000px;
    display: block;
    margin: 0 auto;
    position: relative;
}

div#maincontainer div.mini_shop_hp,
div#presentation-images-content {
    width: 100%
}

div#main-content-container div.hp_gondolas {
    width: 100%;
    height: 319px!important;
    overflow: hidden;
    position: relative;
    padding: 0!important
}

div#maincontainer .BoutiquesES {
    width: 1000px;
    display: block;
    margin: 0 auto;
    height: auto
}

.boutiques-sup-general,
.cuarto,
.sprite {
    height: 204px
}

body div#main-content-container {
    background: 0 0!important
}

div#maincontainer div#top {
    width: 982px
}

div#maincontainer {
    width: 100%!important;
    padding: 0;
    margin: 0
}

.sprite {
    width: 250px
}

.sprite.boutique1 {
    background-position: 0 0
}

.sprite.boutique2 {
    background-position: -250px 0
}

.sprite.boutique3 {
    background-position: -500px 0
}

.sprite.boutique4 {
    background-position: -750px 0
}

.cuarto {
    width: 25%
}

.total {
    width: 100%
}

.title-boutique-sup {
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    color: #3A3A3A;
    letter-spacing: -0.01em;
}

.boutiques-center-sup {
    text-align: center;
    height: 150px
}

.inside-boutiques-sup {
    width: 1000px;
    margin: 0 auto;
    height: 204px;
    background: #FFF
}

.inside-boutiques-sup a {
    color: #000
}

.avis-general {
    height: 140px;
    width: 100%;
    background: #efefef
}

.inside-avis {
    height: 140px;
    width: 1000px;
    margin: 0 auto
}

.half-avis {
    width: 50%;
    height: 140px
}

.title-avis {
    height: 40px;
    padding: 4% 0 0
}

.inferior-avis-1,
.inferior-avis-2 {
    height: 65px
}

.title-avis img {
    width: 40px
}

.title-avis h2 {
    color: #2070AF;
    font-style: oblique;
    font-size: 17px;
    margin: 10px 8px
}

.title-avis h2 span {
    color: #363636
}

.review-avis {
    margin: 10px 0 0 18px
}

.review-avis h2 {
    font-size: 20px
}

.review-avis h2 span {
    font-size: 40px
}

.stars-avis img {
    width: 125px;
    margin: 15px 18px 18px 12px
}

.CTA-avis {
    margin: 13px 6px
}

.subtitle-avis {
    height: 20px;
    padding: 30px 0
}

.subtitle-avis h2 {
    font-style: oblique;
    font-size: 16px;
    font-weight: lighter
}

.name-avis h2 {
    font-size: 14px;
    margin: 18px 0
}

.stars-avis-2 img {
    margin: 16px 2px
}

.CTA-avis-2 {
    margin-left: 15px;
    position: relative;
    top: -5px
}

#shadowBottom-boutiques-inf {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 5px;
    background: -webkit-radial-gradient(50% 0, 50% 5px, #aaa 0, #fff 100%)
}

.tercio {
    width: 32%
}
.brand-container{
    width: 183px;
    height: 82px;
    margin: 0 auto;
    background: url(/eces/static/2015_1/web/footer_2015/logos/sprite-slider-marcas-2.jpg) no-repeat;
}
.aptonia{
    background-position: 0px 0px
}
.artengo{
    background-position: 0px -82px
}
.btwin{
    background-position: 0px -164px
}
.caperlan{
    background-position: 0px -246px
}
.domyos{
    background-position: 0px -330px
}
.fouganza{
    background-position: 0px -414px
}
.geologic{
    background-position: 0px -498px
}
.geonaute{
    background-position: 0px -580px
}
.inesis{
    background-position: -183px -0px
}
.kalenji{
    background-position: -183px -82px
}
.kipsta{
    background-position: -183px -164px
}
.nabaiji{
    background-position: -183px -246px
}
.newfeel{
    background-position: -183px -330px
}
.orao{
    background-position: -183px -414px
}
.oxelo{
    background-position: -183px -498px
}
.quechua{
    background-position: -183px -580px
}
.simond{
    background-position: -366px 0px
}
.solognac{
    background-position: -366px -82px
}
.tribord{
    background-position: -366px -330px
}
.wedze{
    background-position: -366px -164px
}
.outshock{
    background-position: -366px -246px
}
.inside-boutiques a {
    color: #000
}

.separator {
    width: 2%;
    background-image: url(/eces/static/2016_1/web/hp/boutiques-inf/img/separadores.png);
    height: 165px
}

.descripcion-boutiques {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0
}

.descripcion-boutiques span {
    font-weight: 700
}

.boutiques-general {
    height: 165px;
    margin: 10px 0 30px;
    background: #EFEFEF;
    background: -moz-linear-gradient(left, #fff 0, #efefef 20%, #efefef 80%, #fff 100%);
    background: -webkit-linear-gradient(left, #fff 0, #efefef 20%, #efefef 80%, #fff 100%);
    background: linear-gradient(to right, #fff 0, #efefef 20%, #efefef 80%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1)
}

.boutiques-center {
    text-align: center;
    width: 236px;
    height: 75px;
    margin: 0 auto;
}
.boutique-inf-1{
	background-position: 0px 5px !important;
}
.boutique-inf-2{
	background-position: -236px 5px !important;
}
.boutique-inf-3{
	background-position: -472px 5px !important;
}
.inside-boutiques {
    width: 1000px;
    margin: 0 auto;
    height: 165px
}

.brand-row-title {
    text-align: center;
    font-style: oblique;
    color: #363636;
    font-size: 20px;
    margin-top: 15px
}

.general-slider {
    margin: 10px 0
}

.bx-wrapper {
    max-width: 1000px;
    margin: 0 auto
}

.bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 101px
}

.bx-clone {
    float: left;
    list-style: none;
    position: relative;
    width: 200px
}

.slider {
    width: 2215%;
    height: 100%;
    margin: 0;
    position: relative;
    left: -1000px
}

.bx-wrapper .bx-controls-direction a {
    margin: -2% -5% 0
}

.containerSlider {
    width: 1000px;
    margin: 0 auto
}

.containerSlider  {
    
}

.slider a {
    text-decoration: none;
    color: #000
}

.prueba {
    font-family: Roboto-Condensed, sans-serif;
    height: 61px;
    padding: 20px 0;
    background: #F4F4F4;
    display: none;
    text-align: center
}

.slider h2 {
    font-size: 14px;
    margin-bottom: 5px
}

.slider p {
    font-size: 11px
}