/* ============= */
/* CONTACT BLOCS */
/* ============= */

div.contact-blocks {
    margin-top:20px;
    margin-bottom:20px;
}
div.contact-blocks > table {
	width: 1000px;	
}
div.contact-blocks div.contact-block {
    width:314px;
    margin-right:8px;   
    padding-bottom:20px;
    margin: 0 auto;
}
.ie6 div.contact-blocks div.contact-block {
    margin-right:4px;   
}
div.contact-blocks div.contact-block div.top {
    background:transparent url(/skins/images/specific-country/contact-block-top.gif) no-repeat scroll 0 0;
    width:314px;
    height:22px;
    padding-left:7px;
    padding-top:11px;
    text-transform:uppercase;
    font-size:12px;
}
div.contact-blocks div.contact-block div.body {
    background:transparent url(/skins/images/specific-country/contact-block-body.gif) repeat-y scroll 0 0;
    width:314px;
    padding-bottom:10px;
}
div.contact-blocks div.contact-block div.body div.image {
    padding-left:1px;
}
div.contact-blocks div.contact-block div.body div.description {
    margin-top:15px;
    margin-left:30px;
    font-size:12px;
    height:80px;
}
div.contact-blocks div.contact-block div.body div.description ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

div.contact-blocks div.contact-block div.body div.description ul li {
    margin-bottom:5px;
    list-style-image:url(/skins/images/specific-country/picto/puce-04.gif);/* JIRA CORE-5944 : Refonte graphique */
}
div.contact-blocks div.contact-block div.body div.button {
    background:transparent url(/skins/images/specific-country/button/contact-block-button.gif) no-repeat scroll 0 0;/* JIRA CORE-5944 : Refonte graphique */
    width:297px;
    height:23px;
    margin-left:8px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    padding-top:11px;
}
div.contact-blocks div.contact-block div.body div.button a,
div.contact-blocks div.contact-block div.body div.button a:visited,
div.contact-blocks div.contact-block div.body div.button a:hover {
    color: #3b3b3b; /* JIRA CORE-6347 */
    text-decoration:none;
}
div.contact-blocks div.contact-block div.bottom {
    background:transparent url(/skins/images/specific-country/contact-block-bottom.gif) no-repeat scroll 0 0;
    width:314px;
    height:1px;
}

/* Screen with confirmation message after a successfully send of communication via contact page */
.confirm-communication, .confirm-communication-title {
	margin-left: 25px;
	width:960px;
}
.confirm-communication-title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FF6609;
	margin-top: 30px;
	margin-bottom: 10px;
}
.confirm-communication {
	font-size: 15px;
	color: #5C5C5C;
	margin-bottom: 25px;
}
.confirm-communication .top {
	background:url(/skins/images/specific-country/order-block-header2.gif) no-repeat;
    height:4px;
}
.confirm-communication .body {
	background:url(/skins/images/specific-country/order-block-body2.gif) repeat-y;
	padding: 10px 0 10px 25px;	
}
.confirm-communication .bottom {
	background:url(/skins/images/specific-country/order-block-footer2.gif) no-repeat;
	height: 4px;
}

/* BEGIN JIRA CORE-6559 */
#contact_breadcrumb .breadcrumb_list li a.link_breadcrumb_two_lines,
#contact_breadcrumb .breadcrumb_list li span.link_breadcrumb_two_lines {
	line-height: 31px;
}
/* END JIRA CORE-6559 */

/* BEGIN CORE-7547 */
#uploadFileButton {	
	/*cursor: pointer;*/
	display: inline-block; 
	overflow: hidden; 
	position: relative;
	margin-top: -20px;
}

#uploadFileButton div > input[type="file"]{
	cursor: pointer; 
	position: absolute; 
	top: 0; 
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#uploadFileButton div > input[type="file"]:disabled{
	cursor: default !important; 
}

#uploadFileButton .button{
	background: white;
	border-radius: 5px;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 8px;
	color: red;
	z-index:100;
	line-height: 25px;
}

#uploadFileButton .button img{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

.personal-account-body #file-upload-area{
	width: 260px;
	margin-left: 613px;
	height: 80px;
}

#uploadFileButton .fileUploadInformation{
	margin-left: 8px;
	font-style: italic; 
}

#file-upload-area #file-upload-result{	
	margin-left: 8px;
	margin-top:8px;
	font-size: 12px;
	font-weight: bold;
}

#file-upload-area #file-upload-result a.MultiFile-remove{
	color: red;
}

#continueWithoutLoggin{
	margin-right: 45px;
	margin-top: 20px;
}

form[name="frm_contact"] .mandatoryField{
	width: 410px;
	margin-right: -30px;
}


form[name="frm_contact"] .textarea .mandatoryField .ValidationCheck {
	position: relative;
	float: right;
	right: 10px;
	z-index: 1;
}
/* END CORE-7547 */

body#home #main-content-container{background:none !important;}






/* BEGIN -PAGE CONTACT FORMULAIRE Yhafidi 09032015*/
.loginPage_page #main-content-container, .contactUs_page #main-content-container, .contactUsWithoutAccount_page #main-content-container { background:#ffffff; }
.loginPage_page .personal-account, .contactUs_page .personal-account, .contactUsWithoutAccount_page .personal-account { margin:0; display:block; width:940px; padding:30px; }
.loginPage_page .personal-account .personal-account-header, .contactUs_page .personal-account .personal-account-header, .contactUsWithoutAccount_page .personal-account .personal-account-header { display:block; height:auto; padding:0 0 3px; margin:0; }
.loginPage_page .personal-account-header .h9, .contactUs_page .personal-account-header .h9, .contactUsWithoutAccount_page .personal-account-header .h9 { color:#0083c1; font-size:30px; letter-spacing:-0.3px; padding-top:0; }
.loginPage_page .personal-account-encart, .loginPage_page .personal-account-body, .loginPage_page .personal-account-bottom, .contactUs_page .personal-account-encart, .contactUs_page .personal-account-body, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-bottom  { background:none; }
.loginPage_page .personal-account-encart, .contactUs_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-encart { display:block; margin:0 0 12px; padding:0 0 12px; font-size:12px; color:#191919; text-align:left; border-bottom:1px solid #e5e5e5; }
.loginPage_page .personal-account-body, .contactUs_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-body { padding:0; display:block; }
#frm_contact .field-row { margin:0; padding:0; width:100%; height:auto; margin:0 0 12px; overflow:hidden; }
#frm_contact .field-title { width:200px; height:36px; display:block; float:left; font-size:13px; font-weight:bold; color:#191919; line-height:36px; }
form[name="frm_contact"] .mandatoryField { width:675px; height:36px; display:block; margin:0; }
.personal-account-body .field-value { float:left; height:auto; overflow:hidden; }
form[name="frm_contact"] .field-value .field-7 { width:275px; height:auto !important; display:block; border:1px solid #cccccc !important; border-radius:2px; margin:0; padding:8px !important; background:url('../images/spritescontact.jpg') 0 0 repeat-x #ffffff; float:left; }
form[name="frm_contact"] .textarea .mandatoryField { height:auto !important; }
form[name="frm_contact"] .field-value textarea#content { height:115px !important; background:url('../images/fdtextaera.png') 0 0 repeat-x #ffffff; float:left; width:300px !important; }
form[name="frm_contact"] .textarea .mandatoryField .ValidationCheck { float:left !important; right:inherit !important; }
.personal-account-body #file-upload-area { clear:both; margin:0; padding:0; height:auto; width:100%; border-bottom:1px solid #e5e5e5; padding:0 0 12px; margin:0 0 12px; }
form[name="frm_contact"] select { width:293px !important; }
.personal-account-body #uploadFileButton { margin-top:0; position:relative; }
.personal-account-body #uploadFileButton p.fileUploadInformation { display:inline; }
.personal-account-body #uploadFileButton span.button img { display:none }
.personal-account-body #uploadFileButton span.button { cursor:pointer; width:auto; display:inline-block; background:url('../images/spritescontact.jpg') 0 -72px repeat-x #0083c1; color:#ffffff !important; text-align:center; font-size:14px; font-weight:bold; line-height:36px; height:36px; padding:0 15px; margin:12px 0 0 200px; }
.loginPage_page .personal-account-bottom, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-bottom  { width:100%; height:auto; display:block; margin:0; padding:0; }
.contactUs_page .personal-account-bottom #personal-account-button, .loginPage_page .personal-account-bottom #personal-account-button, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button { margin:0 0 0 200px; height:36px; }
.contactUs_page .personal-account-bottom #personal-account-button a, .loginPage_page .personal-account-bottom #personal-account-button a, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a { margin:0; display:block; padding:0; font-size:14px; font-weight:bold; text-align:center; color:#ffffff; line-height:36px; height:36px; background:url('../images/spritescontact.jpg') 0 -144px repeat-x #ff5f00; border-radius:2px; width:150px;}
.contactUs_page .personal-account-bottom #personal-account-button a span, .loginPage_page .personal-account-bottom #personal-account-button a span, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span { margin:0; padding:0; /*background:none;*/ height:inherit !important; width:inherit !important; }
.contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttond, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttong, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttond, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttond { display:none }
@keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
@-webkit-keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
.personal-account-body #uploadFileButton span.button:hover, .contactUs_page .personal-account-bottom #personal-account-button a:hover, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a:hover, .loginPage_page .personal-account-bottom #personal-account-button a:hover { animation:mymove 2s infinite; -webkit-animation:mymove 2s infinite; }


/*  END PAGE CONTACT FORMULAIRE Yhafidi 09032015*/ 