@keyframes vex-fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes vex-fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes vex-fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-ms-keyframes vex-fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes vex-fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes vex-fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes vex-fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes vex-fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-ms-keyframes vex-fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-o-keyframes vex-fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}
@-webkit-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}
@-moz-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}
@-ms-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}
@-o-keyframes vex-rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}
.vex,
.vex *,
.vex:after,
.vex:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.vex {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1111;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.vex-overlay {
    animation: vex-fadein .5s;
    -webkit-animation: vex-fadein .5s;
    -moz-animation: vex-fadein .5s;
    -ms-animation: vex-fadein .5s;
    -o-animation: vex-fadein .5s;
    -webkit-backface-visibility: hidden;
    position: fixed;
    background: url('../images/bg_overlay.png')\9;
    background: rgba(0, 0, 0, .4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.vex.vex-closing .vex-overlay {
    animation: vex-fadeout .5s;
    -webkit-animation: vex-fadeout .5s;
    -moz-animation: vex-fadeout .5s;
    -ms-animation: vex-fadeout .5s;
    -o-animation: vex-fadeout .5s;
    -webkit-backface-visibility: hidden
}
.vex-content {
    animation: vex-fadein .5s;
    -webkit-animation: vex-fadein .5s;
    -moz-animation: vex-fadein .5s;
    -ms-animation: vex-fadein .5s;
    -o-animation: vex-fadein .5s;
    -webkit-backface-visibility: hidden;
    background: #fff
}
.vex.vex-closing .vex-content {
    animation: vex-fadeout .5s;
    -webkit-animation: vex-fadeout .5s;
    -moz-animation: vex-fadeout .5s;
    -ms-animation: vex-fadeout .5s;
    -o-animation: vex-fadeout .5s;
    -webkit-backface-visibility: hidden
}
.vex-close:before {
    font-family: Arial, sans-serif
}
.vex-dialog-form {
    margin: 0
}
.vex-dialog-button {
    -webkit-appearance: none;
    cursor: pointer
}
.vex-loading-spinner {
    animation: vex-rotation .7s linear infinite;
    -webkit-animation: vex-rotation .7s linear infinite;
    -moz-animation: vex-rotation .7s linear infinite;
    -ms-animation: vex-rotation .7s linear infinite;
    -o-animation: vex-rotation .7s linear infinite;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .1);
    box-shadow: 0 0 1em rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 1112;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    width: 2em;
    background: #fff
}
body.vex-open {
    overflow: hidden
}
.vex.dkt {
    z-index: 2000000
}
.vex-content-wrapper {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 15px 0;
    font-family: Arial, sans-serif;
    background: 0 0;
    color: #444;
    overflow: auto
}
.vex-content-valign {
    position: relative;
    display: table-cell;
    vertical-align: middle
}
.vex-content {
    position: relative;
    margin: auto
}
.vex-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100
}
.vex-close:before {
    position: absolute;
    content: "\00D7";
    font-size: 40px;
    font-weight: 400;
    line-height: 41px;
    height: 40px;
    width: 40px;
    text-align: center;
    top: 0;
    right: 0;
    color: #0083c1;
    background: 0 0
}
.vex-close:active:before,
.vex-close:hover:before {
    color: #fff;
    background: #0083c1
}
.vex-content {
    margin: auto;
    position: relative;
    z-index: 99;
}