@charset "utf-8";

/* ---------------
 FOOTER
--------------- */

#footer {
	min-width: 960px;
	width: auto !important;
	width: 100%;
	clear: both;
	border-bottom: 1px solid #444;
	border-top: 1px solid #4e4e4e;
	background: #444444;
	color: #cccccc;
}
#footer a {
	line-height: 1.3;
	color: #cccccc;
	text-decoration: none;
}
#footer a:hover {
	color: #cccccc;
	text-decoration: underline;
}
#footer #footer-fnavi {
	padding-bottom: 20px;
}
#footer #footer-fnavi .inner,
#footer #footer-btm .inner {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	*zoom:1;
}
#footer #footer-fnavi .inner:after,
#footer #footer-btm .inner:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#footer #footer-fnavi .inner {
	position: relative;
	padding-top: 13px;
}
#footer #footer-fnavi #footer-fnavi-service {
	float: left;
	width: 700px;
	*zoom:1;
}
#footer #footer-fnavi #footer-fnavi-others {
	float: right;
	width: 220px;
	*zoom:1;
}
#footer #footer-fnavi #footer-fnavi-service:after,
#footer #footer-fnavi #footer-fnavi-others:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#footer #footer-fnavi #footer-fnavi-service p.head {
	margin: 0 0 8px;
	padding: 11px 0 3px;
	width: 700px;
	border-bottom: 1px solid #888888;
}
#footer #footer-fnavi #footer-fnavi-others p.head {
	padding-bottom: 1px;
}
#footer #footer-fnavi #footer-fnavi-service p.head a,
#footer #footer-fnavi #footer-fnavi-others p.head a {
	padding: 1px 0 1px 18px;
	color: #ffffff;
	font-weight: bold;
	background: url(../images/icon_footer-sitelink.gif) 0 0 no-repeat;
}
#footer #footer-fnavi ul {
	width: 220px;
	float: left;
	overflow: hidden;
	*zoom:1;
}
#footer #footer-fnavi ul:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#footer #footer-fnavi ul li.category {
	font-weight: bold;
	padding: 11px 0 3px;
	border-bottom: 1px solid #888888;
}
#footer #footer-fnavi ul li {
	line-height: 1.2;
}
#footer #footer-fnavi ul li.category.rental,
#footer #footer-fnavi ul li.category.exclusive,
#footer #footer-fnavi ul li.category.vps,
#footer #footer-fnavi ul li.category.datacenter {
	padding-bottom: 0;
	border-bottom: 0;
}
#footer #footer-fnavi ul li.category a {
	padding-left: 9px;
	background: url(../images/icon_footer-link.gif) left 3px no-repeat;
}
#footer #footer-fnavi ul li {
	overflow: hidden;
	*zoom: 1;
}
#footer #footer-fnavi ul li:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#footer #footer-fnavi ul li a,
#footer #footer-fnavi ul li a:hover {
	color: #ffffff;
}
#footer #footer-fnavi ul li.category ul {
	margin-top: 3px;
	padding: 13px 0 0 0;
	border-top: 1px solid #888888;
}
#footer #footer-fnavi ul li.category ul li {
	padding-bottom: 6px;
}
#footer #footer-fnavi ul li.category ul li a,
#footer #footer-fnavi ul li.category ul li a:hover {
	font-weight: normal;
	font-size: 83.3%;
	border-bottom: 0;
	color: #cccccc;
}
#footer #footer-fnavi ul li.category ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid #cccccc;
}
#footer #footer-fnavi ul li.category ul li ul {
	margin-top: 6px;
	padding: 6px 0 2px;
	background: url(../images/fline_dot-gray.gif) left top no-repeat;
	border-top: 0;
}
#footer #footer-fnavi ul li.category ul li ul li {
	padding-left: 13px;
}
#footer #footer-fnavi ul li.category ul li ul li.btm {
	padding-bottom: 10px;
}
#footer #footer-fnavi ul li.category ul li ul li a {
	padding: 0 0 0 7px;
	background: url(../images/ficon_dot.gif) left top no-repeat;
}

/* mark */
#footer #footer-fnavi .inner .p-mark {
	position: absolute;
	bottom: 0;
/*	right: 89px;	*/
	right: 128px;

}
#footer #footer-fnavi .inner .iso-mark {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* category */
#footer #footer-fnavi ul.fnvi1 {
	margin-right: 20px;
}
#footer #footer-fnavi ul li.category.exclusive {
	margin-right: 20px;
}
#footer #footer-fnavi ul li.category.vps,
#footer #footer-fnavi ul li.category.datacenter {
	margin-bottom: 8px;
}
#footer #footer-fnavi ul li.category.support {
	margin-bottom: 0px;
	border-bottom: 0;
}
#footer #footer-fnavi ul li.category.corporate {
	border-bottom: 0;
}
#footer #footer-btm {
	background: url(../images/bg_footer.gif) left top repeat-x;
	overflow: hidden;
	*zoom:1;
}
#footer #footer-btm:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#footer #footer-btm ul {
	padding: 18px 0;
	width: 500px;
	float: left;
	font-size: 83.3%;
}
#footer #footer-btm ul li {
	display: inline;
}
#footer #footer-btm ul li a {
	margin-right: 12px;
	padding: 0 0 0 7px;
	text-decoration: none;
	background: url(../images/icon_footer-link.gif) left 3px no-repeat;
}
#footer #footer-btm ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid #cccccc;
}
#footer #footer-btm #copyright {
	padding: 18px 0;
	width: 300px;
	float: right;
	text-align: right;
	font-size: 83.3%;
}

