@charset "utf-8";

/* ----------------
 HEADER
---------------- */

#header #header-top .inner,
#header #header-gnavi .inner,
#contents #contents-inner {
	margin: 0 auto;
	width: 960px;
}
#contents #contents-inner {
	margin-bottom: 100px;
}

/* ウィンドウ幅いっぱいのレイアウト用 */
/* このクラスを 横幅いっぱいではない方に。 ※元の#contents-innerは削除する。 */
.contents-inner-not100 {
	margin: 0 auto;
	width: 960px;
}

#header {
	width: 100%;
	/* reset style */
	float: none;
	height: auto;
}
#header #header-top .inner:after,
#header #header-gnavi .inner:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#header #header-top {
	padding-bottom: 1px;
	background: url(../images/bg_header.gif) left bottom repeat-x;
}
#header #site-logo {
	width: 200px;
	float: left;
}
#header ul:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#header ul li {
	line-height: 1;
}
#header ul li {
	float: left;
	line-height: 1;
	display: inline;
}
#header #header-top #hnavi {
	margin-top: 16px;
	width: 690px;
	overflow: hidden;
	float: right;
}
#header #header-top #hnavi ul {
}
#header #header-top #hnavi ul li {
	margin-right: 10px;
}
#header #header-top #hnavi ul li.service {
}
#header #header-top #hnavi ul li.support {
}
#header #header-top #hnavi ul li.corporat {
}
#header #header-top #hnavi ul li.recruit {
}
#header #header-top #hnavi ul li.member-login {
}
#header #header-top #hnavi ul li.sitemap {
}
#header #header-top #hnavi ul li.sitenavi {
	margin-right: 0;
	width: 150px;
	overflow: hidden;
}
#header #header-top #hnavi ul li.sitenavi #hsearch_box {
	position: relative;
	background: url(../images/hbg_search.gif) left top no-repeat;
}
#header #header-top #hnavi ul li.sitenavi #hsearch_box:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#header #header-top #hnavi ul li.sitenavi #hsearch_box .hsearch_placeholder {
	display: none;
}
#header #header-top #hnavi ul li.sitenavi #hsearch_box #hsearch_caption {
	display: block;
}
#header #header-top #hnavi ul li.sitenavi #hsearch_box #hsearch_caption input {
	padding: 5px 8px;
	width: 120px;
	border: 0;
	background: none;
}
#header #header-top #hnavi ul li.sitenavi #hsearch_box .hsearch_btnbox {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}
#header #header-gnavi {
	background: url(../images/bg_gnavi.gif) left bottom repeat-x;
}
#header #header-gnavi ul li a {
	display: block;
	height: 40px;
	text-indent: -999em;
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
}
#header #header-gnavi ul li a.current {
	background-position: left bottom;
}
#header #header-gnavi ul li a:hover,
#header #header-gnavi ul li.active a {
	background-position: left -40px;
}
#header #header-gnavi ul li.rental a {
	width: 137px;
	background-image: url(../images/gnavi_rental.gif);
}
#header #header-gnavi ul li.vps a {
	width: 137px;
	background-image: url(../images/gnavi_vps.gif);
}
#header #header-gnavi ul li.cloud a {
	width: 137px;
	background-image: url(../images/gnavi_cloud.gif);
}
#header #header-gnavi ul li.exclusive a {
	width: 137px;
	background-image: url(../images/gnavi_exclusive.gif);
}
#header #header-gnavi ul li.datacenter a {
	width: 137px;
	background-image: url(../images/gnavi_datacenter.gif);
}
#header #header-gnavi ul li.services a {
	width: 137px;
	background-image: url(../images/gnavi_services.gif);
}
#header #header-gnavi ul li.apply a {
	width: 138px;
	background-image: url(../images/gnavi_apply.gif);
}
/* (corporate) */
#header #header-gnavi ul li.corporate-corp a {
	width: 240px;
	background-image: url(../images/gnavi_corporate-corp.gif);
}
#header #header-gnavi ul li.corporate-services a {
	width: 240px;
	background-image: url(../images/gnavi_corporate-services.gif);
}
#header #header-gnavi ul li.corporate-ir a {
	width: 240px;
	background-image: url(../images/gnavi_corporate-ir.gif);
}
#header #header-gnavi ul li.corporate-recruit a {
	width: 240px;
	background-image: url(../images/gnavi_corporate-recruit.gif);
}

/* ----------------
 JSOFF
---------------- */

#jsoff {
	background: #000;
	color: #fff;
	height: 50px;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
}
#jsoff img {
	margin-right: 8px;
	vertical-align: middle;
	margin-top: -5px;
}
