@charset "utf-8";

/* --------------------
 TAX
-------------------- */
#index .taxBan{
	text-align: center;
	/* margin-top: -20px; */
	margin: -20px auto 50px auto;
	width: 960px;
}
#index .taxBan:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}


.clear{clear: both;}

/* --------------------
 UPPER
-------------------- */

#index #upper {
	height: 35px;
	border-bottom: none;
}
#index #upper h1 {
	margin-top: 7px;
	color: #666;
	font-size: 14px;
	float: right;
}
#index #upper .ctrl_btn{
	float: right;
	margin-left: 12px;
	padding-top: 12px;
}
#index #upper .ctrl_btn:hover {
	opacity:0.7;
}

/* --------------------
 BILLBOARDバナー用
-------------------- */
#billboard {
	background:#f8dd42;
	height: 240px;
}
.c_bill_wrap_01{width: 960px; margin-left: auto; margin-right: auto;height: 240px;}
.c_bill_01{float: left; width: 230px; background: url(../images/index/bg_hd_btn_01.jpg) no-repeat top left; height: 179px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#cdcdcd, direction=180, strength=3, enabled=true); /* <=IE8 */
	box-shadow:0px 3px 6px 0px #cdcdcd;
}
.c_bill_01 img.apply{padding-left:20px; padding-top: 95px;}
.c_bill_01 p{padding-left:21px; padding-top:6px;}
.c_bill_01 p a{text-decoration:underline;}
.c_bill_01 p a:hover{text-decoration:none;}
.c_bill_02{float: right; width: 700px; padding-top: 0px;}
.c_bill_03{margin-bottom: 0; padding-bottom: 0px}
/*.c_bill_04{background: url(../images/index/hd_price_01.png) left top no-repeat; width: 668px; height: 75px;}*/
.c_bill_05      {padding-left: 370px; padding-top: 20px;}
.c_bill_05 a:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}
/*.c_bill_06{margin-bottom: 6px;}*/

.c_bill_news_01{
	/*margin-top: 10px;*/
	padding: 2px;
	}

.c_bill_news_02{background: url(../images/index/hd_icon_new.gif) 6px 5px no-repeat; padding: 6px 12px 6px 64px;}
.c_bill_news_03{font-weight: bold !important;}

#index #billboard .news03 {}


/* --------------------
 BILLBOARD
-------------------- */
/*--
#billboard {
	background: url(../images/index/hd_bg_01.jpg) repeat-x top;
	height: 220px;
}
.c_bill_wrap_01{width: 960px; margin-left: auto; margin-right: auto; background: url(../images/index/hd_bg_02.png) no-repeat right; height: 220px;}
.c_bill_01{float: left; width: 230px; background: url(../images/index/bg_hd_btn_01.jpg) no-repeat top left; height: 179px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#cdcdcd, direction=180, strength=3, enabled=true); --*//* <=IE8 */
/*--	box-shadow:0px 3px 6px 0px #cdcdcd;
}
.c_bill_01 img.apply{padding-left:20px; padding-top: 95px;}
.c_bill_01 p{padding-left:28px; padding-top:6px;}
.c_bill_01 p a{text-decoration:underline;}
.c_bill_01 p a:hover{text-decoration:none;}
.c_bill_02{float: right; width: 700px; padding-top: 15px;}
.c_bill_03{margin-bottom: 0; padding-bottom: 7px}
.c_bill_04{background: url(../images/index/hd_price_01.png) left top no-repeat; width: 668px; height: 75px;}
.c_bill_05      {padding-left: 370px; padding-top: 20px;}
.c_bill_05 a:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}
.c_bill_06{margin-bottom: 9px;}
.c_bill_news_01{background: #eeeeee; border: 1px solid #e5e5e5;}
.c_bill_news_02{background: url(../images/index/hd_icon_new.gif) 6px 5px no-repeat; padding: 6px 12px 6px 64px;}
.c_bill_news_03{font-weight: bold !important;}

#index #billboard .news03 {}
--*/



/* --------------------
 HEAD ITEM 　160518wrote
-------------------- */

.head_item{
	background:#444444;
	padding:5px 0;
	height:40px;
}

.header-intro-copy{
	text-align: right;
	font-size: 11px;
	color: #999;
	padding: 8px 0;
	font-weight: normal;
	line-height:12px;
	margin:3px 0;
}

.in_area{
	width:960px;
	margin:0 auto;
	padding:0;
}

.in_area ul{
	float:right;
	margin:0;
}

.in_area li{
	margin-left:15px;
	padding:0;
}

.btn_cplogin{
	display: inline-block;
	text-align: center;
}

.btn_cplogin a{
   	color: #fff;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none !important;
	background:url(../images/index/icon_control-panel.png) right 8px no-repeat;
	padding:10px 35px 10px 25px;
	line-height:3;
	border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
}

.btn_cplogin a:hover{
	color:#FFA133;
}

.btn_rantal-sever-apply{
    	position: relative;
    	display: inline-block;
	text-align: center;
}

.btn_rantal-sever-apply a{
   	color: #fff;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none !important;
	padding:10px 30px 10px 25px;
	background:#FFA133;
	line-height:3;
	border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
}


.btn_rantal-sever-apply a:hover{
	background-color: #F9830E;
}

.btn_rantal-sever-apply a::after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	width: 4px;
	height: 4px;
	margin: -4px 0 0 0;
	border-top: solid 1px #FFF;
	border-right: solid 1px #FFF;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 50% 50% 0px;
	-ms-transform-origin: 50% 50% 0px;
	transform-origin: 50% 50% 0px;
}


.head_logo{
	float:left;
}


/* --------------------
 top-banner 160518wrote
-------------------- */

.top-banner{
	width:100%;
	height:240px;
	overflow:hidden;
	text-align:center;
	display:none;
}

.banner-slide{
	width:970px;
	margin:0 auto;
}

.banner-slide li{
	margin:0 5px;
}

.banner-slide img:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "alpha(opacity=50)";
}

div.slick-list{
	overflow:visible;
}

.slick-prev,.slick-next{
	z-index:999;
}

/* --------------------
 BEGINNER　151211wrote
-------------------- */

#beginner{
	width:960px;
	margin:0;
	padding:0;
}

#beginner div.content{
	float:left;
	width:230px;
	margin:5px;
	padding:0;
}

#beginner .title{
	color:#6699cc;
	font-weight:bold;
	font-size:15px;
	padding:8px 0;
}

#beginner .content_text{
	line-height:150%;
}

#beginner img:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}


/* --------------------
 NEW PLAN　151211wrote
-------------------- */

#plan_menu{
	width: 960px;
	height:674p;
}

#plan_menu .title{
	margin:0;
	padding:0;
	height:82px;
}

#plan_menu .content{
	padding:5px 15px;
	text-align:center;
}

#plan_menu .content_text{
	height:55px;
	text-align:left;
}

#plan_menu .function{
	margin-top:10px;
	padding:0 5px;
	text-align:center;
}

#plan_menu .price{
	height:92px;
}

#plan_lite,#plan_standard,#plan_premium,#plan_business,#plan_pro{
 	float:left;
	height:704px;
}
#plan_lite{
 	width:192px;
	background: url(../images/index/bg_lite.png) no-repeat left;	
}
#plan_standard{
 	width:192px;
	background: url(../images/index/bg_standard.png) no-repeat left;	 
}
#plan_premium{
 	width:192px;
	background: url(../images/index/bg_premium.png) no-repeat left;
}
#plan_business{
 	width:191px;
	background: url(../images/index/bg_business.png) no-repeat left;
}
#plan_pro{
 	width:193px;
	background: url(../images/index/bg_pro.png) no-repeat left;
}

#plan_menu img:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

#plan_menu dl{
	clear:both;
	padding:0;
	width:140px;
}

#plan_menu dt{
	float:left;
	clear:both;
	text-align:right;
	width:40px;
}
#plan_menu dl.lite dt{
	width:55px;
}

#plan_menu dt div.box_a{
	position:relative;
	height:30px;
}

#plan_menu dt div.box_b{
	position:absolute;;
	bottom:0;
	right:0;
}

#plan_menu dd{
	text-align:right;
	width:100px;
	float:left;
}

#plan_menu dl.lite dd{
	width:80px;
}

#plan_menu hr{
	clear:both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
    
#plan_menu .btn_apply{
	margin-top:0;
}

#plan_menu .p01{
	font-size:26px;
	font-weight:bold;
}

#plan_menu .p02{
	font-weight:bold;
	font-size:26px;
	color:#ff6600;
}

#plan_menu li{
	padding:5px;
	border-bottom:1px dotted #666666;
}

#plan_menu li.last{
	border:none;
}


/* --------------------
旧NEW PLAN

.plan_btn {
    position: relative;
	width: 960px;

}
.btn_1 {
    position: absolute;
		left: 15px;
    top: 235px;
}

.btn_2 {
    position: absolute;
		left: 207px;
    top: 235px;
}

.btn_3 {
    position: absolute;
		left: 399px;
    top: 235px;
}

.btn_4 {
    position: absolute;
		left: 591px;
    top: 235px;
}

.btn_5 {
    position: absolute;
		left: 783px;
    top: 235px;
}
-------------------- */


/* --------------------
 PLAN
-------------------- */
#c_plan_btn{
	margin: 0 auto;
	padding: 7px 0;
	width: 960px;
	text-align: right;
}
#c_plan_btn:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}
#c_plan{
	width: 960px;
	height: 674px; /* for cube*/
	padding-bottom: 0px¥9; /* for IE9 */
	margin-left: auto;
	margin-right: auto;
	background: #ffffff; /*  #e5e5e5; */
	border-radius: 3px;
	margin-bottom: 20px;
	margin-top: 10px;
}
#c_plan, x:-moz-any-link, x:default {
	padding-bottom: 2px;
}/* for FF */

/*
#c_plan > div{
	padding: 7px;
}
*/


#c_plan .plan01M{float: left; height: 417px}
#c_plan .plan02M{float: left; height: 417px}
#c_plan .plan03M{float: left; height: 417px}
#c_plan .plan04M{float: left; height: 417px}
#c_plan .plan05M{float: left; height: 417px}

#c_plan .plan01Y{float: left; height: 417px}
#c_plan .plan02Y{float: left; height: 417px}
#c_plan .plan03Y{float: left; height: 417px}
#c_plan .plan04Y{float: left; height: 417px}
#c_plan .plan05Y{float: left; height: 417px}

/* plan 01 */
#c_plan .plan01M{
	background:
				url(../images/index/plan_01_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_01_bg_02.jpg) left repeat-y;
	width: 189px;
}
#c_plan .plan01Y{
	background: url(../images/index/plan_01_bg_01y.jpg) left top no-repeat,
				url(../images/index/plan_01_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_01_bg_02.jpg) left repeat-y;
	width: 189px;
}

/* plan 02 */
#c_plan .plan02M{
	background: url(../images/index/plan_02_bg_01.jpg) left top no-repeat,
				url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_02_bg_02.jpg) left repeat-y;
	width: 189px;
}
#c_plan .plan02Y{
	background: url(../images/index/plan_02_bg_01y.jpg) left top no-repeat,
				url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_02_bg_02.jpg) left repeat-y;
	width: 189px;
}

/* plan 03 */
#c_plan .plan03M{
	background: url(../images/index/plan_03_bg_01.jpg) left top no-repeat,
				url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_02_bg_02.jpg) left repeat-y;
	width: 189px;
}
#c_plan .plan03Y{
	background: url(../images/index/plan_03_bg_01y.jpg) left top no-repeat,
				url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_02_bg_02.jpg) left repeat-y;
	width: 189px;
}

/* plan 04 */
#c_plan .plan04M{
	background: url(../images/index/plan_04_bg_01.jpg) left top no-repeat,
				url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_02_bg_02.jpg) left repeat-y;
	width: 189px;
}
#c_plan .plan04Y{
	background: url(../images/index/plan_04_bg_01y.jpg) left top no-repeat,
				url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_02_bg_02.jpg) left repeat-y;
	width: 189px;
}

/* plan 05 */
#c_plan .plan05M{
	background: url(../images/index/plan_05_bg_01.jpg) left top no-repeat,
				url(../images/index/plan_05_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_05_bg_02.jpg) left repeat-y;
	width: 190px;
}
#c_plan .plan05Y{
	background: url(../images/index/plan_05_bg_01y.jpg) left top no-repeat,
				url(../images/index/plan_05_bg_03.jpg) left bottom no-repeat,
				url(../images/index/plan_05_bg_02.jpg) left repeat-y;
	width: 190px;
}
#c_plan .c_plan_btn{
	padding-top: 99px;
}
.c_plan_detail{
	padding: 10px 19px 19px 19px;
}

/* 容量 */
.c_plan_detail .c_plan_capacity{
	border-bottom: 1px solid #dadada;
	margin-bottom: 7px;
}
.c_plan_detail .c_plan_capacity > div:nth-of-type(1){font-size: 12px; float: left; padding-top: 10px;}
.c_plan_detail .c_plan_capacity > div:nth-of-type(2){float: right;}
.c_plan_detail .c_plan_capacity > div:nth-of-type(2) span:nth-of-type(1){font-size: 24px; font-weight: bold; letter-spacing: -2.5px}
.c_plan_detail .c_plan_capacity > div:nth-of-type(2) span:nth-of-type(2){font-size: 12px;}

/* 月額換算（月ごと払い） */
.c_plan_detail .c_plan_price-m{border-bottom: 2px solid #fe8a00;}
.c_plan_detail .c_plan_price-m > div:nth-of-type(1){font-size: 12px; float: left; padding-top: 14px;}
.c_plan_detail .c_plan_price-m > div:nth-of-type(2){float: right;}
.c_plan_detail .c_plan_price-m > div:nth-of-type(2) span:nth-of-type(1){font-size: 32px; line-height: 1.2; color: #fe8a00; font-weight: bold; letter-spacing: -2.5px}
.c_plan_detail .c_plan_price-m > div:nth-of-type(2) span:nth-of-type(2){font-size: 12px; color: #fe8a00;}

/* 月額換算（年一括払い） */
.c_plan_detail .c_plan_price-ym{border-bottom: 2px solid #ff4c00;}
.c_plan_detail .c_plan_price-ym > div:nth-of-type(1){font-size: 12px; float: left; padding-top: 14px;}
.c_plan_detail .c_plan_price-ym > div:nth-of-type(2){float: right; color: #ff4c00;}
.c_plan_detail .c_plan_price-ym > div:nth-of-type(2) .pYM01{font-size: 12px;}
.c_plan_detail .c_plan_price-ym > div:nth-of-type(2) .pYM02{font-size: 32px; line-height: 1.2; font-weight: bold; letter-spacing: -2.5px}
.c_plan_detail .c_plan_price-ym > div:nth-of-type(2) .pYM03{font-size: 12px;}

.c_plan_detail .c_planLite-ym01{border-bottom: 2px solid #fe8a00 !important;}
.c_plan_detail .c_planLite-ym02{color: #fe8a00 !important;}


/* 年額 */
.c_plan_detail .c_planLite-ym00{padding-top: 4px;}
.c_plan_detail .c_planLite-ym00 > div:nth-of-type(1) {float: left;}
.c_plan_detail .c_planLite-ym00 > div:nth-of-type(2) {float: right;}
.c_plan_detail .c_planLite-ym00 > div:nth-of-type(2) span:nth-of-type(1){font-size: 12px; color: #fe8a00;}
.c_plan_detail .c_planLite-ym00 > div:nth-of-type(2) span:nth-of-type(2){font-size: 33px; line-height: 1.2; color: #fe8a00; font-weight: bold; letter-spacing: -2px}
.c_plan_detail .c_planLite-ym00 > div:nth-of-type(2) span:nth-of-type(3){font-size: 12px; color: #fe8a00;}



/* コメント */
.c_plan_detail .c_plan_comment{padding-top: 7px; height: 50px;}

/* 一覧へボタン */
.c_plan_detail .c_plan_list-btn {
	position: absolute;
	bottom: 40px;
	left: 19px;
}
.c_plan_detail .c_plan_list-btn a:hover {
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* お試し */
.c_plan_detail .c_plan_trial {
	position: absolute;
	bottom: 15px;
	left: 20px;
	background:
		url(../images/index/plan_icon_arrow.gif)
		14px 7px
		no-repeat;
	padding-left: 20px;
	text-decoration: underline;
}
.c_plan_detail .c_plan_trial:hover{
	text-decoration: none;
}

#c_plan .c_plan_no1_parent{position: relative;}
#c_plan .c_plan_no1       {position: absolute; left: 98px; top: -3px;}


/* --------------------
 MAIL & DOMAIN & MANAGED SERVER
-------------------- */
#c_mdm_wrap{clear: both; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto; width: 960px;}

/* --------------------
 MAIL & DOMAIN
-------------------- */
#c_md{float: left; width: 470px; height: 355px; background: #e5e5e5; border-radius: 3px;}
#c_md > section{border: solid 1px #dadada; border-radius: 3px; background: #fff; margin: 7px; height: 339px;}

/*　----- mail -----　*/
#c_mail{
	float: left;
	width: 228px;
	background: #fff;
	border-right: 1px solid #dadada;
	height: 100%;
}
#c_mail h1{
	font-size: 18px;
	line-height: 1.2;
	background: url(../images/index/mail_icon_01.jpg) 11px 15px no-repeat;
	padding: 18px 0px 12px 80px;
	border-bottom: 1px solid #dadada;
	margin: 0;
}
#c_mail #c_mail_pad{padding: 14px 18px 14px 18px;}

/* 月額換算 */
#c_mail .c_mail_price-ym{border-bottom: 2px solid #fe8a00;}
#c_mail .c_mail_price-ym > div:nth-of-type(1){font-size: 12px; float: left; padding-top: 14px;}
#c_mail .c_mail_price-ym > div:nth-of-type(2) {float: right;}
#c_mail .c_mail_price-ym > div:nth-of-type(2) span:nth-of-type(1){font-size: 12px; color: #fe8a00;}
#c_mail .c_mail_price-ym > div:nth-of-type(2) span:nth-of-type(2){font-size: 33px; line-height: 1.2; color: #fe8a00; font-weight: bold; letter-spacing: -2px}
#c_mail .c_mail_price-ym > div:nth-of-type(2) span:nth-of-type(3){font-size: 12px; color: #fe8a00;}

/* 年額 */
#c_mail .c_mail_price-y{padding-top: 4px;}
#c_mail .c_mail_price-y > div:nth-of-type(1) {float: left;}
#c_mail .c_mail_price-y > div:nth-of-type(2) {float: right;}
#c_mail .c_mail_price-y > div:nth-of-type(2) span:nth-of-type(1){font-size: 12px; color: #fe8a00;}
#c_mail .c_mail_price-y > div:nth-of-type(2) span:nth-of-type(2){font-size: 33px; line-height: 1.2; color: #fe8a00; font-weight: bold; letter-spacing: -2px}
#c_mail .c_mail_price-y > div:nth-of-type(2) span:nth-of-type(3){font-size: 12px; color: #fe8a00;}

/* コメント */
#c_mail .c_mail_comment{padding: 15px 0px 0px 0px; height: 93px;}
#c_mail .c_mail_comment a      {text-decoration: underline;}
#c_mail .c_mail_comment a:hover{text-decoration: none;}

/* 詳細へボタン */
#c_mail .c_mail_to-detail{text-align: center; padding-bottom: 10px;}
#c_mail .c_mail_to-detail a:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* お試し */
#c_mail .c_mail_trial{
	background: url(../images/index/plan_icon_arrow.gif) 34px 7px no-repeat;
	padding-left: 40px; text-decoration: underline;
}
#c_mail .c_mail_trial:hover{text-decoration: none;}

/*　----- domain -----　*/
#c_domain{
	float: right;
	width: 225px;
	background: #fff;
}
#c_domain h1{
	font-size: 18px;
	line-height: 1.2;
	background: url(../images/index/domain_icon_01.jpg) 16px 20px no-repeat;
	padding: 18px 0px 12px 80px;
	border-bottom: 1px solid #dadada;
	margin: 0;
}
#c_domain #c_domain_pad{padding: 14px 18px 14px 18px;}

/* 月額換算 */
#c_domain .c_domain_price-ym{border-bottom: 2px solid #fe8a00;}
#c_domain .c_domain_price-ym > div:nth-of-type(1){font-size: 12px; float: left; padding-top: 14px;}
#c_domain .c_domain_price-ym > div:nth-of-type(2) {float: right;}
#c_domain .c_domain_price-ym > div:nth-of-type(2) span:nth-of-type(1){font-size: 12px; color: #fe8a00;}
#c_domain .c_domain_price-ym > div:nth-of-type(2) span:nth-of-type(2){font-size: 33px; line-height: 1.2; color: #fe8a00; font-weight: bold; letter-spacing: -2px}
#c_domain .c_domain_price-ym > div:nth-of-type(2) span:nth-of-type(3){font-size: 12px; color: #fe8a00;}


/* 年額 */
#c_domain .c_domain_price-y{padding-top: 4px;}
#c_domain .c_domain_price-y > div:nth-of-type(1) {float: left;}
#c_domain .c_domain_price-y > div:nth-of-type(2) {float: right;}
#c_domain .c_domain_price-y > div:nth-of-type(2) span:nth-of-type(1){font-size: 12px; color: #fe8a00;}
#c_domain .c_domain_price-y > div:nth-of-type(2) span:nth-of-type(2){font-size: 33px; line-height: 1.2; color: #fe8a00; font-weight: bold; letter-spacing: -2px}
#c_domain .c_domain_price-y > div:nth-of-type(2) span:nth-of-type(3){font-size: 12px; color: #fe8a00;}


/* コメント */
#c_domain .c_domain_comment{padding: 15px 0px 0px 0px; height: 93px;}
#c_domain .c_domain_comment a      {text-decoration: underline;}
#c_domain .c_domain_comment a:hover{text-decoration: none;}

/* 詳細へボタン */
#c_domain .c_domain_to-detail{text-align: center;}
#c_domain .c_domain_to-detail a:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* --------------------
 MANAGED SERVER
-------------------- */
#c_managed{
	float: right;
	width: 470px;
	height: 355px;
	border-radius: 3px;
	background: #e5e5e5;
}
#c_managed > section{
	position: relative;
	margin: 7px;
	height: 339px;
	border: solid 1px #dadada;
	border-radius: 3px;
	background: #fffeee;
}
#c_managed h1{
	margin: 0;
}
#c_managed h1 img:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}
#c_managed div {
	position: absolute;
	top: 90px;
	left: 265px;
	width: 171px;
	height: 74px;
	background: url(/images/index/managed_elm02.png) no-repeat bottom;
	color: #fe7800;
	text-align: right;
	font-weight: bold;
}
#c_managed div span {
	font-size: 30px;
}
#c_managed small {
	display: block;
	position: absolute;
	top: 135px;
	right: 18px;
	font-size: 10px;
	font-weight: bold;
}
#c_managed figure:first-of-type {
	position: absolute;
	left: 18px;
	top: 86px;
}
#c_managed figure:last-of-type {
	position: absolute;
	left: 18px;
	top: 172px;
}
#c_managed p:first-of-type {
	position: absolute;
	left: 18px;
	top: 247px;
	background: url(/images/index/managed_icon_new.png) no-repeat;
	padding-left: 55px;
}
#c_managed p:nth-of-type(2) {
	position: absolute;
	left: 18px;
	top: 282px;
	font-size: 14px;
	text-indent: -8px;
	padding-left: 8px;
}
#c_managed p:nth-of-type(2) a {
	text-decoration: underline;
}
#c_managed p:nth-of-type(2) a:hover {
	text-decoration: none;
}
#c_managed p:nth-of-type(3) {
	position: absolute;
	left: 200px;
	top: 282px;
}
#c_managed p:nth-of-type(3) a:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
}


/* └ 円～ */
#c_managed .cmanaged_price .cmanaged_price_ic > div:nth-of-type(2) span:nth-of-type(2){color: #fe8a00; font-weight: bold;}

/* └ いくらいくら */
#c_managed .cmanaged_price .cmanaged_price_m > div:nth-of-type(2) span:nth-of-type(1){font-size: 33px; line-height: 1.2; color: #fe8a00; font-weight: bold; letter-spacing: -2px}
/* └ 円～ */
#c_managed .cmanaged_price .cmanaged_price_m > div:nth-of-type(2) span:nth-of-type(2){color: #fe8a00; font-weight: bold;}


/* --------------------
 FIRST RENTAL & CHANGE
-------------------- */
#fcWrap{clear: both; width: 960px; margin-left: auto; margin-right: auto; padding-top: 20px; margin-bottom: 40px;}

/* --------------------
 FIRST RENTAL
-------------------- */
#first{clear: both; float: left; width: 466px; border: 2px solid #dadada; background: #fff;}
#first h1{border-bottom: 1px solid #dadada; padding: 9px; margin: 0 0 14px 0;}
#first .link{float: left; width: 290px; padding-right: 10px;}
#first .link li{background: url(../images/index/plan_icon_arrow.gif) 12px 7px no-repeat; padding-left: 21px; text-decoration: underline; padding-bottom: 5px;}
#first .link li:hover{text-decoration: none;}
#first .toDetail{float: left; height: 56px;}
#first .toDetail:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* --------------------
 CHANGE
-------------------- */
#change{float: right; width: 466px; border: 2px solid #dadada; background: #fff;}
#change h1{border-bottom: 1px solid #dadada; padding: 9px; margin: 0 0 14px 0;}
#change .link{float: left; width: 290px; padding-right: 10px;}
#change .link li{
	background:url(../images/index/plan_icon_arrow.gif) 12px 7px no-repeat;
	padding-left: 21px; text-decoration: underline; padding-bottom: 5px;
}
#change .link .blank{
	background:url(/resource/images/icon_outlink-9x9.gif) right center no-repeat;
	padding-right: 14px;
}
#change .link li:hover{text-decoration: none;}
#change .toDetail{float: left; height: 56px;}
#change .toDetail:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* --------------------
 TRIAL
-------------------- */
.trialWrap{clear: both; width: 960px; margin-left: auto; margin-right: auto; margin-bottom: 40px;}
.trial{background: #f9f9f9; border: 2px solid #dadada; text-align: center; padding: 21px 0;}
.trial .staff{position: absolute; right: 95px; bottom: 0px; z-index: 999;}

/* --------------------
 BACK UP(SAFETY)
-------------------- */
#index #backup h2 {
	background: url(/resource/images/bg_h2_short.gif) no-repeat left bottom;
}
#index #backup li {
	width: 300px;
	background: url(../images/index/icon_point1.png) no-repeat 0 10px;
	float: left;
	position: relative;
	margin-right: 30px;
}
#index #backup li.point2 {
	background: url(../images/index/icon_point2.png) no-repeat 0 10px;
}
#index #backup li.point3 {
	background: url(../images/index/icon_point3.png) no-repeat 0 10px;
	margin-right: 0;
}

#index #backup li h5 {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	padding: 0 0 0 130px;
	min-height: 75px
}

#index #backup li.point1 h5 {
	line-height: 20px;
}

#index #backup li.point2 h5 {
	padding-left: 100px;
}

#index #backup li.point3 h5 {
	padding-left: 64px;
}

#index #backup li h5 strong {
	font-size: 34px;
	color: #ef4d1c;
}
#index #backup li.point1 h5 strong {
	font-size: 24px;
}
#index #backup li h5 span {
	font-weight: normal;
	display: block;
	font-size: 10px;
	margin-top: -5px;
}

#index #backup li figure {
	position: absolute;
	top: 0;
	left: 58px;
}
#index #backup li.point2 figure {
	top: 5px;
	left: 52px;
}

#index #backup div {
	text-align: center;
}

/* --------------------
 SAFETY
-------------------- */
#safety{clear: both; width: 960px; margin-left: auto; margin-right: auto;}
#safety .t01{font-size: 24px; color: #fe7800; line-height: 1.4;}
#safety .p01{padding-bottom: 30px;}
#safety #safeList strong{color: #fe7800 !important;}
#safety .toDetail:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* --------------------
 CASE STUDY
-------------------- */
#casestudyWrap{clear: both; width: 960px; margin-left: auto; margin-right: auto; padding-bottom: 40px;}
#casestudyWrap h2{width: 100%;}
#index #casestudy h2 {background: url(/resource/images/bg_h2_short.gif) no-repeat left bottom;}
#index #casestudy .bx-wrapper {
	width: 800px;
	margin: 0 auto 20px;
	position: relative;
}
#index #casestudy .bx-prev,
#index #casestudy .bx-next {
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 50px;
	left: -55px;
	text-indent: -9999px;
	background: url("/images/index/icon_bxslider_prev.png") no-repeat 0 0;
}
#index #casestudy .bx-next {
	left: 820px;
	background: url("/images/index/icon_bxslider_next.png") no-repeat 0 0;
}
#index #casestudy .bx-pager {display: none;}
#index #casestudy span {
	display: block;
	text-align: center;
}
#index .lightbox-content h1 {
	margin: 8px 0 5px;
	line-height: 0.7;
	padding-left: 12px;
}
#index .lightbox-content h1 a {
	font-size: 14px;
	color: #1e1e1e;
	font-weight: bold;
}
#index .lightbox-content p a {color: #808080;}

#index .lightbox-content h1 a:hover,
#index .lightbox-content p a:hover {
	color: #568CC5;
	text-decoration: underline;
}
#index .lightbox-content h1,
#index .lightbox-content p {padding: 0 20px;}
#index .lightbox-content p.case-caption {
	margin-top: 10px;
	padding-bottom: 20px;
}
#casestudy .toDetail{text-align: center;}

#casestudy .toDetail a:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* --------------------
 FUNCTION
-------------------- */

#index #function {width: 960px;}

#function .tooltip div:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}

/* 2週間無料 */
#function .box2w{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_special_trial.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .box2w span{
	font-size: 16px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 19px;
}

/* WP */
#function .boxWp{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_install_wp.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .boxWp span, #function .boxSsl span{
	font-size: 13px; font-weight: bold; color: #000; line-height: 1.1;
	display: block; padding-left: 82px; padding-top: 7px;
}
#function .boxWp small, #function .boxSsl small{	display: block;	color: #000; padding-left: 82px;}

/* SSL */
#function .boxSsl{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_ssl_own.png) 11px 9px no-repeat;
	margin-bottom: 8px;
}
#function .boxSsl sup{font-size: 9px; font-weight: normal; color: #000;}

/* Webfont */
#function .boxWebfont {
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_webfont.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .boxWebfont span{
	font-size: 14px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 22px;
}
#function .boxWebfont small{	display: block;	color: #000; padding-left: 82px;}

/* php */
#function .boxPhp{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_php.png) 11px 9px no-repeat;
	margin-bottom: 8px;
	margin-right: 16px;
}
#function .boxPhp span{
	font-size: 15px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 32px;
}

/* ドメイン */
#function .boxDmain{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_domain_multi.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .boxDmain span{
	font-size: 16px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 19px;
}

/* 共有SSL */
#function .boxSslshare{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_ssl_share.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .boxSslshare span{
	font-size: 16px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 22px;
}
/* RAID */
#function .boxRaid{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_raid.png) 11px 9px no-repeat;
	margin-bottom: 8px;
}
#function .boxRaid span{
	font-size: 14px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 22px;
}
/* 独自ドメイン */
#function .boxDomainoriginal{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_domain_original.png) 11px 9px no-repeat;
	margin-bottom: 8px;  margin-right: 16px;
}
#function .boxDomainoriginal span{
	font-size: 13px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 22px;
}

/* MySQL */
#function .boxMysql{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_db_mysql.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .boxMysql span{
	font-size: 15px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 19px;
}
#function .boxMysql sup{font-size: 9px; font-weight: normal; color: #000;}

/* Mail list */
#function .boxMaillist{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_mail_ml.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .boxMaillist span{
	font-size: 15px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 32px;
}
#function .boxMaillist sup{font-size: 9px; font-weight: normal; color: #000;}

/* Mail list */
#function .boxMailvirus{
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_mail_virus.png) 11px 9px no-repeat;
	margin-bottom: 8px;
}
#function .boxMailvirus span{
	font-size: 15px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 22px;
}

/* Groupware */
#function .boxGroupware {
	float: left; width: 226px; height: 81px; border:1px solid #acacac;
	background: url(/images/index/icon_function_groupware.png) 11px 9px no-repeat;
	margin-bottom: 8px; margin-right: 16px;
}
#function .boxGroupware span{
	font-size: 16px; font-weight: bold; color: #000;
	display: block; padding-left: 82px; padding-top: 19px;
}

/* --------------------
 MEMBER
-------------------- */
#index aside .member {
	margin-top: 0;
	width: 180px;
}

/* for tooltip (INDEX)--------------------------------

	/resource/css/common.css を元にトップページにのみ反映

--------------------------------------------------  */
#index .tooltipContent {
	width: 240px;
}
#index .tooltipContent .inner {
	position: relative;
	padding: 0 2px 0 0;
	border: 0;
	border-bottom: none;
	background: #808080;
}
#index .tooltipContent .inner .close {
	position: absolute;
	top: -12px;
	right: -10px;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	background: url(/resource/js/tooltip_close_index.png) 0 0 no-repeat;
	_background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/js/tooltip_close_index.png", sizingMethod="image");
	cursor: pointer;
}
#index .tooltipContent .inner .content {
	color: #fff;
	font-weight: bold;
	padding: 16px 16px 5px;
	background: #f09324;
}
#index .tooltipContent .footer {
	width: 240px;
	height: 23px;
	background: url(/resource/js/tooltip_bg_index.png) 0 bottom no-repeat;
	_background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/js/tooltip_bg_index.png", sizingMethod="image");
}










/*sec_Cube
------------------------------*/
.sec_price {
	padding: 40px 0 60px;
	border-bottom: 1px solid #dce4e4;
}

.sec_price .price_para_table {
	margin-bottom: 40px;
}

.sec_price .price_para_table p.notes {
	font-size: 12px;
	text-align: right;
}

.sec_price .price_para_table .tr {
	float: left;
	text-align: center;
}

.sec_price .price_para_table .tr.col_01 {
	width: 124px;
	margin-right: 3px;
	font-size: 14px;
	letter-spacing: -1px;
}

.sec_price .price_para_table .tr.col_01 span.notes {
	font-size: 12px;
}

.sec_price .price_para_table .tr.col_02 {
	width: 190px;
}

.sec_price .price_para_table .tr.col_03 {
	width: 190px;
	border-right: 1px solid #e5e5e5;
}

.sec_price .price_para_table .tr.col_04 {
	width: 190px;
}

.sec_price .price_para_table .tr.col_05 {
	width: 190px;
	margin-right: 3px;
}

.sec_price .price_para_table .tr.col_06 {
	width: 190px;
	margin-right: 3px;
}

.sec_price .price_para_table .tr.col_07 {
	width: 190px;
	margin-right: 3px;
}

.sec_price .price_para_table .tr.col_08 {
	width: 116px;
}

.sec_price .price_para_table .tr .th,
.sec_price .price_para_table .tr .td {
	width: 100%;
	display: table;
}

.sec_price .price_para_table .tr .th .inset,
.sec_price .price_para_table .tr .td .inset {
	display: table-cell;
	vertical-align:middle;
}

.sec_price .price_para_table .tr .th {
	height: 74px;
	border-bottom: 1px solid #27848E;
	color: #fff;
	font-size: 32px;
}

.sec_price .price_para_table .tr .th.not {
	background: none;
	border-bottom: 1px solid #fff;
}

.sec_price .price_para_table .tr .th.normal {
	margin-top: 20px;
	height: 54px;
}

.sec_price .price_para_table .tr.col_02 .th {
	background: #1aadaa;
	background: -moz-linear-gradient(left, #1aadaa 0%, #18a6a7 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1aadaa), color-stop(100%,#18a6a7));
	background: -webkit-linear-gradient(left, #1aadaa 0%,#18a6a7 100%);
	background: -o-linear-gradient(left, #1aadaa 0%,#18a6a7 100%);
	background: -ms-linear-gradient(left, #1aadaa 0%,#18a6a7 100%);
	background: linear-gradient(to right, #1aadaa 0%,#18a6a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aadaa', endColorstr='#18a6a7',GradientType=1 );
}

.sec_price .price_para_table .tr.col_03 .th {
	background: #19abad;
	background: -moz-linear-gradient(left, #19abad 0%, #1aa8b0 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#19abad), color-stop(100%,#1aa8b0));
	background: -webkit-linear-gradient(left, #19abad 0%,#1aa8b0 100%);
	background: -o-linear-gradient(left, #19abad 0%,#1aa8b0 100%);
	background: -ms-linear-gradient(left, #19abad 0%,#1aa8b0 100%);
	background: linear-gradient(to right, #19abad 0%,#1aa8b0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19abad', endColorstr='#1aa8b0',GradientType=1 );
}

.sec_price .price_para_table .tr.col_04 .th {
	background: #19a8b0;
	background: -moz-linear-gradient(left, #19a8b0 0%, #18a5b5 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#19a8b0), color-stop(100%,#18a5b5));
	background: -webkit-linear-gradient(left, #19a8b0 0%,#18a5b5 100%);
	background: -o-linear-gradient(left, #19a8b0 0%,#18a5b5 100%);
	background: -ms-linear-gradient(left, #19a8b0 0%,#18a5b5 100%);
	background: linear-gradient(to right, #19a8b0 0%,#18a5b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a8b0', endColorstr='#18a5b5',GradientType=1 );
}

.sec_price .price_para_table .tr.col_05 .th {
	background: #17a0af;
	background: -moz-linear-gradient(left, #17a0af 0%, #17a1b9 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#17a0af), color-stop(100%,#17a1b9));
	background: -webkit-linear-gradient(left, #17a0af 0%,#17a1b9 100%);
	background: -o-linear-gradient(left, #17a0af 0%,#17a1b9 100%);
	background: -ms-linear-gradient(left, #17a0af 0%,#17a1b9 100%);
	background: linear-gradient(to right, #17a0af 0%,#17a1b9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a0af', endColorstr='#17a1b9',GradientType=1 );
}

.sec_price .price_para_table .tr.col_06 .th {
	background: #16a1b9;
	background: -moz-linear-gradient(left, #16a1b9 0%, #159ebe 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#16a1b9), color-stop(100%,#159ebe));
	background: -webkit-linear-gradient(left, #16a1b9 0%,#159ebe 100%);
	background: -o-linear-gradient(left, #16a1b9 0%,#159ebe 100%);
	background: -ms-linear-gradient(left, #16a1b9 0%,#159ebe 100%);
	background: linear-gradient(to right, #16a1b9 0%,#159ebe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a1b9', endColorstr='#159ebe',GradientType=1 );
}

.sec_price .price_para_table .tr.col_07 .th {
	background: #159ebe;
	background: -moz-linear-gradient(left, #159ebe 0%, #159bc1 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#159ebe), color-stop(100%,#159bc1));
	background: -webkit-linear-gradient(left, #159ebe 0%,#159bc1 100%);
	background: -o-linear-gradient(left, #159ebe 0%,#159bc1 100%);
	background: -ms-linear-gradient(left, #159ebe 0%,#159bc1 100%);
	background: linear-gradient(to right, #159ebe 0%,#159bc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#159ebe', endColorstr='#159bc1',GradientType=1 );
}

.sec_price .price_para_table .tr.col_08 .th {
	background: #159bc1;
	background: -moz-linear-gradient(left, #159bc1 0%, #1499c4 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#159bc1), color-stop(100%,#1499c4));
	background: -webkit-linear-gradient(left, #159bc1 0%,#1499c4 100%);
	background: -o-linear-gradient(left, #159bc1 0%,#1499c4 100%);
	background: -ms-linear-gradient(left, #159bc1 0%,#1499c4 100%);
	background: linear-gradient(to right, #159bc1 0%,#1499c4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#159bc1', endColorstr='#1499c4',GradientType=1 );
}

.sec_price .price_para_table .tr .u_month,
.sec_price .price_para_table .tr .u_memory,
.sec_price .price_para_table .tr .u_cpu {
	background: #f2f2f2;
}

.sec_price .price_para_table .tr .u_ini,
.sec_price .price_para_table .tr .u_disc {
	background: #f2f2f2;
}

.sec_price .price_para_table .tr .u_month {
	height: 77px;
}

.sec_price .price_para_table .tr .u_ini {
	height: 74px;
}

.sec_price .price_para_table .tr .u_memory {
	height: 56px;
}

.sec_price .price_para_table .tr .u_disc {
	height: 64px;
}

.sec_price .price_para_table .tr .u_cpu {
	height: 56px;
	border-bottom: 1px solid #d9d9d9;
}

.sec_price .price_para_table .tr.tc .td {
	font-size: 18px;
}

.sec_price .price_para_table .tr.tc .td.u_month {
	font-size: 24px;
}

.sec_price .price_para_table .tr.tc .td small {
	font-size: 14px;
}

.sec_price .price_para_table .tr.tc .td .notes {
	font-size: 12px;
}

.sec_price .price_para_table .col_set {
	position: relative;
	z-index: 5;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.sec_price .price_para_table .col_set .tr .th {
	font-size: 36px;
	border-left: 1px solid #8cd5d6;
	border-right: 1px solid #16979e;
}

.sec_price .price_para_table .col_set .col_04 .th {
	margin-left: -1px;
	border-right: 1px solid #8cd2da;
}

.sec_price .price_para_table .col_set .u_cpu {
	padding-bottom: 10px;
}

.sec_price .price_para_table .col_set .tr .u_month,
.sec_price .price_para_table .col_set .tr .u_memory,
.sec_price .price_para_table .col_set .tr .u_cpu {
	background: #fff;
}

.sec_price .price_para_table .col_set .tr .u_ini,
.sec_price .price_para_table .col_set .tr .u_disc {
	background: #f7f7f8;
}

.sec_price .link {
	text-align: center;
}

/*sec_feature
------------------------------*/
.sec_feature {
	padding: 60px 0 40px;
	background: #eaefef;
}

.sec_feature .st {
	margin-bottom: 20px;
}

.sec_feature .row .col-4 {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.sec_feature .row .col-4 .figure {
	margin-bottom: 20px;
}

.sec_feature .row .col-4 .caption {
	font-size: 28px;
}

.sec_feature .row .col-4 .caption small {
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	letter-spacing: -1px;
}

.sec_feature .link {
	text-align: center;
	margin-bottom: 60px;
}

/*sec_case
------------------------------*/
.sec_case {
	padding: 60px 0;
	border-bottom: 1px solid #dce4e4;
}

.sec_case .st {
	margin-bottom: 60px;
}

.sec_case  .link {
	margin-bottom: 60px;
	text-align: center;
}

/*sec_menu
------------------------------*/
.sec_menu {
	padding: 30px 0;
	background: #eaefef;
	border-bottom: 1px solid #dce4e4;
}

.sec_menu .st {
	margin-bottom: 25px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
}

.sec_menu .st i {
	margin: 0 4px 0 1px;
}

.sec_menu .area_contact {
}

.sec_menu .area_contact .link a {
	position: relative;
	display: block;
	width: 376px;
	color: #444;
	background: #fff;
	border: 2px solid #444;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.sec_menu .area_contact .link a:hover {
	background: #e5e5e5;
	text-decoration: none;
}

.sec_menu .area_contact .link a span {
	display: block;
	padding: 15px 0 15px 48px;
	font-size: 26px;
	line-height: 1
}

.sec_menu .area_contact .link a span small {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
}

.sec_menu .area_contact .link a i {
	position: absolute;
	right: 34px;
	top: 50%;
	margin-top: -14px;
	font-size: 28px;
}

.sec_menu .area_member ul {
	margin-left: 20px;
}

.sec_menu .area_member ul li {
	float: left;
	width: 49%;
	margin-right: 1%;
	margin-bottom: 5px;
	list-style: disc;
}

.sec_menu .area_member ul li a {
	text-decoration: underline;
	font-size: 15px;
	color: #444;
}

.sec_menu .area_member ul li a:hover {
	text-decoration: none;
}

/*sec_feed
------------------------------*/
.sec_feed {
	padding: 30px 0 35px;
	background: url(../images/index/foot_bg.png);
}

.sec_feed .area_banner {
	margin-bottom: 25px;
}

.sec_feed .st {
	margin-bottom: 15px;
	font-size: 28px;
	font-weight: bold;
	color: #000;
}

.sec_feed .st i {
	margin-right: 5px;
}

.sec_feed .area_feed ul {
	margin-bottom: 25px;
}

.sec_feed .area_feed ul li {
	margin-bottom: 5px;
	font-size: 12px;
	color: #000;
}

.sec_feed .area_feed ul li .date {
	display: block;
	float: left;
	font-size: 14px;
}

.sec_feed .area_feed ul li .title {
	display: block;
	margin-left: 90px;
}

.sec_feed .area_feed ul li .title a {
	color: #000;
	text-decoration: underline;
}

.sec_feed .area_feed ul li .title a:hover {
	text-decoration: none;
}

.sec_feed .area_feed .link a {
	display: inline-block;
	padding: 10px;
	background: #273747;
	font-size: 12px;
	color: #fff;
	line-height: 1;
}

.sec_feed .area_feed .link a:hover {
	background: #000;
	text-decoration: none;
}



/*160401 お知らせ部分の改修
------------------------------*/
#news h2.bgheader{
	width:740px;
}

#news .article-block{
	width:765px;
}

#news .article-block dl{
	padding-left:10px;
	padding-right:25px;
}
