@charset "utf-8";

/* ----------------
 WRAPPER
---------------- */

#wrapper {
	min-width: 960px;
	width: auto !important;
	width: 100%;
}

/* ----------------
 CONTENTS
---------------- */

#contents #contents-header {
	margin-bottom: 10px;
	padding: 10px 0 0 0;
	background: url(../images/line_dot-gray.gif) left bottom repeat-x;
	overflow: hidden;
	*zoom: 1;
}
#contents #contents-header:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#contents #contents-header .description {
	padding: 0 0 10px 0;
	line-height: 1;
	float: right;
	font-size: 83.3%;
	text-align: right;
	color: #999999;
}
#contents ul.bread {
	/* padding: 12px 0 15px 0; */
	padding: 0 0 10px 0;
	font-size: 83.3%;
	line-height: 1;
	float: left;
	*zoom: 1;
}
#contents ul.bread:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#contents ul.bread li {
	line-height: 1;
	display: inline;
}
#contents ul.bread li.nowpage {
		font-weight: bold;
}

#contents ul.bread li .current {
	font-weight: bold;
}

#contents ul.bread a {
	margin-right: 5px;
	text-decoration: none;
}
#contents ul.bread a:hover {
	text-decoration: none;
	border-bottom: 1px solid #568cc5;
}
#contents-foot {
	background: #444444 url(../images/bg_fbread-inner.gif) left top repeat-x;
}
#contents-foot #contents-foot-inner {
	background: transparent url(../images/bg_fbread.gif) left bottom repeat-x;
}
#contents-foot #contents-foot-inner .inner {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	*zoom:1;
}
#contents-foot #contents-foot-inner .inner:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#contents-foot #contents-foot-inner .inner .bread {
	padding: 25px 0 0 0;
	width: 800px;
	float: left;
	color: #cccccc;
}
#contents-foot #contents-foot-inner .inner .bread a,
#contents-foot #contents-foot-inner .inner .bread a:hover {
	color: #cccccc;
}
#contents-foot #contents-foot-inner .inner .bread a:hover {
	text-decoration: none;
	border-bottom: 1px solid #cccccc;
}
#contents-foot #contents-foot-inner .inner #pagetop {
	width: 120px;
	float: right;
}

/* ----------------
 MAINCONTENTS
---------------- */

#maincontents {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	*zoom: 1;
}
#maincontents:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}

/* ----------------
 RIGHT-NAVI
---------------- */

#right-navi {
	width: 180px;
	overflow: hidden;
	float: right;
}

/* ----------------
 LEFT-NAVI
---------------- */

#left-navi {
	width: 180px;
	overflow: hidden;
	float: left;
}
#left-navi .ct-navi {
	margin-bottom: 10px;
}
#left-navi .ct-navi .head a,
#left-navi .ct-navi ul li a {
	display: block;
	text-indent: -999em;
}
#left-navi .ct-navi .head a {
	width: 180px;
	height: 40px;
	overflow: hidden;
}

/* d2 */
#left-navi .ct-navi ul {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
#left-navi .ct-navi ul li {
	width: 178px;
	/* height: 39px; */
	border-bottom: 1px solid #dddddd;
}
#left-navi .ct-navi ul li a {
	width: 178px;
	height: 39px;
}

/* d3 */
#left-navi .ct-navi ul li ul {
	margin-left: 9px;
	width: 168px;
	border-top: 1px solid #dddddd;
	border-right: none;
}
#left-navi .ct-navi ul li ul li {
	width: 168px;
	border-bottom: 1px solid #dddddd;
}
#left-navi .ct-navi ul li ul li a {
	display: block;
	text-indent: -999em;
	width: 168px;
	height: 28px;
}

/* d-sub */
#left-navi .ct-navi ul li ul.sub-navi {
	padding: 7px 0;
	border: none;
}
#left-navi .ct-navi ul li ul.sub-navi li {
	border: none;
}
#left-navi .ct-navi ul li ul.sub-navi li a {
	display: block;
	padding: 3px 5px 3px 18px;
	width: 146px;
	height: auto;
	line-height: 1.2;
	color: #444444;
	font-size: 100%;
	text-indent: 0;
	background-position: 9px 0.6em !important;
	background-repeat: no-repeat;
}
#left-navi .ct-navi ul li ul.sub-navi li a:hover {
	color: #444444;
	text-decoration: none;
}

/* ----------------
 ASIDE-NAVI
---------------- */

.aside-navi { margin-top: 20px; }
.aside-navi .header {
	padding: 7px 10px 8px;
	font-weight: bold;
	color: #ffffff;
	background-color: #666666;
}
.aside-navi .body {
	padding: 0 9px;
	border: 1px solid #dddddd;
	border-top: none;
/*	background-color: #ffffff;*/
}
.aside-navi .body .head {
	padding: 8px 0;
	font-size: 83%;
	font-weight: bold;
}
.aside-navi .body ul li {
	padding-top: 1px;
	width: 160px; /* for IE */
	font-size: 100%;
	background: url(../images/line_dot-gray.gif) left top repeat-x;
}
.aside-navi .body ul li.fst {
	padding-top: 0;
	background: none;
}
.aside-navi .body ul li a {
	display: block;
	padding: 8px 0 8px 9px;
	width: 151px; /* for IE */
	line-height: 1;
	color: #444444;
	text-decoration: none;
	background: url(../images/icon_link_small.gif) left 1.1em no-repeat;
}
.aside-navi .body ul li a:hover {
	text-decoration: underline;
}
.aside-navi .body ul li a.outlink span {
	padding-right: 15px;
	background: url(../images/icon_outlink-9x9.gif) right 0.1em no-repeat;
}
.aside-navi .body .btn {
	padding: 11px 0 10px;
	text-align: center;
	background: url(../images/line_dot-gray.gif) left top repeat-x;
}

/* aside-navi apply */
#left-navi .apply { margin-top: 10px;}
.aside-navi.apply .header {
	padding: 0;
	background: none;
}
.aside-navi.apply .header .head {
	height: 50px;
	text-indent: -999em;
	background: url(../images/txt_snavi_apply.png) left top no-repeat;
}
/*
.aside-navi.apply .body{
	  margin-top:-5px;
}*/
.aside-navi.apply.callarea{	background-color:#f3f3f3; 
}
.aside-navi.apply .body p {
	padding: 8px 0 6px 0;
	font-size: 100%;
}
.aside-navi.apply .body .btn {
	padding: 0 0 10px 0;
	background: none;
}
#side .apply .callarea{
		text-indent: -999em;
}
/* aside-navi support */
#left-navi .support {
	margin-top: 10px;
}
.aside-navi.support .header {
	padding: 0;
	background: none;
}
.aside-navi.support .header .head {
	height: 50px;
	text-indent: -999em;
	background: url(../images/txt_snavi_contact.gif) left top no-repeat;
}

.aside-navi.support .body p {
	padding: 8px 0 6px 0;
	font-size: 100%;
}
.aside-navi.support .body .btn {
	padding: 0 0 10px 0;
	background: none;
}

/* aside-navi contact */
#left-navi .contact {
	margin-top: 10px;
}
.aside-navi.contact .header {
	padding: 0;
	background: none;
}
.aside-navi.contact .header .head {
	height: 50px;
	text-indent: -999em;
	background: url(../images/txt_snavi_contact.gif) left top no-repeat;
}
.aside-navi.contact .body p {
	padding: 8px 0 6px 0;
	font-size: 100%;
}
.aside-navi.contact .body .btn {
	margin-bottom: 8px;
	padding: 0 0 10px 0;
	background-position: left bottom;
}
.aside-navi.contact .body p.telephone {
	height: 54px;
	text-indent: -999em;
	background: url(../images/txt_aside-navi_telephone.gif) left top no-repeat;
}
.aside-navi.contact .body p.head {
	margin: -5px 0;
	padding: 0;
}

/* aside-navi mylist */
.aside-navi.mylist .header {
	position: relative;
	height: 15px;
}
.aside-navi.mylist .header .head {
	position: absolute;
	top: 7px;
	left: 10px;
	width: 56px;
	height: 15px;
	text-indent: -999em;
	background: url(../images/txt_snavi_mylist.gif) left top no-repeat;
}
.aside-navi.mylist .header .btn {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer; /* for IE */
}

/* aside-navi member */
.aside-navi.member .header .head {
	height: 15px;
	text-indent: -999em;
	background: url(../images/txt_snavi_member.gif) left top no-repeat;
}

/* aside-navi faq */
.other .aside-navi.faq {
	margin-top: 0;
}
.aside-navi.faq {
	margin-top: 10px;
}
.aside-navi.faq a {
	display: block;
	width: 180px;
	height: 30px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../images/txt_snavi_faq.gif) left top no-repeat;
}
.aside-navi.faq a:hover {
	background: url(../images/txt_snavi_faq.gif) right top no-repeat;
}

/* aside-navi words */
.aside-navi.words .body {
	border-top: 1px solid #dddddd;
}

/* aside-navi banner */
.aside-navi.banner {
	margin-bottom: -10px;
}
.aside-navi.banner ul li {
	padding-bottom: 10px;
}

/* ----------------
 MAIN-AREA
---------------- */
#main-area {
	width: 740px;
	overflow: hidden;
	float: right;
}
#main-area-dedicated-form {
	width: 900px;
	overflow: hidden;
	margin: auto;
}

/* ----------------
 NOTICE-AREA
---------------- */

#notice-area {
	margin: 0 auto;
	padding: 25px 0 0;
	width: 810px;
	text-align: left;
}
#notice-area #hsearch_box {
	position: relative;
	background: url(../images/hbg_search2.gif) no-repeat;
	background-position: center
}
#notice-area #hsearch_box:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
#notice-area #hsearch_box .hsearch_placeholder {
	display: none;
}
#notice-area #hsearch_box #hsearch_caption {
	display: block;
}
#notice-area #hsearch_box #hsearch_caption input {
	padding: 5px 370px;
	width: 180px;
	border: 0;
	background: none;
}
#notice-area #hsearch_box .hsearch_btnbox {
	position: absolute;
	top: 1px;
	left: 556px;
	display: block;
}

/* ----------------
 COMMONSTYLES
---------------- */

.no-display {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.note {
	line-height: 1.5;
	font-size: 83.3%;
	color: #888888;
}
p.note {
	padding-left: 1.2em;
	text-indent: -1.2em;
}
p.note.attention {
	padding-left: 22px;
	text-indent: 0;
}
.no-display {
	display: none;
}
p.name a {
	font-weight: bold;
}
a.txtlink {
	padding-left: 8px;
	line-height: 1.5;
	background: url(../images/icon_link_small.gif) left 0.3em no-repeat;
}
a.txtlink:hover {
	text-decoration: underline;
}
a.morelink {
	padding-right: 14px;
	line-height: 1.5;
	background: url(../images/icon_link-more-mdl.gif) right 0.2em no-repeat;
}
a.mail span {
	padding-left: 18px;
	line-height: 1.5;
	background: url(../images/icon_mail.gif) left center no-repeat;
}
a.pdflink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_pdflink.gif) left 0 no-repeat;
}
a.pdflink:hover {
	text-decoration: underline;
}
a.pdflink span {
	padding-left: 8px;
	background: url(../images/icon_link_small.gif) left 0.3em no-repeat;
}
a.videolink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_videolink.gif) left 0 no-repeat;
}
a.videolink span {
	padding-left: 8px;
	background: url(../images/icon_link_small.gif) left 0.3em no-repeat;
}
a.xlslink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_xlslink.gif) left 0 no-repeat;
}
a.htmllink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_htmllink.png) left 0 no-repeat;
}
a.xlslink:hover {
	text-decoration: underline;
}
a.xlslink span {
	padding-left: 8px;
	background: url(../images/icon_link_small.gif) left 0.3em no-repeat;
}
a.ziplink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_ziplink.gif) left 0 no-repeat;
}
a.ziplink:hover {
	text-decoration: underline;
}
a.ziplink span {
	padding-left: 8px;
	background: url(../images/icon_link_small.gif) left 0.3em no-repeat;
}
a.onlinelink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_onlinelink.gif) left 0 no-repeat;
}
a.onlinelink:hover {
	text-decoration: underline;
}
a.onlinelink span {
	padding-left: 8px;
	background: url(../images/icon_link_small.gif) left 0.3em no-repeat;
}
a.maillink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_maillink.gif) left 0 no-repeat;
}
a.otoilink {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_otoi.gif) left 0 no-repeat;
}
a.maillink:hover {
	text-decoration: underline;
}
a.maillink span {
	padding-left: 8px;
	background: url(../images/icon_link_small.gif) left 0.3em no-repeat;
}
a.outlink span {
	margin-right: 5px;
	padding: 1px 18px 1px 0px;
	background: url(../images/icon_outlink-13x13.gif) right 0 no-repeat;
}
span.fc {
	min-height: 24px;
	height: auto !important;
	height: 24px;
	padding-left: 45px;
	background: url(../images/icon_tellink.gif) left 0 no-repeat;
}
span.fc1 {
	min-height: 30px;
	height: auto !important;
	height: 30px;
	padding-left: 45px;
	background: url(../images/free.gif) left 0 no-repeat;
}
span.business {
	min-height: 13px;
	height: auto !important;
	height: 13px;
	padding-left: 45px;
	background: url(../images/icon_business.gif) left 0 no-repeat;
}
.note a.pdflink span {
	margin-right: 3px;
	padding-right: 12px;
	background-image: url(../images/icon_pdflink-9x9.gif);
}
.note a.outlink span {
	margin-right: 3px;
	padding-right: 12px;
	background-image: url(../images/icon_outlink-9x9.gif);
}
.attention {
	padding-left: 22px;
	min-height: 17px;
	height: auto !important;
	height: 17px;
	background: url(../images/icon_attention-17x17.gif) left 0 no-repeat;
}
.icon_num {
	display: block;
	padding-left: 22px;
	min-height: 17px;
	height: auto !important;
	height: 17px;
	background: left 0 no-repeat;
}
.icon_num-01 {
	background-image: url(../images/icon_num-01.gif);
}
.icon_num-02 {
	background-image: url(../images/icon_num-02.gif);
}
.icon_num-03 {
	background-image: url(../images/icon_num-03.gif);
}
.icon_num-04 {
	background-image: url(../images/icon_num-04.gif);
}
.icon_num-05 {
	background-image: url(../images/icon_num-05.gif);
}
.icon_num-06 {
	background-image: url(../images/icon_num-06.gif);
}
.icon_num-07 {
	background-image: url(../images/icon_num-07.gif);
}
.icon_num-08 {
	background-image: url(../images/icon_num-08.gif);
}
.icon_num-09 {
	background-image: url(../images/icon_num-09.gif);
}
.icon_num-10 {
	background-image: url(../images/icon_num-10.gif);
}
.icon_num-11 {
	background-image: url(../images/icon_num-11.gif);
}
.icon_num-12 {
	background-image: url(../images/icon_num-12.gif);
}
.icon img {
	margin: 0 4px;
	vertical-align: middle;
}
.icon-top img {
	vertical-align: text-top;
}
.img-text {
	display: block;
	line-height: 1;
	text-indent: -999em;
}

/* ----------------
 HEADLINE
---------------- */

h1 {
	margin: 3px 0 17px;
	font-size: 216.6%;
}
h2 {
	position: relative;
	margin: 0 0 12px 0;
	padding: 0 0 8px 0;
	min-height: 18px;
	height: auto !important;
	height: 18px;
	line-height: 1.3;
	font-size: 133.3%;
	background: url(../images/bg_h2.gif) left bottom no-repeat;
}
h2.long {
	position: relative;
	margin: 0 0 12px 0;
	padding: 0 0 8px 0;
	min-height: 18px;
	height: auto !important;
	height: 18px;
	line-height: 1.3;
	font-size: 133.3%;
	background: url(../images/bg_h2_long.gif) left bottom no-repeat !important;
}
h2 a {
	padding-left: 20px;
	background: url(../images/icon_link-large.gif) left 0 no-repeat;
	line-height: 1.3;
	color: #333333;
}
h2 a:hover {
	text-decoration: underline;
}
h2.tree {
	padding-: 0 0 0 0;
	font-size: 166.6%;
	background: none;
}
h2.bgheader,
h3.bgheader {
	position: relative;
	clear: both;
	margin-bottom: 12px;
	padding: 7px 6px 5px;
	width: 728px;
	color: #ffffff;
	font-size: 116.6%;
	background: #666666;
}
h2 span.btn a {
	position: absolute;
	top: 1px;
	right: 0;
	display: block;
	padding: 0;
	background: none;
}
h2.bgheader span.btn a {
	top: 5px;
	right: 5px;
}
h2 span.btn a img,
h2.bgheader span.btn a img {
	display: block;
}
.sub-section-block h2 {
	background: url(../images/bg_h2-half.gif) left bottom no-repeat;
}
h3 {
	margin-bottom: 8px;
	line-height: 1.5;
	font-size: 116.6%;
}
h3.tree {
	margin: 0 0 12px 0;
	padding: 0 0 8px 0;
	min-height: 18px;
	height: auto !important;
	height: 18px;
	line-height: 1.3;
	font-size: 133.3%;
	background: url(../images/bg_h2.gif) left bottom no-repeat;
}
h3 a {
	padding-left: 14px;
	background: transparent url(../images/icon_link-mdl.gif) no-repeat left 2px;
}
h3 a:hover {
	text-decoration: underline;
}
h4 {
	margin-bottom: 8px;
	font-size: 100%;
	font-weight: bold;
}
h4.tree {
	margin-bottom: 8px;
	font-size: 116.6%;
}
h5.tree {
	margin-bottom: 8px;
	font-size: 100%;
	font-weight: bold;
}
.cap{
	font-weight: bold;
}


/* ----------------
 SUB-SECTION-BLOCK
---------------- */

.sub-section-block {
	overflow: hidden;
	*zoom: 1;
}
.sub-section-block:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.sub-section-block .section-block {
	width: 360px;
	float: left;
}
.emmessage {
	text-align:center;
	padding: 5em 0em;
}

/* ----------------
 SET-2COLUMN-BLOCK
---------------- */

.set-2column-block {
	overflow: hidden;
	*zoom:1;
}
.set-2column-block:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.set-2column-block .set-2column-left {
	width: 360px;
	float: left;
	display: inline;
}

.set-2column-block .set-2column-right {
	width: 360px;
	float: right;
	display: inline;
}
/* ----------------
 SET-3COLUMN-BLOCK
---------------- */

.set-3column-block {
	overflow: hidden;
	*zoom:1;
}
.set-3column-block:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.set-3column-block .set-3column-left,
.set-3column-block .set-3column-center {
	float: left;
	display: inline;
	margin-right: 19px;
	width: 234px;
}
.set-3column-block .set-3column-right {
	float: right;
	display: inline;
	width: 234px;
}
.set-3column-block .set-3column-right-2 {
	float: right;
	display: inline;
	width: 487px;
}

/* ----------------
 LEAD-BLOCK
---------------- */

.lead-block {
	padding-bottom: 10px;
}
.lead-block p {
	margin-bottom: 8px;
	line-height: 1.5;
}
.lead-block p.catch {
	margin-bottom: 12px;
	font-size: 133.3%;
	font-weight: bold;
}

/* ----------------
 TXT-BLOCK
---------------- */

.txt-block {
	padding-bottom: 22px;
}
.txt-block p {
	margin-bottom: 8px;
	line-height: 1.5;
}

/* txt-block01 */
.txt-block01 {
	padding-left:1.5em;
}
.txt-block01 p {
	padding-left:0.5em;
	margin-bottom: 8px;
	line-height: 1.5;
}

/* ----------------
 LINK-BLOCK
---------------- */

.link-block {
	padding: 1px;
	background: url(../images/bg_block-border-gray.gif) left top repeat;
}
.link-block .inner {
	padding: 9px 10px 4px 10px;
	background: #f5f5f5;
}
.link-block .inner p.head {
	margin-bottom: 4px;
	font-weight: bold;
}
.link-block .inner p.catch1 {
	color: #ff3366;
	font-size:16px;
	font-weight: bold;
}
.link-block .inner ul li {
	margin-bottom: 5px;
}

/* ----------------
 COUTION-BLOCK
---------------- */

.caution-block {
	margin: 0 0 15px;
	padding: 10px 10px 10px 45px;
	border: 1px solid #ffcc00;
	background: #fffae5 url(../images/icon_caution.gif) no-repeat 7px 6px;
}
.caution-block * {
	font-weight: bold;
}

/* ----------------
 FLOAT-BLOCK
---------------- */

.float-list {
	width: 760px;
	overflow: hidden;
	*zoom: 1;
}
.float-list:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.float-list .float-block {
	float: left;
	margin: 0 20px 0 0;
	padding-bottom: 10px;
	width: 360px;
}

/* ----------------
 OPTION-BLOCK
---------------- */

.option-block {
	float: left;
	margin: 0 10px 10px 0;
	width: 365px;
	min-height: 110px;
	height: auto !important;
	height: 110px;
	background: #fef5e7;
}
.option-block .inner {
	padding: 10px 12px;
	width: auto;
}
.option-block .set-2column-left {
	width: 90px;
}
.option-block .set-2column-left .p-mark {
    padding:15px;
	background:#FFFFFF;
}
.option-block .set-2column-left .iso-mark {
    padding:15px;
	background:#FFFFFF;
}

.option-block .set-2column-right {
	padding-top: 7px;
	width: 235px;
}

.option-block p {
	margin-bottom: 5px;
}
.option-block p.name {
	font-weight: bold;
}

/* ----------------
 ARTICLE-BLOCK
---------------- */

.article-block {
	padding-bottom: 22px;
	_height: 1px;
	min-height: 1px;
}
.article-block:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.article-block dl {
	margin-bottom: 8px;
}
.article-block dt {
	float: left;
	clear: left;
	margin: 0;
	padding: 6px 0 5px;
	width: 7em;
	line-height: 1.5;
}
.article-block dd {
	margin: 0;
	padding: 5px 0 6px 7em;
	background: url(../images/line_dot-gray.gif) left bottom repeat-x;
}
.article-block dd a.pdflink,
.article-block dd a.videolink,
.article-block dd a.ziplink {
	padding-left: 50px;
}

/* article-block-half */
.set-2column-block .article-block {
}
.set-2column-block .article-block dt {
	float: none;
	padding: 9px 0 0;
	width: auto;
	background: url(../images/line_dot-gray.gif) left top repeat-x;
}
.set-2column-block .article-block dd {
	padding: 0 0 8px;
	background: none;
}
.set-2column-block .article-block .index-link {
	padding-top: 10px;
}

/* ----------------
 FOOT-PR-BLOCK
---------------- */

.foot-pr-block {
	margin-bottom: 15px;
	background: url(../images/flame_foot-pr-block-btm.gif) left bottom no-repeat;
}
.foot-pr-block .inner {
	padding: 4px;
	background: url(../images/flame_foot-pr-block-top.gif) left top no-repeat;
}
.foot-pr-block .inner:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.foot-pr-block .inner { /* for IE */
	_height: 1px;
	min-height: 1px;
}
.foot-pr-block .inner ul {
	width: 728px;
}
.foot-pr-block .inner ul li {
	float: left;
}
.foot-pr-block .inner ul li a {
	display: block;
}
.foot-pr-block .inner ul li a span {
	display: block;
	text-indent: -999em;
}
.foot-pr-block .inner ul li.dakara-quality,
.foot-pr-block .inner ul li.dakara-quality a {
	width: 200px;
	height: 121px;
	background: url(../images/img-pr-dakara-quality.gif) left top no-repeat;
}
.foot-pr-block .inner ul li.dakara-main,
.foot-pr-block .inner ul li.dakara-main a {
	width: 328px;
	height: 121px;
	background: url(../images/img-pr-dakara-main.gif) left top no-repeat;
}
.foot-pr-block .inner ul li.dakara-backbone,
.foot-pr-block .inner ul li.dakara-backbone a {
	width: 200px;
	height: 121px;
	background: url(../images/img-pr-dakara-backbone.gif) left top no-repeat;
}
.foot-pr-block .inner ul li.dakara-price,
.foot-pr-block .inner ul li.dakara-price a {
	width: 243px;
	height: 80px;
	background: url(../images/img-pr-dakara-price.gif) left top no-repeat;
}
.foot-pr-block .inner ul li.dakara-support,
.foot-pr-block .inner ul li.dakara-support a {
	width: 242px;
	height: 80px;
	background: url(../images/img-pr-dakara-support.gif) left top no-repeat;
}
.foot-pr-block .inner ul li.dakara-innovation,
.foot-pr-block .inner ul li.dakara-innovation a {
	width: 243px;
	height: 80px;
	background: url(../images/img-pr-dakara-innovation.gif) left top no-repeat;
}

/* ----------------
 MAIN-AREA-HEADER
---------------- */

.main-area-header {
	position: relative;
	margin-bottom: 20px;
}
.main-area-header h1 {
	margin: 0;
	padding: 0 180px 0 0;
	font-size: 216.6%;
}
.main-area-header .fontsize {
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 9px;
	width: 160px;
	height: 25px;
	line-height: 25px;
	font-size: 12px !important;
	border-left: 1px solid #cccccc;
}
.main-area-header .fontsize .head {
	float: left;
	width: 67px;
	height: 25px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../images/fontsize_head.gif) 0 7px no-repeat;
}
.main-area-header .fontsize ul {
	float: right;
	width: 90px;
	height: 25px;
}
.main-area-header .fontsize ul li {
	float: left;
	padding-left: 5px;
}

/* ----------------
 SECTION-BLOCK
---------------- */

.section-block {
	padding-bottom: 10px;
}

.catch {
	color: #ff3366;
}

.txt-block,
.tbl-block {
	padding-bottom: 22px;
}

.txt-block p,
.tbl-block p {
	margin-bottom: 8px;
}

.float-list {
	padding-bottom: 20px;
}

.link-block {
	margin-bottom: 8px;
}
.link-block h2 {
	margin: 0 0 5px;
	padding: 0;
	font-size: 100%;
	background: none;
}
.link-block p {
	margin-bottom: 2px;
}

/* ----------------
 ALIGN
---------------- */

.aligncenter { text-align: center !important; }
.alignleft { text-align: left !important; }
.alignright { text-align: right !important; }

/* ----------------
 LIST
---------------- */

.lead-block ul, .txt-block ul, .tbl-block ul,
.lead-block ul, .txt-block ol, .tbl-block ol {
	margin-bottom: 8px;
	line-height: 1.5;
}
.decimal-list li,
.disc-list .decimal-list li {
	margin-left: 2em;
	list-style: decimal none outside;
}
.disc-list li,
.decimal-list .disc-list li {
	margin-left: 0;
	padding-left: 10px;
	background: url(../images/icon_dot.gif) 0 .2em no-repeat;
	list-style: none none outside;
}

/* ----------------
 NOTE-BLOCK
---------------- */

.note-block { margin-bottom: 8px; }
.note-block p { margin-bottom: 0 !important; }

/* ----------------
 TABLE
---------------- */

/* in .tbl-block */
.tbl-block table {
	margin-bottom: 8px;
	width: 100%;
	border-collapse: collapse;
}
.tbl-block table, x:-moz-any-link { /* for Firefox 1.0~ */
	margin-left: 1px;
	width: 739px;
}
.tbl-block table, x:-moz-broken, x:last-of-type, x:indeterminate { /* for Firefox 3.6~ */
	margin-left: 0;
	width: 740px;
}
.hdd-up-space tr th,
.hdd-up-space tr td {
	padding: 9px 7px!important;
}
.tbl-block table tr th,
.tbl-block table tr td {
	padding: 9px 10px;
	font-size: 100%;
	font-weight: normal;
	text-align: center;
	border: 1px solid #dddddd;
}
.tbl-block table tr th.size,
.tbl-block table tr td.size {
	padding: 9px 10px;
	font-size: 100%;
	font-weight: normal;
	text-align: left;
	border: 1px solid #dddddd;
}
.tbl-block table tr th {
	text-align: left;
	vertical-align: middle;
}
.tbl-block table tr td {
	text-align: center;
	vertical-align: middle;
}
.tbl-block table tr.line th.sub {
	vertical-align: top;
}
.tbl-block table tr.thead th {
	padding: 9px 10px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background: #f4a21b;
}
.tbl-block table tr.subhead th {
	padding-right: 0;
	padding-left: 0;
	font-weight: bold;
	text-align: center;
	background-color: #fef5e7;
}
.tbl-block table tr.thead th a {
	padding-left: 8px;
	color: #ffffff;
	background: url(/resource/images/icon_link_small-bg.gif) 0 .3em no-repeat;
	text-decoration: none;
}
.tbl-block table tr.thead th a:hover {
	text-decoration: underline;
}
.tbl-block table tr.subhead th a {
	padding-left: 8px;
	background: url(/resource/images/icon_link_small.gif) left 0.3em no-repeat;
	text-decoration: none;
}
.tbl-block table tr.subhead th a:hover {
	text-decoration: underline;
}
.tbl-block table tr.sum th {
	text-align: right;
	font-weight: bold;
}

/* in .txt-block */
.txt-block table {
	margin-bottom: 8px;
	width: 100%;
	border: 1px solid #dddddd;
}
.txt-block table tr th {
	padding: 10px;
	line-height: 1.6;
	border: 1px solid #dddddd;
	border-top: 0;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
}
.txt-block table tr td {
	padding: 10px;
	border: 1px solid #dddddd;
	border-top: 0;
	line-height: 1.6;
	text-align: left;
	vertical-align: middle;
}
.txt-block table tr.center td{
	padding: 10px;
	border: 1px solid #dddddd;
	border-top: 0;
	line-height: 1.6;
	text-align: center;
	vertical-align: middle;
}
.txt-block table tr.thead th {
	text-align: center;
}
.txt-block table tr th.subhead {
	vertical-align: top;
	background-color: #ffffff;
}
.txt-block table tr.line th.subhead,
.txt-block table tr.line td {
	border-bottom: 0;
	background: url(../images/line_dot-gray.gif) left bottom repeat-x;
}
.txt-block table tr td.price {
	text-align: right;
}
.txt-block .txt-block {
	padding: 0;
}
.txt-block .note-block {
	padding-bottom: 8px;
}

/* in .txt-block */
.txt-block01 table {
	 margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	width: 70%;
	border: 1px solid #dddddd;
}
.txt-block01 table tr th {
	padding: 10px;
	line-height: 1.6;
	border: 1px solid #dddddd;
	border-top: 0;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
}
.txt-block01 table tr td {
	padding: 10px;
	border: 1px solid #dddddd;
	border-top: 0;
	line-height: 1.6;
	text-align: left;
	vertical-align: middle;
}
.txt-block01 table tr.thead th {
	text-align: center;
}
.txt-block01 table tr th.subhead {
	vertical-align: top;
	background-color: #ffffff;
}
.txt-block01 table tr.line th.subhead,
.txt-block01 table tr.line td {
	border-bottom: 0;
	background: url(../images/line_dot-gray.gif) left bottom repeat-x;
}
.txt-block01 table tr td.price {
	text-align: center;
}
.txt-block01 .txt-block {
	padding: 0;
}
.txt-block01 .note-block {
	padding-bottom: 8px;
}

/* in .txt-block */
.txt-block02 table {
	 margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	width: 45%;
	border: 1px solid #dddddd;
}
.txt-block02 table tr th {
	padding: 10px;
	line-height: 1.6;
	border: 1px solid #dddddd;
	border-top: 0;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
}
.txt-block02 table tr td {
	padding: 10px;
	border: 1px solid #dddddd;
	border-top: 0;
	line-height: 1.6;
	text-align: left;
	vertical-align: middle;
}
.txt-block02 table tr.thead th {
	text-align: center;
}
.txt-block02 table tr th.subhead {
	vertical-align: top;
	background-color: #ffffff;
}
.txt-block02 table tr.line th.subhead,
.txt-block02 table tr.line td {
	border-bottom: 0;
	background: url(../images/line_dot-gray.gif) left bottom repeat-x;
}
.txt-block02 table tr td.price {
	text-align: center;
}
.txt-block02 .txt-block {
	padding: 0;
}
.txt-block02 .note-block {
	padding-bottom: 8px;
}

/* ----------------
 NAVIGATION
---------------- */

/* TAB-NAVI */
.tab-navi ul { border-bottom: 2px solid #6391c1; }
.tab-navi ul { *zoom: 1; }
.tab-navi ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
.tab-navi ul li {
	float: left;
	display: inline; /* for IE */
	margin-right: 5px;
	background-color: #f5f5f5;
}
.tab-navi ul li a {
	position: relative; /* for IE */
	display: block;
	padding: 12px 10px 10px 25px;
	border: 1px solid #dddddd;
	border-bottom: none;
	line-height: 1;
	color: #568cc5;
	background: #f5f5f5 url(../images/icon_link-right.gif) no-repeat 10px 14px;
}
.tab-navi ul li a:hover,
.tab-navi ul li.selected a {
	color: #ffffff;
	border-color: #6391c1;
	background-color: #6391c1;
	background-image: url(../images/icon_link-right-on.gif);
}
.tab-navi ul li.selected a,
.tab-navi ul li.selected a:hover {
	font-weight: bold;
	background-image: url(../images/icon_link-below-on.gif);
}
.tab-contents .inner {
	display: none;
	padding: 20px 0 0;
}
.tab-contents .selected {
	display: block;
}

/* PAGE-NAVI */
.page-navi { margin-bottom: 20px; }
.page-navi ul { *zoom: 1; }
.page-navi ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
.page-navi ul li,
.page-navi p {
	float: left;
	display: inline;
	margin-right: 10px;
	background-color: #f5f5f5;
}
.page-navi ul li a,
.page-navi p a {
	display: block;
	padding: 10px;
	border: 1px solid #dddddd;
	line-height: 1;
	color: #568cc5;
	background-color: #f5f5f5;
}
.page-navi ul li a,
.page-navi p a {
	position: relative;
	line-height: 1;
}
.page-navi ul li a:hover,
.page-navi p a:hover {
	color: #ffffff;
	border-color: #6391c1;
	background-color: #6391c1;
}
.page-navi .prev a span {
	padding-left: 15px;
	background: transparent url(../images/icon_link-left.gif) no-repeat left 2px;
}
.page-navi .prev a:hover span {
	background-image: url(../images/icon_link-left-on.gif);
}
.page-navi .next a span {
	padding-right: 15px;
	background: transparent url(../images/icon_link-right.gif) no-repeat right 2px;
}
.page-navi .next a:hover span {
	background-image: url(../images/icon_link-right-on.gif);
}
.page-navi ul.back {
	text-align: center;
}
.page-navi ul.back li.prev {
	float: none;
	display: inline-block;
	margin: 0 auto;
	*width: auto !important;
	*width: 12em;
}
*:first-child+html .page-navi ul.back li.prev {
	display: inline;
}

/* BOXS-NAVI */
.boxs-navi { margin-bottom: 20px; }
.boxs-navi ul { *zoom: 1; }
.boxs-navi ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
.boxs-navi ul li {
	float: left;
	display: inline; /* for IE */
	margin-right: 5px;
	background-color: #f5f5f5;
}
.boxs-navi ul li a {
	display: block;
	padding: 10px 10px 10px 25px;
	border: 1px solid #dddddd;
	line-height: 1;
	color: #568cc5;
	background: #f5f5f5 url(../images/icon_link-right.gif) no-repeat 10px 12px;
}
.boxs-navi ul li a {
	position: relative; /* for IE */
}
.boxs-navi ul li a:hover,
.boxs-navi ul li.selected a {
	color: #ffffff;
	border-color: #6391c1;
	background-color: #6391c1;
}
.boxs-navi ul li a:hover {
	background-image: url(../images/icon_link-right-on.gif);
}
.boxs-navi ul li.selected a {
	font-weight: bold;
	background-image: url(../images/icon_link-below-on.gif);
}

/* LIST-NAVI */
.list-navi { margin-bottom: 20px; }
.list-navi ul {
	padding: 8px 10px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
	*zoom: 1;
}
.list-navi ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height:0;
}
.list-navi ul li {
	float: left;
	*display: inline; /* for IE */
	margin-right: 20px;
	white-space: nowrap;
}
.list-navi ul li a {
	padding-left: 15px;
	color: #568cc5;
	background: transparent url(../images/icon_link-below.gif) no-repeat 0 2px;
}
.list-navi ul li a:hover {
	text-decoration: underline;
}

/* ----------------
 PAGETOP
---------------- */

.pagetop {
	margin-bottom: 30px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dddddd;
	text-align: right;
}
.pagetop a {
	padding-right: 15px;
	background: url(../images/icon_link-up.gif) right center no-repeat;
}
.pagetop a:hover {
	text-decoration: underline;
}

/* ----------------
 ACTION-BLOCK
---------------- */

.action-block {
	margin-bottom: 20px;
	border: 1px solid #d5e4ef;
}
.action-block * {
	line-height: 1.5;
}
.action-block table {
	width: 100%;
}
.action-block table tr td,
.action-block table tr th {
	text-align: left;
	vertical-align: top;
}
.action-block table tr th {
	padding: 5px 15px;
	border-bottom: 1px solid #d5e4ef;
	color: #45709e;
	font-weight: bold;
	background-color: #e9eff5;
}
.action-block table tr td {
	padding: 2px 15px;
}
.action-block table tr td.sidecol,
.action-block table tr th.sidecol {
	width: 220px;
	border-right: 1px solid #d5e4ef;
}
.action-block table tr td.halfcol,
.action-block table tr th.halfcol {
	width: 50%;
}
.action-block p {
	margin: 8px 0;
}
.action-block dl {
	margin: 8px 0 0;
}
.action-block dl dt {
	margin-bottom: 3px;
	font-weight: bold;
}
.action-block dl dd {
	margin-bottom: 8px;
}
.action-block p.head {
	margin: 10px 0 8px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	background-color: #666666;
}
.action-block .btn {
	margin: 10px 0;
	text-align: center;
}
.action-block p.note {
	margin-bottom: 0;
}
.action-block .txt-for-business,
.action-block .txt-for-customer {
	overflow: hidden;
}
.action-block .txt-for-business p,
.action-block .txt-for-customer p {
	margin: 0;
	text-indent: -999em;
}
.action-block .txt-for-business {
	margin: 10px 0;
	width: 340px;
	height: 44px;
	background: url(../images/action-txt_business-340.gif) 0 0 no-repeat;
}
.action-block .txt-for-customer {
	margin: 10px 0;
	width: 340px;
	height: 44px;
	background: url(../images/action-txt_customer-340.gif) 0 0 no-repeat;
}
.action-block .sidecol .txt-for-business {
	margin: 10px 0 15px;
	width: 220px;
	height: 62px;
	background: url(../images/action-txt_business-220.gif) 0 0 no-repeat;
}
.action-block .sidecol .txt-for-customer {
	margin: 10px 0 15px;
	width: 220px;
	height: 62px;
	background: url(../images/action-txt_customer-220.gif) 0 0 no-repeat;
}
.action-block-tab ul.tab_navi {
	margin-top: 8px;
	border-bottom: 2px solid #6391c1;
}
.action-block-tab ul.tab_navi {
	*zoom: 1;
}
.action-block-tab ul.tab_navi:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.action-block-tab ul.tab_navi li {
	float: left;
	display: inline; /* for IE */
	margin-right: 5px;
	background-color: #f5f5f5;
}
.action-block-tab ul.tab_navi li a {
	position: relative; /* for IE */
	display: block;
	padding: 12px 10px 10px 25px;
	border: 1px solid #dddddd;
	border-bottom: none;
	line-height: 1;
	color: #568cc5;
	background: #f5f5f5 url(../images/icon_link-right.gif) no-repeat 10px 14px;
}
.action-block-tab ul.tab_navi li a:hover,
.action-block-tab ul.tab_navi li.selected a {
	color: #ffffff;
	border-color: #6391c1;
	background-color: #6391c1;
	background-image: url(../images/icon_link-right-on.gif);
}
.action-block-tab ul.tab_navi li.selected a,
.action-block-tab ul.tab_navi li.selected a:hover {
	font-weight: bold;
	background-image: url(../images/icon_link-below-on.gif);
}

/* ----------------
 FLAVOR-BLOCK
---------------- */

.flavor-block {
	margin-bottom: 20px;
	padding: 15px 15px 0 15px;
	border: 1px solid #d5e4ef;
	background: url(../images/bg_plan_flavor.gif) right bottom no-repeat;
	min-height: 150px;
	_height: 150px; /* for IE6 */
}
.flavor-block .flavor-plan {
	padding-bottom: 10px;
}
.flavor-block .flavor-plan p {
	margin-bottom: 6px;
	width: 460px;
}

/* ----------------
 ASSIST-BLOCK
---------------- */

.assist-block {
	margin-bottom: 20px;
}
.assist-block .action-block,
.assist-block .flavor-block {
	margin-bottom: 0;
}
.assist-block .action-block {
	border-bottom: none;
}

/* ----------------
 FAQ-LIST
---------------- */

.faq-list {
	padding-bottom: 30px;
}
.faq-list dl {
	padding-top: 10px;
	border-top: 1px solid #dddddd;
	line-height: 1.7;
}
.faq-list dt,
.faq-list dd {
	clear: left;
	margin-bottom: 10px;
	*zoom: 1;
}
.faq-list dt:after,
.faq-list dd:after {
	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;
}
.faq-list dt {
	padding-top: 6px;
}
.faq-list dd {
	padding-bottom: 13px;
	border-bottom: 1px solid #dddddd;
}
.faq-list dt .icon,
.faq-list dd .icon {
	float: left;
	display: block;
	width: 36px;
	height: 30px;
	text-indent: -999em;
	background: 0 0 no-repeat;
}
.faq-list dt .icon {
	background-image: url(../images/icon_faq-q.gif);
}
.faq-list dd .icon {
	background-image: url(../images/icon_faq-a.gif);
}
.faq-list dt .txt,
.faq-list dd .txt {
	display: block;
	margin-left: 50px;
	padding-top: 2px;
}

/* ----------------
 PDF-ASIDE
---------------- */

.pdf-aside {
	margin-bottom: 30px;
	padding: 1px;
	background: transparent url(../images/bg_block-border-gray.gif) repeat 0 0;
}
.pdf-aside .inner {
	padding: 0 9px;
	background-color: #f5f5f5;
}
.pdf-aside .inner .img {
	float: left;
	padding: 9px 0;
	width: 158px;
}
.pdf-aside .inner .txt {
	float: right;
	padding: 7px 0;
	width: 540px;
}
.pdf-aside .inner .txt a {
	color: #568cc5;
}
.pdf-aside .inner .txt a:hover {
	text-decoration: underline;
}
.pdf-aside .inner .txt .head {
	margin-bottom: 5px;
	font-weight: bold;
}
.pdf-aside .inner .txt .desc {
	font-size: 83.3%;
}

/* ----------------
 FILELIST-BLOCK
---------------- */

.filelist-block {
	padding-bottom: 22px;
}
.filelist-block h2 {
	margin-bottom: 15px;
}
.filelist-block h3 {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #dddddd;
}
.filelist-block ul {
	margin-bottom: 8px;
}
.filelist-block ul li {
	padding: 5px 0 6px 50px;
	text-indent: -50px;
	background: url(/resource/images/line_dot-gray.gif) left bottom repeat-x;
}
.filelist-block ul li a {
	padding-left: 50px;
}

/* ----------------
 SITE_NAVI-BLOCK
---------------- */

.site_navi-block {
	margin-bottom: 5px;
}
.site_navi-block a {
	display: block;
	overflow: hidden;
	text-indent: -999em;
	background: 0 0 no-repeat;
}
.site_navi-block p.desc {
	display: none;
}
.site_navi-block p.head a {
	width: 180px;
	height: 80px;
	overflow: hidden;
}
.site_navi-block p.head a:hover {
	background-position: 0 -80px;
}
.site_navi-block p.sub_link a {
	width: 180px;
	height: 30px;
	overflow: hidden;
}
.site_navi-block p.sub_link a:hover {
	background-position: 0 -30px;
}
#site_navi_corporate a {
	background-image: url(../images/site_navi-corporate.gif);
}
#site_navi_corporate .sub_link a {
	background-image: url(../images/site_navi-ir.gif);
}
#site_navi_service a {
	background-image: url(../images/site_navi-service.gif);
}
#site_navi_support a {
	background-image: url(../images/site_navi-support.gif);
}
#site_navi_support .sub_link a {
	background-image: url(../images/site_navi-maintenance.gif);
}

/* ----------------
 BNR-LIST
---------------- */

.bnr-list,
.link-list {
	margin-top: 20px;
}
.bnr-list p.head,
.link-list p.head {
	margin-bottom: 10px;
	color: #666666;
	font-weight: bold;
}
.bnr-list li,
.link-list li {
	margin-bottom: 5px;
}
a:hover img.brightover {
	-ms-filter: "alpha(opacity=80)"; /* for IE8 */
	filter: alpha(opacity=80); /* for IE6,7 */
	opacity: 0.8;
	-moz-opacity: 0.8; /* for Netscape, Firefox 0.9 */
}
div.foot-bnr-list ul {
	margin-right: -5px;
	width: 750px;
	overflow: hidden;
}
div.foot-bnr-list li {
	float: left;
	display: inline; /* for IE */
	margin-right: 6px;
}

/* ----------------
 SOCIAL-BUTTON
---------------- */

div.social-button ul {
	margin-right: 10px;
	width: 740px;
	overflow: hidden;
}
div.social-button li {
	float:right;
	display: inline; /* for IE */
}

/* ----------------
 OUTLINE-BLOCK
---------------- */

.outline-block {
	margin-bottom: 22px;
}
.outline-block table {
	margin-bottom: 8px;
	width: 740px;
	border-top: 2px solid #e99a1a;
	border-bottom: 2px solid #e99a1a;
}
.outline-block table, x:-moz-any-link { /* for Firefox 1.0~ */
	margin-left: 1px;
	width: 739px;
}
.outline-block table, x:-moz-broken, x:last-of-type, x:indeterminate { /* for Firefox 3.6~ */
	margin-left: 0;
	width: 740px;
}
.outline-block table tr th,
.outline-block table tr td {
	padding: 5px 10px;
	line-height: 1.5;
	text-align: left;
	vertical-align: top;
	border: 1px solid #dddddd;
	border-bottom: none;
	vertical-align: top;
}
.outline-block table tr.name th {
	padding-top: 10px;
	padding-bottom: 5px;
	border-top: none;
	font-weight: normal;
	background-color: #fef5e7;
	vertical-align: bottom;
}
.outline-block table tr.name th p {
	margin-bottom: 5px;
}
.outline-block table tr.name th p.name {
	font-weight: bold;
	font-size: 116.6%;
}
.outline-block table tr.name th p.icon {
	float: left;
	padding-right: 10px;
}
.outline-block table tr.name th p.icon img {
	margin: 0;
}
.outline-block table tr.name th p.desc {
	font-size: 100%;
}
.outline-block table tr.color th,
.outline-block table tr.color td {
	background-color: #eeeeee;
}
.outline-block table tr.highlight th,
.outline-block table tr.highlight td {
	background-color: #ffffcc;
}
.outline-block table tr.noline td {
	border-top: none;
}
.outline-block table tr em {
	color: #ff3366;
	font-style: normal;
}

.outline-block table tr .cof36 {	/*em代替*/
	color: #ff3366;
	font-style: normal;
}

.outline-block table tr strong {
	font-weight: bold;
}
.outline-block table tr strong.highlight {
	color: #ff3366;
}
.outline-block table tr.head th {
	padding-bottom: 0;
	text-align: left;
	vertical-align: top;
	font-size: 85%;
	font-weight: normal;
}
.outline-block table tr.value td {
	border-top: none;
	text-align: right;
	vertical-align: bottom;
}
.outline-block table tr.value td.common-value {
	text-align: center;
}
.outline-block table tr.value td .val {
	font-size: 18px;
	font-family: "Arial Narrow", "Impact", sans-serif;
	font-weight: bold;
	letter-spacing: 0px;
}
.outline-block table tr.desc td {
	padding-top: 10px;
	padding-bottom: 5px;
}
.outline-block table tr.desc td p,
.outline-block table tr.desc td ul {
	margin-bottom: 5px;
}
.outline-block table tr.btn td {
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
}
.outline-block table tr.btn td p {
	margin-bottom: 5px;
}
.tbl-block table tr th.stop,
.tbl-block table tr td.stop,
.outline-block table tr th.stop,
.outline-block table tr td.stop {
	color: #bbbbbb !important;
	background: url(../images/bg_stop.gif) repeat 0 0 !important;
}
.tbl-block table tr th.stop *,
.tbl-block table tr td.stop *,
.outline-block table tr th.stop *,
.outline-block table tr td.stop * {
	color: #bbbbbb !important;
}
.tbl-block table tr th.stop,
.tbl-block table tr td.stop,
.outline-block table tr.name th.stop,
.outline-block table tr.value td.stop {
	text-decoration: line-through !important;
}

/* ----------------
 PLAN-BLOCK
---------------- */

.plan-block .head {
	position: relative;
	z-index: 2;
}
.plan-block .head h3 {
	margin: 0;
	padding: 0;
}
.plan-block .head h3 a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-indent: -999em;
	background: 0 0 no-repeat;
}
.plan-block .head h3 a:hover {
	background-position: right 0;
}
.plan-block .head .badge {
	position: absolute;
	top: 0px;
	right: 0px;
	_right: -1px;
	height: 70px;
	width: 70px;
	text-indent: -999em;
	background: 0 0 no-repeat;
}
.plan-block .head .badge-no1 {
	background-image: url(/resource/images/badge-no1.png) !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/images/badge-no1.png", sizingMethod="scale");
}
.plan-block .head .badge-popular {
	background-image: url(/resource/images/badge-popular.png) !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/images/badge-popular.png", sizingMethod="scale");
}
.plan-block .head .badge-root {
	height: 62px;
	width: 62px;
	background-image: url(/resource/images/badge-root.png) !important;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/images/badge-root.png", sizingMethod="scale");
}
.plan-block .head .badge-new {
	background-image: url(/resource/images/badge-new.gif) !important;
}
.plan-block .data {
	border-left: 1px solid #bad7ee;
	border-right: 1px solid #bad7ee;
}
.plan-block .data table {
	width: 100%;
}
.plan-block .data table tr {
	height: 41px; /* for Firefox */
}
.plan-block .data table th,
.plan-block .data table td {
	height: 33px;ß
	line-height: 16px;
	vertical-align: bottom;
	text-align: left;
	border-bottom: 1px solid #bad7ee;
	background-color: #e8f1f9;
}
.plan-block .data table th {
	padding: 4px 0 4px 10px;
	font-weight: normal;
	width: 40px;
	white-space: nowrap;
}
.plan-block .data table td {
	padding: 4px 10px;
	/*font-weight: bold;*/
}
.plan-block .data table span.val {
	/*line-height: 32px;*/
	font-size: 18px;
	font-family:Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Helvetica,"ＭＳ Ｐゴシック",sans-serif;
	font-weight: bold;
	letter-spacing: 0px;
}
.plan-block .data table em {
	font-style: normal;
	color: #ff3366;
}
.plan-block .desc {
	position: relative;
	padding: 0 0 35px;
	min-height: 140px;
	_height: 140px;
	border: 1px solid #fce3ba;
	border-top: none;
	background: right bottom no-repeat;
}
.plan-block .desc p.value {
	line-height: 1;
	margin: 0 0 8px;
	padding: 4px 9px;
	background-color: #fef5e7;
}
.plan-block .desc p.value span.val {
	font-size: 22px;
	font-family:Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Helvetica,"ＭＳ Ｐゴシック",sans-serif;
	font-weight: bold;
	letter-spacing: 0px;
}
.plan-block .desc p.price {
	margin: 0 0 10px;
	padding: 10px 9px 0;
}
.plan-block .desc p.price span.val {
	font-size: 22px;
	font-family:Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Helvetica,"ＭＳ Ｐゴシック",sans-serif;
	font-weight: bold;
}
.plan-block .desc .img {
	padding: 0 10px 10px;
	float: right;
}
.plan-block .desc .txt {
	margin: 0 0 8px;
	padding: 0 9px;
}
.plan-block .desc .txt em {
	font-weight: bold;
	font-style: normal;
	color: #ff3366;
}
.plan-block .desc p.btn {
	position: absolute;
	left: 9px;
	bottom: 10px;
}
.plan-list {
	margin: 0 -10px 0 0;
	width: 750px;
	padding-bottom: 20px;
}
.plan-list .plan-block {
	float: left;
	display: inline; /* for IE */
	margin-right: 10px;
	padding-bottom: 10px;
	width: 365px;
}

/* ----------------
 TOOLTIP
---------------- */

.tooltipContent {
	width: 200px;
}
.tooltipContent .inner {
	position: relative;
	padding: 2px 2px 0;
	border: 1px solid #ccc;
	border-bottom: none;
	background: #fff;
}
.tooltipContent .inner .close {
	position: absolute;
	top: -12px;
	right: -12px;
	margin: 0;
	padding: 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background: url(/resource/js/tooltip_close.png) 0 0 no-repeat;
	_background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/js/tooltip_close.png", sizingMethod="image");
	cursor: pointer;
}
.tooltipContent .inner .content {
	color: #fff;
	padding: 8px 13px 5px;
	background: #013f73;
}
.tooltipContent .inner .content p {
	margin-bottom: 3px;
}
.tooltipContent .inner .content p a {
	color: #fff;
	text-decoration: underline;
}
.tooltipContent .inner .content p a:hover {
	color: #fff;
	text-decoration: none;
}
.tooltipContent .inner .content p.link {
	padding: 5px 0 3px;
	text-align: center;
}
.tooltipContent .footer {
	width: 200px;
	height: 23px;
	background: url(/resource/js/tooltip_bg.png) 0 bottom no-repeat;
	_background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/js/tooltip_bg.png", sizingMethod="image");
}
h3 a.tooltip,
h3 a.tooltip:hover {
	padding-left: 0 !important;
	background: none !important;
	color: #568CC5;
	text-decoration: none;
}

/* ----------------
 POPUP
---------------- */

.popup {
	width: 600px;
	text-align: center;
}
.popup #header {
	width: 600px;
	margin: 0 auto;
	padding-bottom:20px;
	text-align: left;
}
.popup #header #site-logo {
	float:none;
	padding:2px 0 0 10px;
}
.popup #contents {
	width: 600px;
	margin: 0 auto;
	text-align: left;
}
.popup #contents #contents-inner {
	margin:0;
	width: 600px;
}
.popup #contents #contents-header {
	width: 600px;
	background: transparent;
	margin:0;
	padding:0;
	overflow:visible;
}
.popup #main-area {
	width: 580px;
	padding:0 10px;
	float:none;
	overflow:visible;
}
.popup #main-area h1 {
	margin: 0 0 12px 0;
	line-height: 1.3;
	font-size: 133.3%;
}
.popup #main-area p,
.popup #main-area ul {
	margin-bottom: 15px;
}
.popup #main-area table {
	width: 100%;
}
.popup #main-area table th {
	width: 50px;
	padding: 9px 10px;
	border: 1px solid #dddddd;
	border-right: 0;
	text-align:left;
	vertical-align: top;
}
.popup #main-area table td {
	padding: 9px 10px;
	border: 1px solid #dddddd;
	border-left: 0;
}
.popup #main-area table td #copybtn {
	position: relative;
}
.popup #main-area table #copybtn .copytext {
	margin-bottom: 10px;
}
.popup #main-area table #copybtn .flbtn {
	position: absolute;
	top: 0;
	left: 0;
	width: 83px;
	height: 26px;
	z-index: 99;
}

.popup #main-area table #quotation { /*   old   */
	width: 490px;
	border: 1px solid #dddddd;
	background-color: #e9eff5;
	padding: 9px 10px 0 10px;
	font-size: 100%;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
	margin-top: 10px;
}

.popup #main-area table .quotation { /*   new   */
	width: 490px;
	border: 1px solid #dddddd;
	background-color: #e9eff5;
	padding: 9px 10px 15px 10px;
	font-size: 100%;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
	margin-top: 10px;
}

.popup #main-area table #quotation p {
	line-height: 1.5;
	margin-bottom: 20px;
}
.popup #main-area .close {
	padding-top: 20px;
	text-align: center;
}

/* ----------------
 NEWS AREA
---------------- */

#main556t h1 {
	padding: 20px 50px 0;
	font-size: 20px;
}
#main556t .txt-block {
	padding: 20px 50px;
}
pre {
	/* font-size: 100%; */
	font-size: 14px;
	line-height: 1.5;
	word-wrap:break-word;
}

/* ----------------
 PRINT
---------------- */

@media print {
	* {
		width: auto !important;
		overflow: visible !important;
	}
	#header,
	#contents-header,
	#contents-foot,
	#left-navi,
	#footer,
	.foot-pr-block {
		display: none;
	}
	#main-area {
		float: left;
	}
}

/* ----------------
 TABLE
---------------- */

/* VANILLA */

table.vanilla {
	width: 100%;
	border-collapse: collapse;
}
table.vanilla thead th {
	padding: 5px;
	border: 1px solid #ccc;
	background: #eee;
}
table.vanilla tbody th {
	border: 1px solid #ccc;
	font-weight: normal;
}
table.vanilla tbody td {
	padding: 5px;
	border: 1px solid #ccc;
	text-align: center;
}
table.vanilla caption {
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}

/*-------------------------------
 SyncSerach
--------------------------------*/

div.SS_suggest {
  font-weight: normal;
  z-index: 9999;
  display: none;
  position: absolute;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 200px;
}
#SS_searchForm div.SS_suggest {
left:auto !important;
top:auto !important;
}
div.SS_suggest div.SS_suggestItemOff {
  background-color: #FFF;
  border-top: 1px solid #CCC;
  padding: 2px 0px 2px 0px;
  width: 100%;
}
div.SS_suggest div.SS_suggestItemOn {
  background-color: #ECF5FA;
  border-top: 1px solid #CCC;
  padding: 2px 0px 2px 0px;
  width: 100%;
}
div.SS_suggest span.SS_suggestKey {
  font-size: 100%;
  padding-left: 4px;
}
div.SS_suggest span.SS_suggestRate {
  width: 100px;
}

.txtb{
		font-weight: bold;
}

/* ----------------
 CASE-BLOCK
---------------- */
.case-bnr {
	padding: 0px 0px 40px 0px;
	text-align: center;
}
.case_block {
	float:left;
}
.case_width {
	width:230px;
	padding: 0 8px 15px 8px;
}
.case_logo {
	border-top:5px solid #ffffff;
	border-bottom:5px solid #ffffff;
	padding-bottom:5px;
}
