@charset "utf-8";

/* --------------------
 HTML5
-------------------- */

article, aside, canvas, details,
figcaption, figure, footer, header,
hgroup, menu, nav, section, summary {
	display: block;
}

/* --------------------
 DEFAULT
-------------------- */

/* GLOBAL */
* {
	margin: 0;
	padding: 0;
}
/* BODY */
body {
	margin: 0;
	color: #333333;
	font-size: 75%;
	font-family:
		Verdana,
		'ヒラギノ角ゴ ProN W3',
		'Hiragino Kaku Gothic ProN',
		Helvetica,
		'ＭＳ Ｐゴシック',
		sans-serif;
}
/* HEADLINE */
h1,h2,h3,h4,h5,h6 {
	font-family:
		Verdana,
		'ヒラギノ角ゴ ProN W3',
		'Hiragino Kaku Gothic ProN',
		'メイリオ',
		Meiryo,
		Helvetica,
		'ＭＳ Ｐゴシック',
		sans-serif;
	margin: 0;
}
:root *> h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}
/* P */
p {
	line-height: 1.5;
}
/* LIST */
ol,ul,li {
	line-height: 1.5;
	list-style-type: none;
}
/* IMG */
img {
	border: 0;
	vertical-align: bottom;
}
/* TABLE */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* A */
a {
	color: #568cc5;
	outline: none;
	overflow: hidden;
	text-decoration: none;
}
