/* line 22, sass/screen.scss */
/*
#viewport-shadow {
  position: relative;
  width: 680px;
  padding: 0 140px 70px;
  background: url(img/box-shadow.png) bottom no-repeat;
}
*/

/* line 29, sass/screen.scss */
/*#viewport, #box, .slide {*/

/*
#viewport       {width: 946px; height: 397px;}
#box            {width: 946px; height: 397px;}
#box, .slide_01 {width: 946px; height: 397px;}
#box, .slide_02 {width: 946px; height: 397px;}
*/

#viewport       {width: 946px; height: 422px;}
#box            {width: 946px; height: 422px;}
#box, .slide_01 {width: 946px; height: 422px;}
#box, .slide_02 {width: 946px; height: 422px;}

/* line 34, sass/screen.scss */
#viewport {
  overflow: hidden;
}

/* line 62, sass/screen.scss */
/*
#next, #prev {
  position: absolute;
  top: 80px;
  width: 30px;
  height: 300px;
  background: url(img/next-prev-sprite.png) no-repeat;
  display: block;
  -webkit-transition: background .4s;
  -moz-transition: background .4s;
  transition: background .4s;
}
*/
/* line 73, sass/screen.scss */
/*
#next:hover, #prev:hover {
  background: url(img/next-prev-sprite-hover.png) no-repeat;
  border: none;
}
*/

/* line 79, sass/screen.scss */
/*
#prev {
  left: 90px;
}
*/

/* line 80, sass/screen.scss */
/*
#next, #next:hover {
  left: 840px;
  background-position: -30px 0;
}
*/