@font-face {
	font-family: 'icomoon';
	src:url('/font/icomoon.eot?4m5jbg');
	src:url('/font/icomoon.eot?#iefix4m5jbg') format('embedded-opentype'),
		url('/font/icomoon.ttf?4m5jbg') format('truetype'),
		url('/font/icomoon.woff?4m5jbg') format('woff'),
		url('/font/icomoon.svg?4m5jbg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-new:before {
	content: "\e600";
}
.icon-new02:before {
	content: "\e601";
}
.icon-new03:before {
	content: "\e602";
}
