*{padding:0;margin:0}
html{min-height:101%}
body{font-family: 'Microsoft YaHei','Century Gothic','Comic Sans MS','Verdana','arial','tahoma';font-size:12px;color:#333;text-shadow: 1px 1px 3px #CCC;}
div{margin:0 auto}
ul,ol,li {list-style:none}
a{text-decoration:none;word-wrap:break-word;color:#666}
a:hover{color:#3cf;}
img{border:0}
.right {float:right}

/* 框架 */
#b{width:1184px;padding:16px 12px;position:relative}
#l{width:840px;float:left;border-right:1px solid #DDD;padding-right:10px;position:relative}
#m{width:670px;float:left;border-right:1px solid #DDD;padding-right:10px;position:relative}
#r{width:300px;float:right}
#l1{width:160px;height:400px;float:left;margin-right:10px}

#l2{width:300px;float:left;margin-right:10px}
#r2{width:840px;padding-left:10px;float:right}

/* 顶部导航 */
.topbg{min-width: 1208px;height:32px;background:url(http://www.miomio.tv/test/sy_03.png) repeat -20px 0}
.topnav{width:1160px;height:32px;line-height:32px;padding:0 12px}
.topnav .l{float:left;color:#333}
.topnav .r{float:right;color:#DDD}
.topnav .r a{color:#555;cursor:pointer}
.topnav .r a:hover{color:#f0f;background: none;}
.wrap{min-width: 1208px;width: 100%;margin: 0px auto;z-index: 1;clear: both;/*background: url(http://www.miomio.tv/test/sybg.png) repeat top left;*/background: url(http://www.miomio.tv/statics/images/blood_background_04.png) repeat top left;border-top: solid 1px #949597;}

/*历史记录*/
.lsb {float:right;padding-right: 4px;}
div.lsb:hover{height:23px;}
.home{margin-left:16px}
.lsa{position:relative;display:block;float:left;cursor:pointer}
.lsa .lsalink{position:relative;padding:1px 12px;line-height:30px;display:block;height:30px;color:#008BB9;font-size:14px;z-index:99;float:left}
.lsa .lsalink a{line-height:30px;color:#FFF;text-decoration:none}
.lsa:hover{background:#FFF}
.lsa:hover .lsalink{color:#22D0DF;border:1px solid #78D0FA;padding:0 11px;text-decoration:none}
.lsa:hover .lsalink a{color:#357d13}
.xiala:hover .lsblink{border-bottom:1px solid #FFF;border-left:1px solid #78D0FA;height:31px}
.xiala ul{display:none}
.xiala:hover ul{position:absolute;display:block;margin-left:-1px;top:32px;left:1px;z-index:200}
.xiala .subnavls{width:250px}
.xiala .subnavls a{padding:4px 0 4px 10px;line-height:16px;width: 230px;display:block;white-space:nowrap;color:#333;float: left;overflow: hidden;}
.xiala .subnavls :hover{color:#080}
.xiala .subnavls{background:#FFF;border:1px solid #78D0FA;padding:8px}
/*历史记录*/

/* logo */
#header{width:1160px;height:85px}
#header-bg{background: url(http://www.miomio.tv/test/main-bg.png) repeat top left;}
#header .logo{background: 0;}
#header .logo img{height:76px;top:3px;left:12px;padding:10px 0;}
#header .weibo{float:right;}

/* 搜索 */
#ss{width:1160px;height:32px;padding:0 12px 0 12px;clear:both;background: url(http://www.miomio.tv/test/modmid0.png)}
.yulu{width:728px;height:25px;color:#999;overflow:hidden;float:left;padding-top:7px}
.yulu a{color:#666}

.search{width:426px;height:30px;line-height:32px;
margin-top:2px;float:right}
.search a{text-decoration:none;cursor:pointer}
.search input{float:left;height: 28px;}
.search .text {font-size: 14px;width: 354px;padding:4px;border: solid 1px #03A6DE;}
.search .bt { font-size: 14px; width: 70px;background-color: #3cf; border: solid 1px #03A6DE; border-left: none; color: #fff; cursor: pointer; }

.sa{width:52px;height:24px;line-height:24px;background:url(http://www.miomio.tv/test/a.png) no-repeat -99px -82px;border:1px solid #ddd;border-right:1px solid #eee;position:relative;float:left;color:#666;padding-left:8px;z-index:999}
.sa_hover{background:url(http://www.miomio.tv/test/a.png) no-repeat -99px -107px}
.lanmu{border:#ddd 1px solid;position:absolute;width:60px;top:24px;left:-1px;z-index:9999}
.lanmu a{height:26px;line-height:26px;display:block;padding-left:10px;border-bottom:1px solid #eee;background:#FFF;color:#666}
.lanmu a:hover{background:#f6f6f6;color:#390}
.sb{width:157px;height:24px;line-height:24px;border:1px solid #ddd;border-left:none;font-size:12px;color:#CCC;padding-left:4px!important;padding-left:0px}
.sc{background:url(http://www.miomio.tv/test/a.png) no-repeat -97px -144px;border:none;width:76px;height:26px;cursor:pointer}

/*首页登陆框 */
.iframe {position: absolute;width:100%;height:38px;right: 1px;}

/* 全站导航 */
#daohang{width:1184px;height:32px;border-bottom: 3px solid #3cf;margin-bottom:2px;position:relative;z-index:99}
#daohang .user{float:right;border: 3px solid #3cf;border-bottom: 3px solid #E2DFDF;margin-right: 20px;height: 29px;border-radius: 10px 10px 0 0;}
.home{margin-left:16px}
.tab,.tabr{position:relative;display:block;float:left;cursor:pointer}
.tab .tablink{position:relative;padding:1px 12px;line-height:30px;display:block;height:30px;color:#27282C;font-size:15px;font-weight: bold;z-index:99;float:left}
.tab .tablink a{line-height:30px;color:#FFF;text-decoration:none}
.tab:hover{}
.tab:hover .tablink{color:#3cf;border:2px solid #3cf;padding:0 10px;border-radius: 5px 5px 0 0;}
.tab:hover .tablink a{color:#357d13}
.tabr .tablink{position:relative;padding:1px 4px;line-height:29px;display:block;height:27px;color:#27282C;font-size:12px;font-family:Microsoft YaHei;z-index:99;background:0;float:left}
.tabr:hover .tablink{color:#3cf;}
.tabr:hover .tablink a{color:#357d13}

.dropdown:hover .arwlink{border-bottom: 3px solid #E2DFDF;border-left:2px solid #3cf;height:30px}
.dropdown ul{display:none}
.dropdown:hover ul{position:absolute;display:block;margin-left:-1px;top:33px;left:1px;z-index:9}
.subnav{width:250px}
.subnav a{padding:4px 0 4px 10px;line-height:16px;width:70px;display:block;white-space:nowrap;color:#333;float:left}
.subnav :hover{text-decoration:underline;color:#3cf}
.dropdown .subnav{background:#FFF;border:2px solid #3cf;padding:8px;border-radius: 0 5px 5px 5px;}

/* 广告 */
#topad{width:1160px;height:90px;padding:0 12px 2px 12px;background: url(http://www.miomio.tv/test/modmid0.png)}
.top728x90{width:728px;height:90px;background:#EEE;float:left}
.top210x90{width:210px;height:90px;background:#EEE;float:right;margin-left:6px}
.gg300x250{width:300px;height:250px;margin:10px 0;clear:both}

.lb728x90_2{width:728px;height:90px;margin:0 0 30px 0;clear:both}
.lb468x15{width:468px;height:15px;margin:25px 0}
.lb336x280{width:350px;height:280px;margin:30px 36px;clear:both}

.lb160x160{width:160px;height:160px;position:relative;margin:16px 0 22px 0}
.f160x160{width:160px;height:160px;overflow:hidden}

/* 当前位置 */
.place{height:25px;border-bottom:1px solid #EEE;color:#666;margin:4px 0 10px}
.place a{color:#666}
.place a:hover{color:#390}

/* 标语 */
.slogan{height:80px;margin:20px 0 9px;overflow:hidden}
.slogan span{background:url(http://img.lanrentuku.com/img/images/s.png);width:120px;height:80px;float:left}
.text{height:50px;line-height:24px;color:#666;border:1px solid #EEE;padding:14px 20px 14px 139px;*padding-left:19px}
.slogan a{color:#390;text-decoration:underline}
.slogan a:hover{text-decoration:none}

.slogan .vector{background-position:-120px 0}
.slogan .png{background-position:0 -80px}
.slogan .psd{background-position:-120px -80px}
.slogan .js{background-position:0 -160px}
.slogan .tx{background-position:-120px -160px}
.slogan .bg{background-position:0 -240px}
.slogan .gif{background-position:-120px -240px}
.slogan .qq{background-position:0 -320px}
.slogan .xixi{background-position:-120px -320px}

/* 右侧导航 */
.nav-sub{width:300px;display:table;margin-bottom:8px}
.nav-sub dt{height:30px;line-height:30px;margin-bottom:2px;background:#333}
.nav-sub dt span{font-size:14px;font-weight:bold;color:#FFF;margin-left:15px;float:left}
.nav-sub dt div{width:16px;height:30px;background:url(http://www.miomio.tv/test/a.png) no-repeat -85px -60px;margin-left:10px;float:left}
.nav-sub dt a{float:right;color:#FFF;margin-right:10px;filter:alpha(opacity=60)}
.nav-sub dt a:hover{filter:alpha(opacity=100)}
.nav-sub dd{width:75px;height:30px;line-height:30px;float:left;text-align:center;border-bottom:1px solid #EEE}
.nav-sub dd a{color:#666;border-bottom:1px solid #EEE;line-height:30px;display:block}
.nav-sub dd a.on{color:#390}
.nav-sub dd a:hover{color:#390}
.nav-sub .jx{background:#56B9E0}
.nav-sub .tx{background:#84BB44}
.l1 dd{width:290px;padding-left:10px;text-align:left}
.l3 dd{width:90px;padding-left:10px;text-align:left}

/* 左侧导航 */
.nav-left{width:158px;margin-bottom:10px;border:1px solid #EEE}
.nav-left dl{padding-bottom:22px;display:table}
.nav-left dt{color:#666;font-size:14px;font-weight:bold;padding:10px 0 8px 20px;position:relative}
.nav-left dt a{color:#CCC;font-size:12px;font-weight:normal;position:absolute;right:8px}
.nav-left dd{width:140px;height:32px;float:left;margin-left:10px}
.nav-left dd:hover{color:#390;background:#F6F6F6}
.nav-left dd a{color:#999;border-bottom:1px solid #F0F0F0;line-height:32px;display:block;padding-left:10px}
.nav-left dd a:hover{color:#390;text-decoration:none}

.tougao{width:160px;height:50px;display:block;margin:8px 0;background:url(http://www.miomio.tv/test/a.png) no-repeat 0 -217px;filter:alpha(opacity=40)gray()}
.tougao:hover{filter:alpha(opacity=100)}

/* 列表 */
.list-pic{float:left;margin-bottom:12px}
.list-pic dd{width:242px;height:212px;margin:12px 38px 0 0;float:left;display:inline}
.list-pic dd a{color:#666;border-bottom:4px solid #fff;line-height:30px;display:block}
.list-pic dd a:hover{color:#390;border-bottom:4px solid #333;text-decoration:none}
.list-pic dd img{width:240px;height:160px;border:1px solid #EEE}
.list-pic dd i{width:13px;height:13px;background:url(http://www.miomio.tv/test/a.png) no-repeat -177px -40px;float:right;margin-top:-26px}
.list-pic .lb728x90_1{width:728px;height:90px;margin:12px 0 24px}

.list-tx{float:left;margin-bottom:20px}
.list-tx dl{margin:10px 0}
.list-tx dd{width:670px;height:36px;float:left;display:inline}
.list-tx dd a{color:#666;line-height:36px;display:block;padding:0 12px;font-size:14px;border-left:3px solid #fff}
.list-tx dd a:hover{color:#390;text-decoration:none;background:#F6F6F6;border-left:3px solid #390}
.list-tx dd span{float:right;margin:-25px 16px 0 0;color:#CCC;font-size:12px}
.list-tx .line{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dashed #DDD}

.list-pngjs{float:left;margin-bottom:16px}
.list-pngjs dd{width:282px;height:180px;margin:20px 0 0 36px;float:left;display:inline}
.list-pngjs dd a{color:#666;border-bottom:4px solid #fff;line-height:30px;display:block}
.list-pngjs dd a:hover{color:#390;border-bottom:4px solid #333;text-decoration:none}
.list-pngjs dd span{float:right;margin-top:-25px;color:#BBB;font-size:12px}
.list-pngjs dd img{width:280px;height:140px;border:1px solid #EEE}

.list-qq{float:left;margin-bottom:12px}
.list-qq dd{width:242px;height:212px;margin:12px 38px 0 0;float:left;display:inline}
.list-qq dd a{color:#666;border-bottom:4px solid #fff;line-height:30px;display:block}
.list-qq dd a:hover{color:#390;border-bottom:4px solid #333;text-decoration:none}
.list-qq dd img{margin-top:expression(80-this.height/2);max-height:160px}
.list-qq dd i{width:13px;height:13px;background:url(http://www.miomio.tv/test/a.png) no-repeat -177px -40px;float:right;margin-top:-26px}
.list-qq dd p{width:238px;height:158px;border:1px solid #EEE;text-align:center;vertical-align:middle;display:table-cell;cursor:pointer}
.list-qq .lb728x90_1{width:744px;height:90px;margin:12px 0 24px}

/* 分页 */
.dede_pages{line-height:30px;clear:both}
.dede_pages ul{float:none;display:table}
.dede_pages ul li{float:left;margin-right:4px}
.dede_pages ul li a{float:left;padding:0 10px;color:#607C27;font-size:14px;font-weight:bold;border:1px solid #690}
.dede_pages ul li a:hover{color:#FFF;padding:0 10px;text-decoration:none;border:1px solid #690;background:#690}
.dede_pages ul li.nohref{color:#999;padding:0 10px;border:1px solid #DDD}
.dede_pages ul li.thisclass{color:#FFF;padding:0 10px;border:1px solid #690;background:#690;font-weight:bold}

/* 热荐 */
.h{width:300px;height:366px}
.h dt{height:30px;line-height:30px;color:#333;font-size:14px;font-weight:bold;border-bottom:1px solid #EEE;padding-left:10px}
.h dd{width:300px;height:66px;line-height:17px;float:left;border-bottom:1px solid #EEE}
.h dd:hover{background:#F6F6F6}
.h dd a{color:#666;display:block;padding:8px 10px}
.h dd a:hover{color:#390;text-decoration:none}
.h dd p{width:50px;height:50px;float:left;margin-right:10px;overflow:hidden}

.h dd .l{color:#999;display:block}
.h dd .t{color:#CCC;font-size:10px}

/* 热荐-文字 */
.h-t{width:300px;height:316px}
.h-t dt{height:30px;line-height:30px;color:#333;font-size:14px;font-weight:bold;border-bottom:1px solid #EEE;padding-left:10px}
.h-t dd{width:300px;height:56px;line-height:17px;float:left;border-bottom:1px solid #EEE;position:relative}
.h-t dd:hover{background:#F6F6F6}
.h-t dd a{height:40px;display:block;padding:8px 10px;color:#666}
.h-t dd a:hover{color:#390;text-decoration:none}
.h-t dd .l{color:#CCC;position:absolute;top:28px;left:10px}
.h-t dd .t{color:#DDD;position:absolute;top:30px;left:72px;font-size:10px}

/* 文章 */
.content-a{width:795px;line-height:26px;font-size:14px;float:left;border-left:5px solid #F0F0F0;margin-bottom:50px;padding:10px 15px 0 33px;overflow:hidden}
.content-b{width:840px;line-height:30px;font-size:14px;float:left;margin-bottom:30px;padding:10px 0;overflow:hidden}
.title{width:793px;height:72px;margin:20px 0;border-left:5px solid #333;padding:4px 10px 4px 32px}
h1{width:600px;font:32px "微软雅黑";color:#333;margin-bottom:6px}
.title .zuozhe{color:#AAA}
.title span{float:right;margin-top:-40px}
.title a{color:#390;padding:4px}
.jieshao{clear:both;margin:12px 0}
.xiazai{border-top:1px dashed #E2E2E2;margin-top:16px;padding:16px 0 2px}
.ny728x90{width:728px;height:90px;margin:20px 0}
.ny336x280{width:336px;height:280px;margin:8px 24px 20px 0;float:left}
.tag{border-top:1px dashed #E2E2E2;padding:8px 0;clear:both;font-size:12px}
.tag a{line-height:25px;padding:0px 5px;float:left}
.tag a:hover{color:#fff;border-radius: 6px;background:#3cf}

.content-news p{text-indent:2em;margin:0 0 8px 2px}
.content-news img{margin:12px 0 10px -30px;max-width:100%;height:auto}

.content-show img{margin:0 16px 16px 0;max-width:100%;height:auto}

.content-png{text-align:center}
.content-png img{text-align:center;margin:20px 50px 40px 10px}

.content-qq img{margin:14px}

.content-js{height:275px;border-bottom:1px dashed #E2E2E2}
.content-js .l{width:410px;float:left;padding-top:20px;text-align:center}
.content-js .l img{width:280px;height:140px}
.content-js .l span{margin:5px;font-size:12px;color:#999;display:block}
.content-js .r{width:370px;float:right;display:block}

.content-tx{width:780px;height:330px}
.content-tx .tishi{font-size:12px;color:#999}
.run{width:777px;height:275px;font-size:12px;margin-bottom:10px;resize:none}

.content-bg li,
.content-gif li{width:192px;height:192px;border:1px solid #EEE;float:left;margin:14px 14px 0 0;position:relative;overflow:hidden;cursor:pointer}
.content-gif span{width:192px;height:192px;text-align:center;vertical-align:middle;display:table-cell}
.content-gif span img{margin-top:expression(100-this.height/2)}
.save{width:100%;height:30px;line-height:30px;top:192px;left:0;position:absolute;background:#000;
font-size:12px;text-align:center;opacity:.8;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"}
.save a{color:#fff;display:block;cursor:pointer}

/* 按钮 */
.bt-blue{font-size:14px;line-height:33px;background:#4899E0;font-weight:bold;color:#FFF;padding:6px 18px 8px;margin-right:12px}
.bt-blue:hover{background:#368DD9;text-decoration:none}
.bt-green {font-size:14px;line-height:33px;background:#6FB934;font-weight:bold;color:#FFF;padding:6px 18px 8px}
.bt-green:hover{background:#5FA924;text-decoration:none}

/* 更多精彩 */
.more{height:78px;clear:both}
.more .l{width:185px;height:46px;background:url(http://www.miomio.tv/test/a.png) no-repeat 0 -172px;float:left}
.more .r{width:640px;height:1px;background:#EEE;float:right;margin:26px 4px 0 0}

.more-js{height:158px;clear:both}
.more-js dd{width:242px;height:160px;margin-left:30px;float:left}
.more-js dd a{color:#666;border-bottom:4px solid #fff;line-height:30px;display:block}
.more-js dd a:hover{color:#390;border-bottom:4px solid #333;text-decoration:none}
.more-js dd img{width:240px;height:120px;border:1px solid #EEE}
.more-js dd i{width:13px;height:13px;background:url(http://www.miomio.tv/test/a.png) no-repeat -177px -40px;float:right;margin-top:-26px}

.more-tx{height:250px}
.more-tx .l{width:320px;float:left;margin-left:40px}
.more-tx .r{width:460px;float:right}
.more-tx .r dd{width:320px;height:20px;background:url(http://www.miomio.tv/test/a.png) no-repeat -178px -67px;float:left;padding-left:20px;overflow:hidden;margin:10px 9px 0}
.more-tx .r dd a{color:#333;display:block}
.more-tx .r dd a:hover{color:#390;text-decoration:underline}

/* 尾部 */
#footer{height:280px;background: url(http://www.miomio.tv/test/modmid0.png);padding:45px 0 16px 25px;clear:both}
.about dl{width:126px;height:210px;padding:8px 16px 0 0;float:left;text-align:right;line-height:22px;border-right:1px solid #333}
.about dt{color:#666;font-weight:bold;padding-bottom:12px}
.about dd{height:24px;line-height:24px;color:#8C8D8D}
.about dd a{color:#8C8D8D}
.about dd a:hover{color:#3cf}
.about dd a i{font-style:normal;}
.about dd .minihot{width:15px;height:7px;background:url(http://www.miomio.tv/test/a.png) no-repeat -137px -40px;margin:0 4px 1px 0}
.jinbu dl{width:280px;height:210px;padding:8px 16px 0 80px;float:left;line-height:22px}
.jinbu dt{color:#666;font-weight:bold;padding-bottom:12px}
.jinbu dd{line-height:24px;color:#666}
.jinbu dd a{color:#666}
.copyright{color:#666;float:right;font-size:10px;padding:40px 20px 10px}
.copyright a{color:#666}
.copyright a:hover{color:#999}
.beian{float:left;padding:40px 20px 10px}
.beian a{color:#1a1a1a}
.beian a:hover{color:#333}

/* 其他 */
.hot{background:#84F3EA;border: 1px solid #5F6161;border-radius: 6px;position:absolute;padding: 2px 4px 3px 3px;font-family: "微软雅黑",Arial;font-size: 10px;line-height: 100%;text-shadow: 1px 1px 2px #333;-webkit-text-size-adjust: none;right:-8px;top:-9px;z-index:999;opacity: .8;}
.hotall {border: 1px solid #626DF1;background: #C1F57F;color: #000;}
.new{width:22px;height:12px;background:url(http://www.miomio.tv/test/a.png) no-repeat -85px -40px;position:absolute;right:22px;top:-9px;z-index:999}
.half{width:98%;height:12px;margin:6px 0 38px;border-bottom:4px dashed #EEE;float:left;position:relative}
.pinglun{margin:0 2px 100px 0}
.tqq{width:66px;height:66px;background:url(http://www.miomio.tv/test/a.png) no-repeat 0 -268px;margin:12px 0 100px}
.tqq:hover{background-position:-73px -268px}
.egg{width:97%;height:30px;margin:30px 0 90px;color:#999}
.egg a{color:#390;text-decoration:underline}
.div2{top:0;z-index:999;position:fixed;_position:absolute}

.go{width:47px;height:106px;background:#FFF;position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));right:12px;_right:-47px;bottom:260px;border-radius:5px;box-shadow:0 0 2px #6E6E6E}
.go a{background:url(http://www.miomio.tv/test/a.png) no-repeat;display:block;width:37px;margin:5px;border:0;overflow:hidden;float:left}
.go .top{background-position:0 -33px;height:22px}
.go .feedback{background-position:0 -54px;height:32px}
.go .bottom{background-position:0 -88px;height:22px}
.go .top:hover{background-position:-38px -33px}
.go .feedback:hover{background-position:-38px -54px}
.go .bottom:hover{background-position:-38px -88px}

.lanren{width:1148px;height:72px;line-height:22px;border-bottom:1px solid #EEE;margin:10px 0;padding:6px}
.lanren a{color:#666;background:#F6F6F6;text-decoration:none;margin:0 10px 10px 0;white-space:nowrap;float:left;padding:2px 8px}
.lanren a:hover{color:#FFF;background:#390}

/* about */
.ab-l{width:300px;height:500px;margin:20px 0 120px;float:left;border-left:1px solid #EEE}
.ab-l dt{height:60px;color:#333;font-size:26px;margin:20px 0 10px 32px;font-family:Georgia,Times}
.ab-l dt span{color:#999;font-size:12px;padding-top:2px;display:block}
.ab-l dd{width:270px;height:36px;line-height:36px;margin-left:20px;float:left}
.ab-l dd a{display:block;color:#333;padding-left:16px}
.ab-l dd a:hover{text-decoration:none;color:#390}
.ab-l dd span{padding-left:16px}
.ab-l .cur{background:url(http://img.lanrentuku.com/img/images/about-bg.gif) no-repeat}
.ab-r{width:830px;margin:20px 0 120px;float:right}
.ab-r .t{font-size:24px;margin:24px 0 43px 2px;font-family:Georgia,Times;color:#390}
.ab-r .t a{color:#390}
.ab-r .c{line-height:22px;font-size:12px;color:#666;font-family:Georgia,Times}
.ab-r .kuang{height:24px}
.lvniu{font-size:14px;font-weight:bold;color:#FFF;background-color:#6FB934;border:none;height:33px;padding:0 18px;cursor:pointer}
.lvniu:hover{background:#5FA924}
.ab-r p{margin:0 4px 9px 5px}
.ab-r a{text-decoration:underline;color:#666}
.ab-r .m10{margin-bottom:10px}
.ab-r .m20{margin-bottom:20px}
.ab-r .link{height:80px}
.ab-r .link a{line-height:24px;font-size:12px;text-decoration:underline;color:#666;margin:0 6px;white-space:nowrap;float:left}
.ab-r .link a:hover,.link a:visited{color:#390}

/* 首页 ---------------------*/

/* 容器 */
.w1160{margin:auto;clear:both;padding: 0 11px 0 11px;background: url(http://www.miomio.tv/test/modmid.png);}
/*.in-box{border:1px solid #ddd;border-top:7px solid #3cf}*/
.in-box{border-top:7px solid #3cf;margin-top: 4px;}
.modtop{height:6px;background:url(http://www.miomio.tv/test/modtop.png)}
.modbottom{margin-bottom: 8px;height:7px;clear: both;background:url(http://www.miomio.tv/test/modbottom.png)}
.modtop0{height:6px;background:url(http://www.miomio.tv/test/modtop0.png)}
.modbottom0{margin-bottom: 4px;height:7px;clear: both;background:url(http://www.miomio.tv/test/modbottom0.png)}

/* 高度 */
.h90{height:90px}
.h415{height:500px;}
.h408{height:408px}
.h277{height:277px}
.h270{height:270px}

/* 3列图文 */
.all {width:850px;float:left}
.all dt{height:40px;position:relative}
/*.all dt a{float:right;margin:12px;color:#666}*/
.all dd{width:241px;height:190px;margin:0px 10px 10px 6px;float:left;display:inline}
.all dd a{color:#666;height: 190px;overflow:hidden;border-bottom:4px solid #fff;line-height:30px;display:block;-webkit-transition: all .4s linear;}
.all dd a:hover{color:#000;border-bottom:4px solid #3cf;text-decoration:none}
.all-dd-div{width:240px;height:160px;overflow: hidden;}
.all dd img{width:238px;height:158px;border:1px solid #3cf;display:block;-webkit-transition: all .4s linear;}
.all dd i{width:13px;height:13px;background:url(http://www.miomio.tv/test/a.png) no-repeat -177px -40px;float:right;margin-top:8px}

/* 第一栏目 */
.po1 {position: relative;width: 188px;height: 140px;padding-right: 9px;background: url(http://www.miomio.tv/test/syxk.png) no-repeat;float: left;}
.po1 img{width:176px;height:128px;padding:3px;-webkit-transition: all .2s linear;}
.po1:hover img{background:#3cf}
.po1 .z{position:absolute;font-weight:normal;width:104px;-webkit-text-size-adjust:none;font-size:13px;color:#7c7c7c;padding:2px 3px 0 3px;height:18px;line-height:18px;-moz-transition:all .2s linear;-webkit-transition:all .2s linear;-o-transition:all .2s linear;left:8px;top:96px;z-index:2}
.po1 .z i{float:right;color:#FFF;font-style:normal;font-weight: bold;font-size: 12px;}
.po1 .z b{float:left}
.po1:hover .z i,.po1:hover .z b{color:#000}
.po1 .vbg{width:120px;height:24px;background:url(http://www.miomio.tv/test/ptime.png) no-repeat;left:1px;top:96px;filter:alpha(opacity = 80);position:absolute;z-index:1}
.po1 .t{line-height:16px;color:#111;margin-left:8px;padding-top: 6px;text-align:left;display:block;overflow:hidden;width:172px;height:33px;-moz-transition:all .2s linear;-webkit-transition:all .2s linear;-o-transition:all .2s linear;text-shadow:1px 1px 1px #DDD}
.po1:hover .t{color:#3cf;height:33px}
.po1 .i{background:url(http://www.miomio.tv/test/bf.png) no-repeat;height:14px;width:135px;margin-left:6px;-webkit-text-size-adjust:none;color:#999}
.po1:hover .i{color:#333}
.po1 .i b{float:left;height:14px;line-height:14px;text-align:left;-webkit-text-size-adjust:none;font-size:11px;font-family:"微软雅黑",Arial;font-weight:normal}
.po1 .i b.c1{width:54px;margin-left:14px}
.po1 .i b.c2{width:40px;margin-left:18px}
.poall{height:200px;margin-left:8px}
/*第一栏目4小图*/
.r5 {border-radius: 5px;border: 2px solid #3cf;float:left;width:100px;height:70px;margin: 0 8px 0 0;-webkit-transition: all .2s linear;}
.r5:hover{border-radius: 5px;border: 2px solid #f39;}
.douga_sy_list li {width: 280px;padding: 2px 8px 10px 8px;float: left;display: inline;} 
.douga_sy_list li .ag_d {height: 40px;overflow: hidden;line-height:20px;color: #AAA;}
.douga_sy_list li .ag_t a{font-size: 14px;color: #3cf;height: 20px;display: block;overflow: hidden;-webkit-transition: all .2s linear;}
.douga_sy_list li .ag_t a:hover {color: #FF81B2}
.douga_sy_list li .ag_i span {margin: 0 10px 0 0;}
.douga_sy_list li .ag_i span b {color: #58575A;}

/* 第二栏目 */
.lm2a {width:320px;height:370px;float:left}
.lm2a .btg{height:200px;width: 290px;float: left;padding-left: 8px;}
.lm2a .btg a{display: block;height:195px;overflow:hidden;-webkit-transition: all .4s linear;}
.lm2a .btg img{width:290px;height:170px;padding-bottom: 5px;-webkit-transition: all .4s linear;}
.lm2a .btg i{width: 13px;height: 13px;background: url(http://www.miomio.tv/test/a.png) no-repeat -177px -40px;float: right;margin-top: 2px;}
.lm2b {width:265px;height:370px;float:left}
.lm2b .t2p{width:265px;height:102px;}
.lm2b .t2p .t2pa{width:132px;float:left;}
.lm2b .t2p .t2pa a{width:104px;float:left;height: 92px;overflow: hidden;-webkit-transition: all .2s linear;}
.r2p {border-radius: 5px;border: 2px solid #DCE7EB;width: 100px;height: 70px;margin: 0 25px 3px 0;-webkit-transition: all .2s linear;}
.r2p:hover {border-radius: 5px;border: 2px solid #3cf;}

/* 12条3列 */
.t12 {width:850px;clear:both}
.t12 p{width:250px;height: 17px;background:url(http://www.miomio.tv/test/a.png) no-repeat -182px -98px;float:left;padding-left:16px;overflow:hidden;margin:8px 10px 1px 6px;display:inline}
.t12 p a{color:#333;width: 220px;display:block;}
.t12 p a:hover{color:#3cf;text-decoration:underline}
.tt12 {width:256px;float:left;}

/* 12条 */
.t11 {width:290px;height:408px;float:right}
.t11 dt{height:40px}
.t11 dt a{float:right;margin:12px;color:#666}
.t11 dd{width:260px;height:20px;line-height:20px;background:url(http://www.miomio.tv/test/a.png) no-repeat -178px -66px;float:left;padding-left:20px;overflow:hidden;margin:9px 9px 1px;display:inline}
.t11 dd a{color:#333;display:block}
.t11 dd a:hover{color:#3cf;text-decoration:underline}

/* 首屏 */
.in-main{width:1160px;padding: 0 12px 0 12px;background: url(http://www.miomio.tv/test/modmid.png);height:390px;}
.in-main .l{width:426px;float:left;margin-right:8px}

/* 首页推荐 */
.tx_img{float: left;width: 860px;}
.tx_img li{float: left;height: 140px;width: 160px;margin: 0 12px 10px 0;}
.tx_img li a{display: block;}
.tx_img li img{width: 160px;height: 90px;border-radius: 3px;background-color: #F3F2F2;}
.tx_title{margin-top:6px;display: block;height: 18px;overflow: hidden;}
.tx_time{display: block;height: 18px;overflow: hidden;width:109px;float:left;color: #999;}
.tx_date{height: 18px;overflow: hidden;color: #999;}
.tx_img p a {display: block;float: left;width: 68px;height: 79px;overflow: hidden;background: url(http://www.miomio.tv/test/tx_index_img.jpg) no-repeat 0 0;padding: 6px 9px 6px 6px;text-align: center;color: black;}
.tx_img p a:hover, .tx_img p a.cur {background: url(http://www.miomio.tv/test/tx_index_img.jpg) no-repeat -85px 0;color: white;}

/* 焦点图 */
.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_nav{height:51px;width:31px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;opacity:0.5;text-indent:-9999px;overflow:hidden;text-decoration:none;background:url(../images/i.png) no-repeat 0 -560px;margin-top:-28px}
.rslides_nav:active{opacity:1.0}
.rslides_nav.next{left:auto;background-position:-31px -560px;right:0}
.rslides_tabs{margin:12px auto;clear:both;text-align:center}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px}
.rslides_tabs a{text-indent:-9999px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:rgba(0,0,0, .2);background:#DDD;display:inline-block;_display:block;*display:block;width:9px;height:9px}
.rslides_tabs .rslides_here a{background:rgba(0,0,0, .6);background:#390}

.focus{width:426px;height:240px;border:1px solid #EEE;position:relative;margin-top:6px;float:left}
.f426x240{width:426px;height:240px;overflow:hidden}
.f426x240 img{width:426px;}

.in-tad{width:408px;height:69px;float:left;margin-top:45px;border:1px solid #EEE;padding:9px 0 10px 16px}
.in-tad dd{width:194px;height:22px;line-height:22px;float:left;margin:0 10px 2px 0;display:inline;overflow: hidden;background: url(http://www.miomio.tv/test/a.png) no-repeat -178px -66px;}
.in-tad dd a{color:#999;display:block;padding-left:20px}
.in-tad dd a:hover{color:#3cf}
.in-tad h3{position: absolute;left: 180px;background: white;margin-top: -20PX;padding: 0 15px;font-size: 13px;}

.in-main .m{width:860px;height:390px;float:left}
.in-main .m dt{height:40px;margin-left:6px;margin-top:2px;font-size: 24px;color: #969696;text-shadow: none;}
.in-main .m dt span{float:right;margin:14px 2px;color:#999}
.in-main .m dd{width:402px;height:22px;float:left;margin-left:8px;border-bottom:1px dashed #F0F0F0;display:inline}
.in-main .m dd a{line-height:23px;display:block;height: 23px;width: 300px;overflow: hidden;padding:0 22px;background:url(/statics/images/a-mionew.png) no-repeat -178px -64px}
.in-main .m dd span{margin-right:10px;padding-left:18px;float:right;margin-top:-20px;color:#CCC}

.in-main .r{width:290px;height:379px;float:right}
.in-main .r dt{height:40px;background:url(../images/i.png) no-repeat 0 -40px}
.in-main .r dt a{float:right;margin:11px;color:#666}
.in-main .r dd{width:282px;height:152px;margin:10px 8px 2px;float:left;display:inline}
.in-main .r dd p{width:280px;height:120px;border:1px solid #EEE;overflow:hidden}
.in-main .r dd img{width:280px;height:140px}
.in-main .r dd span{float:right;margin-top:-22px;color:#ccc;font-size:12px}

/* 栏目 */
.in-vector {height:40px;margin-left:6px;margin-top:2px;font-size: 24px;color: #969696;text-shadow: none;}
.in-kxjs {background:url(../images/i.png) no-repeat 0 -280px}
.in-bbs {width:290px;float:right}
.in-bbs dt{height:40px;background:url(../images/i.png) no-repeat 0 -120px}
.in-bbs dt a{float:right;margin:12px;color:#666}
.in-bbs img{width:120px;height:60px;-webkit-border-radius: 2px;border-radius: 2px;}
.in-bbs dd a{color:#666;width:260px;height:20px;line-height:20px;background:url(http://www.miomio.tv/test/a.png) no-repeat -178px -66px;float:left;padding-left:20px;overflow:hidden;margin:10px 9px 1px}
.in-bbs dd a:hover{color:#390;text-decoration:underline}
.ty_right {padding-left:5px}
.mb5{margin-bottom: 5px;height:100px;}
.syzt{float:right;margin-right: 12px;}
.stroll_list{margin-left: -20px;}
.stroll_list li{float: left;margin-left: 20px;width: 120px;display: inline;}
.stroll_list .pic_0{width:120px;height:60px;display:block;margin-bottom:5px}
.stroll_list .pic_0 img{width:120px;height:60px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:3px}
.stroll_list .textlist {height: 35px;overflow: hidden;}
.stroll_list .textlist a{display:block;}
.yule612{position:relative;}
.yule612 .zhuanqu{width:45%;margin-right:12px;display:inline}
.yule612 .zhuanqu .common_t{padding:0;overflow: hidden;height: 18px;}
.partC{background:url(http://www.miomio.tv/test//layout_bg.png) no-repeat -999px bottom;padding-bottom:62px;margin-bottom:0px}
.zhuanqu{float:left;margin:0;padding:0;width:50%}
.common_t span {color: #518900;}
.common_t b {margin: 0 3px;font-weight: normal;color: #D4D4D4;}
.common_t span a {color: #3cf;}
.common_t span a:hover {color: #ff8182;}
.Ranking_list li {padding:6px 0 0 0;height:17px;overflow:hidden}
.Ranking_list li .bule{background: url(http://www.miomio.tv/test/round.png) no-repeat;padding:0 12px 0 3px;color: #fff;font-weight: bold;}
.Ranking_list .gekai{padding-top:20px;}

.in-psd{background:url(../images/i.png) no-repeat 0 -160px}
.in-news{background:url(../images/i.png) no-repeat 0 -200px}
.in-newsb{height:140px;}
.in-newsb li{color:  #8e8e8e;width: 200px;height: 50px;overflow: hidden;margin-top: 84px;margin-left: 90px;position: absolute;}
.in-newstop{background: #3cf;padding: 6px 8px 4px 6px;color:  #fff;font-size: 22px;float:left;width:66px;}
.yuleb{width: 100px;height: 70px;float:left;padding:0 25px 22px 18PX;}
.jiaoxueb{border-bottom: 1px dashed #eee;padding: 3px 0 3px 8px;}
.jiaoxueb p{color: #AAA;padding-top: 2px;}
.jiaoxueb span{color: #AAA;padding-top: 2px;float: right;}
.jiaoxueb em{font-family: Arial;font-size: 13px;font-weight: bold;text-align: center;width: 20px;position:absolute;width:16px;}
.jiaoxueb .fl{padding-left:22px}

.nt{float:left;padding-left:36px;width:172px;height:80px;font-size: 16px;}
.ntmore{}
.ntmore li{display: block;overflow: hidden;padding: 2px 0 3px 0;background: url(http://www.miomio.tv/statics/images/csa.png) repeat-x center bottom;}
.ntmore li .t {line-height: 26px;height: 26px;overflow: hidden;}
.ntmore li .t span{text-shadow: none;margin: 0 5px 0 2px;color: white;font-size: 12px;padding: 1px 2px 1px 2px;border-radius: 5px;}
.ntmore li .t span.c10 {background: #F9C;}
.ntmore li .t span.c11 {background: #3c3;}

.in-bg{background:url(../images/i.png) no-repeat 0 -240px}
.hen3{float:left;width:240px;padding:0 30px 4px 10px}
.hen3 a, .hen3r a{display: block;width:243px;height: 179px;overflow: hidden;-webkit-transition: all .2s linear;}
.hen3r{width: 240px;float:left;padding:0 25px 4px 10px}
.hen3 img, .hen3r img{width:240px;height:154px;margin-bottom:6px;border:1px solid #3cf;-webkit-transition: all .2s linear;}
.hen3 i,.hen3r i{width: 13px;height: 13px;background: url(http://www.miomio.tv/test/a.png) no-repeat -177px -40px;float: right;margin-top: 2px;}

.in-png {width:290px;height:408px;float:right}
.in-png dt{height:40px;background:url(../images/i.png) no-repeat 0 -360px;}
.in-png dt a{float:right;margin:12px;color:#666}
.in-png dd{width:282px;height:180px;margin:0 8px;float:left;display:inline;overflow:hidden;}
.in-png dd a{color:#666;line-height:30px;display:block}
.in-png dd a:hover{color:#3cf}
.in-png dd img{width:280px;height:140px;border:1px solid #EEE}
.in-png dd span{float:right;margin-top:-22px;color:#ccc;font-size:10px}

.in-show{background:url(../images/i.png) no-repeat 0 -320px}
.in-ued{background:url(../images/i.png) no-repeat 0 -360px}

.in-qq {width:850px;float:left}
.in-qq dt{height:40px;background:url(../images/i.png) no-repeat 0 -400px;position:relative}
.in-qq dt a{float:right;margin:12px;color:#666}
.in-qq dd{width:240px;height:190px;margin:12px 10px 10px 27px;float:left;display:inline}
.in-qq dd a{color:#666;height: 186px;overflow: hidden;border-bottom:4px solid #fff;line-height:30px;display:block;-webkit-transition: all .4s linear;}
.in-qq dd a:hover{color:#3cf;border-bottom:4px solid #3cf;text-decoration:none}
.in-qq dd img{margin-top:expression(100-this.height/2);max-height:160px;width:238px;height:158px;-webkit-transition: all .4s linear;}
.in-qq dd i{width:13px;height:13px;background:url(http://www.miomio.tv/test/a.png) no-repeat -177px -40px;float:right;margin-top:8px}
.in-qq dd p{width:238px;height:158px;border:1px solid #3cf;overflow:hidden;text-align:center;vertical-align:middle;display:table-cell}

.in-gif{background:url(../images/i.png) no-repeat 0 -440px}

.in-tools{width:290px;height:270px;float:right}
.in-tools dt{height:40px;background:url(../images/i.png) no-repeat 0 -480px;margin-bottom:4px}
.in-tools dt a{float:right;margin:12px;color:#666}
.in-tools dd{width:278px;mheight:40px;margin:0 10px;border-bottom:1px dashed #eee}
.in-tools dd:hover{background:#F6F6F6}
.in-tools dd p{width:32px;height:32px;float:left;margin:2px 10px 0 0;background:url(../images/i.png) no-repeat}
.in-tools dd .t1{background-position:-62px -560px}
.in-tools dd .t2{background-position:-94px -560px}
.in-tools dd .t3{background-position:-126px -560px}
.in-tools dd .t4{background-position:-158px -560px}
.in-tools dd span{color:#999;display:block}
.in-tools dd a{color:#333;line-height:18px;display:block;padding:8px 10px}
.in-tools dd a:hover{color:#3cf;text-decoration:none}

.in-yx{background:url(../images/i.png) no-repeat 0 -400px}
.ztbs {width: 184px;float: left;height: 50px;padding-top: 5px;}
.jjbs {line-height: 29px;}
.jjbs a {float: left;width: 95px;height: 32px;line-height: 32px;}
.jjbs a:hover {background:none;}
.jjbs img {width: auto;height: auto;display: inline-block;padding-right: 3px;float: left;margin-top: 6px;margin: 7px 3px 0 0;}

/*相关视频*/
.tuiguang {float:left;width:850px;padding-top:30px;overflow:hidden;}
.tuiguang h5{padding-left:5px;padding-bottom:5px;}
.tuiguang .xg{float:left;width:850px;max-height:280px;}
.tuiguang .xg .thumb a {display:block;background: none;}
.tuiguang .xg ul {width:850px;}
.tuiguang .xg ul li{width:106px;float:left;padding:0 26px 28px 8px;}
.tuiguang .xg ul li .thumb span{cursor:pointer;margin:-81px 0px 0;background:0;height:79px;width:104px;float:left}
.tuiguang .xg ul li .thumb a:hover span{position:relative;background: url(http://www.miomio.tv/statics/images/playtop.png);border:1px solid #666;-moz-box-shadow:0 0 7px #AAA;box-shadow:0 0 7px #AAA}
.tuiguang .xg ul li a img{display:block;width:100px;height:75px;margin:0 auto;padding: 2px;border: 1px solid #DDD;-moz-box-shadow: 0px 0px 3px #DFDFDF;-webkit-box-shadow: 0px 0px 3px #DFDFDF}
.tuiguang .xg ul li a:hover img {background-color: #3cf;}
.tuiguang .xg ul li a .t{line-height: 16px;width: 100px;padding-top: 3px;text-align: left;display: block;overflow: hidden;height: 33px;-moz-transition: all .2s linear;-webkit-transition: all .2s linear;}


/* 友情链接 */
.links {height:120px;margin:8px auto;clear:both}
.links dt{height:39px;line-height:39px;background:url(../images/i.png) no-repeat 0 -520px;text-align:right}
.links dt span{float:left;margin-left:800px;color:#999}
.links dt a{float:right;margin:0 10px;color:#666}
.links dd{height:56px;padding:14px 20px 0}
.links dd a{height:26px;line-height:26px;color:#333;margin-right:10px;white-space:nowrap;float:left}
.links dd a:hover{color:#390}
.links dd a:visited{color:#390}

/* 友情链接 */
.c-link{display:block;overflow:hidden;margin:0 auto;text-align:left;background: url(http://www.miomio.tv/test/modmid0.png);}
.c-link .c-t{height:28px;line-height:26px;border:1px solid #ddd;background:#f5f5f5 url(http://www.miomio.tv/statics/images/youlian.png) no-repeat 3px 2px;padding-left:30px;font-size:14px;display:block;overflow:hidden;color:#555}
.c-link .c-t .b{font-size:12px;color:#bbb;margin-right:10px;float:right;font-weight:normal;text-decoration:none}
.c-link .yq {display:block;float:right;width:124px;margin-top:5px;margin-right:5px;height:64px;background:url(/statics/images/logobg.png) no-repeat left top}
.c-link .yq a {background:none;}
.c-link .yq img{margin-left:25px;margin-top:18px}
.c-link .imgs{display:block;overflow:hidden;padding:10px;width:1020px;float:left}
.c-link .imgs img{margin:3px}
.c-link .imgs li{display:block;overflow:hidden;list-style-type:none;padding:0;margin:0 3px 2px 3px;float:left}
.c-link .noimg {padding-left:20px;padding-top: 0px;}


/* 其他 */
.in852x90{width:852px;height:90px;float:left;background:#EEE url(../images/i.png) no-repeat 100% 100%}
.in300x90{width:295px;height:90px;float:right}
.in300x250{width:295px;height:276px;border-bottom:1px solid #ddd;float:right}
.ggzz{width:84px;height:11px;background:url(../images/i.png) no-repeat -106px -597px;float:right;margin-top:8px}
.huanxin{width:36px;height:16px;background:url(../images/i.png) no-repeat -66px -594px;position:absolute;left:182px;top:10px;display:block}

/* JS首页 ---------------------*/
.js-main{width:1160px}
.js-main .l{width:336px;float:left;padding:0 10px 18px 0}

.js-tad{width:314px;height:62px;float:left;margin-top:13px;border:1px solid #EEE;padding:10px}
.js-tad dd{width:150px;height:22px;float:left;margin-left:5px}
.js-tad dd a{color:#999;display:block}
.js-tad dd a:hover{color:#390}

.js-main .m{width:490px;float:left}
.js-main .m dt{height:40px;margin-left:6px;background:url(http://img.lanrentuku.com/img/images/js.png) no-repeat 0 -401px;margin-bottom:4px}
.js-main .m dt span{float:right;margin:14px 2px;color:#999}
.js-main .m dd{width:490px;height:32px;margin-left:8px;border-bottom:1px dashed #F0F0F0;float:left}
.js-main .m dd a{color:#666;line-height:32px;display:block;padding:0 22px;background:url(http://www.miomio.tv/test/a.png) no-repeat -178px -60px}
.js-main .m dd a:hover{color:#390}
.js-main .m dd span{margin-right:10px;padding-left:18px;float:right;margin-top:-26px;color:#BBB}

.js-main .r{width:300px;float:right;color:#999;line-height:22px}
.js-search{margin:16px 0 12px}
.js-search .a{width:206px;height:26px;line-height:26px;padding-left:6px;border:3px solid #ffc128;color:#999;vertical-align:middle}
.js-search .b{width:82px;height:32px;line-height:32px;background:#ffc128;border:none;font-size:14px;font-weight:bold;color:#FFF;cursor:pointer;vertical-align:middle;padding-bottom:5px!important}

/* 6个JS图片 */
.js-6p {width:850px;height:408px;float:left}
.js-6p dt{height:40px;position:relative;background:url(http://img.lanrentuku.com/img/images/js.png) no-repeat 0 -440px}
.js-6p dt a{float:right;margin:12px;color:#666}
.js-6p dd{width:241px;height:160px;margin:12px 10px 6px 27px;float:left;display:inline}
.js-6p dd a{color:#666;border-bottom:4px solid #fff;line-height:30px;display:block}
.js-6p dd a:hover{color:#390;border-bottom:4px solid #333;text-decoration:none}
.js-6p dd img{width:240px;height:120px;display:block;border:1px solid #EEE}
.js-6p dd img:hover{width:240px;height:120px;display:block}
.js-6p dd span{float:right;margin-top:-24px;color:#ccc;font-size:12px}

/* 特效8块 */
.js-tx {width:420px;height:196px;border:1px solid #DDD;border-top:6px solid #333;float:left;margin:0 8px 9px 0;position:relative}
.js-tx dt{height:40px;background:url(http://img.lanrentuku.com/img/images/js.png) no-repeat}
.js-tx dt a{float:right;margin:12px;color:#666}
.js-tx dd{width:260px;height:18px;background:url(http://www.miomio.tv/test/a.png) no-repeat -178px -67px;line-height:18px;float:right;padding-left:20px;overflow:hidden;margin:9px 9px 1px}
.js-tx dd a{color:#333;display:block}
.js-tx dd a:hover{color:#390;text-decoration:underline}
.js-tx p{width:100px;height:100px;background:url(http://img.lanrentuku.com/img/images/js.png);position:absolute;left:20px;top:50px;cursor:pointer}

.tx-0{background:url(http://img.lanrentuku.com/img/images/js.png) no-repeat 0 -480px}
.tx-1 dt{background-position:0 -520px}
.tx-1 p{background-position:0 0}
.tx-2 dt{background-position:0 -560px}
.tx-2 p{background-position:-100px 0}
.tx-3 dt{background-position:0 -600px}
.tx-3 p{background-position:0 -100px}
.tx-4 dt{background-position:0 -640px}
.tx-4 p{background-position:-100px -100px}
.tx-5 dt{background-position:0 -680px}
.tx-5 p{background-position:0 -200px}
.tx-6 dt{background-position:0 -720px}
.tx-6 p{background-position:-100px -200px}
.tx-7 dt{background-position:0 -760px}
.tx-7 p{background-position:0 -300px}
.tx-8 dt{background-position:0 -800px}
.tx-8 p{background-position:-100px -300px}

/* 投稿 */
.js-tougao{width:256px;height:366px;padding:21px;float:right}
.js-tougao p{line-height:22px;padding-top:15px}
.js-tougao .tg{width:160px;height:50px;display:block;background:url(http://www.miomio.tv/test/a.png) no-repeat 0 -217px;margin:5px auto}

/* 工具推荐 */
.js-tools{height:182px}
.js-tools dt{height:40px;background:url(../images/i.png) no-repeat 0 -480px}
.js-tools dt a{float:right;margin:12px;color:#666}
.js-tools dd{width:250px;margin:7px 0 0 32px;border-bottom:1px dashed #eee;float:left;display:inline}
.js-tools dd:hover{background:#F6F6F6}
.js-tools dd img{width:32px;height:32px;float:left;margin:2px 10px 0 0}
.js-tools dd span{color:#999;display:block}
.js-tools dd a{color:#333;line-height:18px;display:block;padding:8px 10px}
.js-tools dd a:hover{color:#390;text-decoration:none}



/* 竖-格兰 */
.shuge{border-left: 2px dashed #eee;height: 160px;width: 15px;float: left;}

/*yl-横 */
.mod_bd ul li{width: 138px;padding-right: 32px;padding-top: 10px;float: left;display: inline;overflow: hidden;}
.mod_bd .video {position: relative;display: inline-block;overflow: hidden;text-decoration: none!important;}
.mod_bd .video span {display: inline-block;width: 60px;height: 16px;background: url(../yllm/play.png) no-repeat;padding-left: 16px;line-height: 16px;left: 2px;bottom: 1px;z-index: 200;color: #fff;position: absolute;text-align: left;cursor: pointer;}
.mod_bd .video em {display: inline-block;width: 100%;height: 16px;position: absolute;bottom: 0;left: 0;background: #000;opacity: .4;}
.mod_bd ul li p {white-space: nowrap;height: 20px;width: 138px;overflow: hidden;}

.pic6 ul{width:130px;padding-left: 5px;padding-right: 10px;float:left;}
.pic6 ul li{display: inline;overflow: hidden;}
.pic6 .video {position: relative;display: inline-block;overflow: hidden;text-decoration: none!important;}
.pic6 .video span, .yltbt span {display: inline-block;width: 60px;height: 16px;background: url(../yllm/play.png) no-repeat;padding-left: 16px;line-height: 16px;left: 2px;bottom: 1px;z-index: 200;color: #fff;position: absolute;text-align: left;cursor: pointer;}
.pic6 .video em{display: inline-block;width: 100%;height: 16px;position: absolute;bottom: 0;left: 0;background: #000;opacity: .4;}
.pic6 ul li p {white-space: nowrap;height: 24px;width: 130px;overflow: hidden;}

.pic6 ul li img{width:130px;height:90px}

.partCyl{background:url(http://www.miomio.tv/test/layout_bg.png) no-repeat -999px bottom;padding-bottom:168px;margin-bottom:0px}
.yltbt{position: relative;display: inline-block;}
.yltbt span {white-space: nowrap;width: 82px;overflow:hidden}
.yltbt img {margin: 0;}
.yltbt em {display: inline-block;width: 100px;height: 16px;position: absolute;bottom: 2px;left: 2px;border-radius: 5px;background: #000;opacity: .4;}

/* 二级页面大推荐 */
.txbg_img{float: left;padding-top: 5px;padding-left: 5px;}
.txbg_img p a {display: block;line-height: 18px;float: left;width: 165px;height: 164px;overflow: hidden;background: url(http://www.miomio.tv/test/yllm/txbg_index_img.jpg) no-repeat 0 0;padding: 6px 9px 6px 6px;margin: 2px 23px 0px 5px;text-align: center;color: black;}
.txbg_img p a img{width:165px;height:110px;padding-bottom: 3px;}
.txbg_img p a span{padding-bottom:5px;}
.txbg_img p a:hover, .txbg_img p a.cur {background: url(http://www.miomio.tv/test/yllm/txbg_index_img.jpg) no-repeat -181px 0;color: white;}

/* TAG样式 */
ul.tagshows{color:#999;width: 290px;height:380px;overflow:hidden;display:block;float:left;font-family:"微软雅黑",Arial}
ul.tagshows li{margin:3px 3px 2px 3px;float:left;display:block;overflow:hidden;background: #eee;height:20px;line-height:20px;padding:2px 4px 2px 4px;border-radius:5px}
ul.tagshows li img{margin-top:2px;display:block;float:left;margin-right:2px}
ul.tagshows li:hover{background:#bbb}
ul.tagshows li:hover a{color:#fff;text-shadow:#777 1px 1px 0}
ul.tagshows li a{display:block;float:left;height:20px;line-height:20px;padding: 0px 5px;}
ul.tagshows li a:hover{border-radius: 6px;background: #3cf;}
ul.tagshows.nb li{border-radius:0;border:0;border-right:1px solid #CCC;float:right;margin-right:0;background:0;margin-left:0}
ul.tagshows.nb{float:right;background:#f6f6f6;min-width:450px;max-width:698px;border-radius:5px 5px 0 0;border:1px solid #CCC;border-bottom:0;border-right:0}
