
/* Hides from IE-mac \*/
* html .clearfix{
	height: 1%;
}
.clearfix{
	display: block;
}
/* End hide from IE-mac */

.main_l{
	width: 290px;
	position: relative;
	float: left;
}
.main_title{
	height: 26px;
	overflow: hidden;
	background: #3cf;
	float: left;
}
.main_title ul{
	font-size: 12px;
	color:#fff;
}
.main_title ul li{
	height: 23px;
	line-height: 23px;
	padding-left: 8px;
	padding-right: 9px;
	padding-top: 1px;
	background: #f1f1f1;
	border-top: #fff 3px solid;
	float: left;
}
.main_title ul .on{
	height: 23px;
	line-height: 23px;
	padding-left: 8px;
	padding-right: 9px;
	background: #fff;
	color:#000;
	border-bottom: #fff 1px solid;
}
/*.main_title ul .on a:hover{dis}*/

.main_l .main_title{
	width: 290px;
	overflow: hidden;
	cursor:pointer;
}
.main_l .main_content{
	width: 513px;
}
.main_l .main_content .main_box{
	width: 290px;
	height: 345px;
	overflow: hidden;
	float: left;
}
.main_l .main_content .main_box .list{
	font-size: 12px;
	line-height: 26px;
}
.main_l .main_content .main_box .list ul{
	padding: 4px 0;
	overflow: hidden;
}
.main_l .main_content .main_box .list ul li{
	padding-left: 8px;padding-right: 4px;
}
.main_l .main_content .main_box .list ul li:hover{
	background: url(http://www.miomio.tv/test/xflbbt.png) no-repeat 6px 22px;
}
.main_l .main_content .main_box .list ul span{
	float:right;
}
.main_l .main_content .main_box .list ul span a{
	background: #ebebeb;color: #8B8B8B;border-radius: 5px;padding: 0px 5px 0px 4px;margin: 0px 2px 0px 3px;
}
.main_l .main_content .main_box .list ul span a.ok{
	background: #f69;color: #fff;border-radius: 5px;padding: 0px 5px 0px 4px;margin: 0px 2px 0px 3px;
}
.main_l .main_content .main_box .list ul .top{
	background: none;
	padding-left: 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

.tabxf div.t.none{
	display: none;
}
.tabxf .main_title ul.fx li{
	background-color: transparent;
}
.tabxf .main_title ul.fx li, .tabxf .main_title ul.fx li.on{
	border-top: 0;
	margin-top: 4px;
	padding-top: 0;
}
.tabxf .main_title ul.fx li.on{
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-width: 0;
}
.tabxf .main_title ul.fx{
	z-index: 20;
	position: relative;
}
.tabxf .main_title div.animate{
	height: 22px;
	position: absolute;
	top: 4px;
	background: url(http://www.miomio.tv/test/dmlm/images/nntt.png);
}
