@charset "euc-kr";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input{outline:none;}
button {border:0 none;background-color:transparent;cursor:pointer;outline: none;}
body {background:#fff; margin:0;}
body,th,td,input,select,textarea,button {font-size:12px; font-family:"Malgun Gothic", "Arial", sans-serif;color:#222222} /* color값은 디자인가이드에 맞게사용 */
*:first-child+html body,th,td,input,select,textarea,button {font-family: "Malgun Gothic", "Arial", sans-serif;}
a {color:#555555; text-decoration:none}
a:active, a:hover {color:#ff4609; text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
html{overflow-y:scroll;}

.imgtxt_pm { display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.imgtxt_wa { display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_pm { overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */

.f_l { float:left}
.f_r { float:right}
.clear_b { width:0;height:0;font-size:0;line-height:0;clear:both}
.show { display:block}
.hide { display:none}
.tbr { border-collapse:collapse;border-spacing:0} /* 테이블 초기화 */
.mg_top20{margin-top:20px;}
.mg_top22{margin-top:22px;}
.mg_top24{margin-top:24px !important;}
.mg_top30{margin-top:30px !important;}
.mg_top41{margin-top:41px !important;}
.mg_top15{margin-top:15px !important;}
.pd_top20{padding-top:20px;}
.bd_none {border:0!important;}

/* select */
.sct{height:26px;}

/* input */
.ipt{padding:3px; height:18px;}

/* LIST LOADING IMG
-----------------------------------------------------------*/
/* GNB-loading  회색 용 */
.loading_g {background:#f6f6f6 url(/ui/static/image/common/n_common/new_loader_48x48.gif) no-repeat 50% 50% !important;}
.loadingM_g {background:#f6f6f6 url(/ui/static/image/common/n_common/new_loader_24x24.gif) no-repeat 50% 50% !important;}
.loadingS_g {background:#f6f6f6 url(/ui/static/image/common/n_common/new_loader_15x15.gif) no-repeat 50% 50% !important;}

/* loading 일반 */
.loading {background:url(/ui/static/image/common/n_common/new_loader_48x48.gif) no-repeat 50% 50% !important;}
.loadingM {background:url(/ui/static/image/common/n_common/new_loader_24x24.gif) no-repeat 50% 50% !important;}
