@charset "euc-kr";

@import url("/ui/static/css/common/common.css");

html {overflow-y:scroll;}
body {text-align:left;} /* 비표준 가운데 정렬 변경 */
button {border:0 none;background-color:transparent;cursor:pointer;outline: none;}
/* a {font-family: "Malgun Gothic", "Arial", sans-serif; color:#555555; text-decoration:none}
a:active, a:hover {font-family: "Malgun Gothic", "Arial", sans-serif; color:#ff4609; text-decoration:none} */
input[type=text]::-ms-clear {
display:none;
} /* ie 클리어버튼 삭제 */

/* ############# Layout Selector 
####################################### */

/* 변경 후 -공통 */
#wrap {position:relative;width:100%; min-width:940px;}
#header_n { position:relative;width:940px;margin:0 auto; border-bottom:3px solid #ff4609; } /* 개편 후 헤더 */
*:first-child+html #header_n {z-index:102;}
#container { width:100%; position:relative; padding-top:0;}
*:first-child+html #container {z-index:100;}
#container.wrapW940 {width:940px; margin:0 auto;}
#content { width:940px;margin:0 auto}
#container.wrapW940 #content {position:relative;}
#footer {position:relative;width:100%; clear:both; margin:0; padding-top:0 !important;} 

/* 메인 외부해더 공통팝업 */
.wrapW710 #container #content {width:100%;}

#wrap.wrapC2AL {width:940px; min-width:940px; padding:0;}
#wrap.wrapC2AL #container #content a { font-family:돋움, sans-serif;}
#aside.peopleLnb a {font-family:돋움, sans-serif;}

/* 도메인별 class 명 body에 추가 */
/* 공모전 : gongmoWrap
이벤트존 : eventzoneWrap
자료실 : peopleWrap
연봉 : opensalaryWrap
교육 : eduWrap
운세 : unseWrap
고객센터 : helpWrap
직업사전 : jobdicWrap
Tv : tvWrap
알바 : albaWrap
정책 : docsWrap */

/* ##### 예전 레이아웃 공통 ##### */
/* #PageHeader {padding-bottom:0 !important;} */
.gongmoWrap #PageHeader, .eventzoneWrap #PageHeader, .peopleWrap #PageHeader, .opensalaryWrap #PageHeader, .eduWrap #PageHeader, .unseWrap #PageHeader, .helpWrap #PageHeader, .jobdicWrap #PageHeader, .albaWrap #PageHeader, .docsWrap #PageHeader {padding-bottom:0 !important; z-index:101 !important;} /* 로게이션이 있는 페이지 */
#location {position:relative;}
#location div.location_2015bg {top:38px;}
#PageFrame div.location_2015 {margin-bottom:0;}
#PageContent #content_left, #PageContent #content_right {float:left;}
.gongmoWrap #PageFrame, .eventzoneWrap #PageFrame, .peopleWrap #PageFrame, .opensalaryWrap #PageFrame, .eduWrap #PageFrame, .unseWrap #PageFrame, .helpWrap #PageFrame, .jobdicWrap #PageFrame, .tvWrap #PageFrame, .albaWrap #PageFrame {width:940px; margin:0 auto;}
.gongmoWrap #PageFrame #PageContent, .eventzoneWrap #PageFrame #PageContent, .peopleWrap #PageFrame #PageContent, .opensalaryWrap #PageFrame #PageContent, .eduWrap #PageFrame #PageContent, .unseWrap #PageFrame #PageContent, .helpWrap #PageFrame #PageContent, .jobdicWrap #PageFrame #PageContent, .tvWrap #PageFrame #PageContent, .albaWrap #PageFrame #PageContent {margin-top:20px;}
.gongmoWrap #PageLeft, .eventzoneWrap #PageLeft, .peopleWrap #PageLeft, .opensalaryWrap #PageLeft, .eduWrap #PageLeft, .unseWrap #PageLeft, .helpWrap #PageLeft, .jobdicWrap #PageLeft, .tvWrap #PageLeft, .albaWrap #PageLeft {float:left; width:150px; margin-right:10px; margin-top:20px;}
.gongmoWrap #PageLeft:after, .eventzoneWrap #PageLeft:after, .peopleWrap #PageLeft:after, .opensalaryWrap #PageLeft:after, .eduWrap #PageLeft:after, .unseWrap #PageLeft:after, .helpWrap #PageLeft:after, .jobdicWrap #PageLeft:after, .tvWrap #PageLef:aftert, .albaWrap #PageLeft:after {content:''; display:block; clear:both;}
.gongmoWrap #PageRight, .eventzoneWrap #PageRight, .peopleWrap #PageRight, .opensalaryWrap #PageRight, .eduWrap #PageRight, .unseWrap #PageRight, .helpWrap #PageRight, .jobdicWrap #PageRight, .tvWrap #PageRight, .albaWrap #PageRight {margin-top:20px;}
#PageFrame #PageLeft a {font-family:dotum, sans-serif !important;}
#PageFrame #PageLeft a:hover, #PageFrame #PageLeft a:active {font-family:dotum, sans-serif !important;}
#PageFrame #PageLeft .userInfo .name {font-size:11px;}
.gongmoWrap #PageFrame #PageFooter, .eventzoneWrap #PageFrame #PageFooter, .peopleWrap #PageFrame #PageFooter, .opensalaryWrap #PageFrame #PageFooter, .eduWrap #PageFrame #PageFooter, .unseWrap #PageFrame #PageFooter, .helpWrap #PageFrame #PageFooter, .jobdicWrap #PageFrame #PageFooter, .tvWrap #PageFrame #PageFooter, .albaWrap #PageFrame #PageFooter {width:940px; margin:0 auto; float:none;}
.gongmoWrap #PageFrame #PageFooter #n_footer, .eventzoneWrap #PageFrame #PageFooter #n_footer, .peopleWrap #PageFrame #PageFooter #n_footer, .opensalaryWrap #PageFrame #PageFooter #n_footer, .eduWrap #PageFrame #PageFooter #n_footer, .unseWrap #PageFrame #PageFooter #n_footer, .helpWrap #PageFrame #PageFooter #n_footer, .jobdicWrap #PageFrame #PageFooter #n_footer, .tvWrap #PageFrame #PageFooter #n_footer, .albaWrap #PageFrame #PageFooter #n_footer {width:940px;}
.gongmoWrap #PageFrame #PageFooter #n_footer .guide, .eventzoneWrap #PageFrame #PageFooter #n_footer .guide, .peopleWrap #PageFrame #PageFooter #n_footer .guide, .opensalaryWrap #PageFrame #PageFooter #n_footer .guide, .eduWrap #PageFrame #PageFooter #n_footer .guide, .unseWrap #PageFrame #PageFooter #n_footer .guide, .helpWrap #PageFrame #PageFooter #n_footer .guide, .jobdicWrap #PageFrame #PageFooter #n_footer .guide, .tvWrap #PageFrame #PageFooter #n_footer .guide, .albaWrap #PageFrame #PageFooter #n_footer .guide {width:940px;}
.gongmoWrap #PageFrame #PageFooter #n_footer .guide .policy, .eventzoneWrap #PageFrame #PageFooter #n_footer .guide .policy, .peopleWrap #PageFrame #PageFooter #n_footer .guide .policy, .opensalaryWrap #PageFrame #PageFooter #n_footer .guide .policy, .eduWrap #PageFrame #PageFooter #n_footer .guide .policy, .unseWrap #PageFrame #PageFooter #n_footer .guide .policy, .helpWrap #PageFrame #PageFooter #n_footer .guide .policy, .jobdicWrap #PageFrame #PageFooter #n_footer .guide .policy, .tvWrap #PageFrame #PageFooter #n_footer .guide .policy, .albaWrap #PageFrame #PageFooter #n_footer .guide .policy {padding-left:105px;}

/* 통합검색창 크기조절 */
.gongmoWrap #header_n .header_cnt .searchWrap, .eventzoneWrap #header_n .header_cnt .searchWrap {width:259px;}
.gongmoWrap #header_n .header_cnt .searchWrap .search_ipt, .eventzoneWrap #header_n .header_cnt .searchWrap .search_ipt {width:257px; outline:none;}
.gongmoWrap #header_n .header_cnt .searchWrap .btn_totalsearch, .eventzoneWrap #header_n .header_cnt .searchWrap .btn_totalsearch {display:none;}
.gongmoWrap .box_suggest, .eventzoneWrap .box_suggest {width:257px;}
.gongmoWrap .box_suggest iframe {width:100% !important;}
#suggestion.suggestion, #suggestion.suggestion #suggestion_footer {width:100% !important;}

/* 헤드헌팅 */
#content_area {width:940px; margin:0 auto;}

/* 자료실 */
#wrap.wrapC2AL {width:940px; min-width:940px; padding:0;}
#wrap.wrapC2AL .viewfair15_banner {padding-top:10px;} /* 띠배너 */
#wrap.wrapC2AL .viewfair15_banner a {padding-right:40px;} /* 이미지 사이즈 조정 전 */
#wrap.wrapC2AL #container {position:relative;}
#wrap.wrapC2AL #container .skybanner_wrap2 {width:140px; top:10px !important; right:-153px;}
#wrap.wrapC2AL #container #content {padding-right:40px;}
#wrap.wrapC2AL #container #content a { font-family:돋움, sans-serif;}
#aside.peopleLnb a {font-family:돋움, sans-serif;}
#PageFrame {position:relative; width:940px;} /* position:relative; 추가됨 */
#PageFrame #PageContent {/* margin-left:10px; */}
#PageFrame #PageFooter .skybanner_wrap {width:140px; top:0px; right:-153px;}

/* 알바 */
#PageHeader {position:relative; z-index:11;}
#divBody {position:relative;}
#divBody legend {display:none; position:absolute; text-indent:-9999em; width:0; height:0; left:-9999em; top:-9999em;}
.header_cnt  legend {display:none; position:absolute; text-indent:-9999em; width:0; height:0; left:-9999em; top:-9999em;}
#divBody #PageFrame {width: 940px; margin: 0 auto; z-index: 10;}
#divBody #PageContent {float:left; width:745px;}
/* #divBody #PageContent .focuslist1  {margin-left:10px;} */
.userInfo .wrap1 a {font-family:dotum,sans-serif;}
.userInfo .wrap2_list1 li {line-height:1.1; overflow:inherit;}
.userInfo .wrap2_list1 li a {font-family:dotum,sans-serif;}
.albaTopWrap .promotion {height: 200px; overflow: hidden;}
.focuslist1 h3 a.more {font-family:dotum,sans-serif; background-position:0 -245px;}
*:first-child+html div.location_2015bg {top:155px;}

/* global */
#incruitIndex {position:absolute;margin:0;padding:0} /* 스킵네비게이션 */
#incruitIndex a,#incruitIndex a:hover,#incruitIndex a:visited{position:absolute;left:-500px;top:-500px;overflow:hidden;z-index:10}
#incruitIndex h3{position:absolute;left:-500px;top:-500px}
#incruitIndex ul li a{display:block;width:180px;padding:10px 0 8px 10px;background-color:#02647b;color:#fff;font-size:12px;border:1px solid #f08200; outline:none;}
#incruitIndex ul li a:active,#incruitIndex a:focus{left:0;top:34px}

/* 공고뷰 */
#aside.new_cont_def {top:15px;}

/* 인맥 */
#container.myincruit {width:940px !important; position:static;}
#container.myincruit #content {width:769px; }
#container.myincruit #content  .profile_info .input_box {clear:both;}
.nInmacAutoComplete_my { top:33px; width:200px;}
.nInmacAutoComplete_my h3 {width:100%; float:none; clear:both; padding:10px  0; text-align:center;}
.applyListWrap .tBrd2Gray.boardType2 th {text-align:center;}
.nn_simpleStyle th {text-align:center;}

/* 공모전 gongmoWrap */
.gongmoWrap #PageFrame {margin:0 auto;}
.gongmoWrap #PageFrame #PageLeft {}
.gongmoWrap #PageFrame #PageContent {float:left; width:740px; padding-right:40px;}
.gongmoWrap #PageFrame #PageContent .focuslist1 {width:740px; margin:0;}
.gongmoWrap #PageFooter {width:940px;}
.gongmoWrap #PageFooter .skybanner_wrap.gongmobnR {margin:0; top:20px !important; right:0 !important; margin:0 0 0 475px;}
.gongmoWrap #PageFooter .skybanner_wrap.gongmobnR .skybanner_sky {width:140px;}
.gongmoWrap .wrapGongmoDetail.wrapW940 {margin-top:20px !important;}
.gongmoWrap .wrapGongmoDetail.wrapW940 #aside, .gongmoWrap  .wrapC2AR.wrapW940 #aside {width:220px;}
.gongmoWrap .wrapGongmoDetail.wrapW940 #content {width:710px;}
#container_gongmo {position:relative;width:940px; margin:0 auto;}
#container_gongmo div.location_2015bg {top:38px;}

/* 이벤트존 eventzoneWrap */
.eventzoneWrap #PageFrame {margin:0 auto;}
.eventzoneWrap #PageFrame #PageContent {float:left; width:720px;}
.eventzoneWrap #PageFrame #PageContent:after {content:''; display:block; clear:both;}
.eventzoneWrap #PageFrame #PageRight {float:left; width:220px;}
.eventzoneWrap #PageFrame #PageRight table td img {display:block;}
.eventzoneWrap #PageFrame #PageRight .notice {letter-spacing:-1px;}
.eventzoneWrap #PageFrame #PageRight .gongmotite  img {margin:0 auto;}
.eventzoneWrap #PageFrame #PageRight table td {text-align:left;}
.eventzoneWrap #PageFrame #PageContent .padding .padding01 {padding:10px 0;}
.eventzoneWrap #n_footer {width:940px;}
.eventzoneWrap #n_footer.sub .guide {width:100%;}

/* 연봉 opensalaryWrap */
.opensalaryWrap #PageFrame #PageContent .contentLeft {margin-left:0}
.opensalaryWrap .viewfair15_banner a {padding-right:40px;} /* 이미지 사이즈 조정 전 */
.opensalaryWrap #PageFrame #PageContent {width:780px }
.opensalaryWrap #PageFrame.division3c #PageContent {width: 660px;} /* 3단 */
.opensalaryWrap #PageFrame.division3c_1 #PageContent {width: 560px;} /* 3단 예외 */
.opensalaryWrap #PageFrame #PageContent .contentRight {float:left; margin-left:10px;}
.opensalaryWrap #PageFrame #PageRight {width:120px;}
.opensalaryWrap #PageFrame.division3c_1 #PageRight {width:220px;} /* 3단 예외 */
.opensalaryWrap .opensalaryPublicTb td {line-height:0}
.opensalaryWrap .opensalaryPublicTb td table {margin-bottom:10px;}
.opensalaryWrap .opensalaryPublicTb td table td.opensalary_job {line-height:16px;}

/* 연봉 - 연봉검색 opensalaryWrap */
.opensalaryWrap .opensalaryTopMenu {height:37px; background:url(http://img.incruit.com/opensalary/Img/array_bg.gif) 0 0 repeat-x;}
.opensalaryWrap .opensalaryTopMenu table td img {display:block;}
.opensalaryWrap .totalDb img {display:block;}
.opensalaryWrap .bestWordBox img {display:block;}
.opensalaryWrap .searchSelect-tab img {display:block;}
.opensalaryWrap .leftHotIcon {top:7px; left:104px}
.imgBlock img{display:block;}
/* 연봉-내 연봉관리 */
.opensalaryWrap .wrapC2AL #content {float:left; }
.opensalaryWrap .wrapC2AL #aside {margin-right:10px; margin-top:0;}
.opensalaryWrap .mySalaryWrap, .opensalaryWrap .opensalaryregisterWrap, .opensalaryWrap .mySalaryEditWrap {margin-top:0;}

/* 회원정보관리 - 아이디 찾기 */
#header.editProfile .logo {padding:26px 0 0 0;}

/* 내용없는 헤더 라인 삽입 */
#header.soloGnb {height:69px; border-bottom:3px solid #ff460a;}

/* 정책 */
.docsWrap #header_n .header_cnt .gnbNavWrap .sMenu .first a {padding-left:0;}

/* 고객센터 */
.helpWrap #header_n .header_cnt .gnbNavWrap .sMenu dd.first a {padding-left:0;}
.helpWrap #header_n .header_cnt .gnbNavWrap .sMenu dd.first a span {padding-left:0; border-left:0}
.helpWrap #PageFrame #PageContent {float:left;; width:740px; }
.helpWrap.divisionNone #PageFrame #PageContent {width:940px;}
.helpWrap #sitemap h3 {background:#494949; color:#fff;}
.helpWrap #sitemap dt.alba, #sitemap dt.alba a {color:#fab40a}
.helpWrap #sitemap dl {width:187px;}
.helpWrap #sitemap dl.first {width:186px}
.helpWrap #sitemap h3 {width:187px;}
.helpWrap #sitemap h3.people,
.helpWrap #sitemap h3.opensalary,
.helpWrap #sitemap h3.my{width:375px}
.helpWrap #sitemap h3.job {width:751px}
.helpWrap #sitemap h3.my, .helpWrap #sitemap h3.recruiter, .helpWrap #sitemap h3.search, .helpWrap #sitemap h3.edu_mem, .helpWrap #sitemap h3.staffing {background: #cbcbcb;}
.helpWrap #sitemap h3.staffing {border-right: 1px solid #cbcbcb;}

/* 교육 */
.eduWrap #PageFrame #PageContent {float: left; width: 750px; padding-right: 30px;}
.eduWrap.division2c #PageFrame #PageContent {width:810px; padding-right:0;}
.eduWrap #PageFrame #PageContent table td img {display:block;}
.eduWrap #PageFrame #PageContent table td .disinb {display:inline-block;}
.eduWrap #PageFrame #PageRight {float: right; width: 120px;}
.eduWrap #PageFrame #PageContent .job_list.edu table.etc_list td.company img{display:inline-block;}
.eduWrap #PageFrame #PageContent .powerlink img, .eduWrap #PageFrame #PageContent .bx_powerlink img {display:inline-block}
.eduWrap #PageFrame #PageFooter #n_footer {width:940px}
.eduWrap #PageFrame #PageFooter #n_footer.sub .guide {width:100%;}
.eduWrap #PageFrame #PageFooter #n_footer.sub .guide .policy {padding-left:100px;}
.eduWrap #PageFrame #PageContent #divcompphoto img {display:inline-block;}
.eduWrap #PageFrame #PageContent .commentSection .writeComment .writeBox textarea {height:38px; padding:5px;}

/* 운세 */
.unseWrap #PageFrame #PageContent {width:780px;}
.unseWrap #PageFrame #PageContent #content_left {width:100%;}
.unseWrap #PageFrame #PageContent #content_left.main {width:550px;  margin-right:10px;} /* 메인만 적용 */
/* .unseWrap #PageFrame #PageContent #content_left.subFull {width:100%; margin-right:0;}  *//* 서브페이지 분할 없을때 */
.unseWrap #PageFrame #PageContent #content_right {width:220px;}
.unseWrap #location div.location_2015 ul.home li a {display:block; text-indent:-9999em; }
.unseWrap #location div.location_2015 ul.depth div.drops ul li a {display:block;}
.unseWrap #PageFrame #PageLeft .joinWrap_subGate .joinUtil li .loginkeep label, .unseWrap #PageFrame #PageLeft .joinWrap_subGate .joinUtil li .loginkeep label span {font-family: dotum, sans-serif !important}
.unseWrap #PageFrame #PageLeft .joinWrap_subGate .joinUtil li .loginkeep label span {line-height:16px;}
.unseWrap #PageFrame #PageLeft .joinWrap_subGate .joinUtil li.signUp a {line-height:16px;}

/* n_list */
.n_job_list_table_a thead th {text-align:center;}


/* 메인 스크랩 카운트 */
.sc_count_wrap{width:auto;height:30px;position:absolute;top:858px;left:528px;z-index:1000}
.sc_count_wrap div.sc_count{border:1px solid #bcbcbc;border-radius:3px;font-size:11px; padding: 6px 11px 4px; top:0;left:0;position:absolute;background-color:#eaeaea;color:#5d5d5d;white-space:nowrap;z-index:1100}
.sc_count_wrap div.sc_count_bottom{width:9px;height:9px;position:absolute;top:27px;left:25px;z-index:1200; top:26px\9;}
.sc_count_wrap div.sc_count_bottom img{width:9px;height:9px; display:block;}

/* 스크랩 버튼 */
.add_scrap, .add_company {position:absolute;width:15px;height:15px;bottom:9px;background:url(/ui/static/image/common/n_common/icon_scrap.png) 0 0 no-repeat;text-indent:-9999px; z-index:60;}
.add_scrap {left:8px}
.add_scrap:hover, .add_scrap:active, .add_scrap.on {background-position: 0 -34px}
.add_company {left:26px;bottom:8px;background-position: -37px 0}
.add_company:hover, .add_company:active, .add_company.on {background-position: -37px -34px}

/* moblie_ver 모바일 바로가기 버튼 */
.moblieVerBtnWrap {margin:0 auto; z-index:999999;width:940px;overflow:hidden;}
.moblieVerBtnWrap.hc {display:none;}
.moblieVerBtnWrap button {width:940px; height:88px;background:url(/ui/static/image/common/mobileVerBtn.jpg) 0 0 no-repeat;}
.moblieVerBtnWrap button span {text-indent:-500em; display:block;}

/* 탑버튼 */
#btn_top{position:fixed;left:50%;bottom:10px;width:50px;height:50px;margin-left:526px;font-size:0;text-indent:-1000px;background:url('/ui/static/image/common/n_common/btn_top.gif') no-repeat;}

/* Footer */
#footer .info{width:940px;margin:0 auto;}
#footer h1{position:absolute;width:137px;height:47px;left:50%;margin-left:-452px;top:56px;background:url(/ui/static/image/common/n_common/ft_logo.gif) 0 0 no-repeat;text-indent:-99999px;}
.footLink {height:38px;border-top:1px solid #f1f1f1;}
.footLink_list {margin-top:12px;}
.footLink_list:after {}
.footLink_list li {float:left;height:13px;font-size:12px;}
.footLink_list li a {display:block;color:#373737; line-height:13px;padding:0 10px;border-left:1px solid #888; cursor:pointer}
.footLink_list li a.first {border-left:0; padding-left:0}
.footLink_list li a.serviceAll {background:url(/ui/static/image/common/n_common/icon_sitemap.gif) 89% 2px no-repeat; padding-right:25px}
#footer .company {padding:10px 0;background:#f1f1f1;font-size:11px}
#footer .company .companytx {margin-left:168px;color:#737373;line-height:16px;letter-spacing:-0.5;}
#footer .company .copyright{margin-left:168px;color:#737373;letter-spacing:-0.5}
#footer .company .copyright a{font-weight:bold;}

/* Footer - 패밀리 사이트 */
.family_site {position:absolute;float:right;clear:both;top:11px;right:50%;margin-right:-470px;}
.family_site h3 {font-size:10px;font-weight:400;padding:3px 8px 0 0;color:#636D6C;display:inline;letter-spacing:-1px}
.footSelect {letter-spacing:-1px;line-height:1em;}

/* Footer - 수상 및 파트너 */
.partner{background:#fff;width:940px;height:109px;*zoom:1}
.partner:after{content:"";clear:both;display:block}
.award{width:450px;height:109px;background:url(/ui/static/image/common/img_footer1.gif) no-repeat 449px 0 transparent;float:left}
.award .award_img1{margin:21px 14px 8px 20px;float:left}
.award .award_img2{margin:21px 0 8px 10px;float:left}
.award a{display:block}
#footer .view_all{background:url(/ui/static/image/common/img_footer2.png) no-repeat right 4px transparent;width:50px;padding-right:9px;float:right;font-size:11px;letter-spacing:-1px;color:#5b5b5b;margin-right:24px;text-align:right}
.partner_wrap{width:490px;height:109px;float:right;text-align:center}
.partner_wrap .partner_title{font-size:11px;color:#999;letter-spacing:-1px;display:block;height:34px;padding-top:12px; text-decoration:none;}
.partner_wrap .partner_title a, .partner_wrap .partner_title a:hover{text-decoration:none;}
.partner1,.partner2,.partner3,.partner4{height:85px;float:left;display:inline-block}
.partner1{width:140px}
.partner2,.partner3,.partner4{width: 163px;position:relative}
.partner_img1,.partner_img2,.partner_img3,.partner_img4{height:39px;display:block}
.partner_wrap .partner_img1,.partner_wrap .partner_img2,.partner_wrap .partner_img3{border-right:1px solid #e4e4e4}
.partner_wrap .partner_img1{width:139px}
.partner_wrap .partner_img2,.partner_wrap .partner_img3,.partner_wrap .partner_img4{width: 163px;}
.partner_over1,.partner_over2,.partner_over3{position:absolute;bottom:43px;height:auto;color:#666;z-index:9999;letter-spacing:-1px;display:none}
.partner_over1{right:-200px;width:293px}
.partner_over2{right:-120px;width:293px}
.partner_over3{right:-5px;width:316px}
.partner_wrap ul.partner_list{border:1px solid #aaa;padding:10px 0;margin:0;background:#fff;*zoom:1}
.partner_wrap ul.partner_list:after,ul.partner_list > li ul:after{content:"";clear:both;display:block}
.partner_wrap ul.partner_list > li{list-style:none}
ul.partner_list > li ul{margin-top:7px;padding:0;*zoom:1}

ul.partner_list > li:first-child ul{margin-top:0}
ul.partner_list > li ul li{float:left;padding:0 10px;border-left:1px solid #bababa;}
ul.partner_list > li ul li:first-child{border-left:none !important}
.sb_arrow1,.sb_arrow2,.sb_arrow3{background:url(/ui/static/image/common/sb_arrow.png) no-repeat transparent;display:block;width:11px;height:6px}
.sb_arrow1{margin:0}
.sb_arrow2{margin:0 0 0 75px}
.sb_arrow3{margin:0 0 0 221px}

/* 비개편 셀렉박스 디자인 */
.search_select_1{position:relative;padding:4px 0 1px 5px; margin:0 0 3px 0;border:solid 1px #CCCCCC;background: url(http://img.incruit.com/Edu/Bullet/icon_location_down.gif) no-repeat right 0;color:#666666;	cursor:hand;text-align:left;}
.region_scroll_1 {scrollbar-face-color: #ffffff; scrollbar-highlight-color: #dadada; scrollbar-shadow-color: #dadada; scrollbar-3dlight-color: #ffffff; scrollbar-arrow-color: #dadada; scrollbar-track-color: #ffffff; scrollbar-darkshadow-color: #ffffff; }
.location_select{position:relative; top: -4px;border:solid 1px #CCCCCC;background: url(http://img.incruit.com/Edu/Bullet/icon_location_down.gif) no-repeat right 0;color:#666666;	cursor:hand;font-size: 12px; font-weight:bold;text-align:left; padding:3px 0 1px 5px; text-align:left}
.location_layer {position:absolute; background:#FFFFFF; height:120px; border:solid 1px #CCCCCC; margin:-4px 0 0 0; overflow-y:scroll;padding:0 0 0 5px;}
.location_layer ul { margin:0 0 0 0; width:100%}
.location_layer ul li { text-align:left; height:17px; width:100%; padding-top:2px}
.location_layer ul li a:link , .location_layer ul li a:visited, { color:#949494; width:100%}
.location_layer ul li a:hover { color:#D51D78; text-decoration:none; width:100%}

/* SELECT */
.select{position:relative;line-height:normal;display:inline-block;*display:inline;vertical-align:middle;background:#fff;*zoom:1;background:#fff url(/ui/static/image/common/selectArrow2.gif) no-repeat right 0; *margin-top:3px;}
.select *{margin:0;padding:0;cursor:pointer;}
.select .myValue{position:relative;z-index:2;left:0;top:0;color:#464646;line-height:19px;_line-height:normal;text-align:left;overflow:visible;background:transparent;}
.select .myValue.selected{font-weight:bold;}
.select.open .myValue,
.select .myValue.listView{}
.select button.myValue{height:17px;width:100%;text-indent:2px;*text-indent:0;*padding-left:2px;letter-spacing:-1px;font-size:11px;}
.select div.myValue{height:17px;text-indent:2px;}
.select ul{bottom:18px;left:-1px;width:100%;list-style:none;border:0;border-top:1px solid #bababa;border-bottom:1px solid #bababa;background:#fff;overflow:hidden;font-size:11px;}
.select ul.aList{display:none;letter-spacing:-1px;}
.select.open ul.aList{display:block;}
.select ul.iList{left:-2000%;}
.select.open ul.iList{left:0;}
.select li{position:relative;overflow:hidden;white-space:nowrap;height:18px;border-left:1px solid #bababa;border-right:1px solid #bababa;}
.select li input.option{position:absolute;width:100%;height:20px;line-height:20px;}
.select li label{position:absolute;left:0;top:0;width:100%;text-indent:8px;*text-indent:6px;height:18px;line-height:18px;color:#767676;background:#fff;}
.select li a{display:block;text-indent:3px;*text-indent:4px;height:18px;line-height:18px;color:#767676;background:#fff;text-decoration:none;}
.select li.hover *{background:#999;color:#fff;}
.select.type1 {width:7.8em;border:1px solid #aaa;}
.select.type1 ul {width:8.89em;}
.select.type2 {width:6.3em;border:1px solid #aaa;}
.select.type2 ul {width:7.19em;}

/* 공통 icon */
.sprite {background-image:url(/ui/static/image/common/n_common/sprite_mainNew.png);  background-repeat: no-repeat;}
.sprite-favorites_on {background-position: -20px -20px;} /* 바로접속 on */
.sprite-favorites_off {background-position: -20px -78px;} /* 바로접속 off */
.sprite-appDown {background-position: -20px -136px;} /* 앱 다운로드 */
.sprite-fcbLike {width: 55px; height: 18px; background-position: -20px -194px;} /* 페이스북 좋아요 */
.sprite-fcbCount {width: 61px; height: 18px; background-position: -20px -252px;} /* 페이스북 카운트 */
.sprite-count {background-position: -20px -310px;} /* 쪽지 카운트 */
.sprite-homeLink {background-position: -20px -368px;} /* 홈버튼 */
.sprite-inmacLink {background-position: -20px -421px;} /* 인맥 버튼 */
.sprite-nailLink {background-position: -20px -473px;} /* 내일검색 버튼 */
.sprite-util_on {background-position: -20px -523px;}/* 열기 */
.sprite-jobAll {background-position: -20px -574px;} /* 채용정보 닫침 */
.sprite-jobAll.on { background-position: -20px -618px;}/* 채용정보 열림 */
.sprite-more_m { background-position: -20px -662px;} /* 더보기 off */
.sprite-more_m.on { background-position: -20px -721px;}  /* 더보기 on */
.sprite-noticeBullet { background-position: -20px -780px;} /* 공지 블릿 */
.sprite-tool01 {background-position: -20px -822px;} /* 글자수 세기 */
.sprite-tool02 {background-position: -20px -886px;} /* 맞춤법검사 */
.sprite-tool03 { background-position: -20px -950px;} /* 어학변환 */
.sprite-tool04 { background-position: -20px -1014px;} /* 학점변환 */
.sprite-calendar { background-position: -20px -1078px;} /* 공채달력 icon */
.sprite-tool05 { background-position: -20px -1134px;} /* 연봉계산 */
.sprite-tool06 { background-position: -20px -1198px;} /* 사진수정 */

/* 구글 iframe 높이 버그 */
iframe[name='google_conversion_frame'] { height: 0 !important;  line-height: 0 !important;   font-size: 0 !important; position:absolute; top:-9999em !important; }

#container.newCpinfoContainer{ position:static; }