@charset "euc-kr";

/********************************************************************
 Incruit UXD team
  - //www.incruit.com   - author : sangbong
  - Deta : 2016.07.07
 ********************************************************************/

@import url("../module/default2016.css");

/* 메인 GNB */
/* Header */
#header_n {height:130px;}
/* .bsMenu dd a {padding:16px 10px 19px 9px;} */

/* header - logo */
#header_n .header_cnt {width:940px; height:130px; margin:0 auto;}
#header_n .header_cnt:after {content:''; display:block; clear:both;} 
#header_n .header_cnt h1 {float:left; width:128px; height:39px; margin-top:34px;}
#header_n .header_cnt h1 a {display:block; width:128px; height:39px; background:url(/ui/static/image/common/n_common/logo_main.png) 0 0 no-repeat;}
#header_n .header_cnt h1 a span {display:block; position:absolute; text-indent:-9999em; top:-9999em;}

/* header - search */
#header_n .header_cnt .searchWrap {float:left; position:relative; width:287px; height:35px;margin:30px 0 0 25px; }
#header_n .header_cnt .searchWrap .search_ipt {width:285px; height:33px; text-indent:10px; border:1px solid #dddddd;}
*:first-child+html #header_n .header_cnt .searchWrap .search_ipt {float:left; margin-left:-25px; line-height:33px;}
#header_n .header_cnt .searchWrap .btn_search {display:block; position:absolute; width:43px; height:33px; right:1px; top:1px; background-position:-9px -1251px; outline:none;}
#header_n .header_cnt .searchWrap .btn_search span {display:block; text-indent:-9999em;top:-9999em;}

#header_n .header_cnt .gnbNavWrap {clear:both;width:100%; height:49px; padding-top:11px;}
#header_n .header_cnt .gnbNavWrap:after {content:''; display:block; clear:both;}

/* header - search - 자동완성 */
.box_suggest {position:absolute;width:285px;background:#fff; left:50%;margin-left:-317px; top:65px;border:1px solid #dddddd;border-top:none;display:none;z-index:70}

/* header - uitil */
.utilMenuWrap_v2 {position:relative; width:100%; min-width:940px; height:32px; border-bottom:1px solid #ebebeb; background-color:#fbfbfb;}
*:first-child+html .utilMenuWrap_v2 {z-index:103;}
.utilMenuWrap_v2 .utilMenu_n2 {position:absolute;top:6px; right:50%; margin-right:-470px;}

/* header - 인크루트 앱 다운로드 */
.naverapply { display:none;position: absolute;width: 357px; height:347px; left:-77px;top:26px;padding: 17px 12px 0;font-size: 12px;background:url(/ui/static/image/common/n_common/sprite_mainNew.png) 0 -2254px no-repeat;  text-align: left;  z-index:201;}
.naverapply p.tit { color: #555555;font-weight: bold; padding-bottom: 10px; letter-spacing:-1px;}
.naverapply p strong { color: #ff460a; }
.naverapply .box { position:relative;width:341px;height:84px;padding:5px 5px 5px 10px;border:1px solid #dfdfdf}
.naverapply .box:after{content:''; display:block; clear:both;}
.naverapply .qr { position: absolute; width:68px; height:84px; right:5px;top:5px;background: url(/ui/static/image/common/btn_sp10.gif) no-repeat scroll 0 -70px transparent;}
.naverapply .qrcode { /* background: url(/ui/static/image/common/btn_sp10.gif) no-repeat scroll 0 -70px transparent; */ height: 84px; width: 68px; }
.naverapply p.desc { color: #999999; font-size: 11px; line-height: 14px; padding-top: 3px;  letter-spacing:-1px;}
.naverapply .txtUrl { color: #ff460a; display: block; font-size:11px; padding-top:4px;}
.naverapply .txtUrl a {color: #ff460a; letter-spacing:0;}
.naverapply .txtsm { color: #363636; display: block; margin-bottom: 3px;font-size:11px; font-weight:bold }
.naverapply .input_text { display:block;float:left;width: 185px;height: 19px;border: 1px solid #B5B5B5; color: #333333; font-size: 11px;background:none; padding: 3px 0 0 6px; vertical-align: 1px;vertical-align: 3px\9;*vertical-align: 2px;*margin-right:2px;}
.input_text, textarea { padding-right: 1px; }
.naverapply button.btnsm { background: url(/ui/static/image/common/btn_sp10.gif) no-repeat scroll -70px -130px transparent; border: 0 none; height: 24px; margin: 0; overflow: hidden; padding: 0; vertical-align: middle; width: 42px; }
.naverapp button { background: url("//img.incruit.com/Fair/2011/08_incjob/img/bu_v30.gif") no-repeat scroll 0 -1649px transparent; border: 0 none; color: #777777; cursor: pointer; font-size: 11px; margin-left: 10px; overflow: visible; padding: 1px 0 0 19px; }
.blind, legend, .ke_kbd .skip_kbd, .wg_sports thead th { display: block; left: 0; overflow: hidden; position: absolute; top: -1000em; }
#gnb_mobile_app_sms_send{margin-left:6px; padding:0;}
.naverapply .cls button { background: url(/ui/static/image/common/btn_sp10.gif) no-repeat -70px -70px; width:14px; height:14px; display: block; padding: 0; overflow:hidden; text-indent:-500em; }
.blind, legend, .ke_kbd .skip_kbd, .wg_sports thead th { display: block; left: 0; overflow: hidden; position: absolute; top: -1000em; }
.naverapply .cls { position: absolute; right: 6px; top: 6px; }
.naverapply .input_text.bgcontrol { background: url(/ui/static/image/common/btn_sp10.gif) no-repeat scroll 6px -154px transparent; }
.naverapply .mobile {float:left; margin-top:10px}
.naverapply .mobile:after{content:"";clear:both;display:block}
.naverapply .mobile a {display:inline-block; text-decoration:none}
.naverapply .mobile h3 {font-size:12px; font-weight:bold; margin-bottom:5px; margin-top:10px; color:#000;font-weight:bold \0/IE8+9; clear:both;}
.naverapply .mobile p {background:url(/ui/static/image/common/btn_sp10.gif) no-repeat 0 0; display:inline-block; padding-left:49px; width:70px; height:45px; vertical-align:top; float:left}
.naverapply .mobile p span {font-size:11px; color:#666; margin-top:3px; display:block; line-height:14px}
.naverapply .mobile p span em {font-size:12px; color:#666; font-weight:bold; color:#000; margin-top:3px; display:block;}
.naverapply .mobile p.app {background-position:0 -198px}
.naverapply .mobile p.calapp {background-position:-127px -198px}
.naverapply .mobile p.unseapp {background-position:-255px -198px; margin-bottom:10px}
.naverapply .mobile p.web {background-position:0 -283px}
.naverapply .mobile p.albaweb {background-position:-127px -283px}
.naverapply .mobile p.inmac {background-position:-255px -283px}
.naverapply .mobile-cnt {width:357px; margin: 0 auto; overflow:hidden;}
.naverapply .mobile-cnt h3{font-size:12px; margin-bottom:10px; margin-top:17px; color:#000; clear:both;}
.naverapply .mobile-cnt .appList {width:100%; height:81px;}
.naverapply .mobile-cnt .appList:after {content:''; clear:both; display:block;}
.naverapply .mobile-cnt .appList li {float:left;margin-right:48px; padding:0;}
.naverapply .mobile-cnt .appList li a {display:block;}
.naverapply .mobile-cnt .appList li a .app-icon {display:block; width:50px;height:50px; margin-bottom:5px; background:url(/ui/static/image/common/n_common/sprite_appDown.png) no-repeat;}
.naverapply .mobile-cnt .appList li a .app-tit {display:inline-block; *zoom:1; *display:inline; width:100%; line-height:12px; font-size:11px; text-align:center; color:#555555}
.naverapply .mobile-cnt .appList li a:hover .app-tit {color:#ff4609}
.naverapply .mobile-cnt .appList li.incApp {margin-left:6px}
.naverapply .mobile-cnt .appList li.incApp a .app-icon {background-position: 0 0;}
.naverapply .mobile-cnt .appList li.calApp a .app-icon {background-position: 0 -100px;}
.naverapply .mobile-cnt .appList li.unseApp {margin-right:0;}
.naverapply .mobile-cnt .appList li.unseApp a .app-icon {background-position: 0 -200px;}
.naverapply .mobile-cnt .appList li.albacallApp {}
.naverapply .mobile-cnt .appList li.albacallApp a .app-icon {background-position: 0 -300px;}
.naverapply .mobile-cnt .webList {width:100%; height:23px;}
.naverapply .mobile-cnt .webList:after {content:''; clear:both; display:block;}
.naverapply .mobile-cnt .webList li {float:left; width:117px; padding:0;}
.naverapply .mobile-cnt .webList li a {display:block; height:23px;}
.naverapply .mobile-cnt .webList li a .web-icon {float:left; display:block; width:23px; height:23px; margin-right:3px; background:url(/ui/static/image/common/n_common/sprite_appDown.png) no-repeat;}
.naverapply .mobile-cnt .webList li a .web-tit {display:inline-block; *zoom:1; *display:inline; line-height:23px; font-size:11px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.naverapply .mobile-cnt .webList li a .web-tit {line-height:21px;}
}
.naverapply .mobile-cnt .webList li.incWeb a .web-icon{background-position: 0 -400px;}
.naverapply .mobile-cnt .webList li.albaWeb a .web-icon{background-position: -1px -473px;}
.naverapply .mobile-cnt .webList li.inmacWeb a .web-icon{background-position: -2px -547px;}

/* header - uitil - 앱다운, 자동로그인 */
.utilMenuWrap_v2 .simpleVisit {position:absolute; height:33px; top:0; left:50%; margin-left:-470px; z-index:1007;border-left:1px solid #ebebeb;}
.utilMenuWrap_v2 .simpleVisit li {float:left;padding:7px 0 8px; color:#555555; font-size:11px;}
.utilMenuWrap_v2 .simpleVisit li:hover > button {color:#ff4609;}
.utilMenuWrap_v2 .simpleVisit li button {display:block; height:18px; line-height:18px; text-align:left;}
@media \0screen {
	.utilMenuWrap_v2 .simpleVisit li .naverapply button {height:auto;}  /* IE8 */ 
}
@media screen and (min-width:0\0){
	.utilMenuWrap_v2 .simpleVisit li .naverapply button {height:auto;}  /* IE10 ~ */ 
	.utilMenuWrap_v2 .simpleVisit li button span {line-height:16px; vertical-align:top} /* IE9 */
}
@media all and (-ms-high-contrast:none){ 
	.utilMenuWrap_v2 .simpleVisit li .naverapply button {height:auto;}  /* IE10 ~ */ 
	.utilMenuWrap_v2 .simpleVisit li button span {vertical-align:top; line-height:16px}  /* IE10 ~ */ 
}
@-moz-document url-prefix(){
	.utilMenuWrap_v2 .simpleVisit li .naverapply button {margin-top:-1px;}
	.utilMenuWrap_v2 .simpleVisit li button span {display:block; height:13px;margin-top:-8px;} /* firefox only hack */
}
*:first-child+html .utilMenuWrap_v2 .simpleVisit li .naverapply button {height:auto;}  /* IE7 */ 
*:first-child+html .utilMenuWrap_v2 .simpleVisit li button {width:66px; font-size:11px;}
.utilMenuWrap_v2 .simpleVisit li .favorites {display:inline-block; *zoom:1; *display:inline; width:75px; text-align:center; font-family:inherit; font-size:inherit; letter-spacing:-1px; font-size:11px;}
.utilMenuWrap_v2 .simpleVisit li .favorites span em {display:inline-block; *zoom:1; *display:inline; color:#ff460a;font-size:11px; font-weight:bold; font-family:dotumche; letter-spacing:1px; vertical-align:sub; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.utilMenuWrap_v2 .simpleVisit li .favorites span em { vertical-align:middle; }
}
*:first-child+html .utilMenuWrap_v2 .simpleVisit li .favorites span em { vertical-align:baseline; font-size:11px; }
*:first-child+html .utilMenuWrap_v2 .simpleVisit li .favorites {width:75px;}
.utilMenuWrap_v2 .simpleVisit li .favorites.off span em {color:#555}
.utilMenuWrap_v2 .simpleVisit li.appdown {position:relative; padding-left:12px; padding-right:12px; height:18px; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb}
*:first-child+html .utilMenuWrap_v2 .simpleVisit li.appdown {padding-right:0;}
.utilMenuWrap_v2 .simpleVisit li.appdown.on .naverapply {display:block;}
.utilMenuWrap_v2 .simpleVisit li.appdown button {padding-left:12px; font-family:inherit; font-size:inherit; background-position: -20px -2005px;}
.utilMenuWrap_v2 .simpleVisit li.appdown button span {font-family:inherit; font-size:inherit; letter-spacing:-1px;}

.utilMenuWrap_v2 .utilMenu_n2 li a {line-height:13px;}


/* common */
.openFocus, 
.hotjob,
.simplexJob,
.incruitHappened,
.entryWrap,
.simplexJobAdd { margin-left:-20px}
.openFocus h3,
.hotjob h3,
.simplexJob h3,
.incruitHappened h3,
.entryWrap h3,
.internInfo h3,
.gongmoInfo h3 {position:relative;height:30px; margin:50px 0 30px 20px; font-size:34px; line-height:30px; text-align:center;color:#425053; font-weight:normal; letter-spacing:-1px}
*:first-child+html .openFocus h3, .hotjob h3, .simplexJob h3, .incruitHappened h3, .entryWrap h3, .internInfo h3, .gongmoInfo h3 {height:33px;line-height:33px;}
.internInfo h3 {margin:5px 0 30px 0;}
.hotjob h3,
.simplexJob h3 {margin:30px 0 29px  20px !important; }
.gongmoInfo h3 {margin:30px 0 30px 0;}
.hotjob h3 span.new,
.simplexJob h3 span.new,
.entryWrap h3 span.new, 
.openFocus h3 span.allnew {display:inline-block; color:#5a6d71; font-size:24px; letter-spacing:-1px;padding-right:5px;}
.openFocus h3 .more,
.hotjob h3 .more,
.simplexJob h3 .more,
.entryWrap h3 .more,
.internInfo h3 .more,
.gongmoInfo h3 .more {position:absolute;display:block;right:0;top:15px;padding-right:15px;padding-top:2px \0/IE9;font-size:12px;font-weight:normal;color:#333;background:url(/ui/static/image/common/n_common/icon_moreIcon.png) right 50% no-repeat;;letter-spacing:-1px; line-height:17px;}
*:first-child+html .openFocus h3 .more,
*:first-child+html .hotjob h3 .more,
*:first-child+html .simplexJob h3 .more,
*:first-child+html .entryWrap h3 .more {right:10px;}
*:first-child+html .internInfo h3 .more,
*:first-child+html .gongmoInfo h3 .more {right:20px;}
html>body .openFocus h3 .more,
html>body .hotjob h3 .more,
html>body .simplexJob h3 .more,
html>body .entryWrap h3 .more,
html>body .internInfo h3 .more,
html>body .gongmoInfo h3 .more {padding-top:1px} 

.openFocus ul:after, 
.hotjob ul:after,
.simplexJob ul:after,
.internInfo ul:after,
.gongmoInfo ul:after{content:'';display:block;clear:both}
.hide{ display:none !important; }

/* 메인 상단 영역 */
.mainColsWrap {width:100%;height:447px; margin-top:15px; margin-bottom:35px}
*:first-child+html .mainColsWrap {z-index:20;}
.mainColsWrap:after{content:''; clear:both;}
.mainCntCols {float:left;width:713px;}
.mainCntCols .mainTopAdvWrap{width:100%; height:164px; margin-bottom:8px;}
.mainCntCols .mainTopAdvWrap .mainTopAdv {float:left; width:528px; height:162px; border:1px solid #dddddd; background:url(/ui/static/image/common/n_common/default_hometop_549x128.gif) 0 0 no-repeat;} /* 상단 배너영역 */
.mainCntCols .mainTopAdvWrap .mainTopAdv iframe {width:528px; height:162px;}
.mainCntCols .mainTopAdvWrap .mainTopAdv-right {float:right;width:174px; height:162px; border:1px solid #dddddd;}
.mainCntCols .mainTopAdvWrap .mainTopAdv-right iframe {width:174px; height:162px;}

/* 메인 하단 영역 - 공통 타이틀 부분  */
.mainCntCols .mainBtWrap {}
.mainCntCols .mainBtWrap div .tit {width:100%; height:39px; border-bottom:1px solid #ddd; overflow:hidden;}
.mainCntCols .mainBtWrap div .tit .txt {display:inline-block; height:14px; padding:13px 0 0 25px; line-height:14px; font-size:13px; letter-spacing:-1px; vertical-align:top}
@media screen and (min-width:0\0){
	.mainCntCols .mainBtWrap div .tit .txt { line-height:10px; } /* IE9 */
}
*:first-child+html .mainCntCols .mainBtWrap div .tit .txt {float:left; padding:10px 0 0 25px;  line-height:16px;}
.mainCntCols .mainBtWrap div.quick_link .tit .txt {padding-left:15px; letter-spacing:-2px;}
.mainCntCols .mainBtWrap div .tit .btn_more {float:right; display:block; width:39px; height:39px; border-left:1px solid #ddd; background:#fff url(/ui/static/image/common/n_common/sprite_mainNew.png) -10px -652px no-repeat;}
.mainCntCols .mainBtWrap div .tit .btn_more:hover {background-position:-10px -711px;}
.mainCntCols .mainBtWrap div .tit .btn_more span {display:block; text-indent:-9999em;}

/* 메인 하단 영역 - 공채생중계 */
.mainCntCols .mainBtWrap .incruitNow {float:left; width:528px; height:273px; border:1px solid #dddddd}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap {clear:both; height:100px;padding-top:25px;}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .adv_spcBanner1 {float:left; width:96px; margin-left:25px;}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .adv_spcBanner1 a {display:block;}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .adv_spcBanner1 a .imgArea {display:block; width:94px; height:64px; border:1px solid #dddddd; overflow:hidden;}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .adv_spcBanner1 a .advTxt {display:inline-block; width:94px; height:14px; margin-top:4px; line-height:14px; font-size:12px; letter-spacing:-1px; color:#555555; text-align:center;}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .adv_spcBanner1 a:hover .advTxt {color:#ff4609}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList {float:left; width:355px; margin-left:25px;}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList li {width:355px; margin-bottom:8px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
*:first-child+html .mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList li {margin-bottom:4px}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList li a {height:14px; line-height:13px; font-size:13px; letter-spacing:-1px; vertical-align:top; color:#555;}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList li a:hover {color:#ff4609}
*:first-child+html .mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList li a {/* line-height:16px; */}
.mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList li a .ntType {display:inline-block; padding-right: 8px; color:#ff4609;}
*:first-child+html .mainCntCols .mainBtWrap .incruitNow .nowTbWrap .nowList li a .ntType {display:inline; font-size:13px; line-height:19px;}

.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .adv_spcBanner2 {float:left; width:96px; margin-left:25px;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .adv_spcBanner2 a {display:block;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .adv_spcBanner2 a .imgArea {display:block; width:94px; height:64px; border:1px solid #dddddd; overflow:hidden;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .adv_spcBanner2 a .advTxt {display:inline-block; width:94px; height:14px; margin-top:4px; line-height:14px; font-size:12px; letter-spacing:-1px; color:#555555; text-align:center;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .adv_spcBanner2 a:hover .advTxt {color:#ff4609}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList {float:left; width:355px; margin-left:25px;  border-top:1px solid #ddd;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li {width:355px; margin-bottom:7px}
*:first-child+html .mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li {margin-bottom:6px;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a {display:inline-block; *zoom:1; *display:inline; width:355px; height:16px; line-height:16px; font-size:13px; letter-spacing:-1px; vertical-align:top; color:#555; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a:hover {color:#ff4609}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li .noData {width:100%; padding:10px 0; text-align:center; color:#777;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a .term {display:inline-block; padding-right: 8px;}
*:first-child+html .mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a .term {display:inline; font-size:13px; line-height:19px;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a .term.type01 {color:#4eadff} /* 시작 */
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a .term.type02 {color:#ff7625} /* 마감 */
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a .term.type03 {color:#a855d4} /* 필기 */
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a .term.type04 {color:#978065} /* 면접 */
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li a .term.type05 {color:#009695} /* 발표 */
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li.calendarState {height:16px; padding-left:28px; margin-top:14px; margin-bottom:15px; background:url(/ui/static/image/common/n_common/sprite_mainNew.png) -20px -1078px no-repeat;}
*:first-child+html .mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li.calendarState {margin-bottom:12px}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li.calendarState .date {height:16px; line-height:16px; font-size:13px; }
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li.calendarState a {width:auto; padding-right:2px;}
.mainCntCols .mainBtWrap .incruitNow .calendarTbWrap .calendarList li.calendarState a em {color:#ff460a}

/* 퀵링크 영역 */
.mainCntCols .quick_link {float:right;width:174px; height:273px; border:1px solid #dddddd}
*:first-child+html .mainCntCols .mainBtWrap .quick_link .tit .txt {padding-left:13px;}
.mainCntCols .quick_link ul {padding:13px 0 0 14px;}
.mainCntCols .quick_link ul li {float:left; position:relative; width:71px; height:55px; margin: 8px 1px;}
*:first-child+html .mainCntCols .quick_link ul li { margin: 3px 1px;}
.mainCntCols .quick_link ul li.tool01 {background-position:3px -816px} /* 글자수 세기 */
.mainCntCols .quick_link ul li.tool02 {background-position:3px -880px} /* 맞춤법검사 */
.mainCntCols .quick_link ul li.tool03 {background-position:3px -944px} /* 어학변환 */
.mainCntCols .quick_link ul li.tool04 {background-position:3px -1008px} /* 학점변환 */
.mainCntCols .quick_link ul li.tool05 {background-position:3px -1128px} /* 연봉계산 */
.mainCntCols .quick_link ul li.tool06 {background-position:3px -1192px} /* 사진수정 */
.mainCntCols .quick_link ul li a {display:block; width:71px; height:55px;}
.mainCntCols .quick_link ul li a span {display:inline-block; position:absolute; width:100%; left:0; bottom:6px; font-size:12px; color:#555555; text-align:center; letter-spacing:-1px;}
.mainCntCols .quick_link ul li a:hover span {color:#ff460a}

/* 로그인 전 */
#loginWrap {position:relative;}
.loginWrap {width:218px; height:162px; margin-bottom:48px;border:1px solid #ddd; background:#f9f9f9; }
.loginWrap .joinWrap {width:192px; padding:11px 13px 0;background:#f9f9f9; }
.loginWrap .joinWrap .joinTxt {padding-bottom:8px; font-size:12px; font-weight:bold; line-height:13px; letter-spacing:-1px; color:#494949;}
.loginWrap .joinWrap:after{content:''; display:block; clear:both;}
.loginWrap .joinWrap .joinWay {padding:0;}
.loginWrap .joinWrap .joinWay:after {content:''; display:block; clear:both;}
.loginWrap .joinWrap .joinWay li {height:18px; float:left;padding:0 10px 0 9px; line-height:18px;}
.loginWrap .joinWrap .joinWay li.first {padding-left:0;width:40px; background:url(/ui/static/image/common/n_common/sprite_mainNew.png) no-repeat; background-position: 30px -1409px;}
.loginWrap .joinWrap .joinWay li a{display:inline-block;height:18px;line-height:18px; font-size:11px; color:#555555; letter-spacing:-1px; vertical-align:top;}
.loginWrap .joinWrap .joinWay li a:hover {text-decoration:underline;}

.loginWrap .joinWrap .loginForm_new {width:192px;margin:0; padding:0;}
.loginWrap .joinWrap .loginForm_new legend {height:0;width:0; text-indent:-9999px;}
.loginWrap .joinWrap .loginForm_new .login_iptWrap {width:131px; float:left;}
.loginWrap .joinWrap .loginForm_new .login_iptWrap input{width:125px;height:20px; line-height:20px;border:0;background:none;font-size:12px;color:#9f9f9f; font-family:dotum, sans-serif;}
.loginWrap .joinWrap .loginForm_new .login_iptWrap input.txt_pw{font-family:dotum, sans-serif;}
.loginWrap .joinWrap .loginForm_new .login_iptWrap .ipt_box{border:1px solid #bebebe; border-right:0; padding:3px 0 3px 6px;background:#fff; line-height:0;}
.loginWrap .joinWrap .loginForm_new .login_iptWrap .ipt_box:first-child{border-bottom:0;height:21px;}
.loginWrap .joinWrap .loginForm_new .login_cmt {float:right;width:61px;height:56px;position:relative;}
.loginWrap .joinWrap .loginForm_new .login_cmt .btn_login {width:59px; height:54px; border:1px solid #bebebe; color:#333333; font-size:13px;background:#fff;letter-spacing:-1px; cursor:pointer;font-weight: bold; box-sizing:content-box;}

/* 페이코 로그인 Gate 추가 */
.loginWrap .joinWrap_Gate {clear:both; padding:13px;}
.loginWrap .joinWrap_Gate .gateTxt {margin-top:-1px; padding-bottom:6px;font-size:12px; font-weight:bold; text-align:center; color:#494949}
.loginWrap .joinWrap_Gate .gateBtn {}
.loginWrap .joinWrap_Gate .gateBtn li {height:33px;}
.loginWrap .joinWrap_Gate .gateBtn li.payco {padding-bottom:8px;}
.loginWrap .joinWrap_Gate .gateBtn li.incruit {margin-top:9px; padding-bottom:12px; border-bottom:1px dotted #c2c2c2}
.loginWrap .joinWrap_Gate .gateBtn li .loginBtn {display:block; width:192px; height:33px; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) no-repeat;}
.loginWrap .joinWrap_Gate .gateBtn li .loginBtn span {display:block; text-indent:-9999em;}
.loginWrap .joinWrap_Gate .gateBtn li .loginBtn.py {background-position:0 -867px;}
.loginWrap .joinWrap_Gate .gateBtn li .loginBtn.inc {background-position:0 -930px;}
.loginWrap .loginState {position:absolute; left:13px; bottom:8px;width:192px; height:15px;}
.loginWrap .loginState li { height:15px;}
.loginWrap .loginState li.keepLogin {float:left; position:relative; width:120px;}
.loginWrap .loginState li.keepLogin label {display:inline-block; *zoom:1; *display:inline; font-size: 12px; color: #555555; position: absolute; top: 0; left: 0; padding-left: 19px; height:15px; line-height:13px; background: #f9f9f9 url(/ui/static/image/common/n_common/keep_check.gif) 0 0 no-repeat; cursor: pointer;}
.loginWrap .loginState li.keepLogin label.off {background-position: 0 -22px;}
.loginWrap .loginState li.keepLogin .check {position:absolute; display:block; top:-9999em; left:-9999em;}
.loginWrap .loginState li.keepLogin_mApply {float:left; position:relative; width:120px;}
.loginWrap .loginState li.keepLogin_mApply label {display:inline-block; *zoom:1; *display:inline; font-size: 12px; color: #555555; position: absolute; top: 0; left: 0; padding-left: 19px; height:15px; line-height:13px; background: #f9f9f9 url(/ui/static/image/common/n_common/keep_check.gif) 0 0 no-repeat; cursor: pointer;}
.loginWrap .loginState li.keepLogin_mApply label.off {background-position: 0 -22px;}
.loginWrap .loginState li.keepLogin_mApply .check {position:absolute; display:block; top:-9999em; left:-9999em;}
.loginWrap .loginState li.signUp {float:right; line-height:11px;}

/* 개인 로그인 전,후 게시판 링크 */
.loginWrap .noticeTab,
.personInfo .noticeTab{display:block;}
.noticeTab {display:none;position:absolute;width:218px;height:40px; left:-1px; bottom:-50px; border:1px solid #ddd; border-bottom:0; overflow:hidden; clear:both;}
.noticeTab li {float:left; width:72px; height:26px; padding-top:14px;}
	*:first-child+html .noticeTab li {padding-top:11px; height:29px; }
.noticeTab li.mid {border-right:1px solid #ddd;border-left:1px solid #ddd;}
.noticeTab li a {display:inline-block; *zoom:1; *display:inline;width:100%; height:14px; line-height:14px; text-align:center; font-size:13px; color:#333; font-weight:bold; letter-spacing:-1px; vertical-align:top}
.noticeTab li a:hover {color:#ff460a}
	@media \0screen {
		.noticeTab li a { line-height:12px; } /* IE8 */
	}
	@media screen and (min-width:00){
		.noticeTab li a { line-height:9px; } /* IE9 */
	}
	*:first-child+html .noticeTab li a {float:left; padding:0;  line-height:16px;}

/* DB 오류시 노출 문구 */
.dbError .active {}
.dbError .pInfo {padding:13px 0 13px 12px; font-size:13px; line-height:18px; letter-spacing:-1px; color:#555; border-bottom:1px solid #dddddd; background-color:#f9f9f9;}
.dbError .pInfo a {border-bottom:1px solid #555555;}
.dbError .pInfo_bs1 {padding:13px 0 13px 12px; font-size:13px; line-height:18px; letter-spacing:-1px; color:#555; border-bottom:1px solid #dddddd; background-color:#f9f9f9;}
.dbError .pInfo_bs1 a {border-bottom:1px solid #555555;}
.dbError .pInfo_bs1 a:hover {border-bottom:1px solid #ff460a;}
.dbError .pInfo_bs2 {padding:13px 0; font-size:13px; line-height:18px; letter-spacing:-1px; text-align:center;}
.dbError .pInfo_bs2 a {border-bottom:1px solid #ff460a;  color:#ff460a;}
.dbError .pInfo_bs2 a:hover {border-bottom:1px solid #ff460a;}


/* 로그인 하단 - 공지사항 영역 */
.cntCols {float:right;width:220px;}
.cntCols .newsWrap{width:218px;height:94px; clear:both; border:1px solid #ddd;}
.cntCols .newsWrap .noticePanel {padding:18px 13px 0;}
.cntCols .newsWrap .noticePanel .listArea {height:15px;}
.cntCols .newsWrap .noticePanel .listArea li {margin-bottom:7px; height:15px;}
.cntCols .newsWrap .noticePanel .listArea li a {display:block; padding-left:13px; height:15px; line-height:15px; font-size:12px; letter-spacing:-1px;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; background:url(/ui/static/image/common/n_common/sprite_mainNew.png) -20px -774px no-repeat; color:#555;}
.cntCols .newsWrap .noticePanel .listArea li a:hover {color:#ff460a;}
.cntCols .newsWrap .noticePanel .listArea.listType1 {display:block;}
.cntCols .newsWrap .noticePanel .listArea.listType2,
.cntCols .newsWrap .noticePanel .listArea.listType3 {display:none;}

/* 로그인 하단 - 광고영역 */
.cntCols .advWrap{width:218px; height:130px; margin-top:7px; border:1px solid #ddd; overflow:hidden;}
.cntCols .advWrap iframe{width:218px; height:130px;}
.cntCols .advWrap img{display:block;}

/* 로그인 유지 및 소셜로그인 */
#loginWrap .joinWrap .loginForm_new .etcLogin{clear:both; height:21px;padding-top:8px;}
#loginWrap .joinWrap .joinClose {display:block;position:absolute; width:25px; height:25px; top:5px; right:6px; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 7px -692px no-repeat;}
#loginWrap .joinWrap .joinClose span {display:block; text-indent:-9999em;}
#loginWrap .joinWrap .loginForm_new .etcLogin {height:21px; padding-bottom:13px; border-bottom:1px dotted #c2c2c2}
#loginWrap .joinWrap .loginForm_new .etcLogin ul {float:left; height:21px;}
#loginWrap .joinWrap .loginForm_new .etcLogin ul:after {content:''; display:block; clear:both;}
#loginWrap .joinWrap .loginForm_new .etcLogin ul li {height:21px; float:left;}
#loginWrap .joinWrap .loginForm_new .etcLogin ul li a img {width:21px; height:21px;}
#loginWrap .joinWrap .loginForm_new .etcLogin ul li.fb_social {float:right;}
#loginWrap .joinWrap .loginForm_new .etcLogin ul li.fb_social a{display:block; padding-left:21px; padding-right:3px; background:url(/ui/static/image/common/n_common/icon_fb.gif) 0 0 no-repeat; cursor:pointer;}
#loginWrap .joinWrap .loginForm_new .etcLogin .sch_pwid {float:right; margin-top:2px; letter-spacing:-1px;}
#loginWrap .unLink {text-decoration:underline; } /* 언더라인 링크 */
#loginWrap .cnLink {color:#ff460a} /* 주황색 링크 */

div.loginWrap{ position:relative; }
div.sc_layer_wrap{clear:both;display:none; position:absolute; bottom:-1px; right:-1px; z-index:1000; width:218px; height:40px; background:transparent url(/ui/static/image/common/social/bg_layer.png) repeat-x 0 0; border:1px solid #d4dede; }
div.sc_layer_wrap h3.tit {float:left; display:block;width:74px; height:13px; padding:14px 0 0 13px; font-size:12px; line-height:13px; letter-spacing:-1px; color:#555; }
div.sc_layer_wrap ul {float:left; margin:0 auto; width:131px; height:25px; padding:8px 0 0 0; }
div.sc_layer_wrap ul li{ display:block;float:left; width:25px; text-align:center; margin-right:6px;}
div.sc_layer_wrap ul li a{ display:block; height:25px;}

/* 인증안내 로딩페이지 */
div.wrap_load{ display:table; width:800px !important; min-width:800px !important; margin:0 auto; }
div.wrap_load div.loading_wrap{ display:table-cell; width:800px; height:600px; margin:0 auto; background:transparent url(/ui/static/image/common/social/img_loading.png) no-repeat 0 0; vertical-align:middle; text-align:center; }
div.wrap_load div.loading_wrap img.loadingimg{ *padding-top:220px; margin:100px auto 0 auto; border:0; outline:none; }

/* 로그인 후 - 개인 */
.personInfo {width:218px; height:172px;border:1px solid #ddd; margin-bottom:39px; border-bottom:0; background:#fff;}
.personInfo .noticeTab {bottom:-40px;}
.personInfo .personForm {}
.personInfo .personForm h3 {width:0; height:0; position:absolute; left:-9999em; top:-9999em; text-indent:-9999em;}
.personInfo .personForm .profileList { padding:9px 13px; border-bottom:1px solid #dddddd; background-color:#f9f9f9;}
.personInfo .personForm .profileList .myName {height:20px; padding-bottom:8px;}
.personInfo .personForm .profileList .myName {clear:both;}
.personInfo .personForm .profileList .myName .logout {float:right; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 0 -431px no-repeat; width:52px;height:20px;overflow:hidden;text-indent:-500em;border:none 0;cursor:pointer;}
.personInfo .personForm .profileList .myName .name {display:block;float:left; font-size:13px; font-weight:bold;}
.personInfo .personForm .profileList .myName .name span {display:block; float:left;}
.personInfo .personForm .profileList .myName .name .myhome {width:13px; height:17px; margin-left:3px; margin-top:2px; text-indent:-9999em; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 0 -166px no-repeat;}
.personInfo .personForm .profileList .myList {font-size:12px; letter-spacing:-1px; color:#555555; margin-top:12px;}
.personInfo .personForm .profileList .alarmTxt {padding:0; margin-bottom:6px; line-height:14px; font-size:12px; text-align:left; letter-spacing:-1px;}
.personInfo .personForm .profileList .alarmTxt a {color:#646464; border-bottom:1px solid #646464}
.personInfo .personForm .profileList .alarmTxt a:hover {color:#ff460a; border-bottom:1px solid #ff460a}
.personInfo .personForm .my_mgtList {clear:both; padding:7px 13px 5px; background-color:#fff; overflow:hidden;}
/* .personInfo .personForm .my_mgtList .alarmTxt {padding:0 0 7px 22px; margin-bottom:6px; line-height:14px; border-bottom:1px dotted #dddddd; font-size:11px; text-align:left; letter-spacing:-1px;background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 5px -655px no-repeat;}
.personInfo .personForm .my_mgtList .alarmTxt a,
.personInfo .personForm .my_mgtList .alarmTxt a:hover { color:#ff460a;} */
.personInfo .personForm .my_mgtList .myList dt {float:left; width:131px; height:16px; line-height:16px; margin-bottom:7px;}
.personInfo .personForm .my_mgtList .myList dd {float:left;width:61px; height:16px; line-height:16px; margin-bottom:7px; text-align:right;}
.personInfo .personForm .my_mgtList .myList dt a {display:block;float:left; padding-left:13px;  background: url(/ui/static/image/common/n_common/sprite_mainNew.png) -20px -772px no-repeat;}
.personInfo .personForm .my_mgtList .myList dt a:hover {color:#555555}
/* .personInfo .personForm .my_mgtList .myList .myResume a {background-position:0 -523px}
.personInfo .personForm .my_mgtList .myList .myResumeOpen a {background-position:0 -566px}
.personInfo .personForm .my_mgtList .myList .myApply a {background-position:0 -609px}
.personInfo .personForm .my_mgtList .myList .cheerUp a {background-position:0 -247px} */

.personInfo .subService {clear:both; height:65px; border-top:1px solid #dddddd; background-color:#fff;}
.personInfo .subService .ssList {width:192px;padding:12px 13px 0 13px;}
.personInfo .subService .ssList dt, .personInfo .subService .ssList dd {font-size:12px; color:#555;}
.personInfo .subService .ssList .matching {width:192px;height:16px; margin-bottom:8px; line-height:16px; text-align:left; background:url(/ui/static/image/common/n_common/sprite_mainNew.png) 159px -663px no-repeat;}
.personInfo .subService .ssList .matching a {display:block; padding-left:22px; color:inherit; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 0 -207px no-repeat;}
.personInfo .subService .ssList .matching a:hover {color:inherit}
.personInfo .subService .ssList .cheerUp {float:left;width:88px; height:16px; line-height:16px; padding-left:22px; text-align:left; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 0 -248px no-repeat;}
.personInfo .subService .ssList dd {float:left; width:82px; height:16px; line-height:16px; text-align:right;}
.personInfo .subService .ssList dd .cnLink {color:#ff460a}

/* 로그인 후 - 기업 */
.recuiterInfo {width:218px; height:211px; border:1px solid #ddd; margin-bottom:0; border-bottom:0; background:#f9f9f9;}
.recuiterInfo .businessList {}
.recuiterInfo .businessList .myName {height:20px; padding:9px 13px; border-bottom:1px solid #dddddd}
.recuiterInfo .businessList .myName {clear:both;}
.recuiterInfo .businessList .myName .logout {float:right; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 0 -431px no-repeat; width:52px;height:20px;overflow:hidden;text-indent:-500em;border:none 0;cursor:pointer;}
.recuiterInfo .businessList .myName .name {display:block;float:left; font-size:13px; line-height:15px; padding-top:2px; font-weight:bold;}
@-moz-document url-prefix(){
	.recuiterInfo .businessList .myName .name { line-height:13px; } /* firefox only hack */
}
@media all and (-ms-high-contrast:none){ 
	.recuiterInfo .businessList .myName .name { line-height:13px; }  /* IE10 ~ */ 
}
@media screen and (min-width:0\0){
	.recuiterInfo .businessList .myName .name { line-height:13px; } /* IE9 */
}
@media \0screen {
	.recuiterInfo .businessList .myName .name { line-height:18px; } /* IE8 */
}
*:first-child+html .recuiterInfo .businessList .myName .name {line-height:17px;}
.recuiterInfo .businessList .myName .name span {display:block; float:left;}
.recuiterInfo .businessList .myName .name .myhome {width:13px; height:17px; margin-left:3px; text-indent:-9999em; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 0 -166px no-repeat;}
.recuiterInfo .businessList .bs_mgtList {clear:both; padding:13px 13px 5px; background-color:#fff; overflow:hidden;}
*:first-child+html .recuiterInfo .businessList .bs_mgtList {height:96px;}
.recuiterInfo .businessList .bs_mgtList .myList {}
.recuiterInfo .businessList .bs_mgtList .myList dt {float:left; width:131px; height:16px; line-height:16px; margin-bottom:8px;}
.recuiterInfo .businessList .bs_mgtList .myList dt a {display:block;float:left; padding-left:13px;  background:url(/ui/static/image/common/n_common/sprite_mainNew.png) no-repeat;}
.recuiterInfo .businessList .bs_mgtList .myList dd {float:left;width:61px; height:16px; line-height:16px; margin-bottom:8px; text-align:right;}
.recuiterInfo .businessList .bs_mgtList .myList .openTalent a {background-position:-20px -772px}
.recuiterInfo .businessList .bs_mgtList .myList .marketing a {background-position:-20px -772px}
.recuiterInfo .businessList .bs_mgtList .myList .market a {background-position:-20px -772px}
.recuiterInfo .businessList .bs_mgtList .myList .coopon a {background-position:-20px -772px}
.recuiterInfo .businessList .bs_mgtList .myList a.plus {width:15px; height:16px; margin-left:6px; padding-left:0; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) 0 -480px no-repeat;}
.recuiterInfo .businessList .bs_mgtList .myList a.plus span {display:block; left:-9999em; top:-9999em; text-indent:-9999em;}
.recuiterInfo .businessList .bs_state .bsTodayState {width:100%; border-collapse: collapse; }
.recuiterInfo .businessList .bs_state .bsTodayState caption {display:block; position:absolute; text-indent:-9999em; top:-9999em; left:-9999em;}
*:first-child+html .recuiterInfo .businessList .bs_state .bsTodayState caption {display:none;}
.recuiterInfo .businessList .bs_state .bsTodayState td {height:28px; vertical-align:middle; text-align:center; border:1px solid #dddddd; border-left:0; background-color:#fff;}
.recuiterInfo .businessList .bs_state .bsTodayState td.last {border-right:0;}
.recuiterInfo .businessList .bs_state .bsTodayState td a {letter-spacing:-1px; font-size:11px;}

/* 공채포커스 */
.openFocus li {position:relative;float:left;width:218px;height:248px;border:1px solid #cdcdcd;margin:0 0 20px 20px}
.openFocus .md {margin-left:20px} /* 가운데 공백 */ 
.openFocus .groupVvip {width:458px} /* 공채포커스vvip상품 */ 
.openFocus .groupVvip img {width:100%; max-width:458px; height:248px;}
.openFocus .groupVvip .hotjob_box .logImg .logo {display:block; width:458px; height:114px;margin:0 auto;} /* 로고 있을경우 */
.openFocus .groupVvip .hotjob_box .logImg .logo img {width:458px; height:114px;} /* 로고 있을경우 */
.openFocus .groupVip {width:218px;} /* 공채포커스상품 */ 
.openFocus .groupVip img {width:100%; max-width:218px;height:248px;}
.openFocus .groupVip .logo {display:block; width:218px; height:114px; margin:0 auto;} /* 로고 있을경우 */
.openFocus .groupVip .logo img {width:218px; height:114px;} /* 로고 있을경우 */

.openFocus .groupVvip .hotjob_box .logImg {width:458px;height:114px;text-align:center;}
.openFocus .groupVvip .hotjob_box .logImg img {width:100%;height:114px;}
.openFocus .groupVvip .hotjob_box dd {padding: 0 8px; width:442px}
.openFocus .groupVvip .hotjob_box .state {text-align:right;font-size:11px; color:#919394;padding:6px 8px 2px}

.openFocus li.bannerPrdt {width:218px;height:248px;border:1px solid #eeeeee;overflow:hidden;}
.hotjob li.bannerPrdt{width:218px;height:248px;border:1px solid #eeeeee;overflow:hidden;} /* 합격자소서 배너 */
.openFocus li.bannerPrdt img ,
.hotjob li.bannerPrdt img {display:block;}

*:first-child+html .openFocus .groupVip {width:218px}
*:first-child+html .openFocus .groupVvip {width:458px}
*:first-child+html .openFocus{width:970px;margin-bottom:35px}

/* 핫잡 */
*:first-child+html .hotjob{width:970px;margin-bottom:30px}
.hotjob li {position:relative;float:left;width:218px;height:248px;border:1px solid #cdcdcd;margin:0 0 20px 20px} 
.hotjob li a img {max-height:248px;}
.hotjob .md { margin-left:20px} /* 가운데 공백 */ 
.hotjob .hotjob_box,
.openFocus .hotjob_box {width:100%;}
.hotjob .hotjob_box .logImg,
.openFocus .hotjob_box .logImg {width:218px;height:114px;text-align:center;}
.hotjob .hotjob_box .logImg img,
.openFocus .hotjob_box .logImg img {width:100%;max-width:218px; height:114px;}
.hotjob .hotjob_box .logImg .logo,
.openFocus .hotjob_box .logImg .logo{display:block; width:218px; height:114px;margin:0 auto; } /* 로고 있을경우 */
.hotjob .hotjob_box .logImg .logo img,
.openFocus .hotjob_box .logImg .logo img {width:218px; height:114px;} /* 로고 있을경우 */
.hotjob .hotjob_box .logImgAll {width:218px; height:228px; overflow:hidden; text-align:center} /* 전체 이미지 일경우 */ 
.hotjob .hotjob_box .logImgAll img {width:100%;max-width:218px; max-height:208px;}
.hotjob .hotjob_box dd {padding: 0 8px; width:202px; }
.openFocus .hotjob_box dd {padding: 0 8px; width:202px}
.hotjob .hotjob_box dd a:hover,
.openFocus .hotjob_box dd a:hover {text-decoration:none}
.hotjob .hotjob_box .state, 
.openFocus .hotjob_box .state {text-align:right;font-size:11px; color:#919394;padding:6px 8px 2px}  /* 기간 */
.hotjob .hotjob_box .date_last,
.openFocus .hotjob_box .date_last {font-weight:bold;color:#1f678a}
.hotjob .hotjob_box .tit,
.openFocus .hotjob_box .tit {padding-bottom:5px;font-size:17px;line-height: 20px; font-weight:bold; letter-spacing:-1px;}
.hotjob .hotjob_box .tit a,
.openFocus .hotjob_box .tit a{line-height:20px;color:#00112f; font-size:17px;}
.hotjob .hotjob_box .txt,
.openFocus .hotjob_box .txt {font-size:14px; line-height:16px; letter-spacing:-1px}
.hotjob .hotjob_box .txt a,
.openFocus .hotjob_box .txt a{ color:#666;line-height:15px;word-break: break-all;}

/* 채용단신 */
*:first-child+html .simplexJob{width:970px;margin-bottom:56px}
.simplexJob ul {margin-bottom:30px;}
.simplexJob li {position:relative;float:left;width:218px;height:197px;border:1px solid #cdcdcd;margin:0 0 20px 20px} 
.simplexJob .md { margin-left:20px} /* 가운데 공백 */ 
.simplexJob dl{width:100%;}
.simplexJob dl dd{padding: 0 8px; width:202px;}
.simplexJob dl dd a:hover{text-decoration:none}
.simplexJob .logImg {width:218px;height:80px;text-align:center}
.simplexJob .logImg img {width:100%;max-width:218px; max-height:80px;}
.simplexJob .logImg .logo{display:block; width:218px; height:80px; margin:0 auto;}
.simplexJob .logImg .logo img{width:218px; height:80px;}
.simplexJob .logImgAll {width:218px; height:182px; text-align:center; overflow:hidden;} /* 전체 이미지 일경우 */ 
.simplexJob .logImgAll img {width:100%;max-width:218px; max-height:177px;}
.simplexJob .tit {padding:3px 0 3px 8px;font-size:17px; line-height: 20px; font-weight:bold; letter-spacing:-1px; /* overflow:hidden; text-overflow:ellipsis; white-space:nowrap; */}
.simplexJob .tit a {line-height:20px;color:#00112f;}
.simplexJob dd.ls1 {letter-spacing:-1px;}
.simplexJob dd.ls2 {letter-spacing:-2px;}
.simplexJob dd.ls3 {letter-spacing:-3px;}
.simplexJob .txt {width:202px; font-size:14px; line-height:16px; letter-spacing:-1px; /* overflow:hidden; text-overflow:ellipsis; white-space:nowrap; */}
.simplexJob .txt a { color:#666;line-height:15px;}
.simplexJob .state {text-align:right;font-size:11px; color:#919394;padding:4px 8px 1px}  /* 기간 */
.simplexJob .date_last {color:#1f678a;font-weight:bold;}

/* HR 플래티넘 */
*:first-child+html .simplexJobAdd {width:970px;margin-bottom:56px}
.simplexJobAdd:after{content:''; clear:both; display:block;}
.simplexJobAdd li {position:relative;float:left;width:218px;height:197px;border:1px solid #e4e3e3;margin:0 0 20px 20px} 
.simplexJobAdd .md { margin-left:20px} /* 가운데 공백 */ 
.simplexJobAdd dl{width:100%;}
.simplexJobAdd dl dd{padding: 0 8px; width:202px;}
.simplexJobAdd dl dd a:hover{text-decoration:none}
.simplexJobAdd .logImg {width:218px;height:80px;text-align:center}
.simplexJobAdd .logImg img {width:100%;max-width:218px; max-height:80px;}
.simplexJobAdd .logImg .logo{display:block; width:218px; height:80px;  margin:0 auto;}
.simplexJobAdd .logImg .logo img{width:218px; height:80px;}
.simplexJobAdd .logImgAll {width:218px;text-align:center} /* 전체 이미지 일경우 */ 
.simplexJobAdd .logImgAll img {width:100%;max-width:218px; max-height:177px;}
.simplexJobAdd .tit {padding:5px 0 3px 8px;font-size:17px;line-height: 20px;font-weight:bold;}
.simplexJobAdd .tit a {line-height:20px;color:#00112f;}
.simplexJobAdd dd.ls1 {letter-spacing:-1px;}
.simplexJobAdd dd.ls2 {letter-spacing:-2px;}
.simplexJobAdd dd.ls3 {letter-spacing:-3px;}
.simplexJobAdd .txt {font-size:14px;}
.simplexJobAdd .txt a { color:#666;line-height:18px;word-break: break-all;}
.simplexJobAdd .state {text-align:right;font-size:11px; color:#919394;padding:6px 8px 2px}  /* 기간 */
.simplexJobAdd .date_last {color:#1f678a;font-weight:bold;}

.openFocus li.bannerPrdt {width:218px;height:248px;border:1px solid #eeeeee;} /* 합격자소서 배너 */
.hotjob li.bannerPrdt{width:218px;height:228px;border:1px solid #eeeeee;} /* 합격자소서 배너 */
.openFocus li.bannerPrdt img {display:block;}
.hotjob li.bannerPrdt img {display:block;}
.simplexJob li.bannerPrdt img {display:block; max-height:178px;}

/* 오버 하이라이트 */
.openFocus li:hover, .hotjob li:hover, .simplexJob li:hover, .simplexJobAdd li:hover {border:1px solid #f08200; box-shadow: 0 12px 16px 0 #ddd;}
.openFocus li span.highlight, .hotjob li span.highlight, .simplexJob li span.highlight, .hppIMG span.highlight, .simplexJobAdd li span.highlight {display:none; position:absolute; width:100%; height:100%; left:0; top:0; background:#fff; filter : Alpha(opacity=20); opacity: .2; text-indent:-999999px; z-index:55;cursor:pointer;}
.openFocus li:hover span.highlight, .hotjob li:hover span.highlight, .simplexJob li:hover span.highlight, .incruitHappened li:hover span.highlight, .simplexJobAdd li:hover span.highlight {display:block;}

/* 오늘마감, 마감임박, 독점 레이어 상태 표시 */
.openFocus .icon_state, 
.hotjob .icon_state, 
.simplexJob .icon_state,
.internInfo .icon_state,
.jobCareInfo .icon_state {width:69px; height:26px; display:block;position:absolute; background:url(/ui/static/image/common/n_common/icon_state_new2016.png) 0 0 no-repeat; text-indent:-99999px; z-index:100}
.openFocus .last_today,
.hotjob .last_today,
.simplexJob .last_today,
.simplexJobAdd .last_today,
.internInfo .last_today,
.jobCareInfo .last_today {right:-11px;top:-11px; background-position: 0 -56px}  /* 오늘마감 */
.openFocus .start_today,
.hotjob .start_today,
.simplexJob .start_today,
.simplexJobAdd .start_today,
.internInfo .start_today,
.jobCareInfo .start_today {right:-11px;top:-11px;}  /* 오늘시작 */
.openFocus .last_soon,
.hotjob .last_soon,
.simplexJob .last_soon,
.simplexJobAdd .last_soon,
.internInfo .last_soon,
.jobCareInfo .last_soon {right:-11px;top:-11px; background-position: 0 -112px} /* 마감임박 */
.openFocus .icon_state.imonopoly,
.hotjob .icon_state.imonopoly,
.simplexJob .icon_state.imonopoly,
.simplexJobAdd .icon_state.imonopoly { display:none;position:absolute; width:47px;height:45px;left:-5px;top:-5px; background:url(//img.incruit.com/ui/static/image/common/n_common/icon_state.png) 0 -208px no-repeat; text-indent:-99999px; z-index:100} /* 독점 */ 

.openFocus li.bannerPrdt {width:218px;height:248px;border:1px solid #eeeeee;} /* 합격자소서 배너 */
.hotjob li.bannerPrdt{width:218px;height:228px;border:1px solid #eeeeee;} /* 합격자소서 배너 */
.openFocus li.bannerPrdt img {display:block;}
.hotjob li.bannerPrdt img {display:block;}
.simplexJob li.bannerPrdt img {display:block; max-height:178px;}

/* 교육, 공모 레이어 상태 표시 */
.cate_type {position:absolute;right:6px;bottom:6px;width:34px;height:34px;background:url(/ui/static/image/common/n_common/icon_category.png) 0 0 no-repeat;z-index:11}
.cate_type p{padding-top:9px;text-align:center;font-size:11px;font-weight:bold;color:#fff;letter-spacing:-1.5px; text-indent:-2px;}
.edu{background-position: 0 -53px} /* 교육 */
.gongmo{background-position: 0 0} /* 공모 */

/* 인크루트 소개 */
.incruit_introduce {width: 940px; height:189px;margin:37px auto 0;background:url(/ui/static/image/common/n_common/introduce_bg.gif) 0 0 no-repeat;}
.incruit_introduce ul {}
.incruit_introduce ul:after {content:''; clear:both; display:block;}
.incruit_introduce ul li {float:left; width:33%;}
.incruit_introduce ul li.mid {width:34%;}
.incruit_introduce dl {clear:both; width:100%;}
.incruit_introduce dl dt,.incruit_introduce dl dd {text-align:center;}
.incruit_introduce dl dt{height:16px;padding:10px 0 6px}
.incruit_introduce dl dd.tit{height:41px;padding:21px 0 12px}
*:first-child+html .incruit_introduce dl dd.tit {padding:17px 0 7px}
.incruit_introduce dl dd.txt{height:29px;padding:0 0 12px}
*:first-child+html .incruit_introduce dl dd.txt{padding:0 0 9px}
.incruit_introduce dl dd a{display:inline-block;*display:block;width:141px;padding:3px 0 2px;text-align:left;border:1px solid #e1dedc; *margin:0 auto;}
.incruit_introduce dl dd a span{display:block; background:url(/ui/static/image/common/n_common/arrow05.png) no-repeat; background-position:15px 5px; background-position:15px 4px\0/8; margin:0 auto;padding-left:25px;}
:root .incruit_introduce dl dd a span{line-height:21px \9; }

.paycoLogin {margin-top:1px;clear:both ;margin-top:-1px \0/IE8+9;}
*:first-child+html .paycoLogin {margin-top:2px;}
.paycoLogin a {display:block; }

/* 미니 아이콘(코스피, 외국계, 인사 등) */
.group_type {position:absolute; right:10px; bottom:10px; display:none;}
span.icos_kosnexi,
span.icos_default {display:inline-block; height:12px; padding:0 2px 0 1px; overflow:hidden; margin-bottom:3px; vertical-align:top; line-height:12px;}
span.icos_kosnexi {border: 1px solid #ffa800;}
span.icos_kosnexi a { color:#ffa800; font-family: "돋움",Dotum,Tahoma,Geneva,sans-serif; font-size:11px;}
span.icos_default {border: 1px solid #5e9ed9; }
span.icos_default a {color: #5e9ed9; font-family: "돋움",Dotum,Tahoma,Geneva,sans-serif; font-size:11px;}
span.icos_kosnexi:hover a, span.icos_kosnexi:active a,
span.icos_kosnexi:hover, span.icos_kosnexi:active{ background-color:#ffa800; color:#fff; text-decoration:none; }
span.icos_default:hover a, span.icos_default:active a,
span.icos_default:hover, span.icos_default:active{ background-color:#5e9ed9; color:#fff; text-decoration:none; }

/* 인턴, 공모전 정보 */
.section_cnt {width:100%; padding-top:25px; padding-bottom:10px; clear:both;}
.section_cnt.gray { background-color:#f8f8f8;}

.internInfo,
.gongmoInfo {width:940px; margin:0 auto; }
*:first-child+html .internInfo {width:980px; margin:0 auto; }
*:first-child+html .gongmoInfo {width:980px; margin:0 auto; }
.internInfo ul,
.gongmoInfo ul {margin-left:-20px;}
.internInfo ul li {position:relative;float:left;width:218px;height:208px;border:1px solid #cdcdcd;margin:0 0 20px 20px; background-color:#fcfcfc;} 
.gongmoInfo ul li {position:relative;float:left;width:218px;height:198px;border:1px solid #ff7625;margin:0 0 20px 20px; background-color:#fff;} 
.internInfo .md,
.gongmoInfo .md {margin-left:20px} /* 가운데 공백 */ 
.internInfo ul li dl,
.gongmoInfo ul li dl  {width:100%;}
.internInfo ul li dl dd {padding: 0 8px; width:202px; background-color:#fcfcfc}
.gongmoInfo ul li dl dd {padding: 0 8px; width:202px; background-color:none;}
.internInfo ul li dl dd a:hover,
.gongmoInfo ul li dl dd a:hover {text-decoration:none}
.internInfo .logImg {width:218px;height:80px;text-align:center; background-color:#fff;}
.internInfo .logImg img {width:100%;max-width:218px; max-height:80px;}
.internInfo .logImg .logo {display:block;width:218px; height:80px; margin:0 auto;}
.internInfo .logImg .logo img{width:218px; height:80px;}
.internInfo dl.default .logImg {height:179px;}
.internInfo dl.default .logImg img {max-height:100%;}

.internInfo .tit {padding:5px 0 3px 8px;font-size:16px;line-height: 20px; font-weight:bold;}
.internInfo .tit a {line-height:20px;color:#00112f;}
.internInfo ul li dl dd.ls1 {letter-spacing:-1px;}
.internInfo ul li dl dd.ls2 {letter-spacing:-2px;}
.internInfo ul li dl dd.ls3 {letter-spacing:-3px;}
.internInfo .txt { height:47px; font-size:14px; line-height:18px;}
.internInfo .txt a { color:#666;line-height:17px;word-break: break-all;}
.internInfo .state {text-align:right;font-size:11px; color:#919394;padding:6px 8px 2px}  /* 기간 */
.internInfo .date_last {color:#1f678a;font-weight:bold;}
.internInfo ul li dl dd.infoViewLink {position:relative; width:100%; height:27px;padding:0; border-top:1px solid #e4e3e3; background-color:#fff;}
.internInfo ul li dl dd.infoViewLink a {float:left; display:block; width:50%; text-align:center;}
.internInfo ul li dl dd.infoViewLink a span {display:inline-block; *zoom:1;*display:inline; padding-right:9px; line-height:27px; line-height:26px \0/IE9; font-size:14px; color:#666; background:url(/ui/static/image/common/n_common/icon_linkBullet.gif) right 50% no-repeat;}
@media all and (-ms-high-contrast:none){ 
        .internInfo ul li dl dd.infoViewLink a span {line-height:26px;}  /* IE10 ~ */ 
       _:-ms-fullscreen, :root .internInfo ul li dl dd.infoViewLink a span {} /* Only works in IE11  */ 
}
.internInfo ul li dl dd.infoViewLink .sectionLine {position:absolute; top:7px; left:50%; margin-left:1px; width:1px; height:13px; background-color:#e4e3e3;}
.internInfo ul li dl.default dd.infoViewLink a {width:95%; padding-right:9px; text-align:right;}

.gongmoInfo .logImg {width:218px;height:100px;text-align:center; background-color:#fff;}/*  공모전 이미지 */
.gongmoInfo .logImg img {width:100%;max-width:218px; height:100px;}
.gongmoInfo .tit {padding:10px 0 7px 8px;font-size:16px;line-height: 17px; font-weight:bold;}
.gongmoInfo .tit a {line-height:20px;color:#00112f;}
.gongmoInfo .txt { height:18px; font-size:13px; line-height:17px;}
.gongmoInfo .txt a { color:#666;line-height:17px;word-break: break-all;}

.gongmoInfo ul li dl.default dd.tit a {display:inline-block; padding-right:16px; letter-spacing:-1px; background:url(/ui/static/image/common/n_common/gongmoArrow.gif) 100% 45% no-repeat; }

/* 소셜 in 인크루트 */
.socialAndFair {width:940px; margin:0 auto;padding-top:25px; padding-bottom:30px}
.socialAndFair:after {content:''; display:block; clear:both;}
.section_cnt:after {content:''; display:block; clear:both;}
.socialinIncruitWrap {float:left; width:465px; }
.socialinIncruitWrap h3 {position:relative;height:30px; margin:0 0 20px 0;font-size:32px; line-height:30px; text-align:left; color:#425053; font-weight:normal;  letter-spacing:-1px}
.socialinIncruitWrap h3 .pageStateWrap {position:absolute; height:13px; right:-2px;; bottom:0;}
.socialinIncruitWrap h3 .pageStateWrap li {float:left; width:13px; height:13px; margin:0 4px;}
.socialinIncruitWrap h3 .pageStateWrap li button {display:block; width:13px; height:13px; overflow:hidden; background:url(/ui/static/image/common/n_common/sns_currentIcon.png) 0 -20px no-repeat;}
.socialinIncruitWrap h3 .pageStateWrap li button.rollBtn01.on {background-position:0 0}
.socialinIncruitWrap h3 .pageStateWrap li button.rollBtn02.on {background-position:-46px 0}
.socialinIncruitWrap h3 .pageStateWrap li button.rollBtn03.on {background-position:-23px 0}
.socialinIncruitWrap h3 .pageStateWrap li button.rollBtn01:hover {background-position:0 0}
.socialinIncruitWrap h3 .pageStateWrap li button.rollBtn02:hover {background-position:-46px 0}
.socialinIncruitWrap h3 .pageStateWrap li button.rollBtn03:hover {background-position:-23px 0}
.socialinIncruitWrap h3 .pageStateWrap li button span {display:block; position:absolute; left:-9999em; top:-9999em; text-indent:-9999em;}
.socialinIncruitWrap .snsSliderWrap {position:relative; overflow:hidden;height:496px;}
.socialinIncruitWrap .snsSliderWrap .slider {float:left; width:100%;}

/* 페이스북 */
.faceBookWrap {border:3px solid #39579a; height:490px; background-color:#fff;} /* 페이스북 */
.faceBookWrap .snstop-cnt {width:439px; height:68px; padding:10px;}
.faceBookWrap .snstop-cnt .appicon {float:left;width:68px;height:68px;}
.faceBookWrap .snstop-cnt .appicon a {display:block;}
.faceBookWrap .snstop-cnt .appicon a img {}
.faceBookWrap .snstop-cnt .appTxtBox {float:left; position:relative; width:371px; padding-top:22px;}
.faceBookWrap .snstop-cnt .appTxtBox .faceBookLike {position:absolute; right:0; top:0; font-family:helvetica, arial, sans-serif;}
.faceBookWrap .snstop-cnt .appTxtBox .faceBookLike .facebook_icon {display:block; float:left; width:55px; height:18px;margin-top:2px; text-indent:-9999em; background: url(/ui/static/image/common/gnb_img_fblike.gif) no-repeat 0 0;}
.faceBookWrap .snstop-cnt .appTxtBox .faceBookLike .facebook_total {display:block; float:left; width:64px; height:20px; line-height:22px; line-height:21px \0/IE9; color:#888; text-align:center; font-size:11px; overflow:hidden; background: url(/ui/static/image/common/n_common/gnb_img_fbbox1.gif) no-repeat 0 0;}
@media \0screen {
	.faceBookWrap .snstop-cnt .appTxtBox .faceBookLike .facebook_total {line-height:22px;} /* IE8 ~ */ 
}
@media all and (-ms-high-contrast:none){ 
    .faceBookWrap .snstop-cnt .appTxtBox .faceBookLike .facebook_total { line-height:21px; }  /* IE10 ~ */ 
}
.faceBookWrap .snstop-cnt .appTxtBox .title {float:right; width:362px;font-family:helvetica, arial, sans-serif; text-align:left; color:#3b5998; font-size:14px;}
.faceBookWrap .snstop-cnt .appTxtBox .title a {color:#3b5998;}
.faceBookWrap .snsdetail-cnt {clear:both; width:439px; height:392px; margin:0 auto; overflow-x:hidden; overflow-y:auto;}
.faceBookWrap .snsdetail-cnt .txt {width:403px; padding:0 6px; margin:0; line-height:1.38; font-weight:normal; font-size:14px; word-break:break-word; color:#141823;}
.faceBookWrap .snsdetail-cnt .txt a {color:#141823}
.faceBookWrap .snsdetail-cnt .txt a.moreTxt {color:#3b5998;}
.faceBookWrap .snsdetail-cnt .txt a.moreTxt:hover {text-decoration:underline;}
.faceBookWrap .snsdetail-cnt .imgArea {margin-top:7px;}
.faceBookWrap .snsdetail-cnt .imgArea img {max-width:100%;}
.faceBookWrap .snsfooter-cnt {display:none;width:439px; margin:12px auto 0; padding-top:10px; border-top:1px solid #e5e5e5; }
.faceBookWrap .snsfooter-cnt .fallow {display:block; float:left; width:60px; height:20px;}
.faceBookWrap .snsfooter-cnt .fallow a {display:block; width:60px; height:20px; text-indent:-9999em;background:url(/ui/static/image/common/n_common/faceFallow.gif) 0 0 no-repeat;}
.faceBookWrap .snsfooter-cnt p {float:left; width:373px;margin-left:6px; font-family:helvetica, arial, sans-serif; font-size:11px; letter-spacing:-1px; vertical-align:top; color:#141823;}
.faceBookWrap .snsfooter-cnt p a {color:#3b5998}
.faceBookWrap .snsfooter-cnt p a:hover {text-decoration:underline;}

/* 네이버 카페 */
.naverCafeWrap {border:3px solid #22b500; height:490px; background-color:#fff;} /* 네이버 카페 */
.naverCafeWrap .snstop-cnt {position:relative; width:439px; height:76px; padding:10px 10px 0;}
.naverCafeWrap .snstop-cnt .appicon {float:left;width:76px;height:76px;}
.naverCafeWrap .snstop-cnt .appicon a {display:block;}
.naverCafeWrap .snstop-cnt .appicon a img {}
.naverCafeWrap .snstop-cnt .appTxtBox {float:left; position:relative; width:363px; padding-top:22px;}
.naverCafeWrap .snstop-cnt .appTxtBox .title {float:right; width:354px; padding-left:8px; font-family:dotum, sans-serif; text-align:left; color:#23b400; font-size:16px; line-height:18px; font-weight:bold;letter-spacing:-.05em;}
.naverCafeWrap .snstop-cnt .naverFallow {display:block; position:absolute; width:78px; height:29px; bottom:-33px; left:10px; background:url(/ui/static/image/common/n_common/naverCafeFallowBtn.gif) 0 0 no-repeat;}
.naverCafeWrap .snstop-cnt .naverFallow span {display:block; position:absolute; text-indent:-9999em; left:-9999em; top:-9999em;}
.naverCafeWrap .snsdetail-cnt {clear:both; width:439px; height:337px; margin:45px auto 0; overflow-x:hidden; overflow-y:auto;}
.naverCafeWrap .snsdetail-cnt .txt {width:403px; padding:0 6px; margin:0; line-height:1.38; font-weight:normal; font-size:14px; word-break:break-word; color:#141823; font-family:dotum, sans-serif;}
.naverCafeWrap .snsdetail-cnt .txt a.moreTxt {color:#3b5998;}
.naverCafeWrap .snsdetail-cnt .txt a.moreTxt:hover {text-decoration:underline;}
.naverCafeWrap .snsdetail-cnt .imgArea {margin-top:7px;}
.faceBookWrap .snsdetail-cnt .imgArea img {max-width:439px;}

/* 인스타그램 */
.instarWrap {border:3px solid #4090db; height:490px; background-color:#fff;} /* 인스타그램 */
.instarWrap .snstop-cnt {width:439px; padding:10px 10px 0; overflow:hidden;}
.instarWrap .snstop-cnt .imgArea {}
.instarWrap .snstop-cnt .imgArea img {display:block;}
.instarWrap .snstop-cnt .titArea {width:100%;height:67px; margin-top:6px; border-bottom:1px solid #eeefef;}
.instarWrap .snstop-cnt .titArea .appicon {float:left; width:60px; height:60px;}
.instarWrap .snstop-cnt .titArea .appTxtBox {float:left; position:relative; width:300px; margin-left:4px; padding-top:16px; color:#373737; font-family:dotum, sans-serif;}
.instarWrap .snstop-cnt .titArea .appTxtBox .cmpName {display:block; text-align:left; font-weight:bold; font-size:16px;line-height:16px;height:16px;}
.instarWrap .snstop-cnt .titArea .appTxtBox .title {font-size:12px;padding-top:2px;}
.instarWrap .snstop-cnt .titArea .appTxtBox .instarFallow {display:block; position:absolute; right:-66px; bottom:13px; width:66px; height:31px; background:url(/ui/static/image/common/n_common/instarFallowBtn.gif) 0 0 no-repeat;}
.instarWrap .snstop-cnt .titArea .appTxtBox .instarFallow span {display:block; position:absolute; text-indent:-9999em; top:-9999em; left:-9999em;}
.instarWrap .snsdetail-cnt {clear:both; width:439px; margin:10px auto 0; }
.instarWrap .snsdetail-cnt .txt {width:427px; padding:0 6px; margin:0; line-height:1.38; font-weight:normal; font-size:12px; word-break:break-word; color:#141823; font-family:dotum, sans-serif;}
.instarWrap .snsdetail-cnt .txt .nickname {color:#125688; font-weight:bold;}
.instarWrap .snsdetail-cnt .sameTxt {width:427px; padding:0 6px; margin:20px 0 0; line-height:1.38; font-weight:normal; font-size:12px; font-family:dotum, sans-serif;}

.hashTag {display:inline-block;*zoom:1; *display:inline; padding-right:4px;color:#3b5998;}


/* 이벤트 박람회 */
.eventFairWrap {float:right; width:465px;}
.eventFairWrap h3 {position:relative;height:30px; margin:0 0 20px 0;font-size:32px; line-height:30px; text-align:left; color:#425053; font-weight:normal;  letter-spacing:-1px}
.eventFairWrap h3 .more {position: absolute; display: block; right: 0; top: 15px; padding-right: 15px; padding-top: 2px \0/IE9; font-size: 12px; font-weight: normal; color: #333; background: url(/ui/static/image/common/n_common/icon_moreIcon.png) right 50% no-repeat; letter-spacing: -1px; line-height: 17px;}
.eventFairWrap .fairList {}
.eventFairWrap .fairList li {height:152px;margin-top:20px;}
.eventFairWrap .fairList li.first {margin-top:0;}
.eventFairWrap .fairList li dl {}
.eventFairWrap .fairList li dl .thumbImg {width:463px; height:118px; border:1px solid #c9d4d4}
.eventFairWrap .fairList li dl .thumbImg a, 
.eventFairWrap .fairList li dl .thumbImg a img {display:block; }
.eventFairWrap .fairList li dd {clear:both; height:18px;padding-top:7px;}
.eventFairWrap .fairList li dd a {display:block; font-size:18px; /* line-height:18px; */ color:#666;}
.eventFairWrap .fairList li dd a .sctType {display:block;float:left; color:#006f98;padding-right:7px;}
.eventFairWrap .fairList li dd a .suject {display:block; float:left; width:390px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* 인크루트 채용대행 공채정보 */
.jobCareInfo {width:940px; margin:0 auto;padding-bottom:20px;}
.jobCareInfo:after {content:''; display:block; clear:both;}
*:first-child+html .jobCareInfo {width:960px; }
.jobCareInfo h3 {position:relative;height:36px; margin:5px 0 5px 0;font-size:32px; line-height:32px; text-align:center; color:#425053; font-weight:normal;  letter-spacing:-1px}
.jobCareInfo h3 .more {position: absolute; display: block; right: 0; top: 15px; padding-right: 15px; padding-top: 2px \0/IE9; font-size: 12px; font-weight: normal; color: #333; background: url(/ui/static/image/common/n_common/icon_moreIcon.png) right 50% no-repeat; letter-spacing: -1px; line-height: 17px;}
*:first-child+html .jobCareInfo h3 .more {right:10px;}
.jobCareInfo .careSubtxt {width:100%; height:18px; line-height:18px;margin-bottom:17px; text-align:center; font-size:14px; font-weight:bold; color:#939b9c;}
.jobCareInfo ul {margin-left:-10px;margin-top:1px;}
.jobCareInfo ul li {float:left; position:relative; width:463px; height:93px; margin-left:10px;border:1px solid #c9d4d4; margin-top:-1px;background-color:#fff;}
.jobCareInfo ul li.gr {background-color:#f6f8f8;}
.jobCareInfo ul li .icon_state {top:10px; right:-10px;}
.jobCareInfo ul li .cmpLogo {float:left; width:83px; height:83px;margin:4px 0 0 4px; border:1px solid #c9d4d4; background-color:#fff;}
.jobCareInfo ul li .cmpLogo a {display:inline-block; width:83px; height:83px; line-height:83px;/*  padding:21px 0 22px; */ text-align:center;}
.jobCareInfo ul li .cmpLogo a img {max-width:85%; max-height:40px; vertical-align:middle;}
*:first-child+html .jobCareInfo ul li .cmpLogo a {*zoom:1; *display:inline;}
*:first-child+html .jobCareInfo ul li .cmpLogo a img {margin-top:21px;}
.jobCareInfo ul li .careJobCnt {float:left; width:360px;padding-left:10px; margin-top:4px;}
.jobCareInfo ul li .careJobCnt dt {padding-top:10px;font-size:18px; font-weight:bold; line-height:20px; height:20px;}
.jobCareInfo ul li .careJobCnt dt a { color:#00112f;}
.jobCareInfo ul li .careJobCnt dd {width:360px; padding-top:5px; font-size:16px; line-height:17px; word-break:break-all; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.jobCareInfo ul li .careJobCnt dd a { color:#666;}
.jobCareInfo ul li .careJobCnt dd.state {padding-top:9px; line-height:0;}
.jobCareInfo ul li .careJobCnt dd.state .stateicon {display:inline-block; width:60px; height:16px; line-height:18px; line-height:20px \0/IE9; overflow:hidden; vertical-align:top; font-size:11px; letter-spacing:-1px; font-family:dotum, sans-serif; text-align:center; color:#fff;}
@media \0screen {
	.jobCareInfo ul li .careJobCnt dd.state .stateicon{line-height:19px;} /* IE8 ~ */ 
}
@media all and (-ms-high-contrast:none){ 
        .jobCareInfo ul li .careJobCnt dd.state .stateicon { line-height:20px; }  /* IE10 ~ */ 
}
.jobCareInfo ul li .careJobCnt dd.state .stateicon.tp01 {background-color:#2d2d2d; color:#ffda30} /* 합격자발표 */
.jobCareInfo ul li .careJobCnt dd.state .stateicon.tp02 {background-color:#6e6e6e; } /* 심사중 */
.jobCareInfo ul li .careJobCnt dd.state .stateicon.tp03 {background-color:#2d2d2d; color:#ff7625} /* 채용중 */

/* 취얼업포인트 롤링 배너 */
.leftMainBanner .cheerUpPopWrap {position:absolute; width:189px; height:291px; top:0; right:-150px; overflow:hidden;}
.leftMainBanner .cheerUpPopWrap .sliderCheerUp {}
.leftMainBanner .cheerUpPopWrap .sliderCheerUp li {position:absolute; left:0; top:0;}
.leftMainBanner .cheerUpPopWrap .sliderCheerUp li.slide {display:none;}
.leftMainBanner .cheerUpPopWrap .sliderCheerUp li.slide.chBn01 {display:block;}
.leftMainBanner .cheerUpPopWrap .sliderCheerUp li a {display:block; width:189px; height:291px;}

/* 메인좌측배너(BI개편 이벤트) */
.leftMainBanner .renewalBIEvent {position:absolute; top:0px; left:-112px;}
.leftMainBanner .renewalBIEvent a {display:block;}

/* 메인 취얼업포인트 레이어 */
.leftMainBanner {left: 50%; margin-left: -485px; top: -8px;}

/* 메인 상단 유틸메뉴 */ 
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .topBg{ background-position:-40px -1367px; } 
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv{ background-position:-301px -1364px; top:18px;}  
.utilMenuWrap_v2 .utilMenu_n2 li.myCmpInfo .depth2nv {background-position:-284px -1364px} 