@charset "euc-kr";
.focusEff:focus{ outline-color:#019796; outline-style:dashed; outline-width:2px; outline-offset:3px; }
.resousectt{
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
	vertical-align:baseline;
}
.effects{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
 transition: all .5s ease;
}
::-moz-selection{background:#3a3a3a; color:#fff;}
-moz-selection{background:#3a3a3a; color:#fff;}
::selection{background:#3a3a3a; color:#fff;}
/* 기존 마크업 변경 */
#footer{ padding-top:40px !important; }
.wrapW940{ width:940px !important; padding-right:0 !important; }
#container.n_list_w780_warp{ width:940px !important; }
.n_list_w780_warp #content{ width:780px !important; }
.n_list_w780_warp .column_center.sub{ width:780px !important; }
.n_list_w780_warp #content div.section01{ width:780px !important; }
.n_list_w780_warp #content div.section01 div.section01_banner{ width:780px !important; }
.n_list_w780_warp h3.n_job_list_tits.first_tits{ padding-top:0 !important; }
.n_list_w780_warp #wrap_result{ margin-top:0 !important; }

/* 신규 추가
.result_box .cate dd label{ color:#464646; display:inline-block; background:#fff url(/ui/static/image/job/n_list/result_box_check.gif) no-repeat left -8px; padding-left:11px; *padding-left:11px; padding-top:1px\9; *padding-top:0; }
.result_box .cate dd label.on{ background-position:left -38px; color:#019891; font-weight:bold; }
FF All Ver
@-moz-document url-prefix(){
	.result_box .cate dd label{ padding-left:16px; }
	.result_box .cate dd label input{ display:none; font-size:0; margin:0 0 0 3px; padding:0; }
}
.result_box .cate dd label span{ color:#888; }
.result_box .cate dd label input{ width:0 !important; height:0 !important; margin:0 !important; padding:0 !important; overflow:hidden !important; }
.result_box .cate dd.keyword{color:#666; font-size:11px;}
.result_box .cate dd.keyword input.text{ border:solid 1px #CCC; width:50%; height:18px; *margin-left:-15px;}
.result_box .cate dt{ font-family: 'KoPubM',sans-serif; font-size:13px; } */
/* 버튼 */
.btn_black_radius_small{ }
.btn_black_radius_small span{ display:inline-block; *zoom:1; background:#383733; border:1px solid #242424; border-radius:3px; padding:4px 12px 3px 12px; padding:5px 12px 0 12px\9; *padding:4px 12px 1px 12px; color:#fff; font:11px "Dotum", sans-serif; box-shadow:inset 0 0 0 1px #525252; }
@media \0screen{ .btn_black_radius_small span{ padding:4px 12px 1px 12px; } }
.btn_black_radius_small span:hover, .btn_black_radius_small span:active{ background:#181818; border-color:#040404; box-shadow:inset 0 0 0 1px #444; }
.btn_black_radius_small:hover, .btn_black_radius_small:active{ color:#fff; text-decoration:none; }


/* 리스트 타이틀 신규 1512 KSY */
h3.n_job_list_tits{ font-family: 'KoPubM',sans-serif; position:relative; text-align:center; font-size:30px; font-size:29px\9; color:#333; padding:50px 0 14px 0; font-weight:normal; }
h3.n_job_list_tits span{  }
h3.n_job_list_tits span strong{  }
/*
h3.n_job_list_tits a.more{ cursor:pointer; display:block; position:absolute; right:4px; bottom:10px; font-size:13px; color:#333; background:url(/ui/static/image/job/n_list/titles_more_arr.gif) no-repeat right 2px; padding-right:8px; font-family: 'KoPubL',sans-serif !important; font-weight:bold; }
@-moz-document url-prefix(){ h3.n_job_list_tits a.more{ background-position:right 3px; } }*/ /* FF all */
/*
h3.n_job_list_tits a.more:hover, h3.n_job_list_tits a.more:active, h3.n_job_list_tits a.more:focus{ font-size:13px !important; color:#333 !important; text-decoration:underline !important; }
h3.n_job_list_tits.n_job_list_logo_titles a.more{ bottom:15px; }
*/

h3.n_job_list_tits a.more{ cursor:pointer; display:block; position:absolute; right:0px; bottom:10px; font-size:13px; color:#333; background:url(/ui/static/image/job/n_list/titles_more_arr.gif) no-repeat right 2px; padding-right:8px; font-family: 'KoPubL',sans-serif !important; font-weight:bold;}
@-moz-document url-prefix(){ h3.n_job_list_tits a.more{ background-position:right 3px; } } /* FF all */
h3.n_job_list_tits a.more:hover, h3.n_job_list_tits a.more:active, h3.n_job_list_tits a.more:focus{ font-size:13px !important; color:#333 !important; text-decoration:underline !important; }
h3.n_job_list_tits.n_job_list_logo_titles a.more{ bottom:15px; }

/* 카운터 */
/*
h3.n_job_list_tits a.more.counters{ font-family:"Dotum", "돋움" !important; font-size:12px; color:#333; background-position:right 2px; font-weight:normal !important; }
h3.n_job_list_tits a.more.counters strong, h3.n_job_list_tits a.more.counters span{ font-weight:normal !important; }
h3.n_job_list_tits a.more.counters strong{ color:#ff5d00; }
h3.n_job_list_tits a.more.counters strong span{ font-weight:bold; color:#333; }
h3.n_job_list_tits a.more.counters:hover, h3.n_job_list_tits a.more.counters:active, h3.n_job_list_tits a.more.counters:focus{ font-family: 'Dotum',"돋움" !important; font-size:12px !important; color:#333 !important; text-decoration:underline !important; }
*/

h3.n_job_list_tits a.more.counters{background:url(/ui/static/image/job/n_list/titles_more_arr_txt.gif) no-repeat right 2px; width:100px; height:16px; overflow:hidden; text-indent:-1000em;}
h3.n_job_list_tits a.more.counters strong, h3.n_job_list_tits a.more.counters span{ font-weight:normal !important; }
h3.n_job_list_tits a.more.counters strong{ color:#ff5d00; }
h3.n_job_list_tits a.more.counters strong span{ font-weight:bold; color:#333; }
h3.n_job_list_tits a.more.counters:hover, h3.n_job_list_tits a.more.counters:active, h3.n_job_list_tits a.more.counters:focus{ font-family: 'Dotum',sans-serif !important; font-size:12px !important; color:#333 !important; text-decoration:underline !important; }


h3.n_job_list_tits_etc{ position:relative; text-align:left; font-size:12px; color:#333; padding:15px 0 8px 0; font-weight:bold; }
h3.n_job_list_tits_etc span{ font-weight:normal; font-size:11px; color:#999; }

/* 로고형 채용정보 */
.n_job_list_logo{ padding:0 0 0px 0; }
.n_job_list_logo ul{ *zoom:1; }
.n_job_list_logo ul:after{ content:''; display:block; clear:both; }
.n_job_list_logo ul li{ position:relative; float:left; width:220px; margin:18px 20px 10px 0; border-top:2px solid #444; height:224px; }
.n_job_list_logo ul li.last{ margin-right:0; }

/* 마감임박, 오늘마감 */
.n_job_list_logo ul li p.flag{ position:absolute; right:8px; top:-12px; width:42px; height:64px; background:url(/ui/static/image/job/n_list/default_flag.png) no-repeat left top;
font-family: 'KoPubM',sans-serif; font-size:12px; line-height:14px; color:#fff; }
.n_job_list_logo ul li p.flag span{ display:block; text-align:center ;padding:12px 4px 0 14px; }

/* 본문 */
.n_job_list_logo ul li p.imgs{ border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; text-align:center; height:80px; display: table-cell; width:218px;vertical-align: middle; }
.n_job_list_logo ul li p.imgs img{ max-height:82px; max-width:218px; }

.n_job_list_logo ul li p.txts{ height:107px; border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; padding:2px 11px 0 13px; }
.n_job_list_logo ul li p.txts em{ text-align:right; display:block; font-family: 'KoPubM',sans-serif; font-size:12px; line-height:18px; color:#888; }
.n_job_list_logo ul li p.txts a{ position:absolute; left:13px; top:124px; display:block; padding-top:1px; font-family: 'KoPubM',sans-serif; font-size:15px; line-height:16px; color:#666; letter-spacing:-1px; padding-right:4%; }
.n_job_list_logo ul li p.txts a strong{ display:block; font-size:16px; font-weight:bold; font-family:'KoPubL'; line-height:16px; color:#000; padding:0 0 6px 0; }
.n_job_list_logo ul li p.txts a:hover, .n_job_list_logo ul li p.txts a:active{ text-decoration:none; }

.n_job_list_logo ul li p.foots{ border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; border-bottom:1px solid #c9d4d4; height:34px; position:relative; background:#fff; }
.n_job_list_logo ul li p.foots em.btns{ display:block; padding:11px 0 0 10px; }
.n_job_list_logo ul li p.foots em.grps{ position:absolute; right:7px; top:11px;
font-family:"Dotum", sans-serif;font-size:11px; line-height:14px; color:#888; letter-spacing:-1px; }
.n_job_list_logo ul li p.foots em.grps span{ color:#ccc; }

/* 신청하기 버튼 */
.n_job_list_logo ul li.job_add_go{ padding-top:0; border-top:0; text-align:center; }
.n_job_list_logo ul li.job_add_go p.add_go{ height:224px; background:#e9f1f1; border:1px solid #c9d4d4; }
.n_job_list_logo ul li.job_add_go p.add_go a{ display:block; padding:149px 0 19px 0; background:url(/ui/static/image/job/n_list/job_add_go_b.gif) no-repeat center 49px; }
.n_job_list_logo ul li.job_add_go p.add_go a span{ display:block; }
.n_job_list_logo ul li.job_add_go p.add_go a span strong{ display:block; font-family: 'KoPubL',sans-serif; font-size:17px; line-height:21px; color:#000; padding:10px 0 7px 0; }
.n_job_list_logo ul li.job_add_go p.add_go a span em{ display:block; font-family: 'KoPubM',sans-serif; font-size:13px; line-height:18px; color:#444; }
.n_job_list_logo ul li.job_add_go p.add_go a:hover, .n_job_list_logo ul li.job_add_go p.add_go a:active{ text-decoration:none; }
.n_job_list_logo ul li.job_add_go p.add_go a:hover, .n_job_list_logo ul li.job_add_go p.add_go a:active{ background-color:#fafafa; }

/* 탑 채용정보 */
.n_job_list_top{ padding:4px 0 0 0;  }
.n_job_list_top ul{ *zoom:1; }
.n_job_list_top ul:after{ content:''; display:block; clear:both; }
.n_job_list_top ul li{ position:relative; float:left; height:170px; width:32.553191%; margin-right:1.170212%; }
.n_job_list_top ul li.last{ margin-right:0; }

/* 본문 */
.n_job_list_top ul li p.heads{ height:42px; padding:16px 4.605263% 0 4.605263%;
border-top:1px solid #c9d4d4; border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; background:#e9f1f1;
*zoom:1; }
.n_job_list_top ul li p.heads:after{ content:''; display:block; clear:both; }
.n_job_list_top ul li p.heads a span.logos{ *float:left; display:table-cell; vertical-align:middle; width:100px; height:39px; border: 1px solid #dce5e5; background: #fff; text-align:center; }
.n_job_list_top ul li p.heads a span.logos img{ max-width:100px; max-height:39px; }
.n_job_list_top ul li p.heads a span.brands{ *float:left; display:table-cell; width:152px; padding:4px 0 0 10px;
font-family: 'KoPubL',sans-serif; font-size:16px; line-height:18px; color:#000; height:36px; overflow:hidden; }

.n_job_list_top ul li p.txts{ padding:10px 4.605263% 0 4.605263%;
border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; background:#e9f1f1; }

.n_job_list_top ul li p.txts a{ display:block; padding-top:0; font-family: 'KoPubM',sans-serif; font-size:15px; line-height:18px; color:#666; letter-spacing:-1px; width:100%; height:18px; text-overflow: ellipsis; white-space:nowrap; overflow:hidden; }
.n_job_list_top ul li p.txts a:hover, .n_job_list_top ul li p.txts a:active{ text-decoration:none; }
.n_job_list_top ul li p.txts em{ display:block; font-family:"Dotum", sans-serif; font-size:11px; line-height:14px; color:#888; letter-spacing:-1px; padding:10px 0 14px 0; }
.n_job_list_top ul li p.txts em span{ padding:0 2px; color:#ccc; }

.n_job_list_top ul li p.foots{ border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; border-bottom:1px solid #c9d4d4; height:35px; position:relative; background:#fff; }
.n_job_list_top ul li p.foots em.btns{ display:block; padding:11px 0 0 12px; }
.n_job_list_top ul li p.foots em.dates{ position:absolute; right:10px; top:11px; color:#888; }
.n_job_list_top ul li p.foots em.dates strong{ color:#222; }

/* 신청하기 버튼 */
.n_job_list_top ul li.job_add_go{  }
.n_job_list_top ul li.job_add_go p.add_go{ height:158px; background:#e9f1f1; border:1px solid #c9d4d4; }
.n_job_list_top ul li.job_add_go p.add_go a{ display:block; padding:39px 0 50px 148px; background:url(/ui/static/image/job/n_list/job_add_go_s.gif) no-repeat 39px 39px; }
.n_job_list_top ul li.job_add_go p.add_go a span{ display:block; }
.n_job_list_top ul li.job_add_go p.add_go a span strong{ display:block; font-family: 'KoPubM',sans-serif; font-size:17px; line-height:21px; color:#000; padding:11px 0 5px 0; }
.n_job_list_top ul li.job_add_go p.add_go a span em{ display:block; font-family: 'KoPubM',sans-serif; font-size:13px; line-height:16px; color:#444; }
.n_job_list_top ul li.job_add_go p.add_go a:hover, .n_job_list_top ul li.job_add_go p.add_go a:active{ text-decoration:none; }
.n_job_list_top ul li.job_add_go p.add_go a:hover, .n_job_list_top ul li.job_add_go p.add_go a:active{ background-color:#fafafa; }

/* 우대 채용정보 */
.n_job_list_perfered{ padding:4px 0 0 0; margin-left:-10px; }
.n_job_list_perfered ul{ *zoom:1; }
.n_job_list_perfered ul:after{ content:''; display:block; clear:both; }
.n_job_list_perfered ul li{ position:relative; float:left; height:115px; width:465px; margin-left:10px; }
.n_job_list_perfered ul li.last{ margin-right:0; }
/* w780 */
.n_list_w780_warp .n_job_list_perfered ul li{ width:385px; }

/* 본문 */
.n_job_list_perfered ul li p.heads{ height:57px; padding:16px 14px 0 14px;
border-top:1px solid #c9d4d4; border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; background:#fff;
*zoom:1; }
.n_job_list_perfered ul li p.heads:after{ content:''; display:block; clear:both; }
.n_job_list_perfered ul li p.heads span.logos{ *float:left; display:table-cell; vertical-align:middle; width:100px; height:39px; border: 1px solid #dce5e5; background: #fff; text-align:center; }
.n_job_list_perfered ul li p.heads span.logos img{ max-width:100px; max-height:39px;}
.n_job_list_perfered ul li p.heads span.brands{ *float:left; display:table-cell; width:309px; padding:1px 0 0 10px;
font-family: 'KoPubL',sans-serif; font-size:16px; line-height:18px; color:#000; height:45px; overflow:hidden; }
.n_job_list_perfered ul li p.heads span.brands a{ font-family: 'KoPubL',sans-serif; font-size:16px; line-height:18px; color:#000; }
.n_job_list_perfered ul li p.heads span.brands a span.bold{ font-weight:bold; }
.n_job_list_perfered ul li p.heads span.brands a span.color{ color:#1aa2a1; }
.n_job_list_perfered ul li p.heads span.brands a:hover span.color,
.n_job_list_perfered ul li p.heads span.brands a:active span.color,
.n_job_list_perfered ul li p.heads span.brands a:focus span.color{ text-decoration:underline !important; color:#1aa2a1 !important; }
/* 아이콘 */
.n_job_list_perfered ul li p.heads span.brands .point_ico_qq,
.n_job_list_perfered ul li p.heads span.brands .point_ico_att{ display:inline-block; width:32px; height:17px; vertical-align:middle; padding-left:4px; padding-top:1px; padding-top:3px\0/IE8+9; margin-top:-1px\0/IE8+9; *padding-top:2px; }
@media all and (-ms-high-contrast:none){
	.n_job_list_perfered ul li p.heads span.brands .point_ico_qq,
	.n_job_list_perfered ul li p.heads span.brands .point_ico_att{ margin-top:0; } /* IE10 ~ */
}
.n_job_list_perfered ul li p.heads span.brands .point_ico_qq a,
.n_job_list_perfered ul li p.heads span.brands .point_ico_att a{ cursor:default; font-size:11px; font-family:"Dotum",sans-serif; font-weight:bold; line-height:17px; letter-spacing:-1px; color:#fff; }
.n_job_list_perfered ul li p.heads span.brands .point_ico_qq a:hover,
.n_job_list_perfered ul li p.heads span.brands .point_ico_qq a:active,
.n_job_list_perfered ul li p.heads span.brands .point_ico_att a:hover,
.n_job_list_perfered ul li p.heads span.brands .point_ico_att a:active{ text-decoration:none; color:#fff !important; }
.n_job_list_perfered ul li p.heads span.brands .point_ico_qq{ background:url(/ui/static/image/job/n_list/point_ico_qq.png) no-repeat; }
.n_job_list_perfered ul li p.heads span.brands .point_ico_att{ background:url(/ui/static/image/job/n_list/point_ico_att.png) no-repeat; }
/* w780 */
.n_list_w780_warp .n_job_list_perfered ul li p.heads span.brands{ width:239px; }
.n_job_list_perfered ul li p.heads span.brands .accent{ display:block; font-family: 'KoPubM',sans-serif; font-size:15px; letter-spacing:-1px; color:#666; padding-top:4px; }

.n_job_list_perfered ul li p.foots{ border-left:1px solid #c9d4d4; border-right:1px solid #c9d4d4; border-bottom:1px solid #c9d4d4; height:30px; position:relative; background:#e9f1f1; }
.n_job_list_perfered ul li p.foots em.btns{ display:block; padding:8px 0 0 12px; }
.n_job_list_perfered ul li p.foots em.txts{ position:absolute; left:65px; top:8px; display:block; font-family:"Dotum", sans-serif; font-size:11px; line-height:14px; color:#888; letter-spacing:-1px; }
.n_job_list_perfered ul li p.foots em.txts span{ padding:0 2px; color:#ccc; }
.n_job_list_perfered ul li p.foots em.dates{ position:absolute; right:14px; top:8px; color:#888; }
.n_job_list_perfered ul li p.foots em.dates strong{ color:#222; }

/* 신청하기 버튼 */
.n_job_list_perfered ul li.job_add_go{  }
.n_job_list_perfered ul li.job_add_go p.add_go{ height:103px; background:#e9f1f1; border:1px solid #c9d4d4; }
.n_job_list_perfered ul li.job_add_go p.add_go a{ display:block; padding:17px 0 31px 129px; background:url(/ui/static/image/job/n_list/job_add_go_ss.gif) no-repeat 13px 17px; }
.n_job_list_perfered ul li.job_add_go p.add_go a span{ display:block; }
.n_job_list_perfered ul li.job_add_go p.add_go a span strong{ display:block; font-family: 'KoPubM',sans-serif; font-size:17px; line-height:21px; color:#000; padding:12px 0 6px 0; }
.n_job_list_perfered ul li.job_add_go p.add_go a span em{ display:block; font-family: 'KoPubM',sans-serif; font-size:13px; line-height:16px; color:#444; }
.n_job_list_perfered ul li.job_add_go p.add_go a:hover, .n_job_list_perfered ul li.job_add_go p.add_go a:active{ text-decoration:none; }
.n_job_list_perfered ul li.job_add_go p.add_go a:hover, .n_job_list_perfered ul li.job_add_go p.add_go a:active{ background-color:#fafafa; }

/* 버튼 */
/* 스크랩 버튼 레이어 */
.scraps_layer{ position:relative; }
.scrapLayer{ top:-36px !important; *top:-19px !important; left:-3px !important; padding-top:7px !important; padding-left:4px !important; }
@media all and (-ms-high-contrast:none){
	.scrapLayer{ top:-38px !important; } /* IE10 ~ */
}
.scrapLayer button.btns_scraps{ vertical-align:-1px; }
.scrapLayer button.btns_scraps:hover, .scrapLayer button.btns_scraps:active, .scrapLayer button.btns_scraps:focus{ background-position:-28px 0 !important; }
.scrapLayer .btClose {background:url(/ui/static/image/button/sprite_bt.png) no-repeat -3px -193px; width:9px !important; height:9px !important; position:absolute !important; top:9px !important; right:16px !important; margin:0 !important;}
.scrapLayer .btClose span {text-indent:-500em; display:block}
/* // 스크랩 버튼 레이어 */
.btns_scraps, .btns_wish, .btns_detail_view{ background-repeat:no-repeat; width:14px; height:14px; overflow:hidden; text-indent:-500em; *text-indent:0; *padding-top:14px; *margin-right:5px; background-image:url(/ui/static/image/job/n_list/btns_all.png); }
.btns_scraps{ background-position:-28px 0; }
.btns_scraps:hover, .btns_scraps:active, .btns_scraps:focus,  .btns_scraps.on{ background-position:-28px -14px !important; }
.btns_wish{ background-position:-42px 0; }
.btns_wish:hover, .btns_wish:active, .btns_wish:focus, .btns_wish.on{ background-position:-42px -14px !important; }
.btns_detail_view{ display:inline-block; *zoom:1; *height:0; background-position:-56px 0; position:relative; top:1px; top:2px\9; *top:-2px; }
.btns_detail_view:hover, .btns_detail_view:active, .btns_detail_view:focus, .btns_detail_view.on{ background-position:-56px -14px !important; }
.n_job_list_top .btns_scraps, .n_job_list_top .btns_wish,
.n_job_list_perfered .btns_scraps, .n_job_list_perfered .btns_wish{ margin-right:5px; *margin-right:10px; }
/* 입사지원&자세히보기 버튼 */
.btns_job_submit{ height:25px; border:1px solid #f94600; background:#ff5d00 url(/ui/static/image/job/n_list/btns_job_submit.png) no-repeat 4px 3px; font-size:11px; color:#fff; letter-spacing:-1px; padding:0 0 0 15px; padding-top:4px\9; *padding-top:1px; width:68px; }
@media \0screen{ .btns_job_submit{ padding-top:3px; } } /* IE8 */
@media all and (-ms-high-contrast:none){ .btns_job_submit{ padding-top:4px; } } /* IE10~ */
.btns_job_submit:hover, .btns_job_submit:active, .btns_job_submit.on{ border-color:#ea1302; background-color:#fb4700; }

.btns_job_detail_view{ height:25px; border:1px solid #1c9f9e; background:#37b0af; font-size:11px; color:#fff; letter-spacing:-1px; padding:0; padding-top:4px\9; *padding-top:1px; width:68px; /* background:#37b0af url(/ui/static/image/job/n_list/btns_job_detail_view.png) no-repeat 4px 3px; */ }
@media \0screen{ .btns_job_detail_view{ padding-top:3px; } } /* IE8 */
@media all and (-ms-high-contrast:none){ .btns_job_detail_view{ padding-top:4px; } } /* IE10~ */
.btns_job_detail_view:hover, .btns_job_detail_view:active, .btns_job_detail_view.on{ border-color:#17908f; background-color:#2ea2a1; }
/* 지역 더보기 버튼 */
.list_area_more{ width:11px; height:11px; background:url(/ui/static/image/job/n_list/list_area_more.gif) no-repeat 0 0; overflow:hidden; text-indent:-500em; vertical-align:-2px; *vertical-align:2px; *text-indent:0; *padding-top:11px; *margin-left:3px; }
.list_area_more:hover{ background-position:0 -11px; }
/* FF All Ver */
@-moz-document url-prefix(){
	.list_area_more{ vertical-align:-3px; }
}
.list_area_more:hover, .list_area_more:active, .list_area_more.on{  }

/* 프리미엄 */
.n_job_list_logo ul li.premiums p.flag{ background-image:url(/ui/static/image/job/n_list/premiums_flag.png); }
.n_job_list_logo ul li.premiums p.imgs, .n_job_list_logo ul li.premiums p.txts, .n_job_list_logo ul li.premiums p.foots{ border-color:#009695; }
.n_job_list_logo ul li.premiums:hover p.foots, .n_job_list_logo ul li.premiums:active p.foots{ background-color:#017574 ; }
.n_job_list_logo ul li.premiums p.imgs{ border-top-color:#444; }
.n_job_list_logo ul li.premiums p.foots{ background-color:#009695; }
.n_job_list_logo ul li.premiums p.foots em.grps{ color:#fff; }
.n_job_list_logo ul li.premiums p.foots em.grps span{ color:#60b8b7; }

.btns_scraps.btns_premiums{ background-position:0 0; }
.btns_wish.btns_premiums{ background-position:-14px 0; }

.btns_scraps.btns_premiums:hover, .btns_scraps.btns_premiums:active, .btns_scraps.btns_premiums.on{ background-position:0 -14px; }
.btns_wish.btns_premiums:hover, .btns_wish.btns_premiums:active, .btns_wish.btns_premiums.on{ background-position:-14px -14px; }

/* 오버시 효과 */
.n_job_list_logo ul li:hover p.imgs, .n_job_list_logo ul li:active p.imgs, .n_job_list_logo ul li:focus p.imgs,
.n_job_list_logo ul li:hover p.txts, .n_job_list_logo ul li:active p.txts, .n_job_list_logo ul li:focus p.txts,
.n_job_list_logo ul li:hover p.foots, .n_job_list_logo ul li:active p.foots, .n_job_list_logo ul li:focus p.foots{ border-color:#009695; border-top-color:#444; }
.n_job_list_top ul li:hover p.heads, .n_job_list_top ul li:active p.heads, .n_job_list_top ul li:focus p.heads,
.n_job_list_top ul li:hover p.imgs, .n_job_list_top ul li:active p.imgs, .n_job_list_top ul li:focus p.imgs,
.n_job_list_top ul li:hover p.txts, .n_job_list_top ul li:active p.txts, .n_job_list_top ul li:focus p.txts,
.n_job_list_top ul li:hover p.foots, .n_job_list_top ul li:active p.foots, .n_job_list_top ul li:focus p.foots{ border-color:#009695; }
.n_job_list_perfered ul li:hover p.heads, .n_job_list_perfered ul li:active p.heads, .n_job_list_perfered ul li:focus p.heads,
.n_job_list_perfered ul li:hover p.imgs, .n_job_list_perfered ul li:active p.imgs, .n_job_list_perfered ul li:focus p.imgs,
.n_job_list_perfered ul li:hover p.foots, .n_job_list_perfered ul li:active p.foots, .n_job_list_perfered ul li:focus p.foots{ border-color:#009695; }

/* 게시판 리스트 */
.n_job_list_default{ padding:51px 0 0 0; }
.Top_XSpc{ padding:0 0 0 0; }
#ADSponsorAll{ margin:35px 0 15px 0; }
.ADGoogles{ margin:35px 0 15px 0; }
/*
	우대알바정보 : list_alba
	전체채용정보 : list_full_default
	전체알바정보 : list_full_alba
	인크루트 채용정보 : list_incruit
	헤드헌팅 : list_headhunting
	파견대행 : list_agencies
	워크넷채용정보 : list_full_worknet
	내일검색 : list_full_days
*/
.n_job_list_table_a{ }
.n_job_list_table_a table{ width:100%; border-top:2px solid #444; }
.n_job_list_table_a col.colwid_tit{ width:206px; }
.n_job_list_table_a col.colwid_subject{ width:%; }
.n_job_list_table_a col.colwid_area{ width:115px; }
.n_job_list_table_a col.colwid_area.chk_list{ width:136px; }
.n_job_list_table_a col.colwid_area_first{ width:126px; }
.n_job_list_table_a col.colwid_mday{ width:77px; }
.n_job_list_table_a col.colwid_dday{ width:87px; }
.n_job_list_table_a col.colwid_manager{ width:77px; }
/* 

.n_list_w780_warp .n_job_list_table_a col.colwid_tit{ width:15.837837%; }
.n_list_w780_warp .n_job_list_table_a col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a col.colwid_area{ width:13.591891%; }
.n_list_w780_warp .n_job_list_table_a col.colwid_mday{ width:7.743589%; }
.n_list_w780_warp .n_job_list_table_a col.colwid_dday{ width:9.143589%; }

 */
/* w780 우대알바정보 */
.n_list_w780_warp .n_job_list_table_a.list_alba col.colwid_tit{ width:167px; }
.n_list_w780_warp .n_job_list_table_a.list_alba col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_alba col.colwid_area{ width:99px; }
.n_list_w780_warp .n_job_list_table_a.list_alba col.colwid_dday{ width:85px; }
/* w780 전체채용정보 */
.n_list_w780_warp .n_job_list_table_a.list_full_default col.colwid_tit{ width:172px; }
.n_list_w780_warp .n_job_list_table_a.list_full_default col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_full_default col.colwid_area{ width:89px; }
.n_list_w780_warp .n_job_list_table_a.list_full_default col.colwid_mday{ width:62px; }
.n_list_w780_warp .n_job_list_table_a.list_full_default col.colwid_dday{ width:85px; }
/* w780 전체알바정보 */
.n_list_w780_warp .n_job_list_table_a.list_full_alba col.colwid_tit{ width:167px; }
.n_list_w780_warp .n_job_list_table_a.list_full_alba col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_full_alba col.colwid_area{ width:142px; }
.n_list_w780_warp .n_job_list_table_a.list_full_alba col.colwid_mday{ width:126px; }
.n_list_w780_warp .n_job_list_table_a.list_full_alba col.colwid_dday{ width:85px; }
/* w780 인크루트 채용정보 */
.n_list_w780_warp .n_job_list_table_a.list_incruit col.colwid_tit{ width:167px; }
.n_list_w780_warp .n_job_list_table_a.list_incruit col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_incruit col.colwid_area{ width:99px; }
.n_list_w780_warp .n_job_list_table_a.list_incruit col.colwid_dday{ width:85px; }
/* w780 헤드헌팅 */
.n_list_w780_warp .n_job_list_table_a.list_headhunting col.colwid_tit{ width:167px; }
.n_list_w780_warp .n_job_list_table_a.list_headhunting col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_headhunting col.colwid_area{ width:99px; }
.n_list_w780_warp .n_job_list_table_a.list_headhunting col.colwid_dday{ width:85px; }
/* w780 파견대행 */
.n_list_w780_warp .n_job_list_table_a.list_agencies col.colwid_tit{ width:167px; }
.n_list_w780_warp .n_job_list_table_a.list_agencies col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_agencies col.colwid_area{ width:99px; }
.n_list_w780_warp .n_job_list_table_a.list_agencies col.colwid_dday{ width:85px; }
/* w780 워크넷채용정보 */
.n_list_w780_warp .n_job_list_table_a.list_full_worknet col.colwid_tit{ width:172px; }
.n_list_w780_warp .n_job_list_table_a.list_full_worknet col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_full_worknet col.colwid_area{ width:89px; }
.n_list_w780_warp .n_job_list_table_a.list_full_worknet col.colwid_mday{ width:62px; }
.n_list_w780_warp .n_job_list_table_a.list_full_worknet col.colwid_dday{ width:85px; }
/* w780 내일검색 */
.n_list_w780_warp .n_job_list_table_a.list_full_days col.colwid_tit{ width:167px; }
.n_list_w780_warp .n_job_list_table_a.list_full_days col.colwid_subject{ width:%; }
.n_list_w780_warp .n_job_list_table_a.list_full_days col.colwid_area{ width:99px; }
.n_list_w780_warp .n_job_list_table_a.list_full_days col.colwid_dday{ width:85px; }

.n_job_list_table_a thead th{ position:relative; height:37px; background:#f5f8f8 url(/ui/static/image/job/n_list/table_a_th_bg.gif) no-repeat right bottom; border-bottom:1px solid #cacaca; font-family: 'KoPubL',sans-serif; font-size:13px; font-size:12px\9; color:#000; }
.n_job_list_table_a thead th .check_list{ display:block; position:absolute; left:10px; top:7px; }
.n_job_list_table_a thead th div.check_list label{ font-size:12px; letter-spacing:-1px; color:#333; display:inline-block; background:#f5f8f8 url(/ui/static/image/job/n_list/check_box_txt.gif) no-repeat left -1px; border:1px solid #f5f8f8; height:21px; line-height:21px; padding-right:0; padding-left:17px; padding-top:1px; height:16px\9; line-height:16px\9; padding-top:4px\9; *height:17px; *line-height:17px; *padding-top:3px; *vertical-align:middle; *margin-right:5px; }
.n_job_list_table_a thead th div.check_list label.on{ background-position:left -25px; }
.n_job_list_table_a thead th div.check_list label:hover, .n_job_list_table_a thead th div.check_list label:active{  }
.n_job_list_table_a thead th div.check_list input{ width:0 !important; height:0 !important; margin:0 !important; padding:0 !important; overflow:hidden !important; }
/* FF All Ver */
@-moz-document url-prefix(){
	.n_job_list_table_a thead th div.check_list input{ display:none; font-size:0; margin:0 0 0 3px; padding:0; }
}
.n_job_list_table_a thead .firsts{ border-left:1px solid #cacaca; }
.n_job_list_table_a thead .chk_list{ padding-left:11px; }
.n_job_list_table_a thead .lasts{ border-right:1px solid #cacaca; background-image:none; }
.n_job_list_table_a tbody td{ height:71px; height:65px\0/IE8+9; border-bottom:1px solid #e1e1e1; vertical-align:top !important; }
.n_job_list_default .n_job_list_table_a tbody td{ height:73px; height:67px\0/IE8+9; }
.n_job_list_default .n_job_list_table_a tbody td.n_job_list_tits_etc{ border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; height:28px; height:28px\0/IE8+9; background:#fafafa; }
.n_job_list_default .n_job_list_table_a tbody td.n_job_list_tits_etc h3{ padding:7px 0 0 9px; }
.n_job_list_default .n_job_list_table_a tbody td.firsts{ border-left:1px solid #e1e1e1; }
.n_job_list_table_a tbody .lasts{ border-right:1px solid #e1e1e1; }
/* 공고없을때 */
.n_job_list_table_a tbody td .empty_list{ text-align:center; border:1px solid #e1e1e1; border-top:0; background:url(/ui/static/image/job/n_list/empty_list.png) no-repeat center 33px; }
.n_job_list_table_a tbody td .empty_list p{ padding:127px 0 36px 0; line-height:20px; color:#444; }
.n_job_list_table_a tbody td .empty_list p img{  }
.n_job_list_table_a tbody td .empty_list p strong{ display:block; padding:13px 0 12px 0; font-family: 'KoPubM',sans-serif; font-weight:normal; font-size:20px; line-height:24px; color:#bbb; }
.n_job_list_table_a tbody td .empty_list p span{ display:inline-block; padding:5px; background:url(/ui/static/image/job/n_list/empty_list_quot_l.gif) no-repeat; vertical-align:6px; *vertical-align:-4px; }
.n_job_list_table_a tbody td .empty_list p span.firsts{ background:url(/ui/static/image/job/n_list/empty_list_quot_f.gif) no-repeat; }
.n_job_list_table_a tbody td .empty_list p ins{ color:#009594; }

.n_job_list_table_a tbody th{ text-align:left; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; font-weight:normal; }
.n_job_list_table_a tbody th.alba_th{ border-left:0 solid #e1e1e1; }
.n_job_list_table_a tbody .companys{ padding:16px 20px 16px 20px; padding-bottom:5px\9; *zoom:1; }
.n_list_w780_warp .n_job_list_table_a tbody .companys{ padding:16px 12px 16px 12px; }
.n_job_list_table_a tbody .companys.check_companys{ padding:11px 20px 8px 9px; }
.n_job_list_table_a tbody .companys:after{ content:''; display:block; clear:both; }
.n_job_list_table_a tbody .companys span.logos{ display:block; width:163px; border:1px solid #eee; text-align:center; }
.n_list_w780_warp .n_job_list_table_a tbody .companys span.logos{ width:138px; }
.n_job_list_table_a tbody .companys span.logos img{ height:30px; }
.n_job_list_table_a tbody .companys span.links{ display:block; padding:4px 0 3px 0; padding:6px 0 0 0\0/IE8+9; *padding-top:4px; }
.n_job_list_table_a tbody .companys p span{ *margin-left:4px; }
@-moz-document url-prefix(){
	.n_job_list_table_a tbody .companys span.links{ padding-top:3px; }
} /* FF Only */
.n_job_list_table_a tbody .companys span.links a{ font-size:13px; line-height:16px; color:#222; }
.n_job_list_table_a tbody .companys span.links a font,
.n_job_list_table_a tbody td .subjects a.links font{ color:#1AA2A1; }
.n_job_list_table_a tbody .companys span.links a:hover, .n_job_list_table_a tbody .companys span.links a:active, .n_job_list_table_a tbody .companys span.links a:focus{ text-decoration:underline !important; }
.n_job_list_table_a tbody .companys span.links span.color{ color:#1AA2A1; }

/* 좌측 체크 리스트가 있을때 */
.check_list{ display:block; position:absolute; }
.check_list_r{ padding:0 0 0 21px; }

div.check_list{  }
div.check_list{ position:relative; float:left; }
div.check_list .helpWrap{ top:-74px !important; }
div.check_list #applyTyhelpLayer{ width:298px !important; left:146px !important; left:148px\0/IE8+9 !important; }
div.check_list #specialJobhelpLayer{ width:218px !important; left:118px !important; left:120px\0/IE8+9 !important; }
/* FF All Ver */
@-moz-document url-prefix(){
	div.check_list #applyTyhelpLayer{ left:143px !important; }
	div.check_list #specialJobhelpLayer{ left:115px !important; }
}
div.check_list label{ font-size:12px; letter-spacing:-1px; color:#333; display:inline-block; background:#fff url(/ui/static/image/job/n_list/check_box_txt.gif) no-repeat left -1px; border:1px solid #fff; height:21px; line-height:21px; padding-right:0; padding-left:17px; padding-top:1px; height:16px\0/IE8+9; line-height:16px\0/IE8+9; padding-top:4px\0/IE8+9; *height:17px; *line-height:17px; *padding-top:3px; *vertical-align:middle; *margin-right:5px; }
div.check_list label.on{ background-position:left -25px; }
div.check_list label:hover, div.check_list label:active{  }
div.check_list input{ width:0 !important; height:0 !important; margin:0 !important; padding:0 !important; overflow:hidden !important; }
/* FF All Ver */
@-moz-document url-prefix(){
	div.check_list input{ display:none; font-size:0; margin:0 0 0 3px; padding:0; }
}

/* 미니 아이콘(코스피, 외국계, 인사 등) */
.cc_default{ cursor:default !important; }
.n_job_list_table_a span.icos_kosnexi,
.n_job_list_table_a span.icos_default,
.n_job_list_table_a span.icos_HR,
.n_job_list_table_a span.icos_Interview,
.n_job_list_table_a span.icos_Senior,
.n_job_list_table_a span.icos_alba_t,
.n_job_list_table_a span.icos_alba_m,
.n_job_list_table_a span.icos_alba_d,
.n_job_list_table_a span.icos_alba_w,
.n_job_list_table_a span.icos_alba_n,
.n_job_list_table_a span.icos_alba_y,
.n_job_list_table_a span.icos_alba_l{ display:inline-block; height:12px; padding:0 2px 0 1px; overflow:hidden; margin-bottom:3px; vertical-align:top; }
@-moz-document url-prefix(){
	.n_job_list_table_a span.icos_kosnexi,
	.n_job_list_table_a span.icos_default,
	.n_job_list_table_a span.icos_HR,
	.n_job_list_table_a span.icos_Interview,
	.n_job_list_table_a span.icos_Senior,
	.n_job_list_table_a span.icos_alba_t,
	.n_job_list_table_a span.icos_alba_m,
	.n_job_list_table_a span.icos_alba_d,
	.n_job_list_table_a span.icos_alba_w,
	.n_job_list_table_a span.icos_alba_n,
	.n_job_list_table_a span.icos_alba_y,
	.n_job_list_table_a span.icos_alba_l{ padding-bottom:1px; }
} /* FF Only */
.n_job_list_table_a span.icos_kosnexi a,
.n_job_list_table_a span.icos_default a,
.n_job_list_table_a span.icos_alba_t a,
.n_job_list_table_a span.icos_alba_m a,
.n_job_list_table_a span.icos_alba_d a,
.n_job_list_table_a span.icos_alba_w a,
.n_job_list_table_a span.icos_alba_n a,
.n_job_list_table_a span.icos_alba_y a,
.n_job_list_table_a span.icos_alba_l a,
.n_job_list_table_a span.icos_HR a,
.n_job_list_table_a span.icos_Interview a,
.n_job_list_table_a span.icos_Senior a,
.n_job_list_table_a span.icos_HR { display:inline-block; font-size:11px; line-height:normal; letter-spacing:-1px; padding-top:1px\0/IE8+9; *padding-top:1px; }
.n_job_list_table_a span.icos_HR a,
.n_job_list_table_a span.icos_Interview a,
.n_job_list_table_a span.icos_Senior a
.n_job_list_table_a span.icos_HR a{ letter-spacing:-2px; }
.n_job_list_table_a span.icos_HR a,
.n_job_list_table_a span.icos_Interview a,
.n_job_list_table_a span.icos_Senior a,
.n_job_list_table_a span.icos_alba_t a,
.n_job_list_table_a span.icos_alba_m a,
.n_job_list_table_a span.icos_alba_d a,
.n_job_list_table_a span.icos_alba_w a,
.n_job_list_table_a span.icos_alba_n a,
.n_job_list_table_a span.icos_alba_y a,
.n_job_list_table_a span.icos_alba_l a{ cursor:default; }
/* FF All Ver */
@-moz-document url-prefix(){
	.n_job_list_table_a span.icos_kosnexi a, .n_job_list_table_a span.icos_default a, .n_job_list_table_a span.icos_HR a, .n_job_list_table_a span.icos_Interview a, .n_job_list_table_a span.icos_Senioricos_Senior a{ margin-top:0; }
	.n_job_list_table_a span.icos_HR a, .n_job_list_table_a span.icos_Interview a, .n_job_list_table_a span.icos_Senior a, .n_job_list_table_a span.icos_alba_t a, .n_job_list_table_a span.icos_alba_m a, .n_job_list_table_a span.icos_alba_d a, .n_job_list_table_a span.icos_alba_w a, .n_job_list_table_a span.icos_alba_n a, .n_job_list_table_a span.icos_alba_y a, .n_job_list_table_a span.icos_alba_l a{ margin-top:-1px; }
	.n_job_list_table_a tbody .companys button{ vertical-align:-1px; position:relative; top:1px; }
}
.n_job_list_table_a span.icos_kosnexi{ border:1px solid #ffa800; }
.n_job_list_table_a span.icos_kosnexi a{ color:#ffa800; }
.n_job_list_table_a span.icos_kosnexi:hover a, .n_job_list_table_a span.icos_kosnexi:active a,
.n_job_list_table_a span.icos_kosnexi:hover, .n_job_list_table_a span.icos_kosnexi:active{ background-color:#ffa800; color:#fff !important; text-decoration:none; }
.n_job_list_table_a span.icos_default{ border:1px solid #5e9ed9; }
.n_job_list_table_a span.icos_default a{ color:#5e9ed9; }
.n_job_list_table_a span.icos_default:hover a, .n_job_list_table_a span.icos_default:active a,
.n_job_list_table_a span.icos_default:hover, .n_job_list_table_a span.icos_default:active{ background-color:#5e9ed9; color:#fff !important; text-decoration:none; }
.n_job_list_table_a span.icos_HR{ border:1px solid #89c471; }
.n_job_list_table_a span.icos_HR a{ color:#89c471; }
.n_job_list_table_a span.icos_HR:hover a, .n_job_list_table_a span.icos_HR:active a,
.n_job_list_table_a span.icos_HR:hover, .n_job_list_table_a span.icos_HR:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_Interview{ border:1px solid #6cb1e2; }
.n_job_list_table_a span.icos_Interview a{ color:#6cb1e2; }
.n_job_list_table_a span.icos_Interview:hover a, .n_job_list_table_a span.icos_Interview:active a,
.n_job_list_table_a span.icos_Interview:hover, .n_job_list_table_a span.icos_Interview:active{ /* background-color:#6cb1e2; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_Senior{ border:1px solid #eda447; }
.n_job_list_table_a span.icos_Senior a{ color:#eda447; }
.n_job_list_table_a span.icos_Senior:hover a, .n_job_list_table_a span.icos_Senior:active a,
.n_job_list_table_a span.icos_Senior:hover, .n_job_list_table_a span.icos_Senior:active{ /* background-color:#eda447; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_alba_t{ border:1px solid #b8e7b9; }
.n_job_list_table_a span.icos_alba_t a{ color:#62c76b; }
.n_job_list_table_a span.icos_alba_t:hover a, .n_job_list_table_a span.icos_alba_t:active a,
.n_job_list_table_a span.icos_alba_t:hover, .n_job_list_table_a span.icos_alba_t:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_alba_m{ border:1px solid #ff8929; }
.n_job_list_table_a span.icos_alba_m a{ color:#ff8929; }
.n_job_list_table_a span.icos_alba_m:hover a, .n_job_list_table_a span.icos_alba_m:active a,
.n_job_list_table_a span.icos_alba_m:hover, .n_job_list_table_a span.icos_alba_m:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_alba_d{ border:1px solid #9993dd; }
.n_job_list_table_a span.icos_alba_d a{ color:#9993dd; }
.n_job_list_table_a span.icos_alba_d:hover a, .n_job_list_table_a span.icos_alba_d:active a,
.n_job_list_table_a span.icos_alba_d:hover, .n_job_list_table_a span.icos_alba_d:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_alba_w{ border:1px solid #ff9a40; }
.n_job_list_table_a span.icos_alba_w a{ color:#ff9a40; }
.n_job_list_table_a span.icos_alba_w:hover a, .n_job_list_table_a span.icos_alba_w:active a,
.n_job_list_table_a span.icos_alba_w:hover, .n_job_list_table_a span.icos_alba_w:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_alba_n{ border:1px solid #9383e9; }
.n_job_list_table_a span.icos_alba_n a{ color:#9383e9; }
.n_job_list_table_a span.icos_alba_n:hover a, .n_job_list_table_a span.icos_alba_n:active a,
.n_job_list_table_a span.icos_alba_n:hover, .n_job_list_table_a span.icos_alba_n:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_alba_y{ border:1px solid #57b4d0; }
.n_job_list_table_a span.icos_alba_y a{ color:#57b4d0; }
.n_job_list_table_a span.icos_alba_y:hover a, .n_job_list_table_a span.icos_alba_y:active a,
.n_job_list_table_a span.icos_alba_y:hover, .n_job_list_table_a span.icos_alba_y:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_alba_l{ border:1px solid #57b4d0; }
.n_job_list_table_a span.icos_alba_l a{ color:#57b4d0; }
.n_job_list_table_a span.icos_alba_l:hover a, .n_job_list_table_a span.icos_alba_l:active a,
.n_job_list_table_a span.icos_alba_l:hover, .n_job_list_table_a span.icos_alba_l:active{ /* background-color:#89c471; color:#fff; */ text-decoration:none; }
.n_job_list_table_a span.icos_HR a:hover,
.n_job_list_table_a span.icos_HR a:active,
.n_job_list_table_a span.icos_HR a:focus{ color:#89c471 !important; }
.n_job_list_table_a span.icos_Interview a:hover,
.n_job_list_table_a span.icos_Interview a:active,
.n_job_list_table_a span.icos_Interview a:focus{ color:#6cb1e2 !important; }
.n_job_list_table_a span.icos_Senior a:hover,
.n_job_list_table_a span.icos_Senior a:active,
.n_job_list_table_a span.icos_Senior a:focus{ color:#eda447 !important; }
/* // 미니 아이콘(코스피, 외국계 등) */
.n_job_list_table_a tbody .companys button{ /* vertical-align:1px; */ position:relative\9; top:-1px\0/IE8+9; *top:-1px; *margin-left:3px; }
.n_job_list_table_a tbody td .subjects{ padding:15px 23px 15px 11px; padding:15px 24px 15px 10px\0/IE8+9; *padding-right:11px; }
.n_list_w780_warp .n_job_list_table_a tbody td .subjects{ padding-right:11px !important; }
.n_job_list_table_a tbody td .subjects .point_ico_qq, .n_job_list_table_a tbody td .subjects .point_ico_att{ display:inline-block; width:32px; height:17px; vertical-align:middle; padding-left:4px; padding-top:1px; padding-top:3px\0/IE8+9; margin-top:-1px\0/IE8+9; *padding-top:2px; }
@media all and (-ms-high-contrast:none){
	.n_job_list_table_a tbody td .subjects .point_ico_qq, .n_job_list_table_a tbody td .subjects .point_ico_att{ margin-top:0; } /* IE10 ~ */
}
.n_job_list_table_a tbody td .subjects .point_ico_qq a, .n_job_list_table_a tbody td .subjects .point_ico_att a{ cursor:default; font-size:11px; font-weight:bold; line-height:17px; letter-spacing:-1px; color:#fff; }
.n_job_list_table_a tbody td .subjects .point_ico_qq a:hover, .n_job_list_table_a tbody td .subjects .point_ico_qq a:active,
.n_job_list_table_a tbody td .subjects .point_ico_att a:hover, .n_job_list_table_a tbody td .subjects .point_ico_att a:active{ text-decoration:none; color:#fff !important; }
.n_job_list_table_a tbody td .subjects .point_ico_qq{ background:url(/ui/static/image/job/n_list/point_ico_qq.png) no-repeat; }
.n_job_list_table_a tbody td .subjects .point_ico_att{ background:url(/ui/static/image/job/n_list/point_ico_att.png) no-repeat; }
.n_job_list_table_a tbody td .subjects a.links{ font-family:"Dotum", sans-serif; font-size:14px; line-height:18px; color:#222; vertical-align:middle; letter-spacing:-0.9px\0/IE8+9; *letter-spacing:-1px; }
.n_job_list_table_a tbody td .subjects a.links:hover, .n_job_list_table_a tbody td .subjects a.links:active, .n_job_list_table_a tbody td .subjects a.links:focus{ font-family:"Dotum", sans-serif !important; font-size:14px !important; line-height:18px !important; color:#222 !important; vertical-align:middle !important; letter-spacing:-0.9px !important\0/IE8+9; *letter-spacing:-1px !important; text-decoration:underline !important; }

.n_job_list_table_a tbody td .subjects a.links span.bg{ display:inline-block; height:18px; height:17px\0/IE8+9; padding-top:1px\0/IE8+9; background:#fcff00 !important; }
@media all and (-ms-high-contrast:none){
	.n_job_list_table_a tbody td .subjects a.links span.bg{ height:16px; padding-top:2px; } /* IE10 ~ */
}
.n_job_list_table_a tbody td .subjects a.links span.bold{ font-weight:bold; }
.n_job_list_table_a tbody td .subjects a.links span.color{ color:#1aa2a1; }
.n_job_list_table_a tbody td .subjects a.links:hover span.color, .n_job_list_table_a tbody td .subjects a.links:active span.color, .n_job_list_table_a tbody td .subjects a.links:focus span.color{ text-decoration:underline !important; color:#1aa2a1 !important; }
@-moz-document url-prefix(){
	.n_job_list_table_a tbody td .subjects a.links{ letter-spacing:-0.65px; }
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_HR, .n_job_list_table_a tbody td .subjects p.details_txts .icos_Interview, .n_job_list_table_a tbody td .subjects p.details_txts .icos_Senior{ padding-top:0; padding-bottom:0 !important; }
}
.n_job_list_table_a tbody td .subjects a.links em, .n_job_list_table_a tbody td .subjects .cmt_num{ font-size:12px; color:#ff5d00; letter-spacing:0px; }
.n_job_list_table_a tbody td .subjects .cmt_num{ vertical-align:-1px; }
@media all and (-ms-high-contrast:none){
	.n_job_list_table_a tbody td .subjects .cmt_num{ vertical-align:1px; } /* IE 10 ~ */
}
.n_job_list_table_a tbody td .subjects button{ vertical-align:middle; margin:0 1px; position:relative\9; top:-2px\9; *margin-left:3px; }
@media all and (-ms-high-contrast:none){
	.n_job_list_table_a tbody td .subjects button{ vertical-align:3px; } /* IE10 ~ */
}
.n_job_list_table_a tbody td .subjects p.details_txts{ position:relative; padding:8px 0 0 0; }
.n_job_list_table_a tbody td .subjects p.details_txts em{ font-size:11px; color:#888; line-height:17px; }
.n_job_list_table_a tbody td .subjects p.details_txts em span{ color:#ddd; padding:0 4px; }
.n_list_w780_warp .n_job_list_table_a tbody td .subjects p.details_txts em{ letter-spacing:-0.02em; }
.n_list_w780_warp .n_job_list_table_a tbody td .subjects p.details_txts em span{ padding:0 1px; }
.n_list_w780_warp .n_job_list_table_a.list_full_default tbody td .subjects p.details_txts em{ letter-spacing:-0.05em; }
.n_list_w780_warp .n_job_list_table_a.list_full_default tbody td .subjects p.details_txts em span{ padding:0 2px; }
.n_list_w780_warp .n_job_list_table_a.list_full_worknet tbody td .subjects p.details_txts em{ letter-spacing:-0.05em; }
.n_list_w780_warp .n_job_list_table_a.list_full_worknet tbody td .subjects p.details_txts em span{ padding:0 3px; }
.n_job_list_table_a tbody td .subjects p.details_txts span.btns{ display:block; position:absolute; right:0; bottom:-5px; }
.n_job_list_table_a tbody td .subjects p.details_txts .icos_HR,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_Interview,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_Senior,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_t,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_m,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_d,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_w,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_n,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_y,
.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_l{ position:relative; top:1px; top:-1px\9; *top:-1px }
@media all and (-ms-high-contrast:none){
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_HR,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_Interview,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_Senior,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_t,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_m,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_d,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_w,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_n,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_y,
	.n_job_list_table_a tbody td .subjects p.details_txts .icos_alba_l{ top:-1px; } /* IE10 ~ */
}
.n_list_w780_warp .n_job_list_table_a tbody td .subjects p.details_txts .icos_HR, .n_list_w780_warp .n_job_list_table_a tbody td .subjects p.details_txts .icos_Interview, .n_list_w780_warp .n_job_list_table_a tbody td .subjects p.details_txts .icos_Senior{ margin-left:-1px; }

.n_job_list_table_a tbody td .subjects p.details_txts span.icos_kosnexi{ position:relative; top:3px; }
.n_job_list_table_a tbody .areas{ text-align:center; font-size:11px; line-height:18px; color:#888; letter-spacing:-0.25px; padding:14px 5px 14px 5px; }
.n_job_list_table_a tbody .areas .check_list_r{ padding-top:4px !important; }
.n_job_list_table_a tbody .areas.check_areas{ padding-left:9px; }
/* .n_list_w780_warp .n_job_list_table_a tbody .areas{ padding:0 7px; } */
.n_job_list_table_a tbody .areas .areas_layer{ display:none; position:absolute; *margin-left:-72px; z-index:1003; border:1px solid #ddd; text-align:left; font-size:11px; line-height:16px; color:#888; letter-spacing:-0.25px; margin-top:3px; *margin-top:18px; background:#fafafa; padding:0 15px; max-width:200px; }
.n_job_list_table_a tbody .areas .areas_layer a{ display:block; font-size:11px; line-height:18px; color:#888; letter-spacing:-0.25px; cursor:default; line-height:16px\9; padding-top:2px\9; }
@media all and (-ms-high-contrast:none){
	.n_job_list_table_a tbody .areas .areas_layer a{ line-height:16px; padding-top:2px; } /* IE10 ~ */
}
.n_job_list_table_a tbody .areas .areas_layer a:hover, .n_job_list_table_a tbody .areas .areas_layer a:active, .n_job_list_table_a tbody .areas .areas_layer a:focus{ /* background:#e5e5e5; color:#666; */ text-decoration:none !important; color:#888 !important; }
.n_job_list_table_a tbody .areas .areas_layer .areas_layer{ padding-top:9px; }
.n_job_list_table_a tbody .areas .areas_layer .areas_layer_cont{ width:100%; position:relative; left:0; top:-5px; /* background:url(/ui/static/image/job/n_list/list_area_more_arr.gif) no-repeat center top; */ padding-top:12px; }
.n_job_list_table_a tbody td .mdays{ text-align:center; font-size:11px; line-height:18px; color:#888; padding:11px 0; }
.n_job_list_table_a tbody td .mdays p{ padding:3px 0 4px 0; }
.n_job_list_table_a tbody td .mdays p.new_txt{ font-family:"Gulim", sans-serif; color:#ff5d00; }
.n_job_list_table_a tbody td .mdays strong{ font-size:12px; }
.n_job_list_table_a tbody td .inmac_list{ position:relative; text-align:center; font-size:11px; line-height:18px; color:#888; padding-top:16px; }
.n_job_list_table_a tbody td .inmac_list p{ display:inline-block; *zoom:1; *display:inline; text-align:center; position:relative; width:50px; }
.n_job_list_table_a tbody td .inmac_list p img{ width:48px; height:48px; background:#f3f3f3; border:1px solid #dedede; }
.n_job_list_table_a tbody td .inmac_list p span.text{ display:block; width:50px; height:16px; position:absolute; left:0; top:40px; background:url(/ui/static/image/job/n_list/inmac_list_text_bg.gif) no-repeat; overflow:hidden; }
.n_job_list_table_a tbody td .inmac_list p span.text a{ display:block; padding-top:16px; }
.n_job_list_table_a tbody td .inmac_list p span.name{ display:block; padding:6px 0 0 0; padding-top:8px\9; *padding-top:4px; color:#444; }
.n_job_list_table_a tbody td .inmac_list p span.name a{ color:#444; }
.n_job_list_table_a tbody td .inmac_list p span.name a:hover, .n_job_list_table_a tbody td .inmac_list p span.name a:active{ text-decoration:none !important; }
/* Hover */
.n_job_list_table_a tbody td .inmac_list p:hover img,
.n_job_list_table_a tbody td .inmac_list p:active img,
.n_job_list_table_a tbody td .inmac_list p:hover span.name a,
.n_job_list_table_a tbody td .inmac_list p:active span.name a,
.n_job_list_table_a tbody td .inmac_list p:hover span.text,
.n_job_list_table_a tbody td .inmac_list p:active span.text
{ border-color:#37b0af; color:#37b0af; background-position:left -16px; }
.n_job_list_table_a tbody td .ddays{ text-align:center; font-size:11px; line-height:18px; color:#444; padding:11px 0; }
.n_job_list_table_a tbody td .ddays p.today_end{ color:#ff5d00; font-weight:bold; font-size:12px; }
.n_job_list_table_a tbody td .ddays p{ padding:3px 0 4px 0; }
.n_job_list_table_a tbody td .ddays strong{ font-size:12px; }

/* 인맥관련 */
.n_job_list_table_a span.txt_inmac{ display:block; padding:15px 0 0 14px; font-size:11px; color:#888; background:url(/ui/static/image/job/n_list/txt_inmac_ico_off.gif) no-repeat left 17px; cursor:pointer; }
.n_job_list_table_a span.txt_inmac.active{ background-image:url(/ui/static/image/job/n_list/txt_inmac_ico_on.gif); }
.n_job_list_table_a span.txt_inmac strong{ color:#ff5d00; }
.n_job_list_table_a span.txt_inmac em{ color:#333 !important; }
.n_job_list_table_a span.txt_inmac:hover, .n_job_list_table_a span.txt_inmac:active{ text-decoration:underline; }
.n_job_list_table_a .cont_inmac_td{ background:#f3f3f3; height:auto !important; min-height:auto !important; visibility:hidden; border:0; }
.n_job_list_table_a .cont_inmac_td .cont_inmac{ display:none; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1; }
/* Active */
.n_job_list_table_a .cont_inmac_td.active{ visibility:visible; }
.n_job_list_table_a .cont_inmac_td.active{ visibility:visible; }
.n_job_list_table_a .cont_inmac_td.active .cont_inmac{ display:block; }
.n_job_list_table_a .cont_inmac{ position:relative; left:0; }
.n_job_list_table_a .cont_inmac ul{ background:#f3f3f3; *zoom:1; }
.n_job_list_table_a .cont_inmac ul:after{ content:""; display:block; clear:both; }
.n_job_list_table_a .cont_inmac ul li{ float:left; width:20%; *width:19.9%; height:84px; *zoom:1; }
.n_job_list_table_a .cont_inmac ul li:after{ content:""; display:block; clear:both; }
.n_job_list_table_a .cont_inmac ul li p.photo{ float:left; width:70px; height:67px; margin-right:9px; padding:17px 0 0 0; }
.n_job_list_table_a .cont_inmac ul li p.photo img{ margin-left:20px; border:1px solid #d5d5d5; background:#fff; }
.n_job_list_table_a .cont_inmac ul li p.text{ float:left; width:108px; height:65px; padding:19px 0 0 0; padding-top:21px\9; font-size:11px; line-height:14px; color:#888; }
.n_job_list_table_a .cont_inmac ul li p.text a em{ display:block; font-size:12px; line-height:14px; color:#222; padding:0 0 4px 0; }
.n_list_w780_warp .n_job_list_table_a .cont_inmac ul li p.photo{ width:px; }
.n_list_w780_warp .n_job_list_table_a .cont_inmac ul li p.text{ width:px; } 
/* 로그인전 */
.n_job_list_table_a .cont_inmac ul li.log_pack{ position:relative; clear:both; float:none; width:100% !important; height:32px; border-top:1px solid #e1e1e1; font-size:11px; color:#888; letter-spacing:-0.05em; }
/* Arrow */
.n_job_list_table_a .cont_inmac div.log_pack_arr{ position:absolute; left:22.8%; top:-9px; width:16px; height:9px; background:url(/ui/static/image/job/n_list/cont_inmac_arr.gif) no-repeat left top; }
.n_job_list_table_a .cont_inmac ul li.log_pack p{ padding:6px 0 0 20px; padding-top:8px\9; }
.n_job_list_table_a .cont_inmac ul li.log_pack ins a{ text-decoration:underline; font-size:11px; color:#333; }
.n_job_list_table_a .cont_inmac ul li.log_pack a.links{ position:relative; *top:-1px; *vertical-align:-2px; display:inline-block; *zoom:1; *display:inline; font-size:11px; color:#444; border:1px solid #ccc; background:#fff; padding:2px 3px 1px 3px; padding:4px 3px 0 3px\9; margin-left:3px; }
.n_job_list_table_a .cont_inmac ul li.log_pack a.links:hover, .n_job_list_table_a .cont_inmac ul li.log_pack a.links:active{ text-decoration:none; background:#f4f4f4; border-color:#aeaeae; }
/* 더보기 */
.n_job_list_table_a .cont_inmac ul li.log_pack span{ display:block; position:absolute; right:13px; top:0; }
.n_job_list_table_a .cont_inmac ul li.log_pack span a{ display:inline-block; *zoom:1; *display:inline; line-height:20px; color:#666; background:url(/ui/static/image/job/n_list/log_pack_more_arr.gif) no-repeat right 12px; padding:8px 10px 5px 0; padding-top:10px\9; padding-top:9px\0/IE8;*padding-top:8px; }
/* FF All Ver */
@-moz-document url-prefix(){
	.n_job_list_table_a .cont_inmac ul li.log_pack span a{ padding-top:7px; }
}

/* 상단 버튼 그룹 */
.n_job_list_top_btn_grp{ width:100%; height:26px; padding:0 0 6px 0; *zoom:1; }
.n_job_list_btm_btn_grp{ padding:0 0 0 0; margin-top:-9px; }
.n_job_list_top_btn_grp:after{ content:''; display:block; clear:both; }
.n_job_list_top_btn_grp .layer_first{ position:relative; float:left; }
.n_job_list_top_btn_grp .layer_last{ position:relative; float:right; z-index:1002; }

.n_job_list_top_btn_grp .check_box_bar{ position:relative; font-size:11px; letter-spacing:-1px; color:#fff; display:inline-block; background:#ff5d00 url(/ui/static/image/job/n_list/check_box_bar.gif) no-repeat left -1px; border:1px solid #f94600; height:24px; padding-right:7px; padding-left:27px; padding-top:1px; padding-top:5px\9; *padding-top:2px; *vertical-align:middle; *margin-right:5px; }
@media \0screen{ .n_job_list_top_btn_grp .check_box_bar{ padding-top:3px; } } /* IE8 */
@media all and (-ms-high-contrast:none){ .n_job_list_top_btn_grp .check_box_bar{ padding-top:5px; } } /* IE10~ */
.n_job_list_top_btn_grp .check_box_bar:hover, .n_job_list_top_btn_grp .check_box_bar:active{ border-color:#ea1302; background-color:#fb4700; }
.n_job_list_top_btn_grp .check_box_bar input{ width:0 !important; height:0 !important; margin:0 !important; padding:0 !important; overflow:hidden !important; }
/* FF All Ver */
@-moz-document url-prefix(){
	.n_job_list_top_btn_grp .check_box_bar input{ display:none; font-size:0; margin:0 0 0 3px; padding:0; }
}
.n_job_list_top_btn_grp .check_box_txt{ position:relative; float:left; }
.n_job_list_top_btn_grp .check_box_txt .helpWrap{ top:-74px !important; }
.n_list_w780_warp .n_job_list_top_btn_grp .check_box_txt .helpWrap{ top:-72px !important; }
.n_job_list_top_btn_grp .check_box_txt #applyTyhelpLayer{ width:298px !important; left:156px !important; left:158px\0/IE8+9 !important; *left:154px !important ; }
.n_job_list_top_btn_grp .check_box_txt #specialJobhelpLayer{ width:218px !important; left:128px !important; left:129px\0/IE8+9 !important; }
/* FF All Ver */
@-moz-document url-prefix(){
	.n_job_list_top_btn_grp .check_box_txt #applyTyhelpLayer{ left:153px !important; }
	.n_job_list_top_btn_grp .check_box_txt #specialJobhelpLayer{ left:125px !important; }
}
.n_job_list_top_btn_grp .check_box_txt label{ font-size:12px; letter-spacing:-1px; color:#333; display:inline-block; background:#fff url(/ui/static/image/job/n_list/check_box_txt.gif) no-repeat left -1px; border:1px solid #fff; height:21px; line-height:21px; padding-right:0; padding-left:17px; margin-left:10px; padding-top:1px; height:16px\9; line-height:16px\9; padding-top:5px\9; *vertical-align:middle; }
.n_job_list_top_btn_grp .check_box_txt label.on{ background-position:left -25px; }
.n_job_list_top_btn_grp .check_box_txt label:hover, .n_job_list_top_btn_grp .check_box_txt label:active{  }
.n_job_list_top_btn_grp .check_box_txt input{ width:0; height:0; }
/* FF All Ver */
@-moz-document url-prefix(){
	.n_job_list_top_btn_grp .check_box_txt input{ display:none; visibility:hidden; font-size:0; margin:0 0 0 3px; padding:0; }
}

.btns_txt_scraps, .btns_txt_wish{ top:-1px !important; height:24px; border:1px solid #e1e1e1; font-size:11px; color:#444; letter-spacing:-1px; padding:0 6px 0 19px; padding-top:3px\9; *padding-top:2px; background-color:#fff; background-position:4px 3px; background-repeat:no-repeat; *vertical-align:middle; *margin-right:5px; }
@media \0screen{ .btns_txt_scraps, .btns_txt_wish{ padding-top:2px; } } /* IE8 */
@media all and (-ms-high-contrast:none){ .btns_txt_scraps, .btns_txt_wish{ padding-top:4px; } } /* IE10~ */
.btns_txt_scraps{ background-image:url(/ui/static/image/job/n_list/btns_txt_scraps.png); }
.btns_txt_scraps:hover, .btns_txt_scraps:active, .btns_txt_scraps.on,
.btns_txt_wish:hover, .btns_txt_wish:active, .btns_txt_wish.on{ border-color:#aeaeae; background-color:#f4f4f4; }
.btns_txt_wish{ background-image:url(/ui/static/image/job/n_list/btns_txt_wish.png); }

.btns_qt_view{ background-repeat:no-repeat; width:14px; height:24px; overflow:hidden; text-indent:-500em; *text-indent:0; *padding-top:24px; background-image:url(/ui/static/image/job/n_list/btns_qt_view.gif); background-position:0 0; vertical-align:2px\9; *vertical-align:-4px; }
/* FF All Ver */
@-moz-document url-prefix(){
	.btns_qt_view{ vertical-align:-1px; }
}
.btns_qt_view:hover, .btns_scraps:active, .btns_scraps.on{ background-position:0 -24px; }

.dropdown_menus{ float:left; position:relative; z-index:1002; }
.dropdown_menus.grps_select{ width:105px; margin-left:10px; }
.dropdown_menus.line_select{ width:51px; margin-left:10px; }
.dropdown_menus.grps_select ul{ width:103px; }
.dropdown_menus.line_select ul{ width:49px; }
.dropdown_menus p{ cursor:pointer; padding-left:8px; border:1px solid #e1e1e1; background:#fff url(/ui/static/image/job/n_list/dropdown_menus_off.gif) no-repeat right top; font-size:11px; height:22px; line-height:22px; height:20px\9; line-height:20px\9; padding-top:2px\9; color:#222; }
@media all and (-ms-high-contrast:none){
	.dropdown_menus p{ height:18px; line-height:18px; padding-top:4px; } /* IE10 ~ */
}
.dropdown_menus p.on{ background-image:url(/ui/static/image/job/n_list/dropdown_menus_on.gif); }
.dropdown_menus p.off{ background-image:url(/ui/static/image/job/n_list/dropdown_menus_off.gif); }
.dropdown_menus ul{ position:absolute; left:0; top:23px; padding:6px 0 6px 0; border:1px solid #e1e1e1; background:#fff; }
.dropdown_menus ul li{ padding-left:7px; height:20px; line-height:20px; height:18px\9; line-height:18px\9; padding-top:2px\9; }
.dropdown_menus ul li a{ display:block; *display:inline; font-size:11px; line-height:20px; color:#666; }
@media all and (-ms-high-contrast:none){
	.dropdown_menus ul li a{ line-height:16px; padding-top:5px; } /* IE10 ~ */
}
.dropdown_menus ul li a:hover, .dropdown_menus ul li a:active{ color:#222; text-decoration:underline; }
.dropdown_menus ul li.active{ background:#f4f4f4; }
.dropdown_menus ul li.active a{ color:#222; }


/* paging */
.sqr_paging{ padding:5px 0 0; overflow:visible; text-align:center; clear:both; }
.sqr_paging *{ vertical-align:top; }
.sqr_paging a{ display:inline-block; width:30px; height:22px; padding-top:8px; height:21px\9; padding-top:9px\9; border:1px solid #ddd; border-left:0; color:#333; overflow:hidden; }
.sqr_paging strong{ display:inline-block; width:30px; height:22px; padding-top:8px; height:21px\9; padding-top:9px\9; border:1px solid #f94812; color:#f94812; overflow:hidden; position:relative; left:-1px; }
@media all and (-ms-high-contrast:none){
	.sqr_paging a{ height:21px; padding-top:9px; }
	.sqr_paging strong{ height:21px; padding-top:9px; } /* IE10 ~ */
}
.sqr_paging a:hover, .sqr_paging a:active{ font-weight:bold; color:#f94812; text-decoration:none; }
.sqr_paging a span{ }
.sqr_paging a.next, .sqr_paging a.prev, .sqr_paging a.f_next, .sqr_paging a.f_prev{ padding-top:30px; height:0; border:1px solid #ddd; background:#f3f3f3 url(/ui/static/image/job/n_list/sqr_paging_arrow.gif) no-repeat; }
.sqr_paging a.next{ background-position:right -30px; border-left:0; }
.sqr_paging a.prev{ background-position:right top; }
.sqr_paging a.f_next{ background-position:left -30px; border-left:0; }
.sqr_paging a.f_prev{ background-position:left top; border-right:0; }

.sqr_paging a.next:hover, .sqr_paging a.prev:hover, .sqr_paging a.f_next:hover, .sqr_paging a.f_prev:hover{ background-color:#e5e5e5; }

.sqr_paging a.next_n, .sqr_paging a.prev_n, .sqr_paging a.f_next_n, .sqr_paging a.f_prev_n{ padding-top:30px; height:0; border:1px solid #ddd; background:#f3f3f3 url(/ui/static/image/job/n_list/sqr_paging_arrow.gif) no-repeat; }
.sqr_paging a.next_n{ background-position:right -30px; border-left:0; }
.sqr_paging a.prev_n{ background-position:right top; }
.sqr_paging a.f_next_n{ background-position:left -30px; border-left:0; }
.sqr_paging a.f_prev_n{ background-position:left top; border-right:0; }

.sqr_paging a.next_n:hover, .sqr_paging a.prev_n:hover, .sqr_paging a.f_next_n:hover, .sqr_paging a.f_prev_n:hover{ background-color:#e5e5e5; }

/* 푸터 깨지는것 수정 : 기존 유지시 미적용 */
#footer { margin-bottom: 20px; min-height:auto !important; margin-top:0; border-top:0 solid #e2e2e2; background:none; }
#footer p.copyright { background:none; }

.leftMainBanner a{ display:none; }
.leftMainBanner .cheerup a{ display:block; }

/* 기존 컨텐츠의 사이즈 변경 관련 */
#corporate_list{ padding-right:0 !important; }
body div.wrapW900{ width:940px !important; padding-right:0 !important; }

/* 신규 CSS+세미에서 추가 */
.n_job_list_default{ padding-bottom:15px; }

/* 오늘본채용정보 */
.n_list_mSpc{ margin-top:-45px !important; }

/*20160603_인사혁신처배너추가_jjh*/
.resultTopBanner {margin-bottom:10px; clear:both;}