@charset "euc-kr";
/* sub GNB 개선 20150302 sbLee */

@import url("pm_banner.css");
@import url("layerPopup.css");
@import url("layout2016.css");

/* body,th,td,input,select,textarea,button {font-size:12px; font-family:"Malgun Gothic", "Arial", sans-serif;color:#222222} color값은 디자인가이드에 맞게사용
*:first-child+html body,th,td,input,select,textarea,button {font-family: "Malgun Gothic", "Arial", sans-serif;} */
#header_n a {color:#555555; text-decoration:none}
#header_n a:link, #header_n a:visited {color: inherit; font-family: "Malgun Gothic", "Arial", sans-serif !important; }
#header_n a:active, #header_n a:hover, #header_n a.on {color:#ff4609; text-decoration:none; font-family: "Malgun Gothic", "Arial", sans-serif; }


/* Header */
/* header - logo */
#header_n {height:113px;}
#header_n .header_cnt {width:940px; height:113px; margin:0 auto;}
#header_n .header_cnt:after {content:''; display:block; clear:both;} 
#header_n .header_cnt h1 {float:left; width:89px; height:27px; margin-top:31px;}
#header_n .header_cnt h1 a {display:block; width:89px; height:27px; background:url(/ui/static/image/common/n_common/logo_sub_n.png) 0 0 no-repeat;}
#header_n .header_cnt h1 a span {display:block; position:absolute; text-indent:-9999em; top:-9999em;}
#header_n .header_cnt h2.sub_tit {float:left; display:block; /* width:100px; */ min-width:20px; height:27px;  margin-top:31px;}
#header_n .header_cnt h2.sub_tit a {display:block; width:100px;}
#header_n .header_cnt h2.sub_tit.notit {width:20px}

/* header - search */
#header_n .header_cnt .searchWrap {float:left; position:relative; width:202px; height:33px;margin:24px 0 0 0; padding:0; background:none; z-index:1006; }
#header_n .header_cnt .searchWrap .search_ipt {width:200px; height:31px; text-indent:10px; border:1px solid #dddddd; padding:0; box-sizing:content-box;}
#header_n .header_cnt .searchWrap input::-ms-clear {display:none;}
@media \0screen {
	#header_n .header_cnt .searchWrap .search_ipt {line-height:31px}
}
*:first-child+html #header_n .header_cnt .searchWrap .search_ipt {float:left; line-height:31px}
#header_n .header_cnt .searchWrap .btn_search {display:block; position:absolute; width:43px; height:33px; right:1px; top:1px; ; background-position:-9px -1251px; outline:none; padding:0; border:0; margin:0; filter:none\9;}
@media \0screen {
	#header_n .header_cnt .searchWrap .btn_search { background:transparent url(/ui/static/image/common/n_common/sprite_mainNew.png) -9px -1251px no-repeat; }
}
*:first-child+html #header_n .header_cnt .searchWrap .btn_search { background:transparent url(/ui/static/image/common/n_common/sprite_mainNew.png) -9px -1251px no-repeat; }
#header_n .header_cnt .searchWrap .btn_search span {display:block; text-indent:-9999em;top:-9999em;}
#header_n .header_cnt .searchWrap .btn_totalsearch {display:block;position:absolute;width:57px;height:33px; top:0px; right:-63px; border:0;background:transparent url(/ui/static/image/common/n_common/total_searchBtn.gif) 0 0 no-repeat; z-index:123; outline:none;cursor:pointer; color:#858688; font-size:12px; letter-spacing:-1px; text-indent:-9999em}
#header_n .header_cnt .searchWrap .icon_unseMobile {display:block;position:absolute; width: 142px; height: 16px; top:0px; right:-150px; margin: 4px 0 0 7px; padding: 3px 0 2px 0; text-decoration: underline; color: #222;}

#header_n .header_cnt .gnbNavWrap {clear:both;width:100%; height:49px; padding-top:9px;}
#header_n .header_cnt .gnbNavWrap:after {content:''; display:block; clear:both;}

.mMenu dt, .sMenu dt, .bsMenu dt {display:block; position:absolute; width:0; height:0; left:-9999em; text-indent:-9999em;}
.mMenu dd, .sMenu dd, .bsMenu dd {float:left;display:block;position:relative;}
.mMenu dd a, .sMenu dd a, .bsMenu dd a {display:block;height:16px; padding:15px 13px 18px 11px; font-size:15px; line-height:15px; letter-spacing:-1px; color:#222222; vertical-align:top;}
@-moz-document url-prefix(){
	.mMenu dd a, .sMenu dd a, .bsMenu dd a {line-height:13px} /* firefox only hack */
}
@media all and (-ms-high-contrast:none){ 
	.mMenu dd a, .sMenu dd a, .bsMenu dd a {line-height:14px}  /* IE10 ~ */ 
}
@media screen and (min-width:0\0){
	.mMenu dd a, .sMenu dd a, .bsMenu dd a {line-height:14px;}  /* IE9 */
}
.mMenu dd.first a, .bsMenu dd.first a {padding-left:0;}
.sMenu dd.first a {padding-left:17px;}
.mMenu dd.last a, .sMenu dd.last a, .bsMenu dd.last a {padding-right:0;}
.mMenu dd a:hover, .sMenu dd a:hover {color:#ff4609;}
.mMenu dd a.on, .sMenu dd a.on {color:#ff4609;}
.mMenu dd a span, .sMenu dd a span, .bsMenu dd a span {display:inline-block; *zoom:1; *display:inline; height:16px; /* line-height:13px; */vertical-align:top; font-family: "Malgun Gothic", "Arial", sans-serif; } 
*:first-child+html .mMenu dd a span, *:first-child+html .sMenu dd a span, *:first-child+html .bsMenu dd a span {height:20px; line-height:20px;}
.mMenu dd a.resume {padding-right:0;}
.mMenu dd a.resume span {padding-right:18px; border-right:1px solid #dddddd}
.mMenu dd a.headHunting {padding-right:0;}
.mMenu dd a.headHunting span {padding-right:18px; border-right:1px solid #dddddd}
.bsMenu {float:right;}
.bsMenu dd a {color:#c17968 !important;}
.bsMenu dd a:hover {color:#c17968 !important;}
.mMenu dd a.allJob {}
.mMenu dd a.allJob span {padding-right:10px; background:url(/ui/static/image/common/n_common/allJob_off.png) 100% 50% no-repeat;}
.mMenu dd a.allJob:hover span {background:url(/ui/static/image/common/n_common/allJob_on.png) 100% 50% no-repeat;}
.mMenu dd.allJobMenu.on a.allJob span {color:#ff4609; background:url(/ui/static/image/common/n_common/allJob_on.png) 100% 50% no-repeat;}
.mMenu dd.current a,
.sMenu dd.current a {color:#ff4609}
.gnbNavWrap a {font-family: "Malgun Gothic", "Arial", sans-serif !important; }
.gnbNavWrap a:hover, 
.gnbNavWrap a:active {color:#ff4609 !important;}
.gnbNavWrap a span {font-family: "Malgun Gothic", "Arial", sans-serif !important; }

.mMenu dd.subMain span {border-left: 1px solid #dddddd; padding-left:13px;}  /* 신규 개편 매뉴쪽 */ 
.mMenu dd.subMain a {padding: 15px 9px 18px 0px;} /* 신규 개편 매뉴쪽 */ 
.sMenu.subService dd a {padding: 15px 9px 18px 10px;} /* 신규 개편 매뉴쪽 */ 
.bsMenu.subService dd a {padding: 15px 7px 18px 7px;} /* 신규 개편 매뉴쪽 */ 
.bsMenu.subService dd.last a {padding-right:0;}

/* 구 GNB 라인 */
.peopleWrap .sMenu dd.first a,
.gongmoWrap .sMenu dd.first a,
.eventzoneWrap .sMenu dd.first a,
.opensalaryWrap .sMenu dd.first a,
.eduWrap .sMenu dd.first a,
.unseWrap .sMenu dd.first a,
.helpWrap .sMenu dd.first a,
.jobdicWrap .sMenu dd.first a,
.tvWrap .sMenu dd.first a {padding-left:0;}
.peopleWrap .sMenu dd.first span,
.gongmoWrap .sMenu dd.first span,
.eventzoneWrap .sMenu dd.first span,
.opensalaryWrap .sMenu dd.first span,
.eduWrap .sMenu dd.first span,
.unseWrap .sMenu dd.first span,
.helpWrap .sMenu dd.first span,
.jobdicWrap .sMenu dd.first span,
.tvWrap .sMenu dd.first span {padding-left:10px; border-left:1px solid #dddddd}

/* header - uitil - utilMenu_n2 */
.utilMenuWrap_v2 .utilMenu_n2 {position:absolute;top:31px; right:50%; margin-right:-470px; z-index:1010;}
.utilMenuWrap_v2 .utilMenu_n2 li {float:left; position:relative;/*  font-family:dotum, sans-serif; */ color:#555555; font-size:11px;}
.utilMenuWrap_v2 .utilMenu_n2 li .line {clear:both; display:block; position:absolute; width:1px; height:11px; top:6px; right:0; background-color:#bebebe}
.utilMenuWrap_v2 .utilMenu_n2 li a {display:block; height:18px; line-height:14px; font-size:11px; padding:4px 9px 4px 8px; vertical-align:top; letter-spacing:-1px;color:#555555;font-family: "Malgun Gothic", "Arial", sans-serif !important; }
@media all and (-ms-high-contrast:none){ 
    .utilMenuWrap_v2 .utilMenu_n2 li a {line-height:11px}  /* IE10 ~ */ 
}
@-moz-document url-prefix(){
	.utilMenuWrap_v2 .utilMenu_n2 li a {line-height:10px} /* firefox only hack */
}
@media screen and (min-width:0\0){
	.utilMenuWrap_v2 .utilMenu_n2 li a {line-height:11px;}  /* IE9 */
}
.utilMenuWrap_v2 .utilMenu_n2 li a:hover {color:#ff4609; font-family: "Malgun Gothic", "Arial", sans-serif; font-size:11px;}
.utilMenuWrap_v2 .utilMenu_n2 li.last a {padding-right:0;}

.utilMenuWrap_v2 .utilMenu_n2 li.msg a {padding:0px 9px 0 8px;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg a .tit {float:left; display:block; padding:4px 0;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg a .count {float:left; display:block; width:28px; height:18px; margin-top:2px; margin-left:2px; background:url(/ui/static/image/common/n_common/sprite_mainNew.png) -20px -310px no-repeat;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg a .count em {display:inline-block; *zoom:1; *display:inline; width:100%; text-align:center;line-height:17px;}
@media all and (-ms-high-contrast:none){ 
	.utilMenuWrap_v2 .utilMenu_n2 li.msg a .count em {line-height:16px}  /* IE10 ~ */ 
}
@-moz-document url-prefix(){
	.utilMenuWrap_v2 .utilMenu_n2 li.msg a .count em {line-height:16px} /* firefox only hack */
}
@media screen and (min-width:0\0){
	.utilMenuWrap_v2 .utilMenu_n2 li.msg a .count em {line-height:15px;}  /* IE9 */
}
/* .utilMenuWrap_v2 .utilMenu_n2 li.msg.slct .memoBox {display:block;} */
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo {position:absolute; display:none; width:223px; height:160px; right:-84px; top:21px; background:url(/ui/static/image/common/n_common/sprite_mainNew.png) -19px -1673px no-repeat;}
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo p.joinslctTxt {width:218px; padding:21px 0 8px; text-align:center; line-height:15px; font-size:12px; font-weight:bold;}
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo .joinslctGo_btn {width:170px; margin-left:25px;}
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo .joinslctGo_btn li {height:33px; padding:0; margin:0 0 10px 0;}
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo .joinslctGo_btn li a.joinbtn {display:block; width:170px; height:33px; background:url(/ui/static/image/common/n_common/sprite_loginNew.png) no-repeat;}
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo .joinslctGo_btn li a.ps {background-position:0 -741px;}
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo .joinslctGo_btn li a.bs {background-position:0 -804px;}
.utilMenuWrap_v2 .utilMenu_n2 li#gnb_signup .joinslctGo .joinslctGo_btn li a span {display:block; text-indent:-9999em;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox {clear:both;position:absolute; width:324px; height:360px;padding:6px 0 0; top:21px; right:0px; border:1px solid #ddd; border-top:0; z-index:16;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .topBg {display:block;position:absolute; width:326px; height:6px; top:0; left:-1px;background:url(/ui/static/image/common/n_common/sprite_mainNew.png) -40px -2794px no-repeat; z-index:18;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt {width:284px; overflow:hidden;  /*  height:303px;padding:0 20px; */  padding:0 20px;  background-color:#fff;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul {}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li {width:100%; padding:17px 0; border-bottom:1px solid #ededed}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li a {display:block; width:100%; height:auto; padding:0; letter-spacing:-1px;color:#777777; text-align:left;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li a .stat-txt {display:inline-block; *zoom:1; *display:inline; width:100%; line-height:14px; font-size:13px;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li a:hover {color:#ff4609}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li a .stat-txt .name {color:#222222}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li a .stat-txt .time {font-size:10px; color:#ff4609}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li a .sbj-txt {display:inline-block; *zoom:1; *display:inline; width:100%; margin-top:7px; line-height:14px; font-size:12px;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .btn_cnt {width:284px; height:38px; margin:0 auto; padding:18px 20px 19px;text-align:center; background-color:#fff;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .btn_cnt a {display:inline-block; *zoom:1; *display:inline; font-size:13px; letter-spacing:-1px;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .btn_cnt a.btn {height:16px; padding:11px 0; line-height:16px; overflow:hidden; background-color:#777777; color:#fff !important;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .btn_cnt a.orange {background-color:#ff4609;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .btn_cnt a.more {width:139px;margin-right:6px}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .btn_cnt a.write {width:139px;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .btn_cnt a.alarm {width:100%;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .memoBox .momo_cnt ul li.nomemo {padding:140px 0 120px; border-bottom:0; text-align:center;}


/* 박스 스크롤 */
.utilMenuWrap_v2 .utilMenu_n2 li.msg .scBox {width:324px;  height:285px; overflow-x:hidden; overflow-y:auto !important; background-color:#fff;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .scBox.scroll-pane { padding:0;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .scBox.scroll-pane .scroll-content {width:284px; /* padding:0 20px; */ z-index:16;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .scBox.scroll-pane .slider-wrap {width:5px; background-color:#eee;}
.utilMenuWrap_v2 .utilMenu_n2 li.msg .scBox.scroll-pane .slider-wrap .ui-slider-handle {width:5px;background-color:#ccc}

.utilMenuWrap_v2 .utilMenu_n2 li.depth a {background:url(/ui/static/image/common/n_common/sprite_mainNew.png) 34px -517px no-repeat;}
.utilMenuWrap_v2 .utilMenu_n2 li.depth.slct a {background-position:34px -1307px}
.utilMenuWrap_v2 .utilMenu_n2 li.depth.slct .depth2nv {display:block;}
.utilMenuWrap_v2 .utilMenu_n2 li.depth a{padding-right:23px;}
.utilMenuWrap_v2 .utilMenu_n2 li.depth.last a.hasChild {padding-right:17px}

.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv {display:none; position:absolute; width:146px; padding:9px 0 0 0; top:20px; left:-7px; border-bottom:1px solid #ddd; background:#fff url(/ui/static/image/common/n_common/sprite_mainNew.png) -301px -2791px no-repeat;}
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv li {width:144px; border-left:1px solid #dddddd; border-right:1px solid #dddddd; text-align:left;}
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv li.first {padding-top:15px;}
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv li.last {padding-bottom:15px;}
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv li.blank {padding:9px 0 8px; height:1px; }
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv li.blank span {display:block; width:100%;height:1px;background-color:#ededed}
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv li a {height:13px; padding:5px 0 4px 21px; font-size:12px; color:#777777; background-image:none;}
.utilMenuWrap_v2 .utilMenu_n2 li .depth2nv li a:hover{color:#ff4609}
.utilMenuWrap_v2 .utilMenu_n2 li.myCmpInfo .depth2nv {left:-26px; background-position:-284px -2791px}

/* header - uitil - home_link */
.incruitServiceMenu {position:absolute; left:50%;margin-left:-48px;top:0;height:auto;z-index:12;}
.incruitServiceMenu:after{content:"";clear:both;display:block}
.incruitServiceMenu .incService { width:96px; height:33px;}
.incruitServiceMenu .incService li { float:left; width:48px; height:33px; position:relative;}
.incruitServiceMenu .incService li a { display:block;position:absolute;width:48px; top:0; left:0; overflow:hidden; height :32px;background:#fff url(/ui/static/image/common/n_common/sprite_mainNew.png) no-repeat; z-index:13;}
.incruitServiceMenu .incService li a span { float:left; text-indent:-500em;}
.incService li.incruitHome a{background-position: -3px -359px; background-color:#fbfbfb}
.incService li.globalHome {margin-left:-1px;}
*:first-child+html .incService li.globalHome {margin-left:0;}
.incService li.globalHome a{background-position: -6px -462px; background-color:#fbfbfb}
.incService li.inmacHome {margin-left:-1px;}
.incService li.inmacHome a{background-position: -3px -411px; background-color:#fbfbfb}
.incService li a.active{width:46px; height:33px; border-left:1px solid #ebebeb;  border-right:1px solid #ebebeb;  background-color:#fff;z-index:14;}
.incService li.incruitHome a.active {background-position: -4px -359px;}
.incService li.globalHome a.active {background-position: -7px -462px;}
.incService li.inmacHome a.active {background-position: -4px -411px;}
.incService .descript {background:#fff url(/ui/static/image/common/sprite_gnb_20151022.png) no-repeat; height:21px; overflow:hidden; text-indent:-500em; position:absolute; top:31px;*top:32px; z-index:999; display:none;}
.incService .descript.show { display:block;}
.incService .incruitHome .descript { background-position:0 -450px; width:64px; left:-9px;}
.incService .globalHome .descript {background-position:0 -500px; width:92px; left:-22px;}
.incService .inmacHome .descript {background-position:0 -550px; width:178px; left:-66px;}

/* 자동완성 */
.box_suggest {position:absolute;width:200px;background:#fff; left:0;/* margin-left:-281px; */ top:33px;border:1px solid #dddddd;border-top:none;display:none;z-index:1005}
.suggestion {position:relative;width:100%;overflow:hidden;background:#fff}
.scroll {scrollbar-base-color:#fff;scrollbar-arrow-color:#8d8d8d;scrollbar-3dlight-color:#eaeaea;scrollbar-darkshadow-color:#fff;scrollbar-face-color:#eaeaea;scrollbar-highlight-color:#eaeaea;scrollbar-shadow-color:#eaeaea;scrollbar-track-color:#fff;}
.scroll li { position:relative; overflow:hidden;}
.scroll li a {display:block;*display:inline-block;width:100%;color:#666;padding:6px 0 5px 0; text-indent:6px; font-size:13px;}
.scroll li a:hover {background:#efefef;}
.scroll li a em{color:#ff4609} /* 검색단어 */
.scroll li span {display:none;}
.scroll li a.homeLink { background:url(/ui/static/image/common/suggest_home.gif) no-repeat 50% 50%; width:10px; height:10px; padding:6px;position:absolute; right:0; top:3px; text-indent:-999999px}
.scroll .slist {border-bottom: 1px dotted #c6c8c8} /* 첫단어 더보기 시 구분선 */
.suggestion_footer{height:25px;border-top:1px solid #e3e3e3;}
.suggestion_footer button{margin-top:5px; font-size:12px;color:#999999; padding:0 6px;}
.suggestion_footer .startmore, .suggestion_footer .lastmore { float:left; text-align:left}
.suggestion_footer .suggestionoff{float:right; text-align:right;}

/* header - 채용정보 */
.mMenu dd.allJobMenu.on .dropBox {display:block;}
.dropBox {display:none;position:absolute; border:1px solid #dddddd; border-top:0; background-color:#fff;}
.dropBox.allCategory {width:938px; height:515px; top:49px; z-index:1003; clear:both;}

.allCategory .latelyCategory {padding-top:16px;height:29px; border-bottom:1px solid #dddddd; background-color:#f9f9f9;}
.allCategory .latelyCategory h3 {float:left; display:inline-block; height:12px; padding-left:20px; line-height:12px; font-family: "Malgun Gothic", "Arial", sans-serif; font-size:13px; letter-spacing:-1px;}
@-moz-document url-prefix(){
	.allCategory .latelyCategory h3 { line-height:9px; } /* firefox only hack */
}
*:first-child+html .allCategory .latelyCategory h3 {line-height:14px;}
.allCategory .latelyCategory .latelyList {}
.allCategory .latelyCategory .latelyList li {float:left; position:relative;}
.allCategory .latelyCategory .latelyList li.first {margin-left:12px;}
.allCategory .latelyCategory .latelyList li.first a {padding-left:0;}
.allCategory .latelyCategory .latelyList li .line {display: block; position: absolute; width: 1px; height: 10px; top: 2px; right: 0; background-color: #cccccc;}
	@media \0screen {
		.allCategory .latelyCategory .latelyList li .line {top:1px;}  /* IE8 */ 
	}
	@media screen and (min-width:00){
		.allCategory .latelyCategory .latelyList li .line {top:3px;}  /* IE9 */ 
	}
	@media all and (-ms-high-contrast:none){ 
		.allCategory .latelyCategory .latelyList li .line {top:3px;}  /* IE10 ~ */ 
	}
.allCategory .latelyCategory .latelyList li a {padding:0 7px 0 5px; font-size:13px; line-height:12px; color:#777;}
	@-moz-document url-prefix(){
		.allCategory .latelyCategory .latelyList li a { line-height:9px; } /* firefox only hack */
	}
	*:first-child+html .allCategory .latelyCategory .latelyList li a {line-height:16px; margin-top:-3px;}
.allCategory .latelyCategory .latelyList li a:hover {color:#ff4609}
.allCategory .latelyCategory .viewCount {float:right;}
.allCategory .latelyCategory .viewCount dt {display:block; position:relative; width:auto; height:auto;left:0; text-indent:0; padding-right:7px; float:left; font-weight:bold; line-height:12px; font-size:13px; letter-spacing:-1px; font-family: "Malgun Gothic", "Arial", sans-serif;}
	@-moz-document url-prefix(){
		.allCategory .latelyCategory .viewCount dt { line-height:9px; } /* firefox only hack */
	}
	*:first-child+html .allCategory .latelyCategory .viewCount dt {line-height:14px;}
.allCategory .latelyCategory .viewCount dt .line {display: block; position: absolute; width: 1px; height: 10px; top: 2px; right: 0; background-color: #cccccc;}
	@media \0screen {
		.allCategory .latelyCategory .viewCount dt .line {top:1px;}  /* IE8 */ 
	}
	@media screen and (min-width:00){
		.allCategory .latelyCategory .viewCount dt .line {top:3px;}  /* IE9 */ 
	}
	@media all and (-ms-high-contrast:none){ 
		.allCategory .latelyCategory .viewCount dt .line {top:3px;}  /* IE10 ~ */ 
	}
.allCategory .latelyCategory .viewCount dd {padding:0 18px 0 6px; line-height:12px; font-size:13px; color:#777777; font-family: "Malgun Gothic", "Arial", sans-serif;}
	@-moz-document url-prefix(){
		.allCategory .latelyCategory .viewCount dd { line-height:9px; } /* firefox only hack */
	}
	/* @media screen and (min-width:00){
		.allCategory .latelyCategory .viewCount dd { line-height:9px; } IE9
	} */
	*:first-child+html .allCategory .latelyCategory .viewCount dd {/* line-height:16px; */line-height:normal ;margin-top:-2px}
.allCategory .latelyCategory .viewCount dd a {padding:0; display:inline; line-height:13px; font-size:13px; font-family: "Malgun Gothic", "Arial", sans-serif;}
	*:first-child+html .allCategory .latelyCategory .viewCount dd a {line-height:normal}
.allCategory .latelyCategory .viewCount dd em {color:#ff4609}
	@media all and (-ms-high-contrast:none){ 
		.allCategory .latelyCategory {padding-top:15px; height:30px;}
	}

.allCategory .ctg_box {overflow:hidden; height:469px;}
.allCategory .ctg_box a {padding:0;}
.allCategory .ctg_box .ctg_box_m {float:left;width:151px; height:100%; padding:0 18px; border-right:1px solid #dddddd}
.allCategory .ctg_box .ctg_box_m.last {width:150px;border-right:0;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_b {padding:15px 0 15px 0;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc {padding:0 0 11px 0;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_line {padding:15px 0 11px 0; margin-top:14px; border-top:1px solid #dddddd;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b {display:block; height:16px;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc {display:block; height:16px;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b_line {display:block; height:16px; }
.allCategory .ctg_box .ctg_box_m .ctg_tit_b a,
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a,
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a {padding:0; font-size:15px; letter-spacing:-1px;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_b a span.bullet,
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a span.bullet, 
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a span.bullet {display:inline-block; width:14px; height:15px; background:#fff url(/ui/static/image/common/n_common/sprite_mainNew.png) -20px -664px no-repeat;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_b a:hover span.bullet,
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a:hover span.bullet,
.allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a:hover span.bullet{background-position:-20px -723px}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b a span {float:left}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a span {float:left}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a span {float:left}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b a span.bullet {margin-top:4px;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a span.bullet {margin-top:4px;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a span.bullet {margin-top:4px;}
	@media all and (-ms-high-contrast:none){ 
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b a span{line-height:12px} /* IE10 ~ */ 
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a span{line-height:12px} /* IE10 ~ */ 
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a span{line-height:12px} /* IE10 ~ */ 
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b a span.bullet {background-position:-20px -665px;}  /* IE10 ~ */ 
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a span.bullet {background-position:-20px -665px;}  /* IE10 ~ */ 
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a span.bullet {background-position:-20px -665px;}  /* IE10 ~ */ 
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b a:hover span.bullet,
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a:hover span.bullet,
		.allCategory .ctg_box .ctg_box_m .ctg_tit_b_line a:hover span.bullet{background-position:-20px -724px}
	}
.allCategory .ctg_box .ctg_box_m .ctg_tit_b.fr {padding:15px 0 5px 0;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_b.sol {padding:5px 0;}

.allCategory .ctg_box .ctg_box_m .ctg_tit_m {padding:3px 0 2px;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_tit_m {height:16px;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_m.first {padding:12px 0 2px;}
.allCategory .ctg_box .ctg_box_m .ctg_tit_m a {padding:0; font-size:12px; letter-spacing:-1px;}

.allCategory .ctg_box .ctg_box_m .ctg_list_fl {clear:both; height:14px; margin-bottom:6px;}
.allCategory .ctg_box .ctg_box_m .ctg_list_fl li {float:left;position:relative;}
.allCategory .ctg_box .ctg_box_m .ctg_list_fl li .line {display:block; position:absolute; width:1px; height:8px; right:0; top:3px; background-color:#dddddd;}
	@media all and (-ms-high-contrast:none){ 
		.allCategory .ctg_box .ctg_box_m .ctg_list_fl li .line {top:4px;}  /* IE10 ~ */ 
	}
	@media screen and (min-width:0\0){
		.allCategory .ctg_box .ctg_box_m .ctg_list_fl li .line {top:4px;} /* IE9 */
	}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_list_fl li .line {top:4px;}
.allCategory .ctg_box .ctg_box_m .ctg_list_fl li a {padding:0 9px 0 8px; font-size:12px; line-height:13px;}
#header_n .allCategory .ctg_box .ctg_box_m .ctg_list_fl li a {color:#777777;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_list_fl li a {line-height:15px;padding:0 9px 0 8px;}
.allCategory .ctg_box .ctg_box_m .ctg_list_fl li.row_first a {padding-left:0;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_list_fl li.row_first a {padding:0 8px 0 0;}
.allCategory .ctg_box .ctg_box_m .ctg_list_fl li.row_last a {padding-right:0;}
	*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_list_fl li.row_last a {padding:0 0 0 8px;}
.allCategory .ctg_box .ctg_box_m .ctg_list_fl li a:hover {color:#ff4609}

.allCategory .ctg_box .ctg_box_m .ctg_list_fl.etc {margin-top:2px;}
#header_n .allCategory .ctg_box .ctg_box_m .ctg_list_fl.etc li a{color:#777777; letter-spacing:-1px;}

.allCategory .ctg_box .ctg_box_m .ctg_list_cl {clear:both;}
.allCategory .ctg_box .ctg_box_m .ctg_list_cl li {margin-bottom:4px;}
.allCategory .ctg_box .ctg_box_m .ctg_list_cl li a {font-size:12px;  line-height:13px; font-family: "Malgun Gothic", "Arial", sans-serif; }
*:first-child+html .allCategory .ctg_box .ctg_box_m .ctg_list_cl li a {line-height:16px;}
@media all and (-ms-high-contrast:none){ 
	.allCategory .ctg_box .ctg_box_m .ctg_list_fl li a {line-height:12px}
	.allCategory .ctg_box .ctg_box_m .ctg_list_cl li a {line-height:12px} /* IE10 ~ */ 
}
.allCategory .ctg_box .ctg_box_m .ctg_list_cl li a:hover {color:#ff4609}
.allCategory .ctg_box .ctg_box_m .ctg_list_cl li.sct_line {padding-bottom:9px; border-bottom:1px solid #dddddd}
.allCategory .ctg_box .ctg_box_m .ctg_list_cl li.sct_blank {margin-bottom:24px;}

.allCategory .ctg_box .ctg_box_m .ctg_best_list {width:100%;}
.allCategory .ctg_box .ctg_box_m .ctg_best_list li {height:35px; margin-top:6px;}
.allCategory .ctg_box .ctg_box_m .ctg_best_list li.first {margin-top:35px;}
.allCategory .ctg_box .ctg_box_m .ctg_best_list li .goLink {display:inline-block; *zoom:1; *display:inline; width:149px; height:33px; line-height:33px; border:1px solid #dddddd; text-align:center; font-size:12px; overflow:hidden; }

@media \0screen {
	.allCategory .ctg_box .ctg_box_m .ctg_best_list li .goLink {} /* IE8 */ 
}
@media screen and (min-width:0\0){
	.allCategory .ctg_box .ctg_box_m .ctg_best_list li .goLink {line-height:31px;} /* IE9 ~ 10 */
}
@media all and (-ms-high-contrast:none){ 
	 _:-ms-fullscreen, :root .allCategory .ctg_box .ctg_box_m .ctg_best_list li .goLink {} /* IE11 ~ */ 
}
.allCategory .ctg_box .ctg_box_m .btnDetailSearch {display:inline-block; *zoom:1; *display:inline; width:148px; height:33px; position:absolute; bottom:14px; right:16px; border:1px solid #dddddd; text-align:center; font-size:12px; background-color:#f9f9f9; overflow:hidden; }
.allCategory .ctg_box .ctg_box_m .btnDetailSearch span {display:inline-block; *zoom:1; *display:inline;padding-right:17px;height:auto; line-height:33px; background:url(/ui/static/image/common/n_common/sprite_mainNew.png) 29px -2051px no-repeat;}
/* 포인트 문구 */
#header_n .allCategory .ctg_box .ctg_box_m .ctg_list_cl li a {color:#777777;}
#header_n .allCategory .ctg_box .ctg_box_m .ctg_tit_b a.hot,
#header_n .allCategory .ctg_box .ctg_box_m .ctg_tit_m a.hot,
#header_n .allCategory .ctg_box .ctg_box_m .ctg_tit_b_sc a.hot,
#header_n .allCategory .ctg_box .ctg_box_m .ctg_list_cl li a.hot {color:#ff460a}
#header_n .allCategory .ctg_box .ctg_box_m .ctg_list_fl li a.bold,
#header_n .allCategory .ctg_box .ctg_box_m .ctg_list_cl li a.bold {font-weight:bold; color:#333;}
#header_n .allCategory .ctg_box .ctg_box_m .ctg_tit_m a.nomal {font-weight:normal}

#search {clear:none; width:auto; height:auto; background:none; margin:0; z-index:1006;}

/* 메인 외부헤더공고 팝업 sbLee 160919 */
#headerLogIn .headerWrap .utilMenuWrap_v2 .utilMenu_n2 {top:7px; margin-right:-355px;}

/* 가장 및에 있어야함 */
.hidden {display:none; }