@charset "euc-kr";

/* ######################### 프로모션 배너 용 css ######################### */

/* 좌,우측 프로모션 배너 */
body {/* background:url(/ui/static/image/common/n_common/promotion_bg_fair2015_end.jpg) center 112px no-repeat; */} /* 배경 있을때 사용 */
.promotion_bg_on {background-position: center 245px;} /* 인입레이어 나타났을때  bg */ 
.leftMainBanner, .rightMainBanner, .right-17thevent, .leftMainBanner02 {position:absolute;}
.leftMainBanner {left:50%; margin-left: -485px; top:105px;}
.leftMainBanner02 {left:50%; margin-left:-637px; top:391px; display:none;}
/*.rightMainBanner {right:50%; margin-right:-565px; top:124px;}*/
.rightMainBanner {right:50%; margin-right:-562px; top:0px;}
.right-17thevent {right:50%; margin-right:-623px; top:214px; display:none}

/* 핫이슈 1위 */
.topHotissueLayer {background-color:#ffffff; height:92px;   border: 1px solid #dfdfdf; border-left:0; border-right:0;}
.bn_first_hotissue {width:900px; height:92px; margin:0 auto;  background: url("/ui/static/image/promotion/eventhotissue_top.jpg") no-repeat scroll 0px 0px transparent;}
.bn_first_hotissue .goevent {position:absolute; width:900px; height:92px; text-indent:-500em;}

/* 좌 퀴즈 이벤트 160525 KSY */
.leftMainBanner .renewalQuizEvent{ position: absolute; top: 0px; left: -110px; }
.leftMainBanner .renewalQuizEvent a {display:block;}
/* // 좌 퀴즈 이벤트 160525 KSY */

/* 메인좌측배너(취얼업포인트) */
.leftMainBanner .cheerup {position: absolute; top:5px; left: -119px; display:none !important;}

/* 채용설명회 관련 사이드 배너 */
.festival_sider{ position:absolute; left:-148px; padding-top:8px;  display:none;}
.festival_sider a{ display:block}
/* .leftMainBanner .cheerup{ top:270px } */

/* 상단 유입배너 공통 */
.headerTopLayer-banner {width:100%; min-width:940px;}
.headerTopLayer-banner .topLayer-cnt {position:relative; width:940px; margin:0 auto;}
.headerTopLayer-banner .bnt-close {display:block; position:absolute; outline:none;}
.headerTopLayer-banner .bnt-close span {display:block; position:absolute; left:-9999em; top:-9999em; text-indent:-9999em;}

/* 워크넷 유입 상단레이어 sbLee 161019  
.headerTopLayer-banner.worknet {background-color:#90d103;}
.headerTopLayer-banner.worknet .bnt-close {width:27px; height:27px; right:0; top:0; background:url(/ui/static/image/common/n_common/pm_bn/btn_popClose2.png) 50% 50% no-repeat;}
.headerTopLayer-banner.worknet .topLayer-cnt img {display:block;}
.headerTopLayer-banner.worknet .topLayer-cnt .btn-apply_w {display:block; position:absolute; top:32px; right:27px; width: 206px; height:40px; background:url(/ui/static/image/common/n_common/pm_bn/worknet_apply_btn.png) 0 0 no-repeat;}
.headerTopLayer-banner.worknet .topLayer-cnt .btn-apply_w span {display:block; position:absolute; left:-9999em; top:-9999em; text-indent:-9999em;}
*/
/* 워크넷 유입 상단레이어 jhji 161028  */
.headerTopLayer-banner.worknet {background-color:#90d103;}
.headerTopLayer-banner.worknet .bnt-close {width:27px; height:27px; right:0; top:0; background:url(/ui/static/image/common/n_common/pm_bn/btn_popClose2.png) 50% 50% no-repeat;}
.headerTopLayer-banner.worknet .topLayer-cnt img {display:block;}
.headerTopLayer-banner.worknet .topLayer-cnt .btn-apply_w {display:block; position:absolute; top:28px; right:21px; width: 194px; height:72px; background:url(/ui/static/image/common/n_common/pm_bn/worknet_apply_btn_161027.png) 0 0 no-repeat;}
.headerTopLayer-banner.worknet .topLayer-cnt .btn-apply_w span {display:block; position:absolute; left:-9999em; top:-9999em; text-indent:-9999em;}

/* 인크루트가 쏜다! 2016115 KSY */
	.incruit_topban_main{ width:100%; margin:0 auto; background:#f54005; }
	.incruit_topban_warp{ position:relative; width:940px; margin:0 auto; background:#f54005 url(/ui/static/image/common/incruit_topban_20161115.png) no-repeat center top; height:111px; }
	.incruit_topban_link{ display:block; width:100%; padding-top:111px; overflow:hidden; }
	.incruit_topban_link span{ display:block; position:absolute; left:-9999px; }
	.incruit_topban_close{ position:absolute; right:9px; top:9px; width:19px; height:19px; background:transparent; border:0; }
	.incruit_topban_close span{ display:block; position:absolute; left:-9999px; }
/* // 인크루트가 쏜다! 2016115 KSY */

/* 12월 네이버검색 이벤트 KSY 161129 */
	.search2016_event_main{ width:100%; margin:0 auto; background:#2a2a45; }
	.search2016_event_warp{ position:relative; width:940px; margin:0 auto; background:#2a2a45 url(/ui/static/image/event/search2016_event/search2016_event_main_img.png) no-repeat center top; height:65px; }
	.search2016_event_link{ display:block; width:100%; padding-top:65px; overflow:hidden; }
	.search2016_event_link span{ display:block; position:absolute; left:-9999px; }
	.search2016_event_close{ position:absolute; right:9px; top:9px; width:19px; height:19px; background:transparent; border:0; }
	.search2016_event_close span{ display:block; position:absolute; left:-9999px; }
/* // 12월 네이버검색 이벤트 KSY 161129 */