@charset "euc-kr";
/* INCRUIT UXD HeeyoungKim 110425 */
/* friend */
.relation_friend { border:1px solid #dfdfdf; position:relative; padding:4px 0 0 5px; overflow:hidden;_width:97%; cursor:text;}
.relation_friend .ac_input { border:none;}
.relation_friend .guideTxt { position:absolute; left:10px; top:7px;}
.ulfriend a { color:#333; text-decoration:none;}
.ulfriend li { float:left;}
.ulfriend li span { background:#f3f3f3; display:inline-block; padding:3px 3px 1px 4px; display:block; margin:0 5px 4px 0; border:1px solid #dedede; white-space:nowrap;}
.ulfriend li span.error {border:1px solid #e4cbcb ; padding-right:14px; background:url(/ui/static/image/note/sprite_common.png) no-repeat right -445px #fce9e9;}
.ulfriend li span {border:1px solid #dedede; padding-right:14px; background:url(/ui/static/image/note/sprite_common.png) no-repeat right -447px #ebe9ea;}
.ulfriend li span.selected, .ulfriend li a:hover span {border:1px solid #a7a7a7; background:#c4c4c4 url(/ui/static/image/note/sprite_common.png) no-repeat right -545px}
.ulfriend em { letter-spacing:0; font-style:normal;}
.relation_friend .inputFind { float:left; color:#333;}
.relation_friend .inputFind .ac_input { padding:4px 0 0 2px;_padding:2px 0 0 2px; border:none 0 !important; height:1.4em;width:14em;}
/* .ac_input.activity { border:none !important; background:none !important;} */

/* suggestWord */
.ac_results { border:1px solid #d4d4d4; position:absolute; background:#fff; display:none; color:#666; width:187px; top:64px; left:0;zoom:1;*z-index:9999}
.ac_results ul { *padding-bottom:5px;} /* hy20110630 */
.ac_results li { clear:both; overflow:hidden; padding:6px 8px 2px; position:relative;_width:185px;*margin-bottom:-5px;}
.ac_results .ac_item a {display:block; overflow:hidden; color:#464646; text-decoration:none;}
.ac_results .ac_item em, .ac_results .ac_additem em{ color:#3d90b8; font-weight:bold;}
.ac_results .ac_item.ac_over { background:#d0e4ef;}
.ac_results .ac_additem { background:#f7f7f7; text-align:center;padding:8px 0 6px;_padding:8px 8px 6px; font-size:.9em;}
.ac_results .ac_additem a { color:#464646; }
.ac_results .ac_additem.ac_over { background:#d0e4ef; cursor:pointer}
.ac_results li.ac_item img { float:left; margin:2px 0 2px 3px; width:35px; height:35px;}
.ac_results li.ac_item span{ background:none !important; padding:3px 0 0 48px !important; display:block}
.ac_results li.ac_emailitem { padding:7px 0 5px 8px;*padding:5px 0 2px 8px; width:96%;}
.ac_results li.ac_emailitem input { width:11em; float:left; margin-right:4px;border:1px solid #d4d4d4; padding:4px 0 0 6px; _height:1.48em;}
.ac_results li.ac_emailitem input.btConfirm {border:1px solid #9e9e9e; background:#adadad; color:#fff; font-size:.9em; letter-spacing:-1px; width:2.5em; float:left; padding:3px 0 1px;*padding:2px 0 0; _height:2em; cursor:pointer;}
.ac_results li.ac_emailitem .guideTxt { clear:both; width:90%; font-size:.9em; display:block; background:url(/ui/static/image/common/bu_attention.gif) no-repeat 0 4px; padding-left:10px; color:#666; padding-top:3px;}

/* add_20110506_jwh*/
.inmacBesides {margin:0 0 -1px 0; overflow:hidden; color:#333;}
.inmacBesides a {color:#333; text-decoration:none;}
.inmacBesides span {display:inline-block; margin-bottom:4px; padding:2px 13px 2px 4px; border:1px solid #cfdfdd; white-space:nowrap; background:url(/ui/m_static/image/common/common.png) no-repeat right -445px #ecf4f3; cursor:pointer;}

/* autoComplete */
.autoComplete { position:relative;}
.autoComplete .ac_results { top:22px; left:0;}
.autoComplete .txt {width:100%; padding:4px 0 1px 10px; height:1.5em;color:#464646; border:1px solid #d4d4d4; padding:3px 0 0 6px;}

/* autoWord */
.autoWordWrap { border:1px solid #dfdfdf; position:relative; padding:4px 0 0 4px; overflow:hidden;_width:97%; cursor:text;}
.autoWordWrap .ac_input { border:none;}
.autoWordWrap .guideTxt { position:absolute; left:10px; top:7px;}
.autoWord a { color:#333; text-decoration:none;}
.autoWord li { float:left;}
.autoWord li span { background:#f3f3f3; display:inline-block; padding:3px 3px 1px 4px; display:block; margin:0 5px 4px 0; border:1px solid #dedede; white-space:nowrap;}
.autoWord li span.error {border:1px solid #e4cbcb ; padding-right:14px; background:url(/ui/static/image/note/sprite_common.png) no-repeat right -445px #fce9e9;}
.autoWord li span.word {border:1px solid #dedede; padding-right:14px; background:url(/ui/static/image/note/sprite_common.png) no-repeat right -445px #ebe9ea;}
.autoWord li span.word.selected, .autoWord li a:hover span.word {border:1px solid #a7a7a7; background:#c4c4c4 url(/ui/static/image/note/sprite_common.png) no-repeat right -545px}
.autoWord em { letter-spacing:0; font-style:normal;}
.autoWordWrap .inputFind { float:left; color:#333;}
.autoWordWrap .inputFind .ac_input { padding:4px 0 0 2px;_padding:2px 0 0 2px; border:none 0 !important; height:1.4em;width:14em; color:#464646;}

/* suggestWord_comapny */
.ac_results.companyResult li.ac_item img { float:left; margin:0 10px 5px 3px; width:80px; height:30px;}
.ac_results.schoolResult { width:220px !important;}
.ac_results.schoolResult li.ac_item { padding-top:7px;}
.ac_results.schoolResult li.ac_item img { float:left; margin:0 10px 5px 3px; width:35px; height:35px;}
.ac_results.schoolResult li.ac_item span{ background:none !important; padding:3px 0 0 48px !important; position:absolute; right:10px; top:3px}

/* suggestFreinds */
.ac_results li.guideTxt {border-bottom:1px solid #dfdfdf;padding:7px 10px 3px 7px; font-size:.9em; letter-spacing:-1px; color:#888; line-height:1.3em;}
.ac_results .guideTxt p { padding-bottom:2px;}
.ac_results .guideTxt em { font-size:1.1em; padding-right:3px;}