body {
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	padding:0;
	background: #DFE9F4;
	}


a{
color:#2C6C9D;

}

a:hover{
color:#FF0000;
}

#menu0{
	margin-left: auto;
	margin-right: auto;
	width:985px;
	height:106px;
	background-color:#2C6C9D;
	border-left: 1px solid #2C6C9D;
	border-top: 1px solid #2C6C9D;
	border-right: 1px solid #2C6C9D;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;

}
#menu1{
	margin-left: auto;
	margin-right: auto;
	width:985px;
	border-left: 1px solid #2C6C9D;
	border-right: 1px solid #2C6C9D;
	border-bottom: 1px solid #2C6C9D;
	margin-bottom:0px;
}

#menu1date{
width:200px;
height:39px;
background-color:#4E93BD;
float:left;
padding: 0px 0px 0px 2px;
margin: 0px 0px 0px 0px;
}

#menuRecherche
{
width:803px;
height:26px;
background-color:#4E93BD;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
padding-top:4px;
overflow:hiddent;

}

#menuRechercheNew
{
width:803px;
height:34px;
background-color:#4E93BD;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
padding-top:4px;


}


#menuRubrique
{
width:182px;
height:34px;
background-color:#4E93BD;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
padding-top:4px;

}

#menuRechercheNew a{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
}


#menuRechercheNew a:hover{
text-decoration:underline;
}



#menuRecherche a{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
}
#menuRecherche a:hover{
text-decoration:underline;
}

form.menuRecherche{
margin-top:0;
margin-bottom:0;
}

.boutonRecherche
{ 
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
 background-color: #D7E5F2; 
 color: #102132; 
 margin-left: 3px; 
 margin-top: 3px; 
 margin-bottom: 2px; 
}

.texteRecherche
{
margin-top :3px;
margin-bottom:3px;
margin-left:3px;
border: 1px solid #2C6C9D;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:320px;

color:#404040;
}

#menu1onglet{
width:803px;
height:35px;
background-color:#FFFFFF;
float:left;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border-top: 4px solid #4E93BD;
}


#menugauche{
width:182px;
background-color:#4E93BD;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
border-top:4px solid #4E93BD;

}


#rubrique{
width:180px;
border-bottom:1px solid #2C6C9D;
padding-bottom:4px;
vertical-align:middle;
margin-top:2px;


}

#rubrique a{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
}
#rubrique a:hover{
text-decoration:underline;
}

#navlist
{
margin-top:0px;
padding-left: 0;
margin-left: 0;
margin-bottom:0;
width: 180px;
}

#navlist li
{
list-style: none;
margin: 0;
padding:2px 0px 0px 3px;
border-bottom: 1px dotted #2C6C9D;
vertical-align: middle;
}

a.sousrubrique
{
display: block;
padding-left:5px;
padding-top:2px;
padding-bottom:2px;
width: 170px;
background-color: #4E93BD;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:13px;
text-decoration:none;
font-weight:bold;
}


a.sousrubrique:hover
{
background-color:#2C6C9D;
color: #fff;
text-decoration:none;
}


#baspage{
margin-left: auto;
margin-right: auto;
width:985px;
color:#FFFFFF;
background-color:#2C6C9D;
border-left: 1px solid #2C6C9D;
border-top: 1px solid #2C6C9D;
border-right: 1px solid #2C6C9D;
text-align : center;
vertical-align : middle;
padding-top : 0;
padding-bottom : 4px;
}

 

#baspage a{
color: White;
text-decoration: none;
font-size : 12px;
font-family : Arial, Helvetica, sans-serif;
font-weight : normal;
}

#baspage a:hover{
color: White;
text-decoration: underline;
font-size : 12px;
font-family : Arial, Helvetica, sans-serif;
font-weight : normal;
}


#contenu{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-align:justify;
width:620px;
padding:4px 4px 4px 8px;
}

#contenu2{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-align:justify;
width:785px;
padding:4px 4px 4px 8px;
}

h1{
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	BACKGROUND: #FFFFFF;
	PADDING-BOTTOM: 1px;
	text-align:center;
	COLOR: #2C6C9D;
	PADDING-TOP: 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size : 20px;
	BORDER: 2px dashed #2C6C9D;
	margin-bottom : 3px;
}	


h3{
	COLOR: #2C6C9D;
	font-family:Arial, Helvetica, sans-serif;
	BORDER-bottom: 2px dashed #2C6C9D;
	font-family:Arial, Helvetica, sans-serif;
	font-size : 18px;
	margin-top : 3px;
	margin-bottom : 4px;

}
#basmenu
{
width:182px;
padding:0px 0px 0px 0px;
border-top:4px solid #4D93BD;
}

#menusky{
     width:160px;
	 margin-left:5px;
	 text-align: left;
	 background-color:#4D93BD;
	  color:#FFFFFF;
	  font-family:Arial, Helvetica, sans-serif;
	  font-size:12px;
	padding-top:2px;
	padding-left:5px;
	  font-weight:bold;
	  border: 1px solid #2C6C9D;
	  }

#menuproduit{
	width:160px;
	margin-left:5px;
	text-align: center;
	background-color:#FFFFFF;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top:2px;
	padding-left:5px;
	font-weight:bold;
	border: 1px solid #2C6C9D;
}

#menuproduit a{
text-decoration: none;
}

#menuproduit a:hover{
text-decoration: underline;
}

form.recherche {
	margin:0px;
}
form.recherche .select {
	color: #000000;
	font-size: 10px;
	background: #FFFFFF;

}
form.recherche .bouton {
	font-size:10px;
	

}
form.recherche input.text {
	padding:1px;
	font-size: 10px;
	color: #000000;
	border:1px solid #4d6db3;
}

H4 {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 0px 2px 0px;
	COLOR: #808080;
	PADDING-TOP: 4px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;

}

a.accueil{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
	text-decoration:none;
	font-weight:normal;

}


a.titrerss{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
	text-decoration:bold;
	font-weight:normal;

}


a.accueil:hover{
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
text-decoration:underline;
font-weight:normal;
}

a.titre_accueil{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
	text-decoration:none;
	font-weight:bold;

}
a.titre_accueil:hover{
color:#D40000;
}

a.titre_alaune{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	text-decoration:none;
	font-weight:bold;

}
a.titre_alaune:hover{
color:#D40000;
}



a.descri_accueil{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
	text-decoration:none;

}
a.descri_accueil:hover{
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
}

a.grostitre{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	text-decoration:none;
	font-weight:bold;

}
a.grostitre:hover{
color:#D40000;
}

a.grostitreRecherche{
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	text-decoration:underline;
	font-weight:bold;

}
a.grostitreRecherche:hover{
color:#D40000;
}
a.titre_top{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
	text-decoration:none;
	font-weight:bold;

}
a.titre_top:hover{
color:#FF7F00;
}

a.descri_produit{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
	text-decoration:none;

}
a.descri_produit:hover{
color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
text-decoration:none;
}

a.titre_produit{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	text-decoration:none;
	font-weight:bold;

}
a.titre_produit:hover{
color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
text-decoration:underline;
}


a.descri_top{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
	text-decoration:none;

}
a.descri_top:hover{
	color:#000000;
text-decoration:none;
}

a.espotting{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
	color: #BC0012;
	text-decoration: none;
	font-weight : bold;
}
a.espotting:hover{
font-size:12px;
	text-decoration: underline;
		color: #BC0012;
	font-weight : bold;
	}

a.accueilgras{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
	text-decoration:none;
	font-weight:bold;

}
a.accueilgras:hover{
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:underline;
	font-weight:bold;
}

a.actu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
}
H5 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px 0px 0px;
	COLOR: #9A9A9A;
	PADDING-TOP: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
}
H5 A{
	color: #9A9A9A;
	text-decoration: none;
	font-weight : normal;
}
H5 a:hover{
	color: #EF9C00;
	text-decoration: none;
	font-weight : normal;
	}
	
	#telecharger {
	PADDING-RIGHT: 5px;
	background-color:#F8F6F6;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 3px;
	font-family:Arial, Helvetica, sans-serif;
	BORDER: 1px solid #2C6C9D;
	text-align:left;
}


	#telecharger2_titre {
	color: White;
	text-decoration: none;
	font-size : 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight : bold;
	width:151px;
	background-color:#2C6C9D;
	border:1px solid #2C6C9D;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	margin-top:2px;
	text-align : center;
}

	#telecharger2 {
	PADDING-RIGHT: 5px;
	background-color:#C1CEFF;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 3px;
	font-family:Arial, Helvetica, sans-serif;
	BORDER: 1px solid #2C6C9D;
	text-align:left;

}	
H6 {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	BACKGROUND: #5194C4;
	PADDING-BOTTOM: 2px;
	MARGIN: 4px 0px 2px 0px;
	COLOR: #FFFFFF;
	PADDING-TOP: 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size : 13px;
	border-bottom:1px solid #2C6C9D;
}
a.rubrique{
	text-decoration: none;
	color:#2C6C9D;
	font-family:Arial, Helvetica, sans-serif;
	font-weight : bold;
    font-size:16px;
}
a.rubrique:hover{
color:#FF7F00;
}
#services{
background-color:#E6E6E6;
font-size : 10px;
color:#666666;
float:left;
margin-top:5px;
margin-bottom:5px;
}

#services A{
font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #BC0012;
	text-decoration: none;
	font-weight : bold;
}
#services a:hover{
	text-decoration: underline;
	font-weight : bold;
	}
	
#newsletter_titre {
	color: White;
	text-decoration: none;
	font-weight : bold;
	width:350px;
    background-color:#C60017;
	border:1px solid #C60017;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
	margin-top:4px;
	font-size : 13px;
}

#newsletter_titre a{
color: White;
text-decoration: none;

}

#newsletter_titre a:hover{
color: White;
text-decoration: underline;

}

#newsletter_descri {
	width:350px;
	padding-left:5px;
	color: Black;
	text-decoration: none;
	font-size : 11px;
   font-family: Arial, Helvetica, sans-serif;
	font-weight : normal;
    background-color:#FFFFFF;
	border:1px solid #C60017;

}

#newsletter_descri a{
color: black;
text-decoration: none;

}

#newsletter_descri a:hover{
color: black;
text-decoration: underline;

}

form.newsletter {
	margin:0px;
	padding:1px;
}
form.newsletter input.text {
	padding:1px;
	font-size: 10px;
	color: #000000;
	border:1px solid #4d6db3;
}
form.newsletter .bouton {
	font-size:10px;
}

p.newsletter {
margin-top:4px;
margin-bottom:4px;

}
.txt-sm {
	font-size: 9pt;
}
.cadrebleu {
color: #FFFFFF;
background: #4E93BD;
}
.cadrebleumsg {
background-color: #EFF4FC;
	border: 1px solid #4E93BD;
	margin-top: 10px;
	line-height: 16px;
	}

	#actuslies{
background-color:#E6E6E6;
font-size : 10px;
color:#666666;
margin-top:5px;
margin-bottom:5px;
padding-bottom:4px;
}

#actuslies A{
font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #BC0012;
	text-decoration: none;
	font-weight : bold;
}
#actuslies a:hover{
	text-decoration: underline;
	font-weight : bold;
	}
	
#actucomment{
background-color:#d4c284;
font-size : 10px;
color:#666666;
padding-bottom:4px;
border-left:4px solid #766e50;

}


td.sortable {
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	white-space: nowrap;
	height: 27px;
	background: url(https://images.pcastuces.com/bg_table_head.gif) 0px 0px repeat-x;
	padding: 0px 7px 0px 7px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #959595;
}

td.cellules {
	text-align: left;
	padding:2px;
	vertical-align: center;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #959595;
	background:#f5f5f6;
}

td.voiraussi {
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	white-space: nowrap;
	height: 27px;
	background: url(bg_bleu.gif) 0px 0px repeat-x;
	padding: 0px 7px 0px 7px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #2C6C9D;
	color:#FFFFFF;
}

td.cellulesvoiraussi {
	text-align: left;
	padding:2px;
	vertical-align: center;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #2C6C9D;
	background:#e9e6e6;
}

td.cellulesvoiraussi {
	text-align: left;
	padding:2px;
	vertical-align: center;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #2C6C9D;
	background:#e9e6e6;
}
.rub_forum_1 {
	color: #FFFFFF;
	background: #4E93BD url(images/warnforum.gif) repeat-x;
	padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
	}

#cadreforum {
padding:0px 0px 0px 0px;
margin:0px 5px 0px 5px;
border: 1px solid #4E93BD;
	}
.msg1 {
	background-color: #FFFFFF;
	border: 1px solid #4E93BD;
	margin-top: 10px;
	line-height: 16px;
		}
.listediscussions {
		font-size: 13px;

padding:2px;
}
.alerte, .info,.note, .star {
	display: block;
	width:400px;
	margin: 5px 0;
	padding: 10px 10px 10px 50px;
	text-align: left; 
	}

.alerte {
	background: #f2f2f2 url(http://images.pcastuces.com/rq_alerte.png) left 50% no-repeat;
	border-bottom: 1px dashed #CCC;
	border-top: 1px dashed #CCC;
	padding: 5px 5px 5px 35px;
	}

.info {
	background: #f2f2f2 url(http://images.pcastuces.com/rq_info.png) left 50% no-repeat;
	border-bottom: 1px dashed #CCC;
	border-top: 1px dashed #CCC;
	padding: 5px 5px 5px 35px;
	}

.note {
	background: #f2f2f2 url(http://images.pcastuces.com/rq_note.png) 0 50% no-repeat;
	border-bottom: 1px dashed #CCC;
	border-top: 1px dashed #CCC;
	padding: 5px 5px 5px 35px;
	}




.ad_url2 {
	font-size: 10px;
	}
td.apropos {
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	white-space: nowrap;
	height: 27px;
	background: url(bg_rouge.gif) 0px 0px repeat-x;
	padding: 0px 7px 0px 7px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #7f0000;
	color:#FFFFFF;
}
td.cellulesapropos {
	text-align: left;
	padding:2px;
	vertical-align: center;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #7f0000;
	background:#f5f5f6;
}


blockquote
{
text-align:left;
clear:both;
margin:0;
padding:4px;
padding-left:6px;
border: 1px dashed #2f6fab;
color: black;
background-color: #f9f9f9;
line-height: 1.1em;
font-family:monospace;
}
	button{
			border:none;
			background:none;
			padding:0;
			margin:0;
			width:auto;
		   	overflow:visible;					
			text-align:center;	
			white-space:nowrap;	
			height:40px;
			line-height:38px;			
			}
		button span, button em{
			display:block;
			height:40px;
			line-height:38px;			
			margin:0;
			color:#954b05;
			}	
		button span{
			padding-left:20px;
			background:url(http://images.pcastuces.com/bg_button.gif) no-repeat 0 0;
			}	
		button em{
			font-style:normal;
			padding-right:20px;
			background:url(http://images.pcastuces.com/bg_button.gif) no-repeat 100% 0;
			}






.menutexte
{
display: block;
vertical-align: middle;
padding-left:5px;
padding-top:4px;
padding-bottom:4px;
width: 170px;
background-color: #4E93BD;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:13px;
text-decoration:none;
font-weight:bold;
}

a.menuurl
{
color: #fff;
text-decoration:none;
}

.menutexte:hover
{
background-color:#2C6C9D;
color: #fff;
text-decoration:none;
}

#menuonglets{
	margin-left: auto;
	margin-right: auto;
	width:985px;
	height:40px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	border-left: 1px solid #2C6C9D;
	border-right: 1px solid #2C6C9D;
	padding:0px;
	background-color:#2C6C9D;
}

#listeonglets {
        list-style: none;
        margin: 0;
        text-align: center;
	padding:0;
}
       
#listeonglets li {
          display: inline;
}

#listeonglets li a {
	display: inline-block;
	border-radius: 5px 10px 0px 0px;
	padding:5px;
	text-align: left;
	font-size:14px;
	color:#ffffff;
	text-decoration: none;
	background-color:#C60017;
}

#listeonglets li a:hover{

	background-color:#4E93BD;
}

#listeonglets li a.ongletselect {
display: inline-block;
padding:5px;
text-align: left;
font-size:14px;
color:#ffffff;
text-decoration: none;
background-color:#4E93BD;
}

#listeonglets li a.ongletselect:hover {

background-color:#4E93BD;
}

#txtonglets{
font-size:10px;
color:#ffffff;
}	

.bottomul
{
 padding:0;  
margin-top:5px;
margin-bottom:7px;  

}
.bottomul li {
margin-bottom:3px;
list-style-type:none;
}


#plangeneral{
padding:5px;
overflow: hidden;
}

#planpage{
margin-left: auto;
margin-right: auto;
width:985px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-size:12px;
background-color:#4E93BD;
border-left: 1px solid #2C6C9D;
border-right: 1px solid #2C6C9D;
text-align : center;
vertical-align : middle;
padding-top : 0;
padding-bottom : 4px;
}

.bottomtitre
{
font-size:120%;font-weight:bold;color:#fff;border-bottom: 1px solid #FFF;
}

#planpage a{
color: White;
text-decoration: none;
font-size : 12px;
font-family : Arial, Helvetica, sans-serif;
font-weight : normal;
}

#planpage a:hover{
color: White;
text-decoration: underline;
font-size : 12px;
font-family : Arial, Helvetica, sans-serif;
font-weight : normal;
}





.BarreRechercheTexte {
	padding:4px 15px 4px 25px;
	margin:3px;
	background: url('btn_recherche.png') no-repeat 4px 4px;
	background-color:#fcfcfc;
	border:1px solid #acb1b7;
	color:#958f8f;
	width:200px;
}




.BarreRechercheBouton, .BarreRechercheBouton:hover {
	border:1px solid #acb1b7;
	color:#FFF;
	cursor: pointer;
	font-weight:bold;
	background-color:#1E5178;
	margin-right:2px;
	height:29px
	
}


.BasRecherche
{
margin-top:2px;
}

.BasRechercheTexte {
	padding:4px 15px 4px 25px;
	margin:3px;
	background: url('btn_recherche.png') no-repeat 4px 4px;
	background-color:#fcfcfc;
	border:1px solid #acb1b7;
	color:#958f8f;
	width:120px;
}


.BasRechercheBouton, .BasRechercheBouton:hover {
	border:1px solid #acb1b7;
	color:#FFF;
	cursor: pointer;
	font-weight:bold;
	background-color:#1E5178;
	margin-right:2px;
	height:25px
	
}

#titregroupe{
background-color:#dfe9f4;
padding:2px;
padding-left:10px;
margin-top:3px;
margin-bottom:3px;
color:#808080;
font-weight:bold;
font-size : 13px;
font-family : Arial, Helvetica, sans-serif;
border-bottom: 2px dashed #808080;
text-transform: uppercase;
background: url('http://images.pcastuces.com/puceh3.gif') no-repeat 0px 8px;
}
