@font-face {
  font-family: 'esmicon';
  src: url('esmicon.eot');
  src: url('esmicon.eot#iefix') format('embedded-opentype'),
       url('esmicon.woff') format('woff'),
       url('esmicon.ttf') format('truetype'),
       url('esmicon.svg#esmicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'esmicon';
    src: url('../font/esmicon.svg?18637738#esmicon') format('svg');
  }
}
*/
 
 [class^="esmicon-"]:before, [class*=" esmicon-"]:before {
  font-family: "esmicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: auto;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.esmicon-size12:before {
	font-size: 1.2em;
}
.esmicon-size14:before {
	font-size: 1.4em;
}
 
.esmicon-heart:before { content: '\e800'; } /* '' */
.esmicon-lock:before { content: '\e801'; } /* '' */
.esmicon-logout:before { content: '\e802'; } /* '' */
.esmicon-card:before { content: '\e803'; } /* '' */
.esmicon-libra:before { content: '\e804'; } /* '' */
.esmicon-help-inverse:before { content: '\e805'; } /* '' */
.esmicon-star:before { content: '\e806'; } /* '' */
.esmicon-smallcart:before { content: '\e807'; } /* '' */
.esmicon-envelope:before { content: '\e808'; } /* '' */
.esmicon-printer:before { content: '\e809'; } /* '' */
.esmicon-cargo:before { content: '\e80a'; } /* '' */