@import '../fonts/icons/esmicon.css';

@import '../fonts/fontawesome/font-awesome.min.css';

@font-face {
    font-family: 'corp';
    src: url('../fonts/Co_Headline_Corp/coheadline_corp_rg.eot');
    src: url('../fonts/Co_Headline_Corp/coheadline_corp_rg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Co_Headline_Corp/coheadline_corp_rg.woff') format('woff'),
    url('../fonts/Co_Headline_Corp/coheadline_corp_rg.ttf') format('truetype'),
    url('../fonts/Co_Headline_Corp/coheadline_corp_rg.svg#co_headline_corp') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'corp';
    src: url('../fonts/Co_Headline_Corp_Light/coheadline_corp_lt.eot');
    src: url('../fonts/Co_Headline_Corp_Light/coheadline_corp_lt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Co_Headline_Corp_Light/coheadline_corp_lt.woff') format('woff'),
    url('../fonts/Co_Headline_Corp_Light/coheadline_corp_lt.ttf') format('truetype'),
    url('../fonts/Co_Headline_Corp_Light/coheadline_corp_lt.svg#co_headline_corp') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'cotext';
    src: url('../fonts/Co_Text_Corp/cotext_corp_rg.eot');
    src: url('../fonts/Co_Text_Corp/cotext_corp_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Co_Text_Corp/cotext_corp_rg.woff') format('woff'),
         url('../fonts/Co_Text_Corp/cotext_corp_rg.ttf') format('truetype'),
         url('../fonts/Co_Text_Corp/cotext_corp_rg.svg#co_text_corp') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cotext';
    src: url('../fonts/Co_Text_Corp_Light/cotext_corp_lt.eot');
    src: url('../fonts/Co_Text_Corp_Light/cotext_corp_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Co_Text_Corp_Light/cotext_corp_lt.woff') format('woff'),
         url('../fonts/Co_Text_Corp_Light/cotext_corp_lt.ttf') format('truetype'),
         url('../fonts/Co_Text_Corp_Light/cotext_corp_lt.svg#co_text_corp') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'arial narrow';
    src: url('../fonts/arialn.eot');
    src: url('../fonts/arialn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialn.woff') format('woff'),
         url('../fonts/arialn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'corp';
        url('../fonts/Co_Headline_Corp/coheadline_corp_rg.svg#co_headline_corp') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'corp';
        url('../fonts/Co_Headline_Corp_Bold/coheadline_corp.svg#co_headline_corp') format('svg');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'corp';
        url('../fonts/Co_Headline_Corp_Light/coheadline_corp_lt.svg#co_headline_corp') format('svg');
        font-weight: 100;
        font-style: normal;
    }

    @font-face {
        font-family: 'cotext';
        url('../fonts/Co_Text_Corp/cotext_corp_rg.svg#co_text_corp') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'cotext';
        url('../fonts/Co_Text_Corp_Bold/cotext_corp.svg#co_text_corp') format('svg');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'cotext';
        url('../fonts/Co_Text_Corp_Light/cotext_corp_lt.svg#co_text_corp') format('svg');
        font-weight: 100;
        font-style: normal;
    }
}
body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
