body {
	background: #fff;
}

tr, td {
	page-break-inside: avoid !important;
}
tr {
	page-break-after: auto !important;
}

#backgroung,
.strange_bg,
.sm-header-bar__wrap,
.smSearch,
.sm-header__stores-link,
.sm-header__cart,
.sm-header__phone span,
.sm-header_mainmenu,
.sm-breadcrumbs,
.sm-shop__page h1 a,
.sm-actions-and-social,
.goods_prettyphoto_link.active,
.sm-shops-view_banner,
.sm-three-banners__wrap,
.sm-goods_tabs_block ul.sm-tabs,
.sm-goods_main_logo-and-collections,
.sm-carouselle__wrap,
.bx-wrapper,
tr.sm-goods_tabs_characteristics_trigger td span,
.sm-goods_main_details h1,
.sm-grey-corner:after,
.sm-goods_main_details_buttons,
.sm-goods_main_details_operations,
.sm-goods_main_details_social,
.sm-needNoPrint,
.sm-goods_tabs-bodies_body.sm-needNoPrint,
.sm-goods__avail-info h4,
.sm-goods_main_details_color,
.sm-goods_main_details_sizetable-link,
.sm-goods_main_details_sku,
.sm-goods_main__item-rating,
.sm-goods_main_details_color-size-label,
.sm-goods_main_details_prices_save-percent,
.sm-goods_tabs_presence_header_select-city,
.sm-goods_tabs_presence_header_select-metro,
.sm-goods_tabs_presence-sort,
.sm-goods_tabs_presence-availability,
.bionic-border:after,
.sm-goods_tabs_download,
footer,
iframe
{
	display: none!important;
}

tr.sm-goods_tabs_characteristics_trigger td,
.sm-goods_main_details_grey-block,
.sm-goods_tabs_presence_metro
{
	background: none!important;
}

.sm-goods_tabs_presence_list_table td.sm-goods_tabs_presence_metro {
	padding-left: 0;
}
.sm-goods_tabs_presence_list_table td.sm-goods_tabs_presence_metro img {
	vertical-align: bottom;
	margin: 0 5px 0 0;
}
.sm-goods_main_details_size .sm-goods__param-value {
	color: #999;
}
.sm-goods_main_details_size .sm-goods__param-value.active {
	border: 2px #000 solid;
	height: 26px;
	line-height: 26px;
	background: none;
	color: #000;
	min-width: 30px;
}
.sm-goods_main_details_size .sm-goods__param-value.disabled {
	display: none;
}

.bionic-border {
	border-bottom: 3px #000 solid;
	margin: 0 0 8px 0;
}
.sm-popup_size-table .bionic-border dt, .sm-popup_size-table .bionic-border dd {
	padding: 0;
}

.sm-goods_main_details_grey-block {
	padding: 0;
	border-radius: 0;
}

.sm-header {
	height: 100px;
	border-bottom: 1px #ccc solid;
	margin-bottom: 20px;
}
.sm-header__phone {
	left: auto;
	right: 0;
}
.sm-header__phone strong {
	font-size: 24px;
}
.sm-logo img {
	width: 260px;
	height: auto;
}
.sm-logo span {
	font-size: 14px;
}
.sm-shop__page {
	background: #fff;
	padding: 0;
}
.sm-goods_tabs-bodies_body h2.bionic-border {
	display: block;
}
.sm-goods_tabs-bodies_body {
	display: block!important;
}
.sm-needPrint {
	display: block!important;
}
.sm-goods_tabs_presence_list_table td.sm-goods_tabs_presence_metro img.sm-needPrint {
	display: inline!important;
}
.sm-goods_tabs_characteristix {
	width: 100%;
}
.sm-goods_main_details_color-print,
.sm-goods__avail-info
{
	margin: 0 0 20px 0;
}
.sm-goods_main_details_size-print {
	margin: 0 0 5px 0;
}
.sm-goods_main_details_prices_actual-price {
	font-size: 38px;
	line-height: 40px;
	color: #000;
}
.sm-header__print-date {
	position: absolute;
	right: 0;
	bottom: 10px;
	font-size: 15px;
}
.sm-header__print-date .dotted {
	border: none;
	color: #000!important;
	font-size: 20px;
	margin: 0 30px 0 0;
}