﻿/*\----------- fix -----------\*/

  .b__tv-slider-slick area,
	.b__tv-slider-slick a:hover,
	.b__tv-slider-slick a,
  .b__tv-slider-slick img
	{
		border: none;
	  outline: none;
    outline: expression(hidefocus='true');
		text-decoration: none;
		color: inherit;
	}
	
	.b__tv-slider-slick img
	{
		display: block;
	}
	
/*\----------- basic -----------\*/
	
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list
{
    
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #000000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
		right: auto;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -30px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '⚫';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*\----------- slider-slick -----------\*/
	
.b__tv-slider-slick
{
	height: 335px;
	margin: 20px 0px 50px 0px !important;
  padding: 0px 42px 0px 42px;
	background-color: #f5f5f5;
}

.b__tv-slider-slick--m-list-none .slick-dots
{
	display: none !important;
}

.b__tv-slider-slick--m-hover-button
{
	padding: 0px 0px 0px 0px;
}

  .b__tv-slider-slick--m-hover-button .slick-next,
	.b__tv-slider-slick--m-hover-button .slick-prev
	{
		opacity: 0;
		transition: 0.2s;
		z-index: 2;
	}

  .b__tv-slider-slick--m-hover-button:hover .slick-next,
	.b__tv-slider-slick--m-hover-button:hover .slick-prev
	{
		opacity: 0.6;
	}
	
	.b__tv-slider-slick--m-hover-button .slick-next:hover,
	.b__tv-slider-slick--m-hover-button .slick-prev:hover
	{
		opacity: 0.9;
	}
	
	 .b__tv-slider-slick .slick-prev
	 {
		 width: 38px;
		 height: inherit;
		 left: 0px !important;
		 background-color: #ffffff;
		 margin: 0px 0px 0px 0px !important;
		 position: absolute;
		 top: 0px !important;
		 bottom: 0px !important;
		 transform: translate(0, 0) !important;
	 }
	 
	 .b__tv-slider-slick .slick-prev:hover
	 {
		 background-color: #FFF !important;
	 }
	 
	 .b__tv-slider-slick .slick-prev:focus
	 {
		 background-color: #FFF !important;
	 }

	.b__tv-slider-slick .slick-prev:before
	{
		content: '' !important;
		width: 38px;
		height: 20px;
		position: absolute;
		top: 50%;
    margin: -10px 0px 0px 0px;
		display: block;
		background-image: url("http://cdn.sportmaster.ru/upload/dip/banner/36-week/images/arrow-l.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	 .b__tv-slider-slick .slick-next
	 {
		 width: 38px;
		 height: inherit;
		 right: 0px !important;
		 background-color: #ffffff;
		 margin: 0px 0px 0px 0px !important;
		 position: absolute;
		 top: 0px !important;
		 bottom: 0px !important;
		 transform: translate(0, 0) !important;
	 }
	 
	 .b__tv-slider-slick .slick-next:hover
	 {
		 background-color: #FFF !important;
	 }
	 
	 .b__tv-slider-slick .slick-next:focus
	 {
		 background-color: #FFF !important;
	 }
	
	.b__tv-slider-slick .slick-next:before
	{
		content: '' !important;
		width: 38px;
		height: 20px;
		position: absolute;
		top: 50%;
    margin: -10px 0px 0px 0px;
		display: block;
		background-image: url("http://cdn.sportmaster.ru/upload/dip/banner/36-week/images/arrow-r.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	}

	.b__tv-slider-slick .slick-dots
	{
		width: auto;
		right: 0px;
		left: 0px;
		bottom: -36px;
	}
	
	.b__tv-slider-slick .slick-list
	{
		height: 335px;
	}
	
	.b__tv-slider-slick--p-item
	{
		width: 224px;
		height: 335px;
		padding: 10px 0px 0px 0px;
		background-color: #FFF;
		position: absolute;
	}
	
		.b__tv-slider-slick--p-item img
		{
			margin: 0px auto 0px auto;
		}
		
		.b__tv-slider-slick--p-item--p-heading
		{
			position: absolute;
			top: 200px;
			right: 10px;
			left: 10px;
			text-align: center;
			font-size: 15px;
			font-family: 'cotext', arial, helvetica, sans-serif;
		}
		
		.b__tv-slider-slick--p-item--p-price
		{
			position: absolute;
			top: 250px;
			right: 10px;
			left: 10px;
			text-align: center;
			font-size: 20px;
			font-family: 'corp', arial, helvetica, sans-serif;
			color: #ed1c24;
		}
		
		.b__tv-slider-slick--p-item--p-button
		{
			width: auto;
			margin: 0px auto 0px auto;
			position: absolute;
			top: 285px;
			right: 0px;
			left: 0px;
			text-align: center;
		}
		
			.b__tv-slider-slick--p-item--p-button--p-item
			{
				height: 32px;
				padding: 0px 20px 0px 20px;
				line-height: 32px;
				display: inline-block;
				border-radius: 2px;
				font-size: 14px;
				text-align: center;
				font-family: 'cotext', arial, helvetica, sans-serif;
				background-color: #ed1c24;
				color: #FFF;
				transition: 0.2s;
			}
		
			.b__tv-slider-slick--p-item:hover .b__tv-slider-slick--p-item--p-button--p-item
			{
				background-color: #e51c22;
			}
			
/*

<link href="//www.sportmaster.ru/upload/dip/style/style-slider-slick.css" rel="stylesheet" type="text/css"></link> 
<script src="//www.sportmaster.ru/upload/dip/script/slider-slick/slick.min.js"></script>

<script>

$(function() {

	$('.js-slider__slider').slick({
	
		dots: true,
		autoplaySpeed: 5000,
		autoplay: true,
		infinite: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		speed: 500,
		
	});

});

</script>

<div class="b__tv-slider-slick b__tv-slider-slick--m-hover-button js-slider__slider" style="height: Npx;">

  <div>Слайд</div>

</div>

*/