/*\----------- popup-window -----------\*/
	
.b__tv-popup-window
{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	display: none;
	font-size: 14px;
}

.b__tv-popup-window--m-action
{
	display: block;
}

.b__tv-popup-window--m-pointer
{
	cursor: pointer;
}

	.b__tv-popup-window--p-block
	{
		width: 300px;
		max-height: 300px;
		padding: 20px;
		margin: 0px 0px 0px -150px;
		position: fixed;
		top: -100%;
		left: 50%;
		background: #fff;
		border-radius: 6px;
		box-shadow: 0px 0px 30px 0px #000000;
		z-index: 2;
		transition: 0.2s;
		font-family: 'cotext', 'Co Text Corp', arial, helvetica, sans-serif;
	}
	
	 .b__tv-popup-window--p-block--p-overflow
	 {
		 height: inherit;
		 overflow: hidden;
	 }
	 
		 .b__tv-popup-window--p-block--p-overflow--p-heading
		 {
			 margin: 0px 0px 15px 0px;
			 padding: 0px 0px 10px 0px;
			font-size: 22px;
			font-weight: bold;
			color: #005ca7;
			font-family: 'corp', 'Co Headline Corp', arial, helvetica, sans-serif;
			border-bottom: 3px solid #005ca7;
		 }
	 
	 .b__tv-popup-window--p-block--p-close
	 {
		 height: 15px;
		 width: 17px;
		 position: absolute;
		 top: 10px;
		 right: 10px;
		 background-image: url('http://cdn.sportmaster.ru/upload/dip/static/images/popup-window__close.png');
		 background-repeat: no-repeat;
		 background-position: center center;
		 cursor: pointer;
	 }
	 
	 .b__tv-popup-window--p-block--p-close:hover
	 {
		 transform: rotate(180deg);
		 transition: 0.2s;
	 }

	.b__tv-popup-window--p-shadow
	{
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #000000;
		opacity: 0.5;
		z-index: 1;
	}