@media (min-width: 1600px) {
    #menu .menu .item.item-39311 {
        max-width: 727px;
    }
}

.day_weather_more {
    font-size: 12px;
    float: right;
    padding: 5px 0;
    color: #999;
    font-family: PTSansRegular;
    border-top: 1px solid #797979;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 9px;
    font-size: 12px;
}

.day_weather_more span * {
    display: inline-block;
    vertical-align: middle;
}

.day_weather_more span svg {
    padding-left: 5px;
    height: 1.1em;
    width: auto;
}

/*.day_weather_more:hover {
    text-decoration: underline !important;
}*/

#head_block .item.weather .w_b {
    height: auto;
    padding-bottom: : 10px;
}

.news_list .info .author {
    display: block;
    font: normal normal 13px/15px 'Ubuntu';
    font-weight: 500;
    color: #999;
}

a.section[class *= "blogi"] {
    color: #cca266;
}

body #gallery_overlay {
    z-index: 99999;
}

body #content_fullscreen {
    z-index: 99999;
}

#container .photo_galery .btn_full .close {
    z-index: 99999;
}

#container .photo_galery .gallery_top.full_screen .list,
#container .photo_galery .gallery_top .b_content.full_screen {
    z-index: 99999;
}

#container #article .photo_galery .btn_full .left,
#container #article .photo_galery .btn_full .right {
    z-index: 99999 !important;
}

/*#header.minimize #user_block {
    margin-top: 6px !important;
}*/

#header.auth #head_block,
#header.auth #logo,
#header.auth #user_block {
    margin-top: 102px !important;
}

#header.auth.minimize #user_block {
    margin-top: 108px !important;
}

@media (min-width: 1240px) and (max-width: 1365px) {
    #menu .menu {
        max-width: 1222px;
    }

    #wrapper #menu {
        max-width: 1280px;
    }
}

.minimize .b_search.open ~ .b_content {
    display: none !important;
}

#header.minimize #user_block .b_search.open .text,
#user_block .b_search .text {
    box-sizing: border-box;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
}

.mobile_article .top_article .article_body p strong,
.mobile_article .top_article .article_body p b {
    font-weight: bold;
}

.mobile_article .top_article .article_body p em {
    font-style: italic;
}

.text-muted {
    color: #777;
}

.pushes-text {
    margin-left: 115px;
    font: normal normal 16px/25px 'RobotoLight';
}

.twitter-video {
    left: 50%;
    transform: translateX(-50%);
}

.sudro-live-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60.7%;
}

.sudro-live-embed > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#article .center .article_body .text .sudro-live-embed > iframe {
    margin: 0 !important;
}

.heighten-banner {
    height:600px !important;
}

@media only screen and (max-width: 1599px) and (min-width: 1366px) {
  #wrapper #menu.floating {
    width: 1337px;
  }

  #wrapper .minimize #menu.floating {
    width: 1282px;
  }

  .minimize #logo {
    z-index: 9999;
  }

  #menu .menu .item .sub_menu,
  #wrapper .minimize #menu .menu .item .sub_menu {
    width: 1337px;
  }
}

@media only screen and (max-width: 1365px) and (min-width: 1240px) {
  #wrapper #user_block {
    width: 882px;
  }
}


.banner-custom-mb div {
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative !important;
}

.c-aside-embed {
  position: relative;
}
.c-aside-embed-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform-origin: 0 0;
}

@media (min-width: 1600px) {
  .c-aside-embed-1250x250 {
    height: 250px;
  }
}

@media (max-width: 1599px) {
  .c-aside-embed-1250x250 {
    padding-top: 20%;
    margin-bottom: 15px;
  }
}
@media (min-width: 1600px) {
  .c-aside-embed-1250x250 .c-aside-embed-item {
    width: 1250px;
  }
}
@media (max-width: 1599px) {
  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.986);
  }
}
@media (max-width: 1365px) {
  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.94);
  }
}
@media (max-width: 1279px) {
  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.78);
    margin-bottom: 0px;
  }
}
@media (max-width: 1023px) {
  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.7);
  }
}
.main_grid.index .c-aside-embed-1250x250 {
  padding-top: 20%;
  margin-bottom: 15px;
}



@media (min-width: 1600px) {
  .main_grid.index  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.87);
  }

  .main_grid.index .c-aside-embed-1250x250 {
    padding-top: 0;
  }
}
@media (max-width: 1599px) {
  .main_grid.index  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.698);
  }

  .main_grid.index .c-aside-embed-1250x250 {
    padding-top: 20%;
  }
}
@media (max-width: 1365px) {
  .main_grid.index  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.652);
  }
}

@media (max-width: 1279px) {
  .main_grid.index  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.479);
  }
}

@media (max-width: 1023px) {
  .main_grid.index  .c-aside-embed-1250x250 .c-aside-embed-item {
    transform: scale(0.5);
  }
}
