/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);*/
body {
    background-color: #F9F9F9;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    text-align: center;
    font-family: verdana, cursive
}

#oas_Middle1_wrapper {
    display: none
}

@media screen and (min-width: 1169px) {
    #oas_Middle1_wrapper {
        display: block;
        width: 300px;
    }

    body.pub .contenido, body.pub .contenidoiecss3 {
        position: relative !important;
        margin: 0 !important;
        left: 0;
    }

    body {
        width: 1280px;
    }

    .footerSup {
        margin: 10px !important;
    }
}

a {
    color: #669966;
    text-decoration: none
}

a:hover {
    COLOR: #001100;
    text-decoration: underline
}

area {
    cursor: pointer
}

.x5, .tray, .cm3, .descripcion, .filtro {
    font-family: verdana, arial;
    font-size: 8pt
}

.cm1, .cm2, .normal, .x10, .submit {
    font-family: verdana, arial
}

.idt, .cm1, .tit, .submit {
    font-size: 10pt
}

.tx, .cm2, .normal {
    font-size: 12px
}

.imputs {
    font-size: 8pt
}

.cat1, .descripcion, .normal {
    text-align: justify
}

.ti, .ii, .ee, .submit, .ie {
    text-align: center
}

.x6, .cat1, .tit, .textoprovincia, .verf, .ee, .mepr2, .submit, .ie {
    font-weight: bold
}

.imputs, .idt, .normal, .descripcion, .x10 {
    font-weight: 400
}

.bus .buscador-precio input {
    font-family: Verdana, arial;
    font-size: 12px;
    background: #fff;
    border: #c2dea0 2px solid;
    border-radius: 5px;
    color: #9199A1;
    padding: 6px;
    margin-left: -3px;
    width: 130px;
    background-image: url(/imagenes/ic-euro.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}

.descripcion {
    color: #003300
}

.normal, .x10 {
    color: #444
}

.c2, .c3 {
    color: #446644
}

.p1, .p2, .verf, .vef, .vem, .ee, .ii, .ie {
    cursor: pointer
}

.x2 {
    height: 21px;
    background: #E8F9E8;
    border: 2px solid #D7E8D7;
    border-radius: 5px;
    padding: 0 2px 0 0
}

.x3 {
    font-weight: 600;
    width: 70px
}

.x9 {
    width: 88%
}

.x8 {
    margin: 2px 0 0 5px;
    text-align: right;
    float: left;
    width: 25%
}

.x7 {
    width: 73%
}

.x7-admin {
    width: 63%
}

.x7, .x7-admin, .x9 {
    margin-bottom: 6px
}

.x11 {
    clear: both;
    margin-top: 12px;
}

.x3, .x4, .x5, .x6, .x7, .x7-admin, .x9, .x13 {
    margin-left: 2px;
    margin-top: 3px;
    text-align: left;
    overflow: hidden;
    float: left
}

.x13 {
    margin-top: 5px;
    margin-left: 0;
}

.x6 {
    text-align: right;
    float: right;
    margin: 2px 3px 0 8px;
}

.x5 {
    width: 68px;
    text-overflow: ellipsis;
    text-align: right;
    float: right
}

.x12 {
    border-radius: 5px 0 0 0;
    position: relative;
    width: 45px;
    top: -16px;
    color: #fff;
    font: bold 9px verdana;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 1px 2px 1px 4px;
    float: right;
}

.contenido, .contenidoiecss3 {
    background-color: #fff;
    margin: 0 auto;
    width: 980px;
    text-align: center;
    padding: 0 0 0 0;
    overflow: auto;
}

.contenidoPie {
    font-family: Verdana, arial;
    font-size: 10pt;
    background-color: #2c442c;
    margin: 0;
    text-align: center;
    padding: 10px 0 0;
    min-height: 200px
}

.cab, .cabiecss3 {
    background: #fff;
    overflow: hidden;
    width: auto;
    height: 100px;
    margin: 0 0 8px 0;
    padding: 0;
    position: relative
}

.logo {
    margin: 3px 3px 0 5px
}

.logo div {
    margin-top: 10px;
    width: 240px;
    height: 45px;
    background: transparent url('/imagenes/logo.png') no-repeat scroll 0 0
}

.searchForm {
    float: left;
}

div.cabHome {
    padding-top: 10px;
}

div.cabHome div.logo a div {
    margin: 15px auto;
}

div.cabHome div.txtClaim4 {
    font-family: Verdana, arial;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.cabHome span.descripcion {
    float: none;
    text-align: center;
}

.contenidoiecss3, .cabiecss3 {
    behavior: url('https://static.milanuncios.com/js/pie/PIE.htc')
}

.beacrumb-container {
    margin-top: 8px;
    height: 30px;
    background-color: #F9F9F9;
}

.beacrumb {
    text-align: left;
    float: left;
    height: 15px;
    margin-right: 1px;
    margin-top: -38px;
    margin-left: 15px;
    width: 100%;
}

.txtClaim {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 43px;
    left: 10px
}

.txtClaim a {
    color: #fff;
    font-size: 11px;
    font-weight: normal
}

.txtClaim2 {
    text-align: justify;
    float: right;
    height: 55px;
    margin-right: 5px;
    line-height: 1.1;
    position: relative;
    top: -40px;
    width: 670px
}

.txtClaim3, .txtClaim4 {
    font-family: Verdana, arial;
    text-align: right;
    float: right;
    vertical-align: middle;
    width: 400px;
    margin-right: 20px;
    margin-top: 5px;
    color: #446644
}

.txtClaim4 {
    font-family: Verdana, arial;
    width: 680px;
    margin: 30px 18px 0 0
}

.txtClaim3 h3 {
    font-family: Verdana, arial;
    font-size: 12px;
    margin: 12px 0
}

.txtClaimTienda {
    text-align: justify;
    height: 70px;
    margin: -50px 8px 0 260px;
    width: 700px;
}

.cat1 {
    color: #003300
}

.tray {
    color: #001100
}

.bus input {
    font-family: Verdana, arial;
    font-size: 12px;
    background: #fff;
    border: #c2dea0 2px solid;
    border-radius: 5px;
    color: #9199A1;
    padding: 6px 4px 6px;
}

.bus select {
    font-family: Verdana, arial;
    font-size: 12px;
    border: #c2dea0 2px solid;
    border-radius: 5px;
    color: #9199A1;
    padding: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: #fff url(/imagenes/ic-combo.png) no-repeat 95% center;

    -webkit-padding-end: 26px !important;
    -moz-padding-end: 26px !important;

}

.busli1 input {
    font-size: 12px;
    font-weight: normal;
}

.busli1 select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.imputl {
    width: 140px
}

img {
    border: 0
}

.idt {
    text-indent: 12px
}

.cm1 {
    width: 190px
}

.cm2 {
    width: 170px;
    margin-right: 5px;
}

.cm3 {
    width: 145px;
    margin-right: 5px;
}

.cm4 {
    width: 115px
}

.submit {
    border: 0;
    color: #448844;
    cursor: hand
}

.sep {
    background-color: #ddeedd;
    width: 610px;
    height: 1px
}

TD {
    font-family: verdana;
    font-size: 8pt;
    color: #444;
    text-align: left;
    font-weight: 400;
    vertical-align: top
}

TABLE {
    border-spacing: 0 0
}

.tx {
    color: #3c3c3c;
    clear: both;
}

.aditem .tx {
    font-family: Verdana, arial;
}

.cti {
    font-size: 13px;
    width: 444px;
    font-weight: 900;
    color: #113311
}

.tit {
    color: #113311
}

.pillDiv {
    border-radius: 10px;
    padding: 3px 10px;
    margin-right: 5px;
    background-color: #f0f0f0;
    float: left;
}

.dimg, .pie, .i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10, .i11, .m1, .m3, .m4-old, .m5-old, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12, .p1, .p2, .f1, .vf, .x10 {
    background: transparent url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll 0 0;
    overflow: hidden
}

.gas, .die, .m2, .ano, .hec, .pm2, .ph2, .pr, .dor, .ban, .alt, .esl, .kms, .vem, .vef, .cc, .ejes, .vcv, .cmanual, .cauto {
    font-weight: 600;
    min-width: 34px;
    padding: 3px 10px;
    vertical-align: middle;
    text-align: center;
    float: left;
    font-size: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin-right: 5px;
    line-height: 1
}

.ano, .m2 {
    color: #7D4A16;
    background: #fbede0;
    border-color: #e8c8a6
}

.kms, .esl, .alt, .dor, .hec {
    color: #2E4F74;
    background: #e6f1f8;
    border-color: #9ebed3
}

.ph2, .pm2, .cc, .cmanual {
    color: #AA8C00;
    background: #FDFCEE;
    border-color: #E0D134
}

.ejes, .ban {
    color: #47581F;
    background: #e8f0cb;
    border-color: #becb94
}

.pr, .vcv {
    color: #af2828;
    background: #fee2e2;
    border-color: #da584b;
}

.pr {
    padding: 0 4px;
    width: auto;
    font-weight: 100;
    font-size: 19px;
    height: 24px;
}

.vem, .par {
    color: #218788;
    background: #e2fbfb;
    border-color: #8ad8d8;
    font-size: 10px;
    line-height: 1
}

.pro {
    color: #711;
    background: #fdd;
    border-color: #b66;
    font-size: 10px;
    padding: 6px 3px 0 3px;
    height: 18px
}

.par {
    padding: 6px 3px 0 3px;
    height: 18px
}

.vef {
    color: #9866a7;
    background: #f6ecfd;
    border-color: #c98be9;
}

.vembox a:hover, .vefbox a:hover, .vcvbox a:hover {
    text-decoration: none
}

.supind {
    vertical-align: text-top;
    font-size: 6px
}

.gas {
    color: #7f5491;
    background: #e9d8f1;
    border-color: #9866a7;
}

.cmanual {
}

.vcv {
    font-size: 10px;
    line-height: 1;
    padding: 0 2px 0 1px
}

.die {
    color: #4b521a;
    background: #e8f0cb;
    border-color: #b3c284;
}

.cauto {
    color: #477c38;
    background: #e8f9cf;
    border-color: #88d173;
}

.attsub {
    font-size: 9px;
    margin: -2px 0 0
}

.nohayanuncios {
    font-family: verdana;
    font-size: 14pt;
    color: #444;
    text-align: center;
    font-weight: bold
}

H1 {
    font-family: verdana;
    font-size: 12pt;
    color: #30923e;
    font-weight: bold;
    text-transform: uppercase
}

.sub1 {
    color: #970000;
    background: #FFF0F0
}

.sub2 {
    color: #BA8E1B;
    background: #FFFDE6
}

.sub4 {
    color: #117711;
    background: #F0FFEC
}

.sub3 {
    color: #000D40;
    background: #F4F5FB
}

.sub5 {
    color: #D23900;
    background: #FFECC6
}

.sub6 {
    color: #771177;
    background: #FAE8FF
}

.sub7 {
    color: #004F7D;
    background: #DFF9F9
}

.sub8 {
    color: #552B00;
    background: #F8EDE4
}

.sub9 {
    color: #0B3F07;
    background: #DAF3DB
}

.sub10 {
    color: #2E006C;
    background: #F3EAFF
}

.filtro {
    color: #112211;
    font-weight: 100
}

.filtro {
    line-height: 45px;
}

.filtro div.f1 {
    height: 20px
}

.textoprovincia {
    width: 136px;
    BORDER: #336633 0 solid;
    FONT-SIZE: 11px;
    COLOR: #336633;
    text-align: center;
    background: transparent
}

.ti {
    width: 185px;
    BORDER: #336633 0 solid;
    FONT-SIZE: 11px;
    BACKGROUND: #fff;
    COLOR: #336633;
    font-weight: 100
}

.ee {
    width: auto;
    max-height: 180px;
    color: #226622;
    border: none
}

.ie {
    color: #226622;
    border: none;
    max-height: 215px;
    height: 215px
}

.ii {
    width: 12px;
    height: 12px;
    border: none
}

.ad_header {
    color: #000;
    font-weight: bold;
    padding-bottom: 1px;
    font-size: 9px;
    text-align: right;
    float: right
}

.ad_line1 {
    color: #004400;
    font-size: 14px;
    text-decoration: underline
}

.ad_text {
    color: #000;
    font-size: 11px;
    text-decoration: none
}

.ad_url {
    color: #008000;
    font-size: 11px;
    margin-bottom: 9px;
    text-decoration: none
}

.wide_ads {
    background: #ddf8cc;
    padding: 1px
}

.m1, .m9, .p1, .p2, .f1, .vf {
    float: left
}

.i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10, .i11 {
    height: 12px;
    width: 13px;
    float: left
}

.i7, .i8, .i9, .i10 {
    margin-top: 2px
}

.i1 {
    background-position: 0 -127px
}

.i2 {
    background-position: -13px -127px
}

.i3 {
    background-position: -26px -127px;
    width: 12px
}

.i11 {
    background-position: 0 -172px;
    width: 12px
}

.i4 {
    background-position: -38px -127px;
    width: 16px
}

.i5 {
    background-position: -54px -127px
}

.i6 {
    background-position: -67px -127px;
    width: 14px
}

.i7 {
    background-position: -81px -127px;
    width: 11px
}

.i8 {
    background-position: -92px -127px;
    width: 14px
}

.i9 {
    background-position: -114px -147px;
    width: 11px
}

.i10 {
    background-position: -103px -147px;
    width: 11px
}

.m1, .m9 {
    height: 3px;
    width: 136px
}

.m1 {
    background-position: -31px -203px
}

.m3, .m4-old, .m5-old, .m6, .m7, .m8, .m9, .m10, .m11, .m12 {
    width: 26px;
    height: 24px;
    float: left;
    margin: 0 5px 0 0
}

.m4, .m5 {
    width: 32px;
    height: 32px;
    float: left;
    margin: 0 5px 0 0
}

.m3 {
    background-position: -26px -163px
}

.m4-old {
    background-position: 0 -139px
}

.m5-old {
    background-position: -121px -159px
}

.m4 {
    background-position: -300px -4px
}

.m5 {
    background-position: -269px -4px
}

.m6 {
    background-position: -52px -163px
}

.m7 {
    background-position: -78px -139px
}

.m8 {
    background-position: -26px -139px
}

.m9 {
    background-position: -31px -206px
}

.m10 {
    background-position: -78px -164px
}

.m11 {
    background-position: -139px -75px
}

.m12 {
    background-position: -168px -75px
}

.mebo, .mes1, .mes2, .mes3 {
    width: 134px;
    text-align: left
}

.mebo .cajaBuscador {
    height: 99px
}

.mebo .btnBuscador {
    width: 123px;
    font-weight: 400;
    font-size: 12px;
    background: #ddffdd;
    color: #336633;
    border: #336633 1px solid
}

.mebo .buscador {
    text-align: left
}

.mebo .buscador #chconta {
    background: none;
    border: 0;
    margin: 2px 0 0 0;
    vertical-align: text-top;
    height: 12px
}

.mebo .buscador a {
    vertical-align: text-top;
    font-weight: 500;
    color: #446644;
    font-size: 10px
}

.mepr {
    height: 24px;
    border-bottom: #80A080 1px solid;
    background: #cceecc;
    padding: 2px 0 2px 3px;
    width: 131px;
    font-weight: bold
}

.mepr2 {
    float: left;
    color: #002200;
    text-align: left
}

.p1, .p2 {
    width: 37px;
    height: 39px;
    font-size: 12pt;
    color: #779977;
    text-align: justify;
    font-weight: bold;
    margin-top: 0
}

.p1 {
    background-position: 0 -83px
}

.p2 {
    background-position: -66px -83px
}

.f1 {
    width: 74px;
    height: 20px;
    background-position: -106px -127px;
    float: right;
    margin-right: 5px
}

.verf {
    background: #fff;
    BORDER: #bbddbb 1px solid;
    width: 160px;
    height: 100px;
    font-size: 8pt;
    color: #224422
}

.vf {
    width: 32px;
    height: 30px;
    background-position: -148px -174px;
    float: none
}

.gratis {
    font-size: 8px;
    color: #aa2222;
    position: relative;
    top: -16px;
    left: 80px;
    width: 50px;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}

.ruta {
    padding-top: 5px;
    color: #2E4F74;
    background: #e6f1f8;
    border: 1px solid #9ebed3;
    font-weight: 900;
    width: auto;
    min-width: 34px;
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
    display: inline;
    float: left;
    font-size: 8pt;
    border-radius: 4px;
    height: 19px;
    margin-right: 3px
}

.x1 {
    background: #ebf3eb;
    background: -moz-linear-gradient(top, #d7e8d7 13%, #f8f8f8 66%, #ffffff 89%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #d7e8d7), color-stop(66%, #f8f8f8), color-stop(89%, #ffffff));
    background: -webkit-linear-gradient(top, #d7e8d7 13%, #f8f8f8 66%, #ffffff 89%);
    background: -o-linear-gradient(top, #d7e8d7 13%, #f8f8f8 66%, #ffffff 89%);
    background: -ms-linear-gradient(top, #d7e8d7 13%, #f8f8f8 66%, #ffffff 89%);
    background: linear-gradient(to bottom, #d7e8d7 13%, #f8f8f8 66%, #ffffff 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7e8d7', endColorstr='#ffffff', GradientType=0);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.contentInnerBox {
    width: 726px;
    text-align: center;
    margin-left: 7px;
    float: left;
    margin-top: 4px
}

.contentInnerBoxPagAnu {
    width: 980px;
    text-align: center;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidemenu {
    font-family: Verdana, arial;
    font-size: 12px;
    margin: 4px 8px 70px 0;
    float: right;
    display: inline;
    box-sizing: border-box;
    width: 226px;
}

.sidemenu a {
    color: #30923e;
}

.mainSideMenu, .secondarySideMenu, .sidemenuFloat {
    box-sizing: border-box;
    text-align: left;
    border: #c2dea0 1px solid;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.sidemenuFloat, .secondarySideMenu {
    margin-top: 12px;
}

.sidemenuHeader {
    background: #c2dea0;
    color: #2b442b;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
}

.sidemenuOption {
    padding: 9px 2px 9px 40px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size:11px;
}

.sidemenuOptionQuicksearch {
    padding: 0 !important;
    border: none !important;
}

.mainSideMenu .sidemenuOption {
    margin: 0;
    border-bottom: solid 1px #c2dea0;
}

.secondarySideMenu .sidemenuOption {
    padding: 9px 2px 9px 10px;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    border-bottom: solid 1px #c2dea0;
    overflow: hidden;
}

.mainSideMenu .sidemenuOption:last-child {
    border-bottom: 0;
}

.autoRenuevaBox {
    background: #c2dea0;
    color: #50545a;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-family: Verdana, arial;
    font-size: 13px;
}

.adList-autorenuevaclaimBox a {
    color: #50545a;
    font-weight: normal;
    text-decoration: none;
}

.adList-autorenuevaclaimBox span {
    color: #30923e;
    font-weight: bold;
}

.smoPostAd {
    background: #f7af33 url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -331px -141px;
}

.smoPostAd a {
    color: #FFF !important;
}

.smoEditAd {
    background: #e5f2d0 url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -332px -116px;
}

.smoHomepage {
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -327px -41px;
}

.smoFavorites {
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -332px -90px;
}

.smoAutorenew {
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -332px -65px;
}

.smoContactus {
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -330px -16px;
}

.smoMechwarranty {
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -330px -197px;
}

.smoMainCat, .smoTopsearch {
    background: #e5f2d0;
}

ol.smoTopsearch {
    padding: 0 0 0 35px;
    margin: 0;
}

ol.smoTopsearch li {
    margin: 0;
    padding: 3px 0 3px 2px;
}

ol.smoTopsearch li:first-child {
    padding-top: 15px;
}

ol.smoTopsearch li:last-child {
    padding-bottom: 15px;
}

.smoL2Cat {
    padding-left: 25px !important;
}

.smoL3Cat {
    padding-left: 40px !important;
}

.smoHighlight {
    background: #224422;
}

.sidemenuMap {
    height: 210px;
    width: 220px;
    box-sizing: border-box;
    margin: 10px 0 0 2px;
    padding: 0;
    background: transparent url(/imagenes/mapa_lateral.png) no-repeat;
}

.sidemenuMapLabel {
    text-align: center;
    display: block;
    margin: 0 auto 15px;
    padding: 2px 0 3px 0;
    background: #36a7df;
    border-radius: 8px;
    border: 0;
    color: #fff;
    width: 90%;
    text-transform: capitalize;
}

.homeSearchBoxMapLabel {
    background-color: transparent;
    border: 0 none;
    color: #30923E;
    display: block;
    margin: -29px auto 0;
    padding: 2px 0 3px;
    width: 70%;
    font-family: Verdana, arial;
    font-size: 12px;
    text-transform: capitalize;
}

.smoReportError {
    border: 2px solid #d30a52;
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -330px -168px;
}

.smoReportError a {
    color: #d30a52;
}

.smoSuggestions {
    border: 2px solid #737980;
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll -330px 11px;
}

.smoSuggestions a {
    color: #737980;
}

input.sidemenuQuicksearch {
    border: 0;
    box-sizing: border-box;
    width: 190px;
    padding: 10px 5px;
    margin: 0;
    color: #737980;
    border-radius: 0 0 0 8px;
}

.sidemenuQuicksearchBtn {
    border: 0;
    box-sizing: border-box;
    width: 34px;
    height: 37px;
    padding: 10px;
    border-radius: 0 0 8px 0;
    display: block;
    float: right;
    background: #30923e url("/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA") no-repeat scroll 6px -195px;
    cursor: pointer;
}

#busgen {
    width: 100%;
    margin: 0;
    box-sizing: border-box
}

.busli {
    vertical-align: text-top;
    margin-bottom: 13px;
}

.busli1 {
    height: 28px
}

.bus {
    overflow: visible;
    text-align: left;
    padding: 15px 5px 0 5px;
    background: #e5f2d0;
    border: 1px solid #30832F;
    border-radius: 8px 8px 0 8px
}

.buscanuncios {
    vertical-align: top;
    margin: 0;
    padding: 2px 3px 0 0;
    height: 17px;
    text-align: right;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) #FFF no-repeat scroll 584px -47px
}

.buscanuncios {
    vertical-align: top;
    margin: 0;
    padding: 1px 5px 0 0;
    height: 17px;
    text-align: right;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) #FFF no-repeat scroll 504px -47px
}

.searchAdBoxFooter {
    float: right;
    width: 30%;
    background: #30832F;
    color: #fff;
    text-align: center;

    margin: 0;
    height: 17px;

    padding: 10px;
    margin-bottom: 15px;
    border-radius: 0 0 8px 8px;

    font-family: Verdana, arial;
    font-size: 13px;
}

.searchAdBoxFooter a {
    color: #fff;
    text-decoration: none;
}

.searchAdBoxFooter a:hover {
    text-decoration: none;
}

#inmobus {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0
}

#inmobus .buscanuncios {
    padding-right: 0
}

.x10 {
    font-size: 12px;
    height: 22px;
    vertical-align: top;
    background-position: -180px -235px;
    overflow: visible;
    float: left;
    text-align: left;
    clear: both;
    width: 550px
}

.imgm {
    clip: rect(212px 166px 333px 32px);
    left: -32px;
    position: absolute;
    top: -212px;
    cursor: crosshair
}

.divm {
    height: 121px;
    position: relative;
    width: 134px
}

.pie {
    background-position: 0 -87px;
    height: 10px
}

.rutenl {
    color: #30923E;
}

#popf {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7
}

#popw {
    font-family: Verdana, arial;
    position: absolute;
    background: #e5f2d0;
    border: #fff 2px solid;
    z-index: 103;
    text-align: right;
    top: 50%;
    display: block;
    box-shadow: 0 0 15px #999;
    border-radius: 8px
}

.cerrarw {
    color: #335533;
    font-family: Verdana, arial;
    font-size: 10pt;
    text-decoration: none
}

#ifrw {
    width: 320px;
    height: 440px
}

.copyright {
    clear: both;
    margin: 15px auto;
    text-align: center;
}

.copyright a {
    color: #fff
}

.footerSup {
    color: #fff;
    text-align: center;
    font-weight: normal;
    padding: 15px 0;
    margin: 0 auto;
}

.footerSup a, .footerSup a:hover {
    background: none;
    color: #A7C28B;
}

.footerWrap {
    position: relative;
    left: 0
}

table.menulat {
    border: 0;
    padding: 0;
    width: 100%
}

td.menulat {
    font-size: 10pt;
    color: #444;
    vertical-align: top;
    text-align: justify;
    font-weight: 400;
    width: 226px;
    padding: 0;
    box-sizing: border-box
}

td.main {
    vertical-align: top;
    padding: 0 5px 0 10px
}

.footerLinksContainer {
    clear: both;
    color: #fff;;
    margin: 20px auto;
    width: 100%;
    text-align: center
}

.footerLinksContainer ul {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0
}

.footerLinks {
    display: inline-block
}

.footerLinks li {
    float: left;
    padding-bottom: 1px
}

.footerLinksContainer a {
    color: #e4f2cf;;
    background: none
}

.logoSchibsted {
    width: 42px;
    height: 42px;
    float: left;
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat -155px -156px transparent;
    overflow: hidden
}

.oculto {
    display: none;
}

body.adbmsg::before {
    content: 'Si usa bloqueadores como Adblock o similares, podría tener problemas para visualizar la página';
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.btn{float:left;width:180px;color:#557755;font-weight:bold; text-align:center; font-size:11px; padding: 5px; border-radius: 8px; border:0;line-height: 32px; margin-right: 3px; cursor: pointer; height: 43px;}
.btn{float:left;width:180px;color:#557755;font-weight:bold; text-align:center; font-size:12px; padding: 5px; border-radius: 8px; border:0;line-height: 32px; margin-right: 3px; cursor: pointer; height: 43px;}
.btnHeader {height: 30px; line-height: 20px; padding-top: 5px;}
.btnHeader::before{margin-top: 2px !important;}
.btnPTA{color: #fff; background-color: #f7af33;}
.btnMOD, .btnFAV, .btnDES{color: #000; background-color: #c2dea0;}
.btnMODHeader{color: #30923E; background-color: transparent;}
.searchInputHeader{float: left; border: 1px solid #aaa; border-radius: 8px 0 0 8px; padding: 3px 3px 3px 6px; height: 22px; width: 170px}
.searchButtonHeader{float: left; border: none; background-color: #30923E; color: #fff; font-size: 14px; margin-left: 5px; height: 30px; padding: 3px; border-radius: 0 8px 8px 0; width: 110px}
.faq { color: #000;font-family: Verdana, arial; font-size: 14px !important; }
.faq > h1{ font-family: Verdana, arial; text-transform: none; font-weight: 600; font-size: 24px;}
.faqLinks{  color: #30923E; }
.faqLinks > div { padding: 20px 0 20px 20px; border-bottom: 1px solid #c2dea0; font-size: 14px; width: 100%; }
.faqLinks > div:first-child{ border-top: 1px solid #c2dea0; }
.faqLinks > div:hover{ background-color: #E5F2D0; cursor: pointer; }
.faqWhy { font-family: Verdana, arial; color: #30923E; font-size: 22px; font-weight: 600; }

.btn {
    float: left;
    width: 180px;
    color: #557755;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    padding: 5px;
    border-radius: 8px;
    border: 0;
    line-height: 32px;
    margin-right: 3px;
    cursor: pointer;
    height: 43px;
}

.btnHeader {
    height: 30px;
    line-height: 20px;
    padding-top: 5px;
}

.btnHeader::before {
    margin-top: 2px !important;
}

.btnPTA {
    color: #fff;
    background-color: #f7af33;
}

.btnMOD, .btnFAV, .btnDES {
    color: #000;
    background-color: #c2dea0;
}

.btnMODHeader {
    color: #30923E;
    background-color: transparent;
}

.btnSpanImg::before {
    content: "";
    margin-right: 12px;
    background-image: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.btnPTAspan::before {
    background-position: -344px -152px;
}

.btnMODspan::before {
    background-position: -345px -126px;
}

.btnFAVspan::before {
    background-position: -345px -99px;
}

.btnDESspan::before {
    background-position: -345px -74px;
}

.searchInputHeader {
    float: left;
    border: 1px solid #aaa;
    border-radius: 8px 0 0 8px;
    padding: 3px 3px 3px 6px;
    height: 22px;
    width: 170px
}

.searchButtonHeader {
    float: left;
    border: none;
    background-color: #30923E;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    height: 30px;
    padding: 3px;
    border-radius: 0 8px 8px 0;
    width: 110px
}

.faq {
    color: #000;
    font-family: Verdana, arial;
    font-size: 14px !important;
}

.faq > h1 {
    font-family: Verdana, arial;
    text-transform: none;
    font-weight: 600;
    font-size: 24px;
}

.faqLinks {
    color: #30923E;
}

.faqLinks > div {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #c2dea0;
    font-size: 14px;
    width: 100%;
}

.faqLinks > div:first-child {
    border-top: 1px solid #c2dea0;
}

.faqLinks > div:hover {
    background-color: #E5F2D0;
    cursor: pointer;
}

.faqWhy {
    font-family: Verdana, arial;
    color: #30923E;
    font-size: 22px;
    font-weight: 600;
}

.pagAnuReportButtonText::before {
    width: 16px;
    height: 16px;
    background-image: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA);
    background-repeat: no-repeat;
    background-position: -104px -75px;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.pagAnuTituloBox {
    font-size: 24px;
    text-align: left;
    color: #0B3F07;
    overflow: hidden;
    width: 74%;
    display: inline-block;
    vertical-align: middle;
}

.pagAnuSubtitle {
    display: inline-block;
    width: 93%;
    vertical-align: middle;
    text-align: left;
}

.pagAnuSubtitle > div {
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: left;
}

.pagAnuPrecioTexto {
    color: #ce1555;
}

.pagAnuPrecioTexto > sup {
    vertical-align: baseline;
    position: relative;
    top: -3px;
}

.pagAnuPrecioBox {
    font-size: 24px;
    text-align: right;
    font-weight: 600;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.pagAnuAdType {
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding-top: 3px;
    margin-right: 5px;
}

.pagAnuCatLoc {
    float: left;
    padding-top: 3px;
}

.pagAnuRightColumn {
    float: right;
    width: 290px;
    margin-right: 5px;
    font-family: Verdana, arial;
}

.pillSellerTypePro {
    background-color: #96031E;
    color: #fff;
}

.pillSellerTypePriv {
    background-color: #0098DD;
    color: #fff;
}

.pagAnuAttsAnuBox {
    text-align: left;
    width: 74%;
    display: inline-block;
    vertical-align: middle;
}

.pagAnuContact {
    border-radius: 10px;
    border: 0;
    background-color: #c2dea0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#pagAnuContactAnuAd {
    float: left;
    clear: both;
    margin-bottom: 15px;
}

.pagAnuMainColumn {
    width: 100%;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    max-width: 640px;
    font-family: Verdana, arial;
    text-align: left;
}

a.fillDiv {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.searchAdBoxContainer {
    float: left;
    padding-left: 3px;
    width: 100%;
}

.searchAdBoxItemForTwo {
    width: 48%;
    float: left;
    padding: 6px 6px 6px 0;
}

.searchAdBoxItemForThree {
    width: 31%;
    float: left;
    padding: 6px 12px 6px 0;
}

.searchAdBoxItemForFour {
    width: 24%;
    float: left;
    padding: 6px 6px 6px 0;
}

.searchAdBoxContainer select {
    width: 100%;
}

.filtro .searchAdBoxContainer {
    line-height: 0;
}

.bus .searchAdBoxContainer .buscador-precio input {
    width: 100%;
    padding: 6px;
}

.searchAdBoxContainer .imputs {
    width: 100%;
}

.searchAdBox-table-container {
    display: table;
    margin: 0 auto;
    width: 100%;
}

.searchAdBox-table-container .full-width {
    width: 100%;
}

.searchAdBox-table-row {
    display: table-row;
}

.searchAdBox-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    width: 1000000px;
}

.search-field-range {
    width: 90%;
}

.search-field-range.right {
    float: right;
}

.search-field-range.left {
    float: left;
}

.buscador-precio {
    width: 90%;
    margin-left: 3px;
}

.buscador-precio.right {
    float: right;
}

.buscador-precio.left {
    float: left;
}

.buscador-precio input.right {
    float: right;
}

.buscador-precio input.left {
    float: left;
}

.expforDescription {
    float: left;
    width: 67%;
}

.expforDate {
    color: #999;
    float: right;
    font-style: italic;
    width: 33%;
    text-align: right;
    font-size: 12px;
}

.expforExpItem {
    width: 600px;
}

.expforBox > ul {
    list-style: none;
}

.expforBox > ul > li {
    padding-bottom: 20px;
    overflow: hidden;
}

ul.expforIdiomas li {
    width: 225px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis
}

.expforImg {
    margin-right: 15px;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat;
}

.expforImgPics {
    background-position: -91px -248px;
}

.expforImgExp {
    background-position: -108px -250px;
}

.expforImgLang {
    background-position: -68px -250px;
    width: 22px;
}

.expforImgAcademic {
    background-position: -45px -252px;
    width: 22px;
}

.adlist-tagsbox-blockline {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
}

.adlist-tagsbox-blockline .pillDiv {
    font-size: 11px !important;
    padding: 3px 7px;
    margin: 0 8px 0 0;
}

.adlist-tagsbox-blockline .pillSellerTypePro {
    background-color: #ce1555;
}

.adlist-tagsbox-inlineblockline .vef, .adlist-tagsbox-blockline .vef, .adlist-tagsbox-inlineblockline .vem, .adlist-tagsbox-blockline .vem {
    text-transform: uppercase;
    background: #c2dea0;
    border-color: #c2dea0;
    color: #30923e;
    padding: 3px 10px;
    font-size: 11px;
    line-height: 1.4;
    font-weight: normal;
}

.adlist-tagsbox-inlineblockline {
    clear: both;
    display: table;
    margin: 0 0 8px 0;
    padding-top: 8px;
    width: 100%;
}

.adlist-tagsbox-inlineblockline .aditem-price, .adlist-tagsbox-blockline .aditem-price {
    display: block;
    color: #ce1555;
    font-weight: bold;
    float: left;
    font-size: 20px;
    margin: 0 8px 0 0;
    padding: 0;
    line-height: 1;
}

.adlist-tagsbox-inlineblockline .aditem-price sup, .adlist-tagsbox-blockline .aditem-price sup {
    margin: 0 0 0 1px;
    line-height: 1;
    font-size: 13px;
}

.aditem {
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #E1E4E7;
    font-family: Verdana, arial;
    text-align: left;
}

.aditem * {
    box-sizing: border-box;
}

.aditem > * {
    overflow: hidden;
}

.aditem > .aditem-header {
    padding: 2px 15px;
    background-color: #F9F9F9;
    border-bottom: solid 1px #E1E4E7;
    float: left;
    width: 100%;
}

.aditem > .aditem-header .x3, .aditem > .aditem-header .x6 {
    color: #556955;
    font-weight: 600;
}

.aditem > .aditem-header .x6 a.highlighted-title {
    color: #D34A7A;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
}

.aditem > .aditem-header .x4, .aditem > .aditem-header .x5 a {
    color: #80868D;
}

.aditem > .aditem-detail-image-container {
    width: 100%;
}

.aditem > .aditem-detail-image-container > .aditem-detail {
    padding: 5px 15px;
    position: relative;
    float: left;
    width: 75%;
}

.aditem > .aditem-detail-image-container > .aditem-image {
    width: 25%;
    float: left;
    text-align: right;
}

.aditem > .aditem-detail-image-container > .aditem-image a {
    display: block;
    position: relative;
}

.aditem > .aditem-detail-image-container > .aditem-image img {
    max-width: 100%;
}

.aditem > .aditem-detail-container {
    width: 100%;
}

.aditem > .aditem-detail-container > .aditem-detail {
    padding: 5px 15px;
    position: relative;
}

.aditem > .aditem-footer {
    padding: 6px 15px;
    background-color: #F9F9F9;
    border-top: solid 1px #E1E4E7;
    width: 100%;
}

.aditem .eso-container {
    position: absolute;
    top: 5px;
    right: 15px;
}

.aditem .aditem-detail-title {
    font-size: 18px;
    color: #669966;
}

.display-table {
    display: table;
}

.full {
    width: 100%;
}

.center {
    text-align: center;
}

.display-table > div {
    display: table-cell;
}

.aditem-buttons {
    display: table;
    width: inherit;
}

.aditem-buttons > div {
    display: table-cell;
}

.icon {
    background: transparent url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) no-repeat scroll 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.icon-trash {
    background-position: -261px -394px;
}

.icon-pencil {
    width: 16px;
    height: 16px;
    background-position: -344px -152px;
}

.icon-white-envelope {
    background-position: -113px -192px;
}

.icon-white-phone {
    background-position: -134px -193px;
}

.icon-share {
    background-position: -36px -193px;
}

.icon-favourite {
    background-position: -94px -192px;
}

.icon-stats {
    background-position: -75px -193px;
}

.icon-complaint {
    background-position: -56px -193px;
}

.icon-renew {
    background-position: -161px -250px;
}

.icon-photos {
    background-position: -206px -250px;
}

.icon-message {
    background-position: -136px -250px;
    width: 21px;
}

.icon-map, .icon-pencil {
    background-position: -182px -251px;
    width: 22px;
    height: 18px;
}

.icon-map {
    background-position: -226px -394px;
    width: 15px;
}

.icon-favourite-fill {
    background-position: -346px -98px;
}

.highlighted-button {
    border-radius: 5px;
    padding: 2px 15px;
    background: #30923E;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border: solid 1px transparent;
    white-space: nowrap;
    text-decoration: none !important;
}

.simple-button:hover, .highlighted-button:hover {
    color: black;
    text-decoration: none !important;
}

.highlighted-button :last-child {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.simple-button {
    border-radius: 5px;
    padding: 2px 5px;
    background: transparent;
    display: inline-block;
    color: #30923E;
    text-transform: uppercase;
    border: solid 1px transparent;
    white-space: nowrap;
}

.simple-button:hover {
    color: black;
}

.simple-button :first-child {
    display: inline-block;
    vertical-align: middle;
}

.simple-button :last-child {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.mini-overlay-superior {
    position: absolute;
    top: 9px;
    right: 0;
    background: #2A3C26;
    color: lightgray;
    padding: 2px 3px;
}

.palabras {
    width: 573px;
    margin-bottom: 5px;
    background-image: none;
}

.adlist-paginator-box {
    display: block;
    text-align: center;
    margin: 65px 0 50px 0;
}

.adlist-paginator-summary {
    text-transform: uppercase;
    color: #30923e;
    margin: 15px 0;
}

.adlist-paginator-pageabbreviation a {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.adlist-paginator-pageabbreviation a:after {
    content: "...";
}

.adlist-paginator-pageselected a {
    background: #e5f2d0 !important;
}

.adlist-paginator-pagelink {
    display: inline-block;
    text-align: center;
    margin: 0 9px 0 0;
}

.adlist-paginator-pagelink a {
    background: #fff;
    border: 1px solid #c2dea0;
    border-radius: 8px;
    padding: 3px 8px;
    box-sizing: border-box;
}

.goTop {
    width: 42px;
    height: 42px;
    background-color: transparent;
    background-image: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA);
    background-repeat: no-repeat;
    background-position: -1px -233px;
    float: right;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
    outline: 0;
}

.icon-flag-1 {
    background-position: -45px -366px;
    width: 41px;
    height: 22px;
}

.icon-flag-2 {
    background-position: -131px -366px;
    width: 41px;
    height: 22px;
}

.icon-flag-3 {
    background-position: -2px -366px;
    width: 41px;
    height: 22px;
}

.icon-flag-4 {
    background-position: -217px -366px;
    width: 41px;
    height: 22px;
}

.icon-flag-5 {
    background-position: -174px -366px;
    width: 41px;
    height: 22px;
}

.icon-flag-6 {
    background-position: -88px -366px;
    width: 41px;
    height: 22px;
}

.icon-flag-7 {
    background-position: -260px -366px;
    width: 41px;
    height: 22px;
}

.popularSearch {
    float: left;
    width: 100%;
    background-color: #e4f2cf;
    padding: 15px;
    box-sizing: border-box;
    clear: both;
    margin-top: 10px;
}

.colPalMasBus {
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
}

.meca {
    font-size: 14px;
    color: #0B3F07;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
}

.popularSearchWrapper {
    overflow: auto;
    margin: auto;
    left: 0;
    right: 0;
    position: relative;
}

.popularSearchWrapperCols {
    padding-left: 10%;
}

.inmo-attributes {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}

.goBackButton {
    background-color: #fff;
    border: 1px solid #30923e;
    border-radius: 5px;
    color: #30923e;
    cursor: pointer;
    display: block;
    font-family: Verdana, arial;
    font-size: 13px;
    height: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
}

.goBackButton:hover {
    background-color: #30923e;
    color: #fff;
}

.goBackButton:hover a {
    background-color: #30923e;
    color: #fff;
    text-decoration: none;
}

/* Detail styles */
.pagAnuRefBox {
    margin: 15px 167px 0 5px;
    text-align: left;
    background-color: #E0F0E0;
    height: 20px;
    border-top: 1px solid #B4D4B6;
    border-bottom: 1px solid #B4D4B6;
    padding: 2px 5px 0 5px;
    font-size: 12px
}

.anuRefBox {
    display: inline;
    font-size: 11px
}

.anuDemanda {
    display: inline;
    margin: 0 10px 0 5px
}

.anuTitulo {
    display: inline
}

.anuFecha {
    display: inline;
    float: right;
    font-weight: bold
}

.pagAnuTituloBox > a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagAnuTituloBox > a:hover{
    text-decoration: none;
    color: #0B3F07;
}

.pagAnuFav{
    display: inline-block;
    width: 6%;
    vertical-align: middle;
    text-align: right;
}

.pagAnuFavButton {
    border: 0;
    background: transparent;
    cursor: pointer;
    width: auto;
    padding: 0;
}

.pagAnuFavButton:focus {
    outline: 0;
}

.pagAnuFavButtonOn::before {
    width:28px;
    height:26px;
    background-image: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA);
    background-repeat: no-repeat; background-position: -238px -5px;
    content:"";
    display: block;
    position: relative;
    z-index: 15;
}

.pagAnuFavButtonOff::before {
    width:28px;
    height:26px;
    background-image: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA);
    background-repeat: no-repeat;
    background-position: -271px -38px;
    content:"";
    display: block;
    position: relative;
    z-index: 10;
}
.pagAnuDatosBox {
    text-align: center;
    margin: 0 0 15px 0;
    clear: both;
}

.pagAnuDatosSeparator {
    clear: both;
}

.pagAnuCuerpoAnu {
    font-size: 14px;
    text-align: left;
    margin: 10px 0 30px;
    font-family: verdana, arial;
    color: #3c3c3c;
}

.pagAnuFotoBox {
    clear: both
}

.pagAnuFoto {
    text-align: center;
    margin: 5px 0;
    display: inline-block
}

.pagAnuStatsAnuBox {
    width: 160px;
    text-align: left;
    float: right;
    padding-bottom: 10px;
    margin: 0 0 10px 10px;
    border: 2px solid #E6F1E6;
    border-radius: 5px;
    background-color: #f8fff8
}

.pagAnuStatsAnu {
    margin: 0;
    font-size: 11px
}

.pagAnuMoreSt {
    text-align: center;
    padding: 15px 0 0 0;
    font-size: 11px
}

.pagAnuContactAnuBox {
    clear: both;
    padding: 10px 0 10px 10px;
    text-align: left
}

.pagAnuContactAnuBox div {
    display: inline-block
}

.pagAnuContactAnuBox .pagAnuContactAnu {
    margin-right: 10px
}

.pagAnuContactAnuBox .pagAnuContactAnuTienda, .pagAnuContactAnuBox .pagAnuContactAnuUsuario {
    text-align: right;
    width: 260px;
    font-weight: bold;
    display: inline-block
}

.pagAnuContactAnu .i6, .pagAnuContactAnu .i1, .pagAnuContactAnu .i3, .pagAnuContactAnu .i4, .pagAnuContactAnu .i5 {
    margin-right: 5px
}

.pagAnuStatsAnu .dato {
    padding: 0 0 0 10px
}

.pagAnuStatsAnu .stats {
    color: #538053;
    text-shadow: 2px 2px 2px #99dd99;
    margin-right: 10px;
    text-align: right
}

.pagAnuGraph {
    width: 160px;
    height: 95px;
    overflow: hidden;
    margin: 0 auto
}

.chart_div {
    width: 160px;
    height: 100px
}

.boton, .boton2 {
    border: 1px solid #495749;
    border-radius: 5px;
    padding: 0 0 1px 3px;
    margin: 0 0 0 2px
}

.boton2 {
    border: 1px solid #862e1f;
    background: #862e1f
}

.boton a, .boton2 a {
    color: #FFF;
    font-weight: bold;
    font-size: 10px
}

.boton img, .boton2 img {
    margin-bottom: 2px
}

.botonultimo {
    padding-right: 4px
}

.pagAnuSecondRow {
    margin-top: 10px;
    overflow: hidden;
}

.paganulastrow{
    width: 100%;
    margin: 0 auto;
}


.pagAnuContactNombre {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    margin: auto;
    text-align: left;
}

.pagAnuContactButton {
    font-size: 12px;
    font-weight: 600;
    background-color: #30923E;
    border: 0px;
    border-radius: 8px;
    width: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 5px 0;
    cursor: pointer;
    margin-top: 10px;
}

.pagAnuContactMoreAds > a:hover {
    text-decoration: none;
    float: right;
}

.pagAnuContactMoreAds > a {
    color: #30923E;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    float: right;
}

.pagAnuContactSellerType {
    width: 100px;
    text-align: left;
    float: left;
    font-size: 10px;
    font-weight: 600;
    margin-top: 2px;
}

.pagAnuContactSellerTypePro {
    color: #96031E;
}

.pagAnuContactSellerTypePriv {
    color: #4A90E2;
}

.pagAnuReportButton {
    border: 2px solid #ce1555;
    border-radius: 10px;
    background-color: transparent;
    color: #ce1555;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    line-height: 18px;
}

.pagAnuStats {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #E5F2D0;
    padding: 25px;
}

.pagAnuMoreSt {
    font-family: "Open Sans", Verdana;
    text-transform: uppercase;
    font-weight: 600;
    clear: both;

}

.pagAnuStatsTitle{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #30923E;
    width: auto;
    text-align: left;
    float:left;
    margin-bottom: 10px;
}

.pagAnuStatsCreated {
    float: right;
    color: #000;
    font-weight: bold;
}

.pagAnuStatsRow {
    width: 100%;
}

.paganuStatsColLeft{
    float: left;
    width: 50%;
    clear: left;
    margin-top: 10px;
}

.paganuStatsColRight{
    float: right;
    width: 50%;
    clear: right;
    margin-top:10px;
}

.pagAnuStatsData {
    font-weight: 600;
    color: #30923E;
    font-size: 18px;
    text-align: left;
}

.pagAnuStatsDataLabel {
    text-align: left;
    color: #50555A;
    font-size: 12px;
    margin-top: 5px;
}

.pagAnuContactInput {
    width: 255px;
    border: 0;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
    margin-top: 10px;
}

.pagAnuContactInput[placeholder]{
    font-family: "Open Sans", Verdana;
    color: #50555A;
    font-size: 12px;
}
.pagAnuContactForm {
    display: none;
    -webkit-transition: all 2s ease-in; /* Safari */
    transition: all 2s ease-in;
}

.pagAnuSocialBox {
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #F9F9F9;
    border:0;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.pagAnuSocialTitle{
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 15px;
    width: 100%;
}

.pagAnuSocialTable{
    display: table;
    width: 60%;
    table-layout: fixed;
    align-content: center;
    left: 0;
    right: 0;
    position: relative;
    margin: auto;
}

.pagAnuSocialRowWrapper{
    display: table-row;
}

.pagAnuSocialIconsCellWrapper {
    display: table-cell;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.socialButton{
    background: url('/imagenes/socialIcons.png') no-repeat transparent 0 0;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
}

.socialButtonTwitter{
    background-position: 0 0px !important;
}

.socialButtonFacebook{
    background-position: 0 -128px !important;
}

.socialButtonGoogleplus{
    background-position: 0 -96px !important;
}

.socialButtonEmail{
    background-position: 0 -64px !important;
}

.socialButtonPinterest{
    background-position: 0 -32px !important;
}

.expforBox {
    text-align: left;
    color: #415c3d;
}

.expforSummary {
    font-size: 18px;
    border-bottom: 1px solid #7c9d80;
    font-weight: bold;
    text-transform: uppercase;
}
.pagAnuFoto img {
    max-width: 600px
}

.pagAnuDatosBox {
    width: 100%
}

ul.expforIdiomas {
    float: left;
    list-style: none
}

.pagAnuStatsAnuBox {
    float: none;
    clear: both;
    width: auto;
    margin: 0
}

ul.expforIdiomas b {
    margin-right: 10px;
    color: #415c3d
}
.pagAnuStatsAnu {
    background: none;
    float: none;
    height: auto;
    width: auto
}

br.expforIdiomas {
    clear: both
}
.pagAnuStatsAnu .stats {
    margin: 0;
    display: block;
    text-align: left
}

.pagAnuStatsAnu .dato {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 0 2px;
    border-right: 1px solid #CCC
}

.pagAnuStatsAnu .dato:last-child {
    padding: 0;
    border: none
}

.pagAnuGraph, .chart_div {
    width: 560px;
    height: 200px
}

.pagAnuMoreSt {
    font-size: 12px
}

.integration-box {
    text-align: center;
    padding: 30px 0px 5px 0px;
}

.integration-box * {
    vertical-align: middle;
}

.integration-box span {
    font-size: 16px;
    color: #3c3c3c;
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.integration-button {
    display: inline-block;
    padding: 3px 5px;
    color: #3c3c3c;
    background-color: #c2dea0;
    border-radius: 5px;
    border: solid 1px #acc48f;
    font-size: 15px;
}

.default-margin-t {
    margin-top: 10px;
}

.default-margin-b {
    margin-bottom: 10px;
}

.default-margin-l {
    margin-left: 10px;
}

.default-margin-r {
    margin-right: 10px;
}

.map-container {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    text-align: right;
}

.map-button {
    color: #555;
    margin: 0;
    background: url(/imagenes/sprite9.png?versionId=pLWLWhuRPDNZEoDGghX_G2rurEPzUjQA) transparent center;
    background-position: -5px -478px;
    padding: 8px;
    font-size: 10px;
    border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: solid 2px #30923E;
}

.map-button:hover {
    text-decoration: none;
}

.map-button span {
    margin-left: 5px;
}

.graphic-attributes-container {
    margin: 15px 0;
    text-align: right;
}
input::-moz-placeholder {
    opacity: 1;
    color: #9199A1;
}

input:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
    color: #9199A1;
}

input::-webkit-input-placeholder {
    opacity: 1;
    color: #9199A1;
}

input:-ms-input-placeholder {
    opacity: 1;
    color: #9199A1;
}
