@charset "utf-8";
/* CSS Document */

.footer{/*width:960px;*/margin-top:30px;text-align:center;line-height:23px;padding-bottom:90px;color:#818181;}
.footer .hot img{float:left;}
.footer p{line-height:normal;height:23px;}
.footer p span.hot_btn{ display:block; background:url(../images/hot_btn.png) no-repeat; width:22px; height:14px; position:absolute; top:-14px; left:27px;}
.footer a{margin:0 11px;color:#818181; position:relative; cursor:pointer;}
.footer a:hover{ text-decoration:underline;}
.footer img{vertical-align:middle; display:inline-block;}



