@charset "utf-8";
/* CSS Document */
/* reset */
html, body, header, footer, nav, article, section, aside, time, code, div, p, ul, ol, li, dl, dd, dt, h1, h2, h3, a, span, strong, em, small, form, label, input, select, textarea {
    margin: 0;
    padding: 0;
	/*behavior: url("css/csshover.htc");*/
}
article, aside, audio, footer, header, nav, section, video { display: block }
:focus { outline: 0; }
/**{ margin:0; padding:0;}*/
body{ background:#fff; font-size:12px; font-family:"微软雅黑"; _font-family:"宋体";}
em,i{font-style:normal;}
ol,ul{ list-style:none;}
a{ text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur());}/*直接写在链接里<a href="#" onfocus=this.blur();>链接标题</a>也行*/
img{ border:none; display:block;}

.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:"."; display:block; clear:both; height:0; overflow:hidden;}
.clearfix{ zoom:1;}

.wrapper{ width:1010px; margin:0 auto;}