﻿@charset "utf-8";
/* CSS Document */

.box{ background:url(../images/all_bj.png) repeat-x; width:100%;
    min-width:1010px;
    position:relative;
    _width: expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 1010? '1010px' : 'auto'); }

/*头部*/
.header{ padding:15px 0;margin-bottom:-40px; color:#444;}
.header .flash{ padding-left:40px;}*/
.header .action{ margin-top:-8px;}
.header .login{ padding-top:7px; padding-right:4px;}
/*.header .login{ padding-top:7px; padding-right:4px; width:164px;}*/
.header .login span{ display:block; color:#ae2500; line-height:24px;}
.header ul li{ float:left; line-height:24px; margin-right:6px; display:inline; color:#444;} 
.header ul li>a{ color:#444;}
.header ul li a:hover{ text-decoration:underline;}
.header ul li.down_dw{ position:relative; background:url(../images/small_s.png) no-repeat right center; padding-right:20px;}
.header ul li .down_menu{ background:url(../images/down_bj.png) no-repeat; width:96px; height:90px; overflow:hidden; position:absolute; left:0; top:25px; padding-top:10px;}
.header ul li .down_menu a{ display:block; line-height:20px; color:#999; padding-left:14px;}

/*logo*/
.logo{ width:360px; height:110px; overflow:hidden; margin:36px auto 0px;}
.logo .logo_chid{ margin-right:15px; display:inline; position:relative; width:239px; height:110px; overflow:hidden;}
.logo .logo_chid a img{/* padding-top:19px;*/}
.logo .access{ margin-top:52px;}
.logo .access a{ display:block; background:url(../images/inp.png) no-repeat; width:101px; height:26px; line-height:26px; overflow:hidden; text-align:center; color:#666; margin-bottom:6px;}
.logo .access a:hover{ text-decoration:underline;}

/*list*/
.list{ margin-top:51px;}
.list dl{ float:left; margin-right:10px; display:inline; width:50px;}
.list dl.current{ margin-right:0;}
.list dl dt{ position:relative; background:#fff;}
.list dl dt a{ display:block; width:50px; height:56px; padding-top:4px; background:#fff;}
.list dl dt a.hover{ background:url(../images/icons_one.png) no-repeat;}
.list dl dt.list1 a.hover{ background:url(../images/icons_one.png) no-repeat; background-position:0 0px; width:50px;}
.list dl dt.list2 a.hover{ background:url(../images/icons_one.png) no-repeat; background-position:-52px 0px; width:50px;}
.list dl dt.list3 a.hover{ background-position:-104px 0px; width:50px;}
.list dl dt.list4 a.hover{ background-position:-156px 0px; width:50px;}
.list dl dt.list5 a.hover{ background-position:-208px 0px; width:50px;}
.list dl dt.list6 a.hover{ background-position:-260px 0px; width:50px;}
.list dl dt.list7 a.hover{ background-position:-312px 0px; width:50px;}
.list dl dt.list8 a.hover{ background-position:-364px 0px; width:50px;}
.list dl dt.list9 a.hover{ background-position:-416px 0px; width:50px;}
.list dl dt.list10 a.hover{ background-position:-468px 0px; width:50px;}
.list dl dt.list11 a.hover{ background-position:-520px 0px; width:50px;}
.list dl dt.list12 a.hover{ background-position:-572px 0px; width:50px;}
.list dl dt.list13 a.hover{ background-position:-624px 0px; width:50px;}
.list dl dt.list14 a.hover{ background-position:-676px 0px; width:50px;}
.list dl dt.list15 a.hover{ background-position:-728px 0px; width:50px;}
.list dl dt.list16 a.hover{ background-position:-780px 0px; width:50px;}
.list dl dt.list17 a.hover{ background-position:-832px 0px; width:50px;}
.list dl dt.list18 a.hover{ background-position:-884px 0px; width:50px;}
.list dl dt.list19 a.hover{ background-position:-936px 0px; width:50px;}
.list dl dt.list20 a.hover{ background-position:-988px 0px; width:50px;}
.list dl dt.list21 a.hover{ background-position:-1040px 0px; width:50px;}
.list dl dt.list24 a.hover{ background-position:-1092px 0px; width:50px;}
/*ddd*/
.list dl dd a{ font-size:14px; color:#666; font-weight:bold; display:block; height:22px; line-height:22px; overflow:hidden;}
.list dl dd a:hover{ color:#fff; display:block; background:url(../images/orange_bj.png) no-repeat; width:50px; height:22px; line-height:22px; overflow:hidden;}
.list dl dd a.color:hover{ color:#fff;}

.hot1 span{ display:block; background:url(../images/hot1.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot2 span{ display:block; background:url(../images/hot2.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot3 span{ display:block; background:url(../images/hot3.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot4 span{ display:block; background:url(../images/hot4.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot5 span{ display:block; background:url(../images/hot5.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot6 span{ display:block; background:url(../images/hot6.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot7 span{ display:block; background:url(../images/hot7.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot8 span{ display:block; background:url(../images/hot8.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot9 span{ display:block; background:url(../images/hot9.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot10 span{ display:block; background:url(../images/hot10.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot11 span{ display:block; background:url(../images/hot11.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.hot12 span{ display:block; background:url(../images/hot12.gif) no-repeat; width:60px; height:24px; position:absolute; top:-22px; right:-17px;}
.list dl dd{ text-align:center; padding-top:10px;}

.list dl dd a.color{ color:#212121;}
#sid1s-button{ width:183px; float:left;margin-right:12px;display:inline; background:#fff; border-radius:0; border:1px solid #abaaaa; height:38px; line-height:38px;}
#mid-button{ width:166px; float:left;margin-right:12px;display:inline; background:#fff; border-radius:0; border:1px solid #abaaaa; height:38px; line-height:38px;}
/*content*/
.content{ margin-top:20px; width:1010px;}
.content1{ background-color:#EFF0F0; border-radius:15px;/*background:url(../images/big_bj.png) no-repeat;*/ width:970px; height:116px; padding:0 20px; margin-bottom: 20px; position: relative;}
.content span.dw_l{ display:block; background:url(../images/dw_l.png) no-repeat; width:9px; height:115px; overflow:hidden; position:absolute; left:0; top:0;}
.content span.dw_r{ display:block; background:url(../images/dw_r.png) no-repeat; width:9px; height:115px; overflow:hidden; position:absolute; right:0; top:0;}
.content1 span.touying{ display:block; background:url(../images/touying.png) no-repeat; width:992px; height:13px; overflow:hidden;position:absolute; left:9px; bottom:-13px;}
.sheet{ margin-top:19px;}
/*.sheet select.selt_1,.sheet select.selt_2{ height:38px; line-height:38px; border:1px solid #dfdede; background:#fff; padding-left:10px; font-size:14px; color:#666; margin-right:8px; display:inline;}*/
.sheet select.selt_1{ width:213px; height:40px; line-height:40px; float:left;margin-right:12px;*margin-right:8px;_margin-right:8px;display:inline; border:1px solid #dfdede; background:#fff; font-size:14px; color:#666;}
/*.sheet select.selt_2{ width:166px;}*/
#mid{ width:191px; height:40px; line-height:40px; float:left;margin-right:12px;*margin-right:8px;_margin-right:8px;display:inline; border:1px solid #dfdede; background:#fff; padding-left:10px; font-size:14px; color:#666;}
.sheet input.inp_1{ float:left; width:282px; border:1px solid #F3B37E; height:38px; line-height:38px; background:#fff; padding-left:5px; font-size:14px; color:#999; margin-right:7px;_margin-right:7px; *margin-right:7px; display:inline; _width:280px; font-family:"微软雅黑"; position: relative; }
.sheet input.inp_2{ /*background:url(../images/search_bj.png) no-repeat;*/ background-color: #DF0100; color: #fff; border-radius: 5px;behavior:url(ie-css3.htc); width:120px; height:40px; line-height:40px; overflow:hidden; font-size:15px;  font-weight:bold; border:none; text-indent:25px;/* margin-right:14px; *margin-right:14px;_margin-right:14px;*/cursor:pointer; display:inline; font-family:"微软雅黑";}

.sheet input.inp_2:hover{ text-decoration:underline; background-color: #D64646;}
.content1_top a.brand{ /*background:url(../images/brand_bj.png) no-repeat;*/   background-color:#F38121; color: #fff; border-radius: 5px;behavior:url(ie-css3.htc); width:120px; height:40px; line-height:40px; overflow:hidden; font-size:15px;  font-weight:bold; text-indent:40px; margin-top:19px;}
.content1_top a.brand:hover{ text-decoration:underline; background-color: #F0954B;}

.content1_btn{ margin-top:14px;}
.content1_btn .yd_new{ color:#666; font-size:12px; height:30px; line-height:30px; padding-left:32px; background:url(../images/ydy_search_small1.png) no-repeat 2px -2px;}
.content1_btn .yd_new span{ color:#ff8500; font-weight:bold; padding:0 8px;/* text-decoration:underline;*/}
.content1_btn .yd_l{ height:30px; line-height:30px; font-size:12px; color:#666; background:url(../images/ydy_search_small2.png) no-repeat -5px -2px; padding-left:24px; margin-left:43px; display:inline;}
.content1_btn .yd_l span{ font-weight:bold; color:#ff8500;/* text-decoration:underline;*/ padding:0 8px;}
.content1_btn ul.yd_r{ background:url(../images/ydy_search_small3.png) no-repeat -8px -2px; height:30px; line-height:30px; overflow:hidden; padding-left:20px; display:inline; _width:390px;}
.content1_btn ul.yd_r li{ font-size:12px; color:#666;}
.content1_btn ul.yd_r li.li_right{ width:269px; text-align:center;height:25px;}
.content1_btn ul.yd_r li>span{ color:#ff8500; font-weight:bold;/* text-decoration:underline;*/}
.content1_btn ul.yd_r li a{ color:#666;} 
/*.content1_btn ul.yd_r li a:hover{ text-decoration:underline;}*/
#yhgg{ width:267px; vertical-align:top; text-align:left;}
#yhgg a span{ padding-left:5px;}

.content2{ margin-top:10px;}
.content2 ul{ margin-left:5px;}
.content2 ul li{ float:left; width:71px; height:30px; line-height:30px; border:1px solid #dedede; margin-left:6px; display:inline;}
.content2 ul li.icon_box1{ margin-left:0;}
.content2 ul li.icon_box1 a{ background:url(../images/icons_box1.png) no-repeat 8px 6px; text-indent:38px;display:block;}
.content2 ul li.icon_box2 a{ background:url(../images/icons_box2.png) no-repeat 12px 6px; text-indent:36px;display:block;}
.content2 ul li.icon_box3 a{ background:url(../images/icons_box3.png) no-repeat 10px 6px; text-indent:36px;display:block;}
.content2 ul li.icon_box4 a{ background:url(../images/icons_box4.png) no-repeat 8px 6px; text-indent:32px;display:block;}
.content2 ul li.icon_box5 a{ background:url(../images/icons_box5.png) no-repeat 10px 6px; text-indent:36px;display:block;}
.content2 ul li.icon_box6 a{ background:url(../images/icons_box6.png) no-repeat 10px 8px; text-indent:38px;display:block;}
.content2 ul li.icon_box8 a{ background:url(../images/icons_box7.png) no-repeat 10px 8px; text-indent:40px;display:block;}
.content2 ul li.icon_box9 a{ background:url(../images/icons_box9.png) no-repeat 4px 8px; text-indent:29px;display:block;}
.content2 ul li.icon_box10 a{ background:url(../images/icons_box10.png) no-repeat 10px 7px; text-indent:30px;display:block;}
.content2 ul li.icon_box100 a{ background:url(../images/meiti.png) no-repeat 10px 7px; text-indent:32px;display:block;}
.content2 ul li.icon_box11 a{ background:url(../images/icons_box11.png) no-repeat 10px 3px; text-indent:36px;display:block;}
.content2 ul li.icon_box11{ position:relative; width:100px;} 
.content2 ul li.icon_box11 span.news{ display:block; background:url(../images/news.png) no-repeat; width:26px; height:15px; position:absolute; top:-9px; right:4px; z-index:99;}
.content2 ul li.icon_box12{ width:100px;border:1px solid #a2cbe0;border-radius:6px;color:#3ab0de;text-indent:40px; background: rgba(0, 0, 0, 0) url("../images/weixin_logo.png") no-repeat scroll 10px 3px;}
.content2 ul li.icon_box12 a{ color:#3ab0de;font-weight: bold;}
.content2 ul li a{ font-size:12px; color:#848484;}
.content2 ul li a:hover{ text-decoration:underline;}

.content3{ margin-top:18px; padding:0 6px; *height:165px;}
.sel_box{ width:303px; height:144px; overflow:hidden;}
.sel_box ul.sel_btns{ background:url(../images/se1_bj1.png) no-repeat; height:20px; line-height:20px;}
.sel_box ul.sel_btns li{ float:left; background:url(../images/gray_bj.png) no-repeat; width:91px; height:20px; margin-right:1px; display:inline; text-align:center;}
.sel_box ul.sel_btns li a{ font-size:14px; color:#666;}
.sel_box ul.sel_btns li.se{ background:url(../images/red_bj.png) no-repeat; position:relative;}
.sel_box ul.sel_btns li.se a{ color:#fff;}
.sel_box ul.sel_btns li.se span.red_dw{ display:block; background:url(../images/red_dw.png) no-repeat; width:7px; height:7px; position:absolute; left:0; top:20px;}
.sel_cot{ margin-top:9px; height:135px; overflow:hidden;}
.sel_cot ul{ width:297px;}
.sel_cot ul li{ line-height:22px; color:#666; padding:4px 0; border-bottom:1px dashed #ccc;}
.sel_cot ul li span{ padding:0 3px;}
.sel_cot ul li span a{ color:#666;}
.sel_cot ul li a{ color:#acacac;}
.sel_cot ul.gundong_bar li a{text-decoration:none;}
.sel_cot ul li.sel_li1{ background:url(../images/icons_box_1.png) no-repeat 0 16px; padding-left:32px;}
.sel_cot ul li.sel_li2{ background:url(../images/icons_box_2.png) no-repeat 2px 16px; padding-left:32px;}
.sel_cot ul li.sel_li3{ background:url(../images/icons_box_3.png) no-repeat 4px 16px; padding-left:32px;}
.sel_cot ul li.sel_li4{ background:url(../images/icons_box_4.png) no-repeat 4px 16px; padding-left:32px;}
.sel_cot ul li a.message_more{ color:#acacac; text-decoration:underline;}
.sel_cot ul.gundong_bar li{ padding-left:0; background:url(../images/grayy.png) no-repeat 2px 13px; text-indent:10px; *text-indent:10px; _text-indent:10px;}
.sel_cot ul.gundong_bar table{ text-indent:0;}

.sel_box2{ width:512px; margin-left:10px; display:inline;}
.sel_box2 h2{ background:url(../images/se1_bj2.png) no-repeat; height:20px; line-height:20px; overflow:hidden; font-size:14px; color:#666; font-weight:normal; padding-left:25px;}
#slides{ position:relative; margin-top:10px;}
#slides span.prev{ display:block; position:absolute; top:0px; left:0px; z-index:9999;}
#slides span.next{ display:block; position:absolute; top:0px; right:0px; z-index:9999;}
#slides span.prev a{ display:block; background:url(../images/move_prev.png) no-repeat; width:20px; height:134px; overflow:hidden;}
#slides span.next a{ display:block; background:url(../images/move_next.png) no-repeat; width:20px; height:134px; overflow:hidden;}
#slides span.prev a:hover{ display:block; background:url(../images/move_prev_h.png) no-repeat; width:20px; height:134px; overflow:hidden;}
#slides span.next a:hover{ display:block; background:url(../images/move_next_h.png) no-repeat; width:20px; height:134px; overflow:hidden;}
#slides .good{ margin-left:22px;}
#slides .good dl{ float:left; width:113px; height:132px; overflow:hidden; border:1px solid #d0d0d0; margin:0 1.1px; display:inline;}
#slides .good dl dd.god1{ background:#fbfbfb; border-top:1px solid #d0d0d0; border-bottom:1px solid #e4e4e4; height:24px; line-height:24px; overflow:hidden; color:#444; text-align:center;}
#slides .good dl dd.god1 a{ color:#444; }
#slides .good dl dd.god2{ background:#fbfbfb; border-top:1px solid #fff; height:20px; line-height:20px; overflow:hidden; color:#444; text-align:center;}
#slides .good dl dd.god2 a{color:#666;}
#slides .good dl dd.god2 span{ color:#D80000; padding-right:6px;}
#slides .good dl.diff dd{ background:#eaeaea;}

.sel_box3{ width:163px;}
.sel_box3 h2{ background:url(../images/se1_bj3.png) no-repeat; height:20px; line-height:20px; font-size:13px; color:#666; font-weight:normal; position:relative; cursor:pointer; z-index:9999;}
.sel_box3 h2 img{ display:inline-block; padding-left:8px;}
.sel_box3 ul.evey{ margin-top:9px; *margin-top:12px; *height:135px; *overflow:hidden;}
.sel_box3 ul.evey li{ height:19px; line-height:15px; *line-height:16px; overflow:hidden; border-bottom:1px solid #d6d6d6; padding-top:7px; *padding-top:3px;}
.sel_box3 ul.evey li a{ color:#9e9e9e; }
.sel_box3 ul.evey li a:hover{ text-decoration:underline;}
.sel_box3 ul.evey li span.young{ color:#9e9e9e;}
.sel_box3 ul.evey li span.grayColor{ color:#9e9e9e;}

.sel_box3 ul.evey li span.red{ background:#e43c01; width:13px; height:13px; line-height:13px; text-align:center; color:#fff; margin-top:2px;}
.sel_box3 ul.evey li span.gray{ background:#d2d2d2; width:13px; height:13px; line-height:13px; text-align:center; color:#fff; margin-top:2px;}
.sel_box3 ul.evey li span.rise{ background:url(../images/rise.png) no-repeat 0 3px; color:#999; text-indent:15px; padding-right:2px; width:57px; *width:57px; text-align:right;}
.sel_box3 ul.evey li span.decline{ background:url(../images/decline.png) no-repeat 0 3px; color:#999; text-indent:15px; padding-right:2px; width:57px; *width:57px; text-align:right;}
.sel_box3 ul.evey li span.equal{ background:url(../images/equal.png) no-repeat 4px 3px; color:#999; text-indent:19px; padding-right:2px; width:61px; *width:61px; text-align:right;}
.menu{ position:absolute; top:25px; right:0; width:154px; background:#fff; border:1px solid #ccc; z-index:9999;}
.menu ul{ padding:4px 18px; background:url(../images/repeat_y.png) repeat-y left;}
.menu ul li{ float:left; line-height:22px; color:#747474; cursor:pointer; margin-right:17px; display:inline; word-break:keep-all;}
.menu ul li.current_3{ margin-right:0;}
.menu ul li.cur{ line-height:1px; height:1px; overflow:hidden;}
.menu span.dingwei_shang{ background:url(../images/shang_bj.png) no-repeat; width:156px; height:4px; position:absolute; left:-1px; top:-4px;}

.content4{ margin-top:21px;}
.content4_l{ /*background:url(../images/yj_bj.png) repeat-x;*/background:#f6f6f6;border-radius:15px;border-bottom:1px solid #e0e2e7; height:30px; line-height:30px; overflow:hidden; position:relative; padding:0 25px; color:#666;display:inline; width: 410px; margin: 0 20px}

/* .content4_l{ background:url(../images/yj_bj.png) repeat-x; height:30px; line-height:30px; overflow:hidden; position:relative; padding:0 28px; color:#666; margin-left:47px; display:inline;}*/
 
.content4_l span.yj_left{ display:block; background:url(../images/yj_left.png) no-repeat; width:14px; height:30px; position:absolute; left:0px; top:0;}
.content4_l span.yj_right{ display:block; background:url(../images/yj_right.png) no-repeat; width:14px; height:30px; position:absolute; right:0px; top:0;}

.content4_l span.num{ font-weight:bold; color:#df0000;/* text-decoration:underline;*/ padding:0 7px;}
.content4_l span.num a{ color:#df0000;}
.content4_l img{ padding:8px 16px 0px;}
.content4_r{ margin-left:18px;}
/* .content4_r{ margin-left:38px;}*/
.gray a{ color:#9c9c9c;}
.gray a:hover{ text-decoration:underline;}

.content5{ margin-top:23px; padding:0 6px;}
.content5 h2{ border-bottom:1px solid #dadada; height:28px; line-height:28px; overflow:hidden; font-weight:normal; font-size:14px; color:#666;}
.content5 h2 a:hover{ text-decoration:underline;}
.content5 ul{ border-bottom:1px dashed #c7c7c7; padding:15px 0;}
.content5 ul li{ float:left; margin:0 10px; display:inline; line-height:20px;word-break:keep-all;}
.content5 ul li a{ color:#999;}
.content5 ul li a:hover{ text-decoration:underline;}
#change_industry:hover{cursor:pointer;}
#top_cat_name{ padding:0; margin:0; overflow:hidden;}

#cjbb li a span{ color:#666;}
a#curren:hover{color:#fff;}
#YDYloginDiv ul li a{color:#444;}

/*2014-7-22添加*/
.content1_top .join{ width:213px; margin-right:10px; margin-top:19px; display:inline; background:#fff; border-radius:0; border:1px solid #F3B37E; height:38px; line-height:38px; position:relative; z-index:100;}
.content1_top .join span{ display:block; width:213px; height:38px; font-size:14px; color:#666; text-indent:12px; background:url(../images/change_sj.png) no-repeat 186px center;}
.content1_top .join .menu_child{ width:213px; position:absolute; top:39px; left:-1px; background:#fff; border:1px solid #aaa; z-index:100;}
.content1_top .join .menu_child a.hangy{ display:block; height:25px; line-height:25px; text-align:center; color:#212121;}
.content1_top .join .menu_child a.hangy:hover{ border-bottom:1px solid #999; background:url(../images/dou_zhe.png) repeat-x; height:24px;}
.content1_top .join .menu_child ul{ margin-left:6px; padding-bottom:10px;}
.content1_top .join .menu_child ul li{ float:left; width:50px; height:26px; line-height:26px; overflow:hidden; text-align:center;}
.content1_top .join .menu_child ul li a{ color:#222; display:block;/* padding:0 13px;*/ height:26px; line-height:26px;}
.content1_top .join .menu_child ul li a:hover{ background:url(../images/dou_zhe.png) repeat-x; height:24px; line-height:24px; border:1px solid #999;}

.content1_top .money{ width:191px; margin-right:10px; margin-top:19px; display:inline; background:#fff; border-radius:0; border:1px solid #F3B37E; height:38px; line-height:38px; position:relative; z-index:100;}
.content1_top .money span{ display:block; width:191px; height:38px; font-size:14px; color:#666; text-indent:12px; background:url(../images/change_sj.png) no-repeat 166px center;}
.content1_top .money .money_child{ width:191px; position:absolute; top:39px; left:-1px; background:#fff; border:1px solid #aaa; z-index:100;}
.content1_top .money .money_child a.hangy{ display:block; height:25px; line-height:25px; text-align:center; color:#212121;}
.content1_top .money .money_child a.hangy:hover{ border-bottom:1px solid #999; background:url(../images/dou_zhe.png) repeat-x; height:24px;}
.content1_top .money .money_child ul{ margin-left:6px; padding-bottom:10px;}
.content1_top .money .money_child ul li{ float:left; width:90px; height:26px; line-height:26px; overflow:hidden; text-align:center;}
.content1_top .money .money_child ul li a{ color:#222; display:block;/* padding:0 13px;*/ height:26px; line-height:26px;}
.content1_top .money .money_child ul li a:hover{ background:url(../images/dou_zhe.png) repeat-x; height:24px; line-height:24px; border:1px solid #999;}

.yd_4mr li {
    float: left;
}
.yd_4mr li.marqueeUP {
    overflow: hidden;
    width: 250px;
}
.yd_4mr strong {
    font-size: 14px;
}
.yd_4mr a {
    color: #FFFFFF;
}

#yhgg a {display: block;}
.gray a{ color:#333;}
.list dl dd a:hover{ display:block; background:url(http://image1.jmw.com.cn/ydy/images/orange_bj.png) no-repeat; color:#fff; width:50px; height:22px; line- height:22px; overflow:hidden;}
.loginlocation {line-height:20px; padding-top:20px;text-align:center;color:#818181;}

/*新增行业图标 2015.6.2*/
.list{ position: relative;}
.icoMore{ position: absolute; top: 0; right: -60px; z-index: 100; display: none;}
.list_more dl{ float: none; display: block; margin-right: 0;}
.lastMore dt em{ cursor: pointer;}