body{
	font: 0.8em "Tahoma",sans-serif;
	background: #FFF;
	color: #000;
}
#invisible{
	width: 800px;
	margin: 2em auto;
}

#navigation{
	margin: 0;
	padding: 0 0 25px 15px;
	background-color: #FFFFFF;
	color: #3333FF;
}
#navigation li {
    float: left;
    display: block;
    position: relative;
    z-index: 9999;
}

#navigation li li {
    clear: left;
}

#navigation li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

#navigation ul {
    position: absolute;
    top: 20px;
    left: 10px;
    display: none;
    padding: 2px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    background: #fff;
}

#navigation ul {
/*    -moz-box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc; */
    box-shadow: 3px 3px 3px #ccc;
}

#navigation a:link, #navigation a:visited {
	float: left;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 0 12px 6px 12px;
	text-decoration: none;
	color: #3333ff;
	background-color: #ffffff;
}

#navigation a:link.active, #navigation a:visited.active, #navigation a:hover {
	color: #000;
	background: #fff url(/graphics/tab_rounded.gif) no-repeat bottom center;
}

#homepage-generator {
 float:right;
 margin-left:2em;
 margin-top:4em
}

#homepage-more-options-link {
 text-align:center;
 margin-top:-1em;
 margin-bottom:1em
}

#homepage-wide-column {
 width: 600px;
}

h1{
	width: 100%;
	height: 74px;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 1em;
	border-bottom: 1px #9393FF solid;
	background-image: url(/graphics/rdo-logo-475x70.png);
/*	background-image: url(/graphics/rdo-halloween-475x70.png); */
	background-repeat: no-repeat;
	background-position: left top;
        z-index: 777;
        pointer-events: none;
}
h1 span{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}

h2{
	font-size: 1.8em;
	font-family: "Georgia", serif;
	font-weight: normal;
}
#invisible h2 {
	color: #6F6FC4;
	background-color: #ffffff;
}
#invisible h3 {
	color: #6F6FC4;
	padding-top: 10px;
	background-color: #ffffff;
}
#invisible h4 {
	color: #6F6FC4;
	padding-top: 15px;
	background-color: #ffffff;
}

div.ruler{
	line-height: 0px;
	height: 1px;
	background: #9393FF;
	font-size: 0px;
	margin: 10px 0;
	padding: 0;
	color: #000;
}
div.ruler2{
	line-height: 0px;
	height: 1px;
	background: #9393FF;
	font-size: 0px;
	margin: 0px 0;
	padding: 0;
	color: #000;
	clear:left;
}

div.rowl{
	width: 256px;
	padding-right: 10px;
	float: left;
	border-right: 1px #9393FF solid;
}
div.rowc{
	margin: 0 10px;
	float: left;
	width: 246px;
}
div.rowr{
	padding-left: 10px;
	float: left;
	border-left: 1px #9393FF solid;
	width: 256px;
}
div.rowlc{
	width: 523px;
	padding-right: 10px;
	float: left;
/*	border-right: 1px #9393FF solid; */
}

div.two-column {
    width: auto;
}
div.col1{
	width: 160px;
	padding-right: 30px;
	float:left;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.col2{
    padding-top: 1em;
	width: auto;
}

h3{
	font: normal normal 1.6em "Georgia",serif;
	margin: 0;
	padding: 0;
}
h4{
	font: normal normal 1.2em "Georgia",serif;
	margin: 0;
	padding: 0;
}
p, ol.spacious, ul.spacious, dl.spacious {
	line-height: 1.7em;
}
dl.spacious dt {
	margin-top: 10px;
	font-weight: bold;
}
ul.spacious li {
	margin-top: 10px;
	margin-bottom: 6px;
}
ol.spacious li {
	margin-top: 10px;
	margin-bottom: 6px;
}
ul.data li {
  list-style-type: none;
  font-family: monospace;
  font-size: 125%;
}
pre.data {
  margin-left: 2em;
  font-family: monospace;
  font-size: 125%;
}
.code {
  font-family: monospace;
  font-size: 125%;
}
.codeblock {
  border: dotted thin black;
  white-space: pre;
  font-family: monospace;
  font-size: 125%;
}
.thelink{
	text-align: right;
	font: 1.3em "Georgia",serif;
	display: block;
}

a:link{
	color: #6F6FC4;
/*	background-color: #fff; */
	text-decoration: none;
}
a:hover{
	color: #000;
	text-decoration: none;
	font-style: normal;
/*	background-color: #ffffff; */
}
a:visited{
	color: #6F6FC4;
/*	background-color: #fff; */
}
.smallgraph {
	float: left;
	height: 150px;
	width: 200px;
	background-color: #C1C185;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}
.submenu {
	float: left;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #9393FF;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 130px;
	line-height: 20px;
	padding-top: 5px;
}
#invisible .submenu a {
	text-decoration: none;
}
#invisible .submenu a:hover {
	background-color: #FFFFFF;
	color: #000;
}

.important {
	color: red;
	font-weight: bold;
	background-color: #FFFFFF;
}

.indented {
  margin-left: 2em;
}

.center {
  text-align: center;
}

span.quote {
/*  font-style: italic; */
}

ul.bulletfree {
  list-style-type: none;
}

ul.code {
  list-style-type: none;
  font-family: monospace;
  font-size: 100%;
}

caption {
  font-weight: bold;
}

.infobox {
  border-style: solid;
  border-width: thin;
  border-color: #9393ff;
  margin-left: 60px;
  margin-right: 60px;
  padding: 10px 10px 10px 68px;
  background-image: url(/graphics/nuvola-info-48x48.png);
  background-repeat: no-repeat;
  background-color: #e3e3ff;
  background-position: 10px 10px;
}
.alertbox {
  border-style: solid;
  border-width: thin;
  border-color: #ff9393;
  margin-left: 60px;
  margin-right: 60px;
  padding: 10px 10px 10px 68px;
  background-image: url(/graphics/nuvola-alert-48x48.png);
  background-repeat: no-repeat;
  background-color: #ffe3e3;
  background-position: 10px 10px;
}

#search {
  width: 210px;
  height: 40px;
  margin-top: 2px;
  margin-left: 160px;
  font-size: 80%;
  color: #9393FF;
  background: #FFFFFF;
  float: right;
  position: relative;
  z-index: 776;
}

.draw_public {
  border: thin solid;
  border-color: black;
  color: black;
  background-color: #eeffee;
}

.draw_private {
  border: thin solid;
  border-color: black;
  color: black;
  background-color: #ffffcc;
}

.draw_semipublic {
  border: thin solid;
  border-color: black;
  color: black;
  background-color: #eeeeff;
}

.draw_pending {
  border: thin solid;
  border-color: black;
  color: black;
  background-color: #ffeeee;
}

.draw_public_text {
  color: green;
  background-color: #eeffee;
}

.draw_private_text {
  /* color: peru */
  color: #cc8844;
  background-color: #ffffcc;
}

.draw_semipublic_text {
  /* color: royalblue; */
  color: #4466dd;
  background-color: #eeeeff;
}

.draw_pending_text {
  color: red;
  font-weight: bold;
  background-color: #ffeeee;
}

.draw_public_compact {
  /*  color: green; */
  background-color: #eeffee;
}

.draw_private_compact {
  /*  color: peru; */
  background-color: #ffffcc;
}

.draw_semipublic_compact {
  /*  color: royalblue; */
  background-color: #eeeeff;
}

.draw_pending_compact {
  /*  color: red;
      font-weight: bold; */
  background-color: #ffeeee;
}

div.overview td {
  padding-left: 2em;
}
div.overview th {
  text-align: left;
}

div.mainindent {
  margin-left:110px;
}

div.maingraphic1 {
  float:left;
  margin-top:.8em;
  padding:.2em .4em .2em .4em;
  background-color:#ccffcc;
}

div.maingraphic2 {
  float:left;
  margin-top:.8em;
  padding:.2em .4em .2em .4em;
  text-align:center;
  background-color:#ccccff;
}

div.maingraphic3 {
  float:left;
  margin-top:.8em;
  padding:.2em .4em .2em .4em;
  text-align:center;
}

abbr {
  border-bottom: 1px black dotted;
}
.hang {
    text-indent: -40px;
    margin-left: 40px;
}
.hang-compact {
    text-indent: -40px;
    margin-left: 40px;
    line-height: .6em;
}
.hang-nested {
    text-indent: 0px;
    margin-left: 0px;
}
.hang-par-num {
        float: left;
        width: 40px;
}
