/*
Theme Name: sabaylab-2016112902
Theme URI: http://news.sabay.com.kh/
Description: Sabay Lab 2015 one page scrolling website responsive
Author: Din Visal
Author URI: http://news.sabay.com.kh/
Version: 1.0
Tags: responsive, bootstrap, one page scroll

License: sabaylab-2016051801
License URI: http://news.sabay.com.kh/
*/
@font-face {
	font-family: 'Gotham-Black';
	src: url('fonts/Gotham-Black.eot');
	src: local('☺'), url('fonts/Gotham-Black.woff') format('woff'), url('fonts/Gotham-Black.ttf') format('truetype'), url('fonts/Gotham-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Bold';
	src: url('fonts/Gotham-Bold.eot');
	src: local('☺'), url('fonts/Gotham-Bold.woff') format('woff'), url('fonts/Gotham-Bold.ttf') format('truetype'), url('fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Book';
	src: url('fonts/Gotham-Book.eot');
	src: local('☺'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('fonts/Gotham-Light.eot');
	src: local('☺'), url('fonts/Gotham-Light.woff') format('woff'), url('fonts/Gotham-Light.ttf') format('truetype'), url('fonts/Gotham-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Medium';
	src: url('fonts/Gotham-Medium.eot');
	src: local('☺'), url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
<!-- icon font -->
@font-face {
  font-family: 'typicons';
  src: url("fonts/typicons.eot");
  src: url("fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("fonts/typicons.woff") format('woff'),
       url("fonts/typicons.ttf") format('truetype'),
       url("fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family:'Hanuman',serif, typicons;
	font-size:14px;
	overflow-x:hidden; 
/*	background-color:##E9E9E9!important;*/
}
a {
    color: #EA4B4B!important;
    text-decoration: none!important;
}
a:hover {
    color: #EA4B4B!important;
    text-decoration: none!important;
}
.news-post a {
    color: #000!important;
}
.news-post a:hover{
	color: #000!important;
}
.navbar-nav > li > a, .dropdown-menu > li > a {
    color: #000!important;
}
.navbar-nav > li > a:hover, .dropdown-menu > li > a:hover {
    color: #000!important;
}
.section {
    margin-bottom: 20px;
    position: relative;
    padding-top: 35px;
}
#fullpage{
	background-image: url("images/bg.jpg");
	position: relative;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed;
}
.brand .brand-logo{
	width:90px;
	height:95px;
	list-style:none;
	margin-bottom:10px;
}

.brand #brand-logo1{
	background:url(images/brands.png);
	background-position:-15px -15px;
}
.brand #brand-logo2{
	background:url(images/brands.png);
	background-position:-113px -15px;
}
.brand #brand-logo3{
	background:url(images/brands.png);
	background-position:-214px -15px;
}
.brand #brand-logo4{
	background:url(images/brands.png);
	background-position:-314px -14px;
}
.brand #brand-logo5{
	background:url(images/brands.png);
	background-position:-411px -14px;
}
.brand #brand-logo6{
	background:url(images/brands.png);
	background-position:-15px -125px;
}
.brand #brand-logo7{
	background:url(images/brands.png);
	background-position:-112px -126px;
}
.brand #brand-logo8{
	background:url(images/brands.png);
	background-position:-215px -125px;
}
.brand #brand-logo9{
	background:url(images/brands.png);
	background-position:-314px -125px;
}
.brand #brand-logo10{
	background:url(images/brands.png);
	background-position:-411px -125px;
}
/** Brand Logo Hover**/
.brand #brand-logo1:hover{
	background:url(images/brands.png);
	background-position:-15px 216px;
}
.brand #brand-logo2:hover{
	background:url(images/brands.png);
	background-position:394px -246px;
}
.brand #brand-logo3:hover{
	background:url(images/brands.png);
	background-position:-214px -246px;
}
.brand #brand-logo4:hover{
	background:url(images/brands.png);
	background-position:-314px -707px;
}
.brand #brand-logo5:hover{
	background:url(images/brands.png);
	background-position:-411px -707px;
}
.brand #brand-logo6:hover{
	background:url(images/brands.png);
	background-position:-15px -356px;
}
.brand #brand-logo7:hover{
	background:url(images/brands.png);
	background-position:-112px -357px;
}
.brand #brand-logo8:hover{
	background:url(images/brands.png);
	background-position:-215px -356px;
}
.brand #brand-logo9:hover{
	background:url(images/brands.png);
	background-position:-615px -357px;
}
.brand #brand-logo10:hover{
	background:url(images/brands.png);
	background-position:-411px -356px;
}
.brand div{
	margin-right:5px;
	z-index:10;
}
#head-container{
	height: 60px;
	padding: 10px 20px;
	position: relative;
	background-color: #FFF;
}
.shadow{
	box-shadow: 1px 1px 15px #d3d3d3;
}
#logo{
	/*text-align:center;*/
}
#sabay-logo {
    background-position: center;
    width: 235px;
}
#sabay-logo {
    background: transparent url("images/logo.png") no-repeat;
    height: 50px;
}
.nav .navbar-nav{
	margin-top:-5px;
}
.navbar-nav > li > a, .dropdown-menu > li > a{
	color: #000;
	text-transform:uppercase;
	font-family: Gotham-Book;
}
.navbar-nav > li > a:hover{
	background-color:transparent!important;
}
#mmenu {
    background-color: #fff !important;
    margin-top: -5px;
    border: medium none;
}
.navbar-default {
    background-color: #fff;
}
.awesome{
	padding-left: 0px !important;
	padding-right: 30px !important;
}
.awesome img{
/*	margin-top: -10%;
	margin-left: 10%;*/
}
.awesome-intro{
/*	text-align: right;*/
	width: 56%;
/*	float: right;*/
/*	margin-top: 20px;*/
	font-family: Gotham-Book,Gotham-bold !important;
}
.title{
	text-align:center;
	text-transform:uppercase;
	font-family: Gotham-black!important;
}
.img{
	margin:0 auto;
	margin-top:20px;
}
.img img{
	margin:0 auto;
}
.slide-wrapper{
	width:50%;
	margin:0 auto;
	margin-top:-6%;
}
#footer{
	background-color:#000;
	padding:10px 0;
	color:#7b7b7b;
}
.copyright{
	font-family: Gotham-light!important;
}
.copyright a{
	/*color: #7b7b7b!important;*/
}
.connect a{
	/*float:left;*/
}
.contact{
	text-align:right;
}
.contact h3{
	margin-top:0;
	font-family:Gotham-book!important;
}
.contact .address{
	font-family:Gotham-light!important;
}
.contact .tel{
	margin-top:20px;
	font-family:Gotham-bold!important;
	font-size:16px;
}
.client{
	/*margin-top:-17%;*/
}
.medias{
	margin-top:2%;
}
.fp-controlArrow.fp-prev {
    border-color: transparent #000 transparent transparent!important;
}
.fp-controlArrow.fp-next{
	border-color:transparent transparent transparent #000!important;
}
.sabay-news{
	width: 320px!important;
	height: 687px!important;
	/*float: right!important;*/
	padding:50px 0;
	background-image:url(images/phone-frame.png);
	background-size:100%;
	background-repeat:no-repeat;
	position:relative;
}
.sabay-news-post p.title{
	font-family: Gotham Book,'Battambang'!important
}
.sabay-news iframe{
	margin:20px 0!important;
	border:none;
	width:100%;
	height:90%;
}
.awesome-intro{
	/*padding-left: 40px!important;*/
}
.sabay-news-link{
	position: absolute;
	bottom: 45px;
	left: 42%;
	color: #000;
	font-family: Gotham-bold;
	text-transform: uppercase;
	text-decoration: none;
}
.sabay-news-link:hover{
	text-decoration:none;
}
#logo-small{
	display:none;
}
#mmenu .navbar-toggle .sabay-btn-toggle {
    border: medium none!important;
    background: transparent none repeat scroll 0% 0%!important;
    padding: 0!important;
}
#smenu #mmenu .navbar-toggle {
    margin: 15px!important;
}
#mmenu .navbar-toggle {
    padding: 0px;
    border: medium none;
}
.navbar-toggle:hover {
	border: medium none!important;
    background: transparent none repeat scroll 0% 0%!important;
    padding: 0!important;
}
.navbar-default .navbar-toggle{
	border-color:transparent!important;
}
.ads-plan-mobile{
	display:none;
}
#logo{
	z-index:2;
}
#smenu-container{
	z-index:1;
}
/*.mobile{
	display:none;
}*/

.swiper-container {
	width: 100%;
	height: 80%;
}
.swiper-slide {
	text-align: center;
	font-size: 14px;
	background-color:transparent;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.sabay-news-post{
	text-align: left;
	background: #FFF none repeat scroll 0% 0%;
	padding: 0 15px!important;
	padding-top: 15px!important;
	box-shadow: 1px 1px 15px #D3D3D3;
	margin:5px 0;
	height:auto;
}
.news-post:first-child{
/*	padding: 0;*/
	/*padding: 5px!important;*/
}
.news-post{
/*	padding: 0;*/
	/*padding: 5px!important;*/
	/*margin:5px 0;*/
	padding:10px;
}
.news-post:hover{
	background-color:#fc5c61;
}
.sabay-news-post .title{
	text-align:left;
}
.news-post .image {
    transition: opacity 150ms ease 0s;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 0px;
    overflow: hidden;
    position: relative;
    opacity: 0.85;
    padding-top: 50%;
    width: 100%;
    will-change: opacity;
    margin-bottom: 0.75em;
	background-repeat:none;
}
.news-post{
	/*background-color:#e1e1e1;
	margin:5px;*/
}
.news-post a{	
	margin:5px 0;
	color: #000;
}
.news-post a:hover{
	text-decoration:none!important;
	color: #000!important;
}
.news-post .time {
    font-size: 10px;
    margin: 0px;
}
.news-post .title{
  	display: block;
    line-height: 21px;
    max-height: 2.9em;
    overflow: hidden;
    overflow-wrap: break-word;
    padding-left: 0 !important;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
}
.news-link-wrapper{
	padding-left:0!important;
	padding-right:0!important;
}
.sabay-news-post{
	/*display:none;*/
}
.news-link​ {
    height: 35px;
    background-color: #FC5C61;
    padding: 8px;
	color: #fff!important;
}
.news-link​ a{color:#fff!important;padding:0 10px; font-family: 'Gotham Book', 'Battambang' !important;}
.news-link​ a:hover{color:#fff!important;text-decoration:none;}
.connect table tr td{
	padding:1px 5px;
	font-family:Gotham-light!important;
}
.career-post{
	margin: 10px 0;
}
.read-more{
	border: 1px solid #696969;
	text-decoration: none;
	color: #696969;
	text-transform: uppercase;
	font-family:Gotham-bold!important;
	padding:8px;
}
.read-more:hover{
	text-decoration: none;
}
.view-all{text-align:center;margin-top:1.5em;}
.view-all a{
	border: 1px solid #EA4B4B;
	color: #EA4B4B;
	font-family: Gotham-bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 24px;
}
.view-all a:hover{
	text-decoration: none;
}
.job-title{
	font-weight:bold;
}
.job-desc{
    display: block;
    line-height: 19px;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    max-height: 4em;
    overflow: hidden;
	margin:10px 0;
}
.intro, .slide-text p{
	font-family:Gotham-Book, Gotham-bold!important;
}
.swiper-row{
	width: 70%;
	margin: 20px auto;
	text-align: left;
}
.swiper-title{
	font-family:Gotham-bold;	
	text-transform:uppercase;
}
.social a{
	color:#7b7b7b!important;
	text-decoration:none;
}
.social a:hover{
	color:#7b7b7b!important;
	text-decoration:none;
}
.ads-plan-wrapper{
	text-align:center;
}
.contacts{
	font-size: 16px;
	text-align: center;
	line-height: 1;
	font-family: Gotham-Book,Gotham-bold !important;
}
.contacts .site, .contacts .email{
	color: #da4c4e;
}
.email a{
	color: #da4c4e;
}
.email a:hover{
	text-decoration:none;
	color: #da4c4e!important;
}
.view-all a:hover {
    text-decoration:none;
	color: #da4c4e!important;
}
.contact-map{
	text-transform:uppercase;
}
.social-wrapper {
	text-align:center;
	font-family: Gotham-bold, Gotham-Book !important;
	margin: 20px 0;
}
.social-wrapper h3 {
    text-transform: uppercase;
	font-size:22px;
}
.social-wrapper .post{
	text-align:center;
}
.social-wrapper img{
	margin: 0 auto;
}
.social-num{
	color: #DA4C4E;
}
.brand{
	text-align:center;
}
.brand h1{
	text-transform: uppercase;
	margin: 27px 0px;
	font-family: Gotham-Book,Gotham-bold !important;
}
.ads-plan-desktop{
	margin-left: -200px;
}
.brand-wrapper{
	margin-top:15px;
}
.pro-tab{
	font-family: Gotham-Book,Gotham-bold !important;
	font-size:18px;
}
.people{
	margin:30px 0!important;
}
.people .slide-text{
	display:none;
}
.people .slide-text{
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	width: 60%;
	margin: 0px auto;
	height: auto;
	position: absolute;
	top: 0px;
	left: 26%;
	z-index: 5;
}
.popup{
	background-color:#fff;
	border-radius: 10px;
	width: 85%;
	margin: 0px auto;
	max-height: 280px;
	position: absolute;
	top: 25%;
	left: 20%;
	z-index: 11;
	padding: 10px 15px;
	font-family: Gotham-Book,Gotham-bold !important;
	box-shadow: 1px 1px 2px #D3D3D3;
	font-size: 12px;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	display: none;
}

.text-hover{
	border-radius: 10px;
	position: relative;
	width: 100%;
	margin: 0px auto;
	max-height: 280px;
	z-index: 11;
	padding: 10px 15px;
	font-family: Gotham-Book,Gotham-bold !important;
	box-shadow: 1px 1px 2px #D3D3D3;
	font-size: 12px;
	background-color: #fff;
}
.people .swiper-wrapper, .giving .swiper-wrapper  {
	margin-bottom: 50px;
}
.people .slide-img img{/*width:280px;*/}
.social-wrapper p{line-height:0.5;}
.line{border: 1px solid;
margin-top: 35px;}
.footer-left{
	text-align:center;
}
.footer-left img{
	margin:0 auto;
}
.people .slide-img img:hover{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}
.people .slide-img img{
/*	border: 1px solid;
	box-shadow: 1px 1px 15px #D3D3D3;*/
	/*width:200px;
	height:200px;*/
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
    width: 196px;
    height: 196px;
}
.people .swiper-title{
	text-transform:none;
}
.menu-first{
	margin:0 10px;
	background: none;
	border: none;
}

/* Sidebar menu*/
.nav-side-menu {
	overflow: auto;
	background-color: #FFF;
	position: relative;
	top: 0px;
	width: 250px;
	height: 100%;
	font-family: Gotham-Book;
	box-shadow: 1px 1px 15px #D3D3D3;
	padding: 0 15px;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
/*  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;*/
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
 /* color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
/*  color: #d19b3d;*/
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
/*  background-color: #181c20;*/
  border: none;
  line-height: 28px;
  /*border-bottom: 1px solid #23282e;*/
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
 /* background-color: #020203;*/
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
/*  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;*/
}
.nav-side-menu li a {
  text-decoration: none;
  color:#777!important;
/*  color: #e1ffff;*/
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
/*  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;*/
}
.social-num, .social-like{
	display:none;
}
.contacts iframe{
	border: 5px solid rgb(255, 255, 255);
	border-radius: 5px;
	width:100%;
	height:auto;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides {
    width: 70% !important;
    margin: 0px auto !important;
    height: 350px;
}
.prev{
	background-image: url("images/prev.png");
	left: 10px;
}
.next{
	background-image: url("images/next.png");
	right: 10px;
}
.prev, .next{
	background-repeat: no-repeat;
	background-size: 40%;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 45%;
}

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
.slide-text > ul > li{
	list-style:disc!important;
	position:relative!important;
}

.client-wrapper{
	margin: 10px 0;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
.menu-first-wrapper{
	position: absolute;
    top: 60px;
    left: 35px;
	z-index:1;
}
.hide{
	display:none;
}
.mask{
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
}
/* end of sidebar menu*/
.title-bar{
	margin-bottom:20px;
}

/*.partner{
	margin: 10px 0;
}*/
.tabs-menu {
    height: 30px;
    clear: both;
    margin: 0px auto;
    position: relative;
    width: 50% !important;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    list-style: none;
}

.tabs-menu li.current {
    position: relative;
    z-index: 5;
	color:#EA4B4B !important;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #000!important;
    text-decoration: none;
    font-size: 18px;
}

.tabs-menu .current a {
   color:#EA4B4B !important;
}

.tab {
 /*   border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;*/
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
  /*  width: 660px;*/
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;   
}
.section:first-child{
	margin-top:60px;
}
.career-page{
	padding-bottom:20px;
}
.partner{
	margin:10px 0;
}
.footer-wrapper{
	padding-top:20px;
}

.ads-wrapper{
	margin-top:50px;position:relative;
}
.ads-link{
	position:fixed;right:15%;top:10%;z-index:11; 
}
.people .slide-img{
	width: 196px;
	height: 196px;
	background-repeat: no-repeat!important;
	background-position: bottom!important;
	background-size:100% auto!important;
	margin-right:15px;
	margin-bottom:15px;
}
.people-wrapper{
	padding: 0 12%!important;
}
.twitter{
	width:40px;
	margin-top:3px;
}
.youtube{
	width:30px;
}
.swiper-pagination-partner{
	bottom:0px!important;
}
.partner .swiper-row{
	display:table;
	border-collapse:collapse;
}
.client-wrapper{
	/*border:1px solid #ccc;
	padding:0;*/
	display:table-row;
}
.client-wrapper div{
	width: 20%;
	float: left;
	border: 1px solid #fff;
	height: 80px;
/*	background-position: center -70px !important;*/
	background-position: center center !important;
	background-repeat: no-repeat !important;
	padding: 10px;
	background-size: 35% auto !important;
	display: table-cell;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	z-index:2;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
.client-wrapper div.p-hover{
	width: 20%;
	float: left;
	border: 1px solid #fff;
	height: 80px;
	/*background-color:#fff!important;*/
	z-index:1;
}
.client-wrapper div.p-hover{
	/*background-position: center 21px !important;*/
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}
.client-wrapper div:last-child{
	/*border-right-width:1px;*/
}
.client-wrapper .rec{
	background-size: 80% auto !important;
	-webkit-background-size: 80% auto !important;
	-moz-background-size: 80% auto !important;
	-o-background-size: 80% auto !important;
}
/* Large desktop */
@media (min-width: 991px) and (max-width: 10000px) {
	.ads-plan-wrapper{
		text-align:right;
		padding-right:10px;
		position:relative;
		z-index:1;
	}
	.post{
		width:70%;
		margin:0 auto!important;
	}
	.sabay-news-post{
		width:358px;
		margin-top:20px;
	}
	.awesome{
		padding-right: 70px !important;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
	.sabay-news-post{
		width:358px;
		margin-top:3px;
	}
	#head-container{
		width:100%;
	}
	#smenu-container{
		width:80%;
		position:absolute;
		right:0;
	}
	.navbar-header{
		padding: 5px 0px;
	}
	.nav > li > a{
		padding: 10px;
	}
	.ads-plan-mobile{
		display:block;	
		margin: 0 auto;			
	}
	.ads-plan-desktop{
		display:none;
	}
	.awesome{
		padding-right: 70px !important;
	}
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
	#smenu-container{
		width: 100%;
		position:absolute;
	}
	.sabay-news{display:none;}
	.sabay-news-post{
		display:block;
	}
	.ads-plan-mobile{
		display:block;	
		margin: 0 auto;			
	}
	.ads-plan-desktop{
		display:none;
	}
	
	.menu-first{
		display:none;
	}
	.awesome{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
}
/* Landscape phones and down */
@media (max-width: 479px) {
	.people .slide-img img{
		width: 90px;
		height: 90px;
	}
	.sabay-news{display:none;}
	#logo-small{
		display:inline;
	}
	#logo-small{
		margin-top: 10px;
		width: 120px;
		padding-left:10px;
	}
	#logo{
		display:none;
	}
	.navbar-header{
		padding: 5px 0px;
	}
	.ads-plan-mobile{
		display:block;	
		margin: 0 auto;		
		width: 250px;	
	}
	.ads-plan-desktop{
		display:none;
	}
	#fullpage{
		padding: 0 5px;
	}
	#smenu-container{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#smenu #mmenu .navbar-toggle {
		margin: 10px!important;
	}
	.awesome .eye {
		margin-top: 2.7em;
	}
	#head-container {
		padding: 4px 15px;
	}
	.desktop{display:none;}	
	/*.mobile{display:block;}*/
	.title h1{
		font-size:2em;
	}
	.intro{
		width:100%;
	}
	.slide-text p{
		/*display:none;*/
	}
	.slide-text{
		text-align:center;
	}
	.swiper-container {
		height: 100%;
	}
	.section{
		margin:10px 0;
		position:relative;
	}
	.swiper-wrapper{
		padding-bottom: 2em;
	}
	.client {
		margin-top: 0;
	}
	.sabay-news-post{
		display:block;
	}
	.swiper-row{width:100%;}
	.brand h1{
		font-size:26px;
	}
	.people .swiper-wrapper, .giving .swiper-wrapper  {
		margin-bottom: 0px;
	}
	.pro-tab{
		font-size:12px;
	}
	.people .slide-img img {
		width: auto;
		height: 80px;
	}
	
	.menu-first{
		display:none;
	}
	.tabs-menu {
		width: 100%!important;
		font-size: 12px!important;
	}
	.news-link{
		font-size: 12px;
		padding-top: 10px;
		padding-left: 0px;
	}
	.sabay-news-post {
    	height: 560px;
	}
	.brand h1 {
		font-size: 22px;
		margin: 15px 0px;
	}
	.awesome{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.section:first-child {
		margin-top: 0px;
	}
	.tabs-menu{
		width: 279px!important;
		margin: 0 auto;
		padding: 0;
	}
	.tabs-menu li{
		margin-right:0;	
	}
	.tabs-menu li a{
		font-size:10px!important;
		padding-left:5px!important;
		padding-right:5px!important;
	}
	.footer-wrapper {
		padding-top: 0px;
	}
	.brand {
		padding-left: 0px;
	}
	.rslides {
		height: auto;
		width:95%!important;
	}
	.prev, .next {
		top: 250px;
	}
	.next {
		right: -15px;
	}
	.swiper-button-next, .swiper-button-prev{
		/*display:none;*/
	}
	.ads-link{
		right:10px;
		top:8%;
	}
	.ads-link img{
		width:135px;
		height:auto;
	}
	.popup{
		top: 25%;
		left: 0%;
		width:100%;
	}
	.people .slide-img {
		width:90px;
		height:90px;
		margin-right:10px;
	}
	.people-desc{
		display:none;
	}
	.news-link​ a {
		font-size: 13px;
	}
	.popup .swiper-title{
		font-size:14px;
	}
	.people-wrapper {
		padding: 0px 6%!important;
	}
	.client-wrapper div {
		width:50%;
		/*background-position: center center !important;
		background-repeat: no-repeat !important;
		padding: 10px;
		background-size: 35% auto !important;*/
	}
	.client-wrapper .rec{
		/*background-size: 80% auto !important;*/
	}

	.sabay-news-post{
		display:none;
	}
}
.privacy{
	padding-top: 70px;
	width: 60%!important;
	margin: 0 auto;
	font-family: Gotham-Book, Gotham-bold !important;
}
.nav-pills{
	font-family: Gotham-Book, Gotham-bold !important;
}
.nav-pills > li > a{
	background: transparent!important;
	font-size: .9em;
	padding: 10px 5px!important;
	padding-left: 0px !important;
}
.nav-pills > li > a::after{
	content: " |";
	color: #7b7b7b;
}
.nav-pills > li:last-child > a{
	padding-right: 0!important;
}
.nav-pills > li:last-child > a::after{
	content: "";
}
.nav-privacy{
	float: right;
}