/*
Default style for WP-PageNavi plugin
http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
	text-align: center;
	margin: 30px 0;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	color: #999;
	padding: 8px 12px;
	margin: 3px;
	font-size: 1.2em;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background:#bbb;
	color: #FFF;
	font-weight: bold;
}

.wp-pagenavi span.current {
	background:#bbb;
	color: #FFF;
	font-weight: bold;
}
