@charset "UTF-8";

/*RECET
=======================================*/

body {
	margin: 0;
	padding: 0;
	min-width: 1016px;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,header,nav,footer,section,canvas,article,figure { 
	margin:0;
	padding:0;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: block;
}
table {
	margin:0;
	padding:0;
	border-collapse:collapse;
	border-spacing:0;
}

ul, ol { list-style: none;}
img { border: none;}

/*DEFAULT
=======================================*/

html {
	font-size: 90%;
}
a {
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	text-decoration: none;
}
body {
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif;
}
a:link { color: #0E1BBB;}
a:visited { color: #4C2472;}
a:hover { text-decoration:underline; }

/*COMMON
=======================================*/

.f-clear {
	clear: both;
}
.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}

/*-----clearfix-----*/

.clearfix:after {
  content: ".";  
  display: block;  
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}
/*header
=======================================*/

header {
	background: url(img/bg_header.png) repeat-x;
}

#header-in {
	width: 976px;
	margin: 0 auto;
}
#header-in:after {
	content: ".";  
	display: block;  
	clear: both;
	height: 0;
	visibility: hidden;
}

header h1 {
	float: left;
	width: 306px;
	padding: 20px 0 20px 0;
}
header h1 a {
	display: block;
	width: 306px;
	height: 35px;
	overflow: hidden;
	text-indent: -9999px;
	background-image: url(img/parts.png);
	background-position: 0 -825px;
	text-align: left;
}

/*sns*/
header ul.sns {
	width: 100px;
	float: right;
	text-align: right;
	letter-spacing: -0.4em;
}
header ul.sns li {
	display: inline-block;
	padding: 20px 0 0 0;
	letter-spacing: 0;
}
header ul.sns li a {
	display: block;
	width: 36px;
	height: 36px;
	overflow: hidden;
	text-indent: -9999px;
	background-image: url(img/parts.png);
	background-position: 0 -739px;
	text-align: left;
}
header ul.sns li a:hover {
	opacity: 0.8;
}
header ul.sns li:first-child a {
	background-position: 0 -653px;
	margin-right: 8px;
}

/*gnavi*/
header nav {
	clear: both;
	background: #6c2962;
}
header nav ul {
	width: 976px;
	margin: 0 auto;
	border-left: 1px solid #521f4b;
	letter-spacing: -0.4em;
}
header nav ul li {
	display: inline-block;
	letter-spacing: 0;
	border-right: 1px solid #521f4b;
}
header nav ul li a {
	display: block;
	padding: 11px 14px;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;

}
header nav ul li a:link,header nav ul li a:visited {
	color: #fff;
}
header nav ul li a:hover {
	background: #853d7a;
	text-decoration: none;
}

/*topicpath*/

#topicpath {
	background: #efe6ed;
}

#topicpath ul {
	width: 940px;
	margin: 0 auto;
	padding: 0 0 0 3px;
}
#topicpath ul li {
	display: inline-block;
	background: url(img/p_topicpath.png) no-repeat left center;
	padding: 7px 0 7px 14px;
	font-size: 0.75em;
}
#topicpath ul li:first-child {
	background-image: none;
	padding: 0;
}
#topicpath ul li a:link,#topicpath ul li a:visited {
	color: #454545;
}

/*main
=======================================*/

#main {
	padding: 40px 20px 40px 20px;
	width: 976px;
	margin: 0 auto;
}

#main .related {
	margin: -30px 0 30px 0;
}

#main:after {
	content: ".";  
	display: block;  
	clear: both;
	height: 0;
	visibility: hidden;
}


/*--video list--*/

.lead {
	margin: 0 0 20px 0;
	width: 600px;
	float: left;
}

.lead hr {
	border: 0;
	height: 4px;
	background: url(img/line_01.png) repeat-x;
	margin: 0 0 20px 0;
}

.video-list h1 {
	margin-bottom: 15px;
	font-weight: normal;
	line-height: 1.4;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 2.0em;
	color: #0f0f0f;
}
.video-list h1 a:link,.video-list h1 a:visited {
	color: #555;
}
.video-list h1 a:hover {
	color: #000;
}

.video-list h2 { 
    border-left: 7px solid #b163a3; 
    border-bottom:1px solid #b163a3; 
    padding: 2px 0px 5px 8px;
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 1.4;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.3em;
    color: #0a0a0a;
    clear: both;
}

.video-list h3 { 
    border-left: 7px solid #ccc; 
    padding: 2px 8px 2px 8px;
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 1.6;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.2em;
    color: #0a0a0a;
    clear: both;
}

.video-list .date {
	margin: 0 0 25px 0;
	font-size: 0.9em;
	color: #666;
	background-color: #fbfbfb;
}

.video-list p a {
	text-decoration: underline;
}
.video-list p a:hover {
	color: #2ca6de;
}

.readmore {
	display: block;
	text-align: right;
	padding: 0 0 20px 0;
}
.readmore a {
	background: url(img/p_arrow.png) no-repeat 0px 4px;
	padding:2px 0 0 17px;
	font-weight: bold;
}

.txt-share {
	display: block;
	text-align: center;
	margin: 0 0 20px 0;
}

.video-list ul.sns {
	letter-spacing: -0.4em;
	margin: 0 0 20px 0;
}
.video-list ul.sns li {
	display: inline-block;
	letter-spacing: 1;
}
	
.video-list li.share a {
	display: block;
	width: 295px;
	height: 54px;
	text-indent: -9999px;
	background-image: url(img/parts.png);
	background-position: 0 0;  
	overflow: hidden;
}

.video-list li.tweet a {
	display: block;
	width: 295px;
	height: 54px;
	text-indent: -9999px;
	background-image: url(img/parts.png);
	background-position: 0 -289px;
	overflow: hidden;
	margin-left: 10px;
}

.video-list li a:hover {
	opacity: 0.9;
}

.video-list ul.snst {
	clear: both;
	padding: 0 0 5px 0;
	margin: 0 0 40px 0;
}

.video-list ul.snst li {
	float: left;
	margin-right: 10px;
}

.video-list iframe {
	display: block;
	margin: 0 auto;
}

.video-list .comment {
	margin-bottom: 10px;
	color: #666;
}

/*list*/

.list .lead h1 {
	background: url(img/line_01.png) bottom left repeat-x;
	margin: 0 0 20px 0;
	padding: 10px 0 10px 5px;
	border-top: 1px solid #e5e5e5;
	font-size: 1.2em;
}

.list .lead .video-list h1 {
	margin: 0 0 13px 0;
	font-size: 2.0em;
	border-top: none;
	background-image: none;
	padding: 0;
}

/*page*/

.page .video-list .caption {
	display: block;
	padding: 20px 0 10px 0;
}


/*タイトル下タグ*/

.video-list .top-tags {
    margin-bottom: 10px;
}

.video-list .top-tags .txt {
    display: inline-block;
    font-size: 0.8em;
    margin: 0 5px 0 0;
        color: #999999;
}

.video-list .top-tags a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 0.8em;
    border:1px solid #d1d1d1;
    background-color:#fbfbfb;
    margin: 0 10px 10px 0;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
}
.video-list .top-tags a:hover {
    background-color:#dadada;
}

/*プロフィールBOX*/

.video-list  .profile{
	background-color: #fff;
	padding: 0.9em;
	position: relative;
	border-top: 1px solid #d7d7d7;
	margin: 0 0 25px 0;
}

.video-list  .profile img{
	float: left;
	margin: 0 1em 0 0;
}

.video-list .profile h1 {
	margin-bottom: 10px;
	font-weight: 600;
	line-height: 1.4;
	font-size: 1em;
	color: #0a0a0a;
	background-color: #fff;
}

.video-list .profile p{
	margin: 0;
	font-size: 0.9em;
	line-height: 1.6;
	color: #0f0f0f;
	background-color: #fff;
	overflow: hidden;
}

.video-list .profile:after {
	content: "."; 
	display: block; 
	height: 0;
	clear: both;
	visibility: hidden;
}

/*出典*/

.video-list dl {
	border-top: 1px solid #e6e6e6;
	margin: 14px 0 20px 0;
	color: #666;
	clear: both;
	font-size: 0.9em;
}
.video-list dt {
	width: 60px;
	float: left;
	clear: both;
	padding: 8px;
}
.video-list dd {
	padding: 8px 10px 8px 40px;
	border-bottom: 1px solid #e6e6e6;;
}
.video-list dd a {
	color: #666
}

/*CVN*/

#cvn-logo {
	text-align: right;
	margin: 0 0 20px 0;
}

/* 関連記事 */
.video-list .related-list-box{
	background-color: #fff;
    padding: 0;
    border: 1px solid #d7d7d7;
    margin: 0 10px 25px 0;
}
.video-list .related-list-box p.title{
	background-color: #d7d7d7;
	padding: 7px 8px;
	margin: 0 0 5px;
	font-size: 0.9em;
}
.video-list .related-list-box ul{
	margin: 5px 10px;
}
.video-list .related-list-box ul li{
	background: url(img/line_02.png) repeat-x top center;
	font-size: 0.9em;
	padding: 7px 3px 5px;
}
.video-list .related-list-box ul li:first-child{
	background-image: none;
}
.video-list .profile+.related-list-box{
	margin-top: -20px;
}


/*image*/

/*
.video-list .images {
	margin: 20px 0;
}
.video-list .images div {
	background: #181818;
	color: #666666;
	padding: 20px 0 10px 0;
	margin: 0 0 10px 0;
}
.video-list .images ul {
	text-align: center;
}
.video-list .images ul li {
	margin-top: 10px;
}
.video-list .images ul li:first-child {
	margin-top: 0px;
}
.video-list .images p {
	margin: 5px auto 0 auto;
	width: 480px;
	font-size: 0.8em;
}
*/

.video-list .image img {
	max-width: 600px;
	height:auto;
} 

/*J-CAST Flickr image*/

.video-list .image .img-frame {
	position:relative;
}

.video-list .image .img-frame .hover-text  {
	position:absolute;
	bottom:2px;
	width:100%;
	text-align:right;
	font-size: 0.8em;
}

.video-list .image .img-frame .hover-text p {
	padding: 2px;
	margin: 0;
	display:block;
	background: rgba(0,0,0,0.7);
	color: #FFF;
}

/*--sub list--*/
.main-sub {
	width: 336px;
	float: right;
}
.sub-list {
	margin: 0 0 10px 0;
}

.sub-list article {
	padding: 5px 5px 5px 5px;
}

.sub-list hr {
	border: 0;
	height: 1px;
	background: url(img/line_02.png) repeat-x;
	width: 326px;
	margin: 2px auto 5px auto;
}

.sub-list hr:last-child {
	display: none;
}

.sub-list h1 {
	background: url(img/ba_bg2.png) repeat-x;
	color: #fff;
	font-size: 1.0em;
	font-weight: bold;
	padding:1px 0 0 10px;
	margin: 0 0 5px 0;
	line-height: 35px;
}
.sub-list article figure {
	display: table-cell;
	overflow: hidden;
}
.sub-list article figure img {
	width: 80px;
	height: 80px;
}
.sub-list article:after {
	content: ".";  
	display: block;  
	clear: both;
	height: 0;
	visibility: hidden;
}

.sub-list article h1 {
	background-image: none;
	display: table-cell;
	vertical-align: top;
	color: #555;
	padding: 0 0 0 10px;
	margin: 0;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.4;
}

.sub-list article{
    position: relative;
}
.sub-list article figure img.icon_pr{
    position: absolute;
    width: 14px;
    height: 9px;
    top: 76px;
    left: 71px;
}

.sub-list article figure img.icon_pr2{
    position: absolute;
    width: 14px;
    height: 9px;
    top: 81px;
    left: 71px;
}

/*ads
=======================================*/

.main-sub .ads-300-250 {
	margin-bottom: 20px;
	text-align: center;
}

.main-sub .ads-300-250 div{
  display: inline-block !important;
}

.main-sub .ads-300-250-2 {
	margin: 20px 0 20px 0;
	text-align: center;
}

.main-sub .ads-300-250-2 div{
  display: inline-block !important;
}

.main-sub .ads-300-250-3 {
	margin: 40px 0 20px 0;
	text-align: center;
}

.main-sub .ads-300-250-3 div{
  display: inline-block !important;
}

.ads-336-280 {
	margin: 100px 0 20px 0;
	padding-top: 30px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.ads-336-280 div{
  display: inline-block !important;
}

.ads-336-280-2 {
	width: 600px;
	margin: 20px auto 20px auto;
	text-align: center;
}

.ads-336-280-2 div{
  display: inline-block !important;
}

.ads-468-60 {
	margin: 20px 0 20px 0;
	text-align: center;
}

.ads-600-200 {
	margin: 25px 0 25px 0;
	text-align: center;
}

.main-sub .ads-suvt {
	margin-bottom: 40px;
	text-align: center;
}

/*page
=======================================*/

.page-wrapper {
	width: 600px;
	float: left;
}
.page-sub {
	width: 600px;
	float: left;
}
.page-sub .sub-list article { /*20130226*/
	width: 285px;
	display: inline-block;
	padding: 10px 5px;
	vertical-align: top;
}
.video-list .image,
.video-list .youtube-tate,
.video-list .youtube,
.video-list .youtube2,
.video-list .vine,
.video-list .facebook,
.video-list .twitter {
	margin: 25px 0;
	text-align: center;
}

.video-list .instagram {
	margin: 25px 0;
	text-align: center;
}

.video-list .comment .imgur iframe{
	margin: 0px auto 25px !important;
}

.video-list .image .image-cite {
	text-align:right;
	font-size: 0.9em;
	color: #999;
	margin: 0 0 25px 0;
	padding: 0;
	line-height: 1.8;
} 

.video-list .image .image-cite a {
	color: #999;
	text-decoration: none;
} 

.video-list p.sponsored {
	text-align:right;
	font-size: 0.9em;
	color: #999;
	margin: 0 0 -10px 0;
	padding: 0;
	line-height: 1.6;
}

.comment {
	width: 600px;
	display: block;
	text-align: left;
}
.comment p {
	clear: both;
	margin: 0 0 25px 0;
	font-size: 1.1em;
	line-height: 1.8;
	color: #0f0f0f;
}

.comment p.small {
	clear: both;
	margin: 0 0 25px 0;
	font-size: 0.9em;
	line-height: 1.8;
	color: #666;
}

.comment span.small{
  font-size:0.75em;
}

.video-list .comment ul {
	margin: 0 20px 25px 20px;
	font-size: 1.1em;
	line-height: 1.6;
	color: #0f0f0f;
}

.video-list .comment ul li {
	display: list-item;
	list-style: disc;
	margin: 0 0 10px 10px;
	line-height: 1.6;
	float:none;
}

.video-list .comment ul li a{
	text-decoration: underline;
}

.video-list .comment ol {
	margin: 0 20px 25px 20px;
	font-size: 1.1em;
	line-height: 1.6;
	color: #0f0f0f;
}

.video-list .comment ol li {
	display: list-item;
	list-style-type: decimal;
	margin: 0 0 10px 10px;
	line-height: 1.6;
	float:none;
}

.video-list .comment ol li a{
	text-decoration: underline;
}

/*share
=======================================*/

.page .share-fbpage {
	margin-bottom: 20px;
	text-align: center;
	line-height: 1.6;
	border-bottom: 1px solid #e6e6e6;
}

.page .share-fbpage p {
	margin-bottom: 20px;
	font-size: 1.1em;
}

.page .share-fbpage p.txtsmall {
	margin-top: 20px;
	font-size: 1.0em;
	color: #666;
}

.page .fb-bt {
    display: inline-block;
	transform:scale(1.4); 
	-webkit-transform:scale(1.4);
	-moz-transform:scale(1.4);
}

.page p.txt-share {
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 1.1em;
}

.socialbox {
    float: left;
    display: inline-block;
    margin: 0 0 20px 10px;
}

.facebook-box{
    min-width:58px;
    max-width:115px;
     margin: 0 0 0 0;
}

.twitter-box{
    min-width:87px;
    max-width:90px;
    margin: 0 -8px 0 0;
}

.hatena-box{
    min-width:80px;
    max-width:125px;
}

.gplus-box{
    min-width:50px;
    max-width:80px;
}

.pocket-box{
    min-width:60px;
    max-width:115px;
}

/*引用*/

.quote blockquote{
    background-color: #f0f0f0;
    padding: 2em 1em 0.5em;
    position: relative;
    border: 1px solid #d7d7d7;
    margin: 0 10px 25px 10px;
    clear: both;
}

.quote blockquote p{
    background-color: #f0f0f0;
}

.quote cite{
    display: block;
    text-align: right;
    margin: -20px 12px 25px 12px;
    font-size: 0.9em;
    color: #999;
}
.quote cite a{ 
    color: #999;
}
 
.quote blockquote:before{
    content: "“";
    font-size: 400%;
    line-height: 1em;
    font-family:'Hiragino Mincho ProN', serif;
    color: #999;
    position: absolute;
    left: 4px;
    top: 2px;
}
 
.quote blockquote:after{
    content: "”";
    font-size: 400%;
    line-height: 0em;
    font-family:'Hiragino Mincho ProN', serif;
    color: #999;
    position: absolute;
    right: 3px;
    bottom: 0;
}

/*テキストBOX*/

.txt-box{
    background-color: #fff;
    padding: 1em 1em 0 1em;
    position: relative;
    border: 1px solid #d7d7d7;
    margin: 25px 10px 25px 0;
    clear: both;
}

.txt-box p{
    margin-bottom: 1em;
    background-color: #fff;
}

/*about
=======================================*/

#about-logo {
	width: 241px;
	float: left;
	padding: 118px 80px 0px 40px;
}
#about-text {
	width: 542px;
	float: right;
}

#about-text p {
	margin: 0 0 20px 0;
	line-height: 2;
	font-size: 1.1em;
}

#about-text h1 {
	font-size: 1.2em;
	margin: 0 0 20px 0;
	font-weight: bold;
}

#about-text hr {
	border: 0;
	height:1px;
	border-top: 1px solid #e5e5e5;
	margin: 20px 0;
}

#about-text ul.sns li {
	display: inline-block;
}
#about-text ul.sns li:first-child {
	margin: 0 10px 0 0;
}
#about-text ul.sns li a:hover {
	opacity: 0.9;
}

/*terms
   ========================================================================== */

#terms {
  padding: 10px 20px;
  background-color: #fff;
}

#terms h1 {
    margin: 20px 0;
    font-weight: 600;
    line-height: 1.4;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125em;
    color: #0a0a0a;
    background-color: #fcfcfc;
}

#terms h2 { 
    border-left: 7px solid #999; 
    border-bottom:1px solid #999; 
    padding: 2px 8px 2px 8px;
    margin: 20px 0 15px 0;
    font-weight: 600;
    line-height: 1.6;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:1em;
    color: #0a0a0a;
    background-color: #fcfcfc;
}

#terms h3 { 
    border-left: 7px solid #ccc; 
    padding: 2px 8px 2px 8px;
    margin: 20px 0 15px 0;
    font-weight: 600;
    line-height: 1.6;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:0.875em;
    color: #0a0a0a;
    background-color: #fcfcfc;
}

#terms p {
  margin: 0 0 10px 0;
  font-size:0.875em;
  line-height: 1.8;
  background-color: #fbfbfb;
}

#terms ul {
	margin: 10px;
	font-size:0.875em;
	line-height: 1.6;
	color: #0f0f0f;
}

#terms ul li {
	display: list-item;
	list-style: disc;
	margin: 0 0 10px 10px;
	line-height: 1.6;
}

#terms ol {
	margin: 20px;
	font-size:0.875em;
	line-height: 1.6;
	color: #0f0f0f;
}

#terms ol li {
	display: list-item;
	list-style-type: decimal;
	margin: 0 0 10px 10px;
	line-height: 1.6;
}

/*recruit
=======================================*/

#recruit-text {
	width: 700px;
	margin: 0 auto;
}

#recruit-text p {
	margin: 0 0 15px 15px;
	line-height: 1.8;
	font-size: 1.1em;
}

#recruit-text h1 {
	font-size: 1.4em;
	margin: 0 0 20px 0;
	font-weight: bold;
}

#recruit-text h2 { 
    border-left: 7px solid #b163a3; 
    border-bottom:1px solid #b163a3; 
    padding: 2px 0px 5px 8px;
    margin: 40px 0 15px 0;
    font-weight: bold;
    line-height: 1.4;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.3em;
    color: #0a0a0a;
}

#recruit-text h3 { 
    border-left: 7px solid #ccc; 
    border-bottom:1px solid #ccc; 
    padding: 2px 8px 2px 8px;
    margin: 50px 0 25px 0;
    font-weight: bold;
    line-height: 1.6;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.2em;
    color: #0a0a0a;
}

#recruit-text h4 { 
    border-left: 6px solid #ccc; 
    padding: 2px 8px 2px 8px;
    margin: 30px 0 15px 5px;
    font-weight: bold;
    line-height: 1.4;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.1em;
    color: #0a0a0a;
}

#recruit-text ul {
	margin: 0 20px 20px 30px;
	font-size: 1.1em;
	color: #0f0f0f;
}

#recruit-text li {
	display: list-item;
	list-style: disc;
	margin: 0 0 5px 0;
	line-height: 1.4;
	float:none;
}

#recruit-text hr {
	border: 0;
	height:1px;
	border-top: 1px solid #e5e5e5;
	margin: 10px 0;
}

#recruit-text table {
    width: 700px;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

#recruit-text th {
    padding: 10px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #eeeeee;
    font-weight: bold;
    line-height: 1.4em;
}
#recruit-text td {
    padding: 10px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    line-height: 1.4em;
}

#recruit-text .btn {
	padding: 12px 0;
	margin: 25px auto 0 auto;
	background: #b163a3;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	width: 40%;
	text-align: center;
}

#recruit-text .btn a {
	display: block;
	text-decoration: none;
	font-size: 1.4em;
	color: #fff;
}


/*table
=======================================*/

.video-list table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: left;
	margin: 0 0 10px 0;
}
.video-list table caption {
	text-align: left;
	padding: 4px 0;
	font-weight: bold;
}
.video-list th {
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 8px 5px;
	background: #eee;
	text-align: center;
	white-space: nowrap;
}
.video-list td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 8px 5px;
}

.td-top {
	background: #666;
	color: #fff;
	text-align: left;
}

.td-center {
	text-align: center;
}

.td-nowrap {
	white-space: nowrap;
}

.td-pickup {
	background: #ffeaea;
	text-align: center;
}


/*footer
=======================================*/

#pagetop {
	width: 976px;
	margin: 0 auto;
}
#pagetop a {
	width: 40px;
	height: 34px;
	display: block;
	text-indent: -9999px;
	background-image: url(img/parts.png);
	overflow: hidden;
	background-position: 0 -205px;
	margin: 0 0 0 auto;
}

footer {
	background: url(img/bg_footer.png) #ebe0e8;
}

#footer-in {
	background: #ebe0e8;
	padding: 20px 0;
}
#footer-in:after {
	content: ".";  
	display: block;  
	clear: both;
	height: 0;
	visibility: hidden;
}
#footer-area {
	width: 976px;
	margin: 0 auto;
}

footer .about {
	width: 280px;
	float: left;
}
footer .about h1 {
	width: 130px;
	height: 38px;
	display: block;
	text-indent: -9999px;
	background-image: url(img/parts.png);
	overflow: hidden;
	background-position: 0 -479px;
	margin: 0 20px 20px 0;
	float: left;
}
footer .about p {
	clear: both;
	line-height: 1.6;
	padding: 0 30px 0 0;
}
footer .facebook {
	margin: 0 0 0 20px;
	background-color: #fff;
	width: 300px;
	height: 250px;
	float: left;
}
footer .google-plus{
	margin: 0 0 0 20px;
	width: 300px;
	float: left;
}

footer .adbanner {
	margin: 0 0 0 40px;
	background-color: #fff;
	width: 300px;
	height: 250px;
	float: left;
}

footer ul.sns {
	letter-spacing: -0.4em;
	width: 90px;
	float: left;
}
footer ul.sns li {
	display: inline-block;
	padding: 0 0 20px 0;
	letter-spacing: 0;
}
footer ul.sns li a {
	display: block;
	width: 36px;
	height: 36px;
	overflow: hidden;
	text-indent: -9999px;
	background-image: url(img/parts.png);
	background-position: 0 -567px;
	text-align: left;
}
footer ul.sns li a:hover {
	opacity: 0.8;
}
footer ul.sns li:first-child a {
	background-position: 0 -393px;
	margin-right: 8px;
}

footer nav ul {
	width: 140px;
	float: left;
	padding: 10px 38px 0px 0;
	text-align: left;
}
footer nav ul li {
	display: inline-block;
	padding: 0 0px 0 16px;
	background: url(img/p_arrow.png) no-repeat left center;
	line-height: 1.8em;
}

footer small {
	display: block;
	text-align: center;
	padding: 20px 0 20px 0;
	color: #eecae6;
}

/* nextpage_links */
.page-links{
	margin: 25px 0 15px;
}
.page-links p{
	text-align: center;
	width: 93.75%;
	margin: 10px auto;
}
.page-links p span{
	text-align: center;
	display: inline-block;
	padding: 7px 12px;
	margin: 0 5px;
	border-radius: 3px;
	background-color: #b163a3;
	color: #fff;
	font-weight: bold;
}
.page-links p a span{
	background-color: #ccc;
	color: #333;
}
.page-links p a.nextlink{
  font-weight:bold;
  font-size:1.062em;
  color:#FFF;
  text-align: center;
  text-decoration: none;
  display: block;
  background: #dd462b;
  width:50%;
  margin:12px auto 15px;
  padding:0.8em 0 0.7em 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* 検索フォーム */

form#searchform{
    margin: 15px 15px 30px;
    overflow: hidden;
}
#searchform .screen-reader-text{
    display: none;
}
#searchform input#s{
    border: #ccc 1px solid;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 1em;
    width: 70%;
    float: left;
}
#searchform input#searchsubmit{
    width: 20%;
    float: right;
    font-size: 1em;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(#ffffff 0%, #e2e2e2 100%);
    background: -o-linear-gradient(#ffffff 0%, #e2e2e2 100%);
    background: linear-gradient(#ffffff 0%, #e2e2e2 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#searchform{
}

