@charset "shift_jis";
/* 本文中で呼び出すパーツに関する指定 */

/* アイコン
***********************************************************************************************************************/
a.window {
	background-image: url(../images/icon_window.gif);
	background-position: right center;
	background-repeat: no-repeat;
	padding: 0 20px 0 0;
}
a.pdf {
	background-image: url(../images/icon_pdf.gif);
	background-position: right center;
	background-repeat: no-repeat;
	padding: 2px 20px 2px 0;
}
/* リスト
***********************************************************************************************************************/
dl {
	padding: 0;
	margin: 1em 0;
	font-size: 1.4em;
	line-height: 1.6em;
}
dl ul {
	font-size: 1em;
}
dt {
	font-weight: bold;
	margin: 0.2em 0;
}
dd {
	padding: 0;
	margin: 0 1.6em 0.8em 1.6em;
}
ul {
	padding: 0;
	margin: 1em 0 1em 1.8em;
	font-size: 1.4em;
	line-height: 1.6em;
}
#main ul ul, #main ul p {
	font-size: 1em;
}
ol {
	padding: 0;
	margin: 1em 0 1em 2.4em;
	font-size: 1.2em;
	line-height: 1.6em;
}
ul.attend {
	padding: 0px;
	margin: 1em 0 1em 0.4em;
}
ul.attend li {
	padding-left: 18px;
	list-style: none;
	background: url(../images/attend.gif) 0px 0.5em no-repeat;
}
ul.list_icon {
	padding: 0px;
	margin: 20px 0 20px 10px;
	list-style: none;
	line-height: 1.6em;
}
ul.list_icon li {
	padding-left: 18px;
	background-image: url(../images/icon_arrow06.gif);
	background-position: 0 0.3em;
	background-repeat: no-repeat;
	margin: 5px 0;
}
#main ul#news {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.4em;
}
#main ul#news li {
	border-bottom: 1px dotted #ccc;
	margin: 7px 0;
	padding: 0 0 7px 0;
	background-position: 0 1px;
	background-repeat: no-repeat;
}

#main ul#news li.news_icon {background-image: url(/common/images/icon_news.gif); padding-left:76px;}
#main ul#news li.press_icon {background-image: url(/common/images/icon_press.gif); padding-left:76px;}
#main ul#news li.event_icon {background-image: url(/common/images/icon_event.gif); padding-left:76px;}
#main ul#news li.seminar_icon {background-image: url(/common/images/icon_seminar.gif); padding-left:76px;}

#main ul#news li.research01_icon,#main ul#news li.research02_icon,#main ul#news li.research03_icon,#main ul#news li.research04_icon,#main ul#news li.research05_icon,#main ul#news li.research06_icon,#main ul#news li.research07_icon,#main ul#news li.research08_icon,#main ul#news li.research09_icon,#main ul#news li.research10_icon {padding-left:110px;}
#main ul#news li.research01_icon {background-image: url(/common/images/icon_01.gif); padding-left:110px;}
#main ul#news li.research02_icon {background-image: url(/common/images/icon_02.gif); padding-left:110px;}
#main ul#news li.research03_icon {background-image: url(/common/images/icon_03.gif); padding-left:110px;}
#main ul#news li.research04_icon {background-image: url(/common/images/icon_04.gif); padding-left:110px;}
#main ul#news li.research05_icon {background-image: url(/common/images/icon_05.gif); padding-left:110px;}
#main ul#news li.research06_icon {background-image: url(/common/images/icon_06.gif); padding-left:110px;}
#main ul#news li.research07_icon {background-image: url(/common/images/icon_07.gif); padding-left:110px;}
#main ul#news li.research08_icon {background-image: url(/common/images/icon_08.gif); padding-left:110px;}
#main ul#news li.research09_icon {background-image: url(/common/images/icon_09.gif); padding-left:110px;}
#main ul#news li.research10_icon {background-image: url(/common/images/icon_10.gif); padding-left:110px;}

#main ul#news li a {
	font-size: 1.2em;
}
#main p.pagenate {
	text-align: center;
	margin: 20px 0;
	padding: 20px 0;
}
#main p.pagenate a {
	color: #333333;
	text-decoration: none;
	border: 1px solid #ccc;
	margin: 0 7px;
	padding: 3px 6px;
	background-color: #eaeaea;
	display: inline-block;
}
#main p.pagenate a:hover, #main p.pagenate a.on {
	background-color: #ede0fa;
}
/* 表組み
***********************************************************************************************************************/
table {
	width: 100%;
	margin: 18px 0;
	font-size: 1.4em;
	line-height: 1.6em;
	border-collapse: collapse;
	text-align: left;
}
table th {
	border: 1px solid #cccccc;
	background-color: #edebf2;
	padding: 10px 14px;
}
table th.lv01 {
	background-color: #fefaed;
	font-weight: normal;
}
table td {
	border: 1px solid #cccccc;
	padding: 10px 14px;
}
table table {
	font-size: 1em;
}
table ul {
	font-size: 1em;
}
table dl {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
}
table dd {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
}
table dt {
	font-size: 1em;
}
#main table p {
	font-size: 1em;
}
table h2 {
	font-size: 1em;
}
table h3 {
	font-size: 1em;
}
table h4 {
	font-size: 1em;
}
.mod_pageList table dl {
	font-size: 1em;
}
table.layout_c, table.layout_c th, table.layout_c td {
	border: none;
}
div.style01 {
	border-top: 2px solid #9f7dc3;
	border-radius: 3px;
	box-shadow: 0 0px 5px #999;
	clear: both;
	position: relative;
	background-color: #FFFFFF;
}
div.style01 table {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #666666;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
div.style01 table th {
	width: 130px;
	padding: 8px 0 8px 29px;
	background-image: url(../images/icon_arrow04.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	font-weight: normal;
	text-align: left;
}
div.style01 table th.single {
	width: auto;
}
div.style01 table th img {
	margin: 0 10px 0 0;
}
div.style01 table td {
	padding: 8px;
}
div.style01 table tr.odd td, div.style01 table tr.odd th {
	background-color: #f3f3f3;
}
table.style02 {
	width: 100%;
	margin: 18px 0;
	font-size: 1.2em;
	line-height: 1.6em;
	border-collapse: collapse;
	text-align: left;
}
table.style02 th {
	border: 1px solid #cccccc;
	background-color: #edebf2;
	padding: 10px 14px;
}
table.style02 th.lv01 {
	background-color: #fefaed;
	font-weight: normal;
}
table.style02 td {
	border: 1px solid #cccccc;
	padding: 10px 14px;
}
table.layout1 {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	width: auto;
}
table.layout1 td {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
table.layout2 {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
}
table.layout2 td {
	border: none;
	margin: 0;
	padding: 0;
}
table.layout3 {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	width: auto;
}
table.layout3 td {
	border: none;
	margin: 0;
	padding: 10px;
	font-size: 1em;
	vertical-align: top;
}
table.layout3 dl {
	font-size: 1.4em;
}
/* インデックス
***********************************************************************************************************************/
#index {
	clear: both;
	margin: 10px 0 30px;
}
#index div {
	width: 354px;
	margin: 0 0 16px;
}
#index h4 {
	background-color: #efefef;
	background-image: url(../images/icon_index.gif);
	background-position: 13px center;
	background-repeat: no-repeat;
	padding: 10px 0 10px 25px;
	color: #fff;
	font-size: 1.4em;
	line-height: 1.2em;
	border-radius: 4px;
	position: relative;
	box-shadow: 0 1px 2px #ccc;
	border: 1px solid #d1d1d1;
	margin: 0;
}
#index h4 a {
	text-decoration: none;
	color: #333333;
}
#index div p {
	margin: 14px 0;
}
#index div p.detail {
	text-align: right;
}
#index_index {
	clear: both;
	margin: 0;
}
#index_index div {
	border-radius: 4px;
	box-shadow: 0 1px 5px #d5d5d5;
	margin: 0 0 16px;
	background-color: #FFFFFF;
	position: relative;
	clear: both;
	padding: 0 0 1px;
}
#index_index div.left {
	width: 354px;
	float: left;
}
#index_index div.right {
	width: 354px;
	float: right;
	clear: none;
}
#index_index h4 {
	background-color: #ccc;
/*	background-image: url(../images/bg_index_h3.gif);*/
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 10px 0 10px 20px;
	color: #333;
	font-size: 1.4em;
	line-height: 1.4em;
	border-radius: 4px 4px 0 0;
	position: relative;
	margin: 0;
}
#index_index div.special h4{
	background-color: #9f7dc3;
	color: #fff;
}

#index_index h4 a {
	text-decoration: none;
	color: #fff;
}
#main #index_index div p {
	margin: 10px 18px 5px;
}
#index_index div p.detail {
	text-align: right;
}
#index_index ul.list_icon {
	list-style: none;
	line-height: 1.4em;
	margin: 12px 16px;
	padding: 0;
}
#index_index ul.list_icon li {
	margin: 2px 0;
	padding: 0 0 0 20px;
	background-image: url(../images/icon_arrow05.gif);
	background-position: 0 0.2em;
	background-repeat: no-repeat;
}
#index_index ul.list_icon ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1em;
}
#index_index ul.list_icon ul li {
	padding: 0 0 0 15px;
	background-image: url(../images/icon_arrow03.gif);
	background-position: 2px 0.4em;
}
#index_index ul.list_side_icon {
	list-style: none;
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 12px 16px;
	padding: 0;
}
#index_index ul.list_side_icon li {
	float: left;
	background-image: url(../images/icon_arrow05.gif);
	background-position: 0 0.2em;
	background-repeat: no-repeat;
	margin: 2px 10px 2px 0;
	padding: 0 0 0 20px;
	width: 45%;
}
#index_index div.contents {
	box-shadow: none;
	background-color: #f6f6f6;
	padding: 9px;
	margin: 10px;
}
#index_index div.contents h5 {
	color: #333333;
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 0 0 6px;
	padding: 0 0 0 24px;
	background-image: url(../images/icon_link.gif);
	background-position: 0 0;
}
#index_index div.contents ul {
	font-size: 1.2em;
	margin: 0 0 0 9px;
}
#index_index div.contents ul.list_side_icon li {
	background-image: url(../images/icon_arrow03.gif);
	background-position: 0 0.6em;
	padding: 0 0 0 14px;
}
/* プラグイン
***********************************************************************************************************************/
.plugin {
	background-color: #e6e6e6;
	padding: 17px 9px;
	margin: 20px 0
}
#main .plugin p {
	margin: 0;
}
.plugin img {
	float: left;
	margin: 0 22px 0 0;
}
/* 関連ボックス
***********************************************************************************************************************/
.contents {
	border: 1px solid #d1cfcf;
	border-radius: 4px;
	background-color: #f6f6f6;
	padding: 9px 14px;
	clear: both;
	position: relative;
}
.contents h5 {
	color: #333333;
	font-size: 1.4em;
	line-height: 1.6em;
	margin: 0;
	padding: 0 0 0 21px;
	background-image: url(../images/icon_window2.gif);
	background-position: 0 0.4em;
	background-repeat: no-repeat;
}
.contents ul {
	font-size: 1.4em;
	line-height: 1.6em;
	margin: 0 0 0 4px;
	padding: 0;
	list-style: none;
}
.contents ul li {
	background-image: url(../images/icon_arrow03.gif);
	background-position: 0 0.6em;
	background-repeat: no-repeat;
	padding: 0 0 0 14px;
}
.contents ul li ul {
	font-size: 100%;
	margin: 0 0 8px;
}
.contents ul li ul li {
	background: none;
}
/* 備考
***********************************************************************************************************************/
.remarks {
	background-color: #f1f1f1;
	border: 3px solid #c5bad0;
	padding: 4px;
	margin: 23px 0;
}
.remarks h4 {
	margin: 0 0 10px;
	color: #333;
	background-image: url(../images/bg_h2.gif);
	background-position: 0 0;
	background-repeat: repeat-y;
	padding: 3px 0 3px 18px;
}
#main .remarks p {
	margin: 10px 9px;
}
/* 注意
***********************************************************************************************************************/
.caution {
	background-color: #faeff2;
	border: 3px solid #e2adb9;
	padding: 4px;
	margin: 23px 0;
}
.caution h4 {
	margin: 0 0 10px;
	color: #333;
	background-image: url(../images/bg_h4_caution.gif);
	background-position: 0 0;
	background-repeat: repeat-y;
	padding: 3px 0 3px 18px;
}
#main .caution p {
	margin: 10px 9px;
}
/* このページのトップへ
***********************************************************************************************************************/
.gototop {
	text-align: right;
	margin-bottom: 25px
}
/* アイコンの余白
***********************************************************************************************************************/
.lr3 {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0.45em;
}
/* キャンパスツアー
***********************************************************************************************************************/
#area {
	background-image: url(../../campustour/images/bg_area_btm.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-color: #d9d9d9;
	padding: 0 0 26px;
}
#area #area_in {
	background-image: url(../../campustour/images/bg_area_top.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 10px 8px 4px;
	position: relative;
}
#main #area #area_in ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.6em;
	width: 652px;
}
#main #area #area_in ul li {
	margin: 0 15px;
	float: left;
	display: inline;
	position: relative;
}
#main #area #area_in ul li a img, #main #area #area_in ul li a {
	border: none;
	overflow: hidden;
	float: left;
}
#main #area #area_in ul li a:hover, #main #area #area_in ul li.current a {
	border: 3px solid #ffcc33;
}
#main #area #area_in ul li a:hover img, #main #area #area_in ul li.current a img {
	margin: -3px;
}
#area #area_in #left_btn {
	position: absolute;
	top: 6px;
	left: 8px;
}
#area #area_in #right_btn {
	position: absolute;
	top: 6px;
	right: 8px;
}
.boxset {
	clear: both;
	margin: 30px 0 0;
}
.boxset .leftbox {
	float: left;
	width: 350px;
}
.boxset .rightbox {
	float: right;
	width: 350px;
}
.boxset h2 {
	margin: 0;
}
.voiceNav {
	clear: both;
	left: -9999px;
	position: absolute;
}
#rightColum .imgright .image {
	float: right;
}
#rightColum .imgright .image img {
	margin: 0 0 7px 7px;
}

/* 受賞・表彰
***********************************************************************************************************************/
.award-date {
	font-size: 1.4em;
	line-height: 1.6em;
}
.award-desc {
	font-size: 1.4em;
	line-height: 1.6em;
}
/* キャンパスマップ
***********************************************************************************************************************/

.campusmap-tbl, .campusmap-tbl td, .campusmap-tbl th {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
}
/*GoogleMap*/
td.gmap {
	width: 80px;
}
#map div.info_title{
	font-size:1.4em;	
}
#map table.info_table{
}
#map table.info_table td{
	border:none;
}
/* 電力消費量
***********************************************************************************************************************/

.square {
	width: 700px;
	border: #333 1px solid;
	background-color: #EEE;
	padding-left: 5px;
}
.directory {
	font-size: 85%;
	line-height: 1.2em;
}
.f2 {
	FONT-SIZE: 70%;
	LINE-HEIGHT: 1.2em;
}
.f2h {
	FONT-SIZE: 70%;
	LINE-HEIGHT: 1.5em;
}
.f3 {
	FONT-SIZE: 80%;
	LINE-HEIGHT: 1.2em;
}
.f3h {
	FONT-SIZE: 80%;
	LINE-HEIGHT: 1.5em;
}
.f4 {
	FONT-SIZE: 90%;
	LINE-HEIGHT: 1.2em;
}
.f100 {
	FONT-SIZE: 100%;
	LINE-HEIGHT: 1.3em;
}
.f100h {
	FONT-SIZE: 100%;
	LINE-HEIGHT: 1.5em;
}
.f4a {
	FONT-SIZE: 110%;
	LINE-HEIGHT: 1.2em;
}
.f5 {
	FONT-SIZE: 130%;
	LINE-HEIGHT: 1.2em;
}
.f6 {
	FONT-SIZE: 150%;
	LINE-HEIGHT: 1.2em;
}
.f5h {
	FONT-SIZE: 130%;
	LINE-HEIGHT: 1.5em;
}
.f6h {
	FONT-SIZE: 150%;
	LINE-HEIGHT: 1.5em;
}
.f7h {
	FONT-SIZE: 200%;
	LINE-HEIGHT: 1.5em;
}
/* 大学院開設授業科目・科目概要
***********************************************************************************************************************/

.mod_footTable {
	padding: 0 0 0 0;
	font-size: 95%;
	font-family: Arial, Helvetica, sans-serif;
}
*:first-child+html .mod_footTable table {
	border: 1px solid #d2d2d2;
	margin: 10px 0px 5px 0px;
	padding: 10px;
}
*:first-child+html .mod_footTable td {
	padding: 3px 15px 3px 5px;
}
.mod_footTable table {
	border: 1px solid #d2d2d2;
	padding: 10px;
}
.mod_miniTable {
	padding: 0 0 0 0;
	font-size: 95%;
	font-family: Arial, Helvetica, sans-serif;
}
*:first-child+html .mod_miniTable table {
	border: 1px solid #d2d2d2;
	margin: 10px 0px 5px 0px;
	padding: 2px;
}
*:first-child+html .mod_miniTable td {
	padding: 0px;
}
.mod_miniTable table {
	margin: 5px 0 0px 0;
	border: 1px solid #d2d2d2;
	padding: 3px;
}
.mod_miniTable2 {
	padding: 0 0 0 0;
	font-size: 95%;
	font-family: Arial, Helvetica, sans-serif;
}
*:first-child+html .mod_miniTable2 table {
	border: 1px solid #d2d2d2;
	margin: 10px 0px 5px 0px;
	padding: 2px;
}
*:first-child+html .mod_miniTable2 td {
	padding: 0px;
}
.mod_miniTable2 table {
	margin: 5px 0 0px 0;
	border: 1px solid #d2d2d2;
	padding: 15px 10px 10px 10px;
}
.mod_noborderTable {
	padding: 0 0 0 0;
	font-size: 95%;
	font-family: Arial, Helvetica, sans-serif;
}
*:first-child+html .mod_noborderTable table {
	border: 1px solid #d2d2d2;
	margin: 10px 0px 5px 0px;
	padding: 2px;
}
*:first-child+html .mod_noborderTable td {
	padding: 0px;
}
.mod_noborderTable table {
	margin: 5px 0 0px 0;
	padding: 3px;
}
.mod_borderTable {
	margin: 1.6em 0 1.6em 0;
}
.mod_borderTable caption {
	margin: 0 0 0 0;
	text-align: left;
}
.mod_borderTable table {
	width: 700px;
	border-top: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
}
.mod_borderTable th {
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	background-color: #fefaed;
}
.mod_borderTable td {
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	vertical-align: top;
}
.gaiyoutable td {
	padding: 2px
}
.gaiyoutable td.center {
	text-align: center
}
.g-courses_jumplist {
}
.g-courses_jumplist li {
	padding: 0px 5px;
	width: 175px;
	float: left;
}
.g-courses_jumplist2 li {
	line-height: 150%;
	padding: 0px 5px;
	width: auto;
	float: left;
}
.gototop {
	text-align: right;
	margin-bottom: 25px
}
.gaiyoutable td.vmiddle {
	vertical-align: middle;
	text-align: center
}
.gaiyoutable td.senkoucol {
	width: 318px
}
.gaiyoutable td.kamokucol, .gaiyoutable td.syllcol {
	width: 78px
}
.gaiyoutable td.gaiyoucol {
	width: 58px
}
.gaiyoutable td.kamokugaiyoucol {
	width: 156px
}
td.level2 {
	padding-left: 20px
}
/* サイト内検索
***********************************************************************************************************************/

div#search_results iframe {
	width: 720px;
	height: 1500px;
}
/* 問い合わせフォーム
***********************************************************************************************************************/
span .wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	padding-left: 0.5em;
}
div .wpcf7-response-output {
	font-size: 1.4em;
}
div .wpcf7-validation-errors {
	color: #f00;
}
/*見学予約フォーム
***********************************************************************************************************************/
/*見学日選択*/

.monthly-calendar .monthly-prev-next {
	font-size: 1.4em;
	line-height: 1.4em;
}
.monthly-calendar .monthly-prev {
	float: left;
	background: url("/common/images/bg_prev.gif") no-repeat;
	padding-left: 22px;
}
.monthly-calendar .monthly-next {
	float: right;
	background: url("/common/images/bg_next.gif") no-repeat right;
	padding-right: 22px;
}
.day-calendar .day-right {
	width: 400px;
	text-align: center;
}
.day-calendar .day-right .calendar-mark {
	text-decoration: underline;
}
/*フォーム*/
#booking-form .fat {
	width: 370px;
}
#booking-form fieldset {
	margin: 0 0 20px;
	padding: 10px;
	border: 1px #5C3C7D solid;
	font-size: 1.4em;
}
#booking-form legend {
	margin: 0 0 0 0px;
	padding: 5px 10px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
	border: 1px #FFFFFF solid;
	background: #5C3C7D;
	font-size: 1em;
}
#booking-form th, #booking-form td {
	font-size: 0.7em;
	line-height: 1.6em;
}
#booking-form .error-message {
	color: #f00;
}
#booking-form .right {
	float: none;
	text-align: right;
}
.error-box{
	font-size:1.2em;	
}

/*お問い合わせ
***********************************************************************************************************************/
/*インデックス*/
.mod_info2 {
	width: 320px;
	padding: 8px;
	border: 1px solid #dbdbdb;
	background-color: #fefaec;
}
/*組織別電話番号，住所一覧*/
.h19-h20re {
	color: #0000FF
}
.level1 {
	font-weight: bold
}
td.level2 {
	padding-left: 25px
}
td.valignmidle, th.valignmidle {
	vertical-align: middle
}
td.celcenter {
	text-align: center
}
th.celcenter {
	text-align: center;
}
/*科目等履修生
***********************************************************************************************************************/

.kamokuritable td {
	vertical-align: top
}
.kamokuritable td.leftcell {
	padding-right: 10px
}
.kamokuritable td.rightcell {
	padding-left: 10px
}
.textindent-25 {
	display: block;
	padding-left: 25px;
	text-indent: -25px;
	margin-bottom: 0px
}



/* 在学生ツール
***********************************************************************************************************************/
#main ul#student{
	list-style:none;
	margin:9px 0 0;
	padding:0 0 9px;
	font-size:1.4em;
	line-height:1.2em;
	border-bottom:2px solid #e0e0e0;
	position:relative;
}
#main ul#student li{
	margin:10px 9px 0px 0;
	width:226px;
	border-radius:4px;
	box-shadow:0 1px 4px #999;
	float:left;
	position:relative;
	background-image:url(../images/bg_student.gif);
	background-position:0 center;
	background-repeat:no-repeat;
	padding:4px;
}
#main ul#student li a{
	display:block;
	padding:10px 10px 0px 8px;
	background-position:left center;
	background-repeat:no-repeat;
	border-left:4px solid #998aa7;
}

#main ul#student2{
	clear:both;
	list-style:none;
	margin:0;
	padding:0;
	font-size:1.4em;
	line-height:1.2em;
	position:relative;
}
#main ul#student2 li{
	margin:10px 9px 0px 0;
	width:226px;
	border-radius:4px;
	box-shadow:0 1px 4px #999;
	float:left;
	position:relative;
	background-image:url(../images/bg_student.gif);
	background-position:0 center;
	background-repeat:no-repeat;
	padding:4px;
}
#main ul#student2 li a{
	display:block;
	padding:10px 10px 0px 8px;
	background-position:left center;
	background-repeat:no-repeat;
	border-left:4px solid #998aa7;
}

#tabcontents{
	margin:30px 0;
	clear:both;
}
#main #tabcontents ul{
	list-style:none;
	margin:10px 0 0 auto;
	padding:0;
	font-size:1.2em;
	line-height:1.2em;
	width:250px;
}
#main #tabcontents ul li{
	float:left;
	margin:0 0 0 20px;
	display:inline;
}
#main #tabcontents ul li a{
	background-image: url(../images/icon_arrow01.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 14px;
}

#main #tabcontents ul#tab{
	font-size:1.2em;
	line-height:1.2em;
	margin:0;
	padding:0;
	list-style:none;
	width:auto;
	position:relative;
}
#main #tabcontents ul#tab li{
	font-weight:bold;
	color:#fff;
	background-color:#b4b4b4;
	float:left;
	margin:0 5px 0 0;
	padding:7px 12px;
	border-radius:3px 3px 0 0;
	cursor:pointer;
	position:relative;
}
#main #tabcontents ul#tab li.select{
	background-color:#9f7dc3;
}

#main #tabcontents .content_wrap p{
	text-align:right;
	margin:-30px 0 0;
	float:right;
}

#main #tabcontents .content_wrap ul{
	font-size:1.4em;
	line-height:1.2em;
	margin:0;
	width:auto;
	float:none;
}


#main #tabcontents .content_wrap ul li,div.special ul li{
	float:none;
	clear:both;
	display:block;
	margin:0;
	line-height:2.2em;
	background-image:url(../images/icon_arrow04.png);
	background-position:10px 0.7em;
	background-repeat:no-repeat;
	padding:0 0 0 30px;
}


#main #tabcontents .content_wrap ul li a,div.special ul li a{
	background:none;
	padding:0;
}
#main #tabcontents .content_wrap ul li.even,div.special ul li.even{
	background-color:#ece9f1;
}

#main #tabcontents .content_wrap ul li a.window,div.special ul li a.window{
	background-image:url(../images/icon_window.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding:0 16px 0 0;
}
div.special ul{margin-left:0.5em;}
div.special ul li{line-height:1.5em;	background-position:10px 0.5em;}
div.special ul li span.date{display:block;font-size:0.8em;line-height: 2.2em;margin-bottom:0.5em;}

.disnon {
  display: none;
}


#pickup{
	border:5px solid #e9d028;
	background-color:#fff8e2;
	padding:7px 10px;
}
#pickup h5{
	margin:0;
}
#main #pickup ul{
	margin:0 0 0 10px;
	line-height:1.6em;
	font-size:1.4em;
	padding:0;
	list-style:none;
}
#main #pickup ul li{
	margin:12px 0;
	background-image:url(../images/icon_arrow05.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 18px;
}

#abord{
	border:1px solid #cecece;
	border-radius:5px;
	position:relative;
	background-color:#f2f2f2;
	margin:0px 0;
}
#abord p{
	background-color:#a6a6a6;
	color:#fff;
	font-weight:bold;
	font-size:1.2em;
	margin:0;
	padding:10px 13px;
	border-radius:4px 4px 0 0;
}
#abord ul{
	list-style:none;
	margin:0;
	padding:10px;
	font-size:1.2em;
	line-height:1.4em;
}
#abord ul li{
	background-image:url(../images/icon_arrow05.gif);
	background-position:0 0.2em;
	background-repeat:no-repeat;
	padding: 0 0 0 20px;
	margin:3px 0;
}





/* 旧サイトのmodule.cssを移管
***********************************************************************************************************************/
/*------------------------------------------------------------
  Common Class
------------------------------------------------------------*/
.voiceNav {
	position: absolute;
	left: -9999px;
	clear: both;
}
.swapImg {
}
.db {
	display: block;
}
.fc {
	clear: both;
}
/*------------------------------------------------------------*/
/* Lead */
.mod_lead_l {
	margin: 0.4em 0 1.6em 0;
	padding: 0 0 3px 0;
	background-position: left bottom;
	background-repeat: no-repeat;
}
body#popupmap .mod_lead_l {
	margin: 1em 0 1.6em 0;
	padding: 0 0 3px 0;
	/*	background-image:url(../images/mod_ll_line2.gif);
	background-position:left bottom;
	background-repeat:no-repeat;*/
	border-left: solid 30px #660099;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 140%;
}
/*--  modified by k --*/
/*------------------------------------------------------------*/
/* List */
.mod_pageList3 {
	width: 560px;
}
.mod_pageList3 dl, .mod_pageList ul.pageList {
	margin: 0 0 1.6em 0;
}
.mod_pageList3 dt {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 15px;
	background-image: url(../images/cursor_b.gif);
	background-position: 0 6px;
	background-repeat: no-repeat;
}
.mod_pageList3 dd {
	padding: 0 0 0 15px;
	color: #666;
}
.mod_pageList3 ul {
	margin: 0 0 1.6em 0;
}
.mod_pageList3 ul ul, .mod_pageList2 dl ul {
	margin: 0 0 0 -1em;
}
.mod_pageList3 li {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_b_s.gif);
	background-position: 20px 6px;
	background-repeat: no-repeat;
}
.mod_pageList2 {
	width: 700px;
}
.mod_pageList2 dl, .mod_pageList ul.pageList {
	margin: 0 0 1.6em 0;
}
.mod_pageList2 dt {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 15px;
	background-image: url(../images/cursor_b.gif);
	background-position: 0 6px;
	background-repeat: no-repeat;
}
.mod_pageList2 dd {
	padding: 0 0 0 15px;
	color: #666;
}
.mod_pageList2 ul {
	margin: -0.5em 0 1.6em 0;
}
.mod_pageList2 ul ul, .mod_pageList2 dl ul {
	margin: 0 0 0 -1em;
}
.mod_pageList2 li {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_b_s.gif);
	background-position: 20px 6px;
	background-repeat: no-repeat;
}
.mod_pageList {
	width: 100%;
}
.mod_pageList .lc {
	width: 48%;
	padding: 0 16px 0 0;
	margin: 0;
	float: left;
}
.mod_pageList .rc {
	width: 48%;
	padding: 0 0 0 0px;
	margin: 0;
	float: right;
	text-align: left;
}
.mod_pageList .dbc {
	padding: 0 0 0 0px;
	margin: 0;
	float: left;
	text-align: left;
}
.mod_pageList dl, .mod_pageList ul.pageList {
	margin: 0 0 1.6em 0;
}
/*20090414に鈴木先生の指示で書き換えたもの*/
.mod_pageList dl {
	font-size: 1.4em;
}
.mod_pageList dt {
	margin: 0.65em 0 0.2em 0;
	padding: 1px 1px 1px 16px;
	background-image: url(../images/cursor_b.gif);
	background-position: 3px 6px;
	background-repeat: no-repeat;
	/*20120215 by K リスト表示の枠・フォントサイズ修正	border:solid 1px #CCCCFF; */
	border: none;
	/*	font-size:1.4em;*/
	color: #333
}
.mod_pageList table dt {
	font-size: 1em;
}
.mod_pageList dd {
	/*	font-size:1.4em;*/
	line-height: 1.6em;
}
.mod_pageList table dd {
	font-size: 1em;
}
.mod_pageList dd ul {
	font-size: 1em;
	line-height: 1.6em;
}
.mod_pageList dt a:link, .mod_pageList dt a:visited { /*	text-decoration:underline;*/
	text-decoration: none;
}
.mod_pageList dt a:hover, .mod_pageList dt a:active {
	text-decoration: underline; /*	text-decoration:none;*/
}
/*
20090414に鈴木先生の指示で書き換える前のもの
を，枠線だらけになるのを回避するために使う*/
.mod_pageList.noboder dt, .mod_pageList dt.noboder {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 15px;
	background-image: url(../images/cursor_b.gif);
	background-position: 0 6px;
	background-repeat: no-repeat;
	border: none
}
/*枠線付きdtの下位項目のようにulを付ける場合*/
dl.ulset {
	margin-top: 0px;
	margin-bottom: 1em
}
ul.dtset {
	margin-top: 0.5em
}
/*.mod_pageList dt.noboder a:link, .mod_pageList dt.noboder a:visited {
	text-decoration:underline;
}
.mod_pageList dt.noboder a:hover, .mod_pageList dt.noboder a:active {
	text-decoration:none;
}
ここまで*/

.mod_pageList ul a:link, .mod_pageList ul a:visited {
	text-decoration: none;
}
.mod_pageList ul a:hover, .mod_pageList ul a:active {
	text-decoration: underline;
}
.mod_pageList dd {
	padding: 0 0 0 0;
}
/*なんか変な指定（IE６で上部が隠れてしまう恐れあり*/
.mod_pageList ul {
	margin: -0.5em 0 1.6em 0;
	/* 20120215 by K リスト表示の行間調整追加*/
	line-height: 1.3em;
}
.mod_pageList ul ul, .mod_pageList dl ul {
	margin: 0 0 0 -1em;
}
/*変な指定ここまで*/

.mod_pageList li {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_b_s.gif);
	background-position: 20px 6px;
	background-repeat: no-repeat;
}
.mod_pageList li strong.on {
	color: #803A89;
}
/* ---- modified by k ------- */
.mod_pageList li.dept1 {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_dept_1.gif);
	background-position: 18px 2px;
	background-repeat: no-repeat;
}
.mod_pageList li.dept2 {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_dept_2.gif);
	background-position: 18px 2px;
	background-repeat: no-repeat;
}
.mod_pageList li.dept3 {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_dept_3.gif);
	background-position: 18px 2px;
	background-repeat: no-repeat;
}
.mod_pageList li.dept4 {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_dept_4.gif);
	background-position: 18px 2px;
	background-repeat: no-repeat;
}
.mod_pageList li.dept5 {
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_dept_5.gif);
	background-position: 18px 2px;
	background-repeat: no-repeat;
}
.mod_pageList img.icon1 {
	margin: 0 0 0 6px;
	vertical-align: text-bottom;
}
.mod_numberList {
	margin: 1.6em 0 1.6em 1.8em;
}
.mod_numberList li {
	margin: 0;
	list-style-type: decimal;
}
.mod_subjectList {
	margin: 1.6em 0 1.6em 0;
}
.mod_subjectList li {
	margin: 0;
	padding: 0 0 0 1em;
	background-image: url(../images/mod_dl_icon.gif);
	background-position: 2px 7px;
	background-repeat: no-repeat;
}
.mod_blankLinkList {
	margin: 1.6em 0 1.6em 0;
}
.mod_blankLinkList li {
	margin: 0.4em 0 0.4em 1em;
	padding: 0 0 0 15px;
	background-image: url(../images/cursor_b_s.gif);
	background-position: 0 4px;
	background-repeat: no-repeat;
}
.mod_pdfLinkList {
	margin: 1.6em 0 1.6em 0;
}
.mod_pdfLinkList li {
	margin: 0.4em 0 0.4em 1em;
	padding: 0 0 0 15px;
	background-image: url(../images/mod_pll_icon.gif);
	background-position: 0 3px;
	background-repeat: no-repeat;
}
.mod_pdfLinkList li.sub1 {
	margin: 0.4em 0 0.4em 1em;
	padding: 0 0 0 15px;
	background-image: url(../images/cursor_b_s.gif);
	background-position: 0 3px;
	background-repeat: no-repeat;
}
/*------------------------------------------------------------*/
/* Page Division */
.mod_pageDiv {
	position: relative;
	width: 700px;
}
.mod_pageDiv .lc {
	width: 325px;
	padding: 0 10px 0 0;
	float: left;
	margin: 0;
}
.mod_pageDiv .rc {
	float: right;
	width: 325px;
	padding-left: 0 0 0 10px;
	text-align: left;
	margin: 0;
}
/*------------------------------------------------------------*/
/* Page Division2 */
.mod_pageDiv2 {
	position: relative;
	width: 760px;
}
.mod_pageDiv2 .lc {
	width: 361px;
	padding-right: 10px;
	float: left;
}
.mod_pageDiv2 .rc {
	float: right;
	width: 361px;
	padding-left: 10px;
	text-align: left;
}
/*------------------------------------------------------------*/
/* Image List */
#main .mod_imgList_3col {
	/*	position:relative;
	width:560px;
	margin:1.6em 0 1.6em 0;*/
	position: relative;
	width: 580px;
	margin: 1.6em 0 1.6em 0;
}
#main .mod_imgList_3col div {
	width: 190px;
	float: left;
	margin: 1px;
}
#main .mod_imgList_3col .box_e {
	line-height: 1.5em;
	font-size: 1.2em;
}
/* Image * Text */
#main .imgright .image {
	float: right;
}
#main .imgright .image img {
	margin: 0px 0px 7px 7px;
}
#main .imgleft .image {
	float: left;
}
#main .imgleft .image img {
	margin: 0px 7px 7px 0px;
}
#main .clr, #sitemap .clr {
	clear: both;
}
.aboutMessage .image {
	text-align: center;
	margin: 0;
}
/*------------------------------------------------------------*/
/* Table */
.mod_dataTable {
	margin: 0.5em 0 1.6em 0;
}
.mod_dataTable caption {
	margin: 0 0 0 0;
	text-align: left;
}
.mod_dataTable table {
	width: 100%;
	border-top: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
}
.mod_dataTable th {
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	background-color: #fefaed;
}
.mod_dataTable td {
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-bottom: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;/**/
	vertical-align: top;
}
.mod_dataTable td table {
	width: auto;
	margin: 0.2em 0 0.2em 0;
}
.mod_dataTable td table th {
	background-color: #e7edf5;
}
.mod_dataTable td table td {
}
.mod_dataTable td ul {
	font-size: 1em;
}
/*------------------------------------------------------------*/
/* Other */
#rightColum .mod_info {
	position: relative;
	width: 300px;
	margin: 2em 0 1em 0;
	padding: 8px;
	border: 1px solid #dbdbdb;
	background-color: #fefaec;
	font-size: 1.4em;
}
#rightColum .mod_rss {
	position: relative;
	width: 206px;
	margin: 0 0 1.6em 0;
}
#rightColum .mod_info ul {
	margin: 0 0 -1em;
	padding: 0;
	display: inline;
}
#rightColum .mod_info ul li {
	display: inline;
	margin: 0.4em 0 0 0;
	padding: 0 0 0 30px;
}
#rightColum .mod_info p {
	margin: 0 0 0.5em 0;
}
#rightColum .mod_rss .icon1 {
	position: absolute;
	top: 0;
	left: 150px;
}
#rightColum .mod_rss p {
	width: 170px;
	margin: 0;
}
#rightColum .mod_plugin {
	position: relative;
	width: 600px;
	margin: 1.6em 0 1.6em 0;
}
#rightColum .mod_plugin .nav1 {
	position: absolute;
	left: 0;
	width: 112px;
}
#rightColum .mod_plugin p {
	margin: 0 0 0 124px;
}
#rightColum .rc .topics_box {
	margin: 0.5em 0 1em 0;
	/*margin:0.5em 0 2em 0;
	20090626トップページのトピックス下のマージンを少し詰めている*/
	background-image: url(../../images/topicsbox_bg.gif);
	background-repeat: repeat-y;
	background-color: #FEFAEC;
}
#rightColum .topics_box ul.topicsList {
	padding: 0;
	margin: 0.4em 1em;
}
#rightColum .topics_box ul.topicsList li {
	padding: 0px 0px 0px 10px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: 0 6px;
	background-image: url(../../images/topics_list.gif);
}
#rightColum .topics_box ul.topicsList2 {
	padding: 0;
	margin: 0.4em 0.4em 0.4em 0.8em;/*margin: 0.4em 1em ;　一時的に幅拡張*/
}
#rightColum .topics_box ul.topicsList2 li {
	padding: 0px 0px 0px 15px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: 0 6px;
	background-image: url(../../images/topics_list2.gif);
}
#rightColum .topics_box .topicsHr {
	padding: 0 13px 0 13px;
}
.totop {
	text-align: right;
	margin: 20px 0px 40px 0px;
	clear: both;
}
#topics_area {
	width: 560px;
	background-image: url(../images/topicsbox_wide_bg.gif);
	background-repeat: repeat-y;
	background-position: left;
}
#topics_area .title {
	margin: 0 0 0.6em 19px;
	padding: 1px 0 1px 6px;
	border-left: 4px solid #64107d;
	color: #64107d;
	background-color: #fefaed;
}
#topics_area li {
	margin: 0 0 0.2em 19px;
	padding: 0 0 0 15px;
	background-image: url(../images/cursor_b.gif);
	background-position: 0 6px;
	background-repeat: no-repeat;
}
/* Campus Map */
table#mapEx {
	float: right;
	vertical-align: top;
	padding: 0;
	margin: 0 5px 15px 0;
}
#popupmap table#mapEx {
	float: left;
	vertical-align: top;
	padding: 0;
	margin: 0 0 15px 0;
}
#campusMap {
	float: left;
	vertical-align: top;
	width: 367px;
	height: 859px;
}
.campus_List {
	margin: 20px 0 20px 0;
	clear: both;
}
.popup {
	padding: 0.4em 0 0 0.3em;
}
.rc {
	width: 550px;
	padding-left: 0;
	float: right;
	text-align: left;
	margin-bottom: 17px;
}
ul.popupmap {
	margin: 0.5em 0 0 -1em;
	padding: 0;
}
ul.popupmap li {
	display: inline;
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_b_s2.gif);
	background-position: 20px 6px;
	background-repeat: no-repeat;
}
div#popupmapContent ul.popupmapBt {
	margin: 20px 0 5px -1em;
	padding: 0;
}
div#popupmapContent ul.popupmapBt li {
	display: inline;
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: none;
}
div#popupmapContent .img {
	margin: 0;
	padding: 0;
	clear: both;
}
modified by k  div#popupmapContent .rc {
	text-align: right;
}
.llist, div.campus_list .llist {
	width: 340px;
	padding: 0;
	float: left;
	margin: 0 15px 60px 0;
}
.rlist, div.campus_list .rlist {
	width: 340px;
	padding: 0;
	float: right;
	margin: 0 0 60px 0;
}
table.list {
	width: 330px;
}
table.list td {
	background-color: #F2F1EC;
	padding: 2px 5px 2px 5px;
}
table.list td.area {
	width: 2em;
}
table.list td.coord {
	width: 5em;
}
table.list th {
	background-color: #F2F1EC;
	padding: 2px 5px 2px 5px;
	font-weight: normal;
}
.title {
	margin: 1em 0 3px 0;
	padding: 0.4em 0 0.4em 20px;
	background-color: #ffffff;
	background-image: url(../images/mod_ml_bg.gif);
	background-position: 2px 8px;
	background-repeat: no-repeat;
	border: none;
	font-weight: bold;
}
/* About Message */
.aboutMessage .lc {
	width: 510px;
	padding-right: 5px;
	float: left;
}
.aboutMessage .rc {
	width: 180px;
	padding-left: 5px;
	float: right;
	text-align: left;
	margin-bottom: 0;
}
.aboutMessage h3 {
	margin: 1.6em 0 0.6em 0;
	padding: 1px 0 2px 6px;
	border-left: none;
	color: #362E2B;
	background-image: url(../images/line.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	font-size: 1.2em;
}
.aboutMessage dl.aboutmessage {
	margin: 0;
	width: 175px;
}
/* --- modified by k --- */
.aboutMessage dl.aboutmessage dt {
	margin: 0.2em 0 0 0;
	/*	padding:0 0 0.4em 0;*/
	padding: 0 0 0.4em 0;
	background-color: none;
	background-image: none;
	border: none;
	font-weight: lighter;
	color: #EB6100;
	width: 170px;
}
.aboutMessage dl.aboutmessage dd {
	/*	margin:0 0 3px 0;*/
	margin: 0 0 0px 0;
	padding: 0 0 0px 0;
	background-color: none;
	background-image: none;
	text-align: left;
	width: 175px;
}
/* --- modified by k ---- */
.noprint {
	visibility: hidden
}
.procurement table tr td {
	padding: 2px;
}
.procurement table tr td.date {
	text-align: center;
}
/* --- modified by BB  GoogleMap---- */
#popupmapContent .g-icon {
	margin: 0 5px 0 0;
}
#popupmapContent .urlbox {
	margin-top: 1em;
	background-color: #F0EEF5;
	border: 1px solid #D8D8EA;
	padding: 10px;
}
#popupmapContent .urlbox .url {
	margin-top: 0.2em;
	background-color: #FFFFFF;
	width: 530px;
	border: 1px solid #D8D8EA;
	padding: 3px;
}
/*------------------------------------------------------------*/
/* Staffs */
#staff_list {
}
#staff_list ul li {
	width: 260px;
	padding: 0 15px 20px 0px;
	float: left;
}
#staff_list li td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}
/*------------------------------------------------------------*/
/* President */
#president_list {
}
#president_list ul li {
	width: 170px;
	padding: 0 15px 20px 0px;
	float: left;
}
#president_list li td {
	text-align: center;
}
/*------------------------------------------------------------*/
/*写真*/
/*osd-newsに利用しているが何故かこれのみ不都合。幅が微妙に異なる？
.photoboxwrap{
	display:block;
	float:left;
	padding-bottom:25px
}*/
.photobox {
	width: 180px;
	float: left;
	margin-right: 7px
}
.photobox_nomargin {
	width: 180px;
	float: left;
}

/*------------------------------------------------------------*/
/**/
@charset "shift_jis";
.kigen {
	display: none;
}
.new {
	color: #ff0000;
	font-weight: bold;
	margin-right: 5px;
}
.dt-indent dt {
	margin-left: 15px
}
.dt-indent dd {
	margin-left: 25px
}
/*アイコンなどの左あきを制御*/
.left5 {
	margin-left: 5px
}
.left3 {
	margin-left: 3px;
	margin-top: 0.45em;
}
.lr3 {
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0.45em;
}
/*ナンバーリストの2ケタ*/
.mod_numberList.hutaketa {
	margin: 1.6em 0 1.6em 3.2em;
}
.mod_numberList.hutaketa li {
	margin: 0.8em 0 0.8em 0;
	list-style-type: decimal;
}
/*春日プラザ追加に伴う*/
ul.popupmap.tsukuba li {
	display: inline;
	margin: 0 0 0.2em 0;
	padding: 0 0 0 30px;
	background-image: url(../images/cursor_b_s2.gif);
	background-position: 20px 6px;
	background-repeat: no-repeat;
	float: left
}
/**/
#calender {
	clear: both;
	width: 759px;
	margin: 0px auto 30px;
	background-image: url(../../images/bg_calender.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	padding: 0px 0px 14px 0px;
}
#calender #calender_in {
	background-image: url(../../images/bg_calender_side.gif);
	background-position: 0px 0px;
	background-repeat: repeat-y;
}
#calender p.title {
	margin: 0px;
}
#calender .inner {
	position: relative;
	padding: 15px 0px 0px 0px;
}
#calender table {
	border: 1px solid #999;
	width: 100%;
}
#calender table th {
	border: 1px solid #999;
	text-align: center;
	padding: 15px 0px;
	color: #333333;
	background-color: #f6f0e0;
}
#calender table th.sun {
	background-color: #e70012;
	color: #FFF;
}
#calender table th.sta {
	background-color: #6ebbe9;
	color: #FFF;
}
#calender table td {
	border: 1px solid #999;
	width: 14%;
	vertical-align: top;
	padding: 4px;
	font-size: 90%;
}
#calender table td.focus {
	background-color: #ffe9a5;
}
#calender table td p.item {
	margin: 0.5em 0 0.5em 0;
	background-color: #FFFFCC;
	border: 1px solid #FFccCC;
	padding: 5px;
}
#calender p#print {
	position: absolute;
	top: 12px;
	margin: 0px;
	right: 0px;
	_right: 14px;
	font-size: 1px;
	line-height: 0;
	padding: 0px;
}
#calender .inner table#month {
	border: none;
	width: 266px;
	margin: 0px auto 15px;
	font-size: 1.4em;
}
#calender .inner table#month td {
	border: none;
	padding: 0px;
	width: auto;
	text-align: center;
	font-weight: bold;
}
#calender .inner table#month td.icon {
	width: 47px;
	padding: 0px;
}
/*旧サイトのmodule.cssここまで*/



/* 旧サイトのscreen.cssを移管（一部分のみ）
***********************************************************************************************************************/
/*------------------------------------------------------------
  Init HTML
------------------------------------------------------------*/
li {
	list-style-type: none;
}
/*------------------------------------------------------------*/
/* Staffs */
table.layout {
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin-bottom: 20px
}
table.layout th, table.layout td {
	font-weight: normal;
	border: none;
	vertical-align: top;
	padding-bottom: 3px;
}
table.layout_c {
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin-bottom: 20px
}
table.layout_c th, table.layout_c td {
	font-weight: normal;
	border: none;
	vertical-align: top;
	padding-bottom: 3px;
	text-align: center;
}
/*旧サイトのscreen.cssここまで*/
