/*==========================================================================
NORMALIZE
==========================================================================*/
hr{
    border-top-width: 2px;
}
/*==========================================================================
SCAFFOLDING
==========================================================================*/
body.menu-fixed{
    padding-top: 50px;
}
/*==========================================================================
TYPOGRAPHY
==========================================================================*/
.lead{
      font-weight: 300;
}
.lead strong{
    font-weight: 500;
}
/*Headings*/
h1 a, .h1 a, h1 a:hover, h1 a:focus, .h1 a:hover, .h1 a:focus{
    color: rgba(102, 102, 102, 1);
}
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
        color: rgba(102, 102, 102, 1);
        }
h2 a, .h2 a, h2 a:hover, h2 a:focus, .h2 a:hover, .h2 a:focus,
h3 a, .h3 a, h3 a:hover, h3 a:focus, .h3 a:hover, .h3 a:focus,
h4 a, .h4 a, h4 a:hover, h4 a:focus, .h4 a:hover, .h4 a:focus,
h5 a, .h5 a, h5 a:hover, h5 a:focus, .h5 a:hover, .h5 a:focus,
h6 a, .h6 a, h6 a:hover, h6 a:focus, .h6 a:hover, .h6 a:focus{
    color: rgba(102, 102, 102, 1);
}
/*==========================================================================
BUTTONS
==========================================================================*/
/*Base styles*/
.btn{
    border-radius: .1875em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn:focus,
.btn:hover,
.btn:active,
.btn.active,
.open > .btn{
        box-shadow: none;
    }
.btn-default,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary[data-toggle="dropdown"]{
        color: rgba(51, 51, 51, 1);
        background-color: rgba(255, 255, 255, 1);
    border-color: rgba(221, 221, 221, 1);
}
.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.open > .btn-default[data-toggle="dropdown"]{
        color: rgba(255, 255, 255, 1);
        background-color: rgba(138, 149, 158, 1);
    border-color: rgba(138, 149, 158, 1);
}
/*==========================================================================
FORMS
==========================================================================*/
/*Input group*/
.input-group-addon{
    border-radius: .1875em;
}
.input-group-addon:first-child,
.input-group-btn:first-child .btn{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-addon:last-child,
.input-group-btn:last-child .btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*=========================================================================
COMPONENT : BADGE
=========================================================================*/
.nav .badge,
.media-heading .badge{
    position: relative;
    margin-left: calc(5px + .5rem);
}
.nav .badge:before,
.media-heading .badge:before{
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -5px;
    content: "";
    border: 5px solid transparent;
    border-left: 0;
}
.nav .badge:not([class*="bg-"]):before,
.media-heading .badge:not([class*="bg-"]):before{
    border-right-color: rgba(138, 149, 158, 1);
}
.nav .badge.bg-warning:before,
.media-heading .badge.bg-warning:before{
    border-right-color: rgba(255, 152, 0, 1);
}
/*=========================================================================
COMPONENT : BTN GROUP
=========================================================================*/
.btn-group .btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(n+2):not(:last-child){
    border-radius: 0;
}
.btn-group .btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*=========================================================================
COMPONENT : CATEGORIES
=========================================================================*/
.categories{
    padding-bottom: 1.42857143rem;
    border-bottom: 2px solid rgba(221, 221, 221, 1);
}
/*=========================================================================
COMPONENT : FLEX TABLE
=========================================================================*/
.table-flex-heading{
    color: rgba(118, 118, 118, 1);
}
/*=========================================================================
COMPONENT : INTRODUCTION
=========================================================================*/
.introduction{
    font-size: 1.15rem;
    font-weight: 300;
}
/*=========================================================================
COMPONENT : MEDIA LIST
=========================================================================*/
.media-list:not([data-plugin="comments"]) .media{
    background-color: rgba(238, 238, 238, 1);
            border: 1px solid rgba(221, 221, 221, 1);
    }
.media-list[data-plugin="comments"] .media:not(:last-child){
    padding-bottom: 1.42857143rem;
    border-bottom: 2px solid rgba(221, 221, 221, 1);
}
.media-list:not([data-plugin="comments"]) .media-object{
    margin-right: 0;
}
.media-blog .media-object,
.media-thumbnails .media-object{
    margin-bottom: 0;
}
.media-list:not([data-addon="album"]) .media-object:last-child,
.media-list:not([data-plugin="comments"]) .media-body{
    padding: 10px;
}
.media-heading{
        font-size: 1.2rem;
}
.media-heading,
.media-heading a{
    color: rgba(102, 102, 102, 1);
}
.media-heading,
.media-subheading,
.media-content,
.media-body [data-role="price"]{
    margin-bottom: calc(1.42857143rem / 2);
}
.media-infos{
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: calc(1.42857143rem / 2);
    font-size: .9rem;
    color: rgba(118, 118, 118, 1);
}
.media-infos > li + li:before{
    padding: 0 5px 0 8px;
    content: "\f111";
    font-family: FontAwesome;
    font-size: .25rem;
    vertical-align: middle;
}
.media-infos > [data-role="comment"]{
    -webkit-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
    text-align: right;
}
.media-infos > [data-role="comment"]:before{
    display: none;
}
.media-infos > li:not([data-role="comment"]) a{
    color: rgba(118, 118, 118, 1);
}
.media-thumbnails .media-body{
    text-align: center;
}
.media-object .badge-new,
.media-object .badge-sale{
    display: block;
    height: 100px;
    width: 100px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
}
.media-object .badge-new span,
.media-object .badge-sale span{
    display: block;
    position: relative;
    top: 18px;
    left: -30px;
    width: 140px;
    padding: 5px 0;
    background-color: rgba(255, 152, 0, 1);
    color: rgba(255, 255, 255, 1);
    transform: rotate(-45deg);
    z-index: 2;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0,0,0,.3);
}
.media-object .badge-sale span{
    top: 20px;
    left: -4px;
    background-color: rgba(244, 67, 54, 1);
    transform: rotate(45deg);
}
.media-object > a > img{
    transition: all 0.4s ease;
    backface-visibility: hidden;
}
.media-object:hover > a > img{
    transform: scale(1.2);
}
.media-date{
    position: absolute;
    top: 15px;
    right: 15px;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: rgba(138, 149, 158, 1);
}
.media-date span{
    display: block;
    line-height: 14px;
}
.media-date .month{
    font-size: 11px;
}
/*=========================================================================
COMPONENT : NAVBAR
=========================================================================*/
.navbar-top{
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
        }
.navbar-top:not(.navbar-fixed-top){
    position: relative;
    z-index: 1000;
}
.navbar-top .container{
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
    height: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.navbar-top .container:before,
.navbar-top .container:after{
    display: none;
}
.navbar-top .navbar-toggle,
.navbar-top .navbar-nav a{
    color: rgba(153, 153, 153, 1);
}
.navbar-top .navbar-toggle:hover,
.navbar-top .navbar-nav a:hover,
.navbar-top .navbar-toggle:focus,
.navbar-top .navbar-nav a:focus,
.navbar-top .navbar-nav .active > a,
.navbar-top .navbar-nav .open > .subnav-toggle{
        color:rgba(255, 255, 255, 1);
            background-color:rgba(153, 153, 153, 1);
        text-decoration: none;
}
.navbar-header{
    height: 100%;
    overflow: hidden;
    transition: 240ms;
}
.navbar-header:after,
.navbar-header:before{
    display: none;
}
.navbar-top .brand:not(.hidden-phone){
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center;
    align-items: center;
}
.navbar-top .brand{
    position: relative;
    height: 100%;
    padding: 5px 0;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    transition: 240ms;
}
.navbar-top .brand img{
    max-height: 100%;
}
.navbar-top .brand img:not(.visible-desktop) + span{
    margin-left: 5px;
}
/*Submenus*/
.navbar-top .subnav-menu{
    background-color: rgba(0, 0, 0, 1);
}
/*=========================================================================
COMPONENT : NAVIGATION
=========================================================================*/
.nav > li > a{
    transition: 240ms;
}
.nav-list li:not(:last-child){
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}
.nav-list .subnav-menu{
    border-top: 1px solid rgba(221, 221, 221, 1);
}
.nav-list > li > a:hover,
.nav-list > li > a:focus{
    background-color: rgba(238, 238, 238, 1);
}
.nav-list .active > a{
    text-decoration: none;
    background-color: rgba(238, 238, 238, 1);
}
/*Submenus*/
.open > [data-toggle="subnav"]{
    background-color: rgba(238, 238, 238, 1);
    text-decoration: none;
}
/*=========================================================================
COMPONENT : TAGLINE
=========================================================================*/
.tag-line{
    margin-bottom: 0.714285715rem;
}
.tag-line > a{
    position: relative;
    padding: 4px 4px 4px 8px;
    margin: 0 15px 0.714285715rem 0;
    background: rgba(238, 238, 238, 1);
    border-radius: .1875em 0 0 .1875em;
    border: 0;
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
    font-size: .85rem;
    overflow: visible;
}
.tag-line > a:after{
    position: absolute;
    top: 0;
    right: -10px;
    border-bottom: calc(0.714285715rem + 4px) solid transparent;
    border-left: 10px solid rgba(238, 238, 238, 1);
    border-top: calc(0.714285715rem + 4px) solid transparent;
    content: "";
    transition: 240ms;
}
.tag-line > a:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(138, 149, 158, 1);
}
.tag-line > a:hover:after{
    border-left-color: rgba(138, 149, 158, 1);
}
/*============================================================
JAVASCRIPT : FANCYBOX V2.1.5
============================================================*/
.fancybox-skin{
    padding: 0 ! important;
}
.fancybox-opened .fancybox-skin{
	box-shadow: none;
}
/*==========================================================================
LAYOUT
==========================================================================*/
/*BRAND*/
.brand{
    font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 1.2rem;
        color: rgba(33, 150, 243, 1) !important;
        }
.brand,
.brand:hover,
.brand:focus{
    text-decoration: none;
}
.brand span{
    overflow: hidden;
    text-overflow: ellipsis;
}
/*NAVBAR OVERLAY*/
#navbar-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}
/*NAVBAR BUTTONS*/
.navbar-buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-left: 10px;
}
.navbar-buttons > *:not(:first-child){
    margin-left: 10px;
}
/*NAVBAR CART*/
.navbar-cart .widget-content{
    padding: 0;
}
.navbar-cart .btn strong{
    margin-left: .5rem;
}
.navbar-cart .table-flex{
    font-size: .9rem;
}
.navbar-cart .table-flex-body{
    padding-top: 3px;
    padding-bottom: 3px;
}
.navbar-cart .cart-content,
.navbar-search form{
    position: absolute;
    top: 50px;
    padding: 10px;
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 1px solid rgba(221, 221, 221, 1);
    z-index: 1000;
}
.navbar-cart .cart-content > :last-child{
    margin-bottom: 0;
}
/*LANGS*/
.navbar-langs .dropdown-menu{
    width: 100%;
    min-width: 0;
}
/*HEADER*/
header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    position: relative;
            -webkit-align-items: center;
    align-items: center;
            -webkit-box-pack: center;
    -ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
    	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
	-webkit-flex-direction: column;
    flex-direction: column;
        overflow: hidden;
}
.navbar-top.in-header + header{
    margin-top: -50px;
    padding-top: 50px;
    }
header .container{
    position: relative;
}
header .brand{
    display: inline-block;
    position: relative;
        text-align: center;
}
header .brand img + span{
    margin-top: 1.42857143rem;
}
/*WRAPPER*/
#wrapper{
    display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-box-direction: normal;
	-ms-flex-direction: column;
    -webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}
/*MAIN*/
#main{
        padding: 1.42857143rem 10px;
    }
/*SIDEBAR*/
#sidebar{
    }
#sidebar-wrapper{
    padding: 1.42857143rem 10px;
    }
#sidebar .brand{
    text-align: center;
}
#sidebar .brand a{
    display: inline-block;
}
#sidebar .brand span{
    margin-top: 0.714285715rem;
}
.widget{
            border: 1px solid rgba(221, 221, 221, 1);
        overflow: hidden;
}
.widget:not(:last-child){
        margin-bottom: 1.42857143rem;
}
.widget-content{
    padding: 10px;
}
.widget-content > :last-child{
    margin-bottom: 0;
}
.widget-title{
        padding: 10px;
        background-color: rgba(138, 149, 158, 1);
                margin-bottom: calc(1.42857143rem / 2);
        font-family: 'Roboto Condensed';
  	font-weight: 400;
    font-size: 1.4rem;
  	line-height: 1.25;
        color: rgba(255, 255, 255, 1);
        }
.widget-title a{
        color: rgba(255, 255, 255, 1);
    }
.widget-title a:hover,
.widget-title a:focus{
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
}
.widget-title [data-toggle="collapse"]{
    position: relative;
    display: block;
    padding-left: 1em;
}
.widget-title [data-toggle="collapse"]:before{
    position: absolute;
    left: 0;
    font-size: 1rem;
    line-height: calc(1.42857143rem * 1.25);
    content: "\f0fe";
        color: rgba(255, 255, 255, 1);
        font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.open .widget-title [data-toggle="collapse"]:before{
    content: "\f146";
}
.widget-content > .nav:not(:last-child){
    margin-bottom: calc(1.42857143rem / 2);
}
/*CONTENT*/
.view-subtitle{
    margin: 1.42857143rem 0;
    font-size: 1.714285714285714rem;
    font-family: 'Roboto Condensed';
  	font-weight: 400;
        color: rgba(102, 102, 102, 1);
          	line-height: 1.25;
}
#footer-wrapper{
    padding: 20px 0;
        background-color: rgba(0, 0, 0, 1);
            color: rgba(204, 204, 204, 1);
    }
#footer-wrapper a{
        color: rgba(255, 255, 255, 1);
    }
#footer-wrapper a:hover,
#footer-wrapper a:focus{
            text-decoration: none;
    }
#footer-frieze{
    display: block;
}
#footer-wrapper .container > :first-child{
    margin-top: 0
}
#footer-wrapper .container > :last-child{
    margin-bottom: 0
}
/*=========================================================================
ADDON : ECO
=========================================================================*/
.media-thumbnails[data-addon="eco"] .btn-primary{
    display: block;
    margin: 0 -10px -10px -10px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 0;
}
.on-sale{
	text-transform: uppercase;
	color: rgba(244, 67, 54, 1);			
}
.final-price{
    font-weight: 700;
    font-size: 1.1em;
    color: rgba(138, 149, 158, 1);
}
.item-basket .final-price{
    font-weight: 500;
    font-size: 1.7rem;
}
/*=========================================================================
ADDON : FORUM
=========================================================================*/
.table-flex[data-content*="forum-"] .table-flex-heading{
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(138, 149, 158, 1);
	text-transform: uppercase;
	border-bottom: 0;
}
/*=========================================================================
ADDON : MEMBERS
=========================================================================*/
.media-list[data-addon="members"] .media-object{
    padding-top: 5px;
}
/*=========================================================================
ADDON : PAGES
=========================================================================*/
/*COLUMN SEPARATED*/
.column-separated .column:before{
    display: block;
    position: absolute;
    top: calc(100% + 0.714285715rem - 1px);
    right: 0;
    left: 0;
    height: 2px;
    background-color: rgba(221, 221, 221, 1);
    content: "";
}
.column-separated .column:last-child:before{
    display: none;
}
/*ROW SEPARATED*/
.row-separated{
    padding-bottom: 1.42857143rem;
    border-bottom: 2px solid rgba(221, 221, 221, 1);
}
/*COLUMN & ROW HIGHLIGHTED*/
.column-highlighted .column,
.column.column-highlighted{
    padding: 10px;
    background-color: rgba(138, 149, 158, 1);
}
.column-highlighted .column-content > *,
.column.column-highlighted .column-content > *,
.row-highlighted > .row-content > *{
    color: rgba(255, 255, 255, 1);
}
.column-highlighted .column-content a,
.column.column-highlighted .column-content a,
.row-highlighted > .row-content a{
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}
/*ROW HIGHLIGHTED*/
.row-highlighted{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(138, 149, 158, 1);
}
/*LEADERBOARD*/
.column.leaderboard{
    padding: 10px;
    background-color: rgba(238, 238, 238, 1);
    border: 2px solid rgba(221, 221, 221, 1);
}
.row-container.leaderboard{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(238, 238, 238, 1);
    border: 2px solid rgba(221, 221, 221, 1);
}
.leaderboard .column-content{
    font-size: 1.15rem;
    font-weight: 300;
}
.full-row .row-container.leaderboard{
    border-right: 0;
    border-left: 0;
}
/*MUTED*/
.muted .row-content > *,
.column.muted .column-content > *{
    color: rgba(118, 118, 118, 1);
}
/*BORDERED*/
.column.bordered{
    padding: 10px;
    border: 2px solid rgba(221, 221, 221, 1);
}
@media only screen and (max-width: 480px){
    /*==========================================================================
    LAYOUT
    ==========================================================================*/
    /*HEADER*/
    header .brand img + span{
        margin-top: 0.714285715rem;
    }
}
@media only screen and (max-width: 767px){
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
    .media-list:not(.media-thumbnails):not(.media-blog):not([data-plugin="comments"]) .media-object:not(:last-child){
        margin: 10px 0 10px 10px;
    }
    .media-list:not([data-addon="blog"]):not([data-addon="guestbook"]):not([data-plugin="comments"]) .media-content{
        display: none;
    }
    .media-object .badge-new,
    .media-object .badge-sale{
        transform: scale(.75);
        transform-origin: 100% 0;
    }
    .media-object .badge-new{
        transform-origin: 0 0;
    }
    /*==========================================================================
    LAYOUT
    ==========================================================================*/
    /*CART & SEARCH*/
    .navbar-buttons .btn{
        padding: 1px 5px;
        min-width: calc(1.42857143rem + (1px *2) + 2px);
        font-size: .85rem;
    }
    .navbar-cart + .btn-primary{
        display: none;
    }
	/*=========================================================================
	ADDON : AGENDA
	=========================================================================*/
	.media-list[data-addon="agenda"] .recurring,
	.media-list[data-addon="agenda"] .media-content,
	.media-list[data-addon="agenda"] .media-infos > li:not(:first-child),
	.media-list[data-addon="agenda"] [data-role="contact"]{
		display: none;
	}
    /*=========================================================================
    ADDON : ECO
    =========================================================================*/
    .media-list[data-addon="eco"] .media-btn{
        display: none;
    }
}
@media only screen and (min-width: 768px){
    /*=========================================================================
    COMPONENT : INTRODUCTION
    =========================================================================*/
    .introduction{
        font-size: 1.3rem;
    }
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
        /*=========================================================================
    JAVASCRIPT : DATEPICKER
    =========================================================================*/
    #sidebar input[type="text"].hasDatepicker{
        width: 100%;
    }
    /*==========================================================================
    LAYOUT
    ==========================================================================*/
    /*HEADER AND SIDEBAR*/
        /*=========================================================================
    ADDON : ECO
    =========================================================================*/
    .media-list[data-addon="eco"] .btn-default{
        display: none;
    }
    /*==========================================================================
    ADDON : PAGES
    ==========================================================================*/
    /*LEADERBOARD*/
    .leaderboard .column-content{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 991px){
    /*==========================================================================
    TYPOGRAPHY
    ==========================================================================*/
    /*Headings*/
    h1, .h1{
    	font-size: 2.142857142857143rem;
    }
    h2, .h2{
    	font-size: 1.714285714285714rem;
    }
    h3, .h3{
    	font-size: 1.285714285714286rem;
    }
    h4, .h4{
    	font-size: 1rem;
    }
    /*=========================================================================
    COMPONENT : BREADCRUMB
    =========================================================================*/
    .breadcrumb{
        display: none;
    }
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
    .media-listing .media:not(:last-child){
        margin-bottom: calc(1.42857143rem / 2);
    }
    .media-overlay{
        display: none;
    }
    /*=========================================================================
    COMPONENT : NAVBAR
	=========================================================================*/
        .navbar-header{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
    }
    .navbar-top .navbar-toggle{
        float: none;
        margin-right: 5px;
    }
        .navbar-top .navbar-nav > li > a,
    .navbar-top .navbar-nav .nav > li > a{
		padding-top: 15px;
		padding-bottom: 15px;
	}
    /*Submenus*/
        /*==========================================================================
	LAYOUT
	==========================================================================*/
    /*NAV*/
    #navbar{
                background-color: rgba(0, 0, 0, 1);
            }
    #navbar:not(.drawer){
        margin: 0 -10px;
        -webkit-box-ordinal-group: 3;
    	-ms-flex-order: 3;
    	-webkit-order: 3;
    	order: 3;
        width: calc(100% + 20px);
    }
    /*CART & SEARCH*/
    .navbar-cart .cart-content,
    .navbar-search form{
        right: 0;
        left: 0;
    }
    header .brand span:not(.visible-desktop){
        display: block !important;
    }
    /*MAIN*/
    #main{
        margin: 0 -10px;
    }
    .full-row #main{
        margin: 0;
        padding-right: 0;
        padding-left: 0;
    }
    /*SIDEBAR*/
    #sidebar{
        margin: 0 -10px;
    }
    #sidebar .brand span:not(.visible-desktop){
        display: block !important;
    }
    /*CONTENT*/
    .view-subtitle{
        font-size: 1.285714285714286rem;
    }
    /*FOOTER*/
            /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    .full-row .row-container:not(.row-expanded){
        padding-right: 10px;
        padding-left: 10px;
    }
    .full-row .breadcrumb, 
    .full-row .view-title, 
    .full-row .last-update, 
    .full-row .plugins{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media only screen and (min-width: 992px){
        /*==========================================================================
    SCAFFOLDING
    ==========================================================================*/
    body.menu-fixed{
        padding-top: 80px;
    }
        /*==========================================================================
    TABLES
    ==========================================================================*/
    .view .table-flex{
        margin-bottom: calc(1.42857143rem * 2);
    }
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
    /*IN MAIN*/
    #main .media-heading{
        font-size: 1.714285714285714rem;
    }
    #main .media-subheading{
        font-size: 1.2rem;
    }
    #sidebar .media-listing .media:not(:last-child){
        margin-bottom: calc(1.42857143rem / 2);
    }
    .media-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    	display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    	-webkit-justify-content: center;
    	justify-content: center;
        color: rgba(51, 51, 51, 1);
    }
    .media-overlay:after{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 240ms;
        background-color: transparent;
        content: "";
    }
    .media-overlay > *{
        margin-top: 1.42857143rem;
        opacity: 0;
        transition: 240ms;
        z-index: 1;
    }
    .media-overlay span{
        padding: 5px;
        width: 130px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .15rem;
        border: 1px solid rgba(51, 51, 51, 1);
    }
    .media-overlay:hover > *{
        margin-top: 0;
        opacity: 1;
    }
    /*IN SIDEBAR*/
    #sidebar .media-list:not(.media-thumbnails) .media-object:not(:last-child) > a{
        margin: 10px 0 10px 10px;
    }
    /*=========================================================================
    COMPONENT : NAVBAR
    =========================================================================*/
        .navbar-top{
        height: 80px;
    }
        .navbar-top .container{
                        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        	}
    .navbar-header{
        float: none;
    }
    .navbar-top .brand.hidden-phone:not(.hidden-desktop){
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-align-items: center;
        align-items: center;
    }
    .navbar-top .brand > :last-child:not(.hidden-desktop){
        margin-right: 10px;
    }
    .navbar-top .brand > img:not(.hidden-desktop) + span{
        margin-left: 10px;
    }
    #navbar{
        position: relative;
    	float: none;
                margin-left: auto;
        	}
    #navbar-bg-fx{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
                height: 50px;
                background-color: rgba(153, 153, 153, 1);
                border-radius: 3px;
                z-index: -1;
    }
        .navbar-top .navbar-nav{
        font-size: 0;
        white-space: nowrap;
    }
    .navbar-top .navbar-nav > li{
        float: none;
        display: inline-block;
        font-size: 1rem;
    }
    .navbar-top .navbar-nav > li > a{
                                padding-top: 15px;
            padding-bottom: 15px;
                            line-height: 20px;
                        border-radius: 3px;
            }
    	.navbar-top .navbar-nav .subnav-menu{
        top: 120%;
        opacity: 0;
        	}
    .navbar-top .navbar-nav > .subnav > .subnav-menu:before{
        position: absolute;
        top: -10px;
        left: 15px;
        content: '';
        border: 10px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 1);
        border-top: 0;
    }
    .navbar-top .navbar-nav .open .subnav-menu{
        top: 100%;
        opacity: 1;
        transition: 240ms;
    }
    .navbar-top .navbar-nav .subnav.open .subnav-menu .subnav-menu{
        top: 40%;
    }
    .navbar-top .navbar-nav .subnav.open .subnav-menu .open .subnav-menu{
        top: 0;
    }
    	/*==========================================================================
	LAYOUT
	==========================================================================*/
    /*BRAND*/
        .navbar-top .brand img:not(.visible-desktop) + span{
        margin-left: 10px;
    }
    /*CART & SEARCH*/
    .navbar-cart,
    .navbar-search{
        position: relative;
    }
    .navbar-cart .cart-content,
    .navbar-search form{
        top: 70px;
        right: 0;
        width: 350px;
        border: 1px solid rgba(221, 221, 221, 1);
    }
    .navbar-cart .cart-content:before,
    .navbar-cart .cart-content:after,
    .navbar-search form:before,
    .navbar-search form:after{
        display: block;
        position: absolute;
        content: "";
    }
    .navbar-search form:before,
    .navbar-cart .cart-content:before{
        top: -10px;
        right: 10px;
        border: 10px solid transparent;
        border-top: none;
                border-bottom-color: rgba(255, 255, 255, 1);
            }
    .navbar-search form:after,
    .navbar-cart .cart-content:after{
        top: -12px;
        right: 8px;
        border: 12px solid transparent;
        border-top: none;
        border-bottom-color: rgba(221, 221, 221, 1);
        z-index: -1;
    }
    /*HEADER*/
        header{
            }
    .navbar-top.in-header + header{
        margin-top: -80px;
        padding-top: 80px;
    }
        header.visible-desktop{
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
    }
    header .brand span:not(.hidden-desktop){
        display: block !important;
    }
	/*WRAPPER*/
	#wrapper{
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
		-webkit-flex-direction: row;
		flex-direction: row;
        		-webkit-box-align: flex-start;
		-moz-box-align: flex-start;
		-ms-flex-align: flex-start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
                padding-top: 20px;
	}
    /*MAIN*/
    #main{
        -webkit-box-flex: 3 1 0%;
    	-webkit-flex: 3 1 0%;
    	-ms-flex: 3 1 0%;
    	flex: 3 1 0%;
        		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
                min-height: 70vh;
                padding: 0;
                	}
    .full-row #main{
        padding-right: 0;
        padding-left: 0;
    }
    /*SIDEBAR*/
	#sidebar{
                -webkit-box-flex: 1 1 0%;
    	-webkit-flex: 1 1 0%;
    	-ms-flex: 1 1 0%;
    	flex: 1 1 0%;
        		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
                                margin-right: 15px;
                    }
    #sidebar .brand span:not(.hidden-desktop){
        display: block !important;
    }
    #sidebar-wrapper{
                        padding: 0;
            }
    /*FOOTER*/
    #footer{
        margin-top: 40px;
    }
    /*=========================================================================
    ADDON : ECO
    =========================================================================*/
    [data-addon="eco"] .media-overlay:hover:after{
        background-color: rgba(255, 255, 255, 1);
        opacity: .9;
    }
    /*=========================================================================
    ADDON : MEMBERS
    =========================================================================*/
    .media-list[data-addon="members"] .media-object{
        padding-top: 10px;
    }
    /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    .full-row .breadcrumb, 
    .full-row .view-title, 
    .full-row .row-content, 
    .full-row .last-update, 
    .full-row .plugins{
        margin-right: auto;
        margin-left: auto;
    }
    .row-expanded .row-content{
        width: auto;
    }
    /*COLUMN SEPARATED*/
    .column-separated .column:before{
        top: 0;
        right: calc(-0.714285715rem - 1px);
        left: auto;
        width: 2px;
        height: 100%;
    }
    /*COLUMN & ROW HOVER*/
    .column-hover .column,
    .column.column-hover,
    .row-hover,
    .column-hover .column > *,
    .column.column-hover > *,
    .row-hover > .row-content > *{
        transition: 240ms;
    }
    .column-hover .column:hover,
    .column.column-hover:hover,
    .row-hover:hover{
        background-color: rgba(138, 149, 158, 1);
    }
    .column-hover .column:hover > *,
    .column.column-hover:hover > *,
    .row-hover:hover > .row-content > *{
        color: rgba(255, 255, 255, 1);
    }
    .column-hover .column:hover a,
    .column.column-hover:hover a,
    .row-hover:hover > .row-content a{
        color: rgba(255, 255, 255, 1);
        text-decoration: underline;
    }
        .full-row .row-hover,
    .full-row .row-highlighted,
    .full-row .row-container.leaderboard{
        padding-right: 0;
        padding-left: 0;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
    /*IN SIDEBAR*/
    #sidebar .media-thumbnails > .media{
        width: calc((100% - ((1.42857143rem / 3) * 3)) / 4);
        margin-bottom: calc(1.42857143rem / 3);
    }
    #sidebar .media-thumbnails > .media:not(:nth-child(4n+1)){
        margin-left: calc(1.42857143rem / 3);
    }
    /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    .full-row .breadcrumb,
    .full-row .view-title,
    .full-row .row-container:not(.row-expanded) .row-content,
    .full-row .last-update,
    .full-row .plugins{
        width: 970px;
    }
    .column-hover .column,
    .column.column-hover,
    .column-highlighted .column,
    .column.column-highlighted,
    .column.leaderboard,
    .column.bordered{
        padding: 1.42857143rem;
    }
    .row-hover,
    .row-highlighted,
    .row-container.leaderboard{
        padding: 1.42857143rem;
    }
}
@media only screen and (min-width: 1200px){
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
    /*IN SIDEBAR*/
    #sidebar .media-thumbnails > .media{
        width: 18.2%;
        width: calc((100% - ((1.42857143rem / 4) * 4)) / 5);
        margin-bottom: calc(1.42857143rem / 4);
    }
    #sidebar .media-thumbnails > .media:not(:nth-child(5n+1)){
        margin-left: calc(1.42857143rem / 4);
    }
    /*IN MAIN*/
    #main .media-list:not([data-plugin="comments"]) .media-body{
        padding: 15px;
    }
    /*==========================================================================
	LAYOUT
	==========================================================================*/
        /*SIDEBAR*/
	#sidebar{
                        margin-right: 30px;
                	}
        /*=========================================================================
    ADDON : ECO
    =========================================================================*/
    .media-thumbnails[data-addon="eco"] > .media{
        width: 23%;
		width: calc((100% - (1.42857143rem * 3)) / 4);
	}
    .media-thumbnails[data-addon="eco"] > .media:nth-child(5n+1){
    	margin-left: 1.42857143rem;
	}
	.media-thumbnails[data-addon="eco"] > .media:nth-child(4n+1){
		margin-left: 0;
	}
    .media-thumbnails[data-addon="eco"] .btn-primary{
        margin: 0 -15px -15px -15px;
    }
    /*=========================================================================
    ADDON : MEMBERS
    =========================================================================*/
    .media-list[data-addon="members"] .media-object{
        padding-top: 15px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px){
    /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    .full-row .breadcrumb,
    .full-row .view-title,
    .full-row .row-container:not(.row-expanded) .row-content,
    .full-row .last-update,
    .full-row .plugins{
        width: 1170px;
    }
    .column-hover .column,
    .column.column-hover,
    .column-highlighted .column,
    .column.column-highlighted,
    .column.leaderboard,
    .column.bordered{
        padding: calc(1.42857143rem * 1.5);
    }
    .row-hover,
    .row-highlighted,
    .row-container.leaderboard{
        padding: calc(1.42857143rem * 1.5);
    }
}
@media only screen and (min-width: 1600px){
    /*==========================================================================
	GRID SYSTEM
	==========================================================================*/
    .row{
        margin-left: calc(-1.42857143rem * 1.5);
    }
	.column{
		margin-left: calc(1.42857143rem * 1.5);
	}
    /*==========================================================================
	LAYOUT
	==========================================================================*/
    /*SIDEBAR*/
    #sidebar{
                        margin-right: 50px;
                    }
    /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    .row-container:not(:last-child){
        margin-bottom: calc(1.42857143rem * 1.5);
    }
    .full-row .breadcrumb,
    .full-row .view-title,
    .full-row .row-container:not(.row-expanded) .row-content,
    .full-row .last-update,
    .full-row .plugins{
        width: 1470px;
    }
    /*ROW SEPARATED*/
    .row-separated{
        padding-bottom: calc(1.42857143rem * 1.5);
    }
    /*COLUMN SEPARATED*/
    .column-separated .column:before{
        right: calc(-1.0714285725rem - 1px);
    }
    .column-hover .column,
    .column.column-hover,
    .column-highlighted .column,
    .column.column-highlighted,
    .column.leaderboard,
    .column.bordered{
        padding: calc(1.42857143rem * 1.75);
    }
    .row-hover,
    .row-highlighted,
    .row-container.leaderboard{
        padding: calc(1.42857143rem * 1.75);
    }
}
/*==========================================================================
ADDITIONAL CSS
==========================================================================*/
/*==========================================================================
SCAFFOLDING
==========================================================================*/
html{
  	font-size: 15px;
}
/*==========================================================================
TYPOGRAPHY
==========================================================================*/
h1, h2, h3, h4, h5{
    font-family :"Source Sans Pro", sans-serif;
    font-weight : 300;
}
h1{
    font-size: 3rem;
}
h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;  
}
h3{
    font-size: 1.8rem;
}
blockquote{
    padding: 0 0 0 15px;
    margin: 0 0 1.42857143rem;
    border-left: 5px solid rgba(0,0,0,.2);
}
/*Contextual colors*/
.text-info,
.text-info a:not(.btn),
a.text-info:hover,
a.text-info:focus,
.text-info a:not(.btn):hover,
.text-info a:not(.btn):focus{
  	color: #39b3d7;
}
.text-info a:not(.btn){
	text-decoration: underline;
}
.text-info a:not(.btn):hover,
.text-info a:not(.btn):focus{
	text-decoration: none;
}
/*==========================================================================
ALERTS
==========================================================================*/
.alert-info,
.alert-info a:not(.btn),
.alert-info a:not(.btn):hover,
.alert-info a:not(.btn):focus{
	color: #39b3d7;
}
.alert-info{
	border: 1px solid #39b3d7;
}
/*==========================================================================
USEFULL
==========================================================================*/
.affix{
	position: fixed;
}
.affix-top{
	position: absolute;
}
/*==========================================================================
BUTTONS
==========================================================================*/
.btn{
    border-radius: 3px;
}
.btn-group-large > .btn,
.btn-large{
    padding: 15px 30px;
}
.btn:not(.btn-link):focus,
.btn:not(.btn-link):hover,
.btn:not(.btn-link):active,
.btn:not(.btn-link).active,
.open:not(.btn-link) > .btn{
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
}
/**/
.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.open > .btn-default[data-toggle="dropdown"]{
    background-color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}
.btn-info:not(.btn-link){
    color: #fff;
    background-color: #5bc0de;
}
.btn-info:focus,
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.open > .btn-info[data-toggle="dropdown"]{
    background-color: #39b3d7;
}
.btn-sign{
    color: #fff;
    background-color: rgba(255, 153, 0, 1);
    border-radius: 30px;
}
.btn-sign:focus,
.btn-sign:hover,
.btn-sign:active,
.btn-sign.active,
.open > .btn-sign[data-toggle="dropdown"]{
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
}
.btn-toolbar{
    margin-top: 1.42857143rem;
    margin-bottom: 0;
}
.btn-toolbar .btn{
    margin: 0 5px 1.42857143rem;
}
/*=========================================================================
COMPONENT : BREADCRUMB
=========================================================================*/
.breadcrumb{
    font-size: .8rem;
    text-transform: uppercase;
}
.breadcrumb > li + li::before{
    content: ">";
}
/*=========================================================================
COMPONENT : INTRODUCTION
=========================================================================*/
.introduction strong{
    font-weight: 500;
}
/*=========================================================================
COMPONENT : NAVBAR
=========================================================================*/
.navbar-top .navbar-nav > .link-subscribe > a,
.navbar-top .navbar-nav > .link-connexion a:hover,
.navbar-top .navbar-nav > .link-connexion a:focus,
.navbar-top .navbar-nav > .link-connexion.active > a{
    background-color: rgba(255, 153, 0, 1);
    color: #fff;
}
.navbar-top .navbar-nav > .link-connexion  > a{
    color: rgba(255, 153, 0, 1);
}
.navbar-top .subnav-menu > li > a{
    padding: 10px;
}
/*=========================================================================
COMPONENT : NAVIGATION
=========================================================================*/
.nav-tabs {
    font-size: 1rem;
}
/**/
#sidebar .nav-list{
    counter-reset: section;
}
#sidebar .nav-list  a::before{
    background-color: rgba(255, 153, 0, 1);
    border-radius: 3px;
    counter-increment: section;
    content: counter(section, decimal);
    display: inline-block;
    height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    line-height: 18px;
    margin: 0 4px 0 0;
    vertical-align: middle;
    width: 20px;
}
/*=========================================================================
COMPONENT : PAGER
=========================================================================*/
.pager{
    margin-left: 0;
    list-style: none;
}
.pager:before,
.pager:after{
    display: table;
    content: " ";
}
.pager:after{
    clear: both;
}
.pager li{
    float: left;
}
.pager li.next{
    float: right;
}
.pager a{
    display: inline-block;
    padding: 8px 16px;
    text-decoration:none;
    border:2px solid rgba(221, 221, 221, 1);
}
.pager a:hover{
    border-bottom: 2px solid rgba(255, 153, 0, 1);
}
.pager .previous a::before,
.pager .next a::after{
    content: "◄";
    display: inline-block;
    margin-right: 5px;
}
.pager .next a::after{
    content: "►";
    margin-left: 5px;
    margin-right: 0;
}
/*=========================================================================
LAYOUT
=========================================================================*/
/*LOGIN*/
#login-form{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    padding: 20px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 0 0;
    border: 1px solid rgba(221,221,221,1);
    transition: all 240ms ease-in;
}
#login-form:hover{
    background-color: rgba(255, 255, 255, 1);
}
#login-form p{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.login-form-content input{
    padding: 10px;
    margin-bottom : 15px;
    background-color : rgba(250, 255, 189, 1);
}
.login-form-content a{
    display: inline-block;
    font-size: 0.9rem;
    margin: 5px 10px 10px 0;
}
.login-form-footer .btn-default{
    background-color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}
/*FOOTER*/
#footer-wrapper,
#footer-wrapper a{
    color: rgba(51, 51, 51, 1);
}
.navbar-bottom .navbar-nav > li > a{
    color: rgba(255, 255, 255, 1) !important;
}
/*=========================================================================
ADDON : BLOG
=========================================================================*/
.media-list[data-addon="blog"] .media{
    border-top-width: 3px;
}
.media-list[data-addon="blog"] [data-category="actualite"]{
	border-top-color: #3498db;
}
.media-list[data-addon="blog"] [data-category="actualite"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="actualite"]  a::before{
    background-color: #3498db;
}
.media-list[data-addon="blog"] [data-category="nouveaute"]{
	border-top-color: #e74c3c;
}
.media-list[data-addon="blog"] [data-category="nouveaute"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="nouveaute"]  a::before{
    background-color: #e74c3c;
}
.media-list[data-addon="blog"] [data-category="aide-a-la-creation-de-site"]{
	border-top-color: #8d708e;
}
.media-list[data-addon="blog"] [data-category="aide-a-la-creation-de-site"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="aide-a-la-creation-de-site"]  a::before{
    background-color: #8d708e;
}
.media-list[data-addon="blog"] [data-category="sites-crees-avec-e-monsite"]{
	border-top-color: #1dd2af;
}
.media-list[data-addon="blog"] [data-category="sites-crees-avec-e-monsite"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="sites-crees-avec-e-monsite"]  a::before{
	background-color: #1dd2af;
}
.media-list[data-addon="blog"] [data-category="web-design"]{
	border-top-color: #9b59b6;
}
.media-list[data-addon="blog"] [data-category="web-design"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="web-design"]  a::before{
	background-color: #9b59b6;
}
.media-list[data-addon="blog"] [data-category="e-commerce"],
.media-list[data-addon="blog"] [data-category="webmarketing"]{
	border-top-color: #34495e;
}
.media-list[data-addon="blog"] [data-category="e-commerce"] .media-date,
.media-list[data-addon="blog"] [data-category="webmarketing"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="e-commerce"]  a::before,
#sidebar .nav-list[data-addon="blog"] [data-category="webmarketing"]  a::before{
	background-color: #34495e;
}
.media-list[data-addon="blog"] [data-category="referencement-seo"]{
	border-top-color: #f1c40f;
}
.media-list[data-addon="blog"] [data-category="referencement-seo"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="referencement-seo"]  a::before{
	background-color: #f1c40f;
}
.media-list[data-addon="blog"] [data-category="services-externes"]{
	border-top-color: #0F533A;
}
.media-list[data-addon="blog"] [data-category="services-externes"] .media-date,
#sidebar .nav-list[data-addon="blog"] [data-category="services-externes"]  a::before{
	background-color: #0F533A;
}
/*=========================================================================
ADDON : DIRECTORY
=========================================================================*/
[data-addon="directory"] .media-content{
    display: none;
}
/*=========================================================================
ADDON : PAGES
=========================================================================*/
.view-pages .row-title{
    text-align: center;
}
/*MUTED*/
.muted .row-content > *,
.column.muted .column-content > *{
    color: rgba(51, 51, 51, 1);
    font-size: 1.3rem;
    text-align: center;
}
.muted .row-content > h2,
.column.muted .column-content > h2{
    font-size: 2.7rem;
    margin-bottom: 2rem;
}
/*HIGHLIGHTED*/
.column-highlighted .column,
.column.column-highlighted{
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(245,245,245,1);
}
.column-highlighted .column-content > *,
.column.column-highlighted .column-content > *,
.row-highlighted > .row-content > *,
.column-highlighted .column-content a,
.column.column-highlighted .column-content a,
.row-highlighted > .row-content a{
    color: rgba(51, 51, 51, 1);
}
/*TOKEN*/
.token .column-content{
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin: 35px 7px 10px;
    border-radius: 5px;
    border-top: 5px solid rgba(255, 153, 0, 1);
    font-style: italic;
    font-size: 1.1rem;
    padding: 20px;
    min-height: 525px;
    transition: all 240ms ease-in;
}
.token .column-content:hover{
    background-color: rgba(242,242,242,1);
}
.token .column-content:before{
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: rgba(255, 153, 0, 1);
    content: "\f10e";
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
}
/*LEADERBOARD*/
.full-row .row-container.leaderboard .column.leaderboard{
    background-color:rgba(255,255,255,1);
}
.full-row .row-container.leaderboard .column.leaderboard:hover{
    border-bottom: 2px solid rgba(255, 153, 0, 1);
}
.full-row .row-container.leaderboard .column.leaderboard a{
    text-decoration:none;
    font-size:0.92rem;
}
.full-row .row-container.leaderboard .column.leaderboard .fa{
    display: block;
    padding: 15px;
}
/*COLUMN SEPARATED*/
.column-separated .column::before {
    background-color: rgba(255, 153, 0, 1);
}
/*WHY*/
.why .column li{
    border-left: 2px solid rgba(255, 153, 0, 1);
    padding: 0 25px;
    margin-bottom: 25px;
    list-style: none;
}
.why h2,
.why h3{
    margin: 5px 0 20px 0;
}
/*WHERE*/
.where{
    margin: auto;
}
/*=========================================================================
PAGE : 404
=========================================================================*/
#view-404 .list-inline span{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    padding: 10px;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
    background-color: #ddd;
}
/*=========================================================================
PAGE : GUIDES
=========================================================================*/
.view[data-category="guides"] .media-object{
    padding-top: 10px;
}
/*=========================================================================
PAGE : OFFERS
=========================================================================*/
#offers-to-pay{
	position: relative;
	padding: 10px;
	background-color: #f3ac1e;
	color: #fff;
	border-left: 10px solid #f6871e;
}
#offers-to-pay:before{
	position: absolute;
	display: block;
	left: 100%;
	top: 50%;
	margin-top: -16px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right: none;
	border-left-color: #f3ac1e;
	content: "";
}
#offers-to-pay strong{
	display: block;
	font-size: 55px;
	line-height: 1;
}
#offers-to-pay small{
	font-size: .4em;
	font-weight: normal;
}
#offers-to-pay + p{
	margin-top: 10px;
}
/**/
#offers-basket{
	display: none;
	margin-top: 10px;
	border: 1px solid #eee;
}
#offers-basket .h4{
	margin: 0;
	padding: 5px;
	color: #fff;
	background-color: #2c5871;
}
#toggle-offers-details-btn{
	color: #fff;
}
#offers-basket-content{
	margin: 10px;
}
#offers-basket-content li{
	padding: 5px 0;
	border-bottom: 2px solid #eee;
}
#offers-basket-content li:first-child{
	padding-top: 0;
}
#offers-basket-content li:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
#offers-basket-content li a{
    display: inline-block;
	float: left;
	width: 70%;
	text-decoration: underline;
}
#offers-basket-content li a:hover{
	text-decoration: none;
}
#offers-basket-content li strong{
    display: inline-block;
	float: right;
	width: 30%;
	text-align: right;
}
#website-tools{
	padding: 10px 5px;
	background-color: #fff;
}
/**/
#offers-options .media-thumbnails{
	margin-bottom: 0;
}
#offers-options .media{
	border: 1px solid #ddd;
	background-color: #fff;
	transition: all linear 240ms;
    -webkit-align-self: flex-start;
    align-self: auto;
}
#offers-options .media.selected{
	border-color: #f5f7f8;
	background-color: #5cb85c;
}
#offers-options .fa-check{
	position: absolute;
	top: -20px;
	left: 10px;
	color: #fff;
	opacity: 0;
	transition: all linear 240ms;
}
#offers-options .media.selected .fa-check{
	top: 13px;
	opacity: 1;
}
#offers-options .media label{
	position: relative;
	height: 100%;
	padding: 10px;
	margin-bottom: 0;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.3em;
	color: #333;
	overflow: hidden;
	transition: all linear 240ms; 
}
#offers-options .media label [class*="flaticon-"]{
	margin-bottom: 10px;
}
#offers-options .media label .legend{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 0;
	right: auto;
	left: -100%;
	bottom: 0;
	padding: 10px;
	font-weight: normal;
	color: #fff;
	background-color: #5bc0de;
	z-index: 2;
	transition: all linear 240ms; 
}
#offers-options .media label.hover .legend{
	left: 0;
}
#offers-options .media.selected label{
	color: #fff;
}
#offers-options .media label input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
/**/
.offers-combinations{
	text-align: center;
}
.offers-combinations h4{
    display: inline-block;
	padding-left: 5px;
	border-left: 5px solid #f6871e;
	color: rgba(118, 118, 118, 1);
}
.offers-combinations .fa-plus-circle{
    margin: 0 1rem;
	font-size: 2rem;
	color: #999;
	vertical-align: middle;
}
/*=========================================================================
PAGE : OFFER DETAIL
=========================================================================*/
.offer-table{
	width: 100%;
}
.offer-table td{
	padding: 5px;
}
.offer-table td:nth-child(n+2){
	width: 20%;
	text-align: center;
}
/*HEADER*/
#offer-table-header{
	margin: 0 auto;
	z-index: 2;
}
#offer-table-header td{
	position: relative;
}
#offer-table-header td:first-child{
	background-color: #f5f7f8;
}
#offer-table-header h2{
	margin: 0;
	font-size: 1.8rem;
}
#offer-table-header td:nth-child(n+2){
	color: #fff;
	padding: 0;
}
#offer-table-header .arrow{
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	content: "";
	border-color: transparent;
	border-style: solid;
}
#offer-table-header td:nth-child(2n){
	background-color: #bec3c7;
}
#offer-table-header p{
	padding: 10px;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.1);
}
#offer-table-header span{
	display: block;
	padding: 10px 0;
	line-height: 1;
	font-weight: 700;
}
/*HEADER BOOKINGS*/
#offer-table-header.offer-table-bookings td:nth-child(3n){
	background-color: #e91e63;
}
#offer-table-header.offer-table-bookings td:nth-child(3n) p{
	background-color: #c2185b;
}
/*HEADER DOMAIN*/
#offer-table-header.offer-table-domain td:nth-child(2n){
	background-color: #2196f3;
}
#offer-table-header.offer-table-domain td:nth-child(2n) p{
	background-color: #1976d2;
}
/*HEADER ECO*/
#offer-table-header.offer-table-eco td:nth-child(3n){
	background-color: #009688;
}
#offer-table-header.offer-table-eco td:nth-child(3n) p{
	background-color: #006e60;
}
/*HEADER PRO*/
#offer-table-header.offer-table-pro td:nth-child(3n){
	background-color: #ffc107;
}
#offer-table-header.offer-table-pro td:nth-child(3n) p{
	background-color: #ffa000;
}
/*HEADER RESTO*/
#offer-table-header.offer-table-resto td:nth-child(2n){
	background-color: #cddc39;
}
#offer-table-header.offer-table-resto td:nth-child(2n) p{
	background-color: #afb42b;
}
/*HEADER SMS*/
#offer-table-header.offer-table-sms td:nth-child(2n){
	background-color: #f44336;
}
#offer-table-header.offer-table-sms td:nth-child(2n) p{
	background-color: #d32f2f;
}
/*CONTENT*/
.offer-table-options td{
	height: 40px;
}
.offer-table-options td:first-child{
	font-size: 1.1rem;
}
.offer-table-options tr:nth-child(2n) td:first-child{
	background-color: #ecf0f1;
}
.offer-table-options tr:nth-child(2n) td:nth-child(2n){
	background-color: #dbe1e2;
}
.offer-table-options tr:nth-child(2n+1) td:nth-child(2n){
	background-color: #eaeded;
}
.offer-table-options .fa{
	font-size: 2rem;
}
/*CONTENT BOOKINGS*/
.offer-table-bookings.offer-table-options tr:nth-child(2n) td:nth-child(3n){
	background-color: #f8bcd1;
}
.offer-table-bookings.offer-table-options tr:nth-child(2n+1) td:nth-child(3n){
	background-color: #fde9f0;
}
/*CONTENT ECO*/
.offer-table-eco.offer-table-options tr:nth-child(2n) td:nth-child(3n){
	background-color: #b3e0dc;
}
.offer-table-eco.offer-table-options tr:nth-child(2n+1) td:nth-child(3n){
	background-color: #e6f5f3;
}
/*CONTENT PRO*/
.offer-table-pro.offer-table-options tr:nth-child(2n) td:nth-child(3n){
	background-color: #ffedb5;
}
.offer-table-pro.offer-table-options tr:nth-child(2n+1) td:nth-child(3n){
	background-color: #fff9e7;
}
/*=========================================================================
PAGE : TUTORIELS
=========================================================================*/
.view[data-category="tutoriels"] .media-object{
    padding-top: 10px;
}
@media only screen and (max-width: 480px){
    /*=========================================================================
    PAGE : OFFERS
    =========================================================================*/
    .offers-combinations .fa-plus-circle{
        margin: 0 .2rem;
    	font-size: 1rem;
    }
    /*=========================================================================
    PAGE : 404
    =========================================================================*/
    #view-404 .list-inline li{
        display: block;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 767px){
    /*==========================================================================
    PAGE : OFFERS
    ==========================================================================*/
    .offers-combinations img{
    	max-width: 80px;
    }
}
@media only screen and (min-width: 768px){
    /*==========================================================================
    BUTTONS
    ==========================================================================*/
    .btn-toolbar .btn{
        margin-right: 10px;
        margin-left: 10px;
    }
    .btn-toolbar .btn:first-child{
        margin-left: 0;
    }
    /*==========================================================================
    GRID SYSTEM
    ==========================================================================*/
    .view-pages .row-container{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .view-pages .row-container:not(:last-child){
        margin-bottom: 0;
    }
    /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    /*SUP*/
    .sup{
        margin-bottom: -5.5rem !important;
        z-index: 400;
    }
    /*ILLU*/
    .illu{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
    }
    .illu:first-child{
        margin-top: calc((-1.42857143rem * .8) - (1.42857143rem *2));
    }
    .illu .column-content{
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        font-size: 1.3rem;
        font-weight: 300;
        margin: 3rem auto;
        width: 60%;
        transition: all 240ms ease-in;
    }
    .illu .column-content:hover{
        background-color: rgba(255, 255, 255, 1);
    }
    .illu.home{
        background-image: url("https://www.e-monsite.com/medias/images/top-optim.jpg");
    }
    .illu.cms{
        background-image: url("https://www.e-monsite.com/medias/images/multi-ordi.jpg");
    }
    .illu.shooping{
        background-image: url("https://www.e-monsite.com/medias/images/shooping.jpg");
    }
    .illu.blog {
        background-image: url("https://www.e-monsite.com/medias/images/blogueuse.jpg");
    }
    /*TOKEN*/
    .token .column-content:before{
        top: 10px;
    }
    /*WHERE*/
    .where{
        background-color: rgba(255, 255, 255, 0.8);
        width: 80%;
        padding: 25px;
        display: block;
        border-radius: 5px;
        margin: auto;
        font-size: 1.5rem;
    }
    .where:hover {
        background-color: rgba(255, 255, 255, 1);
        transition: all 240ms ease-in;
    }
    /*LEADERBOARD*/
    .leaderboard .column-content{
        font-size: 1.3rem;
    }
}
@media (max-width: 991px){
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
    .media-object{
        text-align: center;
    }
    /*=========================================================================
    COMPONENT : NAVBAR
    =========================================================================*/
    .navbar-top .navbar-nav > li > a{
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-top .navbar-nav > .link-connexion  > a:hover,
    .navbar-top .navbar-nav > .link-connexion  > a:focus,
    .navbar-top .navbar-nav .link-connexion.active > a{
            background-color: rgba(255, 153, 0, 1);
            color: #fff;
    }
    /*=========================================================================
    LAYOUT
    =========================================================================*/
    /*SIDEBAR*/
    #sidebar{
        margin-top: 10px;
    }
    /*FOOTER*/
    .navbar-bottom .subnav-menu a{
        color: rgba(255, 255, 255, 1) !important;
    }
    /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    .row-container.leaderboard:first-child{
        background-color: rgba(255, 255, 255, 1);
        border-top-color: transparent;
    }
    /*=========================================================================
    PAGE : BLOG
    =========================================================================*/
    body.blog #main{
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    body.blog #sidebar{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    /*==========================================================================
    PAGE : OFFERS
    ==========================================================================*/
    #offers-prices{
        padding: 10px 0;
        background-color: #fff;
    }
    #offers-prices.fixed{
        position: fixed;
        top: 50px;
        right: 0;
        left: 0;
        padding: 10px;
        z-index: 3;
        box-shadow: 0 10px 5px rgba(0,0,0,.2);
        -webkit-backface-visibility: hidden;
    }
    #free-offer-infos{
        display: none !important;
    }
    #offers-to-pay .btn-info{
        display: inline-block;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
	#offers-to-pay:before{
		display: none;
	}
	#offers-options .affix,
	#offers-options .affix-top{
		right: 0;
		left: 0;
		width: 100% !important;
		padding: 10px;
		z-index: 1;
		background-color: #fff;
	}
	#offers-options .affix-top{
		right: -10px;
		left: -10px;
		width: auto !important;
	}
}
@media only screen and (min-width: 992px){
    /*=========================================================================
    COMPONENT : MEDIA LIST
    =========================================================================*/
    .media-overlay{
        color: rgba(255,255,255,1);
    }
    /*=========================================================================
    COMPONENT : NAVBAR
    =========================================================================*/
    .navbar-top .navbar-nav > li:not(:last-child) > a{
        margin-right: 5px;
    }
    /*=========================================================================
    COMPONENT : NAVIGATION
    =========================================================================*/
    .navbar-top .subnav-menu li > a{
        margin: 5px;
    }
    /*=========================================================================
    LAYOUT
    =========================================================================*/
    /*LOGIN*/
    #welcome_index #login-form{
        display: block;
    }
    /*FOOTER*/
    .navbar-bottom{
        text-align: center;
        font-size: 0;
    }
    .navbar-bottom .navbar-nav > li{
        display: inline-block;
        float: none;
        text-align: left;
        font-size: 1rem;
    }
    .navbar-bottom [data-toggle="subnav"]:after{
        border-bottom: 5px solid;
        border-top: 0;
    }
    .navbar-bottom .navbar-nav .subnav-menu{
        top: auto;
        bottom: 100%;
        border: 1px solid #ddd;
    }
    /*=========================================================================
    PAGE : INDEX
    =========================================================================*/
    #welcome_index .illu:first-child .column-content{
        width: 45%;
        display: inline-block;
    }
    /*=========================================================================
    PAGE : OFFERS
    =========================================================================*/
    #toggle-offers-details-btn{
    	display: none;
    }
    #offers-basket-content.collapse{
        display: block;
    }
    #offers-to-pay .btn-info{
        display: none!important;
    }
    /*=========================================================================
    PAGE : OFFER DETAIL
    =========================================================================*/
    #offer-table-header span{
    	font-size: 2.5rem;
    	font-weight: 500;
    }
    /*=========================================================================
    ADDON : PAGES
    =========================================================================*/
    .column-hover .column:hover,
    .column.column-hover:hover,
    .row-hover:hover{
        background-color: rgba(245,245,245,1);
    }
    .column-hover .column:hover > *,
    .column.column-hover:hover > *,
    .row-hover:hover > .row-content > *,
    .column-hover .column:hover a,
    .column.column-hover:hover a,
    .row-hover:hover > .row-content a{
        color: rgba(51, 51, 51, 1);
    }
    /*HOME*/
    .home{
        height: 700px;
        padding-top: 190px;
    }
    /*WHERE*/
    .where{
        width: 55%;
    }
}
@media only screen and (min-width: 1200px){
    /*==========================================================================
    TYPOGRAPHY
    ==========================================================================*/
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2.35rem;
    }
    /*=========================================================================
    COMPONENT : NAVBAR
    =========================================================================*/
    .navbar-top .navbar-nav > li:not(:last-child) > a{
        margin-right: 10px;
    }
}
@media only screen and (min-width: 1600px){
    /*=========================================================================
    PAGE : EXEMPLES
    =========================================================================*/
    body[id^="annuaire_"] .without-sidebar{
        width: 1470px;
    }
}