/*FLATICONS*/
[class*="flaticon-"],
[class*="flaticon-"][class*="-mini"]:before{
	/*background-image: url('http://static.e-monsite.com/manager/im/flaticons.png?v=1');*/
	background-image: url('../im/flaticons.png?v=1');
	background-size: 1000% 1100%;
}
[class*="flaticon-"]{
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 1;
	font-size: 32px;
	vertical-align: middle;
}
/*ROUNDED*/
.flaticon-rounded{
	border-radius: 100%;
}
/*SIZE*/
.flaticon-2x{
	width: 64px;
	height: 64px;
	font-size: 64px;
}
.flaticon-3x{
	width: 96px;
	height: 96px;
	font-size: 96px;
}
.flaticon-4x{
	width: 128px;
	height: 128px;
	font-size: 128px;
}
.flaticon-5x{
	width: 160px;
	height: 160px;
	font-size: 160px;
}
.flaticon-6x{
	width: 192px;
	height: 192px;
	font-size: 192px;
}
.flaticon-7x{
	width: 224px;
	height: 224px;
	font-size: 224px;
}
.flaticon-8x{
	width: 256px;
	height: 256px;
	font-size: 256px;
}
/*COLORS*/
.flaticon-alizarin,
.flaticon-alizarin-mini:before{
	background-color: #e84c3d;
}
.flaticon-amethyst,
.flaticon-amethyst-mini:before{
	background-color: #9c59b8;
}
.flaticon-asphalt,
.flaticon-asphalt-mini:before{
	background-color: #34495e;
}
.flaticon-carrot,
.flaticon-carrot-mini:before{
	background-color: #e77e23;
}
.flaticon-concrete,
.flaticon-concrete-mini:before{
	background-color: #96a6a6;
}
.flaticon-confirmgreen,
.flaticon-confirmgreen-mini:before{
	background-color: #5cb85c;
}
.flaticon-emerland,
.flaticon-emerland-mini:before{
	background-color: #2fcc71;
}
.flaticon-infoblue,
.flaticon-infoblue-mini:before{
	background-color: #39b3d7;
}
.flaticon-nephritis,
.flaticon-nephritis-mini:before{
	background-color: #27ae61;
}
.flaticon-river,
.flaticon-river-mini:before{
	background-color: #3598dc;
}
.flaticon-sunflower,
.flaticon-sunflower-mini:before{
	background-color: #f1c40f;
}
.flaticon-turquoise,
.flaticon-turquoise-mini:before{
	background-color: #1abc9c;
}
/*PICTURE*/
.flaticon-add,
.flaticon-add-mini:before{
	background-position: -200% -200%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.flaticon-addons,
.flaticon-addons-mini:before{
	background-position: -200% -400%;
}
.flaticon-advertising{
	background-position: -100% -200%;
}
.flaticon-agenda{
	background-position: 0 0;
}
.flaticon-agenda-culturel{
	background-position: -600% -500%;
}
.flaticon-album{
	background-position: -100% 0;
}
.flaticon-basket,
.flaticon-basket-mini:before{
	background-position: -800% -500%;
}
.flaticon-blog{
	background-position: -200% 0;
}
.flaticon-bookings{
	background-position: -300% 0;
}
.flaticon-box,
.flaticon-box-mini:before{
	background-position: -300% -600%;
}
.flaticon-browser{
	background-position: -800% -100%;
}
.flaticon-cake{
	background-position: -200% -800%;
}
.flaticon-carrier{
	background-position: -500% -900%;
}
.flaticon-casserole{
	background-position: -300% -700%;
}
.flaticon-catalog{
	background-position: -700% -300%;
}
.flaticon-category,
.flaticon-category-mini:before{
	background-position: -900% -200%;
}
.flaticon-chat{
	background-position: -500% -500%;
}
.flaticon-check,
.flaticon-check-mini:before{
	background-position: -300% -400%;
}
.flaticon-cheese{
	background-position: -100% -800%;
}
.flaticon-chicken-leg{
	background-position: -500% -800%;
}
.flaticon-clock{
	background-position: -900% -700%;
}
.flaticon-color-palette{
	background-position: -900% -900%;
}
.flaticon-color-swatch{
	background-position: -800% -900%;
}
.flaticon-coins,
.flaticon-coins-mini:before{
	background-position: 0 -600%;
}
.flaticon-comments,
.flaticon-comments-mini:before{
	background-position: -700% -500%;
}
.flaticon-contact{
	background-position: -400% 0;
}
.flaticon-costume{
	background-position: -400% -700%;
}
.flaticon-counter{
	background-position: 0 -700%;
}
.flaticon-credit-card{
	background-position: -600% -800%;
}
.flaticon-data-tables{
	background-position: -700% -900%;
}
.flaticon-delete,
.flaticon-delete-mini:before{
	background-position: -200% -200%;
}
.flaticon-design{
	background-position: -500% -300%;
}
.flaticon-domain{
	background-position: -300% -200%;
}
.flaticon-ecard{
	background-position: -500% 0;
}
.flaticon-eco{
	background-position: -600% 0;
}
.flaticon-edirectory{
	background-position: -700% 0;
}
.flaticon-epoll{
	background-position: -800% 0;
}
.flaticon-equiz{
	background-position: -900% 0;
}
.flaticon-external-search{
	background-position: -800% -400%;
}
.flaticon-facebook{
	background-position: -700% -800%;
	background-color: #3a589b;
}
.flaticon-forum{
	background-position: 0 -100%;
}
.flaticon-gift{
	background-position: -600% -900%;
}
.flaticon-globe{
	background-position: -400% -900%;
}
.flaticon-google-plus{
	background-position: -800% -800%;
	background-color: #d6492f;
}
.flaticon-google-seo{
	background-position: -600% -200%;
}
.flaticon-group,
.flaticon-group-mini:before{
	background-position: -900% -300%;
}
.flaticon-guestbook{
	background-position: -100% -100%;
}
.flaticon-guestonline{
	background-position: -100% -700%;
}
.flaticon-hands-up{
	background-position: -700% -700%;
}
.flaticon-help{
	background-position: -700% -200%;
}
.flaticon-hourglass,
.flaticon-hourglass-mini:before{
	background-position: -400% -400%;
}
.flaticon-hosting{
	background-position: 0% -200%;
}
.flaticon-html{
	background-position: -500% -600%;
}
.flaticon-identification{
	background-position: -500% -400%;
}
.flaticon-light-bulb{
	background-position: 0% -800%;
}
.flaticon-links,
.flaticon-links-mini:before{
	background-position: -200% -100%;
}
.flaticon-list,
.flaticon-list-mini:before{
	background-position: -100% -400%;
}
.flaticon-lock,
.flaticon-lock-mini:before{
	background-position: -900% -100%;
}
.flaticon-manufacturer,
.flaticon-manufacturer-mini:before{
	background-position: -200% -600%;
}
.flaticon-map{
	background-position: 0 -500%;
}
.flaticon-menu,
.flaticon-menu-mini:before{
	background-position: -400% -600%;
}
.flaticon-meteo{
	background-position: -600% -400%;
}
.flaticon-moneybox{
	background-position: -600% -700%;
}
.flaticon-new,
.flaticon-new-mini:before{
	background-position: -100% -300%;
}
.flaticon-newsletter{
	background-position: -600% -100%;
}
.flaticon-pages{
	background-position: -300% -100%;
}
.flaticon-partnership{
	background-position: -800% -300%;
}
.flaticon-paypal{
	background-position: -900% -600%;
}
.flaticon-phone-call{
	background-position: 0 -900%;
}
.flaticon-product-page{
	background-position: -300% -900%;
}
.flaticon-recommendation,
.flaticon-recommendation-mini:before{
	background-position: -400% -500%;
}
.flaticon-responsive{
	background-position: -100% -900%;
}
.flaticon-resto{
	background-position: -400% -100%;
}
.flaticon-resto-formula{
	background-position: -200% -700%;
}
.flaticon-resto-platter{
	background-position: -800% -700%;
}
.flaticon-rss{
	background-position: -200% -500%;
}
.flaticon-salad{
	background-position: -300% -800%;
}
.flaticon-sale,
.flaticon-sale-mini:before{
	background-position: -900% -500%;
}
.flaticon-search,
.flaticon-search-mini:before{
	background-position: -200% -300%;
}
.flaticon-settings{
	background-position: -300% -300%;
}
.flaticon-shopping-bag,
.flaticon-shopping-bag-mini:before{
	background-position: -100% -600%;
}
.flaticon-slider,
.flaticon-slider-mini:before{
	background-position: -700% -600%;
}
.flaticon-smartphone-app,
.flaticon-smartphone-app-mini:before{
	background-position: 0 -1000%;
}
.flaticon-sms{
	background-position: -200% -900%;
}
.flaticon-social-medias{
	background-position: -700% -100%;
}
.flaticon-soft-drink{
	background-position: -400% -800%;
}
.flaticon-sound{
	background-position: -900% -400%;
}
.flaticon-ssl{
	background-position: -100% -1000%;
}
.flaticon-statistics{
	background-position: -600% -300%;
}
.flaticon-stopwatch,
.flaticon-stopwatch-mini:before{
	background-position: 0 -300%;
}
.flaticon-storage,
.flaticon-storage-mini:before{
	background-position: -400% -200%;
}
.flaticon-string{
	background-image: none !important;
}
.flaticon-string > span{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: none;
	font-size: .25em;
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	line-height: 4;
	color: #fff;
	transform: skew(0deg,-20deg);
}
.flaticon-tags,
.flaticon-tags-mini:before{
	background-position: -100% -500%;
}
.flaticon-text{
	background-position: -600% -600%;
}
.flaticon-themes{
	background-position: -800% -200%;
}
.flaticon-tools{
	background-position: -400% -300%;
}
.flaticon-traduction{
	background-position: -700% -400%;
}
.flaticon-tripadvisor{
	background-position: -800% -600%;
}
.flaticon-trophy{
	background-position: -500% -700%;
}
.flaticon-twitter{
	background-position: -300% -500%;
	background-color: #598dca;
}
.flaticon-unlimited-traffic{
	background-position: -500% -200%;
}
.flaticon-user,
.flaticon-user-mini:before{
	background-position: 0 -400%;
}
.flaticon-videos{
	background-position: -500% -100%;
}
.flaticon-youtube{
	background-position: -900% -800%;
	background-color: #cf3427;
}
/*FLATICONS MINI*/
[class*="flaticon-"][class*="-mini"]{
	margin-right: .15em;
    margin-bottom: .05em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*="flaticon-"][class*="-mini"]:before{
	display: block;
	position: absolute;
	bottom: -.05em;
	right: -.15em;
	width: 50%;
	height: 50%;
	content: "";
	border-radius: 50%;
}
.flaticon-add-mini:before{
	background-color: #5cb85c !important;
}
.flaticon-delete-mini:before{
	background-color: #e84c3d!important;
}
.flaticon-string-mini:before{
	background: #e77e23 !important;
	font-size: 13px !important;
	font-weight: bold !important;
	font-family: sans-serif !important;
	font-style: normal !important;
	line-height: 48px !important;
	color: #fff !important;
	content: attr(title) !important;
}