body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1.5 "\5B8B\4F53",sans-serif;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var,i{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}schinaf{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}#page,#header,#content,#footer{margin-left:auto;margin-right:auto;}.w1000{width:1000px;}.col-main{float:left;width:100%;min-height:1px;}.col-sub,.col-extra{float:left;}.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after{content:'\20';display:block;height:0;clear:both;}.layout,.main-wrap,.col-sub,.col-extra{*zoom:1;}
html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true);}(this));}
body{_background-image:url(about:blank); _background-attachment:fixed;}
#headtop:after,.clearfix:after,#headtop:before,.clearfix:before{display:table;content:"";overflow:hidden;}#headtop:after,.clearfix:after{clear:both;}#headtop,.clearfix{zoom:1;}
#thePages:after,#thePages .pages1:after,#thePages .pages2:after,#thePages .pages3:after,#thePages:before,#thePages .pages1:before,#thePages .pages2:before,#thePages .pages3:before{display:table;content:"";overflow:hidden;}
#thePages:after,#thePages .pages1:after,#thePages .pages2:after,#thePages .pages3:after{clear:both;}
#thePages,#thePages .pages1,#thePages .pages2,#thePages .pages3{zoom:1;}
i.byMe{font-size: 12px; border: 1px solid #f00; padding: 3px; font-family: 宋体; border-radius: 2px; color: #f00; margin-left: 7px;}
.show{display:block;}
.hide{display:none;}
a{color:#000000;text-decoration:none;}
a:visited{color:#800080;}
a:hover{color:#bf82be;}
a:hover, a:active, a:focus{text-decoration:none;}

/*lst*/
.lst{}
.lst li{background:transparent url(http://cs1.chinaefu.net/images/efu/p_icon.png) no-repeat 999em 0; overflow:hidden;}
.lst a,.lst a:visited,.lst a:hover{color:#444444;}

.lst_cor li{width:220px; background-position:0 10px; height:23px; font:12px/23px "\5B8B\4F53",sans-serif;}
.lst_cor b{padding-left:15px; display:block; font-weight:normal;}
.lst_cor li.selected{background:none; height:auto; border:#e2e2e2 solid 1px; padding:5px; width:210px; background-color:#ffffff;}
.lst_cor li.selected b{font-weight:bold; padding-left:0; display:block; height:23px; overflow:hidden;}
.lst_cor li.selected a,.lst_cor li.selected a:visited.lst_cor li.selected b a:hover{color:#121212;}
.lst_cor li.selected p{line-height:20px; height:60px; overflow:hidden; padding-top:4px; color:#808080;}
.lst_cor{}
.lst_cor li{background:transparent url(http://cs1.chinaefu.net/images/2016N/csssprite_index.png) no-repeat -10px -502px; overflow:hidden; padding-left:8px}
.lst_cor a,.lst_cor a:visited,.lst_cor a:hover{color:#444444;}

.lst_cor3 li{width:220px; background-position:0 10px; height:23px; font:12px/23px "\5B8B\4F53",sans-serif;}
.lst_cor3 b{padding-left:15px; display:block; font-weight:normal;}
.lst_cor3 li.selected{background:none; height:auto; border:#e2e2e2 solid 1px; padding:5px; width:210px; background-color:#ffffff;}
.lst_cor3 li.selected b{font-weight:bold; padding-left:0; display:block; height:23px; overflow:hidden;}
.lst_cor3 li.selected a,.lst_cor3 li.selected a:visited.lst_cor3 li.selected b a:hover{color:#121212;}
.lst_cor3 li.selected p{line-height:20px; height:60px; overflow:hidden; padding-top:4px; color:#808080;}
.lst_cor3{}
.lst_cor3 li{background:transparent url(http://cs1.chinaefu.net/images/2016N/csssprite_index.png) no-repeat -10px -472px; overflow:hidden; padding-left:10px}
.lst_cor3 a,.lst_cor a:visited,.lst_cor3 a:hover{color:#444444;}

.mod-lst{width:100%;}
.iTit,.iTit a{color:#606060;}
.iName,.iName a{color:#632675;}
.iAdd,.iAdd a{color:#606060;}
/*lst END*/

/*mtop*/
.mtop35{ margin-top:35px !important;}
.mtop30{ margin-top:30px !important;}
.mtop25{ margin-top:25px !important;}
.mtop20{ margin-top:20px !important;}
.mtop19{ margin-top:19px !important;}
.mtop18{ margin-top:18px !important;}
.mtop17{ margin-top:17px !important;}
.mtop16{ margin-top:16px !important;}
.mtop15{ margin-top:15px !important;}
.mtop14{ margin-top:14px !important;}
.mtop13{ margin-top:13px !important;}
.mtop12{ margin-top:12px !important;}
.mtop11{ margin-top:11px !important;}
.mtop10{ margin-top:10px !important;}
.mtop9{ margin-top:9px !important;}
.mtop8{ margin-top:8px !important;}
.mtop7{ margin-top:7px !important;}
.mtop6{ margin-top:6px !important;}
.mtop5{ margin-top:5px !important;}
.mtop4{ margin-top:4px !important;}
.mtop3{ margin-top:3px !important;}
.mtop2{ margin-top:2px !important;}
.mtop1{ margin-top:1px !important;}

.mbottom20{ padding-bottom:20px !important;}
.mbottom15{ padding-bottom:15px !important;}
.mbottom10{ padding-bottom:10px !important;}
.mbottom8{ padding-bottom:8px !important;}
/*m*/
.mHide{display:none;}

/*table*/
.table_m01 table{width:100%;}
.table_m01 th{background:#f6f6f6;}
.table_m01 th,.table_m01 td{padding:5px; border:#e0e0e0 solid 1px;}
.table_m01 a,.table_m01 a:visited,.table_m01 a:hover{color:#cc3300;}
.table_m01_cona{padding:10px 5px;}
.table_m01 .div1{padding:6px 0px 12px 7px;}
.table_m02 table{width:100%;}
.table_m02 th{background:#f6f6f6;}
.table_m02 th,.table_m02 td{padding:5px; border:#e0e0e0 solid 1px;}
.table_m02 a,.table_m02 a:visited,.table_m02 a:hover{color:#cc3300;}
.table_m02 .div1{padding:10px 0;}
.table_m02_cona{padding:10px 5px;}
.table_m03{width:100%;}
.table_m03 table{width:100%; font-family:"\5B8B\4F53",sans-serif; font-size:12px; line-height:20px;}
.table_m03 td,.table_m03 th{border:#e0e0e0 solid 1px; padding:5px 8px; color:#202020;}
.table_m03 th{font-weight:normal; text-align:left;}
.table_m03 td a,.table_m03 td a:visited,.table_m03 td a:hover{color:#565656;}
.table_m03 td a.a01{display:block; width:80px; height:25px; overflow:hidden; text-indent:-999em; background:url(http://cs1.chinaefu.net/images/distributor/2013/distributor_b.png) 0 0 no-repeat;}
.table_m03 .tdw01{width:270px;}
.table_m03 .tdw02{width:90px;}

/*form*/
input,select{font-size:12px;line-height:16px;}
.InputText{background:url(http://cs1.chinaefu.net/images/RegInputBg.gif) no-repeat top left; font-family:Verdana, Geneva, sans-serif;  border:1px solid #CCC; padding: 4px; width:250px; height:auto; }
.InputSelect{background:url(http://cs1.chinaefu.net/images/RegInputBg.gif) no-repeat top left; border:1px solid #CCC; padding:3px;}
.InputCheck {margin:0; padding:0; vertical-align:text-top; _vertical-align:middle; }
/*
sw ----
*/
.sw-ui-photo100-125{width:100px;height:125px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo100-125-box{display:table-cell;width:100px;height:125px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:109px}.sw-ui-photo100-125-box img{vertical-align:middle; width:100px;}
.sw-ui-photo75-113{width:75px;height:113px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo75-113-box{display:table-cell;width:75px;height:113px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:99px}.sw-ui-photo75-113-box img{vertical-align:middle; width:75px;}
.sw-ui-photo186-250{width:186px;height:250px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo186-250-box{display:table-cell;width:186px;height:250px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:218px}.sw-ui-photo186-250-box img{vertical-align:middle; max-width:186px;}
.sw-ui-photo120-90{width:120px;height:90px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo120-90-box{display:table-cell;width:120px;height:90px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:79px}.sw-ui-photo120-90-box img{vertical-align:middle; width:120px;}
.sw-ui-photo160-120{width:160px;height:120px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo160-120-box{display:table-cell;width:160px;height:120px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:105px}.sw-ui-photo160-120-box img{vertical-align:middle;}
.sw-ui-photo192-80{width:192px;height:80px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo192-80-box{display:table-cell;width:192px;height:80px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:124px}.sw-ui-photo192-80-box img{vertical-align:middle;}
.sw-ui-photo220-165{width:220px;height:165px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo220-165-box{display:table-cell;width:220px;height:165px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:144px}.sw-ui-photo220-165-box img{vertical-align:middle;}
.sw-ui-photo60{width:60px;height:60px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo60-box{display:table-cell;width:60px;height:60px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:52px}.sw-ui-photo60-box img{vertical-align:middle; width:60px;}
.sw-ui-photo80{width:80px;height:80px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo80-box{display:table-cell;width:80px;height:80px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:70px}.sw-ui-photo80-box img{vertical-align:middle; width:80px;}
.sw-ui-photo80 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo80 .mHide a,.sw-ui-photo80 .mHide a:visited,.sw-ui-photo80 .mHide a:hover{color:#ffffff;}
.sw-ui-photo80 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo90{width:90px;height:90px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo90-box{display:table-cell;width:90px;height:90px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:79px}.sw-ui-photo90-box img{vertical-align:middle; width:90px;}
.sw-ui-photo100{width:100px;height:100px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo100-box{display:table-cell;width:100px;height:100px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:87px}.sw-ui-photo100-box img{vertical-align:middle; width:100px;}
.sw-ui-photo100 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo100 .mHide a,.sw-ui-photo100 .mHide a:visited,.sw-ui-photo100 .mHide a:hover{color:#ffffff;}
.sw-ui-photo100 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo110{width:110px;height:110px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo110-box{display:table-cell;width:110px;height:110px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:96px}.sw-ui-photo110-box img{vertical-align:middle; width:110px;}
.sw-ui-photo110 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo110 .mHide a,.sw-ui-photo110 .mHide a:visited,.sw-ui-photo110 .mHide a:hover{color:#ffffff;}
.sw-ui-photo110 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo120{width:120px;height:120px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo120-box{display:table-cell;width:120px;height:120px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:105px}.sw-ui-photo120-box img{vertical-align:middle; width:120px;}
.sw-ui-photo120 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo120 .mHide a,.sw-ui-photo120 .mHide a:visited,.sw-ui-photo120 .mHide a:hover{color:#ffffff;}
.sw-ui-photo120 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo130{width:130px;height:130px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo130-box{display:table-cell;width:130px;height:130px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:113px}.sw-ui-photo130-box img{vertical-align:middle; width:130px;}
.sw-ui-photo130 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo130 .mHide a,.sw-ui-photo130 .mHide a:visited,.sw-ui-photo130 .mHide a:hover{color:#ffffff;}
.sw-ui-photo130 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}

.sw-ui-photo138{width:138px;height:138px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo138-box{display:table-cell;width:138px;height:138px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:120px}.sw-ui-photo138-box img{vertical-align:middle; width:138px;}
.sw-ui-photo140{width:140px;height:140px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo140-box{display:table-cell;width:140px;height:140px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:122px}.sw-ui-photo140-box img{vertical-align:middle; width:140px;}
.sw-ui-photo140 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo140 .mHide a,.sw-ui-photo140 .mHide a:visited,.sw-ui-photo140 .mHide a:hover{color:#ffffff;}
.sw-ui-photo140 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo150{width:150px;height:150px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo150-box{display:table-cell;width:150px;height:150px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:131px}.sw-ui-photo150-box img{vertical-align:middle; width:150px;}
.sw-ui-photo150 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo150 .mHide a,.sw-ui-photo150 .mHide a:visited,.sw-ui-photo150 .mHide a:hover{color:#ffffff;}
.sw-ui-photo150 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo160{width:160px;height:160px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo160-box{display:table-cell;width:160px;height:160px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:140px}.sw-ui-photo160-box img{vertical-align:middle; width:160px;}
.sw-ui-photo160 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo160 .mHide a,.sw-ui-photo160 .mHide a:visited,.sw-ui-photo160 .mHide a:hover{color:#ffffff;}
.sw-ui-photo160 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo170{width:170px;height:170px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo170-box{display:table-cell;width:170px;height:170px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:148px}.sw-ui-photo170-box img{vertical-align:middle; width:170px;}
.sw-ui-photo180{width:180px;height:180px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo180-box{display:table-cell;width:180px;height:180px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:167px}.sw-ui-photo180-box img{vertical-align:middle; width:180px;}
.sw-ui-photo180 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo180 .mHide a,.sw-ui-photo180 .mHide a:visited,.sw-ui-photo180 .mHide a:hover{color:#ffffff;}
.sw-ui-photo180 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo192{width:192px;height:80px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo192-box{display:table-cell;width:192px;height:80px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:124px}.sw-ui-photo192-box img{vertical-align:middle; width:192px;}
.sw-ui-photo192 .mHide{width:60px; height:20px; text-align:center; background-color:#404040; position:absolute; right:0; bottom:0;}
.sw-ui-photo192 .mHide a,.sw-ui-photo192 .mHide a:visited,.sw-ui-photo192 .mHide a:hover{color:#ffffff;}
.sw-ui-photo192 .mHide{font:12px/1.5 "\5B8B\4F53",sans-serif;}
.sw-ui-photo200{width:200px;height:200px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo200-box{display:table-cell;width:200px;height:200px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:175px}.sw-ui-photo200-box img{vertical-align:middle; width:200px;}
.sw-ui-photo210{width:210px;height:210px;overflow:hidden; background-color:#efefef; position:relative;}.sw-ui-photo210-box{display:table-cell;width:210px;height:210px;font:12px/1 Tahoma,Helvetica,Arial;text-align:center;vertical-align:middle;*display:block;*font-family:Arial;*font-size:183px}.sw-ui-photo210-box img{vertical-align:middle; }
/*
header
*/
.header-m{width:100%; padding-top:34px;}
.hmcon-a{position:fixed; left:0; top:0; z-index:999996; _position:absolute; _top:expression(documentElement.scrollTop); width:100%; height:34px; line-height:26px; background:url(http://cs1.chinaefu.net/images/NEW2013/index_b.png) 0 0 repeat-x;}
.hmcon-a .wrap{line-height:30px; font-size:12px; font-family:"\5B8B\4F53",sans-serif;}
.hmcon-a .wrap,.hmcon-a .wrap a,.hmcon-a .wrap a:visited,.hmcon-a .wrap a:hover{color:#ffffff;}
.hmcon-a .wrap .ulMa{float:left; height:34px; width:1000px;}
.hmcon-a .wrap .ulMa .lim01{float:left; height:34px;}
.hmcon-a .wrap .ulMa .lim02{float:right; height:34px;}
.hmcon-a .wrap .ulMa .lim02 .topDa{float:left; width:90px; height:34px; line-height:30px; background:url(http://cs1.chinaefu.net/images/NEW2013/index_b.png) 0 -34px no-repeat; text-align:center; overflow:hidden;}
.hmcon-a .wrap .ulMa .lim02 .topDb{float:left; width:400px; padding-right:10px;}
.hmcon-a .wrap .ulMa .lim02 .topDb ul{float:right;}
.hmcon-a .wrap .ulMa .lim02 .topDb li{float:left;}
.hmcon-a .wrap .ulMa .lim02 .topDb li.topDblia,.hmcon-a .wrap .ulMa .lim02 .topDb li.topDblib{padding:0 10px; border-right:#1f1f1f solid 1px;}
.hmcon-a .wrap .ulMa .lim02 .topDb li.topDblia{position:relative; cursor:pointer;}
.hmcon-a .wrap .ulMa .lim02 .topDb li.topDblia .numCon{width:18px; height:18px; position:absolute; top:2px; right:-10px; overflow:hidden; background:url(http://cs1.chinaefu.net/images/NEW2013/index_d.png) 0 0 no-repeat; display:block; position:absolute; line-height:18px; text-align:center;}
.hmcon-a .wrap .ulMa .lim02 .topDb li.topDblib{padding-left:15px;}
.hmcon-a .wrap .ulMa .lim02 .nav-content{width:200px; position:absolute; left:-10px; top:30px; padding:20px 10px; background:url(http://cs1.chinaefu.net/images/NEW2013/index_be02.png) 0 0 repeat; display:none;}
.hmcon-a .wrap .ulMa .lim02 .nav-content span{display:block; line-height:20px; padding:5px 0;}
.hmcon-a .wrap .ulMa .lim02 .topDb li.topDblia:hover .nav-content,
.hmcon-a .wrap .ulMa .lim02 .topDb li.nav-hover .nav-content{display:block;}

.hmcon-a .wrap .lim01 span{display:inline-block; padding:0 5px;}
.hmcon-a .wrap .lim02 .spm01,.hmcon-a .wrap .lim02 .spm02,.hmcon-a .wrap .lim02 .spm03{display:inline-block;}
.hmcon-a .wrap .lim02 .spm01{padding:0 5px;}
.hmcon-a .wrap .lim02 .spm02{padding:0 5px 0 20px; background:url(http://cs1.chinaefu.net/images/NEW2013/index_b.png) 0 -89px no-repeat;}
.hmcon-a .wrap .lim02 .spm03{padding:0 5px 0 20px; background:url(http://cs1.chinaefu.net/images/NEW2013/index_b.png) 0 -157px no-repeat;}
.hmcon-a .wrap .lim02 .spm04{padding:0 5px 0 20px; background:url(http://cs1.chinaefu.net/images/NEW2013/index_b.png) 0 -122px no-repeat;}

.hmcon-aa{width:1000px; margin-left:auto; margin-right:auto; font-family:"\5B8B\4F53",sans-serif; font-size:12px; line-height:13px;}
.hmcon-aa .wrap{float:left; width:1000px; padding:16px 0 2px; text-align:center;}
.hmcon-aa a {padding: 0 7px 0 8px; border-left:1px solid #dddddd; }
.hmcon-aa a,.hmcon-aa a:visited,.hmcon-aa a:hover{color:#636363;}
.hmcon-aa a.first {border-left: 0; padding-left: 0; padding-right: 10px; }
.hmcon-aa a.last {padding-right: 0; padding-left: 10px;}

.hmcon-b{height:80px; padding-top:10px;}
.hmcon-b .logo{float:left;  padding:10px 0 0 5px; }
.hmcon-b .logo .logo-box{display:block; width:194px; height:60px; overflow:hidden; position:relative;}
.hmcon-b .logo h1{text-indent:-999em;}
.hmcon-b .logo .divH1{text-indent:-999em;}
.hmcon-b .logo img{position:absolute; width:194px; top:0; left:0; z-index:100;}
.hmcon-b .banner-a{float:right; position: relative;}
.hmcon-b .banners-a{float:right;}

.hmcon-c{height:50px; width:1000; margin-left:auto; margin-right:auto;}
.hmcon-c .logo{width:280px; height:37px; float:left;}
.hmcon-c .logo h1{height:37px; width:123px; float:left; overflow:hidden; position:relative;}
.hmcon-c .logo h2{height:25px; width:116px; float:left; overflow:hidden; position:relative; margin:5px 0 0 15px;} 
.hmcon-c .logo .divH1{height:37px; width:123px; float:left; overflow:hidden; position:relative;}
.hmcon-c .logo .divH2{height:25px; width:116px; float:left; overflow:hidden; position:relative; margin:5px 0 0 15px;} 
.hmcon-c .logo i{float:left; text-align:-999em;}
.hmcon-c .logo img{position:absolute; top:0; left:0;}
.hmcon-c .wUl{width:400px; line-height:25px; height:25px; margin-top:12px; float:left;}
.hmcon-c .wUl li{float:left; padding:0 5px; font:12px/1.5 "\5B8B\4F53",sans-serif;}
.hmcon-c .wUl li.li01{color:#427aae; background:url(http://cs1.chinaefu.net/images/2016n/csssprite_brandhub.png) -10px -103px no-repeat; padding-left:15px;}
.hmcon-c .wUl li.li01 a,.hmcon-c .wUl li.li01 a:visited,.hmcon-c .wUl li.li01 a:hover{color:#427aae;}

/*头部通栏 广告*/
.hmcon-banner{}
/*banner*/
.banner-a{width:750px; height:80px; overflow:hidden;}
.banner-m{width:100%;}

.banner-top{padding-top:10px;}
.banner-top .wrap{overflow:hidden;}
.banner-top .wrap div{float:left; /*height:80px;*/ overflow:hidden; padding-bottom:10px;}
.banner-top .wrap .banner1000_60{float:left; height:60px; overflow:hidden;padding-bottom:0px; }
.banner-top ul{width:1012px;}
.banner-top ul li{float:left; height:80px; overflow:hidden; margin:0 12px 0 0; padding-bottom:10px; position: relative;}

/*201501006*/
.banners-top-a{width:1000px; overflow:hidden;}
.banners-top-a ul{width:1010px;}
.banners-top-a ul li{float:left; display:inline; height:80px;  margin:0 10px 0 0;  padding-bottom:10px;}
.banners-top-a ul li a{float:left; display:inline; overflow:hidden; height:80px;  background-color:#fffcce; }
.banners-top-a ul li  .sp01{float:left; display:inline; overflow:hidden; height:80px;  background-color:#fffcce; }
.banners-top-a ul li  .sp01 a{float:none; display:inline; width:auto; height:auto; background:none; overflow:auto;}

.banners-top-b{width:1000px; overflow:hidden;}
.banners-top-b ul{width:1010px;}
.banners-top-b ul li{float:left; display:inline; height:60px; width:192px; font-size:12px;  line-height:16px; margin:0 10px 0 0; padding-bottom:10px; position: relative;  }
.banners-top-b ul li a{float:left; display:inline; overflow:hidden;  width:192px; background-color:#fffcce; }
.banners-top-b ul li img{ height:60px; overflow:hidden; vertical-align:middle;}
.banners-top-b ul li  .sp01{float:left; display:inline; overflow:hidden; height:60px;  width:192px; background-color:#fffcce; }
.banners-top-b ul li  .sp01 a{float:none; display:inline; width:auto; height:auto; background:none; overflow:auto;}
.banners-top-b ul li.li01,.banners-top-b ul li.li01 img,.banners-top-b ul li.li01 .sp01{height:80px;}

.banners-top-c{width:1000px; overflow:hidden;padding-top:15px;}
.banners-top-c ul{width:1012px;}
.banners-top-c ul li{float:left; display:inline; height:60px; width:241px; font-size:12px; line-height:16px;  margin:0 12px 0 0;  padding-bottom:10px; position: relative;}
.banners-top-c ul li a{float:left; display:inline; overflow:hidden;   width:241px; background-color:#fffcce; }
.banners-top-c ul li img{ height:60px; overflow:hidden; vertical-align:middle;}
.banners-top-c ul li  .sp01{float:left; display:inline; overflow:hidden; height:60px;   width:241px; background-color:#fffcce; }
.banners-top-c ul li  .sp01 a{float:none; display:inline; width:auto; height:auto; background:none; overflow:auto;}
.banners-top-c ul li.li01,.banners-top-c ul li.li01 img,.banners-top-c ul li.li01 .sp01{height:80px;}

.banners-top-d{width:1000px; overflow:hidden;padding-top:15px;}
.banners-top-d ul{width:1012px;}
.banners-top-d ul li{float:left; display:inline; height:60px; width:240px; font-size:12px; line-height:16px;  margin:0 13px 0 0; padding-bottom:10px; position: relative; }
.banners-top-d ul li a{float:left; display:inline; overflow:hidden;  width:240px; background-color:#fffcce;}
.banners-top-d ul li img{ height:60px; overflow:hidden; vertical-align:middle;}
.banners-top-d ul li  .sp01{float:left; display:inline; overflow:hidden; height:60px;   width:240px;  }
.banners-top-d ul li  .sp01 a{float:none; display:inline; width:auto; height:auto; background:none; overflow:auto;}
.banners-top-d ul li.li01,.banners-top-d ul li.li01 img,.banners-top-d ul li.li01 .sp01{height:80px;}

/*2013-11-15-1*/
.banner-top-new{padding-top:10px;}
.banner-top-new .wrap{overflow:hidden;}
.banner-top-new ul{width:1012px;}
.banner-top-new ul li{float:left; height:80px; overflow:hidden; margin:0 12px 0 0; padding-bottom:0px;}

.banner-wrap{margin-top:20px;}
.banner-wrap .wrap{overflow:hidden;}
.banner-wrap ul{width:1012px;}
.banner-wrap ul li{float:left;  height:80px; overflow:hidden; margin:0 12px 10px 0; position: relative;}
.banner-footer{padding-top:20px; border-bottom:#d6d6d6 solid 1px; width:1000px; margin-left:auto; margin-right:auto;}
.banner-footer .wrap{overflow:hidden;}
.banner-footer .wrap div{float:left; height:80px; overflow:hidden; padding-bottom:10px; position: relative;}
.banner-footer ul{float:left; height:80px;  width:1000px; padding-bottom:20px;}
.banner-footer  li{float:left; height:80px;  width:1000px; overflow:hidden; position: relative;}

/*banner*/
.banners-a{width:750px; height:80px; overflow:hidden;}
.banners-m{width:100%;}
.banners-top{padding-top:10px;}
.banners-top .wrap{overflow:hidden;}
.banners-top .wrap div{float:left; height:80px; overflow:hidden; padding-bottom:10px;}
.banners-top .wrap .banner1000_60{float:left; height:60px; overflow:hidden;padding-bottom:0px; }
.banners-top ul{width:1012px;}
.banners-top ul li{float:left; height:80px; overflow:hidden; margin:0 12px 0 0; padding-bottom:10px;}

/*2013-11-15-1*/
.banners-top-new{padding-top:10px;}
.banners-top-new .wrap{overflow:hidden;}
.banners-top-new ul{width:1012px;}
.banners-top-new ul li{float:left; height:80px; overflow:hidden; margin:0 12px 0 0; padding-bottom:0px;}

.banners-wrap{margin-top:20px;}
.banners-wrap .wrap{overflow:hidden;}
.banners-wrap ul{width:1012px;}
.banners-wrap ul li{float:left;  height:80px; overflow:hidden; margin:0 12px 10px 0;}

.banners-footer{padding-top:20px; border-bottom:#d6d6d6 solid 1px; width:1000px; margin-left:auto; margin-right:auto;}
.banners-footer .wrap{overflow:hidden;}
.banners-footer .wrap div{float:left; height:80px; overflow:hidden; padding-bottom:10px;}
.banners-footer ul{float:left; height:80px;  width:1000px; padding-bottom:20px;}
.banners-footer  li{float:left;height:80px;width:1000px;overflow:hidden;position: relative;}

/*小灵通广告*/
.smar-banner { width: 1000px; margin: 0 auto; }
.smar-banner .wrap { width: 1000px; }
.smar-banner-aa { width: 1000px; overflow: hidden; height:100px;}
.smar-banner-aa ul { width: 1008px; }
.smar-banner-aa ul li { float: left; display: inline; height: 100px; width: 160px; margin: 0 8px 0 0;}
.smar-banner-aa ul li a { float: left; display:inline-block; overflow: hidden; height: 100px; width: 160px; }

.smar-banner-a { width: 1000px; overflow: hidden;}
.smar-banner-a ul { width: 1010px; }
.smar-banner-a ul li {float: left;display: inline;height: 110px; width: 192px;margin: 0 10px 0 0; position: relative;}
.smar-banner-a ul li .cona{float: left;overflow: hidden;height: 80px;width: 192px; margin-left:auto; margin-right:0; text-align:center;}
.smar-banner-a ul li .conb{ float:left;overflow: hidden;height: 30px;width: 192px; line-height:30px; text-align:center; font-size:13px;}
.smar-banner-a ul li .conb a,.smar-banner-a ul li .conb a:visited,.smar-banner-a ul li .conb a:hover{ color:#303030;}

.smar-banner-b{width:300px; margin: 0 auto;}
.smar-banner-b .warp{width:300px; margin: 0 auto;}
.smar-banner-b ul{ width:300px; }
.smar-banner-b ul li{ width:250px; padding:0px 25px 0px 25px; overflow:hidden; position: relative; }
.smar-banner-b li .cona{ width:250px;float: left;overflow: hidden;height: 250px;margin-left:auto; margin-right:0; text-align:center;}
.smar-banner-b li .cona img{ width:250px;}
.smar-banner-b li .conb{float:left;overflow: hidden;height: 35px;width: 250px; line-height:35px; text-align:center; font-size:14px;}
.smar-banner-b li .conb a,.smar-banner-b li .conb a:visited,.smar-banner-b li .conb a:hover{ color:#303030;}

.smar-banner-c { width: 250px; margin: 0 auto; }
.smar-banner-c .warp{ width: 250px;  margin: 0 auto;}
.smar-banner-c li{ width: 250px; height: 250px; padding-bottom: 15px; overflow: hidden; position: relative; }
.smar-banner-c li a{ float: left; overflow: hidden; height: 250px; width: 250px; }

.smar-banner-c li.h1{ height:250px !important}

.colborder-smar { float: left; }

.ad1000_80{width:1000px; position: relative;}
.ad1000_80 a{width:1000px; height:80px; display:black; background-color:#ededed;}
.ad494_80{width:494px; position: relative;}
.ad494_80 a{width:494px; height:80px; display:black; background-color:#ededed;}
.ad241_80{width:241px; position: relative;}
.ad241_80 a{width:241px; height:80px; display:black; background-color:#ededed;}
.ad250_100{width:250px; position: relative;}
.banner-wrap .ad250_100{height:100px;}
.ad250_100 a{width:250px; height:100px; display:black; background-color:#ededed;}
.ad250_190{width:250px; position: relative;}
.banner-wrap .ad250_190{height:190px;}
.ad250_190 a{width:250px; height:190px; display:black; background-color:#ededed;}
.ad310_230{width:310px; position: relative;}
.banner-wrap .ad310_230{height:230px;}
.ad310_230 a{width:310px; height:230px; display:black; background-color:#ededed;}
.ad134_270{width:134px; position: relative;}
.banner-wrap .ad134_270{height:270px;}
.ad134_270 a{width:134px; height:270px; display:black; background-color:#ededed;}
.ad250_330{width:250px; position: relative;}
.banner-wrap .ad250_330{height:330px; position: relative;}
.ad250_330 a{width:250px; height:330px; display:black; background-color:#ededed;}
.ad180_50{width:180px; float:left; position: relative;}
.banner-wrap .ad180_50{height:50px; position: relative;}
.ad180_50 a{width:180px; height:50px; display:black; background-color:#ededed;}
.ad180_60{width:180px; float:left; position: relative;}
.banner-wrap .ad180_60{height:60px; position: relative;}
.ad180_60 a{width:180px; height:60px; display:black; background-color:#ededed;}
.ad175_60{width:175px; float:left; position: relative;}
.banner-wrap .ad175_60{height:60px; position: relative;}
.ad175_60 a{width:175px; height:60px; display:black; background-color:#ededed;}

.ad160_100{width:1000px; overflow:hidden;}
.ad160_100 ol{width:1008px;}
.ad160_100 ol li{float:left; width:168px; height:110px;  position: relative;}
.ad160_100 ol li .imgCon{width:160px; height:100px; position:relative; overflow:hidden;}
.ad160_100 ol li .imgCon .mHide{position:absolute; float:left; z-index:80; height:24px; width:160px; left:0; bottom:0;}
.ad160_100 ol li .imgCon .mHide i{display:block; position:absolute; left:0; top:0; height:24px; width:160px; background:#000; opacity:.6; filter: alpha(opacity=60);}
.ad160_100 ol li .imgCon .mHide a{display:block; height:22px; line-height:22px; padding:2px 5px 0; text-align:center; overflow:hidden; position:relative;}
.ad160_100 ol li .imgCon .mHide a{font:12px/22px "\5B8B\4F53",sans-serif;}
.ad160_100 ol li .imgCon .mHide a,.ad160_100 ol li .imgCon .mHide a:visited,.ad160_100 ol li .imgCon .mHide a:hover{color:#ffffff;}
.ad160_100 ol li .imgCon img{width:160px;}

/*#footer-v0 广告a调整*/
#footer-v0 .imgCon .mHide a, #footer-v0 .imgCon .mHide a:visited{color:#ffffff;}
#footer-v0 .imgCon .mHide a:hover{color:#f0f0f0;}

/*招商广告*/
.zs_banner_a{width:620px; margin-left:auto; margin-right:auto; padding-bottom:20px; overflow:hidden;}
.zs_banner_a ul{width:630px;}
.zs_banner_a li{float:left; width:210px;  position: relative;}
.zs_banner_a .photoBox{float:left; width:192px; height:104px; padding:16px 0px; background-color:#ffffff;}
.zs_banner_a .photo{width:192px; height:104px; overflow:hidden; position:relative;}
.zs_banner_a .photo img{width:192px;}
.zs_banner_a .mHide{position:absolute; z-index:80; height:24px; width:192px; left:0; bottom:0;}
.zs_banner_a .mHide i{display:block; position:absolute; left:0; top:0; height:24px; width:192px; background:#000; opacity:.6; filter: alpha(opacity=60);}
.zs_banner_a .mHide p{display:block; height:22px; line-height:22px; padding:2px 5px 0; text-align:center; overflow:hidden; position:relative;}
.zs_banner_a .mHide p{font:12px/22px "\5B8B\4F53",sans-serif;}
.zs_banner_a .mHide a{background:none; display:inline; width:auto; height:auto;}
.zs_banner_a .mHide a,.zs_banner_a .mHide a:visited,.zs_banner_a .mHide a:hover{color:#FFF;}

.zs_banner_b{width:310px; float:left;}
.zs_banner_b li{float:left; width:290px; height:136px; padding:10px; margin-top:10px; background-color:#eeeeee;}
.zs_banner_b .photoBox{float:left; width:290px; height:136px;  background-color:#ffffff;}
.zs_banner_b .photo{width:192px; height:110px; overflow:hidden; position:relative; margin:18px auto 0;}
.zs_banner_b .photo img{width:192px;}
.zs_banner_b .mHide{position:absolute; z-index:80; height:24px; width:192px; left:0; bottom:0;}
.zs_banner_b .mHide i{display:block; position:absolute; left:0; top:0; height:24px; width:192px; background:#000; opacity:.6; filter: alpha(opacity=60);}
.zs_banner_b .mHide p{display:block; height:22px; line-height:22px; padding:2px 5px 0; text-align:center; overflow:hidden; position:relative;}
.zs_banner_b .mHide p{font:12px/22px "\5B8B\4F53",sans-serif;}
.zs_banner_b .mHide a{background:none; display:inline; width:auto; height:auto;}
.zs_banner_b .mHide a,.zs_banner_b .mHide a:visited,.zs_banner_b .mHide a:hover{color:#ffffff;}
.zs_banner_bb{position:fixed; top:22px;  *right:126px;  overflow: visible; _position:absolute; _top:expression(documentElement.scrollTop + 22);}

/*
zsimg-lst
*/
.zsimg-lst {width:100%; font-size:12px; font-family:"\5B8B\4F53";}
.zsimg-lst li{width:184px; float:left; position:relative;}
.zsimg-lst .con{width:160px; padding:5px; border:#e2e2e2 solid 1px;}
.zsimg-lst .con .imgCon{width:160px; height:100px; overflow:hidden;}
.zsimg-lst .con .imgCon img{width:160px;}
.zsimg-lst .con .fCon{width:162px; height:20px; line-height:20px; overflow:hidden; display:block; margin-top:6px; text-align:center;}
.zsimg-lst a,.zsimg-lst a:visited,.zsimg-lst a:hover{color:#666666;}
.zsimg-lst-w{width:1000px; overflow:hidden;}
.zsimg-lst-w .con{width:1008px;}
.zsimg-lst-w .con li{float:left; width:168px; height:110px;}
.zsimg-lst-w .con li .imgCon{width:160px; height:100px; position:relative; overflow:hidden;}
.zsimg-lst-w .con li .imgCon .mHide{position:absolute; z-index:80; height:24px; width:160px; left:0; bottom:0;}
.zsimg-lst-w .con li .imgCon .mHide i{display:block; position:absolute; left:0; top:0; height:24px; width:160px; background:#000; opacity:.6; filter: alpha(opacity=60);}
.zsimg-lst-w .con li .imgCon .mHide p{display:block; height:22px; line-height:22px; padding:2px 5px 0; text-align:center; overflow:hidden; position:relative;}
.zsimg-lst-w .con li .imgCon .mHide p{font:12px/22px "\5B8B\4F53",sans-serif;}
.zsimg-lst-w .con li .imgCon .mHide a,.zsimg-lst-w .con li .imgCon .mHide a:visited,.zsimg-lst-w .con li .imgCon .mHide a:hover{color:#ffffff;}
.zsimg-lst-w .con li .imgCon img{width:160px;}

/*
news
*/
.newstImg-con-a{width:100%;}
.newstImg-con-a .newstImg-con-H4{display:block; font-weight:normal; font-size:14px;}
.newstImg-con-a h4{display:block; font-weight:normal; font-size:14px;}
.newstImg-con-a .con{display:block;}
.newstImg-con-a .con .imgCon{float:left;}
.newstImg-con-a .con .fCon{float:left; color:#999999}
.newstImg-con-a .con .fCon{font-size:12px; font-family:"\5B8B\4F53";}
.newstImg-con-a a,.newstImg-con-a a:visited,.newstImg-con-a a:hover{color:#202020;}

/*
cooperate 合作
*/
.cooperate{width:1000px;}
.cooperate .tab_box{width:998px; border:#e3e3e3 solid 1px; font-size:12px; font-family: "Simsun","\5B8B\4F53"; line-height:30px; color:#2d2d2d; margin-top:10px;}
.cooperate .con{padding:10px; width:978px;}
.cooperate .con a{white-space:nowrap; color:#2d2d2d;}
.cooperate .con a:visited{ color:#2d2d2d;}
.cooperate .hide{display:none;}

/**
* footer css
*/
#footer ul{
list-style:none;
}
#footer a{
font:12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
text-decoration:none;
}
#footer{
clear:both;
text-align:center;
}
#footer #footer-v0{
font:12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
color:#999;
margin:0 auto;
padding:12px 0 0;
}
#footer-v0 a:link,
#footer-v0 a:visited{
color:#333;
}
/*
#footer-v0 a:hover,
#footer-v0 a:active{
color:#cc66cc !important;
text-decoration:underline;
}*/
#footer-v0 .footer-container{
background-color:#f6f6f6;
border-top:1px solid #dadada;
padding-bottom:10px;
}
#footer-v0 p,
#footer-v0 ul,
#footer-v0 li,
#footer-v0 dt,
#footer-v0 dd{
display:inline;
}
#footer-v0 p{_padding-right:8px;}
#footer-v0 .efu-pages{padding:4px 0 8px;}
#footer-v0 .efu-group{padding:26px 0 2px;}
#footer-v0 .efu-tongji{padding-top:10px; margin:0 auto; text-align:center;}
#footer-v0 .efu-pages img{vertical-align:middle;}


/*mpage*/
#thePages{padding:10px 0; width:100%;}
#thePages .pages1{text-align:center;}
#thePages .pages1 span,#thePages .pages1 b{text-decoration:none; display:inline-block; margin:2px 3px;  border:#d8dadf 1px solid; }
#thePages .pages1 em{text-decoration:none; display:inline-block; margin:2px 3px;  border:#d8dadf 1px solid; }
#thePages .pages1 span a,#thePages .pages1 span i{display:inline-block;}
#thePages .pages1 span a,#thePages .pages1 span i,#thePages .pages1 b,#thePages .pages1 em,#pr_genduo{line-height:34px; padding: 0 18px;}
#thePages .pages1 span{background-color:#ffffff;}
#thePages .pages1 span a,#thePages .pages1 span a:visited,#thePages .pages1 span a:hover{color:#555555;}
#thePages .pages1 em{border:#427aae 1px solid; background-color:#427aae; color:#ffffff;}
#thePages .pages1 em.pager_b1,#thePages .pages1 em.pager_b2,#thePages .pages1 em.pager_b3{border:#d8dadf 1px solid; background-color:#ffffff; font-weight:normal; color:#888888;}
#thePages .pages1 b{border:#427aae 1px solid; background-color:#427aae; color:#ffffff;}
#thePages .pages1 b.pager_b1,#thePages .pages1 b.pager_b2,#thePages .pages1 b.pager_b3{border:#d8dadf 1px solid; background-color:#ffffff; font-weight:normal; color:#888888;}
#thePages .pages1 span i{color:#888888;}
#pr_genduo{border:#d8dadf 1px solid; background-color:#ffffff; color:#427aae; cursor:pointer;}
#thePages .pages2,#thePages .pages3{margin-top:6px; display:none;}
#thePages .pages2 span,#thePages .pages2 b{text-decoration:none; display:inline-block; line-height:20px; margin:2px;  padding: 0 10px;  background-color:#efefef;}
#thePages .pages2 em{text-decoration:none; display:inline-block; line-height:20px; margin:2px;  padding: 0 10px;  background-color:#efefef;}
#thePages .pages2,#thePages .pages2 span{color:#202020;}
#thePages .pages2 a,#thePages .pages2 a:visited,#thePages .pages2  a:hover{color:#427aae;}
#thePages .pages3 span,#thePages .pages3 b{text-decoration:none; display:inline-block; line-height:20px; margin:2px;  padding: 0 10px;  background-color:#efefef;}
#thePages .pages3 em{text-decoration:none; display:inline-block; line-height:20px; margin:2px;  padding: 0 10px;  background-color:#efefef;}
#thePages .pages3,#thePages .pages3 span{color:#202020;}
#thePages .pages3 a,#thePages .pages3 a:visited,#thePages .pages3 a:hover{color:#427aae;}
#thePages .pages1  span.page_max,#thePages .pages1 span.page_index{display:none;}

/*back-to-top 返回页面顶*/
#back-to-top{position:fixed; bottom:50px; _bottom: 50px;right:0; z-index: 10000; _position:absolute; _top:expression(documentElement.scrollTop + documentElement.clientHeight-260);}
#back-to-top .btn_fix0,#back-to-top .btn_fix1{position:relative; width:55px; height:55px; text-indent:-999em; overflow:hidden; display:none;}
#back-to-top .btn_fix1,#back-to-top .btn_fix1{margin-top:1px;}
#back-to-top .btn_fix0_link,#back-to-top .btn_fix1_link{display: block; cursor: pointer; width: 55px; height: 55px; overflow: hidden; background-image: url(http://cs1.chinaefu.net/images/2016N/csssprite_index.png); background-repeat: no-repeat;}
#back-to-top .btn_fix0_link{ background-position: -10px -564px;}
#back-to-top .btn_fix1_link{ background-position: -10px -620px;}
#back-to-top .btn_fix0_link:hover{ background-position: -10px -711px;} 
#back-to-top .btn_fix1_link:hover{ background-position: -10px -767px;}
#back-to-top .btn_message0{position:relative; width:55px; height:55px; text-indent:-999em; overflow:hidden;}
#back-to-top .btn_message0{margin-top:1px !important;}
#back-to-top .btn_message0_link{display: block; cursor: pointer; width: 55px; height: 55px; overflow: hidden; background-image: url(http://cs1.chinaefu.net/images/message1.png); background-repeat: no-repeat;}
#back-to-top .btn_message0_link{ background-position: 0 0;}
#back-to-top .btn_message0_link:hover{ background-position: 0 -56px;}
#back-to-top .btn_message1{margin-top:1px !important; text-indent:-999em;}
#back-to-top .btn_message1_link{display: block; cursor: pointer; width: 55px; height: 55px; overflow: hidden; background-image: url(http://cs1.chinaefu.net/images/message2.png); background-repeat: no-repeat;}
#back-to-top .btn_message1_link{ background-position: 0 0;}
#back-to-top .btn_message1_link:hover{ background-position: 0 0px;}
#back-to-top .btn_message2{position:relative; width:55px; height:55px; text-indent:-999em; overflow:hidden;}
#back-to-top .btn_message2{margin-top:1px !important;text-indent:-999em;}
#back-to-top .btn_message2_link{display: block; cursor: pointer; width: 55px; height: 55px; overflow: hidden; background-image: url(http://cs1.chinaefu.net/images/2016N/csssprite_index.png);  background-position: -10px -235px; background-repeat: no-repeat;}
#back-to-top .btn_message2_link:hover{ background-position: -10px -291px}
/*back-to-top 回到顶部  二维码*/
.wechat-m {	width:200px; height:212px; 	background: url(http://cs1.chinaefu.net/images/two_dimension_02.png) no-repeat left top;	position: absolute;	right:56px; 	bottom:25px;	display:none;	z-index:999;}
/*新闻中心*/
#back-to-top .btn_message4{position:relative; width:55px; height:55px; text-indent:-999em; overflow:hidden;}
#back-to-top .btn_message4{margin-top:1px !important;text-indent:-999em;}
#back-to-top .btn_message4_link{display: block; cursor: pointer; width: 55px; height: 55px; overflow: hidden; background-image: url(http://cs1.chinaefu.net/images/message4.png); background-repeat: no-repeat;}
#back-to-top .btn_message4_link,#back-to-top .btn_message4_link:hover{ background-position: 0 0px;}

/*wechat 二维码*/
#code,#code_hover{width:55px;height:55px;background:url(http://cs1.chinaefu.net/images/distributor/2013/wechat-2013-distr.png) no-repeat;position:fixed;right:0px;cursor:pointer;_position:absolute;bottom:161px;_margin-bottom:161px;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));z-index: 101;}
#code{background-position:-265px -330px;z-index: 101;}
#code_hover{background-position:-209px -330px;z-index: 101;} 
#code_img{width:209px;height:384px;background:url(http://cs1.chinaefu.net/images/distributor/2013/wechat-2013-distr.png) 0 no-repeat;position:fixed;right:60px;bottom:161px;cursor:pointer;display:none;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_margin-bottom:161px;}
/*
#jd_dialog  弹出层公用
*/
#jd_dialog_m_h,#jd_dialog_m_h_r{background:transparent url(http://cs1.chinaefu.net/images/zs/2013N/tan01.png) no-repeat 999em 0;}
#jd_shadow {z-index:10001;position:absolute;background-color:#000000;filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;}
#jd_dialog{z-index:10002;position:absolute;}
#jd_dialog_s{position:absolute;background-color:#000000;filter:alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;}
#jd_dialog_m{position:absolute;}
#jd_dialog_m_h{float:left;width:100%;height:32px; overflow:hidden; cursor:move; background-position:0 0; background-repeat:repeat-x;}
#jd_dialog_m_h_l{float:left;color:black;font-weight:bold;padding-top:7px;padding-left:5px; color:#ffffff; font-size:14px;}
#jd_dialog_m_h_r{float:right;color:black;width:16px; height:16px; overflow:hidden; background-position:0 -47px; cursor:pointer; text-indent:-999em; margin-right:12px; margin-top:8px;}
#jd_dialog_m_h_r:hover{background-position:-16px -47px;}
#jd_dialog_m_b{float:left;}
#jd_dialog_m_b_1{position:absolute;alpha(opacity=0);-moz-opacity:0.0;opacity:0.0;z-index:900;}
#jd_dialog_m_b_2{position:absolute;z-index:899;}
#jd_dialog_m_t{float:left;width:100%;height:40px;padding-top:10px;text-align:center;}
.jd_dialog_m_t_s{padding-left:10px;}

#jd_dialog_s{padding:12px;}
/*合作品牌*/
.readmore-js-toggle{ text-align:right;color:#848484; font-size:12px;font-family: "Simsun", "\5B8B\4F53";line-height: 26px;cursor:pointer;}

/*baidu_share_box*/
.baidu_share_box .bdsharebuttonbox a { padding: 0!important; float: none!important; background-image: url(http://cs1.chinaefu.net/images/cEfu/share20141111.png)!important; }
.baidu_share_box { position:fixed; _position: absolute; left: 50%; margin-left: -550px; width: 50px; top: 300px;_position:absolute;  _margin-top: 0;  _top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.offsetHeight)/2) }
.baidu_share_box .bdsharebuttonbox a { display: block!important; width: 24px!important; height: 24px!important; text-indent: -9999em; overflow: hidden; margin: 0 auto 5px!important; font-family: arial!important; }
.baidu_share_box .bdsharebuttonbox a:hover { opacity: 1!important; filter: alpha(opacity=100)!important; }
.baidu_share_box .bdsharebuttonbox .bds_qzone { background-position: 0 0!important; }
.baidu_share_box .bdsharebuttonbox .bds_qzone:hover { background-position: -26px 0!important; }
.baidu_share_box .bdsharebuttonbox .bds_tsina { background-position: 0 -29px!important; }
.baidu_share_box .bdsharebuttonbox .bds_tsina:hover { background-position: -26px -29px!important; }
.baidu_share_box .bdsharebuttonbox .bds_tqq { background-position: 0 -58px!important; }
.baidu_share_box .bdsharebuttonbox .bds_tqq:hover { background-position: -26px -58px!important; }
.baidu_share_box .bdsharebuttonbox .bds_weixin { background-position: 0 -87px!important; }
.baidu_share_box .bdsharebuttonbox .bds_weixin:hover { background-position: -26px -87px!important; }
.baidu_share_box .bdsharebuttonbox .bds_sqq { background-position: 0 -116px!important; }
.baidu_share_box .bdsharebuttonbox .bds_sqq:hover { background-position: -26px -116px!important; }
.baidu_share_box .bdsharebuttonbox .bds_mshare { background-position: 0 -231px!important; }
.baidu_share_box .bdsharebuttonbox .bds_mshare:hover { background-position: -26px -231px!important; }
.baidu_share_box .bdsharebuttonbox .bds_tqf { background-position: 0 -202px!important; }
.baidu_share_box .bdsharebuttonbox .bds_tqf:hover { background-position: -26px -202px!important; }
.baidu_share_box .bdsharebuttonbox .bds_more { background-position: 0 -145px!important; }
.baidu_share_box .bdsharebuttonbox .bds_more:hover { background-position: -26px -145px!important; }

/*左侧漂浮广告*/
.ad-Float-2 { width:100%; margin:0 auto;}
.ad-Float-2-a { position: fixed;  top: 151px; _position: absolute; _top:expression(documentElement.scrollTop + 151);z-index: 100; }
.ad-Float-2-b {position: fixed; top: 151px; _position: absolute; _top:expression(documentElement.scrollTop + 151);z-index: 101; }
.ad-Float-2-l { margin-left: 510px; left: 50%;}
.ad-Float-2-r { margin-left: -590px; left: 50%;}
.ad-Float-2 .ad-Float-2-con { width: 80px; height:520px; background-color:transparent; float: left; overflow: hidden; }
.ad-Float-2 .ad-Float-2-con ul{ width:80px; height:520px; overflow:hidden;}
.ad-Float-2 .ad-Float-2-con ul li{ width:80px; height:160px; margin-bottom:10px !important; display:block;}
.ad-Float-2 .ad-Float-2-con ul li img { width: 80px; overflow: hidden; }
.ad-Float-2 .ad-Float-2-con ul li a, .ad-Float-2 .ad-Float-2-con ul li a:visited, .ad-Float-2 .ad-Float-2-con ul li a:hover { color:#ff0000;} 

/*右侧品牌查找浮动*/
.finderBox{width: 117px;height: 211px;border:1px solid #dfdfdf;background:#fff; position: fixed; right:0px; top: 150px;}
.finderBox h4{background: #eee url("http://cs1.chinaefu.net/images/2016n/csssprite_brandhub.png") -3px -1133.5px no-repeat ;border-bottom:1px solid #dfdfdf;height:28px;line-height:28px;/* text-align:center; */font-weight:bold;text-indent: 28px;}
.finderBox .into-see{padding:11px 8px;}
.finderBox .into-see ul li{width:100px;/* height:24px; */margin-bottom:3px;text-align: center;font-size: 13px;color: #929292;margin-bottom: 10px;}
.finderBox .item-btn-see{width:100px;height:24px;text-align:center;line-height:24px;display:block;background: #9E0007;margin-top: 7px;margin-bottom: 5px;border-radius: 3px;}
.finderBox .item-btn-see:link,.finderBox .item-btn-see:visited{color:#fff;}
.finderBox .item-btn-see:hover{background: #D20000;text-decoration:none;}
.finderBox .other-tit{position:relative;}
.finderBox .other-tit span{border-top:1px solid #b6b6b6;padding-top:;display:block;position:absolute;top:10px;width:57px;left:23px;}
.finderBox .other-tit em{background: none repeat scroll 0 0 #fff;display: block;left: 38px;padding: 2px 4px;position: absolute;font-family:"å¾®è½¯é›…é»‘","é»‘ä½“";color:#999;top: 0;}
.finderBox .into-see ul li.input-box{margin-bottom:10px;}
.finderBox .inputxt-wrap{width:98px;height:22px;border:1px solid #e0e0e0;}
.finderBox .inputxt-wrap input{width:90px;padding:0 4px;line-height:22px;height:22px;color:#333;border:1px solid #fff;}
.finderBox .link-help{line-height:20px;color:#333;}
.finderBox .adcgChange{height: 100px;overflow: hidden;position: absolute;right: 0;top: 214px;width: 118px;/* border: 1px solid #7C0000; */}
.finderBox .adcgChange a{background:url("http://cs1.chinaefu.net/images/2016N/adcg-off.jpg") no-repeat;display:block;width:118px;height:100px;}
.finderBox .adcgChange a:hover{background:url("http://cs1.chinaefu.net/images/2016N/adcg-on.jpg") no-repeat;}
.h1hide{display: hidden;}

.nav2016{width:782px; height:60px; background:#3598DB; font-family:微软雅黑;}
.nav2016 dl{ display: block; width: 250px; float:left;padding-top: 6px;border-left: 1px solid #2283C5;border-right: 1px solid #43A9EE;}
.nav2016 dl:hover{ background:#2282C1}
.nav2016 dt{width: 90px; float:left; height: 54px; text-align:center; line-height: 47px; font-size:20px; color:#fff; display:block;}
.nav2016 dd{ color:#fff; float:left; font-size:14px; display: inline-block;height: 24px;line-height: 24px;padding: 0 15px 0 0; position:relative;z-index:10;}
.nav2016 dd a{color:#fff;}
.nav2016 .lb1{width: 301px;border-left: none;}
.nav2016 .lb2{width: 187px;}
.nav2016 .lb3{width: 147px;}
.nav2016 .lb4{width: 114px;padding-left: 27px;height: 54px;border-right: none;white-space:nowrap}
.nav2016 .sublist{width: 113px; position:absolute; top: 22px; left: -37px; display:none; background: #FFF;z-index: 10;text-align: center;box-shadow: 2px 2px 0px #2383C5;border: 1px solid #2283C5;}
.nav2016 .sublist a{color:#333}
.nav2016 .sublist li{border-bottom:1px solid #ccc;width: 100%;height: 30px;line-height: 30px;}

.zsnav2016{width:1000px; margin:0 auto; background:#b58d4f;overflow: hidden;padding: 5px 0 10px 0;}
.zsnav2016 li{width: 165px; text-align: center; float: left; line-height: 20px; height: 20px; border-right: 1px solid #A27D43; display: block; margin-top: 6px;}
.zsnav2016 a{font-size: 15px; color: #fff;}
.zsnav2016 .end{border:none!important;}

/*2016新版头条*/
.topNews2016{width:430px; float:left;  }
.topNews2016 .links{width:100%; height:40px;  display:block}
.topNews2016 .tnBox1{width: 100%;float: left;margin: 5px 0 0px 0px;}
.topNews2016 .tnBox1 strong{ width: 100%; display: block;  color: #000; font-size: 16px; height: 30px; line-height: 30px; overflow: hidden;margin-bottom: 8px;text-indent: 15px;}
.topNews2016 .tnBox1 strong a{color: #3B639F;}
.topNews2016 .tnBox1 strong a:hover{color: #cd0200;}
.topNews2016 .tnBox1 img{width:116px; height:86px; float:left;margin: 0px 0 0 15px;}
.topNews2016 .tnBox1 p{ font-size:14px; line-height: 22px; color:#555; float:left; display:block;width: 276px;margin: 0 0 0 10px;font-family: 宋体;height: 86px;overflow: hidden;}
.topNews2016 .tnBox2 { width: 100%; float: left; margin: 14px 0 0 0;   border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; height: 42px; line-height: 42px;}
.topNews2016 .tnBox2 strong {font-size: 16px;  color: #000; font-family: 微软雅黑;padding-left: 15px;float: left;}
.topNews2016 .tnBox2 span{width: 327px; overflow: hidden; display: block; float: left;font-size: 16px;height: 42px;}
.topNews2016 .tnBox2 span a{color: #252525;}
.topNews2016 .tnBox3 {width: 402px; float: left; margin: 6px 0 0 0;padding-left: 15px;}
.topNews2016 .tnBox3 strong{line-height: 30px; height: 30px; display: block;overflow: hidden;}
.topNews2016 .tnBox3 strong a{ font-size: 16px;color: #3B639F;}
.topNews2016 .tnBox3 strong a:hover{ font-size: 16px;color: #cd0200;}
.topNews2016 .tnBox3 p{font-size: 14px; line-height: 22px; color: #555; display: block; font-family: 宋体;height: 69px;overflow: hidden;}
.topNews2016 .tnBox4 {width: 410px; float: left; overflow: hidden;border-top: 1px solid #e8e8e8;margin: 10px 0 0 0;padding-top: 5px;padding-left: 15px;}
.topNews2016 .tnBox4 ul{width:110%;display: block;overflow: hidden;}
.topNews2016 .tnBox4 ol{width:110%;display: block;overflow: hidden;}
.topNews2016 .tnBox4 li{font-size: 14px; line-height: 24px; width: 197px; height: 24px; overflow: hidden;float: left;margin-right: 15px;font-family: 宋体;background: url(http://cs1.chinaefu.net/images/2016N/csssprite_index.png) -10px -356px no-repeat;text-indent: 10px;}
.topNews2016 .tnBox4 li a{color: #172c45;}
.topNews2016 a:hover{color:#cd0200!important;}

/*2016新版栏目板块*/
.indexCol2016{width:1000px; margin: 0 auto;border-top: 3px solid #3F9DDD;overflow: hidden;}
.indexCol2016 .lcol{width:744px; float:left; margin:0 0 0 0; border-right:1px solid #e6e6e6; }
.indexCol2016 .lcol .tit{width:100%;float:left; height: 44px; line-height: 44px; border-bottom: 1px solid #e6e6e6;url(http: //cs1.chinaefu.net/images/NEW2013/index_be.png) 0 0 repeat;background: url(http://cs1.chinaefu.net/images/NEW2013/index_be.png) 0 0 repeat;}
.indexCol2016 .lcol .tit h3{ font-size: 24px; font-weight: normal; color: #333 ;width: 200px;float: left;text-indent: 10px;/* text-shadow: 1px 1px 0px #fff; */}
.indexCol2016 .lcol .tit h3 em{color: #3598db;  font-size: 20px;  padding-left: 4px;}
.indexCol2016 .lcol .tit .olinks{float: right; color: #777;text-align: right;/* width: 530px; */padding-right: 10px;}
.indexCol2016 .lcol .tit .olinks a{ color: #333; padding: 2px 10px;font-size: 14px;background: #fff;}
.indexCol2016 .lcol .tit .olinks a:hover{color: #3698DB;}
.indexCol2016 .lcol-img{width:215px; float: left; margin: 15px 0 0 0;overflow: hidden;height: 200px;position: relative;}
.indexCol2016 .lcol-img img{width:215px; float: left; height: 159px;}
.indexCol2016 .lcol-img p{width:100%; float: left; height: 40px; line-height: 40px; border-bottom: 1px solid #d3d3d3; display: block; font-size: 14px;overflow: hidden; text-align: center}
.indexCol2016 .lcol-img .hd{ height:15px; overflow:hidden; position:absolute; right: 0px; top: 141px; z-index:1; }
.indexCol2016 .lcol-img .hd ul{ overflow:hidden; zoom:1; float:left;  }
.indexCol2016 .lcol-img .hd ul li{ float:left; margin-right: 6px;  width: 10px; height: 10px; line-height:14px; text-align:center; background: #000; cursor:pointer; border: 1px solid #fff;}
.indexCol2016 .lcol-img .hd ul li.on{ background: #3F9DDD; color:#fff; }
.indexCol2016 .lcol-img .bd{ position:relative; height:100%; z-index:0;   }
.indexCol2016 .lcol-img .bd li{ zoom:1; vertical-align:middle; }
.indexCol2016 .lcol-news{ width: 500px;float: left;margin: 15px 0 0 15px;}
.indexCol2016 .rcol{width: 255px; float:left; margin:0 0 0 0; }
.indexCol2016 .lcol-news .toptitle{width:100%; float: left; font-weight: bold; font-size: 18px;height: 20px;overflow: hidden;}
.indexCol2016 .toplist{width:100%; float:  left;margin: 7px 0 0 0;}
.indexCol2016 .toplist ul{width:110%;float: left;margin: 7px 0 0 0;}
.indexCol2016 .toplist li{font-size: 14px; line-height: 29px; width: 237px; float: left; overflow: hidden;height: 29px;margin-right: 25px;font-family: 宋体;} 
.indexCol2016 .toplist li a{color:#666;}
.indexCol2016 .toplist li a:hover{color:#f00; text-decoration: underline; }
.indexCol2016 .rcol .tit{ height: 44px; line-height: 44px; text-indent: 10px;font-size: 16px;font-weight: bold;/* background: #efefef; */text-shadow: 1px 1px 1px #fff;}
.indexCol2016 .rcol-news {width: 100%;float: left; margin: -3px 0 0 0;}
.indexCol2016 .rcol-news li{font-size: 14px; line-height: 25px; width: 254px; float: left; overflow: hidden;height: 25px;margin-right: 25px;font-family: 宋体;background: url(http://cs1.chinaefu.net/images/2016N/csssprite_index.png) 0px -529px no-repeat;text-indent: 20px;} 
.indexCol2016 .rcol-news li a{color: #333;}
.indexCol2016 .rcol-news li a:hover{color:#f00; text-decoration: underline; }

.personSlide{width:100%; float: left; margin: -2px 0 0 0;height: 220px;}
.personSlide .perCell{width:100%; margin: 0px 0 7px 12px;float: left;}
.personSlide .perCell-info{width: 100%; float: left;  border-bottom: 1px dashed #ccc; padding-bottom: 8px;padding-top: 7px;}
.personSlide .perCell .headpic{width: 70px; height: 70px; overflow: hidden;float: left;}
.personSlide .perCell .headpic img{width: 70px; height:auto;}
.personSlide .personNew{width: 241px; height: 24px;overflow:hidden;line-height: 24px;}
.personSlide .perCell .pertxt{width: 160px;float: left;margin: 0 0 0 12px;}
.personSlide .perCell .pertxt strong{font-size:14px; float:left;display: block;width: 100%;}
.personSlide .perCell .pertxt p{font-family: 宋体; font-size: 12px; line-height: 19px; height: 56px; overflow: hidden;width: 100%; color: #777;font-weight: normal;}
.personSlide { width: 100%; float: left;  margin-top: 3px; font-weight: bold; font-size: 14px;position: relative;}
.personSlide a{color:#414141;}
.personSlide .hd{ height:15px;  position:absolute; right: 0px; top: -30px; z-index:1; }
.personSlide .hd ul{ overflow:hidden; zoom:1; float:left;  }
.personSlide .hd ul li{ float:left; margin-left: 5px;  width: 29px; height: 5px; line-height:14px; text-align:center; background: #000; cursor:pointer; border: 1px solid #fff;font-size: 0px;}
.personSlide .hd ul li.on{ background: #3F9DDD; color:#fff; }

.indexCol2016 .jxsscroll{width: 100%;height: 226px;  overflow: hidden;}
.indexCol2016 .jxsscroll li{width: 246px; overflow: hidden; display: block; background: url(http://cs1.chinaefu.net/images/2016N/li-speaker.png) 6px 4px no-repeat; color: #ff3c00; font-size: 14px; height: 45px; text-indent: 28px;margin: 5px 0 0px 10px;border-bottom: 1px #e0e0e0 dashed;line-height: 24px;padding-bottom: 5px;font-family: 宋体;}
.indexCol2016 .jxsscroll li a{color: #ff3c00;}

.rcol-topic{width:100%; float: left; margin: -9px 0 0px 11px;}
.rcol-topic li {margin-top: 10px;	position: relative;display: block;}
.rcol-topic strong {font-size: 14px;	text-align: center;display: block;position: absolute;bottom: 0px;left: 0;width: 240px;height: 30px;line-height: 30px;background: rgba(0,0,0,.7);color: #fff;}
.rcol-topic li img{width: 240px; height: auto;margin-top: -10px;}
.rcol-topic li .imgbox{width:240px; height: 105px; overflow: hidden;}
.rcol-topic strong a{color:#fff}

.rcol-video{width:100%; float: left; margin: -9px 0 0px 11px;}
.rcol-video li {margin-top: 10px;	position: relative;display: block;}
.rcol-video strong {font-size: 14px;	text-align: center;display: block;position: absolute;bottom: 0px;left: 0;width: 240px;height: 30px;line-height: 30px;background: rgba(0,0,0,.5);color: #fff;}
.rcol-video li .imgbox{width:240px; height: 105px; overflow: hidden;}
.rcol-video li img{width: 240px; height: auto;margin-top: -10px;}
.rcol-video strong a{color:#fff}
.rcol-video li .playico{ display: block; width:42px; height: 42px; background: url(http://cs1.chinaefu.net/style/2016N2/images/play-v.png); position: absolute; top: 0px; left: 0px }


/*-----------内联调整新增样式-----------*/

/*优质品牌推荐*/
.zsimg5-lst {width:100%;font-size:12px;font-family:"\5B8B\4F53";padding: 10px 0; font-family:微软雅黑}
.zsimg5-lst li{width: 195px;float:left;position:relative;}
.zsimg5-lst .con{width:160px;padding:5px;border:#e2e2e2 solid 1px;margin: 0 auto;}
.zsimg5-lst .con .imgCon{width:160px; height:100px; overflow:hidden;}
.zsimg5-lst .con .imgCon img{width:160px;}
.zsimg5-lst .con .fCon{width:162px;height:20px;line-height:20px;overflow:hidden;display:block;margin-top:6px;text-align:center;background:#F6F5F3;margin-bottom: 4px;}
.zsimg5-lst .con .sfCon strong{color:#222}
.zsimg5-lst .con .sfCon{width:162px;height: 24px;line-height: 24px;overflow:hidden;display:block;border-bottom: 1px dashed #F6F5F3;text-indent: 2px;color: #666;}
.zsimg5-lst a,.zsimg-lst a:visited,.zsimg-lst a:hover{color:#333;}

/*相关资源*/
.relatedRes{width: 1000px;margin-left: auto;margin-right: auto;}
.relatedRes .rr-tt{color: #000;font: normal 20px/32px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "SimHei", "\9ED1\4F53";height: 32px;line-height: 32px;border-bottom: 1px solid #000;}
.relatedRes .rr-con{width: 100%;overflow: hidden;position: relative;padding-bottom: 20px;border-bottom: 1px solid #aaa;}
.relatedRes .rr-cell{width: 980px;border-top: #e3e3e3 dotted 1px;font-size: 12px;font-family: "Simsun", "\5B8B\4F53";line-height: 26px;color: #848484;padding: 10px;float: left;}
.relatedRes .rr-cell-l{width: 150px;float: left;display: inline-block;}
.relatedRes .rr-cell-r{width: 830px;float: left;display: inline-block;overflow: hidden;}
.relatedRes .rr-cell-r li a{white-space: nowrap; color: #848484;}
.relatedRes .rr-cell-r li {width: 138px;float: left;display: inline-block;}
.relatedRes .rr-btn{width:80px;height:26px;display:block;background-image:url(http://cs1.chinaefu.net/images/rr-btn.png);background-repeat:no-repeat;position: absolute;bottom: 0px;left: 50%;margin-left: -40px;}
.relatedRes .rr-btn-on{ background-position:0 -26px}

/*顶部菜单下拉*/
.droplink{ width: 100px; float: right; background: #545454 url(http://cs1.chinaefu.net/images/droplink-ico.png) no-repeat 77px 12px; margin-left: 10px; text-indent: 18px;}
.droplink strong{ display: block; width: 100px; line-height: 30px; height: 30px;}
.droplink ul{ display:none}
.droplink li{height: 30px; line-height: 30px; border-top: 1px solid #333;}
.droplink li a{display: block; width: 100%; height: 100%;}
.droplink li a:hover{ background: #333; text-decoration: none;}

.droplink:link ul{display: none;}
.droplink:hover ul{display: block;}


.li-w145 li{width:145px!important;}
.li-w115 li{width:115px!important;}

.ggTips{width: 24px; height: 14px; position: absolute; right: 0px; top: 0px; z-index: 2;  padding: 0px; margin: 0px; border: 0px; font-size: 0px; background: url("http://cs1.chinaefu.net/images/icon-ad.png");}

#ad4{position: relative;}

.head-main .bannerBox li{position: relative;}
.layout-a .banner-wrap li {position: relative;}

.ptop10{padding-top: 10px!important}
.ptop20{padding-top: 20px!important}
.pbottom10{padding-bottom: 10px!important}


.bdlm-1000{width:1000px; overflow: hidden; float: left}
.bdlm-250{width:250px;overflow: hidden;}
.bdlm-720{width:720px;overflow: hidden;}
.bdlm-730{width:730px;overflow: hidden;}
.bdlm-300{width:300px;overflow: hidden;}
.bdlm-670{width:670px;overflow: hidden;}
.bdlm-680{width:680px;overflow: hidden;}
.bdlm-690{width:690px;overflow: hidden;}
.bdlm-620{width:620px;overflow: hidden;}


.bdlm-670-2 { width: 669px; overflow: hidden; margin-left: -25px;}

.floatnone{float:none!important;}
.fll{float: left;}
.otherlogin{float: left;margin-top: 10px;text-align: center;background: #f3f3f3;padding: 10px;border: 1px solid #ddd;border-radius: 2px;width: 294px;height: 24px;}
.kblongbtn{ width: 100%;}
.kbnewadd{ float: left;  width: 100%;  text-align: center;    padding-top: 10px;}


.pbottom15{padding-bottom: 15px!important}


.w750{width:750px!important}
.w750 .content{width:750px!important}
.w250{width:250px!important} 
.m-l-0{margin-left: 0!important}

.trade-brandName{ font-weight: normal; padding-right: 10px; color: #9E9E9E;}
.trade-brandName a{ color: #FF5722!important;}