/** Breakpoints **/
/** Responsive variables to use site wide **/
/* resource center colors */
/** Breakpoints **/
.lifecycle {
  padding: 5em 0 6.25em;
  text-align: center;
  font-family: "roboto-thin", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-weight: 200; }
  @media (max-width: 750px) {
    .lifecycle {
      padding: 2em 0; } }

.lifecycle__blue-background {
  background-color: #d5eafd;
  position: absolute;
  height: 380px;
  width: 100%;
  z-index: -100;
  margin-top: -5em; }
  .recruiting .lifecycle__blue-background {
    display: none; }

.heading--front--lifecycle {
  margin: 0 auto 15px;
  width: 80%;
  line-height: 50px; }
  @media (max-width: 750px) {
    .heading--front--lifecycle {
      font-size: 1.875em;
      line-height: 35px; } }

.lifecycle__sub {
  color: #8791a3;
  font-size: 1.875em;
  margin: 0 auto -1em auto;
  width: 80%;
  line-height: 30px; }
  @media (max-width: 750px) {
    .lifecycle__sub {
      font-size: 1.375em;
      line-height: 25px; } }

.lifecycle__cycle-container {
  position: relative;
  padding-top: 4em;
  height: 530px;
  z-index: 1;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px; }
  .recruiting .lifecycle__cycle-container {
    padding-top: 2em;
    height: 400px; }
  @media (max-width: 750px) {
    .lifecycle__cycle-container {
      height: 382px; }
      .recruiting .lifecycle__cycle-container {
        padding-top: 2em;
        height: 250px; } }

.lifecycle__cycle {
  position: absolute;
  top: 180px;
  left: 420px; }

.lifecycle__screen-container {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.lifecycle__control--left, .lifecycle__control--right {
  position: absolute;
  top: 47%;
  font-size: 3em;
  cursor: pointer;
  color: #edeaea;
  -webkit-transition: all .2s;
          transition: all .2s;
  opacity: 0.6;
  width: 31px;
  height: 79px; }
  @media (max-width: 1024px) {
    .lifecycle__control--left, .lifecycle__control--right {
      width: 31px;
      height: 79px;
      opacity: 0.6;
      -webkit-transition: all .2s;
              transition: all .2s; } }
  .lifecycle__control--left:hover, .lifecycle__control--right:hover {
    opacity: 1; }
  @media (max-width: 1100px) {
    .lifecycle__control--left, .lifecycle__control--right {
      display: none; } }
  .lifecycle__control--left:hover, .lifecycle__control--right:hover {
    color: #b7b7b7; }

.lifecycle__control--left {
  background: url(/web/img/products/left-arrow.png) top left no-repeat;
  left: 0; }
  @media (max-width: 1024px) {
    .lifecycle__control--left {
      left: 15px; } }

.lifecycle__control--right {
  background: url(/web/img/products/right-arrow.png) top left no-repeat;
  right: 0; }
  @media (max-width: 1024px) {
    .lifecycle__control--right {
      right: 15px; } }

.lifecyle__screen-chrome {
  width: 482px;
  height: 17px;
  display: block;
  -webkit-transition: .5s;
          transition: .5s;
  background: url("/web/img/home/lifecycle/browser-chrome.png"); }
  .recruiting .lifecyle__screen-chrome {
    display: none; }

.lifecycle__screen {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 482px;
  height: 357px;
  top: 84px;
  left: 50%;
  margin-left: -241px;
  background-position: 0px 17px;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px gray;
  -webkit-transition: .5s;
          transition: .5s;
  cursor: pointer; }
  .recruiting .lifecycle__screen {
    top: 40px;
    box-shadow: none; }
  @media (max-width: 750px) {
    .lifecycle__screen {
      width: 250px;
      height: 185px;
      background-position: 0px 11px;
      margin-left: -126px;
      top: 45px;
      background-size: 100%; }
      .recruiting .lifecycle__screen {
        top: 34px; } }
  .lifecycle__screen.-active {
    z-index: 3;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    box-shadow: 0 0 10px #bbbaba;
    -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
            transform: translateX(0px) translateZ(0px) rotateY(0deg);
    cursor: default; }
    .recruiting .lifecycle__screen.-active {
      cursor: pointer;
      box-shadow: none; }
    .lifecycle__screen.-active.-zoomed {
      width: 821px;
      height: 609px;
      margin-left: -410px;
      margin-top: -100px;
      position: absolute; }
      .lifecycle__screen.-active.-zoomed .lifecyle__screen-chrome {
        width: 821px; }
      .lifecycle__screen.-active.-zoomed.-transition-complete {
        cursor: zoom-out; }
  .lifecycle__screen.-right-of-middle {
    -webkit-transform: translateZ(-200px) rotateY(-45deg);
            transform: translateZ(-200px) rotateY(-45deg);
    margin-left: 109px;
    opacity: .8;
    filter: alpha(opacity=80);
    visibility: visible; }
    .no-csstransitions .lifecycle__screen.-right-of-middle {
      margin-left: 260px;
      width: 241px;
      height: 178px; }
    .no-csstransitions .lifecycle__screen.-right-of-middle .lifecyle__screen-chrome {
      position: relative;
      top: 5px; }
  .lifecycle__screen.-left-of-middle {
    -webkit-transform: translateZ(-200px) rotateY(45deg);
            transform: translateZ(-200px) rotateY(45deg);
    margin-left: -591px;
    opacity: .8;
    filter: alpha(opacity=80);
    visibility: visible; }
    @media (max-width: 750px) {
      .lifecycle__screen.-left-of-middle {
        margin-left: -400px; } }
    .no-csstransitions .lifecycle__screen.-left-of-middle {
      margin-left: -502px;
      width: 241px;
      height: 178px; }
    .no-csstransitions .lifecycle__screen.-left-of-middle .lifecyle__screen-chrome {
      position: relative;
      top: 5px; }
  .lifecycle__screen.-right-on-deck {
    -webkit-transform: translateZ(-300px) rotateY(-45deg);
            transform: translateZ(-300px) rotateY(-45deg);
    margin-left: 309px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }
  .lifecycle__screen.-left-on-deck {
    -webkit-transform: translateZ(-300px) rotateY(45deg);
            transform: translateZ(-300px) rotateY(45deg);
    margin-left: -791px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }

.lifecycle-controls {
  position: relative;
  top: 339px;
  left: 50%;
  height: 173px;
  width: 173px;
  margin-left: -86px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 4;
  -webkit-transition: .6s;
          transition: .6s; }
  @media (max-width: 750px) {
    .lifecycle-controls {
      top: 188px; } }
  .lifecycle-controls.-zoomed {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -1;
    -webkit-transition: .6s;
            transition: .6s; }
  .recruiting .lifecycle-controls {
    display: none; }

.lifecycle-controls__animation-box, .lifecycle-controls__animation-box--0, .lifecycle-controls__animation-box--1, .lifecycle-controls__animation-box--2, .lifecycle-controls__animation-box--3, .lifecycle-controls__animation-box--4, .lifecycle-controls__animation-box--5, .lifecycle-controls__animation-box--6, .lifecycle-controls__animation-box--7 {
  position: absolute;
  height: 173px;
  width: 173px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 2s;
          transition: all 2s;
  z-index: 1; }
  .-activated .lifecycle-controls__animation-box, .-activated .lifecycle-controls__animation-box--0, .-activated .lifecycle-controls__animation-box--1, .-activated .lifecycle-controls__animation-box--2, .-activated .lifecycle-controls__animation-box--3, .-activated .lifecycle-controls__animation-box--4, .-activated .lifecycle-controls__animation-box--5, .-activated .lifecycle-controls__animation-box--6, .-activated .lifecycle-controls__animation-box--7 {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .-done-animating .lifecycle-controls__animation-box, .-done-animating .lifecycle-controls__animation-box--0, .-done-animating .lifecycle-controls__animation-box--1, .-done-animating .lifecycle-controls__animation-box--2, .-done-animating .lifecycle-controls__animation-box--3, .-done-animating .lifecycle-controls__animation-box--4, .-done-animating .lifecycle-controls__animation-box--5, .-done-animating .lifecycle-controls__animation-box--6, .-done-animating .lifecycle-controls__animation-box--7 {
    height: 0; }

.lifecycle-controls__animation-box--0 {
  z-index: 1; }
  .-done-animating .lifecycle-controls__animation-box--0 {
    height: 173px; }

.lifecycle-controls__animation-box--1 {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 7; }

.lifecycle-controls__animation-box--2 {
  -webkit-transform: rotate(-57deg);
      -ms-transform: rotate(-57deg);
          transform: rotate(-57deg);
  z-index: 6; }

.lifecycle-controls__animation-box--3 {
  -webkit-transform: rotate(-118deg);
      -ms-transform: rotate(-118deg);
          transform: rotate(-118deg);
  z-index: 5; }

.lifecycle-controls__animation-box--4 {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: 4; }

.lifecycle-controls__animation-box--5 {
  -webkit-transform: rotate(-238deg);
      -ms-transform: rotate(-238deg);
          transform: rotate(-238deg);
  z-index: 3; }

.lifecycle-controls__animation-box--6 {
  -webkit-transform: rotate(-298deg);
      -ms-transform: rotate(-298deg);
          transform: rotate(-298deg);
  z-index: 2; }

.lifecycle-controls__animation-box--7 {
  width: 195px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  -webkit-transition: .3s 1.7s;
          transition: .3s 1.7s;
  z-index: 0; }
  .-activated .lifecycle-controls__animation-box--7 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }

.lifecycle-controls__background-disc {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  display: none; }

.lifecycle-controls__background-disc {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.lifecycle-controls__button--0, .lifecycle-controls__button--1, .lifecycle-controls__button--2, .lifecycle-controls__button--3, .lifecycle-controls__button--4, .lifecycle-controls__button--5, .lifecycle-controls__button--6, .lifecycle-controls__button--7 {
  position: absolute;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  -webkit-transform: translateZ(200px);
          transform: translateZ(200px);
  -webkit-transition: all .3s;
          transition: all .3s;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF),progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .lifecycle-controls__button--0:hover, .lifecycle-controls__button--1:hover, .lifecycle-controls__button--2:hover, .lifecycle-controls__button--3:hover, .lifecycle-controls__button--4:hover, .lifecycle-controls__button--5:hover, .lifecycle-controls__button--6:hover, .lifecycle-controls__button--7:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF),progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .-active.lifecycle-controls__button--0, .-active.lifecycle-controls__button--1, .-active.lifecycle-controls__button--2, .-active.lifecycle-controls__button--3, .-active.lifecycle-controls__button--4, .-active.lifecycle-controls__button--5, .-active.lifecycle-controls__button--6, .-active.lifecycle-controls__button--7 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF),progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .-inactive.lifecycle-controls__button--0, .-inactive.lifecycle-controls__button--1, .-inactive.lifecycle-controls__button--2, .-inactive.lifecycle-controls__button--3, .-inactive.lifecycle-controls__button--4, .-inactive.lifecycle-controls__button--5, .-inactive.lifecycle-controls__button--6, .-inactive.lifecycle-controls__button--7 {
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF),progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }

.lifecycle-controls__button--0 {
  width: 72px;
  left: 50%;
  top: 50%;
  position: relative;
  margin-top: -38px;
  margin-left: -172px;
  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: all 2s;
          transition: all 2s; }
  .-activated .lifecycle-controls__button--0 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.lifecycle-controls__button--recruiting {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.lifecycle-controls__button--1 {
  top: 1px;
  left: 39px; }

.lifecycle-controls__button--2 {
  top: 9px;
  left: 104px; }

.lifecycle-controls__button--3 {
  top: 79px;
  left: 109px; }

.lifecycle-controls__button--4 {
  top: 118px;
  left: 48px; }

.lifecycle-controls__button--5 {
  top: 77px;
  left: 4px; }

.lifecycle-controls__button--6 {
  top: 15px;
  left: 3px; }

.lifecycle-controls__button--7 {
  top: -24px;
  left: -8px;
  z-index: 0; }

.lifecycle-captions {
  position: relative;
  height: 159px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  overflow-y: hidden;
  text-overflow: ellipsis; }
  @media (max-width: 750px) {
    .lifecycle-captions {
      width: 95%; } }
  .lifecycle-captions .lifecycle-caption__heading,
  .lifecycle-captions .lifecycle-caption__tagline {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
    -webkit-transition: .6s;
            transition: .6s; }
    .lifecycle-captions .lifecycle-caption__heading.-zoomed,
    .lifecycle-captions .lifecycle-caption__tagline.-zoomed {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      z-index: -1;
      -webkit-transition: .6s;
              transition: .6s; }

.lifecycle-captions__caption {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all .2s;
          transition: all .2s; }
  @media (max-width: 750px) {
    .lifecycle-captions__caption {
      margin: 0 auto; } }
  .lifecycle-captions__caption.-active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1; }

.lifecycle-caption__heading {
  color: inherit;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 0; }
  @media (max-width: 750px) {
    .lifecycle-caption__heading {
      line-height: 30px;
      font-size: 1.5625em; } }

.lifecycle-caption__tagline {
  color: #c0c1c1;
  white-space: nowrap;
  font-size: 1.3em; }
  @media (max-width: 750px) {
    .lifecycle-caption__tagline {
      display: none; } }

.lifecycle__learn-more {
  display: inline-block;
  padding: .5em 1.1em;
  font-size: 1.125em;
  border: 2px solid #ea683a;
  background: white;
  color: #ea683a;
  -webkit-transition: .3s;
          transition: .3s; }
  .lifecycle__learn-more:hover {
    color: white;
    background: #ea683a;
    -webkit-transition: .3s;
            transition: .3s; }

.lifecycle__learn-more--connect {
  -webkit-transition: .3s;
          transition: .3s; }

.carousel__screen {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 124px;
  height: 120px;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: .3s;
          transition: .3s; }
  @media (max-width: 1024px) {
    .lifecycle__screen.-active .carousel__screen {
      opacity: 1;
      top: 25%; } }
  .lifecycle__screen.-active:hover .carousel__screen {
    opacity: 1;
    -webkit-transition: .3s;
            transition: .3s; }
