/** Breakpoints **/
/** Responsive variables to use site wide **/
/* resource center colors */
/** Breakpoints **/
@font-face {
  font-family: 'Stint-Ultra-Condensed';
  src: url(/web/fonts/StintUltraCondensed-Regular.eot);
  src: url(/web/fonts/StintUltraCondensed-Regular.eot?#iefix) format("embedded-opentype"), url(/web/fonts/StintUltraCondensed-Regular.woff) format("woff"), url(/web/fonts/StintUltraCondensed-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'icon';
  src: url("/web/fonts/icons-primary.eot?s");
  src: url("/web/fonts/icons-primary.eot?#iefix") format("embedded-opentype"), url("/web/fonts/icons-primary.ttf?s") format("truetype"), url("/web/fonts/icons-primary.woff?s") format("woff"), url("/web/fonts/icons-primary.svg#icons-primary?s") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nav-Icon';
  src: url("/web/fonts/icons-navigation.eot");
  src: url("/web/fonts/icons-navigation.eot?#iefix") format("embedded-opentype"), url("/web/fonts/icons-navigation.woff") format("woff"), url("/web/fonts/icons-navigation.ttf") format("truetype"), url("/web/fonts/icons-navigation.svg#icons-navigation") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("/web/fonts/Roboto-Black.eot");
  src: url("/web/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Black.woff") format("woff"), url("/web/fonts/Roboto-Black.ttf") format("truetype"), url("/web/fonts/Roboto-Black.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("/web/fonts/Roboto-BlackItallic.eot");
  src: url("/web/fonts/Roboto-BlackItallic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-BlackItalic.woff") format("woff"), url("/web/fonts/Roboto-BlackItalic.ttf") format("truetype"), url("/web/fonts/Roboto-BlackItalic.svg#robotoblackitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-Regular.eot");
  src: url("/web/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Regular.woff") format("woff"), url("/web/fonts/Roboto-Regular.ttf") format("truetype"), url("/web/fonts/Roboto-Regular.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-Bold.eot");
  src: url("/web/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Bold.woff") format("woff"), url("/web/fonts/Roboto-Bold.ttf") format("truetype"), url("/web/fonts/Roboto-Bold.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-Italic.eot");
  src: url("/web/fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Italic.woff") format("woff"), url("/web/fonts/Roboto-Italic.ttf") format("truetype"), url("/web/fonts/Roboto-Italic.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-BoldItalic.eot");
  src: url("/web/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-BoldItalic.woff") format("woff"), url("/web/fonts/Roboto-BoldItalic.ttf") format("truetype"), url("/web/fonts/Roboto-BoldItalic.svg#robotobolditalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("/web/fonts/Roboto-Light.eot");
  src: url("/web/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Light.woff") format("woff"), url("/web/fonts/Roboto-Light.ttf") format("truetype"), url("/web/fonts/Roboto-Light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("/web/fonts/Roboto-LightItalic.eot");
  src: url("/web/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-LightItalic.woff") format("woff"), url("/web/fonts/Roboto-LightItalic.ttf") format("truetype"), url("/web/fonts/Roboto-LightItalic.svg#robotolightitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("/web/fonts/Roboto-Medium.eot");
  src: url("/web/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Medium.woff") format("woff"), url("/web/fonts/Roboto-Medium.ttf") format("truetype"), url("/web/fonts/Roboto-Medium.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("/web/fonts/Roboto-MediumItalic.eot");
  src: url("/web/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-MediumItalic.woff") format("woff"), url("/web/fonts/Roboto-MediumItalic.ttf") format("truetype"), url("/web/fonts/Roboto-MediumItalic.svg#robotomediumitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-thin';
  src: url("/web/fonts/Roboto-Thin.eot");
  src: url("/web/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Thin.woff") format("woff"), url("/web/fonts/Roboto-Thin.ttf") format("truetype"), url("/web/fonts/Roboto-Thin.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-thin';
  src: url("/web/fonts/Roboto-ThinItalic.eot");
  src: url("/web/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-ThinItalic.woff") format("woff"), url("/web/fonts/Roboto-ThinItalic.ttf") format("truetype"), url("/web/fonts/Roboto-ThinItalic.svg#robotothinitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("/web/fonts/Roboto-Black.eot");
  src: url("/web/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Black.woff") format("woff"), url("/web/fonts/Roboto-Black.ttf") format("truetype"), url("/web/fonts/Roboto-Black.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("/web/fonts/Roboto-BlackItallic.eot");
  src: url("/web/fonts/Roboto-BlackItallic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-BlackItalic.woff") format("woff"), url("/web/fonts/Roboto-BlackItalic.ttf") format("truetype"), url("/web/fonts/Roboto-BlackItalic.svg#robotoblackitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-Regular.eot");
  src: url("/web/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Regular.woff") format("woff"), url("/web/fonts/Roboto-Regular.ttf") format("truetype"), url("/web/fonts/Roboto-Regular.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-Bold.eot");
  src: url("/web/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Bold.woff") format("woff"), url("/web/fonts/Roboto-Bold.ttf") format("truetype"), url("/web/fonts/Roboto-Bold.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-Italic.eot");
  src: url("/web/fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Italic.woff") format("woff"), url("/web/fonts/Roboto-Italic.ttf") format("truetype"), url("/web/fonts/Roboto-Italic.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto';
  src: url("/web/fonts/Roboto-BoldItalic.eot");
  src: url("/web/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-BoldItalic.woff") format("woff"), url("/web/fonts/Roboto-BoldItalic.ttf") format("truetype"), url("/web/fonts/Roboto-BoldItalic.svg#robotobolditalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("/web/fonts/Roboto-Light.eot");
  src: url("/web/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Light.woff") format("woff"), url("/web/fonts/Roboto-Light.ttf") format("truetype"), url("/web/fonts/Roboto-Light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("/web/fonts/Roboto-LightItalic.eot");
  src: url("/web/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-LightItalic.woff") format("woff"), url("/web/fonts/Roboto-LightItalic.ttf") format("truetype"), url("/web/fonts/Roboto-LightItalic.svg#robotolightitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("/web/fonts/Roboto-Medium.eot");
  src: url("/web/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Medium.woff") format("woff"), url("/web/fonts/Roboto-Medium.ttf") format("truetype"), url("/web/fonts/Roboto-Medium.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("/web/fonts/Roboto-MediumItalic.eot");
  src: url("/web/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-MediumItalic.woff") format("woff"), url("/web/fonts/Roboto-MediumItalic.ttf") format("truetype"), url("/web/fonts/Roboto-MediumItalic.svg#robotomediumitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-thin';
  src: url("/web/fonts/Roboto-Thin.eot");
  src: url("/web/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-Thin.woff") format("woff"), url("/web/fonts/Roboto-Thin.ttf") format("truetype"), url("/web/fonts/Roboto-Thin.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

@font-face {
  font-family: 'roboto-thin';
  src: url("/web/fonts/Roboto-ThinItalic.eot");
  src: url("/web/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/web/fonts/Roboto-ThinItalic.woff") format("woff"), url("/web/fonts/Roboto-ThinItalic.ttf") format("truetype"), url("/web/fonts/Roboto-ThinItalic.svg#robotothinitalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-variant: normal; }

.icon, .icon-nav, .banner__button2016.-play-video:before, .product-tour__nav-button:before, [class^="icon-"], [class*=" icon-"] {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-nav {
  font-family: 'Nav-Icon'; }

body, .cs-atscs-jobdet-rtpane {
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: #585858;
  font-size: 16px;
  line-height: 1.5; }

h1, h2, h3, h4 {
  font-family: "roboto-thin", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: #232325; }

h1, .h1, h2, .h2 {
  font-weight: bold;
  margin: 0 0 .35em;
  font-size: 2.875em;
  letter-spacing: -1px;
  line-height: 0.8913em; }
  @media (max-width: 750px) {
    h1, .h1, h2, .h2 {
      font-size: 2.1875em;
      line-height: 35px; } }

h3, .h3 {
  margin: 1.5em 0 .25em;
  font-size: 1.375em;
  font-weight: normal;
  line-height: 1.36364;
  color: #0e0e0e; }

h4, .h4 {
  color: #1c1c1c;
  margin: 1.5em 0 .75em;
  font-size: 1.125em; }

.dropdown h5, .dropdown .h5 {
  font-weight: normal;
  color: #A3A3A3;
  margin: 0;
  font-size: 0.6875em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .7em; }

h6, .h6 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  color: #0e0e0e; }

p {
  margin: 0 0 1.5em; }

.italic {
  font-style: italic !important; }

.bold {
  font-weight: bold !important;
  color: #0e0e0e; }

.link {
  letter-spacing: -0.05em; }

@-webkit-keyframes hover-up-and-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes hover-up-and-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes hover-back-and-forth {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes hover-back-and-forth {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes spaceInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0.2) translate(0%, 200%);
            transform: scale(0.2) translate(0%, 200%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%); } }

@keyframes spaceInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0.2) translate(0%, 200%);
            transform: scale(0.2) translate(0%, 200%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%); } }

@-webkit-keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  30% {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
            transform: scale(1, 1) rotate(0deg) translateY(0%); } }

@keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  30% {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
            transform: scale(1, 1) rotate(0deg) translateY(0%); } }

@-webkit-keyframes banner-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) translateY(20px);
            transform: scale(0.9) translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); } }

@keyframes banner-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) translateY(20px);
            transform: scale(0.9) translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); } }

@-webkit-keyframes fill-header-background {
  0% {
    background-position: 50% 100%; }
  12.5% {
    background-position: 50% 87.5%; }
  25% {
    background-position: 50% 75%; }
  37.5% {
    background-position: 50% 62.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 37.5%; }
  75% {
    background-position: 50% 25%; }
  87.5% {
    background-position: 50% 12.5%; }
  100% {
    background-position: 50% 0%; } }

@keyframes fill-header-background {
  0% {
    background-position: 50% 100%; }
  12.5% {
    background-position: 50% 87.5%; }
  25% {
    background-position: 50% 75%; }
  37.5% {
    background-position: 50% 62.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 37.5%; }
  75% {
    background-position: 50% 25%; }
  87.5% {
    background-position: 50% 12.5%; }
  100% {
    background-position: 50% 0%; } }

@-webkit-keyframes unfill-header-background {
  0% {
    background-position: 50% 0%;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.21); }
  12.5% {
    background-position: 50% 12.5%; }
  25% {
    background-position: 50% 25%; }
  37.5% {
    background-position: 50% 37.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 62.5%; }
  75% {
    background-position: 50% 75%; }
  87.5% {
    background-position: 50% 87.5%; }
  100% {
    background-position: 50% 100%; } }

@keyframes unfill-header-background {
  0% {
    background-position: 50% 0%;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.21); }
  12.5% {
    background-position: 50% 12.5%; }
  25% {
    background-position: 50% 25%; }
  37.5% {
    background-position: 50% 37.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 62.5%; }
  75% {
    background-position: 50% 75%; }
  87.5% {
    background-position: 50% 87.5%; }
  100% {
    background-position: 50% 100%; } }

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.banner__heading, .banner__subheading, .banner__button-container {
  opacity: 0;
  -webkit-transform: scale(0.9) translateY(20px);
      -ms-transform: scale(0.9) translateY(20px);
          transform: scale(0.9) translateY(20px);
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
          transition: transform 0.7s, opacity 0.7s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
  .-activated .banner__heading, .-activated .banner__subheading, .-activated .banner__button-container {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
            transition: transform 0.7s, opacity 0.7s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }

@media (max-width: 700px) {
  .button-contact-us {
    display: none; } }

.banner__button, .banner__button--tech, .banner__button--secondary, .button--clients, .banner__button2016.-play-video, .banner__button2016.-learn-more, .product-tour__learn-more, .clients2016__view-more, .clients2016__popup-button, .clients2016__view-story, .in-the-news__news-button, .banner__button2016, .spotlight2016__button, .product-tour__watch-demo, .small_button, .small_button_seafoam {
  position: relative;
  display: inline-block;
  padding: 0.59em 1.7em;
  color: #fff;
  background-color: #e54932;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s, color 0.3s;
          transition: background-color 0.3s, color 0.3s;
  cursor: pointer; }
  .banner__button:hover, .banner__button--tech:hover, .banner__button--secondary:hover, .button--clients:hover, .product-tour__learn-more:hover, .clients2016__view-more:hover, .clients2016__popup-button:hover, .clients2016__view-story:hover, .in-the-news__news-button:hover, .banner__button2016:hover, .spotlight2016__button:hover, .product-tour__watch-demo:hover, .small_button:hover, .small_button_seafoam:hover {
    background-color: #ea683a;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
            transition: background-color 0.3s, color 0.3s; }

.banner__button--tech {
  color: #193059;
  background-color: #34FF4A; }
  .banner__button--tech:hover {
    background-color: #56FF00;
    box-shadow: 0 0 10px #56FF00;
    color: #193059; }
  .banner__button--tech:active {
    background-color: #17d830; }

.banner__button--secondary, .button--clients, .banner__button2016.-play-video, .banner__button2016.-learn-more, .product-tour__learn-more, .clients2016__view-more, .clients2016__popup-button, .clients2016__view-story, .in-the-news__news-button {
  position: relative;
  margin-left: 20px;
  color: #e3f4fa;
  cursor: pointer;
  background-color: transparent !important;
  box-shadow: inset 0 0 0 2px #e3f4fa;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s; }
  .banner__button--secondary:hover, .button--clients:hover, .banner__button2016.-play-video:hover, .banner__button2016.-learn-more:hover, .product-tour__learn-more:hover, .clients2016__view-more:hover, .clients2016__popup-button:hover, .clients2016__view-story:hover, .in-the-news__news-button:hover {
    color: #193059;
    box-shadow: inset 0 0 0 30px #e3f4fa;
    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s; }

.banner__button2016 {
  color: white;
  background-color: #00B9E4; }
  .banner__button2016:hover {
    background-color: #09e4ff; }
  .banner__button2016:active {
    background-color: #0682e4; }

.spotlight2016__button, .product-tour__watch-demo {
  color: white;
  background-color: #40caf1; }
  .spotlight2016__button:hover, .product-tour__watch-demo:hover {
    background-color: #37b7db; }
  .spotlight2016__button:active, .product-tour__watch-demo:active {
    background-color: #2e9dbc; }

@media (max-width: 700px) {
  .button-contact-us {
    display: none; } }

.small_button, .small_button_seafoam {
  font-size: 0.9375em;
  padding: .5em; }

.small_button_seafoam {
  background-color: #00B9E4;
  border: 1px solid #00B9E4; }
  .small_button_seafoam:hover {
    background-color: #fff;
    color: #00B9E4; }

.button--clients {
  color: #e54932;
  box-shadow: inset 0 0 0 2px #e54932; }
  .button--clients:hover {
    color: white;
    box-shadow: inset 0 0 0 30px #e54932; }

.button-contact-container {
  z-index: 101;
  opacity: 0;
  display: block;
  position: fixed;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  top: 40%;
  right: -100px;
  background-color: #193059;
  border: solid 1px #cef1fa;
  padding: 12px 18px 12px 18px;
  box-shadow: inset 0 0 0 35px #193059;
  -webkit-transition: right 1s .1s, opacity 1s .1s, height .1s, line-height .1s;
          transition: right 1s .1s, opacity 1s .1s, height .1s, line-height .1s; }
  .button-contact-container:hover {
    box-shadow: inset 0 0 0 30px #fff;
    border-color: #193059; }
  .button-contact-container.slide-left {
    opacity: 1;
    right: 0; }
  .section-careers .button-contact-container {
    display: none; }

a.button-contact-us {
  color: #cef1fa;
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase; }
  a.button-contact-us:hover {
    color: #193059; }

.contact-button-visible .button-contact-container {
  opacity: 1;
  right: -38px; }

a.button-contact-us {
  color: #cef1fa;
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase; }
  a.button-contact-us:hover {
    color: #193059; }

.contact-button-visible .button-contact-container {
  opacity: 1;
  right: -38px; }

.demo, .popup__request-demo {
  display: inline-block;
  margin-left: .25em;
  vertical-align: middle;
  font-size: 0.875em;
  border: 1px solid #e54932;
  box-shadow: 0 0 3px transparent;
  -webkit-transition: color .5s, box-shadow .5s, border .02s;
          transition: color .5s, box-shadow .5s, border .02s;
  color: #fff;
  background-color: #e54932;
  border-radius: 5px;
  line-height: 1em;
  padding: 10px; }
  .demo:hover, .popup__request-demo:hover {
    color: #fff;
    background-color: #ea683a;
    border: 1px solid #ea683a;
    -webkit-transition: color .5s .12s, box-shadow .5s, border .3s;
            transition: color .5s .12s, box-shadow .5s, border .3s; }
  .demo.hide-demo-button, .hide-demo-button.popup__request-demo {
    display: none; }

.hero__play, .clients2016__play-button {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  padding: .6em;
  width: 1em;
  height: 1em;
  font-size: 60px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all .5s;
          transition: all .5s;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 3px 0px #7B7979; }
  .product-page .hero__play, .product-page .clients2016__play-button {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto; }
    @media (max-width: 1200px) {
      .product-page .hero__play, .product-page .clients2016__play-button {
        display: none; } }
  .hero__play:before, .clients2016__play-button:before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border: 2px dashed #fff;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity .5s;
            transition: opacity .5s; }
  .hero__play:hover, .clients2016__play-button:hover {
    border: 2px solid transparent;
    color: #fff;
    -webkit-transition: .5s;
            transition: .5s;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: none; }
    .hero__play:hover:before, .clients2016__play-button:hover:before {
      opacity: 1;
      -webkit-animation: spinAround 9s linear infinite;
      animation: spinAround 9s linear infinite; }
  .hero__play:active, .clients2016__play-button:active {
    background-color: rgba(255, 255, 255, 0.72); }

@keyframes hover-up-and-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes hover-back-and-forth {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes spaceInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0.2) translate(0%, 200%);
            transform: scale(0.2) translate(0%, 200%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%); } }

@keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  30% {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
            transform: scale(1, 1) rotate(0deg) translateY(0%); } }

@keyframes banner-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) translateY(20px);
            transform: scale(0.9) translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); } }

@keyframes fill-header-background {
  0% {
    background-position: 50% 100%; }
  12.5% {
    background-position: 50% 87.5%; }
  25% {
    background-position: 50% 75%; }
  37.5% {
    background-position: 50% 62.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 37.5%; }
  75% {
    background-position: 50% 25%; }
  87.5% {
    background-position: 50% 12.5%; }
  100% {
    background-position: 50% 0%; } }

@keyframes unfill-header-background {
  0% {
    background-position: 50% 0%;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.21); }
  12.5% {
    background-position: 50% 12.5%; }
  25% {
    background-position: 50% 25%; }
  37.5% {
    background-position: 50% 37.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 62.5%; }
  75% {
    background-position: 50% 75%; }
  87.5% {
    background-position: 50% 87.5%; }
  100% {
    background-position: 50% 100%; } }

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.banner__heading, .banner__subheading, .banner__button-container {
  opacity: 0;
  -webkit-transform: scale(0.9) translateY(20px);
      -ms-transform: scale(0.9) translateY(20px);
          transform: scale(0.9) translateY(20px);
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
          transition: transform 0.7s, opacity 0.7s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
  .-activated .banner__heading, .-activated .banner__subheading, .-activated .banner__button-container {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
            transition: transform 0.7s, opacity 0.7s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }

@keyframes hover-up-and-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes hover-back-and-forth {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes spaceInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0.2) translate(0%, 200%);
            transform: scale(0.2) translate(0%, 200%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%); } }

@keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  30% {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
            transform: scale(0, 0) rotate(360deg) translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
            transform: scale(1, 1) rotate(0deg) translateY(0%); } }

@keyframes banner-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) translateY(20px);
            transform: scale(0.9) translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); } }

@keyframes fill-header-background {
  0% {
    background-position: 50% 100%; }
  12.5% {
    background-position: 50% 87.5%; }
  25% {
    background-position: 50% 75%; }
  37.5% {
    background-position: 50% 62.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 37.5%; }
  75% {
    background-position: 50% 25%; }
  87.5% {
    background-position: 50% 12.5%; }
  100% {
    background-position: 50% 0%; } }

@keyframes unfill-header-background {
  0% {
    background-position: 50% 0%;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.21); }
  12.5% {
    background-position: 50% 12.5%; }
  25% {
    background-position: 50% 25%; }
  37.5% {
    background-position: 50% 37.5%; }
  50% {
    background-position: 50% 50%; }
  62.5% {
    background-position: 50% 62.5%; }
  75% {
    background-position: 50% 75%; }
  87.5% {
    background-position: 50% 87.5%; }
  100% {
    background-position: 50% 100%; } }

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.banner__heading, .banner__subheading, .banner__button-container {
  opacity: 0;
  -webkit-transform: scale(0.9) translateY(20px);
      -ms-transform: scale(0.9) translateY(20px);
          transform: scale(0.9) translateY(20px);
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
          transition: transform 0.7s, opacity 0.7s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
  .-activated .banner__heading, .-activated .banner__subheading, .-activated .banner__button-container {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
            transition: transform 0.7s, opacity 0.7s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }

@media (max-width: 700px) {
  .button-contact-us {
    display: none; } }

.banner__button, .banner__button--tech, .banner__button--secondary, .button--clients, .banner__button2016.-play-video, .banner__button2016.-learn-more, .product-tour__learn-more, .clients2016__view-more, .clients2016__popup-button, .clients2016__view-story, .in-the-news__news-button, .banner__button2016, .spotlight2016__button, .product-tour__watch-demo, .small_button, .small_button_seafoam {
  position: relative;
  display: inline-block;
  padding: 0.59em 1.7em;
  color: #fff;
  background-color: #e54932;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s, color 0.3s;
          transition: background-color 0.3s, color 0.3s;
  cursor: pointer; }
  .banner__button:hover, .banner__button--tech:hover, .banner__button--secondary:hover, .button--clients:hover, .product-tour__learn-more:hover, .clients2016__view-more:hover, .clients2016__popup-button:hover, .clients2016__view-story:hover, .in-the-news__news-button:hover, .banner__button2016:hover, .spotlight2016__button:hover, .product-tour__watch-demo:hover, .small_button:hover, .small_button_seafoam:hover {
    background-color: #ea683a;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
            transition: background-color 0.3s, color 0.3s; }

.banner__button--tech {
  color: #193059;
  background-color: #34FF4A; }
  .banner__button--tech:hover {
    background-color: #56FF00;
    box-shadow: 0 0 10px #56FF00;
    color: #193059; }
  .banner__button--tech:active {
    background-color: #17d830; }

.banner__button--secondary, .button--clients, .banner__button2016.-play-video, .banner__button2016.-learn-more, .product-tour__learn-more, .clients2016__view-more, .clients2016__popup-button, .clients2016__view-story, .in-the-news__news-button {
  position: relative;
  margin-left: 20px;
  color: #e3f4fa;
  cursor: pointer;
  background-color: transparent !important;
  box-shadow: inset 0 0 0 2px #e3f4fa;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s; }
  .banner__button--secondary:hover, .button--clients:hover, .banner__button2016.-play-video:hover, .banner__button2016.-learn-more:hover, .product-tour__learn-more:hover, .clients2016__view-more:hover, .clients2016__popup-button:hover, .clients2016__view-story:hover, .in-the-news__news-button:hover {
    color: #193059;
    box-shadow: inset 0 0 0 30px #e3f4fa;
    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s; }

.banner__button2016 {
  color: white;
  background-color: #00B9E4; }
  .banner__button2016:hover {
    background-color: #09e4ff; }
  .banner__button2016:active {
    background-color: #0682e4; }

.spotlight2016__button, .product-tour__watch-demo {
  color: white;
  background-color: #40caf1; }
  .spotlight2016__button:hover, .product-tour__watch-demo:hover {
    background-color: #37b7db; }
  .spotlight2016__button:active, .product-tour__watch-demo:active {
    background-color: #2e9dbc; }

@media (max-width: 700px) {
  .button-contact-us {
    display: none; } }

.small_button, .small_button_seafoam {
  font-size: 0.9375em;
  padding: .5em; }

.small_button_seafoam {
  background-color: #00B9E4;
  border: 1px solid #00B9E4; }
  .small_button_seafoam:hover {
    background-color: #fff;
    color: #00B9E4; }

.button--clients {
  color: #e54932;
  box-shadow: inset 0 0 0 2px #e54932; }
  .button--clients:hover {
    color: white;
    box-shadow: inset 0 0 0 30px #e54932; }

.button-contact-container {
  z-index: 101;
  opacity: 0;
  display: block;
  position: fixed;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  top: 40%;
  right: -100px;
  background-color: #193059;
  border: solid 1px #cef1fa;
  padding: 12px 18px 12px 18px;
  box-shadow: inset 0 0 0 35px #193059;
  -webkit-transition: right 1s .1s, opacity 1s .1s, height .1s, line-height .1s;
          transition: right 1s .1s, opacity 1s .1s, height .1s, line-height .1s; }
  .button-contact-container:hover {
    box-shadow: inset 0 0 0 30px #fff;
    border-color: #193059; }
  .button-contact-container.slide-left {
    opacity: 1;
    right: 0; }
  .section-careers .button-contact-container {
    display: none; }

a.button-contact-us {
  color: #cef1fa;
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase; }
  a.button-contact-us:hover {
    color: #193059; }

.contact-button-visible .button-contact-container {
  opacity: 1;
  right: -38px; }

a.button-contact-us {
  color: #cef1fa;
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase; }
  a.button-contact-us:hover {
    color: #193059; }

.contact-button-visible .button-contact-container {
  opacity: 1;
  right: -38px; }

.demo, .popup__request-demo {
  display: inline-block;
  margin-left: .25em;
  vertical-align: middle;
  font-size: 0.875em;
  border: 1px solid #e54932;
  box-shadow: 0 0 3px transparent;
  -webkit-transition: color .5s, box-shadow .5s, border .02s;
          transition: color .5s, box-shadow .5s, border .02s;
  color: #fff;
  background-color: #e54932;
  border-radius: 5px;
  line-height: 1em;
  padding: 10px; }
  .demo:hover, .popup__request-demo:hover {
    color: #fff;
    background-color: #ea683a;
    border: 1px solid #ea683a;
    -webkit-transition: color .5s .12s, box-shadow .5s, border .3s;
            transition: color .5s .12s, box-shadow .5s, border .3s; }
  .demo.hide-demo-button, .hide-demo-button.popup__request-demo {
    display: none; }

.hero__play, .clients2016__play-button {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  padding: .6em;
  width: 1em;
  height: 1em;
  font-size: 60px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all .5s;
          transition: all .5s;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 3px 0px #7B7979; }
  .product-page .hero__play, .product-page .clients2016__play-button {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto; }
    @media (max-width: 1200px) {
      .product-page .hero__play, .product-page .clients2016__play-button {
        display: none; } }
  .hero__play:before, .clients2016__play-button:before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border: 2px dashed #fff;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity .5s;
            transition: opacity .5s; }
  .hero__play:hover, .clients2016__play-button:hover {
    border: 2px solid transparent;
    color: #fff;
    -webkit-transition: .5s;
            transition: .5s;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: none; }
    .hero__play:hover:before, .clients2016__play-button:hover:before {
      opacity: 1;
      -webkit-animation: spinAround 9s linear infinite;
      animation: spinAround 9s linear infinite; }
  .hero__play:active, .clients2016__play-button:active {
    background-color: rgba(255, 255, 255, 0.72); }

#overlay-modal {
  position: fixed;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: url(/web/img/ajax.gif) no-repeat center center rgba(25, 48, 89, 0.8);
  display: none; }
  @media (max-width: 750px) {
    .mobile-nav #overlay-modal {
      display: block;
      top: 50px;
      -webkit-transform: translateX(-80%);
          -ms-transform: translateX(-80%);
              transform: translateX(-80%);
      background: none transparent; } }
  #overlay-modal.modal-open {
    background: rgba(25, 48, 89, 0.8); }
  #overlay-modal .sticky {
    cursor: default !important; }

.DOModal.background {
  position: fixed;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: url(/web/img/ajax.gif) no-repeat center center rgba(25, 48, 89, 0.8); }

#container-modal,
.DOModal.modal-window {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  color: #314d56;
  margin: 0 auto;
  display: inline-block;
  max-width: 800px;
  width: 90%;
  left: 0 !important;
  right: 0 !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  #container-modal.min-height,
  .DOModal.modal-window.min-height {
    min-height: 300px; }
  @media (max-width: 750px) {
    #container-modal,
    .DOModal.modal-window {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      top: 50px !important;
      width: 100%; } }
  #container-modal.ge-ent,
  .DOModal.modal-window.ge-ent {
    background-color: #eee;
    box-sizing: border-box;
    padding: 20px; }
    #container-modal.ge-ent .modal-title,
    .DOModal.modal-window.ge-ent .modal-title {
      font-size: 3em;
      font-family: "roboto-light", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      font-weight: normal;
      color: #193059;
      text-align: center;
      padding-top: 20px; }
    #container-modal.ge-ent .options,
    .DOModal.modal-window.ge-ent .options {
      list-style: none outside;
      margin: 0;
      padding: 0; }
      #container-modal.ge-ent .options .option,
      .DOModal.modal-window.ge-ent .options .option {
        display: inline-block;
        box-sizing: border-box;
        padding: 20px;
        width: 50%;
        float: left;
        text-align: center; }
        @media (max-width: 900px) {
          #container-modal.ge-ent .options .option,
          .DOModal.modal-window.ge-ent .options .option {
            width: 100%; } }
        #container-modal.ge-ent .options .option .wrap,
        .DOModal.modal-window.ge-ent .options .option .wrap {
          box-sizing: border-box;
          padding: 20px;
          background-color: #fff;
          -webkit-transition: all .3s ease;
                  transition: all .3s ease; }
          #container-modal.ge-ent .options .option .wrap:hover,
          .DOModal.modal-window.ge-ent .options .option .wrap:hover {
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
            color: inherit; }
            #container-modal.ge-ent .options .option .wrap:hover .button,
            .DOModal.modal-window.ge-ent .options .option .wrap:hover .button {
              background-color: #ea683a !important; }
          #container-modal.ge-ent .options .option .wrap .image,
          .DOModal.modal-window.ge-ent .options .option .wrap .image {
            width: 100%;
            margin-bottom: 20px; }
            #container-modal.ge-ent .options .option .wrap .image img,
            .DOModal.modal-window.ge-ent .options .option .wrap .image img {
              max-width: 147px;
              width: 100%;
              margin: 0 auto;
              display: block; }
          #container-modal.ge-ent .options .option .wrap .description p,
          .DOModal.modal-window.ge-ent .options .option .wrap .description p {
            color: #0e0e0e; }
          #container-modal.ge-ent .options .option .wrap .button,
          .DOModal.modal-window.ge-ent .options .option .wrap .button {
            background-color: #e54932;
            color: #fff;
            font-size: 1.2rem;
            font-family: "roboto-light", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
            line-height: 1.3;
            display: block;
            width: 75%;
            margin: 0 auto;
            padding: 10px 20px 10px 10px;
            box-sizing: border-box;
            font-weight: normal;
            -webkit-transition: all .3s ease;
                    transition: all .3s ease; }

.search__label {
  left: 1em;
  color: #ccc; }

.download-popup {
  text-align: center;
  padding: 50px;
  font-family: "roboto-light", "Helvetica Neue", Helvetica, Arial, Sans-Serif; }

.popup-title {
  font-size: 2.5em;
  margin-bottom: 15px;
  line-height: 38px; }

.popup-subtitle {
  font-size: 1.5625em;
  margin-bottom: 30px; }

.popup-download {
  display: inline-block;
  padding: .7em 1.1em .5em;
  font-size: 1.125em;
  color: #fff;
  background-color: #e54932;
  -webkit-transition: .3s;
          transition: .3s; }
  @media (max-width: 750px) {
    .popup-download {
      font-size: 0.875em;
      margin-left: 10px;
      padding: 0.6em 1.1em 0.4em; } }
  .popup-download:hover {
    background: #bc3c29;
    color: #fff;
    -webkit-transition: .3s;
            transition: .3s; }
    @media (max-width: 750px) {
      .popup-download:hover {
        background-color: #e54932; } }

.video-wrapper {
  position: relative;
  overflow: hidden;
  font-family: "roboto-light", "Helvetica Neue", Helvetica, Arial, Sans-Serif; }

.video-title {
  font-size: 1.375em;
  padding: 0 0 30px 0;
  margin: 0;
  line-height: 25px; }

.video-content {
  padding: 50px 6.875% 35px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  height: auto; }
  .video-content .video-scaling-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
  .video-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.video-bottom {
  margin-top: 30px; }

.youtube {
  background-color: #e1e1e1; }

.close-modal {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  font-family: 'icon';
  line-height: 1.5em;
  color: #585858; }
  .close-modal:after {
    content: "\e00e";
    font-size: 1.5625em; }

.popup__bottom-cta {
  text-align: center;
  margin-top: 15px; }

.popup__bottom-cta-text {
  margin-bottom: 10px; }

.popup__request-demo {
  padding: 1em;
  margin-left: 2em; }

.ajax-progress .throbber {
  background: url(/web/img/ajax.gif); }

.button-contact-us {
  display: none; }

body.admin-menu {
  margin-top: 0 !important; }

.clients2016__heading, .in-the-news__heading {
  margin-bottom: 0.5em !important;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #193059; }

.page > .banner {
  position: fixed;
  top: 0;
  height: calc(100vh - 211px);
  width: 100%;
  padding-left: 0;
  z-index: 0; }
  .page > .banner:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-linear-gradient(120deg, rgba(25, 48, 89, 0.5), rgba(25, 48, 89, 0.5) 4px, rgba(25, 48, 89, 0.6) 5px, rgba(25, 48, 89, 0.6) 6px);
    background-image: repeating-linear-gradient(-30deg, rgba(25, 48, 89, 0.5), rgba(25, 48, 89, 0.5) 4px, rgba(25, 48, 89, 0.6) 5px, rgba(25, 48, 89, 0.6) 6px);
    z-index: 2; }
  .ie9 .page > .banner:before {
    background: rgba(25, 48, 89, 0.5); }
  .page > .banner:after {
    content: "";
    position: fixed;
    width: 100%;
    height: calc(100vh - 211px);
    top: 0;
    z-index: 2;
    background-image: -webkit-radial-gradient(50% 30%, farthest-side, rgba(26, 49, 90, 0.1) 0%, rgba(26, 49, 90, 0.8) 82%, rgba(26, 49, 90, 0.91) 95%, rgba(26, 49, 90, 0.95) 100%);
    background-image: radial-gradient(farthest-side at 50% 30%, rgba(26, 49, 90, 0.1) 0%, rgba(26, 49, 90, 0.8) 82%, rgba(26, 49, 90, 0.91) 95%, rgba(26, 49, 90, 0.95) 100%); }
  @media (max-height: 568px) {
    .page > .banner {
      height: calc(100vh - 11px); }
      .page > .banner:after {
        height: calc(100vh - 11px); } }

.banner__text {
  position: absolute;
  max-width: 800px;
  top: 57%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  z-index: 3;
  text-align: center; }
  @media (max-width: 633px) {
    .banner__text {
      max-width: 100%;
      padding: 0 20px;
      box-sizing: border-box; } }

.banner__heading {
  min-width: 550px;
  margin: 0 auto 13px auto;
  font-size: 3em;
  color: white;
  font-family: "roboto-light", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  line-height: 1.1; }
  .ie9 .banner__heading {
    opacity: 1 !important; }
  @media (max-width: 633px) {
    .banner__heading {
      width: 100vw;
      max-width: 100%;
      min-width: 0;
      padding: 0 20px;
      box-sizing: border-box;
      white-space: normal; } }

.banner__tagline-img {
  max-width: 304px; }
  .banner__tagline-img.-potential {
    position: relative;
    top: 4px;
    left: 10px;
    max-width: 230px;
    -webkit-transition: 0.5s 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
            transition: 0.5s 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-filter: drop-shadow(0 0 5px white);
            filter: drop-shadow(0 0 5px white); }
    .-activated .banner__tagline-img.-potential {
      -webkit-filter: drop-shadow(0 0 0px white);
              filter: drop-shadow(0 0 0px white); }
  @media (max-width: 633px) {
    .banner__tagline-img {
      max-width: 68vw;
      max-width: 281px; }
      .banner__tagline-img.-potential {
        display: block;
        max-width: 50vw;
        max-width: 207px;
        margin: auto;
        left: 0;
        text-align: center; } }

.banner__subheading {
  max-width: 20em;
  margin: 0 auto 1.5em auto;
  font-size: 1.4em;
  line-height: 1.4;
  font-family: "roboto-light", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: white; }
  .ie9 .banner__subheading {
    opacity: 1 !important; }
  @media (max-height: 568px) {
    .banner__subheading {
      font-size: 1.3em; } }

.banner__button2016 {
  display: inline-block;
  padding: 0.75em 2.2em;
  margin: auto; }
  .banner__button2016.-play-video, .banner__button2016.-learn-more {
    margin-right: 0.7em;
    margin-left: 0;
    padding: 0.75em 2.6em 0.75em 2.6em;
    white-space: nowrap; }
  .ie9 .banner__button2016 {
    opacity: 1 !important; }
  @media (max-width: 450px) {
    .banner__button2016 {
      display: block;
      margin: 0 auto 20px auto; }
      .banner__button2016.-play-video {
        display: block;
        margin: 0 auto 20px auto; } }
  .banner__button2016.-play-video {
    padding: 0.75em 2.6em 0.75em 2.6em; }
    .banner__button2016.-play-video:before {
      content: '\e60c';
      margin-right: 0.6em;
      top: .05em;
      position: relative; }

.banner__video,
.banner__video-preview {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: inherit;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }
  .mobile-nav .banner__video, .mobile-nav
  .banner__video-preview {
    -webkit-transform: translateX(-150%) translateY(-50%);
        -ms-transform: translateX(-150%) translateY(-50%);
            transform: translateX(-150%) translateY(-50%); }

.banner__video-preview {
  background: transparent url("/web/img/home/banner-video-still-2016-3.jpg") 50% 50%/cover no-repeat;
  z-index: 1; }

.banner__scroll-down-button {
  position: absolute;
  left: 50%;
  bottom: 2em;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  color: white; }

.sticky-container.stuck {
  position: absolute; }

.spotlight2016 {
  position: relative;
  margin-top: calc(100vh - 211px);
  background-color: #fff;
  border-bottom: 4px solid #eef1f5;
  -webkit-transition: 0.5s;
          transition: 0.5s; }
  @media (max-height: 568px) {
    .spotlight2016 {
      margin-top: calc(100vh - 11px); } }

.spotlight2016__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 48%;
  padding: 3.8em 0 2.8em 0;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(0.9) translateY(20px);
      -ms-transform: scale(0.9) translateY(20px);
          transform: scale(0.9) translateY(20px); }
  .-activated .spotlight2016__item {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transition: 0.5s;
            transition: 0.5s;
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s; }
  .ie9 .spotlight2016__item {
    opacity: 1 !important; }

.spotlight2016__flag {
  position: absolute;
  top: -0.2em;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%); }

.spotlight2016__text-container {
  display: inline-block;
  vertical-align: middle;
  max-width: 75%;
  text-align: center; }

.spotlight2016__heading {
  margin-bottom: 0.3em;
  font-family: "roboto-medium", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 1.25em;
  font-style: normal;
  color: #1b3259;
  text-transform: uppercase; }

.spotlight2016__heading-img.-fortune {
  position: relative;
  top: 0.15em; }

@media (max-width: 400px) {
  .spotlight2016__heading-img {
    max-width: 73%; } }

.spotlight2016__star {
  width: 50px;
  height: 48px;
  margin-right: 10px; }

.spotlight2016__desc {
  max-width: 20em;
  margin: auto;
  font-size: 0.9em;
  line-height: 22px;
  color: #b0b8c6; }
  @media (max-width: 400px) {
    .spotlight2016__desc .hide-on-mobile {
      display: none; } }

.spotlight2016__button {
  display: inline-block;
  vertical-align: top;
  padding: 0.4em 0.75em 0.4em 0.9em;
  margin-top: 1.2em;
  font-size: 0.9em;
  background-color: #1b3259; }
  .spotlight2016__button:hover {
    background-color: #27477D; }

.product-tour {
  position: relative;
  padding: 80px 0 0;
  text-align: center;
  background: #f5f7fa;
  z-index: 2; }

@media (max-width: 1150px) {
  .product-tour__container {
    margin-bottom: 0; } }

.product-tour__nav {
  position: relative;
  width: auto;
  height: 80px;
  margin: -0.6em auto 0;
  left: 0;
  right: 0;
  z-index: 1;
  white-space: nowrap; }
  .product-tour__nav:before {
    content: '';
    display: none;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    bottom: -30px;
    background: rgba(255, 255, 255, 0.7); }
  @media (max-width: 1150px) {
    .product-tour__nav {
      height: 92px;
      overflow-x: scroll;
      overflow-y: hidden; } }
  @media (max-width: 500px) {
    .product-tour__nav {
      overflow-x: hidden; } }

.product-tour__nav-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 7.5em;
  height: 3.6em; }
  .product-tour__nav-item:last-child {
    margin-right: 0; }
  .product-tour__nav-item:hover {
    cursor: pointer; }
  @media (max-width: 1150px) {
    .product-tour__nav-item {
      width: 10vw; } }
  @media (max-width: 705px) {
    .product-tour__nav-item {
      width: 2.9em; }
      .product-tour__nav-item:nth-child(even) .product-tour__nav-label {
        bottom: -4em; } }
  @media (max-width: 500px) {
    .product-tour__nav-item {
      width: 1.9em; } }

.product-tour__connecting-line {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  top: 50%;
  left: -34%;
  background: #a3adbd;
  z-index: 0;
  -webkit-transition: 0.3s;
          transition: 0.3s; }
  .-visited .product-tour__connecting-line {
    width: 66%; }
  .-connecting-line-animations-deactivated .product-tour__connecting-line {
    -webkit-transition: 0s !important;
            transition: 0s !important; }

.product-tour__nav-icon .st0 {
  fill: #a3adbd;
  stroke: #a3adbd; }
  .-active .product-tour__nav-icon .st0 {
    fill: white !important;
    stroke: white !important; }

.product-tour__nav-icon-container {
  position: absolute;
  display: block;
  margin: auto;
  padding: 0.5em;
  font-size: 1.1em;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #a3adbd;
  z-index: 1;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .-active .product-tour__nav-icon-container {
    padding: 0.68em;
    -webkit-transition: 0.3s;
            transition: 0.3s;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #a3adbd !important;
    background: currentColor; }
  .-recruiting.-active .product-tour__nav-icon-container {
    color: #f04e23; }
  .-onboarding.-active .product-tour__nav-icon-container {
    color: #f58220; }
  .-connect.-active .product-tour__nav-icon-container {
    color: #fcaf17; }
  .-learning.-active .product-tour__nav-icon-container {
    color: #007ec3; }
  .-performance.-active .product-tour__nav-icon-container {
    color: #8dc63f; }
  .-compensation.-active .product-tour__nav-icon-container {
    color: #00a649; }
  .-succession.-active .product-tour__nav-icon-container {
    color: #1d7d64; }
  .-analytics.-active .product-tour__nav-icon-container {
    color: #43505a; }
  .-link.-active .product-tour__nav-icon-container {
    color: #193059; }
  .product-tour__nav-icon-container:hover {
    cursor: pointer;
    -webkit-transition: 0.1s;
            transition: 0.1s;
    box-shadow: 0 0 0 1px #838B98, 0 0 0 3px white, 0 0 0 4px #838B98; }
    .product-tour__nav-icon-container:hover .st0 {
      fill: #838B98;
      stroke: #838B98; }

.product-tour__nav-label {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -2.1em;
  -webkit-transition: 0s;
          transition: 0s;
  font-size: 0.9em;
  color: #a3adbd; }
  @media (max-width: 1150px) {
    .product-tour__nav-label {
      font-size: 0.7em;
      bottom: -2.6em;
      opacity: 0.85; }
      .-active .product-tour__nav-label {
        font-weight: bold;
        opacity: 1; } }
  @media (max-width: 500px) {
    .product-tour__nav-label {
      display: none; } }

.product-tour__products {
  position: relative;
  height: 690px;
  padding: 100px 0 0;
  z-index: 0; }
  @media (max-height: 800px) {
    .product-tour__products {
      height: 570px;
      padding: 50px 0 0; } }
  @media (max-width: 1150px) {
    .product-tour__products {
      padding: 20px 0 0; } }

.product-tour__product {
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }
  .product-tour__product.-recruiting {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .product-tour__product.-active {
    z-index: 1; }

.product-tour__text-image-container {
  max-width: 1600px;
  margin: auto; }

.product-tour__text-container {
  display: inline-block;
  vertical-align: top;
  width: 38%; }
  @media (max-width: 1150px) {
    .product-tour__text-container {
      width: 100%; } }

.product-tour__text {
  width: 383px;
  margin: 2vh auto 0 auto;
  text-align: left; }
  @media (max-height: 700px) {
    .product-tour__text {
      margin: 10% auto 0 auto; } }
  @media (max-width: 1150px) {
    .product-tour__text {
      width: auto;
      padding: 0 20px;
      margin: 0 !important;
      text-align: center; } }

.product-tour__heading {
  font-size: 2.8125em;
  font-weight: bold;
  color: #1a315a; }
  @media (max-width: 1150px) {
    .product-tour__heading {
      text-align: center;
      font-size: 2.5em; } }

.product-tour__subheading {
  position: relative;
  font-size: 1.7em;
  max-width: 19em;
  margin: 0 auto 1em;
  z-index: 2;
  color: #193059; }
  .jp .product-tour__subheading {
    max-width: 20em; }
  @media (max-width: 1150px) {
    .product-tour__subheading {
      padding: 0 10px; } }

.product-tour__description {
  margin-bottom: 2em;
  font-size: 1em;
  text-align: left;
  line-height: 1.8;
  color: #9198a2; }
  @media (max-width: 1150px) {
    .product-tour__description {
      max-width: 40em;
      margin: 0 auto 2em auto; } }

.product-tour__screenshot-container {
  display: inline-block;
  vertical-align: top;
  width: 54%; }
  @media (max-width: 1150px) {
    .product-tour__screenshot-container {
      width: 100%;
      max-width: 680px;
      margin-top: 30px; } }

.product-tour__browser-frame {
  display: inline-block;
  margin: -30px -30px 0 0;
  background: url(/web/img/home/products/browser-bar.png);
  padding-top: 27px;
  box-shadow: 0 0 10px #C1BFBF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100%; }
  @media (max-height: 800px) {
    .product-tour__browser-frame {
      padding-top: 21px; } }
  @media (max-width: 1150px) {
    .product-tour__browser-frame {
      margin: 0 10px;
      padding-top: 3.7%;
      box-shadow: 0 0 1px 0 #E8E6E6; } }

.product-tour__screenshot {
  width: 716px;
  max-width: inherit; }
  @media (max-height: 800px) {
    .product-tour__screenshot {
      width: 605px; } }
  @media (max-width: 1150px) {
    .product-tour__screenshot {
      width: 100%; } }

@media (max-width: 395px) {
  .product-tour__watch-demo, .product-tour__learn-more {
    display: block;
    width: 60%;
    margin: 0 auto 5px auto !important;
    text-align: center; } }

.product-tour__learn-more {
  margin-left: 0;
  color: #40caf1;
  box-shadow: inset 0 0 0 2px #40caf1; }
  .product-tour__learn-more:hover {
    color: white;
    box-shadow: inset 0 0 0 30px #37b7db; }
  .product-tour__learn-more:active {
    box-shadow: inset 0 0 0 30px #2e9dbc; }

.product-tour__nav-button {
  position: absolute;
  top: 30%;
  font-size: 3em;
  color: #C5C5C5;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: 0.3s;
          transition: 0.3s; }
  .product-tour__nav-button:hover {
    color: #8C8B8B; }
  .product-tour__nav-button.-right {
    right: 20px; }
    .product-tour__nav-button.-right:before {
      content: '\e602'; }
  .product-tour__nav-button.-left {
    left: 20px; }
    .product-tour__nav-button.-left:before {
      content: '\e611'; }
  @media (max-width: 1150px) {
    .product-tour__nav-button {
      top: 2%; }
      .product-tour__nav-button.-left {
        left: 4px; }
      .product-tour__nav-button.-right {
        right: 4px; } }
  @media (max-width: 500px) {
    .product-tour__nav-button {
      display: none; } }

.clients2016 {
  position: relative;
  padding: 105px 0 50px 0;
  text-align: center;
  background: #fff;
  z-index: 2;
  margin-bottom: -1px; }
  .clients2016:after {
    content: '';
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    background: #fff;
    z-index: 30; }
  .clients2016 .layout--page {
    max-width: 100%; }
  @media (max-width: 450px) {
    .clients2016 {
      padding: 75px 0 50px 0; } }

.clients__container {
  margin-bottom: 16px; }

.clients__stat {
  font-size: 1.2em;
  color: #A7A7A7;
  letter-spacing: 1px; }

.clients2016__heading {
  margin-bottom: 20px; }

.clients2016__subheading {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #b3b9c3; }
  @media (max-width: 450px) {
    .clients2016__subheading {
      margin-bottom: 1em; } }

.clients2016__clients {
  height: 450px; }
  @media (max-width: 450px) {
    .clients2016__clients {
      height: 320px; } }

.clients2016__client {
  position: absolute;
  width: 100%;
  height: 450px;
  opacity: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: 0.8s ease;
          transition: 0.8s ease; }
  .clients2016__client.-active {
    opacity: 1;
    z-index: 1; }
  .clients2016__client.-deactivating {
    opacity: 0; }
  @media (max-width: 450px) {
    .clients2016__client {
      height: 320px; } }

.clients2016__slide-background {
  position: absolute;
  top: -2px;
  right: 0;
  bottom: -2px;
  left: 0;
  background-size: cover; }
  .clients2016__slide-background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, #0C0B0B 0%, rgba(19, 21, 22, 0.4) 45%, rgba(19, 21, 22, 0) 60%);
    background: linear-gradient(to top, #0C0B0B 0%, rgba(19, 21, 22, 0.4) 45%, rgba(19, 21, 22, 0) 60%); }

.clients2016__content {
  display: table;
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 70%;
  max-width: 800px;
  text-align: center;
  text-shadow: 0 0 20px black;
  color: white; }
  @media (max-width: 870px) {
    .clients2016__content {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box; } }

.clients2016__centering-container {
  display: table-cell;
  vertical-align: middle; }

.clients2016__play-button {
  font-size: 2.7em;
  top: auto;
  left: auto;
  margin-bottom: 20px;
  text-shadow: none; }
  @media (max-width: 450px) {
    .clients2016__play-button {
      font-size: 1.8em; } }

.clients2016__quote {
  margin-bottom: 0.33em;
  font-size: 2.45em;
  font-family: "roboto-thin", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-style: italic;
  line-height: 1.4;
  opacity: 0; }
  .-active .clients2016__quote {
    opacity: 1; }
  @media (max-width: 750px) {
    .clients2016__quote {
      font-size: 1.85em; } }
  @media (max-width: 450px) {
    .clients2016__quote {
      font-size: 1.45em; } }
  .jp .clients2016__quote {
    font-style: normal; }

.clients2016__quote-source {
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0; }
  .-active .clients2016__quote-source {
    opacity: 1; }
  @media (max-width: 450px) {
    .clients2016__quote-source {
      font-size: 0.8em; } }

.clients2016__slider-nav {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 1.5em;
  text-align: center;
  background: #f5f7fa;
  border-bottom: 2px solid #eef1f5; }
  @media (max-width: 750px) {
    .clients2016__slider-nav {
      padding-bottom: 60px; } }

.clients2016__nav-item {
  position: relative;
  display: table-cell;
  vertical-align: middle; }
  .clients2016__nav-item:last-child {
    margin-right: 0; }
  @media (max-width: 750px) {
    .clients2016__nav-item {
      display: inline-block;
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      margin-bottom: -50px; } }

.clients2016__nav-indicator {
  position: absolute;
  border: 15px solid #f5f7fa;
  border-left-width: 25px;
  border-right-width: 25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: -30px;
  left: 8.4%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1; }
  @media (max-width: 750px) {
    .clients2016__nav-indicator {
      display: none; } }

.clients2016__nav-item.-newbelgium .client2016__nav-logo {
  max-height: 70px; }
  .clients2016__nav-item.-newbelgium .client2016__nav-logo:hover {
    background-size: 70px; }

.clients2016__nav-item.-newbelgium.-active .client2016__nav-logo {
  background-size: 70px; }

.client2016__nav-logo {
  position: relative;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0.5; }
  .client2016__nav-logo:hover,
  .-active .client2016__nav-logo {
    opacity: 1;
    background-size: 100px; }
    .client2016__nav-logo:hover .grayscale-logo,
    .-active .client2016__nav-logo .grayscale-logo {
      opacity: 0; }
  .client2016__nav-logo .grayscale-logo {
    opacity: 1; }

.clients2016__view-more {
  border-color: #d1d8e2;
  color: #00B9E4; }
  .clients2016__view-more:hover {
    color: #00B9E4; }

.clients2016__popup-button {
  color: #e54932;
  box-shadow: inset 0 0 0 2px #e54932;
  font-size: 0.875em;
  padding: 0.8em 1.7em; }
  .clients2016__popup-button:hover {
    color: white;
    box-shadow: inset 0 0 0 30px #e54932; }

.clients2016__view-story {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
  font-size: 0.875em;
  padding: 0.8em 1.7em;
  margin-top: 2em;
  text-shadow: none; }
  .clients2016__view-story:hover {
    color: #27292e;
    box-shadow: inset 0 0 0 30px #fff; }

.in-the-news {
  position: relative;
  padding: 30px 0 76px 0;
  background: #fff; }

.in-the-news__heading {
  margin-bottom: 50px !important; }

.in-the-news__logos-container {
  position: relative;
  text-align: center; }
  .in-the-news__logos-container:hover .in-the-news__news-button {
    opacity: 1;
    translate: translateX(-50%) translateY(0px) scale(1); }

.in-the-news__news-logos {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  margin-right: -45px;
  -webkit-transition: 0.3s;
          transition: 0.3s; }

.in-the-news__news-logo {
  margin: 0 45px 20px 0;
  opacity: 0; }
  .-active .in-the-news__news-logo {
    opacity: 1; }

.in-the-news__news-button {
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.74) !important;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-color: #d1d8e2;
  color: #00B9E4;
  opacity: 0;
  -webkit-transition: 0.3s;
          transition: 0.3s; }
  .in-the-news__news-button:hover {
    color: #00B9E4; }
  .touch .in-the-news__news-button {
    opacity: 1; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

/* Temporary Suite Slide Overrides */
.product-tour--suites .product-tour__subheading {
  max-width: 25em; }

.product-tour--suites .product-tour__heading {
  line-height: 1.05; }

.product-tour--suites .product-tour__product.-recruiting {
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.product-tour--suites .product-tour__product.-hcm {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.product-tour--suites .-recruiting.-active .product-tour__nav-icon-container,
.product-tour--suites .-learning.-active .product-tour__nav-icon-container,
.product-tour--suites .-performance.-active .product-tour__nav-icon-container,
.product-tour--suites .-hcm.-active .product-tour__nav-icon-container {
  color: #193059; }
