@charset "utf-8";
@import url(flexslider.css);
.ie7 body, .ie8 body {
	overflow-x:hidden;
}
.ie7 .container, .ie8 .container {
  position: relative;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.ie7 .accesskey, .ie8 .accesskey {
  position: relative;
}
.ie7 .accesskey a, .ie8 .accesskey a {
  position: absolute;
  font-size: 0.75em;
  text-decoration: none;
  text-align: center;
  padding: 0px;
  color: #fff;
  left: -2px;
  background-color: none;
}
.ie7 ul, .ie8 ul {
  padding: 0;
  margin: 0;
}
.ie7 header, .ie8 header {
  height: 130px;
  border-bottom: solid 4px #691917;
  background: url("../images/head_bg.png") no-repeat left bottom;
  position: relative;
  zoom: 1;
  z-index: 9999999;
}
.ie7 header #mainMenu #menu ul li .jsMenu, .ie8 header #mainMenu #menu ul li .jsMenu {
  text-align: center;
  display: block;
  position: absolute;
  left: -300px;
  top: 44px;
  width: 1000px;
  height: 60px;
  box-sizing: content-box;
}
.ie7 header #mainMenu #menu ul li .jsMenu ul, .ie8 header #mainMenu #menu ul li .jsMenu ul {
  float: none;
  line-height: 60px;
  position: relative;
  background-image: url(hack);
  zoom: 1;
}
.ie7 header #mainMenu #menu ul li .jsMenu ul li, .ie8 header #mainMenu #menu ul li .jsMenu ul li {
  display: inline;
  float: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.ie7 header #mainMenu #menu ul li .jsMenu ul li a, .ie8 header #mainMenu #menu ul li .jsMenu ul li a {
  padding: 0px 8px;
  color: #9f7f1a;
  font-size: 0.8rem;
  display: inline;
  width: auto;
  height: auto;
}
.ie7 header #mainMenu #menu ul, .ie8 header #mainMenu #menu ul {
  float: left;
}
.ie7 header #mainMenu #menu ul li, .ie8 header #mainMenu #menu ul li {
  display: block;
  float: left;
  width: 112px;
  height: 46px;
  margin: 0;
  padding: 0;
}
.ie7 header #mainMenu #menu ul li a, .ie8 header #mainMenu #menu ul li a {
  display: block;
  width: 112px;
  height: 46px;
  margin: 0;
  padding: 0;
}
.ie7 header #mainMenu #logo, .ie8 header #mainMenu #logo {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
}
.ie7 header #topbar, .ie8 header #topbar {
  height: 26px;
  background-color: #691917;
  border-bottom: solid 2px #F9BE00;
  display: block;
  box-sizing: content-box;
}
.ie7 header #topbar #student, .ie8 header #topbar #student {
  width: 50%;
  float: left;
  padding-left: 10px;
}
.ie7 header #topbar #student li, .ie8 header #topbar #student li {
  color: #fff;
  display: inline;
}
.ie7 header #topbar #student li a, .ie8 header #topbar #student li a {
  font-size: 0.75em;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  left: -2px;
  position: relative;
  background-color: none;
}
.ie7 header #topbar #student li a:hover, .ie8 header #topbar #student li a:hover {
	background-color: #f2c100;
	color: #691917;
}
.ie7 header #search, .ie8 header #search {
  position: relative;
  /*width: 45%;*/
  float: left;
  /*text-align:right;*/
}
.ie7 header #search li, .ie8 header #search li {
  color: #fff;
  /*display: inline;*/
  display:inline-block;
  zoom:1;
  _display:inline;
  *display:inline;
  vertical-align:top;
  margin-left:1em;
  list-style:none;
}
.ie7 #search label, .ie8 #search label {
	font-size:0.75em;
}
.ie7 header #search li a, .ie8 header #search li a {
  font-size: 0.75em;
  text-decoration: none;
  text-align: center;
  padding: 0px;
  color: #fff;
  left: -2px;
  position: relative;
  background-color: none;
}
.ie7 header #webType, .ie8 header #webType {
  width: 5%;
  float: right;
}
.ie7 header #webType ul, .ie8 header #webType ul {
  list-style: none;
  list-style-image: none;
}
.ie7 #topbar #webType li, .ie8 #topbar #webType li {
    float: left;
    color: #fff;
    background-color: #000;
    display: inline;
    margin-left: 1px;
  }
.ie7 #topbar #webType li a, .ie8 #topbar #webType li a {
	padding: 0px 4px;
    color: #fff;
    text-decoration: none;
	font-size: 0.75em;
}
.ie7 #topbar #webType li a:hover, .ie8 #topbar #webType li a:hover {
	text-decoration:underline;
}
.ie7 header #mobile, .ie8 header #mobile {
  display: none;
}
.ie7 #subMenu, .ie8 #subMenu {
  position: absolute;
  right: 13px;
  top: 0px;
  margin-top: 6px;
  font-size: 0.83em;
  z-index: 2;
}
.ie7 #subMenu li, .ie8 #subMenu li {
  color: #B49785;
  display: inline;
}
.ie7 #subMenu li a, .ie8 #subMenu li a {
  color: #B49785;
  text-decoration: none;
}
.ie7 button.btn-navbar, .ie8 button.btn-navbar {
  display: none;
}
.ie7 #banner, .ie8 #banner {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
}
.ie7 #bannerli, .ie8 #bannerli {
  width: 1000px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.ie7 #banner a, .ie8 #banner a {
	text-decoration:none;
}
.ie7 #banner li.half img, .ie8 #banner li.half img {
  padding-left: 500px;
}
.ie7 #banner .container, .ie8 #banner .container {
  height: 400px;
}
.ie7 #banner #carousel, .ie8 #banner #carousel {
  width: 1000px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.ie7 #banner ul.rslides, .ie8 #banner ul.rslides {
  width: 1000px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-decoration: none;
}
.ie7 #banner img, .ie8 #banner img {
  height: 400px;
}
.ie7 #banner .textBanner, .ie8 #banner .textBanner {
  position: absolute;
  width: 400px;
  padding: 30px;
  top: 20px;
  left: 30px;
  z-index: 9999;
}
.ie7 #banner .leftText, .ie8 #banner .leftText {
	float:left;
	width:50%;
}
.ie7 #banner .imgBanner, .ie8 #banner .imgBanner {
	float:right;
	width:50%;
}
.ie7 #banner .textBanner h2, .ie8 #banner .textBanner h2 {
  line-height: 1.4em;
  color: #fff;
}
.ie7 #banner .leftText h2, .ie8 #banner .leftText h2 {
  line-height: 1.4em;
  color: #fff;
  margin:3em 1.3em 1em 1.3em;
}
.ie7 #banner .textBanner p, .ie8 #banner .textBanner p {
  color: #F5F500;
}
.ie7 #banner .leftText p, .ie8 #banner .leftText p {
  color: #F5F500;
  margin:1em 1.3em 1em 1.3em;
}
.ie7 #banner li.bgred, .ie8 #banner li.bgred {
	background:url(../images/banner/banner01_red.jpg) #df8e01 no-repeat;
}
.ie7 #banner li.bg2yellow, .ie8 #banner li.bg2yellow {
  background:url(../images/banner/banner02_yellow.jpg) #691917 no-repeat;
}
.ie7 #banner li.bg3blue, .ie8 #banner li.bg3blue {
  background:url(../images/banner/banner03_blue.jpg) #01888E no-repeat;
}
.ie7 #banner li.bg4green, .ie8 #banner li.bg4green {
  background:url(../images/banner/banner04_green.jpg) #003D5C no-repeat;
}
.ie7 #banner a.rslides_nav.prev, .ie8 #banner a.rslides_nav.prev {
  height: 30px;
  width: 30px;
  background-image: url("/images/backup/prev.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 160px;
  left: 10px;
  z-index: 4;
}
.ie7 #banner a.rslides_nav.prev span, .ie8 #banner a.rslides_nav.prev span {
  display: none;
}
.ie7 #banner a.rslides_nav.next, .ie8 #banner a.rslides_nav.next {
  height: 30px;
  width: 30px;
  background-image: url("/images/backup/next.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 160px;
  right: 10px;
  z-index: 4;
}
.ie7 #banner a.rslides_nav.next span, .ie8 #banner a.rslides_nav.next span {
  display: none;
}
.ie7 #banner ul.rslides_tabs, .ie8 #banner ul.rslides_tabs {
  position: absolute;
  bottom: 22px;
  *bottom: 40px;
  z-index: 7;
  display: block;
  width: 100%;
  text-align: center;
}
.ie7 #banner ul.rslides_tabs li, .ie8 #banner ul.rslides_tabs li {
  margin-left: 10px;
  padding-left: 10px;
  opacity: 0.3;
  display: inline;
  zoom: 1;
}
.ie7 #banner ul.rslides_tabs li a, .ie8 #banner ul.rslides_tabs li a {
  width: 14px;
  height: 14px;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  background-image: url("/images/icon/dot.png");
  -moz-border-radius: 7px / 7px;
  -webkit-border-radius: 7px 7px;
  border-radius: 7px / 7px;
  margin-left: 10px;
}
.ie7 #banner ul.rslides_tabs li a span, .ie8 #banner ul.rslides_tabs li a span {
  display: none;
}
.ie7 #banner ul.rslides_tabs li.rslides_here a, .ie8 #banner ul.rslides_tabs li.rslides_here a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.ie7 #main ul li, .ie8 #main ul li {
  list-style: none;
  /*display: inline;*/
  padding:0;
  margin:0;
}
.ie7 #main a, .ie8 #main a {
  color: #727272;
  text-decoration: none;
  font-size: 0.83em;
}
.ie7 #main h2, .ie8 #main h2 {
  background-position: 4px 2px;
  background-repeat: no-repeat;
  background-size: 21px 20px;
  font-size: 1em;
  color: #fff;
}
.ie7 #items h2, .ie8 #items h2 {
  margin-top: 12px;
  margin-bottom: 7px;
  padding-left: 30px;
}
.ie7 .more, .ie8 .more {
  position: relative;
  height: 38px;
  border-bottom: solid 1px;
}
.ie7 .more .btn, .ie8 .more .btn {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  color: #494949;
  background-color: #C8C8C8;
  font-size: 0.8em;
  padding: 0px 7px;
  position: absolute;
  bottom: 10px;
  right: 13px;
}
.ie7 #items div div, .ie8 #items div div {
  width: 300px;
  float: left;
  margin-right: 20px;
}
.ie7 .col1, .ie8 .col1 {
  width: 300px;
  float: left;
}
.ie7 .col2, .ie8 .col2 {
  padding-left: 20px;
  width: 640px;
  float: left;
}
.ie7 .col2 ul li p, .ie8 .col2 ul li p {
  margin-top: 18px;
  margin-bottom: 10px;
}
.ie7 #news h2, .ie8 #news h2 {
  background-image: url(/images/backup/icon/icon1.png);
  background-color: #333333;
}
.ie7 #events1 h2, .ie8 #events1 h2 {
  background-image: url(/images/backup/icon/icon2.png);
  background-color: #A62F0F;
}
.ie7 #events2 h2, .ie8 #events2 h2 {
  background-image: url(/images/backup/icon/icon3.png);
  background-color: #01888E;
}
.ie7 #events3 h2, .ie8 #events3 h2 {
  background-image: url(/images/backup/icon/icon4.png);
  background-color: #003D5C;
}
.ie7 #events4 h2, .ie8 #events4 h2 {
  background-image: url(/images/backup/icon/icon5.png);
  background-color: #DF8E01;
}
.ie7 #events5 h2, .ie8 #events5 h2 {
  background-image: url(/images/backup/icon/icon6.png);
  background-color: #178153;
}
.ie7 #events6 h2, .ie8 #events6 h2 {
  background-image: url(/images/backup/icon/icon7.png);
  background-color: #C64609;
}
.ie7 #news p, .ie8 #news p {
  border-left: #333333 solid 5px;
  padding-left: 1em;
}
.ie7 #news ul li, .ie8 #news ul li {
  border-bottom:1px dashed  #b1b1b1;
  line-height: 1.5em;
  padding: 16.5px 0px;
  margin: 0px 16.5px;
}
.ie7 #news ul li {
	padding: 18px 0px;
}
.ie7 #news ul li p, .ie8 #news ul li p {
	margin:0;
}
.ie7 #news .more, .ie8 #news .more {
  position: relative;
  height: 58px;
  border-bottom: solid 1px #999999;
  margin-bottom: 10px;
}
.ie7 #events1, .ie8 #events1 {
}
.ie7 #events1 p, .ie8 #events1 p {
  border-left: #A62F0F solid 5px;
  line-height: 0.8em;
  padding-left: 1em;
}
.ie7 #events1 .more, .ie8 #events1 .more {
  border-bottom: solid 1px #D19887;
}
.ie7 #events2 p, .ie8 #events2 p {
  border-left: #01888E solid 5px;
  line-height: 1em;
  padding-left: 1em;
}
.ie7 #events2 img, .ie8 #events2 img {
  position: absolute;
  right: 60px;
  top: 61px;
}
.ie7 #events2 .more, .ie8 #events2 .more {
  border-bottom: solid 1px #7FC3C6;
}
.ie7 #events3 p, .ie8 #events3 p {
  border-left: #003D5C solid 5px;
  line-height: 1em;
  padding-left: 0.8em;
}
.ie7 #events3 li, .ie8 #events3 li {
	width: 125px;
	display:inline-block;
	zoom:1;
	*display:inline;
	_display:inline;
	vertical-align:top;
}
.ie7 #events3 .more, .ie8 #events3 .more {
  border-bottom: solid 1px #7F9FAE;
}
.ie7 #events4 p, .ie8 #events4 p {
  border-left: #DF8E01 solid 5px;
  line-height: 1em;
  padding-left: 1em;
  /*width: 128px;
  float: left;*/
}
.ie7 #events4 li, .ie8 #events4 li {
	width: 125px;
	display:inline-block;
	zoom:1;
	*display:inline;
	_display:inline;
	vertical-align:top;
}
.ie7 #events4 .more, .ie8 #events4 .more {
  border-bottom: solid 1px #EAC37E;
}
.ie7 #events5 p, .ie8 #events5 p {
  border-left: #178153 solid 5px;
  line-height: 1em;
  padding-left: 1em;
  width: 125px;
  float: left;
}
.ie7 #events5 li, .ie8 #events5 li {
	width: 125px;
	display:inline-block;
	zoom:1;
	*display:inline;
	_display:inline;
	vertical-align:top;
}
.ie7 #events5 .more, .ie8 #events5 .more {
  border-bottom: solid 1px #8CC0A9;
}
.ie7 #events6 p, .ie8 #events6 p {
  border-left: #C64609 solid 5px;
  line-height: 1em;
  padding-left: 1em;
  margin:13px 0;
}
.ie7 #events6 p {
	margin:9px 0;
}
.ie7 #events6 li, .ie8 #events6 li {
	width: 125px;
	display:inline-block;
	zoom:1;
	*display:inline;
	_display:inline;
	vertical-align:top;
}
.ie7 #events6 .more, .ie8 #events6 .more {
  border-bottom: solid 1px #EAC37E;
}
.ie7 footer, .ie8 footer {
  clear: both;
  border-top: rgba(0, 0, 0, 0.48) 2px solid;
  background-color: #691917;
}
.ie7 footer a, .ie8 footer a {
  color: #a1605c;
  text-decoration: none;
}
.ie7 footer .logo, .ie8 footer .logo {
  right: 24px;
  width: 100px;
  top: 13px;
  position: absolute;
  z-index: 100;
}
.ie7 footer .logo a, .ie8 footer .logo a {
  display: block;
}
.ie7 footer .container, .ie8 footer .container {
  position: relative;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
.ie7 footer .address, .ie8 footer .address {
  padding: 0px;
  padding-top: 16px;
  line-height: 1.5em;
  font-size: 0.83em;
}
.ie7 footer .address p, .ie8 footer .address p {
  color: #fff;
  padding: 0px;
  margin: 0px;
}
.ie7 footer .linkIcon ul, .ie8 footer .linkIcon ul {
  margin: 18px 0px 18px 0px;
}
.ie7 footer .linkIcon ul li, .ie8 footer .linkIcon ul li {
  display: block;
  width: 47px;
  height: 48px;
  margin-right: 20px;
  float: left;
}
.ie7 footer .linkIcon ul li a, .ie8 footer .linkIcon ul li a {
  -webkit-filter: grayscale(100%);
  /*background-image: url("/images/backup/icons-s486dcfebcb.png");*/
  background-size: cover;
  cursor: pointer;
  margin-bottom: 19px;
  display: block;
  width: 47px;
  height: 48px;
}
.ie7 footer .linkIcon ul li a span, .ie8 footer .linkIcon ul li a span {
  display: none;
}
.ie7 footer .linkIcon ul li a.youtube, .ie8 footer .linkIcon ul li a.youtube {
  background-position: 0 -192px;
}
.ie7 footer .linkIcon ul li a.facebook, .ie8 footer .linkIcon ul li a.facebook {
  background-position: 0 -288px;
}
.ie7 footer .linkIcon ul li a.ntu, .ie8 footer .linkIcon ul li a.ntu {
  background-position: 0 -336px;
}
.ie7 footer .linkIcon ul li a.soace, .ie8 footer .linkIcon ul li a.soace {
  background-position: 0 0px;
}
.ie7 footer .linkIcon ul li a.myntu, .ie8 footer .linkIcon ul li a.myntu {
  background-position: 0 -96px;
}
.ie7 footer .linkIcon ul li a.qrcode, .ie8 footer .linkIcon ul li a.qrcode {
  /*background-image: url("/images/backup/qrcode.png");*/
}
.ie7 footer .linkIcon ul li a.a_plus, .ie8 footer .linkIcon ul li a.a_plus {
  width: 88px;
  height: 30px;
  /*background-image: url("/images/backup/a_plus.jpg");*/
  zoom: 1;
}
.ie7 footer .copyright, .ie8 footer .copyright {
  font-size: 0.84em;
  line-height: 40px;
  height: 40px;
  background-color: #420200;
}
.ie7 footer .copyright .container, .ie8 footer .copyright .container {
  height: auto;
}
.ie7 footer .copyright ul, .ie8 footer .copyright ul {
  display: block;
  margin: 0px 24px;
}
.ie7 footer .copyright ul li, .ie8 footer .copyright ul li {
  display: inline;
}
.ie7 footer .copyright p.copyrightText, .ie8 footer .copyright p.copyrightText {
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 0px;
  color: #fff;
}
.ie7 #mainMenu, .ie8 #mainMenu {
  position: relative;
}
.ie7 #menu, .ie8 #menu {
  position: absolute;
  right: -300px;
  top: 59px;
  z-index: 5;
  width: 1000px;
  box-sizing: content-box;
}
.ie7 header #mainMenu #menu .menu-sprite, .ie7 header #mainMenu #menu .menu-menu01, .ie7 header #mainMenu #menu .menu-menu02, .ie7 header #mainMenu #menu .menu-menu03, .ie7 header #mainMenu #menu .menu-menu04, .ie7 header #mainMenu #menu .menu-menu05, .ie7 header #mainMenu #menu .menu-menu06, .ie8 header #mainMenu #menu .menu-sprite, .ie8 header #mainMenu #menu .menu-menu01, .ie8 header #mainMenu #menu .menu-menu02, .ie8 header #mainMenu #menu .menu-menu03, .ie8 header #mainMenu #menu .menu-menu04, .ie8 header #mainMenu #menu .menu-menu05, .ie8 header #mainMenu #menu .menu-menu06 {
  background-image: url("../images/menu-s7868177b79.png");
  background-repeat: no-repeat;
}
.ie7 header #mainMenu #menu a.menu-menu01, .ie8 header #mainMenu #menu a.menu-menu01 {
  background-position: 0 0;
}
.ie7 header #mainMenu #menu a.menu-menu01:hover, .ie8 header #mainMenu #menu a.menu-menu01:hover {
  background-position: 0 -44px;
}
.ie7 header #mainMenu #menu .menu-menu02, .ie8 header #mainMenu #menu .menu-menu02 {
  background-position: 0 -88px;
}
.ie7 header #mainMenu #menu a.menu-menu02:hover, .ie8 header #mainMenu #menu a.menu-menu02:hover {
  background-position: 0 -132px;
}
.ie7 header #mainMenu #menu a.menu-menu03, .ie8 header #mainMenu #menu a.menu-menu03 {
  background-position: 0 -176px;
}
.ie7 header #mainMenu #menu a.menu-menu03:hover, .ie8 header #mainMenu #menu a.menu-menu03:hover {
  background-position: 0 -220px;
}
.ie7 header #mainMenu #menu a.menu-menu04, .ie8 header #mainMenu #menu a.menu-menu04 {
  background-position: 0 -264px;
}
.ie7 header #mainMenu #menu a.menu-menu04:hover, .ie8 header #mainMenu #menu a.menu-menu04:hover {
  background-position: 0 -308px;
}
.ie7 header #mainMenu #menu a.menu-menu05, .ie8 header #mainMenu #menu a.menu-menu05 {
  background-position: 0 -352px;
}
.ie7 header #mainMenu #menu a.menu-menu05:hover, .ie8 header #mainMenu #menu a.menu-menu05:hover {
  background-position: 0 -396px;
}
.ie7 header #mainMenu #menu a.menu-menu06, .ie8 header #mainMenu #menu a.menu-menu06 {
  background-position: 0 -440px;
}
.ie7 header #mainMenu #menu a.menu-menu06:hover, .ie8 header #mainMenu #menu a.menu-menu06:hover {
  background-position: 0 -484px;
}
.ie7 header #mainMenu #menu li, .ie8 header #mainMenu #menu li {
  display: inline-block;
}
.ie7 header #mainMenu #menu li a, .ie8 header #mainMenu #menu li a {
  width: 112px;
  height: 44px;
  display: block;
  text-decoration: none;
}
.ie7 header #mainMenu #menu li a span, .ie8 header #mainMenu #menu li a span {
  display: none;
}
.ie7 header #mainMenu #menu li li a span, .ie8 header #mainMenu #menu li li a span {
  display: inline;
}

.ie8 #mainSubMenu {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 106px;
  z-index: 4;
  background: url("../images/submenuBg.png") repeat-x right top;
}
.ie8 #mainSubMenu.show {
  height: 70px;
  top: 106px;
}
.ie8 .topBtn {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:999;
}
.ie8 .topBtn img {
	transition:0.3s;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.ie8 .topBtn img:hover, .topBtn:focus img {
	opacity:0.8;
	filter:alpha(opacity=80);
}
.ie7 #search #searchInput, .ie8 #search #searchInput {
    background-color: #E6E6E6;
    color: #AAAAAA;
    border: none;
    padding-left: 7px;
	width:40%;
	font-size:0.75em;
	vertical-align: middle;
    /*background-image: url("/images/search.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;*/
}
.ie7 #search .searchBtn, .ie8 #search .searchBtn {
    height: 19px;
    margin-bottom: 1px;
    /*margin-left: -12px;*/
    vertical-align: middle;
}
.ie7 .topBtn {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:999;
}
.ie7 .topBtn img {
	transition:0.3s;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.ie7 .topBtn img:hover, .topBtn:focus img {
	opacity:0.8;
	filter:alpha(opacity=80);
}

.ie7 header #mainMenu #menu ul li .jsMenu ul {
  background: url("../images/submenuBg.png") repeat-x right top;
  background-position: 0px 0px;
}
.ie7 #main .row .col2 #events3, .ie8 #main .row .col2 #events3 {
    float: left;
}
.ie7 #main .row .col2 #events4, .ie8 #main .row .col2 #events4 {
    float: right;
}
.ie7 .flex-direction-nav .flex-next, .ie8 .flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: 0;
}
.ie7 .flex-direction-nav .flex-prev, .ie8 .flex-direction-nav .flex-prev {
	left: 0;
}
.ie7 .push {
	top:65px;
}
.ie7 header #topbar #webType .mobileWebType, .ie8 header #topbar #webType .mobileWebType {
	display:none;
}
.ie7 .rslides .fullBannerBg, .ie8 .rslides .fullBannerBg {
	width:50%;
	height:400px;
	background-color:#000;
	filter:alpha(opacity=60);
	z-index:999;
	position:absolute;
	top:0;
	left:0;
}
.rslides li.bgred{
	background:url(../images/banner/banner01_red.jpg) #df8e01 no-repeat;
}
.rslides li.bg2yellow{
	background:url(../images/banner/banner02_yellow.jpg) #691917 no-repeat;
}

.rslides li.bg3blue{
	background:url(../images/banner/banner03_blue.jpg) #01888E no-repeat;
}

.rslides li.bg4green{
	background:url(../images/banner/banner04_green.jpg) #003D5C no-repeat;
}
.rslides li.half img {
	isplay: block;
	height: auto;
	float: right;
	width: 50%;
	border: 0;
}
.ie7 footer .linkIcon img, .ie8 footer .linkIcon img {
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
	filter: url('../js/filters.svg#grayscale');
    filter: gray;
    -webkit-filter: grayscale(1);
	transition:0.3s;*/
}
.ie7 footer .linkIcon img:hover, footer .linkIcon .qrcode, .ie8 footer .linkIcon img:hover, footer .linkIcon .qrcode {
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	filter: none;
    -webkit-filter: grayscale(0);*/
}
.ie7 footer .linkIcon ul li, 
.ie8 footer .linkIcon ul li {
	vertical-align:bottom;
}
.ie7 footer .linkIcon a, 
.ie8 footer .linkIcon a {
	display:block;
	width:48px;
	height:48px;
	/*background-size:48px 48px;*/
    background-repeat:no-repeat;
}
.ie7 footer .linkIcon .linkIcon_1, 
.ie8 footer .linkIcon .linkIcon_1 {
	background-image:url(../images/ie8_linkIcon/linkIcon_1_gray.png);
}
.ie7 footer .linkIcon .linkIcon_1:hover, .ie7 footer .linkIcon .linkIcon_1:focus, 
.ie8 footer .linkIcon .linkIcon_1:hover, .ie8 footer .linkIcon .linkIcon_1:focus {
	background-image:url(../images/ie8_linkIcon/linkIcon_1.png);
}
.ie7 footer .linkIcon .linkIcon_2, 
.ie8 footer .linkIcon .linkIcon_2 {
	background-image:url(../images/ie8_linkIcon/linkIcon_2_gray.png);
}
.ie7 footer .linkIcon .linkIcon_2:hover, .ie7 footer .linkIcon .linkIcon_2:focus, 
.ie8 footer .linkIcon .linkIcon_2:hover, .ie8 footer .linkIcon .linkIcon_2:focus {
	background-image:url(../images/ie8_linkIcon/linkIcon_2.png);
}
.ie7 footer .linkIcon .linkIcon_3, 
.ie8 footer .linkIcon .linkIcon_3 {
	background-image:url(../images/ie8_linkIcon/linkIcon_3_gray.png);
}
.ie7 footer .linkIcon .linkIcon_3:hover, .ie7 footer .linkIcon .linkIcon_3:focus, 
.ie8 footer .linkIcon .linkIcon_3:hover, .ie8 footer .linkIcon .linkIcon_3:focus {
	background-image:url(../images/ie8_linkIcon/linkIcon_3.png);
}
.ie7 footer .linkIcon .linkIcon_4, 
.ie8 footer .linkIcon .linkIcon_4 {
	background-image:url(../images/ie8_linkIcon/linkIcon_4_gray.png);
}
.ie7 footer .linkIcon .linkIcon_4:hover, .ie7 footer .linkIcon .linkIcon_4:focus, 
.ie8 footer .linkIcon .linkIcon_4:hover, .ie8 footer .linkIcon .linkIcon_4:focus {
	background-image:url(../images/ie8_linkIcon/linkIcon_4.png);
}
.ie7 footer .linkIcon .linkIcon_5, 
.ie8 footer .linkIcon .linkIcon_5 {
	background-image:url(../images/ie8_linkIcon/linkIcon_5_gray.png);
}
.ie7 footer .linkIcon .linkIcon_5:hover, .ie7 footer .linkIcon .linkIcon_5:focus, 
.ie8 footer .linkIcon .linkIcon_5:hover, .ie8 footer .linkIcon .linkIcon_5:focus {
	background-image:url(../images/ie8_linkIcon/linkIcon_5.png);
}
.ie7 footer .linkIcon .linkIcon_7, 
.ie8 footer .linkIcon .linkIcon_7 {
	width:88px;
	height:31px;
	/*background-size:88px 31px;*/
	background-image:url(../images/ie8_linkIcon/a_plus_gray.png);
}
.ie7 footer .linkIcon .linkIcon_7:hover, .ie7 footer .linkIcon .linkIcon_7:focus
.ie8 footer .linkIcon .linkIcon_7:hover, .ie8 footer .linkIcon .linkIcon_7:focus {
	background-image:url(../images/ie8_linkIcon/a_plus.png);
}
.ie7 footer .copyright ul, 
.ie8 footer .copyright ul {
    display: block;
}
/*# sourceMappingURL=ie8.css.map */
