html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.accesskey {
  position: relative;
}
.accesskey a {
  font-size: 0.8em;
  position: absolute;
  left: -15px;
}
.accesskeyLink, .accesskeyLink:hover {
	color:#FFF;
}
.hide {
  display: none;
}

#mainSubMenu {
  position: absolute;
  width: 100%;
  top: 130px;
  z-index: 4;
  background: url("../images/submenuBg.png") repeat-x right top;
}
#mainSubMenu.show {
  height: 70px;
}
#mainSubMenu .container ul.submenu {
  height: 70px;
  text-align: center;
  z-index: 100;
}
#mainSubMenu .container ul.submenu li {
  display: inline;
  line-height: 54px;
}
#mainSubMenu .container ul.submenu li:after {
  content: "|";
  padding: 0px 8px;
  color: #ffd200;
  font-size: 0.8rem;
}
#mainSubMenu .container ul.submenu li a {
  color: #9f7f1a;
}
#mainSubMenu .container ul.submenu li a:hover {
  color: #854c1a;
  font-weight: bold;
}

header {
    height: 330px;
    border-bottom: solid 4px #691917;
    background: url("../images/head_bg.png") no-repeat left bottom #fff;
    position: fixed;
    /*z-index: 5555;*/
	z-index:999;
    width: 100%;
}
header #topbar {
  font-size: 0.8rem;
  line-height: 50px;
  background-color: #691917;
  border-bottom: solid 2px #F9BE00;
}
header #topbar #webType .mobileWebType {
	display:none;
}
footer .linkIcon img {
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
	filter: url('../js/filters.svg#grayscale');
    filter: gray;
    -webkit-filter: grayscale(1);
	transition:0.3s;*/
  }
footer .linkIcon img:hover, footer .linkIcon .qrcode {
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	filter: none; 
    -webkit-filter: grayscale(0);*/
}
footer .linkIcon a {
	display:block;
	width:48px;
	height:48px;
	background-size:48px 48px;
    background-repeat:no-repeat;
}
footer .linkIcon .linkIcon_1 {
	background-image:url(../images/icon/linkIcon_1_gray.png);
}
footer .linkIcon .linkIcon_1:hover, footer .linkIcon .linkIcon_1:focus {
	background-image:url(../images/icon/linkIcon_1.png);
}
footer .linkIcon .linkIcon_2 {
	background-image:url(../images/icon/linkIcon_2_gray.png);
}
footer .linkIcon .linkIcon_2:hover, footer .linkIcon .linkIcon_2:focus {
	background-image:url(../images/icon/linkIcon_2.png);
}
footer .linkIcon .linkIcon_3 {
	background-image:url(../images/icon/linkIcon_3_gray.png);
}
footer .linkIcon .linkIcon_3:hover, footer .linkIcon .linkIcon_3:focus {
	background-image:url(../images/icon/linkIcon_3.png);
}
footer .linkIcon .linkIcon_4 {
	background-image:url(../images/icon/linkIcon_4_gray.png);
}
footer .linkIcon .linkIcon_4:hover, footer .linkIcon .linkIcon_4:focus {
	background-image:url(../images/icon/linkIcon_4.png);
}
footer .linkIcon .linkIcon_5 {
	background-image:url(../images/icon/linkIcon_5_gray.png);
}
footer .linkIcon .linkIcon_5:hover, footer .linkIcon .linkIcon_5:focus {
	background-image:url(../images/icon/linkIcon_5.png);
}
footer .linkIcon .linkIcon_7 {
	width:88px;
	height:31px;
	background-size:88px 31px;
	background-image:url(../images/a_plus_gray.png);
}
footer .linkIcon .linkIcon_7:hover, footer .linkIcon .linkIcon_7:focus {
	background-image:url(../images/a_plus.png);
}
footer .copyright ul {
    display: block;
}

@media (min-width: 480px) {
  header #topbar {
    font-size: 0.8rem;
    line-height: 23px;
    height: 26px;
    background-color: #691917;
    border-bottom: solid 2px #F9BE00;
    display: block;
  }
}
@media (min-width: 999px) {
  header #topbar #student {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 10px;
  }
  header #topbar #student li {
    color: #fff;
    display: inline;
  }
  header #topbar #student li:after {
    content: "|";
    margin: -3px;
  }
  header #topbar #student li:hover:after {
    content: "|";
	/*content: " ";*/
    margin: -3px;
    color:#420200;
	/*visibility:hidden;*/
  }
  header #topbar #student li:last-child:after {
    content: "";
    padding: 0px 0px;
  }
  header #topbar #student li a {
    text-decoration: none;
    text-align: center;
    padding: 5px 15px; 
    color: #fff;
    left: -4px;
    position: relative;
    background-color: none;
  }
  header #topbar #student li a:hover {
    color: #691917;
    background-color: #f2c100;
  }
  header #topbar #search {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41%;
    float: left;
	text-align:right;
  }
  header #topbar #search a {
    color: #fff;
    text-decoration: none;
  }
  header #topbar #search a:hover {
    text-decoration: underline;
  }
  header #topbar #search #searchInput {
	  /*background:#E6E6E6 url(../images/search.png) no-repeat center right;
	  background-size:25px 19px;*/
	background-color: #E6E6E6;
    color: #AAAAAA;
    border: none;
    border-radius: 7px;
    padding-left: 7px;
	width:50%;
    /*background-image: url("/images/search.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;*/
  }
  header #topbar #search .searchBtn {
    height: 20px;
    margin-bottom: 2px;
    /*margin-left: -12px;*/
    vertical-align: bottom;
}
  header #topbar #search li {
    color: #fff;
    display: inline-block;
	vertical-align:top;
  }
  header #topbar #search li:after {
    content: " ";
    width: 10px;
    display: inline-block;
  }
  header #topbar #search li:last-child:after {
    content: "";
    padding: 0px 0px;
  }
  header #topbar #webType {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 6%;
    float: right;
  }
  header #topbar #webType li {
    float: left;
    color: #fff;
    background-color: #000;
    display: inline;
    margin-left: 1px;
  }
  header #topbar #webType li:after {
    content: " ";
    width: 10px;
    /*display: inline-block;*/
  }
  header #topbar #webType li:last-child:after {
    content: "";
    padding: 0px 0px;
  }
  header #topbar #webType li a {
	padding: 0px 4px;
    color: #fff;
    text-decoration: none;
  }
  header #topbar #webType li a:hover {
    text-decoration: underline;
  }
}
header #mainMenu #subMenu {
  position: absolute;
  right: 13px;
  top: 0px;
  margin-top: 6px;
  font-size: 0.83em;
  z-index: 2;
}
header #mainMenu #subMenu li {
  color: #B49785;
  display: inline-block;
}
header #mainMenu #subMenu li:after {
  color: #C8C2B6;
  font-size: 0.7em;
  content: "|";
  padding: 5px 5px;
  display: inline-block;
}
header #mainMenu #subMenu li:last-child:after {
  content: "";
  padding: 0px 0px;
}
header #mainMenu #subMenu li a {
  color: #691917;
  text-decoration: none;
}
header #mainMenu #subMenu li a:hover {
  text-decoration: underline;
}
header #mainMenu #menu {
  position: absolute;
  right: 13px;
  top: 59px;
  z-index: 5;
  width: 1000px;
}
header #mainMenu #menu ul {
  float: right;
}
header #mainMenu #menu .menu-sprite, header #mainMenu #menu .menu-menu01, header #mainMenu #menu .menu-menu02, header #mainMenu #menu .menu-menu03, header #mainMenu #menu .menu-menu04, header #mainMenu #menu .menu-menu05, header #mainMenu #menu .menu-menu06 {
  /*background-image: url('../images/menu-s7868177b79.png');*/
  background-repeat: no-repeat;
  background-size: 112px 44px;
}
header #mainMenu #menu .menu-menu01 {
  /*background-position: 0 0;*/
  background-image:url(../images/menu/menu_1.png);
}
header #mainMenu #menu .menu-menu01:hover, header #mainMenu #menu .menu-menu01.menu01-hover {
  /*background-position: 0 -44px;*/
  background-image:url(../images/menu/menu_1_hover.png);
}
header #mainMenu #menu .menu-menu02 {
  /*background-position: 0 -88px;*/
  background-image:url(../images/menu/menu_2.png);
}
header #mainMenu #menu .menu-menu02:hover, header #mainMenu #menu .menu-menu02.menu02-hover {
  /*background-position: 0 -132px;*/
  background-image:url(../images/menu/menu_2_hover.png);
}
header #mainMenu #menu .menu-menu03 {
  /*background-position: 0 -176px;*/
  background-image:url(../images/menu/menu_3.png);
}
header #mainMenu #menu .menu-menu03:hover, header #mainMenu #menu .menu-menu03.menu03-hover {
  /*background-position: 0 -220px;*/
  background-image:url(../images/menu/menu_3_hover.png);
}
header #mainMenu #menu .menu-menu04 {
  /*background-position: 0 -264px;*/
  background-image:url(../images/menu/menu_4.png);
}
header #mainMenu #menu .menu-menu04:hover, header #mainMenu #menu .menu-menu04.menu04-hover {
  /*background-position: 0 -308px;*/
  background-image:url(../images/menu/menu_4_hover.png);
}
header #mainMenu #menu .menu-menu05 {
  /*background-position: 0 -352px;*/
  background-image:url(../images/menu/menu_5.png);
}
header #mainMenu #menu .menu-menu05:hover, header #mainMenu #menu .menu-menu05.menu05-hover {
  /*background-position: 0 -396px;*/
  background-image:url(../images/menu/menu_5_hover.png);
}
header #mainMenu #menu .menu-menu06 {
  /*background-position: 0 -440px;*/
  background-image:url(../images/menu/menu_6.png);
}
header #mainMenu #menu .menu-menu06:hover, header #mainMenu #menu .menu-menu06.menu06-hover {
  /*background-position: 0 -484px;*/
  background-image:url(../images/menu/menu_6_hover.png);
}
header #mainMenu #menu li {
  display: inline-block;
}
header #mainMenu #menu li a {
  width: 112px;
  height: 44px;
  color: #000;
  display: block;
  text-decoration: none;
}
header #mainMenu #menu li a span {
  display: none;
}
header #mainMenu #menu li div.jsMenu {
  display: block;
  position: absolute;
  text-align: center;
  left: 13px;
  top: 44px;
}
header #mainMenu #menu li div.jsMenu ul {
  background-image: none;
  background-repeat: none;
  height: 60px;
  line-height: 53px;
  width: 1000px;
}
header #mainMenu #menu li div.jsMenu ul:hover {
	background-image: none;
}
header #mainMenu #menu li div.jsMenu ul li {
  display: inline;
  line-height: 54px;
}
header #mainMenu #menu li div.jsMenu ul li:hover {
  background-image: none;
  background-repeat: none;
}
header #mainMenu #menu li div.jsMenu ul li:after {
  content: "|";
  padding: 0px 7px;
  color: #ffd200;
  font-size: 0.8rem;
}
header #mainMenu #menu li div.jsMenu .menu-menu02 li:after {
  padding: 0px 1px;
}
header #mainMenu #menu li div.jsMenu ul li a {
  background-image: none;
  background-repeat: none;
  width: initial;
  height: initial;
  display: inline;
  text-decoration: none;
  /*color: #9f7f1a;*/
  color:#333;
}


header #mainMenu #menu li div.jsMenu .menu-menu02 li a {
	font-size:100%;
	padding:0 10px;
}


header #mainMenu #menu li div.jsMenu ul li a span {
  display: inline;
}
header #mainMenu #menu li div.jsMenu ul li a:hover {
  color: #854c1a;
  font-weight: bold;
}
header #mainMenu #logo {
  /*top: 0px;*/
  top: 13px;
  left: 0px;
  position: absolute;
  z-index: 1;
}
/*header #mainMenu #logo img {
	width:255px;
}*/
#banner {
    background-color: #000000;
    position: relative;
    padding-top: 330px;
}
#banner span {
  display: none;
}
#banner ul.rslides_tabs {
  position: absolute;
  bottom: 22px;
  z-index: 7;
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 760px) {
  #banner ul.rslides_tabs {
    zoom: 0.8;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  #banner ul.rslides_tabs {
    zoom: 0.5;
  }
}
@media (min-width: 0px) and (max-width: 300px) {
  #banner ul.rslides_tabs {
    zoom: 0.2;
  }
}
#banner ul.rslides_tabs li a {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: #000;
  -moz-border-radius: 7px / 7px;
  -webkit-border-radius: 7px 7px;
  border-radius: 7px / 7px;
  outline:none;
}
#banner ul.rslides_tabs li {
  margin-left: 10px;
  margin-left: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  display: inline-block;
}
#banner ul.rslides_tabs li.rslides_here {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#banner a.rslides_nav {
  display: block;
  background-size: contain;
  opacity:0.5;
  outline:none;
}
#banner a.rslides_nav:hover{
  display: block;
  background-size: contain;
  opacity:1;
}
#banner a.rslides_nav.prev {
  height: 30px;
  width: 30px;
  background-image: url("../images/prev.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 160px;
  left: 10px;
  z-index: 4;
}
#banner a.rslides_nav.next {
  height: 30px;
  width: 30px;
  background-image: url("../images/next.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 160px;
  right: 10px;
  z-index: 4;
}

#main {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
#main .bg {
  background-image: url("/images/bg2.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  border-bottom: #fabe00 4px solid;
}
#main div h2 {
  color: #FFF;
  padding: 6px 10px;
  position: relative;
}
#main div h2:after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}
#main #news h2 {
  background-color: #333333;
}
#main #events1 h2 {
  background-color: #A62F0F;
}
#main #events2 h2 {
  background-color: #01888E;
}
#main #events3 h2 {
  background-color: #003D5C;
}
#main #events4 h2 {
  background-color: #DF8E01;
}
#main #events5 h2 {
  background-color: #178153;
}
#main #events6 h2 {
  background-color: #C64609;
}

footer {
  border-top: rgba(0, 0, 0, 0.48) 2px solid;
  background-color: #691917;
}
footer .linkIcon ul {
  margin: 18px 0px 18px 0px;
}
footer .linkIcon ul li {
  display: inline-block;
  margin-right: 20px;
  vertical-align:bottom;
}
@media (max-width: 999px){
	footer .linkIcon ul li {
	  display: inline-block;
	  margin-right: 20px;
	  margin-bottom:5px;
	  /*line-height:3em;*/
	}
}
footer .linkIcon ul li a {
  /*background-image: url("/images/icons-s486dcfebcb.png");
  background-size: cover;
  cursor: pointer;
  margin-bottom: 19px;
  display: block;
  width: 48px;
  height: 48px;*/
}
.topBtn {
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:999;
}
.topBtn img {
	transition:0.3s;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.topBtn img:hover, .topBtn:focus img {
	opacity:0.8;
	filter:alpha(opacity=80);
}

@media (min-width: 1000px) {
  footer .linkIcon ul li a {
    zoom: 1;
    margin-bottom: 0px;
  }
}
/*footer .linkIcon ul li a:hover {
  -webkit-filter: grayscale(0%);
}*/
footer .linkIcon ul li a.youtube:hover {
  background-position: 0 0;
}
footer .linkIcon ul li a.youtube {
  background-position: 0 -48px;
}
footer .linkIcon ul li a.facebook:hover {
  background-position: 0 -96px;
}
footer .linkIcon ul li a.facebook {
  background-position: 0 -144px;
}
footer .linkIcon ul li a.ntu:hover {
  background-position: 0 -192px;
}
footer .linkIcon ul li a.ntu {
  background-position: 0 -240px;
}
footer .linkIcon ul li a.soace:hover {
  background-position: 0 -288px;
}
footer .linkIcon ul li a.soace {
  background-position: 0 -336px;
}
footer .linkIcon ul li a.myntu:hover {
  background-position: 0 -384px;
}
footer .linkIcon ul li a.myntu {
  background-position: 0 -432px;
}
footer .linkIcon ul li a.qrcode {
  background-image: url("/images/qrcode.png");
}
footer .linkIcon ul li a.a_plus {
  width: 88px;
  height: 30px;
  background-image: url("/images/a_plus.jpg");
  zoom: 1;
}
footer .linkIcon ul li a span {
  display: none;
}
footer p {
  font-size: 0.85em;
  color: #a1605c;
}
footer a {
  color: #a1605c;
}
footer a:hover {
  color: #f2c100;
}
footer .address {
  padding: 30px 30px 0px 30px;
  line-height: 1.5em;
  font-size: 1em;
}
@media (min-width: 727px) {
  footer .address {
    padding: 0px;
    padding-top: 16px;
  }
}
footer .address p {
  color: #fff;
}
@media (min-width: 727px) {
  footer .row {
    margin: 0px 24px;
  }
}
footer .copyright {
  font-size: 0.84em;
  line-height: 40px;
  height: 40px;
  background-color: #420200;
}
@media (min-width: 727px) {
  footer .copyright ul {
    margin: 0px 24px;
  }
}
footer .copyright ul li {
  display: inline;
}
footer .copyright ul li:after {
  content: "|";
  padding: 0px 10px;
  color: #a1605c;
}
footer .copyright ul li:last-child:after {
  content: "";
  padding: 0px;
  color: #a1605c;
}
@media (min-width: 0px) and (max-width: 727px) {
  footer .copyright ul {
    margin: 0px;
    text-align: center;
    top: -3.2em;
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 380px) {
  footer .copyright ul {
    text-align: center;
    line-height: 20px;
    position: absolute;
  }
  footer .copyright ul li {
    display: inline;
  }
  footer .copyright ul li:after {
    content: "|";
    padding: 0px 3px;
    color: #a1605c;
  }
  footer .copyright ul li:last-child:after {
    content: "";
    padding: 0px;
    color: #a1605c;
  }
  footer .copyright p.copyrightText {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 15px;
    text-overflow: ellipsis;
    margin-right: 15px;
  }
  footer .linkIcon {
	  text-align: center;
  }
}
footer .linkIcon {
  margin: 0px 35px;
}
@media (min-width: 727px) {
  footer .linkIcon {
    margin: 0px 0px;
  }
}
.nsMenu {
	position:absolute;
	text-align:center;
	top:90px;
	left:100px;
	line-height:140%;
}
.nsMenuList {
	list-style:none;
	margin:0;
	padding:0;
}
.nsMenuList li {
	display:inline-block;
	vertical-align:top;
	margin:0 1em;
}
.nsMenuListSub {
	list-style:none;
	margin:0;
	padding:0;
}
.nsMenuListSub li {
	display:block;
	margin:0;
}
.rootUnit {
	color:#691917;
	font-size:1.2em;
}
.nsSlides li img {
	width:100%;
}