/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides li.half{
  background-color:#df8e01;
}
.rslides li.bg2{
  background-color:#691917;
}

.rslides li.bg3{
  background-color:#01888E;
}

.rslides li.bg4{
  background-color:#003D5C;
}
.rslides li.bgred, #banner li.bgred {
	background:url(../images/banner/banner01_red.jpg) #df8e01 no-repeat;
}
.rslides li.bg2yellow, #banner li.bg2yellow {
  background:url(../images/banner/banner02_yellow.jpg) #691917 no-repeat;
}
.rslides li.bg3blue, #banner li.bg3blue {
  background:url(../images/banner/banner03_blue.jpg) #01888E no-repeat;
}
.rslides li.bg4green, #banner li.bg4green {
  background:url(../images/banner/banner04_green.jpg) #003D5C no-repeat;
}

.rslides li.half img {
  display: block;
  height: auto;
  float: right;
  width: 50%;
  border: 0;
  }

.rslides .fullBannerBg {
	width:50%;
	height:400px;
	background-color:#000;
	opacity:0.60;
	filter:alpha(opacity=60);
}
#banner .leftText {
	float:left;
	width:50%;
	/*display:inline-block;
	vertical-align:top;
	width:48%;*/
}
#banner .imgBanner {
	float:right;
	width:50%;
	/*display:inline-block;
	vertical-align:top;
	width:50%;*/
}


/*----- 平板版 -----*/
@media screen and ( min-width:768px) and ( max-width:1000px) {
	.rslides .fullBannerBg {
		height:310px;
	}
}

/*========== 手機版版型 ==========*/
@media screen and ( max-width:767px) {
	.rslides .fullBannerBg {
		height:124px;
	}
}