@charset "UTF-8";
body {
  background-color: #fff;
  font-family:'Arimo','Open Sans','Microsoft JhengHei',sans-serif,Arial,'Heiti TC','LiHei Pro';
}

.textBanner {
  position: absolute;
  padding: 20px 20px 20px 30px;
  line-height: 1.5rem;
  width: 50%;
  box-sizing: border-box;
}
#banner .leftText {
	padding: 20px 20px 20px 30px;
}
.textBanner h2, #banner .leftText h2 {
  font-size: 1.4rem;
  /*margin-bottom: 1rem;
  margin-top: 3rem;*/
  margin:3rem 1.3rem 1rem 1.3rem;
  line-height: 1.8rem;
  color: #fff;
  letter-spacing:1px;
}
.textBanner p, #banner .leftText p {
  color: #F5F500;
  font-size: 0.9em;
  line-height: 1.5rem;
  margin:1rem 1.3rem 1rem 1.3rem;
  letter-spacing:1px;
}

@media (min-width: 600px) and (max-width: 760px) {
  .textBanner h2, #banner .leftText h2 {
    font-size: 1rem;
    /*margin-bottom: 1rem;*/
    line-height: 1.2rem;
	margin:2rem 1rem 0.8rem 1rem;
    color: #fff;
  }
  .textBanner p, #banner .leftText p {
    /*color: #F5F500;
    font-size: 0.8rem;
    line-height: 1rem;
	margin:0.8rem 1rem 0.8rem 1rem;*/
	display: none;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .textBanner h2, #banner .leftText h2 {
    font-size: 0.8rem;
    /*margin-bottom: 1rem;*/
    line-height: 1rem;
	margin:0rem 0.4rem 0.2rem 0.4rem;
    color: #fff;
  }
  .textBanner p, #banner .leftText p {
    /*color: #F5F500;
    font-size: 0.4rem;
    line-height: 0.8rem;
	margin:0.2rem 0.4rem 0.2rem 0.4rem;*/
	display: none;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .textBanner p, #banner .leftText p {
    display: none;
  }
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #A62F0F;
}

.container {
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

#mobile {
  display: none;
}

@media (min-width: 0px) and (max-width: 999px) {
  #mobile {
    display: none;
    position: absolute;
  }

  header[data-collapse=off] {
    height: 126px;
  }
  header[data-collapse=off] #mobile {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  }
  header[data-collapse=off] #topbar {
    height: 40px;
  }

  header {
    height: 400px;
  }
  header .searchbar {
    font-size: 0.8em;
    background-color: #E6E6E6;
    color: #AAAAAA;
    border: none;
    border-radius: 7px;
    padding-left: 7px;
    /*background-image: url("/images/search.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;*/
  }
  #mobile .mobileSearch {
	  color:#FFF;
	  font-size: 0.8em;
  }
  #mobile .searchBtn {
	  vertical-align:middle;
	  /*margin-left:-10px;*/
	  height:19px;
  }
  header #topbar {
    height: 314px;
  }
  header #mobile {
    margin: 47px 24px;
    display: inline;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    position: absolute;
  }
  header #mobile ul {
    margin-top: 18px;
	clear:both;
  }
  header #mobile ul li {
    display: inline;
  }
  header #mobile ul li a {
    color: #FFF;
    font-size: 0.83em;
  }
  header #mobile ul li:after {
    color: #C8C2B6;
    font-size: 0.7em;
    content: "|";
    padding: 5px 5px;
    display: inline-block;
  }
}
button.btn-navbar {
  display: none;
  position: absolute;
  right: 0;
}
@media (min-width: 0px) and (max-width: 999px) {
  button.btn-navbar {
    display: block;
    float: right;
    background: none;
    border: 0;
    box-shadow: none;
    padding: 7px 10px;
    margin: 5px;
    margin-right: 0;
	z-index:999;
  }
  button.btn-navbar .icon-bar {
    display: block;
    margin-top: 3px;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 0px) and (max-width: 999px) {
  #topbar {
    height: 42px;
    transition-property: height;
    transition-duration: 1s;
  }
  #topbar #student, #topbar #search {
    display: none;
  }
  #topbar #webType li {
    float: right;
    color: #fff;
    background-color: #000;
    display: inline;
	margin:0.6em 3em 0 0;
	line-height:22px;
  }
  #topbar #webType li a {
		color:#FFF;
		margin:0 1em;
  }
  #topbar #webType li a:hover, #topbar #webType li a:focus {
	  text-decoration:underline;
  }
  footer .linkIcon img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  }
  footer .linkIcon img:hover, footer .linkIcon .qrcode {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
}

@media (min-width: 0px) and (max-width: 999px) {
  header {
    transition-property: height;
    transition-duration: 1s;
  }
}
@media (min-width: 0px) and (max-width: 999px) {
  header #mainMenu #subMenu, header #mainMenu #menu {
    display: none;
  }
  header #mainMenu #logo {
    top: 8px;
  }
  .textBanner p, #banner .leftText p {
    display: none;
  }
}

#main .bg {
  padding-bottom: 40px;
}
#main li {
  padding: 10px 0px;
  margin: 0px 10px;
}
#main .row .col2 .indexBanner li {
    margin: 0;
    padding: 0;
}
#main li p {
  font-size: 0.82em;
  border-left: solid 5px #333333;
  padding-left: 12px;
}
#main .more {
  clear: both;
}
#main h2 {
  background-position: 4px 2px;
  background-repeat: no-repeat;
  background-size: 21px 20px;
}
#main #news h2 {
  background-image: url(../images/icon/icon1.png);
}
#main #news p {
  border-left-color: #333333;
}
#main #news ul li {
  border-bottom: dashed 1px #b1b1b1;
  line-height: 1.5em;
}
#main #news .more {
  /* height: 58px; */
  border-bottom: solid 1px #999999;
}
#main #events1 h2 {
  background-image: url(../images/icon/icon2.png);
}
#main #events1 p {
  border-left-color: #A62F0F;
}
#main #events1 .more {
  height: 28px;
  border-bottom: solid 1px #D19887;
}
#main #events2 h2 {
  background-image: url(../images/icon/icon3.png);
}
#main #events2 p {
  border-left-color: #01888E;
}
#main #events2 .more {
  height: 28px;
  border-bottom: solid 1px #7FC3C6;
}
#main #events3 h2 {
  background-image: url(../images/icon/icon4.png);
}
#main #events3 p {
  border-left-color: #003D5C;
}
#main #events3 .more {
  height: 28px;
  border-bottom: solid 1px #7F9FAE;
}
#main #events4 h2 {
  background-image: url(../images/icon/icon5.png);
}
#main #events4 p {
  border-left-color: #DF8E01;
}
#main #events4 .more {
  height: 28px;
  border-bottom: solid 1px #EAC37E;
}
#main #events5 h2 {
  background-image: url(../images/icon/icon6.png);
}
#main #events5 p {
  border-left-color: #178153;
}
#main #events5 .more {
  height: 28px;
  border-bottom: solid 1px #8CC0A9;
}
#main #events6 h2 {
  background-image: url(../images/icon/icon7.png);
}
#main #events6 p {
  border-left-color: #C64609;
}
#main #events6 .more {
  height: 28px;
  border-bottom: solid 1px #C6AED0;
}
#main #items h2 {
  margin-top: 12px;
  margin-bottom: 7px;
  padding-left: 30px;
}
#main #items .more {
  position: relative;
}
#main #items .more .btn {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  color: #494949;
  background-color: #C8C8C8;
  font-size: 0.8em;
  padding: 3px 10px;
  position: absolute;
  bottom: 10px;
  right: 13px;
}
#main #items .more .btn:hover {
  color: #fff;
  background-color: #494949;
}
#main .row .col1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}
#main .row .col2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
}
#main .row .col2 img {
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
  border: solid 2px #fff;
}
#main .row .col2 .indexBanner img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
#main .row .col2 div ul li {
  width: 100%;
  float: left;
}
@media (min-width: 480px) {
  #main .row .col1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
  }
  #main .row .col2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
  }
  #main .row .col2 div ul li {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #main .row .col2 .indexBanner li {
	  margin:0;
	  padding:0;
  }
}
@media (min-width: 600px) {
  #main .row .col1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
  }
  #main .row .col1 #news ul {
    /*最新消息都為一行時之高度：713px;高度兩行(10則)時高度：773px; height: 890px; 校園推廣8則時743px*/
	height: 743px;
  }
  #main .row .col2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: right;
    padding-left: 0%;
    padding-right: 1%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #main .row .col2:after {
    content: " ";
    display: block;
    clear: both;
  }
  #main .row .col2 div ul li {
    width: 100%;
    float: left;
  }
  #main .row .col2 #events1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    float: left;
  }
  #main .row .col2 #events2 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
  }
  #main .row .col2 #events2:after {
    content: " ";
    display: block;
    clear: both;
  }
  #main .row .col2 #events2 img {
    right: 12px;
    top: 57px;
    position: absolute;
    height: 180px;
    width: 116px;
  }
  #main .row .col2 #events2 .more {
   /* height: 36px; */
  }
  #main .row .col2 #events3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
  }
  #main .row .col2 #events3 ul{
	height:135px;
  }
  #main .row .col2 #events3 ul li {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #main .row .col2 #events3 img {
    right: 12px;
    top: 57px;
    position: absolute;
    height: 108px;
    width: 116px;
  }
  #main .row .col2 #events4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #main .row .col2 #events4 .more {
    /* height: 61px; */
  }
  #main .row .col2 #events4 ul{
	height:135px;
  }
  #main .row .col2 #events4 ul li {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #main .row .col2 #events5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    /*float: right;*/
	float:left;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  #main .row .col2 #events5 ul{
	height:135px;
  }
  #main .row .col2 #events5 ul li {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #main .row .col2 .indexBanner {
	  float: right;
	  width: 49%;
	  margin-top:10px;
  }
  #main .row .col2 .indexBanner li {
	  margin:0;
	  padding:0;
  }
  #main .row .col2 #events6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
  }
  #main .row .col2 #events6 ul{
	height:135px;
  }
  #main .row .col2 #events6 ul li {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  #main .row .col2 #events6 img {
    right: 12px;
    top: 57px;
    position: absolute;
    height: 108px;
    width: 116px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #main .row .col1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
  }
  #main .row .col1 #news ul {
    height: auto;
  }
  #main .row .col2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
  }
  #main .row #events1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  #main .row #events2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  #main .row #events3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  #main .row #events4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  #main .row #events5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  #main .row #events6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}

@media (min-width: 0px) and (max-width: 727px) {
  footer .logo {
    text-align: center;
    margin-bottom: 50px;
  }
  footer .logo a img {
    width: 93px;
    height: 143px;
  }
  footer .copyright p {
    position: relative;
    text-align: center;
  }
}
@media (min-width: 727px) and (max-width: 9999px) {
  footer .logo {
    right: 24px;
    width: 100px;
    top: 20px;
    position: absolute;
    z-index: 100;
  }
  footer .logo a {
    display: block;
	opacity:0.55;
  }
  footer .logo a:hover {
	opacity:1;
  }
  footer .copyright p {
    position: absolute;
    top: 0px;
    right: 10px;
  }
}
/*nojs*/
.rslides.nojs li a {
    color: #333333;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 100%;
}
.rslides.nojs li:first-child {
    position: relative;
    display: inline-block;
    float: none;
}
.rslides.nojs li {
    position: relative;
    display: inline-block;
    float: none;
}

.rslides.nojs {
    -webkit-backface-visibility:initial ;
    position:unset;
    display:initial;
    width:unset ;
    left:unset ;
    top:unset ;
}

/*----- 平板版 -----*/
@media screen and ( min-width:768px) and ( max-width:1000px) {
header #topbar #webType .mobileWebType {
	display:inline;
}
header #topbar #webType .mobileWebType2 {
	margin:0.6em 0.6em 0 0;
}
}

/*========== 手機版版型 ==========*/
@media screen and ( max-width:767px) {
header #topbar #webType .mobileWebType {
	display:inline;
}
header #topbar #webType .mobileWebType2 {
	margin:0.6em 0.6em 0 0;
}
}