BODY {
	TEXT-ALIGN: center; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 12px;
}
.wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.access_button {
	Z-INDEX: 100; MARGIN: 60px auto 0px 15px; WIDTH: 209px; POSITION: absolute
}
.access_button #top {
	BACKGROUND-POSITION: left bottom; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/buttonbg.jpg); COLOR: #20558b; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 171px; BACKGROUND-COLOR: #cdced0; TEXT-ALIGN: center
}
.access_button #top IMG {
	DISPLAY: block; MARGIN: 5px 5px 5px 20px; TEXT-ALIGN: center
}
.forex {
	Z-INDEX: 3000; MARGIN: 317px auto 0px 15px; WIDTH: 211px; POSITION: absolute
}
.forex #title {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: 300; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/forex-top.png); WIDTH: 211px; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px; TEXT-ALIGN: center
}
.forex #bottom {
	cursor: pointer; BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(images/forex-bottom.png); WIDTH: 211px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px; TEXT-ALIGN: center
}
.forex #date {
	FONT-SIZE: 11px; COLOR: #003d79; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; HEIGHT: 28px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.forex .row TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 15px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.forex .row_alt TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 15px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.forex .row {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e2e3; TEXT-ALIGN: center
}
.forex .row_alt {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.bottombg {
	BACKGROUND-COLOR: #003d79
}
.sidebarwraper {
	Z-INDEX: 12; FLOAT: right; WIDTH: 240px; POSITION: relative; TOP: 133px;
}
.sidebar {
	MARGIN-TOP: 137px; FILTER: alpha(opacity=20); MARGIN-LEFT: 720px; WIDTH: 240px; POSITION: absolute; HEIGHT: 620px; BACKGROUND-COLOR: #000000; opacity: .2; moz-opacity: .2
}
.topbg {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/bg_header.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px; BACKGROUND-COLOR: #013066
}
.bottombg {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/bottombg.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 362px; BACKGROUND-COLOR: #ffffff
}
.en_bottombg {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/en_bottombg_eng_4.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 362px; BACKGROUND-COLOR: #ffffff
}
.menubar {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/bg_menu.jpg); BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: repeat-y; HEIGHT: 36px; BACKGROUND-COLOR: #fbd816
}
.menubar A {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; COLOR: #013066; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.logo {
	BACKGROUND-POSITION: left top; FLOAT: right; BACKGROUND-IMAGE: url(images/mandiri_logo.gif); WIDTH: 200px; MARGIN-RIGHT: 19px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TOP: -1px; HEIGHT: 59px
}
.topmenu {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: left; BACKGROUND-IMAGE: url(images/bg_nav.png); PADDING-BOTTOM: 0px; WIDTH: 400px; COLOR: #cccccc; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: relative; TOP: -20px; HEIGHT: 21px
}
.topmenu A {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; PADDING-BOTTOM: 3px; COLOR: #cccccc; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.topmenu A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.pagebottom {
	FONT-SIZE: 11px; 
	COLOR: #cccccc; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	POSITION: relative; 
	TEXT-ALIGN: left;
	padding: 80px 10px 20px;
	background: url(images/bg-footer.jpg) 0 10px no-repeat;
}
#box-wrapper {
	Z-INDEX: 1000; RIGHT: 0px; WIDTH: 240px; POSITION: absolute; TOP: 15px; HEIGHT: 570px
}

/* -----------------ukuran shadow, margin dan path image berubah -------------------- */
#box-shadow {
	/*BACKGROUND: url(images/box_shadow2.png) no-repeat;*/ MARGIN: 0px 0px 0px 15px; WIDTH: 210px; 
}
/* -----------------ukuran shadow dan path image berubah -------------------- */

#box {
	PADDING-TOP: 5px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; behavior: url(images/2012/border-radius.htc);-moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; background-color:#FDFDFD; 
}
#box-toptitle {
	/*add 20/06/12*/
	WIDTH: 200px; HEIGHT: 35px;
}

#box-top {
	/*add 25/10/11*/
	/*BACKGROUND: url(../images/bg_top.png) no-repeat;*/ WIDTH: 200px; POSITION: relative; /*TOP: 6px; LEFT:5px;*/ HEIGHT: 30px; /*
	behavior: url(images/2012/border-radius.htc); -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;
	border-radius: 5px; background-color:#044182;*/
}
#box-top IMG{
	POSITION:absolute; /*TOP:2px*/;
}

#box-access {
	/*add 20/06/12*/ /*NDHOL////////////////*/
	WIDTH: 198px; HEIGHT: /*82*/75px; text-align: center; 
}

#box-title {
	/*add 20/06/12*/ /*NDHOL////////////////*/
	WIDTH: 198px; HEIGHT: /*50*/40px; padding-top: 5px; text-align: center;
}


#box-button-group {
	/*add 20/06/12*/ 
	WIDTH: 198px; HEIGHT: 35px; text-align: center; padding-left 
}



#box-bottom {
	/*BACKGROUND: url(../images/box_bottom.png) no-repeat;*/ WIDTH: 210px; POSITION:relative; TOP: 10px; HEIGHT: 20px; border: red 1px solid;
}
#box-upper {
	/*BACKGROUND: url(../images/box_upper.jpg) repeat-x;*/ /*NDHOL2////////////////*/ WIDTH: 198px; BORDER-BOTTOM: #fff 1px solid; POSITION: relative; HEIGHT:/*170*/155px; border:1px solid #B5B5B5; behavior: url(images/2012/border-radius.htc);
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; 
	background-color:#E6E6E6; margin-bottom: 5px;
}
#box-upper p {
	/*PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #013066; PADDING-TOP: 0px; FONT-FAMILY: Arial; TEXT-ALIGN: center*/
}
#box-upper A {
	/*DISPLAY: block; MARGIN-LEFT: 20px*/
}

/* ---------------box banner wirausaha------------------ */
#box-wirausaha {
	/*BACKGROUND: url(images/box_wirausaha.jpg) repeat-x; WIDTH: 210px;POSITION: relative; TOP: -3px; HEIGHT: 55px;*/
}
/* ---------------box banner wirausaha------------------ */
/*#box-wirausaha IMG {
	MARGIN: 5px 10px 0px 0px
	}*/

	#box-lower {
		WIDTH: 200px; POSITION: relative; TOP: 12px; LEFT:5px; HEIGHT: 30px; border: red 1px dashed;
	/*behavior: url(border-radius.htc); -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;
	border-radius: 5px; background-color:#044182;*/
	/*BACKGROUND: url(images/box_lower.jpg) repeat-x; WIDTH: 210px; POSITION: relative; TOP: -4px; HEIGHT: 55px; TEXT-ALIGN: right*/
}
#box-lower IMG {
	POSITION:absolute; TOP:3px;
}

/*Adding 25-10-11*/
#box-line{
	position:absolute;
	left:4px;
	width:190px;
	border-top: 2px solid #B5B5B5;
	height: 6px;
}

.box-title{
	width: 45%;
	float: left;
	margin-top:37px;
	margin-left: 4px;
}

.box-button{
	float: right;
	padding: 0;
	margin: 0;
	margin-top:-45px;
	margin-right:-18px;
}

.box-button li{
	list-style:none;
	padding-top: -5px;

}

#box UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
#box LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#box A {
	/*DISPLAY: block; FONT-WEIGHT: bold; WIDTH: 170px; COLOR: #fff; PADDING-TOP: 2px; HEIGHT: 23px; TEXT-ALIGN: center*/
}
#box A:hover {
	COLOR: #0f2b5b
}

/*  =Additional Stylesheet for Video Section 
=================================================*/

/*Common*/

.video-container a {
	text-decoration: none;
}
	
.video-container img{
	border: none;
}

.video-container .video-item {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	position: relative;
	background: url(images/bg-video-item-gray.jpg) no-repeat;
	width: 235px;
	height: 189px;
	float: left;
	margin: 0 0 0 4px;
}

* html .video-container .video-item{
	margin: 0;
}

.video-container .video-title {
	display: block;
	margin: 20px 0 10px;
	color: #004a80;
}

/*Index*/


#video-index #video-item-wrap {
	width: 720px;
	background: #ebebeb;
	padding-top: 10px;
	padding-bottom: 110px;
}




/*Archive*/
	
#video-archive h1 {
	color: #004A80;
	margin-top: 0;
	padding-left: 15px;
}


#video-archive #bg {
	background: #ebebeb;	
	padding: 20px 50px;
}

* html #video-archive #bg {
	padding: 20px 30px;
}
	
#video-archive #video-item-wrap {
	width: 890px;
	margin: 0px;
	overflow: auto;
}

* html #video-archive #video-item-wrap {
	width: 900px;
}

#video-archive .video-item {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
	position: relative;
	background: url(video-images/bg-video-item-gray-s.jpg) no-repeat;
	width: 211px;
	height: 169px;
	float: left;
	margin: 0 0 0 4px;
}

#video-archive .video-item img {
	width: 160px;
	height: 98px;
}


/*  =Utilities 
=================================================*/

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
