.apps li i, .menu-qy dt i, .menu-jd dt i,.hotbrand span,.area span,.lt_img ul li a.le_img ,.lt_img ul li a.le_bj,.lt_img ul li a.le_kt,.lt_img ul li a.le_jj,.lt_img ul li a.le_lt{background: url(../images/cmsnew/index_logo.png) 0 0 no-repeat;}

.content1{ width:1000px; margin:0 auto; }
.warp2{ margin-top:5px}
.apps {padding-top: 15px;float: right;}
.apps ul {float: left;}
.apps li {width: 61px;float: left;display: inline;margin-right: 7px;text-align: center;}
.apps li a, .apps li i, .apps li .title {display: block;}
.apps li i {width: 47px;height: 47px;margin: 0 auto 4px;-webkit-transition: all 1s;-moz-transition: all 1s;-ms-transition: all 1s;transition: all 1s;}
.apps li a:hover i{-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);-o-transform:rotateY(360deg);transform:rotateY(360deg)}
.banner .apps li a:hover i{-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);-o-transform:rotateY(360deg);transform:rotateY(360deg)}
.apps li .title {height: 24px;overflow: hidden; font-size:12px;font-family:"微软雅黑";}
.apps li i.icon-khd {background-position: -1px -4px;}
.apps li i.icon-ydxz {background-position: -0px -58px;}
.apps li i.icon-jcz {background-position: -0px -118px;}
.apps li i.icon-zzzj{background-position: -2px -183px;}
.contact a{ font-size:12px;font-family:"微软雅黑"; color:#959595}

.menu{ background:url(../images/cmsnew/main1.png) no-repeat; width:970px; height:60px;  margin-top:3px; padding-left:30px}
.menu-icon {;padding: 1px 0 0 5px;}
.menu-icon dl {margin: 0px 10px 0 0;float: left;zoom: 1;}
.menu-jd {width:204px;}
.menu-icon .menu-hd{width:204px;margin:0px;}
.menu-qy {width: 530px;}
.menu-icon dt {width: 48px;padding-top: 6px;margin: 0 10px 0 0;_margin-right: 7px;float: left;text-align: center;position: relative;overflow: hidden;}
.menu-icon dt .icon-blue {display: block;}
.title1 .blue{font-size:16px;font-family:"微软雅黑"; color:#F3CC96 }
.menu-icon dt i {width: 48px;height: 48px;margin: 0 auto;display: block;position: relative;zoom: 1;}
.title1 {height: 54px;padding-top: 10px;overflow: hidden; width:25px; float:left}
.title2 {height: 48px;padding-top: 4px; width:446px; float:left}
.title3 {height: 48px;padding-top: 4px; width:120px; float:left}
.title2 a{ color:#fff;font-size:14px;font-family:"微软雅黑";  display:inline-block; padding:4px 4px 5px;height:16px;}
.title2_1 a{width:59px;height:16px;}
.yikatong{display:inline-block;*display:inline;zoom:1;position:relative;}
.yikatong .yktUl li:hover{background: #be080b;}
.yktUl{position:absolute;display:none;background:#d61810;z-index:700;width:68px;left:-4px;}
.znjj{padding:4px 7px 5px 0px;}
.pingxuan{display:inline-block;width:58px;position:relative;}
.pingxuan a{padding: 4px 0px 5px 6px;}
.pxUl{position:absolute;display:none;background:#d61810;z-index:700;width:78px;left:-10px;}
.pingxuan .pxUl li:hover{background: #be080b;}
.menu-icon dt {text-align: center;}
.menu-qy dt i {background-position:-2px -244px;}
.menu-jd dt i {background-position:-1px -309px;}
.menu-hd dt i{background-position:-64px -3px;}
.menu-icon dd {height: 53px;zoom: 1;}

.menu a:hover{ color:#F3CC96!important}
.wrap {zoom: 1;height: auto;width:1000px;margin: 0 auto;}
.ad {padding:0;margin:0 auto; clear: both;}
.hotbrand {margin-top: 10px;border-bottom: 1px solid #dfdfdf;font-size:12px;font-family:"微软雅黑";height: 22px;line-height: 17px;}
.hotbrand span {color: #ffffff;background-position:-2px -371px;padding: 1px; display:inline-block; width:60px; height:19px;text-indent: 5px;}
.area span{color: #ffffff;background-position:-2px -371px;padding: 1px; display:inline-block; width:60px; height:19px;}
.hotbrand a {color: #848484;margin-right: 4px;}
.area {width: 1000px;height: 21px;margin-bottom: 6px;overflow: hidden;margin-top: 2px;font-size:12px;font-family:"微软雅黑";}
.area span {font-size: 12px;line-height: 19px;color: #ffffff;text-indent: 5px;}
.area a {color: #666666;padding: 0 5px;}



.index_main{ overflow:hidden; padding-bottom:5px}

/*-------左边部分----------*/
.index_main .index_left{float:left; width:330px;}
/*幻灯片放映开始*/
.index_main .index_left .lf_main{ width:330px; height:285px; }
.box-keleyi-com { width: 330px; height: 240px; overflow: hidden;position: relative;  margin:0px; }
#cSlide{position: relative;}
.c_btn ol {position: absolute;right: 63px;bottom: 18px;z-index: 2;}
.c_btn ol li { float: left; margin-right: 10px; display: inline; cursor: pointer; background: #D3D3D3;text-indent:-99999px; width:30px; height:7px  }
.c_btn .active {font-weight: bold; background: #FE5735; position: relative;  }
.box-keleyi-com ul { position: absolute; top: 0; left: 0; z-index: 1; overflow:hidden; }
.box-keleyi-com ul li { width: 330px; height: 240px; float: left; }
.box-keleyi-com ul img { float: left; width: 330px; height: 240px; }
.box-keleyi-com p { width: 33px; height: 77px;  font-weight: bold;  position: absolute; top: 75px; z-index: 2; cursor: pointer; text-indent:-999999px }
.box-keleyi-com .prev { background:url(../images/cmsnew/left.png)}
.box-keleyi-com .next {background:url(../images/cmsnew/right.png); right: 0px; }
.ak{color:#FFF; font-size:14px;font-family:"微软雅黑";}
.ak:hover{ color:#fff!important}
.ak_name{position:absolute; bottom:0px; z-index:1; text-indent:0px; background:url(../images/cmsnew/ak.png);padding-left:10px; left:0px; width:320px;height:35px; line-height:35px}
/*幻灯片放映结束*/
.luntan{ overflow:hidden}
.title11 h3{position: relative;border-bottom: 2px solid #D7D7D7;font-size: 18px;padding: 0 0 8px 8px;margin: 5px 0;height: 26px;line-height: 26px; margin-top:10px; font-weight:normal; }
.title11 h3 a.lt_name{display: block;position: absolute;border-bottom: 2px solid #FE5735;top: 0;left: 0;height: 34px; width:55px;font-size:18px; font-family:"微软雅黑"}
.title11 h3 a.more3{float: right;font-size: 12px;padding-right: 8px;font-family:"微软雅黑"; color:#999999; padding-top:6px}
.title11 h3 a.lt_name_1{display: block;position: absolute;border-bottom: 2px solid #FE5735;top: 0;left: 0;height:34px; font-size:18px; font-family:"微软雅黑";color:#333333;}

.lt_img ul li{ width:66px; float:left}
.lt_img ul li span{ display:block; padding-top:10px; text-align:left; width:66px}
.lt_img ul li span.jz{ padding-left:3px}
.lt_img ul li a{ font-size:12px;font-family:"微软雅黑"; color:#333333}
.lt_img ul li a.le_img{ background-position:-58px -233px; display:block; width:54px; height:54px}
.lt_img ul li a.le_bj{ background-position:-58px -301px; display:block; width:54px; height:54px}
.lt_img ul li a.le_kt{ background-position:-129px -3px; display:block; width:54px; height:54px}
.lt_img ul li a.le_jj{ background-position:-129px -70px; display:block; width:54px; height:54px}
.lt_img ul li a.le_lt{ background-position:-129px -133px; display:block; width:54px; height:54px}

.zuixin{ margin-top:10px;height:291px;}
.zx_name{ overflow:hidden}
.zx_name li{ width:110px; text-align:center; float:left; font-size:18px;font-family:"微软雅黑"; padding-bottom:5px; cursor:pointer}
.zx_name li a{ width:110px; text-align:center; float:left; font-size:18px;font-family:"微软雅黑"; padding-bottom:5px; border-bottom:2px solid #D7D7D7; cursor:pointer}
.zx_name li.active1 a{border-bottom:2px solid #FE5735; color:#FE5735}
.zx_img{overflow: hidden;width: 340px;}
.zx_img li {height: 120px;width: 160px;float: left; margin-right:10px; margin-top:10px}
.zx_img li a { float: left; position: relative;}
.zx_img li img {width: 160px; height: 120px;}
.tj_name { position: absolute; bottom: 0px;background: url(../images/cmsnew/bj_name.png) repeat-x ; height: 22px; width: 160px;color: #FFF;line-height: 22px; left: 0px;text-align: center; font-size:12px}
.zx_img li a:hover .tj_name{text-decoration: underline;!important}



/*-------中间部分----------*/
.index_main .index_center{ float:left;width:330px; margin-left:20px; }
.dongtai h3{ margin-top:5px;text-align:center;height:24px;line-height:24px;}
.dongtai h3 a{ font-size:16px;font-family:"微软雅黑"; color:#FF3333}
.zx_list{ margin-top:5px}
.zx_list a{ font-size:14px;font-family:"微软雅黑"; color:#999999}
.zx_list li{height:24px;line-height:24px;}
.show_jd .show_t{display:inline-block;width:56px;text-align:right;}
.zx_list span{color:#999999;display:inline-block; padding:0px 10px}
.more4{ height:30px; line-height:30px; font-size:12px; text-align:center; background:#F1F1F1; margin-top:5px}
.more4 a{font-size:12px;font-family:"微软雅黑"; color:#AAAAAA}
.cp{ margin-top:10px}
.mi{ color:#333333!important}

/*-------右边边部分----------*/
.index_main .index_right{ float:left;width:300px;margin-left:20px;height:500px}
.zx_name_1 li{ width:100px}
.rh_1{ margin-top:20px; }
.rh_2{width:298px; height:515px; border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;  }
.box .hd {zoom: 1;}
.box .hd .mark {height: 20px; width:90px; border-bottom:2px solid #F00; overflow:hidden;padding-bottom:10px; }
.mark{float: left;display: inline;}
.hd .mark a {color: #333333;font-size:18px;font-family:"微软雅黑"; font-weight:normal}
.circle-ctrl-out {padding: 5px 5px 0 0;float: right;}
.circle-wrap {display: inline-block;overflow: hidden;vertical-align: top;}
.circle-ctrl {height: 12px;text-align: center;zoom: 1;line-height: 0;font-size: 0;overflow: hidden;margin-top: 10px;}
.circle-ctrl .item {width: 12px;height: 12px;float: left;margin-right: 2px; background:url(../images/cmsnew/kj.png) no-repeat}
.box .hd { padding-bottom:10px; border-bottom:2px solid #CCC; height:20px}
.box{ margin-top:10px}
.box .slide-pic {padding-top: 5px;}
.slide-pic {position: relative;zoom: 1;}
.slide-pic .slide-wrap {width: 300px;position: relative;zoom: 1;overflow: hidden;}

.box .contentWrap ul li{width:300px;height:100px;}
.box .contentWrap ul{position: absolute;top: 0;left: 0;z-index: 1;overflow: hidden;height:100px;}
.box .contentWrap{height:100px;}
.slide-pic .prev, .slide-pic .next {width: 26px;height: 51px;margin-top: -25px;position: absolute;top: 50%;}
.slide-pic .prev, .slide-pic .next {background-image: url(../images/cmsnew/bg_24.png);background-repeat: no-repeat;}
.slide-pic .prev {background-position: 0 0;left: -4px;top:40px;z-index: 20;}
.slide-pic .next {background-position: -27px 0;right: 1px;top: 40px;z-index: 20;}
.slide-pic-w160 li .blk-img {width: 145px;float: left;}
.blk-img {display: block;position: relative;zoom: 1;overflow: hidden;}
.title-alpha {width:135px;height: 20px; font-size:12px;font-family:"微软雅黑";;overflow: hidden;text-align: center;color: #fff;position: absolute;left: 0;bottom: 0;background:url(../images/cmsnew/bj_name.png); line-height:20px;padding-left:5px;padding-right:5px;}
.circle-ctrl .current { background:url(../images/cmsnew/dkj.png) no-repeat}



h3.b1{height:35px; line-height:35px!important; color:#FE5735!important; font-size:16px!important;font-family:"微软雅黑"!important; font-weight:normal!important;  border-bottom:1px solid #E5E5E5; padding-left:10px}
.nav-mod { position:relative; z-index:15;}
.mt { margin-top:10px; }
..settle { padding-right:10px; height:57px; padding:5px 10px 10px; position:relative; background:#fff; text-align:right; }
.settle b { color:#c00; padding:0 5px; }
.settle span { padding-left:10px; }
.settle span em { padding-left:5px; position:relative; top:1px; font-size:16px; color:#c00; font-weight:bold; }
.settle .btn { width:110px; height:30px; display:block; position:absolute; top:32px; right:10px; background-position:0 -222px; color:#fff; text-align:center; line-height:30px; }
.settle .btn:hover { background-position:-111px -222px; text-decoration:none; color:#fff; }
.mycart_loading { height:48px; padding:20px 0; text-align:center; color:#999; }
.mycart_loading p { padding-top:10px; }
.rt{ margin-top:10px; padding-left:5px; margin-bottom:5px;text-align:center;}
.productnav { border:0px!important; z-index:3; position:relative; width:298px; height:513px; border-bottom:1px solid #E5E5E5!important }
.rt a{ color:#ff3333; font-size:16px;font-family:"微软雅黑";}
.cateitembox { background-position:0 -608px; background-color:#fff; }
.productnav .first { background:#fff; }
.cateitembox h3 { margin-right:14px; font:bold 14px/20px "Microsoft YaHei"; color:#333; background-position:100% -485px; }
.cateitembox h3 a { color:#333; }
.cateitembox p a { color:#999; margin-right:3px; line-height:22px;font-family:"微软雅黑" }
.cate_item { height:45px; padding:7px 0 4px 10px; border-bottom:1px solid #E5E5E5 ;margin-left:-2px}
.cate_item  h3{ background: url(../images/cmsnew/logo_2.png) no-repeat; padding-left:30px; font-family:"微软雅黑"; display:inline-block; float:left; }
.cate_item  h3:hover{ background:url(../images/cmsnew/logo-h.png) no-repeat;}
.cate_item  h3:hover a{ color:#FE5735!important; text-decoration:none!important}
.cate_item  h3 a{ font-size:16px; font-weight:normal}
.cate_item  h3.active5 a{ color:#FE5735; text-decoration:none!important}
.first .cate_item h3.item{ background: url(../images/cmsnew/logo_2.png) no-repeat;}
.first .cate_item  h3.item a{ color:#333;}
.cate_item  h3.active5{background:url(../images/cmsnew/logo-h.png) no-repeat;}
.cate_item  h3.text2{ background-position:0px -58px; height:20px;}
.cate_item  h3.text3{ background-position:0px -117px; height:20px; }
.cate_item  h3.text4{ background-position:0px -174px; height:20px; }
.cate_item  h3.text5{ background-position:0px -234px; height:20px; }
.cate_item  h3.text6{ background-position:0px -275px; height:20px; }
.cate_item  h3.text7{ background-position:0px -333px; height:20px; }
.cate_item  h3.text8{ background-position:0px -392px; height:20px; }
.cate_item  h3.text9{ background-position:0px -449px; height:20px; }

/*新增css*/
.cate_item_2 h3{ background:none!important; padding-left:5px; font-family:"微软雅黑"; display:inline-block; float:none; color:#000!important; font-size:16px; font-weight:normal }
.cateitembox_hover .cate_item_2 { width:290px;padding: 4px 0 8px 8px!important;  position:relative; z-index:3; background:#fff; margin-left:0px!important}
.cate_item_2{ height:48px; padding:4px 0 8px 8px; border-bottom:1px solid #E5E5E5;margin-left:0px!important }
.cate_item_2 p{ margin-left:5px}

.cate_item3  h3:hover{ background:url(../images/cmsnew/2-1.png) no-repeat}
.cate_item3 h3{ background: url(../images/cmsnew/2.png) no-repeat; padding-left:30px; font-family:"微软雅黑"; display:inline-block; float:left; }
.cate_item3  h3.text1{background:url(../images/cmsnew/logo-h.png) no-repeat;}
.cate_item3  h3.text2{ background-position:0px -58px; height:20px;}
.cate_item3  h3.text3{ background-position:0px -117px; height:20px; }
.cate_item3  h3.text4{ background-position:0px -174px; height:20px; }
.cate_item3  h3.text5{ background-position:0px -234px; height:20px; }
.cate_item3  h3.text6{ background-position:0px -301px; height:20px; }
.cate_item3  h3.text7{ background-position:0px -359px; height:20px; }
.cate_item3  h3.text8{ background-position:0px -409px; height:20px; }

/*end*/

.productnav .cateitembox_hover {  position:relative;z-index:5; }
.cateitembox_hover .cate_item { width:290px; padding:7px 0 4px 10px;   position:relative; z-index:3; background:#fff; margin-left:-2px }
.cateitembox .subcatebox { display:none; background:#fafafa}
.cateitembox_hover .subcatebox { display:block; }

.subcatebox { width:585px; position:absolute; top:0; left:-587px; border:2px solid #E5E5E5; background:#fff; overflow:hidden; }
.subcate { float:left; width:565px; padding:4px 10px; min-height:230px; }
.subcate ul { overflow:hidden; padding:3px 0; border-top:1px dotted #ccc; }
.subcate li { float:left; width:108px; line-height:30px; }
.subcate li a { color:#333; }

.subcate .first { border:0 none; }
.subcate dl { overflow:hidden; padding:8px 0; border-top:1px dotted #777777; position:relative; zoom:1; font-family:"微软雅黑" }
.subcate dt { width:80px; position:absolute; top:13px; left:0; }
.subcate dt a { font-weight:bold; color:#333; }
.subcate dd { padding-left:79px; }
.subcate dd p { float:left; width:140px; height:30px; line-height:30px; }
.subcate dd p a { color:#333; }
.cate_1 .subcatebox { top:-2px; }
.cate_2 .subcatebox { top:-25px; }
.cate_3 .subcatebox { top:-25px; }
.cate_4 .subcatebox { top:-25px; }
.cate_5 .subcatebox { top:-190px; }
.cate_6 .subcatebox { top:-150px; }
.cate_7 .subcatebox { top:-150px; }
.cate_8 .subcatebox { top:-150px; }
.cate_9 .subcatebox { top:-160px; }
.cate_10 .subcatebox { top:-130px; }
.cate_11 .subcatebox { top:-173px; }
.brandmod { float:left; width:185px; padding:17px 0 600px 14px; margin-bottom:-600px; border-left:1px solid #DDDCDC; background:#fff; }
.brandmod strong { padding-bottom:12px; display:block; }
.brandmod .piclist li { float:left; padding:0 10px 10px 0; }
.brandmod .piclist img { display:block; border:1px solid #ccc; }
.brandmod .textlist li { margin-left:-8px; color:#ccc; line-height:26px; }
.brandmod .textlist a { margin:0 8px; color:#666; white-space:nowrap; }

.pick-on{ height:21px; padding:2px 15px 0 0; position:relative; line-height:21px; background-position:0 -608px; background-color:#fff; font-family:"Microsoft YaHei"; text-align:center; font-weight:bold; cursor:pointer;}
.pick-on i{ width:9px; height:5px; display:block; position: absolute; top:9px; left:148px; background-position:-142px -185px; font:0/0 arial; }
.pick-off i{ background-position:-131px -184px; top:10px;}

/*下面左边部分*/
.index_main_1{ overflow:hidden; margin-top:15px}
.main_left{ width:680px; float:left; overflow:hidden; }
.main_right{ width:300px; float:right; }
.brand_active a{ background:#FFF; border-top:2px solid #FE5735!important;}
.ppzq li a:hover{ background:#FFF; border-top:2px solid #FE5735!important; text-decoration:none!important;}
.ppzq .b_all a.active2:hover{ background:url(../images/cmsnew/pp.png) no-repeat; width:91px; height:38px; padding:0px!important; border-top:0px!important; color:#fff; text-decoration:none}
.ppzq .b_all{float:left; display:block;height:40px;text-align:center;line-height:38px;}
.ppzq .b_all a.active2:hover span{font-size:16px!important;font-family:"微软雅黑"; color:#fff}
.ppzq{ height:39px; background:#F5F5F5}
.active2{ background:url(../images/cmsnew/pp.png) no-repeat;display:block; width:91px; height:38px; padding:0px!important; border-top:0px!important; color:#fff;  }
.active2 span{font-size:16px!important;font-family:"微软雅黑"; color:#fff}
.ppzq li{ float:left;height:40px; line-height:38px; text-align:center; }
.ppzq li a{ font-size:12px;font-family:"微软雅黑";padding:0px 10px 0px 10px;display:inline-block;}
.last2{ padding-right:17px!important; }
#brand .title_left{ border-bottom:0px;border-top:0px;}
.main_left_2 .title_left{border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8; border-bottom:0px;border-top:0px;}
#brand2 div img {text-align: center;border: 1px solid #ccc;width: 118px;height: 58px;}
.img_left{border-top:0px;margin:10px 8px;  width:678px;height:436px;}
.warp3{ padding-top:15px}
.on_news {background: #FFF; border-top: 2px solid #FE5735!important;}


.main_left_2{ margin-top:10PX}
.ppzq_1 li a{ font-size:16px;font-family:"微软雅黑";padding:0px 13px 0px 13px;display:inline-block;border-top:1px solid #D8D8D8}
.list ul{ padding-right:10px; margin-bottom:5px}
.list ul li{ border-bottom:1px solid #EAEAEA; padding-bottom:20px; padding-top:20px;}
.list ul li:hover{background: #F8F8F8}
.last3{ border-bottom:0px!important;}
.list_name h3 a{ font-size:20px; font-weight:normal; height:30px; line-height:30px; display:block;font-family:"微软雅黑";}
.list_name h3 a:hover{ text-decoration:none!important;}
.list_img{width:180px; height:140px;float:left; }
.list_text{float:left; width:460px; overflow:hidden; margin-left:15px; height:140px; position:relative}
.list_text p{ font-size:12px;font-family:"微软雅黑"; color:#777777; line-height:22px}

.list_text p a.more{ color:#FE5735;font-size:12px;font-family:"微软雅黑";}
.list_text p span.time{ display:inline-block; background:url(../images/cmsnew/timee.png) left center no-repeat; padding-left:20px; float: left;}
.list_text p.del{ color:#BBBBBB; overflow:hidden; position:absolute; bottom:0px; width:460px}
.list_text p a{color:#BBBBBB;font-size:12px;font-family:"微软雅黑"; }
.list_text p span.name{display:inline-block; float:right; margin-left:10px}
.jrwl{ padding-left:20px; background:url(../images/cmsnew/jrwl.png) no-repeat}



/*右边部分*/
.main_right_1{ border-left:1px solid #D7D7D7; overflow:hidden;border-right:1px solid #D7D7D7; padding-bottom:5px;height:160px;}

.header9{ width:298px; height:30px; text-align:center; line-height:30px}
.header9 span{ cursor:pointer; width:98px;height:30px; border:1px solid #D7D7D7; float:left;font-size:16px; color:#404040; line-height:30px; border-top:2spx solid #D7D7D7;font-family:"微软雅黑"; border-right:0px}
.no{ width:98px;height:29px; float:left; font-size:20px;  border-right:0px!important;border-top:2px solid #FE5735!important; border-bottom:0px!important; font-weight:bold}
.main_right_1 p{ margin-left:20px; background:url(../images/cmsnew/dian3.png) left center no-repeat; padding-left:10px;font-family:"微软雅黑"; color:#999999; line-height:20px}


.right_2 h3 a{ color:#fe5a39; font-size:16px;font-family:"微软雅黑";}
.r_main2 { margin-top: 10px;overflow: hidden;}
.r_main2 .info_r_main2 {display: block; padding: 0px 8px;float: left;width:142px;}
.r_main2 img { width: 100%;}
.more2{ line-height:28px; color:#999999;font-family:"微软雅黑"; text-indent:2em}
.more2 a span{ color:#fe5735}
.r_main4 { padding-left: 8px;padding-top: 1px;}
.r_main4 li{ background:url(../images/cmsnew/dian3.png) left center no-repeat; padding-left:10px}
.r_main4 li a{ font-size:14px;font-family:"微软雅黑"; line-height:28px; color:#333333}
.list_del{ overflow:hidden}
.right_4{ overflow:hidden}
.right_4 h3{font-size:18px;font-family:"微软雅黑"; font-weight:normal; margin-top:18px; margin-bottom:5px}
.ph{border:1px solid #D7D7D7; border-top:2px solid #FE5735}
.tabcon { padding: 0px 10px;    margin-top: 1px;}
.tabcon .fore {padding: 10px 5px;border-top: 0px none; cursor: pointer; overflow:hidden}
.tabcon .fore span {display: inline-block; float: left;width: 21px;height: 21px; text-align: center;padding-right: 20px; line-height:21px; font-size:20px;font-family:"微软雅黑"; color:#bebebe;font-style: italic;}
.sss p{font-family:"微软雅黑"; color:#666666; height:21px; line-height:21px}
.tabcon .fore span.a3{color: #fe5735;}
.hg {display: block; float: left; overflow:hidden}
.p-name { float: left; width: 100px;}
.tabcon .fore .p-img a { display: inline-block;}
.tabcon .fore .p-img {float: left; margin-right: 5px;}
.tabcon li { overflow: hidden; padding-top: 10px;border-bottom: 1px solid #D2D2D2;}
.tabcon li.last1{ border:0px} 
.p-name a{ display:inline-block; color:#FE5735; font-size:14px;font-family: "微软雅黑"; line-height:20px}
.header10 {width: 298px;height: 35px;text-align: center;line-height: 35px;}
.header10 span {cursor: pointer;width: 148px;height: 35px;border: 1px solid #E5E5E5;float: left;font-size: 20px;color: #999999;border-top: 0px;line-height: 35px;}
.no1 {width: 98px;height: 29px;float: left;font-size: 20px;color: #333333!important;border: 0!important; }



/*--------------------------main3------------------*/
.main3{ overflow:hidden; padding-bottom:40px; margin-top:30px;}
.main3 .main3_1{ width:330px; float:left}
.main3 .main3_2{ width:330px; float:left;margin-left:20px;}

.main3 .main3_2 .r_main2{ margin-top:10px; overflow:hidden}
.main3 .main3_2 .r_main2 .info_r_main2{ display:block; height:110px; width:146px; padding:0 8px; float:left;}
.main3 .main3_2 .r_main2 img{width:142px; height: 109px;}
.main3 .main3_2 .r_main2 .r_main2_1{ overflow:hidden; height:120px}

.title4{ background:url(../images/cmsnew/xian.jpg) bottom repeat-x; overflow:hidden; position:relative; padding-bottom:4px}
.title5{ background:url(../images/cmsnew/xian1.jpg) bottom repeat-x; }
.title4 h3{ width:110px;  float:left; }
.more13{ font-size:18px; color:#333333;font-weight:normal;}
.title4 a.more12{ display:block; position:absolute; bottom:2px; right:0px; color:#777777}
.main3 .main3_1 .r_main2{ margin-top:10px; overflow:hidden}
.main3 .main3_1 .r_main2 .info_r_main2{ display:block; height:110px; width:146px; padding:0 8px; float:left;}
.main3 .main3_1 .r_main2 img{ width:142px; height: 109px;}
.main3 .main3_1 .r_main2 .r_main2_1{ overflow:hidden; height:120px}

.main3 .main3_3 .r_main2{ margin-top:10px; overflow:hidden}
.main3 .main3_3 .r_main2 .info_r_main2{ display:block; height:110px; width:146px; padding:0 5px; float:left;}
.main3 .main3_3 .r_main2 img{ width:100%}
.main3 .main3_3 .r_main2 .r_main2_1{ overflow:hidden; height:120px}
.r_main2_1 h3{ font-size:14px; font-weight:normal; max-width:200px; overflow:hidden; padding-left:10px}
.more{ font-size:12px; font-family:" 微软雅黑"; text-indent:2em; color:#777777; line-height:24px; margin-top:5px}
.more span{ color:#F00}
.r_main5{ padding-left:8px}
.r_main5 li{ background:url(../images/cmsnew/dian3.png) left center no-repeat; padding-left:10px;height:26px;line-height:26px;}
.r_main5 li a{ font-size:14px;font-family:"微软雅黑"; line-height:25px; }
.r_main5_1{ margin-top:5px; padding-left:15px}
h3.hh a{ color:#fe5a39; font-size:16px;font-family:"微软雅黑"; margin-top:10px; display:inline-block}
.main3_4{ width:300px; overflow:hidden; float:right}
.main_1{ border-left:1px solid #D9D9D9;border-right:1px solid #D9D9D9; border-bottom:1px solid #D9D9D9}
.box2 .main_1 .info ul{ padding-left:15px}
.box2 .main_1 .info li{ height:30px; line-height:30px;  border-bottom:1px solid #E5E5E5}
.last1{border-bottom:0px!important}
.box2 .main_1 .info li a{font-family:"微软雅黑"; height:30px; line-height:30px; }
.han{ font-size:20px}
.nub1{  float:left; height:30px; width:22px; text-align:center; line-height:30px;  margin-right:10px; color:#FFA472}
.nub2{ display:block; float:left; height:30px; width:22px; text-align:center; line-height:30px;  margin-right:10px; color:#BEBEBE;font-style: italic;}
#block_39 .a3{color: #fe5735;}
.box2 .header11{ width:298px; height:30px; text-align:center; line-height:30px; border-left:1px solid #D9D9D9;border-right:1px solid #D9D9D9}
.box2 .header11 span{ cursor:pointer; width:98px;height:29px; border:1px solid #E5E5E5; float:left;font-size:16px;  border-top:0px; line-height:30px;font-family:"微软雅黑"; border-right:0px}
.times{float:right; padding-right:20px; color:#939292}

.active3{ border-bottom:0px!important}
.title6 ul{ background:#F6F6F6; overflow:hidden; border-left:1px solid #D7D7D7; border-top:1px solid #D7D7D7;border-right:1px solid #D7D7D7}
.title6 ul li{ float:left; font-size:18px;font-family:"微软雅黑"; height:40px; line-height:40px; width:95px; text-align:center; cursor:pointer}
.title6 ul li.active4{border-left:1px solid #D7D7D7;border-right:1px solid #D7D7D7; background:#FFF;color:#fd755e;border-top:2px solid #FE5735;}
.title6 ul li:hover{border-left:1px solid #D7D7D7;border-right:1px solid #D7D7D7; background:#FFF; color:#fd755e}
.warp4{ margin-top:20px;  width:1000px;}
.warp4 img{ width:97px; height: 33px;}
.warp4 a{ padding:6px 12px; margin-bottom: 15px; border:1px solid #EBEBEB; display:inline-block; margin-right:17px}
.qq{float:right; padding-right:20px; display:inline-block; height:40px; line-height:40px;font-size:14px;font-family:"微软雅黑"; color:#999999}
.c_con1{ width:700px; padding-bottom:20px}

/*返回顶部*/
.guide {
	width: 45px;
	margin-left: 525px;
	position: fixed;
	left: 50%;
	bottom: 35px;
	_position: absolute;
	_top: expression(documentElement.scrollTop+documentElement.clientHeight - this.clientHeight - 35+'px');
	display: none
}

.guide a {
	height: 38px;
	line-height: 16px;
	margin-top: 5px;
	padding: 7px 0 0;
	display: block;
	text-align: center;
	color: #fff
}

.guide a:hover {
	background: #D71810;
	color: #fff;
	text-decoration: none
}

.guide a span {
	padding: 0 10px;
	display: none
}

.guide a:hover span {
	display: block;
	background: #D71810;
	color:#fff
}

.guide .feedback {
	background:url(../images/cmsnew/d1.jpg) no-repeat
}


.guide .top{
background:url(../images/cmsnew/db.jpg) no-repeat
}

.check{
background: url("../images/cmsnew/check.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff !important;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    margin-right: 10px;
    text-align: center;
    width: 71px;
}	
.show-jc{
background: url("../images/cmsnew/show-jc.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    text-align: center;
    width: 66px;
	color:#ffffff !important;
}	

