/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.padding{
	padding: 10px;
}
.padding-vertical{
	padding: 10px 0px;
}
.padding-horizontal{
	padding: 0px 10px;
}

/**
 * Footer to the bottom
 */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #f5f5f5;
}
footer.page-footer .footer-copyright{
	height: auto;
}

.main {
	flex: 1 0 auto;
}

/*
	ru_RU menu section visibility
 */

@media only screen and (max-width: 1220px) and (min-width: 993px) {
	.ru_RU .logo-name{
		display: none !important;
	}
}

@media only screen and (max-width: 1030px) and (min-width: 993px) {
	.ru_RU #menu_services{
		display: none !important;
	}
}


/**
 * nav
 */
.logo-icon {
	font-size: 3rem !important;
}

/**
 * General
 */
div.collapsible-header:hover{
	background-color: #f5f5f5;
}
nav .BTCprice{
	padding: 0 15px;
	border-left: 1px solid #5c6bc0;
	font-weight: bold;
}
nav .BTCprice:hover{
	background-color: #3f51b5;
}
nav #nav-mobile .BTCprice:hover{
	background-color: #fff;
}

div.col{border: 1px solid transparent;}
/*div.row{border: 1px solid red;}
div.col{border: 1px solid green;}*/

/**
 * Banners
 */
div.banner{
	margin: 0 auto;
	text-align: center;
}
div.banner728{
	width: 728px;
}
div.banner300{
	width: 300px;
}
div.banner468{
	width: 468px;
}
div.banner500{
	width: 500px;
}
div.banner_blank{
	background-color: rgba(255, 0, 0, 0.1);
	color: rgba(153, 60, 0, 0.5);
}

/**
 * Index
 */

.socialLogin .btn{
	text-transform: none;
	width: 255px;
	margin-bottom: 1px;
}
.orSocialLogin{
	margin-bottom: 10px;
	color: #9e9e9e;
}

#benefits h5{
	font-size: 20px;
	font-weight: 500;
}
#benefits .benefit_item{
	font-size: 18px;
}
#join h1, #claim h1{
	font-size: 50px;
}
#join h2{
	font-size: 24px;
}
#services h3, #referral h3, #testimonials h3{
	font-size: 1.64rem;
}
footer.page-footer{
	margin-top: 0px;
}

/**
 * Claim
 */
table.movement_table{
	width: auto;
	margin: 0 auto;
}

div.map{
	margin: 0 auto;
	height: 500px;
	width: 600px;
	background: url('/site/img/Waterplants0047_10_S.jpg');
	overflow: hidden;
}
div.map table td{
	text-align: center;
	color: #ffffff;
	border: 1px solid #d0d0d0;
	width: 60px;
}
div.map table td.current{
	background-color: rgba(255, 255, 255, 0.3);
}

#adcopy-response-cell input{
	height: auto;
	border: 1px solid #dedede;
	background-color: #ffffff;
}

/**
 * Claimed
 */
.share_block{
	height: 41px;
	position: relative
}
.share_block #loading{
	position: absolute;
	left: 50%;
	margin-left: -18px;
}

.dropped_item_icon{
	margin: 10px 0px;
}
.dropped_item_icon i{
	font-size: 60px;
}

#claimedMultiplyPromoInfo p{
	font-size: 16px;
}

#claimedMultiplyPromoInfo strong{
	font-size: 18px;
}

/**
 * Ratings
 */
table.ratingsTable td, table.ratingsTable th{
	padding: 10px 5px;
}
.reward_potion{
	cursor: pointer;
}
@media only screen and (max-width: 600px) {
	[data-field='reward']{
		display: none !important;
	}
}

/**
 * Offers
 */
.offer_container{
	margin: 0 auto;
}
.offer_container .card-panel{
	padding: 0px;
}
.offer_container .offer_content{
	padding: 10px 10px;
}

.offer_container #logo{
	height: 100px;
}
.offer_container #logo img{
	max-width: 100px;
}
.offer_container > .col{

}
.offer_container .offer_body{
	margin-top: 5px;
}
	.offer_body .row{
		margin-bottom: 0px;
	}
.offer_container #offer_title{
	font-size: 13px;
}

	.offer_button{
		margin-top: 10px;
	}

.offer_container .btn-large{
	height: 30px;
	line-height: 30px;
}

#chat_container {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0px;
	z-index: 50;
	overflow: visible;
}

#chat_left_button {
	display: block;
	position: absolute;
	top: 64px;
	right: -48px;
	overflow: hidden;
	cursor: pointer;
	color: #242121;
	padding: 8px 0 8px;
	background: #ffb400;
	border: none;
	width: 48px;
	text-align: center;
	outline: none;
}

#chat_left_button span{
	color: #ffffff;
}

.icon-spt {
	display: inline-block;
}

.icon-spt.chat-label {
	width: 27px;
	height: 27px;
	background: url('/core/img/chat-label.png');
	background-size: contain;
}

/**
 * Profile
 */
@media only screen and (max-width: 600px) {
	.bitcoin_address{
		font-size: 10px;
	}
}


/**
 * Icons
 */

.social-icon{
	float: left;
	padding-right: 15px;
}

/**
 * other projects
 */
.card.other_project{
	display: inline-block;
	width: 300px;
	text-align: left;
}


/**
 * unsubsctibe
 */
#unsubscribed_icon{
	font-size: 60px;
}

/**
 * multiply BTC
 */
.multiply_iframe{
	width: 100%;
	height: 720px;
	border: none;
}
.multiply_container{
	margin: 0px -1px;
}

.multiply_container .row .col{
	padding: 0;
}