#products-tooltipDIV.RadMenu_TopNav .rmGroup .rmItem a.rmLink,
DIV.RadMenu_TopNav .rmItem a.rmLink {
    padding-left: 7px;
}
DIV.RadMenu_TopNav .rmRootGroup.rmHorizontal .rmItem .rmLink span.rmText {
    padding-right: 7px;
}
.RadMenu_TopNav ul.rmRootGroup li a span {
    font-size: 10px;
}
.RadMenu_TopNav ul.rmRootGroup ul li a span {
    font-size: 11px;
}
.RadPicker .rcCalPopup {
    position: relative;
}
.RadGrid_Bizworks th.rgHeader a:link, .RadGrid_Bizworks th.rgHeader a {
    color: #08f;
    text-decoration: none;
}
.footer_visible {
    display: none;
}
input[id$="txtPickupName"], input[id$="txtPickupPhone"] {
    float: right;
}

div[id$='divDeliveryMethodPickup'] td > span{
	width: 120px;
}

#topNav > li > span{
    max-width: 80px;
    font-size: 13px;
}

/*MLM*/
div.gdo-edit-header p[id$="txtMessage"] {
  margin: 0 !important;
  text-align: justify;
}

#rightTopNav #search_txt {
    display: none;
}

table[id$="SavedPUFromCourierLocation"] .headerstyle a {
    color: #525252;
}

/*[id$="rfvSearchTerm"]{
    visibility: visible !important;
}*/

td[id$="colNewShippingAddress"] td:nth-child(2) {
  padding: 4px 10px 0;
}

/*Fix per defect 346299*/
/*
td[id$="colNewShippingAddress"] select[id$="dnlState"] {
padding:2px;
}
*/

.promoPopup li:first-child span {
    padding-left: 2px;
}

[id$="trEditablePickupName"] > td {
  padding-bottom: 2px;
}

/* Tell Your Story */
.confirm-tellyourstory {
	width: 180px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.confirm-tellyourstory .gdo-right-column-header {
	border-top: 8px solid #7AC142;
	float: none;
	padding: 0 5px;
}

.confirm-tellyourstory .gdo-horiz-div {
    margin: 0 5px;
    width: auto;
}
.confirm-tellyourstory .body {
    padding: 0 20px;
}


.confirm-tellyourstory .body li {
    list-style: inherit;
}


.confirm-tellyourstory .story-footer {
	padding: 0 3px;
}
.confirm-tellyourstory .link {
    background: url("/SharedUI/Images/icons/rightArrow.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
    margin-top: 20px;
    width: 130 px;
}

#dvCustomerPricingInfo .totals-discount-tax .totals-right > span {
  position: relative;
  top: 8px;
}

#dvCustomerPricingInfo .invoice-totals .totals-right > span {
  position: inherit;
  top: 0;
}

div[id$='divCenter'] input[id$='FakeTarget'], div[id$='divCenter'] input[id$='FakeButtonTarget1'] {
   display: none;
}


/* -------------------- DWS --------------------------------------------- */

/*-----------------------Websitesintro---------------------------*/
#dsAdminContent.tutorial-wrap{ margin-bottom: 20px;}
.tutorial-wrap ul{ list-style-type: none; }

a[id$="_ButtonTurnOff"]{ display: block;}
a[id$="_PricingSettingsButton"]{ margin-left:14%;}

.choose-photo-programs{
  float: right;
  margin-top: -63px;
}
div[id$="_MercadoPagoManualShipping_SelfFulfillMPPanel"] .rgRow{
    height:267px;
}
#LeftNavMenuCell + #ContentCell #optionsContainer .rgRow { height: 675px;}

.tutorial-wrap .orange li:last-child { display: none; }

.row-default.rgRow.primarySite .icon-leading-ln-1, 
.row-default.rgAltRow.altRow .icon-leading-ln-1{margin-left: 315px\9;}

a[id$="_btnSearch"]{
  margin-top: 40px;
  margin-top: 20px\9;
}
span[id$="_lblSearchResultsDisplay"]
{
  display: inline-block;
  margin-right: 141px;
  margin-top: 20px;
}
html.myhl3 .linehr {display:inline-block;}

.tutorial-wrap div + br + div {display:none;}

#products-tooltip {display: inline-block;}

/* -------------------- 
    CSS to allow Logout page to always show content
    Gonna be removed
 --------------------------------------------- */

.no-user footer, .no-user + .serverSig {
  padding: 0px;
  position: relative;
}

@media (min-width: 620px) and (min-height: 768px) {
  .no-user footer, .no-user + .serverSig {
    bottom: 0px;
    width: 100%;
    position: absolute;
  }
}

.search_cart > .myclear::after, .search_cart > .myclear::before {
    content: inherit;
}
/*follow up*/
a[id$="_fupbtnSearch"] {
    margin-top: 26px !important;
}
/*abandoned carts*/
.ModifyOrder.myclear .right [id$="_btnSearch"]{
	left: -18px;
    top: 10px;
}

:not(.grandson).toggle-child > li {
  font-size: 13px;
  padding: 3px 0;
}
:not(.grandson).toggle-child > li a {
  padding: 0 25px 0 12px;
  font-size: 13px;
  color: #666;
  line-height: 1.3em;
}

/*----------------email campaigns ----------*/
.orderContainer { margin: -34px auto;}

.bottomContainer .description {top: -42px; }

.bottomInfo { margin: -6px auto;}

.orderContainer .pricingInfo { 
  margin-top: 25px;
  margin-bottom: 59px;
}

.bottomContainer { height: 876px;}

.bottomlogo { height: 37px;}

.title+p { margin-top: 5px; }

#templateContainer .button { margin: 23px auto;}