@charset "utf-8";
@import url('/global_files/fonts/fonts.1.1.3.css');
*,.cb.normal,.prox-b .prox-r{font-family:'proxima_nova_rgregular', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.cb,b,strong,h1,h2,h3{font-family:'proxima_nova_ltsemibold', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
* {margin:0;padding:0;color:#333;}
body{background-color:#ebebeb;font-size:14px;}
body * {font-size:100%;}
html{font-size:100%;}
#container{padding:0;}
.container-fluid{width:100%;}
.container-fixed{width:1170px;margin:0 auto;padding:0;}
.blk-group,.blk,.blk-group:after,.blk:after,.blk-group:before,.blk:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.blk-group{*zoom:1;}
.blk-group:before,.blk-group:after{display:table;content:"";line-height:0;}
.blk-group:after{clear:both;}
.blk-group{list-style-type:none;padding:0;margin:0;}
.blk-group>.blk-group{clear:none;float:left;margin:0 !important;}
.blk{float:left;width:100%;}
.blk-r{float:right;width:100%;}
.blk0 {width:100%;}
.blk0 .col1{width:1170px;width:100%;}
.blk0 .col2{width:579px;width:49.48%;}
.blk0 .col3{width:382px;width:32.65%;}
.blk0 .col3.col_2_3{width:776px;width:66.32%;}
.blk0 .col4{width:283.5px;width:24.23%;}
.blk0 .col4.col_3_4{width:874px;width:74.74%;}
.blk0 .col5{width:224px;width:19.18%;}
.blk0 .col5.col_2_5{width:461px;width:39.3%;}
.blk0 .col5.col_3_5{width:697px;width:59.42%;}
.blk0 .col5.col_4_5{width:933px;width:79.62%;}
.blk0 .col5-full{width:234px;width:20%;}
.blk0 .col6{width:185px;width:15.81%;}
.blk0 .col6.col_5_6{width:973px;width:83.16%;}
.blk0.pad-20 {width:1130px;}
.blk0.pad-20 .col1{width:1130px;width:100%;}
.blk0.pad-20 .col2{width:559px;}
.blk0.pad-20 .col3{width:368px;}
.blk0.pad-20 .col3.col_2_3{width:748px;}
.blk0.pad-20 .col4{width:273px;}
.blk0.pad-20 .col4.col_3_4{width:843px;}
.blk0.pad-20 .col5{width:216px;}
.blk0.pad-20 .col5.col_2_5{width:444px;}
.blk0.pad-20 .col5.col_3_5{width:672px;}
.blk0.pad-20 .col5.col_4_5{width:900px;}
.blk0.pad-20 .col6{width:178px;}
.blk0.pad-20 .col6.col_5_6{width:938px;}
.col2,.col3,.col3_2_3,.col4,.col5,.col6,
.col3.col_2_3:nth-child(3n+1){margin-right:12px;margin-right:1.02%;}
.blk1{width:826px;margin-right:10px;}
.blk1 .col1{width:616px;}
.blk1 .col2{width:406px;width:49.15%;}
.blk1 .col3{width:266px;}
.blk1 .col4{width:196px;}
.blk1 .col5{width:158px;}
.blk1 .col6{width:130px;}
.blk1.pad-20 .col2{width:386px;}
.blk2{width:334px;}
.blk2 .col2{width:50%;}
.blk1 .col2, .blk1 .col3, .blk1 .col4{margin-right:14px;}
.inl{display:inline;}
.iblk,.i-icn{display:inline-block;}
.block,.bblk,.icn{display:block;}
.col-full{width:100%;}
.col-half{width:50%;}
.col-third{width:33%;width:33.33%;}
.col-fourth{width:25%;}
.col-last{margin-right:0 !important;}
.pad-2{padding:2px;}
.pad-5{padding:5px;}
.pad-10{padding:10px;}
.pad-12{padding:12px;}
.pad-15{padding:15px;}
.pad-20{padding:20px;}
.pad-25{padding:25px;}
.pad-30{padding:30px;}
.pad-40{padding:40px;}
.pad-50{padding:50px;}
.pad-0-b{padding-bottom:0;}
.pad-5-b{padding-bottom:5px;}
.pad-8-b{padding-bottom:8px;}
.pad-10-b{padding-bottom:10px;}
.pad-12-b{padding-bottom:12px;}
.pad-13-b{padding-bottom:13px;}
.pad-15-b{padding-bottom:15px;}
.pad-17-b{padding-bottom:17px;}
.pad-18-b{padding-bottom:18px;}
.pad-20-b{padding-bottom:20px;}
.pad-25-b{padding-bottom:25px;}
.pad-30-b{padding-bottom:30px;}
.pad-35-b{padding-bottom:35px;}
.pad-45-b{padding-bottom:45px;}
.pad-50-b{padding-bottom:50px;}
.pad-60-b{padding-bottom:60px;}
.pad-70-b{padding-bottom:70px;}
.pad-80-b{padding-bottom:80px;}
.pad-140-b{padding-bottom:140px;}
.pad-0-l{padding-left:0;}
.pad-2-l{padding-left:2px;}
.pad-4-l{padding-left:4px;}
.pad-5-l{padding-left:5px;}
.pad-10-l{padding-left:10px;}
.pad-15-l{padding-left:15px;}
.pad-20-l{padding-left:20px;}
.pad-25-l{padding-left:25px;}
.pad-30-l{padding-left:30px;}
.pad-40-l{padding-left:40px;}
.pad-50-l{padding-left:50px;}
.pad-55-l{padding-left:55px;}
.pad-60-l{padding-left:60px;}
.pad-65-l{padding-left:65px;}
.pad-0-lr{padding-right:0;padding-left:0;}
.pad-5-lr{padding-right:5px;padding-left:5px;}
.pad-10-lr{padding-right:10px;padding-left:10px;}
.pad-15-lr{padding-right:15px;padding-left:15px;}
.pad-17-lr{padding-left:17px;padding-right:17px;}
.pad-18-lr{padding-left:18px;padding-right:18px;}
.pad-20-lr{padding-right:20px;padding-left:20px;}
.pad-30-lr{padding-right:30px;padding-left:30px;}
.pad-40-lr{padding-right:40px;padding-left:40px;}
.pad-50-lr{padding-right:50px;padding-left:50px;}
.pad-60-lr{padding-left:60px;padding-right:60px;}
.pad-0-r{padding-right:0 !important;}
.pad-2-r{padding-right:2px;}
.pad-3-r{padding-right:3px;}
.pad-5-r{padding-right:5px;}
.pad-10-r{padding-right:10px;}
.pad-15-r{padding-right:15px;}
.pad-20-r{padding-right:20px;}
.pad-30-r{padding-right:30px;}
.pad-40-r{padding-right:40px;}
.pad-50-r{padding-right:50px;}
.pad-0-t{padding-top:0;}
.pad-1-t{padding-top:1px;}
.pad-2-t{padding-top:2px;}
.pad-4-t{padding-top:4px;}
.pad-5-t{padding-top:5px;}
.pad-7-t{padding-top:7px;}
.pad-8-t{padding-top:8px;}
.pad-9-t{padding-top:9px;}
.pad-10-t{padding-top:10px;}
.pad-12-t{padding-top:12px;}
.pad-13-t{padding-top:13px;}
.pad-15-t{padding-top:15px;}
.pad-18-t{padding-top:18px;}
.pad-20-t{padding-top:20px;}
.pad-22-t{padding-top:22px;}
.pad-23-t{padding-top:23px;}
.pad-25-t{padding-top:25px;}
.pad-30-t{padding-top:30px;}
.pad-35-t{padding-top:35px;}
.pad-36-t{padding-top:36px;}
.pad-40-t{padding-top:40px;}
.pad-45-t{padding-top:45px;}
.pad-50-t{padding-top:50px;}
.pad-60-t{padding-top:60px;}
.pad-65-t{padding-top:65px;}
.pad-0-tb{padding-top:0;padding-bottom:0;}
.pad-2-tb{padding-top:2px;padding-bottom:2px;}
.pad-5-tb{padding-top:5px;padding-bottom:5px;}
.pad-10-tb{padding-top:10px;padding-bottom:10px;}
.pad-12-tb{padding-top:12px;padding-bottom:12px;}
.pad-13-tb{padding-top:13px;padding-bottom:13px;}
.pad-15-tb{padding-top:15px;padding-bottom:15px;}
.pad-20-tb{padding-top:20px;padding-bottom:20px;}
.pad-22-tb{padding-top:22px;padding-bottom:22px;}
.pad-25-tb{padding-top:25px;padding-bottom:25px;}
.pad-30-tb{padding-top:30px;padding-bottom:30px;}
.mar-0{margin:0px;}
.mar-10{margin:10px;}
.mar-15{margin:15px;}
.mar-20{margin:20px;}
.mar-25{margin:25px;}
.mar-30{margin:30px;}
.mar-35{margin:35px;}
.mar-40{margin:40px;}
.mar-1-t-neg{margin-top:-1px;}
.mar-2-t-neg{margin-top:-2px;}
.mar-5-t-neg{margin-top:-5px;}
.mar-10-t-neg{margin-top:-10px;}
.mar-0-t{margin-top:0px;}
.mar-2-t{margin-top:2px;}
.mar-3-t{margin-top:3px;}
.mar-5-t{margin-top:5px;}
.mar-7-t{margin-top:7px;}
.mar-10-t{margin-top:10px;}
.mar-12-t{margin-top:12px;}
.mar-15-t{margin-top:15px;}
.mar-20-t{margin-top:20px;}
.mar-25-t{margin-top:25px;}
.mar-30-t{margin-top:30px;}
.mar-35-t{margin-top:35px;}
.mar-40-t{margin-top:40px;}
.mar-45-t{margin-top:45px;}
.mar-50-t{margin-top:50px;}
.mar-60-t{margin-top:60px;}
.mar-65-t{margin-top:65px;}
.mar-85-t{margin-top:85px;}
.mar-125-t{margin-top:125px;}
.mar-5-b{margin-bottom:5px;}
.mar-8-b{margin-bottom:8px;}
.mar-10-b{margin-bottom:10px;}
.mar-15-b{margin-bottom:15px;}
.mar-20-b{margin-bottom:20px;}
.mar-25-b{margin-bottom:25px;}
.mar-30-b{margin-bottom:30px;}
.mar-40-b{margin-bottom:40px;}
.mar-45-b{margin-bottom:45px;}
.mar-50-b{margin-bottom:50px;}
.mar-60-b{margin-bottom:60px;}
.mar-0-r{margin-right:0;}
.mar-2-r{margin-right:2px;}
.mar-5-r{margin-right:5px;}
.mar-10-r{margin-right:10px;}
.mar-15-r{margin-right:15px;}
.mar-20-r{margin-right:20px;}
.mar-25-r{margin-right:25px;}
.mar-30-r{margin-right:30px;}
.mar-30-l-neg{margin-left:-30px;}
.mar-20-l-neg{margin-left:-20px;}
.mar-10-l-neg{margin-left:-10px;}
.mar-0-l{margin-left:0px;}
.mar-5-l{margin-left:5px;}
.mar-10-l{margin-left:10px;}
.mar-12-l{margin-left:12px;}
.mar-15-l{margin-left:15px;}
.mar-20-l{margin-left:20px;}
.mar-25-l{margin-left:25px;}
.mar-50-l{margin-left:50px;}
.mar-130-l{margin-left:130px;}
.mar-10-lr{margin-right:10px;margin-left:10px;}
.mar-20-lr{margin-right:20px;margin-left:20px;}
.mar-10-tb{margin-top:10px;margin-bottom:10px;}
.mar-20-tb{margin-top:20px;margin-bottom:20px;}
.mar-30-tb{margin-top:30px;margin-bottom:30px;}
.mar-40-tb{margin-top:40px;margin-bottom:40px;}
.mar-50-tb{margin-top:50px;margin-bottom:50px;}
.mar-center{margin:0 auto;}
.space-0,.ls-0{letter-spacing:0px;}
.space-1,.ls-1{letter-spacing:1px;}
.space-2,.ls-2{letter-spacing:2px;}
.bg-grn,.grn-bar{background-color:#23ae4a;}
.bg-blu{background-color:#017edb;}
.bg-blu2{background-color:#43aed2;}
.bg-gry{background-color:#ebebeb;}
.bg-gry-c{background-color:#ccc;}
.bg-gry2,.bg-gry-2{background-color:#dedede;}
.bg-gry-3{background-color:#333;}
.bg-gry-6{background-color:#666;}
.bg-gry-8,.bg-gry-dk-8{background:#888;}
.bg-gry-f6{background-color:#f6f6f6;}
.bg-grf{background-color:#363636;}
.bg-black{background-color:#000;}
.bg-org{background-color:#f30 !important;}
.blk-reg,.bg-reg,.bg-w,.white-bg{background-color:#fff;}
.bg-blu-disable{background-color:#9ebce2;}
.bg-blu-bonus{background-color:#43aed1;}
.bg-cc-blue{background-color:#3d78c3;}
.bg-yel{background-color:#fc0;}
h1,h2,.f-grn{color:#23ae4a;}
h3,.f-gry-dk{color:#333;}
h1.cn{font-size:2em;}
h2.scn{font-size:20px;}
h2{font-size:24px;}
h3{font-size:20px;}
ul{list-style-type:none;}
ul.bull{list-style-type:circle;list-style-position:inside;}
img{border:none;}
a{color:#23ae4a;text-decoration:none;}
a:hover{text-decoration:underline;}
a.nohover:hover,.nohover a:hover{text-decoration:none;}
li:hover > a.grn-hover,.grn-hover:hover span{color:#23ae4a;}
/* reusable >>> */
.bld{font-weight:bold;}
.cb,span.cb,.f-orange{color:#f30;}
.cb-was{color:#acacac;}
.f-orange-2{color:#f60;}
.f-orange-cc{color:#e18922;}
.flt{float:left;}
.frt{float:right;}
.pos-fix,.fixed{position:fixed;}
.pos-rel,.rel,.relative{position:relative;}
.pos-abs,.absolute{position:absolute;}
.pos-abs-r{position:absolute;right:0;}
.pos-abs-l{position:absolute;left:0;}
.pos-stat{position:static;}
.cent,.center,.f-cent{text-align:center;}
.v-center{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.v-top,.valign-top{vertical-align:top;}
.v-middle,.valign-mid{vertical-align:middle;}
.v-mid-flex{display:flex;display:-webkit-flex;justify-content:center;flex-direction:column;}
.top-0{position:fixed !important;top:0;}
.f-left{text-align:left;}
.f-right{text-align:right;}
.f-norm,.f-norm a{color:#333 !important;}
.f-gry{color:#333;}
.f-gry-c{color:#ccc;}
.f-gry-dk-6{color:#666;}
.f-gry-dk-8{color:#888;}
.f-gry-dk2,.f-gry-dk-9{color:#999;}
.f-gry-ec,.f-gry-ec a{color:#ececec;}
.f-gry-lte{color:#ebebeb;}
.f-gry-lte2{color:#d7d7d7;}
.f-white,.f-white a,.white-font{color:#fff;}
.f-white-all *{color:#fff !important;}
.f-blu,.f-cc-blue,a.f-cc-blue,.cb-blue,.cb.bluecb,span.cb.bluecb{color:#017edb;}
.f-blu-bonus,a.f-blu-bonus,.bonus-blu{color:#43aed1;}
.f-cc-blu{color:#3d78c3;}
.f-grn-hover .f-gry-dk:hover,.f-grn-hover .f-gry-dk:hover .cb{color:#23ae4a;}
.f-red,.error-msg,.red{color:#f00;}
.account-menu .dropdown .f-norm{color:#333}
.account-menu .dropdown a:hover{color:#23ae4a;}
.f-7{font-size:7px !important;}
.f-9{font-size:9px !important;}
.f-10{font-size:10px !important;}
.f-11{font-size:11px !important;}
.f-12{font-size:12px !important;}
.f-13{font-size:13px}
.f-reg,.f-14{font-size:14px !important;}
.f-15{font-size:15px;}
.f-16{font-size:16px;}
.f-17{font-size:17px;}
.f-18{font-size:18px;}
.f-19{font-size:19px;}
.f-20{font-size:20px;}
.f-21{font-size:21px;}
.f-22{font-size:22px;}
.f-23{font-size:23px;}
.f-24{font-size:24px;}
.f-25{font-size:25px;}
.f-26{font-size:26px;}
.f-27{font-size:27px;}
.f-28{font-size:28px;}
.f-29{font-size:29px;}
.f-30{font-size:30px;}
.f-31{font-size:31px;}
.f-32{font-size:32px;}
.f-33{font-size:33px;}
.f-34{font-size:34px;}
.f-36{font-size:36px;}
.f-38{font-size:38px;}
.f-40{font-size:40px;}
.f-42{font-size:42px;}
.f-48{font-size:48px;}
.f-50{font-size:50px;}
.f-52{font-size:52px;}
.f-53{font-size:53px;}
.f-55{font-size:55px;}
.f-56{font-size:56px;}
.f-60{font-size:60px;}
.f-66{font-size:66px;}
.f-70{font-size:70px;}
.f-72{font-size:72px;}
.f-76{font-size:76px;}
.f-80{font-size:80px;}
.lh-1{line-height:1;}
.lh-12{line-height:12px;}
.lh-13{line-height:13px;}
.lh-14{line-height:14px;}
.lh-15{line-height:15px;}
.lh-16{line-height:16px;}
.lh-17{line-height:17px;}
.lh-18{line-height:18px;}
.lh-20{line-height:20px;}
.lh-21{line-height:21px;}
.lh-22{line-height:22px;}
.lh-23{line-height:23px;}
.lh-24{line-height:24px;}
.lh-25{line-height:25px;}
.lh-26{line-height:26px;}
.lh-27{line-height:27px;}
.lh-28{line-height:28px;}
.lh-29{line-height:29px;}
.lh-30{line-height:30px;}
.lh-32{line-height:32px !important;}
.lh-33{line-height:33px;}
.lh-34{line-height:36px;}
.lh-36{line-height:36px;}
.lh-38{line-height:38px;}
.lh-40{line-height:40px;}
.lh-41{line-height:41px;}
.lh-42{line-height:42px;}
.lh-50{line-height:50px;}
.lh-54{line-height:54px;}
.lh-55{line-height:55px;}
.lh-56{line-height:56px;}
.lh-60{line-height:60px;}
.lh-65{line-height:65px;}
.lh-70{line-height:70px;}
.ht-0,.zero-height{height:0;padding:0;display:block;}
.ht-2{height:2px;}
.ht-3{height:3px;}
.ht-5{height:5px;}
.ht-12{height:12px;}
.ht-18{height:18px;}
.ht-20{height:20px;}
.ht-22{height:22px;}
.ht-24{height:24px;}
.ht-28{height:28px;}
.ht-30{height:30px;}
.ht-32{height:32px;}
.ht-36{height:36px;}
.ht-38{height:38px;}
.ht-40{height:40px;}
.ht-44{height:44px;}
.ht-54{height:54px;}
.ht-60{height:60px;}
.ht-70{height:70px;}
.ht-100{height:100px;}
.ht-170{height:170px;}
.ht-200{height:200px;}
.ht-250{height:250px;}
.square-10{width:10px;height:10px;}
.square-20{width:20px;height:20px;}
.square-30{width:30px;height:30px;}
.square-40{width:40px;height:40px;}
.square-50{width:50px;height:50px;}
.square-60{width:60px;height:60px;}
.square-70{width:70px;height:70px;}
.square-80{width:80px;height:80px;}
.square-90{width:90px;height:90px;}
.square-100{width:100px;height:100px;}
.square-150{width:150px;height:150px;}
.square-200{width:200px;height:200px;}
.square-250{width:250px;height:250px;}
.square-300{width:300px;height:300px;}
.square-350{width:350px;height:350px;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.underline{text-decoration:underline;}
.strike{text-decoration:line-through;}
.overflow-0{overflow:hidden;}
.overflow-auto{overflow:auto;}
.op0{opacity:0.0;}
.op1{opacity:0.1;}
.op2{opacity:0.2;}
.op3{opacity:0.3;}
.op4{opacity:0.4;}
.op5{opacity:0.5;}
.op6{opacity:0.6;}
.op7{opacity:0.7;}
.op8{opacity:0.8;}
.op9{opacity:0.9;}
.mirror{-moz-transform:matrix(-1, 0, 0, 1, 0, 0);-webkit-transform:matrix(-1, 0, 0, 1, 0, 0);-o-transform:matrix(-1, 0, 0, 1, 0, 0);-ms-transform:matrix(-1, 0, 0, 1, 0, 0);filter:progid:DXImageTransform.Microsoft.BasicImage(mirror=1);}
.clr,.clear,.clear-both{clear:both;}
.clear-no{clear:none;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* + html .clearfix{display:inline-block;}
.no-f-boosting{max-height:999999px;}
.row{display:block;clear:both;}
.no-outline{outline:none;}
.no-wrap{white-space:nowrap;}
.norm{font-weight:normal;}
.round{border-radius:10px;}
.roundtop{border-radius:10px 10px 0 0;}
.roundtop-4{border-radius:4px 4px 0 0;}
.roundtop-l{border-radius:10px 0 0 0;}
.roundtop-r{border-radius:0 10px 0 0;}
.roundbottom, .roundfoot{border-radius:0 0 10px 10px;}
.roundright{border-radius:0 10px 10px 0;}
.roundleft{border-radius:10px 0 0 10px;}
.round-big,.round-20{border-radius:20px;}
.round-30{border-radius:30px;}
.round-40{border-radius:40px;}
.round3{border-radius:3px;}
.round3-l{border-radius:3px 0 0 3px;}
.round3-r,.round3-right{border-radius:0 3px 3px 0;}
.round5{border-radius:5px;}
.round5-r{border-radius:0 5px 5px 0;}
.round5-l{border-radius:5px 0 0 5px;}
.article_hdr{background-color:#e0eed2;border:1px solid #d3e8c1;height:28px;line-height:28px;}
.article_border{border:1px solid #d8ebc8;}
.article_box{border:1px solid #d8ebc8;border-top:none;}
.roundbottomright{border-radius:0 0 10px 0;}
*.ui2012,*.ui2014,*.ui2015{background:url(/global_files/layout_v1/images/sprites/ui2015.1.0.6.png) no-repeat 0 0;/*sprite*/}
.shop a{display:inline-block;width:75px;height:19px;background-position:0px -383px;}
.merch-logos{margin:25px 0;text-align:center;}

.arrow,.arrow-sm,.arrow,.arrow-grn,.arrow-grn-sm,.arrow-grn-15,.arrow-big,.arrow-lg,.triangle,.arrow-cb,.arrow-cb-sm,.arrow-cb-lg,.arrow-cb-6,.arrow-black,.arrow-black-7,.arrow-sm-black{display:inline-block;width:0;height:0;}
.arrow-sm.arr-up{border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid #fff;}
.arrow-sm.arr-down{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #fff;}
.arrow-sm.arr-right{border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #fff;}
.arrow-sm.arr-right.green{border-left:5px solid #23ae4a;}
.arrow-sm.arr-left{border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:4px solid #fff;}
.arrow.arr-up.triangle.tri-up{border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #fff;}
.arrow.arr-down,.triangle.tri-down{border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #fff;}
.arrow.arr-right,.triangle.tri-right{border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #fff;}
.arrow.arr-left,.triangle.tri-left{border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #fff;}
.arrow-cb.arr-right{border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #f30;}
.arrow-cb-sm.arr-right{border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #f30;}
.arrow-cb-lg.arr-right{border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid #f30;}
.arrow-cb-6.arr-right{border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:6px solid #f30;}
.arrow-black.arr-down{border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000;}
.arrow-black.arr-right{border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #000;}
.arrow-black.arr-up{border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #000;}
.arrow-sm-black.arr-up{border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid #000;}
.arrow-sm-black.arr-down{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;}
.arrow-sm-black.arr-right{border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #000;}
.arrow-black-7.arr-down{border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #000;}
.arrow-lg.arr-down{border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #fff;}
.arrow-grn.arr-right{border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #23ae4a;}
.arrow-grn.arr-down{border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #23ae4a;}
.arrow-grn-15.arr-down{border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid #23ae4a;}
.arrow-grn-sm.arr-right{border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #23ae4a;}
.arrow-box{border:1px solid #d7d7d7;}
.arrow-box:after,.arrow-box:before{top:100%;/*left:50%*/;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.arrow-box:after{border-color:rgba(255, 255, 255, 0);border-top-color:#fff;border-width:8px;margin-left:-12px;}
.arrow-box:before{border-color:rgba(215, 215, 215, 0);border-top-color:#d7d7d7;border-width:9px;margin-left:-13px;}
/* legacy >>> */
.button,.button-sm,.button-lg,.button-xlg,.button-xxlg{border:none;cursor:pointer;transition:all 0.1s;text-align:center;display:inline-block;color:#fff;border-radius:3px;}
.button:hover,.button-sm:hover,.button-lg:hover,.button-xlg:hover,.button-xxlg:hover{text-decoration:none;}
.button{font-size:16px;line-height:16px;padding:7px 12px;}
.button.f-18{font-size:18px !important;}
.button.f-20{font-size:20px !important;}
.button-sm{font-size:12px;line-height:12px;padding:2px 4px;}
.button-lg{font-size:20px;line-height:20px;padding:11px 12px;}
.button-xlg{font-size:24px;line-height:24px;padding:13px 16px;}
.button-xxlg{font-size:28px;line-height:28px;padding:13px 16px;}
.button.nopad,.button-lg.nopad,.button-xlg.nopad,.button-xxlg.nopad{padding:0;}
.button.ext,.button-lg.ext,.button-xlg.ext,.button-xxlg.ext{background-color:#f30;}
.button.int,.button-lg.int,.button-xlg.int,.button-xxlg.int{background-color:#23ae4a;}
.button.int.hov:hover,.button-lg.int.hov:hover,.button-xlg.int.hov:hover,.button-xxlg.int.hov:hover{background-color:#3abf56;}
.button.dis,.button-lg.dis,.button-xlg.dis,.button-xxlg.dis{background-color:#ccc;color:#333;}
.button.dis.hov:hover,.button-lg.dis.hov:hover,.button-xlg.dis.hov:hover,.button-xxlg.dis.hov:hover{background-color:#ddd;}
.button.blu,.button-lg.blu,.button-xlg.blu,.button-xxlg.blu{background-color:#017edb;}
.button.no-bg,.button-lg.no-bg,.button-xlg.no-bg,.button-xxlg.no-bg{color:#f30;}
.button.gry3,.button-lg.gry3,.button-xlg.gry3,.button-xxlg.gry3{background-color:#333;}
.button-sm.social,.button-lg.social,.button-xlg.social,.button-xxlg.social{position:relative;}
.button-sm.social span,.button-lg.social span,.button-xlg.social span,.button-xxlg.social span{position:relative;position:absolute;left:10px;}
.button-sm.social span{left:6px}
.button-sm.social,.button-sm.social span{height:15px;line-height:15px;}
.button-lg.social,.button-lg.social span{height:33px;line-height:33px;}
.button-xlg.social,.button-xlg.social span{height:35px;line-height:35px;}
.button-xxlg.social,.button-xxlg.social span{height:40px;line-height:40px;}
.button-xxlg.social{font-size:16px;}
.button-sm.social.fb{padding:0 6px 0 20px;}
.button-sm.social.goog{padding:0 6px 0 25px;}
.button-lg.social.fb{padding:0 30px;}
.button-lg.social.goog{padding:0 40px;}
.button-xlg.social.fb{padding:0 32px;}
.button-xlg.social.goog{padding:0 48px;}
.button-xxlg.social.fb{padding:0 32px;}
.button-xxlg.social.goog{padding:0 48px;}
.button.round-r,.button-lg.round-r,.button-xlg.round-r{border-radius:0 3px 3px 0;}
.button.round-l,.button-lg.round-l,.button-xlg.round-l{border-radius:3px 0 0 3px;}
/* legacy <<< */
.button{border:none;cursor:pointer;transition:all 0.1s;text-align:center;display:inline-block;color:#fff;border-radius:3px;}
.button:hover{text-decoration:none;}
.button.sm{height:15px;line-height:17px;padding:0 4px;}
.button.reg{font-size:16px;height:30px;line-height:30px;padding:0 12px;}
.button.lg{font-size:18px;height:46px;line-height:46px;padding:0;min-width:175px;}
.button.xlg{font-size:24px;height:50px;line-height:50px;padding:0;min-width:175px;}
.button.xxlg{font-size:28px;height:54px;line-height:54px;padding:0;min-width:175px;}
.button.nopad{padding:0;}
.button.ext{background-color:#f30;}
.button.int{background-color:#23ae4a;}
.button.int.hov:hover{background-color:#3abf56;}
.button.dis{background-color:#ccc;color:#333;}
.button.dis.hov:hover{background-color:#ddd;}
.button.blu,.button.cc{background-color:#017edb;}
.button.bonus{background-color:#43aed1;}
.button.no-bg{color:#f30;}
.button.gry3,.button.luxe{background-color:#333;}
.social.fb{background-color:#3b5998;}
.social.goog{background-color:#dc4e41;}
.social.twitter{background-color:#00aced;}
.button.social{position:relative;}
.button.social span{position:absolute;left:10px;}
.button.sm.social span{left:6px}
.button.sm.social span{height:15px;line-height:15px;}
.button.reg.social span{height:30px;line-height:30px;}
.button.lg.social span{height:46px;line-height:46px;}
.button.xlg.social span{height:50px;line-height:50px;}
.button.xxlg.social span{height:40px;line-height:40px;}
.button.xxlg.social{font-size:16px;}
.button.sm.social.fb{padding:0 6px 0 20px;}
.button.sm.social.goog{padding:0 6px 0 25px;}
.button.reg.social.fb,.button.lg.social.fb{padding:0 30px;}
.button.reg.social.goog,.button.lg.social.goog{padding:0 40px;}
.button.xlg.social.fb{padding:0 32px;}
.button.xlg.social.goog{padding:0 48px;}
.button.xxlg.social.fb{padding:0 32px;}
.button.xxlg.social.goog{padding:0 48px;}
.cursor,.pointer{cursor:pointer;}
.cursor-def{cursor:default;}
.hide{display:none;}
.border{border:1px solid #ccc;}
.border-t{border-top:1px solid #ccc;}
.border-t-0{border-top:none !important;}
.border-tr{border-top:1px solid #ccc;border-right:1px solid #ccc;}
.border-b{border-bottom:1px solid #ccc;}
.border-b-0{border-bottom:none;}
.border-br{border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.border-l{border-left:1px solid #ccc;}
.border-l-0{border-left:none;}
.border-lr{border-left:1px solid #ccc;border-right:1px solid #ccc;}
.border-r{border-right:1px solid #ccc;}
.border-r-0,.bor-0-r{border-right:none;}
.border-0,.bor-0{border:none;}
.border-lte{border:1px solid #ebebeb;}
.border-lte-b{border-bottom:1px solid #ebebeb;}
.border-lte2{border:1px solid #d7d7d7;}
.border-lte3{border:1px solid #d7d7d7;}
.border-gry-3{border:1px solid #333;}
.border-lte3-t-2{border-top:2px solid #333;}
.border-grn{border:1px solid #23ae4a;}
.border-grn-t{border-top:1px solid #23ae4a;}
.border-grn-b{border-bottom:1px solid #23ae4a;}
.border-grn-b-4{border-bottom:4px solid #23ae4a;}
.border-grn-tb{border-top:1px solid #23ae4a;border-bottom:1px solid #23ae4a;}
.border-grn-t-2{border-top:2px solid #23ae4a;}
.border-org{border:1px solid #f30;}
.border-white{border:1px solid #fff;}
.border-black{border:1px solid #000;}
.border-t-black{border-top:1px solid #000;}
.border-b-black{border-bottom:1px solid #000;}
.border-cc-blue{border:1px solid #017edb;}
.border-bonus-blu{border:1px solid #43aed1;}
.bg-hover:hover{-webkit-box-shadow: 0px 8px 14px -6px rgba(153,153,153,0.65);-moz-box-shadow: 0px 8px 14px -6px rgba(153,153,153,0.65);box-shadow: 0px 8px 14px -6px rgba(153,153,153,0.65);}
.tab-nav li{border-right:1px solid #23ae4a;}
.tab-nav li:last-child{border-right:0;}
.tab-nav li.current *{color:#000;font-family:'proxima_nova_ltsemibold', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.tab-nav li:hover *{color:#999;}
.tab-nav li{padding:0 10px;}
.tab-nav li:first-child{padding-left:0;}
.tab-nav li:last-child{padding-right:0;}
.tab-nav li.title{border-right:0;padding-right:0;}
.tab-nav-target{}
.tabnav li.current *{color:#333;}
.tabnav li a{border-top:2px solid #f8f8f8;border-right:1px solid #fff;background-color:#f8f8f8;}
.tabnav li.current a{border-top:2px solid #23ae4a;background-color:#fff;}
.tabnav li:hover *{color:#333;}
.safari-z-index-fix,.overlay,#overlay,#join-signup,#signupOverlay{-webkit-transform:translate3d(0,0,0);}
.loader,.loader-fixed{background:url("/global_files/layout_v1/images/icons/loader.1.0.gif") no-repeat 0 0;height:64px;width:64px;}
/* Sticky Right Module */
.side-scroll-top{width:334px;height:0;}
.side-scroll-target{width:334px;-webkit-overflow-scrolling: none;}
.side-scroll-target .arrow-grn{margin-top:7px;}
.side-scroll-target .see-all{margin-top:2px;}
.side-dd li,.side-dd li a{width:110px;height:70px;}
.side-dd li a img{padding-top:25px;image-rendering:auto;}
/* reusable <<< */
/* >>> header >>> */
.pre-header .h-browser-type .h-icon{margin-top:10px;}
.pre-header .h-browser-type .fa-chevron-circle-right{margin-top:13px;}
.header-wrapper{height:105px;}
.h-mainheader{height:105px;min-width:1170px;top:0;z-index:100;transition:height .5s;font-size:14px;}
.h-mainheader *{font-size:100%;}
.h-mainheader .f-15{font-size:15px;}
.h-search{height:60px;z-index:200;}
.h-search .logo{width:100px;height:40px;background-position:0 -9px;}
.h-search .logo a{width:100px;height:40px;}
/* suggest >> */
.h-search-form{width:527px;height:40px;position:relative;margin-left:222px}
.h-search-form form{width:527px;background:transparent;margin:0;padding:0;height:40px;}
.h-search-form input{border:none;}
.h-search-form input.text{font-size:15px;position:absolute;width:457px !important;height:38px !important;line-height:38px;padding-left:12px;margin:0 2px 2px 2px !important;display:block;border:1px solid #fff;z-index:999 !important;outline:none;color:#333;}
.h-search-form button.button{cursor:pointer;height:40px !important;float:right;width:54px;background:#4ec569;}
.ac_results{padding:0px;margin:0 0 0 2px;overflow:hidden;border:1px solid #fff;border-top:none;background-color:#fff;position:absolute;box-shadow:0 7px 7px rgba(0,0,0,0.2);}
.ac_results {z-index:9998}
.ac_results ul{width:469px;font-size:14px;padding:10px 0;}
.ac_results li{margin:0px;padding:5px 12px;line-height:15px;cursor:pointer;display:block;overflow:hidden;clear:both;font-size:14px;}
.ac_results li:hover,.ac_results li.selected{background:#eaeaea;}
.ac_results li span.store-name{color:#000;float:left;width:340px;display:block;}
.ac_results li span.cashback{color:#f30;float:right;font-weight:normal;width:100px;text-align:right;}
.ac_results .see-all{color:#23ae4a;font-weight:normal;font-size:14px;}
.ac_results .see-all a:hover{text-decoration:none;}
.ac_loading, .loading #store_name{background:#fff url(/global_files/layout_v1/images/icons/indicator.gif) right center no-repeat;}
#store_name::-ms-clear{display:none;}
#store_name{width:526px;height:31px;margin:2px;z-index:9999;}
/* user drop-down >> */
.h-search .user{right:0;top:0;position:relative;}
.h-search .user .account-menu{height:50px;}
.h-search .user .account-menu a,.h-search .user .account-menu a span{color:#23ae4a;}
.h-search .user .account-menu a.member-name{overflow:hidden;height:45px;}
.h-search .user .account-menu a.member-name .user-name{max-width:205px;overflow:hidden;text-overflow:ellipsis;}
.h-search .user .account-menu a.member-name > span, .h-search .user .account-menu a.member-name > span span{color:white;}
.h-search span.ellips{text-overflow:ellipsis;width:auto;}
.h-search .user li:hover > ul{display:block;z-index:99999;width:200px;padding:10px 20px 10px 30px;}
.h-search .user .dropdown:before{content:"";position:absolute;right:24px;top:39px;border-style:solid;border-width:11px;border-color:transparent transparent #ccc transparent;display:block;}
.h-search .user .dropdown:after{content:"";position:absolute;right:25px;top:41px;border-style:solid;border-width:10px;border-color:transparent transparent #fff transparent;display:block;width:0;z-index:0;}
.h-search .user .f-norm:hover,.h-search .user .cash-pending:hover *{color:#23ae4a !important;font-family:'proxima_nova_ltsemibold', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.h-search .user ul li{float:none;position:relative;padding:0;}
.h-search .user ul li.connect{margin-bottom:10px;padding-top:10px;padding-bottom:10px;}
.h-search .user .fconnect, .h-search .user .gconnect{display:inline-block;height:16px;line-height:16px;}
.h-search .user.logged-out{width:275px;max-width:275px;}
.h-search .user.logged-out a.button{height:40px;padding:0;line-height:40px;width:106px;}
.h-search .user.logged-out .btn-sign-in a.button{width:auto;color:white}
/* main-nav >> */
.h-ribbon{height:44px;bottom:0;}
#tab1 #main-nav #nav-tab1 > .tab span,#tab2 #main-nav #nav-tab2 *,#tab3 #main-nav #nav-tab3 *,#tab4 #main-nav #nav-tab4 *,#tab5 #main-nav #nav-tab5 *,#tab6 #main-nav #nav-tab6 *,#tab7 #main-nav #nav-tab7 *,#tab8 #main-nav #nav-tab8 *, .button.f-grn{color:#23ae4a !important;}
#main-nav.navtop > li{display:inline-block;}
#main-nav.navtop > li > a{color:#333;font-size:15px;}
#main-nav .tab{height:44px;line-height:44px;display:block;}
#main-nav .tab:hover{color:#23ae4a !important;}
#main-nav{position:relative;text-align:justify;}
#main-nav li .categ-nav-sub{display:none;position:absolute;width:auto;margin:-9px 0 0 0;z-index:99;text-align:left;}
#main-nav li:hover .categ-nav-sub{display:block;z-index:99;}
#main-nav li .categ-nav-sub .hover-sep{display:none;z-index:99;}
#main-nav:before{content:"";display:block;width:100%;}
#main-nav:after{content:"";display:inline-block;width:100%;}
#main-nav .main-cat{min-height:411px;min-width:220px;position:absolute;top:9px;}
#main-nav .main-cat > li{width:160px;}
#main-nav .main-cat > li a{display:block;}
#main-nav .main-cat li > a .gt{display:none;}
#main-nav .main-cat li:hover > a .gt{display:block;}
#main-nav .main-cat .main-cat-sub{display:none;position:absolute;left:220px;top:0;min-width:620px;min-height:464px;}
#main-nav .main-cat .main-cat-sub.main-cat-sub-wid{width:810px;}
#main-nav .main-cat li:hover .main-cat-sub{display:block;}
#main-nav .main-cat .main-cat-sub ul{width:260px;}
#main-nav .main-cat .main-cat-sub ul.fs{width:160px;}
#main-nav .main-cat .main-cat-sub ul.fst{width:260px;}
#main-nav .main-cat .main-cat-sub .main-cat-sub-image{width:360px;}
#main-nav .main-cat .main-cat-sub .main-cat-sub-image a{padding:0;display:table;}
.h-mainheader .trans-bg{transition:background 1s}
.h-mainheader .trans-color-bg{transition:background 1s, color 1s;}
.h-mainheader .trans-color{transition:color 1s;}
.h-mainheader.fixed{top:0;border-bottom:none;}
.h-mainheader.fixed .h-ribbon{box-shadow:0 7px 7px rgba(0,0,0,0.2);border-bottom:1px solid #ccc;bottom:0;}
.h-mainheader.fixed .main-cat,.h-mainheader.fixed .account-menu .dropdown{box-shadow:0px 7px 7px rgba(0, 0, 0, 0.2);}
.h-mainheader.fixed .main-cat-sub{box-shadow:3px 7px 7px rgba(0, 0, 0, 0.2);}
.h-mainheader.fixed.min{height:60px;}
.h-mainheader.fixed.min .h-search{background-color:#fff;}
.h-mainheader.fixed.min .h-search .h-search-form input.text{border:1px solid #ccc;}
.h-mainheader.fixed.min .btn-join .button{background:#23ae4a;color:white !important;}
.h-mainheader.fixed.min .btn-sign-in .button,.h-mainheader.fixed.min a.member-name span{color:#23ae4a;}
.h-mainheader.fixed.min .ac_results{margin:0 0 0 2px;border:1px solid #ccc;border-top:1px solid #fff;}
@media(max-width:1180px) {
    .h-search .logo a{margin-left:5px;}
    .h-search .h-search-form{width:527px;height:40px;position:relative;margin-left:190px;}
    .h-search .user{margin-right:25px;}
}
/* <<< header <<< */
#pge{position:relative;}
/*Footer*/
#foot .container-fluid, #foot .container-fixed{display:block;}
#foot .container-fixed, #foot .container-fixed .blk0, #foot .container-fixed .blk0 .col1{width:1170px;}
#foot .container-fluid{min-width:1170px;}
#foot .help-flyout{bottom:10px;}
.social-list{margin:0 auto;height:40px;width:365px;}
.social-list a{width:40px;height:40px;padding-top:10px;}
#footer-join .button.lg{width:205px;}
#footer{padding:0;text-align:center;display:block;clear:both;background:#333;}
div.exceptions{margin:0 20px;}
div.exceptions p,div.exceptions ul{font-size:0.9em;margin:0;padding-bottom:8px;}
/*login form*/
#logincontent{width:780px;padding:26px 0 0 0;}
.logincol{padding:0 5px 0 20px;width:233px;border-right:2px solid #f0f0f0;height:412px;}
#logincontent .fb{border:none;}
#logincontent .fb h2{color:#3c5a9a;}
#logincontent form label{margin:10px 0 0 0;}
#logincontent input.text{width:210px;color:#333;padding:2px;}
#logincontent ul{list-style:none;}
#logincontent ul li{margin:10px 0 0 0;}
#logincontent ul#benefits{list-style-type:disc;margin:0 0 0 25px;}
#logincontent form ul li.err{margin:25px 0 0 0;}
#logincontent form ul li.fp{margin:15px 0 0 0;}
#logincontent form ul li span.error{color:#c30;}
#logincontent form ul li span#forgotpwd{padding:6px 10px 0 10px;}
#logincontent input.errorborder{border:solid 1px #c30;}
/* --- HP Carousel --- */
.hp-promo-carousel{height:280px;width:973px;overflow:hidden;transform:translate3d(0, 0, 0);}
/*transform:translateZ(0);*/
.hp-promo-carousel ul > li{position:absolute;top:0;left:0;}
.hp-promo-carousel > a{position:absolute;margin:auto;top:0;bottom:0;font-size:60px;height:60px;padding:35px 5px;color:#000;min-width:60px;-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;-moz-user-select:none;z-index:11;opacity:0.3;background:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
.hp-promo-carousel > a:hover{text-decoration:none;cursor:pointer;opacity:0.5;}
.hp-promo-carousel > a.next{right:-35px;}
.hp-promo-carousel > a.prev{left:-35px;text-align:right;}
.hp-promo-carousel .counter{position:absolute;top:65%;right:1px;z-index:12;font-size:12px;color:#999;width:32px;text-align:center;}
.hp-promo-carousel .counter *{color:#999;}
.hp-promo-carousel .transition{transition:all .5s;-ms-transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;}
.top-z-index{z-index:10;}
.next-right{transform:translateX(-973px);-webkit-transform:translateX(-973px);-ms-transform:translateX(-973px);}
.next-left{transform:translateX(973px);-webkit-transform:translateX(973px);-ms-transform:translateX(973px);}
/* --- End HP Carousel --- */
/* --- Primary Promotion --- */
.promo-header img,.promo-tile .img-wrap,.promo-tile .banner-wrap{display:block;overflow:hidden;}
.promo-header p{line-height:18px;margin:0 0 18px;}
.promo-header p:last-child{margin:0;}
.promo-list h2{color:#fff;}
.promo-tile{}
.promo-tile.col4{width:267px;width:23.71%;margin-right:20px;margin-right:1.71%;}
.promo-tile.col4:nth-child(4n+4){margin-right:0;}
.promo-tile .banner-wrap{height:46px;}
.promo-tile .banner{height:46px;width:229px;}
.promo-tile img.default-banner{width:auto;}
.promo-tile .logo{height:40px;margin:20px auto 0;}
.promo-tile .was_rebate{color:#888;font-size:12px;height:18px;line-height:18px;padding-top:10px;min-height:4px;}
.promo-tile .now_rebate{margin:3px 0;}
.promo-tile .now_rebate a{font-size:18px;line-height:22px;}
.promo-tile .see_store{font-size:10px;line-height:16px;}
.divider-inside-top{position:relative;overflow:hidden;border-top:1px solid #ddd;}
.divider-inside-top:before{content:"";position:absolute;z-index:1;width:90%;top:-8px;height:8px;left:4%;border-radius:100px / 5px;box-shadow:0 0 20px rgba(0,0,0,0.8);}
.promo-tile .arrow.arr-right{border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:6px solid #f30;margin-left:4px;}
/* --- END Primary Promotion --- */
/* --- global expander plugin ---*/
.expander .easein-gradient {padding-left:60px;background: transparent url(/global_files/layout_v1/images/trans-white-grad-60x1.png) repeat-y 0 0;}
.expander .white-bg{padding-left:5px;}
.expander .more{display:none;}
.expander.min .less{display:none;}
.expander.min .more{display:inline;}
.expander:hover{color:#333;text-decoration:none;}
.expander-parent{overflow:hidden;}
.expander-parent{padding-bottom:20px;}
.expander-parent.transition{transition:all .4s;-webkit-transition:all .4s;}
.expand-me,.long-desc p,.two-lines{line-height:18px;}
/* --- END global expander plugin ---*/
/* coupon block */
.coupon-blk li{padding-bottom:10px;}
.coupon-blk .coupon-fav{height:0px;padding-bottom:0;}
.coupon-blk .coupon-fav .fav-sm{position:relative;left:100%;top:-15px;}
.coupon-blk .coupon-desc{font-size:20px;line-height:26px;}
.coupon-blk .coupon-desc a{font-size:14px;line-height:19px;}
.coupon-blk .coupon-code{padding-bottom:0;}
.coupon-blk .coupon-code span{display:inline-block;}
.blk1 #store-coupons .coupon-blk .merchlogo{padding-top:25px;}
.blk1 #store-coupons .coupon-blk .expander-parent{margin-bottom:10px;}
.coupon-blk.logo-blk .merchlogo{width:150px;text-align:center;}
.coupon-blk.logo-blk .merchlogo img{margin:5px 0 0 0;}
.coupon-blk.logo-blk ul{width:600px;}
.coupon-blk.border-b:last-child{border-bottom:none;}
/* stores >>>*/
.fav-sm.fa-heart,.fav-sm.fa-hear,.fav-s.fa-hear{width:18px;height:16px;padding-top:2px;}
.fav-lg{width:20px;height:20px;padding:0;}
.fav-sm.fa-heart.off,.fav-sm.fa-hear.off,.fav-s.fa-hear.off,.fav-lg.off{color:#ccc;}
.fav-sm.fa-heart.off:hover,.fav-sm.fa-hear.off:hover,.fav-s.fa-hear.off:hover,.fav-lg.off:hover{color:#f30}
.fav-sm.fa-heart.on,.fav-sm.fa-hear.on,.fav-s.fa-hear.on,.fav-lg.on{color:#f30;}
.fav-sm.fa-heart.on:hover,.fav-sm.fa-hear.on:hover,.fav-s.fa-hear.on:hover,.fav-lg.on:hover{color:#ccc;}
.fav-sm.fa-heart span,.fav-sm.fa-hear span,.fav-s.fa-hear span{display:none;line-height:12px;width:12px;height:12px;position:absolute;top:2px;left:3px;}
.fav-lg span{display:none;line-height:20px;width:20px;height:20px;position:absolute;top:8px;}
.fav-sm.fa-heart:hover span,.fav-sm.fa-hear:hover span,.fav-s.fa-hear:hover span,.fav-lg:hover span{display:block;}
.fav-sm.fa-heart.on:hover span,.fav-sm.fa-hear.on:hover span,.fav-s.fa-hear.on:hover span,.fav-lg.on:hover span{color:#f30}
.fav-sm.fa-heart.on:hover span:before,.fav-sm.fa-hear.on:hover span:before,.fav-s.fa-hear.on:hover span:before,.fav-lg.on:hover span:before{content:"\f00d";}
.fav-sm.fa-heart.off:hover span,.fav-sm.fa-hear.off:hover span,.fav-s.fa-hear.off:hover span,.fav-lg.off:hover span{color:#ccc;}
.fav-sm.fa-heart.off:hover span:before,.fav-sm.fa-hear.off:hover span:before,.fav-s.fa-hear.off:hover span:before,.fav-lg.off:hover span:before{content:"\f067";}
.fav-sm.fa-heart.off:hover span,.fav-sm.fa-hear.off:hover span,.fav-s.fa-hear.off:hover span{top:3px;}
.fav-lg.off:hover span{top:7px;}
/* stores <<<*/
.store-hero{position:relative;}
.store-hero-image img{margin:0 auto;}
.store-main{margin-top:-56px;position:relative;}
.faves-circ{height:42px;width:42px;position:relative;top:-12px;left:12px;z-index:2;}
.cb-amounts{margin-top:-44px;position:relative;z-index:3;}
.hero-faves{position:absolute;top:-10px;left:14px;height:42px;width:42px;z-index:4;}
.hero-faves ul{font-size:17px;position:absolute;}
.hero-faves ul li{height:36px;line-height:36px;display:block;width:auto;padding:0 12px;}
.hero-faves ul li.hero-fav .fav-lg{margin:8px 0 0 -1px;}
.fav-message{display:none;position:absolute;top:-40px;left:2px;padding:0 12px;height:25px;line-height:25px;}
.hero-faves .fav-message{width:125px;}
.fav-message.arrow-box:after,.fav-message.arrow-box:before{left:22px;}
.fav-message-show{display:block !important;}
.dd-cb{position:absolute;top:15px;left:16px;}
.dd-cb a{line-height:27px;height:27px;}
.dd-ribbon{width:14px;height:27px;background-position:-148px -24px;}
.cb-amounts li{width:292px;}
.cb-amounts .cb-was{height:26px;line-height:26px;}
.cb-amounts .cb{height:23px;line-height:23px;padding-bottom:13px;}
.cb-amounts .button-lg{font-size:18px;line-height:16px;width:226px;padding:11px 12px;}
.cb-amounts .clo-badge{width:55px;}
.cb-amounts .clo-badge-desc{width:186px;}
.coupon-desc .expander-parent{padding-bottom:18px;}
.coupon-desc .expander-parent.min{padding-bottom:0;}
.cc-block .preapproved,.cc-block .approved{background:url(/images/stores/landing_w/ccard_bg.jpg) center top no-repeat;width:824px;height:127px;}
.cc-block .preapproved .cc-message{width:400px;margin:12px 0 0 247px;}
.cc-block .approved .cc-message{width:425px;margin:15px 0 0 247px;}
.cc-block .approved .button{margin-top:32px;}
.return-bonus{width:826px;position:relative;}
.return-bonus a.bonus-link{position:absolute;left:0;z-index:1;width:826px;height:130px;display:block;}
.bonus-link-new{width:826px;display:block;}
.bonus-offers .fa-bell{margin:38px 0 0 64px;}
.welcome-title, .return-title{padding:36px 0 0 100px;}
.coupon-desc .expander{line-height:26px}
.store-page .no-cb-store{}
#moreStoresTable .tbl-hide{display:none;}
.coupons-list .cpn-right{width:70%;}
.coupons-list .cpn-code-row{line-height:30px;}
.coupons-list .cpn-code{display:inline-block;}
.coupons-list .expander-parent{padding-bottom:20px;}
.coupons-list .expander-parent.min{padding-bottom:0;}
.products-list .pdt-middle{width:42%;}
.products-list .pdt-right{line-height:18px;width:25%;}
.products-list .pdt-price{}
.results-pages{overflow:hidden;}
.search-arrow{float:left;}
.search-arrow .prev-dis,.search-arrow .next-dis{background:#555;display:block;height:15px;margin:0 0 0 12px;width:15px;}
.search-arrow .prev-page,.search-arrow .next-page{background:#faa;display:block;height:15px;margin:0 0 0 12px;width:15px;}
.select{overflow: hidden;padding: 0 10px;position: absolute;border:1px solid #333;height:23px;width:273px;line-height:23px;}
.select.sidebar{cursor:pointer;position:relative;opacity:0;z-index:5;height:100%;width:inherit;}
.filter-item{height:25px;width:295px;}
.filter-label{height:20px;}
.arrow-wrap .bblk{display:block;}
.arrow-wrap .arr-up{margin:6px 0 2px;}
.arrow-wrap .arr-down{}
.ajax_box_container{text-align:center;}
/* --- CC Upsel on store pages --- */
.justify{text-align:justify;}
.justify:after{content:"";display:inline-block;width:100%;}
/* --- Store Categories/Tiered START --- */
.catcolumn{padding:0 0 0 4px;width:284px;}
.catcolumn li span{float:left;line-height:20px;}
.catcolumn .head span{line-height:24px;}
.catcolumn a > .catname{color:#23ae4a;}
.catcolumn a > .catname,.catcolumn .cattitle{width:198px;}
.catcolumn .cb,.catcolumn .cbtitle{text-align:right;width:84px;}
.catcolumnl{margin:0 36px 0 0;}
.homebtn{clear:both;display:block;float:right;padding:10px 0 0;text-align:right;}
/* --- Store Categories/Tiered END --- */
#subscribe-rt .subscribe-copy{display:block;width:250px;}
.mkt-ops h3, .mkt-ops p, .mkt-ops ol, .mkt-ops ul{margin-bottom:10px;}
.mkt-ops p:last-child, .mkt-ops ul:last-child, .mkt-ops ol:last-child{margin-bottom:0px;}
.mkt-ops ol{list-style-position:inside;}
.mkt-ops li{margin-bottom:5px;}
.mkt-ops li:last-child{margin-bottom:0px;}

.tbl-lg tr td{padding:5px 0 5px 10px;}
.tbl-sm tr td{padding:5px 10px;}
.zebra tr:nth-child(odd),.zebra-bg{background-color:#f4f4f4;}
.zebra.zebra-grn tr:nth-child(odd),.zebra-bg.zebra-grn{background-color:#e0eed2;}
.store-table .fav{width:19px;padding-left:5px;}
.store-table .store-name{width:220px;}
.store-table .store-rebate{width:220px;}
.store-table .store-shop{width:110px;padding-right:10px;}
table.border-b tr td{border-bottom:1px solid #ccc;}
table.border-b, table.border-b tr:last-child td{border-bottom:none;}

.cat-page .recommended{height:71px;}
.cat-page .recommended .recommended-lr{width:241px;}
.cat-page .recommended .recommended-lr .recommended-gry{margin-top:23px;height:26px;line-height:26px;width:241px;display:block;color:#545454;}
.cat-page .recommended .recommended-mid{width:475px;}
.cat-page .recommended .recommended-store-feat{border:2px solid #23ae4a;border-top:6px solid #23ae4a;width:471px;height:63px;}
.cat-page .recommended .recommended-store-feat-logo{text-align:center;}
.cat-page .recommended .promo-tile .was_rebate{padding-top:5px;}
.promo-list h2.f-grn{color:#23ae4a;}
/* --- All Stores Page -- */
.back-top{position:fixed;bottom:70px;right:50%;margin-right:-610px;z-index:9999;width:300px;transition:opacity 0.2s ease-out;opacity:0;}
.back-top.show{opacity:1;}
.up-top{width:20px;height:20px;cursor:pointer;border:0;border-radius:30px;-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);}
.up-top:hover{-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);}
.up-top span{width:20px;height:20px;}
/* Store Sorter >>> */
.styled-select{width:148px;height:36px;overflow:hidden;position:relative;}
.styled-select select{width:148px;height:36px;background:transparent;line-height:20px;border:0;-webkit-appearance:none;border-radius:5px;-moz-appearance:none;}
.select-wrapper{float:left;display:inline-block;cursor:pointer;}
.select-wrapper, .select-wrapper select{width:148px;height:36px;line-height:36px;}
.select-wrapper .holder{display:block;margin:0 35px 0 20px;white-space:nowrap;overflow:hidden;cursor:pointer;z-index:-1;}
.select-wrapper select{position:absolute;z-index:2;cursor:pointer;outline:none;opacity:0;_noFocusLine:expression(this.hideFocus=true);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0); -khtml-opacity: 0;-moz-opacity: 0;}
.styled-select .select-more{position:absolute;top:11px;bottom:0;right:20px;}
.styled-select select option{padding-left:20px!important;}
.all-stores .loader{position:absolute;left:350px;top:100px;}
#sort-merchants .sort-cat li{height:40px;}
#sort-merchants .sort-cat:before{content:"";display:block;position:absolute;right:14px;top:-22px;border-color:transparent transparent #ccc transparent;border-style:solid;border-width:11px;}
#sort-merchants .sort-cat:after {content:"";position:absolute;border-style:solid;border-width:10px;border-color:transparent transparent #fff transparent;display:block;width:0;z-index:0;top:-20px;right:15px;}
#sort-merchants .sort-cat{display:none;z-index:2;}
#sort-merchants li:hover .sort-cat{display:block;}
#sort-merchants .pad-hover{left:20px;position:relative;-webkit-transition:left .20s ease-out;-moz-transition:left .20s ease-out;-ms-transition:left .20s ease-out;-o-transition:left .20s ease-out;transition:left .20s ease-out;}
#sort-merchants .pad-hover:hover{left:30px;}
.sort-cat{-webkit-box-shadow: 0px 8px 14px -6px rgba(153,153,153,0.65);-moz-box-shadow: 0px 8px 14px -6px rgba(153,153,153,0.65);box-shadow: 0px 8px 14px -6px rgba(153,153,153,0.65);}
/* Store Sorter <<< */
.all-stores .sorter .hover-sep{width:148px;height:5px;position:absolute;top:39px;}
.all-stores .store span{height:70px;}
.all-stores .store .store-name{width:230px;}
.all-stores .store .coupon-count{width:180px;}
.all-stores .store .store-rebate{width:248px;}
.all-stores .store .store-shop{width:106px;}
.all-stores .store .store-shop .button.reg{width:82px;}
.all-stores .expander-parent{padding-bottom:0 !important;}
.all-stores .up-top{position:fixed;bottom:70px;right:50%;margin-right:-302px;z-index:9999;opacity 0.2s ease-out;opacity:0;transition:-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);}
.all-stores .up-top.show{opacity:1;}
.back-top-message{position:absolute;top:-345px;width:300px;height:330px;}
.back-top-message.arrow-box{border:1px solid #d7d7d7;}
.back-top-message.arrow-box:after,.back-top-message.arrow-box:before{top:100%;right:30px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.back-top-message.arrow-box:after{border-color:rgba(255, 255, 255, 0);border-top-color:#fff;border-width:9px;margin-right:-12px;}
.back-top-message.arrow-box:before{border-color:rgba(215, 215, 215, 0);border-top-color:#d7d7d7;border-width:10px;margin-right:-13px;}
.icon-shipping{background-position:-119px -88px;height:24px;width:30px;margin-right:15px;}
.icon-plus-grn{background-position:-121px -115px;height:15px;width:15px;}
.icon-srch-sm{background-position:-105px -115px;height:15px;width:15px;}
.icon-clock-gry{background-position:-152px -55px;height:15px;width:15px;}
.icon-clock-red{background-position:-152px -71px;height:15px;width:15px;}
/*Terms and privacy pop up window*/
div#dwindow{background-color:#fff;border:1px solid black;left:100px;top:100px; width:425px;height:250px;text-align:left;font-size:11px;line-height:1.4em;position:absolute;display:none; z-index:999;}
div#dwindow .close{background-color:#23ae4a;height:14px;position:relative;}
div#dwindow .close a{background:url(/global_files/layout_v1/images/sprites/ui2015.1.0.6.png) no-repeat -105px -91px;position:absolute;top:0px;right:1px;width:13px;height:13px;cursor:pointer;display:block;}
div#dwindowcontent{height:90%;overflow:auto;padding-left:5px;padding-top:5px;}
div#dwindowcontent h1{margin-bottom:5px;}
div.sharing{margin-bottom:10px;clear:both;height:20px;}
div.sharing .share-btn{float:left;display:block;margin-right:5px;}
/* --- Generic fixed footer --- */
.cc-blue-bg{background:#4395e3;}
.footer-fixed *{line-height:1;}
.footer-fixed{border:none;bottom:0;height:64px;left:0;width:100%;z-index:202;padding:0;transition:all .3s;box-shadow:0 -3px 3px rgba(0, 0, 0, 0.15);}
.footer-fixed.min{bottom:-66px;}
.footer-fixed-center {margin:auto;width:1170px;position:relative;height:inherit;}
.footer-fixed-center .button{padding:7px 10px;transition: all .2s;border-radius:3px;height:11px;}
.footer-fixed-center .min-max-tab{left:-50px;top:-25px;height:20px;width:38px;background:#333;box-shadow:0 -3px 6px -3px rgba(0, 0, 0, 0.3) inset;z-index:302;}
.footer-fixed-center .min-max-tab.min .fa-times:before{content:"\f077";}
@media(max-width:1260px) {.footer-fixed-center .min-max-tab{left:0;}}
/* Help Flyput for Foter and Sticky Footer >>> */
.help-flyout{height:38px;line-height:38px;width:104px;bottom:76px;z-index:101;}
.help-flyout .fa-question-circle{vertical-align:middle;padding-bottom:3px;}
.help-flyout{right:0px;margin-right:10px;}
@media(min-width:1400px) {.help-flyout{left:50%;margin-left:598px;}}
/* Help Flyput for Foter and Sticky Footer <<< */
.sf-left.col6.col_5_6{width:984px;margin-right:0;}
.sf-right.col6{width:185px;margin-right:0;}
.footer-fixed.merchant-sf{-webkit-transition:all .3s;background-color:#fff;}
.merchant-sf .d1{height:65px;width:984px;top:0;left:0;transition:margin .5s .5s;-webkit-transition:margin .5s .5s;z-index:8;}
.merchant-sf .d1.min{margin-left:-2000px;transition:margin .4s .2s;-webkit-transition:margin .4s .2s;}
.merchant-sf .d1 img{bottom:0;left:0;}
.merchant-sf .d1 .sf-merch-a{height:65px;width:984px;display:block;top:0;}
.merchant-sf .sf-cb{width:185px;height:28px;line-height:28px;bottom:0px;left:93px;overflow:hidden;z-index:10;}
.merchant-sf .button{width:148px;height:25px;line-height:25px;padding:0;box-shadow: 0 0 1px 1px rgba(155,155,155,.1);text-align:center;}
.merchant-sf .sf-cb,.merchant-sf .button{opacity:1;transition:opacity .3s .85s;-webkit-transition:opacity .3s .85s;}
.merchant-sf .sf-cb.min,.merchant-sf .button.min{opacity:0;transition:opacity .2s .2s;-webkit-transition:opacity .2s .2s;}
/* --- Generic Notifications --- */
#backgroundPopup{background:#000;display:none;height:300%;left:0;position:fixed;top:0;width:300%;}
.h-v-centered {position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.sortWaitBox {display:block;position:fixed !important;width:200px;height:28px !important;background:white url("/account/global_files/img/load5.gif") no-repeat center 25px;text-align:center;font-weight:bold;padding-top:144px;}
/* --- Fixed footer - CC offer --- */
.cc-reminder {border-top:1px solid #4395e3;}
.cc-reminder .footer-fixed-center{background:transparent url(/global_files/layout_v1/images/sticky-footer/cc/plus.1.0.0.png) 530px 17px no-repeat;}
.cc-reminder.cc-code-active .footer-fixed-center{background-position:685px 17px;}
.cc-reminder .cc-image{position:absolute;top:-29px;left:-20px;top:-29px;transition:all .9s;}
.cc-reminder .cc-image.min{top:0;}
.cc-reminder .center-div{padding-left:230px;}
.cc-reminder .copy-div{width:170px;height:27px;margin-top:4px}
.cc-reminder input.copy-code{border:none;color:#444;height:21px;padding:2px 8px;top:0;left:0;width:150px;z-index:2;line-height:22px;}
.cc-reminder .apply{margin-top:14px;padding:7px 17px 8px;border:1px solid;}
.cc-reminder .accept{margin-top:4px;padding:5px 15px 7px;border:1px solid;}
.cc-reminder .cc-tc{left:570px;padding:20px 0 11px 29px;top:8px;box-shadow:-7px 0 6px -7px rgba(50,50,50,0.6);}
.cc-reminder .cc-tc a {color:#ddd;color:rgba(250,250,250,0.7);}
/* --- Fixed footer - Merchant bonus --- */
.merchant-bonus *{color:#333;}
.merchant-bonus .bonus-badge{top:-31px;left:0;transition:all .4s;}
.merchant-bonus .bonus-badge.min{top:0;opacity:0;transform: scale(0, 1);filter:alpha(opacity=0);}
.merchant-bonus .shop-now{display: block;padding:23px 0 0 75px;white-space:nowrap;}
.merchant-bonus .shop-now:hover{text-decoration:none;}
.merchant-bonus .footer-fixed-center{overflow:visible;}
/* --- Email auto-corrector --- */
.corrected-note{width:200px!important;height:32px;bottom:110%;text-align:center;padding:3px 0;background:white;box-shadow:0 0 5px #666; border:1px solid #ccc;color:green;float:none;}
.corrected-email{background-color:#edd;}
/* --- Desktop to Mobile Button --- */
.back-to-mobile-btn{height:35px;line-height:35px;margin:0 auto;padding:0 30px;width:50%;}
/* --- Facebook connect Email not found error --- */
div.connection-error-verlay{background-color:#fff;height:130px;left:25%;top:120px;position:absolute;width:600px;z-index:99999;display:block;border:1px solid #333;}
.modal-dialog-ui{background:url(/images/home/2014/q2/meria-overlay/ui-sprite.1.0.0.png) no-repeat 0 0;overflow:auto;}
.cc-dialog-close{overflow:hidden;position:absolute;z-index:999;top:-15px;right:-10px;}
.cc-dialog-close a{background-position:-35px 0;cursor:pointer;display:block;height:29px;width:29px;}
.cc-dialog-close a:hover{text-decoration:none;}
/*Close icon in overlays*/
div#overlay div.msg-bar a#disable,div#signupOverlay div.msg-bar a#disable,div#join-signup a#disable,#signupOverlay a.close,#join-signup a.close{background-position:-151px -91px !important;height:10px;text-decoration:none;width:10px;position:absolute;right:15px;top: 4px;cursor:pointer;}
/* --- Flyout --- */
.flyout{top:250px;right:-4px;border-radius:4px;padding:0 8px 5px 5px;width:85px;height:60px;z-index:101;}
.flyout-ru{top:320px;right:-4px;border-radius:4px;padding:0 8px 5px 5px;width:85px;height:60px;z-index:101;}
.flyout-ru .fa-globe{display:block;float:left;padding:0 0 0 12px;margin-right:-10px;}
/* --- Tablet Only --- */
.tablet-only{display:none;}
/* --- Blocker Warning --- */
.ABP-container{background-color:#333;margin:0;padding:2px 0;overflow:hidden;transition:all .5s .3s;height:78px;}
.ABP-container.zero-height{height:0;padding:0;}
.ABP-warning{border-radius:3px;margin:8px auto;width:1170px;height:62px;overflow:hidden;}
.ABP-warning > div{height:inherit;margin-top:-1px;}
.ABP-text{top:0;left:0;width:730px;overflow:visible;z-index:1;}
.ABP-text:before{background:#f30;border-radius:50px;color:white;content:"!";font-size:16px;font-weight:bold;height:17px;left:18px;line-height:17px;position:absolute;text-align:center;top:15px;width:17px;}
.IE .ABP-text{padding-left:58px;}
.IE .ABP-text:before{font-size:27px;height:29px;line-height:1.15;top:17px;width:29px;}
.ABP-text div{white-space:nowrap;overflow:visible;}
.filter-blk{top:0;left:400px;width:330px;z-index:2;}
.filter-blk > div{line-height:1.3;}
.filter-blk:before{background:#cdcdcd;content:"";height:43px;right:2px;position:absolute;top:10px;width:1px;}
.ABP-info{top:0;left:810px;width:400px;z-index:3;}
.IE .ABP-info{left:418px;width:800px;}
.ABP-info a{color:#23ae4a !important; top:34px;left:40;}
.ABP-info a:before{background:#23ae4a;border-radius:50px;color:white;content:"\203A";font-size:19px;height:12px;right:-15px;line-height:9px;position:absolute;text-align:center;top:3px;width:10px;padding:0 0 0 2px;font-family:Georgia, Geneva, sans-serif;}
.ABP-warning .button{border:none;border-radius:3px;cursor:pointer;transition:all 0.1s;text-align:center;padding:8px 14px !important;display:inline-block;height:auto;right:35px;top:16px;}
.button:hover{text-decoration:none;}
.IE .IE-hide{display:none;}
/* --- legacy - to review and remove --- */
.dark-green-bg{background-color:#060;}
/* --- lagacy - to review --- */
.blockdecoy{position:absolute;left:0;bottom:0;}
.ABP-help .install-filter.button{padding:8px 12px !important;display:inline-block !important;height:auto !important;line-height:1.2;border-radius:3px;}
.ABP-help .install-filter.hide,.install-filter.hide{display:none !important;}
/* EOF END OF FILE */