/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2014 Fontspring
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 *
 */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('proximanova/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot');
    src: url('proximanova/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('proximanova/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff') format('woff'),
    url('proximanova/proximanova_regular_macroman/ProximaNova-Reg-webfont.ttf') format('truetype'),
    url('proximanova/proximanova_regular_macroman/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('proximanova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot');
    src: url('proximanova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('proximanova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff') format('woff'),
    url('proximanova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf') format('truetype'),
    url('proximanova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('proximanova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.eot');
    src: url('proximanova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('proximanova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.woff') format('woff'),
    url('proximanova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.ttf') format('truetype'),
    url('proximanova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('proximanova/proximanova_light_macroman/ProximaNova-Light-webfont.eot');
    src: url('proximanova/proximanova_light_macroman/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('proximanova/proximanova_light_macroman/ProximaNova-Light-webfont.woff') format('woff'),
    url('proximanova/proximanova_light_macroman/ProximaNova-Light-webfont.ttf') format('truetype'),
    url('proximanova/proximanova_light_macroman/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ththin';
    src: url('proximanova/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot');
    src: url('proximanova/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('proximanova/proximanova_thin_macroman/ProximaNova-Thin-webfont.woff') format('woff'),
    url('proximanova/proximanova_thin_macroman/ProximaNova-Thin-webfont.ttf') format('truetype'),
    url('proximanova/proximanova_thin_macroman/ProximaNova-Thin-webfont.svg#proxima_nova_ththin') format('svg');
    font-weight: normal;
    font-style: normal;
}
.prox-r, .prox-r *, .prox-r a, a.prox-r{font-family:'proxima_nova_rgregular', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.prox-b, .prox-b *, .prox-b a, a.prox-b, .prox-r .prox-b{font-family:'proxima_nova_ltsemibold', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.prox-eb, .prox-eb *, .prox-eb a, a.prox-eb, .prox-r .prox-eb{font-family:'proxima_nova_thextrabold', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.prox-l, .prox-l *, .prox-l a, a.prox-l, .prox-r .prox-l{font-family:'proxima_nova_ltlight', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.prox-t, .prox-t *, .prox-t a, a.praox-t, .prox-r .prox-t{font-family:'proxima_nova_ththin', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
/* End Fontspring license for Proxima Nova */
/* Begin TeX Gyre Schola */
@font-face {
    font-family: 'texgyrescholaitalic';
    src: url('texgyreschola/texgyreschola_italic_macroman/texgyreschola-italic-webfont.eot');
    src: url('texgyreschola/texgyreschola_italic_macroman/texgyreschola-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('texgyreschola/texgyreschola_italic_macroman/texgyreschola-italic-webfont.woff') format('woff'),
    url('texgyreschola/texgyreschola_italic_macroman/texgyreschola-italic-webfont.ttf') format('truetype'),
    url('texgyreschola/texgyreschola_italic_macroman/texgyreschola-italic-webfont.svg#texgyrescholaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'texgyrescholaregular';
    src: url('texgyreschola/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot');
    src: url('texgyreschola/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('texgyreschola/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff') format('woff'),
    url('texgyreschola/texgyreschola_regular_macroman/texgyreschola-regular-webfont.ttf') format('truetype'),
    url('texgyreschola/texgyreschola_regular_macroman/texgyreschola-regular-webfont.svg#texgyrescholaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.texgs-r,.texgs-r a{font-family:'texgyrescholaregular', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
.texgs-i,.texgs-i a{font-family:'texgyrescholaitalic', Arial, Helvetica, sans-serif !important;font-weight:normal;font-style:normal;}
/* End TeX Gyre Schola */
/* Begin FontAwesome */
@font-face{font-family:'fontawesome-webfont';
    src:url('icon/fontawesome/v.4.5.0.7/fonts/fontawesome-webfont.eot?fkvqh2');
    src:url('icon/fontawesome/v.4.5.0.7/fonts/fontawesome-webfont.eot?fkvqh2#iefix') format('embedded-opentype'),
        url('icon/fontawesome/v.4.5.0.7/fonts/fontawesome-webfont.ttf?fkvqh2') format('truetype'),
        url('icon/fontawesome/v.4.5.0.7/fonts/fontawesome-webfont.woff?fkvqh2') format('woff'),
        url('icon/fontawesome/v.4.5.0.7/fonts/fontawesome-webfont.svg?fkvqh2#fontawesome-webfont') format('svg');
    font-weight:normal;
    font-style:normal;
    /* individual fa- font classes should be loaded from /global_files/fonts/icon/fontawesome/v.4.5.0.7/css/fontawesome.1.0.0.css */
}
[class^="fa-"],[class*=" fa-"]{display:inline-block;font-family:'fontawesome-webfont' !important;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;}
.fa{display:inline-block;}
.fa-heart:before{content:"\f004";}
.fa-heart-o:before{content:"\f08a";}
.fa-clock-o:before{content:"\f017";}
.fa-search:before{content:"\f002";}
.fa-close:before,.fa-remove:before,.fa-times:before{content:"\f00d";}
.fa-plus:before{content:"\f067";}
.fa-certificate:before{content:"\f0a3";}
.fa-truck:before{content:"\f0d1";}
.fa-bell:before{content:"\f0f3";}
.fa-bell-o:before{content:"\f0a2";}
.fa-check:before{content:"\f00c";}
.fa-bookmark:before{content:"\f02e";}
.fa-bookmark-o:before{content:"\f097";}
.fa-google-plus:before{content:"\f0d5";}
.fa-google:before{content:"\f1a0";}
.fa-facebook:before,.fa-facebook-f:before{content:"\f09a";}
.fa-caret-down:before{content:"\f0d7";}
.fa-caret-up:before{content:"\f0d8";}
.fa-caret-left:before{content:"\f0d9";}
.fa-caret-right:before{content:"\f0da";}
.fa-envelope:before{content:"\f0e0";}
.fa-envelope-o:before{content:"\f003";}
.fa-lock:before{content:"\f023";}
.fa-credit-card:before{content:"\f09d";}
.fa-angle-up:before{content:"\f106";}
.fa-angle-down:before{content:"\f107";}
.fa-angle-right:before{content:"\f105";}
.fa-angle-left:before{content:"\f104";}
.fa-comments:before{content:"\f086";}
.fa-comments-o:before{content:"\f0e6";}
.fa-star:before{content:"\f005";}
.fa-star-o:before{content:"\f006";}
.fa-star2:before{content:"\f007";}
.fa-star-o2:before{content:"\f009";}
.fa-gift:before{content:"\f06b";}
.fa-globe:before{content:"\f0ac";}
.fa-bars:before,.fa-navicon:before,.fa-reorder:before{content:"\f0c9";}
.fa-align-left:before{content:"\f036";}
.fa-question-circle:before{content:"\f059";}
.fa-pencil:before{content:"\f040";}
.fa-spinner:before{content:"\f110";}
.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071";}
.fa-calendar:before{content:"\f073";}
.fa-calendar-o:before{content:"\f133";}
.fa-calendar-plus-o:before{content:"\f271";}
.fa-calendar-minus-o:before{content:"\f272";}
.fa-calendar-times-o:before{content:"\f273";}
.fa-calendar-check-o:before{content:"\f274";}
.fa-circle:before{content:"\f111";}
.fa-arrow-circle-right:before{content:"\f0a9";}
.fa-arrow-left:before{content:"\f060";}
.fa-arrow-right:before{content:"\f061";}
.fa-arrow-up:before{content:"\f062";}
.fa-arrow-down:before{content:"\f063";}
.fa-check-circle:before{content:"\f058";}
.fa-map-marker:before{content:"\f041";}
.fa-info-circle:before{content:"\f05a";}
.fa-star-half:before{content:"\f089";}
.fa-star-half-empty:before{content:"\f123";}
.fa-star-half-full:before{content:"\f123";}
.fa-star-half-o:before{content:"\f123";}
.fa-chevron-left:before{content:"\f053";}
.fa-chevron-right:before{content:"\f054";}
.fa-chevron-down:before{content:"\f078";}
.fa-chevron-up:before{content:"\f077";}
.fa-plus-square:before{content:"\f0fe";}
.fa-minus-square:before{content:"\f146";}
.fa-times-circle:before{content:"\f057";}
.fa-plus-circle:before{content:"\f055";}
.fa-minus-circle:before{content:"\f056";}
.fa-arrow-circle-left:before{content:"\f0a8";}
.fa-arrow-circle-up:before{content:"\f0aa";}
.fa-arrow-circle-down:before{content:"\f0ab";}
.fa-exclamation-circle:before{content:"\f06a";}
.fa-list-ul:before{content:"\f0cb";}
.fa-list-ol:before{content:"\f0cc";}
.fa-th-list:before{content:"\f00b";}
.fa-th:before{content:"\f00a";}
.fa-print:before{content:"\f02f";}
.fa-home:before{content:"\f015";}
.fa-dollar:before,.fa-usd:before{content:"\f155";}
.fa-money:before{content:"\f0d6";}
.fa-arrows-v:before{content:"\f07d";}
.fa-arrows-h:before{content:"\f07e";}
.fa-trademark:before{content:"\f25c";}
.fa-registered:before{content:"\f25d";}
.fa-calculator:before{content:"\f1ec";}
.fa-credit-card-alt:before{content:"\f283";}
.fa-search-plus:before{content:"\f00e";}
.fa-search-minus:before{content:"\f010";}
.fa-minus:before{content:"\f068";}
.fa-toggle-off:before{content:"\f204";}
.fa-toggle-on:before{content:"\f205";}
.fa-ellipsis-h:before{content:"\f141";}
.fa-ellipsis-v:before{content: "\f142";}
.fa-safari:before{content:"\f267";}
.fa-chrome:before{content:"\f268";}
.fa-firefox:before{content:"\f269";}
.fa-opera:before{content:"\f26a";}
.fa-internet-explorer:before{content:"\f26b";}
.fa-edge:before{content:"\f282";}
.fa-circle-thin:before{content:"\f1db";}
.fa-circle-o:before{content:"\f10c";}
.fa-chevron-circle-left:before{content:"\f137";}
.fa-chevron-circle-right:before{content:"\f138";}
.fa-chevron-circle-up:before{content:"\f139";}
.fa-chevron-circle-down:before{content:"\f13a";}
.fa-plane:before{content:"\f072";}
.fa-suitcase:before{content:"\f0f2";}
.fa-automobile:before,.fa-car:before{content:"\f1b9";}
.fa-ship:before{content:"\f21a";}
.fa-bed:before,.fa-hotel:before{content:"\f236";}
.fa-sliders:before{content:"\f1de";}
.fa-feed:before,.fa-rss:before{content:"\f09e";}
.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-ring:before,.fa-life-saver:before,.fa-support:before{content:"\f1cd";}
.fa-twitter:before{content:"\f099";}
.fa-pinterest-p:before{content:"\f231";}
.fa-instagram:before{content:"\f16d";}
.fa-play-circle-o:before{content:"\f01d";}
.fa-play-circle:before{content:"\f144";}
.fa-pause-circle:before{content:"\f28b";}
.fa-pause-circle-o:before{content:"\f28c";}
.fa-stop-circle:before{content:"\f28d";}
.fa-stop-circle-o:before{content:"\f28e";}
.fa-question:before{content:"\f128";}
.fa-info:before{content:"\f129";}
.fa-exclamation:before{content:"\f12a";}
.fa-quote-left:before{content:"\f10d";}
.fa-quote-right:before{content:"\f10e";}
.fa-list-alt:before{content:"\f022";}
.fa-user:before{content:"\f00f";}
.fa-thumbs-o-up:before{content:"\f087";}
.fa-thumbs-o-down:before{content:"\f088";}
.fa-tag:before{content:"\f02b";}
.fa-tags:before{content:"\f02c";}
.fa-scissors:before{content:"\f0c4";}
.fa-cut:before{content:"\f0c4";}
.fa-chain:before{content:"\f0c1";}
.fa-link:before{content:"\f0c1";}
.fa-chain-broken:before{content:"\f127";}
.fa-unlink:before{content:"\f127";}
.fa-comment:before{content:"\f075";}
.fa-comment-o:before{content:"\f0e5";}
.fa-square:before{content:"\f0c8";}
.fa-square-o:before{content:"\f096";}
/* End FontAwesome */