@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

header[role="banner"] .contenitore_destra {float: right;width:713px;}
header[role="banner"] .logo {display: inline-block;margin: 0;float: left;background: none;}
header[role="banner"] .logo a {text-indent: -9999px;width: 245px;height: 40px;display: block;background: url(http://static.diariodelweb.it/icone/loghi/testata_diario_trend.jpg) 0 0 no-repeat;}
header[role="banner"] .logo a:hover {opacity: .8;}

a:hover{color: #ce0000;}

/* APERTURA */
.contenitore_super_evidenziato .article {position:relative;margin-top:15px;}
.allegato_evidenziato_3_col {margin-bottom:0px;}
.allegato_evidenziato_3_col .contenitore_super_evidenziato .article { padding-bottom:0; border:0; }
.allegato_evidenziato_3_col .contenitore_super_evidenziato {width: 980px;padding: 0 10px 10px 10px;}
.allegato_evidenziato_3_col .contenitore_super_evidenziato .article {padding-bottom: 10px;}
.contenitore_super_evidenziato .foto{height:400px;overflow:hidden;}
.contenitore_super_evidenziato .article_txt {text-align:center;margin-top:10px;padding:0 125px;}
.contenitore_super_evidenziato h1 {font: bold 42px/40px 'Droid Sans',Georgia,Arial,Helvetica,Garuda,sans-serif;}
.contenitore_super_evidenziato p {font-size:21px;color:#333;}

/* colonna_principale */
#copertina .colonna_principale .article {border-top:none;border-bottom:1px solid #ccc;margin-bottom:10px;}
#copertina .colonna_principale .evidenziata .occhiello {margin: 0 0 10px 0;border-top:none;}
#copertina .colonna_principale .article .occhiello .contenuto {background:#ce0000;color:#fff;padding:2px 20px 2px 7px;font-family:'Droid Sans',Georgia,Arial;font-size:11px;}
#copertina .colonna_principale .article h2, .colonna_principale .article h3{font: bold 28px/32px 'Droid Sans',Georgia,Arial,Helvetica,Garuda,sans-serif;}

/* CORRELATA */
.colonna_principale .correlata {padding-top: 5px;padding-left: 0px;background:none;}

/* SOSTEGNI */
.sostegni ul li a {color: #000;}

/* NOTIZIA */
.correlati ul li a{color: #ce0000;}
.corpo_notizia p a {color: #ce0000;text-decoration:none;border-bottom: 1px dotted #ce0000;}
.corpo_notizia p a:hover {color: #ce0000;border-bottom: none;}
.colonna_testo table a:hover {border-bottom-color: #ce0000;}
#Dettaglio .colonna_principale .article .occhiello {text-align:center;margin: 0 0 15px;padding: 0;height: 22px;display: block;border-top-color:#ce0000;}
#Dettaglio .colonna_principale .article .occhiello .contenuto {background-color: #ce0000;margin: 0;padding: 2px 10px;color: #fff;font: bold 13px 'Droid Sans',Tahoma, Arial, Helvetica, Garuda, sans-serif;text-transform: uppercase;display: inline-block;}

/* CASSA */
.cassa {border: none;margin: 0 0 20px 0;padding: 10px 0px;border-top:1px solid #000;}
.cassa .evidenziata .foto img {width: 398px;height: auto;}

/* BLOCCHI COMMENTI */
.blocco_commenti {border-top: 1px solid #ce0000;}
.blocco_commenti .testata h4 {color: #ce0000;}

/* RELAZIONATE */
.relazionate {border-top: 1px solid #ce0000;}
.relazionate h4 {color: #ce0000;}