/*
 Theme Name:   Osage Idodoe
 Theme URI:    http://idodoe.co.tz
 Description:  osage idodoe Theme 2016-11-03
 Author:       Basil Shikila Lyayuka
 Author URI:   http://idodoe.co.tz
 Template:     osage
 Version:      1.0.2
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  osage-idodoee
*/

/*
PressCDN Better Stylesheet

For older themes, and themes that do not use wp_enqueue_style() to enqueue their style-sheet, use the following line where xxxxx is the name of the directory where the theme resides:

Make sure you uncomment out this import line below if you want to include the parent CSS and the wp_enqueue_style() is not working. If you do not then you will not have any styling in your child theme from the parent theme.
*/


/* @import url("../osage/style.css"); */

/* =Custom idodoe Theme
-------------------------------------------------------------- */

#nav-wrapper {
	float: left;
	position: relative;
	width: 100%;
	height: 50px;
	z-index: 1000000;
	}
	
span.home-header-wrap h4.widget-header:after,
span.sidebar-header-wrap h4.sidebar-header:after {
	border-style: hidden;
	}

h4.widget-header {
	width: 35%;
	}

h4.sidebar-header {
	width: 91%;
	}

h4.widget-header {
	font: 800 12px/100% 'Open Sans', sans-serif;
	}

#footer-wrapper {
	font: 15px/150% helvetica,arial,sans-serif;
	}

#copyright {
	font: italic 15px/17px helvetica, arial, sans-serif;
	}

.ads-separator {
	height: 5px;
}

@media screen and (max-width: 1002px) {

	#ads-lower,
	#ads-upper {
		height: 5px;
	}

}

@media screen and (max-width: 767px) and (min-width: 600px) {
	h4.sidebar-header {
		width: 96%;
		}
	}

@media screen and (max-width: 599px) and (min-width: 480px) {
	h4.sidebar-header {
		width: 95%;
		}
	}

@media screen and (max-width: 479px) {
	h4.sidebar-header {
		width: 94%;
	}
	h4.widget-header {
		width: 94%;
	}
	#nav-logo img {
		max-width: 100%;
		max-height: 100%;
	}
}