body{ font-size:12px;color:#454545 !important;font-family:Arial, Helvetica, sans-serif!important}
h1{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif!important; font-size:26px !important; font-weight:bold !important;color:#000 !important; text-transform:uppercase; padding:0 !important; margin:0 !important; border-bottom:2px solid #e2b913; padding-bottom:6px !important; margin-bottom:20px !important}
h4{ font-size:18px !important; font-weight:bold !important; line-height:20px !important; margin-top:16px !important; color:#202020 !important;}
h4 a{ color:#202020 !important; text-decoration:none !important}
h4 a:hover{ color:#0c457b !important;}

img{ max-width:100% !important; width:100% !important}
a{ color:#0c457b !important;}
a:hover{ cursor:pointer !important}
a:active, a:focus {outline:none;}
.more{ color:#037da5 !important;font-weight:bold !important;text-decoration:underline !important}
.more:hover{ text-decoration:none !important}
p{ font-size:12px;}
.col_fixed{ position:relative !important;
width: 300px;float:right !important; margin-left:15px !important}
.col_fluid {
float: left; padding-right:10px !important;width:calc(100% - 315px + 15px * 2);}

.logo{ float:left; position:relative; margin-top:20px !important; margin-bottom:10px !important}
.top_add{ float:right; position:relative;}
.top_add img{ border:1px solid #ccc !important}
.header{ margin-top:20px !important; margin-bottom:20px !important}

/*Navigation Style*/
.navbar-default{ background: none !important; border:0 !important ; border-radius:0 !important;border-top: 2px solid #000 !important; border-bottom:1px solid #e9e9e9 !important;}
.navbar-collapse{ padding-left:0 !important; padding-right:0 !important}
.nav > li { font-size:12px !important; font-weight:normal !important ;background:url(../images/nav_divider.jpg) no-repeat right center;margin-right:10px !important; text-transform:uppercase;}
.nav > li:last-child{ background:none !important}
.nav  li  a{color:#6b6b6b  !important}
.nav  li  a:hover{color:#000 !important; }
.nav  li  a:visited{ outline:none !important}
.nav > li > a{ padding-left:0 !important; padding-right:10px !important; }
.navbar-default .navbar-toggle .icon-bar{ background-color:#fff !important}
.navbar-toggle{ background: #414141 !important;border: 1px solid #292929 !important; margin-right:0 !important}
.navbar-toggle:hover{ background:#333333 !important; border: 1px solid #1f1f1f !important}
.dropdown-menu{ padding: 0 !important}
.dropdown-menu > li { font-size:12px !important; border-bottom:1px solid #ccc !important}
.dropdown-menu > li:last-child{ border-bottom:none !important}
.dropdown-menu > li > a { padding-left:10px !important; }
.dropdown-menu > li > a:hover { 
background:#bed730 !important }
.nav > li .active{ font-weight:bold !important; color:#000 !important}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{ background: none !important}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background: none !important}
.caret{ margin-left:4px !important}
.searchbox { margin-top:16px !important}
.btn-default{ background:#bed730 !important; margin-top:4px !important}
.searchbox .dropdown-menu{ margin-top:18px !important}
.social{ margin-top:16px !important; margin-right:10px !important;}
.mbl_on{ display:none !important}
.mbl_off{}
.social ul{ margin-left:0 !important; padding:0 !important}
.social li{ display:inline-block;}
.social li img{ padding:0 1px !important}
/*body Style*/

.padd_off{padding-left:0 !important; padding-right:0 !important}
.padd_lt_off{padding-left:0 !important;}
.padd_rt_off{ padding-right:0 !important}
.main_slot1{ padding-left:0 !important; padding-right:0px !important; }
.main_slot1 img{ width:100% !important}
.main_slot1 h1 {position:absolute;bottom:0 !important; width:100% !important; font-size:30px !important; color:#000 !important;padding:20px  !important; margin:0 !important; background:rgba(153, 183, 188, 0.9); text-align:left !important; text-transform:none !important; text-decoration:none !important; border-bottom:none !important;}
.main_slot1 h1 a{ color:#000 !important; text-decoration:none !important}
.main_slot1 h1 a:hover{ color:#0c457b!important;text-decoration:none !important;}

.divider{ border-right:1px solid #ccc; padding-right:10px !important}
.main_slot_cover { }
.main_slot_cover  img{ max-width:100% !important}
.main_slot2{padding:0 15px 0 20px !important;}
.cont_sec img{ max-width:100% !important;border:1px solid #ccc;}
.cont_sec{ margin-bottom:14px !important; border-bottom:1px solid #ccc; padding-bottom:10px !important}
.cont_sec:after {content: "\0020";display: block;height: 0;clear: both;visibility: hidden;}

.cont_sec  h1{}
/*.cont_sec  h4{ font-size:18px !important; font-weight:bold !important; line-height:20px !important; margin-top:16px !important; color:#202020 !important}
*/.cont_sec  p{ margin-top:10px !important}
.main_slot2_sec img{ }
.slot3{ margin-top:10px !important}
.slot3:after {content: "\0020";display: block;height: 0;clear: both;visibility: hidden;}
.slot5{}
.slot5 .img_slot{ width:48% !important}

.slot4{ margin-top:10px !important;}
.slot4 h1{ margin-right:20px !important}
.border_off{ border-bottom:none !important}
.slot4 p{ margin-top:0px !important}
.slot4:after {content: "\0020";display: block;height: 0;clear: both;visibility: hidden;}
.date{ color:#9f9fa1;}
.cmt{ text-transform:uppercase; padding-left:10px !important; text-decoration:underline}
.margin_off{ margin-bottom:0 !important}
.slot6{ background:#f7f7f7; padding:10px !important}
.slot6:after {content: "\0020";display: block;height: 0;clear: both;visibility: hidden;}
.slot6 .cont_sec{ border-bottom:0 !important; margin-bottom:0 !important; padding-bottom:0px !important}
/*.slot6 h1{ margin-bottom:5px !important}*/
.slot6 .more{ margin-left:5px !important}
.article { margin:0px 10px 10px 10px!important; padding:0 6px!important}
.article li {/*border-bottom: 1px solid #e8e8e8;*/color: #5a5f65;list-style:square outside none !important;padding:5px 0px;}
.slot7{ margin-top:30px !important }
.slot7 img{ margin-bottom:10px !important}


/*Footer Style*/

footer{ background:#333333; margin-top:30px !important; min-height:40px !important}
.privacy{ float:left; position:relative;font-size:12px !important;color:#989898 !important; padding:10px 0 !important}

.privacy  a{text-decoration:none; color:#989898 !important;}
.privacy a:hover{text-decoration: underline;}
.privacy span{ padding:0px 8px}
.privacy span a:hover{  text-decoration: underline;}
.copyright{float:right; position:relative;font-size:12px !important;color:#989898 !important; padding:10px 0 !important}
.copyright span{ font-weight:bold; color:#989898 !important;}
.copyright span a{  text-decoration:none; color:#fff !important;}
.copyright span a:hover{  text-decoration: underline;}