/*
@font-face {
    font-family: 'my-font-family';
    src: url('my-font-filename.eot');
    src: url('my-font-filename.eot?#iefix') format('embedded-opentype'),
    url('my-font-filename.svg#my-font-family') format('svg'),
    url('my-font-filename.woff') format('woff'),
    url('my-font-filename.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

/*@font-face {
    font-family: 'GothamRounded-Book';
    src: url('../fonts/GothamRounded-Book/GothamRounded-Book.eot');
    src: url('../fonts/GothamRounded-Book/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Book/GothamRounded-Book.svg#GothamRounded-Book') format('svg'),
    url('../fonts/GothamRounded-Book/GothamRounded-Book.woff') format('woff'),
    url('../fonts/GothamRounded-Book/GothamRounded-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'GothamRounded-Book';
    src: url('../fonts/GothamRounded-Book/GothamRounded-Book.eot');
    src: local('☺'),
            url('../fonts/GothamRounded-Book/GothamRounded-Book.svg') format('svg')
            url('../fonts/GothamRounded-Book/GothamRounded-Book.woff') format('woff'),
            url('../fonts/GothamRounded-Book/GothamRounded-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'GothamRounded-Light';
    src: url('../fonts/GothamRounded-Light/GothamRounded-Light.eot');
    src: local('☺'),
            url('../fonts/GothamRounded-Light/GothamRounded-Light.svg') format('svg'),
            url('../fonts/GothamRounded-Light/GothamRounded-Light.woff') format('woff'),
            url('../fonts/GothamRounded-Light/GothamRounded-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'GothamRounded-Medium';
    src: url('../fonts/GothamRounded-Medium/GothamRounded-Medium.eot');
    src: local('☺'),
            url('../fonts/GothamRounded-Medium/GothamRounded-Medium.svg') format('svg'),
            url('../fonts/GothamRounded-Medium/GothamRounded-Medium.woff') format('woff'),
            url('../fonts/GothamRounded-Medium/GothamRounded-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}*/

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham/Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gotham/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham/Gotham-Book.svg#65526539dec42e535893223c14767f58') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
  -webkit-font-smoothing: antialiased;
}

/*@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham/Gotham-Book.eot');
    src: local('☺'),
            url('../fonts/Gotham/Gotham-Book.woff') format('woff'),
            url('../fonts/Gotham/Gotham-Book.ttf') format('truetype'),
            url('../fonts/Gotham/Gotham-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}*/

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham/Gotham-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham/Gotham-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gotham/Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham/Gotham-Light.svg#0fdc6c734a7ca54436fb28af9ab2f202') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
  -webkit-font-smoothing: antialiased;
}

/*@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham/Gotham-Light.eot');
    src: local('☺'),
            url('../fonts/Gotham/Gotham-Light.svg') format('svg'),
            url('../fonts/Gotham/Gotham-Light.woff') format('woff'),
            url('../fonts/Gotham/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}*/

@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham/Gotham-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gotham/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham/Gotham-Thin.svg#0aac47714e259d61a3445651c8075cce') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
  -webkit-font-smoothing: antialiased;
}

/*@font-face {
    font-family: 'Gotham-Thin';
    src: url('../fonts/Gotham/Gotham-Thin.eot');
    src: local('☺'),
            url('../fonts/Gotham/Gotham-Thin.svg') format('svg'),
            url('../fonts/Gotham/Gotham-Thin.woff') format('woff'),
            url('../fonts/Gotham/Gotham-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}*/

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gotham/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham/Gotham-Medium.svg#0fbe3a09622d8fb1f474f00917396ba1') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
  -webkit-font-smoothing: antialiased;
}

/*@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham/Gotham-Medium.eot');
    src: local('☺'),
            url('../fonts/Gotham/Gotham-Medium.svg') format('svg'),
            url('../fonts/Gotham/Gotham-Medium.woff') format('woff'),
            url('../fonts/Gotham/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}*/

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gotham/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham/Gotham-Bold.svg#4b05af1f343b473876284bf412b923ab') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
  -webkit-font-smoothing: antialiased;
}

/*@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham/Gotham-Bold.eot');
    src: local('☺'),
            url('../fonts/Gotham/Gotham-Bold.svg') format('svg'),
            url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
            url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}*/
