@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 600;
  src: local('Khand Semibold'), local('Khand-Semibold'), url(http://fonts.gstatic.com/s/khand/v4/4fKMP5iEcrUqUTh4FTOMgvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
