

#mobile-menu-btn { display:none;  /*display:table-cell;*/ vertical-align:middle; cursor:pointer; font-family: 'Francois One',Arial, Helvetica, sans-serif; text-transform:uppercase; padding:5px 0px; }
#mobile-coldx-btn { display:none; /*display:table-cell;*/ vertical-align:middle; cursor:pointer; padding:5px 15px 7px 10px; font-size:1.2em; background-color:#38558F; color:#fff; -webkit-border-top-left-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-bottomleft: 10px;border-top-left-radius: 10px;border-bottom-left-radius: 10px; }	
	/*#mobile-coldx-btn {     padding: 0;    font-size: 0.6em;    text-transform: uppercase;    background-color: #38558F;    color: #FFFFFF;		} */

.mobile-menu-qn {     background-color: #ED303C;     padding: 10px!important; }
.mobile-menu-qn img { width:60%;}


#mobile-bg{ 
   position: fixed;
    background-color: rgba(0, 0, 0, 0.73);
    top: 0;
    /* right: 0; */
    bottom: 0;
    z-index: 10;
    display: block;
    width: 100%;
	height: 100%;
	display:none;
	}

	
#mobile-coldx-close { display: none;   background-color: #38558F;  cursor:pointer;   color: #FFF;    line-height: 50px;    text-align: center;    font-family: 'Francois One',Arial, Helvetica, sans-serif; text-transform:uppercase;  }
#mobile-menu-close { display: none;   background-color: #38558F;  cursor:pointer;   color: #FFF;    line-height: 50px;    text-align: center;    font-family: 'Francois One',Arial, Helvetica, sans-serif; text-transform:uppercase; }

#mobile-menu { display:none;}	

.scroll-wrapper { overflow:scroll; }

	.page-content .banner300x250 { height:auto; text-align:center;} 
	.page-content .banner300x250 .banner-content { height:auto; text-align:center;} 
	

.page-content .gallery-full-image-container {max-width:none!important;} /*fix per gallery slider mobile*/
	
@media only screen and (max-width: 624px) { /* LAYOUT 1 */

	
	#col-sx {width:100%!important; }
	
	#col-dx {  width:100%; margin:0; }
	
	#col-dx #col-dx-inner { margin:0 auto 0 auto;}
	
	/*.banner728x90 { display:none;}*/
	
	/* Contenuti */
	
	.page-content {padding: 10px;  font-size: 18px!important;  line-height: auto!important; }
	.page-content .intestazione .thumb { }
	.page-content h2 { font-size: 20px}
	.page-content .intestazione .dettagli {width:auto!important;}
	.page-content img { max-width:100%!important; }
	.page-content iframe { max-width:100%!important; }
	
	.page-content .addthis_sharing_toolbox {	    position: fixed;    bottom: 2px;    right: 5px;    background-color: white;    padding: 2px; }
	
	.page-content .sito-under-adv { max-width:100%; overflow:hidden;}
	
	#ed_Related_Box { display:none;}
	
	#header-logo { /*background-color: #EFEFEF;*//* position: fixed; */ margin-top:-2px!important; padding: 4px!important; z-index:10; display:table!important;}
		#header-logo a img { width: 50%; height:auto;  }
			
	.navigazione-news { /*display: none;*/}
	.social-tool-bar {/*display:none;*/ height:auto!important; float:none!important;}
	.social-tool-bar li {float:none!important;}
	
	.art-pagine {margin:10px;}
	.art-pagine .next a { font-size:18px;}
	.art-pagine li span {display:block;}
	.art-pagine li a { font-size:16px;}
	
	.commenti { margin: 10px; }
	
	.commenti .header span { font-size: 1em; }
	
	.commenti .commento {overflow: scroll;}
	.commenti .commento .testo { font-size:1.2em;}
	.commenti .commento .commenti-quote-container { margin:0;}
	
	.commenti input,.commenti textarea { max-width:100%!important; margin-bottom:10px; font-size:1.5em;}
	
	.navigazione-commenti select {display:block; width:100%; margin:15px 0; padding:5px;}
	
	#twenga-container, .unruly-commenti, #ligatus_ad_speweb_hardwareupgrade_smartbox {/*display:none;*/}	
	body {border-top:1px solid transparent!important; }
	
	#wrb1_x1_Container {display:none;}
	

	/*offerte*/
	
	.offerte-wrapper {margin:0 20px 0 0; }
	.offerte-wrapper .description { width:100%;}
	.offerte-wrapper .collegamenti { width:100%; }
		.offerte-wrapper .collegamenti  li { width:100%; }
		.offerte-wrapper .collegamenti  li .thumb { width:auto;}
	.offerte-wrapper .offerte-container { width:100%;}

}


@media only screen and (max-width: 1000px) {	/* LAYOUT 2 */
	
	
	body#thebody {  margin-top: 0px!important; background-image: none!important; background-color:#fff!important; }

	body#thebody #inner-wrapper { margin:0px; padding:0px; width:auto; } 
	
	body#thebody #main { width:auto;}
	
	body#thebody #footer { margin:0px; padding:0px; width:auto; margin-bottom: 30px; }
	
	body#thebody #footer .legal, body#thebody #footer .menu-static {font-size:16px;}
	
	
	#div_skin, .div-skin { display:none; }
	
	#header .external {display:none;}
	
	/* LEADERBOARD da sistemare */ .banner728x90 { width:auto!important;}
	
	#header-sx  { display:none;}
	
	#header-logo {float:none; text-align:center; padding-top: 15px; display:table; width:100%!important;}
	
	#header-dx { display:none;}
	
	/*#header-dx div {display:block!important; float:none!important;  text-align:center; }*/
	
	/*#header-social a { float:none!important; display:inline-block; }*/
	
	#menu { display:none; }
	
	#strip-container { /* display:none; */ line-height:18px; width:100%; max-width:100%;}	
	
	.page-content * {max-width:100%!important;}
	
	.gallery-preview .gallery-header .all-gallery {float:none!important;}
	
	#top300x250-container .banner300x250 {min-height:auto!important;}
	

	
	/*.toTop{ display: block;}*/
	
	
	/* ------SPECIFICHE PER BREAKPOINT 1000 ----- */
	
	#external-header-qn {display:none;}

	#mobile-menu-btn { display:table-cell; }
	#mobile-coldx-btn { display:table-cell; }
	
	#mobile-coldx-close	{display: block;}
	#mobile-menu-close  {display: block;}
	
	.page-content .intestazione .abstract, .page-content .intestazione .dettagli, .page-content .intestazione .categoria  { font-size:16px!important; line-height: 20px!important;}
	
	#col-sx { width:100%; }
	.page-content { 	max-width: 624px;  margin-left: auto;  margin-right: auto; font-size: 17px; background-color:#FFF!important;  }
	
	/*
	.page-content .intestazione {	  	}
		.page-content .intestazione .dettagli {  width: 80%!important; }
		.page-content .intestazione .abstract {  }
		.page-content .intestazione .thumb { max-width: 15%!important; height: auto; float:right; margin: 18px 0px 0 0; }	
	*/
		.page-content img { max-width:100%!important; }
		.page-content iframe { max-width:100%!important; }
		
		.page-content .banner300x250 {    text-align: center; margin-top:20px; }
	
		.page-content .intestazione .titolo {	 margin-bottom:20px;  	}
		.page-content .intestazione .dettagli {  float:none!important; }
		.page-content .intestazione .abstract {  }
		.page-content .intestazione .thumb { max-width: 50%!important; height: auto; float:right; margin: 0px 5px 5px 5px; }	

	/*col dx*/
	#main { overflow: hidden; position: relative; }
	
	#col-dx{	
		position: fixed;
		margin-top:0!important;
		top: 0;
		bottom:0;
		right: -330px;
		background-color: #fff;
		/*border-left: 7px solid #737373;*/
		/*border-bottom: 7px solid #737373;*/
		max-width: 320px;
		overflow-x: hidden;
		overflow-y: scroll;	
		-webkit-overflow-scrolling: touch;
		/*max-height: 90%;*/
		z-index: 12;
		
		-webkit-box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.5);
		box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.5);
	}
	
	#mobile-menu {
		display:block; 
		position: fixed;
		top: 0;
		bottom:0;
		left: -330px;
		background-color: #fff;
		/*border-right: 7px solid #737373;*/
		/*border-bottom: 7px solid #737373;*/
		min-width:300px;
		max-width: 320px;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		/*max-height: 90%;*/
		z-index: 12;
		text-align:left;
		
		
		-webkit-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.50);
		-moz-box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.50);
		box-shadow: 4px 0px 10px 0px rgba(0,0,0,0.50);
		
		
		
	 }
	 
		a.mobile-menu-item:link    { color: #38558F; text-decoration:none; }
		a.mobile-menu-item:visited { color: #38558F; text-decoration:none; } 
		a.mobile-menu-item:hover, a.mobile-menu-item:active   { color: #FC0; text-decoration: none;  }

	 	
	
	
	.left-slide {
		left: 0;
		transition-property: left;
		transition-duration: 0.5s;
		transition-timing-function: ease-in ;
		-webkit-transition-timing-function: ease-in ;
		transition-delay: 0;
		

	}
	
	.right-slide {
		right: 0;
		transition-property: right;
		transition-duration: 0.5s;
		transition-timing-function: ease-in ;
		-webkit-transition-timing-function: ease-in ;
		transition-delay: 0;
		
	}
	 
	 
	 
	 #mobile-menu .items a { display:block; padding:15px 15px; margin:2px 0; border-bottom:1px solid #ccc; font-weight:bold; }
		 #mobile-menu #login { text-align:left; margin-left:20px; font-size:18px!important; }
		 #mobile-menu #header-social a { margin: 10px;}

	
	body {border-top:2px solid transparent;}
	
	#wrapper { margin-top:0!important;}
		
	#col-dx #articoli-container li,#col-dx #news-container li,#col-dx #appunti-container li, 	#col-dx .multimedia-item .titolo{font-size:18px!important; font-weight:100!important; } 
		
	#col-dx .multimedia-item {height:auto;}
	
	#col-dx .more { font-size:14px!important; }
	
	.commenti input,.commenti textarea { max-width:100%!important; margin-bottom:10px; font-size:1.5em;}
	
	
	
	.amz-prodotto.tabella .nome-prodotto {display: inline;}
	.amz-prodotto.tabella .prezzo-prodotto {display: block;    float: none;    margin: 5px; }
	.amz-prodotto.tabella { padding: 10px 0 5px 0; }

	/*offerte*/
	.offerte-wrapper .collegamenti { width:60%;}
		.offerte-wrapper .collegamenti  li { width:100%; height:220px;}
		.offerte-wrapper .collegamenti  li .thumb { width:auto;}
	.offerte-wrapper .offerte-container { width:60%;}
	
	
	/*body{font-family: Lato,Arial, Helvetica, sans-serif; font-weight:400;}*/
	
	
	/*
	
	
	
	
	
	
	.page-content .intestazione {	  	}
		.page-content .intestazione .dettagli { width: 80%!important; }
		.page-content .intestazione .abstract {  }
		.page-content .intestazione .thumb { max-width: 15%!important;  height: auto; }
	
	.page-content .intestazione {	position: relative;   	}
		.page-content .intestazione .dettagli { margin-right: 20%;  border:1px solid red;  }
		.page-content .intestazione .abstract { margin-right: -10%; border:1px solid green;  }
		.page-content .intestazione .thumb { position: absolute; bottom:15px; right:-15px; max-width: 20%!important;   height: auto; }

	
	.page-content .intestazione {	position: relative;   	}
		.page-content .intestazione .titolo { margin-right: 20%;  min-height: 70px;  }
		.page-content .intestazione .thumb { position: absolute; top:0px; right:-15px; max-width: 20%!important;   height: auto; }

	
	
	.page-content .intestazione {	display: flex;	   	}

		.page-content .intestazione .titolo { order:2}
		.page-content .intestazione .thumb { order:1}
		.page-content .intestazione .dettagli { order:3} 
		
	*/
}

@media only screen and (min-width:800px) and (max-width: 1000px) { /* LAYOUT 3 */
	#col-sx { width:60%; max-width:660px; }
	.page-content { margin-left: auto;  margin-right: auto; padding: 10px;  }
	.social-tool-bar { height:auto!important; }
	.social-tool-bar li {float:none!important;}
	#twenga-container, .unruly-commenti, #ligatus_ad_speweb_hardwareupgrade_smartbox { /*display:none;*/}
	.page-content .sito-under-adv { max-width:100%; overflow:hidden;}
	
	#main { /*overflow:visible; position:static;*/}
	#col-dx {
		position: static;
		top:auto;
		right: auto;
		background-color: transparent;
		border: none!important;
		max-width: none;
		overflow-x: visible;
		overflow-y: visible;
		max-height: 90%;
		z-index: auto;
		box-shadow: none;
	}
	
	#mobile-coldx-btn { visibility:hidden;}
	#mobile-coldx-close { display:none;}
	
	body {border-top:3px solid transparent;}
	
	
	
	/*offerte*/
	
	.offerte-wrapper .collegamenti { width:60%;}
		.offerte-wrapper .collegamenti  li { width:47%; height:320px;}
	.offerte-wrapper .offerte-container { width:60%;}
	
	
}


/*FIX VARI*/
@media only screen and (max-width: 500px) {
	.quote-left, .quote-right { float:none; }
}
@media only screen and (max-width: 750px) {
	/*.banner728x90 { display:none;}*/
	
	
	
}









/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*/