
/*

.video-container {
    height: 0px;
    padding-bottom: 56.25%; 
    position:relative;
    width: 100%;
}

.video-container iframe {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}


*/
	


@media only screen and (max-width: 1000px) { /* LAYOUT 2 */
	
	/*#header-logo {border:1px solid green;}*/
	
	
		#primopiano-container {width:auto; background:none;}
	#primopiano-articolo-bg { width:auto;}
		
		#primopiano-articolo-bg .image, #primopiano-articolo-bg .overlay {position: static!important; top: auto!important; right: auto!important; bottom:auto!important; left:auto!important;}
		#primopiano-articolo-bg .overlay { display:none;  }
		#primopiano-articolo-bg .image{ width:100%; height:auto;}
	
	    #primopiano-articolo { position: absolute; top:0; right:0; bottom: 0; left: 0;  width:auto; height:auto; }
		#primopiano-articolo .cat-ico { display:none;}
		#primopiano-articolo .label { width:auto;}
	
	#primopiano-altri-articoli-container {    position: static;    top: auto;    right: auto;    width: 100%; padding:20px;	    background-image: none; background-color:#333; height: auto;}
	#primopiano-altri-articoli-wrapper { margin:0;}
	
	#primopiano-altri-articoli-wrapper .articolo { margin:0 0 10px 0; width: 90%;}
	#primopiano-altri-articoli-wrapper .articolo .titolo { float: none;;    display: block;     width: auto; font-size: 14px; }
	
	
	
	#col-sx #news-container {width:100%; margin-bottom:20px; }
	
		#col-sx #news-container .news-item { padding: 15px 15px 10px 15px;  }
		#col-sx #news-container .news-item span { font-size:12px!important;}
		#col-sx #news-container .news-item .categoria {	font-weight: bold; }
		#col-sx #news-container .news-item h3 { font-size:18px; line-height: 20px;}
		
	.more {font-size:14px!important; right: 5px;  bottom: 5px;}
		
		
	#col-sx #col-centrale {clear:both; margin: 10px auto 0 auto; float: none; display: block; width:auto; max-width:300px;}
		#col-sx #col-centrale #box-evidenza .highlight { margin-top:10px;}
		#col-sx #col-centrale #box-evidenza .image, #col-sx #col-centrale #box-evidenza .overlay { margin-left:30px;}
		#col-sx #col-centrale #box-evidenza .highlight .label { left:30px;}
		#col-sx #col-centrale #box-evidenza .categoria {font-size:12px; font-weight:bold;} 
		#col-sx #col-centrale #box-evidenza .titolo { font-size:16px;}
		#col-sx #col-centrale #box-evidenza .abstract {font-size:14px;}
		
		#col-centrale .chiusura img { width:300px; }
		
	
	#col-sx #col-centrale #box-download #tab-download .download-item .titolo { width:215px; height:auto; font-size:14px; overflow:visible; white-space:normal;}
	
	.usual ul a {font-size:14px;}
	
	
	#news-piu-lette ul { overflow-x:scroll; }
	#news-piu-lette ul li { display:table-cell; float:none;  padding: 20px; }
	
	
	.box-generico {    margin: 9px auto 0 auto;    background-color: #333;  float: none; display: block; }
	.box-generico ul li { font-weight:normal; white-space:normal; margin-bottom:10px; font-size:14px;}
	#box-hwfiles { margin-left:auto;}
	
	.vetrinePartner {overflow-x: scroll;}
	.vetrine { float: none; display: table-cell;    margin: 0 auto 0 auto;    width: 325px;}
	
	#box-gamemag { float: none;}
		#box-gamemag .wrapper .coldx {	width: 100%; text-align: center;}
		#box-gamemag .wrapper .coldx .img-wrapper { display:inline-block; text-align: left;}
		#box-gamemag .wrapper .contenuti { float:none; display:block; width:auto; }
		#box-gamemag .wrapper .contenuti .img-wrapper img { display:block; width:100%;}
		#box-gamemag .wrapper .contenuti .img-wrapper .label { width:auto;}
		#box-gamemag .wrapper .contenuti ul li { font-size:14px; font-weight:normal;}
		#box-gamemag .wrapper .contenuti ul li a { width:auto;}
		#box-gamemag .wrapper .coldx .img-wrapper .titolo { font-size:12px;}
		
	#box-fotografidigitali { float: none;}
		#box-fotografidigitali .wrapper .coldx {	width: 100%; text-align: center;}
		#box-fotografidigitali .wrapper .coldx .img-wrapper { display:inline-block; text-align: left;}
		#box-fotografidigitali .wrapper .contenuti { float:none; display:block; width:auto; }
		#box-fotografidigitali .wrapper .contenuti .img-wrapper img { display:block; width:100%;}
		#box-fotografidigitali .wrapper .contenuti .img-wrapper .label { width:auto;}
		#box-fotografidigitali .wrapper .contenuti ul li { font-size:14px; font-weight:normal;}
		#box-fotografidigitali .wrapper .contenuti ul li a { width:auto;}
		#box-fotografidigitali .wrapper .coldx .img-wrapper .titolo { font-size:12px;}	
		
		
	#col-dx { font-size:14px!important;}
	#eventi-container .evento .quando { font-size:12px;} 
	
	#top300x250-background {  background-color: transparent; height: auto; }
	#col-dx.homepage #top300x250-container { margin-top:auto; margin-left: -8px;}
	
	
	
}

@media only screen  and (min-width:800px) and (max-width: 1000px) {	/* LAYOUT 3 */
	
	/*#header-logo {border:1px solid orange;}*/
	
	#col-sx {  width: 58%; max-width: auto; }
	
	#primopiano-container { overflow:hidden;}
	
	#col-dx.homepage {margin-left: 8px;}
	
	#col-centrale { display:none!important;}
}


@media only screen and (max-width: 624px) { /* LAYOUT 1 */
	
	/*#header-logo {border:1px solid red!important;}*/
	.event-articoli .event-articolo {  max-width:100%; width:100%; display:inline-block; position:relative; text-align:left; margin-top:2px;}
		   
}