
body{ margin:0px;padding:0px; background-color: #f4f2ed; color:#000; font-family:Arial, Helvetica, sans-serif; }

@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  src: local('Francois One Regular'), local('FrancoisOne-Regular'), url(font/FrancoisOne.woff) format('woff');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(font/RobotoRegular.woff) format('woff');
}

#wrapper {text-align:center; }

	#leaderboard-container { text-align:center; }
		#leaderboard-container .banner728x90 {width:728px;/* height:90px; */ min-height:90px; margin: 13px auto 0 auto; color:#999; }

	#inner-wrapper { margin: 13px auto 20px auto; width: 1014px; background-color:#FFF; padding: 5px 0 10px 0; }
	
		
	
		#main { margin: 0 auto 0 auto;  width: 994px; text-align:left; }
		
		#test-wrap {border:1px solid red;}


		#header {  }
			
			
			
			/* qnet menu */
			#fedhead2_menu { margin:0 0 0 152px ; padding:0 0 5px 0; display:block; border-bottom:1px solid #C9C9C9;  }
			
			#fedhead2_menu .fedhead2_item { margin:0; padding: 0 6px; list-style:none; display:inline; border-right: 1px dotted #D9D9D9; font-size: 12px; text-transform: uppercase;}
			
			#fedhead2_menu .fedhead2_item.searchbox { border:0px;}
			
			#search { display:inline; padding:0; margin:0; }
				#search input { float:right; display:inline; margin-top:0px; }
				#search #cerca-submit { margin:2px 0 0 2px;}
				#search #q { border: 0px; border-bottom:1px dotted #ccc; background-color: #e8e8e8; color: #06C; padding-left:7px; width: 110px;}
				
				    #header-sx {    text-align: center; padding-top:37px; font-size: 12px; color:#777;}
					#search input { float:none;}
					#search #cerca-submit {float:none; vertical-align:middle;}
				
			
			#logo-qnet { margin:-23px 0 0 0; width:109px; height:73px;}
			#raccordo-qnet { position:absolute; margin:-2px 0 0 7px;   }
			
				a.linkfedhead:link    { color: #666; text-decoration:none; }
				a.linkfedhead:visited { color: #666; text-decoration:none; } 
				a.linkfedhead:hover, a.linkfedhead:active   { color: #c00; text-decoration: none;  }

			
			/* /qnet menu*/
			
			
			#header-sx	{ float:left; display:inline; width:347px; position:relative; }
			#header-logo{ float:left; display:inline; width:300px; margin: 8px 0 15px 0;}
				#header-logo img{ border:0px; width:266px; height:86px; }
			#header-dx	{ float:left; display:inline; width:347px; }

			#login { text-align:right; margin-top:15px; font-size:12px;}
				#logged-username { font-size:12px; font-weight:bold; color: #048}
				#btn-logout {font-size:10px; text-transform:uppercase; }

			#header-social { text-align:right; float:right; margin-top:5px; }
				#header-social a { float:left; display:inline; margin:0 0 0 5px; }
				#header-social a img {width:35px; height:35px;}


		#menu { background-color: #395590; height:40px; color:#FFF; overflow:hidden; }
		
			#menu ul { margin:0; padding:0;}
			#menu li { margin:0; padding:0; height:40px;  line-height:40px; list-style:none; float:left; display:inline; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size: 16px; background-image:url(img/menu-separator.jpg); background-repeat:no-repeat; background-position:0% 50%}
			#menu li:first-child { background-image:none; margin:0 0 0 10px;}
			
			
			#menu ul li a {padding:10px;  text-shadow: 1px 1px 1px #011434; }
			
				a.linkmenu:link    { color: #fff; text-decoration:none; }
				a.linkmenu:visited { color: #fff; text-decoration:none; } 
				a.linkmenu:hover, a.linkmenu:active   { color: #FC0; text-decoration: none;  }
			
				
		
		#menu-selector { position:absolute; top:0; left:0; display:none; z-index:101; white-space:nowrap;  }
			#menu-selector .sx { float:left; display:inline; width:20px; height:58px; background-image:url(img/sfondo-voce-menu.png); background-repeat:no-repeat; background-position:0 0;}
			#menu-selector .centro { float:left; display:inline; height:58px; line-height:56px; color:#FFF;  text-shadow: 1px 1px 1px #011434; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size: 16px; text-transform:uppercase;  background-image:url(img/sfondo-voce-menu.png); background-repeat:no-repeat; background-position:50% 0; }
			#menu-selector .dx { float:left; display:inline; width:20px; height:58px; background-image:url(img/sfondo-voce-menu.png); background-repeat:no-repeat; background-position:100% 0;}

			#menu-selector .centro .linkmenu:hover, #menu-selector .centro .linkmenu:active {color: #fff; }

		
		#submenu-container { clear:both; color:#000; text-align:left; }
			.submenu { width:600px; height:300px; background-color:#FFF; border-radius:3px; display:none; position:absolute; z-index:100; overflow:hidden; text-align:left;}
				.submenu ul { margin:12px; padding:0; }
				.submenu ul li { margin:0; padding:0 0 0 10px; list-style:none; line-height:26px; border-bottom:1px dotted #d2d7e1;  }
				.submenu ul li .linksubmenu { display:block; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size: 13px; text-transform:uppercase;}
				.submenu .voci { float:left; display:inline; width:170px; height:300px; background-color:#f6f7f9; border-top-left-radius:3px; border-bottom-left-radius:3px;}
				.submenu .contenuti { float:left; display:inline; width: 430px; }
					.submenu .contenuti .highlight {display:block; margin:10px; padding-bottom:10px; border-bottom:1px dotted #d2d7e1; height:92px; overflow:hidden;  }
					.submenu .contenuti .highlight .thumb-container {float:left; display:inline; margin:0 10px 0 0; width: 160px; height:90px; overflow:hidden;}
					.submenu .contenuti .highlight .thumb {float:left; display:inline; width:160px; height:90px;}
					.submenu .contenuti .highlight .thumb.tvt { width:160px; height:auto; margin-top:-15px;}
					.submenu .contenuti .highlight .titolo {float:left; display:inline; width: 240px; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size: 14px; text-transform:uppercase; }
					.submenu .contenuti .highlight .abstract { font-size:11px; color:#555; } 
					.submenu .contenuti .highlight .clear {display:block;}
					
					.submenu .contenuti .highlight li {margin:0px; padding:0;  padding:0; line-height:normal; border:0; }
					.submenu .contenuti .highlight li .abstract {margin:0px; padding:0;  line-height:normal;}
					
				
					.submenu .contenuti .container { float:left; display:inline; margin: 0 10px 10px 10px; width: 330px; }  
					.submenu .contenuti .container ul {margin:0; padding:0; }
					.submenu .contenuti .container ul li {margin:0 0 8px 0; padding:0; line-height: 16px; border:0; list-style:none; font-size:11px;  font-weight:bold; overflow:hidden; white-space:nowrap; }
					.submenu .contenuti .container ul li .data { float:left; display:block; background-color:#c3c2bf; color:#FFF; font-size:10px; text-shadow: 1px 1px 1px #888;  margin:0px 5px 0 0; padding:0 3px;  border-radius: 3px; text-transform:uppercase; }
					.submenu .contenuti .container ul li a {text-overflow:ellipsis; display:block; width:270px; overflow:hidden; }
				
					.submenu .contenuti .cat-ico { float:left; display:inline; margin-top:101px;}
				
					a.linksubmenu:link    { color: #395590; text-decoration:none;  }
					a.linksubmenu:visited { color: #395590; text-decoration:none; } 
					a.linksubmenu:hover, a.linksubmenu:active   { color: #C01827; text-decoration: none; } 
				
				#sub-appuntidigitali .contenuti .container {  margin-top:10px; }
				
				/*
				#sub-appuntidigitali .contenuti .container ul li:first-child { overflow:visible;}
				#sub-appuntidigitali .contenuti .container ul li:first-child a {font-size: 15px;  text-overflow: clip; display:block; clear:both; padding:5px 0 0 0;  overflow:visible; white-space:normal; font-family:'Francois One',Arial, Helvetica, sans-serif; line-height:normal; text-transform:uppercase; font-weight:normal  }
				*/
				#sub-appuntidigitali .contenuti .cat-ico {  margin-top:225px; }
				

		/* submenu qn */
		#menu-selector.qn { margin-top:-6px; }
			#menu-selector.qn .sx {  background-image:url(img/sfondo-voce-menu-qn.png); }
			#menu-selector.qn .centro { background-image:url(img/sfondo-voce-menu-qn.png); }
			#menu-selector.qn .dx { background-image:url(img/sfondo-voce-menu-qn.png);}
			
			#menu-selector.qn .centro img { margin-top:8px;  }
			
		#sub-qn { height:auto; width:auto; background-color:transparent; overflow:visible; margin-top:-8px;} /*.submenu */
			#sub-qn a {color:#395590}
		
		/* /submenu qn */

		#strip-container { margin: 10px 0 10px 2px; width: 990px;  color:#999; }


	#footer-wrapper { clear:both;  }
		#footer { margin: 30px auto 20px auto; width: 1014px; }
			
			#footer .menu {margin:0; padding:0; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size: 15px; text-transform:uppercase; color:#7f7d76;}
			#footer .menu a { padding:5px; }
			
			#footer .legal { color:#a5a49f; font-size:11px; display:block; margin:20px;}
			
			#footer .legal a {color:#a5a49f;}
			
			#footer .menu-static { font-size:11px; font-weight:bold; }
			
			#footer .mobile-switch {  margin: 10px; color:#999;  }
				#footer .mobile-switch a {display:inline-block; padding: 10px 20px 20px 20px; text-transform:uppercase; font-weight:bold;} 

/* CATEGORIE */

	.gam {color:#F60;}
		.gam span {border-left: 5px solid #F60;}
	.hwf {color: #C167E9;}
		.hwf span {border-left: 5px solid #C167E9;}
	.hwu {color: #09F;}
		.hwu span {border-left: 5px solid #09F;}
	.mob {color:#8db000;}
		.mob span {border-left: 5px solid #8db000;}
	.fot {color:#111;}
		.fot span {border-left: 5px solid #111;}
	.biz {color:#C00;}
		.biz span {border-left: 5px solid #C00;}
 


/* HOME */

		#col-sx { float:left; display:inline; width:674px; }
		
		#col-dx { float:left; display:inline; width:320px; }
			


		/* PRIMOPIANO */
		#primopiano-container {width:674px; position:relative; background-color:#000;}
	
		#primopiano-articolo-bg { position:relative; width:448px;}
				#primopiano-articolo-bg .image {border:0; position:absolute; top:0; left:0; width:448px; height:252px; }
				#primopiano-articolo-bg .overlay{  border:0; width:425px; height:252px; /*background-image:url(img/trama1.png);*/ position:absolute; top:0; left:0; }
			
			#primopiano-articolo { position:relative; display:block; width:425px; height:252px; z-index:1; }
				#primopiano-articolo .cat-ico { margin:15px 0 0 17px;}
				#primopiano-articolo .label { position:absolute; bottom:0; left:0; padding:20px 20px 15px 20px; width:300px; display:block; background-image:url(img/background-png-50-10x10.png); color:#FFF; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:20px; text-transform:uppercase;}
				
				#primopiano-articolo .label .categoria {display:block; font-size:9px; margin-bottom:3px; font-family:Arial, Helvetica, sans-serif; }
				#primopiano-articolo .label .categoria span { background-color:#333; padding: 3px 3px 2px 3px; color: #fff;}
				
				
				#primopiano-altri-articoli-container { z-index:0; }
				#primopiano-altri-articoli-wrapper {z-index:2;}

			#primopiano-articolo:hover .label  { color: #FC0; text-decoration: none;  }
			

			#primopiano-altri-articoli-container { position:absolute; top:0; right:0; width:400px; color:#FFF; background-image:url(img/primopiano-sfumino.png); background-repeat:repeat-y; height:252px; }
			#primopiano-altri-articoli-wrapper { margin:18px 0 0 160px; padding: 0; list-style:none; }
			
				#primopiano-altri-articoli-wrapper .articolo { margin: 0 0 20px 0; padding:0; clear:both; position:relative; }
				
				#primopiano-altri-articoli-wrapper .articolo .cat-ico {width:20px; position:absolute; top:-7px; left:-7px; border:0;}
				#primopiano-altri-articoli-wrapper .articolo .thumb { float:left; display:inline; margin: 0 10px 20px 0; border:0px; width:64px; height:36px;}
				#primopiano-altri-articoli-wrapper .articolo .titolo { float:left; display:inline; width: 160px; font-size:11px; font-family: 'Francois One',Arial, Helvetica, sans-serif; text-transform:uppercase;}
				
				#primopiano-altri-articoli-wrapper a.linkarticolo2 { margin:0 0 10px 0; }

				#primopiano-altri-articoli-wrapper a.linkarticolo2:link    { color: #fff; text-decoration:none; }
				#primopiano-altri-articoli-wrapper a.linkarticolo2:visited { color: #fff; text-decoration:none; } 
				#primopiano-altri-articoli-wrapper a.linkarticolo2:hover, #primopiano-altri-articoli-wrapper a.linkarticolo2:active   { color: #FC0; text-decoration: none;  }

			
			#primopiano-altri-articoli-container .more { font-size:11px; position:absolute; right:0; bottom:3px;}



		/* HOME COL-SX */
		
			#col-sx #news-container { float:left; display:inline; width:424px; margin: 10px 10px 0 0; padding:0; }
			
			
				#col-sx #news-container .news-item {border-bottom:1px solid #dadee6;margin:0; padding:8px 0 8px 10px; list-style:none; min-height:55px; }
				#col-sx #news-container .news-item .img-wrapper { position:relative; display:block; float:left; width:87px; height:52px; margin: 0 10px 0 -7px; }
				#col-sx #news-container .news-item .img-wrapper .cat-ico {width:20px; position:absolute; top:0; left:0; border:0; z-index: 1;}
				#col-sx #news-container .news-item .img-wrapper .thumb {width:80px; height: 45px; position:absolute; top:7px; left:7px; border:0; z-index:0; background-color:#333;  }
				#col-sx #news-container .news-item .data { float:left; display:block; background-color:#c3c2bf; color:#FFF; font-size:10px; text-shadow: 1px 1px 1px #888;  margin:0px 0 0 0; padding:0 3px;  border-radius: 3px; text-transform:uppercase; }
				#col-sx #news-container .news-item .data.oggi { background-color: #777;}
				#col-sx #news-container .news-item .tag_eventosmall {float:left; display:block; font-size: 10px; background-color: #C00; color: #FFF; padding:0px 3px; margin:0 0 0 5px; }
				#col-sx #news-container .news-item .categoria {float:left; display:block; font-size:9px; text-transform:uppercase; margin: 1px 0 0 5px; height:12px; }
				
				#col-sx #news-container .news-item  h3 {margin:0; padding:0; display:inline; font-size:13px; line-height:17px; /*mod 29/8 */ font-family: 'Roboto',Arial, Helvetica, sans-serif; ; font-weight: 400; font-size: 14px;  }
				#col-sx #news-container .news-item .abstract {color:#777; font-size:12px; line-height:17px;}
				/*
				#col-sx #news-container .news-item  h3 {margin:0; padding:0;  font-size:12px; line-height:17px;  }
				#col-sx #news-container .news-item .abstract {color:#777; font-size:12px; line-height:12px;}
				*/
				
				#col-sx #news-container .more { font-size:11px; text-align:right; list-style:none; margin:0; padding:0; }
			
				#col-sx #news-container .bannerMobile { list-style:none;     text-align: center;    margin: 15px 0 10px 0;  }

			
			#col-sx #col-centrale { float:left; display:inline; width:240px; margin: 10px 0 0 0; }
				
				
				#col-sx #col-centrale #box-evidenza { background-image:url(img/evidenza-bg-full.jpg);  }
				
				#col-sx #col-centrale #box-evidenza .highlight { position:relative; display:block; height:135px; }
				#col-sx #col-centrale #box-evidenza .highlight .image { width:240px; height:135px; border:0; position:absolute; top:0; left:0; }
				#col-sx #col-centrale #box-evidenza .highlight .overlay{  border:0; background-image:url(img/trama1.png); width:240px; height:135px; position:absolute; top:0; left:0;}
				#col-sx #col-centrale #box-evidenza .highlight .label { position:absolute; top:0; left:0;  display:block; background-image:url(img/background-png-50-10x10.png); color:#FFF; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}
				#col-sx #col-centrale #box-evidenza .highlight .label  span {  display:block; float:left; margin:5px 7px 0 0;  }
				#col-sx #col-centrale #box-evidenza .highlight .cat-ico  { float:left; display:inline; width:20px; margin: 5px; border:0; }
				
				#col-sx #col-centrale #box-evidenza .highlight .nocat-ico {float:left; display:inline; width:20px; margin: 5px; border:0; }

				
				#col-sx #col-centrale #box-evidenza .categoria {display:block; font-size:9px; font-family:Arial, Helvetica, sans-serif;text-transform:uppercase; margin:10px 0 5px 10px;}
				#col-sx #col-centrale #box-evidenza .titolo { display:block; margin:0 10px 0 10px; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase; }
				#col-sx #col-centrale #box-evidenza .abstract { display:block; padding:5px 10px 10px 10px; font-size: 12px; color:#555; }
				
				
				
				
				#col-sx #col-centrale #box-download { background-image:url(img/evidenza-bg-full.jpg);  }
				#col-sx #col-centrale #box-download .header { display:block; padding:10px; background-color:#fbfaf9; color:#395590; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}
				#col-sx #col-centrale #box-download .highlight { position:relative; display:block; height:135px; }
				#col-sx #col-centrale #box-download .highlight .image { width:240px; height:135px; border:0; position:absolute; top:0; left:0; }
				#col-sx #col-centrale #box-download .highlight .overlay{  border:0; background-image:url(img/trama1.png); width:240px; height:135px; position:absolute; top:0; left:0;}
				#col-sx #col-centrale #box-download .highlight .label { position:absolute; top:0; left:0;  display:block; background-image:url(img/background-png-50-10x10.png); color:#FFF; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}
				#col-sx #col-centrale #box-download .highlight .label  span {  display:block; float:left; margin:5px 7px 0 0;  }
				#col-sx #col-centrale #box-download .highlight .cat-ico  { float:left; display:inline; width:20px; margin: 5px; border:0; }

				
				#col-sx #col-centrale #box-download .categoria {display:block; font-size:9px; font-family:Arial, Helvetica, sans-serif;text-transform:uppercase; margin:10px 0 5px 10px;}
				#col-sx #col-centrale #box-download .titolo {  margin:0 10px 0 10px;display:block; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase;}
				#col-sx #col-centrale #box-download .abstract { display:block; padding:5px 10px 10px 10px; font-size: 12px; color:#555; }

				
				#col-sx #col-centrale #box-download .usual {
				  background: #fcfbfa;
				  border-top:1px solid #dadee6;
				  color:#111;
				  padding:0px;
				  /*width:500px;*/
				  
				}
				
				
				#col-sx #col-centrale #box-download .usual .content { background-image:url(img/download-bg2.jpg); padding:0;}
				
				#col-sx #col-centrale #box-download #tab-download .download-item { border-top:1px solid #fff;   } /* alcuni elementi (per es .titolo) ereditano le proprietÓ di "#col-sx #col-centrale #box-download .highlight" */
				#col-sx #col-centrale #box-download #tab-download .download-item:first-child { border-top:0px;;   }
				#col-sx #col-centrale #box-download #tab-download .download-item:nth-child(odd){background-image:url(img/download-bg1.jpg); }
				#col-sx #col-centrale #box-download #tab-download .download-item a { display:block; height: 36px; }
				#col-sx #col-centrale #box-download #tab-download .download-item img { float:left; display:inline; margin:15px 0px 0 7px; border:0;  }
				#col-sx #col-centrale #box-download #tab-download .download-item .titolo { text-transform:none; float:left; width:163px; height:36px; margin:0 5px 0 7px; line-height:40px; overflow:hidden; white-space:nowrap; font-size:11px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; }
				#col-sx #col-centrale #box-download #tab-download .download-item .data {float:left; display:block; background-color:#c3c2bf; color:#FFF; font-size:10px; text-shadow: 1px 1px 1px #666;  margin:13px 0 0 0; padding:0 3px;  border-radius: 3px; text-transform:uppercase;}
				#col-sx #col-centrale #box-download #tab-download .download-item .data.oggi {background-color: #777;}
				
				
				#col-sx #col-centrale #box-download .more {font-size:11px; display:block; text-align:right; list-style:none; margin:0; padding:0 5px 0 0;}
				
				
				#col-centrale .chiusura {width:240px; height:13px; margin-bottom: 20px;}

		/* download home macrocategoria */
				#col-sx #col-centrale-macrocat { float:left; display:inline; width:180px; margin: 10px 0 0 0;  }
				#col-sx #box-download-macrocat { background-image:url(img/evidenza-bg-full.jpg);  }
				#col-sx #box-download-macrocat .header { display:block; padding:10px; background-color:#fbfaf9; color:#395590; font-family: 'Francois One', Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; }
				#col-sx #box-download-macrocat .categoria { display:block; font-size:9px; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; margin:10px 0 5px 10px; }
				#col-sx #box-download-macrocat .titolo { margin:0 10px 0 10px; display:block; font-family: 'Francois One', Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase; }
				#col-sx #box-download-macrocat .abstract { display:block; padding:5px 10px 10px 10px; font-size: 12px; color:#555; }
				#col-sx #box-download-macrocat .usual { background: #fcfbfa; border-top:1px solid #dadee6; color:#111; padding:0px;  /*width:500px;*/ }
				#col-sx #box-download-macrocat .usual .content { background-image:url(img/download-bg2.jpg); padding:0; }
				#col-sx #box-download-macrocat #tab-download .download-item { border-top:1px solid #fff; } /* alcuni elementi (per es .titolo) ereditano le proprietÓ di "#col-sx #box-download-macrocat .highlight" */
				#col-sx #box-download-macrocat #tab-download .download-item:first-child { border-top:0px; ; }
				#col-sx #box-download-macrocat #tab-download .download-item:nth-child(odd) {background-image:url(img/download-bg1.jpg); }
				#col-sx #box-download-macrocat #tab-download .download-item a { display:block; height: 36px; }
				#col-sx #box-download-macrocat #tab-download .download-item img { float:left; display:inline; margin:13px 0px 0 7px; border:0; }
				#col-sx #box-download-macrocat #tab-download .download-item .titolo { text-transform:none; float:left; width:130px; /*height:36px;*/ margin:10px 5px 10px 7px; line-height:14px; overflow:hidden; font-size:11px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; }
				#col-sx #box-download-macrocat .more { font-size:11px; display:block; text-align:right; list-style:none; margin:0; padding:0 5px 0 0; }
				#col-centrale-macrocat .chiusura {width:180px; height:13px; margin-bottom: 20px;}
		


		/* SIDEBAR */
			#top300x250-background { background-color:#000; height:252px; }
			
			#top300x250-container { padding: 10px 0 0 10px;   /* height:242px; position: relative; */  }
				#top300x250-container .banner300x250 {width:300px; min-height:250px; margin: 0; color:#999; /* position:absolute; height:250px; */ } 
			#col-dx.homepage #top300x250-container {margin-top:-252px; }
/*			
			#top300x250-container { background-color: #000; padding: 10px 0 0 10px; height:242px; position: relative; }
				#top300x250-container .banner300x250 {width:300px; height:250px; margin: 0; color:#999; position:absolute; } 
*/			
			
			#col-dx-inner {  width:300px; margin: 10px 0 0 10px ; }
			

				#social-box { margin:0px 0 10px 0; border-top:1px solid #DADEE6; min-height:160px; background-color:#FFF;}
					#social-box .header { display:block; padding:10px; margin-bottom:10px; background-color:#fbfaf9; color:#395590; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}
					#social-box ul { margin:0; padding:0 0 0 10px;}  
					#social-box ul li { list-style:none; margin:0 0 10px 0; padding:0;}

				#multimedia-container { }
				
					.multimedia-item { background-color: #F5F5F5; border-bottom:1px solid #dadee6; float:left; display:inline; width:145px; height: 140px; overflow:hidden; position:relative; padding: 0px; margin: 0px 5px 10px 0px; }
					
					.multimedia-item:nth-child(odd){margin: 0px 10px 10px 0px; }
					.multimedia-item:nth-child(even){margin: 0px 0px 10px 0px; }
					
					.multimedia-item .counter { display:block; padding: 5px; text-align:center; font-size:10px; font-weight:bold; position:absolute; top:0; left:0; background-image:url(img/background-png-50-10x10.png); color:#fff; }
						.multimedia-item .gallery-icon-count { display:block; line-height:25px; font-size:7pt; text-align: left; background-image:url(img/gallery-icon-2.png); background-repeat:no-repeat; width:25px; height:20px; padding:0 0 0 27px;}
						.multimedia-item .video-icon-count { display:block; line-height:20px; font-size:7pt; text-align: left; background-image:url(img/video-icon-2.png); background-position:0px 1px; background-repeat:no-repeat; width:35px; height:20px; padding:0 0 0 30px;}
					
					.multimedia-item .thumb { width: 145px; height:82px; overflow:hidden; display:block; }
					.multimedia-item .thumb img {width:145px; border:0;}
					
					.multimedia-item .titolo { font-size:11px; padding:6px; display:block; }
					
					.multimedia-item .linkblue {font-weight:bold;}
					
					
					
					
					.multimedia-item-big { background-color: #F5F5F5; border-bottom:1px solid #dadee6; float:left; display:inline; width:300px; height: 215px; position:relative; padding: 0px; margin: 0 5px 10px 0px;}
				
					.multimedia-item-big .counter { display:block; padding: 5px; text-align:center; font-size:10px; font-weight:bold; position:absolute; top:0; left:0; background-image:url(img/background-png-50-10x10.png); color:#fff; }
						.multimedia-item-big .video-icon-count { display:block; line-height:20px; font-size:7pt; text-align: left; background-image:url(img/video-icon-2.png); background-position:0px 1px; background-repeat:no-repeat; width:35px; height:20px; padding:0 0 0 30px;}
					
					.multimedia-item-big .thumb { width: 300px; height:169px; overflow:hidden; display:block; }
					.multimedia-item-big .thumb img {width:300px; border:0;}
					
					.multimedia-item-big .titolo { font-size:13px; padding:6px; display:block; }
					
					.multimedia-item-big .linkblue {font-weight:bold;}  
					
					#multimedia-container .more {  color:#7f7d76; font-size:11px; text-align:right; margin:0px 0 10px 0;}
					
				#firstlook-container { margin:0px 0 10px 0; border-top:1px solid #D50000;}
					#firstlook-container .header { display:block; padding:10px; background-color:#fbfaf9; color: #D50000; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}

					#firstlook-container ul { margin:0; padding:0;}
					#firstlook-container li { margin:5px 10px 0 10px; padding: 10px 0 7px 0; list-style:none; border-bottom:1px dashed #ddd; font-size:14px;   }
					#firstlook-container li .thumb { width:85px; height:48px; margin: 3px 15px 10px 0; float:left; background-color:#333;  }
					#firstlook-container li .titolo { float:left; width: 180px; margin:10px 0 0 0;  }
					#firstlook-container li span.clear {display:block;}
					
					#firstlook-container .more {font-size:11px; display:block; text-align:right; list-style:none; margin:0; padding:0 10px 0 0;}

				
				#trendingtopics-container { margin:0px 0 10px 0; border-top:1px solid #D50000;}
					#trendingtopics-container .header { display:block; padding:10px; background-color:#fbfaf9; color: #D50000; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}

					#trendingtopics-container ul { margin:0; padding:0;}
					#trendingtopics-container li { margin:5px 10px 0 10px; padding: 10px 0 7px 0; list-style:none; border-bottom:1px dashed #ddd; font-size:14px;   }
					#trendingtopics-container li .thumb { width:85px; height:48px; margin: 3px 15px 10px 0; float:left; background-color:#333;  }
					#trendingtopics-container li .titolo { float:left; width: 180px; margin:10px 0 0 0;  }
					#trendingtopics-container li span.clear {display:block;}
					
					#trendingtopics-container .more {font-size:11px; display:block; text-align:right; list-style:none; margin:0; padding:0 10px 0 0;}






				#eventi-container { margin:0px 0 10px 0; border-top:1px solid #DADEE6;}
					#eventi-container .header { display:block; padding:10px; background-color:#fbfaf9; color:#395590; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}
					#eventi-container ul { margin:0; padding:0; }
					#eventi-container .evento { list-style:none; margin:4px 0 0 0; padding:0; background-color:#f9f8f5;}

					#eventi-container .evento .img-wrapper {display:inline; float:left; margin: 0 10px 0 0; }
					#eventi-container .evento .img-wrapper .thumb{ width:80px; height:60px; border:0; }
					#eventi-container .evento .dove { font-size:10px; color:#35a1d7; text-transform:uppercase; font-weight:bold; float:left; display:inline; width:205px; margin:5px 0 0px 0;}
					#eventi-container .evento .cosa { font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; float:left; display:inline; width:205px; margin:0px 0 0px 0;}
					#eventi-container .evento .quando { font-size:11px; color:#7d7d7d; font-style:italic;}
					#eventi-container .evento span.clear {display:block;}
					
					#eventi-container .more {font-size:11px; display:block; text-align:right; list-style:none; margin:0; padding:0 10px 0 0;}


				
	
					/*PROMOQUI - HOME */	
					#promoqui-home-container { margin-top:20px;}

/* LISTA NEWS */

			#col-sx #news-container.lista-news {width:650px; margin-bottom:15px;}
			#col-sx #news-container.lista-news .news-item { clear:both;}
			#col-sx #news-container.lista-news .news-item .img-wrapper { width:170px; height:100px;}
			#col-sx #news-container.lista-news .news-item .img-wrapper .thumb {width:160px; height:90px; top:0px; left:0px; }
			#col-sx #news-container.lista-news .news-item h3 { font-size:18px; }
			#col-sx #news-container.lista-news .news-item .img-wrapper .cat-ico { top:5px; left:5px; }
			#col-sx #news-container.lista-news .news-item .abstract {display:block;}
			

			
/* LISTA ARTICOLI */
			#col-sx #art-container {padding:0; margin:0; }
			#col-sx #art-container .art-item {width:650px; margin-bottom:15px; margin:0; padding:10px 0 10px 10px; list-style:none; position:relative; border-bottom: 1px solid #dadee6;}
			#col-sx #art-container .art-item .titolo { display:inline; }
			#col-sx #art-container .art-item .abstract { font-size:12px; color:#777; display:block;}
			#col-sx #art-container .art-item .thumb { float:left; display:inline; margin:0 10px 0 0; width:160px; height:90px;}
			#col-sx #art-container .art-item .cat-ico { position:absolute; top:15px; left:15px; width:20px; }
			
			#col-sx #art-container .art-item .data { float:left; display:block; background-color:#c3c2bf; color:#FFF; font-size:10px; text-shadow: 1px 1px 1px #888;  margin:0px 0 0 0; padding:0 3px;  border-radius: 3px; text-transform:uppercase; }
			#col-sx #art-container .art-item .data.oggi { background-color: #777;}
			#col-sx #art-container .art-item .categoria {float:left; display:block; font-size:9px; text-transform:uppercase; margin: 1px 0 0 5px; height:12px; }
			#col-sx #art-container .art-item .tag_eventosmall {float:left; display:block; font-size: 10px; background-color: #C00; color: #FFF; padding:0px 3px; margin:0 0 0 5px; }


/* INTERNA  */

	
	
	.page-content {padding: 10px 25px 25px 25px; font-size:14px; line-height:23px; }
	
		/* stile default per i link nei contenuti */
		.page-content a:link    { color: #06F; text-decoration:none;  }
		.page-content a:visited { color: #06F; text-decoration:none; } 
		.page-content a:hover, .page-content a:active   { color: #C01827; text-decoration: underline; }
				
		.page-content .intestazione { font-size: 12px; background-image:url(img/evidenza-bg-full.jpg); padding:15px; position:relative;}
		
			.page-content .intestazione .titolo { margin:0; padding:0; line-height:32px; font-size:30px; font-family:'Francois One',Arial, Helvetica, sans-serif;  font-weight:100; color:#395590;  }
			
			.page-content .intestazione .thumb { margin:15px 15px 0 0; padding:0; width:160px; height:90px; float:left; display:inline; }
			
			.page-content .intestazione .dettagli { font-size: 11px; color:#555; display:inline; float:left; margin:15px 0 0 0; width:415px; line-height:18px;  }
			.page-content .intestazione .abstract { display:block; margin: 0 0 10px 0; font-size:12px; font-weight:normal; }
			.page-content .intestazione .categoria { font-weight:100; text-transform:uppercase; font-size:9px; font-family:Arial, Helvetica, sans-serif; }
			.page-content .intestazione .adv_label { display:inline; float:right; padding:0px 8px 0px 8px; 	margin:-15px -15px 0 0; background-color:#38558F; color:#F8F7F3; font-family:Arial,Helvetica,sans-serif;/*'Roboto',*//*'Francois One',Arial,Helvetica,sans-serif;*/	font-size:11px;		}
			

			.page-content .intestazione .tag:link, .page-content .intestazione .tag:visited   { display:inline-block; margin:10px 5px 5px 0; padding: 0px 5px; font-weight:bold; font-size:12px; background-color:#E7E7E7; color:#525252; border:1px solid #DADADA; }
			.page-content .intestazione .tag:hover, .page-content .intestazione .tag:active  { background-color:#38558f; color:#fff; text-decoration:none; }
			.page-content .intestazione .tag.tag-tipo-5 { border-left: 4px solid #F60;}
			.page-content .intestazione .tag.tag-tipo-6 { border-left: 4px solid #FC0;}		

			.addthis_sharing_toolbox { position: absolute;    right: 18px;    bottom: -25px; zoom:1.2; z-index:10;	   }
			
			.toTop {display:none;  position: fixed;    left: 5px;    bottom: 6px;    width: 34px;    height: 18px;    background-color: #D8D8D8;    border: 1px solid #C7C7C7;    color: #777777;    font-weight: bold;    font-size: 26px;    text-transform: uppercase;    line-height: 10px;    text-align: center;    padding-top: 18px;    cursor: pointer;     z-index: 10;}
		
		
		.page-content .intestazione-chiusura { background-image: url(img/evidenza-chiusura.png); background-repeat:repeat-x;  }
		
		.page-content .social-tool-bar {   margin: 10px 0 10px 0; /*text-align:right;*/ float:right; height: 20px; }
			
			.page-content .social-tool-bar ul { margin:0; padding:0; }
			.page-content .social-tool-bar li { list-style-type:none; padding:0; display:inline; float:left;  }
		
			.page-content .social-tool-bar li.btn-facebook { margin-right:30px;}
			.page-content .social-tool-bar li.btn-twitter { }
			.page-content .social-tool-bar li.btn-googleplus { }
			.page-content .social-tool-bar li.btn-linkedin { }
		
		
		
		
		.page-content h2 { font-size: 18px; clear:both;     margin-bottom: -0.73em;}
		
		#articlecontents { clear:both; margin-top: 10px;}
		
		.page-content img { max-width:620px; height:auto;}


	#correlati { margin:0 25px; font-size:14px; line-height:23px;}

	.navigazione-news { margin:20px; font-size:12px;}
		.navigazione-news .prev {  width: 280px; display:inline; float:left; display:table-row; background-color:#f5f5f5;  }
		.navigazione-news .next {  width: 280px; display:inline; float:right; display:table-row; background-color:#f5f5f5;  }
		.navigazione-news .label { float: left; width: 73px; font-size: 10px; background-color: #e0e0e0; color: #585858; text-align: center; height: 44px; padding-top: 4px;}
		.navigazione-news .label.network { height: 38px; padding-top: 10px;}
		.navigazione-news .direzione { background-color: #E0E0E0;  padding-top:18px; height:30px; width:20px; float:left; display:inline; text-align:center; }
		.navigazione-news .next .direzione {float:right;}
		.navigazione-news .titolo {  width:255px; height:48px; display:table-cell; vertical-align:middle; padding: 0 10px; }
		.navigazione-news .next .titolo { text-align:right; }

	
	.commenti { margin:20px; font-size:14px;}
		.commenti .header { border-top: 1px dotted #ccc; margin: 55px 0 0 0;}
		.commenti .header h5 { margin:0; padding:0; color:#999; font-size:20px;  font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase;  }
		.commenti .header span { font-size:11px; }
		

		.commento { margin-top: 20px; margin-bottom:20px; }
			.commento .bubble { display:inline; float:left; margin-left:20px;  background-color:#efefef;  }
			.commento .autore { display:inline; float:left; margin-left:5px; font-size: 12px; font-weight:bold;}
			.commento .numero { display:inline; float:right; margin-right:10px; font-weight:bold; color:#555; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;}
			.commento .testo { clear:both; background-color: #efefef; font-size:13px; padding:15px; overflow:auto; }
			.commento .data { color:#aaa; font-size:11px; padding-left:15px;}
		
		
		.commenti-quote-container{
		 margin:5px 20px 20px 20px; 
		}
		
		.commenti-quote{
		 border:1px solid #CACACA; 
		 margin:0px; 
		 padding:5px;
		 color: #333;
		 background-color: #DADADA;
		}
		
		
		
	.navigazione-commenti { text-align:center; margin:15px 0 15px 0;}
	
	.navigazione-contenuti {text-align:center; margin:15px 0 15px 0; font-size: 12px; clear:both;}

		
	
	.art-pagine { margin:25px; }
		.art-pagine .next { text-align:right; font-size:13px; }
		
		.art-pagine ul { margin:15px 0 0 0; padding:0px 0 5px 0; list-style:none;  border:1px solid #ddd; }
		.art-pagine li.header { margin:0 0 3px 0; padding:5px; background-color: #DDD; color:#555; font-size:15px;  font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase; }
		.art-pagine li { margin:0; padding:2px 10px 2px 10px; font-size:13px; border-bottom: 1px solid #f5f5f5;  }
		.art-pagine li span { font-size:11px; font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase;}
	 	.art-pagine li.current-page { background-color: #F7F7F7; border-bottom:0; border-left:5px solid #333;}
		/*.art-pagine li.current-page span { color:#C00;}*/
	 
	#articoli-correlati {  margin:25px;  background-image:url(img/evidenza-bg-full.jpg); }
		#articoli-correlati ul { margin:15px 0 0 0; padding:0px 0 5px 0; list-style:none;  border:1px solid #ddd; }
		#articoli-correlati li.header { margin:0 0 3px 0; padding:5px; background-color: #DDD; color:#555; font-size:15px;  font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase; }
	 	#articoli-correlati li { margin:0; padding:10px 10px 10px 10px; font-size:13px; border-bottom: 1px solid #f5f5f5;  }
		#articoli-correlati li a { font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase; font-size:15px;  }
		#articoli-correlati li img { float:left; display:inline; width:120px; height:68px; margin: 4px 10px 10px 10px;}
		
		
		
/* HOME CATEGORIA */	
		
		
	.briciole {  margin: 0 0 0 10px; height: 40px; font-size:22px; font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase; }
		.briciole .sezione { color: #395590; }
		.briciole .categoria {  color: #7f7d76;  }
	
	.home-content { padding: 0 10px 10px 10px;   }	
		
		.home-content .ultimi-articoli { background-image:url(img/evidenza-bg-full.jpg); padding:20px 0 20px 20px; }
			
			.home-content .ultimi-articoli .ultimo .thumb { float:left; display:inline; width: 352px; height:198px; }
			.home-content .ultimi-articoli .ultimo .titolo {float:left; display:inline; margin:0 0 0 15px; padding:0; width: 250px; /*font-size:22px; font-weight:100;  letter-spacing:-1px; */ font-family: 'Francois One'; text-transform:uppercase; font-size:20px; font-weight:100; }
			.home-content .ultimi-articoli .ultimo .abstract { float:left; display:inline; margin:10px 0 0 15px; font-size:12px; color:#555;  width: 250px; }
		
			.home-content .ultimi-articoli .header { border-bottom: 3px solid #edece8; margin:25px 20px 0 0; padding: 0 0 2px 0;}
			.home-content .ultimi-articoli .header span { font-size: 15px; color: #7F7D76 ;  font-weight:bold; }
			.home-content .ultimi-articoli .header .more { font-size: 11px; float:right;}
			
			.home-content .ultimi-articoli .altri { margin:0; padding:0; }
				.home-content .ultimi-articoli .altri li { margin:30px  0 0 50px; padding:0; width:160px; list-style:none; float:left; display:inline;  }
				.home-content .ultimi-articoli .altri li a { font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase; }
				.home-content .ultimi-articoli .altri li img { width:160px; height:90px; }
		
		
		.home-content .ultimi-articoli-chiusura { background-image: url(img/articoli-chiusura.png); background-repeat:repeat-x;   background-position: -5px 0;  }
		
					
		.home-content .col-news { float:left; display:inline; width:450px; margin: 15px 20px 0 0; }
			
			.home-content .col-news .news { margin:0; padding:0; }
			.home-content .col-news .news li { margin:0 0 20px 0; padding:0;list-style:none; border-top:1px solid #e9e9e9; }
			.home-content .col-news .news li .tag_eventosmall {float:left; display:block; font-size: 10px; background-color: #C00; color: #FFF; padding:2px 3px; margin:0 5px 0 0px; }
			.home-content .col-news .news li .data { background-color:#e9e9e9; color:#777; font-size:10px; display:inline; float:right; padding:2px 5px;}
			.home-content .col-news .news li .thumb { float:left; display:inline; margin:30px 20px 20px 20px; width:100px; height:56px; background-color:#333; } 
			.home-content .col-news .news li h4 {margin:12px 0 0 0; padding:0; font-size:14px; float:left; display:inline; width:305px;}
			.home-content .col-news .news li .abstract { display:inline; float:left; width: 305px; font-size:12px; color:#333; }
			
			.home-content .col-news .more {font-size: 11px; display:block; text-align:right;}
			
			
		
		.home-content .evidenza { float:left; display:inline; background-color:#333; width:182px; margin:15px 0 0 0; }
			
			.home-content .evidenza .contenuti {margin:40px 0 0 11px;; padding:0;}
			.home-content .evidenza .contenuti li {margin:0 0 40px 0; padding:0; list-style:none; width:160px; color:#FFF; display:block; }
			.home-content .evidenza .contenuti li a { font-size:14px; font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase; line-height: 16px;}
			.home-content .evidenza .contenuti li img { margin:0 0 5px 0; max-width:160px;}
			.home-content .evidenza .contenuti li span {display:block; font-size:11px;}



/* LISTA EVENTI */


	#col-sx #news-container.lista-news.eventi .news-item .img-wrapper { width:130px; }
	#col-sx #news-container.lista-news.eventi .news-item .img-wrapper .thumb { width:120px; height:90px; }
	#col-sx #news-container.lista-news.eventi .news-item .luogo { font-size:9px; text-transform:uppercase; display:block; margin:5px 0 0 0; }

/* DETTAGLIO EVENTO */
		

		.home-content.evento .header { position:relative; margin-top:10px; }
		
		.home-content.evento .header .testata {width:100%;}
		.home-content.evento .header .overlay {width:100%; height:100%; background-image: url(/css/img/trama1.png);position: absolute;top: 0;left: 0;}
		.home-content.evento .header .label { position:absolute; bottom:0; display:block; padding:10px; margin:0; color: #FFF; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size: 20px; text-transform: uppercase; font-weight:100; background-image: url(/css/img/background-png-80-10x10.png); }
		.home-content.evento .header .label .tag { background-color: #333; padding: 3px 10px; display:inline-block; font-size:10px; border-left:5px solid #CF0; font-family:Arial, Helvetica, sans-serif;}
		.home-content.evento .header .label .nome { color:#FC3}
		.home-content.evento .header .label .data { display:block; font-size:13px; color:#D4D4D4}
		
		
		.home-content.evento .ultimi-articoli .ultimo { margin-top:50px;}
		.home-content.evento .ultimi-articoli .ultimo:first-child { margin-top:0px;}


		.home-content.evento .col-news .news li .thumb.small{ width:35px; height:35px; margin: 30px 52px 20px 53px; }

		.home-content.evento .evidenza .evento-logo {width:100%;}
		.home-content.evento .evidenza li .data { color:#999;}
		
	
/* ARCHIVIO */


	.home-content.archivio .ultimi-articoli .titolo { margin:0 0 0 15px; display:inline-block; padding:0; font-family: 'Francois One'; text-transform:uppercase; font-size:20px; font-weight:100; color:#395590; }
	
	.home-content.archivio .ultimi-articoli #datepicker { display:none; }
	
	
	.home-content.archivio .ultimi-articoli .ui-datepicker-trigger { width:30px; cursor:pointer; vertical-align: middle; }
	
	#ui-datepicker-div {font-size:13px;} /* :( */
	.home-content.archivio .ultimi-articoli .dataselector-wrapper { float:right; margin:0 20px 0 0; padding:5px 7px 3px 7px; border:1px solid #c2c2c2; background-color: #eee; font-family: 'Francois One',Arial, Helvetica, sans-serif;text-transform: uppercase; font-size: 11px;}
	
	.home-content.archivio h2.messaggio { border:1px solid #c2c2c2; padding: 20px;margin: 40px;font-size: 20px;font-family: 'Francois One',Arial, Helvetica, sans-serif;font-weight: 100;color: #888;background-color: #eee;}


	.home-content.archivio .dataselector-wrapper { float:right; margin:0 20px 20px 0; padding:5px 7px 3px 7px; border:1px solid #c2c2c2; background-color: #eee; font-family: 'Francois One',Arial, Helvetica, sans-serif;text-transform: uppercase; font-size: 11px;}
	.home-content.archivio #datepicker2 { display:none;  }
	.home-content.archivio .ui-datepicker-trigger { width:30px; cursor:pointer; vertical-align: middle; }



	.home-content.archivio .col-news { width:auto; margin-right:0px;}
	
	.home-content.archivio .col-news .news li .thumb { width:160px; height:90px;}
	.home-content.archivio .col-news .news li h4 { font-size: 18px; width:450px;}
	.home-content.archivio .col-news .news li .abstract {  width:450px;}


	.home-content.archivio .link-giorno-precedente {font-family: 'Francois One'; text-transform:uppercase; margin:10px 0 0 20px; float:left; display:inline;}



	/*LINK ARCHIVIO IN NEWS E ARTICOLI (LISTA)*/
	
	#col-sx .dataselector-wrapper.upper {  margin:10px 20px 0 0; } 
	#col-sx .dataselector-wrapper { float:right; margin:0 20px 20px 0; padding:5px 7px 3px 7px; border:1px solid #c2c2c2; background-color: #eee; font-family: 'Francois One',Arial, Helvetica, sans-serif;text-transform: uppercase; font-size: 11px;}
	#col-sx #datepicker { display:none;  }
	#col-sx #datepicker2 { display:none;  }
	#col-sx .ui-datepicker-trigger { width:30px; cursor:pointer; vertical-align: middle; }


	
	/* SIDEBAR PAGINE INTERNE */
	
	
	
	
	#col-dx.interne { margin: 9px 0 0 10px; width: 300px;  }
	#col-dx.interne #col-dx-inner { margin:0px; border-bottom:1px solid #f3f2ed; /*bordo da lasciare*/ }

	
	#col-dx.interne #top300x250-segnaposto { height:1px; overflow:hidden; }
	#col-dx.interne #top300x250-container { padding: 0; margin-bottom:10px; height: auto; position:static; background-color:transparent;}
	#col-dx.interne #top300x250-container .banner300x250 { position:static; }

	#col-dx.interne #appunti-container { margin:15px 0 15px 0;  }
		#col-dx.interne #appunti-container .header {border-bottom:2px solid #38558f; padding:0; margin:0; font-family: 'Francois One',Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:11px;  }
		#col-dx.interne #appunti-container .header a.linkwhite { padding:5px 10px; display:inline; line-height:22px; margin:0 0 0 20px; color:#FFF; background-color:#38558f; }

		#col-dx.interne #appunti-container ul { margin:0; padding:0;}
		#col-dx.interne #appunti-container li { margin:5px 10px 0 20px; padding: 10px 0 7px 0; list-style:none; border-bottom:1px dashed #ddd; font-size:14px;   }
		/*#col-dx.interne #appunti-container li .thumb { width:85px; height:48px; margin: 3px 15px 10px 0; float:left; background-color:#333;  }*/
		#col-dx.interne #appunti-container li .titolo { float:left; width: 220px; margin:10px 0 0 0;  }
		#col-dx.interne #appunti-container li span.clear {display:block;}
		
		#col-dx.interne #appunti-container .more { text-align:right; margin:1px 10px; font-size:10px; }
		#col-dx.interne #appunti-container .more a {background-color:#ddd; padding:2px 5px;}

		#appunti-container .linknews:link    { color: #111; text-decoration:none; }
		#appunti-container .linknews:visited { color: #111; text-decoration:none; }
		#appunti-container .linknews:hover, #appunti-container .linknews:active   { color: #C00; text-decoration: underline;  }


	#col-dx.interne #news-container { margin:15px 0 15px 0;  }
	
		#col-dx.interne #news-container .header {border-bottom:2px solid #38558f; padding:0; margin:0; font-family: 'Francois One',Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:11px;  }
		#col-dx.interne #news-container .header a.linkwhite { padding:5px 10px; display:inline; line-height:22px; margin:0 0 0 20px; color:#FFF; background-color:#38558f; }
		#col-dx.interne #news-container .header a.linkfeed {  margin: 0 0 0 200px; }

		#col-dx.interne #news-container ul { margin:0; padding:0;}
		#col-dx.interne #news-container li { margin:5px 10px 0 10px; padding: 10px 0 7px 0; list-style:none; border-bottom:1px dashed #ddd; font-size:14px;   }
		#col-dx.interne #news-container li .thumb { width:85px; height:48px; margin: 3px 15px 10px 0; float:left; background-color:#333;  }
		#col-dx.interne #news-container li .titolo { float:left; width: 180px; margin:10px 0 0 0;  }
		#col-dx.interne #news-container li span.clear {display:block;}
		
		#col-dx.interne #news-container .more { text-align:right; margin:1px 10px; font-size:10px; }
		#col-dx.interne #news-container .more a {background-color:#ddd; padding:2px 5px;}


		#news-container .linknews:link    { color: #111; text-decoration:none; }
		#news-container .linknews:visited { color: #111; text-decoration:none; }
		#news-container .linknews:hover, #news-container .linknews:active   { color: #C00; text-decoration: underline;  }


	#col-dx.interne #articoli-container { margin:15px 0 15px 0;  }
	
		#col-dx.interne #articoli-container .header {border-bottom:2px solid #38558f; padding:0; margin:0; font-family: 'Francois One',Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:11px;  }
		#col-dx.interne #articoli-container .header a.linkwhite { padding:5px 10px; display:inline; line-height:22px; margin:0 0 0 20px; color:#FFF; background-color:#38558f; }
		#col-dx.interne #articoli-container .header a.linkfeed {  margin: 0 0 0 200px; }

		#col-dx.interne #articoli-container ul { margin:0; padding:0;}
		#col-dx.interne #articoli-container li { margin:5px 10px 0 10px; padding: 10px 0 7px 0; list-style:none; border-bottom:1px dashed #ddd; font-size:14px;   }
		#col-dx.interne #articoli-container li .thumb { width:85px; height:48px; margin: 3px 15px 10px 0; float:left; background-color:#333;  }
		#col-dx.interne #articoli-container li .titolo { float:left; width: 180px; margin:10px 0 0 0;  }
		#col-dx.interne #articoli-container li span.clear {display:block;}
		
		#col-dx.interne #articoli-container .more { text-align:right; margin:1px 10px; font-size:10px; }
		#col-dx.interne #articoli-container .more a {background-color:#ddd; padding:2px 5px;}


		#articoli-container .linknews:link    { color: #111; text-decoration:none; }
		#articoli-container .linknews:visited { color: #111; text-decoration:none; }
		#articoli-container .linknews:hover, #articoli-container .linknews:active   { color: #C00; text-decoration: underline;  }

	#col-dx.interne .banner300x250 { width:300px; /*min-height: 250px;*/ margin: 0 0 10px 0; color:#999;  } 
	#col-dx.interne .banner300x250bottom { width:300px; min-height: 0; margin: 0 0 10px 0; color:#999;  }


	/* Style for Usual tabs */
	.usual {
	  background: #eee;
	  color:#111;
	  padding:0px;
	  /*width:500px;*/
	  
	}
	.usual ul { padding:12px 0 0 12px; margin:0; }
	
	.usual li { list-style:none; float:left;  }
	
	.usual ul a {
	  display:block;
	  padding:6px 10px;
	  text-decoration:none!important;
	  margin:1px;
	  margin-left:0;
	  font-family: 'Francois One',Arial, Helvetica, sans-serif;
	  text-transform:uppercase;
	  font-size:11px;
	  color:#395590;
	  background:#ddd;
	}
	.usual ul a:hover {
	  color:#FFF;
	  background:#111;
	  }
	.usual ul a.selected {
	  margin-bottom:0;
	  color:#ff6d00;
	  background:#fff;
	  border:1px solid #dadee6;
	  border-bottom:1px solid #FFF;
	  cursor:default;
	  }
	.usual div.content {
	  padding:10px 0px 0px 0px;
	  *padding-top:3px;
	  *margin-top:-15px;
	  clear:left;
	  background: #fff;
	
	}

			
/* SECONDA HOME*/			


#news-piu-lette { background-color: #333; margin:10px 0 0 0; padding-bottom:10px; border-top:3px solid #000; }
	#news-piu-lette .header { display:block; padding:10px; color:#fff; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; }		
	#news-piu-lette ul { margin:0; padding:0; }
	#news-piu-lette ul li { margin:0; padding:0; list-style:none; display:inline; float:left; width:160px; margin:0px 0 0 43px; }
	#news-piu-lette ul li:first-child { margin-left:10px;}
	#news-piu-lette ul li img { border:0; width:160px; height:90px; }
	#news-piu-lette ul li .categoria { display:block; font-size:9px; text-transform:uppercase; margin:5px 0 0 0; }
	#news-piu-lette ul li .titolo { font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; text-shadow: 1px 1px 1px #111;}

	#news-piu-lette .fot {color: #888;}

	#news-piu-lette a.linkblue:link    { color: #fff; text-decoration:none;  }
	#news-piu-lette a.linkblue:visited { color: #fff; text-decoration:none; } 
	#news-piu-lette a.linkblue:hover, #news-piu-lette a.linkblue:active   { color: #FC0; text-decoration: none; }


#box-gamemag {  background-color:#fbfaf9; border-top:1px solid #DADEE6; float:left; display: inline; width:492px; margin: 10px 10px 0 0; }
	#box-gamemag .header { display:block;  }
	#box-gamemag .header img {border:0; margin:15px; width:200px; height:28px;}
	
	#box-gamemag .wrapper { background-color:#333; color:#FFF;}
	#box-gamemag .wrapper .contenuti { float:left; display:inline; width:343px; background-color: #ff6d00; height:270px;}
		#box-gamemag .wrapper .contenuti .img-wrapper { display:block; position:relative; height: 140px; overflow:hidden;   }
		#box-gamemag .wrapper .contenuti .img-wrapper img { display:block; position:absolute; top:0;  width:343px; border:0;  }
		#box-gamemag .wrapper .contenuti .img-wrapper .label { display:block; position:absolute; bottom:0;  width:333px; padding: 10px;  background-image:url(img/background-png-50-10x10.png); color:#FFF; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;  }
		#box-gamemag .wrapper .contenuti .img-wrapper .label .categoria { color:#FFF; font-weight:100; text-transform:uppercase; font-size:9px; font-family:Arial, Helvetica, sans-serif; }
		#box-gamemag .wrapper .contenuti .img-wrapper .label .titolo { color:#F90; text-decoration:none; }

		#box-gamemag .wrapper .contenuti .header { font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; padding:10px; }
		
		#box-gamemag .wrapper .contenuti ul {margin:0; padding:0; }
		#box-gamemag .wrapper .contenuti ul li {margin:0 0 2px 0; padding:0;  list-style:none; font-size:11px;  font-weight:bold; overflow:hidden; white-space:nowrap; }
		#box-gamemag .wrapper .contenuti ul li .data {font-weight:100; font-size:9px; display:block; float:left; margin:0px 5px 2px 10px; padding:1px 3px;background-color:#cc5700; border-radius: 3px; text-shadow: 1px 1px 1px #444; text-transform:uppercase; }
		#box-gamemag .wrapper .contenuti ul li a { text-overflow:ellipsis; display:block; width:285px; overflow:hidden; }
	
	#box-gamemag .wrapper .coldx {float:left; display:inline; width:149px; }
		#box-gamemag .wrapper .coldx .header {font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; text-align:center; margin:7px 0 0 0;}
		#box-gamemag .wrapper .coldx .img-wrapper {display:block; position:relative; width:135px; height:75px; margin: 5px 0 0 7px;}
		#box-gamemag .wrapper .coldx .img-wrapper img { position:absolute; top:0; display:block; border:0;}
		#box-gamemag .wrapper .coldx .img-wrapper .titolo {padding: 7px; font-size:9px; background-image:url(img/background-png-50-10x10.png); width:121px; position:absolute; bottom:0;}
	

#box-fotografidigitali {  background-color:#fbfaf9; border-top:1px solid #DADEE6; float:left; display: inline; width:492px; margin: 10px 0 0 0; }
	#box-fotografidigitali .header { display:block;  }
	#box-fotografidigitali .header img {border:0; margin:9px 15px 10px 15px; width:199px; height:39px;}
	
	#box-fotografidigitali .wrapper { background-color:#dfdfdf; color:#333;}
	#box-fotografidigitali .wrapper .contenuti { float:left; display:inline; width:343px; background-color: #333; height:270px;}
		#box-fotografidigitali .wrapper .contenuti .img-wrapper { display:block; position:relative; height: 140px; overflow:hidden;   }
		#box-fotografidigitali .wrapper .contenuti .img-wrapper img { display:block; position:absolute; top:0;  width:343px; border:0;  }
		#box-fotografidigitali .wrapper .contenuti .img-wrapper .label { display:block; position:absolute; bottom:0;  width:333px; padding: 10px;  background-image:url(img/background-png-50-10x10.png); color:#FFF; font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;  }
		#box-fotografidigitali .wrapper .contenuti .img-wrapper .label .categoria { color:#FFF; font-weight:100; text-transform:uppercase; font-size:9px; font-family:Arial, Helvetica, sans-serif; }
		#box-fotografidigitali .wrapper .contenuti .img-wrapper .label .titolo { color:#FFF; text-decoration:none; }

		#box-fotografidigitali .wrapper .contenuti .header { font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; padding:10px; color:#FFF;}
		
		#box-fotografidigitali .wrapper .contenuti ul {margin:0; padding:0; }
		#box-fotografidigitali .wrapper .contenuti ul li {margin:0 0 2px 0; padding:0;  list-style:none; font-size:11px;  font-weight:bold; overflow:hidden; white-space:nowrap; }
		#box-fotografidigitali .wrapper .contenuti ul li .data {font-weight:100; font-size:9px; display:block; float:left; color:#FFF; margin:0px 5px 2px 10px; padding:1px 3px;background-color: #111; border-radius: 3px; text-shadow: 1px 1px 1px #000; text-transform:uppercase; }
		#box-fotografidigitali .wrapper .contenuti ul li a { text-overflow:ellipsis; display:block; width:285px; overflow:hidden; }	

	#box-fotografidigitali .wrapper .coldx {float:left; display:inline; width:149px; }
		#box-fotografidigitali .wrapper .coldx .header {font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; text-align:center; margin:7px 0 0 0;}
		#box-fotografidigitali .wrapper .coldx .img-wrapper {display:block; position:relative; width:135px; height:75px; margin: 5px 0 0 7px;}
		#box-fotografidigitali .wrapper .coldx .img-wrapper img { position:absolute; top:0; display:block; border:0; width:135px;}
		#box-fotografidigitali .wrapper .coldx .img-wrapper .titolo {padding: 7px; font-size:9px; background-image:url(img/background-png-50-10x10.png); width:121px; position:absolute; bottom:0;}


.box-generico { margin: 9px 0 0 10px; background-color:#333; color:#FFF; width:324px; float:left; display:inline; padding: 0 0 10px 0; }
	.box-generico .header { display:block; background-color:#fbfaf9; border-top:1px solid #DADEE6; }
	.box-generico .header img {border:0; margin:9px 15px 10px 15px; width:199px; height:39px;}
	.box-generico .headerino { font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; padding:10px; color:#FFF; display:block;}
	.box-generico ul {margin:0; padding:0; }
	.box-generico ul li {margin:0 0 2px 0; padding:0;  list-style:none; font-size:11px;  font-weight:bold; overflow:hidden; white-space:nowrap;  }
	.box-generico ul li a { text-overflow:ellipsis; display:block; width:265px; overflow:hidden;}
	.box-generico ul li .data {font-weight:100; font-size:9px; display:block; float:left; color:#FFF; margin:0px 5px 2px 10px; padding:1px 3px;background-color: #111; border-radius: 3px; text-shadow: 1px 1px 1px #000; text-transform:uppercase; }


#box-hwfiles { background-color:#9e79be; margin-left:0px; width:325px; }
	#box-hwfiles ul li .data {background-color: #7e6198;  }
	#box-hwfiles .header img { margin:9px 15px 10px 15px; width:120px; height:40px;}

#box-businessmagazine { background-color:#a50e0c; }
	#box-businessmagazine ul li .data {background-color: #840b0a;  }
	#box-businessmagazine .header img { margin:16px 15px 16px 15px; width:230px; height:27px;}

#box-appuntidigitali { background-color:#266096; }
	#box-appuntidigitali ul li .data {background-color: #1e4d78;  }
	#box-appuntidigitali .header img { margin:9px 15px 10px 15px; width:218px; height:40px;}

#contenuti-qnet {background-color: #dddddd; width: 682px; height:250px; color:#666; display:inline; float:left; margin:10px 10px 0 0; }

#bottom300x250-container { display:inline; float:left; width:300px; margin:10px 0 0 0; }
	#bottom300x250-container .banner300x250 {width:300px; height:250px; background-color:#333; margin: 0; color:#999;  } 



/* BOX GALLERY PREVIEW */ 

.gallery-preview { background-color:#eee; width:580px; margin-top:20px; border:2px solid #555; padding-bottom:0px; font-family: arial; text-align:center; clear:both;}
.gallery-header { background-color:#555; color:#FFFFFF; padding:3px; margin-bottom:3px; text-align:left; height: 23px; }
.gallery-preview .gallery-header .gallery-title { float:left; display:inline; margin:0px; padding:0; font-size:15px; text-align:left; width:420px; overflow:hidden; }
.gallery-preview .gallery-header .all-gallery { float:left; display:inline;  margin-top:3px; margin-right:3px;  width:150px; text-align:right;}
.gallery-thumb img {margin:5px; border:3px solid #000;}

a.thumb-link:link    { color: #fff; text-decoration:none; }
a.thumb-link:visited { color: #fff; text-decoration:none; } 
a.thumb-link:hover, a.thumb-link:active   { color: #FFCC00; text-decoration: none; }


/* search */

#search-results {}
#search-results .linkblue { font-size:14px; font-weight:bold;}

#search-page {}


/* PAGINE STATICHE */

p.social-item { border-top:5px solid #DDD; float:left; display:inline; width:200px; padding:10px; margin:0 14px 0 0;  }

p.social-item .btn-social { }
p.social-item .btn-social img { width:48px; height:48px; float:left; display:inline; margin:0 10px 0 0; }


/* OVERLAPPING */


.overlapping-container { margin:20px 0 0 20px; }
.overlapping-img {}
.overlapping-button-container { text-align:center;}
.overlapping-button-container input[type=button] { border:0px; background-color:#38558f; color:#fff; font-size: 8pt; padding:5px 10px; margin: 0 5px 0 0; cursor: pointer; }



/* UTILITY */



:focus { outline: 0; }
.clear { clear:both; font-size:1px; height:1px; visibility: hidden;}
span.clear {display:block;}
.relative { position:relative; }


a img { border:0; }

a:link    { color: #06F; text-decoration:none; cursor:pointer; /* :( */ }
a:visited { color: #06F; text-decoration:none; } 
a:hover, a:active   { color: #C00; text-decoration: underline; }

.titolo-generico {color: #7f7d76; font-size:22px; font-family:'Francois One',Arial, Helvetica, sans-serif; font-weight:100; text-transform:uppercase; margin-left:5px;}						 


.shadow {
  -moz-box-shadow:    1px 1px 5px 0px #333;
  -webkit-box-shadow: 1px 1px 5px 0px #333;
  box-shadow:         1px 1px 5px 0px #333;
}


/* LINK  */

a.linkblue:link    { color: #395590; text-decoration:none;  }
a.linkblue:visited { color: #395590; text-decoration:none; } 
a.linkblue:hover, a.linkblue:active   { color: #C01827; text-decoration: none; }

a.linkwhite:link    { color: #fff; text-decoration:none; }
a.linkwhite:visited { color: #fff; text-decoration:none; } 
a.linkwhite:hover, a.linkwhite:active   { color: #FF0; text-decoration: none; }

a.linkgrey:link    { color: #7f7d76; text-decoration:none;  }
a.linkgrey:visited { color: #7f7d76; text-decoration:none; } 
a.linkgrey:hover, a.linkgrey:active   { color: #C01827; text-decoration: none; }

a.linkyellow:link    { color: #fc3; text-decoration:none;  }
a.linkyellow:visited { color: #fc3; text-decoration:none; } 
a.linkyellow:hover, a.linkyellow:active   { color: #F60; text-decoration: none; }

a.linkgrey2:link    { color: #444; text-decoration:none;  }
a.linkgrey2:visited { color: #444; text-decoration:none; } 
a.linkgrey2:hover, a.linkgrey2:active   { color: #C01827; text-decoration: none; }

a.linkgreen:link    { color: #A2C92A; text-decoration:none; }
a.linkgreen:visited { color: #A2C92A; text-decoration:none; } 
a.linkgreen:hover, a.linkgreen:active   { color: #FF0; text-decoration: none; }

a.linkgreen2:link    { color: #99BF22; text-decoration:none; }
a.linkgreen2:visited { color: #99BF22; text-decoration:none; } 
a.linkgreen2:hover, a.linkgreen:active   { color: #C00; text-decoration: none; }

a.linkred:link    { color: #D50000; text-decoration:none; }
a.linkred:visited { color: #D50000; text-decoration:none; } 
a.linkred:hover, a.linkred:active   { color: #F00; text-decoration: none; }


/* box NEXT */
#box-next-container { padding-left:25px; padding-top:20px;}



/* BOX TOUCH */

#touch-spot { background-color:#2F95EA /*#333*/; color:#FFF; font-family: 'Francois One',Arial, Helvetica, sans-serif; margin:10px 0 10px 0; position:relative;}
	#touch-spot .etichetta { background-color:#C00; color:#FFF; font-size:9pt; position:absolute; top:0; right:0; padding:2px 5px;}
	
	
	#touch-spot>a { display:block;}
	
	#touch-spot .devicethumb {  display:inline; float: left; margin:15px;  position:relative;  }
		#touch-spot img.copertina { width:73px; border:7px solid #000;  background-color:#222; 	
		-webkit-box-shadow: 0 10px 15px -7px #777;
		-moz-box-shadow: 0 10px 15px -7px #777;
		box-shadow: 0 10px 15px -7px #777; }
		
	
	#touch-spot .title {font-size: 10pt; font-weight:100;  display:inline; float: left; width:180px; margin:20px 0 0 0; color:#fff; text-transform:uppercase;   }
		#touch-spot .titleHL { font-size:17pt; display:block; color: #FC0; text-transform: none; }
		#touch-spot .testoHL { color:#FC0;}
	
	#touch-spot .download-button { display:block; text-align:center; padding:10px 0 10px 0; }	
	#touch-spot .download-button img { width:60px; border:0; text-decoration:none; margin-right:5px;}
	
	
	
	
	
	#touch-spot .devicethumb {
	
		-webkit-animation:spin 10s 2s linear 3 both;
		-moz-animation:spin 10s 2s linear 3 both;
		animation:spin 10s 2s linear 3 both;
	}
	
	
	@-moz-keyframes spin { 
	
	0% {-moz-transform: perspective(595px) rotateY(0deg);}
	25% {-moz-transform: perspective(595px) rotateY(60deg) rotateZ(-10deg);}
	75% { -moz-transform: perspective(595px) rotateY(-60deg) rotateZ(10deg);  } 
	100% { -moz-transform: perspective(595px) rotateY(0deg); } 
	 
	}
	
	
	@-webkit-keyframes spin { 
	
	0% {-webkit-transform: perspective(595px) rotateY(0deg);}
	25% {-webkit-transform: perspective(595px) rotateY(60deg) rotateZ(-10deg);}
	75% { -webkit-transform: perspective(595px) rotateY(-60deg) rotateZ(10deg);  } 
	100% { -webkit-transform: perspective(595px) rotateY(0deg); } 
	 
	}
	
	
	
	@keyframes spin { 
	
	0% {-webkit-transform: perspective(595px) rotateY(0deg); transform: perspective(595px) rotateY(0deg);}
	25% {-webkit-transform: perspective(595px) rotateY(60deg) rotateZ(-10deg); transform: perspective(595px) rotateY(60deg) rotateZ(-10deg);}
	75% { -webkit-transform: perspective(595px) rotateY(-60deg) rotateZ(10deg); transform: perspective(595px) rotateY(-60deg) rotateZ(10deg); } 
	100% { -webkit-transform: perspective(595px) rotateY(0deg); transform: perspective(595px) rotateY(0deg); } 
	 
	}


/*CSS per vetrine news*/

#products-container { margin:20px 0;}

	#products-container .product { margin: 20px 0 0 0; border: 1px solid #EAEAEA; padding: 10px; }
	
	#products-container .product .ribbon-green {background-color: #EFFF00; display:inline-block; padding:0 5px; font-size:10px;}
	
	#products-container .product h3 { display:inline-block; margin:10px 0 5px 0; padding:0; font-size:20px;}
	
	#products-container .product .img-container {  text-align:center;}
	#products-container .product .img-container .image { max-height: 400px; }
	#products-container .product .img-container .image.big { max-height: 300px; width:100%;}
	
	#products-container .product .img-container.big { min-height:300px; background-repeat: no-repeat!important; background-position:50% 50%!important;}

	#products-container .product .price {display:none;}
	
	
/*CSS per slider gallery*/	

	.gallery-full-container { margin-top:30px; position:relative; }
		#image-zoom { position:absolute; bottom:-40px; right:8px; z-index:5;}
		#image-zoom img { width:30px;}
		#image-zoom.nojs { display:none;  }
		
		#gallery-close { position:absolute; bottom:-43px; right:45px; z-index:5;}
		#gallery-close img { width:36px;}
		#gallery-close.nojs { display:none;  }
		
	
	.gallery-full-image-container {/*background-color:#333!important; border:1px solid #333;*/}
		.gallery-full-item { text-align:center; }
		.gallery-full-image { margin: 0 auto 0 auto;}
		.gallery-full-image-desc { /*padding: 10px; color:#FFF;*/ display:none; text-align:left;}
			
		.gallery-full-image-autore { font-style:italic; font-size: 14px;}
		
		.gallery-full-image.nojs { margin:20px 0; }
		.gallery-full-image-desc.nojs { display: block;  }
		
	
	.gallery-full-thumb-link {}
		.gallery-full-thumb {} 
		
	.gallery-full-showdesc { padding:10px; background-color: #f3f3f3; }	
		.gallery-full-showdesc.vuota { background-color: transparent;}
		.gallery-full-showdesc.nojs { display: none; }
		
		.gallery-full-showdesc h5 { margin:0 0 10px 0; padding:0; font-size: 16px; }
		
	.gallery-full-desc { margin-top:30px;}
	
	
	.gallery-full-container .bx-wrapper { margin-bottom:50px;} 
	.gallery-full-container .bx-wrapper .bx-viewport {border:0; left:0; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; box-shadow: none!important; }
	
	.gallery-full-container .bx-wrapper img { max-height: 600px;}

	.gallery-full-container .bx-wrapper .bx-pager.bx-default-pager a { background: #DDD;}
	.gallery-full-container .bx-wrapper .bx-pager.bx-default-pager a:hover, .gallery-full-container .bx-wrapper .bx-pager.bx-default-pager a.active { background-color:#5699FF;}
	
	/*contenitore v1*/
	.gallery-full-wrapper { border-top: 2px solid #39558c; border-bottom: 2px solid #39558c; }
		.gallery-full-wrapper .gallery-full-container  {   margin-top: 10px; }
		.gallery-full-wrapper .gallery-full-showdesc { background-color:rgba(57, 85, 140, 0.1); }


	
.quote-right { font-family: Roboto, Arial, Helvetica, sans-serif; float:right; border-left:7px solid #3978b8; width:250px; padding:0 20px; margin:0px 0 10px 20px; font-size:20px; color:#777; line-height: 27px; }
.quote-left { font-family: Roboto, Arial, Helvetica, sans-serif; float:left; border-right:7px solid #3978b8; width:250px; padding:0 20px; margin:0px 20px 10px 0px; font-size:20px; color:#777;  line-height: 27px;}



/* css amazon */

.amz-wrapper { margin:10px 0 10px 0; }

.amz-prodotto { border:1px solid #ddd; display:inline-block; width: 180px; margin: 5px 0 0 0; padding: 10px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1); font-family:Arial, Helvetica, sans-serif;  }

	.img-prodotto-responsive {    position: relative;    width: 100%; }
	.img-prodotto-spacer {  padding-top: 100%; /* forces 1:1 aspect ratio */ }
	.img-prodotto-container {     position: absolute;    top: 0;    bottom: 0;    left: 0;    right: 0;    text-align:center; /* Align center inline elements */    font: 0/0 a;  }
	.img-prodotto-centerer {     display: inline-block;    vertical-align: middle;    height: 100%; }
	
	.img-prodotto {    vertical-align: middle;    display: inline-block;
						max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
						max-width: 100%!important;   /* <-- Set maximum width to 100% of its parent */ 
						border:0!important;
						
				 }
	
	.nome-prodotto {   height: 52px; overflow:hidden; font-size: 16px; line-height:18px;}
	.prezzo-prodotto {  text-align:center; font-weight:bold; display:block; color: #b12704; font-size:14px!important;}
	.compra-prodotto { background-color: #FC0; display:inline-block; padding:3px 6px; font-size:11px; text-decoration:none; color:#1D1D1D!important; border-radius: 3px; }
	
	.nome-prodotto a {   font-weight: 100;}
	.nome-prodotto a:link    { color: #395590; text-decoration:none;  }
	.nome-prodotto a:visited { color: #395590; text-decoration:none; } 
	.nome-prodotto a:hover, .nome-prodotto a:active   { color: #C01827; text-decoration: none; }
	

.amz-prodotto.small { border:0; display:block; margin:5px 0 5px 0;  -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none; width:100%; max-width:600px; clear:both;  }
	.amz-prodotto.small .img-prodotto-responsive { width: 100%; max-width: 100px; float: left; margin-right:5px; }
	.amz-prodotto.small .nome-prodotto { height:auto; max-height: 52px; }
	
	.amz-prodotto.small .prezzo-prodotto { text-align:left; display:inline;}
	

.amz-wrapper.tabella {margin:0;}
.amz-prodotto.tabella { border:0px; /*border-bottom:1px solid #999;*/    background-color: #EFEFEF; display:block; margin:0px 0 2px 0; padding:0px; min-height: 62px; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none; width:100%;  clear:both;  }
	.amz-prodotto.tabella .img-prodotto-responsive { width: 100%; max-width: 50px!important; float: left; margin:5px; }
	.amz-prodotto.tabella .img-prodotto-container { background-color: #FFF;    padding: 2px; }
	.amz-prodotto.tabella .nome-prodotto { height:auto; max-height: 20px; display: inline-block; max-width: 380px; margin: 20px 0 0 0; font-size: 14px; }
	.amz-prodotto.tabella .prezzo-prodotto { text-align:left; display:inline; float: right; margin: 17px 15px 0 0;}


.amz-wrapper.pulsante { marigin:0; display: inline; }
.amz-prodotto.pulsante {      width: auto;    border: 0;    box-shadow: none;    -webkit-box-shadow: none;    -moz-box-shadow: none;    padding: 0; }

	.amz-prodotto.pulsante .img-prodotto-responsive { display:none; }
	.amz-prodotto.pulsante .nome-prodotto { display:none;}

/* PRO - CONTRO */

.procontro { font-family: Francois One, Roboto, Arial, Helvetica, sans-serif;   color: #5D5D5D;    font-size: 16px;     letter-spacing: 0.5px; }

.procontro .pro-wrapper {  width:48%; display:inline-block; vertical-align:top;}
.procontro .contro-wrapper {  width:48%; display:inline-block; vertical-align:top;}

.procontro .pro-label {  margin:0 20px 0 0; padding:2px;      border-bottom: 2px solid #3DA83D; color: #3DA83D;  border-bottom: 2px solid rgba(61, 168, 61, 0.37); }
.procontro .contro-label { margin:0 20px 0 0; padding:2px;     border-bottom: 2px solid #E21E26; color:#E21E26;  border-bottom: 2px solid rgba(226, 30, 38, 0.37); }

.procontro .pro-list {   padding:2px;  margin: 10px 0 20px 20px;  list-style-image: url('/i/pro-icon.png'); }
.procontro .contro-list {   padding:2px; margin:  10px 0 20px 20px; list-style-image: url('/i/contro-icon.png');}


	.event-articoli { text-align:center; overflow:hidden; min-height:386px; }
	.event-articoli .event-articolo {  max-width:49%; display:inline-block; position:relative; text-align:left;}
		.event-articoli .event-articolo .image { width:100%; }
		.event-articoli .event-articolo .titolo {position:absolute; bottom: 0; display:block;}
		
		.event-articoli .event-articolo .titolo {		position: absolute;
														bottom: 0;
														left: 0;
														padding: 10px 10px 10px 10px;
														display: block;
														background-image: url(img/background-png-50-10x10.png);
														color: #FFF;
														font-family: 'Francois One',Arial, Helvetica, sans-serif;
														font-size: 20px;
														text-transform: uppercase; 
														
														}
														
		.event-articoli .event-articolo.richiamo .titolo {     border-top: 5px solid red; }		
		
		
		
.button-buy {     border: 1px solid #C37E00;
    padding: 10px;
    background-color: #FFB206;
    color: black!important;
    font-weight: bold;
display:inline-block;
margin-bottom: 50px;
 }

.button-buy img { height: 50px; float:left; border:5px solid #fff; margin:0 10px 0 0;}
.button-buy .price{ font-size:2em;     
    color: #A90000;
    margin: 10px 0 0 0;
    display: inline-block;}		
	
	


.tab-spec { text-align:center; }
	.tab-spec .tab-header td { background-color:#395590; color:#FFF; font-weight:bold; padding:10px;}
	.tab-spec .tab-header td:first-child {background-color: transparent;}
	
	.tab-spec tr td:first-child {background-color:#c8daff; padding:10px 5px; font-size:0.8em; color:#555; font-weight:bold;} 
	
	.tab-spec tr:nth-child(even) { background-color:#f3f3f3; }
	
.tab-spec.dark{ background-color:#333; color:#bbb; }
	.tab-spec.dark .tab-header td { background-color: #013848; color:#FFF; font-weight:normal;  padding:10px;}
	.tab-spec.dark .tab-header td:first-child {background-color: #013848;}
	
	.tab-spec.dark tr td:first-child {background-color: #222; padding:10px 5px; font-size:0.8em; color:#999; font-weight:bold;} 
	.tab-spec.dark tr:nth-child(even) { background-color:#383838; }
		


/* OFFERTE */


.offerte-wrapper { margin:50px 0px 50px 20px;}



.offerte-wrapper h1 {
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 32px;
    font-size: 30px;
    font-family: 'Francois One',Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #395590;}

.offerte-container { text-align:center; margin:20px 0 0 10px; display:inline; float:left; width:65%; }

.offerte-container.home { float:none; display:block; width:100%; margin:0px;}
	
.offerte-sezione { display:inline-block; border:1px solid red; position:relative; border: 1px solid #000; max-width:25%; margin: 20px 10px;}
	.offerte-sezione .destination { position:absolute; top:0; right:0; background-color:rgba(0, 0, 0, 0.5); color: #fff; padding: 5px 10px; font-weight:bold; -webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-left-radius: 10px; }
	.offerte-sezione img { max-width:100%;}
	.offerte-sezione .link { position:absolute; bottom:0; right:0; left:0; padding:10px; background-color:rgba(0, 0, 0, 0.5); color: #FFF;  text-align:center;   font-family: 'Francois One',Arial, Helvetica, sans-serif;    font-size: 20px;    text-transform: uppercase;   }

	.offerte-wrapper .description {  width: 30%; display:inline; float:left;     color: #484848;    background-color: #f5f5f5;    padding: 0px 15px; }
	.offerte-wrapper .collegamenti { width: 64%; display:inline; float:left; margin: 0 0 0 20px;}
	
	
		.offerte-wrapper .collegamenti  ul { margin:0; padding:0;}
		/*
		.offerte-wrapper .collegamenti  li { margin:5px 10px 0 10px; padding: 10px 0 7px 0; list-style:none; border-bottom:1px dashed #ddd; font-size:18px;  display:inline; float:left; width:45%; height: 220px; overflow:hidden;   }
		.offerte-wrapper .collegamenti  li .abstract { color:#555; font-size:14px; display:block; }
		.offerte-wrapper .collegamenti  li .thumb { width:85px; height:48px; margin: 3px 15px 10px 0; display: inline; float:left; background-color:#333;  }
		.offerte-wrapper .collegamenti  li span.clear {display:block;}
		*/
		
		.offerte-wrapper .collegamenti  li { background-color:#f9f9f9; height:270px; overflow:hidden; list-style:none; border-bottom:1px dashed #ddd; float:left; display:inline; width:48%; text-align:center; font-size:18px; margin: 0 10px 10px 0px; }
		.offerte-wrapper .collegamenti  li a { }
		.offerte-wrapper .collegamenti  li .titolo { display:block; text-align:left; padding:20px;  }
		.offerte-wrapper .collegamenti  li .thumb {  width:200px; margin: 25px 0 0 0; }
		.offerte-wrapper .collegamenti  li span.clear {display:block;}

	.offerte-wrapper .stacco { text-align:center; margin:10px 0 0 0;    /* font-size: 30px; */   font-family: 'Francois One',Arial, Helvetica, sans-serif;    font-weight: 100;    color: #395590;}
	
	.offerte-briciole { text-align:right;}
		
		.offerte-briciole .briciola { display:inline-block; padding: 4px 7px; text-shadow: 1px 1px 1px #011434;    font-family: 'Francois One',Arial, Helvetica, sans-serif; font-size: 14px;    text-transform: uppercase; border-radius:5px; }
		.offerte-briciole .briciola.home { background-color:#f16c12!important;}
		
		.offerte-briciole .briciola:link    { color: #fff; background-color:#669f38; text-decoration:none;  }
		.offerte-briciole .briciola:visited { color: #fff; background-color:#669f38; text-decoration:none; } 
		.offerte-briciole .briciola:hover, .offerte-briciole .briciola:active   { color: #fff; background-color:#C00; text-decoration: none; }