body {
	font-size: 1em;
	color: #444;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
/* Font Base */
.f5em  { font-size: .5em; }
.f6em  { font-size: .6em; }
.f7em  { font-size: .7em; }
.f8em  { font-size: .8em; }
.f9em  { font-size: .9em; }
.f10em { font-size: 1.0em; }
.f11em { font-size: 1.1em; }
.f12em { font-size: 1.2em; }
.f13em { font-size: 1.3em; }
.f14em { font-size: 1.4em; }
.f15em { font-size: 1.5em; }

/* Theme Colors */
.pink-mdpr { color: #f39; }
.pink      { color: pink; }
.red       { color: red; }
.orange    { color: orange; }
.blue      { color: blue; }
.skyblue   { color: skyblue; }
.gray      { color: gray; }

/* Width Base */
.w10p { width: 10%; }
.w20p { width: 20%; }
.w30p { width: 30%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w60p { width: 60%; }
.w70p { width: 70%; }
.w80p { width: 80%; }
.w90p { width: 90%; }
.w100p { width: 100%; }

.m20b { margin-bottom: 2em !important; }

/* PURE Fix */
a.pure-button-disabled {
  pointer-events: none;
}
/* PURE Base Customize */
a.pure-button {
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: .5em;
}
i.fa-tag, i.fa-user, i.fa-book, .hotword-tag i.fa-search {
	color: #f89;
}
i.fa-search {
	color: #5e5e5e;
}
i.fa-youtube-play {
	color: #cd201f;
}
i.fa-rotate-45 {
	-ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
i.fa-rotate-90 {
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
i.fa-rotate-180 {
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
i.fa-rotate-270 {
	-ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.pager,
.list-topic-pager {
	margin: 0 auto 1em;
}
.nav-button {
	padding: .3em .8em;
  margin: auto .4em;
}
.link {
	margin: .5em;
	text-align: right;
}

.mdpr-main {
	width: 1100px;
	margin: 0 auto 1.5em;
}
/* Default List Style */
.mdpr-main ul {
	list-style: none;
	padding-left: 0;
}
/* Clearfix */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*　アンカー色指定　*/
.mdpr-main a {
	text-decoration: none;
}
.mdpr-main a:link {
	color: #03489A;
}
.mdpr-main a:visited {
	/*color: #585858;*/
	color: #38388A;
}
.mdpr-main a:hover,
.mdpr-main a:focus {
	/*color: #0489B1;*/
	color: #f39;
}
.mdpr-main a:active {
	/*color: #01A9DB;*/
	color: #d17;
}
/* 画像アンカー指定 */
.mdpr-main a:hover img {
	filter: alpha(opacity=80);        /* ie lt 8 */
  -ms-filter: "alpha(opacity=80)";  /* ie 8 */
  -moz-opacity: 0.8;                 /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.8;              /* Safari 1.x */
  opacity: 0.8;
  zoom: 1;
}
a.pure-button:link,
a.pure-button:visited {
	color: #333;
}
a.pure-button:hover,
a.pure-button:focus,
a.pure-button:active {
	color: #f39;
}

/* Header エリア */
.mdpr-nav-header {
	width: 1100px;
	margin: 0 auto;
}
.mdpr-nav-header-bg {
	background-color: #000;
	color: #eee;
}
.mdpr-nav-header-title {
	padding: .9em;
}
.mdpr-nav-header-menus {
	text-align: right;
}
.mdpr-nav-header-menus a {
	font-weight: bold;
	padding: .7em .5em;
}
.mdpr-nav-header-menus a:link,
.mdpr-nav-header-menus a:visited {
	color: #c8c8c8;
}
.mdpr-nav-header-menus a:hover,
.mdpr-nav-header-menus a:focus,
.mdpr-nav-header-menus a:active {
	color:#555;
}
.mdpr-nav-header-menus .pure-menu-children {
	border: 1px solid #888;
	box-shadow: 1px 1px 3px 0 #888;
}
.mdpr-nav-header-menus .pure-menu-children a {
	background-color: #f5f5f5;
	font-weight: normal;
	padding: .7em 1em;
	text-align: left;
}
.mdpr-nav-header-menus .pure-menu-children a:link,
.mdpr-nav-header-menus .pure-menu-children a:visited {
	color: #333;
}
.mdpr-nav-header-menus .pure-menu-children a:hover,
.mdpr-nav-header-menus .pure-menu-children a:focus,
.mdpr-nav-header-menus .pure-menu-children a:active {
	color: #eee;
	background-color: #555;
}

/* Footerエリア */
.mdpr-nav-footer-bg {
	background-color: #333;
	color: #eee;
}
.mdpr-nav-footer {
	width: 1100px;
	margin: 0 auto;
}
.mdpr-nav-footer h2 {
	margin: 1.5em .3em .9em;
}
.mdpr-nav-footer a:link,
.mdpr-nav-footer a:visited {
	color: #eee;
}
.mdpr-nav-footer a:focus,
.mdpr-nav-footer a:hover,
.mdpr-nav-footer a:active {
	color: #f39;
}
.mdpr-nav-footer .infomation {
	display: inline-block;
  line-height: 1.8em;
	vertical-align: top;
	width: 750px;
}
.mdpr-nav-footer .infomation ul {
	list-style: none;
	margin: 0 .5em;
	padding: 0;
}
.mdpr-nav-footer .infomation li {
	display: inline-block;
	margin: 0 .2em 0 0;
}
.mdpr-nav-footer .brand {
	padding: 1.4em .2em 0 0;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	width: 340px;
}
.mdpr-nav-footer .brand  a.logo-link {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.mdpr-nav-footer .brand a.logo-link:after {
	background-repeat: no-repeat;
	background-position: center;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
}
.mdpr-nav-footer .brand .modelpress-logo {
	display: block;
	position: relative;
	width: 170px;
	height: 170px;
	margin: 0 0 1em 120px;
}
.mdpr-nav-footer .brand .modelpress-logo:after {
	content: '';
	width: 170px;
	height: 170px;
}
.svg .mdpr-nav-footer .brand .modelpress-logo:after {
	background-image: url('/images/logo/sq01.svg');
}
.no-svg .mdpr-nav-footer .brand .modelpress-logo:after {
	background-image: url('/images/logo/sq01.png');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo/sq01.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo/sq01.png',sizingMethod='scale')";
}
.mdpr-nav-footer .brand .travelpress-logo {
	display: inline-block;
	position: relative;
	width: 152px;
	height: 38px;
	margin: 0 3.7em .2em 0;
	vertical-align: top;
}
.mdpr-nav-footer .brand .travelpress-logo:after {
	content: '';
	width: 152px;
	height: 38px;
}
.svg .mdpr-nav-footer .brand .travelpress-logo:after {
	background-image: url('/images/logo/travel/w01.svg');
}
.no-svg .mdpr-nav-footer .brand .travelpress-logo:after {
	background-image: url('/images/logo/travel/w01.png');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo/travel/w01.png',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//images/logo/travel/w01.png',sizingMethod='scale')";
}
.mdpr-nav-footer .copyright {
	color: #888;
	margin: 2em auto 2.8em;
	text-align: center;
	width: 100%;
}
.mdpr-nav-footer .social-link {
	margin: 1.8em .3em .2em;
}
.mdpr-nav-footer .social-link p {
	margin: 0;
}
.mdpr-nav-footer a.footer-social-link {
	display: inline-block;
	position: relative;
	margin: 0 .7em 0 0;
	width: 50px;
	height: 50px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	border-radius: 25px;
}
.mdpr-nav-footer a.footer-social-link:after {
	position: absolute;
	content: "";
	width: 28px;
	height: 28px;
	top: 11px;
	left: 11px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 28px;
	background-size: 28px;
}
.mdpr-nav-footer a.twitter-link:after {
	top: 12px;
	left: 12px;
}

.girlmodel-detail .twitter-link,
.mdpr-nav-footer .twitter-link {
	background-color: #55acee;
}
.girlmodel-detail .twitter-link:hover,
.girlmodel-detail .twitter-link:focus,
.mdpr-nav-footer .twitter-link:hover,
.mdpr-nav-footer .twitter-link:focus {
	background-color: #f39;
}
.svg .girlmodel-detail .twitter-link:after,
.svg .mdpr-nav-footer .twitter-link:after {
	background-image: url('/images/logo/social/twitter-white.svg');
}
.no-svg .girlmodel-detail .twitter-link:after,
.no-svg .mdpr-nav-footer .twitter-link:after {
	background-image: url('/images/logo/social/twitter-white.png');
}
.girlmodel-detail .facebook-link,
.mdpr-nav-footer .facebook-link {
	background-color: #336699;
}
.girlmodel-detail .facebook-link:hover,
.girlmodel-detail .facebook-link:focus,
.mdpr-nav-footer .facebook-link:hover,
.mdpr-nav-footer .facebook-link:focus {
	background-color: #f39;
}
.svg .girlmodel-detail .facebook-link:after,
.svg .mdpr-nav-footer .facebook-link:after {
	background-image: url('/images/logo/social/facebook-white.svg');
}
.no-svg .girlmodel-detail .facebook-link:after,
.no-svg .mdpr-nav-footer .facebook-link:after {
	background-image: url('/images/logo/social/facebook-white.png');
}
.mdpr-nav-footer .gplus-link {
	background-color: #dd4b39;
}
.mdpr-nav-footer .gplus-link:hover,
.mdpr-nav-footer .gplus-link:focus {
	background-color: #f39;
}
.svg .mdpr-nav-footer .gplus-link:after {
	background-image: url('/images/logo/social/gplus2015-white.svg');
}
.no-svg .mdpr-nav-footer .gplus-link:after {
	background-image: url('/images/logo/social/gplus2015-white.png');
}
.mdpr-nav-footer .youtube-link {
	background-color: #cd201f;
}
.mdpr-nav-footer .youtube-link:hover,
.mdpr-nav-footer .youtube-link:focus {
	background-color: #f39;
}
.svg .mdpr-nav-footer .youtube-link:after {
	background-image: url('/images/logo/social/youtube-white.svg');
}
.no-svg .mdpr-nav-footer .youtube-link:after {
	background-image: url('/images/logo/social/youtube-white.png');
}
.mdpr-nav-footer .vine-link {
	background-color: #00cc99;
}
.mdpr-nav-footer .vine-link:hover,
.mdpr-nav-footer .vine-link:focus {
	background-color: #f39;
}
.svg .mdpr-nav-footer .vine-link:after {
	background-image: url('/images/logo/social/vine-white.svg');
}
.no-svg .mdpr-nav-footer .vine-link:after {
	background-image: url('/images/logo/social/vine-white.png');
}
.mdpr-nav-footer .hatebu-link {
	background-color: #008fde;
}
.mdpr-nav-footer .hatebu-link:hover,
.mdpr-nav-footer .hatebu-link:focus {
	background-color: #f39;
}
.svg .mdpr-nav-footer .hatebu-link:after {
	background-image: url('/images/logo/social/hatebu-white.svg');
}
.no-svg .mdpr-nav-footer .hatebu-link:after {
	background-image: url('/images/logo/social/hatebu-white.png');
}
.mdpr-nav-footer .lineat-link {
	background-color: #00c300;
}
.mdpr-nav-footer .lineat-link:hover,
.mdpr-nav-footer .lineat-link:focus {
	background-color: #f39;
}
.svg .mdpr-nav-footer .lineat-link:after {
	width: 48px;
	height: 48px;
	top: 1px;
	left: 2px;
	-webkit-background-size: 48px;
	background-size: 48px;
	background-image: url('/images/logo/social/lineat-white.svg');
}
.no-svg .mdpr-nav-footer .lineat-link:after {
	width: 48px;
	height: 48px;
	top: 1px;
	left: 2px;
	-webkit-background-size: 48px;
	background-size: 48px;
	background-image: url('/images/logo/social/lineat-white.png');
}
.girlmodel-detail .instagram-link,
.mdpr-nav-footer .instagram-link {
	background-color: #517fa4;
}
.girlmodel-detail .instagram-link:hover,
.girlmodel-detail .instagram-link:focus,
.mdpr-nav-footer .instagram-link:hover,
.mdpr-nav-footer .instagram-link:focus {
	background-color: #f39;
}
.svg .girlmodel-detail .instagram-link:after,
.svg .mdpr-nav-footer .instagram-link:after {
	background-image: url('/images/logo/social/instagram-white.svg');
}
.no-svg .girlmodel-detail .instagram-link:after,
.no-svg .mdpr-nav-footer .instagram-link:after {
	background-image: url('/images/logo/social/instagram-white.png');
}

/* PAGE TOP */
.pagetop {
	bottom: 15px;
  color: rgb(85, 85, 85);
  display: none;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  opacity: 0.6;
  position: fixed;
  right: 15px;
  text-shadow: none;
  width: 50px;
  z-index: 999;
}
.pagetop a.scrollto {
	background-color: #666;
	border-radius: 16px;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
}
.pagetop a.scrollto:link,
.pagetop a.scrollto:visited {
	color: #fff;
	text-decoration: none;
}
.pagetop a.scrollto:focus,
.pagetop a.scrollto:hover,
.pagetop a.scrollto:active {
	color: #f39;
	text-decoration: none;
}
.pagetop .scrollto i.fa-arrow-up {
	position: relative;
	top: 6px;
}
.pagetop .scrollto .arrow-cap {
	top: -3px;
	position: relative;
}

/* メインロゴエリア　*/
.mdpr-header-logo {
	margin: 1em -1.3em 1em .8em;
	padding: 0 .5em 0 0;
}
.mdpr-header-logo-img {
	width: 275px;
	height: 90px;
}
.mdpr-header-ad {
	padding: 1em 0;
	text-align: right;
}
.mdpr-simple-header-search {
  margin: 3em -1.5em 3em 1.5em;
}
.mdpr-simple-header-search .search-box {
	margin: 0 -.5em;
}
.mdpr-simple-header-search .search-word {
	width: 400px;
	padding: 0 1em 0 2.1em;
	height: 37px;
	border: 1px solid #bbb;
	border-radius: 1.5em;
}
.mdpr-simple-header-search .search-icon {
	position: absolute;
	padding: .45em .7em;
}
.mdpr-simple-header-logo {
  margin: 1.5em .5em 1.8em -.5em
}
.mdpr-nav-base-category-bg {
	background-color: #d8d8d8;
	padding: 0 1em !important;
}
.mdpr-nav-base-category-list {
	float: left;
}
.mdpr-nav-base-category-selected {
	background-color: #f5f5f5;
	border-bottom: #555 solid 1px;
}
.mdpr-nav-base-category-bg a {
	font-family: 'Droid Serif', serif;
	font-weight: bold;
}
.mdpr-nav-base-category-bg a:link,
.mdpr-nav-base-category-bg a:visited {
	color: #333;
}
.mdpr-nav-base-category-bg a:hover,
.mdpr-nav-base-category-bg a:focus,
.mdpr-nav-base-category-bg a:active {
	color: #555;
}
.mdpr-nav-base-category-bg .search-box {
	float: right;
	margin: 0 -1em;
}
.mdpr-nav-base-category-bg .search-word {
	width: 160px;
	padding: 0 1em 0 2.1em;
	height: 37px;
	border: 1px solid #bbb;
}
.mdpr-nav-base-category-bg .search-icon {
	position: absolute;
	padding: .45em .7em;
}
.mdpr-nav-sub-category-bg {
	background-color: #e8e8e8;
	padding: 0 .7em 1px !important;
}
.mdpr-nav-sub-category-selected {
	background-color: #fff;
	border-bottom: #555 solid 1px;
}
.mdpr-nav-sub-category-bg a:link,
.mdpr-nav-sub-category-bg a:visited {
	color: #555;
}
.mdpr-nav-sub-category-bg a:hover,
.mdpr-nav-sub-category-bg a:focus,
.mdpr-nav-sub-category-bg a:active {
  background-color: #f5f5f5;
	color: #555;
}

/* メインコンテンツエリア */
.mdpr-contents-body {
	padding: 0 1.5em 0 .3em;
  margin: 0;
  width: 750px;
}
.mdpr-contents-body .list-view {
	margin: .5em .4em;
	line-height: 1.8em;
}
.mdpr-contents-body .list-view .list-separator {
  line-height: .7em;
}
.mdpr-contents-body .list-view .title {
	display: inline-block;
	font-weight: normal;
	float: left;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mdpr-contents-body .list-view .info {
	display: inline-block;
	float: right;
	color: #888;
	text-align: right;
}
.mdpr-contents-body .notice {
	margin: 0 .5em 0;
	color: #666;
}
.mdpr-contents-body .relmovies li {
	display: inline-block;
	width: 170px;
	text-align: center;
	margin: 0 .4em .8em;
}
.mdpr-contents-body .relmovies img {
	border: 1px solid #eee;
}
.mdpr-contents-body .relmovies .title {
	font-weight: normal;
	margin: 0 .1em .2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mdpr-contents-body .magazine-related-site ul,
.mdpr-contents-body .chiebukuro ul {
	margin: 0;
	padding: .4em .3em;
	line-height: 1.8em;
}

/* パンくずリスト */
.breadcrumbs {
	padding: 1.2em 0 .5em;
}
.breadcrumbs a:link,
.breadcrumbs a:visited {
	color: #555;
}
.breadcrumbs .arrow-r {
	margin: 0 .5em;
	color: #666;
}

/* 記事エリア */
.mdpr-article {
	margin: 0;
	padding: 0;
}
.mdpr-article .topic-pr4u {
	display: block;
	height: 16px;
	width: 49px;
	position: absolute;
	margin-left: 688px;
	margin-top: -18px;
}
.mdpr-article .title {
	margin: .4em .5em .2em 0;
}
.mdpr-article h1.title {
	border-top: 1px solid #ccc;
	padding: .6em .2em .12em;
}
.mdpr-article .metadata {
	color: #666;
	font-weight: 200;
	padding: .2em 0 .2em .3em;
	margin-right: .5em;
	border-bottom: 1px solid #ccc;
}
.mdpr-article .metadata .content {
	margin: 0 1em 0 .3em;
}
.mdpr-article .metadata .date-count {
	float: left;
	line-height: 2.5em;
	margin: -.1em 0 0 .2em;
}
.mdpr-article .metadata .tags {
	float: right;
	text-align: right;
}
.mdpr-article .metadata .tags a{
	padding: .3em .6em;
	margin-bottom: .1em;
}
.mdpr-article .cover-thumb {
  width: 736px;
  margin: .7em .1em 0;
}
.mdpr-article .vender-copy {
	text-align: right;
  margin: 0 .7em .8em;
}
.aloe .no-moki span.source {
    color: #999;
    font-size: 12px;
    font-weight: 100;
}
.aloe .no-moki a {
    color: #999;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
}
.appeti .no-moki span.source {
    color: #999;
    font-size: 12px;
    font-weight: 100;
}
.appeti .no-moki a {
    color: #999;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
}
.coregano .no-moki p.rel {
    color: #999;
    font-size: 12px;
    font-weight: 100;
}
.coregano .no-moki a {
    color: #999;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
}
.myreco .no-moki p.reference {
    color: #999;
    font-size: 12px;
    font-weight: 100;
}
.myreco .no-moki a {
    color: #999;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
}
.sheage .no-moki span.para_authority {
    color: #999;
    font-size: 12px;
    font-weight: 100;
}
.sheage .no-moki a {
    color: #999;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
}
figure {
  display: table;
  width: 1px;
}
figure.img-caption {
  display: inline-block;
  margin: 1em 30px !important
}
figure.img-caption figcaption {
  text-align: left;
}
.fa-left-margin {
	margin-left: .3em;
}
.fa-right-margin {
	margin-right: .3em;
}
.icon {
	margin-right: .3em;
}

.rellink-h {
	color: #555;
	margin: 1.7em 0 .2em 0;
	padding: 0 .5em .1em;
  border-bottom: 1px solid #ccc;
}
.rellink-trend {
	margin: -.4em .4em .4em !important;
}

.rellink-trend-panel li {
	border: 1px solid #f0f0f0;
  border-radius: .5em;
  margin: 0 1em .8em;
  height: 100px;
  overflow: hidden;
	box-shadow: 1px 1px 1px 1px #eee;
}
.rellink-trend-panel .item-thumb {
	display: inline-block;
  width: 100px;
}
.rellink-trend-panel .item-title {
	display: inline-block;
	width: 565px;
	vertical-align: top;
	margin: 1.5em 1.2em;
}

.list-topics ul {
	margin: .5em;
	list-style: none;
	padding-left: 0;
	margin: .5em .3em;
}
.list-topics li a {
	text-decoration: none;
}

/* 右サイド */
.mdpr-side-box {
	width: 320px;
	margin: 0 0 1em;
}
.mdpr-side-box .box-base {
	width: 320px;
	margin: 1.9em auto;
}
.mdpr-side-box .box-base:first-child {
  margin-top: 0.9em;
}
.mdpr-side-box .box-base_im {
	width: 320px;
  text-align: center;
}
.mdpr-side-box .box-fb {
	width: 300px;
	margin: 1.5em auto;
	text-align: center;
}
.mdpr-side-box .pr:after {
	content: "PR";
	font-size: .6em;
	font-weight: 200;
	color: #ccc;
	float: right;
	margin-top: .7em;
}
.mdpr-side-box .title {
	font-family: 'Droid Serif', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', serif;
	font-weight: bold;
	color: #555;
	margin: 0 auto .4em;
  padding-bottom: .2em;
  border-bottom: 1px solid #aaa;
}
.mdpr-side-box .mb-title {
  font-size: 1.1em !important;
}
.mdpr-side-box .sub-title {
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  margin: .6em 0 0 .5em;
}
.mdpr-side-box .list-view {
	margin: 0 .3em;
	line-height: 1.8em;
}
.mdpr-side-box .list-view li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mdpr-side-box .hotword-panel {
	margin: .8em .3em 1.2em;
}
.mdpr-side-box .hotword-tag {
	margin: 0 .1em .7em;
	padding: .3em .6em;
}
.rank {
	font-family: 'Droid Serif', serif;
  background: #555;
	color: #fff;
	font-weight: bold;
	border-radius: .2em;
	width: auto;
	min-width: 1em;
  padding: 0 .3em;
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
}
.prize {
  background: #f39;
}
.mdpr-side-box .notice {
	margin: 0 .5em 0;
	color: #666;
}
.photo-rank {
	position: absolute;
}
.mdpr-side-box .photo-panel {
	margin-bottom: .2em;
}
.mdpr-side-box .photo-panel li {
	display: inline-block;
	width: 100px;
	margin: 1px;
}
.mdpr-side-box .magazine-panel {
	margin-bottom: .2em;
}
.mdpr-side-box .magazine-panel li {
	display: inline-block;
	width: 70px;
	margin: 3px;
}
.mdpr-side-box .magazine-panel img {
	max-height: 90px;
}
.mdpr-side-box .magazine-panel .point {
	display: block;
	margin-top: -.3em;
}
.mdpr-side-box .attention-panel {
	margin: -.4em .1em 0;
	padding: 0 0 .4em;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px 0 #ccc;
}
.mdpr-side-box .attention-panel .attention-title {
	margin: 0 .3em;
}
.mdpr-side-box .sp-panel {
	margin: 0 .5em;
	text-align: left;
}
.mdpr-side-box .sp-panel a {
  width: 300px;
  height: 100px;
  display: block;
  position: relative;
}
.mdpr-side-box .sp-panel .text {
  width: 194px;
  display: inline-block;
  vertical-align: top;
}
.mdpr-side-box .sp-panel .sp-thumb {
	display: inline-block;
	width: 100px;
}
.mdpr-side-box .sp-panel .sp-title {
  margin: 0;
  font-weight: normal;
  padding-left: .3em;
}
.mdpr-side-box .box-base .sp-panel .link {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0.5px;
  line-height: 1;
}
.mdpr-side-box .youtube-panel {
	margin: 0 .5em;
	text-align: center;
}
.mdpr-side-box .youtube-panel .youtube-btn {
	margin-top: .3em;
}
.mdpr-side-box .youtube-panel .youtube-text {
	border-radius: 1em;
	background: #f39;
	margin: 1em 2.5em;
	color: #fff;
	padding: .3em;
}
.mdpr-side-box .youtube-panel .youtube-text:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 12px solid #f39;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	margin-left: 93px;
	margin-top: -16px;
}
.mdpr-side-box .mmn-panel {
	margin: 0 .5em;
	text-align: center;
}
.mdpr-side-box .mmn-panel .mmn-thumb {
	display: inline-block;
	width: 80px;
}
.mdpr-side-box .mmn-panel .mmn-title {
	display: inline-block;
	width: 210px;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	margin: 0;
	padding: .3em 0 0 .3em;
}
.mdpr-side-box .box-base .link {
	margin: .5em;
	text-align: right;
}
.mdpr-side-box .job-thumb {
	display: inline-block;
	width: 80px;
	vertical-align: middle;
}
.mdpr-side-box .job-title {
	margin: 0;
}
.mdpr-side-box .job-text {
	display: inline-block;
	width: 210px;
	padding-left: .3em;
	vertical-align: middle;
	line-height: 1em;
}
/* for simple layout */
.mdpr-side-simple-box {
	border: 1px solid #e5e5e5;
	border-radius: .5em;
	padding: 1em .8em;
	margin: -1em -.1em -1em -1.5em;
}

/* Gate */
.mdpr-main-bg {
	width: 100%;
}
.gate-left {
	background-color: #f00;
	content: " ";
	width: auto;
}
.gate-right {
	background-color: #00f;
	content: " ";
	width: auto;
}

/* ASIDE */
.aside-300 {
	width: 320px;
	margin: .5em auto 1em;
	text-align: center;
}
.aside-topic-bottom {
	width: 640px;
}
.aside-topic-300 {
	float: left;
	width: 320px;
	margin: .8em auto;
	text-align: center;
}
.aside-720 {
	width: 100%;
	margin: 1.6em auto;
	text-align: center;
}

/*------------------------------------------------------------
	Social Button Sytles
-------------------------------------------------------------*/
.social_btn {
	height: 30px;
	margin: 1em 0 0;
}
/* Photo Page Centering */
.social_btn_photo {
	width: 98%;
	display: inline-block;
}
.social_btn_photo ul {
	left: 50%;
}
.social_btn_photo ul li {
	left: -50%;
}
.social_btn ul {
	list-style: none outside none;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
.social_btn ul li {
	vertical-align: middle;
	text-align: center;
	float: left;
	padding: 0 .15em 0;
	position: relative;
}
.social_btn img {
	width:97px;
	height:30px;
}
.social_btn a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.social_btn a{
	text-decoration: none;
}
/* Social Count & Text */
.social_btn a span.count{
	position: absolute;
	top: .5em;
	right: 1em;
	color: #fff;
	font-weight: bold;
	text-align: right;
}
.social_btn a span.gray{
	color: #666;
}
/* Popup Message */
.social_btn a span.popup{
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	top: -20px;
	left: -10px;
	width: 110px;
	padding: 8px;
	border-radius: 2px;
	background: #333;
	color: #fff;
	line-height: 1;
	-webkit-transition: .3s;
	   -moz-transition: .3s;
	    -ms-transition: .3s;
	     -o-transition: .3s;
	        transition: .3s;
}
.social_btn a span.popup:after{
	position: absolute;
	top: 100%;
	left: 40px;
	height: 0;
	width: 0;
	border: 6px solid transparent;
	border-top: 8px solid #333;
	content: "";
}
.social_btn a:hover span.popup{
	opacity: 1;
	filter: alpha(opacity=100);
	top: -36px;
}
/* Hide Menu Visible Swith */
.social_btn li.addbtn ul{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
.social_btn li.addbtn ul li {
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	    -ms-transition: .5s;
	     -o-transition: .5s;
	        transition: .5s;
}
.social_btn label img{
	display: block;
	position: absolute;
	width:21px;
	height:30px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.social_btn label img:hover{
	opacity: 0.6;
	filter: alpha(opacity=60);
	cursor: pointer;
}
.social_btn input[type="checkbox"].view_sw{
	display: none;
}
.social_btn input[type="checkbox"].view_sw + ul{
	width: auto;
	height: 50px;
	margin-left: 24px;
}
.social_btn input[type="checkbox"].view_sw:checked + ul{

}
.social_btn input[type="checkbox"].view_sw + ul li{
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}
.social_btn input[type="checkbox"].view_sw + ul li.flow-1{
	-webkit-transform: translate(-50px,0);
	   -moz-transform: translate(-50px,0);
	    -ms-transform: translate(-50px,0);
	     -o-transform: translate(-50px,0);
	        transform: translate(-50px,0);
}
.social_btn input[type="checkbox"].view_sw + ul li.flow-2{
	-webkit-transform: translate(-150px,0);
	   -moz-transform: translate(-150px,0);
	    -ms-transform: translate(-150px,0);
	     -o-transform: translate(-150px,0);
	        transform: translate(-150px,0);
}
.social_btn input[type="checkbox"].view_sw + ul li.flow-3{
	-webkit-transform: translate(-250px,0);
	   -moz-transform: translate(-250px,0);
	    -ms-transform: translate(-250px,0);
	     -o-transform: translate(-250px,0);
	        transform: translate(-250px,0);
}
.social_btn input[type="checkbox"].view_sw + ul li.flow-4{
	-webkit-transform: translate(-350px,0);
	   -moz-transform: translate(-350px,0);
	    -ms-transform: translate(-350px,0);
	     -o-transform: translate(-350px,0);
	        transform: translate(-350px,0);
}
.social_btn input[type="checkbox"].view_sw:checked + ul li{
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	     -o-transform: translate(0,0);
	        transform: translate(0,0);
}
.social-buttons {
	position: absolute;
	font-size: 1.5em;
	width: 740px;
	text-align: right;
	margin-top: .3em;
}
.social-buttons i.fa {
	margin: 0 .1em;
}
.social-buttons i.fa-twitter {
	color: #55acee;
}
.social-buttons i.fa-facebook {
	color: #3b5998;
}
.social-buttons i.fa-share {
	color: #f39;
}

/*------------------------------------------------------------
	sns follow
-------------------------------------------------------------*/
.mdpr-sns-follow {
  border: 1px solid #999;
  width: 700px;
  height: 200px;
  margin: 20px auto;
}
.mdpr-sns-follow img {
  margin: 0;
  border-right: 1px solid #999;
}
.mdpr-sns-follow .follow-wrap {
  float: right;
  height: 100%;
  text-align: center;
}
.mdpr-sns-follow.square .follow-wrap {
  width: 498px;
}
.mdpr-sns-follow.rectangle .follow-wrap  {
  width: 348px;
}
.mdpr-sns-follow div.follow-wrap p {
  font-size: 1.3em;
}
.mdpr-sns-follow.square .follow-wrap p {
  margin: 40px 0;
}
.mdpr-sns-follow.rectangle .follow-wrap p {
  margin: 30px 0;
}
.mdpr-sns-follow .fb-like {
  transform: scale(1.5);
  z-index: 10;
}

/* Lazy Load XT 1.0.6 | MIT License */
.lazy-hidden{
  background-color: #d1d1d1;
  opacity:.2
}
.lazy-loaded{
  -webkit-transition:opacity .3s;
  -moz-transition:opacity .3s;
  -ms-transition:opacity .3s;
  -o-transition:opacity .3s;
  transition:opacity .3s;
  opacity:1
}
.video-js .lazy-hidden {
  background-color: #000;
  opacity: 1 !important;
}

a .outputthumb {
  height: auto;
  background-color: #f5f5f5;
}

.oembed-type-instagram.vender figcaption {
    margin-top: -10px
}
.oembed-type-instagram.vender a.anker-text {
  font-size: 9px!important;
}
