a {
    cursor: pointer;
}

.instragram-feed a {
    display: block;
    height: 100%;
    width: 100%;
}

.jumbotron-about-intro .overflow-img { background-size: cover !important;}

.panel.sidebar {
  background-color: #ddd;
  margin-top: 23px;
  padding: 1em; 
  }

hr.colorRule {
    border-color: #ffcd00;
}

.no-hero {
    margin: 10.5em 0 3em;
}

.nav-tabs>li.fun, .tab-module .fun .panel-heading {
    background: url("../img/tab_fun.jpg");
    height: 200px;
    background-size: cover;
    background-color: rgba(255,255,255,0.85);
    background-blend-mode: color;
}

a.terms-link {
    color: #fff;
}

#pag-az {
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
}

#pag-az li {
    background: #c7c7c7;
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 16px;
    list-style: none;
    margin: 8px 8px 8px 0
}

#pag-az a:link,#pag-az a:visited {
    color: #0e509e;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 3px;
    text-decoration: none
}

#pag-az a:hover {
    background: #b3b3b2
}

#pag-az a.active {
    color: #fff
}

#pag-az .active {
    background: #146b93;
    color: #fff;
}

.input-search {
    height: 47px;
}

.error-page {
    margin: 70px 0 70px 0;
}

.panel-links-dp {
    margin: 35px 0 35px 0;
}

.search-exp {
    background-color: #d3d3d3;
    padding: 0.7em;
}

.h1-alt {
    font-size: 2.3em;
}

.h3-alt {
    font-size: 1.5em;
}

.m-top {
    margin-top: 14em;
}

h2.emergency-header {
    font-size: 1.5em;
    color: red;
    margin: 35px 0;
}

span.emergency-h-text {
    text-transform: none;
    color: #484949;
}

h3.updates-h {
    font-size: 1.3em;
    margin: 30px 0;
}

.update-container {
    margin: 20px 0;
}

p.time-stamp {
    font-family: sans-serif, arial, helvetica;
    font-weight: bold;
    color: #666;
}

.emergency-announcement {
  margin-top: 13em;
  padding-top: 45px;
  padding-bottom: 30px;
}

.emergency-announcement h1 {

  font-size: 2.5em;
  margin: 0;

}
.EmeContBg-Blue {
  background-color: #006a96 !important;
}

.EmeContBg-Red {
  background-color: #b92121 !important;
}

.EmeContBg-Yellow {
  background-color: #d2a900 !important;
}

.h-alert-emergency {
    color: #d60000;
}

.h-alert-warning {
    color: orange;
}

.h-alert-notice {
    color: #0035ff;
}

@media (max-width: 992px) {
    
    .no-hero {
        margin: 0 0 3em;
        padding: .5em 0 0 0;
    } 
}
