        .research-inovation-hero {
    background: url("../../_images/research-innovation/hero.jpg"); background-image: url("../../_images/research-innovation/hero.jpg") !important;
}
        .innovation-banner {
    background: url("../../_images/research-innovation/alumni-vr2-1400x439.jpg"); background-image: url("../../_images/research-innovation/alumni-vr2-1400x439.jpg") !important;
}
        .student-opportunities {
    background: url("../../_images/research-innovation/student.jpg"); background-image: url("../../_images/research-innovation/student.jpg") !important;
}
        .research-initiatives {
    background: url("../../_images/research-innovation/Initiatives.jpg"); background-image: url("../../_images/research-innovation/Initiatives.jpg") !important;
}
        .research-resources {
    background: url("../../_images/research-innovation/resources.jpg"); background-image: url("../../_images/research-innovation/resources.jpg") !important;
}
        .research-library {
    background: url("../../_images/research-innovation/library.jpg"); background-image: url("../../_images/research-innovation/library.jpg") !important;
}
        .admissions-hero {
    background: url("../../_images/admissions-aid/hero.jpg"); background-image: url("../../_images/admissions-aid/hero.jpg") !important;
}
        .attend-ucsd {
    background: url("../../_images/admissions-aid/attend.jpg"); background-image: url("../../_images/admissions-aid/attend.jpg") !important;
}
        .fin-aid {
    background: url("../../_images/admissions-aid/invest-in-future.jpg"); background-image: url("../../_images/admissions-aid/invest-in-future.jpg") !important;
}
        .support-index {
    background: url("../../_images/support/banner.jpg"); background-image: url("../../_images/support/banner.jpg") !important;
}
        .support-alumni {
    background: url("../../_images/support/alumni.jpg"); background-image: url("../../_images/support/alumni.jpg") !important;
}
        .support-foundation {
    background: url("../../_images/support/foundation-of-success.jpg"); background-image: url("../../_images/support/foundation-of-success.jpg") !important;
}
        .campus-life-hero {
    background: url("../../_images/campus-life/hero.jpg"); background-image: url("../../_images/campus-life/hero.jpg") !important;
}
        .cl-recreation {
    background: url("../../_images/campus-life/campus-life-athletics-recreation.jpg"); background-image: url("../../_images/campus-life/campus-life-athletics-recreation.jpg") !important;
}
        .artpower {
    background: url("../../_images/campus-life/callout-artpower.jpg"); background-image: url("../../_images/campus-life/callout-artpower.jpg") !important;
}
        .stuart-ollection {
    background: url("../../_images/campus-life/callout-stuart-collection.jpg"); background-image: url("../../_images/campus-life/callout-stuart-collection.jpg") !important;
}
        .box-office {
    background: url("../../_images/campus-life/callout-box-office.jpg"); background-image: url("../../_images/campus-life/callout-box-office.jpg") !important;
}
        .the-loft {
    background: url("../../_images/campus-life/callout-loft.jpg"); background-image: url("../../_images/campus-life/callout-loft.jpg") !important;
}
        .lj-playhouse {
    background: url("../../_images/campus-life/callout-la-jolla-playhouse.jpg"); background-image: url("../../_images/campus-life/callout-la-jolla-playhouse.jpg") !important;
}
            .hero-organizations {
    background: url("../../_images/organizations/banner.jpg"); background-image: url("../../_images/organizations/banner.jpg") !important;
}
        .organizations-involvement {
    background: url("../../_images/organizations/involvement.jpg"); background-image: url("../../_images/organizations/involvement.jpg") !important;
}
        .organizations-spirit {
    background: url("../../_images/organizations/spirit.jpg"); background-image: url("../../_images/organizations/spirit.jpg") !important;
}
        .organizations-student-media {
    background: url("../../_images/organizations/student-media.jpg"); background-image: url("../../_images/organizations/student-media.jpg") !important;
}
        .diversity-hero {
    background: url("../../_images/diversity/hero.jpg"); background-image: url("../../_images/diversity/hero.jpg") !important;
}
        .brc {
    background: url("../../_images/diversity/callout-content-minimum-3/black-resource-center.jpg"); background-image: url("../../_images/diversity/callout-content-minimum-3/black-resource-center.jpg") !important;
}
        .ccc {
    background: url("../../_images/diversity/callout-content-minimum-3/cross-cultural-center.jpg"); background-image: url("../../_images/diversity/callout-content-minimum-3/cross-cultural-center.jpg") !important;
}
        .irc {
    background: url("../../_images/diversity/callout-content-minimum-3/intertribal-resource-center.jpg"); background-image: url("../../_images/diversity/callout-content-minimum-3/intertribal-resource-center.jpg") !important;
}
        .lgbt {
    background: url("../../_images/diversity/callout-content-minimum-3/lgbt.jpg"); background-image: url("../../_images/diversity/callout-content-minimum-3/lgbt.jpg") !important;
}
        .raza {
    background: url("../../_images/diversity/callout-content-minimum-3/raza.jpg"); background-image: url("../../_images/diversity/callout-content-minimum-3/raza.jpg") !important;
}
        .womens-center {
    background: url("../../_images/diversity/callout-content-minimum-3/womens-center.jpg"); background-image: url("../../_images/diversity/callout-content-minimum-3/womens-center.jpg") !important;
}
        .cultural-organizations {
    background: url("../../_images/diversity/cultural-organizations.jpg"); background-image: url("../../_images/diversity/cultural-organizations.jpg") !important;
}
        .resource-centers {
    background: url("../../_images/diversity/resource-centers.jpg"); background-image: url("../../_images/diversity/resource-centers.jpg") !important;
}
        .spaces {
    background: url("../../_images/diversity/spaces.jpg"); background-image: url("../../_images/diversity/spaces.jpg") !important;
}
        .diversity-events {
    background: url("../../_images/diversity/upcoming-events.jpg"); background-image: url("../../_images/diversity/upcoming-events.jpg") !important;
}
                    .about-hero {
    background: url("../../_images/about/hero.jpg"); background-image: url("../../_images/about/hero.jpg") !important;
}
        .about-headline {
    background: url("../../_images/about/headline.jpg"); background-image: url("../../_images/about/headline.jpg") !important;
}
                            .visit-tours {
    background: url("../../_images/visiting-tours/hero.jpg"); background-image: url("../../_images/visiting-tours/hero.jpg") !important;
}
        .visiting-tours {
    background: url("../../_images/visiting-tours/tours.jpg"); background-image: url("../../_images/visiting-tours/tours.jpg") !important;
}
        .get-here {
    background: url("../../_images/visiting-tours/get-here.jpg"); background-image: url("../../_images/visiting-tours/get-here.jpg") !important;
}
        .public-tours {
    background: url("../../_images/visiting-tours/public-tours.jpg"); background-image: url("../../_images/visiting-tours/public-tours.jpg") !important;
}
                                                                                                .vid-poster {
    background: url("../vid/vid-poster.jpg"); background-image: url("../vid/vid-poster.jpg") !important;
}
        .academics-test {
    background: url("../../_images/academics/hero.jpg"); background-image: url("../../_images/academics/hero.jpg") !important;
}
        .summer-session {
    background: url("../../_images/academics/summer-session-kayak.jpg"); background-image: url("../../_images/academics/summer-session-kayak.jpg") !important;
}
        .academics-detail-hero {
    background: url("../../_images/visiting-tours/hero.jpg"); background-image: url("../../_images/visiting-tours/hero.jpg") !important;
}
        .online-extension-hero {
    background: url("../../_images/online-extension/hero.jpg"); background-image: url("../../_images/online-extension/hero.jpg") !important;
}
        .public-programs {
    background: url("../../_images/online-extension/public-programs.jpg"); background-image: url("../../_images/online-extension/public-programs.jpg") !important;
}
        .callout-content-3-enroll {
    background: url("../../_images/online-extension/enroll.jpg"); background-image: url("../../_images/online-extension/enroll.jpg") !important;
}
        .text-cta-image-online-learning {
    background: url("../../_images/online-extension/online-learning.jpg"); background-image: url("../../_images/online-extension/online-learning.jpg") !important;
}
        .student-success-hero {
    background: url("../../_images/student-success/student-success-hero.jpg"); background-image: url("../../_images/student-success/student-success-hero.jpg") !important;
}
        .attend-cta {
    background: url("../../_images/student-success/advising.jpg"); background-image: url("../../_images/student-success/advising.jpg") !important;
}
        .teaching-learning {
    background: url("../../_images/student-success/teaching-learning.jpg"); background-image: url("../../_images/student-success/teaching-learning.jpg") !important;
}
        .health-wellbeing {
    background: url("../../_images/student-success/health-wellbeing.jpg"); background-image: url("../../_images/student-success/health-wellbeing.jpg") !important;
}
                .teaching-learning {
    background: url("../../_images/student-success/teaching-learning.jpg"); background-image: url("../../_images/student-success/teaching-learning.jpg") !important;
}
                .health-wellbeing {
    background: url("../../_images/student-success/health-wellbeing.jpg"); background-image: url("../../_images/student-success/health-wellbeing.jpg") !important;
}
        