/*
 Theme Name:   researchnow
 Theme URI:    http://underscores.me/
 Description:  WordPress theme based on Carbon
 Author:       Jason Jeong
 Author URI:   http://clickherelabs.com
 Template:     carbon
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:
 Text Domain:  researchnow
*/

/* Blog Styles */

#primary-blog {
	margin: 0;
	padding: 0;
}

.entry-content p a {

	font-weight: bold;
	color: #0077bf;
}

.entry-content ul li {

	font-size: 12pt;
}
	


#blog-header-image {
    padding: 25px;
    margin: 0 30px 0 0;
    background-image: url('/wp-content/uploads/2016/07/blogbg.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

#blog-home-header-image {
    padding: 25px;
    margin: 0 15px;
    background-image: url('/wp-content/uploads/2016/07/blogbg.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

#blog-author-header-image {
    padding: 25px;
    margin: 0 30px 0 0;
    background-image: url('/wp-content/uploads/2016/07/blogbg.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

#blog-header-image h1, #blog-home-header-image h1, #blog-author-header-image h1 {
    color: white;
    font-size: 35pt;
    margin: 0 0 0 30%;
    font-family: "Gotham A", "Gotham B";
    font-weight: 200;
    max-width: 100%;
}

#blog-header-image h1.second-line, #blog-home-header-image h1.second-line, #blog-author-header-image h1.second-line {
    font-size: 65pt;
    margin: 0 0 0 45%;
    max-width: 100%;
}

.author-header .entry-meta {
	margin-top: 25px;
}

.entry-meta {
	margin: 20px 0;
	padding: 30px;
	background-color: #D8E0E5;
	color: #58585B;
}

.entry-meta #author-bio {
	font-size: 11pt;
	margin-top: 25px;
}

.entry-meta #social-shares {
	padding: 10px 0;
}

.entry-meta #share-label {
	float: left;
	font-weight: bold;
	padding: 10px 0 10px 20px;
}

.entry-meta #date {
	text-align: right;
	padding: 0;
}

.entry-meta h3 {
	font-size: 16pt;
	margin: 10px 0;
}

.entry-meta h4 {
	font-weight: 400!important;
	font-size: 12pt;
	margin: 0;
}

.entry-meta .heateor_sss_sharing_container {
	float: right;
}

.entry-content p {
	font-size: 12pt;
	line-height: 18pt;
}

article h1 {
	color: #103A5D;
}

#blog-sidebar {
	background-color: #0077BF;
	color: white;
	padding: 30px 40px;
	margin: 25px 0;
}

#blog-sidebar ul {
	margin: 0;
}

#blog-sidebar ul li {
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
	margin: 3px 0;
}

#blog-sidebar ul li a {
	color: white;
}

#call-to-action {
	background-color: #103A5D;
	color: white;
	padding: 15px 40px 30px 40px;
	overflow: hidden;
	display: block;
}

#call-to-action p {
	margin: 25px 0;
}

#call-to-action a {
	color: #103A5D;
	background-color: white;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	display: inline-block;
}

#call-to-action a:hover {
	color: white;
	background-color: #103A5D;
	border: 2px solid white;
	padding: 8px 13px;
}

#call-to-action img {
	margin: 0 30px 0 0;
}


#respond form textarea, #comments #respond form input {
	border: 1px solid #58585B;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#respond form .form-submit #submit {
	border: none;
	color: white;
	background-color: #4E9D2D;
	text-transform: uppercase;
	font-family: "Gotham A", "Gotham B";
	box-shadow: none;
	text-shadow: none;
	padding: 10px 20px;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#respond form .form-submit #submit:hover {
	border: 2px solid #4E9D2D;
	background-color: white;
	color: #4e9D2D;
	padding: 8px 18px;
}

.comment-list {
	margin: 0;
}

.comment-list .comment {
	color: #58585B;
	background-color: #D8E0E5;
	padding: 20px 20px 20px 45px;
}

.comment-list .depth-1 {
	margin: 25px 0 0 0;
}

.comment-metadata, .comment-metadata a, comment-metadata a:visited, .comment-reply-link, .comment-reply-link:visited {
	color: #58585B!important;
}

.crp_related ul, #blog-loop ul {
	margin: 0;
	padding: 0;
}

.crp_related ul li, #blog-loop ul li {
	border-bottom: 2px solid #D8E0E5;
	list-style-type: none;
	list-style-position: inside;
	padding: 20px 0;
}

.crp_related ul li:last-child, #blog-loop ul li:last-child {
	border-bottom: none;
}

#author-loop  #author-blog-item {
	border-bottom: 2px solid #D8E0E5;
	padding: 20px 0;

}

#author-loop #author-blog-item:last-child {
	border-bottom: none;
}

#author-loop #author-blog-copy {
	padding: 0;
}

#author-loop #author-blog-image, #blog-loop #blog-image {
	padding: 0 25px 0 0;
}

#blog-loop #blog-image img {
    margin-top: 25px;
}

#blog-loop h3 {
    font-size: 12pt;
    font-weight: 300;
}

.crp-related ul li p, #author-loop  #author-blog-item p.excerpt {
	font-size: 11pt;
    	font-weight: 400;
    	color: #58585B;
}



.crp_related ul li a, #author-loop  #author-blog-item #author-feed-title, #blog-loop ul li h3 a {
	font-size: 14pt;
	color: #58585B;
}

#author-loop  #author-blog-item a, #blog-loop ul li a {
	font-weight: bold;
}

#author-loop  #author-blog-item #author-feed-title a {
	font-weight: bold;
}

.crp_related ul li span, #author-loop  #author-blog-item span {
	display: block;
	margin-top: 10px;
}

.next {
    text-align: right;
}

#nav-posts {
    padding: 25px 0;
}

/* Global Styles */

.white-bg {
	background: white!important;
}

.white-bg article {
	padding: 0!important;
}

.blue-style .light-style {
  background-color: #5fc4e3;
  color: #fff; }
  .blue-style .light-style a, .blue-style .light-style a:hover {
    color: #fff; }
  .blue-style .light-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #5fc4e3; }

.blue-style .mid-style {
  background-color: #0077bf;
  color: #ffffff; }
  .blue-style .mid-style a, .blue-style .mid-style a:hover {
    color: #ffffff; }
  .blue-style .mid-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #0077bf; }

.blue-style .dark-style {
  background-color: #103a5d;
  color: #ffffff; }
  .blue-style .dark-style a, .blue-style .dark-style a:hover {
    color: #ffffff; }
  .blue-style .dark-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #103a5d; }

.blue-style .overlay {
  background-color: #0077bf; }

.green-style .light-style {
  background-color: #a3c961;
  color: #fff; }
  .green-style .light-style a, .green-style .light-style a:hover {
    color: #fff; }
  .green-style .light-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #a3c961; }

.green-style .mid-style {
  background-color: #4e9d2d;
  color: #ffffff; }
  .green-style .mid-style a, .green-style .mid-style a:hover {
    color: #ffffff; }
  .green-style .mid-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #4e9d2d; }

.green-style .dark-style {
  background-color: #215a40;
  color: #ffffff; }
  .green-style .dark-style a, .green-style .dark-style a:hover {
    color: #ffffff; }
  .green-style .dark-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #215a40; }

.green-style .overlay {
  background-color: #4e9d2d; }

.red-style .light-style {
  background-color: #f9bc86;
  color: #fff; }
  .red-style .light-style a, .red-style .light-style a:hover {
    color: #fff; }
  .red-style .light-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #f9bc86; }

.red-style .mid-style {
  background-color: #ef907b;
  color: #ffffff; }
  .red-style .mid-style a, .red-style .mid-style a:hover {
    color: #ffffff; }
  .red-style .mid-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #ef907b; }

.red-style .dark-style {
  background-color: #de4216;
  color: #ffffff; }
  .red-style .dark-style a, .red-style .dark-style a:hover {
    color: #ffffff; }
  .red-style .dark-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #de4216; }

.red-style .overlay {
  background-color: #ef907b; }

.orange-style .light-style {
  background-color: #ffd040;
  color: #fff; }
  .orange-style .light-style a, .orange-style .light-style a:hover {
    color: #fff; }
  .orange-style .light-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #ffd040; }

.orange-style .mid-style {
  background-color: #f0801a;
  color: #ffffff; }
  .orange-style .mid-style a, .orange-style .mid-style a:hover {
    color: #ffffff; }
  .orange-style .mid-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #f0801a; }

.orange-style .dark-style {
  background-color: #ecaa00;
  color: #ffffff; }
  .orange-style .dark-style a, .orange-style .dark-style a:hover {
    color: #ffffff; }
  .orange-style .dark-style a.rn-statbox-cta {
    background-color: #ffffff;
    color: #ecaa00; }

.orange-style .overlay {
  background-color: #f0801a; }

.div-none, .div-right, .div-left {
  margin: 12px 0;
}



.rn-custom-element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Gotham A", "Gotham B";
  display: block;
  height: 450px;
  margin: 12px 0;
  width: auto;
  vertical-align: top;
  display: block;
  width: auto;
  background-size: cover;
  color: #ffffff; }
  @media (max-width: 1199px) {
    .rn-custom-element {
	height: 575px;
       } }
  @media (max-width: 991px) {

#blog-header-image h1.second-line, #blog-home-header-image h1.second-line, #blog-author-header-image h1.second-line {
    font-size: 65pt;
    margin: 0 0 0 10%;
    max-width: 100%;
}

#blog-header-image h1.second-line span, #blog-home-header-image h1.second-line span, #blog-author-header-image h1.second-line span {
    font-size: 25pt!important;
    margin: 0 0 0 10%;
    max-width: 100%;
}
    .rn-custom-element {
	height: 575px;
       } }
  @media (max-width: 767px) {

    .rn-custom-element {
      height: 100%; } }
  .rn-custom-element p, .rn-custom-element h2, .rn-custom-element h3, .rn-custom-element h4, .rn-custom-element h5, .rn-custom-element a {
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    margin: 0;
    padding: 0; }
  .rn-custom-element.div-left {
    margin-left: 22px; }
    @media (max-width: 767px) {
      .rn-custom-element.div-left {
        margin-left: 0;
        margin-top: 22px; } }
  .rn-custom-element.div-right {
    margin-right: 22px; }
    @media (max-width: 767px) {
      .rn-custom-element.div-right {
        margin-right: 0;
        margin-bottom: 22px; } }
  .rn-custom-element.div-none {
     }
  .rn-custom-element a, .rn-custom-element a:hover {
    text-decoration: none; }
  .rn-custom-element .single-image {
    height: 100%;
    width: auto; }
  .rn-custom-element .rn-blurbbox-headline {
    text-align: center;
    font-size: 2.25rem;
    letter-spacing: 0rem; }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-blurbbox-headline {
        font-size: 2rem; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-blurbbox-headline {
        font-size: 1.75rem;
        letter-spacing: 0rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-blurbbox-headline {
        font-size: 1.5rem;
        letter-spacing: 0rem; } }
  .rn-custom-element .rn-blurbbox-container {
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
    height: auto;
    margin: auto;
    text-align: right;
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .rn-custom-element .rn-blurbbox-cta {
    margin-top: 0.75rem;
    font-size: 0.8rem;
    padding: 0.75rem 0;
    letter-spacing: 0.05rem;
    text-decoration: none; }
    .rn-custom-element .rn-blurbbox-cta:hover {
      text-decoration: none; }
  .rn-custom-element.rn-blurbbox-blurbbox:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25rem; }
  .rn-custom-element.rn-blurbbox-blurbbox {
    text-align: center; }
  .rn-custom-element .rn-statbox-stat {
    letter-spacing: 0rem;
    font-size: 7rem; }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-statbox-stat {
        font-size: 6rem; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-statbox-stat {
        font-size: 4rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-statbox-stat {
        font-size: 4rem; } }
  .rn-custom-element .rn-statbox-support {
    width: 100%;
    font-size: 2rem;
    letter-spacing: 0rem; }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-statbox-support {
        font-size: 1.75rem; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-statbox-support {
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-statbox-support {
        font-size: 1.5rem; } }
  .rn-custom-element .rn-statbox-headline {
    line-height: 1.75rem;
    font-size: 1.5rem;
    letter-spacing: 0rem; }
    @media (max-width: 992px) {
      .rn-custom-element .rn-statbox-headline {
        font-size: 1rem; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-statbox-headline {
        font-size: 1.5rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-statbox-headline {
        font-size: 1rem; } }
  .rn-custom-element .rn-statbox-bodycopy {
    letter-spacing: 0rem;
    line-height: 0.9rem;
    font-size: .8rem; }
  .rn-custom-element .rn-statbox-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 2rem; }
    @media (max-width: 991px) {
      .rn-custom-element .rn-statbox-container {
        padding: 1rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-statbox-container {
        padding: 3rem; } }
  .rn-custom-element .rn-statbox-cta {
    display: inline-block;
    margin-top: 0.75rem;
    font-size: 1.2rem;
    padding: 10px 19px 9px;
    letter-spacing: 0.05rem;
    text-decoration: none; }
  .rn-custom-element .rn-statbox-cta:hover {
    text-decoration: none; }
  .rn-custom-element .rn-textbox-image-container {
    overflow: hidden;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center center; }
    @media (max-width: 767px) {
      .rn-custom-element .rn-textbox-image-container {
        background-image: none !important;
        width: 100%;
        max-width: 100%; } }
    .rn-custom-element .rn-textbox-image-container img {
      vertical-align: baseline;
      width: 100%; }
      @media (max-width: 767px) {
        .rn-custom-element .rn-textbox-image-container img {
          width: 100%; } }
    .rn-custom-element .rn-textbox-image-container.img-left {
      float: left; }
    .rn-custom-element .rn-textbox-image-container.img-right {
      float: right; }
  .rn-custom-element .rn-textbox-text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: auto;
    height: 100%;
    overflow: hidden;
    padding: 3rem; }
    .rn-custom-element .rn-textbox-text-container.img-right {
      width: auto; }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-textbox-text-container {
        padding: 2rem; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-textbox-text-container {
        padding: 1.25rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-textbox-text-container {
        padding: 3rem; } }
  .rn-custom-element .rn-textbox-text-center p {
    display: block;
    letter-spacing: 0rem;
    line-height: 1.2rem;
    font-size: .9rem;
    margin-bottom: 1rem; 
    font-weight: 400; }
  .rn-custom-element .rn-textbox-text-center li {
    padding-bottom: 0.25rem; }
  .rn-custom-element .rn-textbox-headline {
    line-height: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    padding-top: 1.5rem; }
  .rn-custom-element .rn-textbox-bodycopy, .rn-custom-element .rn-textbox-cta, {
    display: block;
    letter-spacing: 0rem;
    line-height: 1rem;
    font-size: 0.8rem;
    padding-bottom: .25rem; }
  .rn-custom-element .rn-linkbox-text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 27%;
    padding: 1rem; }
    @media (max-width: 991px) {
      .rn-custom-element .rn-linkbox-text-container {
        height: 35%; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-text-container {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .rn-custom-element .rn-linkbox-headline {
    display: block;
    line-height: 1.75rem;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    width: 25%;
    padding-right: 1rem;
    text-align: center; }
    @media (max-width: 991px) {
      .rn-custom-element .rn-linkbox-headline {
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-headline {
        width: 100%;
        padding: 0;
        font-size: 1rem;
        text-align: center; } }
  .rn-custom-element .rn-linkbox-bodycopy {
    letter-spacing: 0rem;
    line-height: 1rem;
    font-size: 0.8rem;
    width: 75%; }
    @media (max-width: 991px) {
      .rn-custom-element .rn-linkbox-bodycopy {
        font-size: 0.8rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-bodycopy {
        width: 100%; } }
  .rn-custom-element .rn-linkbox-text-center {
    height: 27%;
    display: inline-block;
    height: auto; }
  .rn-custom-element .rn-linkbox-menu {
    display: block;
    height: 73%;
    width: 100%; }
    @media (max-width: 991px) {
      .rn-custom-element .rn-linkbox-menu {
        height: 65%; } }
    .rn-custom-element .rn-linkbox-menu .rn-linkbox-string {
      font-size: 1.25rem;
      text-align: center;
      width: 100%;
      height: auto; }
      @media (max-width: 991px) {
        .rn-custom-element .rn-linkbox-menu .rn-linkbox-string {
          font-size: 1rem; } }
  .rn-custom-element .rn-linkbox-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-horizontal {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .rn-custom-element .rn-linkbox-horizontal .rn-linkbox-link {
      display: flex;
      width: 25%; }
      @media (max-width: 767px) {
        .rn-custom-element .rn-linkbox-horizontal .rn-linkbox-link {
          width: 100%; } }
    .rn-custom-element .rn-linkbox-horizontal .rn-linkbox-string {
      width: 100%;
      padding: 2rem 5%;
      height: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .rn-custom-element .rn-linkbox-horizontal .rn-linkbox-image {
      display: block;
      width: 100%;
      height: auto; }
      .rn-custom-element .rn-linkbox-horizontal .rn-linkbox-image img {
        width: 100%;
        height: auto; }
  .rn-custom-element .rn-linkbox-vertical .rn-linkbox-string {
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 0 2rem; }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-vertical .rn-linkbox-string {
        padding: 1rem 0;
        justify-content: center;
        font-size: 1rem; } }
  .rn-custom-element .rn-linkbox-vertical .rn-linkbox-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    height: 33.33%;
    width: 100%;
    overflow: hidden; }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-vertical .rn-linkbox-link {
        display: block;
        height: auto; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-vertical .rn-linkbox-link > span {
        width: 100%;
        display: block; } }
  .rn-custom-element .rn-linkbox-vertical .rn-linkbox-image {
    display: inline-block;
    background-size: 100% auto;
    width: 50%;
    order: 2;
    height: 110px; }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-linkbox-vertical .rn-linkbox-image {
        height: 92px; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-linkbox-vertical .rn-linkbox-image {
        height: 70px; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-linkbox-vertical .rn-linkbox-image {
        width: 50%;
        height: 5rem;
        background-size: cover;
        background-position: center center; } }
  .rn-custom-element .rn-linkbox-vertical .rn-linkbox-even {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end; }
  .rn-custom-element .rn-linkbox-vertical .rn-linkbox-odd {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    -moz-justify-content: left;
    justify-content: left; }
  .rn-custom-element.rn-herobox-herobox {
    height: 658px; }
    @media (max-width: 1199px) {
      .rn-custom-element.rn-herobox-herobox {
        height: 545px; } }
    @media (max-width: 991px) {
      .rn-custom-element.rn-herobox-herobox {
        height: 422px; } }
    @media (max-width: 767px) {
      .rn-custom-element.rn-herobox-herobox {
        min-height: 422px;
        height: auto; } }
    .rn-custom-element.rn-herobox-herobox #player {
      position: absolute;
      left: 0;
      top: 0; }
    .rn-custom-element.rn-herobox-herobox .overlay {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 4;
      width: 100%;
      opacity: 0.5;
      height: 658px; }
      @media (max-width: 1199px) {
        .rn-custom-element.rn-herobox-herobox .overlay {
          height: 545px; } }
      @media (max-width: 991px) {
        .rn-custom-element.rn-herobox-herobox .overlay {
          height: 422px; } }
      @media (max-width: 767px) {
        .rn-custom-element.rn-herobox-herobox .overlay {
          display: none; } }
  .rn-custom-element .rn-herobox-hero-container {
    width: auto;
    overflow: hidden;
    position: relative;
    z-index: 5; }
  .rn-custom-element .rn-herobox-headline-one {
    margin: 5% 0 0 16%;
    font-size: 3.3125rem;
    letter-spacing: 0rem; }
    @media (max-width: 991px) {
      .rn-custom-element .rn-herobox-headline-one {
        font-size: 2rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-herobox-headline-one {
        margin: 0;
        text-align: center; } }
  .rn-custom-element .rn-herobox-headline-two {
    margin: -3% 0 0 25%;
    font-size: 6.5rem;
    letter-spacing: 0rem; }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-herobox-headline-two {
        font-size: 5rem; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-herobox-headline-two {
        font-size: 4.5rem; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-herobox-headline-two {
        margin: 0;
        text-align: center;
        letter-spacing: 0rem;
        font-size: 3rem; } }
  .rn-custom-element.rn-linkbox-linkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      .rn-custom-element.rn-linkbox-linkbox.rn-linkbox-horiz {
        height: auto; } }
  .rn-custom-element .rn-herobox-hero-center {
    display: inline-block;
    padding: 3rem;
    height: auto;
    width: 100%; }
    @media (max-width: 767px) {
      .rn-custom-element .rn-herobox-hero-center {
        padding: 1rem 1rem; } }
    .rn-custom-element .rn-herobox-hero-center p {
      margin: 0 15% 0 52%;
      letter-spacing: 0rem;
      font-size: 1.0rem;
      line-height: 1.5rem; }
      @media (max-width: 1199px) {
        .rn-custom-element .rn-herobox-hero-center p {
          margin-left: 15%; } }
      @media (max-width: 767px) {
        .rn-custom-element .rn-herobox-hero-center p {
          margin: 0;
          width: 100%;
          padding: 0 5%; } }
  @media (max-width: 1199px) {
    .rn-custom-element.more_text .rn-herobox-hero-center {
      padding: 1rem; } }
  .rn-custom-element.more_text .rn-herobox-hero-center p {
    margin: 2% 15% 0 15%; }
    @media (max-width: 1199px) {
      .rn-custom-element.more_text .rn-herobox-hero-center p {
        margin: 2% 2.5%; } }
    @media (max-width: 767px) {
      .rn-custom-element.more_text .rn-herobox-hero-center p {
        font-size: 1rem;
        margin: 2% 0 0;
        width: 100%;
        padding: 0 5%; } }
  @media (max-width: 1199px) {
    .rn-custom-element.more_text .rn-herobox-headline-one {
      margin: 4% 0 0 10%;
      font-size: 3rem; } }
  @media (max-width: 991px) {
    .rn-custom-element.more_text .rn-herobox-headline-one {
      margin: 0% 0 0 10%;
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .rn-custom-element.more_text .rn-herobox-headline-one {
      margin: 1% 0 0 10%;
      letter-spacing: 0rem;
      font-size: 1rem; } }
  @media (max-width: 1199px) {
    .rn-custom-element.more_text .rn-herobox-headline-two {
      font-size: 5rem; } }
  @media (max-width: 991px) {
    .rn-custom-element.more_text .rn-herobox-headline-two {
      letter-spacing: 0rem;
      font-size: 3rem; } }
  @media (max-width: 767px) {
    .rn-custom-element.more_text .rn-herobox-headline-two {
      letter-spacing: 0rem;
      font-size: 2rem; } }
  .rn-custom-element .rn-listbox-bodycopy p {
	margin: 10px 0;
}
  .rn-custom-element .rn-listbox-bodycopy p a {
	text-decoration: underline;
}
  .rn-custom-element .rn-listbox-bodycopy ul {

    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    width: 100%;
 }
    .rn-custom-element .rn-listbox-bodycopy ul li {
      width: 50%; }
      @media (max-width: 767px) {
        .rn-custom-element .rn-listbox-bodycopy ul li {
          width: 100%; } }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-listbox-bodycopy ul {
        font-size: 0.85em; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-listbox-bodycopy ul {
        font-size: 0.70em; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-listbox-bodycopy ul {
        margin-left: 0;
        padding-left: 2.25%; } }
  .rn-custom-element .rn-listbox-text-container {
    display: flex;
    flex-direction: column;
    padding: 3% 5%; }
    @media (max-width: 1199px) {
      .rn-custom-element .rn-listbox-text-container {
        padding: 3% 3%; }
        .rn-custom-element .rn-listbox-text-container .rn-listbox-headline {
          font-size: 1.5rem; }
        .rn-custom-element .rn-listbox-text-container ul {
          margin-top: 2.50%; } }
    @media (max-width: 991px) {
      .rn-custom-element .rn-listbox-text-container {
        padding: 3% 3%; }
        .rn-custom-element .rn-listbox-text-container .rn-listbox-headline {
          font-size: 1.5rem; }
        .rn-custom-element .rn-listbox-text-container ul {
          font-size: 0.8rem;
          margin: 2% 2.50% 0; } }
    @media (max-width: 767px) {
      .rn-custom-element .rn-listbox-text-container {
        padding: 5%; }
        .rn-custom-element .rn-listbox-text-container .rn-listbox-headline {
          font-size: 1.5rem; }
        .rn-custom-element .rn-listbox-text-container ul {
          font-size: 1rem;
          margin: 5%; } }
  .rn-custom-element .rn-listbox-image {
    float: left;
    display: flex;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -1%;
    height: 105%;
    width: 35%; }
  .rn-custom-element.whole-link {
    cursor: pointer; }

@media (max-width: 991px) {
  .political-panel .rn-textbox-image-container.img-right {
    display: none; } }

@media (max-width: 767px) {
  .political-panel .rn-textbox-image-container.img-right {
    display: block; } }

.political-panel .rn-custom-element .rn-textbox-text-center ul {
  margin-top: 1em; }

.political-panel .rn-custom-element .rn-textbox-text-center li {
  -webkit-font-smoothing: antialiased;
  display: list-item; }

@media (max-width: 767px) {
  .image-half-size .rn-textbox-textbox.div-right {
    margin-right: 0;
    margin-bottom: 0; } }

.image-half-size .rn-singleimage-container {
  background-size: cover;
  background-position: center;
  height: 225px; }
  .image-half-size .rn-singleimage-container.div-right {
    margin-right: 22px; }
    @media (max-width: 767px) {
      .image-half-size .rn-singleimage-container.div-right {
        margin-right: 0px; } }
  .image-half-size .rn-singleimage-container.div-left {
    margin-left: 22px; }
  @media (max-width: 1199px) {
    .image-half-size .rn-singleimage-container {
      height: 187px; } }
  @media (max-width: 991px) {
    .image-half-size .rn-singleimage-container {
      height: 145px; } }
  @media (max-width: 767px) {
    .image-half-size .rn-singleimage-container {
      min-height: 145px; } }

.rn-singleimage-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px; }
  .rn-singleimage-container.div-right {
    margin-right: 22px; }
    @media (max-width: 767px) {
      .rn-singleimage-container.div-right {
        margin-right: 0px;
        margin-bottom: 22px; } }
  .rn-singleimage-container.div-left {
    margin-left: 22px; }
  @media (max-width: 1199px) {
    .rn-singleimage-container {
      height: 575px; } }
  @media (max-width: 991px) {
    .rn-singleimage-container {
      height: 575px; } }
  @media (max-width: 767px) {
    .rn-singleimage-container {
      min-height: 575px; } }

.fit-image-height .rn-singleimage-container {
  height: 222px; }
  @media (max-width: 1199px) {
    .fit-image-height .rn-singleimage-container {
      height: 222px; } }
  @media (max-width: 991px) {
    .fit-image-height .rn-singleimage-container {
      height: 222px; } }

@media (max-width: 991px) {
  .hide-image-md .rn-textbox-image-container {
    display: none; } }

#hp-container .hp-btn {
  display: inline-block;
  margin-top: 0.75rem;
  font-size: 1rem;
  padding: 10px 19px 9px;
  letter-spacing: 0.01rem;
  text-decoration: none;
  background: #ffffff;
  text-transform: uppercase; }
  #hp-container .hp-btn.hp-blue {
    color: #0077bf; }
    #hp-container .hp-btn.hp-blue:visited, #hp-container .hp-btn.hp-blue:active {
      color: #0077bf; }
  #hp-container .hp-btn.hp-green {
    color: #4e9d2d; }
    #hp-container .hp-btn.hp-green:visited, #hp-container .hp-btn.hp-green:active {
      color: #4e9d2d; }
  #hp-container .hp-btn.hp-ltblue {
    color: #5fc4e3; }
    #hp-container .hp-btn.hp-ltblue:visited, #hp-container .hp-btn.hp-ltblue:active {
      color: #5fc4e3; }

#hp-container .hp-hero {
  color: #ffffff;
  margin-bottom: 22px; }
  #hp-container .hp-hero h2 {
    font-size: 2.5rem;
    line-height: 2.6rem;
    margin: 0 0 10px;
    font-weight: normal; }
  #hp-container .hp-hero h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0; }
  #hp-container .hp-hero .hp-hero-cat {
    width: 150px; }
    #hp-container .hp-hero .hp-hero-cat p {
      margin-left: 0;
      font-size: 1rem;
      line-height: 1.25rem; }
  #hp-container .hp-hero .hp-col-1 {
    padding: 15px;
    height: 300px;
    background: rgba(0, 119, 191, 0.6); }
    #hp-container .hp-hero .hp-col-1 .hp-hero-content {
      padding: 50px 0 0 0; }
  #hp-container .hp-hero .hp-col-2 {
    padding: 15px;
    height: 360px;
    background: rgba(78, 157, 45, 0.6); }
    #hp-container .hp-hero .hp-col-2 .hp-hero-content {
      padding: 60px 0 0 0; }
      #hp-container .hp-hero .hp-col-2 .hp-hero-content p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 0 20px; }

#hp-container .hp-module {
  display: block;
  color: #ffffff; }
  #hp-container .hp-module .xl-text {
    font-size: 7rem;
    line-height: 7rem;
    text-align: center;
    margin: 0; }
  #hp-container .hp-module ul {
    margin: 0 0 22px; }
    #hp-container .hp-module ul li {
      width: 100%;
      margin: 0; }
      #hp-container .hp-module ul li.hp-col3 {
        width: 100%;
        margin: 22px 0 0 0; }
      #hp-container .hp-module ul li.hp-mod-img {
        width: 100%;
        height: 250px; }
      #hp-container .hp-module ul li .content {
        width: 100%;
        padding: 30px 10%; }
        #hp-container .hp-module ul li .content h2 {
          margin-top: 0; }
      #hp-container .hp-module ul li.hp-green {
        background: #4e9d2d; }
      #hp-container .hp-module ul li.hp-blue {
        background: #0077bf; }
      #hp-container .hp-module ul li.hp-ltblue {
        background: #5fc4e3; }
      #hp-container .hp-module ul li.hp-gray {
        background: #D8E0E5; }
  #hp-container .hp-module.mod3 {
    color: #58585B; }
    #hp-container .hp-module.mod3 a, #hp-container .hp-module.mod3 a:visited, #hp-container .hp-module.mod3 a:active, #hp-container .hp-module.mod3 a:focus {
      color: #58585B; }
    #hp-container .hp-module.mod3 ul {
      list-style-type: none;
      margin: 0 0 22px; }
      #hp-container .hp-module.mod3 ul li {
        width: 100%;
        margin: 22px 0 0 0; }
        #hp-container .hp-module.mod3 ul li.hp-col1 {
          margin: 0; }
          #hp-container .hp-module.mod3 ul li.hp-col1 .content {
            padding: 70px 10%; }
            #hp-container .hp-module.mod3 ul li.hp-col1 .content .hp-text {
              width: 100%;
              float: none;
              margin: 0; }
        #hp-container .hp-module.mod3 ul li .content {
          padding: 30px 5%; }
          #hp-container .hp-module.mod3 ul li .content .hp-icon {
            float: left;
            width: 15%;
            max-width: 70px; }
          #hp-container .hp-module.mod3 ul li .content .hp-text {
            float: right;
            width: 80%;
            margin-left: 5%; }
          #hp-container .hp-module.mod3 ul li .content h2 {
            font-size: 25px;
            margin-top: 0; }
          #hp-container .hp-module.mod3 ul li .content h3 {
            font-size: 21px;
            margin-top: 0; }
  #hp-container .hp-module.mod-logos .content {
    padding: 15px; }
  #hp-container .hp-module.mod-logos h2 {
    margin: 0 0 15px 1%;
    color: #58585B; }
  #hp-container .hp-module.mod-logos ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; }
    #hp-container .hp-module.mod-logos ul li {
      width: 31%;
      margin: 1% 1% 15px;
      display: flex;
      align-items: center; }
      #hp-container .hp-module.mod-logos ul li img {
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        -ms-interpolation-mode: bicubic; }

@media (min-width: 768px) {
  #hp-container .hp-hero {
    overflow: hidden; }
    #hp-container .hp-hero .hp-slide {
      position: absolute;
      left: 0;
      width: 200%;
      height: 100%;
      -webkit-transition: left .5s;
      transition: left .5s; }
      #hp-container .hp-hero .hp-slide.slideleft {
        left: 50%; }
      #hp-container .hp-hero .hp-slide.slideright {
        left: -50%; }
      #hp-container .hp-hero .hp-slide .hp-hero-bg1 {
        background: rgba(78, 157, 45, 0.6);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -25%; }
      #hp-container .hp-hero .hp-slide .hp-hero-bg2 {
        background: rgba(0, 119, 191, 0.6);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 25%; }
    #hp-container .hp-hero #player {
      position: absolute;
      left: 0;
      right: 0; }
    #hp-container .hp-hero .hp-col-1, #hp-container .hp-hero .hp-col-2 {
      height: 405px;
      background: transparent; }
    #hp-container .hp-hero .hp-col-1 .hp-slide-col1 {
      position: relative;
      left: 0;
      -webkit-transition: left .5s;
      transition: left .5s; }
      #hp-container .hp-hero .hp-col-1 .hp-slide-col1.slideright {
        left: -150%; }
    #hp-container .hp-hero .hp-col-2 .hp-slide-col2 {
      position: relative;
      right: 0;
      -webkit-transition: right .5s;
      transition: right .5s; }
      #hp-container .hp-hero .hp-col-2 .hp-slide-col2.slideleft {
        right: -150%; }
  #hp-container .hp-module ul {
    display: flex;
    overflow: hidden;
    margin: 0 0 22px;
    flex-wrap: wrap; }
    #hp-container .hp-module ul li {
      display: flex;
      align-items: center;
      width: 50%;
      margin: 0; }
      #hp-container .hp-module ul li.hp-col3 {
        width: 100%;
        margin: 22px 0 0 0; }
        #hp-container .hp-module ul li.hp-col3 .content {
          width: 100%;
          padding: 30px 5%; }
      #hp-container .hp-module ul li.hp-mod-img {
        width: 50%;
        height: auto; }
      #hp-container .hp-module ul li .content {
        width: 100%;
        padding: 30px 10%; }
  #hp-container .hp-module.mod2 ul li.hp-col1 {
    width: 50%; }
  #hp-container .hp-module.mod2 ul li.hp-col2 {
    width: 50%; }
  #hp-container .hp-module.mod2 ul li .content {
    width: 100%;
    padding: 30px 10%; }
  #hp-container .hp-module.mod3 ul {
    display: flex;
    overflow: hidden;
    margin: 0 0 22px;
    flex-wrap: wrap; }
    #hp-container .hp-module.mod3 ul li {
      display: flex;
      align-items: inherit;
      width: 32%;
      margin: 0 0 0 2%;
      position: relative; }
      #hp-container .hp-module.mod3 ul li:first-child {
        margin: 0;
        align-items: center; }
      #hp-container .hp-module.mod3 ul li.hp-col1 .content {
        padding: 70px 24%; }
      #hp-container .hp-module.mod3 ul li .content {
        width: 100%;
        padding: 50px 12%; }
        #hp-container .hp-module.mod3 ul li .content .hp-icon {
          position: absolute;
          margin: 0;
          bottom: 10px;
          right: 5%;
          width: 30px; }
        #hp-container .hp-module.mod3 ul li .content .hp-text {
          width: 100%; }
          #hp-container .hp-module.mod3 ul li .content .hp-text:first-child {
            width: 100%; }
  #hp-container .hp-module.mod-logos .content {
    padding: 0; }
  #hp-container .hp-module.mod-logos ul li {
    width: 18%; } }

@media (min-width: 990px) {
  #hp-container .hp-hero h2 {
    font-size: 4.5rem;
    line-height: 4.35rem;
    margin: 0 0 10px; }
  #hp-container .hp-hero h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0; }
  #hp-container .hp-hero p {
    margin-left: 20%;
    font-size: 1.25rem;
    line-height: 1rem; }
  #hp-container .hp-hero .hp-hero-cat {
    width: 150px; }
    #hp-container .hp-hero .hp-hero-cat p {
      margin-left: 0;
      font-size: 1rem;
      line-height: 1.25rem; }
  #hp-container .hp-hero .hp-col-1, #hp-container .hp-hero .hp-col-2 {
    height: 530px; }
  #hp-container .hp-hero .hp-col-1 {
    padding: 50px; }
    #hp-container .hp-hero .hp-col-1 .hp-hero-content {
      padding: 35% 0 0 0; }
    #hp-container .hp-hero .hp-col-1 .hp-hero-cat {
      float: left; }
  #hp-container .hp-hero .hp-col-2 {
    padding: 50px; }
    #hp-container .hp-hero .hp-col-2 .hp-hero-content {
      padding: 35% 0 0 12%; }
      #hp-container .hp-hero .hp-col-2 .hp-hero-content p {
        margin-left: 0;
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding-left: 25%; }
    #hp-container .hp-hero .hp-col-2 .hp-hero-cat {
      float: right; }
  #hp-container .hp-module ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 0 22px; }
    #hp-container .hp-module ul li {
      display: flex;
      align-items: center;
      width: 33.33333%;
      margin: 0; }
      #hp-container .hp-module ul li.hp-col3 {
        width: 33.33333%;
        margin: 0 0 0 22px; }
      #hp-container .hp-module ul li .content {
        width: 100%;
        padding: 30px 10%; }
  #hp-container .hp-module.mod2 ul li.hp-col1 {
    width: 70%; }
    #hp-container .hp-module.mod2 ul li.hp-col1 .hp-left {
      width: 70%;
      float: left; }
    #hp-container .hp-module.mod2 ul li.hp-col1 .hp-right {
      width: 30%;
      float: right; }
  #hp-container .hp-module.mod2 ul li.hp-col2 {
    width: 30%; }
  #hp-container .hp-module.mod2 ul li .content {
    width: 100%;
    padding: 100px 5%; }
  #hp-container .hp-module.mod3 ul {
    display: flex;
    overflow: hidden;
    margin: 0 0 22px;
    flex-wrap: wrap; }
    #hp-container .hp-module.mod3 ul li {
      display: flex;
      align-items: inherit;
      width: 32%;
      margin: 0 0 0 2%;
      position: relative; }
      #hp-container .hp-module.mod3 ul li:first-child {
        margin: 0;
        align-items: center; }
        #hp-container .hp-module.mod3 ul li:first-child.hp-col1 .content {
          padding: 50px 24%; }
          #hp-container .hp-module.mod3 ul li:first-child.hp-col1 .content h2 {
            font-size: 30px;
            line-height: 40px; }
      #hp-container .hp-module.mod3 ul li .content {
        width: 100%;
        padding: 50px 7%; }
        #hp-container .hp-module.mod3 ul li .content .hp-icon {
          position: static;
          float: left;
          width: 20%;
          bottom: auto;
          right: auto;
          padding-top: 17%; }
        #hp-container .hp-module.mod3 ul li .content .hp-text {
          float: left;
          width: 75%;
          margin-left: 3%; }
          #hp-container .hp-module.mod3 ul li .content .hp-text:first-child {
            width: 90%; }
  #hp-container .hp-module.mod-logos ul li {
    width: 14%;
    margin: 1.3% 1.3% 15px; } }

@media (min-width: 1190px) {
  #hp-container .hp-hero .hp-col-1, #hp-container .hp-hero .hp-col-2 {
    height: 640px; } }

html, head, body {
  font-style: normal;
  font-size: 100%;
  font-family: "Gotham A", "Gotham B"; }

.wrap {
  height: auto;
  margin: auto; }

ul, li {
    font-size: .9rem;
    font-weight: 400;
}

/*
	Global Style
*/
p {
  font-size: 14px;
  font-size: 0.875rem; }

a, a:visited, a:hover {
  color: #58585B; }

.vertical-align, .site-header .main-navigation .menu-main-menu-container .menu li, .sidebar .menu a, .about-us ul li, .about-us-leadership ul li > div:last-of-type, .about-us-association .modules li, .about-us-association .partnerships li, .about-us-charitable ul li:not(:first-child):not(:last-child), .about-us-charitable ul li:last-child .top, .about-us-charitable ul li:last-child .bottom, .hero .legal, .location .content-container .content {
  display: flex;
  align-items: center; }

.clean-ul, .about-us ul, .about-us-leadership ul, .about-us-association ul, .about-us-charitable ul, .demos-videos ul, .demos-list ul, .hero .location .phone-number, .location .content-container .location-list ul, .events .archive-list ul,
.news .archive-list ul,
.publicrelations .archive-list ul,
.article-archive .archive-list ul, .events .events-list ul,
.events .news-list ul,
.events .article-list ul,
.events .publicrelations-list ul,
.news .events-list ul,
.news .news-list ul,
.news .article-list ul,
.news .publicrelations-list ul,
.publicrelations .events-list ul,
.publicrelations .news-list ul,
.publicrelations .article-list ul,
.publicrelations .publicrelations-list ul,
.article-archive .events-list ul,
.article-archive .news-list ul,
.article-archive .article-list ul,
.article-archive .publicrelations-list ul {
  list-style-type: none;
  margin: 0; }

.cnary {
  background-color: #ffd040; }

.mustard {
  background-color: #ecaa00; }

/*
	Header and Navigation Styles
*/
header {
  padding: 0; }
  @media (max-width: 991px) {
    header {
      margin-bottom: 10px; } }

@media (max-width: 767px) {
  .site-header {
    padding: 10px 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
    min-width: 320px; } }

.site-header .searchform, .site-header .utility-nav, .site-header #lang_sel {
  float: right;
  position: relative;
  margin: 15px 0; }

.site-header #lang_sel {
  z-index: 100;
  top: -3px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .site-header #lang_sel {
      position: absolute;
      right: 15px;
      top: 60px; } }

.site-header .utility-nav {
  position: relative;
  text-align: right;
  margin-right: 10px;
  margin-left: 10px; }
  @media (max-width: 991px) {
    .site-header .utility-nav {
      margin-right: 0; } }
  .site-header .utility-nav ul li:after {
    content: ""; }
  .site-header .utility-nav ul li a {
    padding: 0 7px; }
    .site-header .utility-nav ul li a:hover, .site-header .utility-nav ul li a:active, .site-header .utility-nav ul li a:visited {
      text-decoration: none; }

.site-header .main-navigation {
  margin: 0;
  height: auto;
  position: relative; }
  @media (max-width: 767px) {
    .site-header .main-navigation {
      height: auto; } }
  .site-header .main-navigation .menu-main-menu-container .menu {
    -webkit-font-smoothing: antialiased;
    border: 0;
    display: flex;
    height: auto;
    margin-bottom: 15px; }
    @media (max-width: 991px) {
.menu-main-menu-container .menu li {
      line-height: 1.5rem; }
      .site-header .main-navigation .menu-main-menu-container .menu {
        height: auto;
 } }
    .site-header .main-navigation .menu-main-menu-container .menu li {
      background-color: #0077bf;
      border: 0;
      width: 33%; 
 	 }
      @media (max-width: 991px) {
        .site-header .main-navigation .menu-main-menu-container .menu li {
          padding: 20px;
          width: 150px; } }
      .site-header .main-navigation .menu-main-menu-container .menu li:first-child {
        background-color: #4e9d2d;
        margin-right: 20px; }
      .site-header .main-navigation .menu-main-menu-container .menu li:last-child {
        background-color: #5fc4e3;
        margin-left: 20px; }
      .site-header .main-navigation .menu-main-menu-container .menu li a,
      .site-header .main-navigation .menu-main-menu-container .menu li a:hover,
      .site-header .main-navigation .menu-main-menu-container .menu li a:visited {
        padding: 1rem;
        border: 0;
        color: #ffffff;
        text-decoration: none;
        margin: 0 auto;
        line-height: 24px;
        line-height: 1.5rem;
        font-size: 18px;
        font-size: 1.125rem; }

@media (max-width: 991px) {
  .site-header .site-branding {
    margin-bottom: 22px; } }

.site-header .mobile-menu-button {
  margin: 15px -15px 0 0;
  padding: 0;
  border: 0;
  text-align: center; }
  .site-header .mobile-menu-button i {
    color: #9ba0a3;
    font-size: 32px;
    font-size: 2rem; }

.site-header .mobile-main-nav .menu-mobile-menu-container {
  display: none;
  position: fixed;
  left: 0;
  top: 82px;
  width: 100%;
  z-index: 5;
  background-color: #ffffff;
  min-width: 320px; }
  .site-header .mobile-main-nav .menu-mobile-menu-container ul li {
    list-style-type: none;
    position: relative; }
  .site-header .mobile-main-nav .menu-mobile-menu-container .menu {
    margin-left: 30px; }
    .site-header .mobile-main-nav .menu-mobile-menu-container .menu li {
      margin: 10px 0; }
      .site-header .mobile-main-nav .menu-mobile-menu-container .menu li:first-child .mobile-menu-dropdown, .site-header .mobile-main-nav .menu-mobile-menu-container .menu li:nth-child(3) .mobile-menu-dropdown {
        color: #0077bf; }
      .site-header .mobile-main-nav .menu-mobile-menu-container .menu li:nth-child(2) .mobile-menu-dropdown {
        color: #4e9d2d; }
      .site-header .mobile-main-nav .menu-mobile-menu-container .menu li:nth-child(4) .mobile-menu-dropdown {
        color: #de4216; }
      .site-header .mobile-main-nav .menu-mobile-menu-container .menu li:nth-child(5) .mobile-menu-dropdown {
        color: #ecaa00; }
      .site-header .mobile-main-nav .menu-mobile-menu-container .menu li a {
        color: #9ba0a3; }
        .site-header .mobile-main-nav .menu-mobile-menu-container .menu li a:hover, .site-header .mobile-main-nav .menu-mobile-menu-container .menu li a:active, .site-header .mobile-main-nav .menu-mobile-menu-container .menu li a:focus {
          text-decoration: none; }
  .site-header .mobile-main-nav .menu-mobile-menu-container .sub-menu {
    display: none; }
  .site-header .mobile-main-nav .menu-mobile-menu-container .current-page-parent .sub-menu {
    display: block; }
  .site-header .mobile-main-nav .menu-mobile-menu-container .mobile-menu-dropdown {
    width: 40px;
    height: 32px;
    display: block;
    position: absolute;
    right: 0;
    top: -5px;
    text-align: center;
    font-size: 32px;
    font-size: 2rem; }
    .site-header .mobile-main-nav .menu-mobile-menu-container .mobile-menu-dropdown i {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0; }
  .site-header .mobile-main-nav .menu-mobile-menu-container #lang_sel {
    margin: 0 0 0 30px;
    float: none;
    top: auto; }

/*
	Global Page Styles
*/
@media (max-width: 767px) {
  .site-content {
    padding-top: 82px; } }

/*
 Utility Page Styles
*/
.page-template-page-utility .site-content > div.container {
  padding: 0;
  overflow: hidden; }

.sidebar .widget {
  margin: 0; }

.sidebar .menu {
  margin: 0; }
  .sidebar .menu li:not(:first-child):not(:last-child) {
    margin: 22px 0; }
  .sidebar .menu a {
    height: 110px;
    color: #ffffff;
    font-weight: 400;
    padding-left: 20%;
    font-size: 22.4px;
    font-size: 1.4rem; }
    @media (max-width: 1199px) {
      .sidebar .menu a {
        padding-left: 24%; } }
    @media (max-width: 991px) {
      .sidebar .menu a {
        font-size: 18px;
        font-size: 1.125rem; } }
    .sidebar .menu a:hover, .sidebar .menu a:active, .sidebar .menu a:focus {
      text-decoration: none; }

/*
	Sidebar menu color for About Us pages
*/
.about-us-menu .sidebar .menu li {
  background-color: #ecaa00; }

/*
	Sidebar menu color for Events and Resources pages
*/
.events-menu .sidebar .menu li,
.single-post .sidebar .menu li,
.archive .sidebar .menu li {
  background-color: #de4216; }

/*
	Hero Global Styles
*/
.hero {
  padding: 0 11px; }
  .hero header {
    background-size: cover;
    background-position: center;
    height: 506px;
    margin: 0;
    padding: 0;
    color: #ffffff; }
    @media (max-width: 767px) {
      .hero header {
        height: 400px; } }
    .hero header h1, .hero header p {
      margin: 0;
      position: absolute; }
    .hero header h1:first-of-type {
      font-size: 48px;
      font-size: 3rem; }
      @media (max-width: 991px) {
        .hero header h1:first-of-type {
          font-size: 32px;
          font-size: 2rem; } }
      @media (max-width: 767px) {
        .hero header h1:first-of-type {
          font-size: 26px;
          font-size: 1.625rem; } }
    .hero header h1:last-of-type {
      font-size: 85px;
      font-size: 5.3125rem; }
      @media (max-width: 991px) {
        .hero header h1:last-of-type {
          font-size: 64px;
          font-size: 4rem; } }
      @media (max-width: 767px) {
        .hero header h1:last-of-type {
          font-size: 38px;
          font-size: 2.375rem; } }
    .hero header p {
      font-weight: 400;
      font-size: 14px;
      font-size: 0.875rem; }
    .hero header a {
      color: #ffffff;
      text-decoration: underline; }

/*
	Utility Page Global Styles
*/
.site-main ul h1 {
  font-weight: 400;
  font-size: 22.4px;
  font-size: 1.4rem; }

.site-main ul h2 {
  font-size: 20px;
  font-size: 1.25rem; }

.site-main ul p {
  font-weight: 400;
  font-size: 12px;
  font-size: 0.8rem; }

/*
	Events and Resources Pages Hero Styles
*/
.page-template-page-events-resources .hero h1:first-of-type,
.events-post .hero h1:first-of-type,
.news-post .hero h1:first-of-type,
.pr-post .hero h1:first-of-type,
.archive .hero h1:first-of-type {
  top: 25%;
  left: 20%; }

.page-template-page-events-resources .hero h1:last-of-type,
.events-post .hero h1:last-of-type,
.news-post .hero h1:last-of-type,
.pr-post .hero h1:last-of-type,
.archive .hero h1:last-of-type {
  top: 35%;
  left: 30%; }

.page-template-page-events-resources .hero p,
.events-post .hero p,
.news-post .hero p,
.pr-post .hero p,
.archive .hero p {
  width: 45%;
  bottom: 30%;
  left: 40%; }
  @media (max-width: 767px) {
    .page-template-page-events-resources .hero p,
    .events-post .hero p,
    .news-post .hero p,
    .pr-post .hero p,
    .archive .hero p {
      bottom: 10%; } }

/*
 About Us Page Styles
*/
.hero .about-us h1:first-of-type {
  top: 28%;
  left: 11%; }
  @media (max-width: 1199px) {
    .hero .about-us h1:first-of-type {
      left: 7%; } }

.hero .about-us h1:last-of-type {
  top: 40%;
  left: 21%; }
  @media (max-width: 1199px) {
    .hero .about-us h1:last-of-type {
      left: 13%; } }
  @media (max-width: 767px) {
    .hero .about-us h1:last-of-type {
      left: 0;
      right: 0;
      text-align: center; } }

.hero .about-us p {
  width: 45%;
  bottom: 25%;
  left: 40%; }
  @media (max-width: 767px) {
    .hero .about-us p {
      left: 30%;
      bottom: 10%;
      margin: 0 auto;
      width: 60%; } }

.about-us {
  margin-top: 22px; }
  .about-us ul {
    overflow: hidden;
    padding: 0 11px;
    display: flex;
    color: #ffffff; }
    @media (max-width: 991px) {
      .about-us ul {
        display: block; } }
    .about-us ul li {
      background-color: #ecaa00; }
      @media (max-width: 767px) {
        .about-us ul li {
          display: block; } }
      .about-us ul li:first-child {
        margin-right: 11px;
        width: 35%; }
        @media (max-width: 991px) {
          .about-us ul li:first-child {
            margin-right: 0;
            margin-bottom: 22px;
            width: 100%; } }
        .about-us ul li:first-child > div {
          padding: 0 20%; }
          @media (max-width: 991px) {
            .about-us ul li:first-child > div {
              padding: 3% 10%; } }
      .about-us ul li:last-child {
        margin-left: 11px;
        width: 65%; }
        @media (max-width: 991px) {
          .about-us ul li:last-child {
            width: 100%;
            margin-left: 0; } }
        .about-us ul li:last-child > div {
          width: 50%;
          padding: 0 10%; }
          @media (max-width: 767px) {
            .about-us ul li:last-child > div {
              width: 100%;
              padding: 3% 10%; } }
        .about-us ul li:last-child img {
          max-width: 50%;
          width: 50%; }
          @media (max-width: 767px) {
            .about-us ul li:last-child img {
              max-width: 100%;
              width: 100%; } }

/*
 About Us - Leadership Team Styles
*/
.hero .about-us-leadership h1:first-of-type {
  top: 28%;
  left: 30%; }

.hero .about-us-leadership h1:last-of-type {
  top: 40%;
  left: 21%; }

.hero .about-us-leadership p {
  width: 45%;
  bottom: 25%;
  left: 35%; }
  @media (max-width: 1199px) {
    .hero .about-us-leadership p {
      bottom: 20%;
      left: 30%; } }
  @media (max-width: 767px) {
    .hero .about-us-leadership p {
      bottom: 10%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 60%; } }

.about-us-leadership {
  margin-top: 22px; }
  .about-us-leadership ul {
    padding: 0 11px; }
    .about-us-leadership ul li {
      width: 100%;
      color: #ffffff;
      background-color: #ecaa00;
      margin-bottom: 20px;
      display: flex; }
      @media (max-width: 767px) {
        .about-us-leadership ul li {
          display: list-item; } }
      .about-us-leadership ul li img {
        width: 20%;
        height: 100%; }
      .about-us-leadership ul li > div:first-of-type {
        height: 300px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center top; }
        @media (max-width: 767px) {
          .about-us-leadership ul li > div:first-of-type {
            background-position: center 25%; } }
      .about-us-leadership ul li > div:last-of-type {
        width: 80%; }
        @media (max-width: 767px) {
          .about-us-leadership ul li > div:last-of-type {
            width: 100%; } }
        .about-us-leadership ul li > div:last-of-type > div {
          padding: 0 5%;
          font-weight: 400;
          font-size: 12px;
          font-size: 0.8rem; }
          @media (max-width: 767px) {
            .about-us-leadership ul li > div:last-of-type > div {
              padding: 15px; } }
      .about-us-leadership ul li h1 {
        margin-top: 0;
        font-weight: 500; }
      .about-us-leadership ul li h2 {
        margin: 0;
        font-size: 16px;
        font-size: 1rem; }

/*
 About Us - Association and Partnership Page Styles
*/
.hero .about-us-association h1:first-of-type {
  top: 28%;
  left: 23%; }

.hero .about-us-association h1:last-of-type {
  top: 40%;
  left: 11%; }

.hero .about-us-association p {
  width: 45%;
  bottom: 20%;
  left: 25%; }
  @media (max-width: 1199px) {
    .hero .about-us-association p {
      bottom: 10%;
      left: 30%; } }
  @media (max-width: 767px) {
    .hero .about-us-association p {
      width: 80%;
      bottom: 5%;
      left: 0;
      right: 0;
      margin: 0 auto; } }

.about-us-association {
  margin-top: 22px; }
  .about-us-association ul {
    padding: 0 11px; }
  .about-us-association .modules {
    overflow: hidden;
    display: flex;
    color: #ffffff; }
    @media (max-width: 991px) {
      .about-us-association .modules {
        display: block; } }
    .about-us-association .modules li {
      background-color: #ecaa00; }
      .about-us-association .modules li:first-child {
        flex: 2; }
        .about-us-association .modules li:first-child > div {
          padding: 0 25%; }
          @media (max-width: 1199px) {
            .about-us-association .modules li:first-child > div {
              padding: 0 20%; } }
          @media (max-width: 991px) {
            .about-us-association .modules li:first-child > div {
              padding: 5% 20%; } }
      .about-us-association .modules li:last-child {
        flex: 3; }
      .about-us-association .modules li img {
        width: 100%; }
  .about-us-association .partnerships {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; }
    .about-us-association .partnerships li {
      width: 14%;
      margin: 1.3% 1.3% 15px;
      justify-content: center; }
      @media (max-width: 767px) {
        .about-us-association .partnerships li {
          width: 31%;
          margin: 1% 1% 15px; } }
      .about-us-association .partnerships li img {
        max-height: 100%;
        width: 100%;
        max-width: 100%; }

/*
 About Us - Charitable Giving/Kiva Page Styles
*/
.hero .about-us-charitable h1:first-of-type {
  top: 27%;
  left: 25%; }
  @media (max-width: 767px) {
    .hero .about-us-charitable h1:first-of-type {
      top: 10%;
      left: 20%; } }

.hero .about-us-charitable h1:last-of-type {
  top: 40%;
  left: 20%; }
  @media (max-width: 1199px) {
    .hero .about-us-charitable h1:last-of-type {
      left: 15%; } }
  @media (max-width: 767px) {
    .hero .about-us-charitable h1:last-of-type {
      left: 10%;
      top: 20%; } }

.hero .about-us-charitable p {
  width: 60%;
  bottom: 18%;
  left: 35%; }
  @media (max-width: 1199px) {
    .hero .about-us-charitable p {
      width: 70%;
      bottom: 15%;
      left: 28%; } }
  @media (max-width: 767px) {
    .hero .about-us-charitable p {
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 10%; } }

.about-us-charitable {
  margin-top: 22px;
  padding: 0 11px; }
  .about-us-charitable .module-1 {
    text-align: center;
    padding: 3%;
    background-color: #ffd040;
    margin-bottom: 25px; }
    @media (max-width: 767px) {
      .about-us-charitable .module-1 {
        padding: 15px; } }
    .about-us-charitable .module-1 h1 {
      margin: 0; }
  .about-us-charitable ul {
    display: flex; }
    @media (max-width: 991px) {
      .about-us-charitable ul {
        flex-wrap: wrap; } }
    .about-us-charitable ul li {
      color: #ffffff; }
      .about-us-charitable ul li:first-child {
        width: 30%; }
        @media (max-width: 991px) {
          .about-us-charitable ul li:first-child {
            width: 50%; } }
        @media (max-width: 767px) {
          .about-us-charitable ul li:first-child {
            width: 100%; } }
        .about-us-charitable ul li:first-child img {
          width: 100%; }
      .about-us-charitable ul li:not(:first-child):not(:last-child) {
        width: 30%;
        margin-right: 2%;
        background-color: #ecaa00;
        padding: 0 5%; }
        @media (max-width: 991px) {
          .about-us-charitable ul li:not(:first-child):not(:last-child) {
            width: 50%;
            margin-right: 0; } }
        @media (max-width: 767px) {
          .about-us-charitable ul li:not(:first-child):not(:last-child) {
            width: 100%;
            padding: 15px; } }
      .about-us-charitable ul li:last-child {
        position: relative; }
        @media (min-width: 992px) {
          .about-us-charitable ul li:last-child {
            flex: 1; } }
        @media (max-width: 991px) {
          .about-us-charitable ul li:last-child {
            display: flex;
            margin-top: 25px; } }
        @media (max-width: 767px) {
          .about-us-charitable ul li:last-child {
            display: block;
            width: 100%; } }
        .about-us-charitable ul li:last-child .top, .about-us-charitable ul li:last-child .bottom {
          position: absolute;
          height: 48%;
          width: 100%; }
          @media (max-width: 991px) {
            .about-us-charitable ul li:last-child .top, .about-us-charitable ul li:last-child .bottom {
              position: relative;
              width: 50%;
              height: auto; } }
          @media (max-width: 767px) {
            .about-us-charitable ul li:last-child .top, .about-us-charitable ul li:last-child .bottom {
              width: 100%;
              display: block; } }
        .about-us-charitable ul li:last-child .top {
          background-color: #ffd040;
          display: flex;
          flex-direction: column; }
          @media (max-width: 767px) {
            .about-us-charitable ul li:last-child .top {
              display: block; } }
          .about-us-charitable ul li:last-child .top > div {
            height: 50%;
            width: 100%; }
            .about-us-charitable ul li:last-child .top > div:first-of-type {
              background-size: 100% auto; }
              @media (max-width: 991px) {
                .about-us-charitable ul li:last-child .top > div:first-of-type {
                  height: 140px; } }
            .about-us-charitable ul li:last-child .top > div:last-of-type {
              background-color: #ffd040;
              padding: 15px;
              color: #58585B; }
              @media (max-width: 1199px) {
                .about-us-charitable ul li:last-child .top > div:last-of-type {
                  padding: 10px; } }
              @media (max-width: 991px) {
                .about-us-charitable ul li:last-child .top > div:last-of-type {
                  padding: 15px; } }
              .about-us-charitable ul li:last-child .top > div:last-of-type p {
                margin: 0; }
        .about-us-charitable ul li:last-child .bottom {
          background-color: #ecaa00;
          bottom: 0; }
          .about-us-charitable ul li:last-child .bottom > div {
            padding: 0 10%; }
            @media (max-width: 767px) {
              .about-us-charitable ul li:last-child .bottom > div {
                padding: 15px; } }
      .about-us-charitable ul li h1 {
        margin-top: 0; }
  .about-us-charitable .module-5 {
    margin-top: 25px; }
    @media (max-width: 767px) {
      .about-us-charitable .module-5 {
        padding: 15px;
        margin-bottom: 0; } }
  .about-us-charitable a {
    color: #ffffff; }

/* About Us  - Careers */
/*
 About Us - Association and Partnership Page Styles
*/
.hero .about-us-careers h1:first-of-type {
  top: 28%;
  left: 23%; }

.hero .about-us-careers h1:last-of-type {
  top: 40%;
  left: 11%; }
  @media (max-width: 767px) {
    .hero .about-us-careers h1:last-of-type {
      top: 20%;
      left: 10%; } }

.hero .about-us-careers p {
  width: 45%;
  bottom: 25%;
  left: 25%; }
  @media (max-width: 1199px) {
    .hero .about-us-careers p {
      bottom: 20%;
      left: 30%; } }
  @media (max-width: 767px) {
    .hero .about-us-careers p {
      top: 40%;
      left: 15%;
      width: 65%; } }

.about-us-careers .careers-list a:visited, .about-us-careers .careers-list a:active {
  color: #0077bf; }

@media (max-width: 767px) {
  .about-us-careers .careers-list {
    padding: 15px 0 0 15px; } }

@media (min-width: 600px) {
  .about-us-careers .careers-list {
    padding: 15px 15px 0 15px; } }

/*
	Legal Template Styles
*/
.demos-videos {
  margin-top: 22px; }
  .demos-videos ul {
    overflow: hidden;
    padding: 0;
    display: flex;
    color: #ffffff; }
    @media (max-width: 767px) {
      .demos-videos ul {
        display: block; } }
    .demos-videos ul li {
      background-color: #de4216; }
      @media (max-width: 767px) {
        .demos-videos ul li {
          display: block; } }
      .demos-videos ul li:first-child {
        margin-right: 11px;
        width: 35%;
        background-color: #f9bc86;
        color: #58585B; }
        .demos-videos ul li:first-child .dv-content {
          padding: 10% 25%; }
          .demos-videos ul li:first-child .dv-content .btn-play {
            display: block;
            width: 42px;
            height: 42px; }
        @media (max-width: 991px) {
          .demos-videos ul li:first-child .dv-content {
            padding: 10% 15%; } }
        @media (max-width: 767px) {
          .demos-videos ul li:first-child {
            margin-right: 0;
            margin-bottom: 22px;
            width: 100%; }
            .demos-videos ul li:first-child .dv-content {
              padding: 10% 15%; } }
      .demos-videos ul li:last-child {
        margin-left: 11px;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative; }
        .demos-videos ul li:last-child .dv-content {
          padding: 10% 15%; }
        .demos-videos ul li:last-child h2 {
          margin-top: 0; }
        .demos-videos ul li:last-child a {
          color: #ffffff; }
        .demos-videos ul li:last-child .dv-trigger {
          position: relative;
          width: 100%;
          padding-bottom: 30%; }
          .demos-videos ul li:last-child .dv-trigger .btn-play {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            z-index: 10;
            width: 65px;
            height: 65px;
            display: block; }
        @media (max-width: 991px) {
          .demos-videos ul li:last-child .dv-content {
            padding: 10% 20%; } }
        @media (max-width: 767px) {
          .demos-videos ul li:last-child {
            width: 100%;
            margin-left: 0; }
            .demos-videos ul li:last-child .dv-content {
              padding: 10% 15%; }
            .demos-videos ul li:last-child .dv-trigger {
              position: relative; }
              .demos-videos ul li:last-child .dv-trigger .btn-play {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -21px;
                margin-top: -21px;
                z-index: 10;
                width: 42px;
                height: 42px;
                display: block; } }

.demos-list {
  margin-top: 10px; }
  .demos-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; }
    .demos-list ul li {
      width: 23.5%;
      margin: 1%;
      background-color: #de4216; }
      @media (max-width: 767px) {
        .demos-list ul li {
          width: 49%;
          margin: 0 0 2% 0; } }
      @media (min-width: 768px) {
        .demos-list ul li:nth-child(4n+1) {
          margin-left: 0; } }
      @media (min-width: 768px) {
        .demos-list ul li:nth-child(4n+4) {
          margin-right: 0; } }
      @media (max-width: 767px) {
        .demos-list ul li:nth-child(odd) {
          margin-right: 1%; } }
      @media (max-width: 767px) {
        .demos-list ul li:nth-child(even) {
          margin-left: 1%; } }
      .demos-list ul li a {
        display: block;
        color: #ffffff;
        padding: 15px; }
      .demos-list ul li h2 {
        margin: 0; }
        @media (max-width: 991px) {
          .demos-list ul li h2 {
            font-size: 1rem; } }
      .demos-list ul li img {
        width: 100%; }

/*
	Legal Template Styles
*/
.page-template-page-legal .site-content > div.container {
  padding: 0;
  overflow: hidden; }

.hero .legal {
  width: 100%;
  justify-content: center; }
  .hero .legal h1 {
    position: relative;
    text-align: center; }

main.legal {
  margin: 22px 11px 0 11px;
  background-color: #ffd040;
  padding: 10% 5%; }

/*
	Location Page Styles
*/
.single-location .site-content > div.container {
  padding: 0;
  overflow: hidden; }

.hero .location {
  display: flex;
  align-items: center; }
  .hero .location > div {
    margin-left: 5%; }
  .hero .location h1 {
    position: relative; }
  @media (max-width: 767px) {
    .hero .location h2 {
      font-size: 16px;
      font-size: 1rem; } }
  .hero .location p {
    position: relative; }
  .hero .location a {
    color: #ffffff; }
    @media (max-width: 767px) {
      .hero .location a {
        font-size: 14px;
        font-size: 0.875rem; } }
    .hero .location a:active, .hero .location a:focus, .hero .location a:visited {
      text-decoration: none; }
  @media (max-width: 767px) {
    .hero .location .phone-number li {
      font-size: 14px;
      font-size: 0.875rem; } }

.location.site-main {
  padding: 0 11px; }

.location .content-container {
  display: flex;
  margin: 2% 0; }
  @media (max-width: 767px) {
    .location .content-container {
      display: block; } }
  .location .content-container .content:first-child {
    width: 35%;
    margin-right: 2%; }
    @media (max-width: 767px) {
      .location .content-container .content:first-child {
        width: 100%;
        margin: 0 0 25px 0; } }
  .location .content-container .content:last-child {
    width: 65%; }
    @media (max-width: 767px) {
      .location .content-container .content:last-child {
        width: 100%; } }
  .location .content-container .location-list {
    padding: 10% 0 10% 15%; }
    @media (max-width: 767px) {
      .location .content-container .location-list {
        padding: 15px 0;
        margin: 0 auto; } }
    @media (max-width: 767px) {
      .location .content-container .location-list h2 {
        margin: 0; } }
    .location .content-container .location-list ul {
      width: 100%; }
      @media (max-width: 767px) {
        .location .content-container .location-list ul {
          display: none; } }
      .location .content-container .location-list ul a {
        color: #58585B; }
        .location .content-container .location-list ul a:hover, .location .content-container .location-list ul a:active, .location .content-container .location-list ul a:focus {
          text-decoration: none; }
    .location .content-container .location-list .filter:hover {
      cursor: pointer; }
    .location .content-container .location-list .filter i {
      margin-left: 10px; }
  .location .content-container .location-map {
    margin: 0 auto; }
    @media (max-width: 767px) {
      .location .content-container .location-map {
        padding: 15px; } }
    .location .content-container .location-map h2 {
      margin: 0 0 30px 0; }
    .location .content-container .location-map .google-map {
      width: 400px;
      height: 400px; }
      @media (max-width: 767px) {
        .location .content-container .location-map .google-map {
          width: 300px;
          height: 300px; } }

.location .contact-us {
  padding: 15px; }

/*
	News and Events styles
*/
.page-template-page-events-resources .site-content > div.container {
  padding: 0;
  overflow: hidden; }

.page-template-page-events-resources main#main {
  padding: 0 15px; }

main.events article,
main.news article,
main.publicrelations article,
main.article-archive article {
  display: flex; }
  @media (max-width: 767px) {
    main.events article,
    main.news article,
    main.publicrelations article,
    main.article-archive article {
      display: block; } }

.events,
.news,
.publicrelations,
.article-archive {
  margin-top: 25px; }
  .events .archive-list,
  .news .archive-list,
  .publicrelations .archive-list,
  .article-archive .archive-list {
    padding: 25px 25px;
    background-color: #ef907b;
    width: 30%;
    margin-right: 25px;
    text-align: center; }
    @media (max-width: 767px) {
      .events .archive-list,
      .news .archive-list,
      .publicrelations .archive-list,
      .article-archive .archive-list {
        width: 100%; } }
  .events .events-list,
  .events .news-list,
  .events .article-list,
  .events .publicrelations-list,
  .news .events-list,
  .news .news-list,
  .news .article-list,
  .news .publicrelations-list,
  .publicrelations .events-list,
  .publicrelations .news-list,
  .publicrelations .article-list,
  .publicrelations .publicrelations-list,
  .article-archive .events-list,
  .article-archive .news-list,
  .article-archive .article-list,
  .article-archive .publicrelations-list {
    background-color: #ef907b;
    padding: 25px 25px;
    width: 70%; }
    @media (max-width: 767px) {
      .events .events-list,
      .events .news-list,
      .events .article-list,
      .events .publicrelations-list,
      .news .events-list,
      .news .news-list,
      .news .article-list,
      .news .publicrelations-list,
      .publicrelations .events-list,
      .publicrelations .news-list,
      .publicrelations .article-list,
      .publicrelations .publicrelations-list,
      .article-archive .events-list,
      .article-archive .news-list,
      .article-archive .article-list,
      .article-archive .publicrelations-list {
        width: 100%;
        margin-top: 25px; } }
    .events .events-list ul,
    .events .news-list ul,
    .events .article-list ul,
    .events .publicrelations-list ul,
    .news .events-list ul,
    .news .news-list ul,
    .news .article-list ul,
    .news .publicrelations-list ul,
    .publicrelations .events-list ul,
    .publicrelations .news-list ul,
    .publicrelations .article-list ul,
    .publicrelations .publicrelations-list ul,
    .article-archive .events-list ul,
    .article-archive .news-list ul,
    .article-archive .article-list ul,
    .article-archive .publicrelations-list ul {
      list-style-type: none; }
    .events .events-list li,
    .events .news-list li,
    .events .article-list li,
    .events .publicrelations-list li,
    .news .events-list li,
    .news .news-list li,
    .news .article-list li,
    .news .publicrelations-list li,
    .publicrelations .events-list li,
    .publicrelations .news-list li,
    .publicrelations .article-list li,
    .publicrelations .publicrelations-list li,
    .article-archive .events-list li,
    .article-archive .news-list li,
    .article-archive .article-list li,
    .article-archive .publicrelations-list li {
      margin-bottom: 10px; }
  .events a,
  .news a,
  .publicrelations a,
  .article-archive a {
    color: #58585B; }
    .events a:hover, .events a:focus, .events a:active,
    .news a:hover,
    .news a:focus,
    .news a:active,
    .publicrelations a:hover,
    .publicrelations a:focus,
    .publicrelations a:active,
    .article-archive a:hover,
    .article-archive a:focus,
    .article-archive a:active {
      text-decoration: none; }
  .events .article-list h1,
  .news .article-list h1,
  .publicrelations .article-list h1,
  .article-archive .article-list h1 {
    margin: 0 0 15px 0; }
  .events .article-list header,
  .news .article-list header,
  .publicrelations .article-list header,
  .article-archive .article-list header {
    margin: 0;
    border-bottom: none; }

/*
	Individual News and Events post and Archive styles 
*/
.single-post .site-content > div.container {
  padding: 0;
  overflow: hidden; }

.single-post .site-main {
  background-color: #ef907b;
  padding: 0 15px;
  color: #58585B;
  margin-top: 25px; }

.single-post article {
  padding: 25px; }

.archive .site-content > div.container {
  padding: 0;
  overflow: hidden; }

.archive .article-list header {
  padding: 0; }

.archive .article-list .filter {
  margin-bottom: 15px; }
  .archive .article-list .filter li {
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer; }

/*
	Footer Styles
*/
.site-footer {
  margin-bottom: 22px;
  height: auto; }
  .site-footer .mobile .menu-footer-nav-container ul li {
    list-style-type: none;
    text-align: right;
    display: list-item; }
    .site-footer .mobile .menu-footer-nav-container ul li:after {
      padding: 0; }
    .site-footer .mobile .menu-footer-nav-container ul li span {
      margin-right: 0; }
  .site-footer .mobile .newsletter {
    text-align: center;
    margin: 25px 0; }
  .site-footer .site-info {
    width: auto; }
    @media (max-width: 991px) {
      .site-footer .site-info {
        float: left; } }
    .site-footer .site-info .site-branding {
      padding: 0;
      display: inline-block;
      width: 130px;
      margin-right: 22px; }
  .site-footer .newsletter {
    color: #9ba0a3; }
  .site-footer .social-icons {
    width: 50%; }
    @media (max-width: 991px) {
      .site-footer .social-icons {
        width: auto; } }
    @media (max-width: 767px) {
      .site-footer .social-icons {
        float: right; } }
  .site-footer .menu-footer-nav-container {
    margin-top: 5px; }
    .site-footer .menu-footer-nav-container ul li {
      margin: 0; }
      .site-footer .menu-footer-nav-container ul li:after {
        content: "";
        padding: 0; }
      .site-footer .menu-footer-nav-container ul li:last-child a span {
        margin-right: 0; }
      .site-footer .menu-footer-nav-container ul li a {
        color: #9ba0a3;
        text-decoration: none;
        font-size: 14px;
        font-size: 0.875rem; }

/*
	Gravity Forms - Contact Us form style overrides
*/
#gform_wrapper_3 {
  margin-right: 0;
  max-width: 100%; }
  #gform_wrapper_3 ul.gform_fields li.gfield {
    clear: none;
    float: left;
    width: 32%;
    margin-top: 1%;
    min-height: 40px;
    margin-right: 1%; }
    @media (max-width: 767px) {
      #gform_wrapper_3 ul.gform_fields li.gfield {
        clear: both;
        width: 100%;
        margin-right: 0;
        float: none; } }
  #gform_wrapper_3 .top_label .gfield_label {
    display: none; }
  #gform_wrapper_3 .top_label input.medium {
    width: 100%; }
  #gform_wrapper_3 .top_label select.medium {
    width: 100%; }
  #gform_wrapper_3 .top_label textarea.medium {
    width: 100%; }
  #gform_wrapper_3 #field_3_10 {
    width: 65%; }
    @media (max-width: 767px) {
      #gform_wrapper_3 #field_3_10 {
        width: 100%; } }

/* Search Form and results */
.searchform {
  z-index: 1001; }
  .searchform .searchform-container {
    width: 185px;
    height: 24px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 991px) {
      .searchform .searchform-container {
        width: 175px; } }
    .searchform .searchform-container .icon-search {
      position: absolute;
      right: 0;
      display: block;
      width: 16px;
      height: 16px;
      background: url(img/icon-search.png) no-repeat 0 1px;
      background-size: 16px 16px; }
    .searchform .searchform-container .searchform-holder {
      position: absolute;
      right: -175px;
      width: 175px;
      font-size: 13px;
      line-height: 13px; }
      .searchform .searchform-container .searchform-holder input[type=text] {
        width: 150px;
        height: 20px;
        float: left;
        margin-right: 5px; }
      .searchform .searchform-container .searchform-holder .search-submit {
        width: 60px;
        border: 0;
        padding: 0;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(img/icon-search.png) no-repeat 0 1px;
        background-size: 16px 16px;
        float: left; }

.search .site-main {
  padding: 0 15px; }

.search .site-content h2 {
  font-size: 22px;
  margin-top: 0; }
  @media (min-width: 768px) {
    .search .site-content h2 {
      font-size: 28px; } }

.search .site-content a:link, .search .site-content a:hover, .search .site-content a:visited, .search .site-content a:active {
  color: #0077bf; }

.search .paging-navigation {
  width: 100%;
  font-size: 13px;
  margin-top: 20px;
  color: #58585B; }
  .search .paging-navigation .nav-previous {
    width: 50%;
    float: left; }
  .search .paging-navigation .nav-next {
    width: 50%;
    float: right;
    text-align: right; }
  .search .paging-navigation a {
    color: #58585B !important; }

.no-results .search-submit {
  border: 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(img/icon-search.png) no-repeat 0 1px;
  background-size: 18px 18px;
  vertical-align: middle; }
  @media (max-width: 767px) {
    .no-results .search-submit {
      position: relative;
      top: -6px; } }

/*
	404 page
*/
.error404 .site-main {
  padding: 0 15px; }

/* Mobile Search Form */
.mobile-searchform {
  margin: 0 0 20px 30px; }
  .mobile-searchform .searchform-holder {
    width: 220px;
    font-size: 13px;
    line-height: 13px; }
    .mobile-searchform .searchform-holder input[type=text] {
      width: 175px;
      height: 26px;
      float: left;
      margin-right: 5px;
      font-size: 14px;
      line-height: 14px;
      padding: 5px;
      box-shadow: none;
      -webkit-appearance: none;
      vertical-align: middle; }
    .mobile-searchform .searchform-holder .search-submit {
      border: 0;
      padding: 0;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      display: inline-block;
      width: 18px;
      height: 24px;
      background: url(img/icon-search.png) no-repeat 5px 3px;
      background-size: 18px 18px;
      float: left;
      padding: 10px 20px; }

.vc_row {
 }

.vc_column_container > .vc_column-inner {
  padding: 0; }
  @media (max-width: 767px) {
    .vc_column_container > .vc_column-inner {
      padding-left: 15px;
      padding-right: 15px; } }

/* Bootstrap Modal Styles */
/* prevent bg jump to top */
body.modal-open {
  overflow: visible; }

.modal-header {
  border: none; }

.video-wrapper {
  position: relative;
  padding-bottom: 51.5%;
  padding-top: 25px;
  height: 0;
  overflow: hidden; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .hidden-ipad-landscape {
    display: none !important; } }

.container-full {
	width: 1170px;
}

.utility-nav ul li a {
	color: #58585B;
}
