
.mainmenu li a {     padding-top: 12px; font-size: 18px;
    padding-bottom: 12px; }
.mainmenu li.dropdown ul.dropdown-menu a {  padding-top: 10px;  padding-bottom: 10px; }

.mainmenu li.active a {color: #ff6666 !important;}
.submenu {
    background-color: #3d3d3d;
    margin-top: 45px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 30;}
/*video*/
/*.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
/*	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
}*/
/*video end*/
.videolist00{
    width:        100%; 
    height:        100%; 
    text-align:    center;
    display:table;
  
}

.submenu ul li a { padding-top: 7px; padding-bottom: 7px;}
.submenu ul li.active a { background-color: #eee; }
span.timel { display: block; opacity: 0.8;  background-color: #000;  width: 40px; padding: 2px; font-size: 11px; color: #ccc; position: absolute; right: 0; bottom: 13%; }
.video-container01 .fa{
    opacity: 0.8;
}
a.clvid {  padding-right: 0; padding-left: 0;}
a.clvid:hover .fa {color: #cc181e; opacity: 1; }
.video-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.vitext { 
    position: absolute;}

.vienl { margin-top: 1px;}
.vienl  { padding-left: 0; margin-top: 0px;}
.vienld li { font-size: 14px;}
.vienl  li { float: left; line-height: 10px; color: #666; list-style: none; text-align: left; font-size: 13px; margin-right: 10px; font-family: arial;}
.vienl  li.vienl01 { border-right: 1px #666 solid; padding-right: 10px;}
a.clvid img { width: 100%;}
a.clvid .cover01,a.clvid  .cover02 { position: absolute; display: block; width: 100%; height: 13%; background-color: #fff;  }
a.clvid .cover01 { top: 0;}
a.clvid .cover02 { bottom: 0;}
a.clvid { display: block; position: relative;}
a.clvid .fa { position: absolute;  color: #000; display: block;}
.vienld ul { margin: 0;}
.videocon { width: 60%; margin: 0 auto; margin-top: 72px;}
.videolist00 { font-size: 20px; margin-bottom: 10px; }
.videolist00 p { margin-top: 10px; line-height: 1; text-align: left;   
    }
 h3.viemtitt { margin-top: 80px; margin-bottom: 0;}
 .videoshome .video-container01 .fa { font-size: 47px;}
.videoshomeor { margin-bottom: 40px;}
.videoshome p { font-size: 14px;}
.vienld ul { padding-left: 0;}
.lodebt {text-align: center; margin-top: 80px;}
.lodebt .btn { margin: 0 auto; color: #fff; font-size: 27px; border:none; width: 300px; }
.lodebt { margin-bottom: 70px;}
.detail .videocon{ width: 100%;}
.detail .videocon { margin-top: 110px;}
.detail .videogroup { margin-top: 110px;}
.videogroup .video-container01 .fa { font-size: 36px;     padding-top: 5px;
    padding-bottom: 38px;}
.content a { color: #010101; }
.detail .videolist00  { font-family: arial; margin-bottom: 10px;}
.detail .videolist0s  { font-family: arial; margin-bottom: 0;}
.detail .videogroup  p { font-size: 13px; line-height: 1.2; font-family: arial;}
.content a:hover {text-decoration: none; color: #f66;}
.footer { background-color: #222222;}
.footer a {text-align: center;}
.footer img{ width: 20%; margin: 0 auto; padding: 5px; max-width: 80px; opacity: 0.5; }
.videogroup h3 {  margin-bottom: 11px;
    padding-top: 5px;}
.footerdet { margin-top: 40px;}
.videoshome p a{font-size: 12px;}
.videolistde p { font-size: 19px; line-height: 1.4;}

@media screen and (min-width: 768px)  {
	.fr { float: right;}
}
@media (min-width: 768px) and (max-width:991px)  {
 .vitext { margin-top: -40px;}
 .videolist0s .vitext {
    margin-top: -15px;
}
.videogroup .vienl {display: none;}
.videolist0s .vienl li  { font-size: 11px;}
}
.mainmenu li a { font-size: 16px;}

@media screen and (max-width: 767px)  {
   .videoshomeor .clvid span.timel { right: 0;}
  .mainpage .vitext{ margin-left: 15px;}
  .videoshomeor { margin-bottom: 30px;}
  .vitext02 { padding-left: 0;}
  .clvid span.timel { right: 15px;}
  a.clvid { padding-left: 15px; padding-right: 15px;}

    ul.mainmenu { width: 100%;}
  .detail .videogroup { margin-top: 80px;}
.videogroup .video-container01 .fa { font-size: 8vw;}
  .vitext { margin-top:0;}
  .videolist00 p a { font-size: 18px;}
  .vienl {     margin-top: -6px;
     }
 .vienl{ margin-left: 0px;}
	.video-container01 .fa{
    display:table-cell;
    vertical-align: middle;
    font-size: 12vw;
     margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width: 40%;
  height: 19%;
  display: block;
}
.videoshome p a {font-size: 14px;}

	.submenu ul {margin: 0;}
	.submenu ul li {float: left;}
	.fr { float: left;}
    .mainmenu li a { padding-top: 10px; padding-bottom: 10px;}
    .submenu { margin-top: 41px;}
    .detail .videocon{ width: 100%;}
    .videocon { margin-top: 100px; width: 90%;}
    .detail .videocon { margin-top: 110px;}
    ul.mainmenu li a{ font-size: 14px;}
    .videocon a{ font-size: 14px; line-height: 1.3;}
    .videocon p { margin-top: 3px; }
     .videolist00 p { margin-top: -37px;}
     .videolistde p { margin-top: 10px;}
     .detail .videolist0s { margin-bottom: 0px;}
     .vitext02 p {
    margin-top: 10%;
}
}
@media screen and (max-width: 470px)  {
  .vitext { margin-top: 13px; }
  .videolist00 { margin-bottom: 30px;}
  .videolist00 p a {
    font-size: 14px;
    line-height: 1;
}
    .detail .videolist0s { margin-bottom: 10px;}
    .videoshome .video-container01 .fa { font-size: 37px;}
    .video-container01 .fa { height: 35%;}

}

@media screen and (min-width: 991px) { .videolist00 p { margin-top: -40px;}
.videolist00 { margin-bottom: 10px 5px;
height: 111px;
    width: 184px;
    float: left;
    margin: 5px 2%;}
.vitext { margin-top: -10px;}
.videolistde p { margin-top: 10px;}
.videolist0s .vitext {
    margin-top: 28px;
}
.vitext02 p{ margin-top: 10px;}
.videoshome p { margin-top: 0px; font-size: 14px; }
}

@media screen and (max-width: 991px) {
  .videoshome p {padding-top: 25px;}
  .videoshomeor { margin-bottom: 62px;}
  .videoshome .vienl li { float: left; font-size: 9px;}
  .videoshome a.clvid { padding: 0;}
}

@media screen and (min-width: 768px) {

	.video-container01 .fa{
    display:table-cell;
    vertical-align: middle;
    font-size: 8vw;
     margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width: 40%;
  height: 23%;
  display: block;
}
}
@media screen and (max-width: 767px)  {
  .videoshomeor { margin-bottom: 50px;}
  .detail .videogroup { margin-top: 60px;mt60}
}

@media screen and (max-width: 1200px)  {
  .navbar-brand img{ width: 100%; }
}
@media screen and (min-width: 1200px) {
  .video-container01 .fa { font-size: 50px;}
  .navbar-brand img{ width: 74%; }
}
.dropdown-menu li {width: 100%;}

