@charset "utf-8";
/* GamenGuide CSS Document */
* {padding:0; margin:0; outline:0 none; list-style:none;}
body {font:12px/14px Arial, Helvetica, sans-serif; color:#000000; background:#f5f5f5; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;}
img {border:0 none;}
video, embed, object, .videocontent {max-width:100% !important; display: block; margin: 0 auto;}
.video-clicktoplay-max {max-width:100% !important;}
.video-clicktoplay-inner {position:relative; padding-bottom:50%; padding-top:30px; height:0; overflow: hidden; background:#000;}
.video-clicktoplay-inner iframe, .video-clicktoplay-inner object, .video-clicktoplay-inner embed{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block; clear:both;}
input, select, textarea {font-family:Arial, Helvetica, sans-serif; color:#454545;}

/** font **/
a {color:#000000; text-decoration:none;}
a:hover {color:#000000; text-decoration:underline;}
.wh {color:#ffffff;} .wh a {color:#ffffff;}
.gry {color:#8e8e8e;} .gry a {color:#8e8e8e;}
.org {color:#ff6600;} .org a {color:#ff6600;}
.bttl {font:20px/24px 'Viga', sans-serif; letter-spacing:-0.06em; color:#fe5000; clear:both;}
.bttl2 {border-bottom:#ff6303 2px solid; height:25px; clear:both; position:relative;}
.bttl3 {background:#ff6303; font:16px/18px 'Viga', sans-serif; color:#ffffff; padding:5px 10px; clear:both;}
.bttl2 span {position:absolute; bottom:0; left:0; background:#ff6303; font:16px/18px 'Viga', sans-serif; color:#ffffff; padding:4px 10px;}
.bttl4 {background:#d7d7d7; padding:5px 10px; font-size:12px; font-weight:normal;}
.bttl5 {font:22px/26px 'Viga', sans-serif; letter-spacing:-0.06em; color:#fe5000; clear:both; position:relative;}
.bttl5 a, .bttl5 a:link, .bttl5 a:visited, .bttl5 a:hover{font:22px/26px 'Viga', sans-serif; letter-spacing:-0.06em; color:#fe5000; clear:both; position:relative;}
.bttl5 .more {position:absolute; top:0; right:0; font:12px/20px Arial, Helvetica, sans-serif; font-weight:normal; color:#888;}

.bgpink {background:#ed1b4c; color:#ffffff;}
.bggrn {background:#15a833; color:#ffffff;}
.bgblue {background:#228eaa; color:#ffffff;}
.bgblue2 {background:#1162d2; color:#ffffff;}
.bgorg {background:#ff6600; color:#ffffff;}

/* no's*/
.no-bo-r {border-right: 0 !important}

/** layout **/
.c1p {width:100%; float:left; clear:both;}
.fl {float:left;}
.clr {clear:both;}
.ma {margin:0 auto;}
.mb30 {margin-bottom:30px;}
.mb20 {margin-bottom:20px;}
.mb15 {margin-bottom:15px;}
.mb10 {margin-bottom:10px;}
.mt35 {margin-top:35px}
.mt20 {margin-top:20px;}
.ml20 {margin-left:20px;}
.ml5 {margin-left:5px;}
.mr15 {margin-right:15px;}

/** top **/
.top_wp {width:100%; height:30px; clear:both; margin-bottom:0;
background: #e28000; /* Old browsers */
background: -moz-linear-gradient(top,  #e28000 0%, #d57900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e28000), color-stop(100%,#d57900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e28000 0%,#d57900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e28000 0%,#d57900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e28000 0%,#d57900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e28000 0%,#d57900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e28000', endColorstr='#d57900',GradientType=0 ); /* IE6-9 */}
.top {width:1160px; margin:0 auto; position:relative;}
.top_menu li {float:left; padding:0 5px;}
.top_menu .bar {color:#ed9b42;}
.top_sns {position:absolute; top:6px; right:215px;}
.top_sns li {float:left; margin-left:10px;}
.top_sns li a {width:15px; height:14px; display:inline-block; text-indent:-9999px;}
.top_sns .fb {background:url(../images/icon.png) no-repeat 0 0;}
.top_sns .tw {background:url(../images/icon.png) no-repeat -17px 0;}
.top_sns .g {background:url(../images/icon.png) no-repeat -36px 0;}
.top_sns .rss {background:url(../images/icon.png) no-repeat -61px 0;}
.top_jumpmenu {background:#d54703; font-size:12px; color:#ffffff; width:205px; padding:5px 8px; border:none; -webkit-appearance:none; -moz-appearance:none; appearance:none; position:absolute; top:0; right:0;}

.top_srch {position:absolute; top:3px; right:20px;}
.top_srch .input {border:#dadada 1px solid; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; padding:3px 28px 3px 5px; font-size:12px;
background: #f1f2f1; /* Old browsers */
background: -moz-linear-gradient(top,  #f1f2f1 0%, #ffffff 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f2f1), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1f2f1 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1f2f1 0%,#ffffff 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1f2f1 0%,#ffffff 50%); /* IE10+ */
background: linear-gradient(to bottom,  #f1f2f1 0%,#ffffff 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.top_srch .ico_srch {position:absolute; top:3px; right:6px; background:url(../images/icon.png) no-repeat 0 -34px; width:18px; height:17px; display:block; cursor:pointer;}

/** nav **/
.header {width:100%; float:left; margin-bottom:10px;}
.nav {width:1160px; height:60px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; margin:0 auto; -webkit-box-shadow: 0 0 1px 1px #ddd; box-shadow: 0 0 1px 1px #ddd;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ececeb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececeb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ececeb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ececeb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ececeb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ececeb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececeb',GradientType=0 ); /* IE6-9 */}
.nav .logo {float:left; margin-top:17px; margin-left:20px;}
.nav .menu {float:right; margin-right:6px;}
.nav .menu li {float:left; border-left:#dadada 1px solid; font:15px/60px 'Viga', sans-serif; letter-spacing:-0.08em; text-transform:uppercase;}
.nav .menu a {text-decoration:none; padding:0 8px; display:inline-block;}
.nav .menu a:hover {color:#ffffff; -webkit-transition:background 0.25s ease-in-out, color 0.15s ease; -moz-transition:background 0.25s ease-in-out; -o-transition:background 0.25s ease-in-out, color 0.15s ease; transition:background 0.25s ease-in-out, color 0.15s ease, color 0.15s ease; background:#e48325;}
.nav .menuon {color:#ffffff; -webkit-transition:background 0.25s ease-in-out, color 0.15s ease; -moz-transition:background 0.25s ease-in-out; -o-transition:background 0.25s ease-in-out, color 0.15s ease; transition:background 0.25s ease-in-out, color 0.15s ease, color 0.15s ease; background:#e48325;}

/** header **/
.bx-header {width:100%; float:left; margin-bottom:10px;}
.bx-header .innerwrap {width:1160px; margin:0 auto; position:relative;}
.bx-nav {width:100%; height:60px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; margin:0 auto; -webkit-box-shadow: 0 0 1px 1px #ddd; box-shadow: 0 0 1px 1px #ddd;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ececeb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececeb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ececeb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ececeb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ececeb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ececeb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececeb',GradientType=0 ); /* IE6-9 */}
.bx-nav .logo {float:left; margin-top:17px; margin-left:20px;}
.bx-nav .menu {float:right; margin-right:6px;}
.bx-nav .menu li {float:left; border-left:#dadada 1px solid; font:15px/60px 'Viga', sans-serif; letter-spacing:-0.08em; text-transform:uppercase; position:relative;}
.bx-nav .menu a {text-decoration:none; padding:0 20px; display:inline-block;}
.bx-nav .menu a:hover, .bx-nav .menuon {color:#ffffff; -webkit-transition:background 0.25s ease-in-out, color 0.15s ease; -moz-transition:background 0.25s ease-in-out; -o-transition:background 0.25s ease-in-out, color 0.15s ease; transition:background 0.25s ease-in-out, color 0.15s ease, color 0.15s ease; background:#e48325;}
.bx-nav .menu a:hover:before, .bx-nav .menuon:before {width:0; height:0; position:absolute; bottom:0; left:45%; border-right:transparent 7px solid; border-left:transparent 7px solid; border-bottom:#fff 6px solid; content:"";}

.bx-dropdown {width:100%; float:left; background:#000; position:absolute; top:60px; left:0; z-index:10000;}
.bx-dropdown .lbox {width:16%; float:left; padding:15px 2% 30px;}
.bx-dropdown .lbox li {font:15px/18px 'Viga', sans-serif; letter-spacing:-0.08em; padding:10px 15px;}
.bx-dropdown .lbox a {color:#fff;}
.bx-dropdown .rbox {width:76%; float:left; padding:20px 2% 30px; background:#fff;}
.bx-dropdown .rbox .list {width:23%; float:left; margin:0 1%;}
.bx-dropdown .rbox .photo {margin-bottom:5px;}
.bx-dropdown .rbox h3 {font:14px/17px 'Viga', sans-serif; letter-spacing:-0.08em;}
.bx-dropdown .seemore {width:100%; float:left; clear:both; text-align:right; margin-top:10px;}
.bx-dropdown .seemore a {background:#ff6303; font:12px/15px 'Viga', sans-serif; letter-spacing:-0.08em; color:#fff; padding:5px 10px; display:inline-block; text-transform:uppercase;}

/** headline **/
.hdline_wp {width:100%; float:left; clear:both;}
.hdline {width:1154px; margin:0 auto; height:450px; background:#fff; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; position:relative; overflow:hidden; border:#000 3px solid;}
.hdline .head {height:340px; overflow:hidden;width: 1100px}
.hdline .photo {line-height:0;}
.hdline_ttl {width:350px; height:310px; padding:30px 30px 0; position:absolute; top:0; right:0; background:#fff;
/* background: #303030; /* Old browsers */
/* background: -moz-linear-gradient(top,  #303030 0%, #050505 100%); /* FF3.6+ */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#050505)); /* Chrome,Safari4+ */
/* background: -webkit-linear-gradient(top,  #303030 0%,#050505 100%); /* Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(top,  #303030 0%,#050505 100%); /* Opera 11.10+ */
/* background: -ms-linear-gradient(top,  #303030 0%,#050505 100%); /* IE10+ */
/* background: linear-gradient(to bottom,  #303030 0%,#050505 100%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#050505',GradientType=0 ); /* IE6-9 */}
.hdline_ttl h1 {font:28px/30px 'Viga', sans-serif;}
.hdline_ttl .txt {font-size:14px; line-height:18px; color:#555; padding:15px 0;}
.hdline .more a {width:117px; height:35px; display:block; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; font:15px/35px 'Viga', sans-serif; text-align:center; text-transform:uppercase; color:#fff;
background: #ff6403; /* Old browsers */
background: -moz-linear-gradient(top,  #ff6403 0%, #fe5000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6403), color-stop(100%,#fe5000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff6403 0%,#fe5000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff6403 0%,#fe5000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff6403 0%,#fe5000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff6403 0%,#fe5000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6403', endColorstr='#fe5000',GradientType=0 ); /* IE6-9 */}
.hdline .more a:hover {text-decoration:none;
background: #228eaa; /* Old browsers */
background: -moz-linear-gradient(top,  #228eaa 0%, #157993 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#228eaa), color-stop(100%,#157993)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #228eaa 0%,#157993 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #228eaa 0%,#157993 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #228eaa 0%,#157993 100%); /* IE10+ */
background: linear-gradient(to bottom,  #228eaa 0%,#157993 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228eaa', endColorstr='#157993',GradientType=0 ); /* IE6-9 */}
.hdline .thum {width:1154px; float:left; position:absolute; bottom:0; left:0; height:107px; text-align:center; background:#fff; border-top:#000 3px solid;
/* background: #232323; /* Old browsers */
/* background: -moz-linear-gradient(top,  #232323 0%, #111111 100%); /* FF3.6+ */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#111111)); /* Chrome,Safari4+ */
/* background: -webkit-linear-gradient(top,  #232323 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(top,  #232323 0%,#111111 100%); /* Opera 11.10+ */
/* background: -ms-linear-gradient(top,  #232323 0%,#111111 100%); /* IE10+ */
/* background: linear-gradient(to bottom,  #232323 0%,#111111 100%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#111111',GradientType=0 ); /* IE6-9 */}
.hdline .thum li {padding:13px 15px 0; display:inline-block; position:relative;}
.hdline .thum img:hover {border:#ff6303 4px solid; margin:-4px;}
.hdline .thum .on { background:url(../images/ico_arr.gif) no-repeat center 4px;}
.hdline .thum .on img {border:#ff6303 4px solid; margin:-4px;}

.slides_container {width:1160px; height:340px;}
.slides_container .slides_control {width:1160px; height:340px; display:block;}

/** contents **/
.bg_cont1 {width:1160px;
    /*background:url(../images/bg_side.png) no-repeat top right;*/
    height:15px; display:block; margin:0 auto; clear:both;}
.bg_cont2 {width:1160px; background:url(../images/bg_side2.png) no-repeat top right; height:15px; display:block; margin:0 auto 10px; clear:both;}

.contents_wp {width:1160px; margin:0 auto; clear:both;}
.contents {width:100%; float:left; background-color: #fff;
    /*background:#ffffff url(../images/bg_contents.gif) repeat-y top right;*/
}
.contents .mleft {width:62.3%; float:left; margin:20px 0 40px 1.7%;}
.contents .sidebar {width:30%; float:right; margin:0 1.7% 40px;}
.mcon1 {width:210px;}
.mcon1 .photo {position:relative;}
.mcon1 .photo .sec {position:absolute; top:0; left:0; padding:5px 8px; font:14px/16px 'Viga', sans-serif; letter-spacing:-0.06em; text-transform:uppercase;}
.mcon1 .ttl {font:15px/17px 'Viga', sans-serif; padding:10px 0 20px;}
.mcon2 {width:100%; float:left; border-top:#bebebe 1px solid; clear:both; padding:15px 0;}
.mcon2 .ttl {font:17px/20px 'Viga', sans-serif; letter-spacing:-0.04em;}
.mcon2 .txt {font-size:12px; color:#454545;}
.mcon2 .t1 {font-size:12px; color:#666; padding:5px 0;}
.mcon2 .writer {font-size:12px; color:#888; padding:5px 0;}
.mcon2 .writer a {color:#fe5000;}
.mcon2 .date {font-size:11px; color:#888; padding:5px 0;}
.lg_tapastic {background:url(../images/lg_tapastic.png) no-repeat 0 0; width:69px; height:20px; display:inline-block; vertical-align:middle; margin-left:5px;}
.mcon3 {width:152px; float:left; background:#000000;}
.mcon3 .photo {position:relative;}
.mcon3 .photo .sec {position:absolute; top:0; left:0; padding:5px 8px; font:14px/16px 'Viga', sans-serif; letter-spacing:-0.06em; text-transform:uppercase;}
.mcon3 .ttl {font:14px/16px 'Viga', sans-serif; letter-spacing:-0.06em; padding:8px 5px 0; height:110px;}

/** sidebar **/
.s_sns {width:100%; float:left; background:#ffffff; clear:both;}
.s_sns .box {width:100%; float:left; padding:15px 0 12px; clear:both;}
.s_sns .box .ttl {padding:0 20px; color:#666666; font-size:11px;}
.s_sns .box .ttl .t1 {font:17px/18px 'Viga', sans-serif; color:#228eaa;}
.s_sns .box .sns {border-left:#c4c4c4 1px solid;}
.s_sns .box .sns li {float:left; margin-left:15px;}
.s_sns .box .sns li a {text-indent:-9999px; width:32px; height:33px; display:inline-block;}
.s_sns .fb a {background:url(../images/icon.png) no-repeat 0 -96px;}
.s_sns .tw a {background:url(../images/icon.png) no-repeat -42px -96px;}
.s_sns .g a {background:url(../images/icon.png) no-repeat -84px -96px;}
.s_sns .rss a {background:url(../images/icon.png) no-repeat -126px -96px;}
.s_sns .box2 {border-top:#dcdcdc 1px solid; padding:10px 20px 13px; clear:both;}
.s_sns .box2 .t1 {color:#666666; font-weight:bold; padding-bottom:6px;}
.s_sns .box2 .input {border:#c8c8c8 2px solid; background:#eeeeee; font-size:14px; font-weight:bold; color:#979797; padding:4px 8px; vertical-align:middle;}
.s_sns .box2 .bt_submit {background:#ff6303; font-size:14px; line-height:28px; font-weight:bold; color:#ffffff; padding:0 10px; border:none; vertical-align:middle;}
.s_sns .box2 .bt_submit {background:#ff6303; font-size:14px; line-height:28px; font-weight:bold; color:#ffffff; padding:0 10px; border:none; vertical-align:middle; cursor:pointer;}
.s_sns .box2 .bt_submit:hover {background:#228eaa;}
.s_sns .box2 .t2 {padding-top:4px;display: none;}
.sbox {width:100%; float:left; clear:both;}
.sbox img {width:100%;}
.sbox li {width:46%; float:left; margin:5px 2%;}
.sbox .list {width:46%; float:left; margin:5px 2%;}
.sbox .ttl {font:15px/17px 'Viga', sans-serif; clear:both; margin-top:5px;}

.sbox2 {width:100%; height:95px; overflow:hidden; background:#ffffff; clear:both; margin-bottom:10px;}
.sbox2 a {display:block; height:95px;}
.sbox2 a:hover {background:#f8c3a2; text-decoration:none;}
.sbox2 .photo {float:left; padding-right:10px; line-height:0;}
.sbox2 .ttl {padding:10px 10px; font:14px/16px 'Viga', sans-serif; letter-spacing:-0.06em;}
.s_fb {width:100%; float:left; text-align:center; padding:10px 0; margin-bottom:20px; background:#fff; clear:both;}

/** footer **/
.foot {width:1160px; margin:0 auto; position:relative; height:90px; background:#000000; clear:both;}
.foot .logo {position:absolute; top:25px; left:30px;}
.foot .menu {position:absolute; top:18px; left:200px; color:#909090;}
.foot .menu li {padding:2px 0;}
.foot .menu a {color:#909090;}

/** article **/
.at_ttl {font:28px/32px 'Viga', sans-serif; letter-spacing:-0.04em;}
.at_date {clear:both; padding:15px 0 20px; font-weight:bold;}
.at_share {width:100%; float:left; border-top:#000000 2px solid; clear:both; padding:10px 0; position:relative;}
.at_share .list li {float:left; margin-right:10px;}
.at_share .list2 {position:absolute; top:10px; right:0;}
.at_share .list2 li {float:left; margin-left:10px;}
.at_share .mail a {background:url(../images/icon.png) no-repeat 0 -149px; width:19px; height:19px; display:inline-block; text-indent:-9999px;}
.at_share .print a {background:url(../images/icon.png) no-repeat -24px -149px; width:19px; height:19px; display:inline-block; text-indent:-9999px;}
.at_share .comment {background:#dbdbdb url(../images/icon.png) no-repeat -48px -149px; padding:0 4px 0 23px; height:19px; display:inline-block; font-size:11px; line-height:19px;}
.at_share .comment a {color:black;}
.at_con {width:100%; float:left; padding:20px 0; clear:both; font-size:14px; line-height:22px; overflow:hidden;}
.at_con .photo {clear:both; line-height:0;}
.at_con .caption { padding:9px 10px; font-size:12px; line-height:1.4em; clear:both;}
.at_con p {padding:10px 0;}
.at_con a {text-decoration:underline; color:#FF6600;}
.at_con a:hover {text-decoration:none;}
.at_con iframe {border:0;}
.at_nwletter {width:100%; float:left; padding:15px 0; clear:both; background:url(../images/bg_nwletters.gif) repeat 0 0;}
.at_nwletter .txt {padding:5px 20px 0;}
.at_nwletter .input {border:#cccccc 1px solid; padding:4px 5px; font-size:12px; color:#9e9e9e;}
.at_nwletter .btn {background:#545454; padding:0 15px; font-size:12px; line-height:25px; color:#ffffff; border:0 none;}
.at_nwletter .comt {background:#a7a7a7; padding:3px 10px; color:#ffffff; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; position:relative; top:5px; width:160px}
.at_nwletter .comt:before {border-bottom: 7px solid #a7a7a7; border-left: 5px solid transparent; border-right: 5px solid transparent; bottom: 100%; content: ""; height: 0; left: 30px; position: absolute; z-index: 10; width: 0;}

.at_nwletters {width:100%; float:left; clear:both; margin-bottom:20px; font-weight:bold; font-size:14px; line-height:17px;}
.at_nwletters .t1 {margin-bottom:8px; clear:both;}
.at_nwletters .input {border:#222 1px solid; color:#555; font-size:12px; line-height:15px; padding:8px 10px; height:15px; width:180px; vertical-align:middle;}
.at_nwletters .btn {background:#da7b00; border:none; font-size:12px; line-height:15px; color:#fff; padding:9px 15px; display:inline-block; cursor:pointer; margin-left:-1px; -webkit-appearance:none;}
.at_nwletters .btn:hover {background:#222;}
.at_nwletters .t2 {display:inline-block;}
.at_nwletters .comt {font-size:12px; line-height:15px; font-weight:normal; color:#666; margin-top:5px; clear:both;}

.at_copy {clear:both; padding:20px 0; font-size:11px; text-align:center;}
.at_con2 {width:140px; float:left; margin-bottom:10px;}
.at_con2 .ttl {padding:5px 0; font-size:12px;}
.at_con2 .ttl a {color:#454545;}
.at_con3 {width:210px; background:#eaeaea; margin-bottom:10px;}
.at_con3 .photo {position:relative; line-height:0;}
.at_con3 .photo .sec {position:absolute; top:0; left:0; padding:5px 8px; font:14px/16px 'Viga', sans-serif; letter-spacing:-0.06em; text-transform:uppercase;}
.at_con3 .ttl {font:12px/16px arial; font-weight:bold; padding:8px 10px;}
.at_comment {clear:both;}
.cm_date {clear:both; padding:15px 0 20px;}
.cm_con {width:100%; float:left; padding:20px 0; clear:both; font-size:14px; line-height:22px; overflow:hidden;}
.cm_con img {width:100%;}
.cm_con2 {width:100%; float:left; overflow:hidden; clear:both;}
.at_ad {padding:10px 0; text-align:center; clear:both;}
.at_ad2 {border:#cecece 1px solid; clear:both; padding:15px 10px; text-align:center;}
.at_ad2 li {padding:0 12px; display:inline-block;}
.at_ad3 {clear:both; text-align:center;}
.at_ad3 .txt a {color:#898989; font-size:10px;}
.bt_slide { float:right; clear:both; font-weight:bold; height:23px;}
.bt_slidef li{float:left; display:block; width:50px;}
.bt_slidef li a {float:left; display:block; width:50px;}
.bt_slide .btn a {float:left; background:#ff6303; font:14px/16px 'Viga', sans-serif; letter-spacing:-0.06em; text-transform:uppercase; color:#ffffff; padding:4px 10px; margin-left:5px; border:none;}
.bt_slide .btn a:hover {background:#228eaa; text-decoration:none;}
.bt_slide li{float: left;margin-left:5px}
.bt_slide li#bt_next{width:59px; float:right;}
.at_page {clear:both; padding:10px 0; text-align:center; font:14px/16px 'Viga', sans-serif;}
.at_page .btn a {background:#ff6303; color:#ffffff; padding:3px 6px; margin-left:5px; border:none;}
.at_page .btn a:hover {background:#228eaa; text-decoration:none;}
.at_rel {width:100%; float:left; clear:both; background:#ffffff; margin:5px 0;}
.at_rel .ttl {font-size:14px; font-weight:bold; border-bottom:#e6e6e6 1px solid; padding:4px 10px;}
.at_rel .ttl2 {font-size:14px; line-height:16px; font-weight:normal; border-bottom:#e6e6e6 1px solid; padding:5px 10px;}
.at_rel .ic_dot {background:#ff6303; width:4px; height:4px; display:inline-block; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; margin-right:5px; vertical-align:middle;}
.at_rel a {color:#333333; text-decoration:none;font-weight: bold;}

/* Videos */
.video_wp {width:100%;}
.v_con_wp {width:1110px; margin:0 auto; padding:20px 25px 30px; background:#ffffff; overflow:hidden;}
.v_con_l {width:720px; float:left;}
.v_con_r {width:300px; float:right;}
.v_con_wp .mv {background:#000000; padding:20px; overflow:hidden; clear:both; text-align:center;}
.v_con_wp .ad {clear:both; margin-bottom:15px;}
.v_con_wp .date {font-size:12px; color:#666666; font-weight:bold; padding:5px 0;}
.v_con_wp .sum {font-size:14px; line-height:18px;}
.video_wp .bttl {width:100%; font-weight:bold; text-align:center; font-size:18px; clear:both; margin-bottom:10px;}
.video_wp .ttl {width:92%; float:left; background:url(../images/bg_video_shadow.png) no-repeat top center; font:20px/24px 'Viga', sans-serif; letter-spacing:-0.06em; padding:10px 4% 20px; clear:both;}
.video_wp .ttl2 {font:14px/16px 'Viga', sans-serif; letter-spacing:-0.06em; padding:6px 10px; clear:both;}
.video_wp .list {width:190px; margin:0 10px 10px; float:left;}
.video_wp .mv2 {width:100%; float:left; position:relative; line-height:0; clear:both;}
.video_wp .mv2 img {width:100%;}
.video_wp a:hover .shadow {width:100%; height:100%; display:inline-block; background-color:rgba(0,0,0,0.6); position:absolute; top:0; left:0; z-index:5;}
.video_wp .play {background:url(../images/ic_video_play.gif) no-repeat 0 0; width:25px; height:25px; position:absolute; bottom:0; right:0; z-index:10;}
.video_wp a:hover .play {background:url(../images/ic_video_play.gif) -25px 0;}
.video_wp .ing {height:25px; padding:0 10px; background:#ff6303; font-weight:bold; font-size:12px; line-height:25px; color:#ffffff; display:inline-block; position:absolute; bottom:0; right:0; z-index:10;}
.video_wp .on .shadow {width:100%; height:100%; display:inline-block; background-color:rgba(0,0,0,0.6); position:absolute; top:0; left:0; z-index:5;}
.video_wp .more {color:#ffffff; font-size:14px; font-weight:bold; padding:8px 10px; width:180px; display:block; margin:10px auto; text-align:center; cursor:pointer; clear:both;
background: #d87900; /* Old browsers */
background: -moz-linear-gradient(top,  #d87900 0%, #c66700 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d87900), color-stop(100%,#c66700)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d87900 0%,#c66700 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d87900 0%,#c66700 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d87900 0%,#c66700 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d87900 0%,#c66700 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d87900', endColorstr='#c66700',GradientType=0 ); /* IE6-9 */}
.video_wp .more:hover {background:#333333;}

/** aboutus **/
.au_ttl {font:18px/22px 'Viga', sans-serif; letter-spacing:-0.03em; padding:10px 10px; clear:both;}
.au_txt {line-height:18px; font-size:13px; color:#333333; clear:both; padding:0 10px 15px;}
.au_txt a {color:#898989;}
.au_txt .photo {float:left; margin-right:20px; margin-bottom:10px;}
.au_bg {background:url(../images/img_aboutus.jpg) no-repeat bottom right;}
.au_txt2 {line-height:18px; color:#333333; clear:both; padding:0 10px 15px;}
.au_txt3 {line-height:18px; clear:both; padding:0 10px 15px;}
.au_list {line-height:18px; clear:both; padding:0 20px 15px;}
.au_list li {padding:2px 0;}
.au_list2 {line-height:18px; clear:both; padding:0 22px 15px;}
.au_list2 .t1 {list-style:lower-roman; padding:2px 0;}

.au_btn a {padding:0 15px; display:inline-block; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; font:15px/35px 'Viga', sans-serif; text-align:center; text-transform:uppercase;
background: #ff6403; /* Old browsers */
background: -moz-linear-gradient(top,  #ff6403 0%, #fe5000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6403), color-stop(100%,#fe5000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff6403 0%,#fe5000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff6403 0%,#fe5000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff6403 0%,#fe5000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff6403 0%,#fe5000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6403', endColorstr='#fe5000',GradientType=0 ); /* IE6-9 */}
.au_btn a:hover {text-decoration:none;
background: #228eaa; /* Old browsers */
background: -moz-linear-gradient(top,  #228eaa 0%, #157993 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#228eaa), color-stop(100%,#157993)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #228eaa 0%,#157993 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #228eaa 0%,#157993 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #228eaa 0%,#157993 100%); /* IE10+ */
background: linear-gradient(to bottom,  #228eaa 0%,#157993 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228eaa', endColorstr='#157993',GradientType=0 ); /* IE6-9 */}

/* search */
.ens_cnt2_2 { background: white; margin-left: 35px;}
.ens_cnt2_2 > form { display:none; }
.ens_cnt2_2 > h1 { font-family: 'Viga',sans-serif; font-size: 24px; font-weight: normal; line-height: 27px; margin-bottom: 10px; padding:20px; }

.ad-sample { width: 100%; clear: both;}
.ad-sample:before, .ad-sample:after { content: ""; display: table; }
.ad-sample:after { clear: both; }
.ad-sample span {text-align: center; font-size: 0.688em; text-transform: uppercase; color: #ddd; margin-bottom: 0.625em; display: block; clear: both; }

@media screen and (max-width:1280px) {
}

.bk-desktop_related {   border-bottom: 3px solid #ddd; clear: both;} 
.bk-desktop_related .bk-hd_desktop_related{    border-top: 3px solid #ddd; clear: both;}
.bk-desktop_related .bk-bd_desktop_related {padding:10px;}
.bk-desktop_related .bk-con_desktop_related {width: 19%; float:left; margin-right:1%; position:relative; display:block;}
.bk-desktop_related .art-img_desktop_related {width:100%;}
.bk-desktop_related .art-txt_desktop_related {padding:0 0 15px 0;}
.bk-desktop_related .art-ttl_desktop_related {font-size:13px; line-height:18px;}
.bk-desktop_related .ttl-lft {float: left;padding: 10px 2px;}  
.bk-desktop_related .clearfix {
    clear: both;
    display: block;
}

@media all and (max-width: 1024px) {
    .contents_wp {
        width: 1000px;
        margin: 0 auto;
        clear: both;
    }
    .s_sns .box2 { padding: 10px; }
    .s_sns .box .ttl { padding: 10px 0;}
}
