/* CHAT ROOM */
@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoLig.ttf) format('truetype');
}
#chat_room * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#chat_room .cf:after {
  content: "";
  display: table;
  clear: both;
}
#chat_room .button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Lato";
  -webkit-appearance: none;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 3px;
  border: 3px solid #000;
  background: #000;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  padding: 10px 16px;
  padding-left: 30px;
  outline: 0;
}
#chat_room .button:before {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: #53DD6C;
  content: "";
  border-radius: 100px;
}
#chat_room .button:hover {
  background: #0a0a0a;
}
#chat_room .button:active {
  bottom: 17px;
}
#chat_room .start_chat_head{
	font-size: 15px;
	font-family: "Lato";
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 18px 0px;
	font-weight: lighter;
	letter-spacing: 1.5px;
}
#chat_room .conversation {
  display: none;
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 400px;
  height: 550px;
  background: rgb(67, 150, 230);
  border: 1px solid #000;
  border-bottom: 0;
  z-index: 100;
}
#chat_room .conversation__header {
  color: #ccc;
  font-family: "Lato";
  padding: 15px 10px;
  background: #1b1b1c;
  border-top: 2px solid #0048ff;
}
#chat_room .conversation__header .close-msg{
	cursor: pointer;
}
#chat_room .conversation__header .exit_chat{
	color: #00c8ff;
	padding-left: 15px;
	font-size: ;
}
#chat_room .conversation__wrap{
	height: 442px;
	overflow-y: scroll;
	padding-top: 10px;
}
#chat_room .conversation__msg {
  padding: 5px 10px;
  color: white;
  list-style-type: none;
  font-size: 12px;
}
#chat_room .conversation__msg span {
  background: white;
  font-family: "Lato";
  color: black;
  display: table;
  padding: 10px 20px;
  border-radius: 100px;
  float: left;
}
#chat_room .right {
  float: right !important;
  background: #0ebeff !important;
  color: white !important;
}
#chat_room .input {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #0a0a0a;
  border: 1px solid #0a0a0a;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  font: 13.3333px Arial;
  line-height: 1;
  height: auto;
  border-radius: 0;
}
#chat_room .inputplus {
  display: block;
  width: 95%;
  padding: 20px;
  background: #0a0a0a;
  border: 1px solid #0a0a0a;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  margin: auto;
  margin-bottom: 10px;
  font: 13.3333px Arial;
  line-height: 1;
  height: auto;
  border-radius: 0;
}
#chat_room .input:focus {
	border: 1px solid #0048ff;
  background: #121212;
}
#chat_room .inputplus:focus {
  border: 1px solid #0048ff;
  background: #121212;
}
#chat_room input[type="submit"].submitbtn {
	display: block;
	height: 30px;
	width: 100px;
	text-align: center;
	margin: auto;
	margin-top: 30px;
	background-color: #0048ff;
	color: #fff;
	border: 0;
	border-radius: 0;
	font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
}
#chat_room input[type="submit"].submitbtn:hover,
#chat_room input[type="submit"].submitbtn:focus {
	cursor: pointer;
	outline: 0;
	border: 1px solid #0048ff;
	background-color: transparent;
}
#chat_room .close-msg {
  float: right;
  font-size: 20px;
  margin-top: -4px;
}
#chat_room #submitmsg{
  display: block;
  position: absolute;
  bottom: 11px;
  right: 10px;
  width: 50px;
  height: 20px;
  text-align: center;
  padding: 10px 20px 24px 10px;
  background-color: #0048ff;
  border: 1px solid #0048ff;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border-radius: 0;
  text-transform: capitalize;
}
#chat_room #submitmsg:hover,
#chat_room #submitmsg:focus {
	cursor: pointer;
	outline: 0;
	border: 1px solid #0048ff;
	background-color: transparent;
}