/* == Project info == 
	Project Name: BTCcoming
  File Name: general.css
	Version: 1.2.0
	Description: The template for displaying the header navbar and footer plus some sections
	Author: HammerHero
*/

/**
 *  @package BTCcoming
 *  @subpackage general_css
 */

/** Content Table
 *  ---------------------
 *  1. fonts
 *  2. topbar
 *  3. navbar
 *  4. footer
 *  6. final_call
 *  7. welcome
 *  8. dash_menu
 *  9. sidebar
 * 10. 
 */


/** 
  --------------------------------------
    FONTS
  --------------------------------------
*/

@font-face {
    font-family: 'Maven Pro';
    src: url(../fonts/MavenPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ABeeZee';
    src: url(../fonts/ABeeZee-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/gothic.ttf) format('truetype');
}

@font-face {
    font-family: 'Jura';
    src: url(../fonts/Jura-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Jura-Light';
    src: url(../fonts/Jura-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Arkhip';
    src: url(../fonts/Arkhip_font.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoLig.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap';
    src: url(../fonts/Asap-Regular.ttf) format('truetype');
}


/** 
  --------------------------------------
    TOPBAR
  --------------------------------------
*/
#top {
	height: 45px;
	background-color: #04198c;
} 

#top h5{
  font-size: 13px;
  font-family: "Maven Pro";
  color: rgba(255, 255, 255, 0.81);
  margin-top: 14px; 
} 

#top h5 span{
  color: #569ee6;
} 

#top ul.social-nav{
	list-style: none;
	margin-bottom: 0;
} 

#top ul.social-nav li{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px; 
}

#top ul.social-nav li.social-nav-item{
	font-size: 20px;
}

#top ul.social-nav li.social-nav-item a{
  color: #fff;
  opacity: 0.7;
}

#top ul.social-nav li.social-nav-item a:hover{
	opacity: 1;
}

#top ul.social-nav li.live-chat{
  border-radius: 14px;
  background-color: rgb(67, 150, 230);
  border: 1px solid rgb(67, 150, 230);
  width: 141px;
  height: 30px;
  padding-top: 5px;
  margin-top: 7px;
}

#top ul.social-nav li.live-chat a{
  font-size: 13px;
  font-family: "Maven Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  display: block;
  text-align: center;
}

#top ul.social-nav li.live-chat a:hover,
#top ul.social-nav li.live-chat a:focus{
  text-decoration: none;
}

#top ul.social-nav li.live-chat:hover{
  background-color: transparent;
}

.disabled {
  cursor: not-allowed;
}

/** 
  --------------------------------------
    NAVBAR
  --------------------------------------
*/
#navbar{
  background-color: rgb(255, 255, 255);
  height: 100px;
  margin-bottom: 0;
}

#navbar .navbar-header .navbar-brand{
  margin-top: 7px;
}

#navbar #navbar-menu ul>li>a {
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(104, 126, 147);
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
}

#navbar #navbar-menu ul>li>a:hover,
#navbar #navbar-menu ul>li>a:focus {
  color: #4396e6;
  background-color: transparent;
  border-bottom: 2px solid #4396e6;
  padding-bottom: 38px;
}

#navbar #navbar-menu ul>li.nav-log>a {
  font-size: 13px;
  font-family: "Maven Pro";
  color: rgb(255, 255, 255);
  border-radius: 14px;
  background-color: rgb(67, 150, 230);
  width: 95px;
  height: 30px;
  margin-top: 34px;
  border: 1px solid #4396e6;
  padding-bottom: 0;
  padding-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

#navbar #navbar-menu ul>li>a>i.account-icon {
  margin-right: 3px;
}

#navbar #navbar-menu ul>li.nav-log.bl>a {
  border: 1px solid #001e3a;
  background-color: #001e3a;
}

#navbar #navbar-menu ul>li.nav-log>a:hover {
  color: #001e3a;
  padding-bottom: 0;
  background-color: transparent;
}

#navbar #navbar-menu ul>li.nav-log.bl>a:hover {
  color: #4396e6;
}


/** 
  --------------------------------------
    FOOTER
  --------------------------------------
*/
footer {
  background-color: #323946;
  height: 100%;
  padding-top: 60px;
}

footer h2 {
  font-size: 18px;
  font-family: "Century Gothic";
  color: rgb(255, 255, 255);
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .col-md-5 img{
  margin-bottom: 20px;
}

footer ul li, footer ul li p {
  margin-bottom: 10px;
}

footer ul li a, footer ul li p {
  font-size: 14px;
  font-family: "Maven Pro";
  color: #bcc2cf;
  text-align: left;
  text-transform: capitalize;
}

footer ul li a:hover, footer ul li p span {
  color: rgb(67, 150, 230);
  text-align: left;
}

footer ul.social-footer li{
  float: left;
  border: 1px solid rgb(232, 230, 230);
  border-radius: 50%;
  width: 53px;
  height: 53px;
  margin-right: 10px;
}

footer ul.social-footer li a{
  display: block;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 45px;
  height: 45px;
  text-align: center;
  color: rgb(4, 7, 16);
  font-size: 19px;
  margin: auto;
  margin-top: 3px;
  padding-top: 9px;
  transition: color 200ms, background-color 200ms;
}

footer ul.social-footer li a:hover{
  color: rgb(255, 255, 255);
  background-color: #323946;
  transition: color 200ms, background-color 200ms;
}

footer ul.safe {
  margin-top: 25px;
}

footer ul.safe li {
  width: 147px;
  float: left;
}

footer ul.safe li i {
  display: block;
  color: rgb(67, 150, 230);
  /* text-align: center; */
}

footer ul.safe li p {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  /* text-align: center; */
  margin-top: 5px;
}

.text {
  font-size: 14px;
  font-family: "Maven Pro";
  color: #b0b8c7;
  text-align: center;
}

.bt {
  width: 350px;
  text-align: left;
}

.end {
  margin-top: 120px;
}

footer .to_top {
  position: static;
  
}

footer .to_top a {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 60px;
  margin: auto;
  border-radius: 50px 50px 0 0;
  transition: border-radius 300ms;
}

footer .to_top a img {
  display: block;
  margin: auto;
  padding-top: 20px;
}

footer .to_top a:hover {
  border-radius: 0;
  transition: border-radius 300ms;
}


/** 
  --------------------------------------
    FINAL_CALL
  --------------------------------------
*/
#final_call {
  background-color: rgb(67, 150, 230);
  height: 180px;
  padding-top: 45px;
}

#final_call .user_call {
  float: left;
}

#final_call .user_call h2{
  font-size: 22px;
  font-family: "ABeeZee";
  color: rgb(254, 254, 254);
  line-height: 2;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

#final_call .user_call p{
  font-size: 12px;
  font-family: "ABeeZee";
  color: rgb(254, 254, 254);
  line-height: 1.7;
  text-align: left;
}

#final_call a.call_button{
  display: block;
  float: right;
  margin-top: 20px;
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(255, 255, 255);
  line-height: 3;
  text-align: center;
  border: 1px solid #fff;
  width: 181px;
  height: 52px;
  padding-top: 1px;
  transition: background-color 300ms;
}

#final_call a.call_button:hover{
  background-color: #040710;
  text-decoration: none;
  transition: background-color 300ms;
}


/** 
  --------------------------------------
    WELCOME
  --------------------------------------
*/
#welcome{
  background-color: rgb(67, 150, 230);
  height: 208px;
  padding-top: 35px;
}

#welcome h1{
  font-size: 32px;
  font-family: "Arkhip";
  color: rgb(255, 255, 255);
  line-height: 1.25;
}

#welcome p{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(250, 250, 250);
  line-height: 1.5;
  width: 630px;
}

#welcome.wel_dash {
  height: 151px;
}

#welcome.wel_dash h1{
  font-size: 25px;
  font-family: "Jura";
  color: #fff;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 0;
}

#welcome.wel_dash h1 span{
  text-transform: capitalize;
}

#welcome.wel_dash p{
  width: 100%;
}

#welcome.wel_dash .welcome_wright{
  float: left;
}

#welcome.wel_dash .welcome_button{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 278px;
  height: 58px;
  float: right;

  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.125;
  text-align: center;
  padding-top: 18px;
  margin-top: 10px;
}

#welcome.wel_dash .welcome_button span{
  padding-left: 7px;
}


/** 
  --------------------------------------
    DASH_MENU
  --------------------------------------
*/

#dash_menu {
  display: block;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  top: 145px;
  width: 328px;
  height: 1008px; 
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  z-index: 100;
}

/* ----- MENU_TOP ----- */
#dash_menu .menu_top{
  background-color: rgb(20, 35, 64);
  width: 328px;
  height: 208px;
}

#dash_menu .menu_top img{
  display: block;
  margin: auto;
  padding-top: 15px;
}

#dash_menu .menu_top h2{
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(254, 254, 254);
  text-transform: capitalize;
  line-height: 1.125;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 3px;
}

#dash_menu .menu_top p{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(254, 254, 254);
  line-height: 1.125;
  text-align: center;
}

#dash_menu .menu_top a.menu_close{
  position: absolute;
  right: 20px;
  opacity: .8;
}

#dash_menu .menu_top a.menu_close:hover{
  opacity: 1;
}

#dash_menu .menu_top a.logout{
  display: block;
  border-radius: 14px;
  background-color: rgb(67, 150, 230);
  border: 1px solid rgb(67, 150, 230);
  width: 141px;
  height: 30px;
  margin: auto;
  padding-top: 5px;
  margin-top: 15px;
  font-size: 13px;
  font-family: "Maven Pro";
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#dash_menu .menu_top a.logout:hover{
  text-decoration: none;
  background-color: transparent; 
}

/* ----- MENU_NAV ----- */
#dash_menu ul.menu_nav {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#dash_menu ul.menu_nav a{  
  display: block;
  height: 50px;
  border-left: 3px solid rgb(67, 150, 230);
  font-size: 18px;
  font-family: "Century Gothic";
  color: rgb(4, 7, 16);
  line-height: 1;
  text-align: left;
  padding-top: 18px;
  padding-left: 14px;
  margin-top: 9px;
  margin-bottom: 9px;
  transition: color 300ms, background-color 300ms;
}

#dash_menu ul.menu_nav a:hover{  
  text-decoration: none;
  background-color: rgb(67, 150, 230);
  border-left: 3px solid rgb(20, 35, 64);
  color: #fff;
  transition: color 200ms, background-color 200ms;
}

#dash_menu ul.menu_nav a img{  
  position: absolute;
  right: 25px;
  margin-top: -9px;
  transition: right 300ms;
}

#dash_menu ul.menu_nav a:hover img{  
  right: 50px;
  transition: right 300ms;
}

#dash_menu ul.menu_social{
  display: block;
  list-style: none;
  padding: 0;
  width: 189px;
  margin: auto;
  margin-top: 45px;
}

#dash_menu ul.menu_social li{
  float: left;
  border: 1px solid #4396e6;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  margin-right: 10px;
}

#dash_menu ul.menu_social li a{
  display: block;
  border-radius: 50%;
  background-color: rgb(4, 7, 16);
  width: 45px;
  height: 45px;
  text-align: center;
  color: #fff;
  font-size: 19px;
  margin: auto;
  margin-top: 3px;
  padding-top: 9px;
  transition: color 200ms, background-color 200ms;
}

#dash_menu ul.menu_social li a:hover{
  color: rgb(4, 7, 16);
  background-color: #fff;
  transition: color 200ms, background-color 200ms;
}

div#onbody{
  display: block;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  position: fixed;
  left: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;

}


/** 
  --------------------------------------
    DASH_ASIDE
  --------------------------------------
*/

.dash{
  padding-top: 45px;
}

.dash_aside{
  border: 1px solid rgb(67, 150, 230);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  height: 600px;
  padding: 0;
}

.dash_aside h2{
  font-size: 40px;
  font-family: "Jura";
  color: rgb(67, 150, 230);
  line-height: 1;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.dash_aside h3{
  font-size: 18px;
  font-family: "Century Gothic";
  color: rgb(4, 7, 16);
  line-height: 1;
  text-align: center;
  margin-top: 15px;
}

.dash_aside ul.aside_info{
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.dash_aside ul.aside_info li{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(4, 7, 16);
  line-height: 1.125;
  text-align: left;
  border-top: 1px solid rgb(67, 150, 230);
  padding: 15px;
}

.dash_aside ul.aside_info li.last{
  border-bottom: 1px solid rgb(67, 150, 230);
}

.dash_aside ul.aside_info li span{
  color: rgb(67, 150, 230);
  font-weight: 700;
  float: right;
}

.dash_aside p{
  font-size: 20px;
  font-family: "Lato";
  color: rgb(4, 7, 16);
  line-height: 0.9;
  text-align: center;
}

.dash_aside p.span{
  padding-top: 40px;
  padding-bottom: 25px;
}

.dash a.btn1{
  display: block;
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(0, 0, 0);
  line-height: 3.125;
  text-align: center;
  border: 1px solid #323946;
  width: 181px;
  height: 52px;
  margin: auto;
  margin-top: 30px;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, #323946 50%, transparent 50%);
  transition: background-position 500ms;
}

.dash a.btn1.btttn{
  color: rgb(4, 7, 16);
}

.dash a.btn1:hover,
.dash a.btn1:focus{
  text-decoration: none;
  color: #fff;
  background-position: -100% 0;
}

