/* == Project info == 
  Project Name: BTCcoming
  File Name: main.css
  Version: 1.2.0
  Description: The template for displaying the every page sections for the main website
*/

/**
 *  @package BTCcoming
 *  @subpackage main_css
 */

/** Content Table
 *  ---------------------
 *  1. index
 *    1.1 hero
 *    1.2 service
 *    1.3 about_calc
 *    1.4 affiliate_talk
 *    1.5 nums
 *  2. get_started
 *    2.1 left layout
 *    2.1 right layout
 *  3. affiliate
 *    3.1 affiliate_work
 *    3.2 program
 *  4. faqs
 *    4.1 aside
 *    4.2 content
 *  5. contact
 *    5.1 info
 *    5.1 form
 *  6. signup
 *  7. login
 */


/* 
  --------------------------------------
    INDEX
  --------------------------------------
*/

/* -----  HERO SECTION  ----- */
#hero {
  background:url('../images/background_header.jpeg') no-repeat center center; 
  width:100%;
  z-index:0;
  height: 750px;
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#hero span.intro {
  font-size: 14px;
  font-family: "Asap";
  color: #4396E6;
  line-height: 3;
}

#hero h1 {
  font-size: 32px;
  font-family: "Arkhip";
  color: rgb(2, 47, 89);
  line-height: 1.25;
  margin: 0;
}

#hero h1 span {
  color: #4396e6; 
}

#hero p {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(2, 47, 89);
  line-height: 1.5;
  margin-top: 12px;
  margin-bottom: 35px;
}

#hero ul.calltoAction{
  list-style: none;
  padding: 0;
}

#hero ul.calltoAction li{
  float: left;
}

a.btn1{
  display: block;
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(255, 255, 255);
  line-height: 3.125;
  text-align: center;
  border: 1px solid rgb(67, 150, 230);
  width: 181px;
  height: 52px;
  margin-right: 40px;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, rgb(67, 150, 230) 50%, transparent 50%);
  transition: background-position 500ms;
}

#hero a.btn1 {
  color: #4396E6;
}

a.btn2{
  margin-right: 0;
}

a.btn1:hover,
a.btn1:focus{
  text-decoration: none;
  background-position: -100% 0;
}

#hero a.btn1:hover {
  color: #fff;
}


/* -----  SERVICE SECTION  ----- */
#service {
  height: 456px;
}

#service .service_item {
  padding-top: 100px;
  height: 456px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  background-color: transparent;
  transition: background-color 300ms;
}

#service .service_item:hover .service_item_cycle {
  background-color: rgb(4, 7, 16);
  transition: background-color 300ms;
  /* border: 1px solid rgb(4, 7, 16); */
}

#service .service_item.last {
  border-right: 0;
}

#service .service_item h2 {
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(2, 47, 89);
  line-height: 2.875;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

#service .service_item p {
  font-size: 12px;
  font-family: "ABeeZee";
  color: rgb(107, 128, 147);
  line-height: 1.5;
  text-align: center;
}

#service .service_item .service_item_cycle {
  display: block;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: auto;
}

#service .service_item .service_item_cycle img {
  display: block;
  width: 61px;
  margin: auto;
  padding-top: 32px;
}

#service .service_item .service_item_cycle img.last_item_icon {
  padding-top:35px;
}


/* -----  ABOUT_CALC SECTION  ----- */
#about_calc{
  height: 100%;
  background-color: #323946;
}

/* about */
#about_calc .about{
  height: 100%; 
  padding-top: 60px;
  padding-bottom: 60px;
}

#about_calc h1 {
  font-size: 30px;
  font-family: "Jura light";
  color: rgb(255, 255, 255);
  line-height: 0.6;
  text-align: center;
}

#about_calc .blueline {
  display: block;
  background-color: rgb(67, 150, 230);
  width: 68px;
  height: 2px;
  margin: auto;
  margin-top: 16px;
}

#about_calc p {
  font-size: 12px;
  font-family: "ABeeZee";
  color: rgb(254, 254, 254);
  line-height: 1.667;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#about_calc ul.features_list {
  float: left;
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
  margin-right: 25px;
  margin-left: 25px;
}

.features {
  display: block;
  width: 440px;
  margin: auto;
}

#about_calc ul.features_list li {
  font-size: 17px;
  font-family: "Lato";
  color: rgb(254, 254, 254);
  line-height: 1.429;
  margin-bottom: 15px;
}

#about_calc ul.features_list li:before {
  content: "";
  display: block;
  background: url('../images/icons/check.svg') no-repeat center center;
  width: 18px;
  height: 16px;
  float: left;
  margin-top: 2px;
  margin-right: 8px;
}

#about_calc a {
  margin: auto;
}

/* calculation */
#about_calc .calc{
  background-color: #4396e6;
  height: 634px;
  position: absolute;
  right: 0;
  padding-top: 100px;
}

#about_calc .blackline {
  background-color: #040710;
}

#about_calc .calc form {
  margin-top: 40px;
}

#about_calc .calc input#price {
  background-color: rgb(255, 255, 255);
  width: 268px;
  height: 47px;
  font-size: 16px;
  font-family: "Arial";
  color: rgb(181, 181, 181);
  line-height: 1.125;
  border: 0;
  border-bottom: 2px solid #000;
  padding-left: 12px;
  transition: color 300ms;
}

#about_calc .calc input#price:hover,
#about_calc .calc input#price:focus {
  color: rgb(4, 7, 16);
  transition: color 300ms;
}

#about_calc .calc button#submit_calc {
  font-size: 16px;
  font-family: "ABeeZee";
  color: #fff; 
  text-align: center;
  border: 1px solid rgb(4, 7, 16);
  background-color: rgb(4, 7, 16);
  width: 141px;
  height: 47px;
  margin-left: 15px;
}

#about_calc form#inv_calc ul.calc_form{
  list-style: none;
  float: left;
  padding: 0;
  margin-top: 50px;
  margin-right: 70px;
}

#about_calc form#inv_calc ul.calc_form li {
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(255, 255, 255);
  line-height: 2.5;
  text-align: left;
}

#about_calc form#inv_calc ul.calc_form p.calc_result{
  margin: 0;
  display: inline;
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(255, 255, 255);
  line-height: 2.5;
  text-align: left; 
}

/* the new calculator */
.roll-box {
  display: block;
  width: 92%;
  margin: 4%;
  min-height: 200px;
  float: left;
  -webkit-box-shadow: 0 5px 35px -10px rgba(0,0,0,0.55);
  -moz-box-shadow: 0 5px 35px -10px rgba(0,0,0,0.55);
  box-shadow: 0 5px 35px -10px rgba(0,0,0,0.55);
  background: rgba(255,255,255,0.5);
}

.roll-box .box {
  display: block;
  position:relative;
  font-family: 'Roboto',sans-serif;
  width: 90%;
  margin: 20px auto 20px auto;
  background: rgba(255,255,255,0.5)
}

.roll-box .box .left {
  display: inline-block;
  font-family: 'Roboto',sans-serif;
  width: 50%;
  /*background: #e4f1f7; */
  background:rgba(228,241,247,0.8);
  min-height: 261px;
  float: left;
  overflow: hidden;
  padding: 30px 40px 30px 30px;
}

.roll-box .box .right {
  display: inline-block;
  font-family: 'Roboto',sans-serif;
  width: 50%;
  /*background: #d4e2eb;*/
  background:rgba(212,226,235,0.8);
  min-height: 261px;
  float: left;
  overflow: hidden;
  padding: 30px 30px 30px 40px;
}

.box .blue {
  font-family: 'Roboto',sans-serif;
  position: absolute;
  width: 120px;
  text-align: center;
  bottom: -36px;
  left: 50%;
  margin-left: -60px;
}

 a.blue {
  display: inline-block;
  border-radius: 20px;
  padding: 8px 12px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 11px;
  position: relative;
  background: #007cb5;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0,0,0,0.35);
  -moz-box-shadow: 0 5px 15px -5px rgba(0,0,0,0.35);
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.35);
}

 .roll-box .box .left span {
  display: block;
  font-size: 11px;
  line-height: 15px;
  color: #97a9b7;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-family: 'Montserrat',sans-serif;
}

.header-follow {
  width:100%;
  overflow:hidden;
  background-color:#004869 !important;
  margin-top:0px !important;
  padding-right:50px;
  padding-left:50px;
  color:#444;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
}

.roll-box .box .right .amount {
  display: block;
  line-height: 17px;
}

.roll-box .box .right .amount label {
  display: inline-block;
  line-height: 17px;
  width: 30%;
  float: left;
}

.roll-box .box .right .amount b {
  display: inline-block;
  line-height: 17px;
  width: 60%;
  float: left;
  text-align: right;
  color: #007cb5;
  letter-spacing: .1em;
}

.roll-box .box .right .amount b.btc {
  display: inline-block;
  line-height: 17px;
  width: 10%;
  float: left;
  text-align: right;
  color: #007cb5;
  letter-spacing: .02em;
}


/* -----  AFFILIATE_TALK SECTION  ----- */
#affiliate_talk{
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

#affiliate_talk h1 {
  font-size: 30px;
  font-family: "Jura light";
  color: rgb(4, 7, 16);
  line-height: 0.6;
  text-align: center;
  margin-top: 0;
}

#affiliate_talk .blueline {
  display: block;
  background-color: rgb(67, 150, 230);
  width: 68px;
  height: 2px;
  margin: auto;
  margin-top: 15px; 
}

#affiliate_talk p {
  font-size: 15px;
  font-family: "ABeeZee";
  color: rgb(4, 7, 16);
  line-height: 1.333;
  text-align: center;
  width: 1100px;
  margin: auto;
  margin-top: 45px; 
  margin-bottom: 45px; 
}

#affiliate_talk p span {
  color: #4396e6;
}

#affiliate_talk a.btn3 {
  color: rgb(4, 7, 16);
  margin: auto;
}


/* -----  NUMS SECTION  ----- */
#num {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

#num h1 {
  font-size: 30px;
  font-family: "Jura light";
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  line-height: 0.6;
  text-align: center;
  margin-top: 0;
}

#num .blueline {
  display: block;
  background-color: rgb(67, 150, 230);
  width: 68px;
  height: 2px;
  margin: auto;
  margin-top: 15px; 
}

#num p.desc {
  font-size: 15px;
  font-family: "ABeeZee";
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: center;
  margin: auto;
  margin-top: 45px; 
}

#num a.btn1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: auto;
}

.stats-info {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-info.sub .stats-info {
  margin-top: 70px;
  margin-bottom: 60px;
}

.section-info.sub .stats-info li > div {
  padding: 30px 25px 35px;
  background-color: #007cb5;
}

.section-info.sub .stats-info li:nth-of-type(2) > div {
  background-color: #e74c3c;
}

.section-info.sub .stats-info li:nth-of-type(3) > div {
  background-color: #16a085;
}

.section-info.sub .stats-info li:nth-of-type(4) > div {
  background-color: #1c1e24;
}

.stats-info h3 {
  font-weight: 700;
  font-size: 48px;
}

.stats-info h5 {
  font-size: 24px;
}

.stats-info h3, 
.stats-info h4, 
.stats-info h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
 
.stats-info p {
  color: #fff;
}

.stats-info h3 + h4 {
  margin-top: 20px;
  font-size: 30px;
}

.stats-info h3 + h5 {
  margin-top: 10px;
  font-size: 21px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


/**
  --------------------------------------
    GET_STARTED
  --------------------------------------
*/
#get_started {
  height: 100%;
  padding-bottom: 100px;
}


/* -----  LEFT SECTION  ----- */
#get_started .start_box {
  display: block;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 2px 24.44px 1.56px rgba(0, 0, 0, 0.26);
  width: 708px;
  height: 250px;
  padding: 40px 40px 0 ;
  margin-top: 19px;
  position: relative;
  right: 62px;
  z-index: 1;
}

#get_started .left_section .start_box {
  float: right;
}

#get_started .left_content,
#get_started .right_content{
  margin-top: 100px;
}

#get_started img {
  display: block;
  float: left;
  width: 390px;
  position: relative;
  left: 62px;
  z-index: 0;
}

#get_started h2 {
  font-size: 22px;
  font-family: "Jura light";
  color: rgb(4, 7, 16);
  font-weight: bold;
  line-height: 0.818;
  text-align: left;
  text-transform: uppercase;
}

#get_started h2 span {
  color: #4396e6;
}

#get_started .blueline{
  display: block;
  background-color: rgb(67, 150, 230);
  width: 68px;
  height: 2px;
}

#get_started span.num_box {
  display: block;
  font-size: 40px;
  font-family: "Wonderbar";
  color: rgba(4, 7, 16, 0.2);
  line-height: 0;
  float: right; 
}

#get_started p {
  font-size: 14px;
  font-family: "ABeeZee";
  color: rgb(4, 7, 16);
  font-style: italic;
  line-height: 1.429;
  text-align: left;
  margin-top: 16px;
}


/* -----  RIGHT SECTION  ----- */
#get_started .right_section .start_box {
  position: relative;
  left: 62px;
}

#get_started .right_section .start_box {
  float: left;
}

#get_started .right_section img {
  float: right;
  position: relative;
  left: -62px;
}

#get_started .right_section h2 {
  text-align: right;
}

#get_started .right_section .blueline{
  float: right;
}

#get_started .right_section span.num_box {
  float: left; 
}

#get_started .right_section p {
  text-align: right;
}


/**
  --------------------------------------
    AFFILIATE
  --------------------------------------
*/

/* -----  AFFILIATE_WORK  ----- */
#affiliate_work{
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

h2.affiliate_heading {
  font-size: 30px;
  font-family: "Jura light";
  color: rgb(4, 7, 16);
  line-height: 0.6;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 25px;
}

.blueline.affiliate_line {
  display: block;
  background-color: rgb(67, 150, 230);
  width: 68px;
  height: 2px;
}

p.affiliate_txt {
  font-size: 12px;
  font-family: "ABeeZee";
  color: rgb(0, 0, 0);
  line-height: 1.667;
  text-align: left;
  margin-top: 25px;
}

#affiliate_work .icon_div{
  width: 100%;
  height: 100%;
  margin-bottom: 77px;
}

#affiliate_work .icon_div .icon_back{
  float: left;
  background-color: #323946;
  width: 83px;
  height: 80px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
  transition: background-color 500ms;
}

#affiliate_work .icon_div:hover .icon_back{
  background-color: rgb(67, 150, 230);
  transition: background-color 500ms;
}

#affiliate_work .icon_div:hover .icon_back img{
  opacity: 1;
  transition: opacity 500ms;
}

#affiliate_work .icon_div .icon_back img{
  display: block;
  width: 50px;
  margin: auto;
  margin-top: 15px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  opacity: 0.8;
  transition: opacity 500ms;
}

#affiliate_work .icon_div p.icon_text{
  font-size: 14px;
  color: rgb(4, 7, 16);
  font-style: italic;
  line-height: 1.429;
  position: relative;
  left: 20px;
  top: 30px;
}


/* -----  PROGRAM  ----- */
#program {
  height: 100%;
  padding-bottom: 50px;
}

#program .img_program {
  background-color: #323946;
  height: 100%;
  padding:0;
  padding-bottom: 50px;
  padding-top: 50px;
}

#program .img_program img {
  display: block;
  width: 80%;
  margin: auto;
}

#program .talk_program {
  vertical-align: middle;
}


/**
  --------------------------------------
    FAQS
  --------------------------------------
*/

#faqs{
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}


/* -----  ASIDE  ----- */
#faqs aside.faqs_aside {

}

#faqs aside.faqs_aside ul.side_navbar {
  list-style: none;
  padding: 0;
}

#faqs aside.faqs_aside ul.side_navbar li a {
  display: block;
  font-size: 20px;
  font-family: "Lato";
  color: rgb(38, 52, 65);
  line-height: 0.9;
  border: 1px solid rgb(234, 234, 234);
  border-bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  padding-left: 32px;
  padding-top: 20px;
  opacity: 0.9;
}

#faqs aside.faqs_aside ul.side_navbar li a i.fa-angle-right {
  font-size: 20px;
  color: rgb(38, 52, 65);
  position: absolute;
  right: 35px;
}

#faqs aside.faqs_aside ul.side_navbar li a.last_one {
  border-bottom: 1px solid rgb(234, 234, 234);
}

#faqs aside.faqs_aside ul.side_navbar li a:hover,
#faqs aside.faqs_aside ul.side_navbar li a:focus, 
#faqs aside.faqs_aside ul.side_navbar li a.active {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(245, 249, 252);
  opacity: 1;
}

#faqs aside.faqs_aside ul.side_navbar li a:hover i.fa-angle-right,
#faqs aside.faqs_aside ul.side_navbar li a:focus i.fa-angle-right, 
#faqs aside.faqs_aside ul.side_navbar li a.active i.fa-angle-right {
  color: rgb(0, 0, 0);
  opacity: 1;
}

#faqs aside.faqs_aside div.call_us_now {
  border: 1px solid rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 170px;
  margin-top: 40px;
}

#faqs aside.faqs_aside div.call_us_now p {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(4, 7, 16);
  line-height: 0.9;
  text-align: center;
  margin-top: 18px;
}

#faqs aside.faqs_aside div.call_us_now .span {
  font-family: "Maven Pro";
}


/* -----  CONTENT  ----- */
#faqs div.faqs_content h2 {
  font-size: 30px;
  font-family: "Jura light";
  color: rgb(4, 7, 16);
  line-height: 0.6;
  text-align: left;
}

#faqs div.faqs_content .blueline {
  display: block;
  background-color: rgb(67, 150, 230);
  width: 48px;
  height: 1px;
  margin-top: 18px;
}

#faqs div.faqs_content {
  border: 1px solid rgb(234, 234, 234);
  background-color: #fff;
  height: 100%;
}

#faqs div.faqs_content .questions{
  margin-top: 22px;
}

#faqs div.faqs_content .faqs_page {
  padding: 20px 15px;
}

#faqs div.faqs_content .questions .question_block {
  border: 1px solid rgb(234, 234, 234);
  margin-bottom: 20px;
  border-radius: 0; 
}

#faqs div.faqs_content .questions .question_header {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(4, 7, 16);
  line-height: 1.125;
  background-color: #fff; 
  height: 48px;
  padding-top: 15px;
}

.darkback{
  background-color: rgb(245, 249, 252) !important; 
}

#faqs div.faqs_content .questions .question_header .panel-title i {
  position: absolute;
  right: 50px;
  padding-top: 2px;
}

#faqs div.faqs_content .questions .question_header .panel-title a:hover,
#faqs div.faqs_content .questions .question_header .panel-title a:focus {
  text-decoration: none;
}

#faqs div.faqs_content .questions .panel-body {
  font-size: 12px;
  font-family: "Maven Pro";
  color: rgb(4, 7, 16);
  line-height: 1.667;
  text-align: left;
}

/**
  --------------------------------------
    CONTACT US
  --------------------------------------
*/

#contact{
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact h1{
  font-size: 30px;
  font-family: "Jura light";
  color: rgb(4, 7, 16);
  line-height: 0.6;
  text-align: center;
}

#contact .blueline{
  display: block;
  background-color: rgb(67, 150, 230);
  width: 68px;
  height: 2px;
  margin: auto;
  margin-top: 20px;
}


/* -----  INFO  ----- */
#contact .info{
  margin-top: 78px;
}

#contact .info h2{
  font-size: 24px;
  font-family: "ABeeZee";
  color: rgb(4, 7, 16);
  line-height: 0.833;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 0;
}

#contact .info .contact_info, 
#contact .info .contact_social {
  list-style: none;
  padding: 0;
}

#contact .info .contact_info li {
  margin-top: 15px;
}

#contact .info .contact_info li p {
  font-size: 14px;
  font-family: "Maven Pro";
  color: rgb(104, 126, 147);
  line-height: 1.286;
  text-align: left;
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}

#contact .info .contact_info li p.middle {
  margin-top: -5px;
}

#contact .info .contact_info li.last {
    margin-top: 5px;
}

#contact .info .contact_info li img {
  width: 26px;
  float: left;
}

#contact .info ul.contact_social {
  margin-top: 16px;
}

#contact .info ul.contact_social li{
  float: left;
  border: 1px solid rgb(232, 230, 230);
  border-radius: 50%;
  width: 53px;
  height: 53px;
  margin-right: 16px;
}

#contact .info ul.contact_social li a{
  display: block;
  border-radius: 50%;
  background-color: #4396e6;
  width: 45px;
  height: 45px;
  text-align: center;
  color: #fff;
  font-size: 19px;
  margin: auto;
  margin-top: 3px;
  padding-top: 9px;
}

#contact .info ul.contact_social li a:hover{
  color: #4396e6;
  background-color: #fff;
}


/* -----  FORM  ----- */
#contact .form{
  margin-top: 70px;
}

#contact .form input,
#contact .form select{
  border: 1px solid rgb(67, 150, 230);
  height: 52px;
  width: 313px;
  margin: 5px 5px;
  padding-left: 15px;
}

#contact .form textarea{
  border: 1px solid rgb(67, 150, 230);
  width: 641px;
  height: 183px;
  margin: 5px 5px;
  padding-left: 15px;
  padding-top: 0;
}

#contact .form input,
#contact .form select,
#contact .form textarea {
  font-size: 16px;
  font-family: "Maven Pro";
  color: rgb(181, 181, 181);
  line-height: 3.125;
}

#contact .form input:hover,
#contact .form input:focus,
#contact .form select:hover,
#contact .form select:focus,
#contact .form textarea:hover,
#contact .form textarea:focus {
  color: #000;
  outline: 0;
}

#contact .form input:focus,
#contact .form select:focus,
#contact .form textarea:focus {
  border: 1px solid rgb(4, 7, 16);
}

#contact .form input.captcha{
  width: 141px;
}

#contact .form button.submit{
  font-size: 16px;
  font-family: "ABeeZee";
  color: rgb(4, 7, 16);
  line-height: 3.125;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgb(67, 150, 230);
  width: 181px;
  height: 52px;
  float: right;
  margin: 5px;
  transition: background-color 300ms;
}

#contact .form button.submit:hover{
  background-color: #040710;
  text-decoration: none;
  color: #fff;
  transition: background-color 300ms;
}


/**
  --------------------------------------
    SIGN UP
  --------------------------------------
*/

#welcome.signup_welcome{
  height: 85px;
  padding-top: 0;
}

#welcome.signup_welcome h1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 1px;
}

#welcome.signup_welcome p {
  width: 100%;
  text-align: center;
}

#signup * {margin: 0; padding: 0;}

#signup {
  height: 750px;
  padding-top: 50px;
  padding-bottom: 50px;
  
  background-color: rgb(67, 150, 230);
  background:url('../images/background_header.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#signup {
  font-family: montserrat, arial, verdana;
}

#signupform {
  width: 550px;
  margin: auto;
  text-align: center;
  position: relative;
}
#signupform fieldset {
  background: white;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  position: relative;
}

#signupform fieldset:not(:first-of-type) {
  display: none;
}

#signupform input, #signupform select, #signupform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

#signupform input.captcha2 {
  width: 50%;
}

#signupform input.check {
  margin-bottom: 45px;
  width: 20px;
  position: relative;
  top: 2px; 
}

#signupform .action-button {
  width: 100px;
  font-family: "ABeeZee";
  background: rgb(4, 7, 16);
  color: white;
  border: 0 none;
  border-radius: 0;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#signupform .action-button:hover, #signupform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(4, 7, 16); 
  background: transparent;
  color: rgb(4, 7, 16);
}
#signup .fs-title {
  font-size: 15px;
  font-family: 'Asap';
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 20px;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: rgb(4, 7, 16);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; 
}
#progressbar li:first-child:after {
  content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
  background: rgb(4, 7, 16);
  color: white;
}

#signup h1.si {
  padding-top: 0;
  padding-bottom: 40px;
}



/**
  --------------------------------------
    LOG IN
  --------------------------------------
*/

#login h2, #signup h1 {
  font-size: 24px;
  font-family: "Jura";
  color: #323946;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 20px;
}
#login .login-page {
  width: 440px;
  padding: 0;
  margin: auto;
}
#login .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 440px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#login .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#login .form input.captcha2{
  width: 50%;
}
#login .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2c89e3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#login .form button:hover,.form button:active,.form button:focus {
  background: #4396e6;
}
#login .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
#login .form .message a {
  color: #4396e6;
  text-decoration: none;
}
#login {
  background: #4396e6;
  background:url('../images/background_header.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  height: 100%;
  padding-bottom: 20px;     
}



