/* == Project info == 
  Project Name: BTCcoming
  File Name: responsive.css
  Version: 1.2.0
  Description: The template for displaying the site in the mobile view
*/

/**
 *  @package BTCcoming
 *  @subpackage responsive_css
 */

/** Content Table
 *  ---------------------
 *  1. LG
 *  2. MD
 *  3. SM
 *  4. XS
 *  6. OTHER
 */

/* lg */ 
@media (min-width: 1200px) {
	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	/* index - about_calc */
	#about_calc ul.features_list {
	  margin-bottom: 45px;
	  margin-right: 80px;
	}
	#about_calc form#inv_calc ul.calc_form{
	  margin-top: 50px;
	  margin-right: 35px;
	}

    /* index - affiliate_talk */
	#affiliate_talk p {
	  width: 100%; 
	}

	/* get_started - main sections */
	#get_started .start_box {
	  margin: auto;
	  position: relative;
	  right: 0;
	  top: -40px;
	}
	#get_started .left_section .start_box {
	  float: none;
	}
	#get_started img {
	  float: none;
	  position: relative;
	  left: 0;
	  margin: auto;
	}
	#get_started .right_section .start_box {
	  position: relative;
	  left: 0;
	  top: -40px;
	}
	#get_started .right_section .start_box {
	  float: none;
	}
	#get_started .right_section img {
	  float: none;
	  position: relative;
	  left: 0;
	}

	/* Contact - Form */
	#contact .form input,
	#contact .form select{
	  width: 259px;
	  margin: 3px 3px;
	  padding-left: 10px;
	}
	#contact .form textarea{
	  width: 528px;
	  height: 183px;
	  margin: 3px 3px;
	  padding-left: 10px;
	}
	#contact .form input.captcha{
	  width: 130px;
	}
	#contact .form button.submit{
	  width: 181px;
	  height: 52px;
	  float: right;
	  margin: 5px;
	  margin-top: 3px;
	}



}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	/* topbar */
	#top ul.social-nav li.live-chat{
	  display: none;
	}

	/* navbar */
	#navbar {
	    height: 80px;
	}
	.navbar-brand>img {
	    display: block;
	    width: 120px;
	}
	#navbar #navbar-menu ul>li>a {
	    font-size: 14px;
	    margin-top: 15px;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	#navbar #navbar-menu ul>li.nav-log>a {
	    font-size: 11px;
	    width: 70px;
	    height: 30px;
	    margin-top: 24px;
	    margin-left: 5px;
	    margin-right: 5px;
	}
	#navbar #navbar-menu ul>li>a:hover, #navbar #navbar-menu ul>li>a:focus {
    	padding-bottom: 28px;
	}

	/* footer */
	footer h2 {
	  font-size: 16px;
	  margin-bottom: 20px;
	}
	footer ul li, footer ul li p {
	  margin-bottom: 5px;
	}
	footer ul li a, footer ul li p {
	  font-size: 12px;
	}
	footer ul.social-footer li{
	  width: 43px;
	  height: 43px;
	  margin-right: 5px;
	}
	footer ul.social-footer li a{
	  width: 35px;
	  height: 35px;
	  font-size: 15px;
	}
	.text {
	  font-size: 12px;
	}
	.bt {
	  width: 300px;
	}
	.end {
	  margin-top: 125px;
	}
	footer .to_top {
	  position: relative;
	  bottom: -44px;
	}
	footer .to_top a {
	  width: 100px;
	  height: 50px;
	  margin: auto;
	}
	footer .to_top a img {
	  padding-top: 18px;
	}

    /* final_call */
    #final_call .user_call h2{
	  font-size: 20px;
	}
	#final_call .user_call p{
	  font-size: 10px;
	}

	/* index - service */
	#service {
	  height: 100%;
	}

	/* index - about_calc */
	#about_calc{
	  height: 100%;
	}
	#about_calc .calc{
	  position: static;
	  border-radius: 5px 5px 0 0; 
	}

	/* index - affiliate_talk */
	#affiliate_talk p {
	  width: 100%; 
	}

	/* get_started - main sections */
	#get_started .start_box {
	  margin: auto;
	  position: relative;
	  right: 0;
	  top: -40px;
	}
	#get_started .left_section .start_box {
	  float: none;
	}
	#get_started img {
	  float: none;
	  position: relative;
	  left: 0;
	  margin: auto;
	}
	#get_started .right_section .start_box {
	  position: relative;
	  left: 0;
	  top: -40px;
	}
	#get_started .right_section .start_box {
	  float: none;
	}
	#get_started .right_section img {
	  float: none;
	  position: relative;
	  left: 0;
	}

	/* affiliate - affiliate_work */
	#affiliate_work h2 {
	  margin-top: 15px;
	}
	#affiliate_work .icon_div p.icon_text{
	  font-size: 12px;
	  position: relative;
	  left: 10px;
	  top: 5px;
	}

	/* faqs */
	#faqs aside.faqs_aside ul.side_navbar li a {
	  font-size: 18px;
	  padding-top: 21px;
	  padding-left: 18px;
	}
	#faqs div.faqs_content h2 {
	  font-size: 26px;
	}
	#faqs div.faqs_content .questions .question_header {
	  font-size: 14px;
	  padding-top: 15px;
	  line-height: 1.5;
	  height: 100%;
	  padding-bottom: 15px;
	}
	#faqs div.faqs_content .questions .panel-body {
	  font-size: 11px;
	}

	/* Contact - Form */
	#contact .form input,
	#contact .form select{
	  width: 100%;
	  margin: 3px 3px;
	  padding-left: 10px;
	}
	#contact .form textarea{
	  width: 100%;
	  height: 183px;
	  margin: 3px 3px;
	  padding-left: 10px;
	}
	#contact .form input.captcha{
	  width: 130px;
	}
	#contact .form img{
	  margin-left: 75px;
	}
	#contact .form button.submit{
	  display: block;
	  width: 181px;
	  height: 52px;
	  float: none;
	  margin: auto;
	  margin-top: 20px;
	}


}

/* xs */
@media (max-width: 767px) {
    /* topbar */
	#top {
	  display: none;
	}

	/* navbar */
	#navbar {
	    height: 80px;
	}
	.navbar-brand>img {
	    display: block;
	    width: 120px;
	}
	#navbar #navbar-menu ul>li>a {
	    font-size: 14px;
	    margin-top: 0;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	#navbar #navbar-menu ul>li.nav-log>a {
	    font-size: 11px;
	    width: 70px;
	    height: 30px;
	    margin-top: 0;
	    margin-left: 0;
	    margin-right: 0;
	    display: block;
	    margin: auto;
	    margin-top: 10px;
	}
	.navbar-toggle{
		border: 1px solid #4396e6;
		margin-top: 23px;
	}
	.navbar-toggle:focus {
	    background-color: #eeeeee;
	}
	.navbar-toggle .icon-bar{
		background-color: #000;
	}
	#navbar #navbar-menu ul>li>a:hover {
	    border-bottom: none;
	    padding-bottom: 0; 
	}
	#navbar-menu ul{
		background-color: #fff;
	}
	#navbar #navbar-menu ul>li.nav-log.bl>a {
		margin-bottom: 20px;
	}

	/* footer */
	footer {
	  height: 100%;
	}
	.clear{
		clear: both;
	}
	footer .footer_logo img {
		width: 100%;
	}
	footer h2 {
	  font-size: 15px;
	  margin-bottom: 20px;
	}
	footer ul li, footer ul li p {
	  margin-bottom: 5px;
	}
	footer ul li a, footer ul li p {
	  font-size: 11px;
	}
	footer ul.social-footer li{
	  width: 43px;
	  height: 43px;
	  margin-right: 5px;
	}
	footer ul.social-footer li a{
	  width: 35px;
	  height: 35px;
	  font-size: 15px;
	}
	.text {
	  font-size: 11px;
	}
	.bt {
	  width: 100%;
	}
	.end {
	  margin-top: 125px;
	}
	footer .to_top {
	  position: relative;
	  bottom: 0;
	}
	footer .to_top a {
	  width: 100px;
	  height: 50px;
	  margin: auto;
	}
	footer .to_top a img {
	  padding-top: 18px;
	}

	/* final_call */
	#final_call {
	  height: 100%;
	  padding-bottom: 25px;
	  padding-top: 25px;
	}
	#final_call .user_call {
	  float: none;
	}
    #final_call .user_call h2{
	  font-size: 20px;
	  text-align: center;
	}
	#final_call .user_call p{
	  font-size: 10px;
	  text-align: center;
	}
	#final_call a.call_button{
	  float: none;
	  margin: auto;
	  margin-top: 20px;
	  padding-top: 3px;
	  font-size: 15px;
	}

	/* welcome */
	#welcome{
	  height: 100%;
	  padding-top: 30px;
	  padding-bottom: 30px;
	}
	#welcome.wel_dash{
	  height: 100%;
	  padding-top: 30px;
	  padding-bottom: 30px;
	}
	#welcome h1{
	  font-size: 30px;
	  text-align: center;
	}
	#welcome p{
	  font-size: 14px;
	  width: 100%;
	  text-align: center;
	  padding-left: 20px;
	  padding-right: 20px;
	}
	#welcome.wel_dash .welcome_wright{
	  float: none;
	}
	#welcome.wel_dash .welcome_button{
	  display: block;
	  width: 220px;
	  height: 45px;
	  margin: auto;
	  margin-top: 15px;
	  float: none;
	  padding-top: 12px;
	}

	/* index - hero */
	#hero span.intro {
	  font-size: 12px;
	  display: block;
	  text-align: center;
	}
	#hero h1 {
	  font-size: 30px;
	  margin: 0;
	  text-align: center;
	}
	#hero p {
	  font-size: 14px;
	  text-align: center;
	  margin-top: 10px;
	  margin-bottom: 30px;
	}
	#hero ul.calltoAction li{
	  float: none;
	}
	#hero ul.calltoAction li a.btn1{
	  font-size: 16px;
	  margin: auto;
	  margin-bottom: 20px;
	}
	#hero ul.calltoAction li a.btn2{
	  margin: auto;
	}

	/* index - service */
	#service {
	  height: 100%;
	}
	#service .service_item {
	  padding-top: 80px;
	  height: 400px;
	  border: 0;
	  border-bottom: 1px solid #e9e9e9;
	}

	/* index - about_calc */
	#about_calc{
	  height: 100%;
	}
	#about_calc .calc{
	  position: static;
	}
	#about_calc ul.features_list {
	  margin-bottom: 45px;
	  margin-right: 80px;
	}
	#about_calc form#inv_calc ul.calc_form{
	  margin-top: 50px;
	  margin-right: 35px;
	}
	#about_calc form#inv_calc ul.calc_form span {
	  display: inline!important;
	  font-size: 13px;
	  font-family: "ABeeZee";
	  color: rgb(255, 255, 255);
	  line-height: 2.5;
	  text-align: left;
	}

	/* index - affiliate_talk */
	#affiliate_talk p {
	  font-size: 13px;
	  width: 100%; 
	}
	#affiliate_talk h1 {
	  font-size: 25px;
	}

	/* index - nums */
	#nums {
	  height: 100%;
	  padding-top: 75px;
	  padding-bottom: 75px;
	}
	#nums .marg_bot{
	  margin-bottom: 35px;
	}

	/* get_started - main sections */
	#get_started .start_box {
	  display: block;
	  background-color: rgb(254, 254, 254);
	  box-shadow: 0px 2px 24.44px 1.56px rgba(0, 0, 0, 0.26);
	  width: 95%;
	  height: 100%;
	  padding: 40px 35px;
	  margin: auto;
	  margin-top: 19px;
	  position: relative;
	  right: 0;
	  top: 0;
	}
	#get_started .left_section .start_box {
	  float: none;
	}
	#get_started img {
	  display: none;
	}
	#get_started .right_section .start_box {
	  position: relative;
	  left: 0;
	  top: 0;
	}
	#get_started .right_section .start_box {
	  float: none;
	}
	#get_started .right_section img {
	  display: none;
	}

	/* affiliate - affiliate_work */
	#affiliate_work{
	  padding-bottom: 20px;
	}
	#affiliate_work h2 {
	  margin-top: 0;
	}
	#affiliate_work .icon_div p.icon_text{
	  font-size: 12px;
	  position: relative;
	  left: 10px;
	  top: 5px;
	}

	/* faqs */
	#faqs div.faqs_content h2 {
	  font-size: 26px;
	}
	#faqs div.faqs_content .questions .question_header {
	  font-size: 14px;
	  padding-top: 15px;
	  line-height: 1.5;
	  height: 100%;
	  padding-bottom: 15px;
	}
	#faqs div.faqs_content .questions .panel-body {
	  font-size: 11px;
	}
	#faqs div.faqs_content {
	  border: 0;
	}
	#faqs div.faqs_content .faqs_page {
      border: 1px solid rgb(234, 234, 234);
      background-color: #fff;
	  padding: 20px 15px;
	}

	/* Contact - Info */
	#contact .info {
	  margin-bottom: 110px;
	}
	#contact .info h2{
	  text-align: center;
	}
	#contact .info ul.contact_info{
	  display: block;
	  width: 199px;
	  margin: auto;	
	}
	#contact .info ul.contact_social {
	  display: block;
	  width: 207px;
	  margin: auto;	
	  margin-top: 16px;
	}

	/* Contact - Form */
	#contact .form input,
	#contact .form select{
	  width: 100%;
	  margin: 3px 3px;
	  padding-left: 10px;
	}
	#contact .form textarea{
	  width: 100%;
	  height: 183px;
	  margin: 3px 3px;
	  padding-left: 10px;
	}
	#contact .form input.captcha{
	  display: block;
	  width: 130px;
	  margin: auto;
	  margin-top: 15px;
	}
	#contact .form img{
	  display: block;
	  margin: auto;
	}
	#contact .form button.submit{
	  display: block;
	  width: 181px;
	  height: 52px;
	  float: none;
	  margin: auto;
	  margin-top: 20px;
	}

	
}


/* xxs */
@media (max-width: 324px) {
	/* index - hero */
	#hero {
	  padding-top: 180px;
	}
	#hero h1 {
	  font-size: 25px;
	}
	#hero p {
	  font-size: 13px;
	  margin-bottom: 25px;
	}
	#hero ul.calltoAction li a.btn1{
	  margin: auto;
	  margin-bottom: 15px;
	}

	/* index - about_calc */
	#about_calc form#inv_calc ul.calc_form{
	  margin-top: 20px!important;
	  margin-right: 20px;
	}
}
@media (max-width: 483px) {
	/* index - about_calc */
	#about_calc .about{
	  height: 100%; 
	  padding-top: 60px;
	  padding-bottom: 60px;
	}
	#about_calc .calc{
	  height: 100%; 
	  padding-top: 60px;
	  padding-bottom: 60px;
	}
	#about_calc h1 {
	  font-size: 25px;
	}
	#about_calc p {
	  font-size: 11px;
	  margin-bottom: 20px;
	}
	#about_calc ul.features_list {
	  float: none;
	  margin-bottom: 30px;
	  margin-right: 0;
	}
	#about_calc ul.features_list li {
	  font-size: 13px;
	  margin-bottom: 12px;
	}
	#about_calc .calc input#price {
	  display: block;
	  width: 200px;
	  height: 47px;
	  font-size: 16px;
	  margin-bottom: 10px;
	}
	#about_calc .calc button#submit_calc {
	  display: block;
	  font-size: 16px;
	  width: 100px;
	  height: 47px;
	  margin-left: 0;
	}
	#about_calc form#inv_calc ul.calc_form{
	  margin-top: 60px;
	  margin-right: 20px;
	}
	#about_calc form#inv_calc ul.calc_form li {
	  font-size: 13px;
	  line-height: 2.5;
	}
	#about_calc form#inv_calc ul.calc_form li p.calc_result {
	  font-size: 13px;
	  line-height: 2.5;
	}
	
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
