/* CSS Document */
/* ibox */
.ibox {
	width:800px; height:200px;
	position:relative;
	overflow:hidden; 
}
.ibox .showbox {
	width:2520px;
	position:absolute;
}

.ibox .showbox ul li {
	width:200px;
	float:left;
	display:inline;
	 
}
.ibox .showbox ul li a {
	display:block;
	width:96%;
	overflow:hidden;	
	text-decoration:none;
	font-weight:bold;
	text-align:left;
}
/*.ibox .showbox ul li a:hover{
	color:#99000D;
	text-decoration:underline;
}*/
.ibox .showbox ul li a img {
	width:188px; height:120px; border:none;
}
.ibox .btnbox {
	height:35px;
	overflow:hidden;
	padding-top:5px;
	float:right; 
	max-width: 120px;
    min-width: 90px;
}
.ibox .num{height:30px; background:#999;}
.ibox .num li {
	width:20px; 
	height:25px;
	float:left; 
	display:inline;
	margin-right:10px;
	background:url(.././images/c1.png) no-repeat center;
	cursor:pointer;
}
.ibox .num .row-title{width:200px; margin-top:-3px;}
.ibox .num .numcur {
	color:#99000D; font-weight:bolder; background:url(.././images/c2.png) no-repeat center;
}
@media (max-width:767px) {
	.ibox{
		height:450px !important;
	}
}

