/* CSS Document */
body{
	background-color:#f6f6f6;
	font-family:Arial, Helvetica, sans-serif;
}
a{color:#000; font-weight:bold;}
a:hover{
	color:#bf1a20;
	text-decoration:none;
}
ul{margin:0px;}
ul li a:hover{text-decoration:underline;}
.no-under a:hover{text-decoration:none;}
#logo{
	margin:12px 0px;
}
#header{margin-bottom:10px;}
/*头部logo*/
.Ssns-head{
	width:32px;
	height:32px;
	float:right;
	background:url(../images/snslogo.png);
	/*border:1px solid #333;*/
}
.Ssns-head:hover{
	cursor:pointer;
	background:url(../images/snslogo_hover.png);
}
.Sh-facebook, .Sh-facebook:hover{background-position:0px 0px;}
.Sh-twitter, .Sh-twitter:hover{background-position:-42px 0px;}
.Sh-google, .Sh-google:hover{background-position:-84px 0px;}
.Sh-email, .Sh-email:hover{background-position:-126px 0px;}
.Sh-sina, .Sh-sina:hover{background-position:-166px 0px;}
.Sh-rss, .Sh-rss:hover{background-position:-208px 0px;}
.Lsns-head{
	width:100px;
	height:32px;
	float:right;
	background:url(../images/snavlogo.png);
}
.Lsns-head:hover{
	cursor:pointer;
	background:url(../images/snavlogo_overmouse.png);
		    transition:0.8s;
	   -moz-transition:0.8s;
	-webkit-transition:0.8s;
}
.Lh-epaper, .Lh-epaper:hover{background-position:0px 0px;}  
.Lh-mobile, .Lh-mobile:hover{background-position:-100px 0px;}  
.Lh-apps, .Lh-apps:hover{background-position:-200px 0px;}  
.Lh-onestop, .Lh-onestop:hover{background-position:-300px 0px;}   
.Lh-chinese, .Lh-chinese:hover{background-position:-400px 0px;}   
.Lh-search, .Lh-search:hover{background-position:-500px 0px;}  


#hot{
	background:#e8e8e8;
	line-height:40px;
	overflow:hidden;
	margin-bottom:15px;
}
#hot a{
	margin:0px 5px; 
}
/*旋转木马*/
.carousel-inner{height:280px;}
.carousel-inner img{height:280px !important; width:100% !important;}
.carousel-caption{padding:3px; background:rgba(0, 0, 0, 0.4); font-size:13px;}
.carousel-caption h4{font-size:15px;}

/* 导航 */
.navbar-inverse .navbar-inner{
	background-image:none; 
	background:#bf1a20 !important;
	background-repeat:no-repeat; 
	background-color:#bf1a20 !important;
	padding:0px; 
	border:none !important; 
	*background:#bf1a20;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf1a20', endColorstr='#bf1a20', GradientType=0);
}
.navbar{margin-bottom:0px;}
.container-nav{
	background:#bf1a20 !important; padding:0px; 
}
.nav li{
	/*margin-bottom:0px !important;*/
	line-height:40px;
}
.nav .nav-home a{color:#FF0 !important;}
/* 鼠标悬停 显示下拉 */
.navbar .nav > li .dropdown-menu {
    margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
    display: block;
	border-radius:0px;
	z-index:9999;
} 
.navbar .nav > li{
	line-height:40px;
}
.navbar .nav > li > a {
	padding:0px 17px; color:#FFF;
}
.container-nav .nav>li:hover a{
	color:#FF0;
}
.container-nav .dropdown-menu{
	background:#bf1a20;
	border:none;
	overflow:hidden;
	z-index:9999;
}
.container-nav .dropdown-menu a{	
	color:#FFF !important;
	margin-left:-5px;
	line-height:25px;
	width:180px\9; *width:180px;
}
.container-nav .dropdown-menu li:hover a{	
	color:#EF0 !important;
	background:#bf1a20 !important; 
	background:#bf1a20\9;
	background:none\0;
}
.container-nav form{width:150px; margin-top:8px; margin-right:0px !important; position:absolute; }
.container-nav input[type="text"]{
	height:15px;
	line-height:15px;
	width:100px;
	background:#FFF;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	padding-right:28px;
}
.container-nav #searchsubmit{
	position:absolute;
	right:7px;
	top:0px;
	width:25px;
	background:url(../images/searchicon.png) no-repeat center;
 	border:none;
	box-shadow:none;
}


/* 左侧 */
.row-title a{
	font-size:15px;
	color:#c4020a;
	line-height:35px;
}
.row-title a:hover{
	color:#454545;
	text-decoration:none !important;
}
.row-fluid{margin-bottom:10px;}
#row-imgs{margin-bottom:30px;}
#myCarousel, .defin-Carousel{
	width:485px !important;
}
#myCarousel img{width:100%;}
#myCarousel a{color:#fff;}
#carousel-39872 a{color:#fff;}
.metro-tabs li a{padding:8px 4px;}
.metro-tabs .metro-city a{font-size:12px;}

/*列表*/
ul.unstyled li{margin-bottom:8px;}
ul.inline-block li{
	list-style:url(../images/list-style-image.gif); font-weight:800; margin-bottom:5px;
}
ul.inline-twitter li {
    background-image: url("../images/twitter.jpg");
    background-repeat: no-repeat;
    line-height: 20px;
    list-style-type: none;
    padding-left: 20px;
}
ul.inline-facebook li {
    background-image: url("../images/facebook.jpg");
    background-repeat: no-repeat;
    line-height: 20px;
    list-style-type: none;
    padding-left: 20px;
}
#left hr{margin:5px 0px;}
hr{border-top: 1px solid #c5c5c5;}

/*下面的几块*/
#more-item .span-img{
	width:250px; height:150px; float:left;
}
#more-item .row-title{
	border-top:2px solid #c4020a;
}
.thumbnails > li{
	margin-bottom:0px; /*change*/
}
.thumbnails .thumbnail{padding:0px; box-shadow:none; border:none;} 

.row-fluid [class*="span"]{
	min-height:20px; /*change*/
}

.thumbnail .more{
	width:37px; height:15px; background:url(../images/more.gif); margin-bottom:5px;
}
.thumbnails li:hover .row-title{
	border-top:2px solid #ebcd30 !important;
}
.thumbnails li:hover .row-title>a{
	color:#ebcd30 !important;
}
.thumbnails li:hover .more{
	background:url(../images/more_hover.gif) ;
}
.thumbnails li:hover .thumbnail{
	background:#fff;
	
} /*可删除 border-color:#ebcd30 !important;*/

ul.inline-block{margin-left:12px;}
.channel{
	font-size:12px;
	color:#bf1a20;
	font-weight:bold;
}
#contents{margin-top:15px; overflow:hidden; z-index:999;}
/*右侧*/
#right{
	background:url(../images/side_bg.gif) repeat-y;
	margin-left:15px;
	padding:15px;
}

/*footer*/
#footer{
	margin-top:50px;
	margin-bottom:0px;
	background:#bf1a20;
	padding-top:10px;
}
.Ssns-footer{
	width:30px;
	height:30px;
	float:left;
	margin-right:3px;
	margin-bottom:3px;
	background:url(../images/snslogo_all.gif);
}
.Ssns-footer:hover{
	cursor:pointer;
	background:url(../images/snslogo_all_over.gif);
}
.Sf-facebook, .Sf-facebook:hover{background-position:-2px -2px;}  
.Sf-twitter, .Sf-twitter:hover{background-position:-32px -2px;}  
.Sf-sina, .Sf-sina:hover{background-position:-62px -2px;}  
.Sf-email, .Sf-email:hover{background-position:-2px -32px;}   
.Sf-google, .Sf-google:hover{background-position:-32px -32px;}   
.Sf-rss, .Sf-rss:hover{background-position:-62px -32px;}  

.Lsns-footer{
	width:110px;
	height:60px;
	float:right;
	margin-right:8px;
	background:url(../images/snsbiglogo.png);
}
.Lsns-footer:hover{
	cursor:pointer;
	background:url(../images/snsbiglogo_over.png);
		    transition:0.8s;
	   -moz-transition:0.8s;
	-webkit-transition:0.8s;
}
.Lf-epaper, .Lf-epaper:hover{background-position:0px 0px;}  
.Lf-mobile, .Lf-mobile:hover{background-position:-126px 0px;}  
.Lf-apps, .Lf-apps:hover{background-position:-252px 0px;}  
.Lf-onestop, .Lf-onestop:hover{background-position:-378px 0px;}   
.Lf-chinese, .Lf-chinese:hover{background-position:-504px 0px;}   
.Lf-search, .Lf-search:hover{background-position:-630px 0px;}  

.span4.column-one{width:283px;}

#footer .footer-bottom{
	line-height:25px;
	color:#FFF;
	margin-bottom:0px;
}
.footer-bottom a{
	color:#FFF;
	margin-right:10px;
	margin-left:10px
}
.footer-bottom .first-a{margin-left:0px;}
/*IE7设置*/
#min-container{
	width:1120px\9;
	margin:0px auto\9;}
#left{
	width:790px\9;
	overflow:hidden;
	*margin-left:0px;
}
#right{
	width:315px\9;
	*width:300px;
	*margin-left:0px;
	font-style: normal;
}
.showbox{*margin-top:9px;}
form.form-search, #dnn_dnnSEARCH_txtSearch{*margin-left:0px\9;}
.container-nav #searchsubmit{*top:20px; top:8px\9}
/*大屏*/
@media (min-width:979px) { 
	#min-container{
		width:1120px;
		margin:0px auto;
	}
	#left{
		width:790px !important;
		overflow:hidden;
	}
	#right{
		width:315px;
	}
	.span12.row-content{margin-left:0px;}
}
@media (max-width: 979px) {
	#min-container,#left,#right{
		width:790px !important;
		margin:0px auto;
		background:none;
		padding:0px;
	}
	.Lsns-head{width:16.66%;}
	/*.row-fluid, .container-nav{ overflow:visible !important;}*/
	#right{
		-moz-column-count:2; /* Firefox */
		-webkit-column-count:2; /* Safari 和 Chrome */
		column-count:2;
		-moz-column-gap:20px; /* Firefox */
		-webkit-column-gap:20px; /* Safari 和 Chrome */
		column-gap:20px;
		padding:15px 0px;
	}
	.span12.row-content{margin-left:5px;}
	#right>.row-fluid {
		width:99.3% !important;
		border:1px solid #999;
 		display:inline-table;
		border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	#right hr{display:none;}
	#right .widget-slide-1{
		width:283px !important;/* display:block !important;*/
		margin: 0px auto;
				transform:scale(1.2,1.2);
		   -moz-transform:scale(1.2,1.2);
		-webkit-transform:scale(1.2,1.2);
	}
	/*#right .widget-slide{height:240px !important;}*/
	#right .row-content>a>img{width:100%;}
	#right>.row-fluid>.row-title, #right>.row-fluid>.row-content{width:360px !important; margin:5px;}
	#logo .span3 {width:20%;}
	/*#logo .span9 {width:77.8%;}*/
	#footer>.footer-top>.span4{width:50%;}
	#footer>.footer-top>.span4 .span3{text-align:left;}
	#footer>.footer-top>.span8{width:100%; margin:0px; }
	#footer>.footer-top>.span8 div{width:15% !important; margin-right:10px;}
				
	/*导航*/
	.nav-collapse, .nav-collapse.collapse{ overflow:visible; }
	.nav-collapse .nav>li{float:left;}
	.nav-collapse .nav{margin:0px;}
	.navbar-inverse .nav-collapse .nav>li>a:hover, .navbar-inverse .nav-collapse .nav>li>a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus{
		background:#bf1a20;
	}
	.nav-collapse .dropdown-menu{position:absolute;}
	.nav-collapse .nav .dropdown-menu li a{line-height:15px;}
	/*.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a{ color:#fff;}*/
	.navbar .nav > li > a{padding:0px 5px;}
	#searchform, #searchform input{width:80px; margin-left:45px;}
	.container-nav #searchsubmit{right:5px;}
}
@media (max-width:767px) {
	h2{font-size:24px;}
	.Lsns-head{width:20%;}
	#min-container,#left,#right{
		width:478px !important;
		margin:0px auto;
		background:none;
		padding:0px;
		overflow:hidden;
	}
	#right{
		padding:15px 0px; 
	}
	#right>.row-fluid>.row-title, #right>.row-fluid>.row-content{width:215px !important; /*margin:5px;*/}
	#right .widget-slide-1, #right .widget-slide-body,.imgList-widget-4 img{
		width:215px !important;
		margin:0px;
	  		    transform:scale(1.0,1.0);
		   -moz-transform:scale(1.0,1.0);
		-webkit-transform:scale(1.0,1.0);
	}
	.imgList-widget-4 li{width:215px !important;}
	/*中间两列变成一列*/
	.column-one{
		width:100% !important; margin-left:0px !important; 
	}
	.column-one img{width:100%;}
	ul.thumbnails li{
		width:478px !important; margin:10px 0px !important;
	}
	#logo .span3 {width:30%}
	#logo .span9 {/*width:67.8% ;*/ margin-top:-45px;}
	#footer{padding:5px 10px !important;}
	#footer>.footer-top>.span4{width:80%;}
	#footer>.footer-top>.span4 [class*="span"]{float:left; width:33.3% !important; text-align:center !important;}
	#footer>.footer-top>.span8{width:95%;}
	#footer>.footer-top>.span8 div{
		width:12.2% !important;
		margin-right:20px;
	}
	.nav-collapse, .nav-collapse.collapse{overflow:hidden; }
	.nav-collapse .nav>li{float:none;}
	.nav-collapse .dropdown-menu{position:static; padding-left:15px;}
	.navbar .brand{color:#FF0;}
	/*.nav-collapse, .nav-collapse.collapse{ overflow:hidden; }
	.nav-collapse .nav>li{float:none;}
	.navbar .nav > li > a{padding:0px 21px;}
	.navbar .form-search{display:none;}*/
	/*图片特效的*/
	.showbox, .showbox ul{
		width:478px !important;
	}
	.showbox li{
		/*transform:scale(0.65,0.65);
		   -moz-transform:scale(0.65,0.65);
		-webkit-transform:scale(0.65,0.65);*/
		margin:0px;
		display:block;
		width:25% !important; 
		height:130px !important;
		font-size:0.9em;
		line-height:12px;
	}
	.showbox img{
		width:100% !important; height:70px !important;
	}
}
@media (max-width:480px) {
	#min-container,	#left,#right,ul.thumbnails li{
		width:360px !important;
		margin:0px auto;
		background:none;
		padding:0px;
	}
	.thumbnail img{width:100% !important; height:auto !important;}
	/*#logo>.span3,#logo>.span9, #logo>.span3 img{width:100%;}*/
	#right{
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari 和 Chrome */
		column-count:1;
	}
	#right .row-fluid .row-content{width:96% !important;}
	.Lsns-head{
		width:34px; margin-right:31px;
	}
	
	#myCarousel{width:360px !important;}#myCarousel img{height:200px !important;}
	.showbox, .showbox ul{width:360px !important;}
	#right .widget-slide-1, #right .widget-slide-body,.imgList-widget-4 li ,.imgList-widget-4 li img{width:293px !important;}
	.showbox img{height:55px !important; width:100%;}
	#footer>.footer-top>.span4{width:100%;}
	#footer>.footer-top>.span4 .span4{width:34%; margin:0px;}
	#footer>.footer-top>.span8{width:100%;margin-left:-10px;}
	#footer>.footer-top>.span8 div{
		width:15.6% !important; 
		margin-right:4px !important;
				transform:scale(0.8,0.8);
		   -moz-transform:scale(0.8,0.8);
		-webkit-transform:scale(0.8,0.8);
	}
}
