/*YOUR CUSTOM STYLES*/
.header-nav {
	background: #DF1D0F;
	border-bottom: 1px solid #89000e;
}

.clear {
	clear: both;
}

header.main ul.login-register a {
	color: #000;
}

nav a {
	color: #fff;
}

.coupon-buy {
	float: right;
	margin-top: 10px;
}

.buy-btn {
	font-weight: bold;
	padding: 8px 20px;
	background: #f00;
	font-size: 14px;
	color: #fff;
}

.buy-btn a {
	color: #fff;
}

.coupon-time {
	margin-top: 5px;
}

.coupon-disc {
	float: left;
	font-size: 40px;
	padding-top: 12px;
	padding-right: 20px;
	color: #e89401;
	padding-bottom: 15px;
}
.coupon-disc-special {
	float: left;
	font-size: 20px;
	padding-top: 12px;
	padding-right: 20px;
	color: #e89401;
	padding-bottom: 15px;
}

.coupon-price {
	float: left;
	/* padding-left: 30px; */
}

ul.slider {
	list-style: none;
	display: inline;
	overflow: hidden;
	margin: 0px;
}

.slider_item {
	display: none;
}

.slider_active {
	display: block;
}

.ul_slider_anchor {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.slider_anchor {
	margin-bottom: 3px;
	border: 1px solid #ddd;
}

.banner-header {
	margin: auto;
	padding: 0px;
}

.header-top {
	padding-top: 10px;
}

.banner-close-btn {
position: relative;
float: right;
margin: -45px 20px 0px 0px;
background: #fff;
border: 1px solid gray;
height: 20px;
}

.top_search {
float: right;
/* margin-top: 20px;
margin-left: 300px; */
}
.top_search input {
border: 2px solid #f3152b;
}

.top_search button {
background: #f3152b;
border: none;
color: #fff;
margin: -9px 0px 0px -4px;
font-size: 23px;
padding: 4px;
}

img.payment_gw_img {
width: inherit;
}
div.payment_gw {
width: 150px;
display: inline;
padding-right:50px;
}

.payment_list{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	padding-top: 5px;
}

h4.deal_price {
color: #f00;
text-align: center;
font-size: 30px;
padding: 10px;
}

li.search{
	/* border: 1px solid gray; */
color: gray;
background: #eee;
padding-left: 10px;
}

li.search i{
	margin-top:5px;
}
.flexnax > li{
	height: 100px;
}
.flexnav > li:hover, .flexnav > li.active {
    border-bottom: 2px solid #fff;
    background: none !important;
}
.flexnav > li > a:hover, .flexnav > li > a.active {
    background: none !important;
}
/* ale ++ */
.feature {
	background: #B0170C;
}
.btn-white {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.sub-header-nav {
	background: #474747;
	border-bottom: 1px solid #89000e;
}
.features-head{
    position: absolute;
    background: white;
    margin-top: -30px;
}
.features-logo{
	float: left !important;
	color: white;
	padding: 6px;
	max-width: 100px;
  margin-left: 0;
}
.features-block{
	padding: 15px 45px 0px 45px;
    margin-left: 0;
}
header {
	background: #fff;
	margin-bottom: 90px;
}
.red{ background: #DF1D0F; }
.margin0{ margin: 0 !important; };
.col10{ width: 10% !important; };
.col20{ width: 20% !important; };
.col30{ width: 30% !important; };
.col35{ width: 35% !important; };
.col40{ width: 40% !important; };
.col45{ width: 45% !important; };
.err{ color: red !important; margin-left: 6px !important; font-size: smaller !important; }
