.payments-widget {
	margin-top: -90px;
	margin-bottom: 20px;
}

.payment-tab-nav {
	background: #444444;
	text-align: center;
	padding: 30px 0 70px 0;
}

.payment-tab-nav ul {
	font-size: 0;
	margin: 0;
}

.payment-tab-nav ul li {
	display: inline-block;
	max-width: 110px;
	font-size: 14px;
	vertical-align: top;
	opacity: .45;
	margin: 0 12px;
}

.payment-tab-nav ul li a {
	color: #fff;
	font-size: 12px;
}

.payment-tab-nav ul li img {
	display: inline-block;
	max-width: 50px;
}

.payment-tab-nav ul li span {
	display: block;
}

.payment-tab-nav ul li:hover,
.payment-tab-nav ul li.active {
	opacity: 1;
}

.payment-tab-content {
	margin-top: -50px;
	position: 	relative;	
}

.payment-tab-content .tab-content {
	overflow: 	visible;	
}

.homepage .tab-content {
	background: #fff;
}

.main-form-tab {
	position: relative;
	padding-left: 100px;
}

.main-form-tab .icon {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;
	background-image: url(../../images/main-pymnt.png);
	background-repeat: no-repeat;
	background-size: 56%;
	background-position: center;
	background-color: #df1d0f;
}

.input-wrap {
    position: relative;
}

.input-group {
    margin-bottom: 10px;
}

.input-group.inline-input {
    display: inline-block;
    margin-right: 30px;
}

.input-group input {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.input-group input[type="radio"] {
    margin-right: 5px;
}

.tab-content form {
    padding: 30px;
}

.input-group.half-input .input-wrap {
    width: 48%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
}

.input-group.half-input .input-wrap:nth-child(2n+2) {
	margin-right: 0;
}

#operator-logo {
	position: absolute;
	width: 52px;
	top: 0;
	right: 0;
	margin: 7px 0;
}

#calendar {
	position: absolute;
	width: auto;
	top: 0;
	right: 0;
	margin: 4px 4px 7px 0;
}

.input-group.train-trip-input .input-wrap {
    width: 44%;
    display: inline-block;
    vertical-align: top;
}

.input-wrap.pp-input {
    width: 12% !important;
    height: 44px;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="date"],
.input-group select {
	padding: 10px;
	line-height: 20px;
	height: auto;
	border-radius: 0;
	width: 100%;
	box-sizing: border-box;
	border: solid 1px #dedede;
	margin: 0;
}

input.submit-btn {
    padding: 15px;
    min-width: 100px;
    border: 0;
    color: #fff;
    font-weight: bold;
    background: #df1d0f;
}

.payment-form input.submit-btn {
	padding: 10px;
	line-height: 20px;
}
.main-form-area {
	position: relative;
	padding-right: 160px;
}

.main-form-area input.submit-btn {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	min-width: 120px;
	right: 30px;
}

.main-form-area form {
	padding: 15px 30px;
	margin: 0;
}

.input-group:last-child,
.input-group:nth-last-child(2) {
    margin-bottom: 0;
}

.warrior-select-wrapper select {
	position: 	relative;	
	height: 40px;
	line-height: 	40px;
	z-index: 	1;
	opacity: 	0;
}

.warrior-select-wrapper label {
	background: #fff;
	position: 	absolute;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;	
	color: #666;
	z-index: 	0;
	padding: 0 15px;
	line-height: 38px;
	font-weight: normal;
	margin: 0;
	border: solid 1px #dedede;
}

.warrior-select-wrapper label span:before {
	content: '\2039';
	display: 	block;
	position: 	absolute;
	top: 0;
	right: 10px;
	font-size: 20px;
	transition: all ease-in .3s;
	transform: rotate(-90deg);
	transform-origin: center;
}

.warrior-select-wrapper.open label span:before {
	transform: rotate(90deg);
}

@media screen and (max-width:768px){
.payment-tab-description {
	margin-top: -100px;
    padding-top: 50px;
}
}

@media screen and (min-width:1024px){
.payment-tab-description {
    padding-top: 250px;
}
}

.description-content {
    background: #fff;
    padding: 30px;
}

.description-content h2 {
    color: #000;
    font-size: 20px;
}

@media screen and (min-width: 1024px){
.payment-bg {
	width: 100%;
	position: absolute;
	z-index: 0;
}
}

@media screen and (max-width: 1023px){
.payment-bg {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
}
}


.payment-form {
    max-width: 400px;
    width: 45%;
    z-index: 1;
    position: relative;
    float: left;
    background: #fff;
    margin: 30px 0 30px 30px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.14);
}

.check-box-label {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
}

.label-valuu {
    position: absolute;
    background: #000;
    color: #fff;
    line-height: 100%;
    padding: 5px 7px;
    border-radius: 4px;
    z-index: 2;
    font-size: 11px;
    white-space: nowrap;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in .3s;
    left: 50%;
    margin-left: -43px;
    width: 72px;
}

.label-valuu {}

.main-payment-tab {
    position: relative;
}

.payment-form form {
    padding: 20px;
    margin: 0;
}

.payment-form form .input-group {
    margin-bottom: 16px;
}

.text-overlay {
	width: 40%;
	float: right;
	margin: 30px 30px 0 0;
	max-width: 400px;
	z-index: 1;
	position: relative;
}

.text-content {
	color: #fff;
	background: rgba(0, 0, 0, 0.27);
	padding: 30px;
}

.text-content h5 {
	color: #fff;
}

.table {
	width: 100%;
	height: 100%;
	display: table;
}

.tablecell {
	display: table-cell;
	vertical-align: middle;
}

.input-group.input-3-4 .input-wrap {
    display: inline-block;
    width: 25%;
    margin-left: 5%;
}

.input-group.input-3-4 .input-wrap:first-child {
    width: 70%;
    margin-left: 0;
}

.input-group {
    font-size: 0;
    
}

.checkbox-st {
    font-size: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
}

.check-box-label {
	background-image: url(../../images/pp.png);
	background-repeat: 	no-repeat;
	transition: all ease-in .3s;
	background-position: center bottom;
}

.checkbox-st:hover .label-valuu {
	opacity: 	1;
	visibility: 	visible;	
}

.checkbox-st:hover .check-box-label,
.checkbox-st.checked .check-box-label {

	background-position: center top;
}



.payment-tab-nav .container {
    white-space: nowrap;
    overflow: auto;
    position: relative;
}

.payment-tab-nav .container::-webkit-scrollbar {
	display: 	none;
	width: 0 !important;
}

.payment-tab-nav {
	position: 	relative;	
}

.payment-tab-nav:after{
    position: absolute;
    height: 40px;
    content: '';
    width: 80px;
    z-index: 	2;
    display: 	block;
    top: 30px;
    right: 30px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#444444+0,444444+100&0+0,1+100 */
    background: -moz-linear-gradient(left,  rgba(68,68,68,0) 0%, rgba(68,68,68,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(68,68,68,0) 0%,rgba(68,68,68,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00444444', endColorstr='#444444',GradientType=1 ); /* IE6-9 */
    pointer-events: none;
}

@media screen and (max-width: 768px) {
	.payment-tab-nav ul li span {
		display: none;
	}

	.payment-tab-nav ul li img {
		max-width: 40px;
	}

	.main-form-tab {
		padding-left: 0;
	}

	.main-form-tab .icon {
		display: none;
	}

	.main-form-area {
		padding-right: 0;
		padding-bottom: 50px;
	}

	.main-form-area input.submit-btn {
		top: inherit;
		bottom: 0;
		height: 40px;
		padding: 0;
		left: 0;
		right: 0;
		max-width: 	inherit;
		width: 	100%;
	}

	.payment-bg {
		position: 	relative;	
	}

	.payment-form,
	.text-overlay {
		float: none;
		margin: 30px 30px 0 30px;
		width: auto;
		max-width: inherit;
	}

	.payment-form {
		margin-top: 0;
		margin-bottom: 20px;
		top: 10px;
	}
	


	.text-overlay {
		margin-top: 0px;
	}
}

@media screen and (max-width: 640px) {
	.payment-tab-nav .container {
		padding: 0;
		margin: 0 30px;
	}
}

@media screen and (max-width: 480px) {
	.input-group.half-input .input-wrap {
		width: 	100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.payment-form,
	.text-overlay {
		margin: 15px 15px 30px 15px;
	}

	.text-overlay {
		margin-top: -10px;
	}

	.input-group.half-input .input-wrap:last-child {
		margin-bottom: 0;
	}

	.main-form-area form {
		padding: 15px;
	}
}

.p_margin{
 margin-top: -70px;
}