﻿@charset "UTF-8";
/**
 * 航空大首页
 * @authors YangHuanmin
 * @date    2014-05-31 15:59:09
 * @version 0.1.0
 */

/* sprite declare */
.m-99 .city i,
.m-99 .prev,
.m-99 .next,
.m-99 .list b,
.m-handle .swapper,
.m-handle .u-btn-default i,
.m-handle .tabs i,
.m-handle .tickets .legend,
.m-drophead .trigger,
.m-product .i-hot,
.m-more-prod i
{background-image:url(img/c-home.png?vs=201602011);background-repeat:no-repeat;}

/* fix layout */
/* 国庆headbar */
/*.g-hd{background:#e2180e;}
.g-hd .logo{padding:20px 0;position: relative;z-index:1;zoom:1;}
.g-hd .specialbar{position:absolute;width:1080px;height:87px;background:url(img/home/headbar-20141001.png);left:50%;top:0;margin-left:-540px;}*/
/* 国庆headbar end */
.g-bd{min-width:1000px;width:100%;/*margin-top:-64px;*margin-top:-66px;*/position:relative;padding-top:0;}
.m-main{width:1000px;margin:10px auto 0;}
/* 元旦header */
/*.g-hd{background:url(img/home/headbar-20150101.png) center 25px no-repeat;}*/
/*.g-hd-nav{background:#de0011;}
.g-hd-nav .active .item-link{color:#de0011;}
.g-hd-nav .item-order a{background-color:#f80;}
.g-hd .logo{background: url(img/chlogo-cn-red.png) 0 15px no-repeat;}*/
/* 元旦header end */

/* 幻灯片 */
.m-slides{height:530px;min-width:1000px;position:relative;zoom:1;}
.m-slides .ad-watermark { z-index:99;left:50%;margin-left:455px;}
.m-slides .slide-cont{width:100%;height:530px;overflow:hidden;background:url(img/loader/loading-2.gif) no-repeat center center;position:absolute;zoom:1;}
.m-slides .slide-item{height:530px;width:100%;float:left;}
.m-slides .slide-item a{background-position:center center;width:100%;height:530px;display:block;}
.m-slides .pager-cont{position:absolute;left:50%;margin-left:-500px;text-align:center;height:22px;width:1000px;}
.m-slides .pager-cont .active{background:#00923f;}
.m-slides .pager-item{height:14px;width:14px;background:#bbb;border-radius:7px;display:inline-block;*display:inline;zoom:1;vertical-align:top;position:relative;z-index:2;top:490px;margin:0 5px;}
.m-slides .slide-hand{position:absolute;top:200px;}
.m-slides .slide-hand i{display:block;width:87px;height:41px;position:relative;zoom:1;}
.m-slides .slide-prev{left:50%;margin-left:-600px;}
.m-slides .slide-prev i{background:url(img/home/slides-prev.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//media.china-sss.com/style/site/img/home/slides-prev.png');}
.m-slides .slide-next{left:50%;margin-left:520px;}
.m-slides .slide-next i{background:url(img/home/slides-next.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//media.china-sss.com/style/site/img/home/slides-next.png');}

/* 操作面板 */
.m-handle{width:270px;padding-left:100px;top:95px;left:50%;position:absolute;z-index:5;margin-left:-500px;height:370px;background:#fff;}
.m-handle fieldset{padding:4px 0;}
.m-handle .tabs{zoom:1;position:absolute;left:0;top:0;width:100px;height:370px;background:#f3f3f3;border-right:1px solid #e1e1e1;}
.m-handle .tabs ul{zoom:1;position:absolute;width:101px;}
.m-handle .tabs li{height:52px;border-bottom:1px solid #e1e1e1;float:left;width:100%;}
:root .m-handle .tabs li{filter:alpha()\9;}
.m-handle .tabs a{display:block;height:30px;font:14px/30px 'Microsoft YaHei';color:#444;border-right:1px solid #e1e1e1;white-space:nowrap;padding:11px 0 11px 5px;}
.m-handle .tabs i{width:30px;height:30px;float:left;display:inline;vertical-align:middle;margin-left:5px;}
.m-handle .tabs .i-flights{background-position:0 -504px;}
.m-handle .tabs .i-hotels{background-position:-30px -504px;}
.m-handle .tabs .i-tickets{background-position:-60px -504px;}
.m-handle .tabs .i-dynamic{background-position:-90px -504px;}
.m-handle .tabs .i-olcheck{background-position:-120px -504px;}
.m-handle .tabs .i-jjj{background-position:-150px -504px;}
.m-handle .tabs .active a{background:#fff;color:#078f5f;border-right:1px solid #fff;}
.m-handle .tabs .active .i-flights{background-position:0 -474px;}
.m-handle .tabs .active .i-hotels{background-position:-30px -474px;}
.m-handle .tabs .active .i-tickets{background-position:-60px -474px;}
.m-handle .tabs .active .i-dynamic{background-position:-90px -474px;}
.m-handle .tabs .active .i-olcheck{background-position:-120px -474px;}
.m-handle .tabs .active .i-jjj{background-position:-150px -474px;}
.m-handle .tabs-cont{padding:0 0 0 15px;}
.m-handle .cont{display:none;position:relative;zoom:1;height:254px;padding-top:20px;}
.m-handle .phase{padding:5px 20px 10px;}
.m-handle .phase label{margin:0 5px 0 2px;*margin-left:2px;}
.m-handle .u-btn-default{width:240px;height:45px;line-height:45px;font-size:20px;background:#f80;margin-top:15px;}
.m-handle .u-btn-default i{background-position:-183px -28px;display:inline-block;vertical-align:middle;width:17px;height:18px;margin-right:5px;}
.m-handle .u-btn-default:hover{background:#f60;}
.m-handle .buttons{/*position:absolute;bottom:5px;left:0;right:0;*/}
.m-handle .buttons .u-btn-default{font-size:18px;width:113px;position:static;padding:0;}
.m-handle .i-mark{position:absolute;right:5px;top:2px;font-size:12px;font-family:"宋体";font-weight:normal;padding:0 5px;background:#f60;line-height:1.3;color:#fff;}
.m-handle .i-mark-arr{position:absolute;width:0;height:0;overflow:hidden;border-width:2px;border-color:#f60 transparent transparent;border-style:solid;top:100%;left:0;_border-style:solid dashed dashed;}
.m-handle .tabs .active .i-mark{background:#078f5f;}
.m-handle .tabs .active .i-mark-arr{border-top-color:#078f5f;}
/* 操作面板 - 航班搜索 */
.m-handle .flights{padding-right:15px;}
.m-handle .flights .u-inp{width:93px;position:relative;z-index:1;}
.m-handle .flights .u-inp-date{width:83px;}
.m-handle .flights .u-select{width:113px;}
.m-handle .flights .segment-item{float:left;color:#a5a5a5;display:inline;}
.m-handle .flights .segment-item label{display:block;padding:5px 0;}
.m-handle .flights .segment-child{margin-left:10px;margin-right:10px;}
.m-handle .flights .adult-select{line-height:32px;border:1px solid #ccc;float:left;width:128px;height:32px;border-radius:2px;}
.m-handle .flights .adult-select .item{float:left;width:23px;text-align:center;border-right:1px solid #ccc;color:#666;}
.m-handle .flights .adult-select .u-select{border:0;width:56px;cursor:pointer;float:left;border-radius:0 2px 2px 0;}
.m-handle .flights .adult-select .u-select-view{padding-left:6px;}
.m-handle .flights .adult-select .u-select-item{padding-left:6px;}
.m-handle .flights .adult-select .active{background:#ddd;color:#333;}
.m-handle .flights .adult-select .active .u-select-direct{border-top-color:#333;}
.m-handle .flights .child-select{width:43px;}
.m-handle .swapper{background-position:-129px 0;position:absolute;width:34px;height:34px;left:102px;top:4px;}
/* 操作面板 - 航班动态 */
.m-handle .dynamic .u-inp{width:228px;float:left;}
.m-handle .dynamic .u-select{float:left;width:80px;}
.m-handle .dynamic .date{padding-top:20px;}
.m-handle .dynamic .date label{color:#999;float:left;line-height:34px;margin-right:10px;}
/* 操作面板 - 网上值机 */
.m-handle .olcheck .u-inp{width:228px;float:left;}
.m-handle .olcheck .u-inp-date{width:208px;}
.m-handle .olcheck .rules{padding:10px 0;text-align:center;}
.m-handle .olcheck a{text-decoration:none;display:inline-block;}
.m-handle .olcheck b{font-size:14px;}
.m-handle .olcheck li{border-bottom:1px dotted #888;margin:0 35px;padding:15px 0;}
.m-handle .olcheck li input{float:left;margin-top:3px;*margin:0;}
.m-handle .olcheck li b{margin-left:10px;font-family:Arial;font-size:13px;}
.m-handle .olcheck .phase{border-bottom:1px solid #ccc;}
.m-handle .olcheck .items{margin-bottom:-5px;max-height:150px;_height:150px;overflow:auto;}
.m-handle .empty{text-align:center;line-height:284px;color:#e21e2c;}
/* 操作面板 - 酒店查询 */
.m-handle .hotels{padding-top:40px;}
.m-handle .hotels legend{width:65px;line-height:34px;position:absolute;}
.m-handle .hotels .u-inp{width:162px;float:right;margin-right:15px;}
.m-handle .hotels .u-inp-date{width:142px;}
.m-handle .hotels .u-btn{margin-top:30px;}
/* 操作面板 - 门票查询 */
.m-handle .tickets .u-inp{width:228px;}
.m-handle .tickets .city{line-height:30px;position:relative;zoom:1;z-index:500;}
.m-handle .tickets .legend{padding-left:15px;background-position:-190px 8px;}
.m-handle .tickets .city b{width:128px;white-space:nowrap;overflow:hidden;float:left;padding-left:5px;}
.m-handle .tickets .topics{overflow:hidden;margin-top:10px;line-height:14px;}
.m-handle .tickets dl{border-top:1px dashed #ccc;padding:5px 0 15px;margin-top:-1px;overflow:hidden;}
.m-handle .tickets dt{font-weight:bold;padding:5px 0;}
.m-handle .tickets dd{margin-left:-12px;zoom:1;}
.m-handle .tickets dd a{float:left;padding:0 12px;border-left:1px solid #444;margin:5px 0 0;white-space:nowrap;}
.m-handle .tickets .address-select{position:absolute;zoom:1;padding-right:15px;right:50px;top:4px;}
.m-handle .tickets .address-select i{border-width:5px 5px 0;border-color:#555 transparent transparent;border-style:solid;_border-style:solid dashed dashed;position:absolute;width:0;height:0;overflow:hidden;top:50%;margin-top:-3px;right:0;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	-ms-transition:0.3s;
	transition:0.3s;
}
.m-handle .tickets .address-list{display:block;position:absolute;width:500px;top:29px;left:-265px;border:3px solid #00923f;padding:10px 15px;background:#fff;zoom:1;z-index:500;display:none;line-height:1.8;}
.m-handle .tickets .address-list a{color:#575757;white-space:nowrap;float:left;}
.m-handle .tickets .address-list a:hover{color:#f60;}
.m-handle .tickets .list-hd{padding:10px 0;border-bottom:1px dashed #CCC;}
.m-handle .tickets .list-hd a{border:1px solid #fff;padding:0 5px;/*margin-right:10px;*/}
.m-handle .tickets .list-hd a.active{border-color:#FF9673;background:#FFDFBF;color:#444;}
.m-handle .tickets .list-bd{padding:10px 0;line-height:2.0;}
.m-handle .tickets .list-bd a{margin:0 0 0 11px;min-width:60px;white-space:nowrap;/*text-overflow:ellipsis;overflow:hidden;*/}
.m-handle .tickets .list-bd dl{position:relative;zoom:1;}
.m-handle .tickets .list-bd dt{position:absolute;left:0;top:0;color:#ff7e21e2c;padding-left:10px;}
.m-handle .tickets .list-bd dd{margin-left:20px;}
.m-handle .address-select-hover .address-list{display:block;}
.m-handle .address-select:hover i{border-width:0 5px 5px\9;border-color:transparent transparent #555;}
:root .m-handle .address-select:hover i{border-width:5px 5px 0;border-color:#555 transparent transparent;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(179.99deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(179.99deg);
}

/* 酒加机入口 */
.m-handle .tithtl .phase{padding-bottom:0;padding-left:0;}
.m-handle .tithtl{padding-right:10px;margin-left:-5px;}
.m-handle .tithtl .lab{padding:5px 0;color:#666;display:block;}
.m-handle .tithtl .phase label{padding:0 15px 0 2px}
.m-handle .tithtl .u-inp{width:93px;position:relative;z-index:1;}
.m-handle .tithtl .u-inp-date{width:83px;}
.m-handle .tithtl .u-inp-city{margin-right:2px;width:50px;}
.m-handle .tithtl .u-inp-date-s{width:60px;}
.m-handle .tithtl .u-select{width:113px;}
.m-handle .tithtl .u-btn-default{width:250px}
.m-handle .tithtl .segment-item{float:left;color:#a5a5a5;display:inline;}
.m-handle .tithtl .segment-item label{display:block;padding:5px 0;color:#666;}
.m-handle .tithtl .segment-child{margin-left:10px;margin-right:10px;}
.m-handle .tithtl .adult-select{line-height:32px;border:1px solid #ccc;float:left;width:148px;height:32px;border-radius:2px;}
.m-handle .tithtl .adult-select .item{float:left;width:28px;text-align:center;border-right:1px solid #ccc;color:#666;}
.m-handle .tithtl .adult-select .u-select{border:0;width:61px;cursor:pointer;float:left;border-radius:0 2px 2px 0;}
.m-handle .tithtl .adult-select .u-select-view{padding-left:6px;}
.m-handle .tithtl .adult-select .u-select-item{padding-left:6px;}
.m-handle .tithtl .adult-select .active{background:#ddd;color:#333;}
.m-handle .tithtl .adult-select .active .u-select-direct{border-top-color:#333;}
.m-handle .tithtl .child-select{width:38px;}
.m-handle .tithtl .swapper{position:absolute;width:34px;height:34px;left:108px;top:0;}

/* 公告栏 */
.m-notice{background:#ecf6f2;line-height:34px;height:34px;overflow:hidden;}
.m-notice .notice-list{float:left;width:780px;height:34px;overflow:hidden;}
.m-notice .notice-list li{width:390px;float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.m-notice .notice-more{float:left;width:120px;font-weight:bold;text-align:center;}
.m-notice a{color:#0868ab;}
.m-notice a:hover{color:#f60;}

/* 99系列 */
.m-99 .bar{background:#ecf6f2;height:45px;line-height:45px;padding-top:10px;}
.m-99 .bar-cont{width:1000px;margin:0 auto;}
.m-99 .bar-select{float:left;padding:0 30px;font:18px/45px 'Microsoft YaHei';position:relative;zoom:1;color:#434343;cursor:pointer;position:relative;zoom:1;z-index:1;}
.m-99 .bar-select i{border-width:6px 6px 0;border-color:transparent;border-top-color:#434343;border-style:solid;_border-style:dashed;_border-top-style:solid;position:absolute;right:10px;top:50%;margin-top:-4px;width:0;height:0;overflow:hidden;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s;}
.m-99 .active i{border-top:0\9;border-bottom:6px solid #434343\9;}
:root .m-99 .active i{-webkit-transform:rotate(180deg);-moz-transform:rotate(179.99deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(179.99deg);border-top:6px solid #00923f\9;border-bottom:0;\9;}
.m-99 .active .bar-citys{display:block;}
.m-99 .bar-button{float:right;padding-top:7px;}
.m-99 .bar-button .u-btn{float:left;margin-right:10px;height:30px;line-height:30px;background:#078f5f;}
.m-99 .bar-citys{background:#fff;border:4px solid #00923f;position:absolute;top:45px;left:0;font-size:14px;color:#666;display:none;}
.m-99 .bar-citys h2{font-weight:normal;background:#f3f9f7;color:#666;padding:0 10px;line-height:36px;}
.m-99 .citys-list{padding:10px;width:400px;line-height:2;overflow:hidden;zoom:1;}
.m-99 .citys-list a{float:left;min-width:60px;_width:60px;margin-left:5px;}
.m-99 .list{padding-bottom:25px;position:relative;zoom:1;width:1000px;margin:0 auto;}
.m-99 .prev,
.m-99 .next{position:absolute;top:50%;margin-top:-26px;width:27px;height:52px;display:none;}
.m-99 .prev{background-position:0 -28px;left:0;}
.m-99 .next{background-position:-27px -28px;right:0;}
.m-99 .list ul{width:945px;overflow:hidden;text-align:center;}
.m-99 .list li{float:left;width:189px;border-left:1px dashed #c7c7c7;margin-left:-1px;margin-top:25px;position:relative;zoom:1;white-space:nowrap;}
.m-99 .list b{position:absolute;width:36px;height:27px;right:0;top:3px;}
.m-99 .list .hot{background-position:-104px -204px;}
.m-99 .list .new{background-position:-104px -231px;}
.m-99 .list-cont{width:945px;height:234px;position:relative;zoom:1;overflow:hidden;margin:0 auto;}
.m-99 .pric{position:relative;zoom:1;display:inline-block;*display:inline;vertical-align:middle;font-family:'Microsoft YaHei';font-size:14px;}
.m-99 .pric strong{font-size:52px;line-height:60px;color:#f60;font-weight:normal;}
.m-99 .pric i{position:relative;top:-28px;color:#f60;}
.m-99 .city{display:block;padding:5px 0;}
.m-99 .city i{background-position:-29px 0;width:33px;height:22px;display:inline-block;vertical-align:middle;margin:0 5px;}
.m-99 a:hover .city i{background-position:-62px 0;}
.m-99 .city em{font:18px/22px 'Microsoft YaHei';vertical-align:middle;}

/* m-banner */
.m-banner{overflow:hidden;position:relative;zoom:1;margin:0 auto;padding-bottom:3px;}
.m-banner img{display:block;}
.m-banner .mobile-send{color:#fff;position:absolute;left:497px;top:116px;width:300px;}
.m-banner .mobile-send h2{font:14px/2 '宋体';}
.m-banner .mobile-send input{background-color:#fff;border-color:#fff;height:26px;line-height:26px;width:140px;padding-left:3px;float:left;}
.m-banner .mobile-send .btn{color:#fff;background:#f80;float:left;line-height:28px;padding:0 10px;}

/* 产品区 */
.m-product{zoom:1;overflow:hidden;}
.m-product .cols-wrap{margin-left:-9px;zoom:1;}
.m-product .cols{width:326px;float:left;margin-left:10px;display:inline;zoom:1;}
.m-product .cols ul{width:326px;}
.m-product .item{padding-bottom:10px;width:326px;float:left;}
.m-product .cont{box-shadow:0 1px 1px #eee;filter:progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, strength=1, direction=160)\9;color:#666;padding:4px 0 0;background:#fff;display:block;border:1px solid #e1e1e1;position:relative;}
.m-product .wrap{padding-bottom:3px;overflow:hidden;zoom:1;display:block;}
.m-product a.wrap:hover .cont{background:#f90;color:#fff;}
.m-product a.wrap:hover .head{background:#f90;color:#fff;border-color:#f90;}
.m-product a.wrap:hover .body{background:#f90;color:#fff;}
.m-product .cont .ad-watermark { right:5px;top:5px;}
.m-product .cont img{width:316px;display:block;margin:0 auto;}
.m-product .head{font:18px/1.5 'Microsoft YaHei';padding:10px 9px 0;color:#333;background:#fafafa;border-top:1px solid #e1e1e1;margin-top:4px;}
.m-product .body{padding:0 9px 20px;display:block;background:#fafafa;color:#999;}
.m-product .hand{padding-top:10px;text-align:center;}
.m-product .hand a{margin:0 10px;}
.m-product .i-hot{background-position:-102px 0;width:17px;height:12px;overflow:hidden;position:absolute;right:-5px;top:-5px;}
.m-product .plus{min-height:524px;_height:524px;position:relative;zoom:1;z-index:1;}
.m-product .plus .wrap{width:660px;position:absolute;}
.m-product .plus-holder{padding-top:534px;}

/* 网上值机客规 */
.m-checkinrule{width:650px;padding:20px;line-height:2;display:none;}
.m-checkinrule h2{font:18px/1.5 'Microsoft YaHei';text-align:center;padding-bottom:10px;}

/* 更多产品 */
.m-more-prod dt{font:18px/1.5 'Microsoft YaHei';margin-bottom:30px;padding-top:20px;}
.m-more-prod dd{padding-bottom:40px;}
.m-more-prod a{float:left;text-align:center;width:166px;}
.m-more-prod i{display:block;margin:0 auto;width:50px;height:48px;margin-bottom:10px;}
.m-more-prod b{font:14px/1.5 'Microsoft YaHei';}
.m-more-prod .i-1{background-position:0 -204px;}
.m-more-prod .i-2{background-position:-50px -204px;}
.m-more-prod .i-3{background-position:0 -252px;}
.m-more-prod .i-4{background-position:-50px -252px;}
.m-more-prod .i-5{background-position:0 -300px;}
.m-more-prod .i-6{background-position:-50px -300px;}
.m-more-prod .i-7{background-position:0 -348px;}
.m-more-prod .i-8{background-position:-50px -348px;}
.m-more-prod .i-9{background-position:0 -396px;}

/* 俯角 */
.m-drophead{position:absolute;right:0;top:0;z-index:500;display:none;}
.m-drophead .trigger{/*background:url(img/home/drophead-trigger.png?vs=20150401);*/background-position:0 -106px;width:140px;height:86px;position:absolute;right:0;top:0;cursor:pointer;}
.m-drophead .drophead-content{width:415px;height:632px;position:absolute;right:0;top:0;display:none;}
.m-drophead .bg-panel{background:#000;position:absolute;right:0;top:0;width:415px;height:632px;opacity:.77;filter:alpha(opacity=77)\9;}
.m-drophead .ct-panel{background:url(img/home/drophead-content-20151121.png);position:absolute;right:0;top:0;width:415px;height:632px;}
.m-drophead .input-panel{position:absolute;top:302px;left:87px;width:300px;font-family:'Microsoft YaHei';font-size:16px;}
.m-drophead .u-inp{width:150px;float:left;border-color:#fff;border-radius:0;}
.m-drophead .u-btn{float:left;padding:0 15px;}
.m-drophead .close{position:absolute;top:0;right:0;width:30px;height:30px;background:transparent;cursor:pointer;}
.m-drophead .code{height:34px;vertical-align:middle;margin-left:5px;cursor:pointer;}
.m-drophead .input-panel p{padding-top:10px;}

/*.g-ft{border-color:#e21e2c;}
.g-ft .cates{border-bottom-color:#e21e2c;}
.g-ft .links-super a{color:#f00;border-left-color:#f00;}
.g-ft .links{color:#f00;}*/