/*
Theme Name: Parament
Theme URI: http://theme.wordpress.com/themes/parament/
Description: Parament is a great all-purpose theme featuring a dark color scheme with bright orange highlights and a textured background. Add your own personal flair by uploading a custom header or background image. Parament's full-width image template allows your images to display as large as possible for maximum impact.
Version: 1.3
Author: Automattic
Author URI:  http://automattic.com/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, dark, orange, two-columns, fixed-width, custom-background, custom-header, custom-menu, microformats, rtl-language-support, sticky-post, translation-ready
*/


body {
	background: #000811 url( images/diagonal-stripes-010.png );
	color: #BEBA89;
	font-size: 14px;
	margin: 0;
	padding: 15px 0 30px;
}
#page-wrap {
	margin: 0 auto;
	width: 1000px;
}
#container {
	margin: 0 auto;
	width: 1000px;
}
#main {
	display: inline;/* fix double margin */
	float: left;
	margin: 0 25px 30px 10px;
	width: 700px;
}
/* Image Template. */
#main.image-template {
	width: 950px;
}
.image-template #comments {
	margin: 0 auto;
	width: 700px;
}
.image-template .hentry img {
	height: auto;
	max-width: 917px;
}


/* =Fonts
-------------------------------------------------------------- */

body,
input,
textarea {
	font-family: Trebuchet, arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
#site-title,
.comment-author,
.nav-paged a {
	font-family: Trebuchet, arial, sans-serif;
}
code,
kbd,
pre,
samp,
tt,
var {
	font-family: Consolas, "Courier New", Courier, monospace;
}


/* =Inline Elements
-------------------------------------------------------------- */

a {
	color: #757D93;
	text-decoration: none;
}
a img {
	border-width: 0;
}
a.edit-term img {
	border-width: 0;
}
a:hover,
a:active,
a:focus {
	outline: 0;
	text-decoration: underline;
}
abbr,
acronym {
	border-bottom: 1px dashed #989eae;
	cursor: help;
}
big {
	font-size: 2em;
	position: relative;
	top: .1em;
}
code,
var {
	background: #202228;
	border: .1em solid #292C34;
	color: #989eae;
	font-style: normal;
	padding: 0 .3em;
	font-size: 12px;
	font-family: Consolas, "Courier New", Courier, monospace;
	word-wrap: break-word;
	word-spacing:-1px;
	letter-spacing:-1px;
}
code abbr,
code acronym {
	border-width: 0;
}
code var {
	border-width: 0;
	padding: 0;
}
b code,
b var,
strong code,
strong var {
	border-width: .1em;
}
pre code {
	background: transparent;
	border-width: 0;
	padding: 0;
}
del,
s,
strike {
	text-decoration: line-through;
}
ins {
	background-color: #989eae;
	color: #202228;
	padding-right: 3px;
	padding-left: 4px;
	text-decoration: none;
}
small {
	font-size: 0.9em;
	line-height: 1.0em;
}


/* =Block Level Elements
-------------------------------------------------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
address,
article,
aside,
blockquote,
dl,
fieldset,
footer,
form,
header,
nav,
ol,
p,
pre,
table,
ul,
.embed,
.entry-content div {
	font-size: 1em;
	line-height: 1.2em;
	margin: 1.5em 0;
	padding: 0;
}
.entry-content div div {
	margin: 0;
	padding: 0;
}
blockquote,
fieldset,
pre {
	border: .1em solid #262737;
	padding: .45em;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FDF19D;
	text-align: left;
	line-height: 0.8;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace, sans-serif;
	word-wrap: break-word;
	letter-spacing:-1px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
blockquote,
pre {
	background: #0F0F1E;
}
pre {
	white-space: pre-wrap;
}
blockquote {
	border: .1em solid #3C2E20;
	font-style: normal;
	line-height: 1.0;
	color: #FCEFA7;
	padding: 1em 2em;
	background: #201813;
	letter-spacing: normal;
	font-family:Arial;
	font-size: 16px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
blockquote blockquote {
	background: #111;
	margin-right: 0;
	margin-left: 0;
}
blockquote blockquote blockquote {
	background: #202228;
}
blockquote cite {
	color: #DDD8C6;
	font-size: .85em;
	font-weight: bold;
}
blockquote p {
	line-height: 1.2;
}
blockquote p:first-child,
blockquote p:only-child,
blockquote blockquote:first-child {
	margin-top: 0;
}
blockquote p:last-child,
blockquote p:only-child,
blockquote blockquote:last-child {
	margin-bottom: 0;
}
hr {
	border: 1px solid #444855;
}


/* =Headings
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #cccfd7;
	font-weight: bold;
	line-height: 1.0em;
	padding: 0;
}
h1 {
	font-size: 25px;
	font-weight: normal;
	margin: .83em 0;
}
h2 {
	font-size: 22px;
	font-weight: normal;
	margin: 1.05em 0;
}
h3 {
	font-size: 19px;
	font-weight: normal;
	margin: 1.23em 0;
}
h4 {
	font-size: 15px;
	margin: 1.35em 0;
}
h5,
h6 {
	font-size: 12px;
	margin: 1.0em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #cccfd7;
	text-decoration: none;
}


/* =Lists
-------------------------------------------------------------- */

ol,
ul {
	padding-left: 30px;
}
ol ol,
ol ul,
ul ol,
ul ul {
	list-style-position: inside;
	margin: 0;
}
ul {
	list-style-type: square;
}
dt {
	color: #cccfd7;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
dd {
	margin: 0 0 1.5em;
	padding-bottom: .3em;
}


/* =Tables
-------------------------------------------------------------- */

table {
	border-collapse: collapse;
}
th,
td {
	padding: .25em .5em;
}
table,
th,
td {
	border: 1px solid #111;
}
tbody th {
	background-color: transparent;
}
tbody td {
	background-color: #33353d;
	color: #989eae;
}
caption {
	font-size: 14px;
	padding-bottom: 7px;
}


/* =Float Clearing
-------------------------------------------------------------- */

.contain:before,
.contain:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}
.contain:after {
	clear: both;
}
.contain {
	zoom: 1;
}


/* =Header
-------------------------------------------------------------- */

#branding {
	font-size: 12px;
	margin: 0 auto 15px;
	min-height: 100px;
	text-shadow: #000 1px 1px 2px;
	width: 950px;
}
h1#site-title {
	font-size: 40px;
	font-weight: normal;
	line-height: 47px;
	margin: 20px 0 0 15px;
}
h2#site-description {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 20px 15px;
}
h1#site-title a,
h2#site-description a {
	color: #cccfd7;
	display: block;
	text-decoration: none;
}


/* =Menu
-------------------------------------------------------------- */

#menu {
	background: #070707;
	background: -moz-linear-gradient( top, #111A2F 1%, #000011 100% );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 1%, #001040 ), color-stop( 100%, #000022 ) );
	background: -webkit-linear-gradient( top, #002040 1%, #060713 100% );
	background: -o-linear-gradient( top, #152039 1%, #070707 100% );
	background: -ms-linear-gradient( top, #1E2031 1%, #070707 100% );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1D2132', endColorstr='#070707', GradientType=0 );
	background: linear-gradient( top, #181F36 1%, #0C0D16 100% );
	border: 1px solid #3F455A;
	border-radius: 10px;
	clear: both;
	float: left;
	margin: 0;
	padding: 3px 0 0;
	width: 1000px;
}
#menu:empty {
	display: none;
}
#menu ul {
	font-size: 13px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#menu li {
	float: left;
	margin: 0 0 7px 7px;
	position: relative;
}
#menu li li {
	margin: 0;
}
#menu a {
	color: #AFB4C0;
	display: block;
	line-height: 40px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
}
#menu ul ul {
	border-top: 3px solid #660000;
	-moz-box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.2 );
	-webkit-box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.2 );
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 37px; /* offset 3px to hide bottom border-radius. */
	left: 0;
	width: 153px;
	z-index: 99999;
}
#menu ul ul ul {
	border-top-width: 0;
	left: 100%;
	top: 0;
}
#menu ul ul a {
	background: #C49E5E;
	border-bottom: 1px solid #501E1B;
	color: #6B3227;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.5;
	padding: 6px 15px;
	text-transform: none;
	width: 123px;
	height: auto;
}
#menu li:hover > a,
#menu a:focus {
	background: #BB8E44;
}
#menu a:focus,
#menu a:active,
#menu li:hover > a {
	color: #fff;
}
#menu li.current-menu-item > a,
#menu li.current-menu-ancestor > a,
#menu li.current_page_item > a,
#menu li.current_page_ancestor > a {
	background-color: #A14035;
	color: #fff;
	font-weight: bold;
}
#menu li li.current-menu-item > a,
#menu li li.current-menu-ancestor > a,
#menu li li.current_page_item > a
#menu li li.current_page_ancestor > a {
	border-radius: 0;
}
#menu ul li:hover > ul {
	display: block;
}
/* First selector is for wp_nav_menu(), second is for wp_list_pages(). */
#menu .menu > li > a,
#menu div.menu > ul > li > a {
	border-radius: 3px;
}


/* =Intro (For archive views)
-------------------------------------------------------------- */

#introduction {
	background: #202228;
	border: 1px solid #444855;
	border-top-width: 0;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	clear: both;
	color: #989eae;
	margin: 0;
	padding: 10px 20px 10px;
	position: relative;
}
#introduction hgroup {
	float: left;
}
#page-title {
	color: #cccfd7;
	font-weight: normal;
	line-height: 1.3;
	margin: 0;
}
#page-tagline {
	color: #666c7f;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin-top: 0;
	padding-top: 7px;
}
.search-results #page-title,
.search-results #page-tagline {
	float: left;
	width: 55%;
}
#introduction #searchform {
	position: absolute;
	top: 0;
	right: 15px;
}


/* =Entry
-------------------------------------------------------------- */

.hentry {
	background: #0B0B0B  url( images/slide2.jpg );
	border: 1px solid #444855;
	border-radius: 7px;
	margin: 40px 0 30px;
	position: relative;
}
.hentry p:first-child,
.hentry p:only-child {
	margin-top: 0;
}
.hentry p:last-child,
.hentry p:only-child {
	margin-bottom: 0;
}
.hentry img {
	max-width: 667px;
	width: auto;
	height: auto;
}
.title {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-bottom: 1px solid #2D2F37;
	background: #161C25;
	color: #fff;
	padding: 17px 15px 5px;
}
.has-byline .title {
	padding-top: 25px;
}
h2.entry-title {
	color: #D9E0E1;
	font-size: 25px;
	font-weight: normal;
	letter-spacing: .025em;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-shadow: #000 1px 1px 2px;
}
h2.entry-title a {
	color: #D0D3E8;
}
h2.entry-title a:hover {
	color: #FBFAEA;
	text-decoration: none;
}
.entry-byline {
	background: #BB8E44;
	border: 1px solid #816330;
	color: #FFF8E1;
	display: block;
	font-size: 12px;
	line-height: 1;
	position: absolute;
	top: -10px;
	left: -10px;
	text-shadow: #000 1px 1px 2px;
}
.entry-byline a {
	color: #fff;
	font-weight: bold;
}
.entry-byline span,
.entry-byline .post-edit-link {
	display:block;
	float: left;
	padding: 3px 6px;
}
.entry-byline .post-edit-link {
	background: #CB5832;
	font-style: normal;
}
.entry-content {
	overflow: hidden;
	padding: 10px;
}
.entry-content a {
	text-decoration: underline;
}
.entry-content a:hover,
.entry-content a:active,
.entry-content a:focus {
	color: #E5C073;
}
.entry-meta {
	color: #668093;
	font-size: 12px;
	font-weight: bold;
}
.entry-meta a {
	color: #668093;
	text-decoration: none;
}
.entry-meta a:hover {
	border-bottom: 1px solid #A95C2E;
	color: #DABF83;
	text-decoration: none;
}
div.entry-navigation {
	clear: both;
	float: left;
	margin: 15px 0 0;
	width: 100%;
}
.entry-navigation span {
	background: #23252E;
	border: 1px solid #33353d;
	border-radius: 3px;
	color: #bfc3cf;
	float: left;
	font-size: 13px;
	line-height: 25px;
	margin: 0 5px 5px 0;
	min-width: 27px;
	padding: 0;
	text-align: center;
}
.entry-navigation a:link,
.entry-navigation a:visited {
	color: #fff;
	text-decoration: none;
}
.entry-navigation a:active,
.entry-navigation a:focus,
.entry-navigation a:hover {
	color: #5588bb;
	text-decoration: underline;
}
.sticky .title {
	background-color: #B8623D;
	border-bottom: 1px solid #762F27;
	padding: 8px 15px;
}
.sticky .entry-byline {
	border-width: 0;
	top: -14px;
}
.sticky .entry-byline span {
	display: none;
}
.sticky h2.entry-title {
	text-shadow: #000 1px 1px 2px;
}
.sticky h2.entry-title,
.sticky h2.entry-title a {
	color: #fff;
}
.sticky .entry-meta {
	display:none;
}
.sticky .entry-meta,
.sticky .entry-meta a {
	color: #fff;
}
.post-password-required form {
	margin: 0;
}
.post-password-required form p:first-child {
	margin-top: 0;
}
.more-link {
	color: #B5986C;
}
#attachment-image {
	text-align: center;
}

.mejs-container {
	font-size: 1em;
	line-height: 1.5em;
	margin: 1.5em 0;
	padding: 0;
}

/* =Asides
-------------------------------------------------------------- */

.format-aside .title {
	padding: 0;
}
.format-aside .entry-title {
	display: none;
}
.format-aside .entry-meta {
	display: none;
}


/* =Images
-------------------------------------------------------------- */

.format-image .wp-caption {
	margin: 0 0 5px;
	max-width: 600px;
}
.format-image .wp-caption img {
	max-width: 590px;
}


/* =Gallery
-------------------------------------------------------------- */

#main .gallery img {
	border: 10px solid #25262C;
}
#main .gallery img:hover {
	border-color: #3C3E48;
}
#main .gallery .gallery-caption {
	color: #666c7f;
	font-size: 13px;
	line-height: 1.35;
	margin: 0 20px;
}


/* =Shadows
-------------------------------------------------------------- */

#branding.has-image,
#menu,
#introduction,
#respond,
.bypostauthor .comment-meta img,
.commentlist article,
.commentlist .pingback,
.entry-byline,
.hentry,
.widget {
	-webkit-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	-moz-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
}


/* =Paged Navigation
-------------------------------------------------------------- */

.paged-navigation {
	display: block;
	font-weight: bold;
	padding: 0 15px;
}
.paged-navigation a {
	color: #DABA78;
}
.paged-navigation a:hover,
.paged-navigation a:active,
.paged-navigation a:focus {
	color: #F4C555
}
.nav-older,
.nav-newer {
	width: 48%;
}
.nav-older {
	float: left;
	text-align: left;
}
.nav-newer {
	float: right;
	text-align: right;
}
/* Single Post Template. */
#post-nav {
	border-top: 2px solid #444855;
	color: #F4C555;
	font-size: 11px;
	margin-bottom: 0;
	font-weight: bold;
	background-color: #202026;
}
#post-nav a {
	color: #989eae;
}
#post-nav a:hover,
#post-nav a:active,
#post-nav a:focus {
	color: #DABA78;
}
#post-nav .nav-older,
#post-nav .nav-newer {
	padding: 7px 15px;
	width: 300px;
}


/* =Footer
-------------------------------------------------------------- */

#colophon {
	clear: both;
	color: #858E9A;
	font-size: 12px;
	padding: 26px 0 0;
	text-align: center;
	width: 100%;
}
#colophon a {
	color: #667579;
}


/* =Sidebar
-------------------------------------------------------------- */

#sidebar {
	float: right;
	font-size: 12px;
	margin: 40px 0 30px;
	padding: 0;
	position: relative;
	right: 10px;
	width: 260px;
}
#sidebar img {
	height: auto;
	max-width: 228px;
}
#sidebar li {
	list-style-type: none;
}
#sidebar .widget li {
	list-style-type: square;
}
.widget {
	background-color: #060606;
	border: 2px solid #2C2E36;
	border-radius: 7px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 0 15px 15px;
}
.widget a {
	color: #97A5AE;
}
.widget a:hover,
.widget a:active,
.widget a:focus {
	color: #E8C98E;
}
.widget ol {
	list-style: decimal inside;
}
.widget-title {
	background: #161C25;
	border-bottom: 1px solid #2E3038;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	font-size: 16px;
	font-weight: b;
	line-height: 30px;
	margin: 0;
	padding: 5px 10px;
	position: relative;
	left: -15px;
	width: 238px;
}
.widget-title,
.widget .widget-title a {
	color: #E7DEBC;
}
.widget div,
.widget iframe,
.widget table,
.widget ul,
.widget ol {
	padding: 15px 0 0;
}
.widget div div {
	padding: 0;
}
.widget ul ul,
.widget ul ol,
.widget ol ul,
.widget ol ol {
	padding: 0 0 0 15px;
}
/* Calendar Widget. */
.widget_calendar table {
	margin: 0;
	width: 100%;
}
.widget_calendar td a {
	color: #cccfd7;
	font-weight: bold;
}
#prev {
	padding-top: 5px;
	text-align: left;
}
#next {
	padding-top: 5px;
	text-align: right;
}
#prev,
#next,
.widget_calendar th,
.widget_calendar .pad {
	background-color: transparent;
}
.widget_calendar td,
.widget_calendar th {
	text-align: center;
}
#today {
	background-color: #4E8A20;
	color: #fff;
}
/* RSS Widget. */
#sidebar .widget_rss ul {
	padding-bottom: 0;
}
#sidebar .widget_rss li {
	list-style-type: none;
	padding-bottom: 15px;
}
#sidebar .widget_rss li .rsswidget {
	color: #A6ACB3;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 0;
	line-height: 0.5;
}
.widget_rss cite,
.rss-date {
	color: #666c7f;
	font-size: 12px;
	font-style: italic;
	white-space: nowrap;
}
.widget .rssSummary {
	padding: 0;
}
/* Search Widget */
.widget_search form {
	margin: 15px 0 0;
}


/* =Comment List
-------------------------------------------------------------- */

.commentlist {
	padding: 0;
}
#comments-title,
.comments-closed,
.nocomments,
.nopassword {
	color: #9B926A;
	font-weight: normal;
	text-align: center;
	text-shadow: #000 1px 1px 2px;
}
#comments-title {
	margin: 60px 0 0 15px;
}
.commentlist .pingback {
	padding: 7px 15px;
}
.commentlist .pingback p {
	margin: 0;
}
.commentlist .comment,
.commentlist .pingback {
	list-style-type: none;
}
.commentlist .pingback,
.commentlist .depth-1 article {
	background: #000711;
	border: 1px solid #1B1C23;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	margin: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.commentlist .comment {
	margin: 15px 0;
}
/* Individual Comments. */
.comment footer {
	background: #0C1221;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid #1F2129;
	margin: 0;
	padding: 10px;
}
.comment-meta {
	display: block;
	font-size: 14px;
}
.comment-meta,
.comment-meta a {
	color: #898FA0;
}
.comment-meta .avatar {
	border: 5px solid #2E3038;
	float: left;
}
.comment-author {
	padding-top: 5px;
}
.comment-author,
.comment-awaiting-moderation {
	margin-left: 60px;
}
.comment-author .fn,
.comment-author .fn a {
	color: #CFCFCF;
}
.comment-author .fn {
	display: block;
	font-size: 18px;
	padding-bottom: 4px;
}
.comment-content {
	padding: 0 15px;
}
.comment-content p {
	margin: 15px 0;
	color: #C5C9CD;
	text-shadow: #000 1px 1px 2px;
}
.bypostauthor > article .comment-meta {
	background: #373A46;
	border-top-left-radius: 5px;
}
.bypostauthor > article .comment-meta,
.bypostauthor > article .comment-meta a {
	color: #989eae;
}
.bypostauthor > article .comment-meta img {
	border-color: #666c7f;
}
.comment-awaiting-moderation {
	color: #509666;
}
.comment .reply {
	display: block;
	margin: 0;
}
.comment .reply a {
	background: #1c1c1c;
	border-top: 1px solid #33353d;
	border-left: 1px solid #33353d;
	border-top-left-radius: 7px;
	color: #989eae;
	display: block;
	float: right;
	font-size: 14px;
	padding: 5px 10px;
}
.comment .reply a:hover,
.comment .reply a:focus,
.comment .reply a:active {
	background-color: #202228;
	border-color: #444855;
	color: #cccfd7;
}


/* =Comment Form
-------------------------------------------------------------- */

#respond {
	background: #111;
	border: 1px solid #30323A;
	border-radius: 7px;
	margin: 15px 0;
	padding: 15px;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#respond form {
	margin: 0;
}
#respond p {
	margin: 0 0 15px;
}
#respond p.form-submit {
	margin-bottom: 0;
}
#reply-title {
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 7px;
}
.comment-notes,
.comment-notes a,
.logged-in-as,
.logged-in-as a {
	color: #86AB05;
	font-size: 14px;
	font-style: italic;
}
#respond .form-allowed-tags {
	background: #1B1D21;
	border: 1px solid #1D1E23;
	font-size: 12px;
	margin: 15px 0;
	padding: 7px;
}
.form-allowed-tags code {
	background: transparent;
	border-width: 0;
}
.required {
	color: #d24d04;
}
#respond input,
#respond textarea {
	background: #373f50;
	border: 1px solid #434a5a;
	color: #FDFDFF;
	text-shadow: #000 1px 1px 2px;
	font-size:16px;
	padding: 3px 7px;
}
#respond input:focus,
#respond textarea:focus {
	background: #434a5a;
}
#respond #submit {
	background: #C29C4E;
	border: 1px solid #A07952;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 3px 5px;
	text-shadow: #000 1px 1px 2px;
}
.comment-form-author,
.comment-form-url,
.comment-form-email {
	clear: both;
	padding-bottom: 3px;
}
.comment-form-author label,
.comment-form-url label,
.comment-form-email label {
	float: left;
	min-width: 6em;
}
.comment-form-author .required,
.comment-form-url .required,
.comment-form-email .required {
	float: left;
	width: 15px;
}
.comment-form-url input {
	position: left;
	left: 15px;
}
.comment-form-comment label {
	display: none;
}
.comment-form-comment textarea {
	width: 97.5%;
	height: 16em;
}
#cancel-comment-reply-link {
	background: #BFB751;
	border: 1px solid #B3A44D;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	text-shadow: #000 1px 1px 2px;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 5px;
}


/* =General
-------------------------------------------------------------- */

.aligncenter,
div.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.alignleft,
div.alignleft {
	float: left;
	margin: 5px 15px 15px 0;
}
.alignright,
div.alignright {
	float: right;
	margin: 5px 0 15px 15px;
}
/* Captions */
#main div.wp-caption {
	background-color: #202228;
	border: 1px solid #444855;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 15px 10px 10px;
	max-width: 96.5%;
	text-align: center;
}
#main div.wp-caption img {
	max-width: 100%;
}
#main .wp-caption-text {
	color: #989eae;
	display: block;
	font-size: 12px;
	line-height: 1.4;
}
.assistive-text,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
/* Search form */
#s {
	background: #151822 url( images/search.gif ) 100% -3px no-repeat;
	border-width: 1;
	border: 1px solid #636974;
	color: #BDBDAE;
	font-size: 14px;
	padding: 3px 22px 3px 3px;
	text-shadow: #000 1px 1px 2px;
	width: 200px;
}
#searchsubmit {
	display: none;
}
.clear {
	clear: both;
}


/* =IE 7 and IE 8
-------------------------------------------------------------- */

#ie7 #menu {
	padding-bottom: 7px;
}
#ie7 #menu li:hover,
#ie8 #menu li:hover {
	display: block;
	z-index: 10;
}
#ie7 #menu ul ul a,
#ie8 #menu ul ul a {
	background: #202228;
	border-bottom-style: solid;
}


/* =WordPress.com
-------------------------------------------------------------- */

#flickr table,
#flickr th,
#flickr td {
	background-color: transparent;
	margin: 0;
	padding: 0;
}
#flickr #flickr_badge_uber_wrapper {
	margin-top: 15px;
}
#flickr #flickr_badge_wrapper a {
	color: #d24d04;
}
#flickr #flickr_badge_wrapper img {
	max-width: 223px;
}
#vodpod_recent_videos {
	margin: 15px auto 0;
}
.widget_authors img {
	vertical-align: middle;
}
#sidebar #authors li {
	list-style: none;
}
#socialvibe_badge img {
	background: #ccc;
	border-radius: 5px;
	padding: 0 0 7px;
}
#sidebar #authors li li {
	list-style: square;
}
#authors .avatar {
	margin-right: 5px;
}
#subscribe-blog input[type="submit"] {
	background: #d24d04;
	border: 1px solid #ff5a00;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	text-shadow: #000 1px 1px 2px;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 5px;
}
/* Comment Form. */
.highlander-comment {
	background-color: transparent !important;
}
#respond.js {
	background-color: #202228;
	border: 1px solid #444855;
}
#respond.js h3#reply-title {
	padding-left: 15px;
	margin-top: 0;
}
#respond.js #cancel-comment-reply-link {
	position: relative;
	right: 15px;
	bottom: 5px;
}
.commentlist #respond.js {
	margin-top: 15px;
}
#main .sharedaddy .sd-block {
	border-color: #444855;
}
#sidebar #recent-comments td {
	background: transparent;
}
.geo-map {
	margin-top: 15px;
}


/* =Jetpack: Infinite Scroll
-------------------------------------------------------------- */
.infinite-scroll .infinite-wrap {
	border-top: none;
	padding: 0;
}
/**
* Elements to hide:
* (footer widgets, post navigation, regular footer)
*/
.infinite-scroll #posts-nav,
.infinite-scroll.neverending #colophon {
	display: none;
}
/* Adjust the footer container and handle for the dark color scheme */
.infinite-scroll .infinite-loader {
	color: #fff;
}
.infinite-scroll #infinite-footer .container {
	background: rgba(32,34,40, 0.9);
	border-color: #444855;
}
.infinite-scroll #infinite-footer .blog-credits {
	color: #989eae;
}
.infinite-scroll #infinite-footer .container a {
	color:  #cccfd7;
}
.infinite-scroll #infinite-footer .container a:hover {
	color:  #fff;
}
.infinite-scroll #infinite-handle span {
	-webkit-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	-moz-box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	background: #111;
	border: 1px solid #444855;
	border-radius: 7px;
	box-shadow: .2em .2em .3em rgba( 0, 0, 0, 0.45 );
	display: inline-block;
	padding: 1em 1.5em;
}
.infinite-scroll #infinite-handle span,
.infinite-scroll #infinite-handle span:before {
	color: #989eae;
}
.infinite-scroll #infinite-handle span:hover,
.infinite-scroll #infinite-handle span:hover:before {
	color: #fff;
}
/**
* Hooks to infinity-end body class to restore footer
*/
.infinity-end.neverending #colophon {
	display: block;
}