
@import url(/risorse/condivise/stili/trasversali/fonts.css);
@import url(/risorse/condivise/stili/trasversali/spaces.css);
@import url(/risorse/condivise/stili/trasversali/alignment.css);
@import url(/risorse/condivise/stili/trasversali/extra.css);
@import url(/risorse/condivise/stili/trasversali/tool.css);

/*****************************************************

    Foglio stile base - (c) Poste Italiane 2015 - GD//FS//DU

*****************************************************/


/* ###### tipografia ###### */

body {
    font-family: 'Open Sans', sans-serif;
    color: #535353;
    font-size: 14px;
}
a {
    color: #0047bb;
}
h1,
.h1 {
    font-size: 20px;
    padding: 0px;
    margin: 22px 0px 0px;
}
h3,
.h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.title-bold {
    font-weight: bold;
}
.title-normal {
    font-weight: normal;
}
.title-thin {
    font-weight: lighter;
}
/* ###### extra ###### */

.block {
    display: block;
}
.relative {
    position: relative;
}

.seo-element {
    text-indent: -9999px;
}

/* ###### macro aree ###### */

.content-federation-bar {
    background-color: #eedc00;
    padding: 0px;
}
.content-header {
    border-bottom: 4px solid #eedc00;
    height: 76px;
}

.content-mobile-area {
    background-color: #e9e9e9;
}
.content-main, .content-as-main {
    background-color: #fff;
    background-image: none;
    padding: 0px 0px 30px;
}
.content-footer {
    background-color: #eedc00;
}
.content-footer{
    font-size: 13px;
}
.content-footer h6 {
    text-transform: uppercase;
    font-size: 13px;
}
/* ###### icone ###### */
.loading-more .icon-block{
    margin: 0 auto;
}
.icon-block {
    width: 45px;
    min-width: 45px;
    height: 45px;
    display: block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon-block-grey {
    background-color: #f0f0f0;
}
.icon-block-yellow {
    background-color: #eedc00;
}
.icon-cerca {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__cerca.png);
}
/* ###### quick links ###### */
.quick-links {
    line-height: 20px;
}
.quick-links .list-social li{
    background-position: left top;
    background-repeat: no-repeat;
    padding: 0 0 0 20px; 
}
.quick-links .facebook {
    background-image: url("/risorse/condivise/immagini/ico-facebook.png");
} 
.quick-links .twitter {
    background-image: url("/risorse/condivise/immagini/ico-twitter.png");
}
.quick-links .youtube {
    background-image: url("/risorse/condivise/immagini/ico-youtube.png");
}
.quick-links .pinterest {
    background-image: url("/risorse/condivise/immagini/ico-pinterest.png");
}
.quick-links-mobile ul li{
    border-right: 1px solid #999;
    display: inline-block;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 7px;
}
.quick-links-mobile ul li:last-child{
    border:none;
}

/* ###### panel ###### */

.panel {
    box-shadow: none;
}
.panel-grey {
    background-color: #f0f0f0;
}


/* ###### panel ###### */
.popover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #e8e8e8;
    font-size: 12px;
}
.popover.left > .arrow {
    border-left-color: #e8e8e8;
}

.content-mobile-search-box .input-group-addon {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.content-mobile-search-box .form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.content-mobile-search-box .search-box-item-input-mobile {
    height: 1px;
    width: 1px;
    position: absolute;
    top: 0;
    left: -9999px;
}

.content-mobile-search-box .form-group {
    margin-bottom: 0;
}


/* Browser alert */
.content-alert-browser{
    display: none;
}
.content-alert-browser #alertIe{
    background-image: url(/risorse/condivise/immagini/alert.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 80px;
    background-color: #fff;
}
.content-alert-browser #alertIe p{
    margin-top: 10px;
}
* html .content-alert-browser{
    display: block!important;
}
*:first-child+html .content-alert-browser{
    display: block!important;
}
/*sm*/

@media (min-width: 768px) {
    .content-federation-bar {
        background-color: #fff;
        padding: 0px;
    }
    .content-as-main{
        padding: 30px 0px 10px;
    }
    .content-main{
        padding: 30px 0px 10px;
        margin-bottom: 30px;
    }
    .content-main {
        background-color: #f0f0f0;
        /*
        background-image: url(/risorse/home/immagini/bg-main-area.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        */
    }
}
/*md*/

@media (min-width: 992px) {}
/*lg*/

@media (min-width: 1200px) {}