.border-xs-bottom {
    border-bottom: 2px solid #e4e4e4;
}
.border-xs-bottom-not {
    border: medium none;
}

/*sm*/

@media (min-width: 768px) {
    .border-sm-bottom {
        border-bottom: 2px solid #e4e4e4;
    }
    .border-sm-bottom-not {
        border: medium none;
    }
}
/*md*/

@media (min-width: 992px) {
    .border-md-bottom {
        border-bottom: 2px solid #e4e4e4;
    }
    .border-md-bottom-not {
        border: medium none;
    }
}
/*lg*/

@media (min-width: 1200px) {
    .border-lg-bottom {
        border-bottom: 2px solid #e4e4e4;
    }
    .border-lg-bottom-not {
        border: medium none;
    }
}