
/*****************************************************

    Foglio stile hp's - (c) Poste Italiane 2015 - GD//FS//DU

*****************************************************/



.hover-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

/* ###### carousel ###### */

.carousel-inner > .item > img, .carousel-inner > .item > a img {
    margin: 0 auto;
}
#carousel-home-generic{
	box-shadow: 0 5px 5px #d0d0d0;
	-webkit-box-shadow: 0 5px 5px #d0d0d0;
	-moz-box-shadow: 0 5px 5px #d0d0d0;
}

/* ###### fascia ###### */

.content-utility ul {
    margin: 0;
}
.content-utility ul li {
    height: auto !important;
    height: 30px;
    min-height: 30px;
}

.accesso-rapido .accesso-rapido-item a {
    display: table;
    width: 100%
}
.accesso-rapido .accesso-rapido-item a span {
    vertical-align: middle;
    display: table-cell;
}
.servizi-item-wrap .servizi-item {
    background-color: #fff;
    height: 45px;
    min-height: 45px;
    display: table;
    width: 100%;
}

.servizi-item-wrap .servizi-item h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    padding-right: 45px;
    margin: 0;
    color: #0047bb;
    display: table-cell;
    vertical-align: middle
}
.servizi-item-wrap a.hover-link:focus{
    outline: none;
}
.servizi-item-wrap .servizi-item .arrow-boxed {
    background-image: url(/risorse/home/immagini/arrow-boxed-grey-m.png);
    background-position: center right;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 10px;
}
.servizi-item-wrap-active .servizi-item .arrow-boxed {
    background-image: url(/risorse/home/immagini/arrow-boxed-grey-m.png);
}
.servizi-item-wrap-col-evidence{
	background-color:#eedc00; 
}	
.servizi-item-wrap-col-evidence .servizi-item-wrap .servizi-item{
	background-color:#eedc00; 
}
.servizi-item-wrap-col-evidence .servizi-item-wrap .servizi-item h4{
	padding-right:0 !important;
	text-align:left !important;
}
.loading-button-area {
    height: 65px;
}
.loading-content {
    position: absolute;
    left: -9999px
}
.loading-temp {
    margin-bottom: 15px;
    text-align: center;
}
/* ###### slider ###### */

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.3) 100%);
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0) 100%)
}

/* ###### icone ###### */

.icon-plus{
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__piu.png);
}
.icon-plus-off{
    background-image: url(/risorse/condivise/immagini/icone/icone-grigio/gr__piu.png);
}
.icon-cerca {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__cerca.png);
}
.icon-bollettino {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__bollettino-rai.png);
}
.icon-accedi-conto {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__accedi-conto-.png);
}
.icon-domicilio {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__domicilio.png);
}
.icon-f24 {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__f24.png);
}
.icon-francobolli {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__francobolli.png);
}
.icon-postecert {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__postecert.png);
}
.icon-appuntamento-up {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__appuntamentoUP.png);
}
.icon-assicurazioni {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__assicuraz.png);
}
.icon-bpclick {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__BPclick.png);
}
.icon-calcola-pensione {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__calcola-pensione.png);
}
.icon-carrello {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__carrello.png);
}
.icon-carte-postepay {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__postepay.png);
}
.icon-carte {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__carte.png);
}
.icon-certitel-mutuo {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__certitel-mutuo.png);
}
.icon-codice-attivazione {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__codice-attivazione.png);
}
.icon-compila-moduli {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__compila-moduli.png);
}
.icon-consulente {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__consulente.png);
}
.icon-disconoscimento {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__disconosc-pagam.png);
}
.icon-grande {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__grande.png);
}
.icon-invio-denaro {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__invio-denaro.png);
}
.icon-lista-movimenti {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__lista-mov.png);
}
.icon-nome-utente {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__nome-utente.png);
}
.icon-paccoweb {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__pacco-paccoweb.png);
}
.icon-postemail {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__postemail.png);
}
.icon-prestito {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__prestito.png);
}
.icon-xol {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__prior-racc-cons-pers.png);
}
.icon-pwd {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__pwd.png);
}
.icon-reclami {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__reclami.png);
}
.icon-registrazione {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__registrazione.png);
}
.icon-ricarica-telefono {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__ricarica-telefono.png);
}
.icon-scontibp {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__scontiBP.png);
}
.icon-sinistro {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__sinistro.png);
}
.icon-sportello {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__sportello.png);
}
.icon-telegramma {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__telegramma.png);
}
.icon-tol-buoni-fondi {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__tol-buoni-fondi.png);
}
.icon-versare {
    background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__versare.png);
}



/* ###### News ###### */

.news-item {
    padding: 0 0 0 60px;
}
.news-item h5 {
    margin-top: 0;
}
.news-item .news-date .icon-block {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 6px;
}
.news-item .news-gg,
.news-item .news-mm,
.news-item .news-aaaa {
    display: block;
    font-size: 12px;
    line-height: 13px;
    text-transform: capitalize;
}

/* ###### Avvisi ###### */

.list-avvisi{
	margin: 0;
	padding: 0;
	line-height: 22px;
}
.list-avvisi li{
	background-image: url("/risorse/condivise/immagini/icone/icone-avvisi/avviso-testo.png");
	background-repeat: no-repeat; 
	list-style: outside none none; 
	background-position: 0px 4px; 
	padding-left: 28px;
	margin-bottom: 10px;
}
 

.carousel-indicators.no_full_width {
    width: 7%;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 !important;
}


/*sm*/

@media (min-width: 768px) {
    .servizi-item-wrap-col-evidence{
		background-color:transparent;
	}	
	.servizi-item-wrap-col-evidence .servizi-item-wrap .servizi-item h4{
		text-align:center !important;
	}
    .servizi-item-wrap .servizi-item .arrow-boxed {
        top: 10px;
         background-image: url(/risorse/condivise/immagini/icone/icone-grigio/gr__vai.png);
    }
    .servizi-item-wrap-active .servizi-item .arrow-boxed {
         background-image: url(/risorse/condivise/immagini/icone/icone-gialle/gi__vai.png);
    }
    .servizi-item-wrap .servizi-item {
        height: auto;
        min-height: 92px;
        display: block;
    }
    .servizi-item-wrap .servizi-item h4 {
        display: block;
        font-size: 20px;
        font-weight: lighter;
    }
    #homepage .servizi-item-wrap .servizi-item h4{
        font-weight: 400;
    }
}
/*md*/

@media (min-width: 992px) {}
/*lg*/

@media (min-width: 1200px) {}