@import url(fonts.css);

/*
    Colori:

        grigio scuro:   #535353
        grigio chiaro:  #f0f0f0
        giallo:         #eedc00
        blu:            #0047bb
*/

body {
    margin-top: 40px!important;
}
body.noBar {
    margin-top: 0px!important;
}
.clear{
    clear:both;
}
#header_poste_italiane{
    font-family: 'Open Sans', sans-serif;
}
#header_poste_italiane a {
    color: #0047bb !important;
    background-color: inherit !important;
}
#header_poste_italiane a:visited, #header_poste_italiane a:focus, #header_poste_italiane a:hover {
    color: #0047bb !important;
}
#header_poste_italiane .uppercase {
    text-transform: uppercase;
}
#header_poste_italiane .bold {
    font-weight: bold;
}
/*===HEADER===*/

.nav_resp_pi {} #header_poste_italiane * {
    box-sizing: border-box;
}
#header_poste_italiane {
    text-align: center;
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9990;
    font-family: 'Open Sans', sans-serif;
    color: #535353;
    font-size: 14px;
    height: 40px;
}
#header_poste_italiane #mega-logo-posteitaliane,
#header_poste_italiane #mega-logo-posteitaliane a,
#header_poste_italiane #mega-logo-posteitaliane a img {
    float: left;
    width: 139px;
    height: 40px;
    display: block;
}
#header_poste_italiane #mega-logo-posteitaliane a img{
    border: none;
}
#header_poste_italiane.con_avviso {
    top: 2em;
}
/*
#header_poste_italiane #mega-logo-posteitaliane a{
    display: block;
    background-image: url(../immagini/poste_italiane.png);
    width: 139px;
    height: 40px;
}*/

/*===Navigation===*/

#menu-mobile-hm {
    display: none;
    cursor: pointer;
}
div#navigation {
    clear: both;
    text-align: left;
    margin: 0 auto;
    background: #f0f0f0;
    position: relative;
    z-index: 9990;
    /*v1
    max-width: 1238px;
    */
    min-width: 960px;
}
.nav_resp_pi div#navigation {
    min-width: 150px;
}
div#navigation ul {
    padding: 0;
    position: relative;
    list-style: none;
    margin: 0;
}
div#navigation ul.menu-ul {
    margin-left: 139px;
}
div#navigation ul:after {
    content: "";
    clear: both;
    display: block;
}
div#navigation ul li {
    float: left;
    padding: 0 15px;
}
div#navigation ul li#pi_azienda {
    float: right;
}
div#navigation ul li#pi_altro {
    float: right;
}
div#navigation ul li.pi_servizio > a {
    height: 40px;
    line-height: 40px;
}
.pi_servizio:hover,
.pi_servizio a:hover,
.pi_servizio_active {
    background-color: #fff;
    color: inherit;
}
div#navigation ul li a {
    /*display: block;
    font-size: 0.9em;*/
    text-decoration: none;
    padding: 0;
    /*height: 40px;
    line-height: 40px;*/
}
div#navigation ul li a:hover {
    background-color: inherit;
    color: #0047bb;
}
div#navigation ul div.navigation_submenu {
    display: none;
}
div#navigation ul li:hover > div.navigation_submenu {
    display: block;
}
div#navigation ul li.nohover:hover > div.navigation_submenu {
    display: none;
}
div#navigation ul div.navigation_submenu {
    background: #f0f0f0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 30px 0 45px 0;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #eedc00;
    text-align: center;
    opacity: 0.95;
}
div#navigation .navigation_submenu_container .navigation_submenu_cta {
    display: block;
    background-color: #eedc00 !important;
    width: 220px;
    line-height: 45px;
    text-align: left;
    padding: 0 20px!important;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: -48px;
    left: 0;
    font-size: 13px;
    background-image: url("../../immagini/icone/icone-gialle/gi__vai.png");
    background-repeat: no-repeat;
    background-position: 170px 1px;
}
div#navigation .navigation_submenu_container a.navigation_submenu_cta:hover{
    background-color: #eedc00!important;
}
.navigation_submenu_container {
    width: 940px;
    /*margin: 0 auto;*/
    text-align: left;
    position: relative;
}
div#navigation ul div.navigation_submenu li {
    float: none;
    position: relative;
    padding: 0;
    font-size: 13px;
}
div#navigation ul div.navigation_submenu li a {
    /*height: 35px;
    line-height: 35px;*/
}
div#navigation ul div.navigation_submenu li a:hover {
    text-decoration: underline;
}
/* colonne dei sottomenu */

.navigation_submenu_col {
    float: left;
    /*width: 25%;*/
    width: 220px;
}
.navigation_submenu_col ul {
    margin-bottom: 25px!important;
}
.navigation_submenu_col1 ul li {
    line-height: 24px;
}
.navigation_submenu_col2,
.navigation_submenu_col3,
.navigation_submenu_col4{
    padding-left: 20px;
    margin-right: 20px;
}
.navigation_submenu_col2 ul li,
.navigation_submenu_col3 ul li,
.navigation_submenu_col4 ul li {
    line-height: 24px;
}
.navigation_submenu_col h3 {
    color: #535353;
    background-color: inherit;
    padding: 0;
    margin: 0 0 8px 0;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

/*===BUTTON FOR RESPONSIVE MENU===*/

.btn-responsive-menu {
    display: none;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.icon-bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color: #f4421a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.show {
    display: block!important;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/*
    /* Custom, iPhone Retina 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones  
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets 
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops 
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens 
    @media only screen and (min-width : 1200px) {

    }

*/
    #menu-mobile-hm-user{
        display: none;
    }
    #menu-mobile-hm-login{
        display: none;
    }
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1238px) {}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .nav_resp_pi div#navigation ul li {
        padding: 0 9px;
    }
}
/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
 
    .nav_resp_pi #menu-mobile-hm-user{
        display: block;
    }
    .nav_resp_pi #menu-mobile-hm-login{
        display: block;
    }
    .nav_resp_pi #menu-mobile-hm {
        display: block;
        position: absolute;
        right: 15px;
        top: 12px;
        height: 25px;
    }
    .nav_resp_pi #menu-mobile-hm-login{
        display: block;
        position: absolute;
        right: 55px;
        top: 8px;
    }
    .nav_resp_pi #menu-mobile-hm-login img{
        height: 24px;
        overflow: hidden;
    }
    
    .nav_resp_pi #menu-mobile-hm-user{
        display: block;
        position: absolute;
        right: 90px;
        top: 7px;
    }
    .nav_resp_pi #menu-mobile-hm-user img{
        height: 24px;
        overflow: hidden;
        margin-right: 7px;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-active ul {
        display: block;
    }
    .nav_resp_pi div#navigation ul.menu-ul {
        margin-left: 0;
    }
    .nav_resp_pi div#navigation ul li a {
        height: 40px;
        line-height: 40px;
    }
    .nav_resp_pi #scrollable-menu-ext {
        overflow: hidden;
        display: none;
    }
    .nav_resp_pi #scrollable-menu-int {
        width: 102%;
        display: inline-block;
        white-space: nowrap;
    }
    .nav_resp_pi .scrollable-menu-ext-v1 #scrollable-menu-int {
        overflow-x: scroll;
        overflow-y: hidden;
        background-color: #fff;
        min-height: 42px;
    }
    .nav_resp_pi .scrollable-menu-ext-v2 #scrollable-menu-int {
        overflow-x: hidden;
        background-color: #e4e4e4;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-active {
        display: block!important;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-v1 {
        background-color: #fff;
        padding: 5px 20px 0 10px;
        margin-top: 0px;
        margin-right: -10px;
        margin-left: -10px;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-v1. ul.menu-ul {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-v1 ul.menu-ul li {
        float: none!important;
        display: inline-block;
        height: 34px;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-v1 ul.menu-ul li a.active-el {
        color: #a3a3a3;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-v2 {
        /* background-color: #e4e4e4; */
    }
    
    .nav_resp_pi div#navigation .scrollable-menu-ext-v2 ul.menu-ul li {
        float: none;
        width: 100%;
        border-bottom: 2px solid #fff;
    }
    .nav_resp_pi div#navigation .scrollable-menu-ext-v2 ul.menu-ul li:first-child {
        border-top: 2px solid #fff;
    }
    .nav_resp_pi div#navigation ul li:hover > div.navigation_submenu {
        display: none;
    }
    #header_poste_italiane.nav_resp_pi #mega-logo-posteitaliane,
    #header_poste_italiane.nav_resp_pi #mega-logo-posteitaliane a,
    #header_poste_italiane.nav_resp_pi #mega-logo-posteitaliane a img {
        float: none;
        clear: right;
    }
    .nav_resp_pi div#navigation ul li a {
        width: 100%;
        height: 100%;
        display: block;
    }
    #header_poste_italiane.nav_resp_pi,
    .nav_resp_pi div#navigation {
        background-color: #eedc00;
    }
    /* animation X */
    .nav_resp_pi .hamburger-container {
        margin: 0 auto;
        position: relative;
        cursor: pointer;
        width: 23px;
        height: 24px;
        border-radius: 50%;
    }
    .nav_resp_pi .hamburger-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #004ac3!important;
        margin-bottom: 5px;
        transition: all 600ms ease;
        border-radius: 4px;
    }
    .nav_resp_pi .hamburger-line {
        &: last-child {
            margin-bottom: 0;
        }
    }
    .nav_resp_pi .rotate-left {
        position: absolute;
        top: 28px;
        left: 0;
        transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        /* IE 9 */
        -webkit-transform: rotate(225deg);
        /* Chrome, Safari, Opera */
        transition: all 600ms ease;
        transition-delay: 200ms;
    }
    .nav_resp_pi .rotate-right {
        position: absolute;
        top: 28px;
        left: 0;
        transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
        /* IE 9 */
        -webkit-transform: rotate(-225deg);
        /* Chrome, Safari, Opera */
        transition: all 600ms ease;
    }
    .nav_resp_pi .hide-me {
        background: rgba(0, 0, 0, 0);
        margin-top: -20px;
        transition: all 600ms ease;
    }
    .nav_resp_pi .explanation {
        text-align: center;
    }
    /* bootstrap code */
    .nav_resp_pi .menu-mobile-hm {
        box-sizing: border-box;
        background: #fff;
    }
    .nav_resp_pi .hamburger-wrapper-container {
        margin: 0 auto;
        margin-top: 0;
    }
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix::before, .clearfix::after{
    content: " ";
    display: table;
}
.clearfix {
    display: inline-block;
}
.clearfix::after{
    clear: both;
}
.clearfix {
    display: block;
    zoom: 1;
}
