/* ###### paneltoolbox ###### */
/* override iw */
.header-pi .ls-area, .header-pi .ls-area-body{
	overflow: inherit;
}
/**/
.headertool {
    position: relative;
}
.headertool a{
    outline: 0;
    cursor: pointer;
}

.headertool-box-container {
    border: 1px solid #e4e4e4;
    border-bottom: 4px solid #eedc00;
    display: block;
    min-height: 175px;
    right: -50px;
    position: absolute;
    top: 76px;
    width: 245px;
    z-index: 3;
    background: #fff;
    opacity: 0;
}
.headertool-inner{
    padding: 15px 10px;
}
.headertool-inner  ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.headertool-inner ul li{
    float: left;
    width: 110px;
    margin: 10px 0;
}
.headertool-inner ul li span {
    display: block;
    margin-top: 5px;
}
.headertool-inner ul li a{
    display: block;
    text-align: center;
}

.headertool-active-ico{
    position: absolute;
    top: 45px;
    right: 14px;
    z-index: 4
}
/* ###### searchbox ###### */

.start-panel-search {
    cursor: pointer;
}

.search-box-container {
    /*    display: none;*/
    opacity: 0;
    width: 245px;
    z-index: 16;
    right: 0;
    position: absolute;
    top: 76px;
	border-left:1px solid #e4e4e4;
}

.search-box-item {
    /*opacity: 0;
    top: 50px;
    position: absolute;
    */
    padding: 0px;
    width: 245px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    position: relative/**/
    ;
}

.search-box-item a {
    text-transform: uppercase;
}

.search-box-item a.direct-search-link {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0px 55px 0 10px;
}

.search-box-item a.direct-search-link img {
    position: absolute;
    top: 0;
    right: 0;
}

.search-box-item-0 {
    height: 90px;
    padding: 15px 55px 15px 10px;
    background-image: url(/risorse/condivise/immagini/icone/cercadoppio_grigio.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.search-box-item-0 form {
    margin: 0;
    padding: 0;
}

.search-box-item-0 .search-box-item-button {
    background-color: transparent;
    border: medium none;
    height: 100%;
    max-height: 95px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 45px;
}

.search-box-item-0 .search-box-item-input {
    background-color: #ebebeb;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    font-style: italic;
    font-size: 12px;
    background-image: url(/risorse/home/immagini/informazioni.png);
    background-repeat: no-repeat;
    background-position: 150px 7px;
}

.search-box-active-ico {
    position: absolute;
    top: 45px;
    right: 14px;
    z-index: 4
}
