@charset "UTF-8";

body, .article, .container{
   width: 100%;
   float: none;
   background: #fff url(none);
   margin: 0; 
}

.lead-img-cont {
 clear: both;
}

nav.navbar.main-menu.clear, .mob-top-add, .navbar.city-menu-wrapper.article-sub-header, .morein-tag-cont, .nxt-prv-2-story-cont, .outbrain-main-cont.mobile-padding, .trending-menu, .exit_point, .header-top.footer-menu, nav.navbar.footer-main-menu, nav.navbar.footer-sub-menues, #storyNextPopUp, .back-top, .morein-tag-cont .related-artlc-cont, .spl-article-bottom, .ad-container.ad-box, .author-bottom, .breadcrumb, .article-topics-container    {
   display: none !important; 
}

h1.title {
 font-size: 250%;
 color: #133B5A;
 display: block;
}

body {
   font-family:  1em Helvetica, Arial, sans-serif;
   color: #000; 
}

a:link, a:visited {
   color: #133B5A;
   font-weight: bold;
   text-decoration: none; 
}
.printfooter {
   display : block;
}
