@charset "utf-8";

/*==================================================
Heading
Text
Unorderd List
Orderd List
Difinision List
Link
Table
Form
Layout
Box
Section
Option
==================================================*/


/*--------------------------------------------------
Heading 古いコード
--------------------------------------------------*/
	.head-02{
		clear:both;
		zoom:1;
	}
	
	.head-02 img{
		float:left;
		font-size:0;
	}
	
	.head-02 .more{
		float:right;
	}
	
	.head-03{
		font-size:1.17em;
		font-weight:bold;
		margin:6px 0 10px 10px;
		line-height:1;
	}
	
	.head-04{
		font-size:14px;
		margin:0;
		padding:4px 10px;
		background-color:#eee;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	
	div.head-05{
		margin-bottom:3px !important;
	}
	
	div.head-05:after{
		display:block;
		clear:both;
		height:0;
		visibility:hidden;
		content:".";
	}
	
	div.head-05 h1,
	div.head-05 h2,
	div.head-05 h3,
	div.head-05 h4,
	div.head-05 h5,
	div.head-05 h6{
		float:left;
		margin-top:6px;
	}
	
	div.head-05 h1 span,
	div.head-05 h2 span,
	div.head-05 h3 span,
	div.head-05 h4 span,
	div.head-05 h5 span,
	div.head-05 h6 span{
		font-weight:bold !important;
	}
	
	div.head-05 p{
		float:right;
		margin-bottom:0;
	}
	
	.head-06{
		font-weight:bold;
		font-size:1.7em;
		margin:20px 0 20px 0;
	}
/*--------------------------------------------------
Text
--------------------------------------------------*/
	strong.keyword{
		background-color:#ffdb6e;
	}
	a strong.keyword{
		text-decoration:underline;
	}

/*--------------------------------------------------
btn
--------------------------------------------------*/
	.btn_sp_ui a,
	.btn_sp_ui input {
		cursor: pointer;
		display: inline-block;
		padding: 0.4em 1em;
		text-align: center;
		text-decoration: none;
		vertical-align: top;
		white-space: nowrap;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		text-decoration:none;
	}
	
	
	.btn_sp_ui_A {
	}
	.btn_sp_ui_A a,
	.btn_sp_ui_A input {
		background-color: #ddcfbe;
		
		border: 1px solid #ded8d0;
		color:#3c3c3c;
	}
	.btn_sp_ui_A a:hover,
	.btn_sp_ui_A input:hover {
		filter: alpha(opacity=70);
		-moz-opacity:0.70;
		opacity:0.70;
	}
	
	.btn_sp_ui_B {
	}
	.btn_sp_ui_B a,
	.btn_sp_ui_B input {
		background-color: #787878;
		
		border: 1px solid #ded8d0;
		color:#fff;
	}
	.btn_sp_ui_B a:hover,
	.btn_sp_ui_B input:hover {
		filter: alpha(opacity=70);
		-moz-opacity:0.70;
		opacity:0.70;
	}
	
	

/*--------------------------------------------------
AD 
--------------------------------------------------*/
	.bnnWrap {
		}
	.bnnWrap ul {
		list-style:none;
		padding: 0;
	}
	.bnnWrap ul li {
		list-style:none;
		display:inline;
		float:left;
		margin-right: 1px;
		margin-bottom:6px;
	}
	.bnnWrap ul li:last-child {
		padding-bottom:0px;
		margin-bottom:0px;
	}
	
	.bnnWrap ul li.line{
	clear:both;
	background:url(../../200912/images/shared/line01.gif) repeat-x left center;
	width:300px;
	height:15px;
	overflow:hidden;
	}
	
	div#bnr1{
	margin-bottom:10px;
	}
	div#bnr2{
	margin-bottom:10px;
	}
	
	#LinkedAdBnrHead {
		width:1010px;
		height:80px;
		margin:15px auto 0;
		z-index:100;
	}
	#LinkedAdBnrPanelBox {
		position:relative;
		height:0;
	}
	#LinkedAdBnrPanelLeft {
		position:absolute;
		top:-104px;
		left:-180px;
		z-index:1500;
		width:150px;
		height:90px;
	}
	#LinkedAdBnrPanelRight {
		position:absolute;
		top:-104px;
		right:-180px;
		z-index:1500;
		width:150px;
		height:90px;
	}




/*--------------------------------------------------
Link
--------------------------------------------------*/

	/* 別ウィンドウ表示
	--------------------------*/
		a.window{
			padding-left:13px;
			background:url(../../200912/images/shared/icon_window.gif) no-repeat 0 1px;
		}

	/* もっと表示する
	--------------------------*/
		.more-01{
		margin-top:-10px;
		margin-right:10px;
		text-align:right;
		}
		
	/* ホームへ戻る
	--------------------------*/
		p.link-btn-01{
		padding-top:10px;
		text-align:center;
		margin-bottom:25px;
		}
	



/*--------------------------------------------------
shopListMap.htmlでのみ使用
--------------------------------------------------*/
	/* category-select
	--------------------------*/
		div.category-select{
			margin-bottom:20px;
			clear:both;
		}
		
			div.category-select ul.triple li{
				width:232px;
				margin-bottom:1px;
				zoom:1;
				float:left;
				font-size:12px;
				line-height:25px;
			}
				div.category-select ul.triple li.category_list_col_1 {
					width:192px;
				}
				div.category-select ul.triple li.category_list_col_2 {
					width:251px;
				}
				div.category-select ul.triple li.category_list_col_3 {
					width:279px;
				}
				div.category-select ul li.category-101 {background:url(../../201009/images/shared/icon_category101.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-102 {background:url(../../201009/images/shared/icon_category102.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-103 {background:url(../../201009/images/shared/icon_category103.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-104 {background:url(../../201009/images/shared/icon_category104.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-105 {background:url(../../201009/images/shared/icon_category105.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-106 {background:url(../../201009/images/shared/icon_category106.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-107 {background:url(../../201009/images/shared/icon_category107.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-108 {background:url(../../201009/images/shared/icon_category108.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-109 {background:url(../../201009/images/shared/icon_category109.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-110 {background:url(../../201009/images/shared/icon_category110.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-111 {background:url(../../201009/images/shared/icon_category111.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-112 {background:url(../../201009/images/shared/icon_category112.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-113 {background:url(../../201009/images/shared/icon_category113.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-114 {background:url(../../201009/images/shared/icon_category114.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-115 {background:url(../../201009/images/shared/icon_category115.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-116 {background:url(../../201009/images/shared/icon_category116.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-117 {background:url(../../201009/images/shared/icon_category117.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-118 {background:url(../../201009/images/shared/icon_category118.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-119 {background:url(../../201009/images/shared/icon_category119.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-120 {background:url(../../201009/images/shared/icon_category120.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-121 {background:url(../../201009/images/shared/icon_category121.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-122 {background:url(../../201009/images/shared/icon_category122.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-123 {background:url(../../201009/images/shared/icon_category123.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-124 {background:url(../../201009/images/shared/icon_category124.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-125 {background:url(../../201009/images/shared/icon_category125.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-126 {background:url(../../201009/images/shared/icon_category126.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-127 {background:url(../../201009/images/shared/icon_category127.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-128 {background:url(../../201009/images/shared/icon_category128.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-129 {background:url(../../201009/images/shared/icon_category129.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-130 {background:url(../../201009/images/shared/icon_category130.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-131 {background:url(../../201009/images/shared/icon_category131.gif) no-repeat 21px 3px;}
				div.category-select ul li.category-132 {background:url(../../201009/images/shared/icon_category132.gif) no-repeat 21px 3px;}
	
					div.category-select ul li label {
						padding:0 0 0 21px;
						position:relative;
					}
					div.category-select ul li .checkbox{
						display:block;
						margin:3px 5px 0 0;
						width:25px;
						height:25px;
						vertical-align:middle;
						position:absolute;
						top:0;
						left:0;
					}
					div.category-select ul li .text{
						padding:0 0 0 21px;
					}
					

/*--------------------------------------------------
チラシ一覧系で使用
--------------------------------------------------*/
	/* list-thumb
	--------------------------*/
		div.list-thumb{
		margin-bottom:20px;
		clear:both;
		}
			div.list-thumb p.category{
			font-weight:bold;
			margin-bottom:0;
			}
				div.list-thumb p.category span{
				padding:2px 0 0 22px;
				/padding-top:1px;
				display:block;
				min-height:19px;
				/min-height:20px;
				_height:20px;
				color:#444;
				}
				div.list-thumb p.category span.category-101{background:url(../../201009/images/shared/icon_category101.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-102{background:url(../../201009/images/shared/icon_category102.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-103{background:url(../../201009/images/shared/icon_category103.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-104{background:url(../../201009/images/shared/icon_category104.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-105{background:url(../../201009/images/shared/icon_category105.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-106{background:url(../../201009/images/shared/icon_category106.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-107{background:url(../../201009/images/shared/icon_category107.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-108{background:url(../../201009/images/shared/icon_category108.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-109{background:url(../../201009/images/shared/icon_category109.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-110{background:url(../../201009/images/shared/icon_category110.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-111{background:url(../../201009/images/shared/icon_category111.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-112{background:url(../../201009/images/shared/icon_category112.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-113{background:url(../../201009/images/shared/icon_category113.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-114{background:url(../../201009/images/shared/icon_category114.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-115{background:url(../../201009/images/shared/icon_category115.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-116{background:url(../../201009/images/shared/icon_category116.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-117{background:url(../../201009/images/shared/icon_category117.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-118{background:url(../../201009/images/shared/icon_category118.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-119{background:url(../../201009/images/shared/icon_category119.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-120{background:url(../../201009/images/shared/icon_category120.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-121{background:url(../../201009/images/shared/icon_category121.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-122{background:url(../../201009/images/shared/icon_category122.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-123{background:url(../../201009/images/shared/icon_category123.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-124{background:url(../../201009/images/shared/icon_category124.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-125{background:url(../../201009/images/shared/icon_category125.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-126{background:url(../../201009/images/shared/icon_category126.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-127{background:url(../../201009/images/shared/icon_category127.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-128{background:url(../../201009/images/shared/icon_category128.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-129{background:url(../../201009/images/shared/icon_category129.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-130{background:url(../../201009/images/shared/icon_category130.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-131{background:url(../../201009/images/shared/icon_category131.gif) no-repeat 0 0;}
				div.list-thumb p.category span.category-132{background:url(../../201009/images/shared/icon_category132.gif) no-repeat 0 0;}
	
			div.list-thumb p.image{
			margin:1px 0 5px;
			}
			div.list-thumb dl{
			line-height:1.33;
			display:block;
			}
				div.list-thumb dl dt{
				font-weight:bold;
				}
					div.list-thumb dl dd{
						text-align:right;
						font-size:smaller;
					}
						div.list-thumb dl dd a{
							text-decoration: none;
							cursor:pointer;
						}





/*--------------------------------------------------
ページャー
--------------------------------------------------*/
	.nav_page_box {
		margin:20px 0 20px;
		padding:10px 0 20px;
		text-align:center;
		vertical-align:top;
		border-top: 1px dotted #dbcfc0;
	}
	.nav_page_box_top {
		position:relative;
		padding:10px 0 5px;
		margin:0 0 10px;
		border-bottom: 1px dotted #dbcfc0;
		border-top: none;
		text-align:left;
	}
	.nav_page_box_bottom {
		position:relative;
		padding:5px 0 10px 0;
		margin:0 0 0;
		text-align:left;
	}
	
		.result_count {
			width:210px;
			margin:0;
			text-align:left;
		}
		.nav_page_box_top .result_count,
		.nav_page_box_bottom .result_count {
			float:left;
			z-index:200;
			line-height:20px;
		}
		.result_count_s {
			padding:5px 0 0 10px;
			margin:0;
		}
			.result_count em,
			.result_count_s em {
				color:#e71e0a;
			}
	
		.nav_page{
			position:relative;
			right:0;
			margin:0;
			font-size:14px;
		}
		.nav_page_box_top .nav_page,
		.nav_page_box_bottom .nav_page {
			display:block;
			text-align:right;
			font-size:12px;
			z-index:100;
		}
	
			.nav_page_item {
				position:relative;
				padding:0 5px;
				line-height:24px;
				display:inline;
			}
			.nav_page_box_top .nav_page_item,
			.nav_page_box_bottom .nav_page_item {
				position:relative;
				padding:0 5px;
				line-height:20px;
			}
				.nav_page_item a {
				}
				.nav_page_item a:hover {
				}
		
				.nav_page_item_current a {
					font-weight:bold;
					color:#000;
					text-decoration:none;
				}
					.nav_page_item a .non {
						display:none;
					}
	
			.nav_page_item_prev {
			}
				.nav_page_item_prev a {
				}
					.nav_page_item_prev a span {
						padding:0 5px 0 0;
					}
					div.nav_page_box_top .nav_page_item_prev a span,
					div.nav_page_box_bottom .nav_page_item_prev a span {
					}
				.nav_page_item_prev a:hover {
				}
		
			.nav_page_item_next {
			}
				.nav_page_item_next a {
				}
					.nav_page_item_next a span {
						padding:0 0 0 5px;
					}
					.nav_page_box_top .nav_page_item_next a span,
					.nav_page_box_bottom .nav_page_item_next a span {
					}
				.nav_page_item_next a:hover {
				}
		

/*--------------------------------------------------
店名、住所検索 系ページでのみ使用
--------------------------------------------------*/
	/* list-result
	--------------------------*/
		ul.list-result-01 li.row-odd,
		ul.list-result-02 li.row-odd{
			background-color:#f6f2ee;
		}
		
		ul.list-result-01 {
			margin:0 0 20px 0;
		}
		
			ul.list-result-01 li {
				padding:7px 0;
				margin:0 10px;
				border-bottom:1px dotted #e9e1d5;
				clear:both;
				line-height:1.33;
			}
			
				ul.list-result-01 dl {
				}
				
				ul.list-result-01 dl:after {
					display:block;
					clear:both;
					height:0;
					visibility:hidden;
					content:".";
				}
				
					ul.list-result-01 dl dt {
						float:left;
						width:305px;
						border-right:1px solid #fff;
					}
					
						ul.list-result-01 dl dt span.publish {
							margin:2px 10px 0 0;
							width:44px;
							float:left;
							display:block;
						}
						
						ul.list-result-01 dl dt a {
							word-break:break-word;
						}
						
						
					ul.list-result-01 dl dd {
						float:right;
						width:284px;
						position:relative;
					}
						ul.list-result-01 dl dd span.zip-code {
							position:absolute;
							top:0;
							left:10px;
							width:80px;
						}
						
						ul.list-result-01 dl dd span.address {
							display:block;
							padding:0 0 0 90px;
							word-break:break-word;
						}
						
						ul.list-result-01 li span.date {
							color:#e7210b;
							font-weight:bold;
							float:left;
							width:6.5em;
							word-break:break-all;
							font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka-mono", Osaka-mono, monospace;
					}
		
	
		ul.list-result-02 {
			margin:0 -2px 20px 0px;
			overflow:hidden;
		}
			ul.list-result-02 li {
				float:left;
				width:203px;
				margin-right:1px;
				background-color:#fff;
				line-height:1.33;
			}
				ul.list-result-02 li a {
					display:block;
					padding:7px 0;
					margin:0 10px;
					border-bottom:1px dotted #e9e1d5;
				}
		
	/* .nav-head *2015-07追記
	--------------------------*/
	.nav-head {
		position:relative;
		margin:5px 0 20px 0;
	}
		.nav_head_ttl {
			font-size:20px;
		}
		
	/* .nav-option *2015-07追記
	--------------------------*/
	.nav-option {
		margin:20px 0;
		min-height:26px;
		height:auto !important;
		height:26px;
		position:relative;
	}
		.nav_option_published {
			font-size:14px;
			line-height:26px;
		}
		.nav_option_category_search	{
			position:absolute;
			bottom:0;
			right:0;
			width:165px;
			height:26px;
			background-position:-2px -533px;
		}
		
	/* .nav-search *2015-07追記
	--------------------------*/
	.nav-search {
		padding:0 0 15px;
		
	}
		.nav_search_unit {
			float:left;
		}
			.nav_search_ttl {
				position: relative;
				padding: 0 0 0 26px;
				font-size: 14px;
				line-height: 32px;
				height: 32px;
			}
				.nav_search_ttl .icon {
					 position: absolute;
				}
		.nav_search_keyword {
			width:300px;
		}
			.nav_search_keyword_ttl {

			}
				.nav_search_keyword_ttl .icon {
					left: 0;
					top: 8px;
					width: 17px;
					height: 17px;
					background-position: -2px -50px;
				}
			.nav_search_keyword_form {
			}
				.nav_search_keyword_form .search_main_area {
					margin: 0 0 4px;
					padding: 0 68px 0 0;
				}
		.nav_search_or {
			width:80px;
			text-align:center;
			position:relative;
			padding:8px 0 0;
		}
			.nav_search_or_text {
				font-size:12px;
				margin:0 0 10px;
			}
			.nav_search_or_sep {
				width:1px;
				height:30px;
				border-right:1px dotted #e9e1d5;
				margin:0 auto;
			}
		.nav_search_shopname {
			width:150px;
		}
			.nav_search_shopname_ttl {

			}
				.nav_search_shopname_ttl .icon {
					left: 1px;
					top: 7px;
					width: 20px;
					height: 18px;
					background-position: -21px -50px;
				}
			.nav_search_shopname_btn {
				width: 154px;
				height: 29px;
				background-position: -169px -533px;
			}
				
			



	/* nav-content
	--------------------------*/
		div.nav-content {
			margin-bottom:20px;
			background-color: #fff;
			border: 1px solid #eee;
			overflow:hidden;
			font-size:14px;
		}

			.nav_content_anchor_list {
				padding:5px 0;
				display:block;
				zoom:1;
				vertical-align:middle;
			}				
					.nav_content_anchor_list li {
						float:left;
						padding:0 10px 0 7px;
						white-space:nowrap;
						line-height:1.5;
					}
					
						.nav_content_anchor_list li a,
						.nav_content_anchor_list li span {
							display:block;
							position:relative;
							padding-left:18px;
						}						
						.nav_content_anchor_list li span {
							text-decoration:underline;
							color:#ccc;
						}
							.nav_content_anchor_list li .icon {
								width:8px;
								height:6px;
								background-position: -77px -80px;
								position:absolute;
								left:5px;
								top:8px;
							}

	/* seach_result_view_type_navi
	--------------------------*/
	.seach_result_view_type_navi {
		display: block;
		position: relative;
		font-size: 12px;
		padding: 6px 10px;
		margin:0 0 5px;
		background-color: #edf4fe;
		border-top: 1px dotted #b3d1f8;
		border-bottom: 1px dotted #b3d1f8;
		line-height: 25px;
	}
		.seach_result_view_type_navi .text {
			width:320px;
			float:left;
		}
		.seach_result_view_type_navi .seach_result_view_type_navi_btn_box {
			width:320px;
			float:right;
		}
			.seach_result_view_type_navi .seach_result_view_type_navi_inner {
				line-height: 25px;
				margin:0 auto;
				float:left;
			}
				.seach_result_view_type_navi .seach_result_view_type_navi_btn_item {
					display:block;
					float:left;
				}
				.seach_result_view_type_navi .sep {
					display:block;
					float:left;
					width:2em;
					text-align:center;
				}
				.seach_result_type_navi .seach_result_type_navi_btn_item strong {
				}
	
	.seach_result_type_navi {
		display: block;
	}
		.seach_result_type_navi .text {
			text-align:center;
			margin:0 0 5px;
		}
			.seach_result_type_navi_btn_box {
				display: block;
				position: relative;
				font-size: 12px;
				padding: 6px 10px;
				margin:0 0 25px;
				background-color: #edf4fe;
				border-top: 1px dotted #b3d1f8;
				border-bottom: 1px dotted #b3d1f8;
			}
				.seach_result_type_navi .seach_result_type_navi_btn_box_inner {
					width:22em;
					line-height: 25px;
					margin:0 auto;
					line-height: 25px;
				}
					.seach_result_type_navi .seach_result_type_navi_btn_item {
						display:block;
						float:left;
					}
					.seach_result_type_navi .sep {
						display:block;
						float:left;
						width:2em;
						text-align:center;
					}
					.seach_result_type_navi .seach_result_type_navi_btn_item strong {
					}

/*--------------------------------------------------
historyChirashiList.htmlでのみ使われている
--------------------------------------------------*/
	/* list-thumb-01
	--------------------------*/
		.list-thumb-01{
			margin-bottom:10px;
		}
		
		.list-thumb-01 p.title{
			margin-bottom:20px;
		}
	
/*--------------------------------------------------
shopListMap.htmlでのみ使われている
--------------------------------------------------*/
	dl.nav-display {
	}
	dl.nav-display dt,
	dl.nav-display dd,
	dl.nav-display ul,
	dl.nav-display ul li{
		display:inline;
		float:left;
	}
	dl.nav-display dt{
		float:left;
		padding:4px 0 1px;
	}
	dl.nav-display dd{
		float:left;
		padding:4px 0 1px;
	}
	dl.nav-display ul{
		margin-bottom:0;
	}
	dl.nav-display ul li{
		float:left;
		padding:4px 8px 1px;
	}
	dl.nav-display ul li.current{
		float:left;
	}
	dl.nav-display ul li.current a{
		text-decoration:none;
		color:#333;
	}
	dl.nav-display ul li.first{
		border-right:none;
		float:left;
	}
	dl.nav-display:after{
		display:block;
		clear:both;
		height:0;
		visibility:hidden;
		content:".";
	}
	p.nav-display{
		float:left;
		margin:3px 0 4px 0;
	}
	p.nav-display a.cssover:hover img {
		filter: alpha(opacity=75);
		-moz-opacity:0.75;
		opacity:0.75;
	}


/*--------------------------------------------------
Layout 一覧系のみ使ってる
--------------------------------------------------*/
	body.column-2A div#main-content div.quadruple{
		margin-right:-10px;
	}
	
	body.column-2A div#main-content div.quadruple div.block{
		width:173px;
		float:left;
		margin:0 10px 0 0;
		/display:inline;
	}
	body.column-2F div#main-content div.quadruple{
	}
	body.column-2F div#main-content div.quadruple div.block{
		position:relative;
		width:165px;
		float:left;
		z-index:10;
		margin:0 0 10px;
	}
	body.column-2F div#main-content div.quadruple_150 div.block{
		width:165px;
		float:left;
		z-index:10;
	}
	body.column-2F div#main-content div.quadruple_150 div.block .title{
		width:150px;
	}
	body.column-2F div#main-content div.quadruple p.category{
		width:138px;
		margin:0 auto 3px;
	}
	body.column-2F div#main-content div.quadruple dl{
		width:138px;
		margin:0 auto;
	}
	body.column-2F div#main-content div.quadruple div.on{
		position:relative;
		z-index:20;
	}
	


/*--------------------------------------------------
Box
--------------------------------------------------*/
/* shopListMap.htmlでのみ使用
--------------------------*/
	div.box-thumbnail{
		overflow:auto;
		margin:0 -8px 5px -8px;
		padding:5px 5px 0 5px;
	}
	
	div.box-thumbnail ul li{
		clear:both;
	}
	
	div.box-thumbnail ul li a{
		display:block;
		padding:5px;
		overflow:hidden;
		height:100%;
	}
	
	div.box-thumbnail ul li a:hover,
	div.box-thumbnail ul li a:active,
	div.box-thumbnail ul li a:focus{
		background-color:#ffecb2;
		display:block;
		padding:5px;
		overflow:hidden;
		height:100%;
	}
	
	div.box-thumbnail ul li span.image{
		width:74px;
		margin:0 0 2px 0;
		display:block;
		float:left;
	}
	
	div.box-thumbnail ul li strong{
		display:block;
		font-weight:normal;
		line-height:1.33;
	}
	
	div.box-thumbnail ul li strong span{
		text-decoration:none;
	}
	
	div.box-thumbnail ul li strong span.title{
		text-decoration:underline;
	}
	
	div.box-thumbnail ul li strong span.new{
		color:#e22500;
		font-weight:bold;
	}
	
	div.box-thumbnail ul li strong span.mirutoku{
		color:#009b5e;
		font-weight:bold;
	}
	
	div.box-thumbnail ul li strong span.first,
	div.box-thumbnail ul li strong span.end,
	div.box-thumbnail ul li strong span.nomal{
		color:#0033CC;
		font-weight:bold;
	}
	
	div.box-thumbnail.thumb-01{
		height:270px;
	}
	
	div.box-thumbnail.thumb-02{
		height:285px;
		margin:0;
		background-color: #fff;
		border-top: 1px solid #dbcfc0;
	}

/*--------------------------------------------------
チラシ一覧ヘッダーパーツ
--------------------------------------------------*/
	
		.head_search_result{
			position:relative;
			padding:5px 0 46px 0;
			margin:0 0 10px;
		}
		.head_search_result_s {
			padding:0;
		}
			.head_search_result .text,
			.head_search_result_s .text{
				font-size:18px;
				margin:0;
				font-weight:bold;
			}
		
			.head_search_result .btn_myarea_set {
				position:absolute;
				bottom:0;
				right:0;
				width:141px;
				height:26px;
				background-position:-2px -564px;
			}

			.head_search_result .btn_myarea_edit {
				position:absolute;
				bottom:0;
				right:0;
				width:164px;
				height:26px;
				background-position:-145px -564px;
			}

			
/*--------------------------------------------------
チラシ一覧　オプション
--------------------------------------------------*/		
	.chirashi_list_option {
		position:relative;
		margin:0 0 10px;
	}
		.chirashi_list_option_sort {

		}
			.chirashi_list_option_sort_btn {
			}
				.chirashi_list_option_sort_btn a {
					padding-right: 20px;
					position:relative;
				}
					.chirashi_list_option_sort_btn a .arrow {
						background-position:-86px -80px;
						width:8px;
						height:6px;
						position:absolute;
						top:10px;
						right:7px;
					}
			.chirashi_list_option_sort_select {
				display:none;
				width: 62px;
				z-index: 12;
				position: absolute;
				top: 100%;
				left: 0;
			}
				.chirashi_list_option_sort_select_inner {
					border: 1px solid #aca69f;
					padding: 0;
					margin: 2px 0 0;
					-webkit-border-radius: 4px;
					border-radius: 4px;
				}
					.chirashi_list_option_sort_select li a {
						font-size: 12px;
						background-color: #ffffff;
						color: #3c3c3c;
						display: block;
						margin: 0;
						padding: 7px 0 6px;
						text-align: center;
						border-bottom: 1px dotted #aca69f;
					}
					.chirashi_list_option_sort_select li.act a {
						font-size: 12px;
						color: #999;
						background-color: #f4f0ea;
						display: block;
						margin: 0;
						padding: 7px 0 6px;
						text-align: center;
						border-bottom: 1px dotted #aca69f;
					}
					
					.chirashi_list_option_sort_select li:first-child a {
						-webkit-border-top-left-radius: 2px;
						border-top-left-radius: 2px;
						-webkit-border-top-right-radius: 2px;
						border-top-right-radius: 2px;
						-webkit-border-bottom-left-radius: 0px;
						border-bottom-left-radius: 0px;
						-webkit-border-bottom-right-radius: 0px;
						border-bottom-right-radius: 0px;
					}
					.chirashi_list_option_sort_select li:last-child a {
						-webkit-border-top-left-radius: 0px;
						border-top-left-radius: 0px;
						-webkit-border-top-right-radius: 0px;
						border-top-right-radius: 0px;
						-webkit-border-bottom-left-radius: 2px;
						border-bottom-left-radius: 2px;
						-webkit-border-bottom-right-radius: 2px;
						border-bottom-right-radius: 2px;
						border: none;
					}
				
		.chirashi_list_option_filters {
			position:absolute;
			top:0;
			right:0;
			width: 74px;
		}
			.chirashi_list_option_filters a {
				display:block;
			}

.category_filters_box {
	
}
	.category_filters_head {
		font-size:12px;
		text-align:center;
		padding: 10px 0 5px 0;
        border-bottom: 1px solid #CCBBA8;
	}	
	.category_filters_select {
		height:420px;
		width:270px;
		overflow:auto;
	}
		.cfs_item {
			position: relative;
            border-bottom: 1px dotted #aca69f;
		}
			.cfs_item a {
				display: block;
				height: 43px;
                color: #404040;
                
                line-height: 1.35;
                padding: 3px 10px 0 0;
                text-decoration: none;
			}
            .cfs_item a:hover {
                background-color: #f7f7f7;
                text-decoration: none;
            }
                .cfs_item_inner {
                    display: table-cell;
                    height: 43px;
                    vertical-align: middle;
                }
                    .cfs_item a .icon {
                        width: 25px;
                        height: 25px;
                        background-position: -300px 0;
                        position: absolute;
                        top: 11px;
                        left: 15px;
                    }
                    .cfs_item_on a .icon {
                        background-position: -325px 0;
                    }
            .cfs_item_level_1 a {
                padding-left: 54px;
            }
                .cfs_item_level_1 a .icon {
                    left: 17px;
                }
            .cfs_item_level_2 a {
                padding-left: 64px;
            }
                .cfs_item_level_2 a .icon {
                    left: 27px;
                }
        .cfs_item:last-child {
            border-bottom:none;
        }
	.category_filters_foot {
		border-top: 1px solid #CCBBA8;
		font-size:12px;
		text-align:center;
		padding: 8px 0;
	}
        .category_filters_go a {
            display:block;
            font-size:12px;
            font-weight:bold;
            color:#3c3c3c !important;
            background-color:#ddcfbe;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin: 0 30px;
            height:25px;
            line-height:25px;
            padding: 1px 0 0;
            text-align:center;
            position: relative;
		}
        .category_filters_go a:hover {
            text-decoration: none;
        }
		.category_filters_go_off {
            filter: alpha(opacity=50);
            -moz-opacity:0.50;
            opacity:0.50;
		}
						
		
/*--------------------------------------------------
チラシ一覧　チラシリスト
--------------------------------------------------*/
.chirashi_list {
	margin:0 0 0 -9px;
	width:630px;
}
	.chirashi_list_unit {
	}
		.chirashi_list_box {
			width:157px;
			height:204px;
			float:left;
			position:relative;
		}
			.chirashi_list_item {
				display:block;
				padding:2px 8px 2.25px 9px;
			}
				.chirashi_list_item a {
					color:#471700;
					display:block;
				}
					.chirashi_list_item_thumb {
						display:block;
						height:85px;
						position:relative;
					}
						.pr_chirashi .chirashi_list_item_thumb .border_box {
							display:block;
							border:2px solid #ffba00;
							position:absolute;
							top:-2px;
							left:-2px;
							z-index:2;
						}
							.pr_chirashi .chirashi_list_item_thumb .border_box_inner {
								display:block;
								width:138px;
								height:85px;
								position:relative;
							}
								.pr_chirashi .chirashi_list_item_thumb .border_box_icon {
									width:36px;
									height:20px;
									background-position:-2px -176px;
									position:absolute;
									top:-2px;
									left:-2px;
								}
						.block_ticker {
							width:40px;
							height:20px;
							position:absolute;
							top:-8px;
							left:1px;
						}
						.block_ticker_today {
							background-position:-2px -154px;
						}
						.block_ticker_tomorrow {
							background-position:-44px -154px;
						}
						.chirashi_list_item_thumb img {
						}
					.chirashi_list_item_info {
						display:block;
						padding:8px 0;
					}
						.chirashi_list_item_name {
							display:block;
							color:#505050;
							font-size:14px;
							line-height:18px;
							border-bottom:1px solid #e9e1d5;
							margin:0 0 6px;
							padding:0 0 5px;
							word-break:break-all;
						}
							.chirashi_list_item_name_str {
								display:block;
								overflow:hidden;
							}
						.chirashi_list_item_title {
							display:block;
							color:#505050;
							font-size:11px;
							line-height:14px;
							word-break:break-all;
						}
						
						.chirashi_list_item a:visited .chirashi_list_item_name, 
						.chirashi_list_item a:visited .chirashi_list_item_title {
							color:#949494;
						}
						.chirashi_list_item a:hover .chirashi_list_item_name, 
						.chirashi_list_item a:hover .chirashi_list_item_title {
							color:#3baae4;
							text-decoration:underline;
						}
						
			.btn_chirashi_list_other_shop {
				display:block;
				font-size:10px;
				margin:0 9px;
				text-align:right;
			}
			.chirashi_list_box a.btn_favorite {
				position:absolute;
				height:25px;
				width:25px;
				z-index:20;
				top:-5px;
				right:8px;
				cursor:pointer;
				background-position:-126px -110px;
				z-index:3;
			}
			.pr_chirashi a.btn_favorite {
				top: 2px;
				right: 11px;
			}
			.chirashi_list_box a.btn_favorite:hover,
			.chirashi_list_box a.btn_favorite_on {
				background-position:-126px -137px;
			}
			
.chirashi_list_other_shop_box {
	height:150px;
	width:240px;
	overflow:auto;
}
	.chirashi_list_other_shop_box li {
		border-bottom: 1px dotted #CCBBA8;
	}
  		.chirashi_list_other_shop_box li a {
			display: block;
			padding: 6px 10px 5px 30px;
			position: relative;
		}
			.chirashi_list_other_shop_box li a i.icon {
				width: 6px;
				height: 8px;
				background-position: -15px -80px;
				position: absolute;
				top: 11px;
				left: 15px;
			}
						
	


/*--------------------------------------------------
Option 古めのコード
--------------------------------------------------*/
.data-01{
font-size:0.92em;
}

.text-01{
font-size:0.92em;
letter-spacing:-1px;
line-height:1.09;
}

.text-02{
font-size:0.92em;
letter-spacing:-1px;
}

.text-03{
font-size:0.83em;
}

.separate{
padding-top:10px;
background:url(../../200912/images/shared/line01.gif) repeat-x 0 0;
}

.align-l{
text-align:left !important;
}

.align-r{
text-align:right !important;
}

.align-c{
text-align:center !important;
}

.mb-00{
margin-bottom:0px !important;
}

.mb-05{
margin-bottom:5px !important;
}

.mb-08{
margin-bottom:8px !important;
}

.mb-10{
margin-bottom:10px !important;
}

.mb-20{
margin-bottom:20px !important;
}

.mb-30{
margin-bottom:30px !important;
}

.mt-05{
margin-top:5px !important;
}

.mt-10{
margin-top:10px !important;
}

.mt-15{
margin-top:15px !important;
}

/*--------------------------------------------------
Other
--------------------------------------------------*/


/* 古い左カラムに使われているコード
--------------------------*/
	p.type-01{
		margin:-4px 0 2px;
	}

	ul.nav-category li{
		margin-bottom:1px;
	}
	
		ul.nav-category li a{
			padding:2px 0 0 20px;
			display:block;
			min-height:19px;
			_height:19px;
		}
	
		/**new category番号に修正 IAJ**/
		ul.nav-category li.category-101 a{background:url(../../201009/images/shared/icon_category101.gif) no-repeat 0 0;}
		ul.nav-category li.category-102 a{background:url(../../201009/images/shared/icon_category102.gif) no-repeat 0 0;}
		ul.nav-category li.category-103 a{background:url(../../201009/images/shared/icon_category103.gif) no-repeat 0 0;}
		ul.nav-category li.category-104 a{background:url(../../201009/images/shared/icon_category104.gif) no-repeat 0 0;}
		ul.nav-category li.category-105 a{background:url(../../201009/images/shared/icon_category105.gif) no-repeat 0 0;}
		ul.nav-category li.category-106 a{background:url(../../201009/images/shared/icon_category106.gif) no-repeat 0 0;}
		ul.nav-category li.category-107 a{background:url(../../201009/images/shared/icon_category107.gif) no-repeat 0 0;}
		ul.nav-category li.category-108 a{background:url(../../201009/images/shared/icon_category108.gif) no-repeat 0 0;}
		ul.nav-category li.category-109 a{background:url(../../201009/images/shared/icon_category109.gif) no-repeat 0 0;}
		ul.nav-category li.category-110 a{background:url(../../201009/images/shared/icon_category110.gif) no-repeat 0 0;}
		ul.nav-category li.category-111 a{background:url(../../201009/images/shared/icon_category111.gif) no-repeat 0 0;}
		ul.nav-category li.category-112 a{background:url(../../201009/images/shared/icon_category112.gif) no-repeat 0 0;}
		ul.nav-category li.category-113 a{background:url(../../201009/images/shared/icon_category113.gif) no-repeat 0 0;}
		ul.nav-category li.category-114 a{background:url(../../201009/images/shared/icon_category114.gif) no-repeat 0 0;}
		ul.nav-category li.category-115 a{background:url(../../201009/images/shared/icon_category115.gif) no-repeat 0 0;}
		ul.nav-category li.category-116 a{background:url(../../201009/images/shared/icon_category116.gif) no-repeat 0 0;}
		ul.nav-category li.category-117 a{background:url(../../201009/images/shared/icon_category117.gif) no-repeat 0 0;}
		ul.nav-category li.category-118 a{background:url(../../201009/images/shared/icon_category118.gif) no-repeat 0 0;}
		ul.nav-category li.category-119 a{background:url(../../201009/images/shared/icon_category119.gif) no-repeat 0 0;}
		ul.nav-category li.category-120 a{background:url(../../201009/images/shared/icon_category120.gif) no-repeat 0 0;}
		ul.nav-category li.category-121 a{background:url(../../201009/images/shared/icon_category121.gif) no-repeat 0 0;}
		ul.nav-category li.category-122 a{background:url(../../201009/images/shared/icon_category122.gif) no-repeat 0 0;}
		ul.nav-category li.category-123 a{background:url(../../201009/images/shared/icon_category123.gif) no-repeat 0 0;}
		ul.nav-category li.category-124 a{background:url(../../201009/images/shared/icon_category124.gif) no-repeat 0 0;}
		ul.nav-category li.category-125 a{background:url(../../201009/images/shared/icon_category125.gif) no-repeat 0 0;}
		ul.nav-category li.category-126 a{background:url(../../201009/images/shared/icon_category126.gif) no-repeat 0 0;}
		ul.nav-category li.category-127 a{background:url(../../201009/images/shared/icon_category127.gif) no-repeat 0 0;}
		ul.nav-category li.category-128 a{background:url(../../201009/images/shared/icon_category128.gif) no-repeat 0 0;}
		ul.nav-category li.category-129 a{background:url(../../201009/images/shared/icon_category129.gif) no-repeat 0 0;}
		ul.nav-category li.category-130 a{background:url(../../201009/images/shared/icon_category130.gif) no-repeat 0 0;}
		ul.nav-category li.category-131 a{background:url(../../201009/images/shared/icon_category131.gif) no-repeat 0 0;}
		ul.nav-category li.category-132 a{background:url(../../201009/images/shared/icon_category132.gif) no-repeat 0 0;}
	
		ul.nav-category li.category-line a{
			padding-top:7px;
			background-position:0 5px;
			margin-top:4px;
			border-top:1px dotted #adadad;
			min-height:19px;
			_height:19px;
		}
	
	input.form-text-01{
		height:1em;
		width:124px;
		vertical-align:top;
		margin-right:5px;
	}
	
	input.form-image-01{
		vertical-align:middle;
	}

	div.section{
		margin-bottom:10px;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
	}
	
	div.section.join{
		margin-top:-13px;
	}
	
	div.section-head{
		margin:0 -1px;
		overflow:hidden;
		position:relative;
	}
	
	div.section-head .head-01{
		zoom:1;
		line-height:1;
		background:url(../../200912/images/shared/section_head02.gif) repeat-x left bottom;
	}
	
	div.section-head .head-01 span{
		display:block;
		padding:7px 19px 3px 9px;
		color:#fff;
		font-weight:bold;
		min-height:15px;
		_height:15px;
	}
	
	div.section-head .head-01 span.type-01{
		padding-left:21px;
	}
	
	div.section-head .head-01 span a{
		color:#fff;
	}
	
	div.section-head .head-01 span.search{
		padding-left:26px;
		background:url(../../201009/images/shared/icon_search.gif) no-repeat 0 0;
	}
	
	div.section div.section-body{
		padding:9px 10px 10px;
		margin:0 -1px;
		position:relative;
		overflow:hidden;
	}
	
	/* 745px */
	body.column-2A div#main-content div.section div.section-body{
		background:url(../../200912/images/shared/section745_bg01.gif) no-repeat left bottom;
	}
	
	body.column-2A div#main-content div.section div.section-head{
		background:url(../../201009/images/shared/section745_head01.gif) no-repeat left top;
	}
	
	body.column-2A div#main-content div.section.join div.section-head{
		background:url(../../201009/images/shared/section745_head03.gif) no-repeat left top;
	}
	
	/* 300px */
	body.column-2F div#sub-content-02 div.section div.section-body{
		background:url(../../200912/images/shared/section300_bg01.gif) no-repeat left bottom;
	}
	
	body.column-2F div#sub-content-02 div.section div.section-head{
		background:url(../../201009/images/shared/section300_head01.gif) no-repeat left top;
	}
	
	body.column-2F div#sub-content-02 div.section.join div.section-head{
		background:url(../../201009/images/shared/section300_head03.gif) no-repeat left bottom;
	}
	
	/* 215px */
	body.column-2A div#sub-content-01 div.section div.section-body{
		background:url(../../200912/images/shared/section215_bg01.gif) no-repeat left bottom;
	}
	
	body.column-2A div#sub-content-01 div.section div.section-head{
		background:url(../../201009/images/shared/section215_head01.gif) no-repeat left top;
	}
	
	body.column-2A div#sub-content-01 div.section.join div.section-head{
		background:url(../../201009/images/shared/section215_head03.gif) no-repeat left bottom;
	}
	
	/* 215px */
	body.column-2A div#sub-content-01 div.section.type-01 div.section-body{
		background:url(../../201009/images/shared/section215_bg02.gif) no-repeat left bottom;
	}
	
	/* 745px */
	body.column-2A div#main-content div.section.type-01 div.section-body {
		background:url(../../200912/images/shared/section745_bg02.gif) no-repeat left bottom;
	}
	
	dl.nav-category dd a {
		display:block;
		min-height:19px;
		_height:19px;
		padding:4px 0 0 23px;
	}
	
	dl.nav-category dd.category-101 a{background:url(../../201009/images/shared/icon_category101.gif) no-repeat 0 0;}
	dl.nav-category dd.category-102 a{background:url(../../201009/images/shared/icon_category102.gif) no-repeat 0 0;}
	dl.nav-category dd.category-103 a{background:url(../../201009/images/shared/icon_category103.gif) no-repeat 0 0;}
	dl.nav-category dd.category-104 a{background:url(../../201009/images/shared/icon_category104.gif) no-repeat 0 0;}
	dl.nav-category dd.category-105 a{background:url(../../201009/images/shared/icon_category105.gif) no-repeat 0 0;}
	dl.nav-category dd.category-106 a{background:url(../../201009/images/shared/icon_category106.gif) no-repeat 0 0;}
	dl.nav-category dd.category-107 a{background:url(../../201009/images/shared/icon_category107.gif) no-repeat 0 0;}
	dl.nav-category dd.category-108 a{background:url(../../201009/images/shared/icon_category108.gif) no-repeat 0 0;}
	dl.nav-category dd.category-109 a{background:url(../../201009/images/shared/icon_category109.gif) no-repeat 0 0;}
	dl.nav-category dd.category-110 a{background:url(../../201009/images/shared/icon_category110.gif) no-repeat 0 0;}
	dl.nav-category dd.category-111 a{background:url(../../201009/images/shared/icon_category111.gif) no-repeat 0 0;}
	dl.nav-category dd.category-112 a{background:url(../../201009/images/shared/icon_category112.gif) no-repeat 0 0;}
	dl.nav-category dd.category-113 a{background:url(../../201009/images/shared/icon_category113.gif) no-repeat 0 0;}
	dl.nav-category dd.category-114 a{background:url(../../201009/images/shared/icon_category114.gif) no-repeat 0 0;}
	dl.nav-category dd.category-115 a{background:url(../../201009/images/shared/icon_category115.gif) no-repeat 0 0;}
	dl.nav-category dd.category-116 a{background:url(../../201009/images/shared/icon_category116.gif) no-repeat 0 0;}
	dl.nav-category dd.category-117 a{background:url(../../201009/images/shared/icon_category117.gif) no-repeat 0 0;}
	dl.nav-category dd.category-118 a{background:url(../../201009/images/shared/icon_category118.gif) no-repeat 0 0;}
	dl.nav-category dd.category-119 a{background:url(../../201009/images/shared/icon_category119.gif) no-repeat 0 0;}
	dl.nav-category dd.category-120 a{background:url(../../201009/images/shared/icon_category120.gif) no-repeat 0 0;}
	dl.nav-category dd.category-121 a{background:url(../../201009/images/shared/icon_category121.gif) no-repeat 0 0;}
	dl.nav-category dd.category-122 a{background:url(../../201009/images/shared/icon_category122.gif) no-repeat 0 0;}
	dl.nav-category dd.category-123 a{background:url(../../201009/images/shared/icon_category123.gif) no-repeat 0 0;}
	dl.nav-category dd.category-124 a{background:url(../../201009/images/shared/icon_category124.gif) no-repeat 0 0;}
	dl.nav-category dd.category-125 a{background:url(../../201009/images/shared/icon_category125.gif) no-repeat 0 0;}
	dl.nav-category dd.category-126 a{background:url(../../201009/images/shared/icon_category126.gif) no-repeat 0 0;}
	dl.nav-category dd.category-127 a{background:url(../../201009/images/shared/icon_category127.gif) no-repeat 0 0;}
	dl.nav-category dd.category-128 a{background:url(../../201009/images/shared/icon_category128.gif) no-repeat 0 0;}
	dl.nav-category dd.category-129 a{background:url(../../201009/images/shared/icon_category129.gif) no-repeat 0 0;}
	dl.nav-category dd.category-130 a{background:url(../../201009/images/shared/icon_category130.gif) no-repeat 0 0;}
	dl.nav-category dd.category-131 a{background:url(../../201009/images/shared/icon_category131.gif) no-repeat 0 0;}
	dl.nav-category dd.category-132 a{background:url(../../201009/images/shared/icon_category132.gif) no-repeat 0 0;}

/* END 古い左カラムに使われているコード
--------------------------*/


/* latestList chirashiList
--------------------------*/
.thumb,
div.list-thumb p.image {
position:relative;
width:150px;
height:93px;
margin:0 0 5px;
}

.thumb a,
div.list-thumb p.image a.img{
position:absolute;
display:block;
height:91px;
width:148px;
z-index:10;
}

/**2010/9/2 fix**/
.thumb a:hover,
div.list-thumb p.image a.img:hover img{
	filter: alpha(opacity=50);
	-moz-opacity:0.50;
	opacity:0.50;
}

div.list-thumb p.image {
position:relative;
height:83px;
width:136px;
margin:0 auto 5px auto;
}

div.list-thumb p.image a.img {
display: block;
height: 85px;
position: relative;
z-index:2;
}

	.pr_chirashi .border_box {
		display:block;
		border:2px solid #ffba00;
		position:absolute;
		top:-2px;
		left:-2px;
		z-index:2;
	}
		.pr_chirashi .border_box_inner {
			display:block;
			width:138px;
			height:85px;
			position:relative;
		}
			.pr_chirashi .border_box_icon {
				width:36px;
				height:20px;
				background-position:-2px -176px;
				position:absolute;
				top:-2px;
				left:-2px;
			}
div.list-thumb .pr_chirashi .image .img:hover {
}
	div.list-thumb .pr_chirashi .image .img:hover .icon {
		background-color:#fff;
	}
div.list-thumb p.image a.img:hover {
	position:absolute;
	display:block;
	height:83px;
	width:136px;
}

.thumb img{
	position:absolute;
	display:block;
	height:93px;
	width:150px;
	z-index:1;
}

div.list-thumb p.image a.btn_favorite {
	position:absolute;
	height:25px;
	width:25px;
	z-index:20;
	top:-2px;
	right:-2px;
	cursor:pointer;
	background-position:-126px -110px;
	z-index:2;
}
div.list-thumb .pr_chirashi p.image a.btn_favorite {
	top: 0;
	right: -2px;
}
div.list-thumb p.image a.btn_favorite:hover,
div.list-thumb p.image a.btn_favorite_on {
	background-position:-126px -137px;
}



 
/*--------------------------------------------------
T-POINT
--------------------------------------------------*/
#t-point{
	position:relative;
	display:block;
}

#t-point #t-date{
	background:url(../../201009/images/ccc/ccc_00.gif) no-repeat left;
	width:610px;
	height:60px;
	margin:10px auto;
	font-family:"ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size:18px;
	font-weight:bold;
	line-height:60px;
}
#t-point #t-date span{
	padding-left:230px;
}

#t-point dl#t-atn{
	width:700px;
	margin:0 auto 5px;
}

#t-point dl#t-atn dt{
	width:4em;
	clear:both;
	float:left;
	color:#FF2222;
	font-weight:bold;
}

#t-point dl#t-atn dd{
	padding-left:4em;
	*padding-left:62px;
}

#t-point #t-detail{
	background:url(../../201009/images/ccc/ccc_02.gif) no-repeat -5px top;
	position:relative;
	height:204px;
	padding:90px 20px 27px;
}

#t-point #t-detail #t-detail-btn{
	position:absolute;
	top:31px;
	left:531px;
}

#t-point #t-detail #t-detail-value{
	width:400px;
	display:block;
	position: relative;
	padding-top:17px;
	background:url(../../201009/images/ccc/ccc_07.gif);
	text-align:center;
	float:left;
}

#t-point #t-detail #t-detail-value p{
	display:block;
	background-color:#FFF;
	text-align:center;
	margin:0px auto;
	width:400px;
	height:37px;
	line-height:37px;
	font-size:20px;
	font-weight:bold;
	clear:both;
}

#t-point #t-detail #t-detail-value p img{
	line-height:37px;
	margin:0px 0px 4px;
	vertical-align:middle;
}

#t-point #t-detail #t-detail-notice {
	width:220px;
	float:left;
}


#t-point #t-detail #t-detail-notice dl{
	margin:10px 0 5px 10px;
}

#t-point #t-detail #t-detail-notice dl dt{
	width:1em;
	clear:both;
	float:left;
}

#t-point #t-detail #t-detail-notice dl dd{
	padding-left:1em;
	*padding-left:2px;
}

#t-point #t-detail #t-detail-sumi{
	display:block;
	font-weight:bold;
	font-size:18px;
	color:#004099;
	padding:40px 0 38px;
}


#t-point #t-detail #t-detail-not{
	display:block;
	font-weight:bold;
	font-size:18px;
	color:#ff1b00;
	margin-top:16px;
	padding:4px 0px 0px 0px;
}


#t-point #t-detail #t-detail-value a{
	display:block;
	margin:0px 0px 0px 0px;
	padding-bottom:20px;
}

#t-point #t-detail #t-detail-value a#t-detail-notLogin{
	display:block;
	margin:0px 0px 0px 0px;
	padding-bottom:5px;
}

#t-point #t-detail #t-detail-value a#t-detail-notLogin-b{
	display:block;
	margin:0px auto 0px;
	padding-bottom:5px;
}



 /*--------------------------------------------------
cl_other_shop_list_popup
--------------------------------------------------*/
.cl_other_shop_list_popup {
	display:none;
	width:168px;
	position:absolute;
	text-align:left;
	z-index:999;	
	font-size:12px;
	background:#FFF;
	background-color: #fff;
	border: 1px solid #dbcfc0;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.cl_other_shop_list_popup a {
	font-weight:bold;
	font-size:12px;
}
.cl_other_shop_list_popup a:hover {
	font-weight:bold;
	text-decoration:underline !important;
}
.cl_other_shop_list_popup_ttl {
	padding:0.9em 0.6em 0.3em;
	border-bottom:1px solid #dbcfc0;
	font-size:10px;
}
.cl_other_shop_list_popup_content {
	display:block;
	
	width:168px;
	height:96px;	
	overflow: auto;

	position: relative;
}


.cl_other_shop_list_popup_content li {
	display:block;
	padding:3px 0.6em 3px;
	border-bottom:1px dashed #dbcfc0;
	font-size:12px;
}


/*--------------------------------------------------

鎌田追加　共通クラス

--------------------------------------------------*/

.hover_opacity:hover {
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}
.hover_opacity:hover img {
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}

a:link i {
	cursor:pointer;
}
a:link:hover i {
	cursor:pointer;
}


.bg_item {
	display:block;
	background-image:url(../images/shared/item.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}
.bg_item_v2 {
	display:block;
	background-image:url(../images/shared/item_v2.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}
.bg_item_v3 {
	display:block;
	background-image:url(../images/shared/item_v3.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}
.bg_item_text {
	text-indent:0;
}
.bg_item_btn {
	outline:none;
}
.bg_item_submit {
	outline:none;
	border:none;
	background-color:#fff;
}



.page_header_type_A {
	padding:10px 0 30px;
}
	.page_header_type_A .page_title {
		font-size:22px;
		margin:0 0 1em;
		color: #471700;
	}
	.page_header_type_A .page_description {
		font-size: 12px;
		color: #471700;
		padding: 1em 1.5em;
		margin:0 0 0 2em;
		line-height:1.5;
		background-color: #fbf9f7;
		border: 1px solid #dbcfc0;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}



.section_unit {
	margin:0 0 15px;
}

.section_head_A {
	height:22px;
	margin:0 0 5px;
}
.section_head_B {
	height:14px;
	margin:0 0 5px;
}
.section_box_A {
	background-color:#f8f8f8;
	border:1px solid #ccc;
	padding:7px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position:relative;
	/*behavior: url(http://www.shufoo.net/site/201009/css/ie-css3.htc);*/
}
.section_box_B {
	background-color:#ecf5ff;
	border:1px solid #accdfa;
	padding:7px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position:relative;
	/*behavior: url(http://www.shufoo.net/site/201009/css/ie-css3.htc);*/
}

.section_box_A .section_box_inner {
	background-color:#fff;
	border:1px solid #ccc;
	padding:7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position:relative;
	/*behavior: url(http://www.shufoo.net/site/201009/css/ie-css3.htc);*/
}
.section_box_B .section_box_inner {
	background-color:#fff;
	border:1px solid #accdfa;
	padding:7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position:relative;
	/*behavior: url(http://www.shufoo.net/site/201009/css/ie-css3.htc);*/
}
.section_box_head {
	margin:0 0 7px;
	padding:0 0 0 14px;
	position:relative;
}
.section_box_head i {
	height:10px;
	width:10px;
	position:absolute;
	top:0;
	left:0;
	background-position:-165px 0;
}
.section_box_head .section_box_head_text {
	height:10px;
	font-size:10px;
}
#sectionPickup .section_box_head i {
	top:1px;
}
#sectionPickup .section_box_head .section_box_head_text {
	height:12px;
	font-size:12px;
}
.section_box_A .section_box_head .section_box_head_text em {
	color: #E71E0A;
	font-weight:normal;
}

.section_side {
	margin:0 0 10px;
}


.section_head_type_A {
	font-size:14px;
	color:#471700;
	padding:10px;
	font-weight:bold;
	padding:12px 0 12px 7px;
	margin:0 0 15px;
	position:relative;
	background-position:0 100%;
	text-indent:0;
	zoom: 1;
	overflow:inherit;
	z-index:1000;
}
	.section_head_type_A a {
		color:#471700;
	}
.section_box_type_A {
	position:relative;
	z-index:1000;
}
	.section_box_type_A .section_box_inner {
		padding: 7px;
		background-color: #fff;
		border: 1px solid #dbcfc0;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}

.section_head_type_B {
	font-size:14px;
	color:#471700;
	padding:1px 0 0 18px;
	font-weight:bold;
	margin:0 0 6px 4px;
	position:relative;
	zoom: 1;
}
	.section_head_type_B .text {
	}
.section_box_type_B {
	background-color:#fbf9f7;
	border:1px solid #dbcfc0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.section_head_type_C {
	font-size:14px;
	color:#471700;
	padding:1px 0 0 0;
	font-weight:bold;
	margin:0 0 6px 4px;
	position:relative;
	zoom: 1;
}
	.section_head_type_C .text {
	}
.section_box_type_C {
	background-color:#fbf9f7;
	border:1px solid #dbcfc0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
	.section_box_type_C .result_number {
		padding:4px 5px;
	}

.section_head_type_D {
	font-size:16px;
	color:#000;
	padding:7px 2px;
	margin:0 0 10px;
	border-bottom:2px solid #e9e1d5;
	position:relative;
	zoom: 1;
}
	.section_head_type_D .text {
	}
.section_box_type_D {
	margin:0 0 10px;
}

.section_box_type_E {
	margin:0 0 10px;
}
	.section_box_type_E .section_box_inner {
		padding: 14px 19px;
		background-color: #fff;
		border: 1px solid #ebe7e2;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.section_box_type_E .section_box_inner_not_ttl {
		padding: 19px 19px;
	}

.section_head_nm {
	margin:0;
}
.section_head_bn {
	border-bottom:none;
}



.list_info {
	margin:0 0 0.83em;
	font-size:14px;
}
.list_info li {
	padding:0.65em 0 8px 6em;
	border-bottom:1px dotted #ccbba8;
	position:relative;
	zoom: 1;
}
	.list_info li .date {
		position:absolute;
		top:0.78em;
		left:7px;
		color:#787878;
		font-size:12px;
	}
	.list_info li .title {
	}
		.list_info li .title a {
			color:#1e5aa5;
		}
.list_info_more {
}
	.list_info_more a {
		float:right;
		width:126px;
		height:25px;
		background-position:-295px -415px;
		background-color:#fbfaf8;
	}

.list_contents {
	margin:0 0 0.83em;
}
	.list_contents li {
		padding:3px 0 3px 24px;
		position:relative;
		font-size:14px;
		line-height:18px;
		zoom: 1;
	}
		.list_contents li i {
			position:absolute;
			top:9px;
			left:10px;
			width:5px;
			height:5px;
			background-position:-97px -5px;
		}
		.list_contents li .icon_new {
			margin:0 0 0 5px;
		}
			.list_contents li .icon_new img {
				vertical-align:middle;
			}



.btn_ui_box {
	margin:0 0 10px;
	position:relative;
	min-height:2em;
	height:auto !important;
	height:2em;
}
.btn_ui {
	font-size: 12px;
	line-height: 15px;
}
.btn_ui_medium a,
.btn_ui_medium input {
	font-size: 12px !important;
	line-height: 15px;
}
.btn_ui_large a,
.btn_ui_large input {
	font-size: 13px !important;
	line-height: 16px;
}

.btn_ui_small a,
.btn_ui_small input {
	font-size: 10px !important;
	line-height: 12px;
}
.btn_ui a,
.btn_ui input {
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 0.3em 0.6em;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	text-decoration:none;
}


.btn_ui_A {
}
.btn_ui_A a,
.btn_ui_A input {
	background-color: #f0f0f0;
	
	background: linear-gradient(bottom, #eae4dc, #fff);
	background: -o-linear-gradient(bottom, #eae4dc, #fff);
	background: -moz-linear-gradient(bottom, #eae4dc, #fff);
	background: -webkit-linear-gradient(bottom, #eae4dc, #fff);
	background: -ms-linear-gradient(bottom, #eae4dc, #fff);

background: -webkit-gradient(linear, left bottom, left top, from(#eae4dc), to(#fff));
 	border: 1px solid #b8a48d;
	border-bottom-color: #a99177;
	color:#471700;
}
.btn_ui_A a:hover,
.btn_ui_A input:hover {
	background-color:#fff;
	background: -moz-linear-gradient(left bottom, #fff, #fff);
background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff));
}

.btn_ui_B {
}
	.btn_ui_B a,
	.btn_ui_B input {
		background-color: #ffd660;
		
		background: linear-gradient(bottom, #ffcb37, #ffe286);
		background: -o-linear-gradient(bottom, #ffcb37, #ffe286);
		background: -moz-linear-gradient(bottom, #ffcb37, #ffe286);
		background: -webkit-linear-gradient(bottom, #ffcb37, #ffe286);
		background: -ms-linear-gradient(bottom, #ffcb37, #ffe286);
	
		background: -webkit-gradient(linear, left bottom, left top, from(#ffcb37), to(#ffe286));
		border: 1px solid #e4b835;
		border-bottom-color: #c49c24;
		color:#471700;

		box-shadow: 1px 1px 0 rgba(229, 185, 53, .46);
		-webkit-box-shadow: 1px 1px 0 rgba(229, 185, 53, .46);
		-moz-box-shadow: 1px 1px 0 rgba(229, 185, 53, .46);
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	.btn_ui_B a:hover,
	.btn_ui_B input:hover {
		background-color:#ffe286;
		background: -moz-linear-gradient(left bottom, #ffe286, #ffe286);
		background: -webkit-gradient(linear, left bottom, left top, from(#ffe286), to(#ffe286));
	}
	.btn_ui_B[class*=btn_ui_off] a:hover,
	.btn_ui_B[class*=btn_ui_off] input:hover {
		background-color: #f0f0f0;
		background: -moz-linear-gradient(bottom, #ffcb37, #ffe286);
		background: -webkit-gradient(linear, left bottom, left top, from(#ffcb37), to(#ffe286));
	}

.btn_ui_C {
}
.btn_ui_C a,
.btn_ui_C input {
	background-color: #fff;

 	border: 1px solid #b8a48d;
	border-bottom-color: #a99177;
	color:#471700;
}
.btn_ui_C a:hover,
.btn_ui_C input:hover {
	background-color:#fff;
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}


.btn_ui_unit {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 1px 1px 1px rgba(71, 23, 0, .15);
	-moz-box-shadow: 1px 1px 1px rgba(71, 23, 0, .15);
	box-shadow: 1px 1px 1px rgba(71, 23, 0, .15);
}
.btn_ui_unit li {
	float:left;
}

.btn_ui_unit a,
.btn_ui_unit input {
	background-color: #e8e8e8;
	border: 1px solid #B8A48D;
	border-right: none;
	border-bottom-color: #A99177;
	color:#282828;

	border-radius: 0 0 0 0 / 0 0 0 0;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	text-decoration:none;
}
.btn_ui_unit a:hover,
.btn_ui_unit input:hover {
	background-color:#f8f8f8;
}
.btn_ui_unit .btn_ui_first a,
.btn_ui_unit .btn_ui_first input {
	border-radius: 3px 0 0 3px / 3px 0 0 3px;

	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 3px;
	
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 3px;
}
.btn_ui_unit .btn_ui_last a,
.btn_ui_unit .btn_ui_last input {
	border-right: 1px solid #999;
	border-radius: 0 3px 3px 0 / 0 3px 3px 0;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 0px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 0px;
}





.btn_ui2 {
	font-size: 12px;
	line-height: 15px;
}
.btn_ui2_medium a,
.btn_ui2_medium input {
	font-size: 12px !important;
	line-height: 15px;
}
.btn_ui2_large a,
.btn_ui2_large input {
	font-size: 13px !important;
	line-height: 16px;
}

.btn_ui2_small a,
.btn_ui2_small input {
	font-size: 10px !important;
	line-height: 12px;
}
.btn_ui2 a,
.btn_ui2 input {
	cursor: pointer;
	display: inline-block;
	/*font-weight: bold;*/
	padding: 0.34em 0.6em;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


.btn_ui2_A {
}
.btn_ui2_A a,
.btn_ui2_A input {
    
    background-color: #ddcfbe;
    border: 1px solid #ded8d0;
    color: #3c3c3c;
    
}
.btn_ui2_A a:hover,
.btn_ui2_A input:hover {
	filter: alpha(opacity=70);
    -moz-opacity:0.70;
    opacity:0.70;
}



.list_ui {
	margin:0 0 0.3em;
}
	.list_ui_item {
	}
		.list_ui_item a {
		}
.list_ui_medium a,
.list_ui_medium input {
	font-size: 12px !important;
	line-height: 15px;
}
.list_ui_large a,
.list_ui_large input {
	font-size: 13px !important;
	line-height: 16px;
}

.list_ui_small a,
.list_ui_small input {
	font-size: 10px !important;
	line-height: 12px;
}
.list_ui_A {
	line-height:1.2;
	color:#471700;
}
	.list_ui_A .list_ui_item {
		margin:0.45em 0 0;
		position:relative;
	}
		.list_ui_A .list_ui_item a {
			padding:0 0 0 17px;
			color:#471700;
		}
			.list_ui_A .list_ui_item a i {
				position:absolute;
				top:0.39em;
				left:7px;
				width:5px;
				height:6px;
				background-position:-133px -4px;
			}

.list_ui_B {
	line-height:1.2;
	color:#471700;
}
	.list_ui_B .list_ui_item {
		margin:0.45em 0 0;
	}
		.list_ui_B .list_ui_item a {
			padding:0 0 0 17px;
			position:relative;
		}
			.list_ui_B .list_ui_item a i {
				position:absolute;
				top:0.3em;
				left:7px;
				width:5px;
				height:6px;
				background-position:-133px -4px;
			}

			
.btn_text_A {
	margin:0 0 0.83em;
}
	.btn_text_A a {
		padding:0 0 0 17px;
		position:relative;
	}
		.btn_text_A i {
			position: absolute;
			top: 0px;
			left: 0px;
			width:14px;
			height:14px;
			background-position:-78px 0;
		}
.btn_text_B {
}
	.btn_text_B a {
		padding:0 0 0 17px;
		position:relative;
	}
		.btn_text_B i {
			position:absolute;
			top:0.3em;
			left:7px;
			width:5px;
			height:6px;
			background-position:-133px -4px;
		}
.btn_text_rihgt a {
	float:right;
}



.ddb {
	display:none;
	position:absolute;
}
.ddb_head {
}
.ddb_body {
}


.ux_box {
	position:absolute;
	z-index:9000;
	display:none;

}
	.ux_box_inner {
		position:relative;
	}
		.ux_box_arrow {
			position:relative;
			z-index:200;
		}
			.ux_box_arrow_top .ux_box_arrow {
				width:14px;
				height:7px;
				top:1px;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_top.png) no-repeat 0 0;
			}
			.ux_box_arrow_bottom .ux_box_arrow {
				position:absolute;
				bottom:-6px;
				left:0;
				width:100%;
				height:7px;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_bottom.png) no-repeat 50% 0;
			}
			.ux_box_arrow_right .ux_box_arrow {
				width:14px;
				height:7px;
				top:1px;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_right.png) no-repeat 0 0;
			}
			.ux_box_arrow_left .ux_box_arrow {
				width:14px;
				height:7px;
				top:1px;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_left.png) no-repeat 0 0;
			}
		.ux_box_content {
			position:relative;
			z-index:100;
			
			background-color:#fff;
			border:1px solid #dbcfc0;
			box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
			-moz-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
			-webkit-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
			-o-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
			-ms-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
		}
			.ux_box_type_A .ux_box_content {
				padding:20px;
			}
			.ux_box_type_B .ux_box_content {
				padding:10px;
			}
			.ux_box_text_center {
				text-align:center;
			}
			.ux_box_content_type_strong_A {
				font-size:12px;
				font-weight:bold;
				color:#471700;
				margin:0;
			}
			.ux_box_content_type_comments_A {
				font-size:10px;
				color:#471700;
				margin:7px 0 0;
			}
			.ux_box_content_type_btn_box {
				margin:7px 0 0;
			}
				.ux_box_content_type_btn_box_float_left li {
					float:left;
					padding:0 10px 0 0;
				}
				



.ux_box_ground {
	position:relative;
}
	.ux_box_ground_inner {
		position:relative;
		zoom:1;
	}
		.ux_box_ground_arrow {
			position:relative;
			z-index:200;
		}
			.ux_box_ground_arrow_top .ux_box_ground_arrow {
				width:14px;
				height:7px;
				top:1px;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_top.png) no-repeat 0 0;
			}
			.ux_box_ground_arrow_bottom .ux_box_ground_arrow {
				position:absolute;
				bottom:-6px;
				left:0;
				width:100%;
				height:7px;
				overflow:hidden;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_bottom.png) no-repeat 50% 0;
			}
			.ux_box_ground_arrow_right .ux_box_ground_arrow {
				width:14px;
				height:7px;
				top:1px;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_right.png) no-repeat 0 0;
			}
			.ux_box_ground_arrow_left .ux_box_ground_arrow {
				width:14px;
				height:7px;
				top:1px;
				margin:0 auto;
				background:url(../images/shared/ux_box_arrow_left.png) no-repeat 0 0;
			}
		.ux_box_ground_content {
			position:relative;
			z-index:100;
			color:#471700;
			font-size:12px;
			background-color:#fff;
			border:1px solid #dbcfc0;
			-moz-box-shadow:2px 2px 7px rgba(0, 0, 0, 0.07);
			-webkit-box-shadow:2px 2px 7px rgba(0, 0, 0, 0.07);
			-o-box-shadow:2px 2px 7px rgba(0, 0, 0, 0.07);
			-ms-box-shadow:2px 2px 7px rgba(0, 0, 0, 0.07);
			box-shadow:2px 2px 7px rgba(0, 0, 0, 0.07);
		}
			.ux_box_ground_type_A .ux_box_ground_content {
				padding:20px;
			}
			.ux_box_ground_type_B .ux_box_ground_content {
				padding:12px 14px;
			}
			.ux_box_ground_text_center {
				text-align:center;
			}
			.ux_box_ground_content_type_fontsize_small {
				font-size:10px;
			}
			.ux_box_ground_content_type_fontsize_large {
				font-size:14px;
			}
			.ux_box_ground_content_type_strong {
				font-weight:bold;
			}
			.ux_box_ground_content_type_color_red {
				color:#9e2020;
			}
			.ux_box_ground_content_type_comments_A {
				font-size:12px;
				color:#471700;
				margin:7px 0 0;
				line-height:1.43;
			}
			.ux_box_ground_content_type_btn_box {
				margin:7px 0 0;
			}
				.ux_box_ground_content_type_btn_box_float_left li {
					float:left;
					padding:0 10px 0 0;
				}
				.ux_box_ground_content_type_btn_box_float_right li {
					float:right;
					padding:0 0 0 10px;
				}
			.ux_box_ground_btn_close a {
				display:block;
				width:4em;
				margin:10px auto 0;
			}



.box_ui {
}
	.box_ui_inner {
	}
		.box_ui_content_area {
		}
.box_ui_A {
	clear:both;
	position:relative;
	z-index:1000;
	overflow:hidden;
	padding:1px;
	background-color:#fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:0px 0px 2px rgba(204, 187, 168, 0.6);
	-moz-box-shadow:0px 0px 2px rgba(204, 187, 168, 0.6);
	-webkit-box-shadow:0px 0px 2px rgba(204, 187, 168, 0.6);
	-o-box-shadow:0px 0px 2px rgba(204, 187, 168, 0.6);
	-ms-box-shadow:0px 0px 2px rgba(204, 187, 168, 0.6);
}
	.box_ui_A .box_ui_inner {
		padding:0 3px;
		background-color:#fbf9f7;
		border:1px solid #dbcfc0;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow:2px 2px 3px rgba(204, 187, 168, 0.43) inset, 0px 0px 2px rgba(204, 187, 168, 0.42) inset;
		-moz-box-shadow:2px 2px 3px rgba(204, 187, 168, 0.43) inset, 0px 0px 2px rgba(204, 187, 168, 0.42) inset;
		-webkit-box-shadow:2px 2px 3px rgba(204, 187, 168, 0.43) inset, 0px 0px 2px rgba(204, 187, 168, 0.42) inset;
		-o-box-shadow:2px 2px 3px rgba(204, 187, 168, 0.43) inset, 0px 0px 2px rgba(204, 187, 168, 0.42) inset;
		-ms-box-shadow:2px 2px 3px rgba(204, 187, 168, 0.43) inset, 0px 0px 2px rgba(204, 187, 168, 0.42) inset;
	}
		.box_ui_A .box_ui_content_area {
			position:relative;
			padding:0 7px 0;
			overflow:hidden;
		}
		
		
		
.box_ui_content_flowing {
}
	.box_ui_content_flowing_area {
		position:relative;
		overflow:hidden;
	}
		.box_ui_content_flowing_target {
			position:absolute;
			top:7px;
			left:7px;
			width:9999px;
		}
			.box_ui_content_flowing_item {
				float:left;
			}




.btn_arrow_ui {
}
	.btn_arrow_ui_prev {
	}
	.btn_arrow_ui_next {
	}
.btn_arrow_ui_A {
}
	.btn_arrow_ui_A .btn_arrow_ui_prev {
		display:block;
		width:29px;
		height:35px;
		position:absolute;
		left:0;
	}
		.btn_arrow_ui_A .btn_arrow_ui_prev a {
			display:block;
			width:29px;
			height:35px;
		}
			.btn_arrow_ui_A .btn_arrow_ui_prev a i {
				width:8px;
				height:13px;
				background-position:-207px -24px;
				position:absolute;
				top:11px;
				left:10px;
			}
	.btn_arrow_ui_A .btn_arrow_ui_next {
		display:block;
		width:29px;
		height:35px;
		position:absolute;
		right:0;
	}
		.btn_arrow_ui_A .btn_arrow_ui_next a {
			display:block;
			width:29px;
			height:35px;
		}
			.btn_arrow_ui_A .btn_arrow_ui_next a i {
				width:8px;
				height:13px;
				background-position:-220px -24px;
				position:absolute;
				top:11px;
				right:10px;
			}
			
		.btn_arrow_ui_A a i {
			filter: alpha(opacity=50);
			-moz-opacity:0.50;
			opacity:0.50;
		}
		.btn_arrow_ui_A a:hover i {
			filter: alpha(opacity=100);
			-moz-opacity:1;
			opacity:1;
		}
		.btn_arrow_ui_A .btn_arrow_ui_off a {
			cursor:default;
		}
		.btn_arrow_ui_A .btn_arrow_ui_off a i {
			filter: alpha(opacity=20);
			-moz-opacity:0.2;
			opacity:0.2;
		}
		.btn_arrow_ui_A .btn_arrow_ui_off a:hover i {
			filter: alpha(opacity=20);
			-moz-opacity:0.2;
			opacity:0.2;
		}
		
.btn_arrow_ui_B {
}
	.btn_arrow_ui_B li {
		display:block;
		width:22px;
		height:101px;
		position:absolute;
		top:0;
	}
		.btn_arrow_ui_B li a {
			display:block;
			width:22px;
			height:101px;
			background-color:#ddcfbe;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
			.btn_arrow_ui_B li a i {
				width:9px;
				height:11px;
				position:absolute;
				top:45px;
			}
	.btn_arrow_ui_B li.btn_arrow_ui_prev {
		left:0;
	}
		.btn_arrow_ui_B li.btn_arrow_ui_prev a {
		}
			.btn_arrow_ui_B li.btn_arrow_ui_prev a i {
				background-position:-58px -80px;
				position:absolute;
				left:6px;
			}
	.btn_arrow_ui_B li.btn_arrow_ui_next {
		right:0;
	}
		.btn_arrow_ui_B li.btn_arrow_ui_next a {
		}
			.btn_arrow_ui_B li.btn_arrow_ui_next a i {
				background-position:-47px -80px;
				right:6px;
			}
			
		.btn_arrow_ui_B a {
			filter: alpha(opacity=100);
			-moz-opacity:1;
			opacity:1;
		}
		.btn_arrow_ui_B a:hover {
			filter: alpha(opacity=75);
			-moz-opacity:0.75;
			opacity:0.75;
		}
		.btn_arrow_ui_B .btn_arrow_ui_off a {
			cursor:default;
			filter: alpha(opacity=20);
			-moz-opacity:0.2;
			opacity:0.2;
		}
		.btn_arrow_ui_B .btn_arrow_ui_off a:hover {
			filter: alpha(opacity=20);
			-moz-opacity:0.2;
			opacity:0.2;
		}


.text_att {
	color:#e71e0a;
	font-weight:bold;
}


.clr:after {
clear:both;
content:".";
display:block;
height:0;
overflow:hidden;
visibility:hidden;
}

.clr {
display:inline-table;
min-height:1%;
}

* html .clr {
height:1px;
}

.clr {
display:block;
}


.cF:after {
content: "";
display: block;
height: 0;
visibility: hidden;
clear: both;
}
.cF {
display: inline-table;
min-height: 1%;
}
/* Hides from IE-mac \*/
* html .cF { height: 1%; }
.cF { display: block; }
/* End hide from IE-mac */


/*--------------------------------------------------
static sectionCampaignAndCoupon
--------------------------------------------------*/
#sectionCampaignAndCoupon {
	margin:0 0 10px;
	position:relative;
}
#mypage #sectionCampaignAndCoupon {
	margin:0 0 30px;
}

#sectionCampaignAndCoupon .section_head_A {
	width:421px;
	background-position:0 -132px;
}
#sectionCampaignAndCoupon .box_ui .list {
	margin:19px 0 13px 6px;
}
#sectionCampaignAndCoupon .box_ui .list div.block {
	width:158px;
	padding:0 0 10px;
	float:left;	
}
#sectionCampaignAndCoupon .box_ui .list div.block dl {
	width:138px;
	margin:0 auto;
}
#sectionCampaignAndCoupon .box_ui .list div.block dl dt {
	margin:0 0 4px;
}
#sectionCampaignAndCoupon .box_ui .list div.block dl dd {
	font-weight:bold;
}

#sectionCampaignAndCoupon .box_ui .list div.block dl dt .img {
	position: absolute;
	display: block;
	height: 83px;
	width: 136px;
	z-index: 10;
}
#sectionCampaignAndCoupon .box_ui .list div.block dl dt a.img:hover {
position:absolute;
display:block;
height:83px;
width:136px;
z-index:10;
border:2px solid #3baae4;
}
#sectionCampaignAndCoupon .box_ui .list div.block dl dt .img img {
	position: absolute;
	display: block;
	height: 85px;
	width: 138px;
	z-index: 1;
}

#btnCampaignAndCouponList {
	position:relative;
	height:21px;
	margin:7px 0 0;
}
#btnCampaignAndCouponList a {
	width:367px;
	height:21px;
	background-position:-807px -129px;
	position:absolute;
	right:0;
	bottom:0;
}


/*--------------------------------------------------
汎用 検索パーツ
--------------------------------------------------*/
.search_keyeword_box {
}
	.search_main_area {
		position:relative;
	}
		.search_keyeword_box_text {
			border:1px solid #ded8d0;
			background-color:#fff;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
			.search_keyeword_box_text_inner {
				height:29px;
				padding:0 10px 0 37px;
			}
				.search_keyeword_box_text .icon {
					width:19px;
					height:19px;
					position:absolute;
					left:8px;
					top:7px;
					background-position:-67px -50px;
				}
				.search_keyeword_box_text input {
					display:block;
					width:100%;
					height:18px;
					line-height:18px;
					font-size:12px;
					outline:none;
					background-color:#fff;
					border:none;
					padding:0;
					position:relative;
					top:6px;
				}
			input.search_keyeword_box_btn {
				width:64px;
				height:29px;
				position:absolute;
				top:0;
				right:1px;
				cursor:pointer;
				background-position:-357px -325px;
			}
	/* キーワードから探す */
		.s_side_search_keyword {
			margin:0 0 8px;
		}
			.s_side_search_keyword_ttl {
				position:relative;
				padding:0 0 0 26px;
				font-size:14px;
				line-height:32px;
				height:32px;
			}
				.s_side_search_keyword_ttl .icon {
					position:absolute;
				}
				.s_side_search_keyword_area .s_side_search_keyword_ttl .icon {
					left:0;
					top:8px;
					width:17px;
					height:17px;
					background-position:-2px -50px;
				}
				.s_side_search_keyword_shop .s_side_search_keyword_ttl .icon {
					left:1px;
					top:7px;
					width:20px;
					height:18px;
					background-position:-21px -50px;
				}
			
			.s_side_search_keyword .search_main_area {
				margin: 0 0 4px;
				padding:0 68px 0 0;
			}
	
	/* 履歴 */
		.s_side_search_history {
			padding:4px 0 10px;
		}
			.s_side_search_history_head {
				font-size:14px;
				margin:0 0 7px;
			}
			.s_side_search_history_body {
				border:1px solid #ded8d0;
				background-color:#fff;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				min-height:130px;
				height:auto !important;
				height:130px;
			}
				.s_side_search_history_list {
					padding:7px 10px;
					font-size:12px;
					line-height:1.4;
					margin:0;
					min-height:68px;
					height:auto !important;
					height:68px;
				}
					.s_side_search_history_list li {
						margin:0 0 3px;
					}
				.s_side_search_history_list_non {
					padding:7px 10px;
					color:#c8c8c8;
					line-height:18px;
				}
			
		.s_side_search_history_area {
			width:155px;
			float:left;
		}
			.s_side_search_history_area .s_side_search_history_body {
				margin:0 11px 0 0;
			}
		
		.s_side_search_history_shop {
			width:145px;
			float:left;
		}

	/* カテゴリから探す */
		.s_side_search_category {
			margin:0 0 8px;
		}
		.s_side_search_category_mbn {
			margin:0;
		}
			.s_side_search_category_ttl {
				position:relative;
				padding:0 0 0 31px;
				font-size:14px;
				line-height:30px;
				height:30px;
				border-bottom:1px solid #e9e1d5;
			}
			.s_side_search_category_ttl_bn {
				border-bottom:none;
			}
				.s_side_search_category_ttl .icon {
					position:absolute;
					left:2px;
					top:5px;
					width:23px;
					height:18px;
					background-position:-42px -50px;
				}
			.s_side_search_category_body {
			}
				.s_side_search_category_list {
					font-size:14px;
				}
					.s_side_search_category_list li {
						width:150px;
						float:left;
					}
						.s_side_search_category_list li span {
							display:block;
							margin:0 10px 0 0;
							border-bottom:1px dotted #e9e1d5;
						}
							.s_side_search_category_list li span a {
								display:block;
								position:relative;
								height:30px;
								line-height:30px;
								padding:0 0 0 12px;
								color:#1e5aa5;
							}
								.s_side_search_category_list li span a .icon {
									width:7px;
									height:8px;
									background-position:-15px -80px;
									position:absolute;
									top:10px;
									left:0;
								}
				.s_side_search_category_list_B {
					font-size:14px;
					margin:5px 0 0;
				}
					.s_side_search_category_list_B li {
						float:left;
					}
						.s_side_search_category_list_B li a {
							margin:0 18px 0 0;
						}

/*--------------------------------------------------
static sectionSideSearchBox
--------------------------------------------------*/
/* セクション　チラシを探す */
#sectionSearchBox {
	position:relative;
	margin:15px 0 20px;
	z-index:2000;
}
	#sectionSearchBox .section_head_type_D {
	}
		#sectionSearchBox .s_side_search_keyword .search_main_area {
			padding:0 74px 0 0;
		}

/*--------------------------------------------------
static sectionSideSearchBox
--------------------------------------------------*/
/* セクション　チラシを探す */
#sectionSideSearchBox {
	position:relative;
	margin:15px 0 20px;
	z-index:2000;
	color:#000;
}
#sectionSideSearchBox .section_head_type_D {
}


/*--------------------------------------------------
static sectionSNS
--------------------------------------------------*/
/* セクション　SNS情報 */
#sectionSNS {
}
	#sectionSNS .section_head_type_A {
		background-position:100% 100%;
	}
#snsList {
}
.sns_list {
	margin:0 10px;
	padding:0 0 20px;
}
	.sns_list_item {
		float:left;
		height:44px;
		width:25%;
	}
		.sns_list_item a {
			display:block;
			height:44px;
			text-indent:-9999px;
			background-color:#fff;
		}
		#site-top .sns_list_item a,
		.bg_main_b .sns_list_item a {
			background-color:#fbfaf8;
		}
			.sns_list_item_fb a {
				width:57px;
				margin:0 auto;
				background-position:-153px -110px;
			}
			.sns_list_item_tw a {
				width:41px;
				margin:0 0 0 20px;
				background-position:-212px -110px;
			}
			.sns_list_item_mi a {
				width:31px;
				margin:0 auto;
				background-position:-255px -110px;
			}
			.sns_list_item_go a {
				width:51px;
				height:46px;
				margin:0 auto;
				background-position:-288px -110px;
			}


	
	
/*--------------------------------------------------
static sectionTargetWordChirashiList
--------------------------------------------------*/
.target_word_chirashi {
	margin:10px 0 10px;
	position:relative;
}
	.target_word_chirashi_list {
		margin:10px 0 0;
	}
		.target_word_chirashi_list div.block {
			width:160px;
			padding:0 0 10px;
			float:left;	
		}
			.target_word_chirashi_list div.block dl {
				width:138px;
				margin:0 auto;
			}
				.target_word_chirashi_list div.block dl dt {
					margin:0 0 4px;
				}
				.target_word_chirashi_list div.block dl dt .img {
					position: absolute;
					display: block;
					height: 83px;
					width: 136px;
					z-index: 10;
				}
				.target_word_chirashi_list div.block dl dt .img img {
					position: absolute;
					display: block;
					height: 85px;
					width: 138px;
					z-index: 1;
				}

/*--------------------------------------------------
（リスト系で使うもの）※2015.05追加
--------------------------------------------------*/	
	/* 下部テキスト
	--------------------------*/
		.description_text {
			color:#787878;
		}
	
	/* メインセクション
	--------------------------*/
		.content_main_section {
			margin-top:10px;
		}
		
		
		
		
		
/*
	ポップメニューボックス
*/
.pop_menu_box {
	display:block;
	opacity:0;
	
	position:absolute;
	top:0;
	left:0;
	
	z-index:8900;
	
	min-width:100px;
	max-width:400px;
	border:1px solid #ccc;
	background-color:#fff;
	font-size:12px;
	
	padding:0 0 0;

	background: rgba(255,255,255,.98);
	-webkit-background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #c5c5c5;
	border: 1px solid rgba(100, 100, 100, .4);
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.pop_menu_box_z_type_fixed {
	position:fixed;
	z-index:9100;
}
	.pop_menu_box_arrow_type {

	}
		.pop_menu_box .pop_menu_box_arrow_i {
			position: absolute;
			zoom: 1;
			line-height: 0;
			width: 0;
			height: 0;
		}
		.pop_menu_box .pop_menu_box_arrow_u {
			position: absolute;
			zoom: 1;
			line-height: 0;
			width: 0;
			height: 0;
		}
		
		.pop_menu_box_arrow_type_top .pop_menu_box_arrow_i {
			left: 0;
			bottom:0;
			margin: 0 0 -8px -8px;
			border-top: 0;
			border: 8px transparent solid;
			_border-color: pink;
			border-top-color: #aaa;
			border-top-color: rgba(0, 0, 0, .4);
			border-bottom: 0;
		}
		.pop_menu_box_arrow_type_top .pop_menu_box_arrow_u {
			left: 0;
			bottom:0;
			margin: 0 0 -8px -8px;
			border-top: 0;
			margin-bottom: -7px;
			border: 8px transparent solid;
			_border-color: pink;
			border-top-color: #aaa;
			border-top-color: #fff;
			border-bottom: 0;
		}

		.pop_menu_box_arrow_type_bottom .pop_menu_box_arrow_i {
			left: 0;
			top:0;
			margin: -8px 0 0 -8px;
			border-top: 0;
			border: 8px transparent solid;
			_border-color: pink;
			border-bottom-color: #aaa;
			border-bottom-color: rgba(0, 0, 0, .4);
			border-top: 0;
		}
		.pop_menu_box_arrow_type_bottom .pop_menu_box_arrow_u {
			left: 0;
			top:0;
			margin: -8px 0 0 -8px;
			border-top: 0;
			margin-top: -7px;
			border: 8px transparent solid;
			_border-color: pink;
			border-bottom-color: #aaa;
			border-bottom-color: #fff;
			border-top: 0;
		}
	
	.pop_menu_box_inner {
	}
		.pop_menu_content {
			overflow:auto;
		}
			.pop_menu_loading {
				padding:10px;
			}
			.pop_menu_error {
				padding:10px;
			}
			.pop_menu_ui_ttl {
			}
			
			.pop_menu_ui {
				padding:5px 0;
			}
				.pop_menu_ui_list {
				}
					.pop_menu_ui_list_item {
					}
						.pop_menu_ui_list_item a {
						}
					
			.pop_menu_ui_A {
			}
				.pop_menu_ui_A .pop_menu_ui_ttl {
					font-size:10px;
					color:#999;
					padding: 3px 12px 4px;
					margin:4px 10px 10px;
					border-bottom: 1px solid #e0e0e0;
				}
				.pop_menu_ui_A .pop_menu_ui_list {
				}
					.pop_menu_ui_A .pop_menu_ui_list_item {
					}
						.pop_menu_ui_A .pop_menu_ui_list_item a {
							display:block;
							height:20px;
							line-height:20px;
							color:#666;
							text-decoration:none;
							border-bottom: 1px solid #fff;
							border-top: 1px solid #fff;
							overflow: hidden;
							padding: 0 22px;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.pop_menu_ui_A .pop_menu_ui_list_item a:hover {
							border-bottom: 1px solid #6b8916;
							border-top: 1px solid #6b8916;
							
							background-color:#7c9f19;
							color: #fff;	
						}
			.pop_menu_ui_A .pop_menu_text {
				padding:0 10px;
			}

/* ポップメニュー：全てのカテゴリー */
.pop_select_list {
}
	.pop_select_list li {
		border-bottom:1px solid #ebe7e2;
	}
	.pop_select_list li:last-child {
		border-bottom:none;
	}
		.pop_select_list li a {
			display:block;
			padding:6px 10px 5px 30px;
			position:relative;
		}
			.pop_select_list li a i.icon {
				width:6px;
				height:8px;
				background-position:-15px -80px;
				position:absolute;
				top:11px;
				left:15px;
			}

	
/* .bdrn */
.bdrn {
	border:none !important;
}


.no_list_A {
	padding:12px;
}



/* */

#error_nobg {
    padding: 10px;
}



/* 2015.6以降消す */
.member_transition_bnr {
	text-align:center;
	padding:10px 0;
}