@charset "utf-8";

/*==================================================
  Universal Reset
  Default Style
==================================================*/


/*--------------------------------------------------
  Universal Reset
--------------------------------------------------*/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,del,ins,em,img,hr,q,strong,sub,sup,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td{
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6{
font-weight:normal;
font-size:100%;
}

ul,ol{
list-style:none;
}

table,th,td{
border:0 none;
	border-spacing: 0;
}

th{
font-weight:normal;
text-align:left;
}

caption{
text-align:left;
}

strong{
font-weight:normal;
}

em{
font-style:normal;
}

img{
border:0;
vertical-align:bottom;
}

dt{
font-weight:normal;
}

fieldset{
border:0 none;
}

legend{
display:none;
}

textarea{
font-size:1em;
}

/*--------------------------------------------------
  hasLayout
--------------------------------------------------*/
div,ul,li,dl,dt,dd,p{
zoom:1;
}

ul li,
ol li{
zoom:normal;
}

/*--------------------------------------------------
  Default Style
--------------------------------------------------*/
body{
font-size:100.01%;
color:#505050;
font-family:'sans-serif';
font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
*font-family:'ＭＳ Ｐゴシック','MS PGothic','sans-serif';
word-break:break-all;
}

em{
font-weight:bold;
}

strong{
font-weight:bold;
}

/* 201009 Edit linkColor */
a{
/*color:#1155D3;*/
/*color:#2166e7;*/
color:#2c4f7e;
text-decoration:none;
}

a:visited{
color:#3e4d98;
text-decoration:none;
}

a:hover,
a:active,
a:focus{
/*color:#3188D3;*/
color:#3baae4;
text-decoration:underline;
}

p,ul,ol,dl,table{
}

sup{
vertical-align:top;
}

sub{
vertical-align:baseline;
}


object,
embed {
outline:none;
}
