@charset "utf-8";

 /*--------------------------------------------------
  appStoreConductor
--------------------------------------------------*/
#appStoreConductor{
	height:230px;
	margin: 0 0 0 0;
	position:relative;
	font-size: 12px;
}
#appStoreConductorLeftBox{
	min-height:189px;
	margin:10px 0 0;
	width:780px;
	float:left;
}
#appStoreConductorLeftBox p a{
	display:block;
	min-height:189px;
	text-decoration:none;
}
#ios-head #appStoreConductorLeftBox p a,
#android-os-head #appStoreConductorLeftBox p a{
	display:block;
	position:relative !important;
	left:-5px;
	top:-4px;
}
#android-os #appStoreConductorLeftBox p a{
}

#appStoreConductorLeftBox p a.catch-a {
}

#btnSmartPhoneView{
	display:block;
	height:180px;
	width:190px;
	float:left;
	font-size:2.8em;
	margin:10px 0 0;
}
#btnSmartPhoneView a{
	height:190px;
	width:180px;
	text-align:center;
	vertical-align:middle;
	display: table-cell;
	padding: 5px 10px;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #e6e6e6));
	background: -webkit-linear-gradient(top, #fefefe 0%, #e6e6e6 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #e6e6e6 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #e6e6e6 100%);
	background: linear-gradient(top, #fefefe 0%, #e6e6e6 100%);
	-moz-box-shadow: inset 1px 1px white, inset -1px 1px white, inset 1px -1px white, inset -1px -1px white;
	-webkit-box-shadow: inset 1px 1px white, inset -1px 1px white, inset 1px -1px white, inset -1px -1px white;
	box-shadow: inset 1px 1px white, inset -1px 1px white, inset 1px -1px white, inset -1px -1px white;
	color: #333;
	-moz-text-shadow: 0 -1px white;
	text-shadow: 0 -1px white;
	border: 1px solid #999;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	text-decoration: none;
	padding: 5px 15px;
}
