@charset "utf-8";

/*==================================================
  Base Layout
  Header Area
  Head Banner
  Contents Area
  Primary Area
  Secondary Area
  Footer Area
==================================================*/


ul.nav-category li a {
	text-indent:2px;
}

a {
	/*overflow:hidden;*/
	outline:none;
}

/*--------------------------------------------------
  Base Layout
--------------------------------------------------*/
body {
	background-position:0 0;
	padding:0;
	margin:0;
	background-color:#928e88;
}
.under_width {
	width:970px;
	overflow-x:hidden;
}

body.column-2A
body.column-2D,
body.column-2F,
body.column-2G {
}


body.view_smartphone {
	background-position:0 230px;
}

body.simple {
	background:#ffffff;
}

div#container {
	margin:0 auto;
	padding:0 0 0 0;
	width:100%;
	font-size:12px;
	_font-size:75%;
	line-height:1.17;
	font-family:'sans-serif';
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	background-color:#fff;
}
.under_width div#container {
	width:970px;
}
	body#site-top div#container {
		background-color:#fbfaf8;
	}
	body.bg_main_b div#container {
		background-color:#fbfaf8;
	}

/*--------------------------------------------------
  Header Area
--------------------------------------------------*/
#header {
	position:relative;
	z-index:2000;
	border-bottom:2px solid #e61e0a;
	background-color:#fff;
}
	.h_inner {
		position:relative;
		width:970px;
		height:90px;
		margin:0 auto;
	}
		.h_logo {
			position:absolute;
			top:6px;
			left:0;
			height:47px;
		}
			.h_logo a {
			}
				.h_logo a img {
					vertical-align:middle;
				}
		.h_info {
			position:absolute;
			top:63px;
			left:0;
			text-align:center;
			font-size:14px;
			color:#635b47;
			border-left:1px dotted #ccc8b8;
		}
			.h_info_item {
				float:left;
				padding:2px 10px;
				border-right:1px dotted #ccc8b8;
			}
			.h_date {
			}
			.h_feature {
				padding-right:0;
			}
				.h_feature dt {
					float:left;
				}				
				.h_feature dd {
					float:left;
				}				
					.h_feature dd ul {
						float:left;
					}
					.h_feature dd ul li {
						float:left;
						padding:0 10px 0 0;
					}
										
		.h_member_area {
			position:absolute;
			top:0;
			right:0;
			width:424px;
		}
		.h_member_box {
		}
		.under_width .h_member_area {
			right:0px;
		}
			/*ログイン前*/
				.h_ma_comment {
					position:absolute;
					top:12px;
					right:1px;
					display:inline-block;
					border:1px solid #ded8d0;	
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
				}
					.h_ma_comment_text {
						display:block;
						padding:9px 9px;
					}
					.h_ma_comment_arrow {
						position:absolute;
						bottom:-9px;
						right:67px;
						width:12px;
						height:9px;
						background-position:-33px -80px;
					}
				.h_ma_link {
					position:absolute;
					top:53px;
					right:1px;
					padding:0 0 0 6px;
				}
					.h_ma_link_item {
						float:left;
						padding:0 0 0 10px;
						line-height:16px;
						position:relative;
					}
					.h_ma_link_login {
						width:100px;
						height:31px;			
					}
						.h_ma_link_login a {
							display:block;
							width:100px;
							height:31px;
							background-position:-2px -324px;
							background-color:#f4f0ea;
						}
					.h_ma_link_new_entry {
						width:150px;
						height:31px;					
					}
						.h_ma_link_new_entry a {
							display:block;
							width:150px;
							height:31px;
							background-position:-103px -324px;
							background-color:#f4f0ea;
						}

			/*ログイン後*/
				.h_member_new .h_member_box {
					margin:5px 0;
					background-color:#f4f0ea;
					border:1px solid #ded8d0;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					color:#635b47;
				}
					.h_member_new .h_member_box_inner {
						height:78px;
						position:relative;
					}
						.h_member_new .h_member_box_comment {
							font-size:12px;
							position:absolute;
							top:15px;
							left:129px;
						}
							.h_member_new .h_member_box_comment span {
								margin:0 3px;
							}
						.h_member_box_point {
							width:181px;
							position:absolute;
							top:38px;
							left:127px;
						}
							.h_member_box_point_inner {
								position:relative;
								background-color:#fff;
								border:1px solid #ded8d0;
								padding:0 25px 0 30px;
								text-align:right;
								-moz-border-radius: 5px;
								-webkit-border-radius: 5px;
								border-radius: 5px;
							}
								.h_member_box_point .icon {
									position:absolute;
									top:2px;
									left:3px;
									width:24px;
									height:24px;
									background-position:-227px 0;
								}
								.h_member_box_point_num {
									font-size:22px;
									line-height:29px;
									height:29px;
									font-family:Verdana, Geneva, sans-serif;
								}
								.h_member_box_point_p {
									font-size:14px;
									position:absolute;
									top:11px;
									left:159px;
									font-family:Verdana, Geneva, sans-serif;
								}
                        .h_member_box_logout {
							position:absolute;
							top:9px;
							left:343px;
							width:71px;
							height:24px;
							background-position: -311px -564px;
							background-color:#f4f0ea;
						}
						.h_member_box_mypage {
							position:absolute;
							top:38px;
							left:313px;
							width:100px;
							height:31px;
							background-position: -255px -324px;
							background-color:#f4f0ea;
						}
						.h_member_box_rank {
							position:absolute;
							top:6px;
							left:13px;
							z-index:1;
							width:111px;
							height:66px;
						}
						.member_rank_normal .h_member_box_rank {
							background-position:-2px -250px;
						}
						.member_rank_pro .h_member_box_rank {
							background-position:-115px -250px;
						}			
						.member_rank_star .h_member_box_rank {
							background-position:-228px -250px;
						}			
						.member_rank_legend .h_member_box_rank {
							background-position:-341px -250px;
						}
						.h_member_box_info_count {
							position:absolute;
							top:17px;
							left:8px;
							z-index:2;
							width:36px;
							height:32px;
							background-position:-253px 0;
						}
							.h_member_box_info_count_num {
								color:#fff;
								padding:0 4px 0 0;
								font-size:14px;
								text-align:center;
								line-height:32px;
								height:32px;
							}
			

			


/*--------------------------------------------------
  Pankuzu Area
--------------------------------------------------*/
#pankuzu {
	position:relative;
	z-index:1000;
	width:970px;
	margin:10px auto 0;
}
	.pankuzu_link {
	}


/*--------------------------------------------------
  Contents Area
--------------------------------------------------*/
div#contents {
	margin:10px auto 0;
	width:970px;
	
	min-height:400px;
	height:auto !important;
	height:400px;

	padding:0 0 20px;
	position:relative;
	z-index:1500;
}

body.column-2D div#contents {
	margin:14px auto 20px;
	width:970px;
	padding:0;
}
body.column-2F div#contents {
	position:inherit;
	position:static;
}
body.column-2G div#contents {
	position:inherit;
	position:static;
}

.fullflash {
	text-align:center;
}

div#contents-login {
	margin:20px auto;
	width:970px;
}


/*--------------------------------------------------
  Main Content Area
--------------------------------------------------*/
div#main-content {
	z-index:200;
	position:relative;
}

body.column-2A div#main-content {
	width:745px;
	float:right;
}

body.column-2D div#main-content {
	width:760px;
	float:left;
}
	body.column-2D div#main-content div#main-content-inner {
		margin:0 10px 0 0;
	}

body.column-2F div#main-content {
	width:670px;
	float:left;
}
	body.column-2F div#main-content div#main-content-inner {
		width:660px;
	}

body.column-2G div#main-content {
	width:670px;
	float:left;
}
	body.column-2G div#main-content div#main-content-inner {
		width:650px;
	}

/* 下部AD */
#bnrSuperbannerBottom {
	clear:both;
	width:728px;
	height:90px;
	margin:0 auto;
	padding:30px 0;
}




/*--------------------------------------------------
  Sub Content Area 01
--------------------------------------------------*/
div#sub-content-01 {
	float:left;
}

body.column-2A div#sub-content-01 {
	width:215px;
}

body.column-2E div#sub-content-01 {
	width:200px;
	float:right;
	margin:0;
	padding:0;
}

/*--------------------------------------------------
  Sub Content Area 02
--------------------------------------------------*/
div#sub-content-02 {
	float:right;
	position:relative;
	z-index:100;
}

body.column-2E div#sub-content-02 {
	width:215px;
	position:relative;
	z-index:1000;
}
body.column-2F div#sub-content-02 {
	width:300px;
	float:left;
	overflow:hidden;
}
body.column-2G div#sub-content-02 {
	width:300px;
	float:left;
	overflow:hidden;
}

/*--------------------------------------------------
  Sub Content Area iFrame
--------------------------------------------------*/
#pdfbook {
}

body.column-2D iframe {
	border:none;
	margin-top:0px;
}
body.column-2D .pdf-heder {
	border-top:1px #CCC solid;
	border-left:1px #CCC solid;
	border-right:1px #CCC solid;
	background:#FFF url(../../201009/images/shared/pdf_header.gif) repeat-y right top;
	margin-bottom:-9px !important;
	padding:3px 0 4px;
	width:771px;
	_width:771px;
	line-height:17px;
	min-height:62px;
	_height:auto !important;  
	_height:62px;  
}
body.column-2D .pdf-heder .image {
	background:none;
	margin:5px 6px 0 7px;
	float:left;
}
body.column-2D .pdf-heder .title {
	background:none;
	margin:4px 0 4px 6px;
}
body.column-2D .pdf-heder .title h1 {
	font-weight:bold;
	*margin-top:4px;
}
body.column-2D .pdf-heder .title .date {
	font-size:11px;
	*margin-bottom:0px;
}

body.column-2D .fullflash {
	margin-bottom:60px;
	width:970px;
	margin:0 auto;
}
	.fullflash_iframe {
		border-bottom: 1px #CCC solid;
		border-left: 1px #CCC solid;
		border-right: 1px #CCC solid;
		border-top: 1px #CCC solid;
		background-color: #F2F2F2;
	}

		body.column-2D .fullflash iframe {
		}

body.column-2D #pdfbook iframe {
}


/*--------------------------------------------------
  Footer Area
--------------------------------------------------*/
.footer {
}
	.f_info {
		width:970px;
		margin:0 auto;
		padding:50px 0 10px;
		position:relative;
	}
		.f_pagetop {
			font-size:12px;
			position:absolute;
			bottom:10px;
			right:4px;
		}
			.f_pagetop a {
				position:relative;
				padding:0 0 0 1.2em;
				color:#50504f;
			}
				.f_pagetop a i {
					position:absolute;
					top:0.32em;
					left:0;
					width:8px;
					height:8px;
					background-position:-23px -80px;
				}
	.footer_content {
		background-color:#928e88;
		padding:1px 0 0;
	}
		.footer_content_inner {
			width:970px;
			margin:0 auto;
		}
			.footer_menu_1 {
				font-size:14px;
				line-height:15px;
				height:14px;
				text-align:center;
				margin:18px 0 15px;
			}
				.footer_menu_1 ul {
					display:inline-block;
				}
					.footer_menu_1 ul li {
						display:inline;
						padding:0 20px;
						border-right:1px solid #b9b3a9;
					}
						.footer_menu_1 ul li a {
							color:#fff;
						}
					.footer_menu_1 ul li:first-child {
						border-left:1px solid #b9b3a9;
					}
			.footer_menu_2 {
				font-size:12px;
				line-height:13px;
				height:12px;
				text-align:center;
				margin:0 0 15px;
			}
				.footer_menu_2 ul {
					padding:0 0 0 13px;
				}
					.footer_menu_2 ul li {
						display:inline;
						padding:0 13px 0 0;
					}
						.footer_menu_2 ul li a {
							color:#fff;
						}		
			.footer_menu_3 {
				height:50px;
				width:970px;
				overflow:hidden;
				padding:10px 0 0;
				text-align:center;
				margin:0 0 0;
				border-top:1px solid #aca79f;
			}
				.footer_menu_3 ul {
					width:979px;
				}
					.footer_menu_3 ul li {
						display:inline;
						padding:0 8px 0 0;
					}
						.footer_menu_3 ul li a {
							color:#fff;
						}
							.footer_menu_3 ul li a img {
								vertical-align:middle;
							}									
			.footer_copyright {
				font-size:12px;
				color:#ffffff;
				position:relative;
				text-align:center;
				padding:15px 0 15px;
			}
