@charset "shift-jis";

/*==================================================
  Clear Fix
  hasLayout
==================================================*/


/*--------------------------------------------------
  Clear Fix
--------------------------------------------------*/
div#contents:after,
div#footer table td ul:after,
div#footer ul.nav-utility:after,
.list-result-02:after,
div#header form#login:after,
div#header form#login ul:after,
div#header ul#nav-global:after,
div.layout:after,
.head-02:after,
ul.list-info li:after,
div#header div.header-inner ul.nav-utility:after,
div.box-thumbnail ul li a:after,
div.nav-content dl:after,
div.nav-page:after,
.double:after,
.triple:after,
.quadruple:after{
display:block;
clear:both;
height:0;
visibility:hidden;
content:".";
}

/*--------------------------------------------------
  hasLayout
--------------------------------------------------*/
div,ul,li,dl,dt,dd,p{
zoom:1;
}

ul li,
ol li{
zoom:normal;
}


/**IAJ 2010/1/13 色**/
.txt-red {
	color: #FF0000;
}
