@charset "utf-8";

body div#header,
body div#contents,
body div.pagetop2 p,
body div.topic-path,
body div#footer {
	padding-right:0;
}
body div.topic-path {
	width:970px;
}
body div.topic-path p {
	width:auto;
}

body.column-2F div#sub-content-02 {
	overflow:hidden !important;
}

/*==================================================
  shufoo_mg
==================================================*/

/*--------------------------------------------------
  shufoo_mg
--------------------------------------------------*/

#contents #main-content #shufoo_mg {
	width: 435px;
	height: 83px;
	min-height: 83px;
	margin-bottom: 10px;
	background: url(/contents/images/top/shufoo_mg_bg.gif) no-repeat;
}

#contents #main-content #shufoo_mg #shufoo_mg_inner {
	width: 420px;
	margin-left: 10px;
	padding-top: 13px;
}

#contents #main-content #shufoo_mg #shufoo_mg_inner dl {
	width: 200px;
	float: left;
	padding-top: 17px;
}

#contents #main-content #shufoo_mg #shufoo_mg_inner dl dt {
	font-weight: bold;
	padding-bottom: 3px;
}

#contents #main-content #shufoo_mg #shufoo_mg_inner p {
	width: 210px;
	float: right;
}



/*--------------------------------------------------
  static topFlashArea
--------------------------------------------------*/
#topFlashArea {
	width:660px;
	margin:0 0 20px;
}
#topFlashAreaHtml {
}
#topFlashAreaHtml li {
	float:left;
	width:330px;
	height:103px;
	overflow:hidden;
}


/*--------------------------------------------------
  static sectionMyBox
--------------------------------------------------*/
/* セクション　ウェルカムボード */
#welcomePanelBox {
	background-color: #FBF9F7;
	border: 1px solid #DBCFC0;
	padding:9px 0 9px 9px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position:relative;
	margin:0 0 22px;
}
	.welcome_panel_list_wrap {
		width:640px;
		height:236px;
		position:relative;
		overflow:hidden;
	}
		.welcome_panel_list_wrap_inner {
			background-color: #fff;
			border: 1px solid #ccbba8;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			position:relative;
		}
			.welcome_panel_list_wrap_view_box {
				width:638px;
				height:234px;
				position:relative;
				overflow:hidden;
			}
				.welcome_panel_list {
					width: 99999px;
					position: absolute;
					left: 0px;
					top: 0px;
					z-index: 1000;
				}
					.welcome_panel_banner_item {
						width:660px;
						float:left;
					}
						.welcome_panel_banner_item_img {
							display:block;
							width:638px;
							height:234px;
						}
							.welcome_panel_banner_item_img img {
								width:638px;
								height:234px;
								border-radius: 3px;
								-moz-border-radius: 3px;
								-webkit-border-radius: 3px;
								position:relative;
							}
	.welcome_panel_btn_wrap {
	}
		.welcome_panel_btn {
			margin:9px 0 0;
		}
			.welcome_panel_btn_item {
				float:left;
				width:162px;
			}
				.welcome_panel_btn_item span {
				}
					.welcome_panel_btn_item a {
						display:block;
						color:#fff;
						font-weight:bold;
						font-size:10px;
						text-align:center;
						width:154px;
						padding:8px 0 6px;
						line-height:1.1;
						background-color:#ccbba8;
						border-radius: 4px;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
					}
					.welcome_panel_btn_item a.on {
						background-color:#471700;
					}
					.welcome_panel_btn_item a:hover {
						background-color:#471700;
						text-decoration:none;
					}



/*--------------------------------------------------
  static sectionMyBox
--------------------------------------------------*/
/* セクション　Myボックス */
#sectionMyBox {
	position:relative;
	margin:0 0 10px;
	z-index:1000;
}
	#sectionMyBox.section_box_type_E .section_box_inner_not_ttl {
		padding: 19px 12px 19px 19px;
	}


/* Myエリア情報 */
#myBoxInfo {
	position:relative;
	height:63px;
}
.not_myarea #myBoxInfo {
	width:inherit;
}
	.mai_being_set {
		position:relative;
		padding:0 0 0 11.2em;
	}
		.mai_being_set_ttl {
			color:#e61e0a;
			font-weight:bold;
			position:absolute;
			top:0;
			left:0;
			height:30px;
			padding:0 11px 0 37px;
			border-right:1px dotted #ccc8b8;
		}
			.mai_being_set_ttl .icon {
				width:29px;
				height:28px;
				background-position:-196px 0;
				position:absolute;
				top:1px;
				left:0;
			}
			.mai_being_set_ttl .text {
				padding:2px 0 0;
			}
		.mai_being_set_text {
			position:relative;
			top:-5px;
			width:282px;
			font-size:16px;
			height:40px;
		}
		.mai_being_set_text table {
			vertical-align:middle;
			height:40px;
		}
	.mai_area_change {
		width:57px;
		height:31px;
		background-position:-266px -500px;
		position:absolute;
		top:0;
		right:0;
		background-color:#fff;
	}
	.myarea_info_weather {
		position:absolute;
		top:0;
		right:61px;
		width:112px;
	}
		a.myarea_info_weather_btn {
			position:relative;
			zoom:1;
			
			display:block;
			
			border:1px solid #ccbba8;
			
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			background-color: #fff;
			
			box-shadow: 0 1px 0 rgba(219, 207, 192, .22);
			-webkit-box-shadow: 0 1px 0 rgba(219, 207, 192, .22);
			-moz-box-shadow: 0 1px 0 rgba(219, 207, 192, .22);
		}
		a.myarea_info_weather_btn:hover {
			text-decoration:none;
			cursor:pointer;
		}
			.myarea_info_weather_btn_inner {
				display:block;
				height:30px;
			}
				.myarea_info_weather_icon {
					display:block;
					position:absolute;
					top:3px;
					left:9px;
					width:35px;
					text-align:center;
				}
				.myarea_info_weather_int {
					position:absolute;
					top:0;
					right:24px;
					text-align:right;
					font-weight:bold;
					font-size:10px;
					padding:0 7px 0 0;
					margin:3px 0;
					border-right:1px dotted #ccbba8;
					line-height:1.1;
				}
					.myarea_info_weather_int_max {
						display:block;
						color:#e12020;
						margin:0 0 2px;
					}
					.myarea_info_weather_int_min {
						display:block;
						color:#2166e7;
					}
				.myarea_info_weather_arrow {
					position:absolute;
					top:14px;
					right:9px;
					width:7px;
					height:3px;
					background-position:-35px -7px;
				}
		.myarea_info_weather_btn:hover .myarea_info_weather_btn_inner {
			filter: alpha(opacity=70);
			-moz-opacity:0.70;
			opacity:0.70;
		}
	
	.mai_area_info {
	}
		.mai_area_info_text {
			float:left;
			font-size:16px;
			line-height:25px;
			padding:0 10px 0 0;
		}
		.mai_area_info_btn {
			float:left;
		}
			.mai_area_info_btn a {
				width:176px;
				height:25px;
				background-position:-2px -415px;
			}

	
	
#myChirashiBox {
	position:relative;
	z-index:200;
	margin:0 0 20px;
}
	.not_text {
		height:1em;
	}
	.mcb_history {
		width:113px;
		height:25px;
		position:absolute;
		top:2px;
		left:158px;
	}
		.mcb_history a {
			width:113px;
			height:25px;
			background-position:-180px -415px;
			background-color:#fff;
		}

#myChirashiInfo {
	height:33px;
	position:absolute;
	top:0;
	right:0;
	color:#505050;
}
	/* チラシOFF時 */
		.st_mcl_info_text {
			padding:8px 0 0 15px;
		}
		.st_mcl_chirashi_off_btn {
			padding:17px 0;
		}
			.st_mcl_chirashi_off_btn_delivery a {
				display:block;
				width:306px;
				height:40px;
				margin:0 auto;
				background-position:-208px -195px;
			}
			.st_mcl_chirashi_off_btn_open a {
				display:block;
				width:213px;
				height:30px;
				margin:10px auto 0;
				background-position:-284px -125px;
			}
	.st_mcl_info {
		padding:8px 0 0 15px;
		font-size:12px;
	}
		.st_mcl_info_inner {
		}
			.st_mcl_info_total_number {
				float:left;
				padding:0 10px 0 0;
				position:relative;
				height:20px;
				line-height:20px;
			}
				.st_mcl_info_total_number dt {
					float:left;
				}
				.st_mcl_info_total_number dd {
					float:left;
					position:relative;
				}
					.st_mcl_info_total_number dd .st_mcl_info_view_total_number_int {
					}
					.st_mcl_info_total_number dd .st_mcl_info_total_number_int {
					}
					.st_mcl_info_total_number dd .st_mcl_info_mai {
						margin:0 0 0 8px;
					}
			.st_mcl_info_sort {
				float:left;
				color:#471700;
				position:relative;
				border-left:1px solid #ccc8b8;
				border-right:1px solid #ccc8b8;
				height:20px;
				line-height:20px;
			}
				.st_mcl_info_sort_list {
				}
					.st_mcl_info_sort_list_item {
						float:left;
						padding:0 10px;
						border-right:1px dotted #ccc8b8;
					}
					.st_mcl_info_sort_list_item_last {
						border-right:none;
					}
						.st_mcl_info_sort_list_item a {
						}
						.st_mcl_info_sort_list_item_on a {
							color:#505050;
							font-weight:bold;
						}

.not_myarea #myChirashiBox {
}
	.not_myarea .mcb_history {
		left:0;
	}
	.not_myarea #myChirashiInfo {
		left:138px;
	}


#myChirashiList {
	position:relative;
	z-index:1000;
	overflow:hidden;
	padding:1px;
}
	#myChirashiListInner {
	}
		#myChirashiListContentArea {
			position:relative;
			overflow:hidden;
			height:420px;
		}
			.st_mcl_loading {
				position:absolute;
				top:50px;
				left:0;
				width:100%;
				height:200px;
				z-index:2000;
			}
				.st_mcl_loading_kero {
					width:100px;
					height:100px;
					margin:0 auto;
					background:#fff url(../images/shared/loading.gif) no-repeat 50% 70%;
					border:1px solid #dbcfc0;
					border-radius: 6px;
					-moz-border-radius: 6px;
					-webkit-border-radius: 6px;
					box-shadow:2px 2px 15px rgba(204, 187, 168, 0.6);
					-moz-box-shadow:2px 2px 15px rgba(204, 187, 168, 0.6);
					-webkit-box-shadow:2px 2px 15px rgba(204, 187, 168, 0.6);
					-o-box-shadow:2px 2px 15px rgba(204, 187, 168, 0.6);
					-ms-box-shadow:2px 2px 15px rgba(204, 187, 168, 0.6);
				}
			.st_mcl_wrap {
				width:99999px;
				position:absolute;
				left:7px;
				top:20px;
				z-index:1000;
			}
			
			/* ページャー */
				.st_mcl_pager {
					position:absolute;
					bottom:0;
					left:0px;
					width:610px;
					background-color:#fff;
					z-index:2000;
				}
					.st_mcl_pager_inner {
						position:relative;
					}
						.st_mcl_pager_number {
							text-align:center;
							line-height:43px;
						}
						.st_mcl_pager_btn {
							display:block;
							position:absolute;
							top:3px;
							width:60px;
							height:42px;
							text-indent:-9999px;	
							background-color:#fff;				
						}
						.st_mcl_pager_btn_prev {
							left:210px;
							background-position:-64px -110px;
						}
						.st_mcl_pager_btn_next {
							right:210px;
							background-position:-2px -110px;
						}
						.st_mcl_pager_btn_inactive {
							filter: alpha(opacity=50);
							-moz-opacity:0.50;
							opacity:0.50;
						}
				.st_mcl_favorite_list {
					position:absolute;
					bottom:11px;
					right:28px;
					z-index:3000;
				}
	

			/* チラシリスト */
				.st_mcl {
					float:left;
					width:650px;
				}
				.st_mcl_now {
				}
					.st_mcl_unit {
					}
						.st_mcl_box {
							width:157px;
							height:204px;
							float:left;
							position:relative;
						}
							.st_mcl_item {
								display:block;
								padding:2px 9px 2.25px 10px;
							}
								.st_mcl_item a {
									color:#471700;
									display:block;
								}
									.st_mcl_item_thumb {
										display:block;
										height:85px;
										position:relative;
									}
										.pr_chirashi .st_mcl_item_thumb .border_box {
											display:block;
											border:2px solid #ffba00;
											position:absolute;
											top:-2px;
											left:-2px;
											z-index:2;
										}
											.pr_chirashi .st_mcl_item_thumb .border_box_inner {
												display:block;
												width:138px;
												height:85px;
												position:relative;
											}
												.pr_chirashi .st_mcl_item_thumb .border_box_icon {
													width:36px;
													height:20px;
													background-position:-2px -176px;
													position:absolute;
													top:-2px;
													left:-2px;
												}
										.block_ticker {
											width:40px;
											height:20px;
											position:absolute;
											top:-8px;
											left:1px;
										}
										.block_ticker_today {
											background-position:-2px -154px;
										}
										.block_ticker_tomorrow {
											background-position:-44px -154px;
										}
										.st_mcl_item_thumb img {
										}
									.st_mcl_item_info {
										display:block;
										padding:8px 0;
									}
										.st_mcl_item_name {
											display:block;
											color:#505050;
											font-size:14px;
											line-height:18px;
											border-bottom:1px solid #e9e1d5;
											margin:0 0 6px;
											padding:0 0 5px;
											word-break:break-all;
										}
											.st_mcl_item_name_str {
												display:block;
												overflow:hidden;
											}
										.st_mcl_item_title {
											display:block;
											color:#505050;
											font-size:11px;
											line-height:14px;
											word-break:break-all;
										}
										
										.st_mcl_item a:visited .st_mcl_item_name, 
										.st_mcl_item a:visited .st_mcl_item_title {
											color:#949494;
										}
										.st_mcl_item a:hover .st_mcl_item_name, 
										.st_mcl_item a:hover .st_mcl_item_title {
											color:#3baae4;
											text-decoration:underline;
										}
										
							.btn_st_mcl_other_shop {
								display:block;
								font-size:10px;
								margin:0 9px;
								text-align:right;
							}
							.st_mcl_box a.btn_favorite {
								position:absolute;
								height:25px;
								width:25px;
								z-index:20;
								top:-5px;
								right:8px;
								cursor:pointer;
								background-position:-126px -110px;
								z-index:3;
							}
							.pr_chirashi a.btn_favorite {
								top: 2px;
								right: 9px;
							}
							.st_mcl_box a.btn_favorite:hover,
							.st_mcl_box a.btn_favorite_on {
								background-position:-126px -137px;
							}
							
#myBoxLink {
	height:56px;
	position:relative;
}
	.my_box_link_list {
		width:310px;
		height:56px;
		background-position:-2px -442px;
		margin:0 auto;
		background-color:#fff;
	}
	.my_box_link_myarea_set {
		width:410px;
		height:56px;
		background-position:-2px -357px;
		margin:0 auto;
		background-color:#fff;
	}

							
/*******************************

	無店舗

*******************************/	

/*.st_mcl_no_shop {
	height:172px;
}
	.st_mcl_no_shop .st_mcl_item {
		padding:1.25px 2px;
	}
		.st_mcl_no_shop .st_mcl_item a {
			border: 1px solid #C5BA69;
			border-radius:3px;
			background: #F0EEDC;
			padding:0 7px;
			height:167.5px;
		}*/
		.st_mcl_no_shop .st_mcl_item_thumb {
			height:auto;
		}
	.st_mcl_no_shop .st_mcl_item_info {
		padding:0 0 12px;
	}
	.st_mcl_no_shop_icon {
		background-color:#c3ae98;
		height:12px;
		line-height:12px;
		font-size:10px;
		display:block;
		text-align:center;
		color:#fff;
		position:absolute;
		z-index:200;
		bottom:17px;
		right:5px;
		padding:0 1em;
	}
	


		
			
.st_mcl_not_chirashi {
	position:relative;
	width:500px;
	margin:0 auto;
	padding:50px 0;
	text-align:center;
}
	.st_mcl_not_chirashi p {
		padding:20px;
		font-size:14px;
		margin:0;
		background-color:#fff;
		border:1px solid #dbcfc0;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		box-shadow:0px 0px 3px rgba(204, 187, 168, 0.6);
		-moz-box-shadow:0px 0px 3px rgba(204, 187, 168, 0.6);
		-webkit-box-shadow:0px 0px 3px rgba(204, 187, 168, 0.6);
		-o-box-shadow:0px 0px 3px rgba(204, 187, 168, 0.6);
		-ms-box-shadow:0px 0px 3px rgba(204, 187, 168, 0.6);
	}
	.st_mcl_favorite_list_not {
		display:block;
		margin:20px auto 0;
	}
		.st_mcl_favorite_list_not a {
			display:block;
			width:180px;
			margin:0 auto;
		}
	.st_mcl_favorite_about_not {
		display:block;
		margin:20px auto 0;
	}
		.st_mcl_favorite_about_not a {
			display:block;
			width:180px;
			margin:0 auto;
		}

.st_mcl_other_shop_box {
	display:none;
	position:absolute;
	top:30px;
	left:32px;
	width:200px;
	z-index:3000;
}
	.st_mcl_other_shop_box_inner {
		border:1px solid #dbcfc0;
		background-color:#fff;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
		-o-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
		-ms-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
	}
		.st_mcl_other_shop_box_head {
			border-bottom:1px solid #dbcfc0;
			padding:7px 60px 4px 11px;
			position:relative;
			font-size:12px;
		}
			a.st_mcl_other_shop_box_head_close {
				display:block;
				width:20px;
				height:20px;
				line-height:20px;
				text-align:center;
				color:#471700;
				font-weight:bold;
				position:absolute;
				top:3px;
				right:5px;
			}
			a.st_mcl_other_shop_box_head_close:hover {
				text-decoration:none;
			}
		.st_mcl_other_shop_box_content {
			height:150px;
			overflow:auto;
		}
			.st_mcl_other_shop_box_content ul {
				padding:5px;
				font-size:12px;
			}
				.st_mcl_other_shop_box_content ul li {
					padding:5px 5px;
					line-height:1.2;
					border-bottom: 1px dotted #CCBBA8;
				}
.st_mcl_cover {
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	leftt:0;
	width:100%;
	background-color:#000;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:100;
}





/*--------------------------------------------------
  static sectionMitekeroBox
--------------------------------------------------*/
/* セクション　見てケロ */
#sectionMitekeroBox {
	position:relative;
	z-index:100;
	margin:0 1px 5px 5px;
}
	.mitekero_box_content {
		float:left;
		width:423px;
		margin:2px 0 0;
	}
		.mitekero_box_content_inner {
			position:relative;
			padding:5px 0 5px 0;
			background-color:#fff;
			text-align:center;
			border:1px solid #dbcfc0;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
			.mitekero_box_ttl {
				position:absolute;
				top:1px;
				left:7px;
				width:162px;
				height:35px;
				background-position:-624px -102px;
			}
			.mitekero_box_seal {
				width:153px;
				height:37px;
				margin:2px 0 1px;
				float:left;
			}
				.mitekero_box_seal_0 { background-position:-632px -289px; }
				.mitekero_box_seal_1 { background-position:-632px -252px; }
				.mitekero_box_seal_2 { background-position:-632px -215px; }
				.mitekero_box_seal_3 { background-position:-632px -178px; }
				.mitekero_box_seal_4 { background-position:-632px -141px; }
				.mitekero_box_seal_5 {
					background:url(../images/shared/mitekero_seal_5.gif) no-repeat 0 0;
				}
			.mitekero_box_oubo {
				width:106px;
				float:left;
			}
				.mitekero_box_oubo_nokori {
					display:block;
					margin:3px 0;
					text-align:center;
					font-size:10px;
					color:#4c1d07;
				}
				.mitekero_box_oubo_btn {
				}
					.mitekero_box_oubo_btn a {
						width:64px;
						height:20px;
						background-position:-340px -99px;
						margin:0 auto;
					}
					.mitekero_box_oubo_btn_off a {
						filter: alpha(opacity=30);
						-moz-opacity:0.30;
						opacity:0.30;
					}
			.mitekero_detail_view {
				height:40px;
				margin:2px 0 1px;
				padding:0 0 0 10px;
			}
				.mitekero_detail_view_btn {
					padding:8px 0 0 0;
					width:238px;
					display:block;
				}
					.mitekero_detail_view_btn  a {
						display:block;
					}
	.mitekero_box_info {
		float:left;
		width:221px;
	}
		.mitekero_box_info_fukidashi {
			padding:0 0 0 4px;
		}
			.mitekero_box_info_fukidashi_inner {
				border:1px solid #efe7de;
				padding:1px;
				background-color:#fff;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				position:relative;
			}
				.mitekero_box_info_fukidashi_arrow {
					width:7px;
					height:16px;
					position:absolute;
					top:14px;
					left:-5px;
					background-position:-63px -25px;
				}
				.mitekero_box_info_fukidashi_content {
					border:1px solid #ccbba8;
					padding:5px;
					background-color:#fff;
					border-radius: 3px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
				}
				.mitekero_box_info_tousen .mitekero_box_info_fukidashi_content {
					padding:4px;
				}
					.mitekero_box_info_text {
						position:relative;
						padding:5px 7px;
						background-color:#fbf9f7;
						border:1px solid #dbcfc0;
						border-radius: 3px;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
					}
					.mitekero_box_info_text_small {
						font-size:10px;	
						margin:5px 5px 0;
					}
					.mitekero_box_info_btn {
						font-size:10px;
						margin:5px 0 0;
					}
			
					.mitekero_box_info_fukidashi_content_inner {
						padding:6px;
						background-color:#fbf9f7;
						border:1px solid #dbcfc0;
						border-radius: 4px;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
					}
						.mitekero_box_info_tousen_ttl {
							font-size:12px;
							font-weight:bold;
							color:#e44f6a;
							text-align:center;
						}
						.mitekero_box_info_tousen_list {
							font-size:10px;
							margin:5px 0;
						}
							.mitekero_box_info_tousen_list li {
							}
						.mitekero_box_info_tousen_btn {
						}
							.mitekero_box_info_tousen_btn a {
								width:154px;
								height:22px;
								background-position:-636px -331px;
								margin:0 auto;
							}
/*--------------------------------------------------
  static sectionMitekeroNotLoginBox
--------------------------------------------------*/
/* セクション　見てケロ */
#sectionMitekeroNotLoginBox {
	position:relative;
	z-index:100;
	margin:15px 29px 20px;
}
	.mitekero_notlogin_box_ttl {
		width:158px;
		height:19px;
		background-position:-631px -353px;
		margin:0 0 5px 2px;
	}
	.mitekero_notlogin_box_content {
		padding:7px;
		position:relative;
		background-color:#fbf9f7;
		border:1px solid #dbcfc0;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
		.mitekero_notlogin_box_content_left {
			width:414px;
			float:left;
		}
			.mitekero_notlogin_present {
				padding:5px;
				background-color:#fff;
				border:1px solid #dbcfc0;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
			}
		.mitekero_notlogin_box_content_right {
			width:172px;
			float:left;
		}
			.mitekero_notlogin_comment {
				position:absolute;
				top:7px;
				right:7px;
			}
			.mitekero_notlogin_btn {
				position:absolute;
				bottom:7px;
				right:7px;
				width:165px;
				height:30px;
			}
				.mitekero_notlogin_btn a {
					width:165px;
					height:30px;
					background-position:-302px -304px;
				}
				
/*--------------------------------------------------
  static sectionMiniChirashi
--------------------------------------------------*/
/* セクション　ミニチラ */
#sectionMiniChirashi {
	position:relative;
	z-index:100;
	margin:0 0 10px;
}
.mini_chirashi_box {
	margin: 0 42px;
	clear: both;
	position: relative;
	z-index: 1000;
	overflow: hidden;
}
	.mini_chirashi_box_inner {
		height:100px;
	}
		.minichirashi_list_content {
			height:100px;
			padding:0;
		}
			.minichirashi_list {
				top:0;
				left:0;
				width:99999px;
			}
				.minichirashi_list_item {
					width:263px;
					float:left;
				}
					.minichirashi_list_item a {
						display:block;
						color:#471700;
					}
					.minichirashi_list_item a:hover {
						background-color:#fff;
					}
					.minichirashi_list_item a:hover .minichirashi_list_item_inner {
						filter: alpha(opacity=70);
						-moz-opacity:0.70;
						opacity:0.70;
					}

						.minichirashi_list_item_inner {
							display:block;
							height:100px;
							position: relative;
						}
							.minichirashi_list_item_thumb {
								display:block;
								width:100px;
								padding:1px 0 0;
								float:left;
							}
								.minichirashi_list_item_thumb_inner {
									display:block;
									background-color:#fff;
								}
									.minichirashi_list_item_thumb_box {
										height:100px;
										width:100px;
										vertical-align:middle;
										text-align:center;
										padding:0;
										outline:0;
										margin:0;
										border:none;
										border-spacing:0;
										table-layout:fixed;
									}
										.minichirashi_list_item_thumb_box tr {
											table-layout:fixed;
											height:100px;
											width:100px;
											vertical-align:middle;
											border-spacing:0;
											padding:0;
											margin:0;
											border:none;
										}
											.minichirashi_list_item_thumb_box td {
												table-layout:fixed;
												height:100px;
												width:100px;
												vertical-align:middle;
												border-spacing:0;
												padding:0;
												margin:0;
												border:none;
											}
												.minichirashi_list_item_thumb img {
													max-width:100px;
													max-height:100px;
												}
							.minichirashi_list_item_content {
								display:block;
								width:163px;
								float:left;
								padding:0 0 2.5em;
								word-break: break-all;
							}
							.minichirashi_list_item_no_thumb .minichirashi_list_item_content {
								width:100%;
								float:none;
							}
								.minichirashi_list_item_content_inner {
									display:block;
									padding:0px 6px;
								}
								.minichirashi_list_item_no_thumb .minichirashi_list_item_content_inner {
									display:block;
									padding:8px 8px;
								}
									.minichirashi_list_item_title {
										color:#471700;
										display:block;
										margin:0 0 6px;
										font-weight:bold;
										font-size:14px;
										line-height:18px;
									}
									.minichirashi_list_item_text {
										color:#471700;
										display:block;
										margin:0 0 3px;
										line-height:16px;
									}
									.minichirashi_list_item_info {
										position:absolute;
										right:6px;
										bottom:8px;
										font-size:10px;
										width:151px;
									}
										.minichirashi_list_item_name {
											color:#471700;
											font-weight:bold;
											margin:0 10px 0 0;
										}
										.minichirashi_list_item_time {
											color:#471700;
											margin:0 0 0 10px;
										}
#sectionMiniChirashi .btn_arrow_ui_prev {
}
#sectionMiniChirashi .btn_arrow_ui_next {
}

#sectionMiniChirashi.alert_level_1 .box_ui_inner {
	height: 65px;
}
.alert_level_1 .box_ui_A .minichirashi_list_content {
	height: 65px;
}
.minichirashi_get_btn a {
	display:block;
	width:300px;
	margin:20px auto;
}


/*--------------------------------------------------
  static sectionReccomendContentsList
--------------------------------------------------*/
/* セクション　おすすめ情報 */
#sectionReccomendContents {
	position:relative;
	z-index:100;
}
.recommend_contents_list {
}
.recommend_contents_list_wrap {
}
	.recommend_contents_group {
		margin:0 0 20px;
	}
		.recommend_contents_group h3 {
			margin:0 0 7px;
			font-weight:bold;
			color:#000;
		}
	.recommend_contents_list {
		margin:0 -30px 10px 0;
	}
		.recommend_contents_item {
			width:315px;
			float:left;
		}
			.recommend_contents_item_thumb {
				width:98px;
				float:left;
				position:relative;
			}
				.recommend_contents_item_thumb a {
					border: 0;
					display: block;
					position: relative;
					margin: 0 9px 0 0;
				}
				.recommend_contents_item_thumb a:after {
					border: 1px solid rgba(0, 0, 0, 0.1);
					bottom: 0;
					content: '';
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
				}
				.recommend_contents_item_thumb img {
				}
			.recommend_contents_item_content {
				width:197px;
				float:left;
			}
				.recommend_contents_item_title {
					display:block;
					margin:0 0 3px;
					font-size:13px;
					font-weight:normal;
				}
					.recommend_contents_item_title a {
						color:#505050;
					}
				.recommend_contents_item_text {
					font-size:10px;
				}


/*--------------------------------------------------
  static sectionFeature
--------------------------------------------------*/
/* セクション　特集 */
#sectionFeature {
}
	#sectionFeature .section_head_type_A {
		margin:0 0 5px;
	}
#featureList {
}
	.feature_main {
		background-color:#faf4ed;
		margin:0 5px 10px;
		padding:3px 0 0;
	}
		.feature_main a {
			display:block;
			color:#471700;
			margin:0 3px;
		}
		.feature_main a:hover {
			color:#471700;
		}
		.feature_main_bnr {
			display:block;
			border: 0;
			margin:0 3px 3x;
			position: relative;
		}
		.feature_main_bnr:after {
			border: 1px solid rgba(0, 0, 0, 0.1);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
			.feature_main_bnr img {
				width:284px;
			}
		.feature_main_content {
			display:block;
			text-align:center;
			padding:0 0 3px;
		}
			.feature_main_title {
			}
	#featureList h3 {
		font-size:10px;
		margin:0 0 2px 5px;
		font-weight:bold;
	}








/*--------------------------------------------------
  static bnrCampaignChirashi
--------------------------------------------------*/
#bnrCampaignChirashi {
	width:660px;
	height:120px;
	background-color:#e8e8e8;
	margin:0 0 10px;
}



/*--------------------------------------------------
 天気詳細
--------------------------------------------------*/

.myarea_info_weather_box {
	position:absolute;
	z-index:9000;
	
	width:500px;
	
}
.myarea_info_weather_box {
	background-color:#fff;
	border:1px solid #dbcfc0;
	box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
	-o-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:2px 2px 15px rgba(0, 0, 0, 0.4);
}
	.myarea_info_weather_box_header {
		padding:7px 0;
		font-size:10px;
		font-weight:bold;
		position:relative;
		line-height:1.1;
	}
		.myarea_info_weather_box_weekly_date {
			text-align:center;
			color:#471700;
		}
		a.myarea_info_weather_box_weekly_close {
			position:absolute;
			top:7px;
			right:8px;
			color:#471700;
		}
		
	.myarea_info_weather_box_day {
		width:206px;
		float:left;
		position:relative;
		padding:3px 0 0;
	}
		.myarea_info_weather_box_day_inner {
			padding:0 15px;
		}
			.myarea_info_weather_box_day_top {
				height:61px;
				margin:0 0 10px;
			}
				.myarea_info_weather_box_day_top_icon {
					display:block;
					position:absolute;
					top:0;
					left:34px;
					width:85px;
					text-align:center;
				}
				.myarea_info_weather_box_day_top_int {
					position:absolute;
					top:10px;
					right:35px;
					text-align:right;
					font-weight:bold;
					font-size:14px;
					margin:3px 0;
				}
					.myarea_info_weather_box_day_top_int_max {
						display:block;
						color:#e12020;
						margin:0 0 3px;
					}
					.myarea_info_weather_box_day_top_int_min {
						display:block;
						color:#2166e7;
					}
				.myarea_info_weather_box_day_kosui {
					text-align:center;
					font-size:12px;
					padding:3px 0;
					color:#471700;
				}
				.myarea_info_weather_box_day_name {
					text-align:center;
					font-weight:bold;
					font-size:14px;
					padding:3px 0;
					color:#471700;
				}
				.myarea_info_weather_box_day_text {
					font-size:12px;
					padding:3px 0;
					color:#471700;
					line-height:1.4;
				}
	.myarea_info_weather_box_time {
		width:292px;
		float:left;
	}
		.myarea_info_weather_box_time_inner {
			width:292px;
			float:left;
		}
			.myarea_info_weather_box_time_list {
			}
				/* SVG版 */
				.miw_box_time_ul {
					margin:0;
					padding:0;
				}
					.miw_box_time_item {
						float:left;
						width:48px;
					}
						.miw_box_time_item_inner {
						}
							span.miw_box_time_item_date {
								display:block;
								text-align:center;
								font-size:10px;
								margin:3px 0;
								color:#471700;
							}
							span.miw_box_time_item_icon {
								display:block;
								text-align:center;
								font-size:10px;
								margin:3px 0;
								color:#471700;
								background:url(/contents/images/common/tenki/arrow_tenki.gif) no-repeat 100% 50%;
							}
							.miw_box_time_ul li:last-child span.miw_box_time_item_icon {
								background:none;
							}
							span.miw_box_time_item_kosui {
								display:block;
								text-align:center;
								font-size:12px;
								margin:3px 0;
								color:#471700;
							}
				/* テーブル版 */
				.miw_box_time_table {
					margin:10px 0 0 0;
					width:285px;
					table-layout:fixed;
					text-align:center;
					padding:0;
					outline:none;
					border-collapse: collapse;
					border-spacing: 0;
				}
							.miw_box_time_table td {
							
							}
							tr.miw_box_time_item_date th {
								font-size:10px;
								padding:6px 2px 6px 0;
								color:#471700;
								text-align:center;
								background:url(/contents/images/common/tenki/arrow_tenki.gif) no-repeat 100% 50%;
							}
							tr.miw_box_time_item_date th.last {
								background:none;
							}
							tr.miw_box_time_item_icon td {
								font-size:10px;
								padding:15px 0 25px;
								color:#471700;
								border-bottom:1px solid #dbcfc0;
							}
							tr.miw_box_time_item_int td {
								font-size:12px;
								padding:4px 0;
								color:#471700;
								background-color:#fbf9f7;
								border-bottom:1px dotted #dbcfc0;
							}
							tr.miw_box_time_item_kosui td {
								font-size:12px;
								padding:4px 0;
								color:#471700;
								border-bottom:1px solid #dbcfc0;
							}
	.myarea_info_weather_box_weekly {
		padding:0 9px;
	}
		.myarea_info_weather_box_weekly_ttl {
				text-align:center;
				font-weight:bold;
				font-size:10px;
				padding:3px 0;
				color:#471700;
		}
		.myarea_info_weather_box_weekly_inner {
				border:1px solid #dbcfc0;
				
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				background-color: #fbf9f7;
				
				padding:7px 0;
		}
			.miw_box_weekly_ul {
				margin:0;
				padding:0 3px;
			}
				.miw_box_weekly_item {
					float:left;
					width:79px;
				}
					.miw_box_weekly_item_inner {
					}
						.miw_box_weekly_item_date {
							display:block;
							text-align:center;
							font-size:10px;
							margin:3px 0;
							color:#471700;
						}
						.miw_box_weekly_item_icon {
							display:block;
							text-align:center;
							font-size:10px;
							margin:3px 0;
							color:#471700;
						}
						.miw_box_weekly_item_int {
							display:block;
							text-align:center;
							font-size:12px;
							margin:3px 0;
							color:#471700;
						}
							.miw_box_weekly_item_int_max {
								color:#e12020;
								margin:0 6px 0 0;
							}
							.miw_box_weekly_item_int_min {
								color:#2166e7;
							}
						.miw_box_weekly_item_kosui {
							display:block;
							text-align:center;
							font-size:12px;
							margin:3px 0;
							color:#471700;
						}
	.myarea_info_weather_box .at_text {
		position:relative;
		margin:5px 9px 3px;
		font-size:10px;
	}
	.myarea_info_weather_box .at_text strong {
		font-weight:normal;
		margin:0 5px 0 0;
		color:#666;
	}
	.myarea_info_weather_box .at_text em {
		font-weight:normal;
		color:#888;
	}
/*--------------------------------------------------
 feature_box
--------------------------------------------------*/
.feature_box {
	position:absolute;
	display:inline-block !important;
	display:inline;
	z-index:1000;
}
#sectionSearchBox .feature_box {
	top:0;
	right:0;
}
#myChirashiBox .feature_box {
	top:8px;
	right:85px;
}
	.feature_box_inner {
		background:#fef793;
		height:27px;
		line-height:27px;
		font-size:15px;
		display:inline-block !important;
		display:inline;
		padding:0 5px;
	}
		.feature_box dt {
			display:inline-block !important;
			display:inline;
			float:left;
			padding:0 0 0 5px;
		}
		.feature_box dd {
			display:inline-block !important;
			display:inline;
			float:left;
		}
			.feature_box_list {
				margin:0 5px;
			}
				.feature_box_list a {
				}
/*--------------------------------------------------
 top
 sectionSearchBox 
 20140729
--------------------------------------------------*/
.st_search_box_inner {
}
.st_search_area_box {
	margin:0 0 6px;
}
.st_search_shop_box {
}
	.st_search_box_inner dt {
		width:154px;
		float:left;
		margin:4px 0 0;
		text-align:right;
	}
		.st_search_box_inner dt span {
			display:block;
			padding:0 10px 0 0;
		}
		.st_search_area_box dt span,
		.st_search_shop_box dt span {
			line-height:28px;
		}
	.st_search_box_inner dd {
		width:506px;
		float:left;
	}
		.st_search_main_area {
			border:1px solid #ccbba8;
			background-color:#fff;
			margin:4px 0 0 0;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.st_search_keyeword_box_text {
			display:block;
			float:left;
			width:387px;
			height:28px;
			position:relative;
		}
			.st_search_keyeword_box_text input {
				display:block;
				position:absolute;
				top:5px;
				left:11px;
				width:371px;
				height:18px;
				line-height:18px;
				font-size:12px;
				outline:none;
				background-color:#fff;
				border:none;
				padding:0;
				margin:0;
			}
		.st_search_keyeword_box_btn {
			display:block;
			float:left;
			width:116px;
			height:28px;
			position:relative;
		}
			.st_search_keyeword_box_btn input {
				width:116px;
				height:25px;
				position:absolute;
				top:2px;
				right:0;
				cursor:pointer;
				background-position:-512px -383px;			
			}
/*--------------------------------------------------
 top
 chirashi_style_A 
 20140729
--------------------------------------------------*/
.chirashi_style_A {
}
	.chirashi_style_A a {
	}
		.chirashi_style_A a .border_box {
			position:absolute;
			top:0;
			left:0;
			width:134px;
			height:81px;
			display:block;
		}
		.chirashi_style_A a:hover .border_box {
			border:2px solid #3baae4;
		}
		.chirashi_style_A.pr_chirashi a .border_box {
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:128px;
			height:75px;
			border:5px solid #ffffb4;
		}
		.chirashi_style_A.pr_chirashi a:hover .border_box {
			border:2px solid #3baae4;
			width:134px;
			height:81px;
		}
		.chirashi_style_A .st_mcl_item_title {
			color:#1122cc;
			margin:0;
		}
		.chirashi_style_A .font_style {
			font-size:10px;
			font-weight:normal;
		}
		.chirashi_style_A a:visited .st_mcl_item_title {
			color: #3e4d98;
		}
		.chirashi_style_A .st_mcl_item_name {
			color:#1122cc;
			font-size:12px;
			font-weight:bold;
			margin:0 0 3px 0;
		}
		.chirashi_style_A a:hover .st_mcl_item_name {
			color:#3baae4;
			text-decoration:underline;
		}
		.chirashi_style_A a:visited .st_mcl_item_name {
			color: #3e4d98;
		}
