/*********** FONTS *******
@font-face {
	font-family: "ptsans";
	src: url("/fonts/ptsans.ttf");
	font-size: 13px;
}
****/


html { }

body { margin:0px; padding:0px; font-family:  Arial; 



}

#why{
background: url(/img/benefits.png) 14px 0px no-repeat;
width: 800px;
height: 500px;
margin-top: -2px;
float:left;
}

#why ul li {
list-style: none;
float:left;
margin-right: 136px;
}



.win_table {
	border-collapse: collapse;
}

.win_table td{
	border:1px solid #CCC;
	padding: 10px;
}

img { border:0px; }
.clr { clear:both; }
a{
color: #4251FF;
}
.generalpage{margin-bottom:40px;margin-top: 60px;}
ul.general {
font-size: 20px;
list-style: none;
line-height: 18px;
color: #2d170c;
width: 850px;
padding: 0;
}
ul.general .first{
float:left;
background: url(/img/num1.png) 10px 8px no-repeat;
height: 40px;
padding-left: 55px;
margin-bottom: 30px;
color: #2d170c;
width: 340px;
}
ul.general .second{
float:left;
background: url(/img/num2.png) -4px 3px no-repeat;
height: 70px;
padding-left: 55px;
margin-bottom: 30px;
width: 334px;
}
ul.general .third{
float:left;
background: url(/img/num3.png) left 3px no-repeat;
height: 40px;
padding-left: 55px;
margin-bottom: 30px;
width: 330px;
margin-top: 40px;
}
ul.general .fourth{
float:left;
background: url(/img/num4.png) left 3px no-repeat;
padding-left: 55px;
margin-bottom: 30px;
width: 400px;
margin-top: 35px;
}
ul.general a{color: #553C16;}
input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
background: #efefef;
border: 1px solid #707070;
border-radius: 2px;
color: #222;
margin: 8px 0px 5px 0px;
	padding:3px 0px 3px 0px; 
	cursor:pointer;
	width: 120px;
}
.stn:link, .stn:visited { color: #609143; text-decoration: none; font-weight: bold; }
.stn:active, .stn:hover { color: #d77906; text-decoration: none; }

.stn-sort:link, .stn-sort:visited { color: #FFFFFF; text-decoration: none; font-weight: bold; }
.stn-sort:active, .stn-sort:hover { color: #000000; text-decoration: none; }

/*############# WRAPPERS #############*/

#blink2 {
	font-weight: bold;
  -webkit-animation: blink2 0.5s linear infinite;
  animation: blink2 0.5s linear infinite;
}
@-webkit-keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}

#topbackground{

	background: url(/img/tree-top2.png?1) 4px -63px no-repeat;
	position: absolute;
	width: 1520px;
	height: 560px;
	margin-top: -320px;
	z-index: -500;

}

#tree-block{

	background: url(/img/tree-block.png) repeat-y;
	width: 135px;
	height: 50px;
	position: absolute;
	margin: 234px 1249px;

}

.wrap { width:1335px; border:0px solid black; margin:0 auto; padding-top:256px; min-height:1300px; position:relative;  z-index:100; }
#arroundwrapper {
background: #DCF1E4;
background: -moz-linear-gradient(top, #DCF1E4 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DCF1E4), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top, #DCF1E4 0%,#ffffff 100%);
background: -o-linear-gradient(top, #DCF1E4 0%,#ffffff 100%);
background: -ms-linear-gradient(top, #DCF1E4 0%,#ffffff 100%);
background: linear-gradient(to bottom, #DCF1E4 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCF1E4', endColorstr='#ffffff',GradientType=0 );
width: 100%;
height: 1100px;
z-index: -500;
position: fixed;
}
/*############# HEADER #############*/
.header { width:100%; }

.logo {
	width: 280px;
	height: 140px;
	/*margin-left: 35px;*/
}

.hd-menu {
float: left;
list-style: none;
font-family: "Arial";
margin: 5px 0px 20px 240px;
width: 950px;
}

.hd-menu li  {
display: block;
float: left; 
margin: 0px 8px 0px 0px;
width: 134px;
margin-left: 24px;
}

.hd-menu a {
text-decoration: none;
color: #FFFFFF;
text-transform: uppercase;

} 

.sprite-icon {
	background: url(/img/sprite-icon.png) no-repeat;
	width:500px;
	height:500px;
}

/*############# CONTENT #############*/
.content {  width:1400px; margin-top:10px;padding-left: 30px; min-height: 1300px;

height: expression( this.scrollHeight < 1300 ? "1300px" : "auto" );

}

.cl-left { width:325px; float:left; border:0px solid black; }
.cl-right {
width: 820px;;
float: left;
padding: 10px 0px 0px 40px;
border: 0px solid black;
padding-bottom: 200px;
}

.h-title {
width: 289px;
height: 16px;
color: #222;
font-family: "PTSansRegular";
text-align: center;
margin: 7px 0px 0px 10px;
padding-top: 30px;
}

.autoriz {
height: 216px;
padding-bottom: 7px;
background: url(/img/menu8.png) no-repeat;
}

.lg {
	background: none;
	border: 1px solid #8d8d8d;
	border-radius:2px;
	background: url(/img/inpt.png) repeat-x;
	width:237px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:3px 0px 0px 0px;
}

.lg:hover {
	background: url(/img/inpt-hov.png) repeat-x;
	width:237px;
	height:24px;
}



.menu_login {
height: 150px;
padding-bottom: 7px;
background: url(/img/menu_login.png) no-repeat;
}

.log_but {
	background: #039195;
	width: 210px;
	height: 30px;
	font-size: 18px;
	color: #fff;
	border: none;
	/*border-radius: 2px;*/
	font-family: Calibri;
}
.log_but:hover {
	background: #01777a;
}

.button { 
background: #A2B300;
background: #039195;
border: medium none currentColor;
box-shadow: 0px 4px 1px -1px #5B6600;
color: #FFFFFF;
cursor: pointer;
font: 700 14px "Arial Black";
outline: medium none currentColor;
padding: 10px 20px;
position: relative;
text-align: center;
text-decoration: none;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.506);
text-transform: uppercase;
transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
}
.button:hover {
	background: #b3c20e;
	background: #06696c;
	background-color:  -webkit-linear-gradient(top, #b3c20e, #a2b30d);
	background-color:  -moz-linear-gradient(top, #b3c20e, #a2b30d);
	background-color:  -ms-linear-gradient(top, #b3c20e, #a2b30d);
	background-color:  -o-linear-gradient(top, #b3c20e, #a2b30d);
	background-color:  linear-gradient(to bottom, #b3c20e, #a2b30d);
	border: none;
	-webkit-box-shadow: 0px 4px 1px -1px #5B6600;
	-moz-box-shadow: 0px 4px 1px -1px #5B6600;
	box-shadow: 0px 4px 1px -1px #5B6600;
	text-decoration: none;
}










.ps {
	background: none;
	border: 1px solid #8d8d8d;
	border-radius:2px;
	background: url(/img/inpt.png) repeat-x;
	width:237px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:3px 0px 0px 0px;
}

.ps:hover {
	background: url(/img/inpt-hov.png) repeat-x;
	width:237px;
	height:24px;
}

.btn_in {
background: #efefef;
border: 1px solid #707070;
border-radius: 2px;
color: #222;
margin: 8px 0px 5px 0px;
padding: 3px 0px 3px 0px;
cursor: pointer;
width: 60px;
}

.btn_reg {
background: #efefef;
border: 1px solid #707070;
border-radius: 2px;
color: #222;
margin: 8px 0px 5px 0px;
	padding:3px 0px 3px 0px;
	cursor:pointer;
	width:100px;
}

a.rs-ps { color:#f77827; text-decoration:none;  font-size:14px; }
a.rs-ps:hover { text-decoration:underline; }
/*
.profmenu {
color: #353535;
background: url(/img/menu1.png) no-repeat;
width: 200px;
margin: 0 auto;
height: 160px;
line-height: 33px;
text-align: center;
font-size: 16px;
padding-top: 4px;
}
*/

.profmenu {
	color: #353535;
	background: url(/img/menu_acc_title.png) no-repeat;
	width: 200px;
	margin: 0 auto;
	height: 53px;
	line-height: 33px;
	text-align: left;
	font-size: 16px;
	padding-top: 6px;
}

.top_menu_4 {
color: #353535;
background: url(/img/top_menu_4.png) no-repeat;
width: 200px;
margin: 0 auto;
height: 192px;
line-height: 33px;
text-align: center;
font-size: 16px;
padding-top: 4px;
}


.profmenu1 {
color: #353535;
width: 200px;
margin: 0 auto;
height: 160px;
line-height: 33px;
text-align: center;
font-size: 16px;
padding-top: 4px;
background: url(/img/menu7.png) no-repeat;
}
.secondprofmenu {
background: url(/img/menu2.png) no-repeat;
width: 200px;
margin: 0 auto;
height: 195px;
line-height: 34px;
text-align: center;
font-size: 18px;
padding-top: 7px;
}
.secondprofmenu2 {
background: url(/img/menu2_2.png) no-repeat;
width: 200px;
margin: 0 auto;
height: 217px;
line-height: 34px;
text-align: center;
font-size: 18px;
padding-top: 7px;
}
.thirdprofmenu {
width: 200px;
background: url(/img/menu2.png) no-repeat;
height: 190px;
margin: 0 auto;
line-height: 35px;
text-align: center;
font-size: 18px;
padding-top: 5px;
}
.lastprofmenu {
background: url(/img/menu4.png) no-repeat;
width: 200px;
margin: 0 auto;
height: 90px;
line-height: 36px;
text-align: center;
font-size: 18px;
padding-top: 7px;
}

.left_6 {
	background: url(/img/menu2_2.png) no-repeat;
	width: 200px;
	margin: 0 auto;
	height: 235px;
	line-height: 36px;
	text-align: center;
	font-size: 18px;
	padding-top: 7px;
}


.left_7 {
	background: url(/img/menu_7.png) no-repeat;
	width: 200px;
	margin: 0 auto;
	height: 275px;
	line-height: 36px;
	text-align: center;
	font-size: 18px;
	padding-top: 7px;
}


.left_8 {
	background: url(/img/menu_8.png) no-repeat;
	width: 200px;
	margin: 0 auto;
	height: 315px;
	line-height: 36px;
	text-align: center;
	font-size: 18px;
	padding-top: 7px;
}

.left_4 {
background: url(/img/left_4.png) no-repeat;
width: 199px;
margin: 0 auto;
height: 151px;
line-height: 34px;
text-align: center;
font-size: 18px;
padding-top: 7px;
}


.left_3 {
background: url(/img/left_3.png) no-repeat;
width: 199px;
margin: 0 auto;
height: 115px;
line-height: 34px;
text-align: center;
font-size: 18px;
padding-top: 7px;
}











.balance {
	background: url(/img/menu5.png) no-repeat;
	width: 200px;
	margin: 0 auto;
	height: 170px;
	/*line-height: 34px;*/
	text-align: center;
	font-size: 16px;
}
.balance a {
	color: #00f;
}

.bal-title{
line-height: 30px;
font-style: oblique;
padding-top: 8px;
color: #f8e485;
}
.prof-title{
	height: 40px;
	line-height: 41px;

	/*font-style: oblique;*/
}

.prof-title1{
height: 40px;
line-height: 41px;
font-style: oblique;
color: #f8e485;
}
.statistic {
height: 245px;
padding-bottom: 25px;
margin: 20px 0px 0px 0px;
background: url(/img/menu6.png) no-repeat;
}
 .stat {
height: 220px;
background: url(/img/menu8.png) no-repeat;
padding-bottom: 7px;
margin: 20px 0px 0px 0px;
}

.st-lf { 
float: left;
margin: 0px 0px 0px 0px;
}
.st-rg  { 
float: left;
margin-top: 0px;
padding-left:8px;
margin-left:9px;
}

.line {
	margin: 21px 0px 0px 30px;
}

.line-st {
border: 1px solid #afada8;
border-radius: 10px;
width: 102px;
height: 19px;
color: #f77827;
text-align: center;
margin: 17px 0px 0px -6px;
padding: 2px 0px 0px 0px;
}

.st-time {
margin: 20px 0px 0px 55px;
}

.wim {
	background: url(/img/small-inpt.png) repeat-x;
	width:229px;
	height:34px;
	border:1px solid #b6b6b6;
	border-radius:10px;
	text-align:center;
	font-size:20pt;
	padding:10px 0px 0px 0px;
	margin:0px 0px 0px 190px;
}

.wim-block {
	margin:10px 0px 0px 67px;
}

.wim-lf {
	background: url(/img/man-1.jpg) no-repeat;
	width:125px;
	height:129px;
	float:left;
}

.wim-ctr {
	width:220px;
	float:left;
	color:#0a5200;
	font-size:19pt;
	text-align:center;
	margin:0px 5px 0px 5px;
}

.wim-ctr-in {
	background: url(/img/arrows.jpg) no-repeat;
	width:117px;
	height:63px;
	margin:10px 0px 10px 50px;
}

.wim-rg {
	background: url(/img/man-2.jpg) no-repeat;
	width:130px;
	height:131px;
	float:left;
}

.garant-bk {
	width:200px;
	float:left;
	margin:5px 0px 0px 0px;
	text-align:center;
	color:#0a5200;
	font-size:15pt;

}

/*
i {
	display:block;
	background:url(/img/garant-sprite.jpg);
	width:171px;
	height:155px;
	margin-left:15px;
}
*/

.cntrl-ps  {
background: url(/img/payment.png) no-repeat;
width: 186px;
height: 120px;
margin-left: 63px;
margin-top: 10px;
}

s {
	display:block;
	background:url(/img/paysitem-sprite.png);
	width:57px;
	height:46px;
	float:left;
}

.acc-title {
width: 325px;
height: 37px;
text-align: center;
font-family: Arial;
font-style: oblique;
font-weight: normal;
font-size: 26px;
color: #6D6D6D;
margin-left: 45px;
line-height: 1.2;
border: 1px solid;
border-color: rgb(201, 169, 169);
background: #fefaeb;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
}

.field-gr a {
	color: #f8e485;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.field-gr1 a {
	color: #353535;
text-decoration: none;
font-size: 17px;
display: block;
}

.field-rd a {
	color: #f8e485;
text-decoration: none;
display: block;
font-size: 17px;
}

.field-ars a, .field-ar a {
	color: #346331;
	color: #039195;
	text-decoration: none;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
	font-family: Segoe UI;
}



.red a{color:#ff0000;}
.red a span {
position: absolute;
font-size: 11px;
line-height: 11px;
margin-left: -15px;
margin-top: 2px;
}
.kupit a{
padding-left: 33px;
background: url(/img/cart.png) left 4px no-repeat;
text-align: left;
margin-left: 20px;
color: #353535;
}
.sklad a{
padding-left: 33px;
background: url(/img/box.png) left 4px no-repeat;
text-align: left;
margin-left: 20px;
color: #353535;
}
.prod a{
padding-left: 33px;
background: url(/img/money.png) left 4px no-repeat;
text-align: left;
color: #353535;
margin-left: 20px;
}
.fr-block {
background: url(/img/fr-block.jpg) no-repeat;
width: 450px;
height: 150px;
margin: 0px auto 20px;
}

.fr-block img {
	margin:10px 0px 0px 15px;
	border-radius:10px;
	border:3px solid #cdcdcd;
}

.fr-title {
	color:#7ea57b;
	font-size:18px;
}

.cl-fr-lf {
	float:left;
	text-align:center;
}

.cl-fr-rg {
	float:left;
	margin: 10px 0px 0px 5px;
}

.fr-te-gr { color:#7ea57b; }
.fr-te-gr-title { color:#000; font-weight:700; margin-bottom:10px;}

a.sm-btn {
	display:block;
	cursor:pointer;
	font-size: 12px;
	font-weight: 700 !important;
	margin: 0px 5px 8px 0px;
	padding: 0px 14px;
	border-radius: 10px;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.400), 1px 1px 1px rgba(0, 0, 0, 0.102);
	display: inline-block;
	line-height: 26px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.298);
	background: linear-gradient(to bottom, #88BDFF 0px, #60A7FF 100%) transparent;
	border: 1px solid #3E8FF4;
	color: #2B63A8 !important;
	text-decoration:none;
}

a.sm-btn:hover { opacity:0.8; }


input.sm-btn {
	display:block;
	cursor:pointer;
	font-size: 12px;
	font-weight: 700 !important;
	margin: 0px 5px 8px 0px;
	padding: 0px 14px;
	border-radius: 10px;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.400), 1px 1px 1px rgba(0, 0, 0, 0.102);
	display: inline-block;
	line-height: 30px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.298);
	background: linear-gradient(to bottom, #88BDFF 0px, #60A7FF 100%) transparent;
	border: 1px solid #3E8FF4;
	color: #2B63A8 !important;
	text-decoration:none;
}

input.sm-btn:hover { opacity:0.8; }

.silver-bk {
background: #fefaeb;
border: 1px solid #848484;
width: 700px;
border-radius: 5px;
margin: 0px 0px 0px 10px;
padding: 10px 30px 10px 30px;
color: #292929;
}

.s-bk-lf {
	margin-left: 185px;
}

.sm-line {
	width: 449px;
	float: left;
	margin: 5px 0px 20px 180px;
	font-size: 14px;

}

.sm-line-nt {

	margin:5px 0px 5px 0px;
	font-size:14px;

}

.sm-line-nt img {
border: 3px solid #cdcdcd;
border-radius: 10px;
padding: 2px 8px;
background: #fff;
vertical-align: -13px;
width: 30px;
height: 39px;
}

.sm-line img {
border: 3px solid #cdcdcd;
border-radius: 10px;
padding: 2px 8px;
background: #fff;
vertical-align: -13px; margin-right:15px;
}

.m-tb {
	background: #76593c;
	color:white;
}

table { border:none; }

td {
	margin-right:5px;
}

.bs-py {
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(/img/inpt-hov.png) repeat-x;
	width:115px;
	height:24px;
	color:#f77827;
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:3px 0px 0px 0px;
}

.out-my {
	background: none;
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(/img/inpt.png) repeat-x;
	width:187px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:1px 0px 0px 0px;
}

.out-my:hover {
	background: url(/img/inpt-hov.png) repeat-x;
	width:187px;
	height:24px;
}

.chatbox
{
   width: 690px;
	height: 200px;
	padding-top: 5px;
	border: solid rgba(197, 188, 188, 0);
	border-bottom: solid 1px rgb(207, 194, 194);

}

.author
{
    font-size: 18px;

    width: 105px;

}

.ava
{
    border: 3px solid #cdcdcd;
border-radius: 10px;
width: 100px;
height: 100px;
position: absolute;
 margin: 20px 0px;
}

.text
{
width: 545px;
word-wrap: break-word;
text-align: center;
margin: 0px 125px;
position: absolute;
}

.date
{
   /* position: absolute;        */
   margin: 160px 0px 0px 550px;
border: solid 1px rgb(196, 196, 196);

}

.grline{

width: 760px;
height: 2px;
background: gray;
margin-left: -30px;

}


/*############# FOOTER #############*/
.footer {
	margin: 0 auto;
margin-top: 100px;
width: 1200px;
}

.htt:hover {background-color:#ccffcc;}