.related-content {
  display: none;
  width: 50%;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#related-content-title {
  border-top: solid 1px #555;
  border-bottom: solid 1px #555;
  padding: 5px 0;
  color: #48CAC9;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
.related-content li {
  padding: 0;
  width:85%;
  margin: 0 0 0 20px;
}
.related-content a {
  font-weight: 400;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: #555;
  font-size: 13px;
  display: block;
}

.tv .related-content a {
  color: #555;
}

.cmplxShareCount {
    display: none;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: 14px;
    top: 2px;
    position: relative;
}
.cmplxShareCount:after {
    font-family: 'cmplx-font';
    font-size: 18px;
    content: '\e113';
    margin-left: 5px;
    position: relative;
    top: -2px;
}






.share-youtube {
    overflow: hidden;
    min-width: 65px;
    max-width: 160px;
    background: #e52d27; 
    position: relative;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 0 0;
    padding: 0 15px;
    font-size: 10px !important;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.share-youtube .tb-social-btn-label{
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: top;
    letter-spacing: .02em;
    margin: auto 15px auto auto;
    padding-left: 8px;
}
.share-youtube .tb-youtube-subscribe-text{
    padding-left: 5px;
}
.share-youtube a{
    text-decoration: none;
}