@charset "UTF-8";
/* CSS Document */

.clearme {
  clear:both;
}
/* TOP CONTENT */
#elevator_pitch {
  clear:both;
  color:#4e4e4e;
  font-size:14px;
  line-height:2.0em;
}
#elevator_pitch h1 {
  font-size:24px;
  color:#ffa741;
  text-transform:uppercase;
  font-weight:bold;
  padding:0px;
  margin:0px;
}
#elevator_pitch .csc-default {
  border-bottom:1px dotted #4e4e4e;
  padding-top:25px;
  padding-bottom:25px;
}
/* MAINCONTENT */
#maincontent {
  clear:both;
  color:#4e4e4e;
  font-size:14px;
  line-height:1.8em;
  padding-top:37px;
  position:relative;
}
#maincontent h1 {
  font-size:20px;
  color:#50c804;
  text-transform:uppercase;
  font-weight:bold;
  padding:0px;
  margin:0px;
}
#maincontent h2 {
  font-size:16px;
  color:#50c804;
  text-transform:uppercase;
  font-weight:bold;
  padding:0px;
  margin:0px;
}
#maincontent a {
  color:#006500;
}
#maincontent a:hover {
  background:#006500;
  color:white;
}
/* COLUMNS */
#column_left {
  width:320px;
  float:left;
  margin-right:30px;
}
#column_left ul {
  margin-left:15px;
  padding-left:0px;
}
#column_left .csc-frame-frame1 a {
  background:url(../images/join_button.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  margin-left:50px;
  height:40px;
  line-height:40px;
  font-size:18px;
  margin-bottom:10px;
  border: 1px solid #046501;
      -moz-border-radius: 10px;
      border-radius: 10px;
}
#column_left .csc-frame-frame1 a:hover {
  background:url(../images/join_button_hover.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  height:40px;
  line-height:40px;
  font-size:18px;
  border: 1px solid #ad5c00;
      -moz-border-radius: 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px #939393;
  -webkit-box-shadow: 3px 3px 10px #939393;
  -moz-box-shadow: 3px 3px 10px #939393;
}
#column_middle {
  width:320px;
  float:left;
  margin-right:30px;
}
#column_middle ul {
  margin-left:15px;
  padding-left:0px;
}
#column_middle .csc-frame-frame1 a {
  background:url(../images/join_button.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  margin-left:50px;
  height:40px;
  line-height:40px;
  font-size:18px;
  margin-bottom:10px;
  border: 1px solid #046501;
      -moz-border-radius: 10px;
      border-radius: 10px;
}
#column_middle .csc-frame-frame1 a:hover {
  background:url(../images/join_button_hover.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  height:40px;
  line-height:40px;
  font-size:18px;
  border: 1px solid #ad5c00;
      -moz-border-radius: 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px #939393;
  -webkit-box-shadow: 3px 3px 10px #939393;
  -moz-box-shadow: 3px 3px 10px #939393;
}
#column_right {
  width:260px;
  float:right;
}
/* 100% */
#column_100 {
  width:980px;
  float:left;
}
#column_100 .table_cpc {width:980px;}
#column_100 .csc-frame-indent {
  width:300px;
  float:left;
  margin-right:100px;
  margin-bottom:50px;
  border: 1px solid #bcbcbc;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding:10px;
      background:url(../images/gradient.jpg);
      background-repeat:repeat-x;
      background-position:top;
}

#column_100 .csc-frame-indent3366  {
  width:300px;
  float:left;
  margin-right:100px;
  margin-bottom:50px;
  border: 1px solid #bcbcbc;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding:10px;
      background:url(../images/gradient.jpg);
      background-repeat:repeat-x;
      background-position:top;
}
#column_100 ul {
  margin-left:15px;
  padding-left:0px;
}
#column_75 {
  width:650px;
  float:left;
}
#column_75 .csc-frame-rulerBefore {
  position:absolute;
  top:35px;
  right:330px;
}
#column_75 .csc-frame-rulerBefore a:hover {background:none !Important;}
#column_75 ul {
  margin-left:15px;
  padding-left:0px;
}
#column_25 .csc-frame-frame2 h1 { font-size:1.2em;}
#column_25 {
  width:250px;
  float:right;
}
#column_25 ul {
  margin-left:15px;
  padding-left:0px;
}  
#column_25 .csc-frame-invisible a:hover {
  background:none !important;
  background-color:none !important;
}
#column_25 .csc-frame-invisible ul {
  margin:0px;
  padding:0px;
  list-style:none;
}
#column_25 .csc-frame-invisible ul li {
  margin:0px;
  padding:0px;
}
#column_25 .csc-frame-invisible ul li a {
  background:url(../images/arrows.gif);
  background-position:left center;
  background-repeat:no-repeat;
  font-size:1.2em;
  color:#4d4d4d !important;
  text-decoration:none;
  font-weight:normal;
  text-align:left;
  padding-left:20px;
}
#column_25 .csc-frame-invisible ul li a:hover {
  color:#f79333 !important;
  background:url(../images/arrows_hover.gif) !important;
  background-position:left center !important;
  background-repeat:no-repeat !important;
  font-size:1.2em;
  text-decoration:none;
  font-weight:normal;
  text-align:left;
  padding-left:20px;
}
/* TABLES STYLES */
/*.tx-lumophpinclude-pi1 table */
. table_cpc {
  width:980px;
  font-size:0.9em;
}
.odd {
  background:#e6e6e6;
}
.odd:hover {
  color:#fa911b;
}
.even {
  background:#FFFFFF;
}
.even:hover {
  color:#fa911b;
}
th {
  text-align:left;
  padding:4px;
  color:#097311;
}
td {
  text-align:left;
  padding:4px;
}
.bold {
  font-weight:bold;
}
/* NEWS */
.news-list-container h2 {
  color:#4ec804;
  text-transform:uppercase;
}
.news-list-container h2 a {
  color:#4ec804 !important;
  text-decoration:none;
  text-transform:uppercase;
}
.news-list-container h2 a:hover {
  background:none !important;
}
.news-list-item h2 {
  clear:both;
}
.news-list-author-picture {
  width:75px;
  height:75px;
  float:left;
}
.news-list-author {
  width:60px;
  float:left;
  color:#4d4d4d !important;
  font-weight:normal;
  margin-top:5px;
}
h2 .news-list-author a {
  color:#4d4d4d !important;
}
.news-list-date {
  width:100px;
  float:left;
  margin-left:10px;
  color:#4d4d4d;
  margin-top:5px;
  font-weight:normal;
  background:url(/images/date.gif);
  background-repeat:no-repeat;
  background-position:left center;
  padding-left:20px;
}
.news-list-item-headline-right {
  float:right;
  width:550px;
}
#likes {
  position:absolute;
  right:0px;
  top:20px;
  width:100px;
  overflow:hidden;
}
.tx-powermail-pi1 {
  margin-top:20px;
}
legend {
  display:none;
}
fieldset {
  border:1px solid #f36527;
  -moz-border-radius: 5px;
      border-radius: 5px;
}

.csc-frame-indent .csc-textpic-imagewrap {padding:0px; margin:0px;}
.csc-frame-indent .csc-textpic-single-image {padding:0px; margin:0px;}
.csc-frame-indent .csc-textpic-text {padding:0px; margin:0px;}
.csc-frame-indent p {padding:0px; margin:0px;}
.csc-frame-indent a {
  background:url(../images/arrow.png);
  background-position:left center;
  background-repeat:no-repeat;
  /*font-size:1.2em;*/
  color:#4d4d4d !important;
  text-decoration:none;
  font-weight:normal;
  text-align:left;
  padding-left:15px;
}
.csc-frame-indent a:hover {
  color:#f79333 !important;
  background:url(../images/arrow_hover.png) !important;
  background-position:left center !important;
  background-repeat:no-repeat !important;
  text-decoration:none;
  font-weight:normal;
  text-align:left;
  padding-left:15px;
}
.csc-frame-indent3366 .csc-textpic-imagewrap {padding:0px; margin:0px;}
.csc-frame-indent3366 .csc-textpic-single-image {padding:0px; margin:0px;}
.csc-frame-indent3366 .csc-textpic-text {padding:0px; margin:0px;}
.csc-frame-indent3366 p {padding:0px; margin:0px;}
.csc-frame-indent3366 a {
  background:url(../images/arrow.png);
  background-position:left center;
  background-repeat:no-repeat;
  /*font-size:1.2em;*/
  color:#4d4d4d !important;
  text-decoration:none;
  font-weight:normal;
  text-align:left;
  padding-left:15px;
}
.csc-frame-indent3366 a:hover {
  color:#f79333 !important;
  background:url(../images/arrow_hover.png) !important;
  background-position:left center !important;
  background-repeat:no-repeat !important;
  text-decoration:none;
  font-weight:normal;
  text-align:left;
  padding-left:15px;
}
.tx-srfreecap-pi2-image {
  display:block !important;
  padding-left:190px !important;
  padding-top:10px !important;
}
.tx-srfreecap-pi2-cant-read  {
  display:block !important;
  padding-left:200px !important;
  padding-top:10px !important;
  color:black !important;
}
#t3m_faq_tab_container {
    border: 1px solid #bcbcbc!important;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding:10px;
      background:url(../images/gradient.jpg);
      background-repeat:repeat-x;
      background-position:bottom;
}
.t3m_faq_foldout {
  margin:0px !important;
  padding:0px !important;
}
.tx-t3mfaq-pi1 {
  margin-top:20px;
}
.t3m_faq_tab {
  border: 1px solid #fcc76e;
    border-top: 0;
   border-bottom:0;
    -moz-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  padding:8px;
  padding-left:12px !important;
  padding-right:12px !Important;
  margin-left:10px;
}
.tx-nonverblasterflashplayer-pi1 {
  background:none !important;
  padding:0px !important;
}
.currency_select {
  position:absolute;
  right:0px;
  top:150px;
}
.currency_select select {width:200px;}
