#menu, 
#menu ul {
	padding:0;
	margin:0;
	font-family: Arial,Helvetica,sans-serif;
	z-index: 10;
}

#menu {
	position: relative;
	z-index: 100;
}

#menu > li > ul {
	z-index: -1;
}

#menu a {
	text-decoration: none;
	white-space: nowrap;
	outline: 0;
}

#menu > li a,
#menu > li:hover ul,
#menu > li:hover > ul > li:hover > ul,
#menu > li:hover > ul > li:hover > ul > li:hover > ul {
	display: block;	
}

#menu > li ul,
#menu > li:hover > ul > li > ul,
#menu > li:hover > ul > li > ul > li > ul {
	display: none;
}


#menu > li > a {
	color: #666666;
	font-size: 16px;
	padding: 8px 8px;
}

#menu li {
	list-style:none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
}

#menu > li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	list-style:none;
	border-width: 1px;
	border-color: transparent;
	border-radius: 6px 6px 0px 0px;	
	border-style: solid;
	border-bottom: 0px;	
	background-color: transparent;	
}

#menu > li:hover {
	background-color: #F79333;
	border-color: #FCC76E;		
}
 
#menu > li:hover > a,
#menu > li > ul li a {
	position: relative;
	color: #FFFFFF;	
}

#menu > li:hover > ul > li:hover > a,
#menu > li:hover > ul > li:hover > ul > li:hover > a,
#menu > li:hover > ul > li:hover > ul > li:hover > ul > li:hover > a {
	color: #000000;	
}

#menu > li ul {
	position: absolute;
	background: #f79333; /* Old browsers */
	background: -moz-linear-gradient(top,  #f79333 0%, #d44702 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79333), color-stop(100%,#d44702)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f79333 0%,#d44702 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f79333 0%,#d44702 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f79333 0%,#d44702 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f79333 0%,#d44702 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79333', endColorstr='#d44702',GradientType=0 ); /* IE6-9 */	
}

#menu > li > ul > li ul {
	position: absolute;
	box-shadow: 0px 0px 6px #000;
}


#menu > li > ul {
	border-radius: 0 6px 6px 6px;
	border-color: #FCC76E;	
	border-width: 1px;
	border-style: solid;
	margin-left: -1px;
	margin-top: -1px;
}

#menu > li > ul > li > ul,
#menu > li > ul > li > ul > li > ul {
	border-radius: 6px;
	border-color: #FCC76E;	
	border-width: 1px;
	border-style: solid;
}

#menu > li ul li a {
	padding: 5px 8px;
	font-size:14px;
}

#menu > li > ul > li > ul > li > a {
	font-size:12px;
}

#menu > li > ul > li > ul > li > ul > li > a {
	font-size:11px;
	padding: 2px 25px 2px 8px;
}

#menu > li ul li > a {
	padding: 5px 25px 5px 8px;
}

#menu > li ul li:first-child > a {
	padding-top: 10px;
}

#menu > li ul li:last-child > a {
	padding-bottom: 10px;
}

#menu > li ul li ul {
	margin-top: -30px;
	margin-left: calc(100% - 5px);
}

.menu-arrow:after {
   border-bottom: 5px solid transparent;
   border-left: 5px solid #FFFFFF;
   border-top: 5px solid transparent;
   content: '';
   position: absolute;
   right: 10px;
}

#menu > li > ul > li > a.menu-arrow:after {
   top: 9px;	
}

#menu > li > ul > li > ul > li a.menu-arrow:after {
   top: 8px;	
}