@charset "UTF-8";
#topnav {
  margin-top:80px;
  height:36px;
  float:left;
}

div#topline {
    height: 35px;
    width: 100%;
    clear: both;
    z-index: 0;
    margin-bottom: 5px;
}
div#topline div.frame {
    width: 990px;
    margin: auto;
}
div#topline div.frame div#topnav {
    width: 100%;
    float: left;
    font-size: 0.8em;
}

div#topline div.frame div#topnav ul#nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 15px;
}

/* These are the main (top) menu items (home, advertisers, etc)  */
ul#nav li {
    margin: 0px;
    padding: 0px;
    float: left;
}
ul#nav li a {
    color: #5d5d5d;
    float:left;
    padding: 11px 10px;
    text-decoration: none;
    font-weight:normal;
    font-size:1.1em;
    border: 1px solid #fff;
    border-bottom: 0;
}
ul#nav li a:hover, ul#nav li.specialstay a {
   /* background: url('/images/topnav_hover.jpg');*/
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #f79333;
    color: #fff;

    border: 1px solid #fcc76e;
    border-top: 0;
  border-bottom:0;
    -moz-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Sub Menu */
#nav li:hover a, 
#nav li.sfHover a {
  /* background: url('/images/topnav_hover.jpg');*/
    background-position: left top;
    background-repeat: repeat-x;
    background-color: #f79333;
    color: #fff;

    border: 1px solid #fcc76e;
    border-top: 0;
    border-bottom:0;
    -moz-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
ul#nav ul {
     margin-top: 42px;
    padding-bottom: 10px;

    /*background-color: #f79333;*/
    font-size: 1.0em;

    background: url(/images/topnav_straight_bottom.gif);
    background-position: left top;
    background-repeat: repeat-x;
    

    border: 1px solid #fcc76e;
    border-top: 0;
    -moz-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

ul#nav ul li {
    padding-left:5px;
    width:70px;
  /*font-size:0.8em;*/
  padding-right:0px !important;
}
ul#nav ul li a, ul#nav li ul li a:hover, ul#nav li.specialstay ul li a {
    color: #fff;
    padding: 5px;
    padding-right: 0px;
    text-align: left;
    font-size: 1.1em;
    background: none !important;
    text-transform: none;
    border: 0 !important;
}
ul#nav ul li a:hover {
    color: black !important;
    background: none !important;
    border: 0;
}
ul#nav ul#widthadvertiser {
    width: 149px;
}
ul#nav ul#widthpublisher {
    width: 136px;
}



/* Top Bar containing Account, Payment and Logout links */
div#shadow {
/* It doesn't have a shadow any more :)
 *  background:url('/images/shadow.jpg');
 *  background-repeat:repeat-x;
 *  background-position:top;
 */
    float: left;
    width: 100%;
}
div#shadow div#content {
    width: 988px;
    background: #fff;
    margin:auto;
}
div#shadow div#content div#topbar {
    background: url('/images/topbar.jpg');
    height: 29px;
    line-height: 29px;
    clear: both;
    border: 1px solid #cbcbcb;
    font-size: 0.7em;
}
div#shadow div#content div#topbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
div#shadow div#content div#topbar ul li {
    margin: 0;
    padding: 0 10px 0 10px;
    float: left;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #b5b5b5;
    height: 29px;
    line-height: 29px;
    color: #616161;
}
div#shadow div#content div#topbar img {
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}
div#shadow div#content div#topbar ul li a {
    color: #616161;
}
div#shadow div#content div#topbar ul li a:hover {
    color: #888;
}


div#topbar_shadow {
    background: url('/images/topbar_shadow.jpg');
    height: 13px;
    clear: both;
}
/*TOPNAV CORNERS FIRST LEVEL */
.topnav_top_right:hover a {
    background:url(/images/topnav_left.png);
    background-position:left;
    background-repeat:no-repeat;
    color: #fff !important;    width:100% !Important;

}
.topnav_top_right:hover {
    background:url(/images/topnav_right.png);
    background-position:right;
    background-repeat:no-repeat;
}







/* Framework for proper showing/hiding/positioning */
/* DO NOT EDIT FROM HERE */
ul.sf-menu, ul.sf-menu * { margin:0; padding:0; }
ul.sf-menu { display:block; position:relative;z-index:99; }
ul.sf-menu li { display:block; list-style:none; float:left; position:relative; z-index:99;}
ul.sf-menu li:hover { visibility:inherit; /* fixes IE7 'sticky bug' */ }
ul.sf-menu a { display:block; position:relative; }
ul.sf-menu ul { position:absolute; left:0; z-index:99; top:auto; left:-999999px; }
ul.sf-menu ul a { zoom:1; /* IE6/7 fix */ }
ul.sf-menu ul li { float:left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */ }
ul.sf-menu ul ul { top:0; margin:0 0 0 0 }
ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul { /*first level*/ left:auto; }
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul { left:-999999px; }
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul {/*second level*/ left:auto; }
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul { left:-999999px; }
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul {/*third level*/ left:auto; }
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul { left:-999999px; }
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul {/*fourth level*/ left:auto; }
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { left:-999999px; }





/*.nav li:hover ul,
.nav li.sfHover ul {
  top: 190px;
  right:-5px;
}*/

/* LOGIN */
.sfHover {
  background:url(/images/subnav_bg.jpg);
  list-style: none;
  margin: 0;
  display: block;
}




/* THIRD LEVEL MENU */
.subnavhead {
  color:#f7931e;
  margin:0px;
  padding:0px;
  margin-bottom:20px;
  text-transform:uppercase;
  font-size:24px;
  display:block;
  font-weight:bold;
  width:978px;
  position:relative;
  left:-150px;
}
#submenu {
  clear:both;
}
#submenu ul {
  list-style:none;
  margin:0px;
  padding:0px;
  clear:both;
  border-bottom:1px dotted #4d4d4d;
  padding-top:18px;
  padding-bottom:18px;
  padding-left:150px;
}
#submenu ul li {
  float:left;
  margin:0px;
  padding:0px;
}
#submenu ul li a {
  background:url(/images/arrows.gif);
  background-position:left center;
  background-repeat:no-repeat;
  color:#4d4d4d;
  text-decoration:none;
  padding-left:15px;
  width:250px;
  margin-bottom:10px;
  float:left;
}
#submenu ul li a:hover {
  color:#f79333;
  background:url(/images/arrows_hover.gif);
  background-position:left center;
  background-repeat:no-repeat;
}
