@charset "UTF-8";
/* CSS Document */
html {
  margin:0px;
  padding:0px;
}
body {
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}
.frame {
  width:980px;
  margin:auto;
  position:relative;
}
#header {
  height:116px;
  width:980px;
  border-bottom:1px dotted #4e4e4e;
  position:relative;
}
#logo {
  position:absolute;
  top:10px;
  left: 10px;
  width:363px;
}
#logo img {
  border:0px;
}
#login_top {
  height:36px;
  line-height:36px;
  text-transform:uppercase;
  margin-top:80px;
  margin-right:10px;
  float:right;
}
#login_top ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
#login_top ul li {
  margin:0px;
  padding:0px;
}
#login_top ul li a {
  color:#f59618;
  font-weight:bold;
  font-size:16px;
  text-decoration:none;
  background:url(../images/login_icon.jpg);
  background-position:left center;
  background-repeat:no-repeat;
  padding-left:20px;
}
#mood {
  width:980px;
  position:relative;
  z-index:1;
}
#mood img {
  margin:0px;
  padding:0px;float:left;
  border-bottom:1px dotted #4e4e4e;
}
#mood embed {
  margin:0px;
  padding:0px;float:left;
  border-bottom:1px dotted #4e4e4e;
}
#mood .csc-textpic-clear {display:none; height:1px;}

#footer {
  background:url(../images/footer_bg.jpg);
  background-repeat:repeat-x;
  background-position:top;
  height:149px;
  padding-bottom:60px;
  clear:both;
  margin-top:100px;
  position:relative;
}
#footer_3d {
  background:url(../images/3d_footer_02.png);
  width:245px;
  height:172px;
  float:left;
  position:absolute;
  left:0px;
  top:20px;
}
#footer_logo {
  margin-top:34px;
  float:left;
  margin-left:285px;
}
#footer_logo img {
  border:0px;
}
#footer_servicenav {
  width:494px;
  border-top:1px solid #036400;
  color:#036400;
  font-size:12px;
  position:absolute;
  left:285px;
  top:120px;
  padding-top:5px;
}
#footer_servicenav ul {
  margin:0px;
  padding:0px;
  list-style:none;
}
#footer_servicenav ul li {
  margin:0px;
  padding:0px;
  float:left;
  padding-left:3px;
  padding-right:3px;
}
#footer_servicenav ul li a {
  text-decoration:none;
  color:#036400;
}
#footer_servicenav ul li a:hover {
  text-decoration:none;
}
#social_media {
  position:absolute;
  right:200px;
  top:80px;
}
#social_media ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
#social_media ul li {
  float:left;
  padding-left:5px;
}
#social_media img {
  border:0px;
}
#social_media img:hover {
  	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
#rta_label {
  width:88px;
  height:31px;
  position:absolute;
  top:41px;
  right:10px;
}
#rta_label img {
  border:0px;
}
#language {
  width:318px;
  position:absolute;
  top: 7px;
  right:10px;
}
#language img {
  margin: 0px 0px 0px 5px;
  border:0px;
  float:right;
}
/* LOGIN */
#login_bg {
  background:url(../images/login_bg.jpg);
  background-position:bottom;
  background-repeat:no-repeat;
  background-color:#fbb03b;
  position:absolute;
  right:0px;
  border: 1px solid #f17a09;
    -moz-border-radius: 5px;
    border-radius: 5px;
  display:none;
  z-index:8;
  margin:3px; 
  width:201px; 
    height:118px;
  padding-top:10px;
}
#login_top ul ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
#login_top ul ul li {
  margin:0px;
  padding:0px;
}
#login_bg form {
   width:167px;
   margin:auto;
   margin-top:5px;
   padding-bottom:10px;
}
#loginleft {
  position:absolute;
}
#loginright {
  position:absolute;
  top:50px;
}
.inputfield {
  border:1px solid black;
  width:165px;
  font-size:1.1em;
  margin:0px;
  margin-top:1px;
  margin-bottom:10px;
}
.submitbutton {
  background:white;
  color:black;
  border:1px solid black;
  float:right;
  margin:0px;
  position:relative;
  right:-2px;
  top:76px;font-size:0.9em;
  margin-top:1px;
  position:relative;
  z-index:5;
  cursor:pointer;
}
.login_signup {
  margin-top:1px !important;
  margin-left:20px !important;
  position:relative;
  z-index:2;
  top:33px;
}
.login_signup a {
  background:none !important;
  color:white !Important;
  padding:0px !important;
  text-decoration:none;
  font-size:0.7em !important;
  font-weight:normal !important;
}
.login_signup a:hover {
  color:black !Important;
}
label {
  padding-right:10px;
  text-align:right;
  padding-top:15px;
}
.tx-powermail-pi1 input {
  font-size:1.4em;
  border: 1px solid #b8b8b8;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-top:10px;
      margin-bottom:10px;
      height:35px;
      line-height:35px;
}
.tx-powermail-pi1 textarea {
  font-size:1.4em;
  border: 1px solid #b8b8b8;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-top:10px;
      margin-bottom:10px;
    
}
.powermail_captcha {
  width:300px;
}
.tx_powermail_pi1_fieldwrap_html_button input {
  background:url(../images/join_button.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  margin-left:50px;
  height:40px;
  line-height:40px;
  font-size:18px;
  margin-bottom:10px;
  border: 1px solid #046501;
      -moz-border-radius: 10px;
      border-radius: 10px;
      position:relative;
      left:210px;
}
.tx_powermail_pi1_fieldwrap_html_button input:hover {
  background:url(../images/join_button_hover.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  height:40px;
  line-height:40px;
  font-size:18px;
  border: 1px solid #ad5c00;
      -moz-border-radius: 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px #939393;
  -webkit-box-shadow: 3px 3px 10px #939393;
  -moz-box-shadow: 3px 3px 10px #939393;
}
.tx_powermail_pi1_fieldwrap_html_submit input  {
  background:url(../images/join_button.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  margin-left:60px;
  height:40px;
  line-height:40px;
  font-size:18px;
  margin-bottom:10px;
  border: 1px solid #046501;
      -moz-border-radius: 10px;
      border-radius: 10px;
    position:relative;
    left:10px;
    
}
.tx_powermail_pi1_fieldwrap_html_submit input:hover {
  background:url(../images/join_button_hover.jpg);
  color:white;
  background-position:top;
  text-align:center;
  width:179px;
  text-decoration:none;
  float:left;
  height:40px;
  line-height:40px;
  font-size:18px;
  border: 1px solid #ad5c00;
      -moz-border-radius: 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px #939393;
  -webkit-box-shadow: 3px 3px 10px #939393;
  -moz-box-shadow: 3px 3px 10px #939393;
}
.tx-powermail-pi1 .even {
  background:none;
}
.tx-powermail-pi1 .odd {
  background:none;
}
.tx-srfreecap-pi2-image {
  float:left !important;
  margin-left:20px !important;
}
.tx-srfreecap-pi2-cant-read  {
  float:left !important;
  margin-left:20px !important;
  color:black !Important;
}
.tx-srlanguagemenu-pi1 .cur {
  float:left;
}
.tx-srlanguagemenu-pi1 .no {
  float:left;
}

.country-flags {
	filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: grayscale(100%); /* Current draft standard */
	-webkit-filter: grayscale(100%); /* New WebKit */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%);
	filter: gray; /* IE6+ */
}

.country-flags:hover,
.country-flags.active {
    filter: none;
    -webkit-filter: grayscale(0);
}