@charset "utf-8";
/* CSS Document */

#maincontent .vSlider {  overflow:visible; position:relative; border:none!important; }
#maincontent .vSlider ul.mainslider { margin:0; padding:0; list-style:none; position:relative; overflow:hidden; display:block;  border:none!important;}
#maincontent .vSlider ul.mainslider li { background:#fff; position:absolute; top:0; left:0; border:none!important;  margin:0; padding:0; }
#maincontent .vSlider ul.mainslider li>a {background:#fff; margin:0; padding:0; outline:none; border:none; text-decoration:none; background:transparent; }
#maincontent .vSlider ul.mainslider li>a img { background:#fff; margin:0; padding:0; display:block; }


#maincontent .vSlider span {  position:absolute; bottom:20px; left:0px;  background:#111111;  width:60%; color:#fff; font-size: 12px; padding:10px; display:block; }
#maincontent .vSlider h1,h2,h3,h4,h5 {  color:#fff!important; font-weight:100; margin-top:20px;  margin-left:20px; margin-bottom:5px; line-height:1.4;  font-size:18px; letter-spacing: 1px; }
#maincontent .vSlider ul li div.inline { background:#fff }

.reset { z-index:1; border: none;}
.active { z-index:5; border: none;}


a.q-prev { background:url(/images/controls-vslider.png) top left no-repeat; display:block; width:39px; height:37px; position:absolute; z-index:199; top:40%; left:0; opacity:0.3;  }
#maincontent a.q-prev:hover { opacity:1; background:url(/images/controls-vslider.png) top left no-repeat; display:block; width:39px; height:37px; position:absolute; z-index:199; top:40%; left:0;}
#maincontent a.q-next:hover { opacity:1; background:url(/images/controls-vslider.png) top right no-repeat; display:block; width:39px; height:37px; position:absolute; z-index:199;  top:40%; right:0;}
a.q-next { background:url(/images/controls-vslider.png) top right no-repeat; display:block; width:39px; height:37px; position:absolute; z-index:199;  top:40%; right:0; opacity:0.2; }


.controls { 
	background:#fff;
	position:absolute;
	bottom:-49px;
	padding:5px 8px;
	left:30%;
	z-index:99;
 }

.controls li { position:relative; z-index:9; cursor:pointer; display:block; width:12px; height:12px; float:left; margin:0px 2px; text-indent:-9999px; border: 1px solid #B8C4CF;}
.controls li.control_active { background-color:#B8C4CF; }
.controls li:hover { background-color:#006500; }

@charset utf-8;

/*
Theme Name :  vSlider
Description:  New generation slider
Author URI:   http://www.wptitans.com/
Version:      0.1
*/
/*
*/


/* ========================================= Reset =========================================  */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}


/* ================================================================================== */
/* ==  vSLIDER STYLINGS =========================================================== */
/* ================================================================================== */



#maincontent .vSlider { position:relative; overflow:hidden; border:none!important;}