.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
    font-size: 16px;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-no-suggestion {
    padding: 2px 5px;
}
.autocomplete-selected {
    background: #E0E0E0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.sites {
   font-weight: 700;
   padding-left: 2px;
   padding-right: 2px;
}

footer {
    padding: 10px 0px 15px 0px;
}

p.copyright {
    margin: 15px 0 0;
}

.m0 {
    margin: 0px 0px 0px 0px;
}

.m1 {
    margin: 1px 1px 1px 1px;
}

.m2 {
    margin: 2px 2px 2px 2px;
}

.ml5 {
    margin-left: 5px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb3 {
    margin-bottom: 3px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt2 {
    margin-top: 2px;
}

.mt3 {
    margin-top: 3px;
}

.mt5 {
    margin-top: 5px;
}

.mt6 {
    margin-top: 6px;
}

.mt10 {
    margin-top: 10px;
}

.p0 {
    padding: 0px 0px 0px 0px;
}

.p1 {
    padding: 1px 1px 1px 1px;
}

.p2 {
    padding: 2px 2px 2px 2px;
}

.p3 {
    padding: 3px 3px 3px 3px;
}

.pr0 {
    padding-right: 0px;
}

.pr3 {
    padding-right: 3px;
}

.pr5 {
    padding-right: 5px;
}

.pl0 {
    padding-left: 0px;   
}

.pl3 {
    padding-left: 3px;
}

.pl5 {
    padding-left: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.br0 {
    border-radius: 0px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font24 {
    font-size: 24px;
}

.d-inline {
    display: inline;
}

.item-col {
    width: 99%;
}

.item-title {
    //font-size: 21px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 6px;
    //display: inline;
}

.item-border {
    border-top: 1px solid #c8e6c9;
}

.item-img-general {
    max-height: 150px;
}

.item-img-mobile {
    max-height: 136px;
    max-width: 120px;
    //float: left;
    margin: 1px;
}

.img-center {
    margin: 0 auto;
}

.img-spt {
    z-index: 1;
}

.image-magnifier {
    text-decoration: none;
    font-family: 'FontAwesome';
    content: '\f00e';
}

.image-magnifier::before {
    position: absolute;
    z-index: 2;
    opacity: 1;
    font-family: 'FontAwesome';
    content: '\f00e';
    background-color: #fff;
    margin: 4px 0 0 4px;
    color: #f4511e;
    font-size: 18px;
}

time {
    color: #999;
    font-size: 12px;
}

.justify {
    color: #666;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-ideograph;
}

.btn-content {
    color: #666;
}

.more span {
    display: none;
}

.more:after {
    content: '...更多內容';
}

.find-other {
    background-color: #60A531;
    border-color: #51892B;
    color: #eeeeee;
}

.find-other:hover, find-other:focus {
  color: #fff;
}

.subhr {
    margin: 0px;
}

#backtotop {
    position: fixed;
    bottom: 20px !important;
    right: 10px;
    cursor: pointer;
    opacity: 1;
    z-index: 10;
}

#backtotop > i {
    color: #009688;
}