/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400; /* 700 */
}

.navbar {
    margin-bottom: 0px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-message {
    position: relative;
    padding-top: 3%;
    padding-bottom: 15%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4.5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.table {
   color: #000;
   margin-bottom: 0px;
}

.sites {
   font-weight: 700;
   padding-left: 2px;
   padding-right: 2px;
}

.panel-body {
   padding: 12px 6px 12px 6px;
}

.panel-body > a {
   font-weight: 400;
   margin: 1px 1px 1px 1px;
}

.news {
   min-height: 0px;
   margin-bottom: 5px;
   margin-top: 1px;
   background-color: #fff;
   padding: 4px;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 10%;
    }

    .intro-message > h1 {
        font-size: 2.5em;
    }

    .intro-divider {
        width: 100%;
    }
}

footer {
    padding: 10px 0px 15px 0px;
}

p.copyright {
    margin: 15px 0 0;
}