.intro-header {
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    //padding-top: 50px; 
    padding-bottom: 30px;
    text-align: center;
    color: #f8f8f8;
    background: url(/images/biggo_index.jpg?v=6) no-repeat center center;
    background-size: cover;
}

footer {
  border-top: 1px solid #E7E7E7;
  background-color: #F5F5F5;
  padding-bottom: 160px !important;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  color: #777;
}
@media screen and (min-width: 768px) {
  footer {
     //padding-bottom: 160px;
  }
}
footer ul {
   margin: 0 0 0 -38px;
   list-style: outside none none;

}
footer li {
   border-left: 1px #fff;
   line-height: 2;
}
footer .ulist {
   border-left: 1px solid #C5C5C5;
   padding-left: 3px;
}
