@charset "utf-8";
/* HOMEPAGE */

#content {
  background-color: #fff;
  width: 100%;
}

#ipHome{
	width:100%;
	font-size:13px;
	line-height:16px;
	color:#515050;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:-25px 0 0 0;}

#ipHome h4{
	color:#000;
	font-size:14px;
	font-weight:bold;
	margin:0;}

.clear{
	clear:both;}

#ipHome a{
	color:#2d88ac;
	text-decoration:none;}

#ipHome a:hover, a:hover{
	text-decoration:underline;}

/*FEATURE SECTION*/
#ipFeature{margin-bottom:10px;}

#ipFeature img{
	border:1px solid #dcdcdc;
	margin:-30px 5px 0 0;
	float:left}

#featureText{
	width:37%;
	padding:0 0 0 15px;
	margin:3px 0 0 0;
	float:left;}

#featureText p{color:#515050;}

#featureText div.populartext {
	padding:0;
	margin-bottom:2px}

#featureText div.populartext a{
	color:#2d88ac;
	font-size:24px;
	border:none}

#featureText ul{
	color:#515050;
	margin:10px 0 0 0px;
	padding:0;
	list-style:none}

#featureText li{
	background:url("/images/grayBullet.gif") no-repeat;
	background-position:0 7px;
	background-size:3px 3px;
	padding:0 0 2px 10px;
	margin-bottom:10px;}

/*TOOLS*/
.ipTools{
	width:100%;
	margin:15px 0 0 0;
	padding-bottom:30px;
	padding-top:10px;
	border-top:1px solid #dcdcdc;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;}

.ipTools h4{
	margin:10px 0 0 0;
	text-align:left;}

.ipTools ul{
	list-style-type:none;
	margin:0 0 0 -42px;
	font-size:13px;
	padding-left:40px;}

.ipTools ul li {
	float:left;
	margin:0 0 10px 0;}

.ipTools a {
	color:#2d88ac;
	letter-spacing:0;}

.ipTools li span{
	color:#515050;
	margin:0 2px;
    font-weight: normal;}
/*TOOLS*/

/*LEFT*/
#ipLeft{
	border-right:1px solid #dcdcdc;
	float:left;
	width:66%;
	padding:0;}

/*BLUE HEADERS*/
#ipHome .blueHeader h2{
	margin:0 0 10px 0;
	padding:0;
	height:37px;
	border:none;}

#ipHome .blueHeader h2 a, #ipHome .blueHeader h2 span{
	margin:10px 0 0 45px;
	float:left;
	font-size:16px;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;}

#ipHome .blueHeader h2 a:hover{text-decoration:underline;}

/*BLUE HEADERS*/
#ipHome div.mostPopular h2 {background: #2d88ac url(/images/ip_icon_newspaper.gif) no-repeat 5px center;}
#ipHome div.dailyAlmanac h2 {background: #2d88ac url(/images/ip_icon_calendar.gif) no-repeat 5px center}
#ipHome div.biographies h2 {background: #2d88ac url(/images/ip_icon_people.gif) no-repeat 5px center}
#ipHome div.justFun h2{background: #2d88ac url(/images/ip_icon_lightbulb.gif) no-repeat 5px center}
#ipHome div.haveYourSay h2{	background: #2d88ac url(/images/ip_icon_textbubbles2.gif) no-repeat 5px center;}
/*BLUE HEADERS*/

/*MOST POPULAR*/
.mostPopular{
	width:98%;
	margin:0 0 10px 0;
	padding:0 0 10px 0;}

div.populartext h3.populartext{
	margin-top:0;
	text-align:left}

div.populartext {
	color:#515050;
	margin:0 0 15px 0}

.mostPopular #HPyearbyyear {
	text-align:center;
	border:solid 1px #dcdcdc;
	padding:10px 0 10px 0}

.mostPopular form label {
	margin:0 auto;
	width:100%;
	display:block;}

.justFun p, .dailyAlmanac p, #ipSource p a, .mostPopular form a{
	font-weight:bold;}

 .justFun a, .dailyAlmanac a{
	font-weight:normal;}

/*HAVE YOUR SAY - blue bar*/

.haveYourSay{
	width:98%;
	padding:10px 0;
	margin:0 0 20px 0;
	background-color:#fff;}

.haveYourSay h3{
	font-size:13px;
	color:#515050;
	font-weight:bold;
	margin:4px 0 0 0;
	text-align:left;}

#ipHome .haveYourSay ul{list-style-type:none;}
#ipHome .haveYourSay ul li{font-size:13px;color:#515050;margin-bottom:10px;}
#ipHome .haveYourSay ul li a img {border:none}
#ipHome .haveYourSay .submit{
	display:block;
	float:left;
	overflow:hidden;
	text-decoration:none;
	width:20px;
	height:20px;
	margin-right:10px;
	background:url("/images/animated-radio2.png") no-repeat left -20px}

#ipHome .haveYourSay form .center {background-color:#fff;}

#ipHome .haveYourSay a:hover{
	background-position:left top;
	text-decoration:underline}
#ipHome .haveYourSay a, .daily a{text-decoration:underline}

/*IP SOURCES*/
#ipSource{
	width:98%;
	margin:0;
	padding:10px 0;
	border:1px solid #dcdcdc;}

#ipSource h4{
	margin:0 0 0 10px;
	padding:0;}

#ipSource #sourceLeft, #ipSource #sourceRight{
	float:left;
	width:46%;
	margin:0 0 0 10px;
	padding:0 0 0 0}

#ipSource #sourceRight{margin-left:20px;}

#ipSource img{margin:0 2px 0 0;}

#ipSource p span{font-family: Arial,Helvetica,sans-serif;}

/*RIGHT*/
#ipRight{
	float:left;
	margin:0 0 0 6px;
	width:32%;}

.dailyAlmanac, .biographies, .justFun{
	margin:0 0 35px 0;
	padding:0;}
/*
---------------2/14 - not sure where or what this dailyAlmanac h4 or the below dadynamictext is calling-----------
.dailyAlmanac h4 a{
	color:#2d88ac;
	text-decoration:none;
	font-weight:bold;}
.dailyAlmanac h4 .close a:hover{text-decoration:underline;}*/


.dadynamictext{text-align:left;font:normal 9pt Verdana,Helvetica,Arial,sans-serif;color:#330099;margin:6px 0px;padding-left:10px}
.dadynamictext a{text-decoration:none;color:#330099}
.dadynamictext a:hover{text-decoration:underline}
.dadynamictext h4{font-size:13px !important;margin-top:6px;margin-bottom:0}
h4.close{margin-top:6px;margin-bottom:0}
.dadynamictext h4,.dadynamictext h4 a,.dadynamictext b a,.dadynamictext h4 a:visited,.dadynamictext b a:visited{color:#2d88ac !important}

/*DAILY ALMANAC*/

#ipHome .dailyAlmanac a:hover{
	text-decoration:underline;}


/*BIOGRAPHIES*/
.bioimage{
	border:1px solid #dcdcdc;
	margin:8px 1px 0 0;
	float:left}

.biographies h4{
	padding:15px 0 5px 0;
	text-align:center;}

.boitext {
	margin:10px 0 0 0;
	text-align:center;}

.biographies #bioSearch{text-align:left;color:#515050}
.biographies #bioSearch a {color:#2d88ac}

/*JUST FOR FUN*/
img.factmonster{float:left;margin:0 3px 0 0;padding:0;}
#ipHome .justFun a:hover{text-decoration:underline;}

/*----------------------------------- END HOMEPAGE -----------------------------------*/


/*-------------------SLIDES SHOW STYLINGS------------------------------*/
/*inline from a slideshow html*/
div.theslide {
	margin:0 auto 5px auto;
	padding:15px;
	width:510px;
	overflow:hidden;
	border: 1px solid #dcdcdc;
	background-color: #f6fbfc;
	clear:both;}
.theslide dl, .theslide dt, .theslide dd {margin:0;padding:0;}
.theslide dl, .theslide dt {text-align:center;margin:0 auto;}
.theslide dd {text-align:left;padding:10px;}
.theslide img {
	border:1px solid #999;}
.theslide .slideimg {
    text-align: center;}
.theslide .slideimg {text-align:center;}

.slidercount a {display:none;}
.slidercount a.activeSlide {color:#000;display:inline;text-decoration:none; }

.slidetopnav .prevss {float:left;width:33%;text-align:left;margin-bottom:5px;}
.slidetopnav .nextss {float:left;width:33%;text-align:right;margin-bottom:5px;}
.slidetopnav .slidercount {text-align:center;float:left;width:33%;margin-bottom:5px;}


/*additional styling*/
#fCONTENT div.theslide dl dt {color:#515050;font-size:13px}

div.slide-nav {float:right;font-weight:bold;;}
table #SLIDE {width:100%}
table #SLIDE td{vertical-align:top;}
table #SLIDE h3 {font-size:20px;}
/*-------------------SLIDES SHOW STYLINGS------------------------------*/


/* -----  Removed CSS from inside atlas/index.html and put it here------*/

/*geography guide text on atlas/index.html*/
.cprelcontent1{font:bold 13px Arial, Helvetica, sans-serif;border-bottom:none;margin-bottom:6px;color:#2d88ac;margin-left:0px;padding-bottom:2px;}
.cprelcontent1 a, .cpalmchappad div a{color:#2d88ac;}
.cprelcontent1 a:hover {text-decoration:underline}

dl.cpguidebullets dd {margin-left:0;}
table.cpalmchap h3.cprelcontent1 {color:#515050}

/*North America Atlas northamerica.html   css/atlas-styles.css*/

div.details ul{margin-left:0px !important;padding:0px 2px 0px 5px !important;text-indent:0px;list-style-type:none !important;color:#515050 !important;}
div.details li {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;margin:0 0 6px 10px !important;}

#fCONTENT ul.alphalist, .alphalist, ul.bioalphalistTop  { margin:10px 0; padding:12px 0 0 0; list-style:none;border:none}/* width:100%; clear:both; */
#fCONTENT ul.alphalist li, ul.alphalist li { display:inline; margin:0; padding:0 5px 0 0; font-weight:bold;color:#515050;background:none}
#fCONTENT ul.alphalist li a, .alphalist a { font-weight:normal;color:#2d88ac;}
#fCONTENT ul.alphalist li.nextpage {margin-left: 10px;padding-left: 0px;}
/*.alphalist, ul.alphalist {
    border: none !important;
    list-style: none outside none;
    margin: 0 0 10px 0;
    padding: 10px 5px;
	color:#515050;}*/
#fCONTENT ul.bioalphalistTop {text-align:center;}
#fCONTENT ul.bioalphalist {padding:10px 0 !important;margin:10px 0;border:solid 1px #dcdcdc;text-align:center;list-style-type:none;}
#fCONTENT ul.bioalphalistTop li, #fCONTENT ul.bioalphalist li { display:inline; margin:0; padding:0; font-weight:bold;background:none}

/*----------------------------------- CSS inside atlas -----------------------------------*/


/*---------------------------------------- POLLS.CSS-------------------------------------
/* polls in right side content column with blue background*/
#fRELATED div.poll-question, div.poll-question { margin-right:12px;padding:5px;border:solid 1px #dcdcdc;padding-bottom:0;background-color:#f6fbfc;}
#fRELATED div.poll-question h3 { margin:0; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-align:left; color:#515050; background-color:#f6fbfc; }
div.poll-question form { margin:0; padding:5px 5px 0 5px; background-color:#f6fbfc;}
div.poll-question form fieldset { border:none;}
div.poll-question form table { width:100%;}
#fRELATED div.poll-question form td { padding:5px 0; vertical-align:top;background-color:#f6fbfc}
#fRELATED div.poll-question form p.center, div.poll-question form p.center {background:#f6fbfc;}
div.poll-question form td.poll-label, div.poll-question form td.poll-label a { line-height:18px;}
div.poll-question form td.poll-radio { width:24px;}
div.poll-question form td.submit { padding-top:12px; text-align:center;}
div.poll-question form td.submit span { display:block; padding:4px 0; font-size:90%;}
div.poll-question form td.submit span.alert { font-size:80%;}
#Pg #fRELATED-BTM table tr td.submit{text-align:center;padding:15px 0 0 45px;}/*spot/trains1.html*/
/*---------------------------------------- POLLS.CSS-------------------------------------*/

/*---------------------------------------- HLTH-WEATHER.CSS-------------------------------------*/
/*same code that's in hlth-weather.css file, in here for pages that aren't calling hlth-weather.css*/
/* styles for sub almanac chapter pages. Currently health and weather */
.cplinered img{display:none}

.hlthw-head {
    background-color: #fff;
    font-size: 13px; font-family:Arial, Helvetica, sans-serif ;
    color: #000; font-weight: bold;
    padding: 10px 0 0 0;
    border-bottom: none;
    border-top: none;
	text-align:left ;}

td.hlthw-head b{padding-left: 5px;}

div h2.hlthw-title {
	font-size: 20px; font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	background-image:none;
	letter-spacing:0;
	font-weight: bold;
	padding:8px 0 5px 5px;
	height:30px;
	margin-bottom: 4px;
	background-color:#2d88ac;
	text-align:left;}

.hlthw-primarylinks, .hlthw-links, .hlthw-rightlinkbox {
	background-color: #fff;
	font-family:Arial, Helvetica, sans-serif;}

.hlthw-primarylinks {
    margin-top: 10px;
	border-top: none;
	color:#515050}

.hlthw-links {
    margin-top: 25px;
    border-top: none;}

.hlthw-rightlinkbox {
    padding:0 0 0 10px;
	margin:0;
    border-left: solid 1px #dcdcdc;
	border-top:none;
	color: #515050;}

.hlthw-rightlinkbox ul {
	list-style:none;
	margin:5px 0 0 0;
	padding:0}

.hlthw-rightlinkbox ul li {
	background:url("/images/grayBullet.gif") no-repeat;
	background-position:0 7px;
	background-size:3px 3px;
	padding:0 0 2px 10px;
	margin:0 0 6px 0;}


.hlthw-rightlinkbox font {
	font-size:13px;
	color:#515050}

.hlthw-rightlinkbox a{text-decoration:none;}

.hlthw-rightlinkbox a:hover, .hlthw-tickercell a:hover, p.hlthw a:hover{
	text-decoration:underline}

.hlthw-jumplinks, .hlthw-rightlinkbox div {
    border-bottom: 1px solid #dcdcdc ;
    background-color: #fff;
    padding:0 6px 6px 6px;
    border-top: none;
    color: #515050; font-weight: bold;}

.hlthw-jumplinks {
	margin: 0 0 20px 0;
	color: #515050;}

.hlthw-jumplinks ul, ul.hlthw {
	padding:0;
	margin:5px 0 0 0;
	color:#515050;
	list-style:none}

.hlthw-jumplinks li, ul.hlthw li, p.hlthw, ul#A0933936 li, ul#A0199811 li {
	color:#515050;
	font-family:Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight:normal;
	background:url("/images/grayBullet.gif") no-repeat;
	background-position:0 7px;
	background-size:3px 3px;
	padding:0 0 2px 10px;
	margin:0 0 6px 0;}

.hlthw-jumplinks li a {
	color: #2d88ac;
	font-weight: normal;}

.hlthw-jumplinks li:first-child {
	background-image:none;
	margin-left:-10px;
	list-style-image:none}

.hlthw-jumplinks .hlthw a {
	color: #515050;
	font-weight: bold;}

p.hlthw a{
	font-family:Arial, Helvetica, sans-serif ;
	font-size:13px;
	line-height: 16px;
	color: #2d88ac;
	font-weight: normal;}

p.hlthw font, .new {
	font-size:11px;
	color:#ff6600;
	font-weight:normal}

p.hlthw a strong{color: #2d88ac; }

p.hlthw a:hover strong{
	color: #2d88ac;
	text-decoration:underline;}

.intelihealth {
	font-family: verdana, arial, helvetica; font-size : 10pt; line-height: 1.1em; color: #000000;
    margin-top : .7em; margin-bottom : .7em;
    padding-left: 16px; padding-bottom: 4px; padding-right: 16px;}

p.intelihealth a {color: #333399; font-weight: bold;}

.quizglossary {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px; color: #515050;
    line-height: 16px;
    padding:0 0 0 12px;
    margin-top: 10px; margin-bottom: 2px;}

p.quizglossary {
	padding:0;
	margin:0;
	line-height:15px}

.quizglossary label font{
	font-size:13px}

.quizglossary a, p.quizglossary a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #2d88ac;
	margin:0;
	padding:0;}

.hlthw-tickercell  {
    font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
    color: #515050;
	font-weight: normal;
    padding: 2px 0 10px 0;
    background-color: #fff;
    margin-top: 8px;
	border-bottom:solid 1px #dcdcdc;}

.hlthw-tickercell a {
    color:#2d88ac;
	font-size:13px;
	font-weight: bold;
    text-decoration: none;
	font-style: italic;}

.cplineash {
    background-color: #FFF;
	background-image: none;
	background-repeat: repeat-x;}

.cplineash img{display:none}


ul#A0933936, ul#A0199811 {list-style:none;padding-left:0px}

/*---------------------------------------- HLTH-WEATHER.CSS-------------------------------------*/


/*---------------------------------------- ARCHIVE.CSS-------------------------------------*/
/* SPOTLIGHT ARCHIVE */
.sparchhead {font-weight:bold;font-size:18px;text-transform:uppercase;color:#339;}
.sparchtopcur {padding-top:6px;color:#000;font-size:10px;font-weight:bold;text-align:center;}
.spviewarchive {color:#515050;font-size: 13px;font-weight:normal;text-decoration:none;text-align:center;}
.sparchtoplink {padding-top:10px;color:#339;font-size:11px;font-weight:bold;}
.sparchtoplink a{padding-top:10px;color:#2d88ac;font-size:11px;font-weight:bold;text-decoration:none}
.sparchalpha {font-size:18px;font-weight:bold; color:#c33;padding-top:10px;}


.sparchalpha, h3.sparchalpha {border-top:solid 1px #dcdcdc;margin-top:20px;padding-top:10px;}
.sparchalpha a{font-size:18px;font-weight:bold; color:#2d88ac;padding-top:10px;text-decoration:none;}
.sparchalpha a:hover {text-decoration:underline}

.sparchline {background:#fff;}
.sparchline img{display:none}
.sparchcurrent {font-size:13px;font-weight:normal;color:#2d88ac;}

.sparchtopnav, .sparchbotnav, .sparchchannels1, .sparchchannels2 {color:#2d88ac;font-weight:normal;text-align:center; font-size:13px;margin:0;padding:0}

div.sparchtopnav a.sparchselected1, div.sparchbotnav a.sparchselected2 /*a .sparchselected1*/{font-size:13px;color:#515050;font-weight:bold;text-decoration:none;}

/*div.sparchtopnav a.sparchselected1 {font-size:14px !important;color:#000 !important;padding:-50px 0 10px -30px !important}*/

.sparchtopnav a:hover, .sparchtoplink a:hover {text-decoration:underline}

.sparchcattitle {font-weight:bold;}
.sparchfeattitle {padding-top:4px;font-weight:bold;}
.sparchfeatsubtitle {font-size:12px;}

.sparchalphalist {padding-bottom:3px;text-align:center;color:#515050;font-weight:normal;}
.sparchjump {color:#515050; font-size:13px}

.sparchxref {font-size:12px;}
.sparchlink {line-height:150%;}



/* IP ARCHIVE PAGES as of 10-05 (updated 12-06) */
div.arch-title { margin-bottom:18px; border-bottom:none;}
div.arch-title h1 { line-height:30px;padding:8px 0 8px 8px }
div.arch-title h1, div.arch-title h1 a { height:55px; background-position:0 0; background-repeat:no-repeat;}
div.arch-title h1 a { display:block; overflow:hidden;}
div.arch-title h1#ASKEDS span a{
	font-size:20px;
	color:#fff;
	text-align:left;
	font-weight:bold;
	margin:0;
	padding:0}
div.arch-title h1#ASKEDS span a:hover {text-decoration:underline}


#FEATURES { width:265px; background-image:url("/images/features_archivev4.gif");}
#QUIZZES { width:257px; background-image:url("/images/quizzes_archivev4.gif");}
#TIMELINES { width:282px; background-image:url("/images/timelines_archivev4.gif");}
#POLLS { width:197px; background-image:url("/images/polls_archivev4.gif");}
#XWORDS { width:324px; background-image:url("/images/xwords_archivev4.gif");}
#ASKEDS { width:382px; background-image:url("/images/askeds_archivev4.gif");}
#TOP10 { width:251px; line-height:60px; background-image:url("/images/topten_archivev4.gif");}
#TOP10, #TOP10 a { height:60px;}

table.arch-content { width:100%;}
table.arch-content td { vertical-align:top;}
table.arch-content h2, table.arch-content h3, table.arch-content h4 { margin:0; padding:0; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:13px; text-align:left;}

td.arch-features { width:62%;padding-right:10px}
td.arch-features h2 { padding:0;margin:0; color:#000;text-align:left;}
td.arch-features dl { margin-right:10px;}
td.arch-features dl dt { margin:14px 0 0; padding:0; font-weight:bold;}
td.arch-features dl dd { margin:0; padding:0;}
td.arch-features dl dd span { white-space:nowrap;}

div.A-feature { margin-right:10px; padding:2px; background-color:#fff;border-bottom:solid 1px #dcdcdc;}
div.A-feature dl { margin:0; padding:4px 0 8px;}
div.A-feature dl dt { margin-top:4px !important;}

td.arch-categories { width:38%;padding-left:10px;background-color:#f6fbfc;}
td.arch-categories p { padding:0 8px 8px;}
td.arch-categories div { background-color:#f6fbfc !important; border:none;}/*keep !important, cancels out inline styling in archive pages that I can't seem to remove*/
td.arch-categories h3 {padding:4px 5px 2px;color:#000; background-color:#f6fbfc;font-size:13px }
td.arch-categories h4 {padding:4px 5px 2px; margin:0;color:#000; background-color:#f6fbfc;font-size:13px}
td.arch-categories ul, td.list ul, ul.qlist { margin:0; padding:0; list-style:none;color:#dcdcdc;}
td.arch-categories ul li {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px;margin:0 0 6px 10px;}
table.qlist {width:100%;}
table.qlist td div.fr table {margin-top:-160px}


td.arch-categories form { margin:10px 0 10px 5px !important; padding:0;}
td.arch-categories form div {border:none;}
td.arch-categories form label { font-weight:normal;}
td.arch-categories form input { vertical-align:text-top;}
td.arch-categories form input#featureQuery { width:100px;}
td.arch-categories form input.goGREY { width:27px; height:19px;}


/* used mainly in Timelines */
.jumpList { font-family:Arial, Helvetica, sans-serif;margin:12px 0 32px; padding:8px 0; text-align:center; background-color:#f6fbfc; border:1px solid #dcdcdc;font-size:13px}
.jumpList fieldset { margin:0 auto; text-align:center;}
.jumpList label, .jumpList select { vertical-align:middle;}
.jumpList label { font-weight:bold;color:#515050}

#Pg .arch-linkList h2 { margin:0 0 6px 0; padding:10px 0 4px 15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-align:left; border-top:1px solid #dcdcdc;border-bottom:none}
#Pg .arch-linkList h2.pushMargin, #Pg .arch-linkList #arch-world {margin-right: 200px !important;}
#Pg .arch-linkList h2#arch-world {margin-right:0px !important}


.arch-linkList ul { margin:0 0 18px; padding:0; list-style:none;}
.arch-linkList ul li { background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px;margin:0 0 6px 10px;}
.arch-linkList ul li ul { margin:0; padding:5px 0 0;}
.arch-linkList ul li ul li { padding-left:10px;margin-left:15px}

.newFrom { color:#900; font-weight:bold;}


table.arch-sidebar { width:180px; margin-left:10px; float:right;border:solid 1px #dcdcdc;background-color:#f6fbfc;padding:10px 0}
table.arch-sidebar td { vertical-align:top;font-size:13px}
table.arch-sidebar form { margin:10px 4px 18px 18px; padding:0;}
table.arch-sidebar form label { display:block; padding-top:8px;}
table.arch-sidebar form input { vertical-align:text-top;}
table.arch-sidebar form input#fourdigit2 { width:94px;}

#Pg table.qlist tr td div.fr {background-color:#fff}
table.qlist td.list ul li, ul.qlist li {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;margin:0 0 10px 0px !important;}
div.question {padding-bottom:30px }

.lastForm {
	margin:18px 0;
	padding:10px 0;
	text-align:center;
	border-top:1px solid #dcdcdc}
.lastForm input#fourdigit3 { width:94px;}
.lastForm a {color:#2d88ac !important}

div.arch-top { display:block; font-size:11px; float:right;padding-top:10px !important}
div.arch-top a{color:#2d88ac}
/*---------------------------------------- ARCHIVE.CSS-------------------------------------*/


/*---------------------------------------- SPOT.CSS-------------------------------------*/
#fPACKREL dt {font-size:13px;color:#000}
#fPACKREL dd a {font-size:13px; color:#2d88ac}



/*bottom MORE ON bars*/
#Pg #fPACKMORE, #Pg .fPACKMORE, ul.fPACKMORE, ul #fPACKMORE {
    margin: 5px auto;
    padding: 6px 0 0 0;
	list-style:none;
	border:1px solid #dcdcdc;
	background-color:#F6FBFC;
    text-align: center;
    width: auto;
	font-weight:bold;
	font-size:13px;
	clear:both;}
#fPACKMORE li, .fPACKMORE li{background-image:none;font-weight:bold;margin:0}
#fPACKMORE a {color:#2d88ac}
#fPACKMORE a:hover {text-decoration:underline}

#APAmore, .more {
    background: none repeat scroll 0 0 #F6FBFC;
    border: 1px solid #DCDCDC;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 98%;
	font-weight:bold;
	font-size:13px;
	clear:both;
	font-family:Arial, Helvetica, sans-serif}
#APAmore a, .more a {
	color:#2d88ac;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif}


/*---------------------------------------- SPOT.CSS-------------------------------------*/


div.map_outline {
    border: none !important;
    text-align: center;}

td.shark {
	background-color : #f6fbfc;padding-bottom:10px;	}

td.desc {border-bottom:solid 1px #dcdcdc;padding-bottom:10px;}






/*------------------------------------BIOS.CSS-----------------------------------*/
#FEATURED p a {color:#2d88ac}

/*bio sidebar like "fRELATED" (http://dev.www.infoplease.com/biography/2008-deaths.html)*/
#Pg div.sidebar {
	width:180px;
	margin:10px 0 10px 10px;
	float:right;
	padding-left:10px;
	border-left:solid 1px #dcdcdc}

#Pg div.sidebar ul {
	margin:2px 0 2px 10px;
	padding:5px 8px 5px 10px;
	list-style:none;
	border-top:none;
	color:#515050 ;
	font-size:13px;}

#Pg div.sidebar ul li {
	font-size:13px;
	background:url("/images/grayBullet.gif") no-repeat;
	background-position:0 7px;
	background-size:3px 3px;
	padding:0 0 5px 10px;
	margin:0 0 6px -15px;}

#Pg div.sidebar h3, #Pg div.sidebar h4 { margin:0; padding:4px 4px 0 4px; font-size:13px;text-align:left;color:#515050}

#Pg div.sidebar #CATEGORY h3 {
	border:none;
	background:none;}



/*arts-entertainment index pg*/
#Pg table tr td.sidebar {padding-left: 20px;width:180px;}
#Pg table tr td.sidebar h3 {font-size:13px !important;color:#515050 !important}
#Pg table tr td.sidebar h4, ul.nestedlist li strong {color:#515050 !important}
#Pg table tr td.sidebar ul {margin:2px 12px 7px 10px !important; padding:8px 8px 8px 0 !important; list-style:none !important; border-bottom:none !important;border-top:none !important; color:#515050 !important; font-size:13px !important;}

td.sidebar ul li ul li{ font-size:13px !important; background:url("/images/grayBullet.gif") no-repeat !important;background-position:0 7px !important;background-size:3px 3px !important;padding:0 0 5px 10px !important;margin:0 0 6px -15px !important;}
ul.nestedlist li ul li b{color:#2d88ac !important; /*font-size:10px !important*/}
ul.nestedlist li ul li b a{color:#2d88ac !important;font-size:13px !important}


/*countries*/
table.countries{
	width:71%;
	float:left;}

table.countriesSide {
	float:left;
	width:29%;
	padding-left:15px;}

table.countriesSide h4{
	margin-top:0;}

table.countries td a {display:block;}

table.countries tr td {
	width:33%;
	padding:5px;
	background-color:#fff;
	border:solid #dcdcdc;
	border-width:1px 1px 0 0;
	vertical-align:top;}

table.countries tr td.letter {
	width:1%;
	font-weight:bold;
	text-align:center;
	background-color: #f6fbfc;
    border-left: 1px solid #dcdcdc;
    color: #515050;
    font-size: 13px;}

table.countries tr td.note {border-right:none;}

table.countries tr td.see {
	background-color: #f6fbfc;
    border-left: 1px solid #dcdcdc;
	font-style:italic;}

table.countries tr td.see a { display:inline;}

table.countries tr.fill td {background-color: #f6fbfc;}

table.countries a:hover {text-decoration:underline}
/*countries*/


form#Countries {margin-top:55px !important}
div.index {border-left:solid 1px #dcdcdc !important}
div.index h6 {font-size:13px !important;font-weight:bold !important;color:#000 !important;padding-bottom:3px !important}
div.index ul {list-style-type:none !important}
div.index ul li {font-size:13px !important; background:url("/images/grayBullet.gif") no-repeat !important;background-position:0 7px !important;background-size:3px 3px !important;padding:0 0 5px 10px !important;margin:0 0 6px -15px !important;
    list-style-image:none !important;}

/*#CATEGORY ul { padding-left:25px !important; list-style:disc !important; color:#a4a4a4 !important}*/
#CATEGORY ul li { padding-left:10px !important;}
#Pg div.ce6 {padding-top:30px ;margin-top:-40px;}
#Pg div.ce6 h1{
	background-color:transparent !important;
    background-image: none !important;
    color: #000 !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 20px !important;
    height: auto !important;
	display:compact !important;
    text-align: left !important;
	padding:-70px 0 0 0 !important;
    text-indent: 0 !important;
}

.spotData caption {
    border-bottom: 1px solid #dcdcdc !important;
    color: #000 !important;
	font-size:13px !important;
    font-weight: bold;
    padding: 0 0 4px;
    text-align: left;
}
#fCONTENT .spotData h4 {
    border-bottom:none !important;
    margin: 0;
    padding: 0 4px 4px 0 !important;
}
/*------------------------------------BIOS.CSS-----------------------------------*/


/*-----------2006olympics.CSS - totally removed styling from this file, located all here now-----------*/
#fCONTENT table td {
	vertical-align:top;}

#fCONTENT dl dd {
	margin:0; padding:0 0 8px;}

.dyk-winterolympics {
	display:none;}

.medalstandings, p.eventpreviewpage {
	font-family:Arial, Helvetica, sans-serif;}

.medalstandings {
	width:100%;
	margin:0 0 36px;
	border:solid 1px #dcdcdc;
	clear:both;}

.medalstandings caption {
	padding:6px 6px 6px 0;
	font-size:13px;
	font-weight:bold;
	color:#000;
	border-bottom:none}

.medalstandings caption, .medalstandings tr th {
	text-align:left;}

.medalstandings tr th, .medalstandings tr td {
	padding:10px 5px;}

.medalstandings tr th {
	padding-left:5px;
	font-size:13px;
	color:#000;
	vertical-align:bottom;
	background-color:#fff;
	border-top:1px solid dcdcdc;}

.medalstandings tr.evenrow td {
	background-color:#f6fbfc;}

.medalstandings tr td {
	vertical-align:top;
	background-color:#fff;
	border:solid #ccc;
	border-width:1px 1px 0 0;}

.medalstandings tr td.lastcell {
	border-width:1px 0 0;}

.medalstandings tr td a {
	display:block;
	font-size:13px;
	color:#2d88ac;}

.medalstandings tr td a:hover {
	text-decoration:underline}

#fCONTENT p.eventpreviewpage {
	position:relative;
	top:24px;
	margin:0;
	padding:0;
	float:right;}

#fCONTENT p.eventpreviewpage a {
	padding-right:25px;
	background:url("/images/PLN-next.gif") 100% 50% no-repeat;
	color:#2d88ac}

form.medalmenu {
	padding:10px 0;
	background-color:#fff;
	border:none;
	clear:both;}

form.medalmenu table {
	width:100%;}

form.medalmenu table td {
	width:50%;
	vertical-align:middle;}

form.medalmenu fieldset {
	margin:0;
	padding:0;
	border:none;}

form.medalmenu legend {
	font-weight:bold;
	color:#036;}

form.medalmenu label {
	display:inline;
	margin-bottom:5px;
	font-weight:bold;}

form.medalmenu select {
	margin-left:10px;}

form.medalmenu select option.choosesport {
	font-weight:bold;
	color:#000;}

form.medalmenu td.viewbycountry {
	padding-left:20px;}

form.medalmenu td.viewbycountry b {
	margin-bottom:5px;}

form.medalmenu td.viewbycountry a {
	margin-left:10px;
	color:#2d88ac}

table.medalstandings th#TOTAL {
	text-align:center;}

table.medalstandings td span {
	display:block;
	text-align:right;}

table.medalstandings td a {
	font-size:100%;}

table.medalstandings td.lastcell {
	text-align:center;
	font-weight:bold;}

table.medalstandings td {
	text-align:center;
	font-weight:bold;}
/*------------------------------------2006olympics.CSS-----------------------------------*/



/*---------------------------------------- SPOTSTYLES.CSS-------------------------------------*/

/* Package  Header Image Area / styles for features-spotlights */
#fPACKIMG {display:block;width:auto;margin:0 auto 5px auto;padding:0;text-align:center;}
#fPACKIMG a img {margin:0 auto 10px auto;display:block;border:none;}
#fCONTENT #fPACKIMG h1 {display:none;}
#fPACKIMG h2 {border-bottom:none;font-weight:normal;margin-top:0;font-style:italic}


#fCONTENT .inlineLinks ul{
	list-style:none}
#fCONTENT .inlineLinks li {
    border-right: 1px solid #666666;
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
	background:none}

ul li span {color:#515050 ;font-weight:bold}
#Pg #fCONTENT h3#previews, #Pg #fCONTENT h3#winners, #Pg #fCONTENT h3#Olympic, #Pg #fCONTENT h3#History, #Pg #fCONTENT h3#OlympicQuizzes {
	border-top:solid 1px #dcdcdc;
	padding:20px 0 0 0;
	margin:10px 0 0 0;}


/* Related Links Right Side Table */
table #fRELATED, div#fRELATED {
	width:180px;
	margin:8px 0 0 10px;
	padding:0 0 10px 10px;
	background:#fff;
	float:right;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	border:none}

#fRELATED td, div#fRELATED {
	border-left:solid 1px #dcdcdc;
	padding-left:10px;
	background-color:#ffffff}

td#Col2 div#fRELATED {
	margin-left:0;
	float:none}

#fRELATED h3, #fRELATED h4, #fCONTENT #fRELATED h4 {
	color:#515050;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#fff;
	border:none;
	border-top:none;
	border-bottom:none;
	margin:0;
	padding:10px 0 5px 0;
	font-size:13px;
	font-weight:bold;}




#fRELATED p {
	margin:0 0 10px 0 !important;
	padding:0 !important}

#fRELATED font {font-size:13px !important;color:#000 !important;font-family:Arial, Helvetica, sans-serif !important}
#fRELATED div {text-align:left;border-bottom: solid 1px #dcdcdc;padding-bottom:10px;margin-bottom:10px}

#fRELATED .FWpromo {border:none !important}

/*BRAIN POP in related links section 10/14*/
table#fRELATED td#BPpromoCell {padding:12px 0 6px;background:#fff;}
table#fRELATED td#BPpromoCell ul {margin:-30px 0 0 0;list-style:none;padding-left:8px;}



/*spot ad in right column*/
#fRELATED #spotAD, #spotAD {
	width:100%;
	margin:0 auto;
	padding:10px 0 ;
	text-align:center;
	background:#fff;
	border-left:solid 1px #dcdcdc;}

#fRELATED div#spotAD {border:none;border-bottom:none}

#fRELATED td tr td {border-left:none !important}
#fRELATED img{border:none !important; margin-bottom:10px !important}
#fRELATED dt {font-size:13px !important;color:#000 !important}

/*bio spot in right column*/
#fRELATED div.BotD {padding:0 0 20px 0;}
#fRELATED div.BotD dl {text-align:center}
#fRELATED div.BotD img {float:right;margin-top:0}


/*national poetry month side bar*/
#fRELATED h4 cite {
	display:block;
	font-size:11px;
	font-weight:normal;}
#fRELATED h4 cite a {font-size:11px;}



/*related links at bottom of page*/
#Pg #fRELATED-BTM { width:100%; margin:15px 0;padding:10px 0;border-top:solid 1px #dcdcdc !important;}
#Pg #fRELATED-BTM td { vertical-align:top;}
#Pg #fRELATED-BTM td#spotAD { width:140px; text-align:right;}
#Pg #fRELATED-BTM h4 { margin:0; padding:10px 0 4px 4px; font-weight:bold; color:#515050;background-color:#fff !important;}
#Pg #fRELATED-BTM ul {margin:4px 0 10px 0; padding:0;text-align:left;list-style:none}
#Pg #fRELATED-BTM ul li {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;margin:0 0 6px 5px !important;}
#Pg #fRELATED-BTM ul li a:hover {text-decoration:underline !important}
#fRELATED-BTM li cite.citeFM { font-size:85%; color:#306;}

div.contentCite {border-top:solid 1px #dcdcdc;padding:10px 0;}
div.contentCite li {font-size:11px;margin-left:0}




/*timelines*/
td.year, th.year{
    background-color: #cccccc;
    color: #515050;
    font-size: 14px;
    font-weight: bold;
	text-align:center;}

td.year p {	font-size:13px;font-weight:bold;}

td.events {
    background-color: #f6fbfc;
    font-size: 13px;}


#COUNTRY-ALPHA ul {list-style:none !important;margin:5px 0 0 0 !important}
ul#COUNTRY-ALPHA li ul {padding-left:10px !important}
#COUNTRY-ALPHA li {background:none !important;}
#COUNTRY-ALPHA li b {color:#515050 !important; margin-left:0px !important}/*2006olympics.css*/
#COUNTRY-ALPHA li ul li a {color:#2d88ac !important;background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;margin:0 0 6px 0 !important;}



#fCONTENT ul.bio-alpha li{background-image:none !important}
#fCONTENT ul.bio-alpha li ul li{
	color:#2d88ac !important;
	background:url("/images/grayBullet.gif") no-repeat !important;
	background-position:0 7px !important;
	background-size:3px 3px !important;
	padding:0 0 2px 10px !important;margin:0 0 6px 0 !important;}


#fCONTENT ul.ipListedRule li{list-style:none !important;border-bottom:none !important}
/*div#fPACKMORE ul {margin:0;padding:4px 0 0 0 !important;list-style:none !important;border-top:none !important;clear:both;text-align:left !important}*/





/*list code in main body that can't be generalized*/
ul.bulletList, .sectlist ul, ul.BULL {
	list-style:none;
	margin:2px 0 0 0;
	padding-left:0}

ul.bulletList li, #fRELATED ul.bulletList li, .sectlist ul li, ul.BULL li{
	color:#515050;
	background:url("/images/grayBullet.gif") no-repeat;
	background-position:0 7px;
	background-size:3px 3px;
	padding:0 0 2px 10px;
	margin:0 0 6px 0;
	text-align:left;}

ul.bulletList li a, ul.BULL li a {
	color:#2d88ac;}

ul.bulletIndentList {}

#fRELATED ol {
	padding:0 0 2px 10px;
	margin:0 0 6px 8px;}



.babyNames table caption {
    color: #515050 !important;
    font-size: 13px !important;
    font-weight: bold;
    margin: 0;
    padding: 0 0 4px;
    text-align: left;}
.fcsubhead {
    color: #515050 !important;
    font-family:Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
    font-weight: bold !important;
    margin-top: auto;}
/*---------------------------------------- SPOTSTYLES.CSS-------------------------------------*/


/*http://dev.www.infoplease.com/ipa/A0778285.html?redesign*/
#fCONTENT table.tableizer-table, table.tableizer-table {
	float:none;
	width:auto;
	border:solid 1px #dcdcdc;
	color:#515050}

table.tableizer-table tr td h4 {
	margin:0;
	padding:0}

tr.tableizer-firstrow th {
	color:#515050 !important; /* in html page, needs important to override */
	background-color: #f6fbfc !important; /* in html page, needs important to override */
	padding: 5px;
	font-weight: bold;}

table.tableizer-table td {margin:0}

#Pg div.center table.tableizer-table a:hover {text-decoration:underline !important}

/*spot/terrorism5.html and terrorism7.html*/
#bluebackground{
	background-color:#f6fbfc;
	border-top:solid 1px #dcdcdc;
	border-bottom:solid 1px #dcdcdc;
	padding:5px 10px;}

#whitebackground{padding:5px 10px;}




/*------------spot/science-procts----------*/
#fCONTENT dl.combo { margin-bottom:20px; padding-bottom:12px; border-bottom:1px dashed #ccc;}
/*------------spot/science-procts----------*/


/*--------------------------------------- YEAR BY YEAR PAGE ------------------------------------*/
.yxy ul {list-style:none;margin:0;padding:0}
.yxy ul li {margin:0 3px !important;border-bottom:none !important;font-family:Arial, Helvetica, sans-serif !important}
.yxy a {text-decoration:none}
.yxy a:hover {text-decoration:underline;}



#fCONTENT table.timeline {border:solid 1px #dcdcdc}



/*-------------*/

#Pg .titlepage h1.title, #Pg .titlepage h2.title{
	font-size: 20px !important;
    height: 30px !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    margin: 0 !important;
    padding: 8px 0 5px 0 !important;
	background-color:#fff !important;
	color:#000 !important}
#Pg div.section div.titlepage h2.title {font-size:15px !important;margin:0 !important; padding:5px 0 !important;height:15px !important;color:#515050 !important}
#Pg div.sect1 div.titlepage h2.title {font-size:13px !important;height:15px !important}
#Pg div.sect2 div.titlepage h3.title {font-size:13px !important;}


div.toc {margin-top:10px !important}
div.toc dl dt{background:url("/images/grayBullet.gif") no-repeat !important;background-position:0 7px !important;background-size:3px 3px !important;padding:0 0 2px 10px !important;margin:0 0 6px 0px !important;border-bottom:none !important;font-family:Arial, Helvetica, sans-serif !important}
div.toc dl dd {margin-left:0 !important;}
div.toc p, div.toc dl {margin-left:20px}
.navfooter hr {display:none;}
.simplesect .itemizedlist ul {list-style-type:none !important;margin-left:10px;padding-left:0}
.simplesect .itemizedlist ul li{background:url("/images/grayBullet.gif") no-repeat !important;background-position:0 7px !important;background-size:3px 3px !important;padding:0 0 2px 10px !important;margin:0 0 6px 0px !important;border-bottom:none !important;font-family:Arial, Helvetica, sans-serif !important}
.simplesect .itemizedlist p.title{margin:10px 0 5px 0;padding:0}

.simplesect h3.title, #Pg .simplesect h2.title {text-align:left;font-size:13px !important;padding:5px 0 !important;margin: 10px 0 0 0 !important;color:#000 !important;height:15px !important}
#Pg pre.poem {font-family:Arial, Helvetica, sans-serif !important;font-size:13px !important;line-height:17px !important;}


div.hctopichead {border-bottom:solid 1px #dcdcdc !important}
div.hctopichead a:hover{color:#515050 !important; text-decoration:underline !important}
.answers td a:hover{color:#515050 !important; text-decoration:underline !important}

#control div a {font-family:Arial, Helvetica, sans-serif !important;font-size:13px !important}

div.list a{font-family:Arial, Helvetica, sans-serif !important;font-size: 13px !important;}
.set {
    color: #515050 !important;
    font-family:Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
    font-weight: bold;}

table.center {background-color:#fff !important; }
table.center tr td {background-color:#fff !important;}
table.center tr td a font{color:#2d88ac !important;text-decoration:none !important}



/*-------------*/

/* Infoplease CSS base file for "screen" 1/2

Version:    ipbase.css - v1.1:01/04 - base styles, NS 4* and such
Author(s):  Laura Hayes, Karl DeBisschop, Sean Dessureau
Copyright:  Information Please (infoplease.com)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Infoplease CSS advanced file for "screen" 2/2

Version:    ipadvance.css - v2.1:01/04 - (most compliant browsers)
Relative:   ipbase.css - base styles, NS 4* and such
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#ipContentTable{
	border:solid #dcdcdc;
	border-width:0 0 0 0;}
#inside{
	max-width: 1000px;
	margin: 0 auto;}



/* NEW HEADER as of 02-05 ----------------------------------------*/
#ipHead {width:100%;border-top:1px solid #000;border-bottom:1px solid #6a86a4;}
#ipH-Logo, #ipH-FormDA {background:url("/images/05ip_BGstretch.png") 0 100% repeat-x #fef5cc;border-bottom:1px solid #6a86a4;}

#ipH-Logo {width:212px;padding:8px 8px 8px 4px;}
#ipH-Logo img {width:204px;height:45px;border:0;}

#ipH-FormDA {width:100%;vertical-align:top;height:45px;position:relative}
#ipH-FormDA form {top:0;position:relative}
#ipH-FormDA label, #ipH-FormDA dt, #ipH-FormDA dd, #ipH-FormDA div {font:bold 10px Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;}

#ipH-FormDA form {margin:0;padding:20px 0 0 18px;white-space:nowrap;}
#ipH-FormDA label {margin:0 2px 0 0;padding:0;font-size:11px;color:#036;}
#drop {vertical-align:middle;}
#q {width:126px;text-indent:2px;vertical-align:middle;}
#submit {width:68px;height:17px;margin:0 4px;vertical-align:middle;}
#ipH-FormDA a {margin:0 0 0 4px;padding:0;font-size:9px;}

#ipH-FormDA dl {margin:0;padding:3px 10px 0 0;font-size:10px;float:right;}
#ipH-FormDA dt {display:inline;color:#630;}
#ipH-FormDA dd {display:inline;margin:0;padding:0;}
#ipH-FormDA fieldset {padding:0}

#ipH-Tabs {background:url("/images/05ip_TabOFF.gif") 0 100% repeat-x #6a86a4;border-top:1px solid #fff;}
#ipH-Tabs ul {width:100%;margin:0;padding:0;}

#ipH-Tabs li {display:block;margin:0;padding:0;font:bold 11px "Lucida Grande",Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;text-align:center;background:url("/images/05ip_TabOFF.gif") 0 100% repeat-x;border-right:1px solid #fff;float:left;}

/* remove #listON after testing */
#ipH-Tabs a {display:block;margin:0;padding:3px 7px 5px;color:#fef4cc;text-decoration:none;float:left;}
#ipH-Tabs .selected a {display:block;color:#003;background:#fff url("/images/05ip_TabON.gif") 0 0 repeat-x;}
#ipH-Tabs a:hover {color:#900;background:url("/images/05ip_TabOVER.gif") 0 0 repeat-x;text-shadow:#ccc 0 1px 1px;}

.hide {display:none !important;}

/* LEFT NAV as of 03-05 -------------------------------------------------------*/
#ipNav {margin:0;padding:4px 8px 10px 8px;background:#eaf3f9;border-top:2px solid #cdd9e6;border-right:1px solid #7992ad;vertical-align:top;}
#ipNav a, #ipNav a:visited, #ipFoot a, #ipFoot a:visited {color:#2d88ac;text-decoration:none;}
#ipNav a:hover, #ipNav a:focus, #ipFoot a:hover, #ipFoot a:focus {color:#933;text-decoration:underline;}

#ipNav ul {margin:0;padding:0;list-style:none;}
#ipNav li {font-family:Arial,Helvetica,Verdana,sans-serif;font-weight:bold;font-size:95%;}
#ipNav li li {font-weight:normal;}

#ipN-Channels li {border-bottom:1px solid #d3e0ea;}
#ipN-Channels a {display:block;padding:2px 4px;}
#ipN-Channels a:hover, #ipN-Channels a:focus {background:#fff;text-decoration:none;}

#ipN-FM {background:url("/images/03ip_ICONfm.gif") 98% 6px no-repeat;}
#ipN-FM span {display:block;font-weight:normal;font-size:90%;line-height:110%;letter-spacing:.1em;}
#ipN-FM a {display:block;padding:6px 4px 8px;text-decoration:none;}
#ipN-FM span {color:#000;}
#ipN-FM a:hover, #ipN-FM a:focus {background:url("/images/03ip_ICONfm.gif") 98% 6px no-repeat #fff;text-decoration:none;}

#ipN-Xtras ul {margin:0;padding:6px 0;}
#edFavs ul {border-top:none;}
#edFavs ul li {font-weight:bold;text-align:left;list-style-type:none;}
#edFavs ul li ul{margin:4px 0 0 0;padding:0px 2px 0px -5px;text-indent:0px;list-style-type:none;color:#515050;}
#edFavs ul li ul li{background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px;margin:0 0 6px 10px;}
#edFavs ul li ul li a {font-weight:normal}
/*#ipN-Xtras li ul {padding:2px 0;border-top:none;}
#ipN-Xtras li li {margin-left:6px;padding:2px 0 2px 8px;font-size:85%;background:url("/images/03ip_BULbdot.gif") 0 45% no-repeat;}*/

#ipNav form {margin:12px 0;padding:0;vertical-align:middle;}
#ipNav fieldset {margin:0;padding:0}
#ipNav legend {display:block;padding:2px 0;font-size:95%;font-weight:bold;color:#930;}
#ipNav legend span {font-weight:normal;color:#000;}
#ipNav input {vertical-align:middle;}
#ipNav form a {display:block;padding:0 2px 4px;font-size:85%;}

#ipNav .text-allBTM, #ipNav .text-bioBTM {width:82px;}

#push-width {width:120px;height:1px;}

#ipN-Channels a.selected {color:#900;text-decoration:none;background:#fff;}

/* CONTENT -------------------------------------------------------*/
#contentTOP{padding:17px 10px;border-top:1px solid #CDD9E6}

#Wn, #Pg{width:100%}

#Pg a{
	color:#2d88ac;
	font-family:Arial, Helvetica, sans-serif !important; }/*keep important*/
#Pg a:hover {text-decoration:underline !important}/*keep important*/

td#Pg a:hover dl{text-decoration:none !important}
div.intro p a, #Pg div p a {color:#2d88ac;text-decoration:none;}

#Pg ul li ul li {list-style-type:none !important}


/*Year Pages   http://dev.www.infoplease.com/year/2010.html?redesign  */
/*table div font {font-size:40px}
table div font b a{font-size:13px}*/
ul.v2 {list-style:none;color:#515050;padding:0 !important;margin-top:2px !important}
ul.v2 li{background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;}
div.fr.v1 {
    margin: 5px 0 15px 15px;
    padding: 3px 3px 10px 13px;
    width: 50%;
	background-color:#f6fbfc !important;
	border:solid 1px #dcdcdc !important;
	font-size:13px !important}

.fr h3.v2 {color:#000 !important;font-size:13px !important}
#chronology div {color:#515050}

/* FEATURES */
.fcaption{font-size:9px;color:#000080;}

.fbody h4{margin-bottom:3px !important}
.fbody ul {margin:2px 0 2px 0 !important;padding:0 !important;list-style-type:none !important}
.fbody li{list-style:none;background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;color:#515050 !important;}
.fbody li img {margin-top:0 !important;margin-bottom:0 !important}
.fbody a{color:#2d88ac;}
/*duplicate here to study

p, div.fbody, #fCONTENT p{
	line-height:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#515050;
	text-align:left;
	margin:10px 0;
	padding:0}*/

div.fbody b a {color:#fff !important;} /*crosswords*/

span.fbody span {color:#515050 !important}

ul.fbody {list-style:none;color:#515050}

ul.fbody {margin:0 0 0 20px !important;padding:0 !important}/*spot.css*/

table #fRELATED ul.fbody {margin:0 !important;padding:0 !important;list-style:none;} /*related links side table*/



#Pg #fRELATED div.fsubhead{margin:8px 0 0 0;font-size:13px !important;color:#515050 !important;font-weight:normal !important;text-align:left;border-bottom:none !important}
div.fsubhead a span {color:#2d88ac !important}
div.fsubhead sup a{color:#ff6600 !important}

.femail{font-size:10px;}



/* SYNDICATED */
.timetravel{font-weight:bold;font-size:12px;text-align:center;}
.synddate, .syndhead{font-size:20px;font-weight:bold;color:#000;}
.sidebarheader{font-weight:bold !important;font-family:Arial, Helvetica, sans-serif !important;letter-spacing:normal !important;font-size:13px !important;}
ul.sidebartext{padding-top:6px;margin-left:0px !important;padding-left:0 !important;list-style:none !important}
ul.sidebartext li {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;}
li.sidebartext{padding:2px 12px;}
.sidebarsubtext{padding-top:8px;font-size:12px;color:#900;}


/*BIRTHDAY LIST   http://dev.www.infoplease.com/birthday?redesign*/
#BirthdayList {border: 1px solid #dcdcdc !important;background-color: #fff !important;}
#BirthdayList h4 {color:#515050 !important;background-color:#cccccc !important}
.sidebarsubtext {color: #515050 !important;font-size: 13px !important;padding-top: 8px;}

/*GAMES*/
td.games-weekly {border-left:solid 1px #dcdcdc}
td.games-weekly ul,
.games-revamp td table td dl dd ul {list-style:none !important;margin-left:2px !important;padding-left:2px !important}
td.games-weekly ul li,
.games-revamp td table td dl dd ul li{background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;}


/* YEAR BY YEAR PAGES*/
#yearHeader {margin-bottom:15px !important}
#yearHeader div {border:solid 1px #dcdcdc !important;background-color:#f6fbfc !important;color:#515050 !important;padding:10px 5px!important;}
#yearHeader div span b a, #yearHeader div span {font-weight:normal !important}

/* INDEX: SPACING BTWEEN BULLETS */
.bulletvspace{padding:3px 0;}

/* ANCHORS */
/* BANNERBEGIN: links that appear at the top of the page next to the IP logo */
a.toplink{font-weight:bold;font-size:9px;color:#309;}

/* AD: Vert.Google Stack,... */
div.advb {margin:12px 0 12px 12px;padding:0;float:right;clear:left;}

/* AD: Medium Rectangle */
div.admr {margin:12px 0;padding:0;text-align:center;}

/* DAILY ALMANAC PAGE */
a.dailylink, a:visited.dailylink {text-decoration:none;color:#000080;}

#Wn{padding-top:98px;position:relative;top:0;}

/*#lb {
    position:absolute;
    top:0;
    height:90px;
    width:1000px;
    margin:3px 0;
    padding:1px 0;
}
#lb .interior {width:768px; margin:auto}
*/
#ssky{width:160px;height:600px;overflow:hidden}
#gob{width:300px;height:250px;overflow:hidden}




table#dailyAlmanacTable td{background-color:#fff !important;padding:10px 0 }
table#dailyAlmanacTable h3 {margin-top:0 !important}
table#dailyAlmanacTable img {margin:0 20px 20px 0 !important}
div.almanacFeature{
	padding:5px;
	font-weight:bold !important;
	font-size:16px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	background-color:#2d88ac;
	color:#fff;
	text-align:left;
	}
div.almanacFeature a {color:#ffffff !important;font-size:16px !important}

/* FRONT PAGE CONTENT AREA */
a.today{color:#03c;}

/* RELATED LINK(s) */
a.related{color:#2d88ac}

/* index.html:top right box */
a.light{background:#f96;}
span.light{background:#f96;letter-spacing:1px;text-align:center;}

/* index.html for channels and spotlight title. big and orange. DO NOT PUT THIS INTO THE KIDS' STYLE SHEET! There's already a "channel" class in it. */
a.channel{font-weight:bold;color:#f96;font-size:11px;text-decoration:none;}

/* DAILY ALMANAC PAGE --------------------------------------------*/
.chan{color:#ffc;font-weight:bold;text-indent:6px;}
a.chan:link, a.chan:visited{font-size:16px;color:#fff;}
a.chan:hover{color:#f60;}
.chan2{color:#339;font-size:10px;font-weight:bold;text-indent:6px;text-decoration:none;line-height:120%;}
.chan3{color:#339;font-size:10px;margin-left:8px;text-indent:-6px;text-decoration:none;line-height:125%;}
.chanarchive{padding-top:15px;font-size:8px;font-weight:bold; margin-left:8px;text-indent:-6px;}
.chanrelated{color:#306;font-size:10px;font-weight:bold;text-indent:6px;line-height:120%;}

/* POLL STYLES */
.pollheader{font-size:16px;font-weight:bold;}
div.pollquestionstyle{padding:4px;font-size:16px;font-weight:bold;}
div.polloptionsstyle {margin-top:12px;padding:4px;}
.polloptionsstyle input {padding:4px;}
.pollseeresults{color:#306;font-size:11px;text-align:center;}
.pollrelatedinfo{color:#060;font-size:10px;font-weight:bold;text-align:center;}
.pollqlink {padding-top: 6px;}

/* REUTERS */
div.reuterslink{margin-left:3px;padding:6px 3px;text-align:left;line-height:125%;}
a.reuterslink{color:#306;}
.reutersmore{padding:0 0 6px;font-size:12px;font-weight:bold;}

/* FBTN and general syndicated features styles */
div.syndtype{margin:4px 0 2px 0;}
div.syndtype1{margin:0 0 2px 0;}
.syndtypelabel{color:#c33;font-size:12px;font-weight:bold;}
.syndwords{font-size:12px;}
.syndwords1{font-size:13px;padding-top:5px;}
.syndwords1 span {color:#515050 !important}
.fbtnheadline{font-size:13px;font-weight:bold;padding-top:5px;}
.fbtnheadline1{font-size:12px;font-weight:bold;padding-top:5px;}
.fbtnnewslink{font-size:12px;}
.fbtnhead{font-size:13px;font-weight:bold;}

/* FUNSTUFF PAGE */
.funlinks{color:#399;font-size:10px;}

/* QUIZ and ANALOGY */
.quiz{font-size:13px;font-weight:normal;}
.keyword{color:#ff6600;}
em.quizword{color:#c33;font-style:normal;}
.quizpron{font-size:12px;font-weight:normal;}
ol.quizdef{color:#666;font-size:10px;}
p.quizopt{color:#ccc;font-weight:normal;}
a.quizhint{color:#f60;}
p.quizhint{color:#f60;text-align:center;}
em.quizyes{color:#f60;font-style:normal;}
a.quizyes{color:#666;}
a.quizno{color:#666;}
p.quizcongrats{color:#090;}
p.quizsorry{color:#c33;}
p.quizrelated{margin:2em;color:#060;font-size:20px;}
.quizquestnum{font-weight:bold;color:#515050;}
a.spellhint{font-size:10px;}
div.spellhint{padding:15px 0 0 20px;font-size:13px;text-align:center;}


/* TOP TEN */
td div.ttnote{margin:5px 0 4px 0;padding:0;font-size:11px;color:#515050;text-align:left}
.ttintro{font-size:12px;}
.ttdaily{font-size:11px;font-weight:bold;text-align:center;}
.ttsubhead{font-size:11px;font-style:italic;text-align:center;}
.ttcontent{font-size:12px;}
.ttseealso{font-size:11px;font-weight:bold;}
.ttalsolink{margin-left:0;}

/* SEARCH PAGE */
.searchreturnedip{font-size:13px;padding:0 0 10px 0;}
.searchresultip{font-size:13px;}
.searchtitle{font-weight:bold;font-size:16px;}
.searchlink{padding:0 6px 0 0;}
.searchcontext{padding:0 0 4px 0;}
.searchdesc{font-style:italic;font-size:12px;padding:0 6px 20px 0;}

.searchpagenum{color:#999;}
.searchnumber{font-size:13px;font-weight:bold;}
.searchspell{font-size:10px;font-weight:bold;font-style:italic;}
.searchspelldym{font-size:12px;font-weight:normal;font-style:normal;padding:0 0 15px 0;}
.searchhead{padding:0 0 14px 0;color:#8E2F2B;font-size:20px;text-align:left;font-weight:bold;}
.searchhelp{text-align:right;font-weight:bold;}
.searchhelp a{font-size:10px;}
.searchterm{font-weight:bold;font-size:16px;color:#339;}

/* index.html and specfeat.html; the date, feature index, almanac index. small & orange *//* HUH? */
a.frontlink{color:#933;font-size:9px;font-weight:bold;text-decoration:none;}

/* TOOLS (bottom) */
#toolsbottom{padding:18px 0 4px 0;text-align:center;}
#toolsbottom img{padding:0 10px;}

/* FOOTER as of 02-05 -------------------------------------------------------*/
#ipFoot {padding:4px 8px;border-top:1px solid #7992ad;}

/* HighBeam BGimages as of 08-05 --------------------------------------------*/
#HBhead, #HBfoot { background-image:url("/images/04HB_dash.gif");background-repeat:repeat-x;}
#HBhead { background-position:0 100%;}
#HBfoot { background-position:0 0;}

/* Encyclopedia Related Links  -----------------------------------*/
#pLinks li span {display:none;}
#pLinks #amazon {background:url("/images/amazon_logo.gif") 0 1px no-repeat;}
#pLinks #google {background:url("/images/Google_logo.gif") 0 0 no-repeat;}
#pLinks #teachervision {background:url("/images/TVlogo-small.gif") 0 0 no-repeat;}
#pLinks #familyeducation {background:url("/images/FElogo-small.gif") 0 0 no-repeat;}

/* LEFT NAV -------------------------------------------------------*/
td.ipNAV {width:152px;font-size:12px;border-top:1px solid #CDD9E6;border-right:1px solid #7992ad;}

/* ALMANAC CHANNELS */
div.ipCHANTOP{padding-top:4px;border-top:2px solid #dbe6ef;}

/* SEARCH FORMS */
.ipTEXTIN{text-indent:4px;background:#fcfcf3;}
.ipBUTTIN{padding:0 2px 2px 0;width:27px;height:19px;border:none;vertical-align:middle;}

/* Linear Navigation (Pages Icons) */
.PageLinearNav .PLN-prev a {padding-left:26px; background:url("/images/PLN-prev.gif") 0 0 no-repeat;color:#2d88ac;}
.PageLinearNav .PLN-intro a {padding-top:14px; background:url("/images/PLN-intro.gif") 50% 0 no-repeat; color:#2d88ac}
.PageLinearNav .PLN-next a {padding-right:26px; background:url("/images/PLN-next.gif") 100% 0 no-repeat;color:#2d88ac}
.PageLinearNav .PLN-next a:hover, .PageLinearNav .PLN-intro a:hover, .PageLinearNav .PLN-prev a:hover {color:#2d88ac;text-decoration:underline;}

.PageLinearNav {width:100%;margin:0;padding:0;}
.PageLinearNav td, .PageLinearNav div {margin:0;padding:12px 0;font-size:12px;vertical-align:top;}
.PageLinearNav a, .PageLinearNav a {display:block;min-height:17px;color:#039;}

.PageLinearNav .PLN-prev, .PageLinearNav .PLN-next {width:33%;}
.PageLinearNav .PLN-intro {width:34%;font-weight:bold;text-align:center;}
.PageLinearNav .PLN-next {text-align:right;}

div.PageLinearNav.no-back {padding-left:33%}


/* FOOTER */
#footer{
margin:0;
padding:4px 0 4px 24px;
font-size:11px;
line-height:110%;
border-top:1px solid #cdd9e6;
background:url("/images/03ip_Logofooter.gif") left center no-repeat #fcfcff;}
#footer a, #footer a:visited{color:#fff !important;font-weight:normal;text-decoration:none;}
#footer a:hover{color:#fff !important; text-decoration:underline !important}

#FOOTER {font-size: 0.75em}

span.rssxml a, .rssxml a:visited {margin:0;padding:0 3px;font:bold 9px Verdana,sans-serif !important;color:#fff !important;text-decoration:none !important;border:1px solid;vertical-align:middle;background:#f60;border-color:#fc9 #630 #630 #fc9;cursor:default;}

.rssxml a:hover {color:#ccf !important;}

/* RELATED AMAZON TEXT LINKS */
/*#amazonSales {float:right;width:30%;margin:2em 0 1em 1em;border:1px solid #666;padding:0.3em;-moz-border-radius:10px;border-radius:9px;background:url("http://g-images.amazon.com/images/G/01/nav/amazon/amzn-logo-118w.gif") 5px 10px no-repeat;}*/
#amazonSales  {font-family:Arial, Helvetica, sans-serif;font-size:13px;}
#amazonSales h3 {margin:6px 0;padding:0;font:bold 1em Verdana,Arial,Helvetica,sans-serif;color:#c60;text-align:left;}
#amazonSales h3 {display:none}
#amazonSales h3 span {color:#000;}
#amazonSales ul {margin:0;padding:0;list-style:none;}
#amazonSales li {padding:4px 0 4px 22px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:13px;color:#515050 !important;background-position:0 3px;background-repeat:no-repeat;}
#amazonSales a {color:#2d88ac;}

#amazonSales .dvd
{background-image:url("http://g-images.amazon.com/images/G/01/icons/small-blue-dvd-icon.gif");}
#amazonSales .book
{background-image:url("http://g-images.amazon.com/images/G/01/icons/small-blue-books-icon.gif");}
#amazonSales .vhs, #amazonSales .video
{background-image:url("http://g-images.amazon.com/images/G/01/icons/small-blue-vhs-icon.gif");}
#amazonSales .music
{background-image:url("http://g-images.amazon.com/images/G/01/icons/small-blue-music-icon.gif");}
#amazonSales .videogames
{background-image:url("http://g-images.amazon.com/images/G/01/icons/small-blue-video-games-icon.gif");}

#tripadvisor {width:160px;margin:1px 0 0;padding:0;background:url("/images/BGroundcorners-btm.gif") 0 100% no-repeat #fff;border:solid #fff;border-width:1px 0 10px 10px;}
#tripadvisor p, #tripadvisor ul {border:solid #B3C77F;border-width:1px 1px 0;}
div#tripadvisor p {margin:0 !important;padding:2px 10px 6px 10px !important;font-size:95%;font-weight:bold;line-height:120%;}
#tripadvisor ul {margin:0 0 6px ;padding:0 10px 2px ;list-style:none;text-align:left !important;border-width:0 1px !important;}
#tripadvisor li {display:block;font-size:90%;padding:2px 0 4px;}
#tripadvisor a {text-decoration:none;color:#2d88ac;}
#tripadvisor a:hover, #tripadvisor a:focus {color:#2d88ac;text-decoration:underline;}
#tripadvisor a:visited {color:#2d88ac;text-decoration:none;}
#tripadvisor p span {display:block;margin:0 0 8px 0;font-size:75%;color:#666;font-weight:normal;border-bottom:1px solid #efefef;}

#tripadv2 {
 float:right;
 clear:none;
 margin:0 0 0 auto;
 width : 285px;
 border-top : 1px solid #dcdcdc;
 border-bottom : 1px solid #dcdcdc;
 padding : 2px;
 font-size : 13px;
 color:#515050 ;
 background-color : #f6fbfc;
}

h1.title{clear:both;width:520px;border:none !important}


/* LINK SPECIFIC: Page Tools as of 09-26-06 (alignment in ipbase.css) ----------*/
ul.pagetools.btm /*{display:none;}removes this entire bar off site redesign 10/16/12*/
  .pagetools.btm .cite a { background-image:url("/images/05ip_BTNcite.gif");}
  .pagetools.btm .print a { background-image:url("/images/05ip_BTNemail.gif");}
  .pagetools.btm .email a { background-image:url("/images/05ip_BTNhotwords.gif");}
  .pagetools.btm .hotwords a { background-image:url("/images/05ip_BTNprint.gif");}
  .pagetools.btm .bookmark a { background-image:url("/images/05ip_BTNbookmark.gif");}


/* LINK SPECIFIC: Dropdown List as of 09-26-06 (alignment in ipbase.css) ----------*/
  .pagetools.btm .icon.infoplease a {  border-top:none; background-image:url("/images/ip_favicon.gif");}
  .pagetools.btm .icon.furl a { background-image:url("/images/icon-furl.png");}
  .pagetools.btm .icon.delicious a { background-position:96% 50%; background-image:url("/images/icon-delicious.png");}
  .pagetools.btm .icon.digg a { background-image:url("/images/icon-digg.gif");}
  .pagetools.btm .icon.reddit a { background-image:url("/images/icon-reddit.png");}


/* BASICS --------------------------------------------------------*/
/*body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif !important;
	font-weight:normal;
	font-size:13px;
	color:#515050;
	background:#fff;}*/

div, p, td, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
line-height:normal}

div, p, td, ul, ol, li, dl, dt, dd {
	font-size:13px;}

p, div.fbody, #fCONTENT p{
	line-height:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#515050;
	text-align:left;
	margin:10px 0;
	padding:0}

p.center a{
	color:#2d88ac;
	text-decoration:none;}
p.center a:hover{text-decoration:underline}

td.sunmoonlight a.sunmoonlight {color:#fff;text-decoration:underline;}
/*title*/
.ref-title h1, #Pg h1, #Pg h1 a, #ipContentTable #Pg h1{
	background-image:none;
	background-color:#2d88ac;
	font-size:20px;
    text-indent: 0px;
	color:#fff;
	padding:8px 0 5px 4px;
	margin:0 0 10px 0;
	height:30px;
	width:auto;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	letter-spacing:normal;
	line-height:normal
	/*change height in bios.css*/}

/* table#ipContentTable td#Pg h1 for CIG pages: http://dev.infoplease.com/cig/weather/measuring-rain.html, but i think they should be black and a bottome-border*/
/*title*/
.ftitle, #Pg h1.ftitle, #ipContentTable #Pg h1.ftitle, #Pg h1.title, #Pg div#fCONTENT h1{
	font-size:20px;
	color:#000;
	text-align:left;
	font-weight:bold;
	background-color:#fff;
	margin:0;
	padding:0;
	height:auto;}

#Pg h1.ftitle a {
	font-size:20px;
	color:#000;
	text-decoration:underline;
	text-align:left;
	font-weight:bold;
	background-color:#fff;
	margin:0;
	padding:0}


/* COUNTRIES HEADERS and SUBHEADERS ----------*/
/*http://dev.www.infoplease.com/ipa/A0107292.html?pageno=5&redesign*/
/*http://dev.infoplease.com/ipa/A0004686.html*/
div#inside table#ipContentTable td#Pg h1.level1 {
	font-size:20px;
	color:#000;
	background-color:#fff ;
	padding:0;
	margin:0;
	text-align:center;
	line-height:25px;
	height:auto;}

/*http://dev.www.infoplease.com/ipa/A0108479.html?redesign*/
#ipContentTable #Pg h1.level3{  /*sub headers on Country main page, but main header on City Pages*/
	color:#000;
	font-size:15px;
	height:18px;
	text-align:left;
	background-color:#fff;
	padding:8px 0 0 0;
	margin:0;}

/*top 50 state headers http://dev.infoplease.com/ipa/A0108477.html*/
#ipContentTable #Pg h1#A0108479, #ipContentTable #Pg h1#A0931874, #ipContentTable #Pg h1#A0108481, #ipContentTable #Pg h1#A0108483, #ipContentTable #Pg h1#A0108485, #ipContentTable #Pg h1#A0108487, #ipContentTable #Pg h1#A0108490, #ipContentTable #Pg h1#A0108493, #ipContentTable #Pg h1#A0108498, #ipContentTable #Pg h1#A0302620, #ipContentTable #Pg h1#A0108501, #ipContentTable #Pg h1#A0108503, #ipContentTable #Pg h1#A0108505, #ipContentTable #Pg h1#A0108509, #ipContentTable #Pg h1#A0108513, #ipContentTable #Pg h1#A0108517, #ipContentTable #Pg h1#A0108520, #ipContentTable #Pg h1#A0108520, #ipContentTable #Pg h1#A0108523, #ipContentTable #Pg h1#A0108527, #ipContentTable #Pg h1#A0108531, #ipContentTable #Pg h1#A0108536, #ipContentTable #Pg h1#A0108539, #ipContentTable #Pg h1#A0108543, #ipContentTable #Pg h1#A0108546, #ipContentTable #Pg h1#A0108549, #ipContentTable #Pg h1#A0931883, #ipContentTable #Pg h1#A0108552, #ipContentTable #Pg h1#A0779254, #ipContentTable #Pg h1#A0108554, #ipContentTable #Pg h1#A0108558, #ipContentTable #Pg h1#A0108561, #ipContentTable #Pg h1#A0108564, #ipContentTable #Pg h1#A0108567, #ipContentTable #Pg h1#A0108570, #ipContentTable #Pg h1#A0108573, #ipContentTable #Pg h1#A0108575, #ipContentTable #Pg h1#A0108577, #ipContentTable #Pg h1#A0108580, #ipContentTable #Pg h1#A0108583, #ipContentTable #Pg h1#A0108588, #ipContentTable #Pg h1#A0108590, #ipContentTable #Pg h1#A0108593, #ipContentTable #Pg h1#A0108597, #ipContentTable #Pg h1#A0108600, #ipContentTable #Pg h1#A0108603, #ipContentTable #Pg h1#A0108606, #ipContentTable #Pg h1#A0108609, #ipContentTable #Pg h1#A0108613, #ipContentTable #Pg h1#A0108615, #ipContentTable #Pg h1#A0108617, #ipContentTable #Pg h1#A0108620, #ipContentTable #Pg h1#A0877666, #ipContentTable #Pg h1.tophead{
	color:#000;
	font-size:20px;
	height:30px;
	text-align:center;
	background-color:#fff;
	padding:8px 0 0 0;
	margin:0;}

#Pg h1.level2 {
	font-size:20px;
	color:#000;
	background-color:#fff;
	padding:8px 0 5px 0;
	margin:0;
	text-align:center}
/*.level3 {font-size:18px; color:#000;}*/

td span.level3 {  /*"Index" sub headers under these pages - the TD in html is aligned center*/
	font-size:15px;
	color:#000;
	padding:8px 0 0 0;
	margin:0;
	background-color:#fff;
	height:15px;
	font-weight:bold;}

h5.pagebreak {color:#000}

h3.level2 {
	font-size:13px;
	color:#000;}
	/*.level2 {font-size:22px; color:#000;}*/
/* COUNTRIES HEADERS and SUBHEADERS ----------*/

/*ipea headers with id's
not working: http://www.infoplease.com/ipea/A0154959.html, why?
*/
#Pg p#A0154959 b span.name {
	font-size:20px !important;
	color:#000 !important;
	text-align:left;
	font-weight:bold;
	background-color:#fff;
	margin:0;
	padding:0}

/*subtext descriptions*/
h2 {
	margin:5px 0 5px 0;
	padding:5px 0 2px 0;
	color:#000;
	border-bottom:solid 1px #dcdcdc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:left;
	background-color:transparent}

/*subtext descriptions*/
h2.description, .fsubtitle, #fCONTENT h2 /*fcontent h2 from spotstyles*/{
    border-bottom:none !important;
    color: #000000;
    font-size: 13px;
    font-style: italic;
	text-align:left;
	font-weight:bold;
	margin:3px 0 !important;}

/*subtext descriptions*/
#Pg h2.subtitle {
	text-align:center;
	margin-top:0;
	padding-top:0;
	border:none;}

h4, h5 {
	font-weight:bold;
	font-size:13px;
	color:#515050;
	margin:10px 0 5px 0;
	padding:3px 0;}

h4 a:link{color:#2d88ac;}

h3, div.fsubhead {
color:#000;
margin:10px 0 5px 0;
padding:0;
font-weight:bold;
font-size:13px}



/*bylines*/
#Pg h6, .fbyline, div.fbyline, p.byline, #fCONTENT .byline, td div.fbyline, #fCONTENT h6 {
    border-bottom: 1px solid #DCDCDC;
    color: #515050 !important;
    font-size: 11px !important;
    font-weight: normal;
    margin: 3px 0 10px 0;
    padding: 0;
    text-align: left;}
#Pg h6 a {
    font-size: 11px}

h6.list {font-weight: bold; color: #515050; font-size:13px;border-bottom:none;display: inline}

a, div, table tr td, table tr td font { font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:normal;}
/* HEADERS -------------------------------------------------------*/
/*h1, h2, .subhead {margin: 6px 0}
h1 {font-size:20px;}
h2 {font-size:20px;}
h1, h2, h3, .subhead {
font-family:Arial, Helvetica, sans-serif;
text-align:left;}
h1{
	background-color:#2d88ac;
	color:#fff;
	padding:5px 5px 5px 10px !important;}
h3, */
span.states {font-size:13px;font-family:Arial, Helvetica, sans-serif;color:#000 !important;}
h3.subtitle {margin:0;color:#333;}
h3.close, h4.close, h5.close, h6.close{margin-bottom:0}


/* SMALL ORANGE FONT TEXT*/
#HC-BOX ul li font b, p.tocentry font, dd font b, li.tocentry font b, ul li font b, .ff6600text, .orange {
	color:#F60;
	font-size:10px;
	font-weight:normal}

p.tocentry img {margin:0 5px !important}

/*CROSSWORD PAGES FONTS*/
table font {color:#515050;font-size:13px;font-family:Arial, Helvetica, sans-serif}
table font ul li {list-style:none ;background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px;margin:0 0 6px 0px;}


a:link {margin:0;padding:0;color:#2d88ac;font-size:13px;text-decoration:none;}
a:hover {color:#2d88ac; text-decoration:underline}
a:visited {color:#2d88ac}

a:link.whitelink, a.whitelink {color:#fff;text-decoration:none;}
a:hover.whitelink  {text-decoration:underline}
a:visited.whitelink {color:#fff;}



/*img {display:inline;border:none;}*/
div img {margin:5px;}
.HRred {display:none;}
ul li img {margin:0 5px !important}
hr {color:#515050;width:auto;border:solid 1px #dcdcdc;}
form {margin:0px;padding:0px}

.cc3333text, .red {color:#c33;}
/*.ff6600text, .orange {color:#f60;}*/
.green { color:#090;}
.large {font-size: 115%}
.hugee {font-size: 130%}


.fr {float:right;margin:10px}
div.fl {float:left;}
.fl {margin-right:10px !important;margin-bottom:10px;width: 430px !important}
.fl .blue p {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;margin:0 0 6px 0px;}
.fl .blue p a {color:#2d88ac !important}
.fl .blue h3 {background-image:none !important}

/*.small {font-size: 13px !important;border-left:solid 1px #dcdcdc !important;margin-left:490px !important;padding-left:10px !important;}*/
.small.finance {float:right !important;border-left:solid 1px #dcdcdc !important;padding-left:10px !important;margin-left:10px !important;width:180px !important}
.small h4{font-size: 13px !important; margin:0 0 5px 0 !important;padding:5px 0 0 0;background-color:#fff !important;color:#515050 !important}
.small p {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;margin:0 0 6px 0px;}
.small p a{color:#2d88ac !important}
span.small {margin-left:0 !important;padding-left:0 !important; border:none !important}

/*.PageLinearNav .PLN-intro a {background-image:none !important}*/

/*http://dev.www.infoplease.com/finance.html?redesign -- famly finance on fe, right bottom
.small ul {list-style:none !important}
.small li {background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px !important;margin:0 0 6px 0px;}*/

.tiny {font-size: 70%}
.bold {font-weight:bold}
.center {
	width:100%;
	text-align:center !important;
	padding:10px 0 !important;
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:13px !important}
.centered {
	margin:0 auto;}

.blugo/*,.grygo*/{font-size:80%;font-weight:900;padding:0px;margin-left:0.3em;vertical-align:baseline}
.blugo{background-color:#def;color:#128;border:2px outset #68e}
/*.grygo{background-color:#ccc;color:#000;border:2px outset #bbb}*/
.inDefWide{width:120px}

fieldset{border-width:0;border-style:solid;margin:0 ; padding:0}
fieldset label {font-size:13px !important;color:#515050 !important; font-weight:normal }
fieldset br {display:none !important}
fieldset p {margin:0 0 10px 0 !important; padding:0 !important}
.details ul li{color:#515050}
.details b {color:#515050}
/* LEFT NAV -------------------------------------------------------*/
.ipNAV {background:#eaf3f9;}


/* LAST UPDATED --------------------------------------------------*/

div.message.revdate {font-family:times, serif;font-style:italic;margin-top:-6px;margin-bottom:10px;font-size:11px;text-align:right;}


/* SGML ----------------------------------------------------------*/
/* BREADCRUMBS */


#Pg .context, .context.noindex{margin:-40px 0 0 0 ;padding:0 0 30px 0;font-size:12px;color:#2d88ac;/*width:490px*/width:100%;}
#Pg span.context.noindex{margin:-40px 0 0 0 ;padding:0 0 30px 0;font-size:12px;color:#2d88ac;/*width:490px*/width:100%;position:absolute;}

.context img, .context.noindex img {display:none !important}
#Pg noindex span.context{margin:-32px 0 0 5px !important}
.context a, .context a:visited{color:#2d88ac;text-decoration:none;}
.context a:hover{color:#2d88ac;text-decoration:underline}
div.ce6 div.breadcrumb {margin:0 0 0 0;;padding:0 0 30px 0 !important;/*width:490px*/width:100%;}
div.ce6 div.breadcrumb .context.noindex {padding-bottom:10px !important}

/* CE6 */
td.title{font-size:18px;font-weight:bold;color:#000;}
span.title{color:#515050;font-weight:bold;font-family:Arial, Helvetica, sans-serif}
.pron{font-size:12px;}
p.text, .text{margin-left:4px;font-family:Arial, Helvetica, sans-serif}
.sectlink{font-weight:bold;}
.sectlist li,.sectlist a{font-weight:bold;}
.poetry, .quotation{/* exception serifs */
font:10px bold Georgia,Palatino,"New Century Schoolbook","Times New Roman",Times,serif;
color:#366;}
.fnt{font-size:11px !important;text-align:left;color:#515050;}
.biblio{font-size:10px;}
.tablehead{text-align:center;margin-bottom:auto;color:#339;font-weight:bold;}


/*sources and picture captions*/
.source, #fCONTENT .c1, .caption, p.caption, #fRELATED p.caption, #fCONTENT p.imgCaption, #fCONTENT p.caption, #fRELATED div.caption {
	font-family:Arial, Helvetica, sans-serif;
	margin:5px 0;
	padding:0;
	font-size:11px;
	color:#515050;
	text-align:left;
	border-bottom:none;}

.source a, #fCONTENT .c1 a, .caption a, p.caption a, #fRELATED p.caption a, #fCONTENT p.imgCaption a {
	font-size:11px;
	color:#2d88ac}

#Pg p.source{
	margin: 5px 0 5px 3px;
	color:#515050;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif}

#Pg p.source a:link{
	margin: 5px 0 5px 3px;
	color:#2d88ac;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif}

#fCONTENT .c7{
	text-align:center}

#fCONTENT .c6 {
    color: #515050;
    font-size: 13px;
    font-weight: bold;}

#fCONTENT .c5{
	margin:3px;
	list-style-type:none}

#fCONTENT .c4{
	color:#fff;
	font-weight:bold;
	text-align:center;
	margin:0;
	padding:3px}

#fCONTENT .c3 {
    border-bottom: 3px dotted #dcdcdc;
    border-top: 3px dotted #dcdcdc;
    color: #515050;
    float: left;
    font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
    margin: 1em 2em 1em 0;
    padding: 1em 0;
    width: 150px;}

#fCONTENT .c2{
	float:left;
	font:bold xx-small verdana,arial,helvetica,sans-serif}
/*sources and picture captions*/


/* TABLE ELEMENTS */
col.even,.evenrow td {
	background:#eee;}

col.odd,.oddrow td {
	background:#dcdcdc;}

caption.heading {
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:#000;
	padding-top:1em;
	padding-bottom:0.15em;
	margin-left:auto;
	margin-right:auto}

thead td {
	font-weight:bold;
	background:#fff}

table.toc, div.toc, ul.toc, dl.toc, #fCONTENT .toc{
	margin:10px 8px 8px 0;
	background:#f6fbfc;
	border:1px solid #dcdcdc;}

table.toc{
	text-align:center;}

table.toc center img {
	float:right !important}

table.toc ul {
	list-style:none;
	padding:0;}

table.toc ul li {
	background:url("/images/grayBullet.gif") no-repeat;
	background-position:0 7px;
	background-size:3px 3px;
	padding:0 0 2px 10px;
	margin:0 0 6px 0px;
	text-align:left;}

div.toc p b {
	margin-left:10px}

div.toc-single {
	padding:20px 50px;
	display:table}

div.toc-single p {
	padding:0;
	width:auto}

ul.toc{
	list-style-type:none;
	padding:1em}

dl.toc{
	padding:1em}

div.part div.toc p, div.book div.toc p {background:none !important;}
div.book div.toc dl {margin-top:0 !important}
div.book div.toc dl dt{font-size:13px;height:16px !important;background-position:0 14px !important;margin:0 0 6px 0px !important;}

div.book div.toc dl dt span.plus, div.part div.toc dl dt span.plus {display:none !important;}
div.book div.toc dl dt span.part, div.part div.toc dl dt span.article {text-transform:uppercase !important;}


.geosum{
	margin:0 12px 10px 0;
	background:#fff;
	padding:10px;
	border:solid 1px #dcdcdc;
	float:left}

.graphseg{
	padding:0 8px 8px 8px;}

.graphseg img{
	text-align:center;
	padding:0;}

a h3.tabletitle{
	text-align:left;
	text-decoration:none;}/* problematic */

.sgmllist td{padding:4px;}

.sgmltable{text-align:left;background:#fff;border:solid 1px #dcdcdc;border-collapse:collapse;padding:0;margin:10px auto 0 auto!important;}
.sgmltable.narrow{margin:0 !important}
.sgmltable th,.sgmltable td{padding:5px;border:solid 1px #dcdcdc;}
.sgmltable th{text-align:left;vertical-align:bottom;background:#fff;}
.sgmltable td{vertical-align:middle;line-height:125%;}
.sgmltable tr td {color:#515050}
#Pg div.center a:hover {text-decoration:underline !important;}
#Pg div.center a table.sgmltable tr th {color:#515050 !important;}
#Pg div.center a table.sgmltable tr td a:hover{color:#2d88ac !important;text-decoration:underline !important}

.sgmltable pre {font-family:Arial, Helvetica, sans-serif !important;font-size:13px !important}

/* PARAGRAPHS */
p.subtitle{padding:0 0 4px;font-weight:bold;}
/*p.tocentry {margin-bottom:10px !important}
p.tocentry a{color:#2d88ac;text-decoration:none; padding:0 0 4px 10px}*/
p.tocentry span {color:#2d88ac !important}
ul li a .small, p.tocentry .small {font-size: 10px !important;border:none !important;margin:0px !important;padding:0px !important;}
/*a:visited{color:#2d88ac;text-decoration:none;}*/
.toc p {color:#2d88ac;text-decoration:none;background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 5px 10px !important;}
.toc p a{margin-left:0px !important;}
table .toc td h3 { font-size:13px !important; color:#515050; }
.tocentry a:hover, .toc p a:hover{text-decoration:underline;color:#2d88ac}
.weblink{font-size:12px;}
ol li {background:none;}

ul.chaptertoc {list-style:none !important;margin:0 0 0 20px;padding:0}
ul.chaptertoc li{background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 4px 10px;margin:0 0 6px 0;}

/* DEFINTION TEXT: used in HEADLINE HISTORY */
dd{font-size:12px;margin:3px 0 5px 0;}

/* STATE SYMBOLS PAGE */
.mainstatesymbols { padding:0 0 5px 5px;}
.statesymbols { font-size:10px;}
.stateprofilelink { font-size:12px; font-weight:bold;}

.statesymbol { width:100%; border:solid #ccc; border-width:1px 0 0; border-collapse:collapse;}
.statesymbol th, .statesymbol td { padding:5px;}
.statesymbol th { width:20%; background-color:#efefef;}
.statesymbol td { vertical-align:top; line-height:130%;}
.otherstatesymbols { padding:10px 5px !important; font-size:85%;}

/* SPANS */
.v2, li.a2{padding:4px 24px;font-size:13px;color:#515050;line-height:16px}
.v1, .a1{padding:4px 12px;font-size:13px;}
.date{color:#333;}
/*.name{line-height:125%;}*/

/* NAV BUTTON TEXT */
#HCbound table td#HCint font table.navbutton tbody tr td.navbutton {border:none !important;background-color:#fff !important;}
.navbutton{font-size:12px;clear:both;}
.navbutton td.navbutton a, table.navbutton td.navbutton a p, table.navbutton td.navbutton a font{color:#2d88ac;text-decoration:none;text-align:center;}
.navbutton a:hover {text-decoration:underline;}
.navon {background:#FFCE00;}
.navoff{background:#FFF;}
td.black {background:#000;}

/* BEREFT of ADORNMENT */
span.rm{font-weight:normal;font-style:normal;text-decoration:none;}

/* CAPTIONS (graphic-related elements) */
.graphictitle{font-size:11px;text-align:center;color:#000080;}

div.contrib{font-size:10px;color:#69c;}
div.contribinfo{font-size:10px;color:#00f;}
span.sc{font-size:70%}

/* FOOTNOTE */
div.fnt {font-size:11px;text-align:left;color:#515050;margin:4px 0;}
div.fnt a:link{color:#2d88ac;text-decoration:none;}
div.fnt a:hover {text-decoration:underline}
div.note, div.note a{margin:4px 0;font-size:11px !important;text-align:left;}
div.gpara{font-style:italic;font-size:11px;}
div.gtitle {font-size:13px;font-weight:bold;}
div.gsource{font-size:11px !important;color:#515050 !important;}
div.gcaption {font-weight:bold !important}


/* "SEE ALSO" */
table.see {width:100%; }

div.see {
	font-size:13px;
	width:auto;
	padding:10px 2px 10px 20px;
	margin:30px 4px 6px 0;
	background:#f6fbfc;
	border:solid #dcdcdc;
	border-width:1px 0;
	color:#000;
	font-style:italic;
	clear:both;
	text-align:left;}

div.see div ul, table.see ul, div.see ul {
	margin-top:2px 0 2px 0;
	padding:0;
	list-style-type:none;}

div.see div li, table.see li, div.see li{
	background:url("/images/grayBullet.gif") no-repeat;
	background-position:0 7px;
	background-size:3px 3px;
	padding:0 0 2px 10px }

div.see ul a{
	color:#2d88ac;
	text-decoration:none;}
/* "SEE ALSO" */




/* FOOTNOTE REF */
sup.fnr, .smOrng{font-size:11px;color:#ff6600;font-weight:normal}

/* LIST FORMATTING */
ol.NOBULL{list-style-type:none;}
ul.NOBULL, ul.nobull{list-style-type:none !important;}
ul.nobull{list-style-type:none;margin-left:10px !important;padding-left:0 !important}
ul.nobull li /*{background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px ;padding:0 0 2px 10px;margin:0 0 6px 0 !important}*/

#Pg dl dt a{color:#2d88ac;font-weight:bold !important;margin:10px 0 0 0;}
#Pg dl dt {font-weight:bold !important;color:#515050;margin:10px 0 0 0; }

.NOBULL li{padding:0 0 6px 0;}
.NOBULL dd{padding-bottom:8px;font-size:13px;color:#333;}
ul.nobullets li {background-image:none !important}

/* PRINT PAGE  ---------------------------------------------------*/
.printhead {font-size:10pt;}
.printfoot {font-size:10pt;}
.printnow {font-size:10pt;font-weight:bold;}
.printcontentlink {font-size:11px;font-weight:normal;font-family:Arial, Helvetica, sans-serif}

/* Spotlight Footer  ---------------------------------------------*/
#spotFoot {margin:10px auto;padding:0;text-align:center;}
#spotFoot li {display:inline;margin:0;padding:0 8px;font-size:90%;font-weight:bold;border-right:1px solid #000;}
#spotFoot li#navLast {border:none;}

#spotFootDYK {margin:12px auto;padding:4px 8px;background-color:#f6fbfc !important;}
#spotFootDYK dt {color:#515050 !important;}
#spotFootDYK dt, #spotFootDYK dd, #spotFootDYK dd a {display:inline;margin:0;padding:0;font-size:13px !important;font-weight:normal !important}

/* Encyclopedia Related Links  -----------------------------------*/
.relContent {
	margin:12px 0 0 4px;
	padding:0;
	clear:both;
	text-align:left;}
.relContent h4 {margin:0 0 4px;padding:4px 0 0;font-size:13px;font-weight:bold;color:#515050;}
.relContent h4 em {font-style:normal;color:#515050;}
.relContent p {margin:0;padding:0 0 12px 0;border-bottom:1px dashed #dcdcdc;}
.relContent ul {margin:0;padding:0;list-style:none;color:#515050;font-size:13px}
.relContent li {
	background:url("/images/grayBullet.gif") no-repeat;color:#515050;background-position:0 7px;background-size:3px 3px ;padding:0 0 2px 10px;margin:0 0 6px 0 !important
		/*margin:0 !important;padding:4px 4px 4px 0;font-size:13px;color:#515050;*/}
.relContent li a {color:#2d88ac;font-weight:normal;font-size:13px;}
.relContent ul#pLinks #google br {display:none;}
#pLinks {margin:0;padding:0;list-style:none;font-size:110%;}
#pLinks li {min-height:22px;margin:4px 0 0 12px;padding:0}

/* Logo BGimages in ipadvance.css */
#pLinks #amazon {padding:0 0 5px 114px;}
#pLinks #ebay {padding-left:114px;}
#pLinks #google {padding:4px 0 9px 114px;}
#pLinks #collarity {padding:4px 0 9px 114px;}
#pLinks #familyeducation {padding:0 0 5px 114px;}
#pLinks #teachervision {padding:0 0 20px 114px;}

/* HighBeam Code as of 08-05  ------------------------------------------------*/
#HBpromo { margin:18px 0;font-family:Verdana,Arial,Helvetica,sans-serif;}
#HBpromo fieldset {margin:0;padding:0;border:0;}
#HBpromo legend { font-size:9px;color:#666;}

#HBpromo label { font-size:95%;font-weight:bold;color:#036;}
#HBpromo input { font-size:95%;vertical-align:middle;}
#HBpromo #field1 { width:148px;margin:0 5px;}

#HBhead { min-height:35px;padding:5px 5px 10px;font-size:95%;background-color:#fff0dd;border-top:1px solid #999;}
#HBhead img { width:115px;height:32px;float:left;}
#HBhead div { padding:5px 0 !important;}
#HBhead div, #HBhead p { margin:3px 0 0 135px;padding:0;color:#036;}
#HBhead p span { display:block;color:#c00;}
#HBhead #field1 { width:120px !important;margin:0 5px 0 0 !important;}

#HBbody { padding:0 10px;background-color:#fffaf6;}
#HBbody p { margin:0;padding:5px 0;font-size:95%;}
#HBbody td { padding:0 0 5px;text-align:center;vertical-align:top;}

#HBfoot { padding:13px 5px 10px;text-align:center;background-color:#fff0dd;border-bottom:1px solid #999;}
#HBfoot p { margin:0;font-size:90%;font-weight:bold;color:#036;}

.source#HBsource { padding-top:2px;color:#b0b0b0;font-size:10px;text-align:center;}

/* -----------------------------------------------------------*/
.promo {width:166px;margin:0 0 0 14px;padding:0;}
.promoBuy {font-size:12px;color:#900;clear:both;}
.promoBuy a {font-size:12px;}

.sourceLine {margin:0;padding:4px 0 0;border-top:1px solid #ccc;clear:both}
.sourceLine p {margin:0;padding:2px 0;font-size:10px !important;color:#666;}

/* ADS -----------------------------------------------------------*/
#adlead {height:94px;vertical-align:top;}
/*#mktplace{
	width:160px;
	margin:0;
	padding:15px 5px 0;
	border-top:1px solid #cdd9e6;
	border-left:1px solid #7992ad;
	text-align:center;
	vertical-align:top;
	text-align:left}
#mktplace{width:320px;padding:10px}*/

#mktplace ul, #mktplace div {padding-right:0;margin-right:0}

#mktplace .list { clear:none;text-align:left;width:112px; margin:10px 0; padding:6px; list-style:none; border:1px solid #cdd9e6;}
#mktplace .list li { margin: 0; padding:0 0 3px 0; list-style:none;}
#mktplace .list li ul { margin:4px 2px 0; padding:0; list-style:none;}
#mktplace .list li li { padding:2px 6px; font-size:11px;}

#mktplace {
	width:300px;
	padding:10px 5px 10px 5px;
	border-top:1px solid #cdd9e6;
	border-left:1px solid #cdd9e6;
	vertical-align:top;}
#mktplace div img {margin:0}
#ssky {margin:10px 0; float:right}
#gob {margin:0;padding:0}

/* TEXT Links (BGimage located in ipadvance.css) */
#adMktPlace {margin-top:8px;clear:both;text-align:center}
#adMktPlace h6 {border-top:1px solid #999999;border-bottom:1px solid #999999;color:#999999;background-color:#ffffff;text-transform:uppercase;margin:0}
#adMktPlace ul {margin:0;padding: 0;list-style:none;}
#adMktPlace li {padding:8px 8px 10px;font-size:11px;border-bottom:1px dashed #999;}

#adMktPlace a, #adMktPlace a:visited {color:#000;}
#adMktPlace a:hover, #adMktPlace a:focus {color:#900;}

#mktplace .adHeadline{color:blue}
#mktplace .adText{text-decoration:none;color:black}

/* Amazon Text Links */
#AmazonText {margin:12px 0 0;padding:2px 8px;border:solid #000;border-width:1px 0;background:#ffd;clear:both;}
#AmazonText h5 {margin:0;padding:0;font:bold 145% "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif;line-height:100%;text-align:center !important;}
#AmazonText h5 span {font-weight:normal;}
#AmazonText p {margin:0;padding:2px 0 4px;font-size:11px;line-height:100%;text-align:justify !important;}
#AmazonText a {color:#000;text-decoration:none;}
#AmazonText a:hover {color:#b14646;}


span.tooltip {border-bottom:1px dotted #000; cursor:help;}




#Pg li {margin-bottom:6px;}
ul.bull {margin:2px 0 2px 10px !important;padding:0 !important;list-style:none !important}
.bull li{background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px;margin-bottom:6px;}

ul.stateLists {list-style:none;float:right;width:312px;padding-left:0 !important;margin-top:0 !important}
ul.stateLists li{background:url("/images/grayBullet.gif") no-repeat;background-position:0 7px;background-size:3px 3px;padding:0 0 2px 10px;margin-bottom:6px;}


.feeds {width:100%; margin:10px auto; text-align:center;}
.feeds a {padding:2px;}
.feeds img {vertical-align:middle;}


/* PAGE TOOLS as of 09-26-06 ----------*/
ul.pagetools.btm, #Pg ul.pagetools.btm {margin:12px 0 6px; padding:8px 0 !important; list-style:none !important; text-align:center; border:solid #dcdcdc; border-width:1px 0;font-family:Arial, Helvetica, sans-serif}
.pagetools.btm li, .pagetools.btm li ul {display:inline;background:none !important}

.pagetools.btm li {font-family:Arial, Helvetica, sans-serif;font-size:10px; font-weight:normal; text-transform:uppercase;margin:0 5px !important}

.pagetools.btm ul ul {margin:0; padding:0; list-style:none;}
div#pagetools{width:20px;height:15px;display:block;overflow:hidden;float:left;margin:2px 2px 0 3px;}
div#pagetools img{display:none;}
/* PAGE TOOL LINKS ----------*/
.pagetools.btm li li {position:relative; z-index:2; padding:0 8px; border-left:1px solid #ccc;}

.pagetools.btm li li a, .pagetools.btm li li a:visited {color:#515050; text-decoration:none;}

.pagetools.btm li li a {padding-left:15px; background-position:0 0; background-repeat:no-repeat;}


/* LINK SPECIFIC: Page Tools (images in ipadvance.css) ----------*/
.pagetools.btm .cite {border-left:none;}
.pagetools.btm .archive a {padding-left:0;}


/* DROPDOWN LIST ----------*/
.pagetools.btm li li ul {position:absolute; left:-5000em; width:180px; margin:12px 0 0 -128px; padding:4px; text-align:left; background-color:#fff; border:1px solid #dcdcdc;}

.pagetools.btm li li li {padding:0; font-weight:bold; text-transform:none; border-left:none; float:left; overflow:hidden;}

#BOOKMARKS a {display:block; margin:0; padding:5px; line-height:16px; background-position:98% 50%; background-repeat:no-repeat; border-left:0; border-top:1px solid #dcdcdc;}


/* LINK SPECIFIC: Dropdown List (images in ipadvance.css) ----------*/
#BOOKMARKS a:hover {background-color:#ffc;}


/* MOUSEOVER DECLARATIONS ----------*/
#BOOKMARKS:hover ul, .pagetools.btm .over ul {left:0;}
#BOOKMARKS li {float:none;}


/* SGML HEADERS ----------*/
.level6 {font-size:large; padding-top: 1em; padding-bottom: 1em; color:#000;}
.tophead {clear:both}

.cols2 li {width:48%;float:left;display:block-inline}


/* TutorVista in Marketplace --------*/

.tutIP-infoarea {
			width:125px;
			border:solid 1px #666666;
			text-align:center;}

.tutIP-infoarea div, .tutIP-infoarea table {
			font-family:arial;
			font-size:12px;
			color:#000000;}


.tutIP-infoarea h1, .tutIP-infoarea h2 {
			margin:0;
			padding:0;}

.tutIP-infoarea h1 {
			color:#E57600;
			font-size:20px;
			}
.tutIP-infoarea h2 {
			font-size:16px;
			color:#E57600;}

.tutIP-infoarea .txtare {
			font-weight:bold;
			font-size:11px;
			width:98%;
			height:40px;}

.tutIP-infoarea a:link, .tutIP-infoarea a:visited {
			color:#2d88ac;
			text-decoration:none}

.tutIP-infoarea a:hover, .tutIP-infoarea a:active {
			color:#0060ff;
			text-decoration:underline}

.tutIP-infoarea table img {padding-top:5px;padding-right:5px;}
.tutIP-infoarea td {text-align:left;}
.tutIP-infoarea .tutfoot {text-align:left;padding-top:5px;font-size:11px;}




/*NAVIGATION FROM PAUL IPBASE09.CSS*/
body {
	margin:0;
	padding:0;
	/*background:#fff url(/images/ip-repeat.jpg) repeat-x;*/
	text-align:center;
	position:relative;
	overflow-x:hidden;
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#515050;}

#header, #page-wrap, google_ads_div_IP_home_728x90_ad_wrapper {
	width:auto;
	margin:auto;}

#wrapper {
	width:1000px;
	margin:0 auto;
	background:#fff;}

#page-wrap {
	clear:both;
	text-align:left;
	margin-top:8px;	}


.bannerad div {
  margin: 0 auto;
  text-align: center;
  min-height:90px;}

#logosearch {
	vertical-align:middle;
	width:1000px;
	margin:0 auto;}

h3#iplogo a {
	display:block;
	margin:0 0 10px 0;
	padding:0;
	background: url(/images/ip12-logo.png) no-repeat 0 0;
	width:218px;
	height:58px;
	float:left;
	text-indent:-9999px;}

div#logosearch img {
	margin:0 !important;}

#logosearch ul.logolinks {
	float:left;
	display:inline;
	list-style:none;
	/*padding-top:20px;*/
	margin:20px 0 0 16px;
	padding:0;	}

#logosearch .logolinks li {
	float:left;
	padding-right:12px;	}

#logosearch .logolinks li a {
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color:#000 !important;	}

#logosearch .logolinks li a:hover {
		text-decoration:underline;}

#logosearch #search{
	float:left;
	margin-top:5px;
	padding-top:2px;
	vertical-align:middle;}

#logosearch input#q {
	height:26px;
	width:205px;
	border:1px solid #969696;}

#logosearch input.srch-submit, input.search-btn, .calculate form input#submit, .calculate form input#reset, div.calendarforms input.submit, input.submit, input.blugo, input.grygo, input.goBTNimg, form p input.submit{
	cursor:pointer;
    border: 1px solid #bcbcbc;
    border-radius: 6px 6px 6px 6px;
    color: #000;
	font-size:11px;
    height: 27px;
    padding: 0 5px 3px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #dfdfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%,#dfdfdf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%,#dfdfdf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%,#dfdfdf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
}
.search-btn, #ipHome #HPyearbyyear .submit, .submit, .calculate form input#submit, .calculate form input#reset {margin:0 5px}

input.blugo {font-weight:normal !important}

/*encyclopedia go button*/
input.goBTNimg , form p input.submit, input.grygo, input.submit{
    height: 25px !important;}

/*homepage yxy Go button*/
#ipHome input.search-btn {
	margin-top:3px;
	height:25px}

/*brewers dictionary button*/
.ref-body input.search-btn {margin-left:5px !important;margin-top:3px !important;height: 25px !important;}

/*entertainment button*/
.cpiconpad div input {margin-top:6px;}
.cpiconpad div input.submit {margin-top:-3px !important;height:25px !important}

#topnav:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;}

#topnav {
	clear:both;
	margin:0 auto;
	padding:0;
	font-size:0.90em;
	background: #cecece; /* Old browsers */
	background: -moz-linear-gradient(top,  #cecece 0%, #eaeaea 58%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(58%,#eaeaea), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cecece 0%,#eaeaea 58%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cecece 0%,#eaeaea 58%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cecece 0%,#eaeaea 58%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cecece 0%,#eaeaea 58%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	/*min-height:50px;*/
	text-align:center;
	max-width:1000px;
	width:100%;
	border-bottom:3px solid #c7c7c7;}

#Pg {
	width:auto;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 5px 10px 8px}

#nav {
	list-style:none;
	margin-bottom:10px;
	margin:0 auto 10px auto;
	padding:0;
	z-index:5;
	max-width:1000px;}

#nav li{
	margin:0;
	padding:0;
	float:left;
	position:relative;
	border-left:1px solid #ccc;
	line-height:36px;}

#nav li.last {
border-right:1px solid #ccc;}

#nav a {
	display:block;
	padding:5px 7px;
	color:#000 !important;
	text-decoration:none;
	font-weight:bold;
	font-size:13px !important/*1.05em;*/}

#nav a:hover{
	color:#fff;
	text-decoration:underline;}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff;
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	margin:0;padding:0;
	z-index:5000000;}

#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	border:none;
	text-align:left;
	font-size:0.85em;
	line-height:1em;
	margin:0;}

#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	padding:6px 10px;}

#nav li:hover ul {
	/* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */}

#nav li:hover a {
	/* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list.*/
	background:#ccc !important;
	text-decoration:underline;}

#nav li:hover ul a {
	/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;}

#nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#333 !important;
	color:#fff !important;}
	
div#bottombanner{clear:right;background-color:#FFF;text-align:center;}
div#footernew{background-image:none;background-color:#97a5ae;text-align:left;}
div#footernew a{color:#fff !important;text-decoration:none;font-size:13px}
div#footernew a:hover {text-decoration:underline !important;}
div#footertop{background-image:url(/images/ip-foot-top2.gif);background-repeat:no-repeat;background-position:right top;height:10px;line-height:10px;width:100%;margin-top:10px}

div#footerright{
	max-width:220px;
	width:100%;
	float:left;
	padding:20px 0px 20px 10px;
	margin-top:0;
	text-align:left}

div#footerleft, div#footerleftFE{
	max-width:220px;
	width:100%;
	float:left;
	padding:10px 20px 20px 10px;
	margin-right:5px;
	margin-top:10px;
	border-right:solid 1px #dcdcdc}



div#footerleft h3, div#footerleftFE h3{font-family:Helvetica,Arial,sans-serif;font-size:14px;margin:0 0 5px 0;text-align:left;color:#fff; background: none}
div#footerright ul, div#footerleft ul, div#footerleftFE ul{list-style:none;width:250px;margin:0;padding:0;}
div#footerright li, div#footerleft li{float:left;width:125px;color:#fff;margin-bottom:3px}
div#footerleftFE li {color:#fff;margin-bottom:3px}
div#footerright li a{font-size:12px;color:#fff !important;text-decoration:none !important}
div#footerright p b {font-size:14px}
div#footernew div#footerright p {text-align:left !important;color:#fff !important;margin:0}
div#footernew p {text-align:center !important;color:#fff !important;font-size:13px;padding:0 0 10px 0;margin:0;}
/*NAVIGATION FROM PAUL IPBASE09.CSS*/


.navbar-header, #mobileSearch, #nav li a.mobile-only, .mobile-only{
	display:none;}

.navbar-default{
	background-color:transparent;
	border-color:transparent;}

/*img responsive code for IP*/
.img-responsive{
	max-width:100%;
	height:auto;
	display:block;}
