﻿.wp-pagenavi {
	margin:9px 0 10px;
	width:99%;
	margin-left:4px;
	padding-bottom:1px;
    float:left;
	font-family: 'Oswald', arial, serif;
}

.wp-pagenavi a, .wp-pagenavi span {
	border: 1px solid #373737;
	padding: 3px 5px;
	margin: 0 2px;
	font-size:11px;
	background: #2F2F2F;
	font-family: 'Oswald', arial, serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#cccccc;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #666;
}

.wp-pagenavi span.current {
	font-weight: bold;
	color:#ccc;
}