/* Artfully masterminded by ZURB  */
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -osx-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-osx-font-smoothing: inherit;
    background: #ffffff;
    color: #515151;
    font: 81.25%/1.38 "open-sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open-sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h3 {
    font-size: 1.75em;
    font-weight: 200;
    margin: 0 0 2.1em 0;
    color: #666666;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin-left: 0;
}

a, a:visited {
    color: #008bbb;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.f-container {
    width: 100%;
    background-color: #00aedb;
}

.f-container-white {
    width: 100%;
    background-color: #ffffff;
}
.f-container-blue {
    width: 100%;
    background-color: #00aedb;
}
.f-container-lg {
    width: 100%;
    background-color: #edeeef;
}
.f-container-lb {
    width: 100%;
    background-color: #00aedb;
}

/* Modal */
.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(0, 0, 0, 0.45); z-index: 40; display: none; top: 0; left: 0; }
.reveal-modal { background: #fff; visibility: hidden; display: none; top: 15px; left: 50%; margin-left: -260px; width: 520px; position: absolute; z-index: 41; padding: 30px; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.reveal-modal .close-reveal-modal:not(.button) { font-size: 22px; font-size: 2.2rem; line-height: .5; position: absolute; top: 8px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6); font-weight: bold; cursor: pointer; }
.reveal-modal .close-reveal-modal:not(.button):hover { text-decoration: none; }
.reveal-modal.small { width: 30%; margin-left: -15%; }
.reveal-modal.medium { width: 40%; margin-left: -20%; }
.reveal-modal.large { width: 60%; margin-left: -30%; }
.reveal-modal.xlarge { width: 70%; margin-left: -35%; }
.reveal-modal.expand { width: 90%; margin-left: -45%; }
.reveal-modal .row { min-width: 0; margin-bottom: 10px; }
.reveal-modal > :first-child { margin-top: 0; }
.reveal-modal > :last-child { margin-bottom: 0; }
.reveal-modal {margin-top: 125px;}
@media print { .reveal-modal { border: solid 1px #000; background: #fff; } }

/* main.css styles start */
@media only screen and (min-width: 1000px) {
    #inner {
        padding-top: 47px;
        /*background: #fff url('/images/css/bg_inner.png') repeat-x;*/
    }
}
/* main.css styles end */

@media only screen and (min-width: 769px) {
    .f-container-footer {
        width: 100%;
        background-color: #6a717a;
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    .f-container-footer {
        width: 100%;
        background-color: #6a717a;
        padding: 50px 0 20px 0;
    }
}
.f-container-footer-cta {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/footer-cta-bg.png') repeat-x;
    background-color: #6a717a;
}
.f-container-footer-cta-grey {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 90px;
    background: url('/images/html/footer-cta-bg-grey.png') repeat-x;
    background-color: #6a717a;
}
.f-container-footer ul.social-footer-links li span.social-link {
    position: absolute;
    margin: 0 0 0 8px;
}
.f-container-footer ul.social-footer-links li img {
    margin: -4px 0 0 0;
}
.f-container-footer ul.social-footer-links li span.social-link:hover {
    text-decoration: underline;
}
.home-news-vertical ul.home-events-list li img.home-news-icon {
    margin: 3px 0 0 0;
}
.home-news-vertical ul.home-events-list li.has-icon span {
    margin: 0 0 0 20px;
}
.home-news-vertical ul.home-events-list li span.home-events-list a {
    color: #707070;
}
.home-news-vertical ul.home-events-list li span.home-events-list a:hover {
    color: #707070;
    text-decoration: underline;
}
.home-news-vertical ul.home-events-list li span.home-events-list a:visited {
    color: #707070;
}
.f-container-section-cta1 {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/section-cta-bg2.png') repeat-x;
    background-color: #ffffff;
}
.f-container-section-cta1-lb {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/section-cta-bg2-lb.png') repeat-x;
    background-color: #ffffff;
}
.f-container-section-cta {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: 180px;
    background: url('/images/html/section-cta-bg.png') repeat-x;
    background-color: #edeeef;
}
.f-container-section-screens {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    max-height: 354px;
    background: url('/images/html/home-section-screens-bg.png') repeat-x;
    background-color: #edeeef;
}

p.section-screens {
    margin: 0 auto;
    padding: 0;
    max-width: 917px;
    height: 354px;
    margin-left:auto;
    margin-right:auto;
}

@media only screen and (min-width: 769px) {
    p.section-screens {
        background: url('/images/html/home-section-screens-small.png') no-repeat;
        background-size: 100%;
    }
}

@media only screen and (max-width: 768px) {
    p.section-screens-small {
        margin: 0 auto;
        padding: 0;
        max-width: 917px;
        max-height: 354px;
        margin-left:auto;
        margin-right:auto;
    }
}

a.cta-button-style {
    letter-spacing: 0em;
    margin: 0 0 0 10px;
    font-weight: 400;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    white-space:nowrap;
    background: #ff6c00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff6c00 0%, #e25000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6c00), color-stop(100%,#e25000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff6c00 0%,#e25000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff6c00 0%,#e25000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff6c00 0%,#e25000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff6c00 0%,#e25000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6c00', endColorstr='#e25000',GradientType=0 ); /* IE6-9 */
}

@media only screen and (min-width: 769px) {
    a.cta-button-style {
        padding: 15px 25px 15px 25px;
    }
}
@media only screen and (max-width: 768px) {
    a.cta-button-style {
        padding: 5px 15px 5px 15px;
    }
}

a.cta-button-style:hover {
    background: -moz-linear-gradient(top,  #e25000 0%, #ff6c00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e25000), color-stop(100%,#ff6c00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e25000 0%,#ff6c00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e25000 0%,#ff6c00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e25000 0%,#ff6c00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e25000 0%,#ff6c00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e25000', endColorstr='#ff6c00',GradientType=0 ); /* IE6-9 */
}
a.cta-button-style:hover {
    color: #ffffff;
    text-decoration: none;
}
a.cta-button-style:visited {
    color: #ffffff;
    text-decoration: none;
}
.imgStyleRnd {
    border-radius: 10px;
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
}
@media only screen and (min-width: 769px) {
    p.footer-cta a.cta-button-style {
        font-size: 0.9em;
    }
    p.footer-cta {
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        background-color: #3a464f;
        font-size: 1.95em;
        padding: 40px 30px 40px 30px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-desktop a.cta-button-style {
        font-size: 0.9em;
    }
    p.footer-cta-desktop {
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        background-color: #3a464f;
        font-size: 1.95em;
        padding: 40px 30px 40px 30px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-mobile {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    p.footer-cta a.cta-button-style {
        font-size: 0.8em;
    }
    p.footer-cta {
        font-size: 1.5em;
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        line-height: 1.7em;
        background-color: #3a464f;
        padding: 20px 10px 20px 10px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-mobile a.cta-button-style {
        font-size: 0.8em;
    }
    p.footer-cta-mobile {
        font-size: 1.5em;
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        line-height: 1.7em;
        background-color: #3a464f;
        padding: 20px 10px 20px 10px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
    p.footer-cta-desktop {
        display: none;
    }
}
@media only screen and (max-width: 380px) {
    p.footer-cta a.cta-button-style {
        font-size: 0.8em;
    }
    p.footer-cta {
        font-size: 1.2em;
        display: block;
        font-weight: 200;
        color: #ffffff;
        max-width: 670px;
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        line-height: 1.7em;
        background-color: #3a464f;
        padding: 20px 10px 20px 10px;
        -moz-border-radius: 15px; /* Firefox */
        -webkit-border-radius: 15px; /* Safari, Chrome */
        -khtml-border-radius: 15px; /* KHTML */
        border-radius: 15px; /* CSS3 */
    }
}
@media only screen and (min-width: 999px) {
    img.cs-card-bg {
        width: 333px;
        height: 420px;
    }
}
@media only screen and (max-width: 998px) {
    img.cs-card-bg {
        max-width: 270px;
        height: 360px;
    }
}
p.footer-copyright-text a {
    color: #515151;
}
p.footer-copyright-text a:hover {
    color: #515151;
}
.f-footer h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 200;
    color: #b7b7b7;
    margin: 10px 0 20px 0;
}

.f-footer ul li {
    margin: 0 0 12px 0;
}

.f-footer ul li a {
    font-size: 1.1em;
    text-decoration: none;
    color: #e1e1e1;
}

.f-footer ul li a:hover {
    text-decoration: underline;
    color: #e1e1e1;
}
.f-footer {
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 40px 0;
    max-width: 1000px;
    background-color: #6a717a;
}
.f-top-bar {
    color: #fff;
    font-size: 1em;
    padding-top: 3px;
    margin: 0 100px;
    width: 100%;
}

.f-top-bar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

.f-top-bar ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
    font-size: 1em;
    padding-top: 5px;
}

.f-top-bar ul {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.f-top-bar ul li {
    position: relative;
    font-weight: 600;
    font-size: 1.1em;
    display: inline;
    margin: 0 20px 0 0;
}
.f-top-bar img.top-nav-bar-icon {
    position: relative;
    top: 3px;
    right: 5px;
}
/* About Dropdown start */
.f-top-bar .about {
    display: inline-block;
    height: 23px;
    margin: 0 10px 0 0;
    padding: 1px 10px 2px;
}
.f-top-bar .about:hover {
    background-color: #f2f3f3;
    border-radius: 5px;
    cursor: default;
    display: inline-block;
    height: 23px;
    margin: 1px 10px 0 0;
    padding: 0 10px 3px;
}
.f-top-bar .about ul {
    background: #f2f3f3;
    border-radius: 5px;
    display: none;
    float: none;
    left: -50px;
    list-style: none;
    margin: 0;
    padding: 12px 10px;
    position: absolute;
    top: 128%;
    width: 185px;
}
.f-top-bar .about .about_link {
    display: inline-block;
    font-weight: 700;
    height: 30px;
}
.f-top-bar .about .about_link span, .f-top-bar .about:hover .about_link span {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    height: 16px;
    position: relative;
    right: 1px;
    top: 3px;
    width: 16px;
}
.f-top-bar .about .about_link span {
    background-image: url('/images/html/header-at-logo.png');
}
.f-top-bar .about:hover .about_link span {
    background-image: url('/images/html/apm-fb-logo.png');
}
.f-top-bar .about:hover .about_link {
    color: #00aedb;
    margin: 0 !important;
    padding: 0 !important;
}
.f-top-bar .about:hover a a {
    color: #3B464F;
    margin: 0 !important;
    padding: 0 !important;
}
.f-top-bar .about a:hover {
    color: #00aedb;
    text-decoration: none;
}
.f-top-bar ul ul li {
    display: block;
    margin: 0;
    padding: 0;
}
.f-top-bar ul ul a {
    color: #3b464f;
    display: block;
    font: normal 14px/16px "open-sans", "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    margin: 0;
    padding: 8px 0 10px 8px; /*dropdown's padding*/
    text-align: left;
    white-space: nowrap;
}
.f-top-bar ul ul a:hover {
    background-color: #d9dadd;
    border-radius: 5px;
    color: #3b464f !important;
    font: normal 14px/16px "open-sans", "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    margin: 0;
    padding: 0;
    padding: 8px 0 10px 8px; /*dropdown's padding*/
    white-space: nowrap;
}
.f-top-bar li:hover > ul {
    display: block;
}
.f-top-bar .btn-orange span {
    position: relative;
    top: 1px;
}
.f-top-bar #top_freedemo,
#mobile-menu-v2-persistent-cta #top_freedemo {
    display: none;
}

/* About Dropdown end */
form#search-form {
    height: 21px;
    background-color: #00aedb;
    margin: 0 auto;
    padding: 0;
}
input.f-search {
    font-size: 0.9em;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    margin-top: 2px;
    width: 220px;
    height: 21px;
}

input.f-submit {
    position: absolute;
    margin: -29px 0 0 -20px;
    height: 14px;
}

@media only screen and (max-width: 999px) {
    .f-header {
        display: none;
    }
    .f-top-nav {
        display: none;
    }
    .f-top-nav-small {
        max-height: 103px;
        background-color: #f9f9f9;
        background-image:url('/images/html/top-nav-home-texture.png');
    }
    .f-top-nav-small img.apm-nav-logo {
        height: 62px;
        width: 236px;
        margin-left: 10px;
        margin-bottom: 25px;
    }
    .f-top-nav-inner {
        z-index: inherit;
        margin-left:auto;
        margin-right:auto;
        width: 100%;
    }
        #inner {
        padding-top: 47px;
    }
    .f-carousel {
        display: none;
    }
    .f-carousel-small {
        width: 100%;
        background-color: #3b3b3b;
        padding-bottom: 40px;
    }
    .hero-subhed-small h1 {
        text-align: center;
        position: relative;
        font-size: 1.8em;
        font-weight: 200;
        line-height: 1em;
        color: #ffffff;
        padding: 20px;
        margin-top: -25px;
        z-index: 100;
    }
    .hero-hed-small h2 {
        text-align: center;
        position: relative;
        font-size: 2.6em;
        font-weight: 300;
        color: #ffffff;
        padding: 20px;
        z-index: 100;
    }
    .hero-image-small img.hero-devices {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: -70px;
        z-index: 10;
    }
    .hero-cta-small {
        position: relative;
        font-size: 1.6em;
        z-index: 100;
    }
    .hero-cta-small h3 {
        text-align: center;
        color: #ffffff;
        font-weight: 200;
        letter-spacing: -0.05em;
    }
    .hero-cta-small h3 a {
        font-size: 1.0em;
    }
}
@media only screen and (min-width: 1000px) {
    #mobile-menu, #mobile-menu-v2 {
        display: none;
    }
    .f-top-nav-outer {
        height: 20px;
    }
    .f-header {
        margin-left:auto;
        margin-right:auto;
        width: 100%;
        height: 31px;
        background-color: #00aedb;
        text-align: right;
    }
    .f-top-nav-inner {
        z-index: inherit;
        margin-left:auto;
        margin-right:auto;
        width: 1000px;
    }
    .f-top-nav {
        height: 103px;
        background-image:url('/images/html/top-nav-home-texture.png');
        background-repeat:no-repeat;
        background-position:center;
        margin-left:auto;
        margin-right:auto;
        background-color: #e9eaea;
    }
    .f-top-nav-small {
        display: none;
    }
    .f-carousel {
        width: 100%;
        height: 487px;
        background-color: #e9eaea;
        background-image:url('/images/html/home-carousel-bg.jpg');
        background-repeat:no-repeat;
        background-position:center;
    }
    .f-carousel-small {
        display: none;
    }
    .f-carousel-inner {
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width: 1200px;
    }
}
.apm-nav-logo {
    margin: 25px 0 0 0px;
}
@media only screen and (min-width: 769px) {
    p.footer-copyright-text {
        font-size: 1em;
        font-weight: 300;
        padding-top: 15px;
        padding-bottom: 250px;
        line-height: 1.8em;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 768px) {
    p.footer-copyright-text {
        font-size: 1em;
        font-weight: 300;
        padding-top: 15px;
        padding-bottom: 20px;
        line-height: 1.8em;
        margin: 0 auto;
    }
}
/* -----------------------------------------
   Home Page
----------------------------------------- */
.hero-subhed h1 {
    position: absolute;
    font-size: 2em;
    margin: 220px 0 0 100px;
    font-weight: 200;
    line-height: 1.3em;
}
.hero-hed {

}
.hero-hed h2 {
    font-size: 3.3em;
    font-weight: 400;
    letter-spacing: -1.2px;
    margin: 100px 0 0 100px;
    position: absolute;
}
.hero-image {
    position: absolute;
    margin: -52px 0 0 510px;
    width: 627px;
    height: 546px;
    background-image:url('/images/html/hero_devices_sm.png');
    background-size: 100%;
}
.hero-image image.hero-devices {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.hero-cta {
    position: absolute;
    font-size: 2.6em;
    margin: 412px 0 0 107px;
}
.hero-cta h3 {
    font-weight: 200;
    letter-spacing: -0.05em;
}
.hero-cta h3 a {
    font-size: 0.75em;
}

/* hero buttons */
.g-container.hero a {
  color: #fff;
  font-size: 14px;
}
.g-container.hero a.btn,
.g-container.port-hero a.btn {
  display: block;
  margin: 0 auto;
  width: 190px;
}
.home_btn_demo .btn {
    margin-bottom: 20px;
}
.home_video div {
    margin: 0 auto;
    width: 250px;
}
.home_video div span img {
    height: 35px;
    position: relative;
    top: 3px;
    width: 35px;
}
.home_video div a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    top: 4px;
}
@media screen and (max-width: 39.9375em) {
    .homev2 #home-hero-button-section .home_btn_demo,
    .homev2 #home-hero-button-section .home_video {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    }
}
@media only screen and (min-width: 768px) {
    #home-hero-button-section {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 767px) {
    #home-hero-button-section .home_btn_demo,
    #home-hero-button-section .home_video {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        text-align: center;
    }
    #home-hero-button-section .home_video {
        margin-top: 20px;
    }
    .reveal-modal, .reveal-modal.small, .reveal-modal.medium, .reveal-modal.large, .reveal-modal.xlarge {
        width: 80%;
        top: 15px;
        left: 50%;
        margin-left: -40%;
        padding: 20px;
        height: auto;
    }
}

.f-content h1 {
    font-size: 2.7em;
    color: #3b464f;
    letter-spacing: -0.035em;
    margin: 30px 0 0.6em 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.f-content h2, .f-content-1 h2, .f-content-1-lg h2 {
    color: #2fa6de;
    font-weight: 200;
    font-size: 2.5em;
    font-weight: 300;
    font-size: 2.35em;
    text-align: left;
    margin: 0 0 0.2em 0;
}

.f-content h2.s-top-margin {
    margin-top: 30px;
}

.f-content h3 {
    font-size: 1.75em;
    font-weight: 200;
    margin: 0 0 2.1em 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.f-content p {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 0 1.5em 0;
}

.f-content-1 p, .f-content-1-lg p {
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    margin: 0 0 1.5em 0;
}

.f-content ul.simple-list {
    margin: -0.75em 0 2.5em 2.5em;
}
.f-content ul.simple-list li,
#f-content ul.simple-list-after-title li,
.f-content li {
    font-size: 1.3em;
    list-style: disc;
    margin-bottom: .5em;
}
#home-reviews-list-display .f-content li {
    list-style-type: none;
}

/* Blockquote */
.f-content blockquote {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.35em;
    text-align: center;
    background: #fffff1;
}
.f-content blockquote p {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 1.0769em;
    line-height: 1.5em;
    font-weight: normal;
    color: #616161;
}
.f-content blockquote p.author {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: .8em;
    font-style: italic;
    color: #2a2a2a;
}
.f-content blockquote p.link-wide {
    text-align: right;
    font-size: 12px;
    margin: 0 -10px -12px 0;
}
.f-content blockquote a {
    background: #f6eb74;
    color: #6f6100;
    text-decoration: none;
}
.f-content blockquote.wide {
    text-align: center;
    margin: 3em 0;
    padding: 10px;
    border-left: 0;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

.f-content .quicklinks {
    background-color: #f1f1f1;
    padding: 25px 20px 5px 20px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
}

h1.home-section-header {
    font-size: 2.7em;
    color: #3b464f;
    letter-spacing: -0.035em;
    margin: 30px 0 0 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3.home-section-header {
    font-size: 1.75em;
    font-weight: 200;
    margin: 10px 0 0 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
h1.home-section-header-white {
    font-size: 2.7em;
    color: #ffffff;
    letter-spacing: -0.035em;
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3.home-section-header-white {
    font-size: 1.75em;
    font-weight: 200;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}
h4.home-section-header-white {
    font-size: 1.4em;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0 20px 0 20px;
    color: #ffffff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}
h4.home-section-header {
    font-size: 1.4em;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0 20px 0 20px;
    color: ##666666;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}
h3.home-section-header-h {
    font-size: 1.5em;
    font-weight: 600;
    margin: 70px 0 10px 0;
    color: #666666;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

p.home-section-header-p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.9em;
    padding: 0 0 80px 0;
}

h3.home-section-header-h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 70px 0 20px 0px;
    color: #666666;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

h3.home-section-header {
    font-size: 1.75em;
    font-weight: 200;
    margin: 10px 0 0 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

p.home-section-quote {
    font-family: Georgia, serif;
    font-size: 1.6em;
    font-style:italic;
    font-weight: light;
    line-height: 1.4em;
    margin: 10px 0 10px 0;
    color: #606060;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

p.home-section-quote-src {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style:italic;
    margin: 10px 0 0 0;
    color: #606060;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

h3.home-section-header-long {
    font-size: 1.75em;
    font-weight: 200;
    margin: 10px 0 0 0;
    color: #666666;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.f-content-1 {
    display: block;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
}

.f-content-1 .thrving-image-left, .thrving-image-right {
    max-width: 500px;
}

@media only screen and (min-width: 769px) {
    .f-content-1 img.thrving-image-left, img.thrving-image-right {
        display: block;
        margin-left:auto;
        margin-right:auto;
        border-right: 1px solid #7f7f7f;
    }
}
@media only screen and (max-width: 768px) {
    .f-content-1 img.thrving-image-left, img.thrving-image-right {
        display: block;
        margin-left:auto;
        margin-right:auto;
        border-right: 0px solid #ffffff;
        margin-bottom: 20px;
    }
}
.f-content-1 img.thrving-image-rightb {
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-right: 0px solid #ffffff;
}
.f-content-full-width {
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
}

#about-page-what-we-make {
    background: url('/images/html/about-us-what-we-make-bg.png') repeat-x;
    background-position:center;
    height: 528px;
}

#jobs-page-departments {
    background: url('/images/html/jobs_hero.jpg') repeat-x;
    background-position:center;
    height: 528px;
}

#feature-page-top-video {
    text-align: center;
    margin: 0 0 2em 0;
    padding: 0;
}

.modal_image_display {
    text-align: center;
    margin: 0 0 1em 0;
}

.modal_image_display p.button_overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#feature-page-top-video p#feature-overlay {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
#feature-page-top-video p#feature-overlay img {
    max-width: 50%;
    max-height: 50%;
}
.f-content {
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
}
.f-content-1 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 70px 0;
    max-width: 1000px;
}
.f-content img.f-home-collage-imagestyle {
    display: block;
    margin-left:auto;
    margin-right:auto;
}
@media only screen and (min-width: 769px) {
    .f-home-collage-small {
        display: none;
    }
    .f-home-collage {
        max-width: 970px;
        height: 346px;
        background: url('/images/html/img_customerCollage.jpg') no-repeat;
        background-size: 100%;
    }
    .f-home-collage-thankyou {
        max-width: 970px;
        height: 320px;
        background: url('/images/html/img_customerCollage.jpg') no-repeat;
        background-size: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .f-home-collage {
        display: none;
    }
    .f-home-collage-thankyou {
        display: none;
    }
}
.lg-background-full-width {
    background-color: #edeeef;
}

.f-content-1-lg {
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 70px 0;
    background-color: #edeeef;
    max-width: 1000px;
}
.f-content-1-lb {
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 70px 0;
    background-color: #00aedb;
    max-width: 1000px;
}
.f-content-lg {
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    background-color: #edeeef;
}
.f-content-lb {
    margin-left:auto;
    margin-right:auto;
    max-width: 1000px;
    background-color: #00aedb;
}
.f-content-1 div {
    margin: 0;
    padding: 0;
}
.f-content-1-lg div {
    margin: 0;
    padding: 0;
}
.f-content-1-lg ul {
    margin: 40px 0 20px 0;
}
.f-content-1-lg ul li {
    text-align: left;
    color: #707070;
    font-size: 1.5em;
    font-weight: 400;
    margin: 35px 0 0 70px;
}
.f-content-1-lg ul li img {
    position: absolute;
    margin: -10px 0 0 -65px;
}
.home-news-vertical ul {
    margin-top: 15px;
    margin-bottom: -10px;
}
.home-news-vertical ul li {
    font-size: 1.05em;
    margin: 0 auto;
    margin-bottom: 5px;
    font-weight: 400;
}

/* Customer Reviews */
#home-reviews-list-display li.article,
#more-reviews-items-display li.article {
    list-style: none;
}
#home-reviews-list-display li.article .left img,
#more-reviews-items-display li.article .left img {
    width: 250px;
}
#home-reviews-list-display li .right h2,
#more-reviews-items-display li .right h2 {
    font-size: 1.75em !important;
}
#home-reviews-list-display li .right p.date,
#home-reviews-list-display li .right p,
#more-reviews-items-display li .right p.date,
#more-reviews-items-display li .right p {
    font-size: 1em !important;
}

.f-content-1-lg div.f-home-third-width-box {
    padding: 0 15px 0 15px;
    height: 280px;
}

.f-content-1-lg div.f-home-third-width-box {
    padding: 0 15px 0 15px;
    height: 280px;
}

.link-to-in-sections {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
.link-to-in-sections p {
    margin-top: 30px;
    text-align: right;
}
.link-to-in-sections p a.link-to-in-sections {
    font-size: 0.9em;
    font-weight: 600;
    color: #ffffff;
    text-align: right;
    background-color: #00AEDB;
    padding: 5px 13px 3px 13px;
    margin-right: 10px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
.link-to-in-sections p a.link-to-in-sections:hover {
    color: #ffffff;
    background-color: #34c5eb;
    text-decoration: none;
}
p.third-section-link {
    position: absolute;
    bottom: 0;
    right: 0;
}
a.f-home-webinar-href {
    font-size: 0.9em;
    font-weight: 600;
    color: #ffffff;
    text-align: right;
    background-color: #e85b00;
    padding: 5px 13px 3px 13px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
a.f-home-webinar-href:visited {
    color: #ffffff;
    background-color: #e85b00;
    text-decoration: none;
    padding: 5px 13px 3px 13px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
a.f-home-webinar-href:hover {
    color: #ffffff;
    background-color: #f47d31;
    text-decoration: none;
    padding: 5px 13px 3px 13px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
.featured-webinar-home img.f-home-webinar-image, img.f-home-webinar-image {
    margin: 0 10px 10px 0;
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari, Chrome */
    -khtml-border-radius: 8px; /* KHTML */
    border-radius: 8px; /* CSS3 */
    max-width: 70px;
    max-height: 70px;
}
p.f-home-webinar-link {
    margin: 5px 0 0 0;
}
ul.f-home-upcoming-webinars {
    margin-top: 20px;
    padding: 10px 0 0 0;
    border-top: 1px solid #cccccc;
}
ul.f-home-upcoming-webinars li {
    margin: 0 0 5px 0;
}
span.f-home-events-date {
    float: left;
    font-family: Georgia, serif;
    font-weight: 600;
    min-width: 55px;
    margin: 0 10px 0 0;
}
span.events-upcoming-month {
    background-color: #999;
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .center-content {
        text-align: center;
    }
    a.hide-on-mobile {
        display: none;
    }
    p.hide-on-mobile {
        display: none;
    }
    div.hide-on-mobile {
        display: none;
    }
    ul.hide-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    div.hide-on-desktop {
        display: none;
    }
    p.hide-on-desktop {
        display: none;
    }
    ul.hide-on-desktop {
        display: none;
    }
}

@media only screen and (max-width: 999px) {
    .hide-on-narrow {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .hide-on-wide {
        display: none;
    }
}

/* -----------------------------------------
   Case Studies Page
----------------------------------------- */

.features-read-more p {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff08d;
    padding:8px 5px 5px 5px;
    text-align: center;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
}
.features-read-more p img {
    position: relative;
    top: 3px;
    margin: 0 10px 0 0;
}

/* -----------------------------------------
   Pricing Page
----------------------------------------- */
.pricing-shield {
    display: block;
    height: 295px;
    margin: 0 auto 0 auto;
    width: 250px;
}
.pricing-table {
    border: 0px;
    background-color: none;
    max-width: 650px;
}

.pricing-table table {
    width: 100%;
}

.pricing-table td {
    border: 1px solid #cccccc;
    vertical-align: middle;
}
.pricing-table table tr td.pricing-table-prices {
    font-family: Georgia, serif;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #282828;
    text-align: center;
}
.pricing-table table tr td.pricing-table-prices span.per-month-price {
    font-family: Georgia, serif;
    font-size: 3.5em;
}
.pricing-table table tr td.pricing-table-prices span.per-month {
    font-family: Georgia, serif;
    font-size: 1.2em;
}
.pricing-table table tr td.pricing-table-prices span.volume-discount {
    font-family: Georgia, serif;
    font-size: 1em;
    color: #cccccc;
}
.pricing-table table tr td.pricing-table-included {
    font-family: Georgia, serif;
    width: 14%;
    font-size: 1em;
    color: #ffffff;
    background-color: #87aa24;
    white-space: nowrap;
}
.pricing-table table tr td.pricing-table-prices img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.top_form .form_bkgd {
    background-color: #E5E6E7;
    border-radius: 5px;
    margin: 0 auto 10px;
    padding: 25px 0;
    text-align: center;
    width: 360px;
}
.top_form .form_bkgd h2 {
    color: #3B464F;
    line-height: 1em;
    margin: 0 0 20px;
    text-align: center;
}
.top_form .form_bkgd h2 span {
    display: block;
    font-size: .72em;
    font-weight: 200px;
}
.top_form #mktoForm_1133 {
    margin: 0 auto;
    width: 280px !important;
}
.top_form #mktoForm_1133 label {
    display: block !important;
    float: left;
    font: 1.3em Helvetica,sans-serif;margin: 0 0 2px 2px;
    text-align: left;
    width: auto !important;
}
.top_form #mktoForm_1133 input {
    display: block !important;
    float: none;
    height: 35px;
    margin-bottom: 5px;
    width: 280px !important;
}
.top_form #mktoForm_1133 .mktoGutter, .top_form #mktoForm_1133 .mktoOffset {
    display: none;
}
.top_form #mktoForm_1133 .mktoFormCol {
    margin-bottom: 0 !important;
}
.top_form td.norton img {
    width: 82px !important;
}

.f-content ul.stacked-list {
    margin-top: -1.75em;
}

/* Consumer Relations page */
.consumer_relations h2 {
    margin-bottom: 25px;
}
.consumer_relations .text-center {
    text-align: center;
}
.consumer_relations .simple-list .indent_30 {
    margin-left: 30px;
}
.consumer_relations .simple-list span.indent_30 {
    display: block;
}
.consumer_relations .blue {
    color: #2fa6de;
}
.consumer_relations .red {
    color: #f00;
}

@media only screen and (max-width: 768px) {
    .top_form .pricing-included-list {
        padding: 0 0 10px !important;
    }
    .top_form ul {
        margin: 0 auto;padding: 0;width: 275px;
    }
}
@media only screen and (max-width: 480px) {
    .top_form #mktoForm_1133 label[for="Number_of_Units_Managed__c"] {
        width: 221px !important;
    }
    .top_form #mktoForm_1133 .mktoFormRow {
        margin: 0;
    }
    .top_form .mktoForm .mktoFormRow .mktoRequiredField .mktoAsterix {
        color: #BF0000;float: right;padding-left: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .top_form .form_bkgd {
        width: 300px;
    }
    .top_form .form_bkgd h2 {
        font-size: 2.1em;
    }
    .top_form #mktoForm_1133 input {
        width: 260px !important;
    }
}

/* Portfolio */
.casestudy.benefit {
    background-color:#f7f7f7;
    height: auto;
}
.casestudy .static {
    margin: 60px auto 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.casestudy .number {
    margin: 0px auto 30px;
    text-align: center;
    font-size: 40px;
    color: #008eba;
    font-weight: 300;
}
.prop-center {
    margin-left: 110px;
}
.prop-center.top {
    margin-top: 50px;
}
.prop-content {
    text-align: left;
     margin-bottom: 50px;
}
.casestudy .prop-title {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
}
.casestudy .prop-text {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 300
}
.prop-icon1 {
    background: url('/images/html/apm_CaseStudies_company_icon.svg') no-repeat;
    display: inline-block;
    float: left;
    margin: -3px 13px 85px 0px;
    height: 33px;
    width: 30px;
    }
}
.prop-icon2 {
    background: url('/images/html/apm_CaseStudies_company_icon.svg') no-repeat;
    display: inline-block;
    float: left;
    margin: 0px 13px 50px 0px;
    height: 40px;
    width: 30px;
}
.prop-icon3 {
    background: url('/images/html/apm_CaseStudies_previous_solution_icon.svg') no-repeat;
    display: inline-block;
    float: left;
    margin: 3px 13px 85px 0;
    height: 29px;
    width: 35px;
}
.prop-icon4 {
    background: url('/images/html/apm_CaseStudies_portfolio_type_icon.svg') no-repeat;
    display: inline-block;
    float: left;
    margin: 0px 13px 50px 0px;
    height: 29px;
    width: 25px;
}
.casestudy .divline {
    border-bottom: 1px solid #dedede;
    margin: 10px auto 55px;
}

.f-content .download a.pdf {
    background: url(/images/css/ico_file_pdf.gif) no-repeat 0 0;
}
.f-content .download a {
    display: block;
    float: left;
    height: 15px;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: .7692em;
    line-height: 1.5em;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #717174;
}
.f-content .download {
    overflow: hidden;
    margin-top: -15px;
    padding: 5px 0 0 0;
}
.f-content blockquote p strong {
    font-size: 1.4285em;
    font-weight: normal;
    color: #000;
}
.carousel_nav {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    text-align: center !important;
    margin: 20px 0 40px 0;
    padding: 0;
}
.carousel_nav span {
    display: inline-block;
    font-size: 1.05em;
    font-weight: 500;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #636363;
    padding: 10px 22px 10px 22px;
    cursor: pointer;
}
img.carousel-arrows {
    width: 20px;
    margin: 120px 15px 0 15px;
    cursor: pointer;
}


/*  Tablet view */
@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .casestudy.hero1 {
        background: url('//dhvu905wjl8ow.cloudfront.net/apm/images/hero/drexel_casestudies_hero_sm.jpg') no-repeat center center / cover;
        margin-top: -60px;
        height: 420px;
    }
    .casestudy.hero2 {
        background:      url('//dhvu905wjl8ow.cloudfront.net/apm/images/hero/chicago_skyline_casestudies_hero_sm.jpg') no-repeat center center / cover;
    }
    .casestudy.hero1 h1 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        margin-top: 120px;
        text-align: center;
    }
    .casestudy.benefit {
        padding-top: 50px;
    }
    .casestudy .static {
        margin: 0px auto;
    }
    .prop-center.top {
        margin-top: 0px;
    }
    .row .tablet-two {
        width: 50% !important; float: left; padding: 0 20px;
    }
    .row .tablet-one {
        width: 100%; !important; float: left;
    }
}

@media only screen and (max-width: 767px) {
    .casestudy .divline {
        border-bottom: 1px solid #dedede;
        margin: 40px auto 55px;
        width: 60%;
    }
    .prop-center {
        margin-left: 0px;
    }
    .prop-center.top {
        margin-top: 0px;
    }
    .prop-content {
        text-align: center;
        margin-bottom: 50px;
    }
    .prop-text {
        text-align: center !important;
        clear: both;
     }
    .prop-icon1, .prop-icon2, .prop-icon3 {
        float:none;
        text-align: center;
        display: inline-block;
        vertical-align: bottom;
        margin: 10px 8px 0 0;
        height: 30px;
     }
    .prop-icon4 {
        float:none;
        text-align: center;
        display: inline-block;
        vertical-align: bottom ;
        margin: -8px 8px 0px 0px;
     }
}

@media only screen and (max-width: 767px) {
    .casestudy.benefit {
        padding-top: 40px;
        background-color:#f7f7f7;
    }
    .casestudy .static {
        margin: 10px auto 0px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }
    .casestudy .number {
        margin: 0px auto 15px;
    }
}
    .casestudy .title {
        margin: 60px auto 10px;
        color: #6b6b6b;
        text-align: left;
        font-size: 19px;
        font-weight: 800;
        line-height: 26px;
    }
    .casestudy .question {
        margin: 30px auto 0px;
        color: #00aedb;
        text-align: left;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

/* Download PDF and Read More button */
.casestudy .readmore-btn {
    text-align: center;
    margin: 60px auto 120px;
}
.casestudy  .download-pdf {
    margin: 0 auto;
    text-align: center;"
}
.casestudy  .download-pdf a {
    font-weight: 400;
    text-decoration: none;
    color: #6b6b6b;
    font-size: 16px;
}
.casestudy  .download-pdf a:hover {
    color: #ccc;
}

/* Footer calculator */
.casestudy.calculator {
    background-color:#f7f7f7;
    height: auto;
    margin-bottom: -54px;
}
.casestudy span.calicon {
    background: url('/images/html/apm_caseStudies_calculator_icon.svg') no-repeat;
    display: block;
    float: left;
    height: 160px;
    width: 70px;
    margin: 60px 20px 60px 20px;
}
.casestudy .cal-title {
    margin: 50px auto 0px 0px;
    color: #6b6b6b;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
.casestudy .cal-text {
    font-size: 22px;
    font-weight: 100;
    color: #6b6b6b;
    line-height: 28px;
    width: 80%;
}
.casestudy .cal_btn {
    margin: 20px 0px 20px 0px;
}
.casestudy a.btn-blue {
    background-color: #00aedb;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    text-decoration: none;
}
.casestudy a.btn-blue:hover {
    background-color: #1d9ebd;
}

/* quote */
.casestudy .photo {
    text-align: center;
    margin: 40px auto 0px;
}
.casestudy .photo.flower {
    margin-bottom: 30px;
}
.casestudy .photo.bottom {
    margin-bottom: 40px;
}
.casestudy .quotemark {
    text-align: center;
    width: 65px;
    height: 65px;
    margin: 30px auto 0px;
}
.casestudy .quote {
    color: #00aedb;
    font-size: 30px;
    line-height: 42px;
    font-weight: 300;
    text-align: center;
    margin: 0px auto 20px;
}
.casestudy .author {
    color: #6b6b6b;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 20px 0px;
    text-align: center;
    letter-spacing: 1px;
}
.casestudy .author.bottom {
    margin-bottom: 50px;
}
.casestudy .author span {
    color: #6b6b6b;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}
.casestudy .divider {
    margin: 40px auto;
    height: 180px;
    border-left: 1px solid #dedede;
}

/* Footer read all you needed */
.casestudy .readall {
    padding: 40px 0px 25px 0px;
    letter-spacing: 1px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: #6b6b6b;
    line-height: 28px;
}
.casestudy .request_btn {
    text-align: center;
    margin: 10px 0px;
    color: #6b6b6b;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
}
.casestudy a.btn-orange {
    background-color: #ff5a00;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 18px;
    text-decoration: none;
}
.casestudy a.btn-orange:hover {
    background-color: #e54e03;
    color: #fff;
}.casestudy a.btn-orange:hover {
    background-color: #e54e03;
    color: #fff;
}

/* Media query for mobile -- Footer */
@media screen and (max-width: 63.9375em) {
   .casestudy .divider {
        border-left: 0px;
        border-top: 1px solid #dedede;
        width: 60%;
        margin : 30px auto 80px;
    }
   .casestudy.calculator {
        background-color:#f7f7f7;
        height: auto;
        text-align: center;
    }
   .casestudy .cal-title {
        margin: 0px auto;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .casestudy .cal-text {
        font-size: 16px;
        text-align: center;
        font-weight: 100;
        color: #6b6b6b;
        width: 100%;
    }
    .casestudy span.calicon {
        background: url('/images/html/apm_caseStudies_calculator_icon.svg') no-repeat;
        float: none;
        margin: 70px auto 10px;
        width: 60px;
        height: 90px;
    }
    .casestudy .cal_btn {
        text-align: center;
        margin: 30px auto 40px;
        clear: both;
    }
    .casestudy .request_btn {
        text-align: center;
        margin: 10px 0px 60px;
    }
    .casestudy .readall {
        line-height: 32px;
    }
    .casestudy a.btn-orange {
        clear:both;
    }
}

/* Media query for tablet */

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .casestudy .cal-text {
        font-size: 17px;
        font-weight: 100;
        color: #6b6b6b;
        line-height: 24px;
    }
    .casestudy .cal-title {
        margin: 15px auto 0;
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
    }
    .casestudy .cal_btn {
        margin: 20px 0 30px;
    }
}

@media only screen and (max-width: 1080px) {
    .show-for-large-up-custom {
        display: none !important;
    }
}

@media only screen and (min-width: 1081px) {
    .hide-for-large-up-custom {
        display: none !important;
    }
}

/* -----------------------------------------
   Events Calendar Page
----------------------------------------- */

iframe.events-map {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    width: 100%;
    height: 350px;
    border: 0px;
}

@media only screen and (max-width: 767px) {
    iframe.events-map {
        display: none;
    }
    .map-legend {
        display: none;
    }
}

a.buttonForModal img {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}
.staticImg {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}

.f-content img.defaultImgStyle, .f-container-lg img.defaultImgStyle, .f-container-white img.defaultImgStyle {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}

p.modal_window_center {
    text-align: center;
}

h3.features-item-header {
    color: #2fa6de;
    font-weight: 100;
    font-size: 2.5em;
    font-weight: 300;
    font-size: 2.5em;
    text-align: left;
}

#feature-page-top-video img#feature-page {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border: 1px solid #bebebe;
    box-shadow: 2px 1px 8px 1px #c5c5c5;
    margin-top: 0px;
    padding-top: 0px;
}

@media only screen and (min-width: 768px) {
    h3.features-item-header {
        margin-bottom: 7px;
        margin-top: 7px;
    }
    h3.offset-right-by-ten-mobile {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 767px) {
    h3.features-item-header {
        margin: 25px 10px 7px 10px;
    }
}

#product-feature-home {
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 39;
}

@media only screen and (max-width: 999px) {
    .breadcrumbs {
        margin: -20px 0 15px;
    }
    #product-feature-home {
        padding: 260px 0 0 0;
    }
    #product-feature-home img {
        width: 25%;
        min-width: 140px;
    }
}
@media only screen and (min-width: 1000px) {
    .breadcrumbs {
        margin: -20px 0 15px;
        padding: 0;
    }
    #product-feature-home {
        padding: 164px 0 0 0;
    }
}
.modal-video-player img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.about-page-callouts {
    margin: 0 auto;
    padding: 0 0 60px 0;
}
.about-page-callouts h2 {
    text-align: center;
    font-size: 2.2em;
    margin-top: 1.5em;
}
.about-page-callouts h5 {
    text-align: center;
    color: #767676;
    font-weight: 200;
    font-size: 1.95em;
}
.about-page-callouts p {
    text-align: center;
    margin: 18px 0 -5px 0;
}

.headshot {
    clear: both;
}
.headshot img {
    float: left;
    margin: 0 10px 20px 0;
}
.headshot p.quote {
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -0.8px;
    font-weight: 500;
    padding: 10px 0 5px 0;
    margin: 0;
    line-height: 1.2em;
}
.headshot span.quote-title {
    font-size: 15px;
    font-family: "open-sans", Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: -0.6px;
}

@media only screen and (min-width: 850px) {
    .quote2container {
        background: url('/images/html/quote-2-marks.png') repeat-x;
    }
}
@media only screen and (max-width: 849px) {
    .quote2container {
        background: url('/images/html/quote-2-marks-medium.png') repeat-x;
    }
    .jobs-emp-photo {
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    .quote2container {
        background: url('/images/html/quote-2-marks-small.png') repeat-x;
    }
    .jobs-emp-photo {
        text-align: center;
    }
}

.quote2 {
    font-family: serif;
    font-size: 1.55em !important;
    font-style: italic;
    letter-spacing: -0.8px;
    font-weight: 500;
    margin: 0 0 0.8em 0 !important;
    line-height: 1.2em;
    padding: 0px 50px 0px 50px;
}

.quote2-source {
    font-family: serif;
    color: #999999;
    font-style: italic;
    font-size: 1.5em !important;
    letter-spacing: -0.8px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0px;
    padding: 0px 50px 0px 50px;
}

.f-content img.jobs-dept-icon {
    vertical-align:text-top;
    margin-top: -12px;
}

.f-content .jobs-dept-link {
    margin-right: 17px;
}

@media only screen and (max-width: 767px) {
    .contact-form {
        -moz-border-radius: 0px; /* Firefox */
        -webkit-border-radius: 0px; /* Safari, Chrome */
        -khtml-border-radius: 0px; /* KHTML */
        border-radius: 0px; /* CSS3 */
        background-color: #E4F6FB;
        padding-bottom: 20px;
    }
    .contact-form form {
        margin: 25px 0 25px 0;
    }
    .f-content ul.stacked-list-top {
        margin-top: -1.75em;
    }
}

@media only screen and (min-width: 768px) {
    .contact-form {
        -moz-border-radius: 10px; /* Firefox */
        -webkit-border-radius: 10px; /* Safari, Chrome */
        -khtml-border-radius: 10px; /* KHTML */
        border-radius: 10px; /* CSS3 */
        background-color: #E4F6FB;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .contact-form form {
        margin: 25px;
    }
}
.f-content #jv-alert-link {
    display: block;
    cursor: pointer;
}

/* Headroom.js */
@media only screen and (min-width: 1000px) {
    .headroom-topnav {padding-top: 31px;}
    .headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
    .headroom--unpinned {top: -100px;}
    .headroom--pinned {top: 0;}
    .headroom-top-space {padding-top: 125px;}
    .homev2 .headroom-top-space {padding-top: 134px;}
}

.f-content.login_info h1 {
    margin-bottom: 1.5em
}
.login_info span {
    color: #f05c24;
}

/* chart */
.chart {
  background-color: #f6f6f6;
  padding: 50px 0 40px;
}
.chart table {
  margin: 0 auto;
  width: 100%;
}
.chart table .title {
  text-align: right;
  width: 39%;
}
.chart table th, .chart table td {
  background-color: #f6f6f6;
}
.chart table th {
  color: #666;
  font-size: 26px;
  line-height: 22px;
  padding: 0 0 10px;
  position: relative;
}
.chart table th span {
  font-size: 18px;
  font-weight: 300;
}
.chart table th .asterisk {
  font-size: 18px;
  font-weight: 400;
  left: 1px;
  position: relative;
  top: -3px;
}
.chart table td {
  color: #666;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  width: 260px;
}
.chart table td span {
  background-color: #fff;
  border-radius: 6px;
  display: block;
  height: 36px;
  padding: 7px 10px 6px;
}
.chart .check {
  background-color: none;
  background: url("//dhvu905wjl8ow.cloudfront.net/apm/images/premium/sprite-checkmark.png") no-repeat -336px -43px;
  border-radius: 0;
  display: block;
  height: 23px;
  margin: 0 auto;
  padding: 0;
  width: 33px;
}
.chart .cost span {
  height: 54px;
}
.chart .blurb {
  font-size: 12px;
  line-height: 15px;
  padding: 0 0 0 20px;
  text-align: left;
}

/* websites logos */
.websites p {
  color: #a9adb1;
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}
.websites p span {
  display: inline;
  font-size: 28px;
  font-weight: 300;
}
.websites ul {
  margin: 0 0 10px;
  text-align: center;
}
.websites li {
  display: inline;
  list-style-type: none;
  margin: 0 6px;
}
.websites li span {
  background-image: url('//dhvu905wjl8ow.cloudfront.net/apm/images/premium/sprite_websites_logos.png');
  background-repeat: no-repeat;
  display: inline-block;
}
.websites .more {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.websites .rentals {
  background-position: -5px 1px;
  height: 46px;
  width: 137px;
}
.websites .condo {
  background-position: -148px 2px;
  height: 46px;
  width: 144px;
}
.websites .move {
  background-position: -307px 4px;
  height: 46px;
  width: 97px;
}
.websites .rental_ads {
  background-position: -423px -4px;
  height: 46px;
  width: 101px;
}
.websites .houses {
  background-position: -543px -3px;
  height: 46px;
  width: 109px;
}
.websites .rental_houses {
  background-position: -665px -7px;
  height: 46px;
  width: 197px;
}
.websites .show_me {
  background-position: -5px -74px;
  height: 46px;
  width: 159px;
}
.websites .realtor {
  background-position: -182px -75px;
  height: 46px;
  width: 153px;
}
.websites .apart_list {
  background-position: -348px -75px;
  height: 46px;
  width: 200px;
}
.websites .rad_pad {
  background-position: -553px -75px;
  height: 46px;
  width: 128px;
}
.websites .pad_mapper {
  background-position: -690px -75px;
  height: 46px;
  width: 146px;
}
.websites .zumper {
  background-position: -15px -129px;
  height: 46px;
  width: 139px;
}
.websites .uloop {
  background-position: -174px -128px;
  height: 46px;
  width: 95px;
}
.websites .abodo {
  background-position: -279px -128px;
  height: 46px;
  width: 121px;
}
.websites .rent_lingo {
  background-position: -407px -128px;
  height: 46px;
  width: 161px;
}
.websites .walk_score {
  background-position: -574px -128px;
  height: 46px;
  width: 179px;
}
.websites .zillow {
  background-position: -6px -209px;
  height: 46px;
  width: 150px;
}
.websites .trulia {
  background-position: -165px -209px;
  height: 46px;
  width: 115px;
}
.websites .hotpads {
  background-position: -283px -209px;
  height: 46px;
  width: 154px;
}
.websites .lovely {
  background-position: -446px -208px;
  height: 46px;
  width: 92px;
}
.websites .apartments {
  background-position: -547px -211px;
  height: 46px;
  width: 225px;
}
.new-feature {
  position: relative;
  background-color: #ff9900;
  color: #fff;
  font-size: 0.4em;
  font-weight: bold;
  padding: 3px;
  top: -5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media only screen and (max-width: 715px) {
  .chart .cost span {
    height: 74px;
  }
}
@media only screen and (max-width: 441px) {
  .chart .cost span {
    height: 94px;
  }
}

/* -----------------------------------------
   Help Page
----------------------------------------- */
.f-content ul.simple-list.spacing {
  margin-top: 1em;
}
.anchor {
  margin: -0.75em 0 2.5em 0 !important;
}
.anchor li {
  list-style: none !important;
}
.fix-header {
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}
.help-image-frame {
  display: block;
  text-align: center;
  width: 365px;
  margin-top: 10px;
  Margin-left: auto;
  Margin-right: auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 1px solid #bbb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 12px #c7c7c7;
  -webkit-box-shadow: 12px 0 12px #c7c7c7;
  box-shadow: 0 0 12px #c7c7c7;
}
p.questions {
  margin: 10px 0 5px 0;
  font-weight: bold;
}
.payment_gray_bg {
  height: auto;
  padding: 50px 40px;
  margin-bottom: 150px;
}
.cta-button-style.noindent {
  margin-left: 0;
  margin-bottom: 50px !important;
}
.contact-form.gray_bg {
  background-color: #edeeef !important;
}
.btn_orange_cta {
  color: #fff;
  background-color: #ff5a00;
  font-size: 18px;
  font-weight: 600;
  border:0 none;
  border-radius: 8px;
  display: block;
  margin: auto;
  padding: 13px 38px;
}
ol.help {
    margin-bottom: 30px;
}
ol.help li {
  font-size: 1.3em;
  list-style: decimal outside !important;
  margin:0 0 0.7em 1.5em;
}
.help.spacing {
  margin:0 0 2.5em 2em;
}

/* -----------------------------------------
   New features page Apr, 2016
----------------------------------------- */
/* Hero banner*/
.features.hero1 {
    height: 350px;
    position: relative;
    background-color: #000;
    background: url('//dhvu905wjl8ow.cloudfront.net/apm/images/hero/apm_hero_features_overview.jpg') no-repeat center center / cover;
    margin-top: 60px;
    }
.features.hero1 h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    width: 500px;
    margin: 90px 0px 0px 100px;
    text-align: left;
    letter-spacing: 1px;
    }
.features.hero1 h1 span {
    font-weight: 800;
    }
.features .hero-btn {
    margin: 20px 0px 0px 110px;
    text-align: left;
    color: #fff;
    font-size: 16px;
    }
.features .hero-btn a {
    color: #fff;
    }
.features p {
    text-align: center;
    }
.features .para-space {
    margin-top: 80px;
    }
.features .profile-icon {
    text-align: center;
    margin: 60px auto 30px;
    }
.features .divider {
    border-bottom: 1px solid #ccc;
    }
.features .profile-type {
    display:inline-block;
    color: #3b464f;;
    letter-spacing: 1px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 7px 12px;
    border-radius: 10px;
    font-weight: 600;
    }
.features .profile-type:hover {
    background-color: #00aedb;
    border: 1px solid #00aedb;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    }

.features .btn {
    border: solid 1px #00aedb;
    color: #00aedb;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 120px;
    white-space: nowrap;
    }
.features .btn:hover {
    background-color: #00aedb;
    color: #ffffff;
    text-decoration: none;
    }
.features.hero1 .button_section {
    margin: 20px 0 0 86px;
    width: 500px;
}
.features.hero1 .button_section .features_hero_video a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: 2px;right: 0;
    text-decoration: none;
}
.features.hero1 .button_section .features_hero_video img {
    display: inline-block;
    position: relative;
    right: 3px;
    top: -2px;
}
.features.hero1 .btn.orange {
    background-color: #ff5a00;
    border: solid 1px #ff5a00;
    color: #fff;
}
.features.hero1 .btn.orange:hover {
    background-color: #e54e03;
    border: solid 1px #e54e03;
    color: #fff;
    text-decoration: none;
}

.features .div_text {
    text-align:center;
    font-size: 30px;
    margin: 60px auto 30px;
    }
.features .features-list {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #00aedb;
    margin-bottom: 20px;
}
.features .features-list a:hover {
    color: #00aedb;
    text-decoration: none;
}
.features .feature-icon {
    margin-top: 70px;
    margin-bottom: 30px;
}
.features .feature-icon span {
    background-image: url("https://learn.appfolio.com/apm/assets/icons_workflow_gray.png");
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    margin: 25px auto 20px;
    width: 125px;
}
.features .feature-icon .owners {
    background-position: 7px 5px;
}
.features .feature-icon .leasing {
    background-position: -153px 0;
}
.features .feature-icon .marketing {
    background-position: -300px 2px;
}
.features .feature-icon .maintenance {
    background-position: -454px 1px;
}
.features .feature-icon .reporting {
    background-position: -616px 0;
}
.features .feature-icon .support {
    background-position: -759px 3px;
}
.features .features-items a {
    color: #3b464f;;
}

/* features items list */
.features .features-items ul li {
    list-style: none;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    line-height: 1.4em;
    margin-bottom: 9px;
}

.features .features-items ul li a span {
    height: 12px;
    width: 12px;
    margin-left: 6px;
    position: relative;
    bottom: 0px;
    display: inline-block;
    background: url('/images/html/sprite_social.png') no-repeat -5px -210px;
}

.features .features-items ul li a:hover {
    text-decoration: none;
    color: #00aedb;
}


.features.bottom_space {
    margin-bottom: 50px;
    }
.features .line-behind {
    font-size: 30px;
    margin-top: 70px;
    position: relative;
    text-align: center;
    z-index: 1;
    }
.features .line-behind:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 20px; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
    }
.features .line-behind span {
    background: #fff;
    padding: 0 30px;
    }
.row.bottom_space {
    margin-bottom: 80px;
    }
.features .para-centered {
    text-align: center;"
}

/*  For features icons push two columns right */
@media only screen and (min-width: 1001px) {
  .features .large-push-two {
    position: relative;
    left: 16.66667%;
    right: auto;
    }
}

/*  widescreen */
@media only screen and (min-width: 1600px) {
    .features.hero1 {
    height: 350px;
    position: relative;
    background-color: #000;
    background: url('//dhvu905wjl8ow.cloudfront.net/apm/images/hero/apm_hero_features_overview_wide.jpg') no-repeat center center / cover;
    margin-top: 60px;
    }
}

/*  Tablet view */
@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .features.hero1 {
        height: 400px;
        margin-top: -60px;
        background: url('//dhvu905wjl8ow.cloudfront.net/apm/images/hero/apm_hero_features_overview_sm.jpg') no-repeat center center / cover;
    }
    .features.tablet-two {
        width: 50% !important; float: left; padding: 0 20px;
    }
    .features.hero1 h1 {
    margin: 100px 0px 0px 40px;
    }
    .features.hero1 .button_section {
        margin-left: 26px;
    }
    .features .hero-btn {
    margin: 20px 0px 0px 50px;
    }
}

/*  Mobile view */
@media only screen and (max-width: 768px) {
    .features.hero1 {
        height: 400px;
        margin-top: -60px;
        background: url('//dhvu905wjl8ow.cloudfront.net/apm/images/hero/apm_hero_features_overview_sm_v3.jpg') no-repeat center center/ cover;
    }
    .features.hero1 h1 {
        color: #fff;
        font-size: 32px;
        font-weight: 300;
        width: 300px;
        margin: 100px 0px 0px 20px;
    }
    .features.hero1 .button_section {
        margin-left: 5px;
    }
    .features .hero-btn {
        margin: 20px 0px 0px 30px;
    }
    .features .profile-type {
        margin-bottom: 70px;
    }
    .features .profile-icon {
        margin-top: 70px;
    }
    .features .feature-icon {
        margin-top: 70px;
    }
    .features .line-behind {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .features .line-behind {
        margin-top: 40px;
    }
    .features .line-behind span {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 326px) {
    .features.hero1 h1 {
        width: 280px;
    }
}

.thanks_about .thanks_img {
    text-align: right !important;
}
/* Small screen only */
@media screen and (max-width: 39.9375em) {
    .casestudy .static {
        line-height: 1.3;
    }
    .casestudy .prop-content p {
        display: block;
        text-align: center;
    }
    .casestudy .prop-icon1, .casestudy .prop-icon2, .casestudy .prop-icon3, .casestudy .prop-icon4 {
        display: block;
        float: none;
        margin: 0 auto 15px;
    }
    .features.hero1 .button_section {
        width: 100%;
    }
    .features.hero1 .btn.orange {
        margin-bottom: 20px;
    }
    .thanks_about, .thanks_about h2, .thanks_about p, .thanks_about .thanks_img {
        text-align: center !important;
    }
    .thanks_about h2 {
        margin-top: 0 !important;
    }
}

/* Medium screens only */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .casestudy .static {
        line-height: 1.3;
    }
    .casestudy .prop-content p {
        display: block;
        text-align: center;
    }
    .casestudy .prop-icon1, .casestudy .prop-icon2, .casestudy .prop-icon3, .casestudy .prop-icon4 {
        display: block;
        float: none;
        margin: 0 auto 15px;
    }
}
