#header_v2 {
    background-color: #182530;
}

#menu-slidein-v2 {
    display: none;
    position: absolute;
    right: 0px;
    margin-left: -1000px;
    font-size: 1.2em;
}

#mobile-menu-v2-header-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 110px;
}

#mobile-menu-v2-header {
    clear: both;
}

#mobile-menu-v2-logo {
    background-color: #182530; width: 60%; float: left; padding-left: 20px;
}

#mobile-menu-v2-logo img {
    float: left; height: 70px; width: 180px;
}

@media only screen and (max-width: 372px) {
    #mobile-menu-v2-logo img {
        height: 66px;
        width: 170px;
    }
}

#mobile-menu-v2-icon {
    background-color: #182530; width: 40%; float: right; padding-right: 20px;
}

#mobile-menu-v2-icon img {
    float: right; height: 70px; width: 115px;
}

#mobile-menu-v2-persistent {
    clear: both; display: block; position: fixed; width: 100%; top: 70px; z-index: 4000;
}

#mobile-menu-v2-persistent-phone {
    background-color: #00aedb;float: left;height: 40px;text-align: center;width: 50%;
}

#mobile-menu-v2-persistent-phone a {
    color: #fff;font-size: 18px;margin-top: 7px;display: inline-block;
}

#mobile-menu-v2-persistent-phone a:hover {
    text-decoration: none;
}

#mobile-menu-v2-persistent #mobile-menu-v2-persistent-phone span.phone {
    display: inline-block;
    margin-top: 1px;
    background-image: url('/images/html/icon-mobile-device.png');
    height: 24px;
    width: 16px;
}

#mobile-menu-v2-persistent #mobile-menu-v2-persistent-phone span.number {
    display: inline-block;
    vertical-align: middle;
    margin: -15px 0 0 3px;
}

#mobile-menu-v2-persistent-cta {
    width: 50%; float: right; height: 40px; background-color: #ff5a00;
}

#mobile-menu-v2-persistent-cta a {
    color: #fff;display: inline-block;font-size: 20px;font-weight: 600;line-height: 38px;text-align: center;width: 100%;
}

@media only screen and (min-width: 1000px) {
    #menu-slidein-top-bar-v2 {
        display: none;
    }
}
@media only screen and (max-width: 999px) {
    #menu-slidein-top-bar-v2 {
        background-image: url('/images/menu-top-bar-bg.png');
        background-color: #3A464F;
        background-repeat: repeat-x;
        width: 100%;
        height: -70px;
    }
    #menu-slidein-top-bar-v2 h5#open-slidein-menu-v2 {
        position: relative;
        color: #f6f6f6;
        background-color: #008AAF;
        font-size: 1.1em;
        letter-spacing: 0.2em;
        font-weight: 300;
        border: solid 1px #008AAF;
        padding: 8px;
        top: 28px;
        left: 15px;
        margin: 0;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }
    #menu-slidein-logo-v2 {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #menu-slidein-logo-v2 p {
        width: 100%;
        text-align: center;
    }
    #menu-slidein-logo-v2 p img {
        height: 50px;
        position: relative;
        margin-left: 50px;
        top: -60px;
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 {
        background-color: #f1f1f1;
        width: 310px;
        margin: 0;
        padding: 0;
    }
    #menu-slidein ul.mobile-subnav li {
        font-size: 1em;
        color: #333333;
        font-weight: 100;
        border: solid 0px #f1f1f1;
        padding: 0px;
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 li a {
        display: block;
        font-size: 1em;
        color: #666666;
        font-weight: 200;
        border-bottom: solid 1px #d3d5d7;
        margin: 0 5px 0 5px;
        padding: 8px 0 7px 10px;
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 li a.no-bottom-subnav-border-v2 {
        display: block;
        font-size: 1em;
        color: #666666;
        font-weight: 200;
        border-bottom: solid 0px #d3d5d7;
        margin: 0 5px 0 5px;
        padding: 10px 0 5px 10px;
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 li a:visited {
        color: #666666;
        font-size: 1em;
        font-weight: 200;
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 li a:hover {
        color: #999999;
        font-size: 1em;
        font-weight: 200;
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 li.subnav-heading-v2 {
        margin: 15px 0 5px 15px;
        color: #666666;
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 li.menu-slidein-subnav-top-gradient-v2 {
        width: 309px;
        height: 12px;
        background-image: url('/images/html/menu_slidein_subnav_top_gradient.png');
    }
    #menu-slidein-v2 ul.mobile-subnav-v2 li.menu-slidein-subnav-bottom-gradient-v2 {
        width: 309px;
        height: 12px;
        background-image: url('/images/html/menu_slidein_subnav_bottom_gradient.png');
    }
    #menu-slidein-v2 ul {
        border-right: solid 1px #333333;
        list-style-type: none;
        margin-left: 0;
    }
    #menu-slidein-v2 ul li {
        color: #f6f6f6;
        font-size: 1em;
        font-weight: 500;
        border-bottom: solid 1px #616161;
        background-color: #3a464f;
    }
    #menu-slidein-v2 ul li.menu-slidein-item-v2 {
        background-color: #3a464f;
        padding: 12px 0 !important;
    }
    #menu-slidein-v2 ul li.menu-slidein-item-v2 img {
        display: inline;
        width: 30px;
    }
    #menu-slidein-v2 ul li.menu-slidein-item-v2 a {
        color: #B4B8BB !important;
        cursor: pointer;
        font-size: 1em;
        margin: 0 15px;
    }
    #menu-slidein-v2 ul li.menu-slidein-item-v2 a:hover,
    #menu-slidein-v2 ul li.menu-slidein-item-v2 a:active {
        color: #fff !important;
    }
    #menu-slidein-v2 ul li.no-bottom-border-v2 {
        border-bottom: 0px;
        padding: 15px 0 0;
    }
    #menu-slidein-v2 ul li.no-bottom-border-v2 a {
        padding-left: 15px;
        font-weight: normal;
    }
    #menu-slidein-v2 ul li.no-bottom-border-v2 a#menu-slidein-phone-v2 .phone {
        background: url('/images/icons/sprite_smallnav.png') no-repeat -17px -11px;
        display: inline-block;
        height: 45px;
        width: 30px;
    }
    #menu-slidein-v2 ul li.no-bottom-border-v2 a#menu-slidein-phone-v2 .number {
        left: 15px;
        position: relative;
        top: -16px;
    }
    #menu-slidein-v2 .pencil {
        background: url('/images/icons/sprite_smallnav.png') no-repeat -83px -11px;
        display: inline-block;
        height: 45px;
        width: 30px;
    }
    #menu-slidein-v2 .contact {
        color: #B4B8BB;
        left: 15px;
        position: relative;
        top: -16px;
    }
    #menu-slidein-v2 ul li.no-bottom-border-v2 a:hover,
    #menu-slidein-v2 ul li.no-bottom-border-v2 a:visited {
        font-weight: normal;
        color: #ffffff;
    }
    #menu-slidein-v2 ul li.menu-slidein-item-expand-benefits-v2 {
        padding: 12px 15px 0px 0;
        background-image: url('/images/html/menu-slidein-dropdown-arrow.png');
    }
    #menu-slidein-v2 ul li.menu-slidein-item-expand-features-v2 {
        padding: 12px 15px 0px 0;
        background-image: url('/images/html/menu-slidein-dropdown-arrow.png');
    }
    #menu-slidein-v2 ul li.menu-slidein-item-expand-happy-customers-v2 {
        padding: 12px 15px 0px 0;
        background-image: url('/images/html/menu-slidein-dropdown-arrow.png');
    }
    #menu-slidein-v2 ul li.menu-slidein-item-expand-support-v2 {
        padding: 12px 15px 0px 0;
        background-image: url('/images/html/menu-slidein-dropdown-arrow.png');
    }
    #menu-slidein-v2 ul li.menu-slidein-item-expand-about-v2 {
        padding: 12px 15px 0px 0;
        background-image: url('/images/html/menu-slidein-dropdown-arrow.png');
    }
    #menu-slidein-v2 ul li.menu-slidein-item-expand-login-v2 {
        padding: 12px 15px 0px 0;
        background-image: url('/images/html/menu-slidein-dropdown-arrow.png');
    }
    #menu-slidein-v2 ul li#menu-slidein-close-icon-v2 {
        background-color: #202D37;
        height: 71px;
    }
    #menu-slidein-v2 ul li.mobile-menu-list-item-spacer-v2 {
        color: #f6f6f6;
        font-weight: bold;
        border-bottom: solid 0px #616161;
    }
    #menu-slidein-v2 ul li a {
        display: block;
        font-weight: bold;
        color: #B4B8BB;
        text-decoration: none;
    }
    #menu-slidein-v2 ul li a:hover,
    #menu-slidein-v2 ul li a:visited {
        font-weight: bold;
        color: #ffffff;
    }
    #menu-slidein-v2 ul li a#menu-slidein-tif-btn-v2 {
        display: inline;
        position: relative;
        background-color: #FF5A00;
        font-size: 1.15em;
        color: #f6f6f6;
        text-decoration: none;
        left: 20px;
        padding: 8px 18px 8px 18px;
        top: -3px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }
    #menu-slidein-v2 #menu-slidein-close-icon-v2 span {
        background: url('/images/icons/sprite_smallnav.png') no-repeat -205px -10px;
        cursor: pointer;
        display: inline-block;
        height: 45px;
        left: 41px;
        position: relative;
        top: 13px;
        width: 45px;
    }
    #menu-slidein-v2 ul li .expand-mobile-nav-v2 {
        cursor: pointer;
        font-weight: bold;
        color: #B4B8BB;
        margin: 0 0 10px 15px;
    }
    #menu-slidein-v2 ul li .expand-mobile-nav-v2:hover {
        color: #ffffff;
    }
    ul.menu-slidein-ul-v2 {
        position: absolute;
        z-index: 5001;
        margin-top: -110px;
        background-color: #3A464F;
        max-width: 310px;
        min-width: 310px;
        width: 80%;
        height: 100%;
    }
    #menu-slidein-search-v2 {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        color: #5a636b;
        margin: 15px auto;
        padding-left: 40px;
        width: 280px;
    }
    #menu-slidein-bg-v2 {
        position: absolute;
        right: 0px;
        z-index: 5000;
        background-image: url('/images/html/menu-slidein-shadow-v2.png');
        width: 100%;
        height: 100%;
        margin-top: -110px;
        margin-left: -1000px;
    }
    #mobile-subnav-benfits-list-v2, a#mobile-subnav-benfits-collapse-v2,
    #mobile-subnav-features-list-v2, a#mobile-subnav-features-collapse-v2,
    #mobile-subnav-happy-customers-list-v2, a#mobile-subnav-happy-customers-collapse-v2,
    #mobile-subnav-support-list-v2, a#mobile-subnav-support-collapse-v2,
    #mobile-subnav-about-list-v2, a#mobile-subnav-about-collapse-v2,
    #mobile-subnav-login-list-v2, a#mobile-subnav-login-collapse-v2 {
        display:none;
    }
    #mobile-subnav-features-list-v2,
    #mobile-subnav-happy-customers-list-v2,
    #mobile-subnav-support-list-v2,
    #mobile-subnav-about-list-v2 {
        padding-bottom: 12px;
    }
    #mobile-subnav-benfits-list-v2 .subnav-heading-v2,
    #mobile-subnav-features-list-v2 .subnav-heading-v2,
    #mobile-subnav-happy-customers-list-v2,
    #mobile-subnav-support-list-v2,
    #mobile-subnav-about-list-v2,
    #mobile-subnav-lgin-list-v2 {
        border-bottom: 0 !important;
    }
    #mobile-subnav-benfits-list-v2 li,
    #mobile-subnav-features-list-v2 li,
    #mobile-subnav-happy-customers-list-v2 li,
    #mobile-subnav-support-list-v2 li,
    #mobile-subnav-about-list-v2 li,
    #mobile-subnav-login-list-v2 li {
        background-color: #F1F1F1 !important;
        border-bottom: 0 !important;
    }
}
