#header_v2 .f-top-bar {
    max-width: 1000px;
    padding-top: 0;
    position: relative;
    margin: 0px auto;
}
#header_v2 .f-top-bar ul {
    height: 35px;
}
#header_v2 .f-top-bar ul li {
    position: relative;
    font-weight: 400;
    font-size: 1em;
    display: inline;
    line-height: 33px;
    margin: 0 30px 0 0;
}
#header_v2 .f-top-bar ul li:last-child {
    margin: 0;
}
#header_v2 .f-top-bar ul li a {
    font-size: 1.1em;
    font-weight: 600;
}
#header_v2 .f-top-bar ul li a:hover {
    border-bottom: solid 3px #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
}
#header_v2 .f-top-bar ul li a.btn-orange {
    background-color: #ff5a00;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    height: 35px;
    padding: 0 20px;
    text-decoration: none;
}
#header_v2 .f-top-bar ul li a.btn-orange:hover {
    background-color: #e54e03;
    border-bottom: none !important;
    text-decoration: none;
}
#header_v2 .apm-nav-logo {
    margin: 16px 0 0;
}
#footer_sub_v2 {
    background-color: #182530;
    margin-top: 20px;
    padding: 40px 0 50px;
    text-align: center;
}
/* version 2 test */
#header_v2 #menu {
    float: left;
    margin: 24px auto 0;
}
#header_v2 #menu > li {
    margin: 9px 0 0;
}
#header_v2 #menu .drop {
    position: relative;
}
#header_v2 #menu .drop:hover span {
    border-bottom: 3px solid #0b1723;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
}
#header_v2 #menu .nav_on span {
    border-bottom: 3px solid #0b1723;
    display: block;
    position: relative;
    top: -2px;
}
#header_v2 .menuitem-2column a:hover, #header_v2 .col_1 a:hover {
    border-bottom: 3px solid #0b1723;
    padding-bottom: 2px !important;
}
#header_v2 #menu .benefits:hover span {
    width: 61px;
}
#header_v2 #menu .features:hover span {
    width: 66px;
}
#header_v2 #menu .happy:hover span {
    width: 130px;
}
#header_v2 #menu .pricing:hover span {
    width: 54px;
}
#header_v2 #menu .about:hover span {
    left: 14px;
    width: 48px;
}
#header_v2 #menu .blog:hover span {
    width: 36px;
}
#header_v2 #menu li .drop:hover {
    color: #0b1723;
}
#header_v2 #menu li .drop, #header_v2 #menu li .drop:hover {
    font-weight: bold;
    margin: 0;
    padding: 0 14px;
}
#header_v2 #menu li:hover .drop {
    background: none;
    background-color: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #0b1723;
    margin-bottom: 0;
    padding-bottom: 34px;
}
#header_v2 li .dropdown_3columns, #header_v2 li .dropdown_1column {
    top: 15px;
}
#header_v2 .trans_menu {
    background-color: transparent;
    height: 28px;
}
#header_v2 .menu_list {
    background-color: #eee;
    padding: 14px 20px 5px;
}
#header_v2 .subheader .dropdown_1column {
    padding-bottom: 0;
    top: 17px;
}
#header_v2 #menu h2 {
    font-size: 14px;
    font-weight:600;
    letter-spacing: 0px;
    margin: 0 10px 5px 10px;
    padding-top: 10px;
    clear: both;
    color: #0b1723;
}
#header_v2 #menu li div a {
    color: #36404a;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 18px;
    padding: 5px 10px;
    margin: 0;
}
#header_v2 #menu li div a:hover {
    background: none;
    color: #000e1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    line-height: 18px;
    margin-left: 10px;
    padding: 5px 0;
}
#header_v2 .col_1 {
    left: -36px !important;
    width: 270px !important;
}
#header_v2 .dropdown_1column, #header_v2 .dropdown_3columns {
    background: none !important;
    border-top: none;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    float: left;
    left: -999em; /* Hides the drop down */
    margin: 0 auto 0 1px;
    position: absolute;
    text-align: left;
    z-index: 20000;
}
#header_v2 .dropdown_1column {
    padding-bottom: 15px;
}
#header_v2 .show_list {
    left: 25px;
    position: relative;
}



/* top bar menu start */
#header_v2 #topbarmenu {
    float: left;
    margin: 24px auto 0;
}
#header_v2 #topbarmenu > li {
    margin: 9px 0 0;
}
#header_v2 #topbarmenu .drop {
    position: relative;
}
#header_v2 #topbarmenu .drop:hover span {
    border-bottom: 3px solid #0b1723;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
}
#header_v2 .menuitem-2column a:hover, #header_v2 .col_1 a:hover {
    border-bottom: 3px solid #0b1723;
    padding-bottom: 2px !important;
}
#header_v2 #topbarmenu .login:hover span {
    width: 61px;
}
#header_v2 #topbarmenu li .drop:hover {
    color: #0b1723;
}
#header_v2 #topbarmenu li .drop, #header_v2 #topbarmenu li .drop:hover {
    font-weight: bold;
    margin: 0;
    padding: 0 14px;
}
#header_v2 #topbarmenu li:hover .drop {
    background: none;
    background-color: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #0b1723;
    margin-bottom: 0;
    padding-bottom: 34px;
}
#header_v2 li .dropdown_3columns, #header_v2 li .dropdown_1column {
    top: 15px;
}
#header_v2 .trans_menu {
    background-color: transparent;
    height: 28px;
}
#header_v2 .menu_list {
    background-color: #eee;
    padding: 14px 20px 5px;
}
#header_v2 .subheader .dropdown_1column {
    padding-bottom: 0;
    top: 17px;
}
#header_v2 #topbarmenu h2 {
    font-size: 14px;
    font-weight:600;
    letter-spacing: 0px;
    margin: 0 10px 5px 10px;
    padding-top: 10px;
    clear: both;
    color: #0b1723;
}
#header_v2 #topbarmenu li div a {
    color: #36404a;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 18px;
    padding: 5px 10px;
    margin: 0;
}
#header_v2 #topbarmenu li div a:hover {
    background: none;
    color: #000e1a;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    line-height: 18px;
    margin-left: 10px;
    padding: 5px 0;
}
#header_v2 .col_1 {
    left: -36px !important;
    width: 270px !important;
}
#header_v2 .dropdown_1column, #header_v2 .dropdown_3columns {
    background: none !important;
    border-top: none;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    float: left;
    left: -999em; /* Hides the drop down */
    margin: 0 auto 0 1px;
    position: absolute;
    text-align: left;
    z-index: 20000;
}
#header_v2 .dropdown_1column {
    padding-bottom: 15px;
}
#header_v2 .show_list {
    left: 25px;
    position: relative;
}
/* top bar menu end */


#footer_sub_v2 h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 11px;
}
#footer_sub_v2 p {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    line-height: 26px;
    margin: 0 auto 25px;
    width: 765px
}
#footer_sub_v2 span {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-left: 12px;
}
#footer_sub_v2 span a {
    color: #fff;
    font-size: 17px;
}
#footer_sub_v2 a.btn-orange {
    background-color: #ff5a00;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 12px;
    padding: 10px 27px;
    text-decoration: none;
}
#footer_sub_v2 a.btn-orange:hover {
    background-color: #e54e03;
    text-decoration: none;
}
#footer_v2 {
    margin-bottom: -18px;
    padding-top: 50px;
}
#footer_v2 h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 11px;
}
#footer_v2 p, #footer_v2 li, #footer_v2 a {
    color: #899095;
    font-size: 13px;
}
#footer_v2 .share span {
    background-image: url('/images/html/sprite_social.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 31px;
    margin: 0 15px 13px 0;
    width: 30px;
}
#footer_v2 .share a, #footer_v2 .share a:hover {
    text-decoration: none;
}
#footer_v2 .share span.last {
    margin-right: 0;
}
#footer_v2 .share .facebook {
    background-position: -2px -1px;
}
#footer_v2 .share .twitter {
    background-position: -2px -38px;
}
#footer_v2 .share .linkedin {
    background-position: -2px -69px;
}
#footer_v2 .share .instagram {
    background-position: -2px -103px;
}
#footer_v2 .share .youtube {
    background-position: -2px -137px;
}
#footer_v2 .share .blog {
    background-position: -2px -171px;
}
#footer_v2 .f-footer {
    background-color: #0b1723;
}
#footer_v2 .f-footer ul li {
    margin: 0 0 7px;
}
@media only screen and (max-width: 940px) {
    #footer_v2 .share span.linkedin {
        margin-right: 15px;
    }
}
#footer_v2 .awards {
    float: right;
    margin-right: 25px;
}
#footer_v2 .awards span {
    background: url('/images/sprite/footer_sprite.png') no-repeat;
    display: inline-block;
    margin-right: 20px;
}
#footer_v2 .awards .advice {
    background-position: -133px 0;
    height: 75px;
    width: 112px;
}
#footer_v2 .awards .biz {
    background-position: -1px 0;
    height: 75px;
    width: 63px;
}
#footer_v2 .awards .it {
    background-position: -68px 0;
    height: 75px;
    width: 59px;
}
#footer_v2 .awards .last {
    margin-right: 0;
}
#footer_v2 .trustpilot-widget {
    display: inline-block;
    float: right;
    width: 140px;
}
#footer_v2 label {
    color: #899095;
    font-size: 13px;
    margin: 10px 0 -11px;
}
#footer_v2 .copy_awards {
    margin-top: 125px;
}
#footer_v2 .copyright.small {
    display: none;
}
#footer_v2 .copyright.big {
    display: block;
}
#footer_v2 .copyright.big {
    margin-top: 55px;
}
#footer_v2 #mktoForm_1250 {
    height: 36px;
    width: 234px !important;
}
@media only screen and (max-width: 865px) {
    #footer_sub_v2 p {
        width: auto;
    }
}
#mktoForm_1250 {
    margin-top: 15px;
}
#mktoForm_1250 .mktoLabel, #mktoForm_1250 .mktoOffset, #mktoForm_1250 .mktoGutter {
    display: none;
}
#mktoForm_1250 input {
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    height: 35px;
    padding-left: 10px;
    width: 200px !important;
}
#mktoForm_1250 input[type=email] {
    color: #5a636b;
}
.mktoButtonWrap {
    display: inline-block;
}
#mktoForm_1250 .mktoButton {
    background-color: #00aedb;
    border: 0 none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    display: inline-block;
    font-family: "Andale Mono";
    font-size: 35px;
    font-weight: 200;
    height: 35px;
    line-height: 37px;
    padding-left: 9px;
    position: absolute;
    right: -234px;
    top: -40px;
    width: 35px;
}
#mktoForm_1250 .mktoButton:hover {
    background-color: #03bfea;
}
#mktoForm_1250 .mktoButtonWrap {
    margin: 0 !important;
}
@media only screen and (min-width: 1000px) {
    #header_v2 .f-top-nav-outer {
        height: 35px;
    }
    #header_v2 .f-header {
        margin-left:auto;
        margin-right:auto;
        width: 100%;
        height: 35px;
        background-color: #0b1723;
        text-align: right;
    }
    #header_v2 .f-top-nav {
        background-color: #fff;
        background-image: none;
        border-bottom: solid 1px #798288;
        height: 90px;
    }
    /* Headroom.js */
    #header_v2 .headroom-top-space {
        padding-top: 125px;
    }
    #header_v2 .headroom-topnav {
        padding-top: 35px;
    }
}
@media only screen and (min-width: 769px) {
    #footer_v2.f-container-footer {
        background-color: #0b1723;
    }
}
@media only screen and (max-width: 768px) {
    #footer_v2.f-container-footer {
        background-color: #0b1723;
    }
    #footer_v2 h3 {
        margin-top: 25px;
    }
    #footer_v2 #mktoForm_1250, #footer_v2 #mktoForm_1250 .mktoButton {
        padding: 0;
    }
    #footer_v2 .copy_awards {
        margin-top: 45px;
    }
    #footer_v2 .awards {
        float: left;
    }
    #footer_v2 .trustpilot-widget {
        float: none;
    }
    #footer_v2 .copyright.big {
        display: none;
    }
    #footer_v2 .copyright.small {
        clear: left;
        display: block;
        margin-top: 55px;
    }
    #footer_v2 .awards span {
        margin-right: 10px;
    }
    #footer_v2 .f-footer {
        padding-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    #mktoForm_1250 input#Email {
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
        width: 200px !important;
    }
    #mktoForm_1250 .mktoButton {
        border-radius: 0 5px 5px 0;
        right: -234px;
        top: -40px;
    }
}
@media only screen and (max-width: 480px) {
    #footer_sub_v2 span {
        display: block;
        margin: 10px 0 0 0;
    }
}
@media only screen and (max-width: 475px) {
    #footer_v2 .trustpilot-widget {
        float: left;
        margin-bottom: 20px;
    }
    #footer_v2 .copyright.small {
        float: left;
    }
}

.message-modal-container {
    max-width: 600px; margin-top: 150px; margin-left: auto; margin-right: auto; background-color: #fff;
}

#mailing-list-confirmation-modal, #webinar-confirmation-modal {
    position: fixed; top: 0px; height: 100%; width: 100%; background-color: rgba(0,0,0,0.50); z-index: 100; padding: 100px; display: none;
}
#mailing-list-confirmation-modal-close, #webinar-confirmation-modal-close {
    text-align: right; width: 100%; font-weight: 500; font-size: 2em; color: #000; margin-bottom: 50px;
}
.message-modal-container p span.close {
    -webkit-font-smoothing: antialiased;
    font-size: 2.2rem;
    line-height: .5;
    padding: 10px;
    color: #aaa;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    cursor: pointer;
}
.message-modal-container p span.close:hover {
    text-decoration: underline;
}
.message-modal-container h5 {
    text-align: center; color: #000; font-size: 2.5em; padding: 0 15px 75px 15px;
}

@media only screen and (max-width: 999px) {
    .message-modal-container {
        margin-top: 30px;
    }
    .message-modal-container h1 {
        font-size: 1.8em;
    }
}

.top-menu-wrapper {
    z-index: 499;
    position: fixed;
    margin: auto;
    width: 100%;
    background-color: none;
}
#top-bar-login {
    width: 1000px;
    margin: auto;
}
#top-bar-login-menu {
    color: #eeeeee;
    padding: 10px;
    background-color: #31414a;
    position: relative;
    left: 750px;
    top: 35px;
    width: 217px;
}
#top-bar-login-menu ul {
    padding: 6px 0 8px 0;
}
#top-bar-login-menu ul li {
    padding: 7px 18px 7px 18px;
}
#top-bar-login-menu ul li a {
    color: #fff;
    padding-bottom: 3px;
}
#top-bar-login-menu ul li a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: solid 3px #fff;
}
#topmenulogin {
    padding-bottom: 7px;
}
