/* CSS Document */
HTML {height:100%; font-size:100.01%}
BODY {height:100%; margin:0;  padding:0; font:normal 75% verdana,tahoma,arial,helvetica,sans-serif; color:#3c3c3c; background-color:#fff}
.allpage {width:100%; width: expression((documentElement.clientWidth||document.body.clientWidth)< 1004? '1004px': ((documentElement.clientWidth||document.body.clientWidth)> 1260? '1260px': 'auto')); min-width:1004px; max-width:1280px; height:auto;  min-height:100%; margin:0 auto}
* html .allpage {height:100%}
.allpageinner {padding-bottom:110px}
*+ html .allpageinner {float:left; width:100%} /* for IE7 */
* html .allpageinner {float:left; width:100%} /* for IE6 */
.footer {width:100%; height:70px; margin:-70px auto 0 auto; position:relative; background-color:#eee}


TD, TH, UL, OL, LI, INPUT, TEXTAREA, SELECT, LABEL, BUTTON {font:normal 1em verdana,tahoma,arial,helvetica,sans-serif}
UL {margin:0; padding:0; list-style-type:none}
FORM {margin:0}
IMG {border:0}
A {color:#0857A6; text-decoration:underline}
A:hover {color:#333}
.red {color:#cc0000}
.gray {color:#9c9c9c}
.fl {float:left}
.fr {float:right}
.cb {clear:both}
.float100 {float:left; width:100%}
.clear {width:100%; clear:both; font-size:0; line-height:0}
.text {border:1px solid #ccc}
INPUT, SELECT {vertical-align:middle}
.nowrap {white-space:nowrap}

.pb5 {padding-bottom:5px}
.pb20 {padding-bottom:20px}
.mb20 {margin-bottom:20px}
.mr20 {margin-right:20px}

.font09 {font-size:0.9em}
.font12em {font-size:1.2em}

.userbar {float:left; width:100%; background-color:#eee; padding:5px 0; text-align:right; font-size:0.9em}
.userbar .fl {padding-left:20px}
.userbar .fr {padding-right:20px}
.userbarlinks {margin-right:20px}
.userbarlinks A {padding:2px 0 2px 20px; margin-left:5px; background:url(/images/main_new/icons.png) no-repeat}
.userbarlinks .stat {background-position:0 -197px}
.userbarlinks .blog {background-position:0 -215px}
.userbarlinks .mail {background-position:0 -233px}
.username {font-weight:bold}
.userlinks {color:#999}
.userlinks A {margin:0 2px}
.exit {}

.header {float:left; width:100%; padding:10px 0 40px 0}
.logobox {float:left; width:235px; padding-left:20px; margin:25px 0px 10px -100%}
.logobox_23feb {float:left; width:235px; padding-left:20px; margin:5px 0px 10px -100%}
.logobox_8m {float:left; width:235px; padding-left:20px; margin:15px 0px 10px -100%}

.logo_23feb {display:block; width:224px; height:52px; background:url(http://i.li.ru/images/logo/logo-23-fev.png) no-repeat 0 0}
.logo_23feb SPAN {position:absolute; top:-3000px; left:-3000px}
.logo_8m {display:block; width:220px; height:52px; background:url(http://i.li.ru/images/main_new/logo-8m.3.png) no-repeat 0 0}
.logo_8m SPAN {position:absolute; top:-3000px; left:-3000px}

.logo {display:block; width:184px; height:25px; background:url(http://i.li.ru/images/main_new/logo2.png) no-repeat 0 0}
.logo SPAN {position:absolute; top:-3000px; left:-3000px}
.logobox P {margin:0; padding-top:5px; font-size:0.9em}
.headerlinks {float:left; width:220px; margin-left:-220px}
.search {margin:15px 250px 0 250px; height:35px; position:relative}
.searchlinks {padding:5px 0 0 7px}
.searchlinks INPUT {margin-left:10px; vertical-align:-4px}
.textbox {overflow:hidden; border:5px solid #5aabe1; padding:8px 37px 10px 5px}
.search .text {width:99%; height:22px; padding:0; border:0; background-color:#fff; font-size:18px; line-height:22px; outline:none}
.searchbutton {float:left; width:77px; padding:0 0 0 10px; margin:-15px 0 0 -87px}
.searchbutton INPUT {position:absolute; top:5px; right:5px; width:40px; height:40px; padding-top:39px; border:0; background:#5aabe1 url(/images/main_new/icons.png) no-repeat 12px -247px; font-size:0; color:#fff; cursor:pointer}

.statistics {clear:both; padding:7px 10px; background-color:#eee; margin:0 20px 30px 20px}

H2 {font-size:1.4em; font-weight:normal; margin:0 0 10px 0; padding:0 0 3px 0; color:#6a6a6a; border-bottom:1px solid #e5e5e5}
H2 A {color:#6a6a6a; ltext-decoration:none}

.box {padding:10px 0 20px 0}
.box H2 {display:inline; border:0; margin-right:10px}
.box H2 A {text-decoration:underline}

.rating UL {float:left; width:33%; padding-top:10px}
.rating LI {padding:0 10px 5px 0}

.bloglist {width:100%; padding-top:10px}
.bloglist LI {float:left; width:100%; padding-bottom:6px}
.bloglist .title {float:left; width:60%; white-space:nowrap; overflow:hidden}
.bloglist .user {float:left; width:36%; padding-left:2%; white-space:nowrap; overflow:hidden}
.bloglist .icon {margin-right:5px}

.createmail {float:left; display:block; padding-top:65px; font-size:10px; text-align:center; background:url(/images/main_new/glumshadow/srv-mail.png) no-repeat 50% 0; margin:0 20px}
.createtalk {float:left; display:block; padding-top:65px; font-size:10px; text-align:center; background:url(/images/main_new/glumshadow/srv-talk2.png) no-repeat 50% 0; margin:0 20px}

.rightcolumn {margin:0 20px 0 550px}
.leftcolumn {float:left; width:500px; margin-left:-100%; padding-left:20px}


.icon {display:inline-block; font-size:0; line-height:0; vertical-align:middle;  background:url(/images/main_new/icons.png) no-repeat}
.rss {width:14px; height:14px; background-position:0 -81px}
.dollar {width:14px; height:16px; background-position:0 -96px; margin-right:5px}
.euro {width:14px; height:16px; background-position:0 -113px; margin-right:5px}
.girl {width:16px; height:16px; background-position:0 -146px}
.boy {width:16px; height:16px; background-position:0 -162px}
.all {width:16px; height:16px; background-position:0 -179px}

.weathericon {display:inline-block; width:16px; height:16px; margin:0 5px; font-size:0; line-height:0; vertical-align:-3px; background:url(/images/main_new/icons.png) no-repeat}
.cloudy {background-position:0 -387px}
.rain {background-position:0 -337px}
.snow {background-position:0 -320px}
.partlysunny {background-position:0 -355px}
.sunny {background-position:0 -287px}
.lightning {background-position:0 -371px}
.snowshower {background-position:0 -304px}



.advertisement {padding-bottom:20px}
.advertisement LI {padding-bottom:10px}
.advertisement H3 {font-size:1.2em; font-weight:normal; margin:0; padding:0 0 5px 0}
.advertisement H3 A {color:#4e4e4e; text-decoration:underline}
.advertisement B {font-weight:normal}

.recomended UL {float:left; width:49%}
.recomended LI {width:100%; padding-bottom:5px; overflow:hidden}

.gifts {position:relative; min-height:71px; margin-bottom:20px; padding-left:70px;}
.gifts {background:url(http://static.li.ru/images/technohelp-logo.png) no-repeat 0 0;}
.gifts8m {background:url(http://static.li.ru/images/darilka_8m.jpg) no-repeat 0 0;}
.a-gifts {background:url(/images/main_new/darilka_baloon.png) no-repeat 0 0;}
.w-gifts {background:url(/images/main_new/darilka_ny.jpg) no-repeat 0 0;}
.y-gifts {background:url(/images/main_new/kinderpingui.jpg) no-repeat 0 0;}
.x-gifts h2 {width: 340px;}
.x-gifts h2 a {display:block; padding-left:135px;}
.x-gifts {background:url(/images/main_new/health.png) no-repeat 0 3px;}
.gifts_logo { display:block; width:71px;height:71px; position:absolute;top:0;left:0; text-indent: -777em; } 


.news {float:left; width:100%; padding-bottom:20px}
.news IMG {float:left; margin-right:10px}
.news UL {margin-left:115px}
.news LI {overflow:hidden; padding:0 0 6px 12px; background:url(/images/main_new/gray_bullet.gif) no-repeat 0 0.4em}
.news table tr a {display:block; max-height: 30px; overflow: hidden;}

.currency {float:left; width:40%; padding-bottom:20px}
.currency LI {padding-bottom:5px}

.promo {width:700px;}
.z-promo_currency { float:left; width:45%; margin:-10px 0 20px -10px; border: 1px solid #518fe3;}
.z-promo_currency .currency {width:auto; padding:10px; }
.z-promo_currency_logo { display:block;width:76px;height:54px; margin:15px 0 10px 10px; float:left; background:url(/images/main_new/promo/currency/mmisc/logo2.png) no-repeat 100% 0; text-indent:-777em; }
.promo_currency { float:left; width:45%; margin:-10px 0 20px -10px; border: 1px dotted #a82e23;}
.promo_currency .currency {width:auto; padding:10px; }
.promo_currency_logo { display:block;width:110px;height:100px; float:left; background:url(/images/main_new/promo/currency/instaforex/logo3.png) no-repeat 50% 50%; text-indent:-777em; }


.weather {float:right; width:54%}
.weather LI {padding-bottom:5px}


.tvbox {float:left; width:100%; padding-bottom:20px}
.tvbox .prev {float:left; margin-right:15px}
.tvlogo {border:1px solid #d5d5d5; vertical-align:middle; margin-right:5px}
.tvbox P {margin:0}

.tv {padding-bottom:20px}
.tv LI {padding:1px 0 5px 20px; background:url(/images/main_new/icons.png) no-repeat 0 0}

.service UL {float:left; width:33%}
.service LI {padding-bottom:5px}

.footerinner {padding:20px 20px 0 20px; font-size:0.9em}
.footerinner A {color:#333; text-decoration:underline}
.counter {float:left}
.copy {float:left; padding:0 0 0 20px}
.bottommenu {float:left; padding:0 0 0 40px} 
.bottommenu DIV {padding-bottom:5px}
.bottommenu A {margin:0 3px}

.font07 {font-size:0.7em}
.statisticbox {height:1.9em; font-size:0.9em; padding-top:5px; color:#9c9c9c}

.li-serv_popup {
	position:absolute; top:23px; width:250px;
	background-color:#eee;
	-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px; 
	-webkit-box-shadow: 5px 5px 7px #CCC;-moz-box-shadow: 5px 5px 7px #CCC;box-shadow: 5px 5px 7px #CCC;
	}
	.li-serv_popup strong {
		display:block; padding:10px 13px;
		background:#666;color:#FFF; font-size:11px;
		-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;
		}
	.li-serv_popup em {
		display:block; position:absolute;top:7px;right:15px;
		font-style:normal; color:#FFF; cursor:pointer; border-bottom:#FFF 1px dotted;
		}
	.li-serv_popup form {
		padding:0 13px 13px 13px;
		}
		.li-serv_popup form p {
			}
			.li-serv_popup form p b {
				display:block;
				}
			.li-serv_popup form p input, .li-serv_popup form p select {
				display:block; width:215px;padding:2px;]
				}
		.li-serv_popup form span {
			position:relative; display:block;
			}
			.li-serv_popup form span input {
				position:absolute; top:0;right:0;
				}

.news_rbc {padding:5px 5px 5px 26px;float:left;}
.news_rbc {background:#f1f1f1 url(http://www.rbc.ru/favicon.ico) no-repeat 5px 50%;}
.news_rbc a {color:#536f3c;}				
.news_ibk {padding:5px 5px 5px 26px;float:left;}
.news_ibk {background:#f1f1f1 url(http://www.ibk.ru/favicon.ico) no-repeat 5px 50%;}
.news_ibk a {color:#536f3c;}				

.highlight {
	display: inline-block;
	padding: 2px 5px 4px 5px;
	background:#fff8cd;
	font-size: 11px;
	font-weight: normal;
	border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
	}
	.highlight a {
		color: #c66700;
		text-decoration: none;
		}
	.highlight a:hover {
		text-decoration: underline;
		}

.header_v1 {
	margin-bottom:-30px;
	}
	.header_v1 .search {
		margin-right:28px;
		}
.header_v2 {
	}
	.header_v2 .headerlinks {
		float:left;
		margin-left:-100%;
		margin-top:20px;
		}
.leftcolumn_v2 {
	width: 600px;
	}
	.leftcolumn_v2 .weather {
		float:left;
		width:100%;
		margin-bottom:25px;
		border-bottom:#e4e4e4 1px solid;
		}
		.leftcolumn_v2 .weather h2 {	
			float:left;
			margin-right:20px;
			border-bottom:none;
			}
			.leftcolumn_v2 .weather h2 a {
				display:block;
				float:left;
				margin-right:10px;
				}
			.leftcolumn_v2 .weather h2 b {
				display:block;
				float:left;
				margin-top: 5px;
				}
		.leftcolumn_v2 .weather ul {
			margin-top:2px;
			}
			.leftcolumn_v2 .weather ul li {
				float:left;
				margin-right:15px;
				font-size:12px;
				}
				.leftcolumn_v2 .weather ul li span {
					font-weight:bold;
					}
				.leftcolumn_v2 .weather ul li i {
					font-style:normal;
					font-size:14px;
					}
				.leftcolumn_v2 .weather ul li i.day {
					color:#fcbe06;
					}
				.leftcolumn_v2 .weather ul li i.night {
					color: #336699;
					}					
	.leftcolumn_v2 .promo_currency {
		width:320px;
		margin-right:10px;
		}
	.leftcolumn_v2 .currency {
		margin-right:20px;
		}
	.leftcolumn_v2 .gifts {
		float:left;
		width:215px;
		}
.rightcolumn_v2 {
	margin-left: 650px;
	}
	

/* -----------| Notify popups |----------- */
	.li-notify {	
		position:fixed;
		top:170px;
		right:10px;
		left: auto;
		width:250px
		}
		.li-notify_i {
			width: 250px;
			float: right;
			}
		.li-notify_popup {
			width:230px;
			float:right;
			margin-bottom:10px;
			padding:10px 15px 10px 31px;
			position:relative;
			font-size:12px;
			background-color:#EEE;
			background-image:url(/ReActive/i/global/li-notify/info-16x16.png);
			background-position: 9px 9px;
			background-repeat: no-repeat;
			border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.50);
			-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.50);
			-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.50);						
			z-border: #67a7ee 3px solid;
			border: #999 3px solid;
			}
		.li-notify_popup_success {
			border: #7fb939 3px solid;
			}						
		.li-notify_popup_error {
			border: #c9372a 3px solid;
			background-image:url(/ReActive/i/global/li-notify/error-16x16.png);
			}		
			.li-notify_popup i {
				position:absolute;
				top:10px;
				right:10px;
				font-weight:bold;
				font-style:normal;
				cursor:pointer;
				}
	.li-notify.li-notify_Netbook {
		top: auto;
		right: 10px;
		bottom: 10px;
		}	