@CHARSET "UTF-8";
/**
 * 内容部分
 */
#ring_channels {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 996px;
}
.channel-list {
    margin: 0 -6px;
	box-sizing: border-box;
	display: table;
	content: " ";
	list-style: none;
	width: 696px;
	overflow: hidden;
    height: 365px;
}

.channel-list li {
    float: left;
    padding: 0 6px;
    width: 33%;
	box-sizing: border-box;

}

.channel-cover-wp {
    position: relative;
    height:86px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
}

.channel-cover-wp .mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}
.channel-cover-wp:hover .mask {
	opacity: 0.1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
}
.channel-cover-wp img {
    position: absolute;
    top: 0;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.tit, .txt-1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #FAFAFA;
}

.txt {
    visibility: hidden;
}
.txt.txt-1 {
    top: -50%;
    visibility: visible;
}
.xtag {
    display: block;
    padding: 0 20px;
	text-shadow:1px 1px 4px rgba(0,0,0,.99)
}

.channel-cover-wp a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.channel-list .sound-container {
	width: auto;
	width: initial;
    height: 252px;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow:0 1px 0 0 rgba(122,122,122,0.2);
	margin: auto;
	margin: initial;
}

.sound-container .sound {
    width:198px;
    padding: 10px;
    height: 36px;
    border-bottom: 1px solid #EBEBEB;
	transition: .1s;
	cursor: auto;
}

.sound-container .sound:hover {
	background:#eee;
}

.sound-container .img {
    width: 20px;
    overflow: hidden;
    float: left;
    position: relative;
	top:-1px;
	left:5px;
	font-family: arial,simsun,sans-serif;
	font-size: 13px;
    color: #999;
}
.sound-container img {
    width: 36px;
    height: 36px;
}
.sound-container  .title {
    height: 36px;
    float: left;
    margin-left: 8px;
    line-height: 36px;
    width: 138px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
	font-size: 13px;
}

.sound-container .title a{
	color:#000;
}
.sound-container  .title a:hover {
    text-decoration: underline;
}
.rings_square{
	position:absolute;
	right: 0;
    top: -2px;
    border: 1px solid #ccd0d7;
    width: 104px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #000;
    font-size: 14px;
    border-radius: 4px;
    transition: .1s;
}
.rings_square .icon-more {
    content: '';
    display: inline-block;
    width: 6px;
    height: 12px;
    background: url(http://static.missevan.com/mimages/201512/10/c5f47dc05c176bb66a5973ad41e70182183341.png) -478px -218px no-repeat;
    vertical-align: middle;
    margin: -1px 0 0 5px;
}
.rings_square:hover {
    background-color: #dbdbdb;
}
.sound-container .tools {
    float: right;
    position: relative;
    box-sizing: border-box;
    padding: 5px 0 5px;
}
.sound-container  .play:hover{
    opacity:1;

}
.sound-container  .play.active{
	/*background-position-y: -25px;*/
	opacity:1;
}
.sound-container  .play {
    float: right;
    margin-right: 3px;
    margin-top: 1px;
    position: relative;
    width: 20px;
    height: 25px;
    background: url(http://static.missevan.com/system/missevan_icons.png) -99px -616px no-repeat;
	opacity:.45;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=45);
	cursor:pointer;
}

.more {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    text-align: center;
    height: 24px;
    line-height: 24px;
    background-color: #fafafa;
    color: #aaa;
    font-size:12px;

}
.more:hover{
	color:#666;
}
.ringsicon{
    background-image: url(../../images/index/bell.png);
	background-size:40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    transition: .2s;
    margin-top: -5px;
    margin-right: 5px;
}
/* ringbox */

#ring_container{
	width:996px;
	margin:20px auto;
}
#ring_header{
	position:relative;
}
#ring_header ul li {
    display: inline-block;
    margin-right: 5px;
	cursor: pointer;
}
#ring_header ul li.active a, #ring_header ul li a:hover {
    color: #fff;
    background: #cd3333;
}
#ring_header ul li a {
    display: inline-block;
    padding: 5px 12px;
    color: #6b6b6b;
    font-size: 15px;
    border-radius: 5px;
}

#ring_channels .content.active {
    display: block;
}
#ring_channels .content {
    display: none;
}

/** 宽屏 **/
.vw-widescreen .sound-container .title {
    width: 199px;
}
.vw-widescreen .sound-container .sound {
    width: 250px;
}

.vw-widescreen .channel-list {
    width: 870px;
}
#ring_channels #an-girl-loading {
    position: absolute;
    top: 35%;
    left: 30%;
}
