#leftMenu,
#leftMenu ul,
#leftMenu ul li,
#leftMenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;

}

#leftMenu {
  width: 25%;
  color: #fff;
  margin: 40px 0 0 0;

}

#leftMenu ul.sectionMenu ul {
display: none;
}



.align-right {
  float: right;
}

#leftMenu > ul > li > a {
  padding: 5%;
  cursor: pointer;
  z-index: 0;
  text-decoration: none;
  color: #444059;
  background: #ececec;

}



#leftMenu > ul > li:last-child > a {

  border-radius: 0 0 3px 3px;

}



#leftMenu > ul > li > a:hover,
#leftMenu > ul > li.active > a,
#leftMenu > ul > li.open > a {
  color: #444059;
  background: #f7f7f7;
}


.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.holder::after {
  top: 24px;
  border-top: 2px solid #757575;
  border-left: 2px solid #757575;
}

#leftMenu > ul > li > a:hover > span::after,
#leftMenu > ul > li.active > a > span::after,
#leftMenu > ul > li.open > a > span::after {
  border-color: #fff;
}

.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}

#leftMenu ul ul li a {
    background: none repeat scroll 0 0 none;
    color: #717070;
    cursor: pointer;
    font-size: 14px;
    padding: 5% 7% 5% 10%;
    text-decoration: none;
    z-index: 0;
}

#leftMenu ul ul li:hover > a,
#leftMenu ul ul li.open > a,
#leftMenu ul ul li.active > a {
  background: #717070;
  color: #ffffff;
}



#leftMenu ul > li.selectedPage a:link {
    color: #444059;
    background-color: #f7f7f7!important;
    display: block;
    padding: 5%;
}

#leftMenu ul > li a.selectedPage {
    text-decoration: none;
    border-bottom: 0 none;
    color: #444059;
	background-color: #f7f7f7!important;
}

/* *************************************** TABLET PORTRAIT *************************************** */



@media (max-width: 768px) {


#leftMenu,
#leftMenu ul,
#leftMenu ul li,
#leftMenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;


}

#leftMenu {
  width: 25%;
  color: #fff;
  margin: 20px 0 0;

}

#leftMenu ul.sectionMenu ul {
/* display: none; */
}



.align-right {
  float: right;
}

#leftMenu > ul > li > a {
  padding: 5% 7%;
  cursor: pointer;
  z-index: 0;
  text-decoration: none;
  color: #717070;

}

#leftMenu > ul > li > a:hover,
#leftMenu > ul > li.active > a,
#leftMenu > ul > li.open > a {
  color: #fff;
  background: #4e4e4e;
}


.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.holder::after {
  top: 17px;
  border-top: 2px solid #757575;
  border-left: 2px solid #757575;
}

#leftMenu > ul > li > a:hover > span::after,
#leftMenu > ul > li.active > a > span::after,
#leftMenu > ul > li.open > a > span::after {
  border-color: #fff;
}

.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}

#leftMenu ul ul li a {
    background: none repeat scroll 0 0 none;
    color: #717070;
    cursor: pointer;
    font-size: 12px;
    padding: 5% 7% 5% 10%;
    text-decoration: none;
    z-index: 0;
}

#leftMenu ul ul li:hover > a,
#leftMenu ul ul li.open > a,
#leftMenu ul ul li.active > a {
  background: #717070;
  color: #ffffff;
}



#leftMenu ul > li.selectedPage a:link {
    color: #fff;
    background-color: #f47920;
    display: block;
    padding: 5% 7%;
}

#leftMenu ul > li a.selectedPage {
    text-decoration: none;
    border-bottom: 0 none;
    color: #fff;

}



}


/* ****************************** TABLET LANDSCAPE ****************************** */


@media (max-width: 1024px) {

#leftMenu {
  width: 94%;
  color: #fff;
  margin: 3%;

}

#leftMenu > ul > li > a {
  padding: 5% 7%;
  cursor: pointer;
  z-index: 0;
  text-decoration: none;
  color: #717070;

}


}


/* ****************************** MOBILE VERSION ****************************** */


@media (max-width: 480px) {

#leftMenu {
  width: 92%;
  color: #fff;
  -moz-box-sizing: border-box;
box-sizing: border-box;
border: 0 solid transparent;
border-width: 0;  
margin: 0 4%;
}


#leftMenu ul > li.selectedPage a:link {
    color: #fff;
    background-color: #4e4e4e;
    display: block;
    padding: 5% 7%;
}

}

/* ****************************** MOBILE landscape ****************************** */


@media (max-width: 767px) {

#leftMenu {
  width: 92%;
  color: #fff;
  -moz-box-sizing: border-box;
box-sizing: border-box;
border: 0 solid transparent;
border-width: 0;  
margin: 0 4%;
}


}

