.topmenu a {
    color: #fff;
    text-decoration: none;
	cursor:pointer;

}

.topmenu a:visited{
    text-decoration: none;
	cursor:pointer;

}

.topmenu a:hover {
    color: #fff;
}

.topmenu a:active{
    text-decoration: none;
	cursor:pointer;

}

.mainMenu ol, ul {


}


.right {
    float: right;
}

.left {
    float: left;
}


/* HEADER > MENU */
.mainMenu {
margin: -50px 0 0;
text-align: center;
background: transparent;
}


.mainMenu > li {
    display: inline-block;
    /* padding: 0 10px 35px 0; */
}


.mainMenu > li > a {
    color: rgba(255,255,255, .5);
    font-size: 17px;
	letter-spacing: 0.03em;
    line-height: 14px;
    padding: 10px;
    border: none;
    float: left;
	text-decoration:none;
	cursor:pointer;
        
}

.mainMenu > li:visited > a {
    color: #fff;
    font-size: 17px;
    line-height: 14px;
    padding: 10px;
    background: none;
    border: 0;
	text-decoration:none;
	letter-spacing: 0.03em;
	cursor:pointer;

}

.mainMenu > li:hover > a {
    color: #fff;
    font-size: 17px;
    line-height: 14px;
    padding: 10px;
    background: none;
    border: 0;
	text-decoration:none;
	letter-spacing: 0.03em;
	cursor:pointer;

}


.mainMenu > li.selectedPage > a {
    color: #fff;
    background: none;
    border: 0;
    padding: 10px;
    font-weight: bold;
}




/* HEADER > MENU > DROPDOWN */
.mainMenu li {
    position: relative;
}




.mainMenu ul.level2 { /* level 2 */
    display: none;
    left: 0;
    list-style: none outside none;
    min-width: 250px;
    padding: 36px 0 0;
    position: absolute;
    top: 29px;
    z-index: 9999;
	border: 1px solid rgba(68, 64, 89, 0.1);
      
}

.mainMenu ul.level2:after {
	top: 6px;
	right: 200px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 15px;
	margin-left: -30px;
	display:block;
}


.mainMenu ul.level3  { /* level 3+ */
    display: none;
    left: 0;
    list-style: none outside none;
    min-width: 250px;
    padding: 36px 0 0;
    position: absolute;
    top: 29px;
    z-index: 9999;
	border: 1px solid rgba(68, 64, 89, 0.1);
}

.mainMenu ul.level2 > li > a {
    background-color: #fff;
    border: 0px solid #444;
    border-top: none;
    color: #4a4a4a;
    display: block;
    font-size: 15px;
    padding: 10px 12px;
    text-align: left;
	text-decoration:none;
}

.mainMenu ul.level3 > li > a {
    background-color: #fff;
    border: 0px solid #444;
    border-top: none;
    color: #4a4a4a;
    display: block;
    font-size: 15px;
    padding: 10px 12px;
    text-align: left;
	text-decoration:none;
}

.mainMenu ul.level2 > li > a:hover {
    background-color: #ecf1fa;
    color: #4a4a4a;
}

.mainMenu ul.level3 > li > a:hover {
    background-color: #000000;
    color: #fff;
}

.mainMenu ul.level2 > li:first-child {
 border-radius: 0 0 2px 2px;
}

.mainMenu ul.level2 ul.level2 > li:first-child {

}

.mainMenu ul.level2 > li:last-child > a {
    border-radius: 0 0 2px 2px;
}


.mainMenu ul.level2 > li > a.parent {
    background-image: url(../img/arrow.png);
    background-size: 5px 9px;
    background-repeat: no-repeat;
    background-position: 95% center;
}

.mainMenu li:hover > ul.level2  {
    display: block; /* show the submenu */
}

li:hover > ul.level3  {
    display: block; /* show the submenu */
}

/*

------------------------------tablet-------------------------------
*/

@media (max-width: 1024px) {


.mainMenu {
    /* margin: 0 auto; */
    float: left;
    margin-top: 30px;
    margin-left: -24px;
}

.mainMenu ul.level2 { /* level 2 */
    min-width: 190px;

      
}

}


/*

------------------------------mobile-------------------------------
*/

@media (max-width: 768px) {

.js #menu {
display:none;
}

.js .slicknav_menu {
display:block;
}

.mainMenu li {
    display: none;
}



/* HEADER > MENU > DROPDOWN */


/*
.mainMenu li {
    position: relative;
}
*/

ul.level2 { /* level 2 */
    display: none;
    left: 0px;
    top: 0px;
    padding-top: 0px;
    position: relative;
    min-width: 192px;
    z-index: 9999;
    opacity:1.0;
}



 ul.level2 ul.level2 { /* level 3+ */
    padding: 0 20px;
    left: 0;
    top: 0;

}

 ul.level1 > li > a {
    background: rgba(0, 0, 0, .3);
    border: 0px solid #444;
    border-top: none;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 26px;
}

 ul.level2 > li > a {
    /* background: rgba(0, 0, 0, .3); */
    border: 0px solid #444;
    border-top: none;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 26px;
}

ul.level3 > li > a {
    background: rgba(0, 0, 0, .3);
    border: 0px solid #444;
    border-top: none;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 26px;
}

ul.level1 > li > a:hover {
    background: rgba(0, 0, 0, .4);
    color: #fff;
}

ul.level2 > li > a:hover {
    background: rgba(0, 0, 0, .4);
    color: #fff;
}

ul.level3 > li > a:hover {
    background: rgba(0, 0, 0, .4);
    color: #fff;
}

ul.level2 > li:first-child {
    border-top: 0px solid #fff;
}

ul.level2 ul.level2 > li:first-child {
    border-top: 1px solid #444;
}

ul.level2 > li:last-child > a {
    /* border-radius: 0 0 2px 2px; */
}


ul.level2 > li > a.parent {
    background-image: url(../img/social_youtube.png);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: 95% center;

}

li:hover > ul.level2 {
    display: block; /* show the submenu */
}

li:hover > ul.level3 {
    display: block; /* show the submenu */
}



}
