.rowA .textElement/* THESE STYLES WILL SHOW UP IN THE CMS TEXT EDITOR */

/* <textEditor> */
.ingres { font-size: 145%!important; color: #616161; font-weight: 300; margin-bottom: 20px; }
.niceImage { background: #fff; padding: 8px; margin: 0.5em 0; border: 1px solid rgba(0, 0, 0, 0.1); }
.colourBlock{display: block; padding:3%; background-color: #eee; width: 100%; float: left; -moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px 2px 2px 2px; border-radius: 2px 2px 2px 2px; margin: 0 0 20px;}
.colourBlockGrey{display: block; padding:30px; background-color: #f7f7f7; width: 100%; float: left; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 0 0 30px;}
.orangeButton{background-color: #4cb992; border-radius: 2px; padding: 8px 15px!important; color: #fff!important;  margin: 20px 0 0 0; text-decoration:none!important; font-size: 20px;}
.blueButton{background-color: #4cb992; border-radius: 2px; padding: 8px 15px!important; color: #fff!important; margin: 20px 0 0 0; text-decoration:none!important; font-size: 20px;}
.skoleIntraButton { background-color: #1c9083; border-radius: 2px; padding: 8px 15px!important; color: #fff!important; margin: 20px 0 0 0; text-decoration:none!important; font-size: 20px;}
.fronterButton{
border-radius: 2px;
padding: 8px 15px!important; 
color: #fff!important;
font-size: 0.8em;
background: #32d7d4; /* Old browsers */
background: -moz-linear-gradient(45deg,  #32d7d4 0%, #00c0ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32d7d4', endColorstr='#00c0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* </textEditor> */

.bannerQuote h2{margin-top: 15px;}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


.lcms_pagebar{top: 130px;}

body{ background-color: #fff;
    color: #000000;
    font-family: 'lato';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility; 
    }
    
ol {margin: 0 0 20px 40px}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

p {margin: 20px 0;}

h1, h2, h3, h4, h5 {border: 0; margin:0 0 10px 0;}

h1 {font-size: 240%; font-weight: 300;}
h2 {font-size: 180%; font-weight: 300;}
h3 {font-size: 160%; font-weight: 300;}
h4 {font-size: 130%; margin:0; font-weight: 400; color: #000; }
h5 {font-size: 130%; margin:0; font-weight: 300; }


a[name] {
  padding-top: 0;
  margin-top: -150px;
  display: inline-block; /* required for webkit browsers */
  vertical-align: top;
}


.smallBodyText{font-size: 80%; line-height: 1.5;}

.ingres { font-size: 145%!important; color: #616161; font-weight: 300; margin-bottom: 20px; }


/* icons */    
i {padding: 0;}

a { outline: 0; transition: all 0.35s ease-in-out 0s;  line-height: normal; cursor:pointer;}

a img{ border: 0px; text-decoration: none;}

a:link, a:visited { color: #287ec7; padding: 0 0 0 0; text-decoration: none; transition: all 0.35s ease-in-out 0s; outline: 0;  line-height: normal; cursor:pointer;}

a:hover, a:active { color: #000;  text-decoration: none; transition: all 0.35s ease-in-out 0s; outline: 0; line-height: normal; cursor:pointer;}

em {padding-top: 7px; margin-bottom: 20px;}

em.fa {padding-top: 7px; margin-bottom: 20px; color:#ff6c6c;}

b, strong {font-weight: bold;}

video {
	max-width: 100%;
	height: auto;
}



.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	text-align: center;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
	padding: 0% 0% 3% 0%;
	background-color: #ececec;
}

.videoCaption {
	padding: 5%;
	background-color: #ececec;
	color: #000;
	margin: -12px 0 0 0;
}


.archive .postInfo em{
display: none;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 0;}

.pagetitle{text-transform: lowercase;}

img {max-width: 100%; height: auto; border-radius: 6px; margin: 0;}


iframe {max-width: 100%; border: 0} 


/* BREADCRUMB'S */

#breadCrumb {
height: 30px;
font-size: 13px;
background: rgba(0, 0, 0, .6);
padding: 4px 20px 0 0px;
position: relative;
margin-bottom: -34px;
color: #fff;
}

#breadCrumb .breadCrumb {
color: #fff;
width: 1250px;
margin: 0 auto;
padding: 3px 0px 0px 30px;
}

#breadCrumb .breadCrumb a {
text-decoration: none;
color: #fff;
padding: 0px 0px 10px 0px;
}

#breadCrumb .breadCrumb a:hover{
text-decoration: none;
color: #f47920;
padding: 0px 0px 10px 0px;
}




#breadCrumbAlt {
    color: #fff;
    font-size: 13px;
    height: 39px;
    padding: 16px 0px 0 20px;
    position: relative;
    /* display: none; */
}

#breadCrumbAlt .breadCrumbAlt {
color: #000;
margin: 0 auto;
padding: 3px 0px 0px 0px;
}

#breadCrumbAlt .breadCrumbAlt a {
text-decoration: none;
color: #000;
padding: 0px 0px 10px 0px;
}

#breadCrumbAlt .breadCrumbAlt a:hover{
text-decoration: none;
color: #00c0ff;
padding: 0px 0px 10px 0px;
}

.breadCrumbAlt .selectedPageRoot{display:none;}


/* END BREADCRUMB'S */


a.backButton:before{
	content: "\f104";
    font-family: FontAwesome;
    text-decoration: inherit;
    color: #fff;
    float: left;
    font-size: 30px;
    padding: 0 5px 0px 0;
    margin-top:-10px;
}

a.backButton {
	color: #717070;
	display: block;
	padding: 11px 0px 10px 5px;
	margin-top: 1px;
    }

a.backButton:hover {
	color: #fff;
	display: block;
	background-color: #676767;
	padding: 11px 0px 10px 5px;
	margin-top: 1px;
    }


.tick ul li{
	color:#797979;
	margin: 0;
	list-style-position: outside;
	padding: 0;
}

.tick li{
    margin: .1em 30px .7em;
    list-style-type: none;
  	}

ul.tick li:before{
	content: "\f105";
	font-family: FontAwesome;
	margin: 0 7px 0 -13px;
	color: #4a4a4a;
}

.staticNavLabel {
    padding: 0 5px 0 0;
    border: 0 none;
    color:#fff;
    -webkit-appearance:none;
    background-color: #444059;
	padding: 15px 20px;
	display: block;

}

.staticNavCategrory {
    padding: 0 5px 0 0;
    border: 0 none;
    color:#717070;
    -webkit-appearance:none;
    background-color: #dadada;
	padding: 15px 20px;
	display: block;
	font-weight: 600;
}



.staticNav:before {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 5px 0 0;
    border: 0 none;
    height: 24px;
    width: 24px;
    color:#fff;
    -webkit-appearance:none;
}


a.staticNav:link, a.staticNav:visited  {
background-color: #444059;
padding: 20px 17px;
display: block;
color: #fff;
text-decoration: none!important;
}


.staticNavBlog:before {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 5px 0 0;
    border: 0 none;
    height: 24px;
    width: 24px;
    color:#fff !important;
    -webkit-appearance:none;
}



a.staticNavBlog:link, a.staticNavBlog:visited  {
background-color: #4d2441;
padding: 15px 17px;
display: block;
color:#fff !important;
}

.staticNavNews:before {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 5px 0 0;
    border: 0 none;
    height: 24px;
    width: 24px;
    color:#fff !important;
    -webkit-appearance:none;
}


a.staticNavNews:link, a.staticNavNews:visited  {
background-color: #347c87;
padding: 15px 17px;
display: block;
color:#fff !important;
}


/*  TOP MENU  */

.topBar{
background-color: #444059;
position: fixed; 
width: 100%; 
z-index: 999;
}


.homepageTopBar{
position: fixed; 
width: 100%; 
z-index: 999;
margin-top: -100px;
transition: all 0.35s ease-in-out 0s;
background-color: rgba(68, 64, 89, 1);
}

.menuWrapper{
    width: 100%;
    margin: 18px auto 26px;
    max-width: 1680px;
}

.desktopMenu{
	display: block; 
	margin: 0 auto;
	width: 70%;
	}

.slicknav_menu {
	display:none;
}


a.homepage:link {
	background-image: url("../img/orange_logo.svg");
    background-repeat: no-repeat;
    background-size: 215px auto;
    /* float: left; */
    margin: 18px 0 0 20px;
    padding-bottom: 65px;
    width: 215px;
    display: block;
    transition: all 0.35s ease-in-out 0s;
    }
    
    
a.homepageOrange:link {
	height: 65px;
	background-image: url("../img/orange_logo.svg");
    background-repeat: no-repeat;
    background-size: 215px auto;
    margin: 18px 0 0 20px;
    padding-bottom: 65px;
    width: 215px;
    display: block;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    }
    
   

.searchBoxTopBar {
    color: #fff;
    float: right;
	margin: -40px 20px 0 0;
    padding: 0 0 0 0;
    right: 0px;
    width: auto;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border-radius: 3px;
    background: linear-gradient(to top, rgba(0, 0, 0, .05) 1%, rgba(255, 255, 255, .2)); 
    height: 38px;
}


.searchBoxTopBar ul li{
    background-color: none;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(0, 0, 0, .1);
    padding: 0px 10px 5px 10px;
    list-style: none;
    font-weight: 400;
}


.searchBoxTopBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


.searchBoxTopBar ul li:first-child {
	border-left:0;
    margin: 0 -5px 0 0;    
}

.searchBoxTopBar ul li:last-child {
	border-right:0;
	margin: 0 0 0 -5px;
}


a.searchButton:link, .searchButton:visited{
    color: #fff;
    font-size: 15px;
    }   
a.searchButton:hover, .searchButton:active{
    color: #fff;
    }


a.login:link, .login:visited{
    color: #fff;
    font-size: 15px;
	text-decoration:none;
    }
a.login:hover, .login:active{
    color: #fff;
    }




/*  Call to action (CTA)  */


.CTAButtonContainer{
    position: fixed; 
    z-index: 20; 
    bottom: 0;
}


a.freeTrial:link {background-color: rgba(68,64,89, .5); margin:0 5px 0px 0; padding: 12px; color: rgba(255, 255, 255, 0.5); font-weight: 300; display: inline-block; width: 170px; border-radius: 2px 2px 0 0; text-decoration:none;}
a.freeTrial:active {background-color: rgba(68,64,89, 1); color: rgba(255, 255, 255, 1);}
a.freeTrial:visited {background-color: rgba(68,64,89, .5); color: rgba(255, 255, 255, 0.5);}

a.freeTrial:hover {background-color: rgba(68,64,89, 1);  color: rgba(255, 255, 255, 1);}


a.video:link {background-color: rgba(68,64,89, .5); margin:0 5px 0px 0;  padding:12px; color: rgba(255, 255, 255, 0.5); font-weight: 300; display: inline-block; width: 170px; border-radius: 2px 2px 0 0; text-decoration:none;}
a.video:visited {background-color: rgba(68,64,89, .5); margin:0 5px 0px 0;  padding:12px; color: rgba(255, 255, 255, 0.5); font-weight: 300;}
a.video:hover {background-color: rgba(68,64,89, 1); margin:0 5px 0px 0;  padding:12px; color: rgba(255, 255, 255, 1); font-weight: 300;}
a.video:active {background-color: rgba(68,64,89, 1); margin:0 5px 0px 0;  padding:12px; color: rgba(255, 255, 255, 1); font-weight: 300;}

a.Contact:link {background-color: rgba(68,64,89, .5); margin:0 0px 0px 0;  padding:12px; color: rgba(255, 255, 255, 0.5); font-weight: 300;display: inline-block; width: 170px; border-radius: 2px 2px 0 0; text-decoration:none;}
a.Contact:visited {background-color: rgba(68,64,89, .5); margin:0 0px 0px 0;  padding:12px; color: rgba(255, 255, 255, 0.5); font-weight: 300;}
a.Contact:hover {background-color: rgba(68,64,89, 1); margin:0 0px 0px 0;  padding:12px; color: rgba(255, 255, 255, 1); font-weight: 300;}
a.Contact:active {background-color: rgba(68,64,89, 1); margin:0 0px 0px 0;  padding:12px; color: rgba(255, 255, 255, 1); font-weight: 300;}


.stageCTAs{
	margin: 50px 0 0 0;
	
}


.stageCTAs a:link, .stageCTAs a:visited  {
	color: #fff;
	font-style: italic;
	background: none!Important;
	margin: 0 10px !important;
    padding: 0 3px 3px !important;
    border-bottom: 1px solid;
}

.stageCTAs a:Hover {
	color: #f47920!important;
	font-style: italic;
	margin: 0 10px !important;
    padding: 0 3px 3px !important;
    border-bottom: 1px solid;
    
}


/*  Main campaign area */

.mainCampaignWrapper{
    background-image: url(../img/homepage_map.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 450px;
    background-color: #f47920;
    margin-bottom: .3em;
    padding-top: 80px;
    }

.mainCampaignWrapperHome{
    background-image: url(../img/homepage_abstract.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 450px;
    background-color: #f47920;
    margin-top: 92px;
    }

    
.landingPageWrapper{
   background: linear-gradient(to top, #d46515 1%, #f47920);
    display: block;
    margin-top: 92px;
    }  

.landingPageWrapper .element{
padding: 7% 0;	
    }     

.landingPageWrapper img{
    display: block;
    }  


.campaignContent{
    width: 100%;
    max-width: 1680px;
    margin: 0% auto;
    }


.campaignContent h1 {
    color: #fff;
    line-height: 1.3;
    }
    
.campaignContent h2 {
    color: #fff;
    }
  .campaignContent h3 {
    color: #000;

    }
    



/*  Main Content  */

.mainContentWrapper {
    width: 100%;
    margin: 0 0 0 0;
}


.contentContainer{
    width: 100%;
    max-width: 1680px;
    margin: auto;
    margin-top: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-width: 20px; 
}



/*  Inside Template */



.insideContainer{
	width: 90%;
	max-width: 1680px; 
	margin: 0 auto;
	padding:100px 0 0 0;

}

.insideContainer ul, ol {
    margin: 25px 0 40px 40px;
}

.insideContainer h1{
	padding: 50px 0 0px 0px;
	font-size: 260%;
	color: #58595b;
}

.insideContainer h2{
	padding: 0 0 20px 0;
	font-size: 260%;
	color: #58595b;
	line-height: 54px;
}

.insideContainer h3{
    color: #58595b;
    font-size: 160%;
    line-height: 124%;
    margin: 0 0 20px;
}


.insideContainer .imageElement{
	width: 50%;
	margin: 0 auto;
}



/* Section Menu */

.fa.pull-right {
    margin: -6px 7px 0 0;
}

.sectionMenuContainer{
	width: 320px;
	float: left;
	/* background-color: #ececec; */
	z-index: 0;
	margin: 20px 0 0 0;
}


.sectionMenuContainer p {padding: 0px; margin: 0 0 0; color:#000;}
/*  end section menu */


.mobileMenuControl{
display: none;
}

.desktopMenuControl{
display: block;
}

.sectionMenuContainer h2{
color: #01659a;
font-size: 120%;
padding: 30px 0 0px 19px;
}

.sectionMenuContainer h3{
color: black;
font-size: 110%;
padding: 30px 0 0px 19px;
}

.sectionMenuContainer h4{
color: black;
font-size: 100%;
padding: 30px 0 0px 19px;
}
    
.LevelThreeContainer{ 
	width: 90%;
    max-width: 1680px; 
	margin: 0 auto 0;
	padding: 100px 0 0 0;
    }  
    
   
.textBoxTestimonial{
    width:100%;
    background: #fff; 
    float:left;
    margin: 10px 0 0 0;
    border-radius: 3px;
    
    
    }
    
    
.textBoxTestimonial p {
	color: #01659a;
	line-height: 1.6;
	font-size: 85%;
	padding: 20px;
    } 
     
    
.textBoxTestimonial .imageElement{
	width: 100%; 
	float: left; 
	margin-bottom: -10px;
	position: relative;
	z-index: 2;
	}

.textBoxTestimonial .imageElement a{
	width: 100%; 
	float: left; 
	position: relative;
	z-index: 2;
	border: 0;
	background: none;
	padding: 0;
	}
	

.storyContainer{
	height: auto; 
	float:left; 
	width: 75%; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	border: 10px solid transparent; 
	border-width: 20px 0px 50px 30px;
	font-size: 100%;
}

.storyContainer p{
	margin: 0 0 20px 0;
}

.pageIntro {
	color: #464646;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	border: 10px solid transparent; 
	border-width: 10px 0 20px 20px;


}

.pageIntro .postBody ul{
	margin: 40px ;


}


.pageIntro .eventsList {margin: 0 0 0 0}  

.pageIntro .textElement{
	margin: 0 0 0 0;
}

.pageIntro .imageElement{
	margin: 10px 0 10px 0;
}

.pageIntro h1 {
    color: #444059;
    line-height: normal;
    margin: 0 0 30px 27px;
}

.itslearning-eu-detail .pageIntro h1{
	
	margin: 20px 0;
	}

.pageIntro h2{
color: #444059;
font-size: 180%;

}

.pageIntro h3{
	font-weight: 300;
	color: #58595b;
}



.rowContainer{ 
    width: 100%;
    height: auto;
    margin: 0 0 30px 0;
    border: 0;
	float: left;
}

.rowContainer .textElement{ 
    margin: 0 0 20px 0;
}


.thirdA{
width: 32%;
float: left;
}

.thirdA .textElement{
width: 100%;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
border: 10px solid transparent; 
border-width: 10px 10px 10px 0;
float: left;
}

.thirdB{
width: 36%;
float: left;
}


.thirdB .textElement{
width: 100%;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
border: 10px solid transparent; 
border-width: 10px 30px 10px 20px;
float: left;
}


.full{
width: 100%;
/* margin: 2% 3%; */

}

.full .textElement{
width: 100%;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
border: 10px solid transparent; 
border-width: 10px 0px 10px 0px;
float: left;
}

.halfA{
width: 50%;
float: left;
}

.halfA .textElement{
width: 95%;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 10px solid 20px 10px 0 0px;
padding: 0 0 50px;
margin-bottom:0;
}


.halfB{
width: 50%;
float: left;
}

.halfB .textElement{
width: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0 0 50px;
}



/*  Blog styles  */

	
	.blogList {
    padding: 0 0 0 0;
    }

    .blogList ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    list-style-image: none;
    }
    .blogList ul li {
    list-style: none;
    list-style-image: none;
    background-color: #f7f7f7;
    display: block;
    padding: 30px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #d1d1d1;
    }
    
    .blogList ul li:hover{
    list-style: none;
    list-style-image: none;
    /* background-color: #ededed; */
    }
    
    
    .blogList ul li h2.postTitle {
    margin: 0;
    font-size: 120%;
    }

    
    .blogList ul li .postBody {
	
    }
    
    .blogList ul li .postInfo {
    color: #777;

    }
    .blogList ul li .postInfo span.postDate {
    color: #777;
    }
    
	.blogList a:Link, .blogList a:visited{
	font-size: 100%;
	}
	
	.blogList a:hover, .blogList a:active{
	font-size: 100%;
	}


/* sectionMenu Blog listing */


	.sectionMenuContainer .blogList h2.postTitle {
    text-decoration: none;
    background-color:transparent;
	margin: 0 20px -10px 20px;
	padding: 25px 0px;
	font-size: 100%;
	display: block;
	border-bottom: 1px dotted #cbcbcb;
    }
    
    
    
    
    .sectionMenuContainer .blogList ul li .postInfo span.postDate {
    display: none;
    }
    
    .sectionMenuContainer .blogList h2.postTitle a{
	  padding: 5% 7%;
	  cursor: pointer;
	  z-index: 0;
	  text-decoration: none;
	  color: #717070;
	  display: block;
    }
    
      .sectionMenuContainer .blogList li:last-child h2.postTitle {
		border:none;
    }
    
  .sectionMenuContainer .blogList h2.postTitle a:hover{
  color: #000;

    }


/* end of section menu blog list */


    /* post detail page */
    .postBody{

    }

    .post h1 {

    }
    
    
    .post h3 {
    color: #58595b
    }
    .post .postDate {
    margin: 0 0 15px 0;
    color: #777;
    font-style: italic;
    }
    .post .postViewInfo {
    background: #F2F2F2;
    margin-bottom: 15px;
    border: none !important;
    padding: 5px 9px;
    margin: 0;
    }
    .post .postViewInfo .postViewTags li a {
    color: #000 !important;
    text-decoration: none !important;
    }
    .post .postViewInfo .postViewTags li a:hover {
    color: #777 !important;
    }
	
	.blogBack {
    width: 150px;
    margin: 40px 0 40px 0;
    color: #fff;
    display: none;
    }
    
    .blogBack a {
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin: 0;
    background-color: #58595b;	
    padding: 8px 5px 10px 5px;
    color: #fff;
    }
    
    .blogBack a:hover {
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin: 0;
    background: linear-gradient(to top, #d46515 2%, #ee7202);
    color: #fff;	
    }
	


    /* comments form */
    
    .commentsHead{
     display: none;
    }
    .commentsForm {
    clear: both;
    width: 94%;
    padding: 20px 2% 20px 4%;
    margin-bottom: 20px;
    background-color: #f1f1f1;

    }
    .commentsForm .addComment {
    font-weight: 300;
    clear: both;
    padding-bottom: 10px;
    margin-left: 0;
    }
    .commentsForm label {
    font-weight: 300;
    display: block;
    color: #000;
    }
    .commentsForm input,
    .commentsForm textarea {
    padding: 10px;
    border: 0px !important;
    background: #fff !important;
    color: #000;
    margin: 10px 10px 10px 0;
    background: #fff;
    font-family: 'lato';
    font-weight: 300;
    width: 100%;
    font-size: 90%;
    }
    
    #main_0_0_captcha_CodeTextBox{
    width: 180px;
    height: 30px;	
    margin-left: 0;
    }
    
    
    .commentsForm span {
    font-weight: 300;
    color: #000;
    margin-left: 0;
    }
    
    .commentsForm h3 {
    color: #000;

    }

    
    .commentsForm img {
    margin-left: 0;
    }
    
    
    .commentsForm input.submitComment {
    width: auto;
    height: 38px;
    color: #000;
    border: none !important;
    margin: 10px 0 10px 0;
    cursor: pointer;
    }
    
    
    .commentsForm .note {
 	font-family: 'lato';
    font-weight: 300;
    font-size: 12px;
    width: 90%;
    }
	.alert{
	display: none;
	}
	div.commentsForm textarea {
    height: 175px;
    width: 95%;
	}
	div.commentsForm input {
    width: 95%;

	}



.blogList .rss {
    margin: 0 auto;
    position: static;
    text-align: left;
}

    /* blog comments */
    .commentsHead {
    padding-top: 25px;
    clear: both;
    }
    .commentsHead a {
    font-weight: normal;
    }
   
    .comments {
/*
    width: 96%;
    padding: 2% 0%;
*/
    margin-top: 20px;
    
    }
    
    .comments dl {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;

    }
    dt.comment {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    color: #000;
    }
    dt.comment .commentNumber {
    color: #000;
    }
    dt.comment a {
    text-decoration: none;
    font-weight: 300;
    }
    
    dt.comment a:hover {
    color: #000;
    font-weight: 300;
    }
    
    dd.comment {
    background: transparent !important;
    margin: 5px 0 25px !important;
    padding: 0 0 5px !important;
    color: #000;
    border-bottom: 1px dotted #ccc;
    font-style: italic;
   
    }
    dd.comment .commentDate {
    color: #888;
    font-size: 14px;
    font-style: normal;
    
    }


.blogList div.pagination ul {
    border: 1px solid #eee;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    height: auto;
    padding: 0 !important;
    width: auto;
}
.blogList div.pagination ul li {
    border-bottom: medium none;
    border-right: 1px solid #eee;
    float: left;
    margin: 0 !important;
    min-width: 30px;
    padding: 0;
    text-align: center;
}
.blogList div.pagination ul li.current, .blogList div.pagination ul li.dots {
    cursor: default;
    min-width: 0;
    padding: 5px 10px 2px !important;
}
.blogList div.pagination ul li.current {
    background: none repeat scroll 0 0 #f9f9f9;
    font-family: 'BrandonText',sans-serif;
}
.blogList div.pagination ul li.next, .blogList div.pagination ul li:first-child {
    border-radius: 5px 0 0 5px;
}
.blogList div.pagination ul li:last-child {
    border: medium none;
}
.blogList div.pagination ul li a {
    border: medium none;
    color: #666;
    display: block;
    padding: 6px 10px;
}
.blogList div.pagination ul li a:hover {
    background: none repeat scroll 0 0 #efefef;
    color: #333;
}



/* Search results styles */

.searchWrapper {
    margin: 0 auto 300px;
    max-width: 1680px;
    position: relative;
    top: 100px;
    width: 90%;
}

.searchContainer{
/*     min-height: 800px; */
    margin: 0px;
}

.searchContainer h1{
	font-weight: 300;
	margin: 80px 0 0 30px;
}

.searchContainer p{
	margin: 0 0 30px 30px;
}


.searchBox{
height: 100px
}

.searchBox .searchInput {
    font-size: 16px;
    height: 42px;
    margin: 50px 5px 0 20%;
    padding: 0 5px 0 8px;
    width: 60%;
    float: left;
    -webkit-appearance:none;
    
}

.searchBox .searchButton {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border: 0 none;
    height: 42px;
    width: 42px;
    background-color: #f47920;
    cursor: pointer;
    color:#fff;
    -webkit-appearance:none;
    border-radius: 0;
    margin-top: 50px;
    font-size: 27px; 
}


.searchButton:hover{color: #000;}



.searchResults li {
    list-style: none outside none;
    padding: 30px;
    background-color: #f6f6f6;
    border-bottom: dotted 1px #58595b;
    margin-bottom: 20px;
    
}

.searchTerm {
    font-weight: 400;
    background-image: none;
    color: black;
}






/* 404 & Sitemap styles  */

.errorWrapper{
	width: 100%;
    max-width: 1680px;
    margin: 0% auto;
    padding-top: 70px;

}

.errorContainer{
    margin: 50px;
}

.errorContainer h1{
	font-weight: 300;
	color: #58595b;
}



.errorContainer li {
    list-style: none outside none;
    padding: 10px 5px 5px 0px;
    
}



.errorContainer ul {
    margin: 0px 0px 10px 0px;
    
}

.errorContainer .globalMenu ul li a{

font-size: 90%;
margin-left: 20px;
color: #58595b;

}

.errorContainer .globalMenu ul .level2 li a{

font-size: 90%;
margin-left: 20px;
color: #a7a7a7;

}

.errorContainer .globalMenu ul .level3 li a{

font-size: 90%;
margin-left: 40px;
color: #a7a7a7;

}





/*  Footer starts here  */

.footerWrapperTop {
    bottom: 0;
    width: 100%; 
    height: auto; 
    background: linear-gradient(to top, #fff 60%, #ececec);
    float:left;
	-webkit-box-shadow: -1px -8px 6px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: -1px -8px 6px -8px rgba(0,0,0,0.5);
	box-shadow: -1px -8px 6px -8px rgba(0,0,0,0.5);
	border-top: 1px solid #fff;
	position: relative;
	z-index: 20;
    }


.footerWrapper {
    bottom: 0;
    width: 100%; 
    height: auto; 
    background-color: #fff; 
    float:left;
    }


#sticky{
    float: left;
    margin: 0px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 4;
    background-color: #fff;
}


.footerContent{
    height: auto; 
    width: 90%;
    max-width: 1680px;
    margin: 0% auto; 
    color: #4a4a4a;
    font-size: 90%;
    }
 
     
.footerContent ul{
margin:0;
padding: 0;

}

.footerContent li{
list-style: none;

}

    
.footerContent h2{
    color: #444059;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

    
    
.copyright{
width: 100%;
margin: 2% 0;
}    
    
.footerContent img{
    margin-right: 3px;
    }
    
.footerRowContainer{
	width:100%; 
	float:left;
}


.footerMarkets{
	padding:0px 50px 20px 30px;
	float: left;
	margin: 40px 0 20px 0;
	height: auto;
}


.footerProduct{
	padding:0px 50px 20px 30px;
	float: left;
	margin: 40px 0 20px 0;
	height: auto;
}

.footerCompany{
	padding:0px 50px 20px 30px;
	float: left;
	margin: 40px 0 20px 0;
	height: auto;
}

.footerDownloads{ 
	padding:0px 20px 20px 30px;
	float: left;
	margin: 40px 0 20px 0;
	height: auto;
}


.footerNewsletter{ 
	padding:0px 70px 20px 0;
	margin: 25px 0 20px 0;
	float: left;
	width: 45%;
}


.footerContacts{
	width: 50%; 
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	border: 1px solid #000; 
	border-width:0em 0em 0em 0em; 
	padding:0px 20px 40px 0px;
	float: left;
}



a.footerLinks:link {color: #4a4a4a; line-height: 20px; text-decoration:none; }
a.footerLinks:visited {color: #4a4a4a;}
a.footerLinks:hover {color: #ff6c6c;}
a.footerLinks:active {color: #ff6c6c;}


.SocialIcons{
    margin: -41px 0 0 201px;
    position: absolute;
}

.SocialIcons i{
font-size: 32px;
color: #a0aaad;
margin-right: 5px;
}


li.social{color: #fff; display: inline-block;}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{box-sizing: content-box;}
.stButton .stHBubble {box-sizing: content-box;}



.footerLogo{
    background-image: url("../img/logo.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 167px auto;
    fill: #FF0000;
    height: 70px;
    width: 196px;
    }


ul.countryList {
	display: inline-block; 
	margin: 0 44px 0 0;
}


.smallPrint{
    margin-top: 20px;
    font-size: 15px;
    }
    
    
.telecom{
color: #58595b;
}



/* Uptime */


.totalContainer{margin: 0 auto; background-color: aqua; height: 70px;}

.digit{
	font-size: 350%; 
	text-align: center;
	color: #122559;
	}

.topRow{
	background-color: #f47920; 
	padding: 1% 1%; 
	width: 48%; 
	float: left; 
	color: #ffffff; 
	font-weight: 300;
	}


/* END OF UPTIME */



.pdf {
	background-image: url('../img/pdf.svg'); 
	background-repeat: no-repeat; 
	background-size: 100px; 
	width: 100%; 
	padding-bottom: 143px; 
	background-position: center;
}

.pdf a{color: white; }




/* Support page */

    .support-sites {
    	margin:	0;
    	padding:	0;
    }
    
    .support-sites > li {
    	list-style:	none;
    	line-height:	24px;
    	margin-bottom:	20px;
    	background-color:#f6f6f6;
    	padding:10px;
    	width:	90%;
    	display: block;
    }
    
    .support-sites > li > a > img {
    	margin-right:	10px;
    	float:	left;
    }
    
    .support-sites > li > a:link, .support-sites > li > a:visited, .support-sites > li > a:hover, .support-sites > li > a:active {
    	text-decoration:	none;
    	color:	#333;
    } 
    
    
/*  Press Page */


.businessCard{
float: left; 
padding: 15px; 
margin: 10px 10px 20px 0px; 
background-color: #f5f5f5; 
width: 45%;
}



/*  Overview Template  */


.overviewContentWrapper {
    width: 100%;
    max-width: 1680px;
    margin: 100px auto 30px auto;
    height: auto;
    background-color: #fff;
}

.overviewContentWrapper h1 {
    color: #444059;
    font-size: 50px;
    font-weight: bold;
}

.overviewContentWrapper h2 {
    color: #444059;
    font-size: 40px;
	line-height:50px;
}

#homepageArea.OverviewArea1 h2{
    color: #444059;
    font-size: 50px;
    font-weight: bold;
}

.overviewContentWrapper h3{
color: #444059;
font-size: 160%;
line-height: 124%;
margin: 0 0 20px 0;
}

.overviewContentWrapper p{
    color: #4a4a4a;
	margin:0 0 30px;
}


.overviewContentWrapper em a{
    color: #7f7f7f;
}


.headliner{
margin:0 5%;
}

/*  Area 1  */


.OverviewArea1{
padding: 100px 0 0 0;
margin: -100px 0 0 0;
}

.OverviewArea1#homepageArea{
padding: 0;
margin: -100px 0 0 0;
}

.OverviewArea1 .textElement{
color: #000;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
    width: 100%;
}

.photoGalleryElement {
    margin: 0 0 50px;
}


/*
.OverviewArea1 a{
color: #fff;
background-color: #F47920;
border-radius: 2px;
cursor: pointer;
padding: 8px 15px;
}

.OverviewArea1 a:hover{
color: #fff;
background-color: #e07020;
}
*/




/* Area 2 */


div.OverviewArea2{
position: relative;
background-repeat: no-repeat;
width: 100%;
color: #252525;
min-height: 525px;
background-size: cover;
}

div.OverviewArea2 div.placeText{
position: absolute;
bottom: 0px;
left:90px;
}

.OverviewArea2 .textElement{
	background-color: rgba(255, 255, 255, 1);
	width: 380px;
	padding: 30px 30px 10px 30px;
	font-size: 100%;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px; 
	-webkit-border-radius: 2px 2px 0px 0px;
}


#CenteredBlock {
width: 50%;
padding: 0;
margin: 0 auto;
position: absolute;
left: 41.5%;
top:0%;
}

.lcms_AdminView #CenteredBlock {
top:50px;
}

#CenteredBlock .textElement{
background-color: transparent;
width: 100%;
padding: 0px;
margin: 0px auto;
}






/* Area 3 (5 and 7) */


.OverviewArea3{
width: 100%;
height: auto;
}


.OverviewArea3 .textElement{
width: 80%;
color: #000;
padding: 0;
margin: 40px auto;
}

.OverviewArea3 ul{
margin: 0;
padding: 0;
height: auto;
}

.OverviewArea3 > ul > li{
display: inline-block;
border: 0;
padding: 0;
width: 40%;
vertical-align: top;
}


li.halfToken{
display: inline-block;
margin: 0 7%;

}

.halfToken .textElement{
width: 100%;
margin: 80px 0; 
}

.halfToken .imageElement{
width: 90%;
margin: 0 auto;
}

li.halfTokenRight{
display: inline-block;
margin: 0;
padding: 0;
}


.halfTokenRight .textElement{
width: 100%;
margin: 80px 0; 
}

.halfTokenRight .imageElement{
width: 90%;
margin: 0;
}

/*  Area 4  */


div.OverviewArea4{
position: relative;
background-repeat: no-repeat;
width: 100%;
color: #252525;
min-height: 525px;
background-size: cover;
}


div.OverviewArea4 div.placeText{
position: absolute;
bottom: 0px;
right:75px;
}



.OverviewArea4 .textElement{
	background-color: rgba(255, 255, 255, 1);
	width: 380px;
	padding: 30px 30px 10px 30px;
	font-size: 100%;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px; 
	-webkit-border-radius: 2px 2px 0px 0px;
}



/*  Area 6  */



div.OverviewArea6{
position: relative;
background-repeat: no-repeat;
width: 100%;
color: #252525;
min-height: 525px;
margin-bottom: 0;
background-size: cover;

}

div.OverviewArea6 div.placeText{
position: absolute;
bottom: 0px;
left:90px;
}

.OverviewArea6 .textElement{
	background-color: rgba(255, 255, 255, 1);
	width: 380px;
	padding: 30px 30px 10px 30px;
	font-size: 100%;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px; 
	-webkit-border-radius: 2px 2px 0px 0px;
}



/*  Area 8  */

.OverviewArea8{
width: 80%;
background-color: transparent;
margin: 0 auto;
}

.OverviewArea8 .textElement{
padding: 5%;
background-color: transparent;
margin:0;
/* border-top: 1px dotted #58595b; */
}

.OverviewArea8 .textElement p{
color: #4a4a4a;
text-align: center;
}

.OverviewArea8 .textElement h3{
color: #4a4a4a;
font-size: 150%;
line-height: inherit;
font-style: italic;
text-align: center;
}


/*  homepage video  */

.videoContainer{
	color: #000;
    margin: 0 auto 0;
    text-align: center;
	background-color:#000;


}


#ctaContainer{
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 100px;
    z-index: 3;
    
}


.lcms_AdminView #ctaContainer{
    margin: -60px 0 0;
}



.videoContainer video{
max-width: 100%;

}


video[poster]{
	
	}



#videoOverlay{
    background-color: rgba(0, 0, 0, .4);
    min-height: 2000px;
    margin: -128px auto 0 auto;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.videoContainer h1 .element{
height: 200px;
text-align: center;
position: absolute;
width: 100%;
z-index: 11;
}


.videoContainer h1{
color: #fff;
margin: 0 auto;
font-size: 3.3em;
font-weight: bold;
}

.videoContainer p {
    color: #fff;
    font-size: 30px;
    font-style: italic;
    margin: -5px 0 60px;
}

.videoText{
position: absolute;
z-index: 20;
width: 100%;
margin: 250px auto 0;
text-align: center;
}


.videoText hr{
	margin: 0 auto 30px;
    width: 20%;

}



.videoContentWrapper{
width: 100%;
background-color: #fff;
margin: -200px auto 0;
position: relative;
z-index: 3;
min-height: 280px;
box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
}	


a.LeftMenuCTA:link, a.LeftMenuCTA:visited  {
background-color: #4cb992;
padding: 5%;
display: block;
color: #fff;
border-top: 0px solid #fff;
border-bottom: 0px solid #fff;
border-radius: 3px 3px 0 0;
}

a.LeftMenuCTA:Hover {
background-color: #30b382;
padding: 5%;
display: block;
color: #fff;
border-top: 0px solid #fff;
border-bottom: 0px solid #fff;
text-decoration:none;
}

.buttonContainer{
width: 100%;
max-width: 1680px;
position: relative;
margin: 0 auto;
text-align: center;
z-index: 20;
top:160px;
}

a.HomePageCTA:link, a.HomePageCTA:visited{
    background-color: #0489b9;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    /* margin: 6% auto 0 41.5%; */
    padding: 11px 45px 9px;
    /* position: absolute; */
    text-align: center;
    width: 10%;
    /* z-index: 20; */
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45); 
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45); 
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
	border-bottom: 1px solid #01739c;
	border-right: 1px solid #01739c;
	border-top: 1px solid #09afeb;
	border-left: 1px solid #01a4df;
}

a.HomePageCTA:hover, a.HomePageCTA:active{
    background-color: #009ed7;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    /* margin: 6% auto 0 41.5%; */
    padding: 11px 45px 9px;
    /* position: absolute; */
    text-align: center;
    width: 10%;
   /*  z-index: 20; */
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45); 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45); 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}



/* Calendar Styles */

.eventsElement{
padding: 0 0 20px 0;
}


.eventsElement h2{
color: aqua;
}

.eventDate{
font-size: 100%;
color: #603352;
margin: 0 0 30px;
}

.eventsList ul{
	margin:0 0 50px 0;
	list-style: none;
	padding: 0;
}

.eventsList li{
	margin:0;
	list-style: none;
	padding: 0;
}

.calendarEvent ul{
width:100%;
margin: 20px 0 50px 0;
padding: 0;
}



.calendarEvent li:first-child{
display: inline-block;
vertical-align: top;
width:20%;
padding: 0 2% 0 0;
}

.calendarEvent li:last-child{
display: inline-block;
vertical-align: top;
width:77%;

}


.eventsList a:Link, .eventsList a:visited{
	color: #f47920;
	font-size: 140%;
}

.eventsList a:hover, .eventsList a:active{
	color: #000;
	font-size: 140%;
}

.eventDescription ul li { list-style-type: square; margin-left: 35px;}

.eventsList .eventDescription a:Link, .eventsList .eventDescription a:visited{
	color: #f47920;
	font-size: 100%;
}

.eventsList .eventDescription a:hover, .eventsList .eventDescription a:active{
	color: #000;
	font-size: 100%;
}


.calendarEvent a:Link, .calendarEvent a:visited{
	color: #f47920;
	font-size: 120%;
}

.calendarEvent a:hover, .calendarEvent a:active{
	color: #000;
	font-size: 120%;
}



.OverviewArea1 .eventsList a{
color: #f47920;
border-radius: 2px;
cursor: pointer;
padding: 11px 45px 9px;
background: none;

}

.OverviewArea1 .eventsList a:hover{
color: #000;
background-color: none;
}


.OverviewArea1 .calendarEvent li:first-child{
width:100%;
margin: 0;
padding: 0;
}

.OverviewArea1 .calendarEvent ul{
width:100%;
margin: 20px 0 0px 0;
padding: 0;
}


.socialSharing{
    float: left;
    height: auto;
    padding: 34px 0 50px 0;

	}

#sharingSpacer{
padding:10px 0 0px 0;
float: left;
    -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
}
	




#leftMenu .postArchiveGroup ul li a:Link, .blogsElement ul li a:visited{
padding: 0;
margin:0;
display: compact;
line-height: normal;
background-color: transparent;
}


#leftMenu .postArchiveGroup ul li a:hover, .blogsElement ul li a:active{
padding: 0;
margin:0;
display: compact;
line-height: normal;
background-color: transparent;
}



.blog h1.title {
    color: #063e4d;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.feed-item-title a{ 
font-size: 90%;
}

.feed-item-title{ 
padding: 0 0 10px 0;
}

.rss2html-note{display: none;}



/* Landing page Template */


.LPWrapper {
    width: 100%;
	margin:0;
}


.insideContainer .textElement {
    margin:0 auto;
}

 #row1 {width:600px; margin: 0 auto;}
#StageText {
    font-size: 20px;
    line-height: 26px;
    margin: 20px auto 0;
    max-width: 85%;
    width: 730px;
}
 
.rowA #row1 .textElement p{
	width:90%;
	}

.rowA{
	background-color:#fff;  
	width: 100%; 
	float:left;
}

.rowA .textElement{
	padding: 50px 0;
}

.rowB{
	background-color:#f4f4f4; 
	width: 100%; 
	float:left;
}

.rowB .insideContainer .imageElement {
    margin:0 0 0 260px;
    width: 50%;
	padding: 5% 0% 5% 10%;
}

.rowA .insideContainer .imageElement {
    margin:0 0 0 40px;
    width: 50%;
	padding: 5% 10% 5% 0%;
}

.rowA .insideContainer  {

}

.rowA .tick li {
    margin: 0.1em 0px 0.7em;
}


.imgDescription{
position: absolute;
top:20%;
color: white;
left:auto;
right:auto;
width: 100%;
line-height: 2.5em;
}


.imgDescription h1{
color: white;
font-weight: 700;
text-shadow: 1px 1px 3px rgba(0,0,0,1);
font-size: 240%;
margin:90px 0 0 0
}

.imgDescription p{
color: #fff;
text-shadow: 1px 1px 3px rgba(0,0,0,1);
font-weight: 400;
margin:0 0 20px 0;

}

.rowA .insideContainer h2 {
    margin: 50px 0;
}


.rowB .insideContainer h2 {
    margin: 50px 0;
}


.LPlogo {
	background-image: url("../img/footer_logo.svg");
    background-repeat: no-repeat;
    background-size: 295px auto;
    background-position: center;
    height: 90px;
    width: 100%;
}

.LPstage{
	background-image: url("/Websites/us/images/Campaign_Images/Images/app_banner3.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 700px;
    width: 100%;
}

.LPcolLayout{
	height: 100%; 
	max-width: 600px; 
	display: inline-flex; 
	vertical-align:top; 
	margin-bottom:140px;
	margin-right:20px;
	}

.LPtextDescription {
    max-width: 600px;
    min-width: 250px;
    padding: 0 40px 20px;
    text-align: left !important;
    width: 100%;
}



.staticNav a:link, .OverviewArea8 a:visited  {
	color: #fff;
	background-color: rgba(0,0,0, 1);
	padding: 5px;
	display: block;
	height: 30px;
}

.OverviewArea8 a:Hover {
	padding: 5px;
	height: 30px;
}



/* lightCMS Slider */

.sldw_next a:Link, .sldw_next a:visited {
    background-image: url("../img/next.png")!important;
    border: 0 none !important;
    height: 60px;
    overflow: hidden;
    position: absolute;
    right: 5%;
    text-decoration: none !important;
    text-indent: -9999px;
    top: 43%;
    width: 40px;
}


.sldw_next a:hover, .sldw_next a:active {
    background-image: url("../img/next.png")!important;
}


.sldw_prev a:Link {
    background-image: url("../img/previous.png");
    border: 0 none !important;
    height: 60px;
    overflow: hidden;
    position: absolute;
    right: 5%;
    text-decoration: none !important;
    text-indent: -9999px;
    top: 43%;
    width: 40px;
}


.sldw_prev a:hover {
    background-image: url("../img/previous.png");
}



.sldw_caption{
background: none;
    margin: 0 auto;
    position: absolute;
    top: 276px;
    width: 100%;

}

.sldw_caption h3{
color: #fff;
text-align: center;

}


.sldw_caption_hover {
    background: rgba(0,0,0,.5);
    bottom: 0px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
}

.sldw_caption_hover h3{
	text-align: center;
	color: #fff;
	margin: 0;
}


.sldw_caption_hover h3:hover{
background: none;
}

.SlideShowImage {margin:20px 0 0}

.SlideShowImage img{border-radius: 3px;}

.sldw_navigation {visibility: visible!important;}



/* roadmap */


.scrollContainer{
overflow-y:hidden; 
overflow-x:scroll; 
margin:30px auto 0;   
background-color:#f7f7f7; 
width: 95%;
transition:none!important;
}

.scrollArea{
width:5100px;
position: relative;
left:0;
transition: 1s ease-in;
}

.columnContainer{
float:left;
}

.columnContainer a:hover{
text-decoration:none;
}


.columnScroll{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #fff;
    border-image: none;
    border-radius:3px;
    border-style: solid;
    border-width: 10px 10px 1px;
    margin: 0 5px 40px;
    text-align: center;
    width: 270px;
}

.columnScroll em{
color: #ff0000;
}


.columnScroll h3{
color: #58595b;
font-size: 20px!important;
font-weight:600;
text-transform: uppercase;
}


.columnScroll .projectArea h3{
color: #000;
font-size: 20px;
font-weight:300;
text-transform: inherit;
}

.columnScroll em {color: #ff6c6c!important; margin-bottom: 5px;}

.projectArea{
	border-radius: 3px;
    margin: 0 0 10px;
    padding: 10px 10px 20px;
    text-align: center;
    text-decoration: none;
}

.projectArea a:Link, a: visited{
    font-size: 11px;
    font-weight: 400;
    color: #000; 
	text-decoration: none;
}


.projectArea h3{
color:rgba(0,0,0, .8);
font-weight: 600;
margin: 20px 0!important;
font-size: 18px;
text-transform: inherit;

}



#now{
background-color: rgba(245,234,255,.5); min-height: 150px;
}

#now:hover{
background-color: rgba(245,234,255,.9);
}

#now p{
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
color: #000;
}


#planning{
background-color: rgba(219,248,255,.5);
}

#planning:hover{
background-color: rgba(219,248,255,.9);
}

#planning p{
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
color: #000;
}


#beta{
background-color: rgba(250,232,190,.5);
}
#beta:hover{
background-color: rgba(250,232,190,1);
}

#beta p{
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
color: #000;
}

.roadmapArrows{ display: block;}
.roadmapList{display:none;}

 .c-scrollArrow {
	background-color: transparent;
    border: 0 solid #009fda;
    cursor: pointer;
    display: inline-block;
    fill: transparent;
    height: 50px;
    stroke: #000;
    stroke-width: 5px;
    width: 50px;
    padding: 3px;
    }
    .c-scrollArrow:hover {
    background-color: #cdcdcd;
    border-radius: 3px;
    stroke: #fff;
    padding: 3px;
    }


#itsl-scroll-right{
float:left;
}

#itsl-scroll-right{
float:right;
}


#development{
background-color: rgba(255,224,224,.5);
}
#development:hover{
background-color: rgba(255,224,224,.9);
}

#development p{
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
color: #000;
}

#TBA{
background-color: rgba(234,234,234,.5);
}

#TBA:hover{
background-color: rgba(234,234,234,.9);
}

#TBA p{
font-size: 12px;
text-transform: uppercase;
font-weight: bold;
color: #000;
}

.next, .prev{
	cursor:pointer;
}


/* **************** FRONTER ****************** */


.itslearning-eu-fronter-home .videoText {
    margin: 12% auto;
}

.itslearningfinland-fronter-home .videoText {
    margin: 12% auto;
}

.itslearning-eu-fronter-home .OverviewArea1{
	margin:0;
	padding:0;
	}

a.itslearning-fronter:link {
    background-image: url("../img/itslearning-badge.svg");
    background-repeat: no-repeat;
    background-size: 75px auto;
    display: block;
    float: left;
    margin: 0 0 0 10px;
    padding-bottom: 65px;
    transition: all 0.35s ease-in-out 0s;
    width: 70px;
}
a.homepage-fronter:link {
	background-image: url("../img/fronter-home.svg");
    background-repeat: no-repeat;
    background-size: 155px auto;
    /* float: left; */
    margin: 22px 0 0 90px;
    padding-bottom: 65px;
    width: 155px;
    display: block;
    transition: all 0.35s ease-in-out 0s;
    }
     
   
.topBarFronter{
background: #32d7d4; /* Old browsers */
background: -moz-linear-gradient(45deg,  #32d7d4 0%, #00c0ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32d7d4', endColorstr='#00c0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
position: fixed; 
width: 100%; 
z-index: 999;

}

.fronterButtonGrey{
border-radius: 2px;
padding: 8px 15px!important; 
color: #434343!important;
font-size: 0.8em;
background: #f7f7f7; /* Old browsers */
margin:0 0 50px 0;
}

.fronterButtonGrey:hover{
border-radius: 2px;
padding: 8px 15px!important; 
color: #434343!important;
font-size: 0.8em;
background: #ddd; /* Old browsers */
margin:0 0 50px 0;
}



.fronterButton{
border-radius: 2px;
padding: 8px 15px!important; 
color: #fff!important;
font-size: 0.8em;
background: #32d7d4; /* Old browsers */
background: -moz-linear-gradient(45deg,  #32d7d4 0%, #00c0ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32d7d4', endColorstr='#00c0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.fronterBox{
color: #fff;
border-radius: 4px;
padding: 35px; 
margin: 10px 40px 0 0;
color: #fff!important;
background: #32d7d4; /* Old browsers */
background: -moz-linear-gradient(45deg,  #32d7d4 0%, #00c0ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32d7d4', endColorstr='#00c0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.fronterContentWrapper {
    width: 100%;
    max-width: 1680px;
    margin: 98px auto 30px auto;
    height: auto;
    background-color: #fff;
}

.fronterContentWrapper img{
	max-width: 100%; height: auto;
}

.fronterContentWrapper a{
color: #00c0ff;
font-weight: 400;
}

.fronterContentWrapper a:hover{
color: #00c0ff;
}

.fronterContentWrapper h1{
color: #58595b;
font-size: 260%;
}

.fronterContentWrapper h2{
color: #58595b;
font-size: 260%;
}

.fronterContentWrapper h3{
color: #58595b;
font-size: 160%;
line-height: 124%;
margin: 0 0 20px 0;
}

.fronterContentWrapper p{
    color: #858585;
}


.fronterContentWrapper em a{
    color: #7f7f7f;
}

.eventBack{display: none;}


.fronterTabs{
	display:inline-block;  
	text-align:center; 
	margin: 0 20px 20px 0; 
	}


.itslearning-eu-fronter-detail .pageIntro h1{
	  margin: 30px 0;
	}

.topBarFronter .mainMenu > li > a {
	color: rgba(255, 255, 255, 1);
	}



/* **************** Animate ****************** */

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* **************** Social ****************** */

.socialMedia {
    list-style: outside none none;
    overflow: hidden;
    width: 64px;
	position: fixed;
	right:0;
	top:400px;
	z-index:5;
}


.socialMedia li {
    display: inline;
    float: left;
    list-style: outside none none;
    margin: 0!important;
}

.socialMedia li a{
opacity: .5;
}

.socialMedia li a:hover{
opacity: 1;
}


/* **************** Custom Social ****************** */


.customSocialMedia {
    list-style: outside none none;
    width: 40px;
	position: fixed;
	right:0;
	top:300px;
	z-index:5;
}



.facebook{
	background-image: url("../img/social-icons/fb1.jpg");
    display: block;
    height: 40px;
	}
	
.twitter{
	background-image: url("../img/social-icons/twitter.jpg");
    display: block;
    height: 40px;
	}
	
.vimeo{
	background-image: url("../img/social-icons/vimeo.jpg");
    display: block;
    height: 40px;
	}
	
.youtube{
	background-image: url("../img/social-icons/youtube.jpg");
    display: block;
    height: 40px;
	}
	
.xing{
	background-image: url("../img/social-icons/xing.jpg");
    display: block;
    height: 40px;
	}
	
.its{
	background-image: url("../img/social-icons/its.jpg");
    display: block;
    height: 40px;
	}

.customSocialMedia li a{
opacity: .5;
}
	
.customSocialMedia li a:hover{
	opacity:1;
	}



/* **************** show hide box ****************** */

.boxedDetail{
    background-size: 110% 110%;
	background-position:center;
    display: block;
    height: 300px;
    margin: 0 20px 20px 0;
    text-align: center;
    transition: all 0.35s ease 0s;
    width: 300px;
	background-repeat: no-repeat;
	border: 10px solid rgba(0, 0, 0, 0);
	border-radius:150px;
}
	
	
	.boxedDetail:hover{
    background-size: 120% 120%;
    cursor: pointer;
    display: block;
    height: 300px;
    margin: 0 20px 20px 0;
    text-align: center;
    transition: all 0.35s ease-in-out 0s;
    width: 300px;
	background-position:center;
	background-repeat: no-repeat;
	border: 10px solid rgba(0, 0, 0, 0.2);
	}

.boxedDetail span{
    color: #fff;
    display: block;
    font-size: 33px;
    font-weight: 700;
    height: 280px;
    opacity: 0;
    padding: 90px 0 0;
    position: relative;
    top: 0;
    width: 280px;
	transition: all 0.35s ease 0s;

}

.boxedDetail span:hover {	
    color: #fff;
    display: block;
    font-size: 33px;
    font-weight: 700;
    height: 280px;
    opacity: 1;
    padding: 30px 0 0;
    position: relative;
    width: 280px;
	transition: all 0.35s ease 0s;
	
}

.flags li{
	list-style-type:none;
	margin:0 -5px 20px 0;
	display: inline-block;
	}

.flags li img{
	vertical-align:middle;
	margin: 0 15px 0 0;
	
	}
	
	.pyramid{
    margin-bottom: 110px;
    margin-top: 100px;
    color:#fff;
}

.enjoyable {
    border-bottom: 113px solid #fdb8b8;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    height: 0;
    margin: auto;
    width: 39px;
}

.enjoyable span {
    display: block;
    left: -64px;
    position: relative;
    text-align: center;
    top: 60px;
    width: 128px;
}

.useable {
    border-bottom: 85px solid #f3776b;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    height: 0;
    margin: auto;
    width: 280px;
}

.useable span {
    display: block;
    left: -41px;
    position: relative;
    text-align: center;
    top: 27px;
    width: 242px;
}


.useful{
    border-bottom: 85px solid #e14545;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    height: 0;
    margin: auto;
    width: 400px;
}

.useful span {
	display: block;
    left: -41px;
    position: relative;
    text-align: center;
    top: 27px;
    width: 363px;
}
