@media (max-width: 1024px) { 



body{ background-color: #fff;
    color: #000000;
    font-family: "lato";
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 100%;
    }

h1, h2, h3, h4, h5 {border: 0; margin:0 0 10px 0;}

h1 {font-size: 210%; font-weight: 300;}
h2 {font-size: 150%; font-weight: 300;}
h3 {font-size: 140%; font-weight: 300;}
h4 {font-size: 130%; margin:0; font-weight: 400; color: #603352; }
h5 {font-size: 130%; margin:0; font-weight: 300; }


a[name] {
  padding-top: 152px;
  margin-top: -152px;
  display: inline-block; /* required for webkit browsers */
  vertical-align: top;
}


.smallBodyText{font-size: 80%; line-height: 1.5;}

.ingres .textElement{ padding-bottom: 30px;}

p {/* margin-bottom: 20px; margin-top: 0; */}

/* icons */    
i {padding: 0px 0px 0 0;}

a { outline: 0; transition: all 0.35s ease-in-out 0s;  line-height: normal;}

a img{ border: 0px; text-decoration: none;}

em {padding-top: 7px; margin-bottom: 20px;}


video {
	max-width: 100%;
	height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	text-align: center;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
	padding: 0% 0% 3% 0%;
	background-color: #ececec;
}

.videoCaption {
	padding: 5%;
	background-color: #ececec;
	color: #000;
}


.archive .postInfo em{
display: none;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;}

.pagetitle{text-transform: lowercase;}

img {max-width: 50%; height: auto;}

iframe {max-width: 100%; border: 0} 


.SlideShowImage{padding-bottom: 10px;}


/* BREADCRUMB'S */

#breadCrumb {
height: 30px;
font-size: 13px;
background: rgba(0, 0, 0, .6);
padding: 4px 20px 0 0px;
position: relative;
margin-bottom: -34px;
color: #fff;
}

#breadCrumb .breadCrumb {
color: #fff;
width: 100%;
margin: 0 auto;
padding: 3px 0px 0px 30px;
}

#breadCrumb .breadCrumb a {
text-decoration: none;
color: #fff;
padding: 0px 0px 10px 0px;
}

#breadCrumb .breadCrumb a:hover{
text-decoration: none;
color: #f47920;
padding: 0px 0px 10px 0px;
}




#breadCrumbAlt {
    display: none;
}

/* END BREADCRUMB'S */


a.backButton:before{
	content: "\f104";
    font-family: FontAwesome;
    text-decoration: inherit;
    color: #fff;
    float: left;
    font-size: 30px;
    padding: 0 5px 0px 0;
    margin-top:-10px;
}

a.backButton {
	color: #717070;
	display: block;
	padding: 11px 0px 10px 5px;
	margin-top: 1px;
    }

a.backButton:hover {
	color: #fff;
	display: block;
	background-color: #676767;
	padding: 11px 0px 10px 5px;
	margin-top: 1px;
    }


.tick{
color:#797979;
margin: 0;
list-style: none;
padding: 0;
}

ul.tick li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 5px 0 0;
    border: 0 none;
    height: 24px;
    width: 24px;
    color:#f3772b;
    -webkit-appearance:none;
}

.tick li{
	margin-bottom: 0.7em;
    margin-left: 14px;
    margin-top: 0.1em;
    margin-right: 14px;
    text-indent: -11px;

  	}


.staticNavLabel {
    padding: 0 5px 0 0;
    border: 0 none;
    color:#fff;
    -webkit-appearance:none;
    background-color: #f47920;
	padding: 15px 20px;
	display: block;

}

.staticNavCategrory {
    padding: 0 5px 0 0;
    border: 0 none;
    color:#717070;
    -webkit-appearance:none;
    background-color: #dadada;
	padding: 15px 20px;
	display: block;
	font-weight: 600;
}



.staticNav:before {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 5px 0 0;
    border: 0 none;
    height: 24px;
    width: 24px;
    color:#fff;
    -webkit-appearance:none;
}


a.staticNav:link, a.staticNav:visited  {
background-color: #f47920;
padding: 15px 20px;
display: block;
color: #fff;
margin: -40px -20px 0;
}


.staticNavBlog:before {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 5px 0 0;
    border: 0 none;
    height: 24px;
    width: 24px;
    color:#fff !important;
    -webkit-appearance:none;
}


a.staticNavBlog:link, a.staticNavBlog:visited  {
background-color: #4d2441;
padding: 15px 20px;
display: block;
color:#fff !important;
/* margin-top: -63px; */
}

.staticNavNews:before {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 5px 0 0;
    border: 0 none;
    height: 24px;
    width: 24px;
    color:#fff !important;
    -webkit-appearance:none;
}


a.staticNavNews:link, a.staticNavNews:visited  {
background-color: #347c87;
padding: 15px 20px;
display: block;
color:#fff !important;
/* margin-top: -63px; */
}


/*  TOP MENU  */

.topBar{
position: static; 
width: 100%; 
z-index: 2000;
margin-top: 0;
height: 88px;
}


.homepageTopBar{
background: #444059!important;
position: static; 
width: 100%; 
z-index: 2000;
margin-top: 0;
height: 88px;
}

.menuWrapper{
	height: 88px;
    margin: 0;
    width: 100%;

}

.desktopMenu{display: none; }

.slicknav_menu {
	display: block;
}


a.homepage:link {background-image: url("../img/orange_logo.svg")!important;
    background-repeat: no-repeat;
    background-size: 200px auto;
    margin: 14px 10px 18px 10px;
    padding-bottom: 60px;
    width: 200px;
    display: block;
    float: left;
    }
    
    
a.homepageOrange:link {background-image: url("../img/orange_logo.svg")!important;
    background-repeat: no-repeat;
    background-size: 200px auto;
    margin: 14px 10px 18px 10px;
    padding-bottom: 60px;
    width: 200px;
    display: block;
    float: left;
    }

.searchBoxTopBar {
    color: #fff;
    float: right;
	margin: -4px 0 40px 0;
    padding: 0 0 0 0;
    right: 0px;
    width: 100%;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    background: rgba(206, 197, 209, 0.5) none repeat scroll 0 0; 
    height: 45px;
}


.searchBoxTopBar ul li{
    background-color: none;
    display: inline-block;
    border-right: none;
    border-left: none;
    padding: 7px 20px;
    list-style: none;
}


.searchBoxTopBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


.searchBoxTopBar ul li:first-child {
	border-left:0;
    margin: 0;    
}

.searchBoxTopBar ul li:last-child {
	border-right:0;
	margin: 0;
}






a.searchButton:link, .searchButton:visited{
    color: #292638;
    font-size: 20px;
    }   
a.searchButton:hover, .searchButton:active{
    color: #fff;
    }



a.login:link, .login:visited{
    color: #292638;
    font-size: 16px;
    }
a.login:hover, .login:active{
    color: #fff;
    }
    




/*  Call to action (CTA)  */


.CTAButtonContainer{
    position: fixed; 
    z-index: 20; 
    bottom: 0;

}



/*  Main campaign area */

.mainCampaignWrapper{
    background-image: url(../img/homepage_map.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 450px;
    background-color: #f47920;
    margin-bottom: .3em;
    padding-top: 80px;
    }

.mainCampaignWrapperHome{
    background-image: url(../img/homepage_abstract.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 450px;
    background-color: #f47920;
    /* margin-bottom: .3em; */
    /* padding-top: 80px; */
    margin-top: 92px;
    }

    
.landingPageWrapper{
   background: linear-gradient(to top, #d46515 1%, #f47920);
    display: block;
    margin-top: 92px;
    }  

.landingPageWrapper .element{
padding: 7% 0;	
    }     

.landingPageWrapper img{
    display: block;
    }  


.campaignContent{
    width: 100%;
    margin: 0% auto;
    }


.campaignContent h1 {
    color: #fff;
    line-height: 1.3;
    }
    
.campaignContent h2 {
    color: #fff;
    }
  .campaignContent h3 {
    color: #000;

    }
    



/*  Main Content  */

.mainContentWrapper {
 margin: 0 auto;
    padding: 20px;
    width: 90%;
}


.contentContainer{
    width: 100%;
    margin: auto;
    margin-top: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-width: 20px; 
}



/*  Inside Template */



.insideContainer{
	width: 90%; 
	margin: 0 auto;

}

.insideContainer h1{
	padding: 0px 0 0px 0px;
	font-size: 260%;
	color: #58595b;
}

.insideContainer h2{
	padding: 0 0 20px 0;
    color: #58595b;
    font-size: 240%;
    line-height: 40px;
}

.insideContainer h3{
    color: #58595b;
    font-size: 160%;
    line-height: 124%;
    margin: 0 0 20px;
}


.insideContainer .imageElement{
	width: 100%;
	margin: 0 auto;
}


.pageTitle{
	width: 100%;
	margin: 0% auto;
	background-color: #79a167;
    height: auto;
	}
	
	
.pageTitle h1 {
    color: #304B2B;
    border: 35px solid transparent;
    }
    
.pageTitle h2 {
    font-weight:600;
    color: #000;
    padding: 0 20px 0 20px;
    }

.pageTitle p {
    font-weight:300;
    color: #e1a2ce;
    padding: 0 20px 0 20px;
    }




/*  Level 3 Template  */
 
.nobannerWrapper {
    height: auto;
    background-color: #F47920;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 1px;
    
    }
    
.titleContainer{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    color: #fff;
    }




/* Section Menu */

.sectionMenuContainer{
	width: 100%;
	float: left;
	background-color: #ececec;
	z-index: 0;
}


.sectionMenuContainer p {padding: 20px;}
/*  end section menu */


.mobileMenuControl{
display: block;
}

.desktopMenuControl{
display: none;
}

.sectionMenuContainer h2{
color: #01659a;
font-size: 120%;
padding: 30px 0 0px 19px;
}

.sectionMenuContainer h3{
color: black;
font-size: 110%;
padding: 30px 0 0px 19px;
}

.sectionMenuContainer h4{
color: black;
font-size: 100%;
padding: 30px 0 0px 19px;
}
    
.LevelThreeContainer{ 
	width: 100%; 
	margin: 0% auto;
    }  
    
   
.textBoxTestimonial{
    width:100%;
    background: linear-gradient(to top, #fff 1%, #e2f7ff); 
    float:left;
    margin: 0;
    border-top: 10px solid #fff;
    
    }
    
    
.textBoxTestimonial p {
	color: #01659a;
	padding: 5px 20px;
	line-height: 1.6;
	font-size: 85%;
    } 
    
/*
.textBoxTestimonial a {
	color: #fff;
	font-weight: 400;
	background: #039ef1;
	padding: 8px;
    }  

.textBoxTestimonial a:hover {
	color: #fff;
	font-weight: 400;
	background: #01659a;
	padding: 8px
    } 
*/ 
     
    
.textBoxTestimonial .imageElement{
	width: 100%; 
	float: left; 
	margin-bottom: -10px;
	position: relative;
	z-index: 2;
	}

.textBoxTestimonial .imageElement a{
	width: 100%; 
	float: left; 
	position: relative;
	z-index: 2;
	border: 0;
	background: none;
	padding: 0;
	}
	
	
    

.storyContainer{
	height: auto; 
	float:left; 
	width: 100%; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	border: 10px solid transparent; 
	border-width: 0px 0 0px 0;
	font-size: 90%;
	
}

.pageIntro {
	color: #464646;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	border: 10px solid transparent; 
	border-width: 0 20px;

}

.pageIntro .textElement{
	margin: 0;
}

.pageIntro .imageElement{
	margin: 0 0 20px 0;
}

.pageIntro h1{
	color: #000;
	margin: 0;
}

.pageIntro h2{
color: #000;
font-size: 180%;

}

.pageIntro h3{
	font-weight: 300;
	color: #58595b;
}


.pageIntro a:link {color: #d16300;}
.pageIntro a:visited {color: #d16300;}
.pageIntro a:hover {color: #ee7202;}
.pageIntro a:active {color: #ee7202;}


/* start improved styles */

.rowContainer{ 
    width: 100%;
    height: auto;
    margin: 0 0 0px 0;
    border: 0;
	float: left;
}

.rowContainer .textElement{ 
    margin: 0 0 20px 0;
}


.thirdA{
width: 100%;
float: left;
}

.thirdA .textElement{
width: 100%;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
border: 10px solid transparent; 
border-width: 10px 10px 10px 0;
float: left;
}

.thirdB{
width: 100%;
float: left;
}


.thirdB .textElement{
width: 100%;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
border: 10px solid transparent; 
border-width: 10px 30px 10px 0px;
float: left;
}



.full{
width: 100%;
/* margin: 2% 3%; */

}

.full .textElement{
width: 100%;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
border: 10px solid transparent; 
border-width: 10px 0px 10px 0px;
float: left;
}


.halfA{
width: 50%;
float: left;
}

.halfA .textElement{
width: 90%;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 0px solid transparent;
border-width: 0px;
margin: 0 auto;
padding: 10% 0 10% 10%;
}



.halfB{
width: 50%;
float: left;
}

.halfB .textElement{
width: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 0px solid transparent;
border-width: 0px;
margin: 0 auto;
padding: 10% 10% 10% 0%;
}





/*  Blog styles  */

    /* blog listing */
	
	.blogList {
    padding: 0 0 0 0;
    }

    .blogList ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    list-style-image: none;
    }
    .blogList ul li {
    list-style: none;
    list-style-image: none;
    /* background-color: #f7f7f7; */
    display: block;
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid #d1d1d1;
    }
    
    .blogList ul li:hover{
    list-style: none;
    list-style-image: none;
    /* background-color: #ededed; */
    }
    
    
    .blogList ul li h2.postTitle {
    margin: 0;
    font-size: 120%;
    }

    
    .blogList ul li .postBody {
	
    }
    
    .blogList ul li .postInfo {
    color: #777;

    }
    .blogList ul li .postInfo span.postDate {
    color: #777;
    }
    
	.blogList a:Link, .blogList a:visited{
	color: #f47920;
	font-size: 100%;
	}
	
	.blogList a:hover, .blogList a:active{
	color: #000;
	font-size: 100%;
	}


/* sectionMenu Blog listing */


	.sectionMenuContainer .blogList h2.postTitle {
    text-decoration: none;
    background-color:transparent;
	margin: 0 20px -20px 20px;
	padding: 10px 0px;
	font-size: 80%;
	display: block;
	border-bottom: 1px dotted #cbcbcb;
    }
    
    .sectionMenuContainer .blogList ul li .postInfo span.postDate {
    display: none;
    }
    
    .sectionMenuContainer .blogList h2.postTitle a{
  padding: 5% 7%;
  cursor: pointer;
  z-index: 0;
  text-decoration: none;
  color: #717070;
  display: block;
    }
    
  .sectionMenuContainer .blogList h2.postTitle a:hover{
  color: #000;

    }


/* end of section menu blog list */


    .post h3 {
    color: #58595b
    }
    .post .postDate {
    margin: 0 0 15px 0;
    color: #777;
    font-style: italic;
    }
    .post .postViewInfo {
    background: #F2F2F2;
    margin-bottom: 15px;
    border: none !important;
    padding: 5px 9px;
    margin: 0;
    }
    .post .postViewInfo .postViewTags li a {
    color: #000 !important;
    text-decoration: none !important;
    }
    .post .postViewInfo .postViewTags li a:hover {
    color: #777 !important;
    }
	
	.blogBack {
    width: 150px;
    margin: 40px 0 40px 0;
    color: #fff;
    display: none;
    }
    
    .blogBack a {
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin: 0;
    background-color: #58595b;	
    padding: 8px 5px 10px 5px;
    color: #fff;
    }
    
    .blogBack a:hover {
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin: 0;
    background: linear-gradient(to top, #d46515 2%, #ee7202);
    color: #fff;	
    }
	


    /* comments form */
    
    .commentsHead{
     display: none;
    }
    .commentsForm {
    clear: both;
    width: 94%;
    padding: 20px 2% 20px 4%;
    margin-bottom: 20px;
    background-color: #f1f1f1;

    }
    .commentsForm .addComment {
    font-weight: 300;
    clear: both;
    padding-bottom: 10px;
    margin-left: 0;
    }
    .commentsForm label {
    font-weight: 300;
    display: block;
    color: #000;
    }
    .commentsForm input,
    .commentsForm textarea {
    padding: 10px;
    border: 0px !important;
    background: #fff !important;
    color: #000;
    margin: 10px 10px 10px 0;
    background: #fff;
    font-family: "lato";
    font-weight: 300;
    width: 100%;
    font-size: 90%;
    }
    
    #main_0_0_captcha_CodeTextBox{
    width: 180px;
    height: 30px;	
    margin-left: 0;
    }
    
    
    .commentsForm span {
    font-weight: 300;
    color: #000;
    margin-left: 0;
    }
    
    .commentsForm h3 {
    color: #000;

    }

    
    .commentsForm img {
    margin-left: 0;
    }
    
    
    .commentsForm input.submitComment {
    width: auto;
    height: 38px;
    color: #000;
    border: none !important;
    margin: 10px 0 10px 0;
    cursor: pointer;
    }
    
    
    .commentsForm .note {
 	font-family: "lato";
    font-weight: 300;
    font-size: 12px;
    width: 90%;
    }
	.alert{
	display: none;
	}
	div.commentsForm textarea {
    height: 175px;
    width: 95%;
	}
	div.commentsForm input {
    width: 95%;

	}



.blogList .rss {
    margin: 0 auto;
    position: static;
    text-align: left;
    top: 174px;
    width: 90%;
}

    /* blog comments */
    .commentsHead {
    padding-top: 25px;
    clear: both;
    }
    .commentsHead a {
    font-weight: normal;
    }
   
    .comments {
/*
    width: 96%;
    padding: 2% 0%;
*/
    margin-top: 20px;
    
    }
    
    .comments dl {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;

    }
    dt.comment {
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    color: #000;
    }
    dt.comment .commentNumber {
    color: #000;
    }
    dt.comment a {
    text-decoration: none;
    font-weight: 300;
    }
    
    dt.comment a:hover {
    color: #000;
    font-weight: 300;
    }
    
    dd.comment {
    background: transparent !important;
    margin: 5px 0 25px !important;
    padding: 0 0 5px !important;
    color: #000;
    border-bottom: 1px dotted #ccc;
    font-style: italic;
   
    }
    dd.comment .commentDate {
    color: #888;
    font-size: 14px;
    font-style: normal;
    
    }


.blogList div.pagination ul {
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 14px;
    height: 40px;
    padding: 0 !important;
    width: auto;
    display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
}
.blogList div.pagination ul li {
    border-bottom: medium none;
    border-right: 1px solid #eee;
    float: left;
    margin: 0 !important;
    min-width: 30px;
    padding: 0;
    text-align: center;
}
.blogList div.pagination ul li.current, .blogList div.pagination ul li.dots {
    cursor: default;
    min-width: 10px;
    padding: 5px 10px;
}
.blogList div.pagination ul li.current {
    background: none repeat scroll 0 0 #f9f9f9;
    font-family: 'BrandonText',sans-serif;
}
.blogList div.pagination ul li.next, .blogList div.pagination ul li:first-child {
    border-radius: 5px 0 0 5px;
    width: auto;
}
.blogList div.pagination ul li:last-child {
    border: medium none;
    width: auto;
}
.blogList div.pagination ul li a {
    border: medium none;
    color: #666;
    display: block;
    padding: 6px 10px;

}
.blogList div.pagination ul li a:hover {
    background: none repeat scroll 0 0 #efefef;
    color: #333;

}



/* Search results styles */

.searchWrapper{
 margin: 0 2%;
    width: 96%;
}

.searchContainer{
    margin: 80px 0 0;
}

.searchContainer h1{
	font-weight: 300;
	color: #ee7203;
	margin-top: 0px;
}


.searchBox{
height: 70px
-webkit-appearance:none;
}

.searchBox .searchInput {
    font-size: 16px;
    height: 42px;
    margin: 0 5px 0 auto;
    padding: 0 0 0 5px;
    width: 80%;
    float: left;
    -webkit-appearance:none;   
    border-radius: 0;
}

.searchBox .searchButton {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border: 0 none;
    height: 42px;
    width: 42px;
    background-color: #f47920;
    cursor: pointer;
    color:#fff;
    -webkit-appearance:none;
    border-radius: 0;
    margin-top: 0px;
    font-size: 27px;
  -webkit-appearance:none;
  border-radius: 0;
}


.searchButton:hover{color: #000;}




.searchResults li a{
color: #ee7203;
}

.searchResults li a:hover{
color: #f67633;
}


.searchResults li {
    list-style: none outside none;
    padding: 30px;
    background-color: #f6f6f6;
    border-bottom: dotted 1px #58595b;
    margin-bottom: 20px;
    
}

.searchTerm {
    font-weight: 400;
    background-image: none;
    color: black;
}






/* 404 & Sitemap styles  */

.errorWrapper{
	width: 100%;
    margin: 0% auto;
    padding-top: 20px;

}

.errorContainer{
    margin: 50px;
}

.errorContainer h1{
	font-weight: 300;
	color: #58595b;
}

.errorContainer li a{
color: #f47920;
}

.errorContainer li a:hover{
color: #f67633;
}


.errorContainer li {
    list-style: none outside none;
    padding: 10px 5px 5px 0px;
    
}



.errorContainer ul {
    margin: 0px 0px 10px 0px;
    
}

.errorContainer .globalMenu ul li a{

font-size: 90%;
margin-left: 20px;
color: #58595b;

}

.errorContainer .globalMenu ul .level2 li a{

font-size: 90%;
margin-left: 20px;
color: #a7a7a7;

}

.errorContainer .globalMenu ul .level3 li a{

font-size: 90%;
margin-left: 40px;
color: #a7a7a7;

}





/*  Footer starts here  */

.footerWrapperTop {
    bottom: 0;
    width: 100%; 
    height: auto; 
    background: linear-gradient(to top, #fff 60%, #ececec);
    float:left;
	-webkit-box-shadow: -1px -8px 6px -8px rgba(0,0,0,0.5);
	-moz-box-shadow: -1px -8px 6px -8px rgba(0,0,0,0.5);
	box-shadow: -1px -8px 6px -8px rgba(0,0,0,0.5);
	border-top: 1px solid #fff;
	position: relative;
	z-index: 5;
    }


.footerWrapper {
    bottom: 0;
    width: 100%; 
    height: auto; 
    background-color: #fff; 
    float:left;
    }


#sticky{
    float: left;
    margin: 0px 0 0;
    padding: 30px 0 0 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 4;
    background-color: #fff;
}


.footerContent{
color: #747c7e;
    font-size: 80%;
    height: auto;
    margin: 0 5%;
    width: 90%;
    }
 
     
.footerContent ul{
margin:0;
padding: 0;

}

.footerContent li{
list-style: none;

}

    
.footerContent h2{
    color: #58595b;
    margin-bottom: 10px;
    }
    
.footerContent p{
    border:0;
    margin: 0;
    width: 100%;

    }
    
.copyright{
width: 100%;
margin: 2% 0;
}    
    
.footerContent img{
    margin-right: 3px;
    }
    
.footerRowContainer{
	width:100%; 
	float:left;
}


.footerMarkets{
	padding:30px 20px 0 0;
	float: left;
	margin: 0;
	height: auto;
	width: auto;
}


.footerProduct{
	padding:30px 0;
	float: left;
	margin: 0;
	height: auto;
	width: auto;
}

.footerCompany{
	padding:30px 0 0 20px;
	float: left;
	margin: 0;
	height: auto;
	width: auto;
}

.footerDownloads{ 
	padding:30px 0;
	float: left;
	margin: 0;
	height: auto;
	width: auto;
}


.footerNewsletter{ 
	float: left;
    margin: 20px 0 0;
    padding: 0;
    width: 40%;
}


.newsletterSignUp {
margin-left: -12px;

}

.mktoForm{
margin: 0 0 0 -30px;
}

.mktoForm input{
height: 30px;
position: absolute;
}

.mktoError{
margin-left: -200px;

}







.footerContacts{
	width: 50%; 
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	border: 1px solid #000; 
	border-width:0em 0em 0em 0em; 
	padding:0px 20px 40px 0px;
	float: left;
}



a.footerLinks:link {color: #7a7a7a; line-height: 20px; }
a.footerLinks:visited {color: #7a7a7a;}
a.footerLinks:hover {color: #f47920;}
a.footerLinks:active {color: #f47920;}

a.emailLink:link {color: #f47920; line-height: 30px; }
a.emailLink:visited {color: #f47920;}
a.emailLink:hover {color: #f47920;}
a.emailLink:active {color: #f47920;}


.SocialIcons{
    margin: 20px 0 0 0px;
    position: static;
}

.SocialIcons i{
font-size: 32px;
color: #a0aaad;
margin-right: 5px;
}


li.social{color: #fff; display: inline-block;}



ul.countryList {
	display: inline-block; 
	margin: 0 44px 0 0;
}


.smallPrint{
    margin-top: 20px;
    font-size: 80%;
    }
    
    
.telecom{
color: #58595b;
}



/* Uptime */


.totalContainer{margin: 0 auto; background-color: aqua; height: 70px;}

.digit{
	font-size: 350%; 
	text-align: center;
	color: #122559;
	}

.topRow{
	background-color: #f47920; 
	padding: 1% 1%; 
	width: 48%; 
	float: left; 
	color: #ffffff; 
	font-weight: 300;
	}


/* END OF UPTIME */



.pdf {
	background-image: url('../img/pdf.svg'); 
	background-repeat: no-repeat; 
	background-size: 100px; 
	width: 100%; 
	padding-bottom: 143px; 
	background-position: center;
}

.pdf a{color: white; }




/* Support page */

    .support-sites {
    	margin:	0;
    	padding:	0;
    }
    
    .support-sites > li {
    	list-style:	none;
    	line-height:	24px;
    	margin-bottom:	20px;
    	background-color:#f6f6f6;
    	padding:10px;
    	width:	90%;
    	display: block;
    }
    
    .support-sites > li > a > img {
    	margin-right:	10px;
    	float:	left;
    }
    
    .support-sites > li > a:link, .support-sites > li > a:visited, .support-sites > li > a:hover, .support-sites > li > a:active {
    	text-decoration:	none;
    	color:	#333;
    } 
    
    
/*  Press Page */


.businessCard{
float: left; 
padding: 15px; 
margin: 10px 10px 20px 0px; 
background-color: #f5f5f5; 
width: 45%;
}



/*  Overview Template  */


.overviewContentWrapper {
    width: 100%;
    margin: 0 auto 30px auto;
    height: auto;
    background-color: #fff;
}

.overviewContentWrapper img{
	max-width: 100%; height: auto;
}

.overviewContentWrapper h1{
color: #58595b;
font-size: 210%;
}

.overviewContentWrapper h2{
color: #58595b;
font-size: 210%;
}

.overviewContentWrapper h3{
color: #58595b;
font-size: 180%;
line-height: 124%;
margin: 0 0 20px 0;
}

.overviewContentWrapper p{
    color: #858585;
}


.overviewContentWrapper em a{
    color: #7f7f7f;
}


.overviewContentWrapper a:hover{
color: #f47920;
}

.headliner{
margin:0;
}

.headliner .textElement{
margin:0;
}

.headliner p{
width:100%;
margin: 0 auto;
padding: 0 0 30px;
}


/*  Area 1  */


.OverviewArea1{
padding: 0;
margin: 0;
}


.OverviewArea1 .textElement{
color: #000;
    margin: 0;
    padding: 5% 20px;
    text-align: center;
    width: 100%;
}




/* Area 2 */


div.OverviewArea2{
position: relative;
background-repeat: no-repeat;
width: 100%;
color: #252525;
min-height: 400px;
background-position: center center;
}

div.OverviewArea2 div.placeText{
position: absolute;
left:0px;
right: 0;
}

.OverviewArea2 .textElement{
	background-color: #fff;
    font-size: 100%;
    width: 320px;
    padding: 30px 37px 10px;
}


#CenteredBlock {
width: 50%;
padding: 0;
margin: 0 auto;
position: absolute;
left: 41.5%;
top:0%;
}



#CenteredBlock .textElement{
background-color: transparent;
width: 100%;
padding: 0px;
margin: 0px auto;
}



/* Area 3 */

.OverviewArea3 ul{
margin: 0;
padding: 0;
height: auto;
}

.OverviewArea3 .textElement{
width: 100%;
color: #000;
padding: 0 20px;
margin: 30px 0 0;
}

.OverviewArea3 > ul > li{
display: inline-block;
border: 0;
padding:0;
width: 49%;
vertical-align: top;
margin: 0;

}


li.halfToken{
display: inline-block;
margin: 0%;

}

li.halfToken .element img{
}


.halfToken .textElement{
width: 100%;
margin: 0;
padding: 60px 7%;
}


li.halfTokenRight{
display: inline-block;
margin: 0;
padding: 0;
}


.halfTokenRight .textElement{
width: 100%;
margin: 0%;
padding: 60px 7%;
}

.halfTokenRight .element img{
padding:0;
}



/*  Area 4  */


div.OverviewArea4{
position: relative;
background-repeat: no-repeat;
background-position: center center;
width: 100%;
color: #252525;
min-height: 400px;
}


div.OverviewArea4 div.placeText{
position: absolute;
right: 0px;
}



.OverviewArea4 .textElement{
	background-color: #fff;
    font-size: 100%;
    width: 320px;
    padding: 30px 37px 10px;
}



/*  Area 6  */



div.OverviewArea6{
position: relative;
background-repeat: no-repeat;
background-position: center center;
width: 100%;
color: #252525;
min-height: 400px;
margin-bottom: 0;

}

div.OverviewArea6 div.placeText{
position: absolute;
left:0px;
right: 0;
}

.OverviewArea6 .textElement{
	background-color: #fff;
    font-size: 100%;
    width: 320px;
    padding: 30px 37px 10px;
}



/* Area 7  */


.OverviewArea7{
width: 100%;
color: #000;
padding: 0;
}


.OverviewArea7 .textElement{
	color: #000;
    margin: 0;
    width: 90%;
    padding: 5%;
}


.OverviewArea7 > ul > li{
display: inline-block;
vertical-align: top	;
list-style: none;
}

.OverviewArea7 > ul > li .textElement{

}


/*  Area 8  */

.OverviewArea8{
width: 90%;
background-color: #fff;
margin: 0 auto;
}

.OverviewArea8 .textElement{
padding: 5%;
background-color: #fff;
margin: 0;
text-align: center;
/* border-top: 1px dotted #58595b; */
}

.OverviewArea8 .textElement p{
color: #808080;
}

.OverviewArea8 .textElement h3{
color: #58595b;
font-size: 150%;
line-height: inherit;
}


.OverviewArea8 a:link, .OverviewArea8 a:visited  {
	color: #fff;
	background-color: rgba(0,0,0, 1)
	padding: 5px;
	display: block;
	height: 30px;
}

.OverviewArea8 a:Hover {
	color: #fff;
	background-color: rgba(0,0,0, 1)
	padding: 5px;
	display: block;
	height: 30px;
}





/*  homepage video  */

.videoContainer{
    background-image: url("http://www.itslearning.eu/Websites/eunew/images/itslearning-modern/at-the-heart-of-banner.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    width: 100%;
    margin: 0;
    height: 570px !important;
}


video[poster]{
    display: none;
}

#ctaContainer{
bottom: 100px;
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0; 
}


.videoContainer video{
width: 100%;
height:auto;
margin: 0;
position: static;
top:0;

}

#videoOverlay{
display: none;
}

.videoContainer h1 .textElement{
height: 200px;
text-align: center;
position: absolute;
width: 100%;
z-index: 11;
}


.videoContainer h1{
	color: #fff;
    margin: 0 auto 18px;
    position: static;
    text-align: center;
    text-shadow: none;
    width: 100%;
    line-height: 45px;
/*     padding: 110px 0 20px; */
}

.videoContainer p{
color: #fff;
text-align: center;
position: static;
text-shadow: none;
width: 100%;
margin: 0 auto;
padding: 0 0 40px;
}

.videoText{
position: static;
width: 100%;
margin: 0 auto;
padding: 167px 0;
}

.videoText .textElement a{
color: #fff;
border-radius: 2px;
cursor: pointer;
padding: 8px 15px;
}

.videoText .textElement a:hover{
color: #fff;
}

.videoContentWrapper{
width: 100%;
background-color: #fff;
margin: 0 auto -30px auto;
position: relative;
z-index: 3;
min-height: 280px;
box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
}	


a.LeftMenuCTA:link, a.LeftMenuCTA:visited  {
background-color: #009fda;
padding: 5% 7%;
display: block;
color: #fff;
border-top: 0px solid #fff;
border-bottom: 0px solid #fff;
}

a.LeftMenuCTA:Hover {
background-color: #0191c6;
padding: 5% 7%;
display: block;
color: #fff;
border-top: 0px solid #fff;
border-bottom: 0px solid #fff;
}

.buttonContainer{
width: 100%;
position: static;
margin: 0 auto;
text-align: center;

}

a.HomePageCTA:link, a.HomePageCTA:visited{
    background-color: #0489b9;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    /* margin: 6% auto 0 41.5%; */
    padding: 11px 45px 9px;
    /* position: absolute; */
    text-align: center;
    width: 10%;
    /* z-index: 20; */
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45); 
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45); 
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
	border-bottom: 1px solid #01739c;
	border-right: 1px solid #01739c;
	border-top: 1px solid #09afeb;
	border-left: 1px solid #01a4df;
}

a.HomePageCTA:hover, a.HomePageCTA:active{
    background-color: #009ed7;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    /* margin: 6% auto 0 41.5%; */
    padding: 11px 45px 9px;
    /* position: absolute; */
    text-align: center;
    width: 10%;
   /*  z-index: 20; */
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45); 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.45); 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}



/* Calendar Styles */

.eventsElement{
padding: 0 0 20px 0;
}


.eventsElement h2{
color: aqua;
}

.eventDate{
font-size: 100%;
color: #603352;
margin: 0 0 30px;
}

.eventsList ul{
	margin:0;
	list-style: none;
	padding: 0;
}

.eventsList li{
	margin:0;
	list-style: none;
	padding: 0;
}

.calendarEvent ul{
width:100%;
margin: 20px 0 50px 0;
padding: 0;
}



.calendarEvent li:first-child{
display: inline-block;
vertical-align: top;
width:20%;
padding: 0 2% 0 0;
}

.calendarEvent li:last-child{
display: inline-block;
vertical-align: top;
width:77%;

}


.eventsList a:Link, .eventsList a:visited{
	color: #f47920;
	font-size: 120%;
}

.eventsList a:hover, .eventsList a:active{
	color: #000;
	font-size: 120%;
}


.calendarEvent a:Link, .calendarEvent a:visited{
	color: #f47920;
	font-size: 120%;
}

.calendarEvent a:hover, .calendarEvent a:active{
	color: #000;
	font-size: 120%;
}



.OverviewArea1 .eventsList a{
color: #f47920;
border-radius: 5px;
cursor: pointer;
padding: 11px 45px 9px;
background: none;

}

.OverviewArea1 .eventsList a:hover{
color: #000;
background-color: none;
}


.OverviewArea1 .calendarEvent li:first-child{
width:100%;
margin: 0;
padding: 0;
}

.OverviewArea1 .calendarEvent ul{
width:100%;
margin: 20px 0 0px 0;
padding: 0;
}


.socialSharing{
    float: left;
    height: auto;
    padding: 34px 0 50px 0;
	}

#sharingSpacer{
padding:10px 0 0px 0;
float: left;
}
	




#leftMenu .postArchiveGroup ul li a:Link, .blogsElement ul li a:visited{
padding: 0;
margin:0;
display: compact;
line-height: normal;
background-color: transparent;
}


#leftMenu .postArchiveGroup ul li a:hover, .blogsElement ul li a:active{
padding: 0;
margin:0;
display: compact;
line-height: normal;
background-color: transparent;
}



.blog h1.title {
    color: #063e4d;
    font-family: 'BrandonText-Bold',sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.feed-item-title a{ 
font-size: 100%;
color: black;
}


.rss2html-note{display: none;}



/* Landing page Template */


.LPWrapper {
    width: 100%;
    margin: -100px 0 0;
}

.rowA{
	background-color:#fff; 
	width: 100%; 
	float:left;
}


.rowB{
	background-color:#f4f4f4; 
	width: 100%; 
	float:left;
}

.rowB .insideContainer .imageElement {
    margin:0 auto;
    width: 70%;
}

.rowA .insideContainer .imageElement {
    margin:0 auto;
    width: 70%;
}

.rowA .insideContainer  {
    text-align: left;
}

.rowA .tick li {
    margin: 0.1em 0px 0.7em;
}


.imgDescription{
position: static;
top:20%;
color: white;
left:auto;
right:auto;
width: 100%;
line-height: 2.5em;
padding: 160px 0 0;
}


.imgDescription h1{
color: white;
font-weight: 700;
text-shadow: 1px 1px 3px rgba(0,0,0,1);
font-size: 200%;
margin:100px 0 0 0;
	text-align: center;
}

.imgDescription p{
	color: #fff;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);

}


.rowA .insideContainer h2{
	padding: 0px 0 20px 0;

}

.rowB .insideContainer h2{
	padding: 10px 0 0 0;

}


.LPlogo {
	background-image: url("../img/footer_logo.svg");
    background-repeat: no-repeat;
    background-size: 255px auto;
    background-position: center;
    height: 90px;
    width: 100%;
}

.LPstage{
	background-image: url("/Websites/us/images/Campaign_Images/Images/app_banner3.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    width: 100%;
}


.LPcolLayout{ 
	max-width: 500px; 
	margin-bottom:90px;
	}

.LPtextDescription{
	text-align:left!important; 
	width: 100%; 
	min-width:300px; 
	max-width: 400px; 
	padding:40px 20px 20px 20px
	
	}

@media (max-width: 768px) {
	
	.LPcolLayout{ 
	max-width: 340px; 
	margin-bottom:90px;
	}
	
	.LPtextDescription{
	padding:0px 20px;
	
	}

	
	} 

.staticNav a:link, .OverviewArea8 a:visited  {
	color: #fff;
	background-color: rgba(0,0,0, 1)
	padding: 5px;
	display: block;
	height: 30px;
}

.OverviewArea8 a:Hover {
	color: #fff;
	background-color: rgba(0,0,0, 1)
	padding: 5px;
	display: block;
	height: 30px;
}

/* lightCMS Slider */

.sldw_next a:Link, .sldw_next a:visited {
    background-image: url("../img/mobile_next.jpg")!important;
    border: 0 none !important;
    height: 39px;
    overflow: hidden;
    position: absolute;
    right: 5%;
    text-decoration: none !important;
    text-indent: -9999px;
    top: 43%;
    width: 40px;
    margin: 8px -22px 0 0;
}


.sldw_next a:hover, .sldw_next a:active {
    background-image: url("../img/mobile_next.jpg")!important;
}


.sldw_prev a:Link {
    background-image: url("../img/mobile_previous.jpg");
    border: 0 none !important;
    height: 39px;
    overflow: hidden;
    position: absolute;
    right: 5%;
    text-decoration: none !important;
    text-indent: -9999px;
    top: 43%;
    width: 40px;
    margin: 8px 0 0 -22px;
}


.sldw_prev a:hover {
    background-image: url("../img/mobile_previous.jpg");
}

.SlideShowImage {margin:25px 0 15px;}

.SlideShowContainer{margin: 0 20px}



/* **************** FRONTER ****************** */

a.homepage-fronter:link {
	background-image: url("../img/fronter-home.svg");
    background-repeat: no-repeat;
    background-size: 155px auto;
    /* float: left; */
    margin: 0 0 0 90px;
    padding-bottom: 65px;
    width: 155px;
    display: block;
    transition: all 0.35s ease-in-out 0s;
    }
     
   
.topBarFronter{
position: static; 
width: 100%; 
z-index: 2000;
margin-top: 0;
height: 88px;
}


.fronterButton{
border-radius: 2px;
padding: 8px 15px!important; 
color: #fff!important;
background: #32d7d4; /* Old browsers */
background: -moz-linear-gradient(45deg,  #32d7d4 0%, #00c0ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #32d7d4 0%,#00c0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32d7d4', endColorstr='#00c0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.fronterContentWrapper {
    width: 100%;
    margin: 0 auto 30px auto;
    height: auto;
    background-color: #fff;
}

.fronterContentWrapper img{
	max-width: 100%; height: auto;
}

.fronterContentWrapper a{
color: #00c0ff;
font-weight: 400;
}

.fronterContentWrapper a:hover{
color: #00c0ff;
}

.fronterContentWrapper h1{
color: #58595b;
font-size: 260%;
}

.fronterContentWrapper h2{
color: #58595b;
font-size: 260%;
}

.fronterContentWrapper h3{
color: #58595b;
font-size: 160%;
line-height: 124%;
margin: 0 0 20px 0;
}

.fronterContentWrapper p{
    color: #858585;
}


.fronterContentWrapper em a{
    color: #7f7f7f;
}


/* **************** Social ****************** */

.socialMedia {
	top:310px;
	
}



}