/* -- departmentheader ------------------------------------------------------ */

.departmentheader {
    background-color: #6A8DB8;
    background-image: url(images/dept-header-bg-rptr.png);
    height: 87px;
    border-bottom: none;
}

.departmentheader .inner {
    height: 87px;
}

.departmentheader .title {
    margin-top: 24px;
    color: #FFF;
}

.departmentheader .title a {
    color: #FFF;
}

.departmentheader .title a:hover {
    color: #FFF;
}

.departmentheader .header-search .ss-gac-m {
    width: 222px;
    left: 0;
}

.departmentheader .header-search .search {
    margin-top: 9px;
    margin-right: 18px;
}

.departmentheader .no-header-nav .search {
    margin-top: 29px;
}

.departmentheader .header-search .field-bg {
    background-image: url(images/searchbar.png);
}

.departmentheader .header-search .type-submit {
    background: #FFF url(images/search-submit-bg.gif) center center no-repeat;
}

.departmentheader .header-search .type-text {
    padding-left: 6px;
    margin-top: 1px;
}


@media only screen and (max-width: 720px) {

    .departmentheader {
        background: #92a9c9; /* Old browsers */
        background: -moz-linear-gradient(top,  #92a9c9 0%, #708eb7 33%, #587ba7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92a9c9), color-stop(33%,#708eb7), color-stop(100%,#587ba7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #92a9c9 0%,#708eb7 33%,#587ba7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #92a9c9 0%,#708eb7 33%,#587ba7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #92a9c9 0%,#708eb7 33%,#587ba7 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #92a9c9 0%,#708eb7 33%,#587ba7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92a9c9', endColorstr='#587ba7',GradientType=0 ); /* IE6-9 */
    }

    .mobileheader-button .mobileheader-button-inner {
        color: #FFF;
    }

    .mobilemenu-show .mobileheader-button-menu,
    .mobilesearch-show .mobileheader-button-search {
        background: rgba(255, 255, 255, 0.4);
    }

}

/* -- headernav ------------------------------------------------------ */

.headernav {
    margin-right: 17px;
    margin-top: -7px;
}

.headernav .header-info-for-nav-line {
    color: #ccc;
    background-color: #ccc;
    border-color: #979797;
}

.headernav .header-info-for-nav {
    margin-top: 9px;
}

.headernav .header-info-for-nav ul li a {
    padding-right: 5px;
    padding-left: 5px;
}

.headernav .header-info-for-nav ul li.header-info-for-nav-text div {
    padding-right: 5px;
}

.headernav .header-info-for-nav ul li.header-info-for-nav-last a {
    padding-right: 0;
}


/* -- topnav ------------------------------------------------------ */

.topnav {
    margin-top: 0;
}

.topnav .topnav-inner {
    background: #9DBA4D;
    border-top-color: #C3D592;
    border-bottom-color: #658C3F;
}

.topnav .main ul li a {
    border-right: 1px solid #A0BB2D;
    border-left: 1px solid #C7D782;
}

.topnav .main ul li.active-trail.first a {
    border-left-color: #EEE;
}

.topnav .main ul li.last a {
    border-right-color: #C7D782;
}

.topnav .main ul li.active-trail a {
    border-left-color: #648B3E;
    border-right-color: #648B3E;
}

.topnav .topnav2 ul li a:hover {
    background-color: #B6CC6E;
}

.topnav .main ul li a .container {
    background-image: url(images/topnav_bg.png);
}

.topnav .twoline .main ul li a .container {
    background-image: url(images/topnav_bg_twoline.png);
}


/* -- breadcrumbs ------------------------------------------------------ */

.footer .breadcrumbs-inner {
    border-top-color: #B9C8DC;
    border-bottom: 1px solid #FFF;
    background: #A6BAD6;
}

.footer .breadcrumbs-inner ul li {
    color: #355E8F;
}

.footer .breadcrumbs-inner ul li a {
    color: #355E8F;
}


/* -- leftnav ------------------------------------------------------ */

.leftnav .inner {
    background: #98B425 url(images/leftnav-bg.png) no-repeat;
    border-top: 1px solid #83AA16;
    border-left: 1px solid #83AA16;
    border-bottom: 1px solid #83AA16;
}

.leftnav ul.nav-level-1 li span {
    background: transparent url(images/left-nav-active-arrow.gif) right 4px no-repeat;
}

.leftnav ul.nav-level-1 li a {
    border-bottom-color: #CFDEA1;
}

.leftnav ul.nav-level-1 li.first a {
    border-top-color: #CFDEA1;
}

.leftnav ul.nav-level-1 li.last a {
    border-bottom-color: #CFDEA1;
}

.leftnav ul.nav-level-1 li.active-trail {
    background: #D4E2A8 url(images/left-nav-active-shadow.gif) right repeat-y;
    border-top: 1px solid #97BB5A;
    border-bottom: 1px solid #98BC5B;
}

.leftnav ul.nav-level-1 li.active-trail a {
    color: #535353;
}

.leftnav ul.nav-level-1 li a:hover {
    color: #336600;
}

.leftnav ul.nav-level-1 li ul.nav-level-2,.leftnav ul.nav-level-1 li ul.nav-level-2 li ul,.leftnav ul.nav-level-1 li ul.nav-level-2 li ul li ul {
    margin: 0 0 4px 24px;
}

.leftnav ul.nav-level-1 li ul.nav-level-2 li {
    padding: 3px 0 4px 6px;
    background: url(images/left-nav-sub-arrow.gif) 8px 6px no-repeat;
    color: red;
}

.leftnav ul.nav-level-1 li ul.nav-level-2 li a {
    color: #878787;
}

.leftnav ul.nav-level-1 li ul.nav-level-2 li a:hover {
    color: #535353;
}

.leftnav ul.nav-level-1 li ul.nav-level-2 li a.active {
    color: #535353;
}

.leftnav h1 a:hover {
    color: #FFF;
    text-decoration: none;
}

.leftnav .nav-related-links {
    background-color: #BDD06C;
    color: #FFF;
    font-weight: normal;
}

.leftnav .nav-related-links ul.link-list li {
    background-image: url(images/bullet-leftnav-related-links.gif);
    color: #535353;
}

.leftnav .nav-related-links ul.link-list li a {
    color: #535353;
}

.leftnav .nav-related-links ul.link-list li a:hover {
    color: #360;
    border-bottom: 1px solid #360;
}

.leftnav ul.nav-level-1 li.expand-submenu {
    border-top: 1px solid #98B425;
}

.leftnav ul.nav-level-1 li.expand-submenu ul.nav-level-2 li a:hover {
    color: #336600;
}

.leftnav ul.nav-level-1 li.expand-submenu ul.nav-level-2 li {
    background: url(images/left-nav-expanded-arrow.png) no-repeat 8px 6px;
}

.leftnav ul.nav-level-1 li.expand-submenu ul.nav-level-2 li:hover {
    background: url(images/left-nav-expanded-hover-arrow.png) no-repeat 8px 6px;
}


/* -- simplefooter ------------------------------------------------------ */

.simplefooter .logo {
    border-top-color: #9BB0CD;
    border-bottom-color: #9BB0CD;
}


/* -- leftflexmodule ------------------------------------------------------ */

.contentpage #left .flexmodule .flexmodule-inner {
    background: #809DC4 url(images/leftpromo-bg.png) bottom right no-repeat;
    border-top: 1px solid #8192A8;
    border-bottom: 1px solid #8192A8;
}

.contentpage #left .flexmodule ul li {
    background-image: url(images/bullet-leftpromo-default.gif);
}

.contentpage #left .flexmodule .teaser-links ul.link-list li {
    background-image: url(images/bullet-leftpromo-linklist.gif);
}


/* -- relatedpullquote -------------------------------------------  */

.relatedpullquote .outer {
    border-color: #9eba29;
}

.relatedpullquote .inner {
    border-color: #9eba29;
}

.relatedpullquote .quote {
    color: #9eba29;
}


/* -- title ------------------------------------------------------ */

.title h1 {
    color: #9EBA29;
}

.title h2 {
    color: #93BA29;
}


/* -- table ------------------------------------------------------ */

.table table b {
    color: #9EBA29;
}


/* -- articletools -------------------------------------------  */

.articletools .outer {
    border-color: #9eba29;
}

.articletools .inner {
    border-color: #9eba29;
}

/* -- dblhrline (double hr line) ------------------------- */
.dblhrline {
    border-color: #9eba29;
}

/* -- download ------------------------------------------- */

.download a {
    color: #4572A2;
}


/* -- page ------------------------------------------------------ */

body.page {
    background: #6D8BB6 url(images/footer-bg-rptr.png) bottom fixed repeat-x;
}

.page #page {
    background: #EAEFF5 url(images/body-bg-rptr.jpg) repeat-x;
    position: static;
}

.page .page-inner {
    background: none;
    width: auto;
    left: 0;
    position: static;
}

.page .page-inner-1 {
    background: none;
    position: static;
    left: 0;
    width: auto;
}

.page .page-inner-2a {
    background: none;
    position: static;
    top: 0;
}

.page .page-inner-3 {
    position: static;
    top: 0;
}


/* -- teaser-block group-by-date ------------------------------------------------------ */

.list-style-teaser-dategroup h2 {
    color: #93BA29;
}


/* -- carousel ------------------------------------------------------ */

.carousel .title {
    font-family: DinWebLight, "Trebuchet MS", sans-serif;
    color: #369;
}


/* -- newslist ------------------------------------------------------ */

.newslistblock .title {
    font-family: DinWebLight, "Trebuchet MS", sans-serif;
    color: #369;
}


/* -- eventlist ------------------------------------------------------ */

.eventlist .title {
    font-family: DinWebLight, "Trebuchet MS", sans-serif;
    color: #369;
}


/* -- flexmodule ------------------------------------------------------ */

.flexmodule .title {
    font-family: DinWebLight, "Trebuchet MS", sans-serif;
    color: #369;
}
