
@import url("../../../wci/main/legacy/legacy.css");

@font-face {
	font-family: SofiaWebRegular;
	src: url(/content/dam/www/brand/fonts/SofiaProLight.woff);
}
@font-face {
	font-family: SofiaWebBold;
	src: url(/content/dam/www/brand/fonts/SofiaProBlack.woff);
}
@font-face {
	font-family: MoreWebRegular;
	src: url(/content/dam/www/brand/fonts/MoreProBook.woff);
}
@font-face {
    font-family: ctaFont;
    src: url(/content/dam/www/eub/site-images/ctaiconfont.woff);
}

.homepage #center-nocols .top {
    padding: 0;
}

.page .page-inner-3 {
    background: none;
}

/* -- page ------------------------------------------------------ */

body.page {
    background: #FFF;
}

.page #page {
    background: url(../images/page-bg.png) repeat-x left top;
    z-index: 1;
    position: relative;
}

.page .innerheader {
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,91,187,1) 0%,rgba(0,91,187,1) 135px,rgba(102,102,102,0) 159px,rgba(102,102,102,0) 100%);
    background: -moz-linear-gradient(top, rgba(0,91,187,1) 158px, rgba(102,102,102,0) 157px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(157px,rgba(0,91,187,1)), color-stop(158px,rgba(102,102,102,0)));
    background: -webkit-linear-gradient(top, rgba(0,91,187,1) 158px,rgba(102,102,102,0) 157px);
    background: -o-linear-gradient(top, rgba(0,91,187,1) 158px,rgba(102,102,102,0) 157px);
    background: -ms-linear-gradient(top, rgba(0,91,187,1) 158px,rgba(102,102,102,0) 157px);
    background: linear-gradient(to bottom, rgba(0,91,187,1) 158px,rgba(102,102,102,0) 157px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005BBB', endColorstr='#00666666',GradientType=0 );
}

.page .innerheader .par {
    width: 960px;
    margin: auto;
}

.page .page-inner {
    background: url(../images/shadow-top.png) no-repeat center 95px;
}

.page .page-inner-1 {
    background: url(../images/shadow-bottom.png) no-repeat center bottom;
    padding-bottom: 9px;
}

.page #columns {
    background: #FFF url(../images/inner-bottom.png) repeat-x left bottom;
    padding-bottom: 10px;
}

.page .columns-bg-1 {
    background: none;
}

.page #columns.three-column .columns-bg-2,
.page #columns.two-column-left .columns-bg-2,
.page #columns.two-column-left-banner .columns-bg-2 {
    border-left: 0;
    width: initial;
    left: initial;
    background: url(../images/right-shadow.png) no-repeat top left;
    background-position: 717px 0px;
}   

.page #columns.three-column .columns-bg-3,
.page #columns.two-column-left .columns-bg-3,
.page #columns.two-column-left-banner .columns-bg-3 {
    width: initial;
    left: initial;
}


/* -- homepage ------------------------------------------------------ */

.homepage .eventlist{
    padding-bottom: 0px;
}

.homepage #center-nocols {
    background: none;
}

.homepage .collectioncarousel {
    background: none;
    margin-bottom: 20px;
}

.homepage .collectioncarousel h1 {
    color: #041A9B;
    margin-top: 0px;
}

.homepage .collectioncarousel .slide,
.homepage .collectioncarousel .carousel-stage {
    height: 190px;
}

.homepage .homepromos {
    margin-top: 18px;
}

.homepage .homepromo {
    border-right: 1px dotted #CCC;
}

.homepage .homepromo:first-child {
    border-color: white;
}

.homepage .homepromo,
.homepage .homepromo-last {
    margin-bottom: 5px;
}

.homepage .carousel,
.homepage .flexmodule {
    margin-bottom: 0;
}


.homepage .topnav {
    background: #FFF;
}
.homepage.page #page {
    background-color: #819dc5;
    background: url(/content/dam/www/eub/homepage-banner/eub-banner1.jpg) no-repeat center 153px;
}
.homepage.page #page {
        position: relative;

}
.homepage.page .page-inner {
        background-image:none;
        background-color: none;
        background-repeat: no-repeat;
        background-position: center 153px;
        background-size: 1600px 510px;
        width: 100%;
        left: 0;
        position: relative;
        /*transition: background-image 3s linear;
        -moz-transition: background-image 3s linear;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);*/
}
.homepage.page .innerheader {
        width: 100%;
        background: #1482dc;
}

.homepage.page .innerheader .par {
        width: 960px;
        margin: auto;
}
.homepage.page .page-inner.new-bg{
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        background-repeat: no-repeat;
        background-position: center -322px;
        background-size: 100% auto;
        width: 100%;
        left: 0;
        position: relative;
}

.homepage.page .page-inner-1 {
        /*background:linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 588px,rgba(255,255,255,1) 588px,rgba(255,255,255,1) 100%); */
        background: none;
        position: relative;
        left: 0%;
        width: 100%; 
}

.homepage.page .page-inner-3 {
        /* background: url(clientlibs-main/images/body-bg-shadows.png) no-repeat top center; */
        background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.35) 60px ,rgba(0,0,0,0) 117px);
        position: relative;
}
.homepage.page .page-inner-2a{
        position: absolute;
        top: 659px;
        bottom: 0px;
        left: 0;
        right: 0;
        background: #fff;
        opacity: 1;
}
.homepage.page .page-inner-2b {
        position: absolute;
        top: 153px;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center 5px;
        background-image: none;
        height: 506px;
        opacity: 0;
}
.homepage.page #columns{
        background: none;
}
.homepage #center-nocols {
    	background: none;
}
.homepage #center-nocols .top{
        position: relative;
}
    /*-- description area --*/
    .bannerImgContainer{
        padding: 16px;
        position: relative;
        height: 499px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .bannerImgContainer .storyLink{
        position: relative;
        width: 100%;
        height: 290px;
        display: block;
    }
    .bannerImgContainer .storyLink .textContain{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
    }
    .bannerImgContainer .storyLink .textContain .textOverlay{
        margin: 46px auto 0;
        position: relative;
        vertical-align: middle;
    }
    .morestories{
        margin: -295px 0px 280px 29px;
        position: relative;
    }
    #info-container {
        position: absolute;
        width: 800px;
        top: 113px;
        height: 386px;
        vertical-align: bottom;
        margin-left: 80px;
		box-sizing: border-box;
    }
    .top>#info-container>.list {
    	height: 100%;
    }
    #mgt-hp-1.mgt-hp-desc{
        display: block;
    }
    .mgt-hp-desc {
        bottom: 0px;
        position: absolute;
        display: none;
        height: 125px;
        background: rgba(255,255,255,.9);
        padding: 20px 75px 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
    	overflow: hidden;
    }
    .mgt-hp-desc h1 {
        line-height: 1em;
        margin-bottom: 6px;
    	margin-top: -2px;
    	text-align: center;
    	font-family: sofiaWebBold;
    	-webkit-font-smoothing: antialiased;
    }
	.mgt-hp-desc .title h1 a{
		color: #005BBB;
    }
    .mgt-hp-desc .text p {
      color: #666;
      width: 100%;
      box-sizing: border-box;
      line-height: 1.3em;
      margin-top: -2px;
      text-align: center;
      font-family: MoreProRegular;
      /*font-style: italic;*/
      font-size: 16px;
    }

    /*.homepage .buttoncomponent a.button {
        text-decoration: none;
        display: block;
        padding: 13px 18px;
        border: 1px solid #fff;
        font: 14px DinWebBold, "Trebuchet MS", sans-serif;
        color: #fff;
        text-shadow: #000 1px 1px 2px;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
        text-align: left;
        box-shadow: 0px 0px 1px 1px #afafaf;
        -moz-box-shadow: 0px 0px 1px 1px #afafaf;
        -webkit-box-shadow: 0px 0px 1px 1px #afafaf;
        margin-left: 7px;
        box-shadow: 0px 0px 8px #666;
    }*/

.homepage .hero-nav-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
    
.homepage a.nav-dot-item {
        width: 8px;
        height: 8px;
        background: #666;
        display: inline-block;
        margin-left: 12px;
        border-radius: 10px;
}

.homepage a.nav-dot-item.active {
    background: transparent;
    border: solid 2px #003e51;
    height: 6px;
    width: 6px;
    vertical-align: -1px;
}
    
.homepage .hero-nav-arrows{
        width: 100%;
        position: absolute;
        bottom: 78px;
}
.homepage .hero-nav-arrows .hero-nav-left{
        position: absolute;
        left: 26px;
        color: #666;
        cursor: pointer;

}
.homepage .hero-nav-arrows .hero-nav-left:hover:before{
	content: "\e903";
    color: #003e51;
}
.homepage .hero-nav-arrows .hero-nav-left:before {
    cursor: pointer;
    font-family: ctaFont;
    font-size: 30px;
    font-weight: 100;
    content: "\e901";

}
.homepage .hero-nav-arrows .hero-nav-right{
    position: absolute;
    right: 26px;
    color: #666;
    cursor: pointer;
}
.homepage .hero-nav-arrows .hero-nav-right:hover:before{
    content: "\e904";
    color: #003e51;
}
.homepage .hero-nav-arrows .hero-nav-right:before {
    cursor: pointer;
    font-family: ctaFont;
    font-size: 30px;
    font-weight: 100;
    content: "\e902";
}


.homepage .collectioncarousel h1 {
    line-height: 1em;
    margin-bottom: 6px;
    font-family: sofiaWebBold;
    -webkit-font-smoothing: antialiased;
    color: #005BBB;
}

    
@media screen and (min-width: 1600px){
        
	.homepage.page #page, .homepage.page .page-inner, .homepage.page .page-inner-2b{
		background-size: 100% auto;
	}

}



/* -- breadcrumbs ------------------------------------------------------ */

.innerheader .breadcrumbs-inner {
    background: #FFF;
    border: none;
    height: 32px;
}

.breadcrumbs-inner ul {
    margin-left: 17px;
}

.breadcrumbs-inner ul li {
    padding-top: 12px;
    padding-bottom: 0;
}

.breadcrumbs-inner a:hover,
.breadcrumbs-inner a:active {
    color: #041A9B;
}


/* -- title ------------------------------------------------------ */

.title h1 {
    color: #333;
}

.title h2 {
    color: #333;
}

.title h1 a,
.title h2 a,
.title h3 a,
.title h4 a,
.title h1 a:hover,
.title h2 a:hover,
.title h3 a:hover,
.title h4 a:hover {
    color: #041A9B;
}


/* -- list, links ------------------------------------------------------ */

.list ul.link-list li:before {
  content: ">";
  position: absolute;
  font-family: consolas;
  margin-left: -9px;
  color: #041A9B;
}
.list ul.link-list li {
    /*background: url(../images/blue-arrow.png) no-repeat 0 8px;*/
    background: none;
}

.text a,
.text li a,
.list .link-list a,
.teaser-block .teaser-title a,
.teaser-block .teaser-content a,
.calltoaction .teaser-inline a,
.flexmodule-style .teaser-links ul.link-list li a,
.list-style-links-news .teaser-inline a .teaser-title {
    border-bottom-color: #CDD1EB;
    color: #041A9B;
}

.text a:hover,
.text li a:hover,
.list .link-list a:hover,
.teaser-block .teaser-title a:hover,
.teaser-block .teaser-content a:hover,
.calltoaction .teaser-inline a:hover,
.flexmodule-style .teaser-links ul.link-list li a:hover,
.list-style-links-news .teaser-inline a:hover .teaser-title {
    color: #041A9B;
    border-bottom-color: #041A9B;
}


/* -- divider ------------------------------------------------------ */

.hrline {
    background: url(../images/divider.png) repeat-x left center;
}

/* -- leftnav ------------------------------------------------------ */

.leftnav .inner {
    background: #E2E2E2 url(../images/left-nav-shadow.png) repeat-y right top;
    margin-left: -3px;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.leftnav ul.nav-level-1 li span {
    background-image: url(/etc/designs/ubcms/clientlibs-main/images/left-nav-arrow.png);
}

.leftnav h1 {
    font-family: DinWebRegular, "Trebuchet MS", sans-serif;
}

.leftnav h1 a {
    color: #666;
}

.leftnav h1 a:hover {
    color: #000;
}

.leftnav ul.nav-level-1 li a,
.leftnav ul.nav-level-1 li.first a,
.leftnav ul.nav-level-1 li.last a {
    border-bottom-color: #EEE;
}

.leftnav ul.nav-level-1 li.first a  {
    border-top-color: #EEE;
}

.leftnav ul.nav-level-1 li a {
    color: #666;
}

.leftnav .nav-related-links ul.link-list li a {
    color: #333;
}

.leftnav ul.nav-level-1 li ul.nav-level-2 li a {
    color: #EEE;
}

.leftnav ul.nav-level-1 li ul.nav-level-2 li a:hover,
.leftnav ul.nav-level-1 li ul.nav-level-2 li a.active {
    color: #9CF;
}

.leftnav .nav-related-links {
    color: #333;
}

.leftnav ul.nav-level-1 li a:hover,
.leftnav .nav-related-links ul.link-list li a:hover .teaser-title {
    color: #000;
}

.leftnav ul.nav-level-1 li.active-trail a {
    color: #FFF;
}

.leftnav ul.nav-level-1 li.active-trail {
    background-color: #041A9B;
    background-image: url(../images/left-nav-shadow.png);
    border-top-color: #041A9B;
    border-bottom-color: #041A9B;
}

.leftnav ul.nav-level-1 li ul.nav-level-2 li {
    background: url(../images/left-nav-arrow.png) no-repeat 8px 7px;
}

.leftnav .nav-related-links {
    background-color: #CCC;
}

.leftnav .nav-related-links ul.link-list li {
    background: url(../images/related-links-arrow.png) no-repeat 3px 4px;
    line-height: 1.2;
    margin: 3px 0;
}

.leftnav .nav-related-links ul.link-list li a:hover {
    color: #000;
    border-bottom-color: #000;
}


/* -- top nav ------------------------------------------------------ */

.topnav {
    background: #E2E2E2;
    height: 44px;
    position: relative;
}
.topnav .topnav-inner {
	height: auto;
    position: relative;
    background: none;
    border-top: none;
    border-bottom: none;
}
.topnav .menu {
    position: absolute;
    top: 0;
    left: 16px;
}

.topnav .menu a {
    display: block;
    float: left;
    height: 28px;
    border-right: 1px solid #FFF;
    color: #041A9B;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 15px 0;
}
.windows#conditionizr .topnav .menu a {
	padding-top: 13px;
    height: 29px;
}
.topnav .menu a:first-child {
    border-left: 1px solid #FFF;
}

.topnav .menu a:hover {
    text-decoration: none;
    background: #EEE;
    color: #041A9B;
}

.topnav .menu a.active {
    background: #FFF;
}

.topnav .main ul li a{
	border-right: none;
}

    
.topnav .main ul li:hover div.topnav-submenu-container, .topnav .main ul li.hover div.topnav-submenu-container, .topnav .main ul li a:focus + div.topnav-submenu-container {
	display: none;
}
    
.topnav .main ul li:hover a {
	border-right-color: #fff;
    border-left-color: #fFF;
}

.topnav .main ul li a .container {
    color: #005BBB;
    font-family: SofiaWebBold;
    line-height: 17px;
    font-size: 16px;
    padding: 0px;
    background: none;
    text-transform: none;
    text-transform: initial;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.ie#conditionizr .topnav .main ul li a .container, .chrome.windows#conditionizr .topnav .main ul li a .container, .firefox.mac#conditionizr .topnav .main ul li a .container{
	line-height: 17px;
}
.topnav .main ul li:hover a .container {
	background-position: 0;
    color: inherit;
    border-bottom: none;
    margin-bottom: 0px;
    background: inherit;
}


.topnav .main ul li a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.topnav .main ul li a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.topnav .main ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: #005BBB;
  height: 4px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
 
.topnav .main ul li a:hover:before, .topnav .main ul li a:focus:before, .topnav .main ul li a:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.windows#conditionizr .topnav .menu a{
	/*padding-top: 13px;*/
}
.topnav .main ul li a:hover {
	background: transparent;
}
.topnav .main ul li:hover a .container{
	color: #003e51;
}

.topnav {
    background: #fff;
}

.topnav .main ul li.active-trail a {
    border-left-color: #666;
    border-right-color: #666;
    background: #666;
}
.topnav .main ul li.active-trail.first a {
    border-left-color: #FFF;
}
 
.topnav .main ul li.active-trail a .container {
    /* color: inherit;  <-- current value */
    color: #fff;
    border-bottom:none;
}


.topnav .search {
    position: absolute;
    top: 9px;
    right: 15px;
    width: 256px;
    height: 25px;
    background: url(../images/search-bg.png) no-repeat left top;
}

.topnav .search input {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 220px;
    height: 22px;
    font: 11px/1.0 "Trebuchet MS", sans-serif;
    color: #333;
    border: 0;
    padding: 0 5px;
    margin: 0;
    display: block;
}

.topnav .search a {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 23px;
    height: 22px;
    display: block;
    text-decoration: none;
}

.topnav .search a:hover {
    text-decoration: none;
    background: url(../images/search-hover.png) no-repeat top left;
}

.topnav .search label {
    display: block;
    position: absolute;
    top: 5px;
    left: 8px;
    font: 11px/1.0 DinWebRegular, "Trebuchet MS", sans-serif;
    color: #999;
}

.topnav .search label span {
    font: 13px/1.0 DinWebBold, "Trebuchet MS", sans-serif;
    color: #041A9B;
    cursor: text;
}
.departmentheader .header-search .search input.type-text{
	padding-top: 3px;
}
.departmentheader .header-search .search input.type-text::-webkit-input-placeholder {
    font-family: sofiaWebBold;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}


/*-- alternate search design -- */
.topnav .search {
  position: absolute;
  top: 9px;
  right: 15px;
  width: 196px;
  height: 25px;
  background: none;
}
.topnav .search input {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 157px;
  height: 22px;
  font: 11px/1.0 "Trebuchet MS", sans-serif;
  color: #333;
  border: solid 1px #aaa;
  padding: 0 5px;
  margin: 0;
  display: block;
}

.topnav .search label {
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
  font: 11px/1.0 DinWebRegular, "Trebuchet MS", sans-serif;
  color: #999;
}

.topnav .search a {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 23px;
  height: 22px;
  display: block;
  text-decoration: none;
  background: #666;
  border: solid 1px #666;
}
.topnav .search a:hover{
  background-image: none;
  background: #666;
  border: solid 1px #666;
}

.topnav .search a:before {
  content: "\e601";
  font-size: 17px;
  font-family: ubcms;
  margin: 3px;
  position: absolute;
  color: #fff;
  font-weight: 100;
}


.topnav .topnav2 {
    top: -98px;
    right: 0px;
}
.topnav .topnav2 ul li{
	margin-top: 10px;
	height: 15px;
}
.topnav .topnav2 ul li a {
    text-transform: uppercase;
    font-family: sofiaWebRegular;
    border-right: solid 1px;
    padding: 0px 8px;
    line-height: 1em;
    font-size: 12px;
}
.topnav .topnav2 ul li a:hover {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 8px;
    border-radius: initial;
}
.topnav .topnav2 ul li.last a {
    padding-right: 0px;
}

.headernav {
    margin-right: 0px;
    margin-top: 25px;
}
.ie#conditionizr .headernav{
	margin-top: 11px;
}
.windows.chrome#conditionizr .headernav{
	margin-top: 14px;
}
.headernav .header-info-for-nav ul li a, .headernav .header-info-for-nav ul li.header-info-for-nav-last a, .headernav .header-info-for-nav ul li.header-info-for-nav-last a:hover, .headernav .header-info-for-nav ul li a:hover {
    background: #FFF;
    color: #005BBB;
    border: none;
    margin: 0 5px;
    border-radius: 3px;
    padding: 6px 8px;
    text-transform: uppercase;
    font-weight: 400;
    height: 22px;
    line-height: 1em;
    font-family: sofiaWebBold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.headernav .header-info-for-nav ul li a:hover, .headernav .header-info-for-nav ul li.header-info-for-nav-last a:hover, .headernav .header-info-for-nav ul li.header-info-for-nav-last:hover a {
    background: #e56a54;
    color: #FFF;
}
.headernav .header-info-for-nav ul li.header-info-for-nav-last a, .headernav .header-info-for-nav ul li.header-info-for-nav-last a:hover {
    padding-right: 8px;
    margin-right: 0px;
}


.header-search {
    position: absolute;
    right: 12px;
    top: 125px;
    z-index: 1;
}


.header-search {
    position: absolute;
    right: 5px;
    top: 55px;
    z-index: 1;
}


.ie#conditionizr .headernav, .windows.chrome#conditionizr .headernav { margin-top: 26px; }

.departmentheader .header-search .search i {
    color: #666!important;
    background: none!important;
    top: 1px!important;
    right: 0px;
    border: none!important;
}

.headernav {
    right: 12px;
    top: 93px;
    z-index: 1;
    position: absolute;
}

.headernav .header-info-for-nav ul li a, .headernav .header-info-for-nav ul li.header-info-for-nav-last a{background: #e56a54;color: #FFF;
}



/* -- modules ------------------------------------------------------ */
.flexmodule-style .teaser-links ul.link-list li:before{
	margin-top: 3px;
}
.flexmodule-style .teaser-links ul.link-list li {
    /*background: url(../images/blue-arrow-small.png) no-repeat left 7px;*/
    background: none;
}

.teaser-block .teaser-title {
    color: #041A9B;
}
    
.carousel .title,
.flexmodule .title {
    color: #333;
    font-family: DinWebRegular, "Trebuchet MS", sans-serif;
}

.carousel .title a,
.carousel .title a:hover {
    color: #333;
}

.collectioncarousel .content-area a {
    border-bottom: 1px solid #CDD1EB;
    color: #041A9B;
}

.collectioncarousel .content-area a:hover {
    border-bottom: 1px solid #041A9B;
    color: #041A9B;
}


.facesvoicespage .teaser-block .teaser-title {
    font: 14px/1.4 Georgia, serif;
}

.facesvoicespage .teaser-block .teaser-title a {
    border-bottom: none;
}

.facesvoicespage .teaser-block .teaser-title a:hover {
    color: #535353;
    border-bottom: 1px solid #535353;
}

.facesvoicespage .teaser-block .teaser-body {
    font-style: italic;
}

.facesvoicespage .teaser-block .teaser-body a {
    color: #535353;
}

.facesvoicespage .teaser-block .teaser-body a b {
    font-style: normal;
    font-weight: bold;
    color: #041A9B;
    border-bottom: 1px solid #CDD1EB;
}

.facesvoicespage .teaser-block .teaser-body a:hover b {
    border-bottom: 1px solid #041A9B;
}

.contentpage #left .flexmodule .flexmodule-inner {
    background: #666 url(../images/left-promo-bg.png) repeat-x left bottom;
    border: 0;
}

.contentpage #left .flexmodule.teaser-block .teaser-title {
    color: #FFF;
}

.contentpage #left .flexmodule .teaser-block .teaser-title a,
.contentpage #left .flexmodule .teaser-links ul.link-list li a {
    color: #FFF;
    border-bottom-color: #999;
}

.contentpage #left .flexmodule .teaser-block .teaser-title a:hover,
.contentpage #left .flexmodule .teaser-links ul.link-list li a:hover {
    color: #FFF;
    border-bottom-color: #FFF;
}

.contentpage #left .flexmodule .flexmodule-style .teaser-links ul.link-list li:before{
	display:none;
}
.contentpage #left .flexmodule .flexmodule-style .teaser-links ul.link-list li {
    background: url(../images/left-promo-arrow.png) no-repeat left 4px;
}

/*-- carousels --*/
.carousel .interface .arrow:focus{text-indent:unset; color: rgba(0,0,0,0);}

/*-- related assets column --*/
.articletools .outer,
.articletools .inner {
    border-color: #BECEDE;
}

.assetflexmodule .title {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    color: #666;
}

a.stdbutton, a.stdbutton .stdbutton-inner {
    background-image: url(../images/stdbutton.png);
}

/* -- header ------------------------------------------------------ */
.ubheader { display:none;}

.departmentheader {
    background: none;
    height: 116px;
}

.ub-logo-header {
    position: relative;
}
.ub-logo-header a {
    position: absolute;
    top: 36px;
    height: 42px;
    width: 320px;
    z-index: 1;
}
.ub-logo-header-img {
    width: 100%;
}

.header {
    height: 92px;
    position: relative;
}

.header .title {
    position: absolute;
    top: 32px;
    left: 26px;
    font: 28px/1.0 DinWebLight, "Trebuchet MS", sans-serif;
    color: #FFF;
}

.header .title a,
.header .title a:hover {
    color: #FFF;
    text-decoration: none;
}

.header .info {
    text-align: right;
    color: #E6911C;
    font: 11px/1.0 DinWebBold, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    padding: 17px 18px 16px; 
}

.header .info .links {
    color: #FFF;
    font: 11px/1.0 DinWebLight, "Trebuchet MS", sans-serif;
    margin-left: 6px;
}

.header .info .links a {
    color: #FFF;
    text-decoration: none;
    margin: 0 3px;
}

.header .info .links a:hover {
    color: #FFF;
    text-decoration: underline;
}

.header .info .links a.active {
    color: #fff;
    text-decoration: underline;
}

.header .buttons {
    margin: 7px 6px 0 0;
}

.header .buttons a {
    float: right;
    display: block;
    font: 10px/1.0 DinWebBold, "Trebuchet MS", sans-serif;
    color: #FFF;
    background: url(../images/header-button.png) no-repeat right -22px;
    padding: 0 11px 0 0;
    text-transform: uppercase;
    margin-right: 12px;
}

.header .buttons a span {
    background: url(../images/header-button.png) no-repeat left 0px;
    padding: 5px 1px 0 12px;
    display: block;
    height: 18px;
}

.header .buttons a:hover {
    background-position: right -66px;
}

.header .buttons a:hover span {
    background-position: left -44px;
}


/* -- footer ------------------------------------------------------ */

.footer {
    /*background: #15236E url(../images/footer-bg.jpg) no-repeat center top;*/
    background: #005BBB;
    margin-top: -20px;
    position: relative;
    z-index: 0;
}

.footer .fatfooter .footer-inner,
.footer .fatfooter .footer-inner .footer-inner-1 {
    background: none;
}

.footerconfigpage.cq-wcm-edit .footer {
    z-index: 0;
}

.footer .col2 > *[class^=cq-placeholder]:first-child + .title,
.footer .col2 > *[class^=cq-placeholder]:first-child + .title + *[class^=cq-placeholder] + .divider,
.footer .col2 > .title:first-child,
.footer .col2 > .title:first-child + .divider {
    visibility: hidden;
}

.footer .col1 > *[class^=cq-placeholder]:first-child + .title + *[class^=cq-placeholder] + .divider,
.footer .col1 > .title:first-child + .divider {
    width: 302px;
}

.footer .title h6 {
    text-transform: none;
    color: #FFF;
}

.fatfooter .title a,
.fatfooter .title a:hover {
    color: #FFF;
}

.fatfooter .list .link-list a {
    color: #FFF;
    font-size: 11px;
}

.fatfooter .list ul li {
    background: url(../images/footer-arrow.png) no-repeat 0 6px;
}
.fatfooter .list ul li:before{
	display:none;
}

.fatfooter .hrline {
    background: url(../images/footer-divider.png) repeat-x left center;
    height: 8px;
}

.footer .footerlogo {
    border: 1px solid #858BB4;
    border-width: 1px 0;
    height: 49px;
    background: url("/static.1460472637/etc/designs/ubcms/images/ubheader/ub-logo.png") no-repeat left center;
    background-size: 330px auto;
    margin: 10px auto;
    width: 960px;
}

.footer .footerlogo .left {
    display: block;
    float: left;
    width: 500px;
    height: 49px;
}
    
.footer .footerlogo .right {
    float: right;
    margin: 7px 5px;
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
}

.footer .footerlogo .right a,
.footer .footerlinks a {
    text-decoration: none;
    color: #FFF;
}

.footer .footerlogo .right a:hover,
.footer .footerlinks a:hover {
    text-decoration: underline;
    color: #FFF;
}

.footer .footerlogo .right b {
    font: 9px DinWebBold, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer .footerlinks {
    color: #FFF;
    height: 20px;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.footer .footerlinks .left {
    float: left;
    font: 12px DinWebRegular, "Trebuchet MS", sans-serif;
}

.footer .footerlinks .right {
    float: right;
    margin-right: 5px;
}

.footer .socialbutton .button {
    font-size: 11px;
}

.footer .socialbutton {
    padding: 0 0 7px;
}

a.button.snapchat {
    background: url(/content/dam/www/eub/site-images/snapchat.png) no-repeat scroll left top transparent;
}

a.button.instagram {
    background: url(/content/dam/www/eub/site-images/instagram.png) no-repeat scroll left top transparent;
}

/* -- quicklinks ------------------------------------------------------ */

.quicklinks .quicklinks-stage {
    margin: 0 16px 8px;
}

.quicklinks .quicklinks-links {
    background: #041A9B;
    height: 36px;
    font: 14px/1.0 DinWebRegular, "Trebuchet MS", sans-serif;
    color: #FFF;
    text-transform: uppercase;
}

.quicklinks .quicklinks-title {
    background: #1482dc;
    padding: 10px 18px 0;
    height: 36px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.firefox .quicklinks .quicklinks-title {
	padding-top: 12px;
}

.quicklinks .quicklinks-link a {
    display: block;
    float: left;
    padding: 10px 26px 0 14px;
    height: 36px;
    color: #7AB0F9;
    background: url(../images/quicklinks-arrow.png) no-repeat right 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.firefox .quicklinks .quicklinks-link a{
	padding-top: 12px;
}

.quicklinks .quicklinks-link a.hover {
    background-color: #202020;
    background-position: right -36px;
    color: #EFB220;
}

.quicklinks .quicklinkspage {
    background: #202020 url(../images/quicklinks-bg.png) repeat-x bottom left;
}

.quicklinks .quicklinkspage > .par {
    padding: 15px 0;
}

.quicklinks .quicklinkspage .cq-colctrl-3-6-3-c0 {
    width: 211px;
    padding: 0 30px;
}

.quicklinks .quicklinkspage .cq-colctrl-3-6-3-c1 {
    width: 386px;
    padding: 0px;
}

.quicklinks .quicklinkspage .cq-colctrl-3-6-3-c2 {
    width: 211px;
    padding: 0 30px;
}


.quicklinks .quicklinkspage .cq-colctrl-9-6-c0 {
    width: 627px;
    padding: 0 30px;
}

.quicklinks .quicklinkspage .cq-colctrl-9-6-c1 {
    width: 211px;
    padding: 0px 30px 0 0;
}

.quicklinks .quicklinkspage .cq-colctrl-6-9-c0 {
    width: 211px;
    padding: 0 30px;
}

.quicklinks .quicklinkspage .cq-colctrl-6-9-c1 {
    width: 627px;
    padding: 0px 30px 0 0;
}

.quicklinks .quicklinkspage .cq-colctrl-3-3-3-3-c0 {
    width: 211px;
    padding: 0 8px 0 30px;
}

.quicklinks .quicklinkspage .cq-colctrl-3-3-3-3-c1 {
    width: 211px;
    padding: 0 8px 0 0;
}

.quicklinks .quicklinkspage .cq-colctrl-3-3-3-3-c2 {
    width: 211px;
    padding: 0 8px 0 0;
}

.quicklinks .quicklinkspage .cq-colctrl-3-3-3-3-c3 {
    width: 211px;
    padding: 0 20px 0 0;
}

.quicklinks .quicklinkspage .title h1,
.quicklinks .quicklinkspage .title h2,
.quicklinks .quicklinkspage .title h3,
.quicklinks .quicklinkspage .title h4,
.quicklinks .text p,
.quicklinks .text li {
    color: #FFF;
}

.quicklinks .quicklinkspage a {
    color: #EFB220;
    border-bottom-color: #5C431F;
}

.quicklinks .quicklinkspage a:hover {
    color: #EFB220;
    border-bottom-color: #E59319;
}

.quicklinks .list ul.link-list li {
    /*background: url(../images/quicklinks-list-arrow.png) no-repeat 0 8px;*/
    background: none;
}
.quicklinks .list ul.link-list li:before{
	color:#EFB220;
}

.quicklinks .hrline {
    height: 2px;
    }



/* -- newsline ------------------------------------------------------ */

.newsline > .title {
    margin: 0 3px 8px;
}

.newsline > .title a {
    text-decoration: none;
    display: block;
}

.newsline > .title a:hover {
    text-decoration: none;
}

.newsline > .title a .head {
    font: 13px/1.2 DinWebBold, "Trebuchet MS", sans-serif;
    color: #666;
}

.newsline > .title a .arrow {
    font-family: Consolas;
    color: #E59319;
}

.newsline > .title a:hover .head {
    text-decoration: underline;
}

.newsline > .title a.rss {
    float: right;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    background: url(../images/rss.png) no-repeat top left;
    text-indent: -1000em;
}

.newsline .divider {
    margin: 14px 0 10px;
    height: 1px;
    background: url(../images/newsline-divider.png) repeat-x left center;
}

.newsline .link a, .homepromo .col-1 .list-style-links-news a {
    display: block;
    margin: 8px 3px;
    font-weight: bold;
    font-size: 11px;
    line-height: 1.2;
    text-decoration: none;
    color: #041A9B;
}

.newsline .link a:hover, .homepromo .col-1 .list-style-links-news a:hover {
    text-decoration: none;
    color: #041A9B;
}

.newsline .link a .date {
    color: #666;
    margin-right: 5px;
}

.newsline .link a .title, .homepromo .col-1 .list-style-links-news a .teaser-title {
    border-bottom: 0;
}

.newsline .link a:hover .title, .homepromo .col-1 .list-style-links-news a:hover .teaser-title {
    text-decoration: underline;
    border-bottom: 0;
}

.newsline .link.alert a,
.newsline .link.alert a:hover,
.newsline .link.alert a .date {
    color: #900;
}


/* -- storypage ------------------------------------------------------ */

.storypage .text { font: 13px Georgia, serif }
.storypage .text p { line-height: 1.5em }
.storypage .introtext { font: 16px Georgia, serif }
.storypage .captiontext { font-family: "Trebuchet MS", sans-serif }
.storypage .assetflexmodule .text { font: 11px 'Trebuchet MS', Arial, sans-serif }
.storypage .assetflexmodule .text p { line-height: 1.6 }


/*-- external links ------------------------------------------------ */
.linkhint_icon {
    background: transparent center no-repeat;
    padding: 0 11px 0 0;
    margin: 0 0 0 2px
}
.externalHint {background-image: url(http://www.buffalo.edu/calendar/images/link_external.gif);}
.document {background-image: url(../images/link_document.gif);}
.download {background-image: none;}

/* -- columns ------------------------------------------------------ */

.parsys div.cq-colctrl-8-4-c0 {
    padding-right: 24px;
    width: 570px;
}
.parsys div.cq-colctrl-8-4-c1 {
    width: 330px;
}

/*-- smugbox -------------------------------------------------------- */
.smugbox-image {
    float: left;
    height: 110px;
    margin: 0 3px 3px 3px;
    overflow: hidden;
    width: 142px;
}
.smugbox-image img{
     width: 100%;
}
#cboxTitle {
    bottom: 4px;
    color: #949494;
    left: 23%;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    width: 70%;
    white-space: pre;
    word-wrap: normal;
    overflow: hidden;
}    


/*-- ie7 -------------------------------------------------------- */

#conditionizr.ie7 .page #page {
    background: #FFF url(../images/page-bg.png) repeat-x 0 0;
}

#conditionizr.ie7 .footer {
    margin-top: 0;
    z-index: 1;
}


/*-- new brand changes --*/
    .homepage.page .innerheader {
        width: 100%;
        background: #005BBB;
    }
    
    /*.headernav .header-info-for-nav ul li a, .headernav .header-info-for-nav ul li.header-info-for-nav-last a, .headernav .header-info-for-nav ul li.header-info-for-nav-last a:hover, .headernav .header-info-for-nav ul li a:hover {
        background: #FFF;
        color: #005BBB;
        border: none;
        margin: 0 5px;
        border-radius: 2px;
        padding: 0px 10px;
        text-transform: uppercase;
        font-weight: 700;
        height: 16px;
        line-height: 16px;
    }
    
    
    .topnav .main ul li a .container {
        color: #005BBB;
        font-family: dinWebBold;
        line-height: 13px;
        font-size: 13px;
        padding: 0px;
        background: none;
    }*/

    
    /*-- info for --*/
    
    .quicklinks .quicklinks-title {
        background: #FFF;
        color: #005BBB;
        border: solid 1px #005BBB;
        font-family: dinWebBold;
        padding: 10px 18px 0;
        height: 36px;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .quicklinks .quicklinks-links {
        background: #005BBB;
        height: 36px;
        font: 14px/1.0 DinWebRegular, "Trebuchet MS", sans-serif;
        color: #FFF;
        text-transform: uppercase;
    }
    .quicklinks .quicklinks-link a {
        display: block;
        float: left;
        padding: 10px 26px 0 14px;
        height: 36px;
        color: #FFF;
        background: url(../images/quicklinks-arrow.png) no-repeat right 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
/*-- end new brand changes --*/


/*-- mobile ------------------------------------------------------ */

@media screen and (max-width: 720px){
	/*-- mobile menu changes --*/
    .ubheader {
        display: block;
    }
    .ubheader .inner{
    	padding: 0px 0 6px 5px;
    	height: 33px;
    }
    .ubheader .ublogo img {
      width: auto;
      height: 100%;
      max-width: 420px;
    }
	.ub-logo-header{display: none;}

    #page .departmentheader {
      background: transparent;
    }

    .departmentheader .title {
      opacity: 0;
      visibility: collapse;
	  font-size: 1px;
	  box-sizing:border-box;
      -moz-box-sizing:border-box;
	  height: 50px;                       
    }
    .mobileheader-button{
      /*background;*/
    }
    .mobilesearch-show .mobileheader-button-search{
      background: #1482DC;
	  display:none;
    }
    .mobilemenu .menu{
	  background: #eee;
    }
    .mobilesearch-show .mobilemenu .menu#mobile-search {
	  width: 270px;
      width: calc(100% - 50px);
      margin-top: -50px;
      margin-bottom: 0px;
      padding: 0px;
      z-index: 52;
    }
    .mobilemenu-show .mobileheader-button-menu{
      background: #69B7F7;
    }
	.mobilemenu .menu li .children li a.redirect{
		display:none;
	}
    .mobilemenu .menu li .children .related li a.redirect{
		display: block;
    }
    .mobilemenu #mobile-search.menu .field-bg i{
      font-size: 24px;
      top: 15px;
      right: 13px;
      color: #fff;
    }
	.mobilemenu #mobile-search.menu .field-bg input.type-submit {
      height: 50px;
      width: 50px;
    }
    .mobilemenu #mobile-search.menu .field-bg input.type-text{
      height: 50px;
      background: #69b7f7;
      color: #fff;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 0px;
    }
	.mobilemenu #mobile-search.menu .field-bg input.type-text::-webkit-input-placeholder{
        color: #fff;
      padding-left: 5px;
    }

	.mobilemenu #mobile-search.menu .field-bg input.type-text:-moz-placeholder, .mobilemenu #mobile-search.menu .field-bg input.type-text::-moz-placeholder{
	  color: #fff;
      opacity: 1;
      padding-left: 5px;
    }

    .mobilemenu #mobile-search.menu .field-bg input.type-text:-ms-input-placeholder {
      color: #fff;
      padding-left: 5px;
    }
	.mobilemenu #mobile-search.menu .field-bg input.type-text:input-placeholder{
        color: #fff;
      padding-left: 5px;
    }
    .breadcrumbs .breadcrumbs-inner ul{
      margin-top: 0px;
    }

    .page .innerheader .par {
  		width: 100%;
	}

    /*-- news column --*/
    .homepage .homepromos .newsline > .title, #right .newsline > .title {
	  background: none;
      margin-bottom: 0px;
  	  padding: 0px 16px;
	}
    .homepage .homepromos .eventlist .clearfix .title, #right .eventlist .clearfix .title {
      display: none;
      margin-bottom: 0px;
  	  padding: 0px 16px;

    }
    .homepage .homepromos .list.eventlist{
      margin-top: 6px;
    }
	/*-- flex module --*/
	.carousel-min .flexmodule-style {
      display: none;
    }
	.carousel-min .flexmodule-style:first-child {
    	display: block;
    }


	/*-- banner --*/
        .homepage.page .page-inner {
        	background-size: 720px auto;
            background-position: center 50px;
        }
        
        .homepage.page .page-inner-2a {
          top: 276px;
        }
        .homepage.page .page-inner-2b {
          height: 225px;
          background-size: 720px auto;
          background-position: top center;
          top: 51px;
        }
        
        .homepage.page .innerheader .par {
          width: 100%;
        }
        #page .departmentheader{
        	z-index: 51;
          	background: #1482dc;
        }
                
        .page.homepage #columns #center-nocols .top {
          margin: 0px;
        }
        
        .bannerImgContainer{
          height: 334px;
        }
        
        #info-container {
          position: absolute;
          width: 100%;
          top: 0px;
          height: 334px;
          vertical-align: bottom;
          margin-left: 0px;
          box-sizing: border-box;
        }
        .mgt-hp-desc {
  			bottom: 0px;
            padding: 14px 43px 11px;
            height: 108px;
        }
        .mgt-hp-desc .title h1 {
          color: #333;
          font-size: 20px;
        }
        .mgt-hp-desc .text p {
          line-height: 1.3em;
          font-size: 12px;
          font-family: 'Trebuchet MS';
          font-style: initial;
        }
        .homepage .hero-nav-arrows{
            bottom: 66px;
        }
        
    .homepage .hero-nav-dots {
        bottom: initial;
    	top: 205px;
    }
	.homepage .hero-nav-arrows .hero-nav-left{
		left: 0px;
    }
    .homepage .hero-nav-arrows .hero-nav-right{
		right: 0px;
    }
    .homepage .hero-nav-arrows .hero-nav-left, .homepage .hero-nav-arrows .hero-nav-right{
        color: #333;
    }
    .homepage .hero-nav-arrows .hero-nav-left:before, .homepage .hero-nav-arrows .hero-nav-right:before{
     	font-size: 44px;
    }

    .homepage a.nav-dot-item{
        width: 10px;
        height: 10px;
        background: rgba(255,255,255,.87);
        margin-left: 9px;
    }
    .homepage a.nav-dot-item.active{
        border-color: #FFF;
    	vertical-align: 0px;
    }


	/*--quicklinks --*/
	.quicklinks .quicklinks-stage {
      margin: 0 0 8px;
    }
    .quicklinks .quicklinks-links{
        height: auto;
        font-size: 13px;
    }
	.quicklinks .quicklinks-title{
		padding: 10px 7px 0;
	}
	.quicklinks-link {
        display: inline-block;
    }
    .quicklinks .quicklinks-link a{
        float:none;
        display:inline-block;
    	padding: 10px 25px 0 10px;
    }
    .firefox .quicklinks .quicklinks-link a {
        padding-top:12px;
    }
    .quicklinks-content{
        position: absolute;
        width: 100%;
        z-index: 2;
    }
	.quicklinks .page .cq-colctrl-3-6-3-c0 {
      width: 211px;
      padding: 0 32px;
      float: left;
    }
    .quicklinks .page .cq-colctrl-3-6-3-c1 {
      width: auto;
      padding: 0px 20px 0 28px;
    }
    .quicklinks .hrline {
      display: none;
    }
    .quicklinks .page .cq-colctrl-3-6-3-c2 {
      width: auto;
      clear: both;
      padding-top: 11px;
	}

    .page #columns.three-column-banner #banner .banner > .image-container:first-child{
		margin: 0px;
     }

	.page #columns.two-column-left-banner #banner{
	  padding:0px 16px;
    }

    .cq-colctrl-3-3-3-c0 .title h2, .cq-colctrl-3-3-3-3-c0 .title h2 {
      margin-top: 0px;
    }
    .calltoaction .calltoaction-style-medium {
  	  display: initial;
	}
	.homepage .eventlistimage a{
	  z-index: 1;
	}
    .homepage .eventlistimagedate{
      z-index: 1;
    }
    .homepage .collectioncarousel{
      display:none;
    }

	#mobileOnPage {
      background: #eee;
      padding: 5px 16px 10px;
      margin-top: 16px;
    }

	/*-- right column --*/
	#right .title h2 {
      color: #fff;
    }
	#right .collapsible h2.title {
      color: #369;
      font-family: DinWebRegular, "Trebuchet MS", sans-serif;
      font-size: 16px;
      display: inline-block;
      cursor: pointer;
      line-height: 1.6;
      margin: 6px 0 0 0px;
      padding: 2px 0 4px 28px;
      background:none;
    }
	#right .collapsible-container .title{
	  background: none;
      padding: 0 16px;
  	  margin-bottom: 0px;
	}

	/*-- footer --*/
    .footer {
      margin-top: 0px;
      position: initial;
	}
	.footer .footerlogo {
	  height: auto;
      background-position: 10px 10px;
      margin: 10px auto 10px;
      width: 100%;
      padding: 0 10px;
	  background: url(/static.1460472637/etc/designs/ubcms/images/ubheader/ub-logo.png) no-repeat 10px 10px;
	  background-size: 300px auto;
      box-sizing:border-box;
      -moz-box-sizing:border-box;
	}
	.footer .footerlogo .left {
      display: block;
      float: none;
      width: 100%;
      height: 38px;
    }
	.footer .footerlogo .right {
      float: none;
      font-size: 11px;
    }
	.footer .footerlinks {
      height: auto;
      width: 100%;
      padding: 0 10px 40px;
      box-sizing: border-box;
    }
	.footer .footerlinks .left {
  	  float: none;
	}
	.footer .footerlinks .right {
      float: none;
	}


}