﻿@charset "utf-8";
/*************************************************
연합뉴스 (http://www.yonhapnews.co.kr/)
commnet : 특집페이지 및 기타 css
*************************************************/

@media only screen and (min-width:769px){
	@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
} /* Media Queri End */

/******************** 특집코너 ********************/
/* asian2014 */
.asian2014-main-wrap{position:relative;height:51px;}
.asian2014-main-wrap h2 a{display:inline-block;float:left;color:#000;font-weight:bold;}
.asian2014-dwrap{overflow:hidden;position:absolute;left:237px;top:12px;}
.asian2014-dwrap2{overflow:hidden;position:absolute;left:0px;top:6px;width:51px;height:21px;text-indent:-5000px;background:url(http://img.yonhapnews.co.kr/basic/svc/14_images/asian/asi_snum.png) 50% 0 no-repeat;)}
.asian2014-dwrap3{overflow:hidden;position:relative;width:77px;height:35px;margin:-45px 0 0 215px;text-indent:-5000px;background:url(http://img.yonhapnews.co.kr/basic/svc/14_images/asian/2014asian_main01_bg.png) 50% 0 no-repeat;)}
.asian2014-dwrap2#after1{background-position:50% 0;}
.asian2014-dwrap2#after2{background-position:50% -21px;}
.asian2014-dwrap2#after3{background-position:50% -42px;}
.asian2014-dwrap2#after4{background-position:50% -63px;}
.asian2014-dwrap2#after5{background-position:50% -84px;}
.asian2014-dwrap2#after6{background-position:50% -105px;}
.asian2014-dwrap2#after7{background-position:50% -126px;}
.asian2014-dwrap2#after8{background-position:50% -147px;}
.asian2014-dwrap2#after9{background-position:50% -168px;}
.asian2014-dwrap2#after10{background-position:50% -189px;}
.asian2014-dwrap2#after11{background-position:50% -210px;}
.asian2014-dwrap2#after12{background-position:50% -231px;}
.asian2014-dwrap2#after13{background-position:50% -252px;}
.asian2014-dwrap2#after14{background-position:50% -273px;}
.asian2014-dwrap2#after15{background-position:50% -294px;}
.asian2014-dwrap2#after16{background-position:50% -315px;}
.asian2014-dwrap2#after17{background-position:50% -336px;}
.asian2014-dwrap2#after18{background-position:50% -357px;}
.asian2014-main-wrap ul{overflow:hidden;padding-left:20px;}
.asian2014-main-wrap ul li{display:inline;padding-left:14px;margin-left:12px;background:url(http://img.yonhapnews.co.kr/basic/svc/14_images/bar_1x11_dddddd.gif) 0 50% no-repeat;}
.asian2014-main-wrap ul li a{display:inline-block;padding:15px 0 0;font-weight:bold;color:#555;}

.contents-box2{position:relative;height:205px;}
.asian2014-main-wrap2{height:60px;position:relative;width:100%;background:#72c8ec;}
.asian-date{float:left;}
.asian2014-main-wrap2 .info-section{position:relative;float:left;width:350px;height:60px;padding:0;font-size:12px}
.asian2014-main-wrap2 .tit-info-section{display:block;width:60px;height:53px;padding:7px 0 0 0;border-right:1px solid #6ebbdb;text-align:center}
.asian2014-main-wrap2 .tit-info-section strong{display:block;padding-top:3px;color:#000;font-weight:800}
.asian2014-main-wrap2 .tit-info-section .asian-today-wrap{color:#fff;font-weight:normal;}
.asian2014-main-wrap2 .tit-info-section:hover strong{text-decoration:underline;}
.asian2014-main-wrap2 .tit-info-section:hover .asian-today-wrap{color:#fff;text-decoration:underline;}
.asian2014-main-wrap2 .box-update{overflow:hidden;position:absolute;left:61px;top:5px;width:260px;height:50px;z-index:99;background:#72c8ec}
.asian2014-main-wrap2 .box-update.wrap-open li{position:static !important;}
.asian2014-main-wrap2 .box-update li{overflow:hidden;position:absolute;width:100%;line-height:200%;}
.asian2014-main-wrap2 .box-update li .txt{overflow:hidden;display:block;float:left;width:97%;padding:0 0 0 3%;white-space:nowrap;text-overflow:ellipsis;}
.asian2014-main-wrap2 .box-update li a{overflow:hidden;display:block;float:left;width:97%;padding:0 0 0 3%;white-space:nowrap;text-overflow:ellipsis;color:#464646;}
.asian2014-main-wrap2 .medal{float:left;margin:10px 0 0 0}
.asian2014-main-wrap2 .medal .icon-medal{margin:0 0 0 3px}
.asian2014-main-wrap2 .btn-schedule{overflow:hidden;position:absolute;display:block;right:0;top:0;width:25px;height:60px;border:none;background:url(http://img.yonhapnews.co.kr/basic/svc/14_images/asian/2014asian_main02.png) no-repeat 50% 25px;}
.asian2014-main-wrap2 .btn-schedule.btn-open{background-position:50% -30px;}
.asian2014-main-wrap2 .info-section03{width:285px;padding-left:25px;float:right;background:url(http://img.yonhapnews.co.kr/basic/svc/14_images/asian/2014asian_main03.jpg) no-repeat 100% 0;}
.asian2014-main-wrap2 .link-rank{display:none}
.asian2014-main-wrap2 .info-txt{float:left;width:71px;margin:14px 5px 0 0;text-align:center}
.asian2014-main-wrap2 .info-txt strong{display:block;font-weight:800;letter-spacing:0}
.asian2014-main-wrap2 ol{margin:22px 0 0;}
.asian2014-main-wrap2 ol li{float:left;width:47px;text-align:center;font-size:18px;line-height:110%;font-weight:bold;color:#444;}
.asian2014-main-wrap2 ol li .medal-type{visibility:hidden;font-size:0;height:0;width:0;line-height:0;}

.asian2014-main-wrap2 .asian-main-list{overflow:hidden;clear:both;padding-top:16px;}
.asian2014-main-wrap2 .asian-main-news1{position:relative;float:left;width:150px;height:113px;padding-left:145px;margin-left:20px;}
.asian2014-main-wrap2 .asian-main-news1 span{position:absolute;left:0;top:0}
.asian2014-main-wrap2 .asian-main-news1 span img{width:129px;height:113px}
.asian2014-main-wrap2 .asian-main-news1 strong{display:block;margin:5px 0 7px;color:#000;line-height:140%;}
.asian2014-main-wrap2 .asian-main-news1:hover strong{color:#6c94e5;}
.asian2014-main-wrap2 .asian-main-news1 p{line-height:135%;}
.asian2014-main-wrap2 .asian-main-news2{overflow:hidden;float:left;}
.asian2014-main-wrap2 .asian-main-news2 .slide-con{overflow:hidden;float:left;width:290px;height:117px;margin-left:20px;}
.asian2014-main-wrap2 .asian-main-news2 .slide-con .new-list{padding:5px 0 5px 10px;background:url(http://img.yonhapnews.co.kr/basic/svc/14_images/asian/2014asian_main_bull.gif) no-repeat 0 45%}
.asian2014-main-wrap2 .asian-main-news2 .slide-con .new-list a{overflow:hidden;display:block;color:#000;white-space:nowrap;text-overflow:ellipsis;}

/* 특집코너 */
.featured-wrap{}
.featured-heading{height:41px;border-bottom:1px solid #ddd;}
.featured-heading h2{float:left;width:158px;height:41px;}
.featured-heading ul{float:left;width:466px;height:41px;line-height:41px;}
.featured-heading li{display:inline;padding-left:11px;margin-left:6px;background:url(../bar_1x11_dddddd.gif) 0 1px no-repeat;}
.featured-heading li a{color:#999;}
.featured-content{padding:16px 19px 9px 19px;overflow:hidden;}
.featured-content .news-tl{float:left;width:485px;}
.featured-content .news-tl a{font-size:16px;}
.featured-content ul{float:left;width:485px;padding-top:11px;color:#666;line-height:1.6;background:#fff;}
.featured-content li{padding:0 0 5px 8px;background:url(../bul_2x2_cccccc.gif) 0 8px no-repeat;}
.featured-content .poto{float:right;width:85px;height:85px;margin:4px 0;overflow:hidden;text-align:center;}
.featured-content .poto img{max-width:85px;max-height:85px;}

/* 특집코너 : 우측 2단형*/
.sp-right-flex01{width:340px;}
.sp-right-flex01 .con{overflow:hidden;width:340px;}
.sp-right-flex01 .con a{float:left;width:170px;}

/* 특집코너 : 추석 */
.sp-chuseok-zone{width:624px;height:78px;border:1px solid #ddd !important;background:url(../bg_sp_chuseok.jpg) 0 0 no-repeat;}
.sp-chuseok-zone ul{overflow:hidden;padding:24px 0 0 212px;}
.sp-chuseok-zone ul li{float:left;}

/* 특집코너 : 국정감사 */
.sp-nai-zone{position:relative;width:624px;height:46px;border:1px solid #757788;background:#0479aa url(../bg_special_nai.png) 0 0 no-repeat;}
.sp-nai-zone h2{position:absolute;left:112px;top:9px;width:148px;height:28px;}
.sp-nai-zone h2 a{display:block;text-indent:-9999px;}
.sp-nai-zone .con{width:355px;margin:0 0 0 263px;padding-top:11px;text-align:center;}
.sp-nai-zone .con a:first-child{background:none;}
.sp-nai-zone .con a{display:inline-block;padding:2px 8px 2px 12px;background:url(../bar_2x22_055576.gif) 0 0 no-repeat;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;font-size:14px;line-height:20px;color:#fff;letter-spacing:-1px;}

/* 특집코너 :  국감 및 ITU */
.sp-itu-zone{overflow:hidden;background:#eee;border:none;}
.sp-itu-zone>div{float:left;width:307px;height:80px;}
.sp-itu-zone h2{padding-top:6px;}
.sp-itu-zone h2 a{font-weight:800;font-size:22px;letter-spacing:-1px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;}
.sp-itu-zone h2 .date{margin-left:4px;font-size:14px;}
.sp-itu-zone h2 .c01{margin:0 4px;color:#e6040c;}
.sp-itu-zone .con{margin-top:8px;text-align:center;}
.sp-itu-zone .con a{padding:0 6px 0 10px;font-weight:800;font-size:13px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;}
.sp-itu-zone .con a:first-child{padding-left:0 !important;background:none !important;}

.sp-itu-zone .nai-area{background:url(../bg_itu01.gif) 0 0 repeat-x;}
.sp-itu-zone .nai-area h2{margin-left:32px;padding-left:36px;background:url(../bg_nai_mark.png) 0 7px no-repeat;}
.sp-itu-zone .nai-area .con a{background:url(../bg_itu01.gif) 0 0 no-repeat;}
.sp-itu-zone .itu-area{margin-left:10px;background:url(../bg_itu02.gif) 0 0 repeat-x;}
.sp-itu-zone .itu-area h2{margin-left:54px;}
.sp-itu-zone .itu-area .inner{width:307px;height:80px;background:url(../bg_itu_pattern.png) 0 0 no-repeat;}
.sp-itu-zone .itu-area .con a{background:url(../bg_itu02.gif) 0 0 no-repeat;}

/* 특집코너 :  ITU */
.sp-itu-zone02{overflow:hidden;height:46px;background:#329dc3 url(../bg_itu_pattern02.png) no-repeat;;border:1px solid #ddd;}
.sp-itu-zone02 h2{float:left;padding:8px 0 0 98px;.padding-top:6px;width:232px;}
.sp-itu-zone02 h2 a{font-weight:800;font-size:22px;letter-spacing:-1px;color:#fff;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;}
.sp-itu-zone02 h2 a:hover{text-decoration:none;}
.sp-itu-zone02 h2 .date{margin-left:4px;font-size:14px;}
.sp-itu-zone02 h2 .c01{margin:0 4px;color:#e6040c;}
.sp-itu-zone02 .con{float:left;width:294px;height:33px;padding-top:15px;background:#fff;text-align:center;}
.sp-itu-zone02 .con a{padding:0 16px 0 21px;background:url(../bar_1x14_dddddd.gif) 0 0 no-repeat;font-weight:800;font-size:13px;color:#000;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;}
.sp-itu-zone02 .con a:first-child{padding-left:0 !important;background:none !important;}

/* 특집코너 :  ITU */
.sp-itu-zone03{overflow:hidden;height:43px;padding-bottom:0;background:#fff;background-image:none !important;border:none;}
.sp-itu-zone03 h2{float:left;}
.sp-itu-zone03 .con{float:left;width:226px;height:35px;padding:8px 0px 0px 20px;background:#fff url(../bg_itu_pattern03.png) 100% 0 no-repeat;}
.sp-itu-zone03 .con a{display:inline-block;margin:0 6px;padding:4px;color:#7e7e7e;}

/* 특집코너 :  체전, ITU */
.sp-chejeon-zone{overflow:hidden;background:none;border:none;}
.sp-chejeon-zone h2{}
.sp-chejeon-zone .con{float:right;width:308px;height:50px;}
.sp-chejeon-zone .con:first-child{float:left;}
.sp-chejeon-zone .con img{height:48px;border:1px solid #ddd;}

/* 특집코너 :  송년특집 */
.sp-2014end-zone{width:974px;height:58px;border:1px solid #ccc;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/ba_bye2014.png) 0 0 no-repeat;}
.sp-2014end-zone .tit{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
.sp-2014end-zone .con{position:relative;width:974px;height:58px;}
.sp-2014end-zone .con li{position:absolute;top:10px;width:129px;height:40px;}
.sp-2014end-zone .con li a{display:block;width:129px;height:40px;text-indent:-9999px;}
.sp-2014end-zone .item01{left:184px;}
.sp-2014end-zone .item02{left:331px;}
.sp-2014end-zone .item03{left:485px;}
.sp-2014end-zone .item04{left:640px;}
.sp-2014end-zone .item05{left:786px;}

/* 특집코너 : 신년사 */
.sp-new-greeting{width:626px;height:100px;border:none;background:url(../bg_sp_new_greeting2015.gif) 0 0 no-repeat;}
.sp-new-greeting dl{overflow:hidden;margin-left:127px;height:50px;}
.sp-new-greeting dt{float:left;}
.sp-new-greeting dd{float:left;margin:0 5px;}
.sp-new-greeting dd a{display:block;padding:19px 5px 15px;}
.sp-new-greeting dd a:hover{font-weight:bold;color:#333;letter-spacing:-1px;}
.sp-new-greeting dd a:visited{color:#333;}

/* 특집코너 : 2015년 설날 특집 */
.sp-new2015-year{position:relative;width:626px;height:100px;border:none;background:url(../bg_sp_new2015_year02.png) 0 0 no-repeat;}
.sp-new2015-year ul{overflow:hidden;position:absolute;left:95px;top:11px;}
.sp-new2015-year ul li{float:left;margin-left:9px;}
.sp-new2015-year ul li:first-child{margin-left:0;}
.sp-new2015-year ul li a{display:block;width:60px;height:84px;background:url(../bg_sp_new2015_year02.png) 0 -131px no-repeat;text-indent:-9999px;}

.sp-new2015-year .li01 a{background-position:0 -131px;}
.sp-new2015-year .li02 a{background-position:-69px -131px;}
.sp-new2015-year .li03 a{background-position:-135px -131px;}
.sp-new2015-year .li04 a{background-position:-201px -131px;}

.sp-new2015-year .li01 a:hover{background-position:0 -248px;}
.sp-new2015-year .li02 a:hover{background-position:-69px -248px;}
.sp-new2015-year .li03 a:hover{background-position:-135px -248px;}
.sp-new2015-year .li04 a:hover{background-position:-201px -248px;}

/* 세월호 참사 1주년 2015-04-02 */
.sewol-disaster01 .top-news-P .tl-wrap{padding-left:30px;}
.sewol-disaster01 .top-news-P .img-wrap{}
.sewol-disaster01 .top-news-P .ribbon{position:absolute;left:2px;top:13px;}
.sewol-disaster01 .top-news-P .img-wrap{margin:8px 0;}

.sp-sewol01st-zone{position:relative;width:100%;height:45px;border:none;background:url(../bg_sp_sewol01st01.jpg) 0 0 no-repeat;}
.sp-sewol01st-zone .tit{position:absolute;left:190px;top:10px;}
.sp-sewol01st-zone ul{overflow:hidden;position:absolute;left:360px;top:12px;}
.sp-sewol01st-zone ul li{float:left;margin-left:6px;}
.sp-sewol01st-zone ul li:first-child{margin-left:0;}
.sp-sewol01st-zone ul li a{display:block;padding:3px;font-size:12px;color:#575757;line-height:20px;}

/* 특집코너 : 물포럼 2015-04-08 */
.sp-wwf-zone{position:relative;width:100%;height:45px;border:none;background:url(../bg_sp_wwf701.jpg) 0 0 no-repeat;}
.sp-wwf-zone .tit{position:absolute;left:170px;top:7px;}
.sp-wwf-zone ul{overflow:hidden;position:absolute;left:428px;top:14px;}
.sp-wwf-zone ul li{float:left;margin-left:8px;}
.sp-wwf-zone ul li:first-child{margin-left:0;}
.sp-wwf-zone ul li a{padding:3px;font-size:12px;color:#575757;line-height:20px;}

/* 특집코너 : 4.29재보궐 2015-04-16 */
.icon-red{padding:0 3px 0 0;color:#ff9900;font-weight:bold;vertical-align:middle;}
.sp-429-zone{position:relative;}
.sp-429-zone .banner-429{height:43px;background:#fff6bd;}
.sp-429-zone .tit{}
.sp-429-zone .tit a{display:block;overflow:hidden;width:197px;height:43px;text-indent:-5000px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/sp_429_img5.gif) no-repeat 0 0;}
.sp-429-zone .link{overflow:hidden;position:absolute;left:327px;top:13px;}
.sp-429-zone .link.after{left:240px;}
.sp-429-zone .link li{float:left;}
.sp-429-zone .link li a{overflow:hidden;display:block;width:86px;height:16px;text-indent:-5000px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/sp_429_img5.gif) no-repeat 0 0;}
.sp-429-zone .link li.n1 a{background-position:0 -76px;}
.sp-429-zone .link li.n2 a{background-position:0 -91px;}
.sp-429-zone .link li.n2-1 a{background-position:-85px -91px;}
.sp-429-zone .link li.n3 a{background-position:0 -107px;}
.sp-429-zone .link li.n4 a{background-position:0 -123px;width:60px}
.sp-429-zone .link li.n5 a{background-position:0 -139px;width:47px}
.sp-429-zone .detail{overflow:hidden;border-top:1px solid #e5e5e5;padding:0 18px 18px;line-height:1.2;background:#fff}
.sp-429-zone .detail li{width:146px;height:215px;float:left;border:1px solid #e5e5e5;margin-left:-1px}
.sp-429-zone .detail li.color_red{background-color:#c91520}
.sp-429-zone .detail li.color_blue{background-color:#338bd2}
.sp-429-zone .detail li.color_gray{background-color:#707070}
.sp-429-zone .detail li .win-info{}
.sp-429-zone .detail li .win-info div{overflow:hidden;display:block;width:146px;height:138px;border-bottom:1px solid #fff;}
.sp-429-zone .detail li .win-info div span.name,
.sp-429-zone .detail li .win-info div span.affiliation{display:none;}
.sp-429-zone .detail li .location,
.sp-429-zone .detail li .vote,
.sp-429-zone .detail li .news{display:block;padding:4px 0 0 5px;}
.sp-429-zone .detail li .location{margin-top:6px;color:#ccc;}
.sp-429-zone .detail li .vote{color:#2b2d41;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;font-weight:800;letter-spacing:-1px;}
.sp-429-zone .detail li .vote .per{font-size:20px;padding-right:5px;color:#fff;}
.sp-429-zone .detail li .vote .per em{font-size:16px;}
.sp-429-zone .detail li .vote .num{font-size:14px;color:#cccccc;}
.sp-429-zone .detail li .news a{padding:0 0 0 8px;color:#fff;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/sp_429_img5.gif) no-repeat 0 -158px;}
.sp-429-zone .detail li .news a:hover{color:#000;}
.sp-429-zone .detail li .news a.first{padding-left:0;background:none;}
.sp-429-zone .detail .info{position:relative;height:32px;padding-top:15px;text-align:right;}
.sp-429-zone .detail .info .blind{position:absolute;width:40px;height:29px;left:0;top:0;visibility:visible;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/sp_429_img5.gif) no-repeat 0 -43px}
.sp-429-zone .detail .info .all{color:#ff3333;}

/* 특집코너 : 광복70년 */
.sp-indep70-zone{overflow:hidden;position:relative;width:624px;height:50px;background:url(../bg_sp_indep70.jpg) 0 0 no-repeat;}
.sp-indep70-zone .tit-corner{display:block;float:left;margin:6px 0px 0px 117px;width:95px;height:34px;}
.sp-indep70-zone .tit-news{float:left;margin:14px 0 0 25px;}
.sp-indep70-zone .tit-news a{font-weight:bold;font-size:14px;color:#000;line-height:22px;}
.sp-indep70-zone .more{display:block;position:absolute;right:15px;top:11px;width:56px;height:28px;text-indent:-9999px;}

.main2015 .sp-indep70-zone{width:647px;height:47px;margin:0 !important;padding-bottom:20px;background:#fff url(../bg_sp_indep70_02.jpg) 0 0 no-repeat;}
.main2015 .sp-indep70-zone .tit-corner{}
.main2015 .sp-indep70-zone .tit-news{overflow:hidden;width:358px;height:26px;margin:11px 0 0 25px;}
.main2015 .sp-indep70-zone .tit-news a{font-weight:bold;font-size:14px;color:#2556af;}
.main2015 .sp-indep70-zone .more{right:6px;top:0;width:30px;height:47px;}

/* 특집코너 : 메르스  2015-06-15 */
.sp-mers-zone{overflow:hidden;position:relative;padding:19px;}
.sp-mers-zone .tit-mers{position:absolute;left:247px;top:20px;font-size:14px;color:#ff6600;}
.sp-mers-zone .top-mers-news{float:left;width:209px;}
.sp-mers-zone .top-mers-news a{display:block;}
.sp-mers-zone .top-mers-news img{width:209px;}
.sp-mers-zone .top-mers-news h3{margin-top:4px;}
.sp-mers-zone .top-mers-news h3 a{font-size:12px;color:#000;}
.sp-mers-zone .stit{}
.sp-mers-zone .stit a{font-size:14px;color:#000;letter-spacing:-1px;}
.sp-mers-zone .con{float:right;width:358px;margin-top:26px;}
.sp-mers-zone .related-wrap{margin-bottom:8px;}
.sp-mers-zone .h-related{}
.sp-mers-zone .h-related li{margin-top:3px !important;}
.sp-mers-zone .h-related li a{font-weight:normal;font-size:14px;color:#000;}
.sp-mers-zone .icon-wrap a{font-size:11px !important;}
.sp-mers-zone  .more{position:absolute;z-index:101;top:21px;right:214px;color:#999;text-decoration:none;}
.sp-mers-zone  .more-log{position:absolute;z-index:101;top:21px;right:148px;color:#999;text-decoration:none;}

/* 특집코너 : 민선 6기 특집 인터뷰  2015-06-22 */
.sp-popvote2014-zone{overflow:hidden;width:624px;height:43px;background:url(../bg_sp_vote2014.gif) 0 0 no-repeat;}
.sp-popvote2014-zone ul{margin:10px 0 0 299px;}
.sp-popvote2014-zone li{float:left;padding:2px 20px;background:url(../bg_1x13_868686.gif) 0 4px no-repeat;}
.sp-popvote2014-zone li:first-child{background:none;}
.sp-popvote2014-zone li a{font-weight:bold;font-size:14px;color:#000;}

/* 특집코너 : 광주유니버시아드 2015-07-02 */
.sp-gwangju-zone{overflow:hidden;width:626px;background:#95d0e7;}
.sp-gwangju-zone span{display:block;float:left;width:474px;}
.sp-gwangju-zone div{float:left;width:152px;margin:15px 0 0 0;text-align:center;}
.sp-gwangju-zone div a:first-child{margin:0;padding:0;background:none;}
.sp-gwangju-zone div a{margin:0 0 0 4px;padding:0 0 0 8px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/bn_gwangju20150702_line.gif) no-repeat 0 45%;font-size:12px;color:#515151;}

/* 특집코너 : 추석 2015-09-24 */
.sp-chuseok2015-zone{padding:10px 0 10px;background:#fff;}
.sp-chuseok2015-zone .con{width:647px;height:51px;background:url(../../00_ko/home/bnr_chuseok2015.jpg) 0 0 no-repeat;}
.sp-chuseok2015-zone ul{overflow:hidden;margin-left:229px;}
.sp-chuseok2015-zone ul li{float:left;margin-right:17px;}
.sp-chuseok2015-zone ul li a{display:block;width:50px;height:51px;background:url(../../00_ko/home/bnr_chuseok2015_ico.png) 0 0 no-repeat;}
.sp-chuseok2015-zone ul li span{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}
.sp-chuseok2015-zone ul .li01 a{background-position:0 0;}
.sp-chuseok2015-zone ul .li02 a{background-position:-73px 0;}
.sp-chuseok2015-zone ul .li03 a{width:62px;background-position:-139px 0;}
.sp-chuseok2015-zone ul .li04 a{background-position:-218px 0;}

/* 특집코너 : 이미지 배너 공용 (2015년 8월 부분 개편 이후) */
.sp-img-zone{padding:20px 0 10px;background:#fff;}

/* 특집코너 : 2015년 송년 특집 */
.sp-2015end-zone{padding:20px 0 10px;background:#fff;}
.sp-2015end-zone .go-2015end{display:block;}
.sp-2015end-zone .con{position:relative;}
.sp-2015end-zone .menu{overflow:hidden;position:absolute;top:7px;left:390px;width:210px;color:#fff;}
.sp-2015end-zone .menu dt{float:left;padding:4px 6px;font-weight:bold;}
.sp-2015end-zone .menu dd{float:left;background:url(../../00_ko/home/bg_bar_aaa_1x11.gif) 0 50% no-repeat;}
.sp-2015end-zone .menu dd a{display:block;padding:4px 10px;color:#fff;}
.sp-2015end-zone .menu .end01{background:none;}
.sp-2015end-zone .menu .end02{}

/* 특집코너 : 2016년 신년/송년 특집 */
.sp-2015end-zone.new2016-zone{}
.sp-2015end-zone.new2016-zone .menu{left:380px;}

.sp-2015end-zone.new2016-zone .cont{overflow:hidden;}
.sp-2015end-zone.new2016-zone .cont a{display:block;float:left;}
.sp-2015end-zone.new2016-zone .cont a:first-child{margin-right:1px;}

/* 특집코너 : 2016년 설 특집 */
.sp-new2016-year{padding:20px 0 10px;background:#fff;}
.sp-new2016-year .inner{width:100%;height:109px;background:url(../../00_ko/home/2016/bg_sp_new2016_year01.png) 0 0 no-repeat;}
.sp-new2016-year .list{overflow:hidden;margin:0 0 0 238px;padding-top:22px;}
.sp-new2016-year .list li{float:left;margin-left:7px;}
.sp-new2016-year .list li:first-child{margin-left:0;}
.sp-new2016-year .list li a{display:block;width:74px;height:69px;background:url(../../00_ko/home/2016/bg_sp_new2016_year01.png) -238px -140px no-repeat;text-indent:-9999px;}

.sp-new2016-year .list .item01 a{background-position:-238px -140px;}
.sp-new2016-year .list .item02 a{background-position:-317px -140px;}
.sp-new2016-year .list .item03 a{background-position:-397px -140px;}
.sp-new2016-year .list .item04 a{background-position:-476px -140px;}

/* 특집코너 : 20대 총선 특집 2016-03-14 */
.sp-elec2016-zone{margin:20px 0 0;border:1px solid #ccc;background:#fff;}
.sp-elec2016-zone .con{position:relative;height:58px;background:url(../../00_ko/home/2016/bg_sp_elec2016_01.png) no-repeat 0 0;}
.sp-elec2016-zone .tit{overflow:hidden;display:block;width:345px;height:100%;float:left;text-indent:-2000px;}
.sp-elec2016-zone ul{position:absolute;right:0;top:0;}
.sp-elec2016-zone ul li{float:left;}
.sp-elec2016-zone ul li a {display:block;margin-right:14px;padding:19px 0 19px 11px;font-size:13px;color:#0c1554;background:url(../../00_ko/home/2016/bg_dot_3x3_005edf.gif) no-repeat 0 50%;}

/* 20대 총선 특집 - 선거당일 실시간 방송 2016-04-13 */
.sp-elec2016-broadcast{padding-top:20px;background:#fff;}
.sp-elec2016-broadcast .con02{display:none;}
.msie7 .sp-elec2016-broadcast .con01{display:none;}
.msie7 .sp-elec2016-broadcast .con02{display:block;}
.msie7 .sp-elec2016-broadcast iframe{display:none;}

/* 2016 미래창조 귀농귀촌 박람회 2016-03-15 */
.sp-2016kfarm-zone{height:90px;margin-top:22px;background:url(../../00_ko/home/2016/bg_sp_kfarm20160315_02.png) no-repeat 0 0;}
.sp-2016kfarm-zone a{position:relative;display:block;height:90px;}
.sp-2016kfarm-zone a:hover{text-decoration:none}
.sp-2016kfarm-zone div{visibility:hidden;height:0;font-size:0;}
.sp-2016kfarm-zone a .txt{position:absolute;left:0;bottom:3px;width:100%;text-align:center;color:#fff;letter-spacing:0;}

/* 2016 미래창조 귀농귀촌 박람회 + 북한포털 2016-04-01 */
.sp-2016kfarm_nk-zone{height:90px;margin-top:22px;overflow:hidden}
.sp-2016kfarm_nk-zone a{display:block;height:90px;float:left;}

/* 20대 총선 특집2 2016-04-18 */
.sp-elec2016-zone02{margin:20px 0 0;background:#fff;}
.sp-elec2016-zone02 .con{position:relative;height:40px;background:url(../../00_ko/home/2016/bg_sp_elec2016_05.jpg) no-repeat 0 0;}
.sp-elec2016-zone02 .tit{display:block;position:absolute;top:0;left:0;width:647px;height:40px;text-indent:-9999px;}
.sp-elec2016-zone02 ul{overflow:hidden;position:absolute;top:13px;right:23px;z-index:10;}
.sp-elec2016-zone02 ul li{float:left;height:24px;margin-right:18px;text-indent:-9999px;}
.sp-elec2016-zone02 ul li a{display:block;width:100%;height:100%;}
.sp-elec2016-zone02 .li01{width:105px;}
.sp-elec2016-zone02 .li02{width:56px;}
.sp-elec2016-zone02 .li03{width:44px;}

/* 20대 총선 특집 투표율 2016-04-07 */
.vote-module{position:relative;padding:24px 20px;background:#2f323a;.zoom:1;letter-spacing:0;}
.vote-module:after{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}

.vote-module .title-con{overflow:hidden;margin-bottom:23px;}
.vote-module .title-con .tit{float:left;font-size:20px;line-height:26px;color:#fff;font-family:'NanumBarunGothicBold','NanumBarunGothic',sans-serif;}
.vote-module .title-con .desc{float:left;margin: 0 0 0 14px;font-size:16px;}
.vote-module .title-con .desc strong{float:left;margin-right:5px;font-weight:normal;color:#f7cc00;vertical-align:middle;}
.vote-module .title-con .desc p{float:left;color:#dddee4;font-family:'NanumBarunGothicBold','NanumBarunGothic',sans-serif;vertical-align:middle;}
.vote-module .title-con .desc .percent{border-bottom:1px solid #fff;;font-weight:bold;font-size:20px;color:#fff;font-family:'NanumBarunGothicBold','NanumBarunGothic',sans-serif;vertical-align:middle;}
.vote-module .title-con .desc .mes{margin:4px 0 0 4px;font-size:12px;color:#a4a9b8;}
.vote-module .title-con .desc .mes em{border-bottom:1px solid #a4a9b8;}

.vote-module .tit-vote{margin-bottom:20px;font-weight:bold;font-size:14px;color:#e5e7eb;font-family:'NanumBarunGothicBold','NanumBarunGothic',sans-serif;}
.vote-module .tit-vote a,
.vote-module .tit-vote a:hover{font-weight:600;font-size:14px;color:#e5e7eb;cursor:default;text-decoration:none;}

.vote-module .box-graph01{.zoom:1;}
.vote-module .box-graph01:after{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}
.vote-module .box-graph01 .tit{float:left;width:28px;padding-left:3px;font-weight:400;font-size:12px;color:#dddee4;}
.vote-module .box-graph01 .graph{float:left;position:relative;width:100px;height:18px;}
.vote-module .box-graph01 .graph .bar{display:block;position:absolute;top:0;left:0;height:18px;background:#3b404c;text-align:right;}
.vote-module .box-graph01 .graph .percent{display:inline-block;position:absolute;width:47px;margin-left:4px;text-align:left;}
.vote-module .box-graph01 .graph .num{font-weight:600;font-size:12px;line-height:18px;color:#fff;}
.vote-module .box-graph01 .graph .mark{display:inline-block;margin-top:2px;font-weight:600;font-size:10px;line-height:16px;color:#fff;vertical-align:bottom;}

.vote-module .box-graph01.step1 .bar{background:#3b404c;}
.vote-module .box-graph01.step2 .bar{background:#3d4657;}
.vote-module .box-graph01.step3 .bar{background:#414f67;}
.vote-module .box-graph01.step4 .bar{background:#45597a;}
.vote-module .box-graph01.step5 .bar{background:#48638c;}
.vote-module .box-graph01.step6 .bar{background:#4c6d9e;}
.vote-module .box-graph01.step7 .bar{background:#4e75ac;}
.vote-module .box-graph01.step8 .bar{background:#547dc9;}
.vote-module .box-graph01.step9 .bar{background:#568bd4;}
.vote-module .box-graph01.step10 .bar{background:#5a95e6;}
.vote-module .box-graph01.step11 .bar{background:#5d9df5;}
.vote-module .box-graph01.step12 .bar{background:#5faafe;}
.vote-module .box-graph01.step13 .bar{background:#5fbdfe;}

/* 투표율 시간 */
.vote-module .timevote-list{position:absolute;width:100%;bottom:0;left:0;}
.vote-module .timevote-list .btn{display:none;}
.vote-module .timevote-list ul{.zoom:1;}
.vote-module .timevote-list ul:after{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}
.vote-module .timevote-list ul li{float:left;width:46px;background:#292b31;text-align:center;}
.vote-module .timevote-list ul li a{display:block;font-size:11px;line-height:33px;color:#6e727d;cursor:default;}
.vote-module .timevote-list ul li a:hover{text-decoration:none;}

.vote-module .timevote-list .on{background:#1b1d21;}
.vote-module .timevote-list .on a{color:#fff;cursor:pointer;}

.vote-module .timevote-list .current{background:#0c0d12;}
.vote-module .timevote-list .current a{border:1px solid #a4a9b8;color:#fff;cursor:pointer;}

/* 투표율 탭 */
.vote-module .tab-box{display:none;}

/* 투표율 지도, 막대 그래프 */
.localvote-wrap{float:left;position:relative;width:538px;height:330px;padding-left:14px;.zoom:1;}
.localvote-wrap:after{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}
.localvote-wrap .tab-con{float:left;}

.localvote-wrap .map-zone{float:left;margin-right:16px;}
.localvote-wrap .legend-con{float:left;}
.localvote-wrap .area-con{float:left;width:192px;}
.localvote-wrap .area-con>div{width:176px;margin:0 auto;}

.localvote-wrap .graph-zone{float:left;width:264px;}
.localvote-wrap .graph-zone ul{float:left;width:132px;}
.localvote-wrap .graph-zone ul li{margin-bottom:9px;.margin-bottom:7px;}
.localvote-wrap .graph-zone .all .box-graph01 .tit,
.localvote-wrap .graph-zone .all .box-graph01 .num,
.localvote-wrap .graph-zone .all .box-graph01 .mark{color:#f7cc00;}

/* 투표율 선 그래프 */
.timevote-wrap{float:right;position:relative;padding-right:8px;}
.timevote-wrap .tit-vote{margin-bottom:0;}
.timevote-wrap .tit-vote a{}
.timevote-wrap .zone{color:#fff;}
.timevote-wrap .legend{position:absolute;bottom:45px;right:35px;}

.tooltip-vote{display:none;position:absolute;top:-7px;left:146px;width:58px;height:47px;padding-top:8px;background:#000;z-index:10;}
.tooltip-vote.hide{display:none;}
.tooltip-vote>div{height:54px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/bg_mapvote_tooltop.png) 50% 100% no-repeat;text-align:center;}
.tooltip-vote>div p,
.tooltip-vote strong{font-size:14px;color:#fff;}
.tooltip-vote strong{font-weight:600;}

.tooltip-vote.Seoul{display:block;top:26px;left:96px;}
.tooltip-vote.Busan{display:block;top:149px;left:194px;}
.tooltip-vote.Daegu{display:block;top:116px;left:172px;}
.tooltip-vote.Incheon{display:block;top:15px;left:69px;}
.tooltip-vote.Gwangju{display:block;top:155px;left:91px;}
.tooltip-vote.Daejeon{display:block;top:90px;left:119px;}
.tooltip-vote.Ulsan{display:block;top:136px;left:206px;}
.tooltip-vote.Sejong{display:block;top:77px;left:110px;}
.tooltip-vote.Gyeonggi{display:block;top:0;left:97px;}
.tooltip-vote.Gangwon{display:block;top:-15px;left:142px;}
.tooltip-vote.Chungbuk{display:block;top:50px;left:132px;}
.tooltip-vote.Chungnam{display:block;top:62px;left:78px;}
.tooltip-vote.Jeollabuk{display:block;top:109px;left:100px;}
.tooltip-vote.Jeollanam{display:block;top:150px;left:75px;}
.tooltip-vote.Gyeongbuk{display:block;top:57px;left:186px;}
.tooltip-vote.Gyeongnam{display:block;top:136px;left:159px}
.tooltip-vote.Jeju{display:block;top:192px;left:212px;}

.mapster_tooltip{
	margin:-30px 0 0 145px !important;
	left:50%;
	padding:8px 0 0 0 !important;width:58px !important;height:47px !important;
	border:none !important;border-radius:0 !important;box-shadow:none !important;
	background:#000 !important;opacity:1 !important;
	font-size:14px;color:#fff  !important;text-align:center !important;
}
.mapster_tooltip.show{display:block;}
.mapster_tooltip.hide{display:none;}
.mapster_tooltip>div{height:54px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/bg_mapvote_tooltop.png) 50% 100% no-repeat;}
.mapster_tooltip p{}
.mapster_tooltip strong{font-weight:600;}

#chartdiv{width:357px;height:311px;margin-top:-4px;}
.vote-module .lastBullet {
	-webkit-animation: am-pulsating 1s ease-out infinite;
	animation: am-pulsating 1s ease-out infinite;
	fill:#ff0090;
}

@-webkit-keyframes am-pulsating {
	0% {stroke-opacity: 1;stroke-width: 0px;}
	100% {stroke-opacity: 0;stroke-width: 50px;}
}
@keyframes am-pulsating {
	0% {stroke-opacity: 1;stroke-width: 0px;
	}
	100% {stroke-opacity: 0;stroke-width: 50px;
	}
}
.amcharts-balloon-div>div{font-weight:bold;}
.amcharts-chart-div{}
.amcharts-chart-div svg + a,
#chartdiv .amcharts-legend-value{display:none !important;}

.amcharts-balloon-div>div{font-weight:bold;}

/* 20대 총선 특집 총선 결과 2016-04-12 */
.elect20-module{position:relative;padding:19px 20px;background:#2f323a;.zoom:1;letter-spacing:0;}
.elect20-module .title-con{position:relative;margin-bottom:17px;}
.elect20-module .title-con .tit{font-weight:normal;font-size:20px;line-height:24px;color:#fff;font-family:'NanumBarunGothic',sans-serif;}
.elect20-module .title-con .go{display:inline-block;position:absolute;top:2px;right:0;padding-right:11px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/bg_arrow_7x12.png) 100% 1px no-repeat;z-index:10;}
.elect20-module .title-con .go a,
.elect20-module .title-con .go em{padding-bottom:2px;border-bottom:1px solid #fff;font-size:14px;line-height:16px;font-family:'NanumBarunGothic',sans-serif;color:#fff !important;vertical-align:top;}
.elect20-module .title-con .go a:hover,
.elect20-module .title-con .go a:hover em{font-weight:400;color:#f7cc00;text-decoration:none;}

/* 20대 총선 결과 - 탭 (모바일용) */
.elect20-module .tab-elect{display:none;}

/* 20대 총선 결과 - 의석수 */
.elect-party-wrap{overflow:hidden;padding:0 8px;}
.win-seats-zone{float:left;}
.win-seats-zone .seat-area{float:left;width:273px;height:142px;margin-right:0;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/img_elec20_seat.png) 0 0 no-repeat;}
.win-seats-zone .seat-area .total{display:block;margin:90px 0 0 106px;font-weight:400;font-size:14px;color:#c2c8d9;font-family:'NanumBarunGothic',sans-serif;}
.win-seats-zone .seat-area .txt{margin:0 0 0 100px;font-size:12px;line-height:14px;color:#a4a9b8;font-family:'NanumBarunGothic',sans-serif;}
.win-seats-zone .seat-area .txt span{display:inline-block;width:39px;text-align:left;}
.win-seats-zone .seat-area .txt em{display:inline-block;width:36px;text-align:right;}

/* 20대 총선 결과 - 테이블 */
.tbl-elect01{float:left;width:373px;margin-top:-4px;}
.tbl-elect01 .ww01{width:128px;}
.tbl-elect01 .ww02{width:60px;}
.tbl-elect01 .ww03{}
.tbl-elect01 .ww04{width:60px;}
.tbl-elect01 .ww05{width:60px;}

.tbl-elect01 th,
.tbl-elect01 td{padding:3px 0 1px;color:#fff;text-align:center;}
.tbl-elect01 th{}
.tbl-elect01 th label,
.tbl-elect01 th .label{margin:0 12px;vertical-align:middle;}

.tbl-elect01 thead{}
.tbl-elect01 thead th{padding:1px 0 0;font-size:12px;font-family:'NanumBarunGothic',sans-serif;}
.tbl-elect01 thead th .label{display:inline-block;margin:0;font-weight:normal;color:#a4a9b8;line-height:20px;vertical-align:top;}
.tbl-elect01 thead th .label span{display:inline-block;line-height:20px;vertical-align:top;}
.tbl-elect01 thead th a.label:hover,
.tbl-elect01 thead th a.label:hover span{color:#fff;text-decoration:underline;}

.tbl-elect01 tbody{}
.tbl-elect01 tbody th{text-align:left;}
.tbl-elect01 tbody th .label{margin:0 10px;font-weight:normal;font-size:14px;font-family:'NanumBarunGothic',sans-serif;}
.tbl-elect01 tbody th .label.tit-th{padding-left:14px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) -520px -116px no-repeat;color:#c2c8d9;}
.tbl-elect01 tbody th .label.tit-th:hover{color:#fff;}

.tbl-elect01 .con{margin:0 5px;}
.tbl-elect01 .pct{font-size:12px;line-height:20px;vertical-align:bottom;font-family:'NanumBarunGothic',sans-serif;}

.tbl-elect01 .party0{}   /* 새누리 */
.tbl-elect01 .party1{}   /* 더불어민주당 */
.tbl-elect01 .party2{}   /* 국민의당 */
.tbl-elect01 .party3{}   /* 정의당 */
.tbl-elect01 .party4{}   /* 무소속 */

.tbl-elect01 .party0 .label.tit-th{background-position:-520px -116px;}
.tbl-elect01 .party1 .label.tit-th{background-position:-520px -316px;}
.tbl-elect01 .party2 .label.tit-th{background-position:-520px -356px;}
.tbl-elect01 .party3 .label.tit-th{background-position:-520px -396px;}
.tbl-elect01 .party4 .label.tit-th{background-position:-520px -276px;}
.tbl-elect01 .party5 .label.tit-th{background-position:-520px -436px;}

.tbl-elect01 .party0 .box-graph02 .bar{background:#d5355b;}
.tbl-elect01 .party1 .box-graph02 .bar{background:#017fd6;}
.tbl-elect01 .party2 .box-graph02 .bar{background:#92ce31;}
.tbl-elect01 .party3 .box-graph02 .bar{background:#ff9c41;}
.tbl-elect01 .party4 .box-graph02 .bar{background:#a4a9b8;}
.tbl-elect01 .party5 .box-graph02 .bar{background:#55d1d2;}

.tbl-elect01 .seat-cont{}
.tbl-elect01 .seat-cont .num{font-weight:600;}
.tbl-elect01 .vote-cont{}
.tbl-elect01 .vote-cont .txt-para01{display:block;}
.tbl-elect01 .vote-cont .txt-para01 .num{font-weight:normal;font-size:14px;}
.tbl-elect01 .local-cont{}
.tbl-elect01 .propor-cont{}

.tbl-elect01 .local-cont .txt-para01 .num,
.tbl-elect01 .propor-cont .txt-para01 .num{font-weight:400;font-size:14px;line-height:20px;font-family:'NanumBarunGothic',sans-serif;}
.tbl-elect01 .local-cont .txt-para01 .mark,
.tbl-elect01 .propor-cont .txt-para01 .mark{margin-left:2px;font-size:12px;line-height:20px;font-family:'NanumBarunGothic',sans-serif;}

/* 20대 총선 결과 - 투표율 */
.vote-result20-zone{position:relative;float:right;width:195px;margin-top:20px;padding-left:23px;}
.vote-result20-zone .txt-para02{font-size:12px;line-height:16px;font-family:'NanumBarunGothic',sans-serif;}
.vote-result20-zone .txt-para02 .mark{color:#fff}

.final-turnout{overflow:hidden;}
.final-turnout .tit-sub{clear:both;margin-bottom:5px;font-weight:normal;font-size:14px;color:#c2c8d9;font-family:'NanumBarunGothic',sans-serif;}
.final-turnout .txt-para01{float:left;margin-right:10px;}
.final-turnout .txt-para01 .num{font-size:18px;color:#fff;font-family:'NanumBarunGothic',sans-serif;}
.final-turnout .txt-para01 .mark{font-size:12px;color:#fff;font-family:'NanumBarunGothic',sans-serif;}
.final-turnout .txt-para02 .num{padding-left:16px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) -347px -77px no-repeat;color:#fff;}
.final-turnout .desc-con{float:left;}

.local-turnout{overflow:hidden;padding-top:30px;.padding-top:15px;}
.local-turnout .tit-sub{clear:both;margin-bottom:5px;font-weight:normal;font-size:12px;color:#c2c8d9;font-family:'NanumBarunGothic',sans-serif;vertical-align:top;}
.local-turnout .stit{display:inline-block;font-size:12px;line-height:16px;color:#c2c8d9;font-family:'NanumBarunGothic',sans-serif;vertical-align:top;}
.local-turnout .desc-con{float:left;margin-right:10px;}
.local-turnout .txt-para02{display:inline-block;vertical-align:top;}
.local-turnout .txt-para02 .tit{font-size:12px;font-family:'NanumBarunGothic',sans-serif;}

/* 20대 총선 결과 - 지역별  */
.elect-map-wrap{margin-top:23px;padding:14px 8px 0;border-top:1px solid #4a4d57;.zoom:1;}
.elect-map-wrap:after{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}
.elect-map-wrap .tit-winner{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}

/* 20대 총선 결과 - 지도 */
.elect-map-wrap .map-zone{float:left;width:212px;margin-right:28px;}
.elect-map-wrap .map-zone .legend-area{display:none;}
.elect-map-wrap .map-zone .area-con{position:relative;width:209px;height:292px;margin:0 auto;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/map_elec20_bg.png?20160414_01) 0 0 no-repeat;}  /* 1층 */
.elect-map-wrap .map-zone .area-con img{}
.elect-map-wrap .map-zone .area-con area{border:none;outline:0;}
.elect-map-wrap .map-zone .maps{position:absolute;top:0px;left:0px;z-index:30;} /* 4층 */
.elect-map-wrap .map-zone .tooltip-elect{display:none;position:absolute;top:0px;left:50px;width:58px;height:30px;padding-top:8px;background:#000;font-size:14px;color:#fff;z-index:20;text-align:center;} /* 3층 */
.elect-map-wrap .map-zone .tooltip-elect.active{display:block;}
.elect-map-wrap .map-zone .tooltip-elect span{display:block;height:37px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/bg_mapvote_tooltop.png) 50% 100% no-repeat;}
.elect-map-wrap .map-zone .selectimg{position:absolute;top:0px;left:0px;z-index:10;} /* 2층 */

.elect-map-wrap .map-zone .tooltip-elect.Seoul{display:block;top:15px;left:34px;}
.elect-map-wrap .map-zone .tooltip-elect.Busan{display:block;top:164px;left:152px;}
.elect-map-wrap .map-zone .tooltip-elect.Daegu{display:block;top:122px;left:120px;}
.elect-map-wrap .map-zone .tooltip-elect.Incheon{display:block;top:7px;left:1px;}
.elect-map-wrap .map-zone .tooltip-elect.Gwangju{display:block;top:173px;left:25px;}
.elect-map-wrap .map-zone .tooltip-elect.Daejeon{display:block;top:100px;left:58px;}
.elect-map-wrap .map-zone .tooltip-elect.Ulsan{display:block;top:144px;left:156px;}
.elect-map-wrap .map-zone .tooltip-elect.Sejong{display:block;top:80px;left:44px;}
.elect-map-wrap .map-zone .tooltip-elect.Gyeonggi{display:block;top:6px;left:19px;}
.elect-map-wrap .map-zone .tooltip-elect.Gangwon{display:block;top:-25px;left:68px;}
.elect-map-wrap .map-zone .tooltip-elect.Chungbuk{display:block;top:50px;left:75px;}
.elect-map-wrap .map-zone .tooltip-elect.Chungnam{display:block;top:64px;left:19px;}
.elect-map-wrap .map-zone .tooltip-elect.Jeollabuk{display:block;top:125px;left:40px;}
.elect-map-wrap .map-zone .tooltip-elect.Jeollanam{display:block;top:164px;left:27px;}
.elect-map-wrap .map-zone .tooltip-elect.Gyeongbuk{display:block;top:60px;left:116px;}
.elect-map-wrap .map-zone .tooltip-elect.Gyeongnam{display:block;top:132px;left:79px}
.elect-map-wrap .map-zone .tooltip-elect.Jeju{display:block;top:224px;left:149px;}

/* 20대 총선 결과 - 당선인 */
.winner-zone{position:relative;float:left;width:680px;height:294px;}

/* 20대 총선 결과 - 메뉴 */
.winner-zone .menu-area{}
.winner-zone .local-menu{}
.winner-zone .propor-menu{}

/* 20대 총선 결과 - 정당 */
.winner-zone .party-area{overflow:hidden;position:absolute;top:0;left:139px;height:49px;z-index:10;}
.winner-zone .party-area li{float:left;margin:15px 12px 0 0;}

/* 20대 총선 결과 - 슬라이드 */
.winner-zone .people-area{position:relative;width:600px;margin:25px auto 0;}
.winner-zone .people-area .inner{}
.winner-zone .more{position:absolute;bottom:0;right:0;}
.winner-zone .result-vote{position:absolute;bottom:0px;left:23px;}
.winner-zone .result-vote .txt-para01{font-size:12px;line-height:20px;}
.winner-zone .result-vote .txt-para01 .num{margin-left:4px;font-size:14px;}
.winner-zone .result-vote .txt-para01 .mark{font-size:14px;}

.people-area>button{position:absolute;top:0px;z-index:10;}
.people-area>button.disabled{display:none !important;}
.people-area .btn-p-prev{left:-45px;}
.people-area .btn-p-next{right:-45px;}

.people-area .list{overflow:hidden;width:100%;height:177px;}
.people-area .list>li{float:left;width:139px;height:177px;margin:0 5px;cursor:default;}
.people-area .list>li>div{}

.people-area .p-pager{width:100%;margin-top:30px;text-align:center;}
.people-area .p-pager a{display:inline-block;width:12px;height:12px;padding:5px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) -280px -200px no-repeat;}
.people-area .p-pager span{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}
.people-area .p-pager a.selected{background-position:-320px -200px;}

.people-area .tit-area{overflow:hidden;height:35px;}
.people-area .tit-area strong{display:table;width:139px;height:36px;}
.people-area .tit-area a{display:table-cell;height:36px;line-height:18px;font-weight:400;font-size:14px;color:#fff;vertical-align:middle;font-family:'NanumBarunGothic',sans-serif;}
.people-area .info-list{overflow:hidden;margin-bottom:14px;}
.people-area .img-con{display:block;float:left;width:52px;margin-right:10px;}
.people-area .img-con img{width:52px;height:auto;}

.people-area .txt-con{float:left;width:76px;padding-top:4px;}
.people-area .txt-con .party{display:block;font-size:12px;font-family:'NanumBarunGothic',sans-serif;}
.people-area .txt-con .name{display:block;font-size:16px;font-family:'NanumBarunGothic',sans-serif;}
.people-area .txt-con .txt-para01{}
.people-area .txt-con .txt-para01 .num{font-weight:400;font-size:14px;}
.people-area .txt-con .txt-para01 .mark{font-size:12px;}

.people-area .related-list{overflow:hidden;}
.people-area .related-list li{float:left;width:68px;height:28px;}
.people-area .related-list li a{display:block;width:100%;height:100%;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) 0 0 no-repeat;text-indent:-9999px;cursor:default;}

.people-area .related-list li.profile{display:none;margin-right:0;}
.people-area .related-list li.interview{width:139px;}
.people-area .related-list li.video{display:none;width:139px;margin-top:3px;}

.people-area .related-list li.profile a{background-position:-160px -760px;}
.people-area .related-list li.interview a{background-position:-160px -880px;}
.people-area .related-list li.video a{background-position:0 -840px;cursor:pointer;}

.people-area .related-list li.profile.active a{background-position:0 -760px;cursor:pointer;}
.people-area .related-list li.interview.active a{background-position:0 -880px;cursor:pointer;}

.people-area .caroufredsel_wrapper{cursor:default !important;}
.people-area .caroufredsel_wrapper .list>li{}

.elect20-module{color:#dddee4;}
.elect20-module .txt-link02{display:inline-block;padding-right:11px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/bg_arrow_7x12.png) 100% 1px no-repeat;}
.elect20-module .txt-link02 a{padding-bottom:2px;border-bottom:1px solid #fff;font-size:12px;line-height:14px;font-family:'NanumBarunGothic',sans-serif;color:#fff !important;vertical-align:top;}
.elect20-module .txt-link02 em{margin-right:4px;font-weight:600;font-size:12px;line-height:14px;color:#f7cc00;font-family:'NanumBarunGothicBold','NanumBarunGothic',sans-serif;vertical-align:top;}
.elect20-module .txt-link02:hover{font-weight:400;text-decoration:none;}
.elect20-module .txt-link02:hover a,
.elect20-module .txt-link02:hover em{text-decoration:none;}

.elect20-module .txt-para01{color:#c2c8d9;}
.elect20-module .txt-para01 .num{font-weight:600;font-size:16px;line-height:20px;color:#fff;font-family:'NanumBarunGothicBold','NanumBarunGothic',sans-serif;vertical-align:bottom;}
.elect20-module .txt-para01 .mark{margin:2px 0 0 2px;font-size:12px;line-height:18px;color:#fff;font-family:'NanumBarunGothic',sans-serif;vertical-align:bottom;}

.elect20-module .txt-para02{}
.elect20-module .txt-para02 .num{display:inline-block;font-weight:600;font-size:12px;line-height:16px;vertical-align:bottom;}
.elect20-module .txt-para02 .mark{display:inline-block;margin:0 0 0 2px;font-size:10px;line-height:16px;vertical-align:bottom;}

.elect20-module .list-party01{}
.elect20-module .list-party01 li{}
.elect20-module .list-party01 .tit{padding-left:16px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) -520px -116px no-repeat;font-size:12px;line-height:18px;color:#c2c8d9;font-family:'NanumBarunGothic',sans-serif;}
.elect20-module .list-party01 .num{margin-left:4px;font-weight:600;font-size:14px;line-height:18px;color:#fff;font-family:'NanumBarunGothicBold','NanumBarunGothic',sans-serif;}

.elect20-module .list-party01 .party0 .tit{background-position:-520px -118px;}
.elect20-module .list-party01 .party1 .tit{background-position:-520px -318px;}
.elect20-module .list-party01 .party2 .tit{background-position:-520px -358px;}
.elect20-module .list-party01 .party3 .tit{background-position:-520px -398px;}
.elect20-module .list-party01 .party4 .tit{background-position:-520px -278px;}
.elect20-module .list-party01 .party5 .tit{background-position:-520px -438px;}

.elect20-module .box-graph02{display:none;}
.elect20-module .box-graph02 .graph{position:relative;width:100%;height:14px;}
.elect20-module .box-graph02 .graph .bar{display:block;position:absolute;top:0;left:0;height:14px;background:#a4a9b8;text-align:right;}
.elect20-module .box-graph02 .graph .percent{display:inline-block;position:absolute;top:-3px;width:64px;margin-left:4px;text-align:left;}
.elect20-module .box-graph02 .graph .num{font-weight:400;font-size:14px;line-height:18px;vertical-align:bottom;color:#fff;font-family:'NanumBarunGothic',sans-serif;}
.elect20-module .box-graph02 .graph .mark{display:inline-block;margin:2px 0 0 2px;font-size:12px;line-height:16px;color:#fff;vertical-align:bottom;font-family:'NanumBarunGothic',sans-serif;}

.elect20-module .box-graph03{position:absolute;top:0;left:0;background:#101012;}
.elect20-module .box-graph03 .graph{position:relative;width:7px;height:118px;}
.elect20-module .box-graph03 .graph .bar{display:inline-block;position:absolute;bottom:0;width:7px;background:#17181e;
background:#e4ff70; /* Old browsers */
background:-moz-linear-gradient(top, #e4ff70 0%, #ffea01 100%); /* FF3.6-15 */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4ff70), color-stop(100%,#ffea01)); /* Chrome4-9,Safari4-5 */
background:-webkit-linear-gradient(top, #e4ff70 0%,#ffea01 100%); /* Chrome10-25,Safari5.1-6 */
background:-o-linear-gradient(top, #e4ff70 0%,#ffea01 100%); /* Opera 11.10-11.50 */
background:-ms-linear-gradient(top, #e4ff70 0%,#ffea01 100%); /* IE10 preview */
background:linear-gradient(to bottom, #e4ff70 0%,#ffea01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ff70', endColorstr='#ffea01',GradientType=0 ); /* IE6-8 */}
.elect20-module .box-graph03 .graph .percent{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}

.elect20-module .tab-type02{position:relative;width:100%;z-index:20;}
.elect20-module .tab-type02:after{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}
.elect20-module .tab-type02 .btn-menu{display:block;position:relative;width:124px;height:46px;margin:0;padding:0 14px;border:1px solid #3d4049;background:#292b31 url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) -583px -812px no-repeat;font-weight:400;font-size:16px;line-height:46px;color:#fff;font-family:'NanumBarunGothic',sans-serif;text-align:left;z-index:10;cursor:pointer;}
.elect20-module .tab-type02 .btn-menu .tit{line-height:42px;}
.elect20-module .tab-type02 .btn-menu .num{line-height:42px;}
.elect20-module .tab-type02.open .btn-menu{background:#1b1d21 url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) -583px -742px no-repeat;}

.elect20-module .tab-type02 .tit{margin-right:4px;}
.elect20-module .tab-type02 .num{margin-top:2px;font-size:14px;font-family:'NanumBarunGothic',sans-serif;color:#f7cc00;}

.elect20-module .tab-type02 .menu{display:none;position:absolute;top:45px;left:0px;width:676px;}
.elect20-module .tab-type02.open .menu{display:block;}
.elect20-module .tab-type02 ul{}
.elect20-module .tab-type02 ul li{position:relative;float:left;width:20%;.width:19.92%;height:46px;text-align:left;}
.elect20-module .tab-type02 ul li a{display:block;padding-left:15px;border-bottom:1px solid #3d4049;border-right:1px solid #3d4049;font-size:16px;line-height:43px;color:#ffffff;font-family:'NanumBarunGothic',sans-serif;}
.elect20-module .tab-type02 ul li strong{font-weight:400;color:#fff;}

.elect20-module .tab-type02 .local-menu{position:relative;border-top:1px solid #3d4049;border-left:1px solid #3d4049;.zoom:1;}
.elect20-module .tab-type02 .local-menu:after{content:"";visibility:hidden;display:block;clear:both;height:0;font-size:0;line-height:0;}
.elect20-module .tab-type02 .local-menu li{background:#292b31;}

.elect20-module .tab-type02 .propor-menu{margin-top:3px;}
.elect20-module .tab-type02 .propor-menu li{background:#001455;}

.elect20-module .tab-type02 .item{display:none;position:absolute;top:-1px;left:-1px;width:100%;height:45px;}
.elect20-module .tab-type02 .item span{display:block;}

.elect20-module .tab-type02 .on .item,
.elect20-module .tab-type02 .active .item{display:block;}

.elect20-module .tab-type02 .on .item span{height:43px;border:1px solid #f7cc00;}
.elect20-module .tab-type02 .active .item span{height:35px;border:5px solid #f7cc00;}

.elect20-module .btn-prev03,
.elect20-module .btn-next03{display:inline-block;margin:0;padding:0 5px;width:33px;height:177px;border:none;background:none;}
.elect20-module .btn-prev03 span,
.elect20-module .btn-next03 span{display:block;width:20px;height:36px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/2016/elections/images/sprites_elec2016_02.png) 0 0 no-repeat;text-indent:-9999px;}
.elect20-module .btn-prev03 span{background-position:-400px -440px;}
.elect20-module .btn-next03 span{background-position:-460px -440px;}
.elect20-module .btn-prev03:hover{}
.elect20-module .btn-next03:hover{}

/* 특집코너 : 북한포털 메인배너 2016-05-02 */
.sp-nk-zone02{margin-top:20px;overflow:hidden}
.sp-nk-zone02 a{display:block;}

/* 특집코너 : 북한포털 메인배너 2016-05-02 */
.sp-nk-hs-zone{padding-top:15px;overflow:hidden}
.sp-nk-hs-zone a{display:block;margin-bottom:5px;}

.sp-nk-hs-zone .bnr01{overflow:hidden;width:100%;height:50px;}
.sp-nk-hs-zone .bnr01>a{display:block;float:left;margin:0;}

/* 특집코너 : 우측 연합뉴스TV 유튜브 생방송 박스 2016-05-24 */
.box-youtube{margin:20px 0 0}
.box-youtube .tit{display:block;margin:0 0 0}
.box-youtube .tit{overflow:hidden;display:block;margin:0 0 0}
.box-youtube .tit a{float:left;}

/* 특집코너 : 우측 배너 : 메인 한번도 통일심포지엄 2016-05-26 */
.sp-nk-hs-zone02{position:relative;width:100%;height:40px;}
.sp-nk-hs-zone02 a{position:relative;display:block;float:left;height:40px;margin:0;z-index:1;}

/* 특집코너 : 2016 리우올림픽 2016-07-25 */
.sp-rio2016-zone{position:relative;width:100%;height:50px;padding-top:20px;}
.sp-rio2016-zone .con{height:50px;background:url(../../00_ko/home/2016/bnr_sp_rio2016_0822.jpg) 0 0 no-repeat;}
.sp-rio2016-zone .link{display:block;width:100%;height:100%;text-indent:-9999px;}

.sp-rio2016-zone .title-con{position:absolute;top:27px;right:7px;text-align:center;font-size:12px;font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,sans-serif;color:#fff;}
.sp-rio2016-zone .title-con .name{}
.sp-rio2016-zone .title-con .ranking{}
.sp-rio2016-zone .title-con .ranking span{}

.sp-rio2016-zone .list{overflow:hidden;position:absolute;top:24px;right:64px;width:141px;}
.sp-rio2016-zone .list>li{float:left;width:42px;height:42px;margin-left:5px;text-align:center;}
.sp-rio2016-zone .list .m{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}
.sp-rio2016-zone .list .num{display:block;width:42px;font:bold 21px/45px 'NanumBarunGothicBold','NanumBarunGothic',sans-serif;}

.sp-rio2016-zone02{width:100%;height:86px;padding-top:20px;}
.sp-rio2016-zone02 .con{position:relative;height:86px;background:url(../../00_ko/home/2016/bnr_sp_rio2016_05.jpg) 0 0 no-repeat;}
.sp-rio2016-zone02 .link{display:block;width:100%;height:100%;text-indent:-9999px;}

.sp-rio2016-zone02 .title-con{position:absolute;top:8px;right:7px;text-align:center;font-size:12px;font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,sans-serif;color:#fff;}
.sp-rio2016-zone02 .title-con .name{}
.sp-rio2016-zone02 .title-con .ranking{}
.sp-rio2016-zone02 .title-con .ranking span{}

.sp-rio2016-zone02 .m-list{overflow:hidden;position:absolute;top:5px;right:64px;width:141px;}
.sp-rio2016-zone02 .m-list>li{float:left;width:42px;height:42px;margin-left:5px;text-align:center;}
.sp-rio2016-zone02 .m-list .m{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}
.sp-rio2016-zone02 .m-list .num{display:block;width:42px;font:bold 21px/45px 'NanumBarunGothicBold','NanumBarunGothic',sans-serif;}

.sp-rio2016-zone02 .menu{overflow:hidden;position:absolute;top:60px;left:90px;width:200px;}
.sp-rio2016-zone02 .menu li{float:left;margin-left:5px;}
.sp-rio2016-zone02 .menu li:first-child{margin-left:0;}
.sp-rio2016-zone02 .menu li a{padding:2px 3px;font-size:12px;font-family:'돋움',Dotum,'굴림',Gulim,sans-serif;color:#000;letter-spacing:0;}

.rio-schedule{overflow:hidden;position:absolute;top:60px;left:300px;width:340px;height:18px;}
.rio-schedule .list li{display:block;height:18px;padding-left:10px;background:url(../../00_ko/2016/rio2016/images/bg_circle_4x4.png) 0 7px no-repeat;font:normal 12px/18px '돋움',Dotum,'굴림',Gulim,sans-serif;color:#000;letter-spacing:0;}

.rio-schedule .dd{color:#fff;}
.rio-schedule .tt{margin-left:7px;color:#fff;}
.rio-schedule .info{margin-left:7px;font-weight:normal;}
.rio-schedule .info em{margin-left:7px;font-weight:bold;}

/* 특집코너 : 87년체제 30년 2016-10-24 */
.sp-demo87-zone{position:relative;width:100%;height:50px;margin-top:16px;} /* 메인 */
.sp-demo87-zone .con{position:absolute;top:0;left:0;width:100%;height:50px;background:#e1b885 url(../../00_ko/home/2016/bnr_sp_demo87_01.jpg) 0 0 no-repeat;z-index:20;}
.sp-demo87-zone .con a{display:block;width:100%;height:100%;}
.sp-demo87-zone .tit{position:absolute;top:17px;left:276px;}
.sp-demo87-zone .link{position:absolute;top:17px;right:11px;padding-right:20px;background:url(../../00_ko/home/2016/bg_sp_demo87_arr01.png) 100% 0 no-repeat;font-size:12px;line-height:19px;font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,sans-serif;color:#fff;}

.sp-demo87-zone01{}
.sp-demo87-zone01 .con{background:none;}
.sp-demo87-zone01 .slides{position:absolute;width:100%;height:50px;z-index:10;}
.sp-demo87-zone01 .slides ul{overflow:hidden;width:100%;height:50px;}
.sp-demo87-zone01 .slides ul li{float:left;}

/* 특집코너 : 수능 메인 배너 2016-11-16 */
.sp-college2017-zone{width:100%;height:30px;padding-top:20px;}
.sp-college2017-zone .con{width:100%;height:100%;background:url(../../00_ko/home/2016/sprites_college2017_03.png) 0 -200px no-repeat;}
.sp-college2017-zone .con>a{display:block;width:100%;height:100%;}
.sp-college2017-zone .tit{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}

/* 특집코너 : 트럼프시대 2016-11-18 */
.sp-trump-president{margin:24px 0px 18px 18px;}
.sp-trump-president .con{}
.sp-trump-president .con a{}

/* 특집코너 : 2016송년특집 2016-12-15 */
.sp-end2016-zone{overflow:hidden;width:100%;height:40px;margin:15px 0 0;background:#b2d1f1;}
.sp-end2016-zone .con{overflow:hidden;}
.sp-end2016-zone .con a{float:left;}
.sp-end2016-zone .con a.text{margin-left:18px;line-height:40px;font-size:16px;color:#0068d1;}
.sp-end2016-zone02 strong{float:left;margin:0 0 0 25px;font-weight:bold;line-height:40px;font-size:16px;color:#0068d1;}
.sp-end2016-zone02 strong.first{margin:0;}
.sp-end2016-zone02 span{float:left;margin:0 10px 0 0;line-height:40px;font-size:16px;color:#0068d1;}
.sp-end2016-zone02 .con a.text{margin:0 10px 0 0;}
.sp-end2016-zone02 .con a.text.end2016{margin:0 0 0 25px;}



/******************** 특집페이지 ********************/
/* 수능 답안 페이지 */
.college-test-page{} /* 수능 body class */
.college-test-page .contents01>.contents-box{border-bottom:none;}

/* .college-test-page .header-fixed{position:static;}
.college-test-page .header-fixed .navi-wrap{display:none !important;} */

/* 수능 2017 학년도 */
.college-test-zone2017{margin-top:-19px;}
.college-test-zone2017 .title-college{}
.college-test-zone2017 .title-college .tit{}

.college-test-zone2017 .txt01{display:block;margin:4px 6px 0 0;text-align:right;font-size:13px;line-height:20px;color:#333;font-family:'Noto Sans KR','맑은 고딕',Malgun Gothic,'돋움',dotum,arial,sans-serif;}
.college-test-zone2017 .txt02{display:none;}

.college-test-zone2017 .btn-right{}
.college-test-zone2017 .btn-acrobat-down{display:inline-block;width:179px;height:49px;margin-right:6px;background:url(../../00_ko/home/2016/sprites_college2017_03.png) 0 -300px no-repeat;}
.college-test-zone2017 .btn-acrobat-down span{visibility:hidden;overflow:hidden;position:absolute;left:0;top:0;width:0;height:0;padding:0;font-size:0;line-height:0;}
.college-test-zone2017 .btn-home{display:none;}

.college-test-zone2017 .tbl-college{width:620px;margin-top:10px;border-top:2px solid #3f3f3f;} /* 테이블 */
.college-test-zone2017 .tbl-college .ww01{width:96px;}
.college-test-zone2017 .tbl-college .ww02{width:100px;}
.college-test-zone2017 .tbl-college .ww03{}
.college-test-zone2017 .tbl-college .ww04{width:225px;}

.college-test-zone2017 .tbl-college thead th,
.college-test-zone2017 .tbl-college thead td{padding:19px 0;border-bottom:2px solid #d9d9d9;background:#f9f9f9;font-weight:normal;color:#000;}
.college-test-zone2017 .tbl-college th,
.college-test-zone2017 .tbl-college td{padding:10px 0 6px;border-bottom:1px solid #e2e2e2;color:#666;text-align:center;font-weight:normal;font-size:13px;line-height:20px;font-family:'Noto Sans KR','맑은 고딕',Malgun Gothic,'돋움',dotum,arial,sans-serif;color:#06122c;}

.college-test-zone2017 .tbl-college .bg01 th,
.college-test-zone2017 .tbl-college .bg01 td{background:#f9f9f9;}

.college-test-zone2017 .tbl-college th{}
.college-test-zone2017 .tbl-college th label,
.college-test-zone2017 .tbl-college th .label{margin:0 12px;vertical-align:middle;}
.college-test-zone2017 .tbl-college .test-paper{padding:5px 0;text-align:left;}
.college-test-zone2017 .tbl-college .test-paper p{padding:9px 0 10px 27px;border-top:1px solid #e2e2e2;}
.college-test-zone2017 .tbl-college .test-paper p:first-child{margin-top:0;border-top:none;}
.college-test-zone2017 .tbl-college .test-paper a{padding-left:17px;background:url(../../00_ko/home/2016/sprites_college2017_03.png) -635px -297px no-repeat;}

.college-test-zone2017 .tbl-college .space01 .test-paper{padding-bottom:0 !important;}
.college-test-zone2017 .tbl-college .space02 .test-paper{padding:0 !important;}
.college-test-zone2017 .tbl-college .space03 .test-paper{padding-top:0 !important;}

/* 수능 2016 학년도 */
.college-test-zone2016{padding: 0 19px 50px  19px;}
.college-test-zone2016 .txt01{display:block;margin-top:4px;text-align:right;font-size:12px;line-height:20px;color:#666;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;}
.college-test-zone2016 .txt02{display:none;}
.college-test-zone2016 .btn-right{}
.college-test-zone2016 .btn-home{display:none;}

.college-test-zone2016 .listening-down{position:relative;}
.college-test-zone2016 .listening-down .txt{display:none;color:#3464a8;}
.college-test-zone2016 .listening-down .down{margin-top:2px;}

.college-test-zone2016 .title-college{width:588px;height:70px;background:url(../../00_ko/home/title_sp_college_test201601.jpg) 0 0 no-repeat;}
.college-test-zone2016 .title-college .tit{text-indent:-9999px;}

.college-test-zone2016 .tbl-college{width:100%;margin-top:10px;} /* 테이블 */
.college-test-zone2016 .tbl-college thead th,
.college-test-zone2016 .tbl-college thead td{border-bottom:2px solid #666;font-weight:normal;}
.college-test-zone2016 .tbl-college th,
.college-test-zone2016 .tbl-college td{padding:10px 0 6px;border-bottom:1px solid #dad8d8;color:#666;text-align:center;font-weight:normal;font-size:13px;line-height:20px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#06122c;}
.college-test-zone2016 .tbl-college th{}
.college-test-zone2016 .tbl-college th label,
.college-test-zone2016 .tbl-college th .label{margin:0 12px;vertical-align:middle;}
.college-test-zone2016 .tbl-college .test-paper{}
.college-test-zone2016 .tbl-college .test-paper p{margin-top:3px;}
.college-test-zone2016 .tbl-college .test-paper p:first-child{margin-top:0;}

/* 수능 2015 학년도 */
.college-test-zone{}
.college-test-zone .listening-down{position:relative;}
.college-test-zone .listening-down .txt{display:inline-block;width:24px;height:21px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/ico_zip.png) 0 0 no-repeat;}
.college-test-zone .listening-down .txt em{display:block;text-indent:-9999px;}
.college-test-zone .listening-down .down{display:block;position:absolute;left:50%;top:50%;width:30px;height:24px;margin:-12px 0 0 -15px;}

/* 송년특집 서브 */
.year-end-zone ul.box-list{overflow:hidden}
.year-end-zone ul.box-list li{float:left;margin:0 0 22px 22px;text-align:center;}
.year-end-zone ul.box-list li a{display:block;position:relative;background:#fff;}
.year-end-zone ul.box-list li a:hover{}
.year-end-zone ul.box-list li a .box-border{display:block;position:absolute;left:0;top:0;border:1px solid #ededed;border-color:rgba(0,0,0,0.07);}
.year-end-zone ul.box-list li a .img-con{display:block}

.year-end-zone{padding:0 0 30px 28px;font-family:'NanumBarunGothic';font-size:1.15em;line-height:1.5em}
.year-end-zone h2{padding:45px 0 20px;text-align:center;}
.year-end-zone .tab-head{margin:0 0 25px;text-align:center;}
.year-end-zone .tab-head a{display:inline-block;width:190px;height:37px;line-height:37px;background:#ececec;color:6c6c6c;}
.year-end-zone .tab-head a.on{background:#547cd5;color:#fff;font-weight:bold;}
.year-end-zone .tab-con{display:none;}
.year-end-zone .tab-con.current{display:block;}
.year-end-zone .box-flex a{width:202px;height:371px;color:#828282;}
.year-end-zone .box-flex a .box-border{width:200px;height:369px;}
.year-end-zone .box-flex a .img-con img{width:100%;}
.year-end-zone .w650 .box-flex a{width:650px;height:371px;}
.year-end-zone .w650 .box-flex a .box-border{width:648px;height:369px;}
.year-end-zone .tit-con {padding:0 15px;text-align:left;color:#939393;}
.year-end-zone .tit-con .tit{display:block;padding:17px 0;text-align:center;font-size:1.16em;color:#5a5a5a;}
.year-end-zone .tit-con .con-txt{overflow:hidden;height:80px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;word-wrap:break-word;}
.year-end-zone .w650 .tit-con .tit{font-size:1.9em;color:#4d4d4d;}
.year-end-zone .tab-txt{padding:0 42px 20px 20px;color:#939393}
.year-end-zone .box-flex a:hover,
.year-end-zone .box-flex a:hover .tab-txt,
.year-end-zone .box-flex a:hover .tit-con,
.year-end-zone .box-flex a:hover .tit-con .tit{color:#547cd5 !important;}
.year-end-zone .btn-home{display:none;}

.year-end-layer{top:380px;width:875px;margin-left:-438px;font-family:'NanumBarunGothic';font-size:1.15em;line-height:1.8em;color:#666;}
.year-end-layer .close{width:54px;height:54px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/btn_close_54_54.png) no-repeat 0 0;}
.year-end-layer .layer-tit{display:block;padding:20px 0 35px;font-size:1.9em;line-height:1.5;color:#525252;text-align:center;}
.year-end-layer .layer-txt{padding:30px 0 0;}
.year-end-layer .img-con img{width:100%;}
.year-end-layer .layer-body{display:none}

/* 송년특집 메인 2014-12-12 */
.end2014-page{}
.title-page-14end{padding:15px 0 20px;}

.major-14end{position:relative;height:480px;margin-bottom:30px;}
.major-14end .move-zone{position:relative;top:80px;z-index:10;}
.major-14end .move-zone ul{overflow:hidden;height:400px;}
.major-14end .move-zone ul li{width:976px;height:400px;float:left;}
.major-14end .move-zone ul li a{display:block;position:relative;}
.major-14end .img-con{}
.major-14end .news-con{overflow:hidden;position:absolute;left:0px;top:30px;width:284px;height:290px;padding:0 20px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;}
.major-14end .news-con .tit{font-size:38px;text-shadow:1px 1px 1px #666a6c;}
.major-14end .news-con .txt{font-size:14px;text-shadow:1px 1px 1px #666a6c;}

.major-14end .navi-zone{position:absolute;left:0px;top:0px;width:100%;height:86px;background:url(../bg_tab_type01.png) 0 0 no-repeat;z-index:20;}
.major-14end .navi-zone .tit-con{overflow:hidden;}
.major-14end .navi-zone .tit-con h4{float:left;width:243px;height:37px;font-weight:800;font-size:18px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;line-height:37px;text-align:center;}
.major-14end .navi-zone .m-pager{background:url(../bg_bar_2x16.gif) 121px 52px no-repeat;}
.major-14end .navi-zone .m-pager a{display:block;float:left;width:121px;padding:12px 0 14px;font-weight:800;font-size:15px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#082339;text-align:center;}
.major-14end .navi-zone .m-pager .selected{background:url(../ico_arrow_11x6.png) 50% 100% no-repeat;}
.major-14end .navi-zone .m-pager .selected,
.major-14end .navi-zone .m-pager a:hover{color:#ccffff;text-decoration:none;}
.major-14end .navi-zone .m-pager .m{width:81px;}

.major-14end button{position:absolute;bottom:11px;z-index:30;}
.major-14end .btn-prev04{left:28px;}
.major-14end .btn-next04{left:69px;}

.settle-14end{padding:0 7px;}
.end2014-page .con-para01{overflow:hidden;padding:24px 20px;border-top:1px dashed #cfcfcf;}
.end2014-page .con-para01:first-child{border-top:none;}
.end2014-page .con-para01 dt{float:left;width:137px;height:50px;background:url(../bg_2014settle.png) 0 0 no-repeat;font-weight:800;font-size:20px;line-height:50px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;text-align:center;}
.end2014-page .con-para01 dd{float:left;width:767px;margin:0 0 0 15px;}
.end2014-page .con-para01 dd p{float:left;width:49%;margin-bottom:8px;}
.end2014-page .con-para01 dd a{display:inline-block;padding-left:11px;background:url(../bg_dotted_6x6.png) 0 6px no-repeat;font-weight:600;font-size:15px;line-height:20px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#333;}
.end2014-page .con-para01 .tit01{background-position:0 0;}
.end2014-page .con-para01 .tit02{background-position:-167px 0px;}
.end2014-page .con-para01 .tit03{background-position:-334px 0px;}
.end2014-page .con-para01 .tit04{background-position:-501px 0px;}
.end2014-page .con-para01 .tit05{background-position:-678px 0px;}
.end2014-page .con-para01 .stit{display:block;float:left;width:100%;margin-bottom:10px;font-weight:800;font-size:20px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#999;letter-spacing:-1px;}
.end2014-page .con-para01 .stit a{padding-left:0;background:none;font-weight:800;font-size:20px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#999;letter-spacing:-1px;}
.end2014-page .con-para01 .stit a:hover{color:#333;text-decoration:none;}
.end2014-page .con-para01 .stit .more{margin-left:12px;background:none;font-size:12px;font-family:Dotum, sans-serif;color:#989898;}

/* 신년특집 2014-12-18 */
.new2015-page{}
.new2015-page .settle-14end{margin-top:30px;}

.title-15new{width:270px;height:45px;background:url(../bg_box_round_2015new.png) 0 0 no-repeat;font-weight:700;font-size:20px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;line-height:45px;color:#fff;text-align:center;}

.list-15new-wrap{padding-top:10px;border-top:1px dashed #cfcfcf;}
.list-15new-zone{}
.list-15new-zone .list{overflow:hidden;position:relative;width:976px;height:298px;/* border-top:1px solid #d0d0d0; */}
.list-15new-zone .list li{overflow:hidden;position:relative;float:left;width:194px;height:149px;/* border-bottom:1px solid rgba(0,0,0,0.3);border-left:1px solid rgba(0,0,0,0.3); */}
.list-15new-zone .list li a{display:block;width:194px;height:149px;font-size:16px;line-height:20px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;text-align:center;vertical-align:middle;background:url(../bg_alpha01.png) 0 0 repeat-y;}
.list-15new-zone .list li a:hover{text-decoration:none;}

.list-15new-zone .tit{position:absolute;left:10px;top:10px;display:block;width:76px;padding:4px 0;-moz-border-radius:20px;-webkit-border-radius:20px;-ms-border-radius:20px;border-radius:20px;border:1px solid rgba(255,255,255,0.4);z-index:20;}
.list-15new-zone .txt{display:block;position:absolute;left:0;top:0;padding:50px 10px 010px;z-index:20;}
.list-15new-zone .thumb{position:absolute;left:0;top:150px;width:194px;height:149px;}
.list-15new-zone .thumb img{width:100%;height:100%;}
.list-15new-zone .mask{display:block;position:absolute;width:194px;height:149px;background:url(../bg_alpha_000_50.png) 0 0 repeat;}

.list-15new-zone .list li a:hover .thumb,
.list-15new-zone .list .auto .thumb{top:0;}

.msie7 .list-14new-zone .tit,
.msie8 .list-14new-zone .tit{height:30px;background:url(../bg_box_round_75x30.png) 0 0 no-repeat;}

.list-15new-zone .gd01{background: rgb(2,136,199); /* Old browsers */
background-color: -moz-linear-gradient(top,  rgba(2,136,199,1) 0%, rgba(0,111,183,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,136,199,1)), color-stop(100%,rgba(0,111,183,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(2,136,199,1) 0%,rgba(0,111,183,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(2,136,199,1) 0%,rgba(0,111,183,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(2,136,199,1) 0%,rgba(0,111,183,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(2,136,199,1) 0%,rgba(0,111,183,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0288c7', endColorstr='#006fb7',GradientType=0 ); /* IE6-8 */}
.list-15new-zone .gd02{background: rgb(65,156,209); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(65,156,209,1) 0%, rgba(38,133,199,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,156,209,1)), color-stop(100%,rgba(38,133,199,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(65,156,209,1) 0%,rgba(38,133,199,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(65,156,209,1) 0%,rgba(38,133,199,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(65,156,209,1) 0%,rgba(38,133,199,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(65,156,209,1) 0%,rgba(38,133,199,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#419cd1', endColorstr='#2685c7',GradientType=0 ); /* IE6-9 */}
.list-15new-zone .gd03{
background: rgb(115,179,220); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(115,179,220,1) 0%, rgba(76,155,210,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(115,179,220,1)), color-stop(100%,rgba(76,155,210,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(115,179,220,1) 0%,rgba(76,155,210,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(115,179,220,1) 0%,rgba(76,155,210,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(115,179,220,1) 0%,rgba(76,155,210,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(115,179,220,1) 0%,rgba(76,155,210,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b3dc', endColorstr='#4c9bd2',GradientType=0 ); /* IE6-9 */}
.list-15new-zone .gd04{background: rgb(125,176,209); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,176,209,1) 0%, rgba(89,153,196,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,176,209,1)), color-stop(100%,rgba(89,153,196,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,176,209,1) 0%,rgba(89,153,196,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,176,209,1) 0%,rgba(89,153,196,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,176,209,1) 0%,rgba(89,153,196,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,176,209,1) 0%,rgba(89,153,196,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db0d1', endColorstr='#5999c4',GradientType=0 ); /* IE6-9 */}
.list-15new-zone .gd05{background: rgb(139,172,194); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(139,172,194,1) 0%, rgba(107,148,177,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,172,194,1)), color-stop(100%,rgba(107,148,177,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(139,172,194,1) 0%,rgba(107,148,177,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(139,172,194,1) 0%,rgba(107,148,177,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(139,172,194,1) 0%,rgba(107,148,177,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(139,172,194,1) 0%,rgba(107,148,177,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bacc2', endColorstr='#6b94b1',GradientType=0 ); /* IE6-9 */}

/* 공적강화 2015-02-04 */
.public-page{}
.public-page .contents{padding-bottom:0;}
.public-page .wide-content{padding-bottom:30px;}

.public-page .title-page-public{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
.public-page .tit-section{width:165px;height:57px;padding-left:35px;background:url(../bg_public_title.png) 0 0 no-repeat;font-size:30px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;}
.public-zone .tit-section a{font-size:30px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#fff;}
.public-zone .tit-section a:hover{text-decoration:none;}
.public-page .tit-type01{background-position:0 0;}
.public-page .tit-type02{background-position:0 -77px;}
.public-page .tit-type03{background-position:0 -154px;}
.public-page .tit-type04{background-position:0 -231px;}
.public-page .tit-type05{background-position:0 -308px;}

.public-zone{overflow:hidden;padding-top:44px;}
.public-zone>li{position:relative;float:left;margin:0 0 40px 11px;width:290px;min-height:296px;padding:0 3px 15px 1px;background:url(../bg_round_public0103.gif) 0 100% repeat-y;}
.public-zone>li:first-child{margin-left:6px !important;}
.public-zone>li .inner{width:294px;margin: 0 -3px 0 -1px;background:url(../bg_round_public0103.gif) 0 0 repeat-y;}
.public-zone>li .more{position:absolute;left:0px;bottom:0px;width:255px;margin:12px 19px 0;padding:14px 0px 16px;text-align:right;}

.public-zone>li.box01{width:471px;min-height:296px;margin-left:20px;padding:0 3px 15px 1px;background:url(../bg_round_public0101.gif) 0 100% repeat-y;}
.public-zone>li.box01 .inner{width:475px;margin: 0 -3px 0 -1px;background:url(../bg_round_public0101.gif) 0 0 repeat-y;}
.public-zone>li.box01 .more{width:433px;}
.public-zone>li.box02{width:350px;min-height:296px;margin-left:11px;padding:0 3px 15px 1px;background:url(../bg_round_public0104.gif) 0 100% repeat-y;}
.public-zone>li.box02 .inner{width:354px;margin: 0 -3px 0 -1px;background:url(../bg_round_public0104.gif) 0 0 repeat-y;}
.public-zone>li.box02 .more{width:313px;}

.public-zone li .img{margin-left:1px;}
.public-zone li .tit-section{position:absolute;left:-6px;top:210px;}
.public-zone li .con{margin:47px 10px 0;}
.public-zone li .con>a{display:block;}
.public-zone li .con>a:hover{text-decoration:none;}
.public-zone li .con>a:hover .tit-news,
.public-zone li .con>a:hover p{color:#6c94e5;text-decoration:underline;}
.public-zone li .con .tit-news{margin-bottom:8px;font-size:20px;line-height:130%;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#333;letter-spacing:-1px;}
.public-zone li .con p{overflow:hidden;height:34px;font-size:14px;line-height:120%;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#333;}
.public-zone li .list{overflow:hidden;text-align:center;}
.public-zone li .list li{display:inline;margin:0 0 9px 11px;padding-left:13px;background:url(../bg_dot_6x6_999.gif) 0 50% no-repeat;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#333;}
.public-zone li .list li:first-child{margin-left:3px;padding-left:0;background:none;}
.public-zone li .list li a{font-size:13px;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#333;letter-spacing:-1px;}
.public-zone li .list .tit{display:inline-block;width:55px;}
.public-zone li .more a{display:inline-block;padding:4px 0 4px 23px;background:url(../bg_eyes01.gif) 0 50% no-repeat;}

.public-zone .foreign{}
.public-zone .foreign .img{cursor:default;}

.public-zone .section-topnews01{float:none;width:auto;padding:0;}
.public-zone .section-topnews01 .tit{display:block;margin-bottom:8px;font-size:20px;line-height:130%;font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;color:#333;letter-spacing:-1px;}
.public-zone .section-topnews01 .tit a{font-size:20px;color:#333;vertical-align:top;line-height:130%;}
.public-zone .section-topnews01 .tit a:hover{color:#6c94e5;text-decoration:underline;}
.public-zone .section-topnews01 .lead{}
.public-zone .section-topnews01 .lead a{line-height:120%;color:#333;}
.public-zone .section-topnews01 .lead a:hover{color:#6c94e5;text-decoration:underline;}

.public-zone .section-topnews01 .tit-sub,
.public-zone .section-topnews01 .poto,
.public-zone .section-topnews01 .h-related{display:none;}

/* 송년특집 슬라이드 type01 2015-12-01 // */
.major-end-type01{font-family:'NanumBarunGothic','맑은고딕',Malgun Gothic,sans-serif;}
.major-end-type01 .navi-zone {overflow:hidden;border-top:1px solid #ddd;}
.major-end-type01 .navi-zone a{display:block;float:left;width:108px;padding:12px 0 14px;font-size:14px;color:#4a4a4a;text-align:center;border-left:1px solid #ddd;}
.major-end-type01 .navi-zone a:first-child{border-left:0;width:102px;}
.major-end-type01 .navi-zone a.selected{color:#fff;background:#274ec9;}
.major-end-type01 .btn-type01{overflow:hidden;position:absolute;top:50%;width:67px;height:67px;margin-top:-34px;z-index:30;text-indent:-5000px;background:url(../../00_ko/home/2015/2015_end_sprites.png) no-repeat 0 0}
.major-end-type01 .m-prev{left:0;background-position:0 -235px;}
.major-end-type01 .m-next{right:0;background-position:-80px -235px;}
.major-end-type01 .move-zone{overflow:hidden;position:relative;height:400px;}
.major-end-type01 .move-zone ul{overflow:hidden;}
.major-end-type01 .move-zone ul li{overflow:hidden;float:left}
.major-end-type01 .move-zone ul li a{display:block;position:relative;}
.major-end-type01 .move-zone ul li a.half{width:489px;float:left;}
.major-end-type01 .move-zone ul li .tit-con{position:absolute;left:50%;top:50%;width:237px;height:58px;margin:-30px 0 0 -118px;border:2px solid #fff;text-align:center;}
.major-end-type01 .move-zone ul li .tit-con strong{position:relative;display:inline-block;padding-right:31px;line-height:58px;color:#fff;font-size:1.5em;font-weight:normal;background:url(../../00_ko/home/2015/2015_end_sprites.png) no-repeat 100% -339px;z-index:1;}
.major-end-type01 .move-zone ul li .tit-con span{position:absolute;left:0;top:0;width:100%;height:100%;
background:#86b9e8;background:rgba(134, 185, 232, .8)}
.major-end-type01 .move-zone ul li .news-con{position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(../../00_ko/home/2015/bg_end_newscon_type01.png) repeat-x 0 100%;}
.major-end-type01 .move-zone ul li .news-con .txt{position:absolute;left:0;bottom:0;padding:16px 60px;color:#fff;text-align:center;}
.major-end-type01 .move-zone ul li .news-con .txt .tit{display:block;padding-bottom:10px;font-size:1.2em}
.major-end-type01 .move-zone ul li .img-con{display:inline-block;}

/* 2015 송년특집 2015-12-01// */
.year-end-zone2015.year-end-zone .tit-con .tit{color:#000}
.year-end-zone2015 .tab-con .scroll-txt{overflow-y:scroll;height:220px;margin-bottom:25px;}
.year-end-zone2015.year-end-zone .tab-txt,
.year-end-zone2015.year-end-zone .tit-con .con-txt{font-family:'돋움',Dotum,Gulim,sans-serif;font-size:.85em;color:#666;}
.year-end-zone2015.year-end-zone .tab-txt{letter-spacing:0;}
.year-end-zone2015{overflow:hidden;background:url(../../00_ko/home/2015/2015_end_bg.gif) repeat-x 0 0}
.tit-2015end-year h2{overflow:hidden;display:block;width:329px;height:63px;padding:0;margin:40px auto 30px;text-indent:-5000px;}
.tit-2015end-year.type01 h2{background:url(../../00_ko/home/2015/2015_end_sprites.png) no-repeat 0 -680px;}
.tit-2015end-year.type02 h2{width:349px;background:url(../../00_ko/home/2015/2015_end_sprites.png) no-repeat 0 -880px;}
.back-end-year01{overflow:hidden;padding-top:13px;}
.back-end-year01 em{display:block;width:30px;height:14px;float:left;background:url(../../00_ko/home/2015/2015_end_sprites.png) no-repeat 0 0}
.back-end-year01 a{display:block;float:left;font-size:12px;line-height:14px;font-family:'돋움',Dotum,Gulim,sans-serif;color:#999;}
/* 리스트 */
.wrap-end-list{padding:40px 50px 15px;}
.wrap-end-list .title-page-15end{overflow:hidden;text-indent:-5000px;width:141px;height:30px;background:url(../../00_ko/home/2015/2015_end_sprites.png) no-repeat;background-position:0 -800px;}
.wrap-end-list dl{overflow:hidden;min-height:63px;padding:30px 0 0;border-top:1px solid #e9e9e9}
.wrap-end-list dl:first-child{border-top:0;}
.wrap-end-list dl dt{width:123px;float:left;padding:8px 0 10px;border:3px solid #86b9e8;color:#5c5c5c;font-weight:bold;font-size:1.417em;text-align:center;}
.wrap-end-list dl dt span{display:block;}
.wrap-end-list dl dd{width:728px;float:right;margin-bottom:25px;font-size:1.250em;}
.wrap-end-list dl dd strong{margin-left:20px;margin-bottom:5px;font-weight:800}
.wrap-end-list dl dd .wrap-article{overflow:hidden;margin-top:3px}
.wrap-end-list dl dd p{width:330px;float:left;margin-left:20px;margin-top:2px;padding-left:14px;background:url(../../00_ko/home/2015/2015_end_sprites.png) no-repeat 0 -592px;}
.wrap-end-list dl dd p a{color:#646464;}
.wrap-end-list .con-para01{}
.wrap-end-list .con-para02 dd p{width:206px;}
.wrap-end-list dd.con-para02 p{width:206px;}
/* 10대뉴스 */
.year-end-zone2015.year-end-zone .tab-head a{background:#fff;border:1px solid #274ec9}
.year-end-zone2015.year-end-zone .tab-head a.on{background:#274ec9}
.year-end-zone2015.year-end-zone .tab-head a{position:relative;}
.year-end-zone2015.year-end-zone .tab-head a.hover span{color:#fff;}
.year-end-zone2015.year-end-zone .tab-head a span{position:absolute;width:100%;height:27px;left:0;top:0;text-align:center;z-index:1;}
.year-end-zone2015.year-end-zone .tab-head a em{overflow:hidden;position:absolute;height:37px;width:0;left:0;top:0;background:#274ec9}
.common-layer.year-layer-type02 .layer-body{top:150px;width:815px;}
.common-layer.year-layer-type02 .layer-body .close-layer{width:70px;height:70px;width:54px;height:54px;background:url(../../00_ko/home/btn_close_54_54.png) no-repeat 0 0;z-index:999;}
.common-layer.year-layer-type02 .layer-tit{display:block;padding:20px 0 35px;font-size:1.9em;line-height:1.5;color:#333;text-align:center;}
.common-layer.year-layer-type02 .layer-txt{padding:30px 0 0;}
.common-layer.year-layer-type02 .img-con img{width:100%;}

/* 2016 신년특집 2015-12-21 */
.new2016-page {}
.new2016-page .visual-top{position:relative;width:100%;height:400px;background:url(../../00_ko/home/2015/img_2016new_0201.jpg) 50% 50% no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
.new2016-page .visual-top .back-end-year01{margin-left:28px;}
.new2016-page .visual-top .back-end-year01 em{background:url(../../00_ko/home/2015/2015_end_sprites.png) -106px 0 no-repeat;}
.new2016-page .visual-top .back-end-year01 a{color:#fff;}
.new2016-page .visual-top .desc{margin-top:228px;text-align:center;}
.new2016-page .visual-top .desc p{font-size:12px;font-family:'맑은고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,sans-serif;color:#fff;}

.new2016-page .title-con{position:absolute;left:50%;top:50%;width:237px;height:58px;margin:-30px 0 0 -118px;background:#86b9e8;border:2px solid #fff;background:rgba(134, 185, 232, .8);text-align:center;}
.new2016-page .title-con .tit{font-weight:normal;font-size:1.5em;line-height:58px;color:#fff;}
.new2016-page .wrap-end-list{}
.new2016-page .wrap-end-list dl{padding:40px 0 0;}
.new2016-page .wrap-end-list dl dd{margin-bottom:40px;}

/* 87년체제 30년 2016-10-24 */
.page-demo87{} /* 리스트 */
.page-demo87 .section-top-zone02{border-bottom:none;}
.visual-democracy87{position:relative;width:100%;height:193px;margin:0;padding:0;}
.visual-democracy87 .con{position:absolute;top:0;left:0;width:100%;height:193px;z-index:20;}
.visual-democracy87 .con p{padding:0 50px;font-size:14px;line-height:22px;font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,sans-serif;color:#fff;
text-shadow:1px 1px 1px rgba(0,0,0,0.2);}
.visual-democracy87 .tit{margin:43px 0 20px 285px;}
.visual-democracy87 .slides{position:absolute;width:976px;height:193px;margin:0;padding:0;z-index:10;}
.visual-democracy87 .slides ul{overflow:hidden;width:976px;height:193px;}
.visual-democracy87 .slides ul li{float:left;}
.visual-democracy87 .slides img{width:976px;height:193px;}



/******************** 팝업 ********************/
/* 인물정보앱 */
.layer-popup01{}
.layer-popup01 .layer-container{position:absolute;top:252px;left:50%;width:400px;margin-left:-200px;z-index:1003;background:#fff;}
.layer-popup01 .pop-content{}
.layer-popup01 .btn-close{position:absolute;bottom:7px;right:19px;z-index:1004;width:21px;height:21px;background:url(../btn_popup_close.gif) 0 0 no-repeat;cursor:pointer;border:none;text-indent:-500px;overflow:hidden;}
.layer-popup01 .check-wrap{display:block;margin:6px 0 9px 14px;}

/* 서비스 만족도 조사 2014-11-05 */
/* .layer-popup02{}
.layer-popup02 .layer-container{position:absolute;top:44px;left:50%;width:360px;margin-left:-487px;z-index:9999;background:#fff;cursor:move;}
.layer-popup02 .pop-content{width:360px;height:479px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/popup/pop_report20141105_01.jpg) 0 0 no-repeat;}
.layer-popup02 .btn-go{display:block;position:absolute;left:104px;bottom:32px;width:151px;height:39px;}
.layer-popup02 .btn-close{width:43px;height:22px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/popup/btn_close01.gif) 0 0 no-repeat;cursor:pointer;border:none;text-indent:-500px;overflow:hidden;}
.layer-popup02 .pop-footer{background:#98c0dd;text-align:center;}
.layer-popup02 .check-wrap{display:inline-block;margin:6px 0 6px 14px;cursor:pointer;}
.layer-popup02 .check-wrap label{margin-left:-5px;font-size:11px;color:#464646;} */

/* 서비스 만족도 조사 2015-11-10 */
/* .layer-popup03{}
.layer-popup03 .layer-container{position:absolute;top:172px;left:50%;width:336px;margin-left:150px;z-index:9999;border:1px solid #666;background:#fff;cursor:move;}
.layer-popup03 .pop-content{width:336px;height:406px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/popup/2015/pop_report01.jpg) 0 0 no-repeat;}
.layer-popup03 .btn-go{display:block;position:absolute;left:112px;bottom:32px;width:111px;height:39px;cursor:pointer;}
.layer-popup03 .pop-footer{overflow:hidden;height:22px;background:#98c0dd;text-align:left;}
.layer-popup03 .check-wrap{display:inline-block;float:left;margin:0 0 6px 3px;cursor:pointer;}
.layer-popup03 .check-wrap label{display:inline-block;margin:0 0 0 -3px;font-size:11px;font-family:'돋움',Dotum,Gulim,sans-serif;color:#464646;}
.layer-popup03 .btn-close{float:right;width:43px;height:22px;margin:0;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/popup/btn_close01.gif) 0 0 no-repeat;cursor:pointer;border:none;text-indent:-500px;overflow:hidden;} */

/* 블로그 서비스 종료 2016-09-09 */
.layer-popup04{}
.layer-popup04 .layer-container{position:absolute;top:172px;left:50%;width:400px;margin-left:88px;z-index:9999;background:#5399a5;cursor:move;}
.layer-popup04 .pop-content{width:400px;height:422px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/popup/2016/pop_blog_end2016_01.jpg) 0 0 no-repeat;}
.layer-popup04 .pop-content p{margin-left:25px;font:16px/28px 'NanumBarunGothic','돋움',Dotum,sans-serif;color:#000;letter-spacing:0;}
.layer-popup04 .pop-content p strong{font-weight:normal;color:#fff;text-decoration:underline;}
.layer-popup04 .pop-content .txt01{padding-top:240px;}
.layer-popup04 .pop-content .txt02{padding-top:20px;}

.layer-popup04 .btn-go{display:block;position:absolute;left:112px;bottom:32px;width:111px;height:39px;cursor:pointer;}
.layer-popup04 .pop-footer{overflow:hidden;height:38px;background:#000;text-align:left;}
.layer-popup04 .check-wrap{display:inline-block;float:left;margin:0 0 0 10px;cursor:pointer;}
.layer-popup04 .check-wrap label{display:inline-block;margin:0 0 0 3px;font-size:14px;line-height:38px;font-family:'NanumBarunGothic','돋움',Dotum,Gulim,sans-serif;color:#fff;}
.layer-popup04 .btn-close{overflow:hidden;float:right;width:40px;margin:0;padding:0;border:none;font-size:14px;line-height:38px;font-family:'NanumBarunGothic','돋움',Dotum,Gulim,sans-serif;color:#fff;text-align:center;cursor:pointer;}

/* 서비스 만족도 조사 2016-11-09 */
.layer-popup05{}
.layer-popup05 .layer-container{position:absolute;top:172px;left:50%;width:376px;margin-left:189px;z-index:9999;border:1px solid #959595;background:#f0f8ff;cursor:move;}
.layer-popup05 .pop-content{width:376px;height:454px;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/popup/2016/pop_report2016_01.jpg) 0 0 no-repeat;}
.layer-popup05 .btn-go{display:block;position:absolute;left:59px;bottom:56px;width:258px;height:39px;cursor:pointer;}
.layer-popup05 .btn-go span{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
.layer-popup05 .pop-footer{overflow:hidden;height:34px;border-top:1px solid #959595;background:#fff;text-align:left;}
.layer-popup05 .check-wrap{display:inline-block;float:left;margin:0 0 0 10px;cursor:pointer;}
.layer-popup05 .check-wrap label{display:inline-block;margin:0 0 0 3px;font-size:12px;line-height:38px;font-family:'돋움',Dotum,Gulim,sans-serif;color:#777;}
.layer-popup05 .btn-close{overflow:hidden;float:right;width:40px;margin:0;padding:0;border:none;font-size:12px;line-height:38px;font-family:'돋움',Dotum,Gulim,sans-serif;color:#777;text-align:center;cursor:pointer;}

/* 공통 레이어 팝업 */
.modal_window{z-index:1000;}
.common-layer{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:url(http://img.yonhapnews.co.kr/basic/svc/00_ko/home/bg_000_80p.png) repeat 0 0;z-index:1001}
.common-layer .layer-body{position:relative;margin:0 auto;padding:30px;background:#fff;font-size:1.083em;line-height:1.8}
.common-layer .layer-body .close-layer{overflow:hidden;display:block;position:absolute;right:30px;top:30px;margin:0;padding:0;text-indent:-5000px;}
/* 공통 레이어 팝업 */