/*общее*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, select
{margin:0;  padding:0; border:0; outline:0; font-size:100%; list-style-type: none;  font-family: Tahoma, verdana, sans-serif; color: #a8a8a8; }

body {background: url(/Banners/5volna7.jpg) 50% 0 no-repeat #000;}
a img { border: 0 none; }

input, textarea {margin:0; padding:0 0 0 3px}
h1{font-size:16px; text-shadow: 1px 1px rgb(0, 0, 0); color: rgb(201, 201, 201);}
h2{font-size:15px; text-shadow: 1px 1px rgb(0, 0, 0);}
h2 a {  text-decoration:none}
h3{font-size:14px;  text-shadow: 1px 1px rgb(0, 0, 0);}
p {padding:0 0 12px 0;}
a {color:#e0dfdc; text-decoration:underline;}
a:hover {color:#DD4B39;}
input, textarea, select {background-color: rgb(162, 162, 162);color: #000;}

.wrapper { margin: 0 auto; width: 976px;  position: relative; padding-top: 440px; padding-bottom: 40px;font-size: 13px;}

section  {width:100%;  margin:0;  padding:0; }
iframe {width:100%;  margin:0;  padding:0; }

.zagolovki {font-size:17px; text-shadow: 1px 1px rgb(0, 0, 0); weight:bold;}

.header_black {
width: 100%;
box-shadow: 0 0 5px black;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
top: 0;
right: 0;
left: 0;
z-index: 999;
height: 33px;
border-bottom: 1px solid #000;
background: rgb(0, 0, 0);}

.izbrannoe {
float: right;
position: absolute;
right: -8px;
top: -6px;
z-index: 4;}

.izbrannoe  a:hover img {opacity: 0.7;}

.header_bg {
background: #2b2b2b;
width: 100%;
box-shadow: 0 0 5px black;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 999;
height: 45px;}

.header44 {
width: 100%;
overflow: auto;
margin-top: -40px;}

.header44 .main_menu {
padding-top:14px;
float: left;}

.header44 .social {
padding-top:10px;
float: left;
margin-left: -7px;}

.header44 .social a {opacity: 0.8;}
.header44 .social a:hover{opacity:1;}
.header44 .main_menu a {margin-right: 20px;}

.header44 .user_panel {
float: right;
padding-top: 10px;
font-size: 13px;
text-align: right;
height: 22px;}

.header44 .search_panel {
float: right;
width: 210px;
margin-top: 14px;
padding-left: 10px;
height: 22px;}

.header44 .search_panel input {
width: 170px;
height: 22px;
border: 1px solid #6B6B6B;
-webkit-box-shadow: 0 2px 4px #666 inset;
box-shadow: 0 2px 4px #414141 inset;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: #B6B6B6;
background-color: #505050;}

.header44 .user_panel input {
height: 22px;
border: 1px solid rgb(107, 107, 107);
-webkit-box-shadow: 0 2px 4px rgb(102, 102, 102) inset;
box-shadow: 0 2px 4px rgb(65, 65, 65) inset;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: rgb(182, 182, 182);
background-color: rgb(80, 80, 80);}

.header44 .body33 {
width: 976px; 
margin: 0 auto;
text-align: left;
border: 0px solid red;}

/*структура*/
.contener {background-color:#585858; border-radius: 10px; overflow: auto;border: 1px solid rgb(14, 14, 14);}
.contener2 {overflow: hidden; border: 1px solid #848480;border-radius: 10px;
background: #585858 url(../images/bg.png) repeat-y;}
.content { width: 640px; float: right;border-left: 1px solid #000;  background: #2b2b2b;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;}

.rek_top {border-bottom: 1px solid rgb(17, 17, 17);background: #2b2b2b;position: relative;border-left: 1px solid #404040; padding: 7px 8px 6px 8px; text-align: center;}
.leftblok1 {position: relative; width: 156px; float: left;  padding-top: 15px;}
.leftblok2 {position: relative; width: 156px; float: left;  padding-top: 15px;}

.pomoshnik {
background: #2b2b2b;
border-left: 1px solid #404040;
border-top: 1px solid #404040;
clear:both;}

table.menu tr td a, table.menu tr td  input {
display: block;
padding: 0px 20px;
padding-top: 6px;
padding-bottom: 0px;
height: 22px;
background: rgb(63, 63, 63);
color: #666666;
-webkit-border-top-left-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
text-decoration: none;
border-left: 1px solid rgb(0, 0, 0);
border-right: 1px solid rgb(0, 0, 0);
border-top: 1px solid rgb(0, 0, 0);
text-transform: uppercase;
font-size: 13px;
font-weight: bold;
text-shadow: 1px 1px rgb(0, 0, 0);}

table.menu tr td a:hover {background: rgb(29, 29, 29);}
.menu {float:right; border-spacing: 0; }

/*новости*/
.shortstorytitle{padding: 10px 0px 12px 0px; color:#fff;position: relative;}
.shortstory {
border-top: 1px solid #404040;
padding: 5px 20px 10px 20px;
float: left;
background: #2b2b2b;
clear: both;
color: #fff;
position: relative;
border-left: 1px solid #404040;}
.fullstorytitle{padding: 16px 20px 8px 20px; background: #2b2b2b;color:#fff;position: relative;border-top: 1px solid #404040;border-left: 1px solid #404040; height:20px;}
.fullstory {float: left;padding: 5px 20px 10px 20px;background: #2b2b2b;clear: both;color:#fff;position: relative;border-left: 1px solid #404040; border-bottom: 1px solid rgb(17, 17, 17);}
.miniblock { }

.leftblok_contener i {font-size:15px; font-weight:bold; font-style: normal; color: rgb(243, 243, 243); text-shadow: 1px 1px rgb(0, 0, 0);}
.mini {padding-left:20px;}
.poloska {background: #3f413f;border-bottom: 1px solid #848480;height: 1px;width: 100%;margin-bottom: 18px;margin-top: 18px;float: left;clear: both;}
.poloska2{background: #3f413f;border-bottom: 1px solid #848480;height: 1px;width: 100%;margin-bottom: 10px;margin-top: 10px;float: left;clear: both;}
.fullimg img {padding-right:20px; padding-top:3px; padding-bottom:2px; position: relative;}
.fullimg a img:hover {opacity: 0.75;}
.screens {text-align:center;padding-left:2px;}
.screens img {padding-right:4px; padding-top:20px; padding-bottom:0px; width:192px;height: 120px;opacity: 0.75;}
.screens a img:hover {opacity: 1;}
.shortimg img {padding-right:20px; padding-top:3px; position: relative;}
.shortimg a img:hover {opacity: 0.75;}
.podrobnosti_right {float: right;
padding-left: 10px;
padding-bottom: 5px;
padding-right: 25px;}
.podrobnosti_right2 { }
.podrobnee {float: left;padding-right: 3px;}
.podrobnee a {text-decoration:none;}
.icons {border-bottom: 1px solid rgb(17, 17, 17);background: #2b2b2b;overflow: hidden;position: relative; border-left: 1px solid #404040;}
.icons2 {padding: 7px 20px 7px 14px;
background: rgb(36, 36, 36);
color: #fff;
position: relative;
border-left: 1px solid #404040;
border-bottom: 1px solid rgb(17, 17, 17);
border-top: 1px solid #404040;
text-align:center;}

.icons3 {padding: 0px 20px 0px 14px;
background: #2b2b2b;
color: #fff;
position: relative;
border-left: 1px solid #404040;
border-bottom: 1px solid rgb(17, 17, 17);
border-top: 1px solid #404040;
text-align:center;}

.leftblok_contener {overflow: hidden;
display: block;}

.leftblok_contener2 {overflow: auto;
width: 331px;
display: block;
border-top: 1px solid #848480;
padding-bottom: 5px;}

.leftblok_contener3 {overflow: auto;
width: 331px;
display: block;
border-top: 1px solid #848480;}

/*шапка*/
.header {position: absolute; left: 0; top: 0px; height: 90px;}
.leftblok1_header {width: 540px; float: right; font-size: 15px; }
.leftblok1_header_deeper {}
.leftblok1_header_deeper input {width: 260px; border: 1px solid #000;}
.logo_header {float: left; padding-top: 55px;}
.logo_header a:hover img  {opacity: 0.9;}

.loginin {float: left; padding-left:10px;color: #DFDFDF;  font-size: 13px;
padding-top: 5px;}

.loginin a {}
.loginin a:hover {}
.topmenu {height:45px;  width:100%, }
.deepnavigation {padding-left: 15px;padding-top: 144px;}
.menume {padding-top:5px;}

/*кнопочки*/
.fbutton,  span.fbutton  {text-decoration: none;color: rgb(192, 192, 192);padding: 2px 7px 3px 7px;background: rgb(36, 36, 36);border: 1px solid #404040;cursor: pointer;outline: solid 1px #111; }
.fbutton:hover, .fbutton:focus {background-color: rgb(56, 56, 56); }
.fbutton:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}
.fbutton-img,  span.fbutton-img  {text-decoration: none;color: rgb(192, 192, 192);padding: 4px 7px 0px 7px;background: rgb(36, 36, 36);border: 1px solid #404040;cursor: pointer;outline: solid 1px #111; }
.fbutton-img:hover, .fbutton:focus {background-color: rgb(56, 56, 56); }
.fbutton-img:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}
.f_input {border: solid 1px #cfcfcf; height: 18px;}
.f_textarea {border: solid 1px #cfcfcf;}
select {border: solid 1px #cfcfcf; height: 20px;}

.fbutton a {text-decoration: none;}
.fbutton2{text-decoration: none;
color: silver;
height:22px;
padding: 0px 7px 0px 7px;
background: #242424;
border: 1px solid #404040;
cursor: pointer;}
.fbutton2:hover, .fbutton2:focus {background-color: rgb(56, 56, 56)}

span.fbutton3 {text-decoration: none;
color: rgb(104, 104, 104);
padding: 2px 7px 3px 7px;
background: rgb(36, 36, 36);
border: 1px solid rgb(48, 48, 48);
outline: solid 1px rgb(0, 0, 0);}

.fbutton4,  span.fbutton4 {text-decoration: none;color: rgb(192, 192, 192);padding: 2px 4px 3px 4px;background: rgb(36, 36, 36);border: 1px solid #404040;cursor: pointer;}
.fbutton4:hover, .fbutton:focus {background-color: rgb(56, 56, 56); }
.fbutton4:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}

.fbutton5,  span.fbutton5  {text-decoration: none;color: rgb(192, 192, 192);padding: 2px 7px 3px 7px;background: rgb(36, 36, 36);border: 1px solid #404040;cursor: pointer; }
.fbutton5:hover, .fbutton5:focus {background-color: rgb(56, 56, 56); }
.fbutton5:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}

/*пм*/
.pmpmpm {padding: 16px 20px 8px 20px;
background: #2b2b2b;
color: #fff;
border-top: 1px solid #404040;
border-left: 1px solid #404040;}

.pmpmpm2 {
padding: 7px 20px 7px 20px;
color: #fff;
border-top: 1px solid #404040;
border-left: 1px solid #404040;
border-bottom: 1px solid rgb(17, 17, 17)}

.pmpmpm a{color: #000000; text-decoration:underline}

/* цитата, обрамление примеров */
.oformlenie {float: left;
padding: 10px 20px 20px 20px;
background: #2b2b2b;
clear: both;
position: relative;
border-left: 1px solid #404040;
border-top: 1px solid #404040;
color: #a8a8a8;
border-bottom: 1px solid rgb(17, 17, 17);
width: 600px;}

.oformlenie h1 {color: rgb(218, 218, 218);}

.primer {margin: 0 0 0 0;  border: solid 1px #cfcfcf; outline: solid 1px #fff;  padding: 10px;   clear:both;}
.primer a{color: #000000; text-decoration:underline}
.scriptcode, .title_quote, .quote {}
.quote {border: 1px solid #404040;background: rgb(54, 54, 54); padding: 3px 10px 4px 10px; line-height: 150%; overflow: auto;}
.quote li {list-style-type: square;
margin-left: 14px;}
.title_spoiler {
background: rgb(53, 53, 53);	
border-bottom: 1px solid rgb(17, 17, 17);
border-top: 1px solid #404040;
color: #818181;
padding: 2px 10px 5px 20px;
font-weight: bold;
vertical-align: bottom;}

.title_quote{
background: rgb(53, 53, 53);	
border: 1px solid #404040;
border-bottom: 1px solid rgb(17, 17, 17);
border-top: 1px solid #404040;
color: #818181;
padding: 2px 10px 5px 20px;
font-weight: bold;
vertical-align: bottom;}

.title_quote {padding: 2px 10px 2px 10px; font-weight: bold; }
.title_spoiler {}
.text_spoiler {background: rgb(0, 0, 0);  }
.scriptcode { color: #004e8d; text-align: left; font-family: "Courier New"; }
.hide { background-color: #e8f3fa; padding: 5px; color: #3a78a5; margin: 0 0 1em; }
.hide a { text-decoration: underline; } 
.hide a:hover { text-decoration: none }
.inhide { border: 1px solid #d1e3ef; padding: 5px; background-color: #fff; margin-bottom: 5px; }

/*иконки*/
.viewsicon {background: url(../images/222.png) no-repeat 0px 2px;padding-left:20px;float:left;margin-right:13px;}
.categoryicon {background: url(../images/222.png) no-repeat 0 3px;padding-left:17px;float:left;margin-right:13px;}
.categoryicon a  {color: #A0A5A8;}
.categoryicon a:hover {color: #DD4B39;}
.avtoricon {background: url(../images/222.png) no-repeat 0px 1px;padding-left:16px;float:left;margin-right:16px;}
.avtoricon a  {color: #A0A5A8;}
.avtoricon a:hover {color: #DD4B39;}
.dateicon {background: url(../images/icon_3.png) no-repeat 0px 2px;padding-left:17px;float:left;}
.favoriticon img {margin-bottom: 2px; padding: 0 0 0 0; vertical-align: top;}
.alerticon img {margin-bottom: 0px; padding:  0 0 0 11px;}
.editicon {font-size: 13px;}
.editicon img {margin-bottom: 0px; padding: 0 0 0 12px;}

/* навигация по страницам */
.bot-navigation {clear:both; font-size: 12px; padding: 15px 20px ;border-top: 1px solid #404040;color:#fff;position: relative;  height: 15px;}

.bot-left {border-left: 1px solid #404040;}

.bot-navigation a:link, .bot-navigation a:visited  {text-decoration: none;
border: 1px solid rgb(77, 76, 76);
padding: 3px 6px;
background: rgb(36, 36, 36);
color: rgb(126, 125, 125);}

.bot-navigation a:hover  {background-color: rgb(80, 80, 80);
color: rgb(163, 163, 163);
border: 1px solid rgb(155, 155, 155);}
.bot-navigation a:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}

.bot-navigation b {font-size: 12px; background: #2b2b2b; padding: 3px 6px; color: rgb(70, 70, 70); border: 1px solid rgb(61, 61, 61);}

/* опрос */
.vtitle {color: #838383;}
.titlevot {padding:10px 0; font-weight:bold;color: #5C5C5C;}
.vote {color: #424242;}

.dvdrip {
color: #e0dfdc;
display: block;
height: 20px;
padding: 1px 8px 0 8px;
font: bold 12px/19px Arial;
color: #a8a8a8;
text-decoration: none;
border: 1px solid #404040;
outline: solid 1px rgb(17, 17, 17);
margin-top: -3px;
margin-left: -4px;	
background: rgb(36, 36, 36) ;}

.favvv {
color: #e0dfdc;
display: block;
height: 20px;
padding: 1px 4px 0 4px;
font: bold 12px/19px Arial;
color: #a8a8a8;
text-decoration: none;
border: 1px solid #404040;
outline: solid 1px rgb(17, 17, 17);
margin-top: -3px;
margin-left: -4px;	
background: rgb(36, 36, 36) ;
width: 15px;}

span.ogranichenieplus {text-decoration: none;border: solid 2px rgb(150, 74, 74);color: rgb(150, 74, 74);padding: 6px 7px 7px 7px;background: rgb(243, 223, 223);-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;font-weight: bold;}
span.rsss {text-decoration: none;
border: solid 2px rgb(185, 74, 0);
color: rgb(185, 74, 0);
padding: 6px 7px 7px 7px;
background: rgb(248, 230, 218);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-weight: bold;}

a span.dniwe {opacity: 0.3; text-decoration:none}
a:hover span.dniwe {opacity: 1;}
a:active span.dniwe {opacity: 1;}

/* carousel */
.horizontal {margin: 0 auto; height: 180px; background-color: #585858;
border-radius: 10px 0px 10px 10px;
overflow: auto;
border: 1px solid #848480;
padding-top: 10px;padding-bottom: 10px;} 

.horizontal2 {border: 1px solid rgb(14, 14, 14);border-radius: 10px 0px 10px 10px;  width: 974px;}

.horizontal .carousel {height: 174px; margin: 0 auto; position: relative; }
/* 3x220 + 3x1px margin */
.horizontal .carousel_container {height: 184px; margin: 0 auto; overflow: hidden; padding: 0 5px 0 5px; position: relative; }
.horizontal ul { height: 177px;  width: 970px;}
.horizontal ul li { width: 124px; height: 183px; display: block; float: left; margin-right: 7px; margin-left: 7px; margin-bottom: 1px; position: relative; }
.horizontal ul li .text_content { padding: 10px; color: #fff; }
.horizontal ul li a { width: 118px; height: 174px; display: block; color: #fff; border: 3px solid rgb(136, 136, 136);}
.horizontal ul li a.normal { width: auto; height: auto; color: #fff; background: none; }
.horizontal ul li a:hover {border: 3px solid #bababa;}
.horizontal ul li .caption { position: absolute; top: 0; left: 0; display: none; }
.carousel_right, .carousel_left { position: absolute; z-index: 900; width: 19px; height: 33px; display: block; text-indent: -9999px; }

.inner {opacity: 0.8}
.inner:hover {opacity: 1}
.inner img {  width: 118px; min-height: 171px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; height:174px;}

.carousel_left { top: 73px; left:12px; background: url(../carusel/prev2_1.png) top left; }
.carousel_right { top: 73px; right:9px; background: url(../carusel/nextv2_1.png) top left; }
.carousel_right:hover, .carousel_left:hover { background-position: bottom left; }

.footer {padding: 15px 0 5px 0; width:100%; margin: 0 auto;}
.footer a { color: rgb(153, 153, 153);}
.footer a:hover {color:#DD4B39;}
.footer-text {padding-bottom:5px; text-align: justify;}
.footer-text p {color: rgb(104, 104, 104);}

.footer-text img {
opacity: 0.7;
float:left;
margin: 8px 20px 8px 0px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px;
overflow: hidden;}

.padding_border {
padding: 20px;
border-left: 1px solid #404040;
border-top: 1px solid #404040;
border-bottom: 1px solid rgb(17, 17, 17);
overflow:auto}

.padding_border_comment {
padding: 20px;
border-left: 1px solid #404040;
overflow: auto;}

.poloska_comment {
background: rgb(17, 17, 17);
border-bottom: 1px solid #404040;
height: 1px;
width: 100%;
float: left;
clear: both;}

ul.ul_related {
display: block; 
list-style: none;
text-align: justify;
overflow: hidden;
padding:20px 20px 5px 20px;
border-left: 1px solid #404040;}
                
.ul_related li {
display: -moz-inline-box;
display: inline-block;
vertical-align:top;
text-align: center;
width: 116px;}
                
.relatednews_title { background: #2b2b2b;
padding: 15px 20px 2px 20px;
border-left: 1px solid #404040;
border-top: 1px solid #404040;}

.relatednews {background: #2b2b2b;}
.ul_related li:hover {opacity: 0.75;}
			
.relatednews_title i {
font-size: 14px;
font-weight: bold;
font-style: normal;
text-shadow: 1px 1px rgb(0, 0, 0);}

.sociallll {float:right;padding-top: 5px; }
	 
.komments	{border-left: 1px solid #404040;border-top: 1px solid #404040; padding: 5px 20px 7px 20px; font-size: 14px;
font-weight: bold;
font-style: normal;
text-shadow: 1px 1px rgb(0, 0, 0);
border-bottom: 1px solid rgb(0, 0, 0);}

.komments2	{border-left: 1px solid #404040;border-top: 1px solid #404040; padding: 5px 20px 7px 20px; } 

.section {background-color: #2b2b2b; border-left: 1px solid #404040;border-top: 1px solid #404040;}
ul.tabs { line-height: 26px; list-style: none; padding: 0px; }
.tabs li {float: left; display: inline;  list-style: none; cursor: pointer;  padding:0 20px;  position: relative;  text-align: center; font-weight: bold;
text-shadow: #000 1px 1px 1px; color: rgb(201, 201, 201); height: 28px; }
.tabs li:hover {padding:0 20px; background:#a8a8a8;color: rgb(1, 1, 1);text-shadow: #fff 1px 1px 1px; }
.tabs li.current { background: rgb(26, 26, 26); padding:0 20px; text-align: center; cursor: default;}
.tabs li.current:hover {padding:0 20px; background: rgb(26, 26, 26); text-shadow: #000 1px 1px 1px; color: rgb(201, 201, 201);}

.edge-left {
float: left;
width: 0;
height: 0;
border-width: 10px;
border-style: solid;			 	 
border-color: rgb(138, 33, 46) rgb(138, 33, 46) rgb(138, 33, 46) rgba(255, 255, 255, 0);
position: relative;}

.cont {
background: rgb(138, 33, 46);
float: left;
color: #fff;
padding-top: 1px;
height: 19px;
padding-right: 7px;}

.edge-left3 {
float: left;
width: 0;
height: 0;
border-width: 10px;
border-style: solid;			 	 
border-color: rgb(79, 24, 100) rgb(79, 24, 100) rgb(79, 24, 100) rgba(79, 24, 100, 0);
position: relative;}

.cont2 {
background: rgb(79, 24, 100);
float: left;
color: #fff;
padding-top: 1px;
height: 19px;
padding-right: 7px;}

.edge-left22 {
float: left;
width: 0;
height: 0;
border-width: 9px;
border-style: solid;			 	 
border-color: #492557 #492557 #492557 rgba(79, 24, 100, 0);
position: relative;}

.cont22 {
background: #492557;
float: left;
color: #fff;
padding-top: 1px;
height: 17px;
padding-right: 7px;}

.lenta {
float: right;
position: absolute;
right: 419px;
top: 322px;
z-index: 2;}

.lenta22 {
float: right;
position: absolute;
right: 21px;
top: 180px;
z-index: 2;
font-size:11px}


.lenta2 {
float: right;
position: absolute;
right: 419px;
top: 288px;
z-index: 1111;}

.lenta3 {
float: right;
position: absolute;
right: 419px;
top: 289px;
z-index: 1111;}

.commennnnty {padding-left: 80px; width: auto;}
.commennnnty a {color:#939393; text-decoration:none;}
.commentimg img {width: 60px;height: 60px;float: left;white-space: pre-wrap;  padding-top: 2px;}
.stronk {text-align:center;padding-top:4px;}

.lastkomment {padding:0px 20px 0 20px; color: rgb(218, 218, 218);}

.lastkomment b a {text-shadow: 1px 1px #292929; text-decoration:none}
#vid {
	overflow:hidden;
padding: 0px 0px 10px 0px;
	text-align:center;
	clear:both;}
#vid #video_wrapper {padding-bottom:0px;}
#vid .tabs_container {
	margin:0 auto;
    padding: 2px 0 0;
	text-align:left;
	white-space:nowrap;
	overflow:auto;
	overflow-y:hidden;}
#vid .seasons.tabs_container {
	padding-bottom:0;}
#vid .series .serieTab.viewed {
	color:#4D535E;}
#vid .serieTab {
	padding:3px 5px;
	margin:0 2px 0px;
	font:8pt arial,sans-serif;
	text-align:center;
	cursor:pointer;
	background:#2B2B2B;
	border:1px solid #000;
	border-color:#4D4E4E black black #414141;
	display:inline-block;
	*display:inline;
	zoom:1;}
#vid .tabs .serieTab.inset {
	color:#999;
	background:#0d0e10;
	border:1px solid #000;
	border-color:#000 #343A41 #343A41 #000;}
#vid .tabs .serieTab:hover {
	color:#DD4B39;
	background:#0d0e10;}
#vid .tabs .serieTab.inset:hover {color:#999;}

.poloska_bloka {border-bottom: 1px solid #848480; border-top: 1px solid #3f413f; position: relative;}
.poloska_bloka_no {border-top: 1px solid #3f413f; position: relative;}
.li_serial img {border: 1px solid #464646; width:133px}
.li_serial img:hover {border: 1px solid #8B8B8B;}
.li_serial a:hover {color:#fff;}
.li_serial {text-align: center;}
.mimiser {border-top: 1px solid #848480; overflow: auto;  padding: 20px 0px 0 20px; margin-bottom: -5px; }

.li_serial {position: relative;
float: left;
display: block;
width: 135px;
padding: 0px 20px 0 0px;
height: 255px;
opacity: 0.8;
color: white;
text-decoration:underline;}

.li_serial:hover {
opacity: 1;}

.li_block img {margin-right: 10px; border: 1px solid #464646; width:83px; }
.li_block img:hover {border: 1px solid #8B8B8B;}

.li_block {text-align: left;}
.mimiserblock {border-top: 1px solid #848480; overflow: auto;  padding: 20px 0px 14px 20px; margin-bottom: -5px; }
.blockstory {font-size:11px;color: white;}

.li_block_title {padding-bottom:4px;}
.li_block_title a {font-weight:bold; text-shadow: 1px 1px #292929; text-decoration:none;}

.li_block {position: relative;
float: left;
display: block;
padding: 0px 20px 10px 0px;}

.mimiserblock_bn {border-top: 1px solid #848480; overflow: auto;  padding: 6px 0px 6px 0px; margin-bottom: -5px; }
.li_block_bn {position: relative;

display: block;
padding: 0px 8px 6px 6px;
text-align: center;
}
.li_block_rmb {position: relative;

display: block;
padding: 6px 16px 7px 16px;
text-align: center;
}
/* Вид комментарий v.2.0
------------------------------------------*/  
.cell_comment_os {
  float:left;
  width:100%;  
  background:#fff;
  border:1px solid #CAD1DB;  
  padding-bottom:3px;
  margin-bottom:15px;}

.comment_p {
  float:right;  
  width:80px;}

.comment_v {margin: 5px 0px 5px 10px;}

.comment_c {
  overflow: hidden;
  text-align:justify;
  margin: 0px 0px 0px 10px;
  padding: 5px 0px;  
  border-top: 1px solid #e7e7e7;}

.comment_n {
  text-align:right;
  margin: 3px 78px 0px 10px;}

.vcc_otvet {overflow:hidden!important; border: 1px solid #eccece; padding: 10px;background:#fcf6f6; }

.comment_avatar {
  width:40px;
  height:40px;
  padding: 4px;  
  margin: 8px 10px 0px 15px;  
  border: 1px solid #CAD1DB;
  background:#F6F6F6;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;}

.red {color: #d20000;}
.gren {color: #429e1e;}
.grey {color: #999;}
.text_9 {font: 9px Verdana,Arial,Helvetica, sans-serif;}
.right {float:right;}

/* pluso-share ----------------*/

.pluso-wrap div {
border: 1px solid #7A7A7A;
background: #444 !important;
border-radius: 1px !important;
height: 20px;
margin-right: 3px;
padding: 1px;}

.pluso-wrap div:hover {background: #7A7A7A !important;}
.pluso-more {display: none !important;}
.pluso-wrap div b {font-size: 14px !important;}