.content_RM{background: #ffffff; color: #343434; font-weight: normal; font-size: 14px;}
.title_RM{height: 34px; padding: 25px 10px 0 20px; position: relative}
.title_RM p{ margin:0;text-transform: uppercase; font-size: 18px; font-weight: bold; float: left;}
.title_RM a{ color: #006fb8; text-transform: uppercase; display: block; position: relative; float: right; padding-right: 30px; line-height: 17px;}
.title_RM a img{position: absolute; right: 0; bottom: -2px}
.title_RM a span{
    text-decoration: underline;
}

.container_box_RM{height: 375px;
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(242,242,242) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,242,242)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(242,242,242) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(242,242,242) 0%,rgb(255,255,255) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(242,242,242) 0%,rgb(255,255,255) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(242,242,242) 0%,rgb(255,255,255) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.box_big_info_RM{width: 313px;background: url(../images/newIB/BG_box_big_info.png)no-repeat -4px 0px; position: relative; float: left;}
div.box_big_info_RM:nth-child(2){background: url(../images/newIB/BG_box_big_info_1.png)no-repeat -4px 0px;}
div.box_big_info_RM:nth-child(3){background: url(../images/newIB/BG_box_big_info_2.png)no-repeat -4px 0px;}
.box_big_info_RM + .box_big_info_RM{margin-left: 20px;}
.box_big_info_RM .info_RM p{text-transform:uppercase;color: #ffffff; font-size: 16px; font-weight: bold; padding: 18px 0 22px 20px; height: 52px; width: 137px; position: relative;line-height: 20px}
.info_RM{margin: 27px 0;width: 214px; height: 96px; background: url(../images/newIB/BG_box_big_info_info.png);}
.info_RM p::after{content: ""; background: url(../images/newIB/after_box_big_info_p.png); width: 5px; height: 51px; position: absolute; left: 0px; top:22px;}
.info_RM p img{position: absolute; top: 36px; right: -33px;}
.info_RM img{position: absolute; top: 34px; right: 13px;}
.box_big_info_RM p{ padding: 10px 20px; height: 70px;}
.box_big_info_RM a{text-decoration: none}

a .box_long_info_title_RM p {
    color: #006fb8;
    font-size: 18px;
    padding: 10px 50px 10px 90px;
}

.box_long_info_RM{width: 465px; float: left; padding-left: 25px; position: relative}
div.box_long_info_RM:nth-child(0)::after{display: none}
.box_long_info_RM::after{content: ""; background: url(../images/newIB/razd_box_long_info.png); width: 1px; height: 69px; position: absolute; right: 0px; top:0px;}
div.box_long_info_RM:last-child{padding-left: 20px; padding-right: 5px;}
div.box_long_info_RM:last-child::after{display: none}
.box_long_info_RM img{float: left;}
.box_long_info_RM a p{ padding: 0 50px 10px 90px; color: #343434;margin: 0;}
.box_long_info_RM a{text-decoration: none;}
a .box_long_info_title_RM p {color: #006fb8; font-size: 18px; padding: 10px 50px 10px 90px;}

div.container_box_RM:last-child{border-top: 5px solid #67bd4a; background: #f2f2f2; border-bottom: 1px solid #c1c1c1; height: 320px;padding-top: 20px}

.box_square_RM{float: left; padding: 20px; width: 275px; position: relative}
.box_square_RM::after{content: ""; background: url(../images/newIB/razd_box_square.png); width: 1px; height: 180px; position: absolute; right: -10px; top:10px;}
div.box_square_RM:last-child::after{display: none}
.box_square_RM+.box_square_RM{margin-left: 17px;}
.box_square_RM img{float: left}
.box_square_RM a{text-decoration: none; display: block}
.box_square_RM>a>.box_square_title_RM p{padding-left: 100px;padding-top: 8px; font-size: 18px; color: #006fb8; display: block; width: 180px; height: 75px;line-height: 22px;margin: 0;font-style: normal}

.box_square_RM:first-child .box_square_title_RM p{
    padding-top: 15px;
}

.box_square_RM:nth-child(2) .box_square_title_RM p{
    padding-top: 15px;
}

.box_square_RM:nth-child(3) .box_square_title_RM p{
    padding-top: 15px;
}

.box_square_RM p{
    font-style: italic;
}



.box_square_RM p{margin-top: 10px; color: #888888;}
.box_square_RM p span{position:relative;display: block; width: 105px; height:32px;float: left; background: #ffffff; font-size: 12px; color: #343434; font-weight: bold; line-height: 32px; padding-left: 32px;font-style: normal}
.box_square_RM p span img{position: absolute; top: 5px; left:5px;}
div.box_square_RM > p:nth-child(5) > span{margin-left: 1px;}

/*2IB*/
.title_block2_RM{ height: 34px; padding: 0 0 0 20px; position: relative;}
.title_block2_RM p{ text-transform: uppercase; font-size: 18px; font-weight: bold; float: left;margin: 0;}
.title_block2_RM a{ color: #006fb8; text-transform: uppercase; display: block; position: relative; float: right; padding-right: 30px; line-height: 17px;}
.title_block2_RM a img{position: absolute; right: 0; bottom:-1px;}
.title_block2_RM a span{text-decoration: underline}

.box_RM{width: 470px; float: left; padding-right: 20px;margin-bottom: 55px;margin-top: 25px}
.box_RM:last-child{margin-top: 0;}

.box_long_info_block2_RM{padding-left: 20px; position: relative}
div.box_long_info_block2_RM:last-child::after{display: none}
.box_long_info_block2_RM img{float: left;}
.box_long_info_block2_RM a p{ padding: 5px 5px 10px 90px; color: #343434;margin: 0;line-height: 18px}
.box_long_info_block2_RM a{text-decoration: none;}
a .box_long_info_title_block2_RM p {color: #006fb8; font-size: 18px; padding: 10px 20px 10px 90px;margin: 0;}


.box_RM a+a{margin-top: 20px}
.box_RM:first-child{
    border-right: 1px solid #d5d5d5;
    width: 469px;
}
.info_block2_RM{ height: 120px; background: url(../images/newIB/BG_box_big_info_info.png);}
.info_block2_RM p{text-transform:uppercase;color: #ffffff; font-size: 16px; font-weight: bold; padding: 22px 20px 22px 20px; line-height: 76px;  position: relative;}
.info_block2_RM p img{position: absolute; top: 48px; right: 20px;}

.box_RM:last-child{padding: 20px 0 0 20px;}
.box_RM:last-child .info_block2_RM:nth-child(1){margin-top: 15px;}

.title_service_portala{ height: 34px; padding: 14px 10px 0 20px; position: relative;}
.title_service_portala > p{ text-transform: uppercase; font-size: 24px;  float: left;margin: 0;font-family: "Calibri-Bold",Arial, sans-serif;color: #006fb8;}
.title_service_portala > a{ color: #006fb8; text-transform: uppercase; display: block; position: relative; float: right; padding-right: 40px; line-height: 22px;}
.title_service_portala > a > img{position: absolute; right: 0; top: 0;}

.box_long_info_service_portala{width: 460px; float: left; position: relative; padding: 15px 10px 15px 10px; min-height: 90px}

.box_long_info_article_service_portala{float: right; width: 390px; padding: 5px 0 0 0}
.box_long_info_title_service_portala{color: #006fb8; font-size: 21px; text-decoration: none;line-height: 18px;font-family: "Calibri-Bold",Arial,sans-serif}
.box_long_info_text_service_portala{padding: 15px 0 0 0; color: #666;font-family: "Calibri",Arial,sans-serif;font-size: 14px}
.top_border{border-top: 1px solid #d2d2d2}

.container_gos_uslugi{padding: 40px 20px;}
.content_RM div.container_gos_uslugi:nth-child(2){padding: 15px 20px}
.box_gos_uslugi{ width: 625px; padding: 0 10px 0 0; float: left}
.box_gos_uslugi img{float: left}

.box_gos_uslugi_title{font-weight: 500; display: table-cell; vertical-align: middle; height: 80px; position: relative; padding: 0 0 0 15px;}
.gos_uslugi_title{font-size: 21px;line-height: 18px;font-family: "Calibri-Bold",Arial,sans-serif;color: #333;}
.gos_uslugi_podpis {font-size: 16px; color: #909090; padding-top: 10px;font-family: "Calibri-Italic",Arial,sans-serif}

.box_gos_uslugi_text{padding: 10px 10px 15px 10px; background: #f2f2f2; margin-top: 5px}
.box_gos_uslugi_text > p{ font-size: 14px;font-family: "Calibri",Arial,sans-serif}
.box_gos_uslugi_text > p > span{font-style: italic}
.box_gos_uslugi_text > p+p{padding-top: 20px}

.box_gos_uslugi_ssilki{width: 275px; padding: 0 0 0 10px; float: right; }
.box_gos_uslugi_ssilki > div{position:relative;}
.box_gos_uslugi_ssilki > div >a{height: 60px; border-top: 1px solid #84c35a; background: #7abe4c; border-bottom: 1px solid #6ca743; display: table-cell; vertical-align: middle; text-decoration: none; color: #ffffff; font-size: 12px; padding: 0 40px 0 10px;font-family: "Calibri",Arial,sans-serif;text-transform: uppercase}
.box_gos_uslugi_ssilki:first-child{border-top: 1px solid transparent;}
.box_gos_uslugi_ssilki > div >a >img{position: absolute; right: 10px; top: 19px;}

.gos_uslugi_time_cost_box{border-top: 1px solid #84c35a;}
.gos_uslugi_time_cost{background: #f2f2f2; position: relative; color: #888888; text-shadow: 0 1px 1px #ffffff; font-size: 12px; padding: 5px 10px; float: left; width: 117px}
.gos_uslugi_time_cost p{float: left; line-height: 25px; padding-left: 5px;margin: 0}
.gos_uslugi_time_cost img{float: left}
.otstup{margin-left: 1px}


.clear{
    clear: both;
}