/* Default selectors for jQueryUI dialog elements */
.ui-dialog {
	position: absolute;
	padding: 10px;
	width: 300px; /* usually overwritten by script */
	background-color: #fff;
}
.ui-dialog .ui-dialog-titlebar {
}
.ui-dialog .ui-dialog-title {
}
.ui-dialog .ui-dialog-titlebar-close { /*done*/
	position: absolute;
	top: 10px;
	right: 10px;
	width: 18px;
	height: 18px;
	background: url(../img/20/branding/sprite.png) no-repeat 0 -2141px;
}
.ui-dialog .ui-dialog-titlebar-close span {
	display: none;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
}
.ui-dialog .ui-dialog-content {
	overflow: hidden;
}


/** =========================================================================
 *                         New Functionality Indicator
 *  ========================================================================= */
.nfi {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 300px;
	min-height: 3em;
	padding: 10px;
	border: 5px solid #fe6400;
	box-shadow: 0 0 5px 1px rgba(80, 80, 80, 0.8);
	z-index: 1000;
}

.nfi .ui-dialog-title {
	display: none;
}
.nfi h3 {
	max-width: 90%;
}
.nfi img {
	display: block;
	margin-bottom: 10px;
}
.nfi-footer {
	padding-top: 10px;
	border-top: 1px dotted #8c8c8c;
}
.nfi-footer .more {
	margin-left: 10px;
}

/* arrow - position set by "pos-"<position given in init object> */
.nfi:before {
	position: absolute;
	width: 0;
	height: 0;
	content: ' ';
	border: 10px solid transparent;
}
.nfi.pos-left:before {
	right: -25px; /* 2 x this 10px border + 5px border of nfi */
	border-left-color: #fe6400;
	top: 50%;
	margin-top: -10px;
}
.nfi.pos-right:before {
	left: -25px; /* 2 x this 10px border + 5px border of nfi */
	border-right-color: #fe6400;
	top: 50%;
	margin-top: -10px;
}
.nfi.pos-top:before {
	bottom: -25px; /* 2 x this 10px border + 5px border of nfi */
	border-top-color: #fe6400;
	left: 50%;
	margin-left: -10px;
}
.nfi.pos-bottom:before {
	top: -25px; /* 2 x this 10px border + 5px border of nfi */
	border-bottom-color: #fe6400;
	left: 50%;
	margin-left: -10px;
}