/* TABLE: invoices */
.invoices .highlightblock p.alert {
	background-image: url(../img/20/icons/check.png);
}
table.invoices {
	width: 100%;
}
table.invoices * {
	box-sizing: border-box;
}
table.invoices th {
	padding: 5px 5px 20px;
	border-left: 1px dotted #999;
	background: url(../img/20/branding/bg-hr.gif) repeat-x 0 23px;
}
table.invoices th:first-child, table.invoices th.pay {
	border-left: none;
}

table.invoices tbody .auction-separator {
	background: url(../img/20/branding/bg-hr.gif) repeat-x 0 0;
}
table.invoices tbody .auction-separator:first-child {
	background: none;
}
table.invoices td {/* create space for the icons (top) */
	padding: 13px 5px 11px 5px;
}
table.invoices td[header="th-pay"] {
	padding-top: 9px;
	padding-bottom: 6px;
}
table.invoices td[header="th-pay"] .inline-tooltip {
	display: inline-block;
	margin-top: 5px;
}
table.invoices .icon { /* pull icons up in created space */
	margin-top: -10px;
}
table.invoices .date {
	width: 120px;
}
table.invoices .nr {
	width: 110px;
}
table.invoices .sum {
	width: 110px;
}
table.invoices .status { /* th */
	width: 110px;
}
table.invoices .status-ok { /* td */
	font-weight: bold;
	color: #3C0;
}
table.invoices .status-nok { /* td */
	font-weight: bold;
	color: #333;
}
table.invoices .pay {
	width: 105px;
}
table.invoices .icon-question {
	cursor: default;
}

tr.invoice-hover td[header="th-date"],
tr.invoice-hover td[header="th-nr"],
tr.invoice-hover td[header="th-sum"],
tr.invoice-hover td[header="th-status"],
tr.invoice-hover td[header="th-pay"] {
	background: url(../img/20/bg/invoice-bg.gif) repeat-x 0 0;
}