/** =========================================================================
 *             Tables and Lists styling
 *  ========================================================================= */



/*
Generic way of displaying an image (left) with textual info (right)
Usually in list/table views, so displayed in this partial
NOTE: This is the default implementation for "overview" image. Change margin-, padding- and
sizes accordingly.

HTML EXAMPLE
<div class="image-and-text overview">
  <img class="img" src="..." />
  <h3>any</h3>
  <p>combination<br />of elements</p>
</div>
*/
.image-and-text { /* defaults to "overview" size */
	padding-left: 66px;
}
.image-and-text .img {
	float:left;
	margin-left: -66px;
}
