/* Reset
-------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
}

body {
    background-color: #fff;
}

:focus {
    outline: 0;
}

/* Typography - Garuda is a verdana substitute for Linux users
-------------------------------------------------------------- */
body {
    font-size: 12px;
    color: #333333;
    line-height: normal;
}

/* was 11px = 68.75% */
/* font must also be set for the form elements in order to work correctly */
body, input, select, textarea {
    font-family: Arial, Helvetica, Garuda, Sans-serif;
    color: #333;
}

/* Default link style
-------------------------------------------------------------- */
a {
    color: #0968AE;
    text-decoration: underline;
}

a:focus, a:hover {
    text-decoration: underline;
}

a:link, a:visited {
    text-decoration: none;
}

a img {
    border: none;
}

a.hover-link {
    color: #333;
    text-decoration: none;
}

a.hover-link:hover, a.hover-link:focus {
    color: #333;
    text-decoration: underline;
}

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    font-size: 1em;
    color: #333;
    font-family: Arial, Verdana, serif;
    font-weight: bold;
}

h1, .h1 {
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: bold;
    color: #f60;
}

h1.home-h1 {
    position: absolute;
    left: -9999px;
}

h2, .h2 {
    padding-bottom: 7px;
    font-size: 17px;
    font-weight: bold;
    color: #f60;
}

.aside-block h2, .aside-block .h2 {
    color: #333;
    padding-bottom: 4px;
}

h3, .h3 {
    padding-bottom: 7px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

h4, .h4 {
    font-size: 12px;
}

h3 a, .h3 a {
    color: #333;
}

/* Paragraph 
-------------------------------------------------------------- */
p {
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
}

p.last {
    padding: 0;
}

p img.left {
    margin: 4px 10px 4px 0;
}

p img.right {
    margin: 4px 0 4px 10px;
}

p.reverse-p {
    padding-top: 10px;
    padding-bottom: 0;
}

pre, code {
    font-size: 10px;
}

/* Table
-------------------------------------------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption, th, td {
    text-align: left;
}

table, td, th {
    vertical-align: top;
}

.cell-padding td {
    padding-top: 6px;
}

/* Lists
-------------------------------------------------------------- */
li ul, li ol {
    padding: 0 0 0 20px;
    font-size: 100%;
}

ul, ol {
    padding: 0 0 15px 20px;
    font-size: 12px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul.no-indent, ol.no-indent {
    padding: 0;
    list-style: none;
}

/* Horizontal rulers 
-------------------------------------------------------------- */
div.hr {
    height: 1px;
    margin: 0 0 5px;
    border-bottom: 1px dotted #999;
}

div.hr-white {
    height: 1px;
    margin: 0 0 5px;
    border-bottom: 1px dotted #fff;
}

.hr hr, .hr-white hr {
    display: none;
}

/* Global Classes 
-------------------------------------------------------------- */
.rte {
    font-size: 12px;
}

.clear {
    clear: both;
}

.clearfix {
    width: auto;
    overflow: auto;
}

/* FF4 fix */
.clearfix-nofocus {
    overflow: visible;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline {
    display: inline;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.fullwidth {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nowrap {
    white-space: nowrap;
}

.noindent {
    margin-left: 0;
    padding-left: 0;
}

.nobullet {
    list-style: none;
    list-style-image: none;
}

html.js .hide {
    display: none;
}

.textbrowser {
    position: absolute;
    left: -9999px;
}

small, .smalltxt {
    font-size: 11px;
}

.overflow-all, .overflow-all * {
    overflow: visible;
}

.clear-overflow-all, .clear-overflow-all * {
    overflow: hidden;
}

table.categories {
    width: 100%;
}

table.categories th {
    padding: 0;
    vertical-align: top;
}

table.categories tbody td {
    padding-bottom: 16px;
    vertical-align: top;
}

table.categories h2 {
    font-size: 14px;
    padding-bottom: 4px;
}

table.categories ul {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin-bottom: 6px;
}

table.categories ul li {
    margin-bottom: 4px;
    margin-left: -10px;
}

table.categories .category-data-expand {
    background: url("../img/20/branding/sprite.png") no-repeat scroll 0 -299px transparent;
    display: inline-block;
    padding: 0 0 0 15px;
    margin-left: 1px;
}

table.categories .category-data-collapse {
    background: url("../img/20/branding/sprite.png") no-repeat scroll 0 -299px transparent;
    background-position: 0 -318px;
    display: none;
    padding: 0 0 0 15px;
    margin-left: 1px;
}

.auction-location-map {
    width: 500px;
    height: 450px;
    margin: 0;
    padding: 4px;
}

.auctions-locations-map {
    width: 675px;
    height: 450px;
    margin: 0;
    padding: 4px;
}
