/* == INDEX ==
 * Search for "SASSIFY" to find blocks of CSS that should be put in sass partials
 *
 *
 * B u t t o n s
 * S h a d o w - b l o c k  &  T o o l t i p
 * F o r m s
 * L i n k s
 * I c o n s
 *
 * P O P U P S
 * H e a d e r
 * A s i d e
 *
 * G e n e r a l   c o n t e n t
 * H o m e p a g e
 * A L L - A U C T I O N S
 * A U C T I O N   P A G E
 * L O T   I N F O
 * C O R P O R A T E   I N F O
 * M i j n e n
 * D a s h b o a r d
 * C A T E G O R I E S
 * R T E - L A Y O U T
 *
 * T i m e r s
 * Z o o m i n g
 * P r o g r e s s   b a r
 * I n f o w i n d o w
 *
 * H T M L   T e m p l a t e s
 *   FAVORITIZE
 *   NOTIFICATION
 *
 * T E M P / i n t e g r a t i o n
 */

/** =========================================================================
 *                                  B U T T O N S
 *  ========================================================================= */
.buttontest button, .buttontest a { float:left; }
.btn { padding:0; margin:0; cursor:pointer; font-family:arial,serif; font-size:12px; }
button.btn { width:auto; overflow:visible; white-space:nowrap; background:none; border:none; }
button.btn::-moz-focus-inner { border:0; padding:0; }
a.btn { text-decoration:none; }

/* Set button sprite on first span */
.btn span { background:url(../img/20/branding/buttons.png) no-repeat; display:inline-block; padding:0 0 0 7px; }
	.btn span span { padding:0 7px 0 0; }
		.btn span span span { padding:3px 6px 7px 2px; background-repeat:repeat-x; }
			.btn span span span span { display:inline; padding:0; background-repeat:no-repeat; } /* fix any further nested spans */

/* fixed widths */
.btn span span span.fixwidth140 { width:118px; }

/* Button styles go here - if necessary oveautocorwrite widths too */
.btn-dark span { background-position:left 0; color:#fff; }
	.btn-dark span span { background-position:right -30px; }
		.btn-dark span span span { background-position:0 -60px; }
.btn-dark:hover span { background-position:left -90px; }
	.btn-dark:hover span span { background-position:right -120px; }
		.btn-dark:hover span span span { background-position:0 -150px; }

.btn-white span { background-position:left -360px; color:#0968AE; }
	.btn-white span span { background-position:right -390px; }
		.btn-white span span span { background-position:0 -420px; }

.btn-focus span { background-position:left -180px; color:#fff; }
	.btn-focus span span { background-position:right -210px; }
		.btn-focus span span span { padding:4px 6px 7px 4px; background-position:0 -240px; }

.btn-disabled { cursor:default; }
.btn-disabled span { background-position:left -1290px; color:#bcbcbc; }
	.btn-disabled span span { background-position:right -1330px; }
		.btn-disabled span span span { padding:4px 6px 7px 4px; background-position:0 -1370px; }

.btn-large span { background-position:0 -1110px; }
	.btn-large span span { background-position:right -1170px; }
		.btn-large span span span { padding:9px 5px 13px; background-position:0 -1231px; font-size:15px; color:#fff; }
.btn-large-1col span span span { width:314px; }

.btn-huge span { padding-left:7px; background-position:left -446px; color:#fff; }
	.btn-huge span span { background-position:right -536px; }
		.btn-huge span span span { padding:14px 12px 21px 8px; background-position:0 -626px; font-size:30px; }
.btn-huge:hover span { background-position:left -716px; }
	.btn-huge:hover span span { background-position:right -806px; }
		.btn-huge:hover span span span { background-position:0 -896px; }
.btn-huge.disabled:hover span { background-position:left -446px; } /* no hover when button is disabled */
	.btn-huge.disabled:hover span span { background-position:right -536px; }
		.btn-huge.disabled:hover span span span { background-position:0 -626px; }

/** =========================================================================
 *                  B L O C K S - ( from integration.css )
 *  ========================================================================= */
.block {padding-bottom:20px; background-color:#fff; }
  .block .block-kader {width:710px; margin-left:0px; border:solid 1px #CCCCCC; margin-bottom:10px; }
  .block .block-content {width:700px; margin-left:10px; margin-top:0px; }
  .block .block-nieuws {margin-left:0px; padding:10px; border:1px solid #C3C3C3; }
  .block .block-table {width:710px; margin-left:0px; }
  .block .block-list {width:710px; margin-left:0px; }
  .block .block-form {display:block; clear:both; margin-left:0px; }
  .block .block-actions {display:block; clear:both; margin:15px 0px 15px 10px; }
  .block .alerttxt, .block .warningtxt, .block .messagetxt {width:718px; }

.block-intro {background:url( '../img/branding/bg-intro-home.png' ); margin-top:0px; }
  .block-intro .block-content {margin-top:0px; }
.block-banner {width:718px; height:100px; margin-left:0px; border:solid 1px #CCCCCC; margin-bottom:10px; padding:0px; background-color:#FFFFFF; }


/** =========================================================================
 *              S H A D O W - B L O C K   &   T O O L T I P
 *  ========================================================================= */
.shadowblock-css3 {
	margin: 3px; /* TODO: Remove this after refactoring all old shadowblocks */
	box-shadow: 0 0 3px 1px #777;
}
.ie7 .shadowblock-css3 {
	border: 1px solid #ccc;
}

/* TODO: Replace all shadowblocks with .shadowblock-css3. When done, remove the "-css3" suffix */
.shadowblock {  }
	.block-top { margin:0 4px; width:auto; height:3px; overflow:visible; font-size:0; line-height:0; background:transparent url(../img/20/branding/shadowbox.png) repeat-x 0 top; }
		.block-topleft { float:left; width:4px; height:3px; margin-left:-4px; background:transparent url(../img/20/branding/shadowbox.png) no-repeat 0 -5px; }
		.block-topright { float:right; width:4px; height:3px; margin-right:-4px; background:transparent url(../img/20/branding/shadowbox.png) no-repeat -4px -5px; }
	.block-bottom { margin:0 5px; width:auto; height:5px; overflow:visible; font-size:0; line-height:0; background:transparent url(../img/20/branding/shadowbox.png) repeat-x 0 bottom; }
		.block-bottomleft { float:left; width:5px; height:5px; margin-left:-5px; background:transparent url(../img/20/branding/shadowbox.png) no-repeat 0 -8px; }
		.block-bottomright { float:right; width:5px; height:5px; margin-right:-5px; background:transparent url(../img/20/branding/shadowbox.png) no-repeat -3px -8px; }

	.block-centerleft { padding-left:4px; background:transparent url(../img/20/branding/shadowbox-left.png) repeat-y left 0; }
		.block-centerright { padding-right:4px; background:transparent url(../img/20/branding/shadowbox-right.png) repeat-y right 0; }
			.block-center { background-color:#fff; }

/* Special shadowblocks */
.highlightblock-container { padding-bottom:10px; background-color:#fff; }
	.highlightblock { width:368px; margin:-3px 0 0 -4px; } /* adjust for ie6 */
	.highlightblock-fullwidth { margin:-2px 0 7px -3px; width:737px; }
		.highlightblock .block-content { padding:10px 10px 5px; background-color:#ff7; }
		.home .highlightblock { margin-bottom:7px; }
	.lotinfo .highlightblock-fullwidth { width:721px; margin:0 0 10px 5px; }
	.master-fullwidth .highlightblock-fullwidth { width:966px; }

/* tooltips use shadowblock too */
#infoTooltip-template { display:none; position:absolute; }
.inline-tooltip * { display:none; }

.info-tooltip { position:absolute; z-index:999; }
.home .info-tooltip, .tooltip-small { width:160px; }
	.info-tooltip .close { float:right; background: url(../img/icon/close.png) no-repeat 0; height:21px; width:23px;}

	.info-tooltip .block-content { padding:5px; background:#fff url(../img/20/branding/bg-tooltip-content.gif) repeat-x 0 0; }
	.info-tooltip .block-content h3 { float:left; }

	.pointer-block-top .block-top { height:17px; background:transparent url(../img/20/branding/shadowbox-pointer-hor.png) repeat-x center top; }
	.pointer-block-top .block-topleft { height:17px; background:transparent url(../img/20/branding/shadowbox-pointer-hor.png) repeat-x 0 top; }
	.pointer-block-top .block-topright { height:17px; background:transparent url(../img/20/branding/shadowbox-pointer-hor.png) repeat-x right top; }

	.pointer-block-bottom .block-top { background:transparent url(../img/20/branding/shadowbox.png) repeat-x 0 top; }
	.pointer-block-bottom .block-bottom { height:17px; background:transparent url(../img/20/branding/shadowbox-pointer-hor.png) repeat-x center bottom; }
	.pointer-block-bottom .block-bottomleft { height:17px; background:transparent url(../img/20/branding/shadowbox-pointer-hor.png) repeat-x 0 bottom; }
	.pointer-block-bottom .block-bottomright { height:17px; background:transparent url(../img/20/branding/shadowbox-pointer-hor.png) repeat-x right bottom; }

	.pointer-block-right .block-top { margin-right:16px; }
	.pointer-block-right .block-centerright { padding-right:15px; background-image:url(../img/20/branding/shadowbox-pointer-right.png); }
	.pointer-block-right .block-bottom { margin-right:16px; }

	.pointer-block-left .block-top { margin-left:16px; }
	.pointer-block-left .block-centerleft { padding-left:15px; background-image:url(../img/20/branding/shadowbox-pointer-left.png); }
	.pointer-block-left .block-bottom { margin-left:16px; }

	.reversebid-warning .block-top { height:17px; background:transparent url(../img/20/branding/shadowbox-highlight-pointer-hor.png) repeat-x center top; }
	.reversebid-warning .block-topleft { height:17px; background:transparent url(../img/20/branding/shadowbox-highlight-pointer-hor.png) repeat-x 0 top; }
	.reversebid-warning .block-topright { height:17px; background:transparent url(../img/20/branding/shadowbox-highlight-pointer-hor.png) repeat-x right top; }
	.reversebid-warning .block-center { width:auto; padding:10px 10px 0; background:#fffe99 url(../img/20/branding/bg-reversebid-warning.png) repeat-x 0 0; }


/** =========================================================================
 *                                   F O R M S
 *  ========================================================================= */
	/* form skeleton */
	.form fieldset { padding-bottom:10px; }
	   .form legend {font-weight:bold;}
	.form .row { clear:left; padding-bottom:5px; overflow:hidden; width:auto; }

	/* label was genest in div.title, maar dat blijkt niet te hoeven binnen bva */
	.form .title { float:left; width:180px; font-size:12px; min-height:1px; padding:6px 0 0 0; margin-right:10px; color:#505450; }
	.form-1col .title { width:120px; }
	.form .checkbox-row .title { padding-top:4px; }

	.form .notitle-column { padding-left:190px; }
	.form-1col .notitle-column { padding-left:130px; }
	.form .subcolumn { float:left; width:500px; overflow:visible; }
	.form-1col .subcolumn { width:197px; }
		.form .subcolumn .text { font-size:12px; padding-bottom:0; }
		.form .explanation { display:block; font-size:11px; color:#888; } /* error messages and explanation */
		.form .focus-row .explanation { color:#333 }
		.form .subcolumn .column { width:48%; padding:0 5px 0 0; float:left; }

	.form .focus-row { width:497px; margin-left:-4px; padding-left:4px; padding-bottom:10px; background-color:#ccc; }
		.form .focus-row .subcolumn { width:305px; }

	.form .buttonpadding { padding:10px 0; }
	.form .focus-row .buttonpadding { padding-bottom:0; }

	/* Input elements outside .form */
	input.shadow { padding:2px 5px; border:1px solid #c6c6c6; background:#fff url(../img/20/branding/bg-form-elems.png) no-repeat 0 0; }

	/* .form elements */
	.form input.text, .form select, .form textarea { width:300px; border:1px solid #7F9DB9; font-size:12px; margin:5px 0 0 0; }
	.aside-block .form input.text, .aside-block .form select, .aside-block .form textarea { width:196px; }
	.form p.text { padding-top:6px; }
	.form-1col input.text, .form-1col select, .form-1col textarea { width:195px; }
	.form input.disabled, .form select.disabled, .form textarea.disabled { border-color:#b9b9b9; background:url(../img/20/branding/bg-disabled-input.gif) repeat 0 0; }

	.form textarea { width:298px; height:130px; }
		.form input.text { }
		.form input.center { text-align:center; }
		.form input.digit2 { width:22px; }
		.form input.digit4 { width:32px; }
		.form input.digit10 { width:75px; }
		.form input.digit15 { width:110px; }
		.radio-buttons { padding:3px 0 0; width:100%; overflow:hidden; }
		.radio-buttons input { margin:4px 5px 0 0; float:none; }
		.ie8 .radio-buttons input { margin-top:0; }
		.radio-buttons label { margin-right:10px; line-height:15px; float:left; }

		.checkbox-row .subcolumn .text { float:left; margin-top:3px; }
			.checkbox-row .subcolumn .text span { padding-left:30px; }

	input.error, .error input { border:1px solid #f00; }
	label.error, .error label { float:none; display:block; font-size:12px; color:#f00; }
	label.full { width:100%; display:block; font-size:14px; }

	.form span.error, .form p.error { color:#f00; }
	.form span.error { display:block; }
	.form p.error { padding-bottom:0; } /* error messages */

	/* specifics */
	.form .form-options { padding:0; list-style:none; }

	#contactForm #form-mobile-number { padding-bottom:0; }
	#form-mobile-number { padding-top:6px; }
	#form-mobile-smscode.innerLabel { color:#999; }
	.form-mobile-loader { display:none; float:left; height:22px; width:16px; margin-left:8px; background:url(../img/dashboard/ajaxloader-grey.gif) no-repeat 0 4px; }

/** =========================================================================
 *                                  S E A R C H
 *  ========================================================================= */
#searchFormDetail #postCode { width:100px; }
	#searchFormDetail #postCode + span.error { color:#f00; position:absolute; margin-left:-105px; margin-top:25px; }
	#searchForm #hiddenPostCode + span.error { display:none; }

.adcontainer > .block-content { margin:0; width:auto; }

/** =========================================================================
 *                                   L I N K S
 *  ========================================================================= */
a.more { padding-left:15px; font-size:12px; cursor:pointer; background:url('../img/20/branding/sprite.png') no-repeat 0 2px; }
a.more:hover { color:#f60; background-position:0 -598px; }

ul.more { margin:0; padding:0; list-style:none; }
	ul.more li { padding-left:15px; margin-bottom:5px; background:url('../img/20/branding/sprite.png') no-repeat left 2px; }
	ul.more li:hover { background-position:0 -598px; }
		ul.more li:hover a { color:#f60; }
.more-link { display:inline-block; padding-left:15px; background:url('../img/20/branding/sprite.png') no-repeat left 2px; }
.more-link:hover { background-position:0 -598px; }
	.more-link:hover a { color:#f60; }


/** =========================================================================
 *                                   I C O N S
 *  ========================================================================= */
.icon-question { display:inline-block; cursor:pointer; width:10px; height:10px; background:url(../img/20/branding/sprite.png) no-repeat 0 -200px; }
.lotactionblock .icon-question { background-position:0 -750px; }
.icon-ok {display:inline-block; width:18px; height:18px; background:url(../img/20/branding/sprite.png) no-repeat 0 -2166px;}
.icon-pdf {display:inline-block; width:19px; height:20px; background:url(../img/20/icons/pdf.png) no-repeat 0 0px;}

.icon-oneclick-small { display:inline-block; width:12px; height:12px; margin-left:4px; background:url(../img/dashboard/dashboard-icons.png) no-repeat -32px -288px; }
.ajaxload {
	display: block;
	min-width: 32px;
	min-height: 32px;
	margin: 0 auto;
	background: url(../img/20/branding/loader-large-fff-666.gif) no-repeat center;
}

/** =========================================================================
 *                                 P O P U P S
 *  ========================================================================= */
.popup .page {width:auto; padding:50px 0 0; min-height: 100px; }
  .popup .shadowblock {width:568px; margin:0 auto;}
    .popup .block-content {padding:30px;}

.popup .highlightblock-fullwidth { width:508px; margin:0; }
.popup .highlightblock-fullwidth .block-content { padding: 5px; }
.popup .form .subcolumn {width:305px;}

.lotdeliveries {padding: 10px;}
    .lotdeliveries span.inline-tooltip {padding-left: 30px; background: url(../img/icon/fulfillment-truck.png) no-repeat 0; color:#164ea4; cursor:pointer;}
    .lotdeliveries-popup {width: 350px; margin-bottom: 10px;}
        .lotdeliveries-popup .header { padding: 5px 0 5px 5px; height: auto;}
            .lotdeliveries-popup .header .close {margin-top: -3px;}
        .lotdeliveries-popup .block-content {background: #fff;}
        .lotdeliveries-popup table {width: 100%;}
        .lotdeliveries-popup table th {border-bottom: #6A797D dotted thin; padding: 2px; font-weight: normal;}
        .lotdeliveries-popup table th.partner {width: 50%;}
        .lotdeliveries-popup table th.price-per-km {width: 25%;}
        .lotdeliveries-popup table th.price-fixed {width: 25%;}
        .lotdeliveries-popup table td {padding-top: 8px; padding-bottom: 8px;}
        .lotdeliveries-popup table td.partner {padding-left: 10px;}
        .lotdeliveries-popup table tr.odd {background-color: #efefef;}

/** =========================================================================
 *                                  H E A D E R
 *  ========================================================================= */
.header-logo { float:left; overflow:hidden; margin-top:5px; }
	.header-logo img { float:left; /*width:89px; height:63px;*/ margin-right:10px; }
	.header-logo .tagline { float:left; width:120px; margin-top:11px; font-size:1.2em; font-weight:bold; }

.language-select { float:right; margin:5px 4px 16px; }

.search-container { float:right; clear:right; z-index:50; }
	.search-container label { display:none; }
	.search-container input {  z-index:50; float:left; width:245px; margin-right:5px; padding:2px 5px; color:#666; }
	.search-container button { float:left; }
.no-language-select { margin-top:41px; }

/* autocomplete */
ul.ui-autocomplete {
    position: absolute;
    border: solid 1px #CCC;
    padding: 0 0 7px 0;
    z-index: 20;
    background-color: #FFFFFF;
    list-style-type: none;
    width: 239px;
}

ul.ui-autocomplete li {
    margin: 0;
    cursor: pointer;
    padding: 5px 3px 5px 10px;
    display: block;
    color: #0968ae;
}

ul.ui-autocomplete li.ui-autocomplete-category {
    margin-top: 7px;
    font-weight: bold;
    border-top: solid 1px #CCC;
    padding: 10px 0 6px 10px;
    pointer-events: none;
    cursor: default;
    color:#333;
}

ul.ui-autocomplete li.ui-autocomplete-category:first-child {
    margin-top: 0;
    border-top: 0;
}

ul.ui-autocomplete li.ui-autocomplete-category:hover {
    background-color: #FFF
}

ul.ui-autocomplete li:hover, ul.ui-autocomplete li:focus, ul.ui-autocomplete li.ui-state-hover, ul.ui-autocomplete li.ui-state-focus {
    color: #FFFFFF;
    background-color: #0968AE;
}
/* navigation */
.navigation { position:absolute; bottom:-5px; left:0; width:730px; }
.navigation ul { width:auto; overflow:hidden; margin:0; padding:0; list-style:none; }
	.navigation li { float:left; margin-right:0; }
		.navigation a { font-size:12px; font-weight:bold; color:#fff; text-decoration:none; }
			.navigation span { display:inline-block; padding:0 0 0 3px; background:url(../img/20/branding/navitem.png) no-repeat left 0; }
				.navigation span span { padding:0 7px 0 0; background-position:right -30px; }
					.navigation span span span { padding:4px 4px 11px; min-width:80px; text-align:center; background-position:center -60px; }
			.navigation .focus a span { background-position:left -90px; }
				.navigation .focus a span span { background-position:right -120px; }
					.navigation .focus a span span span { background-position:center -150px; }
			.navigation a:hover span { background-position:left -180px; }
				.navigation a:hover span span { background-position:right -210px; }
					.navigation a:hover span span span { background-position:center -240px; }
			.navigation .active a span { background-position:left -270px; }
				.navigation .active a span span { background-position:right -300px; }
					.navigation .active a span span span { background-position:center -330px; }

/* Personal data */
.personal-data { position:absolute; top:0; right:6px; width:228px; z-index:900; }
.loggedin .wrapper-aside .personal-data { position:relative; right:0; margin-bottom:8px; }
	.loggedin .personal-data-header { position:relative; padding-bottom:25px; background:url('../img/20/branding/bg-personaldata-ingelogd.png') no-repeat left bottom; }
	.loggedout .personal-data-header { background:url('../img/20/branding/bg-personaldata.png') no-repeat left bottom; }
		.personal-data .h4 { padding:8px 10px 8px 31px; color:#fff; font-weight:bold; }
		.loggedin .personal-data .h4 { padding-left:10px; }
		.personal-data .do-logout { position:absolute; bottom:10px; right:10px; font-size:1.1em; color:#fff; }

	.login-opener { width:auto; overflow:hidden; padding:10px 6px 10px 2px; }
		.login-opener p { padding:0; }
	.login-closer { width:auto; overflow:hidden; padding:5px 6px 0 0; }
		.login-closer p { padding:2px 0 2px; background:url(../img/20/branding/sprite.png) no-repeat 6px -316px; }
			.login-closer a { padding-left:22px; }

	.loginform { display:none; }
	.ie8 .loginform { display:block; }

	.personal-data .content { padding:10px 6px 2px 10px; }
		.personal-data .row { padding-bottom:10px; }
			.personal-data input.text { width:188px; color:#666; }
			label.innerlabel { display:none; }
			.personal-data .error-msg { display:none; color:#f00; }

	.loggedin .personal-data p,
	.loggedin .personal-data li { padding-bottom:5px; }

	.loggedin .personal-data #mylots-link { position:relative; }
	.loggedin .personal-data #mylots-link a { padding-left: 15px; margin-right:3px; }
	.loggedin .personal-data #mylots-link a.my-notification-events { margin-right:0px; }
	.loggedin .personal-data #mylots-link p { overflow:visible; }
	.loggedin .personal-data .icon-container { position:relative; }
	.loggedin .personal-data .icon-container img.favorite { position:absolute; width:11px; height:15px; top:-2px; }
	.loggedin .personal-data .icon-container.notification img.notify { position:absolute; left:4px; top:0; }

	.personal-data .my-links { padding:1px 0; }
		.personal-data .my-links > * { float:left; }
			.my-links .icon-container { position:relative; width:13px; height:12px; margin:1px 4px 0 0; }
			.my-links .icon { position:absolute; top:0; left:0; width:13px; height:12px; }
			.personal-data .my-links { padding:1px 0; }

.loggedin .personal-data .bidcount a { position:relative; display:inline-block; }
	.loggedin .personal-data .disabled a { cursor:default; }
		.shortlist-links .overbid a { color:#f60; }
		.shortlist-links .highestbid a { color:#090; }

		.personal-data .overbid span.icon { display:inline-block; width:14px; height:14px; margin:0 0 -2px 5px; background:url(../img/dashboard/dashboard-icons.png) no-repeat 0 -160px; }
	.personal-data h4 { padding:12px 0 5px 0; }

	.personal-data .toggler { display:inline-block; padding:0 0 0 15px; background:url(../img/20/branding/sprite.png) no-repeat 0 -299px; }
	.personal-data .toggler-open { background-position:0 -318px; }

	.personal-data-lotlist { width:270px; position:absolute; display:none; z-index:900; }
	.personal-data-lotlist .block-content { padding:10px; }
		.personal-data-lotlist .lots { position:relative; }
			.personal-data-lotlist span.loading { display:block; height:16px; background:url(../img/dashboard/ajaxloader-grey.gif) no-repeat center 0; }

		.personal-data-lotlist h4 { padding:0 0 10px 0; }
		.personal-data-lotlist ul { _height:300px; max-height:330px; overflow:auto; margin:0 -4px 5px -4px; z-index:901; }
		.personal-data-lotlist li { padding:4px; cursor:pointer; }
		.personal-data-lotlist li:hover { background:#eee; }

		.personal-data-lotlist a { color:#0968ae; }
		.personal-data .overbid .bid, .personal-data .overbid h4 { color:#f60; }
		.personal-data .highestbid .bid, .personal-data .highestbid h4 { color:#090; }

/* Personal data dropdown lotlist */
.short-lotlist { position:absolute; left:-9999px; width:180px; background-color:#fff; }
	.short-lotlist h3 {  }
	.short-lotlist ul { padding:0; list-style:none; }
		.short-lotlist li { padding-bottom:10px; }

/* Branding display */
.branding-display { position:relative; clear:both; width:960px; height:130px; overflow:hidden; }
.branding-display .display-items { position:relative; }
	.branding-display .display-item { display:block; position:absolute; top:0; left:0; width:960px; height:130px; overflow:hidden; z-index:0; }
	.branding-display .active { z-index:2; }
		.display-item .image-link { display:block; position:relative; width:960px; height:130px; text-decoration:none; }
			.display-item .btn { position:absolute; bottom:10px; right:20px; }
			.display-item .btn .more { padding-left:15px; background:url('../img/20/branding/sprite.png') no-repeat left 3px; }
	.branding-display .dots { position:absolute; right:10px; bottom:8px; padding:0; list-style:none; z-index:10; }
		.branding-display .dots li { display:inline-block; width:12px; height:12px; margin-right:6px; cursor:pointer; background:url(../img/20/branding/sprite.png) no-repeat -19px -250px; }
		.branding-display .dots li.active-dot { background-position:0 -250px; }

/* Tickertape */
.tickertape-container { position:relative; width:960px; height:36px; margin-bottom:4px; overflow:hidden; background:url(../img/20/branding/bg-tickertape.png) repeat-x 0 0; }
	.tickertape-container .left { position:absolute; top:0; z-index:2; left:0; width:10px; height:36px; background:url(../img/20/branding/bg-tickertape-fade.png) no-repeat -20px 0; }
	.tickertape-container .right { position:absolute; top:0; z-index:2; right:0; width:10px; height:36px; background:url(../img/20/branding/bg-tickertape-fade.png) no-repeat 0 0; }
		.tickertape { position:absolute; top:0; left:10px; width:9999px; margin:0; padding:0; list-style:none; }
			.tickertape li { float:left; width:950px; padding-top:10px; font-size:15px; font-weight:bold; color:#fff; }
				.tickertape a { text-decoration:none; color:#fff; }
				.tickertape a:hover { text-decoration:underline; }


/** =========================================================================
 *                                   A S I D E
 *  ========================================================================= */
.aside-block { margin:0 4px; padding:10px 12px 10px 10px; background-color:#fff; }
	.aside-block ul.categorylist { padding:0 0 10px; list-style:none; }

.highlighted-lots { padding:0; list-style:none; }
	.highlightedlot { width:auto; overflow:hidden; padding-bottom:18px; margin-bottom:5px; background:url(../img/branding/bg-hor-shadow-down.png) no-repeat 0 bottom; }
			.highlightedlot a.lotimage  { width:115px; height:auto; min-height:50px; }
			.highlightedlot .lotimage img { width:115px; height:auto; }
		.highlightedlot .currentbid { color:#666; }
		.highlighted-lots div.nomargin { background:none; }

.partners-list { padding:0; list-style:none; }

.request-newsletter .btn { margin-top:10px; }

.personaloffer-subscribe-component { padding-top:10px; margin-bottom:10px; }
	.personaloffer-subscribe-component > div { padding-left:35px; display:inline-block; background:url(../img/branding/icons/ic-magnifier.png) no-repeat 2px 4px; }
	.personaloffer-subscribe-component .btn,
	.personaloffer-subscribe-component input[type="button"] { margin-bottom:7px; }

.rssblock { padding-top:10px; }
	.rssblock a { padding-left:35px; display:inline-block; background:url(../img/branding/icons/ic-rss.png) no-repeat 2px 4px; }
	.ie7 .rssblock a { display:block; }

/** =========================================================================
 *                          G E N E R A L   C O N T E N T
 *  ========================================================================= */
.content-block-padding { padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px; background-color:#fff; }
.content-block { padding-top:10px; padding-bottom:10px; background-color:#fff; }
	.content-padding { padding-left:10px; padding-right:10px; } /* for text blocks in columns */
	.block-padding { padding-left:2px; padding-bottom:2px; } /* for shadowblocks in columns */

ul.contentitems {padding: 0;}
	ul.contentitems li {list-style: none; padding: 10px;}
	ul.contentitems h2 {}
	ul.contentitems p {}

p.alert { padding-left:20px; margin-bottom:0; background:url('../img/20/branding/icons/alert.png' ) no-repeat 0 1px; }
p.footnote {color:#999; padding-bottom: 0;}
.introtext { font-size:15px; }

/* tabs */
.tabnavigation { width:auto; overflow:visible; position:relative; border-bottom:solid 1px #999; height:24px; }
.tabnavigation ul { position:absolute; bottom:-1px; width:100%; overflow:hidden; padding:0; list-style:none; color:#FFF; }
  .tabnavigation ul li { float:left; margin-right:6px; margin-left:0; margin-bottom:0; background-image:url( '../img/branding/bg-tab-inactive-right.png' ); background-position:right top; background-repeat:no-repeat; }
  .tabnavigation ul li a { display:block; padding:4px 10px 4px 10px; text-decoration:none; background-image:url( '../img/branding/bg-tab-inactive-left.png' ); background-position:left top; background-repeat:no-repeat; color:#FFFFFF; }
  .tabnavigation ul li.active { float:left; background: url('../img/branding/bg-tab-active-right.png') no-repeat right top; }
  .tabnavigation ul li.active a { display:block; background: url('../img/branding/bg-tab-active-left.png') no-repeat left top; color:#000000; }

.tabnavigation ul.mapToggle { width:86px; right: 0; bottom: -13px; }
  .tabnavigation ul.mapToggle li { padding-top:16px; color:#0867AD; height: 34px; margin-right:20px; cursor: pointer; }
  .tabnavigation ul.mapToggle li.active { color:#000; }
  .tabnavigation ul.mapToggle li.showListAuctions.active { background:url('../img/20/branding/toggle-map-list-sprite.png') no-repeat center -50px; }
  .tabnavigation ul.mapToggle li.showListAuctions { background:url('../img/20/branding/toggle-map-list-sprite.png') no-repeat center 0; }
  .tabnavigation ul.mapToggle li.showMapAuctions.active { background:url('../img/20/branding/toggle-map-list-sprite.png') no-repeat center -150px; }
  .tabnavigation ul.mapToggle li.showMapAuctions { background:url('../img/20/branding/toggle-map-list-sprite.png') no-repeat center -100px; }

/* RTE */
.rte { font-size:12px; }
.rte-bigtxt, .rte-bigtxt p { font-size:15px; }
.bigtxt { font-size:28px; }

/* Breadcrumb */
.container-breadcrumb { padding:10px; background-color:#fff; }
	.container-breadcrumb ul { width:100%; overflow:hidden; padding:0; list-style:none; }
		.container-breadcrumb li { float:left; padding-right:15px; font-size:12px; color:#333; background:url(../img/20/branding/sprite.png) no-repeat right -999px; }
		.container-breadcrumb li.active { margin-right:0; padding-right:0; background:none; }
			.container-breadcrumb a { text-decoration:underline; color:#999; }

/* Paginator */
.paginator-container { padding-bottom:10px; }
    .paginator-pagesize, .paginator-pagesize ul.paginator { float: right; }
    .paginator-pages { float: left; }
	.nr-paging { display:block; padding-top: 3px; padding-bottom:5px; }
    .amount-per-page {display: inline-block; padding-top: 3px; padding-right: 10px; float:left;}
	.no-paginator-nr-paging .nr-paging { display:none; }
	.paginator { padding:0; list-style:none; }
		.paginator li { float:left; padding:3px 5px; margin-right:5px; }
		.paginator li.disabled { cursor:default !important; }
		.paginator li.disabled a { color:#444; cursor:default !important; }
        .paginator li.active { background-color:#0968ae; border:1px solid #0968ae; border-radius:4px; -moz-border-radius:4px; }
        .paginator li.prev { padding-left: 0px; }
        .paginator li.next { padding-right: 0px; }
        .paginator li.active a { color:#fff; }
			.paginator span { float:left; cursor:pointer; }
			.paginator .prev .icon { width:23px; height:16px; background:url(../img/20/branding/sprite.png) no-repeat left -825px; }
			.paginator .prev.disabled .icon { background-position:left -1461px; }
			.paginator .next .icon { width:23px; height:16px; background:url(../img/20/branding/sprite.png) no-repeat right -801px; }
			.paginator .next.disabled .icon { background-position:right -1437px; }

/* Info dropdown box */
.nfo-dropdown-content { background:#CEE1EF url(../img/20/branding/bg-nfo-dropdown.png) repeat-x 0 0; }

/* Carousel general styling */
.carousel { overflow:hidden; }
	.carousel > ul { padding:0; list-style:none; }
		.carousel > ul > li { float:left; }
			.carousel > ul > li > a { display:inline-block; }

.downloadlinks {margin-top: 5px;}

/** =========================================================================
 *                                H O M E P A G E
 *  ========================================================================= */
.newspreview { padding:0; list-style:none; }
	.news-previewitem { padding-top:10px; }
	.newspreview li.first { padding-top:0; }

/* auction list */
.all-auctions-link { float:right; margin-top:4px; }
.home-auctionlist { clear:both; margin:0; padding:0; list-style:none; }
	.home-auctionlist .auction { width:auto; overflow:hidden; padding-bottom:20px; padding-top:2px; }
		.home-auctionlist .auction-image { float:left; width:56px; height:42px; padding:3px; background:url(../img/20/branding/bg-auctionlist-img-sm.png) no-repeat 0 0; }
		.home-auctionlist .auction-data { padding-left:70px; }
			.auction-data h3 { padding-bottom:2px; }
			.auction-data .lotinfo { font-size:11px; }
        .home-auctionlist .auction .textstatus { padding-top:10px; clear:both; }

			.home-auctionlist ul { width:auto; overflow:hidden; margin:0; padding:0; list-style:none; }
				.home-auctionlist ul li { float:left; padding:0; }
				.home-auctionlist ul li span { padding:0 3px; }

			.home-auctionlist .keywords { padding-top:4px; font-size:11px; color:#666; }

    .auction-divider {margin-bottom:10px; background:url(../img/20/branding/bg-hr.gif) repeat-x 0 13px;}
        .auctions-type {display:inline-block; padding:2px 5px 0 0; background-color:#fff;}

/* hotlist */
.lotblock > .content-padding { position:relative; }
.lotblock .h2 { width:280px; }
.lotblock .nav { position:absolute; bottom:3px; right:10px; width:60px; }
	.lotblock .prev, .lotblock .next { display:none; float:right; margin-right:3px; width:27px; height:27px; cursor:pointer; background:url(../img/20/branding/sprite.png) no-repeat 0 -150px; }
	.lotblock .next { margin:0; background-position:0 -100px; }

.lotblock .shadowblock { clear:both; margin:0 5px; }
	.lotblock .block-content { padding:2px; overflow:hidden; }
		.hotlist-carousel, hotlist-nocarousel { overflow:hidden; width:340px; }

	.lotblock ul { padding:0; list-style:none; width:auto; overflow:hidden; }
	.lotblock .hotlist-cards { width:9999px; }
		.lotblock .hotlist-card { float:left; width:340px; height:165px; }
		.lotblock .hotlist-items { width:340px; }
		.lotblock .hotlist-item,
		.hotlist-item-filler { float:left; width:112px; height:84px; margin:0 1px 1px 0; }
		.hotlist-item-filler { background-color: #ccc }
		.lotblock .hotlist-item:nth-child(1n+4),
		.lotblock .hotlist-items.items3 .hotlist-item { margin-bottom:0; }
		.lotblock .hotlist-items.items2 .hotlist-item { width:168px; height:168px; margin:0 2px 0 0; }
		.lotblock .hotlist-items.items1 .hotlist-item { width:338px; height:254px; }
			.hotlist-item .tooltip-content { display:none; }
				.hotlist-item .tooltip-content .title { padding-bottom:5px; }

/* media display (home carousel) */
.mediadisplay { margin:0 5px; }
.mediadisplay .block-content { position:relative; width:338px; padding:2px; overflow:hidden; }
.mediadisplay-carousel { width:338px; overflow:hidden; }
	.mediadisplay-carousel ul { padding:0; list-style:none; }
		.mediadisplay-carousel li { float:left; width:338px; }
			.mediadisplay-description { padding:10px 2px; }

	.mediadisplay .carousel-buttons { display:none; position:absolute; top:8px; right:4px; width:60px; overflow:hidden; z-index:10; }
		.mediadisplay .carousel-buttons .prev,
		.mediadisplay .carousel-buttons .next { float:left; margin-right:3px; width:27px; height:27px; cursor:pointer; background:url(../img/20/branding/sprite.png) no-repeat 0 -150px; }
		.mediadisplay .carousel-buttons .next { margin:0; background-position:0 -100px; }
		.mediadisplay .carousel-buttons .next-disabled { background-position:0 -500px; cursor:default; }
		.mediadisplay .carousel-buttons .prev-disabled { background-position:0 -550px; cursor:default; }

/* closing auction boarding lights */
.closing-auction { clear:both; width:auto; overflow:hidden; padding:4px 0 0 0; color:#f00; }
	.closing-auction img { float:left; margin-right:5px; }
	.closing-auction span { float:left; margin-top:2px; }


/** =========================================================================
 *                             A L L - A U C T I O N S
 *  ========================================================================= */
.all-auctions-container { padding:10px 9px 0; border:1px solid #999; border-top:none; }
.all-auctionslist { width:100%; }
	.all-auctionslist th { padding-bottom:10px; font-size:12px; font-weight:normal; color:#0867AD; }
	.all-auctionslist td, .all-auctionslist th { vertical-align:top; padding-bottom:10px; }
	/* there's a new implementation for img/text combo. Search for ".image-and-text" in CSS
	TODO: implement everywhere */
	.all-auctionslist .auction-image { width:128px; }
		.all-auctionslist .auction-image div { width:116px; height:88px; padding:2px; background:url(../img/20/branding/bg-auctionlist-img-l.png) no-repeat 0 0; }
		.all-auctionslist .auction-image img { width:116px; height:88px; }
	.all-auctionslist .auction-desc { width:310px; padding-right:10px; }
		.all-auctionslist h3 a { text-decoration:none; color:#0867AD; }
		.all-auctionslist .auction-desc a { text-decoration:none; color:#333; }
		.all-auctionslist .keywords { color:#999; }
	.all-auctionslist .auction-location { width:100px; }
	.all-auctionslist .auction-timebar { width:150px; }
		/* all-auction timebar css below with other timebars */

	.all-private-auctions { padding:0; list-style:none; }
		.all-private-auctions li { padding-bottom:10px; }


/** =========================================================================
 *                             A U C T I O N   P A G E
 *  ========================================================================= */
.permissionblock { padding-bottom:10px; background-color:#fff; }

/* Bidlimit (Ook voor lot info page) */
.bidlimit { padding:10px; background-color:#e5e5e5; }
.lotinfo .bidlimit {margin:0 7px;}
	.bidlimit > .column {width:335px;}

	.exclamationmark {float:left; width:20px; height:20px; margin:2px 10px 0 0; background:url(../img/20/branding/sprite.png) no-repeat 0 -1800px;}
	.bidlimit .explain {float:left; width:305px;}
	.bidlimit .more {margin-top:5px;}

	.bidlimit td { padding-bottom:5px; }
	.bidlimit .label { padding-right:20px; }
	.bidlimit .calc { width:10px; }
	.bidlimit .total td { padding:5px 0; font-weight:bold; border-top:1px solid #333; }

/* Bidpermission */
.bid-permission { /* margin:0 5px; */ padding:10px; background-color:#ccc; }
.bid-permission p.inline { float:left; font-weight:bold; margin-right:10px; padding:4px 0 5px; }

/** =========================================================================
 *                                L O T   I N F O
 *  ========================================================================= */
.partofauction { margin-bottom: 5px; }

.notification-message-header { width:auto; margin: 0; padding:0 5px 10px 5px; background-color:#fff;}
.notification-message-detail { margin:8px 3px 0 0; width: auto;}
	.notification-message-detail dt { font-weight:bold; }
	.notification-message-detail dd { padding-bottom:10px; }


/* lotinfo top of page */
.lotinfo h1 { float:left; width:450px; }
.bidoverview h1 { float:none; width:auto; }
/* .lotpaging extends .paginator */
.lotpaging { float:right; width:240px; padding:5px 0 0; list-style:none; }
	.lotpaging li { float:right; }
	.lotpaging .prev { margin-right:15px; }
		.lotpaging span { float:left; }


.lot-image-container { margin-left:5px; }
	.lot-image { padding:1px; position:relative; min-height:100px; }
		.lot-image img { display:block; }

.lot-image .img-count {
	position: absolute;
	bottom: -10px;
	right: 8px;
	padding: 4px 10px;
	font-size: 12px;
	color: #fff;
	background-color: #0968ae;
	border-radius: 4px;
	box-shadow: 1px 1px 2px 0px #aaa;
}
.lot-image .img-count a {
	color: #fff;
}
.lot-image .img-count a:hover {
	text-decoration: underline;
}

.lot-description-heading { display:inline-block; padding:10px 0 0 10px; }
.lot-description { padding:0 10px 10px 10px; }
.column1of2 .lot-description .togglebox { max-height:76px; overflow:hidden; }
.column2of2 .lot-description .togglebox { max-height:120px; overflow:hidden; }
.lot-description .togglebox { max-height:76px; overflow:hidden; }
.lot-description .toggler { float:left; margin-top:5px; padding:0 0 0 15px; width:124px; background:url(../img/20/branding/sprite.png) no-repeat 0 -299px; }
	.lot-description .toggler-open { background-position:0 -318px; }
	.lot-description p { padding-bottom:12px; }
	.lot-description .clearfix ul.more { float:left; margin-top:5px; }
	.lot-description .clearfix ul.with-description { width:199px; }

/* combinationlot */
.combinationlot p { padding:0; }
.combinationlot ul { padding-bottom:10px; }

/* loticons not used on lot info page, but auction page */
.loticons { padding:0; list-style:none; }
	.loticons li { float:left; width:30px; height:30px; margin-right:5px; background:url(../img/20/branding/sprite.png) no-repeat 0 0; }
	.loticons .combolot { background-position:0 -1048px; }
	.loticons .hotlot { background-position:0 -1100px; }
	.loticons .highestbid { background-position:0 -1153px; }
	.loticons .new { background-position:0 -1198px; }
	.loticons .reverselot { background-position:-4px -859px; }

/* auction page bottom */
.icons-explain { width:auto; overflow:hidden; list-style:none; }
	.icons-explain li { float:left; width:290px; height:30px; line-height:30px; padding-left:30px; }

.timetostart { padding:10px 10px 6px 10px; border:1px solid #ccc; }
/* .timetostart styling continues below with other timebar-related stuff */

.lot-timestatus-table { width:100%; } /* timebar specific styles on bottom (ctrl-f: T I M E R S) */
	.lot-timestatus-table .time { width:202px; }

.adminlinks { margin-top:10px; background-color:#eee; }
	.adminlinks table { width:100%; }

/* LOTINFO RIGHT SIDE */
.mybid-block { padding:10px; margin:0 8px 10px 4px; background-color:#eee; }
	.mybid-block table { width:100%; }
		.mybid-block td { padding-bottom:6px; }
		.mybid-block .highestbid { color:#090; }
		.mybid-block .overbid { color:#f30; }

.buynow .block-content {
	position: relative;
}

.buynow .bidamount TD,
.bidding .bidamount TD {
	padding-bottom: 14px;
}

.buynow .btn-container {
	width: 100%;
	display: inline-block;
}

.buynow .btn-buynow {
	float: right;
}

.buynow .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.buynow .overlay .btn-container {
	margin-top: 15px;
}

.buynow .overlay .btn-dark {
	opacity: 0.6;
}

.buynow .overlay .btn-dark:hover SPAN {
	background-position: left 0px;
}
.buynow .overlay .btn-dark:hover SPAN SPAN {
	background-position: right -30px;
}
.buynow .overlay .btn-dark:hover SPAN SPAN SPAN {
	background-position: 0 -60px;
}

.buynow .overlay .bg {
	background-color: #FFF;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.97;
	z-index: 0;
}

.buynow .overlay .content {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.separator-text {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#bidding-block, #buynowoverview-block { width:356px; }

.hasBuyNow { margin-top:22px }

.biddata-container { padding:10px; }
	.biddata-container table { width:100%; }
	table.biddata.margin-top { margin-top:10px; }
		.biddata-container td { padding-bottom:6px; }
			.biddata-container ul { padding:0 0 10px; list-style:none; }
				.biddata-container li { padding-bottom:10px; }
				.biddata-container li.nopadding { padding-bottom:0; }
	.bidamount { font-size:15px; font-weight:bold; }
		.bidamount-highestbid { color:#090; }
		.bidamount-overbid { color:#f30; }

	.reversebid-icon { padding:4px 30px 6px 0; font-weight:bold; background:url(../img/20/branding/sprite.png) no-repeat right -860px; }
		.reversebid-icon a { color:#333; text-decoration:underline; }

	/* Bidoverview specific */
	.cost-description { padding:10px 0; }
	.biddata-container .hr { margin: 5px 0 10px; }

/* Action block (where the bidding takes place) */
.lotactionblock { padding:10px; color:#fff; }
	.lotactionblock h3, .lotactionblock p { color:#fff; }
	.lotactionblock a { text-decoration:underline; color:#fff; }

.actionblock-action { background:#48ACE5 url(../img/20/branding/bg-lotactionblock-action.png) repeat-x 0 0; }
    .actionblock-action #activate-reversebidding button {margin-bottom: 10px;}
    .actionblock-action .warning {margin-top: 5px; padding-top: 5px; border-top: 1px dotted #fff;}
.actionblock-win { background:#68BC00 url(../img/20/branding/bg-lotactionblock-win.png) repeat-x 0 0; }
.actionblock-loss { background:#f60 url(../img/20/branding/bg-lotactionblock-loss.png) repeat-x 0 0; }
	.actionblock-action .title, .actionblock-win .title, .actionblock-loss .title { color:#fff; }/* form labels */
.actionblock-inactive { background:#F7F7F7 url(../img/20/branding/bg-lotactionblock-inactive.png) repeat-x 0 0; }
	.actionblock-inactive p { color:#333; }
	.actionblock-inactive a { color:#0968AE; }
	.actionblock-inactive label { color:#ececec; }
	.actionblock-inactive .beforebidding-msg { color:#333; }
    .actionblock-inactive .warning { margin-top: 5px; padding-top: 5px; border-top: 1px dotted #333; }

/* bidding form (extends .form elements) */
.form .bidinputs .title, .form .bidinputs .text, .form .bidinputs span { font-size:15px; font-weight:bold; }
.actionblock-inactive .form .bidinputs .title, .actionblock-inactive .form .bidinputs span { color:#ECECEC; }
.form .bidinputs .title { padding-top:10px; }
.form .bidinputs .text { padding:4px; }
	.form .bidinputs p.text { padding-top:10px; }/* instead of input field */
.form .icon-question { margin-left:6px; }

/* before bidding */
.beforebidding-msg { padding:10px 10px; text-align:center; font-size:15px; font-weight:bold; color:#f60; }
.no-bottom-padding { padding-bottom:0; }

.lot-options { padding-top:20px; }
	.lot-options .box { padding:10px 0 7px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
	.lot-options ul { display:block; padding:0; margin:0; list-style:none; }
		.lot-options li { float:left; margin:2px 10px 0 0; }
			.lot-options .icon { float:left; width:16px; height:16px; margin:2px 5px 0 0; }
			.lot-options .fav .icon { margin-top:1px; background:url(../img/dashboard/dashboard-icons.png) no-repeat 0 -194px; }
			.lot-options .notification .icon { width:17px; height:21px; margin-top:-4px; }
			.lot-options .notification .withReminder .icon { background:url(../img/dashboard/dashboard-icons.png) no-repeat -37px -387px; }
			.lot-options .notification .withoutReminder .icon { background:url(../img/dashboard/dashboard-icons.png) no-repeat -1px -387px; }
			.lot-options .notification .withinLast5Minutes .icon { background:url(../img/dashboard/dashboard-icons.png) no-repeat -73px -387px; }
			.lot-options .send .icon { background:url(../img/20/branding/sprite.png) no-repeat 0 -900px; }
			.lot-options .ask .icon { background:url(../img/20/branding/sprite.png) no-repeat 0 -950px; }
			.lot-options .social { margin-top:0; }

#lotcount-image { display:none; }

.otherlots { padding-top:20px; }
	.otherlots h3 { padding-left:5px; }
	.otherlots .more-link { margin:1px 0 0 10px; }
	.otherlots .paginator { display:none; float:right; }
.otherlots .carousel-container .block-center { padding:0 13px; }
		.js .otherlots .carousel { height:118px; }
			.otherlots .carousel li { width:114px; height:114px; overflow:hidden; padding:2px 1px; }

.lot-biddingdisabled-explanation { padding: 10px; margin-top:15px; margin-bottom: 5px; background-color:#eee; }


/** =========================================================================
 *                                 M i j n e n
 *  ========================================================================= */
.biddata-toggle { padding:3px 0 2px 16px; font-size:12px; cursor:pointer; background:url(../img/20/branding/sprite.png) no-repeat 0 -297px; }
.biddata-toggle-open { background-position:0 -316px; }
.biddata-bidtype { padding:3px 28px 7px 0; font-size:12px; background:url(../img/20/branding/hammer.png) no-repeat right 0; }

.changed-warning { display:none; padding:5px; text-align:center; background-color:#fff; border-top:2px solid #f80; border-bottom:2px solid #f80; }/*0E6EB2*/

h4.importanttext { font-size:15px; text-align:center; }

/* Mijn blok */
.extraterms { border: 1px solid #ccc; padding: 10px 10px 0; }

.reversebidding { padding:10px; }
	.reversebidding p { padding:0 0 10px; margin:0; }

.reversebidding-progress { position:relative; width:auto; overflow:hidden; padding:5px 0 10px; font-size:30px; }
	.reversebidding-progress .currency { float:left; margin-right:8px; height:35px; color:#fff; }
	.reversebidding-progress .amount { position:absolute; top:5px; left:33px; z-index:1; font-weight:bold; color:#333; }

	.progressbar { position:relative; width:300px; height:35px; overflow:hidden; background-color:#fff; }
	.reversebidding-progress .progressbar { float:left; }
		.progressbar .bar { position:absolute; top:0; left:0; width:300px; height:35px; background-color:#FFD6AD; }

.next-reversebid { padding-left:24px; }
	.next-reversebid .time { font-weight:bold; }
	.next-reversebid .amount { font-weight:bold; }


/* Amount breakdown */
.amountbreakdown-link { padding:0 0 10px 8px; }
	.amountbreakdown-link a { display:inline-block; padding:4px 0 0 16px; cursor:pointer; text-decoration:underline; background:url("../img/20/branding/sprite.png") no-repeat 0 -295px; }
	.amountbreakdown-link a.toggle-open { background-position:0 -320px; }

		.amountbreakdown { padding:0 10px 10px 23px; }
			.amountbreakdown table { width:100%; font-size:12px; }
			.amountbreakdown p { padding:0 10px; font-size:11px; }
			.amountbreakdown td { padding:2px 2px 4px; border:none; }
			.amountbreakdown .subtotal td { border-top:1px solid #999; }
			.amountbreakdown .total td { border-top:1px solid #666; }

/*
.amountbreakdown-container { padding:0 0 10px 8px; }
	.amountbreakdown-link { display:inline-block; padding:4px 0 0 16px; margin-bottom:10px; cursor:pointer; text-decoration:underline; background:url("../img/20/branding/sprite.png") no-repeat 0 -295px; }
	.amountbreakdown-link.toggle-open { background-position:0 -314px; }
	.amountbreakdown { display:none; padding:0 10px 0 15px; }
		.amountbreakdown table { width:100%; font-size:12px; }
		.amountbreakdown p { padding:0 10px; font-size:11px; }
		.amountbreakdown td { padding:2px 2px 4px; border:none; }
		.amountbreakdown .subtotal td { border-top:1px solid #eee; }
		.amountbreakdown .total td { border-top:1px solid #eee; }
*/

	/* button */
	.reversebid-btn-container .disabled { -moz-opacity:.60; filter:alpha(opacity=60); opacity:.60; cursor:default; }
	.reversebid-btn span span span { width:200px; }

	.ie .reversebid-btn-container .disabled span { background-position:left -450px; }
		.ie .reversebid-btn-container .disabled span span { padding-right:4px; background-position:197px -540px; }
			.ie .reversebid-btn-container .disabled span span span { padding:10px 12px 17px 8px; background-position:0 -630px; }
	.reversebidding .error { padding:10px 0 0 0; }/*TODO: after integration remove id selector*/

/* yellow info block */
.reversebid-warning { width:260px; margin:-5px auto 0; color:#333; }
	.reversebid-warning p { color:#333; }
	.reversebid-warning a { color:#0968AE; }
	.reversebid-warning .bidpermission-request { padding-bottom:10px; }

/* After reverse bidding */
.lotactionblock .preview { padding:10px; background-color:#fff; border:1px solid #fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:2px 2px 3px #333; -moz-box-shadow:2px 2px 3px #333; -webkit-box-shadow:2px 2px 3px #333; }
	.lotactionblock .preview p { font-weight:bold; color:#333; }
	.lotactionblock .preview ul { margin:0; padding:0; list-style:none; }
		.lotactionblock .preview a { text-decoration:none; color:#0968ae; }
		.lotactionblock .preview a:hover { color:#f60; }

.actionblock-win .reversebid-endstatus { font-weight:bold; font-size:25px; color:#fff; }
.actionblock-loss .reversebid-endstatus { font-weight:bold; font-size:17px; color:#fff; }
.actionblock-inactive .reversebid-endstatus { font-weight:bold; font-size:17px; color:#333; }
	.actionblock-inactive .currency { color:#333; }
	.actionblock-inactive .progressbar { background:url(../img/20/branding/bg-disabled-input.gif) repeat 0 0; }
		.actionblock-inactive .progressbar .bar { display:none; }

/** =========================================================================
 *                       C O R P O R A T E   I N F O
 *  ========================================================================= */
.about .content-block { font-size:20px; font-weight:bold; }
	.about .rte { font-weight:normal; }
.corporate-info { position:relative; height:138px; background:url(../img/20/branding/bg-corporate-info.png) no-repeat 0 0; }
	.corporate-info .info { position:absolute; }
	.corporate-info .employees { top:30px; left:4px; width:121px; text-align:right; }
	.corporate-info .year-txt { bottom:80px; left:274px; width:150px; text-align:center; }
	.corporate-info .year { top:70px; left:282px; }
	.corporate-info .recentbid-txt { bottom:81px; left:471px; width:200px; text-align:center; }
	.corporate-info .recentbid-date { bottom:13px; left:440px; width:61px; text-align:center; }
	.corporate-info .recentbid-time { bottom:8px; left:514px; }

	.about .bigtxt { padding:0; font-size:60px; line-height:60px; }
	.about .fullhr { margin:10px 4px 0; height:2px; border-bottom:1px solid #ccc; }

	.about .highestbid-container { padding-bottom:0; background:url(../img/20/branding/corporateinfo-auction-facts.png) no-repeat 9px 105px; }
		.about .highestbid-container .content-padding { position:relative; height:155px; }
		.about .highestbid-container .pointer-block-highestbid {width: 565px; height: 82px; background:transparent url(../img/20/branding/shadowbox-highestbid.png) no-repeat 0 top;}
			.about .highestbid-amount .block-content { padding:10px; }
			.about .highestbid-img { margin-left:10px; float:right;}
				.about .highestbid-img .block-content { padding:2px; font-size:0; line-height:0; }
			.about .highestbid-txt { position:absolute; top:99px; left:40px; width:120px; text-align:center; }

	.about .auction-facts { min-height:190px; padding-top:0; background:url(../img/20/branding/corporateinfo-auction-facts.png) no-repeat 9px -60px; }
		.about .auction-facts .content-padding { position:relative; padding:1px 0 0 289px; }
			.about .untill-now-txt { position:absolute; top:30px; left:120px; width:70px; }
			.about .auction-facts .summary { clear:both; margin-bottom:24px; }
				.about .auction-facts .block-content { padding:10px; }


/* Options panel (= blue header - previously dashoard notifications options) TODO SASSIFY */
.options-panel {
	padding:0px 10px 0px 15px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#FFFFFF;
	font-size:14px;
	background: #0e6eb2;
	background: -moz-linear-gradient(top, #0e6eb2 0%, #2687c8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e6eb2), color-stop(100%,#2687c8));
	background: -webkit-linear-gradient(top, #0e6eb2 0%,#2687c8 100%);
	background: -o-linear-gradient(top, #0e6eb2 0%,#2687c8 100%);
	background: -ms-linear-gradient(top, #0e6eb2 0%,#2687c8 100%);
	background: linear-gradient(to bottom, #0e6eb2 0%,#2687c8 100%);
}
.ie7 .options-panel,
.ie8 .options-panel {
	background:url(../img/dashboard/bg-dashboard-notifications.png) repeat-x left top;
}

.options-panel .content {
	padding:14px 100px 0 0;
	margin:0 10px 8px 0;
	background-repeat:no-repeat;
	background-position:right center;
}
.options-panel img.icon {
	position:absolute;
	right:20px;
	top:15px;
}
.options-panel p {
	padding-bottom:13px;
	font-size:14px;
	line-height:1.5em;
}
.options-panel p input {
	top:2px;
	margin-left:-2px;
	position:relative;
}
.options-panel p a {
	font-size:12px;
	color:#FFFFFF;
	text-decoration:underline;
}

.notification-alert {
	opacity:0;
	width:660px;
	margin:auto;
	position:absolute;
	background-color:#FEFF71;
	border:solid 1px #DFDAD9;
	margin-top:-15px;
	color:#000;
}
.notification-alert p {
	padding: 4px 10px;
	font-size: 12px;
}

/* specific options-panels */
.dashboard .options-panel {margin:0px 10px 10px;}
.dashboard .options-panel .content { background-image:url(../img/dashboard/clock-dashboard.png); }
.dashboard-notificationevents { margin:10px 10px 0; }
	.dashboard-notificationevents td.disabled,
	.dashboard-notificationevents td.started {color:#999;}

.options-panel.my-searchrequests .content { background-image:url(../img/branding/pon-magnifier.png); }

/* ------ end TODO SASSIFY .options-panel */

/** =========================================================================
 *                                D A S H B O A R D
 *  ========================================================================= */

/* general */
.overbid_count { font-weight:bold; color:#f60; }

/* empty dashboard */
.myauctions-preview h1 {/* font-size:28px; */padding-bottom:10px; }
.preview em { font-style:italic; }
.dashboard-empty { width:auto; overflow:hidden; }
	.dashboard-empty .column1of2, .dashboard-empty .column2of2 { width:354px; }

/* DASHBOARD LOT LIST */
.dashboard { padding:10px 10px 15px; background-color:#fff; }
	.tabcontent { padding:10px; border:1px solid #999; border-top:none; }
	.dashboard .nopadding { padding:10px 0 0 0; }

#dashboard-ajax-update-info { display:none; }
.lotlist { width:695px; font-family:arial,serif; font-size:12px; }
.nopadding .lotlist { width:708px; }

	.lotlist th, .lotlist td {height:33px; padding:2px 3px; vertical-align: middle; }
	.lotlist th:first-child, .lotlist td:first-child { padding-left:10px; }
	.lotlist th.row-starred, .lotlist td.lotlist-starred { padding-left:3px; }
	.lotlist th { font-weight:normal; color:#0968AE; }
	.lotlist th.asc, .lotlist th.desc { font-weight:bold; }

	.lotlist .lot { background-color:rgb(255,255,255); }
	.lotlist .lot-removing { background-color:#eee; }
	.lotlist .oneclick { cursor:default; }

	/* MOUSE OVERS */
	.lotlist th:hover, .lotlist th.hover { text-decoration:underline; cursor:pointer; }

	.lotlist .lot:hover { cursor:pointer; background-color:#eee; } /* set hover feedback */
		.lotlist .lot:hover .lotname { text-decoration:underline; }
	.lotlist .oneclick:hover { cursor:default; } /* remove for 1-click */
		.lotlist .oneclick:hover .lotname { text-decoration:none; }
		.lotlist .oneclick .lotname:hover { cursor:pointer; text-decoration:underline; } /* reset for mouse over name */

	.lotlist .lot-open:hover td { background-color:transparent; }
	.lotlist .lot-open td { border-top:1px solid #999; }

	/* lotlist rows (also includes rows from other lotlists, like on category page) */
	.lotlist .row-starred { width:20px; background:url(../img/dashboard/dashboard-icons.png) no-repeat 6px -85px; }
	.lotlist .row-lot-id { width:70px; }
	.lotlist .row-lot-name { width:auto; }
	.lotlist .row-lot-timebar { width:120px; }
	.lotlist .row-current-bid { width:84px; text-align:right; }
	.lotlist .row-status { width:35px; }
	#dashboard-closed .lotlist .row-status { width:80px; }
    .lotlist .row-bid-button { width:130px; padding-left:8px; }

	/* category page */
	.lotlist .row-image { width:125px; }
	.lotlist .row-description { width:auto; }
	.lotlist .row-bids { width:55px; }
	.lotlist .row-closingdate { width:110px; }

	.lotlist .lotname { color:#0968ae; font-weight:bold; }
		.lotlist .lotname .full { display: none; }

	/* starring */
	.lotlist-starred { text-align:left; cursor:pointer; }
	.lotlist-starred a { display:inline-block; width:20px; height:20px; text-decoration:none; background:url(../img/dashboard/dashboard-icons.png) no-repeat; }
		.lotlist-starred .starred-off { background-position:3px -124px; }
		.lotlist-starred .starred-on { background-position:-29px -124px; }

	/* timebar */
	.lotlist .timebar-container { position:relative; padding-top:2px; }
		.lotlist .timebar-container .tooltip-data { position:absolute; visibility:hidden; }

	/* STATUS */
	.lotlist-status { text-align:center; }
		.lotlist-status span { display:inline-block; width:20px; height:20px; background:url(../img/dashboard/dashboard-icons.png) no-repeat; }
		.status-favoritebid .lotlist-status span { background-position:2px -190px; }
		.status-favoritebid .lotlist-status span:hover { background-position:0 1px; cursor:pointer; }
		.status-outbid .lotlist-status span { background-position:2px -157px; }
		.status-outbid .lotlist-status span:hover { background-position:2px -357px; cursor:pointer; }
.status-highestbid .lotlist-status span { background-position:-30px -190px; }

	/* top category list */
    .lotlist .lotimage-container .block-center { padding:2px 2px 0 2px; }
    .lotlist span.lotimage { display:inline-block; width:115px; }

		/* used on closed/archive page */
	.status-highestbid .status-txt { color:#090; }
	.status-outbid .status-txt { color:#f60; }

	/* lot closed */
	.lotclosedmsg { padding:5px 4px 3px; text-align:right; border:1px solid #ddd; }

	/* Remove lot (future & closed) */
	.lotlist .remove-favoritelot { text-align:right; padding-right:10px; }
		.remove-favoritelot a { display:inline-block; width:20px; height:20px; margin: -3px; background:url(../img/dashboard/dashboard-icons.png) no-repeat 0 0; }
			.remove-favoritelot span { display:none; }

	/* color differences */
	.status-outbid .dash-current-bid { color:#f60; }
	.status-highestbid .dash-current-bid { color:#090; }

    .lot-starting-soon { color:red; }
	.lot-starting-tomorrow { color:#f60; }
	.lot-starting-aftersoonbutbeforetomorrow { color:#f60; }

	/* next bid area */
	td.dash-next-bid { width: 135px; }
	.dash-next-bid div { min-height:14px; padding:7px 13px 7px 0; text-align:right; color:#fff; background:url(../img/dashboard/dashboard-nextbid.png) no-repeat 0 -1px; }
	.dash-next-bid div.oneclick { cursor:pointer !important; background-position:-1px -63px; }
	.status-favoritebid .dash-next-bid div { color:#000; background-position: right -32px; }
	.status-favoritebid .dash-next-bid div.oneclick { background-position:0 -95px; }
		.dash-next-bid .nextbid-hover-txt { display:none; margin:0; padding:0; }
		.lot:hover .nextbid-hover-txt { display:block; } /* show nextbid-hover-txt on mouseover */
		.lot:hover .nextbid-txt { display:none; }
		.oneclick:hover .nextbid-hover-txt { display:none; } /* fix for 1-click */
		.oneclick:hover .nextbid-txt { display:block; }
		.oneclick .nextbid:hover .nextbid-hover-txt { display:block; }
		.oneclick .nextbid:hover .nextbid-txt { display:none; }

	.lot .highest-bid-txt { padding-left:9px; font-size:12px; color:#999; background:transparent; }
  	.lot .dash-next-bid .highest-bid-txt { padding-left:0}

	.bid-in-progress { display:none; padding:0 0 2px 20px; font-size:11px; color:#666; background:url(../img/dashboard/ajaxloader-grey.gif) no-repeat 0 0; }

	/* Preview & empty list */
	.previewdashboard-txt { font-size:12px; font-style:italic; }

	.empty-dashboard { padding:5px; width:auto; overflow:hidden; }
		.empty-dashboard .left, .empty-dashboard .right { width:344px; }


	/* LOT DETAILS */
	.lot-detail { display:none; }
	.lot-detail-open { display:table-row; }
	.lot-detail .colspan { vertical-align:top; width:auto; overflow:hidden; }
		.lot-detail .detail { padding:10px 0 5px; }

		.lotlist .lot-detail-open td { background:url(../img/dashboard/dashboard-kaveldetail-bg.png) no-repeat bottom left; }
		.lotlist .lot-detail-open td.last { border-bottom:none; }

	.lot-detail .img { float:left; width:120px; height:120px; margin-right:10px; overflow:hidden; }
	.lot-detail .desc { float:left; width:265px; margin: 2px 0 0 5px; }
	.lot-detail .desc ul { padding:0; list-style:none; }
		.lot-detail .desc li { padding-bottom:12px; }
			.lot-detail li.remove-lot { padding-top: 10px; }
                .lot-detail li.remove-lot a { padding:2px 0 3px 20px; background:url(../img/dashboard/dashboard-icons.png) no-repeat -3px -2px; }
	.lot-detail .pricing { float:right; padding-right:10px; width:290px; }
    .lotlist .dash-current-bid{width:90px}
	.lot-detail .pricing table { width:100%; }
	.lot-detail .pricing td { height:auto; padding:2px 10px 2px 2px; font-size:12px; border:none; background:none; }
	.lot-detail .pricing .lastbid { color:#f60; }
	.lot-detail-highestbid .pricing .lastbid { color:#090; }
	.lot-detail .pricing .amount { width:108px; text-align:right; }
	.lot-detail .pricing .total td { font-weight:bold; background:url(../img/dashboard/hr-grey-dotted.gif) repeat-x 0 0; }
	.lot-detail .pricing .total-outbid td { color:#f60; }
	.lot-detail .shadowblock .block-center { padding:1px }
	.lot-detail .clearfix .btn {margin-right:10px;}

	.lot-detail-close { float:left; margin-left:4px; padding:5px 0 5px 18px; background:url(../img/20/branding/sprite.png) no-repeat 1px -313px; }
	.dash-bid-btn { margin-right:4px; }

	.image-block .block-content { line-height: 0; font-size: 0; }

/* Notification events (appear in dashboard) */
.notificationeventlist { width:698px; font-family:arial,serif; font-size:12px; }
	.notificationeventlist th, .notificationeventlist td {height:33px; padding:2px 3px; vertical-align: middle; }
	.notificationeventlist th { font-weight:normal; color:black; }

	.notificationeventlist .lot { background-color:rgb(255,255,255); }
	.notificationeventlist .lot-removing { background-color:#eee; }

	/* MOUSE OVERS */
	.notificationeventlist .lot:hover { cursor:pointer; background-color:#eee; } /* set hover feedback */
	.notificationeventlist .lot:hover .lotname { text-decoration:underline; }

	.notificationeventlist .lot-open:hover td { background-color:transparent; }
	.notificationeventlist .lot-open td { border-top:1px solid #999; }

	/* lotlist rows (also includes rows from other lotlists, like on category page) */
	.notificationeventlist .row-lot-id { width:70px; }
	.notificationeventlist .row-lot-name { width:auto; }
	.notificationeventlist .row-startingdate { width:110px; }
	.notificationeventlist .row-closingdate { width:110px; }

	.notificationeventlist .lotname { color:#0968ae; font-weight:bold; }


/* Interactive Table (base styling for personal offers, dashboard(TODO), etc.) TODO SASSIFY */
.interactive-table {
	width: 100%;
}
.interactive-table td {
	max-height: 2.75em;
	line-height: 2.75em;
}
.interactive-table .tiny-col {
	width: 30px;
}
.interactive-table .small-col {
	width: 10%;
}
.interactive-table .medium-col {
	width: 20%;
}
.interactive-table .large-col {
	width: 35%;
}
.interactive-table .half-col {
	width: 50%;
}
.interactive-table .centered {
	text-align: center;
}

/* Remove row link */
.interactive-table .action-remove-row {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -3px;
	background: url(../img/dashboard/dashboard-icons.png) no-repeat 0 0;
}
.interactive-table .action-remove-row span {
	display: none;
}

/* Personal offers - overview (.interactive-table implementation) */
.searchresults th {
	font-weight: normal;
}

/* ------- END TODO SASSIFY interactive-table */

/* Overflowing text functionality */
.overflowing-text-layer {
	margin-top: -3px;
	padding: 3px 20px 3px 0;
	background: #fff url(../img/branding/bg-overflowing-text-layer.png) no-repeat right top;
}

/* Personal offers - aside */
.unsubscribe-personaloffer {}
    .unsubscribe-personaloffer ul { list-style-type: disc; padding-left: 30px; }
    .unsubscribe-personaloffer ul li { margin-bottom: 5px; }

/* Bid feedback message */
.bid-feedback { visibility:hidden; position:absolute; top:0; left:-9999px; width:200px; background:#FFFE9A url(../img/dashboard/bid-feedback-bg.gif) repeat-x 0 0; border:1px solid #999; z-index:100; font-family:arial,serif; font-size:12px; text-align:left; }
	.feedback-pointer { position:absolute; top:11px; left:-17px; width:17px; height:31px; background:url(../img/dashboard/bid-feedback-pointer.png) no-repeat 0 0; }
	.feedback-close { position:absolute; top:5px; right:5px; width:18px; height:18px; cursor:pointer; background:url(../img/dashboard/dashboard-icons.png) no-repeat 0 -225px; }

	.f-top { padding:10px 0 0; }
		.f-bottom { padding:0 0 10px; }
			.f-content { padding:0 10px; }
				.feedback-title { width:165px; font-size:1.4em; font-weight:bold; color:#f60; margin:0; padding-bottom:6px; }
				.feedback-desc { margin:0; }

	div.feedback-hr { height:1px; margin:0 0 5px; background:url(../img/dashboard/hr-grey-dotted.gif) repeat-x 0 0; }
		div.feedback-hr hr { display:none; }

		.oneclick-ad { position:relative; padding-top:6px; }
			.oneclick-icon { position:absolute; top:9px; right:3px; width:26px; height:26px; background:url(../img/dashboard/dashboard-icons.png) no-repeat 0 -256px; }
			.oneclick-ad ul { margin:0; padding:0; list-style:none; }
				.oneclick-ad li { padding-left:22px; background:url(../img/dashboard/dashboard-icons.png) no-repeat; }
				.oneclick-ad .oneclick-info { padding-bottom:8px; background-position:-49px -223px; }
				.oneclick-ad .disable-oneclick-ad { background-position:-44px -257px; }

/* Dashboard icon legend */
.icon-legend { width:auto; overflow:hidden; padding:15px 5px 5px; list-style:none; }

	/* Alter footer on dashboard-current */
	body.myauctions-current { height:auto; } /* reset sticky footer for dashboard because of dashboard toolbar */
		body.myauctions-current .container-footer { margin-top:0; margin-bottom:30px; padding:0; width:960px; background-color:transparent; }
		.container-footer .dashboard-footer-wrapper { overflow:hidden; width:720px; padding:10px 0 10px 10px; background-color:#fff; }

	.icon-legend li { float:left; padding:2px 8px 0 0; font-size:11px; font-family:arial,serif; }
	.icon-legend .star { color:#333; }
	.icon-legend .highestbid { color:#090; }
	.icon-legend .outbid { color:#f60; }
	.icon-legend .favorite, .icon-legend .oneclick { color:#666; }
		.icon-legend span { float:left; width:16px; height:16px; margin-right:2px; background:url(../img/dashboard/dashboard-icons.png) no-repeat 0 0; }
		.icon-legend .star span { background-position:-32px -128px; }
		.icon-legend .highestbid span { background-position:-32px -193px; }
		.icon-legend .outbid span { background-position:0 -160px; }
		.icon-legend .favorite span { background-position:0 -193px; }
		.icon-legend .oneclick span { background-position:-31px -288px; }


/* DASHBOARD TOOLBAR */
.dashboard-toolbar-wrapper { position:fixed; bottom:0; left:0; width:100%; height:39px; z-index:99; background:url(../img/dashboard/dashboard-icons.png) repeat-x 0 -313px; }
	.dashboard-toolbar { width:960px; padding:0 10px; margin:0 auto; color:#fff; text-align:left; }
		.dashboard-updated { float:left; margin-top:16px; font-size:12px; }
		.update-indicator { float:left; margin:10px 10px 0 10px; padding-top:4px; width:16px; }
			#update-indicator { display:none; }
		.btn-update-dashboard { float:left; }
			.btn-update-dashboard span { padding:0 0 0 21px; background:url(../img/dashboard/dashboard-update-btn.png) no-repeat left -50px; }
				.btn-update-dashboard span span { padding:0 21px 0 0; background-position:right -100px; }
					.btn-update-dashboard span span span { padding:16px 0 7px 0; color:#fff; background-position:0 -150px; background-repeat:repeat-x; }

.dashboard-toolbar-wrapper button.disabled { cursor:default; }
			.dashboard-toolbar-wrapper button.disabled span { background-position:left -200px; }
				.dashboard-toolbar-wrapper button.disabled span span { background-position:right -250px; }
					.dashboard-toolbar-wrapper button.disabled span span span { background-position:0 -300px; color:#3784bd; }


/* Dashboard other */
#preloader { position:absolute; left:-9999px; visibility:hidden; }


/** =========================================================================
 *                                C A T E G O R I E S
 *  ========================================================================= */
/* quick-selector */
.category-quicklinks {padding:0 0 10px; list-style:none;}
	.category-quicklinks li {line-height:20px;}

/* category index */
ul.categories { padding:0; }
ul.categories li { overflow:auto; padding:10px 0 0 0; }

ul.categories .category-img { width:124px; float:left; }
	ul.categories .category-img .block-content { padding:1px; }
	ul.categories .category-img img { display:block; }
ul.categories .category-data { width:575px; padding:2px 0 0 10px; float:left; }

/* category list */
.category-listcontent { position:relative; padding-bottom:11px; }

.category .lotlist td { vertical-align: top; }
.category .lotlist th:hover { text-decoration: none; cursor: default;}
.category .lotlist th.sort:hover { text-decoration: underline; cursor: pointer;}

/* CATEGORY FLOAT BAR */
.float-bar { position:relative; left:-6px; width:742px; }
.float-bar.floating { position:fixed; z-index:99; }
	.float-bar-main { position:relative; padding:7px 20px; font-size:14px; font-weight:bold; background-color:#0968ae; color:#fff; }
		.float-bar .title { padding:0 8px 0 0; max-width:460px; }
		.float-bar .subcategory { position:absolute; right:0; bottom:7px; padding:0 0 0 15px; width:200px; font-size:12px; font-weight:normal; background:url(../img/20/branding/sprite.png) no-repeat 0 -1755px; }
			.float-bar .subcat-name { display:block; }
			.float-bar .subcat-name:hover { cursor:pointer; text-decoration:underline; }
			.float-bar .dropdown-icon { display:inline-block; width:10px; padding:6px 0 0 4px; background:url(../img/20/branding/sprite.png) no-repeat right -1785px; }
			.float-bar .nfo-dropdown-content { top:22px; width:169px; padding:8px 10px 5px; list-style:none; }
				.float-bar .nfo-dropdown-content li { padding-bottom:5px; }
				.float-bar .nfo-dropdown-content li a:hover { text-decoration:underline; }
	.float-bar-footer { clear:both; overflow:visible; height:7px; background:url(../img/20/branding/float-bar-bottom.png) no-repeat 0 0; }
		.float-bar-footer .filling { height:7px; margin-left:6px; background:url(../img/20/branding/float-bar-bottom.png) no-repeat right -8px; }

/* ALL PAGE - ASIDE */
.aside-block .current-categories { padding:0 0 10px; list-style:none; }
	.aside-block .current-categories li {  }

/** =========================================================================
 *                             R T E - L A Y O U T
 *  ========================================================================= */
.rte-layout { padding-left:10px; background-color:#fff; }
	.rte-layout .rte-wrapper { padding-bottom:20px; width:auto; overflow:hidden; }
		.rte-layout .column { float:left; margin-right:20px; }
		.rte-layout .twocolumns .column { width:340px; }
		.rte-layout .threecolumns .column { width:220px; }
		.rte-layout .fourcolumns .column { width:160px; }
			.rte-layout .focusblock { padding:10px;
				filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#ebebeb, endColorstr=#fcfcfc);
				background-image:-moz-linear-gradient(top, #ebebeb, #fcfcfc);
				background-image:-webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#fcfcfc));
				background-image:-webkit-linear-gradient(top, #ebebeb, #fcfcfc);
				background-image:-0-linear-gradient(top, #ebebeb, #fcfcfc);
			}


/** =========================================================================
 *                                T I M E R S
 *  ========================================================================= */
.timebar { clear:both; width:330px; padding-top:10px; overflow:hidden; font-family:arial; font-size:12px; }
	.timebar .outside-txt { padding-bottom:5px; color: #666; font-size: 11px; }
	.timebar .txt { padding:5px 0 4px 10px; }
	.timebar .barframe { position:relative; height:4px; overflow:hidden; background-color:#ccc; }
		.timebar .bar { position:absolute; top:0; left:0; width:330px; height:4px; background-color:#ffb380; }

/* Homepage */
.home .timebar { padding-top:5px; }

/* Dashboard & all auctions timers */
.myauctions .timebar,
.all-auctionslist .timebar { position:relative; width:120px; margin-bottom:0; padding-top:0; }
	.myauctions .timebar .txt,
	.all-auctionslist .timebar .txt { position:absolute; bottom:5px; left:5px; padding:0; z-index:2; }
	.myauctions .timebar .barframe,
	.all-auctionslist .timebar .barframe { height:23px; font-size:11px; border:1px solid #ddd; background-color:transparent; }
		.myauctions .bar,
		.all-auctionslist .bar { width:120px; height:30px; background-color:#f80; z-index:1; }

/* Countdown timer on lot info page */
.lot-timestatus-table .timebar { position:relative; padding-top:0; width:200px; }
  .lot-timestatus-table .txt { position:absolute; bottom:4px; left:5px; padding:0; z-index:2; }
	.lot-timestatus-table .barframe { height:23px; border:1px solid #ccc; background-color:#fff; }
		.lot-timestatus-table .bar { width:200px; height:23px; background-color:#FFD6AD; }
  .lot-timestatus-table .closing-auction { padding:0; }

.timetostart .timebar { width:auto; }
	.timetostart .txt { position:relative; text-align:center; font-size:15px; line-height:20px; font-weight:bold; color:#f60; }
	.timetostart .barframe { display:none; }

	.timetostart-reversebid .txt { position:relative; bottom:0; left:0; }
	.timetostart-reversebid .barframe { display:none; }

/* Timebar bar positions */
.tb0 .bar { left:-99%; background-color:#f60; }
.tb5 .bar { left:-95%; background-color:#f60; }
.tb10 .bar { left:-90%; background-color:#f60; }
.tb15 .bar { left:-85%; background-color:#f60; }
.tb20 .bar { left:-80%; background-color:#f60; }
.tb25 .bar { left:-75%; background-color:#f60; }
.tb30 .bar { left:-70%; }
.tb35 .bar { left:-65%; }
.tb40 .bar { left:-60%; }
.tb45 .bar { left:-55%; }
.tb50 .bar { left:-50%; }
.tb55 .bar { left:-45%; }
.tb60 .bar { left:-40%; }
.tb65 .bar { left:-35%; }
.tb70 .bar { left:-30%; }
.tb75 .bar { left:-25%; }
.tb80 .bar { left:-20%; }
.tb85 .bar { left:-15%; }
.tb90 .bar { left:-10%; }
.tb95 .bar { left:-5%; }

/** =========================================================================
 *                             I n f o w i n d o w
 *  ========================================================================= */
.img-box ul { list-style-type : none; }

#infowindow_overlay { background:#000; }
#infowindow_content { background:#fff; padding:15px; width:350px; }
#infowindow_content.img { width:500px; }

#infowindow_content.img-gallery { width:642px; padding:0; position:relative; }
#infowindow_content.img-gallery .img-box { position:relative; z-index:1000; margin-top:33px;background:#fff; list-style:none; width:640px; height:480px; border:1px solid #fff; overflow:hidden; -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); }

.img-gallery ul { overflow:auto; padding:0; position:absolute; }
.img-gallery ul li { padding-right:1px; width:640px; overflow:hidden; height:480px; float:left; text-align:center; position:relative; }
.img-gallery ul li a.img { cursor:inherit; }
.img-gallery ul li img.zoomed { position:absolute; top:0; left:0; }
.img-gallery ul li.loader { background:url(../img/20/branding/loader-large-fff-666.gif) 50% 50% no-repeat; cursor:wait !important; }

.img-gallery .prev,
.img-gallery .ghost-prev,
.img-gallery .next,
.img-gallery .ghost-next { position:absolute; top:180px; width:59px; height:100px; overflow:hidden; text-indent:-999px; z-index:9999; background:url(../img/20/branding/img-gallery.png) no-repeat; }
.img-gallery .prev, .img-gallery .ghost-prev { background-position:0 0; right:642px; }
.img-gallery .next, .img-gallery .ghost-next { background-position:100% 0; left:642px; }
.img-gallery .ghost-prev, .img-gallery .ghost-next { background:none; }

.img-gallery .nav { text-align:right; background:url(../img/20/branding/img-gallery.png) no-repeat 0 bottom; position:absolute; right:0; top:-33px; z-index:999; padding:6px 4px 0 0; height:27px; width:326px; color:#666; text-align:right; }
.img-gallery .nav a { color:#666; }
.img-gallery .nav a:hover { color:#000; }

.img-gallery .showing { position:absolute; left:8px; top:10px;  }
	.img-gallery .zoom span { display:none; }
	.img-gallery .zoom a { display:inline-block; width:23px; height:23px; margin-bottom:-7px; background:url(../img/20/branding/img-gallery.png) no-repeat; }
	.img-gallery .zoom .zoomin { background-position: -261px -121px; }
	.img-gallery .zoom .zoomout { background-position: -284px -121px; margin-right:15px;  }
	.img-gallery .zoom .zoomin:hover { background-position: -261px -144px; }
	.img-gallery .zoom .zoomout:hover { background-position: -284px -144px; }
	.img-gallery .dzoomin { background-position:-261px -167px !important; cursor:default; }
	.img-gallery .dzoomout { background-position:-284px -167px !important; cursor:default; }

	.img-gallery .close .icon { display:inline-block; width:23px; height:23px; margin:0 0 -7px 5px; background:url(../img/20/branding/img-gallery.png) no-repeat -308px -121px; }
	.img-gallery .close:hover .icon { background-position:-308px -144px; }


/* Other */
#container-admin { text-align:center; }
	#container-admin p { padding:0 10px; border-top:1px solid #999; }


/** =========================================================================
 *                         H T M L   T e m p l a t e s
 *  ========================================================================= */
/* used to display empty html snippets to be used for JS */
#html-templates { position:absolute; left:-9999px; visibility:hidden; display: none; }

/* LOT-IMAGE (.lotimage-container == .shadowblock) */
.lotimage-container { display:inline-block; }
	.lotimage-container .block-center { padding:2px; }
        .lotimage-container a.lotimage { display:block; font-size:0; line-height:0; }
        .lotimage-container a.lotlink { display:block; font-size:0; line-height:0; }
.lotinfo #lot-image { width:345px; }

/* LOT-IMAGE OPTIONS - top, left & width adjusted by JS */
.img-options { position:absolute; top:0; left:0; height:17px; width:100%; overflow:visible; background:url(../img/20/branding/sprite.png) repeat-x 0 -1675px; } /* 0 -1700px | 0 -1725px */
.img-options.img-hover { background-position:0 -1700px; }
.img-options:hover { background-position:0 -1725px; }

	/* FAVORITIZE - default & not favorite */
	.img-options .favoritize { position:absolute; top:-4px; left:-4px; height:25px; width:28px; background:url(../img/20/branding/sprite.png) no-repeat 30px -1496px; }
	.img-options.img-hover .favoritize { background-position:7px -1514px; } /* white transparent */
	.img-options:hover .favoritize { background-position:7px -1536px; } /* white */
	.img-options:hover .favoritize:hover { background-position:-1px -1565px; cursor:pointer; }
	.img-options .favoritize.favorite { background-position:7px -1492px; } /* currently favorite */
	.img-options:hover .favoritize.favorite:hover { background-position:-1px -1600px; cursor:pointer; }

	/* favoritize feedback - top & left adjusted by JS */
	.favoritize-feedback { position:absolute; top:0; left:0; width:60px; height:50px; visibility:hidden; }
		.favoritize-feedback img { width:100%; height:100%; }
		.favoritize-feedback img.favor, .favoritize-feedback.unfavor img.unfavor { display:block; }
		.favoritize-feedback img.unfavor, .favoritize-feedback.unfavor img.favor { display:none; }

	/* NOTIFICATION - default & not notified */
	.img-options .notificate { position:absolute; top:-7px; left:16px; height:28px; width:25px; background:url(../img/20/branding/sprite.png) no-repeat 30px -2001px; }
	.img-options.img-hover .notificate { background-position:5px -2020px; } /* white transparent */
	.img-options:hover .notificate { background-position:5px -2042px; } /* white */
	.img-options:hover .notificate:hover { background-position:-1px -2072px; cursor:pointer; }
	.img-options .notificate.notification { background-position:5px -1998px; } /* currently favorite */
	.img-options:hover .notificate.notification:hover { background-position:-3px -2108px; cursor:pointer; }

	/* notification feedback - top & left adjusted by JS */
	.notifications-feedback { position:absolute; top:0; left:0; width:60px; height:81px; visibility:hidden; }
		.notifications-feedback img { width:100%; height:100%; }
		.notifications-feedback img.notify, .notifications-feedback.unnotify img.unnotify { display:block; }
		.notifications-feedback img.unnotify, .notifications-feedback.unnotify img.notify { display:none; }

/* Favorite INSTANCES - hotlist (homepage) */
.lotblock .img-options { height:21px; }
.lotblock .img-options .favoritize { top:-2px; left:-2px; }
.lotblock .img-options .notificate { top:-4px; left:20px; }


/** =========================================================================
 *                         T E M P / i n t e g r a t i o n
 *  ========================================================================= */
ul.standard { padding:0 0 12px; list-style:none; }

/* logged in block */
.iconbuttons { padding:8px 0 0; list-style:none; width:auto; overflow:hidden; }
	.iconbuttons li { float:right; margin-bottom:4px; }
	.iconbuttons a { display:inline-block; padding-left:30px; background:url(../img/20/branding/iconbutton.gif) no-repeat 0 0; }
	.iconbuttons .follow a { background-position:0 -22px; }
		.iconbuttons span { display:inline-block; padding:3px 9px 4px 4px; background:url(../img/20/branding/iconbutton.gif) no-repeat right 0; }

.confirm-password .formbuttons a { margin-right:10px; }
.confirm-password .error-msg { display:none; color:#f00; }

.altbutton { margin-right:10px; }

.bid-information li { margin-bottom:10px; }

.numeric.alignright { text-align: right; }


/** =========================================================================
 *                         G o o g l e   M a p s
 *  ========================================================================= */
.infoBox {width: 250px; padding: 0 10px 30px 10px; min-height: 100px; background: url(../img/20/branding/google-maps-infobox-bg.png) no-repeat bottom left}
.infoBox .infobox-wrapper {background: #fff; width: 260px; padding: 5px 5px 0}
.infoBox .clusterheader { overflow:hidden; background: #fff; width: 260px; padding: 2px 0 2px; margin-bottom: 8px; border-bottom: 1px solid #ddd}
.infoBox a {color: #0968AE;}
.infoBox h3 {color: #0968AE; font-weight: 700}
.infoBox img {padding: 2px; border: 1px solid #DDD; margin-bottom: 5px; width:56px; height:56px; display:block; position:relative;}
.infoBox p {padding-bottom: 5px; }
.infoBox .clusterheader p { width:162px; float:left; text-align:center; font-size:11px;}
.infoBox .left {width: 65px; overflow: hidden;}
.infoBox .right {width: 190px}
.infoBox .more {clear: both; display: block;}
.infoBox .nav-prev {background:url('../img/20/branding/sprite.png') no-repeat -7px -1970px; width:19px; height:19px; float:left; cursor: pointer;}
.infoBox .nav-next {background:url('../img/20/branding/sprite.png') no-repeat -5px -1932px; width:19px; height:19px; float:right; cursor: pointer}
.infoBox .nav-prev:hover { background-position: -7px -1893px; }
.infoBox .nav-next:hover { background-position: -5px -1856px; }


/** =========================================================================
 *                         Toggle view all auctions page
 *  ========================================================================= */
 .auction-list { display:block; }
 .auction-map { display:none; }

