BODY.bva2_0.home,
BODY.bva2_0.interest-group {
    margin-top: 0;
}
.bva2_0 .wrapper-main .header {
    display: inline-block;
}
.bva2_0.home .personal-data,
.bva2_0.interest-group .personal-data {
    top: 10px;
}
.bva2_0.home .center-container .header,
.bva2_0.interest-group .center-container .header {
    padding-top: 10px;
}

/* Hides the first option */
/*.selectboxit-option-first,*/
.bva2_0 .selectboxit-list .selectboxit-selected {
    display: none;
}

/* Hides options icons to reflect design */
.bva2_0 .selectboxit-option-icon {
    display: none;
}

/* Shows the icon of the selected one */
.bva2_0 .selectboxit-default-icon {
    display: block
}

/*-----------------------------------*/

.bva2_0 .language-select {
    border: 1px solid transparent;
    background: transparent none;
    color: #898989;

    width: 134px !important;
    border-radius: 0 !important;
}

.bva2_0 .language-select.selectboxit-enabled.selectboxit-btn:hover {
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.92);
}

.bva2_0 .language-select.selectboxit-open.selectboxit-btn:hover {
    border: 1px solid #aaa;
    background-color: rgba(255, 255, 255, 0.92);
}

.bva2_0 .language-select.selectboxit-enabled.selectboxit-btn:hover .selectboxit-text {
    color: #898989;
}

.bva2_0 .language-select.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    top: 44%;
}

.bva2_0 .language-select.selectboxit-enabled:focus {
    border: 1px solid #ccc;
    background-color: transparent;
}

.bva2_0 .language-select.selectboxit-focus:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.bva2_0 .language-select .selectboxit-default-arrow {
    border-top: 4px solid #898989;
}

.bva2_0 .language-select .selectboxit-option-icon-url {
    display: inline-block;
    background-size: 15px 15px;
    height: 22px;
    width: 18px;
}
.bva2_0 .selectboxit-list .selectboxit-option-icon-container {
    display:none;
}
.bva2_0 .language-select .selectboxit-text {
    font-size: 12px;
    color: #898989;
    text-indent: 10px;
}

.bva2_0 .language-select:hover .selectboxit-text {
    color: #fff;
}

.bva2_0 .selectboxit-options {
    border-radius: 0 !important;
}

.bva2_0 .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    background: #0968ae none;
    color: #fff;
}

.bva2_0 .selectboxit-list .selectboxit-option-anchor {
    color: #898989;
    font-size: 12px;
    padding-left: 0;
    text-decoration: none;
}

.bva2_0 .selectboxit-list .selectboxit-option-anchor:hover {
    color: #fff;
}

.bva2_0 .selectboxit-list .selectboxit-option:not(.selectboxit-option-last) {
    border-bottom: 1px solid rgba(230, 230, 230, 0.68);
}

.bva2_0 .selectboxit-container .selectboxit-options {
    background-color: rgba(255, 255, 255, 0.92);
    border: solid 1px rgba(204, 204, 204, 0.18);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    top: 100% !important;
}

/*
 Search field styling autocomplete
*/

.bva2_0 .ui-autocomplete-input {
    width: 230px;
    height: 28px;
    border: 1px solid #eee;
    border-right: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.bva2_0 .ui-autocomplete-input:hover {
    border-color: #cacaca;
}

.bva2_0 .ui-autocomplete-input:focus {
    outline: 0;
    border-color: #208beb;
}

.bva2_0 .search-container {
    float: left;
    margin-left: 40px;
    margin-top: 24px;
    z-index: 150000;
    margin-right: 275px;
}

.bva2_0 .search-container .btn {
    width: 28px;
    height: 28px;
    background-color: #eee;
    border: 1px solid #eee;
    border-left: 0;
    box-sizing: border-box;
    margin-left: -28px;
}

.bva2_0 .ui-autocomplete-input:hover + .btn {
    border: 1px solid #cacaca;
    border-left: 0;
}

.bva2_0 .ui-autocomplete-input:focus + .btn {
    background-color: #208beb;
    /*TODO: focus bg-img from Thierry*/
    border: 1px solid #208beb;
    border-left: 0;
}

.bva2_0 .ui-autocomplete-input:focus + .btn .icon-search {
    background: url(../img/20/icons/search_white.png) no-repeat center;
}

.bva2_0 .search-container .btn .icon-search {
    background: url(../img/20/icons/search_grey.png) no-repeat center;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.bva2_0 UL.ui-autocomplete {
    background-color: rgba(255, 255, 255, 0.92);
    border: solid 1px rgba(204, 204, 204, 0.18);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.bva2_0 UL.ui-autocomplete LI {
    font-size: 14px;
    padding: 8px 3px 8px 13px;
    color: #898989;
}

.bva2_0 UL.ui-autocomplete LI:not(:last-child) {
    border-bottom: 1px solid rgba(230, 230, 230, 0.68);
}

.bva2_0 UL.ui-autocomplete LI.ui-autocomplete-category {
    margin-top: 0;
    border-top: 0;
    color: #6a6a6a;
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 4px;
}

.bva2_0 UL.ui-autocomplete LI:hover,
.bva2_0 UL.ui-autocomplete LI:focus,
.bva2_0 UL.ui-autocomplete LI.ui-state-hover,
.bva2_0 UL.ui-autocomplete LI.ui-state-focus {
    color: white;
    background-color: #0968AE;
}

/*
    Navigation styling
*/

.bva2_0 .navigation {
    margin-bottom: -200px;
    position: relative;
    float: right;
    z-index: 100;
    bottom: 25px;
    width: auto;
    clear: left;
}

.bva2_0 .navigation A {
    color: #208beb;
    padding: 5px 0;
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
    line-height: 15px;
}

.bva2_0 .navigation A:hover {
    text-decoration: underline;
}


.bva2_0 .navigation .active A {
    font-weight: bold;
}

.bva2_0 .navigation ul {
    text-align: right;
    width: 100%;
    overflow: visible;
}

.bva2_0 .navigation li {
    float: right;
}

.bva2_0 .navigation .meer .opener {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: -10px;
}

.bva2_0 .register-link:hover,
.bva2_0 .login-link:hover,
.bva2_0 .second-menu-container a:hover {
    text-decoration:underline;
}



/*
    Header & body background
*/

BODY.bva2_0 {
    background: #f8f8f8;
    margin-top:10px;
}

.bva2_0 .header-background {
    background: #fff;
    width: 100%;
    height: 115px;
    position: absolute;
    top: 0;
}

.bva2_0 .header-branding {
    width: 960px;
}

.bva2_0 .nav4, .bva2_0 .nav5, .bva2_0 .nav6 {
    float: left;
    font-size: 12px;
    display: inline-block;
    margin: 7px 10px;
}

.bva2_0 .nav4 a, .bva2_0 .nav5 a, .bva2_0 .nav6 a {
    color: #898989;
}

.bva2_0 .second-menu-container {
    float: right;
    display: inline-block;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    line-height: 1px;
    margin: 10px 230px -1px 0;
}

.bva2_0 .personal-data-header {
    display: none;
}

.bva2_0 .personal-data-header .shadow {
    display: none;
}

.bva2_0 .personal-data {
    width: 228px;
    height: 2px;
    float: right;
}

.bva2_0 .personal-data .content {
    padding: 0;
}

.bva2_0 .language-selector-container {
    float: right;
    height: 36px;
}

/*
	login&register links/btn
*/
.bva2_0 .login-opener A {
    color: #208beb;
}

.bva2_0 .login-opener {
    overflow: hidden;
    width: auto;
    height: 17px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.bva2_0 .loginpanel-left {
    float:left;
    display:inline-block;
}

.bva2_0 .loginpanel-right {
    display:inline-block;
    margin: 0 auto;
}

.bva2_0 .loginpanel-right a {
    display:inline-block;
    width:100%;
    text-align:center;
}
.bva2_0 A.opener {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 12px 10px 7px;
}

.bva2_0 A.opener:hover {
    border-color: #bbb;
    padding: 12px 10px 7px;
}

.bva2_0 A.opener SPAN {
    display: inline-block;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bva2_0 .header {
    height: auto;
}

.bva2_0 .header .icon-user,
.bva2_0 .personal-data .icon-user {
    width: 10px;
    height: 14px;
    display: inline-block;
    background: url('../img/20/icons/usericon.png') no-repeat;
    margin-right: 10px;
    /*margin-bottom: -2px;*/
}

.bva2_0 .header .icon-arrow-down,
.bva2_0 .personal-data .icon-arrow-down {
    width: 8px;
    height: 4px;
    display: inline-block;
    background: url('../img/20/icons/downarrowicon.png') no-repeat;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 4px;
}

.bva2_0 .isOpen A.opener {
    border: 1px solid rgba(204, 204, 204, 0.18);
}

.bva2_0 .isOpen A.opener:hover {
    background-color: #f6f9ff;
}

/*
	login pannel
*/
.bva2_0 .personal-data .content {
    padding-left: 0;
    padding-right: 0;
}

.bva2_0 #ajaxlogincontainer {
    margin-top: -1px;
    margin-left: 2px;
}

.bva2_0 .personal-data .loginform {
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid rgba(204, 204, 204, 0.18);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 12px 5px 10px;
}

.bva2_0 .loginform INPUT[type='text'] {
    border: 1px solid #eee;
    padding: 2px 6px;
}

.bva2_0 .loginform LABEL {
    color: #898989;
}

.bva2_0 .loginform .btn {
    /*border: 1px solid magenta;*/
    background-color: #208BEB;
    color: #fff;
    padding: 4px 22px;
}

.bva2_0 .loginform A {
    color: #208BEB;
}

.bva2_0 .header-logo {
    margin-top: 41px;
}

.bva2_0 .header-logo img {
    margin-left: 10px;
    margin-right: 0;
}

.bva2_0 .personal-data .content {
    padding-left: 0;
    padding-right: 0;
}

.bva2_0 .personal-data .loginform {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .97);
    border: 1px solid rgba(204, 204, 204, 0.18);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 12px 2px 10px;
}

.bva2_0 .loginform INPUT[type='text'],
.bva2_0 .loginform INPUT[type='password'] {
    border: 1px solid #eee;
    padding: 2px 6px;
}

.bva2_0 .loginform LABEL {
    color: #898989;
}

.bva2_0 .loginform .btn {
    /*border: 1px solid magenta;*/
    background-color: #208beb;
    color: #fff;
    padding: 4px 22px;
}

.bva2_0 .loginform A {
    color: #208beb;
}

.bva2_0 .loginform UL.more LI {
    padding-left: 0;
    background: none;
}

/**
 * Meer
 */
.bva2_0 .other-selector-container-container {
    position: relative;
    margin-top: 27px;
}

.bva2_0 .other-selector-container {
    position: absolute;
    right:10px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .97);
    border: 1px solid rgba(204, 204, 204, 0.18);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-left: 158px;
    padding: 10px 0 5px 10px;
    line-height: 70%;
    width: 180px;
    display: none;
}

.bva2_0 .other-selector-container UL LI {
    background: none;
    display: block;
    float: left;
    text-align: left;
}

.bva2_0 .meer {
    margin-top: -8px;
}

.bva2_0 .loginform UL {
    padding: 0;
}

.bva2_0 .loginform UL LI {
    background: none;
    list-style: outside none none;
    margin: 0 0 5px;
    padding: 0;
}

.bva2_0 .loginform DIV.hr {
    border-bottom: 1px dotted #eee;
    height: 1px;
    margin: 0 0 5px;
}

/*blue link color overwrites the colors, so we apply more specificity thru .bva2_0 */
.bva2_0 .shortlist-links .overbid a {
    color: #f60;
}

.bva2_0 .shortlist-links .highestbid a {
    color: #090;
}

.bva2_0 .wrapper-main {
    overflow: visible;
}

.bva2_0 .navstaticmeer {
    clear: left;
}

.bva2_0 .buffer {
    height: 112px;
}

/**
 * Aside
 */
.bva2_0.loggedin #aside {
    margin: 10px 0 0;
}
.bva2_0 .page {
    position: relative;
}

/* Hero */

.bva2_0 .hero {
    position: relative;
    clear: both;
    width: 960px;
    overflow: hidden;
    padding: 0;
    margin: 0 0 8px;
}

.bva2_0 .hero .col.half {
    position: relative;
    float: left;
    display: inline-block;
    color: #fff;
}

.bva2_0 .hero .timebar .barframe {
    position: relative;
    height: 6px;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 90px;
}

.bva2_0 .hero .bar {
    height:6px;
}

.bva2_0 .hero .col.half.content {
    width: 480px;
    height: 300px;
    background-color: #0968AE;
}

.bva2_0 .hero h2 {
    font-family: Arial;
    color:#fff;
    font-weight:700;
    font-size: 34px;
    margin: 0;
    padding: 3px 0;
    margin-top: -5px; /*cosmetic adjustment to the natural spce between the font and the top of the div*/
    line-height: 37px;
    max-width: 390px;
    max-height:72px;
    overflow: hidden;
}

.bva2_0 .hero h3 {
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 15px 0;
    max-width: 390px;
    max-height:72px;
    overflow: hidden;
}

.bva2_0 .hero h3 img{
    display:none; /* avoiding unwanted images from json in title*/
}

.bva2_0 .hero .col.half.img {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 480px; /*avoid wrong size in html*/
    height: 300px;
}
@-moz-document url-prefix() {
    .bva2_0 .hero button {
        margin-top:10px;
    }
}
.bva2_0 .hero A.btn {
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: none;
    line-height:20px;
    margin-top: 22px;
    display: inline-block;
    text-decoration: none;
    background-color: #FF6600;

}

.bva2_0 .hero A.btn:hover {
    cursor: pointer;
    background-color: #E15A00;
}

.bva2_0 .hero .timebar {
    position:relative;
    display:table;
    margin:0;
    padding:0;
    /* zoom to resize the timebar component mantaining proportions: note that all css about the element follow the zoom, so if zoom:0.5, width is 50%, but also padding... */
    zoom: 0.63;
    /* all browsers */
    -moz-transform: scale(0.63);
    /* Firefox
  */
    -moz-transform-origin: 0 0;
    overflow: visible;
}

.bva2_0 .hero .timebar .bar {
    background-color: #FF6600;
}

.bva2_0 .hero .timebar .outside-txt {
    padding-bottom: 5px;
    color: #fff;
    font-size: 20px;
    font-weight:400;
    float: left;
    padding-right: 5px;

}

.bva2_0 .hero .txt {
    padding: 0;
    margin: 0 0 5px 0;
    font-family: Arial;
    font-size: 20px;
    white-space: nowrap;
}


.bva2_0 .hero .timestring {
    font-weight:700;
}

.bva2_0 .hero .centeredcontainer {
    position: relative;
    display: table;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .bva2_0 .hero .timebar{
        zoom:0.65;
    }
}

.bva2_0 .hero .closing-auction {
    font-family: Arial;
    color:#fff;
}

/*
    Auction list
*/
.bva2_0 .half {
    width: 50%;
    float: left
}

.bva2_0 .home-auction-list .auctionlist {
    box-sizing: border-box;
    padding-left: 8px;
    padding-bottom: 0;
}

.bva2_0 .home-auction-list .scroll-box {
    height: 343px;
}

.bva2_0 .column1of2 {
    position: relative;
}

.bva2_0 .auctionlist h2 {
    font-size: 20px;
    color: #333;
    font-weight: 400;
}

.bva2_0 .auctionlist h3 {
    float:left;
    color: #208beb;
    font-size: 14px;
    font-weight: 400;
    max-width: 65%;
    max-height:24px;
    overflow:hidden;
    word-wrap:break-word;
    padding:10px 15px;
}

.bva2_0 .auctionlist ._auction-link {
    float: left;
    color: #208beb;
    font-size: 14px;
    font-weight: 400;
    max-width: 70%;
    height: 33px;
    word-wrap:break-word;
}

.bva2_0 .auctionlist .auctionlist-link {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 90px;
    /*margin: -15px;*/
    z-index: 99;
}

.bva2_0 .auctionlist .txt {
    padding-left: 0;
    color: black;
}

.bva2_0 .auctionlist .timebar {
    position: absolute;
    bottom: 15px;
    display: table;
    margin: 0;
    padding-left:15px;
    width: 200px;
}

.bva2_0 .auctionlist .timebar .bar {
    position: relative;
    background-color: #FF6600;
    width: 200px;
}

.bva2_0 .auctionlist .timebar .txt {
    color: #000;
    padding-bottom: 2px;
}

.bva2_0 .auctionlist .timebar .barframe {
    position: relative;
    height: 4px;
    overflow: hidden;
    border-radius: 90px;
    width: 200px;
}

.bva2_0 .auctionlist .bar {
    height: 4px;
}

.bva2_0 .auctionlist .all-auctions-link.more {
    background: none;
    color: #208beb;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.bva2_0 .auctionlist .all-auctions-link.more:hover {
    text-decoration: underline;
}

.bva2_0 .auctionlist {
    background: none;
    width: 100%;
    padding-top: 3px;
}

.bva2_0 .auctionlist .content-padding.clearfix {
    padding: 0;
}

.bva2_0 .auctionlist .lotinfo {
    float: right;
    font-weight: 700;
    font-size: 12px;
    color:#000;
    padding: 10px 10px 0 0;
}

.bva2_0 .auctionlist .lotinfo span {
    font-weight: 400;
}

.bva2_0 .auctionlist .auctionlist-header,
.bva2_0 .auctionlist .auctionlist-footer {
    padding: 27px 15px 25px;
    line-height: 0;
    margin: 0;
    background-color: #fff;
}

.bva2_0 .auctionlist .home-auctionlist .auction-data {
    padding-left: 0;
    margin-bottom: 5px;
}

.bva2_0 .auctionlist .auction {
    padding: 0;
    background-color: #fff;
    height: 90px;
    border-bottom: 2px solid #f8f8f8;
}

.bva2_0 .auctionlist .auction:first-child {
    border-top: 2px solid #f8f8f8;
}

.bva2_0 .auctionlist .auction a:hover {
    box-shadow: 0 1px 4px #D3D3D3;
}

.bva2_0 .closing-auction {
    color:#f60;
}

.bva2_0 .auctionlist .closing-auction {
    position: absolute;
    bottom: 15px;
    padding-left: 15px;
}

.bva2_0 .auction-divider-header H3 {
    display: block;
    float: none;
    max-width: none;    /*overwrite to reset*/
    width: 100%;
    max-height: none;    /*overwrite to reset*/
    box-sizing: border-box;
    padding: 20px 20px 20px 15px;
    color: #000;
    font-size: 15px;
    font-weight: normal;
}

.bva2_0 .auction-divider-header.auction-divider {
    margin: 0;
}

.bva2_0 .auctionlist .textstatus {
    padding-left: 15px;
    color: #000;
}

/**
* Lot card
**/

.bva2_0 .lotcard {
    position: relative;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 8px;
    width: 228px;
    border: solid 1px #e2e2e2;
    background: #fff;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

.bva2_0 .lot-cards-con li:nth-of-type(1) .lotcard,
.bva2_0 .lot-cards-row li:nth-of-type(1) .lotcard {
    margin-left: 0;
}

.bva2_0 .lot-cards-con li:nth-of-type(4) .lotcard,
.bva2_0 .lot-cards-row li:nth-of-type(4) .lotcard {
    margin-right: 0;
}
.bva2_0 .cta {
    width: 100%;
}

.bva2_0 .lotcard .img img {
    display: block;
    width: 228px;
    height: 171px;
}

.bva2_0 .cta_btn {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    background-color: #0968AE;
    color: white;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bva2_0 .lotcard .title-wrapper,
.bva2_0 .auction-card .title-wrapper {
    width: 100%;
    height: 38px;
    margin: 8px 0;
    overflow: hidden;
    display: block;
    position: relative;
}

.bva2_0 .auction-card .title-wrapper {
    margin: 8px 0;
}
.bva2_0 .lotcard .title {
    overflow: hidden;
    height: 38px;
    color: #333;
    font-size: 16px;
    width: 100%;
    display: block;
    line-height: 38px;
}

.bva2_0 .lotcard .title span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 16px;
    width: inherit;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 20px;
}

.bva2_0 .lotcard .details {
    overflow: hidden;
    vertical-align: middle;
    line-height: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bva2_0 .lotcard.lot-ended .details .details_col {
    width: 100%;
}

.bva2_0 .lotcard.lot-ended .details .details_col.last {
    display: none;
}
.bva2_0 .lotcard .details .details_col {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    max-height: 40px;
    width: 50%;
    height: 340px;
    border: dashed 1px #E2E2E2;
    border-bottom: 0;
    border-left: 0;
}

.bva2_0 .lotcard .details .details_col.last {
    border-right: 0;
}

.bva2_0 .lotcard .details .details_col div {
    width: 100%;
    height: 14px;
    color: #4A4A4A;
    text-align: center;
    /*font-size: 13px;*/
    line-height: 28px;
}

.bva2_0 .lotcard .details .details_col div.description {
    color: #9B9B9B;
    font-size: 10px;
}

.bva2_0 .lotcard .actions .actions_col {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 23px 0 0 0;
    width: 50%;
    height: 40px;
    border: 0;
    color: #9B9B9B;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bva2_0 .lotcard .actions .actions_col.save {
    position: relative;
    display: inline-block;
    background-color: #f8f8f8;
    text-align: center;
    cursor: pointer;
}

.bva2_0 .lotcard .actions .actions_col.save .icon {
    position: absolute;
    top: 5px;
    left: 48px;
    width: 18px;
    height: 18px;
    background: url('../img/20/icons/hearts.png') no-repeat 0 0;
}

.bva2_0 .lotcard .actions .actions_col.save:hover > .icon, .bva2_0 .lotcard .actions .actions_col.save.favorite > .icon {
    background-position: -18px 0;
}

.bva2_0 .lotcard .actions .actions_col.save.favorite:hover> .icon {
    background-position: -36px 0;
}

.bva2_0 .lotcard .actions .actions_col.remind {
    position: relative;
    display: inline-block;
    background-color: #f8f8f8;
    text-align: center;
    cursor: pointer;
}

.bva2_0 .lotcard .actions .actions_col.remind .icon {
    position: absolute;
    top: 5px;
    left: 48px;
    width: 18px;
    height: 18px;
    background: url('../img/20/icons/clocks.png') no-repeat 0 0;
}

.bva2_0 .lotcard .actions .actions_col.remind:hover > .icon, .bva2_0 .lotcard .actions .actions_col.remind.notification > .icon {
    background-position: -18px 0;
}

.bva2_0 .lotcard .actions .actions_col.remind.notification:hover> .icon {
    background-position: -36px 0;
}
.bva2_0 .hotlist-interestgroup {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 960px;
}
.bva2_0 .hotlist-interestgroup-cards {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
    padding: 0;
}

.bva2_0 .hotlist-interestgroup-cards li {
    display:table-row;
    float: left;
}

.bva2_0 .lotcard .timebar {
    padding: 0;
    overflow: visible;
}

.bva2_0 .lotcard .timebar .txt {
    padding: 0;
}
.bva2_0 .hero .group {
    text-align: center;
}
/* footer  */
.bva2_0 .footer [class*="icon-"] {
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.bva2_0 .footer .icon-facebook-square {
    background-image: url('../img/20/icons/facebook.png');
}

.bva2_0 .footer .icon-youtube-square {
    background-image: url('../img/20/icons/youtube.png');
}

.bva2_0 .footer .icon-twitter-square {
    background-image: url('../img/20/icons/twitter.png');
}

.bva2_0 .footer .icon-linkedin-square {
    background-image: url('../img/20/icons/linkedin.png');
}

.bva2_0 .footer .icon-gplus-square {
    background-image: url('../img/20/icons/gplus.png');
}

.bva2_0 .footer .icon-checkmark-circled {
    background-image: url('../img/20/icons/checkmark.png');
}

.bva2_0 .footer .container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.bva2_0 .footer H2 {
    font-size: 16px;
    padding-bottom: 10px;
}

.bva2_0 .footer UL:not(.customer-service-list) {
    list-style-type: none;
    padding: 0;
}

.bva2_0 .footer UL.customer-service-list {
    padding-left: 25px;
}
.bva2_0 .footer UL LI {
    padding-bottom: 5px;
}

.bva2_0 .footer .row {
    width: 100%;
    display: inline-block;
}

.bva2_0 .footer .col {
    float: left;
    box-sizing: border-box;
}

.bva2_0 .footer .half {
    width: 50%;
}

.bva2_0 .footer .quart {
    width: 25%;
}

.bva2_0 .footer .nowrap {
    white-space: nowrap;
}

.bva2_0 .footer .col.newsletter,
.bva2_0 .footer .col.customer-service,
.bva2_0 .footer .col.how-it-works,
.bva2_0 .footer .col.what-we-do,
.bva2_0 .footer .col.about-us,
.bva2_0 .footer .col.follow-us {
    padding-top: 40px;
}

.bva2_0 .footer .newsletter > P {
    padding-right: 85px;
}

.bva2_0 .footer .newsletter INPUT {
    width: 270px;
    height: 30px;
    border: 0;
    margin: 0 20px 0 0;
    padding-left: 10px;
    box-sizing: border-box;
}

.bva2_0 .footer .newsletter BUTTON {
    padding: 8px 12px;
    background-color: #F60;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.bva2_0 .footer .confirmation {
    width: 75%;
}

.bva2_0 .footer .confirmation .icon-checkmark-circled {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    float: left;
}

.bva2_0 .footer .customer-service A {
    text-decoration: underline;
}

.bva2_0 .footer .newsletter BUTTON:hover {
    background-color: #E15A00;
}

.bva2_0 .footer .follow-us .row:first-child {
    margin-bottom: 30px;
}

.bva2_0 .footer .follow-us LI {
    float: left;
    margin-right: 20px;
}

.bva2_0 .footer .main {
    background-color: #9B9B9B;
    color: #fff;
}

.bva2_0 .footer .main .container {
    padding-bottom: 50px;
}

.bva2_0 .footer .main H2 {
    color: #fff;
}

.bva2_0 .footer .main A {
    color: #fff;
}

.bva2_0 .footer .main A:hover {
    text-decoration: underline;
}

.bva2_0 .footer .main P {
    padding-bottom: 15px;
}

.bva2_0 .footer .main .row:first-child {
    margin-bottom: 20px;
}

.bva2_0 .footer .main .tel {
    padding-bottom: 0;
}


.bva2_0 .footer .partners {
    background-color: #fff;
}

.bva2_0 .footer .partners .row {
    padding: 20px 0;
}

.bva2_0 .footer .partners H2 {
    color: #666;
}

.bva2_0 .footer .partners LI {
    float: left;
    margin-right: 30px;
}

.bva2_0 .footer .partners IMG {
    width: 105px;
    height: 50px;
}

.bva2_0 .footer .secondary {
    background-color: #F8F8F8;
}

.bva2_0 .footer .secondary .container {
    padding: 30px;
}

.bva2_0 .footer .secondary P {
    text-align: center;
    color: #666;
}

.bva2_0 .footer .secondary A {
    margin: 0 12px;
    color: #a6a6a6;
}

.bva2_0 .footer .secondary A:hover {
    text-decoration: underline;
}

.bva2_0 .footer .secondary P:first-child {
    margin-bottom: 20px;
}

/*--[END]-footer--------------*/
/*--[START]-banner-ads-container---------------*/
.bva2_0 .banner-ads .container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.bva2_0 .banner-ads .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*--[END]-banner-ads-container---------------*/

.bva2_0 [class*="icon-"] {
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.bva2_0 .vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bva2_0 .center-container {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.w960 {
    width: 960px;
}

.w1050 {
    width: 1050px;
}

.w1200 {
    width: 1200px;
}

/*--[START]-featured-items-----  */
.bva2_0 .featured-items .icon-arrow-left,
.bva2_0 .featured-items .icon-arrow-right {
    width: 35px;
    height: 35px;
    padding: 20px;
    background-position: center;
    cursor: pointer;
}

.bva2_0 .featured-items .icon-arrow-left {
    background-image: url('../img/20/icons/left_arrow.png');
}

.bva2_0 .featured-items .icon-arrow-left:hover {
    background-image: url('../img/20/icons/left_arrow_hover.png');
}

.bva2_0 .featured-items .icon-arrow-right {
    background-image: url('../img/20/icons/right_arrow.png');
}

.bva2_0 .featured-items .icon-arrow-right:hover {
    background-image: url('../img/20/icons/right_arrow_hover.png');
}

.bva2_0 .featured-items .arrow-container {
    display: table-cell;
    vertical-align: top;
    padding-top: 245px;
    height: 100%;
}
.bva2_0 .featured-items .disabled {
    display: none;
}
/*NOTE: needed to prevent weird width behaviour when using display:table-cell*/
.bva2_0 .anti-table-cell {
    width: 35px;
    height: 1px;
    padding: 0 20px;
}

.bva2_0 .featured-items {
    background-color: #f1f1f1;
}

.bva2_0 .featured-items .center-container.w1130 {
    display: table;
}

.bva2_0 .featured-items .center-container.w1050 {
    padding: 20px 0 15px 15px;
    display: table-cell;
}
@media only screen and (device-width: 768px) {
    .bva2_0 .featured-items .center-container.w1050 {
        padding: 20px 0 20px 0px;
    }
}
.bva2_0 .featured-items .center-container H2 {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-left: 30px;
}

.bva2_0 .lot-cards-con,
.bva2_0 .seoInterestingAuction {
    padding-bottom: 50px;
    padding-top: 15px;
}

.bva2_0 .featured-items UL {
    list-style: none;
    width: 1020px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 0;
    transition: .4s ease;
}

.bva2_0 .featured-items UL LI {
    display: inline-block;
    box-sizing: border-box;
    width: 320px;
    margin-right: 30px;
    vertical-align: top;
    white-space: normal;
    position: relative;
}

.bva2_0 .featured-items UL LI:hover {
    background: white;
}

.bva2_0 .featured-items UL LI:last-child {
    margin-right: 0;
}

.bva2_0 .featured-items UL LI A {
    position: relative;
    display: inline-block;
    padding: 30px 30px 30px;
    box-sizing: border-box;
}

.bva2_0 .featured-items IMG {
    width: 260px;
    ​height: 200px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.bva2_0 .featured-items H3 {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: normal;
    color: #208BEB;
}

.bva2_0 .featured-items P {
    color: #333;
    font-size: 12px;
    max-width: 260px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.bva2_0 .featured-items .show-more-item {
    max-height: 120px;
    width: 260px;
}

.bva2_0 .featured-items .show-more:before {
    background: #f1f1f1;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(241,241,241,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(241,241,241,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(241,241,241,1) 100%);
}

.bva2_0 .featured-items LI:hover .show-more:before {
    background: #fff;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.bva2_0 .featured-items .expanded .show-more-item {
    max-height: 500px;
}

.bva2_0 .featured-items .has-show-more .show-more-item {
    margin-bottom: 30px;
}

/*--[END]-featured-items-----  */

/*--[START]-show-more---------------*/

.bva2_0 .show-more-item {
    max-height: 120px;  /*NOTE: init height; Implementers can overwrite if needed*/
    overflow: hidden;
    transition: max-height .2s ease;
}

.bva2_0 .show-more {
    font-size: 12px;
    height: 54px;
    bottom: 30px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    display: none;
}

.bva2_0 .show-more SPAN {
    position: absolute;
    bottom: 8px;
    color: #208BEB;
    box-sizing: border-box;
    text-align: left;
    padding: 12px 30px 0;
}

.bva2_0 .show-more SPAN:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bva2_0 .show-more:before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 24px;
    background: #fff;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    z-index: 0;
    opacity: 1;
    transition: opacity .2s ease;
}

.bva2_0 .expanded .show-more-item {
    transition: max-height .2S ease;
    max-height: 999px;
}

.bva2_0 .expanded .show-more:before {
    background: transparent;
    opacity: 0;
    transition: opacity .2s ease;
}

.bva2_0 LI.expanded:hover .show-more:before {
    background: transparent;
}

.bva2_0 .show-more .read-less-text {
    display: none;
}

.bva2_0 .show-more .read-more-text {
    display: inline;
}

.bva2_0 .expanded .show-more .read-less-text {
    display: inline;
}

.bva2_0 .expanded .show-more .read-more-text {
    display: none;
}

.bva2_0 .has-show-more .show-more {
    display: block;
}

/*--[END]-show-more-----  */

/* [START] trustmark  */
.bva2_0 .footer .customer-feedback iframe {
    margin-left: -27px;
    margin-right: -27px;
}

.bva2_0 .footer .trustmark {
    margin-left: 24px;
    margin-top: 34px;
}

.bva2_0 .footer .trustmark IMG {
    width: 66px;
    height: 66px;
}
/* [END] trustmark  */

/*-[START]-scroll-box-----------------*/
.bva2_0 .scroll-box {
    max-height: 200px;
    overflow-y: scroll;
    position: relative;
}

.bva2_0 .scroll-box::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.bva2_0 .scroll-box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/*-[END]-scroll-box-----------------*/

.bva2_0 .scroll-box.current-auctions {
    max-height: 100%;
    background-color: #fff;
}
.bva2_0 .mylots-link .icon-container {
    height: auto;
    width: auto;
    display: inline;
}

.bva2_0 UL.icon-legend {
    height: auto;
    width: auto;
}

.bva2_0 .icon-question {
    height: 10px;
    width: 10px;
}
.bva2_0 .icon-oneclick-small {
    width: 12px;
    height: 12px;
}

/*--[START]-no-results---------------*/
.bva2_0 .no-results {
    box-sizing: border-box;
    padding: 70px 160px;
}

.bva2_0 .no-results H1 {
    font-size: 24px;
    padding-bottom: 35px;
    color: #000;
}

.bva2_0 .no-results .info {
    font-size: 18px;
    padding-bottom: 10px;
}

.bva2_0 .no-results .extra-info {
    font-size: 16px;
    font-style: italic;
    color: #818181;
    padding-bottom: 45px;
}

.bva2_0 .no-results .devider {
    font-size: 16px;
    text-align: center;
    color: #818181;
    margin: 0 45px;
}

.bva2_0 .no-results .btn {
    font-size: 15px;
    background-color: #208BEB;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 17px 60px;
    border-bottom: 2px solid #0968AE;
    border-radius: 2px;
}

.bva2_0 .no-results A:hover {
    background-color: #0968AE;
}
/*--[END]-no-results---------------*/

/*--[START]-show-more-lots-----  */
.show-more-lots {
    text-align: center;
    padding: 40px 0 70px;
}

.show-more-lots .btn {
    padding: 12px 0;
    color: #9b9b9b;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    display: inline-block;
    width: 470px;
    border: 1px solid #9b9b9b;
}

.show-more-lots .btn:hover {
    border: 1px solid #818181;
    color: #666;
    background-color: #eee;
}

.show-more-lots .btn.loading {
    cursor: default;
    border: 1px solid #cacaca;
    color: #bebebe;
    background-color: #eee;
}

.show-more-lots .btn.loading:before {
    margin: -7px 10px -7px 0;
}

.loading:before {
    content: "";
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 5px solid rgba(211, 211, 211, 0.3);
    border-left: 5px solid #d3d3d3;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(0deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*--[END]-show-more-lots-----  */

.bva2_0 .center-container > H2 {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    display: inline-block;
    padding: 35px 0 15px;
}

.bva2_0 .lot-cards-con UL,
.bva2_0 .lot-cards-row UL {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.bva2_0 .lot-cards-con LI,
.bva2_0 .lot-cards-row LI {
    display: inline-block;
    float: left
}
/*--[START]-auction-card --------------*/

.bva2_0 .auction-cards-row .icon-lot {
    background: url("../img/20/icons/auction_card_lot.png") no-repeat;
    width: 14px;
}

.bva2_0 .auction-cards-row .icon-pin {
    background: url("../img/20/icons/auction_card_pin.png") no-repeat;
    width: 10px;
}

.bva2_0 .auction-cards-row .icon-clock {
    background: url("../img/20/icons/auction_card_clock.png") no-repeat;
    width: 14px;
}

.bva2_0 .auction-cards-row .icon-closing {
    background: url("../img/20/icons/closing_icon.png") no-repeat;
    width: 14px;
}

.bva2_0 .auction-cards-row [class*="icon-"] {
    height: 14px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 4px;
}
.bva2_0 .auction-cards-row .icon-clock-orange {
    background: url("../img/20/icons/auction_card_clock_orange.png") no-repeat;
    width: 100%;
    height: 16px;
    background-size:contain;
    z-index: 10;
    position: absolute;
    top: 30%;
}
.bva2_0 .auction-cards-row {
    overflow: auto;
}

.bva2_0 .auction-cards-row ul {
    list-style: none;
    padding: 0;
}

.bva2_0 .auction-card {
    position: relative;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 8px;
    width: 228px;
    border: solid 1px #e2e2e2;
    background: #fff;
}

.bva2_0 .lotcard:hover,
.bva2_0 .auction-card:hover {
    border: solid 1px #CBCBCB;
}

.bva2_0 .auction-cards-row li:nth-of-type(1) .auction-card {
    margin-left: 0;
}

.bva2_0 .auction-cards-row li:nth-of-type(4) .auction-card {
    margin-right: 0;
}

.bva2_0 .auction-cards-row h2 {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 0 15px;
    font-weight: normal;
    color: #333;
}

.bva2_0 .auction-cards-row > a {
    color: #208beb;
    margin-left: 15px;
}

.bva2_0 .auction-cards-row > a:hover {
    text-decoration: underline;
}

.bva2_0 .auctionlist .all-auctions-link.more {
    background: none;
    color: #208beb;
    font-size: 12px;
    margin: 3px 0 0;
    padding: 0;
}

.bva2_0 .auction-card a {
    color: #000;
    text-decoration: none;
}
.bva2_0 .auction-card .location {
    display: table-cell;
    vertical-align: middle;
    height: 33px;
    width: 80%;
    line-height: normal;
    padding: 0 5px;
}


.bva2_0 .auction-card .location-wrapper {
    width: 100%;
    height: 33px;
    margin: 4px 0 0;
    overflow: hidden;
    display: inline-block;
    position:relative;
}

.bva2_0 .auction-card .location span {
    width: 100%;
    display: block;
    word-break: break-word;
    word-wrap: break-word;
}

.bva2_0 .auction-card .status.closing {
    color: #FF6600;
}

.bva2_0 .auction-card .location.online {
    color: #009900;
}

.bva2_0 .auction-card .collage {
    box-sizing: border-box;
    height: 170px;
    background: #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.bva2_0 .auction-card .collage IMG {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}

.bva2_0 .auction-card .lotlink:hover IMG,
.bva2_0 .lotcard .lotlink .img:hover IMG {
    opacity: .8;
}

.bva2_0 .auction-card .collage A:nth-of-type(2n+1) IMG {
    right: 1px;
}

.bva2_0 .auction-card .collage A:nth-of-type(-n+2) IMG {
    bottom: 1px;
}

.bva2_0 .auction-card .collage.full IMG {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    border: medium none;
}
.bva2_0 .auction-card .collage.full A IMG {
    right: 0;
    bottom: 0;
}
.bva2_0 .cta {
    width: 100%;
}

.bva2_0 .cta_btn {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    background-color: #0968AE;
    color: white;
    text-align: center;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bva2_0 .cta_btn:hover {
    background: #065086;
    cursor: pointer;
}

.bva2_0 .auction-card .title {
    overflow: hidden;
    height: 38px;
    color: #333;
    font-size: 16px;
    width: 100%;
    display: block;
    line-height: 38px;
}

.bva2_0 .auction-card .title SPAN {
    text-align: center;
    padding: 0 16px;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    width: inherit;
    line-height: 20px;
}

.bva2_0 .auction-card .details, .bva2_0 .auction-card .details_time {
    overflow: hidden;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-height: 40px;
    height: 40px;
}
.bva2_0 .auction-card .details_time {
    vertical-align: middle;
    position: relative;
    padding: 0px 5px 0px 15px;
    color: #FF6600;
}

.bva2_0 .auction-card .details_time.black {
    color: black;
}

.bva2_0 .auction-card .details_time .timebar, .bva2_0 .auction-card .details_time .closing-auction {
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.bva2_0 .auction-card .details_time .closing-auction  {
    background-color: #FFF0E6;
    z-index: 5;
}

.bva2_0 .auction-card .details_time .closing-auction IMG {
    display: none;
}

.bva2_0 .auction-card .details_time .closing-auction SPAN {
    padding-left: 45px;
    margin-top: 0px;
}

.bva2_0 .auction-card .details_time .timebar .txt {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.bva2_0 .auction-card .details .details_col {
    float: left;
    text-align: center;
    box-sizing: border-box;
    max-height: 40px;
    width: 50%;
    height: 40px;
    border: dashed 1px #E2E2E2;
    /*border-bottom: 0;*/
    border-left: 0;
    /*display: table;*/
}

.bva2_0 .auction-card .details .details_col.full-width {
    width: 100%;
    border-right: 0;
}

.bva2_0 .auction-card .details .details_col.last {
    border-right: 0;
    overflow: hidden;
}

/*--[END]-auction-card --------------*/
/*-- [START]-new advertisement ----  */
.bva2_0 .lot-cards-row .mediadisplay-carousel {
    display: block;
    margin:auto;
    width: 475px;
    padding-left: 4px;
    text-align: center;
}
/*-- [END]-new advertisement ----  */