@charset "gb2312";
/* CSS Document */
body{font-family:"Microsoft Yahei","宋体",Arial Narrow; font-size:14px; color:#333; background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,form,input,textarea,button,code,em,cite,s{padding:0; margin:0;}
img{border:0; display:block;}
ol,ul,li,dl,dt,dd{list-style:none;}   
a:link,a:visited{color:#333;text-decoration:none}
a:active,a:hover{color:#ff4e00;text-decoration:underline; 
-moz-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
-webkit-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
-o-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
transition: color .1s ease, background-color .1s ease, border-color .1s ease;
}
.lt{float:left;}
.rt{float:right;}
.cl{clear:both;}
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;} /* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc{display: block;} /* End hide from IE-mac */

code{font-family:"Microsoft Yahei";}
.col1{color:#fff;}
.col1 a:link,.col1 a:visited{color:#fff;}
.col1 a:active,.col1 a:hover{color:#ff4e00;}
input,button{outline:none}
.mt10{margin-top:10px;}

/*顶部导航*/
#topnav{height:65px; background:#282828; border-top:1px solid #252525; width:100%;  position:relative; z-index:98;}
#topnav dl,#topmenu,#gamesmenu,#hotyxtj,.main,#footer{width:1200px; margin:0 auto;}
.main{background:#fff;}
#topnav dt{width:175px; float:left;}
#topnav dt h1{height:65px; background:url(../images/logo.jpg) no-repeat;}
#topnav dt h1 a{height:65px; display:block; text-indent:-2000px;}
#topnav dd{float:left;}
#topnav dd.search{width:342px; height:35px; padding:12px 80px 0 205px;}
#topnav dd.search .searchmenu{width:288px; height:33px;  line-height:33px; border:1px solid #fff; -moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; float:left;}
#topnav dd.search .menunow{border:1px solid #1cb1ff;  -moz-border-radius:3px 0 0 0;-webkit-border-radius:3px 0 0 0; border-radius:3px 0 0 0;}
#topnav dd.search .select{width:55px; cursor:pointer; position:relative; color:#888; float:left;}
#topnav dd.search .select span{width:45px; height:33px; background:url(../images/icon1.jpg) no-repeat; float:left; padding-left:10px;}
#topnav dd.search .select ul{width:55px; border:1px solid #1cb1ff; background:#fff; position:absolute; top:33px; border-top:0; left:-1px; display:none; padding-bottom:5px;}
#topnav dd.search .select li{line-height:28px; height:28px; overflow:hidden; padding-left:10px;}
#topnav dd.search .select li.cur{background:#edf3fc; color:#6994c1;}
#topnav dd.search .selectshow span{background-position:0 -33px;}
#topnav dd.search .selectshow ul{display:block;}
#topnav dd.search #keyword{width:220px; font-size:14px; padding-left:11px; height:31px; line-height:31px; background:#fff; float:left; border:1px solid #fff; font-family:"Microsoft Yahei";}
#topnav dd.search button{width:50px; height:35px; background:url(../images/icon1.jpg) 0 -66px no-repeat; border:none; cursor:pointer; float:left;}
#topnav dd.zhuanfa{width:140px; padding-top:10px;}
#topnav dd.zhuanfa span{width:30px; height:35px; float:left; background:url(../images/icon1.jpg) no-repeat; background-position:0 -101px; display:inline-block; margin-left:10px;}
#topnav dd.zhuanfa span.qq{background-position:0 -172px;}
#topnav dd.zhuanfa span.weixin{background-position:0 -243px; position:relative;}
#topnav dd.zhuanfa span.weixin code{width:130px; height:138px; background:url(../images/weixin.jpg) 0 20px no-repeat; position:absolute; top:27px; left:-50px; display:none; padding-top:20px;}
#topnav dd.zhuanfa span a{height:35px; display:block;}
#topnav dd.zhuanfa span a:hover{background:url(../images/icon1.jpg) no-repeat; background-position:0 -136px;}
#topnav dd.zhuanfa span.qq a:hover{background-position:0 -207px;}
#topnav dd.zhuanfa span.weixin a:hover{background-position:0 -278px;}
#topnav dd.zhuanfa span.wxshow code{display:block;}
#topnav dd.denglu{width:130px; padding-top:10px;}
.dlbefore a{width:43px; height:33px; line-height:33px; text-align:center; background:#373737; border:1px solid #555; float:left; display:inline-block; margin-left:10px; color:#dfdfdf; color:#fff;}
.dlbefore a:active,.dlbefore a:hover{color:#fff;text-decoration:none; background:#999; border-color:#999;}
.dlafter{color:#fff; background:url(../images/icon1.jpg) no-repeat; background-position:50px -315px; width:110px; text-align:right; padding-right:20px; margin-top:10px; position:relative; cursor:pointer;}
.dlafter span{width:130px; height:75px; position:absolute; top:17px; right:0; background:url(../images/deshow.jpg) 0 20px no-repeat; display:none; padding:45px 15px;}
.dlafter span img{width:60px; height:60px; float:left; -moz-border-radius:10px;-webkit-border-radius:10px; border-radius:10px;}
.dlafter code{width:60px; float:right; color:#333; line-height:20px;}
.dlshow span{display:block;}
#topnav dd.kehu{width:98px; float:right; padding-top:10px;}
#topnav dd.kehu span{width:40px; float:left; text-align:center; background:url(../images/icon1.jpg) no-repeat; background-position:-31px -111px; font-size:12px; overflow:hidden; height:44px;}
#topnav dd.kehu span a{padding-top:30px; display:block; color:#fff;}
#topnav dd.kehu span.kh{background-position:-31px -205px; display:inline-block; margin-left:16px;}
#topnav dd.kehu span a:hover{background:url(../images/icon1.jpg) no-repeat; background-position:-31px -158px; color:#fff; text-decoration:none;}
#topnav dd.kehu span.kh a:hover{background-position:-31px -252px;}
/*头部菜单*/
#topmenu{padding:10px 0 15px; background:#fff;}
#topmenu dl{width:134px; float:left; line-height:26px; display:inline-block; margin-left:5px; overflow:hidden; height:78px;}
#topmenu dt{width:50px; float:left; background:url(../images/icon2.jpg) no-repeat; text-align:center; margin-top:8px; color:#0094e1;margin-right: 5px;}
#topmenu dt a{padding-top:44px; display:block; }
#topmenu dt a:link,#topmenu dt a:visited{color:#0094e1;}
#topmenu dt a:active,#topmenu dt a:hover{color:#ff4e00; text-decoration:none; font-weight:700;}
#topmenu dd a:active,#topmenu dd a:hover{text-decoration:none;}
#topmenu dd{width:76px; float:right;}
#topmenu dl.menuan2 dt{background-position:-55px 0;}
#topmenu dl.menuan2 dd{width: 75px;}
#topmenu dl.menuan3{width: 149px;}
#topmenu dl.menuan3 dd{width: 88px;}
#topmenu dl.menuan3 dt{background-position:-110px 0;}
#topmenu dl.menuan4{width: 120px;}
#topmenu dl.menuan4 dt{background-position:-165px 0;}
#topmenu dl.menuan4 dd{width:64px;}
#topmenu dl.menuan5{width:40px; margin-left:0;margin-right: 20px;}
#topmenu dl.menuan5 dt{background-position:-222px 0; width:40px;}
#topmenu dl.menuan6{width:512px; margin-left:0;}
#topmenu dl.menuan6 dd{width:110px; float:left;  margin-left:18px; display:inline-block;}
#topmenu dl.menuan6 dd a{line-height:40px; padding-left:45px; background:url(../images/icon2.jpg) no-repeat; background-position:0 -66px; height:40px; display:block;}
#topmenu dl.menuan6 dd.submenu2 a{background-position:-128px -64px;}
#topmenu dl.menuan6 dd.submenu3 a{background-position:-255px -64px;}
#topmenu dl.menuan6 dd.submenu4 a{background-position:-382px -64px;}
#topmenu dl.menuan6 dd.submenu5 a{background-position:0 -104px;}
#topmenu dl.menuan6 dd.submenu6 a{background-position:-128px -104px;}
#topmenu dl.menuan6 dd.submenu7 a{background-position:-255px -104px;}
#topmenu dl.menuan6 dd.submenu8 a{background-position:-382px -104px;}
#topmenu dl.menuan6 a:link,#topmenu dl.menuan6 a:visited{color:#0094e1;}
#topmenu dl.menuan6 a:active,#topmenu dl.menuan6 a:hover{color:#ff4e00;text-decoration:none; font-weight:700;}
#topmenu dl.menuan7{width:61px; margin-left:0;margin-right: 10px;}
#topmenu dl.menuan7 dt{background-position:-501px 0; width:63px;}
/*口碑专区*/
#gamesmenu{border:1px solid #e0e0e0; border-top:0; width:1198px; margin:0 auto; background:#fff;}
#gamesmenu dl{height:40px; background:url(../images/tt1.jpg) 0 -40px repeat-x;}
#gamesmenu dd{width:88px; height:37px; line-height:37px; border-right:1px solid #e0e0e0; float:left; text-align:center; cursor:pointer; color:#888; padding-top:2px;}
#gamesmenu dd.qhnow1{border-top:2px solid #51b8f2; color:#333; padding-top:0; border-bottom:1px solid #fff;}
#gamesmenu ul{display:none; padding:9px 14px;}
#gamesmenu li{font-size:14px; line-height:34px; width:100%; float:left; color:#e3e3e3;}
#gamesmenu li code{width:35px; height:25px; line-height:25px; color:#fff; background:url(../images/icon2.jpg) no-repeat; background-position:-268px 0; float:left; padding-left:25px; margin-top:6px;}
#gamesmenu li code.shouyou{background-position:-268px -26px;}
#gamesmenu li span{width:1100px; float:right;}
#gamesmenu li a{display:inline-block; margin:0 11px;}
#gamesmenu li a.n_games,#gamesmenu li a.h_games{position:relative;}
#gamesmenu li a.n_games em,#gamesmenu li a.h_games em{width:12px; height:16px; background:url(../images/icon2.jpg) no-repeat; background-position:-333px 0; position:absolute; top:-2px; right:-12px;}
#gamesmenu li a.h_games em{background-position:-350px 0;}
#gamesmenu li a.h_games{color:#f0454d;}
#gamesmenu li a.h_games:hover{color:#ff4e00;}
#gamesmenu a:active,#gamesmenu a:hover{text-decoration:none;}

/*热游推荐*/
#hotyxtj{height:130px; background:url(../images/tj_bg.jpg) no-repeat; margin:10px auto 0; color:#fff;}
#hotyxtj h2{width:30px; float:left; font-size:16px; text-align:center; padding-top:22px;}
#hotyxtj .tjlogo{width:200px; height:130px; float:left;}
#hotyxtj dl{width:215px; float:left; padding:15px 0 0 35px; overflow:hidden;}
#hotyxtj dl.tj02{padding:15px 0 0 415px;}
#hotyxtj dt{font-size:12px; color:#9feaff;}
#hotyxtj dt b{font-size:16px; color:#fff; padding:0 5px;}
#hotyxtj dd{width:100px; height:30px; float:left; line-height:30px; text-align:center; background:#3eb3fe; display:inline-block; margin:5px 0 0 5px;}
#hotyxtj dd a{height:30px; display:block;}
#hotyxtj dd a:link,#hotyxtj dd a:visited{color:#fff;}
#hotyxtj dd a:active,#hotyxtj dd a:hover{color:#4d2012; text-decoration:none; background:#ffe42d;}
#hotyxtj ul{float:left;}
#hotyxtj ul.yxlist{width:290px; padding:15px 10px 0 35px;}
#hotyxtj ul.yxlist li{font-size:12px; line-height:24px; height:24px; overflow:hidden; color:#9feaff;}
#hotyxtj ul.yxlist li a:link,#hotyxtj ul.yxlist li a:visited{color:#9feaff;}
#hotyxtj ul.yxlist li a:active,#hotyxtj ul.yxlist li a:hover{color:#fff;}
#hotyxtj ul.yxlist li.yxtj{font-size:16px; text-align:center; font-weight:700;}
#hotyxtj ul.yxlist li.yxtj a:link,#hotyxtj ul.yxlist li.yxtj a:visited,#hotyxtj dt a:link,#hotyxtj dt a:visited{color:#fff;}
#hotyxtj ul.yxlist li.yxtj a:active,#hotyxtj ul.yxlist li.yxtj a:hover,#hotyxtj dt a:active,#hotyxtj dt a:hover{color:#ff4e00;}
#hotyxtj ul.yxlist li cite{width:30px; height:17px; float:left; background:url(../images/ggnews_li.jpg) no-repeat; display:inline-block; margin:4px 8px 0 0;}
#hotyxtj ul.yxlist li cite a{height:17px; display:block;}
#hotyxtj ul.yxlist li cite.n22612{background-position:0 -17px;}
#hotyxtj ul.yxlist li cite.n22624{background-position:0 -34px;}
#hotyxtj ul.yxlist li cite.n22890{background-position:0 -51px;}
#hotyxtj ul.yxlist li cite.n22892{background-position:0 -69px;}

#hotyxtj ul.yxpic{padding:20px 0 0;}
#hotyxtj ul.yxpic li{width:160px; float:left; display:inline-block; margin-left:20px;_margin:0 10px;}
#hotyxtj ul.yxpic li img{width:160px; height:90px;}
/*幻灯版块1*/
.content{width:910px; float:left;}
.content1,.content2{width:440px; float:left;}
.content2{padding:0 30px;}
.content2a{width:440px; float:right;}
.content3{width:380px; float:left;}
.sidebar{width:260px; float:right;}
.sidebar2{width:730px; float:right;}
.focus_pic{position:relative; z-index:11; overflow:hidden; color:#fff; width:440px; height:385px;}
.focus_pic span{display:block;height:45px; overflow:hidden;}
.focus_pic span img{width:440px; height:40px;}
.focus_pic ul{height:330px; position:absolute;}
.focus_pic li{width:440px; float:left; position:relative; z-index:1;}
.focus_pic li img{width:440px; height:330px;}
.focus_pic li code{width:100%;height:60px; background:#000;  filter:alpha(opacity=70);opacity:0.7; position:absolute; bottom:0; left:0;}
.focus_pic li span{width:420px; padding:0 10px; left:0; bottom:5px; z-index:22; position:absolute; line-height:24px; height:auto;}
.focus_pic li span h4{font-size:16px;}
.focus_pic li span a:active,.focus_pic li span a:hover{text-decoration:none;}
.focus_pic li:hover span a{color:#ff4e00;}
.focus_pic dl{ position:absolute; left:0; bottom:0; height:8px;overflow:hidden;}
.focus_pic dd{width:55px; height:8px;background:#373737; cursor:pointer; display:inline-block; margin-right:1px; overflow:hidden; float:left;}
.focus_pic dd.last{margin:0;}
.focus_pic dd.cur{background:#1cb1ff; width:104px;}
.games_pic li{width:210px;height:118px; float:left; margin-top:15px;overflow:hidden;}
.games_pic li img{width:210px; height:118px;}
.games_pic li.gprt,.actpic dd.actrt{ float:right;}
/*.games_pic3 li img{height:158px;}*/
.games_pic2 li{width:210px; float:left; height:85px; margin-top:20px;}
.games_pic2 li img{width:85px; height:85px; float:left;}
.games_pic2 li span{width:115px; float:right; line-height:20px; font-size:12px;}
.games_pic2 li span h4{font-size:14px; font-weight:400;}
.games_pic2 li span code{width:40px; height:20px; border:1px solid #f0454d; -moz-border-radius:10px;-webkit-border-radius:10px; border-radius:10px; display:inline-block; text-align:center; margin:2px 0;}
.games_pic2 li.gprt2{ display:inline-block; margin-left:20px;}
.games_pic2 a h4:hover{text-decoration:underline;}
.games_pic2 a code{color:#f0454d;}
.games_pic2 a p.wz1{color:#888;}
.games_pic2 a p.wz2{color:#33b9ff;}
.games_pic4{margin-top:15px;}
.games_pic4 dt{width:30px; height:93px; background:#51b8f2; float:left; font-size:16px; color:#fff; font-weight:700; text-align:center; padding-top:22px; line-height:18px; display:inline-block; margin-right:10px;}
.games_pic4 dd{width:90px; float:left; display:inline-block; margin:0 10px; text-align:center;}
.games_pic4 dd img{width:90px; height:90px; -moz-border-radius:20px;-webkit-border-radius:20px; border-radius:20px;}
.games_pic4 dd p{line-height:24px; height:24px; overflow:hidden;}

.newstxt,.newstxt2{width:100%; float:left;}
.newstxt2a{ float:none; border-bottom:1px solid #e0e0e0; padding-bottom:4px;}
.newstxt ul{width:340px; background:url(../images/li_bg_2.jpg) left 48px no-repeat; float:left;}
.newstxt li{line-height:32px; height:32px; overflow:hidden; padding-left:10px; display:block; position:relative;}
.newstxt li s{position:absolute;width:7px;height:7px;background: #fff;border: 2px solid #ff5206;-moz-border-radius: 10px;-webkit-border-radius: 10px; border-radius: 10px;top:32px;left:0;}
.newstxt li a{display:inline; margin-left:10px;}
.newstxt li:hover s{top:12px;}
.newstxt li.tjtt{font-size:16px; font-weight:700; padding-left:0;}
.newstxt li.tjtt code{width:32px; height:20px; font-size:12px; color:#fff; float:left; background:url(../images/icon2.jpg) no-repeat; background-position:-412px 0; line-height:20px; padding-left:3px; margin:5px 5px 0 0;}
.newstxt li.tjtt code.newsan2{background-position:-447px 0;}
.newstxt li.tjtt code.newsan3{background-position:-412px -20px;}
.newstxt li.tjtt a{margin-left:0;}
.newstxt dl{width:80px; float:right; margin-top:6px;}
.newstxt dd{width:80px; float:left;}
.newstxt dd img{width:80px; height:304px;}
.newstxt2{padding-top:5px;}
.newstxt2 li{line-height:30px; height:30px; text-align:center; overflow:hidden; font-size:12px; color:#888;}
.newstxt2 li a:link,.newstxt2 li a:visited{color:#888;}
.newstxt2 li a:active,.newstxt2 li a:hover{color:#ff4e00;}
.newstxt2 li.tjtt2{font-size:20px; font-weight:700; margin-top:2px;}
.newstxt2 li.tjtt2 a:link,.newstxt2 li.tjtt2 a:visited{color:#f0454d;}
.newstxt2 li.tjtt2 a:active,.newstxt2 li.tjtt2 a:hover{color:#ff4e00;}
.newstxt2 li.tjtt3{border:1px solid #e0e0e0; line-height:20px; height:20px; padding:9px 0 9px 4px; text-align:left; font-size:14px; color:#e0e0e0; margin:5px 0;}
.newstxt2 li.tjtt3 span{width:55px; color:#fff; display:inline-block; background:#f0454d; text-align:center;font-size:12px; margin:0 2px 0 5px;}
.newstxt2 li.tjtt3 a{ display:inline-block; margin:0 3px;}
.newstxt2 li.tjtt3 code a,.newstxt2 li.tjtt3 code a:hover{color:#ff4e00;}
.newstxt2 li.tjtt3 a:link,.newstxt2 li.tjtt3 a:visited{color:#333;}
.newstxt2 li.tjtt3 a:active,.newstxt2 li.tjtt3 a:hover{color:#ff4e00;}
.newsgg{padding:10px 0; width:100%; float:left;}
.actpic{ margin-top:15px;}
.actpic dl{display:none; width:100%; float:left;}
.actpic dd{width:120px; float:left;}
.actpic dd img{width:120px; height:90px;}
.actpic ul{width:100%; float:left;}
.fhpic{margin-top:15px; display:none;}
.fhpic dd{width:100%; float:left;}
.fhpic dd{ position:relative;}
.fhpic dd img{width:260px; height:104px;}
.fhpic dd p {color:#fff;}
.fhpic dd p code{float:right; margin-top:3px;}
/*网络游戏*/
.gameszx li{height:100px; overflow:hidden; margin-top:15px;}
.gameszx li img{width:133px; height:100px; float:left;}
.gameszx li span{width:295px; float:right; font-size:14px; color:#888; line-height:22px; height:100px;}

.gameszx li span h4{font-size:16px; line-height:30px; height:30px; overflow:hidden; color:#f0454d;}
.gameszx li a:hover span h4{color:#ff4e00; text-decoration:underline}
.videolist li{width:130px; float:left; margin:15px 0 0 20px; position:relative;}
.videolist li img{width:130px; height:98px;}
.videolist li p{line-height:25px; height:25px; text-align:center; overflow:hidden; width:100%; position:absolute; bottom:0; left:0;color:#fff; font-size:12px; z-index:11;}
.videolist li cite{width:58px; height:58px; background:url(../images/video.png) no-repeat; position:absolute; top:32px; left:35px; z-index:22;}
.videolist li:hover cite{background-position:0 -58px;}
.videolist li.vd01{margin-left:0;}
.videolist2 li{width:132px;}
.videolist2 li img{width:132px; height:132px;}
.videolist2 li cite{left:38px;}
.videolist3 li{width:130px;}
.videolist3 li img{width:130px; height:108px;}
.videolist3 li cite{left:35px; top:22px;  background:url(../images/down.png) no-repeat;}
.webpic1{width:115px; float:right;}
.webpic1 dd{width:115px; float:left; margin:15px 0 5px;}
.webpic1 dd img{width:115px; height:86px;}
#news_scroll{height:112px; position:relative; overflow:hidden;}
#news_scroll ul{position:absolute; top:0; left:0; width:440px;}

/*新游戏*/
.pclist1{margin-top:5px;}
.pclist1 dl{height:80px; padding:10px 5px 10px 10px; overflow:hidden; border-bottom:1px solid #e0e0e0; position:relative; cursor:pointer;}
.pclist1 dt{width:80px; float:left; text-align:center;}
.pclist1 dt img{width:80px; height:80px; -moz-border-radius:20px;-webkit-border-radius:20px; border-radius:20px;}
.pclist1 dd{width:335px; float:right; color:#888; z-index:22; position:relative; line-height:20px;}
.pclist1 dd h4{font-weight:400; line-height:24px; height:24px; overflow:hidden; margin-bottom:10px;}
.pclist1 dd p{font-size:12px;}
.pclist1 dd span{width:60px; height:76px; padding:0 3px; background:#fff; border:2px solid #51b8f2; float:right; text-align:center; color:#33b9ff; display:inline-block; margin-left:10px;}
.pclist1 dd span b{font-size:36px; border-bottom:1px solid #e0e0e0; margin-bottom:5px; display:block; line-height:45px;}
.pclist1 dd span p{font-size:14px;}
.pclist2 li{width:210px; float:left; height:100px; overflow:hidden; display:inline-block; margin-top:15px;}
.pclist2 li img{width:100px; height:100px; float:left;}
.pclist2 li span{width:100px; float:right;}
.pclist2 li span h4{line-height:18px; height:36px; overflow:hidden;}
.pclist2 li span p{line-height:16px; font-size:12px; margin-top:10px; color:#888;}
.pclist2 li.pc02{margin-left:20px;}
.pclist3{padding-top:5px;}
.pclist3 li{height:50px; overflow:hidden; line-height:50px; background:#f1f1f1; cursor:pointer; margin-top:10px; width:100%; float:left; margin-bottom:1px;}
.pclist3 li img{width:195px; height:110px; float:left;}
.pclist3 li span{width:236px; float:right;}
.pclist3 li span h4{font-size:16px;}
.pclist3 li span p{font-size:12px; color:#888; margin-top:8px;}
.pclist3 li.pcshow{height:110px; background:#fff; line-height:20px;}
.pclist3 li.pcshow h4{height:20px; overflow:hidden;}
/*主机频道*/
.djname li{border-bottom:1px solid #e0e0e0; cursor:pointer; position:relative; color:#666; padding:14px 10px; height:80px;}
.djname li img{width:56px; height:80px; float:left;}
.djname li span{width:170px; float:right; font-size:12px;}
.djname li span h4{font-size:16px; font-weight:400; line-height:35px; height:35px;}
.djname li span h4 a{display:inline-block; margin-right:10px;}
.djname li span.djcol2{color:#888;}
/*单机游戏*/
.pc_pic1 li{width:95px; float:left; display:inline-block; margin:15px 0 0 20px;}
.pc_pic1 li img{width:95px; height:125px;}
.pc_pic1 li.pc01{margin-left:0;}
.hotpc dl{width:100%; float:left; margin:15px 0 5px;}
.hotpc dt{width:95px; float:left;}
.hotpc dt img{width:95px; height:52px;}
.hotpc dd{width:165px; float:right;}
.hotpc dd h4{height:31px; line-height:31px; border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0; padding:0 7px; overflow:hidden;}
.hotpc dd p a{height:18px; line-height:18px; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; border-right:1px solid #e0e0e0; width:54px; display:inline-block; font-size:12px; text-align:center;}
.hotpc dd p a:link,.hotpc dd p a:visited{color:#33b9ff;}
.hotpc dd p a:active,.hotpc dd p a:hover{color:#fff;text-decoration:none; background:#1cb1ff; border-color:#1cb1ff; border-left:0;}
.hotpc dl.pcpic2 dt{float:right;}
.hotpc dl.pcpic2 dd{float:left;}
.hotpc dl.pcpic2 h4{border-right:0; border-left:1px solid #e0e0e0;}
.hotpc dl.pcpic2 p a{border-left:1px solid #e0e0e0; border-right:0;}
/*网页游戏*/
.hotweb dt{width:115px;}
.hotweb dt img{width:115px; height:86px;}
.hotweb dd{width:145px;}
.hotweb dd h4{border:1px solid #e0e0e0; border-left:0; height:32px; line-height:32px;}
.hotweb dd p{width:144px; float:left; border-left:1px solid #e0e0e0;}
.hotweb dd p a{width:71px; height:25px; line-height:25px; border-top:0;}
/*181娱乐*/
.mmpic1 li{width:440px; float:left; position:relative; margin-top:15px;}
.mmpic1 li img{width:440px; height:205px;}
.ztpic1 li img{height:176px;}
.mmpic2 li{width:210px; float:left; margin-top:15px;}
.mmpic2 li img{width:210px; height:160px;}
.mmpic2 li.mmrt{float:right;}
.mmpic3 li{width:132px; float:left; display:inline-block; margin:20px 0 0 20px;}
.mmpic4 li{margin:16px 0 0 20px !important;}
.ztpic2 li{margin:20px 0 0 17px;}
.wypic3 li{margin-top:15px;}
.mmpic3 li img{width:132px; height:108px;}
.mmpic3 li.mm01{margin-left:0 !important;}
.hotlb ul{margin-top:10px;}
.hotlb li{line-height:28px; height:28px; overflow:hidden;}
/*热游榜单*/
.bdtxt1,.bdtxt2{width:277px; float:left; padding-left:30px;}
.bdtxt2{width:278px;}
.bdtxt1a{padding-left:0;}
.bdtxt1 dd{line-height:20px; height:20px; padding:14px 5px 14px 10px; border-bottom:1px solid #e0e0e0; overflow:hidden; position:relative; cursor:pointer;}
.bdtxt1 dd b,.hotlb li code{width:20px; height:100%; text-align:center; background:#aaa; float:left; font-size:12px; color:#fff; display:inline-block; margin-right:10px; font-weight:400; font-family:"Arial"}
.hotlb li code{height:20px; line-height:20px; margin:5px 8px 0 0;}
.hotlb li.lbtop code{background:#ff1c6c;}
.bdtxt1 dd span,.bdtxt1 dd div{width:232px; float:left;}
.bdtxt1 dd div a{float:right;}
.bdtxt1 dd span{display:none; font-size:12px;}
.bdtxt1 dd span code{width:150px; float:left; position:relative;}
.bdtxt1 dd span code img{width:150px; height:60px;}
.bdtxt1 dd span code a p{color:#fff;}
.bdtxt1 dd span cite{width:75px; float:right; font-style:normal;}
.bdtxt1 dd.bdshow span{display:block;}
.bdtxt1 dd.bdshow{height:60px;}
.bdtxt1 dd.bdshow b{height:60px; line-height:60px;}
.bdtxt1 dd.bdshow div{display:none;}
.bdtxt1 dd.bdshow.top1 b{font-size:24px;}
bdtxt1 dd.top1 b,bdtxt1 dd.top2 b,bdtxt1 dd.top3 b{font-weight:700;}
.bdtxt1 dd.top1 b{background:#f0454d;}
.bdtxt1 dd.top2 b{background:#f16844;}
.bdtxt1 dd.top3 b{background:#fe833f;}
.bdtxt1 dd.top4 b{background:#ffa13d;}
.bdtxt1 dd.top5 b{background:#ffcc3f;}
.bdtxt2 dd span,.bdtxt2 dd div{width:179px; float:left;}
.bdtxt2 dd em{width:21px; height:21px; background:url(../images/icon2.jpg) no-repeat; float:right; display:inline-block; margin-left:6px;}
.bdtxt2 dd em.anroid{background-position:-448px -21px;}
.bdtxt2 dd em.apple{background-position:-470px -21px;}
.bdtxt2 dd em.hui1{background-position:-448px -43px;}
.bdtxt2 dd em.hui2{background-position:-470px -43px;}
.bdtxt2 dd span img{width:60px; height:60px; float:left; -moz-border-radius:10px;-webkit-border-radius:10px; border-radius:10px;}
.bdtxt2 dd span code{width:105px; padding-left:14px; line-height:30px; font-size:12px; color:#666;}
.bdtxt2 dd span code h4{font-size:16px; font-weight:400; height:30px; overflow:hidden;}
.bdtxt2 dd.bdshow em{margin-top:21px;}
/*友情链接*/
.friend dl{margin-top:10px; color:#e0e0e0;}
.friend dt{width:930px; float:left; line-height:34px;}
.friend dt a{ display:inline-block; margin:0 10px;}
.friend dd{width:120px; float:left; padding:10px 0 0 15px;}
.friend dd img{width:100px; height:100px; border:1px solid #e0e0e0; padding:9px; margin-bottom:5px;}
.friend dd p{text-align:center; color:#666;}
.friend dl a:link,.friend dl a:visited{color:#666;}
.friend dl a:active,.friend dl a:hover{color:#ff4e00; text-decoration:none;}
/*底部*/
#footer{line-height:26px; text-align:center; padding:15px 0 30px; color:#000; border-top:3px solid #e0e0e0; margin-top:20px; font-size:12px;}
#footer dd img{margin:20px 10px 0; display:inline-block;}
#footer a:link,#footer a:visited{color:#000;}
#footer a:active,#footer a:hover{color:#ff4e00;}

/*公用部分*/
.main h2{height:37px; border-bottom:3px solid #51b8f2; line-height:30px; font-size:24px; font-weight:700; padding:20px 0 0 10px; color:#33b9ff; overflow:hidden;}
.main h2 a:link,.main h2 a:visited{color:#33b9ff;}
.main h2 a:active,.main h2 a:hover{color:#33b9ff; text-decoration:none;}
.main h2.m181 a:link,.main h2.m181 a:visited{color:#ff1c6c;}
.main h2.m181 a:active,.main h2.m181 a:hover{color:#ff1c6c;}
.main h2 code{ float:right; font-size:14px; font-weight:400; line-height:34px; color:#e0e0e0;}
.main h2 code a{ display:inline-block; margin:0 10px;}
.main h2 code a:link,.main h2 code a:visited,.main h2.m181 code a:link,.main h2.m181 code a:visited{color:#888;}
.main h2 code a:active,.main h2 code a:hover,.main h2.m181 code a:active,.main h2.m181 code a:hover{color:#ff4e00; text-decoration:underline;}
.main h2.m181{border-bottom-color:#ff1c6c;}
.friend h2{border-bottom:1px solid #51b8f2}
.main h3{height:36px; line-height:30px; background:url(../images/tt1.jpg) repeat-x; background-position:0 -4px; font-weight:400; font-size:18px; margin-top:10px; color:#000;}
.main h3 span{border-bottom:2px solid #51b8f2; height:34px; padding:0 10px; display:inline-block;}
.main h3.wumb{padding:0 0 0 10px;}
.main h3 a:link,.main h3 a:visited{color:#000;}
.main h3 a:active,.main h3  a:hover{color:#000; text-decoration:none;}
.main h3 code{font-size:12px; float:right; color:#888;}
.main h3 em{width:20px; height:20px; background:url(../images/icon2.jpg) no-repeat; background-position:-367px 0; float:right; margin-top:5px;}
.main h3 em a{height:20px; display:block;}
.main h3 em a:hover{background:url(../images/icon2.jpg) no-repeat; background-position:-392px 0;}
.main h3.mtop0{margin-top:0;}
.content3 h3 span{font-weight:700;}
.actqh{float:right; margin-top:11px;}
.actqh dd{width:10px; height:10px; float:left; background:#e0e0e0; cursor:pointer; display:inline-block; margin-left:4px; overflow:hidden;}
.actqh dd.actnow{width:20px; background:#51b8f2;}
.main h3 code.fhqh{ float:right; font-size:14px; color:#e0e0e0;}
.main h3 code.fhqh a{ display:inline-block; margin:0 8px; color:#333; text-decoration:none;}
.main h3 code.fhqh a.fhnow{font-weight:700; color:#33b9ff;}
.newslist{ margin-top:5px;}
.newslist li{font-size:14px; line-height:28px; height:28px; overflow:hidden;}
.newslist li a{height:28px; display:block; position:relative; padding-left:15px; overflow:hidden;}
.newslist li s{position: absolute;top:13px; left:4px;line-height: 0;font-size:0;height: 3px;width: 3px;background: #9c9c9c;}
.newslist li a:hover s{background: #fe5105; 
-webkit-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}
.newslist li code{ float:right; font-size:12px;}
.newslist li code a:hover,.newslist li code a{color:#33b9ff; text-decoration:none;}
.newslist li code a{ position:relative; float:left; z-index:11;}
.newslist2 li{font-size:12px; line-height:26px; height:26px;}
.newslist2 li a{ padding-left:11px;}
.newslist2 li s{top:12px; left:0;}
.newslist3{width:300px; float:right; margin-top:8px;}
.newslist3 li{font-size:14px;}

.biaolist{margin-top:4px;}
.biaolist li{height:35px; line-height:35px; border-bottom:1px solid #e0e0e0; cursor:pointer; position:relative; color:#666; overflow:hidden}
.biaolist li:hover,.bdtxt1 dd:hover,.gameszx:hover,.djname li:hover,.pclist1 dl:hover{background:url(../images/li_bg1.jpg) left top repeat;}
.biaolist li:hover s,.bdtxt1 dd:hover s,.djname li:hover s,.pclist1 dl:hover s{width:2px; height:100%; position:absolute; top:0; left:0; background:#fe5105;}
.biaolist li.biaobt:hover{background:none;}
.biaolist li span{width:150px; float:left; overflow:hidden; height:35px;}
.biaolist li span.zt{width:115px;}
.biaolist li span.time{width:60px; text-align:center; padding-right:10px;}
.biaolist li span.lh{width:45px; text-align:center;}
.biaolist li span.lh a{ margin:9px 0 0 5px;}
.biaolist2 li{font-size:12px; line-height:28px; height:28px;}
.biaolist2 li span{height:28px; padding-left:7px; width:100px;}
.biaolist2 li span.lh{padding-left:0;}
.biaolist2 li span.lh a{ margin-top:6px;}
.biaolist3{width:305px; float:left; margin-top:7px;}
.biaolist3 li{height:33px; line-height:33px; width:100%; float:left; font-size:12px;}
.biaolist3 li span{width:70px; padding:0 0 0 10px;}
.biaolist3 li span.name{width:90px;}
.biaolist3 li span.lh{padding:0;}
.biaolist3 li.biaobt{font-size:14px;}
.biaolist3 li.top span{font-weight:700; color:#333;}
.biaolist3 li.top span.lh{font-weight:400;}
.biaolist3 li.top span.name a{color:#33b9ff;}
.biaolist3 li.top span.name a:hover{color:#ff4e00;}
.biaolist4{margin-top:0;}
.biaolist4 ul{display:none;}
.biaolist4 li span{float:right; width:75px;}
.biaolist4 li span.time{width:100px; float:left; text-align:center; padding-right:20px;}
.biaolist4 li span code{color:#33b9ff;}

a.lhan,a.lhan2,a.lhan3,a.lhan4{width:33px; height:16px; border:1px solid #1bb1fe; display:inline-block; line-height:16px; text-align:center; font-size:12px; color:#33b9ff;}
a.lhan:hover,a.lhan2:hover,a.lhan3:hover,.fhpic dd:hover a.lhan,a.lhan2:hover,a.lhan4:hover{background:#1bb1fe; color:#fff; text-decoration:none;}
a.lhan2{width:73px; height:25px; font-size:14px; line-height:25px; margin-bottom:6px;}
a.lhan3{width:60px;}
a.lhan4{width:63px; height:28px; line-height:28px; margin-right:5px;}
.biaolist3 li.top span.lh a.lhan{color:#f0454d; border:1px solid #f0454d;}
.biaolist3 li.top span.lh a.lhan:hover{background:#f0454d; color:#fff;}

.imghov{position: relative; display: block; width: 100%; height: 100%; overflow: hidden;}
.imghov .bg,.imghov2 .bg,.pclist1 dl .bg,.fhpic dd .bg,.bdtxt1 dd span code .bg,.videolist li .bg{display:block;position:absolute;left:0px;bottom:0px;z-index:1; width:100%;height:25px;background: #000; filter:alpha(opacity=60);opacity:0.6;}
.imghov2 .bg{height:0; width:85px;}
.gameszx .imghov2 .bg{height:0; width:133px;}
.pclist2 .imghov2 .bg{height:0; width:100px;}
.pclist1 dl .bg{height:0; top:10px; left:10px; background:url(../images/sy_play2.png) no-repeat; filter:alpha(opacity=100);opacity:1;}
.imghov .text1{
-webkit-transition: all .2s ease-in; 
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}
.imghov .bg,.imghov .text2,.biaolist li:hover,.biaolist li:hover s{
-webkit-transition: all .3s ease-in; 
-moz-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
-o-transition: all .3s ease-in;
transition: all .3s ease-in;
}

.imghov .text1,.imghov .text2,.pclist1 dl .text1,.fhpic dd p,.bdtxt1 dd span code p{position: absolute;left:0; width:100%; height:25px; text-align:center;line-height:25px; overflow:hidden; z-index:55; font-size:12px;}
.fhpic dd p{ text-align:left; bottom:0; width:94%; padding:0 3%;}
.imghov .text1,.bdtxt1 dd span code p{bottom:0;}
.imghov .text2{top:100%; width:80%; padding:0 10%; font-size:14px; line-height:18px; height:36px; overflow:hidden; }
.pclist1 dl .text1{top:114px; height:90px; font-size:14px;}
.pclist1 dl .text1{width:80px; left:10px;height:80px; }
.pclist1 dl .text1 a{width:40px; height:40px; text-align:center; float:left; line-height:40px;}
.games_pic li a.imghov .text2{height:54px;}
.games_pic3 li a.imghov .text2{height:72px;}

.newstxt dd .bg{height:50px;}
.newstxt dd .text1{ line-height:18px; height:36px; bottom:5px;}
.newstxt dd .text2{height:90px;}
.mmpic1 li .bg,.mmpic1 li .text1{height:35px; bottom:0; text-align:left; width:92%; padding:0 4%; font-size:14px;}
.mmpic1 li .text1 h4{margin-top:5px; font-size:16px;}

a.imghov,.pclist1 dl a{color:#fff;}
a.imghov2{color:#333;}
.pclist1 dl h4 a{color:#333;}
.pclist1 dl dd p a{color:#f0454d;}
a.imghov2:hover,.pclist1 dl a:hover{color:#ff4e00; text-decoration:underline;}
.imghov:hover .bg{height: 100%;}
.imghov:hover .text2{top:30%;}
.imghov:hover .text1{bottom:-25px;}
.imghov:hover .bg{height: 100%;}
.pclist1 dl:hover .text1{top:10px;}
.pclist1 dl:hover .bg{height:80px;}
.newstxt dd .imghov:hover .text1{bottom:-50px;}
.mmpic1 li .imghov:hover .text1{bottom:-60px;}
.mmpic1 li .imghov:hover .text2{top:40%;}
.imghov2:hover{background:url(../images/li_bg1.jpg) left top repeat;}
.newstxt dd a.imghov .bg,.newstxt dd a.imghov .text1,.newstxt dd a.imghov .text2,#mmwu li a.imghov .bg,#mmwu li a.imghov .text1,#mmwu li a.imghov .text2,.imghov2 .bg{
-webkit-transition: all 0s ease-in; 
-moz-transition: all 0s ease-in;
-ms-transition: all 0s ease-in;
-o-transition: all 0s ease-in;
transition: all 0s ease-in;
}


.slider{ width:100%;  min-width:750px;  height:300px;  position:relative; overflow:hidden; background:#fff; text-align:center;   }	.slider .bd{ width:750px; position:absolute; left:50%; margin-left:-375px  }
.slider .bd li{ width:750px;  overflow:hidden; position:relative;}
.slider .bd li img{ display:block; width:750px; height:300px;    }
.slider .bd li span{width:750px; height:55px; position:absolute; bottom:0; left:0; background:#000; text-align:left; line-height:24px; padding-top:5px; color:#fff;}
.slider .tempWrap{ overflow:visible !important }
.slider .tempWrap ul{  margin-left:-750px !important;   }
.slider .hd{ position:absolute; width:100%; left:0;  z-index:1; height:60px; bottom:0px;  text-align:center; overflow:hidden;}
.slider .hd li{zoom:1; width:720px; padding:5px 15px; height:50px; line-height:24px; overflow:hidden; background:#000;  cursor:pointer; filter:alpha(opacity=90);opacity:0.9; text-align:left; color:#fff; display:none;}
.slider .hd li.on{display:inline-block; *display:inline; }

.slider .pnBtn{  position:absolute; z-index:1; top:0; width:100%;  height:300px; cursor:pointer;   }
.slider .prev{ left:-50%; margin-left:-375px;  }
.slider .next{ left:50%;  margin-left:375px;  }
.slider .pnBtn .blackBg{ display:block;  position:absolute; left:0; top:0; width:100%; height:300px; background:#000; filter:alpha(opacity=70);opacity:0.7; }
.slider .pnBtn .arrow{position:absolute; top:100px; z-index:1; width:54px; height:92px;  background:url(../images/banleft.png) no-repeat; display:none;}
.slider .prev .arrow{right:20px;  }
.slider .next .arrow{left:20px; background-position:0 -92px}

.gg3{margin-top:20px;}


/*广告*/
.bgmarket{position:relative; z-index:-1; width:100%; height:570px;margin-bottom:-570px; background:url() center top no-repeat;}
.bgclose{width:1200px; margin:0 auto; position:relative; z-index:1111; display:none;}
.bgclose cite{width:45px; height:22px; background:url(../images/close.jpg) no-repeat; position:absolute; top:10px; right:56px; cursor:pointer;}

.gg1{width:1200px; margin:0 auto; position:relative; z-index:4444;}
.gg1 span{overflow:hidden; display:block; text-align:center;}
.gg1_show{width:1200px; position:absolute; height:230px; left:0; top:0; display:none; overflow:hidden; z-index:4444;}
.gg2{width:1200px; margin:0 auto; clear:both; padding-top:20px; background:#fff;}
.gg2 img{ margin:0 auto}
.fg_small{width:20px; height:255px; top:0; left:0; position:absolute; display:none;}
.fg_small cite{width:20px; height:20px; background:url(../images/reload.jpg) no-repeat; position:absolute; bottom:-20px; left:0;}
.ad_box_bottom{position:absolute;top:0;z-index:55555;width:100%;}

#a_file_d_block_621_child{height:400px !important;}


/*新年背景*/
#bg2015{width:100%;height:6750px;margin-bottom:-6750px;z-index:-3; background:url( ) no-repeat  center top fixed ;}
.box2015{width:1200px; margin:0 auto; height:60px;position:relative;}
.box2015 cite{width:40px; height:18px; background:url(../images/close.jpg)  no-repeat; cursor:pointer;position:absolute;right:0;top:66px;}