@charset "utf-8";

/*public*/
.black9,.black9 a{ color:#999 !important;}
.black3,.black3 a{ color:#333 !important;}
.black6.black6 a{ color:#666}
.clear{font-size:0;line-height:0;height:0;clear:both;overflow: hidden;display: block;}
.center_it { text-align:center}
/*global*/
.header_add{ background:url(../img/top.jpg) no-repeat; display:block; overflow:hidden; width:790px; height:30px; line-height:30px; color:#fff; font-size:16px; text-indent:10px; font-weight:bold}
.add_box { width:790px; clear:both;}
.add_inner { background:#F7F7F7;}
.add_inner ul  { clear:both;}
.add_inner ul li { border-right:#EEE 1px solid; border-bottom:#EEE 1px solid; font-size:14px; width:157px; height:145px; float:left}
.add_inner ul li img { width:76px; height:76px; margin:12px auto 8px; text-align:center}
.add_inner ul li p { clear:both;}
.add_inner ul li p.add_name {height:20px; line-height:20px; overflow:hidden; text-align:center}
.border-r-n { border-right:none !important}


