@charset "utf-8";
@import url("css.css");
/* public */
html, body, div, span,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
body{font:normal normal normal 12px/1.5em Arial,Helvetica,Helvetica,sans-serif;height:100%;word-break:break-all; margin:0; padding:0; background-color:#FFF}
div {text-align:left;word-break:keep-all;white-space:normal;}
a{text-decoration:none;color: #06c;}
a:hover{text-decoration: underline;color:#F60;}
a:active{outline:none;}
selection {color:#FFF;background-color:#209EEB;}
code::selection{background-color:#209EEB}
::-moz-selection {color:#FFF;background-color:#209EEB;}
code::-moz-selection{background-color:#209EEB}
li{list-style-type:none;}
img{border-style:none; vertical-align:middle}
fieldset{border-style:none }
label,button{cursor:pointer;}
select,input,textarea{font-size:12px;line-height:1.2em;}
table{border-collapse: collapse;border-style:none;}
td{padding:0;border:0;font-size:12px;line-height:1.5em;} 
.clearfix:after {content: "";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;display:-moz-inline-stack;}
* html .clearfix {height:1%;}
*+html .clearfix {height:1%;}
.clear{font-size:0;line-height:0;height:0;clear:both;overflow: hidden;display: block;}
/*line*/
.none { border:none !important}
/*font*/
.bold { font-weight:bold !important;}
.blackc { color:#ccc;}
.black3 { color:#333;}
.black6 { color:#666 !important;}
.black9 { color:#999;}
.f12 { font:normal 12px/1.5em Arial,Helvetica;}
.f14 { font-size:14px;}
.block { display:block;}
.selectbox .sel_btn, a.go { background:url(../img/bg_all.png) no-repeat; overflow:hidden; display:block;}
.top10 {margin-top:10px;}
.topp10 { padding-top:10px !important; padding-top:0px;}
*+html .topp10 { padding-top:0px !important; padding-top:0px;}
.p10 { padding:10px;}
/*AD*/
.ad1 { width:160px; height:500px; border:#ccc 1px solid; margin:5px auto; font:bold 18px/370px Arial,Helvetica; color:#f00; text-align:center; }
.ad2 { width:160px; height:300px; border:#ccc 1px solid; margin:5px auto 10px auto; font:bold 18px/300px Arial,Helvetica; color:#f00; text-align:center; }
.selectbox .sel_btn, a.go,.nav ul.channel li { background:url(../img/bg_all.png) no-repeat; overflow:hidden; display:block;}
.nav ul.rss li { background:url(../img/s.png) no-repeat; overflow:hidden; display:block;}
/* header */
.header { width:980px; height:145px; margin:0px auto;}
.header .login { border:#B6BAC0 1px solid; height:25px; background:#eee; line-height:25px; padding-left:15px; padding-right:10px;}
.header .login span.num { display:block; float:left; width:400px;}
.header .login h1 { font: 12px/25px Arial,Helvetica,Helvetica,sans-serif;}
.header .login span.log { float:right; color:#666; font-weight:bold;}
.header .login span.log a { color:#666;}
.search { width:980px; height:90px; background:url(../img/search.png) no-repeat;}
.search h1 { width:210px; height:90px; background:url(../img/logo.png) no-repeat; float:left;}
.search h1 a { text-indent:-99999px; display:block; width:210px; height:90px; float:left;}
.search .searchbox { float:right; width:470px; padding-top:22px;}
.input_text { width:275px; float:left; height:26px;background:transparent; border:none; line-height:26px; padding-left:25px; font-size:14px;}
.selectbox { border:#5B9400 1px solid; width:88px; height:28px; margin-left:1px; float:left; background-color:#fff; position:relative;z-index:1000}
.selectbox .sel_input {height:25px; border:none; float:left;background:transparent; line-height:25px; padding-left:3px; width:61px !important; width:61px;}
*+html .selectbox .sel_input {height:25px; border:none; float:left;background:transparent; line-height:25px; padding-left:3px; width:61px !important; width:61px;}
.selectbox .sel_btn { width:21px; height:28px; float:left; cursor:pointer; border-left:#5B9400 1px solid; }
.selectbox ul.sel_more { float:left; border:#E5E3E4 1px solid; width:86px; padding:5px 0;background-color:#999; text-indent:5px; display:none; position:absolute; top:28px; left:0px;}
.selectbox ul.sel_more li { border-bottom:#ADADAD 1px solid; color:#fff; height:20px; line-height:20px; cursor:pointer;}
.selectbox ul.sel_more li a { color:#fff; display:block;}
.selectbox ul.sel_more li a:hover { background-color:#fff; color:#333; text-decoration:none; font-weight:bold;}
a.go { background-position:-22px 0; width:60px; height:30px; display:block; font-size:0px; margin-left:5px; float:left;}
.pop { clear:both; color:#fff; padding-top:4px;}
.pop a { color:#fff;}
.nav { width:978px; height:28px; margin:0px auto; border:#898989 1px solid; background:url(../img/s.png) 0 -16px repeat-x;}
.nav ul.rss { width:105px; float:right; padding-top:6px;}
.nav ul.rss li { width:16px; height:16px; float:left; margin-right:10px;}
.nav ul.rss li a{ display:block; width:16px; height:16px; }
.nav ul.rss li.s { background-position:0 0 ;}
.nav ul.rss li.f { background-position:-16px 0;}
.nav ul.rss li.t { background-position:-32px 0;}
.nav ul.rss li.r {background-position:-48px 0;}
.nav ul.channel a {height:28px; color:#333; font:bold 14px/28px Arial,Helvetica; display:block;}
.nav ul.channel li { border-right:#898989 1px solid; height:28px; float:left;}
.nav ul.channel li.home { background-position:-82px 0; width:54px; height:28px; border-bottom:#fff 1px solid;  padding-left:35px;}
.nav ul.channel li.second { background-position:-171px 0; width:89px; height:28px; text-align:center;}
.nav ul.channel li.other { background-position:-260px 0; width:89px; height:28px; text-align:center;}
/*footer*/
.footer { width:980px; margin:0 auto; padding-top:20px !important; padding-top:10px; clear:both;}
.footer .foot { width:972px; background-color:#1B1B1B; padding:22px 0px 10px 8px; float:left;}
.footer .foot h3 { font:bold 14px/1.5em Arial,Helvetica; color:#fff; margin-bottom:5px;}
.footer .foot dl { float:left; width:155px; margin-right:6px;}
.footer .foot dt { width:155px; height:25px; line-height:25px; text-indent:10px; background-color:#121212; border-bottom:#242424 1px solid; color:#555; font-weight:bold; margin-bottom:6px;}
.footer .foot dd a { color:#535353; line-height:20px; text-indent:10px; display:block;}
.footer .partner { width:960px; background-color:#111;color:#999; float:left; padding:10px;}
.footer .partner a {color:#999; line-height:18px;}
.footer .copy { background-color:#000; color:#313131; padding:20px 10px; float:left; width:960px;}
.footer .copy a { color:#535353}