@font-face {
  font-family: 'kievit';
  src: url(/fonts/kievitot/KievitWeb-Light.eot); /* IE9 Compat Modes */
  src: url(/fonts/kievitot/KievitWeb-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/kievitot/KievitWeb-Light.woff) format('woff'); /* Modern Browsers */
  font-weight:300; font-style:normal;
}
@font-face {
  font-family: 'kievit';
  src: url(/fonts/kievitot/kievitot-regular-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/kievitot/kievitot-regular-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/kievitot/kievitot-regular-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/kievitot/kievitot-regular-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/kievitot/kievitot-regular-webfont.svg#kievit) format('svg'); /* Legacy iOS */
  font-weight:normal; font-style:normal;
}
@font-face {
  font-family: 'kievit';
  src: url(/fonts/kievitot/kievitot-medium-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/kievitot/kievitot-medium-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/kievitot/kievitot-medium-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/kievitot/kievitot-medium-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/kievitot/kievitot-medium-webfont.svg#kievit) format('svg'); /* Legacy iOS */
  font-weight:500; font-style:normal;
}

@font-face {
  font-family: 'kievit';
  src: url(/fonts/kievitot/kievitot-bold-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/kievitot/kievitot-bold-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/kievitot/kievitot-bold-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/kievitot/kievitot-bold-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/kievitot/kievitot-bold-webfont.svg#kievit) format('svg'); /* Legacy iOS */
  font-weight:bold; font-style:normal;
}

@font-face {
  font-family: 'kievit';
  src: url(/fonts/kievitot/kievitot-black-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/kievitot/kievitot-black-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/kievitot/kievitot-black-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/kievitot/kievitot-black-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/kievitot/kievitot-black-webfont.svg#kievit) format('svg'); /* Legacy iOS */
  font-weight:900; font-style:normal;
}
