@font-face {
  font-family: 'tisa';
  src: url(/fonts/tisa/tisaot-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/tisa/tisaot-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/tisa/tisaot-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/tisa/tisaot-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/tisa/tisaot-webfont.svg#tisa) format('svg'); /* Legacy iOS */
  font-weight:normal; font-style:normal;
}
@font-face {
  font-family: 'tisa';
  src: url(/fonts/tisa/tisaot-light-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/tisa/tisaot-light-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/tisa/tisaot-light-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/tisa/tisaot-light-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/tisa/tisaot-light-webfont.svg#tisa) format('svg'); /* Legacy iOS */
  font-weight:100; font-style:normal;
}
@font-face {
  font-family: 'tisa';
  src: url(/fonts/tisa/tisaot-lightita-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/tisa/tisaot-lightita-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/tisa/tisaot-lightita-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/tisa/tisaot-lightita-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/tisa/tisaot-lightita-webfont.svg#tisa) format('svg'); /* Legacy iOS */
  font-weight:100; font-style:italic;
}
@font-face {
  font-family: 'tisa';
  src: url(/fonts/tisa/tisaot-medi-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/tisa/tisaot-medi-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/tisa/tisaot-medi-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/tisa/tisaot-medi-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/tisa/tisaot-medi-webfont.svg#tisa) format('svg'); /* Legacy iOS */
  font-weight:500; font-style:normal;
}
@font-face {
  font-family: 'tisa';
  src: url(/fonts/tisa/tisaot-bold-webfont.eot); /* IE9 Compat Modes */
  src: url(/fonts/tisa/tisaot-bold-webfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(/fonts/tisa/tisaot-bold-webfont.woff) format('woff'), /* Modern Browsers */
  url(/fonts/tisa/tisaot-bold-webfont.ttf)  format('truetype'), /* Safari, Android, iOS */
  url(/fonts/tisa/tisaot-bold-webfont.svg#tisa) format('svg'); /* Legacy iOS */
  font-weight:bold; font-style:normal;
}
