html{background:#0b0b0b url(http://nurxxx.woxcdn.com/static/images/html-bg.png) repeat left top;}
body{
  margin: 0;
  background: url(http://nurxxx.woxcdn.com/static/images/body-bg.png) repeat-x left top;
  text-align: center;
  font: 0.75em normal Tahoma, sans-serif;
  color: #8b8b8b;
}
a{color:#ffffff;text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:0;}
ul, ul li{margin:0;padding:0;}
ul li{list-style:none;}
.clear{clear:both;}
.last{background-image:none !important;}
.hidden{display:none;}
.relative-wrapper{width:100%;position:relative;}
.wrapper{min-width:320px;max-width:1240px;margin:0 auto;text-align:left;}
.multi{width:100%;}
.network{width:100%;height:32px;display:block;overflow:hidden;line-height:28px;/*background:url(http://nurxxx.woxcdn.com/static/images/network-bg.png) no-repeat left top;*/}
.network ul{float:left;/*margin-left:80px;*/}
.network ul li{float:left;padding:0 11px 0 10px;text-transform:uppercase;}
.network .signup{float:right;}
.network .signup li a{color:#ffffff;text-transform:lowercase;}
.network strong{color:#ffffff;}
.header{width:100%;background:url(http://nurxxx.woxcdn.com/static/images/header-bg.png) no-repeat left 8px;}
.header .logo{
  display: block;
  width: 280px;
  height: 60px;
  margin-top: 8px;
  float: left;
  position: relative;
  overflow: hidden;
}
.header .logo span{
  position: absolute;
  top: 40px;
  left: 2px;
  color: #ffffff;
}
.header .text{height:76px;float:left;margin:0 0 0 34px;}
.header .text h1{height:27px;display:block;font-size:24px;line-height:27px;overflow:hidden;font-weight:normal;margin:24px 0 0 0;padding:0;color: #8b8b8b;}
.header .text h1 span{color:#FDBB2F;}
.header .text h1 a{color:#8b8b8b;}
.header .text h1 a:hover{text-decoration:none;color:#8b8b8b;}
@media screen and (max-width:700px){.header .text{display:none;}
}
@media screen and (max-width:380px){.category-title{display:none;}
}
.header .text p{margin:10px 0;font-size:14px;}
.header .text p span{color:#8b8b8b;}
.header .category-title h1{margin-top:24px;color: #fdbb2f;}
.header .category-title h1 a {color: #8b8b8b;}
.search-bar{
  width: 100%;
  height: 34px;
  margin: 0 0 10px 0;
  border: 1px solid #404040;
  box-sizing: border-box;
}
.search{
  height: 32px;
  margin: 0;
  float: left;
}
.search span{font-size:20px;line-height:30px;text-transform:uppercase;float:left;}
.search input[type=text]{
  width: 241px;
  height: 32px;
  margin: 0;
  padding: 0 0 0 4px;
  float: left;
  border: 0;
  background: transparent url(http://nurxxx.woxcdn.com/static/images/search-form.png) repeat-x left top;
  line-height: 26px;
  color: #ffffff;
}
@media screen and (max-width:500px){.search input[type=text]{width:314px;}
}
@media screen and (max-width:400px){.search input[type=text]{width:234px;}
}
.search input[type=submit]{
  width: 63px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  background: transparent url(http://nurxxx.woxcdn.com/static/images/search-button.png) no-repeat left top;
  cursor: pointer;
}
.search-bar h2{display:inline;margin:0;font-size:12px;font-weight:normal;}

.nav { height: 28px; float: right; margin: 2px; }
@media screen and (max-width: 880px) {
  .nav {
    display: none;
  }
}
.nav li { display: inline-block; }
.nav li a { padding: 0 10px; display: block; line-height: 28px; text-transform: uppercase; }
.nav li a:hover { background: #262626; color: #ff3f35; text-decoration: none; }


.share{width:150px;margin:17px 0 0 0;float:right;}
.network .share {
  width: 160px;
  margin-top: 6px;
  float: right;
}
@media screen and (max-width:700px){.share{display:none;}
}
.keys{margin:13px 0 0 0;float:left;padding:5px;}
@media screen and (max-width:940px){.keys{display:none;}
}
.multi .search{float:none;margin:8px 0 0 0;}
.multi .keys{float:none;margin:6px 0 0 0;}
.multi .share{margin-top:-28px;}
.title{width:100%;height:33px;line-height:33px;text-indent:10px;text-align:left;background:url(http://nurxxx.woxcdn.com/static/images/title-bg.png) repeat-x left top;}
.title h2, .title h3{margin:0;padding:0;font-size:12px;color:#ffffff;display:inline;}
.title a{font-size:18px;margin:0 8px 0 0;text-decoration:underline;}
.title a:hover{text-decoration:none;}
.models-title .float-right{font-size:12px;float:right;margin:0 8px 0 0;text-transform:uppercase;}
.models-title h2, .models-title h3{float:left;margin:0 20px 0 0;}
.menu{position:absolute;width:176px;float:left;margin:0 0 0 7px;}
.menu ul{margin:12px 0;}
.menu ul li{color:#ffffff;line-height:24px;}
.menu ul li input[type=radio]{float:left;margin:5px 10px 0 10px;}
.menu ul li .expand{color:#ffffff;padding:0 0 0 12px;font-weight:bold;margin:0 0 0 13px;text-transform:uppercase;}
.menu .expandable{display:none;margin:0;}
.menu .channel{margin:0 0 0 26px;}
.menu .channel li{list-style:circle;}
.disclamer{margin:0 auto;}
.content{clear:both;width:100%;overflow:hidden;text-align: center;}
.content .thumb{position:relative;width:19.1%;display:inline-block;vertical-align:top;margin:0 0 6px 3px;}
@media screen and (max-width:1245px){.content .thumb{position:relative;width:23.6%;}
}
@media screen and (max-width:746px){
.paginationu .pageinfo {display:none;}
.pagination .pageinfo {display:none;}
}
@media screen and (min-width:701px){.showmore{display:none;}}
@media screen and (max-width:700px){.content .thumb{width:31.3333%}.showmore{padding:5px 5px;cursor:pointer;display:block;text-align:center;background-color:#191919;height: 20px;margin:0.6% 0.9% 2.6% 0.9%;font-size:18px;color:#ff3f35;border:1px solid #404040;}
.showmore:hover{color:#ff3f35;text-decoration: none;}
	.cats-list .column:nth-child(n+2){display:none;}
	.cats-list .column ul li:nth-child(n+25){display:none;}
	.thumb:nth-child(n+25){display:none;}
	.title h2{font-size:16px;}
	.column ul li{font-size:13px;}
	.column ul li a{font-size:13px;}
}
@media screen and (max-width:500px){.content .thumb{width:47%;}
}
.content .thumb .image{float:left;width:100%}
.content .thumb .image .spacer{width:100%;height:auto;border:1px solid #393939;float:left;}
.content .thumb .image a{display:block;position:relative;padding-bottom:74%;border:1px solid #393939;}
.content .thumb .image a img{position:absolute;width:100%;height:auto;left:0;top:0;}
.content .thumb .image a:hover img{border-color:#494949;}
.content .thumb .report{width:15px;height:15px;position:absolute;margin:163px 0 0 4px;}
.content .thumb .duration{width:53px;height:15px;display:block;overflow:hidden;position:absolute;bottom:8px;right:4px;background:url(http://nurxxx.woxcdn.com/static/images/duration.png);font-size:10px;text-align:center;line-height:15px;color:#ffffff;}
.content .thumb .description{width:100%;height:15px;display:none;float:left;margin:2px 0;overflow:hidden;line-height:15px;color:#ffffff;overflow:hidden;}
.content .thumb .description h3{color:#ffffff;font-size:12px;display:none;font-weight:normal;}
.content .thumb .descriptionm{font-size:17px;width:100%;height:20px;display:block;float:left;margin:2px 0;overflow:hidden;line-height:20px;color:#ffffff;text-align:center;}
.content .thumb .descriptionm h3{color:#ffffff;font-size:17px;display:inline;font-weight:normal;}
.content .thumb .category{width:50%;height:14px;display:none;float:left;font-size:11px;white-space:nowrap;overflow:hidden;}
.content .thumb .category a{color:#03bdf3;text-decoration:none;}
.content .thumb .source{width:50%;height:14px;display:none;float:left;text-align:right;font-size:11px;color:#03bdf3;white-space:nowrap;overflow:hidden;}
.content .thumb .source a, .content .thumb .source span{color:#03bdf3;text-decoration:none;}
.head-title{display:block;height:auto;overflow:hidden;clear:both;}
.head-title *{font-size:115%;}
.players{width:100%;height:700px;}
@media (max-width: 1253px) {
  .players {
    width: 100%;
    height: 580px;
  }
}
@media (max-width: 1100px) {
  .players {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 867px) {
  .players {
    width: 100%;
    height: 480px;
  }
}
@media (max-width: 660px) {
  .players {
    width: 100%;
    height: 360px;
  }
}
@media (max-width: 520px) {
  .players {
    width: 100%;
    height: 360px;
  }
}
.players iframe,
.players object{width:inherit !important;height:inherit !important;border:0 none;}
.players span{display:none;}
.video-page p{text-align:center;font-size:105%;}
.video-banner{display:block;height:auto;overflow:hidden;clear:both;text-align:center;}
.video-banner div{display:inline-block;vertical-align:top;margin:10px 5px;}
.video-sidebar{width:100%;margin:0 auto;}
.related{margin:0px 0 -25px 0;}
.related ul li{display:inline}
.related ul li:before{content:", "}
.related ul li:first-child:before{content:""}
.related .related-list{margin:0px 0 0 0;text-align: left;}
.related .related-list h2, .content .related .related-list h3{display:inline;margin:0;font-size:14px;font-weight:normal;}
.related-list{font-size:14px;line-height:24px;padding:1px 10px 30px 10px;}
.related-list a{color:#ffffff;}
.related-list b{color:#ffffff;font-weight:normal;}
.pagination{width:100%;float:left;margin:17px 0 17px 3px;}
.paginationu{width:100%;float:left;margin:17px 0 17px 3px;}
@media screen and (max-width:700px){.paginationu{display:none;}.pagination{text-align:center;margin-left:0;}.paginationu{text-align:center;margin-left:0;}
}
.pagination ul{float:left;}
.paginationu ul{float:left;}
@media screen and (max-width:700px){.pagination ul{float:none;display:inline-block;white-space:nowrap;max-width:100%;overflow:hidden;}.paginationu ul{float:none;display:inline-block;white-space:nowrap;max-width:100%;overflow:hidden;}
}
.pagination ul li a{font-weight:bold;}
.pagination ul li a:hover{text-decoration:none;}
.pagination ul li.page{
  width: 37px;
  height: 37px;
  float: left;
  margin: 0 2px 0 0;
  line-height: 38px;
  text-align: center;
  background: url(http://nurxxx.woxcdn.com/static/images/paginator-bg.png) no-repeat left top;
  color: #ffffff;
}
.pagination ul li.page.current{text-decoration:none;color:#ff3f35;}
.paginationu ul li a{font-weight:bold;}
.paginationu ul li a:hover{text-decoration:none;}
.paginationu ul li.page{
  width: 37px;
  height: 37px;
  float: left;
  margin: 0 2px 0 0;
  line-height: 38px;
  text-align: center;
  background: url(http://nurxxx.woxcdn.com/static/images/paginator-bg.png) no-repeat left top;
  color: #ffffff;
}
.paginationu ul li.page.current{text-decoration:none;color:#ff3f35;}

@media screen and (max-width:700px){.pagination ul li.page{display:none;}.pagination ul li.page.current{display:list-item;text-decoration:none;color:#ff3f35;}.paginationu ul li.page{display:none;}
.paginationu ul li.page.current{display:list-item;text-decoration:none;color:#ff3f35;}
}
.pagination ul li.page a{display:block;color:#ffffff;}
.pagination ul li a.active{color:#ff3f35;}
.pagination ul li.page a:hover{color:#ff3f35;}
.pagination ul li.prev, .pagination ul li.next{
  width: 63px;
  height: 37px;
  float: left;
  margin: 0 2px 0 0;
  line-height: 38px;
  color: #ffffff;
  background: url(http://nurxxx.woxcdn.com/static/images/nav-notactive.png) no-repeat left top;
  text-align: center;
  text-transform: lowercase;
}
.pagination ul li.prev a, .pagination ul li.next a{color:#ffffff;display:block;}
.pagination ul li.prev:hover, .pagination ul li.next:hover{background-image:url(http://nurxxx.woxcdn.com/static/images/nav-active.png);}
.pagination ul li.prev:hover a, .pagination ul li.next:hover a{color:#000;}
.pagination .pageinfo{
  float: left;
  margin: 0 0 0 40px;
  line-height: 38px;
  color: #ffffff;
}
.paginationu ul li.page a{display:block;color:#ffffff;}
.paginationu ul li a.active{color:#ff3f35;}
.paginationu ul li.page a:hover{color:#ff3f35;}
.paginationu ul li.prev, .paginationu ul li.next{
  width: 63px;
  height: 37px;
  float: left;
  margin: 0 2px 0 0;
  line-height: 38px;
  color: #ffffff;
  background: url(http://nurxxx.woxcdn.com/static/images/nav-notactive.png) no-repeat left top;
  text-align: center;
  text-transform: lowercase;
}
.paginationu ul li.prev a, .paginationu ul li.next a{color:#ffffff;display:block;}
.paginationu ul li.prev:hover, .paginationu ul li.next:hover{background-image:url(http://nurxxx.woxcdn.com/static/images/nav-active.png);}
.paginationu ul li.prev:hover a, .paginationu ul li.next:hover a{color:#000;}
.paginationu .pageinfo{
  float: left;
  margin: 0 0 0 40px;
  line-height: 38px;
  color: #ffffff;
}

@media screen and (max-width:700px){.pagination .pageinfo{display:none;}.paginationu .pageinfo{display:none;}
}
.filters{float:right;margin-right:3px;}
@media screen and (max-width:700px){.filters{display:none;}
}
.content .models-pagination{width:200px;margin:2px 0 0 0;float:right;}
.multi .content{margin:-59px 0px 0px 0px;}
.multi .content .thumb{margin:0 0 6px 6px;}
.sidebar{width:300px;float:right;margin:0 7px 0 -307px;}
.sidebar .col{width:130px;float:left;margin:0 10px 17px 10px;}
.sidebar .col a{color:#8b8b8b;}
.sidebar .col a:hover{text-decoration:underline;}
.sidebar .col h4{margin:7px 0;padding:0;color:#ffffff;}
.bcats{width:1254px;float:left;margin:0 7px 0 0;}
.bcats .col{width:120px;float:left;margin:0 10px 17px 10px;padding:15px;}
.bcats .col a{color:#ffffff;}
.bcats .col a:hover{text-decoration:underline;}
.bcats .col h4{margin:7px 0;padding:0;color:#ffffff;}
.banner{margin:0 0 17px 0;}
.footer{float:left;width:100%;background:url(http://nurxxx.woxcdn.com/static/images/footer-bg.png) repeat-x right bottom, url(http://nurxxx.woxcdn.com/static/images/banner.png) repeat-x left top;text-align:center;float:left;}
.inner, .innervid{width:100%;margin:14px auto;overflow:hidden;height:100%;text-align:center;}
.banner{width:300px;height:250px;margin:9px;display:inline-block;}
.banner_big{width:960px;height:250px;margin:9px;display:inline-block;}
.banner_mid{width:728px;height:90px;margin:9px;display:inline-block;}
@media screen and (max-width:340px){.banner{margin:9px 0;}
}
.footer .ftext{margin:0 auto 0 auto;padding:26px 0 0 0;text-align:left;}
.footer .disclamer{width:654px;height:118px;margin:0 auto;padding:0 300px 0 0;text-align:left;background:url(http://nurxxx.woxcdn.com/static/images/header-bg.png) no-repeat right;font-size:11px;}
@media screen and (max-width:1000px){.footer{background:none;}
.footer .disclamer{width:auto;height:auto;padding:110px 10% 20px 10%;background:url(http://nurxxx.woxcdn.com/static/images/header-bg.png) no-repeat center 50px, url(http://nurxxx.woxcdn.com/static/images/footer-bg.png) repeat-x right 23px;}
}
.column{}

.cats-list{-webkit-column-count:7;-moz-column-count:7;column-count:7;padding:15px;}
@media screen and (max-width:1300px){.cats-list{-webkit-column-count:6;-moz-column-count:6;column-count:6;}
}
@media screen and (max-width:1045px){.cats-list{-webkit-column-count:5;-moz-column-count:5;column-count:5;}
}
@media screen and (max-width:900px){.cats-list{padding:6px;-webkit-column-count:4;-moz-column-count:4;column-count:4;}
}
@media screen and (max-width:700px){.cats-list{-webkit-column-count:3;-moz-column-count:3;column-count:3;}
}
@media screen and (max-width:550px){.cats-list{-webkit-column-count:2;-moz-column-count:2;column-count:2;}
.column ul li{text-align:right;font-size:15px;}
.column ul li a{display:block;float:left;font-size:15px;}
}
@media screen and (max-width:450px){.cats-list{-webkit-column-count:1;-moz-column-count:1;column-count:1;}
.column ul li{font-size:17px;}
.column ul li a{font-size:17px;}
}

.column h3{color:#ffffff;text-align: left}
.column ul{margin:6px 0;width:100%;}
.column ul li{display:block;clear:both;overflow:hidden;text-align: right;}
.column ul li a{color:#c9c9c9;text-decoration:none;float: left;}
.column ul li a:hover{text-decoration:underline;}
.open{display:block;}
.filter_type2 .selected{background:#6da50d;color:#000000;text-indent:4px;}
.filter_type2 .selected a, .filter_type2 .selected label{color:#000000;text-decoration:none;}
.filter_type3{position:absolute;}
.filter_type3 .overlay_container{width:1240px;margin-top:100px;}
.apply_filters{width:78px;height:30px;margin:10px;float:right;border:0;background:transparent url(http://nurxxx.woxcdn.com/static/images/apply.png) no-repeat left top;cursor:pointer;}
.feedback_form{width:650px;margin-left:auto;margin-right:auto;margin-top:5px;margin-bottom:10px;text-align:center;color:white;font-size:12px;}
.feedback_form input, .feedback_form textarea{width:250px;font-size:12px;color:#efefef;background:#1A1614;border:1px solid #4f423d;padding:6px;}
.feedback_form textarea{height:160px;}
.feedback_form input[type=submit]{margin-bottom:24px;border:none;background:url(http://nurxxx.woxcdn.com/static/images/nav-notactive.png) no-repeat no-repeat;background-size:100%;margin-left:13px;font-weight:bold;font-size:14px;color:#fff;text-shadow:1px 1px 0 #244400;width:153px;height:32px;cursor:pointer;}
.feedback_form .message{margin-top:50px;margin-bottom:70px;}
.feedback_form p{text-align:justify;}
.feedback_form .captcha{width:318px;margin:5px auto 5px auto;}
.feedback_form ul{text-align:justify;}
.feedback_form ul li:before{content:"-";position:relative;left:-15px;}
.feedback_form ul li{text-indent:-5px;margin-left:20px;}
.video{width:98%;position:relative;margin:0 auto 20px auto;padding-top:56.25%;color:red;}
.video iframe, .video object, .video embed{position:absolute;top:0;left:0;width:100%;height:100%;}
.spacer-preloader{position:fixed;left:-999999px;}
.terms{padding:0px;max-width:800px;margin:0 auto 0 auto;color:#8b8b8b;}
.terms h1{text-align:center;margin-bottom:10px;}
.terms p{text-align:justify;margin-bottom:10px;text-indent:20px;}
.terms a{color:#ffffff;}
.terms h2{font-weight:bold;padding:0;border:0;box-shadow:none;margin-bottom:10px;}
.terms ul, .terms ol{margin-left:20px;}
.terms ul li, .terms ol li{text-align:justify;margin-bottom:10px;}
.terms ol{list-style-type:none;}
.terms ol li:before{content:"(" counter(section, lower-alpha) ") ";font-weight:bold;}
.terms ol li{counter-increment:section;margin-left:10px;}
.terms .wopt{vertical-align:top;border-style:none;}
.terms .terms-dates{margin-bottom:10px;text-align:center;}
.feedback_form{width:650px;margin-left:auto;margin-right:auto;margin-top:5px;margin-bottom:10px;text-align:center;color:#000;font-size:12px;}
.feedback_form input, .feedback_form textarea{width:250px;font-size:12px;color:#efefef;background:#3d3d45;border:1px solid #4f423d;padding:6px;}
.feedback_form textarea{height:160px;}
.feedback_form input[type=submit]{margin-bottom:24px;padding:12px 18px;border:none;background:#ef9e46;background:-moz-linear-gradient(top, #7a100d 0%, #7a100d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a100d), color-stop(100%,#7a100d));background:-webkit-linear-gradient(top, #7a100d 0%,#7a100d 100%);background:-o-linear-gradient(top, #7a100d 0%,#7a100d 100%);background:-ms-linear-gradient(top, #7a100d 0%,#7a100d 100%);background:linear-gradient(to bottom, #7a100d 0%,#7a100d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9cca01', endColorstr='#9cca01',GradientType=0);margin-left:13px;font-weight:bold;font-size:18px;color:#fff;text-shadow:1px 1px 0 #244400;width:180px;cursor:pointer;}
.feedback_form .message{margin-top:50px;margin-bottom:70px;}
.feedback_form p{text-align:justify;}
.feedback_form .captcha{width:318px;margin:5px auto 5px auto;}
.feedback_form ul{text-align:justify;}
.feedback_form ul li:before{content:"-";position:relative;left:-15px;}
.feedback_form ul li{text-indent:-5px;margin-left:20px;}

@media all and (max-width:1245px) {
  .video-content div.thumb:nth-child(9), .video-content div.thumb:nth-child(10) {display: none; }
}
@media all and (max-width:700px) {
  .video-content div.thumb:nth-child(9) {display:inline-block !important; }
  .video-content div.thumb:nth-child(10) {display: none; }
}
@media all and (max-width:500px) {
  .video-content div.thumb:nth-child(9), .video-content div.thumb:nth-child(10) {display:inline-block !important; }
}