@charset "Shift_JIS";
/* 
--------------------------------------------------------------------
0. style reset
1. 初期設定
2. 共通
--------------------------------------------------------------------*/

/* 0. style reset
--------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:separate;
	border-spacing:0;
	border:0;
}
img {
	vertical-align:bottom;
}
input, label {
	margin:0;
	padding:0;
	vertical-align:middle;
}
caption {
	display:none;
}
/* 1. 初期設定
--------------------------------------------------------------------*/
body {
	color:#333;
	font-family:"ＭＳ Ｐゴシック", "メイリオ", Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	background-color:#FFFFFF;
	margin:0;
	padding:0;
	text-align:left;
	font-size:81.25%;/*13px*/
	line-height:1.615;
}
/* wide */
#wrapper {
	position:relative;/* 20130920 */
	width:950px;
	margin:0 auto;
}
/* narrow */
.narrow #wrapper, .narrow #header .layer {
	width:760px;
}
/* column1 */
.column1 #main {
	margin:0 auto;
	float:none;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
}
li {
	list-style-type:none;
}
table {
	font-size:100%;
	border:0;
	text-align:left;
}
th, td {
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}
/* a color */
a:link {
	text-decoration:underline;
}
a:visited {
	text-decoration:underline;
}
a:hover, a:focus {
	color:#f00;
	text-decoration:underline;
}
a:active {
	color:#f60;
	text-decoration:underline;
}
/* txtdef */
a.txtdef:link, a.txtdef:visited, a.txtdef:link span, a.txtdef:visited span {
	color:#555;
	text-decoration:none;
}
a.txtdef:hover, a.txtdef:active, a.txtdef:hover span, a.txtdef:active span {
	text-decoration:underline;
	color:#555;
}
em, strong {
	font-style:normal;
	font-weight:bold;
}
br {
	letter-spacing:0;
}
a img {
	border:none;
}
a:hover img {
	opacity:0.7;
	filter:alpha(opacity=70);
}
/* 広告は透過しない */
.nohover a:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}
/*ヘッダー画像は透過しない */
#header .maintitle a:hover img ,
#header .jreastlogo a:hover img ,
#header .jrkentitle a:hover img {
	opacity:1 ;
	filter:alpha(opacity=100);
}
/* gradient */
.defgrad {
	background-color:#f7f7f7;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.6, #fff), to(#f7f7f7));
	background:-moz-linear-gradient(center top, #fff, #fff 60%, #f7f7f7);
}
/* 2. 共通 
--------------------------------------------------------------------*/

/* header
-------------------------------- */
#header {
	position:relative;
}
#header .layer {
	width:950px;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}
#ekinet {
	padding-right:64px;
	text-align:right;
	line-height:1.76;
}
.flowlist li {
	float:left;
	padding-right:26px;
	background:url("/common/img/status_arrow_green.gif") 100% 0 no-repeat;
}
.flowlist .past {
	background:url("/common/img/status_arrow_rear_green.gif") 100% 0 no-repeat;
}
.flowlist .act {
	background:url("/common/img/status_arrow_front_green.gif") 100% 0 no-repeat;
}
.flowlist .last {
	background:none;
	padding-right:0;
}

/*
	ロゴリンク無しのナローヘッダー
-------------------------------- */
.min #contents {margin:0 20px;}
.min #header {
	position:relative;
	height:77px;
	background:url("/common/img/bg_header_bd.gif") repeat-x 0 0;
}
.min #header .maintitle {margin-left:13px;}
.min #header .close_button {
	position:absolute;
	top:24px;
	right:66px
}
.min #header .jreastlogo {
	width:54px;
	position:absolute;
	top:17px;
	right:6px
}
.min #contents {padding-top:10px;}

/*
	ロゴリンク無しのワイドヘッダー
-------------------------------- */
.min_w #header {
	position:relative;
	height:77px;
	background:url("/common/img/bg_header_bd.gif") repeat-x 0 0;
}
.min_w #header .maintitle {margin-left:13px;}
.min_w #header .close_button {
	position:absolute;
	top:24px;
	right:66px
}
.min_w #header .jreastlogo {
	width:54px;
	position:absolute;
	top:17px;
	right:6px
}


/* ナローヘッダー使用時の見出しや囲みの設定 */
.Error_Another_Window {}
.Error_Another_Window .titmc_1att {
	background:url("/common/img/bg_sbtatt720.gif") no-repeat 0 100%;
	padding-left:50px;
}
.Error_Another_Window .frm {
	background:url("/common/img/bg_box_l720.gif") repeat-y 0 0;
	zoom:1;
}
.Error_Another_Window .inner {
	background:url("/common/img/bg_box_l_bottom720.gif") no-repeat 0 100%;
	padding:0 23px 10px;
}
.Error_Another_Window #footer {margin-top:16px;}
#sub {padding-bottom:0px;}




/* tittle icon
-------------------------------- */
.titarea .parent {
	padding:14px 0 11px 50px;
}
.container .titarea .iconfrm {
	display:inline-block;
	width:40px;
	position:relative;
}
.container .titarea .iconfrm img {
	position:absolute;
	left:5px;
	top:-22px;
	z-index:1;
}
/* iconinfo
-------------------------------- */
.container .iconinfo {
	padding-top:8px;
}
.container .iconinfo li {
	padding-right:15px;
}
.container .iconinfo .iconfrm {
	display:inline-block;
	width:35px;
	position:relative;
}
.container .iconinfo .iconfrm img {
	position:absolute;
	left:0;
	top:-22px;
	z-index:1;
}
/* deflist
-------------------------------- */
/* 緑 */
.mcdisc {
	background:url("/common/img/icon_circle_green.png") 0 0.25em no-repeat;
	padding-left:20px;
}
/* グレー */
.defdisc {
	background:url("/common/img/icon_circle_gray.png") 0 0.25em no-repeat;
	padding-left:20px;
}
/* グレー */
.defdisc_s {
	background:url("/common/img/icon_circle_gray_s.gif") 0 0.25em no-repeat;
	padding-left:17px;
}
/* オレンジ */
.mc2disc {
	background:url("/common/img/icon_circle_orange.jpg") 0 0.25em no-repeat;
	padding-left:20px;
}
.mc2disc_s {
	background:url("/common/img/icon_circle_orange_s.gif") 0 0.25em no-repeat;
	padding-left:17px;
}
/* icon画像入り　deflist */
.iconfrm {
	display:inline-block;
	width:40px;
	position:relative;
}
.iconfrm img {
	position:absolute;
	left:5px;
	top:-18px;
	z-index:1;
}
/* container icon
-------------------------------- */
/*for 14px*/
.container .iconparent {
	line-height:1.76;
}
.container .iconfrm {
	display:inline-block;
	width:40px;
	position:relative;
}
.container .iconfrm img {
	position:absolute;
	left:5px;
	top:-18px;
	z-index:1;
}
.container .iconparent img {
	position:absolute;
	left:5px;
	top:-20px;
	z-index:1;
}
/* 2カラムセット
-------------------------------- */
.box2 .boxl, .box2 .boxr {
	width:48%;
}
/* ページの先頭へ
-------------------------------- */
.totop,.toplink {
	margin:16px 0 18px;
}
.totop .iconarrow,.page_top .iconarrow {
	padding-left:18px;
	background:url("/common/img/icon_arrow_pagetop.gif") no-repeat 2px 0.28em;
	display:inline-block;
}
.page_top {
	width:300px;
	float: right;
	text-align: right;
}
.con_top {
	width:300px;
	float: left;
}


/* footer
-------------------------------- */
#footer {
	text-align:center;
	border-top:1px solid #999;
}
#footer .line {
	margin:8px 0;
	border-top:1px solid #ababab;
}
#footer .footerlink {
	padding-top:12px;
}
#footer ul li {
	display:inline;
	line-height:1;
}
#footer .copyright {
	padding:12px 0 36px;
}
/* 共通
-------------------------------- */
.contents {
	margin:0 7px;
	padding-top:20px;
	text-align:left;
}
.container {
	margin:0;
}
/* padding setting
-------------------------------- */
/* all round */
.con0 {
	padding:0;
}
.con5 {
	padding:5px;
}
.con8 {
	padding:8px;
}
.con10 {
	padding:10px;
}
.con15 {
	padding:15px;
}
.con20 {
	padding:20px;
}
/*top*/
.cont0 {
	padding-top:0;
}
.cont5 {
	padding-top:5px;
}
.cont10 {
	padding-top:10px;
}
.cont15 {
	padding-top:15px;
}
.cont20 {
	padding-top:20px;
}
/*bottom*/
.conb0 {
	padding-bottom:0;
}
.conb5 {
	padding-bottom:5px;
}
.conb10 {
	padding-bottom:10px;
}
.conb15 {
	padding-bottom:15px;
}
.conb20 {
	padding-bottom:20px;
}
.conb25 {
	padding-bottom:25px;
}
.conb30 {
	padding-bottom:30px;
}
.conb35 {
	padding-bottom:35px;
}
.conb40 {
	padding-bottom:40px;
}
.conb45 {
	padding-bottom:45px;
}
.conb50 {
	padding-bottom:50px;
}
/*top bottom*/
.contb0 {
	padding-top:0;
	padding-bottom:0;
}
.contb5 {
	padding-top:5px;
	padding-bottom:5px;
}
.contb8 {
	padding-top:8px;
	padding-bottom:8px;
}
.contb10 {
	padding-top:10px;
	padding-bottom:10px;
}
.contb15 {
	padding-top:15px;
	padding-bottom:15px;
}
.contb20 {
	padding-top:20px;
	padding-bottom:20px;
}
.contb30 {
	padding-top:30px;
	padding-bottom:30px;
}
.contb40 {
	padding-top:40px;
	padding-bottom:40px;
}
.contb50 {
	padding-top:50px;
	padding-bottom:50px;
}
/*left right*/
.conlr0 {
	padding-left:0;
	padding-right:0;
}
.conlr5 {
	padding-left:5px;
	padding-right:5px;
}
.conlr8 {
	padding-left:8px;
	padding-right:8px;
}
.conlr10 {
	padding-left:10px;
	padding-right:10px;
}
.conlr15 {
	padding-left:15px;
	padding-right:15px;
}
.conlr20 {
	padding-left:20px;
	padding-right:20px;
}
.conlr30 {
	padding-left:40px;
	padding-right:40px;
}
.conlr40 {
	padding-left:40px;
	padding-right:40px;
}
.conlr50 {
	padding-left:50px;
	padding-right:50px;
}
/*left*/
.conl0 {
	padding-left:0;
}
.conl5 {
	padding-left:5px;
}
.conl10 {
	padding-left:10px;
}
.conl15 {
	padding-left:15px;
}
.conl20 {
	padding-left:20px;
}
.conl30 {
	padding-left:40px;
}
.conl40 {
	padding-left:40px;
}
.conl50 {
	padding-left:50px;
}
/*right*/
.conr0 {
	padding-right:0;
}
.conr5 {
	padding-right:5px;
}
.conr10 {
	padding-right:10px;
}
.conr15 {
	padding-right:15px;
}
.conr20 {
	padding-right:20px;
}
.conr30 {
	padding-right:40px;
}
.conr40 {
	padding-right:40px;
}
.conr50 {
	padding-right:50px;
}
.conr30em {
	padding-right:3em;
}
.conr37em {
	padding-right:3.7em;
}
.conr40em {
	padding-right:4em;
}
/* margin setting
-------------------------------- */
/* all round */
.ma0 {
	margin:0;
}
.ma5 {
	margin:5px;
}
.ma10 {
	margin:10px;
}
.ma15 {
	margin:15px;
}
.ma20 {
	margin:20px;
}
/*top bottom*/
.matb0 {
	margin-top:0;
	margin-bottom:0;
}
.matb5 {
	margin-top:5px;
	margin-bottom:5px;
}
.matb10 {
	margin-top:10px;
	margin-bottom:10px;
}
.matb15 {
	margin-top:15px;
	margin-bottom:15px;
}
.matb20 {
	margin-top:20px;
	margin-bottom:20px;
}
.matb30 {
	margin-top:30px;
	margin-bottom:30px;
}
/*left right*/
.malr0 {
	margin-left:0;
	margin-right:0;
}
.malr3 {
	margin-left:3px;
	margin-right:3px;
}
.malr5 {
	margin-left:5px;
	margin-right:5px;
}
.malr10 {
	margin-left:10px;
	margin-right:10px;
}
.malr15 {
	margin-left:15px;
	margin-right:15px;
}
.malr20 {
	margin-left:20px;
	margin-right:20px;
}
/*top*/
.mat0 {
	margin-top:0;
}
.mat5 {
	margin-top:5px;
}
.mat10 {
	margin-top:10px;
}
.mat15 {
	margin-top:15px;
}
.mat20 {
	margin-top:20px;
}
.mat30 {
	margin-top:30px;
}
/*bottom*/
.mab0 {
	margin-bottom:0;
}
.mab5 {
	margin-bottom:5px;
}
.mab10 {
	margin-bottom:10px;
}
.mab15 {
	margin-bottom:15px;
}
.mab20 {
	margin-bottom:20px;
}
.mab25 {
	margin-bottom:25px;
}
.mab30 {
	margin-bottom:30px;
}
.mab35 {
	margin-bottom:35px;
}
.mab40 {
	margin-bottom:40px;
}
/*left*/
.mal0 {
	margin-left:0;
}
.mal5 {
	margin-left:5px;
}
.mal10 {
	margin-left:10px;
}
.mal15 {
	margin-left:15px;
}
.mal20 {
	margin-left:20px;
}
.mal31 {margin-left:31px;}/* 20120202追加 */
/*right*/
.mar0 {
	margin-right:0;
}
.mar5 {
	margin-right:5px;
}
.mar10 {
	margin-right:10px;
}
.mar15 {
	margin-right:15px;
}
.mar20 {
	margin-right:20px;
}
/* font size setting 
-------------------------------- */
.txt8,
.txt8b {
	font-size:61.5%;
}
.txt9,
.txt9b {
	font-size:69.2%;
}
.txt10,
.txt10b {
	font-size:76.9%;
}
.txt11,
.txt11b {
	font-size:84.6%;
}
.txt12,
.txt12b {
	font-size:92.3%;
}
.txt13,
.txt13b{
	font-size:100%;
}
.txt14,
.txt14b {
	font-size:107.6%;
}
.txt15,
.txt15b {
	font-size:115.3%;
}
.txt16,
.txt16b {
	font-size:123%;
}
.txt17,
.txt17b {
	font-size:130.7%;
}
.txt18,
.txt18b {
	font-size:138.4%;
}
.txt19,
.txt19b {
	font-size:146.1%;
}
.txt20,
.txt20b {
	font-size:153.8%;
}

.txt8b,
.txt9b,
.txt10b,
.txt11b,
.txt12b,
.txt13b,
.txt14b,
.txt15b,
.txt16b,
.txt17b,
.txt18b,
.txt19b,
.txt20b {
	font-weight:700;
}
/* font color
-------------------------------- */
/*グレー*/
.txtdef {
	color:#666;
}
/*中濃グレー*/
.txtmc_13 {
	color:#aaa;
}
/*リンク色*/
.txtmc_14 {
	color:#0000ff;
}
/*レッド*/
.txtatt {
	color:#ff0000;
}
/*グリーン*/
.txtmc_1 {
	color:#007a52;
}
/*薄い緑*/
.txtmc_2 {
	color:#5abd26;
}
/*白*/
.txtmc_3 {
	color:#fff;
}
/*濃オレンジ*/
.txtmc_4 {
	color:#ff9601;
}
/*青*/
.txtmc_5 {
	color:#12458e;
}
/* text-decoration
-------------------------------- */
.txtline {
	text-decoration:underline;
}
/* hidden
-------------------------------- */
.hidden {
	left:-9999px;
	position:absolute;
}
/* area postion
-------------------------------- */
.pos {
	position:relative;
}
.abs {
	position:absolute;
}
.absl10 {
	position:absolute;
	left:10px;
	top:0;
}
.absr {
	position:absolute;
	right:0;
	top:0;
}
.absr10 {
	position:absolute;
	right:10px;
	top:0;
}
/* area txtpostion
-------------------------------- */
.ac {
	text-align:center;
}
.al {
	text-align:left;
}
.ar {
	text-align:right;
}
/* area txtpostion
-------------------------------- */
.vatop {
	vertical-align:top;
}
.vamid {
	vertical-align:middle;
}
.vatb {
	vertical-align:text-bottom;
}
/* area float
-------------------------------- */
.fl {
	float:left;
}
.fr {
	float:right;
}
/* display
-------------------------------- */
.blc {
	display:block;
}
.inb {
	display:inline-block;
}
.inl {
	display:inline;
}
*:first-child+html {
	display:inline;
}
/* title color
-------------------------------- */
.subtitarea {
	color:#333;
	background-color:#f8f8f8;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.1, #fff), to(#f8f8f8));
	background:-moz-linear-gradient(center top, #fff, #fff 10%, #f8f8f8);
}
/*グリーン*/
.titmc_1 {
	background:url("/common/img/bg_sbt.gif") no-repeat 0 100%;
	padding:8px 32px 12px;
}
.wide .titmc_1 {
	background:url("/common/img/bg_sbt_wide.gif") no-repeat 0 100%;
	padding:8px 32px 12px;
}
.titmc_1att {
	background:url("/common/img/bg_sbtatt.gif") no-repeat 0 100%;
	padding-left:50px;
}
/*グリーン disc*/
.titmc_2 {
	background:url("/common/img/icon_check_green.png") no-repeat 8px 0.4em;
	padding-left:38px;
}
/*グリーン number1 */
.titmc_num1 {
	background-image:url("/common/img/icon_title_num1.gif");
}
/*グリーン number2 */
.titmc_num2 {
	background-image:url("/common/img/icon_title_num2.gif");
}
/*グリーン number3 */
.titmc_num3 {
	background-image:url("/common/img/icon_title_num3.gif");
}
/*グリーン number4 */
.titmc_num4 {
	background-image:url("/common/img/icon_title_num4.gif");
}
/* cautionマーク */
.titmc_caution {
	background-image:url("/common/img/icon_caution.png");
	background-position: 8px 0.5em;
}
/* questionマーク */
.titmc_q {
	background:url("/common/img/iconql.gif") no-repeat 8px 0.45em;
	padding-left:38px;
}
/* icon arrow
-------------------------------- */
.arrows {
	background:url("/common/img/arrow_def_s.gif") no-repeat 5px 0.5em;
	padding-left:16px;
	display:inline-block;
}
.arrowsm {
	display: inline-block;
	padding-left: 15px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("/common/img/arrow_def_green.gif");
	background-repeat: no-repeat;
	background-position: 0 0.4em;
}
.arrowm {
	background:url("/common/img/arrow_def_m.gif") no-repeat 8px 0.4em;
	padding-left:32px;
}
.arrowmm {
	display: inline-block;
	padding-left:25px;
	background-repeat: no-repeat;
	background-position: 0 0.4em;
	background-image: url(/common/img/arrow_def_m.gif);
}
.pre_arrows {
	background:url("/common/img/arrow_prev_s.gif") no-repeat 5px 0.5em;
	padding-left:16px;
	display:inline-block;
}
.p_arrows {
	background:url("/common/img/arrow_point_s.gif") no-repeat left center;
}
.p_arrowm {
	background:url("/common/img/arrow_point_m.png") no-repeat left center;
}
/* icon point
-------------------------------- */
.icon_point {
	background:url("/common/img/icon_point.gif") no-repeat left 0.4em;
	padding-left:21px;
}
.icon_check {
	background:url("/common/img/icon_check.gif") no-repeat left 0.4em;
	padding-left:21px;
}
.iconarrow {
	padding-left:20px;
	background:url("/common/img/icon_arrow_next.png") no-repeat 2px 0.28em;
	display:inline-block;
}
.iconwin {
	background:url("/common/img/icon_window_blue.png") no-repeat 98% 0.3em;
	padding-right:16px;
	zoom:1;
	display:inline-block;
}
.iconwin.iconl {
	background-position:left 0.3em;
	padding-left:14px;
	padding-right:0;
}
.iconmark {
    margin-left: 5px;
    vertical-align: -0.2em !important;
}
.iconq {
	background-image:url("/common/img/icon_question.png");
	background-repeat:no-repeat;
	background-position:0 0.1em;
	padding-left:21px;
	min-height:22px;
	display:inline-block;
}
.link-pdf {
	padding:1px 16px 1px 0;
	background:url("/common/img/icon_pdf.gif") right 0.1em no-repeat; 
}
.link-pdfl {background: url("/common/img/icon_pdf.gif") no-repeat scroll left center transparent;
    padding-left: 16px;
    padding-right: 3px;
}

.txt16.iconq, .txt16b.iconq, .txt16 .iconq, .txt16b .iconq {
	background-position:left 0.35em;
}
.iconlock {
	background:url("/common/img/icon_lock.gif") no-repeat 0 -0.1em;
	padding-left:20px;
}
.iconattm {
	background-image:url("/common/img/icon_caution.png");
	background-repeat:no-repeat;
	padding-left:28px;
}
.titmc_2.iconattm, .titmc_2.iconinfomc3l {
	background-position:8px 0.45em;
	padding-left:38px;
}
.iconatts {
	background-image:url("/common/img/icon_caution_s.gif");
	background-position:0 0.2em;
	background-repeat:no-repeat;
	padding-left:24px;
}
.iconattl {
	background-image:url("/common/img/icon_title_caution.png");
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:46px;
}
.iconinfomc2l {
	background-image:url("/common/img/icon_title_info_orange.png");
	background-repeat:no-repeat;
	padding-left:32px;
}
.iconinfomc3l {
	background-image:url("/common/img/icon_title_info_green.png");
	background-repeat:no-repeat;
	padding-left:32px;
}
.iconinfomc3m {
	background-image:url("/common/img/icon_info_green.png");
	background-repeat:no-repeat;
	background-position:0px 0.25em;
	padding-left:24px;
}
.iconinfomc3s {
	background-image:url("/common/img/icon_info_green_s.gif");
	background-repeat:no-repeat;
	background-position:0 0.15em;
	padding-left:21px;
}
.iconinfomc4m {
	background-image:url("/common/img/icon_info_orange.png");
	background-repeat:no-repeat;
	padding-left:24px;
}
.iconinfomc4s {
	background-image:url("/common/img/icon_info_orange_s.gif");
	background-repeat:no-repeat;
	background-position:0 0.15em;
	padding-left:21px;
}
.iconinfomc5l {
	background-image:url("/common/img/icon_title_info_red.png");
	background-repeat:no-repeat;
	padding-left:32px;
}
.iconq .iconwin {
	background-position:right center;
	padding-right:14px;
}
/*注意文ボックス*/
.attbox {
	background-color:#fffbf3;
	border:1px solid #fec71b;
	padding:10px 15px 5px;
}
.attbox li {
	margin-bottom:5px;
}
/*SSL文ボックス*/
.sslbox {
	background-color:#e2f0e3;
	padding:10px 15px;
}
/*ポイントボックス*/
.pointbox {
	background-color:#f4f9ff;
	border:1px solid #b0ccfa;
}
/* area color
-------------------------------- */
/*グリーン*/
.bgmc_1 {
	background-color:#007a52;
}
/*中間緑*/
.bgmc_8 {
	background-color:#c1e6d8;
}
/*薄い緑01*/
.bgmc_2 {
	background-color:#dbeee7;
}
/*淡い緑*/
.bgmc_9 {
	background-color:#ebffd6;
}
/*白*/
.bgmc_3 {
	background-color:#fff;
}
/*濃オレンジ*/
.bgmc_4 {
	background-color:#e69009;
}
/*中間オレンジ*/
.bgmc_5 {
	background-color:#fec71b;
}
/*薄いオレンジ*/
.bgmc_6 {
	background-color:#ffe2a9;
}
/*ペールオレンジ*/
.bgmc_10 {
	background-color:#fcf2e1;
}
/*淡グレー*/
.bgmc_11 {
	background-color:#e3e3e3;
}
/*中グレー*/
.bgmc_12 {
	background-color:#f0f0f0;
}
/*中濃グレー*/
.bgmc_13 {
	background-color:#aaa;
}
/*中濃グレー*/
.bgmc_14 {
	background-color:#666;
}
/*中濃グレー*/
.bgmc_15 {
	background-color:#d6d6d6;
}
/*淡グレー2*/
.bgmc_16 {
	background-color:#eee;
}
/*淡グレー3*/
.bgmc_17 {
	background-color:#f4f4f4;
}
/*ポイント・会員
--------------------------*/
/*淡いオレンジ*/
.bgmc_p1 {
	background-color:#fff0d6;
}
/*淡いグリーン*/
.bgmc_p2 {
	background-color:#e9fedd;
}
/*淡いピンク*/
.bgmc_p3 {
	background-color:#ffecec;
}
/*薄い黄色*/
.bgmc_7 {
	background-color:#fffbf3;
}
.bggreen {
	background-color:#007a52;
}
.bgmc_18 {
	background-color:#f8f8f8;
}
.bgmc_19 {
	background-color:#f0f0f0;
}
.bgmc_grdmc {
	background-color:#f8f8f8;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.1, #fff), to(#f8f8f8));
	background:-moz-linear-gradient(center top, #fff, #fff 10%, #f8f8f8);
}
/* table
-------------------------------- */
.deftable {
	border-right:2px solid #ccc9c6;
	border-bottom:2px solid #ccc9c6;
	text-align:left;
	vertical-align:middle;
	width:100%;
	line-height:1.38;
}
.deftable th {
	width:11em;
	padding:15px 10px;
	border-left:2px solid #ccc9c6;
	border-top:1px solid #ccc9c6;
	white-space:nowrap;
}
.deftable td {
	border-left:2px solid #ccc9c6;
	border-top:1px solid #ccc9c6;
	padding:15px 5px 15px 17px;
	white-space:nowrap;
}
.deftable .tabletop {
	border-top:2px solid #ccc9c6;
}
.deftable .inb {
	white-space:nowrap;
}
.deftable .bdl0 {
	border-left-width:0;
}
/* table
-------------------------------- */
.pointtable th {
	padding:10px 15px;
}
.pointtable td {
	border-left:none;
	padding:10px 15px;
}
.pointdatatable {
	vertical-align:top;
}
.pointdatatable th {
	width:11em;
	padding:15px 8px;
	border-left:1px solid #ccc9c6;
	border-top:1px solid #ccc9c6;
	white-space:nowrap;
	vertical-align:middle;
}
.pointdatatable td {
	border-left:1px solid #ccc9c6;
	border-top:1px solid #ccc9c6;
	padding:15px 10px;
	white-space:nowrap;
	vertical-align:top;
}
.pointdatatable img {
	vertical-align:top;
}
.pointdatatable .bd2 {
	border-left-width:2px;
}
/* table element width */
.w10, .deftable .wp10 {
	width:10%;
}
.wp20, .deftable .wp20 {
	width:20%;
}
.wp25, .deftable .wp25 {
	width:25%;
}
.wp30, .deftable .wp30 {
	width:30%;
}
.wp40, .deftable .wp40 {
	width:40%;
}
.wp50, .deftable .wp50 {
	width:50%;
}
.wp60, .deftable .wp60 {
	width:60%;
}
.wp70, .deftable .wp70 {
	width:70%;
}
.wp100, .deftable .wp100 {
	width:100%;
}
.we2, .deftable .we2 {
	width:2em;
	white-space:nowrap
}
.we3, .deftable .we3 {
	width:3em;
	white-space:nowrap
}
.we4, .deftable .we4 {
	width:4em;
	white-space:nowrap
}
.we5, .deftable .we5 {
	width:5em;
	white-space:nowrap
}
.we6, .deftable .we6 {
	width:6em;
	white-space:nowrap
}
.we7, .deftable .we7 {
	width:7em;
	white-space:nowrap
}
.we8, .deftable .we8 {
	width:8em;
}
.we10, .deftable .we10 {
	width:10em;
	white-space:nowrap
}
.we11, .deftable .we11 {
	width:11em;
	white-space:nowrap
}
.we13, .deftable .we13 {
	width:13em;
	white-space:nowrap
}
.we22, .deftable .we22 {
	width:22em;
	white-space:nowrap
}
/* indent
--------------------------------------------------------------------*/
.txtind1 {
	padding-left:1em;
	text-indent:-0.5em;
}
/* border radius
-------------------------------- */
.bdrad4 {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.bdrad4lrt {
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-left-radius:4px;
	-moz-border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.bdrad4lrb {
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-moz-borderr-bottom-left-radiust:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}
/* border
-------------------------------- */
.bgbdx01sol {
	background-image:url("/common/img/line_x_gray.gif");
	background-repeat:repeat-x;
}
.bgbdx00sol {
	background-image:url("/common/img/line_x00_gray.gif");
	background-repeat:repeat-x;
}
.bgbdy00sol {
	background-image:url("/common/img/line_y00_gray.gif");
	background-position:center top;
	background-repeat:repeat-y;
}
.bgbdy01sol {
	background-image:url("/common/img/line_y_gray.gif");
	background-position:center top;
	background-repeat:repeat-y;
}
/* image over ride */
.bgbdyadot {
	background-image:url("/common/img/dotline_y_aaa.gif");
	background-repeat:repeat-y;
	background-position:top center;
}
.bgbdh6 {
	background-image:url("/common/img/dotline_h_666.gif");
	background-repeat:repeat-x;
}
.bgbdww6 {
	background-image:url("/common/img/dotline_w_wide.gif");
	background-repeat:repeat-x;
}
.bgbdwa {
	background-image:url("/common/img/dotline_w_aaa.gif");
	background-repeat:repeat-x;
}
.bgbdw6 {
	background-image:url("/common/img/dotline_w_666.gif");
	background-repeat:repeat-x;
}
/* border color
-------------------------------- */
/* main graybox */
.bdmc_0 {
	border:3px solid #d6d6d6;
}
.bdmc_01 {
	border:1px solid #ccc9c6;
}
.bdmc_02 {
	border:1px solid #d2d1d1;
}
/* グリーン */
.bdmc_1 {
	border:1px solid #007a52;
}
/* 薄い緑 */
.bdmc_2 {
	border:1px solid #dbeee7;
}
/* 白 */
.bdmc_3 {
	border:1px solid #fff;
}
/* 濃オレンジ */
.bdmc_4 {
	border:1px solid #e69009;
}
/* 薄いオレンジ */
.bdmc_6 {
	border:4px solid #ffe2a9;
}
/* 赤 */
.bdmc_7 {
	border:1px solid #f00;
}
/* 濃黄 */
.bdmc_8 {
	border:1px solid #cc9e00;
}
/* bdtop */
.bdt {
	border-top:1px solid #ccc9c6;
}
.bdb {
	border-bottom:1px solid #ccc9c6;
}
/* border 1px */
.bd1 {
	border-width:1px;
}
/* border 2px */
.bd2 {
	border-width:2px;
}
/* border none */
.bdnone {
	border:none;
}
/* bgborder postion
-------------------------------- */
.bgbdt {
	background-position:top left;
}
.bgbdb {
	background-position:bottom left;
}
/* textbox
-------------------------------- */
.textbox {
	border-style:solid;
	border-width:1px;
	overflow-y:scroll;
}
.textbox1 {
	height:5em;
}
.textbox2 {
	height:10em;
}
.textbox p {
	margin-bottom:1em;
}
/* button
-------------------------------- */
.btn2 li {
	width:50%;
	display:inline-block;
}
.btn3 li {
	width:33.3%;
	display:inline-block;
}
.btn2 .abs, .btn3 .abs {
	width:160px;
	left:0;
	top:0;
}
.btn2 .absl10, .btn3 .absl10 {
	width:160px;
}
.btnmenutop {
	padding-left:170px;
	padding-left:250px;
}
/* form
-------------------------------- */
input {
	font-family:Arial, Helvetica, sans-serif;
}
label.focus, input:focus + label.radio_selected, select:focus, input:focus, .radio:focus + label, textarea:focus {
	outline:solid 2px #06c;
}
select::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, {
 border:none;
}
input.txtnum2 {
	width:80px;
	padding:3px;
	line-height:24px;
	text-align:center;
}
select {
	padding:0 0 0 10px;
	text-align:left;
	outline:none;
}
option {
	padding:0 10px;
	outline:none;
}
input[type="image"]:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}
input[type="text"] {
	padding:3px;
}
input[type="radio"] {
	line-height:1;
}
input[type="checkbox"] {
	line-height:1;
}
.radio, .radio:focus {
	z-index:-1;
	position:absolute;
	cursor:pointer;
	outline:none;
	border:none
}
.radiolabel {
	background:url("/common/img/radio_off.png") no-repeat 10px 50%;
	background-color:#eee;
	padding-left:57px;
	display:block;
	cursor:pointer;
}
.radio_selected {
	background-image:url("/common/img/radio_on.png");
	background-color:#ffe2a9;
}
.radiolist14 li {
	margin-bottom:5px;
}
.radiolist14 input {
	margin-top:-1px;
}
/* パンくず
-------------------------------- */
.breadcrumb {
	margin:0 0 12px 3px;
}
.breadcrumb li {
	margin:0 7px 0 0;
	padding:0 12px 0 0;
	float:left;
	background:url("/common/img/breadcrumb.gif") no-repeat center right;
}
.breadcrumb .last {
	background:none
}
/* main
--------------------------------------------------------------------*/
#main {
	float:left;
	width:696px;
}
.wide #main {
	float:none;
	width:auto;
}
.anothersize #main {
	width:616px;
}

#main .frm {
	background:url("/common/img/bg_box_l.jpg") repeat-y 0 0;
	zoom:1;
}
.wide #main .frm {
	background-image:url("/common/img/bg_box_l_wide.jpg");
}
.anothersize #main .frm {
	background-image:url("/common/img/bg_box_l_anothersize.jpg");
}

#main .inner {
	background:url("/common/img/bg_box_l_bottom.jpg") no-repeat 0 100%;
	padding:0 23px 28px;
}
.wide #main .inner {
	background-image:url("/common/img/bg_box_l_bottom_wide.jpg");
}
.anothersize #main .inner {
	background-image:url("/common/img/bg_box_l_bottom_anothersize.jpg");
	padding-bottom: 0px;
}
#contents.ac #main {
	margin:0 auto;
	float:none;
	text-align:left;
	
}
#main .titmc_1 {
	height:28px;
}
/* sub
--------------------------------------------------------------------*/
#sub {
	float:right;
	width:220px;
	margin-right:3px;
	padding-bottom:20px;
}
.anothersize #sub {
	float:right;
	width:300px;
	margin-right:3px;
	padding-bottom:20px;
}
#sub .last {
	padding-bottom:28px;
}
/* 広告
--------------------------------------------------------------------*/
#ad a:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}

/* AD枠
--------------------------------------------------------------------*/
#main #adnetwork1 {
	text-align: center;
	width: 616px;
	margin-top: 20px;
	margin-bottom: 30px;
}
#sub #adnetwork2 {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	width: 300px;
}
.pr {
	color: #666666;
	margin-bottom: 2px;
}

/* ログイン 20121031調整
--------------------------------------------------------------------*/

#loginarea .abs {
	right:3px;
	top:0;
	z-index:10;
}

#loginarea #nama-box {
	background:url(/common/img/bg_menutit_yr.gif) 0 0 repeat-y;
	width:220px;
}
#loginarea #nama-box-inner {
	background:url(/common/img/bg_menutit_top.gif) 0 0 no-repeat;
	width:220px;
}
#loginarea #nama-box .namearea {
	position:relative;
	background:url(/common/img/bg_menutit_btm.gif) 0 bottom no-repeat;
	padding:12px 12px 12px 12px;
	line-height:1.5;
}
#loginarea #nama-box .namearea #name-layout {
	display:block;
	width:175px;
}
#loginarea #nama-box .namearea #sama-layout {
	display:block;
	position:absolute;
	right:12px;
	bottom:12px;
}

/* よくあるご質問
--------------------------------------------------------------------*/
.arrowlist {
	zoom:1;
}
.arrowlist a {
	cursor:pointer;
}
.arrowlist .linktxt a:link, .arrowlist .linktxt a:visited, .arrowlist .linktxt a:link span, .arrowlist .linktxt a:visited span {
	color:#333;
	text-decoration:none;
}
.arrowlist .linktxt a:hover, .arrowlist .linktxt a:active, .arrowlist .linktxt a:hover span, .arrowlist .linktxt a:active span {
	color:#0000ff;
	text-decoration:underline;
	background-color:#efefef;
}
.arrowlist .linktxt a:link .capt, .arrowlist .linktxt a:visited .capt {
	color:#5abd26;
	text-decoration:none;
}
.arrowlist .linktxt a:hover .capt, .arrowlist .linktxt a:active .capt {
	color:#5abd26;
	text-decoration:none;
}
.arrowlist li {
	border-top:1px solid #ccc9c6;
}
.arrowlist .parent {
	background:url("/common/img/bg_side_main_1.gif") repeat-x 0 100% #fff;
}
.arrowlist .parent:hover {
	background:url("/common/img/bg_side_main_2.gif") repeat-x 0 100% #f2f2f2;
}
.arrowlist .parent .arrow {
	background:url("/common/img/arrow_point_m.png") no-repeat 0 0.25em;
	padding-left:19px;
}
.arrowlist .child {
	background:url("/common/img/bg_side_sub_1.gif") repeat-x 0 100% #fff;
}
.arrowlist .child:hover {
	background:url("/common/img/bg_side_sub_2.gif") repeat-x 0 100% #f2f2f2;
}
.arrowlist .child .arrow {
	background:url("/common/img/arrow_point_s.gif") no-repeat 0 0.45em;
	padding-left:14px;
}
#sub .arrowlist .child .iconq {
	background-image:url("/common/img/icon_question_s.gif");
	background-position:0 0.35em;
	padding-left:14px;
}
#sub .bdrad4lrb {
	margin:0 0 10px;
	background-color:#fff;
	background:-webkit-gradient(linear, right top, right bottom, color-stop(0%, #fff), color-stop(100%, #f6f6f6));
	background:-moz-linear-gradient(top, #fff 0%, #f6f6f6 100%);
	background:linear-gradient(top, #fff 0%, #f6f6f6 100%);
}
#sub .bdrad4lrb ul li:last-child {
	margin:0 0 1px 1px;
}
#sub h3 {
	margin:0 0 -1px;
}
#sub .malr2 {
	margin-left:2px;
	margin-right:2px;
}
#sub .arrowlist .contb8 {
	padding-top:9px;
	padding-bottom:7px;
}
#sub .arrowlist .child .conl20 {
	padding-left:27px;
}
#sub .arrowlist .con5 {
	padding:0
}
#sub .arrowlist .con5.ac a {
	display:block;
	padding:10px;
}

/* cfx
-------------------------------- */
.cfx:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.cfx {
	zoom:1;
}
.clear {
	clear:both
}
