@charset "shift_jis";

/* センター寄せ対応
--------------------------------------------------------------------*/

body {
	background:url(/common/img/bg_header_grn.gif) 0 0 repeat-x;
}
@media print {
	body {background:none;}
}

/* グローバルナビ
--------------------------------------------------------------------*/

#header {
	background: url("/common/img/bg_header.gif") repeat-x 0 0 #eaeaea;
	height:107px;
	overflow:hidden
}
#header .maintitle {
	margin-left:13px;
}

#header .jreastlogo {
	position:absolute;
	right:14px;
	top:0;
	width:54px;
}
#header .jreastlogo img {
	display:inline	;
}
#header a:focus {
	z-index:10;
}
#header li a {
	display:block;
}
#header .maintitle a:hover img ,
#header .jreastlogo a:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}
#header .link {
	text-indent:-9999px;
}
#categorymenu li, #subnav li, #globalnav li,
#member-name-box #mnb-inner .member_name {
	display:inline;/* for IE6 */
	float:left;
}
#categorymenu {
	padding-left:3px;
	height:27px;
	position:absolute;
	right:86px;
	top:7px;
	background: url("/common/img/bg_catemenu_l.gif") no-repeat 0 0;
}
#categorymenu a {
	float:left;
	padding:0;
	text-indent:-9999px;
	height:27px;
	background-image: url("/common/img/sp_categorymenu.gif");
	background-repeat:no-repeat;
}
#categorymenu ul {
	float:left;
	border-top:1px solid #e4ebd9;
	border-bottom:1px solid #e4ebd9;
	height:25px;
	background-color:#f3f8f1;
}

/* ヘッダーの名前表示（20130920） -------- /// */
#member-name-box {
	position:absolute;
	right:335px;
	top:7px;
	padding-left:3px;
	height:27px;
	background:url("/common/img/bg_catemenu_l.gif") no-repeat 0 0;
}
#member-name-box #mnb-inner {
	float:left;
	border-top:1px solid #e4ebd9;
	border-bottom:1px solid #e4ebd9;
	height:25px;
	background-color:#f3f8f1;
}
#member-name-box #mnb-inner .member_name {
	margin-top:-1px;
	display:block;
	padding:4px 104px 0 14px;
	height:23px;
	position:relative;
	background-image: url("/common/img/bg_dot.gif");
	background-position: center right;
	background-repeat:no-repeat;
}
#member-name-box #mnb-inner .member_name a {
	background:none;
}
#member-name-box #mnb-inner .member_name em {
	padding-right:5px;
}
#member-name-box #mnb-inner .button {
	position:absolute;
	right:14px;
	top:4px;
	height:auto;
	text-indent:0;
}/* /// -------- （20130920） -------- */

#categorymenu .cate_member a {
	width: 114px;
	background-position: 14px 6px;
}
#categorymenu .cate_point a {
	width: 135px;
	background-position: 14px -96px;
}
#categorymenu .cate_member a:hover {
	background-position: 14px -28px;
}
#categorymenu .cate_point a:hover {
	background-position: 14px -130px;
}
#categorymenu .cate_member .selected,
#categorymenu .cate_member .selected:hover{
	background-position: 14px -62px;
}
#categorymenu .cate_point .selected,
#categorymenu .cate_point .selected:hover {
	background-position: 14px -164px;
}
#categorymenu li {
	margin-top:-1px;
	display:block;
	height:27px;
	position:relative;
	top:0;
	left:0;
	background-image: url("/common/img/bg_dot.gif");
	background-position: center right;
	background-repeat:no-repeat;
}
#categorymenu .last {
	margin-right:-3px;
	padding-right:3px;
	background-image: url("/common/img/bg_catemenu_r.gif");
	background-position:0 right;
	z-index:10;
}
#subnav {
	position:absolute;
	top:39px;
	right:87px;
}
#subnav li {
	display:block;
	height:22px;
	position:relative;
	top:0;
	left:0;
	background: url("/common/img/bg_line.gif") no-repeat 0 0;
}
#subnav .first {
	background:none;
}
#subnav .last .link {
	padding-right:0;
}
#subnav .link {
	padding:0;
	height:22px;
	text-indent:-9999px;
	background-image: url("/common/img/sp_subnav.gif");
	background-repeat:no-repeat;
}
#subnav .contact .link {
	width: 126px;
	background-position: 19px 5px;
}
#subnav .contact .link:hover {
	width: 126px;
	background-position: 19px -127px;
}
#subnav .contact .selected,
#subnav .contact .selected:hover {
	background-position: 19px -259px;
}
#subnav .ekinet .link {
	width: 146px;
	background-position: 17px -29px;
}
#subnav .ekinet .link:hover {
	width: 146px;
	background-position: 17px -161px;
}
#subnav .ekinet .selected,
#subnav .ekinet .selected:hover {
	background-position: 17px -293px;
}
#subnav .ekinettop .link {
	width: 129px;
	background-position: 17px -61px;
}
#subnav .ekinettop .link:hover {
	width: 129px;
	background-position: 17px -193px;
}
#subnav .ekinettop .selected,
#subnav .ekinettop .selected:hover {
	background-position: 17px -325px;
}
#subnav .question .link {
	width: 140px;
	background-position: 20px -94px;
}
#subnav .question .link:hover {
	width: 140px;
	background-position: 20px -226px;
}
#subnav .question .selected,
#subnav .question .selected:hover {
	background-position: 20px -358px;
}
#globalnav {
	height:40px;
	background-image: url("/common/img/sp_gnav.jpg");
}
#globalnav .first {
	margin-left:10px;
}
#globalnav .last {
	margin-right:10px;
}
#globalnav a {
	width:155px;
	height:40px;
	text-indent:-9999px;
	background-image: url("/common/img/sp_gnav.jpg");
	background-repeat:no-repeat;
}
#globalnav a:focus {
	position:relative
}
#globalnav .nav01 a {
	width:155px;
	background-position: -10px 0;
}
#globalnav .nav02 a {
	background-position: -165px 0;
}
#globalnav .nav03 a {
	background-position: -320px 0;
}
#globalnav .nav04 a {
	width:154px;
	background-position: -475px 0;
}
#globalnav .nav05 a {
	background-position: -629px 0;
}
#globalnav .nav06 a {
	background-position: -784px 0;
}
#globalnav .nav01 a:hover {
	background-position: -10px -60px;
}
#globalnav .nav02 a:hover {
	background-position: -165px -60px;
}
#globalnav .nav03 a:hover {
	background-position: -320px -60px;
}
#globalnav .nav04 a:hover {
	background-position: -475px -60px;
}
#globalnav .nav05 a:hover {
	background-position: -629px -60px;
}
#globalnav .nav06 a:hover {
	background-position: -784px -60px;
}
#globalnav .nav01 .selected,
#globalnav .nav01 .selected:hover {
	background-position: -10px -120px;
}
#globalnav .nav02 .selected,
#globalnav .nav02 .selected:hover {
	background-position: -165px -120px;
}
#globalnav .nav03 .selected,
#globalnav .nav03 .selected:hover {
	background-position: -320px -120px;
}
#globalnav .nav04 .selected,
#globalnav .nav04 .selected:hover {
	background-position: -475px -120px;
}
#globalnav .nav05 .selected,
#globalnav .nav05 .selected:hover {
	background-position: -629px -120px;
}
#globalnav .nav06 .selected,
#globalnav .nav06 .selected:hover {
	background-position: -784px -120px;
}