@charset "Shift_JIS";
/* CSS Document */

/* ***************************************************************************

	右サイドエリア用のCSS

	10. 右サイドエリア
		10-1. 右サイドトップの広告
		10-2. エリアからツアーを探す
		10-3. えきねっとマガジン
		10-4. おトク情報＆キャンペーン
		10-5. Facebook
		10-6. PR2

*************************************************************************** */

/* ***************************************************************************

	10. 右サイドエリア

*************************************************************************** */
#r-side {
	float:right;
	width:300px;
}



/*
	10-1. 右サイドトップの広告
--------------------------------------------------------------------------- */
#rtop-bn {margin-bottom:17px;}



/*
	10-2. エリアからツアーを探す
--------------------------------------------------------------------------- */
#map_box {
	width: 300px;
	background-image: url(/top/img/top/map_tour/bg_area_tour_info.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 320px;
}
#map_box #map_link {position:relative;}
#map_box #map_link li{position: absolute;}

/* 北海道 */
#map_box li#map_hokkaido {
	left:12px;
	top:16px;
}
/* 北東北 */
#map_box li#map_n_tohoku {
	left: 196px;
	top: 83px;
}
/* 南東北 */
#map_box li#map_s_tohoku {
	left: 196px;
	top: 142px;
}
/* 関東 */
#map_box li#map_kanto {
	left: 196px;
	top: 201px;
}
/* 伊豆・箱根・湯河原 */
#map_box li#map_izu_hakone_yugawara {
	left: 119px;
	top: 263px;
}
/* 甲信越 */
#map_box li#map_koshinetsu {
	left: 12px;
	top: 83px;
}
/* 北陸 */
#map_box li#map_hokuriku {
	left: 12px;
	top: 251px;
}

#map_box #map_link .map_txtlink {
	margin-top: 1px;
	padding-left: 11px;
	line-height: 1.7;/* for IE11 */
	white-space: nowrap;
}
#map_box li#map_n_tohoku .map_txtlink,
#map_box li#map_s_tohoku .map_txtlink,
#map_box li#map_kanto .map_txtlink,
#map_box li#map_koshinetsu .map_txtlink {
	margin-top: 3px;
}



/*
	10-3. えきねっとマガジン
--------------------------------------------------------------------------- */
#magazine_box {
	margin-bottom: 13px;
	background-color: #f1ece6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9B7D61;
	padding-top: 7px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #9B7D61;
	border-left-color: #9B7D61;
}
#magazine_box .kijiarea {
	background-image: url(/top/img/top/magazine/mgzn_bg.png);
	background-repeat: repeat-y;
	width: 286px;
	margin-left: 8px;
}

#magazine_box .mgznunit {
	background-image: url(/top/img/top/magazine/mgzn_top.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-top: 10px;
}
#magazine_box .mgznunit dl {
	background-image: url(/top/img/top/magazine/mgzn_btm.png);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	padding-bottom: 16px;
}
#magazine_box .mgznunit dl dt {
	width: 90px;
	float: left;
	padding-left: 10px;
}
#magazine_box .mgznunit dd {
	float: left;
	width: 174px;
}
.newwin {
	padding:0px 13px 0px 0px;
	background:url("/common/img/icon_window_blue.png") right 0.1em no-repeat; 
}



/*
	10-4. おトク情報＆キャンペーン
--------------------------------------------------------------------------- */
#otoku-cp-box {
	border:solid #ccc;
	border-width:0 1px 1px;
	width:298px;
}
#otoku-cp-box dl {
	padding:10px 0 11px;
	width:298px;
	background:url(/top/img/top/dotline_x.gif) left bottom repeat-x;
}
#otoku-cp-box dl.unit {}
#otoku-cp-box dl.unit-last {
	padding:10px 0;
	background:none;
}
#otoku-cp-box dl dt {
	float:left;
	width:100px;
	text-align:right;
}
#otoku-cp-box dl dt img {margin-top:1px;}
#otoku-cp-box dl dd {
	float:right;
	padding-right:10px;
	width:178px;
}
#otoku-cp-box dl dd p.ocb-l {
	position:relative;
	top:-2px;
	margin-bottom:3px;
}



/*
	10-5. Facebook
--------------------------------------------------------------------------- */



/*
	10-6. PR2
--------------------------------------------------------------------------- */
#pr2-txt {
	border-bottom:dotted 1px #ccc;
	text-align:center;
}
#pr2-txt span {
	position:relative;
	bottom:-10px;
	padding:0 7px;
	background-color:#fff;
}
#pr2-bn {
	border-bottom:dotted 1px #ccc;
	padding:15px 0;
	text-align:center;
}