@charset "shift_jis";


/* === おすすめ商品 スライドバナー start =============================*/
div#recommend_list_bnr {
	width:586px;
	/*height:210px;*/
}

div#recommend_list_bnr h4 {
	position:relative;
	margin-bottom:15px;
	width:586px;
	height:30px;
}

div#recommend_list_bnr h4 span {
	position:absolute;
	top:15%;
	right:0;
	text-indent:0;
	letter-spacing:2px;
	font-family:Verdana, Geneva, sans-serif;
}

div#recommend_list_bnr p {
	width:19px;
	height:124px;
}

div#recommend_list_bnr p.prev {float:left;}
div#recommend_list_bnr p.next {float:right;}

div#recommend_list_bnr div {
	margin-left:32px;
	width:522px;
	/*min-height:160px;*/
	background:url(/top/img/top/slides3/bg_recommend_list_bnr.png) repeat-y;
}

div#recommend_list_bnr div div {
	margin:0;
	background:none;
}

div#recommend_list_bnr div ul {
	list-style:none;
	margin:0;
	padding:0;
	width:522px;
	/*min-height:160px;*/
}

div#recommend_list_bnr div ul li {
	float:left;
	margin:0 21px 0 0;
	padding:0;
	width:160px;
	/*min-height:160px;*/
	text-align:center;
}

div#recommend_list_bnr div ul li:last-child {
	margin:0;
}

div#recommend_list_bnr div ul li img {
	display:block;
	margin:0 auto 5px auto;
}
div#recommend_list_bnr div ul li img.icon-new {
	display:inline;
	margin:0 3px 0 0;
	vertical-align:-3px;
}

/* === // おすすめ商品 スライドバナー end ============================*/


