@charset "Shift_JIS";

/* ***************************************************************************

	トップページ用のCSS (/top/index.html)

	00. スマホ導線
	01. 重要なお知らせ
	02. 背景
		02-1. スライドバナー
		02-2. 会員エリア
	03. メインサービスボタン

	04. お知らせ・新着情報
	05. トクだ値
	06. おすすめ情報

	07.テキスト広告[PR]

	08. えきねっとポイントがたまる！
		08-1. えきねっとショッピング
			08-1-1. ピックアップ
			08-1-2. おすすめ商品
			08-1-3. おすすめコーナー

		08-2. えきねっとポイントモール
			08-2-1. 提携サイト一覧へのリンク
			08-2-2. お気に入りサイト検索
			08-2-3. カテゴリーから探す

		08-3. えきねっとポイントリンク

	09. PR1

	10. 右サイドエリア（※r_side.css に設定があります）
		10-1. 右サイドトップの広告
		10-2. 人気のページ
		10-3. おトク情報＆キャンペーン
		10-4. Facebook
		10-5. PR2

*************************************************************************** */
body#ekinet-top {background:none;}
#bg-top {background:url(/common/img/bg_header_grn.gif) 0 0 repeat-x;}

noscript p {
	margin:10px 0 70px;
	color:#f00;
}
.wrap950 {
	position:relative;
	width:950px;
	margin:0 auto;
}
.wrap930 {
	position:relative;
	width:930px;
	margin:0 auto;
}

/* IE6,7 のために DD_belatedPNG.js で使用しているクラス */
.img_png, .bg_png {}

/* 左メインコンテンツ */
#l-main {
	float:left;
	width:610px;
}

/* ページの先頭へ */
#ekinet-top .totop {margin:0 0 10px;}

/* Footer */
#ekinet-top #footer .copyright {padding:12px 0;}
#ekinet-top #footer #netstation {padding-bottom:36px;}

/* 余白 */
.mab8 {margin-bottom:8px;}
.mab50 {margin-bottom:50px;}



/* ***************************************************************************

	00. スマホ導線

*************************************************************************** */
#sp-link-area {
	border-bottom:solid 5px #003217;
	background:url(/top/img/top/sp/bg_sp.png) left top repeat-x #05714d;
}
dl#spla-inner {
	margin:0 auto;
	width:940px;
}
dl#spla-inner dt {padding:19px 0 15px 4px;}
dl#spla-inner dd {margin-bottom:16px;}
dl#spla-inner dd ul {}
dl#spla-inner dd ul li {float:left;}
#sp-link-area p {
	margin-bottom:20px;
	text-align:center;
}


/* ***************************************************************************

	01. 重要なお知らせ

*************************************************************************** */
#info-area {
	position: relative;
	background-color: #daf3cd;
	padding-top: 15px;
}
@media print {
	#info-area {background:none;}
}
#info-box {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: solid 1px #fec71b;
	width: 928px;
	background-color: #fffbf3;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#info-box dl {padding:8px 0;}
#info-box dl dt {
	float: left;
	width: 120px;
	text-align: right;
}
#info-box dl dt img {
	vertical-align:0px;
	margin-top:2px;
}
#info-box dl dd {
	display: block;
	float: right;
	width: 760px;
}



/* ***************************************************************************

	02. 背景

*************************************************************************** */
#bg-season {
	position: relative;
	padding-top: 15px;
	z-index: 1;
	background-image: url(/top/img/top/bg_grd.png);
	background-repeat: repeat-x;
	background-position: top;
}
@media print {
	#bg-season {background:none;}
}



/* ***************************************************************************

	02-1. スライドバナー
	※その他の設定は /top/css/slides.css

*************************************************************************** */
#main-visual-box-ie8 {
	position:relative;
	height:282px;
}
#slide-bnr {
	float: left;
	width: 690px;
	height: 267px;
	background-image: url(/top/img/top/bg_slidearea.png);
	background-repeat: no-repeat;
	padding-top: 7px;
	padding-left: 7px;
}



/* ***************************************************************************

	02-2. 会員エリア

*************************************************************************** */
#ma-wrap-ie8 {height:266px;}/* for IE */
#member-area {
	float:right;
	margin-bottom:12px;
	padding-top:6px;
	width:220px;
	background:url(/top/img/top/bg_ma_top.png) no-repeat;
}
#ma-inner {
	background:url(/top/img/top/bg_ma_nobi.png) repeat-y;
}
#ma-btm {
	font-size:0;
	padding-bottom:6px;
	background:url(/top/img/top/bg_ma_btm.png) left bottom no-repeat;
}

#ma-kakomi {
	margin:0 auto;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:solid 1px #fff;
	padding:5px 4px;
	width:198px;
	background-color:#fff;
}
#ma-kakomi dl {
	margin:0 auto;
	width:196px;
}
#ma-kakomi dl dd {
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-moz-borderr-bottom-left-radiust:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	border:solid #c9dab1;
	border-width:0 1px 1px;
	padding:7px 6px;
	width:182px;
	background-color:#f3f8f1;
}
#ma-kakomi li#ma-dotline {
	margin-bottom:6px;
	padding-bottom:7px;
	background:url(/top/img/top/ma_dotline.gif) left bottom repeat-x;
}




/* ***************************************************************************

	03. メインサービスボタン

*************************************************************************** */
#main-btn-area {position:relative;}
dl#msb-jrticket {}
dl#msb-jrticket dd {
	border:solid #f3dd76;
	border-width:0 1px 1px;
	padding:9px 7px 5px;
	width:430px;
	background: url(/top/img/top/bg_msb_jrticket.gif) 7px 9px no-repeat #fff3bf;
}
dl#msb-tour-kankou {
	position:absolute;
	top:0;
	left:453px;
}
dl#msb-point-tamaru {
	position:absolute;
	top:0;
	left:695px;
}
dl#msb-tour-kankou dd, dl#msb-point-tamaru dd {
	border:solid #b1d79b;
	border-width:0 1px 1px;
	padding:9px 7px 5px;
	width:219px;
	background: url(/top/img/top/bg_msb.gif) 7px 9px no-repeat #daf3cd;
}

#main-btn-area ul,
#main-btn-area ul li {display:inline;}


/* ***************************************************************************

	04.お知らせ・新着情報

*************************************************************************** */

.catebox {
	width: 608px;
	margin-bottom: 20px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #007A52;
	border-bottom-color: #007A52;
	border-left-color: #007A52;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 15px;
	padding-bottom: 5px;
}

.catebox ul{
	margin-bottom: 7px;
	margin-left: 10px;
	margin-right: 10px;
}

#oshirase ul li {
	margin-bottom: 7px;
}

#oshirase ul li .arrows {
    background: url("/common/img/arrow_def_s.gif") no-repeat scroll 5px 0.5em rgba(0, 0, 0, 0) !important;
	padding-left: 29px;
	margin-left:8px;
}

#shinchaku dl {
	margin-right: 10px;
	margin-bottom: 7px;
	margin-left: 10px;
}
#shinchaku dl dt {
	float: left;
	width: 4em;
}
#shinchaku dl dd {
	margin-left:4em;
}
#shinchaku .mark {
	position: relative;	
}
#shinchaku .mark img {
	position: absolute;
	height: 16px;
	width: 64px;
	padding-top: 1px;
}
#shinchaku .mark a {
	margin-left: 67px;
	display:inline-block;

}

#shinchaku .shin_txt {
}





/* ***************************************************************************

	05. トクだ値

*************************************************************************** */
#tokudane {
	background-image: url(/top/img/top/tokudane_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 90px;
	width: 610px;
}
#tokudane .tokudanelogo {
	float: left;
	width: 157px;
}
#tokudane dl {
	float: left;
	width: 408px;
}
#tokudane dt {
	margin-left: 79px;
	width: 244px;
}
#tokudane dd {
	float: left;
	width: 130px;
	margin-right: 6px;
}



/* ***************************************************************************

	06. おすすめ情報

*************************************************************************** */

#osusume-area {border-top:solid 1px #ccc;}
#oa2-btm-line {border-bottom:solid 1px #ccc;}

#osusume-area .unit {}
#osusume-area .unit dl {
	display:block;
	float:left;
	margin-right:17px;
	padding:15px 17px 15px 0;
	width:180px;
	background:url(/top/img/top/dotline_y.gif) right top repeat-y;
}
#osusume-area .unit-last {}
#osusume-area .unit-last dl {
	display:block;
	float:left;
	margin-right:0;
	padding:15px 0 15px 0;
	width:180px;
}
#osusume-area dl dt img {margin-bottom:5px;}

.btm-dotline {
	padding-bottom:1px;
	background:url(/top/img/top/dotline_x.gif) left bottom repeat-x;
}
/* flatheights.js で設定済みクラス */
.flat-g1 {}/* 1段目 */
.flat-g2 {}/* 2段目 */
.flat-g3 {}/* 3段目 */
.flat-g4 {}/* 4段目 */
.flat-g5 {}/* 5段目 */

/* IE8のための fixHeight.js で使用しているクラス */
.fixHeightChild1 {}/* 1段目 */
.fixHeightChild2 {}/* 2段目 */
.fixHeightChild3 {}/* 3段目 */



/* ***************************************************************************

	07. テキスト広告[PR]

*************************************************************************** */
#txtpr-box {
	padding:10px;
	background:url(/top/img/top/bg_es_thisweek.gif) left top;
}
#txtpr-inner {
	padding:10px 10px 4px;
	background-color:#fff;
}
#txtpr-box dl {margin-bottom:6px;}
#txtpr-box dl dt {
	float:left;
	width:2.6em;
}
#txtpr-box dl dd {margin-left:2.6em;}



/* ***************************************************************************

	08. えきねっとポイントがたまる！

*************************************************************************** */
#ep-tamaru-area {}

/*
	08-1. えきねっとショッピング
--------------------------------------------------------------------------- */
#es-box {
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-moz-borderr-bottom-left-radiust:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:solid #d4ebe3;
	border-width:0 2px 2px;
	padding:15px 10px 0;
	width:586px;
}
h3#es-title {position:relative;}
h3#es-title a#es-logo {
	position: absolute;
	top: 4px;
	left: 8px;
}
h3#es-title a.point-logo {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*
	08-1-1. ピックアップ
--------------------------------------------------------------------------- */
#es-pickup {
	font-family:"ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
	padding:8px;
	width:570px;
	background:url(/top/img/top/bg_es_thisweek.gif) left top;
}
#es-pickup dl {background-color:#fff;}
#es-pickup dl dt {
	float:left;
	width:102px;
}
#es-pickup dl dd {
	float:right;
	width:458px;
}
#es-pickup dl dd ul li {
	display:block;
	float:left;
}
#es-pickup dl dd ul li a {
	white-space:nowrap;
	display:block;
	margin-right:14px;
	padding:0 0 0 14px;
	background:url(/top/img/top/icon_checkmark_red.gif) 0 0.55em no-repeat;
}
#es-pickup dl dd ul li#esp-last a {margin-right:0;}


/*
	08-1-2. おすすめ商品
--------------------------------------------------------------------------- */
#es-osusume-s {}
/* ※sildes3.css に設定があります */
/*
	▼flatheights.js で使用しているクラス。IE6,7 は win_ie_top.css で高さ指定
*/
.flat-h1 {/*height:210px;*/}

/*
	08-1-3. おすすめコーナー
--------------------------------------------------------------------------- */
#es-osusume-c {}
#es-osusume-c ul {
	padding-bottom:25px;
	border-bottom:solid 1px #ccc;
}
#es-osusume-c ul li {
	margin-right:8px;
	float:left;
	width:190px;
	text-align:center;
}
#es-osusume-c ul li.esoc-last {margin-right:0;}
#es-osusume-c ul li img {margin-bottom:2px;}

/*
	08-2. えきねっとポイントモール
--------------------------------------------------------------------------- */
#ep-box {
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-moz-borderr-bottom-left-radiust:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:solid #ffe3b7;
	border-width:0 2px 2px;
	padding:15px 10px 0;
	width:586px;
}
h3#ep-title {position:relative;}
h3#ep-title a#ep-logo {
	position: absolute;
	top: 6px;
	left: 8px;
}
h3#ep-title a.point-logo {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*
	08-2-1. 提携サイト一覧へのリンク
--------------------------------------------------------------------------- */
#tieupsite-image {
	padding-bottom:15px;
	border-bottom:solid 1px #ccc;
}
#ti-img {
	float:left;
	width:413px;
	text-align:right;
}
#ti-link {
	float:right;
	width:173px;
	text-align:right;
}
#ti-link a {margin-top:40px;}

/*
	08-2-2. お気に入りサイト検索
--------------------------------------------------------------------------- */
#favorite-search {}
#favorite-search dl {}
#favorite-search dl dt {
	margin:0 0 6px 70px;
}
#favorite-search dl dd {
	margin:0 0 0 82px;
}
#fs-input {
	margin-right:6px;
	border:solid 1px #ccc;
	width:286px;
	height:24px;
	font-size:140%;
}
#fs-btn {}

/*
	08-2-3. カテゴリーから探す
--------------------------------------------------------------------------- */
#pm-cate-link {
	padding-bottom:25px;
	border-bottom:solid 1px #ccc;
}
#pm-cate-link ul {
	margin:0 0 0 82px;
	width:460px;
}
#pm-cate-link ul li {
	display:block;
	float:left;
	width:153px;
	height:35px;
}

/*
	08-3. えきねっとポイントリンク
--------------------------------------------------------------------------- */
#eta-ekinet-point {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:solid 3px #d5e2f3;
}
#eta-ekinet-point dl {
	background:url(/top/img/top/bg_lblue.gif) left top repeat-y;
}
#eta-ekinet-point dl dt {
	float:left;
	padding:7px 0;
	width:71px;
	background-color:#d5e2f3;
	text-align:center;
}
#eta-ekinet-point dl dd {
	margin-left:88px;
	padding:8px 0 10px 0;
}
#eta-ep-left {
	float:left;
	width:331px;
}
#eta-ep-left ul {margin-left:-4px;}
#eta-ep-left ul li {
	display:inline;
	margin-right:10px;
}
#eta-ep-right {
	float:right;
	width:185px;
}
#eta-ep-right img {margin-top:5px;}



/* ***************************************************************************

	09. PR1

*************************************************************************** */
#pr1-txt {
	border-bottom:dotted 1px #ccc;
	text-align:center;
}
#pr1-txt span {
	position:relative;
	bottom:-10px;
	padding:0 7px;
	background-color:#fff;
}
#pr1-bn {
	border-bottom:dotted 1px #ccc;
	padding:15px 0;
	text-align:center;
}



/* ***************************************************************************

	10. 右サイドエリア

*************************************************************************** */
/* ※r_side.css に設定があります */
