section[class^=nc-index-] {
	width: 1000px;
	margin: 20px auto 0;
}

.nc-index-hot {
	word-spacing: 0;
	font-size: 0;
}

.nc-index-hot [class^=section-] {
	width: 360px;
	height: 420px;
	display: inline-block;
	vertical-align: middle;
}

.nc-index-hot .section-left .swiper-container {
	width: 360px;
	height: 240px;
}

.nc-index-hot .section-left .swiper-container .swiper-slide img {
	width: 360px;
	height: 240px;
	display: block;
	vertical-align: middle;
}

.nc-index-hot .section-left .swiper-container .swiper-slide span {
	position: absolute;
	width: 360px;
	height: 36px;
	bottom: 0;
	font-size: 14px;
	line-height: 36px;
	z-index: 1;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, .5);
}

.nc-index-hot .section-left .swiper-container .swiper-pagination {
	bottom: 42px;
}

.nc-index-hot .section-left .swiper-container .swiper-pagination .swiper-pagination-bullet {
	display: block;
	margin-right: 5px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	background: rgba(255, 255, 255, .9);
	box-shadow: 0 1px 2px #ccc;
}

.nc-index-hot .section-left .video {
	border: 1px solid #eee;
	height: 180px;
	padding: 19px 9px;
}

.nc-index-hot .section-left .video dl {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.nc-index-hot .section-left .video dl dt p{position:relative;margin-left:10px;width:150px;height: 100px;overflow: hidden;}
.nc-index-hot .section-left .video dd {
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 5px 10px 0;
	overflow: hidden;
	height: 45px;line-height:20px;
}

.nc-index-hot .section-left .video dl dt p img {
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;max-width: 100%;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;
}
.nc-index-hot .section-left .video dl:hover dt p img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;}
.nc-index-hot .section-left .video dl:hover dd{color:#044999;}
.nc-index-hot .section-middle {
	width: 360px;
	height: 420px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.nc-index-hot .section-middle .topnews {
	width: 100%;
	height: 205px;
	border-bottom: 1px solid #eee;
	padding-right: 0px;
}

.nc-index-hot .section-middle .topnews .content {
	margin-left: 20px;
}

.nc-index-hot .section-middle .topnews h2.large a {
	font-size: 18px;
	margin: 0;
	color: #044999;
	width: 100%;
	display: block;
	height: 22px;
	line-height: 22px;white-space:nowrap;
}

.nc-index-hot .section-middle .topnews h2.small {
	display: block;
	height: 16px;
	line-height: 16px;
	margin: 10px 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nc-index-hot .section-middle .topnews h2.small a {
	font-size: 14px;
	margin: 0;
	color: #666;
	font-weight: 100;
}
.nc-index-hot .section-middle .topnews h2.small a:hover{color:#044999;}
.nc-index-hot .section-middle .topnews h2.small a:nth-child(2) {
	margin: 0 2px;
}

.nc-index-hot .section-middle .topnews .twin-container {
	margin: 15px 0 0 0;
	padding: 0;
}

.nc-index-hot .section-middle .topnews .twin-container a {
	font-size: 14px;
	color: #333;
	font-weight: 100;
	width: 100%;
	height: 15px;
	display: block;
	line-height: 14px;
	white-space: nowrap;
	overflow: hidden;
}
.nc-index-hot .section-middle .topnews .twin-container a:hover{color:#044999;}
.nc-index-hot .section-middle .topnews .twin-container li {
	width: 50%;
	height: 15px;
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: middle;
}

.nc-index-hot .section-middle .topnews .twin-container li:nth-child(odd) a {
	border-right: 1px solid #e8e8e8;
}
.nc-index-hot .section-middle .topnews .twin-container li:nth-child(odd) a:hover{color:#044999;}
.nc-index-hot .section-middle .topnews .twin-container li:nth-child(even) {
	padding-left: 10px
}

.nc-index-hot .section-middle .topqa em {
	color: #999;
	font-size: 12px;
	font-style: normal;
	text-align: right;
	position: absolute;
	right: 20px;
	bottom: 15px;
}

.nc-index-hot .section-middle .topqa em a {
	color: #044999;
}

.nc-index-hot .section-middle .topqa ul {
	padding: 0;
	margin: 0 0 0 20px;
}

.nc-index-hot .section-middle .topqa li {
	margin: 0 0 10px 0;
	list-style: none;
	width: 320px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nc-index-hot .section-middle .topqa li a {
	font-size: 14px;
	color: #333;
}
.nc-index-hot .section-middle .topqa li a:hover{color:#044999;}
.nc-index-hot .section-right {
	border: 1px solid #eee;
	width: 280px;
}

.nc-index-hot .section-middle .topguess{padding:15px 20px;background: #f8f8f8;border-top:1px solid #eee;}
.nc-index-hot .section-middle .guess-title{color:#dd3333;font-size: 14px;}
.nc-index-hot .section-middle .guess-cont{position:relative;margin-top: 13px;width:320px;height:26px;overflow: hidden;}
.nc-index-hot .section-middle .guess-cont ul{position: absolute;left:0;}
.nc-index-hot .section-middle .guess-cont ul li{display: inline-block;height:26px;overflow: hidden;}
.nc-index-hot .section-middle .guess-cont ul li a{float:left;margin-right:7px;padding:5px 0;width:102px;line-height:14px;text-align: center;border:1px solid #eee;border-radius: 2px;background:#fff;font-size: 14px;color:#044999;}
.nc-index-hot .section-middle .guess-cont ul li a:last-child{margin-right: 0;}
.nc-index-hot .section-middle .guess-cont ul li a:hover{border:1px solid #044999;}

.nc-index-hot .section-right .cover {
	width: 240px;
	height: 160px;
	display: block;
	margin: auto;
}

.nc-index-seeing .nc-wg-tabs-news {
	width: 700px;
	display: inline-block;
}

.nc-index-seeing .nc-wg-tabs-news .nc-tab-nav li {
	margin-right: 3px;
	width: 80px;
	display: inline-block;
}

.nc-index-seeing .nc-wg-tabs-news .nc-tab-nav li:nth-child(1) {
	width: 128px;
}
.nc-index-seeing .nc-wg-tabs-news .nc-tab-nav li.zhineng{width:112px;}

.nc-index-seeing .nc-wg-tabs-news .nc-tab-content {
	height: 870px;
}
.nc-index-seeing .nc-index-aside .jianche .nc-wg-avatartitle {margin-top: 0;}
.nc-index-seeing .nc-index-aside .nc-wg-topic {
	padding-bottom: 0px;
}

.nc-index-modi .container,
.nc-index-video .container {
	font-size: 0;
}

.nc-index-modi .container li,
.nc-index-video .container li {
	margin-right: 18px;
	display: inline-block;
	width: 185px;
	position: relative;
	vertical-align: top;overflow: hidden;
}
.nc-index-video .container li:nth-child(-n+5){margin-bottom: 18px;}
.nc-index-modi .container li:nth-last-child(1),
.nc-index-video .container li:nth-child(5n) {
	margin-right: 0;
}
.nc-index-modi .container li .pic,.nc-index-video .container li .pic{width: 185px;height: 123px;overflow: hidden;}
.nc-index-modi .container li .pic img, .nc-index-video .container li .pic img {width: 100%;height: 100%;max-width:100%;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;}
.nc-index-modi .container li:hover .pic img,.nc-index-video .container li:hover .pic img {-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;}
.nc-index-modi .container li span.title,
.nc-index-video .container li span.title {
	word-break: break-all;
	display: block;
	width: 185px;
	height: 68px;
	padding:8px 15px 0;
	background: #f8f8f8;
	border: 1px solid #eee;
}
.nc-index-modi .container li span.title a,.nc-index-video .container li span.title a{display:block;height:48px;line-height: 24px;font-size: 14px;color:#333;text-overflow: ellipsis;-webkit-text-overflow:ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;overflow: hidden;}
.nc-index-modi .container li:hover span.title a,.nc-index-video .container li:hover span.title a{color:#044999;}
.nc-index-video img {}

.nc-index-asking .nc-wg-tabs-ask {
	width: 700px;
	display: inline-block;
}

.nc-index-asking .nc-wg-tabs-ask .nc-tab-nav li {
	width: 113px;
	margin-right: 3px;
	display: inline-block;
}

.nc-index-asking .nc-wg-tabs-ask .nc-tab-nav li:nth-child(1) {
	width: 128px;
}

.nc-wg-listask-index li {
	margin-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	font-size: 0;
}

.nc-wg-listask-index li:nth-child(1) {
	margin-top: 10px;
}

.nc-wg-listask-index .answer_num {
	position: relative;
	width: 60px;
	height: 52px;
	border: 1px solid #eee;
	border-radius: 2px;
	text-align: center;
	padding-top: 6px;
	display: inline-block;
	vertical-align: top;
}

.nc-wg-listask-index .answer_num a {
	width: 100%;
	display: block;
	font-size: 16px;
	color: #044999;
}

.nc-wg-listask-index .answer_num span {
	width: 100%;
	font-size: 12px;
}

.nc-wg-listask-index .answer_num .arrow{position:absolute; width:12px; height:12px; bottom:-12px; right:12px;}
.nc-wg-listask-index .answer_num .arrow *{display:block; border-width:6px; position:absolute; border-style:solid solid dashed dashed; font-size:0; line-height:0;}
.nc-wg-listask-index .answer_num .arrow em{border-color:#e8e8e8 #e8e8e8 transparent transparent; }
.nc-wg-listask-index .answer_num .arrow span{border-color:#fff #fff transparent transparent; right:1px; top:-2px;}

.nc-wg-listask-index .question {
	width: 625px;
	margin-left: 15px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 75px;
}

.nc-wg-listask-index .question a {
	color: #044999;
}

.nc-wg-listask-index .question .ask-title {
	font-size: 18px;
	color: #333333;
	width: 625px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.nc-wg-listask-index .question .ask-title:hover {color: #044999;}
.nc-wg-listask-index .question .answer {
	font-size: 14px;
	color: #666;
	width: 100%;
	display: block;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 18px;
	line-height: 18px;
	margin: 8px 0;
}

.nc-wg-listask-index .question .bottom-bar {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	width: 100%;
	color: #999;
}

.nc-wg-listask-index .question .bottom-bar .question-type {
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	border: 1px solid #eee;
	border-radius: 12px;
	position: absolute;
	right: 0;
}


/* 牛人荣誉榜 */

.nc-index-aside .niuren {
	margin-top: -5px;
}

.nc-index-aside .niuren li {
	height: 81px;
	width: 100%;
	font-size: 0;
}

.nc-index-aside .niuren li .avatar {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	padding: 10px 5px 20px 20px;
	position: relative;
}

.nc-index-aside .niuren li .avatar i {
	font-size: 24px;
	display: block;
	position: absolute;
	color: #323232;
	left: 34px;
	top: 45px;
	z-index: 0;
}

.nc-index-aside .niuren li .avatar i:after {
	color: #fff;
	position: absolute;
	left: 0px;
	bottom: 2px;
	font-size: 12px;
	width: 24px;
	text-align: center;
}

.nc-index-aside .niuren li .avatar img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: block;
	position: relative;
	z-index: 5;
}

.nc-index-aside .niuren li .title {
	display: inline-block;
	width: 140px;
	height: 100%;
	vertical-align: middle;
	padding-top: 8px;
}

.nc-index-aside .niuren li .title .name {
	color: #333;
	font-size: 14px;
}
.nc-index-aside .niuren li .title .name:hover{color: #044999;}
.nc-index-aside .niuren li .title .desc {
	color: #666;
	font-size: 14px;
	margin: 3px 0 0 0;
}

.nc-index-aside .niuren li .title span {
	color: #666;
	font-size: 12px;
	display: block;
	margin-top: 5px;
}

.nc-index-aside .niuren li .care {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.nc-index-aside .niuren li .care a {
	display: block;
	margin: auto;
	width: 40px;
	height: 23px;
	border-radius: 2px;
	border: 1px solid #044999;
	color: #044999;
	text-align: center;
	font-size: 12px;
	line-height: 23px;
	bottom: 20px;
	position: absolute;
}


/* 前三名皇冠样式 */

.nc-index-aside .niuren li:nth-child(-n+3) .avatar i {
	z-index: 10;
	font-size: 24px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	top: 0;
	left: 13px
}

.nc-index-aside .niuren li:nth-child(1) .avatar i {
	color: #fec002;
}

.nc-index-aside .niuren li:nth-child(1) .avatar i:after {
	content: "1";
}

.nc-index-aside .niuren li:nth-child(2) .avatar i {
	color: #d2d2d2;
}

.nc-index-aside .niuren li:nth-child(2) .avatar i:after {
	content: "2";
}

.nc-index-aside .niuren li:nth-child(3) .avatar i {
	color: #d2ac52;
}

.nc-index-aside .niuren li:nth-child(3) .avatar i:after {
	content: "3";
}


/* 后面的徽章样式 */

.nc-index-aside .niuren li:nth-child(n+4) {
	width: 60px;
	height: 83px;
	display: inline-block;
	vertical-align: middle;
}

.nc-index-aside .niuren li:nth-child(n+4) .avatar {
	padding: 0 0 0 20px;
}

.nc-index-aside .niuren li:nth-child(n+4) .avatar i:after {
	bottom: 5px
}

.nc-index-aside .niuren li:nth-child(4) .avatar i:after {
	content: "4";
}

.nc-index-aside .niuren li:nth-child(5) .avatar i:after {
	content: "5";
}

.nc-index-aside .niuren li:nth-child(6) .avatar i:after {
	content: "6";
}

.nc-index-aside .niuren li:nth-child(7) .avatar i:after {
	content: "7";
}

.nc-index-aside .niuren li:nth-child(8) .avatar i:after {
	content: "8";
}

.nc-index-aside .niuren li:nth-child(9) .avatar i:after {
	content: "9";
}

.nc-index-aside .niuren li:nth-child(10) .avatar i:after {
	content: "10";
}

.nc-tab-nav .tab-head {
	width: 128px;
	position: relative;
	text-align: center;
}


/* 点评 */
.nc-index-dianping .nc-wg-tabs-dianping {width: 700px; display: inline-block;}
.nc-index-dianping .container li {
	font-size: 0;
	margin-top: 17px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	height: 150px;
	position: relative;
}
.nc-index-dianping .avatar,
.nc-index-dianping .content,
.nc-index-dianping .carpic {
	display: inline-block;
	float: left;
	position: relative;
	height: 150px;
}
.nc-index-dianping .avatar {width: 50px;}

.nc-index-dianping .avatar img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 0;
}
.nc-index-dianping .content {padding: 0 20px; width: 500px; font-size: 14px;}
.nc-index-dianping .content .title {color: #333333; font-size: 18px; display: block;}
.nc-index-dianping .content .title:hover {color: #044999;}
.nc-index-dianping .content .review {
	color: #999;
	margin-top: 10px;
	display: block;
}
.nc-index-dianping .content .desc{color: #999; line-height: 24px; margin: 10px 0;}
.nc-index-dianping .content .desc span {color: #666;}
.nc-index-dianping .content .desc span:after {content: "…";}
.nc-index-dianping .content .desc a {color: #044999;}
.nc-index-dianping .content .desc red {
	color: #dd3333;
}
.nc-index-dianping .content .bottom-bar {color: #999; font-size: 12px; position: absolute; width: 460px; height: 14px; bottom: 20px;}
.nc-index-dianping .content .bottom-bar a {color: #044999;}
.nc-index-dianping .content .bottom-bar>div {display: inline-block; position: absolute;}
.nc-index-dianping .content .bottom-bar .right {right: 0;}
.nc-index-dianping .content .bottom-bar .right i {margin-right: 5px;}
.nc-index-dianping .content .bottom-bar .right a {color: #999; display: inline-block; vertical-align: middle;}
.nc-index-dianping .content .bottom-bar .right a:hover {color: #044999;}
.nc-index-dianping .carpic {width: 150px; height: 130px; border: 1px solid #eee; background: #f8f8f8; font-size: 12px; text-align: center; line-height: 30px;}
.nc-index-dianping .carpic img {width: 100%; height: 100px; display: block;}
.nc-index-dianping .carpic a {color: #044999;}

.nc-wg-tabs-dianping-aside {margin: 0 20px;}
.nc-wg-tabs-dianping-aside:nth-child(2) {margin-bottom: 18px; border-bottom: 1px solid #eee;}
.nc-wg-tabs-dianping-aside .nc-tab-nav {font-size: 14px; height: 30px; line-height: 30px;}
.nc-wg-tabs-dianping-aside .nc-tab-nav li {flex: 1; background: #fff; border-top: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8;}
.nc-wg-tabs-dianping-aside .nc-tab-nav li:nth-child(1) {border-left: 1px solid #e8e8e8;}
.nc-wg-tabs-dianping-aside .nc-tab-nav li.nc-active {border-top: 3px solid #044999; background: #f8f8f8; border-bottom: none;}
.nc-wg-tabs-dianping-aside .nc-tab-nav li.nc-active:after {border: none;}
.nc-wg-tabs-dianping-aside .nc-tab-nav li.nc-active a {color: #044999;}
.nc-wg-tabs-dianping-aside .nc-tab-nav li a {color: #333;}
.nc-wg-tabs-dianping-aside .nc-tab-content {background: #f8f8f8; height: 330px;}
.nc-wg-tabs-dianping-aside .nc-tab-content .car-rank li {height: 16px; line-height: 16px; font-size: 14px; color: #ccc; margin-top: 15px; width: 100%;}
.nc-wg-tabs-dianping-aside .nc-tab-content .car-rank li .rank {width: 16px; display: inline-block; vertical-align: middle; background: #ccc; color: #fff; text-align: center; font-size: 12px; margin-right: 10px;}
.nc-wg-tabs-dianping-aside .nc-tab-content .car-rank li:nth-child(-n+3) .rank { background: #044999;}
.nc-wg-tabs-dianping-aside .nc-tab-content .car-rank li a {display:inline-block;width:110px;height:16px;vertical-align:middle;color: #333;white-space: nowrap;overflow: hidden;}
.nc-wg-tabs-dianping-aside .nc-tab-content .car-rank li a:hover{color:#044999;}
.nc-wg-tabs-dianping-aside .nc-tab-content .car-rank li .nc-wg-score {float: right;}

.nc-index-niuren .container {font-size: 0;}
.nc-index-niuren .container .niuren-block {width: 184px; height: 176px; background: #f8f8f8; border: 1px solid #eee; display: inline-block; vertical-align: middle; margin-left: 20px; padding: 20px 0; text-align: center;}
.nc-index-niuren .container .niuren-block:nth-child(1) {margin-left: 0;}
.nc-index-niuren .container .niuren-block .avatar {width: 60px; height: 60px; display: block; border-radius: 50%; margin: auto;-webkit-transition: -webkit-transform 2s ease-out;-moz-transition: -moz-transform 2s ease-out;-o-transition: -o-transform 2s ease-out;  -ms-transition: -ms-transform 2s ease-out;transition:transform 2s ease-out;}
.nc-index-niuren .container .niuren-block .title {font-size: 18px; color: #333; display: block; margin-top: 10px;}
.nc-index-niuren .container .niuren-block:hover .avatar{-webkit-transform: rotateZ(360deg);-moz-transform: rotateZ(360deg);-o-transform: rotateZ(360deg);-ms-transform: rotateZ(360deg);transform: rotateZ(360deg);}
.nc-index-niuren .container .niuren-block:hover .title{color:#044999;}
.nc-index-niuren .container .niuren-block sub {font-size: 14px; color: #666; line-height: 28px;}
.nc-index-niuren .container .niuren-block p {font-size: 14px; color: #999; margin: 0;}
.nc-index-niuren .container .niuren-block p span {color: #dd3333; }

.nc-index-friendlink {border: 1px solid #eee;}
.nc-index-friendlink .pic {font-size: 0; padding: 8px 4px; border-bottom: 1px solid #eee;}
.nc-index-friendlink .pic li { width: 100px; height: 40px; display: inline-block; vertical-align: middle; margin: 5px;}
.nc-index-friendlink .pic li img {width: 100%; height: 100%;}
.nc-index-friendlink .text {padding: 8px;}
.nc-index-friendlink .text li {font-size: 14px; height: 14px; line-height: 14px; display: inline-block; vertical-align: middle; padding: 0 8px; margin: 8px 0; border-right: 1px solid #eee;}
.nc-index-friendlink .text li a {color: #333;}
.nc-index-friendlink .text li a:hover{color:#044999;}
/*
 * 本页内的一几个重用模块样式
 */



.nc-index-aside {
	width: 282px;
	float: right;
	border: 1px solid #E9e9e9;
	background: #f8f8f8;
}

.ncad-aside-index-3 img {
	height: 150px;
}

/* 视频按钮 */
span.nc-wg-play-icon {
	height: 33px;
	width: 33px;
	position: absolute;
	left: 76px;
	top: 45px;
	z-index: 1;
}

.ncad-icon-index-jiandu {
	position: absolute;
	top: 5px;
	right: 0;
}

.nc-tab-nav a.submit {
	font-size: 12px;
	color: #dd3333;
	position: absolute;
	right: 0;
}
.nc-tab-nav a.submit .iconfont {margin-right: 5px;}
.more {
	width: 100%;
	height: 36px;
	background: #f8f8f8;
	border: 1px solid #eee;
	display: block;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: #044999;
	border-top: none;
}
.ncad-aside-essence-1 img {height: 200px;}
.swiper-button-next, .swiper-button-prev {background-image: none !important;}
.swiper-button-next i, .swiper-button-prev i {font-size: 36px; color: rgba(255,255,255, .8)}

.nc-index-ads-top{width:1000px;margin:auto;}
.nc-index-ads-top .ads-con{position:absolute;width:1000px; top:-580px; height:515px;overflow:hidden;box-shadow:0 40px 60px rgba(0,0,0,.3);z-index: 99;}
.nc-index-ads-top .ads-con a{display: block;}
.nc-index-ads-top .ads-con img{width:1000px;height:515px;vertical-align: top;}


