/*! normalize.css v3.0.2 | MIT License | git.io/normalize */


/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}


/**
 * Remove default margin.
 */

body {
	margin: 0;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
}


/* HTML5 display definitions
   ========================================================================== */


/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}


/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}


/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}


/* Links
   ========================================================================== */


/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}


/* Text-level semantics
   ========================================================================== */


/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}


/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}


/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}


/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	margin: 0;
}


/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}


/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}


/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


/* Embedded content
   ========================================================================== */


/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}


/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}


/* Grouping content
   ========================================================================== */


/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}


/**
 * Address differences between Firefox and other browsers.
 */

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}


/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}


/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}


/* Forms
   ========================================================================== */


/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */


/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
}


/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}


/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}


/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}


/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	/* 2 */
	box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}


/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}


/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}


/* Tables
   ========================================================================== */


/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ccc;
	width: 100%;
}

td,
th {
	padding: 0;
	border: 1px solid #ccc;
	padding: .5rem;
}


/**
 * Use border-box box-sizing.
 */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*
 * ul, li
 */

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*
 * clear fix
 */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/**
 * for ad
 */


[class^=ncad-] {display: none;position: relative; } /*广告模块默认不显示，由js控制显示方式*/
[class^=ncad-] p {margin: 0}
[class^=ncad-] p img{vertical-align: middle;}
[class^=ncad-banner-] {
	width: 1000px;
	margin: auto;
}

[class^=ncad-banner-] img {
	width: 100%;
	display: block;
}

[class^=ncad-icon-] {
	width: 220px;
	height: 30px;
	margin: auto;
}

[class^=ncad-icon-] img {
	width: 165px;
	height: 30px;
	display: block;
}

[class^=ncad-aside-] img {
	height: 180px;
	width: 280px;
	margin: auto;
	display: block;
}
[class^=ncad-content-] img {
	height: 80px;
	width: 700px;
}

/*
 * for components
 */

i.nc-sp {
	font-style: normal;
	margin: 0 8px;
	color: #eee;
}


/*
 * tabs
 */

[class^=nc-wg-tabs-] .nc-tab-nav {
	width: 100%;
	display: flex;
	height: 45px;
	line-height: 45px;
	padding: 0;
	position: relative;
}

[class^=nc-wg-tabs-] .nc-tab-nav li {
	text-align: center;
	list-style: none;
	background: #e8e8e8;
	position: relative;
}

[class^=nc-wg-tabs-] .nc-tab-nav li a {
	color: #333;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
}

[class^=nc-wg-tabs-] .nc-tab-nav .nc-active {
	background: #044999;
	color: #fff;
}

[class^=nc-wg-tabs-] .nc-tab-nav .nc-active a {
	color: #fff;
	text-decoration: none;
}

[class^=nc-wg-tabs-] .nc-tab-nav .nc-active:after {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	content: "";
	z-index: 1;
	border: 6px solid transparent;
	border-bottom-color: #fff;
}

[class^=nc-wg-tabs-] .nc-tab-content {
	overflow: hidden;
	position: relative;
}

[class^=nc-wg-tabs-] .nc-tab-content [class^="nc-panel"] {
	position: absolute;
	top: 0;
	z-index: 99;
	float: left;
	width: 100%;
	height: 100%;
	visibility: hidden;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

[class^=nc-wg-tabs-] .nc-tab-content .nc-active {
	position: relative;
	z-index: 100;
	visibility: visible;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}


/*
 * news list
 */

[class^=nc-wg-listnews-] {
	padding-top: 10px;
}

[class^=nc-wg-listnews-] li {
	height: 120px;
	width: 700px;
	border-bottom: 1px solid #eee;
	list-style: none;
	display: flex;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
[class^=nc-wg-listnews-] li .pic{float:left;margin-right:20px;width:150px;height:100px;overflow: hidden;}
[class^=nc-wg-listnews-] li:nth-last-child(1) {
	margin-bottom: 0;
}

[class^=nc-wg-listnews-] .cover {
	width:150px;height:100px;
	max-width: 150px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;
}
[class^=nc-wg-listnews-] .text {
	position: relative;
	float:left;
	width: 530px;height:100px;
}

[class^=nc-wg-listnews-] .text .title {
	font-size: 18px;
	color: #333;
	line-height: 18px; display: block;white-space:nowrap;
}
[class^=nc-wg-listnews-] li:hover .cover {-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;}
[class^=nc-wg-listnews-] li:hover .text .title {color: #044999;}
[class^=nc-wg-listnews-] .text p {
	font-size: 14px;
	color: #666;
	margin: 12px 0 13px 0;
	line-height: 24px;
}

[class^=nc-wg-listnews-] .text a {
	color: #666;
}
[class^=nc-wg-listnews-] .text a:hover {
	color: #044999;
}
[class^=nc-wg-listnews-] .text a.author, [class^=nc-wg-listnews-] .text p a {
	color: #044999;
}
[class^=nc-wg-listnews-] .bottom-bar {
	position: absolute;
	width: 100%;
	bottom: 0px;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	color: #999
}

[class^=nc-wg-listnews-] .bottom-bar i.iconfont {
	font-size: 14px;
	padding-right: 5px;
}

[class^=nc-wg-listnews-] .bottom-bar aside.left {
	position: absolute;
	left: 0;
}

[class^=nc-wg-listnews-] .bottom-bar aside.right {
	position: absolute;
	right: 0;
}

[class^=nc-wg-list] .more {
	width: 100%;
	height: 36px;
	background: #f8f8f8;
	border: 1px solid #eee;
	display: block;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: #044999;
	border-top: none;
}


/*
 * 牛人头像 + 右边文字
 */

.nc-wg-avatartitle {
	margin: 20px;
	padding: 0;
}

.nc-wg-avatartitle li {
	list-style: none;
	display: block;
	margin-bottom: 15px;
	height: 50px;
}

.nc-wg-avatartitle li h2 {
	font-size: 14px;
	font-weight: 100;
	color: #333;
	line-height: 24px;
	margin: 0 0 0 8px;
	height: 50px;
	width: 176px;
	float: left;
}
.nc-wg-avatartitle li h2:hover{color:#044999;}
.nc-wg-avatartitle li .avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
}


/* 图片上的播放按钮样式 */

.nc-wg-play-icon {
	width: 32px;
	height: 32px;
	display: block;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 32px;
}

.nc-wg-play-icon .icon-playfill {
	color: #fff;
}


/* icon实现评星样式 */
.nc-wg-score {display: inline-block; font-size: 14px;}
.nc-wg-score .nc-wg-stars {
	width: 5em;
	height: 1em;
	display: inline-block;
	position: relative;
	color: #ccc;
}

.nc-wg-score .nc-wg-stars .iconfont {
	font-size: inherit;
}

.nc-wg-score .nc-wg-stars .lower {
	top: 0;
	position: absolute;
	z-index: 0;
	display: block;
	width: 100%;
}

.nc-wg-score .nc-wg-stars .upper {
	top: 0;
	position: absolute;
	z-index: 1;
	display: block;
	color: #dd3333;
	overflow: hidden;
	white-space: nowrap;
}
.nc-wg-score red {color: #dd3333;}

/*
 * title bar
 */
.nc-wg-block-title {
	height: 45px;
	width: 100%;
	position: relative;
}

.nc-wg-block-title span.title {
	font-size: 16px;
	color: #044999;
	height: 15px;
	line-height: 15px;
	margin-top: 15px;
	display: inline-block;
}

.nc-wg-block-title span.title-clean {border-left: none;padding-left: 20px;}
.nc-wg-block-title sub{
	font-size: 14px;
	color: #999;
	height: 45px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 18px;
}
.nc-wg-block-title sub span {color: #044999;}
.nc-wg-block-title .fr {
	float: right;
	font-size: 12px;
	color: #044999;
	display: inline-block;
	line-height: 45px;
	margin-right: 20px;
}

.nc-wg-block-title .fr .iconfont {
	font-size: 12px;
	color: #044999;
}
/*
 * 专题 aside 模块
 */
.nc-wg-topic .topic-list {
    padding: 0 20px;
}

.nc-wg-topic .topic-list li {
    margin-bottom: 20px;
}
.nc-wg-topic .topic-list li .pic{float:left;margin-right:10px;width: 90px;height: 60px;overflow: hidden;}
.nc-wg-topic .topic-list li .pic .cover {width:100%;height:100%;max-width:100%;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;}

.nc-wg-topic .topic-list .text {
    width: 140px;
    height: 60px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.nc-wg-topic .topic-list .text a {
    font-size: 14px;
    color: #333;
}
.nc-wg-topic .topic-list li:hover .pic .cover{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;}
.nc-wg-topic .topic-list li:hover .text a{color:#044999;}
.nc-wg-topic .topic-list .text .bottom-bar {
    font-size: 12px;
    color: #999;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
}

.nc-wg-topic .topic-list .text .bottom-bar a {
    font-size: 12px;
    color: #044999;
}
/*
 * 视频 aside 模块
 */
.nc-wg-video .video-list {
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}

.nc-wg-video .video-list li {
    margin-bottom: 20px;
    position: relative;
}

.nc-wg-video .cover {
    width: 90px;
    height: 60px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.nc-wg-video .video-list .text {
    width: 140px;
    height: 60px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.nc-wg-video .video-list .text a {
    font-size: 14px;
    color: #333;
}

.nc-wg-video .video-list .text .bottom-bar {
    font-size: 12px;
    color: #999;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
}

.nc-wg-video .video-list .text .bottom-bar a {
    font-size: 12px;
    color: #044999;
}

/*
 * 热门资讯
 */
.nc-wg-aside-hotnews {
	border-bottom: 1px solid #eee;
}
.nc-wg-aside-hotnews li {
	padding: 0 20px;
	height: 64px;
	position: relative;
}

.nc-wg-aside-hotnews .answer_num {
	width: 50px;
	height: 42px;
	border: 1px solid #eee;
	border-radius: 2px;
	text-align: center;
	padding-top: 4px;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
}

.nc-wg-aside-hotnews .answer_num a {
	width: 100%;
	display: block;
	font-size: 14px;
	height: 14px;
	color: #044999;
}

.nc-wg-aside-hotnews .answer_num span {
	width: 100%;
	font-size: 12px;
}

.nc-wg-aside-hotnews li .title {
	font-size: 14px;
	height: 42px;
	width: 182px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	position: absolute;
	right: 20px;
}

/*
 * 热门问答
 */
.nc-wg-aside-qa {border-bottom: 1px solid #eee;}
.nc-wg-aside-qa li {
	padding: 0 20px;
	height: 64px;
	position: relative;
}

.nc-wg-aside-qa .qa_type {
	width: 50px;
	height: 42px;
	border: 1px solid #eee;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	color: #044999;
	font-size: 14px;
	padding: 6px;
	line-height: 14px;
	text-align: center;
}

.nc-wg-aside-qa li .title {
	font-size: 14px;
	height: 42px;
	width: 182px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	position: absolute;
	right: 20px;
	line-height: 150%;
}
/*
 * 通用评论
 */
.nc-wg-comment {display: block; width: 100%; position: relative;}
.nc-wg-comment textarea {outline: none; width: 100%; height: 120px; border: 1px solid #eee; background: #f8f8f8; display: block; padding: 8px; margin-bottom: 5px;}
.nc-wg-comment .bottom-bar .limit {color: #999; }
.nc-wg-comment .bottom-bar .limit .now {color: #ccc; }
.nc-wg-comment .bottom-bar .login{display: inline-block;height: 32px; border-radius: 4px;border:1px solid #eee; background: #f8f8f8;line-height: 32px;font-size: 12px;color:#333;padding:0 8px;}
.nc-wg-comment .bottom-bar .login .icon-weibo{color:#dd4444;font-size: 16px;padding-right: 5px;}
.nc-wg-comment .bottom-bar .login .icon-qq{color:#00aaff;font-size: 16px;padding-right: 5px;}
.nc-wg-comment .bottom-bar .login span{vertical-align: top;}
.nc-wg-comment .loadmore {margin-top:20px;height: 35px; width: 100%; border: 1px solid #eee; background: #f8f8f8; font-size: 14px; display: block; color: #044999; line-height: 35px; text-align: center;}
.nc-wg-comment .comment-submit .btn, .nc-wg-comment .reply .reply-btn {width: 100px; height: 32px; border-radius: 2px; background: #044999; display: inline-block; color: #fff; line-height: 32px; text-align: center; float: right;}
.nc-wg-comment .comment-submit .disabled{background: #f4f4f4;color:#999;}
.nc-wg-comment .reply {display: none;}
.nc-wg-comment .comment-list li {margin-bottom:10px;display: flex; display: -webkit-flex;}
.nc-wg-comment .comment-list li .avatar {border-radius: 50%; width: 48px; height: 48px; margin: 20px 20px 0 0;}
.nc-wg-comment .comment-list li .content {flex: 1; -webkit-flex: 1; padding-top: 20px; color: #333; font-size: 14px; width: 632px;}
.nc-wg-comment .comment-list li .content .top a {color: #044999; font-size: 12px;border-bottom: none;}
.nc-wg-comment .comment-list li .content .top a:hover{border-bottom: none;}
.nc-wg-comment .comment-list li .content .top time {float: right; font-size: 12px; color: #999;}
.nc-wg-comment .comment-list li .content .mid p span {color: #044999;}
.nc-wg-comment .comment-list li .content .bottom{text-align: right;}
.nc-wg-comment .comment-list li .content .bottom i {color: #999; font-size: 12px;}
.nc-wg-comment .comment-list li .content .bottom span{padding-left:5px;color: #999; font-size: 12px;}
.nc-wg-comment .comment-list li .content .bottom span.nc-reply:hover,.nc-wg-comment .comment-list li .content .bottom i.icon-appreciate:hover {color: #044999; cursor: pointer;}

/*
 * 热门问答
 */

/*
 * 精彩图片
 */
.nc-wg-album-aside .picture-list {
	padding: 0 20px 20px 20px;
	position: relative;
	height: 362px;
}
.nc-wg-album-aside .picture-list li  {
	width: 128px;
	height: 84px;
    display: block;
    position: absolute;
    line-height: 84px;
    font-size: 12px;
}
.nc-wg-album-aside .picture-list>li img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 1px 0;
}
.nc-wg-album-aside .picture-list>li:nth-child(2){top:0; right: 19px;}
.nc-wg-album-aside .picture-list>li:nth-child(3){top:86px; right: 19px;}
.nc-wg-album-aside .picture-list>li:nth-child(4){top:172px; left: 19px;}
.nc-wg-album-aside .picture-list>li:nth-child(5){top:258px; left: 19px;}
.nc-wg-album-aside .picture-list>li:nth-child(1){
	left: 19px;
	top: 0;
	width: 112px;
	height: 170px;
}
.nc-wg-album-aside .picture-list>li:nth-last-child(1) {
	top: 172px;
	right: 19px;
	width: 112px;
	height: 170px;
}
.nc-wg-album-aside .picture-list>li a {display: none; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); color: #fff; text-align: center; position: absolute; z-index: 1; margin: 0 1px;}
.nc-wg-album-aside .picture-list>li:hover a{
	display: block;
}

.nc-wg-right-bar {position: fixed; top: 212px; right: 150px; width: 60px; z-index: 999;}
.nc-wg-right-bar li {position: relative; color: #999;}
.nc-wg-right-bar li a {width: 60px; height: 60px; border:1px solid #eee; background: #f8f8f8; display: block; text-align: center; padding-top: 5px;}
.nc-wg-right-bar li a i.iconfont {font-size: 30px; line-height: 30px;}
.nc-wg-right-bar li a p {margin: 0; font-size: 12px; text-align: center;}
.nc-wg-right-bar li.qrcode img.gzh {display: none;}
.nc-wg-right-bar li.qrcode:hover img.gzh {display: block; position: absolute; left: -110px; top: -20px; box-shadow: 0 0 8px #000;}
.nc-wg-right-bar li:nth-last-child(n+2):after {content: " "; width: 40px; height: 5px; display: block; margin: auto; border-right: 1px solid #eee; border-left: 1px solid #eee;}
.nc-wg-right-bar .blue {color: #044999;}
.nc-wg-right-bar .red {color: #dd3333;}
.nc-wg-right-bar li>div{background: #f8f8f8;}
.nc-wg-right-bar li>div a{margin:0;color:#999 !important;}
.nc-wg-right-bar li>div a:hover {color: #044999 !important;}
.nc-wg-right-bar li>div a.iconfont {font-size: 26px; line-height: 26px;}

.nc-wg-left-bar {position: fixed; top: 212px; right: 140px; width: 60px; z-index: 999;}
.nc-wg-left-bar li {position: relative; color: #999;}
.nc-wg-left-bar li>div {width: 60px; height: 60px; border:1px solid #eee; background: #f8f8f8; display: block; text-align: center; padding-top: 5px;}
.nc-wg-left-bar li>div a {width: 100%; height: 100%; color: #999 !important; cursor: pointer; margin: 6px 6px 6px 0; overflow: hidden; float: left;}
.nc-wg-left-bar li>div a:hover {color: #044999 !important;}
.nc-wg-left-bar li>div a.iconfont {font-size: 26px; line-height: 26px;}
.nc-wg-left-bar li>div p {margin: 2px; font-size: 12px; text-align: center; line-height: 14px; font-weight: 100;}
.nc-wg-left-bar li:nth-last-child(n+2):after {content: " "; width: 40px; height: 5px; display: block; margin: auto; border-right: 1px solid #eee; border-left: 1px solid #eee;}

/*
 * 面包屑
 */
.nc-wg-crumbs-cont{width:100%;padding:11px 0;background: #fff;}
.nc-wg-crumbs {
	height: 50px;
	width: 1000px;
	display: block;
	font-size: 16px;
	color: #666;
	padding-left: 15px;
	line-height: 50px;
	background: #f8f8f8;
	border: 1px solid #eee;
	margin:0 auto;
}
.nc-wg-crumbs span{display:inline-block;width:850px;white-space: nowrap; text-overflow: ellipsis; overflow: hidden; -webkit-text-overflow: ellipsis;vertical-align: top;}
.nc-wg-crumbs a {
	color: #333;
}


.nc-ellipsis {
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow:ellipsis;
	white-space:nowrap;
	display: block;
}
/*
 * 图标反转
 */
/*水平翻转*/
.flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
    display: inline-block;
}

/*垂直翻转*/
.flipy {
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    /*IE*/
    filter:FlipV;
    display: inline-block;
}

.rotate90{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	display: inline-block;
}
.rotate270{
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	display: inline-block;
}

.ad-aside-index-pinpai-top{padding:0 20px;overflow: hidden;}
.ad-aside-index-pinpai-top li{float:left;width:110px;height:100px;}
.ad-aside-index-pinpai-top li:last-child{float: right;}
.ad-aside-index-pinpai-top li img{width:110px;height:76px;}
.ad-aside-index-pinpai-top li p{width:110px;height:24px;line-height:24px;font-size: 14px;color:#333;text-align:center;overflow: hidden;}
.ad-aside-index-pinpai-bottom img{display:block;width:240px !important;height:50px;margin:0 auto;}

.nodis{display: none !important;}
.w700{width:700px !important;}

.nc-ellipsis {
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow:ellipsis;
	white-space:nowrap;
	display: block;
}

.m_t10{margin-top: 10px;}
.m_b10{margin-bottom: 10px;}
.qa_1000{width:1000px;}
.bd_weixin_popup{width:250px !important;height:294px !important;}