@charset "utf-8";

@media screen and (max-width: 1550px){
    .box_ads_bg{ display:none}        
    .box-header .logo-mrtui{ width: 85px;height: 55px; float:left; background:url(../images/mrtui-birthday.png) no-repeat; background-size:100%; margin-left: 48%;margin-top: 3px;}

}

@media screen and (max-width: 2000px){        
    .box-header .logo-mrtui{ width: 85px;height: 55px; float:left; background:url(../images/mrtui-birthday.png) no-repeat; background-size:100%; margin-left: 48%;margin-top: 3px;}
}
@media screen and (max-width: 1190px){
    .box-content .hero_showcase_topic_now{width:668px;}
    .box-label-new{ position:absolute; top:10px; left:20px; width: auto; height: auto; text-align:center; vertical-align:middle; line-height:20px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; padding:0px 0px; z-index:100; background:rgba(255, 102, 0, 0.9);  -moz-box-shadow: 0 3px 8px rgba(3,3,3,0.26); -webkit-box-shadow: 0 3px 8px rgba(3,3,3,0.26);  box-shadow: 0 3px 8px rgba(3,3,3,0.26);color:#ececec; font-size:16px; font-weight:700; text-transform:uppercase}
    .box-label-new span{ float:left; margin:0 0 0 0px; line-height:24px; padding:8px 15px}
    .box-img-topic{ width:668px; height:273px;}
    .box-img-topic .box-cover-topic{ width:1149px; height:273px; margin:0 0 0 -575px}
    .box-des-topic-hero{ padding:13px 15px; width:638px; }
    /*begin Noel*/
    .box-header.them-noel .menu-subdomain a{ padding:0 10px; }
    /*end Noel*/
    .box-action-right .btn-power-user .txt-name-power-user{display:none}
    .box-action-right .btn-vip-free{float: left; width:auto; background:url(../images/icon-repeat.png) left -2360px no-repeat; padding:0  0 0 32px; height:32px; line-height:32px; font-size:15px;  margin:5px 20px 0 0}
    .box-action-right .btn-play-music-me .txt-name-music-me{ display:block}
    .box-action-right .btn-upload .txt-name-upload{ display:block}

    .box-des-topic-hero p {font-size: 12px;}

    .box-header .logo-mrtui{ display: none;}        
    .box-header .box_search{margin:10px 0 0 -163px; width:446px;}
    .box-header .box_search .i-search{ width:320px;}

    .box-header .menu-subdomain a{ padding:0 15px; }
    .tevi_iframe {max-width: 998px; overflow: hidden;}
    .tevi_iframe iframe{max-width: 998px ;}
    body .wrap .content-wrap {max-width: 998px;}
    .wpage{max-width: 998px;}
    .box-content .box-full-content{width:998px;}
    .box-content .box-left{width:668px; }	
    .box-singer-full{width:998px;}
    .list-singer-top-week .singer-top-week-content{width:998px;}
    .box-content .box_playing .playing_video{width:998px;}
    .box-content .box_playing .playing_absolute{width:668px; }
    .content_topic_detail .caption h1{width:998px;}
    .content_topic_detail .caption p{width:998px;}
    .callbacks .caption h1{ width:898px; }
    .callbacks .caption p{width:898px; }

    .box-content .list_topic_full{width:998px;}
    .box-content .list_topic_full .topic_more{float:left; width:998px;}
    .box-content .list_topic_full .topic_more .fram_select{width:998px;}
    .box-content .list_topic_full .topic_more ul{width:1038px;}
    .box-content .list_topic_full .topic_more ul li{width:310px; }
    .box-content .list_topic_full .topic_more ul li .box_absolute{ width:310px;}
    .box-content .list_topic_full .topic_more ul li img{ width:310px; }
    .box-content .list_topic_full .topic_more ul li .name_topic{width:290px; font-size:18px }
    .box-content .list_topic_full .topic_more ul li  ul{float: left; width:310px; padding:0px 0 0 0}
    .box-content .list_topic_full .topic_more ul li  ul li{width:310px;}
    .box-content .list_topic_full .topic_more ul li  ul li .name_song{ width:280px; }


    .box-content .box-item-in-playlist{width:668px; }
    ul.list_song_in_album{width:666px;}
    ul.list_song_in_album li{width:666px; }
    ul.list_song_in_album li .item_content{width:420px !important;}

    .box-content .user-agreement,.box-content .user-agreement .title,.box-content .user-agreement .title h1,.box-content .user-agreement  .pduser-agreement p{width:668px; }
    .box-content .user-agreement  .pduser-agreement p.marginl1{width:648px;}
    .box-content .user-agreement  .pduser-agreement p.marginl2{width:628px;}

    /*begin search*/
    .box_top_search{ width:668px;}
    .search_control_select{ width:648px;}
    .box_top_search .title_info_key{width:668px; }
    .search_returns_frame{float:left; width:668px;}
    .box_top_search .search_suggestions{ width:623px;}
    ul.search_returns_list{width:688px; }
    ul.search_returns_list h2{width:668px; }
    .search_returns_info_singer{width:668px; }
    .box_search_focus.album_focus .box_right {width:490px;}
    .box_search_focus.album_focus .box_info_upload_export{width:490px}
    .box_search_focus{width:668px;}
    .box_search_focus .lable_title{width:668px; }
    .box_search_focus.song_focus .box_right {width:545px; }
    .search_returns_info_singer .search_returns_info_left{width:172px; margin:0}
    .search_returns_info_singer .search_returns_info_left .img_avatar{ width:152px;}
    .search_returns_info_singer .search_returns_info_left .img_avatar img{width:152px;}
    .box_search_focus.topic_focus .box_right {width:345px; float:left; text-align:justify;}
    .search_returns_info_singer .search_returns_info_singer_right,.search_returns_info_singer_right h1,.search_returns_info_singer_right .box_list_album,.search_returns_info_singer_right .detail_about_album,.box_list_singer_more,.box_list_singer_more p,.box_list_singer_more ul{ width:490px;}
    .box_list_singer_more ul li{width:90px;}
    .box_list_singer_more ul li:nth-child(5){ display:none}
    .box-content .box_search_advanced{width:668px;}
    .box-content .box_search_advanced .fram_select{width:668px;}
    .box-content .box_search_advanced .box_detail_search{width:668px; }
    .box-content .box_search_advanced .box_detail_search .row-input{ width:658px;}
    .box-content .box_search_advanced .box_detail_search .row-input input[type="text"]{ width:495px; }
    .box-content .box_search_advanced .box_detail_search .row-input select{ width:120px;}
    .box-content .box_search_advanced .box_detail_search .row-input .lb{width:90px;margin:0 0 0 20px}
    /*end search*/
    /*begin list_channel*/
    .box-content .list_channel{width:668px; float:left; margin-bottom:0px;}
    .box-content .list_channel .fram_select{width:668px;}
    .box-content .list_channel .fram_select ul{width:688px;}
    .box-content .list_channel .fram_select ul li{width:152px;height:152px;}
    .box-content .list_channel .fram_select ul li .bg-description{width:152px; height:152px;}
    .box-content .list_channel .fram_select ul li .bg-description h3{width:132px;}
    .box-content .list_channel .fram_select ul li img{ position:relative; width:152px; height:152px;}
    /*end list_channel*/
    /*begin lyric*/
    .lyric{width:626px; }
    .lyric .pd_name_lyric{ width:626px; }
    .lyric .pd_name_lyric .name_lyric{ width:626px; }
    .lyric .pd_name_lyric .name_post{width:626px;}
    .lyric .pd_lyric{width:626px;}
    .lyric .more_add{width:626px;  }
    /*.lyric .ads_300_250{ display:none}*/
    /*end lyric*/


    .box-content .list_event_full{width:998px;}
    .box-content .list_event_full .event_list{width:998px;}
    .box-content .list_event_full .event_list .fram_select{width:998px;}
    .slide-event #slider li{width:998px;height:389px;}
    .box-v-nhaccuatui .content-v-nhaccuatui{ width:998px;}

    .tile_box_key h1, .tile_box_key h2,.tile_box_key h3{ font-size:24px;}
    .tile_box_key h1 a,.tile_box_key h2 a,.tile_box_key h3 a{color:#2582be; text-transform:uppercase; background:url(../images/icon-repeat.png) right -158px no-repeat; padding:0 20px 0 0}
    .tile_box_key h1 a.fontsmall,.tile_box_key h2 a.fontsmall,.tile_box_key h3 a.fontsmall{ font-size:22px}
    .btn_view_select a{padding:0 15px 0 15px; font-size:13px; }
    .box_pageview{height:32px; line-height:32px; margin:20px 0 20px 0; }
    .box_pageview a{padding:7px 15px;font-size:14px;height:32px; line-height:32px;}
    .box-content .box_cata_control{width:668px;}
    .detail_menu_browsing_dashboard{width:668px;}
    .detail_menu_browsing_dashboard li{width:156px; }
    .detail_menu_browsing_dashboard li a{width:  139px;  }
    .detail_menu_browsing_dashboard_sub{width:668px; }.detail_menu_browsing_dashboard_sub li a{font-size:14px; }
    .search_control_select{width:648px;}

    .box-content .list_chart_page{width:668px; float:left; margin-bottom:10px;}
    .box-content .list_chart_page .box_view_week{ width:648px;}
    .box-content .list_chart_page ul.list_show_chart{width:668px;}
    .box-content .list_chart_page ul.list_show_chart li{width:668px;}
    .box-content .list_chart_page ul.list_show_chart li .box_info_field{width:440px; }
    .box-content .list_chart_page ul.list_show_chart li .box_info_more_week{ position:absolute; width: auto; height:30px; margin:30px 0 0 480px }

    .user_list_profile_playlist{width:668px; }
    .user_list_profile_playlist .show_list_profile_playlist{width:668px;}
    ul.show_list_profile_playlist li{width:668px;}
    ul.show_list_profile_playlist li.list_album .box_right {width:506px;}
    ul.show_list_profile_playlist li.list_album h3{font-size:15px;}
    ul.show_list_profile_playlist li.list_album h3 .name_album_search{font-size:15px; }
    ul.show_list_profile_playlist li.list_album .box_list_singer{font-size:13px; }
    ul.show_list_profile_playlist li.list_album .box_list_singer a{font-size:13px;}
    ul.show_list_profile_playlist li .box_action_edit{ width:200px; margin:35px 0 0 465px;}
    ul.show_list_profile_playlist li .box_info_upload_export{width:688px}
    ul.show_list_profile_playlist li .detail_about_album{ font-size:14px}

    .user_list_friend{width:668px;}
    .user_list_friend ul{width:688px; float:left; }
    .user_list_friend ul li{width:319px; margin-right:20px}
    .user_list_friend ul li .name_singer{ font-size:15px ;width:188px; }
    .user_list_friend ul li p{width:188px; }
    .user_list_friend ul li .box_action_edit{margin:0px 0 0 250px;  }

    /*begin user_cp*/
    .box_right_user{ width:748px; }
    .check_field_delete{width:748px; }
    .box_right_user .box-edit-user-profile{ width:706px;}
    .box_right_user .box-edit-user-profile .input-group{width:706px}
    .box_right_user .box-edit-user-profile .input-group label {width: 160px;}
    .box_right_user .box-edit-user-profile .input-group span.info_note {width: 160px;}
    .box_right_user .box-edit-user-profile .input-group .edit-user-content { width: 500px;}	
    .edit-user-content textarea{width:485px}
    .bg_upload .show_upload .box_text{position: absolute; width:510px; height:24px; z-index:100; color:#FFFFFF}
    .box_right_user .box_list_detail_infoupload,.box_right_user .box_list_detail_infoupload .box_title_info{ width:668px}
    .box_right_user .box_list_detail_infoupload p{ width:678px;}
    .box_right_user .box-edit-user-profile .input-group  .input2{width:420px;}
    .user_cp_list_friend{width:748px; float:left; margin-bottom:10px; overflow:hidden}
    .user_cp_list_friend ul{width:768px; float:left; }
    .user_cp_list_friend ul li{width:364px; margin-right:20px;}
    .user_cp_list_friend ul li .name_singer{ width:210px;  }
    .user_cp_list_friend ul li p{ width:210px;}
    .user_cp_list_friend ul li .box_action_edit{ margin:0px 0 0 300px; }
    .box_right_user .box_group_left{float:left; width:362px;}
    .box_right_user .box_group_left .box_detail_info{ padding:10px 15px;}
    .box_right_user .box_group_right{float:left; width:365px; margin:0 0 0 20px; }
    .box_right_user .box_group_right .box_list_item_video_album{float:left; width:323px;}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_playlist{ float:left; width:323px}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_playlist li{float:left; width:86px; height:86px;}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_playlist li:nth-child(3){ display:none}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_playlist li img{width:86px}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_playlist li a.sum_cout_pl{ float:left; width:86px;height:86px;}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_video{ float:left; width:323px; margin:0 !important}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_video li{float:left; width:86px; height:48px;}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_video li:nth-child(3){ display:none}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_video li img{ float:left; width:86px}
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_video li a.sum_cout_pl{ float:left; width:86px;height:48px;  }
    .box_right_user .box_group_right .box_list_item_video_album ul.usercp_list_video li a.sum_cout_pl .count-number{margin:5px 0 0 0; }
    /*end user_cp*/
    .box_download_music{width:668px; }
    .box_download_music ul{ float:left; width:100%}
    .box_download_music ul li{float:left; width: 175px; margin:10px 0 0 20px; text-align:center}
    .box_download_music ul li a{float:left; padding:10px 12px 10px 48px; background:#2582be url(../images/icon-repeat.png) 20px -530px no-repeat; font-weight:500; width:110px; text-align:left}
    .box_download_music ul li a.dl320{ background:#156faa url(../images/icon-repeat.png) 20px -530px no-repeat;}
    .box_download_music ul li a.dl320:hover{ background:#0b629a url(../images/icon-repeat.png) 20px -530px no-repeat;}
    .box_download_music ul li a.dllossless{ background:#085d95 url(../images/icon-repeat.png) 20px -530px no-repeat; }
    .box_download_music ul li a.dllossless:hover{ background:#024c7d url(../images/icon-repeat.png) 20px -530px no-repeat; }
    .box_download_music ul li a.dldisble{ background:#7a7a7a url(../images/icon-repeat.png) 20px -530px no-repeat;}
    .box_download_music ul li a.dldisble:hover{ background:#7a7a7a url(../images/icon-repeat.png) 20px -530px no-repeat;}


    .box_report_error{width:668px}
    .box_report_error span{float:left; width:668px; }
    .box_report_error .input_error{width:648px; float:left}
    .alert .content_alert{float:left; width:580px; line-height:18px; font-size:14px}




    .box_add_playlist_detail .box_show_playlist{width:656px;}
    .box_add_playlist_detail .box_show_playlist a{width:632px;  }
    .box_add_playlist_detail .box_show_playlist a span.name_playlist{float:left; width:450px; font-weight:bold; font-size:14px}
    .box_add_playlist_detail .input_data{ width:533px; }


    .slide-event{height:366px;}
    .slide-event #content{height:366px; }
    .slide-event #content .box-slider{width: 998px; height: 365px; overflow: hidden;}
    .slide-event #slider li{width:998px;height:315px;}
    .slide-event #slider li img{width:998px;height:315px;}
    .slide-event #slider1next{left:966px;}
    .box-content .list_event_full{width:998px;}
    .box-content .list_event_full .event_list{ width:998px;}
    .box-content .list_event_full .event_list .fram_select{width:998px;}
    .box-content .list_event_full .event_list ul{width:1028px;}
    .box-content .list_event_full .event_list ul li{float: left; width:312px;  padding:0px 0px 0x 0px;  margin-bottom:30px;  margin-right:30px;border: 0px solid #d9d9d9;-moz-box-shadow: 0 3px 8px rgba(3,3,3,0.26); -webkit-box-shadow: 0 3px 8px rgba(3,3,3,0.26); box-shadow: 0 3px 8px rgba(3,3,3,0.26);}
    .box-content .list_event_full .event_list ul li .box_absolute{position: relative; width:312px; height:227px; display:block; background:#000000}
    .box-content .list_event_full .event_list ul li .box_absolute .name_event{ width:292px; }
    .box-content .list_event_full .event_list ul li img{ width:312px; height:227px }

    .box_notice_content{ width:668px; }
    .box_notice_content .title_name_notice{ width: 508px;}
    .box_notice_content .p_content_notice{ width: 508px }
    .box-content .box_playing{width:668px;}
    .box-content .box_playing .playing_video{width:998px; }
    .box_playing .info_name_songmv .topbreadCrumb{ width:668px; }
    .box_playing .info_name_songmv .name_title{ width:518px;}
    .box-content .box_playing .playing_video .box-view-player{width:668px;}
    .box-content .box_playing .info_name_songmv{margin:280px 0 0 0}
    .box_menu_player,.box-content-player{ width:668px;}	
    .box_share_data,.box_share_data .row_share{width:648px; }
    .input_data.input_link1{width:303px;}
    .input_data.input_link2{width:484px;}
    .box-content-player .album_info{width:668px; }
    .box-content .box-comment{width:668px;}

    .user_list_profile_video{width:668px; }
    .user_list_profile_video .show_list_profile_video{width:668px;}
    ul.show_list_profile_video li.list_video{width:668px; }
    ul.show_list_profile_video li.list_video .box_right {width:400px; float:left;}
    ul.show_list_profile_video li .box_action_edit{margin:0px 0 0 566px; }

    .user-profile-left-avatar{ width:350px; height:257px; }
    .user-profile-left-avatar .user-profile-avatar{ width:90px; text-align:center; float:left;margin:0px 20px 10px 0px;}
    .user-profile-left-avatar .user-profile-avatar img{ width:90px; height:90px;-webkit-border-radius:46px;-moz-border-radius:46px;border-radius:46px;  float:left; border:2px solid #FFFFFF}
    .user-profile-left-avatar .user-profile-name{ width:200px; text-align:left; float:left; font-size:28px; font-weight:300; color:#FFFFFF;margin:0 0 5px 0;white-space:nowrap; overflow:hidden;text-overflow: ellipsis;}
    .user-profile-left-avatar .box_detail_user{ width:200px}
    .user-profile-left-avatar .box_detail_user p{width:200px; }
    .user-profile-left-avatar .box_show_status{position:absolute; margin:205px 0 0 115px; width:230px;  height:50px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f1{ width:140px; height:140px;left:50%; top:50%; margin:-70px 0 0 -70px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f1 h3{ width:130px; line-height:140px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f2{ width:60px; height:60px;left:205px; top:50px; margin:-30px 0 0 -30px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f2 h3{ width:50px; line-height:60px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f3{ width:88px; height:88px; left:430px; top:70px; margin:-44px 0 0 -44px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f3 h3{ width:78px; line-height:88px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f4{ width:90px; height:90px; left:215px; top:230px; margin:-45px 0 0 -45px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f4 h3{ width:80px; line-height:90px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f5{ width:70px; height:70px; left:425px; top:236px; margin:-35px 0 0 -35px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f5 h3{ width:60px; line-height:70px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f6{ width:90px; height:90px;  left:85px; top:230px; margin:-50px 0 0 -50px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f6 h3{ width:90px; line-height:100px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f7{ width:90px; height:90px; left:555px; top:200px; margin:-45px 0 0 -45px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f7 h3{ width:80px; line-height:90px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f8{ width:80px; height:80px; left:70px; top:60px;  margin:-40px 0 0 -40px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f8 h3{ width:70px;  line-height:80px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f9{ width:90px; height:90px; left:565px; top:85px; margin:-45px 0 0 -45px}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f9 h3{ width:80px; line-height:90px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f10{ width:70px; height:70px; left:0px; top:150px; margin:-35px 0 0 -35px;}
    .user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser.f10 h3{ width:60px; line-height:70px;}


    .user-profile-right-cover{ width:628px; height:287px; }

    /*begin box-singer-full*/
    .box-singer-full{ width:998px;}
    .sing-select-abc a{ font-size:15px;}
    .list-singer-item{ width:1038px;}
    .list-singer-item li{width:183px; margin:0 20px 20px 0}
    .list-singer-item li h3{width:183px; font-size:15px;}
    .list-singer-item li h3 a{ width:183px;}
    .list-singer-item-more{width:1038px;}
    .list-singer-item-more li{width:183px; margin:0 20px 0px 0; }
    .list-singer-item-more li h3{ width:183px; font-size:14px;}
    .list-singer-item-more li h3 a{width:182px; font-size:14px;}
    .list-singer-top-week .singer-top-week-content{width:998px;}
    .list-singer-top-week .singer-top-week-content ul.item-top{width:1038px; }
    .list-singer-top-week .singer-top-week-content ul.item-top li{width:183px; margin:0 20px 0px 0;}
    .list-singer-top-week .singer-top-week-content ul.item-top li h3{float:left; width:183px; font-size:14px;}
    .list-singer-top-week .singer-top-week-content ul.item-top li h3 a{width:183px;}
    .list-singer-top-week .singer-top-week-content ul.item-top li ul{ width:183px;}
    .list-singer-top-week .singer-top-week-content ul.item-top li ul li{float:left; width:183px;}
    .list-singer-top-week .singer-top-week-content ul.item-top li ul li h3{ width:183px;}
    .list-singer-top-week .singer-top-week-content ul.item-top li ul li h3 a{width:169px;}
    .box-content .singer_profile{width:668px;}

    .singer-top-cover{height:314px;}
    .singer-left-avatar{ width:260px; height:314px; position:absolute; background:url(../images/transparent-40.png)}
    .singer-right-cover{ width:998px; height:314px; float:left}
    /*end box-singer-full*/
    /*begin list_music_full*/
    .box-content .list_music_full{width:668px; float:left; margin:20px 0px 0 0;}
    ul.list_item_music{width:668px; float:left; margin-top:0px}
    ul.list_item_music li{width:668px; float:left; height:56px; line-height:56px; display:block; border-top:#ececec solid 1px}
    ul.list_item_music li .item_content{width:380px; }
    ul.list_item_music li .item_content .name_song{font-size:14px;} 
    ul.list_item_music li .item_content .name_singer{font-size:13px; margin-left:3px; color:#9a9a9a}
    /*end list_music_full*/


    /*begin showcase*/
    .box-content .slide_default{width:668px; }
    .slide_default .marquee_img_vertical,.marquee_img_vertical ul.marquee_content li{width:668px !important;height:269px !important;}
    .slide_default .marquee_img_vertical{height:269px; }
    .slide_default .marquee_list_small_slide .vertical{padding-left:3px}
    .slide_default .marquee_img_vertical img{ float: left; height:269px; width:668px }
    ul.marquee_content li:nth-child(5){ display:none !important}
    .marquee_list_small_slide a:nth-child(5){ display:none !important}
    /*end showcase*/

    /*begin list_album*/
    .box-content .list_album{width:668px;}
    .box-content .list_album .fram_select{width:668px; }
    .box-content .list_album .fram_select ul{width:688px; }
    .box-content .list_album  ul li .info_album a.name_song{font-size:14px;}
    .box-content .list_album  ul li .info_album p .name_singer{font-size:13px;}
    /*.box-content .list_album  ul li:nth-child(9),.box-content .list_album  ul li:nth-child(10){ display:none}*/
    /*end list_album*/

    /*begin list_video*/
    .box-content .list_video{width:668px;}
    .box-content .list_video .fram_select{width:668px;}
    .box-content .list_video .fram_select ul{width:688px;}
    .box-content .list_video .fram_select ul li.videosmall{ height:135px;}
    .box-content .list_video .fram_select ul li a.name_song_index{width:152px;}	
    .box-content .list_video .fram_select ul li{width:152px;  height:135px;margin:0 20px 5px 0; }
    .box-content .list_video .fram_select ul li p{width:152px;}
    .box-content .list_video .fram_select ul li.videolarge{width:668px;height:196px; }
    .box-content .list_video .fram_select ul li a.name_song{font-size:14px;width:152px; }
    .box-content .list_video .fram_select ul li a.name_singer{ font-size:13px}
    .box-content .list_video .fram_select ul li img{ float:left; width:152px; margin-bottom:5px; height:84px}
    .box-content .list_video .fram_select ul li .box_absolute{position: relative; width:152px; height:84px;}
    .box-content .list_video .fram_select ul li .box_absolute .name_video_large{ background:url(../images/bg_video_large.png) left top; position:absolute; width:304px; bottom:0; padding: 10px; font-size:16px}
    .box-content .list_video .fram_select ul li .box_absolute .name_video_large a.name_song{color:#ffffff; float:left; line-height:18px;  overflow:hidden; width:284px}
    .box-content .list_video .fram_select ul li.videolarge ul{width:668px; float:left}
    .box-content .list_video .fram_select ul li.videolarge ul li{width:324px; float:left; padding:0px; height:auto !important; margin:0 0 15px 20px}
    .box-content .list_video .fram_select ul li.videolarge ul li:nth-child(1){ margin:0 0 0 0}
    .box-content .list_video .fram_select ul li.videolarge ul li p{width:284px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; float:left}
    .box-content .list_video .fram_select ul li.videolarge ul li img{ float:left; width:324px; margin-bottom:5px; height:179px}
    .box-content .list_video .fram_select ul li.videolarge ul li .box_absolute{ width:324px; height:179px}
    /*end list_video*/

    /*begin list-music*/

    .list_music{width:668px; margin:0px 0 20px 0; }
    .list_music.box_music_right_hot{margin:0px 0 20px 20px; }
    .list_music .fram_select{width:668px;}
    .list_music .fram_select ul{width:688px;}
    .list_music .fram_select ul li{width:324px; margin-right:20px}
    .list_music .fram_select ul li .info_song{width:240px; }
    .list_music .fram_select ul li .info_song span{font-size:12px;}
    .list_music .fram_select ul li .info_song a.name_song{font-size:14px; max-width:150px;}
    .list_music .fram_select ul li .info_song p{  max-width:80px;}
    .list_music .fram_select ul li .info_song a.name_singer{font-size:13px;}
    .box-content .list_music_full{width:668px;}


    /*end list_music*/

    /*begin box_chart_music*/
    .box_chart_music .list_chart_music li .info_data .name_song{font-size:14px; }
    .box_chart_music .list_chart_music li .info_data .name_singer{font-size:13px;}
    /*end box_chart_music*/

    /*begin list_singer_hot*/
    .list_singer_hot ul li .name_singer{font-size:14px;}
    .box_topic_music ul li a{font-size:14px;}
    /*end list_singer_hot*/
    /*begin list_blog*/
    .box-content .list_blog{width:668px;;}
    .box-content .list_blog ul{width:668px;}
    .box-content .list_blog ul li{width:668px;}
    .box-content .list_blog ul li .img-200{width:180px; float:left; margin-right:20px;}
    .box-content .list_blog ul li .info-blog{width:468px; float:left;}
    .box-content .list_blog ul li .info-blog h4.name a{font-size:15px; }
    .box-content .list_blog ul li .info-blog p{font-size:13px; }
    .box-content .list_blog ul li .info-blog p.date{font-size:12px;}
    .box-content .detail-blog{width:668px; float:left; margin-bottom:20px;}
    .box-content .detail-blog .title{width:668px; float:left; border-bottom:#dfdfdf solid 1px; padding:5px 0; margin:0 0 10px 0}
    .box-content .detail-blog .title h1{width:668px; float:left; font-size:18px; color:#000000; margin-bottom:5px; line-height:24px;}
    .box-content .box_blog_more{width:668px; }
    .box-content .box_blog_more ul{width:668px;}
    .box-content .box_blog_more ul li{width:653px; }
    .box-content .box_blog_more ul li a{font-size:14px; }
    .box_content .box_blog_more ul li span.date{font-size:13px}
    /*end list_blog*/

    .box-apps-nct{width:200px !important; float:left; }
    .box-apps-nct li{width:200px; }
    .box-apps-nct .title_box{width:200px; font-size:16px;}
    .box-apps-nct  li .box-right-apps{width:180px;}
    .box-social-nct{width:180px !important; }
    .box-social-nct .title_box{width:180px; font-size:16px;}
    .box-social-nct li{width:180px; }
    .box-local-nct{width:170px !important; float:left; }
    .box-local-nct .title_box{width:170px;font-size:16px;}
    .box-local-nct li{width:170px;}
    .box-linkf-nct{width:220px !important; }
    .box-linkf-nct .title_box{width:195px; font-size:16px;}
    .box-linkf-nct li{width:220px;}
    .box-keyword-nct{width:225px !important; }
    .box-keyword-nct .title_box{width:200px; font-size:16px;}

    .box-content .list_mrtui_4y{width:668px; }
    .box-content .list_mrtui_4y .fram_select{width:668px;}
    .box-content .box_playlist_mrtui{ float:left; width:688px;padding:10px 0 10px 0;margin:0 0 0px 0}
    .box-content .box_playlist_mrtui .list_item_music{width:688px;}
    .box-content .box_playlist_mrtui .list_item_music li{ width:324px; margin:0px 20px 10px 0;}
    .box-content .box_playlist_mrtui .list_item_music li .info_data{width:250px; }
    .box-content .box_playlist_mrtui .list_item_music li .info_data .name_song{font-size:14px;}
    .box-content .box_playlist_mrtui .list_item_music li .info_data .name_singer{font-size:13px;}

    .box_music_mrtui .list_item_music{width:688px;}
    .box_music_mrtui .list_item_music li{float:left; width:324px; margin:0px 20px 0  0; }
    .box_music_mrtui .list_item_music li .info_data{float:left; width:195px; }
    .box_music_mrtui .list_item_music li .info_data .name_song{font-size:14px; }
    .box_music_mrtui .list_item_music li .info_data .name_singer{font-size:13px;}

    .box_video_mrtui{ float:left; width:668px;padding:0 0 10px 0;margin:0 0 20px 0}
    .box_video_mrtui .list_item_music{ float:left; width:688px;padding:10px 0 10px 0;margin:0 0 0px 0}
    .box_video_mrtui .list_item_music li{float:left; width:324px; margin:0px 20px 10px 0;}
    .box_video_mrtui .list_item_music li .info_data{ width:213px;}
    .box_video_mrtui .list_item_music li .info_data .name_song{font-size:14px;}
    .box_video_mrtui .list_item_music li .info_data .name_singer{font-size:13px;}    

    .box-universal-alert .icon-mrtui {margin: 110px 0 0 298px;}
    .box-universal-alert .txt-alert-nhaccuatui {width: 668px; margin: 235px 0 0 0;}
    .box-universal-alert .header-fill {width: 668px;height: 376px;}
    .box-coutdown-alert.songplaylist .icon-clock{margin-left: 298px;}
    .box-coutdown-alert .txt-time-coutdownl {width: 668px;}
    .box-universal-alert.songplaylist .icon-mrtui {margin-left: 298px;}
    .box-universal-alert.songplaylist .header-fill {width: 668px;}
    .list_mark {display: none;}

    .box-action-right .btn-play-music-me, .btn-power-user {overflow: hidden; width: 0px;}
    .search-fix {width: 280px !important;}
    .search-fix .i-search{width: 168px !important;}
}
