ul.submenu-topbar.chart {width: 90px;}
.mbottom10 {margin-bottom: 10px;}
.margin_top_15 {margin-top: 15px;}
.trans {-webkit-transition: all 0.5s linear;-moz-transition: all 0.5s linear;-o-transition: all 0.5s linear;transition: 0.5s;-webkit-backface-visibility: hidden;}
.genreActive {padding: 20px 0px 5px 0px;font-size: 13px;color: #333333;color: #e74c3c;font-weight: bold;}

.lyricSEO {display: none;}
.userImageNowplaying {width: 48px !important;}

.marquee_imagesa {opacity: 1; visibility: visible; position: absolute; left: 0; top: 0; z-index: 0;}
#user_control, #htmlLoginForm, .submenu-topbar, #divSuggestion, #top20_box_more, .box_info_show {opacity: 1; visibility: visible; display: block !important;
                                                                                                 -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
                                                                                                 -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
                                                                                                 transition: opacity 0.2s linear, visibility 0.2s linear;}
#htmlForgotForm, #htmlRegisterForm {position: fixed !important; left: 0; top: 0;     z-index: 1000000; width: 100%;}
.boxshowcase{opacity: 1; visibility: visible; display: block;
             -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
             -moz-transition: opacity 0.1s linear, visibility 0.1s linear;
             transition: opacity 0.1s linear, visibility 0.1s linear;}
.hideShowCase {
    visibility: hidden !important; opacity: 0 !important;  z-index: 1;
    -webkit-transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
    -moz-transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
    transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
}
.hideShowCaseNoneHeight {
    visibility: hidden !important; opacity: 0 !important;  z-index: 1; height: 0 !important;
    padding: 0 !important; margin: 0 !important; overflow: hidden;
    -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
    -moz-transition: opacity 0.1s linear, visibility 0.1s linear;
    transition: opacity 0.1s linear, visibility 0.1s linear;    
}

.box_absolute:hover img{-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;transition: all 0.3s linear;}
iframe {border: none;}
.box_chart_music div.submenu {display: none;}
.activeQS {background:#f1f1f1}
.activeQS a p, .activeQS p{color:#e74c3c !important}

#htmlLoginForm {position: fixed; left: 0; top: 0; z-index: 1000000; width: 100%;}
.box_lightbox{width:550px; padding:0px; -webkit-box-shadow: none;  -moz-box-shadow: none;  box-shadow: none;  -webkit-transition: border .25s linear, color .25s linear; -moz-transition: border .25s linear, color .25s linear;  -o-transition: border .25s linear, color .25s linear;  transition: border .25s linear, color .25s linear;
              position: fixed; left: 50%; margin-left: -275px; z-index: 1099901; top: 40px;
}
.box_lightbox .wpage_lightbox{width:550px; height:auto; background:#FFFFFF; position:absolute; z-index:1001}
.box_lightbox .title_lightbox{ float:left; width:530px; padding:2px 10px; background:#2582be; font-size:18px; color:#FFFFFF;  }
.box_lightbox .title_lightbox label{ float:left;}
.box_lightbox .content-lightbox{float:left; width:470px; padding:15px 40px 15px 40px; height:auto; line-height: 34px;}
.box_lightbox .content-lightbox .note_lightbox a.lnk-download,a.lnk-download:hover{color:#fff; font-weight:bold; height:20px; padding:3px 10px; text-decoration: none !important}
.box_lightbox.w400px{width:450px; margin-left: -225px;}
.btn-primary.cancel{ background:#bdc3c7}
.box_lightbox.w400px{width:450px;}
.box_lightbox.w400px .wpage_lightbox{width:450px;}
.box_lightbox.w400px .title_lightbox{ width:430px; float:left; line-height: 34px;}
.box_lightbox.w400px .content-lightbox{width:370px;}
.box_lightbox.w200px{width:250px; margin-left: -125px;}
.box_lightbox.w200px{width:250px;}
.box_lightbox.w200px .wpage_lightbox{width:250px;}
.box_lightbox.w200px .title_lightbox{ width:230px; float:left}
.box_lightbox.w200px .content-lightbox{width:170px;}
.box_lightbox input{ height:22px; float:left; cursor:pointer}
.box_lightbox textarea{ float:left; width:353px; height:100px;}
.box_lightbox input.combobox{box-shadow:none;width:328px;padding-right:30px; height:22px;margin-bottom:0;background:url(../images/icon-cursor.png) #ffffff no-repeat 330px -405px;position:relative;}
.box_lightbox .content-lightbox .fun_login{border-top:0px; float:left; width:370px;  color:#333333;}
.box_lightbox .content-lightbox .fun_login .pdform{ float:left; width:400px; font-size:13px; padding:3px 0px;}
.box_lightbox .content-lightbox .fun_login .pdform .box_more_option{float:left; width:370px;line-height:40px; height:40px; padding:15px 0px 10px 0px;}
.box_lightbox .content-lightbox .fun_login .pdform .box_more_option input{float:left; margin:2px 4px 0px 0px;}
.box_lightbox .content-lightbox .fun_login .pdform .box_more_option span{float:left; margin-right:5px; font-size:14px; line-height:24px; margin:5px 0px 0 0;}
.box_lightbox .content-lightbox .fun_login .pdform .box_more_option .lost{ background:none;font-weight:normal; font-size:14px;line-height:24px;margin:5px 0px 0 2px; height:24px; float:left}
.box_lightbox .content-lightbox .fun_login .pdform .btn.btn_login_submit{float:right; font-size:15px; width:100px; text-align:center; height:36px; line-height:36px; margin:0px 0px 5px 0; padding:0px 20px;}
.box_lightbox .content-lightbox .fun_login .lb{ float:left; width:370px; font-size:13px; text-align: left;}
.box_lightbox .content-lightbox .fun_login .row{ float:left; width:370px; font-size:13px; }
.box_lightbox .content-lightbox .fun_login .input_data{height:22px; float:left; padding:3px 5px; line-height:25px}
.box_lightbox .content-lightbox .fun_login .input_data.input_link1{width:358px; float:left; font-size:12px}
.box_lightbox .content-lightbox .fun_login .box_more_login{float:left; width:350px; background:#e5e5e5; padding:6px 10px 4px 10px; margin:0px 0px; height:28px; line-height:28px; }
.box_lightbox .content-lightbox .fun_login .box_more_login label{float:left;}
.box_lightbox .content-lightbox .fun_login .box_more_login a{width:24px; height:24px !important; float:left; margin-left:5px !important; line-height:28px !important; text-align: left;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; font-weight:bold}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_facebook{background:#2f4b93}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_facebook:hover{background:#415c9d}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_facebook:active{background:#264186}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_facebook span{width:16px; height:16px; background:url(../images/icon.png) -40px -76px no-repeat;  margin:4px 9px 0px 4px; float:left}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_google{background:#c43a30}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_google:hover{background:#d24a40}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_google:active{background:#b52b21}
.box_lightbox .content-lightbox .fun_login .box_more_login a.login_google span{width:16px; height:16px; background:url(../images/icon.png) -59px -76px no-repeat;  margin:4px 9px 0px 5px; float:left}
.box_lightbox .content-lightbox .fun_login .box_not_user{float:left; width:358px; padding:0px 0px; text-align: left; height:34px; line-height:34px; }
.box_lightbox .content-lightbox .fun_login .box_not_user a{float: none !important; background:none !important; line-height:34px !important; padding:0px; margin:0px;}
.pd-lightbox {background: #fff;}

.box_lightbox .row-lb{float:left; width:450px; margin-bottom:10px}
.box_lightbox .row-lb-fb{float:left; width:410px; margin-bottom:10px}
.box_lightbox .box_catcha{ float:left; background:#CCCCCC; color:#333; line-height:25px; padding:4px 10px; margin-right:10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; text-align:center}
.box_lightbox .input_catcha{width:80px;}
.box_lightbox .row-lb label{float:left; width:113px; text-align: left; margin-left:0px; line-height:32px;}

.nnhaccuatui{  right: 0; float: right; left: auto !important;}
.nnhaccuatui li ul li{max-height: 36px;
                      overflow: hidden;
                      font-size: 14px;
                      height: 36px; width: 290px;
                      line-height: 36px;}
.nnhaccuatuivip{   
    right: 225px;
    float: right;
    left: auto !important;
    width: 150px;}
.nnhaccuatuivip li ul li{max-height: 36px;
                      overflow: hidden;
                      font-size: 14px;
                      height: 36px; width: 290px;
                      line-height: 36px;}

.box-action-right .btn-play-music-me, .btn-power-user {height: 38px !important;}
.btn_more_chart:hover #top20_box_more, #box_user_login:hover #user_control,#box_filter:hover #sub_filter, 
#idNhacCuaTuiVip:hover #nnhaccuatuivip, #idMyPlaylist:hover #nnhaccuatui {opacity: 1 !important; visibility: visible !important; display: block !important;
                                                                                                                                            -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
                                                                                                                                            -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
                                                                                                                                            transition: opacity 0.2s linear, visibility 0.2s linear;}

#box_user_login {height: 45px;}
.sub-menu-header.fix ul.notifi li ul li ul li a, .submenu-topbar a{ border-bottom:#fff solid 2px; height:36px;}
.sub-menu-header.fix ul.notifi li ul li ul li a:hover {border-bottom:#fff solid 2px;}
ul.notifi li a:hover,ul.notifi li a.active{ border-bottom:#e74c3c solid 2px; height:40px;}

.input_data.input_link1 {width: 455px;}
.alert {padding-bottom: 10px;}
.boxOptionNowplaying {position: relative; float:left; height: auto;}
.clr {clear: both;}

/*chart*/
#divBoxChart {background: #FAFAFA; margin-top: 2px; margin-bottom: 10px; padding: 10px;border-top: #e3e3e3 solid 1px; position: relative;}
.infoChart {width: 300px; height: 30px; float: left;}
.infoChartRight {width: 245px; height: 30px; float: right;}
.titleChart {font-size: 16px; font-weight: bold;}
.fromDateChart {color: #6E6E6E; font-size: 14px;}
.oneBox {height: 230px; width: 100%;}
.leftCol {width: 45px; height: 205px; text-align: right; position: relative; float: left;}
.chartSong {width: 750px; height: 200px; background: #fff; border: 1px solid #ccc; float: right;}
.itemBottom {position: absolute; bottom: 0; width: 100px; text-align: center; font-weight: bold;}
.divBottom {float: right; height: 20px; position: relative;}
.itemLeft {position: absolute; width: 40px; text-align: right; font-weight: bold;}
.classTL, .classTN, .classEMBED {float: right; padding: 6px; font-weight: bold; background: #F2F2F2; border: 1px solid #ccc; border-bottom: none; cursor: pointer;}
.classEMBED{border-left: none;border-right: none;}
.chartActive {background: #2886C5; color: #fff; border: 1px solid #2886C5; border-bottom: none;}
#tooltipCanvas {position: absolute; width: 80px; height: 60px; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; z-index: 100000}

.lyric .pd_lyric {max-height: none;}

.expand, .isPlaylist {margin-top: 491px;}

.expand {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-top: 665px;
}
.expan_playing {width: 1170px;}

.none-expand-box-playing {width: 840px !important;}
.box-content .box_playing .playing_video .box-list-playing .title-show-name h1 {white-space: nowrap;
                                                                                text-overflow: ellipsis;
                                                                                overflow: hidden;
                                                                                display: block;
                                                                                width: 303px;}

.box-content .list_album ul li .box-left-album {background: #000;}
.box_video_recommended .list_item_music li .box_absolute_video .thum-video img,
.box-content .list_album ul li .box-left-album .box_absolute .avatar img,
.box-content .list_video .fram_select ul li .box_absolute img{-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;-webkit-transition: opacity 0.2s linear;
                                                              -moz-transition: opacity 0.2s linear;
                                                              transition: opacity 0.2s linear;}

.box_video_recommended .list_item_music li .box_absolute_video:hover .thum-video img,
.box-content .list_album ul li .box-left-album .box_absolute:hover .avatar img,
.box-content .list_video .fram_select ul li .box_absolute:hover img{-webkit-opacity: 0.7;-moz-opacity:0.7;opacity: 0.7;-webkit-transition: opacity 0.2s linear;
                                                                    -moz-transition: opacity 0.2s linear;
                                                                    transition: opacity 0.2s linear;}
.box_video_recommended .list_item_music li .box_absolute_video .icon_play {position: absolute; z-index: 101;top: 50%;left: 50%;margin: -16px 0 0 -16px;width: 32px;height: 32px;display: block;background: url(../images/icon-repeat.png) left -788px no-repeat;}
.box-content .list_video .fram_select ul li .box_absolute .icon_play{position:absolute; z-index:101; top:50%; left:50%; margin:-24px 0 0 -24px; width:48px; height:48px; display:block; background:url(../images/icon.png) left -28px no-repeat;}
.icon_play {opacity: 0; visibility: visible; display: block !important;
            -webkit-transition: opacity 0.2s linear;
            -moz-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
}
.box_absolute_video:hover .icon_play,
.box_absolute:hover .icon_play{opacity: 1; display: block !important;  visibility: visible;
                               -webkit-transition: opacity 1s linear;
                               -moz-transition: opacity 0.2s linear;
                               transition: opacity 0.2s linear;
}

/*boxy */
.btn_remove_item{float:left; background:#fbfbfc url(../images/icon-repeat.png)10px -1318px no-repeat; padding:0 10px 0 26px; line-height:24px; height:24px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;  color:#333333; border:#a6a6a6 solid 1px; margin-top:0px;}
.btn_remove_item:hover{background:#e74c3c url(../images/icon-repeat.png) 10px -1350px no-repeat;border:#e74c3c solid 1px; color:#FFFFFF;}
.btn_remove_item_cancel{margin-left: 5px; float:left; padding:0 10px 0 10px; line-height:24px; height:24px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;  color:#333333; border:#a6a6a6 solid 1px; margin-top:0px;}
.btn_remove_item_cancel:hover{border:#e74c3c solid 1px;background: #e74c3c;color: #ffffff}

#contentBoxPlaylist .name_playlist,#contentBoxPlaylist .num_playlist, #contentBoxPlaylist .date_create {line-height: 33px;}
#divBoxReport .loader-inner,
#contentBoxPlaylist .loader-inner {position: absolute; color: #3590cb;}
#contentBoxPlaylist .loader-inner div,
#divBoxReport .loader-inner div {background-color: #3590cb;}
#contentBoxPlaylist a {-webkit-transition: 0.1s;-moz-transition: 0.1s;-o-transition: 0.1s;}

#idScrllListPlaylist {min-height: 100px;}
#idScrllListPlaylist .loader-inner {position: absolute; color: #3590cb;}
#idScrllListPlaylist .loader-inner div {background-color: #3590cb;}
#idScrllListPlaylist a {-webkit-transition: 0.1s;-moz-transition: 0.1s;-o-transition: 0.1s;}

ul.notifi li ul li ul li a:hover {border-bottom: 2px #fff solid}
.tooltip_text {position: absolute;
               left: -45px;
               top: -40px;
               background: rgba(0,0,0,0.9);
               width: 100px;
               height: 20px;
               color: #fff;
               font-size: 15px;
               visibility: hidden;
               opacity: 0;
               z-index: 0;
               padding: 5px 0;
               margin: 0;
               text-align: center;
               border-radius: 7px;
               -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
               -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
               transition: opacity 0.2s linear, visibility 0.2s linear;  
}

.tooltip_text .tooltip_d {opacity: 0.9;
                          color: #000;
                          position: absolute;
                          left: 45px;
                          top: 21px;
                          width: 10px;
                          height: 15px;}

.tooltip_p {position:relative;}
.tooltip_p:hover .tooltip_text {
    visibility: visible; opacity: 1;  z-index: 1;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;  
}

.box_menu_player .box_btn_like {float: right; width: 370px; position: relative; z-index: 1000;}
#loginError {width: 328px; text-align: left;}
.alert {padding: 15px 0px 10px 0px;}

ul.search_returns_list li.list_album .box-left-album .box_absolute .bg_action_info .box_content_count_video{padding:3px 5px; background:url(../images/transparent.png); position:absolute; color:#FFF; right:0; bottom:0}
ul.search_returns_list li.list_album .box-left-album .box_absolute .bg_action_info .box_content_count_video .icon{float:left; height:18px; padding-left:20px; line-height:16px; display:block; background:url(../images/icon-repeat.png) left -1939px no-repeat;}

@media screen and (max-width: 1190px){
    .box-content .list_topic_full .topic_more ul li  ul li .name_song{ width:280px; }
}

.hover:hover .myTip {display: block !important; width: 130px;}

/*dropdownlist*/
.dropdownMenu { background:#fff; border:1px #2882bc solid; font-size:1.1em ; padding:0px; margin:0px; width:363px !important; border-top:0px;}
.dropdownMenu a{color:#333333 !important;display:block;/*height:1%;*/ padding:5px 10px;margin:0;text-decoration:none}
.dropdownMenu a strong{color:#666666;font-weight:bold}
.dropdownMenu a.current,.dropdownMenu a.current strong{background:#f0f0f0;color:#2882bc !important}
.dropdownMenu.fixHeight{height:250px;overflow-y:auto;overflow-x:hidden;float:left}
.dropdownMenu a:hover,.dropdownMenu a:hover strong,.dropdownMenu .ui-state-hover{background:#eeeeee;color:#2882bc !important; cursor:pointer;}

#divContentErrorReportErr{padding-bottom: 0px; margin: 0 0 5px 0;}

.height80 {height: 80px;}

.user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser .icon_play {
    position: absolute;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    left: 50%;
    top: 50%;
    background: url(../images/icon-repeat.png) left -1155px !important;
    z-index: 101;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.user-profile-right-cover .box-suggestion-fuser a.suggestion-fuser:hover .icon_play {
    visibility: visible; opacity: 1 !important;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.content_alert a {color: #fff;}

.fram_select ul li .box_info_show {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
    -moz-transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
    transition: opacity 0.1s linear, visibility 0.1s linear, height 0.1s linear;
}
.fram_select ul li:hover .box_info_show {
    visibility: visible !important; opacity: 1 !important;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;    
}

.box-content .list_topic_full ul li .box_info_show .box-info-detail p {text-align: justify;}

.search-fix {position: fixed !important;
             left: 50% !important;
             top: -5px !important;
             z-index: 999000 !important;
             margin: 10px 0 0 140px !important;

}

.box-content-player .album_info .detail_info_playing_now a {color: #5c5c5c !important;}

.user_upload a {color: #0689ba;}
.divUpdateLyrics{margin-bottom: 3px;font-style: italic;}
.divUpdateLyrics .icon_edit{width:16px; height:16px; margin:0px 10px 0 0;float:left; background:url(../images/icon-cloud-v11.png) -168px top no-repeat;}
.user_upload a {color: #0689ba;}

a#btnShowEditLyric{color:#9a9a9a !important;}
.box-header.them-birthday{ background:url(../images/bg-birthday-1920.png) center bottom no-repeat #f1f1f1; padding:0px 0 0 0}

/*
desgin responsive
*/
@media screen and (min-width: 1191px){
    .box-content .list_event_full ul li.event:nth-child(4n+0)  .box_info_show{
        margin:40px 0px 0 -308px;
    }
    .box-content .list_event_full ul li.event:nth-child(4n+0) .box_info_show .dot_show_menu {
        background: url(../images/dot_show_menu_right.png); width:13px; height:24px; position:absolute; margin:20px 0 0 300px;
    }
    .box-apps-nct li {width: 190px !important;}
    .box-apps-nct {width: 218px !important;}
    .box-local-nct {width: 165px !important;}
    .box-linkf-nct {width: 265px !important;}
    .box-keyword-nct {width: 270px !important;}
    #S_Comment {width: 840px !important;}
}

@media screen and (max-width: 1190px){
    .lyric .pd_lyric {width: 333px;padding-right: 305px;}
    .box_menu_player ul li {margin-right: 10px;}
    .box_menu_player .box_btn_like {width: 327px; margin-top: 0px !important;}
    .box-content .list_topic_full ul li .box_info_show {margin: 40px 0px 0 320px}
    .box_right_user .box-edit-user-profile .input-group .input2 {width: 420px !important;}
    .search-fix {right: 6px !important; left: auto !important;}
    .box-content .list_event_full ul li.event .box_info_show {
        margin: 10px 0px 0 325px;
    }
    .box-content .list_event_full ul li.event:nth-child(3n+0) .box_info_show {
        margin:40px 0px 0 -308px;
    }
    .box-content .list_event_full ul li.event:nth-child(3n+0) .box_info_show .dot_show_menu {
        background: url(../images/dot_show_menu_right.png); width:13px; height:24px; position:absolute; margin:20px 0 0 300px;
    }
    .box-content .list_video .fram_select ul li {height: 165px;}
    .box_add_playlist_detail {width: 670px;}
    .alert .content_alert {width: 595px;}
    .callbacks .caption h2 {width: 810px;}
    .callbacks .caption p {width: 808px;}
    #S_Comment {width: 668px !important;}
    .box-header.them-birthday {background: url(../images/bg-birthday-1000.png)  center bottom no-repeat #f1f1f1;}
    .box_search {margin-left: -200px !important; }
    .box-header .box_search .i-search {width: 174px;}
    .box-header .mrtui-9th {background: url(../images/mr_tui_9th.png) center bottom no-repeat; left: 69%; position: absolute; top: 0; width: 89px; height: 56px;}
}

.list_music .fram_select ul li .info_song a.name_singer {
    font-size: 14px;
    line-height: 26px;
    height: 24px;
}

ul.list_song_in_album li.active .button_playing,ul.list_song_in_album li .button_playing {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
ul.list_song_in_album li.active .button_playing {
    width: 14px;
    height: 14px;
    background: url(../images/icon.png) -180px -111px no-repeat;
    display: block;
    float: right;
    margin: 10px 15px 0px 0px;    
}
ul.list_song_in_album li.active .button_playing:hover {
    background: url(../images/icon.png) -180px -126px no-repeat;
}

.box-content .list_album ul li .box-left-album .box_absolute .avatar {overflow: hidden;}

.auto-box .icon-info-auto {margin: 2px 5px 0 0;}
.auto-box > div:first-of-type label {top: -3px;}
.auto-box:hover .show-info-auto {
    visibility: visible !important; opacity: 1 !important;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear; 
}

.adsZoneMp3 {position:absolute; top: 12px; width: 300px; height: 250px; left: 22px; z-index: 9999; overflow: hidden;}
@media screen and (max-width: 1190px){
    .adsZoneMp3 {position:absolute; top: 8px; width: 300px; height: 250px; left: 18px; z-index: 9999;}
    .slide_default .marquee_img_vertical img {height: 269px;}
    .box-apps-nct {width: 185px !important;}
    .box-apps-nct li {width: 170px !important;}
    .box-local-nct {width: 145px !important;}
    .box-linkf-nct {width: 265px !important;}
    .box-keyword-nct {width: 225px !important;}
    .box-social-nct {width: 160px !important;}
    .list_album .fram_select .four_col li:nth-child(5n+0) {display: none;}
}

.ads_80_120{position: absolute;right: 346px;top:12px;width: 80px;height: 80px;overflow: hidden;z-index: 9995}
.autoPlayPlayerButtonBox{    position: absolute;
                             top: 288px;
                             width: 40px;
                             height: 25px;
                             z-index: 9999;
                             left: 625px;
}

.autoPlayPlayerButtonBox .boxTooltip {
    visibility: hidden; opacity: 0;
    -webkit-transition: opacity 0.2s linear, visibility 0.3s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.3s linear;
    transition: opacity 0.2s linear, visibility 0.3s linear;
    background: url(../images/tooltip.png) no-repeat top center;
    background-size: 130px 31px; 
    margin-top: -31px;
    width: 130px; height: 20px; z-index: 1020;
    color: #ccc; padding: 5px 5px 6px 5px; text-align: center;
    font-size: 12px; margin-left: -50px;
}

.autoPlayPlayerButtonBox.playlist {left: 548px;}

.autoPlayPlayerButtonBox:hover .boxTooltip {
    visibility: visible; opacity: 1;  z-index: 1;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;  
}

@media screen and (max-width: 1190px){
    .autoPlayPlayerButtonBox {left: 485px !important;}
    .autoPlayPlayerButtonBox.playlist {left: 456px;}
}

.cusalert {color: #ec1a23;
           font-size: 15px;
           width: 100%;
           float: left;
           margin: 0 0 10px 0;
           border-bottom: #f3f3f3 solid 1px;
           padding: 0 0 10px 0; line-height: 1.4;}

.input_data {height: 22px;
             float: left;
             padding: 8px 5px;
             line-height: 25px;
             width: 100%;
             font-size: 15px;}

.h3seo {padding: 0px !important;}
.box-content .list_album ul li .info_album h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 152px;
    margin-bottom: 5px;
    color: #acacac;
}
.list_singer_hot ul li a.name_singer_main{
    width: 65px !important;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
}
.box_show_add_playlist .input_data.input_playlist{margin-top: 0px;}
.box_right_mrtui{padding: 0!important;}
.box-content .list_album ul li .info_album h3 {padding: 0;}

.box-content .singer_profile .singer_profile_content .btn_view_more,
.box-content .singer_profile .singer_profile_content .btn_view_hide {display: block;}
.tile_box_key h3 {color: #2582be;}
.box_music_recommended{margin: 0!important};
.box_playlist_recommended .list_item_music li .info_data .name_singer,.box_music_recommended .list_item_music li .info_data .name_singer,.box_video_recommended .list_item_music li .info_data .name_singer {text-overflow: ellipsis;white-space: nowrap;}
.name_title h2 a {color: #000 !important;}

.info_data h4 {width: 100%; overflow: hidden;}
.one .info_data h4 {width: 190px; overflow: hidden;}
.fb_iframe_widget_lift {z-index: 100000 !important;}
#user_control {z-index: 6001;}
#songLyric {position: relative; z-index: 2;}
#idScrllVideoInAlbum .slimScrollBar {background: #fff !important; opacity: 0.7 !important;}
.fb-send {width: 45px;}
.box_show_add_playlist{z-index: 9999 !important;}
.list_singer_hot ul li a.name_singer_main{line-height: 21px !important;}
.icon_play_single_playlist{position:absolute; z-index:101; top:50%; left:50%; margin:-24px 0 0 -24px; width:48px; height:48px; display:block; background:url(../images/icon.png) left -28px no-repeat;}
.icon_play_single_playlist.stop{ background:url(../images/icon.png) left -384px no-repeat;}

#loadingBar .bg_line_status_loading{ width:300px; height:2px; background:#f3f3f3; float:left; margin:0 0 10px 0}
#loadingBar .bg_line_status_loading .line_status_loading_show{height:2px; background:#a6a6a6; float:left}
#loadingBar .bg_line_status_loading .line_status_loading_listen{height:2px; background:#3498db; float:left; margin:-2px 0 10px 0}

.pdblog strong {font-weight: bold !important;}
.pdblog a {color: #0689ba !important;}
#divDescription {
    line-height: 1.5;
}
#divDescription br, #shortDescription br {
    margin: 0 0 0px 0;
    display: block;
    line-height: 32px !important;
}

.alertMobile {padding: 10px; color: #fff; background: #2882bc; font-size: 14px; font-weight: bold;}
.alertMobile a {text-decoration: underline; color: #fff;}
.alertMobile span {font-size: 30px; height: 20px; display: block; float: left; width: 20px; margin-top: -6px;}
.alertMobile .close {float: right; font-size: 18px; margin-top: -2px; width: 10px; cursor: pointer;}

.loadingAdss {width: 298px; height: 128px; padding-top: 110px; color: #ccc; border: 1px solid #ccc; -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; text-align: center; vertical-align: middle;}
.loadingAdss.expand {width: 99%; height: 50px; padding:30px 0 0 0; margin:0; border: 1px solid #ccc; -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}

.screensmall {margin-top: 390px;}
.losslessdeny {background-color: #ccc !important;}
.twoDownloadLi {
    width: 347px !important;
    margin: 10px 40px 0 30px !important;
}
.twoDownload {padding: 10px 12px 10px 145px !important;
              background:  #2582be url(../images/icon-repeat.png) 100px -530px no-repeat !important;
              width: 200px !important;}
.twoDownloadLosslessdeny {padding: 10px 12px 10px 145px !important;
                          background:  #ccc url(../images/icon-repeat.png) 100px -530px no-repeat !important;
                          width: 200px !important;}

.downloadListSong {width: 100%; height: 300px; border: 1px solid #D0CFCF; -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; background: #F1F0F0}
.item_list_download {width: 415px; position: relative; height: 20px; padding: 15px 5px 10px 10px; border-bottom: 1px solid #EAE7E7;}
.item_list_download .q-song {
    float: right;
    width: auto;
    line-height: 18px !important;
    font-style: italic;
    color: #999;
    font-size: 13px;
    margin-right: 15px;
    margin-top: 8px;
}
.rowAllDownload {padding: 10px 5px 0px 11px;}
.downloading, .downloading:hover {background: #ccc !important; cursor: default;}
.downloadedPlaylist, .downloadedPlaylist:hover {background: #fff !important; color: #14B70C alert!important; font-size: 18px; font-weight: bold; cursor: default;}
.textRemoveDownload a {color: #ccc  !important;}


.box-content .list_video .fram_select ul li .box_absolute:hover .name_video_large a.name_song {color: #0689ba;}
.box-content-player .album_info .detail_info_playing_now .content_info_description{-webkit-line-clamp:100 !important;}

.full_bglightbox{background:rgba(34, 34, 34, 0.6); position: fixed; width:100%; height:100%; z-index:999999}
.show-lightbox-popup-v2{width:600px;margin: 0 0 0 -300px; position: fixed; top:15%; left:50%;  padding:0px; z-index:10000; -webkit-box-shadow: none;  -moz-box-shadow: none;  box-shadow: none;  -webkit-transition: border .25s linear, color .25s linear; -moz-transition: border .25s linear, color .25s linear;  -o-transition: border .25s linear, color .25s linear;  transition: border .25s linear, color .25s linear;}
.popup-info-v2-user{ float:left; width:100%;}
.popup-info-v2-user .bg-img-pu{float:left; width:600px; height:250px; background:url(../images/bg-popup-pu_v2.png)}
.popup-info-v2-user .bg-img-location{float:left; width:600px; height:173px; background:url(../images/bg-popup-location.jpg)}
.popup-info-v2-user .bg-img-hero{float:left; width:600px; height:173px; background:url(../images/bg-popup-hero.jpg)}

.popup-info-v2-user .light_close{width:12px; height:12px; display:block;background: url(../images/icon-repeat.png) left -2987px no-repeat; margin:10px 10px 0px 0px; float:right; padding:0px;}
.popup-info-v2-user .light_close:hover{background:url(../images/icon-repeat.png)  left -3001px no-repeat; }

.popup-info-v2-user .content-txt-pu{float:left; width:580px; padding:20px 10px 30px 10px; background:#FFFFFF}
.popup-info-v2-user .content-txt-pu .txt-info-pu{float:left; text-align: center; width:100%; color:#212121; font-size:16px; line-height:24px; margin:0 0 25px 0}
.popup-info-v2-user .content-txt-pu .box-btn-pu{float:left; text-align: center; width:100%;}
.popup-info-v2-user .content-txt-pu .box-btn-pu a{margin:0 10px; padding:10px 10px; width:120px;  display:inline-block; font-size:15px; text-transform:uppercase}
.popup-info-v2-user .content-txt-pu .box-btn-pu a.pucancel{ background:#787882}
.popup-info-v2-user .content-txt-pu .box-btn-pu a.pucancel:hover{ background:#959599}
.popup-info-v2-user .content-txt-pu .box-btn-pu a.pucancel:active{ background:#58585e}
.show-lightbox.w600px .wpage_lightbox{width:600px; height:332px; top:50%; margin:-166px 0 0 0}
.dateFromNext {font-weight: bold; font-size: 16px; margin-bottom: 10px;}

.popup-pu .wpage_lightbox {margin-top: 0 !important;}

.inputCreatePlaylist {padding: 12px !important; margin-top: -4px; width: 300px; font-size: 14px !important;}
/*.popup-info-v2-user .content-txt-pu .txt-info-pu {margin-bottom: 15px;}*/
.errorCreatePlaylist {color: red; font-weight: bold; text-align: center; width: 100%; padding-bottom: 10px;}

ul.list_song_in_album li.active .item_content {width: 550px;}

.box_btn_hero {margin-top: 2px;}

.yan_widget_custom {width: 300px; display: block; position: relative; height: auto; margin-bottom: 10px;}

#S_HotCorner, #PL_HotCorner {
    position: absolute;
    right: 5px;
    bottom: 48px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    z-index: 9995;
    /*    background: #ccc;
        display: block !important;*/
}

.fright_button_download.lastchild .show_list_file_dl {
}
.fright_button_download .show_list_file_dl {
    width: auto;
    position: absolute;
    right: 0;
    height: 26px;
    margin-top: -12px;
    margin-right: 30px;

}
.fright_button_download .show_list_file_dl a {
    float: none; 
    width: 54px;
    font-size: 13px;
    padding: 0 0 10px 0;
    text-align: center;
    display: inline-block;
}

.fright_button_download .show_list_file_dl:before {
    position: absolute;
    content: "";
    right: -15px;
    ex: 1;
    top: 13px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #fff;
}

.fright_button_download .show_list_file_dl:after {
    position: absolute;
    content: "";
    right: -18px;
    ex: 1;
    top: 11px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #d9d9d9;
}

.wl1 {width: 60px;}
.wl2 {width: 120px  !important;}
.wl2 a:nth-child(2) {margin-left: 5px;}
.wl3 a:nth-child(2) {margin-left: 5px;}
.wl3 a:nth-child(3) {margin-left: 5px;}
.wl3 {width: 180px !important;}

.wrap {position: relative;}
.expand-background {width: 100%; background: #000; height: 376px; position: absolute; top: 0; left: 0; display: none;}
.centerPageAlways {float: none !important; margin: 0 auto;}
body {overflow-y: scroll;}

/*.box-right {
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;        
}
.expand {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;        
}*/

.icon-hot-uudai {
    display: inline-block;
    background: url(../images/hot.gif) center center no-repeat;
    width: 21px;
    height: 14px;
}

#shortDescription p {line-height: 1.5;}


@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 1)
{
    .hideShowCase {
        display: none;
    }
    .hideShowCaseNoneHeight {
        display: none;
    }
    input:focus {outline:0;}
    input, select, textarea {
        font-size: 16px;
    }
}

body {-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent;}