@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 100;
  src: local('Yantramanav Thin'), local('Yantramanav-Thin'), url(https://fonts.gstatic.com/s/yantramanav/v1/Rs1I2PF4Z8GAb6qjgvr8wH4UHu-c0cTZKOwO_f6u1Os.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 300;
  src: local('Yantramanav Light'), local('Yantramanav-Light'), url(https://fonts.gstatic.com/s/yantramanav/v1/HSfbC4Z8I8BZ00wiXeA5bLfB31yxOzP-czbf6AAKCVo.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav'), local('Yantramanav-Regular'), url(https://fonts.gstatic.com/s/yantramanav/v1/E1Z7InSGFB89Npehsy0O7J0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
