/*
Theme Name: Movie Theme
Theme URI: 
Description: Tema desarrollado por <a href="">Andres Urbano</a> 
Version: 1.4
Author: Andres Urbano
Author URI: http://www.google.com
*/



/* ---------------------------------------------------------
	/   
	
	1 - RESET
	2 - CLEAR
	3 - GERAL ITENS
	4 - HEADINGS
	5 - TRANSIÇÕES E LINKS
	6 - BODY
	7 - TOOLTIPS
	8 - HEADER
	9 - MENU
	10 - SLOGAN
	11 - SLIDER
	12 - FUNDO
	13 - DIVISAS
	14 - BUSCA
	15 - ARTIGOS
	16 - PAGENAVI
	17 - SIDEBAR
	18 - TOP 10 WIDGET
	19 - PUBLICIDADE RODAPE
	20 - FOOTER
	21 - REDES
	22 - COPY
	23 - BREADCRUMB
	24 - SINGLE
	25 - CONTENT
	26 - EMBED VÍDEO
	27 - RELACIONADOS
	28 - COMENTARIOS
	29 - PAGE
	30 - RESULTADOS BUSCA
	31 - CATEGORIA
	32 - SHORTCODES
	
	   /
--------------------------------------------------------- */



/* ---------------------------------------------------------
	/   RESET   /
--------------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style:inherit; font-weight:inherit; }
del, ins { text-decoration:none; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:baseline; }
sub { vertical-align:baseline; }
legend { color:#000; }
input, button, textarea, select, optgroup, option { font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit; }
input, button, textarea, select { *font-size:100%;
}


/* ---------------------------------------------------------
	/   CLEAR   /
--------------------------------------------------------- */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }


/* ---------------------------------------------------------
	/  GERAL ITENS  /
--------------------------------------------------------- */
* { border:none; outline:none; }
fieldset, img { border:none; }
strong { font-weight:bold; }
blockquote { margin:10px 0 !important; background:#f4f4f4; display:block; position:relative; overflow:hidden; padding:40px 40px 50px 40px; font-style: italic; font-size:15px; border-bottom:2px solid #bb0000; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; }
blockquote p { margin:0 !important; }
blockquote.left { width:48%; float:left; margin:0 10px 20px 0 !important; }
blockquote.right { width:48%; float:right; margin:0 0 20px 10px !important; }
.alignleft { float:left; margin:0 10px 0 0; }
.alignright { float:right; margin:0 0 0 10px; }
.aligncenter, img.aligncenter { display:block; margin:auto; }
.clear { clear:both; }
.no-text { font-size:0; text-indent:-9999px; overflow:hidden; }
.margem { width:940px; margin:auto; position:relative; }
.doble-dote { background:url(images/doble-dote.png) repeat-x; height:5px; display:block; position:relative; clear:both; }
.line { height:1px; background:#e7e7e7; display:block; clear:both; margin:10px 0; position:relative; }
.open-sans { font-family:'open sans', arial, serif !important; }


/* ---------------------------------------------------------
	/   HEADINGS   /
--------------------------------------------------------- */
.heading { font-size:18px; color:#222; text-transform:uppercase; }


/* ---------------------------------------------------------
	/  TRANSIÇÕES LINKS E INPUTS  /
--------------------------------------------------------- */
a, a:before, a:after, a img, a strong, a span, input, textarea { text-decoration:none; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; }


/* ---------------------------------------------------------
	/  BODY  /
--------------------------------------------------------- */
body { margin:0; padding:0; font-family:'open sans', arial, serif; font-size:14px; color:#6d6d6d; background:url(images/fundo.png); }
.custom-text, a { color:#bb0000; }
.bg-vermelho { background:#bb0000; }
a:hover { color:#222; }


/* ---------------------------------------------------------
	/   TOOLTIPS   /
--------------------------------------------------------- */
.tooltip-theme { background: #bb0000 !important; color: #fff; font-size:11px; }
.tooltip-theme .tooltipster-content { font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; padding: 2px 5px; }
.tooltip-theme2 { background: #222 !important; color: #fff; font-size:11px; }
.tooltip-theme2 .tooltipster-content { font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; padding: 2px 5px; }


/* ---------------------------------------------------------
	/   HEADER   /
--------------------------------------------------------- */
.header { margin:25px 0 0 0; height:auto; }
.logo-link { float:left; margin:10px 0 0 0; }
.logo-link img { max-height:65px; width:auto; }


/* ---------------------------------------------------------
	/   MENU   /
--------------------------------------------------------- */
.menu-bg { background:url(images/bg-menu.png) repeat-x; height:85px; display:block; position:relative; }
.menu-topo { float:right; margin:10px -15px 0 0; padding:0; text-transform:uppercase; font-size:15px; }
.menu-topo li { list-style:none; margin:0; padding:0; float:left; }
.menu-topo li a { display: block; padding:22px 15px 30px 15px; color:#222; background:url(images/hover-menu.png) no-repeat center -15px; -webkit-animation: all 0.6s ease-in-out; -moz-animation: all 0.6s ease-in-out; -ms-animation: all 0.6s ease-in-out; -o-animation: all 0.6s ease-in-out; position:relative; z-index:20; }
.menu-topo li a:hover, .menu-topo li.sfHover a { color:#bb0000; background:url(images/hover-menu.png) no-repeat center bottom; -webkit-animation: all 0.8s ease-in-out; -moz-animation: all 0.8s ease-in-out; -ms-animation: all 0.8s ease-in-out; -o-animation: all 0.8s ease-in-out; }
.menu-topo li ul { position:absolute; background:#f7f7f7; width:180px; font-size:13px; display:block; margin-top:-2px; margin-left:5px; z-index:10; display:none; }
.menu-topo li ul li { float:none; }
.menu-topo li ul li a { padding:10px 10px; background:none !important; color:#888888 !important; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; border-bottom:1px solid #dcdcdc; }
.menu-topo li ul li a:hover, .menu-topo li ul li.sfHover a, .menu-topo li ul li.sfHover ul li a:hover { background-color:#bb0000 !important; color:#fff !important; }
.menu-topo li ul li ul { left:175px; margin-top:-39px; display:none; }
.menu-topo li ul li.sfHover ul li a { background:none !important; color:#888888 !important; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; border-bottom:1px solid #dcdcdc; }
.sf-sub-indicator { display:none; }


/* ---------------------------------------------------------
	/   SLOGAN   /
--------------------------------------------------------- */
.slogan { text-align:center; display:block; position:relative; margin:50px 0 50px 0; overflow:hidden; }
.slogan .big { font-size:30px; display:block; }
.slogan .small { font-size:18px; display:block; }


/* ---------------------------------------------------------
	/   SLIDER   /
--------------------------------------------------------- */
.slider { width:940px; display:block; position:relative; overflow:hidden; height:414px; background:url(images/fundo-slider.png) no-repeat top center; margin:auto; margin-top:-30px; z-index:2; }
.slider .flexslider { margin: 31px 0 50px !important; background: url(images/loading.gif) no-repeat center center; border: none !important; position: relative; box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; ) -o-box-shadow:none !important;
zoom: 1; }
.slider .flexslider .slides { background:#fff url(images/loading.gif) no-repeat center center; height:340px;  }
.slider .flex-control-nav { bottom:-30px !important; text-align:left !important; display:none !important; }
.slider .flex-prev { background:#bb0000 url(images/anterior-slider.png) no-repeat !important; height:98px !important; width:31px !important; display:block !important; left:0 !important; top:40% !important; }
.slider .flex-next { background:#bb0000 url(images/proximo-slider.png) no-repeat !important; height:98px !important; width:31px !important; display:block !important; right:0 !important; top:40% !important; }
.imagem_slider { height:340px; width:940px; }

/* ----  CAPTION  ---- */
.caption { position:absolute; }
.caption-left-bottom { position:absolute; left:50px; bottom:50px; }
.caption-left-top { position:absolute; left:50px; top:50px; }
.caption-right-top { position:absolute; right:50px; top:50px; }
.caption-right-bottom { position:absolute; bottom:50px; right:50px; }
.caption-preto { background:url(images/caption.png); font-size:24px; color:#fff; position:relative; padding:10px 20px; float:left; display:block; }
.caption-branco { position:relative; padding:10px 20px; font-size:14px; background:url(images/sub-caption.png); overflow:hidden; color:#222; float: left; }
.caption-branco a { color:#bb0000; }
.caption-branco a:hover { color:#222; }


/* ---------------------------------------------------------
	/   FUNDO   /
--------------------------------------------------------- */
.fundo { background:#fff url(images/line-bg.png) repeat-x top; display:block; position:relative; padding:25px 0 0 0; z-index:0; overflow:hidden; }
.caption-mensagem-preto { background:url(images/caption.png); overflow:hidden; padding:10px 20px 20px 20px; color:#f5f5f5; position:relative; }
.caption-mensagem-branco { background:url(images/sub-caption.png); overflow:hidden; padding:10px 20px 20px 20px; position:relative; }


/* ---------------------------------------------------------
	/   DIVISAS   /
--------------------------------------------------------- */
.esquerda { float:left; width:700px; display:block; position:relative; }
.direita { float:right; width:220px; display:block; position:relative; }
.direita img, .esquerda img { max-width:100%; height:auto; }


/* ---------------------------------------------------------
	/   BUSCA   /
--------------------------------------------------------- */
.busca { float:right; }
.busca .pesquisa { background:#bb0000; border-top:1px solid #999999; border-left:1px solid #999999; -webkit-border-radius:100px; -moz-border-radius:100px; -ms-border-radius:100px; -o-border-radius:100px; border-radius:100px; color:#fff; font-size:12px; font-weight:bold; height:30px; width:200px; padding:0 10px 0 30px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; float:left; }
.busca .pesquisa:focus { background:#6d6e71; }
.busca .button { float:left; margin:8px 0 0 -190px; background:url(images/buscar.png) no-repeat; height:14px; width:14px; text-indent:-99999px; cursor:pointer; }


/* ---------------------------------------------------------
	/   ARTIGOS   /
--------------------------------------------------------- */
.lista-filmes { list-style:none; margin:0; padding:0; background: url(images/bg-list.png) 0 0px; overflow:hidden; position:relative; display:block; }
.lista-filmes li { list-style:none; margin:0 20px 30px 0; padding:0; float:left; width:160px; height:290px; overflow:hidden; background:#f0f0f0; border-bottom:2px solid #dbdbdb; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; }
.lista-filmes li.margem-list { margin:0 -20px 0 0; }
.lista-filmes li:hover { border-bottom:2px solid #bb0000; }
.lista-filmes li .titulo-box { background:#bb0000; color:#fff; font-size:13px; text-align:center; padding:5px; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; height:18px; overflow:hidden; }
.lista-filmes li:hover .titulo-box { background:#222; }
.lista-filmes li .titulo-box-link { font-size:13px; color:#fff; }
.lista-filmes li .titulo-box-link a { color:#fff; }
.lista-filmes li .capa { height:230px; width:160px; display:block; position: relative; overflow:hidden; }
.lista-filmes li .absolute-capa { background:url(images/absolute-play.png) center center; height:230px; width:160px; opacity:0; filter:alpha(opacity=0); position: absolute; z-index:99; display:block; }
.lista-filmes li:hover .absolute-capa { opacity:1; filter:alpha(opacity=100); }
.lista-filmes li img { height:230px; width:160px; display:block; }
.lista-filmes .views { font-family:Arial, Helvetica, sans-serif; color:#222; font-size:11px; float:left; margin:9px 0px 5px 10px; }
.lista-filmes .balao-comentario a { background:url(images/balao-comentario.png) no-repeat left top; float:right; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#222; text-align:center; width:25px; height:20px; display:block; position:relative; padding:1px 0 0 0; margin:8px 10px 5px 0; }
.lista-filmes li:hover .balao-comentario a { background-image:url(images/balao-comentario-hover.png); color:#fff; }


/* ---------------------------------------------------------
	/   PAGENAVI   /
--------------------------------------------------------- */
.navigation { padding:0 0 30px 0; text-align:center; }
.navigation .pages { display:inline-block; overflow:hidden; padding:6px 12px; color:#222; font-weight:normal; font-size:14px; }
.navigation .current, .navigation a:hover { background:#bb0000; display:inline-block; overflow:hidden; padding:5px 10px; color:#fff; font-size:14px; }
.navigation a { background:#e4e4e4; display:inline-block; overflow:hidden; padding:5px 10px; color:#222; font-size:14px; }
.navigation a.next, .navigation a.prev { padding:0px 10px 4px 10px; font-size:19px; }


/* ---------------------------------------------------------
	/   SIDEBAR   /
--------------------------------------------------------- */
.widgettitle { border-bottom:1px solid #e7e7e7; padding:0 0 5px 0; line-height:normal; }
.widgettitle span { border-bottom:2px solid #bb0000; padding:0 0 5px 0; }
.sidctn { padding:10px 0 0 0; font-size:13px; line-height:22px; position:relative; display:block; }
.sidctn a { color:#222; }
.sidctn a:hover { color:#bb0000; }
.sidctn ul { list-style:none; margin:0; padding:0; }
.sidctn ul li { list-style:none; margin:0; padding:0 0 0 10px; background:url(images/seta-lista.png) no-repeat 0 9px; }
.sidctn select { border:1px solid #dfdfdf; padding:5px; width:100%; }
.sidft { margin:0 0 20px 0; }

/* ----  CALENDARIO  ---- */
widget_calendar { float: left; margin:0; }
#calendar_wrap { width:220px; position:relative; display:block; overflow:hidden; }
#wp-calendar { width: 100%; }
#wp-calendar caption { text-align: right; color: #222; font-size: 12px; margin-bottom: 15px; text-transform:uppercase; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:4px; }
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }


/* ---------------------------------------------------------
	/   TOP 10 WIDGET   /
--------------------------------------------------------- */
.topfilmes-slider ul li { padding:0; background:none; width:160px !important; background:#f0f0f0 !important; line-height:normal; display:block; }
.num-top { font-size:22px; color:#fff; background:#bb0000; height:35px; width:35px; text-align:center; padding:2px 0; margin-top:35px; margin-left:8px; position:absolute; display:block; z-index:999; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.topfilmes-slider { width:160px !important; display:block !important; position:relative !important; height:290px !important; margin:0 auto !important; z-index:2 !important; background: #fff; border: none !important; box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; -o-box-shadow:none !important; zoom: 1; }
.topfilmes-slider .flex-control-nav { bottom:-30px !important; text-align:left !important; display:none !important; }
.topfilmes-slider .flex-direction-nav { background:red; overflow:hidden; }
.topfilmes-slider .flex-direction-nav .flex-prev { background: url(images/anterior-slider2.png) no-repeat !important; height: 20px !important; width: 20px !important; display: block !important; left: -30px !important; top: 145px !important; opacity: 1 !important; }
.topfilmes-slider .flex-direction-nav .flex-next { background:url(images/proximo-slider2.png) no-repeat !important; height:20px !important; width:20px !important; display:block !important; right:-30px !important; top:145px !important; opacity:1 !important; }
.topfilmes-slider .flex-direction-nav .flex-prev:hover, .topfilmes-slider .flex-direction-nav .flex-next:hover { opacity:0.8 !important; }


/* ---------------------------------------------------------
	/   PUBLICIDADE RODAPE   /
--------------------------------------------------------- */
.publicidade-rodape { height:90px; width:728px; margin:auto; display:block; position:relative; padding:10px; background:#f1f1f1; margin-top:10px; margin-bottom:40px; }


/* ---------------------------------------------------------
	/   FOOTER   /
--------------------------------------------------------- */
.line-bg-footer { background:url(images/line-bg-rodape.png) repeat-x; height:15px; display:block; position:relative; }
footer { padding:35px 0; background:url(images/pattern-rodape.png); display:block; position:relative; overflow:hidden; }
.coll-13 { float:left; width:300px; }
.coll-13 .widgettitle { color:#fff; border:none !important; margin:0 0 -5px 0; }
.coll-13 .widgettitle span { border:none; padding:0; }
.coll-13 .sidctn { color:#bfbfbf; }
.coll-13 .sidctn img {
	max-width:100%;
	height:auto;
}
.coll-13 .sidctn a { color:#fff; }
.coll-13 .sidctn a:hover { color:#bb0000; }
.coll-13 .sidctn ul li { border-bottom:1px solid #343434; padding:0 0 3px 10px; margin:0 0 3px 0; }


/* ---------------------------------------------------------
	/   REDES   /
--------------------------------------------------------- */
.redes-lista { list-style:none; margin:0; padding:0; text-align:center; overflow:hidden; }
.sidebar-rodape .redes-lista { margin:10px 0 0 0; }
.redes-lista li { list-style:none; margin:0 10px 0 0; padding:0; float:left; height:33px; width:34px; }
.redes { display:block; position:relative; background:url(images/redes.png) no-repeat left top; }
.redes:hover { background-image:url(images/redes-preto.png); }
.sidebar-rodape .redes:hover { display:block; position:relative; background-image:url(images/redes-branco.png); }
.facebook { background-position: 0 0; width: 34px; height: 33px; }
.feed { background-position: -39px 0; width: 34px; height: 33px; }
.gplus { background-position: -78px 0; width: 34px; height: 33px; }
.twitter { background-position: -117px 0; width: 34px; height: 33px; }
.youtube { background-position: -156px 0; width: 34px; height: 33px; }


/* ---------------------------------------------------------
	/   COPY   /
--------------------------------------------------------- */
.copy { font-size:12px; background:#dfdfdf; overflow:hidden; }
.copy a { color:#222; }


/* ---------------------------------------------------------
	/   BREADCRUMB   /
--------------------------------------------------------- */
.breadcrumb { font-size:13px; margin:0 0 15px 0; }
.breadcrumb a { color:#bb0000; }
.breadcrumb a:hover { color:#222; }


/* ---------------------------------------------------------
	/   SINGLE   /
--------------------------------------------------------- */
.title-single { text-align:left; text-transform:uppercase; display:block; position:relative; float:left; width:700px; }

/* ----  BUSCA SINGLE  ---- */
.busca-single { float:right; }

/* ----  LINKS SERVIDORES  ---- */
.links-servidores { list-style:none; margin:10px -15px 5px 0; padding:0; overflow:hidden; display:block; position:relative; }
.links-servidores li { list-style:none; margin:0 12px 12px 0; padding:0; background:#bb0000; font-size:13px; color:#fff; text-transform:uppercase; width:166px; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; float:left; padding:20px 15px; float:left; cursor:pointer; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; }
.links-servidores li:hover, .links-servidores li.active { background:#5d5d5d; }
.links-servidores li span .arrow-assistir { background:url(images/seta-direita.png) no-repeat center center; height:14px; width:14px; display:block; position:relative; float:right; te margin:3px 0 0 0;
-webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; }
.links-servidores li:hover span .arrow-assistir, .links-servidores li.active span .arrow-assistir { background:url(images/seta-cima.png) no-repeat center center; }
.links-servidores li a, .links-servidores li a:hover { color:#fff; }
.download-lista li:hover span .arrow-assistir { background:url(images/seta-baixo.png) no-repeat center center; }
.download-lista li { padding:0; }
.download-lista li a { padding:20px 15px; display:block; position:relative; }

/* ----  EMBEDS  ---- */
.embeds-servidores > div { display:none; }
.embeds-video { position:relative; z-index:999; padding:5px; background:#5d5d5d; overflow:hidden; margin:0 0 10px 0; width:690px; height:450px; }
.embeds-video iframe, .embeds-video embed { width:690px; height:450px; display:block; position:relative; }
.assistir-title { padding:0 0 0 38px; font-size:20px; font-weight:bold; text-transform:uppercase; }
.play-ico { background:url(images/assistir-online.png) no-repeat 0 3px; }
.down-ico { background:url(images/baixar-filme.png) no-repeat 0 3px; }
.trailer-ico { background:url(images/trailer.png) no-repeat 0 3px; }
.relacionados-ico { background:url(images/relacionados.png) no-repeat 0 2px; }


/* ---------------------------------------------------------
	/   CONTENT   /
--------------------------------------------------------- */
.content { font-size:13px; line-height:20px; }
.content a { color:#bb0000; }
.content a:hover { color:#222; }
.content p { margin:0 0 1em 0; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { font-weight:normal; font-variant:normal; white-space:normal; color:#898989; margin-bottom:15px; font-family:'Open Sans', Arial, Verdana, serif; }
.content h1 { font-family: 'Open Sans', Arial, sans-serif; font-size: 34px; color: #444444; font-weight: 400; line-height: 36px; }
.content h2 { font-family: 'Open Sans', Arial, sans-serif; font-size:26px; color: #444444; font-weight: 400; line-height:34px; }
.content h3 { font-family: 'Open Sans', Arial, sans-serif; font-size:24px; color: #444444; font-weight: 400; line-height:32px; }
.content h4 { font-family: 'Open Sans', Arial, sans-serif; font-size:18px; color: #444444; font-weight: 400; line-height:24px; }
.content h5 { font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color: #444444; font-weight: 400; line-height:20px; }
.content h6 { font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color: #444444; font-weight: 400; line-height:17px; }

/* ----  INFO VIDEO  ---- */
.tempo-video { background:url(images/tempo.png) no-repeat left; padding:0 0 0 20px; }
.lancamento-video { background:url(images/lancamento.png) no-repeat left; padding:0 0 0 20px; }
.visitas-video { background:url(images/visitas.png) no-repeat left; padding:0 0 0 20px; }
.categoria-video { background:url(images/categoria.png) no-repeat left; padding:0 0 0 20px; }
.audio-video { background:url(images/audio.png) no-repeat left; padding:0 0 0 20px; }
.tag-video { background:url(images/tag.png) no-repeat left; padding:0 0 0 20px; }
.info-video { font-size:13px; float:left; margin:0 30px 0 0; }
.info-video a { color:#6d6d6d; }
.info-video a:hover { color:#bb0000; }

/* ----  CAPA SINGLE  ---- */
.capa-single { border-top:10px solid #bb0000; border-bottom:10px solid #bb0000; height:230px; width:160px; position:relative; overflow:hidden; float:left; margin-right:12px; }
.capa-single img { height:230px; width:160px; }

/* ----  CONTENT SINGLE  ---- */
.content-single { overflow:hidden; }
.content-single img { max-width:525px; height:auto; }
.coll-relacionados-trailer { width:340px; float:left; position:relative; display:block; }

/* ----  CONTENT BLOG  ---- */
.content-blog { float:none; width:700px; }
.content-blog img { max-width:700px; height:auto; }


/* ---------------------------------------------------------
	/   EMBED VIDEO   /
--------------------------------------------------------- */
.embed-trailer, .embed-trailer embed, .embed-trailer iframe { height:290px; width:340px; display:block; overflow:hidden; }


/* ---------------------------------------------------------
	/   RELACIONADOS 1,2   /
--------------------------------------------------------- */

/* ----  SLIDER  ---- */
.slider-relacionados, .slider-relacionados-full { background:none; box-shadow:none; padding:0; border:none; margin:0; }
.slider-relacionados-full { width:700px; margin:auto; }
.slider-relacionados-full .flex-direction-nav .flex-prev { opacity:1; top:-20px; left:650px; background:url(images/anterior-slider2.png) no-repeat; height:20px; width:20px; display:block; }
.slider-relacionados-full .flex-direction-nav .flex-next { opacity:1; top:-20px; right:0px; background:url(images/proximo-slider2.png) no-repeat; height:20px; width:20px; display:block; }
.slider-relacionados .flex-direction-nav .flex-prev { opacity:1; top:-20px; left:295px; background:url(images/anterior-slider2.png) no-repeat; height:20px; width:20px; display:block; }
.slider-relacionados .flex-direction-nav .flex-next { opacity:1; top:-20px; right:0px; background:url(images/proximo-slider2.png) no-repeat; height:20px; width:20px; display:block; }
.relacionados-icon { background:#bb0000 url(images/relacionados.png) no-repeat; height:25px; width:30px; display:block; position:relative; float:left; margin:5px 10px 0 0; }
.comentario-icon { background:#bb0000 url(images/comentario.png) no-repeat; width:32px; height:23px; display:block; position:relative; float:left; margin:5px 10px 0 0; }


/* ---------------------------------------------------------
	/   COMENTÁRIOS   /
--------------------------------------------------------- */
.comentarios { overflow:hidden; padding:0px 0px 0px 0px; margin:20px 0 30px 0; text-transform:none; }
.comentarios a { color:#bb0000; }
.comentarios a:hover { color:#222; }
.comentarios h3 { margin:0 0 10px 0; padding:0; font-size:20px; font-weight:normal; color:#222; }
ol.commentlist { list-style:none; margin:0; padding:0; }
ol.commentlist li { list-style:none; margin:0; padding:0; }
ol.commentlist li.comment ul.children li, ol.commentlist li.comment ul li { margin:0; padding:0 0 0 74px; background:url(images/resposta.png) no-repeat 35px 0px; }
ol.commentlist li .avatar-comentario { float:left; margin:0 10px 0 0; height:74px; width:74px; display:block; position:relative; }
ol.commentlist li .comentario-campo { padding:0px; overflow:hidden; margin:0 0 20px 0; }
ol.commentlist li .comentario-nome { overflow:hidden; }
ol.commentlist li .nome-comentarista { font-size:14px; font-style:italic; color:#939598; padding:0; }
ol.commentlist li .nome-comentarista strong { color:#58595b; }
ol.commentlist li .nome-comentarista a { text-decoration:underline; color:#58595b; }
ol.commentlist li .nome-comentarista a:hover { color:#222; }
ol.commentlist li .data-comentario { font-size:10px; color:#939598; font-weight:normal; font-style:italic; }
ol.commentlist li .texto-comentario { margin:0; padding:10px 0px; color:#58595b; line-height:18px; font-size:12px; }
ol.commentlist li .texto-comentario p { margin:0; padding:0; }
ol.commentlist li .texto-comentario a { text-decoration:none; color: #bb0000; }
ol.commentlist li .texto-comentario a:hover { color:#555; }
ol.commentlist li .reply-link { font-size:11px; font-family:Verdana, Geneva, sans-serif; float:none; display:block; float:left; position:relative; text-transform:none; margin:10px 0 0 0; }
ol.commentlist li .reply-link a { display:block; padding:3px 10px; color:#fff; background:#bb0000; }
ol.commentlist li .reply-link a:hover { background:#222; color:#fff; }
/*forms*/
.forms { width:700px; }
.forms .cancel-comment-reply { margin:0 0 8px 0; clear:both; display:block; position:relative; overflow:hidden; }
.forms .cancel-comment-reply a { background:#bb0000; color:#fff; padding:5px 10px; float:left; }
.forms .cancel-comment-reply a:hover { background:#222; }
.inputs-comentario { position:relative; width:700px; display:block; }
.inputs-comentario .input-small { width:30%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; float:left; display:block; position:relative; margin-left:5px; margin-right:25px; }
.inputs-comentario .input-small span { display:block; margin:0 0 10px 0; position:relative; }
.inputs-comentario .input-small #author, .input-small #email, .input-small #url { border:1px solid #edebeb; box-shadow: 0px 0px 0px 5px #f7f7f7; padding:5px; width:95%; font-size:12px; }
.caixa-mensagem { display:block; position:relative; margin:10px 0 0 0; }
.caixa-mensagem span { display:block; margin:0 0 10px 0; position:relative; }
.caixa-mensagem #comment { border:1px solid #edebeb; box-shadow: 0px 0px 0px 5px #f7f7f7; padding:5px; width:690px; margin:0 0 0 5px; font-size:12px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; height:150px; resize:vertical; }
.inputs-comentario .input-small #author:focus, .input-small #email:focus, .input-small #url:focus, .caixa-mensagem #comment:focus { border:1px solid #a5a5a5; }
#submit { background:#bb0000; color:#fff; text-transform:uppercase; padding:5px 10px; display:block; position:relative; float:right; cursor:pointer; clear:both; margin:10px 0 0 0; }
#submit:hover { background:#222; }

/* ----  NAVI  ---- */
.navi-comment { font-size:13px; overflow:hidden; display:block; position:relative; width:700px; }
.navi-comment a { display:block; padding:0; margin:10px 0; }


/* ---------------------------------------------------------
	/   PAGE   /
--------------------------------------------------------- */
.full-width { width:940px; position:relative; display:block; }
.content-page { width:940px; margin:0 0 20px 0; }


/* ---------------------------------------------------------
	/   RESULTADOS BUSCA  /
--------------------------------------------------------- */
.lista-search { list-style:none; margin:0; padding:0; }
.lista-search li { list-style:none; padding:15px; overflow:hidden; display:block; background: none; border-bottom:1px solid #e7e7e7; }
.lista-search li:hover { background:#f5f5f5; }
.tipo-icon { float:left; display:block; text-align:center; display:block; position:relative; background:#eee; background-repeat:no-repeat; background-position: 0 0; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; height:64px; width:64px; }
.lista-search li:hover .tipo-icon { background-color:#bb0000; background-position:0 -64px; }
.icon-blog { background-image:url(images/pencil.png); }
.icon-video { background-image:url(images/video.png); }
.info-resultado { width:590px; float:right; }
.nome-resultado { font-size:22px; margin:0 0 10px 0; }
.nome-resultado a { color:#222; }
.nome-resultado a:hover { color:#bb0000; }
.resumo-resultado { font-size:13px; }
.capa-search { float:left; padding:5px 0; width:160px; height:230px; }


/* ---------------------------------------------------------
	/   CATEGORIA   /
--------------------------------------------------------- */
.descricao-categoria { float:left; font-size:14px; font-style:italic; text-transform:none; padding:10px 0 10px 15px; margin:0 0 0 15px; color:#a2a2a2; border-left:1px solid #dfdfdf; }


/* ---------------------------------------------------------
	/   SHORTCODES   /
--------------------------------------------------------- */


/* ----  BOTÕES  ---- */
.button_link { padding:6px 10px; text-transform:uppercase; color:#fff !important; margin:0 0 5px 0; display:inline-block; *display:inline;
zoom:1; }
.button_link:hover { background:#222 !important; }
.btn_big { padding:10px 20px; }
.btn_small { padding:3px 8px; }

/* ----  COLUNAS  ---- */
.um_meio { width:48%; }
.um_terco { width:30.66%; }
.um_quarto { width:22%; }
.um_quinto { width:16.8%; }
.um_sexto { width:13.33%; }
.dois_terco { width:65.33%; }
.dois_quinto { width:37.6%; }
.tres_quarto { width:74%; }
.tres_quinto { width:58.4%; }
.quatro_quinto { width:67.2%; }
.cinco_sexto { width:82.67%; }
.um_meio, .um_terco, .dois_terco, .um_quarto, .tres_quarto, .um_quinto, .dois_quinto, .tres_quinto, .quatro_quinto, .um_sexto, .cinco_sexto { position:relative; margin-right:4%; float:left; }
.last_grid { margin-right:0 !important; clear:right; }

/* ----  BOXS  ---- */
.box_mensagem { padding:30px 20px 30px 80px; overflow:hidden; position:relative; display:block; margin:10px 0; background-position:20px 15px !important; }
.sucess_box { border:1px solid #c5e3a5; color:#7b995c; background: #e9ffd2 url(inc/plugins/shortcodes/assets/ok.png) no-repeat 10px 5px; }
.sucess_box a { font-weight:bold; color:#7b995c; }
.plus_box { border:1px solid #8fad3d; color:#596c56; background: #eef4d4 url(inc/plugins/shortcodes/assets/add.png) no-repeat 10px 5px; }
.plus_box a { font-weight:bold; color:#596c56; }
.alerta_box { border:1px solid #ddcc9d; color:#596c56; background: #fffcc8 url(inc/plugins/shortcodes/assets/alert.png) no-repeat 10px 5px; }
.alerta_box a { font-weight:bold; color:#8a864c; }
.lupa_box { border:1px solid #dfdfdf; color:#596c56; background: #f5f5f5 url(inc/plugins/shortcodes/assets/lupa.png) no-repeat 10px 5px; }
.lupa_box a { font-weight:bold; color:#596c56; }
.cancelar_box { border:1px solid #ff9d9d; color:#923434; background: #ffc6c6 url(inc/plugins/shortcodes/assets/cancel.png) no-repeat 10px 5px; }
.cancelar_box a { font-weight:bold; color:#923434; }
.chat_box { border:1px solid #b3d2de; color:#0088bb; background: #d4eff9 url(inc/plugins/shortcodes/assets/cmt.png) no-repeat 10px 5px; }
.chat_box a { font-weight:bold; color:#0088bb; }
.ideia_box { border:1px solid #cbccaa; color:#858923; background: #e9e9de url(inc/plugins/shortcodes/assets/idea.png) no-repeat 10px 5px; }
.ideia_box a { font-weight:bold; color:#858923; }
.ajuda_box { border:1px solid #54acea; color:#2b5e82; background: #64bdfb url(inc/plugins/shortcodes/assets/ajuda.png) no-repeat 10px 5px; }
.ajuda_box a { font-weight:bold; color:#2b5e82; }

/* ----  LIGHT  ---- */
.light_text { color:#fff; }

/* ----  LISTA  ---- */
.lista_personalizada ul { list-style:none; margin:10px 0 10px 0; padding:0; overflow:hidden; position:relative; display:block; }
.lista_personalizada ul li { list-style:none; margin:0; padding:5px 0 5px 25px; }
.ideia_lista ul li { background:url(inc/plugins/shortcodes/assets/idealist.png) no-repeat 0 6px; }
.estrela_lista ul li { background:url(inc/plugins/shortcodes/assets/starlist.png) no-repeat 0 6px; }
.cancelar_lista ul li { background:url(inc/plugins/shortcodes/assets/crosslist.png) no-repeat 0 7px; }
.tag_lista ul li { background:url(inc/plugins/shortcodes/assets/tag.png) no-repeat 0 6px; }
.check_lista ul li { background:url(inc/plugins/shortcodes/assets/checklist.png) no-repeat 0 6px; }
.new_lista ul li { background:url(inc/plugins/shortcodes/assets/newlist.png) no-repeat 0 6px; }
.chave_lista ul li { background:url(inc/plugins/shortcodes/assets/keylist.png) no-repeat 0 12px; }
.seta_lista ul li { background:url(inc/plugins/shortcodes/assets/arrowlist.png) no-repeat 0 13px; }
.bola_lista ul li { background:url(inc/plugins/shortcodes/assets/blacklist.png) no-repeat 0 6px; }


/* ---------------------------------------------------------
	/   TABS   /
--------------------------------------------------------- */
ul.tabs { margin: 0; padding: 0; float: left; list-style: none; height: 32px; border-bottom: 1px solid #ebebeb; border-left: 1px solid #ebebeb; width: 100%; }
ul.tabs li { float: left; margin: 0; padding: 0; height: 31px; line-height: 31px; border: 1px solid #ebebeb; border-left: none; margin-bottom: -1px; background: #f6f6f6; overflow: hidden; position: relative; }
ul.tabs li a { color: #000; display: block; padding: 0 20px; }
ul.tabs li a:hover { background: #fbfbfb; }
html ul.tabs li.active, html ul.tabs li.active a:hover { background: #fff; border-bottom: 1px solid #fff; }
.tab_container { border: 1px solid #ebebeb; border-top: none; clear: both; float: left; width: 100%; background: #fff; }
.tab_content { padding: 20px; padding-bottom: 0 !important; display:none; background: #fff; }
.tab_content p img { max-width:100%; height:auto; }
h3.toggler { clear: both; margin:10px 0 10px 0; padding: 0 0 0 25px; float: left; }
.toggle_container { margin: 0; padding: 0; clear: both; overflow:hidden; display:none; }
.toggle_container .block { padding: 0 25px; display:table; background:#f1f1f1; }
.toggle_container .block p { padding: 5px 0; margin: 5px 0; }




#menuResponsive {
    display: none;
    background: #444;
    color: #FFF;
    padding: 5px 10px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 24px;
}
.slider, .esquerda, .slider-relacionados-full, .forms, .caixa-mensagem #comment {
	max-width:100%;
}

@media screen and (max-width:960px){
	.menu-topo {
		margin-right:0px;
	}
	header .margem {
		padding:0;	
	}
    .margem {
        max-width: 100%;
        box-sizing: border-box;
		    padding: 0px 20px;
    }
	.esquerda {
		box-sizing:border-box;
		width: calc(100% - 250px);
	}
	.lista-filmes li {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0px 20px 30px 0px !important;
	}
	
	.copy {
		text-align:center;
	}
	.copy .coll-13 {
		float:none;
		display:block;
		width:100%;
		overflow:hidden;
		margin:0 !important;
	}
	.copy .coll-13 span {
		float: none !important;
		display: block;
		margin: 15px 0px 7px 0 !important;
	}
	.copy .coll-13 span img {
		max-width:100%;
	}
}
@media screen and (max-width:947px){
	.breadcrumb > span {
		float:none;
		clear:both;
	}
		.capa-single {
		float: none;
		margin: 0px auto 20px;
	}
	
	.embeds-video {
		max-width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;
		margin:0;
		margin-bottom:20px;
	}
	.embeds-video iframe, .embeds-video embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width:800px){
	.esquerda {
		width:100%;
	}
	.direita {
		float:none;
		clear:both;
		margin: 0px auto;
	}
	
}
@media screen and (max-width:650px){
    .menu-topo {
        float: none;
        clear: both;
    }
    #menuResponsive {
        display: inline-block;
    }
    nav {
		position: relative;
		z-index: 99;
		clear: both;
		width: 100%;
		display:none;
	}
    nav .menu-topo {
		float: none;
		overflow: hidden;
		background: #FFF;
		margin: 0;
		width: 100%;
	}
    nav .menu-topo li {
        float: none;
    }
    nav .menu-topo li a {
        box-sizing: border-box;
        padding: 10px 15px;
    }
	.menu-topo li a:hover, .menu-topo li.sfHover a {
		background-position:center;
	}
	
	.caption-left-bottom {
		width: calc(100% - 100px);
	}
	.caption-preto {
		font-size:17px;
	}
	.caption-branco {
		font-size:13px;
	}
}
@media screen and (max-width:560px){
	.busca {
		float:none;
		margin:15px 0px;
	}
	.heading {
		float:none;
	}
}
@media screen and (max-width:420px){
	.slogan .big {
		font-size: 20px;
	}
	.slogan .small {
		font-size: 14px;
	}
	.lista-filmes li {
		width: 47.5%;
		float: left;
		margin-right: 4% !important;
		height: 100%;
	}
	.lista-filmes li:nth-child(even) {
		margin-right:0 !important;
	}
	.lista-filmes li .titulo-box {
		height:38px;
	}
	.lista-filmes li .capa {
		height: calc(100% - 105px);
		max-width: 100%;
	}
	.lista-filmes li .absolute-capa {
		height: 100%;
	}
	.lista-filmes li img {
		height: auto;
	}
}
@media screen and (max-width:400px){
	.logo-link img {
		width: calc(100% - 85px);
		max-width: 100%;
		margin-left: 20px;
	}
}