@charset "UTF-8";
/* CSS Document */

.contenedor_header{ background: url(/ser/iconos/v1.x/v1.0/varios/bg_cabecera.jpg) repeat-x; /*padding-bottom: 1px;*/}
.contenedor_header.fixed{position:fixed;  top: 0;width: 100%; z-index: 8000;}
.contenedor_header.nofixed{position:relative;}
.contenedor_header .header{width:115.3em; margin:0 auto;height:6em;border-top:7px solid #0c0c0c;background-color:#1b1b1b; position:relative;}
.contenedor_header .logo{background:url(/ser/iconos/v1.x/v1.0/logos/logo_ser_cabecera.png) no-repeat 2.5em 0.8em; width:14.4em; height:6em; text-indent:-9999px; float:left;}
.contenedor_header .logo a{ width:14.4em; height:6em; display:block;}
.contenedor_header .nav {float:left;}
.contenedor_header .nav.submenu{display:none;}
.contenedor_header .nav li{display:inline;float:left;transition:all .3s ease-out;/* overflow:hidden; */max-width: 15em;}

.contenedor_header .nav a {font:1.4em/1.3em 'proximanova', Arial, Helvetica, sans-serif; font-weight:300; color:#fff; padding:1.5em 1.5em 0 1.5em; background-color:#323232; border-left:1px solid #1b1b1b; height:2.8em; display:block;}
.contenedor_header .nav li a:hover {background-color:#009fe2}
.contenedor_header .nav.dos li a:hover {background-color:#c2e132; color:#000;}
.contenedor_header .nav.dos li.ultima_hora a:hover{background-color:#E21011; color:#fff; }
.contenedor_header .nav.dos li#menuUltimaHora a:hover{background-color:#E21011; color:#fff; }
.contenedor_header .nav.dos li.buscador a:hover,
.contenedor_header .nav.dos li.buscador.activado a {background-color:#FDBE00; color:#000; background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_lupa_negra.png)}
.contenedor_header .nav li.activado a,
.contenedor_header .nav.dos li.activado a {background-color:#e7e7e3; color: #000;}


.contenedor_header .nav.dos{float:right; border-right:1px solid #414141;}
.contenedor_header .nav.dos a{border-left:1px solid #414141;background-color: #1b1b1b; font:1.6em/1.2em 'proximanova', Arial, Helvetica, sans-serif; padding:1.2em .9em 0; height:2.55em; white-space:nowrap;}
.contenedor_header .nav .menu a,
.contenedor_header .nav.dos li.menu.activado a {background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_menu.png); background-repeat:no-repeat; background-position:center center; width:4em; text-indent:-9999px; padding:0; height:3.75em;}
.contenedor_header .nav.dos li.menu.activado a{background-color:#e7e7e3; background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_menu_negro.png)}
.contenedor_header .nav.dos li.menu a:hover{background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_menu_negro.png);background-color:#e7e7e3;}

.contenedor_header .nav .buscador {position:relative;}
.contenedor_header .nav .buscador a{background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_lupa.png); background-repeat:no-repeat; background-position:center center; width:4em; text-indent:-9999px; padding:0; height:3.75em;}
.contenedor_header .nav .buscador a.buscar{background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_lupa_negra.png); }
.contenedor_header .nav .usuario {position:relative;}
.contenedor_header .nav .usuario a{background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_usuario.png); background-repeat:no-repeat; background-position:center center; width:4em; text-indent:-9999px; padding:0; height:3.75em; }
.contenedor_header .nav .usuario a.logado {text-indent:0; }
.contenedor_header .nav .usuario img {width:3em; height:3em; display:block; border-radius:50%; position:absolute; top:0.5em; left:0.8em; }
.contenedor_header .nav li.usuario.activado a,
.contenedor_header .nav li.usuario a:hover {background-image:url(/ser/iconos/v1.x/v1.0/varios/ico_usuario_negro.png); background-color:#fdbe00;}

.capa_usuario{position: absolute; top: 6em; left: -6em; background: #fff; width: 13.8em; border: 1px solid #ccc; z-index:800;padding: 2em 1.7em 1em 2.3em; display:none;/* z-index:  1000000; */}
.capa_usuario .triangulo {background: url(/ser/iconos/v1.x/v1.0/varios/triangulo_top_blanco.png) no-repeat 0 0;display: block;width: 3em;position: absolute;left: 50%; top: -12px; height: 1.3em; margin-left:-1em;}
.contenedor_header .nav .usuario .capa_usuario li {display:block; float:none; margin-bottom:0.5em; font-size:1.5em;}
.contenedor_header .nav .usuario .capa_usuario a {display: inline; padding: 0 0.2em; margin: 0 0.2em; height:auto; width:auto; color:#000; font-size:1em; background:none; text-indent:0;}
.contenedor_header .nav .usuario.activado .capa_usuario a{background:none;}
.contenedor_header .nav .usuario .capa_usuario a:hover{background-color: #ccc; color: #fff;}
.contenedor_header .nav.dos .capa_usuario a {border:0;}


.contenedor_header .capa_header {border-bottom:7px solid #000; min-height:15em; background:#e7e7e3;width:114.1em; padding:1.3em 0 2.5em 1.2em; position:absolute; top:60px; left:0; z-index: 9999; display:none;}
.contenedor_header .capa_header.alavista,
.contenedor_header .capa_usuario.alavista { display:block !important; z-index: 100000;}
.contenedor_header .nav .directo{padding:0.3em 2.2em 0.3em 0; background:url(/ser/iconos/v1.x/v1.0/varios/apoyo_video.png) no-repeat right 1px; margin-right:0.2em;}
.contenedor_header .nav .en_vivo{font-size:1.1em;}
.contenedor_header .nav .open a{background-color:#1b1b1b; background-image:url(/ser/iconos/v1.x/v1.0/varios/flecha_enlace_blanco.png); background-repeat:no-repeat; background-position:1.2em 1.8em; padding:1.5em 0 0 0; width:2.7em; border-left-color:#414141; border-right:1px solid #414141; text-indent:-9999px;}
.contenedor_header .nav .open a:hover{background-color:#323232;}
.contenedor_header .nav.submenu li:first-child a{border-left:0;}
.contenedor_header .buscar_contenido{position:absolute; top:0; right:0; width:38.8em;display:none;}
.contenedor_header .buscar_contenido input {height:3em; width:13.7em; float:left; font:2em 'proximanova', Arial, Helvetica, sans-serif; font-weight:300; color:#333; padding:0 1.2em; border:0;}
.contenedor_header .nav.dos .buscar_contenido a {float:right; background-color:#fdbe00; border:0;}

.contenedor_header #menuDirecto { white-space: nowrap; }
.contenedor_header #menuDirecto,
.contenedor_header.directo_novisible #menuDirecto { max-width: 0; }
.contenedor_header.directo_visible #menuDeportes,
.contenedor_header.directo_visible #menuOcio,
.contenedor_header.directo_visible #menuPodcasts,
.contenedor_header.directo_visible #menuBlogs,
.contenedor_header.directo_visible #menuVideo,
.contenedor_header.directo_visible #menuUltimaHora { max-width: 0;}
.contenedor_header.directo_visible #menuDirecto { max-width: 20em;}
.contenedor_header #menuDirecto a { background: #323232 url(/ser/iconos/v1.x/v1.0/varios/play_directo_cabecera.png) no-repeat 20px 20px; background-size: 20px auto; padding-left: 50px; }


/* modulo siguenos */
.modulo_siguenos {margin: 1.3em 0 0 0; position: absolute; left: 643px; top: 0; opacity: 0; width: 0; overflow: hidden; transition: width .5s ease-out;}
.contenedor_header.directo_visible .modulo_siguenos {opacity: 1; transition: opacity .5s ease-out .5s; width: 28em;}
.modulo_siguenos p,
.modulo_siguenos ul {float: left;}
.modulo_siguenos:hover p {color: #fff;}
.modulo_siguenos p {font: 400 1.4em/1.3em 'proximanova', Arial, Helvetica, sans-serif; color: #888; margin: 0.5em 0.5em 0 0;}
.modulo_siguenos ul.siguenos {border-radius: 25px; border: 1px solid #333; width: 18.7em;}
.modulo_siguenos ul.siguenos li {display: block; float: left; border-right: 1px solid #333;}
.modulo_siguenos ul.siguenos li:last-child {border-right: 0;}
.modulo_siguenos ul.siguenos li a {display: block; text-indent: -9999px; overflow: hidden; width: 3em; height: 3em; background-image: url(/ser/iconos/v1.x/v1.0/redes/redes_emisoras.png); background-repeat: no-repeat; opacity: 0.4;}
.modulo_siguenos ul.siguenos li a:hover {opacity: 1;}
.modulo_siguenos ul.siguenos li.facebook a {background-position: 12px 6px;}
.modulo_siguenos ul.siguenos li.twitter a {background-position: -18px 6px;}
.modulo_siguenos ul.siguenos li.gplus a {background-position: -47px 6px;}
.modulo_siguenos ul.siguenos li.youtube a {background-position: -75px 6px;}
.modulo_siguenos ul.siguenos li.instagram a {background-position: -99px 6px;}
.modulo_siguenos ul.siguenos li.itunes a {background-position: -124px 6px;}


/*  ============================================================================================================================  CAPA DEPORTES */
.capa_header.comun .menu_vertical{float:left;}
.capa_header.comun .contenedor_generico{float:right; margin-top:1em;}
.capa_header.comun .menu_vertical{margin:3em 0 0 0.6em;}
.capa_header.comun .menu_vertical ul{float:left;clear:both;}
.capa_header.comun .menu_vertical li a{font:1.3em/1.1em 'proximanova', Arial, Helvetica, sans-serif; font-weight:600; color:#000; padding:1em 1.1em; background:#fff; border-radius:4px; margin-bottom:0.5em; text-transform:uppercase; display:inline-block; max-width: 13.7em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.capa_header.comun .menu_vertical li a:hover{background:#C2C2BB; color:#fff; }
/*  ============================================================================================================================  GENERICOS*/
.contenedor_header .capa_header.menu {padding:1.3em 0 2.5em 0.3em; width:115em;}
.contenedor_bloques{background:#e7e7e3;padding:1.5em 0.3em;position:relative;border-spacing:1.5em 0; overflow:hidden;}
.contenedor_bloques .bloque{background:#fff; vertical-align:top; display:table-cell; width:36.1em; position:relative;}
.contenedor_bloques .destacado{font:2.2em/1.2em 'proximanova', Arial, Helvetica, sans-serif; font-weight:300; color:#000; padding:0 0 0.5em 1.1em; background:#e7e7e3; }
.contenedor_bloques .sec {padding:2.9em 0 2.9em 2.7em; float:left; }
.contenedor_bloques .secciones {width:74em;}
.contenedor_bloques .secciones li {font:1.6em/1.6em 'proximanova', Arial, Helvetica, sans-serif;font-weight:300;color:#000; background-position:0 9px; background-repeat:no-repeat; padding-left:1em; }
.contenedor_bloques .secciones li a{color:#000;}
.contenedor_bloques .secciones li a:hover{color:#ccc; }
.contenedor_bloques .secciones ul {width:17em; float:left;}
.contenedor_bloques .secciones ul.verde + ul.verde {width:21em;}
.contenedor_bloques .secciones ul.azul {width:16em;}
.contenedor_bloques .sec .verde li{background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_verde.gif);}
.contenedor_bloques .sec .azul li{background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_azul.gif);}
.contenedor_bloques .sec .naranja li {background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_naranja.gif);}

.contenedor_bloques .tag .sec ul {width:auto;}
.contenedor_bloques .tag .sec li {background: url(/ser/iconos/v1.x/v1.0/varios/bg_temas.png);border-radius: 25px;color: #FFFFFF; float: left;font: 300 1.6em/1.2em 'proximanova',Arial,Helvetica,sans-serif; margin: 0 0.5em 0.7em 0;padding: 0.6em 1.25em;}
/*.contenedor_bloques .tag .sec li:before {content: "#";}*/
.contenedor_bloques .tag .sec li a{color: #FFFFFF;}
.contenedor_bloques .tag .sec li:hover{background:#ccc;}
.contenedor_bloques .tag .sec {padding:2.9em 2.7em 6em; }
.contenedor_bloques .tag .mas_temas{float: right;position: absolute;bottom: 1em;right: 1em;font: 300 1.6em/1.2em 'proximanova',Arial,Helvetica,sans-serif;color: #fff;background:url(/ser/iconos/v1.x/v1.0/varios/bg_temas.png);border-radius: 25px;padding: 0.6em 1.25em;}
/*.contenedor_bloques .tag .mas_temas:before {content: "#";}*/
 /*  ============================================================================================================================  EMISORAS*/
.contenedor_header .capa_header.emisoras {padding:1.3em 0 2.5em 0.3em; width:115em;z-index: 9999;}
.emisoras .contenedor_bloques{padding:1.5em 1.5em 2.5em 1.5em;border-spacing:0;}
.emisoras .contenedor_bloques .destacado{padding-left:0;}
.emisoras .contenedor_bloques .bloque{float:left; display:block; background:none;}
.emisoras .contenedor_bloques .detector {float: none; width: auto;}
.emisoras .contenedor_bloques .detector .destacado{font: 300 3em/1.5em 'proximanova',Arial,Helvetica,sans-serif; padding-left: 1.6em; background: transparent url(/ser/iconos/v1.x/v1.0/emisora.png) no-repeat 0 0.3em;}
.emisoras .contenedor_bloques .detector .destacado a {font-family: 'proximanova', Arial, Helvetica,sans-serif; color: #000;}
.emisoras .contenedor_bloques .detector .destacado a:hover {opacity: 0.5;}
.emisoras .bloque.buscador{width:44em; }
.emisoras .contenedor_bloques .buscador li {background: url(/ser/iconos/v1.x/v1.0/varios/bullet_azul.gif) no-repeat 0 9px; color: #000; font: 300 1.4em/1.6em 'proximanova',Arial,Helvetica,sans-serif;padding-left: 1em; width:13.5em; float:left;}
.emisoras .contenedor_bloques .buscador li a{color: #000; }
.contenedor_bloques .listado {float: left;padding:2em 1.4em;background:#fff; }
.contenedor_bloques .listado ul{ height: 28.5em; overflow-y:auto;}
.input_buscar{width:38.2em; height:4.4em; border:1px solid #ccc; background:#fff; margin-bottom:2em;-moz-box-shadow:-2px 2px 5px #ccc;-webkit-box-shadow: -2px 2px 5px #ccc;box-shadow:-2px 2px 5px #ccc;}
.input_buscar input{border:0;font:1.8em/1em 'proximanova', Arial, Helvetica, sans-serif;font-weight:300; color:#000; margin:10px 12px; width:17em; float:left;}
.input_buscar a{color:#009fe2; text-transform:uppercase;font:2.5em/1em 'proximanova', Arial, Helvetica, sans-serif;font-weight:300; margin:10px 10px 0 0; float:right;}

.emisoras .bloque.escuchar{width:23.5em; margin-left:2.5em; }
.bloque.escuchar .selector{width:23.3em; height:3.5em; background:#fff; margin-bottom:2em; border-radius:2px; position:relative; }
.bloque.escuchar .selector select{font:1.4em/1em 'proximanova', Arial, Helvetica, sans-serif;font-weight:300; border:0; width:15.5em;-webkit-appearance: none; margin:8px 10px 0 10px; height:1.5em;outline:none;background-color: #fff;}
.bloque.escuchar .selector option {padding:5px; border:0;}
.bloque.escuchar .selector:after {width: 3.5em;height: 3.5em;display: block;content: '';z-index:200;position: absolute;top: 0;right: 0;pointer-events: none;background:#fff url(/ser/iconos/v1.x/v1.0/varios/triangulo_bottom.png) no-repeat center center;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box; /* Firefox, other Gecko */
box-sizing: border-box; /* Opera/IE 8+ */
}
.bloque.escuchar .boton{font:1.4em/1em 'proximanova', Arial, Helvetica, sans-serif;font-weight:300; border-radius:4px; background:#0da4e3; padding:0.75em; color:#fff; float:right;}
.emisoras .bloque.sintonizar{ width: 39em; margin-left:2.5em; }
.emisoras .mapa{width:388px; height:323px; background:#fff; border:1px solid #ccc;-moz-box-shadow:-2px 2px 5px #ccc;-webkit-box-shadow: -2px 2px 5px #ccc;box-shadow:-2px 2px 5px #ccc; }
.mapa_emisoras {background-color: #fff;}
.mapa_emisoras h2{margin: 0.7em 0;}
.mapa_emisoras .contenido_destacado {background-color: #fff; padding: 2em 2em 0; border-bottom: 1px solid #e5e5e5;}
.mapa_emisoras .listado_destacadas {width: 16em; float: left;}
.mapa_emisoras.mapa img {display: block;}
#popup_provincia .capa {width: 140px;top: 55px;left: -93px;}
#capaEmisoras #popup_provincia.a_coruna .capa {top: 75px;}
.contenido_destacado #popup_provincia.a_coruna .capa{top: 41px;left: -73px;}
#capaEmisoras #popup_provincia.lugo .capa {top: 77px;left: -95px;}
.contenido_destacado #popup_provincia.lugo .capa{top: 45px;left: -69px;}
#capaEmisoras #popup_provincia.asturias .capa{top:70px;}
.contenido_destacado #popup_provincia.asturias .capa{top: 34px;left: -65px;}
#capaEmisoras #popup_provincia.cantabria .capa {top: 71px;left: -110px;}
.contenido_destacado #popup_provincia.cantabria .capa {top: 37px;left: -70px;}
#capaEmisoras #popup_provincia.bizkaia .capa{top:71px;left:-110px;}
.contenido_destacado #popup_provincia.bizkaia .capa{top: 36px;left: -66px;}
#capaEmisoras #popup_provincia.gipuzkoa .capa{top:70px;left:-116px;}
.contenido_destacado #popup_provincia.gipuzkoa .capa{top:37px;left:-70px;}
#capaEmisoras #popup_provincia.navarra .capa{left: -116px;top:67px;}
.contenido_destacado #popup_provincia.navarra .capa{left: -68px;top:40px;}
#capaEmisoras #popup_provincia.huesca .capa{left: -116px;top:66px;}
.contenido_destacado #popup_provincia.huesca .capa{left: -63px;top:38px;}
#capaEmisoras #popup_provincia.lleida .capa {top: 56px;left: -128px;}
.contenido_destacado #popup_provincia.lleida .capa {top: 41px;left: -72px;}
#capaEmisoras #popup_provincia.barcelona .capa{left: -125px;width: 127px;top: 63px;}
.contenido_destacado #popup_provincia.barcelona .capa{left: -67px;top:40px;}
#capaEmisoras #popup_provincia.girona .capa{left: -128px;width:112px;top:60px;}
.contenido_destacado #popup_provincia.girona .capa{left: -64px;top:40px;}
#capaEmisoras #popup_provincia.pontevedra .capa {top:66px;}
.contenido_destacado #popup_provincia.pontevedra .capa {top:40px;left:-70px;}
#capaEmisoras #popup_provincia.ourense .capa {top:70px;}
.contenido_destacado #popup_provincia.ourense .capa {top:39px;left:-70px;}
#capaEmisoras #popup_provincia.leon .capa {top:68px;}
.contenido_destacado #popup_provincia.leon .capa {top:40px;left:-58px;}
#capaEmisoras #popup_provincia.palencia .capa {left: -110px;top:73px;}
.contenido_destacado #popup_provincia.palencia .capa {left: -70px;top:45px;}
#capaEmisoras #popup_provincia.burgos .capa{left: -111px;top:71px;}
.contenido_destacado #popup_provincia.burgos .capa{left: -70px;top:40px;}
#capaEmisoras #popup_provincia.alava .capa{  top: 71px;  left: -112px;}
.contenido_destacado #popup_provincia.alava .capa{  top: 39px;  left: -67px;}
#capaEmisoras #popup_provincia.zaragoza .capa{top: 60px;  left: -122px;}
.contenido_destacado #popup_provincia.zaragoza .capa{top: 41px;  left: -67px;}
#capaEmisoras #popup_provincia.andorra .capa{top: 68px;left: -121px;width: 128px;}
.contenido_destacado #popup_provincia.andorra .capa{top: 36px;  left: -66px;}
#capaEmisoras #popup_provincia.la_rioja .capa{top: 66px;  left: -118px;}
.contenido_destacado #popup_provincia.la_rioja .capa{top: 36px;  left: -73px;}
#capaEmisoras #popup_provincia.soria .capa{top: 63px;left: -116px;}
.contenido_destacado #popup_provincia.soria .capa{top: 38px;left: -71px;}
#capaEmisoras #popup_provincia.tarragona .capa{left: -132px;top:62px;}
.contenido_destacado #popup_provincia.tarragona .capa{left: -75px;top:34px;}
#capaEmisoras #popup_provincia.zamora .capa {left: -97px;top: 66px;}
.contenido_destacado #popup_provincia.zamora .capa {left: -63px;top: 38px;}
#capaEmisoras #popup_provincia.valladolid .capa{top: 61px;left: -100px;}
.contenido_destacado #popup_provincia.valladolid .capa{top: 38px;left: -70px;}
#capaEmisoras #popup_provincia.segovia .capa{  top: 63px;  left: -113px;}
.contenido_destacado #popup_provincia.segovia .capa{  top: 39px;  left: -74px;}
#capaEmisoras #popup_provincia.salamanca .capa {top: 60px;  left: -106px;}
.contenido_destacado #popup_provincia.salamanca .capa {top: 35px;  left: -73px;}
#capaEmisoras #popup_provincia.avila .capa{top: 60px;  left: -104px;}
.contenido_destacado #popup_provincia.avila .capa{top: 36px;  left: -68px;}
#capaEmisoras #popup_provincia.madrid .capa{left: -112px;top:51px;}
.contenido_destacado #popup_provincia.madrid .capa{left: -72px;top:30px;}
#capaEmisoras #popup_provincia.guadalajara .capa{top: 60px;  left: -118px;}
.contenido_destacado #popup_provincia.guadalajara .capa{top: 38px;  left: -74px;}
#capaEmisoras #popup_provincia.teruel .capa {top: 57px;  left: -126px;}
.contenido_destacado #popup_provincia.teruel .capa {top: 38px;  left: -75px;}
#capaEmisoras #popup_provincia.castellon .capa{left: -126px;top:60px;}
.contenido_destacado #popup_provincia.castellon .capa{left: -71px;top:40px;}
#capaEmisoras #popup_provincia.illes_balears .capa{width:112px;left: -141px;top:68px;}
.contenido_destacado #popup_provincia.illes_balears .capa{left: -75px;top:45px;}
#capaEmisoras #popup_provincia.valencia .capa{left: -119px;top:55px;}
.contenido_destacado #popup_provincia.valencia .capa{left: -69px;bottom:-18px;}
#capaEmisoras #popup_provincia.caceres .capa{top:58px;}
.contenido_destacado #popup_provincia.caceres .capa{top:46px;left:-58px;}
#capaEmisoras #popup_provincia.toledo .capa{left: -112px;top:55px;}
.contenido_destacado #popup_provincia.toledo .capa{left: -72px;top:39px;}
#capaEmisoras #popup_provincia.cuenca .capa{left: -109px;top:49px;}
.contenido_destacado #popup_provincia.cuenca .capa{left: -66px;top:40px;}
#capaEmisoras #popup_provincia.albacete .capa{left: -113px;bottom:-27px;}
.contenido_destacado #popup_provincia.albacete .capa{left: -63px;bottom:15px;}
#capaEmisoras #popup_provincia.alicante .capa{left: -125px;bottom:-33px;}
.contenido_destacado #popup_provincia.alicante .capa{left: -72px;bottom:-20px;}
#capaEmisoras #popup_provincia.murcia .capa{bottom: -27px; left: -118px;}
.contenido_destacado #popup_provincia.murcia .capa{  bottom: -19px; left: -68px;}
#capaEmisoras #popup_provincia.ciudad_real .capa{left: -113px;top: 49px;}
.contenido_destacado #popup_provincia.ciudad_real .capa{left: -71px;bottom:-16px;}
#capaEmisoras #popup_provincia.badajoz .capa{  top: 54px;  left: -105px;}
.contenido_destacado #popup_provincia.badajoz .capa{  bottom: -20px;  left: -68px;}
#capaEmisoras #popup_provincia.cordoba .capa{left: -108px;bottom:-19px}
.contenido_destacado #popup_provincia.cordoba .capa{left: -66px;}
#capaEmisoras #popup_provincia.jaen .capa{bottom:-24px;left: -105px;}
.contenido_destacado #popup_provincia.jaen .capa{bottom: -14px;left: -67px;}
#capaEmisoras #popup_provincia.huelva .capa{bottom:-25px;  left: -98px;}
.contenido_destacado #popup_provincia.huelva .capa{bottom:-155px;left:-70px;}
#capaEmisoras #popup_provincia.sevilla .capa{bottom:-23px;  left: -100px;}
.contenido_destacado #popup_provincia.sevilla .capa{bottom: -11px;  left: -69px;}
#capaEmisoras #popup_provincia.cadiz .capa{bottom: -20px;  left: -100px;}
.contenido_destacado #popup_provincia.cadiz .capa{bottom: -19px;  left: -72px;}
#capaEmisoras #popup_provincia.malaga .capa{bottom: -19px;  left: -100px;}
.contenido_destacado #popup_provincia.malaga .capa{bottom: -12px;  left: -62px;}
#capaEmisoras #popup_provincia.granada .capa{  bottom: -31px;  left: -117px;}
.contenido_destacado #popup_provincia.granada .capa{  bottom: -25px;  left: -74px;}
#capaEmisoras #popup_provincia.almeria .capa{  bottom: -25px;  left: -108px;}
.contenido_destacado #popup_provincia.almeria .capa{  bottom: -18px;  left: -62px;}
#capaEmisoras #popup_provincia.las_palmas .capa{bottom:-33px;}
.contenido_destacado #popup_provincia.las_palmas .capa{bottom:-28px;left:-70px;}
#capaEmisoras #popup_provincia.sta_cruz_de_tenerife .capa{bottom:-20px;}
.contenido_destacado #popup_provincia.sta_cruz_de_tenerife .capa{bottom:-14px;left:-90px;}

.mapa_emisoras.mapa .capa {position: absolute; z-index: 10; background-color: #fff; width: 21em; text-align: center; box-shadow: 0 0 5px #ccc;width:165px;}
.mapa_emisoras.mapa .capa a.cerrar {position: absolute; z-index: 10; right: -0.9em; top: -0.9em; background: transparent url(/ser/iconos/v1.x/v1.0/varios/ico_cerrar.png) no-repeat 0 0; width: 2.1em; height: 2.1em; text-indent: -9999px; overflow: hidden; display: block;}
.mapa_emisoras.mapa .capa a.cerrar:hover {opacity: 0.5;}
.mapa_emisoras.mapa .capa h3, .mapa_emisoras.mapa .capa ul li  {font: 1.3em/1.8em "proximanova",Arial,Helvetica,sans-serif;}
.mapa_emisoras.mapa .capa h3 {background-color: #fdbd00; color: #fff;}
.mapa_emisoras.mapa .capa ul li {background-image: none; padding: 0;}
.mapa_emisoras.mapa .capa ul li a {display: block;color:#000;}
.mapa_emisoras.mapa .capa ul li a:hover {background-color: #efefef; opacity: 1;}
.mapa_emisoras.mapa .capa.arriba h3 {position: absolute; bottom: 0; width: 100%;}
.mapa_emisoras.mapa .capa.arriba ul {padding-bottom: 3em;}
.mapa_emisoras.mapa .capa.arriba h3:after,
.mapa_emisoras.mapa .capa.abajo h3:before {position: absolute; width: 0; height: 0; left: 50%; margin-left: -0.6em; border: 0.6em solid; border-color: rgba(0, 0, 0, 0); content: "";}
.mapa_emisoras.mapa .capa.arriba h3:after {bottom: -0.5em; border-bottom: none; border-top-color: #fdbd00;}
.mapa_emisoras.mapa .capa.abajo h3:before {top: -0.5em; border-top: none; border-bottom-color: #fdbd00;}


.mapa_emisoras .contenido_destacado ul {}
.mapa_emisoras .contenido_destacado li {background: url(/ser/iconos/v1.x/v1.0/varios/bullet_naranja.gif) no-repeat 0 10px; color: #000; font: 1.4em/1.3em 'proximanova',Arial,Helvetica,sans-serif;padding: 0.3em 0 0.3em 1.2em;}
.mapa_emisoras .contenido_destacado li a {color: #000; }
.mapa_emisoras .contenido_destacado li a:hover {opacity:0.5;}
.mapa_emisoras .contenedor_columnas {background-image: none; width: 81em;}
.mapa_emisoras .contenedor_columnas h2 {margin: 1em 0 1em 1em;}
.mapa_emisoras .contenedor_columnas .columna {width: 16.4em; padding-top: 0;}

/*  ============================================================================================================================  PROGRAMACIÓN*/
.contenedor_header .capa_header.programacion {padding:1.3em 0 2.5em 0.3em; width:115em;}
.programacion .contenedor_bloques .bloque {width:57em;}
.programacion .sec {padding: 1.5em 0 0.8em 1.5em;}
.programacion .contenedor_bloques .destacado {background:none; padding:1.3em 0 0 1.1em;}

.programacion .bloque.programas {background-color: transparent; width: 71em;}
.programacion .programas .sec {background-color: #333;}
.programacion .programas li {float: left; width: 29em; margin: 0 0.8em 0.8em 0; border-radius: 4px; overflow: hidden; }
.programacion .programas li a {background-color: #009fe2;}
.programacion .programas li a, .programacion .programas li img {display: block;}
.programacion .programas li a:hover {opacity: 0.5;}
.programacion .programas li .foto {float: left; width: 7.7em;}
.programacion .programas li .mod_txt {float: right; width: 20em; border-collapse: collapse;}
.programacion .programas li .cont_txt { display: table-cell;  table-layout: fixed; vertical-align: bottom; height: 6.5em;}
.programacion .programas li .mod_txt h3 { color: #fff; font-weight: normal; font-size:1.6em; line-height:1.1em; margin-bottom: 0.25em;}
.programacion .programas li .mod_txt p { color: #222; font-size:1.2em; line-height:1.2em;}

.programacion .otros_programas li {position: relative; float: left; font:1.4em/1em 'proximanova', Arial, Helvetica, sans-serif;font-weight:300; color:#000;margin: 0 0.3em 0.3em 0; }
.programacion .otros_programas li a {color:#000; width: 9em; padding:0.7em; display:block; border-radius:4px; border:1px solid #e7e7e3;}
.programacion .otros_programas li a.patrocinio {width:auto; padding:0; border:none; position: absolute; right: 0; top: 0;}
.programacion .otros_programas li a:hover {background:#f8f8f8;}

.programacion .contenedor_bloques li span{width:4.6em; color:#333; display:inline-block;}
.programacion .botones {float:right; margin:2em 1.5em 0 0;}
.programacion .botones a {font:1.6em/1em 'proximanova', Arial, Helvetica, sans-serif; font-weight:300; color:#fff; padding:0.6em 1.2em; background-color:#17a6e2; border-radius:25px; margin-left:0.5em;}
.programacion .botones a.boton_playser {padding:0.6em 1.2em 0.6em 2.6em; background: #17a6e2 url(/ser/iconos/v1.x/v1.0/varios/boton_playser.png) no-repeat 0.5em 0.4em; }


/*  ============================================================================================================================  PIE */
.envoltorio_pie {background-color: #232323; border-top: 1px solid transparent;margin-top: 3em;}
.contenedor_footer{ background-color:#232323; margin-top: 5em; padding-bottom: 3.5em; }
.contenedor_footer .footer{ width:115.3em; margin:0 auto; }
.contenedor_footer .nav {margin-top: 2.3em; float:left;}
.contenedor_footer .nav.dos{margin-left:4em;}
.contenedor_footer .nav li {margin-bottom:0.2em;}
.contenedor_footer .nav li a{font:1.4em/1.7em 'proximanova', Arial, Helvetica, sans-serif; font-weight:300; color:#989892; padding-left:1.2em; background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_azul.gif); background-repeat:no-repeat; background-position:0 5px;}
.contenedor_footer .emisoras li a{background}
.contenedor_footer .section {margin:-3.5em 0 0 6%; float:left;border-bottom:1px solid #2c2c2c;padding-bottom:3em;width:88%;}
.contenedor_footer .section h2{font:2.2em/1.3em 'proximanova', Arial, Helvetica, sans-serif; font-weight:300; color: #fff;}
.contenedor_footer .secciones{margin-left:2em; width:17.7em;float:left;}
.contenedor_footer .emisoras{width: 57.5em; float:left;}
.contenedor_footer .programas{width:37.5em; float:left;}
.contenedor_footer ul.sub{margin-top:2.8em;}
.contenedor_footer .otros{margin-top:2em;}
.contenedor_footer .nav .otros li a {background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_naranja.gif);}
.contenedor_footer .nav .sub li a,
.contenedor_footer .secciones .nav li:nth-child(n+4) a  {background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_verde.gif);}
.contenedor_footer .redes_sociales{float:left;clear: both;width: 100%;}
.contenedor_footer .redes_sociales ul{float:left;margin-top:3.3em;width: 100%;}
.contenedor_footer .redes_sociales li{font-size:2.2em; line-height:1em;font-family:'proximanova', Arial, Helvetica, sans-serif; font-weight:600; color:#989892; margin-bottom:1em; padding-left: 0px;background-image:url(/ser/iconos/v1.x/v1.0/redes/redes_pie.png); background-repeat:no-repeat; width: 25%;float: left;text-align: center;background-position: 50px 0;}
.contenedor_footer .redes_sociales .datos{font-family:'proximanova', Arial, Helvetica, sans-serif; font-weight:300; clear:both; display:block; margin-top:0.3em;}
.contenedor_footer .redes_sociales li a{color:#989892; }
.contenedor_footer .redes_sociales li a:hover{color:#fff; }
.contenedor_footer .redes_sociales li.twitter{background-position:45px 0;}
.contenedor_footer .redes_sociales li.facebook{background-position:45px -68px;}
.contenedor_footer .redes_sociales li.youtube{background-position:45px -142px;}
.contenedor_footer .redes_sociales li.gplus{background-position:45px -215px;}
.contenedor_footer .emisoras .nav li a{background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_naranja.gif); }

.cnt-patrocinio{width: 110.7em;background: #000;text-align: right;padding-right: 1em;margin-left:.6em;}
.cnt-patrocinio a{display: block;font: 400 2.5em/.75em proximanova;color: #fff;padding: 0;float: right;width: 100%;padding-top: .85em;padding-bottom:.2em}
.cnt-patrocinio a img{margin-left: .5em;float: right;margin-top: -.6em;}

.nav_pie{margin:0 auto; text-align:center;}
.nav_pie li {font:1.1em/1.1em Arial, Helvetica, sans-serif; color:#e7e7e3; margin-left:0.8em; padding-right:0.8em; border-right:1px solid #e7e7e3; display:inline;}
.nav_pie li a{color:#e7e7e3;}
.nav_pie li:last-child{border:0;}
#pie{clear:both; padding:4.5em 0;}
