@charset "utf-8";
/* CSS Document */
.article .cintillo_cincodias .contenido a { background: url(/ser/iconos/v1.x/v1.0/cintillos/cincodias.png) no-repeat 0 0;height: 1.6em; width: 9.3em;}
.article .cintillo_elpais .contenido a { background: url(/ser/iconos/v1.x/v1.0/cintillos/elpais.png) no-repeat 0 0;height: 2em; width: 8.4em;}
.article .cintillo_as .contenido a { background: url(/ser/iconos/v1.x/v1.0/cintillos/as.png) no-repeat 0 0;height: 1.5em; width: 8.2em;}
/* si tipologia opinion */
.article .opinion .cintillo_cincodias .contenido a {width: auto; background-position: center 0;}
.article .opinion .cintillo_elpais .contenido a {width: auto; background-position: center 0;}
.article .opinion .cintillo_as .contenido a {width: auto; background-position: center 0;}

/* La buena noticia */
.contenedor_generico .col_1 .la_buena_noticia_bbva .contenido a {width: 17.9em; height: 4.8em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .la_buena_noticia_bbva .contenido a {width: 40.5em;height: 3.4em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .la_buena_noticia_bbva .contenido a {width: 29.3em;height: 3.5em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .la_buena_noticia_bbva .contenido a {width: 73em;height: 3.2em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .la_buena_noticia_bbva a, .portadilla .programas .article .la_buena_noticia_bbva a {width: 15.5em;height: 4.2em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col1_peq.png) 0 0 no-repeat;}

.contenedor_mosaico .col_1 .la_buena_noticia_bbva .contenido a {width: 17.9em; height: 4.8em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .la_buena_noticia_bbva .contenido a {width: 40.5em;height: 3.4em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .la_buena_noticia_bbva .contenido a {width: 29.3em;height: 3.5em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .la_buena_noticia_bbva .contenido a {width: 73em;height: 3.2em;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/la_buena_noticia/LaBuenaNoticia_col3.png) 0 0 no-repeat;}

/* BBVA Innova */
.contenedor_generico .col_1 .bbva_innova .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .bbva_innova .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .bbva_innova .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .bbva_innova .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .bbva_innova a, .portadilla .programas .article .bbva_innova a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .bbva_innova .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .bbva_innova .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .bbva_innova .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .bbva_innova .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/11/bbva_innovacion/BBVA_col3.png) 0 0 no-repeat;}


/* Loteria Navidad 2014 */

.contenedor_generico .col_1 .loteria_navidad_2014 .contenido a {width: 179px; height: 36px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .loteria_navidad_2014 .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .loteria_navidad_2014 .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .loteria_navidad_2014 .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .loteria_navidad_2014 a, .portadilla .programas .article .loteria_navidad_2014 a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .loteria_navidad_2014 .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .loteria_navidad_2014 .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .loteria_navidad_2014 .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .loteria_navidad_2014 .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/euromaster_loteria/loteria_col3.png) 0 0 no-repeat;}


/* Cumbre Lima WWF */
.contenedor_generico .col_1 .cumbre_lima_wwf .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .cumbre_lima_wwf .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .cumbre_lima_wwf .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .cumbre_lima_wwf .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .cumbre_lima_wwf a, .portadilla .programas .article .cumbre_lima_wwf a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .cumbre_lima_wwf .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .cumbre_lima_wwf .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .cumbre_lima_wwf .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .cumbre_lima_wwf .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2014/12/cumbre_lima_wwf/cumbre_lima_col3.png) 0 0 no-repeat;}

/* Cumbre ParÃ­s 2015 */
.contenedor_generico .col_1 .cumbre_paris_2015 .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .cumbre_paris_2015 .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .cumbre_paris_2015 .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .cumbre_paris_2015 .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .cumbre_paris_2015 a, .portadilla .programas .article .cumbre_paris_2015 a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/12/cumbre_paris_2015/cumbre_paris_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .cumbre_paris_2015 .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .cumbre_paris_2015 .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .cumbre_paris_2015 .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .cumbre_paris_2015 .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/cumbre_paris_2015/cumbre_paris_col3.png) 0 0 no-repeat;}

/* El Observatorio */
.contenedor_generico .col_1 .el_observatorio .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .el_observatorio .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .el_observatorio .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .el_observatorio .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .el_observatorio a, .portadilla .programas .article .el_observatorio a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .el_observatorio .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .el_observatorio .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .el_observatorio .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .el_observatorio .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/01/el_observatorio/observatorio_col3.png) 0 0 no-repeat;}

/* MWC 2015 */
.contenedor_generico .col_1 .mwc_2015 .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .mwc_2015 .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .mwc_2015 .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .mwc_2015 .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .mwc_2015 a, .portadilla .programas .article .mwc_2015 a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .mwc_2015 .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .mwc_2015 .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .mwc_2015 .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .mwc_2015 .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/02/mwc/alcatel_col3.png) 0 0 no-repeat;}



/* OH MY LOL */
.contenedor_generico .col_1 .oh_my_lol .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .oh_my_lol .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .oh_my_lol .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .oh_my_lol .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .oh_my_lol a, .portadilla .programas .article .oh_my_lol a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .oh_my_lol .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .oh_my_lol .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .oh_my_lol .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .oh_my_lol .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/03/oh_my_lol/ohmylol_col3.png) 0 0 no-repeat;}



/* CONTIGO DENTRO */
.contenedor_generico .col_1 .contigo_dentro .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .contigo_dentro .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .contigo_dentro .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .contigo_dentro .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .contigo_dentro a, .portadilla .programas .article .contigo_dentro a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .contigo_dentro .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .contigo_dentro .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .contigo_dentro .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .contigo_dentro .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/04/contigo_dentro/contigo_dentro_col3.png) 0 0 no-repeat;}


/* ESTARTAPEANDO */
.contenedor_generico .col_1 .estartapeando .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .estartapeando .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .estartapeando .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .estartapeando .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .estartapeando a, .portadilla .programas .article .estartapeando a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .estartapeando .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_blanco_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .estartapeando .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_blanco_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .estartapeando .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_blanco_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .estartapeando .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/h25/estartapeando/estartapeando_blanco_col3.png) 0 0 no-repeat;}

/* GASTRO RENAULT */
.contenedor_generico .col_1 .gastro_renault .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_col1.png) 0 0 no-repeat;}
.contenedor_generico .col_2  .gastro_renault .contenido a {width: 405px;height: 50px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_col2.png) 0 0 no-repeat;}
.contenedor_generico .col_1-2 .gastro_renault .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_col1_2.png) 0 0 no-repeat;}
.contenedor_generico .col_3 .gastro_renault .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_col3.png) 0 0 no-repeat;}
.portadilla .tematico .article .gastro_renault a, .portadilla .programas .article .gastro_renault a {width: 159px;height: 39px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_col1_peq.png) 0 0 no-repeat;}


.contenedor_mosaico .col_1 .gastro_renault .contenido a {width: 179px; height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_blanco_col1.png) 0 0 no-repeat;}
.contenedor_mosaico .col_2  .gastro_renault .contenido a {width: 405px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_blanco_col2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_1-2 .gastro_renault .contenido a {width: 293px;height: 36px;background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_blanco_col1_2.png) 0 0 no-repeat;}
.contenedor_mosaico .col_3 .gastro_renault .contenido a {width: 730px;height: 42px; background:url(/estaticos/recursosgraficos/noticias/patrocinios/2015/06/gastro_renault/mapa-gastro-renault_blanco_col3.png) 0 0 no-repeat;}
