.clearfix{clear:both;}
.marcador-futbol{padding:0;position:relative;overflow:hidden;}
.marcador-futbol .equipo{width:41em;padding-top:1.4em;}
.marcador-futbol .local{float:left;text-align:left;}
.marcador-futbol .visitante{float:right;text-align:right;}
.marcador-futbol .equipo > div{text-align:center;}
.marcador-futbol .local > div{margin:0 1.8em 3.3em 5.4em;float:left;}
.marcador-futbol .visitante > div{margin:0 5.4em 3.3em 1.8em;float:right;}
.marcador-futbol .nombre{font:700 4.4em/1em proximanova;color:#009fe2;padding-top:.273em;}
.marcador-futbol .nombre-corto{display:none;color:#009fe2!important;}
.marcador-futbol .local .goleadores{clear:both;padding:0 0 0 5.4em;}
.marcador-futbol .visitante .goleadores{clear:both;padding:0 5.4em 0 0;}
.marcador-futbol .goleadores li{font-size:1.4em;display:inline-block;margin:0 0 .714em;color:#888;}
.marcador-futbol .datos{color:#000;width:33.1em;float:left;text-align:center;}
.marcador-futbol .jornada{font:700 1.8em proximanova;color:#000!important;text-align:center;padding-top:1em;}
.marcador-futbol .datos .periodo{color:grey;font:italic 1.6em/1em proximanova;padding:.688em 0 .375em;}
.marcador-futbol .datos .goles{color:#009fe2;font:700 7.8em proximanova;padding:.051em 0 .038em;border-bottom:1px solid #e5e5e5;}
.marcador-futbol .datos .estadio{font-size:1.6em;color:#000;padding-bottom:1.25em;}
.marcador-futbol .arbitro, .secundaria .article.col_1-2 .marcador-futbol .datos .estadio{font-size:1.4em;}

.secundaria	.article.col_1-2 .marcador-futbol{min-height:18.4em;height:18.4em;}
.secundaria	.article.col_1-2 .marcador-futbol .datos{position:absolute;width:100%;padding-top:.8em;}
.secundaria	.article.col_1-2 .marcador-futbol .equipo{width:7.2em;padding-top:1em;}
.secundaria	.article.col_1-2 .marcador-futbol .local > div, .destacada .article.col_2 .marcador-futbol .local > div{margin:0 0 .8em;float:none;}
.secundaria	.article.col_1-2 .marcador-futbol .visitante > div, .destacada .article.col_2 .marcador-futbol .visitante > div{margin:0 0 .8em;float:none;}
.secundaria	.article.col_1-2 .marcador-futbol .nombre, .secundaria	.article.col_1-2 .marcador-futbol .goleadores{display:none;}
.secundaria	.article.col_1-2 .marcador-futbol .datos .goles{font-size:6em;padding:0 0 .167em;line-height:1em;margin:0 auto;width:50%;}
.secundaria	.article.col_1-2 .marcador-futbol .nombre-corto{font-size:1.6em;font-weight:bold;display:block;clear:both;}
.secundaria	.article.col_1-2 .marcador-futbol .nombre-corto{text-align:center;}
.secundaria	.article.col_1-2 .marcador-futbol .datos .periodo{font-size:1.4em;margin:.5em 0;padding:0;}
.secundaria	.article.col_1-2 .marcador-futbol .jornada{padding-top: .7em;margin-bottom: .6em;font:700 1.6em proximanova;}
 
.destacada .article.col_3 .marcador-futbol{width:100%;}
.destacada .article.col_3 .marcador-futbol .equipo{width:26em;padding-top:4em;}
.destacada .article.col_3 .marcador-futbol .datos{width:24em;}
.destacada .article.col_3 .marcador-futbol .local .escudo{margin:0 1.8em 2em 1.4em;}
.destacada .article.col_3 .marcador-futbol .visitante .escudo{margin:0 1.4em 2em 1.8em;}
.destacada .article.col_3 .marcador-futbol h2{font-size:3.2em;}
.destacada .article.col_3 .marcador-futbol .nombre{padding-top:.773em;}
.destacada .article.col_3 .marcador-futbol .datos p{margin-bottom:0;}
.destacada .article.col_3 .marcador-futbol .datos .goles{font-size:6em;}
.destacada .article.col_3 .marcador-futbol .local .goleadores{padding-left:1.6em;width: 90%;}
.destacada .article.col_3 .marcador-futbol .visitante .goleadores{padding-right:1.6em;width: 90%;}

.destacada .article.col_2 .marcador-futbol .local, .destacada .article.col_2 .marcador-futbol .visitante{width:8.5em;padding-top:1em;}
.destacada .article.col_2 .marcador-futbol .datos{width:26.2em;padding-top:.8em;}
.destacada .article.col_2 .marcador-futbol .nombre, .col_2.row_3.marcador-destacadas .marcador-futbol .nombre{display:none;}
.destacada .article.col_2 .marcador-futbol .nombre-corto, .col_2.row_3.marcador-destacadas .marcador-futbol .nombre-corto{display:block;text-align:center;clear:both;font-size:2.6em;}
.destacada .article.col_2 .marcador-futbol .goleadores{display:none;}
.destacada .article.col_2 .marcador-futbol .datos .goles{font-size:6em;padding:0 0 .083em;line-height:1em;}
.destacada .article.col_2 .marcador-futbol .datos .periodo{font-size:1.4em;padding:0;margin:.5em 0;}
.destacada .article.col_2 .marcador-futbol .datos .estadio{font-size:1.4em;margin:0;}
.destacada .article.col_2 .marcador-futbol .jornada{padding-top: .7em;margin-bottom: .6em;}

.contenedor_mosaico .foto_grande.marcador-destacadas .mod_txt{bottom:141px;}

.col_3.row_3.marcador-destacadas .marcador-futbol .local, .col_3.row_3.marcador-destacadas .marcador-futbol .visitante{width:20.6em;padding-top:0;}
.col_3.row_3.marcador-destacadas .marcador-futbol .datos{width:23em;padding-top:.7em;margin:0 1em;}
.col_3.row_3.marcador-destacadas .marcador-futbol .local > div{margin:0;float:none;}
.col_3.row_3.marcador-destacadas .marcador-futbol .visitante > div{margin:0;float:none;}
.col_3.row_3.marcador-destacadas .marcador-futbol .nombre{font-size:2.8em;color:#009fe2;clear:both;text-align:center;}
.col_3.row_3.marcador-destacadas .marcador-futbol .jornada, .col_2.row_3.marcador-destacadas .marcador-futbol .jornada{font-size:1.6em;margin-bottom:0;padding-top:.5em;}
.col_3.row_3.marcador-destacadas .marcador-futbol .datos .goles{font-size:5.2em;line-height:1em;}

.col_2.row_3.marcador-destacadas .marcador-futbol .local, .col_2.row_3.marcador-destacadas .marcador-futbol .visitante{width:8.5em;padding-top:0;}
.col_2.row_3.marcador-destacadas .marcador-futbol .datos{width:26.2em;padding-top:.8em;}
.col_2.row_3.marcador-destacadas .marcador-futbol .local > div, .col_2.row_3.marcador-destacadas .marcador-futbol .visitante > div{margin:0 0 .7em;float:none;}
.col_2.row_3.marcador-destacadas .marcador-futbol .datos .goles{font-size:5em;padding:0;line-height:1em;}

.row_3.marcador-destacadas .marcador-futbol .goleadores{display:none;}
.row_3.marcador-destacadas .marcador-futbol .datos .periodo{font-size:1.3em;padding:.538em 0 .375em;margin:0;}
.row_3.marcador-destacadas .marcador-futbol .datos .estadio{font-size:1.3em;}

.columna_principal .marcador-futbol .equipo{width:27.5em;padding-top:.5em;}
.columna_principal .marcador-futbol .local > div{margin:0 1.8em 3.3em 1.4em;}
.columna_principal .marcador-futbol .visitante > div{margin:0 0 3.3em 1.8em;}
.columna_principal .marcador-futbol .nombre{font-size:3em;padding-top: .5em;}
.columna_principal .marcador-futbol .local .goleadores{padding:0 0 0 1em;}
.columna_principal .marcador-futbol .visitante .goleadores{clear:both;padding:0 1em 0 0;}
.columna_principal .marcador-futbol .datos{width:23.8em;}
.columna_principal .marcador-futbol .jornada{font-size:1.7em;padding:.6em 0 .4em;}
.columna_principal .marcador-futbol .datos .goles{font-size:5.5em;line-height:1em;}

.portada_movil .marcador-futbol, .portadilla_movil .marcador-futbol, .noticia_movil .marcador-futbol{min-height:auto!important;height:auto!important;}
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos, .noticia_movil .marcador-futbol .datos{width:25.8em!important;position:relative!important;padding:0!important;}
.portada_movil .marcador-futbol .jornada, .portadilla_movil .marcador-futbol .jornada, .noticia_movil .marcador-futbol .jornada{margin: .5em 0 0;padding: 0;font-size:1.4em;}
.portada_movil .marcador-futbol .equipo, .portadilla_movil .marcador-futbol .equipo, .noticia_movil .marcador-futbol .equipo{width:13.9em!important;padding-top:.7em!important;}
.portada_movil .marcador-futbol .local > div, .portadilla_movil .marcador-futbol .local > div, .noticia_movil .marcador-futbol .local > div{margin:0 0 .8em!important;float:none!important;}
.portada_movil .marcador-futbol .nombre, .portadilla_movil .marcador-futbol .nombre, .noticia_movil .marcador-futbol .nombre{font-size:1.6em;padding-top:0;text-align:center;display:block!important;}
.portada_movil .marcador-futbol .nombre-corto, .portadilla_movil .marcador-futbol .nombre-corto, .noticia_movil .marcador-futbol .nombre-corto{display:none!important;}
.portada_movil .marcador-futbol .visitante > div, .portadilla_movil .marcador-futbol .visitante > div, .noticia_movil .marcador-futbol .visitante > div{margin:0 0 .8em!important;float:none!important;}
.portada_movil .marcador-futbol .datos .goles, .portadilla_movil .marcador-futbol .datos .goles, .noticia_movil .marcador-futbol .datos .goles{font-size:6.3em!important;padding:.238em 0 0!important;line-height:1em!important;width:auto!important;margin:0!important;}
.portada_movil .marcador-futbol .datos .periodo, .portadilla_movil .marcador-futbol .datos .periodo, .noticia_movil .marcador-futbol .datos .periodo{font-size:1.3em!important;margin:1em 0 .8em!important;padding:0!important;}
.portada_movil .marcador-futbol .datos .estadio, .portadilla_movil .marcador-futbol .datos .estadio, .noticia_movil .marcador-futbol .datos .estadio{font-size:1.3em!important;margin-top: 0.5em!important;}
.portada_movil .marcador-futbol .goleadores, .portadilla_movil .marcador-futbol .goleadores, .noticia_movil .marcador-futbol .goleadores{display:none!important;}

.portada_movil .marcador-futbol br, .portadilla_movil .marcador-futbol br, .noticia_movil .marcador-futbol br, .secundaria	.article.col_1-2 .marcador-futbol br, .destacada .article.col_2 .marcador-futbol br, .col_3.row_3.marcador-destacadas .marcador-futbol br, .col_2.row_3.marcador-destacadas .marcador-futbol br{display:none;}

/* TABLAS */
.marcador-futbol-tabla-vertical{width:100%;clear:both;padding:1em 0;background:#fff;}
.marcador-futbol-tabla-vertical h2{font: 700 1.8em/1em proximanova;color:#000;text-align:center;text-transform:uppercase;margin:0!important;}
.marcador-futbol-tabla-vertical h3{font: 400 1.6em/1em proximanova;color:#000;text-align:center;margin:0 0 .375em;}
.marcador-futbol-tabla-vertical button{width:100%;text-indent:-9999px;border:0;font-size:1em;height:2.6em;cursor:pointer;}
.marcador-futbol-tabla-vertical .subir-tabla-vertical{background:#f4f4f4 url(http://cadenaser.com/estaticos/recursosgraficos/recursosportalcadenaser/img/marcadores-deportivos/ico-tabla-resultados-sup.png) center 0 no-repeat;}
.marcador-futbol-tabla-vertical .bajar-tabla-vertical{background:#f4f4f4 url(http://cadenaser.com/estaticos/recursosgraficos/recursosportalcadenaser/img/marcadores-deportivos/ico-tabla-resultados-inf.png) center .4em no-repeat;}
.marcador-futbol-tabla-vertical .subir-bajar.marcador-vertical-activo{background-color:#c2c2c2;background-position:center -2.5em;}
.marcador-futbol-tabla-vertical table{width:100%;font-size:1.2em;color:#333}
.movil .marcador-futbol-tabla-vertical table{width:97%!important;margin:0 auto;}
.marcador-futbol-tabla-vertical table td{padding:.5em 0;}
.marcador-futbol-tabla-vertical table tr{cursor:pointer;}
.marcador-futbol-tabla-vertical table tr:hover{color:#23abe9;}
.marcador-futbol-tabla-vertical table td:first-child{font-style:italic;padding:0 0 0 .833em;width:5.417em;}
.marcador-futbol-tabla-vertical table td:last-child{text-align:right;padding:0 .833em 0 0;}
.marcador-futbol-tabla-vertical table td:nth-child(2n){width:4.5em;}
.marcador-futbol-tabla-vertical table td:nth-child(2){text-align:right;}
.marcador-futbol-tabla-vertical table td:nth-child(3n){font-size:1.583em;width:3.5em;text-align:center;}
.marcador-futbol-tabla-vertical table td:nth-child(3n) span{font-weight:700;}
.movil .marcador-futbol-tabla-vertical table td{width:auto;}
.marcador-futbol-tabla-vertical table td img{position:relative;top:.3em;}
.marcador-futbol-tabla-vertical .nombre{display:none;}
.movil .marcador-futbol-tabla-vertical .nombre-corto{margin:0 .5em;}

.columna_secundaria .marcador-futbol-tabla-vertical table td:nth-child(2n){width:5.4em;}

.article.col_2.row_3 .marcador-futbol-tabla-vertical table{padding:.2em 0;}
.article.col_2.row_3 .marcador-futbol-tabla-vertical table td:nth-child(2n){width:9.4em;}
.article.col_2.row_3 .marcador-futbol-tabla-vertical .nombre{display:inline;font-weight:400;}
.article.col_2.row_3 .marcador-futbol-tabla-vertical .nombre-corto{display:none;}
.article.col_2.row_3 .marcador-futbol-tabla-vertical table td{padding:.41em 0;}
.article.col_2.row_3 .marcador-futbol-tabla-vertical table td:first-child{padding:.421em 0 .421em .833em;}
.article.col_2.row_3 .marcador-futbol-tabla-vertical table td:last-child{padding:.421em .833em .421em 0;}
.article.col_2.row_3 .marcador-futbol-tabla-vertical-sin-scroll table td{padding:.53em 0;}

.portada_movil .marcador-futbol-tabla-vertical table td:nth-child(2n), .portadilla_movil .marcador-futbol-tabla-vertical table td:nth-child(2n){width:30.4%;}
.portada_movil .marcador-futbol-tabla-vertical .nombre, .portadilla_movil .marcador-futbol-tabla-vertical .nombre{display:inline;}
.portada_movil .marcador-futbol-tabla-vertical .nombre-corto, .portadilla_movil .marcador-futbol-tabla-vertical .nombre-corto{display:none;}

.marcador-futbol-tabla-vertical .goles-local{display: block;float: left;width: 20%;text-align: center;padding-left:20%;}
.marcador-futbol-tabla-vertical .goles-visitante{display: block;float: right;width: 20%;text-align: center;padding-right:20%;}

	
	
/* CLASIFICACION */
.clasificacion-futbol{font-size:13px;margin-bottom:20px;}
.clasificacion-futbol-simple{max-width:400px;}
.clasificacion-futbol .titulo-tabla{background-color:#004774;color:#fff;font-size:16px;padding:10px;}
.clasificacion-futbol .tabla{width:100%;border-collapse:collapse;border:1px solid #e7e7e7;}
.clasificacion-futbol .tabla th, .clasificacion-futbol .tabla td{padding:6px;border-bottom:1px solid #e7e7e7;}
.clasificacion-futbol .tabla > thead > tr > td{border-bottom:2px solid #e7e7e7;background-color:#fbfbfb;text-align:center;}

.marcador-futbol-tabla-horizontal{width:100%;}
.seccion > .marcador-futbol-tabla-horizontal{margin-top:-3em;}
.marcador-futbol-tabla-horizontal h1{font-size:2em;font-weight:700;color:#000;text-align:center;padding:1em 0 .65em;}
.marcador-futbol-tabla-horizontal button{border:0;width:4.4em;height:14em;font-size:1em;float:left;cursor:pointer;}
.marcador-futbol-tabla-horizontal button:last-child{float:right;}
.marcador-futbol-tabla-horizontal .izquierda-derecha:first-child.marcador-horizontal-inactivo{background:#f4f4f4 url(http://cadenaser.com/estaticos/recursosgraficos/recursosportalcadenaser/img/marcadores-deportivos/ico-carrusel-izq-inactivo.png) center center no-repeat;cursor:default;}
.marcador-futbol-tabla-horizontal .izquierda-derecha:last-child.marcador-horizontal-inactivo{background:#f4f4f4 url(http://cadenaser.com/estaticos/recursosgraficos/recursosportalcadenaser/img/marcadores-deportivos/ico-carrusel-dcha-inactivo.png) center center no-repeat;cursor:default;}
.marcador-futbol-tabla-horizontal .izquierda-derecha:first-child.marcador-horizontal-activo{background:#ddd url(http://cadenaser.com/estaticos/recursosgraficos/recursosportalcadenaser/img/marcadores-deportivos/ico-carrusel-izq-activo.png) center center no-repeat;}
.marcador-futbol-tabla-horizontal .izquierda-derecha:last-child.marcador-horizontal-activo{background:#ddd url(http://cadenaser.com/estaticos/recursosgraficos/recursosportalcadenaser/img/marcadores-deportivos/ico-carrusel-dcha-activo.png) center center no-repeat;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal{width: 20.6em;margin-left:.55em;float:left;height:14.1em;cursor:pointer;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .periodo-horizontal{background:#ededed;width:100%;padding:.6em 0;color:#fff;font-size:2em;line-height:1em;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .periodo-horizontal span{display:block;float:left;width:48%;text-align:center;font-size:.65em;font-style:italic;color:#606060;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .periodo-horizontal span:last-child{float:right;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .equipo-horizontal{width:20.4em;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:.934em 0;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .equipo-horizontal:first-child{border:1px solid #ddd;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .goles-horizontal{display:block;float:right;font-size:2.8em;color:#333;font-weight:600;margin-right:.679em;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .nombre-equipo-horizontal{display:block;float:left;font-size:1.6em;color:#333;font-weight:600;margin:.25em 0 .5em .75em;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal .equipo-horizontal div{float:left;margin-left:1.6em;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal:hover .equipo-horizontal span{color:#23abe9;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal:hover .periodo-horizontal{background:#23abe9;}
.marcador-futbol-tabla-horizontal .encuentro-horizontal:hover .periodo-horizontal span{color:#fff;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal{width:14.9em;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .equipo-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .equipo-horizontal{width:auto;padding:.96em .3em;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .periodo-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .periodo-horizontal{padding:.52em 0;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .goles-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .goles-horizontal{margin-right:.3em;font-size:2.5em;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .equipo-horizontal div, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .equipo-horizontal div{margin-left:.5em;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .nombre-equipo-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal .nombre-equipo-horizontal{font-size:1.5em;margin-left:.5em;}
.portada_movil .marcador-futbol-tabla-horizontal button, .portadilla_movil .marcador-futbol-tabla-horizontal button{height:13.4em;}


.contenido_principal > .section{clear:both;}

.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical table{font-size:1.5em;width:98%;width:margin:0 auto;}
.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical table td{width:auto!important;}
.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical table .nombre-corto{display:none;}
.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical table .nombre{display:inline;}
.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical table tr td{border-bottom:1px solid #f4f4f4;}
.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical .goles-local{padding-left:0;display:inline;float:none;width:auto;}
.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical .goles-visitante{padding-right:0;display:inline;float:none;width:auto;}
.columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical h2, .columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical h3, .movil .contenido_principal .marcador-futbol-tabla-vertical h2, .movil .contenido_principal .marcador-futbol-tabla-vertical h3{display:none;}
.futbol_champions  .columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical h3, .futbol_champions.movil .contenido_principal .marcador-futbol-tabla-vertical h3, 
.futbol_europa_league  .columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical h3, .futbol_europa_league.movil .contenido_principal .marcador-futbol-tabla-vertical h3,
.futbol_copa_del_rey  .columna_principal_y_secundaria .columna_principal .marcador-futbol-tabla-vertical h3, .futbol_copa_del_rey.movil .contenido_principal .marcador-futbol-tabla-vertical h3 
{display: block;}

.cnt-tit-dep{clear:both;}
.cnt-tit-dep h2{width: 100%;text-align:center;font: 700 3em/.75em proximanova;color: #333;padding: 1em 0 0;}
.cnt-tit-dep h3{width: 100%;text-align:center;font: 700 2em/.75em proximanova;color: #333;padding: 1em 0 0;}

.cnt-nav-jor{width:100%;clear:both;}
.cnt-nav-jor h2{font: 700 3em/.75em proximanova;color: #333;float:left;width:100%;text-align:center;padding:.267em 0;background:url(/ser/iconos/v1.x/v1.0/deportes/flecha-abajo.svg) 69% center no-repeat;cursor:pointer;}
.cnt-nav-jor > div{width:64%;float:left;position:relative;text-align:center;}
.cnt-nav-jor > div ul{position: absolute;width:59%;left:12%;top: 100%;padding:5% 10% 5% 7%;border:1px solid #dedede;background:#fff;z-index:1000;margin-top:2%;display:none;}
.cnt-nav-jor > div li{display:block;float:left;width:31%;margin:0 6% 4% 0;font: 600 1.5em/.75em proximanova;color: #333;text-align:left;cursor:pointer;}
.cnt-nav-jor > div li:nth-child(3n){margin-right:0;width:25%;}
.cnt-nav-jor > div li:nth-child(3n+1){clear:both;}
.cnt-nav-jor button{float:left;border:1px solid #dedede;background:#fff;cursor:pointer;font:600 1.5em/.75em proximanova;color:#333;padding:.867em 1em .867em 2em;background:url(/ser/iconos/v1.x/v1.0/deportes/flecha-izda.svg) 10% center no-repeat;margin:0 0 0 1%;width:17%;text-align:right;}
.cnt-nav-jor button:last-child{float:right;background:url(/ser/iconos/v1.x/v1.0/deportes/flecha-dcha.svg) 90% center no-repeat;padding:.867em 2em .867em 1em;margin:0 1% 0 0;text-align:left;}
.cnt-nav-jor button:hover{opacity:.7;}
.cnt-nav-jor button.noactivo{cursor:initial;opacity:.5;}
.movil .cnt-nav-jor{margin-top:1em;}
.movil .cnt-nav-jor button{width:24%;}
.movil .cnt-nav-jor h2{background-position:85% center;}
.movil .cnt-nav-jor > div{width:50%;}
.movil .cnt-nav-jor > div ul{padding:5% 1% 2% 3%;width: 102%;left: -3%;}
.movil .cnt-nav-jor > div li{font-size:1.4em;font-weight:700;width:33%;margin:0 3% 4% 0;}
.movil .cnt-nav-jor > div li:nth-child(3n){margin-right:0;width:26%;}


.clasificacion-jornada{width:98%;font-size:1.4em;margin:2em auto 0;border-collapse: collapse;overflow:hidden;border:2px solid #ddd;}
.movil .clasificacion-jornada{width:95%!important;}
.movil.futbol_champions .clasificacion-jornada, .movil.futbol_europa_league .clasificacion-jornada{width:98%!important;}
.futbol_champions .clasificacion-jornada, .futbol_europa_league .clasificacion-jornada{width:48%;float: left;margin:2em 1% 0;}
.clasificacion-jornada thead tr:first-child{display:none;}
.clasificacion-jornada thead tr:nth-child(3){background:#f4f4f4;}
.clasificacion-jornada thead tr:nth-child(2) th, .clasificacion-jornada thead tr:nth-child(3) th{border:1px solid #ddd;}
.movil .clasificacion-jornada thead tr:nth-child(2) th:nth-child(n+3), .movil .clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+10), .movil .clasificacion-jornada thead tr:nth-child(2){display:none;}
.movil.futbol_champions.clasificacion  thead tr:nth-child(2), .movil.futbol_europa_league.clasificacion  thead tr:nth-child(2){display:table-row;}
.movil .clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+7):nth-child(-n+8){display:none;}
.movil.futbol_champions .clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+7):nth-child(-n+8), .movil.futbol_europa_league .clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+7):nth-child(-n+8){display:table-cell;}
.clasificacion-jornada thead tr:nth-child(3) th:first-child{text-align:left;padding-left:1em;}
.movil .clasificacion-jornada thead tr:nth-child(3) th:first-child{width:50%;}
.clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+3):nth-child(-n+9){border:0;border-bottom:1px solid #ddd;font-weight:400;}
.futbol_champions .clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+2):nth-child(-n+9), .futbol_europa_league .clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+2):nth-child(-n+9){width:2em;}
.clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+11):nth-child(-n+16){border:0;border-bottom:1px solid #ddd;font-weight:400;}
.clasificacion-jornada thead tr:nth-child(3) th:nth-child(n+18):nth-child(-n+24){border:0;border-bottom:1px solid #ddd;font-weight:400;}
.clasificacion-jornada tbody tr td{text-align:center;padding:0 0 10px;}
.clasificacion-jornada tbody tr td:nth-child(4){text-align:left;}
.clasificacion-jornada tbody tr td:nth-child(2){font-weight:700;}
.clasificacion-jornada tbody tr td:nth-child(5), .clasificacion-jornada tbody tr td:nth-child(13), .clasificacion-jornada tbody tr td:nth-child(20){border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f4f4f4;font-weight:bold;}
.clasificacion-jornada tbody tr td img{margin:14px 0 -6px;}
.clasificacion-jornada tr th{padding:.5em 0;text-align:center;}
.clasificacion-jornada tr:first-child th{background:#f4f4f4;}
.clasificacion-jornada tr th:nth-child(9), .clasificacion-jornada tr td:nth-child(12){text-indent:-9999px;visibility:hidden;}
.movil .clasificacion-jornada tr th:nth-child(9), .movil .clasificacion-jornada tr td:nth-child(12){text-indent:0;visibility:visible;}
.movil .clasificacion-jornada tbody tr td:nth-child(1){text-indent:-9999px;}
.movil .clasificacion-jornada tbody tr td:nth-child(n+2):nth-child(-n+4){text-align:left;position:relative;left:-40px;}
.movil .clasificacion-jornada tbody tr td:nth-child(3){left:-80px!important;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(3), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(3){left:-75px!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(4){left:-110px!important;white-space:nowrap;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(4), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(4){left:-100px!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(n+13){display:none;}
.movil .clasificacion-jornada tbody tr td:nth-child(n+10):nth-child(-n+11){display:none;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(n+10):nth-child(-n+11), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(n+10):nth-child(-n+11){display:table-cell;}

.cnt-nav{width:98%;margin:1em auto 0;}
.movil .cnt-nav{margin-top:0;padding-top:1em;}
.cnt-nav ul{width:100%;}
.cnt-nav li{display:block;float:left;width:33%;margin-right:.5%;text-align:center;}
.futbol_copa_del_rey .cnt-nav li, .futbol_champions .cnt-nav li, .futbol_europa_league .cnt-nav li{width:49.75%;}
.fase_grupos .cnt-nav li{width:33%;}
.cnt-nav li:last-child{margin-right:0;}
.cnt-nav li a{font:700 1.6em/.75em proximanova;color:#666;display:block;background:#f4f4f4;padding:1.19em 0;text-transform:uppercase;}
.cnt-nav li.activa a{color:#fff;background:#ccc;}

.cnt-tab-calendario{width:42%;float:left;margin:0 0 1em 5%}
.cnt-tab-calendario:nth-child(2n){float:right;margin:0 5% 1em 0;}
.columna_principal_y_secundaria .columna_principal .cnt-tab-calendario .marcador-futbol-tabla-vertical table{font-size:1.3em;}
.cnt-tab-calendario .cnt-tit-dep h2{font-size:2em;padding:.5em 0 0;}
.columna_principal_y_secundaria .columna_principal .cnt-tab-calendario .marcador-futbol-tabla-vertical .nombre-corto{display:inline;}
.columna_principal_y_secundaria .columna_principal .cnt-tab-calendario .marcador-futbol-tabla-vertical .nombre{display:none;}
.columna_principal_y_secundaria .columna_principal .cnt-tab-calendario .marcador-futbol-tabla-vertical table td:first-child, .columna_principal_y_secundaria .columna_principal .cnt-tab-calendario .marcador-futbol-tabla-vertical table td:last-child, .columna_principal_y_secundaria .columna_principal .cnt-tab-calendario .marcador-futbol-tabla-vertical table td:nth-child(3) {width:18%!important;}
.columna_principal_y_secundaria .columna_principal .cnt-tab-calendario .marcador-futbol-tabla-vertical table td:nth-child(2n) {width:24%!important;}
.columna_principal_y_secundaria .columna_principal .cnt-tab-calendario  .marcador-futbol-tabla-vertical table{margin:0 auto;}

.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3), .portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3){width:28%;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2){padding-top:11px;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2) span{display: block;float: left;text-align: center;width: 45%;top: 0;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2) span:last-child{float: right;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td img{margin:0 .5em 0 0;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3) img{margin:0 0 0 .5em;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa h3{text-indent:0;text-align: center;background: rgba(53,127,177,1);background: -moz-radial-gradient(top center, ellipse cover, rgba(53,127,177,1) 0%, rgba(0,12,61,1) 100%);background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%, rgba(53,127,177,1)), color-stop(100%, rgba(0,12,61,1)));background: -webkit-radial-gradient(top center, ellipse cover, rgba(53,127,177,1) 0%, rgba(0,12,61,1) 100%);background: -o-radial-gradient(top center, ellipse cover, rgba(53,127,177,1) 0%, rgba(0,12,61,1) 100%);background: -ms-radial-gradient(top center, ellipse cover, rgba(53,127,177,1) 0%, rgba(0,12,61,1) 100%);background: radial-gradient(ellipse at top center, rgba(53,127,177,1) 0%, rgba(0,12,61,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#357fb1', endColorstr='#000c3d', GradientType=1 );position: relative;z-index: 1000;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa h3:before	{background: url(http://cadenaser.com/tag/includes/imagenes/E9/fondo-menu-eurocopa.png) top center #007cba no-repeat;background-size: auto 100%;z-index: 1;position: absolute;top: 0;left: 0;display: block;content: " ";width: 100%;height: 31px;opacity: .2;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa h3 span{float:none;padding:0;text-transform: uppercase;position: relative;z-index: 1000;color:#fff;}
.fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa h4.fase-fecha{background:#f1f1f1;font:700 1.82em/.75em 'Lato', arial,sans-serif;color: #333 ;padding: .5em 0 .6em ;text-indent: .5em ;border: 1px solid #fff ;text-align: left;}
.portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2), .portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2){width:15%;}

.portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(4), .portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(4){width:23%;}


.opta-menu {
	margin:0;padding:0;border:0;
	margin-bottom:5px;
	margin-top:1em;
}
.opta-menu .opta-linea-menu{
	line-height:50px;
	background:#f4f4f4;
	font-weight: bold;
}
.opta-menu .opta-opcion{
	display: inline-block;
	font-size:16px;
	text-align:center;
	color:#666;
	border-left:2px solid #FFF;
	*zoom: 1;
	*display: inline;
	width:33.15%!important;
}
.opta-menu .opta-opcion:first-child{border:0;}
.opta-menu .opta-opcion.activa{
	background:#ccc;
	color:#FFF;
}

.cnt_resultados, .cnt_clasificacion{width:100%;position:relative;overflow:hidden;height:480px;}
.cnt_resultados > div, .cnt_clasificacion > div{position:absolute;left:100%;overflow:hidden;width:100%;}
.cnt_clasificacion > div:last-child{left:0;}

.cnt-mar-eurocopa{width:100%;padding:0;margin:0;}
.cnt-mar-eurocopa h2{background: #001121 url(http://cadenaser00.epimg.net/estaticos/recursosgraficos/noticias/2016/06/publi_eurocopa/eurocopa_a.png) 95% center no-repeat;background-size:auto 90%;color: #fff;width:100%;font:700 3em/.75em 'Lato', arial,sans-serif!important;text-transform: uppercase;padding: .34em 0 .3em;text-indent:.34em;margin:0!important;}
.cnt-mar-eurocopa h2 a{color:#fff;}
.cnt-mar-eurocopa h2 a span {font-weight: 100;color: #28a6ec;}
.cnt-mar-eurocopa .cnt-scr-eurocopa{width:100%;height:441px;overflow-y:auto;}
.cnt-mar-eurocopa .cnt-scr-eurocopa h3{background:#f1f1f1;font:700 1.82em/.75em 'Lato', arial,sans-serif;color:#333;padding:.5em 0 .6em;text-indent:.5em;border:1px solid #fff;}
.cnt-mar-eurocopa .cnt-scr-eurocopa h3 span{float:right;padding-right:.5em;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table{width:100%;clear:both;margin-bottom:.83em;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td{padding:.75em 0 .25em;vertical-align:top;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td .nombre-corto{display:none;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td .nombre{font:400 1.5em/.75em 'Lato', arial,sans-serif;color:#000;display:block;float:right;margin:0 .25em;position:relative;top:5px;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td img{float:right;margin:0 .25em;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3) img,	.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3) span{float:left;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3){width:31%;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2){width:110px;text-align:center;color:#000;font:400 1.3em/.75em 'Lato', arial,sans-serif;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(4){width:25%;font:400 1.5em/.75em 'Lato', arial,sans-serif;color:#000;}
.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2) span{font:400 1.3em/.75em 'Lato', arial,sans-serif;position:relative;top:2px;}

.portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3), .portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3){width:35%;}
.portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2), .portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2){width:10%;}
.portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(4), .portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(4){width:20%;}

@media (max-width:599px){
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos, .noticia_movil .marcador-futbol .datos{width:22.2em!important;padding-top:2em!important;}
.portada_movil .marcador-futbol .equipo, .portadilla_movil .marcador-futbol .equipo, .noticia_movil .marcador-futbol .equipo{width:6.5em!important;}
.portada_movil .marcador-futbol .nombre, .portadilla_movil .marcador-futbol .nombre, .noticia_movil .marcador-futbol .nombre{display:none!important;}
.portada_movil .marcador-futbol .nombre-corto, .portadilla_movil .marcador-futbol .nombre-corto, .noticia_movil .marcador-futbol .nombre-corto{display:block!important;font-size:1.6em;padding-top:0;text-align:center;}
.portada_movil .marcador-futbol-tabla-vertical table td:nth-child(2n), .portadilla_movil .marcador-futbol-tabla-vertical table td:nth-child(2n){width:23.2%;}
.portada_movil .marcador-futbol .datos .goles, .portadilla_movil .marcador-futbol .datos .goles, .noticia_movil .marcador-futbol .datos .goles{font-size:5em!important;padding:0 0 .175em!important;}
.portada_movil .marcador-futbol .jornada, .portadilla_movil .marcador-futbol .jornada, .noticia_movil .marcador-futbol .jornada{margin:.8em 0 0;padding:0!important;}
.movil .cnt-nav-jor h2{font-size:2em;padding:.53em 0;}
.movil .cnt-nav-jor button{font-size:1.4em;padding:.867em .5em .867em 1em;background-position:5% 46%;background-size:8%;}
.movil .cnt-nav-jor button:last-child{padding:.867em 1em .867em .5em;background-position:95% 46%;}
.movil .cnt-nav-jor > div ul{width: 141%;left: -24%;margin-top:-1px;}
}
@media (max-width:559px){
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal{width:81%;}
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos, .noticia_movil .marcador-futbol .datos{width: 71%!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(3){left:-70px!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(4){left:-90px!important;}
}
@media (max-width:480px){
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal{width:79%;}
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos, .noticia_movil .marcador-futbol .datos{width: 71%!important;}
}
@media (max-width:415px){
.movil .clasificacion-jornada tbody tr td:nth-child(2){left:-30px!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(3){left:-55px!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(4){left:-75px!important;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(2), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(2){left:-30px!important;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(3), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(3){left:-55px!important;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(4), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(4){left:-70px!important;}
.portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(4), .portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(4){width:25%;}
.portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3), .portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3){width:21%;}

.portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td .nombre-corto, .portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td .nombre-corto{font:400 1.5em/.75em 'Lato', arial,sans-serif;color:#000;display:block;float:right;margin:0 .25em;position:relative;top:5px;}
.portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td .nombre, .portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td .nombre{display:none;}
.portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3), .portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3){width:16%;}
.portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2), .portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2){width:9%;}

.portada_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3) span, .portadilla_movil .cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3) span{float:left;}
}
@media (max-width:414px){
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos{width:25.4em!important;}
.noticia_movil .marcador-futbol .datos{width:27.4em!important;}
.portada_movil .marcador-futbol-tabla-vertical .nombre, .portadilla_movil .marcador-futbol-tabla-vertical .nombre{display:none;}
.portada_movil .marcador-futbol-tabla-vertical .nombre-corto, .portadilla_movil .marcador-futbol-tabla-vertical .nombre-corto{display:inline;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal{width:76%;}
}
@media (max-width:413px){
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos{width:22.4em!important;}
.noticia_movil .marcador-futbol .datos{width:24.4em!important;}
.movil .cnt-nav li a{font-size:1.4em;}
.movil .cnt-tit-dep h2{font-size:2.5em;}
.movil .cnt-nav-jor button{width:12%;font-size:1.3em;background-size:24%;}
.movil .cnt-nav-jor button span, .movil .cnt-nav-jor > div li span{display:none;}
.movil .cnt-nav-jor > div{width:74%;}
.movil .cnt-nav-jor h2{font-size: 1.6em;padding: .6em 0 1em;background-size: 6%;background-position: bottom center;}
.movil .cnt-nav-jor > div ul{width: 55%;left: 22%;margin-top: 7px;}
.movil .cnt-nav-jor > div li{width:18%;margin:0 2% 6% 0;text-align:center;}
.movil .cnt-nav-jor > div li:nth-child(3n+1){clear:none;}
.movil .cnt-nav-jor > div li:nth-child(3n){margin-right:2%;width:18%;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(2), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(2){left:-25px!important;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(3), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(3){left:-45px!important;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(4), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(4){left:-55px!important;}
.portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2), .portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2){width:19%;}
}
@media (max-width:384px){
.noticia_movil .marcador-futbol .datos{width: 24.3em!important;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal{width:74%;}
}
@media (max-width:375px){
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos{width:21.4em!important;}
.noticia_movil .marcador-futbol .datos{width:23.4em!important;}
.portada_movil .marcador-futbol-tabla-vertical table td:first-child, .portadilla_movil .marcador-futbol-tabla-vertical table td:first-child{padding: 0;width: 3.417em;}
.portada_movil .marcador-futbol-tabla-vertical table td:nth-child(2n), .portadilla_movil .marcador-futbol-tabla-vertical table td:nth-child(2n){width:21.6%;}
.portada_movil .marcador-futbol-tabla-vertical table td:nth-child(2), .portadilla_movil .marcador-futbol-tabla-vertical table td:nth-child(2){width:29.3%;}
.portada_movil .marcador-futbol-tabla-vertical table td:last-child, .portadilla_movil .marcador-futbol-tabla-vertical table td:last-child{padding:0;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal{width:73%;}
}
@media (max-width:374px){
.movil .clasificacion-jornada tbody tr td:nth-child(2){left:-20px!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(3){left:-40px!important;}
.movil .clasificacion-jornada tbody tr td:nth-child(4){left:-50px!important;}
.movil .cnt-tit-dep h2{font-size:2em;}
.movil .cnt-nav li a{font-size:1.2em;}
.movil .futbol_champions .clasificacion-jornada, .movil .futbol_europa_league .clasificacion-jornada{font-size:1.3em;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(3), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(3){left:-44px!important;}
.movil.futbol_champions .clasificacion-jornada tbody tr td:nth-child(4), .movil.futbol_europa_league .clasificacion-jornada tbody tr td:nth-child(4){left:-51px!important;}
.movil .cnt-nav-jor > div ul{width: 75%;left: 9%;}
.portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3), .portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(1), .portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(3){width:17%;}
.portadilla_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2), .portada_movil .fase-final.cnt-mar-eurocopa .cnt-scr-eurocopa table td:nth-child(2){width:17%;}
}
@media (max-width:360px){
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos{width:20.4em!important;}
.noticia_movil .marcador-futbol .datos{width:22.4em!important;}
.portada_movil .marcador-futbol-tabla-vertical table td:nth-child(2), .portadilla_movil .marcador-futbol-tabla-vertical table td:nth-child(2){width:28.4%;}
}
@media (max-width:320px){
.portada_movil .marcador-futbol .datos, .portadilla_movil .marcador-futbol .datos{width:16.4em!important;}
.noticia_movil .marcador-futbol .datos{width:18.4em!important;}
.portada_movil .marcador-futbol-tabla-vertical table td:nth-child(2), .portadilla_movil .marcador-futbol-tabla-vertical table td:nth-child(2){width:27.4%;}
.marcador-futbol-tabla-vertical table td:nth-child(3n){width:3em;}
.portada_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal, .portadilla_movil .marcador-futbol-tabla-horizontal .encuentro-horizontal{width:69%;}
}
@media (max-width:560px){
	.clasificacion-jornada tr th:nth-child(n+10), .clasificacion-jornada tr:nth-child(2) th:nth-child(n+3), .clasificacion-jornada tr td:nth-child(n+13){display:none;}
}