/* pie comun v4 */
#pie-comun9 .inside {background:url(https://www.prisacom.com/comunes/piecomun-v9/imgs/piev9-2013_light.png?v2) no-repeat 0 0;border-top:1px solid #f0f0f0;padding:0;position:relative;width:993px;height:116px;margin:0 auto;position:relative;text-align:left;border-bottom:1px solid #D2D2D2;}
#pie-comun9 a{display:block;text-indent:-9999px;overflow:hidden;color:#000;text-decoration:none;text-align:left;}
#pie-comun9 a:hover{text-decoration:underline}
#pie-comun9 .medios-destacados,
#pie-comun9 .muestra-medios {float:left;width:auto;display:inline}
#pie-comun9 .medios-destacados ul{margin-left:215px;width:775px;margin-top:5px;margin-bottom:0;overflow:hidden; padding:0}
#pie-comun9 .medios-destacados ul.primerafila{padding-top:10px}
#pie-comun9 .medios-destacados ul li{display:inline; float:left; background:none; margin:0 6px 0 0; padding:0}
* html #pie-comun9 div, * html #pie-comun9 ul, * html #pie-comun9 ol,  * html #pie-comun9 li  {height:auto}
*:first-child+html #pie-comun9 div, *:first-child+html #pie-comun9 ul, *:first-child+html #pie-comun9 ol, *:first-child+html #pie-comun9 li {height:auto;} 
#pie-comun9 #pc_prisa{  height: 57px;
    left: 18px;
    position: absolute;
    top: 15px;
    width: 144px;}

#pie-comun9 #pc_elpais{width:105px; height:25px}
#pie-comun9 #pc_as{width:55px; height:25px}
#pie-comun9 #pc_cincodias{width:82px; height:25px}
#pie-comun9 #pc_santillana{width:100px; height:25px}
#pie-comun9 #pc_elviajero,#pie-comun9 #pc_smoda{width:53px; height:25px}
#pie-comun9 #pc_clasificados{width:65px; height:25px}
#pie-comun9 #pc_compartir,#pie-comun9 #pc_inn{width:100px; height:25px}
#pie-comun9 #pc_plus{width:70px; height:25px}

#pie-comun9 #pc_tvi{width:75px; height:25px}
#pie-comun9 #pc_tvi24{width:63px; height:25px}
#pie-comun9 #pc_ser{width:60px; height:25px}
#pie-comun9 #pc_los40{width:75px; height:25px}
#pie-comun9 #pc_caracol{width:70px; height:25px} 
#pie-comun9 #pc_adn{width:65px; height:25px} 
#pie-comun9 #pc_wradio{width:51px; height:25px} 
#pie-comun9 #pc_continental{width:50px; height:25px}
#pie-comun9 #pc_maxima{width:46px; height:25px}
#pie-comun9 #pc_m80{width:60px; height:25px}
#pie-comun9 #pc_radiole{width:60px; height:25px} 
#pie-comun9 #pc_dial{width:50px; height:25px} 

#pie-comun9 #pc_alfaguara{width:70px; height:25px;display:none}
#pie-comun9 #pc_uno{width:52px; height:25px}
#pie-comun9 #pc_icon{width:65px; height:25px;}
#pie-comun9 #pc_verne,#pie-comun9 #pc_planeta{width:70px; height:25px;} 
#pie-comun9 #pc_plural{width:71px; height:25px} 
#pie-comun9 #pc_loqueleo,#pie-comun9 #pc_tareasymas{width:70px; height:25px;}

#pie-comun9 #pc_huffington{width:158px; height:25px} 
#pie-comun9 #pc_meristation{width:100px; height:25px}
#pie-comun9 #pc_parasaber{width:65px; height:25px;}
#pie-comun9 #pbt-medios{height: 24px;
    left: 18px;
    position: absolute;
    top: 80px;
    width: 143px;}


#pie-comun9 #pc_kebuena{width:82px; height:25px;}
#pie-comun9 #pc_yesfm,#pie-comun9 #pc_podium{width:60px; height:25px;}
#pie-comun9 #pc_richmond{width:80px; height:25px;}
#pie-comun9 #pc_moderna{width:77px; height:25px;}
#pie-comun9 #pc_clasificados,#pie-comun9 #pc_comercial{width:57px; height:25px;}

/* pie capa medios */
#pie-comun9 a#cierrame {background: url(https://www.prisacom.com/comunes/piecomun-v9/imgs/pc-bgs.gif) no-repeat 0 -22px;width:64px;height:21px;line-height:21px;overflow:hidden;display:block;text-indent:-9999px}
#pie-comun9 #capa-webs-grupo {position:absolute;z-index:200;/*top:-271px;*/bottom:0;right:0}
#pie-comun9 .muestra-medios {margin-top:40px;margin-left:25px;position:relative;font:400 12px Arial;color:#333}
#pie-comun9 .muestra-medios a{text-indent:0}

#pie-comun9 .muestra-medios .capa-medios {background:#e9e9e9 url(https://www.prisacom.com/comunes/piecomun-v9/imgs/pc-bgs.gif) repeat-x 0 -44px;height:311px;width:993px;display:none}
#pie-comun9 .muestra-medios.activado .capa-medios {display:block}

#pie-comun9 .muestra-medios.activado .capa-medios .pc-sombreado {background:#fafafa url(https://www.prisacom.com/comunes/piecomun-v9/imgs/pc-bgs.gif) repeat-x 0 -72px;height:37px;width:100%;margin-top:1px;position:relative;_border-top:1px solid #999}
#pie-comun9 .muestra-medios.activado .capa-medios .pc-sombreado #cierrame2{ background:url(https://www.prisacom.com/comunes/piecomun-v9/imgs/pc-bgs.gif) no-repeat scroll 25px 7px transparent;height:29px;overflow:hidden;text-indent:-9999px; }

#pie-comun9 .muestra-medios .capa-medios h3 {padding:0 0 0 11px;font-weight:400;line-height:29px; margin:0}
#pie-comun9 .muestra-medios .capa-medios h3 a {float:right;font-size:12px;margin-right:3px}

#pie-comun9 #empresa2{display:none}

#pie-comun9 .cabecera-capa {padding:3px;border:1px solid #999;border-width:1px 1px 0;height:20px}
#pie-comun9 .muestra-medios .cabecera-capa h3{float:left;line-height:20px; color:#000000}
#pie-comun9 .cabecera-capa a{float:right}

/* cmy-K */
#pie-comun9.version-k .inside {background:url(https://www.prisacom.com/comunes/piecomun-v9/imgs/piev9-2013_dark.png?v2) no-repeat 0px 0;border-top:0; border-bottom:0}
#pie-comun9.version-k a#cierrame {background: url(https://www.prisacom.com/comunes/piecomun-v9/imgs/k-pc-bgs.gif) no-repeat 0 -22px}
#pie-comun9.version-k .muestra-medios .capa-medios {background:#2c2c2c url(https://www.prisacom.com/comunes/piecomun-v9/imgs/k-pc-bgs.gif) repeat-x 0 -44px;}
#pie-comun9.version-k .muestra-medios.activado .capa-medios .pc-sombreado {background:#000 url(https://www.prisacom.com/comunes/piecomun-v9/imgs/k-pc-bgs.gif) repeat-x 0 -72px;margin-top:1px;}
#pie-comun9.version-k .muestra-medios.activado .capa-medios .pc-sombreado #cierrame2{ background:url(https://www.prisacom.com/comunes/piecomun-v9/imgs/k-pc-bgs.gif) no-repeat scroll 55px 8px transparent;}
#pie-comun9.version-k .muestra-medios .cabecera-capa h3{color:#fff;font-weight:bold;}
#pie-comun9.version-k .cabecera-capa {border:1px solid #141414;}


/* responsive */
@media (max-width: 993px){
	#pie-comun9 .inside{width: 100%;border-top:1px solid #eee;border-bottom:1px solid #eee; background:url("https://www.prisacom.com/comunes/piecomun-v9/imgs/pie-responsive.png") no-repeat 50% 0;}
	#pie-comun9.version-k .inside{background:url("https://www.prisacom.com/comunes/piecomun-v9/imgs/pie-responsive-dark.png") no-repeat 50% 0;}
	#pie-comun9 #pc_prisa{left: 50%;margin-left: -72px;}
	#pie-comun9 #pbt-medios{left: 50%;margin-left: -71px;}
	#pie-comun9 .medios-destacados>ul{display: none;}
	#pie-comun9 #capa-webs-grupo,
	#pie-comun9 .muestra-medios .capa-medios,
	#pie-comun9 .muestra-medios .capa-medios iframe{width: 100%;}
}