﻿.contenido_principal .section:first-child {margin-top:0;}
.portadilla .columna_principal .section,
.programa .columna_principal .section{margin-top:1.5em;}


/*  ============================================================================================================================  APERTURA*/
.destacado_apertura { overflow:hidden;position:relative; }
.destacado_apertura .encabezado {min-height:5.5em;}
.destacado_apertura .encabezado .nav li {list-style-type: none;display: block;float: left; position:relative; }
.destacado_apertura .encabezado .nav li.primero{font:3.6em/1em 'proximanova', Arial, Helvetica, sans-serif; font-weight:700; margin-right:0.2em;}
.destacado_apertura .encabezado .nav li a {padding: 0.75em 1em 0 1em;display: block;color:#232323;font:1.2em/1.2em 'proximanova', Arial, Helvetica, sans-serif; font-weight:700; border:1px solid #e7e7e3; border-radius:4px; margin:0 3px; text-transform:uppercase; height:2em;}
.destacado_apertura .encabezado .nav li a:hover, .destacado_apertura .encabezado .nav li.activo a {background:#232323; color:#fff;}
.destacado_apertura .encabezado .nav li .triangulo {border-left: 15px solid transparent;border-right: 15px solid transparent; border-top-style: solid;border-top: 15px solid #232323; bottom: -10px; display: block; height: 0;left: 50%; position: absolute;width: 0; z-index: 100; margin-left:-15px; display:none;}
.destacado_apertura .encabezado .nav li a:hover .triangulo, .destacado_apertura .encabezado .nav li.activo .triangulo{display:block;}

.contenedor_rotatore {width:2000em; position:relative;}
.contenedor_rotatore .info_destacada{ padding:2.3em 1.5em 1.5em; float:right; width:42em; }
.contenedor_rotatore .article {padding: 0;float:left; width:111.5em; background:#fff; position:relative; border-top:1.5em solid #e7e7e3; border-bottom:1.5em solid #e7e7e3; border-right:1.9em solid #e7e7e3; border-left:1.9em solid #e7e7e3; }
.contenedor_rotatore .centro,
.contenedor_rotatore .izquierda{float:left; width:66.3em;}
.contenedor_rotatore .derecha{float:right; width:66.3em;}
.contenedor_rotatore .centro img{width: 100%; max-width:66.3em; height: auto; display: block;}
.contenedor_rotatore .article .antetitulo{margin-bottom:0.2em; }
.contenedor_rotatore .article h2{margin: 0 0 0.5em 0;font-family:'proximanova', Arial, Helvetica, sans-serif; font-size:4.1em; line-height:1.1em; font-weight:600;}
.contenedor_rotatore .article h2 a {color: #000;}
.contenedor_rotatore .article h2 a:hover{color:#000;}
.contenedor_rotatore .article p {font-size:1.9em; line-height:1.2em; color:#333;  padding:0; margin-bottom:0.2em; }
.contenedor_rotatore .article p a{color:#333;}
.contenedor_rotatore .article p.figcaption {padding:0.5em; background:#f5f5f5; margin:0; border:0; width:54.2em;font-size: 1.2em;line-height: 1.1em;}
.contenedor_rotatore .article .foto_destacada p.figcaption {width:100%; }
.contenedor_rotatore .article .caja_info {border:0; margin:0;}
.contenedor_rotatore .article a.comentarios {margin-top: .74em;}

/*  ============================================================================================================================  APERTURA urgente y exclusiva*/
.contenedor_rotatore .article.urgente .centro,
.contenedor_rotatore .article.urgente .izquierda,
.contenedor_rotatore .article.urgente .derecha,
.contenedor_rotatore .article.exclusiva .centro,
.contenedor_rotatore .article.exclusiva .izquierda,
.contenedor_rotatore .article.exclusiva .derecha{width: 88.9em;}
.contenedor_rotatore .article.urgente .centro img,
.contenedor_rotatore .article.exclusiva .centro img{width: 100%; max-width:88.9em; height: auto;}
.contenedor_rotatore .article.urgente .info_destacada,
.contenedor_rotatore .article.exclusiva .info_destacada{ padding:2.3em 1.5em; float:right; width:19.5em; }
.contenedor_rotatore .article.urgente p,
.contenedor_rotatore .article.exclusiva p {font:2.1em/1.1em 'proximanova', Arial, Helvetica, sans-serif; font-weight:600;  color:#fff; }
.contenedor_rotatore .article.urgente p a,
.contenedor_rotatore .article.exclusiva p a{color:#fff}
.contenedor_rotatore .article.urgente .antetitulo,
.contenedor_rotatore .article.exclusiva .antetitulo{height:1.5em; border-radius:30px; color:#fff; font:2.5em/1em 'proximanova', Arial, Helvetica, sans-serif; padding:0.6em 1.1em 0 1.1em; position:absolute; bottom:145px; left:-830px; z-index:102;}
.contenedor_rotatore .article.urgente .antetitulo a,
.contenedor_rotatore .article.exclusiva .antetitulo a{background-image: none; padding-right: 0;}
.contenedor_rotatore .article.urgente  h2,
.contenedor_rotatore .article.exclusiva  h2{margin:0;font:7.2em 'proximanova', Arial, Helvetica, sans-serif; font-weight:700;padding:0.1em 0.5em 0 0.5em; position:absolute; bottom:55px; left:-885px;border-radius:100px; color:#fff; background:url(/ser/iconos/v1.x/v1.0/varios/bg_2e2e2e.png) ; height:1.35em; max-width: 11.1em; z-index:100;}
.contenedor_rotatore .article.urgente h2 a,
.contenedor_rotatore .article.exclusiva h2 a{color:#fff;}
.article.urgente .firma_comentarios,
.article.exclusiva .firma_comentarios,
.article.urgente .firma,
.article.exclusiva .firma {color: #000; margin-top:1em; }
.article.urgente .firma_comentarios a,
.article.exclusiva .firma_comentarios a {color: #000;}
.contenedor_rotatore .article.urgente .caja_info,
.contenedor_rotatore .article.exclusiva .caja_info {position:absolute; bottom:2em; right:1.2em; width:20em;}

.contenedor_rotatore .article.urgente  {background:#e01012; min-height:23em;}
.contenedor_rotatore .article.urgente .antetitulo{background:#e01012;}
.contenedor_rotatore .article.exclusiva  {background:#FDBE00;min-height:23em;}
.contenedor_rotatore .article.exclusiva .antetitulo{background:#FDBE00;}
.contenedor_rotatore .article.exclusiva .modulo_compartir a.boton.compartir,
.contenedor_rotatore .article.urgente .modulo_compartir a.boton.compartir {background-position:-1px -50px; border-color: #fff;}
.contenedor_rotatore .article.exclusiva .modulo_compartir .capa_compartir a.boton.compartir,
.contenedor_rotatore .article.urgente .modulo_compartir .capa_compartir a.boton.compartir {background-position:-1px -1px;}
.contenedor_rotatore .article.exclusiva .modulo_compartir .capa_compartir,
.contenedor_rotatore .article.urgente.modulo_compartir .capa_compartir {border-color: #fff;}
.contenedor_rotatore .article.urgente .firma a,
.contenedor_rotatore .article.exclusiva .firma a {color: #000;}
.contenedor_rotatore .article.urgente .apoyos li.ancho_completo,
.contenedor_rotatore .article.exclusiva .apoyos li.ancho_completo {background-color: #fff;}
.contenedor_rotatore .article.urgente a.comentarios,
.contenedor_rotatore .article.exclusiva a.comentarios {background-image: url(/ser/iconos/v1.x/v1.0/varios/ico_comentarios_blanco.png); color: #fff;}



/*  ============================================================================================================================  GENERICOS*/
.menu_desplegable {position:relative; float:left;}
.menu_desplegable .boton_menu_section,
.menu_desplegable .boton_menu_desplegable {font:3em/1em 'proximanova', Arial, Helvetica, sans-serif; color:#232323; padding-right:1em;  }
.menu_desplegable .boton_menu_section:hover,
.menu_desplegable .boton_menu_desplegable:hover {opacity:0.5; }
.menu_desplegable .boton_menu_section{background:url(/ser/iconos/v1.x/v1.0/varios/triangulo_bottom.png) no-repeat right 16px; margin-left:0.3em;}
.menu_desplegable .boton_menu_desplegable {background:url(/ser/iconos/v1.x/v1.0/varios/triangulo_top.png) no-repeat right 16px; }
.capa_menu_desplegable {border:1px solid #e0e0e0; padding:14px 18px 30px 18px;  min-width:32.5em; min-height:16em; position:absolute; top:-15px; left:-10px; background:#fff; display:none; -moz-box-shadow: -1px -1px 5px #e0e0e0;-webkit-box-shadow: -1px -1px 5px #e0e0e0;box-shadow:-1px -1px 5px #e0e0e0; z-index:900; max-height:35em;}
.capa_menu_desplegable ul{margin-top:2em; max-height:20em; overflow:auto;}
.capa_menu_desplegable li a {font:1.6em/1.3em 'proximanova', Arial, Helvetica, sans-serif; color:#232323; padding:0.5em 0.8em; background:#f8f8f8; margin-bottom:0.5em; display:block;}
.capa_menu_desplegable li a:hover, .capa_menu_desplegable li.activo a {background:#e7e7e3;}

/*  ============================================================================================================================  NOTICIAS*/
.noticias {border-bottom:1px solid #e7e7e3;border-top:1px solid #e7e7e3;}
.noticias .contenedor_generico{display: table-cell; background:#fff; padding:0 0.3em;}
.noticias .contenedor_generico .inner.destacado > div{padding-top:1.5em;}
.noticias .article {border-top:1px solid #e7e7e3;}
.noticias .article .miniatura {margin-top: 2em;}

.noticias .aside{display: table-cell; width:45.2em; vertical-align: middle;}
.noticias .contenedor_generico{}

.noticias .contenedor_generico { width:69em; border-right:1px solid #e7e7e3;}
.noticias .destacado .article {border:0;}
.noticias .destacado .article .miniatura {margin-top: 0;}
.noticias .contenedor_generico .mod_txt{margin:1.6em 0; }
.noticias .contenedor_generico .col_1 .mod_txt{width:21.1em;}
.noticias .contenedor_generico .col_2 .mod_txt{width:43.7em;}
.noticias .contenedor_generico .col_3 .mod_txt{width:66.3em;}

.portadilla .section .noticias .encabezado {padding-left: 2.9em;}
.portadilla .noticias .contenedor_generico{float: none; border-spacing: 0.1em 0; padding: 0; border-right: 0;}
.portadilla .noticias .inner {background-color: #e7e7e3; margin-left: -1px; width: 80.9em;}
.portadilla .noticias .inner .article {padding: 0 2.9em; margin-left: 2.9em;}

/*  ============================================================================================================================  DEPORTES (TEMATICO) */

.tematico .destacada,
.tematico .secundaria{display:table-cell; vertical-align:top; background:#fff;}
.tematico .contenedor_generico .destacada .article,
.tematico .contenedor_generico .secundaria .article {display:block;}
.tematico .aside {display:table-cell; vertical-align:middle; background:#fff;}
.tematico .secundaria,
.tematico .aside {width:32.5em;}
.tematico .secundaria iframe{max-width:325px;}

/* tematico secundarias en portadilla tag */

.portadilla .tematico .secundarias .col_1 .mod_txt {width: 15.05em;}
.portadilla .tematico .secundarias .col_1 {width: 18.1em;}

/*  ============================================================================================================================  PROGRAMAS EN PORTADILLA DE TAG */

.portadilla .programas .col_3 .mod_txt {width: 54.5em;}
.portadilla .programas .col_2 .mod_txt {width: 34.9em;}
.portadilla .programas .col_1 .mod_txt {width: 15.1em;}
.portadilla .programas .col_3 {width: 57.9em;}
.portadilla .programas .col_2 {width: 38.1em;}
.portadilla .programas .col_1 {width: 18.5em;}

/*  ============================================================================================================================  DESTACADAS ROBA */

.destacadas_roba .destacada,
.destacadas_roba .secundaria,
.destacadas_roba .aside{display:table-cell; vertical-align:top; background:#fff;}
.destacadas_roba .contenedor_generico .destacada .article,
.destacadas_roba .contenedor_generico .secundaria .article {display:block;}
.destacadas_roba .secundaria,
.destacadas_roba .aside {width:32.5em;}
.destacadas_roba .aside {vertical-align:middle;}
.destacadas_roba .col_3 {width: 77.8em;}
.destacadas_roba .col_3 .figure img {width: 100%; max-width: 77.8em; height: auto;}
.destacadas_roba .col_3 .mod_txt {width: auto;}

/*  ============================================================================================================================  especiales borrar de portadilla =======================================================================================================================*/
.especial_uno .encabezado{background:#3E4348; border-bottom:1px solid #FDBE00;}
.especial_uno .encabezado h3 {color:#fff; text-transform:uppercase; font-size:4em; color:#FDBE00}
.especial_uno .encabezado h3 a{color:#FDBE00}
.especial_dos .encabezado{background:#fff; height:6.6em; padding:0;background:url(/ser/iconos/v1.x/v1.0/img_prueba/titular_prueba.png) no-repeat center top;}
.especial_dos .encabezado h3 {text-indent:-9999px;}

.destacado_mosaico.especial_uno .contenedor_mosaico{background:#3E4348;}
.destacado_mosaico.especial_dos .contenedor_mosaico{background:#fff;}
.destacado_mosaico.especial_dos .article{background:#f5f5f5;}
.destacado_mosaico.especial_dos .contenedor_mosaico .col_1.row_2 .mod_txt,
.destacado_mosaico.especial_dos .contenedor_mosaico .col_1.row_3 .mod_txt{background:#f5f5f5;}


.noticias.especial_uno,
.noticias.especial_uno .contenedor_generico,
.noticias.especial_uno .contenedor_generico .article{background:#3E4348;}
.noticias.especial_uno .article,
.noticias.especial_uno .contenedor_generico {border-color:#333;}
.noticias.especial_uno .article p,
.noticias.especial_uno .article p a,
.noticias.especial_uno .article a.comentarios {color:#fff;}
.noticias.especial_uno .article h2,
.noticias.especial_uno .article h2 a {color:#e2e2e2}
.noticias.especial_uno .aside .envoltorio_publi {background:none; border:0;}
.noticias.especial_uno .article .antetitulo a,
.noticias.especial_uno .article .antetitulo {color:#FDBE00}
.noticias.especial_uno .article .firma,
.noticias.especial_uno .article .firma a,
.noticias.especial_uno .article .actualizado{color:#f5f5f5;}
.noticias.especial_uno  a.comentarios {background: url(/ser/iconos/v1.x/v1.0/varios/ico_comentarios_blanco.png) no-repeat right 0;color: #FFFFFF;}
.noticias.especial_dos .contenedor_generico{background:#f5f5f5; padding-top:1.5em;}
.noticias.especial_dos .article{background:#f5f5f5;}

.especial_uno .encuesta .encabezado,
.especial_dos .encuesta .encabezado{background:#fff; border-bottom:0; height:auto; background:none;}

/*  ============================================================================================================================  OCIO*/
.ocio .contenedor_mosaico{display: table-cell; width:68em; padding:0 0 0 1.8em; ; max-height:100em;}
.ocio .aside { display: table-cell; vertical-align: middle; width: 45.2em;}
.contenedor_mosaico.cuadrado{background-color: transparent; }
.contenedor_mosaico.cuadrado .col_1{width:21.1em;margin-right:1.5em;height:21.1em; margin-bottom:1.5em;}
.contenedor_mosaico.cuadrado .col_1 .mod_txt {height:19.1em; width: 17.9em;}
.contenedor_mosaico.cuadrado .col_1 .figure img{max-height:21.1em;}
.contenedor_mosaico.cuadrado .col_1 .cont_txt {display:table-cell; height:19em;}
.cuadrado .sin_foto .mod_txt{display:block; background:none;}
.cuadrado .sin_foto .antetitulo,
.cuadrado .sin_foto .antetitulo a{color:#000;}
.cuadrado .sin_foto h2{font:2.1em/1.1em 'proximanova',Arial,Helvetica,sans-serif ;font-weight: 600; color:#000;}
.cuadrado .sin_foto h2 a{color:#000;}
.cuadrado .sin_foto.opinion h2 { font-style: italic; }

.contenedor_mosaico.cuadrado .article {background:#e7e7e3;}

.contenedor_mosaico.cuadrado .article:nth-child(4),
.contenedor_mosaico.cuadrado .article:nth-child(5),
.contenedor_mosaico.cuadrado .article:nth-child(6) {background:#fdbd00;}

.contenedor_mosaico.cuadrado .article:nth-child(4) .modulo_compartir a.boton.compartir,
.contenedor_mosaico.cuadrado .article:nth-child(5) .modulo_compartir a.boton.compartir,
.contenedor_mosaico.cuadrado .article:nth-child(6) .modulo_compartir a.boton.compartir {background-position:-1px -51px;}

.portadilla .ocio .contenedor_mosaico {width: 81em; padding: 0;}
.portadilla .section .ocio .encabezado {padding-left: 2.9em;}
.portadilla .ocio .contenedor_mosaico.cuadrado .article {border: 1px solid #e7e7e3; padding: 2.9em; margin: -0.1em; background-color: #fff;}
.portadilla .ocio .contenedor_mosaico.cuadrado .article.sin_foto .mod_txt {background:#fdbd00;}
.portadilla .ocio .contenedor_mosaico.cuadrado .col_1 .mod_txt {top: 2.9em; left: 2.9em;}


/*  ============================================================================================================================  emisoras*/
.emisoras .article {height:32.5em;}
.emisoras .article h2 {font:1.6em/1.4em 'proximanova',Arial,Helvetica,sans-serif; font-weight:700;}
.emisoras .article .antetitulo {margin-bottom:0.2em;}

/*  ============================================================================================================================  redes*/

.redes .encabezado {padding-top: 0;}
.redes .encabezado h3 {float: left; line-height: 1.85em;}
.redes .encabezado .pestanas {float: left; padding-top: 0;}
/* pestanas */

.redes .pestanas {background-color: transparent;}
.redes .pestanas ul.ordenacion li a {font-size: 2.5em;}
.redes .pestanas ul.ordenacion li a:hover,
.redes .pestanas  ul.ordenacion li a.activo {background-color: #e7e7e3;}

.redes .article h2 {font:1.6em/1.4em 'proximanova',Arial,Helvetica,sans-serif; font-weight:400;}
.redes p {margin-bottom:0.2em;}
.redes .cont_number {width:100%; display:block; height:4.6em; margin-left:1.6em;  }
.redes .number {font: 700 6.6em/1em 'proximanova',Arial,Helvetica,sans-serif; color:#e7e7e3; display:block; position:absolute; bottom:0;}
/*  ============================================================================================================================  URGENTE*/
.destacado_especial {/*border-top:1px solid #E5E5E5;*/ border-bottom:1px solid #E5E5E5; padding:1.3em 1.9em;}
.destacado_especial .article.urgente {padding:0 0 0 22.5em;background:url(/ser/iconos/v1.x/v1.0/varios/urgente_g.png) no-repeat 0 0;min-height:16em;}
.destacado_especial .article.exclusiva {padding:0 0 0 22.5em;background:url(/ser/iconos/v1.x/v1.0/varios/exclusiva_g.png) no-repeat 0 0;min-height:16em;}
.destacado_especial .article h2 {font-family:'proximanova',Arial,Helvetica,sans-serif; font-weight:700; color:#000; margin-bottom:0.3em;font-size:5.4em; line-height:1em }
.destacado_especial .article h2 a{color:#000;}
.destacado_especial .article p {font:1.9em/1.3em 'proximanova', Arial, Helvetica, sans-serif; font-weight:400;  color:#333;}
.destacado_especial .article .miniatura{float:left; margin-right:1.4em; width:21.1em; height:auto;}
.destacado_especial .article .miniatura img{width: 100%;}
.destacado_especial .article h2.mas_2 {font-size:7.4em; margin-bottom:0.2em; }
.destacado_especial .article h2.mas_1 {font-size:6.4em; margin-bottom:0.2em;}
.destacado_especial .article h2.menos_1 {font-size:3.8em;}
.destacado_especial .article h2.menos_2 {font-size:2.9em; }

/*  ============================================================================================================================  valoraciones*/
.contenedor_valoraciones{border-top:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5; padding:1.3em 0;}
.contenedor_valoraciones .article {width:21.1em; float:left; margin-left:1.6em;}
.contenedor_valoraciones .article img {width: 100%; max-width:20.5em; height:auto; border-radius:20px; border:3px solid #f4f4f3; }
.contenedor_valoraciones .caja_info{width:17.9em; height:15.7em; border-radius:20px; background-color:#f4f4f3; padding:1.1em 0; position:relative;padding:1.1em 1.6em; margin-top:1.6em;background-image:url(/ser/iconos/v1.x/v1.0/numeros.png); background-repeat:no-repeat;}
.contenedor_valoraciones .triangulo {border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #f4f4f3; top: -15px;display: block;height: 0;left: 14.7em;position: absolute; width: 0;z-index: 100;}
.contenedor_valoraciones .pos_1 .caja_info{background-color:#fdbd00;}
.contenedor_valoraciones .pos_1 .triangulo {border-bottom: 15px solid #fdbd00;}
.contenedor_valoraciones .pos_2 .caja_info, .contenedor_valoraciones .pos_4 .caja_info {margin-top:0; margin-bottom:2em;}
.contenedor_valoraciones .pos_2 .triangulo, .contenedor_valoraciones .pos_4 .triangulo {top:17.9em; left: 4em; border-bottom:0; border-top: 15px solid #f4f4f3;}
.contenedor_valoraciones .mod_txt{ overflow:hidden; width:17.9em; height:13.5em; margin:0;}
.contenedor_valoraciones .pos_1 .caja_info  {background-position:17px 120px;}
.contenedor_valoraciones .pos_2 .caja_info  {background-position:20px -45px;}
.contenedor_valoraciones .pos_3 .caja_info  {background-position:20px -230px;}
.contenedor_valoraciones .pos_4 .caja_info  {background-position:-205px 120px;}
.contenedor_valoraciones .pos_5 .caja_info  {background-position:-205px -45px;}
.contenedor_valoraciones .antetitulo{margin-bottom:0.3em;}

/*  ============================================================================================================================  locutores*/
.locutores .inner {width: 2000em;}
.locutores .col_1 .firma .autor{border: 0 none;color: #666666;font: 1.4em/1.1em 'proximanova',Arial,Helvetica,sans-serif;padding: 0;}
.locutores .col_1 .firma .autor a{color: #666666;}
.locutores .article {height:32.5em;}
.locutores .article h2{font-family:'proximanova',Arial,Helvetica,sans-serif; font-weight:600;}
.locutores .article .antetitulo{margin-bottom:0.3em}
.locutores .article .firma{display:inherit; margin-bottom:0.3em;}

.locutores .miniatura{width: 15.1em; margin: 1em auto 0; overflow: hidden; border-radius: 100%;}
.locutores .miniatura .foto {margin-left: -3em; width: 21.1em;}
.locutores .miniatura .foto a {display: block;}
.portada .locutores .contenedor_generico .col_1 .figure img,
.portadilla .columna_principal .locutores .contenedor_generico .col_1 .figure img{display:block; width: auto; height: auto;}
.programa .columna_principal .locutores .contenedor_generico .col_1 .figure img{display:block; width: auto; height: auto;}
.portada .locutores .contenedor_generico .col_1 .figure img{width:21.1em;height:15.1em;}

/*  ============================================================================================================================  locutores*/

.audios .article h2{font:1.6em/1.3em 'proximanova',Arial,Helvetica,sans-serif; font-weight:700;}
.audios .audio_principal .mod_txt {background:#fdbd00 url(/ser/iconos/v1.x/v1.0/varios/ico_radio_grande.png) no-repeat center 10px; padding:17.5em 1.6em 0 1.6em; margin:0;}
.audios .audio_secundario .mod_txt {background:#fff url(/ser/iconos/v1.x/v1.0/varios/ico_radiogris_grande.png) no-repeat center 10px; padding:17.5em 1.6em 0 1.6em; margin:0;}
.audios .article .mod_txt .firma {font: 1.6em/1.3em 'proximanova',Arial,Helvetica,sans-serif; font-weight:700; margin-bottom:0.4em; }
.audios .actualizado,
.audios .actualizado a{color: #e11012;}
.audios .audio_principal .actualizado,
.audios .audio_principal .actualizado a{color: #fff;}
.audios .columna_2 {background:#fff; vertical-align:top; display:table-cell; width:43.7em;}
.audios .columna_2 .article{margin:1.6em 1.6em 0 1.6em;}
.audios .columna_2 .miniatura img{width:7em; height:auto; float:left; margin-right:1.6em;}
.audios .columna_2 .mod_txt{float:left; margin:0; width:70%;}
.contenedor_generico .columna_2 .article {display:block;}
.audios .audio_principal .modulo_compartir{ padding:1.6em; background:#fff; margin-left:-1.6em; width:100%;}
/*  ============================================================================================================================  oyentes*/
.oyentes .article {padding-top:2em;}
.oyentes .generico {padding-top:0;}
.oyentes .article .antetitulo {margin-bottom:0.2em;}
.oyentes blockquote{margin:0 1.6em; background:url(/ser/iconos/v1.x/v1.0/varios/comillas.png) no-repeat 0 0; padding-top:4em;}
.oyentes .article blockquote h2{font:4.1em/1em 'proximanova', Arial, Helvetica, sans-serif; font-weight:400;  color:#000;}
.oyentes .article.articulo_destacado{background-image:url(/ser/iconos/v1.x/v1.0/varios/pulgar_arriba.png); background-repeat:no-repeat; background-position:center 2em; padding-top:20em;}
.oyentes .article.articulo_destacado h2 {font:1.6em/1.4em 'proximanova',Arial,Helvetica,sans-serif; font-weight:700;}
.oyentes .article.tuit_destacado{background-image:url(/ser/iconos/v1.x/v1.0/varios/tuit_destacado.png); background-repeat:no-repeat; background-position:center 2em; padding-top:20em;}
.oyentes .article .tuit{font:1.5em/1.4em 'proximanova',Arial,Helvetica,sans-serif; font-weight:300; margin-top:0.5em; }
.oyentes .article .tuit a{color:#2fc2ef; display: block;}
.oyentes .article .usuario{background:url(/ser/iconos/v1.x/v1.0/varios/ico_tuit.png) no-repeat 0 0; padding:0 0 0 1.7em; display: block;}
.oyentes .article .tuit a.enlazado{color: #000;}
.oyentes .article .tuit a:hover{opacity: 0.5;}
.oyentes .comentarios .mod_txt{background:url(/ser/iconos/v1.x/v1.0/varios/ico_comments.png) no-repeat 0 0; padding:4em 0 0 0; margin:0 1.6em; }
.oyentes .comentarios .usuario {float:none; margin:0;}
.oyentes .conversacion{margin:3em 0;}
.oyentes .conversacion .title{color: #000;font: 1.4em/1.1em 'proximanova',Arial,Helvetica,sans-serif; border-bottom:1px solid #fdbd00; padding:0 0 0.3em 1.4em;background:url(/ser/iconos/v1.x/v1.0/varios/ico_comentarios_amarillo.png) no-repeat 0 1px; margin-bottom:0.3em;}
.oyentes .conversacion .title a{color:#000;}

.oyentes .apoyos{margin:3em 1.6em 1.6em;}
.oyentes .mod_txt .apoyos{margin:2em 0 1.6em;}
.oyentes .article .apoyos li.ancho_completo {background-color: transparent; padding: 0;}
.oyentes .article .apoyos li.ancho_completo .miniatura{width: 3.5em; margin: 0 0.6em 0 0; overflow: hidden; border-radius: 100%; vertical-align: middle;}
.oyentes .article.col_1 .apoyos li.ancho_completo .miniatura {display: block;}
.oyentes .article .apoyos li.ancho_completo img {display: block; height: 3.5em; width: auto; margin-left: -0.7em;}
.oyentes .article .apoyos li.ancho_completo .cintillo {font-weight: 400; padding: 0.6em 0 0.3em; margin: 0;}
.oyentes .article .apoyos li.ancho_completo strong {font-weight: 600;}

/*  ============================================================================================================================  listado_blogs*/
.contenedor_blogs {margin:0 1.9em;}
.contenedor_blogs .foto img{width: 100%; max-width:13em; height:auto; margin:0 0 1.5em 1.5em;float:right;}
.contenedor_blogs .article{border-bottom:1px solid #E7E7E3; padding-bottom:1.5em; margin-top:1.5em; }
.contenedor_blogs .article h2{font:2.4em/1.3em 'proximanova', Arial, Helvetica, sans-serif;font-weight:400; }
.section .listado_blogs .encabezado {min-height:1em;}
/*  ============================================================================================================================  destacamos*/
.destacados .contenedor_generico .inner{width: 2000em;}
.destacados .contenedor_generico .article{position:relative; background:none;}
.destacados .contenedor_generico .col_1 .mod_txt {display:none; position:absolute; top:0; left:0; width:21.1em; height:21.1em; background:url(/ser/iconos/v1.x/v1.0/varios/bg_2e2e2e.png); z-index:300; margin:0;}
.destacados .contenedor_generico .col_1:hover .mod_txt{display:block;}
.destacados .contenedor_generico .col_1 .figure img{height:21.1em;}
.destacados .contenedor_generico .col_1 .cont_txt {display:table-cell; height:19em; vertical-align:bottom;}
.destacados .contenedor_generico .article .antetitulo,
.destacados .contenedor_generico .article .antetitulo a{color:#fdbd00;}
.destacados .contenedor_generico .article h2,
.destacados .contenedor_generico .article h2 a{color:#fff;}

.destacados .contenedor_generico .sin_foto .mod_txt {display:block; position: static; background-color: #fdbd00; background-image: none;}
.destacados .contenedor_generico .sin_foto .antetitulo,
.destacados .contenedor_generico .sin_foto .antetitulo a {color:#000;}
.destacados .contenedor_generico .sin_foto h2,
.destacados .contenedor_generico .sin_foto h2 a{color:#000;}

/*  ============================================================================================================================  participa */
.participa .caja.encuesta {border: 0;}
.participa .encuesta .encabezado {padding: 0 0 0.8em;}
.participa .encuesta .pestanas {padding: 2em 0 0.5em;}
.participa .encuesta .pregunta {padding: 2em 0 0;}
.participa .encuesta .contenedor_botones {margin: 2em 0 0;}
.participa .encuesta .info {margin: 1em 0 0;}
.participa .contenedor_generico .encuesta .figure img {width: 100%; max-width: 17.9em;}
.participa .contenedor_generico .article .encuesta .miniatura.figure img {width: 100%; max-width:3em; height: auto;}
.participa .encuesta ul.votacion .miniatura, .participa .encuesta ul.resultados .miniatura {width: 19%;}
.participa .encuesta .pestanas a .total {display: none;}
.participa .encuesta a.resultados,
.participa .encuesta a.votar {font-size: 1.1em;}
.participa .article.col_1 .apoyos li {margin: 1em 0 0;}




/*portadilla de tags*/

/* autor */
.seccion.autor {background-color: #eee; padding: 0;}
.seccion.autor p {font: 700 1.4em/1.6em 'proximanova', Arial, Helvetica, sans-serif; color: #111; text-transform: uppercase; border-bottom: 1px solid #fff; padding: 0.5em 0 0.3em 1.5em;}
.seccion.autor h1 {padding: 0.4em 0 0.4em 0.6em;}
/* */

.encabezado_portadilla{font:3.6em/1.4em 'proximanova', Arial, Helvetica, sans-serif;font-weight:700; color:#232323; background:#fff; padding-top:0.5em;}
.encabezado_portadilla .result{font-family:'proximanova', Arial, Helvetica, sans-serif;font-weight:400; }

.envoltorio_temas {margin-top:2em; }
.envoltorio_temas .foto {width:13em;float:right; margin-left:2em;}
.envoltorio_temas .foto img,
.resultados .miniatura .foto img {width: 100%;max-width:13em; height:auto;/* width: 100%; */}
.envoltorio_temas .article, .resultados .article {padding:3.1em 2em 3.1em 21em; border-bottom:1px solid #e4e4e4; clear:both; position:relative;}
.envoltorio_temas .article .boton_info, .resultados .article .boton_info {font-size:1.2em; line-height: 1.5; left: 1.6em;top: 2.8em; padding: 0.2em 1em;}
.envoltorio_temas .article .boton_info a, .resultados .article .boton_info a{color:#fff;}
.envoltorio_temas .article .boton_info .hora:before,
.resultados .article .boton_info .hora:before{content:"- ";}

.envoltorio_temas .article h2, .resultados .article h2 {font:2.4em/1.2em 'proximanova', Arial, Helvetica, sans-serif;font-weight:600; margin-bottom:0.2em;}
.envoltorio_temas .article h2 a:hover, .resultados .article h2 a:hover{opacity:0.7;}
.envoltorio_temas .article p, .resultados .article p {font:1.4em/1.4em 'proximanova', Arial, Helvetica, sans-serif; color:#333;}
.envoltorio_temas .article p a, .resultados .article p a{color:#000;}

/*.envoltorio_temas .article .fecha, .resultados .article .fecha   {font:1.3em/1.4em 'proximanovabold', Arial, Helvetica, sans-serif;font-weight:700;}
.envoltorio_temas .article .hora, .resultados .article .hora  {font:1.3em/1.4em 'proximanovasemibold', Arial, Helvetica, sans-serif; font-weight:600; margin-left:1em;font-weight:700; color:#525252;}*/
.envoltorio_temas .miniatura .ico_play, .resultados .miniatura .ico_play{background-position:0 0; height: 81px; margin: -4em 0 0 -4em; width: 81px;}
.envoltorio_temas .miniatura .posicionador, .resultados .miniatura .posicionador{width:31em;}
.envoltorio_temas .miniatura .btn_multimedia, .resultados .miniatura .btn_multimedia{ font:1.6em 'proximanova', Arial, Helvetica, sans-serif;font-weight:400; bottom:1.8em; left:1.8em; height:1.8em; }
.envoltorio_temas .miniatura .btn_multimedia span, .resultados .miniatura .btn_multimedia span{padding:0.2em 0 0.2em 2.2em;}
.envoltorio_temas .posicionador, .resultados .posicionador{float:left; width:31em;}
.envoltorio_temas .article p.figcaption, .resultados .article p.figcaption {font:1.2em/1.4em 'proximanova', Arial, Helvetica, sans-serif;font-weight:400; color:#525252; border:0; background-color: transparent;}
.envoltorio_temas .video_bc, .resultados .video_bc {float:left; width:31em; margin-right:2em;}

.envoltorio_temas .arriba,
.resultados .arriba {height:6em; padding-left:1.9em;}

.envoltorio_temas .modulo_compartir {position: absolute; left: 17em;top: 3.2em; z-index: 200;}

.envoltorio_temas .article .mas_info {position: absolute; left: 2em; top: 7em; z-index: 200;}
.envoltorio_temas .article .mas_info span {display: block; float: left; background-color: #fdbd00; background-repeat: no-repeat; border-radius: 50px; font-size: 1em; line-height: 1.5em; text-transform: uppercase; margin-right: 0.4em; padding: 0.4em 1em 0.4em 3.2em; color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.1);}
.envoltorio_temas .article .mas_info .video{background-image: url(/ser/iconos/v1.x/v1.0/varios/apoyo_video.png); background-position: 5px -1px;}
.envoltorio_temas .article .mas_info .fotogaleria{background-image: url(/ser/iconos/v1.x/v1.0/varios/apoyo_foto.png); background-position: 3px -3px;}
.envoltorio_temas .article .mas_info .audio{background-image: url(/ser/iconos/v1.x/v1.0/varios/apoyo_audio.png); background-position: 5px -1px;}
.envoltorio_temas .article .mas_info a.comentarios {margin-top: 0.5em;}



.envoltorio_temas .conversacion{padding: 2em 2.1em 0; border-bottom:1px solid #E4E4E4;}
/* paginacion tags*/
.arriba .paginacion, .abajo .paginacion {padding: 2em; float:right;}
.arriba .paginacion select, .abajo .paginacion select {background-color: #fff;border: 1px solid #DBDBDB;border-radius: 2px;display: inline-block;float: left;font:1.1em Arial, Helvetica, sans-serif; color:#000;height: 22px;margin: 0;padding: 2px 4px 2px 2px; width: 130px; margin:0.6em 1em 0 0;}
.arriba .paginacion .boton, .abajo .paginacion .boton  {width:2.8em; height:4em; background-image:url(/ser/iconos/v1.x/v1.0/elementos.png); background-repeat:no-repeat; text-indent:-9999px; float:left;}
.arriba .paginacion .boton:hover, .abajo .paginacion .boton:hover  {opacity:0.5;}
.arriba .paginacion .boton.inactivo, .abajo .paginacion .boton.inactivo  {background:none;}
.arriba .paginacion .boton.ant,
.abajo .paginacion .boton.ant{background-position:0 -146px;}
.arriba .paginacion .boton.sig,
.abajo .paginacion .boton.sig {background-position:-40px -146px;}


.arriba .paginacion .numero, .abajo .paginacion .numero {color:#232323;font:1.3em/1.4em 'proximanova', Arial, Helvetica, sans-serif;font-weight:400; text-transform:uppercase; margin-top:0.6em; float:left; width:10em; text-align:center;}

/* buscador*/
.buscador .seccion {padding-left: 2em;}
.buscador .contenedor_principal{border-left:0; border-right:0; width:115.3em;}
.buscador .envoltorio_temas {margin-top: 0; border-top:1px solid #E4E4E4;}
.section.buscar{background:#e7e7e3; margin-top:0;}
.en_buscador{position:relative; width:70em; float:left; padding-top: 1em;}
.contenedor_buscadores {width:42.5em; float:left; padding:1.8em 0;}
.contenedor_buscadores .buscar_contenido {width:38em; margin:0 0 0 2em; }
.contenedor_buscadores .buscar_contenido .buscar { background: url(/ser/iconos/v1.x/v1.0/varios/ico_lupa.png) no-repeat scroll 14px 9px #323232; display: block; float: right;height: 40px;text-indent: -9999px; width: 50px;}
.contenedor_buscadores .buscar_contenido input {background-color: #fff; border:0;color: #000;float: left;font: bold 16px/15px Arial,Helvetica,Garuda,sans-serif; letter-spacing: 1px; padding: 12px;width: 305px;}
.section.buscar ul.ordenacion li a{font-size: 2.5em;}
.barra_buscador .paginacion .boton.ant {background-position:-35px -186px; margin-left:1.5em;}
.barra_buscador .paginacion .boton.sig {background-position:-55px -186px;}
.barra_buscador .paginacion .boton.inactivo{display:none;}
.barra_buscador .paginacion .boton.ant.activo, .barra_buscador .paginacion .boton.ant:hover {background-position:-35px -579px;}
.barra_buscador .paginacion .boton.sig.activo, .barra_buscador .paginacion .boton.sig:hover  {background-position:-47px -578px;}

.buscador .columna_principal p.resultados {font:1.3em 'proximanova', Arial, Helvetica, sans-serif;font-weight:400;color:#232323; text-transform:uppercase; padding:2em 2em 2.5em; background:url(/ser/iconos/v1.x/v1.0/varios/flecha_enlace_bottom.png) no-repeat center 4em; text-align: center;}
.buscador p.mensaje  {background-color: #fefde0; border: 1px solid #e9e8cf; border-radius: 4px; margin: 1.5em; padding: 1em; text-align: center; font: 1.5em/1.5em 'proximanova', Arial, Helvetica, sans-serif;}


/* PORTADILLAS d tags*/
.pestanas{background:#e7e7e3; padding-top:2em;}
ul.ordenacion{margin-left:2em;}
ul.ordenacion li{float:left; margin-right:1em;}
ul.ordenacion li a{font:2em/0.8em 'proximanova', Arial, Helvetica, sans-serif; font-weight:400;  color:#000; padding:1em 1em 0 1.1em; height:1.7em; display:block;}
ul.ordenacion li a:hover,
ul.ordenacion li a.activo{background:#fff;}

.article .ordenacion .video { background-image: url(/ser/iconos/v1.x/v1.0/varios/apoyo_video.png); background-repeat: no-repeat;background-position: 0 0;}
.article .ordenacion .fotogaleria{ background-image: url(/ser/iconos/v1.x/v1.0/varios/apoyo_foto.png); background-repeat: no-repeat;background-position: 0 -2px;}
.article .ordenacion .grafico,
.article .ordenacion .audio { background-image: url(/ser/iconos/v1.x/v1.0/varios/apoyo_audio.png); background-repeat: no-repeat;background-position: 0 0;}
.article .ordenacion .fotogaleria, .article .ordenacion .video, .article .ordenacion .grafico, .article .ordenacion .audio { background-color: #FDBE00;background-repeat: no-repeat;border-radius: 4px;color: #FFFFFF;font: 1.3em/1.2em 'proximanova', Arial, Helvetica, sans-serif; font-weight:600;margin: 0; padding: 5px 12px 2px 28px; margin-left:1em; float:right; width:auto; height:1.5em;}
.envoltorio_temas .cintillo, .resultados .cintillo  {color:#000;font:1.6em/1.2em 'proximanova', Arial, Helvetica, sans-serif;font-weight:400; }
.article .firma_comentarios {font:1.2em 'proximanova', Arial, Helvetica, sans-serif;font-weight:700; color:#858585; margin-top:0.5em;}
.article .firma_comentarios a{color:#858585;}
.article .firma_comentarios a:hover{text-decoration:underline;}

/*.envoltorio_temas .article .fecha, .envoltorio_temas .article .fecha a, .resultados .article .fecha, .resultados .article .fecha a {color:#FDBE00}
*/.abajo{border-bottom:1px solid #E4E4E4;}
.arriba{border-top:1px solid #E4E4E4;}
.resultados .noticia {float:left;}

.coincidencia {overflow: hidden;padding: 0 0 0.8em;}
.coincidencia .barra {  background-color: #fff; border: 1px solid #ebebeb;float: left; margin: 0.3em 0 0;padding: 0.2em;width: 7em; border-radius:2px;}
.coincidencia .barra div {background-color: #f6193f;height: 0.3em; border-radius:2px;}
.coincidencia .porcentaje {background-color: #fff; color: #f6193f; float: left;padding-left: 0.8em;font:1.1em 'proximanova', Arial, Helvetica, sans-serif;font-weight:400;}


.columna_principal .contenedor_mosaico.cuadrado .col_1 .figure img {display: block;}

.columna_principal .tags{padding:1.4em 2em; border-bottom:1px solid #E7E7E3; float:left; margin-bottom:3em;}
/* =============================================================== INDICE DE TEMAS */


/* lista letras */

.contenedor_listado {background:#e7e7e3; padding:2em 2em 0 2em; margin-top:1px;}
ul.letras {}
ul.letras li {display: inline;color:#000; font:2.5em/1em 'proximanova',Arial,Helvetica,sans-serif; font-weight:400;  }
ul.letras li a {padding:0.8em 0 0.5em 0;color:#000;width:1.5em; text-align:center; display:block; float:left; }
ul.letras li a.numeros {width:auto;float:right;padding:0.8em 0.7em 0.5em 0.7em; }

ul.letras li a:hover, ul.letras li.activo a{background:#fff;  }

/* listado etiquetas */
#contenedoretiquetas {padding:2.7em;border-bottom:5px solid #E7E7E3;}
#contenedoretiquetas .mensaje p{font:1.3em 'montserratregular', Arial, Helvetica, sans-serif; margin-top:1em;}
#contenedoretiquetas .columnas ul.columniza {width: 25%;float: left; }
#contenedoretiquetas .columnas ul.columniza:first-child {border-left: none;padding-left: 0;}
#contenedoretiquetas .columnas ul.columniza li {font:1.4em 'proximanova',Arial,Helvetica,sans-serif; font-weight:400; padding:0.5em 1em 0.5em 2em;color:#010101; background:#fff; background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_amarillo.png);background-repeat:no-repeat; background-position:12px 13px;}
#contenedoretiquetas .columnas ul.columniza li a {color:#010101;}
#contenedoretiquetas .columnas ul.columniza li.autor {background-image:url(/ser/iconos/v1.x/v1.0/varios/autor_listado_temas.png); background-position:12px 11px;}
#contenedoretiquetas .columnas ul.columniza li:hover {opacity:0.5;}


/* buscador */
/* capa buscar temas */

.capa_buscar_temas {padding:2em; position:relative; background:#e7e7e3; margin-top:1px; }
.capa_buscar_temas.capa_buscar_temas_portada{}
.capa_buscar_temas .eleccion_temas {position:relative; }
.capa_buscar_temas.capa_buscar_temas_portada .eleccion_temas {}
.eleccion_temas form{position:relative;}
.capa_buscar_temas p {}
.capa_buscar_temas input {width:23em; color:#000;font:1.8em 'proximanova',Arial,Helvetica,sans-serif; font-weight:400; padding:0.6em; border:1px solid #ccc;-moz-box-shadow:-2px 2px 5px #ccc;-webkit-box-shadow: -2px 2px 5px #ccc; box-shadow:-2px 2px 5px #ccc; }
.capa_buscar_temas .buscar {background: url(/los40/iconos/v1.x/v1.0/varios/bg_buscar.png) no-repeat 0 0;display: block; font:1.5em 'montserratbold', Arial, Helvetica, sans-serif; color:#fff; padding:0.6em 1.5em 0.6em 2.2em; text-transform:uppercase; position:absolute; right:10px; top:0; border-top:1px solid #dedede; border-bottom:1px solid #dedede; border-right:1px solid #dedede}
.capa_buscar_temas ul.lista_temas li {border-top: 1px solid #efefef;border-bottom: none;}
.desplegable_temas {border:1px solid #ccc;-moz-box-shadow:-2px 2px 5px #ccc;-webkit-box-shadow: -2px 2px 5px #ccc; box-shadow:-2px 2px 5px #ccc;width: 40.8em;position:absolute;top:46px;left:0;max-height:241px;overflow-y:auto; display:block;z-index:300; padding:1em 1.8em 1em 1em;background:#fff; }
.capa_buscar_temas p.ejemplo {color:#666666;font:1.4em 'proximanova',Arial,Helvetica,sans-serif; font-weight:400; margin:0.5em 0 0 0;}
.desplegable_temas li {cursor:pointer;}
.desplegable_temas ul li {font:1.4em 'proximanova',Arial,Helvetica,sans-serif; font-weight:400; padding:0.5em 1em 0.5em 2em;color:#010101; background:#fff; background-image:url(/ser/iconos/v1.x/v1.0/varios/bullet_naranja.gif);background-repeat:no-repeat; background-position:12px 13px;}
.desplegable_temas ul li.encima, .desplegable_temas ul li:hover {background-color: #F2F2F2;color: #333;cursor: pointer;height: auto;width: auto;}
.desplegable_temas ul li.autor{background-image:url(/ser/iconos/v1.x/v1.0/varios/autor_listado_temas.png); background-repeat:no-repeat; background-position:12px 11px;}
.desplegable_temas ul li strong {color:#FDBE00;}

.encontrados {border: 1px solid #ededed;width: 33.4em;position:absolute; display:block;font:1.3em 'proximanova',Arial,Helvetica,sans-serif; font-weight:400; padding: 1em;color:#333; background:#fff; background:#F2F2F2; z-index:300;}


/* ventana playser en portadilla de tag */

.playser_ventana {margin: 2em;}

#pasa-vocesradio .mod_txt .cintillo{font-size:.938em;font-weight: bold;display:block;line-height:1em;color:#666}
#pasa-vocesradio .mod_txt .autor a{font-size:.844em;color:#777;background:none;}

/* audio en portada */
.portada-rotatore-audio div{width:100%!important;}

/* bolillos en 1x1 */
#pasa-barrahorizontal .col_1 .boton_video, #pasa-barrahorizontal .col_1 .boton_audio, #pasa-barrahorizontal .col_1 .boton_aumentar, #pasa-barrahorizontal .col_1 .boton_galeria, #pasa-barrahorizontal .col_1 .boton_generico, #pasa-barrahorizontal2 .col_1 .boton_audio_galeria, #pasa-barrahorizontal .col_1 .ampliar_foto, #pasa-barrahorizontal .col_1 .ico_play, #pasa-barrahorizontal2 .col_1 .boton_video, #pasa-barrahorizontal2 .col_1 .boton_audio, #pasa-barrahorizontal2 .col_1 .boton_aumentar, #pasa-barrahorizontal2 .col_1 .boton_galeria, #pasa-barrahorizontal2 .col_1 .boton_generico, #pasa-barrahorizontal2 .col_1 .boton_audio_galeria, #pasa-barrahorizontal2 .col_1 .ampliar_foto, #pasa-barrahorizontal2 .col_1 .ico_play{width: 2.5em;height: 2.5em;background-size: 100% auto;z-index:301;bottom:15px;left:15px;}
.contenedor_mosaico .boton_video, .contenedor_mosaico .col_1 .boton_audio, .contenedor_mosaico .col_1 .boton_aumentar, .contenedor_mosaico .col_1 .boton_galeria{width: 2.5em;height: 2.5em;background-size: 100% auto;z-index:301;bottom:15px;left:15px;}
.contenedor_mosaico .foto_grande .boton_video, .contenedor_mosaico .col_2 .boton_video, .contenedor_mosaico .col_3.row_3 .boton_video{width:5.2em;height:5.2em;}
.contenedor_mosaico .foto_grande .boton_video, .contenedor_mosaico .col_3 .boton_video{width:3.8em;height:3.8em;}

#pasa-barrahorizontal .col_1 h2, #pasa-barrahorizontal2 .col_1 h2{margin-bottom:1em;}

.crosslinking {
    position: relative;
    min-height: 4.8em;
    padding: 1.1em 0 0 2em;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 11px 0;
}

.crosslinking h3 {
    font: 700 3.6em/0.8em 'proximanova', Arial, Helvetica, sans-serif;
    color: #232323;
    float: left;
}

.contenedor_crosslinking {
    background: #fff;
    padding: 0;
    position: relative;
    border-spacing: 1.55em 0;
    overflow: hidden;
}

.contenedor_crosslinking .flecha_rotatore {
    background: transparent;
    width: 1.5em;
    position: absolute;
    height: 42%;
    display: block;
    /* top: -82px; */
    left: 0;
    z-index: 100;
}

.destacados .contenedor_crosslinking .inner {
    width: 2000em;
}

.contenedor_crosslinking .col_1 {
    width: 14.1em;
}

.contenedor_crosslinking .article {
    background: transparent;
    vertical-align: top;
    display: table-cell;
}

.logos.pais {
    width: 100%;
    height: 32px;
}

#pasa-barrahorizontal .col_1 h2, #pasa-barrahorizontal2 .col_1 h2 {
    margin: 0.5em 0;
}

.foto_cross {
    width: 211px;
    height: 151px;
    margin: 0 2px 11px 0px !important;
    background: #084e72;
    padding: 0;
}

.texto_cross h2 {
    width: 185px;
    margin: 0 !important;
    font: 1.6em/1.4em 'proximanova',Arial,Helvetica,sans-serif;
}
.texto_cross {
    width: 185px;
    margin: 0 !important;
}

.foto_cross:last-child {
    margin: 0 !important;
}

.crosslinking {
    position: relative;
    min-height: 4.8em;
    padding: 1.1em 0 0 2em;
    border-bottom: 1px solid #e5e5e5;
}

.crosslinking h3 {
    font: 700 3.6em/0.8em 'proximanova', Arial, Helvetica, sans-serif;
    color: #232323;
    float: left;
}

.destacados .contenedor_crosslinking .inner {
    width: 22.6em;
    float: left;
    overflow: hidden;
}

.destacados .contenedor_crosslinking .article {
    position: relative;
    background: none;
}

.contenedor_crosslinking .col_1 {
    width: 14.1em;
}

.logos.pais {
    width: 100%;
    height: 37px;
}
#pasa-barrahorizontal-cross {
    position: relative;
    padding: 0 0 20px 0;
}

#pasa-barrahorizontal-cross .col_1 h2, #pasa-barrahorizontal-cross2 .col_1 h2 {
    margin: 0.5em 0;
}

#flecha_barrahorizontal_cross_siguiente {
    left: auto;
    right: 0;
    /* top: -77px; */
}
#flecha_barrahorizontal_cross_siguiente a{    background-position: -42px 0;
    right: 0;
    left: auto;}

.texto_cross {
    width: 185px;
    margin: 0 !important;
}