@charset "utf-8";


	/* Reset CSS **/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center, p,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: none;
		outline: 0;
		background: transparent;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	a {text-decoration:none;}
	
	/* Retrait des styles qu'Apple impose sur les boutons submit */
	input[type='submit']{-webkit-appearance: none;-moz-appearance: none;appearance: none;}
	a:focus, textarea:focus, input:focus, :focus {outline:none;}

/************************************************************/
/****** bootstrap - styles par defaut **/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove:before {
  content: "\e014";
}

button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}.modal-open {overflow: hidden;}
.modal {display: none;overflow: hidden;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1050;-webkit-overflow-scrolling: touch;outline: 0;}
.modal.fade .modal-dialog {-webkit-transform: translate(0, -25%);-ms-transform: translate(0, -25%);-o-transform: translate(0, -25%);transform: translate(0, -25%);-webkit-transition: -webkit-transform 0.3s ease-out;-o-transition: -o-transform 0.3s ease-out;transition: transform 0.3s ease-out;}
.modal.in .modal-dialog {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);-o-transform: translate(0, 0);transform: translate(0, 0);}
.modal-open .modal {overflow-x: hidden;overflow-y: auto;}
.modal-dialog {position: relative;width: auto;padding: 10px; z-index: 1050; margin-left: auto; margin-right: auto;}
.modal-content {position: relative;background-color: #ffffff;border: 1px solid #999999;border: 1px solid rgba(0, 0, 0, 0.2);border-radius: 6px;-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);-webkit-background-clip: padding-box;background-clip: padding-box;outline: 0;}
.modal-backdrop {position: fixed;top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000000;}
.modal-backdrop.fade {opacity: 0; filter: alpha(opacity=0);}
.modal-backdrop.in { opacity: 0.5; filter: alpha(opacity=50);}
.modal-header { padding: 15px; border-bottom: 1px solid #e5e5e5;}
.modal-header .close { margin-top: -2px;}
.modal .close {font-size: 18px; font-weight: normal !important; max-width: 92px; right: 15px; top: 15px; color: #cccccc; float: right;}
.modal-title { margin: 0; line-height: 1.42857143;}
.modal-body { position: relative; padding: 15px;}
.modal-footer { padding: 15px; text-align: right; border-top: 1px solid #e5e5e5;}
.modal-footer .btn + .btn { margin-left: 5px; margin-bottom: 0;}
.modal-footer .btn-group .btn + .btn { margin-left: -1px;}
.modal-footer .btn-block + .btn-block { margin-left: 0;}
.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll;}

@media (min-width: 768px) {
  .modal-dialog {width: 600px; margin: 30px auto; right: auto;}
  .modal-content {-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);}
  .modal-sm {width: 300px;}
}

@media (min-width: 992px) {
	.modal-lg {width: 900px;}
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {content: " ";display: table;}

.clearfix:after,.modal-header:after,.modal-footer:after {clear: both;}
.center-block {display: block; margin-left: auto; margin-right: auto;}
.pull-right {float: right !important;}
.pull-left {float: left !important;}
.hide {display: none !important;}
.show {display: block !important;}
.invisible {visibility: hidden;}
.text-hide {font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0;}
.hidden {display: none !important;}
.affix {position: fixed;}	
	


/************************************************************/
/****** Grid helpers **/	
	.line {overflow:hidden; _overflow:visible; _zoom:1;}
	.unit {float:left;}
	.block {overflow:hidden; _overflow:visible; _zoom:1;}
	.clearB{clear:both;}
		
	.size1on2 {width:50%;}
	.size1on3 {width:33.33%;}
	.size2on3 {width:66%;}
	.lastunit {width:auto; overflow:hidden; _overflow:visible; _zoom:1;}

	/** Positionning helpers **/	
	.contextFormat {overflow:hidden; _overflow:visible; _zoom:1;}
	.floatL {float:left !important;}
	.floatN {float:none !important;}
	.floatR {float:right !important;}

	.txtJ {text-align:justify !important;}
	.txtL {text-align:left !important;}
	.txtR {text-align:right !important;}
	.txtC {text-align:center !important;}
	.alignT {vertical-align:top !important;}
	.alignM {vertical-align:middle !important;}
	.alignB {vertical-align:bottom !important;}

	.padB_XS {padding-bottom:2px !important;}
	.padT_XS {padding-top:2px !important;}
	.pad_XS {padding:2px !important;}
	.padH_XS {padding-top:2px !important; padding-bottom:2px !important;}
	.pad_S {padding:5px !important;}
	.padT_S {padding-top:5px !important;}
	.padR_S {padding-right:5px !important;}
	.padB_S {padding-bottom:5px !important;}
	.padL_S {padding-left:5px !important;}
	.padH_S {padding-top:5px !important; padding-bottom:5px !important;}
	.padW_S {padding-right:5px !important; padding-left:5px !important;}
	.pad {padding:10px !important;}
	.padT {padding-top:10px !important;}
	.padR {padding-right:10px !important;}
	.padB {padding-bottom:10px !important;}
	.padL {padding-left:10px !important;}
	.padH {padding-top:10px !important; padding-bottom:10px !important;}
	.padW {padding-right:10px !important; padding-left:10px !important;}
	.padW_9 {padding-right:9px !important; padding-left:9px !important;}
	.pad_L {padding:15px !important;}
	.padT_L {padding-top:15px !important;}
	.padR_L {padding-right:15px !important;}
	.padB_L {padding-bottom:15px !important;}
	.padL_L {padding-left:15px !important;}
	.padH_L {padding-top:15px !important; padding-bottom:15px !important;}
	.padW_L {padding-right:15px !important; padding-left:15px !important;}	
	.pad_XL {padding:20px !important;}
	.padT_XL {padding-top:20px !important;}
	.padR_XL {padding-right:20px !important;}
	.padB_XL {padding-bottom:20px !important;}
	.padL_XL {padding-left:20px !important;}
	.padH_XL {padding-top:20px !important; padding-bottom:20px !important;}
	.padW_XL {padding-right:20px !important; padding-left:20px !important;}

	.noPad {padding:0 !important;}
	.noPadT {padding-top:0 !important;}
	.noPadR {padding-right:0 !important;}
	.noPadB {padding-bottom:0 !important;}
	.noPadL {padding-left:0 !important;}

	.noMarg {margin:0 !important;}
	.noMargT {margin-top:0 !important;}
	.noMargR {margin-right:0 !important;}
	.noMargB {margin-bottom:0 !important;}
	.noMargL {margin-left:0 !important;}

	.marg_XS {margin:2px !important;}
	.marg_S {margin:5px !important;}
	.margT_S {margin-top:5px !important;}
	.margR_S {margin-right:5px !important;}
	.margB_S {margin-bottom:5px !important;}
	.margL_S {margin-left:5px !important;}
	.margH_S {margin-top:5px !important; margin-bottom:5px !important;}
	.margW_S {margin-right:5px !important; margin-left:5px !important;}
	.margR_9 {margin-right:9px !important;}
	.marg {margin:10px !important;}
	.margT {margin-top:10px !important;}
	.margR {margin-right:10px !important;}
	.margB {margin-bottom:10px !important;}
	.margL {margin-left:10px !important;}
	.margH {margin-top:10px !important; margin-bottom:10px !important;}
	.margW {margin-right:10px !important; margin-left:10px !important;}
	.marg_L {margin:15px !important;}
	.margT_L {margin-top:15px !important;}
	.margR_L {margin-right:15px !important;}
	.margB_L {margin-bottom:15px !important;}
	.margL_L {margin-left:15px !important;}
	.margH_L {margin-top:15px !important; margin-bottom:15px !important;}
	.margW_L {margin-right:15px !important; margin-left:15px !important;}	
	.margT_XL {margin-top:20px !important;}
	.margR_XL {margin-right:20px !important;}
	.margB_XL {margin-bottom:20px !important;}
	.margL_XL {margin-left:20px !important;}
	.margH_XL {margin-top:20px !important; margin-bottom:20px !important;}
	.margW_XL {margin-right:20px !important; margin-left:20px !important;}
	.margT_XXL {margin-top:25px !important;}

	.absolute {position:absolute !important;}
	.relative {position:relative !important;}
	.static {position:static !important;}

	.dBlock {display:block !important;}
	.dNone {display:none !important;}
	.dInlineBlock {display:inline-block !important;}
	.opacite{filter : alpha(opacity=50); -moz-opacity : 0.5; opacity : 0.5;}
	.vHidden{visibility:hidden;}

	.bold {font-weight:bold !important;}
	.italic {font-style:italic !important;}
	.underline {text-decoration:underline!important;}

	.listNoDecoration{list-style-type:none; margin-left:-15px;}
		
	/* class qui permet de masquer des blocs sur le mobile et de les rendre visibles sur www, et inversement */
	.hiddenResponsive {display:none !important;}
	.displayedResponsive{display:block !important;}

	/** Custom bootstrap **/
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, 
	.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
	.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, 
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
	.col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {min-height: 1px;padding-left: 0px;padding-right: 0px;position: relative;overflow:hidden;}


	/* Titres */
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight: normal; margin-bottom: 0; margin-top: 0;}
	.h1 {font-size:22px; color:#212121; text-transform:uppercase; line-height:28px;}
	.h2 {font-size:20px; color:#212121;}
	.h3 {font-size:18px; color:#212121;}
	.h4 {font-size:16px; color:#212121;}
	.h5 {font-size:13px; color:#212121;}

	.font11 {font-size:11px;}
	.font13 {font-size:13px;}
	.font16 {font-size:16px;}
	.font18 {font-size:18px;}
	.font20 {font-size:20px;}
	.font22 {font-size:22px;}

	.borderNo {border:none !important;}
	.borderB {border-bottom: 1px solid #cad0dc !important;}
	.borderR {border-right: 1px solid #cad0dc !important;}
	.borderT {border-top: 1px solid #cad0dc !important;}

	.lowerCase {text-transform:lowercase !important;}
	.upperCase {text-transform:uppercase !important;}
	.noTransform {text-transform:none !important;}

	p {margin:0; padding:0;}
	a {color:#212121;}
	a:hover {color:#212121;}
	a:focus {outline:0;} /* Supprime les pointilles autour des images */


	.list_init {padding:0; margin:0; list-style:none;}
	
	*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	
	@font-face{font-family:'Glyphicons Halflings';src:url('http://staticclub.caradisiac.com/Fonts/glyphicons-halflings-regular.eot');src:url('http://staticclub.caradisiac.com/Fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://staticclub.caradisiac.com/Fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('http://staticclub.caradisiac.com/Fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://staticclub.caradisiac.com/Fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://staticclub.caradisiac.com/Fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')}
	.glyphicon {position: relative; font-family: "Glyphicons Halflings"; font-style: normal; font-weight: normal; line-height: 1;}
	.glyphicon-home:before{content:"\e021"}
	.glyphicon-triangle-bottom:before{content:"\e252"}
	.glyphicon-triangle-top:before{content:"\e253"}
	

	/** Boutons **/	
	.btn{ -moz-user-select: none; cursor: pointer; display: inline-block; font-weight: normal; line-height: 1.42857; margin-bottom: 0; text-align: center; vertical-align: middle; white-space: nowrap;}
	.btn{border-radius:2px; transition: all .2s ease-in-out; color: #fff; padding: 1px 12px; font-size: 13px;}
	.btn:hover{color: #fff;}

	.md .btn-primary {background-color: #3577af; border:#2a5f8c 1px solid; padding: 6px 12px;}
	.md .btn-primary:hover {background-color: #2a5f8c; border:#2a5f8c 1px solid;}
	.md .btn-primary:focus {outline:0;}
	.btn-primary {background-color: #3577af; border:#2a5f8c 1px solid; padding: 6px 12px;}
	.btn-primary:hover {background-color: #2a5f8c; border:#2a5f8c 1px solid;}
	.btn-primary:focus {outline:0;}

	.md .btn-success{background-color: #4ba34c; border:#3c833d 1px solid; padding: 6px 12px;}
	.md .btn-success:hover {background-color: #3c833d; border:#3c833d 1px solid;}
	.md .btn-success:focus {outline:0;}
	.btn-success{background-color: #4ba34c; border:#3c833d 1px solid; padding: 6px 12px;}
	.btn-success:hover {background-color: #3c833d; border:#3c833d 1px solid;}
	.btn-success:focus {outline:0;}

	.pageslide .btnConnectInscription{width: 230px; height: 43px; text-transform: uppercase; font-size: 13px; padding-top: 12px; border: 1px solid #6bb96c; margin-bottom: 8px;}
	.pageslide .btnConnectInscription:hover{border: 1px solid #7093bf;}
	.pageslide .btn-fbConnect{border:1px solid #5974ad !important;}
	.pageslide .btn-GoogleConnect{border:1px solid #f18678 !important;}
	.pageslide .btn-success{border:1px solid #6bb96c !important; font-size: 13px;}

	.blocConnexion{background-color: #275591; border: 1px solid #7093bf; display: none; margin-bottom: 15px;}
	.blocConnexion .btn, .modal-dialog .btn{color: #fff!important; border-radius:2px!important; font-size: 13px!important;}/* Necessaire pour contrer les styles .btn injectes par MD sur leur version responsive du forum*/
	.blocConnexion .btn:hover, .modal-dialog .btn:hover{color: #fff!important;}/* Necessaire pour contrer les styles .btn injectes par MD sur leur version responsive du forum*/

	.btn-ok{height: 35px; vertical-align: top; }

	.btn-gris, .btn-gris:hover {background-color:#e6e4e4; border: none; color:#212121 !important; border-radius:2px; padding:8px 12px; line-height:8px; font-size:13px;}
	.btn-pseudo, .btn-pseudo:hover {font-size:11px; padding:6px 9px; margin-left: 3px; margin-right: 3px; vertical-align: baseline;}

	/* Les !important sont necessaire pour contrer les styles generiques injectes en priorite par MD sur leur version responsive du forum*/
	.btn-fbConnect {background: #3b5997 url("/img_site/responsive/bgd_logoFacebook.png") no-repeat scroll 15px 8px !important; border: 1px solid #24417c !important; font-size: 13px !important; margin-bottom: 5px !important; padding: 8px 0 0 18px !important; width: 100% !important; height: 35px !important;}
	.btn-fbConnect:hover {background-color: #24417c !important;}
	.btn-GoogleConnect {background: #db4936 url("/img_site/responsive/bgd_logoGooglePlus.png") no-repeat scroll 15px 8px !important; border: 1px solid #a1291a !important; font-size: 13px !important; padding: 8px 0 0 18px !important; width: 100% !important; height: 35px !important;}
	.btn-GoogleConnect:hover{background-color: #a1291a !important;}

	.bordureLight{border:1px solid #7093bf !important;}
	.bordureLight:hover{border:1px solid #7093bf !important;}
	.bordureLight:focus{border:1px solid #7093bf !important;}


	/*.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
	.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
	.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active{color:#fff;background-color:#286090;border-color:#204d74}
	.btn-success{color:#fff;background-color:#4ba34c;border-color:#4cae4c}
	.btn-success:hover,.btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.active{color:#fff;background-color:#449d44;border-color:#398439}*/
	
	/** Popins - commun **/
	.modal-backdrop{z-index:1300;}
	.modal {z-index:999999 !important;}
	.modal-open {z-index:999999 !important;}
	.modal-backdrop {z-index:999998 !important;}
	.modal-content {border-radius:6px !important; padding:10px 20px 25px;}
	.modal-content .modal-title {font-size:22px; padding:0 0 25px;}
	.modal-content input[type="text"], .modal-content input[type="password"]{border-radius:2px; border:1px solid #cccccc; height:35px; padding: 0 12px;}
	.modal-content input[type="button"], .modal-content input[type="submit"]{font-size:13px; padding:6px 10px; float:right;}
	.modal-content input[type="checkbox"]{margin-right:10px;}
	.modal-content .alertSubmit{display:none;}
	.modal-content .warningMess,
	.modal-content .successMess {margin:15px 10px;}
	.modal-content .captchaText {width:68px; border:1px solid #afafaf; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
	.modal-content .captchaBlock {padding-top:18px; width:90%; margin:0 10px;}
	.modal-content .captchaBlock p, .popinContainer .captchaBlock label, .popinContainer .captchaBlock img, .popinContainer .captchaBlock input, .popinContainer .captchaBlock a {display:inline; vertical-align:middle;}
	.modal-content .captchaBlock label {font-size:12px; font-weight:normal; display:block;}
	.modal-content .captchaBlock input[type="button"], .modal-content .captchaBlock input[type="button"] {float:none;}
	.modal-content .captchaBlock img {margin-right:10px;}
	.modal-content .captchaBlock a, .modal-content .captchaBlock a img {margin-right:10px;}
	.modal-content .captchaBlock .captchaText {margin-right:10px; height:34px; width:110px;}
	.wordingCaptcha {margin-left:330px;}
	.modal-content .mandatory  {margin:0 10px;}

	/** Popins - Inscription newsletter **/
	.modal-content .newsAbo input[type="email"]{width:250px; border: 1px solid #ccc; border-radius: 3px; color: #212121; margin-bottom: 10px; padding: 0 31px 0 5px;}
	.modal-content .newsAbo label{font-weight:normal; margin:0;}
	.modal-content .newsAbo .email_userNL{}
	.modal-content .newsAbo .mention{font-size:11px;}
	.modal-content .newsAbo .txt{padding-left:33px; margin-bottom:20px;}
	.modal-content .txtThank{padding:20px 20px 0; font-size:16px; border-bottom:1px solid #cccccc;}
	/* Popins - Messages */
	.modal-content #email_error{display:none;}
	.modal-content .error {border:1px #e6494f solid !important;}
	.modal-content .errorMsg, .modal-content .msgFalse{color:#ce262c; background-color:#fae9e9; padding:10px; font-size:13px; margin:5px 0;}
	.modal-content .msgTrue{color:#067e03; background-color:#e1f5e1; padding:10px; font-size:13px; margin:5px 0;}
	.modal-content .newsCheck{display:none;}
	.modal-content .confirmMsg{display:none; background-color:#e1f5e1; color:#067e03; width:668px; line-heigt:25px; padding:5px 0; text-align:center; margin:20px 0 0 0; font-size:13px;}

	/* Popin - "Se Connecter" */
	.popin_connexion .modal-dialog {width:300px;}
	.popin_connexion .pseudoLogin{margin:0 !important; width:100%;}
	.popin_connexion .passwordLogin{width:180px;}
	.popin_connexion .MdpOublie {font-size: 11px; float: right;}
	.popin_connexion .MdpOublie:hover {text-decoration:underline;}
	.popin_connexion .btn-success{width: 100%; height: 35px; padding-top: 7px;}
	.popin_connexion .separateur{clear: both; border-bottom: 1px solid #cccccc; position: relative; margin-bottom: 13px;}
	.popin_connexion .separateur span{position: absolute; top:-10px; left: 116px; background-color: #fff; padding:0 5px; font-size: 13px; color: #212121;}

	.connectInputEmptyError {display:none; color:#ce262c; background-color:#fae9e9; padding:5px; font-size:11px; width: 100%; margin:0 0 10px; overflow:hidden;}
	.modal-dialog .connectInputEmptyError {top:12px; width:165px; position:absolute; z-index: 1;}

	/************************************************************/
/****** Mobile */

	#center {max-width: 90%; width: 974px;}

	/** Pub Ancrage Forum **/
	.blocPub {font-family:arial; font-size:13px; width:100%; overflow:hidden; position:relative;}
	.blocPub .imgPub {float:left; margin-left:5px; overflow:hidden; border:1px solid #cfcfcf;}
	.blocPub .imgPub img {width:70px; height:70px;}
	.blocPub .txtPub {padding-left: 14px; width:auto; overflow:hidden;}
	.blocPub .txtPub a {color: #333; text-decoration: none; display:inline-block;}
	.blocPub .txtPub a:hover {text-decoration: underline; color: #333;}
	.blocPub .txtPub .ttlPub {color: #00336e; font-size: 20px; margin-bottom:5px;}
	.blocPub .txtPub .link {color: #00336e; text-decoration: underline;}
	.blocPub .txtPub .link:hover {text-decoration: none; color: #00336e;}
	.blocPub .marquee {float:right; font-size: 9px; text-transform:uppercase; position:absolute; bottom:0; right:1%;}
	/* Intestitiel */
	.interstitiel {width:100%; height:1000px; background-color:#275591; color:#fff; text-align:center; padding-top:40px; position:absolute; z-index:10000000;}
	.interstitiel .accesSite {width:800px; overflow:hidden; margin:5px auto;}
	.interstitiel .accesSite img {height:40px; cursor:pointer;}
	.interstitiel .cadrePub {width:800px; height:600px; margin:auto; background-color:#000;}
	.interstitiel .phraseBas {cursor:pointer;}

	.largeDisplay {display:none !important;}
	.smallDisplay {display:block !important;}

	/** Mise en forme du header + nav **/
	.headerSite {width:100%; z-index: 10; background-color: #275591; position: fixed; moz-box-shadow: 0px 0px 4px 0px #000; -webkit-box-shadow: 0px 0px 4px 0px #000; box-shadow: 0px 0px 4px 0px #000; top:0;}
	.header {height:60px;}
	.header .logo {text-align:left; margin-left: 20px; display:block; float:left;}
	.header .logo img {width: 176px; height: auto; padding-top: 5px; margin-bottom: 0;}
	.logoSticky {display:none;}
	.infosUtilisateurSticky {position:relative; display:none;}
	.navPrincipale {color: #FFF; padding-left: 0; list-style: none; width: 100%; background: #1a457d; font-size:14px;}
	.navPrincipale:after {content: "\0020"; display: block; height: 0; clear: both; visibility: hidden;}
	.navPrincipale a {outline:none;}
	.header .navPrincipale li {float: left; list-style: none;}
	.header .navPrincipale li.first a.active {border-left:1px solid #eff3f6;}
	.header .navPrincipale a.glyphicon-home, .header .navPrincipale a {display: block; color: #FFF; border-left: 1px solid #355a8c; text-transform:uppercase; outline:none; text-decoration:none; font-size:13px; cursor: pointer;}
	.header .rub .navItemLabel {display: block; color: #FFF; border-left: 1px solid #355a8c; text-transform:uppercase; outline:none; text-decoration:none; padding: 0 14px; font-size:14px; cursor: pointer; line-height: 40px; height: 40px;}
	.header .rub:hover {background: #245088;}
	.header .rub.active span {background:#eff3f6; color:#212121; border-left:1px solid #cad0dc; text-decoration:none;}
	.header .rub .selection {background:#eff3f6; color:#212121; border-left:1px solid #cad0dc; text-decoration:none;}
	.burger {display: block; float: left; margin:16px 0 0 10px; cursor:pointer;}
	.header .glyphicon-home {padding: 11px 15px 11px 12px !important; font-size: 16px !important; top: 0px !important;}
	/* Moteur de recherche mobile*/
	#miniMoteur .miniMoteurBtn {background: url(/img_site/responsive/pictoRechMobile.png) no-repeat 6px 12px; display: block; float: right; padding: 40px 42px 0 0; cursor: pointer; font-size: 16px;/*font-size necessaire pour contrer les styles injectes par MD sur body dans les pages internes*/}
	#miniMoteur a.miniMoteurBtn:hover {text-decoration: none;}
	#miniMoteur.active .miniMoteurBtn {background-color: #eff3f6; background-position: -32px 12px;}
	.miniMoteurRecherche {position:absolute; background-color:#eff3f6; z-index:999; list-style:none; border-left:1px solid #cad0dc; border-right:1px solid #cad0dc; border-bottom:1px solid #cad0dc; padding:10px; display:none; right:-1px; top:60px; padding:5px; max-height: 362px;}
	.miniMoteurRecherche .rechercheFullText input {border-radius: 2px; background-image:none; border: 1px solid #d4dee9; padding-left:5px; padding-right:5px; width:196px; color:#212121; height:35px;}
	.miniMoteurRecherche .rechercheFullText input::-webkit-input-placeholder {opacity: 0.6; color: #000;}

	/* menu sous navigation */
	.header .navPrincipale .sousNav{position:absolute; background-color:#eff3f6; box-shadow: 0px 4px 7px -2px #3E3E3E; -webkit-box-shadow: 0px 4px 7px -2px #3E3E3E; -moz-box-shadow: 0px 4px 7px -2px #3E3E3E; z-index:999997; list-style:none; border-left:1px solid #cad0dc; border-right:1px solid #cad0dc; border-bottom:1px solid #cad0dc; padding:20px 20px 10px; min-width:220px; display:none;/* margin-left:-1px;*/}
	.header .navPrincipale .sousNav ul{list-style:none; padding:0;}
	.header .navPrincipale .sousNav .sousNavItem {float:none; border-bottom:1px solid #cad0dc;}
	.header .navPrincipale .sousNav .sousNavItem.last{border-bottom:none;}
	.header .navPrincipale .sousNav .sousNavItem a {display: block; text-transform:uppercase; color:#212121; border:none; font-size:11px;}
	.header .navPrincipale .sousNav .sousNavItem a:hover, .header .navPrincipale .sousMenuMarques a:hover {text-decoration:underline; background:none;}
	.header .navPrincipale .sousNav .sousNavTitre {color:#212121; font-size:11px; text-transform:uppercase; font-weight:bold;}
	.header .navPrincipale .sousMenuMarques {left:0; width: 982px;}
	.header .navPrincipale .sousMenuMarques li {float:none;}
	.header .navPrincipale .sousMenuMarques p {color: #212121;}
	.header .navPrincipale .sousMenuMarques .topMarques{width: 130px;}
	.header .navPrincipale .sousMenuMarques .marques{border-left: 1px solid #afbdd0;}
	.header .navPrincipale .sousMenuMarques .marques .listMarques{border-right: 1px solid #afbdd0; width: 130px;}
	.header .navPrincipale .sousMenuMarques .marques .last{border-right: none;}
	.header .navPrincipale .sousMenuMarques a {color:#212121; border-left:none; text-transform:none; padding:0;}
	.header .navPrincipale .sousMenuMarques .listMarques, .header .navPrincipale .sousMenuMarques .listTopMarques {font-size:12px;}
	.header .navPrincipale .sousMenuMarques .listTopMarques a {font-weight: bold;}
	.header .navPrincipale .sousMenuMarques ul {padding-right:20px;}
	.header .navPrincipale .sousMenuMarques .listMarques .allMarques a {color:#fff; background-color:#275591; margin-top: 18px; padding:5px;}
	.header .navPrincipale .sousMenuConseils {left:0; width: 982px;}
	.header .navPrincipale .sousMenuConseils li {float:none;}
	.header .navPrincipale .sousMenuConseils p {color: #212121;}
    .header .navPrincipale .sousMenuConseils .services{width: 190px;}
	.header .navPrincipale .sousMenuConseils .conseils{border-left: 1px solid #afbdd0;}

	/** mini-site **/
	.navPrincipale li.navItemEvenement {background-color:#2b81b2; border-right: 1px solid #355a8c;}
	.header .navPrincipale li.navItemEvenement:hover {background-color:#125b84;}

	#conteneurPub{text-align: center;}
	#pubTop {margin-left: auto; margin-right: auto; width: 100%; margin-top: 71px;}

/***********************************/
/****	Barre de login ClubCara	***/
/***********************************/

	.userBarBgd {background-color: #275591;}
	.userBarBgd, #userBarre {width:100%; position:fixed; top:0; height:36px; z-index:10000000;}
	#userBarreContent {width:974px; margin-left:auto; margin-right:auto; position:relative;}
	#userBarreContent ul {list-style-type: none; margin-left:4px; padding:0; overflow:hidden;}
	#userBarreContent li {float:left;}
	.pictoUtilisateur {position:relative;}
	.pictoUtilisateur::before {position:absolute!important; bottom:0; content:""; background-image:url(/img_site/barreClubCara/sprite_header.png); background-repeat:no-repeat;}
	.fb_custom_login {background: url(/img_site/barreClubCara/bgd_logoFacebook.png) no-repeat center center #3b5997; background-size: 35%; width: 25px; height: 24px !important; float: left; border: 1px solid #24417c; padding: 0; border-radius: 4px; cursor: pointer;}
	.fb_custom_login_no_design {background: inherit; width: inherit; height: inherit !important; float: none; border: inherit; padding: inherit; border-radius: inherit; cursor: inherit;}
	.gg_custom_login, .gg_custom_login button {background: url(/img_site/barreClubCara/bgd_logoGooglePlus.png) no-repeat center center #db4936; background-size: 50%; width: 25px; height: 24px !important; float: left; border: 1px solid #a1291a; padding: 0; border-radius: 4px; cursor: pointer;}
	.header .infosUtilisateur {display:none; position:relative;}
	.header #toolbar_search {display:none;}


	/* Mode non connecte */
	.userconnexion {margin:6px 12px;}
	.userconnexion #pseudoLogin {width:180px; vertical-align:top; margin-right:5px; float:left; height: 21px;}
	.userconnexion #passwordLogin {width:116px; vertical-align:top; float:left; height: 21px;}
	.userconnexion .forget {background-color:#eb9b37; border:1px solid #c07312; border-top-right-radius: 5px; border-bottom-right-radius: 5px; color:#fff; padding:0 4px; text-decoration:none; font-size:12px; display:inline-block; height:21px; line-height:14px;}
	.userconnexion .btn_valid {margin-left:5px; background-color:#4ba34c; border:1px solid #3c833d; border-radius: 5px; color:#fff; height:21px; padding:0 8px; text-decoration:none; font-size:12px; cursor:pointer; vertical-align:middle;}
	#userBarreContent .userInscription {margin:6px 0;}
	#userBarreContent .userInscription a {background-color:#3577af; border:1px solid #2a5f8c; border-radius: 5px; color:#fff; padding:1px 9px; text-decoration:none; display:block; height:21px; font-size:12px; line-height:14px;}
	/*#toolbar_search .btn_valid{margin-left:5px; background-color:#3577AF; border:1px solid #2A5F8C; border-radius: 5px; color:#fff; padding:2px 9px; text-decoration:none; font-size:12px; display:inline-block; height:24px; line-height:24px;}*/
	
	/* Mode connecte */
	.infosUtilisateur .infosUtilisateurNotif {background-color: #3577af; color:#fff; display:inline-block; font-size:14px; line-height:18px; margin-left:5px; margin-top:5px; padding:0px 3px; width:auto;}
	.infosUtilisateur .infosUtilisateurNotif.notifOn {background-color: #eb9b37; color:#212121;}
	.infosUtilisateur .infosUtilisateurNotif.moderateur.notifOn {background-color:#eb5037;}

	#userBarreContent .userInfo li {border-right:1px solid #1a457d; padding:8px 5px 6px 5px; line-height:20px; font-size:14px;}
	#userBarreContent .userInfo .first, #userBarreContent .userInfo .last {border-right:0;}
	#userBarreContent .userInfo li a {color:#ffffff; text-decoration:none; display:block; float:left;}
	
	.menuConnexion ul{padding: 0; margin:0;}
	.menuConnexion li{list-style: none;}
	.menuConnexion li a{text-transform: none !important;}

	.menuConnexion ul {position:relative!important;}
	.menuConnexion .userBloc {border-bottom:1px solid #4c6f9c; overflow: hidden; padding: 15px 0 0 10px;}
	.menuConnexion .clubCara_Toolbar_User .bg_avatar_tns2 img{width:21px; height:21px; vertical-align:middle; margin-top:-3px;}
	.menuConnexion .clubCara_Toolbar_User {max-width: 190px; text-align: left; float: left; padding-left: 10px; color:#fff;}
	.menuConnexion .clubCara_Toolbar_Deconnect{width:14px;}
	.menuConnexion .clubCara_Toolbar_Deconnect::before{background-position: -195px -90px; width:14px; height: 16px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}
	.menuConnexion .clubCara_Toolbar_Deconnect{background-position: -189px -89px; width:20px; float: left;}
	.menuConnexion .clubCara_Toolbar_Deconnect a{width:20px; padding-bottom: 0 !important;}
	.menuConnexion .clubCara_Toolbar_Deconnect a:hover{text-decoration: none !important;}
	.menuConnexion .clubCara_Toolbar_Favoris {text-align: left; border-right: 1px solid #4c6f9c; float: left; padding: 15px 4px 12px; color: #fff;}
	.menuConnexion .clubCara_Toolbar_Favoris a {padding-bottom: 0 !important;}
	.menuConnexion .clubCara_Toolbar_Favoris .nbFlag a {color:#000; background-color:#eb9b37; margin-left:5px; padding:1px 4px; width:auto; float: left;}
	.menuConnexion .clubCara_Toolbar_Messages {padding-top: 15px; float: left;}
	.menuConnexion .clubCara_Toolbar_Messages .msgLink{width:12px; margin-right:22px; float:left;}
	.menuConnexion .clubCara_Toolbar_Messages .msgLink::before{background-position: -209px -91px; width:22px; height: 16px;}
	.menuConnexion .clubCara_Toolbar_Messages .nbMP {float: left; height: 20px; padding-right: 4px;}
	.menuConnexion .clubCara_Toolbar_Messages .nbMP a{color:#000; background-color:#eb9b37; padding:1px 4px; width:auto;}
	.menuConnexion .clubCara_Toolbar_AlertModer{padding-top: 15px; border-left: 1px solid #4c6f9c; float:left; background-position: -267px -76px;}
	.menuConnexion .clubCara_Toolbar_AlertModer .alertLink{width:18px; margin-right:14px; float:left;}
	.menuConnexion .clubCara_Toolbar_AlertModer .alertLink::before{background-position: -274px -92px; width:18px; height: 17px;}
	.menuConnexion .clubCara_Toolbar_AlertModer .moderateur {float: left; height: 20px;}
	.menuConnexion .clubCara_Toolbar_AlertModer .moderateur a {color:#212121; background-color:#eb5037; padding:1px 4px; width:auto;}

	.infosUtilisateur .infosUtilisateurNotif a, .infosUtilisateur .infosUtilisateurFavoris a {color: #fff;}
	.infosUtilisateur .infosUtilisateurNotif a:hover {text-decoration: none;}
	.infosUtilisateur .infosUtilisateurPseudo,.pageslide .infosUtilisateurPseudo:hover {vertical-align: middle; color:#fff;}
	.infosUtilisateur .infosUtilisateurMessages .infosUtilisateurNotif {margin-left: 29px;}
	.infosUtilisateur .infosUtilisateurMessages .pictoUtilisateur::before {background-position: -208px -91px; width:24px; height: 17px;}
	.infosUtilisateur .infosUtilisateurFavoris .infosUtilisateurNotif {margin-left: 6px;}
	.infosUtilisateur .infosUtilisateurAmisConnect .infosUtilisateurNotif {margin-left: 28px;}
	.infosUtilisateur .infosUtilisateurAmisConnect .pictoUtilisateur::before {background-position: -233px -93px; width:23px; height: 14px;}
	.infosUtilisateur .infosUtilisateurAmisValid .infosUtilisateurNotif {margin-left: 22px;}
	.infosUtilisateur .infosUtilisateurAmisValid .pictoUtilisateur::before {background-position: -258px -93px; width:15px; height: 16px;}
	.infosUtilisateur .infosUtilisateurAlertModer .infosUtilisateurNotif {margin-left: 26px; margin-right: 7px;}
	.infosUtilisateur .infosUtilisateurAlertModer .pictoUtilisateur::before {background-position: -273px -92px; width:19px; height: 17px;}
	.infosUtilisateur .avatarBarreDyn img {margin-left: 10px; width: 21px; margin-right: 5px; vertical-align: middle;}
	.infosUtilisateur .infosUtilisateurDeconnect::before {background-position: -195px -85px;height: 22px;width: 13px; margin-right: 10px;}
	.infosUtilisateur .infosUtilisateurDeconnect {margin-right: 20px; float: right;}
	.infosUtilisateur .nbFlag {margin-left: 8px;}

	.pageslide {display:none; position:fixed; top:0; height:100%; overflow: scroll; z-index: 10;}
	.pageslide .navPrincipale {padding-top:10px; overflow: scroll; margin-bottom:0; height:100%;}
	.pageslide .navPrincipale li.rub {padding: 15px 0 0 20px; border-bottom: 1px solid #355a8c;}
	.pageslide .navPrincipale li.first {border-bottom: 1px solid #355a8c; border-top: 1px solid #355a8c; margin-top: 8px;}
	.pageslide .navPrincipale .rub span, .pageslide .navPrincipale li a {color: #FFF; border: none; text-transform:uppercase; padding-bottom:12px; display:block;}
	.pageslide .navPrincipale .sousNavItem:hover {text-decoration: underline; color: #212121;}
	.pageslide .navItemLabel:hover {text-decoration: underline;}
	.pageslide .logoSticky {display:none;}
	.pageslide .navPrincipale .sousNav{background-color:#eff3f6; list-style: none outside none; margin-left: -30px; padding-right:20px; padding-left:40px; overflow:hidden;}
	.pageslide .navPrincipale .sousNav .sousNavItem{border-bottom:1px solid #cad0dc; list-style: none outside none; padding: 15px 0 0 0;}
	.pageslide .navPrincipale .sousNav .sousNavItem a{color:#212121; font-size:11px; padding-left:10px; display:block;}
	.pageslide .navPrincipale .sousNav .sousNavItem a .marquesrepondentText{color:#212121; font-size:11px; display:block;}/* onglet mobile uniquement textuel 'marques vous repondent' */
	.pageslide .navPrincipale .sousNav .sousNavItem.last{border-bottom:none;}
	.pageslide .navPrincipale .sousNav .sousNavTitre, .pageslide .navPrincipale .sousNav .sousNavTitre:hover {color:#212121; font-size:11px; text-transform:uppercase; font-weight:bold; padding:40px 7px 15px 7px; text-decoration: none;}
	.pageslide .navPrincipale .btnConnexion {padding: 15px 0;}
	.pageslide .navPrincipale .btnConnexion.active {display:none;}
	.pageslide .navPrincipale li .userBarUserConnect a {text-transform:none;}

	.pageslide .ConnectClose{font-size: 13px; text-transform: uppercase; color:#fff; text-align: center; cursor: pointer; margin-bottom: 15px;}
	.pageslide input[type="text"], .pageslide input[type="password"] {border-radius:2px; border:1px solid #bdbcbc; height:35px; padding: 0 12px; background-color: #fff !important; color: #212121;}
	.pageslide input[type="password"] {width: 141px;}
	.pageslide .MdpOublie {font-size: 11px !important; float: right; margin-bottom: 15px; color: #fff;}
	.pageslide .MdpOublie:hover {text-decoration:underline !important; color: #fff !important;}
	.pageslide .btn-success{width: 100%; height: 35px; padding-top: 8px;}
	.pageslide .separateur{clear: both; border-bottom: 1px solid #cccccc; position: relative; margin-bottom: 13px; margin-bottom: 15px;}
	.pageslide .separateur span{position: absolute; top:-7px; left: 86px; background-color: #275591; padding:0 5px; font-size: 11px; color: #fff;}

	.pageslide .tabInfo {border-top:1px solid #4c6f9c; margin-bottom: 0; margin-top: 13px; height: 34px;line-height: 18px; padding: 0; border-spacing: 0; border-spacing: 0;}
	.pageslide .tabInfo td{padding-left: 4px;}
	.pageslide .tabInfo .borderTabRight{border-right:1px solid #4c6f9c;}
	/* Mode deconnecte */
	.userBarUserConnect {padding:7px;}
	.userBarConnectHeight {height:38px;}
	.userBarUserConnectMdp input, .userBarUserConnectPseudo {border: 1px solid #ccc; padding-left:8px; color:#999; margin-bottom:8px !important;}
	.userBarUserConnectPseudo {border-radius: 4px; width:100%;}
	.userBarUserConnectMdp input {border-top-left-radius: 4px; border-bottom-left-radius: 4px; width: 83.3333%;}
	.userBarUserConnectMdpOublie {border-top-right-radius: 4px; border-bottom-right-radius: 4px; border: 1px solid #c07312; background-color: #eb9b37; text-align:center; font-weight:bold; line-height:1.5em; font-size:1.5em; width: 16.6667%;}
	.userBarUserConnect	.btn-success{color: #fff; margin-bottom: 8px !important;}
	.userBarUserConnect .userBarConnectBtn{padding-top:7px; width:100%;} 
	/* Mode connecte */
	.userBarUser {float:left;}
	.userBarUserAvatar, .userBarProfil, .userBarRemove {text-transform:none !important; padding:0 !important; float:left;}
	.userBarUserAvatar img {width: 21px; margin-right:10px;}
	.userBarUserAvatar:hover {text-decoration:none !important;}
	.userBarDeconnect .glyphicon-remove {color:#c82a31; font-size:16px; padding:2px 0 0 10px;}

	.connectInputEmptyError {display:none; color:#ce262c; background-color:#fae9e9; padding:5px; font-size:11px; width: 100%; margin:1px 1px 10px; overflow:hidden; text-align:left;}
	
	.inputConnectPseudo {width: 100%;}
	.inputConnectMdp input, .inputConnectPseudo {margin-bottom: 8px!important;}

	.userInfo .alertContainer{width: 285px; padding: 7px 0 10px; position: absolute; display: none; z-index: 10; top:28px; background:url(/img_site/bgd_pointe.png) no-repeat 114px 0;}
	.userInfo .pictoUtilisateur{cursor: pointer;}
	.userInfo .notification-menu-header {text-align: center !important; font-size: 16px; color: #212121;}
	.userInfo .notification-menu-header a{color: #212121 !important;}
	.userInfo .notification-menu-header a:hover{text-decoration: underline;}
	.userInfo .alertContainer .content {background-color: #fff; max-height: 350px; overflow: auto; box-shadow: 0 4px 7px -2px #3e3e3e;-moz-box-shadow: box-shadow: 0 4px 7px -2px #3e3e3e;-webkit-box-shadow: box-shadow: 0 4px 7px -2px #3e3e3e; border-radius: 3px; display: block; padding:7px 20px 0;}
	.userInfo .alertContainer .content ul {padding-bottom: 20px;}
	.userInfo .alertContainer .content li{border-bottom: 1px solid #ccc; padding: 10px 0;}
	.userInfo .alertContainer .content .sender{margin:0 5px 0 0;}
	.userInfo .alertContainer .content .action{line-height:22px; font-size:11px;}
	.userInfo .alertContainer .content .link-related_object{color: #212121; text-decoration: underline; display: block; font-size: 13px; line-height:22px;}
	.userInfo .alertContainer .content .link-related_object a:hover{text-decoration: none;}
	.userInfo .alertContainer .content .cara-btn-block{margin-bottom:0;}
	.userInfo .alertContainer .content .line-ico-date{color: #888888; font-size: 11px; line-height:22px;}
	.userInfo .notif-menu-private_thread .alertContainer{left:-89px;}
	.userInfo .notif-menu-forum .alertContainer{left:-73px;}
	.userInfo .notif-menu-friends_online .alertContainer{left:-40px; width: 200px; background-position: 67px 0px;}
	.userInfo .alertContainer .content .list-friend-online li{overflow: hidden; clear: both;}
	.userInfo .alertContainer .content .list-friend-online li:last-child{border-bottom: none;}
	.userInfo .alertContainer .content .list-friend-online .bg_avatar_tns3_avatar{line-height: 0px;}
	.userInfo .alertContainer .content .bg_avatar_tns3_avatar img{width: 30px; height: 30px;}
	.userInfo .notif-menu-friends_requests .alertContainer{left:-100px; background-position: 120px 0; width: 200px;}
	.userInfo .notification_alerts .alertContainer{left:190px;}
	.userInfo .clubCara_Toolbar_Favoris{color:#fff;}
	.userInfo .clubCara_Toolbar_User a{color:#fff;}
	/** Mise en forme des liens de bas de bloc **/
	.userInfo .alertContainer .content li.bloc-end {clear: both; text-align: center; border:none; padding-bottom:0;}
	.userInfo .alertContainer .content li.bloc-end .cara-btn-block{background-color: #efefef; border : 1px solid #dedede; text-align: center; line-height: 16px; font-weight: bold; display: inline-block; max-width: 95%; padding: 10px 18px; transition: all .2s ease-in-out; -webkit-border-radius: 2px;
	-moz-border-radius: 2px; border-radius: 2px;}
	.userInfo .alertContainer .content li.bloc-end .cara-btn-block:hover{background-color: #dedede; cursor: pointer;}
	.userInfo .alertContainer .content li.bloc-end .cara-btn-block a:hover{text-decoration: none;}


	/** Pub Ancrage Forum **/
	.blocPub {font-family:arial; font-size:13px; width:100%; overflow:hidden; position:relative;}
	.blocPub .imgPub {float:left; margin-left:5px; overflow:hidden; border:1px solid #cfcfcf;}
	.blocPub .imgPub img {width:70px; height:70px;}
	.blocPub .txtPub {padding-left: 14px; width:auto; overflow:hidden;}
	.blocPub .txtPub a {color: #333; display:inline-block;}
	.blocPub .txtPub a:hover {text-decoration: underline; color: #333;}
	.blocPub .txtPub .ttlPub {color: #00336e; font-size: 20px; margin-bottom:5px;}
	.blocPub .txtPub .link {color: #00336e; text-decoration: underline;}
	.blocPub .txtPub .link:hover {text-decoration: none; color: #00336e;}
	.blocPub .marquee {float:right; font-size: 9px; text-transform:uppercase; position:absolute; bottom:0; right:1%;}

	.borderLeft {border-left:1px solid #cccccc;}
	.borderRight {border-right:1px solid #cccccc;}
	.borderBottom {border-bottom:1px solid #cccccc; margin-bottom: 13px; width:100%; overflow:hidden;}
	.borderTop {border-top:1px solid #cccccc; margin-bottom: 13px; overflow:hidden;}
	.bloc-header {padding: 3px 13px 5px; background-color: #275591; margin-bottom: 15px;}
	.btn-block {border-bottom: 1px solid #275591; margin-bottom: 30px; margin-top: 20px; width: 100%; overflow: hidden;}
	.btn-block .noTxt {background-color: #eeeeee; display: block; padding: 5px 62px 5px 10px;}
	.btn-poursuivre, .btn-poursuivre:hover {background-color: #3577af; border: 1px solid #2a5f8c; border-radius: 5px; color: #ffffff; padding: 0 9px; height:38px;}

	/* Footer editorial */
	a.footer_titre, a.footer_titre:hover {font-size:18px; color: #212121; margin-bottom:20px; display: block;}
	.footer_bloc {float: left; width: 33%; padding:0 15px; color: #212121;}
	.footer_bloc .visuel {float: left; width: 90px;}
	.footer_bloc .visuel img {width: 80px;} /*Permet de limiter la taille des img pour le footer moto/scooter*/
	.footer_titre_article {color: #212121; font-size: 13px;}
	a.a_titreFlux, a.a_titreFlux:hover {font-size:15px; color: #212121;}
	.footer_bloc .note {background-color: #275591; color: #fff; font-size: 24px; margin-top: 5px; padding: 0 4px; text-align: center; width: 80px;}	footer{background-color: #1a457d; border-top: 7px solid #275591; padding: 16px 0 0 0;}
	
	/* Footer */
	footer .containerFooter{margin-left: auto; margin-right: auto; max-width: 974px;}
	footer .containerLev2{background-color: #275591;}
	footer .containerFooterBas{background-color: #fff;}
	footer li a:hover{margin-left: auto; margin-right: auto; max-width: 974px;}	
	footer .ttl{color: #fff; font-size: 16px; padding-bottom: 18px;}
	footer .emailNl{border: 1px solid #ccc; border-radius: 3px; color: #212121; margin-right:5px; padding: 0 5px 0 5px; width: 213px; height: 25px;}
	footer .btn-primary{height: 24px; font-style: 13px; padding: 0 5px;}
	footer .social, footer .app {padding-left: 0;}
	footer .social{padding-bottom: 12px;}
	footer .app {border-top: 1px solid #355a8c; padding-top: 12px;}
	footer .social img {width: 55px; height: 39px; margin-right: 5px;}
	footer .listes {border-top: 1px solid #355a8c; clear: both;}
	footer .listes .blocCat{border-right: 1px solid #355a8c;}
	footer .listes ul {list-style: none; padding: 0 0 10px 0; margin: 0;}
	footer .listes ul li{border: none; color: #fff; padding-top: 3px; line-height: 16px;}
	footer .listes ul li a{color: #fff; font-size: 13px;}
	footer .listes .ttl {padding-bottom: 5px;}
	footer .listes .padToutesMarques{padding-top: 23px;}
	footer .listes .padSalon{padding-top: 48px;}
	footer .listes .columns {-webkit-columns: 3; -moz-columns: 3; columns: 3;}
	footer .level2 {background-color: #275591; margin-left: auto; margin-right: auto; max-width: 974px; padding: 0 0 10px 0; overflow: hidden;}
	footer .level2 li{display: block; border:none; width: 50%; float: left; font-size: 11px;}
	footer .level2 li a{color: #fff; padding: 12px 12px; display: block;}
	footer .footBas {margin-left: auto; margin-right: auto; max-width: 974px;}
	footer .footBas ul{list-style: none; padding: 0 0 10px 0; margin: 0;}
	footer .footBas ul li{display: inline-block; text-align: center;}
	footer .footBas .ttl{color: #212121; font-size: 16px; float: left; padding: 13px 0 0 15px;}
	footer .footBas .mention {text-align: center; font-size: 10px; padding: 7px 0 20px 0;}
	footer .footBas .sites {padding:17px 0;}
	footer .footBas .sites li{padding: 0 0 0 50px;}
	footer .footBas .sites li a{font-size: 13px;}
	footer .footBas .sites img {padding-top: 9px; padding-bottom: 10px;}
	footer .footBas .sites .imgForumB {padding-top: 4px; padding-bottom: 0;}


	/* Navigation categories */
	.JSsous_menu_forum {display:none;}
	.menu_categories {padding-bottom:5px;}
	.menu_categories .titreCategorie {text-align:center; padding: 5px 10px; margin:10px 0; text-transform:uppercase; font-size:24px;}
	.menu_categories .sous_nav_categorie {position:relative; background-color:#eff3f6; padding-bottom: 5px; }
	.menu_categories .sous_nav_categorie ul {color:#212121; position:absolute; left:0; right:0; z-index:2; background-color: #eff3f6; max-height: 400px; overflow: scroll; box-shadow: 1px 1px 12px #555;}
	.menu_categories .sous_nav_categorie .categorieCurrent {padding: 6px 13px; color:#212121; margin:0; cursor: pointer;}
	.menu_categories .sous_nav_categorie .categorieCurrent /*background gradient */ {background:linear-gradient(#e9e9e9, #bbb6b6); background:-moz-linear-gradient(#e9e9e9, #bbb6b6); background:-webkit-linear-gradient(#e9e9e9, #bbb6b6); border-bottom:0;}
	.menu_categories .sous_nav_categorie .categorieCurrent /*border*/ {border-radius: 4px; border-bottom:0; border-color: #1a457d #1a457d -moz-use-text-color;}
	.menu_categories .sous_nav_categorie ul, .menu_categories .sous_nav_categorie .categorieCurrent {margin:auto; max-width: 280px;}
	.menu_categories .sous_nav_categorie .categorieCurrent span {font-size:8px;}
	.menu_categories .sous_nav_categorie a {color:#212121;}
	.menu_categories .sous_nav_categorie a:hover, .menu_categories .sous_nav_categorie a:focus {background-color:#e9e9e9;}
	.menu_categories .sous_nav_categorie li {padding: 10px 20px; border-bottom: 1px solid #dbe4ea;}
	
	/* Home FA */
	#conteneurCenter{background: #fff; padding:0 10px; overflow:hidden;}
	#center{background-color: #fff;	max-width:100%; margin-left:auto; margin-right:auto; padding-top:32px;}
	.bigTitle_FA{font-family:arial; font-size:22px; color:#212121; text-transform: uppercase;}
	.bandeauHome{font-family:arial; font-size:16px; color:#212121; background-color:#eff3f6; width:100%; margin-top:30px; margin-bottom:5px;}
	.btn_compte{display: inline-block; background-color:#3577af; border:1px solid #2a5f8c; border-radius: 5px; color:#fff; margin-top:10px; padding:8px 18px; text-decoration:none; font-size:13px; cursor:pointer; vertical-align:middle;}
	.blocTopTetiere {width:100%; float:left; display:inline; margin-top:10px;}
	/* categories forum */
	#allCategs,#whatsHot {display:none;}
	#allCategs.active,#whatsHot.active {display:block;}
	#allCategs{border:1px solid #cccccc;}
	#allCategs a{color:#3c3c3c; text-decoration:none;}
	#allCategs .spacer{border-top: 1px solid #ccc; padding-top:15px;}
	.forumList{margin-bottom:10px;}
	.forumList:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
	.forumList dt{float:left; width:100%; font-size:18px; background:url(/img_site/responsive/picto_forum.png) no-repeat;}
	.forumList .pict-down{background:url(/img_site/responsive/picto_puces.png) no-repeat; background-position: right -26px;}
	.forumList .pict-up{background:url(/img_site/responsive/picto_puces.png) no-repeat; background-position: right -70px;}
	.forumList dt div{color:#212121; cursor: pointer; padding: 6px 0 6px 65px;}
	.forumList dt.aide{background-position: -329px -3123px; margin-top:10px;}
	.forumList dt.marq{background-position: -333px -70px;}
	.forumList dt.prat{background-position: -333px -303px;}
	.forumList dt.collec{background-position: -333px -533px;}
	.forumList dt.sport{background-position: -333px -765px;}
	.forumList dt.techn{background-position: -333px -998px;}
	.forumList dt.tuning{background-position: -333px -1234px;}
	.forumList dt.clubs{background-position: -333px -1470px;}
	.forumList dt.lois{background-position: -333px -1701px;}
	.forumList dt.motos{background-position: -333px -1935px;}
	.forumList dt.scoot{background-position: -333px -2170px;}
	.forumList dd{float:left; width:100%; margin-left:0; border-top: 2px solid #275591; display:none;}
	.forumList dd ul{padding-left:0; margin:0 15px;}
	.forumList dd li{display:inline; font-size:13px;}
	.btn_accueil{display: inline-block; text-align:center; background-color:#3577af; border:1px solid #2a5f8c; border-radius: 5px; color:#fff !important; margin:10px 15px; padding:8px 18px; text-decoration:none; font-size:13px; cursor:pointer; vertical-align:middle;}
	
/* Publicite
 * ------------------------------------------------ */
	#mega table {display:inline!important;}
	#mega div {margin:0 auto!important;}

/** popin promo App **/
	#popInPromo{top:0; left:0; z-index:1000; position:absolute; height:100%; width:100%; text-align:center; display:none;}
	.popInPromoRelative {height:100%; position:relative; width:100%;}
	#popInPromoBg{background-color: #000000; opacity: 0.25; opacity: 0.25; height:100%; width:100%;}
	.visuelPromo{width:100%; height:100%; position:absolute; top:0;}
	.visuelPromoImg {position: relative; margin: 200px auto 0px; max-width: 900px;}
	.visuelPromoImg img{width:100%; height: auto; display:block;}
	#popInPro .close {cursor: pointer; position: absolute; right:0; top:0; max-width: 46px;}
	#popInPro .close img {width:100%; height:auto; display:block;}


/* Mise en forme du message aux internautes sur les cookies */
	.infoCookies {display: none; background-color: #f7f7f7; border-top: 2px solid #afafaf; color: #3c3c3c; font-size: 13px; position:fixed; bottom:0; z-index:10000000; width:100%; padding:9px 0; box-shadow: 0px -3px 5px 0 rgba(0, 0, 0, 0.3);}
	.infoCookies a {color: #c19d0f; text-decoration: underline;}
	.infoCookies a:hover {text-decoration: none;}
	.infoCookiesVisible {display: block;}
	.infoCookies .closeMessCnil {border: 1px solid #9b9b9b; padding: 0 5px; background-color: #396bad; color: #f7f7f7;}
	.infoCookies .closeTxtCnil span {text-decoration: none;cursor:pointer;}
	.infoCookies .txtCnil {width: 96%; padding:2px 0 5px; float:right; text-align: center;}
	.infoCookies .txtCnil p {max-width:860px; margin:0 auto;}
	.infoCookies .closeTxtCnil {float: right; margin-right: 5px; width:2%;}

/* Page de recherche */
	.moteurRechercheBloc {background-color: #eeeeee; padding: 10px; margin-bottom:15px;}
	.champsRadio {float:left; margin-right:20px; padding:5px 0; font-size:13px;}
	.champsRecherche {width: 100%; margin-bottom:10px; height:38px; padding:0 5px; margin-top:15px;}
	.moteurRechercheBloc .btn-poursuivre {float:right;}
	#cse-search-results iframe {width: 100%;}
	
/* Masquage popin google+*/
	iframe[src^="https://apis.google.com"] {display: none;}
	#pseudoform iframe[src^="https://apis.google.com"] {display: block;} /* Exception pour le bouton de connexion G+ dans le formulaire de reponse FA */


/****** Mobile and iPad Portrait */
@media only screen and (min-width: 768px) {

	.col-sm-4 {width: 33.3333%;}
	.col-sm-8 {width: 66.6667%;}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
  	float: left;}

	/** Filets de separation **/
	.borderBottom-xs {border-bottom:none;} /* Border grise en bas que sur mobile */
	.borderBottom-sm {border-bottom:none;} /* Border grise en bas que sur tablette */
	.borderBottom-xs-sm {border-bottom:none;} /* Border grise en bas que sur mobile et tablette*/
	.borderBottom-md {border-bottom:1px solid #cccccc;} /* Border grise en bas que sur desktop */
	.borderNo-md {border:none !important;} /* Pas de bordures sur desktop */

	/* Navigation categories */
	.menu_categories {margin-top: 35px;}

	/** Mise en forme de la barre utilisateur **/
	.siteTopBgd, .siteTop {position: fixed; top: 0; z-index: 1001; width: 100%;}
	.userBarBgd {height: 35px;}

	.userInfo .clubCara_Toolbar_User .bg_avatar_tns2 img{width:21px; height:21px; vertical-align:middle;}
	.userInfo .clubCara_Toolbar_User 	{
		max-width: 190px;
	}
	.userInfo .clubCara_Toolbar_User a {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.userInfo .clubCara_Toolbar_Deconnect::before {background-position: -195px -90px; width:14px; height: 16px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}
	.userInfo .clubCara_Toolbar_Messages::before {background-position: -209px -91px; width:22px; height: 16px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}
	.userInfo .clubCara_Toolbar_AmisConnect::before {background-position: -233px -91px; width:23px; height: 16px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}
	.userInfo .clubCara_Toolbar_AmisAValid::before {background-position: -256px -93px; width:16px; height: 16px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}
	.userInfo .clubCara_Toolbar_AlertModer::before {background-position: -274px -93px; width:18px; height: 16px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}

	#toolbar_search_box_close {width:250px;}
	#toolbar_search {display:block; width:420px; float:right; padding: 15px 15px 0 0;}
	#toolbar_search_box {display: none;	background-color:#566972; border:1px solid #7f95a1;	position:fixed;	right:0; bottom:30px; padding:5px; width:250px;}
	#toolbar_search_box_content {width:250px; height:250px;	overflow-y:auto; overflow-x:hidden;}
	#toolbar_search_box_content a {color:#fff;}
	#toolbar_search_box_content .loading{margin:0 auto;	width:19px;}
	#toolbar_search_box_content table {border-spacing:15px;	padding:0px; text-align:center;}
	#toolbar_search_box_content div.user_tns3 {float:left; text-align:center; padding:4px; width:50px;}
	#toolbar_search fieldset {float:right;}
	.boxgoogle{width:220px; height:23px; border:none; border-radius:3px; padding:0 31px 0 5px; font-family: arial; font-size: 12px; color:#212121;}


	/** Mise en forme du footer **/
	footer .emailNl{width: 180px;}
	footer .social, footer .app {padding-left: 20px;}
	footer .app {border-top: none; padding-top: 0px;}
	footer .app .imgApp{width: 225px; height: auto;}
	footer .social{padding-bottom: 15px;}
	footer .footBas .sites li {padding: 0 0 0 33px;}
	footer .level2 {background-color: #275591; text-align: center; margin-top: 18px; padding-bottom: 0px;}
	footer .level2 li{display: inline-block; font-size: 13px; width: auto; float: none;}
	footer .level2 li a{color: #fff; padding: 7px 12px; display: block;}
	footer .footBas .mention {padding-bottom: 5px;}

 /** Pave Pub CC **/
	#context #pave{margin-bottom:20px;}
	#context #pave .publiInfoResponsive{background-color: #275591; font-family:arial; padding: 5px 10px; font-size:14px; color:#fff; text-transform:uppercase;}
	
 /** Bloc de mise en avant de blogs CC **/
	.blocTop_tetiereCC  {overflow:hidden; font-family:arial;}
	.blocTop_tetiereCC  .ttl{background-color: #275591; padding: 2px 10px; margin-bottom:10px;}
	.blocTop_tetiereCC  .ttl a{font-size:17px; color:#fff; text-transform:uppercase;}
	.blocTop_tetiereCC  .ttl .logoCC {padding-left:5px;}
	.blocTop_tetiereCC  .mea .title{height:auto; display:block;}
	.blocTop_tetiereCC  .mea .title a{font-size:20px; color:#212121;}
	.blocTop_tetiereCC  .mea .auteur{font-size:11px; color:#212121; line-height:20px;}
	.blocTop_tetiereCC  .mea .auteur a{color:#212121;}
	.blocTop_tetiereCC  .mea .description {padding-top:5px; font-size:13px; color:#212121; line-height:18px; margin-bottom: 5px;}
	.blocTop_tetiereCC .separateur {border-top: 1px solid #ccc; padding-top: 15px;}
	.blocBottom_tetiere300{border-bottom: 1px solid #275591; background-color: #eeeeee; display: block; height: 26px; font-size: 13px; margin-bottom: 30px; margin-top: 10px; text-align: right; padding-top:5px;}
	.btn-block-lien{background: url(/img_site/responsive/pictoBigChevron.png) no-repeat scroll right center #eeeeee; padding:5px 62px 4px 10px;}
	
 /** Blocs derniers essais et avis CC **/
	.blocTop_tetiereCC .contextContent{list-style-type: none; padding:0; margin:0;}
	.blocTop_tetiereCC .contextContent li{border-top: 1px solid #ccc; padding:10px 0; overflow:hidden;}
	.blocTop_tetiereCC .contextContent .first{border-top:none;}
	.blocTop_tetiereCC .contextContent .visuel{float:left; margin-right:5px;}
	.blocTop_tetiereCC .contextContent p{font-size:15px; color:#212121;}
	.blocTop_tetiereCC .contextContent a{text-decoration:none;}
	.blocTop_tetiereCC .contextContent .reaction{background: url("/img_site/responsive/pictoReaction.png") no-repeat scroll 0 2px; padding-left: 18px; font-size:11px;}
	.blocTop_tetiereCC .communaute{background: url("/img_site/responsive/pictoCommunaute.png") no-repeat scroll 5px 5px #275591; padding-left: 35px; padding-right: 8px;}
	.blocTop_tetiereCC .contextContent .avisNotecomm{background-color: #275591; clear: left; color: #fff; display: block; float: left; font-size: 24px; margin-right: 5px; margin-top: 5px; padding: 0 4px; text-align: center; width: 72px;}
	.blocTop_tetiereCC .contextContent .more{background-color: #275591; clear: left; color: #fff; display: block; float: right; font-size: 13px; margin: 10px 0 0; padding: 7px 12px;}
	.blocTop_tetiereCC .contextContent .more a{color: #fff;}
		
/* Popins - Se connecter*/
	.modal-dialog{margin-top:140px !important;}

/** popin promo App **/
	#popInPro.close {right: -46px; top: -47px; max-width: 92px;}

/* Page de recherche */
	.moteurRechercheBloc {width:80%;}

}


/************************************************************/
/****** desktop */
@media only screen and (min-width: 992px) {

	/* class qui permet de masquer des blocs sur le mobile et de les rendre visibles sur www, et inversement */
	.hiddenResponsive {display:block !important;}
	.displayedResponsive {display:none !important;}

	.col-md-2 {width: 16.6667%;}
	.col-md-4 {width: 33.3333%;}
	.col-md-8 {width: 66.6667%;}

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
  	float: left;}

	.container {text-align:left;}

	.sousMenuForum {margin-top: -1px;}

	.smallDisplay {display:none !important;}
	.largeDisplay {display:block !important;}

	.btn-primary, .btn-success {padding: 1px 12px !important;}
	.md .btn-primary, .md .btn-success {padding: 1px 12px !important;}

	/** Mise en forme du header + nav **/
	.headerSite {position: inherit; -moz-box-shadow: 0px 0px 0px 0px #000; -webkit-box-shadow: 0px 0px 0px 0px #000; box-shadow: 0px 0px 0px 0px #000; background: url(/img_site/responsive/bg_headerSite.png) repeat-x;}
	.header {height:117px; margin-left: auto; margin-right: auto; max-width: 1004px; position: relative;}
	.header .logo {text-align:left; width:300px;}
	.header .logo img {width: 216px; height: auto; padding-top: 10px; margin-bottom:13px; vertical-align:middle;}
	.header .navPrincipale li.borderRight {border-right: 1px solid #355A8C;}
	.navPrincipale {margin-bottom:0px;}
	.header .navPrincipale .modSearch button {padding:3px;}
	.header .navPrincipale .modSearch select {padding:3px;}
	.burger {display: none;}
	#pubTop {margin-left: auto; margin-right: auto; max-width: 974px; margin-top:2px; min-height: 95px; padding-bottom:7px;}

	/* menu sous navigation */
	.sousMenuForum {width: 100%; background-color: #eff3f6; overflow: hidden; margin-bottom: 10px;}
	.sousMenuForum .sousNav{/*max-width: 974px; jira CARA-3998*/ margin-left: auto; margin-right: auto; padding: 0; text-align: center;}
	.sousMenuForum .sousNavItem {display: inline-block; padding:10px 14px 0 0;}
	.sousMenuForum .sousNavItem a {color:#3c3c3c; display: block; text-decoration:none; font-size:13px;}
	.sousMenuForum .sousNavItem.accueil a {background: url(../img_site/responsive/picto_forum.png) no-repeat -57px -2644px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.accueil a:hover, .sousMenuForum .sousNavItem.accueil a.active_accueil{background: url(../img_site/responsive/picto_forum.png) no-repeat -349px -2644px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.aide a{background: url(../img_site/responsive/picto_forum.png) no-repeat -58px -3122px; padding: 36px 4px 20px;}
	.sousMenuForum .sousNavItem.aide a:hover, .sousMenuForum .sousNavItem.aide a.active_aide{background: url(../img_site/responsive/picto_forum.png) no-repeat -350px -3122px; padding: 36px 4px 20px;}
	.sousMenuForum .sousNavItem.marques a{background: url(../img_site/responsive/picto_forum.png) no-repeat -54px -64px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.marques a:hover, .sousMenuForum .sousNavItem.marques a.active_marq{background: url(../img_site/responsive/picto_forum.png) no-repeat -344px -64px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.pratique a{background: url(../img_site/responsive/picto_forum.png) no-repeat -54px -299px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.pratique a:hover, .sousMenuForum .sousNavItem.pratique a.active_prat{background: url(../img_site/responsive/picto_forum.png) no-repeat -345px -299px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.collections a{background: url(../img_site/responsive/picto_forum.png) no-repeat -46px -529px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.collections a:hover, .sousMenuForum .sousNavItem.collections a.active_collec{background: url(../img_site/responsive/picto_forum.png) no-repeat -337px -529px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.Sport a{background: url(../img_site/responsive/picto_forum.png) no-repeat -63px -759px; padding: 36px 2px 20px;}
	.sousMenuForum .sousNavItem.Sport a:hover, .sousMenuForum .sousNavItem.Sport a.active_sport{background: url(../img_site/responsive/picto_forum.png) no-repeat -354px -759px; padding: 36px 2px 20px;}
	.sousMenuForum .sousNavItem.technique a{background: url(../img_site/responsive/picto_forum.png) no-repeat -50px -993px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.technique a:hover, .sousMenuForum .sousNavItem.technique a.active_techn{background: url(../img_site/responsive/picto_forum.png) no-repeat -341px -993px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.tuning a{background: url(../img_site/responsive/picto_forum.png) no-repeat -59px -1230px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.tuning a:hover, .sousMenuForum .sousNavItem.tuning a.active_tuning{background: url(../img_site/responsive/picto_forum.png) no-repeat -350px -1230px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.clubs a{background: url(../img_site/responsive/picto_forum.png) no-repeat -52px -1463px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.clubs a:hover, .sousMenuForum .sousNavItem.clubs a.active_clubs{background: url(../img_site/responsive/picto_forum.png) no-repeat -344px -1463px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.loisirs a{background: url(../img_site/responsive/picto_forum.png) no-repeat -59px -1694px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.loisirs a:hover, .sousMenuForum .sousNavItem.loisirs a.active_lois{background: url(../img_site/responsive/picto_forum.png) no-repeat -350px -1694px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.motos a{background: url(../img_site/responsive/picto_forum.png) no-repeat -60px -1929px; padding: 36px 2px 20px;}
	.sousMenuForum .sousNavItem.motos a:hover, .sousMenuForum .sousNavItem.motos a.active_motos{background: url(../img_site/responsive/picto_forum.png) no-repeat -351px -1929px; padding: 36px 2px 20px;}
	.sousMenuForum .sousNavItem.scooters a{background: url(../img_site/responsive/picto_forum.png) no-repeat -54px -2165px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.scooters a:hover, .sousMenuForum .sousNavItem.scooters a.active_scoot{background: url(../img_site/responsive/picto_forum.png) no-repeat -345px -2165px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.bateaux a{background: url(../img_site/responsive/picto_forum.png) no-repeat -57px -2402px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.bateaux a:hover{background: url(../img_site/responsive/picto_forum.png) no-repeat -348px -2402px; padding: 36px 0 20px;}
	.sousMenuForum .sousNavItem.marquesReponse a{background: url(../img_site/responsive/picto_forum.png) no-repeat -64px -2850px; padding: 36px 0 20px; width: 106px; display: block;}
	.sousMenuForum .sousNavItem.marquesReponse a:hover, .sousMenuForum .sousNavItem.marquesReponse a.active_faq{background: url(../img_site/responsive/picto_forum.png) no-repeat -355px -2850px; padding: 36px 0 20px; width: 106px; display: block; text-decoration: none;}

	.header .navPrincipale .sousNav .sousNavItem a {text-transform:none; font-size:13px; height: 35px; line-height: 35px;}
	.header .sousNav .sousNavTitre {font-size:15px!important; border:none!important; font-weight: normal!important;}
	.header .sousMenuEssais ul {-moz-columns: 2 200px;-webkit-columns: 2 200px;columns: 2 200px;}
	.header .sousMenuEssais .sousNavTitre {padding-top:15px; padding-left:0;}
	.header .sousMenuConseils ul {width:80%;}

/***********************************/
/****	Barre de login Sticky ClubCara	***/
/***********************************/

	.headerSite.scroll-to-fixed-fixed {box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3); background: url(/img_site/responsive/bg_headerSiteSticky.png) repeat-x; height:65px;}
	#notConnected.headerSite.scroll-to-fixed-fixed .infosUtilisateur {display:none;}
	#notConnected.headerSite.scroll-to-fixed-fixed {height:35px; background: url(/img_site/responsive/bg_headerSite.png) repeat-x;}
	.headerSite.scroll-to-fixed-fixed .header{height:65px;}
	.headerSite.scroll-to-fixed-fixed .infosUtilisateur {height:30px;}
	.headerSite.scroll-to-fixed-fixed .logo{display:none;}
	.headerSite.scroll-to-fixed-fixed .logoSticky {display:block; padding-left:10px; float:left; height:35px; line-height:35px; margin-right:15px; width: 108px; position: relative;}
	.headerSite.scroll-to-fixed-fixed .logoSticky img {position: absolute; top:32%;}
	.headerSite.scroll-to-fixed-fixed .navPrincipale {/*float:left;jira CARA-3998*/ position:relative; height:35px; /*width:775px; jira CARA-3998*/ width:885px; background:transparent;}
	.headerSite.scroll-to-fixed-fixed .navPrincipale .rub{background-color: #1a457d;}
	.headerSite.scroll-to-fixed-fixed .navPrincipale .rub:hover {background: #245088;}
	.headerSite.scroll-to-fixed-fixed .navItemLabel {font-size:12px; line-height: 35px; height: 35px; padding: 0 11px;}
	.headerSite.scroll-to-fixed-fixed .navItemHome {display:none !important;}
	.headerSite.scroll-to-fixed-fixed .userInfo .clubCara_Toolbar_User .bg_avatar_tns2 img {display:none;}
	.headerSite.scroll-to-fixed-fixed .infoItem.itemNavSticky {padding:0; width: 42px; height: 35px; position: relative; float:left;}
	.headerSite.scroll-to-fixed-fixed .lienConnexion{padding-left:0!important;}
	.headerSite.scroll-to-fixed-fixed .lienConnexion .pictoUtilisateur {width:42px; height:35px; display:block;}
	.headerSite.scroll-to-fixed-fixed .lienConnexion .pictoUtilisateur::before {left:30%; margin-left: 0;}
	.headerSite.scroll-to-fixed-fixed .moteurRecherche .sousItemNavSticky {display:block; cursor:pointer;}
	.headerSite.scroll-to-fixed-fixed .itemNavSticky.moteurRecherche {border-right: 1px solid rgba(0, 0, 0, 0.13);-webkit-background-clip: padding-box; /* for Safari */background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */ ;}
	.headerSite.scroll-to-fixed-fixed .itemNavSticky:hover {background-color: rgba(0, 0, 0, 0.13); text-decoration: none;}
	.headerSite.scroll-to-fixed-fixed .itemNavSticky.active, .headerSite.scroll-to-fixed-fixed .itemNavSticky.active:hover {background-color: #eff3f6;}
	.headerSite.scroll-to-fixed-fixed .moteurRecherche.active {border-right:1px solid #cad0dc;}
	.headerSite.scroll-to-fixed-fixed .navPrincipale .navItemEvenement {background-color:#2b81b2; border-right: 1px solid #355a8c;}
	.headerSite.scroll-to-fixed-fixed .navPrincipale .navItemEvenement:hover {background-color:#125b84;}
	/* Moteur de recherche*/
	.headerSite input.btnLoupe, .headerSite.scroll-to-fixed-fixed .moteurRechercheSticky .rechercheFullText input.btnLoupe {bottom:0; height:23px; width:23px; border-radius: 0 2px 2px 0; border-left: 1px #dedede solid; border-top:0; border-right: 0; border-bottom: 0; background-image: url(/img_site/barreClubCara/pictoRechFullText.png); background-repeat: no-repeat; background-color:#efefef; background-position: 50%; position: absolute; right: 10px; cursor:pointer;}
	.headerSite input.btnLoupe {border-top:0; border-right: 0; border-bottom: 0;}
	.headerSite.scroll-to-fixed-fixed .moteurRechercheSticky .rechercheFullText input.btnLoupe {right: 11px; top:11px; height:19px;}
	.headerSite input.btnLoupe:hover, .headerSite.scroll-to-fixed-fixed .moteurRechercheSticky .rechercheFullText input.btnLoupe:hover {background-color:#dedede}
	input.btnloupe:focus {outline:0;}

	.headerSite.scroll-to-fixed-fixed .moteurRecherche .pictoUtilisateur {padding-bottom: 17px;}
	.headerSite.scroll-to-fixed-fixed .moteurRecherche .pictoUtilisateur::before {-ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%; left:35%; background-position: -144px -93px; width:15px; height: 15px;}
	.headerSite.scroll-to-fixed-fixed .moteurRecherche.active .pictoUtilisateur::before {background-position: -161px -93px;}
	.headerSite.scroll-to-fixed-fixed .moteurRecherche .sousNav {position:absolute; background-color:#eff3f6; z-index:999; list-style:none; border-left:1px solid #cad0dc; border-right:1px solid #cad0dc; border-bottom:1px solid #cad0dc; padding:10px; display:none; right:-1px}
	.headerSite.scroll-to-fixed-fixed .moteurRechercheSticky {top:35px; padding:5px; max-height: 362px;}
	.headerSite.scroll-to-fixed-fixed .moteurRechercheSticky .rechercheFullText input {border-radius: 2px; background-image:none; border: 1px solid #d4dee9; padding-left:5px; padding-right:5px; width:196px; color:#212121; height:21px;}
	/* Infos utilisateur */
	.headerSite.scroll-to-fixed-fixed .avatarSticky .sousItemNavSticky {padding-left:10px; padding-top:4px; height:100%;}
	.headerSite.scroll-to-fixed-fixed .avatarBarreDyn img {vertical-align: middle; width: 21px; height:21px; -ms-transform: translate(0,35%); -webkit-transform: translate(0,35%); transform: translate(0,35%);}
	/* menu sous navigation forum sticky */
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky {left:0; width: 1006px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky.sousNav{padding:15px 20px!important;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem {display: inline-block; padding:0 18px 0 0; border-bottom:0!important; float:left!important;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.last {padding-right:0;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem a {color:#3c3c3c; display: block; text-decoration:none; font-size:13px; line-height: 17px!important;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem a:hover {text-decoration:none!important;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.accueil a {background: url(../img_site/responsive/picto_forum.png) no-repeat -57px -2644px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.accueil a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.accueil a.active_accueil{background: url(../img_site/responsive/picto_forum.png) no-repeat -349px -2644px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.aide a{background: url(../img_site/responsive/picto_forum.png) no-repeat -58px -3122px; padding: 36px 4px 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.aide a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.aide a.active_aide{background: url(../img_site/responsive/picto_forum.png) no-repeat -350px -3122px!important; padding: 36px 4px 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.marques a{background: url(../img_site/responsive/picto_forum.png) no-repeat -54px -64px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.marques a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.marques a.active_marq{background: url(../img_site/responsive/picto_forum.png) no-repeat -344px -64px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.pratique a{background: url(../img_site/responsive/picto_forum.png) no-repeat -54px -299px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.pratique a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.pratique a.active_prat{background: url(../img_site/responsive/picto_forum.png) no-repeat -345px -299px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.collections a{background: url(../img_site/responsive/picto_forum.png) no-repeat -46px -529px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.collections a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.collections a.active_collec{background: url(../img_site/responsive/picto_forum.png) no-repeat -337px -529px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.Sport a{background: url(../img_site/responsive/picto_forum.png) no-repeat -63px -759px; padding: 36px 2px 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.Sport a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.Sport a.active_sport{background: url(../img_site/responsive/picto_forum.png) no-repeat -354px -759px!important; padding: 36px 2px 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.technique a{background: url(../img_site/responsive/picto_forum.png) no-repeat -50px -993px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.technique a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.technique a.active_techn{background: url(../img_site/responsive/picto_forum.png) no-repeat -341px -993px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.tuning a{background: url(../img_site/responsive/picto_forum.png) no-repeat -59px -1230px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.tuning a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.tuning a.active_tuning{background: url(../img_site/responsive/picto_forum.png) no-repeat -350px -1230px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.clubs a{background: url(../img_site/responsive/picto_forum.png) no-repeat -52px -1463px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.clubs a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.clubs a.active_clubs{background: url(../img_site/responsive/picto_forum.png) no-repeat -344px -1463px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.loisirs a{background: url(../img_site/responsive/picto_forum.png) no-repeat -59px -1694px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.loisirs a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.loisirs a.active_lois{background: url(../img_site/responsive/picto_forum.png) no-repeat -350px -1694px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.motos a{background: url(../img_site/responsive/picto_forum.png) no-repeat -60px -1929px; padding: 36px 2px 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.motos a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.motos a.active_motos{background: url(../img_site/responsive/picto_forum.png) no-repeat -351px -1929px!important; padding: 36px 2px 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.scooters a{background: url(../img_site/responsive/picto_forum.png) no-repeat -54px -2165px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.scooters a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.scooters a.active_scoot{background: url(../img_site/responsive/picto_forum.png) no-repeat -345px -2165px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.bateaux a{background: url(../img_site/responsive/picto_forum.png) no-repeat -57px -2402px; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.bateaux a:hover{background: url(../img_site/responsive/picto_forum.png) no-repeat -348px -2402px!important; padding: 36px 0 20px;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.marquesReponse a{background: url(../img_site/responsive/picto_forum.png) no-repeat -64px -2850px; padding: 36px 0 20px; width: 106px; display: block;}
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.marquesReponse a:hover, .headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.marquesReponse a.active_faq{background: url(../img_site/responsive/picto_forum.png) no-repeat -355px -2850px!important; padding: 36px 0 20px; width: 106px; display: block; text-decoration: none;}	
	.headerSite.scroll-to-fixed-fixed .sousMenuForumSticky .sousNavItem.marquesReponse .marquesrepondentText{display:none!important;}
	.btn-poursuivre, .btn-poursuivre:hover {padding: 2px 9px; height:auto;}

/***********************************/
/****	Toolbar de login ClubCara	***/
/***********************************/

	.infosUtilisateur {float:right;}
	.infosUtilisateur ul{list-style-type: none; padding:0;}
	.infosUtilisateur .infoItem{float:left;}
	.fb_custom_login {background: url(/img_site/barreClubCara/bgd_logoFacebook.png) no-repeat center center #3b5997; background-size: 35%; width: 25px; height: 24px !important; float: left; border: 1px solid #24417c; padding: 0; border-radius: 4px; cursor: pointer;}
	.gg_custom_login, .gg_custom_login button {background: url(/img_site/barreClubCara/bgd_logoGooglePlus.png) no-repeat center center #db4936; background-size: 50%; width: 25px; height: 24px !important; float: left; border: 1px solid #a1291a; padding: 0; border-radius: 4px; cursor: pointer;}
	.clubcaraMiniLogo {width:117px;}
	.clubcaraMiniLogo::before {background-position: -43px -93px; width:99px; height: 13px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}
	.clubcaraMiniLogo a{display:block; margin-top:6px; padding:4px 4px 5px; text-decoration:none;}

	/* Mode non connecte */
	.header .infosUtilisateur {float:right; padding: 0 10px 0 15px; display:block; height:26px; line-height:26px; position: relative;}
	.header .infoItem {border-right: 1px solid rgba(0, 0, 0, 0.2);-webkit-background-clip: padding-box; /* for Safari */background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */ ; padding: 4px 8px 3px 8px; display:block; float:left;}
	.header .infosUtilisateur .infoItem {padding:0 8px 0 8px; position: relative;}
	.header .infoItem.last, .header .infosUtilisateurSticky .infoItem.last {border-right: none; margin-right:0; padding-right:0;}
	.header .infosUtilisateur .infoItem .infosUtilisateurDeconnect {float: right;}
	.header .lienConnexion {cursor:pointer; padding-left: 28px !important; padding-top:2px;  color:#fff; font-size:12px;}
	.header .lienConnexion .pictoUtilisateur::before {background-position: -178px -93px; width:15px; height: 12px; margin-left: -23px; -ms-transform: translate(0,-50%); -webkit-transform: translate(0,-50%); transform: translate(0,-50%); top:50%;}
	.header .infosUtilisateur.pictoUtilisateur, .header .infosUtilisateur .pictoUtilisateur {display:block; float:left;}

	/* Mode connecte */
	.userInfo .infoItem {border-right:1px solid #1a457d; padding: 0px 5px; font-size:12px;}
	/*.userInfo .infoItem a {color:#ffffff; text-decoration:none; display:block; float:left; width:auto;}*/
	.infosUtilisateur .first, .infosUtilisateur .last {border-right:0;}
	.infosUtilisateur .moderateur {margin-left: 22px;}
	.infosUtilisateur .clubCara_Toolbar_Messages .infosUtilisateurNotif {margin-left: 26px;}
	.infosUtilisateur .clubCara_Toolbar_AmisConnect .infosUtilisateurNotif {margin-left: 28px;}
	.infosUtilisateur .clubCara_Toolbar_AmisAValid .infosUtilisateurNotif {margin-left: 22px;}
	.infosUtilisateur .notification_alerts .infosUtilisateurNotif {margin-left: 23px;}
	.infosUtilisateur .clubCara_Toolbar_Deconnect {width: 14px;}
	.connectInputEmptyError {width: 295px; top:30px; padding:10px; position:absolute; overflow:auto;}

	/* Home FA */
	#conteneurCenter{padding:0;}
	#center{max-width:974px;}
	#main{width:643px; float:left; margin-right:31px;}
	#context{width:300px; float:left;}
	.bandeauHome{width:643px; padding: 10px 15px;}
	.bandeauHomeTxt1{float:left;}
	.bandeauHomeTxt2{float:right;}
	.blocTopTetiere {width:643px;}
	.blocTopTetiere .title{height:29px;}
	.blocTopTetiere .title span{font-size:16px; font-weight: normal; display:inline; padding:5px 0 5px; float:left; color:#212121; background-color: #eeeeee; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-top:1px solid #cccccc;}
	.blocTopTetiere .title .titleInfo {border-left:none !important;}
	.blocTopTetiere .title .active {background-color:#ffffff; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-top:2px solid #275591; padding-top:4px; padding-bottom:6px;}
	.blocTopTetiere .title span a{color:#3c3c3c; text-decoration:none; margin:0 10px;}
	.blocTopTetiere .title span a:hover{text-decoration:none;}
	.forumList dt{width:70px; font-size:12px; text-align:center; background:none;}
	.forumList dt a{color:#3c3c3c; background:url(/img_site/responsive/picto_forum.png) no-repeat; display:block; padding-top:40px;}
	.forumList dt a.aide, .forumList dt.aide{background-position: -329px -3118px; margin-top:0;}
	.forumList dt a.marq{background-position: -333px -65px;}
	.forumList dt a.prat{background-position: -333px -298px;}
	.forumList dt a.collec{background-position: -333px -528px;}
	.forumList dt a.sport{background-position: -333px -760px;}
	.forumList dt a.techn{background-position: -333px -993px;}
	.forumList dt a.tuning{background-position: -333px -1232px;}
	.forumList dt a.clubs{background-position: -333px -1465px;}
	.forumList dt a.lois{background-position: -333px -1696px;}
	.forumList dt a.motos{background-position: -333px -1930px;}
	.forumList dt a.scoot{background-position: -333px -2165px;}
	.forumList dd{width:540px; border-top:none; display:block;}
	.forumList dd ul{margin:0;}
	/* sujets chauds */
	#allCategs{border-top:1px solid #275591; padding:14px;}
	#whatsHot {border:1px solid #cccccc; border-top:1px solid #275591; overflow:hidden;}
	.whatsHot {width:86px; height:912px; padding:0; margin:0; background-color:#eeeeee; list-style-type: none; float:left;}
	.whatsHot li {width:86px; height:76px; text-align:center; font-size:13px; padding:0; margin:0;}
	.whatsHot li a {background:url(/img_site/responsive/picto_forum.png) no-repeat; padding:36px 21px 26px 21px; color:#3c3c3c; text-decoration:none;}
	.whatsHot li a:hover,	.whatsHot li a.active {background-color:#ffffff;}
	.whatsHot .brands a {background-position:-42px -65px;}
	.whatsHot .brands a:hover, .whatsHot .brands .active {background-position:-333px -65px;}
	.whatsHot .pratique a {background-position:-42px -298px;}
	.whatsHot .pratique a:hover, .whatsHot .pratique .active {background-position:-333px -298px;}
	.whatsHot .collections a {background-position:-42px -528px;}
	.whatsHot .collections a:hover, .whatsHot .collections .active {background-position:-333px -528px;}
	.whatsHot .sport a {background-position:-42px -760px;}
	.whatsHot .sport a:hover, .whatsHot .sport .active {background-position:-333px -760px;}
	.whatsHot .technique a {background-position:-42px -993px;}
	.whatsHot .technique a:hover, .whatsHot .technique .active {background-position:-333px -993px;}
	.whatsHot .tuning a {background-position:-42px -1232px;}
	.whatsHot .tuning a:hover, .whatsHot .tuning .active {background-position:-333px -1232px;}
	.whatsHot .clubs a {background-position:-42px -1465px;}
	.whatsHot .clubs a:hover, .whatsHot .clubs .active {background-position:-333px -1465px;}
	.whatsHot .index a {background-position:-42px -2644px;}
	.whatsHot .index a:hover, .whatsHot .index .active {background-position:-333px -2644px;}
	.whatsHot .motos a {background-position:-42px -1930px;}
	.whatsHot .motos a:hover, .whatsHot .motos .active {background-position:-333px -1930px;}
	.whatsHot .scooters a {background-position:-42px -2165px;}
	.whatsHot .scooters a:hover, .whatsHot .scooters .active {background-position:-333px -2165px;}
	.whatsHot .bateaux a {background-position:-42px -2402px;}
	.whatsHot .bateaux a:hover, .whatsHot .bateaux .active {background-position:-333px -2404px;}
	.topicList {width:555px; padding:0; margin:0; list-style-type: none; float:left;}
	.topicList .headerTopic {font-size:13px; line-height:12px; color:#212121; text-transform:uppercase;}
	.topicList .headerTopic a {color:#212121;}
	.topicList .headerTopic small {float:right; color:#00336e; font-size:8px; line-height:12px; text-transform:none;}
	.topicList a {text-decoration:none;}
	.topicList li {padding:15px 0 26px; margin:0 14px;}
	.topicList .spacer {border-top: 1px solid #ccc;}
	.topicList .loading {position:absolute; width:663px; min-height:400px; background:#fff url(/img_site/loading.gif) no-repeat 50% 40px; top:15px; left:0; display:none; padding:0;}
	.topicList big {display:block; padding:8px 0; font-size:20px; line-height:20px;}
	.topicList .content {font-size:13px; line-height:13px; padding-bottom:20px;}
	.topicList .more {background-color: #275591; color: #ffffff; font-size: 13px; margin: 10px 0; padding: 7px 12px;}

	#footer_haut_parsing_news {margin-top:30px;}
	#footer_haut_parsing_news .bloc-header {padding: 4px 13px;}

	/** Popins - commun **/
	.modal-content .mandatory  {margin:0 18px;}

	/** Footer **/
	footer .footBas .sites li{padding: 0 0 0 50px;}
	footer .emailNl{width: 213px;}
	footer .app .imgGoogle{width: auto; height: auto;}
	footer .app .imgApp{width: auto; height: auto;}

/* Page de recherche */
	.moteurRechercheBloc {padding: 10px 10px 20px 15px; width:100%;}
	.champsRecherche {width: 80%; margin-right:10px; height:25px; margin-top:10px;}
	.moteurRechercheBloc .btn-poursuivre {float:none;}


}
