﻿
/*ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    list-style: none;
    cursor: pointer;
    float: left;
}*/

/*.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}
*/
h2.resp-accordion {
    cursor: pointer;
    padding: 3px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

/*.resp-tab-active {
    
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}*/

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /*border: 1px solid #e6e6e6;*/
}

h2.resp-accordion {
    border: 1px solid #e6e6e6;
    margin: 0 0 8px 0;
    padding: 8px 5px;
	border-radius:6px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 8px 5px !important;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

h2.resp-tab-title:last-child {
    border-bottom: 11px solid #e6e6e6 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 12px 0px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    /*background-color: #fff;*/
    border: 0px solid #e6e6e6;
    float: left;
    width: 68%;
    border-radius: 5px;
    clear: none;
	margin:0px;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin: 0px !important;
	
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 8px;
	margin-right:5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #9B9797;
	margin-top: 8px;
	margin-right:5px;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #eeeeee !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #e6e6e6;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #e6e6e6 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
	position:relative;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #e6e6e6 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media (max-width:640px), (min-width:640px) and (max-width:766px){
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: inline-block !important;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #e6e6e6;
		border-bottom-left-radius:6px;
		border-bottom-right-radius:6px;
		margin-bottom:10px;
		position:relative;
		height:auto;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
		
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #e6e6e6 !important;
    }
}
