@font-face {
    font-family: 'openSansRegular';
    src: url('font/opensans-regular.eot');
    src: url('font/opensans-regular.eot?#iefix') format('embedded-opentype'),
    	/*url('../fonts/opensans-regular.woff') format('woff'),*/
    	url('font/opensans-regular.ttf') format('truetype'),
    	url('font/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'openSansLight';
    src: url('font/opensans-light.eot');
    src: url('font/opensans-light.eot?#iefix') format('embedded-opentype'),
    	/*url('../fonts/opensans-regularwoff') format('woff'),*/
    	url('font/opensans-light.ttf') format('truetype'),
    	url('font/opensans-light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/opensans-semibold.eot');
    src: url('font/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         /*url('../font/opensans-semibold.woff') format('woff'),*/
         url('font/opensans-semibold.ttf') format('truetype'),
         url('font/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoeui';
    src: url('font/segoeui.eot');
    src: url('font/segoeui.eot?#iefix') format('embedded-opentype'),
         url('font/segoeui.ttf') format('truetype'),
         url('font/segoeui.svg#segoeui') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seguisb';
    src: url('font/seguisb.eot');
    src: url('font/seguisb.eot?#iefix') format('embedded-opentype'),
         url('font/seguisb.ttf') format('truetype'),
         url('font/seguisb.svg#seguisb') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadpro-semibold';
    src: url('font/myriadpro-semibold.eot');
    src: url('font/myriadpro-semibold.eot?#iefix') format('embedded-opentype'),
         url('font/myriadpro-semibold.ttf') format('truetype'),
         url('font/myriadpro-semibold.svg#seguisb') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=4.0.3');
  src: url('font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.fa-rupee:before, .fa-inr:before { content: "\f156"; }