
    /*css-gutscheinbox:43432622.5*/
    
        .pm-gutscheinbox {
            width: 323px;
            height: 272px;
            border: 1px solid #d9d9d9;
            box-sizing: border-box;
        }
        
        .pm-gutscheinbox h2 {
            height: 29px;
            line-height: 29px;
            border-bottom: 1px solid #d9d9d9;
            text-align: center;
            color: #dd0000;
            font-weight: bold;
        }
        
        .pm-gut-list {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        
        .pm-gut-list li {
            display: inline;
            width: 50%;
            float: left;
            height: 38px;
            border-bottom: 1px solid #d9d9d9;
font-size: 16px;
line-height: 19px;
        }
        
        .pm-gut-list li:nth-child(odd) {
            background-image: url(http://bilder.bild.de/fotos/ecke-43432638/Bild/1.bild.jpg);
            background-repeat: no-repeat;
            background-position: right;
        }
        
        .pm-gut-list li:nth-child(even) {
            text-align: center;
        }
        
        .pm-gut-links {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        
        .pm-gut-links li {
            width: 50%;
            float: left;
            box-sizing: border-box;
            background: none #d00;
            background-color: #dd0000;
            height: 23px;
            line-height: 23px;
            text-transform: uppercase;
            font-size: 11px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            margin-right: 1px;
            margin-left: 1px;
        }
        
        .pm-gut-links li:last-child {
            width: 49%;
            margin-right: 0px;
            margin-left: 0px;
        }
        
        .pm-gut-links li a {
            color: #fff;
        }
        
        .pm-gut-credits {
            text-align: right;
            color: #727272;
            line-height: 20px;
            margin-right: 2px;
        }
        
        
        .pm-gsb-b {
            width: 323px;
            height: 250px;
            border: 1px solid #d9d9d9;
            box-sizing: border-box;
        }
        .pm-gsb-b .pm-gut-credits {
            float: left;
            padding-left: 155px;
        }
        
        .pm-gsb-b .pm-gut-list li {
            border-bottom: 1px solid #d9d9d9;
            border-top: 1px solid #d9d9d9;
            margin-top: 4px;
        }
        
        .pm-gsb-b .pm-gut-list li:nth-child(odd),
        .pm-gsb-c .pm-gut-list li:nth-child(odd) {
            width: 163px;
        }
        
        .pm-gsb-b .pm-gut-list li:nth-child(even),
        .pm-gsb-c .pm-gut-list li:nth-child(even) {
            width: 135px;
        }
        
        .pm-gsb-c {
            width: 300px;
            height: 175px;
            border: 1px solid #d9d9d9;
            box-sizing: border-box;
        }
        
        .pm-gsb-c h2 {
            padding: 10px 0;
        }