
    /*seo-widget:46782346.3*/
    
.rssFeed_seo_widget {
   line-height: 22px;
   font-family: "Gotham XNarrow", Arial, Helvetica, Tahoma, sans-serif;
   font-size: 15px;
   font-weight: 600;
   width: 993px;
   height: 200px;
   padding: 12px 0;
}
.rssFeed_seo_widget .rssFeed_seo_widget_block1,
.rssFeed_seo_widget .rssFeed_seo_widget_block2 {
   width: 496px;
   float: left;
}
.rssFeed_seo_widget .rssFeed_seo_widget_block2 {
   float: right;
}
.rssFeed_seo_widget .pubDate{
   color: #dd0000;
   float: left;
   width: 90px;
   overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.rssFeed_seo_widget .title{
   width: 375px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.rssFeed_seo_widget .title a:hover{
   color: #dd0000;
}
.rssFeed_seo_widget .title a {
   border: none;
}
