@font-face {
    font-family: 'Swiss';
    src: url('http://bilder.bild.de/media/swiss-bc-eot-32534200/Download/1.bild.eot');
    src: url('http://bilder.bild.de/media/swiss-bc-eot-32534200/Download/1.bild.eot?#iefix') format('embedded-opentype'),
    url('http://bilder.bild.de/media/swiss-bc-woff-32534202/Download/1.bild.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{text-decoration: none; color: #333;}
a:hover{text-decoration: none; color: #333;}

.wetterwidget_box{
    width: 110px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.wetterwidget_title{font-family: Arial; font-size: 11px; font-weight: bold; color: #333; text-align: center; margin-top: 4px;}

.wetterwidget_name{
	position: absolute; top: 40px; left: 0px; width: 110px; text-align: center; font-family: Arial; font-size: 10px; line-height: 12px; font-weight: bold; color: #333;
}

.wetterwidget_symbol{
	position: absolute; top: 8px; left: 17px; 
	width: 35px;
	border: none;
}

.wetterwidget_temp{
	position: absolute; top: 21px; left: 55px; font-family: "Arial Black", Arial; font-size: 12px; font-weight: 900; color: #333;
}

