@import url('base.css');
	
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal {   overflow:hidden;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 106px; width: 100%;}
.jcarousel-skin-pika .jcarousel-item-horizontal {  }
.slide_detail{   background-color: #000;
    padding: 10px;
    opacity: 0.7}

