.content_details .tag_sec ul li {
    margin: 0 6px 6px 0;
}
.top_header {
	border: none;
	width: 72%;
	position: absolute;
	right: 0;
	bottom: 33px;
}
.header_right .menu_sec {
	margin:0!important;
}
.top_header small {
	margin: 10px 0 0 5px;
}
.noborder {
	border:none!important;
}
.nomargin {
	margin:0!important;
}
.margin-bottom-20 {
	margin-bottom:20px;
}
.photolists li {
	background-image: url(../images/camera.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
}
.top_footer .box3 {
	width: 14%;
}
#page-number .link-page {background-color: #232325;}
#page-number .active-page {background: #ce2927 none repeat scroll 0 0;}
#paging-box {display: table;}
#page-number li {display: inline-flex;float: left;font-family: Verdana,Arial,Helvetica,sans-serif;height: auto;padding: 3px;}
#page-number li a {color: #fff;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 14px;padding: 8px 9px;background-color:#232325;}
#page-number {display: inline-block;padding: 20px 0;width: 100%;}
#page-number ul {display: table;float: none;margin: auto;}
.headline_sec ul li {padding:0 10px;margin:0 15px;}
.headline_sec ul li.active a {font-weight: bold; text-decoration: underline;}
.headline_sec { margin-top: 10px;}
.clear-padding {
	clear:both;
	padding: 5px;
}
select option {
	padding: 5px 10px;
}
.lists-static-page {
	list-style-type: disc;
	padding: 0 15px;
	font-family: Arial;
	font-size: 14px;
}
.lists-static-page li {
	border: none!important;
	line-height: 0;
}

.ol-static-page {
	font-size: 12px;
    list-style: outside none decimal;
    line-height: 19px;
    margin-left: 20px;
}
.catatan-kaki {
	background-color: #f4f4f4;
    color: #7f7f7f;
    padding: 10px;
}
.disclaimer {
	font-family: Arial;
	font-size: 15px;
}
.disclaimer ol {
	font-family: Arial;
	list-style-type: decimal;
	margin-left: 20px;
}
.disclaimer ul {
	font-family: Arial;
	list-style-type: disc;
	margin-left: 20px;
}
.error-404 {
	font-family: Arial;
	text-align: center;
	font-size: 50pt;
}
.info1 {
	font-family: Arial;
	text-align: center;
	font-size: 20pt;
}
.info2 {
	font-family: Arial;
	text-align: center;
	font-size: 14pt;
	margin-top: 20px;
}
.more {
	font-family: Arial;
	text-align: center;
}
.photo_title {
	background-color: blue;
}
.img-slide img {
	height:100%;
}
.img-slide span {
    bottom: 0;
    position: absolute;
    background-color: #000000;
    width: 100%;
    padding: 10px 10px;
    opacity: 0.7;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: arial;
	left: 0;
}
.img-slide .foto-icon {
	bottom: 43%;
	height: 64px;
	left: 46%;
	position: absolute;
	width: 64px;
}
.box-photos {
	width: 300px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	margin-right: 20px;
}
.box-photos.last{
	margin-right: 0!important;
}
.loadmore {
    background-color: #DE000B;
    display: block;
    padding: 10px 53px;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    width: 101px;
    margin: 20px auto;
}
.photo-detail {
	display: block;
	background-color: #000000;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.photo-detail .header {
	background-color: #DE000B;
	display: block;
	float: left;
	width: 100%;
	height: 40px;
	vertical-align: middle;
	color: #ffffff;
}
.photo-detail .info {
	float: left;
	padding: 10px;
	font-family: "Lato",Arial,sans-serif,Helvetica;
}
.photo-detail .thumb-mode {
	float: right;
}
.photo-detail .thumb-mode a {
	color: #ffffff;
}
.photo-detail .thumb-mode img {
	height: 24px;
	width: auto !important;
	margin-top: 8px;
}
.photo-detail .thumb-mode span {
	float: right;
	font-family: "Lato",Arial,sans-serif,Helvetica;
	padding: 11px 20px 0 5px;
}
.photo-detail .main-image {
	height: 635px;
    text-align: center;
    overflow: hidden;
}
.photo-detail .main-image img {
	height: 100%!important;
	width: auto!important;
}
.photo-detail .thumb img {
	height: 150px;
	width: auto;
}
.photo-detail .thumb {
	width: 2400px;
	overflow: hidden;
	position: absolute;
}
.photo-detail .thumb li {
	display: inline;
}
.content-photo-detail {
	font-family: "Lato",Arial,sans-serif,Helvetica;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	-webkit-box-shadow: 2px 2px 1px 0px #CCC; 
	-moz-box-shadow: 2px 2px 1px 0px #CCC; 
	box-shadow: 2px 2px 1px 0px #CCC;
}
.contenttext {
	font-family: "Lato",Arial,sans-serif,Helvetica;
	padding: 10px 0;
}
.contenttext .summary {
	margin-bottom: 10px;
	color: #7F7F7F;
	font-size: 10pt;
}
.photo-detail .btn-next{
	background: rgba(0, 0, 0, 0) url("../images/buttun-next.png") no-repeat scroll 0 0;
	cursor: pointer;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 20px;
	right: 10px;
	top: 50%;
	height: 85px;
}
.photo-detail .btn-prev{
	background: rgba(0, 0, 0, 0) url("../images/buttun-prev.png") no-repeat scroll 0 0;
	cursor: pointer;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 20px;
	left: 10px;
	top: 50%;
	height: 85px;
}
.other {
	color: #de000b;
	font-family: "Lato",Arial,sans-serif,Helvetica;
	font-size: 15pt;
	margin-top: 30px;
}
.video-detail {
	/*border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;*/
	float: left;
	height: 450px;
	width: 100%;
}
.video-detail .main-video {
	float: left;
	width: 68%;
	height: 450px;
	margin-right: 2%;
}
.video-detail .other-video {
	float: left;
	width: 28%;
	height: 450px;
}
.video-detail .youtube-iframe {
	height: 450px;
	width: 100%;
	border: none;
}
.other-video .video-thumb {
	position: relative;
	width: 45%;
	height: auto;
	padding-bottom: 20px;
	float: left;
}
.other-video .foto-icon {
	height: 24px;
	left: 40%;
	position: absolute;
	top: 25%;
	width: 24px
}
.other-video .title {
	width: 45%;
	float: left;
	color: #333!important;
	font-size: 13px;
	font-family: "Lato",Arial,sans-serif,Helvetica;
}
.other-video a {
	color: #333;
}
.scrollable.gray-skin .scroll-bar .thumb {
    background-color: #DE000B;
}
.scrollable.gray-skin .scroll-bar {
    background-color: #F4F4F4;
    border: none;
}
.loading {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}
#cse-search-box .searchbox {
	background: rgb(255, 255, 255)!important;
}
/*==========Mega menu start here==========*/
.menu_sec ul li.blue .galerimenu_container{ border-color:#0078f0}
.menu_sec ul li.green .galerimenu_container{  border-color:#009d2e }
.menu_sec ul li.brown .galerimenu_container{  border-color:#A36248 }
.menu_sec ul li.purple .galerimenu_container{  border-color:#6f1e84}

.menu_sec ul li.blue .galerimenu_container span{ background:#0078f0}
.menu_sec ul li.green .galerimenu_container span{ background:#009d2e }
.menu_sec ul li.brown .galerimenu_container span{  border-color:#A36248 }
.menu_sec ul li.purple .galerimenu_container span{ background:#C779FF}

.menu_sec ul li.blue .galerimenu_container .list li{ border-color:#0078f0}
.menu_sec ul li.green .galerimenu_container .list li{ border-color:#009d2e }
.menu_sec ul li.purple .galerimenu_container .list li{ border-color:}

.menu_sec ul li.blue .galerimenu_container .list li a{ color:#0078f0 !important;}
.menu_sec ul li.green .galerimenu_container .list li a{ color:#009d2e !important;}
.menu_sec ul li.purple .galerimenu_container .list li a{ color:#6f1e84 !important;}
.menu_sec ul li.brown .galerimenu_container .list li a{ color:#A36248 !important;}

.menu_sec ul li.black .galerimenu_container .list li a:hover{ color:#525252 !important;}
.menu_sec ul li.brown .galerimenu_container .list li a:hover{ color:#8C0000 !important;}
.menu_sec ul li.blue .galerimenu_container .list li a:hover{ color:#133696 !important;}
.menu_sec ul li.green .galerimenu_container .list li a:hover{ color:#006e00 !important;}
.menu_sec ul li.purple .galerimenu_container .list li a:hover{ color:#9369a8 !important;}

.header_right .menu_sec ul li:hover .galerimenu_container{display:inline-block}
.galerimenu_container{ position:absolute; transition:border-color 1s; background:#fff; z-index:9999; -webkit-box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75);
/*-moz-box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75);box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75); right:0; top:96%; width:200px; border-top:5px solid #000; padding:0 44px 20px 34px; display:none}
*/
-moz-box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75);box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75); right:33px; top:100%; width:200px; border-top:5px solid #000; padding:0 44px 20px 34px; display:none}

.galerimenu_container .list{ width:213px; float:left !important; margin:11px 0 0;}
.galerimenu_container .list li{ float:left; width:100%; border-bottom:1px solid #000; padding:5px 0 3px;}

.galerimenu_container .list .last{ float:left; width:100%; border:none; padding:5px 0 3px;}

.galerimenu_container .list li a{ color:#333 !important; padding:0 !important; background:none !important; line-height:21px !important; font-size:15px !important;}
.galerimenu_container  .headline_box{ float:left; width:219px; margin:0 54px 0 58px;}
.galerimenu_container span{ font-size:12px; color:#fff; padding:2px 9px 0px 9px; margin:0 0 12px; font-family: 'Arial'; line-height:15px; float:left;}
.galerimenu_container  .headline_box img{ float:left;width:100%;}
.galerimenu_container  .headline_box a{ background:none !important; padding:0 !important; color:#333 !important; font-family:Arial !important; font-weight:bold; line-height:18px !important; margin:18px 0;}

.galerimenu_container .news_box{ float:left; width:180px; padding:0 0 35px;}
.galerimenu_container .news_box ul li{ padding:13px 0 15px; border-bottom:2px solid #dbdbdb;}
.galerimenu_container .news_box ul li.first{ padding-top:0;}
.galerimenu_container .news_box ul li.last{ padding-bottom:0; border:none;}
.galerimenu_container .news_box ul li a{ background:none !important; font-size:13px !important; line-height:15px !important; font-family:Arial !important; padding:0 !important; color:#333 !important;}
/*==========Mega menu end here==========*/


.megamenu_conatainer{ top:100%!important;left: 0;}


/*.megamenu_conatainer {
    left: 14px;
    top: 97% !important;
}*/

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   15px;
   -moz-column-count:    3;
   -moz-column-gap:      15px;
   column-count:         3;
   column-gap:           15px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
.terkini-title {
	font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    line-height: 20px;
}
#terkini-ajax-result {
	height: 1220px;
	overflow-y: scroll;
	width: 107%;
}
.bodydesc {
	border-right: 1px solid #ccc;
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    float: left;
    line-height: 1.5;
    font-size: 14px;
}
.bodydesc-wrapper {
	float: left;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	margin-bottom: 20px;
	position: relative;
}
.photo-nav {
	float: left;
	display: block;
	position: absolute;
	top: 15%;
	right: 0;	
}
.photo-nav img {
	float: left;
	width: 48px!important;
	height: 48px!important;
}
.photo-nav a {
	float: left;
	padding: 0 10px 0 27px
}
.subtitle {
	font-family: Arial;
	margin-bottom: 10px;
	line-height: 1.5;
	font-size: 14px;
}
.foto-img {
	float: left;
}
.social_icon {
	float: right;
    font-size: 14px;
    line-height: 31px;
}
.social_icon span {
	float: left;
	width: 104px;
}
.social_icon img {
	width: 32px;
	height: 32px;
}
.social_icon li {
	display: inline;
}
body {
	font-family: Arial;
	font-size: 14px;
}
.content_details .subtitle {
	font-size: 16px;
}
.cmn_photo_video {
	margin: 20px 0!important;
}
.cmn_photo_video ul li h4 {
	font-weight: normal!important;
	font-size: 13px!important;
}
.cmn_photo_video img {
	width: 100px!important;
	height: auto!important;
	margin: 0 11px 0 0!important;
}
.cmn_box ul li img {
    box-shadow: 0 0 5px #666;
    margin: 0 10px 0 0;
    padding: 2px;
    width: 100px;
    height: auto!important;
    background: transparent;
}
.cmn_box ul li h4 {
	font-weight: 500;
	line-height: 20px;
}
.foto-img .foto-icon {
	width: 64px;
	height: 64px;
}
.foto-img .foto-icon.small {
	width: 32px!important;
	height: 32px!important;
}
.main_banner {
	margin-bottom: 10px;
}
.vedio_info {
	height: 280px;
}
.popularcontentphoto {
	max-width: 100%!important;
	float: none!important;
}
.popularcontentphoto span {
	position: absolute;
	left: 0;
	top: 0;
}
.popularcontentphoto img {
	width: 100px;
	margin-right: 5px;
}
.cmn_box {
	margin: 15px 0;
}
.ads-float-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.ads-float-bottom .content {
	margin: auto;
    position: relative;
    width: 953px;
}
.ads-float-bottom .stackclose {
	background-color: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px
}
.ads-float-bottom img {
	vertical-align: bottom;
	width: 100%;
}
.ads-float-left-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
}
.ads-float-left-bottom .content {
	margin: auto;
    position: relative;
}
.ads-float-left-bottom .stackclose {
	background-color: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
    width: 20px
}
.ads-float-left-bottom img {
	vertical-align: bottom;
	width: 100%;
}
.ads-float-right-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
}
.ads-float-right-bottom .content {
	margin: auto;
    position: relative;
}
.ads-float-right-bottom .stackclose {
	background-color: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px
}
.ads-float-right-bottom img {
	vertical-align: bottom;
	width: 100%;
}
#contenttext p img {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
}
.left_container .list2300 ul li h4 {
	font-size: 15px!important;
	line-height: 25px!important;
}
.right_conatiner .common_box ul li h4 {
	font-size: 15px!important;
	line-height: 25px!important;
}
.right_conatiner .common_box.half ul li p {
	line-height: 18px;
}
.tabbing_box .tab_detail p {
	line-height: 20px!important;
}
.infobox ul li h4 {
	line-height: 20px!important;
}
.infobox .img_box h4 {
	line-height: 23px;
}
.boxes_container ul li .box_detail p {
	line-height: 20px;
}
#current-date {
	margin-left: 32px;
}
.header_right {
	width: 100%!important;
	position: relative;
	padding: 0px!important;
}
.header_right .menu_sec {
	float: left;
	width: 100%;
	background-color: #DE000B;
}
.header_right .menu_sec ul {
	float: left;
}
.logo {
	margin-bottom: 10px;
}
.header_right .menu_sec ul li.event {
	min-width: 110px;
}
.header_right .menu_sec ul li.top_menu_sec {
	margin: 0 10px;
}
.container {
	margin: 5px auto;
	z-index: 2;
	background-color: #ffffff;
}
.caption-image-berita {
	width: 100%;
	margin: 5px 0 15px 0;
}
.caption-image-berita .caption {
	border-right: 1px solid #ddd;
    color: #323232;
    font-family: Arial;
    font-size: 13px;
    padding-right: 20px;
    vertical-align: top;
    width: 75%;
    line-height: 1.25;
}
.caption-image-berita .caption.single {
	border: none;
	width: 100%!important;
	padding: 0!important;
}
.caption-image-berita .copy {
	text-align: right;
	color: #323232;
	font-family: Arial;
	font-size: 12px;
	vertical-align: top;
}
.contenttext .detailsphotovideo {
    color: #323232;
    font-family: Arial;
    font-size: 16px;
    line-height: 28px;
    padding: 0 0 21px;
}
.breadcrum_sec ul li {
	background: rgba(0, 0, 0, 0) url("images/bread_sep.png") no-repeat scroll left center;
}
.breadcrum_sec ul li.first {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.breadcrum_sec ul li.last {
	background: rgba(0, 0, 0, 0) url("images/bread_sep.png") no-repeat scroll left center;
}
.nav-photo a {
	display: block;
	float: left;
	padding-right: 10px;
}
.nav-photo img {
	display: block;
	width: 35px!important;
}
.nav-photo {
	float: right!important;
	width: 10%!important;
	border-left: 1px solid #ccc;
}
.cpphoto .caption {
	border: none!important;
}
.paging-page .paging-group {
	display: block;
	width: 100%;
	margin-top: 10px;
}
.paging-page a {
	margin: auto!important;
	float: none;
	width: 100px;
}
.paging-page strong {
	text-align: center;
}
.container .two-thirds.column {
	width: 630px;
}

/* login */
.login-container {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.4);
    color: #656565;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 20px auto auto;
    min-height: 100px;
    overflow: hidden;
    padding-bottom: 20px;
    width: 700px;
}
.header_login {
    background: #f0f0f0 none repeat scroll 0 0 !important;
    border-bottom: 1px solid #dddddd;
    height: 40px;
    padding: 15px 20px 10px;
    text-align: left;
}
.login-container .login_left {
	float: left;
    margin: 15px 5px 15px 20px;
    width: 253px;
}
.login-container .login_right {
	color: #656565;
    font-size: 13px;
    padding-left: 48px;
    padding-right: 24px;
    width: 300px;
    background: rgba(0, 0, 0, 0) url("../images/login_batas.gif") no-repeat scroll left center;
    float: right;
    margin: 15px 20px 15px 0;
}
.center {
	text-align: center;
}
.pt10 {
	padding-top: 10px;
	line-height: 1.5!important;
}
.login-container .mt5 {
	margin-top: 5px;
}
.login-container textarea, .login-container input[type="text"], .login-container input[type="password"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #555;
    font-size: 13px;
    height: 25px;
    border: 1px solid #ccc;
    width: 100%;
}
.login-container .forgetpass {
	font-weight: bold;
	font-size: 12px!important;
	float: right;
}
.login-container a:hover {
	text-decoration: underline!important;
}
.login-container .btn_login {
	width: 100%;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #db4936 24%, #db4936 24%, #a82824 100%) repeat scroll 0 0;
    border: 1px solid #a82824;
	padding: 5px;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.login-container .btn_login:hover {
	cursor: pointer;
	opacity: 0.7;
}
.login-container .btn_con_fb {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #385799 0%, #2a4a8f 100%) repeat scroll 0 0;
    border: 1px solid #315194;
    border-radius: 5px;
    color: #fff!important;
    display: block;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px 9px 45px;
    position: relative;
    text-decoration: none!important;
}
.login-container .btn_con_fb:hover {
    text-decoration: none!important;
    cursor: pointer;
	opacity: 0.7;
}
.login-container .btn_con_gp {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #db4936 24%, #db4936 24%, #a82824 100%) repeat scroll 0 0;
    border: 1px solid #a82824;
}
.login-container .logo_fb {
    background-image: url("../images/facebook_w.png");
    background-repeat: no-repeat;
    background-size: 28px 30px;
    height: 30px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 30px;
}
.login-container .logo_gpl {
    background-image: url("../images/gplus_w.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 30px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 30px;
}
.login-container h2 {
	font-weight: bold;
	color: #DE000B;
}
.back {
	float: right;
	color: #DE000B!important;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
}
.login-container .back:hover {
	text-decoration: underline;
}
.login-container .syarat-container {
	float: left;
	margin-bottom: 5px;
}
.login-container a {
	color: #DE000B!important;
}
.login-container .checkbox-syarat {
	float: left;
	width: 16px;
	margin-right: 5px;
}
.login-container .text-syarat {
	float: left;
	width: 273px;
	color: #656565!important;
    font-size: 13px!important;
}
.login-container .error {
	color: #DE000B;
}
.login-container .success {
	color: #679301;
}
.login-container .login_full {
	padding: 10px;
}
.login-container .login_full p, .login-container .login_full h2 {
	line-height: 1.5!important;
}
/* login */

/* member */
.image_profile {
	width: 170px;
	height: 170px;
	margin:auto;
	text-align: center;
	position: relative;
	background-color: #ffffff;
}
.image_profile img {
	width: 170px;
	height: auto;
}
.round {
    border: 2px solid #fff;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.4);
    display: block;
    overflow: hidden;
    text-align: center;
}
.pt30 {
	padding-top: 30px;
}
.pl10 {
	padding-left: 10px;
}
.pr10 {
	padding-right: 10px;
}
.pl30 {
	padding-left: 30px;
}
.profile_name {
	font-weight: bold;
	font-size: 14px;
}
.left_member_menu {
	/*background-color: #B02C25;*/
	background-color: #DE000B;
	padding: 20px 10px;
	color:#ffffff;
	width: 250px!important;
}
.left_member_menu a {
	color:#ffffff;
}
.left_member_menu a:hover {
	color:#ccc;
}
.member_menu li {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	background: rgba(0, 0, 0, 0) url("../images/panah.png") no-repeat scroll right top 10px / 15px 15px;
}
.member_menu li.first {
	border-top: 1px solid #ccc;
}
.member_menu li.active a {
	font-weight: bold;
	color: #FFFC00!important;
}
.childmenu {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
	opacity: 0.7;
}
.childmenu li {
	border-bottom: none;
	padding: 5px 0;
	background: no-repeat;
}
.image_edit {
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 40%;
	left: 40%;
}
.submit {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #385799 24%, #2a4a8f 24%, #5E81D2 100%) repeat scroll 0 0;
    border: 1px solid #a82824;
	padding: 5px 10px;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.btn-change-profileimage {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	display: none;
}
.btn-change-profileimage input:hover {
	opacity: 0.7;
	cursor: pointer;
}
.info_member {
	border: none;
	padding: 0;
	margin: 0;
	border-collapse: collapse; 
	width: 100%;
	margin-top: 10px;
}
.info_member .title_field {
	min-width: 30%;
}
.info_member .info {
	font-size: 12px;
	color: #000;
	opacity: 0.6;
}
.info_member tbody tr {
	border-bottom: 1px solid #E7E7E7;
}
.info_member tbody td {
	padding: 10px 0;
}
.member_title {
	border-bottom: 1px solid #E7E7E7;
	padding-bottom: 5px;
}
.nav-edit-profile {
	width: 100%;
	text-align: right;
	margin-top: 20px;
	font-size: 12px;
}
.nav-edit-profile a {
	text-decoration: none;
}
.nav-edit-profile a:hover {
	opacity: 0.7;
}
.change-profile-cancel {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #7E695A 24%, #7E695A 24%, #262729 100%) repeat scroll 0 0;
    border: 1px solid #ccc;
}
.change-profile:hover, .change-profile-cancel:hover {
	opacity: 0.7;
	cursor: pointer;
}
.change-profile {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #db4936 24%, #db4936 24%, #a82824 100%) repeat scroll 0 0;
    border: 1px solid #db4936;
}
.frm_edit_profile input[type="text"], .frm_edit_profile input[type="password"], .frm_edit_profile textarea {
	width: 97%;
	border: 1px solid #ccc;
	padding: 5px;
}
.frm_edit_profile tr td {
	vertical-align: top;
}
.frm_edit_profile select {
	border: 1px solid #ccc;
	background-color: #fff;
}
.success {
	border: 1px solid #009688; background-color: #DCF8C6;padding:5px;margin-top: 15px;
}
.error {
	border: 1px solid #DE000B; color: #ED1C24;padding:5px;margin-top: 15px;
}
.boxsocial {
	float: left;
    text-align: center;
    width: 100%;
    padding-top: 30px;
}
.boxsocial .icon {
	float: left;
    margin-left: 20%;
    width: 100px;
}
.boxsocial .icon img {
	width: 100px;
}
.boxsocial span {
	width: 100px;
	font-size: 12px;
}
.profile_picture {
	width: 50px;
	height: 50px;
}
.profile_picture img {
	height: 50px;
}
.input_comments {
	float: left;
    margin-left: 5px;
    width: 563px;
}
.input_comments textarea {
	width: 100%;
	border: 1px solid #ccc;
}
.btnsubmit {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.commentbtn {
	background-color: #DE000B;
	border: 1px solid #81050E;
    color: #fff;
    padding: 3px 15px;
}
.clearspace {
	float: left;
	width: 100%;
}
.commentbtn:hover {
	opacity: 0.7;
	cursor: pointer;
}
.alert-login {
	width: 300px;
}
.btn-alert-login {
	width: 100%;
	text-align: center;
}
.alert-login p {
	margin-bottom: 10px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.comment_text {
	min-height: 40px;
}
textarea {
	line-height: 1.3;
    padding: 5px;
}
#commentboxwrapper {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #F6F7F9;
	padding: 5px;
}
.commentlists {
	display: block;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 10px;
}
.single-comment-box {
	width: 100%;
}
.single-comment-text {
	padding-left: 5px;
	width: 93%;
	padding-bottom: 10px;
}
.single-comment-member {
	font-weight: bold;
	margin-bottom: 3px;
}
.comment_pic {
	width: 35px;
	height: 35px;
}
.comment_pic img {
	height: 35px;
}
.comment_pic_child {
	width: 25px;
	height: 25px;
}
.comment_pic_child img {
	height: 25px;
}
.commentchild {
	margin-left: 40px;
}
.commentchild .single-comment-text {
	max-width: 520px;
}
.commentreply {
	margin-top: 5px;
	font-size: 11px!important;
	color: #525151;
}
.commentreply a {
	font-size: 12px!important;
}
.comment_block {
	margin-top: 20px;
	color: #323232;
}
.input_comments_child {
	float: left;
    margin-left: 5px;
    width: 550px;
}
.input_comments_child textarea {
	width: 97%;
	border: 1px solid #ccc;
	background-color: #ffffff;
}
.replybox {
	display: none;
}
#contenttext ul, #contenttext ol {
    color: #323232;
    font-family: Arial;
    font-size: 16px;
    line-height: 28px;
    list-style: inherit;
}
.comment-pagination {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.comment-pagination.root {
	font-size: 16px;
}
.comments_title {
	border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    width: 100%;
}
.loginmenutop {
	position: absolute;
    right: -9px;
    top: 22px;
    font-size: 12px;
}
.loginmenutop a {
	color: #262a28;
}
.loginmenutop a:hover {
	color: #DE000B;
}
.loginmenutop ul li {
	border-left: 1px solid #ccc;
    display: inline;
    padding: 0 10px;
}
.loginmenutop ul li.first {
	border-left: none;
}
/* member */

/* euro portlet */
.skor_title {
	background-color: #339900;
    color: #fff;
    float: left;
    font-family: "Arial";
    font-size: 18px;
    font-style: italic;
    padding: 17px;
    width: 115px;
	background: -moz-linear-gradient(top,  #006e2e 0%, #339900 34%, #299a0b 50%, #299a0b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #006e2e 0%,#339900 34%,#299a0b 50%,#299a0b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #006e2e 0%,#339900 34%,#299a0b 50%,#299a0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
}
.skor_euro {
	line-height: 1.2;
	color: #333;
}
.skor_euro .jadwal_pertandingan {
	font-size: 12px;
}
.skor_euro .club_bertanding {
	font-size: 14px;
	font-weight: bold;
}
.skor_euro .skor_pertandingan {
	font-size: 14px;
	font-weight: lighter;
}
.skor_euro .sumber_pertandingan {
	font-size: 10px;
	color: #525151;
}
.skor_euro li {
	padding: 0 10px;
	border-left: 1px solid #ddd;
}
/* end euro portlet */

/* portlet v4 */
.portlet_v4 {
	width: 100%;
	overflow: hidden;
}
.portlet_v4 ul {
	width: 1000px;
}
.portlet_v4 ul li {
	display: inline;
	margin-right: 5px;
}
.portlet_v4 .main-img {
	width: 200px;
}
.portlet_v4 .bx-controls {
	display: none;
}
.portlet_v4 .foto-icon {
	position: absolute;
    left: 36%;
    top: 28%;
}
.portlet_v4 .titlep {
    width: 200px;
    line-height: 1.5;
    font-weight: bold;
    color: #333;
}
.portlet_v4 a {
	color: #333;
}
.portlet_v4 a:hover {
	opacity: 0.8;
}
/* portlet v4 */

/* header not fixed */
/*header {
	position: fixed;
    top: 0;
    z-index: 1000;
    padding: 5px 13px 0 14px;
}
*/
header .topheader {
	margin-top: 15px;
}
.top_banner,.top_banner img {
	width: 100%;
}
/* header not fixed */

/* smiley */
.smiley_container {
	width: 100%;
	margin: 10px 0;
}
.smiley_container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #FDFDFB;
	float: left;
}
.smiley_container ul li {
	width: 11%;
	margin-left: 8px;
	border: 1px solid #ccc;
	display: block;
	float: left;
	cursor: pointer;
}
.smiley_container ul li.first {
	margin: 0;
}
.smiley_container ul li .img {
	width: 100%;
	text-align: center;
}
.smiley_container ul li .img img {
	width: 100%;
}
.smiley_container .block_info {
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
}
.smiley_container .block_info .info {
	font-size: 11px;
	margin-bottom: 5px;
}
.smiley_container #senang {
	background-color: #45B2FF;
}
.smiley_container #terhibur {
	background-color: #82C410;
}
.smiley_container #terinspirasi {
	background-color: #48AF33;
}
.smiley_container #tidakpeduli {
	background-color: #949494;
}
.smiley_container #terganggu {
	background-color: #8C6941;
}
.smiley_container #sedih {
	background-color: #392F40;
}
.smiley_container #takut {
	background-color: #EEB02A;
}
.smiley_container #marah {
	background-color: #ED1C24;
}
.smiley_container .satu {
	display: block;
	margin: auto;
}
.smiley_container .dua {
	display: none;
	margin: auto;
}
.smiley-title {
	font-size: 20px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 15px;
}
/* end smiley */

/* vote cagub 2016 */
.cagub-content {
	background-color: #770600;
	font-family: verdana;
}
.cagub-content .title {
	margin: 65px 79px;
}
.cagub-content .vote-place {
	text-align: center;
	margin-left: 18%;
}
.cagub-content .vote-place-image {
	width: 281px;
	margin: 0 10px;
	float: left;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFD600;
	line-height: 28px;
}
.cagub-content .vote-place-image img {
	width: 100%;
}
.cagub-content .vote-place-image p {
	margin: 10px 0;
}
.cagub-content .help-text {
	padding: 10px;
	border: 2px solid #FFD600;
	width: 80%;
	margin: 20px auto;
}
.cagub-content .help-text-inner {
	background-color: #520400;
	color: #ffffff;
	padding: 10px;
	font-size: 30px;
	text-align: center;
}
.cagub-content .daftar-calon {
	width: 100%;
	float: left;
}
.cagub-content .daftar-calon li {
	float: left;
}
.cagub-content .single-calon {
	display: block;
	padding: 5px;
	margin: 7px;
	width: 213px;
	height: 300px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	text-transform: uppercase;
}
.cagub-content .single-calon a {
	color: #FFD600!important;
}
.cagub-content .single-calon a:hover {
	color: #ffffff!important;
}
.cagub-content .single-calon img {
	margin-bottom: 10px;
}
.cagub-content .single-calon.selected {
	background-color: #520400;
}
.cagub-content .button-vote {
	padding: 10px 40px;
    background-color: #770600;
    border: 1px solid #770600;
    color: #ffffff;
    font-size: 21px;
    margin-top: 10px;
    cursor: pointer;
}
/* vote cagub 2016 */
.terkit_link {
	font-weight: bold;
}
