*{margin:0; padding:0;}
img, fieldset{border:none;}
body{background: #FFFFFF url("../images/backgrondlogotile.jpg") repeat center center fixed;}

.curv{float:left; width:100%;}
.curv img{float:left;}
:focus{outline:none}
a{ text-decoration:none;}
ul,ol{ margin:0; padding:0; list-style:none;}
.wrapper{ margin:0 auto; max-width:980px;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

.html {
background: #FFFFFF url("../images/backgrondlogotile.jpg") repeat center center fixed;
}


.home2 { display:none; }
.box-latest-new {display:inline-block; width:100%}
.box-latest-new img{width:100%; height:222px}
 
.topheader
{
background: white;
display: inline-block;
background: #FFFFFF url(../images/header_bg.png) repeat-x 0 bottom;
width: 100%;
margin-right: 10px;
}

#contenttext p img{width:80%; margin:auto; display:block; height:auto;}
#contenttext p iframe{width:80%; margin:auto; display:block; height:300px}
#contenttext ul {list-style: inherit;margin-left: 35px;font-family: Arial;font-size: 15px;line-height: 21px;margin-bottom: 21px;}

.left_container .productlist_detail li span  {font-family:arial;}

.popularcontent {float:left;max-width:234px}

.top_banner{float:left; margin:0px !important}
.top_banner img{float:left; width:980px}

/*==========header start here==========*/
header{ padding:11px 0 0; background: #FFFFFF; position:relative;width: 953px;margin: 0px;height: auto;padding-left:14px;padding-right:13px;}
/*header .logo img{ float:left; margin:0 0 0 16px;}*/
header .logo img{ float:left; margin:0 0 0 0px;}
.header_right{ width:692px !important; padding:11px 0 0 5px;}
.top_header{ float:left; width:100%; border-bottom:1px solid #b1b1b1;}

.top_header .top_social{ padding:0 0 8px;}
.top_header ul{ float:left; margin:0 0 0 7px;}
.top_header ul li{ float:left; margin:0 5px 0 0;}
.top_header ul li a{ float:left; width:25px; height:25px;}
.top_header ul li a:hover{ background-position:bottom center;}
.top_header ul li .face{ background:url(../images/facebook.png) no-repeat top center;}
.top_header ul li .tweet{ background:url(../images/twiter.png) no-repeat top center;}
.top_header ul li .google{ background:url(../images/google.png) no-repeat top center;}
.top_header ul li .insta{ background:url(../images/instagram.png) no-repeat top center;}
.top_header strong{ float:right; width:159px; border:1px solid #b1b1b1; padding:2px 3px;}
.top_header input[type="submit"]{ float:right; width:18px; height:18px; cursor:pointer; background:url(../images/search.png) no-repeat 0 0; border:none;text-indent:-100px;}
.top_header input[type="text"]{ float:left; width:135px; font-size:13px; color:#555; background:none; border:none; height:19px; line-height:19px;}
.top_header small{ float:left; font-size:13px; color:#7f7f7f; line-height:20px; font-family:Arial; margin:11px 0 0;}

.header_right .menu_sec{ float:right; width:100%; margin:20px 0 0;}
.header_right .menu_sec ul{ float:right;}
.header_right .menu_sec ul li{ float:left;}
.header_right .menu_sec ul li a{ float:left; font-size:13px; color:#fff; background:#de000b; transition:background .5s; line-height:20px; font-family: 'Arial'; padding:8px 14px 6px 14px; font-weight: bolder;}
.header_right .menu_sec ul li a.home{ padding:8px 16px 6px;height: 20px;}
.header_right .menu_sec ul li a:hover{ background:#BC0000;}

.header_right .menu_sec ul li.black:hover a,.header_right .menu_sec ul li.black.selected a{ background:#000;}
.header_right .menu_sec ul li.brown:hover a,.header_right .menu_sec ul li.brown.selected a{ background:#945034;}
.header_right .menu_sec ul li.blue:hover a,.header_right .menu_sec ul li.blue.selected a{ background:#0078f0;}
.header_right .menu_sec ul li.green:hover a,.header_right .menu_sec ul li.green.selected a{ background:#009d2e;}
.header_right .menu_sec ul li.purple:hover a,.header_right .menu_sec ul li.purple.selected a{ background:#6f1e84;}
/*==========header end here==========*/

/*==========Mega menu start here==========*/
.menu_sec ul li.blue .megamenu_conatainer{ border-color:#0078f0}
.menu_sec ul li.green .megamenu_conatainer{  border-color:#009d2e }
.menu_sec ul li.brown .megamenu_conatainer{  border-color:#A36248 }
.menu_sec ul li.purple .megamenu_conatainer{  border-color:#6f1e84}

.menu_sec ul li.blue .megamenu_conatainer span{ background:#0078f0}
.menu_sec ul li.green .megamenu_conatainer span{ background:#009d2e }
.menu_sec ul li.brown .megamenu_conatainer span{  border-color:#A36248 }
.menu_sec ul li.purple .megamenu_conatainer span{ background:#C779FF}

.menu_sec ul li.blue .megamenu_conatainer .list li{ border-color:#0078f0}
.menu_sec ul li.green .megamenu_conatainer .list li{ border-color:#009d2e }
.menu_sec ul li.purple .megamenu_conatainer .list li{ border-color:}

.menu_sec ul li.blue .megamenu_conatainer .list li a{ color:#0078f0 !important;}
.menu_sec ul li.green .megamenu_conatainer .list li a{ color:#009d2e !important;}
.menu_sec ul li.purple .megamenu_conatainer .list li a{ color:#6f1e84 !important;}
.menu_sec ul li.brown .megamenu_conatainer .list li a{ color:#A36248 !important;}

.menu_sec ul li.black .megamenu_conatainer .list li a:hover{ color:#525252 !important;}
.menu_sec ul li.brown .megamenu_conatainer .list li a:hover{ color:#8C0000 !important;}
.menu_sec ul li.blue .megamenu_conatainer .list li a:hover{ color:#133696 !important;}
.menu_sec ul li.green .megamenu_conatainer .list li a:hover{ color:#006e00 !important;}
.menu_sec ul li.purple .megamenu_conatainer .list li a:hover{ color:#9369a8 !important;}

.header_right .menu_sec ul li:hover .megamenu_conatainer{display:inline-block}
.megamenu_conatainer{ position:absolute; transition:border-color 1s; background:#fff; z-index:9999; -webkit-box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75);box-shadow: -1px 10px 12px -6px rgba(0,0,0,0.75); left:80px; top:97%; width:727px; border-top:5px solid #000; padding:14px 44px 0 34px; display:none}
.megamenu_conatainer .list{ width:213px; float:left !important; margin:11px 0 0;}
.megamenu_conatainer .list li{ float:left; width:100%; border-bottom:1px solid #000; padding:5px 0 3px;}

.megamenu_conatainer .list .last{ float:left; width:100%; border:none; padding:5px 0 3px;}

.megamenu_conatainer .list li a{ color:#333 !important; padding:0 !important; background:none !important; line-height:21px !important; font-size:15px !important;}
.megamenu_conatainer  .headline_box{ float:left; width:219px; margin:0 54px 0 58px;}
.megamenu_conatainer span{ font-size:12px; color:#fff; padding:2px 9px 0px 9px; margin:0 0 12px; font-family: 'Arial'; line-height:15px; float:left;}
.megamenu_conatainer  .headline_box img{ float:left;width:100%;}
.megamenu_conatainer  .headline_box a{ background:none !important; padding:0 !important; color:#333 !important; font-family:Arial !important; font-weight:bold; line-height:18px !important; margin:18px 0;}

.megamenu_conatainer .news_box{ float:left; width:180px; padding:0 0 35px;}
.megamenu_conatainer .news_box ul li{ padding:13px 0 15px; border-bottom:2px solid #dbdbdb;}
.megamenu_conatainer .news_box ul li.first{ padding-top:0;}
.megamenu_conatainer .news_box ul li.last{ padding-bottom:0; border:none;}
.megamenu_conatainer .news_box ul li a{ background:none !important; font-size:13px !important; line-height:15px !important; font-family:Arial !important; padding:0 !important; color:#333 !important;}
.header_right .menu_sec ul li.black span{ background:#000;} 
.header_right .menu_sec ul li.brown span{ background:#A36248;} 
/*==========Mega menu end here==========*/

.leftsementara
{
	font-size: 17px;
	line-height: 25px;
	display: block;
	text-align: center;
	color: #fff;
	font-style: italic;
	font-family: 'Arial';
	background: #ff7525;
	font-weight:bold;
}

#body_container{ padding-top:0;background:white;padding-left: 14px;padding-right: 13px;padding-bottom:47px;}

/*==========Latest section start here==========*/
.latest_title{ padding:8px 9px 9px; float:left; background:url(../images/latest_bg.png) no-repeat left center; width:115px;}
.latest_title span{ font-size:16px; color:#fff; line-height:16px; font-family: 'Arial'; font-style:italic; float:left;}
.latest_title small{ font-size:9px; font-family:Arial; color:#fff; line-height:11px; display:block;}
.product_sec{ float:right; width:798px; padding:8px 0; position:relative; text-align:center;}
/*.product_sec .main{ display:block; vertical-align:top;  height:45px; z-index:99}
.product_sec .main li{ float:left; margin: 0 22px 0 0;}
.product_sec .main li img{ float:left; margin:0 8px 0 0;}
.product_sec .main li small{ font-size:11px; line-height:13px; text-align:left; display:inline-block; vertical-align:middle; color:#737373; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.product_sec .main li small span{ font-weight:600; }
.product_sec .main li strong{ font-size:11px; min-height:6px; line-height:13px; padding-left:15px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; display:block; text-align:left; font-weight:normal;}
.product_sec .main li strong.green{ color:#027f14; background:url(../images/green_arrow.png) no-repeat left center;}
.product_sec .main li strong.red{ color:#e61018; background:url(../images/red_arrow.png) no-repeat left center;}
.product_sec .main li strong.blue{ color:#e61018; background:url(../images/blue.png) no-repeat left center;}
.product_sec .main li .detail{ float:left;}*/
.product_sec .main{ display:block; vertical-align:top;  height:45px; z-index:99}
.product_sec .main li{ float:left; margin:0 22px 0 0}
.product_sec .main li img{ float:left; margin:0 8px 0 0;}
.product_sec .main li small{ font-size:11px; line-height:13px; text-align:left; display:inline-block; vertical-align:middle; color:#737373; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.product_sec .main li small span{ font-weight:600; }
.product_sec .main li strong{ font-size:11px; min-height:6px; line-height:13px; padding-left:15px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; display:block; text-align:left; font-weight:normal;}
.product_sec .main li strong.green{ color:#027f14; background:url(../images/green_arrow.png) no-repeat left center;}
.product_sec .main li strong.red{ color:#e61018; background:url(../images/red_arrow.png) no-repeat left center;}
.product_sec .main li strong.blue{ color:#e61018; background:url(../images/blue.png) no-repeat left center;}
.product_sec .main li .detail{ float:left;}
.product_sec .bx-viewport{width:98% !important; margin:0 1%;}
.product_sec .bx-has-controls-direction{ position:absolute; width:100%; top:22px; left:0; z-index:999}
.product_sec .bx-has-controls-direction .bx-prev{ float:left;}
.product_sec .bx-has-controls-direction .bx-next{ float:right;}
.product_sec .bx-has-controls-direction a{ float:left; width:6px; height:13px; text-indent:-9999999px}
.product_sec .bx-has-controls-direction .bx-prev{ background:url(../images/pro_left_arrow.png) no-repeat 0 0;}
.product_sec .bx-has-controls-direction .bx-next{ background:url(../images/pro_right_arrow.png) no-repeat 0 0;}


.product_sec .paging{ position:absolute; width:100%; top:22px; left:0; z-index:999}
.product_sec .paging li.left_arrow{ float:left;}
.product_sec .paging li.right_arrow{ float:right;}
.product_sec .paging li a{ float:left; width:6px; height:13px;}
.product_sec .paging li.left_arrow a{ background:url(../images/pro_left_arrow.png) no-repeat 0 0;}
.product_sec .paging li.right_arrow a{ background:url(../images/pro_right_arrow.png) no-repeat 0 0;}
/*==========Latest section end here==========*/

/*.main_container{ margin-top:19px;}*/

/*==========Left container start here==========*/
.left_container .slide_view{ position:relative; width:100%; float:left;}
.left_container  .body-thumbnail-top .slide_view   .bx-controls{
  bottom: 1px;
    display: block;
    position: relative;
    width: 100%;
    z-index: 9999;
}
	
		.left_container  .body-thumbnail-top .slide_view   .bx-controls .bx-next:hover{opacity:3 ; background: rgba(0, 0, 0, 0) url("../images/buttun-next.png") no-repeat scroll center top;}
		.left_container  .body-thumbnail-top .slide_view   .bx-controls .bx-prev:hover{opacity:3 ; background: rgba(0, 0, 0, 0) url("../images/buttun-prev.png") no-repeat scroll center top;}
		
	.left_container  .body-thumbnail-top .slide_view   .bx-controls .bx-next{ 
	
	opacity:0.7;
	
	background: rgba(0, 0, 0, 0) url("../images/buttun-next1.png") no-repeat scroll center top;
    display: block;
    height: 85px;
    position: absolute;
    right: 0;
    width: 20px;
    top: 4px
	
	 }
	.left_container  .body-thumbnail-top .slide_view   .bx-controls .bx-prev{ 
		opacity:0.7;
	
	background: rgba(0, 0, 0, 0) url("../images/buttun-prev1.png") no-repeat scroll center top;
	position:absolute;  height:85px; width:20px; display:block; left:0px; top:4px; }
.left_container .slide_view .bx-controls{display:none}
 
.left_container .slide_view .headline.pangan{background:#000;}
.pikachoose .headline{ position:absolute; z-index:99; text-transform:uppercase; line-height:20px; background:#de000b; padding:2px 8px; top:0; left:0; font-size:14px; color:#fff; font-family: 'Arial';font-weight:bold;}
.left_container .slide_view .headline.black{ background:#000;}
.left_container .slide_view .shadow{ position:absolute; bottom:0; left:0; z-index:99}
.left_container .slide_view ul{ width:100%;}
.left_container .slide_view ul li{ position:relative;}
.left_container .slide_view ul li img{ vertical-align:top; width:100%}
.left_container .slide_view ul li .slide_detail{ position:absolute; z-index:999; bottom:0; padding:0 4% 13px; width:92%; background:url(../images/shadow1.png) no-repeat 0 0}
.pika-stage .slide_detail h3{ font-size:23px; padding:6px 0; color:#fefefe; font-weight:bold; line-height:25px; font-family:Arial;}
.pika-stage  .slide_detail span{ font-size:11px; color:#fff; display:block; font-family:Arial, Helvetica, sans-serif; line-height:14px; width:100%}
.pika-stage .slide_detail small{ font-size:11px; margin:0 0 5px; color:#fff;  font-family: 'Arial'; display:inline-block; line-height:14px; padding:2px 3px 0;}


.pika-stage small.gray{background:#7f7f7f;font-family: Arial;padding: 0 5px 0px 5px;}
.pika-stage small.blue{background:#0078f0;font-family: Arial;padding: 0 5px 0px 5px;}
.pika-stage small.green{background:#02c200;font-family: Arial;padding: 0 5px 0px 5px;}
.pika-stage small.purple{background:#c264ff;font-family: Arial;padding: 0 5px 0px 5px;}
.pika-stage small.brown{background:#A36248;font-family: Arial;padding: 0 5px 0px 5px;}
.pika-stage small.orange{background:#FF6A00;font-family: Arial;padding: 0 5px 0px 5px;}
.pika-stage small.boldyellow{background:#D3BE00;font-family: Arial;padding: 0 5px 0px 5px;}
.pika-stage small.aqua{background:#00CCCC;font-family: Arial;padding: 0 5px 0px 5px;}

.left_container .thumbnil_view{ float:left; width:1500px; margin-top:2px;}
.left_container .thumbnil_view ul li{  float: left;
    margin: 0 0 13px;
    position: relative;
    width: 157px;
    margin-left: 1px}
	.body-thumbnail-top{display:inline-block; position:relative; width:100%;}
	
	.left_container .thumbnil_view ul li:first-child{margin-left:0px;}
.left_container .thumbnil_view ul li.last{ margin:0;}
.left_container .thumbnil_view ul li .border{ position:absolute; display:none; top:0; left:0;}
.left_container .thumbnil_view ul li:hover a .border, .left_container .thumbnil_view ul li a.active .border{ display:block;}
.left_container .thumbnil_view ul li img{ vertical-align:top; height:63px; width:100%; height:84px;}

.tab_detail ul{width: 92%;}

#bx-pager-photo { float:right; width:115px;}
#bx-pager-photo  ul {margin-top:10px;}
#bx-pager-photo  ul li{ position:relative; margin:0 0 13px;float: left;margin-right:10px;}
#bx-pager-photo  ul li.last{ margin:0;}
#bx-pager-photo  ul li .border{ position:absolute; display:none; top:0; left:0;}
#bx-pager-photo  ul li:hover a .border, .left_container .thumbnil_view ul li a.active .border{ display:block;}
#bx-pager-photo  ul li img{ vertical-align:top; height:63px; width:115px;}

#banner-app{display:none}

.ban, .content_boxleft .ban, .content_boxright .ban{ vertical-align:top;}
.right_conatiner .space1, .left_container .space1{ margin-top:10px; float:left; width:100%}
.left_container .space2{ margin-top:50px; float:left;}
.left_container .space3{ margin-top:38px; float:left;}
.left_container .title{ font-size:17px; color:#fff; display:inline-block; font-family: 'Arial';font-weight:bold;line-height:23px; padding:7px 11px 1px; margin:-6px 0 5px;}
.left_container .title.red{ background:#de000b url(../images/titred_bg.jpg) no-repeat top left;}
.left_container .title.black{ background:#000 url(../images/titblack_bg.jpg) no-repeat top left;}
.left_container .title.black a{color:#ffffff; text-decoration:none;}
.left_container .title.black a:hover{color:#ffffff; text-decoration:none;}
.left_container .title.blue{ background:#0078f0 url(../images/titblue_bg.jpg) no-repeat top left;}
.left_container .title.blue a{color:#ffffff; text-decoration:none;}
.left_container .title.blue a:hover{color:#ffffff; text-decoration:none;}
.left_container .title.green{ background:#009d2e url(../images/titgreen_bg.jpg) no-repeat top left;}
.left_container .title.green a{color:#ffffff; text-decoration:none;}
.left_container .title.green a:hover{color:#ffffff; text-decoration:none;}
.left_container .title.purple{ background:#6f1e84 url(../images/titpurple_bg.jpg) no-repeat top left;}
.left_container .title.purple a{color:#ffffff; text-decoration:none;}
.left_container .title.purple a:hover{color:#ffffff; text-decoration:none;}
.left_container .title.brown{ background:#A36248 url(../images/titbrown_bg.jpg) no-repeat top left;}
.left_container .title.brown a{color:#ffffff; text-decoration:none;}
.left_container .title.brown a:hover{color:#ffffff; text-decoration:none;}
.left_container .title.red a{color:#ffffff; text-decoration:none;}
.left_container .title.red a:hover{color:#ffffff; text-decoration:none;}

/*==========Tabbing container start here==========*/
.tabbing_box { background:#ebebeb;}
.tabbing_box .link li{ float:left; width:100%;}
.tabbing_box .link li:hover a, .tabbing_box .link li.active a{ background:#ff7525;}
.tabbing_box .link li a{ font-size:17px; line-height:25px; display:block; text-align:center; color:#fff; font-style:italic; font-family: 'Arial'; background:#ffa100;}

.tabbing_box .tab_detail{ float:left; width:100%; padding:5px 0 0;}
.tabbing_box .tab_detail ul li{ padding:15px 12px 14px; border-bottom:1px solid #b1b1b1; display:inline-block;}
.tabbing_box .tab_detail ul li.last{ border:none;}
.tabbing_box .tab_detail span{ background:#ffa101; float:left; width:30px; font-size:22px; height:30px; line-height:30px; text-align:center; color:#fff; margin:0 12px 0 0;}
.tabbing_box .tab_detail a:hover p{ text-decoration:underline;}
.tabbing_box .tab_detail p{ font-size:14px; padding:0 20px 0 0; color:#262a28; font-family:Arial; font-weight:bold; line-height:19px;}
.tabbing_box .tab_detail p small{ font-size:10px; color:#525151; font-family:Arial; float:right;}
/*==========Tabbing container end here==========*/

/*===========productlist detail start here================*/
.left_container .productlist_detail span{ font-size:11px; color:#fff;  font-family: 'Arial'; display:inline-block; line-height:14px; padding:2px 6px;}
.left_container .productlist_detail li{ padding:10px 0 14px; border-bottom:1px solid #d5d5d5;}
.left_container .productlist_detail li.first{ padding-top:0;}
.left_container .productlist_detail li.last{ border:none;}
.left_container .productlist_detail li.gray span{  background:#7f7f7f;}
.left_container .productlist_detail li.blue span{  background:#0078f0;}
.left_container .productlist_detail li.green span{  background:#02c200;}
.left_container .productlist_detail li.purple span{  background:#c264ff;}
.left_container .productlist_detail li.brown span{  background:#A36248;}
.left_container .productlist_detail li.boldyellow span{  background:#D3BE00;}
.left_container .productlist_detail li.orange span{  background:#FF6A00;}
.left_container .productlist_detail li.aqua span{  background:#00CCCC;}
.left_container .productlist_detail small{ display:inline-block; font-size:11px; color:#535252; line-height:17px; font-family:Arial; margin:0 0 0 5px;}

.left_container .productlist_detail a{ color:#333;}
.left_container .colorful .black li a:hover{ color:#7f7f7f}
.left_container .productlist_detail li.gray a:hover{ color:#7f7f7f}
.left_container .colorful .blue li a:hover, .left_container .productlist_detail li.blue a:hover{ color:#0078f0}
.left_container .colorful .green li a:hover, .left_container .productlist_detail li.green a:hover{ color:#02c200}
.left_container .colorful .purple li a:hover, .left_container .productlist_detail li.purple a:hover{ color:#c264ff}
.left_container .colorful .brown li a:hover, .left_container .productlist_detail li.brown a:hover{ color:#EEEEE}


.left_container .productlist_detail h4{font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    line-height: 26px;
    padding: 10px 0;}
.left_container .productlist_detail h4 : hover
{	
	color:red;
}


.left_container .productlist_detail p{ font-size:15px; color:#323232; font-family:Arial; line-height:18px;}

.left_container .product_paging{ float:left; width:100%; text-align:center;}
/*.left_container .product_paging ul{ margin:36px 0 0;}*/
.left_container .product_paging ul li{ display:inline-block; vertical-align:top;margin-left: 8px;margin-top:5px;}
.left_container .product_paging ul li a{ float:left; font-size:15px; color:#3c3c3c; font-family:Arial; background:#cbcbcb; font-weight:bold; line-height:20px; padding:0 6px;}
.left_container .product_paging ul li a:hover, .left_container .product_paging ul li.active a{ background:#3c3c3c; color:#fff;}
/*Custom*/
.left_container .productlist_detail ol{font-family:'Arial'; font-size:15px; padding-left:20px;}
.left_container .productlist_detail ol li{font-family:'Arial'; list-style:decimal;}
/*End Custom*/
/*===========productlist detail End here================*/

.left_container .banner200 ul li{ float:left;}
.left_container .banner200 ul li.last{ margin:0;}

/*===========banner detail list start here================*/
.left_container .list2300 ul{ margin:11px 0 0;}
.left_container .list2300 ul li small{ display:block; font-size:11px; line-height:14px; padding:0 0 7px; color:#525151; font-family:Arial;}
.left_container .list2300 ul li{ padding:10px 0 14px; border-top:1px solid #b1b1b1;}
.left_container .list2300 ul .top{ padding:10px 0 14px; border:none;}
.left_container .list2300 ul li.last{ border:none; padding-bottom:0;}
.left_container .list2300 ul li a{ color:#333;}
.left_container .list2300 ul li h4{ font-size:17px; font-weight:bold; font-family:Arial; line-height:24px;}
/*===========banner detail list End here================*/

/*=========== Dark box start here================*/
.left_container .darkbox{ float:left; width:100%;}
.left_container .darkbox.lightgreen{ background:#ffffff;}
.left_container .darkbox.lightbrown{ background:#ffffff;}
.left_container .darkbox.solidblack{ background:#ffffff;}
.left_container .darkbox.red{ background:#ffffff;}
.left_container .darkbox .left_box{ width:420px; float:left;}
.left_container .darkbox .left_box a:hover{ color:#02c200}
.left_container .darkbox.red .left_box a:hover{ color:red}
.left_container .darkbox.solidblack .left_box a:hover{ color:#6f1e84}
.left_container .darkbox.lightbrown .left_box a:hover{ color:#64312c}
.left_container .darkbox.lightbrown .right_box a:hover{ color:#64312c}
.left_container .darkbox .left_box ul{ border-top:1px solid #ddd; margin:13px 0 0;}
.left_container .darkbox .left_box ul li{ width:48%; padding:0 2% 0 0; border:none; float:left;}
.left_container .darkbox .left_box small{  padding:13px 0 6px;}
.left_container .darkbox .right_box{ width:190px; float:right;}
.left_container .darkbox .right_box ul li.first{ padding-bottom:22px;}
.left_container .darkbox .right_box small{ padding:0 0 4px;}
.budidaya{color: rgb(213, 32, 32);}
.left_container .darkbox h3{ font-size:21px; line-height:28px; font-family:Arial; font-weight:bold;}
.left_container .darkbox ul li h4{ font-size:17px;font-weight:bold; font-family:Arial; line-height:22px;}
.left_container .darkbox ul li{ padding:14px 0; border-bottom:1px solid #ddd;}
.left_container .darkbox ul li.last{ border:none;}
.left_container .darkbox a{ color:#333;}
.left_container .darkbox a:hover{ color:red;}
.left_container .darkbox.solidblack a{ color:#333;}
/*=========== Dark box End here================*/

.left_container .ban.full{ width:100%;}

/*==========Left container end here==========*/



/*==========right container start here==========*/
.right_conatiner .main_banner img, .right_conatiner img{ vertical-align:top; margin-bottom:10px;}
.right_conatiner .right_title{ font-size:17px; color:#fff; display:block; font-family: 'Arial'; line-height:23px; padding:1px 11px; margin:0 0 10px;font-weight:bold;}
.right_conatiner .right_title a{text-decoration:none; color:#FFFFFF;}
.right_conatiner .right_title a:hover{text-decoration:none;}
.right_conatiner .right_title.red{ background:#DE000B url(../images/red_bg.png) no-repeat right center;}
.right_conatiner .right_title.green{ background:#00752C url(../images/green_bg.png) no-repeat right center;}
.right_conatiner .right_title.yellow{ background:#FE7525 url(../images/yellow_bg.png) no-repeat right center;}
.right_conatiner .right_title.black{ background:#000000 url(../images/black_bg.png) no-repeat right center;}
.right_conatiner .right_title.purple{ background:#C264FF url(../images/purple_bg.png) no-repeat right center;}
.right_conatiner .right_title.brown{ background:#A36248 url(../images/brown_bg.png) no-repeat right center;}
.right_conatiner .right_title.blue{ background:#0078F0 url(../images/blue_bg.png) no-repeat right center;}
.right_conatiner .right_title.grey{ background:#595959 url(../images/grey_bg.png) no-repeat right center;}

.right_conatiner .common_box{ margin:16px 0 10px 0; float:left;}
.right_conatiner .common_box ul{  float:left; width:100%;}
.right_conatiner .common_box ul li.last{ border:none;}
.right_conatiner .common_box ul li h4{ font-size:15px; line-height:22px; font-family:Arial; font-weight:bold; margin-top:5px}
.right_conatiner .common_box ul li a{ color:#333;}
.right_conatiner .common_box ul li a:hover{ color:#DE000B;}
.right_conatiner .common_box ul li{ border-bottom:1px solid #b1b1b1; padding:6px 0 12px;}
.right_conatiner .common_box ul li small{ font-size:11px; padding:0 0 1px; font-family:Arial; line-height:14px; color:#535252;}
.right_conatiner .common_box .ban280{ margin:0 10px;}
.right_conatiner .common_box .readmore{ float:left; width:280px; border-bottom:1px solid #b1b1b1; padding:0 10px 6px; text-align:right;}
.right_conatiner .common_box .readmore.space{ padding-top:13px;}
.right_conatiner .common_box .readmore.none{border:none; padding:13px 10px 0 0;}
.right_conatiner .common_box .readmore a{ font-size:11px; line-height:14px; font-family:Arial;}
.right_conatiner .common_box .readmore a:hover{ text-decoration:none;}
.right_conatiner .common_box .readmore.green a{ color:#00752c;}
.right_conatiner .common_box .readmore.yellow a{ color:#fe7525;}
.right_conatiner .common_box .banner325{ margin:5px 0 15px; float:left;}

.right_conatiner .common_box.half ul li{    border: medium none;
    float: left;
    margin: 0 2.66% 0 0;
    min-height: ;
    padding: 0;
    width: 47.33%;
    height: 156px;
    overflow: hidden;
	}
.right_conatiner .common_box.half ul li img,.right_conatiner .common_box.half ul li iframe{ float:left; width:142px; height:83px;}
.right_conatiner .common_box.half ul li img:hover{ opacity:.8}
.right_conatiner .common_box.half ul li p{ font-size:13px; line-height:14px; display:inline-block; padding:6px 0; font-family:Arial; font-weight:bold;}
.right_conatiner .common_box.half ul li.last{ margin:0; float:right;}

.right_conatiner .common_box .img_box img{ float:left;  }
.right_conatiner .common_box .img_box a{ color:#333;}
.right_conatiner .common_box .img_box h5{ font-size:17px; font-weight:bold; padding:10px 0 14px; line-height:17px; font-family:Arial;float: right;width: 48%;margin-left: 8px;}
.right_conatiner .common_box .img_box p{ font-size:15px; color:#323232; line-height:15px; font-family:Arial;float: right;width: 48%;margin-left: 8px;}
.right_conatiner .common_box.twiter_sec{ margin:22px 0 0;}
/*==========right container end here==========*/

/*==========Footer css start here==========*/
footer{ padding:0 25px 0 30px; width:898px !important;  background:#f4f4f4; margin:0;}
.top_footer{ float:left; width:100%; padding:23px 0 20px; border-bottom:1px solid #c1c1c1;}
.top_footer .common_box{ float:right;}
.top_footer .box1{ width:12%; margin:0 1% 0 0;}
.top_footer .box2{ width:12%; margin:0 1% 0 0;}
.top_footer .box3{ width:12%; margin:0 0% 0 0;}
.top_footer .logo{ float:left;}
.top_footer h5{ font-size:11px; padding:0 0 4px; font-weight:bold; line-height:14px; color:#7f7f7f; font-family:Arial;}
.top_footer li{ padding:5px 0 4px; float:left; width:100%;}
.top_footer li a{ font-size:11px; color:#7f7f7f; float:left; font-family:Arial; line-height:14px;}
.top_footer li a:hover{ color:#333;}

.bottom_footer{ float:left; width:100%; padding:11px 0 10px;}
.bottom_footer .menu{ float:left; width:100%; padding:0 0 3px;}
.bottom_footer .menu li{ float:left; background:url(../images/footer_sep.png) no-repeat right center; padding:0 21px 0 20px;}
.bottom_footer .menu li.first{ padding-left:5px;}
.bottom_footer .menu li.last{ background:none;}
.bottom_footer .menu li a{ float:left; font-size:11px; color:#7f7f7f; line-height:14px; font-family:Arial;}
.bottom_footer .menu li a:hover{ text-decoration:underline;}
.bottom_footer span{ font-size:11px; color:#7f7f7f; font-family:Arial; margin:19px 0 0; float:left;}
.bottom_footer .social{ float:right;}
.bottom_footer .social li{ float:left; margin:0 3px;}
.bottom_footer .social li.last{ margin-right:0;}
.bottom_footer .social li a{ float:left; width:25px; height:25px;}
.bottom_footer .social li a:hover{ background-position:bottom center;}
.bottom_footer .social li .face{ background:url(../images/facebook.png) no-repeat top center;}
.bottom_footer .social li .tweet{ background:url(../images/twiter.png) no-repeat top center;}
.bottom_footer .social li .google{ background:url(../images/google.png) no-repeat top center;}
.bottom_footer .social li .insta{ background:url(../images/instagram.png) no-repeat top center;}

.top_footer .links{ display:none;}
/*==========Footer css end here==========*/


/*==========Headline css start here==========*/
.headline_sec{ float:left; width:97%; padding:0 1.5%; min-height:28px;margin-bottom:10px;}
.headline_sec.orange{ background:url(../images/orange_row.png) repeat-x 0 0; margin:0 0 30px;}
.headline_sec.black{ background:url(../images/black_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.red{ background:url(../images/red_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.blue{ background:url(../images/blue_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.green{ background:url(../images/green_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.purple{ background:url(../images/purple_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.brown{ background:url(../images/brown_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.boldyellow{ background:url(../images/boldyellow_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.palegreen{ background:url(../images/palegreen_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.aqua{ background:url(../images/aqua_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.orange{ background:url(../images/oranges_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.lightblue{ background:url(../images/lightblue_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec.greenarmy{ background:url(../images/greenarmy_row.png) repeat-x 0 0; margin:0 0 11px;}
.headline_sec h4{ line-height:28px; display:inline-block; vertical-align:top; font-size:19px; text-shadow:1px 1px 2px #333; color:#fff; font-family: 'Arial'; font-style:italic; text-transform:uppercase;} 
.headline_sec ul{ display:inline-block; vertical-align:top; margin:4px 0 4px 10px; }
.headline_sec ul li{ float:left; margin:0 21px;}
.headline_sec ul li a{ float:left; font-size:14px; line-height:20px; color:#E2E2E2; font-family: 'Arial';}
.headline_sec ul li a:hover{ color:#fff;}
/*==========Headline css end here==========*/


/*==========Vedio tutorial css start here==========*/
.vedio_row{ float:left; width:100%; margin:0 0 49px;} 
.vedio_row .box{ box-shadow:0 0 4px #afafaf; margin:0 25px 0 0 !important;}
.vedio_row .box.last{ margin:0 !important;}
.vedio_row img,.vedio_row iframe{ float:left;border: none;}
.vedio_row img:hover{ opacity:.8;}
.vedio_info{ padding:0 17px;}
.vedio_info h4{ width:100%; font-size:16px; line-height:22px; font-family:Arial; font-weight:bold; padding:16px 0; display:inline-block;}
.vedio_info p{ font-size:15px; color:#323232; padding:10px 0 12px; font-family:Arial; line-height:18px;}
.vedio_info a{ color:#333;}
.vedio_info a:hover{ color:#7f7f7f;}
.vedio_info_content a{ color:#333;}
.vedio_info_content a:hover{ color:#7f7f7f;}

.vedio_paging{ float:left; width:100%; text-align:center;}
.vedio_paging ul{ margin:-9px 0 0;}
.vedio_paging ul li{ display:inline-block; vertical-align:top;}
.vedio_paging ul li a{ float:left; font-size:15px; color:#3c3c3c; font-family:Arial; background:#cbcbcb; font-weight:bold; line-height:20px; padding:0 6px;}
.vedio_paging ul li a:hover, .vedio_paging ul li.active a{ background:#3c3c3c; color:#fff;}
/*==========Vedio tutorial css end here==========*/


/*==========pongan page css start here==========*/
.boxes_container img{ float:left;}
.boxes_container ul li{ float:left; width:100%; padding:15px 0; border-bottom:1px solid #dddddd;}
.boxes_container ul li.first{ padding-top:0;}
.boxes_container ul li.last{ border:none;}
.boxes_container ul li .box_detail{ float:right; width:75%;}
.boxes_container ul li .box_detail span{ font-size:11px; color:#fff; background:#595959; font-family: 'Arial'; display:inline-block; line-height:14px; padding:2px 6px;}
.boxes_container ul li .box_detail small{ display:inline-block; font-size:11px; color:#535252; line-height:17px; font-family:Arial; margin:0 0 0 15px;}
.boxes_container ul li .box_detail h4{ font-size:21px; padding:8px 0; font-weight:bold; font-family:Arial; line-height:26px;}
.boxes_container ul li .box_detail p{ font-size:15px; color:#323232; font-family:Arial; line-height:18px;}
.boxes_container ul li .box_detail a{ color:#333;}
.boxes_container ul li .box_detail a:hover{ color:#7f7f7f;}
.boxes_container .more{ float:right; font-size:11px; line-height:14px; color:#534741; margin:0 0 6px; font-family:Arial;}
.boxes_container .more:hover{ text-decoration:underline;}

.infobox .title{ display:block; padding:9px 11px 0; margin:-6px 0 16px;}
.infobox .img_box{ float:left; width:196px;}
.infobox a{ color:#333;}
.infobox a:hover{ color:#7f7f7f;}
.infobox .img_box img{ vertical-align:top;}
.infobox .img_box h4{ font-family:Arial; font-size:17px; font-weight:bold; line-height:19px;}
.infobox .img_box small{ font-size:11px; color:#525151; font-family:Arial; line-height:14px; display:block; padding:13px 0 3px;}
.infobox ul li{ padding:7px 0 10px; border-bottom:1px solid #dddddd;}
.infobox ul{ float:left; margin:0 7px 0 34px; width:27%;}
.infobox ul li h4{ font-size:14px; font-family:Arial; font-weight:bold; line-height:18px;}
/*==========pongan page css end here==========*/


/*==========Content page css start here==========*/
.breadcrum_sec{ margin:-24px 0 0;}
.breadcrum_sec ul li{ float:left; padding:0 21px 0 16px; background:url(../images/bread_sep.png) no-repeat right center; font-size:12px; line-height:15px; color:#7f7f7f; text-transform:uppercase; font-family: 'Arial'; color:#7f7f7f;}
.breadcrum_sec ul li.first{ padding-left:0;}
.breadcrum_sec ul li.first.empty{ background:none;}


.breadcrum_sec ul li.last{ background:none;}
.breadcrum_sec ul li a{ color:#7f7f7f;}

.content_details{ float:left; width:100%;}
.content_details h2{ font-size:30px; padding:9px 0; color:#333; font-family:Arial; line-height:35px; font-weight:bold;}
.content_details h3{ font-size:20px; color:#525151; min-height:48px; line-height:24px; font-family:Arial; font-weight:bold;font-size: 15px;}
.content_details small{ font-size:12px; font-family:Arial; color:#7f7f7f; line-height:15px; padding:9px 0 0; display:block;}
.content_details img{ vertical-align:top; width:100%;}
.content_details .ban3100{ margin-top:23px;}
.content_details .mainimg{ margin:23px 0 38px;}
.content_details p{ font-size:16px; color:#323232; font-family:Arial; line-height:28px; padding:0 0 21px;}

.content_details .tag_sec{ float:left; width:100%; margin:22px 0 55px;}
.content_details .tag_sec span{ font-size:16px; margin:0 15px 0 0; float:left; font-family:Arial; color:#5b5b5b; font-weight:bold; line-height:24px;}
.content_details .tag_sec ul li{ float:left; font-size:14px; margin:0 6px; font-family:Arial; color:#0051ab; background:#dcdada; line-height:18px; padding:3px 8px;}
.content_details .tag_sec ul li:hover{ background:#ccc;}

.social_row{ width:100%; float:left; margin:0 0 15px;}
.social_row.inner{  margin:51px 0 15px;}
.social_row ul li{ float:left; width:24%; margin:0 1% 0 0;}
.social_row ul li.face span{ color:#5e81d2;}
.social_row ul li.tweet span{ color:#3fbef3;}
.social_row ul li.google span{ color:#eb5e4d;}
.social_row ul li img{ float:left; margin:0 13px 0 0;width: 50px;height: 50px;}
.social_row ul li span{ font-size:15px; line-height:14px; display:block; padding:7px 0 0; font-family:Arial; font-weight:bold;}

.cmn_box{ float:left; width:100%; margin:39px 0 0;}
.cmn_box h3{ font-size:21px; line-height:25px; font-family: 'Arial'; text-transform:uppercase; padding:14px 0 12px; border-bottom:1px solid #c7c7c7;  border-top:1px solid #c7c7c7; margin:0 0 4px;}
.cmn_box ul{ float:left; width:100%;}
.cmn_box ul li{ padding:18px 0; float:left; width:100%; border-bottom:1px solid #c7c7c7;}
.cmn_box ul li.last{ border:none;}
.cmn_box ul li .col{ float:left; width:45%; margin:0 5% 0 0;}
.cmn_box ul li img{ float:left; padding:2px; background:#fff; margin:0 24px 0 0; box-shadow:0 0 5px #666;width:70px;}
.cmn_box ul li h4{ font-size:14px; font-family:Arial; font-weight:bold; line-height:17px;}
.cmn_box ul li a{ color:#323232; }
.cmn_box .coment{ float:left; width:100%; margin:17px 0 0;}
/*==========Content page css end here==========*/

/*==========Responsive css start here==========*/

#menu-desktop{display:block}
#menu-mobile{display:none}
 
.paging-page a{
	background-color: #f60;
    color: #fff;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    float: left;
}
	
.list_index
{
	padding-bottom: 4px;
	border-bottom: 1px solid #AEAEAE;
	padding-top: 4px;
	font-family: 'Trebuchet MS';
	font-size: 14px;
	color: black;
}

.list_index.bold
{
	font-weight: bold;
}

.list_index a
{
	color: black;
}

.list_index a:hover
{
	color: #7F7F7F;
}
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */
     
    .container                                  { position: relative; width: 980px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline;}
    .row                                        { margin-bottom: 20px; }
    .container .column.right,
    .container .columns.right                    {float:right}
    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; width: 953px;}
	
    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 50px;  }
    .container .two.columns                     { width: 110px; }
    .container .three.columns                   { width: 170px; }
    .container .four.columns                    { width: 230px; }
    .container .five.columns                    { width: 290px; }
    .container .six.columns                     { width: 350px; }
    .container .seven.columns                   { width: 410px; }
    .container .eight.columns                   { width: 470px; }
    .container .nine.columns                    { width: 530px; }
    .container .ten.columns                     { width: 590px; }
    .container .eleven.columns                  { width: 743px; }
    .container .twelve.columns                  { width: 710px; }
    .container .thirteen.columns                { width: 770px; }
    .container .fourteen.columns                { width: 830px; }
    .container .fifteen.columns                 { width: 890px; }
    /*.container .sixteen.columns                 { width: 960px; }*/

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 631px; }
	
	.top_header .top_social{	width:308px !important;	}
	.logo.one-third.omega.alpha{ width:250px !important;}

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }

 
.footer-bag{ float: left;padding-left: 14px;padding-right: 13px;background: white;}

.popup {
    background: white none repeat scroll 0 0;
    display: block;
    height: auto;
    left: 25%;
    padding: 24px;
    position: fixed;
    bottom:-10px;
    width: auto;
    z-index: 99999;
 
} 
.button-close{display:inline-block; position:absolute;right:24px; top:0px;}
	

.banner-popup {width: 300px;} 
 
}

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }


    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
	
	@media screen and (max-width: 480px) {
	
	.boxes_container ul li .box_detail{width:50%}
	}
	
	
	 

/*==========Responsive css end here==========*/

.request-mobile {
	width: 100%;
	text-align: center;
	color: #333;
}

.left_container .solidblack small{ font-size:11px; display:block; line-height:14px; color:#525151; font-family:Arial, Helvetica, sans-serif;}
.left_container .lightgreen small{ font-size:11px; display:block; line-height:14px; color:#525151!important; font-family:Arial, Helvetica, sans-serif;}
.left_container .lightbrown small{ font-size:11px; display:block; line-height:14px; color:#525151!important; font-family:Arial, Helvetica, sans-serif;}
.left_container .red small{ font-size:11px; display:block; line-height:14px; color:#525151!important; font-family:Arial, Helvetica, sans-serif;}

.foto-img {
	display: block;
	position: relative;
}
.foto-img .foto-icon {
	position: absolute;
	bottom: 0;
	left: 0;
}