/** * Блоки на разных страницах * * @author      Viacheslav Glushko aka iXax <mail@ixax.ru> * @version     1.0.201205.21.2 * @since		1.0.201202.01.1 * @link        http://ixax.ru/portfolio/company/vgtrk/----------------------------------------------------------------------------- */
/** * Конфигурация------------------------------------------------------------------------------ */
/** * Устанавливаем кодировку------------------------------------------------------------------------------ */
@charset "UTF-8";
/** * Подключаем внешние mixins------------------------------------------------------------------------------ */
/** * Main mixins * * 1.0.201202.11.1 *    .size -> .box-size * * @author      Viacheslav Glushko aka iXax <flutter@ixax.ru> * @version     1.0.201202.11.1 * @since		1.0.201202.01.1 * @link        http://ixax.ru/projects/less-stuff/----------------------------------------------------------------------------- */
/** * Устанавливаем размер блока----------------------------------------------------------------------------- */
/** * font-size/line-height----------------------------------------------------------------------------- */
/** * Абсолютное позиционирование----------------------------------------------------------------------------- */
/** * Multi-browser horizontal menu----------------------------------------------------------------------------- */
/** * Vertical centered (необходимо задавать высоту элемента)----------------------------------------------------------------------------- */
/** * DISPLAY: <block>, <inline-block>, <none>----------------------------------------------------------------------------- */
/** * POSITION----------------------------------------------------------------------------- */
/**
 * CSS3 mixins
 * 
 * History:
 * 		1.0.201202.01.1
 * 			Старт проекта
 * 		1.0.201202.09.1
 * 			Добавлена частичная поддержка CSS3Pie (http://css3pie.com): .gradient добавляем -pie- свойство;
 *
 * @author      Viacheslav Glushko aka iXax <flutter@ixax.ru>
 * @version     1.0.201204.11.1
 * @since		1.0.201202.01.1
 * @link        http://ixax.ru/projects/less-stuff/
----------------------------------------------------------------------------- */
/* PRIVATE background-clip */
/**
 * GRADIENTS
----------------------------------------------------------------------------- */
/**
 * border-radius
----------------------------------------------------------------------------- */
/**
 * box-shadow
----------------------------------------------------------------------------- */
/*

.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}



.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
*/
/** * Подключаем mixins/variables проекта------------------------------------------------------------------------------ */
/**
 * Переменные проекта
 *
 * @author      Viacheslav Glushko aka iXax <mail@ixax.ru>
 * @version     1.0.201205.12.1
 * @since     	1.0.201202.01.1
 * @link        http://ixax.ru/portfolio/company/vgtrk/
----------------------------------------------------------------------------- */
/**
 * Box sizes
----------------------------------------------------------------------------- */
/**
 * Цвета текста
----------------------------------------------------------------------------- */
/* Цвет фона у активных элементов */
/**
 * Цвета в градиентных блоках и кнопках
----------------------------------------------------------------------------- */
/* #ddd */
/**
 * Цвета фона и рамок у блоков
----------------------------------------------------------------------------- */
/**
 * Иконки
------------------------------------------------------------------------------ */
/**
 * BODY Theming
----------------------------------------------------------------------------- */
/*@theme-light-bg:    #ededed;*/
/** * Presets mixins *  * * @author      Viacheslav Glushko aka iXax <mail@ixax.ru> * @version     1.0.201205.12.1 * @since     	1.0.201202.01.1 * @link        http://ixax.ru/portfolio/company/vgtrk/----------------------------------------------------------------------------- */
/** * Font----------------------------------------------------------------------------- */
/** * Градиенты----------------------------------------------------------------------------- */
/** * Background  с точечками------------------------------------------------------------------------------ */
/** * Background с диагональным полосками------------------------------------------------------------------------------ */
/** * Подложка под блоками------------------------------------------------------------------------------ */
/** * Вогнутая кнопка с тенюшками------------------------------------------------------------------------------ */
/** * Иконка поверх превьюшки видео <a>----------------------------------------------------------------------------- */
/** * PICTURE LINK------------------------------------------------------------------------------ */
/** * Фотка в персонах и галереях------------------------------------------------------------------------------ */
/** * Малые иконки просмотров / фотографий / комментариев / подробнее------------------------------------------------------------------------------ */
/** * “Правильный” text-shadow------------------------------------------------------------------------------ */
/** * Стиль текста в статьях------------------------------------------------------------------------------ */
/** * Close button------------------------------------------------------------------------------ */
/** * Пагинатор с точками----------------------------------------------------------------------------- */
div.b-paginator_dotted {
  position: relative;
}
div.b-paginator_dotted ul.h {
  height: 10px;
  text-align: center;
  margin-left: 0;
}
div.b-paginator_dotted ul.h li {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.36em;
  *display: inline;
  *zoom: 1;
  *margin-left: 0;
}
div.b-paginator_dotted ul.h li li {
  display: block;
  margin-left: 0;
}
div.b-paginator_dotted ul.h li:first-child {
  margin-left: 0;
}
div.b-paginator_dotted ul.h li {
  margin-left: 5px;
}
div.b-paginator_dotted ul.v {
  width: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
}
div.b-paginator_dotted ul.v li {
  margin-top: 5px;
}
div.b-paginator_dotted ul.v li:first-child {
  margin-top: 0;
}
div.b-paginator_dotted a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px #616161;
  -moz-box-shadow: inset 0 1px 1px #616161;
  box-shadow: inset 0 1px 1px #616161;
}
body.theme_dark div.b-paginator_dotted a {
  background-color: #777;
}
body.theme_dark div.b-paginator_dotted a.active {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 #ffffff;
  -moz-box-shadow: inset 0 0 0 #ffffff;
  box-shadow: inset 0 0 0 #ffffff;
}
body.theme_light div.b-paginator_dotted a {
  background-color: #d1d2d4;
}
body.theme_light div.b-paginator_dotted a.active {
  background: #ff4341;
  background: linear-gradient(#ff4341, #a81c1a);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#ff4341), to(#a81c1a));
  background: -webkit-linear-gradient(#ff4341, #a81c1a);
  background: -ms-linear-gradient(#ff4341, #a81c1a);
  background: -moz-linear-gradient(#ff4341, #a81c1a);
  background: -o-linear-gradient(#ff4341, #a81c1a);
}
/** * Слайдер----------------------------------------------------------------------------- */
div.b-slider {
  height: 15px;
  background: #46474c url('/i/el/slider_sprite.png') 0 -15px repeat-x;
  position: relative;
}
div.b-slider a.b-slider_ctrl {
  display: block;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 0;
  background-image: url('/i/el/slider_sprite.png');
  background-repeat: no-repeat;
}
div.b-slider a.b-slider_ctrl_prev {
  background-position: 0 0;
  left: 0;
}
div.b-slider a.b-slider_ctrl_next {
  background-position: -84px 0;
  right: 0;
}
div.b-slider a.b-slider_ctrl_slide {
  width: 62px;
  background-position: -19px 0;
  left: 16px;
}
/** * LIKE in aside/on page top----------------------------------------------------------------------------- */
div.b-like {
  text-align: center;
}
div.b-like a {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
div.b-like a:first-child {
  margin-left: 0;
}
div.b-like_placeholder {
  position: relative;
}
div.b-like_placeholder div.b-like_small {
  width: auto;
  position: absolute;
  height: 16px;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
div.b-like_placeholder div.b-like_small a {
  margin-left: 3px;
}
div.b-like_large {
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
}
div.b-like_large a {
  margin-left: 5px;
  opacity: 0.5;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  filter: "alpha(opacity=50)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
div.b-like_large a:hover {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
body.theme_light div.b-like_large {
  background-image: url('/i/el/lined_bg-light.png');
  background-repeat: repeat;
  background-position: 0 0;
}
body.theme_dark div.b-like_large {
  background-image: url('/i/el/lined_bg-dark.png');
  background-repeat: repeat;
  background-position: 0 0;
}
/** * ADV in aside----------------------------------------------------------------------------- */
#adv_right {
  margin: 20px 0;
  position: relative;
  min-height: 200px;
}
#adv_right p.alt {
  top: 14px;
  left: -45px;
}
#adv_top {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
/** * MINI VIDEO in aside----------------------------------------------------------------------------- */
aside div.b-mini_video {
  /*.box-size(240px, 180px);*/
  width: 240px;
  height: 210px;
  margin: 20px 0 28px 0;
  position: relative;
}
aside div.b-mini_video p.alt {
  top: 18px;
  left: -50px;
}
aside div.b-mini_video iframe {
  width: 100%;
  height: 100%;
  border: none;
  frameborder: 0;
}
/** * NEW VIDEO----------------------------------------------------------------------------- */
div.b-video-slider {
  margin-top: 25px;
  overflow: hidden;
  height: 237px;
}
div.b-video-slider ul.items li.item {
  width: 203px;
  height: 222px;
  border-right: 1px solid #cfcfcf;
  float: left;
  vertical-align: top;
}
div.b-video-slider ul.items li.item div.preview {
  position: relative;
  height: 152px;
}
div.b-video-slider ul.items li.item div.preview a {
  display: block;
}
div.b-video-slider ul.items li.item div.preview a img {
  width: 100%;
}
div.b-video-slider ul.items li.item div.preview a.photo {
  position: relative;
  display: block;
  /*Костыль для малого промо-блока на главной*/
}
div.b-video-slider ul.items li.item div.preview a.photo img {
  width: 100%;
}
div.b-video-slider ul.items li.item div.preview a.photo span.icon {
  display: block;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
}
div.b-video-slider ul.items li.item div.preview a.photo span.icon {
  background-image: url(/i/el/photo_small.png);
}
div.b-video-slider ul.items li.item div.preview a.photo span.icon {
  position: absolute;
  width: 23px;
  height: 23px;
  top: auto;
  left: auto;
  right: 8px;
  bottom: 7px;
  /*background-image: ~"url(@{root}/video/play-ico-new.png)";                            background-position: -16px -72px;*/
  background-image: url(/i/el/photo-new.png);
  background-position: left top;
  background-repeat: no-repeat;
}
div.b-video-slider ul.items li.item div.preview a.video {
  position: relative;
  display: block;
  /*Костыль для малого промо-блока на главной*/
}
div.b-video-slider ul.items li.item div.preview a.video img {
  width: 100%;
}
div.b-video-slider ul.items li.item div.preview a.video span.icon {
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  bottom: 6px;
  right: 7px;
}
div.b-video-slider ul.items li.item div.preview a.video span.icon {
  background-image: url(/i/el/play-small-new.png);
}
div.b-video-slider ul.items li.item div.preview a.video span.icon {
  position: absolute;
  width: 23px;
  height: 23px;
  top: auto;
  left: auto;
  right: 8px;
  bottom: 7px;
  /*background-image: ~"url(@{root}/video/play-ico-new.png)";                            background-position: -16px -72px;*/
  background-image: url(/i/el/play-small-new.png);
  background-position: left top;
  background-repeat: no-repeat;
}
div.b-video-slider ul.items li.item div.title {
  height: 50px;
  padding: 10px 15px;
  background: #eeeeee;
  background: linear-gradient(#eeeeee, #cdcdcd);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#eeeeee), to(#cdcdcd));
  background: -webkit-linear-gradient(#eeeeee, #cdcdcd);
  background: -ms-linear-gradient(#eeeeee, #cdcdcd);
  background: -moz-linear-gradient(#eeeeee, #cdcdcd);
  background: -o-linear-gradient(#eeeeee, #cdcdcd);
}
div.b-video-slider ul.items li.item div.title a.name {
  display: block;
  color: #606060;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
div.b-video-slider ul.items li.item div.title a.name:hover {
  text-decoration: underline;
}
div.b-video-slider ul.items li.item div.title span.date {
  color: #777;
  font-size: 11px;
  line-height: 15px;
}
/** * Новости кино----------------------------------------------------------------------------- */
div.b-news-slider {
  background-color: #ffffff;
  padding: 40px 0;
}
div.b-news-slider h2 {
  font-family: "RussiaRegular";
  font-size: 18px;
  padding: 0 10px 15px 10px;
}
div.b-news-slider h2:after {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  display: none;
  background: none repeat scroll 0 0 #ccc;
  content: ".";
  height: 1px;
  overflow: hidden;
  text-indent: -2em;
  width: 830px;
  vertical-align: middle;
  margin-left: 10px;
}
div.b-news-slider .b-cinema_news-inner {
  height: 320px;
  padding-bottom: 9px;
  overflow: hidden;
}
div.b-news-slider ul.items {
  width: 5000px;
  height: 278px;
}
div.b-news-slider ul.items li.item {
  float: left;
  padding: 10px;
  height: 165px;
  border-bottom: 1px solid transparent;
  width: 165px;
  height: 277px;
}
div.b-news-slider ul.items li.item img {
  width: 165;
  height: 125px;
}
div.b-news-slider ul.items li.item h3 {
  font: bold 12px Arial, sans-serif;
  color: #343434;
  text-transform: uppercase;
  margin: 10px 0;
}
div.b-news-slider ul.items li.item p {
  font: normal 11px Arial, sans-serif;
  color: #777;
}
div.b-news-slider ul.items li.item:hover {
  background-color: #fff;
  border-bottom-color: #bebebe;
}
/** * Менюшка-слайдер в шапке сайта----------------------------------------------------------------------------- */
div.b-menu-top-slider {
  position: relative;
}
div.b-menu-top-slider div.viewport {
  width: 425px;
  margin: 0 25px;
  overflow: hidden;
}
div.b-menu-top-slider a.ctrl {
  display: block;
  width: 24px;
  height: 21px;
  background-image: url("/i/el/b-menu-top-slider_ctrl.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}
div.b-menu-top-slider a.ctrl_prev {
  background-position: 10px 7px;
  left: 0;
}
div.b-menu-top-slider a.ctrl_next {
  background-position: -11px 7px;
  left: 450px;
}
div.b-menu-top-slider ul.stack {
  width: 120000px;
  margin-left: 0;
}
div.b-menu-top-slider ul.stack li {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.36em;
  *display: inline;
  *zoom: 1;
  *margin-left: 0;
}
div.b-menu-top-slider ul.stack li li {
  display: block;
  margin-left: 0;
}
div.b-menu-top-slider ul.stack li:first-child {
  margin-left: 0;
}
div.b-menu-top-slider ul.stack li {
  border-left: 1px solid #e4e4e4;
  margin-right: 1px;
}
div.b-menu-top-slider ul.stack li:first-child {
  border-left: 0;
}
div.b-menu-top-slider ul.stack li a {
  display: block;
  width: 78px;
  /*min-width: @item-width + 20px;*/
  height: 21px;
  padding: 0 3px;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  font-family: "RussiaMedium";
  color: #333333;
  text-transform: uppercase;
}
div.b-menu-top-slider ul.stack li a.active {
  background: #e20000;
  background: linear-gradient(#e20000, #a40202);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#e20000), to(#a40202));
  background: -webkit-linear-gradient(#e20000, #a40202);
  background: -ms-linear-gradient(#e20000, #a40202);
  background: -moz-linear-gradient(#e20000, #a40202);
  background: -o-linear-gradient(#e20000, #a40202);
  border-bottom: 1px solid #9a0000;
  -webkit-box-shadow: 0 1px 4px #b1b1b1;
  -moz-box-shadow: 0 1px 4px #b1b1b1;
  box-shadow: 0 1px 4px #b1b1b1;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 0 #333333;
}
div.b-menu-top-slider ul.stack li a.active:after {
  display: none;
  width: 9px;
  height: 6px;
  background: transparent url("/i/el/b-menu-top-slider_tail.png") 0 0 no-repeat;
  top: 21px;
  left: 50%;
  position: absolute;
  margin-left: -4px;
  content: '';
}
div.b-menu-top-slider ul.stack li a:hover {
  background: #e20000;
  background: linear-gradient(#e20000, #a40202);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#e20000), to(#a40202));
  background: -webkit-linear-gradient(#e20000, #a40202);
  background: -ms-linear-gradient(#e20000, #a40202);
  background: -moz-linear-gradient(#e20000, #a40202);
  background: -o-linear-gradient(#e20000, #a40202);
  border-bottom: 1px solid #9a0000;
  -webkit-box-shadow: 0 1px 4px #b1b1b1;
  -moz-box-shadow: 0 1px 4px #b1b1b1;
  box-shadow: 0 1px 4px #b1b1b1;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 0 #333333;
}
div.b-menu-top-slider ul.stack li a:hover:after {
  display: none;
  width: 9px;
  height: 6px;
  background: transparent url("/i/el/b-menu-top-slider_tail.png") 0 0 no-repeat;
  top: 21px;
  left: 50%;
  position: absolute;
  margin-left: -4px;
  content: '';
}
/** * Темы----------------------------------------------------------------------------- */
/*  */
div.b-abc_styled {
  height: 64px;
  background: #eee;
  border-top: 1px solid #fff;
}
div.b-abc_styled div.b-like_small {
  margin-top: -22px;
  right: 5px;
}
div.b-abc_styled ul.items {
  height: 25px;
  border-bottom: 1px solid #d8d8d8;
  padding: 5px 0;
  margin-left: 5px;
}
div.b-abc_styled ul.items li {
  float: left;
}
div.b-abc_styled ul.items li a {
  display: block;
  min-width: 28px;
  height: 40px;
  font: 10px/26px Tahoma;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  text-align: center;
}
div.b-abc_styled ul.items li a.active {
  width: 30px;
  background: url("/i/el/nav_marker.png?v=2") 2px 0 no-repeat;
  color: #fff;
  text-shadow: none;
}
div.b-abc_styled ul.items li.first {
  margin-right: 20px;
}
div.b-abc_styled ul.items li.last {
  margin-left: 20px;
}
div.b-abc_styled div.footer {
  height: 26px;
  background: #ebebeb;
  background: linear-gradient(#ebebeb, #c4c4c4);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#ebebeb), to(#c4c4c4));
  background: -webkit-linear-gradient(#ebebeb, #c4c4c4);
  background: -ms-linear-gradient(#ebebeb, #c4c4c4);
  background: -moz-linear-gradient(#ebebeb, #c4c4c4);
  background: -o-linear-gradient(#ebebeb, #c4c4c4);
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #7c868e;
}
/** * Пагинатор с цифрами----------------------------------------------------------------------------- */
div.b-paginator-digits ul.items {
  margin: 40px auto;
  overflow: hidden;
  text-align: center;
  margin-left: 0;
}
div.b-paginator-digits ul.items li {
  display: inline-block;
  vertical-align: top;
  margin-left: -0.36em;
  *display: inline;
  *zoom: 1;
  *margin-left: 0;
}
div.b-paginator-digits ul.items li li {
  display: block;
  margin-left: 0;
}
div.b-paginator-digits ul.items li:first-child {
  margin-left: 0;
}
div.b-paginator-digits ul.items li.item {
  margin-right: 15px;
}
div.b-paginator-digits ul.items li.item a {
  width: 28px;
  height: 28px;
  display: block;
  background: #ebebeb;
  background: linear-gradient(#ebebeb, #c4c4c4);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#ebebeb), to(#c4c4c4));
  background: -webkit-linear-gradient(#ebebeb, #c4c4c4);
  background: -ms-linear-gradient(#ebebeb, #c4c4c4);
  background: -moz-linear-gradient(#ebebeb, #c4c4c4);
  background: -o-linear-gradient(#ebebeb, #c4c4c4);
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #7c868e;
  color: #333333;
  text-shadow: 0px 1px 0 #eeeeee;
  font-size: 13px;
  font-family: "RussiaBold";
  font-family: "RussiaRegular";
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
div.b-paginator-digits ul.items li.item a:hover {
  color: #a81c1a;
}
div.b-paginator-digits ul.items li.item a.active {
  background: #999;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  border-top-color: #808080;
}
div.b-paginator-digits ul.items li.ctrl a span {
  display: block;
  width: 12px;
  height: 15px;
  margin: 7px auto;
  background-image: url("/i/el/arrows.png");
  background-repeat: no-repeat;
}
div.b-paginator-digits ul.items li.ctrl_prev a span {
  background-position: 0 0;
}
div.b-paginator-digits ul.items li.ctrl_next a span {
  background-position: -14px 0;
}
/** * Табы----------------------------------------------------------------------------- */
ul.b-tabs {
  overflow: hidden;
}
ul.b-tabs li {
  float: left;
  margin-left: 2px;
}
ul.b-tabs li a {
  display: block;
  height: 33px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 38px;
  font-family: "RussiaRegular";
  text-transform: uppercase;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.b-tabs li a:hover {
  background-image: none;
}
ul.b-tabs li a.active {
  background-image: none;
}
/** * Выбор дубля----------------------------------------------------------------------------- */
div.b-select-double {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
div.b-select-double p.title {
  font-size: 15px;
  line-height: 25px;
  font-family: "RussiaMedium";
  text-transform: uppercase;
  text-shadow: 0 1px 0 #eee;
}
div.b-select-double div.zone {
  display: none;
  position: relative;
}
div.b-select-double div.zone p.double_name {
  font-size: 13px;
  line-height: 15px;
  font-family: "RussiaRegular";
  text-transform: uppercase;
  color: #999;
}
div.b-select-double div.zone p.double_name span.offset {
  color: #c40000;
}
div.b-select-double div.zone ul.cities {
  position: absolute;
  top: 20px;
  left: 12px;
}
div.b-select-double div.zone ul.cities li.item {
  font-size: 11px;
  line-height: 13px;
  display: list-item;
  list-style: square;
  color: #777;
}
div.b-select-double div.zone_active {
  display: block;
}
div.b-select-double ul.map {
  margin-top: 30px;
  height: 143px;
  overflow: hidden;
}
div.b-select-double ul.map li.item {
  float: left;
}
div.b-select-double ul.map li.item a {
  display: block;
  height: 143px;
  background-image: url("/i/tvp/double-map+k.png");
  background-repeat: no-repeat;
}
div.b-select-double ul.map li.zone_2 a {
  width: 56px;
  background-position: 0 -143px;
}
div.b-select-double ul.map li.zone_2 a.active {
  background-position: 0 0;
}
div.b-select-double ul.map li.zone_2 a:hover {
  background-position: 0 0;
}
div.b-select-double ul.map li.zone_4 a {
  width: 34px;
  background-position: -56px -143px;
}
div.b-select-double ul.map li.zone_4 a.active {
  background-position: -56px 0;
}
div.b-select-double ul.map li.zone_4 a:hover {
  background-position: -56px 0;
}
div.b-select-double ul.map li.zone_5 a {
  width: 36px;
  background-position: -90px -143px;
}
div.b-select-double ul.map li.zone_5 a.active {
  background-position: -90px 0;
}
div.b-select-double ul.map li.zone_5 a:hover {
  background-position: -90px 0;
}
div.b-select-double ul.map li.zone_6 a {
  width: 34px;
  background-position: -126px -143px;
}
div.b-select-double ul.map li.zone_6 a.active {
  background-position: -126px 0;
}
div.b-select-double ul.map li.zone_6 a:hover {
  background-position: -126px 0;
}
div.b-select-double ul.map li.zone_7 a {
  width: 53px;
  background-position: -164px -143px;
}
div.b-select-double ul.map li.zone_7 a.active {
  background-position: -164px 0;
}
div.b-select-double ul.map li.zone_7 a:hover {
  background-position: -164px 0;
}
div.b-select-double ul.map li.zone_8 a {
  width: 67px;
  background-position: 0 -143px;
}
div.b-select-double ul.map li.zone_8 a.active {
  background-position: 0 0;
}
div.b-select-double ul.map li.zone_8 a:hover {
  background-position: 0 0;
}
div.b-select-double ul.map li.zone_9 a {
  width: 33px;
  background-position: -67px -143px;
}
div.b-select-double ul.map li.zone_9 a.active {
  background-position: -67px 0;
}
div.b-select-double ul.map li.zone_9 a:hover {
  background-position: -67px 0;
}
div.b-select-double ul.map li.zone_10 a {
  width: 35px;
  background-position: -100px -143px;
}
div.b-select-double ul.map li.zone_10 a.active {
  background-position: -100px 0;
}
div.b-select-double ul.map li.zone_10 a:hover {
  background-position: -100px 0;
}
div.b-select-double ul.map li.zone_11 a {
  width: 78px;
  background-position: -135px -143px;
}
div.b-select-double ul.map li.zone_11 a.active {
  background-position: -135px 0;
}
div.b-select-double ul.map li.zone_11 a:hover {
  background-position: -135px 0;
}
/** * Процесс загрузки----------------------------------------------------------------------------- */
#container a.loading {
  background: url("/i/btns_loading.gif") 0 0 repeat;
}
#main a.loading {
  background: url("/i/btns_loading.gif") 0 0 repeat;
}
#panel a.loading {
  background: url("/i/btns_loading.gif") 0 0 repeat;
}
#panel div.form fieldset.submit a.loading {
  background: url("/i/btns_loading.gif") 0 0 repeat;
}
/** * Блок с формами в викторинах, опросах, голосованиях----------------------------------------------------------------------------- */
div.b-large_form div.announce {
  margin-left: 31px;
}
div.b-large_form div.announce div.text {
  margin-top: 20px;
}
div.b-large_form div.success {
  height: 75px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 75px;
  text-align: center;
  font-family: "RussiaRegular";
  text-transform: uppercase;
}
div.b-large_form form {
  display: block;
  padding: 25px 45px;
  margin-top: 40px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.b-large_form form fieldset {
  overflow: hidden;
  padding: 10px 0;
  border-top-width: 1px;
  border-top-style: dotted;
}
div.b-large_form form fieldset:first-child {
  border-top: 0;
}
div.b-large_form form fieldset.submit {
  text-align: right;
}
div.b-large_form form fieldset label.key {
  display: block;
  position: relative;
}
div.b-large_form form fieldset label.key span.required {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #5d0000;
  position: absolute;
  top: 0;
  left: -10px;
}
div.b-large_form input,
div.b-large_form textarea {
  width: 370px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 3px;
  border: 0;
  border-botom-width: 1px;
  border-bottom-style: solid;
}
div.b-large_form input {
  height: 25px;
}
div.b-large_form textarea {
  height: 114px;
  padding-top: 3px;
  padding-bottom: 3px;
}
div.b-large_form .btn {
  width: auto;
  display: block;
  background: #ebebeb;
  background: linear-gradient(#ebebeb, #c4c4c4);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#ebebeb), to(#c4c4c4));
  background: -webkit-linear-gradient(#ebebeb, #c4c4c4);
  background: -ms-linear-gradient(#ebebeb, #c4c4c4);
  background: -moz-linear-gradient(#ebebeb, #c4c4c4);
  background: -o-linear-gradient(#ebebeb, #c4c4c4);
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #7c868e;
  color: #333333;
  text-shadow: 0px 1px 0 #eeeeee;
  font-size: 13px;
  line-height: 26px;
  font-family: "RussiaBold";
  font-family: "RussiaRegular";
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 3px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
div.b-large_form .btn:hover {
  color: #a81c1a;
}
body.theme_light div.b-large_form div.success {
  background-image: url('/i/el/dotted_bg-light.png');
  background-repeat: repeat;
  background-position: 0 0;
}
body.theme_dark div.b-large_form div.success {
  background-image: url('/i/el/dotted_bg-dark.png');
  background-repeat: repeat;
  background-position: 0 0;
}
/** * Малые иконки просмотров / фотографий / комментариев / подробнее------------------------------------------------------------------------------ */
/*  → (block about, ) */
body.theme a.btn-more {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 17px;
  overflow: hidden;
}
body.theme a.btn-more:hover {
  text-decoration: underline;
}
body.theme a.right-side {
  display: block;
  position: absolute;
  top: 5px;
  right: -3px;
  padding-left: 7px;
  /*background: inherit;*/
}
body.theme a.right-side::before {
  display: none !important;
}
body.theme a.right-side::after {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: 0px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  float: right;
  margin-left: 5px;
}
body.theme_light a.btn-more {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_light a.btn-more:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -40px;
  float: left;
  margin-right: 5px;
}
body.theme_light a.btn-more:hover:before {
  background-position: 0 -320px;
}
body.theme_light a.right-side {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_light a.right-side:after {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -40px;
  float: right;
  margin-left: 5px;
}
body.theme_light a.right-side:hover:after {
  background-position: 0 -320px;
}
body.theme_light a.btn-more_icon {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 17px;
  height: 17px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -180px;
}
body.theme_light a.btn-more_icon:hover {
  background-position: 0 -460px;
}
body.theme_dark a.btn-more {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_dark a.btn-more:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -180px;
  float: left;
  margin-right: 5px;
}
body.theme_dark a.btn-more:hover:before {
  background-position: 0 -460px;
}
body.theme_dark a.right-side {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_dark a.right-side:after {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -180px;
  float: right;
  margin-left: 5px;
}
body.theme_dark a.right-side:hover:after {
  background-position: 0 -460px;
}
body.theme_dark a.btn-more_icon {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 17px;
  height: 17px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -180px;
}
body.theme_dark a.btn-more_icon:hover {
  background-position: 0 -460px;
}
/* eye */
body.theme span.btn-views,
body.theme span.btn-views_left {
  line-height: 17px;
}
body.theme_light span.btn-views {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_light span.btn-views:after {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  float: right;
  margin-left: 5px;
}
body.theme_light span.btn-views:hover:after {
  background-position: 0 -100px;
}
body.theme_light span.btn-views_left {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_light span.btn-views_left:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  float: left;
  margin-right: 5px;
}
body.theme_light span.btn-views_left:hover:before {
  background-position: 0 -100px;
}
body.theme_dark span.btn-views {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_dark span.btn-views:after {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -240px;
  float: right;
  margin-left: 5px;
}
body.theme_dark span.btn-views:hover:after {
  background-position: 0 -240px;
}
body.theme_dark span.btn-views_left {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_dark span.btn-views_left:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -240px;
  float: left;
  margin-right: 5px;
}
body.theme_dark span.btn-views_left:hover:before {
  background-position: 0 -240px;
}
div.b-box-shadow {
  -webkit-box-shadow: 0 5px 12px #666666;
  -moz-box-shadow: 0 5px 12px #666666;
  box-shadow: 0 5px 12px #666666;
}
/** * Сердца------------------------------------------------------------------------------ */
body.theme_light a.btn-heart {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 17px;
  height: 17px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -120px;
}
body.theme_light a.btn-heart:hover {
  background-position: 0 -400px;
}
body.theme_dark a.btn-heart {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 17px;
  height: 17px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -260px;
}
body.theme_dark a.btn-heart:hover {
  background-position: 0 -540px;
}
/** * Фотоаппарат------------------------------------------------------------------------------ */
body.theme_light a.btn-photo {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_light a.btn-photo:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -80px;
  float: left;
  margin-right: 5px;
}
body.theme_light a.btn-photo:hover:before {
  background-position: 0 -360px;
}
body.theme_dark a.btn-photo {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_dark a.btn-photo:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -220px;
  float: left;
  margin-right: 5px;
}
body.theme_dark a.btn-photo:hover:before {
  background-position: 0 -500px;
}
/** * Малые иконки стрелок------------------------------------------------------------------------------ */
body.theme_light .btn-arrow_left {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
body.theme_light .btn-arrow_right {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -19px;
}
body.theme_light .btn-arrow_top {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -38px;
}
body.theme_light .btn-arrow_bottom {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -57px;
}
body.theme_dark .btn-arrow_left {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -76px;
}
body.theme_dark .btn-arrow_right {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -95px;
}
body.theme_dark .btn-arrow_top {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -114px;
}
body.theme_dark .btn-arrow_bottom {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url("/i/el/arrows-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -133px;
}
/** * Малые иконки плюсиков------------------------------------------------------------------------------ */
body.theme_light a.btn-plus {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_light a.btn-plus:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  float: left;
  margin-right: 5px;
}
body.theme_light a.btn-plus:hover:before {
  background-position: 0 -280px;
}
body.theme_dark a.btn-plus {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_dark a.btn-plus:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -140px;
  float: left;
  margin-right: 5px;
}
body.theme_dark a.btn-plus:hover:before {
  background-position: 0 -420px;
}
/** * Малые иконки минусов------------------------------------------------------------------------------ */
body.theme_light a.btn-minus {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body.theme_light a.btn-minus:before {
  width: 17px;
  height: 17px;
  display: block;
  content: '';
  margin-top: -2px;
  background-image: url(/i/el/icons_small-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -18px;
  float: left;
  margin-right: 5px;
}
body.theme_light a.btn-minus:hover:before {
  background-position: 0 -298px;
}
/** * Декоратор для тайтла фотографий------------------------------------------------------------------------------ */
#fancybox-title #fancybox-title-over p.title {
  margin-bottom: 5px;
}
#fancybox-title #fancybox-title-over a.get {
  display: block;
  height: 11px;
  background: transparent url("/i/el/icons_small-sprite.png") 0 -483px no-repeat;
  padding-left: 22px;
  line-height: 11px;
  color: #dcdcdc;
  text-decoration: underline;
}
#fancybox-title #fancybox-title-over a.get:hover {
  text-decoration: none;
  background-position: 0 -203px;
}
#video-adv {
  width: 240px;
  height: 180px;
  background: #000;
}
#video-adv iframe {
  width: 240px;
  height: 180px;
  background: #000;
}
/** *   Аудиоблок ------------------------------------------------*/
.b-audio-list {
  width: 435px;
  background: none;
  color: #333;
}
.b-audio-list .audio-item {
  padding: 16px 11px 9px 50px;
  background: url(/i/brand/audio-player-dark.png) 11px 9px no-repeat;
  position: relative;
  overflow: hidden;
  min-height: 22px;
  cursor: pointer;
}
.b-audio-list .audio-item h5 {
  float: left;
  width: 340px;
  overflow: hidden;
  font: normal 14px Arial, sans-serif;
  text-transform: none;
  color: #333;
}
.b-audio-list .audio-item:hover {
  background-color: rgba(0, 0, 0, 0.050000000000000044);
}
.b-audio-list .audio-item:hover #audio_player .ap_progress_bar,
.b-audio-list .audio-item:hover #audio_player .ap_progress_ind_inner {
  height: 9px;
}
.b-audio-list .audio-item:hover #audio_player .ap_progress_bar {
  bottom: 0px;
}
.b-audio-list .audio-item-current {
  background-image: none !important;
  min-height: 32px;
}
.b-audio-list .audio-item-time {
  float: right;
  font: normal 11px Arial, sans-serif;
  padding-top: 3px;
}
#audio_player {
  position: absolute;
  width: 413px;
  height: 9px;
  bottom: 6px;
  left: 11px;
  z-index: 10000;
}
#audio_player .ap_play_pause {
  position: absolute;
  width: 33px;
  height: 32px;
  top: -33px;
  left: 0px;
  cursor: pointer;
  background: url(/i/brand/audio-player-dark.png) 0 0 no-repeat;
}
#audio_player .pause {
  background-position: 0 -76px;
}
#audio_player .ap_progress_bar {
  position: absolute;
  bottom: 4px;
  left: 0px;
  width: 413px;
  height: 2px;
  background: rgba(0, 0, 0, 0.15000000000000002);
  cursor: pointer;
}
#audio_player .ap_progress_bar .ap_progress_ind_inner {
  width: 0%;
  height: 2px;
  position: relative;
  background-color: #333;
}
/* Переопределяем для темной темы  */
body.theme_dark .b-audio-list {
  color: #fff;
}
body.theme_dark .b-audio-list .audio-item,
body.theme_dark .b-audio-list #audio_player .ap_play_pause {
  background-image: url(/i/brand/audio-player.png);
}
body.theme_dark .b-audio-list .audio-item h5,
body.theme_dark .b-audio-list #audio_player .ap_play_pause h5 {
  color: #fff;
}
body.theme_dark .b-audio-list #audio_player .ap_progress_bar {
  background: rgba(255, 255, 255, 0.15000000000000002);
}
body.theme_dark .b-audio-list #audio_player .ap_progress_bar .ap_progress_ind_inner {
  background-color: #fff;
}
body.theme_dark .b-audio-list .audio-item:hover {
  background-color: rgba(255, 255, 255, 0.050000000000000044);
}
