@charset "UTF-8";
/**
 * Срочные правки. Комментирование обязательно
 *
 * @author      Viacheslav Glushko aka iXax <mail@ixax.ru>
 * @version     1.0.201202.07.1
 * @link        http://ixax.ru/projects/html-css-framework/
----------------------------------------------------------------------------- */


#fancybox-social{
    position: absolute;
    width: 121px;
    height: 16px;
    position: absolute;
    bottom:9px;
    right: 0;
    z-index: 9999;
}

#fancybox-social ul li{
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 3px;
}

#fancybox-social ul li a{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
}

#fancybox-social ul li a#fs-facebook{
    background: url(/i/fancy_sprite.jpg) left top no-repeat;
}

#fancybox-social ul li a#fs-facebook:hover{
    background: url(/i/fancy_hover_sprite.jpg) left top no-repeat;
}

#fancybox-social ul li a#fs-twitter{
    background: url(/i/fancy_sprite.jpg) -19px top no-repeat;
}

#fancybox-social ul li a#fs-twitter:hover{
    background: url(/i/fancy_hover_sprite.jpg) -19px top no-repeat;
}

#fancybox-social ul li a#fs-vk{
    background: url(/i/fancy_sprite.jpg) -38px top no-repeat;
}

#fancybox-social ul li a#fs-vk:hover{
    background: url(/i/fancy_hover_sprite.jpg) -38px top no-repeat;
}

#fancybox-social ul li a#fs-google{
    background: url(/i/fancy_sprite.jpg) -57px top no-repeat;
}

#fancybox-social ul li a#fs-google:hover{
    background: url(/i/fancy_hover_sprite.jpg) -57px top no-repeat;
}

#fancybox-social ul li a#fs-odnoklassniki{
    background: url(/i/fancy_sprite.jpg) -76px top no-repeat;
}

#fancybox-social ul li a#fs-odnoklassniki:hover{
    background: url(/i/fancy_hover_sprite.jpg) -76px top no-repeat;
}

#fancybox-social ul li a#fs-livejournal{
    background: url(/i/fancy_sprite.jpg) -95px top no-repeat;
}

#fancybox-social ul li a#fs-livejournal:hover{
    background: url(/i/fancy_hover_sprite.jpg) -95px top no-repeat;
}

/*
#main div.content{
 position: relative;
}

div.content h4{
 display: block;
 float: left;
 width: 500px !important;
} */

div#video-disq-btn{
width: 133px;
height: 32px;
padding: 9px 11px;
background: url(../i/el/lined_bg-light.png) left top repeat;
float: right;
position: absolute;
top: 29px;
right: -155px;
}

div#video-disq-btn a{
 display: block;
 width: 133px;
 height: 32px;
 background: url(../i/el/disq-btn.png) left top no-repeat;
}

#page_video_show div.content h4 span.title {
    max-width: 500px;
    
}

div.clear {
    clear: both; 
    height: 1px;
}


#fancybox-download-img{
    position: absolute;
    width: 400px;
    height: 16px;
    position: absolute;
    bottom:7px;
    left: 10px;
    z-index: 9999;
}
#fancybox-download-img a.get {
    background: url("/i/el/fancybox-img-download.jpg") left top no-repeat;
    color: #5d5d5d;
    display: block;
    height: 11px;
    line-height: 11px;
    padding-left: 17px;
    text-decoration: none;
    font-size: 11px;
}

a.get:link{
 text-decoration: none;
 color: #5d5d5d;
}

a.get:visited{
    text-decoration: none;
    color: #5d5d5d;
}

a.get:hover{
    text-decoration: none;
    color: #5d5d5d;
}

a.get:active{
    text-decoration: none;
    color: #5d5d5d;
}

#fancybox-overlay{
 opacity: 0.86 !important;
}

#tvp_day ul.data .label_46 {
background-color: #d4effc !important;
}

.btn-photo-report{
 border-top: 1px solid #8D3333;
 border-bottom: 1px solid #8D3333;
 padding-bottom: 5px;
 padding-left: 9px;
 margin-bottom: 23px;
 margin-top: 53px;

}

.btn-photo-report a{
  font-size: 11px;
  line-height: 13px;
  text-decoration: none !important;
  margin: 0;
  margin-top: 5px;
}


#page_person_show li a.pic{
 padding: 7px !important;
 margin-left: 10px;
}

#page_person_show div.brand_person_item div.info{
 margin-left: 179px !important;
}

#page_person_show div.brand_person_item div.media{
 margin-left: 32px;
}

.theme_light .btn-photo-report{
    border-top: 1px solid #B3B4B5 !important;
    border-bottom: 1px solid #B3B4B5 !important;
}

#life_air_btn{
 display: block;
 width: 120px;
 height: 22px;
 float: right;
 margin-right: 257px;
 background: url(/i/el/life_air_btn.png?v=2) left top no-repeat;
 font: normal 13px 'Arial';
 text-align: center;
 text-decoration: none;
 color: #fff;
 padding-top: 6px;
}

#life_air_btn_new{
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 270px;
    background: url(/i/el/onair-ico.png) left top no-repeat;
    font-family: Arial !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-decoration: none;
    color: #bdbdbd;
    text-shadow: 0 1px 0 #000;
    padding-top: 11px;
    padding-left: 47px;
    margin-top: -6px;
}
/**
 * Бабл на кнопку "Прямой эфир"
----------------------------------------------------------------------------- */
#channel_hover {
    text-shadow: none !important;
    width: 190px;
    padding: 20px;
    top: 43px;
    left: 2px;
    background: url(/i/hint_bg.png);
    position: absolute;
    display: none;
    z-index: 200;
    box-shadow: 1px 1px 20px #ccc;
}
#channel_hover:after {width: 8px; height: 8px; content: ''; display: block; position: absolute; background: url(/i/icons.png) 0 -68px no-repeat; top: -8px; left: 10px;}
#channel_hover h3 {
    font: normal 14px Arial, sans-serif !important;
    padding-top: 10px;
}
#channel_hover h4 {font: normal 11px Arial, sans-serif; color: #666; }
#channel_hover .anons {font: normal 12px Arial, sans-serif; color: #000; padding: 0 0 10px 0;}
#channel_hover .time {font-size: 12px; padding-left: 30px; background: url(/i/icons.png) 0px -35px no-repeat; padding-bottom: 2px; display: block;}






/* дописывание типа гостя в теме */
#forum div.forum_body div.topic_head div.info div.user p.name {
    line-height: 20px;
}

#forum div.forum_body div.topic_head div.info div.user p.name span.status {
    font-size: 11px;
}

/* увеличение отступа от количества просмотров на странице видео */
ul.video-items-pic li.item div.info span.btn-views {
    margin-left: 6px;
}

.b-news_item-source_logo11{
 background: url('../i/sharik-sprite.png') left top no-repeat;
}


/*Телепрограмма*/
.b-abc-fixed-height{
 height: 32px !important;
 padding-top: 7px !important;
 border-bottom: 1px solid #c5c5c5;
 border-top: 0 !important;
}

.b-abc-fixed-height ul.items{
 padding: 0 !important;
 border-bottom: 0 !important;
}

.b-abc-fixed-height ul.items li{
 position: relative;
 height: 25px !important;
 width: 30px;
}

.b-abc-fixed-height ul.items li.first{
 width: 130px;
 background: url('/i/tvp/top-arr-left.png') left 9px no-repeat;
 padding-left: 6px;
 margin-left: 8px !important;
}

.b-abc-fixed-height ul.items li.last{
    width: 140px;
    background: url('/i/tvp/top-arr-right.png') right 9px no-repeat;
    padding-right: 6px;
    margin-left: 8px !important;
}

.b-abc-fixed-height ul.items li a.active{
 position: absolute;
 z-index: 15 !important;
}

#page_tvp_index div.b-abc_styled div.b-like_small{
margin-top: -7px !important;
}


#tvp_day div.body div.selected_day{
 border-top: 1px solid #fff !important;
}

.map-grad{
 margin-top: 11px;
 background: url('/i/tvp/tvp-region-background.png') left bottom repeat-x;
}

.tvp-main{
 padding-top:0 !important;
 border-top: 1px solid #fff !important;
}

div.body-rel{
 position: relative;
}

div.side-shadow-holder{
 position: absolute;
 display: block;
 top: 0;
 left: -12px;
 right: -12px;
 width: auto;
 height: 100%;
 background: url('/i/tvp/tvp-side-shadow.png') center center no-repeat;
 z-index: 5;
}

.body-rel .selected_day{
 z-index: 10;
}

.body-rel div.viewport{
 z-index: 10;
}

/*.tvp-main .b-news-slider{
 background: url('/i/tvp/tvp-slider-bg.gif') left 52px repeat-x;
}*/

.tvp-main .b-news-slider h2{
 padding-right: 0 !important;
}

.tvp-main .b-news-slider h2:after{
 content: '';
 background: #ccc;
 display: block;
 float: right;
 margin-top: 12px;
 max-width: 1000px;
}

#DIV_DA_297{
    margin-top: 40px;
    /*margin-bottom: 10px;*/
}

#smallBannerAdFox{
    z-index: 5555;
}

.russia1_ny2013{
    background-image: url("/i/russia1_ny2013.jpg?ver=ng");
    background-position: center top;
    background-repeat: no-repeat;

}

div.required-info {
    float: left;
    margin-top: 8px;
}

#body_text table {
    margin: 10px 0;
}

#body_text table tr td {
    padding: 4px;
    border: 1px solid #999999;
}


div.page-brand-article-item div.pics {
    margin-bottom: 0px;
}

div.page-brand-article-item div.inner_content {
    padding-top: 30px;
}

body.theme .theme_text .artist-links a, div.page-brand-article-item div.inner_content .artist-links a  {
    text-decoration: none;
}

.artist-links img {
    width: 134px;
}

.b-video_narrow a.pic {
    overflow: hidden;
}


.b-video_narrow a.pic img {
    height: 357px;
    width: 628px !important;
    margin-left: -76px;

}






