/**
 * Телепрограмма малая для Russia2
 *
 * @author      Viacheslav Glushko aka iXax <mail@ixax.ru>
 * @version     1.0.201205.28.1
 * @since       1.0.201205.13.1
 * @link        http://ixax.ru/portfolio/company/vgtrk/
----------------------------------------------------------------------------- */
/** * Конфигурация------------------------------------------------------------------------------ *//** * Устанавливаем кодировку------------------------------------------------------------------------------ */@charset "UTF-8";
/** * Подключаем внешние mixins------------------------------------------------------------------------------ *//** * Main mixins * * 1.0.201202.11.1 *    .size -> .box-size * * @author      Viacheslav Glushko aka iXax <flutter@ixax.ru> * @version     1.0.201202.11.1 * @since		1.0.201202.01.1 * @link        http://ixax.ru/projects/less-stuff/----------------------------------------------------------------------------- *//** * Устанавливаем размер блока----------------------------------------------------------------------------- *//** * font-size/line-height----------------------------------------------------------------------------- *//** * Абсолютное позиционирование----------------------------------------------------------------------------- *//** * Multi-browser horizontal menu----------------------------------------------------------------------------- *//** * Vertical centered (необходимо задавать высоту элемента)----------------------------------------------------------------------------- *//** * DISPLAY: <block>, <inline-block>, <none>----------------------------------------------------------------------------- *//** * POSITION----------------------------------------------------------------------------- *//**
 * CSS3 mixins
 * 
 * History:
 * 		1.0.201202.01.1
 * 			Старт проекта
 * 		1.0.201202.09.1
 * 			Добавлена частичная поддержка CSS3Pie (http://css3pie.com): .gradient добавляем -pie- свойство;
 *
 * @author      Viacheslav Glushko aka iXax <flutter@ixax.ru>
 * @version     1.0.201204.11.1
 * @since		1.0.201202.01.1
 * @link        http://ixax.ru/projects/less-stuff/
----------------------------------------------------------------------------- */
/* PRIVATE background-clip */
/**
 * GRADIENTS
----------------------------------------------------------------------------- */
/**
 * border-radius
----------------------------------------------------------------------------- */
/**
 * box-shadow
----------------------------------------------------------------------------- */
/*

.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}



.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}

.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
*/
/** * Подключаем mixins/variables проекта------------------------------------------------------------------------------ *//**
 * Переменные проекта
 *
 * @author      Viacheslav Glushko aka iXax <mail@ixax.ru>
 * @version     1.0.201205.12.1
 * @since     	1.0.201202.01.1
 * @link        http://ixax.ru/portfolio/company/vgtrk/
----------------------------------------------------------------------------- */
/**
 * Box sizes
----------------------------------------------------------------------------- */
/**
 * Цвета текста
----------------------------------------------------------------------------- */
/* Цвет фона у активных элементов */
/**
 * Цвета в градиентных блоках и кнопках
----------------------------------------------------------------------------- */
/* #ddd */
/**
 * Цвета фона и рамок у блоков
----------------------------------------------------------------------------- */
/**
 * Иконки
------------------------------------------------------------------------------ */
/**
 * BODY Theming
----------------------------------------------------------------------------- */
/*@theme-light-bg:    #ededed;*/
/** * Presets mixins *  * * @author      Viacheslav Glushko aka iXax <mail@ixax.ru> * @version     1.0.201205.12.1 * @since     	1.0.201202.01.1 * @link        http://ixax.ru/portfolio/company/vgtrk/----------------------------------------------------------------------------- *//** * Font----------------------------------------------------------------------------- *//** * Градиенты----------------------------------------------------------------------------- *//** * Background  с точечками------------------------------------------------------------------------------ *//** * Background с диагональным полосками------------------------------------------------------------------------------ *//** * Подложка под блоками------------------------------------------------------------------------------ *//** * Вогнутая кнопка с тенюшками------------------------------------------------------------------------------ *//** * Иконка поверх превьюшки видео <a>----------------------------------------------------------------------------- *//** * PICTURE LINK------------------------------------------------------------------------------ *//** * Фотка в персонах и галереях------------------------------------------------------------------------------ *//** * Малые иконки просмотров / фотографий / комментариев / подробнее------------------------------------------------------------------------------ *//** * “Правильный” text-shadow------------------------------------------------------------------------------ *//** * Стиль текста в статьях------------------------------------------------------------------------------ *//** * Close button------------------------------------------------------------------------------ */#tvp_small {
  /* Tvp box */

  /* Общая ширина и высота header */

  /* Левая колонка: дата и тематика */

  /* viewport */

  /* Каждый айтем в телесетке */

  /* Текущее врея */

  /* Органы управления */

  /* footer */

  position: relative;
  background: #ffffff;
  background: linear-gradient(#ffffff, #c9c7c8);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#ffffff), to(#c9c7c8));
  background: -webkit-linear-gradient(#ffffff, #c9c7c8);
  background: -ms-linear-gradient(#ffffff, #c9c7c8);
  background: -moz-linear-gradient(#ffffff, #c9c7c8);
  background: -o-linear-gradient(#ffffff, #c9c7c8);
}
#tvp_small div.wrap {
  position: relative;
  overflow: hidden;
  background-image: url('/i/el/lined_bg-light.png');
  background-repeat: repeat;
  background-position: 0 0;
  padding-bottom: 27px;
  /* Тенюшка */

  /* Левая колонка с текущей датой и жанрами */

  /* Управляющие элементы */

  /* Видимая часть сетки: таймлайн и строки жанров */

  /* Ссылки на другие периоды */

}
#tvp_small div.wrap div.header {
  width: 1020px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
#tvp_small div.wrap div.column {
  width: 191px;
  float: left;
  position: relative;
  vertical-align: top;
  /* Текущая дата. Расположена absolute чтобы сделать правый черный бордер */

  /* Список жанров */

}
#tvp_small div.wrap div.column div.current_date {
  height: 40px;
  padding: 14px 16px;
  background: #4e4f53;
  background: linear-gradient(#4e4f53, #363638);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#4e4f53), to(#363638));
  background: -webkit-linear-gradient(#4e4f53, #363638);
  background: -ms-linear-gradient(#4e4f53, #363638);
  background: -moz-linear-gradient(#4e4f53, #363638);
  background: -o-linear-gradient(#4e4f53, #363638);
  border-top: 1px solid #69696b;
  border-right: 1px solid #6a696e;
  border-bottom: 1px solid #252525;
}
#tvp_small div.wrap div.column div.current_date span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
}
#tvp_small div.wrap div.column div.current_date span.date {
  font-family: "DINCondensedCRegular";
  font-size: 50px;
  line-height: 39px;
  float: left;
}
#tvp_small div.wrap div.column div.current_date span.month {
  font-family: "RussiaRegular";
  margin-left: 55px;
  font-size: 25px;
  line-height: 21px;
}
#tvp_small div.wrap div.column div.current_date span.dow {
  font-family: "RussiaRegular";
  margin-left: 55px;
  font-size: 15px;
  line-height: 20px;
  color: #8f8f92;
}
#tvp_small div.wrap div.column ul.labels {
  border-right: 1px solid #969293;
}
#tvp_small div.wrap div.column ul.labels li.label {
  height: 37px;
}
#tvp_small div.wrap div.column ul.labels li.label a {
  display: block;
}
#tvp_small div.wrap div.column ul.labels li.label a span.name {
  display: block;
  width: 160px;
  height: 35px;
  vertical-align: top;
  float: left;
  padding-left: 20px;
  background: #fbfbfb;
  background: linear-gradient(#fbfbfb, #dcdcdc);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#fbfbfb), to(#dcdcdc));
  background: -webkit-linear-gradient(#fbfbfb, #dcdcdc);
  background: -ms-linear-gradient(#fbfbfb, #dcdcdc);
  background: -moz-linear-gradient(#fbfbfb, #dcdcdc);
  background: -o-linear-gradient(#fbfbfb, #dcdcdc);
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #b1b1b1;
  font: 13px/31px Tahoma;
  text-transform: uppercase;
  color: #323232;
  text-shadow: 0 1px 0 #eee;
}
#tvp_small div.wrap div.column ul.labels li.label a span.figure {
  display: block;
  width: 10px;
  height: 37px;
  vertical-align: top;
  float: left;
  background-image: url('/i/tvp/russia2-small-labels-sprite.png');
  background-repeat: no-repeat;
}
#tvp_small div.wrap div.column ul.labels li.label a:hover span.name {
  background: #47484c;
  background: linear-gradient(#47484c, #363638);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#47484c), to(#363638));
  background: -webkit-linear-gradient(#47484c, #363638);
  background: -ms-linear-gradient(#47484c, #363638);
  background: -moz-linear-gradient(#47484c, #363638);
  background: -o-linear-gradient(#47484c, #363638);
  border-top-color: #47484c;
  border-bottom-color: #363638;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
#tvp_small div.wrap div.column ul.labels li.label a:active span.name {
  background: #47484c;
  background: linear-gradient(#47484c, #363638);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#47484c), to(#363638));
  background: -webkit-linear-gradient(#47484c, #363638);
  background: -ms-linear-gradient(#47484c, #363638);
  background: -moz-linear-gradient(#47484c, #363638);
  background: -o-linear-gradient(#47484c, #363638);
  border-top-color: #111;
  border-bottom-color: #363638;
  box-shadow: inset 0 5px 3px #111;
  color: #fff;
  line-height: 34px;
  text-shadow: 0 1px 0px #000;
}
#tvp_small div.wrap div.column ul.labels li.label a.active span.name {
  background: #47484c;
  background: linear-gradient(#47484c, #363638);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#47484c), to(#363638));
  background: -webkit-linear-gradient(#47484c, #363638);
  background: -ms-linear-gradient(#47484c, #363638);
  background: -moz-linear-gradient(#47484c, #363638);
  background: -o-linear-gradient(#47484c, #363638);
  border-top-color: #47484c;
  border-bottom-color: #363638;
  color: #fff;
  text-shadow: 0 1px 0px #000;
}
#tvp_small div.wrap a.ctrl {
  display: block;
  width: 32px;
  height: 68px;
  position: absolute;
  top: 0;
  z-index: 530;
  background: #4e4f53;
  background: linear-gradient(#4e4f53, #363638);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#4e4f53), to(#363638));
  background: -webkit-linear-gradient(#4e4f53, #363638);
  background: -ms-linear-gradient(#4e4f53, #363638);
  background: -moz-linear-gradient(#4e4f53, #363638);
  background: -o-linear-gradient(#4e4f53, #363638);
  border-width: 1px;
  border-style: solid;
  border-color: #69696b #6f6f71 #252525 #3a3b40;
}
#tvp_small div.wrap a.ctrl span {
  margin: 27px auto 0;
}
#tvp_small div.wrap a.ctrl_prev {
  display: none;
  left: 191px;
}
#tvp_small div.wrap a.ctrl_next {
  right: 0;
}
#tvp_small div.wrap div.viewport {
  width: 829px;
  height: 366px;
  margin-left: 191px;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  /* Верхняя плашка с градиентом */

  /* Строки с программами */

}
#tvp_small div.wrap div.viewport div.gradient {
  height: 69px;
  background: #403f44;
  background: linear-gradient(#403f44, #0e0204);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#403f44), to(#0e0204));
  background: -webkit-linear-gradient(#403f44, #0e0204);
  background: -ms-linear-gradient(#403f44, #0e0204);
  background: -moz-linear-gradient(#403f44, #0e0204);
  background: -o-linear-gradient(#403f44, #0e0204);
  border-top: 1px solid #545358;
}
#tvp_small div.wrap div.viewport span.fade {
  display: none;
  width: 34px;
  height: 297px;
  background-image: url("/i/tvp/russia2-sprite-fade.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 70px;
}
#tvp_small div.wrap div.viewport span.fade_left {
  left: 0;
  background-position: -35px 0;
}
#tvp_small div.wrap div.viewport span.fade_right {
  right: 0;
  background-position: 0 0;
}
#tvp_small div.wrap div.viewport ul.items {
  width: 180000px;
  height: 100%;
  margin-top: -70px;
  margin-left: 33px;
  overflow: hidden;
  /*li.item:first-child {

                    div.timeline {

                        border-left: 1px solid #525157;

                    }

                    div.box {

                        border-left: 1px solid #bfbfbf;

                    }

                }*/

}
#tvp_small div.wrap div.viewport ul.items li.item {
  float: left;
  cursor: pointer;
}
#tvp_small div.wrap div.viewport ul.items li.item div.timeline {
  height: 70px;
  position: relative;
  border-left: 1px solid #525157;
}
#tvp_small div.wrap div.viewport ul.items li.item div.timeline time {
  display: block;
  width: 76px;
  height: 70px;
  margin-left: 17px;
  position: absolute;
  left: 0;
  top: -1px;
}
#tvp_small div.wrap div.viewport ul.items li.item div.timeline time span.digits {
  display: block;
  height: 61px;
  font-size: 30px;
  line-height: 66px;
  font-family: "DINCondensedCRegular";
  color: #fff;
}
#tvp_small div.wrap div.viewport ul.items li.item div.timeline time span.digits sup {
  top: -10px;
  margin-left: 3px;
  font-size: 18px;
}
#tvp_small div.wrap div.viewport ul.items li.item div.timeline time span.line {
  display: none;
  height: 1px;
  background-color: #b20000;
  border-bottom: 1px solid #ce1010;
}
#tvp_small div.wrap div.viewport ul.items li.item div.timeline time span.figure {
  display: none;
  width: 9px;
  height: 5px;
  margin: 0 auto;
  background: transparent url('/i/tvp/small-current_time.png') 0 0 no-repeat;
  margin-top: -1px;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box {
  background: #f8f8f8;
  background: linear-gradient(#f8f8f8, #d0cecf);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#f8f8f8), to(#d0cecf));
  background: -webkit-linear-gradient(#f8f8f8, #d0cecf);
  background: -ms-linear-gradient(#f8f8f8, #d0cecf);
  background: -moz-linear-gradient(#f8f8f8, #d0cecf);
  background: -o-linear-gradient(#f8f8f8, #d0cecf);
  border-left: 1px solid #bfbfbf;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box div.inner-content {
  height: 226px;
  padding: 17px;
  overflow: hidden;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box div.inner-content a.pic {
  width: 112px;
  display: block;
  margin-bottom: 14px;
  padding: 4px;
  border: 1px solid #bfbfbf;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box div.inner-content a.pic img {
  width: 100%;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box div.inner-content a.title {
  display: block;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
  text-shadow: 0 1px 0 #eee;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box div.inner-content a.announce {
  font-size: 12px;
  line-height: 13px;
  text-shadow: 0 1px 0 #eee;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box div.inner-content a.announce.video {
  /*background: transparent url("/i/el/play.png") 0 0 no-repeat;*/

  background: transparent url("/i/el/play-small-new.png") 0 0 no-repeat;
  display: block;
  /*min-height: 16px;*/

  min-height: 24px;
  line-height: inherit;
  /*padding-left: 25px;*/

  padding-left: 33px;
  /*new*/

  padding-top: 4px;
}
#tvp_small div.wrap div.viewport ul.items li.item div.box div.time-range {
  height: -1px;
  padding-left: 40px;
  background: url("/i/el/time.png") 17px 50% no-repeat;
  border-top: 3px solid #2a60af;
  line-height: 33px;
  text-shadow: 0 1px 0 #eee;
}
#tvp_small div.wrap div.viewport ul.items li.item:hover div.box {
  background: #eae9ea;
}
#tvp_small div.wrap div.viewport ul.items li.item_active div.timeline time {
  margin-left: 0;
  background: #ff0000;
  background: linear-gradient(#ff0000, #b20000);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#ff0000), to(#b20000));
  background: -webkit-linear-gradient(#ff0000, #b20000);
  background: -ms-linear-gradient(#ff0000, #b20000);
  background: -moz-linear-gradient(#ff0000, #b20000);
  background: -o-linear-gradient(#ff0000, #b20000);
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}
#tvp_small div.wrap div.viewport ul.items li.item_active div.timeline time span.digits {
  text-align: center;
}
#tvp_small div.wrap div.viewport ul.items li.item_active div.timeline time span.line,
#tvp_small div.wrap div.viewport ul.items li.item_active div.timeline time span.figure {
  display: block;
}
#tvp_small div.wrap div.viewport ul.items li.item_full {
  width: 230px;
}
#tvp_small div.wrap div.viewport ul.items li.item_thin {
  width: 230px;
}
#tvp_small div.wrap div.footer {
  display: block;
  width: 982px;
  height: 16px;
  padding: 4px 20px 6px 18px;
  background: #4d4e53;
  background: linear-gradient(#4d4e53, #39393b);
  background: -webkit-gradient(linear, 0, 0, 0 bottom, from(#4d4e53), to(#39393b));
  background: -webkit-linear-gradient(#4d4e53, #39393b);
  background: -ms-linear-gradient(#4d4e53, #39393b);
  background: -moz-linear-gradient(#4d4e53, #39393b);
  background: -o-linear-gradient(#4d4e53, #39393b);
  border-top: 1px solid #717075;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;
}
#tvp_small div.wrap div.footer a.period {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 11px;
  background: transparent url("/i/el/icons_small-sprite.png") 0 -183px no-repeat;
  margin-top: -5px;
  margin-right: 20px;
  padding-left: 20px;
  line-height: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: #8d8e92;
}
#tvp_small div.wrap div.footer a.period:hover {
  text-decoration: underline;
}
/* Лейблы слева */
#tvp_small div.wrap div.column ul.labels {
  /* Неактивные */

  /* Все */

  /* live, премьера */

  /* худ. фильмы */

  /* наука */

  /* спорт, сериал */

  /* док. фильмы */

  /* путешествия */

  /* передачи */

}
#tvp_small div.wrap div.column ul.labels li.label_ a span.figure {
  background-position: 0 -296px;
}
#tvp_small div.wrap div.column ul.labels li.label_ a:hover span.figure {
  background-position: -11px -296px;
  box-shadow: 0 0 7px #cccccc;
}
#tvp_small div.wrap div.column ul.labels li.label_ a.active span.figure {
  background-position: -11px -296px;
  box-shadow: 0 0 7px #cccccc;
}
#tvp_small div.wrap div.column ul.labels li.label_0 a span.figure,
#tvp_small div.wrap div.column ul.labels li.label_26 a span.figure,
#tvp_small div.wrap div.column ul.labels li.label_29 a span.figure {
  background-position: 0 0;
}
#tvp_small div.wrap div.column ul.labels li.label_0 a:hover span.figure,
#tvp_small div.wrap div.column ul.labels li.label_26 a:hover span.figure,
#tvp_small div.wrap div.column ul.labels li.label_29 a:hover span.figure {
  background-position: -11px 0;
  box-shadow: 0 0 7px #5d56d6;
}
#tvp_small div.wrap div.column ul.labels li.label_0 a.active span.figure,
#tvp_small div.wrap div.column ul.labels li.label_26 a.active span.figure,
#tvp_small div.wrap div.column ul.labels li.label_29 a.active span.figure {
  background-position: -11px 0;
  box-shadow: 0 0 7px #5d56d6;
}
#tvp_small div.wrap div.column ul.labels li.label_49 a span.figure,
#tvp_small div.wrap div.column ul.labels li.label_1 a span.figure {
  background-position: 0 -37px;
}
#tvp_small div.wrap div.column ul.labels li.label_49 a:hover span.figure,
#tvp_small div.wrap div.column ul.labels li.label_1 a:hover span.figure {
  background-position: -11px -37px;
  box-shadow: 0 0 7px #ff0000;
}
#tvp_small div.wrap div.column ul.labels li.label_49 a.active span.figure,
#tvp_small div.wrap div.column ul.labels li.label_1 a.active span.figure {
  background-position: -11px -37px;
  box-shadow: 0 0 7px #ff0000;
}
#tvp_small div.wrap div.column ul.labels li.label_3 a span.figure {
  background-position: 0 -74px;
}
#tvp_small div.wrap div.column ul.labels li.label_3 a:hover span.figure {
  background-position: -11px -74px;
  box-shadow: 0 0 7px #f1cf34;
}
#tvp_small div.wrap div.column ul.labels li.label_3 a.active span.figure {
  background-position: -11px -74px;
  box-shadow: 0 0 7px #f1cf34;
}
#tvp_small div.wrap div.column ul.labels li.label_47 a span.figure {
  background-position: 0 -111px;
}
#tvp_small div.wrap div.column ul.labels li.label_47 a:hover span.figure {
  background-position: -11px -111px;
  box-shadow: 0 0 7px #32e1e1;
}
#tvp_small div.wrap div.column ul.labels li.label_47 a.active span.figure {
  background-position: -11px -111px;
  box-shadow: 0 0 7px #32e1e1;
}
#tvp_small div.wrap div.column ul.labels li.label_46 a span.figure,
#tvp_small div.wrap div.column ul.labels li.label_2 a span.figure {
  background-position: 0 -148px;
}
#tvp_small div.wrap div.column ul.labels li.label_46 a:hover span.figure,
#tvp_small div.wrap div.column ul.labels li.label_2 a:hover span.figure {
  background-position: -11px -148px;
  box-shadow: 0 0 7px #4fccff;
}
#tvp_small div.wrap div.column ul.labels li.label_46 a.active span.figure,
#tvp_small div.wrap div.column ul.labels li.label_2 a.active span.figure {
  background-position: -11px -148px;
  box-shadow: 0 0 7px #4fccff;
}
#tvp_small div.wrap div.column ul.labels li.label_4 a span.figure {
  background-position: 0 -185px;
}
#tvp_small div.wrap div.column ul.labels li.label_4 a:hover span.figure {
  background-position: -11px -185px;
  box-shadow: 0 0 7px #79ff22;
}
#tvp_small div.wrap div.column ul.labels li.label_4 a.active span.figure {
  background-position: -11px -185px;
  box-shadow: 0 0 7px #79ff22;
}
#tvp_small div.wrap div.column ul.labels li.label_48 a span.figure {
  background-position: 0 -222px;
}
#tvp_small div.wrap div.column ul.labels li.label_48 a:hover span.figure {
  background-position: -11px -222px;
  box-shadow: 0 0 7px #9d47ff;
}
#tvp_small div.wrap div.column ul.labels li.label_48 a.active span.figure {
  background-position: -11px -222px;
  box-shadow: 0 0 7px #9d47ff;
}
#tvp_small div.wrap div.column ul.labels li.label_27 a span.figure {
  background-position: 0 -259px;
}
#tvp_small div.wrap div.column ul.labels li.label_27 a:hover span.figure {
  background-position: -11px -259px;
  box-shadow: 0 0 7px #ffa532;
}
#tvp_small div.wrap div.column ul.labels li.label_27 a.active span.figure {
  background-position: -11px -259px;
  box-shadow: 0 0 7px #ffa532;
}
/* Лейблы справа */
#tvp_small div.wrap div.viewport ul.items {
  /* live, премьера */

  /* худ. фильмы */

  /* наука */

  /* спорт, сериал */

  /* док. фильмы */

  /* путешествия */

  /* передачи */

}
#tvp_small div.wrap div.viewport ul.items li.label_49 div.box div.time-range,
#tvp_small div.wrap div.viewport ul.items li.label_1 div.box div.time-range {
  border-top-color: #c40000 !important;
}
#tvp_small div.wrap div.viewport ul.items li.label_3 div.box div.time-range {
  border-top-color: #ebbc35 !important;
}
#tvp_small div.wrap div.viewport ul.items li.label_47 div.box div.time-range {
  border-top-color: #528383 !important;
}
#tvp_small div.wrap div.viewport ul.items li.label_46 div.box div.time-range,
#tvp_small div.wrap div.viewport ul.items li.label_2 div.box div.time-range {
  border-top-color: #0d7eba !important;
}
#tvp_small div.wrap div.viewport ul.items li.label_4 div.box div.time-range {
  border-top-color: #61b251 !important;
}
#tvp_small div.wrap div.viewport ul.items li.label_48 div.box div.time-range {
  border-top-color: #6e34af !important;
}
#tvp_small div.wrap div.viewport ul.items li.label_27 div.box div.time-range {
  border-top-color: #db8635 !important;
}
/* отличия для России-1 */
body.site_russia1 #tvp_small div.wrap {
  padding-bottom: 0;
}
