/* Advertisement text above ads */
.topadtxt {
  display: table;
  white-space: nowrap;
  width: 98%;
  max-width: 170px;
  color: #777;
  margin: 3px auto 3px auto;
  font-family: sans-serif;
  font-size: 13px;
}
.topadtxt:before,
.topadtxt:after {
  border-top: 1px solid #D4D4D4;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.65em;
  width: 45%;
}
.topadtxt:before {right: 1%;}
.topadtxt:after {left: 1%;}
/* Advertisement text above ads END */
