.cpxadvert-ad {
  overflow:hidden;
  margin-top:10px;
  margin-bottom:10px;
  clear:both;
}

.cpxadvert-debug {
  text-align:center;
  font-size:large;
  background-color:yellow;
  padding-top:20px;
  padding-bottom:20px;
  width:100%;
}