.alt1, .alt1Active
{
	background: #FFFDF8 url(../../img/forum-row.gif) repeat-x;
}
.alt2, .alt2Active
{
	background: #FFF7FF url(../../img/forum-row2.gif) repeat-x;
}
.wysiwyg
{
	background: #FFFDF8 url(../../img/forum-row.gif) repeat-x;
}
.panel
{
	background: #FFFDF8 url(../../img/forum-row.gif) repeat-x;
}
.vbmenu_option
{
	background: #FFFDF8 url(../../img/forum-row.gif) repeat-x;
}
.vip_content {
  border:1px solid #FFFFF2;
  width:190px;
  float:right;
  margin:0px 0px 0px 0px;
  height:100%;
}

.vip_legacy {
  width:auto;
  margin:0px 200px 0px 0px;
  min-height:100%;
  _height:100%
}


.vipcss {background: #F7FCFD; border: #EBEBEB 1px solid}
.vipcss2 {border: #EFEFEF 1px dotted;}


.hedgoogle
{
                TEXT-ALIGN: center;
                margin: 0px;padding: 2px; 
		border-bottom: 1px dotted #D4D4D4;
		border-right: 1px dotted #D4D4D4;
		border-left: 1px dotted #D4D4D4;
		border-top: 0px dotted #D4D4D4;
    	        background-color: #F4F4F4;
}

.box1234   { border: #cccccc 1px solid; }
.box124    { border-top: #cccccc 1px solid;  border-right: #cccccc 1px solid;  border-left: #cccccc 1px solid; }

.popupTop
{
left:-50px;
top:-150px;
position:relative;
z-index: 2;
}
p{
padding:0px;
margin:0px;
}


.main2 {
width: 850px;
height:600px;
overflow: hidden;
}


.bac1   {  border: #cccccc 1px solid;  background-color: #F9F9F9; padding: 0px; }
.bac1:hover   {  border: #EA73B5 1px solid;  background-color: #FFEEFF; padding: 0px; }

.bac2   {  border: #83AADA 1px solid;  background-color: #DDECFE; padding: 0px; }
.bac2:hover   {  border: #5389CC 1px solid;  background-color: #BBD9FD; padding: 0px; }

.related-posts-li{
    border: 1px solid #F4D7E6;
    background: #fff;
    text-align: right;
}

.related-posts-li h3{
    margin: 10px 20px;
    font-size: 18px;
    border-bottom: 2px solid #F4D7E6;
    padding-bottom: 10px;
}

.related-posts-li ul{
    list-style: none;
    padding: 10px 30px;
    margin: 0px 0px;
}

.related-posts-li ul li{
font-size: 17px;
    padding-right: 20px;
    background: url('https://cdn2.iconfinder.com/data/icons/ledicons/accept.png') right no-repeat;
}