html

{

scrollbar-arrow-color: #FEF8FC;

scrollbar-3dlight-color: #ADADAD;

scrollbar-highlight-color: #FEF8FC;

scrollbar-face-color: #ADADAD;

scrollbar-shadow-color: #FEF8FC;

scrollbar-darkshadow-color: #ADADAD;

scrollbar-track-color: #FEF8FC;

}



.group1{

visibility: hidden;

}



.bac2

{



        background-color: #FFF9FC;



}

/* ***** H1  H2  ***** */

#tags {

text-align: center;

font-family: Arial, Tahoma, Verdana;

}



#tags h1 {

font-size: 19px; 

color: black;

font-weight: bold;

 display:inline;

}



#tags h2 {

font-size: 17px; 

color: black;

font-weight: bold;

 display:inline;

 padding: 5px 0px 5px 0px;

}



#tags h3 {

font-size: 15px; 

color: black;

font-weight: bold;

 display:inline;

}





.main1 {

height:630px;

text-align: center;



}

.main2 {

width: 850px;

height:600px;

overflow: hidden;

}



.ccc {

	COLOR: #000000;

}

H1 {

	FONT-SIZE: 11px;

	FONT-FAMILY: Tahoma;

	PADDING: 0px; 

	MARGIN: 0px;

	 display:inline;

}



.box1      { border-top: #cccccc 1px solid; background-color: #ffffff; }

.box12     { border-top: #cccccc 1px solid;  border-right: #cccccc 1px solid; background-color: #ffffff; }

.box123    { border-top: #cccccc 1px solid;  border-right: #cccccc 1px solid;  border-bottom: #cccccc 1px solid; background-color: #ffffff; }

.box134    { border-top: #cccccc 1px solid;  border-left: #cccccc 1px solid;  border-bottom: #cccccc 1px solid; background-color: #ffffff; }

.box1234   { border: #cccccc 1px solid; background-color: #ffffff; }



.box124    { border-top: #cccccc 1px solid;  border-right: #cccccc 1px solid;  border-left: #cccccc 1px solid; background-color: #ffffff; }

.box234    { border-right: #cccccc 1px solid;  border-bottom: #cccccc 1px solid;  border-left: #cccccc 1px solid; background-color: #ffffff; }

.box24     { border-right: #cccccc 1px solid;  border-left: #cccccc 1px solid; background-color: #ffffff; }

.box3      { border-bottom: #cccccc 1px solid; background-color: #ffffff; }



.box3dot   { border-bottom: #cccccc 1px dotted; }

.box13dot   { border-bottom: #cccccc 1px dotted; border-top: #cccccc 1px dotted; }

.box1234dot   { border: #cccccc 1px dotted; background-color: #ffffff;  }



.fffbox1      { border-top: #cccccc 1px solid; background-color: #ffffff; }

.fffbox12     { border-top: #cccccc 1px solid;  border-right: #cccccc 1px solid; background-color: #ffffff; }

.fffbox123    { border-top: #cccccc 1px solid;  border-right: #cccccc 1px solid;  border-bottom: #cccccc 1px solid; background-color: #ffffff; }

.fffbox134    { border-top: #cccccc 1px solid;  border-left: #cccccc 1px solid;  border-bottom: #cccccc 1px solid; background-color: #ffffff; }

.fffbox1234   { border: #cccccc 1px solid; background-color: #ffffff; }



.fffbox124    { border-top: #cccccc 1px solid;  border-right: #cccccc 1px solid;  border-left: #cccccc 1px solid; background-color: #ffffff; }

.fffbox234    { border-right: #cccccc 1px solid;  border-bottom: #cccccc 1px solid;  border-left: #cccccc 1px solid; background-color: #ffffff; }

.fffbox24     { border-right: #cccccc 1px solid;  border-left: #cccccc 1px solid; background-color: #ffffff; }

.fffbox2dot   { border-left: #cccccc 1px dotted; }

.fffbox3      { border-bottom: #cccccc 1px solid; background-color: #ffffff; }

.fffbox3dot   { border-bottom: #cccccc 1px dotted; }



.box

{

        margin: 0px;padding: 2px; 

        border: 1px dotted #cccccc;

        background-color: #FFFFF2;

        font:normal 11px Tahoma;

}



.boxred

{

        margin: 0px;padding: 2px; 

        border: 1px solid #FF0000;

        background-color: #FFFFCE;

        font:normal 11px Tahoma;

}



.alt1x { font:normal 11.5px Tahoma; background-color: #FFFFFF; COLOR: #B13373; }

.alt2x { font:normal 11.5px Tahoma; background-color: #FFF4FF; COLOR: #B13373;}

.alt3x { font:normal 11.5px Tahoma; background-color: #FFF4FF; width: 250px; overflow: hidden;  COLOR: #B13373;}



.hed {

    padding:0px 30px 0px 30px

}





.logo

{

	background: url(logo_q8yat.jpg) repeat-x top left;

}



td { font:normal 11px Tahoma }



.tdd { font:normal 11px Tahoma }





.line {height: 22px; padding: 0px 0px 0px 0px;right: auto;left: auto;margin-top: 0px;margin-bottom: 2px;color: #FFFFFF;



        border-top: 1px solid #E3CBF4;

        border-bottom: 1px solid #E3CBF4;

        background: url(line.gif) repeat-x top left;;

}





##########################

form {

	margin: 0px;

}



label {

	cursor: default;

}



.normal {

	font-weight: normal;

}



.inlineimg {

	vertical-align: middle;

}



.underline {

	text-decoration: underline;

}



.vbmenu_hilite * {

	cursor: pointer;

}



/* Auto-clearing of floats */

.floatcontainer:after, .block_row:after {

	content: ".";

	display: block;

	height: 0;

	clear: both;

	visibility: hidden;

}

.floatcontainer, .block_row {

	display: inline-block;

}

/* IE-Mac hide \*/

* html .floatcontainer, * html .block_row {

	height: 1%;

}

.floatcontainer, .block_row {

	display: block;

}

body

{

	background: #FFFFFF;

	color: #434343;

	font: bold 12pt arial;

	margin: 0px 0px 0px 0px;

	padding: 0px;

}

a:link, body_alink

{

	color: #AA0F5C;

	text-decoration: none;

}

a:visited, body_avisited

{

	color: #AA0F5C;

	text-decoration: none;

}

a:hover, a:active, body_ahover

{

	color: #E10071;

	text-decoration: underline;

}

.page

{

	background: #FFFFFF;

	color: #000000;

}

.tborder

{

	background: #F4D7E6;

	color: #FFFFFF;

}

.tcat

{

	background: #AED256 url(11.jpg) repeat-x top left;

	color: #48610E;

	font: bold 11px tahoma;

	height: 22px;

}

.tcat a:link, .tcat_alink

{

	color: #618312;

	text-decoration: none;

}

.tcat a:visited, .tcat_avisited

{

	color: #618312;

	text-decoration: none;

}

.tcat a:hover, .tcat a:active, .tcat_ahover

{

	color: #42590D;

	text-decoration: underline;

}

.thead

{

	background: #D45395 url(2222.jpg) repeat-x top left;

	color: #ffffff;

	font: bold 11px tahoma;

}

.thead a:link, .thead_alink

{

	color: #FFFFFF;

}

.thead a:visited, .thead_avisited

{

	color: #FFFFFF;

}

.thead a:hover, .thead a:active, .thead_ahover

{

	color: #E0E0E0;

}

.tfoot

{

	background: #AED256 url(2222.jpg) repeat-x top left;

	color: #FFE595;

	font: bold 8pt tahoma;

}

.tfoot a:link, .tfoot_alink

{

	color: #FFFFFF;

}

.tfoot a:visited, .tfoot_avisited

{

	color: #FFFFFF;

}

.tfoot a:hover, .tfoot a:active, .tfoot_ahover

{

	color: #EFF8FA;

}

.alt1, .alt1Active

{


	color: #000000;

	font: bold 14pt arial;

}

.alt2, .alt2Active

{


	color: #000000;

	font: bold 12pt arial;

	border-top: 0px solid #F4F9FE;

	border-left: 0px solid #F4F9FE;

}

.inlinemod

{

	background: #CCE7EB;

	color: #138698;

}

.inlinemod a:link, .inlinemod_alink

{

	color: #000000;

}

.inlinemod a:visited, .inlinemod_avisited

{

	color: #000000;

}

.inlinemod a:hover, .inlinemod a:active, .inlinemod_ahover

{

	color: #CCCCCC;

}

.wysiwyg

{

	background: #FFFFFF;

	color: #000000;

	font: bold 12pt arial;

}

textarea, .bginput

{

	background: #F9F9F9;

	font: bold 11px tahoma;

}



.bginput option, .bginput optgroup

{

	font-size: 11px;

	font-family: tahoma;

}

.button

{

	font: bold 8pt tahoma;

}

select

{

	background: #F9F9F9;

	font: bold 11px tahoma;

}

option, optgroup

{

	font-size: 11px;

	font-family: tahoma;

}

.smallfont

{

	color: #000000;

	font: 11px tahoma;

}



.subforums a

{

	color: #FF0080;

    font: bold 14px Arial, Helvetica, sans-serif;

	margin: 0px;

}

.time

{

	color: #FF0000;

}

.navbar

{

	font: bold 11px tahoma;

}

.highlight

{

	color: #FF0000;

	font-weight: bold;

}

.fjsel

{

	background: #F4F4F4;

	color: #707070;

}

.fjdpth0

{

	background: #F9F9F9;
	color: #CC0033;
	font-weight: bold;

}

.fjdpth1

{

	background: #F9F9F9;

	color: #000000;

}


.fjdpth2

{

	background: #F9F9F9;

	color: #666666;

}

.fjdpth3

{

	background: #F9F9F9;

	color: #006666;

}

.panel

{

	background: #F9FEFF;

	color: #000000;

	padding: 0px;

	border: 0px outset;

}

.panelsurround

{

	background: #F9FEFF;

	color: #000000;

}

legend

{

	color: #F2812E;

	font: bold 11px tahoma;

}

.vbmenu_control

{

	background: #AED256 url(2222.jpg) repeat-x top left;

	color: #FFE595;

	font: bold 8pt tahoma;

	padding: 3px 6px 3px 6px;

	white-space: nowrap;

}

.vbmenu_control a:link, .vbmenu_control_alink

{

	color: #FFFFFF;

	text-decoration: none;

}

.vbmenu_control a:visited, .vbmenu_control_avisited

{

	color: #FFFFFF;

	text-decoration: none;

}

.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover

{

	color: #EFF8FA;

	text-decoration: underline;

}

.vbmenu_popup

{

	background: #F8F8F8;

	color: #000000;

	border: 1px solid #CECECE;

}

.vbmenu_option

{



	background: #FFFFFF;

	color: #000000;

	font: 11px tahoma;

	white-space: nowrap;

	cursor: pointer;

}

.vbmenu_option a:link, .vbmenu_option_alink

{

	color: #0B7181;

	text-decoration: none;

}

.vbmenu_option a:visited, .vbmenu_option_avisited

{

	color: #0B7181;

	text-decoration: none;

}

.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover

{

	color: #b13373;

	text-decoration: none;

}

.vbmenu_hilite

{

	background: #FEFDF3;

	color: #000000;

	font: 11px tahoma;

	white-space: nowrap;

	cursor: pointer;

}

.vbmenu_hilite a:link, .vbmenu_hilite_alink

{

	color: #0B7181;

	text-decoration: none;

}

.vbmenu_hilite a:visited, .vbmenu_hilite_avisited

{

	color: #0B7181;

	text-decoration: none;

}

.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover

{

	color: #1BBDD5;

	text-decoration: none;

}

/* ***** styling for 'big' usernames on postbit etc. ***** */

.bigusername { font-size: 12pt; }



/* ***** small padding on 'thead' elements ***** */

td.thead, th.thead, div.thead { padding: 4px; }



/* ***** basic styles for multi-page nav elements */

.pagenav a { text-decoration: none; }

.pagenav td { padding: 2px 4px 2px 4px; }



/* ***** de-emphasized text */

.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }

a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }

.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }



/* ***** define margin and font-size for elements inside panels ***** */

.fieldsetatt {

	border: 1px solid #FAE5B8;

	margin-bottom: 6px;

	background-color: #FFF7E5;

        -moz-border-radius: 10px 10px 10px 10px;

        border-radius: 10px 10px 10px 10px;

}



.fieldset_attached_thumbnails {

	border: 1px solid #C4F6AE;

	margin-bottom: 6px;

	background-color: #F5FFF1;

        -moz-border-radius: 10px 10px 10px 10px;

        border-radius: 10px 10px 10px 10px;

}



.fieldseattached_images {

	border: 1px solid #CEEEBB;

	margin-bottom: 6px;

	background-color: #F6FFF0;

        -moz-border-radius: 10px 10px 10px 10px;

        border-radius: 10px 10px 10px 10px;

}

.fieldset {

	border: 1px solid #D5D5D5;

	margin-bottom: 6px;

	background-color: #FFFFFF;

        -moz-border-radius: 10px 10px 10px 10px;

        border-radius: 10px 10px 10px 10px;

	margin-top: 0px;

}

.fieldset, .fieldset td, .fieldset p, .fieldset li { font: normal 8pt tahoma; }

.fieldsetatt ,.fieldseattached_images , .fieldsetatt td, .fieldsetatt p, .fieldsetatt li { font: normal 8pt tahoma; }

/* ***** info usar by saeed al-atwi */



.infopostup {

	font-family: "tahoma";

	font-size: 11px;

	vertical-align: middle;

	letter-spacing: 0;

	border-width: 0px 3px 2px 0px;

	margin: 1px 1px 3px 1px;

	padding: 2px;

	border-right-color: #1CA6BA;

	border-right-style: solid;

	border-bottom-style: dotted;

	border-bottom-color: #CCCCCC;

	background-color: #FFFFFF;

        -moz-border-radius: 5px 5px 5px 5px;

        border-radius: 5px 5px 5px 5px;

}

.info {

	font-family: "tahoma";

	font-size: 11px;

	vertical-align: middle;

	letter-spacing: 0;

	border-width: 0px 3px 2px 0px;

	margin: 1px 1px 3px 1px;

	padding: 2px;

	border-right-color: #1CA6BA;

	border-right-style: solid;

	border-bottom-style: dotted;

	border-bottom-color: #CCCCCC;

	background-color: #F9FEFF;

        -moz-border-radius: 5px 5px 5px 5px;

        border-radius: 5px 5px 5px 5px;

}





.info_red {

	padding: 2px 4px 2px 4px;

	border: 1px solid #FCBDBD;

	font-family: "tahoma";

	font-size: 11px;

	vertical-align: middle;

	letter-spacing: 0;

	color: #FF2525;

	background-color: #FEF0F0;

        -moz-border-radius: 10px 10px 10px 10px;

        border-radius: 10px 10px 10px 10px;

}



.last_edited {

	padding: 8px 8px 2px 4px;

	border: 1px solid #EEB092;

	font-family: "tahoma";

	font-size: 11px;

	vertical-align: middle;

	letter-spacing: 0;

	color: #E27D33;

	background-color: #FCF3E9;

	-moz-border-radius: 10px 10px 10px 10px;

	border-radius: 10px 10px 10px 10px;

	height: 25px;

}





.tr_avatar {

	margin: 2px;

	padding: 2px 2px 10px 2px;

	background-color: #F9FEFF;

	border-right-width: 3px;

	border-bottom-width: 2px;

	border-right-style: solid;

	border-right-color: #1CA6BA;

	border-bottom-color: #CCCCCC;

	border-bottom-style: dotted;

	border-top-style: dotted;

	border-top-width: 2px;

	border-top-color: #CCCCCC;

	-moz-border-radius: 0px 10px 10px 0px;

	border-radius: 0px 10px 10px 0px;

}







.tr_avatar_info {

	background-image: url('tome.png');

	background-repeat: no-repeat;

	background-position: -1px top;

	width: 185px;

	padding-left: 15px;

}

.nav_post {

	border: 1px solid #B1DEE6;

	background-color: #D6EFF4;

	padding: 4px;

	font-family: tahoma;

	font-size: 11px;

	color: #333333;

	-moz-border-radius: 10px 10px 10px 10px;

	border-radius: 10px 10px 10px 10px;

	margin-top: 4px;

	margin-bottom: 4px;

}



.nav_postuptool {

	border: 1px solid #D4D4D4;

	background-color: #F3F3F3;

	padding: 4px;

	font-family: tahoma;

	font-size: 11px;

	color: #333333;

	-moz-border-radius: 10px 10px 10px 10px;

	border-radius: 10px 10px 10px 10px;

	margin-top: 4px;

	margin-bottom: 4px;

}

.nav_postuptoolbody {

	background-color: #F3F3F3;

	font-family: tahoma;

	font-size: 11px;

	color: #333333;

}







.postup {

	border: 1px solid #DCEDF0;

	background-color: #FFFFFF;

        -moz-border-radius: 15px 15px 15px 15px;

        border-radius: 15px 15px 15px 15px ;

}

.inlinemod {font-style: italic;color: #FF6600;}



.trto {

	width: 175px;

	padding-left: 20px;

	background-image: url('tome.png');

	background-repeat: no-repeat;

	background-position: 0px top;

}



.tr_posd_d {

	margin: 0px;

	padding: 5px;

	background-color: #F9FEFF;

	border: 1px solid #CDCDCD;

	font-family: tahoma;

	font-size: 11px;

        -moz-border-radius: 10px 10px 10px 10px;

        border-radius: 10px 10px 10px 10px;

	width: 70%;

	height: 30px;

	float: right;

}

.tr_until2 {

	margin: 0px;

	border: 1px solid #1CA6BA;

	padding: 5px;

	float: left;

	background-color: #F3FBFC;

        -moz-border-radius: 10px 10px 10px 10px;

        border-radius: 10px 10px 10px 10px;

	height: 30px;

	font-family: tahoma;

	font-size: 11px;

	text-align: center;

	width: 25%;

}

.webpage {margin-right: auto;margin: 0px;width: auto;margin-top: 0px;}

.header {height: 180px;width: 100%;padding: 0px 0px 0px 0px;right: auto;left: auto;margin-top: 0px;margin-bottom: 0px; background: url(bac_q8yat.jpg) repeat-x top left; }

.navbar_up {height: 20px;width: 100%;padding: 0px 0px 0px 0px;right: auto;left: auto;margin-top: 0px;margin-bottom: 0px;color: #FFFFFF;



        border-top: 1px solid #E3CBF4;

        border-bottom: 1px solid #E3CBF4;

        background: url(line2.jpg) repeat-x top left;;

}







.navbar_up2 {height: 20px;width: 100%;padding: 0px 0px 0px 0px;right: auto;left: auto;margin-top: 0px;margin-bottom: 2px;

        background: url(line.jpg) repeat-x top left;

		background-color: #FCF7FF;

}







.navbar_upxx {font-family: tahoma;font-size: 11px;margin: 2px auto 50px auto;width: 99%;height: 20px;background-color: #B13373;color: #FFFFFF;padding-top: 1px;padding-bottom: 2px;padding-right: 2px;float: right;}





#topmenu {list-style: none;font-family: tahoma;font-size: 11px;margin: 0px 10px 0px 0px;}

#topmenu li {display: inline;background-image: url('normal_navbar_mark.png');background-repeat: no-repeat;background-position: 100% 84%;padding-left: 5px;padding-right: 7px;text-align: right;float: right;margin: 2px 10px 0px 0px;}

#topmenu a {color: #AA0F5C;}

#topmenu a:hover {color: #0F5BAA;}



.fot {color: #ffffff; text-align: right;float: right;}

.fot a {color: #ffffff;}

.fot a:hover {color: #FFCCFF;}

.fot a:visited  {color: #ffffff;}



.fotx {height: 20px;width: 100%;padding: 0px 0px 0px 0px;right: auto;left: auto;margin-top: 0px;margin-bottom: 0px;color: #FFFFFF;

        border-top: 1px solid #6F6F6F;

        border-bottom: 1px solid #6F6F6F;

        background: url(line-fot.jpg) repeat-x top left;;

}



.login {margin: 0px 0px 0px 10px; padding: 10px 0px 0px 0px;width: 310px;float: left;font-family: tahoma;font-size: 11px;}





.login_bac {margin: 0px 0px 10px 20px; padding: 3px 10px 0px 10px;width: 306px;float: left;background-image: url('login.png');background-repeat: no-repeat;height: 67px;font-family: tahoma;font-size: 11px;}





.l_traidntnet {float: right;overflow: hidden;width: 377px;height: 180px;margin-top: 0px;}

.information {height: 20px;font-family: tahoma;font-size: 9px;color: #999999;text-align: center;}

.business_traidnt_com {height: 120px;font-family: tahoma;font-size: 11px;color: #009BD7;margin-top: 2px;width: 240px;float: right;margin-right: 5px;border-right-style: dotted;border-right-width: 2px;border-right-color: #1FA9BD;padding-right: 10px;padding-top: 0px;}

/* topsupport */

#topsupport{padding-top: 5px;padding-bottom: 5px;margin: 5px auto 5px auto;}

#topsupport ul{border-width: 2px;border-color: #FF9933;padding: 0px 0px 0px 0px;list-style: none;margin: 0px 0px 0px 0px;width: 240px;text-align: right;height: 50px;border-top-style: dotted;}

#topsupport li{background-position: 100% 100%;float: right;margin: 0;display: inline;background-image: url('ico-go.gif');background-repeat: no-repeat;text-align: right;padding-right: 18px;width: 100px;}

#topcontact{margin-top: 2px;margin-bottom: 2px;padding-top: 2px;padding-bottom: 2px;}

#topcontact{width: 100%;clear: right;text-align: right;}

#topcontact ul{padding: 0px 0px 0px 0px;list-style: none;margin: 0px 0px 0px 0px;width: 245px;text-align: right;height: 20px;}

#topcontact li{background-position: 100% 100%;float: right;margin: 0;display: inline;background-image: url('ico-mail.gif');	background-repeat: no-repeat;text-align: right;padding-right: 10px;width: 80px;}

#topcontact .contact_mobile{margin: 0px;padding: 0 12px 0 0px;background-position: -1px;background: url('ico-phone.gif') no-repeat 0 50%;height: 20px;text-align: right;width: 120px;line-height: 25px;}

#topcontact .technical_support{margin: 0px;background-position: 4px;background: url('ico-sup.gif') no-repeat 0 4px;padding: 0 0 0 20px;height: 20px;line-height: 25px;text-align: left;width: 90px;}

.business_services {font-family: Arial, Helvetica, sans-serif;font-size: 16px;font-weight: bold;color: #EC7722;text-align: right;}

.webpage_end_footer {border-width: 2px;border-color: #F2812E;margin-right: auto;margin-left: auto;width: 96%;margin-top: 0px;background-image: url('background2.png');background-repeat: repeat-x;background-color: #1CA6BA;height: 80px;border-top-style: solid;padding-top: 20px;}

#webpage_end_footer a {color: #FFFFFF;font-family: tahoma;font-size: 11px;}

#webpage_end_footer a:hover {color: #E9FAFC;font-family: tahoma;font-size: 11px;}

.d3aa {

	text-align: center;

	margin: 0px 0px 0px 0px;

	padding: 2px;

	height: 40px;

	float: left;

	width: 98%;

}



.d3aa2 {

	text-align: center;

	margin: 0px 0px 0px 0px;

	padding: 2px;

	height: 40px;

	float: left;

	width: 98%;

}

/* ***** styling for 'big' usernames on postbit etc. ***** */

.bigusername { font-size: 14pt; }



/* ***** small padding on 'thead' elements ***** */

td.thead, th.thead, div.thead { padding: 4px; }



/* ***** basic styles for multi-page nav elements */

.pagenav a { text-decoration: none; }

.pagenav td { padding: 2px 4px 2px 4px; }



/* ***** de-emphasized text */

.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }

a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }

.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }



/* ***** define margin and font-size for elements inside panels ***** */

.fieldset { margin-bottom: 6px; }

.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 12px; }



/* Postbit_Userinfo

****************************************************/

.infouser {

 font: normal 11px Tahoma;

 color: #808080;

 background-color: #ffffff;

 letter-spacing: 0px;

 vertical-align: middle;

 padding: 1px;

 margin: 1px;

 border: 1px dotted #cccccc;

  width: 150px;

  height: 14px;

  overflow: hidden;

}



.postbit_wsam {

 font: bold normal 11px Tahoma;

 color: #000000;

 background-color: #ffffff;

 vertical-align: middle;

 padding: 2px;

 margin: 0px;

 border: 1px dotted #cccccc;

 width: 150px;

 height: 150px;

 overflow: hidden;

}



.avataruser img {

 background-color: #ffffff;

 margin: 0px;

 padding: 0px;

 border: 1px dotted #cccccc;

 width: 150px;

 height: 150px;

 overflow: hidden;

}



.usertitle {

 background-color: #ffffff;

 font:normal 11px Tahoma;

 color: #808080;

 margin: 0px;

 padding: 0px;

 border: 1px dotted #cccccc;

 width: 150px;

 height: 22px;

 overflow: hidden;

}





/* Default Avatar */

.avatard a {

 background: #ffffff url(logo-avatard2.jpg) no-repeat center center;

 display: block;

 margin: 0px auto 0;

 padding: 0px;

 width: 149px;

 height: 100px;

 overflow: hidden;

 background-color: #ffffff;

 border:1px dotted #cccccc;

}

/* End - Postbit_Userinfo

****************************************************/  