/* main nav */

#mainHeaderContent,
.mainHeaderTopNavContainer {
	width: 960px;
}

#mainSubNav > div > div {
	margin-left: 0;
}

#mainTopHeaderLinks {
	margin-right: 10px;
}

#mainTopHeaderLinks  {
  font-size:12px;
}

#mainTopHeaderLinks a {
  text-decoration: none;
}

.mainHeaderTopNavContainer ul > li.navItemMegaMenu {
	margin: 0;
	border: 0;
}

.dropdownInnerItem > ul {
	width: auto;
}

.mainHeaderTopNavContainer > ul {
	padding: 0;
	text-align: left;
}

.navItemMegaMenuDecoration {
	overflow: visible;
}

.mainHeaderTopNavContainer .dropdownInnerItem > ul > li {
  border-left: 1px solid #ccc;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 15px;
  padding-left: 20px;
  width: auto;
  min-width: 0;
  position: relative;
  min-height: 250px;
}

.mainHeaderTopNavContainer li:first-child .dropdownInnerItem > ul > li {
  width: 290px;
	height: 275px;
}

.banner_btn {
	position: absolute;
	*bottom: 0;
	*bottom: 20px;
	*left: 40px;
}

.mainHeaderTopNavContainer .dropdownInnerItem > ul > li:first-child .banner_btn {
	left: 20px;
}

.mainHeaderTopNavContainer .dropdownInnerItem > ul > li:first-child {
  border-left: 0;
  border-right: 0;
  margin-left: 0;
  padding-left: 0;
}

.mainHeaderTopNavContainer ul > li.topNavItem {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-left: 18px;
  margin-right: 0;
  position: relative;
  float: none;
  height: auto;
  line-height: 15px;
  padding: 0;
  text-align: left;
}

.activeItem {
	background: none;
	box-shadow: none;
	padding: 0 !important;
}

.mainHeaderTopNavContainer ul > li:first-child {
	margin-left: 0;
}

.mainHeaderTopNavContainer ul > li.navItemMegaMenu {
	position: relative;
	z-index: 201;
}

.mainHeaderTopNavContainer > ul > li > a {
	border: 0;
	color: #626566;
	display: block;
	font-family: "MuseoSans-700", Helvetica Neue, Arial, sans-serif;
	font-size: 13px;
	padding: 12px 10px;
  font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	height: auto;
  transition: none;
}
.mainHeaderTopNavContainer > ul > li > a:hover {
  color: #078e65;
}

/* quick nav */

#mainSubNav {
  background: #676767;
  filter: none;
  box-shadow: none;
}

#mainSocialBottom,
#mainSubNav {
	height: 37px;
}

#mainSubNav ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-right: 0;
  border-left: 1px solid #fff;
  margin: 0;
}

#mainSubNav ul li a {
	color: #fff;
  font-family: "MuseoSans-700", Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
	display: block;
  height: 37px;
  line-height: 37px;
	font-size: 13px;
	font-weight: 400;
	text-shadow: none;
  padding: 0 20px;
	border-right: 0;
	background-image: none;
}

#mainSubNav ul li:first-child a {
  border-left: 0;
}

#mainSubNav ul li a,
#mainSubNav ul li a:hover,
#mainSubNav ul li a:active,
#mainSubNav ul li a:focus,
#mainSubNav ul li.active a {
	text-decoration: none;
}

#mainSubNav ul li a:hover,
#mainSubNav ul li a:active,
#mainSubNav ul li a:focus,
#mainSubNav ul li.active a {
	color: #444;
	background-color: #fff;
}

#mainSubNav ul li.active,
#mainSubNav ul li:hover {
	background: none;
}

#mainSubNav ul li.active a,
#mainSubNav ul li:hover a {
	text-shadow: none;
}

#mainSubNav ul li a.active-menu-item {
  background-color: #fff;
  color: #444;
}

#mainSubNav > .container_12 > .grid_10 {
	width: auto;
}

/* subnav dropdown */

.mainHeaderTopNavContainer {
  color: #393a3a;
  font: 13px/1.4 "MuseoSans-500",Helvetica Neue,Arial,sans-serif;
  text-decoration: none;
  text-rendering: optimizelegibility;
}

.navItemMegaMenu:hover> a {
  border: 1px solid #ccc;
  background-color: #fff;
  border-bottom: 0;
  margin-left: -1px;
  margin-top: -1px;
  margin-right: -1px;
  position: relative;
  z-index: 201;
  transition: none;
  *zoom: 1;
}

.mainHeaderTopNavContainer > ul > li> .sub-nav-wrapper {
  position: absolute;
  z-index: 200;
  left: -9999px;
  top: 38px;
  width: 960px;
  border: 1px solid #ccc;
  margin-bottom:30px;
  *padding-bottom: 30px;
  background-color:#fff;
  -webkit-box-shadow: 0 8px 6px -6px #333;
     -moz-box-shadow: 0 8px 6px -6px #333;
          box-shadow: 0 8px 6px -6px #333;
}

.mainHeaderTopNavContainer > ul > li.navItemMegaMenu:hover> .sub-nav-wrapper {
  left: -1px;
}

.mainHeaderTopNavContainer > ul > li .sub-nav {
  margin: 0;
  padding-bottom:10px;
  padding: 0;
  list-style: none;
}

.mainHeaderTopNavContainer > ul > li .sub-nav-column {
  float: left;
  width: 290px;
  height: 400px;
  border-left: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom:20px;
  margin-left: 14px;
  padding-left: 20px;
  *padding-bottom: 20px;
}

.mainHeaderTopNavContainer > ul> li .sub-nav-column:first-child {
  border-left: 0;
  margin-left: 0;
}

.sub-nav-column-title,
.sub-nav-column-title a {
  color: #666;
  font: 13px/1.4 "MuseoSans-500",Helvetica Neue,Arial,sans-serif;
}

.sub-nav-column .sub-nav-column-title a:hover,
.sub-nav-column .sub-nav-column-title a:active,
.sub-nav-column .sub-nav-column-title a:focus {
  color: #006d5c;
}

.sub-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sub-nav > li {
  line-height: 20px;
  width: auto;
}

.b2b-arrow-ico {
  color: #ccc;
  margin-right: 5px;
  font-size: 9px;
}

.sub-nav-column li a {
  color: #189176!important;
  text-decoration: none;
	font: 12px/1.4 "MuseoSans-500",Helvetica Neue,Arial,sans-serif;
}

.sub-nav-column a {
  text-decoration: none;
  font: 14px/20px "MuseoSans-500",Helvetica Neue,Arial,sans-serif;
}

.sub-nav-column a:hover,
.sub-nav-column a:focus {
  color: #005580;
  text-decoration: underline;
}

.sub-nav-column {
  color: #ccc;
  margin: 20px 0;
  width: 90%;
}

.sub-nav-column hr {
	color: #ccc !important;
	margin: 20px 0 !important;
	width: 90% !important;
	border-color: #eee;
}

.mainHeaderTopNavContainer > ul .menudesc {
  color: #666;
  font-size: 12px;
  font-family: "MuseoSans-500", Helvetica Neue, Arial, sans-serif;
  margin: 0 0 2px 15px !important;
}

.mainHeaderTopNavContainer h4,
.mainHeaderTopNavContainer h4 a {
  color: #666;
  font-size: 15px;
  line-height: 21px;
  font-weight: normal;
	margin-bottom: 10px;
	margin-top: 10px;
}

#countriesToggle span, #mainTopCountries #countriesToggle b {
  font-size:11px;
  text-align: left;
}
.grid_1,
.grid_10,
.grid_11,
.grid_12,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px
}
.container_12{margin-left:auto;margin-right:auto;width:960px}
.container_12 .grid_1 {
    width: 60px
}
.container_12 .grid_2 {
    width: 140px
}
.container_12 .grid_3 {
    width: 220px
}
.container_12 .grid_4 {
    width: 300px
}
.container_12 .grid_5 {
    width: 380px
}
.container_12 .grid_6 {
    width: 460px
}
.container_12 .grid_7 {
    width: 540px
}
.container_12 .grid_8 {
    width: 620px
}
.container_12 .grid_9 {
    width: 700px
}
.container_12 .grid_10,
.container_12 .grid_11 {
    width: 860px
}
.container_12 .grid_12 {
    width: 940px
}
.container_12 .prefix_1 {
    padding-left: 80px
}
.container_12 .prefix_2 {
    padding-left: 160px
}
.container_12 .prefix_3 {
    padding-left: 240px
}
.container_12 .prefix_4 {
    padding-left: 320px
}
.container_12 .prefix_5 {
    padding-left: 400px
}
.container_12 .prefix_6 {
    padding-left: 480px
}
.container_12 .prefix_7 {
    padding-left: 560px
}
.container_12 .prefix_8 {
    padding-left: 640px
}
.container_12 .prefix_9 {
    padding-left: 720px
}
.container_12 .prefix_10 {
    padding-left: 800px
}
.container_12 .prefix_11 {
    padding-left: 880px
}
.container_12 .suffix_1 {
    padding-right: 80px
}
.container_12 .suffix_2 {
    padding-right: 160px
}
.container_12 .suffix_3 {
    padding-right: 240px
}
.container_12 .suffix_4 {
    padding-right: 320px
}
.container_12 .suffix_5 {
    padding-right: 400px
}
.container_12 .suffix_6 {
    padding-right: 480px
}
.container_12 .suffix_7 {
    padding-right: 560px
}
.container_12 .suffix_8 {
    padding-right: 640px
}
.container_12 .suffix_9 {
    padding-right: 720px
}
.container_12 .suffix_10 {
    padding-right: 800px
}
.container_12 .suffix_11 {
    padding-right: 880px
}
.container_12 .push_1 {
    left: 80px
}
.container_12 .push_2 {
    left: 160px
}
.container_12 .push_3 {
    left: 240px
}
.container_12 .push_4 {
    left: 320px
}
.container_12 .push_5 {
    left: 400px
}
.container_12 .push_6 {
    left: 480px
}
.container_12 .push_7 {
    left: 560px
}
.container_12 .push_8 {
    left: 640px
}
.container_12 .push_9 {
    left: 720px
}
.container_12 .push_10 {
    left: 800px
}
.container_12 .push_11 {
    left: 880px
}
.container_12 .pull_1 {
    left: -80px
}
.container_12 .pull_2 {
    left: -160px
}
.container_12 .pull_3 {
    left: -240px
}
.container_12 .pull_4 {
    left: -320px
}
.container_12 .pull_5 {
    left: -400px
}
.container_12 .pull_6 {
    left: -480px
}
.container_12 .pull_7 {
    left: -560px
}
.container_12 .pull_8 {
    left: -640px
}
.container_12 .pull_9 {
    left: -720px
}
.container_12 .pull_10 {
    left: -800px
}
.container_12 .pull_11 {
    left: -880px
}
