@media screen {
	.newsrelease img {
		margin-right: 15px;
		border: 0;
	}

	.newsrelease .c {
		text-align: center;
	}

	.newsrelease .small {
		font-size: 95%;
	}

	a.rbutton {
		font: 13px/100% Arial, Helvetica, sans-serif
	}

	a.lbutton {
		font: 13px/100% Arial, Helvetica, sans-serif
	}

	#compare .heading .boxes .box p.pr-line {
		font: 12px/100% Arial, Helvetica, sans-serif
	}



 

	.rim .image {
		width: auto;
		padding: 20px 0 20px 20px
	}

	.rim .text {
		padding: 0 0 0 0
	}

	.lim .image {
		width: auto;
		padding: 20px 20px 20px 20px;
		margin: 0 0 0 0;
	}

	.lim .text {
		padding: 0 0 0 20px
	}

	.lim ul li {
		background: none;
		list-style-image: url('../img/markers.gif');
		padding: 0 0 0 0;
	}

	h1.lrc { color: #005447; }
	h2.lrc {
		font-weight: bold;
		font-size: 20px;
	}

	/* --- OE Pages --- */
	.subscribe {
		padding: 5px 0px
	}

	.emailinput {
		font-wight: bold;
		padding: 3px 3px;
		background-color: #dedede;
	}

	.subscribe .submit {
		padding: 3px 20px;
		background-color: #dedede;
		text-align: right;
	}

	.highlight {
		text-decoration: none;
	}

	.highlight:hover {
		text-decoration: underline;
		color: #006D55;
	}

	.panel .ui {
		width: auto
	}

	.text th,
	.compare .prices big,
	.graph,
	.sections li big,
	.prices big,
	.prices small,
	.product big,
	.cart big,
	h2.lrc,
	.banners {
		font-family: 'arial narrow', Arial, sans-serif;
	}

	.trybox img {
		margin: 0 auto;
	}

	.trybox .greybox {
		background: none;
		border: none;
	}

	/* vacancies */
	.vac h3 {
		font: bold 110% Tahoma, Verdana, sans-serif;
		color: #002822;
		margin-top: 1.1em;
		margin-bottom: 0.6em;
	}

	.vac h4 {
		color: #005447;
		font: bold 100% Tahoma, Verdana, sans-serif;
		margin-bottom: 0.6em;
		margin-top: 1.1em;
	}

	.vac ul {
		margin: 0.4em 0 0.4em 24px;
		padding: 0;
		list-style-type: circle;
	}

	.vac li {
		display: list-item;
		list-style-type: disc;
	}

	.card h5 a {
		font-family: "arial narrow";
	}

	.card h5 em {
		font-family: "arial narrow";
	}

	.card h5 span {
		font-family: "arial narrow";
		
	}

	.box-ru .img_ru {
		float: right;
	}

	#page .text .addthis {
		position: relative;
		float: right;
		right: 0;
		top: 0;	
		margin-left: 2px;
	}
	
	.pager{ text-align: right; color: #999; margin: 0 0 50px; }
	.pager a { text-decoration: underline; color: #006D55; }
	.pager a:hover { text-decoration: underline; color: #CC0000; }

	.mixed-boxes-ru{ margin: 0 0 20px; padding: 0 !important; background:transparent !important; }
	.mixed-boxes .box-ru{ width: 696px; display: inline; float: left; margin: 0 0 20px 0; border: solid 2px #f7f7f6; background: #f7f7f6; padding: 20px 0 0 10px;}

	.card .txt_ru{ padding: 12px 0 20px 20px; float: left; width: 480px; }
	.card .txt_ru h5 { color: #006D55; }
	.card .img_ru{ padding: 10px 20px 12px 0; float: right; overflow: hidden; }
	.card .img_ru img{ float: right; }
	.card .notes_ru{ clear: both; padding: 12px 20px 20px 20px; }

	.news h4 { margin: 0 0 2px; }
	.news .news-date-ora {color: #E96E01; }
	.news .news-cat {}
	.news .news-cat a { color: #999; font: 11px tahoma; text-decoration: underline; }
	.news .news-cat a:hover { color: #999; font: 11px tahoma; text-decoration: none;  }
	.news .newslist-title { color: #005447; font-size: 12px; font-weight: bold; font-family:arial, helvetica, sans-serif;}
	.news .newslist-title a { text-decoration: underline; color: #005447; }
	.news .newslist-title a:hover { text-decoration: underline; color: #CC0000; }
	.news .newslist-text {}

	.downloads a.button { position: relative; top: 2px; color:white; }
	.downloads a.button:hover, .downloads a.button:visited { color:white; }
	.downloads a.button:active { color:#DDDDDD; }

	.name_for_partner > .fp { text-align:center; }	

}

.box .txt .buybutton img
{ vertical-align: top; }
