﻿/*mainPromoHome*/
#mainPromoHome {
    height:430px;
    background: #e3e3e3;
    overflow: hidden;
}
#mainPromoHome .banner_slider {
    padding:0;
    display:block;
    width:1180px;
    margin:auto;
    height: 430px;
    overflow: hidden;
}
#mainPromoHome .banner_item{
    display:block;
    width: 1180px;
    height:430px;
    position: relative;
    float: left;
}
#mainPromoHome .banner_cnt{
    display:block;
    margin: auto;
    width: 940px;
    position: relative;
    margin-top: -430px;
}
#mainPromoHome .page-btn {
    position: absolute;
    top:15px;
    right:0;
    z-index: 2;
    height: 18px;
}
#mainPromoHome .page-btn .dot {
    float: left;
    width: 18px;
    height: 18px;
    background-color: #d5d5d5;
    border-radius: 9px;
    margin: 0 4px;
    cursor: pointer;
    position: relative;
    opacity: .8;
    top:0px;
}
#mainPromoHome .page-btn .dot:hover{
    background-color: #9fa4a6;
}
#mainPromoHome .page-btn .dot.selected {
    background-color: #ec3f3e !important;
    overflow: hidden;
    cursor: default;
    opacity: 1;
}
#mainPromoHome .page-btn .dot .preview {
    display: none;
    position:absolute;
    width: 252px;
    height:87px;
    padding-top:28px;
    padding-left:20px;
    background: url('http://www.kaspersky.com/resources/img/homepage_sprite.png') no-repeat 4px -563px;        
}
#mainPromoHome .page-btn .dot:hover .preview {
    display: block;
    top:18px;
    left:-218px;
}
#mainPromoHome .preview p, #mainPromoHome .preview img {
    float:left;
}
#mainPromoHome .preview img {
    width: 70px;
    height: 70px;
}
#mainPromoHome .preview p {
    color:#006a52;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    width: 145px;
    line-height: 16px;
    margin: 11px 0 0 12px
}  
#mainPromoHome .left_btn, #mainPromoHome .right_btn {
    position: absolute;
    width: 30px;
    height:75px;
    display: block;
    z-index: 2;
    top:168px;
    cursor: pointer;
    background: url('http://www.kaspersky.com/resources/img/homepage_sprite.png') 0 0 no-repeat; 
}
#mainPromoHome .left_btn {
    left:-110px;
    background-position:  0 -404px;    
}
#mainPromoHome .left_btn:hover {
    background-position: 0 -479px;  
}
#mainPromoHome .right_btn {
    background-position:  -30px -404px;
    right:-110px;
}
#mainPromoHome .right_btn:hover {
    background-position: -30px -479px;  
}
#mainPromoHome .bannerContent {
    height: 230px;
    padding-top:40px;
}
#mainPromoHome h3 {
    background: #007360;
    color: #FFF;
    font-family: Arial,Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 44px;
    padding: 1px 7px;
    text-indent: 2px;
    margin-left: 5px;
    text-transform: uppercase;
    display: inline;
}
#mainPromoHome h3 > span {
    background: url('http://www.kaspersky.com/resources/img/homepage_sprite.png') 0 -697px no-repeat;
    display: block;
    float: left;
    height: 41px;
    width: 31px;
}
#mainPromoHome .bannerContentSubHeading {
    color: #262626;
    font-size: 16px;
    margin-top: 8px;
    line-height: 20px;
    color: #666;
}
#mainPromoHome .bannerContentSubHeading.white {
    color: #fff;
}
#mainPromoHome .bannerContentBottomBox {
    height:97px;
    border-top:3px solid #006a52;
    padding: 20px;
    background: rgb(255,255,255);
    background: rgba(255, 255, 255, 0.8);
}
#mainPromoHome .bannerContentBottomBox p {
    font-size: 13px;
    margin-top:6px;
    height: 32px;
    overflow: hidden;
}
#mainPromoHome .banner_item h4{
    margin-bottom:0px;
    margin-top:0px;
    font-weight: normal;
    font-size: 17px;
    text-transform: uppercase;
    color:#333333;
    line-height: 14px;
}
#mainPromoHome .banner_item h4 a {
    color:#333;
}
#mainPromoHome .cta {
    top: -80px;
    left: 120px;
    width: 221px;
    height: 43px;
    display: block;
    position: absolute;
}

#mainPromoHome .promoOverlay {
    background: rgb(0,0,0);
    background: rgba(0, 0, 0, 0.5);
    height: 300px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 64px;
    padding-top: 131px;
    display: none;
    width: 100%;
    position: absolute;
}

#mainPromoHome a.mapLink{
    display:block;
    width:980px;
    height:430px;
    margin:auto;   
}

/*mainContent*/
#mainContent {
    max-height:423px;
}
#mainContent h2{
    font-weight:normal;
    font-size:18px;
    border-bottom: 3px solid #c6cacc;
    padding-bottom:15px;
}
#mainContent ul{
    list-style-type:none;
    padding:0;
    margin:0;
    min-height: 332px;
}
#mainContent ul li{
    width:300px;
    border-top: 1px solid #e0e0e0;
    padding-bottom:9px;
}

#mainContent ul li:first-child {
    border-top:0;
}    
#mainContent .prodBoxSmall {
    max-height: 80px;
    max-width: 60px;
    margin-right: 15px;
}
#mainContent .mainProdList li:first-child .prodInfo {
    width: 225px;
/*    margin-left: 15px;*/
}
#mainContent .mainProdList .prodTitle {
    font: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #006a52;
    line-height: 16px;
    text-decoration: none;
    max-height: 32px;
    overflow: hidden;
    display: block
}
#mainContent .mainProdList li:first-child .prodTitle {
    max-height: 41px;
    font-size: 16px;
    line-height: 18px
}
#mainContent .mainProdList li:first-child .prodDescription {
    max-height: 30px;
}
#mainContent .mainProdList .prodDescription {
    margin: 2px 0;
    max-height: 15px;
    overflow: hidden;
}

#mainContent .mainProdList > li {
    overflow: hidden
}
#mainContent .mainProdList > li:first-child {
    height: 82px;
}
#mainContent .mainProdList > li {
    height: 58px;
    padding-top: 13px;
}
.label {
    color:#7ebd2a;
    margin-left: 5px;
}
#mainContent .bazaarVoice {
    font: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #959a9c;
    font-weight: bold;
    line-height: 18px
}
#mainContent .bazaarVoice span {
    background: url('http://www.kaspersky.com/resources/img/ratings.png');
    height: 17px;
    width:66px;   
    display: block;
    float: left;
    margin-right: 4px;
}
#mainContent h2 {
    margin:0
}
#mainContent h2 a {
    text-decoration: none; 
    color:#333;
    height:25px; 
    padding-left:30px
}

#mainContent h2 a:hover,
#mainContent .viewMore a:hover {
    color: #006a52;
}
#mainContent .viewMore a, #mainContent .viewMore {
    background:#edf1f2; 
    font-size: 13px;
    color: #535353; 
    display: block;
    line-height: 33px;
    text-decoration: none;
    padding-left: 10px;
}
#mainContent .viewMore {
    background:#edf1f2;
    height: 33px;
}

#mainContentNews  {
    max-height: 423px;
	overflow: hidden;
}

#mainContentNews > ul > li {
    height: 74px;
}
#mainContent .mainContentNewsContainer ul li {
    border-top: 0; 
    padding-bottom: 17px;
}
#mainContentNews .twoImgOneDiv .mainContentNewsFeed  {
    padding-bottom: 5px;
}
#mainContentNews .twoImgOneDiv li {
    margin-top: 4px;
}
#mainContentNews .mainContentNewsFeed {
    overflow: hidden;
    padding-bottom: 4px;
}
#mainContentNews .mainContentNewsFeedLeft {
    width:48px; float:left;
    text-align: center;
}
#mainContentNews .mainContentNewsFeedRight {
    float:left;
    width: 242px;
    margin-left: 10px;
}
#mainContentNews .mainContentNewsFeedRight a {
    color:#006a52; 
    text-decoration: none;
}

#mainContentNews .mainContentNewsFeedLeft a.RSSimage{
	background: url("http://www.kaspersky.com/resources/img/main_sprite.png") 0 -1203px no-repeat;
	display: block;
	height: 40px;
}

#mainContentNews .mainContentNewsFeedRight .tweetCopy {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
    color:#006a52;
    max-height: 48px;
    overflow: hidden;
}
#mainContentNews .mainContentNewsFeedRight p {
    color:#666;
    margin:0;
}
#mainContentNews li {
    overflow: hidden;
}
#mainContentNews .mainContentNewsFeed .mainContentNewsFeedTweetsList li {
    background: #fff;
    height: 87px;overflow: hidden;
    padding: 0;
    margin: 0;
}
#mainContentNews > div > ul > li:first-child {
    margin-top: 15px;
    padding-top:0;
}
#mainContent #mainContentNews .viewMoreShare {
    float: right;
    margin-top: -35px;
    padding: 2px 0 2px 4px;
    background: #FFF;
}
#mainContent #mainContentNews .viewMoreShare li {
    float: left;
    width: 30px;
    margin-top: 0; 
    padding: 0 4px;
}
#mainContentNews .oneImgTwoDiv li {
    height: 64px;
    padding: 12px 0;
    border-bottom: 1px solid #E0E0E0;
}
#mainContentNews .fourDiv li {
    padding: 10px 0;
    height: 66px;
    border-bottom: 1px solid #E0E0E0;
}
#mainContentNews .fourDiv .viewMore {
    margin-top: -1px;
}
#mainContentNews .oneImgTwoDiv li:first-child {
    height: auto; 
    border-bottom:0;
    padding-bottom: 5px;
}
#mainContentNews .twoImgOneDiv .tweetCopy {
    max-height: 66px;
}
#mainContentNews .mainContentNewsFeedLeft a img {
    max-width: 48px; 
    max-height: 48px;
}
#mainContentNews .twoImgOneDiv .mainContentNewsFeedLeft a img {
    max-width: 60px; 
    max-height: 60px;
}
#mainContentNews .twoImgOneDiv .mainContentNewsFeedLeft {
    width:60px; 
}
#mainContentNews .twoImgOneDiv .mainContentNewsFeedRight {
    width: 230px;
    min-height: 64px;
}
#mainContent #mainContentNews .viewMoreShare li a {
    width: 32px; 
    height: 32px; 
    display: block;  
    background: url('http://www.kaspersky.com/resources/img/homepage_sprite.png') 0 0 no-repeat;
}
#mainContent #mainContentNews .viewMoreShare li.viewMoreShareTwitter a {
    background-position: 0 -185px;
}
#mainContent #mainContentNews .viewMoreShare li.viewMoreShareFacebook a {
    background-position: 0 -217px;
}
#mainContent #mainContentNews .viewMoreShare li.viewMoreShareYoutube a {
    background-position: 0 -249px;
}
#mainContent #mainContentNews .viewMoreShare li.viewMoreShareGoogle a {
    background-position: 0 -281px;
}
#mainContentNews .fourDiv li:first-child {
    margin-top: px;
}
#mainContentNews .mainContentNewsFeedPagination0,#mainContentNews .mainContentNewsFeedPagination1 {
    z-index:1;
    margin: -45px 0 0 3px;
    overflow: visible;
    position: absolute;
    width: 50px;
}
#mainContentNews .mainContentNewsFeedPagination0 li,#mainContentNews .mainContentNewsFeedPagination1 li {
    padding: 0;
    margin: 0;
    cursor:pointer;
    float: left;
    width: auto;
    font-size: 39px;
    color: #C6CACC;
    line-height: 15px;
    height: 0px;
    border: 0px;
 
}
#mainContentNews .mainContentNewsFeedPagination0 li.selected,#mainContentNews .mainContentNewsFeedPagination1 li.selected {
    color: #959a9c;
}
#mainContent {
    overflow: hidden;
    margin: 18px auto 38px;
}
.mainContentNewsFeedTweetsList0,.mainContentNewsFeedTweetsList1 {
    height: 87px; 
    overflow: hidden
}
#mainContent h2 a:hover, #mainContent .viewMore a:hover {
    color: #006a52;
}
#mainContent .viewMore a {
    background:#edf1f2; 
    font-size: 13px;
    color: #535353; 
    display: block;
    line-height: 33px;
    text-decoration: none;
    padding-left: 10px;
}
#mainContent .viewMore {
    background:#edf1f2;
    height: 33px;

}
#mainContentNews h2 {cursor: default;}
/*mainPromoBottom*/
#mainPromoBottom {
    background:#c6cacc;
}
#mainPromoBottom .list_carousel {
    overflow: hidden;
    clear: both;
    padding-bottom: 5px;
    position:relative;
    height:141px;
}
#mainPromoBottom .list_carousel ul#bottom-slider {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    height: 114px;
    overflow: hidden
}
#mainPromoBottom .list_carousel ul#bottom-slider > li {
    padding: 12px 0;
    height: 90px;
    background-color: #FAFAFA;
}
#mainPromoBottom .prev-btn {
    margin-right: 11px;
    width:20px;
    height:20px;
    background: url('http://www.kaspersky.com/resources/img/homepage_sprite.png') 0 -316px no-repeat;
}
#mainPromoBottom .next-btn {
    float: right;
    margin-right: 0px;
    width:20px;
    height:20px;
    background:url('http://www.kaspersky.com/resources/img/homepage_sprite.png') -21px -316px no-repeat

}

#mainPromoBottom .container_12{
    position:relative;
    height:146px;
    padding-top:32px;
}
#mainPromoBottom .page-btn {   
    top:11px;
    right:12px;
    position:absolute;
}
#mainPromoBottom .page-btn > div {
    float: left;
    width: 10px;
    height: 10px;
    background-color: #d5d5d5;
    border-radius: 8px;
    margin: 0 4px;
    cursor: pointer;
}
#mainPromoBottom .nav-btn {
    cursor: pointer;
    font-size: 20px;
    margin-top:7px;
}
#mainPromoBottom .page-btn > div.selected {
    background-color: #006d55;
}
#mainPromoBottom #bottom-slider li div {
    margin:0px;
    float: left; 
}
#mainPromoBottom #bottom-slider li .slider-thb {
    margin: 0 12px;
}
#mainPromoBottom .slider-thb img {
    max-width: 90px; 
    max-height: 90px; 
    padding-right:0px;
}
#mainPromoBottom .slider-desc {
    max-width: 174px
}
#mainPromoBottom #bottom-slider p {
    float: left; 
    margin: 0; 
    font-size: 13px;
    line-height: 15px;
    color:#494d4c;
}
#mainPromoBottom #bottom-slider p a {
    float: left; 
    padding-top: 6px;
}
#mainPromoBottom .disabled {
    display: none !important
}
#mainPromoBottom #bottom-slider .slider-heading {
    font-size: 14px;
    margin: 0 0 6px;
    font-weight: bold;
    color: #505151;
    font-family: "Arial", sans-serif !important;
    line-height: 16px;
}
#mainPromoBottom #bottom-slider .slider-heading a {
    color:#505151;
}
#mainPromoBottom .bt-slide {
    width:52px; 
    margin:0; 
    padding:0; 
    float:right; 
    margin-right:10px;
}
/*mainSocialBottom*/
#mainSocialBottom {
    background: #6c7073; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjNzA3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjU2NWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #6c7073 0%, #52565a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c7073), color-stop(100%,#52565a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6c7073 0%,#52565a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6c7073 0%,#52565a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6c7073 0%,#52565a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6c7073 0%,#52565a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c7073', endColorstr='#52565a',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: 0px 1px 0 rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    0px 1px 0 rgba(50, 50, 50, 0.55);
    box-shadow:         0px 1px 0 rgba(50, 50, 50, 0.55);
}
#mainSocialBottom div > a {
border-left: 1px solid #464a4c;
padding: 10px;
padding-top: 7px;
border-right: 1px solid #7b7f81;
padding-bottom:4px;
}

#mainSocialBottom .addthis_button_facebook_like.at300b {
    padding-top: 7px;
}
#mainSocialBottom .addthis_button_tweet.at300b {
    padding-top: 7px;
}
#mainSocialBottom .addthis_button_tweet.at300b > iframe {width: 80px !important;} 
#mainSocialBottom .addthis_button_google_plusone.at300b {
    padding-top: 9px;
}
#mainSocialBottom .addthis_counter.addthis_pill_style {
    padding-top: 8px;
    border-right:0;
}
#mainSocialBottom {
    border-top: 1px solid #909395;
}
#mainSocialBottom p {
    float: left;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
    padding-right: 15px;
    border-right: 1px solid #6b6f72;
    line-height: 36px;
    margin: 0;
    -moz-text-shadow: 0 -1px 1px #333;
    -webkit-text-shadow: 0 -1px 1px #333;
    text-shadow: 0 -1px 1px #333;
}
#mainSocialBottom p > span {
    background: url('http://www.kaspersky.com/resources/img/homepage_sprite.png') 0 -365px no-repeat;
    width: 21px;
    height: 30px;
    float: left;
}
.no-js #mainPromoBottom .bt-slide, .no-js #mainPromoHome .right_btn, .no-js #mainPromoHome .left_btn, .no-js #mainSocialBottom {
    display: none
}
.no-js #mainPromoBottom .list_carousel {
    margin-top: 32px; 
    padding-bottom: 25px;
}
.no-js #mainPromoHome .banner_item {
    background: url('http://www.kaspersky.com/resources/img/banner-1.jpg') #e3e3e3 top center no-repeat
}
.no-js #mainPromoHome .banner_slider {
    width: 1180px;
}
.no-js #mainContent .mainContentNewsFeedPagination {
    display: none
}