﻿/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
*{  
    font-family: Arial, Helvetica, sans-serif;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 12px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.franklin {font-family: 'Franklin Gothic Medium','Franklin Gothic','ITC Franklin Gothic', Arial, sans-serif; font-weight: 600 !important;}
.franklinLight {font-family: 'Franklin Gothic Book', Arial, sans-serif}
.l {
  float: left;
}
.r {
  float: right;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #666;
  letter-spacing: 0px;
}
/*#mainHeaderTopNav {
              height:62px;
}*/
header *, #mainFooter * {
    font-family: MuseoSans-500, Helvetica Neue, Arial, sans-serif;
}
#mainHeaderContent {
    display:block;
    width:980px;
    font: 12px bold Arial, sans-serif;
    position: relative;
}
#mainHeaderLogo {
    z-index: 1;
    float:left;
    margin-top: 15px;
    width: 184px;
    height: 50px;
    position:relative;
}
#mainTopCountries {
    padding: 0;
    z-index: 0
}
#mainTopCountries #countriesList {
    width: 970px;
    overflow: hidden;
    height: 0;
    position: absolute;
    left: 5px;
    top: 54px;
    background: url(/resources/img/map.gif) center no-repeat #fff;
    font-size: 11px
}
#mainTopCountries .outsideDecoration {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}
#mainTopCountries .insideContainer {
    position: relative;
    bottom: 0;
    padding-top: 20px;
    border: 1px solid #e3e7e6;
    border-top: none
}
#mainTopCountries .countriesContainer {
    width: 100%;
    overflow: hidden;
    position: relative
}
#mainTopCountries .countriesContainer .boxesContainer {
    width: 720px;
    margin: 0 123px
}
#mainTopCountries .countriesContainer .boxItem {
    float: left;
    width: 180px;
    padding: 39px 0 0
}
#mainTopCountries .countriesContainer .countryGroupTitle {
    padding: 0 0 0 30px;
    margin: 0 0 5px;
    font: 700 11px Arial;
    color: #333;
    text-align: left;
}
#mainTopCountries .countriesContainer ul {
    padding: 0 0 17px 30px
}
#mainTopCountries .countriesContainer .sublists {
    margin: 0 0 11px
}
#mainTopCountries .countriesContainer .sublists .title {
    padding: 0 0 0 30px;
    margin: 0 0 2px;
    font: 400 11px Arial
}
#mainTopCountries .countriesContainer .sublists ul {
    padding: 0 0 5px 30px
}
#mainTopCountries .countriesContainer li {
    padding: 1px 0 1px 8px;
    background: url(/resources/img/main_sprite.png) 0 -483px no-repeat;
    list-style: none;
    text-align: left;
}
#mainTopCountries .countriesContainer li a, #mainTopCountries .countriesContainer .countriesException a {
    color: #089e71;
    text-decoration: none;
    line-height: 20px;
}
#mainTopCountries .countriesContainer li a:hover, #mainTopCountries .countriesContainer .countriesException a:hover {
    text-decoration: underline;
}
#mainTopCountries .countriesContainer .countriesException a {
    line-height: 15px;
}
#mainTopCountries .countriesContainer .countriesException {
    position: absolute;
    right: 20px;
    bottom: 17px;
    text-align: right;
    line-height: 15px;
	color: #333;
}
#mainTopCountries .countriesContainer .image:hover {
    border-bottom: solid 1px #006d55;
    text-decoration: none
}
#mainTopCountries #countriesClose {
    display: block;
    position: absolute;
    color: #089e71;
    top: 17px;
    right: 18px;
    height: 15px;
    line-height: 15px;
    padding-right: 25px;
    background: url(../img/main_sprite.png);
    background-repeat: no-repeat;
    background-position: 23px -223px; /* fallback */
    background-position: calc(100% + 23px) -223px;
    outline: 0;
    transition: none;
    text-decoration: none;
}
#mainTopCountries #countriesClose:hover {
    background-repeat: no-repeat;
    background-position: 23px -238px; /* fallback */
    background-position: calc(100% + 23px) -238px;
    transition: none;
}
header * {
    font-family: MuseoSans-500, Helvetica Neue, Arial, sans-serif;
}
a#countriesToggle {
    text-decoration: none;
}
#mainTopCountries #countriesToggle {
    cursor: pointer;
    position: absolute;
    left: 250px;
    top: 25px;
    outline: 0
}
#countriesToggle span, #mainTopCountries #countriesToggle b {
    color: #939799;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid #e3e7e6;
    outline: 0;
    display: block;
    width: 138px;
    text-indent: 43px;
    background: url(/resources/img/main_sprite.png) 0 -324px no-repeat #fff;
    height: 28px;
    line-height: 28px;
    margin-left: -25px;
}
#mainTopCountries .outOverflow {
    position: absolute;
    width: 138px;
    border: 1px solid #e3e7e6;
    border-top: none;
    border-bottom: none;
    background: #fff;
    display: none;
    height: 24px;
    top: 48px;
    left: 250px;
    z-index: 1000
}
#mainTopCountries .countriesRightDecorationOverlay {
    width: 220px;
    left: 0;
    border-right: solid 1px #e0e1dd
}
#mainTopCountries .countriesRightDecorationOverlay, .countriesLeftDecorationOverlay {
    position: absolute;
    border-bottom: solid 1px #e0e1dd;
    height: 18px;
    background: #fff
}
#mainTopCountries .countriesLeftDecorationOverlay {
    width: 610px;
    right: 0;
    border-left: solid 1px #e0e1dd
}
#mainTopCountries .boxesContainer .csTitle {
    position: absolute;
    font-size: 14px;
    color: #363636;
    left: 150px;
    margin-top: 13px;
    line-height: 20px;
}
/*.overContent{ position: absolute !important; }*/
/*tool*/
#mainTopHeaderLinks { 
    float:right; 
    margin-top: 25px; 
    z-index: 1;
    max-width:400px; 
    text-align: center;
    line-height: 31px; 
    margin-right:20px; 
}
#mainTopHeaderLinks li { 
    display: inline;
}
#mainTopHeaderLinks span { 
    padding: 0 2px; 
    color: #939799;
     }
#mainTopHeaderLinks a {color:#939799; font-weight: bold;}
/*search*/
#mainTopSearch { 
    float:right; 
    margin-top: 25px;  
    z-index: 1; 
    width: 200px; 
    position: relative;
}
#mainTopSearch .wrap { 
    position: absolute; 
    right: 3px; 
    top: 0; 
    width: 191px; 
    height: 28px; 
}
#mainTopSearch .input{ 
    height: 23px; 
    width: 188px; 
    margin: 0; 
    padding: 3px 5px; 
    background: none; 
    font: bold  12px Arial; 
    color: #939799;  
    border: solid 1px #e3e7e6;
}
#mainTopSearch .submit{ 
    position: absolute; 
    right: -2px; 
    top: -2px; 
    height: 25px; 
    width: 25px; 
}
#mainTopSearch .send{ float: right; }        
#mainFooter {
    background:#6c7073;
    clear: both;
}
#mainSocialBottom, #mainSubNav {
    color:#fff;
    font-weight:normal;
    position: relative;
    z-index: 2;
    height:35px;
}
#mainHeader .prodBoxSmall {
    height: 80px;
    width: 60px
}
#mainHeader .mainProdList li:first-child .prodInfo {
    width: 225px;
    margin-left: 15px;
}
#mainHeader .mainProdList .prodTitle {
    font: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #006a52;
    line-height: 16px;
    text-decoration: none;
    max-height: 16px;
    overflow: hidden;
    display: block
}
#mainHeader .mainProdList li:first-child .prodTitle {
    max-height: 41px;
    font-size: 16px;
    line-height: 18px
}
#mainHeader .mainProdList li:first-child .prodDescription {
    max-height: 30px;
}
#mainHeader .mainProdList .prodDescription {
    margin: 2px 0;
    max-height: 15px;
    overflow: hidden;
}

#mainHeader .mainProdList > li {
    overflow: hidden
}
#mainHeader .mainProdList > li:first-child {
    height: 82px;
}
#mainHeader .mainProdList > li {
    height: 58px;
    padding-top: 10px;
}
.label {
    color:#7ebd2a;
    margin-left: 5px;
}
#mainHeader .bazaarVoice {
    font: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #959a9c;
    font-weight: bold;
    line-height: 18px
}
#mainHeader .bazaarVoice span {
    background: url('/resources/img/ratings.png');
    height: 17px;
    width:66px;   
    display: block;
    float: left;
    margin-right: 4px;
}
.mainHeaderTopNavContainer {
    display:block;
    width:1020px;
    margin:auto;
}
.mainHeaderTopNavContainer > ul {
    list-style: none;
    margin:0;
    padding:0 0 0 10px;
}   
.mainHeaderTopNavContainer ul > li.topNavItem{
    padding: 14px 10px 0px 10px;
    float:left;
    margin-right:0px;
    text-align:center;
    position: relative;
    height:32px;
    line-height: 12px;
    z-index: 100;
}
.mainHeaderTopNavContainer ul > li.last{
    margin-right:0px;
}

.mainHeaderTopNavContainer ul > li.navItemMegaMenu .dropdownInnerItem{
    text-align: left;
}
.navItemMegaMenu:hover > a {
    color: #006D55;
}
.navItemMegaMenu > a:hover {
	color: #006a52;
	cursor: default;
}
.mainHeaderTopNavContainer .navLinksList a{
    font-size: 13px;
    color:#006a52;
    text-decoration: none;
}
ul.navLinksList{
    padding:15px 0px;
}
.mainHeaderTopNavContainer ul.navLinksList li{
    background: url(/resources/img/bullit.png) center left no-repeat;
    line-height: 15px;
    list-style: none;
    padding: 4px 0 4px 23px;
}
.mainHeaderTopNavContainer .navLinksList a:hover{
    text-decoration:underline;
}
.mainHeaderTopNavContainer ul li div.dropdownInnerItem{
    position: absolute;
    border: 0px solid #C3D1EC;
    margin-top: 38px;
    display: block;
    z-index: 100;
    overflow: visible;
    top:7px;
    left:0px; 
    height:0px;
    overflow:hidden;
    width:auto;
    zoom:1;    
    background: #fbfbfb; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2ViZWNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2VjZWVlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0iI2UyZTNlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWRkZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fbfbfb 0%, #ebecee 43%, #eceeed 44%, #e2e3e5 68%, #d9ddde 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(43%,#ebecee), color-stop(44%,#eceeed), color-stop(68%,#e2e3e5), color-stop(100%,#d9ddde)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#ebecee 43%,#eceeed 44%,#e2e3e5 68%,#d9ddde 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbfbfb 0%,#ebecee 43%,#eceeed 44%,#e2e3e5 68%,#d9ddde 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbfbfb 0%,#ebecee 43%,#eceeed 44%,#e2e3e5 68%,#d9ddde 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbfbfb 0%,#ebecee 43%,#eceeed 44%,#e2e3e5 68%,#d9ddde 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d9ddde',GradientType=0 ); /* IE6-8 */
}
.activeItem {
    box-shadow:0px 4px 9px 3px rgba(0, 0, 0, 0.5);
    background:#fbfbfb;
    padding: 14px 0px 0px 0px !important;
}
.mainHeaderTopNavContainer > ul > li.activeItem > a {
  background:#fbfbfb;
  display:block;
  position: relative;
  z-index:1000;
  padding: 12px 10px;
  height:auto;
  line-height:16px;
}
.activeItem .dropdownInnerItem{
    overflow:visible;
    box-shadow:0px 4px 9px 3px rgba(0, 0, 0, 0.5);
}
div.dropdownInnerItem ul{
    zoom:1;
}
.mainHeaderTopNavContainer > ul > li > a {
    font-family: MuseoSans-500, Helvetica Neue, Arial, sans-serif !important;
    color: #666; text-align: center;
    font-weight: bold;
    height: 20px;
    text-decoration: none;
	text-transform: uppercase;
    outline:none;
}
.mainHeaderTopNavContainer ul > li.navItemMegaMenu .dropdownInnerItem li a{
    white-space: nowrap !important;
}
#mainHeader .navItemMegaMenuHeading  {
    margin-bottom:0
}
#mainHeader .navItemMegaMenu .navItemMegaMenuHeading  a {
    font-size: 17px;
    font-weight: normal;
    text-align: left;
    display: block;
    line-height: 22px;
    text-decoration: none; 
    color:#333;
    height:22px; 
    padding-left:30px
}
#mainHeader .navItemMegaMenuHeading a:hover, #mainHeader .viewMore:hover {
    color: #006a52;
}
#mainHeader .navItemMegaMenu .navItemMegaMenuHeading  {
    margin-top:20px;
    margin-left:20px;
}
.mainHeaderTopNavContainer ul{
/*   margin:0px 20px 0px 0px;*/
   border-collapse: separate;
}
.mainHeaderTopNavContainer .dropdownInnerItem > ul > li{
    border-left:1px solid #fafafb;
    min-width: 309px;
}
.mainHeaderTopNavContainer .dropdownInnerItem > ul > li:first-child{
    border-right:1px solid #d4d8d9;
    border-left: 0;
}
.mainHeaderTopNavContainer li  li{
    text-align: left;
}
.clear{
    clear: both;
}
.navItemMegaMenuDecoration{
    border-top:3px solid #c6cacc;
    margin: 8px 20px 20px;
    overflow: hidden;
    padding-bottom: 2px;
}
.dropdownInnerItem > ul > li {float:left;list-style:none;}
.dropdownInnerItem > ul {
    width: 620px;
    overflow: hidden;
    margin: 0;
}
/*mainSubNav*/
#mainSubNav {     
    background: #84898c; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0ODk4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iIzdiODA4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzY3NmI2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MDY0NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #84898c 0%, #7b8083 29%, #676b6e 76%, #606467 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84898c), color-stop(29%,#7b8083), color-stop(76%,#676b6e), color-stop(100%,#606467)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #84898c 0%,#7b8083 29%,#676b6e 76%,#606467 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #84898c 0%,#7b8083 29%,#676b6e 76%,#606467 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #84898c 0%,#7b8083 29%,#676b6e 76%,#606467 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #84898c 0%,#7b8083 29%,#676b6e 76%,#606467 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84898c', endColorstr='#606467',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.45);
}    
#mainSubNav > div > div {
    margin-left: -10px;
}
#mainSubNav ul{
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:.9em;
}
#mainSubNav ul li {
    display: inline-block;
    border-right: 1px solid #636669;
    text-align: center;
    float: left;
}
#mainSubNav ul li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    line-height: 35px;
    border-right: 1px solid #91989E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #222;
    padding: 0 15px 0 45px;
    float: left;
}
#mainSubNav ul li.active a,  #mainSubNav ul li:hover a  {
    color: #2b2b2b;
    text-shadow: 0 1px 0 #bbb;
}
#mainSubNav ul li.active, #mainSubNav ul li:hover  {  
    background: #C5C5C5;
}
#mainSubNav ul li:first-child a {
    border-left: 1px solid #91989E;
}
#mainSubNav ul.subNavFirst>li:first-child {
    border-left: 1px solid #636669;
}
.subNavFirst a {
    background: url('/resources/img/main_sprite.png') no-repeat 0 0;
}
a.subNavFirstHome {
    background-position: 17px -355px;
}
a.subNavFirstBusiness {
    background-position: 17px -384px
}
a.subNavFirstHome:hover, .subNavFirst .active a.subNavFirstHome {
    background-position: 17px -413px;
}
a.subNavFirstBusiness:hover,  .subNavFirst .active a.subNavFirstBusiness {
    background-position: 17px -442px
}

#mainFooter{ 
    text-align: left;
}

#mainFooter .mainFooterBottom {
    padding: 20px 0 25px;
    overflow: hidden;
}
#mainFooter .mainFooterBottom .mainFooterBottomCopy {
   /*  background: url('/resources/img/main_sprite.png') no-repeat;  */
    height: 40px;
}
#mainFooter .mainFooterBottom .mainFooterBottomCopy p {
    /* padding-left: 46px; */
    margin: 0;
    color: #dadee0;
    line-height: 18px;
}
/* added to remove logo */
#mainFooter .mainFooterBottom .mainFooterBottomCopy .mainFooterBottomLinks
{ padding-left: 0 !important; margin-left: -7px; line-height: 20px; }

#mainFooter .mainFooterBottom .mainFooterBottomCopy p:first-child {
    font-weight: bold; 
    color: #fff;
    padding-top: 2px;
}
#mainFooter .mainFooterBottom .mainFooterBottomLinks {
    margin-top: 22px;
	width:130px !important;
}
#mainFooter .mainFooterBottom .mainFooterBottomLinks li {
    float:left;
    border-left: 1px solid #bec2c4;
    list-style: none;
    padding: 0 6px;
}
#mainFooter .mainFooterBottom .mainFooterBottomLinks li:first-child {
    border-left:0;
}
#mainFooter .mainFooterBottom .mainFooterBottomLinks li a {
    color: #fff;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare, #mainFooter .mainFooterBottom .mainFooterBottomShare ul {
    float:right;
	width:400px !important;
}
#mainFooter .mainFooterBottomShare {
    margin-left: 2.127659574468085%;
    margin-right: 0;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare li a {
    width: 40px; 
    height: 40px;
    display: block; 
    background: url('/resources/img/main_sprite.png') 0 0 no-repeat;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare li {
    float: left; 
    list-style: none;
    padding: 0 2px;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomTwitter a {
    background-position: 0 -40px;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomFacebook a {
    background-position: 0 -80px;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomYoutube a {
    background-position: 0 -120px;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomGoogle a {
    background-position: 0 -160px;
}
#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomLinkedin a {
    background-position: 0 -1159px;
}

#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomVk a {
    background-position: 0 -1242px;
}

#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomOdnoklassniki a {
    background-position: 0 -1284px;
}


#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomMyWorld a {
    background-position: 0 -1373px;
}

#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomMyWorld a {
    background-position: 0 -1373px;
}

#mainFooter .mainFooterBottom .mainFooterBottomShare li.mainFooterBottomCareer a {
    background-position: 0 -1416px;
}


.banner_btn span {
    background: url('/resources/img/homepage_sprite.png') no-repeat;
    width: 8px;
    height: 11px;
    background-position: 0px -342px;
    position: absolute;
    right: 10px;
    top: 11px;
}
.banner_btn:hover span {
    background-position: 0px -354px;
}
.banner_btn{
    word-break: break-all;
    position: relative;
    min-width: 170px;
    padding-right: 27px;
    float: left;
    height:34px;
    color:#006a52;
    font-size:12px;
    padding-left:13px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 1px 0px #FFF;
    line-height: 35px;
    border-radius: 3px;
    border: 1px solid #C1C4C5;
    border-bottom: none;
    border-top-color: #DDD;
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.55);
    background: #FDFDFD;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #FDFDFD 0%, #FDFDFD 16%, #DEE1E3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(16%,#FDFDFD), color-stop(100%,#DEE1E3));
    background: -webkit-linear-gradient(top, #FDFDFD 0%,#FDFDFD 16%,#DEE1E3 100%);
    background: -o-linear-gradient(top, #FDFDFD 0%,#FDFDFD 16%,#DEE1E3 100%);
    background: -ms-linear-gradient(top, #FDFDFD 0%,#FDFDFD 16%,#DEE1E3 100%);
    background: linear-gradient(to bottom, #FDFDFD 0%,#FDFDFD 16%,#DEE1E3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dee1e3',GradientType=0 );
    overflow: hidden;
}
.banner_btn:hover{
    color:#fff;
    text-shadow: 0 1px 0px #00211A;
    background: #008a6b; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOGE2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZiNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #008a6b 0%, #006b53 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008a6b), color-stop(100%,#006b53)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #008a6b 0%,#006b53 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #008a6b 0%,#006b53 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #008a6b 0%,#006b53 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #008a6b 0%,#006b53 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a6b', endColorstr='#006b53',GradientType=0 ); /* IE6-8 */
}
.banner_btn:active {
    background: #006b53; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmI1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhhNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #006b53 0%, #008a6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006b53), color-stop(100%,#008a6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #006b53 0%,#008a6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #006b53 0%,#008a6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #006b53 0%,#008a6b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #006b53 0%,#008a6b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006b53', endColorstr='#008a6b',GradientType=0 ); /* IE6-8 */
}
.mainFooterColumn {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 34px;
}
.mainFooterColumn ul li {
    list-style: none;
}
#mainFooter ul {
    padding-left: 0;
    margin: 0 auto;
    overflow: hidden;
}
#mainFooter {
    overflow: hidden;
    font: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #dadee0;
}
#mainFooter a {
    color: #dadee0;
    text-decoration: none;
}
#mainFooter a:hover {
    color: #fff;
}
#mainFooter .mainFooterTitle, #mainFooter .mainFooterTitle a {
    font-size: 16px;
    color: #fff;
}
.mainFooterColumn li {
    line-height: 23px
}
#mainFooter .mainFooterColumn > ul {
    margin-top: 24px;
}
.mainFooterTop {
    border-bottom: 1px solid #565a5c;
}
.mainFooterBottom {
    border-top: 1px solid #7c8083;

}
a:link, a {
    color: #006D55;
}        
.topNavItem > a:hover, .topNavItem > a.active, .no-js .navItemMegaMenu a:hover {
    color: #006a52;
}
.navItemMegaMenu > a:hover {
    color: #666; cursor: default;
} 
.no-js .navItemMegaMenu > a:hover {
    cursor:pointer;
}                
.no-js .mainHeaderTopNavContainer {
    visibility: visible !important; 
    display:block !important;
}
.no-js .mainHeaderTopNavContainer .navItemMegaMenu {
    margin-right:11px;
}
#mainHeader .dropdownInnerItem > ul > li:hover .navItemMegaMenuHeading  a {
    color: #006a52;
}
#mainHeader .dropdownInnerItem .navItemMegaMenuHeading  a:hover, #countriesList a:hover {
    text-decoration: underline
}
.mainIcon {
    background: url('/resources/img/main_sprite.png') no-repeat 0 0;
}
.mainIcon1 {
    background-position: 0 -510px;
}
.mainIcon1:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon1 {
    background-position: 0 -535px;
}
.mainIcon2 {background-position: 0 -561px;
}
.mainIcon2:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon2 {
    background-position: 0 -586px;
}
.mainIcon3 {background-position: 0 -611px;
}
.mainIcon3:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon3 {
    background-position: 0 -636px;
}
.mainIcon4 {background-position: 0 -661px;
}
.mainIcon4:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon4 {
    background-position: 0 -686px;
}
.mainIcon5 {
    background-position: 0 -711px;
}
.mainIcon5:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon5 {
    background-position: 0 -736px
}
.mainIcon6 {
    background-position: 0 -761px;
}
.mainIcon6:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon6 {
    background-position: 0 -786px
}
.mainIcon7 {
    background-position: 0 -811px;
}
.mainIcon7:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon7 {
    background-position: 0 -836px;
}
.mainIcon8 {
    background-position: 0 -861px;
}
.mainIcon8:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon8 {
    background-position: 0 -886px;
}
.mainIcon9 {
    background-position: 0 -911px;
}
.mainIcon9:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon9 {
    background-position: 0 -936px;
}
.mainIcon10 {
    background-position: 0 -961px;
}
.mainIcon10:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon10 {
    background-position: 0 -986px;
}
.mainIcon11 {
    background-position: 0 -1011px;
}
.mainIcon11:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon11 {
    background-position: 0 -1036px;
}
.mainIcon12 {
    background-position: 0 -1061px;
}
.mainIcon12:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon12 {
    background-position: 0 -1086px;
}
.mainIcon13 {
    background-position: 0 -1111px;
}
.mainIcon13:hover, #mainHeader .dropdownInnerItem > ul > li:hover .mainIcon13 {
    background-position: 0 -1136px;
}

/* Call to Actions */
a.bannerContentAction {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    min-width: 180px;
    float: left;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    font-size: 16px;
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    text-shadow: -1px 0 0 #454545;
    margin-right: 12px;
    padding: 0 20px;
}
.bannerContentAction.red {
    background: #f0202f; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwMjAyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODEyMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f0202f 0%, #d81221 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0202f), color-stop(100%,#d81221)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0202f 0%,#d81221 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0202f 0%,#d81221 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0202f 0%,#d81221 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0202f 0%,#d81221 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0202f', endColorstr='#d81221',GradientType=0 ); /* IE6-8 */
}
.bannerContentAction.red:hover {
    background: #d81221; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4MTIyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMDIwMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d81221 0%, #f0202f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d81221), color-stop(100%,#f0202f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d81221 0%,#f0202f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d81221 0%,#f0202f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d81221 0%,#f0202f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d81221 0%,#f0202f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81221', endColorstr='#f0202f',GradientType=0 ); /* IE6-8 */
}
.bannerContentAction.green {
    background: #008a6b; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOGE2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZiNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #008a6b 0%, #006b53 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008a6b), color-stop(100%,#006b53)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #008a6b 0%,#006b53 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #008a6b 0%,#006b53 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #008a6b 0%,#006b53 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #008a6b 0%,#006b53 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a6b', endColorstr='#006b53',GradientType=0 ); /* IE6-8 */
}
.bannerContentAction.green:hover {
    background: #006b53; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmI1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhhNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #006b53 0%, #008a6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006b53), color-stop(100%,#008a6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #006b53 0%,#008a6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #006b53 0%,#008a6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #006b53 0%,#008a6b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #006b53 0%,#008a6b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006b53', endColorstr='#008a6b',GradientType=0 ); /* IE6-8 */
}

.mainSidebar li {list-style: none; font-size: 11px}
.mainSidebar > ul > li > a {font-weight: bold; font-size: 13px;border-top: solid 1px #E0E1DD;
display: block;
line-height: 41px;}
.mainSidebar > ul:first-child > li > a {border-top:0;}
.mainSidebar ul ul li {margin-left: 10px;}
.mainSidebar ul ul ul li {margin-left: 20px;}
.mainSidebar li.active a {color: red}
.mainSidebar li a:hover {text-decoration: underline;}
.mainSidebar {border: 1px solid #E0E1DD; padding: 15px;}
#breadcrumbs {
font-size: 11px;
line-height: 36px;
}
.templateShare > div {float: right; margin-top: 10px;}

/* ==========================================================================
   Browser compatibility
   ========================================================================== */
.ie7 #mainPromoHome {
    cursor: default;
}
.ie7 #mainPromoHome .cta {
    top: 190px;
}
body[class*='ie'] .mainHeaderTopNavContainer .navItemMegaMenu {
    border:1px solid #fff; 
    border-bottom: 0;
}
body[class*='ie'] .mainHeaderTopNavContainer  li.activeItem {
    border: 1px solid #c7c7c7;
    border-bottom:none;
}
body[class*='ie'] .mainHeaderTopNavContainer  ul li.activeItem  div.dropdownInnerItem {
    border: 1px solid #c7c7c7;
    margin-top: 37px;
}
.ie8 .banner_btn, .ie7 .banner_btn {
    border-bottom: 1px solid #c1c4c5;
}
.ie7 .navItemMegaMenu.activeItem > a {
    margin-top: 3px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
/* Mobile and tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #mainPromoHome .page-btn {
        right: 0px !important;
    } 
    .left_btn, .right_btn {
        display: none !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #mainPromoHome .page-btn {
        right: 0px !important;
    }
    .mainHeaderTopNavContainer {
        width: 980px !important;
    }
    .topNavItem {
        margin-right:0px !important;
    }
    #mainHeaderLogo {
        margin-left: 10px !important;
    }
}       
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #mainPromoHome .page-btn {
        right: 0px !important;
    }      
    .left_btn, .right_btn {
        display: none !important;
    }
    .topNavItem {
        margin-right:0px !important;
    }
    #mainHeaderLogo {
        margin-left: 10px !important;
    }
    .mainHeaderTopNavContainer {
        width: 980px !important;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.tabs td a *{
    color:#fff;
}

.greytabs2 td a *{
    color:#333;
}


.tabs .bigtabs td a span {
	color:#333;
	text-transform: uppercase;
	font-size: 10px;
	
	}
	
.tabs .bigtabs td.current a span {
	color: #006d55;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	}	


.tabs .bigtabs td.current img {
	margin-bottom: 5px;
	}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

