/* 보안 */
.hDiv a[href^="http"],
.tdsub a[href^="http"],
.bbsTit a[href^="http"],
.menu1 a[href^="http"] {background-color:red !important;}

/* index */
.hDiv {
	float: left;
	width: 360px;
	margin: 10px 15px 10px 0;
}
.hDiv .tit {
	padding: 4px 10px;
	border: 1px solid #8e6243;
	border-radius: 4px;
	background-color: #a98266;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-o-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
.hDiv .tit a {color:#FFF;}
.hDiv ul {padding: 0;margin:0;}
.hDiv ul a {display: inline-block;cursor:hand;}
.hDiv a:link {text-decoration: none;}
.hDiv ul a:hover {
	background-color: #EEE;
}
.hDiv li {
	padding: 0;
	margin:0;
	list-style: none;
	height: 22px;
	border-bottom: 1px dashed #CCC;
}
.hDiv .tdsub {
	float: left;
	width:300px;
	padding-top:3px;
}
.hDiv .tdsub div {
	display:inline-block;
	max-width: 260px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hDiv .date {
	float: left;
	width: 40px;
	margin-left: 10px;
	text-align: right;
}
/* //index */

/* setting */
#setting {padding:40px;}
#setting .btn {line-height:20px;}
/* //setting */

/* 회원가입 */
.joinPage {
	width:820px;
	text-align:left;
	padding:30px;
}
.joinTitle {
	font-weight:bold;
	font-size:30px;
	color:#0054b4;
	padding:20px 0;
}
.joinAgree {}
.joinCell {
	padding:8px 0;
}
.joinConfirm {
	padding:15px 0;
}
.bad {color:red;}
.good {color:#00b454;}
.joinMsg {height:400px;padding-top:200px;text-align:center;}
.loginJoin {
	display: block;
	width:52px;
	height:15px;
	margin: 3px auto;
	font-size:0;
	text-indent:-9999px;
	text-align:left;
	background:url('/pb/outlogin_skin/pgr_login/images/i_join.gif');
}
.loginLost {
	display: block;
	width:77px;
	height:15px;
	margin: 3px auto 20px;
	font-size:0;
	text-indent:-9999px;
	text-align:left;
	background:url('/pb/outlogin_skin/pgr_login/images/i_passwd.gif');
}
.tt .loginJoin  {display: inline-block;margin: 6px 4px !important;}
.tt .loginLost {display: inline-block;margin: 6px 4px !important;}
.mm .loginLost {display:none;}
.tt #pgrLogin {text-align:center;}
/* //회원가입 */

/* 운영진소개 */
.staffInfo {padding:20px 0 20px 140px;}
.master {width: 780px;border-collapse: collapse;}
.master td {border: 1px solid #bbb !important;padding:3px;text-align:center;}
.master th {padding: 5px !important; background-color: #0872c3; color: white; border: 1px solid #bbb !important;}
.master td:first-child {white-space:nowrap;}
.master tr:nth-child(even) {background-color: #F0F0F0;}
/* //운영진소개 */

/* 스크랩 */
.scrapWrap {padding: 40px;}
.scrap {
	font-size: 12px;
	border-collapse: collapse;
	border: none;
}
.scrap td{
	border-bottom: 1px solid #CCC;
	padding: 2px 6px;
}
.scrap td.aa {width:80px;text-align:center;}
.scrap td.bb {}
.scrap td.cc {width:100px;white-space:nowrap;overflow:hidden;}
.scrap td.dd {width:75px;white-space:nowrap;overflow:hidden;}
.scrap td.ee {width:30px;}
.scrap td.ee a {color:#b45400;}
.btnscrap {cursor:pointer;}
/* //스크랩 */

.emptySet {
	width:480px;
	margin: auto;
	padding-top:90px;
	text-align:center;
	color: #900;
}
.admin_only {display:none;}
.adm .admin_only {display:inline;}
#topSd {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -96px;
	border:1px solid #999;
}
#topSd:empty {
	border:none;
}
#topSd img {display:block;}
#topSdClose {
	position: absolute;
	right: -20px;
	top: -1px;
	width:20px;
	height:20px;
	background:url('/img/ad/btn_close.gif') no-repeat;
	cursor: pointer;
}
#google_ad {margin:20px 0;}
.mobile.ad {margin: 10px -6px;}

#footer {position:relative;}
.footbtns.btns a {margin-top:0;cursor:pointer;}
.pc .footbtns.btns .btn_pc,
.mm .footbtns.btns .btn_mm {display:none;}
body.mm.dd {font-size:12px !important;}
.manual.pc .mainWrapper {min-width:1000px;}

.blockUser {display:none !important;}
#mn_count {
	margin:0 0 20px 0;
	text-align:center;
	font-size:10px;
	font-family:tahoma,sans-serif;
}
#mn_count a {
	display:inline-block;
	padding: 0 4px;
	height: 14px;
	line-height:13px;
	text-align:center;
	background:#d94d4d;
	color:#FFF;
	border:2px solid #FFF;
	box-shadow:0 0 3px rgba(0,0,0,.3);
	border-radius:100px;
	white-space:nowrap;
}
.myRe:before {
	content:"";
	position:absolute;
	width:74px;
	height:16px;
	top:5px;
	left:-80px;
	background:url('/img/cmt_arrow3.png') no-repeat;
}

/* ========================== 광고 ========================== */
@media all and (max-width: 1022px) {
	#topSd {display:none;}
	#sideSd {display:none;}
}
/* ========================== 태블릿 이하 ========================== */
/* @media all and (max-width: 800px) { */
	.tt .joinPage {width:100%}
	.tt .joinPage input.input {width:180px;}
	.tt .staffInfo {padding:20px 0;}
	.tt .hDiv {
		margin: 10px 10px 10px 0;
	}
	.tt .notice_table {width: 100% !important;}
	.tt div.ellipsis {white-space:normal;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
	.tt #mainLeft > #mn_count {display:block;margin:-32px 5px 0 0;text-align:right;}
	.tt .emptySet {width:auto;}
/* } */

/* ========================== 모바일 ========================== */
/* @media all and (max-width: 767px) { */
	.mm .staffInfo {padding:20px 0;}
	.mm .master {width: 98%;margin:auto;}
	.mm .master td:first-child {width:25%;white-space:normal;}
	.mm .master td:nth-child(2) {width:35%;}
	.mm .scrapWrap {padding: 20px 0;}
	.mm .scrap td{padding: 3px 2px;}
	.mm .scrap td:first-child {width:10%;}
	.mm .hDiv ul {display:none;}
	.mm .hDiv {
		width:74px;
		position: relative;
		margin:0;
	}
	.mm .hDiv .bbsTit a:before {
		content:"";
		position:absolute;
		top:0;
		left:7px;
		width:60px;
		height:60px;
		margin:auto;
		border:1px solid #ccc;
		border-radius:15px;
		box-sizing:border-box;
	}
	.mm .hDiv .bbsTit {padding:0;}
	.mm .hDiv .bbsTit a {
		float:none !important;
		display:block;
		padding:65px 0 15px 0 !important;
		font-size:13px;
		text-align:center;
		white-space: nowrap;
		letter-spacing: -1px;
	}
	.mm #indexLatest {width:296px;margin:auto;padding:20px 0 0 0 !important;}
	.mm .modal {width:80%;}
/* } */


/* ========================== 불판모드 ========================== */
.bulpan .viewTable,
.bulpan .mainWrapper > .header,
.bulpan #mainLeft,
.bulpan #sideSd,
.bulpan .bbsTit,
.bulpan .bbsBox,
.bulpan .bbsSetup,
.mm.bulpan .bottomBanner,
.bulpan form[name=list],
.bulpan #footer,
.bulpan #viewFoot,
.bulpan #commentTop,
.bulpan .broken,
.bulpan #google_ad {display:none !important;}
.mm.bulpan #mainRight {display:block;padding: 0;}
.bulpan #voyarea2 {height:60px;}
.bulpan .cmtWrap {
	clear:both;
	height: 630px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10px;
	border-bottom:1px solid #CCC;
}
.bulpan .bul_area {margin-top:26px;}
.bulpan .mobile.ad {display:none !important;}
.bulpan .cmtWriteTable td {padding-left:5px;}
.btnBulpanRefresh {display:none !important;}
.bulpan .btnBulpanRefresh {display:block;float:left;width:40px;height:40px;padding:0;margin:4px 0 0 6px;border:1px solid #888;border-radius:5px;cursor:pointer;background:url('/img/ico_refresh.png') no-repeat 50%;}
.bulpan .btnNextBul,
.bulpan .btnPrevBul {display:block;float:left;width:40px;height:20px;padding:3px 0;margin:4px 0 0 6px;border:1px solid #888;border-radius:5px;cursor:pointer;text-align:center;font-size:12px;}
.bulpan #mainArea table {width:300px;float:left;}
.bulpan #form_0 {max-width:360px;margin:auto;}
