/* theme 2 - PGR Young */
body {-webkit-text-size-adjust:none;}

/* 기존 index용 css */
a.wt:link, a.wt:visited, a.wt:hover, .wt {color:#FFF;}
span.wt {display:none;}
a.wt {
	display:block;
	float:left;
	padding: 0 20px;
	line-height:28px;
	height:28px;
}
.header {background:#3d414d;}
.header a {font-size: 12px;}
.menu2 li a {font-size: 11px;font-family:dotum,돋움,sans-serif;letter-spacing:-1px;}
::selection {
	background: #5e6e9b;
	color:#FFF;
}
::-moz-selection {
	background: #5e6e9b;
	color:#FFF;
}
.sm {font-size: 9px;display:inline-block;vertical-align:top;}
#sideSd {
	position:absolute;
	right:0;
	top:15px;
	margin:0 -130px 0 0;
}
.bbsTit {
	background:url(/img/bg_bbstitle.png) repeat-x 0 13px;
	overflow:hidden;
	padding:10px 0;
	width:100%;
}
.bbsTit a:link,
.bbsTit a:visited,
.bbsTit a:hover {
	font-weight:bold;
	color:#6682b7 !important;
	display:block;
	float:left;
	line-height:22px;
	height:22px;
	padding: 0 8px 0 0;
	background:#FFF;
	text-decoration: none;
}
.bbsTit.alt a:link,
.bbsTit.alt a:visited,
.bbsTit.alt a:hover {
	color:#cd4f4f !important;
}
.bbsNotice {}
.bbsNotice a:link,
.bbsNotice a:visited {
	color:#246ee8;
	text-decoration:underline;
}
.bbsLink {}

/* 여기부터 원래 메인 */

html, body {height:100%;}
BODY {font-size:12px; font-family:굴림,gulim,돋움,dotum,sans-serif; color:black; line-height:15pt}
td {text-align:left;}
td.right {text-align:right;}

A:link    {color:#333;text-decoration:none;}
A:visited {color:#333;text-decoration:none;}
A:active  {color:#333;text-decoration:none;}
A:hover  {color:#333;text-decoration:none}

table {padding:0; border-spacing:0px; border:0; border-collapse:collapse;}
th, td {padding:0px;}
.tdnum,.tddate,.tdhit,.tdvote,.pt7 {font-family:tahoma;font-size:7pt;}
.vpt7 {font-family:verdana;font-size:7pt;}
img {border: none;}

.head {border:solid 1 black;font-size:9pt;color:black;background-color:white;height:19px}
.textarea {border:solid 1;font-size:9pt;color:black;background-color:white}
.input{border:solid 1;font-size:9pt;color:black;background-color:white;height:19px}
.input2{border:solid 0;font-size:9pt;color:black;background-color:white;height:16px}
.submit {border:solid 1;font-size:9pt;color:white;background-color:black;height:19px}

.keyword {color:#FF001E;background-color:#FFF000;}
.articleArea {clear:both;}

.boardtitle {
	display: inline-block;
	padding: 0 12px;
	margin-bottom: 3px;
	line-height: 26px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF !important;
	background: #c08156 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c08156), to(#a86a3f));
	background: #c08156 -moz-linear-gradient(top, #c08156, #a86a3f);
	text-shadow: 0 -1px 0 #a1653c;
	border-bottom: 1px solid #7c4e2e;
	border-radius: 5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	text-decoration: none;
}
.boardtitle:hover {
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.boardtitle:active {
	background: #c08156 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a86a3f), to(#c08156));
	background: #c08156 -moz-linear-gradient(top, #a86a3f, #c08156);
}
.titlevoy {
	display: inline-block;
	_display: inline;
	_width: 346px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 346px;
}
#mainLeft {width:120px;vertical-align:top;}
#mainRight {padding:0 6px;vertical-align:top;box-sizing:border-box;}
#indexLatest {max-width:1200px;}
h1, h2, h3, h4, h5, h6 {margin:0 !important;}
#logoimg_kr,
#logoimg {display:block;line-height:0;width:445px;}
#logoimg h1 {text-indent:-9999px;overflow:hidden;font-size:0;width:127px;height:50px;background:url('logo.png') no-repeat 0 2px;}
#logoimg_kr h1 {text-indent:-9999px;overflow:hidden;font-size:0;width:150px;height:50px;background:url('/img/logo_kr.png') no-repeat 0 2px;}
#mainArea {width:980px;position:relative;margin:auto;}
#footer {clear:both;height:55px;line-height:55px;text-align:center;color:#FFF;font-weight:bold;background:#3d414d;}

/* 탑이동 버튼 160926 추가 by boonsoo */
a.topBtn {
	position:relative;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	display: block;
	background-color:#f9f9f9;
	border-top: 1px solid #dedede;
	color: #267DCD;
	font-size: 15px;
	font-family: 'Malgun Gothic', sans-serif; 
}

a.topBtn:hover {
	text-decoration: none;
}

.mobileBtn {
	display:none;
}

.PCBtn {
	display:block;
}

@media all and (max-width: 784px) {
a.topBtn {
	position:fixed;
	z-index: 10;
	bottom: 55px;
	right: 10px;
	width: 40px;
	text-align: center;
	padding: 10px 0;
	display: block;
	background-color:rgba(255,255,255,.8);
	border:1px solid #acacac;
	border-radius: 3px;
	color: #000;
	font-size: 15px;
	font-family: 'Malgun Gothic', sans-serif; 
}

a.topBtn:hover {
	text-decoration: none;
}

.mobileBtn {
	display:block;
}

.PCBtn {
	display:none;
}
}

a.topBtn2 {
	position:relative;
	bottom:0;
	right:0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	display: block;
	background-color:#f9f9f9;
	border-top: 1px solid #dedede;
	color: #267DCD;
	font-size: 15px;
	font-family: 'Malgun Gothic', sans-serif; 
}

a.topBtn2:hover {
	text-decoration: none;
}

@media all and (max-width: 784px) {
a.topBtn2 {
	position:fixed;
	z-index: 10;
	right: 10px;
	bottom: 65px;
	left: auto;
	width: 40px;
	text-align: center;
	padding: 10px 0;
	display: block;
	background-color:rgba(255,255,255,.8);
	border:1px solid #acacac;
	border-radius: 3px;
	color: #000;
	font-size: 15px;
	font-family: 'Malgun Gothic', sans-serif; 
}

a.topBtn2:hover {
	text-decoration: none;
}
}



#nav {
	position:relative;
	background-color:#314b9a;
	font-weight:bold;
	overflow: hidden;
	border-top:1px solid #2e313b;
	box-sizing:border-box;
}
#nav a.wt {
	border-bottom:1px solid #273b7a;
	box-sizing:border-box;
	text-shadow:0 0 5px rgba(0,0,0,.4);
}
#nav a.wt:hover {
	background:#4164ce;
	border-bottom:1px solid #334fa4;
}
.sizer {
	position:absolute;
	top:4px;
	left:620px;
}
.sizer a img {display:block;width:12px;height:12px;}
.sizer a {cursor:pointer;display:inline-block;}
.sizer a:active {
	margin-top:2px;
}


#overDiv > div > div {display:none;}
#overDiv.m1 div.menu1,
#overDiv.m2 div.menu2,
#overDiv.m3 div.menu3,
#overDiv.m4 div.menu4,
#overDiv.m5 div.menu5 {display:block;}
#overDiv {
	height:25px;
	background-color:#f0f1f5;
	border-bottom:1px solid #cbd0d3;
	box-sizing:border-box;
}
#overDiv ul {margin: 0 0 0 25px;}
#overDiv li {float:left;list-style:none;padding:0;margin:0;}
#overDiv a {
	display:block;
	line-height:25px;
	padding:0 6px;
	color:#444;
	text-shadow:0 1px 0 #FFF;
}
#overDiv a:hover {
	color:#246ee8;
	background:#DDD;
	text-shadow:0 1px 0 #EEE;
}
.menu4 ul {padding-left:180px;}
.menu5 ul {padding-left:250px;}

/*
#overDiv div {
	display:none;
	position:absolute;
	z-index: 5;
	background:#FFF;
	border: 2px solid #9b583a;
	border-radius: 3px;
	box-shadow:2px 2px 3px rgba(0,0,0,.2);
}
#overDiv.m1 div.menu1,
#overDiv.m2 div.menu2,
#overDiv.m3 div.menu3,
#overDiv.m4 div.menu4 {display:block;}
div.menu1 {left:60px;}
div.menu2 {left:115px;}
div.menu4 {left:170px;}
#overDiv {
	height:23px;
	padding-top:2px;
	background-color:#dcc8bb;
}
#overDiv ul {margin:0;}
#overDiv a {display:block;text-align:center;padding:4px 8px;line-height:1.3;}
#overDiv a:link {text-decoration: none;}
#overDiv a:hover {background:#F3F3F3;}
#overDiv a:before {}
#overDiv li:first-child a:before {content:none;} */

.circle-container .circle {background-color: #6a85a3 !important;}
.hDiv .tit {border: 1px solid #314b9a !important;background-color: #5e6e9b !important;}

#mobileNav {display:none;}

/* 코멘트 라인 */
#cmtline {
	display:none;
	position:absolute;
	width:74px;
	height:0;
	margin:-6px 0 0 -56px;
	border-left:1px dashed #D64C4C;
	border-bottom:1px dashed #D64C4C; 
}
#cmtline:before {
	content:"";
	position:absolute;
	width:74px;
	height:16px;
	top:0;
	left:0;
	background:url('/img/cmt_arrow2.png') no-repeat;
	margin:-20px 0 0 -27px;
}
.cmtline {
	display:none;
	position:absolute;
	top:0;
	left:0;
	margin-top:-2px;
	width:10px;
	height:10px;
	border:2px solid #CFCFCF;
	border-radius:20px;
	background:#FFF;
	cursor:pointer;
}
.cmtName {
	position:relative;
	padding-left: 20px;
	margin-left: -20px;
}
.cmtName > .btn-group {margin-left:10px;}
.depth1 .cmtName:hover .cmtline,
.depth2 .cmtName:hover .cmtline,
.depth3 .cmtName:hover .cmtline {display:block;}
.parentArticle .cmemo {background:#F2EEEE;}
.myArticle {background-color: #edf4f8;}
#mainRight .listnotice .tdnum {background-color: #a7a7a7 !important;}
.pagination ul > li > a.currentPage {color: #246ee8 !important;background-color: #edf4f8 !important;}
.pagination ul > li > a.currentPage:hover {color:#FFF !important;background-color: #8bc3e3 !important;}

.lockedCmt, .admCmt, .adminMsg {
	position:relative;
	margin:23px;
	padding:30px;
	backgroud-color:#FFF;
	text-align:left;
	font-weight:bold;
	border:2px solid #888;
	border-radius: 0 6px 6px 6px;
}
.admCmt {padding:10px;margin:25px 0 8px 0;font-weight:normal;}
.adminMsg {padding:10px;margin:35px 0 0 0;}
.adminMsg:after,
.lockedCmt:after,
.admCmt:after {
	display:inline-block;
	position:absolute;
	content:"운영 메시지";
	top: -24px;
	left: -2px;
	padding: 0px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: whiteSmoke;
	border:2px solid #888;
	border-bottom:none;
	color: #777;
	text-shadow:1px 1px 0 #FFF;
	border-radius: 6px 6px 0 0;
}
.adminMsg:after {top: -23px;}
.blind {display:none;}
.myArticle .blind,
.adm .blind {display:block;background-color:#CBABCF;border-radius:5px;padding:3px;}
.adm .btn {display:inline-block !important;}

/* 로그인 */
#pgrLogin {
	position:relative;
}
#pgrLogin .loginid,
#pgrLogin .loginpw {
	padding:0 5px;
	width:94px;
	height:20px;
	line-height:20px;
	border-radius: 0;
	margin:6px 7px 0 7px;
}
#pgrLogin .loginpw {width:50px;margin:4px 3px 5px 7px;}
#pgrLogin input[type=image] {
	position:absolute;
	top:32px;
	right:7px;
}
.logged {
	padding:10px 0;
	text-align:center;
}

#nav .hWrap {position:relative;}

.vote_area {color:#2d73dc;}
.btn_vote:hover:before {
	background-color: #c6f0f8;
}

/* 플로팅 메뉴 */
#floatingNav {
	position:fixed;
	z-index:20;
	bottom:45%;
	cursor:pointer;
}
.navUp {
	display:block;
	width:30px;
	height:28px;
	background:url('btn_updown.png') no-repeat;
}
.navUp:hover {background-position:-31px 0;}
.navUp:active {background-position:-62px 0;}
.navDown {
	display:block;
	width:30px;
	height:28px;
	background:url('btn_updown.png') no-repeat 0 -28px;
}
.navDown:hover {background-position:-31px -28px;}
.navDown:active {background-position:-62px -28px;}
@media screen and (-webkit-min-device-pixel-ratio:2){}
@media all and (max-width: 1024px) {#floatingNav {left:auto;right:5px;bottom:5px;}}

#mbNav {display:none;}
.mobile {display:none !important;}
#bbsSet a {margin:3px 0;}
#viewFoot {width:100%;}
.bbsSetup {overflow:hidden;}
.category {float:left;}
.category b a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49AFCD;
	background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	border-color: #2F96B4 #2F96B4 #1F6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.category b a:hover,
.category b a:active {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.category b a:hover,
.category b a:active {
  background-color: #24748c \9;
}
.noborder {padding:10px;text-align:left;padding-top: 20px;}
.noborder td {border-bottom:none !important;}
.noborder img {max-width:100%;}

.header .hWrap {position:relative;}
.search-form {
	position: absolute;
	top: 17px;
	right: 10px;
}
.search-form input[type="text"] {
	padding: 2px 6px;
	height: 20px;
	background-color:#dee2eb;
}
.search-form input[type="submit"] {
	padding: 2px 6px;
	display: inline-block;
	height: 26px;
	line-height: 20px;
	border-radius: 4px;
	vertical-align: middle;
	margin-bottom: 10px;
	border:none;
	background-color:#969eb5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b8bece), to(#969eb5));
	background-image: -webkit-linear-gradient(top, #b8bece, #969eb5);
	background-image: -moz-linear-gradient(top, #b8bece, #969eb5);
	background-image: -ms-linear-gradient(top, #b8bece, #969eb5);
	background-image: -o-linear-gradient(top, #b8bece, #969eb5);
	background-image: linear-gradient(top, #b8bece, #969eb5);
	color:#555;
	color:rgba(0,0,0,.8);
	text-shadow:0 1px 0 rgba(255,255,255,.3);
	overflow:hidden;
}
.search-form input[type="submit"]:active {
	line-height: 24px;
	background-color:#b8bece;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#969eb5), to(#b8bece));
	background-image: -webkit-linear-gradient(top, #969eb5, #b8bece);
	background-image: -moz-linear-gradient(top, #969eb5, #b8bece);
	background-image: -ms-linear-gradient(top, #969eb5, #b8bece);
	background-image: -o-linear-gradient(top, #969eb5, #b8bece);
	background-image: linear-gradient(top, #969eb5, #b8bece);
}

@media all and (max-width: 1024px) { /* ipad Landscape */
	.iOS #floatingNav {display:none;}
	.iOS #mbNav {display:block;}
}

body.set_unread td.tdsub a:link {color:#3783eb !important;/* background-color: #edf4f8; */}
body.set_unread .listnotice td.tdsub a:link,
body.set_unread td.tdsub a:visited {color:#000 !important;/* background-color: #FFF; */}

body.set_unread .mine td.tdsub a:visited,
.mine td {background-color:#edf4f8 !important;}
body.set_unread .currentTr td.tdsub a:visited,
.currentTr {background-color:#F2EEEE !important;}
body.set_unread .listtr:hover td.tdsub a:visited,
body.set_unread .listnotice.listtr:hover td.tdsub a:link,
.listtr:hover td {background-color: #f2f2f2 !important;}

	

/* ========================== 데스크탑 모드 ========================== */

.hWrap {width:980px;margin:auto;}
#mainArea table {width:100%;}
#mainLeft {background-color:#f7f7f9;}
#floatingNav .navUp, #floatingNav .navDown {
	position:absolute;
	top:0;
	left:1000px;
}
#floatingNav .navDown {
	margin-top:28px;
}
@media all and (min-width: 1170px) {
	.hWrap {width:1140px;}
	#mainArea {padding-right: 160px;}
	#sideSd {margin: 0 !important;}
}

/* ========================== 태블릿 이하 ========================== */
/* @media all and (max-width: 800px) { */
	BODY.tt {font-size:14px;}
	.tt #mainLeft {position:absolute;width:100%;height:40px;}
	.tt #mainLeft > * {display:none;}
	.tt #mainLeft > form {display:block;}
	.tt .hWrap {width:100%;}
	.tt #pgrLogin {margin-left:12px;}
	.tt #pgrLogin .loginid,
	.tt #pgrLogin .loginpw {
		width:75px;
		height:25px;
		line-height:25px;
		font-size:16px;
		margin:6px 1px;
	}
	.tt #pgrLogin input[type=image] {
		position:static;
		margin:6px 7px 6px 0;
		vertical-align: middle;
	}
	.tt .listtr:hover td.tdname,
	.tt .currentTr td.tdname {background-color: transparent !important;}
	.tt .loginJoin {display:inline-block;margin:6px 7px}
	.tt .logged > * {white-space:nowrap;}
	.tt #mainRight {display:block;width:768px;margin:0;padding:40px 13px 0 13px;box-sizing:border-box;}
	.tt #indexLatest {padding:0 !important;}
	.tt #mainArea {width:100% !important;}
	.tt #setting {padding:15px;}
	.tt .noborder {padding:20px 0 0;}
	/* .tt .navUp, .tt .navDown {position:static;margin-top:0;width:45px;height:42px;background-image:url('btn_updown_2x.png');-webkit-background-size:139.5px 85.5px;} */
	.tt .navUp:hover {background-position:-46.5px 0;}
	.tt .navUp:active {background-position:-93px 0;}
	.tt .navDown {background-position:0 -42px;}
	.tt .navDown:hover {background-position:-46.5px -42px;}
	.tt .navDown:active {background-position:-93px -42px;}
/* } */

/* ========================== 모바일 ========================== */
/* @media all and (max-width: 767px) { */
	.mm .sizer {display:none;}
	.mm .mobile {display:block !important;}
	BODY.tt.mm  {font-size:16px;}
	.mm #mainArea {width:100% !important;}
	.mm #mainRight {width:100%;padding:40px 6px 0 6px;margin:auto;float:none !important;min-width:0 !important;max-width:none !important;}
	.mm .hDiv .tit {padding: 4px 5px;}
	.mm #logoimg,
	.mm #logoimg_kr,
	.mm #nav {display:none;}
	.mm .mine td.tdname {background-color: transparent !important;}
	body.mm:not(.iOS) #nav {
		display:block;
		position:absolute;
		width:0;
		height:0;
		top:0;
		left:0;
		background:transparent;
	}
	.mm #mobileNav {
		display:block;
		height:45px;
		line-height:45px;
		overflow:hidden;
		background: url('m_bg.png') repeat-x;
		box-shadow: 0 0 2px rgba(0,0,0,.5);
	}
	.mm #mobileNav a.home {
		display:block;
		text-align:center;
		color:#FFF;
		font-size:20px;
		font-weight:bold;
		text-shadow: 0 -1px rgba(0,0,0,.1);
		text-decoration: none;
	}
	.mm #overDiv {height:auto;overflow:hidden;}
	.mm #overDiv div.menu1 {}
	.mm #overDiv li {
		float:left;
		width:50%;
		background:#EEE;
	}
	.mm #overDiv li a {
		position:relative;
		display:block;
		font-size:16px;
		line-height:35px;
		text-align:left;
		box-sizing:border-box;
		padding-left:15px;
	}
	.mm #overDiv li:nth-of-type(4n-1),
	.mm #overDiv li:nth-of-type(4n-2) {background:#FFF;}
	.mm #overDiv li.mobile {}
	.mm #overDiv ul {margin:0;display:block;overflow:hidden;background:#FFF;}
	.mm .mainWrapper {width:100%;overflow:hidden;}
	/* icons */
	.mm #overDiv li a:before {
		content:"" !important;
		background:url(set_icons_160921.png) no-repeat; /* 160930 수정 by boonsoo */
		display:block;
		position:absolute;
		top:50%;
		margin-top:-8px;
		right:7px;
		width:16px;
		height:16px;
		background-size:516px 64px;
		overflow:hidden;
	}
	.mm #overDiv li a[href$="gamenews"]:before {background-position:0 0;}
	.mm #overDiv li a[href$="series"]:before {background-position:-32px 0;}
	.mm #overDiv li a[href$="free2"]:before {background-position:-64px 0;}
	.mm #overDiv li a[href$="ace"]:before {background-position:-96px 0;}
	.mm #overDiv li a[href$="interview"]:before {background-position:-160px 0;}
	.mm .ico-envelop:before {background-position:-192px 0;}
	.mm #overDiv li a[href*="viewscrap"]:before {background-position:-224px 0;}
	.mm #overDiv li a[href$="proposal"]:before {background-position:-256px 0;}
	.mm #overDiv li a[href*="setting"]:before {background-position:-288px 0;}
	.mm #overDiv li a[href*="staff"]:before,
	.mm #overDiv li a[href$="master"]:before {background-position:-320px 0;}
	.mm .ico-key:before {background-position:-352px 0;}
	.mm .ico-lock:before {background-position:-384px 0;}
	.mm #overDiv li a[href$="newvod"]:before {background-position:-416px 0;}
	.mm #overDiv li a[href$="recommend"]:before {background-position:-448px 0;}
	.mm #overDiv li a[href$="bulpan"]:before {background-position:-480px 0;}
	.mm #overDiv li a[href$="freedom"]:before {background-position:0 -32px;}
	.mm .ico-reply:before {background-position:-32px -32px;}
	.mm #overDiv li a[href$="election"]:before {background-position:-64px -32px;}
	.mm #overDiv li a[href$="humor"]:before {background-position:-96px -32px;}
	.mm #overDiv li a[href$="daku"]:before {background-position:-128px -32px;}
	.mm #overDiv li a[href$="qna"]:before {background-position:-160px -32px;}
	.mm #overDiv li a[href$="discuss"]:before {background-position:-192px -32px;}
	.mm #overDiv li a[href$="deleted"]:before {background-position:-256px 0;}
	.mm #overDiv li a[href$="notice"]:before {background-position:-128px 0;}
	.mm #overDiv li a[href$="genius"]:before {background-position:-224px -32px;}
	.mm #overDiv li a[href$="olympic"]:before {background-position:-288px -32px;}
	.mm #overDiv li a[href$="spoent"]:before {background-position:-352px -32px;} /* 160921 추가 by boonsoo */
	.mm #overDiv li a[href$="ombudsman"]:before {background-position:-384px -32px;} /* 160921 추가 by boonsoo */
	.mm #overDiv li a[href$="member_notice.php"]:before {background-position:-320px -32px;}
	.mm .cmtName span,
	.mm .tdname span {color: #adb4bd !important;}

	.mm .hDiv .bbsTit a:before {
		background:url(set_icons.png) no-repeat;
		background-position:14px 14px;
	}
	.mm .hDiv .bbsTit a[href$="gamenews"]:before {background-position:14px 14px;}
	.mm .hDiv .bbsTit a[href$="series"]:before {background-position:-50px 14px;}
	.mm .hDiv .bbsTit a[href$="free2"]:before {background-position:-114px 14px;}
	.mm .hDiv .bbsTit a[href$="ace"]:before {background-position:-178px 14px;}
	.mm .ico-bullhorn:before {background-position:-242px 14px;}
	.mm .hDiv .bbsTit a[href$="interview"]:before {background-position:-146px 14px;}
	.mm .ico-envelop:before {background-position:-370px 14px;}
	.mm .hDiv .bbsTit a[href*="viewscrap"]:before {background-position:-434px 14px;}
	.mm .hDiv .bbsTit a[href$="proposal"]:before {background-position:-498px 14px;}
	.mm .hDiv .bbsTit a[href*="setting"]:before {background-position:-562px 14px;}
	.mm .hDiv .bbsTit a[href*="staff"]:before,
	.mm .hDiv .bbsTit a[href$="master"]:before {background-position:-626px 14px;}
	.mm .ico-key:before {background-position:-690px 14px;}
	.mm .ico-lock:before {background-position:-754px 14px;}
	.mm .hDiv .bbsTit a[href$="newvod"]:before {background-position:-818px 14px;}
	.mm .hDiv .bbsTit a[href$="recommend"]:before {background-position:-882px 14px;}
	.mm .hDiv .bbsTit a[href$="bulpan"]:before {background-position:-946px 14px;}
	.mm .hDiv .bbsTit a[href$="freedom"]:before {background-position:14px -50px;}
	.mm .ico-reply:before {background-position:-50px -50px;}
	.mm .hDiv .bbsTit a[href$="election"]:before {background-position:-50px -50px;}
	.mm .hDiv .bbsTit a[href$="humor"]:before {background-position:-178px -50px;}
	.mm .hDiv .bbsTit a[href$="daku"]:before {background-position:-242px -50px;}
	.mm .hDiv .bbsTit a[href$="qna"]:before {background-position:-306px -50px;}
	.mm .hDiv .bbsTit a[href$="discuss"]:before {background-position:-370px -50px;}
	.mm .hDiv .bbsTit a[href$="deleted"]:before {background-position:-498px -50px;}
	.mm .hDiv .bbsTit a[href$="notice"]:before {background-position:-242px 14px;}
	.mm .hDiv .bbsTit a[href$="genius"]:before {background-position:-434px -50px;}
	.mm .hDiv .bbsTit a[href$="olympic"]:before {background-position:-562px -50px;}
	.mm .hDiv .bbsTit a[href$="spoent"]:before {background-position:-692px -50px;} /* 160921 추가 by boonsoo */
	.mm .search-form {display:none;}
/* } */


