/* 기존 스킨 style.css */

.head {border:solid 1 black;font-size:9pt;color:black;background-color:white;height:19px}
.textarea {border:solid 1; font-size:9pt;color:black;background-color:white}
.input{border:solid 1;font-size:9pt;color:black;background-color:white;height:19px}
.input2{border:solid 0;font-size:9pt;color:black;background-color:white;height:16px}
.submit {border:solid 1;font-size:9pt;color:white;background-color:black;height:19px}

.pt7 {font-family:tahoma;font-size:7pt;}
.vpt7 {font-family:verdana;font-size:7pt;}
img {border: none;}

table {padding:0; border-spacing:0px; border:0; border-collapse:collapse;}
th, td {padding:0px;}
.vcm {position:relative;z-index:2;text-align:left;}
.vc_right {
	display: block;
	position: absolute;
	right: 0;
	top:0;
	padding:3px 0;
}
.cmemo {
	padding: 4px 0 2px;
	clear:both;
	padding-bottom: 1px;
	border-bottom: 1px solid #ddd;
	word-break: break-all;
}

.btns a, .btns input[type=button], .btns input[type=submit] {
	margin-top: 8px;
	display: inline-block;
	padding: 0 12px;
	line-height: 26px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #333;
	background: #f7f7f7;
	background: #f7f7f7 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#f0f0f0));
	background: #f7f7f7 -moz-linear-gradient(top, #FFF, #f0f0f0);
	background: #f7f7f7 -ms-linear-gradient(top, #FFF, #f0f0f0);
	border: 1px solid #bebdbd;
	border-radius: 3px;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none !important;
	vertical-align: middle;
}
.btns a:hover, .btns input[type=button]:hover, .btns input[type=submit]:hover {
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.5);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.btns a:active, .btns input[type=button]:active, .btns input[type=submit]:active {
	background: #f7f7f7 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d2d2d2), to(#EEE));
	background: #f7f7f7 -moz-linear-gradient(top, #f0f0f0, #FFF);
	background: #f7f7f7 -ms-linear-gradient(top, #f0f0f0, #FFF);
}
.articleArea {clear:both;}
.currentTr {background-color:#F2EEEE;}
.tdcheck {
	position:absolute;
	border:none !important;
	background:transparent !important;
}
.btn_bul {
	display:inline-block;
	vertical-align:middle;
	width:12px;
	height:12px;
	border:2px solid #CCC;
	border-radius:100%;
	margin-right:4px;
	cursor:pointer;
}
.mm .btn_bul {display:none !important;}
.tdcheck input {position:absolute;z-index:5;margin-top:2px;}
th.tdcheck {position:absolute;padding: 0 !important;}
.tdnum {white-space:nowrap;text-align:center;}
.tdname {white-space:nowrap;padding-right:10px !important;text-align:center;font-weight:bold;}
.tddate {white-space:nowrap;text-align:center;}
.tdhit {white-space:nowrap;text-align:center;}
.tdvote {white-space:nowrap;text-align:center;font-weight:normal;}
.listnotice .tdnum {background-color:#d4af95;color:#FFF;font-size:12px;font-weight:bold;}
table.list {position:relative;}
td.cmemo {
	padding:6px 0;
}
.listtr:hover {background-color:#f2f2f2}
.aReply {float:left;white-space:nowrap;padding:3px 0;}
.aReply a+span {font-weight:bold;}
.btn_aa_report,
.btnscrap {display:block;color:#555;margin: 4px 0 4px 0;float:right; width:70px;text-align:center;font-size:12px;font-weight: bold;padding: 2px 3px;border:2px solid #DDD;}
.btn_aa_report {border:2px solid #EE6969;}
.listhead th {
	border-top: 2px solid #d5d5d5;
	padding: 3px 14px;
	font-size: 12px;
	border-bottom: 1px solid #d5d5d5;
}
.listhead th a{
	color: #000 !important;
	font-weight: normal;
}
.listhead td {text-align:left;}
.list td {
	padding: 7px 0; /* 천천히 9 까지 */
	line-height: 1.2;
	border-bottom:1px solid #e9e9e9;
}
.list td img {vertical-align:top;}
.list td a{
	color: #000 !important;
}
a:target {
	margin-top: -120px;
	display: block;
	position: absolute;
}
a:target:before {
	content: "";
	margin: 115px 0 0 -8px;
	display: block;
	position: absolute;
	width: 200px;
	height: 26px;
	border: 3px solid red;
}
#voyarea:before {
	content:"";
	display:block;
	width:10px;
	height:10px;
}
span.bd {
	color: #be2e2f !important;
	background: #FFF5F5;
}
.txtGray {
	color: #666 !important;
	font-size:11px;
	font-family:dotum,돋움,sans-serif;
}
a.auto {
	color: #155FC5 !important;
	background: #F2F8FF;
	word-wrap:break-word;
}
a.auto_new {
	color: #029149 !important;
	background: #F3FBF8;
	margin-left:10px;
}
a.auto_new:before {content:"[";}
a.auto_new:after {content:"]";}
td {word-break: break-word;}
td.tdsub {text-align:left;line-height:1.2;padding-left:5px;}
td.tdsub a {
	max-width:640px;
	display: inline-block;
	white-space:normal;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align:middle;
}
td.tdsub.secret {padding-left:14px;background:url('/pb/skin/yui_brownbox_ani_blue/secret_head.gif') no-repeat 0 9px;font-size:0;}
td.tdsub.secret:before {content:"비밀글입니다";font-size:12px;color:#999;}
.adm td.tdsub.secret,
.mine td.tdsub.secret {font-size:12px;}
.admmenu {display:none;}
.adm .admmenu {display:block;
position:absolute;top:160px;left:10px;font-weight:bold;
}
.mm .admmenu {display:none !important;}
.adm td.tdsub.secret:before,
.mine td.tdsub.secret:before {content:none;}
td.tdsub span {/* vertical-align:top; */}
.listfoot {position:relative;border-collapse:collapse;width:100%;}
.listfootLeft {position:absolute;white-space:nowrap;}
.listfootRight {position:absolute;right:0;text-align:right;}
.tdpagenation {clear:both;margin:auto;text-align:center;padding-top:50px;white-space:nowrap;}
.btnPrev10,
.btnNext10 {display:inline-block;line-height:30px;}
.pagination {display:inline-block;vertical-align: middle;margin:15px 10px 0 10px !important;}
.pagination ul > li > a, .pagination ul > li > span {padding:4px 12px !important;}
.pagination ul > li > a.currentPage {color:#a57d61 !important;font-weight:bold;background-color:#ede5df;}
.pagination ul > li > a.currentPage:hover {background-color:#ede5df !important;}
.searchArea {border-collapse:collapse;width:100%;}
.searchArea .d1 {text-align:center;}
.searchArea .d2 {text-align:center;}

.plusRed {color:#FF5555;font-size:11px;font-weight:normal !important;}
.plusBlue {color:#5555FF;font-size:11px;font-weight:normal !important;}
.plusNew {color:#30A000;font-size:11px;font-weight:normal !important;}
.deleted_subject,
.deleted_name {color:#888 !important;font-weight:normal !important;}
#overDiv li.alt {background-color: #EEDCDC;}
#overDiv li.temp {background-color: #DCE5EE;}

.view_foot_area {
	text-align:center;
	font-weight:bold;
}
.report_area {display:inline-block;vertical-align: top;color:#777}
.vote_area {display:inline-block;margin-right:30px;vertical-align: top;}
.btn_a_report,
.btn_vote {
	margin-bottom: 15px;
	width: 64px;
	height: 64px;
	display: inline-block;
	position: relative;
	line-height: 64px;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f1f1f1);
	background-image: -moz-linear-gradient(top, #fdfdfd, #f1f1f1); 
	background-image: -ms-linear-gradient(top, #fdfdfd, #f1f1f1); 
	background-image: -o-linear-gradient(top, #fdfdfd, #f1f1f1);
	background-image: linear-gradient(top, #fdfdfd, #f1f1f1);
	border-radius: 32px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}
.btn_a_report:active,
.btn_vote:active {
	top: 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fdfdfd));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #fdfdfd);
	background-image: -moz-linear-gradient(top, #f1f1f1, #fdfdfd); 
	background-image: -ms-linear-gradient(top, #f1f1f1, #fdfdfd); 
	background-image: -o-linear-gradient(top, #f1f1f1, #fdfdfd);
	background-image: linear-gradient(top, #f1f1f1, #fdfdfd);
}
.btn_a_report:before,
.btn_vote:before{
	content: '';
	position: absolute;
	z-index: -1;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: #DDD;
	border-radius: 140px;
	opacity: 0.5;		
}
.btn_a_report:active:before,
.btn_vote:active:before {
	top: -9px;
}
.btn_a_report:hover:before,
.btn_vote:hover:before { opacity: 1; }
.btn_a_report img,
.btn_vote img { vertical-align: -12px; }
.btn_a_report:hover:before {background-color:#f8cec6;}

object, embed {max-width:820px !important;}
a.noLink {display:none;}
.adminTextarea {width:90%;}
/* 코멘트 depth */
.depth1,
.depth2,
.depth3,
.depth4,
.depth5,
.depth6,
.depth7,
.depth8,
.depth9,
.depth10 {padding-left:4%;}
#voyarea {width:100%}
#voyarea2 {height:150px;width:100%;white-space:wrap;overflow:auto;box-sizing:border-box;color:#000;}
#voyarea.reply td {padding-left:5%;} /* 댓글쓰기 창 토글 */
.depth1 #voyarea.reply td {padding-left:0;}

#viewFoot {margin:20px 0 40px;}
#commentTop,#cmtWriteTop,#footerTop,#viewFootTop,#articleTop {border-top:4px dashed rgba(255,0,0,0);}
#footerTop {clear:both;}
.viewTable {table-layout:fixed;width:100%;border-top:2px solid #e5e5e5;}
#commentTop {border-bottom:1px solid #DDD;}
.flashbar {
    -webkit-animation: flashbar 1s 1;
    -moz-animation: flashbar 1s 1;
}
.flashbar2 {
    -webkit-animation: flashbar2 1s 1;
    -moz-animation: flashbar2 1s 1;
}
@-webkit-keyframes flashbar {
    0%,100% {border-top:4px dashed rgba(255,0,0,0);}
    50% {border-top:4px dashed rgba(255,0,0,1);}
 }
@-moz-keyframes flashbar {
    0%,100% {border-top:4px dashed rgba(255,0,0,0);}
    50% {border-top:4px dashed rgba(255,0,0,1);}
 }
@-webkit-keyframes flashbar2 {
    0%,100% {border-top:4px dashed rgba(255,0,0,0);}
    50% {border-top:4px dashed rgba(255,0,0,1);}
 }
@-moz-keyframes flashbar2 {
    0%,100% {border-top:4px dashed rgba(255,0,0,0);}
    50% {border-top:4px dashed rgba(255,0,0,1);}
 }
.searchKeyword {width: 185px; height: 20px; border:1px solid #9f9f9f;padding: 2px 0 0 0;}

/* 회원 관리 레이어 */
.memberNameLayer {
	display:none;
	position:absolute;
	z-index:10;
	border:1px solid #666;
	padding:3px;
	background:#FFF;
	cursor:pointer;
	margin:10px 0 0 -20px
}
.memberNameLayer div {
	padding:0 25px;
	line-height:30px;
	border-top:1px solid #DDD;
}
.memberNameLayer div:hover {background:#EEE;}
.memberNameLayer div:first-child {border:none;}
.memberNameLayer div.admin {background:#FEE;}
.memberNameLayer div.admin:hover {background:#f9dFdF;}
/* 글자수 제한 */
.writeBar {
	position: relative;
	float:right;
	width:152px;
	height:41px;
	margin-bottom:5px;
	background:url(/img/pb_write_bar.png) no-repeat;
}
.textNums {
	margin:0 0 0 40px;
	width: 90px;
	text-align: center;
	color:#666;
}
#textNums {color:#b45400;}
#writebar {
	position:absolute;
	bottom:6px;
	left:45px;
	width:101px;
	height:5px;
	background:url(/img/pb_write_bar.png) no-repeat -45px -43px;
}
.bbsBox {font-size:11px;font-family:dotum,돋움,sans-serif;color:#666;}
.bbsNotice {}
.bbsLink {}
.plusTime {
	margin-top: -65px;
	position: absolute;
}
.viewDate {
	font-size:11px;
	color:#999;
}
.newReply {
	padding-left:20px;
	background:url(/pb/skin/yui_brownbox_ani_blue/arr.gif) no-repeat 3px 40%;
}
.newReply a {
	padding-left:12px;
}
.broken {
	position:relative;
	border-top:40px solid transparent;
}
.broken:before {
	position:absolute;
	left:0;
	top:-40px;
	display:block;
	width:100%;
	box-sizing:border-box;
	height:40px;
	background:url(/img/broken_link.png) no-repeat 3px 10px;
	padding-left:27px;
	padding-top:10px;
	content:'부모글이 삭제되었습니다 (계층깨짐)';
	color:#666;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	margin-top:-1px;
}
.broken.depth2:before,
.broken.depth3:before,
.broken.depth4:before,
.broken.depth5:before,
.broken.depth6:before,
.broken.depth7:before,
.broken.depth8:before,
.broken.depth9:before,
.broken.depth10:before {}
.topbtns {position:relative;}
.topbtns .btns {position:absolute;right:0;margin-top:-63px;}
.topbtns > a {color:#666 !important;float:right;padding: 8px 0 15px 0;}

.listfootLeft a:nth-of-type(2) {
	color: #ffffff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	background-color: #363636 !important;
	background-image: -moz-linear-gradient(top, #444444, #222222) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222)) !important;
	background-image: -webkit-linear-gradient(top, #444444, #222222) !important;
	background-image: -o-linear-gradient(top, #444444, #222222) !important;
	background-image: linear-gradient(to bottom, #444444, #222222) !important;
	background-repeat: repeat-x !important;
	border-color: #222222 #222222 #000000 !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

#tipMsg {
	position: absolute;
	width: 550px;
	height:377px;
	margin: -420px 0 0 220px;
	background: url('/img/voy/st_bg.png') no-repeat;
	overflow: hidden;
}
#tipMsg b {
	display:none;
}
.closedCmt {
	display:inline-block;
	padding:2px;
	font-size:11px;
	font-family:dotum,sans-serif;
	font-style:normal;
	letter-spacing:-1px;
	border-radius:3px;
	background:#888;
	color:#FFF;
	vertical-align:middle;
}

/*Type*/
#tipMsgTxt {
	text-align:center;
	font-size:22px;
	color:#FFF;
	text-shadow:-1px -1px 0 rgba(0,0,0,.8);
	line-height:1.3;
	padding-top:60px;
	font-family: 'daumregular', daumregular, sans-serif;
}
#tipMsgTxt i {
	display:block;
	font-style: normal;
	font-size:16px;
	color:#a3a5a7;
	line-height:1.5;
}
#tipMsg a {
	position: absolute;
	display:block;
	color:#d8d656;
	font-family: 'daumregular', daumregular, sans-serif;
	cursor:pointer;
	font-size: 18px;
	white-space: nowrap;
	right: 21px;
	bottom: 18px;
	width: 110px;
	text-align: center;
	line-height: 30px;
}

#report {
	position:absolute;
	left: 0;
	width: 460px;
	margin: 30px 0 0 -20px; /* 위치 보정 */
}
.mm #report {width:94%}
#report .modal-footer {
	text-align:left;
}
#report .btn-group button {
	font-size:12px;
	padding: 2px 8px;
}
#report p {
	margin: 10px 0 5px;
}


.reportTxt {
	display:block;
	width:416px;
	height:70px;
}

@media all and (max-width: 767px) { /* 160923 추가 by boonsoo */
.reportTxt {
	display:block;
	width:100%;
	height:70px;
	padding: 0px !important;
}
}
.tdname i {display:none;}
.mm input.reportTxt {width:94%}
.adm_readed {
	display: block;
	overflow: hidden;
	padding:1px 0 0 1px;
	margin:20px 0;
}
.adm_readed li {
	float:left;
	overflow: hidden;
	list-style: none;
	margin:-1px 0 0 -1px;
}
.adm_readed .adm_nick {
	float:left;
	width:80px;
	height:16px;
	padding:3px 5px;
	border:1px solid #EEE;
	text-align: center;
}
.adm_readed li i {
	float:left;
	width:50px;
	height:16px;
	padding:3px 5px;
	font-style: normal;
	font-weight: bold;
	color:#be2e2f;
	border:1px solid #EEE;
	margin-left:-1px;
	text-align: center;
}
#secret_check {position: absolute;margin-top: -30px;visibility: hidden;}
.can_write_secret #secret_check,
.adm #secret_check {position: static;margin-top: 0;visibility: visible;}
.can_write_secret .secret_txt:before,
.adm .secret_txt:before {content:" 비밀글 ";font-family:gulim;font-size:12px;}

/* For character bugs existing on Chrome browser / supported by Toby */
@media (min-width:1000px) {
        * {font-family: verdana, 굴림, gulim, 돋움, dotum, sans-serif;}
        .bbsBox {font-family: 돋움, dotum, sans-serif;}
}

/* ========================== 태블릿 이하 ========================== */
/* @media all and (max-width: 800px) { */
	.tt .noborder {padding:20px 0 0 0;}
	.tt td.tdsub.secret:before {font-size:14px;}
	.tt .adm td.tdsub.secret {font-size:14px;}
	.tt .tabs {display:none;}
	.tt .topbtns .btns {position:static;float:right;margin-top:0;}
	.tt .topbtns > a {clear:both;}
/* } */

/* ========================== 모바일 ========================== */
/* @media all and (max-width: 767px) { */
	.mm td.tdsub.secret:before {
		display: block;
		font-size:16px;
		padding: 8px 0 0 0;
		line-height: 1.2;
	}
	.mm .tdname i {display:inline-block;font-style:normal;font-weight:normal;font-size:10px;margin-left:8px;color:#adb4bd;}
	.mm .adm td.tdsub.secret {font-size:16px;}
	
	.mm .btnscrap {margin: 4px 0;}
	.mm .tdsub:before {content:"";}
	.mm td {word-break: break-word;}
	.mm .list td.tdsub {padding:0 0 3px 0 !important;line-height:0;}
	.mm .closedCmt {line-height:1;margin:5px 0 -4px;}
	.mm .list td.tdsub.secret {padding:0 0 3px 13px !important;}
	.mm td.tdsub a {
		white-space: normal;
		overflow: visible;
		display:block;
		padding:8px 0 25px 0; /* 160923 수정  by boonsoo */
		line-height:1.2;
	}
	.mm td.tdsub img {position:absolute;display:inline-block;margin-top:8px;}
	.mm td.tdsub img + a {padding-left:17px;}
	.mm td.tdsub img.secret + a {padding-left:47px;}
	.mm td.tdsub a + span {position:absolute;left:8px;bottom:0;line-height:1.2;padding:0 0 9px;font-size:12px;color:#9A9CA3;font-family:sans-serif !important;} /* 160923 수정 by boonsoo */
	.mm td.tdsub a + span + span {position:absolute;left:0;bottom:0;line-height:1.2;padding:8px 0;font-size:12px;} /* 160930 수정 by boonsoo */
	.mm td.tdsub:not(.notice) a {padding: 8px 30px 25px 0;} /* 161129 추가 by 진성 */
	.mm table.list .tdnum {display: inline;text-align: right;position: absolute;right: 0;border-bottom: none;color: #9A9CA3;} /* 161129 추가 by 진성 */
	.mm table.list .tdhit,
	.mm table.list .tdvote {display:none;}
	.mm .listnotice .tdsub a:before {content:"※ ";}
	.mm #mainRight .listnotice .tdnum {display: none;} /* 161129 추가 by 진성 */
	.mm th.tdname,
	.mm th.tddate {display:none;}
	.mm th.tdsub {display:block;line-height:0 !important;height:0 !important;overflow:hidden;border-top: 2px solid #D5D5D5;}
	.mm .tdcheck input {opacity: 0.65;} /* 161129 추가 by 진성 */
	.mm .tdname,
	.mm .tddate {display:block;position:absolute;border:none !important;line-height:1.2;margin-top:1px;}
	.mm .tdname {z-index:2;bottom:0;margin-bottom:1px;left:40px;} /* 160923 수정 by boonsoo */
	.mm .tdname span {color:#B08F7D;font-family:sans-serif !important;font-size:12px;}
	.mm table.list tr {position:relative;display:block;}
	.mm table.list td {display:block;}
	.mm .tddate {z-index:2;bottom:0;right:0;margin-bottom:1px;} /* 160923 수정 by boonsoo */
	.mm .tddate span {color:#9A9CA3;font-family:sans-serif !important;}
	.mm .tdpagenation {padding-top:60px;}
	.mm .listhead th {padding:0;line-height:30px;}
	.mm #mainRight .listhead .tdnum{display: none;} /* 161129 추가 by 진성 */
	.mm .vc_right {font-size:8px;}
	.mm input.input {width:240px;}
	.mm textarea#memo {width:95% !important;}
	.mm a[href="http://speller.cs.pusan.ac.kr/"] {display:none;}
	.mm table[width="805"] {width:95% !important;}
	.mm #google_ad {display:none !important}
	.mm .cmtName span {color:#B08F7D;}
	.mm .depth1,
	.mm	.depth2,
	.mm .depth3,
	.mm	.depth4,
	.mm	.depth5,
	.mm	.depth6,
	.mm	.depth7,
	.mm	.depth8,
	.mm	.depth9,
	.mm	.depth10 {padding-left:6%;}
	.mm .btn-group {z-index:2;}
	.mm .tdpagenation {white-space:normal !important;}
	.mm .pagination li a {margin-bottom:20px;}
	.mm .pagination li:nth-of-type(6) {}
	.mm .depth1 .cmtName:hover .cmtline {display:none !important;}
	.mm .lockedCmt {margin:12px;padding:8px;font-size:12px;}
	.mm a.auto {
		display:inline-block;
		max-width:100%;
		/* white-space:nowrap; */
		overflow:hidden;
		text-overflow:ellipsis;
	}
	.mm .plusTime {
		margin-top: 0;
		position: static;
	}
	.mm .tdcheck {
		display:block;
		right:0;
		width:40px;
		height:35px;
	}
	.mm .tdcheck input[type="checkbox"] {
		margin-top:-5px; /* 160922 수정 by boonsoo */
		right: 3px;
		display:block;
		width:25px;
		height:25px;
	}
	.mm #floatingNav.off,
	.mm .iOS #mbNav.off {display:none;}
	.mm #mainArea > table {width:100%;}

	.mm #tipMsg {
		margin:10px 0 0 -180px !important;
		-webkit-transform:scale(0.55);
		-moz-transform:scale(0.55);
		-ms-transform:scale(0.55);
		transform:scale(0.55);
		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		-ms-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}
	.mm #tipMsgTxt i {font-size:16px;}
/* } */
/* ========================== 360보다 작은 320 viewport 모바일용 ========================== */
@media all and (max-width: 359px) {
	#tipMsg {
		margin:10px 0 0 -190px !important;
		-webkit-transform:scale(0.5);
		-moz-transform:scale(0.5);
		-ms-transform:scale(0.5);
		transform:scale(0.5);
		-webkit-transform-origin: 50% 0;
		-moz-transform-origin: 50% 0;
		-ms-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}
}
