        @media screen and (max-width: 800px) {
			#ad-container {
				transform: scale(0.8);
			}
		}
        @media screen and (max-width: 740px) {
			#ad-container {
				transform: scale(0.7);
			}
		}
        @media screen and (max-width: 700px) {
			#ad-container {
				transform: scale(0.7);
			}
		}
        @media screen and (max-width: 670px) {
			#ad-container {
				transform: scale(0.7);
			}
		}
        @media screen and (max-width: 650px) {
			#ad-container {
				transform: scale(0.7);
			}
		}
        @media screen and (max-width: 640px) {
			#ad-container {
				transform: scale(0.7);
			}
		}
        @media screen and (max-width: 600px) {
			#ad-container {
				transform: scale(0.6);
			}
		}
        @media screen and (max-width: 560px) {
			#ad-container {
				transform: scale(0.6);
			}
		}
        @media screen and (max-width: 540px) {
			#ad-container {
				transform: scale(0.5);
			}
		}
        @media screen and (max-width: 500px) {
			#ad-container {
				transform: scale(0.45);
				margin-left: -35px;
			}
		}
        @media screen and (max-width: 470px) {
			#ad-container {
				transform: scale(0.45);
				margin-left: -54px;
			}
		}
        @media screen and (max-width: 440px) {
			#ad-container {
				transform: scale(0.45);
				margin-left: -90px;
			}
		}
        @media screen and (max-width: 380px) {
			#ad-container {
				transform: scale(0.45);
				margin-left: -115px;
			}
		}
        @media screen and (max-width: 360px) {
			#ad-container {
				transform: scale(0.45);
				margin-left: -135px;
			}
		}
        @media screen and (max-width: 330px) {
			#ad-container {
				transform: scale(0.40);
				margin-left: -145px;
			}
		}
        @media screen and (max-width: 320px) {
			#ad-container {
				transform: scale(0.40);
				margin-left: -165px;
			}
		}
        