/************ 
TAG STYLES
 ************/
body
{ 
	background-color: rgba(0, 0, 0, 0.7);
	font-family: Arial, sans-serif;	
	font-size: 12px;
	margin: 0;
}

button
{
	position: absolute;
	width: 108px;
	height: 30px;	
	background-color: #0068FF;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: white;
	border: none;
	outline: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

button:hover, button:active
{
	color: #FAF000;
}

button:active
{
	font-size: 11px;
}

/************************
CREATIVE CONTENT STYLES
************************/	
#ad-container
{
	background-color: white;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 600px 400px;
	
	width: 600px;
	height: 400px;
}

#close-button 
{
	top: -30px;
    right: -31px;
    width: 30px;
    background: #009fe2;
}

#user-action-button 
{
	bottom: 10px;
	right: 128px;
}

#click-through-button
{
	padding: 0px;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 100%;
}

#format-label
{
	position: absolute;
	left: 10px;
	top: 40px;
}

.centered
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/**************************
MEDIA QUERY SIZING STYLES
**************************/
