/*
** Easy Columns CSS: css to define column layouts for the WP-Colum plugin
** for more info visit: http://www.patrickfriedl.com.com/
**
** use percentage widths and margins for fluid
** or unknown content widths and fixed
** widths and margins for known content widths
**
** for pixel widths:
** div width = ((content width - padding - margin)/number of divs)
** - margin - padding - border
**
** for more information on calcluating your widths, check
** out http://www.w3schools.com/css/css_boxmodel.asp
** for info on the CSS box model
*/
.ezcol>* {
	max-width: 100%;
}
.ezcol-one-quarter,
.ezcol-one-half,
.ezcol-three-quarter,
.ezcol-one-third,
.ezcol-two-third,
.ezcol-one-fifth,
.ezcol-two-fifth,
.ezcol-three-fifth,
.ezcol-four-fifth {
	float: left;
	margin-right: 4%;
	position: relative;
	word-wrap: break-word;
	hyphens: auto;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	text-rendering: optimizedLegibility;
}
.ezcol-one-quarter {
	width: 22%;
}
.ezcol-one-half {
	width: 48%;
}
.ezcol-three-quarter {
	width: 74%;
}
.ezcol-one-third {
	width: 30.666%;
}
.ezcol-two-third {
	width: 65.334%;
}
.ezcol-one-fifth {
	width: 16.8%;
}
.ezcol-two-fifth{
	width: 37.6%;
}
.ezcol-three-fifth {
	width: 58.4%;
}
.ezcol-four-fifth {
	width: 79.2%;
}
.ezcol-last {
	float: right;
	clear: right;
	margin-right: 0;
}
.ezcol-last:after {
   content: ".";
   opacity: 0;
   display: block;
   height: 0;
   clear: both;
}
.ezcol-both,
.ezcol-left,
.ezcol-right {
	margin: 0;
	padding: 0;
	background: none;
}
.ezcol-divider {
	clear: both !important;
	display: block !important;
	margin-bottom: 0px !important;
	padding-top: 0px !important;
	width: 100% !important;
	background: none !important;
}
.ezcol-both {
	clear: both !important;
}
.ezcol-left {
	clear: left !important;
}
.ezcol-right {
	clear: right !important;
}
/*@media all and (max-width: 768px) {
	.ezcol-one-quarter,
	.ezcol-one-half,
	.ezcol-three-quarter,
	.ezcol-one-third,
	.ezcol-two-third,
	.ezcol-one-fifth,
	.ezcol-two-fifth,
	.ezcol-three-fifth,
	.ezcol-four-fifth {
		width: 48% !important;
		margin-right: 2%;
	}
	.ezcol-last {
		float: left;
		clear: none;
		display: block;
	}
	.ezcol-last:after {
		content: "";
		display: block;
		clear: none;
	}
	.ezcol-last + .ezcol-divider {
		clear: none !important;
		display: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
}*/
@media all and (max-width: 603px) {/**/
	.ezcol-one-quarter,
	.ezcol-one-half,
	.ezcol-three-quarter,
	.ezcol-one-third,
	.ezcol-two-third,
	.ezcol-one-fifth,
	.ezcol-two-fifth,
	.ezcol-three-fifth,
	.ezcol-four-fifth {
		width: 100% !important;
		margin-right: 0;
	}
}