#footer {
	background-color: #222222;
	position: relative;
	z-index: 6;
	min-height: 219px;
	padding-top: 17px;
}

#footer .container-inner.aa-footer-container {
	margin-bottom: 0 !important;
	box-shadow: none;
	padding-bottom: 0;
}

#footer-logo {
	padding-left: 0;
}

#footer .widgets-inner .widget-panel {
	height: 40px;
	margin-bottom: 0;
}

#footer .widgets-inner .widget-panel.aa-soc-container {
	height: auto;
}

#footer .aa-footer-menu-inline {
	font-family: Open Sans Semibold, sans-serif;
	padding-top: 16px;
}

.aa-footer-menu-inline ul {
	float: right;
	display: inline;
    margin-right: 2px;
}

.aa-footer-menu-inline ul li {
	display: inline;
	padding-left: 16px;
	border-bottom: none;
}

.aa-footer-menu-inline ul li a {
	font-family: Open Sans Bold, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
}

.aa-footer-menu-inline ul li a:hover {
	color: #8CC434;
}

#footer .widgets-inner,
#footer .subfooter {
	background-color: #222;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

#footer .subfooter {
	background-color: rgba(119, 141, 159, 0.1);
	position: relative;
	text-transform: none !important;
	line-height: 3em;
	color: #FFF;
	margin-top: 36px;
}

#aa_footer_logo {
	background-color: transparent;
	display: block;
	position: relative;
	left: 2px;
	background-size: 221.35px 100.7px;
	background-image: url(/wp-content/themes/aa/images/aa_logo_new.svg);
	background-repeat: no-repeat;
	height: 21px;
	width: 162px;
	background-position: 100% 83%;
	margin-top: 18px;
}

.aa-footer-description {
	font-weight: bold;
	line-height: 0.4em;
	padding-left: 11px;
	margin-top: 4px;
	margin-bottom: 0 !important;
}

#footer .aa-soc-container {
	padding-right: 0;
	margin-top: 4px;
}

#footer .aa_soc_sidebar {
	padding-right: 0;
	padding-top: 22px;
}

#footer .aa_soc_sidebar,
#footer .aa-footer-menu-inline {
	list-style: none;
	float: right;
}

#footer .aa_soc {
	color: #fff;
	font-size: 14px;
}

#footer .textwidget p {
	font-family: Open Sans Semibold Italic, sans-serif;
	font-style: italic;
	color: #FFF;
	line-height: 19px;
	padding-left: 0;
	margin-bottom: 0;
	font-size: 14px;
	letter-spacing: -0.013em;
}

#footer .textwidget p span {
	font-family: Open Sans Bold Italic, sans-serif;
}

/* Icon size */
#footer .aa_soc {
	font-size: 15px;
	margin-left: 0;
	padding-left: 0;
	display: block;
	float: left;
	background-color: #333333;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	position: relative;
	border-radius: 2px;
}

#footer .aa_soc:hover {
	color: #54cc39 !important;
}

#footer .theme-icon-twitter {
	padding-left: 7px;
}

#footer .theme-icon-facebook {
	padding-left: 7px;
}

#footer .theme-icon-youtube-footer {
	padding-left: 2px;
}

#footer.widget-panel.left.col-md-3 {
	padding-left: 0;
}

#footer [class^="theme-icon-"]:before,
#footer [class*=" theme-icon-"]:before {
	position: absolute;
	bottom: 10px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.subfooter .credits {
	display: none !important;
	width: 0 !important;
}

.subfooter .copyright {
	font-family: Open Sans Semibold, sans-serif;
	font-size: 12px;
	width: 100% !important;
	text-align: center;
	letter-spacing: -0.005em;
}

/* Load more styles */

.load-more,
.load-more-ss {
	position: relative;
	top: 0 !important;
	background-color: #55cc3a !important;
	color: #FFFFFF !important;
	font-family: Open Sans Semibold, sans-serif;
	font-size: 14px;
	line-height: 23px;
	border-radius: 3px;
	height: 36px;
	box-shadow: none;
	border-color: transparent;
}

.load-more-wrapper.active .load-more:hover {
	background-color: #3f3f3f !important;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	color: #fff !important;
}

.load-more:after {
	border-color: #FFF transparent transparent;
	border-width: 5px;
	border-style: solid;
	content: "";
	margin-left: 8px;
	width: 0;
	height: 0;
	position: absolute;
	top: 42%;
}

div.loading.load-infinite {
	top: 50px;
	margin: auto;
	height: 170px;
	clear: both;
}

.single div.loading.load-infinite {
	top: -190px;
	margin: auto;
	height: auto;
}

div.loading span {
	border-radius: 50%;
	position: relative;
	width: 60px;
	height: 60px;
	border-style: solid;
	border-width: 2px;
	/*border-color: rgba(140, 196, 52, 0.3) rgba(140, 196, 52, 0.3) #8cc434 rgba(140, 196, 52, 0.3);*/
	border-color: rgba(187, 187, 187, 0.20) rgba(187, 187, 187, 0.20) #35d46b rgba(187, 187, 187, 0.20);
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(.31,.84,.24,.25);
	-moz-animation-name: spin;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: cubic-bezier(.31,.84,.24,.25);
	-ms-animation-name: spin;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: cubic-bezier(.31,.84,.24,.25);
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.31,.84,.24,.25);
}

div.loading span:before {
	content: none;
	display: none;
}

.loading.load-infinite:before {
	content: '';
	display: block;
	width: 36px;
	height: 41px;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-image: url( '../images/load_icon.png' );
	background-size: 36px 82px;
	background-position: top center;
	background-repeat: no-repeat;
}

/* For single page */
.aa-sp-margin-bottom {
	margin-bottom: 20px;
}

.single-post-selector .loading {
	margin-top: 30px;
}

.single-post #footer {
	display: none;
}

.footer_mobile_menu {
	display: none;
}

/* new mobile styles */
@media only screen and (max-width : 991px) {

	#footer .aa_footer_logo_container {
		position: absolute;
		left: 20px;
	}

	#footer .container-inner.aa-footer-container {
		padding: 0 10px;
	}

	#footer .aa-footer-description {
		display: none;
	}

	#footer .aa-soc-container {
		float: left;
		padding-left: 0;
		margin-top: 0;
		width: 100%;
		text-align: center;
	}

	#footer .aa-soc-container .aa_soc_sidebar {
		padding-left: 0;
		padding-top: 10px;
		float: none;
		display: inline-block;
	}

	#footer .subfooter {
		padding-top: 3px;
	}

	.subfooter .copyright {
		font-size: 11px;
		text-align: left;
	}

	.subfooter .copyright p {
		padding-left: 13px;
		text-transform: capitalize;
	}

}

@media only screen and (max-width : 768px) {
	.aa-footer-menu-inline {
		display: none;
	}

	.footer_mobile_menu {
		display: block;
		text-align: center;
		clear: both;
	}

	.footer_mobile_menu a {
		font-family: Open Sans Bold, sans-serif;
		font-size: 12px;
		color: #FFF;
		text-transform: uppercase;
	}

	.footer_mobile_menu li {
		line-height: 25px;
		display: inline-block;
	}

	.footer_mobile_menu li:not(:first-of-type) {
		margin-left: 15px;
	}

	#footer .aa_footer_logo_container {
		position: relative;
		left: 0;
		width: 100%;
		text-align: center;
	}

	#footer .aa_footer_logo_container > a {
		display: inline-block;
	}

	.subfooter .copyright p {
		text-align: center;
	}
}

@media only screen and (max-width : 603px) {

	#footer {
		padding-top: 3px;
	}

	#footer .widgets-inner,
	#footer .subfooter {
		padding-left: 0;
	}

	#footer .subfooter {
		margin-top: 15px;
		padding: 10px 20px 10px 20px;
	}

	.subfooter .copyright p {
		font-size: 12px;
	}

	#footer .aa_footer_logo_container {
		left: -3px;
	}

	.aa-sp-margin-bottom {
		margin-bottom: 0;
	}

	.footer_mobile_menu {
		padding-top: 12px;
	}

	#footer .widgets-inner .widget-panel.aa-soc-container {
		padding-left: 7px;
	}

	.single div.loading.load-infinite {
		top: 0;
		margin: 40px 0;
	}

	.load-more:after {
		display: none;
	}

	.search #footer {
		margin-top: 30px;
	}
}
/* end new mobile styles */
