/*===================================================Header=======================================*/
/*===Features news header slider===*/
.aa_f_n_image,
.aa_f_n_next_image {
	position: absolute;
	background-size: cover !important;
	background-position: center center !important;
	width: 100%;
	height: 362px;
	z-index: 2;
}

.aa_f_n_next_image {
	z-index: 1;
}

.aa_f_n_image_overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 185px;
	/*background: rgba(0, 0, 0, 0.5);*/
	border-bottom: 4px solid #8cc434;
	z-index: 2;
	background-image: url('/wp-content/themes/aa/images/home_slider_overlay.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.aa_f_n_content_wrapper {
	height: 366px;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	z-index: 2;
	padding-top: 181px;
}

.aa_f_n_content {
	position: relative;
	max-height: 114px;
	overflow: hidden;
}

.aa_f_n_cat_block {
	padding: 7px 16px;
	margin: 0;
	font-family: Open Sans Bold, sans-serif;
	letter-spacing: 0.02em;
	position: relative;
	/*top: 58px;*/
	/*top: 165px;*/
	margin-right: 10px;
}

.aa_f_n_title  {
	margin-top: 0;
	margin-bottom: 2px;
	padding-top: 24px;
	display: table;
	height: 114px;
}

.aa_f_n_title a,
.aa_f_n_title {
	color: #fff;
	font-family: Open Sans Bold,sans-serif;
	font-size: 38px;
	letter-spacing: -0.018em !important;
	line-height: 1.2em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.aa_f_n_title a {
	display: table-cell;
	vertical-align: middle;
}

.aa_f_n_title a:hover {
	color: #fff !important;
}

.aa_f_n_content_wrapper .aa-item-description {
	display: inline-block;
	font-family: Open Sans Semibold, sans-serif;
	font-size: 13px;
	letter-spacing: -0.03em;
	margin-right: 6px;
}

.aa_f_n_content_wrapper .aa_item_info_block span {
	color: #9d9d9d;
}

.aa_f_n_content_wrapper .bottom-loop-info {
	color: #9d9d9d;
	position: absolute;
	bottom: 21px;
	left: 0;
}

.aa_f_n_content_wrapper .aa_item_time:after {
	content: '\2022';
	position: relative;
	font-size: 13px;
	font-family: Open Sans Semibold, sans-serif;
	color: #9d9d9d;
	margin-left: 8px;
	margin-right: 5px;
}

/*-.aa_f_n_nav-*/
.aa_f_n_nav {
	width: 70px;
	height: 70px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	cursor: pointer;
	-webkit-transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	bottom: 59px;
}

.aa_f_n_nav:hover {
	background: rgba(255, 255, 255, 1);
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
	transition: all .6s ease-out;
}

.aa_f_n_prev {
	left: 99px;
}

.aa_f_n_next {
	right: 99px;
}

.aa_f_n_nav:before {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	border-right: 3px solid rgba(255, 255, 255, 1);
	border-top: 3px solid rgba(255, 255, 255, 1);
	top: 50%;
	margin: -6px auto;
	left: 0;
	right: 0;
	-webkit-transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
}

.aa_f_n_prev:before {
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg); 
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.aa_f_n_next:before {
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.aa_f_n_nav:hover:before {
	border-color: rgba(29, 33, 34, 0.8);
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
	transition: all .6s ease-out;
}
/*-.aa_f_n_nav-*/

.aa_f_n_controls {
	display: none;
}

@media only screen and (max-width : 1440px) {
	.aa_f_n_prev {
		left: 20px;
	}

	.aa_f_n_next {
		right: 20px;
	}
}

@media only screen and (max-width : 1330px) {
	.aa_f_n_content_wrapper {
		padding-left: 110px;
		padding-right: 110px;
	}

	.bottom-loop-info {
		padding-left: 110px;
	}
}

/*---End Features news header slider---*/

@media only screen and (max-width : 991px) {
	/* features news slider */
	.aa_f_n_active_block {
		height: 366px;
		overflow: hidden;
	}

	.aa_f_n_content {
		max-height: 112px;
	}

	.aa_header_videos .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}

	.aa_f_n_title {
		margin-bottom: 12px;
	}

	.aa_f_n_title a,
	.aa_f_n_title {
		font-family: Open Sans Semibold, sans-serif;
		font-size: 24px;
		color: #fff;
	}

	.aa_f_n_controls ul li {
		border: 2px solid rgba(255, 255, 255, 1);
		width: 10px;
		height: 10px;
	}

	.aa_f_n_controls ul li.active {
		border-color: rgba(140, 196, 52, 1);
		background: rgba(140, 196, 52, 1); 
	}

	.aa_f_n_nav {
		position: absolute;
		border: none;
		height: 54px;
		width: 54px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.4);
	}

	.aa_f_n_nav:before {
		border-color: #fff;
	}

	.aa_f_n_prev {
		left: 16px;
	}

	.aa_f_n_next {
		right: 16px; 
	}
}

@media only screen and (max-width : 603px) {
	.aa_f_n_active_block,
	.aa_f_n_image_wrapper,
	.aa_f_n_image,
	.aa_f_n_content_wrapper,
	.aa_f_n_next_image {
		height: 197px;
	}

	.aa_f_n_content_wrapper {
		position: absolute;
		bottom: 0;
		padding: 0;
		height: 98px;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.aa_f_n_image_overlay {
		height: 198px;
		background: url('/wp-content/themes/aa/images/home_slider_mobile_overlay.png');
        border-bottom: none;
	}

	.aa_f_n_next,
	.aa_f_n_prev,
	.aa_f_n_content .aa_item_info_block {
		display: none;
	}

	.aa_f_n_cat_block {
	display: inline-block;
	top: -143px;
	position: absolute;
	left: 22px;
	padding: 7px 12px;
}

	.aa_f_n_content_wrapper .aa-item-description.aa_item_time {
		display: none;
	}

	.aa_f_n_content_wrapper .aa-item-description.aa_item_comments {
		margin-left: 20px;
	}

	.aa_f_n_title a,
	.aa_f_n_title {
		font-family: Open Sans Bold, sans-serif;
		font-size: 18px;
		line-height: 1.25em;
		color: #fff;
		text-align: left;
		text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	}

	.aa_f_n_title {
		padding-top: 0;
		height: 75px;
	}

	.f_n_title_span {
		max-height: 45px;
		overflow: hidden;
		display: block;/* is overflow hidden part */
	}

	.aa_f_n_controls {
		bottom: 20px;
	}

	.aa_f_n_controls ul li {
		width: 8px;
		height: 8px;
		margin: 0 4px;
	}

	.aa_f_n_controls ul {
		padding: 0 0 9px;
	}

	.aa_f_n_content {
		padding: 0 20px;
		height: 100%;
		max-height: 65px;
	}

	.aa_f_n_content_wrapper .bottom-loop-info {
		right: 0;
		text-align: left;
		padding-left: 0;
		bottom: 16px;
	}
}

/* Header featured posts widget */
.aa_hfp_wrapper {
	position: relative;
	height: 516px;
}

.aa_hfp_container {
	margin: 10px 0 0 10px;
	width: calc( 25% - 12px );
	float: left;
	height: calc( 50% - 5px );
	position: relative;
}

.aa_hfp_container:nth-child(1),
.aa_hfp_container:nth-child(2) {
	width: calc( 50% - 15px );
}

.aa_hfp_container:nth-child(1) {
	height: 100%;
}

.aa_hfp_image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
}

.aa_hfp_container .bottom-loop-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 18px 10px;
}

.aa_hfp_container:nth-child( 2 ) .bottom-loop-info {
	padding: 0 18px 12px;
}

.aa_hfp_container:nth-child( 1 ) .bottom-loop-info {
	padding: 0 18px 25px 35px;
}

.aa_hfp_container:nth-child( 2 ) .aa_hfp_title {
	font-size: 32px;
}

.aa_hfp_container:nth-child( 1 ) .aa_hfp_title {
	font-size: 56px;
	letter-spacing: -0.04em;
}

.aa_hfp_container .aa-item-description {
	color: #ededed;
	font-size: 13px;
	z-index: 5;
}

.aa_hfp_container .aa-item-description a {
	font-family: Open Sans Bold, sans-serif;
	color: #ededed !important;
}

.aa_hfp_author:after {
	content: '.';
	font-size: 22px;
	position: absolute;
	top: -13px;
	right: -14px;
}

.aa_hfp_category {
	position: absolute;
	z-index: 6;
	font-family: Open Sans Extrabold, sans-serif;
	font-size: 68px;
	color: #FFF;
	left: 34px;
	top: 29px;
	letter-spacing: -0.04em;
}

.aa_hfp_title {
	margin-top: 7px;
	max-height: 71px;
	overflow: hidden;
	margin: 4px 0 10px 0;
	line-height: 35px;
	font-family: Open Sans Extrabold, sans-serif;
	font-size: 28px;
	letter-spacing: -0.045em;
	color: #FFF;
}

.aa_hfp_container.active .aa_hfp_title {
	color: #FFF !important;
}

.aa_hfp_container:nth-child(2) .aa_hfp_title {
	max-height: 75px;
	margin: 3px 0 10px 0;
	padding-bottom: 4px;
}

.aa_hfp_container:nth-child(1) .aa_hfp_title {
	max-height: 122px;
	margin-bottom: 7px;
	margin-top: 12px;
	line-height: 58px;
	padding-bottom: 6px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(252,252,252,0) 21%, rgba(233,233,233,0.05) 27%, rgba(201,201,201,0.17) 37%, rgba(172,172,172,0.28) 46%, rgba(96,96,96,0.65) 70%, rgba(58,58,58,0.83) 82%, rgba(26,26,26,0.94) 92%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(252,252,252,0) 21%,rgba(233,233,233,0.05) 27%,rgba(201,201,201,0.17) 37%,rgba(172,172,172,0.28) 46%,rgba(96,96,96,0.65) 70%,rgba(58,58,58,0.83) 82%,rgba(26,26,26,0.94) 92%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(252,252,252,0) 21%,rgba(233,233,233,0.05) 27%,rgba(201,201,201,0.17) 37%,rgba(172,172,172,0.28) 46%,rgba(96,96,96,0.65) 70%,rgba(58,58,58,0.83) 82%,rgba(26,26,26,0.94) 92%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.aa_hfp_container .overlay {
	background-image: url( '../images/dark_overlay.png' );
}

.aa_hfp_container.active .overlay {
	opacity: .35;
}

/*container*/
.aa_hfp_container .aa_cat_name_block {
	z-index: 5;
	position: relative;
}

.aa_hfp_container:not(:nth-child(1)) .aa_cat_name_block {
	background-color: transparent;
	opacity: .6;
	padding: 0;
	font-size: 14px !important;
	height: auto;
	letter-spacing: -0.04em;
}

.aa_hfp_container:first-child .aa_cat_name_block {
	background: #54cc39;
}

.category .aa_hfp_container .aa_cat_name_block,
.aa_hfp_container:not(:nth-child( 1 )) .aa-item-description {
	display: none;
}

/* Mobile */
.aa_mobile_device .aa_hfp_wrapper {
	height: 197px;
	white-space: nowrap;
	width: 100vw;
	overflow-x: scroll;
	font-size: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.aa_mobile_device .aa_hfp_container {
	display: inline-block;
	white-space: normal;
	width: calc(100vw - 20px );
	margin: 0 10px;
	float: none;
	height: 100%;
}

.aa_mobile_device .aa_hfp_container .bottom-loop-info {
	padding: 0 11px 13px 11px;
}

.aa_mobile_device .aa_hfp_container .aa_hfp_title {
	font-size: 20px;
	line-height: 23px;
}

.aa_mobile_device .aa_hfp_container .aa_cat_name_block {
	background-color: transparent;
	padding: 0;
	height: auto;
	position: relative;
	top: 3px;
}

.aa_mobile_device .aa_hfp_container .aa_hfp_title {
	margin-top: 5px;
	margin-bottom: 6px;
}

.aa_mobile_device .aa_hfp_container .aa-item-description {
	display: inline-block;
}

.aa_mobile_device .aa_hfp_category {
	font-size: 26px;
	top: -9px;
	left: 12px;
}

.aa_mobile_device .aa_hfp_container .aa_item_comments {
	display: none;
}

/* End mobile */

/* End header featured posts widget */
/*===================================================Header=======================================*/