/*=========================================Sticky Bar===================================================*/
#sticky-bar.admin-bar{
	top: 32px;
}

#sticky-bar .row {
	margin: 0;
}

#sticky-bar {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	position: fixed;
	z-index: 5000005;
	height: 77px;
	top: 0;
	background: rgb(111,198,18);
	background: -moz-linear-gradient(left,  rgba(111,198,18,1) 0%, rgba(0,225,190,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(111,198,18,1) 0%,rgba(0,225,190,1) 100%);
	background: linear-gradient(to right,  rgba(111,198,18,1) 0%,rgba(0,225,190,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fc612', endColorstr='#00e1be',GradientType=1 );
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
}

#sticky-bar.fixed:not(.unstick) #aa_sticky_soc_wrapper,
#sticky-bar.fixed:not(.unstick) #aa_dgit_links_wrapper {
	display: none;
}

/*-sticky color-*/
.sticky-color,
#aa_main_logo {
	background-color: transparent !important;
}

.sticky-color {
	padding: 14px 0 0 25px;
	height: 77px;
}

#aa_main_logo {
	background-size: 233px 106px;
	background-image: url(/wp-content/themes/aa/images/aa_logo_new.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
	display: block;
	height: 49px;
	position: relative;
	width: 233px;
}

/*-Section menu-*/
#section-menu {
	float: left;
	border: none;
	opacity: 1;
	margin-left: 49px;
}

#section-menu .sf-arrows .sf-with-ul:after,
#section-menu .menu-item-has-children a:after {
	display: none;
}

#section-menu ul {
	float: left;
}

#section-menu > ul > li > a.no-icon,
#section-menu > ul > li > a {
	border: none;
	color: rgba(255, 255, 255, 0.6);
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	height: 77px;
	padding: 30px 11px 0 !important;
}

#section-menu ul li.current-menu-item > a.parent-item {
	background-color: transparent !important;
	border-bottom: 3px solid #fff;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#section-menu ul li a.parent-item:hover,
#section-menu ul li.over > a.parent-item,
#section-menu ul li.current-menu-item > a.parent-item:hover,
#section-menu.standard-menu ul li a:hover,
#section-menu.standard-menu ul li.over > a,
#section-menu.standard-menu ul li.current-menu-item > a  {
	background-color: transparent !important;
	color: rgba(255, 255, 255, 1) !important;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

/*-Section Menu Mega Content-*/
#section-menu ul li:hover .aa-mega-content {
	display: block;
}

#section-menu .aa-mega-content {
	display: none;
	color: #bdbdbd;
}

#section-menu .aa-mega-content ul,
#section-menu.standard-menu ul ul:not(.menu) {
	display: none;
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute !important;
	padding: 4px 15px 5px 15px !important;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
	z-index: 10;
}

#section-menu .aa-mega-content ul li,
#section-menu.standard-menu ul ul li {
	float: none;
	padding: 8px 0 11px 0;
	color: #BDBDBD;
}

#section-menu .aa-mega-content ul li a,
#section-menu.standard-menu ul ul a {
	color: #BDBDBD;
	font-size: 14px;
}

#section-menu.standard-menu ul ul a {
	opacity: 1;
	font-family: Open Sans Semibold, sans-serif;
	padding: 0;
}

#section-menu .aa-mega-content ul li:hover,
#section-menu .aa-mega-content ul li:hover a,
#section-menu.standard-menu ul ul li:hover,
#section-menu.standard-menu ul ul a:hover {
	color: #55cc39 !important;
}

/*-Section menu more items-*/
.aa_more_section_items:after {
	content: '';
	display: inline-block;
	position: relative;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(255, 255, 255, 0.6) transparent transparent;
	right: -10px;
	margin-top: -2px;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	width: 0;
	height: 0;
}

.aa_more_section_items.show_more:before {
	margin-top: -5px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}

li.over .aa_more_section_items:before {
	border-color: rgba(255, 255, 255, 1) transparent transparent;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}

#section-menu-more {
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 1;
	background: rgb(111,198,18);
	background: -moz-linear-gradient(left, rgba(111,198,18,0) 0%, rgba(0,225,190,0) 100%);
	background: -webkit-linear-gradient(left, rgba(111,198,18,0) 0%,rgba(0,225,190,0) 100%);
	background: linear-gradient(to right, rgba(111,198,18,0) 0%,rgba(0,225,190,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fc612', endColorstr='#00e1be',GradientType=1 );
}

#section-menu-more.visible {
	background: rgb(111,198,18);
	background: -moz-linear-gradient(left, rgba(111,198,18,1) 0%, rgba(0,225,190,1) 100%);
	background: -webkit-linear-gradient(left, rgba(111,198,18,1) 0%,rgba(0,225,190,1) 100%);
	background: linear-gradient(to right, rgba(111,198,18,1) 0%,rgba(0,225,190,1) 100%);
}

#section-menu-more:before {
	content: '';
	height: 0;
	display: block;
}

#section-menu-more.visible:before {
	animation-name: show_hide_before;
	-webkit-animation-name: show_hide_before;
	animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

@-webkit-keyframes show_hide_before {
	0% { height: 0px; }
	50% { height: 45px; }
	100% { height: 0px; }
}

@keyframes show_hide_before {
	0% { height: 0px; }
	50% { height: 45px; }
	100% { height: 0px; }
}

#section-menu.standard-menu #section-menu-more ul {
	position: relative;
	width: 100%;
	height: 0;
	opacity: 0;
	padding: 0;
	padding-left: 311px;
	margin: 0;
	box-shadow: none;
	overflow: hidden;
	-webkit-box-shadow: none;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	background: rgb(183,227,137);
	background: -moz-linear-gradient(left,  rgba(183,227,137,1) 0%, rgba(128,240,222,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(183,227,137,1) 0%,rgba(128,240,222,1) 100%);
	background: linear-gradient(to right,  rgba(183,227,137,1) 0%,rgba(128,240,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7e389', endColorstr='#80f0de',GradientType=1 );
}

#section-menu.standard-menu #section-menu-more.visible ul {
	height: 45px;
	opacity: 1;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}

#section-menu.standard-menu #section-menu-more ul li {
	display: inline-block;
	padding: 0;
}

#section-menu.standard-menu #section-menu-more ul a {
	font-family: Open Sans Bold, sans-serif;
	font-size: 13px;
	color: #43952f;
	text-transform: uppercase;
	padding: 12px 9px;
	position: relative;
	top: -12px;
	opacity: 0;
}

#section-menu.standard-menu #section-menu-more.visible ul li a {
	animation-name: more_items;
	-webkit-animation-name: more_items;
	animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(1) a { animation-delay: .3s; -webkit-animation-delay: .3s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(2) a { animation-delay: .4s; -webkit-animation-delay: .4s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(3) a { animation-delay: .5s; -webkit-animation-delay: .5s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(4) a { animation-delay: .6s; -webkit-animation-delay: .6s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(5) a { animation-delay: .7s; -webkit-animation-delay: .7s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(6) a { animation-delay: .8s; -webkit-animation-delay: .8s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(7) a { animation-delay: .9s; -webkit-animation-delay: .9s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(8) a { animation-delay: 1.0s; -webkit-animation-delay: 1.0; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(9) a { animation-delay: 1.2s; -webkit-animation-delay: 1.2s; }
#section-menu.standard-menu #section-menu-more.visible ul li:nth-child(10) a { animation-delay: 1.3s; -webkit-animation-delay: 1.3s; }

@-webkit-keyframes more_items {
	from { opacity: 0; top: -12px; }
	to { opacity: 1; top: 0; }
}

@keyframes more_items {
	from { opacity: 0; top: -12px; }
	to { opacity: 1; top: 0; }
}

/*-Search-*/
#search-toggle {
	height: 77px;
	width: 77px;
	padding: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.16);
	float: right;
	opacity: 1;
}

#search-toggle.active,
#search-toggle.over {
	background-color: rgba(255, 255, 255, 0.16) !important;
}

#search-toggle span {
	position: relative;
	top: 5px;
}

#search-toggle span:before {
	content: '\e90d';
	font-family: icons;
	font-size: 24px;
	color: #fff;
}

#sticky-search.active .theme-icon-search:before {
	color: rgba(255, 255, 255, 0.5);
}

.aa-sticky-search-wrapper {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

#sticky-search {
	background: transparent;
	border: none;
	box-shadow: none;
	display: none;
	top: 125px;
	position: relative;
	padding: 0;
	height: 64px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	margin: 0 auto;
	max-width: 1200px;
}

#sticky-search div.loading.load-infinite {
	top: 68px;
}

#sticky-search input[name="q"] {
	color: #FFF;
	display: block;
	height: 66px;
	margin: 0 auto;
	padding: 0 0 0 3px;
	opacity: 1;
	font-family: Open Sans Bold, sans-serif;
	font-size: 32px;
	letter-spacing: -0.02em;
}

#sticky-search input[name="q"]::-webkit-input-placeholder { color: #FFF; opacity: 1;}
#sticky-search input[name="q"]::-moz-placeholder { color: #FFF; opacity: 1;}
#sticky-search input[name="q"]:-moz-placeholder { color: #FFF; opacity: 1;}
#sticky-search input[name="q"]:-ms-input-placeholder { color: #FFF; opacity: 1;}

#sticky-search label[for=sticky-search-submit] {
	border: medium none;
	cursor: pointer;
	width: 24px;
	height: 24px;
	position: absolute;
	padding: 0;
	opacity: 1;
	top: 22px;
	margin: 0;
	right: 53px;
}

#sticky-search label[for=sticky-search-submit]:before {
	content: '\e5c8';
	font-family: icons;
	color: #fff;
	font-size: 28px;
	position: absolute;
	left: -2px;
	line-height: 26px;
}

#sticky-search input[name="q-submit"] {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	color: transparent;
	top: 0;
	z-index: 2;
}

#close-search-button {
	position: absolute;
	right: 4px;
	top: 22px;
	width: 22px;
	height: 22px;
}

#close-search-button:before {
	font-size: 37px;
	position: absolute;
	top: -14px;
	left: -7px;
	color: rgba(0, 0, 0, 0.2);
}

/* search toggler */
@-webkit-keyframes search_toggler {
	0% { opacity: 0; top: 92px; height: 104px; }
	67% { opacity: 0; top: 92px;  height: 104px; }
	100% { opacity: 1; top: 122px;  height: 64px; }
}

@keyframes search_toggler {
	0% { opacity: 0; top: 92px; height: 104px; }
	67% { opacity: 0; top: 92px;  height: 104px; }
	100% { opacity: 1; top: 122px;  height: 64px; }
}

.aa-search-popup {
	border-radius: 50%;
	width: 100vw;
	height: 100vw;
	position: absolute;
	top: -50vw;
	right: -50vw;
	opacity: 0.4;
	z-index: 2;
	transform: scale(0) translate(0, 0);
	-ms-transform: scale(0) translate(0, 0);
	-webkit-transform: scale(0) translate(0, 0);
	transition: all .6s cubic-bezier(.67,.4,.67,.37);
	-ms-transition: all .6s cubic-bezier(.67,.4,.67,.37);
	-webkit-transition: all .6s cubic-bezier(.67,.4,.67,.37);
	background: rgb(111,198,18);
	background: -moz-linear-gradient(left,  rgba(111,198,18,.95) 0%, rgba(0,225,190,.95) 100%);
	background: -webkit-linear-gradient(left,  rgba(111,198,18,.95) 0%,rgba(0,225,190,.95) 100%);
	background: linear-gradient(to right,  rgba(111,198,18,.95) 0%,rgba(0,225,190,.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fc612', endColorstr='#00e1be',GradientType=1 );
}

.sticky-search-bar .aa-search-popup {
	opacity: 1;
	transform: scale(2) translate( -25%, 25% );
	-ms-transform: scale(2) translate( -25%, 25% );
	-webkit-transform: scale(2) translate( -25%, 25% );
	transition: all .6s cubic-bezier(.67,.4,.67,.37);
	-webkit-transition: all .6s cubic-bezier(.67,.4,.67,.37);
}

.sticky-search-bar .aa-sticky-search-wrapper,
.sticky-search-bar #sticky-search {
	display: block;
}

@media only screen and (min-width : 604px) {
	.sticky-search-bar #sticky-search {
		opacity: 0;
		top: 92px;
		height: 104px;
		-webkit-animation-name: search_toggler;
		-webkit-animation-duration: 1.2s;
		animation-name: search_toggler;
		animation-duration: 1.2s;
		opacity: 1;
		top: 122px;
		height: 66px;
	}
}

/* Search autocomplete */
.ui-autocomplete {
	z-index: 5000009;
	overflow-y: scroll;
	max-height: 320px;
	max-width: 480px;
}

#section-menu .article-info {
	opacity: 1 !important;
}

.wppb-input-hidden,
.aa-confirm-modal #wppb-form-element-22 {
	display: none;
}

.wppb-form-field .transformSelect ul {
	position: relative;
}

.search-autocomplete {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	z-index: 2;
	padding-bottom: 20px;
}

.aa_autocomplete_item {
	width: 30.75%;
	float: left;
}

.aa_autocomplete_item.aa_autocomplete_reviews {
	margin: 0 3.875%; 
}

.search-autocomplete.widgets-wrapper .bar-header {
	margin-bottom: 21px;
	opacity: 0;
}

.search-autocomplete .bar-label .label-text {
	color: #23692f;
}

.search-autocomplete .bar-label {
	border-color: rgba(255,255,255, 0.2);
	padding-bottom: 10px;
}

.search-autocomplete .aa_widget_icon_articles .label-text:before {
	background-position: -72px -92px;
}

.search-autocomplete .aa_widget_icon_reviews .label-text:before {
	background-position: -95px -92px;
}

.search-autocomplete .aa_widget_icon_video .label-text:before {
	background-position: -147px -110px;
}

#section-menu .search-autocomplete .compact-panel {
	padding-left: 0;
	border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
	padding-bottom: 16px;
	margin-bottom: 11px;
}

#section-menu .search-autocomplete .compact-panel:last-child {
	border: none;
}

.search-autocomplete .widget_a.compact-panel .article-title {
	color: #fff;
}

.search-autocomplete .aa_item_info_block span {
	color: #2f9347;
	margin-right: 0;
}

.search-autocomplete .aa_rating_background:before {
	color: rgba(255, 255, 255, 0.5);
}

.aa_rating_background:before,
.aa_rating_hover:before {
	letter-spacing: 0.2em;
	font-size: 12px;}


.search-autocomplete .aa_rating_hover:before {
	color: #2f9347;
}

.search-autocomplete  .aa_rating_wrap {
	margin: 6px 0 0 1px;
}

a.aa_more_search_result {
	display: block;
	width: 100%;
	background: rgba(63, 63, 63, 0.8);
	height: 36px;
	color: #fff;
	font-family: Open Sans Bold, sans-serif;
	font-size: 13px;
	border-radius: 3px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 8px;
	opacity: 0;
	position: relative;
	top: 6px;
}

a.aa_more_search_result:hover {
	color: #fff !important;
	opacity: 0.6;
}

#sticky-search div.loading span {
	border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 1) rgba(255, 255, 255, 0.2);
	left: -24px;
}

#sticky-search .loading.load-infinite:before {
	top: 12px;
	left: -46px;
	background-position: bottom center;
	opacity: .8;
}

.aa_emty_search_result {
	width: 100%;
	background: #7eb42b;
	height: 36px;
	color: #fff;
	font-family: Open Sans Semibold, sans-serif;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 8px;
	margin-top: 20px;
}

/*-search autocomplete animate-*/
.search-autocomplete {
	-webkit-animation-name: first_ac_step;
	-webkit-animation-duration: .4s;
	animation-name: first_ac_step;
	animation-duration: .4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.search-autocomplete.widgets-wrapper .bar-header {
	opacity: 0;
	-webkit-animation-name: second_ac_step;
	-webkit-animation-duration: 2s;
	animation-name: second_ac_step;
	animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.aa_autocomplete_item .content-inner .compact-panel {
	opacity: 0;
	-webkit-animation-name: third_ac_step;
	-webkit-animation-duration: .8s;
	animation-name: third_ac_step;
	animation-duration: .8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	margin-bottom: 16px;
}

.aa_autocomplete_item:nth-child(1) .content-inner .compact-panel:nth-child(1) { animation-delay: .4s; -webkit-animation-delay: .4s; }
.aa_autocomplete_item:nth-child(1) .content-inner .compact-panel:nth-child(2) { animation-delay: .45s; -webkit-animation-delay: .45s; }
.aa_autocomplete_item:nth-child(1) .content-inner .compact-panel:nth-child(3) { animation-delay: .5s; -webkit-animation-delay: .5s; }

.aa_autocomplete_item:nth-child(2) .content-inner .compact-panel:nth-child(1) { animation-delay: .55s; -webkit-animation-delay: .55s; }
.aa_autocomplete_item:nth-child(2) .content-inner .compact-panel:nth-child(2) { animation-delay: .6s; -webkit-animation-delay: .6s; }
.aa_autocomplete_item:nth-child(2) .content-inner .compact-panel:nth-child(3) { animation-delay: .65s; -webkit-animation-delay: .65s; }

.aa_autocomplete_item:nth-child(3) .content-inner .compact-panel:nth-child(1) { animation-delay: .7s; -webkit-animation-delay: .7s; }
.aa_autocomplete_item:nth-child(3) .content-inner .compact-panel:nth-child(2) { animation-delay: .75s; -webkit-animation-delay: .75s; }
.aa_autocomplete_item:nth-child(3) .content-inner .compact-panel:nth-child(3) { animation-delay: .8s; -webkit-animation-delay: .8s; }

.aa_more_search_result {
	-webkit-animation-name: second_ac_step;
	-webkit-animation-duration: .4s;
	animation-name: second_ac_step;
	animation-duration: .4s;
	animation-delay: .8s;
	-webkit-animation-delay: .8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

/*first animation step autocomplete block
* less put down
*/
@-webkit-keyframes first_ac_step {
	from { margin-top: 140px; }
	to { margin-top: 186px; }
}

@keyframes first_ac_step {
	from { margin-top: 140px; }
	to { margin-top: 186px; }
}

/*second animation step autocomplete block
* change opacity from 0 to 1
*/
@-webkit-keyframes second_ac_step {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes second_ac_step {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*third animation step autocomplete block
* hange opacity from 0 to 1, and less min-height from 85px to 75px
*/
@-webkit-keyframes third_ac_step {
	from { opacity: 0; min-height: 80px;}
	to { opacity: 1; min-height: 75px;}
}

@keyframes third_ac_step {
	from { opacity: 0; min-height: 80px;}
	to { opacity: 1; min-height: 75px;}
}

/*-end search autocomplete animate-*/

/*---Header tweaks---*/
#sticky-bar.header_tweaks:not(.unstick) {
	top: -73px !important;
}

#sticky-bar.admin-bar.header_tweaks:not(.unstick) {
	top: -41px !important;
}

#sticky-bar.header_tweaks .billboard-sharing {
	display: block;
	margin-top: 19px;
	float: right;
}

#sticky-bar.header_tweaks #tt_hot_products_menu {
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
/*---End Header tweaks---*/

/*---Main Menu---*/
/* Menu Button */
.menu-button {
	display: none;
	float: right;
	border: medium none;
	height: 48px;
	width: 48px;
	padding: 0;
	position: relative;
	background-color: rgba(255, 255, 255, 0.16);
	z-index: 2;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.menu-button span {
	background-color: #fff;
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	margin: -1px auto;
	left: 0;
	right: 0;
	top: 50%;
}

.menu-button span:before,
.menu-button span:after {
	content: '';
	background-color: #fff;
	position: absolute;
	width: 20px;
	height: 2px;
	margin: 0px auto;
	left: 0;
	right: 0;
}

.menu-button span:first-child,
.menu-button span:first-child:after,
.menu-button span:first-child:before {
	opacity: 1;
}

.menu-button span:first-child:after {
	top: 6px;
}

.menu-button span:first-child:before {
	top: -6px;
}

.menu-button span:last-child {
	opacity: 0;
	background-color: transparent;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.menu-button span:last-child:before,
.menu-button span:last-child:after {
	top: 0;
}

.menu-button span:last-child:after {
	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.menu-button span:last-child:before {
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.menu-button span,
.menu-button span:before,
.menu-button span:after,
.show-menu .menu-button span,
.show-menu .menu-button span:before,
.show-menu .menu-button span:after {
	transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.show-menu .menu-button span:first-child {
	opacity: 0;
	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.show-menu .menu-button span:last-child {
	opacity: 1;
	transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
}

/* Close Button */
.close-button {
	width: 20px;
	height: 20px;
	position: absolute;
	border: none;
	background: transparent;
	color: transparent;
	padding: 0;
}

.close-button:before {
	content: "\e5cd";
	font-family: icons;
}

/* Menu */
#menu-wrap {
	position: fixed;
	z-index: 5000007;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transform: translate3d( -100%, 0, 0 );
	transform: translate3d( -100%, 0, 0 );
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	perspective: 300px;
}

.sidebar-scroll-left {
	width: 100%;
	height: 100%;
	background: #3B4953;
	padding: 84px 0 23px;
	transform: rotateY(-115deg);
	transform-origin: 100% 0%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sidebar-scroll-left:before {
	content: '';
	top: 0;
	height: 48px;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	display: block;
	position: absolute;
	left: 0;
}

.admin-bar #menu-wrap {
	top: 32px;
}

/* Show menu */
.show-menu #menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	perspective: 700px;
}

.show-menu .sidebar-scroll-left  {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	transform: rotateY(0);
	transform-origin: 100% 0%;
	transition-delay: 70ms;
}

@media only screen and (max-width : 603px) {
	#page {
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

body.show-menu {
	overflow: hidden;
}

.show-menu #page {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.show-menu .sticky-color,
.show-menu .menu-button {
	position: relative;
	z-index: 5000008;
}

.show-menu .menu-button {
	background: transparent;
	border: none;
}

/* main menu */
#main-menu {
	display: block !important;
	height: 100%;
	position: relative;
	top: auto;
	left: auto;
}

#main-menu .menu-item,
#sticky-inner .menu-item {
	background-color: transparent;
}

#main-menu > ul,
#main-menu ul {
	border: none;
	background: transparent;
	box-shadow: none;
	padding: 0;
	height: 100%;
	width: auto;
}

#menu-aa-channels-menu {
	overflow-y: auto;
	padding-bottom: 20px !important;
}

#main-menu ul ul {
	display: block;
	margin-left: 0px;
	overflow: hidden;
	position: relative;
	padding: 0 0 0 50px;
	left: auto;
	top: auto;
	width: auto;
}

#main-menu ul ul:before {
	content: '';
}

#main-menu ul ul ul {
	display: none !important;
}

#main-menu ul li a {
	color: #778D9F;
	font-family: Open Sans Bold, sans-serif !important;
	font-size: 16px;
	letter-spacing: 0em;
	padding: 0px 20px 27px 22px;
	border: none;
	text-transform: uppercase;
	letter-spacing: -0.02em;
}

#main-menu ul ul li a {
	color: #fff;
	font-size: 13px;
	padding: 0 0 17px 19px;
	text-transform: none;
}

#main-menu ul li.current-menu-item > a {
	color: #54cc39;
}

@-webkit-keyframes sub_li_before_pos {
	0% {opacity: 0;left:-40px;}
	60% {opacity: 0.5;left:-40px;}
	80% {opacity: 0.5;}
	100% {opacity: 1;left:-1px;}
}

@keyframes sub_li_before_pos {
	0% {opacity: 0;left:-40px;}
	60% {opacity: 0;left:-40px;}
	80% {opacity: 0.5;}
	100% {opacity: 1;left:-1px;}
}

#main-menu ul ul li a:before {
	content: '';
	border: 2px solid #4F5F6C;
	border-radius: 50%;
	background-color: #3B4953;
	left: -40px;
	top: 3px;
	position: absolute;
	height: 8px;
	width: 8px;
	opacity: 0;
}

#main-menu ul li.over ul li a:before {
	-webkit-animation-name: sub_li_before_pos;
	-webkit-animation-duration: 0.8s;
	animation-name: sub_li_before_pos;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#main-menu .menu-item-contacts a {
	font-family: Open Sans Semibold, sans-serif !important;
	font-size: 11px;
	padding: 6px 0px 13px 24px;
}

#main-menu ul ul {
	height: 0;
}

@-webkit-keyframes sub_li_pos {
	0% {opacity: 0;-webkit-transform: translateX(20px);transform: translateX(20px);}
	60% {opacity: 0;-webkit-transform: translateX(20px);transform: translateX(20px);}
	80% {opacity: 0.5;}
	100% {opacity: 1;-webkit-transform: translateX(0);transform: translateX(0);}
}

@keyframes sub_li_pos {
	0% {opacity: 0;-webkit-transform: translateX(20px);transform: translateX(20px);}
	60% {opacity: 0;-webkit-transform: translateX(20px);transform: translateX(20px);}
	80% {opacity: 0.5;}
	100% {opacity: 1;-webkit-transform: translateX(0);transform: translateX(0);}
}

#main-menu ul li.over ul li {
	opacity: 0;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	-webkit-animation-name: sub_li_pos;
	-webkit-animation-duration: 0.8s;
	animation-name: sub_li_pos;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#main-menu .sf-arrows .sf-with-ul:after,
#main-menu .menu-item-has-children > a:after {
	background: transparent;
	border-width: 0 2px 2px 0;
	border-color: transparent #556068 #556068 transparent;
	border-style: solid;
	height: 8px;
	width: 8px;
	right: 46px;
	top: 8px;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#main-menu .over .sf-arrows .sf-with-ul:after,
#main-menu .menu-item-has-children.over > a:after {
	border-color: transparent #798086 #798086 transparent;
	top: 19px;
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg); 
	-webkit-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-moz-transition: -moz-transform 0.5s ease-out;
	-o-transition: -o-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

/* Main Menu Socials */
#main-menu li.aa_menu_socials {
	padding: 20px 15px 0px;
	border-bottom: 1px solid rgba(129, 139, 147, .15);
	text-align: justify;
}

#main-menu .aa_menu_socials a {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	font-size: 20px;
	width: 12.5%;
	padding-bottom: 0;
	border-bottom: none;
	color: #fff;
	width: 36px;
	height: 36px;
	background: #39454d;
	border-radius: 3px;
	padding-top: 7px;
}

#main-menu .aa_menu_socials a:hover {
	color: #8cc434!important;
}

#main-menu .aa_menu_socials:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.theme-icon-googleplus:before {
	content: "\ea8b";
}

.theme-icon-email:before {
	content: '\e918';
}

.theme-icon-youtube:before {
	content: "\e63a";
}

.theme-icon-googleplay:before {
	content: "\e903";
}

.theme-icon-snapchat:before {
	content: "\e902";
}

.theme-icon-periscope:before {
	content: "\e909";
}

/*contact us*/
#main-menu .aa_main_contact_wrap ul {
	height: auto;
	padding: 0 20px;
	text-align: justify;
}

#main-menu .aa_main_contact_wrap ul:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#main-menu .aa_main_contact_wrap ul li {
	display: inline-block;
}

#main-menu .aa_main_contact_wrap ul li a {
	padding: 18px 0;
	text-transform: uppercase;
	letter-spacing: -0.02em;
}

/*newsletter*/
#aa-newsletter-modal {
	background: #fff;
	color: #9d9d9d;
	position: fixed;
	top: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: auto;
	width: 40%;
	max-width: 592px;
	z-index: 5000008;
	border-radius: 3px;
}

#aa-newsletter-modal .mc-embed-signup-wrap {
	padding: 16px 20px 0 20px;
	background: #f1f5f7;
}

#aa-newsletter-modal .mc-other-news {
	background: #F7F9FA;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 2px solid #E0E0E0;
	padding: 7px 16px 15px;
}

.aa-newsletter-title {
	background-color: #54cc39;
	background-image: url("/wp-content/themes/aa/images/index_subscribe2.png");
	background-position: left 70%;
	background-repeat: no-repeat;
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 24px 20px 12px 112px;
}

#aa-newsletter-modal h4 {
	font-family: Open Sans Bold, sans-serif;
	font-size: 28px;
	margin: 0 0 17px 0;
	letter-spacing: -0.02em;
}

#aa-newsletter-modal p {
	font-family: Open Sans Semibold, sans-serif;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.04em;
}

#aa-newsletter-modal #mc_embed_signup .mc-field-group {
	display: inline-block;
	padding: 0;
	width: 48%;
}

#aa-newsletter-modal #mc_embed_signup {
	background: transparent;
	float: none;
	width: 100%;
	font-family: inherit;
}

#aa-newsletter-modal #mc_embed_signup form {
	padding: 0;
}

#aa-newsletter-modal #mc_embed_signup .mc-field-group:first-child {
	margin-right: 3%;
}

#aa-newsletter-modal #mc_embed_signup div.mce_inline_error {
	float: right;
	width: 100%;
	background-color: transparent;
	color: #608AFF;
	padding: 4px 0px 0px;
	font-size: 11px;
	letter-spacing: -0.02em;
	font-family: Open Sans Regular;
}

#mc_embed_signup .input-group {
	width: 100%;
}

#mc_embed_signup .input-group ul {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}

#mc_embed_signup .input-group ul li {
	float: left;
	font-family: Open Sans Semibold, sans-serif;
	letter-spacing: -0.02em;
}

#mc_embed_signup .input-group ul li:nth-child(even) {
	width: 48%;
	margin: 10px 0 4px 0px;
}

#mc_embed_signup .input-group ul li:nth-child(odd) {
	width: 49%;
	margin: 10px 3% 4px 0px;
}

#mc_embed_signup .input-group ul li label {
	font-weight: normal;
}

#mc_embed_signup .trans-element-checkbox {
	margin-right: 20px;
}

.mc-subscribe-wrap {
	background: #fff;
	margin: 0 -20px;
	padding: 31px 20px 19px;
}

.mc-subscribe-wrap a {
	color: #a6a6a6;
	float: right;
	font-size: 12px;
	margin-right: 16px;
	padding-top: 10px;
	text-transform: uppercase;
	font-family: Open Sans Bold, sans-serif;
	letter-spacing: -0.02em;
}

#mc-embedded-subscribe {
	float: right;
	margin: 0;
}

#aa-newsletter-modal #mc_embed_signup div#mce-responses {
	float: none;
}

#aa-newsletter-modal .aa-newsletter-secure {
	display: block;
	font-family: Open Sans Semibold, sans-serif;
	font-size: 11px;
	letter-spacing: -0.02em;
	line-height: 17px;
}

@media only screen and (max-width : 991px) {
	.section-toggle,
	#main-form-email {
		display: none !important;
	}
	
	#aa-newsletter-modal {
		width: 90%;
		top: 10%;
	}
}

/*style for sticky, when admin-bar active*/
@media only screen and (max-width : 782px) {
	#sticky-bar.admin-bar,
	#sticky-bar.admin-bar.sticky-mobile,	
	#sticky-bar.admin-bar.fixed:not(.unstick),
	.admin-bar #menu-wrap {
		top: 46px !important;
	}

	#sticky-bar.admin-bar.header_tweaks:not(.unstick) {
		top: -27px !important;
	}
}

/*style for sticky, when admin-bar active*/
@media only screen and (max-width : 603px) {
	#sticky-bar.admin-bar.header_tweaks:not(.unstick) {
		top: 2px !important;
	}

	#main-menu .menu-item-contacts a {
		border-bottom: none;
		padding-left: 20px;
	}

	#main-menu .aa-newsletter-item a {
		border-bottom: none;
		padding: 20px 0 14px 0 !important;
	}

	.aa-newsletter-item #main-menu-form {
		margin-left: 22px;
	}

	.aa-newsletter-item .main-label-subscribe:before {
		top: 18px;
		background-position: -48px -362px;
	}

	#main-menu .sf-arrows .sf-with-ul:after,
	#main-menu .menu-item-has-children > a:after {
		top: 6px;
	}

	#main-menu .over .sf-arrows .sf-with-ul:after,
	#main-menu .menu-item-has-children.over > a:after {
		top: 8px;
	}

	#main-menu .aa_menu_socials:before {
		content: '';
		display: block;
		position: absolute;
		height: 11px;
		left: 0;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#14000000',GradientType=0 );
	}

	/*newsletter*/
	 #aa-newsletter-modal {
		top: 75px;
		width: 95%;
		max-height: calc( 100% - 95px );
		overflow-y: auto;
	}

	.admin-bar #aa-newsletter-modal {
		top: 120px;
		max-height: calc( 100% - 140px );
	}

	.aa-newsletter-title {
		background-position: left 76%;
		background-size: 61px 73px;
		padding: 18px 40px 14px 75px;
	}
	
	#aa-newsletter-modal h4 {
		margin-bottom: 2px;
		font-size: 17px;
	}

	#aa-newsletter-modal p {
		margin-bottom: 0;
	}

	#aa-newsletter-modal .mc-embed-signup-wrap {
		padding: 10px 10px 0;
	}

	#aa-newsletter-modal #mc_embed_signup .mc-field-group {
		width: 100%;
		margin: 10px 0;
	}

	#aa-newsletter-modal #mc_embed_signup .mc-field-group:first-child {
		margin-right: 0;
	}

	#mc_embed_signup .input-group ul {
		margin-top: 19px;
	}

	#mc_embed_signup .input-group ul li,
	#mc_embed_signup .input-group ul li:nth-child(odd),
	#mc_embed_signup .input-group ul li:nth-child(even) {
		width: 100%;
		margin: 9px 0;
	}

	.mc-subscribe-wrap {
		padding: 10px;
		margin: 9px -10px 0 -10px;
		text-align: center;
	}

	#mc-embedded-subscribe {
		height: 29px;
		float: none;
		width: 100%;
		margin: 0 0 8px 0;
		font-size: 12px;
		font-family: Open Sans Bold, sans-serif;
	}

	#aa-newsletter-modal .mc-other-news {
		border-top-width: 1px;
		padding: 8px 8px 14px;
	}

	#aa-newsletter-modal .aa-newsletter-secure {
		letter-spacing: -0.04em;
		line-height: 13px;
	}

	.mc-subscribe-wrap a {
		float: none;
		margin-right: 0;
	}

	.aa-newsletter-close.close-button {
		top: 10px;
		right: 11px;
	}

	.aa-newsletter-close.close-button:before {
		font-size: 33px;
		color: #fff;
		opacity: 0.5;
		position: absolute;
		top: -13px;
		left: -6px;
	}
}

@media only screen and (max-width : 600px) {
	#sticky-bar.admin-bar.fixed:not(.unstick),
	#sticky-bar.admin-bar.fixed:not(.unstick) #menu-wrap {
		top: 0 !important;
	}

	#main-menu ul.sub-menu {
		display: block !important;
	}

	#sticky-bar.admin-bar.header_tweaks:not(.unstick) {
		top: -44px !important;
	}
}

/*---End Main Menu---*/

/*===App Banner===*/
#aa_app_banner {
	width: 630px;
	height: 299px;
	background: #fff;
	z-index: 5000005;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
	padding: 27px 27px 27px 267px;
}

#close_app_banner {
	right: 23px;
	top: 8px;
	color: #ccc;
	font-size: 29px;
}

#aa_app_banner > img {
	position: absolute;
	top: -67px;
	left: -6px;
	float: left;
}

.aa_app_banner_title {
	font-size: 24px;
	color: #54cc39;
	line-height: 34px;
	text-transform: uppercase;
	letter-spacing: -0.04em;
	margin-bottom: 16px;
}

.aa_app_banner_title span:first-child {
	font-family: Open Sans Semibold, sans-serif;
}

.aa_app_banner_title span:last-child {
	font-family: Open Sans Extrabold, sans-serif;
}

.aa_app_banner_desc {
	font-family: Open Sans Semibold, sans-serif;
	color: #999;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: -0.045em;
	margin-bottom: 26px;
}

a.aa_app_banner_link {
	border-radius: 3px;
	height: 40px;
	display: inline-block;
	padding: 5px 9px 0 42px;
	color: #fff;
	position: relative;
	background: rgb(111,198,18);
	background: -moz-linear-gradient(left, rgba(111,198,18,1) 0%, rgba(0,225,190,1) 100%);
	background: -webkit-linear-gradient(left, rgba(111,198,18,1) 0%,rgba(0,225,190,1) 100%);
	background: linear-gradient(to right, rgba(111,198,18,1) 0%,rgba(0,225,190,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fc612', endColorstr='#00e1be',GradientType=1 );
}

a.aa_app_banner_link:hover {
	color: #fff !important;
}

a.aa_app_banner_link:before {
	content: '\e903';
	font-family: icons;
	left: 10px;
	position: absolute;
	font-size: 26px;
	top: 3px;
}

a.aa_app_banner_link span:first-child {
	font-family: Open Sans Bold, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	display: block;
	width: 100%;
}

/*mobile*/
.aa_mobile_device #aa_app_banner {
	min-height: 90px;
	background-color: rgba(0, 0, 0, 0.65);
	padding: 18px 15px;
	display: none;
	width: 100%;
	height: auto;
	position: static;
	border-radius: 0;
}

.aa_mobile_device #aa_app_banner * {
	float: left;
}

.aa_mobile_device #aa_app_banner img {
	margin: 0 11px 0 25px;
	position: static;
	top: auto;
	left: auto;
}

.aa_mobile_device .aa_app_banner_title {
	padding-top: 6px;
	margin-right: 11px;
	margin-bottom: 0;
	letter-spacing: 0;
	text-transform: none;
	line-height: 20px;
}

.aa_mobile_device .aa_app_banner_title span:first-child {
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	color: #FFF;
	letter-spacing: -0.02em;
}

.aa_mobile_device .aa_app_banner_title span:last-child {
	font-family: Open Sans Semibold, sans-serif;
	font-size: 14px;
	color: #8CC434;
	margin-top: -5px;
}

.aa_mobile_device #aa_app_banner .close-button {
	width: 40px;
	height: 40px;
	top: 24px;
	left: -2px;
	font-size: 14px;
}

.aa_mobile_device #aa_app_banner .close-button:before {
	font-size: 18px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.3);
}

.aa_mobile_device .aa_app_banner_link {
	position: absolute;
	right: 11px;
	top: 27px;
	padding: 10px 15px;
}

.aa_mobile_device a.aa_app_banner_link:before {
	display: none;
}

@media only screen and ( max-width: 400px ) {
	.aa_app_banner_link {
		position: relative;
		top: 8px;
		right: auto;
	}

	.aa_app_banner_title {
		padding-top: 0;
	}
}

/*===End App Banner===*/

/*===sticky_soc_wrapper===*/
#aa_sticky_soc_wrapper {
	float: right;
	position: relative;
	padding: 0 20px 0 12px;
	border-left: 1px solid rgba(255, 255, 255, 0.16);
}

#aa_sticky_soc_wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#aa_sticky_soc_wrapper a.aa_soc {
	height: 77px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 27px 8px;
}

#aa_sticky_soc_wrapper a.aa_soc.aa_sticky_soc_more_link {
	padding-right: 4px;
	z-index: 11;
}

#aa_sticky_soc_wrapper a.aa_soc:hover {
	color: #fff !important;
}

.theme-icon-morelink:before {
	content: '\e90e';
	font-size: 5px;
	width: auto;
	top: -5px;
	position: relative;
}

#aa_sticky_soc_wrapper .theme-icon-googleplay {
	position: relative;
}

#aa_sticky_soc_wrapper .theme-icon-googleplay:hover:after {
	opacity: 1;
	top: 5px;
	transition: opacity .3s easeInBounce;
	-webkit-transition: opacity .3s easeInBounce;
}

#aa_sticky_soc_wrapper .theme-icon-googleplay:after {
	content: 'Download our App!';
	font-family: Open Sans Bold, sans-serif;
	font-size: 10px;
	background: #797979;
	padding: 2px 4px;
	border-radius: 3px;
	position: absolute;
	display: block;
	top: 0px;
	width: 102px;
	left: -28px;
	opacity: 0;
	transition: top .3s cubic-bezier(0,1.18,.4,1.86), opacity .3s linear;
	-webkit-transition: top .3s cubic-bezier(0,1.18,.4,1.86), opacity .3s linear;
	letter-spacing: -0.02em;
}

a.aa_sticky_soc_more_link {
	z-index: 1;
	position: relative;
}

a.aa_sticky_soc_more_link.show_more,
#aa_sticky_soc_wrapper a.aa_sticky_soc_more_link.show_more:hover {
	color: #11dda4 !important;
}

ul.aa_sticky_soc_more_wrap {
	background: #fff;
	position: absolute;
	border-radius: 3px;
	right: 15px;
	transform: scale(0);
	-webkit-transform: scale(0);
	transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	top: 19px;
	min-width: 159px;
	padding-top: 14px !important;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.14);
	z-index: 10;
}

ul.aa_sticky_soc_more_wrap.visible {
	transform: scale(1);
	-webkit-transform: scale(1);
	transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
}

.aa_sticky_soc_more_wrap ul li a {
	font-family: Open Sans Bold, sans-serif;
	font-size: 13px;
	color: #a5a5a5;
	display: inline-block;
	padding: 0px 10px 16px;
	letter-spacing: -0.02em;
	opacity: 0;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.aa_sticky_soc_more_wrap.visible ul li a {
	opacity: 1;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition-delay: .3s;
	-webkit-transition-delay: .3s;
}

/*===end sticky_soc_wrapper===*/

/*===aa_dgit_links_wrapper====*/
#aa_dgit_links_wrapper {
	float: right;
	position: relative;
}

#aa_dgit_links_wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 10;
}

.aa_dgit_links {
	background: #fff;
	border-radius: 3px;
	position: absolute;
	width: 170px;
	right: 15px;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.14);
	top: 20px;
	padding-top: 16px !important;
	overflow: hidden;
	transform: scale(0);
	-webkit-transform: scale(0);
}

.aa_dgit_links.visible {
	transform: scale(1);
	-webkit-transform: scale(1);
}

.aa_dgit_links a {
	font-family: Open Sans Bold, sans-serif;
	font-size: 14px;
	padding: 6px 14px 22px 62px;
	display: inline-block;
	letter-spacing: -0.02em;
	position: relative;
}

#aa_dgit_links_wrapper .aa_dgit_links a {
	left: -40px;
	opacity: 0;
}

a.aa_dgit_vrs { color: #8299b9; }
a.aa_dgit_ss { color: #1eadd6; }
a.aa_dgit_tt { color: #058bc6; }
a.aa_dgit_charged { color: #1b93a6; }
#main-menu a.aa_dgit_vrs { color: #8299b9; }
#main-menu a.aa_dgit_ss { color: #1eadd6; }
#main-menu a.aa_dgit_tt { color: #058bc6; }
#main-menu a.aa_dgit_charged { color: #1b93a6; }

.aa_dgit_links a:before{
	content: '';
	display: block;
	position: absolute;
	background-image: url(../images/dgit_icons.png);
	width: 32px;
	height: 30px;
	left: 16px;
	top: 2px;
	background-size: 148px 72px;
}

.aa_dgit_vrs:before { background-position: -3px -2px; }
.aa_dgit_ss:before { background-position: -36px -2px; top: -2px; }
.aa_dgit_tt:before { background-position: -76px -4px; }
.aa_dgit_charged:before { background-position: -111px 0px; }

.aa_sticky_dgit_logo {
	display: block;
	height: 57px;
	font-family: Open Sans Bold, sans-serif;
	text-transform: uppercase;
	padding: 10px 44px 0 34px;
	cursor: pointer;
	position: relative;
	color: rgba(255, 255, 255, 0.6);
	margin: 20px 15px 0 0;
}

.aa_sticky_dgit_logo:before {
	content: '\e91e';
	display: block;
	position: absolute;
	left: 7px;
	top: 8px;
	font-family: icons;
	color: #fff;
	font-size: 18px;
}

.aa_sticky_dgit_logo:after {
	content: '';
	border-style: solid;
	border-width: 4px;
	border-color: rgba(255, 255, 255, 0.6) transparent transparent;
	position: absolute;
	right: 30px;
	top: 18px;
}

.aa_dgit_links.visible a {
	animation-name: dgit_visible;
	-webkit-animation-name: dgit_visible;
	animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.aa_dgit_links.visible li:nth-child(1) a { animation-delay: .3s; -webkit-animation-delay: .3s; }
.aa_dgit_links.visible li:nth-child(2) a { animation-delay: .4s; -webkit-animation-delay: .4s; }
.aa_dgit_links.visible li:nth-child(3) a { animation-delay: .5s; -webkit-animation-delay: .5s; }
.aa_dgit_links.visible li:nth-child(4) a { animation-delay: .6s; -webkit-animation-delay: .6s; }
.aa_dgit_links.visible li:nth-child(5) a { animation-delay: .7s; -webkit-animation-delay: .7s; }
.aa_dgit_links.visible li:nth-child(6) a { animation-delay: .8s; -webkit-animation-delay: .8s; }
.aa_dgit_links.visible li:nth-child(7) a { animation-delay: .9s; -webkit-animation-delay: .9s; }
.aa_dgit_links.visible li:nth-child(8) a { animation-delay: 1.0s; -webkit-animation-delay: 1.0; }
.aa_dgit_links.visible li:nth-child(9) a { animation-delay: 1.2s; -webkit-animation-delay: 1.2s; }
.aa_dgit_links.visible li:nth-child(10) a { animation-delay: 1.3s; -webkit-animation-delay: 1.3s; }

@-webkit-keyframes dgit_visible {
	from { opacity: 0; left: -40px; }
	to { opacity: 1; left: 0; }
}

@keyframes dgit_visible {
	from { opacity: 0; left: -40px; }
	to { opacity: 1; left: 0; }
}

.aa_sticky_dropdown,
.aa_sticky_dropdown.visible {
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}

/*===end aa_dgit_links_wrapper====*/

/*===Hot products menu===*/
#tt_hot_products_menu {
	position: relative;
	background: #FFF;
	padding: 12px 56px;
	max-height: 45px;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}

.tt_hot_products_title,
#hot-products-menu {
	display: block;
	float: left;
}

.tt_hot_products_title {
	font-family: Open Sans Bold, sans-serif;
	line-height: 22px;
	font-size: 13px;
	text-transform: uppercase;
	color: #626262;
	margin-right: 13px;
	position: relative;
}

.tt_hot_products_title:before {
	font-size: 19px;
	content: '\e836';
	font-family: icons;
	display: block;
	position: absolute;
	left: -26px;
	bottom: 1px;
	color: #59cd37;
}

#hot-products-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#hot-products-menu ul li {
	float: left;
}

#hot-products-menu ul li a {
	font-family: Open Sans Semibold, sans-serif;
	font-size: 12px;
	color: #aaa;
	margin: 0 12px;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}

#hot-products-menu ul li a:hover {
	color: #77aaad;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}
/*===End Hot products menu===*/

/*main menu dgit*/
#main-menu .aa_dgit_sidebar {
	background: #36434b;
	padding: 0 20px 17px;
}
#main-menu .aa_sticky_dgit_logo:after {
	display: none;
}

#main-menu .aa_sticky_dgit_logo {
	height: 50px;
	padding: 15px 20px 0 42px;
	cursor: pointer;
	position: relative;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: -0.02em;
	font-size: 16px;
}

#main-menu .aa_sticky_dgit_logo:before {
	width: auto;
	left: 7px;
}

#main-menu .aa_dgit_links {
	height: auto;
	padding: 0;
	width: calc(100% + 30px);
	left: -15px;
	padding-top: 53px !important;
	transform: scale(1);
	-webkit-transform: scale(1);
}

#main-menu .aa_dgit_links li {
	width: 25%;
	float: left;
}

#main-menu .aa_dgit_links li a {
	padding: 0 !important;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}

#main-menu .aa_dgit_links a:before {
	content: '' !important;
	display: block !important;
	width: 32px;
	height: 30px;
	top: -41px;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 1;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

#main-menu .aa_dgit_vrs:before { background-position: -2px -35px; }
#main-menu .aa_dgit_ss:before { background-position: -36px -37px; }
#main-menu .aa_dgit_tt:before { background-position: -76px -37px; }
#main-menu .aa_dgit_charged:before { background-position: -111px -33px; }

/*===.aa_mobile_device===*/
.aa_mobile_device #sticky-bar.fixed:not(.unstick) #search-toggle span {
	top: 5px;
}

.aa_mobile_device #aa_main_logo {
	width: 172px;
	height: 48px;
}

.aa_mobile_device.sticky-search-bar:before {
	background: rgba( 79, 92, 101, 0.9 );
	content: "";
	height: 200%;
	width: 9999px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000005;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.aa_mobile_device .aa-search-popup,
.aa_mobile_device #close-search-button {
	display: none;
}

.aa_mobile_device.sticky-search-bar #sticky-search {
	background-color: #4f5c65 !important;
	top: 77px;
	height: 60px;
	border: none;
	position: absolute;
	max-width: 100%;
}

.aa_mobile_device #sticky-search .searchform {
	height: 60px;
}

.aa_mobile_device #sticky-search input[name="q"] {
	height: 60px;
	color: #778c9f;
	padding: 0 10px;
	font-size: 14px;
	font-family: Open Sans Bold, sans-serif;
	padding-left: 23px;
}

.aa_mobile_device #sticky-search input[name="q"]::-webkit-input-placeholder { color: #778c9f; }
.aa_mobile_device #sticky-search input[name="q"]::-moz-placeholder { color: #778c9f; }
.aa_mobile_device #sticky-search input[name="q"]:-moz-placeholder { color: #778c9f; }
.aa_mobile_device #sticky-search input[name="q"]:-ms-input-placeholder { color: #778c9f; }

.aa_mobile_device #sticky-search label[for=sticky-search-submit] {
	top: 17px;
	right: 9px;
}

.aa_mobile_device #sticky-search label[for=sticky-search-submit]:before {
	font-size: 24px;
}

.aa_mobile_device #section-menu.standard-menu #section-menu-more ul {
	padding-left: 250px;
}

@media only screen and (max-width : 1200px) {
	#tt_hot_products_menu,
	#aa_sticky_soc_wrapper,
	.aa_sticky_dgit_logo:after {
		display: none;
	}

	.aa_sticky_dgit_logo {
		padding: 0;
		width: 77px;
		color: transparent;
	}

	.aa_sticky_dgit_logo:before {
		text-align: center;
		width: 100%;
		left: 0;
	}

	#section-menu.standard-menu #section-menu-more ul,
	.aa_mobile_device #section-menu.standard-menu #section-menu-more ul {
		padding-left: 0;
	}
}

@media only screen and (max-width : 603px) {
	#section-menu,
	#aa_dgit_links_wrapper {
		display: none;
	}

	.menu-button {
		display: block;
	}

	#sticky-bar,
	#sticky-bar.fixed:not(.unstick) {
		height: 48px;
	}

	#search-toggle,
	#sticky-bar.fixed:not(.unstick) #search-toggle {
		height: 48px;
		width: 48px;
	}

	#sticky-bar.header_tweaks:not(.unstick) {
		top: -44px !important;
	}

	#search-toggle span:before {
		font-size: 19px;
	}

	#search-toggle span {
		font-size: 26px;
		display: block;
	}

	.sticky-color {
		height: 48px;
		padding: 0 0 0 25px;
	}
}

/*===end .aa_mobile_device===*/

/*=======================================================End Sticky Bar================================================*/