.scf-voting {
    width: auto;
    cursor: pointer;
}

.scf-voting .scf-votingLabel {
    font-size: 18px;
    width: 24px;
	text-align: right;
}

.scf-voting span {
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 38px;
}

.scf-voting .scf-vote-up:hover:before, .scf-voting .scf-vote-down:hover:before, .scf-voting .scf-vote-up.scf-voting-unset:hover:before, .scf-voting .scf-vote-down.scf-voting-unset:hover:before {
    color: #4191D2;
}

.scf-voting .scf-vote-up:before {
    content: "";
    font-family: AdobeIcons;
    font-size: 16px;
    color: #B4B4B4;
}

.scf-voting .scf-vote-down:before {
    content: "";
    font-family: AdobeIcons;
    font-size: 16px;
    color: #B4B4B4;
}

.scf-voting .scf-vote-up.scf-voting-unset:before {
    color: #82AA46;
}

.scf-voting .scf-vote-down.scf-voting-unset:before {
    color: #EB413C;
}

.scf-voting .scf-votingLabel[data-vote-count] {
    color: #82AA46;
}

.scf-voting .scf-votingLabel[data-vote-count='0'] {
    color: #B4B4B4;
}

.scf-voting .scf-votingLabel[data-vote-count*='-'] {
    color: #EB413C;
}

