/******** composer styles ************/
.scf-composer-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
}
.scf-commentsystem header {
	border-bottom: 1px solid #E6E6E6;
}
.scf-composer-block {
	padding: 10px;
}

.scf-composer-block.scf-is-collapsed input, .scf-composer-block.scf-is-collapsed label {
	display: none;
}
.scf-is-collapsed .scf-composer-msg {
	border: 1px solid #B4B4B4;
	height: 30px;
	margin-top: 5px;
	display: inline;
}
.scf-is-collapsed .scf-rte-composer {
	display: none;
}
.scf-composer-block.scf-is-collapsed .scf-rte-placeholder {
	display: inline;
}
.scf-composer-msg {
	display: inline;
	width: 100%;
	box-sizing: border-box;
	resize: none;
	height: 200px;
}

input.scf-composer-msg {
	height: 30px;
}

.scf-composer-msg::-webkit-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-moz-placeholder:before { 
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg::-moz-placeholder:before {  
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-ms-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-is-collapsed .scf-composer-toolbar {
	display: none;
}
.scf-composer-toolbar {
	position: relative;
	margin-top: 10px;
}
.scf-composer {
	margin: 0 0 0 50px;
}
.scf-composer.scf-edit-composer {
	margin: 0px;
}

.scf-composer-actions {
	text-align: right;
}
.scf-comment-attachment-input {
	display: none;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 100px;	
}
.scf-composer-attach {
	float: left;
	cursor: pointer;
}
.scf-composer-attach:before {
	font-family: AdobeIcons;
	font-size: 20px;
	margin-right: 5px;
	content: "";
	color: #595959;
	cursor: pointer;
}

.scf-attachment-list {
	margin: 0px;
	padding: 10px 0px 10px 0px;
	list-style: none;
}
.scf-is-attached {
	background: #969696;
	color: #FFFFFF;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
	margin: 0 5px;
}
.scf-is-rem-att {
	font-size: 10px;
	padding-left: 5px;
	cursor: pointer;
}
.scf-rte-placeholder {
	display: none;
}
.scf-composer .scf-input {
	display: block;
}
/****** ckeditor styles ********/
.scf .cke {
	margin-bottom: 10px;
	border: 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}
.scf .cke_contents {
	border: 1px solid #B3B3B3;
}
.scf .cke_top {
	border-bottom: 0px;
	padding: 0px;
	white-space: normal;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
.scf .cke_toolgroup {
	float: left;
	margin: 0 6px 5px 0;
	border: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px
	border-radius: 0px;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
/******** comments list ************/

.scf-comments-list {
	padding: 10px 0 0 0;
	margin: 0px;
	list-style: none;
	border-top: 1px solid #E6E6E6;
}

/******* comment style *************/

.scf-comment {
	padding: 10px;
	padding-right: 0px;
	border-bottom: 1px solid #E6E6E6;
}
.scf-comment:last-child {
	border: 0;
}
.scf-comment-author {
	float: left;
}
.scf-comment-body {
	margin-right: 50px;
}
.scf-comment-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.scf-comment-avatar.withTopLevel {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.scf-comment-data {
	margin-left: 50px;
	position: relative;
}
.scf-comment-data.withTopLevel {
	margin-left: 60px;
}
.scf-comment-replies .scf-comments-list.withTopLevel {
	margin-left: 60px;
	border-top: 1px solid #E6E6E6;
}
.scf-comment-replies .scf-comments-list {
	margin-left: 50px;
	margin-top: 10px;
	border-top: 1px solid #E6E6E6;
}

.scf-comment-votes {
	position: absolute;
	top: 0;
	right: 0;
}
.scf-comment-msg {
	margin-top: 10px;
}
.scf-comment-img-att {
	max-width: 60%;
	border: 1px solid #E6E6E6;
	width: auto;
	display: inline-block;
	margin: 10px 0px;
}

.scf-comment-attachment-img {
	max-width: 100%;
	max-height: 100%;
}

.scf-comment-att .scf-comment-att-link{
	margin-left: 10px;
}
.scf-comment-att-name {
	background-color: #E6E6E6;
	line-height: 18px;
	padding: 10px;
}
.scf-is-new {
	background-color: #EBF0DC;
}

/****** comment toolbar styles ******/
.scf-comment-toolbar {
	margin-top: 10px;
}
.scf-comment-action {
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}

/***** pubmod styles *****/
.scf-comment-status-text {
	margin: 10px 0;
	color: #969696;
	font-style: italic;
}
.scf-flag-reasons th {
	font-weight: 300;
	padding-right: 20px;
	border-bottom: 1px solid #969696;
}
.scf-flag-reasons tr {
	font-weight: 100;
	border-bottom: 1px solid #B4B4B4;
}
.scf-flag-reasons td {
	padding-right: 10px;
}

/******** composer styles ************/
.scf-composer-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
}
.scf-commentsystem header {
	border-bottom: 1px solid #E6E6E6;
}
.scf-composer-block {
	padding: 10px;
}

.scf-composer-block.scf-is-collapsed input, .scf-composer-block.scf-is-collapsed label {
	display: none;
}
.scf-is-collapsed .scf-composer-msg {
	border: 1px solid #B4B4B4;
	height: 30px;
	margin-top: 5px;
	display: inline;
}
.scf-is-collapsed .scf-rte-composer {
	display: none;
}
.scf-composer-block.scf-is-collapsed .scf-rte-placeholder {
	display: inline;
}
.scf-composer-msg {
	display: inline;
	width: 100%;
	box-sizing: border-box;
	resize: none;
	height: 200px;
}

input.scf-composer-msg {
	height: 30px;
}

.scf-composer-msg::-webkit-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-moz-placeholder:before { 
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg::-moz-placeholder:before {  
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-ms-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-is-collapsed .scf-composer-toolbar {
	display: none;
}
.scf-composer-toolbar {
	position: relative;
	margin-top: 10px;
}
.scf-composer {
	margin: 0 0 0 50px;
}
.scf-composer.scf-edit-composer {
	margin: 0px;
}

.scf-composer-actions {
	text-align: right;
}
.scf-comment-attachment-input {
	display: none;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 100px;	
}
.scf-composer-attach {
	float: left;
	cursor: pointer;
}
.scf-composer-attach:before {
	font-family: AdobeIcons;
	font-size: 20px;
	margin-right: 5px;
	content: "";
	color: #595959;
	cursor: pointer;
}

.scf-attachment-list {
	margin: 0px;
	padding: 10px 0px 10px 0px;
	list-style: none;
}
.scf-is-attached {
	background: #969696;
	color: #FFFFFF;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
	margin: 0 5px;
}
.scf-is-rem-att {
	font-size: 10px;
	padding-left: 5px;
	cursor: pointer;
}
.scf-rte-placeholder {
	display: none;
}
.scf-composer .scf-input {
	display: block;
}
/****** ckeditor styles ********/
.scf .cke {
	margin-bottom: 10px;
	border: 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}
.scf .cke_contents {
	border: 1px solid #B3B3B3;
}
.scf .cke_top {
	border-bottom: 0px;
	padding: 0px;
	white-space: normal;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
.scf .cke_toolgroup {
	float: left;
	margin: 0 6px 5px 0;
	border: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px
	border-radius: 0px;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
/******** comments list ************/

.scf-comments-list {
	padding: 10px 0 0 0;
	margin: 0px;
	list-style: none;
	border-top: 1px solid #E6E6E6;
}

/******* comment style *************/

.scf-comment {
	padding: 10px;
	padding-right: 0px;
	border-bottom: 1px solid #E6E6E6;
}
.scf-comment:last-child {
	border: 0;
}
.scf-comment-author {
	float: left;
}
.scf-comment-body {
	margin-right: 50px;
}
.scf-comment-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.scf-comment-avatar.withTopLevel {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.scf-comment-data {
	margin-left: 50px;
	position: relative;
}
.scf-comment-data.withTopLevel {
	margin-left: 60px;
}
.scf-comment-replies .scf-comments-list.withTopLevel {
	margin-left: 60px;
	border-top: 1px solid #E6E6E6;
}
.scf-comment-replies .scf-comments-list {
	margin-left: 50px;
	margin-top: 10px;
	border-top: 1px solid #E6E6E6;
}

.scf-comment-votes {
	position: absolute;
	top: 0;
	right: 0;
}
.scf-comment-msg {
	margin-top: 10px;
}
.scf-comment-img-att {
	max-width: 60%;
	border: 1px solid #E6E6E6;
	width: auto;
	display: inline-block;
	margin: 10px 0px;
}

.scf-comment-attachment-img {
	max-width: 100%;
	max-height: 100%;
}

.scf-comment-att .scf-comment-att-link{
	margin-left: 10px;
}
.scf-comment-att-name {
	background-color: #E6E6E6;
	line-height: 18px;
	padding: 10px;
}
.scf-is-new {
	background-color: #EBF0DC;
}

/****** comment toolbar styles ******/
.scf-comment-toolbar {
	margin-top: 10px;
}
.scf-comment-action {
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}

/***** pubmod styles *****/
.scf-comment-status-text {
	margin: 10px 0;
	color: #969696;
	font-style: italic;
}
.scf-flag-reasons th {
	font-weight: 300;
	padding-right: 20px;
	border-bottom: 1px solid #969696;
}
.scf-flag-reasons tr {
	font-weight: 100;
	border-bottom: 1px solid #B4B4B4;
}
.scf-flag-reasons td {
	padding-right: 10px;
}


.scf-ratings-bar-empty {
    width: 90px;
    cursor: pointer;
    background-image: url("../../../designs/social/rating/hbs/ratings_star_empty.png");
}

.scf-ratings-bar-full {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_full.png");
}

.scf-ratings-bar-selected {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_selected.png");
}

.scf-ratings-bar {
    background-repeat: repeat-x;
    height: 18px;
}

.scf-ratings-star {
    float: left;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    cursor: pointer;
}


.scf-ratings-bar[data-rating-shown^='0'] {
    width: 0px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='1'] {
    width: 18px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='2'] {
    width: 36px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='3'] {
    width: 54px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='4'] {
    width: 72px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='5'] {
    width: 90px;
    cursor: pointer;
}

.scf-is-rating-star-select {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_selected.png") !important;
}

.scf-is-rating-star-deselect {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_selected_empty.png") !important;
}

.scf-rating-trigger-bar {
    position: absolute;
}
.scf-ratings-text {
    cursor: pointer;
    font-size: small;
}


.scf-rating-histogram {
    display: none;
    opacity: 1;
    background-color: white;
    border-style:solid;
    border-width:1px;
    width: 245px;
}

.scf-poll-result {
    list-style-type: none;
    margin-left: 5px;
    padding-left: 5px;
}


.scf-poll-response {
    background-repeat: repeat-x;
    background-image: url("../../../designs/social/rating/hbs/ratings_star_full.png");
    height: 18px;
    float:left;
}
.scf-poll-results-bar {
    height: 18px;
}

.scf-poll-results-bar [data-star-shown='1'] {
    width: 18px;
}
.scf-poll-results-bar [data-star-shown='2'] {
    width: 36px;
}
.scf-poll-results-bar [data-star-shown='3'] {
    width: 54px;
}
.scf-poll-results-bar [data-star-shown='4'] {
    width: 72px;
}
.scf-poll-results-bar [data-star-shown='5'] {
    width: 90px;
}

.scf-ratings-block {
    width:180px;
    float:left;
    margin: 0 20px 0 0;
}
.scf-ratings-block ul{
    padding: 0 0 0 0;
}
.scf-ratings-block ul li{
    height:18px;
    list-style-type:none;
}
.scf-ratings-block ul li div{
    float:right;
}
.scf-ratings-block ul li div div{
    float:left;
}
.scf-review-body {
    margin-right: 100px;
}
.scf-reviews .scf-replies-count {
    display: inline-block;
}
.scf-review-votes {
    position: absolute;
    top: 10px;
    right: 50px;
}
.scf-review-vote-label{
    position: absolute;
    right: 0;
    top: 70px;
    width: 100px;
    color:#4191D2;
}
.scf-create-review-button {
    margin-bottom: 20px;
    min-width: 100px;
    min-height: 35px;
    color: #FFFFFF;
    background: #227ECB;
    text-decoration: none;
    border: none;
    outline: none;
}
.scf-create-review-button:hover {
    background: #4191D2;
}
.scf-create-review-button:active {
    background: #377DB4;
}
.scf-create-review-button:disabled {
    background: #DCDCDC;
}
form.scf-review-composer {
    margin-top: 0;
}
.scf-review-form {
    display: none;
    padding: 20px 0;
}


.scf-review-form .scf-review-form-label-bold{
    font-weight: bold;
    color: DarkSlateBlue;
    margin:0 0 10px 0;
}
.scf-review-form .scf-review-form-label{
    margin:10px 0 10px 0;
}
.scf-review-summary {
    width: 250px;
}
.scf-review-summary ul{
    padding: 0 50px 0 0;
}
.scf-review-summary ul li{
    list-style-type:none;
    height: 18px;
    padding: 2px 0 2px 0;
}
.scf-review-summary ul li div{
    float:right;
}
.scf-review-summary ul li div div{
    float:left;
}
.scf-review-histogram {
    opacity: 1;
    background-color: white;
    width: 230px;
}
.scf-review-result {
    padding: 10px 0 0 0;
    margin: 0px;
}
.scf-review-result-item{
    list-style-type: none;
    margin: 5px 0;
}
.scf-review-result-item .scf-review-result-bar {
    display: inline-block;
    background-color: #4191D2;
    height: 10px;
}
.scf-review-result-item .scf-review-result-empty-bar {
    display: inline-block;
    width: 70%;
    background-color: #c3c3c3;
    height: 10px;
}
.scf-review-result-item .scf-review-result-name {
    font-size: 10px;
    font-weight: bold;
    color: #4191D2;
}
.scf-review-result-item .scf-review-result-value {
    font-size: 10px;
    font-weight: bold;
    color: #c3c3c3;
}
/******** composer styles ************/
.scf-composer-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
}
.scf-commentsystem header {
	border-bottom: 1px solid #E6E6E6;
}
.scf-composer-block {
	padding: 10px;
}

.scf-composer-block.scf-is-collapsed input, .scf-composer-block.scf-is-collapsed label {
	display: none;
}
.scf-is-collapsed .scf-composer-msg {
	border: 1px solid #B4B4B4;
	height: 30px;
	margin-top: 5px;
	display: inline;
}
.scf-is-collapsed .scf-rte-composer {
	display: none;
}
.scf-composer-block.scf-is-collapsed .scf-rte-placeholder {
	display: inline;
}
.scf-composer-msg {
	display: inline;
	width: 100%;
	box-sizing: border-box;
	resize: none;
	height: 200px;
}

input.scf-composer-msg {
	height: 30px;
}

.scf-composer-msg::-webkit-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-moz-placeholder:before { 
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg::-moz-placeholder:before {  
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-ms-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-is-collapsed .scf-composer-toolbar {
	display: none;
}
.scf-composer-toolbar {
	position: relative;
	margin-top: 10px;
}
.scf-composer {
	margin: 0 0 0 50px;
}
.scf-composer.scf-edit-composer {
	margin: 0px;
}

.scf-composer-actions {
	text-align: right;
}
.scf-comment-attachment-input {
	display: none;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 100px;	
}
.scf-composer-attach {
	float: left;
	cursor: pointer;
}
.scf-composer-attach:before {
	font-family: AdobeIcons;
	font-size: 20px;
	margin-right: 5px;
	content: "";
	color: #595959;
	cursor: pointer;
}

.scf-attachment-list {
	margin: 0px;
	padding: 10px 0px 10px 0px;
	list-style: none;
}
.scf-is-attached {
	background: #969696;
	color: #FFFFFF;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
	margin: 0 5px;
}
.scf-is-rem-att {
	font-size: 10px;
	padding-left: 5px;
	cursor: pointer;
}
.scf-rte-placeholder {
	display: none;
}
.scf-composer .scf-input {
	display: block;
}
/****** ckeditor styles ********/
.scf .cke {
	margin-bottom: 10px;
	border: 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}
.scf .cke_contents {
	border: 1px solid #B3B3B3;
}
.scf .cke_top {
	border-bottom: 0px;
	padding: 0px;
	white-space: normal;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
.scf .cke_toolgroup {
	float: left;
	margin: 0 6px 5px 0;
	border: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px
	border-radius: 0px;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
/******** comments list ************/

.scf-comments-list {
	padding: 10px 0 0 0;
	margin: 0px;
	list-style: none;
	border-top: 1px solid #E6E6E6;
}

/******* comment style *************/

.scf-comment {
	padding: 10px;
	padding-right: 0px;
	border-bottom: 1px solid #E6E6E6;
}
.scf-comment:last-child {
	border: 0;
}
.scf-comment-author {
	float: left;
}
.scf-comment-body {
	margin-right: 50px;
}
.scf-comment-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.scf-comment-avatar.withTopLevel {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.scf-comment-data {
	margin-left: 50px;
	position: relative;
}
.scf-comment-data.withTopLevel {
	margin-left: 60px;
}
.scf-comment-replies .scf-comments-list.withTopLevel {
	margin-left: 60px;
	border-top: 1px solid #E6E6E6;
}
.scf-comment-replies .scf-comments-list {
	margin-left: 50px;
	margin-top: 10px;
	border-top: 1px solid #E6E6E6;
}

.scf-comment-votes {
	position: absolute;
	top: 0;
	right: 0;
}
.scf-comment-msg {
	margin-top: 10px;
}
.scf-comment-img-att {
	max-width: 60%;
	border: 1px solid #E6E6E6;
	width: auto;
	display: inline-block;
	margin: 10px 0px;
}

.scf-comment-attachment-img {
	max-width: 100%;
	max-height: 100%;
}

.scf-comment-att .scf-comment-att-link{
	margin-left: 10px;
}
.scf-comment-att-name {
	background-color: #E6E6E6;
	line-height: 18px;
	padding: 10px;
}
.scf-is-new {
	background-color: #EBF0DC;
}

/****** comment toolbar styles ******/
.scf-comment-toolbar {
	margin-top: 10px;
}
.scf-comment-action {
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}

/***** pubmod styles *****/
.scf-comment-status-text {
	margin: 10px 0;
	color: #969696;
	font-style: italic;
}
.scf-flag-reasons th {
	font-weight: 300;
	padding-right: 20px;
	border-bottom: 1px solid #969696;
}
.scf-flag-reasons tr {
	font-weight: 100;
	border-bottom: 1px solid #B4B4B4;
}
.scf-flag-reasons td {
	padding-right: 10px;
}

/******** composer styles ************/
.scf-composer-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
}
.scf-commentsystem header {
	border-bottom: 1px solid #E6E6E6;
}
.scf-composer-block {
	padding: 10px;
}

.scf-composer-block.scf-is-collapsed input, .scf-composer-block.scf-is-collapsed label {
	display: none;
}
.scf-is-collapsed .scf-composer-msg {
	border: 1px solid #B4B4B4;
	height: 30px;
	margin-top: 5px;
	display: inline;
}
.scf-is-collapsed .scf-rte-composer {
	display: none;
}
.scf-composer-block.scf-is-collapsed .scf-rte-placeholder {
	display: inline;
}
.scf-composer-msg {
	display: inline;
	width: 100%;
	box-sizing: border-box;
	resize: none;
	height: 200px;
}

input.scf-composer-msg {
	height: 30px;
}

.scf-composer-msg::-webkit-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-moz-placeholder:before { 
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg::-moz-placeholder:before {  
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-composer-msg:-ms-input-placeholder:before {
	font-family: AdobeIcons;
	content: "\f15a\00a0\00a0";
}

.scf-is-collapsed .scf-composer-toolbar {
	display: none;
}
.scf-composer-toolbar {
	position: relative;
	margin-top: 10px;
}
.scf-composer {
	margin: 0 0 0 50px;
}
.scf-composer.scf-edit-composer {
	margin: 0px;
}

.scf-composer-actions {
	text-align: right;
}
.scf-comment-attachment-input {
	display: none;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 100px;	
}
.scf-composer-attach {
	float: left;
	cursor: pointer;
}
.scf-composer-attach:before {
	font-family: AdobeIcons;
	font-size: 20px;
	margin-right: 5px;
	content: "";
	color: #595959;
	cursor: pointer;
}

.scf-attachment-list {
	margin: 0px;
	padding: 10px 0px 10px 0px;
	list-style: none;
}
.scf-is-attached {
	background: #969696;
	color: #FFFFFF;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
	margin: 0 5px;
}
.scf-is-rem-att {
	font-size: 10px;
	padding-left: 5px;
	cursor: pointer;
}
.scf-rte-placeholder {
	display: none;
}
.scf-composer .scf-input {
	display: block;
}
/****** ckeditor styles ********/
.scf .cke {
	margin-bottom: 10px;
	border: 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}
.scf .cke_contents {
	border: 1px solid #B3B3B3;
}
.scf .cke_top {
	border-bottom: 0px;
	padding: 0px;
	white-space: normal;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
.scf .cke_toolgroup {
	float: left;
	margin: 0 6px 5px 0;
	border: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px
	border-radius: 0px;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	background: transparent;
	background-image: none;
	filter: none;
}
/******** comments list ************/

.scf-comments-list {
	padding: 10px 0 0 0;
	margin: 0px;
	list-style: none;
	border-top: 1px solid #E6E6E6;
}

/******* comment style *************/

.scf-comment {
	padding: 10px;
	padding-right: 0px;
	border-bottom: 1px solid #E6E6E6;
}
.scf-comment:last-child {
	border: 0;
}
.scf-comment-author {
	float: left;
}
.scf-comment-body {
	margin-right: 50px;
}
.scf-comment-avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.scf-comment-avatar.withTopLevel {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.scf-comment-data {
	margin-left: 50px;
	position: relative;
}
.scf-comment-data.withTopLevel {
	margin-left: 60px;
}
.scf-comment-replies .scf-comments-list.withTopLevel {
	margin-left: 60px;
	border-top: 1px solid #E6E6E6;
}
.scf-comment-replies .scf-comments-list {
	margin-left: 50px;
	margin-top: 10px;
	border-top: 1px solid #E6E6E6;
}

.scf-comment-votes {
	position: absolute;
	top: 0;
	right: 0;
}
.scf-comment-msg {
	margin-top: 10px;
}
.scf-comment-img-att {
	max-width: 60%;
	border: 1px solid #E6E6E6;
	width: auto;
	display: inline-block;
	margin: 10px 0px;
}

.scf-comment-attachment-img {
	max-width: 100%;
	max-height: 100%;
}

.scf-comment-att .scf-comment-att-link{
	margin-left: 10px;
}
.scf-comment-att-name {
	background-color: #E6E6E6;
	line-height: 18px;
	padding: 10px;
}
.scf-is-new {
	background-color: #EBF0DC;
}

/****** comment toolbar styles ******/
.scf-comment-toolbar {
	margin-top: 10px;
}
.scf-comment-action {
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}

/***** pubmod styles *****/
.scf-comment-status-text {
	margin: 10px 0;
	color: #969696;
	font-style: italic;
}
.scf-flag-reasons th {
	font-weight: 300;
	padding-right: 20px;
	border-bottom: 1px solid #969696;
}
.scf-flag-reasons tr {
	font-weight: 100;
	border-bottom: 1px solid #B4B4B4;
}
.scf-flag-reasons td {
	padding-right: 10px;
}


.scf-ratings-bar-empty {
    width: 90px;
    cursor: pointer;
    background-image: url("../../../designs/social/rating/hbs/ratings_star_empty.png");
}

.scf-ratings-bar-full {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_full.png");
}

.scf-ratings-bar-selected {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_selected.png");
}

.scf-ratings-bar {
    background-repeat: repeat-x;
    height: 18px;
}

.scf-ratings-star {
    float: left;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    cursor: pointer;
}


.scf-ratings-bar[data-rating-shown^='0'] {
    width: 0px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='1'] {
    width: 18px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='2'] {
    width: 36px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='3'] {
    width: 54px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='4'] {
    width: 72px;
    cursor: pointer;
}

.scf-ratings-bar[data-rating-shown^='5'] {
    width: 90px;
    cursor: pointer;
}

.scf-is-rating-star-select {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_selected.png") !important;
}

.scf-is-rating-star-deselect {
    background-image: url("../../../designs/social/rating/hbs/ratings_star_selected_empty.png") !important;
}

.scf-rating-trigger-bar {
    position: absolute;
}
.scf-ratings-text {
    cursor: pointer;
    font-size: small;
}


.scf-rating-histogram {
    display: none;
    opacity: 1;
    background-color: white;
    border-style:solid;
    border-width:1px;
    width: 245px;
}

.scf-poll-result {
    list-style-type: none;
    margin-left: 5px;
    padding-left: 5px;
}


.scf-poll-response {
    background-repeat: repeat-x;
    background-image: url("../../../designs/social/rating/hbs/ratings_star_full.png");
    height: 18px;
    float:left;
}
.scf-poll-results-bar {
    height: 18px;
}

.scf-poll-results-bar [data-star-shown='1'] {
    width: 18px;
}
.scf-poll-results-bar [data-star-shown='2'] {
    width: 36px;
}
.scf-poll-results-bar [data-star-shown='3'] {
    width: 54px;
}
.scf-poll-results-bar [data-star-shown='4'] {
    width: 72px;
}
.scf-poll-results-bar [data-star-shown='5'] {
    width: 90px;
}

.scf-ratings-block {
    width:180px;
    float:left;
    margin: 0 20px 0 0;
}
.scf-ratings-block ul{
    padding: 0 0 0 0;
}
.scf-ratings-block ul li{
    height:18px;
    list-style-type:none;
}
.scf-ratings-block ul li div{
    float:right;
}
.scf-ratings-block ul li div div{
    float:left;
}
.scf-review-body {
    margin-right: 100px;
}
.scf-reviews .scf-replies-count {
    display: inline-block;
}
.scf-review-votes {
    position: absolute;
    top: 10px;
    right: 50px;
}
.scf-review-vote-label{
    position: absolute;
    right: 0;
    top: 70px;
    width: 100px;
    color:#4191D2;
}
.scf-create-review-button {
    margin-bottom: 20px;
    min-width: 100px;
    min-height: 35px;
    color: #FFFFFF;
    background: #227ECB;
    text-decoration: none;
    border: none;
    outline: none;
}
.scf-create-review-button:hover {
    background: #4191D2;
}
.scf-create-review-button:active {
    background: #377DB4;
}
.scf-create-review-button:disabled {
    background: #DCDCDC;
}
form.scf-review-composer {
    margin-top: 0;
}
.scf-review-form {
    display: none;
    padding: 20px 0;
}


.scf-review-form .scf-review-form-label-bold{
    font-weight: bold;
    color: DarkSlateBlue;
    margin:0 0 10px 0;
}
.scf-review-form .scf-review-form-label{
    margin:10px 0 10px 0;
}
.scf-review-summary {
    width: 250px;
}
.scf-review-summary ul{
    padding: 0 50px 0 0;
}
.scf-review-summary ul li{
    list-style-type:none;
    height: 18px;
    padding: 2px 0 2px 0;
}
.scf-review-summary ul li div{
    float:right;
}
.scf-review-summary ul li div div{
    float:left;
}
.scf-review-histogram {
    opacity: 1;
    background-color: white;
    width: 230px;
}
.scf-review-result {
    padding: 10px 0 0 0;
    margin: 0px;
}
.scf-review-result-item{
    list-style-type: none;
    margin: 5px 0;
}
.scf-review-result-item .scf-review-result-bar {
    display: inline-block;
    background-color: #4191D2;
    height: 10px;
}
.scf-review-result-item .scf-review-result-empty-bar {
    display: inline-block;
    width: 70%;
    background-color: #c3c3c3;
    height: 10px;
}
.scf-review-result-item .scf-review-result-name {
    font-size: 10px;
    font-weight: bold;
    color: #4191D2;
}
.scf-review-result-item .scf-review-result-value {
    font-size: 10px;
    font-weight: bold;
    color: #c3c3c3;
}

