@font-face {
	font-family: "AdobeIcons";
	src: url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.eot");
	src: url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.eot?#iefix") format("embedded-opentype"), url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.woff") format("woff"), url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.ttf") format("truetype"), url("scf/res/icons/AdobeIcons-74324ff07761daf4c31d04544b133fef.svg?#webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}
.scf {
	font-family: helvetica, arial;
    color: #4B4B4B;
}

.scf h4 {
	font-size: 14px;
	color: #4B4B4B;
	margin: 10px 0;
}

.scf h2 {
	font-size: 24px;
	color: #4B4B4B;
	margin: 0px;
	font-weight: 100;
}

.scf .scf-link {
	font-size: 14px;
	color: #4191D2;
	cursor: pointer;
	
}
.scf .scf-link:visited {
	color: #96509B;
}
.scf .scf-link:hover {
	text-decoration: underline;
}

.scf a {
	font-size: 12px;
	color: #227ECB;
	text-decoration: none;
}

.scf .scf-quiet {
	font-size: 12px;
	color: #969696;
}

.scf button {
	min-width: 100px;
	min-height: 35px;
	color: #FFFFFF;
	background: #227ECB;
	text-decoration: none;
	border: none;
	outline: none;
}
.scf input[type='submit'] {
	min-width: 100px;
	min-height: 35px;
	color: #FFFFFF;
	background: #227ECB;
	text-decoration: none;
	border: none;
	outline: none;
}

.scf-label {
	font-size: 14px;
}
input[type="text"].scf-input {
	min-width: 200px;
	height: 35px;
	border: 1px solid #B4B4B4;
	padding: 1px 4px;
}
.scf button:hover {
	background: #4191D2;
}

.scf input[type='submit']:hover {
	background: #4191D2;
}

.scf button:active {
	background: #377DB4;
}

.scf input[type='submit']:active {
	background: #377DB4;
}

.scf button:disabled {
	background: #DCDCDC;
}

.scf input[type='submit']:disabled {
	background: #DCDCDC;
}

.scf button[type='reset'] {
	color: #FFFFFF;
	background-color: #969696;
}

.scf button[type='reset']:hover {
	background-color: #C3C3C3;
}

.scf button[type='reset']:active {
	background-color: #787878;
}

.scf button[type='reset'][disabled="disabled"] {
	background-color: #DCDCDC;
}

.scf .scf-clear-both {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.scf-is-hidden {
	display: none;
}

.scf [class^="scf-icon-"] {
	font-family: AdobeIcons;
}

.scf [class^="scf-icon-"].large {
    font-size: 32px;
}

.scf-icon-comment:before {
	content: "\f159";
    font-family: AdobeIcons;
}

.scf-modal-screen {
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #000000;
}
.scf-modal-dialog {
	z-index: 2200;
	position: fixed;
	top:100px;
	left: 100px;
	min-width: 300px;
	padding: 15px;
	background-color: #3C3C3C;
	color: #FFFFFF;
	text-align: center;
}

.scf-modal-dialog h2 {
	color: #FFFFFF;
	margin-bottom: 10px;
	text-align: left;
	line-height: 24px;
}
.scf-modal-close {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 20px;
	font-weight: 100;
	cursor: pointer;
	line-height: 24px;
}

.scf-error {
	border: 2px solid !important;
	border-color: #EB413C !important;
}

.scf-js-error-message {
	background-color: #EB413C;
	color: #FFFFFF;
    border-radius:6px;
}

.scf-js-error-message:before {
	font-family: AdobeIcons;
	content: "\f10d";
	padding-left: 5px;
	padding-right: 5px;
}
.scf-icon-dblright:before {
	content: "   ";
	font-size: 14px;
	font-family: AdobeIcons;
}

.scf-horizontal-tag-list {
	display: inline;
}

.scf-horizontal-tag-list li {
	display: inline;
	list-style-type: none;
}

.scf-selected-tag {
	padding: 5px;
	margin-right: 5px;
	background-color: #969696;
	color: #FFFFFF;
	font-size: 13px;
}

.scf-selected-tag .scf-remove-tag:before {
	font-family: AdobeIcons;
	content: "\f14d";	
}

.scf-icon-attachment:before {
	content: "";
	font-family: AdobeIcons;
}
/*Arrows*/
.scf-icon-right:before {
    content: "\f102";
}

.scf-icon-left:before {
    content: "\f101";
}

/****** pagination styles **********/
.scf-pages {
    margin: 10px 0;
    padding: 5px 0;
}
.scf-pages-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.scf-pages-list:first-child {
    border-top: solid;
    border-width: 1px;
    border-color: #E6E6E6;
}
.scf-pages-list:last-child {
    border-bottom: solid;
    border-width: 1px;
    border-color: #E6E6E6;
}

.scf-pages-list-item {
    display: inline-block;
    margin: 3px 0px;
}
.scf-page {
    cursor: pointer;
    display: inline-block;
    padding: 1px 3px;
    border: 1px solid #227ECB;
    min-width: 16px;
    text-align: center;
}
a.scf-currentPage {
    color: #FFFFFF;
    border: none;
    background: #DCDCDC;
    cursor: default;
}
.scf .scf-load-more {
    display: block;
    text-align: right;
    font-size: 12px;        
}
.scf .scf-replies-count {
    display: inline-block;
}


