﻿a:link, a:visited, a:active {
	/* color: #003C86; */
	/*color: #0000FE;*/
	color: #003C86;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
/* 636466 */
/* 636466 */

a:hover {
	/* color: #002859; */
	color: #D1564E;
	text-decoration: none;
}

.menuTxt, .menuTxt:link, .menuTxt:active, .menuTxt:visited, .menuTxt:hover {
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: regular;
	text-decoration: NONE;	
}


.subMenuTxt, .subMenuTxt:link, .subMenuTxt:visited {
	color: #686868;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}
.subMenuTxt:hover {
	color: #D1564E;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}

.subMenuTxtHover{
	color: #D1564E;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}
.txtBlack{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}

.txtBlackNewsTitle{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: regular;
	text-decoration: NONE;
}
.txtBlackNewsTitle:hover{
	color: #666666;
}
.txtBlue, .txtBlue:link, .txtBlue:visited, .txtBlue:active {
	color: #003C86;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}
.txtBlue:hover{
	color: #002859;
}

.txtRed, .txtRed:link, .txtRed:visited, .txtRed:active {
	color: #D1564E;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: NONE;
}

.txtRed:hover {
	color: #002859;
}

.txtGrey, .txtGrey:link, .txtGrey:visited, .txtGrey:active {
	color: #636466;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}

.txtGreyTitle{
	color: #636466;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.txtTool, .txtTool:link, .txtTool:active, .txtTool:visited {
	color: #636466;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
.txtTool:hover {
	color: #D1564E;
}


.txtGreyNewsTitle, .txtGreyNewsTitle:link, .txtGreyNewsTitle:visited, .txtGreyNewsTitle:active {
	color: #636466;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}
.txtGreyNewsTitle:hover{
	color: #303030;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}

.txtGrey:hover{
	color: #303030;
}


.txtCategPath, .txtCategPath:link, .txtCategPath:visited, .txtCategPath:active {
	color: #636466;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: none;
}
.txtCategPath:hover{
	color: #696868;
}

.txtTitleRed{
	color: #D1564E;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: NONE;
}
.pageTitle{
	color: #5A5A5A;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: NONE;
}
.pageTitle2 {
	color: #5A5A5A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: NONE;
}
.pageTitle3 {
	color: #5A5A5A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: NONE;
}


.rTextTitleDM { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	text-decoration: NONE;
}
.rTextTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-decoration: NONE;
}
.rText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	text-decoration: NONE;
}
.genericField {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}

.dropDown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.numeration{
	color: #ED1C24;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: regular;
	text-decoration: NONE;
}
.tableTxt{
	color: #5A5A5A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;
	text-decoration: NONE;
}
.submitButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #033E89;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 2px solid #D2D2D2;
	cursor: hand;
}

.eLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	text-decoration: none;		
}
.eLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	text-decoration: none;		
}
.eLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	text-decoration: none;		
}

.eLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #555555;
	text-decoration: none;	
}
.ptext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 4px;
	color: #636466;
}

.toolBoxA {
	padding-left: 4px;
	
}
.toolBoxB {
	padding-right: 4px;
}

.msg {
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #003C86;
}

.sepDiv {
	background-color: #F1F1F1;
	width: 100%;
	height: 1px;
}	
.REDTitle{
	color: #d1564e;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: NONE;
}
.msgsmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #003C86;
}
.menuSmall {
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
}

.txtWhite {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	filter: dropShadow(color = #000000, offx = 1, offy = 1);
}

.txtWhite:hover{
	text-decoration: underline;
}

.btn_send:link, .btn_send:active, .btn_send:visited
{	
	width: 87px;
	height: 14px;
	display: block;
	background: url(../home/images/btn_send.gif) no-repeat bottom left;
	
}

.btn_send:hover
{
	width: 87px;
	height: 14px;
	display: block;
	background: url(../home/images/btn_send.gif) no-repeat top left;	
}

.btn_send:link, .btn_send:active, .btn_send:visited
{	
	width: 87px;
	height: 14px;
	display: block;
	background: url(../home/images/btn_send.gif) no-repeat bottom left;
	
}

.btn_send:hover
{
	width: 87px;
	height: 14px;
	display: block;
	background: url(../home/images/btn_send.gif) no-repeat top left;	
}

.btn_return:link, .btn_return:active, .btn_return:visited
{	
	width: 87px;
	height: 14px;
	display: block;
	background: url(../home/images/btn_return.gif) no-repeat bottom left;
}

.btn_return:hover
{
	width: 87px;
	height: 14px;
	display: block;
	background: url(../home/images/btn_return.gif) no-repeat top left;	
}

.btn_returnLeft:link, .btn_return:active, .btn_return:visited
{	
	width: 87px;
	height: 14px;
	display: block;
	background: url(../home/images/btnReturnLeft.gif) no-repeat;
}

.btn_returnLeft:hover
{
	background: url(../home/images/btnReturnLeftOver.gif) no-repeat;	
}
.PBInRedTitle 
{	
	font-family: Verdana;
	font-size:	11px;
        font-weight:	bold;
	text-decoration: none;
        color:	#aa2e31;
	}	
		
.PBInTxt,.PBInTxt TD
{	
	font-family: Verdana;
	font-size:	10px;
        font-weight:	normal;
	font-style:	normal;
	text-decoration: none;
        color:	#555555;
	}	
		
		
.PBMoreLink:link,.PBMoreLink:visited
{	
	font-family: Verdana;
	font-size:	10px;
        font-weight:	bold;
	font-style:	normal;
	text-decoration: none;
        color:	#aa2e31;
	}	

	
.PBLink:visited	{	
	text-decoration:	none;
	color:	#aa2e31;
	}	
		
.PBLink:active	{	
	text-decoration:	none;
	color:	#aa2e31;
	}	
		
.PBLink:hover	{	
	text-decoration:	underline;
	color:	#555555;
	}
	
.PBGeorgia11{
	font-family: Verdana;
	font-weight:bold;
	font-size:11px;
	font-style:	normal;
	color: #636466
}

.PBGeorgia11link:link,.PBGeorgia11link:active,.PBGeorgia11link:visited{
	font-family: Verdana;
	font-size:11px;
	font-weight:bold;
	color: #636466;
	text-decoration:none
}

.PBGeorgia11link:hover{
	font-family: Verdana;
	font-size:11px;
	font-weight:bold;
	color: #636466;
	text-decoration:none
}

.PBGeorgia11linkRED:link,.PBGeorgia11linkRED:active,.PBGeorgia11linkRED:visited{
	font-family: Verdana;
	font-size:11px;
	font-weight:bold;
	color: #ad3033;
	text-decoration:none
}

.PBGeorgia11linkRED:hover{
	font-family: Verdana;
	font-size:11px;
	font-weight:bold;
	color: #ad3033;
	text-decoration:none
}

.Box1WTitle {
        color: #1F3670;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: NONE;
}

a.Box1Txt,a.Box1Txt:link,a.Box1Txt:visited, a.Box1Txt:active
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: NONE;
}
a.Box1Txt:hover
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.Box1Txt {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: NONE;
}
.Box1Txt:hover {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.ViewMoreTitle {
	color: #1f3670;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px!important;
	font-weight: bold;
	text-decoration: NONE;
}
.TxtNormal
{position:relative;font-size:11px;top:1px;text-decoration:none;left:1px;color:#8f8e8e;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold}
.TxtShadow
{position:absolute;color:White;top:-1px;left:-1px;font-size:11px;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold}

.RedBigTitle {
	color: #c9252b;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: NONE;
}

.RedBigTitle:hover {
	color: #1f3670;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}

a.RedBigTitle,a.RedBigTitle:link,a.RedBigTitle:visited, a.RedBigTitle:active {
	color: #c9252b;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: NONE;
}
a.RedBigTitle:hover {
	color: #1f3670;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}




.RedSmTitle {
	color: #d1564e;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px!important;
	font-weight: bold;
	text-decoration: NONE;
}

.RedBigTitle {
	color: #c9252b;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: NONE;
}

.RedBigTitle:hover {
	color: #1f3670;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}


.WhiteTxt {
	color: #FFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-decoration: NONE;
}
.WhiteMore {
	color: #FFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: NONE;
}

a.WhiteMore,a.WhiteMore:link,a.WhiteMore:visited, a.WhiteMore:active {
	color: #FFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: NONE;
}
a.WhiteMore:hover{
	color: #FFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
}

.HomeTxtL {
	color: #1f3670;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: NONE;
}
a.HomeTxtL,a.HomeTxtL:link,a.HomeTxtL:visited, a.HomeTxtL:active {
	color: #1f3670;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: NONE;
}
a.HomeTxtL:hover {
	color: #c9252b;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: NONE;
}
.PBLinkMore {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: NONE;
}

a.PBLinkMore,a.PBLinkMore:link,a.PBLinkMore:visited, a.PBLinkMore:active {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: NONE;
}
a.PBLinkMore:hover{
	color: #d1564e;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: NONE;
}
.PBSubTitle {
	color: #636466;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: NONE;
}

.LeftBgColor {
    background-color:#003c86;
    }
.LeftBgColorRed {
    background-color:#d1564e;
    }
.LeftBgColorYellow  {
    background-color:#ffd24f;
    }
.EurbankProductsTr td table .selected {
     color:#d1564e;
     }
.EurbankProductsTr table .EurbankProductsSelected {
     color:#ffffff !important;
     }
.TTProductsTr table .EurbankProductsSelected {
     color:#585555 !important;
     }
 .TTProductsTr .subMenuTxtHover 
 {
     color:#00aeef !important;
     }
.YellowBox {
    width:168px;
    width:198px\9;
    height:156px;
    padding:15px;
    padding-top:10px;
    background-image:url('../HOME/images/TT/yellowBoxBg.jpg');
    background-position:left top;
    background-repeat:no-repeat;
    float:left;
    display:block;
    margin-bottom:20px;
    margin-right:20px;
    }
.YellowBoxTitle {
   color:#015692;
   font-family:Verdana;
   font-size:15px;
   font-weight:bold;
   height:30px;

    }
.YellowBoxContent {
    padding-top:10px;
    
    height:105px;
    background-color:#f1f1f1;
}
.YellowBox .learnmore {
    color:#00aeef;
    font-size:12px;
    font-family:Verdana;
    text-decoration:underline;
    }
.clear {clear:both;float:none;}

.YellowBoxBig {
  
    padding:0px;
    padding-top:10px;
   /* background-image:url('../HOME/images/TT/yellowBoxBigBg.jpg');
    background-position:left top;
    background-repeat:no-repeat;
  width:273px;
    height:211px;
*/
    float:left;
    display:block;
    margin-bottom:15px;
    margin-right:14px;
    }
.YellowBoxBig .YellowBoxContent {
    height:178px;
    height:191px\9;
    padding-left:15px;
    }
.YellowBoxContent ul {
    margin-left:0px;
    padding-left:15px;
    }
.YellowBoxContent ul li{
    color:#00aeef !important;
    }
 .YellowBoxContent ul li a{
    text-decoration:underline;
 }

  .LeftBG {
      background-image:url('../HOME/images/TT/leftYellowBg.jpg');
      background-position:left top;
      background-repeat:no-repeat;
      float:left;
      width:4px;
      height:39px;
      display:block;
      }
 .TitleContent {
     background-color:#ffd24f;
     height:30px;
      height:39px\9;
     padding-top:9px;
     float:left;
     }
 .RightBG 
 {  background-image:url('../HOME/images/TT/RightYellowBg.jpg');
      background-position:left top;
      background-repeat:no-repeat;
      float:left;
      width:4px;
      height:39px;
      display:block;
     }


.width275 {width:265px; padding-left:10px;/*width:275px\9;*/}
.width283 {width:283px;}
.width303 {width:283px;}
.width295 {width:265px; padding-left:10px;/*width:275px\9;*/}

/* APOTAMIEYSI BANNER*/
#apotamieysiBig {
    background-image:url('../HOME/images/TT/apotamieysiBig.jpg');
    width:604px;
    height:110px;
    height:150px\9;
     width:644px\9;
    padding:20px;
    background-position:left top;
    background-repeat:no-repeat;}

.apotamieysi80 {
    background-image:url('../HOME/images/TT/apotamieysiNEW80years.jpg');
    width:547px;
    height:110px;
    height:150px\9;
     width:587px\9;
    padding:20px;
    padding-top:15px;
    padding-left:15px;
    background-position:left top;
    background-repeat:no-repeat;}

.apotamieysi {
    background-image:url('../HOME/images/TT/apotamieysiNew.jpg');
    width:547px;
    height:110px;
    height:150px\9;
     width:587px\9;
    padding:20px;
    padding-top:15px;
    padding-left:15px;
    background-position:left top;
    background-repeat:no-repeat;}
 
 .apotamieysi .Title {
    font-size:14px;
    color:#0a4a76;
    font-family:Verdana;
    font-weight:normal;
    margin-left:130px;
    }
.apotamieysi .Content  {
    font-size:11px;
    color:#0a4a76;
    font-family:Verdana;
    font-weight:normal;
     margin-top:10px;
     width:423px;
     margin-left:130px;
     letter-spacing:-1px;
     }
#apotamieysiBig .apotamieysi .Content  {
    font-size:10px;
    color:#ffffff;
    font-family:Verdana;
    font-weight:normal;
     margin-top:15px;
     width:450px;
     }
.apotamieysi .Link,.apotamieysi .Link a {
       text-decoration:none;
        color:#0a4a76!important;
        font-size:12px;
        font-weight:bold; 
        margin-top:10px;
       }

.apotamieysi .Link {margin-left:130px;width:415px;text-align:right;
}       
 /*BLUE BOX FOR TT */
  .BlueBigBox {
     width:581px;
     display:block;
     float:left;
     }
 .BlueBigBoxTitle {
     width:581px;
     height:29px;
     display:block;
    background-image:url('../HOME/images/TT/blueTopBg.jpg');
    background-position:left top;
    background-repeat:no-repeat;
    color:#ffffff;
    font-size:15px;
    font-family:Verdana;
    font-weight:bold;
    padding-top:10px;
    padding-left:15px;
     }
  .BlueBigBoxContent {
     padding:10px; 
        font-size:11px;
     float:left;
     }
  .BlueBigBoxImg {
      width:140px;
      height:85px;
      display:block;
      float:left;
      background-color:#f5f5f5;
      }
  .BlueBigBoxText 
  {
      display:block;
      float:left;
      margin-left:10px;
      float:left;
      width:410px;
      }
    /* BLUE BUTTON FOR OMILOS */
  .btnBlueLinkSmallPage {background-image:url('../HOME/images/TT/blueRowSmall.jpg');
    background-position:left top;
    background-repeat:no-repeat;
    width:579px;
    height:20px;
     display:block;
     text-align:center;
          padding-top:2px;
       }
.btnBlueLinkSmallPage a , 
.btnBlueLinkSmallPage a:visited,
.btnBlueLinkSmallPage a:link {
    font-weight:bold;
    color:#ffffff;
    font-size:12px;
           }
 .btnBlueLinkBigPage {background-image:url('../HOME/images/TT/blueRowBig.jpg');
    background-position:left top;
    background-repeat:no-repeat;
    width:644px;
    height:20px;
     display:block;
     text-align:center;
          padding-top:2px;
       }
 .btnBlueLinkBigPage a , 
.btnBlueLinkBigPage a:visited,
.btnBlueLinkBigPage a:link {
    font-weight:bold;
    color:#ffffff;
    font-size:12px;
           }
.btnBlueLinkBigPage a:hover {
        color:#dbdbdb;
        }
 .btnBlueLink {
  float:left;
  display:block;
  height :20px; 
  margin-right:10px;
   }
 .btnBlueLinkLeft 
  { background-image:url('../HOME/images/TT/LeftBtnBlue.jpg');
    background-position:left top;
    background-repeat:no-repeat;
    width:5px;
    height:20px;
    float:left;
      }
 .btnBlueLinkRight 
  { background-image:url('../HOME/images/TT/RightBtnBlue.jpg');
    background-position:left top;
    background-repeat:no-repeat;
    width:4px;
    height:20px;
    float:left;
      }
  .btnBlueLinkMiddle 
  {
      background-color:#003c86;
        float:left;
         height:18px;
         color:white;
         padding-left:10px;
         padding-right:10px;
         padding-top:2px;
        
      }
   .btnBlueLinkMiddle  { 
    height:20px\9;
}   
.btnBlueLinkMiddle a , 
.btnBlueLinkMiddle a:visited,
.btnBlueLinkMiddle a:link {
    font-weight:bold;
    color:#ffffff;
    font-size:12px;
           }
.btnBlueLinkMiddle a:hover  {
    color:#dbdbdb;
        }
.TableBlueGray .headerCell 
  {
      color:#1f3670;
      font-size:15px;
      font-family:Verdana;
      text-align:center;
      font-weight:bold;
      background-color:#c0c0c0;
      }
.TableBlueGray td {height:47px;}
.TableBlueGray .LeftCell {background-color:#dce8f8; color:#5a5a5a; font-size:11px; padding:10px;width:400px;}
.TableBlueGray .RightCell {background-color:#f1f1f1; color:#5a5a5a; font-size:11px; padding:10px;}
.TableBlueGray,.tableBlueHeader {width:579px;}
.tableBlueHeader .LeftCell   { padding:10px;width:400px; border-right:1px solid #999999; color:#003c86; font-size:10px; font-weight:bold; text-align:center}           
.tableBlueHeader .HeaderBlue {background-color:#003c86;color:#ffffff; font-size:12px; text-align:center; font-weight:bold !important;}          
.tableBlueHeader{border:1px solid #999999}    
.tableBlueHeader   .RightCell {text-align:center;}
.tableBlueHeader   .RightCell a img{border:0px solid #ffffff;}   

/*Blue small boxes*/
.BlueBox {float:left; margin-right:10px; font-size:11px; font-family:Verdana}
.BlueBox .TitleContent {background-color:#123071; color:#ffffff; height:39px\9;}
.BlueBox  .LeftBG {
    background-image: url("../HOME/images/TT/leftBlueBg.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 39px;
    width: 4px;
}
.BlueBox .RightBG {
    background-image: url("../HOME/images/TT/RightBlueBg.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 39px;
    width: 4px;
}   
.width198 {width:198px;}
.width180 {width:180px; width:190px\9;}
.BlueBoxTitle .TitleContent  {padding-left:10px;}
.BlueBoxContent, .BlueBoxContentBottom  {padding-left:15px; padding-right:5px; background-color:#f1f1f1}
.BlueBoxContent {padding-top:15px; height:100px; border-bottom:1px solid #e3e3e3 }
.BlueBoxContentBottom {height:39px; padding-top:10px;}
.BlueBoxContentBottom a,
.BlueBoxContentBottom a:hover,
.BlueBoxContentBottom a:visited,
.BlueBoxContentBottom a:link,
 {color:#d1564e; text-decoration:underline}

/* Katastimata */
.BoxWithColorHeader .LeftBg {width:14px; height:45px; float:left;display:block; background:none;}
.BlueRed .LeftBg {background-color:#d1564e;}
.AnoixtoBlueYellow .LeftBg {background-color:#ffd24f;}
.BlueYellow .LeftBg {background-color:#efad12;}
.BoxWithColorHeader {margin-top:20px;margin-top:30px\9;}
.BoxWithColorHeader .RightTitle {padding-left:15px;float:left;display:block; font-family:Verdana; font-size:12px; font-weight:bold; padding-top:15px;height:30px;height:45px\9; width:615px; width:616px\9;}
.BlueRed .RightTitle {background-color:#123071; color:#ffffff;}
.AnoixtoBlueYellow  .RightTitle {background-color:#00aeef; color:#ffffff;}
.BlueYellow .RightTitle {background-color:#096da9; color:#ffffff;}
.BoxWithColorHeader  .content {background-color:#f1f1f1; padding:10px; float:left; width:630px\9;}
.BoxWithColorHeader .Fleft {float:left;height:45px;}

/*Kartes*/
.grayRegion {float:left;margin-top:10px;background-color:#f8f8f8;padding:10px;width:550px;width:574px\9;}
.grayRegion .Epistrofi {margin-right:5px;float:left;display:block}
.grayRegion .YesVisa,.grayRegion .VerifiedVisa {float:left; display:block;}
.grayRegion .EurobankTravel {margin-right:7px;float:left;display:block}
.grayRegion .Pin {margin-right:5px;float:left;display:block}
.YellowBoxContent li a,
.YellowBoxContent li a:link,
.YellowBoxContent li a:hover,
.YellowBoxContent li a:visited
 {color:#5a5a5a;
  text-decoration:underline;
  font-size:11px;
  }
  .YellowBoxContent li span, .YellowBoxContent {font-size:11px;}
  
  /*Δάνεια Κατοικίας*/
  .width570 {width:570px;}
  .width465 {width:551px;padding-left:10px;width:561px\9;}
  
   /*Ασφαλιστικά */
  .YellowBoxaki {width:177px; height:160px; float:left; margin-right:10px;}
  .YellowBoxaki .YellowHeader {background-color:#ffd24f; color:#015692; font-size:15px; font-weight:bold; padding-left:10px;}
  .YellowBoxaki .TdContent  {background-color:#f1f1f1; color:#5a5a5a; vertical-align:top; padding:10px; font-size:11px !important;}
  
  #cont.TT ul 
  {  font-family:Verdana; margin-left:0px; padding-left:20px;
      }
 #cont.TT ul li {
    color: #00AEEF !important;
    font-size:10px !important;
}
 #cont.TT ul li span {
    color: #00AEEF !important;
    font-size:11px !important;
}
 #cont.TT ul li a {
    color: #005da1 !important;
    font-size:11px !important;
}
 #cont.TT a,#cont.TT a:hover,#cont.TT a:link,#cont.TT a:visited {color:#005da1; text-decoration:underline; font-size:11px !important;}
 #cont.TT .BlueH1 {color:#00aeef;font-size:15px;font-weight:bold; margin-bottom:10px;}
  #cont.TT .btnBlueLinkMiddle a,#cont.TT .btnBlueLinkMiddle a:hover,#cont.TT .btnBlueLinkMiddle a:link,#cont.TT .btnBlueLinkMiddle a:visited {color:#ffffff; text-decoration:none;}
#cont.TT a.txtCategPath, #cont.TT a.txtCategPath:link, #cont.TT a.txtCategPath:visited, #cont.TT a.txtCategPath:active {
    color: #636466;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: none;
}
.txtBlueGo:hover,#cont.TT .txtBlueGo:hover{color:#5A5A5A !important;}
.txtBlueGo{color:#005DA1 !important;}
#cont.TT .Link a, #cont.TT .Link a:hover, #cont.TT .Link a:link, #cont.TT .Link a:visited {
    color: #ffffff;
    text-decoration: underline;
}

 #cont.TT .YellowBoxContent ul { background-color:transparent;  font-family:Verdana; margin-left:0px; }
  #cont.TT .YellowBoxContent ul li a { color:#5A5A5A !important;}
  
   #cont.TT span, #cont.TT p, #cont.TT .txtGrey {
    font-size:11px !important;
}

 #cont.TT #RightMenu_RightMenuRedAinG a {font-size:10px !important;}
 #cont.TT #theTitle.pageTitle {font-size:18px!important;}
 
   #cont.TT #theSubTitle {font-size:14px!important;}
   #theMenu  .TTProductsTr .subMenuTxt:hover,#theMenu .TTProductsTr:hover
    {color:#00AEEF !important}