body{background-color:#f9f9f9;font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;margin:0;padding:0;}
}
h1, h2, h3, h4, h5, h6 {
margin: 0;
font-style: normal;
font-weight: bold;
color: #0066cc;
}
h1 {
font-size: 8px;
}
h2 {
font-size: 1.2em;
color:#0066cc
}
h3, h4, h5, h6 {
font-size: 1.0em;
}
blockquote {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/blockquote.gif) no-repeat left top;
color: #999;
margin:10px;
padding: 0 40px 0 40px;
}
code {
background: #f4f4f4;
color: #6a6a6a;
margin:0;
}
img {
border:0
}
a:link, 
a:visited {
color: #000;
text-decoration:none;
}
a:hover {
color: #044e8b;
text-decoration:none;
}   .page {
width:950px;
position:relative;
padding:8px;
margin:0 auto;
text-align:left;
}
.central {
width:950px;
margin:0 auto;
text-align:left;
}   .logo {
float:left;
position:absolute;
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/logo.png) no-repeat;
width:279px;
height:108px;
margin: 10px 0 0 -20px;
}
.site-name, .site-name:link, .site-name:visited {
color : #000000;
font-size : 08px;
font-weight : normal;
text-decoration : none;
background : transparent;
margin : 0 0 0 5px;
padding : 0;
text-align:center;
}
.blog-name:link, 
.blog-name:visited, 
.blog-name:hover{
color:#0066cc;
font-family: 'Trebuchet MS', Verdana, Sans-Serif;
font-size:26pt;
font-weight:bold;
text-decoration:none;
letter-spacing: -1px;
background:transparent;
margin:0 0 0 80px;
padding:0;
}
.blog-description {
color:#008000;
font-size:10pt;
font-weight:bold;
margin:0px 0px 0px 80px;
padding:0;
}   .ganja {
float: right;
font-weight:normal;
font-size:10pt;
position:absolute;
margin-left:585px;
width:385px;
}
.ganja ul {
float:right;
display:inline;
color: #ffffff;
margin: 15px;
}
.ganja li {
float:left;
color:#fff;
font:12px arial,verdana,tahoma;
list-style-type: none;
}
.ganja li a{
color:#fff;
text-decoration:none;
padding:0 6px;
}
.ganja li a:hover{text-decoration:underline}
.menu-bar {
width:385px;float:left;position:absolute;margin:13px 0 0 105px
}
ul.menu {
float:right;display:inline
}
ul.menu li {
float:left;color:#fff;font:12px arial,verdana,tahoma	 }
ul.menu li a {
color:#fff;text-decoration:none;padding:0 6px
}
ul.menu li a:link,
ul.menu li a:visited {
color: #ffffff;
}
ul.menu li a:hover,
ul.menu li a:active {
color: #ffffff;
text-decoration: underline;
}
ul.menu li.current_page_item a:link,
ul.menu li.current_page_item a:visited {
color: #0066cc;
text-decoration: none;
}
ul.menu li.current_page_item a:hover {
color: #000;
text-decoration: none;
background-color:#f1f9ff;
border:1px solid #a5d6f8;
}   h2.post-title a:link, 
h2.post-title a:visited {
color:#0066cc;
}
h2.post-title a:hover {
color:#0066cc;
border-bottom: 1px dashed #a0a0a0;
}
.post-content {
color:#444;
margin:-10px 0 0 0;
width:480px;
overflow:hidden;
padding:0 !important;
padding:0 0 15px 0;
}
.post-content a:link,
.post-content a:visited {
color:#0066cc
}
.post-content a:hover {
color:#0066cc;
border-bottom: 1px dashed #a0a0a0;
}
.post-content img,
.post-content img:hover {
padding:0;
border:0;
}
.post-content ul li {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/bullet.gif) no-repeat 0 0;
list-style:none;
padding:0 0 0 15px;
margin:6px 0 0 -10px;
}
.post-content ol li {
padding:0;
margin:6px 0 0 0px;
}
.postmeta {
margin: 8px 2px;
font-size:8pt;
}
.post-date {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/date.gif) no-repeat 0 0;
padding: 0 0 0 20px;
}
.post-comment {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/commentslink.png) no-repeat 0 0;
padding: 0 0 0 20px;
}
.post-comment a:link,
.post-comment a:visited,
.post-comment a:hover {
color:#008000
}
.post-filed {
background:url(http://i.imgur.com/bCPLYJO.gif) no-repeat 2px 0;
padding: 0 0 0 20px;
}
.more-link{
margin:0
}   .left-sidebar, .right-sidebar {
margin:5px 0 0 0 !important;
margin:0;
position:absolute;
overflow:hidden;
}
.left-sidebar {
width:210px;
left:5px;
}
.right-sidebar {
width:210px;
right:5px;
}
h2.download-title {
font: 'Open Sans', sans-serif;
padding-bottom: 3px;
border-bottom: 3px solid  #a8001c;
}   .wp-widget-title {
position: relative; 
top: -20px;
background-color: #2781ba;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
border-bottom:2px solid #3f3f3f;
color: #fff;
font-size: 9pt;
font-weight: bold;
padding:6px 0 5px 15px;
margin:0;
}
.wp-widget-title a:link,
.wp-widget-title a:visited,
.wp-widget-title a:hover{
color:#FFFFFF;
}
.wp-widget {
background-color: #ffffff;
border:1px solid #e4e4e4;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
padding:0;
margin: 20px 0 35px 0;
font-size:9pt;
}
.wp-widget ul {
list-style:none;
position: relative; 
top: -15px;
margin:5px 10px 5px 15px;
padding:0;
}
.wp-widget ul li {
background: url() no-repeat 0px 0px;
margin:0 0 10px 0;
padding:0 0 0 0px;
line-height:15px;
font-size:8pt;
}
.wp-widget ul {
list-style:none;
position: relative; 
top: -15px;
margin:5px 10px 5px 15px;
padding:0;
}
.wp-widget ul li {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/bullet.gif) no-repeat 0px 0px;
margin:0 0 10px 0;
padding:0 0 0 14px;
line-height:15px;
font-size:8pt;
}
.search-widget-title {
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/widgetbg.gif) no-repeat;
color:#fff;
font-size: 8pt;
font-weight: bold;
padding:6px 0px 6px 15px;
margin:-25px 0 0 0;
}
.search-widget {
color:#555;
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/widget_bottom_bg.gif) no-repeat bottom;
padding:10px;
margin:0px 0 35px 0;
font-size:8pt;
}
.textwidget {
position: relative; 
top: -15px;
margin:0px 0px 0px 5px;
padding:0px 5px;
}
.textwidget ul {
list-style:none;
position: relative; 
top: 0px;
margin:0 0 0 5px;
padding:0;
}
.textwidget ul li {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/bullet.gif) no-repeat 0 0;
margin:5px 0 10px 0;
padding:0 0 0 14px;
line-height:15px;
}
#calendar_wrap {
position: relative; 
top: -10px;
margin:0 40px;
}
#akismetwrap {
position: relative; 
top: -15px;
margin:0 45px;
}
#cat, select {
position: relative; 
top: -10px;
margin:0 45px;;
}
.widget_categories ul li ul.children{
position: relative; 
top: 0px;
left:-10px;
}
.widget_pages ul li.page_item li{
position: relative; 
top: 20px;
left:-10px;
}   .widget-title {
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/widgetbg.gif) no-repeat;
color:#fff;
font-size: 10pt;
font-weight: bold;
padding:6px 0px 6px 15px;
}
.widget-title a:link,
.widget-title a:visited,
.widget-title a:hover {
color:#fff;
}
.widget {
color:#555;
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/widget_bottom_bg.gif) no-repeat bottom;
padding:10px;
margin:0 0 10px 0;
font-size:8pt;
}
.widget ul {
list-style:none;
margin:5px 5px 0px 5px;
padding:0px;
}
.widget ul li {
background: url() no-repeat 0px 0px;
margin-bottom:10px;
padding-left:0px;
line-height:15px;
font-size:8pt;
}
.center-widget-title {
color:#0066cc;
font-size:16px;
font-weight: bold;
margin:0px 210px 0px 210px;
padding:8px 0px 0px 15px;
}
.center-widget {
background-color: #ffffff;
border:1px solid #e4e4e4;
border-radius: 7px; 
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
width: 485px;
margin:0px 210px 0px 215px;
padding:0.1em 1.2em 0.6em 1.2em;
font-size:10pt;
}
.center-widget a:link,
.center-widget a:visited {
color:#0066cc
}
.center-widget a:hover {
color:#0066cc;
border-bottom: 1px dashed #a0a0a0;
}
.center-widget ul li {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/bullet.gif) no-repeat 0 0;
list-style:none;
padding:0 0 0 15px;
margin:6px 0 0 -10px;
}
.center-widget ol li {
padding:0;
margin:6px 0 0 0px;
}
.bottom-page-nav {
text-align:center;
color: #0066cc;
}
.bottom-page-nav a:link,
.bottom-page-nav a:visited,
.bottom-page-nav a:hover {
color:#0066cc;
}
.footer {
color:#555;
font-size:10pt;
font-weight:normal;
text-align:center;
padding:0px 0px;
margin:0;
}
.footer a:link,
.footer a:visited,
.footer a:hover {
color:#0066cc;
} .comment-list {
padding:0;
margin:0 15px 20px 15px;
}
.comment-meta {
position:relative;
top:-20px;
color: #555555;
font-size:10pt;
margin:50px 0 0 0;
}
.odd-comment .comment-meta a:link,
.odd-comment .comment-meta a:visited,
.odd-comment .comment-meta a:hover {
color: #0066cc;
font-weight:bold;
}
.even-comment .comment-meta a:link,
.even-comment .comment-meta a:visited,
.even-comment .comment-meta a:hover {
color: #008000;
font-weight:bold;
}
.odd-comment .comment-meta .comment-author {
color: #0066cc;
font-weight:bold;
}
.even-comment .comment-meta .comment-author {
color: #008000;
font-weight:bold;
}
.odd-comment .comment-text {
position:relative;
top:-10px;
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/comment-bg-gradient.gif) top left repeat-y; 
color: #555;
border:1px solid #b6cefe;
padding:0px 10px !important;
padding:10px 10px;
width:440px;
overflow:hidden;
}
.even-comment .comment-text {
position:relative;
top:-10px;
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/comment-bg-gradient-green.gif) top left repeat-y; 
color: #555;
border:1px solid #add3ad;
padding:0px 10px !important;
padding:10px 10px;
width:440px;
overflow:hidden;
}
.odd-comment .comment-text a:link,
.odd-comment .comment-text a:visited,
.odd-comment .comment-text a:hover{
color:#0066CC;
text-decoration:none;
}
.even-comment .comment-text a:link,
.even-comment .comment-text a:visited,
.even-comment .comment-text a:hover{
color:#008000;
text-decoration:none;
}
#commentform a:link,
#commentform a:hover,
#commentform a:visited {
color:#0066cc;
} #searchform {
margin:0;
}
input#s {
color:#777;
width: 90%;
height: 18px;
margin: 0;
padding: 2px;
border-left: 1px solid #aaa;
border-top:1px solid #aaa;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
}
input {
color:#555;
}
textarea#comment {
width:470px;
color:#555;
border-left: 1px solid #aaa;
border-top:1px solid #aaa;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
font-size:10pt;
}
input#author,
input#email,
input#url {
width:200px;
color:#555;
border-left: 1px solid #aaa;
border-top:1px solid #aaa;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
font-size:10pt;
}
.topo {
height:125px;
border-bottom:3px solid #3f3f3f;
background:#2781ba; 
background:-moz-linear-gradient(top,#2781ba 0,#2478af 23%,#185788 81%,#155080 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#2781ba),color-stop(23%,#2478af),color-stop(81%,#185788),color-stop(100%,#155080));
background:-webkit-linear-gradient(top,#2781ba 0,#2478af 23%,#185788 81%,#155080 100%);
background:-o-linear-gradient(top,#2781ba 0,#2478af 23%,#185788 81%,#155080 100%);
background:-ms-linear-gradient(top,#2781ba 0,#2478af 23%,#185788 81%,#155080 100%);
background:linear-gradient(to bottom,#2781ba 0,#2478af 23%,#185788 81%,#155080 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2781ba',endColorstr='#155080',GradientType=0)
}
.tags {
text-align:center;
margin-top:5px;
color:#4a4a4a;
font:bold 13px arial, verdana, tahoma;
}
.center-navi {
padding:10px 0 0 0;
text-align:center;
}
.tags {
margin-top:5px;
margin-bottom:-8px;
color:#4a4a4a;
font:bold 13px arial, verdana, tahoma;
}
.center-breadcrumbs-title {
color:#0066cc;
font-size:12px;
font-weight: bold;
margin:0px 210px 0px 210px;
padding:8px 0px 0px 15px;
}
.center-breadcrumbs {
background:url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/bg-widget.jpg) repeat top center;
border:1px solid #e4e4e4;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
width: 485px;
margin:0px 210px 0px 215px;
padding:0.1em 1.2em 0.6em 1.2em;
font-size:09pt;
}
.center-breadcrumbs a:link,
.center-breadcrumbs a:visited {
color:#0066cc
}
.center-breadcrumbs a:hover {
color:#0066cc;
border-bottom: 1px dashed #a0a0a0;
}
.center-breadcrumbs ul li {
background: url(//www.torrentfilmeshd.net/wp-content/themes/torrentfilmeshd/images/bullet.gif) no-repeat 0 0;
list-style:none;
padding:0 0 0 15px;
margin:6px 0 0 -10px;
}
.center-breadcrumbs ol li {
padding:0;
margin:6px 0 0 0px;
}   .pesquisa{float:left;width:490px;position:absolute;margin-top:38px; margin-left:460px; }
.pesquisa form{float:right;width:381px;height:38px;border:2px solid #155080;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px }
.pesquisa:hover form{width:486px}
.pesquisa.ativo form,
.pesquisa:hover form{width:486px;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0}
.pesquisa .ficon{float:left;width:25px;background-color:#fff;height:30px;padding:8px 0 0 9px;border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;text-align:center}
.pesquisa .ficon .lupa{font-size:1.3em;display:inline-block;width:.39em;height:.39em;border:.1em solid #b6b6b6;position:relative;border-radius:.35em}
.pesquisa .ficon .lupa::before{content:"";display:inline-block;position:absolute;right:.33em;bottom:-0.19em;border-width:0;background:#b6b6b6;width:.36em;height:.09em;-webkit-transform:rotate(131deg);-moz-transform:rotate(131deg);-ms-transform:rotate(131deg);-o-transform:rotate(131deg)}
.pesquisa form input.campo{float:left;width:272px;height:38px;border:0;padding:0 3px 0 0;background-color:#fff;color:#3f3f3f;font:12px arial,verdana,tahoma;margin:0} 
.pesquisa.right form input.campo,
.pesquisa:hover form input.campo{width:377px} 
.pesquisa form input.btn{float:left;color:#fff;width:72px;height:38px;border:0;cursor:pointer;margin:0;z-index:100;position:absolute;text-shadow:0 1px #155080;background-color:#2781ba;font:12px arial,verdana,tahoma;border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0} 
.pesquisa form input.btn:hover{background-color:#155080}
.pesquisa form input.btn:active{padding:0;background-color:#2781ba}
.pesquisa:hover form input.btn{border-radius:0 3px 0 0;-moz-border-radius:0 3px 0 0;-webkit-border-radius:0 3px 0 0}
.pesquisa .pesResposta{width:381px;z-index:99;border:0;overflow:hidden;min-height:35px;position:absolute;margin:3px 0 0 105px;background-color:rgba(255,255,255,0);border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}   .ver-mais{
clear:both;
float:left;
color:#ffffff;
margin-left: 195px;
padding:7px 15px 6px;
background-color:#2781ba;
border-bottom:3px solid #155080;
font:11px arial,verdana,tahoma;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}   .wp-pagenavi{
clear:both;
width:950px;
height:40px;
text-align:center;
padding:20px 0 0;
}
.wp-pagenavi a,
.wp-pagenavi span{
width:auto;
margin:0 3px;color:#4a4a4a;
line-height:0;
padding:6px 9px;
text-decoration:none;
display:inline-block;
border:1px solid #dfdfdf;
background-color:#fff;
font:12px tahoma,arial,verdana;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px
}
.wp-pagenavi pages{
padding:6px 10px
}
.wp-pagenavi span.current,
.wp-pagenavi a:hover{
background-color:#2781ba;
color:#fff!important;
border:1px solid #2781ba;
}