@charset "UTF-8";
@font-face {
  font-family: 'vid-icons';
  src: url("../../assets/fonts/icomoon/icomoon.eot?");
  src: url("../../assets/fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon/icomoon.woff?") format("woff"), url("../../assets/fonts/icomoon/icomoon.ttf?") format("truetype");
  font-weight: normal;
  font-style: normal; }

.mediaplayer object, .mediaplayer video {
  height: 100%;
  width: 100%; }

.mediaplayer button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

.mediaplayer[data-theme="autobild"] .media-teaser .tsr-img, .mediaplayer[data-theme="autobild"] {
  display: block;
  height: 0;
  position: relative; }

.mediaplayer[data-theme="autobild"] .media-teaser .tsr-img img, .mediaplayer[data-theme="autobild"] .media-fullsize, .mediaplayer[data-theme="autobild"] .media-box, .mediaplayer[data-theme="autobild"] .media-display, .mediaplayer[data-theme="autobild"] .media-controlsblocker, .mediaplayer[data-theme="autobild"] .media-errorscreen, .mediaplayer[data-theme="autobild"] .media-endscreen, .mediaplayer[data-theme="autobild"] .media-display video {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0; }

.mediaplayer[data-theme="autobild"] .recommended-medias, .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .current-media-wrapper, .mediaplayer[data-theme="autobild"] [data-playersize~="m"] .current-media-wrapper,
.mediaplayer[data-theme="autobild"] [data-playersize~="s"] .current-media-wrapper, .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .current-media-wrapper,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .current-media-wrapper {
  zoom: 1; }
  .mediaplayer[data-theme="autobild"] .recommended-medias:before, .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .current-media-wrapper:before, .mediaplayer[data-theme="autobild"] [data-playersize~="m"] .current-media-wrapper:before,
  .mediaplayer[data-theme="autobild"] [data-playersize~="s"] .current-media-wrapper:before, .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .current-media-wrapper:before,
  .mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .current-media-wrapper:before, .mediaplayer[data-theme="autobild"] .recommended-medias:after, .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .current-media-wrapper:after, .mediaplayer[data-theme="autobild"] [data-playersize~="m"] .current-media-wrapper:after,
  .mediaplayer[data-theme="autobild"] [data-playersize~="s"] .current-media-wrapper:after, .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .current-media-wrapper:after,
  .mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .current-media-wrapper:after {
    content: '';
    display: table; }
  .mediaplayer[data-theme="autobild"] .recommended-medias:after, .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .current-media-wrapper:after, .mediaplayer[data-theme="autobild"] [data-playersize~="m"] .current-media-wrapper:after,
  .mediaplayer[data-theme="autobild"] [data-playersize~="s"] .current-media-wrapper:after, .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .current-media-wrapper:after,
  .mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .current-media-wrapper:after {
    clear: both; }

.mediaplayer[data-theme="autobild"] .media-unmutebutton span, .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-replay {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden; }

.mediaplayer[data-theme="autobild"] .recommended-medias h3 a, .mediaplayer[data-theme="autobild"] .media-revolver-ui .abort-revolver {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 1px; }

.mediaplayer[data-theme="autobild"] .state-idle .media-poster button,
.mediaplayer[data-theme="autobild"] .state-waiting .media-poster button, .mediaplayer[data-theme="autobild"] .state-playing .media-poster button {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;
  background-color: black;
  margin-top: -24px;
  margin-right: -24px;
  cursor: pointer;
  border: 0; }
  .mediaplayer[data-theme="autobild"] .state-idle .media-poster button:before,
  .mediaplayer[data-theme="autobild"] .state-waiting .media-poster button:before, .mediaplayer[data-theme="autobild"] .state-playing .media-poster button:before {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 48px;
    text-indent: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 24px;
    font-family: "vid-icons";
    display: block;
    width: 48px;
    height: 48px;
    color: #f00000; }
  .mediaplayer[data-theme="autobild"] .state-idle .media-poster button:hover:before,
  .mediaplayer[data-theme="autobild"] .state-waiting .media-poster button:hover:before, .mediaplayer[data-theme="autobild"] .state-playing .media-poster button:hover:before {
    background-color: #f00000;
    color: black; }

.mediaplayer[data-theme="autobild"] .state-idle .media-poster button:before,
.mediaplayer[data-theme="autobild"] .state-waiting .media-poster button:before {
  content: ""; }

.mediaplayer[data-theme="autobild"] .state-playing .media-poster button:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-fblike, [data-theme="autobild"].mediaplayer .media-twitter, [data-theme="autobild"].mediaplayer .media-gplus, [data-theme="autobild"].mediaplayer .media-mail {
  display: block;
  color: white;
  text-decoration: none;
  width: 34px;
  height: 34px;
  position: relative;
  opacity: 1;
  transition: opacity .1s ease-out;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden; }
  [data-theme="autobild"].mediaplayer .media-fblike:before, [data-theme="autobild"].mediaplayer .media-twitter:before, [data-theme="autobild"].mediaplayer .media-gplus:before, [data-theme="autobild"].mediaplayer .media-mail:before {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 34px;
    text-indent: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 25px;
    font-family: "vid-icons";
    display: block;
    position: relative;
    right: -5px;
    bottom: -1px; }
  [data-theme="autobild"].mediaplayer .media-fblike:hover, [data-theme="autobild"].mediaplayer .media-twitter:hover, [data-theme="autobild"].mediaplayer .media-gplus:hover, [data-theme="autobild"].mediaplayer .media-mail:hover {
    opacity: .75; }

[data-theme="autobild"].mediaplayer .media-fblike {
  background: #3b5897; }
  [data-theme="autobild"].mediaplayer .media-fblike:before {
    content: ""; }

[data-theme="autobild"].mediaplayer .media-twitter {
  background: #53abee; }
  [data-theme="autobild"].mediaplayer .media-twitter:before {
    content: ""; }

[data-theme="autobild"].mediaplayer .media-gplus {
  background: #de4e3b; }
  [data-theme="autobild"].mediaplayer .media-gplus:before {
    content: ""; }

[data-theme="autobild"].mediaplayer .media-mail {
  background: white; }
  [data-theme="autobild"].mediaplayer .media-mail:before {
    content: ""; }

[data-theme="autobild"].mediaplayer .media-fblike:before {
  bottom: -5px;
  right: -8px; }

.mediaplayer,
.mediaplayer *,
.mediaplayer *:before,
.mediaplayer *:after {
  box-sizing: border-box;
  position: static;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  line-height: 1;
  font-size: 14px;
  background: transparent; }

.mediaplayer[data-theme="autobild"] .media-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 1;
  visibility: visible; }
  .mediaplayer[data-theme="autobild"] .media-poster img {
    display: none;
    width: 100%;
    height: auto; }
  .mediaplayer[data-theme="autobild"] .media-poster.show-poster img {
    display: block; }

.mediaplayer[data-theme="autobild"] .hide-controls .media-controlbar,
.mediaplayer[data-theme="autobild"] .hide-controls .media-poster {
  visibility: hidden; }

.mediaplayer[data-theme="autobild"] .state-playing .media-poster button {
  display: none; }

.mediaplayer[data-theme="autobild"] .state-idle .media-poster button,
.mediaplayer[data-theme="autobild"] .state-waiting .media-poster button {
  display: block; }

.mediaplayer[data-theme="autobild"] .state-idle[data-playersizes~="xs"] .media-poster button:before,
.mediaplayer[data-theme="autobild"] .state-waiting[data-playersizes~="xs"] .media-poster button:before {
  font-size: 22px;
  line-height: 44px;
  width: 44px;
  height: 44px; }

.mediaplayer[data-theme="autobild"] .state-waiting .media-poster button {
  background-image: url(../../assets/img/themes/widget/loader.gif);
  background-position: center;
  background-repeat: no-repeat; }
  .mediaplayer[data-theme="autobild"] .state-waiting .media-poster button:before {
    visibility: hidden; }

[data-theme="autobild"].mediaplayer .media-timerange-container,
[data-theme="autobild"].mediaplayer .media-timeremaining,
[data-theme="autobild"].mediaplayer .media-liveindicator,
[data-theme="autobild"].mediaplayer .media-timetillended, [data-theme="autobild"].mediaplayer .mediabutton-box,
[data-theme="autobild"].mediaplayer .media-pausetoggle, [data-theme="autobild"].mediaplayer .media-volumecontrols .volumerange-container:before {
  border-radius: 4px;
  background: #666;
  background: rgba(0, 0, 0, 0.6); }

[data-theme="autobild"].mediaplayer {
  /*
  .media-range-progress : time, the video already played
  .media-range-thumb    : current point on the video or volume
  .media-range-track    : something with media-range-progess inside
  */ }
  [data-theme="autobild"].mediaplayer .media-controlsblocker {
    visibility: hidden; }
  [data-theme="autobild"].mediaplayer .mp-visible {
    visibility: visible; }
  [data-theme="autobild"].mediaplayer .hide-controls .media-controlbar {
    visibility: hidden; }
  [data-theme="autobild"].mediaplayer .media-controlbar {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 100%;
    display: table;
    visibility: visible;
    z-index: 999;
    transition: 200ms all; }
    [data-theme="autobild"].mediaplayer .media-controlbar.hide-bar {
      visibility: hidden; }
  [data-theme="autobild"].mediaplayer .state-playing.userinactive .media-controlbar,
  [data-theme="autobild"].mediaplayer .state-playing.userinactive .media-play {
    opacity: 0;
    visibility: 0; }
  [data-theme="autobild"].mediaplayer .media-timeremaining-container {
    display: none; }
  [data-theme="autobild"].mediaplayer [data-duration="infinite"] .media-timerange-container-wrapper > *,
  [data-theme="autobild"].mediaplayer .media-ad .media-timerange-container-wrapper > * {
    display: none; }
  [data-theme="autobild"].mediaplayer .media-liveindicator-container {
    display: none; }
  [data-theme="autobild"].mediaplayer .media-controlbar-box {
    display: table-row; }
    [data-theme="autobild"].mediaplayer .media-controlbar-box > * {
      padding: 0 5px; }
  [data-theme="autobild"].mediaplayer .media-controlbar-box > *,
  [data-theme="autobild"].mediaplayer .mediabutton-box,
  [data-theme="autobild"].mediaplayer .mediabutton-box > * {
    display: table-cell;
    vertical-align: top; }
  [data-theme="autobild"].mediaplayer .media-pausetoggle-container {
    padding-left: 20px; }
  [data-theme="autobild"].mediaplayer .mediabutton-container {
    padding-right: 20px; }
  [data-theme="autobild"].mediaplayer .media-timerange-container,
  [data-theme="autobild"].mediaplayer .media-timeremaining,
  [data-theme="autobild"].mediaplayer .media-liveindicator,
  [data-theme="autobild"].mediaplayer .media-timetillended {
    height: 24px; }
  [data-theme="autobild"].mediaplayer .media-ad .media-timeremaining-container,
  [data-theme="autobild"].mediaplayer [data-duration="infinite"] .media-liveindicator-container {
    display: block; }
  [data-theme="autobild"].mediaplayer .media-ad .media-liveindicator-container {
    display: none; }
  [data-theme="autobild"].mediaplayer .media-timeremaining,
  [data-theme="autobild"].mediaplayer .media-timeremaining > *,
  [data-theme="autobild"].mediaplayer .media-liveindicator,
  [data-theme="autobild"].mediaplayer .media-timetillended {
    padding: 0 10px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden; }
  [data-theme="autobild"].mediaplayer .media-timerange-container-wrapper {
    width: 100%; }
  [data-theme="autobild"].mediaplayer .media-timetillended {
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 15px; }
  [data-theme="autobild"].mediaplayer button {
    outline: none; }
  [data-theme="autobild"].mediaplayer .mediabutton-box button {
    margin: 0 2px; }
  [data-theme="autobild"].mediaplayer .media-range {
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    background: #eee;
    background: rgba(255, 255, 255, 0.35); }
    [data-theme="autobild"].mediaplayer .media-range.media-timerange {
      top: 8.666px;
      margin: 0 10px;
      height: 5px;
      outline: none; }
      [data-theme="autobild"].mediaplayer .media-range.media-timerange .media-range-track {
        height: 100%; }
    [data-theme="autobild"].mediaplayer .media-range.media-volumerange {
      cursor: pointer;
      width: 5px;
      height: 68px;
      outline: none; }
      [data-theme="autobild"].mediaplayer .media-range.media-volumerange .media-range-track {
        width: 100%; }
      [data-theme="autobild"].mediaplayer .media-range.media-volumerange.is-muted .media-range-thumb {
        top: 100% !important; }
      [data-theme="autobild"].mediaplayer .media-range.media-volumerange.is-muted .media-range-progress {
        height: 0 !important; }
    [data-theme="autobild"].mediaplayer .media-range .media-tooltip {
      position: absolute;
      bottom: 12px;
      text-align: center;
      margin-left: -23px;
      background: rgba(255, 255, 255, 0.9);
      color: black;
      font-size: 12px;
      padding: 3px; }
      [data-theme="autobild"].mediaplayer .media-range .media-tooltip:after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -5px;
        border-style: solid;
        border-width: 6px 6px 0;
        border-color: rgba(255, 255, 255, 0.9) transparent transparent; }
    [data-theme="autobild"].mediaplayer .media-range > .media-tooltip {
      visibility: hidden;
      opacity: 0;
      transition: 200ms visibility;
      bottom: 13px; }
      [data-theme="autobild"].mediaplayer .media-range > .media-tooltip.show-time-select {
        opacity: 1;
        visibility: visible; }
  [data-theme="autobild"].mediaplayer .hide-bar .media-tooltip {
    visibility: hidden; }
  [data-theme="autobild"].mediaplayer .media-range-progress,
  [data-theme="autobild"].mediaplayer .media-range-track,
  [data-theme="autobild"].mediaplayer .media-range-thumb {
    position: absolute;
    display: block; }
  [data-theme="autobild"].mediaplayer .media-range-progress {
    background: white;
    background: rgba(255, 255, 255, 0.7); }
  [data-theme="autobild"].mediaplayer .media-timerange .media-range-progress {
    cursor: pointer;
    left: 0;
    height: 100%;
    border-radius: 5px 0 0 5px; }
  [data-theme="autobild"].mediaplayer .media-range-thumb {
    cursor: pointer;
    height: 1px;
    width: 1px; }
  [data-theme="autobild"].mediaplayer .media-progressbuffer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer; }
  [data-theme="autobild"].mediaplayer .media-progressindicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); }
  [data-theme="autobild"].mediaplayer .media-volumecontrols,
  [data-theme="autobild"].mediaplayer .media-menu-sharemenu {
    position: relative; }
  [data-theme="autobild"].mediaplayer .media-submenu {
    position: absolute;
    visibility: hidden;
    width: 70px;
    bottom: 20px;
    padding: 12px;
    right: -16px;
    transition: all 200ms;
    opacity: 0;
    /* gplus uses visibility: visible inline-style */ }
  [data-theme="autobild"].mediaplayer .media-sharelist {
    height: auto;
    display: inline-block;
    padding: 4px;
    list-style: none;
    border-radius: 4px;
    background: #666;
    background: rgba(0, 0, 0, 0.6); }
    [data-theme="autobild"].mediaplayer .media-sharelist li {
      padding: 6px;
      margin: 0;
      float: none; }
  [data-theme="autobild"].mediaplayer .media-menucontainer:hover .media-submenu {
    opacity: 1;
    visibility: visible;
    transition-delay: 80ms; }
  [data-theme="autobild"].mediaplayer .block-submenu .media-submenu {
    display: none; }
  [data-theme="autobild"].mediaplayer .media-volumerange .media-range-progress {
    cursor: pointer;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 5px 5px; }
  [data-theme="autobild"].mediaplayer .media-volumerange .media-range-thumb {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background-color: white;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden; }
    [data-theme="autobild"].mediaplayer .media-volumerange .media-range-thumb:hover {
      transform: scale(1.5); }
  [data-theme="autobild"].mediaplayer .media-volumecontrols .volumerange-container {
    position: absolute;
    right: -18px;
    bottom: 23px;
    border: 20px solid transparent;
    border-bottom: 8px solid transparent;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
    padding: 10px; }
    [data-theme="autobild"].mediaplayer .media-volumecontrols .volumerange-container:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  [data-theme="autobild"].mediaplayer .media-volumecontrols:hover .volumerange-container {
    visibility: visible;
    opacity: 1;
    transition-delay: 80ms; }
  [data-theme="autobild"].mediaplayer [data-playersizes~="xs"] .media-controlbar {
    bottom: 4px; }
  [data-theme="autobild"].mediaplayer [data-playersizes~="xs"] .media-pausetoggle-container {
    padding-left: 6px; }
  [data-theme="autobild"].mediaplayer [data-playersizes~="xs"] .media-controlbar-box > * {
    padding: 0 2px; }
  [data-theme="autobild"].mediaplayer [data-playersizes~="xs"] .media-timeremaining,
  [data-theme="autobild"].mediaplayer [data-playersizes~="xs"] .media-timeremaining > *,
  [data-theme="autobild"].mediaplayer [data-playersizes~="xs"] .media-liveindicator {
    padding: 0 6px;
    font-size: 11px; }
  [data-theme="autobild"].mediaplayer [data-playersizes~="xs"] .mediabutton-container {
    padding-right: 6px; }
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="xxs"] .media-timeremaining,
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="xxs"] .media-timeremaining > *,
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="xxs"] .media-liveindicator {
    font-size: 9px; }
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="xxs"] .media-timeremaining span,
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="xxs"] .media-timeremaining > * span,
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="xxs"] .media-liveindicator span {
      padding: 0; }
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="xs"] .media-timeremaining,
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="xs"] .media-timeremaining > *,
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="xs"] .media-liveindicator {
    font-size: 10px; }
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="xs"] .media-timeremaining span,
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="xs"] .media-timeremaining > * span,
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="xs"] .media-liveindicator span {
      padding: 0; }
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="s"] .media-timeremaining,
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="s"] .media-timeremaining > *,
  [data-theme="autobild"].mediaplayer.portrait [data-playersize="s"] .media-liveindicator {
    font-size: 13px; }
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="s"] .media-timeremaining span,
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="s"] .media-timeremaining > * span,
    [data-theme="autobild"].mediaplayer.portrait [data-playersize="s"] .media-liveindicator span {
      padding: 0 4px; }

[data-theme="autobild"].mediaplayer .media-fullscreentoggle, [data-theme="autobild"].mediaplayer .media-fullscreentoggle.is-fullscreen, [data-theme="autobild"].mediaplayer .media-pausetoggle, [data-theme="autobild"].mediaplayer .media-pausetoggle.is-play, [data-theme="autobild"].mediaplayer .media-quality-container .media-menu-opener, [data-theme="autobild"].mediaplayer .media-mutetoggle, [data-theme="autobild"].mediaplayer .media-mutetoggle.volume-medium, [data-theme="autobild"].mediaplayer .media-mutetoggle.volume-low, [data-theme="autobild"].mediaplayer .media-mutetoggle.volume-no, [data-theme="autobild"].mediaplayer .media-mutetoggle.is-muted, [data-theme="autobild"].mediaplayer .media-menu-sharemenu .media-menu-opener {
  cursor: pointer;
  border: 0; }
  [data-theme="autobild"].mediaplayer .media-fullscreentoggle:before, [data-theme="autobild"].mediaplayer .media-fullscreentoggle.is-fullscreen:before, [data-theme="autobild"].mediaplayer .media-pausetoggle:before, [data-theme="autobild"].mediaplayer .media-pausetoggle.is-play:before, [data-theme="autobild"].mediaplayer .media-quality-container .media-menu-opener:before, [data-theme="autobild"].mediaplayer .media-mutetoggle:before, [data-theme="autobild"].mediaplayer .media-mutetoggle.volume-medium:before, [data-theme="autobild"].mediaplayer .media-mutetoggle.volume-low:before, [data-theme="autobild"].mediaplayer .media-mutetoggle.volume-no:before, [data-theme="autobild"].mediaplayer .media-mutetoggle.is-muted:before, [data-theme="autobild"].mediaplayer .media-menu-sharemenu .media-menu-opener:before {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 24px;
    text-indent: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 13px;
    font-family: "vid-icons";
    display: block;
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 0.7); }
  [data-theme="autobild"].mediaplayer .media-fullscreentoggle:hover:before, [data-theme="autobild"].mediaplayer .media-pausetoggle:hover:before, [data-theme="autobild"].mediaplayer .media-quality-container .media-menu-opener:hover:before, [data-theme="autobild"].mediaplayer .media-mutetoggle:hover:before, [data-theme="autobild"].mediaplayer .media-menu-sharemenu .media-menu-opener:hover:before, [data-theme="autobild"].mediaplayer .media-fullscreentoggle:active:before, [data-theme="autobild"].mediaplayer .media-pausetoggle:active:before, [data-theme="autobild"].mediaplayer .media-quality-container .media-menu-opener:active:before, [data-theme="autobild"].mediaplayer .media-mutetoggle:active:before, [data-theme="autobild"].mediaplayer .media-menu-sharemenu .media-menu-opener:active:before, [data-theme="autobild"].mediaplayer .media-fullscreentoggle:focus:before, [data-theme="autobild"].mediaplayer .media-pausetoggle:focus:before, [data-theme="autobild"].mediaplayer .media-quality-container .media-menu-opener:focus:before, [data-theme="autobild"].mediaplayer .media-mutetoggle:focus:before, [data-theme="autobild"].mediaplayer .media-menu-sharemenu .media-menu-opener:focus:before {
    color: white; }
  [data-theme="autobild"].mediaplayer [disabled].media-fullscreentoggle, [data-theme="autobild"].mediaplayer [disabled].media-pausetoggle, [data-theme="autobild"].mediaplayer .media-quality-container [disabled].media-menu-opener, [data-theme="autobild"].mediaplayer [disabled].media-mutetoggle, [data-theme="autobild"].mediaplayer .media-menu-sharemenu [disabled].media-menu-opener {
    cursor: default;
    cursor: not-allowed; }
    [data-theme="autobild"].mediaplayer [disabled].media-fullscreentoggle:before, [data-theme="autobild"].mediaplayer [disabled].media-pausetoggle:before, [data-theme="autobild"].mediaplayer .media-quality-container [disabled].media-menu-opener:before, [data-theme="autobild"].mediaplayer [disabled].media-mutetoggle:before, [data-theme="autobild"].mediaplayer .media-menu-sharemenu [disabled].media-menu-opener:before {
      color: rgba(255, 255, 255, 0.5); }

[data-theme="autobild"].mediaplayer .media-fullscreentoggle:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-fullscreentoggle.is-fullscreen:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-pausetoggle:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-pausetoggle.is-play:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-quality-container .media-menu-opener:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-mutetoggle:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-mutetoggle.volume-medium:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-mutetoggle.volume-low:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-mutetoggle.volume-no:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-mutetoggle.is-muted:before {
  content: ""; }

[data-theme="autobild"].mediaplayer .media-menu-sharemenu .media-menu-opener:before {
  content: ""; }

.mediaplayer[data-theme="autobild"] .media-box.hide-mediabox {
  overflow: hidden;
  width: 10px;
  height: 10px;
  left: -9999px; }

.mediaplayer[data-theme="autobild"] .inline-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.mediaplayer[data-theme="autobild"] .media-unmutebutton {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  color: white;
  visibility: visible; }
  .mediaplayer[data-theme="autobild"] .media-unmutebutton span {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.6); }
    .mediaplayer[data-theme="autobild"] .media-unmutebutton span:after {
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      line-height: 48px;
      text-indent: 0;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-size: 24px;
      font-family: "vid-icons"; }
    .mediaplayer[data-theme="autobild"] .media-unmutebutton span:after {
      animation-name: volume;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-direction: forward;
      animation-timing-function: ease-in;
      overflow: hidden;
      text-align: left;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      font-family: "vid-icons";
      padding-left: 12px;
      border-radius: 50%; }

@keyframes volume {
  from {
    width: 23px; }
  50% {
    width: 32px; }
  to {
    width: 44px; } }

.mediaplayer[data-theme="autobild"] .media-endscreen {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  transition: all 200ms;
  padding: 24px; }
  .mediaplayer[data-theme="autobild"] .media-endscreen.show-endscreen {
    visibility: visible;
    opacity: 1;
    z-index: 999; }

.mediaplayer[data-theme="autobild"] .recommended-medias {
  position: relative;
  margin: auto; }
  .mediaplayer[data-theme="autobild"] .recommended-medias h3 {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.5; }
    .mediaplayer[data-theme="autobild"] .recommended-medias h3 a {
      display: block;
      margin: 0 auto;
      max-width: 70%;
      line-height: 40px;
      font-size: 14px;
      font-size: 1rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center; }
      .mediaplayer[data-theme="autobild"] .recommended-medias h3 a:hover {
        color: black;
        background: white; }

.mediaplayer[data-theme="autobild"] .media-endscreen--premium {
  background: rgba(255, 255, 255, 0.95); }
  .mediaplayer[data-theme="autobild"] .media-endscreen--premium .svg-bpluslogo {
    display: block;
    margin: 6px auto; }
  .mediaplayer[data-theme="autobild"] .media-endscreen--premium .recommended-medias h3 a {
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: black; }
    .mediaplayer[data-theme="autobild"] .media-endscreen--premium .recommended-medias h3 a:hover {
      border: 1px solid rgba(240, 0, 0, 0.6);
      color: white;
      background: #f00000; }
  .mediaplayer[data-theme="autobild"] .media-endscreen--premium .media-revolver-ui {
    color: black; }
    .mediaplayer[data-theme="autobild"] .media-endscreen--premium .media-revolver-ui .abort-revolver {
      border: 1px solid rgba(0, 0, 0, 0.6);
      color: black; }
      .mediaplayer[data-theme="autobild"] .media-endscreen--premium .media-revolver-ui .abort-revolver:hover {
        border: 1px solid rgba(240, 0, 0, 0.6);
        color: white;
        background: #f00000; }

.mediaplayer[data-theme="autobild"] .media-endscreen__prohibition {
  text-align: center; }

.mediaplayer[data-theme="autobild"] .media-endscreen__bildplus {
  display: none;
  line-height: 2;
  padding: 0 0 6px; }
  .mediaplayer[data-theme="autobild"] .media-endscreen__bildplus strong {
    display: block; }

.mediaplayer[data-theme="autobild"] .media-endscreen__try {
  display: inline-block;
  font-size: 14px;
  line-height: 2;
  padding: 0 32px;
  margin: 0 0 3px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: #f00000; }
  .mediaplayer[data-theme="autobild"] .media-endscreen__try:hover {
    background: #bd0000;
    transition: all 100ms ease; }

.mediaplayer[data-theme="autobild"] .media-endscreen__login {
  line-height: 2; }
  .mediaplayer[data-theme="autobild"] .media-endscreen__login a {
    color: black; }
    .mediaplayer[data-theme="autobild"] .media-endscreen__login a:hover {
      color: #f00000; }

.mediaplayer[data-theme="autobild"] [data-playersize~="s"] .media-endscreen__try,
.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-endscreen__try,
.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-endscreen__try,
.mediaplayer[data-theme="autobild"] [data-playersize~="xl"] .media-endscreen__try {
  font-size: 16px;
  line-height: 3; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-endscreen--premium .svg-bpluslogo {
  margin: 6px auto 12px;
  width: 192px;
  height: 104px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-endscreen__bildplus {
  display: block;
  padding: 0 0 6px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-endscreen--premium .svg-bpluslogo,
.mediaplayer[data-theme="autobild"] [data-playersize~="xl"] .media-endscreen--premium .svg-bpluslogo {
  margin: 24px auto;
  width: 192px;
  height: 104px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-endscreen__bildplus,
.mediaplayer[data-theme="autobild"] [data-playersize~="xl"] .media-endscreen__bildplus {
  display: block;
  padding: 0 0 18px; }

.mediaplayer[data-theme="autobild"] .current-media {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 24px; }
  .mediaplayer[data-theme="autobild"] .current-media .current-media-wrapper {
    margin: auto; }
  .mediaplayer[data-theme="autobild"] .current-media .media-teaser-wrapper {
    width: 190px;
    float: left; }

.mediaplayer[data-theme="autobild"] .media-replay {
  border: 0;
  display: inline-block;
  position: relative;
  color: white;
  font-size: 14px;
  font-size: 1rem;
  line-height: 40px;
  cursor: pointer;
  margin: auto; }
  .mediaplayer[data-theme="autobild"] .media-replay:before {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 40px;
    text-indent: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 24px;
    font-family: "vid-icons"; }
  .mediaplayer[data-theme="autobild"] .media-replay:hover {
    color: #f00000; }
  .mediaplayer[data-theme="autobild"] .media-replay:before {
    content: "";
    float: left; }

.mediaplayer[data-theme="autobild"] .media-sharelist-container {
  margin: auto; }
  .mediaplayer[data-theme="autobild"] .media-sharelist-container .media-sharelist {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: 0; }
    .mediaplayer[data-theme="autobild"] .media-sharelist-container .media-sharelist li {
      display: block;
      margin: 0;
      width: auto;
      text-align: left; }

.mediaplayer[data-theme="autobild"] .media-teaser {
  position: relative;
  width: 190px;
  flex: 1 0 170px;
  margin: 0 24px 50px;
  cursor: pointer; }
  .no-flexbox .mediaplayer[data-theme="autobild"] .media-teaser {
    display: table-cell; }
  .mediaplayer[data-theme="autobild"] .media-teaser .tsr-img {
    padding-bottom: 56.25%;
    width: 100%; }
  .mediaplayer[data-theme="autobild"] .media-teaser .media-caption {
    position: relative;
    top: -22px; }
  .mediaplayer[data-theme="autobild"] .media-teaser h2 {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    line-height: 22px;
    line-height: 1.5714285714rem;
    height: 22px;
    height: 1.5714285714rem;
    font-size: 12px;
    font-size: 0.8571428571rem;
    text-transform: uppercase;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    font-weight: 700;
    color: white;
    background: #f00000; }
  .mediaplayer[data-theme="autobild"] .media-teaser p {
    margin: 0;
    padding: 0 6px;
    font-size: 16px;
    font-size: 1.1428571429rem;
    line-height: 1.4;
    color: white;
    font-weight: 700; }

.mediaplayer[data-theme="autobild"] .media-carousel {
  position: relative;
  padding: 0 20px 0 50px; }

.mediaplayer[data-theme="autobild"] .media-carouselview {
  position: relative;
  margin: 0;
  max-height: 240px;
  overflow: hidden; }

.mediaplayer[data-theme="autobild"] .media-carouselbox {
  margin-top: 24px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .no-flexbox .mediaplayer[data-theme="autobild"] .media-carouselbox {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 12px; }

.mediaplayer[data-theme="autobild"] .media-revolver-ui {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  line-height: 1.5; }
  .mediaplayer[data-theme="autobild"] .media-revolver-ui .abort-revolver {
    padding: 0 12px;
    color: white;
    font-size: 14px;
    font-size: 1rem;
    line-height: 40px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 6px; }
    .mediaplayer[data-theme="autobild"] .media-revolver-ui .abort-revolver:hover {
      color: black;
      background: white; }

.mediaplayer[data-theme="autobild"] .media-gplus,
.mediaplayer[data-theme="autobild"] .media-fblike,
.mediaplayer[data-theme="autobild"] .media-twitter {
  transition: none; }

.mediaplayer[data-theme="autobild"] [data-playersizes~="xxs"] .media-replay,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xxs"] .media-sharelist-container,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xxs"] .media-carousel,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xxs"] .media-revolver-ui {
  display: none; }

.mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-revolver-ui,
.mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-teaser,
.mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-carousel {
  display: none; }

.mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .recommended-medias {
  display: block; }

.mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-replay {
  width: 40px;
  position: absolute;
  bottom: 24px;
  left: 0; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-replay:before {
    width: 40px;
    text-align: center;
    display: inline-block; }

.mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .current-media-wrapper {
  position: absolute;
  bottom: 24px;
  right: 0; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .current-media-wrapper .social-button {
    margin: 0 0 0 12px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-endscreen .media-sharelist {
  float: right;
  position: static; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="xs"] .media-endscreen .media-sharelist li {
    float: left; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-carousel,
.mediaplayer[data-theme="autobild"] [data-playersize~="s"] .media-carousel {
  display: none; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-replay,
.mediaplayer[data-theme="autobild"] [data-playersize~="s"] .media-replay {
  position: absolute;
  bottom: 24px;
  left: 0;
  font-weight: 700;
  text-transform: uppercase; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-replay:before,
  .mediaplayer[data-theme="autobild"] [data-playersize~="s"] .media-replay:before {
    width: 40px;
    text-align: center;
    display: inline-block; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .current-media-wrapper,
.mediaplayer[data-theme="autobild"] [data-playersize~="s"] .current-media-wrapper {
  position: absolute;
  bottom: 24px;
  right: 0; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="m"] .current-media-wrapper .social-button,
  .mediaplayer[data-theme="autobild"] [data-playersize~="s"] .current-media-wrapper .social-button {
    margin: 0 0 0 24px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-endscreen .media-sharelist,
.mediaplayer[data-theme="autobild"] [data-playersize~="s"] .media-endscreen .media-sharelist {
  float: right;
  position: static; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-endscreen .media-sharelist li,
  .mediaplayer[data-theme="autobild"] [data-playersize~="s"] .media-endscreen .media-sharelist li {
    float: left; }

.mediaplayer[data-theme="autobild"] [data-playersize~="s"] .recommended-medias h3 a {
  margin: 0;
  width: 40%; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-endscreen {
  padding: 24px 48px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .current-media {
  margin-left: 48px;
  margin-right: 48px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-carousel {
  display: block;
  padding: 0; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-prev,
.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .media-next {
  display: none; }

.mediaplayer[data-theme="autobild"] [data-playersize~="m"] .recommended-medias h3 a {
  margin: 0;
  width: 30%; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-sharelist-container,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-sharelist-container {
  margin: 0 0 0 200px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-endscreen,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-endscreen {
  padding: 24px 48px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .current-media,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .current-media {
  margin-left: 48px;
  margin-right: 48px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-carousel,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-carousel {
  display: block;
  padding: 0; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-carouselbox,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-carouselbox {
  margin-top: 48px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-carouselview,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-carouselview {
  max-height: 400px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-prev,
.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-next,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-prev,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-next {
  display: none; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-teaser,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-teaser {
  margin: 0 0 50px 12px; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-teaser:first-child,
  .mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-teaser:first-child {
    margin-left: 0; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .recommended-medias h3 a,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .recommended-medias h3 a {
  margin: 0;
  width: 30%; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .current-media-wrapper,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .current-media-wrapper {
  position: absolute;
  bottom: 24px;
  right: 0; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .current-media-wrapper .social-button,
  .mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .current-media-wrapper .social-button {
    margin: 0 0 0 24px; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-replay,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-replay {
  position: absolute;
  bottom: 24px;
  left: 0;
  font-weight: 700;
  text-transform: uppercase; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-replay:before,
  .mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-replay:before {
    width: 40px;
    text-align: center;
    display: inline-block; }

.mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-endscreen .media-sharelist,
.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-endscreen .media-sharelist {
  float: right;
  position: static; }
  .mediaplayer[data-theme="autobild"] [data-playersize~="l"] .media-endscreen .media-sharelist li,
  .mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-endscreen .media-sharelist li {
    float: left; }

.mediaplayer[data-theme="autobild"] [data-playersizes~="xl"] .media-carouselview {
  max-height: none; }

.mediaplayer[data-theme="autobild"].portrait .media-revolver-ui,
.mediaplayer[data-theme="autobild"].portrait .media-sharelist-container,
.mediaplayer[data-theme="autobild"].portrait .media-teaser,
.mediaplayer[data-theme="autobild"].portrait .media-carousel {
  display: block; }

.mediaplayer[data-theme="autobild"].portrait .media-carouselview {
  max-height: 570px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xxs"] .media-revolver-ui {
  top: 50px;
  text-align: center; }
  .mediaplayer[data-theme="autobild"].portrait [data-playersize="xxs"] .media-revolver-ui .abort-revolver {
    margin-top: 6px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xxs"] .media-replay {
  width: 100%; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xxs"] .media-sharelist li {
  float: left; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xxs"] .media-teaser,
.mediaplayer[data-theme="autobild"].portrait [data-playersize="xxs"] .media-carousel {
  display: none; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xs"] .media-carousel {
  padding: 0;
  margin: 0; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xs"] .media-revolver-ui {
  display: none; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xs"] .media-carouselview {
  max-height: 380px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xs"] .media-carouselbox {
  margin-top: 12px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="xs"] .media-teaser {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 10px;
  flex: none; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="s"] .media-carousel {
  padding: 0 20px;
  margin: 0; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="s"] .media-carouselview {
  max-height: 530px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="s"] .media-carouselbox {
  margin-top: 16px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="s"] .media-teaser {
  margin: 0 auto;
  margin-bottom: 30px;
  flex: 1 0 270px;
  max-width: 350px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="m"] .media-carouselview {
  max-height: 700px; }

.mediaplayer[data-theme="autobild"].portrait [data-playersize="m"] .media-teaser {
  flex-basis: 182px; }

.mediaplayer[data-theme="autobild"] .media-errorscreen {
  visibility: visible;
  z-index: 999;
  color: white;
  background: rgba(0, 0, 0, 0.95);
  text-align: center; }
  .mediaplayer[data-theme="autobild"] .media-errorscreen a {
    color: white;
    display: inline;
    font-size: inherit;
    text-decoration: underline; }
    .mediaplayer[data-theme="autobild"] .media-errorscreen a:focus, .mediaplayer[data-theme="autobild"] .media-errorscreen a:hover {
      text-decoration: none; }
  .mediaplayer[data-theme="autobild"] .media-errorscreen .media-errorscreen-premium:after {
    content: '';
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22124%22%20height%3D%2264%22%20viewBox%3D%220%200%20248%20128%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%20x1%3D%2295.5%22%20y1%3D%228%22%20x2%3D%2295.5%22%20y2%3D%22120%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20128%29%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23c00%22/%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23d00%22/%3E%3C/linearGradient%3E%3ClinearGradient%20id%3D%22b%22%20x1%3D%22184%22%20y1%3D%228%22%20x2%3D%22184%22%20y2%3D%22120%22%20gradientTransform%3D%22matrix%281%200%200%20-1%200%20128%29%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22/%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23444%22/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath%20d%3D%22M0%208h191v112h-191v-112z%22%20fill%3D%22url%28%23a%29%22/%3E%3Cpath%20d%3D%22M48%2024h8v8h-8v-8zm0%2016h8v64h-8v-64zm16-16h8v80h-8v-80z%22%20fill%3D%22%23fff%22/%3E%3Cpath%20d%3D%22M24%2072h8v32h-8v-32zm0-32h8v24h-8v-24z%22%20fill%3D%22none%22/%3E%3Cpath%20d%3D%22M40%2056v-28a4%204%200%200%200-4-4h-20v80h20a4%204%200%200%200%204-4v-36a4%204%200%200%200-4-4%204%204%200%200%200%204-4zm-8%2040h-8v-32h8v32zm0-40h-8v-24h8v24z%22%20fill%3D%22%23fff%22/%3E%3Cpath%20d%3D%22M88%2048h8v56h-8v-56z%22%20fill%3D%22none%22/%3E%3Cpath%20d%3D%22M96%2024v16h-12a4%204%200%200%200-4%204v56a4%204%200%200%200%204%204h20v-80h-8zm0%2072h-8v-48h8v48z%22%20fill%3D%22%23fff%22/%3E%3Cpath%20d%3D%22M184%20120a56%2056%200%201%201%2056-56%2056%2056%200%200%201-56%2056z%22%20fill%3D%22url%28%23b%29%22/%3E%3Cpath%20d%3D%22M184%208a56%2056%200%201%201-56%2056%2056%2056%200%200%201%2056-56m0-8a64%2064%200%201%200%2064%2064%2064.06%2064.06%200%200%200-64-64zm24%2056h-16v-16h-16v16h-16v16h16v16h16v-16h16v-16z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    font-size: inherit;
    position: absolute;
    bottom: 0.25em;
    left: 50%;
    width: 30%;
    min-height: 4em;
    max-height: 4em;
    transform: translateX(-50%);
    text-align: center; }
  .mediaplayer[data-theme="autobild"] .media-errorscreen strong,
  .mediaplayer[data-theme="autobild"] .media-errorscreen small {
    display: block;
    line-height: 1.4;
    font-size: inherit; }
  .mediaplayer[data-theme="autobild"] .media-errorscreen .media-errorscreen-message {
    display: block;
    margin: auto;
    height: 70%;
    font-size: 14px;
    font-size: 1rem;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .no-flexbox .mediaplayer[data-theme="autobild"] .media-errorscreen .media-errorscreen-message {
      display: table; }
    .mediaplayer[data-theme="autobild"] .media-errorscreen .media-errorscreen-message p {
      height: 1px;
      position: relative;
      padding-left: 56px;
      max-width: 85%;
      margin: auto;
      display: block;
      line-height: 1.5; }
      .no-flexbox .mediaplayer[data-theme="autobild"] .media-errorscreen .media-errorscreen-message p {
        display: table-cell;
        vertical-align: middle; }
      .mediaplayer[data-theme="autobild"] .media-errorscreen .media-errorscreen-message p:before {
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 6px;
        content: "!";
        text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px;
        font-size: 21px;
        font-size: 1.5rem;
        border-radius: 50%;
        border: 2px solid white; }
      .no-flexbox .mediaplayer[data-theme="autobild"] .media-errorscreen .media-errorscreen-message p:before {
        top: auto; }
  .mediaplayer[data-theme="autobild"] .media-errorscreen .media-replay {
    position: static;
    text-indent: 0;
    white-space: nowrap;
    overflow: auto;
    display: none;
    width: auto;
    min-width: 60%;
    max-width: 80%;
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700; }
    .mediaplayer[data-theme="autobild"] .media-errorscreen .media-replay:before {
      float: none;
      display: inline-block;
      position: relative;
      top: 4px;
      width: auto;
      margin-right: 10px; }
    .mediaplayer[data-theme="autobild"] .media-errorscreen .media-replay:hover {
      color: #f00000; }
  .mediaplayer[data-theme="autobild"] .media-errorscreen.has-replay .media-replay {
    display: inline-block; }

.mediaplayer[data-theme="autobild"] [data-playersizes~="xs"] .media-errorscreen-message p {
  font-size: 12px;
  font-size: 0.8571428571rem; }

.mediaplayer[data-theme="autobild"] [data-playersizes~="xxs"] .media-errorscreen-message p {
  font-size: 10px;
  font-size: 0.7142857143rem;
  max-width: 90%; }

.mediaplayer[data-theme="autobild"].media-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 100000000; }
  .mediaplayer[data-theme="autobild"].media-fullscreen .state-playing.userinactive {
    cursor: none; }

.mediaplayer[data-theme="autobild"] {
  padding-bottom: 56.25%;
  width: 100%; }
  .mediaplayer[data-theme="autobild"] [data-provider="vpaid"] .media-display,
  .mediaplayer[data-theme="autobild"] .media-fullsize {
    z-index: 1002; }
  .mediaplayer[data-theme="autobild"] .inline-player {
    background-color: black; }
  .mediaplayer[data-theme="autobild"] .Adoverlay-player,
  .mediaplayer[data-theme="autobild"] .shared-player {
    background-color: transparent;
    z-index: 9999; }
  .mediaplayer[data-theme="autobild"] .mediaplayer-adoverlay-wrapper {
    position: absolute;
    z-index: 99;
    bottom: 60px;
    width: 100%; }
  .mediaplayer[data-theme="autobild"] .mediaplayer-adoverlay {
    margin: auto; }
  .mediaplayer[data-theme="autobild"] .mediaplayer-skipoverlayad {
    position: relative;
    left: -20px;
    top: -63px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border: 0; }
    .mediaplayer[data-theme="autobild"] .mediaplayer-skipoverlayad:before {
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: none;
      line-height: 17px;
      text-indent: 0;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-size: 14px;
      font-family: "vid-icons";
      content: "x";
      display: block;
      width: 20px;
      height: 20px;
      color: rgba(0, 0, 0, 0.8); }
    .mediaplayer[data-theme="autobild"] .mediaplayer-skipoverlayad:hover:before {
      background-color: rgba(0, 0, 0, 0.8);
      color: rgba(255, 255, 255, 0.8); }
  .mediaplayer[data-theme="autobild"].portrait .mediaplayer-adoverlay {
    width: 100% !important;
    height: auto !important;
    position: relative; }
    .mediaplayer[data-theme="autobild"].portrait .mediaplayer-adoverlay img {
      width: 100% !important;
      height: auto !important; }
    .mediaplayer[data-theme="autobild"].portrait .mediaplayer-adoverlay .mediaplayer-skipoverlayad {
      position: absolute;
      right: 0;
      left: auto;
      top: -20px; }

.mediaplayer[data-theme="autobild"] {
  z-index: 1;
  padding-bottom: 56.25%;
  width: 100%;
  color: #fff; }
  .mediaplayer[data-theme="autobild"] .media-poster button.media-play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    margin: auto;
    width: 100%;
    outline: 0;
    background: none; }
    .mediaplayer[data-theme="autobild"] .media-poster button.media-play:hover:before {
      background: none;
      border-color: #f00000;
      color: #f00000; }
    .mediaplayer[data-theme="autobild"] .media-poster button.media-play:before {
      margin: auto;
      border: 6px solid #fff;
      border-radius: 24px;
      line-height: 38px;
      color: #fff;
      text-indent: 5px; }
  .mediaplayer[data-theme="autobild"] [data-playersize="xs"] .media-poster button.media-play:before {
    border-width: 6px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 51px;
    font-size: 30px; }
  .mediaplayer[data-theme="autobild"] [data-playersize="s"] .media-poster button.media-play:before {
    border-width: 8px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    line-height: 68px;
    font-size: 40px; }
  .mediaplayer[data-theme="autobild"] [data-playersize="m"] .media-poster button.media-play:before {
    border-width: 10px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    line-height: 85px;
    font-size: 50px; }
  .mediaplayer[data-theme="autobild"] [data-playersize="xxl"] .media-poster button.media-play:before {
    border-width: 20px;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    line-height: 170px;
    font-size: 100px; }
  .mediaplayer[data-theme="autobild"] .state-waiting .media-poster button:before,
  .mediaplayer[data-theme="autobild"] .state-idle .media-poster button:hover:before {
    border-color: #f00000;
    content: "";
    color: #f00000; }
  .mediaplayer[data-theme="autobild"] .media-durationdisplay {
    padding-left: 5px; }

/* OVERRIDE CORE */
.mediaplayer[data-theme="autobild"].mediaplayer .media-controlbar-box > *,
.mediaplayer[data-theme="autobild"].mediaplayer .mediabutton-box,
.mediaplayer[data-theme="autobild"].mediaplayer .mediabutton-box > * {
  vertical-align: middle; }
