@charset "utf-8";
#Home                   { display: block; }

html, body  { height: 100%; text-align: center; }
.bgHome     { position:relative; height:90%; /*min-height:560px;*/ /*min-width:770px;*/
              background:#2d008c url('../images/landing/experiences_2.jpg') center center  no-repeat;
              background-size:cover; -webkit-background-size: cover; -moz-background-size: cover;/* background-attachment: fixed;*/ }
.bgWyylde   { position:relative; height:70%; /*min-height:460px; *//*max-height: 760px;*/ /*min-width:770px;*/
              background:#91354c url('../images/landing/wyylde_2.jpg') center center  no-repeat;
              background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; }
.bgDelivrer { position:relative; height:70%; /*min-height:460px; *//*max-height: 760px;*/ /*min-width:770px;*/
              background:#381b38 url('../images/landing/delivrer_2.jpg') center center  no-repeat;
              background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; }
.bgMag      { position:relative; height:70%; /*min-height:460px; *//*max-height: 760px;*/ /*min-width:770px;*/
              background:#c6c6c8 url('../images/landing/mag_2.jpg') center center  no-repeat;
              background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; }
.bgOscar    { position:relative; height:35%; /*min-height: 250px;*/ /*max-height: 349px;*/ /*min-width:770px;*/
              background:#754a80 url('../images/landing/oscar_2.jpg') center center  no-repeat;
              background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; }

.bgUnion    { background-image: url('../images/landing/background_union.jpg'); background-color: #000; }

.containerL { width: 100%; max-width: 1280px; padding:40px 20px; margin: 0 auto; }
.containerL h1          { font-size: 53px; line-height: 60px; }
.containerL p           { font-size: 23px; line-height: 30px; }

.btn--bigL   { display: inline-block; text-align: center; height: 50px; line-height: 48px; font-size:22px;
               text-transform: none; border-radius: 3px; }

select, input   { border:1px solid #CCC; padding:6px; border-radius:4px;  }

.bgHome .containerL     { color: #FFF; }
p.hello                 { font-size: 14px; margin-bottom: 6%; }
p.hello:after           { content: ""; display: block; height: 1px; background: #FFF; width:40px; margin: 15px auto 0 auto;  }
.bgHome .containerL h1  { margin: 6%; }

.bgWyylde .containerL   {  text-align: left; color: #FFF; }
.bgDelivrer .containerL {  text-align: right; color: #FFF; }
.bgMag .containerL      {  text-align: left; color: #eb3f28; }
.bgOscar .containerL    {  color: #FFF; padding: 20px; }
.bgOscar .containerL h1 { font-size: 40px; line-height: normal; }
.bgOscar .containerL p  { font-size: 17px; padding-right: 40px; }

.bgHome .btn--bigL      { background: #FFF; color: #31008c; width: 250px; font-weight: 600; letter-spacing: 1px; }
.bgWyylde .btn--bigL    { background: #FFF; color: #11354c; width: 210px; margin-top: 15px; }
.bgMag .btn--bigL       { background: #eb3f28; color: #FFF; width: 210px; margin-top: 15px; }

.logoUnion .become,
.logoWyylde .become  { display: block; line-height: 15px; font-family: 'Titillium_Light';
                      font-size: 13px; color:#FFF; position: absolute; bottom: 100%; }
.moreAboutWyylde    { position: absolute; top: 100%; line-height: 0px; right: 1px;  font-family: 'Titillium_Light';
                      color: #FFF; text-decoration: underline; font-size: 10px; }

.logoWyylde         { position: absolute; top: 40px; left: 35px; height:38px; width:143px; }
/*.logoUnion:before   { bottom: auto; top: -17px; left: 35px; content: attr(label);  }*/
.logoUnion          { position: absolute; top: 90px; left: 35px; height:77px; width:143px; color: #FFF; border-top: 1px solid rgba(255,255,255,.5); padding-top: 10px; }

/*--------------------------*/
/*          logon           */
/*--------------------------*/
.logonWyylde    { position: absolute; top: 35px; right: 35px;  }

/*.logon          { display:block; position:relative; width:100%; height:54px; margin-top:22px; padding:8px 0; line-height:38px;  overflow:visible; text-align:right; background:transparent url('../images/home/bg_header.gif') repeat;}*/
/*.logon--lab,*/
.logoff--title  { font-size:18px; font-family:'Titillium_Light',arial, 'Helvetica', sans-serif; color:#FFF; text-shadow:-1px -1px 0 #505050;}
/*.logon--lab     { margin-right:30px; text-transform:uppercase; }*/
.logon--inpt    { width:180px; }
.logon--txt     { color:#FFF;  }
.logon--txt, .logoff--btn,
.logon--inpt    { font-size:15px; }
.logon--btn     { border-color:#000; width:auto !important; color:#FFF; padding: 7px; font-size: 15px; }

.logoff--btn    { display: inline-block; padding:7px 15px; border-radius:3px; line-height:normal; color:#FFF; border:1px solid #830554 !important; }

#repcaptcha u,
.logon--lostP   { display:inline-block; margin:16px 125px 0 0; font-size:11px; text-decoration:none; line-height:normal; position:relative;
                  font-family:arial, 'Helvetica', sans-serif; color: #FFF;}
.logon--lostP:after { position:absolute; content:""; height:0; width:0; border-left:4px solid #FFF; border-top:4px solid transparent;
                  border-bottom:4px solid transparent; left:-8px; top:2px;  }
#repcaptcha u   { margin:0; }

#repcaptcha input{ width:auto !important; padding:0; border:none; border-radius:0; margin-top:10px; }

.loginError.error { top: 0; }



/*--------------------------*/
/*        footer            */
/*--------------------------*/
footer      { background:#1c1d1e url("../images/landing/bgFoot.jpg") no-repeat center center;
              background-size:cover; -webkit-background-size: cover; -moz-background-size: cover;
              position:relative; color:#8c8c8c; font-size:11px;}
footer .containerL p { font-size:16px;}

footer h3       { font-size: 20px; }
footer h3:after { content: ""; display: block; height: 2px; background: #8e8e8f; width:10px; margin: 10px 0;  }
.listLink       { color: #8e8e8f; line-height: 30px; }
.listLink:hover { color: #fff; }
.footLink   { display:block; padding:0 5px; font-family:arial, 'Helvetica', sans-serif !important; margin-bottom:0; }
footer.bgNoir, .bgNoir .footLink    { color:#8c8c8c; }

.choixLang,
.choixLang li       { display:inline-block; padding:1px; margin:0; position:relative; width:30px; line-height:23px; }
.choixLang:before   { content:""; position:absolute; width:0; height:0; top:13px; right:4px; border-top:4px solid #8C8C8C; border-left:4px solid transparent;  border-right:4px solid transparent; }

.choixLang li.menu  { position:absolute; left:0; bottom:27px; background:#505050; text-align:center; display:none; }
.choixLang:hover    { background:#505050; }
.choixLang:hover li.menu { display:block; }
.choixLang li.menu a{ color: #FFF;}
.choixLang li.menu a:hover { color: #505050;}
.choixLang li.menu a{ display:block; }
.footLink:hover     { background:#eaeaea; }

.charte { max-width: 600px; /*max-height: 430px; overflow-y: auto;*/ padding-right: 10px;}

.listLink { display: block;}

/*------------------------------*/
/*          responsive          */
/*------------------------------*/
@media screen and (max-width: 1024px) {
    .form--sub,
    .logon--lab,
    .logoff--title{ font-size:14px; }
    .btn--big   { font-size:17px; }
    .logon--lab { margin-right:15px; }
    .logon--inpt{ width:140px; font-size:13px; }

    .MB15   { margin-bottom:7px; }
    .subE1  { width:280px; }

    .txtCgu { font-size:10px; font-family:arial, 'Helvetica', sans-serif; }
    #repcaptcha u, .logon--lostP { margin-top:10px; margin-right:83px }
    .logon .lostP:after { left:-8px; }
    .loginError.error   { right:410px; }

    b.error { right:250px; top:4px }
    .bgForm b.error { position: static; white-space: normal; }
    .bgForm b.error:after { display: none; }
}

@media screen and (max-height: 600px) {
    .containerL h1          { font-size: 53px; line-height: 63px; }
    .containerL p           { font-size: 15px; }
    .logonWyylde{ top:20px; right: 20px;}
    .logoUnion  { top:70px; left: 20px; }
    .logoWyylde { top:20px; left: 20px;}
}
@media screen and (max-height: 500px) {
    .logon--lab { display: none; }
}

@media screen and (max-height: 400px) {
    .bgHome     { height: auto; }
    .bgWyylde   { height: auto; }
    .bgDelivrer { height: auto; }
    .bgMag      { height: auto; }
    .bgOscar    { height: auto; }
}

@media screen and (max-width: 900px) {
    .containerL h1  { font-size: 43px; line-height: 53px; }
    .containerL p   { font-size: 15px; }
    footer .dTCell  { display: block; float: left; width: 33%; }
    footer .dTable .dTCell:first-child  { width: 100%; margin-bottom: 10px; }
    footer .txtAR   { text-align: left; }
}


@media screen and (max-width: 800px) {
    .logonWyylde{ top:20px; right: 20px;}
    .logoWyylde { top:20px; left: 20px;}
    .logoUnion  { top:90px; left:20px;  }
    .logon--btn { padding: 5px;}
    .logon--inpt { font-size: 13px; width: 100px; }
    #repcaptcha u, .logon--lostP { margin-right: 34px; margin-top: 5px;}
}

@media screen and (max-width: 645px) {

    .containerL h1          { font-size: 23px; line-height: 33px; }
    .containerL p           { font-size: 13px; }

    .bgHome .containerL { padding-top: 0;}
    .logon--lab { display: none; }
    .logonWyylde{ position: static; float: left; width: 100%; margin: 15px 0;}
    .logoWyylde { position: relative; float: left;  left:0; top: auto; width: 100%; margin:0 0 40px 0;}
    .logoWyylde .become { position: relative; bottom: auto; left: auto; float: left; width: 100%; text-align: center; }
    .moreAboutWyylde,
    .logoWyylde:before { position: relative; display: block; top: auto; bottom: auto;}
    .logoUnion:before,
    .logoUnion  { position: relative; float: left;  top: auto; left: 0; width: 100%; margin-bottom: 5px;}

    footer .dTCell  { width: 100%; margin-bottom: 20px; }
    .containerL.h100{ height: auto; }
}