#scrollbar2
{
    width:100%;
    xmargin:2px auto 10px;
    position: relative;
}



#scrollbar2 .viewport
{
    height: 300px;
    overflow:hidden;
    position:relative;
    xbackground: #dedede;
}



#scrollbar2 .overview
{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    xpadding: 10px 20px;
}


#scrollbar2 .scrollbar
{
    background:transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0;
    position:absolute;
    background-position:0 0;
    right: -20px;
    top:0;
    width:15px;
}

#scrollbar2 .track
{
    background:transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
    height:100%;
    width:13px;
    position:relative;
    padding:0 1px;
}

#scrollbar2 .thumb
{
    background:transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
    height:20px;
    width:25px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:-5px;
}

#scrollbar2 .thumb .end
{
    background:transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
    overflow:hidden;
    height:5px;
    width:25px;
}

#scrollbar2 .disable
{
    display:none;
}

