@font-face {
    font-family: 'HelveticaNeueReg';
    src: url('fonts/HelveticaNeueW23forSKY-Reg.ttf'),
      url('fonts/HelveticaNeueW23forSKY-Reg.eot'),
       url('fonts/HelveticaNeueW23forSKY-Reg.woff'),  
     url('fonts/HelveticaNeueW23forSKY-Reg.svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('fonts/HelveticaNeueW23forSKY-Bd.ttf'),
      url('fonts/HelveticaNeueW23forSKY-Bd.eot'),
       url('fonts/HelveticaNeueW23forSKY-Bd.woff'),  
     url('fonts/HelveticaNeueW23forSKY-Bd.svg');
}