#sipc_datepicker{
    width:100%;
    max-width: 350px;
    font-family: "Roboto", sans-serif;
}


div#sipc_widget-calculator {
    padding: 15px;
}

#sipc_widget-calculator input, #sipc_datepicker input {
    font-family: "Roboto", sans-serif;
}

.datepicker *, .datepicker *:before, .datepicker *:after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.datepicker {
    width: 400px;
    max-width: 400px !important;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    overflow: hidden;
}

.datepicker table,.datepicker th, .datepicker td{
    border: 0;
    text-align: center;
}

.datepicker a {
    box-shadow: none !important;
}

.ui-datepicker-header:before{
    display: block;
    content: "";
    height: 250px;
    width: 400px;
    background-image: url(../img/The-enchanted-Pregnancy-web.jpg);
    background-size: 100%;
    margin-bottom: 30px;
    margin-left: -30px;
    margin-right: -30px;
}


.datepicker-header {
    height: 250px;
}
.datepicker .ui-datepicker-inline {
    padding: 30px;
}
.datepicker .ui-datepicker-header {
    text-align: center;
    padding-bottom: 1em;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next {
    display: inline;
    float: left;
    cursor: pointer;
    font-size: 1.4em;
    padding: 0 10px;
    margin-top: -10px;
    color: #CCC;
}
.datepicker .ui-datepicker-header .ui-datepicker-next {
    float: right;
}
.datepicker .ui-datepicker-calendar {
    padding: 0 30px;
    width: 100%;
    text-align: center;
}
.datepicker .ui-datepicker-calendar thead {
    color: #CCC;
}
.datepicker .ui-datepicker-calendar tr th, .datepicker .ui-datepicker-calendar tr td {
    padding-bottom: .5em;
}
.datepicker .ui-datepicker-calendar a {
    color: #444;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}

.datepicker .ui-datepicker-calendar .ui-state-highlight {
    border-color: #73d5a1;
    color: #73d5a1;
}

.material-card{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.sipc_card{
    max-width: 350px;
    width:100%;
    display: inline-block;
    margin-bottom: 15px;
}
.sipc_card-content {
    width:100%;
    background-color: transparent;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.sipc_card-content h4{
    text-transform: capitalize;
    font-size: 25px !important;
    line-height: 200% !important;
    margin: 0 !important;
}

.sipc_card-content p{
    font-size: 20px !important;
    line-height: 200% !important;
    margin: 0 !important;
}

.sipc_card-content h2{
    font-size: 25px !important;
    line-height: 200% !important;
    margin: 0 !important;
}

.sipc_card-footer{
    width:100%;
    background-color: #fafafa;
    display: inline-block;
    font-size: 16px !important;
    line-height: 200% !important;
    margin: 0 !important;
    padding: 20px 15px !important;
}

.datepicker i:before,.datepicker i:after{
    font-family: 'FontAwesome' !important;
}

@media all and (max-width: 400px) {
    .datepicker {
        width: 320px;
        max-width: 375px !important;
    }
}
