@media(max-width:520px) {
	.flex-slider_item .item-thumbnail img {
		height: 205px;
	}
	#content-wrapper .flex-wrapper {
		height: 205px;
	}
	
	.slide-post .tag-thumbnail {
		height: 145px;
	}
	.slide-post .tag-thumbnail img {
		height: 145px;
	}
}
@media(max-width:1000px) {
	span.datefix {display: none}
	body.archive .contentWrapItem .widget .widget-content .list-posts-items li .tag-thumbnail {
		width: 100%;
		margin-bottom: 10px;
	}
	.menuBtn {
		display: block;
		height: 30px;
		padding: 6px 1px;
		box-sizing: border-box;
	}
	.topNav  .menuBtn {
		margin-top: 5px;
		margin-bottom: 5px;		
	}
	.mainMenu  .menuBtn {
		margin-top: 10px;
		margin-bottom: 10px;	
	}
	.mainLogo  {
		float: inherit !important;
		text-align: center;
		padding-bottom: 15px;
	}
	.mainLogo img {
		margin: auto;
	}
	.container {width: 100%;}
	.flex-wrapper {    width: 100%; }
	header.header .middle {
		padding: 45px 0 15px 0;
	}
	header .ads {
    padding: 0 20px;}
	#main-wrapper.home {
		margin-right: 0;
		width: 100%;
	}
	#slidepost-wrapper1 {
		width: 49%;
		margin: 2% 0 1% 1%;
	}
	#slidepost-wrapper2 {
		margin: 2% 1% 1% 0;
		width: 49%;
	}
	#slidepost-wrapper3 {
		margin: 1% 0 1% 1%;
		width: 49%;
	}
	#slidepost-wrapper4 {
		margin: 1% 1% 1% 0;
		width: 49%;
	}
	#main-wrapper {
		width: 100%;
		float: right;
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
	}
	
	#sidebar-wrapper {
		width: 100%;
		float: inherit;
		margin-left: 12px;
		margin-right: 0;
	}	#sidebar-wrapper2 .flex-wrapper {		height: inherit;			}
	.list-posts-items .others-posts .list-posts-items li {
		width: 100%;
	}
	#tagpost-wrapper-main-2 .tag-ct2 {
		width: 100%;
	}
	#tagpost-wrapper-main-2 .others-posts {
		width: 100%;
	}
	#tagpost-wrapper-main-2 .others-posts li {
		width: 100%;
	}
	.tagpost-half {
		width: 100%;
	}
	#sidebar-wrapper2 {
		width: 100%;
	}
	#sidebar-wrapper2 .flex-wrapper {
		width: 100%;
	}
	#sidebar-wrapper2 .flex-slider_item .item-thumbnail img {
		width: 100%;
	}
	.two-tags li {
		width: 100%;
	}
	#carousel-wrapper-1 .flex-wrapper .list-posts-items li {
		width: 100%;
	}
	footer .footer-content .widget {
		width: 100% !important;
		float: right;
		padding: 0 20px;
		box-sizing: border-box;
		margin-bottom: 20px;
	}
	.thumb-side .tag-thumbnail {
		width: 90px;
	}
	.widget-top li.tabs {
		width: 100%;
	}
	.widget-top li.tabs a {
		padding: 0px 17px 0px;
		display: block;
	}
	.smGlobalBtn {
		float: left;
	}
	.social-clear {
		position: relative;
		margin-top: 10px;
		border: 1px solid #f0f0f0;
		padding: 6px;
		left: 0;
	}
	.ticker {
		overflow: hidden;
    padding-left: 0;
	}
	.navbar-wrap   ul.nav {
		display: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #565656;
	}	
	.navbar-wrap .nav li a {font-size: 15px;}
	.navbar-wrap .sub-menu li > a {
		background: none;
	}
	.navbar-wrap .sub-menu li > a:hover {
		background: none;
	}
	.navbar-wrap .sub-menu li {
		border-bottom: none;
	}
	.navbar-wrap .nav li {    float: inherit; }
	.navbar-wrap .sub-menu {
		display: block;
		position: relative;
		font-size: 12px;
		width: inherit;
	}
	.navbar-wrap .sub-menu li > a {
		text-align: right;
	}
	.navbar-wrap .nav li > a {
		text-align: right;
	}
	.mainMenu, .topNav {
		width: 100%
	}
	.navbar-wrap .nav > li > a:after {display: none}
	#date_wrapper{
		position: absolute;
		left: 0;
		padding: 5px 10px;
    top: 3px;
	}
	.navbar-wrap .sub-menu li > a {
		padding-right: 30px;
	}
	header.header .bottom { position: relative; }
	.search-wrap {		
		position: absolute;
		left: 0;
	}
	.related_posts li {    width: 100%;}
	
	li.comment  ol.children  {
		padding-left: 0;	
	}
}