@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
/*@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css); */
body {
    font-family: 'Droid Arabic Naskh',  'HelveticaNeueReg', 'Droid Arabic Kufi', tahoma, serif;
	text-align: right;
	direction: rtl;    color: #2e2e2e;
    background: #f0f0f0 none no-repeat scroll center center;
}
a {
	text-decoration: none;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
    color: #8E2750;
}
a:hover {text-decoration: none;}
img, iframe{    max-width: 100%;     display: block; height: inherit}
.hidden-s {display: none; opacity: 0 ; visibility: hidden;}
.pull-right {float: right}
.pull-left {float: left}
.clearfix:after {
	content:"";
	clear: both;
	display: block;
}
.container {
	width: 1000px;
	margin: auto;
}
header.header .top{
    background-color: #494949;
}
header.header .bottom {
    background-color: #8e2750;	
}
header.header .middle {
    background-color: #fff;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}
header .mainLogo  img {
    width: 230px;
}
.mask  {
    position: absolute;
    z-index: 1;
    height: 100%;
	width: 100%;
	display: block;
	background: url("img/masq.png") no-repeat center center;
}
.navbar-wrap  .nav li {
	float: right;
	position: relative;
}
.navbar-wrap .current-menu-item {
	
}
.navbar-wrap .nav li a {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.topNav .navbar-wrap .nav li a {
    font-family: 'HelveticaNeueReg', 'Droid Arabic Kufi', serif;
    font-size: 14px;
    padding: 5px 10px;
}
.navbar-wrap .nav li > a {
	line-height: 28px;
	position: relative;
}
.navbar-wrap .nav > li:hover >  a{
	background: #2e2e2e;
}
.navbar-wrap .sub-menu {
	list-style: none;
	display: none;
	position: absolute;
	z-index: 999999;
	font-size: 12px;
	width: 190px;
	right: 0;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
}
.navbar-wrap .sub-menu li {
	float: none;
	width: 100%;
	display: block;
}
.navbar-wrap .sub-menu li > a {
    display: block;
    text-align: center;
    text-align: right;
    line-height: 20px;
    color: #fff;
    padding-left: 30px;
    font-size: 14px;
    border-bottom: 1px solid #313131;
}

.navbar-wrap .nav li:hover > .sub-menu { 
    display: block;
}
.navbar-wrap .sub-menu li:hover a {    background: #222;}



#date_wrapper {
	font-family: 'HelveticaNeueReg', 'Droid Arabic Kufi', serif;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    padding: 5px 10px;
}
#searchform {
    margin: 7px 0 0 7px;
}
#searchform input[type="text"] {
	font-family: 'HelveticaNeueReg', 'Droid Arabic Kufi', serif;
    background: #fff;
    border: none;
    float: right;
    padding: 0px 10px 0px 15px;
    margin: 0px;
    width: 100px;
    height: 34px;
    line-height: 34px;
    transition: all 600ms cubic-bezier(0.215,0.61,0.355,1) 0s;
    -moz-transition: all 300ms cubic-bezier(0.215,0.61,0.355,1) 0s;
    -webkit-transition: all 600ms cubic-bezier(0.215,0.61,0.355,1) 0s;
    -o-transition: all 600ms cubic-bezier(0.215,0.61,0.355,1) 0s;
    color: #888;
}
#searchform input[type=submit] {
    background: url(img/search.png) center 7px no-repeat;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 34px;
    height: 34px;
    line-height: 34px;
    background-color: #820034;
    border: none;
}

#content-wrapper {
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
}
#news-wrapper {
    position: relative;
    padding: 0px 0px 20px 0px!important;
    overflow: hidden;
    background: #fff;
}
.tickhead {
    background: #494949 url() no-repeat right center;
    position: absolute;
    line-height: 40px!important;
    height: 40px;
    width: auto;
    padding: 0 15px 0 15px;
    text-align: center;
    color: #fff;
	font-family: 'HelveticaNeueReg', 'Droid Arabic Kufi', serif;
    font-size: 15px;
    text-transform: uppercase;
    z-index: 1;
    top: 0;
    right: 0;
}
.ticker {
    padding-right: 110px;
    height: 40px!important;
    line-height: 40px!important;
    background: #fbfbfb;
    border: 1px solid #f0f0f0;
    padding-top: 4px;
    box-sizing: border-box;
    padding-left: 265px;
    overflow: hidden;
}
.ticker li .tag-thumbnail, .ticker li .tag-thumbnail img {
    float: right;
    overflow: hidden;
    width: 35px;
    height: 30px;
    margin-left: 10px;
    z-index: 1;
}
.ticker ul li h3 {
    margin: 0;
    padding: 0;
    line-height: 16px;
}
.ticker ul li a {
	color:#383838;
	font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    font-size: 14px;
	text-decoration:none;
	text-transform:uppercase;
}
.caroufredsel_wrapper .flex-control-paging  {display: none;}
.caroufredsel_wrapper .flex-direction-nav {display: none;}
.caroufredsel_wrapper .post-meta {
    margin-bottom: 2px;
}
.post-meta {
    color: #999;
    font-size: 12px;
    float: right;
    height: 15px;
    line-height: 15px;
    margin-top: 2px;
}
span.datefix {
    float: right;
    margin-left: 5px;
}
span.comt {
    margin-right: 5px;
}
span.comt a {
    color: #8e2750;
}
.social-clear {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 5;
}
.smGlobalBtn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin: 0px 2px 0px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: FontAwesome;
    font-weight: normal;
    line-height: 1.7em;
}
/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}
.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    color: #fff;
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #222;
}
/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      color: #fff;
      content: "\f099"; /* add twitter icon */
      
}
.twitterBtn:hover{
      color: #00ABE3;
      background: #222;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      color: #fff;
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #222;
}
/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}
.linkedinBtn:before{
      font-family: "FontAwesome";
      color: #fff;
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #222;
}
/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}
.pinterestBtn:before{
      font-family: "FontAwesome";
      color: #fff;
      content: "\f0d2"; /* add pinterest icon */
}
.pinterestBtn:hover{
      color: #cb2027;
      background: #222;
}
/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}
.tumblrBtn:before{
      font-family: "FontAwesome";
      color: #fff;
      content: "\f173"; /* add tumblr icon */
}
.tumblrBtn:hover{
      color: #3a5876;
      background: #222;
}

/* rss button class*/
.rssBtn{
    background: #ff9900;
}
.rssBtn:before{
      font-family: "FontAwesome";
      color: #fff;
      content: "\f09e"; /* add rss icon */
}
.rssBtn:hover{
      color: #ff9900;
      background: #222;
}

.flex-wrapper {
    width: 505px;
    float: right;
    position: relative;
    overflow: hidden;
    padding: 0  0 0 12px!important;
    height: 360px;
}
#slides-posts-groups .section .title {
    color: #fff;
	font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 8px;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 2;
}
#slides-posts-groups .section .title a {
	color: #fff;
}
.flex-wrapper {
	direction:  ltr;
}
.flex-wrapper .title {
	background: #B50000;
}

.flex-slider_item .item-thumbnail img {
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.flex-slider_item  {	
    position: relative;
}
.flex-slider_item .slider_caption {
    text-align: right;
    color: #f4f4f4;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px 15px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
    background: -moz-linear-gradient(top, rgba(242, 64, 36, 0) 0%,rgba(242, 64, 36, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242, 64, 36, 0)), color-stop(100%,#F24024));
    background: -webkit-linear-gradient(top, rgba(242, 64, 36, 0) 0%,#F24024 100%);
    background: -o-linear-gradient(top, rgba(242, 64, 36, 0) 0%,rgba(242, 64, 36, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 64, 36, 0) 0%,rgba(242, 64, 36, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 64, 36, 0) 0%,#F24024 100%);
    text-shadow: 0px 1px 1px #666;
	direction: rtl;
}
.flex-slider_item .slider_caption h3 {
    position: relative;
    margin-bottom: 10px!important;
}
.tag-thumbnail img,
.slide-post .tag-thumbnail img,
.flex-slider_item .item-thumbnail img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;
}
.tag-thumbnail img:hover,
.slide-post .tag-thumbnail img:hover,
.flex-slider_item .item-thumbnail img:hover {
    opacity: .8;
    -webkit-transform: scale(1.1) rotate(-2deg);
    -moz-transform: scale(1.1) rotate(-2deg);
    -ms-transform: scale(1.1) rotate(-2deg);
    transform: scale(1.1) rotate(-2deg);
}
.flex-slider_item .slider_caption h3  a{
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #fff;
    font-size: 18px;
}
.tag-thumbnail .img {
    overflow: hidden;
    border: 1px solid #F9F9F9;
}
.flex-control-nav.flex-control-paging {
    position: absolute;
    top: 15px;
    z-index: 2;
    left: 30px;
    width: inherit;
}
.flex-control-nav.flex-control-paging li {
    display: inline-block;
    margin: 0;
}
.flex-control-nav.flex-control-paging a {
    display: inline-block;
    text-indent: -9999px;
    width: 12px;
    height: 6px;
    background-color: #FFF;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 0;
}
.flex-control-nav.flex-control-paging a.flex-active {
    background-color: #f24024;
}

.flex-wrapper:hover .flex-direction-nav .flex-prev {
    opacity: 0.9;
    left: 30px;
}
.flex-wrapper .flex-direction-nav .flex-prev {
    top: 50%;
    left: -30px;
    z-index: 99;
}
.flex-wrapper:hover .flex-direction-nav .flex-next {
    opacity: 0.9;
    right: 30px;
}
.flex-wrapper .flex-direction-nav .flex-next {
    top: 50%;
    right: -30px;
    z-index: 99;
}
.flex-wrapper .flex-direction-nav a {
    z-index: 10;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 0;
    opacity: 0;	
    background: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 0;
}
.flex-direction-nav a:before {
    font-size: 20px;
    line-height: 30px;
}
#sidebar-wrapper2 .flex-wrapper  {
	
}
#slidepost-wrapper1 {
    width: 215px;
    float: right;
    height: auto;
    position: relative;
    margin: 0 0 12px 12px;
}
#slidepost-wrapper2 {
    width: 215px;
    float: right;
    height: auto;
    position: relative;
    margin: 0 0 12px 0;
}
#slidepost-wrapper3 {
    width: 215px;
    float: right;
    height: auto;
    position: relative;
    margin: 0 0 12px 12px;
}
#slidepost-wrapper4 {
    width: 215px;
    float: right;
    height: auto;
    position: relative;
}

#slidepost-wrapper1 h2 ,
#slidepost-wrapper2 h2 ,
#slidepost-wrapper3 h2 ,
#slidepost-wrapper4 h2 {
    background: #23b9ef;
}

#slidepost-wrapper2 h2.title {
    background: #82d642;
	
}
#slidepost-wrapper2 .slide-post .caption {
	background: -moz-linear-gradient(top, rgba(130, 214, 66, 0) 0%, rgba(130, 214, 66, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82D642), color-stop(100%,#82D642));
    background: -webkit-linear-gradient(top, rgba(130, 214, 66, 0) 0%,#82D642 100%);
    background: -o-linear-gradient(top, rgba(130, 214, 66, 0) 0%,rgba(130, 214, 66, 1) 100%);
    background: -ms-linear-gradient(top, rgba(130, 214, 66, 0) 0%,rgba(130, 214, 66, 1) 100%);
    background: linear-gradient(to bottom, rgba(130, 214, 66, 0) 0%,#82D642 100%);
}

#slidepost-wrapper3 h2.title {
    background: #FFA318;
	
}
#slidepost-wrapper3 .slide-post .caption {  
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 163, 24, 0)), color-stop(100%,#FFA318));
    background: -webkit-linear-gradient(top, rgba(255, 163, 24, 0) 0%,#FFA318 100%);
    background: -o-linear-gradient(top, rgba(255, 163, 24, 0) 0%,rgba(255, 163, 24, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 163, 24, 0) 0%,rgba(255, 163, 24, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 163, 24, 0) 0%,#FFA318 100%);
}

#slidepost-wrapper4 h2.title {
    background: #D23184;
	
}
#slidepost-wrapper4 .slide-post .caption {  
    background: -moz-linear-gradient(top, rgba(210, 49, 132, 0) 0%, rgba(210, 49, 132, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210, 49, 132, 0)), color-stop(100%,#D23184));
    background: -webkit-linear-gradient(top, rgba(210, 49, 132, 0) 0%,#D23184 100%);
    background: -o-linear-gradient(top, rgba(210, 49, 132, 0) 0%,rgba(210, 49, 132, 1) 100%);
    background: -ms-linear-gradient(top, rgba(210, 49, 132, 0) 0%,rgba(210, 49, 132, 1) 100%);
    background: linear-gradient(to bottom, rgba(210, 49, 132, 0) 0%,#D23184 100%);
}
.slide-post .tag-thumbnail {
    float: left;
    height: 174px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    border: 0 solid #f0f0f0;
    padding: 0;
}
.slide-post .tag-thumbnail img {
    height: 174px;
    width: 100%;
    z-index: 1;
    border: 0 solid #f0f0f0;
    padding: 0;
}
.slide-post .caption {
    text-align: right;
    color: #f5f5f5;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(35, 185, 239, 0) 0%, rgba(35, 185, 239, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35, 185, 239, 0)), color-stop(100%,#23B9EF));
    background: -webkit-linear-gradient(top, rgba(35, 185, 239, 0) 0%,#23B9EF 100%);
    background: -o-linear-gradient(top, rgba(35, 185, 239, 0) 0%,rgba(35, 185, 239, 1) 100%);
    background: -ms-linear-gradient(top, rgba(35, 185, 239, 0) 0%,rgba(35, 185, 239, 1) 100%);
    background: linear-gradient(to bottom, rgba(35, 185, 239, 0) 0%,#23B9EF 100%);
    text-shadow: 0px 1px 1px #666;
    width: 100%;
    height: auto;
    padding: 10px 10px 5px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 1;
}
.slide-post .caption  h3  {
    position: relative;
    margin-bottom: 10px!important;
}

.slide-post .caption  h3  a{
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #fff;
    font-size: 16px;
}


#main-wrapper.home {
    margin-right: 198px;
    width: 450px;
	
}
#main-wrapper {
    width: 645px;
    float: right;
    overflow: hidden;
    margin-left: 12px;
    margin-right: 0;
}
#main-wrapper > div  {
	margin-bottom: 20px;
}
#sidebar-wrapper {
    width: 185px;
    float: right;
    margin-left: 12px;
    margin-right: -660px;
}

#sidebar-wrapper2 {
    width: 300px;
    float: right;
	
}
#tagpost-wrapper-1 {
	margin-bottom: 20px;
}
#tagpost-wrapper-1  h2.title {
	background: #23b9ef;
}
#tagpost-wrapper-1  .widget .widget-content {
    border-bottom: 4px solid #23b9ef;
}

#tagpost-wrapper-2 {
	margin-bottom: 20px;
}
#tagpost-wrapper-2  h2.title {
	background: red;
}
#tagpost-wrapper-2  .widget .widget-content {
    border-bottom: 4px solid red;
}

#tagpost-wrapper-3 {
	margin-bottom: 20px;
}
#tagpost-wrapper-3  h2.title {
	background: green;
}
#tagpost-wrapper-3  .widget .widget-content {
    border-bottom: 4px solid green;
}
#sidebar-wrapper .widget .widget-content {
    background: #e4e4e4;
}
.recipes-cat-list .tabs-wrap  ul li a {
    color: #ffffff;
    margin: 0;
    background: #ff6d18;
    padding: 5px;
    border-top: 1px solid #f9f9f9;
}
.recipes-cat-list .tabs-wrap  ul li a:hover {
    background: #de5302;
}
.recipes-cat-list { 
   margin: 0 0 10px 0;
}

.more-posts {
    color: #fff;
    padding: 5px 10px;
    display: inherit;
    float: left;
    font-size: 14px;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;	
    background: #3a3a3a;
}
.widget h2.title {
    color: #fff;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 8px 5px 30px;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.widget h2.title a {
    color: #fff;	
}
.widget h2.title i {
    background: #3A3A3A;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
}
.widget .widget-content {
	background: #fff;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    list-style: none;
    padding: 12px;
    border: 1px solid #f0f0f0;
    margin: 0;
}
.widget .widget-content .details-post {
    padding: 5px;
}
.widget .widget-content .list-posts-items  li h3 a {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #000;
    font-size: 14px;
    margin: 5px 0;
    display: block;
    line-height: 18px;
}
.widget .widget-content .list-posts-items .details-post h3 a {
    color: #8e2750;
    font-size: 16px;
}
.widget .widget-content .list-posts-items  li {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
}
.widget .widget-content .list-posts-items  li .post-meta{
    display: inline-block;
	float: inherit;
    color: #8e2750;
    height: inherit;
}
.widget .widget-content .list-posts-items  li .post-meta > span {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    float: right;
    margin-left: 10px;
}
.widget .widget-content .list-posts-items  li .post-meta > span i {
    margin-left: 3px;
}
.widget .widget-content .list-posts-items li p {
    font-family: 'HelveticaNeueReg', 'Droid Arabic Kufi', serif;
    font-size: 14px;
    margin-top: 5px;
    line-height: 16px;
}
.widget .widget-content .list-posts-items li .tag-thumbnail {
    position: relative;
}
.widget .widget-content .list-posts-items li .overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(52, 152, 219, 0.5);
    overflow: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
}
.widget .widget-content .list-posts-items li:hover .overlay {
    width: 100%;
}
.widget .widget-content .list-posts-items li .overlay  a.expand {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #fff;
    font-size: 23px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
	top: 50%;
    margin-top: -22px;
    right: 50%;
    margin-right: -22px;
    line-height: 50px;
}
.widget .widget-content .list-posts-items li .overlay  a.expand i {
}
.widget .widget-content .list-posts-items  .inner-content:after {
	content:"";
	clear: both;
	display: block;
}
#tagpost-wrapper-main-1 .widget .widget-content .list-posts-items  li h3 a {
    font-size: 15px;
    padding: 5.2px 0;
}
#tagpost-wrapper-main-1 h2.title,
#tagpost-wrapper-main-1 a.more {
    background: #23b9ef;
}
#tagpost-wrapper-main-1 .widget .widget-content {
    border-bottom: 4px solid #23b9ef;
	margin-bottom: 20px;
}

#tagpost-wrapper-main-2 h2.title,
#tagpost-wrapper-main-2 a.more {
    background: red;
}
#tagpost-wrapper-main-2 .widget .widget-content {
    border-bottom: 4px solid red;
}

#tagpost-wrapper-main-3 h2.title,
#tagpost-wrapper-main-3 a.more {
    background: green;
}
#tagpost-wrapper-main-3 .widget .widget-content {
    border-bottom: 4px solid green;
}

#tagpost-wrapper-main-4 h2.title,
#tagpost-wrapper-main-4 a.more {
    background: #FFA318;
}
#tagpost-wrapper-main-4 .widget .widget-content {
    border-bottom: 4px solid #FFA318;
}

/*
#tagpost-wrapper-main-2 .tag-ct2 {
    width: 240px;
    float: right;	
}
#tagpost-wrapper-main-2 .others-posts {
    width: 170px;
    float: right;
    margin-right: 12px;
}
#tagpost-wrapper-main-2 .others-posts li{
    width: 155px;
    float: right;
}
#tagpost-wrapper-main-2 .others-posts li p,
#tagpost-wrapper-main-2 .others-posts li a.more{
	display: none;
}
*/


a.more {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
	float: left;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 7px 6px 6px 6px;
    margin: 10px 0 14px;
    text-transform: capitalize;
	background: #8e2750;
}
a.more:hover,	
.more-posts:hover {	
	background: #2d2d2d !important;
}
.list-posts-items .others-posts .list-posts-items li {
	width: 205px;
	float: right;
}
.list-posts-items .others-posts .list-posts-items li:nth-child(odd) {
    padding-left: 13px;
}

.tagpost-half {
    width: 217px;
    float: right;
}
.tagpost-half:nth-child(odd) {
    padding-right: 13px;
}
.thumb-side .tag-thumbnail {
    width: 60px;
    height: 90px;
    float: right;
    margin-left: 5px;
}
.thumb-side .tag-thumbnail .effects  ,
.thumb-side .tag-thumbnail .img,
.thumb-side .tag-thumbnail img {
	height: 100%;
}
#tagpost-wrapper-main-3 p, #tagpost-wrapper-main-4 p ,
#tagpost-wrapper-main-3  a.more, #tagpost-wrapper-main-4 a.more {
	display: none;
}

#sidebar-wrapper2 .flex-control-nav {
	display: none;
}
#sidebar-wrapper2 .flex-wrapper {
    width: 300px;
    height: 240px;
}
#sidebar-wrapper2 .flex-slider_item .item-thumbnail img {
    height: 100%;
    width: 300px;
}

#tagpost-wrapper-sidebar-1 h2.title {
    background: #505050;
}
#tagpost-wrapper-sidebar-1 .widget .widget-content {
    border-bottom: 4px solid #505050;
    margin-bottom: 20px;
}

#tagpost-wrapper-sidebar-2 h2.title {
    background: #5A9006;
}
#tagpost-wrapper-sidebar-2 .widget .widget-content {
    border-bottom: 4px solid #5A9006;
    margin-bottom: 20px;
}

#tagpost-wrapper-sidebar-2 a.more {
    background: #5A9006;
}

#tagpost-wrapper-sidebar-3 h2.title {
    background: #FFA318;
}
#tagpost-wrapper-sidebar-3 .widget .widget-content {
    border-bottom: 4px solid #FFA318;
    margin-bottom: 20px;
}


#sidebar-wrapper2 .thumb-side .tag-thumbnail {
    width: 90px;
}
#tab_fix_1 {
    border-bottom: 4px solid #8E2750;
    margin-bottom: 20px;	
}



.widget-top li.tabs {
    float: right;
    line-height: 40px;
}
.widget-top li.tabs a {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #fff;
    background: #3A3A3A;
    padding: 10px 17px 7px;
    border-bottom: 3px solid #8E2750;
}
.widget-top li.tabs.active a {    background: #8E2750; }

.tabs-wrap ul li a {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #3A3A3A;
    font-size: 14px;
    margin: 5px 0;
    display: block;
    line-height: 18px;
}
.tabs-wrap ul li a:before {
    content: "\f0d9";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin: 0 10px 0 6px;
}

.tabs-wrap  li.categories {
	font-size: 0;
	margin-top: 20px;
}
.tabs-wrap .tags {
	padding-top: 20px;
}
.tags a {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
	float: right;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px!important;
    margin-left: 20px!important;
    background: #8E2750;
    color: #fff!important;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 10px 0 12px !important;
}
.tags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: rgba(0, 0, 0, 0) #8E2750 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 12px 12px 12px 0;
}
.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #999;
    -webkit-box-shadow: -1px -1px 2px #999;
    box-shadow: -1px -1px 2px #999;
}
article .tags {
    border-top: 1px solid #F5F5F5;
    margin-top: 20px;
    padding-top: 10px;
}
article .tags  h5 {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #000;
    padding-bottom: 5px;
}
.two-tags li {
    width: 130px;
    float: right;
}
.two-tags li:nth-child(odd) {
    margin-left: 12px;	
}
.meta-recipes {
    background: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #efefef;
    font-size: 14px;
}
.meta-recipes .meta-title-recipes {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #8e2750;
}
.meta-recipes .meta-content-recipes {
	
}
.title-receipt {
    font-size: 22px !important;
    color: #8e2750;
}
.wpcontent .ingredients {
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #f7f7f7;
    margin-bottom: 10px;
}
.wpcontent .prepare {
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #f7f7f7;
}
#comments {
    border-top: 1px solid #F5F5F5;
    margin-top: 20px;
    padding-top: 10px;
}
#comments h3 {
font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #000;
    padding: 5px 0;	
}
#comments p {
	
}
#comments a {
    color: #8E2750;
}
#comments input[type="text"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #B9B9B9;	
}
#comments input[type="submit"] {
    background: #8E2750;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #fff;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
	margin-top: 10px;
}
#comments textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #B9B9B9;
    font-family: inherit;
}
#comments label {
	margin: 10px 0;
    display: block;
}
#carousel-wrapper-1 h2.title {
	background: #23b9ef;
}
#carousel-wrapper-1  .widget .widget-content {
    border-bottom: 4px solid #23b9ef;
}
#carousel-wrapper-1 .tag-thumbnail img {
    height: 125px;	
}

#carousel-wrapper-1 .flex-wrapper {	
    width: 100%;
    height: inherit;
}
#carousel-wrapper-1 .flex-wrapper .list-posts-items li {
    /*width: 25%;
    padding: 1%;*/
    float: right;
    box-sizing: border-box;
    border-bottom: 0;
}
#carousel-wrapper-1 .flex-control-paging {
	display: none;
}


#carousel-wrapper-1 .flex-wrapper:hover .flex-direction-nav .flex-next {    
    margin-top: -50px;
    right: 0;
}
#carousel-wrapper-1 .flex-wrapper:hover .flex-direction-nav .flex-prev {    
    margin-top: -50px;
    left: 0;
}

#carousel-wrapper-1 .flex-wrapper .flex-direction-nav .flex-next {  
    right: -30px;  
    margin-top: -50px;
}
#carousel-wrapper-1 .flex-wrapper .flex-direction-nav .flex-prev {    
    left:  -30px;  
    margin-top: -50px;
}

#carousel-wrapper-1 .flex-wrapper .flex-direction-nav a {
    background: #3A3A3A;
    font-size: 0;
    border-radius: 0;
}
#carousel-wrapper-1 .flex-wrapper .flex-direction-nav a:before {
    color: #FFF;
    text-shadow: none;
}
#carousel-wrapper-1 .flex-wrapper {	
    padding: 0 !important;
}
body.archive .contentWrapItem .widget .widget-content .list-posts-items li .tag-thumbnail,
body.search-results .contentWrapItem .widget .widget-content .list-posts-items li .tag-thumbnail {
    position: relative;
    float: right;
    width: 210px;
    margin-left: 20px;
}
body.archive .contentWrapItem .widget .widget-content .list-posts-items  li h3 a , 
body.search-results .contentWrapItem .widget .widget-content .list-posts-items  li h3 a {  
	color: #313131;
    font-size: 16px;
}
.contentWrapItem {
    border: 1px solid #f0f0f0;
    padding: 12px;
}
h1.entry-title {
    color: #383838;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
}
.contentWrapItem article .post-thumbnail img {
    height: inherit;
    margin-bottom: 20px;
}
.contentWrapItem article  p {
    font-size: 15px;
    line-height: 23px; 
}

.post-meta-details {
    color: #5a5a5a;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.post-meta-details span {
    display: inline-block;
}
.post-meta-details span i {
    color: #999999;
    font-size: 12px;
    margin-left: 5px;
}
.list-tags a {
    background: #8E2750;
    color: #fff;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    font-size: 15px;
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.list-tags a:hover {
    background: #3A3A3A;	
}
.related_posts  {
	margin-top: 20px;
}
.related_posts  .widget h2.title {
    background: #8E2750;	
}
.related_posts li {
    width: 130px;
    float: right;
    margin-left: 4px;
}
.related_posts li:last-child {  
  margin-left: 0;
}

.related_posts  li .post-meta,
.related_posts  li p,
.related_posts  li a.more{
	display: none !important;	
}
#breadcrumbs {
    background: #F7F7F7;
    border: 1px solid #f0f0f0;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    line-height: 24px;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    padding: 5px 10px;
    box-sizing: content-box;
}
#breadcrumbs  a{
    color: #383838;
}
a.back-to-home {
    background-color: #8e2750!important;
    color: #FFF;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;	
}
.wp-pagenavi {
    margin-top: 20px;
}
.wp-pagenavi:after {
    content: "";
    clear: both;
    display: block;
}
.wp-pagenavi span.pages {
	display: none;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #8e2750;
    background-color: #8e2750!important;
    border: 1px solid #8e2750!important;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: normal!important;
}
.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #8e2750!important;
    padding: 3px 5px;
    margin: 2px;
    float: right;
    font-size: 12px;
    color: #8e2750;
}
footer .footer-content {
    background: #EAEAEA;
    border-top: 3px solid #8E2750;
    padding: 20px 0;
}
footer .footer-content .widget {
    width: 330px;
    float: right;
    padding: 0 20px;
    box-sizing: border-box;
}
footer .footer-content .widget.links-w {
    width: 220px;
} 
footer .footer-content .widget p {
    position: relative;
    line-height: 20px;
    font-size: 14px;
    padding-left: 60px;
    padding-top: 15px;
}
footer .footer-content .widget p:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 5px;
    background: #8e2750;
}
footer .footer-content .widget p:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 1px;
    background: #8e2750;
}
footer .footer-content .widget h4.title {
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    padding-bottom: 5px;
    border-bottom: 4px solid #DEDEDE;
    margin-bottom: 20px;
    color: #8E2750;
}
footer .footer-content .widget ul li a  {
	 font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    color: #3A3A3A;
    font-size: 14px;
    margin: 5px 0;
    display: block;
    line-height: 18px;
}
footer .footer-content .widget ul li a:hover {
    color: #8e2750;
}
footer .footer-content .widget ul li a:before {
    content: "\f0d9";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    margin: 0 10px 0 6px;
}
footer .copyright {
    background: #8E2750;
    color: #fff;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    padding: 20px;
    font-size: 14px;
    text-align: left;
}
footer .widget li.categories {font-size: 0}

.menuBtn {display: none;}
.menuBtn .bars {
    display: block;
    height: 3px;
    width: 25px;
    margin: 3px 4px;
    background: #fff;
}
.comment-author.vcard {
    float: left;
    font-size: 0;
    margin-right: 10px;
}
.comment-author.vcard img {
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #ECECEC;
}
.comment-list li.comment {
    margin-bottom: 5px;
    padding: 20px 0;
    border-bottom: 1px solid #ECECEC;
}
.comment-list li.comment:after  {
		content:"";
		clear: botg;
		display: block;
}
#comments a.comment-reply-link {
    background: #8E2750;
    color: #fff;
    padding: 0 10px;	
}
.comment-body {
    padding: 20px 0;
}
li.comment  ol.children  {
    padding-left: 55px;	
}

body.single .flex-wrapper {	
    width: 100%;
    margin-bottom: 20px;
}
body.single .content-post .flex-control-nav.flex-control-paging {	
   display: none;
}
body.single  .content-post .flex-wrapper .flex-direction-nav .flex-next {
    right: 3px;
    opacity: 1;
}
body.single  .content-post .flex-wrapper .flex-direction-nav .flex-prev {
    left: 15px;
    opacity: 1;
}
body.single  .content-post .flex-wrapper img {
	margin: auto;
}
body.single .content-post .flex-wrapper .slides li p {
    margin-top: -33px;
    text-align: center;
    background: #8e2750;
    color: #ffffff;
    z-index: 99999;
    position: relative;
    padding: 5px;
}
body.single  .content-post .widget-content{
    border: 1px solid #f3f3f3;
}

body.single .flex-wrapper  .flex-slider_item .item-thumbnail img {	
    height: 250px;
}
body.single .content-post .post-meta-head {
    height: inherit;
    color: #8d274f;
    font-size: 14px;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
}
body.single .content-post .post-meta-head span {
    display: inline-block;
    margin-left: 5px;	
}
body.single .content-post .post-meta-head span i {
    color: #8d274f;
    font-size: 12px;
    margin-left: 3px;
}

.content-post  .wpcontent b,
.content-post  .wpcontent strong {font-weight: bold}

.content-post .wpcontent  i,
.content-post .wpcontent  em  {
    font-style: italic;}

.content-post .wpcontent  a  {  
	color: #8e2750;
    font-weight: bold;
    border-bottom: 1px solid #8e2750;
}
.content-post .wpcontent  a:hover {
	color: #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}
.content-post .wpcontent img  {  
    margin: 10px auto;
}

.content-post .wpcontent  h1 {
	font-size: 24px;
	color: red;
	text-decoration: line-through;
}
.content-post  .wpcontent h2 {  
  font-size: 24px;
  color: red;
  text-decoration: line-through;
}

.content-post .wpcontent  h3 {
    font-size: 26px;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    padding: 10px 0;
}
.content-post  .wpcontent h4 {  
  font-size: 24px;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    padding: 10px 0;
}
.content-post  .wpcontent h5 {   
 font-size: 22px;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    padding: 10px 0;
}
.content-post  .wpcontent h6 {  
  font-size: 20px;
    font-family: 'HelveticaNeueBold', 'Droid Arabic Kufi', serif;
    padding: 10px 0;
}


.content-post .wpcontent  ul li {
    position: relative;
    line-height: 25px;
}
.content-post  .wpcontent ul li:before {
    content: "";
    height: 5px;
    float: right;
    width: 5px;
    display: block;
    background: #8e2750;
    margin-left: 5px;
    margin-top: 10px;
}
.content-post  .wpcontent blockquote {
	border-right: 5px solid #8e2750;
    margin: 10px 0;
    padding-right: 15px;
}
.content-post  .wpcontent ol li {
	
    position: relative;
    line-height: 25px;
}