@charset "utf-8";
/* CSS Document */

div.add_biz_steps_header {overflow:hidden;width:825px;}
div.add_biz_steps_header div.title {float:left;font-size:11px;padding:0 0 0 0;}
div.add_biz_steps_header div.title h1{display:inline-block;}
div.step_indicator {float:right;padding:24px 0 0 0;}
div.step_indicator ul.step_info {list-style-type:none;}
div.step_indicator ul.step_info li {float:left;padding:0 0 0 36px;width:72px;text-align:center;font-size:11px;color:#000000;}
div.step_indicator ul.step_info li:first-child {padding:0;}

div.add_biz {position:relative;margin:0 0 0 -20px;padding:34px 0 0 0;float:left;}

div.add_biz .feedback_question_number {top:25px;}
div.add_biz .feedback_question_number_relative {top:25px;}
div.add_biz h3 {margin:0 0 0 47px !important;font-size:20px;font-family: 'anton-webfont';*float:none;}

div.add_biz .news_detail {line-height:18px;margin:10px 0 20px 5px;color:#333333;width:840px;}
div.add_biz * .horodrop {display:inline-block;float:left;}
div.add_biz .news_detail .kundali_left {width:150px;text-align:right;padding:0 24px 0 0;}
div.add_biz .news_detail .kundali_left.middle_title{width:auto;padding:0 15px;}

.input_guidline {font-size:11px;}
.drop_middleg.wide_dropdown {width:214px;}

.drop_middleg.wide_dropdown_175 {width:175px;}
.drop_middleg.wide_dropdown_175 input{width:165px;}

.drop_middleg.wide_dropdown_130 {width:130px;}
.drop_middleg.wide_dropdown_130 input{width:120px;}

.add_biz * .big_gray_input {width:330px;}

.big_gray_listbox {background-position:-767px -985px !important;width:323px;height:152px;float:left;padding:10px 0 10px 5px;}

.select_listbox { border: medium none;width:318px;height:152px;background-color:#ebebeb;color:#808080;font-size:11px;font-style:italic;line-height:18px;}
.select_listbox option{padding:3px 0 3px 20px;}

.yellow_info_box{
	background:#fff5e1 url(../images/burrp/feed_bg.gif) no-repeat top center;
	border:1px solid #edca89;
	border-radius:3px;
	-moz-border-radius:3px;
	-webki-border-radius:3px;
	margin-left:175px;
	position:relative;
	padding:10px;
	line-height:16px;
	width:530px;
	font-size:11px;
	float:left;
}

.yellow_info_box span.fontbold {font-size:12px;}

.checkbox_ctrl {margin:0 auto;}
.checkbox_ctrl input[type=checkbox],
.checkbox_ctrl input[type=radio] { margin: 8px 5px 0 0;float:left;}
.checkbox_ctrl .checkbox_info {margin:5px 0 0 0;float:left;}
.checkbox_ctrl .radiobox_info {margin:5px 0 0 0;float:left;padding:1px 20px 0 0; }


.done_btn .drop_middle, .done_btn .drop_middle .drop_text {width:70px;}
.done_btn .drop_middle .drop_text {text-align:center;padding:4px 0 0 0;}

.add_biz * .feedback_form_btns {margin:31px 0 23px 200px;}
.add_biz * .feedback_form_allbtns {margin:31px 0 23px 120px;}

.add_biz * .small_gray_input {width:188px;}
.add_biz * .small_gray_input.small_gray_input_215 {width:215px;}
.add_biz * .small_gray_input.small_gray_input_70 {width:70px;}
.add_biz * .small_gray_input_94 {width:161px;display:inline-block;padding:4px 0 0 0;}

.add_biz h4{font-family:'oswald-webfont';display:inline-block;float:left;*float:none;margin:20px 0 0 50px;font-weight:normal;font-size:16px;color:#222222;}

.small_gray_input_middle { background:url(../images/input_bg_grey.png) repeat-x top left !important; float: left;height: 26px;margin: 0;padding: 0;width:161px;}
.small_gray_input_middle input {width:150px !important; font-size:11px!important; margin:5px 0 0 0; padding:0px; background:none; border:none; font-style:italic; color:#6e6e6e;}

.small_gray_input.small_gray_input_215 .small_gray_input_middle {width:185px;}
.small_gray_input.small_gray_input_215 .small_gray_input_middle input {width:175px !important;}

.small_gray_input.small_gray_input_70 .small_gray_input_middle {width:40px;}
.small_gray_input.small_gray_input_70 .small_gray_input_middle input {width:35px !important;}


.small_gray_input_middle_94 { background:url(../images/input_bg_grey.png) repeat-x top left !important; float: left;
    height: 26px;
    margin: 0;
    padding: 0;
	width:67px;
	}
	
.small_gray_input_middle_94 input {width:67px !important; font-size:11px!important; margin:5px 0 0 0; padding:0px; background:none; border:none; font-style:italic; color:#6e6e6e;}

.add_biz hr {margin:14px 0 0 20px;}
.small_gray_input.input_with_dropdown {margin:5px 0 0 10px;}
.locate_map {display:inline-block;float:left;}

.operating_to {margin:2px 5px 0 5px;font-size:12px;}
.add_biz * .dropdown2 {margin:0 5px 0 10px}

.all_form_btns{float:left;}
.all_form_btns a{margin:0 10px 0 0;float:left;}


.small_gray_textarea {width:187px;height:107px;background-position:-556px -1006px !important;float:left;padding:10px;}
.small_gray_textarea textarea.feedback_multiline_input{
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	font-size:12px;
	border:none;
	background:none;
	overflow:auto;
	width:170px !important;
	height:90px !important;
	margin:0 auto;
	display:block;
	color:#666666;
	font-style:oblique;
}

.small_gray_textarea.width305 {width:308px;height:65px;background-position:-2px -1067px !important;float:left;padding:10px;}
.small_gray_textarea.width305 textarea.feedback_multiline_input{
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	font-size:12px;
	border:none;
	background:none;
	overflow:auto;
	width:295px !important;
	height:50px !important;
	margin:0 auto;
	display:block;
	color:#666666;
	font-style:oblique;
}
.add_biz * .drop_textg{height:20px;}

.listbox_instruction {float:right;overflow:hidden;width:310px;}
.listbox_instruction .yellow_info_box {margin:20px 0;width:285px;}

.horodrop.price_row, .horodrop.city_row {width:330px;}
.horodrop.price_row .small_gray_input {float:right;width:150px;}
.horodrop.price_row .small_gray_input .small_gray_input_middle, 
.horodrop.city_row .small_gray_input .small_gray_input_middle {width:123px;}
p.formtitle_desc {margin:0 0 0 45px;}
.horodrop.city_row .small_gray_input {float:left;width:150px;margin:5px 0 0 0;}

#date_row {overflow:hidden;width:325px;}
#date_row .calendar {width:150px;position:relative;margin:4px 0 0 0;}

#date_row * .big_gray_input {margin:5px 0 0 0;width:auto !important;}
#date_row * .big_gray_input .calendar_icon {background-position:-34px 3px !important;}

#date_row .big_gray_input_mid {width:120px;}
#date_row .big_gray_input_mid input {width:90px;}

div.time_row {display:inline-block;margin:2px 0 0 0;}
div.time_row .time_row_left {display:inline-block;float:left;} 
div.time_row .time_row_right {display:inline-block;} 
div.time_row * .small_gray_input_94 {width:95px;padding:0;}

div.time_row * .drop_middleg {width:30px;}
div.time_row * .dropdown2 {margin:0 5px 0 0;}

div.add_biz .news_detail.gray_dark{background-color:#fafafa;border:1px solid #e4e4e4;width:815px;margin-left:21px;padding-bottom:10px;margin-bottom:0;margin-top:20px;}

.ML20{margin-left:20px}