@charset "utf-8";
/* CSS Document */

div.top_bar_askme_logo {padding:9px 15px 0 0; float:left;}

div.top_bar_askme {
	margin:0;
	padding:10px 0;
	background:none;
	border-bottom:1px solid #c6c3be;
	height:32px;
	float:left;
	width:688px;
}

div.top_bar_askme h3 {margin:8px 0 0 0; float:left;}

div.askmeSearch {
    margin: 20px 20px 0;
    padding: 0 5px;
	width:675px;
}

div.askmeSearch{
	margin:23px 0 0 0;
	float:left;
}


div.askmeSearch * .search_middle input {    
    width: 162px;
	*width: 153px;
}
div.askmeSearch * .drop_text {
	max-width:76px;
	height:14px;
}


div.askmeSearch span.label {
    float: left;
    padding: 2px 15px;
	color: #333333;
    font-family: 'oswald-webfont';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

div.askmeSearch .search_box {
    margin: 0 auto;
    padding: 0;
}
div.askmeSearch a .askme_btn {
    margin: 0 0 0 15px;
	border:none;
	float:right;
}


div.addandclaim {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    height: 216px;
    margin: 0;
    overflow: hidden;
    width: 258px;
	padding:23px 20px 0 20px;	
}
div.addandclaim h3 {
	 float: left;
	 *float: none;
    padding:0 0 19px 0;
	*padding:0 0 11px 0;
}

div.addandclaim .data{
	/*padding:10px 15px;*/
	padding:21px 0 0 0;
	*padding:11px 0 0 0;
	font-size:14px;
	line-height:1.3em;
	overflow:hidden;
}

div.askmeSearch .search_box .dropdown {margin:0;position:relative; float:left; margin-left:-20px; z-index:999}

/* ===== top category hover section style ==== */

div.dropdown .top_cat_pop, .top_cat_pop_products {
	width:422px;
	min-height:150px;
	margin:0px;
	padding:10px 0px 0px 0px;
	background:#FFFFFF; /* f9f9f9 */
	position:absolute;
	z-index:99;
	*z-index:999;
	top:30px;
	right:0px;
	box-shadow:0px 3px 5px 0px #666;
	border:1px solid #DEDBD6;
	}
.top_cat_pop_products, .top_cat_pop_products .city_row {
	width:580px !important;
}
.top_cat_pop_products .city_row a {
	border:none !important;
}
.top_cat_pop_products .city_block {
	width:160px !important;
}
.drop_width_products {
	max-width:120px;
	height:14px;
}
#filter_by_loc.top_cat_pop, #filter_by_pdt.top_cat_pop {
	padding:0;
}
.serp_askme_dd .drop_middle {
	width:120px !important;
}

	
/*div.dropdown .top_cat_pop .row {
	padding:15px 0px 15px 18px;
	margin:0px;
	border-bottom:1px solid #f0f0f0;
	background:#f9f9f9; 
	}
	
div.dropdown .top_cat_pop .row .block{
	width:157px;
	float:left;
	padding:0px;
	margin:0px;
	font-style:italic;
	color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	text-transform:none;
	}*/
	
/* city block  start */	
div.dropdown .top_cat_pop .top_bdr {
	border-top:1px solid #f0f0f0;
}
div.dropdown .top_cat_pop div.city_row {
	background-color:#f9f9f9; 
	overflow:hidden;
	width:422px;
	
}		
div.dropdown .top_cat_pop .city_row .city_block{
	width:111px;
	float:left;
	padding:0 0 0 20px;
	margin:0 auto;
	font-style:italic;
	color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	text-transform:none;
		
}

div.dropdown .top_cat_pop .city_row .city_block a, div.dropdown .top_cat_pop .city_row .city_block a:visited {
	color: #333333 ;
	padding :15px 0 15px 0;
	display:block;
	border-bottom:1px solid #f0f0f0;
}
div.dropdown .top_cat_pop .city_row .city_block a:hover {
	/*background-color:#d53225;*/
	border-bottom:1px solid #f0f0f0;
	text-decoration:underline;
	color:#0072BC;
}
/* city block end */

div.dropdown .top_cat_pop  .radiobtn{
	float:left;
	padding:3px;
	margin-right:14px;
	}

div.dropdown a .save {
	margin-top:15px;
	width:63px;
	height:26px;
	background-position: -664px -616px;
	float:left;
}
div.dropdown a:hover .save {
	background-position: -664px -642px;
}
div.dropdown a.active .save {
	background-position: -664px -668px;
}

div.top_cat_pop_header { padding: 1px 9px 6px 17px;background-color:#FFF;overflow:hidden;}
div.top_cat_pop_header h3 {margin:0 auto;}

/* popular activity start */
div.askme_popular_act {
    float: left;
    margin:0 auto;
	*margin:0 0 1px 0; /* ie7 */
	margin:0 0 10px 0\0/; /* ie8 */
    padding: 0 0 1px 0;
    width: 500px;
	clear:both;
	
}

div.askme_popular_act~ hr.dashed3 {

	*margin:-10px 0; /* ie7 */
	margin:10px 0 1px 0 0\0/; /* ie8 */
}
/* popular activity end */

div.askme_popular_act div.margin_left7 {margin:10px 0 0 14px;}
div.askme_popular_act * p {text-align:left;}
div.askme_popular_act div.margin_left7  p.description a, div.askme_popular_act div.margin_left7  p.description a:hover,div.askme_popular_act div.margin_left7  p.description a:visited{color:#d53225;}

 /* Activity Feed Start  */ 
 
 div.activityfeed {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    min-height: 304px;
    margin: 0;
    overflow: hidden;
    width: 265px;
	margin:20px 0 0 0;
	*margin:12px 0 0 0;
	padding:23px 16px 20px 16px;	
}
div.activityfeed h3 {padding:0 0 20px 0;}
 /* Activity Feed END */

 
div.activityfeed div.data div.comment_box, div.comment_box_top, div.comment_box_mid, div.comment_box_bottom {width:265px;margin:0 auto;padding:0;overflow:hidden;float:left;clear:both;}

div.activityfeed div.data div.comment_box {margin:12px 0 0 0;}
div.comment_box_top {background-position:-7px -219px;height:7px;}

div.comment_box_mid {background-position:-7px -229px;background-repeat:repeat-y;}
div.comment_box_mid p.activityfeedtitle {font-size:11px;font-weight:bold;padding:2px 10px;}
div.comment_box_mid p.activityfeedtitle a,div.comment_box_mid p.activityfeedtitle a:visited {color:#0072bc;}
div.comment_box_mid p.activityfeedtitle a:hover {text-decoration:underline;}
div.comment_box_mid p.activityfeedtime {font-size:11px;font-weight:normal;padding:5px 10px 2px 10px;font-style:italic;color:#666666;}

div.comment_box_bottom {background-position:-7px -454px;height:12px;}


div#allcategory {padding:2px 0 0 0;overflow:hidden;}
div.allcategory_block {width:400px;padding:18px 0;}
div.allcategory_image, div.allcategory_info  {overflow:hidden;}
div.allcategory_info {padding:0 5px 0 12px;}
p.allcategory_title {font-size:14px;color:#000000;padding:1px 0 10px 0}

p.allcategory_detail {color:#666666;}
p.allcategory_detail a, p.allcategory_detail a:visited {color:#666666;}
p.allcategory_detail a:hover{color:#0072bc;}

div.socailnetwork_block {
	margin:20px 0 0 0;
	background:#FFF;
	border:1px solid #dedbd6;
	width:278px;
}
div.socailnetwork_block hr {
	margin:0 0 0 20px;
	*margin:0 0 0 0;
	float:left;
	width:237px;
}
div.socailnetwork_block h3 {
	padding:25px 0 20px 20px;
	margin:0;
	float:left;
}

div.socailnetwork_block .dropdown{
	margin:20px 20px 0 0;
}

div.socailnetwork_block .facebook_data
{
	padding:20px 25px;
	color:#666;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	overflow:hidden;
}

span.socailnetwork_width {width:140px;}

div.socailnetwork_block .facebook_data .iconlike
{
	background: none;
	width:51px;
	height:25px;
	display:block;
	margin:5px 0px;
}


div.socailnetwork_block .facebook_data .iconlike a
{
	text-indent:-9999px;
	font-size:1px;
	cursor:pointer;
	text-decoration:none;
	display:block;
}

div.socailnetwork_block .facebook_data .iconlike a:hover
{
	text-indent:-9999px;
	font-size:1px;
	cursor:pointer;
	text-decoration:none;
	display:block;
}

div.socailnetwork_block .facebook_data .followtwitter
{
	background: none;
	width:85px;
	height:25px;
	display:block;
	margin:5px 0px;
}

div.socailnetwork_block .facebook_data .followtwitter a
{
	text-indent:-9999px;
	font-size:1px;
	cursor:pointer;
	text-decoration:none;
	display:block;
}

div.socailnetwork_block .facebook_data .followtwitter a:hover
{
	text-indent:-9999px;
	font-size:1px;
	cursor:pointer;
	text-decoration:none;
	display:block;
}

span#followtwitter {}

div.askme_leftalign {text-align:left;}

.askme_popact80_80 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    float: left;
    height: 80px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 80px;
}
.askme_popact80_80 .photo {
    background: none repeat scroll 0 0 #292929;
    float: left;
    height: 74px;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    width: 74px;
}

.askme_allcat60_61{
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    float: left;
    height: 60px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 60px;
}

.askme_allcat60_61 .photo {
    background: none repeat scroll 0 0 #FFF;
    float: left;
    height: 54px;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    width: 54px;
}


/* askme consumption - page */
/* ======================== */

div#askme_consumption div.inner_block {padding:0 20px 20px 0;}
div#askme_consumption * div.tab_frame_content {float:left;width:100%;}

.askme_consumption {
	color: #5a5957;
	float: left;
	font-size: 12px;
	margin: 0 auto;
	padding: 0;
	/*line-height:20px;*/
}
.askme_consumption a {
	color: #5a5957;
}

div.askme_consumption_block {width:500px;overflow:hidden;padding:0 0 14px 0;}
div.consumption_icon {width:25px;height:25px;float:left;}
div.consumption_detail {width:465px;padding:5px 0 0 10px;float:left;overflow:hidden;}
/*div.consumption_detail * a,div.consumption_detail * a:visited {color:#5A5957;}
div.consumption_detail * a:hover {color:#0072BC;}*/

/*dl.event {margin: 2em 0;padding: 0;}
.event dt {position: relative;left: 0;top: 1.1em;width: 5em;font-weight: bold;}
.event dd {margin: 0 0 0 6em;padding: 0 0 .5em .5em;}*/
.business_hour_dropdown {margin:0; padding:0; font-weight:bold;}
.business_arrow_down {
	margin:0 0 0 5px;
	padding:0;
	background:url(http://im.active18.com/images/business_hour_dropdown.png) 0 0 no-repeat;
	width:9px;
	height:5px;
	display:inline-block;
}.business_arrow_up {
	margin:0 0 0 5px;
	padding:0;
	background:url(http://im.active18.com/images/business_hour_dropup.png) 0 0 no-repeat;
	width:5px;
	height:9px;
	display:inline-block;
}
dl { /*border: 3px double #ccc; */padding: 0.5em 0; } dt { float: left; clear: left; width: 85px; text-align: left; font-weight: bold; } dt:after { /*content: ":";*/ } dd { margin: 0 0 0 85px; padding: 0 0 0.5em 0; }


/* review */
div#askme_consumption * .white_block_nomargin {
	background:#FFF;
	border:1px solid #dedbd6;
	float:left;
	width:548px;
}

div#askme_consumption * .tab_small {
	margin:20px 0 0 0;
}


div#askme_consumption * .row {
	margin:0px;
	padding:15px 15px 10px 15px;
	float:left;
	background:#fff;
	border-bottom:1px solid #f5f5f5;
}

div#askme_consumption * .row_alt {
	margin:0px;
	padding:15px 15px 10px 15px;
	float:left;
	background:#fcfcfc;
	border-bottom:1px solid #f5f5f5;
}

div#askme_consumption * .row .ratedby, div#askme_consumption * .row_alt .ratedby {
	/*margin:20px 0 0 0;*/
	float:left;
	width: 143px;
}

div#askme_consumption * .row_data {
	margin:0 0 0 10px;
	width:363px;
	float:left;
}
div#askme_consumption * .row .ratedby .title, div#askme_consumption * .row_alt .ratedby .title {
	margin:5px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	float:left;
}

div#askme_consumption * .row .row_data .title, div#askme_consumption * .row_alt .row_data .title  {
	margin:5px 0;
	padding:0;
	font-style:italic;
	font-size:16px;
	font-weight: normal;
}

div#askme_consumption * .row_data .description {
	margin:0;
	padding:10px 0px;
	color:#666;
}
div#askme_consumption * .row_data .info {
	margin:5px 0 0 0;
	padding:0;
	font-style:italic;
	color:#999;
}

div#askme_consumption * .row_data .read_artical {
	background:url(http://im.active18.com/images/movies/icon_zoom.png) no-repeat left top;
	float:left;
	width:13px;
	height:13px;
	padding:5px 5px 0px 5px;
}

#askme_consumption .alert_spoilers,
#askme_consumption .row_data .alert_spoilers,
p.title .alert_spoilers {
	background:url(http://im.active18.com/images/movies/icon_alert.png) no-repeat left top;
	float:left;
	width:18px;
	height:17px;
	padding:5px 0 0px 5px;
}



div#askme_consumption * .row_data .post {
	margin:1px 4px 0 4px;
	padding:0;
	width:14px;
	height:11px;
	background-position: -255px -53px;
	float:none;
	display:inline-block;
}
div#askme_consumption * .map_tab {   
    width: 207px;
}

div#askme_consumption * .event_listing ul{list-style:none; line-height:24px; margin:10px 0 15px;}
/* review */

/* Stores in Juhu - Consumption page */

div#serp_stores .tweet_row,
div#askme_search * .tweet_row,
div#askme_consumption * .tweet_row {
	margin:12px 0 0 0;
	padding:0 0 12px 0;
	border-bottom:none;
	float:left;
}

div#serp_stores .tweet_row .mdtweet_user_detail,
div#askme_search * .mdtweet_user_detail,
div#askme_consumption * .mdtweet_user_detail {
	margin:0 0 0 5px;
	float:left;
	width:255px;
}

div#serp_stores .tweet_row .mdtweet_user_detail .title,
div#askme_search * .mdtweet_user_detail .title,
div#askme_consumption * .mdtweet_user_detail .title {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

div#askme_consumption * .rated_rating_divs {width:200px;overflow:hidden;}
div.rating_small1_info {font-size:11px;font-style:italic;color:#7f7f7f;padding:3px 0 0 10px;}

/* Rating */

div#askme_consumption * .album_block1 {
    border-right:none;
	margin-right:20px;
}
div#askme_consumption * .review_count1 {
    color: #C0C0C0;
    font-style: italic;
	margin:15px 0 10px -40px !important;
	float:left;
}

/* more detail profile Start  */
div.view_full_profile {
    padding: 0 5px;
}

.connect_celeb_bio .view_full_profile .view_all_video {
    margin: 10px 0 10px 190px;
    padding: 0;
}
.connect_celeb_bio .view_full_profile .view_all_video span {
	margin:0 5px 0 0;
}
/* more detail profile End  */


/* Review  section Rating */
div#askme_consumption * .row .brpRev_ContDiv, div#askme_consumption * .row_alt .brpRev_ContDiv {
    float: left;
    width: 143px;
	margin:0 0 29px 0;
}

div#askme_consumption * .brpRev_ContDiv .reviewbyUser {
    float: left;
    font-size: 11px;
    margin: 3px 8px 0 0;
    text-align: center;
    width: 55px;
	border: 1px solid #D6D6D6;
    padding: 2px;
	 overflow: hidden;
}

div#askme_consumption * .brpRev_ContDiv .reviewbyUser .reviewCount {
    color: #999999;
    font-size: 9px;
}

div#askme_consumption * .tab_small * .write_review_btn, div#askme_consumption * .tab_small * .write_review_red_btn {margin:17px 14px 0 0;}

div#askme_consumption * .map_left {
    display: table-row-group;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px; 
	padding:0 5px 0 0;   
}
div#askme_consumption * .big_gray_input {  
    width: 194px;
}

div#askme_consumption * .big_gray_input_mid {
    width: 165px;
}

div#askme_consumption * .big_gray_input_mid input {
    width: 165px !important;
}

.mapinfo {color:#999999;font-size:11px;margin:0 auto;padding:0 0 0 10px;}

#askme_consumption .news_detail p {font-size:14px;margin:0 auto;padding:0;}
#askme_consumption * .block_music_album {position:relative; padding-top:20px}
#askme_consumption * .askme_certified {
    background: url("http://im.active18.com/images/askme/askme_feature.png") no-repeat scroll transparent;
    height: 83px;
    right: 0;
    position: absolute;
    top: 0;
    width: 83px;
    z-index: 1;
}

a .tab_productandservices {
    background-position: -920px -898px;
    float: left;
    height: 30px;
    margin: 11px 5px 0 20px;
    padding: 0;
    width: 37px;
}

a:hover .tab_productandservices, a.active .tab_productandservices {
	margin:11px 5px 0 20px;
	padding:0;
	width:37px;
	height:35px;
	background-position:  -920px -929px;
	float:left;
}


a .tab_mapsanddirections {
    background-position: -880px -891px;
    float: left;
    height: 30px;
    margin: 11px 5px 0 20px;
    padding: 0;
    width: 37px;
}

a:hover .tab_mapsanddirections, a.active .tab_mapsanddirections {
	margin:11px 5px 0 20px;
	padding:0;
	width:37px;
	height:35px;
	background-position:  -880px -922px;
	float:left;
}


a .tab_reviewstore {
	margin:12px 5px 0 20px;
	padding:0;
	width:40px;
	height:30px;
	background-position: -959px -899px;
	float:left;
}

a:hover .tab_reviewstore, a.active .tab_reviewstore {
	margin:12px 5px 0 20px;
	padding:0;
	width:40px;
	height:30px;
	background-position: -959px -937px;
	float:left;
}

a .tab_featuredreview {
	margin:4px 5px 0 20px;
	padding:0;
	width:47px;
	height:40px;
	background-position: -251px -823px;
	float:left;
}

a:hover .tab_featuredreview, a.active .tab_featuredreview {
	margin:4px 5px 0 20px;
	padding:0;
	width:47px;
	height:40px;
	background-position: -251px -865px;
	float:left;
}

/* ASK ME Search Page - START
============================= */
#askme_search {margin:0 0 0 0;}
#search_middle_long_askme * .search_middle_long input {
    width: 480px;
}

#search_middle_long_askme a .askme_btn {    
	margin: 15px 0 0 15px;
}


#askme_search * .dropdown {
    margin: 20px 5px 0;
    padding: 0;
}

#askme_search * div.dropdown .top_cat_pop {
	padding:0;
	
}
#askme_search * .serp_menu_ul {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DEDBD6;
    float: left;
    list-style: none outside none;
    margin: 0 0 13px -21px;
    padding: 0;
    width: 858px;
}

#askme_search * .serp_menu_ul li a {
	margin:5px 0;
	padding:4px 5px;
	color:#333;
	display:inline-block;
}
#askme_search * .serp_menu_ul li a:hover {
	color:#d53225;
}
#askme_search * .serp_menu_ul li a.active {
	background:#252525;
	color:#eddfa8;
	border-radius:2px;
	box-shadow:0 1px 2px #666;
	font-size:14px;
	font-weight:normal;
	float:left;
}


.block_left535 {
    float: left;
    margin: 0;
    padding: 0;
    width: 535px;
}

#askme_search .search_block_main {
    float: left;
    margin: 0 0 20px -9px;
    padding: 0;
    width: 837px;
}

#askme_search * .block_left535 .active,
#askme_search * .block_left535 .active .block_search_store,
#askme_serp div.serp_main_left div.block_search_store.active {background: none repeat scroll 0 0 #fffaec;}

.block_search_store {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    margin: 0;
    padding:20px 20px 0 20px;
    width: 478px;
	position:relative;
}

#askme_search * .askme_certified,
#askme_serp div.serp_main_left div.block_search_store .askme_certified{
    background: url("http://im.active18.com/images/askme/askme_feature.png") no-repeat scroll transparent;
    height: 83px;
    right: 0;
    position: absolute;
    top: 0;
    width: 83px;
    z-index: 1;
}

#askme_search * .result_description {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    margin: 0;
    padding: 0;
	width:100px;
}

#askme_search * .tab_frame_content {
    float: left;
    margin: 0;
    padding: 0;
    width: 478px;
}

#askme_search * .block_search_store .tab_frame_content .dashed4 {
    border-top: 1px dashed #333333;
    margin: 10px 0;
}

#askme_search * div.askme_consumption_block {
    overflow: hidden;
    padding: 0 0 9px;
    width: inherit;
}


#askme_search * div.consumption_detail {
    float: left;
    overflow: hidden;
    padding: 3px 0 0 10px;
    width: 443px;
}

/* #askme_search .search_block_main .block_right300 .block3 .white_right_block1 .frame17_block .allcategory_info */

#serp_popular_categories div.frame17_block,
#askme_search * .frame17_block {
    clear: both;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 0 20px 0;
    width: 260px;
	text-align:left;
}

#askme_search * .frame17_block .allcategory_info{
 padding:4px 0 0 0;   
}

#askme_search * .frame17_block .description {
    color: #666666;
    font-size: 11px;
    font-style: italic;
    padding: 4px 0;
	margin:0 auto;
	clear:both;
	float:left;
}
#askme_search * .frame17_block .descriptionindetail {
    color: #999999;
    font-size: 12px;
    font-style: normal;
    /*margin: 2px 0;*/
}
.report_inaccurate_main {
	position:relative;
	color:#5A5957;
}
.report_inaccurate {
	margin:5px 0 0 10px;
	padding:0;
	float:left;
	color:#D53225 !important;
	font-size:11px;
}
.report_inaccurate:hover {
	text-decoration:underline;
	color:#D53225;
}
.askme_report_inaccurate {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    box-shadow: 0 2px 4px 0 #999999;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    width: 535px;
    z-index: 9;
	display:none;
}
.askme_report_inaccurate .top {
    background: url("http://im.active18.com/images/videos/white_arrow_top.png") no-repeat scroll 0 0 transparent;
    height: 11px;
    position: absolute;
    top: -10px;
	left:60px;
    width: 18px;
    z-index: 10;
}
.askme_report_inaccurate .block {
    float: left;
    margin: -20px 0 0 0;
    padding:0 20px 10px 20px;
    width: 495px;
}
.askme_report_inaccurate .post_report_btn {
	margin:0 20px 20px 0;
	float:right;
}
.askme_report_inaccurate #close {
	margin:5px;
	position:relative;
}
.options_inaccurate {
	margin:15px 0;
}
.options_inaccurate label, .review_title label {
	margin:0 15px 0 2px;
}
.options_inaccurate .head_title, .option_textarea .head_title {
	width:75px;
	float:left;
}
.inaccurate_textarea {
	background:url(http://im.active18.com/images/reply_callout.png) 0 0 no-repeat;
	width:416px;
	height:80px;
	display:inline-block;
}
.inaccurate_textarea textarea {
	margin:5px;
	padding:0;
	background:none;
	border:none;
	width:405px !important;
	height:70px !important;
	color: #666666;
	overflow:auto;
	font-style:italic;
}
.label_italic {
	font-style:italic;
}
.review_inaccurate {
	float:right;
}
.review_inaccurate .report_inaccurate {
	margin:0 !important;
}
.review_inaccurate .top {
	left:480px;
}
.askme_gallery .gallery_sidebar {
	display:none;
}
.askme_gallery #mainphoto {
	max-width:548px;
}
.askme_gallery .photo_title {
	margin:20px 10px;
	font-weight:bold;
}
.askme_gallery .block_photogarph .topbar {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    margin: 1px;
    position: absolute;
    width: 546px;
}
.askme_gallery .block_photogarph:hover .topbar {
	display:block;
}
.product_accordion #accordion {
	width:508px;
}
.product_accordion h3 {
	margin:0 0 10px 0 !important;
	padding:10px !important;
	background:#f6f6f6;
	border:1px solid #e4e4e4;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px;
	color:#000;
	width:485px;
	text-transform:none;
	border-radius:0;
	float:left;
}
.product_accordion .ui-accordion .ui-accordion-content {
	margin:-10px 0 0 0;
	padding:0;
	float:left !important;
	border:none;
}
.show_hide {
	margin:0;
	padding:0;
	color:#999;
	float:right;
}
.product_accordion .ui-accordion .ui-accordion-header .ui-icon {
	display:none;
}
.product_accordion .ui-accordion .ui-accordion-header a {
	margin:0;
	padding:0;
}
.product_accordion_title {
	margin:20px 0;
	font-weight:bold;
	float:left;
}
.product_accordion_expand, .product_accordion_collapse {
	margin:20px 0 0 0;
	padding:0 25px 0 0;
	background:url(http://im.active18.com/images/expand.png) right 0 no-repeat;
	float:right;
	height:18px;
	font-size:10px;
	color:#D53225;
}
.product_accordion_collapse {
	background:url(http://im.active18.com/images/collapse.png) right 0 no-repeat;
}
.product_tilte {
	margin:0;
	padding:10px;
	border-right:1px solid #eaeaea;
	float:left;
	font-size:11px;
	width:230px;
}
.product_detail {
	margin:0 0 0 -1px;
	padding:10px;
	border-left:1px solid #eaeaea;
	float:left;
	font-size:11px;
	color:#999;
	width:230px;
}
.write_review_block {
	margin:0 20px;
	padding:20px 0px;
	border-bottom:1px dashed #b3b3b3;
	float:left;
	display:none;
}
.review_input {
    background: url("http://im.active18.com/images/review_callout.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 25px;
    width: 416px;
}
.review_title {
	margin:10px 0;
}
.review_title .head_title {
	margin:5px 0 0 0;
	width:80px;
	float:left;
}
.review_input input {
	margin:3px;
	padding:0;
	background:none;
	border:none;
	width:408px;
	color: #666666;
    font-style: italic;
}
.write_review_block .rating_big {
	float:none;
}
.write_review_block .rating_title .head_title {
	margin-top:8px;
}
.write_review_block .post_review_btn, .write_review_block .save_draft_btn {
	margin:0 0 0 10px;
	padding:0;
	float:right;
}




/* ============================= 
ASK ME Search Page - END */



/* ASK ME Consumption V2 page - START
====================================== */

div#askme_consumption * .map_detail {margin:0 0 0 0; !important}
#map_detail {overflow:hidden;}
#map_detail .white_block, #map_detail .more_link_big {border:none;border-top:1px solid #dedbd6;}
#map_detail .more_link_big {padding: 0;width: 548px;overflow:hidden;}
#map_detail div.askme_consumption_block {overflow: hidden;padding: 10px 0 14px 10px;width: 500px;}
#map_detail * div.consumption_icon {float: left;height: 28px;width: 28px;}
#map_detail .more_link_big .askme_consumption_block .consumption_detail{float: left;overflow: hidden;padding: 5px 0 0 10px;width: 460px;font-weight:bold;font-size:14px;}
#map_detail .white_block .row {background: none repeat scroll 0 0 #FFFFFF;border-bottom: 1px solid #FFFFFF;float: left;margin: 0;padding: 15px 10px 0 12px;}
#map_detail .white_block {background: none repeat scroll 0 0 #FFFFFF;float: left;margin:0 auto;padding:0;}
#map_detail .white_block .row .row_data {float: left;margin: 0 0 0 0;width: 526px;}


#map_detail .white_block .row  .row_data .info {font-size:11px;font-style:normal;color:#666666;}
ol.routepath {margin:0 0 30px 15px;*margin:0 0 0 12px;font-weight:bold;font-size:12px;color:#222222;list-style-position:inside;width:526px;}
ol.routepath li{border-bottom:1px dashed #cccccc;padding:15px 0 13px 0;text-align:left;font-weight:bold;}
ol.routepath li div.navigationblock {width:500px;float:right;font-weight:normal;}
ol.routepath li div.navigationblock .navigationpath {width:400px;;overflow:hidden;float:left}
ol.routepath li div.navigationblock .navigation_distance {width:90px;padding:0 10px 0 0;overflow:hidden;float:right;text-align:right;font-size:11px;color:#666666;}
.navigation_direction, .navigation_hint {clear:left;color:#999999;font-size:12px;}
.navigation_direction {font-style:italic;}

/* serach page css*/
#askme_serp div.serp_main_left div.block_search_store {background: none repeat scroll 0 0 #FFFFFF;float: left;margin: 0;padding:10px 14px;width: 478px;position:relative;border-bottom:1px dashed #DEDBD6;border-top:none;border-left:none;border-right:none;}
#askme_serp * div.askme_consumption div.askme_consumption_block {width:500px;overflow:hidden;padding:8px 0 0 0;}
#askme_serp * div.askme_consumption div.askme_consumption_block div.consumption_detail {padding:5px 0 0 2px}
.frame17_block .description{ margin:0}

#serp_popular_categories h3 {margin: 20px 0 20px;}
.descriptionindetail{ color:#999999; padding-top:5px; display:inline-block}
.result_title{ color:#222222}

.askme_popular_act .title{ font-size:14px; line-height:18px}
.askme_popular_act .description{ color:#5a5957; line-height:18px}
.askme_consumption_block .consumption_detail, .askme_consumption_block .consumption_detail a { color:#666}
.sapg{ color:#ccc}
.white_block h3, h3.thread_h3 { margin: 18px 0 15px}
/*.h_scroll_detail{ margin-top:20px}*/
.h_scroll_detail div.resultant_summary{ width:340px}
.resultant_summary .result_title{ font-size:13px}
.h_scroll_detail .padding_bot5 { padding-bottom: 15px !important}
.hide_me{ display:none}
div#askme_consumption .photo_tab{ z-index:1}
.connect_celeb_bio{ color:#333; float:none}
.MT20{ margin-top:20px}
#footer_wrapper.askme_footer{padding:0;}
div.askmeSearch * .search_middle input {width: 153px;}
.save_draft_btn1 { color: #000000; float: right; font: bold 14px arial; margin: 5px 0 0 10px;  padding: 0;}
.write_review_block .rating_title .rating_big{ float:left}


.askme_footer_social{background:#f7f4ee; padding-left:20px; padding-bottom:20px; margin-top: -20px;}
#lfulls{ width:357px; display:none}
.mtp{ margin-top:10px; border:1px solid #999; background: #CCC; padding:5px; width:495px}
a.btn_claim span{background: url("http://im.active18.com/images/icon_sprite.png") no-repeat 0 -91px; float: left; height: 30px; margin: 0 5px 0 0; width: 30px;}
a.btn_claim:hover span{ background-position:-31px -91px}
.ph_left{ float:left; padding-top:6px;}
.askme_consumption .askme_consumption_block .consumption_detail a { color:#0072bc}

#writerevdiv .save_draft_btn1{ margin:0px 0 0 10px;}
.save_draft_btn1 .gry_drop_left {background: url("http://im.active18.com/images/burrp/gry_drop_btn.png") no-repeat 0 0; float: left; height: 24px; width: 12px;}
.save_draft_btn1 .gry_drop_middle{background: url("http://im.active18.com/images/burrp/gry_drop_btn.png") repeat-x 0 -75px; float: left; height: 24px;}
.save_draft_btn1 .gry_drop_right1{ background: url("http://im.active18.com/images/burrp/gry_drop_btn.png") no-repeat 100% -150px; float: left; width:13px; height:24px;}
.save_draft_btn1 .drop_text {padding: 5px 6px 0; text-shadow: 1px 1px 0 #666666;}
.save_draft_btn1 .drop_text {color: #FFFFFF; float: left; font-family: 'opensan-webfont'; font-size: 11px; font-style: italic; font-weight: normal; margin: 0; overflow: hidden;}

#serp_filter .drop_box_list{ overflow:auto; max-height:263px; width:128px; overflow-x: hidden;}