#burrp{}
#burrp hr.dashed3{background:none; border-bottom:none;}
#burrp .height475 {height: 475px;}
#burrp h3{margin:15px 0 15px}
#burrp .more_list_detail h3{margin:20px 0 20px 20px}
#burrp #footer_wrapper h3{margin:0;}
#burrp h3 span.lower{text-transform:lowercase; font-size:18px; font-weight:normal;}
#burrp .navi {margin: 15px 0 0;}
#burrp  #footer_wrapper .navi{margin:0;}
#burrp .width517{width:517px;}
#burrp .no_bot_border{padding-bottom:0;}

#burrp .font11, #eventRateList * .font11 {font-size:11px;}

#burrp .search_dropdown_burrp,
.search_dropdown_burrp.top_bar_dropdown {
	float:left;
	margin-top:9px;
}

#burrp .search_dropdown_burrp .drop_middle,
.search_dropdown_burrp.top_bar_dropdown .drop_middle{
	background:none;
}

#burrp .search_dropdown_burrp .drop_right,
.search_dropdown_burrp.top_bar_dropdown .drop_right{
	background:url(../images/burrp/discover_drop_icon.png) no-repeat 0 0;
	height:15px;
	width:17px;
}

#burrp .search_dropdown_burrp .drop_text,
.search_dropdown_burrp.top_bar_dropdown .drop_middle .drop_text{
    color: #0072BC;
	font-size:12px;
	font-style:normal;
	padding:1px 10px 0 5px;
}

.search_dropdown_burrp.top_bar_dropdown a.link_search_options.active .drop_right {background-position:0px 0px;}

.top_bar .drop_box {top:35px;}

#burrp .burrpSearch{
	margin:20px 20px 0;
	padding:0 5px;
	color: #333333;
    font-family: 'oswald-webfont';
    font-size: 14px;
    font-weight: normal;
}

#burrp .burrpSearch .search_box{
	margin:0;
	padding:0;
}

#burrp .burrpSearch span.label{float:left; padding:4px 15px; text-transform:uppercase;}

/*#burrp .burrpSearch .search_left{
	background:url(../images/burrp/search_sec.png) no-repeat 0 0;
	height:30px;
	width:30px;
}

#burrp .burrpSearch .search_middle{
	background:url(../images/burrp/search_sec.png) -30px 0 ;
	height:30px;
}






#burrp .burrpSearch .search_box .search_left{
	background-position:0 -31px;
	width:15px
}
#burrp .burrpSearch .search_dropdown{
	height: 30px;
    margin: 0 0 0 -28px;
}





#burrp .burrpSearch .search_dropdown .drop_left{background:url(../images/burrp/search_sec.png) no-repeat -276px 0; height:30px;}
#burrp .burrpSearch .search_dropdown .drop_middle{background:url(../images/burrp/search_sec.png) no-repeat -298px 0; height:30px;}
#burrp .burrpSearch .search_dropdown .drop_right{background:url(../images/burrp/search_sec.png) no-repeat -470px 0; height:30px; width:30px}
#burrp .burrpSearch .search_dropdown .drop_text{padding:9px;}*/

#burrp .burrpSearch .search_middle input{width:192px; float:left; color:#FFF;}

#burrp .burrpSearch  .search_last{
	background-position:-648px 0;
	height:24px;
	width:30px;
}
#burrp .burrpSearch a.btn_search{
	background:url(../images/in_sprite1.png) no-repeat -737px -905px;
	float:left;
	margin:0 0 0 15px;
	width:69px;
	height:25px;
}

#burrp .burrpSearch a.btn_search span{
	visibility:hidden;
}


#burrp .bottom_bar .top_bar{
	border-top:1px dashed #C6C3BE;
}

#burrp .bottom_bar .burrpSearch{
	margin:20px;
}

/*Brupper Tabs*****######******/
a.burrp_tab {
    float: left;
    height: 115px;
    width: 91px;
}

#burrp a .tab_view_tab{
	height:115px;
}

.tab_burrp_food, .tab_burrp_style, .tab_burrp_spa, .tab_burrp_hotels, .tab_burrp_events, .tab_burrp_city{background:url(../images/burrp/tab_icon.png) no-repeat;}

.tab_burrp_food, .tab_burrp_style, .tab_burrp_spa, .tab_burrp_hotels, .tab_burrp_events, .tab_burrp_city {
	margin:15px 0 5px 20px;
	padding:0;
	width:50px;
	height:50px;
	float:left;
}

.tab_burrp_city{
	margin:15px 0 5px 15px;
	padding:0;
	width:55px;
	height:50px;
	float:left;
}

a .tab_burrp_food{
	background-position: 0 0;
}
a:hover .tab_burrp_food, a.active .tab_burrp_food {
	background-position: 0px -50px;
}

a .tab_burrp_style{
	background-position: -50px 0;
}
a:hover .tab_burrp_style, a.active .tab_burrp_style {
	background-position: -50px -50px;
}

a .tab_burrp_spa{
	background-position: -100px 0;
}
a:hover .tab_burrp_spa, a.active .tab_burrp_spa {
	background-position: -100px -50px;
}

a .tab_burrp_hotels{
	background-position: -150px 0;
}
a:hover .tab_burrp_hotels, a.active .tab_burrp_hotels {
	background-position: -150px -50px;
}

a .tab_burrp_events{
	background-position: -200px 0;
}
a:hover .tab_burrp_events, a.active .tab_burrp_events {
	background-position: -200px -50px;
}

a .tab_burrp_city{
	background-position: -250px 0;
}
a:hover .tab_burrp_city, a.active .tab_burrp_city {
	background-position: -250px -50px;
}


#tab_content .containt_img{
	float:left;
	width:301px;
	height:301px;
	padding:30px 12px 27px 24px;
	position:relative;
}

#tab_content .containt_img .frame_burrp {
    background:#FFFFFF;
    border-radius:3px;
    float: left;
    height:295px;
    margin: 0;
    padding:4px;
    position: relative;
    width:295px;
}

#tab_content .containt_img .stamp{
	background:url(../images/burrp/stamp.png) no-repeat;
	width:134px;
	height:94px;
	position:absolute;
	top:5px;
	left:5px;
}

#burrp #tab_content  .tab_frame_content1{
	width:180px;
	padding-left:12px;
	border-left:1px dashed #4c4c4c;
	margin:30px 0 0 0 !important;
	height:330px;
}

#tab_content  .tab_frame_content1 h1{
	font-size:35px !important;
	line-height: 35px !important;
	margin:0;
	}
	
#tab_content  .tab_frame_content1 p.description{
	font-size:13px;
	font-style:oblique;
	color:#ffffff;
	line-height:23px;
	margin:10px 0 20px 0;
}

#tab_content  .tab_frame_content1 .more_link{
	background: url(../images/tab_transparent_bg.png) repeat ;
	border:none;
	position:absolute;
	 right:0;
	 bottom:0;
	 width:170px;
}

#tab_content  .tab_frame_content1 .more_link .view_all_video{
	margin:18px 0 18px 0px;
}

/********/

/*Brupper Slider*****######******/
ul#whatnew{
	list-style:none;
	 height: 430px 
}

ul#whatnew li .whatnewtext{
	font-size:14px;
	font-style:oblique;
	font-weight:normal;
	line-height:22px;
	margin:10px 0;
}

.whatnewcontrols{
	width:258px;
	padding-top:20px;
}

.whatnewcontrols a{
	background:url(../images/burrp/bullets.png) no-repeat 0 -12px;
	width:10px;
	height:12px;
	float:left;
	margin:5px;
}

.whatnewcontrols a.active, .whatnewcontrols a:hover{
	background-position:0 0;
}

.whatnewcontrols a span{
	visibility:hidden;
}

/**********/



/*Brupper REVIEW*****######******/
#burrp_reviews .row, #burrp_events .row {
    background:#FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    float: left;
    margin: 0 -15px;
    padding: 10px 15px;	
	position:relative;
}
#burrp_reviews .row_alt, #burrp_review .row, #burrp_events .row_alt {
    background:#FCFCFC;
    border-bottom: 1px solid #F5F5F5;
    float: left;
    margin: 0 -20px;
    padding: 10px 15px;
	width:526px;
	position:relative;
}

#burrp_events .row, #burrp_events .row_alt{width:508px; margin: 0 -20px; padding:20px;}

#burrp_review .row.feature, #burrp_reviews .row_alt.feature{
	 background:#fffaec;
	 margin-bottom:-19px;
	 padding:15px 15px;
	 border-top: 1px solid #cccccc;
	 border-bottom: none;
}

#burrp_review .row.feature, #burrp_reviews .row_alt.feature .burrp_reviews_featured{
	background:url(../images/burrp/burrp_feature.png) no-repeat;
	width:56px;
	height:56px;
	position:absolute;
	top:0;
	left:0;
}


#burrp_reviews .row .brpRev_ContDiv, #burrp_reviews .row_alt .brpRev_ContDiv {
    float: left;
    width: 143px;
}
#burrp_reviews .row_data {
    float: left;
    margin: 0 0 0 10px;
    width: 363px;
}
#burrp_reviews .row .ratedby .title, #burrp_reviews .row_alt .ratedby .title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}
#burrp_reviews .row .row_data .title, #burrp_reviews .row_alt .row_data .title {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    margin: 5px 0;
    padding: 0;
}
#burrp_reviews .row_data .description {
    color: #333333;
    margin: 0;
    padding: 10px 0 0 0;
	line-height:20px;
}
#burrp_reviews .row_data .info {
    color: #999999;
    font-style: italic;
    margin: 0;
    padding: 0;
	font-size:11px;
}
#burrp_reviews .row_data .read_artical, #burrp_day .read_artical{
    background: url("../images/movies/icon_zoom.png") no-repeat scroll left top transparent;
    float: left;
    height: 13px;
    padding: 5px 5px 0;
    width: 13px;
}

#burrp_reviews  .rated_rating_divs, #burrp_events .recent_review {
	color:#666666;
	font-size:11px;
}

#eventRateList .rated_rating_divs .rating_small1, .feature_business .rated_rating_divs .rating_small1, #burrp_events .recent_review  .rating_small1{
	margin:0;
}

#burrp_reviews .rating_big, #burrp_news .rating_big{
	margin:8px 0 0 0;
}

/*#burrp_reviews .row_data .jRatingSmall, .feature_business .list .jRatingSmall, #burrp_events .event_overview .jRatingSmall, #burrp_events .recent_review .jRatingSmall{
	background:url(../images/burrp/star_m_active.png) no-repeat;
	height:16px;
	width:16px;
}

#burrp_reviews .row_data .jStarSmall, .feature_business .list .jStarSmall, #burrp_events .event_overview .jStarSmall, #burrp_events .recent_review .jStarSmall{
	background:url(../images/burrp/star_m_inactive.png) no-repeat;
	height:16px;
	width:16px;
}*/

#burrp_reviews .row_data .post {
    background-position: -255px -53px;
    display: inline-block;
    float: none;
    height: 11px;
    margin: 1px 4px 0;
    padding: 0;
    width: 14px;
}



#burrp_reviews .brpRev_ContDiv .reviewbyUser {
    float: left;
    font-size: 11px;
    margin: 3px 8px 0 0;
    text-align: center;
    width: 55px;
	border: 1px solid #D6D6D6;
    padding: 2px;
	 overflow: hidden;
}

#burrp_reviews .brpRev_ContDiv .reviewbyUser .reviewCount {
    color: #999999;
    font-size: 9px;
}

#burrp .right_gray_block258{
	width:260px;
	height:inherit;
}

#burrp .frame50, #feature_business * .frame50, #looking_for .frame50{
	width:50px;
	height:50px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	}
	
#burrp .frame72_72{
	width:72px;
	height:72px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}

#burrp .frame100{
	width:100px;
	height:100px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	}
	
#burrp .frame110,
#bcity .frame110{
	width:110px;
	height:110px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
#burrp .frame240_135{
	width:240px;
	height:135px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
#burrp .frame220_220{
	width:220px;
	height:220px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
#burrp .frame180_180{
	width:180px;
	height:180px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	

#burrp .frame84_84, #burrp_events .frame84_84{
	width:84px;
	height:84px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
#burrp .frame227_170{
	width:227px;
	height:170px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
#burrp .frame136_193{
	width:136px;
	height:193px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
#burrp .frame1120_68{
	width:120px;
	height:68px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
#burrp .frame248_113{
	width:248px;
	height:113px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	position:relative;
	}
	
	

#burrp_day{	padding:20px 0 15px}

#burrp_day h2{
	font-size:14px;
	font-weight:bold;
	margin:15px 0;
}	

#burrp_day .follow_details{
	float:right;
	width:125px;
	font-size:11px;
	color:#666666;
}

#burrp_day .follow_details h2, #burrp_news .news_details h2 {
	font-size:14px;
	line-height:20px;
	color:#333333;
	margin:0;
}

#burrp_day .follow_details p, #burrp_day .follow_details .dropdown{
	margin-top:10px;
}

#burrp_day .news_blockquote{
    color: #333333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
    width: 210px;
	}
	
#burrp_day .blue_anchor a, #burrp_reviews .row_data .blue_anchor a{
	font-size:11px;
}
	
#burrp_day .read_artical{
	margin-left:40px;
}

#burrp .right_gray_block258 .burrpers_love h3{
	margin:10px 0 15px 0;
}

.burrpers_love .block58, #burrp_browse .burrpers_love .block58{
	float:left;
	width:58px;
	height:80px;
	overflow:hidden;
	padding-right:8px;
	font-size:11px;
	color:#999999;
	text-align:center;
	line-height:17px;
}

.burrpers_love .block58 p{
	margin:0;
	font-size:11px;
	color:#999999;
	text-align:center;
	line-height:17px;
	font-weight:normal;
}

#burrp_browse .burrpers_love .block58{
	padding-right:8px;
}


.burrpers_love .block58.last, #burrp_browse .burrpers_love .block58.last, #burrp_events .list.last{
	margin:0;
	padding:0;
}

#burrp_browse .burrpers_love p{
	font-size:11px;
	color:#999999;
	text-align:center;
	line-height:17px;
	font-weight:normal;
	margin:0;
}


#burrp_poll{
	width:260px;
	float:left;
	*height:330px;
}

#active_feed{
	width:500px;
	float:right;
}

#burrp_poll .description{
	font-size:11px;
	color:#999999;
}


#burrp_poll p.font14{
	line-height:24px;
	text-align:center;
	font-size:15px;
}

#active_feed .feed_box{
	background:#fff5e1 url(../images/burrp/feed_bg.gif) no-repeat top center;
	border:1px solid #edca89;
	border-radius:3px;
	-moz-border-radius:3px;
	-webki-border-radius:3px;
	margin-left:70px;
	position:relative;
	padding:10px 10px 5px 10px;
	line-height:16px;
}

#active_feed .feed_box.comment_review{
	margin:0;
}

#active_feed .feed_box .curve{
	background:url(../images/burrp/feed_curve.gif) no-repeat;
	width:11px;
	height:7px;
	position:absolute;
	left:15px;
	bottom:-7px;
}

#active_feed .feed_box .description, #burrp_happening  .hepn_block110 .description, #burrp_happening .lft_cl .frame_detail  .description{
	color:#666666;
}

#active_feed .feed_box .description em{
	color:#999999;
	line-height:22px;
}

#burrp_news .right_gray_block{
	height:inherit;
}

#burrp_news .news_details{
	float:left;
	width:190px;
	margin:0 15px;
	color:#666666;
	line-height:16px;
}

#burrp_news .news_details h2{
	line-height:22px;
}

#burrp_news h3.blue, #burrp_news h3.red{
	font-size:12px;
	margin:5px 0 0 0;
}	

#burrp_news h3.red{
	margin:0 0 0;
	float:none;
}

#burrp_news .block130{
	float:left;
	width:130px;
	height:128px;
	margin-top:15px;
	text-align:center;
	line-height:16px;
	color:#666666;
	font-size:11px;
	margin-right:24px;
}	

#burrp_news .block130.last{
	margin-right:0;
}

#burrp_news .block130 a{
	font-size:12px;
}

#burrp_news .frame115{
	width:115px;
	height:64px;
	padding:3px;
	background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
	float:left;
	margin-bottom:5px
	}
	
#burrp_news .block130 .rating_big {
    margin:2px 0 0;
}


#burrp_happening .lft_cl{
	float:left;
	width:490px;
	border-right:1px solid #cccccc;
}

#burrp_happening .rgt_cl{
	float:left;
	width:305px;
	padding-left:20px;
	border-left:1px solid #cccccc;
	margin-left:-1px;
}


#burrp_happening  .hepn_block110{
	float:left;
	margin:0 15px;
	text-align:center;
	width:130px
}

#burrp_happening  .hepn_block110.last{
	margin-right:0;
}

#burrp_happening  .hepn_block110 .frame100{
	margin:3px auto;
	float:none;
}

#burrp_happening .lft_cl .g-strip {
    background: url(../images/Btime_tag.png) no-repeat left top transparent;
    height: 19px;
    position: absolute;
    right: -5px;
    bottom: 15px;
    width: 57px;
    z-index: 9;
}

#burrp_happening .lft_cl .g-strip .text {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 3px 5px 0;
    text-align: left;
}

#burrp_happening .lft_cl .frame_detail{
	float:left;
	width:180px;
	margin-left:15px;
}

#burrp_happening .lft_cl .frame_detail h3{
	font-size:12px;
	text-transform:none;
	margin:0;
}

#burrp_happening .lft_cl .frame_detail h1{
	font-size:25px;
	line-height:25px;
	color:#333333;
	margin-bottom:18px;
}


#burrp_follows{
	margin-top:20px;
}

#burrp_follows hr.dashed3{
	margin:4px 0;
	border-color:#c4c4c4;
}

#burrp_follows .gry_block_left{
	width:190px;
	background:#f5f5f5;
	border:1px solid #deded6;
	padding:0 20px 20px
}
#burrp_follows .tweet_block{
	width:260px;
	margin:0 17px;
}

#burrp_browse .tweet_block{
	padding-bottom:20px;
}

#burrp_follows .fb_block{
	width:292px;
}

.tweet_block .tweet_user_detail .description, #burrp_browse .tweet_block .tweet_user_detail .description{
	font-size:11px;
	color:#333333;
	line-height:16px;
	text-align:left;
}

#burrp_follows .tweet_block .tweet_row, #burrp_browse .tweet_block .tweet_row{
	margin:0 0 10px;
	padding:0 0 10px
}

#burrp_follows .tweet_block .tweet_row.last, #burrp_browse .tweet_block .tweet_row.last{
	margin:0;
	padding:0;
	border:none;
}

.tweet_block .tweet_user{
	width:63px;
}

.tweet_block .tweet_user .description1, .tweet_block .tweet_user .description1{
	font-size:11px;
	color:#666666;
	font-weight:normal;
	margin:0;
	text-align:left;
}

.tweet_block .tweet_user_detail, #burrp_browse .tweet_block .tweet_user_detail{
	width:170px;
	margin:0 0 0 20px;
}

#burrp_follows .tweet_block .tweet_user, #burrp_browse .tweet_block .tweet_user{
	width:65px;
}

/*Block2 Browse Section css***************/

#burrp_browse .white_block_full{background:#fafafa;}

#burrp .block2 .top_bar{height:inherit;	padding:50px 20px 0;}
#burrp .block2 .top_bar.tab_bar{padding:20px;}
#burrp .block2  .dropdown1{	margin:5px 0 0 20px}
#burrp .block2 .dropdown.gry, #burrp .block1 .dropdown.gry{margin:5px 0 0 0;}
#burrp .block1 .navi_title {margin:10px 15px 0 0;}

#burrp .block2 .dropdown.gry .drop_left,
#burrp .block1 .dropdown.gry .drop_left,
#serp_filter * .dropdown.gry .drop_left,
#gray_dropdown.dropdown.gry .drop_left{background:url(../images/burrp/gry_drop_btn.png) no-repeat;}

#burrp .block2 .dropdown.gry .drop_right,
#burrp .block1 .dropdown.gry .drop_right,
#serp_filter * .dropdown.gry .drop_right,
#gray_dropdown.dropdown.gry .drop_right{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% 0;}

#burrp .block2 .dropdown.gry .drop_middle,
#burrp .block1 .dropdown.gry .drop_middle,
#serp_filter * .dropdown.gry .drop_middle,
#gray_dropdown.dropdown.gry .drop_middle{background:url(../images/burrp/gry_drop_btn.png) repeat-x 0 -75px;}

#burrp .block2 .dropdown.gry .drop_right1 ,#burrp .block1 .dropdown.gry .drop_right1{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -150px;}

#burrp .block2 .dropdown.gry a:hover .drop_left, #burrp .block1 .dropdown.gry a:hover .drop_left{background:url(../images/burrp/gry_drop_btn.png) no-repeat 0 -25px;}
#burrp .block2 .dropdown.gry a:hover .drop_right, #burrp .block1 .dropdown.gry a:hover .drop_right{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -25px;}
#burrp .block2 .dropdown.gry a:hover .drop_middle, #burrp .block1 .dropdown.gry a:hover .drop_middle{background:url(../images/burrp/gry_drop_btn.png) repeat-x 0 -100px;}
#burrp .block2 .dropdown.gry a:hover .drop_right1 ,#burrp .block1 .dropdown.gry a:hover .drop_right1{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -175px;}


#burrp .block2 .dropdown.gry a:active .drop_left, #burrp .block2 .dropdown.gry a.active .drop_left, #burrp .block1 .dropdown.gry a:active .drop_left, #burrp .block1 .dropdown.gry a.active .drop_left{background:url(../images/burrp/gry_drop_btn.png) no-repeat 0 -50px;}
#burrp .block2 .dropdown.gry a:active .drop_right, #burrp .block2 .dropdown.gry a.active .drop_right, #burrp .block1 .dropdown.gry a:active .drop_right, #burrp .block1 .dropdown.gry a.active .drop_right{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -50px;}
#burrp .block2 .dropdown.gry a:active .drop_middle, #burrp .block2 .dropdown.gry a.active .drop_middle, #burrp .block1 .dropdown.gry a:active .drop_middle, #burrp .block1 .dropdown.gry a.active .drop_middle{background:url(../images/burrp/gry_drop_btn.png) repeat-x 0 -125px;}
#burrp .block2 .dropdown.gry a:active .drop_right1, #burrp .block2 .dropdown.gry a.active .drop_right1, #burrp .block1 .dropdown.gry a:active .drop_right1, #burrp .block1 .dropdown.gry a.active .drop_right1{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -200px;}

#burrp .block1 .dropdown.gry .drop_text{padding:5px 6px 0; text-shadow:1px 1px 0px #666;}


#burrp_browse .burrp_frame_main{background:url(../images/music_artist_bg.png) no-repeat 0 -8px; min-height:220px; width:860px; overflow:hidden;}
#burrp_browse .burrp_frame_main_block{width:150px; float:left; margin:0 17px 0 42px; text-align:center; color:#666666; font-size:11px; position:relative;}
#burrp_browse .burrp_frame_small_block{width:105px; float:left; margin:10px 19px; text-align:center; color:#666666; font-size:11px; position:relative;}
#burrp_browse .events .burrp_frame_small_block { margin:10px 37px 10px 0;}
#burrp_browse .events .burrp_frame_small_block.last { margin:10px 0 10px 0;}

#burrp_browse .burrp_frame_main_block .rating_big, #burrp_browse .burrp_frame_small_block .rating_big {float: none; margin: 5px auto 0; width: 130px;}
#burrp_browse .burrp_frame_main_block p, #burrp_browse .burrp_frame_small_block p, #burrp_events .burrp_frame_main.no_frame .burrp_frame_main_block p{font-size:12px; color:#333333;}
#burrp_browse .burrp_frame_main_block p.description, #burrp_browse .burrp_frame_main_block p a, #burrp_browse .burrp_frame_small_block p a, #burrp_browse .burrp_frame_small_block p.description, #burrp_events .burrp_frame_main.no_frame .burrp_frame_main_block p.description, #burrp_events .burrp_frame_main.no_frame .burrp_frame_main_block1 p.description{font-size:11px; color:#666666;}


#burrp_browse  #burrp_city{padding:170px 0 10px}
#burrp_city .grybg{background:#f5f5f5;}

.slideshow{position:relative; padding:4px; background:#FFFFFF; border: 1px solid #C4C4C4; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 2px #CCCCCC; width:501px;}
.slideshow .slider_img{width:501px;	height:247px; position:relative;}
.slideshow .slider_img .slider_caption{position:absolute; left:0; bottom:0;	background:url(../images/dot_trans.png) repeat;	padding:5px 10px; font-size:16px; font-weight:bold;	color:#ffffff;	width:481px; line-height:20px;}
.slideshow .slider_img .slider_caption .info{font-size:11px; font-weight:normal; font-style:italic; color:#999999;}
.slideshow a.arrowN {background-position: -954px -505px; cursor: pointer;  height: 52px;  position: absolute; right: 3px; top: 110px; width: 27px; z-index: 9;}
.slideshow a.arrowN:hover {background-position: -954px -559px;}
.slideshow a.arrowN.active {background-position: -954px -614px;}
.slideshow a.arrowN.disable {background-position: -954px -669px;}
.slideshow a.arrowB {background-position: -927px -505px;  cursor: pointer; height: 52px; left: 4px; position: absolute; top: 110px; width: 27px; z-index: 9;}
.slideshow a.arrowB:hover {background-position: -927px -559px;}
.slideshow a.arrowB.active {background-position: -927px -614px;}
.slideshow a.arrowB.disable {background-position: -927px -669px;}


#burrp_city .lft_cl{float:left;	width:254px; padding:0 40px 0 0; border-right:1px solid #cccccc;}
#burrp_city .rgt_cl{float:left; width:175px; padding-left:35px;	border-left:1px solid #cccccc; margin-left:-1px;}
#burrp_city .lft_cl .frame_detail{float:none; margin:10px 0; display:block; width:inherit;}
#burrp_city .lft_cl .frame_detail h1, #burrp_city .lft_cl .frame_detail h1 a{ font-size:25px; line-height:25px; color:#333333;}
#burrp_city .lft_cl .frame_detail .info{font-size:12px; font-style:italic; color:#666666; margin-bottom:5px}
#burrp_city .lft_cl .frame_detail .description{font-size:12px; color:#666666; margin:20px 0;}

#burrp_city .rgt_cl .frame_detail{float:none; padding:8px 0; margin:0; display:block; width:inherit; border-bottom:1px dotted #cccccc;}
#burrp_city .rgt_cl .frame_detail .info, .feature_list .info, .seo .info{font-size:11px; font-style:italic; color:#666666; }
#burrp_city .rgt_cl .frame_detail .title, #burrp_city .rgt_cl .frame_detail .title a{font-size:14px; color:#333333; margin:5px 0 0 0; font-weight:bold;}
.feature_list .info, .seo .info{line-height:20px;}
#burrp_city .block_right300 .frame_small_detail{padding:10px 0;}

.feature_list{background:#ffffff; border:1px solid #DEDBD6;}
.feature_list ul{line-height:24px; list-style:none;}
.feature_list .tab_small{width:300px; background:none; border-left:none; border-right:none;}
.block_right300 .feature_list .tab_small a{background:url(../images/burrp/editorial_tab.png) no-repeat; float:left; height:69px;}
.feature_list .tab_small a.editorial_tab{background-position:0 -1px; width:150px}
.feature_list .tab_small a.user_tab{background-position:-150px -1px; width:150px}
.feature_list .tab_small a.editorial_tab:hover, .feature_list .tab_small a.editorial_tab.active{background-position:0 -71px;}
.feature_list .tab_small a.user_tab:hover, .feature_list .tab_small a.user_tab.active{background-position:-150px -71px;}


#burrp_browse .events{background:#ffffff; border:1px solid #DEDBD6;	border-bottom:none;	padding:0 20px;}
#burrp_events .burrp_frame_main.no_frame{background:none;}	
#burrp_events .burrp_frame_main.no_frame img {margin:0;}
#burrp_events .burrp_frame_main.no_frame .burrp_frame_main_block{margin:0 10px; width:148px; float:left; text-align:center;}
#burrp_events .burrp_frame_main.no_frame .burrp_frame_main_block1{margin:0 10px; width:107px; float:left; text-align:center;}	
#burrp_events .burrp_frame_main.no_frame .burrp_frame_main_block .frame84_84, #burrp_events .burrp_frame_main.no_frame .burrp_frame_main_block1 .frame84_84{float:none; margin:10px auto;}

#burrp_events .event_calendar{position:relative; margin:0 -20px; border-top:1px solid #C4C4C4; 
	color: #333333;
    font-family: 'oswald-webfont';
    font-size: 12px;
    font-weight: normal;
	text-transform:uppercase;
	text-align:center;
	}
	
#burrp_events .event_calendar .current_month{
	background:#eeeeee;
	/*width:255px;
	float:left;*/
	border-right:1px solid #C4C4C4;
	/*padding:3px 0;*/
}
#burrp_events .event_calendar .next_month{
	background:#fafafa;
	/*width:42px;
	float:left;*/
	border-right:1px solid #C4C4C4;
	/*margin-left:-1px;
	padding:3px 0;*/
}

#burrp_events .event_calendar ul{
	background:url(../images/burrp/event_clndr_bg.png) repeat-x 0 0;
	display:block;
	height:43px;
	/*padding:0 2px 0 2px;*/
	list-style:none;
	}
	
#burrp_events .event_calendar ul li{
	background:url(../images/burrp/event_clndr_bg.png) repeat-x 100% 0;
	float:left;
	font-size:10px;
	color:#ffffff;
	line-height:15px;
	padding:3px 13px 3px 13px;
	height:36px;
	cursor:pointer;
}

#burrp_events .event_calendar ul li.last{
	background-position:0 0;
}

#burrp_events .event_calendar ul li:hover, #burrp_events .event_calendar ul li.active{
	background:url(../images/burrp/event_clndr_bg.png) repeat-x 100% -43px;
}

#burrp_events .event_calendar ul li span{
	display:block;
	font-size:15px;
	font-weight:bold;
}

#burrp_events .event_week{
	margin:15px 0 15px;}
	
#burrp_events .block_right300 .event_week .frame_small_detail{width:180px;}
#burrp_events .block_right300 .event_week .frame_small_detail p.info, #burrp_events .block_right300 .event_week .frame_small_detail p.date{margin:0; line-height:16px}

/**HOME PAGE END*****************************************************************************************************************************************************************/

/**EVENTS PAGE STARTED*****************************************************************************************************************************************************************/
#burrp_events .block_left548, #burrp_city .block_left548{width:548px; background:#ffffff; border:1px solid #dedbd6;}

#burrp_events .spacr{padding:20px;}
#burrp_events h3.head, #burrp_city h3.head{padding:20px; font-size:18px; margin:0;}
#burrp #burrp_events hr.dashed3{border-top: 1px dashed #cccccc;}
#burrp_events .frame_detail{width:300px; float:right; margin:0; position:relative;}
#burrp_events .frame_detail .head{font-size:14px; font-weight:bold; line-height:26px; margin-right:60px;}
#burrp_events .info, #burrp_browse .events .info{color:#666666; font-size:11px; margin:10px 0 20px 0; font-weight:normal;}
#burrp_events .info, #burrp_browse .events .feature_list div.info{margin:5px 0 20px 0;}
#burrp_events .review_count2.info{margin: 5px 5px 20px;}
#burrp_events .frame_detail .description{font-size:12px; line-height:18px; margin:10px 0 ; color:#333333; font-style:normal;}

#burrp_events .frame_detail .date{position:absolute; top:0; right:0; text-align:center; font-family: 'oswald-webfont'; text-transform:uppercase;}
#burrp_events .frame_detail .date span.upto, #eventRateList .list .date span.upto{font-size:10px; font-style:normal; display:block; color:#999999;}
#burrp_events .frame_detail .date span.time, #eventRateList .list .date span.time{font-size:32px; font-style:normal; display:block; font-family:'anton-webfont'; color:#d53225; line-height:32px;}
#burrp_events .frame_detail .date span.month, #eventRateList .list .date span.month{font-size:10px; font-style:normal; display:block; background:#d53225; padding:2px 3px; color:#ffffff; margin:2px 0;}
#eventRateList .list  .date{float:right; text-align:center; font-family: 'oswald-webfont'; text-transform:uppercase;}
#eventRateList .list  .date .date_to, .date .date_to{float:left; margin:5px 3px;}
#burrp_events .events{padding:1px 20px;}
#burrp_events .events .burrp_frame_main{background:url(../images/burrp/img_stnd.jpg) no-repeat; min-height:190px; width:530px; overflow:hidden; margin-left:-10px;}
#burrp_events .events .burrp_frame_main_block, #eventRateThumbs .burrp_frame_main_block{width:126px; float:left; margin:0 16px 20px 25px; text-align:center; color:#666666; font-size:11px;}
#eventRateThumbs .burrp_frame_main_block{width:140px; font-size:12px;}
#eventRateThumbs .burrp_frame_main_block .info{margin:0; line-height:20px;}
#eventRateThumbs{border-top: 1px dotted #CCCCCC; padding-top:12px;}
#burrp_events .events .burrp_frame_main .burrp_frame_main_block{margin:0 16px 0 30px;}
#burrp_events .events .burrp_frame_main_block img{margin:9px 10px 0;}
#burrp_events .events .info, #burrp_browse .events .info{margin:-10px 0 20px;}
#burrp_events .events .burrp_frame_main .info, #burrp_events .events .burrp_frame_main_block .info{margin:3px 3px 20px;}
#burrp_events .block_left548 .more_link_big{border:1px solid #e4e4e4; border-right:none; border-left:none;}

#burrp_events .block_right300 .event_listing ul,
#burrp_city .block_right300 .event_listing ul,
ul.burrp_recently_viewed {list-style:none; line-height:24px; margin:10px 0 15px;}
.event_listing ul.burrp_recently_viewed li a {
	display:inline-block !important;
	font-size:12px !important;
	padding:0 !important;
}
#burrp_events .block_right300 .event_listing ul em, #burrp_city .block_right300 .event_listing ul em{font-size:11px;}
#burrp .block_right300 .zigzagbox p.title, .zigzagbox.left_align p.title{color:#666666; font-size:14px; line-height:20px; margin:0 0 15px;}
#burrp .block_right300 .zigzagbox p.title a, .zigzagbox.left_align p.title a{color:#666666; text-decoration:underline;}
#burrp .block_right300 .zigzagbox .big_gray_input, .zigzagbox.left_align .big_gray_input{width:167px; margin:0;}
#burrp .block_right300 .zigzagbox .big_gray_input_mid,
#burrp_events .block_right300 .zigzagbox .big_gray_input_mid input,
.zigzagbox.left_align .big_gray_input_mid,
.zigzagbox.left_align .big_gray_input_mid input{width: 140px !important;}

#burrp_events .block_right300 .frame_small_detail,
#burrp_city .block_right300 .frame_small_detail,
#burrp_events .frame_small_detail,
#bcity .frame_small_detail,
.seo .frame_small_detail{float: left; width: 150px; padding-left:10px;}

#burrp_events .block_right300 .frame_small_detail p.title,
#burrp_events .frame_small_detail p.title,
.event_day  p,
#bcity .frame_small_detail p.title{font-size: 12px;  font-weight: bold;  margin: 5px 0 0 0;  padding: 0;	text-align:left;}

#burrp_events .frame_small_detail p.info, #burrp_events .block_right300 .frame_small_detail p.date{font-size: 11px; font-style:italic; color:#666666; font-weight:normal; margin: 0 0 5px;  padding: 0; text-align:left; line-height:18px}

#burrp_events .block_right300 .frame_small_detail p.description,
#bcity .frame_small_detail p.description {font-size: 12px;  font-weight: normal;  margin: 5px 0;  padding: 0;	text-align:left; font-style:normal; color:#333333;}

#burrp_events .block_right300 .frame_small_detail.bcity,
#bcity .frame_small_detail.bcity {width:130px;}
#burrp_events .block_right300 .frame_small_detail.bcity p.title,
#bcity .frame_small_detail.bcity p.title {font-size:14px;}
#burrp_events .block_right300 .frame_small_detail.bcity p.description,
#bcity .frame_small_detail.bcity p.description{font-size:12px; color:#666666; margin:5px 0 0 0;}

#burrp_events .block_right300 form.event_form{margin:20px 0;}
#burrp_events .block_right300 form.event_form .big_gray_input{width:inherit; margin:0 0 10px 0;}
#burrp_events .block_right300 form.event_form .big_gray_input_mid input, #burrp_events .block_right300 form.event_form .big_gray_input_mid {width:230px !important;}
#burrp_events .block_right300 form.event_form .calendar{width:123px; position:relative;}
#burrp_events .block_right300 form.event_form .calendar .big_gray_input_mid {width:96px !important;}
#burrp_events .block_right300 form.event_form .calendar .big_gray_input_mid input{width:75px !important;}
#burrp_events .block_right300 form.event_form  .calendar .big_gray_input .calendar_icon,#date_row * .big_gray_input .calendar_icon{background:url(../images/burrp/calendar_icon.png) no-repeat; width:20px; height:20px; position:absolute; right:12px; bottom:3px;}
#burrp_events .block_right300 form.event_form .calendar .txt{padding:5px 20px 5px 20px; font-size:11px; color:#666666;}
#burrp_events .block_right300 form.event_form .mail_add{float:right; width:180px; margin:20px 0 0;}
#burrp_events .block_right300 form.event_form .mail_add a{font-size:11px;}
#burrp_events .block_right300 form.event_form .calendar .big_gray_input{margin:0;}
#burrp_events .event_listing .dashed3{ border-color:#cccccc;}

.event_day{padding:20px 15px 0; text-align:center;}
#burrp .event_day .frame180_180{margin:0 auto; float:none;}
.event_day p span.info{margin:0;padding:0;}
#burrp_events .dropdown1{margin:15px 0 0 0;}
#burrp_events .city_best {border-bottom:1px dotted #c4c4c4; margin-bottom:8px; padding-bottom:8px; line-height:24px; color:#666666;}
#burrp_events .city_best .title{font-size:14px; font-weight:bold; line-height:30px}
#burrp_events .city_best strong{color:#333333;}
.city_best_lt{border-right:1px solid #c7c7c7; width:226px; padding-right:28px;}
.city_best_rt{border-left:1px solid #c7c7c7; width:225px; padding-left:28px; margin-left:-1px}

/******************************/

.events_details{
	float:left;
	width:190px;
}

#burrp  .events_details h3 {
    color:#D53225 ;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#burrp  .events_details  h1,
{
	font-size:30px;
	line-height:30px;
}


#burrp_events  .exclus_frame22 {
    float: left;
    margin: 0 60px 0 2px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 128px;
	line-height:18px;
}

#burrp_events .exclus_frame22 .frame22 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 75px;
    margin: 0 0 5px 0;
    padding: 0;
    width: 128px;
}

#burrp_events .exclus_frame22 .frame22 .photo22 {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 67px;
    margin: 4px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 120px;
}

#burrp_events .exclus_frame22 .title {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
	color:#222222;
}

#burrp_events .exclus_frame22 .info{margin:0; font-style:italic; color:#999999;}
#burrp_events  .exclus_frame22.last {margin: 0;}
/*******************************/

/**BURRP SERP PAGE STARTED*****************************************************************************************************************************************************************/

#event_naviagion {background:#F6F6F6; border-top:1px solid #CDCDCD; border-bottom:1px solid #CDCDCD; height: 40px; padding: 0; position: relative;}
div.serp_burrp_submenu {margin:0 0 20px -20px;width:858px;}
div.serp_burrp_submenu.no_bot_margin {margin:0 0 0 -20px;}
ul.serp_burrp_submenu {}
#event_naviagion ul{list-style:none; display:block;}
#event_naviagion ul li{border-top:1px solid #ffffff; border-right:1px solid #d1ceca; border-left:1px solid #ffffff;	border-bottom:none;	float:left;	/*position:relative;*/}
#event_naviagion ul li.width180{width:180px;}
#event_naviagion ul li.last{border-right:none;}
#event_naviagion ul li a{padding:8px 12px 8px 3px; float:left;	font-family: 'oswald-webfont'; font-size:14px; text-transform:uppercase; position:relative;}
#event_naviagion ul li a:hover, #event_naviagion ul li a.active {color: #D53225;}
#event_naviagion ul li span{background:url(../images/in_sprite1.png) no-repeat -390px -120px; width:12px; height:8px; margin:7px; float:left;}
#event_naviagion ul ul{position:absolute; left:0; top:40px; background:#ffffff; border-right:1px solid #d1ceca;	box-shadow:0 3px 5px 1px #888888; -moz-box-shadow:0 3px 5px 1px #888888; -webkit-box-shadow:0 3px 5px 1px #888888; border-radius:3px;		
						-moz-border-radius:3px;	-webkit-border-radius:3px; 	display:none; z-index:9999;}
#event_naviagion ul li.last ul{/*left:inherit; right:-8px;*/}
#event_naviagion ul ul.price{width:351px;}
#event_naviagion ul ul.price{width:351px;}
#event_naviagion ul ul.locality{width:546px;}
#event_naviagion ul ul.locality.burrp_type{width:367px;}
#event_naviagion ul ul li{border:none; float:none; display:block;}
#event_naviagion ul ul li .grybg{background:#f9f9f9; padding:0 0 0 10px; overflow-y:scroll; overflow-x:hidden; height:200px}
#event_naviagion ul ul li .listing{border-bottom:1px solid #f0f0f0; padding:15px 0;}
#event_naviagion ul ul li .listing input[type=checkbox]{margin:3px 10px 0 0;}
#event_naviagion ul ul li .listing .rs{background:url(../images/burrp/rs_symbol.png) no-repeat 0 0; width:10px; height:17px; margin:0px 2px; padding:0;}
#event_naviagion ul ul li .listing .rs.active{background:url(../images/burrp/rs_symbol.png) no-repeat 0 -17px;}
#event_naviagion ul ul li .listing .quality_price{background:none; font-size:11px; color:#666666; font-style:italic; width:inherit; margin:3px 7px;}
#event_naviagion ul ul li .listing .quality_price em{color:#000;}
#event_naviagion ul ul li .listing .list_left{width:170px; float:left;}
#event_naviagion ul ul li .listing .list_left .quality_price{width:auto;}
#event_naviagion ul ul li .search_sec{background:url(../images/burrp/search_sec.png) no-repeat 0 -99px; width:217px; height:25px;}
#event_naviagion ul ul li .search_sec input{  background: none; border: medium none; margin: 5px 0 0 10px; width: 175px; font-family: 'opensan-webfont'; font-style:italic; color:#fff; font-size:12px;}
#event_naviagion ul ul li a.btn_search {background:url(../images/in_sprite1.png) no-repeat -737px -905px; float: left; height: 24px; margin:0; padding:0; text-indent:-9999px; width: 69px;}
#event_naviagion ul ul li a.cancel{font-family:Arial, Helvetica, sans-serif; font-size:11px; padding:0; margin:5px 15px; font-style:oblique; text-transform:none;}
#event_naviagion ul li a span.calendar{background:none; width:13px; height:14px; float:right; overflow:hidden; margin-top:3px;}
#event_naviagion ul li a span.calendar input{visibility:hidden; height:0; position:absolute;}
#event_naviagion ul li a span.calendar img{margin-left:-20px;}

#eventRateList .list{padding:12px; border-top:1px dotted #cccccc; position:relative;}
.feature_business .list{padding:12px 0; position:relative;}
#eventRateList .list.sponsered, .yellowbg{background:#fffaec;}
#eventRateList .list .address{font-size:12px; text-align:right; width:125px;}
#eventRateList .list .address.address_serp{font-size:12px; text-align:right; width:119px;}

#eventRateList .list .address1{font-size:12px; text-align:right; margin:-10px 0 0 105px; position:relative;}
.feature_business .list .address{font-size:12px; text-align:left; width:100%;}
#eventRateList .list .address a, #eventRateList .list .address p, .feature_business .list .address a{font-size:11px; margin-bottom:15px; display:block;}
.feature_business .list .address p, #eventRateList .list .address1 p, #burrp_events  .burrp_awards .list .detail .description{font-size:12px; margin:5px 0; padding:0; display:block; font-weight:normal; color:#333333; text-align:left; font-style:normal;}
#burrp_events #eventRateList .list .detail,
#feature_business .feature_business .list .detail{float:left; width:275px; padding:0 15px; margin:0;}


#burrp_events #eventRateList .list .detail.detail_serp{float:left; width:255px; padding:0 0 0 15px; margin:0;}
#burrp_events .feature_business .list .detail,
#feature_business .feature_business .list .detail {float:left; width:185px; padding:0 15px 0 0; margin:0;}
#eventRateList .list .detail .head, .feature_business .list .detail .head, #burrp_events  .burrp_awards .list .head, #burrp_events  .recent_review .list .head{font-size:14px; font-weight:bold; color:#222222;}
.feature_business .list .detail .head{font-size:13px;}

#eventRateList .list .detail .head span,
#eventRateList .list .detail .review,
#burrp_events .block_right300 .event_listing ul span,
ul.burrp_recently_viewed span,
.feature_business .list .detail .head span,
.feature_business .list .detail  .review{color:#666666; font-size:11px; font-style:italic; font-weight:normal;}

#burrp_events .block_right300 .event_listing ul span.info{font-style:normal; display:block; margin:0; line-height:11px;}
#eventRateList .list .detail .review.type{color:#999999; line-height:20px;}
#eventRateList .list .detail .rs_sm{background:url(../images/burrp/rs_symbol.png) no-repeat -12px 0; width:8px; height:17px; margin:0px 2px; padding:0; float:left;}
#eventRateList .list .detail .rs_sm.active{background:url(../images/burrp/rs_symbol.png) no-repeat -12px -17px;}

#eventRateList .list .detail .event_feature{ height:22px; margin:10px 0; width:120px; float:left;}

#eventRateList .list .detail .event_feature .event_menu{background:url(../images/burrp/feature_icon.png) no-repeat 0 -22px; float:left; width:27px; height:22px; text-indent:-9999px}
#eventRateList .list .detail .event_feature .event_menu.act{background:url(../images/burrp/feature_icon.png) no-repeat 0 0; float:left; width:27px; height:22px; text-indent:-9999px}

#eventRateList .list .detail .event_feature .event_photo{background:url(../images/burrp/feature_icon.png) no-repeat -27px -22px; float:left; width:21px; height:22px; text-indent:-9999px}
#eventRateList .list .detail .event_feature .event_photo.act{background:url(../images/burrp/feature_icon.png) no-repeat -27px 0; float:left; width:21px; height:22px; text-indent:-9999px}

#eventRateList .list .detail .event_feature .event_video{background:url(../images/burrp/feature_icon.png) no-repeat -48px -22px; float:left; width:24px; height:22px; text-indent:-9999px}
#eventRateList .list .detail .event_feature .event_video.act{background:url(../images/burrp/feature_icon.png) no-repeat -48px 0; float:left; width:24px; height:22px; text-indent:-9999px}

#eventRateList .list .detail .event_feature .event_alcohol{background:url(../images/burrp/feature_icon.png) no-repeat -72px -22px; float:left; width:21px; height:22px; text-indent:-9999px}
#eventRateList .list .detail .event_feature .event_alcohol.act{background:url(../images/burrp/feature_icon.png) no-repeat -72px 0; float:left; width:21px; height:22px; text-indent:-9999px}

#eventRateList .list .detail .event_feature .event_veg{background:url(../images/burrp/feature_icon.png) no-repeat -93px -22px; float:left; width:20px; height:22px; text-indent:-9999px}
#eventRateList .list .detail .event_feature .event_veg.act{background:url(../images/burrp/feature_icon.png) no-repeat -93px 0; float:left; width:20px; height:22px; text-indent:-9999px}


#eventRateList .list .detail .event_feature .event_nonveg{background:url(../images/burrp/feature_icon.png) no-repeat -93px -22px; float:left; width:20px; height:22px; text-indent:-9999px}
#eventRateList .list .detail .event_feature a{display:block; height:22px;}




#eventRateList .list .newly_open{background:url(../images/burrp/burrp_feature.png) no-repeat -56px 0; width:67px; height:67px; position:absolute; top:0; left:0; z-index:1;}
#eventRateList .list .burrp_certified{background:url(../images/burrp/burrp_feature.png) no-repeat -123px 0; width:75px; height:75px; position:absolute; top:0; left:0; z-index:1;}

.event_search{background:#faf9f6; padding:10px; font-size:11px; color:#666666; border-bottom:1px solid #e4e4e4; line-height:22px;}
.event_search ul{width:146px; float:left; list-style:none; margin:0 15px;}
.event_search ul li{position:relative;}
.event_search ul li a span.close{background:url(../images/in_sprite1.png) no-repeat -891px -44px; width:10px; height:10px; position:absolute; right:0;  margin:6px 0 0 0;}


a.btn_list, a.btn_claim, a.btn_flag{
    color: #333333;
    float: left;
    line-height: 28px;
    margin: 0 5px 0 0;
}

a.btn_list span, a.btn_claim span, a.btn_flag span {
    background:url(../images/icon_sprite.png) no-repeat;
    float: left;
    height: 30px;
    margin: 0 5px 0 0;
    width: 30px;
}

a.btn_flag span {background-position:0 -29px;}
a.btn_list span {background-position:0 -58px;}
a.btn_claim span {background-position:0 -91px;}

a.btn_flag:hover span {background-position:-31px -29px;}
a.btn_list:hover span {background-position:-31px -58px;}
a.btn_claim:hover span {background-position:-31px -91px;}

a.btn_flag:active span {background-position:-62px -29px;}
a.btn_list:active span {background-position:-62px -58px;}
a.btn_claim:active span {background-position:-62px -91px;}

#burrp_events .btn_e-mail,
#burrp_events .btn_fav,
#burrp_events .btn_list,
#burrp_events .btn_claim,
#burrp_events .btn_flag,
#burrp_events #burrp_reviews .btn_like,
.serp_burrp .btn_fav,
.serp_burrp .btn_e-mail{font-size:11px; color:#999999; margin:0 5px 0 5px; font-weight:normal; width:inherit; text-indent:inherit; background:none;}


.follow_share .share_comment, .follow_share .share_twitter, .follow_share .share_mail{
    background:url(../images/in_follows_icon.png) no-repeat;
    display: inline-block;
    float: left;
    height: 26px;
    margin: 0 5px;
    width: 25px;
}

.follow_share .share_comment{background-position:-1px 0;}
.follow_share .share_twitter{background-position:-1px -25px;}
.follow_share .share_mail{background-position:-1px -50px;}

.follow_share .share_comment:hover{background-position:-26px 0;}
.follow_share .share_twitter:hover{background-position:-26px -25px;}
.follow_share .share_mail:hover{background-position:-26px -50px;}

.follow_share .share_comment:active, .follow_share .share_comment.active{background-position:-51px 0;}
.follow_share .share_twitter:active, .follow_share .share_twitter.active{background-position:-51px -25px;}
.follow_share .share_mail:active, .follow_share .share_mail.active{background-position:-51px -50px;}

/*********************************************************************************************************************************/

/*horizontal sub-navigation*/
#topnav_sub{
	background:url(../images/sub_nav_bg.gif) repeat-x;
	height:59px;
	border:1px solid #d4d4d4;
	margin:20px 20px 0;
}

#topnav_sub .main_tabs {
    float: left;
    font-family: 'oswald-webfont';
    height:59px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}


#topnav_sub .main_tabs  a.nav_tabs {
    border-right: 1px solid #454545;
    float: left;
    font-size: 12px;
    line-height: 59px;
    padding: 0 16px 0 10px;
    position: relative;
    text-align: center;
	color:#ffffff;
}

#topnav_sub .main_tabs  a.nav_tabs:hover, #topnav_sub .main_tabs  a.nav_tabs.active{
	background:url(../images/sub_nav_bg_hover.gif) repeat-x top center;
	 border-right: 1px solid #222222;
}

#topnav_sub .main_tabs  a.nav_tabs.last{
	border:none;
}

#topnav_sub .main_tabs  a .arrow_down{
	background:url(../images/sub_nav_arrow.gif) no-repeat;
	width:15px;
	left:50%;
	margin-left:-10px;
}

#topnav_sub .main_tabs .icon_overview{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 0;
	padding:5px 0 3px 40px;
}
#topnav_sub .main_tabs .icon_photo{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 -27px;
	padding:6px 0 3px 40px;
}
#topnav_sub .main_tabs .icon_map{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 -55px;
	padding:6px 0 3px 40px;
}

#topnav_sub .main_tabs .icon_review{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 -84px;
	padding:8px 0 5px 40px;
}

#topnav_sub .main_tabs .icon_menu{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 -121px;
	padding:2px 0 2px 40px;
}

#topnav_sub .main_tabs .icon_event{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 -188px;
	padding:6px 0 6px 40px;
}

#topnav_sub .main_tabs .icon_video{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 -150px;
	padding:6px 0 6px 40px;
}

#topnav_sub .main_tabs .icon_explore{
    background:url(../images/burrp/burrp_subnav_icons.png) no-repeat 0 -225px;
	padding:6px 0 6px 33px;
}


#burrp .view_changer, #serp_burp_events_listview  * .view_changer {margin:20px 10px 0 0;	padding:0;	float:right;}
#burrp .grid_view, #burrp .list_view {margin:0;	padding:0;	width:40px;	height:24px;	float:left;}

#burrp  a .grid_view,
#serp_burp_events_listview * a .grid_view {background-position: -548px -72px;}

#burrp a:hover .grid_view, 
#burrp a.active:hover .grid_view,
#serp_burp_events_listview * a:hover .grid_view,
#serp_burp_events_listview * a.active:hover .grid_view {background-position: -630px -98px;}

#burrp  a.active .grid_view,
#serp_burp_events_listview * a.active .grid_view {background-position: -630px -72px;}

#burrp a .list_view,
#serp_burp_events_listview * a .list_view{background-position: -670px -72px;}

#burrp a:hover .list_view,
#serp_burp_events_listview * a:hover .list_view,
a.active:hover .list_view {background-position: -588px -98px;}

#burrp a.active .list_view,
#serp_burp_events_listview * a.active .list_view {background-position: -588px -72px;}


/*Over View Details******************************************/

.biz_overview .tab_frame_content{
	font-size:12px;
	color:#333333;
	line-height:18px;
	width:260px;
	float:right;
}

#burrp .biz_overview .tab_frame_content h3{margin:0;}
#burrp .biz_overview .tab_frame_content h1{color:#000000; line-height:50px; font-size:50px;}

#burrp .biz_overview .tab_frame_content .call, #burrp_events .event_overview .call{background:url(../images/burrp/icon.png) no-repeat 0 0;  padding:2px 0 2px 30px; margin-bottom:15px; display:block; color:#666666; font-weight:bold}
#burrp .biz_overview .tab_frame_content .address{background:url(../images/burrp/icon.png) no-repeat 0 -55px;   padding:2px 0 0px 30px; color:#666666;}
#burrp .biz_overview .tab_frame_content .location{ padding:0px 0 5px 30px; display:block;}
#burrp .biz_overview .album_playlist {background:#252525 url(../images/side_zigzag.png) repeat-y scroll right top ;  margin: 5px 10px 0 0;   padding: 5px 0 10px;}
#burrp .biz_overview .album_playlist .album_block1{float:none; width:inherit;}
#burrp .biz_overview .album_playlist .album_block1 .review{color:#c0c0c0; font-style:oblique; padding:10px 5px;}
#burrp .biz_overview .dropdown.gry{margin-left:20px;}

#burrp .biz_overview .biz_overview_cont{border-bottom:1px dashed #827B60; padding:15px 0; margin:0 20px;}
#burrp .biz_overview .biz_overview_cont ul li, #burrp .biz_overview .biz_overview_cont p, #burrp_events .event_overview{list-style:none; color:#666666; padding:3px 0; font-size:12px; line-height:18px}
#burrp .biz_overview .biz_overview_cont ul li strong{font-size:13px;}

#burrp .burrp_photo_menu{margin:0 -3px}
#burrp .burrp_photo_menu div.view_full_profile .view_all_video{margin:0 0 0 65px;}
#burrp #burrp_events #burrp_reviews .row_alt, #burrp #burrp_events #burrp_reviews .row{margin: 0 -20px; width: 508px;}
#burrp #burrp_events #burrp_reviews .row .brpRev_ContDiv, #burrp #burrp_events #burrp_reviews .row_alt .brpRev_ContDiv {width: 135px;}
#burrp_events .block_left548 .big_gray_input{width:192px; margin:0 8px 5px 8px}
#burrp_events .block_left548 .big_gray_input_mid input,#burrp_events .block_left548 .big_gray_input_mid { width: 165px;}
#burrp_events .block_left548 .mapinfo{color: #999999;  font-size: 11px;   margin: 0 auto;  padding: 0 0 0 10px;}
#burrp_events .block_left548 .mapinfo .black{color:#333333;}
#burrp_events .list, #feature_business * .list{margin-bottom:0; /*margin-bottom:20px;*/}
#burrp_events .list .detail{width: 415px;}
#burrp_events .list .detail.edit_pick{width: 380px;margin-top:5px;}
#burrp_events .list .detail .info{margin:5px 0;}
#burrp #burrp_events  .biz_overview.inter .frame220_220{width:140px;	height:140px;	padding:0;}/*
#burrp #burrp_events  .biz_overview.inter .tab_frame_content{width: 357px;}*/
#burrp #burrp_events  .biz_overview.inter .tab_frame_content h1{font-size: 40px;  line-height: 40px;}
#burrp #burrp_events  .biz_overview.inter .tab_frame_content .call{margin-bottom: 5px;}
#burrp #burrp_events #photogallery .uploadtxt{color: #999999;  font-size: 11px;   font-weight: normal; padding:10px 10px 0 10px; font-style:italic;	text-align:right;}
.biz_video{margin:20px -10px; position:relative; width:531px;}
.biz_review{margin:20px 0 0 0;}
.biz_review .tab_small, #burrp #burrp_events .biz_review #burrp_reviews .row_alt, #burrp #burrp_events .biz_review #burrp_reviews .row{margin:0; padding:10px 20px;}
.biz_review .tab_small .photo_tab{width:auto; padding-right:13px; z-index:1; margin-bottom:10px; box-shadow: 0 4px 4px -4px #888888; -moz-box-shadow: 0 4px 4px -4px #888888; -webkit-box-shadow: 0 4px 4px -4px #888888;}
.biz_review .tab_small, .biz_review .tab_small .photo_tab.last{border:none;}
.response_review{width:365px; background:#fafafa;  line-height:18px; }
.response_review .head{padding:10px; background:#ebebeb;  color: #333333;   font-family: 'oswald-webfont';   font-size: 14px;   font-weight: normal;    margin: 0;  text-transform: uppercase; border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0;}

a .tab_editorialreview {
    background-position: -1005px -890px;
    float: left;
    height: 40px;
    margin: 4px 5px 0 20px;
    padding: 0;
    width: 47px;
}

a:hover .tab_editorialreview, a.active .tab_editorialreview {
    background-position: -1005px -930px;
    float: left;
    height: 40px;
    margin: 4px 5px 0 20px;
    padding: 0;
    width: 47px;
}

.response_review .reivew_post{padding:10px; border:1px solid #d3d3d3; border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px;  -webkit-border-radius:0 0 3px 3px;}
.response_review .reivew_post .post_replies{border-bottom:1px dashed #CCCCCC; margin-bottom:10px; padding-bottom:10px;}

.biz_overview .post_comment{
	padding:20px 0 0 0;
	position:relative;
}

.biz_overview .post_comment label{
	float:left;
	width:85px;
	font-weight:bold;
	padding:7px 0;
}

.biz_overview .post_comment .form_item{
	float:right;
	width:420px;
	margin-bottom:10px;
	color:#666666;
}

.biz_overview .post_comment .form_item input.textbox{
    background: url(../images/com_reply_bg.png) repeat-x #FFF5E1;
    border: 1px solid #EDCA89;
    border-radius: 2px 2px 2px 2px;
    padding:5px;
    width: 250px;
	color: #6E6E6E;
    font-family: 'opensan-webfont';
    font-size: 12px;
    font-style: italic;
}

.biz_overview .post_comment .form_item textarea.textarea{
    background: url(../images/com_reply_bg.png) repeat-x #FFF5E1;
    border: 1px solid #EDCA89;
    border-radius: 2px 2px 2px 2px;
    padding:5px;
    width: 410px !important;
	height:70px !important;
	color: #6E6E6E;
    font-family: 'opensan-webfont';
    font-size: 12px;
    font-style: italic;
}

.tick_yes{background:url(../images/burrp/tick_icon.gif) no-repeat 0 bottom ; width:12px; height:11px; float:left; margin:1px 10px 0 0;}
.tick_no{background:url(../images/burrp/tick_icon.gif) no-repeat 0 0 ; width:12px; height:11px;  float:left; margin:1px 10px 0 0;}

#burrp_events .row h1, #burrp_events .row_alt h1{
	font-size:25px;
	line-height:25px;
	color:#333333;
	margin-bottom:20px;
}

#burrp_events .row .description, #burrp_events .row_alt .description{
	margin-bottom:10px;
}
.burrpSearch .search_btn {
	margin:0 0 0 15px;
}

/*BURRP AWARDS CSS********************/
#burrp_events   .burrp_awards_ad{position:relative; margin:0 -20px 20px;}
#burrp_events  .burrp_awards{margin:0 15px;}
#burrp_events  .burrp_awards .list, #burrp_events  .recent_review .list{padding:15px 12px; border-bottom: 1px dotted #CCCCCC; margin:0;}
#burrp_events  .burrp_awards .list, #burrp_events  .recent_review .list.edit_pick{padding:15px 0;float:left;}
#burrp_events  .burrp_awards .list.last, #burrp_events  .recent_review .list{border-bottom: none;}
#burrp_events  .burrp_awards .list .detail .description{height:40px; overflow:hidden; line-height:20px;}
#burrp_events  .burrp_awards .list .head{background:url(../images/burrp/icon_awards.gif) no-repeat left 2px; padding-left:25px; padding-bottom:5px;}
#burrp_events  .recent_review .list .rating_big{margin:0;}
#burrp_events  .recent_review .list p{font-size:12px; color:#333333; line-height:18px; margin-bottom:10px;}	

/*BURRP DETAILS CSS********************/
#burrp_events .burrp_details .grey_block_full{border-top:none; border-right:none; border-left:none; padding:10px;}
#burrp_events .burrp_details .grey_block_full h1, #burrp_events .burrp_details .grey_block_full h1 a{font-size:40px; line-height:50px; color:#222222;}
#burrp_events .burrp_details .grey_block_full info{color:#999999; margin:0;}

#burrp_events .burrp_details .b_say{border-bottom: 1px dashed #827B60; margin:0 0 15px 0; padding:0 0 15px 0; color: #333333;  font-family: 'oswald-webfont';  font-size: 14px;  font-weight: normal; text-transform: uppercase; text-align:right;}

#burrp_events .burrp_details.burrp_author{padding:15px;}
#burrp_events .burrp_details.burrp_author .width140{margin:0 20px 0 0; border-bottom:1px solid #ebebeb; padding-bottom:10px; font-size:11px; color:#999999;}
#burrp_events .burrp_details.burrp_author .width140 p {line-height:16px; margin-bottom:0 !important;}
#burrp_events .burrp_details.burrp_author .width140 h3 {font-family: 'oswald-webfont'; font-size:14px}
#burrp_events .burrp_details.burrp_author .width140 .dropdown {margin:10px 0 0;}
#burrp_events .burrp_details.burrp_author .width358{width:358px;}
p.author_detail{font-family: 'opensan-webfont';   font-size: 14px;  font-style: italic;  font-weight: normal; color:#666666; line-height:20px; margin-bottom:5px !important;}
#burrp_events .burrp_details.burrp_author .width358 .info, #burrp .burrp_detail_contain .info{color:#999999;}
#burrp_events .burrp_details.burrp_author .width140 h3{margin:5px 0; padding:0;}
#burrp_events .burrp_details.burrp_author .width140 hr{margin:10px 0;}
#burrp_events .burrp_details.burrp_author .width140 .float_right{margin:0 10px; width:70px;}
#burrp_events .burrp_details.burrp_author .width140 .float_right h3{font-size:12px;}

#burrp_events .burrp_details .burrp_photo_menu{font-size:14px;}
#burrp_events .burrp_details .info{ margin:5px 0 2px 5px;}
.burrp_detail_contain{font-size:14px; color:#666666; line-height:20px; margin:15px 0;}
.burrp_detail_contain p{margin-bottom:20px;}
#burrp .burrp_detail_contain h3{font-family: 'anton-webfont'; font-size:20px; color:#333333; margin-bottom:5px; line-height:20px;}

#burrp_events .burrp_details .more_link_big{padding:10px; width:528px; border-bottom:none;}
#burrp_events .block_right300 .more_block .frame_small_detail{width:120px;}
#burrp_events .block_right300 .more_block .frame_small_detail p.title{margin-bottom:5px;}
#burrp_events .block_right300 .more_block .frame_small_detail .info{color:#999999; line-height:16px; margin:0;}
#burrp_events .block_right300 .width120{width:120px; text-align:center;}
#burrp_events .block_right300 .width125{width:125px; text-align:center;}
#burrp_events .result_title1{
	display:block;
}
#burrp_events .follow_btn, #burrp_events .unfollow_btn {
	margin:5px 0 0 0;
}

.burrpers_col{
    float: left;
    margin: 5px 0 8px;
	padding-right:13px;
    text-align: left;
    width: 80px;
}
.PR0{ padding-right:0 !important}
.burrpers_col .frame72_72 {margin:0 0 5px 0;}
#burrp_zone .dropdown1{	margin:5px 0 0 20px}
#burrp_zone.top_bar.tab_bar{padding:20px;}


/*SEO Page CSS**********************************************************/

.inner_block.seo h1.font30{color:#333333;}
.seo .width380{width:380px;}
.seo .width388{width:388px;}
.inner_block.seo h3.font12{font-size:12px;}
.seo .map_detail{position:relative; margin:0 -20px -20px;}
.inner_block.seo .more_link_big.width380 .view_all_video{margin-left:145px;}
ul.rest_cousin{float:left; width:220px; list-style:none; margin:10px 0; padding-right:79px;}
ul.rest_cousin.last{padding-right:0;}
ul.rest_cousin li{border-bottom:1px dashed #cccccc; padding:10px 0;}
ul.rest_cousin li.last{border-bottom:none;}
.open_seo ul.rest_cousin{float:none; width:inherit; list-style:none; margin:10px 0; padding-right:79px;}
.open_seo ul.rest_cousin .rated_rating_divs{float:right; margin-top:-8px;}


/**SITE MAP CSS*******************************************************************/

.burrp_sitemap .sideLinks{ width:140px; margin:0 16px;}
.burrp_sitemap .sideLinks ul{margin:20px 0;}
.burrp_sitemap .sideLinks li{list-style:none; padding:10px 0; font-size:12px; color:#666666;}
.burrp_sitemap .sideLinks li a{ color:#666666;}	
.burrp_sitemap .sideLinks li a:hover{ color:#0072BC;}



/*Burrp Lightbox Popup CSs**********************************************************************************************************************************************/

.ui-dialog.ui-widget-content.burrp_popup{width:auto !important; overflow:inherit;}
.burrp_popup .ui-widget-content{color:#333333;}
.ui-dialog.ui-widget-content.burrp_popup .ui-widget-content{ overflow:inherit;}
.ui-dialog.burrp_popup .ui-dialog-titlebar{display:none;}
.ui-dialog.burrp_popup h1{font-size:45px; line-height:45px; color:#333333;}
.edit_list{padding:10px 15px; width:300px; font-size: 12px;}
.add_photo{padding:10px 15px; width:300px; font-size: 12px;}
.add_menu{padding:10px 15px; width:300px; font-size: 12px;}
.add_flag{padding:10px 15px; width:300px; font-size: 12px;}
.send_phone{padding:10px 15px; width:300px; font-size: 12px;}
.share_tweeter{padding:10px 15px; width:300px; font-size: 12px;}
.share_email{padding:10px 15px; width:650px; font-size: 12px;}

.ui-dialog.ui-widget-content.burrp_popup .dropdown{margin:10px 0 0 0 ;}
.ui-dialog.ui-widget-content.burrp_popup .dropdown.gry .drop_left { background: url("../images/burrp/gry_drop_btn.png") no-repeat scroll 0 0 transparent;}
.ui-dialog.ui-widget-content.burrp_popup .dropdown.gry .drop_right { background: url("../images/burrp/gry_drop_btn.png") no-repeat scroll 100% 0 transparent;}
.ui-dialog.ui-widget-content.burrp_popup .dropdown.gry .drop_middle {background: url("../images/burrp/gry_drop_btn.png") repeat-x scroll 0 -75px transparent;}
.ui-dialog.ui-widget-content.burrp_popup .dropdown.gry .drop_right1 {background: url("../images/burrp/gry_drop_btn.png") no-repeat scroll 100% -150px transparent;}
.ui-dialog.ui-widget-content.burrp_popup .dropdown.gry .drop_text {padding: 5px 6px 0; text-shadow: 1px 1px 0 #666666;}
.ui-dialog.ui-widget-content.burrp_popup .gray{color:#666666 !important;}
.ui-dialog.ui-widget-content.burrp_popup .font11{font-size:11px;}
.radio_input{font-size:11px; float:left; margin:10px 20px 10px 0;}
.add_flag .radio_input{font-size:12px; float:left; margin:10px 20px 0px 0;}
.radio_input input[type=radio]{float:left; margin-right:5px;}
.ui-dialog.ui-widget-content.burrp_popup a.add_more{font-size:11px; color:#0072bc; font-style:italic; margin:10px 0; display:inline-block;}
.ui-dialog.ui-widget-content.burrp_popup .alarm_info1 a{margin:15px 0 0 10px;}
.add_photo .small_gray_input, .add_menu .small_gray_input{width:215px; margin:10px 10px 5px 0;}
.send_phone .small_gray_input{width:260px; margin:5px 10px 5px 0;}
.send_phone .small_gray_input_middle,.send_phone .small_gray_input_middle input{width:230px !important;}
.share_email .small_gray_input{width:300px; margin:5px 0 5px 0;}
.share_email .small_gray_input_middle,.share_email .small_gray_input_middle input{width:270px !important;}
.share_email .left_form{width:290px; padding-right:40px; border-right:1px dashed #cccccc; float:left; margin-right:-1px;} 
.share_email .right_form{width:280px; padding-left:30px; border-left:1px dashed #cccccc; float:left;} 
.share_email .right_form .contact_campiagn{
	border: 2px solid #E0F6F7;
    font-size: 16px;
    padding: 30px 15px;
    text-align: center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


.ui-dialog.ui-widget-content.burrp_popup .set_flag_textarea {
    background: url("../images/flag_textarea.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 85px;
    margin: 5px 0 10px;
    padding:0;
    width: 285px;
	position:relative;
}

.ui-dialog.ui-widget-content.burrp_popup  .set_flag_textarea textarea {
     background: url("../images/flag_textarea.png") no-repeat scroll right 0 transparent;
    border: medium none;
    height: 75px !important;
    margin:0;
    padding: 5px;
    width: 280px !important;
	position:absolute;
	left:8px; top:0;
}


/*CALANDER BURRP******************************************************************************************/

.ui-datepicker{background:#FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px 5px 1px #888888;
    color: #222222;
    font-size: 11px;
	margin-left: -142px;
    margin-top: 27px;
	z-index:10;
}

.ui-datepicker td a.ui-state-default{background:none; font-style:oblique;}
.ui-datepicker-header{background:url(../images/burrp/calendar_bg.png) no-repeat; width:260px; height:31px; position:relative;}
.ui-datepicker-header .ui-datepicker-prev{position:absolute; left:10px; top:11px; width:9px; height:9px; background:url(../images/burrp/calendar_arrow.png) no-repeat 0 0; cursor:pointer;}
.ui-datepicker-header .ui-datepicker-next{position:absolute; right:10px; top:11px; width:9px; height:9px; background:url(../images/burrp/calendar_arrow.png) no-repeat -8px 0; cursor:pointer;}
.ui-datepicker-header .ui-datepicker-prev.ui-datepicker-prev-hover{background-position:0 -10px !important;}
.ui-datepicker-header .ui-datepicker-next.ui-datepicker-next-hover{background-position:-8px -10px !important;}
.ui-datepicker-header .ui-datepicker-prev span, .ui-datepicker-header .ui-datepicker-next span{visibility:hidden;}
.ui-datepicker-title{text-align:center; color: #ffffff;  font-family: 'oswald-webfont'; font-size: 15px; font-weight: normal; padding:4px; text-shadow:1px 1px 1px #666;}
.ui-datepicker table.ui-datepicker-calendar{width:100%; text-align:center; padding:0; margin:0;}
.ui-datepicker table.ui-datepicker-calendar thead{background:url(../images/burrp/calendar_bg.png) no-repeat left bottom; color:#ffffff; font-family: 'opensan-webfont';  font-size: 12px;  font-style: italic; font-weight: normal; text-shadow:1px 1px 1px #666;  padding:0; margin:0;}
.ui-datepicker table.ui-datepicker-calendar thead th{font-weight:normal; padding:3px 0; margin:0;}
.ui-datepicker table.ui-datepicker-calendar tbody td{border-bottom:1px solid #d9d8d7; border-right:1px solid #d9d8d7; padding:12px 0; width:20px;}
.ui-datepicker table.ui-datepicker-calendar tbody td.ui-datepicker-week-end{background:#eddfa8;}



/***************************************************************************************************//*
#burrp #block2_main .top_menu{background:#f7f4ee; height:165px;}*/
#burrp #block2_main .top_menu{background:#f7f4ee; height:41px !important; background: url("http://im.active18.com/images/top_menu_bg.png") repeat-x scroll 0 0 transparent;}

#burrp #block2_main #top_menu .top_menu2{
	background: url("../images/top_menu_bg.png") repeat-x scroll 0 0 transparent;
    height: 41px;
    left:0;
    padding: 0;
    position: relative;
    top: 0;
    width: 900px;
    z-index: 9999;
}

#burrp #block2_main .menu2{margin-top:70px;}
.divider_burp { border-left:1px solid #c8c7c5; display: inline-block; height: 26px;  width: 1px; margin:4px 13px 0;}
#burrp .blue_anchor a{ font:bold 12px Arial !important; color:#0072bc !important;}

#burrp .ui-autocomplete.ui-widget-content{ z-index:9999 !important}
#eventRateList .list{ cursor:pointer;}
/*#eventRateList .list:hover{ cursor:pointer; background:#ccc}*/

#burrp .divider {color: #cecdcb; font-size: 17px; margin: 5px 13px 0;}
#burrp ul#whatnew li .whatnewtext {font-size: 14px; font-style: italic; font-weight: normal; line-height: 22px; margin: 10px 0; color:#414141; font-family: 'opensan-webfont';}
#burrp .feature_star_block a.readmore {color: #0072BC; float: left;  font-size: 12px; font-weight: normal; line-height: 16px; margin: 10px 0;}
#burrp .pread_more {background-position: -95px -78px; float: left; height: 18px; margin: -1px 5px 0 0; padding: 0; width: 18px;}


#burrp_browse .burrp_frame_small_blockn {

	color: #666666;

	float: left;

	font-size: 11px;

	height: 180px;

	margin: 10px 19px;

	position: relative;

	text-align: center;

	width: 105px;

}

.hgt30 {

	height:30px

}

.change_list_ico{ width:30px; height:29px; display:inline-block; float:right; background:url(../images/change_icon.png) 0 0 no-repeat;}
#burrp .biz_overview .biz_overview_cont h3{ margin-top:1px !important; }
.spacetop12 {display: block; margin: 12px 0 0;}
#burrp_events .row, #burrp_events .row_alt{padding:20px 20px 10px;}
.burrp_footer {float:left;overflow:hidden;*padding:0 0 20px 0;}
.burrp_footer .socailnetwork_block {width:250px;margin:0 13px;}
.burrp_footer .socailnetwork_block.first {margin-left:0;}
.burrp_footer .socailnetwork_block hr {width:210px;}
.burrp_footer .socailnetwork_block .facebook_data {font-size:12px;padding:10px 18px;}
.burrp_footer .block3 .more_link{width:210px;padding:12px 20px;*padding:12px 17px;*width:216px;}
.socailnetwork_block .title {padding:0 20px;margin:16px 0;*margin:14px 0;}
.burrp_footer .red_right_block .zigzagbox .title {padding:0 10px;*padding:7px 10px;}
.burrp_site_list {margin:15px 10px; float:left;}
.uline{text-decoration:underline;}
#burrp_day .readmore{ color:#0072BC}
#burrp .frame_detail h1 {font-size: 30px;  line-height: 32px;  margin: 0 0 5px;}
#burrp .events_details .info{ margin:10px 0px;}
#burrp .spacr .dropdown.gry{ margin:0px;}
#burrp #burrp_events .biz_overview .view_full_profile{padding:20px 0;}
#burrp #burrp_events .biz_overview .view_full_profile .view_all_video{margin:0px 0 0 220px;}
#burrp #burrp_events  .biz_overview.inter .tab_frame_content{width: 350px;}
#burrp .biz_overview .tab_frame_content .call, #burrp_events .event_overview .call { margin-bottom:0px}
#photogallery .block_music_album h3{ margin:10px 0 5px;}
#burrp_events .list{margin-bottom:15px;}
#map-canvas{margin-bottom:10px;}
.no_brd{ border-bottom:0 !important}
#burrp .zigzagbox .data{ padding:20px 15px}
.biz_review .tab_small{padding:0;}
#burrp #comments .comment_count{border-left: 1px solid #CCC}
.yellowbg .list{ border-bottom:1px dotted #ccc}
#eventRateList .list .date .date_to, .date .date_to {float: left; margin: 5px 7px; padding-top: 10px;}
#burrp #event_naviagion ul ul li .listing .list_left .quality_price {width: 132px; float:left;}

#burrp .lft_cl .frame240_135{ width:140px;}
#burrp #burrp_happening .lft_cl .frame_detail {float: left; margin-left: 15px; width: 310px;}

#burrp .burrp_frame_small_blockn .rating_big {float: left; margin: 5px 5px 0 20px;}
#burrp .burrp_detail_contain ol{ margin-left:15px;}

#burrp .height485 {height: 485px;}
#div_search_options1 ul{width: 107px;}
#div_search_options1 .drop_box_list li a{ margin:0px -4px}
#burrp_browse .video_list .burrp_frame_small_block { height:142px;}

#nsrch_place{margin:15px; margin-bottom:0px; background:#FFF;}
#nsrch_place .PA10{ padding:10px;}
#nsrch_place #event_naviagion {background:#F6F6F6; border: 1px solid #CDCDCD; height: 40px; padding: 0; position: relative;}
#nsrch_place #event_naviagion ul li a {float: left; font-family: 'oswald-webfont'; font-size: 14px;  padding:8px; width:108px; position: relative; text-transform: uppercase;}
#nsrch_place .event_search{ padding:10px 0px;}
#nsrch_place .event_search ul{ width: auto; margin:0px;}
#nsrch_place .evname{ float:left; width:100px;}
#nsrch_place #selpricediv .evname{ float:left; width:88px;}
#nsrch_place #selfeaturediv .evname{ float:left; width:95px;}
#nsrch_place #selambiancediv .evname{ float:left; width:90px;}
#nsrch_place #seltypediv .evname{ float:left; width:70px;}
#nsrch_place .evclso{ float: right; width:10px; margin-left:7px}
#nsrch_place .event_search .tnbkl{ margin-left:92px}
#nsrch_place .event_search .tnbkl tr td{ padding-left:5px;}

#nsrch_place #selfeaturediv .evclso{ float: right; width:10px; margin-left:3px}
#nsrch_place #selambiancediv .evclso{ float: right; width:10px; margin-left:2px}
#nsrch_place #seltypediv .evclso{ float: right; width:10px; margin-left:3px}

#nsrch_place #event_naviagion ul li .blue_anchor a { padding:0px 8px; width: 56px;}
#nsrch_place #event_naviagion #cuisines_search{ margin-left:140px}
#nsrch_place #event_naviagion #price_search{ margin-left:280px}
#nsrch_place #event_naviagion #features_search{ margin-left:303px}
#nsrch_place #event_naviagion #ambiance_search{ margin-left:303px}
#nsrch_place #event_naviagion #type_search{ margin-left:303px}

#burrp .popup_header h3 { margin: 10px 0 0 10px;}

#burrp .biz_review .tab_small .photo_tab {padding-right: 12px;}

#burrp .block2 .feedback_form_btns .dropdown.gry, #burrp .block1 .feedback_form_btns .dropdown.gry {
    margin: 0;
}

.burrp_frame_small_blockn a.noimgc{ background:#D22F23; color:#FFF; font: 11px Arial; padding:3px; width:99px; height:94px; display:inline-block}

.big_gray_input .big_gray_input_mid input{
    background: none repeat  0 0;
    border: medium none;
    color: #6E6E6E;
    font-size: 11px !important;
    font-style: italic;
    margin: 5px 0 0;
    padding: 0;
    width: 162px !important;
}
#burrp_popular .drop_box_list li .text {margin: 0 2px 0 3px;}
#burrp_popular .drop_box_list li .a{margin: 0 0 0 5px; width:111px;}

.ui-datepicker{ z-index:9999 !important}

.ui-datepicker table.ui-datepicker-calendar .ui-datepicker-unselectable .ui-state-default {
	background:none !important;
	text-decoration:line-through;
	color:#b2b2b2;
}

.divider_padMarL{ border-left: 1px dotted #979E9F; padding: 0 0 2px 10px; height: 21px; margin-top: 8px; float: left;}
.burrp_certi{ width:24px; height:24px; background:url("http://im.active18.com/images/burrp/burrp-certified.png") no-repeat; display:inline-block}
.burrp_nopen{ width:24px; height:24px; background:url("http://im.active18.com/images/burrp/newly-opened.png") no-repeat; display:inline-block}

#burrp .blue_a_under a{ text-decoration:none}

.calen_main {
	width:298px;
	overflow:hidden;
}
.calen_base {
	width:500px;
}
#burrp .burrp_detail_contain ul{ margin-left:15px;}

#burrp .biz_overview .tab_frame_contentn1{ float:none;}
#burrp .tab_frame_contentn1 h3 {font-size: 12px; margin:0px;}
#burrp .biz_overview .tab_frame_contentn1 h1 {color: #000000 !important; font-size: 50px;line-height: 50px;}
#burrp .biz_overview .tab_frame_contentn1 .call{background: url("http://im.active18.com/images/burrp/icon.png") no-repeat 0 0; color: #666666; display: block; font-weight: bold; line-height:18px; padding: 2px 0 2px 30px;}
#burrp .biz_overview .tab_frame_contentn1 .address {background: url("http://im.active18.com/images/burrp/icon.png") no-repeat 0 -25px; line-height:22px; color: #666666; padding: 2px 0 0 30px;}
#burrp .biz_overview .tab_frame_contentn1 .location {display: block; padding:5px 0 0 30px;}

#burrp_events .burrp_detail_contain p.author_detail {color: #000; font-family: 'opensan-webfont'; font-size: 13px; font-style: italic; font-weight: normal; line-height: 19px; margin-bottom: 5px !important;}
#burrp .narrow h3{color: #666666; font-family: 'oswald-webfont'; font-size: 14px; font-weight: normal; margin-top: 5px; padding: 0; text-transform: uppercase;}

#burrp .resetbtn{background: url("http://im.active18.com/images/burrp/reset.gif") no-repeat 0 0; color: #0072bc; margin-top:8px; font:12px Arial; display: inline-block; padding: 1px 0 2px 25px;}
#burrp #frmFlt .narrow h3{color: #666666; font-family: 'oswald-webfont'; font-size: 14px; font-weight: normal; margin-top: 5px; padding: 0; text-transform: uppercase; height: 18px; line-height: 28px; margin-left: 10px; width: 81px;}