@charset "utf-8";
/* CSS Document */



a {
	outline:none !important;
}
#celebs {
	padding:20px 18px;
}
/*#celebs a{color:#0072bc;}*/

#celebs .base1, #celebs .base2, #celebs .base3, #celebs .base4, #celebs .base5, #celebs .base6 {
	display:block;
}
#celebs .base2, #celebs .base3 {
	margin:0 0 20px 0 !important;
}
.tiles140, .tiles284, .tiles427, .tiles572 {
	position:relative;
	margin:2px;
	float:left;
	overflow:hidden
}
.tiles250, .tiles128, .tiles171, .tiles85 {
	position:relative;
	float:left;
	overflow:hidden
}
#portrait140_140 .tiles140 {
	width:140px;
	height:140px;
	overflow:hidden;
}
#portrait284_284 .tiles284 {
	width:284px;
	height:284px;
	overflow:hidden;
}
#portrait284_571 .tiles284 {
	width:284px;
	height:572px;
	overflow:hidden;
}
#landscape427_284 .tiles427 {
	width:427px;
	height:284px;
	overflow:hidden;
}
#portrait427_427 .tiles427 {
	width:427px;
	height:427px;
	overflow:hidden;
}
#portrait572_572 .tiles572 {
	width:572px;
	height:572px;
	overflow:hidden;
}
#landscape571_284 .tiles572 {
	width:572px;
	height:284px;
	overflow:hidden;
}
#portrait250_250 .tiles250 {
	width:250px;
	height:250px;
	overflow:hidden;
}
#portrait171_171 .tiles171 {
	width:171px;
	height:171px;
	overflow:hidden;
}
#portrait85_85 .tiles85 {
	width:85px;
	height:85px;
	overflow:hidden;
}
#portrait128_131 .tiles128 {
	width:128px;
	height:131px;
	overflow:hidden;
}
#portrait128_131 {
	float:left;
	margin:0 1px 1px 0;
}
#portrait171_171 {
	float:left;
	margin:0 1px 0 0;
}
#portrait85_85 {
	float:left;
	margin:0 0 1px 0;
	width:85px;
	height:85px;
}
.col-left {
	float:left;
}
.col-right {
	float:right;
}
.col-572 {
	width:576px;
}
.col-427 {
	width:431px;
}
.col-284 {
	width:288px;
}
.no_left_margin {
	margin-left:0;
}
.no_right_margin {
	margin-right:0;
}
/*#celebs .base1 .tiles284{/*height:572px/ overflow:hidden;}

#celebs .base2 .tiles140{height:140px; overflow:hidden;}

#celebs .base5 .tiles284{height:284px; overflow:hidden;}

#celebs .base5 .tiles572{height:572px; overflow:hidden;}

#celebs .base6 .tiles284{height:284px; overflow:hidden;}*/

#celebs .base1 .celeb_col-right {
	float:right;
	width:284px;/* height:310px;*/
}
#celebs .ad300 {
	margin:0;
	padding:0;
}
/*#celebs .ad300{position:relative; top:0; margin-right:-14px; margin-left:2px}*/



#celebs h1 {
	color:#ffffff;
}
#celebs a:hover h1 {
	color:#000000;
}
#celebs h3 {
	font-size:12px;
	color:#ffffff;
}
#celebs_profile h3, #connect .block_right300 .white_right_block h3, #connect .block_right300 .white_right_block1 h3{
	margin:15px 0;
}

#celebs h3 span.red {
	font-size:12px;
	color:#5c0f0a !important;
}
.celebs140_140 {
	width:140px;
	height:140px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0;
}
.celebs140_140 .space {
	padding:10px;
}
.celebs140_140 h1 {
	font-size:22px;
	line-height: 25px;
	margin-bottom:20px;
}
#celebs a.readmore {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
.celebs284_284 {
	width:284px;
	height:284px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0
}
.celebs284_284 .space {
	padding:30px;
}
.celebs284_284 h1 {
	font-size:40px;
	line-height: 40px;
	margin-bottom:10px;
}
.celebs284_284 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#ffffff;
}
.celebs284_284 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:20px;
	margin:20px 0 0;
}
.celebs250_250 {
	width:250px;
	height:250px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0;
}
.celebs250_250 .space {
	padding:10px;
}
.celebs250_250 h1 {
	font-size:40px;
	line-height: 40px;
	margin-bottom:10px;
	color:#FFF;
}
.celebs250_250 h3 {
	margin:0 !important;
	color:#FFF !important
}
.celebs250_250 h3 .red {
	color:#5C0F0A !important;
}
.celebs250_250 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#ffffff;
}
.celebs250_250 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:0;
	margin:20px 0 0;
}
.celebs85_85 {
	width:85px;
	height:85px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0;
}
.celebs85_85 .space {
	padding:3px;
}
.celebs85_85 h1 {
	font-size:18px;
	line-height: 18px;
	margin-bottom:10px;
	color:#FFF;
}
.celebs85_85 h3 {
	margin:0 !important;
	color:#FFF !important;
	font-size:12px;
}
.celebs85_85 h3 .red {
	color:#5C0F0A !important;
}
.celebs85_85 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#ffffff;
}
.celebs85_85 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:0;
	margin:20px 0 0;
}
.celebs171_171 {
	width:171px;
	height:171px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0;
}
.celebs171_171 .space {
	padding:10px;
}
.celebs171_171 h1 {
	font-size:24px;
	line-height: 24px;
	margin-bottom:10px;
	color:#FFF;
}
.celebs171_171 h3 {
	margin:0 !important;
	color:#FFF !important
}
.celebs171_171 h3 .red {
	color:#5C0F0A !important;
}
.celebs171_171 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#ffffff;
}
.celebs171_171 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:0;
	margin:20px 0 0;
}
.celebs128_131 {
	width:128px;
	height:131px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0;
}
.celebs128_131 .space {
	padding:10px;
}
.celebs128_131 h1 {
	font-size:24px;
	line-height: 24px;
	margin-bottom:10px;
	color:#FFF;
}
.celebs128_131 h3 {
	margin:0 !important;
	color:#FFF !important
}
.celebs128_131 h3 .red {
	color:#5C0F0A !important;
}
.celebs128_131 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#ffffff;
}
.celebs128_131 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:0;
	margin:20px 0 0;
}
#celebs .base1 .col-right .tiles284 .space {
	padding:30px;
}
#celebs .base1 .col-right .tiles284 h1 {
	font-size:30px;
	line-height: 30px;
	margin-bottom:4px;
	color:#000000;
}
#celebs .base1 .col-right .tiles284 h3 {
	color:#d53225 !important;
	display:inline-block;
	margin:1px 0 0 0;
	float:none;
}
#celebs .base1 .col-right .tiles284 h3 span.red {
	color:#666666 !important;
}
#celebs .base1 .col-right .tiles284 .newspost {
	font-size:11px;
	font-style:italic;
	display:block;
	color:#999999;
}
.celebs284_572 {
	width:284px;
	height:572px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0
}
.celebs284_572 .space {
	padding:30px;
}
.celebs284_572 h1 {
	font-size:55px;
	line-height: 55px;
	margin-bottom:20px;
}
.celebs284_572 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#ffffff;
}
.celebs284_572 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:20px;
	margin:20px 0 35px;
}
.celebs572_572 {
	width:572px;
	height:572px;
	background:#d53225;
	position:absolute;
	display:none;
	left:0
}
.celebs572_572 .space {
	padding:30px;
}
.celebs572_572 h1 {
	font-size:55px;
	line-height: 55px;
	margin-bottom:20px;
}
.celebs572_572 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#ffffff;
}
#celebs .celebs572_572 .newspost a {
	color:#5c0f0a;
}
.celebs572_572 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:20px;
	margin:20px 0 35px;
}
.celebs427_284 {
	width:427px;
	height:284px;
	position:absolute;
	background:#d53225;
	bottom:0;
	display:none;
	left:0
}
.celebs427_284 .space {
	padding:10px;
}
.celebs427_284 h3 {
	color:#FFF !important;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.celebs427_284 h3 span.red {
	color:#666666 !important;
}
.celebs427_284 h1 {
	font-size:60px;
	line-height: 60px;
	margin-bottom:20px;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.celebs427_284 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#FFF;
	padding:2px 5px;
	display:inline-block;
	margin:1px 0 0 0;
}
.celebs427_284 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:20px;
	margin:20px 0 35px;
}
.celebs427_427 {
	width:427px;
	height:429px;
	position:absolute;
	background:#d53225;
	bottom:0;
	display:none;
	left:0
}
.celebs427_427 .space {
	padding:10px;
}
.celebs427_427 h3 {
	color:#FFF !important;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.celebs427_427 h3 span.red {
	color:#666666 !important;
}
.celebs427_427 h1 {
	font-size:60px;
	line-height: 60px;
	margin-bottom:20px;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.celebs427_427 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#FFF;
	padding:2px 5px;
	display:inline-block;
	margin:1px 0 0 0;
}
.celebs427_427 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:20px;
	margin:20px 0 35px;
}
.celebs572_284 {
	width:572px;
	height:284px;
	position:absolute;
	background:#d53225;
	bottom:0;
	display:none;
	left:0
}
.celebs572_284 .space {
	padding:10px;
}
.celebs572_284 h3 {
	color:#FFF !important;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.celebs572_284 h3 span.red {
	color:#666666 !important;
}
.celebs572_284 h1 {
	font-size:60px;
	line-height: 60px;
	margin-bottom:20px;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.celebs572_284 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	color:#FFF;
	padding:2px 5px;
	display:inline-block;
	margin:1px 0 0 0;
}
.celebs572_284 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:20px;
	margin:20px 0 35px;
}
#celebs .celebs572_284 .newspost a {
	color:#5c0f0a;
}
/* .tiles284:hover .celebs284_572, .tiles140:hover .celebs140_140, .tiles427:hover .celebs427_427, .tiles284:hover .celebs284_284, .tiles572:hover .celebs572_572{display:block; cursor:pointer;} */





#celebs .white_block {
	padding:12px;
	float:none;
	margin:0;
}
.feature_star_block {
	width:540px;
	padding:0 0 0 30px;
}
.feature_star_block h3 {
	background:#ffffff;
	color:#d53225 !important;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.feature_star_block h1 {
	font-size:50px;
	line-height: 50px;
	margin-bottom:20px;
	background:#ffffff;
	color:#000000 !important;
	display:inline-block;
	padding:2px 5px;
	margin:1px 0 0 0;
}
.feature_star_block .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	background:#ffffff;
	color:#999999;
	padding:2px 5px;
	display:inline-block;
	margin:1px 0 0 0;
}
.feature_star_block .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dashed #cccccc;
	padding-top:10px;
	margin:15px 0 15px;
}
#celebs .feature_star_block a.readmore {
	margin:10px 0;
	color: #0072BC;
	font-size: 12px;
	font-weight: normal;
	float:right;
	line-height:16px;
}
#celebs .feature_star_block a.readmore:hover {
	text-decoration:underline;
}
.feature_star_block a.readmore span.popup_more {
	background-position: -95px -78px;
}
.feature_star_block .description ul {
	list-style:none;
	margin:0;
	padding:0;
}
.feature_star_block .description ul li {
	border-bottom:1px solid #e5e5e5;
	padding:5px 0;
	font-size:13px;
}
#celebs_tweet h3 {
	color: #333333;
	font-size: 14px;
	margin: 10px 0;
}
#celebs_tweet .navi_title {
	margin: 10px 20px 0 0;
}
#celebs_tweet .navi {
	margin: 5px 0 0;
}
#celebs_tweet .tweet_icon, .celeb_blog .tweet_icon {
	background:url(../images/in_sprite1.png) no-repeat -9px -30px;
	width:18px;
	height:13px;
	float:left;
	margin:3px 6px 0 0;
	overflow:hidden;
}
.tweet_slide {
	width:100%;
	height:80px;
	overflow:hidden;
	margin:15px 0;
}
.tweet_slide .slider {
	width:1600px;
}
.tweet_details {
	float:left;
	width:412px;
	border-right:1px dotted #cccccc;
	margin-right:18px;
	min-height:80px;
}
.tweet_details .tweet_pic {
	background:#FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 3px 3px 3px 3px;
	float: left;
	height: 54px;
	margin: 0;
	padding: 0;
	width: 54px;
	box-shadow:0px 0px 1px 1px #c4c4c4;
}
.tweet_details .tweet_pic img {
	padding:3px;
}
.tweet_details .tweet_desc {
	width:330px;
	float:left;
	padding:0 18px 0 8px;
	font-size:11px;
	color:#5a5957;
}
.tweet_details .tweet_desc p {
	margin:0;
	padding:0;
	line-height:18px;
}
.tweet_details .tweet_desc h4 {
	margin:0;
	padding:0;
	color:#333333;
	font-size:14px;
	font-weight:bold;
}
.post_date {
	display:block;
	padding:3px 0 0 0;
	border-top:1px dotted #e5e5e5;
	color:#999999;
	font-style:oblique;
	margin:5px 0 0 0;
}
#celebs .tweet_details .tweet_desc p a {
	color:#d53225;
}
#celebs_profile .more_link_big {
	padding:0 5px;
	width:538px;
}
#celebs_profile .more_link_big .dropdown.float_left {
	margin:2px 0 0;
}
#celebs_profile .album_block1 {
	min-height:50px;
	margin-right:50px;
	padding:0 20px;
}
#celebs_profile .album_playlist a.btn_like, #celebs_profile .album_playlist a.btn_dislike, #celebs_profile .album_playlist {
	margin-top:18px;
}
#celebs_profile .frame14 {
	height:226px;
}
#celebs_profile .frame14 .photo14 {
	height:220px;
}
#celebs_profile .tab_frame_content h1, #celebs_profile .tab_frame_content .music_data, #celebs_profile .tab_frame_content .album_block2 .title {
	color:#000000;
}
#celebs_profile .tab_frame_content h1 {
	color:#222222
}
#celebs_profile .tab_frame_content .album_block2 .title {
	color:#333333;
}
#celebs_profile .tab_frame_content h3 {
	color: #d53225;
	margin:0;
}
#celebs_profile .album_block2 {
	margin:0;
}
#celebs_profile #tab_small_detail .white_block {
	padding:0 10px 20px;
}
#celebs_profile #tab_small_detail .white_block.width508 {
	width:528px;
}
#celebs_profile .frame160_block {
	float: left;
	margin: 0 10px 20px 0;
	padding: 0;
	position: relative;
	text-align: left;
	width: 168px;
}
#celebs_profile .frame160_block p.title {
	margin:10px 0;
}
#celebs_profile .frame160_block.last {
	margin-right:0;
}
#celebs_profile .frame160 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px #CCCCCC;
	float: left;
	height: 98px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 168px;
}
#celebs_profile .frame160 .photo {
	background: none repeat scroll 0 0 #292929;
	float: left;
	height:90px;
	margin:3px;
	overflow:hidden;
	padding:0;
	width:160px;
}
#celebs_news .news_block {
	float: left;
	margin: 0 10px 20px 0;
	padding: 0;
	position: relative;
	text-align: left;
	width: 248px;
}
#celebs_news .news_block .news_wall {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px #CCCCCC;
	float: left;
	height: 143px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 248px;
}
#celebs_news .news_block .news_wall .news_photo {
	background: none repeat scroll 0 0 #292929;
	float: left;
	height:135px;
	margin:3px;
	overflow:hidden;
	padding:0;
	width:240px;
}
#celebs .white_block_full {
	margin:0 0 20px 0;
}
#celebs .view_all_video {
	width:10% !important;
}
.photo_data {
	position:absolute;
	bottom:10px;
	left:10px;
}
#celebs .photo_data h3 span.red {
	color:#D53225 !important;
}
#celebs .photo_data h3 {
	color:#666 !important;
}
.photo_data h3 {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	font-size: 11px;
	margin: 0;
	padding: 2px 5px;
}
.photo_data h1 {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	font-size: 60px;
	line-height: 60px;
	margin: 1px 0;
	padding: 0 5px;
	color:#000 !important;
}
.photo_data .newspost {
	margin:1px 0 0 0;
	padding:2px;
	background:#FFF;
	font-style:italic;
	font-size:11px;
	color:#999;
	float:left;
}
.date_data {
	float:right;
	font-size:11px;
	font-style:italic;
	color:#666;
}
.celeb_news {
	margin:0;
	padding:0;
	width:245px;
}
.celeb_news_frame {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:246px;
	height:141px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.celeb_news_frame .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:240px;
	height:135px;
	overflow:hidden;
	float:left;
}
.celeb_news_detail {
	margin:10px 0 5px 0;
	font-size:11px;
	font-style:italic;
	color:#999;
}
.celeb_news_detail .timing {
	margin:0 5px 0 0;
	float:left;
}
.news_type {
	margin:0 5px 0 0;
	padding:0;
	float:right;
}
.celeb_news .title {
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:bold;
}
.celeb_news .description {
	margin:5px 0;
	padding:0;
	font-size:12px;
	color:#666;
	line-height:18px;
}
#celebs_news .more_link_big {
	padding:0 5px;
}
.celeb_bio p {
	margin:0 0 5px 0;
	color:#5a5957;
	line-height:16px;
}
.celeb_blog .title {
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:bold;
}
.celeb_blog .description {
	margin:5px 0 10px 0;
	padding:0;
	font-size:11px;
	font-weight:normal;
	color:#5a5957;
}
.tweet_row, .tweet_row1 {
	margin:20px 0 0 0;
	padding:0 0 20px 0;
	border-bottom:1px dashed #e5e5e5;
	float:left;
}
.tweet_row1 {
	border-bottom:none;
}
.tweet_user {
	float:left;
	width:55px;
}
.tweet_user_frame {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:52px;
	height:52px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:2px;
}
.tweet_user_frame .photo {
	margin:2px;
	padding:0;
	background:#292929;
	width:48px;
	height:48px;
	overflow:hidden;
	float:left;
}
.tweet_user_detail {
	margin:0 0 0 5px;
	float:left;
	width:190px;
}
.tweet_user_detail .title {
	margin:0 0 5px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
}
.tweet_user_detail .description, .tweet_user_detail .description1 {
	margin:0;
	padding:0;
	font-size:11px;
	font-weight:normal;
	color:#5a5957;
}
.tweet_user_detail .description1 {
	margin:2px 0 0 0;
	font-style:italic;
	color:#999;
}
.tweet_user_detail1 {
	margin:0 20px 0 5px;
	padding:0 15px 0 0;
	float:left;
	width:320px;
	border-right:1px dashed #CCC;
}
.tweet_user_detail1 .title {
	margin:0 0 5px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
}
.tweet_user_detail1 .description, .tweet_user_detail1 .description1 {
	margin:0;
	padding:0 0 5px 0;
	border-bottom:1px dashed #e5e5e5;
	font-size:11px;
	font-weight:normal;
	color:#5a5957;
}
.tweet_user_detail1 .description1 {
	margin:5px 0 0 0;
	padding:0;
	font-style:italic;
	color:#999;
	border-bottom:none;
}
.row_quote {
	margin:10px 10px 0 10px;
	padding:0 0 10px 0;
	border-bottom:1px dashed #e5e5e5;
}
.row_quote .quote {
	margin:0 0 5px 0;
	padding:0;
	font-size:12px;
	color:#666;
}
.row_quote .author {
	margin:0 0 0 5px;
	padding:0;
	font-size:11px;
	font-style:italic;
	color:#999;
}
.album_playlist .btn_like, .album_playlist .btn_dislike {
	color:#FFF;
}
.tileheight284 {
	height:284px;
}
.tileheight428 {
	height:428px;
}
.col1x {
	width:144px;
	height:auto;
	float:left;
	display:block;
}
.col2x {
	width:288px;
	height:auto;
	float:left;
}
.col3x {
	width:432px;
	height:auto;
	float:left;
}
.col4x {
	width:576px;
	height:auto;
	float:left;
}
.celeb_col-right {
	position:relative;
}
.celeb_home_news {
	margin:254px 0 0 0;
	float:left;
}
.celeb_home_news .white_block h3 {
	margin:0;
	padding:0;
	color:#666 !important;
}
.celeb_home_news .white_block h3 span.red1 {
	color:#D53225 !important;
}
.celeb_home_news .white_block {
	margin:-4px 0 0 0 !important;
	border-top:0;
}
.celeb_home_news .white_block h1 {
	margin:0;
	padding:0;
	font-size:30px;
	line-height:30px;
}
.celeb_home_news .newspost {
	margin:5px 0 0 0;
	font-size:11px;
	font-style:italic;
	display:block;
	color:#999999;
}
.celeb_col-right .ad300 {
	position:absolute;
	top:0;
	left:0;
}
.twitter_col1 {
	margin:0;
	padding:20px;
	background:#FFFFFF;
	border: 1px solid #DEDBD6;
	float:left;
	width:252px;
	height:960px;
 *height:980px;
}
.twitter_col2 {
	margin:0;
	padding:20px;
	background:#FFFFFF;
	border: 1px solid #DEDBD6;
	float:right;
	width:506px;
	height:960px;
 *height:980px;
}
.alpha_order_block {
	margin:5px 0 20px 0;
	padding:0;
	float:left;
}
.alpha_order a, .alpha_order.all a {
	margin:1px;
	padding:1px;
	background:#fcfcfc;
	border:1px solid #f5f5f5;
	font-size:11px;
	text-align:center;
	width:12px;
	color:#000;
	float:left;
}
.alpha_order.all a {
	width:30px;
}
.alpha_order a:hover, .alpha_order a.active {
	background:#d94032;
	border:1px solid #d03d30;
	color:#FFF;
	font-style:italic;
}
ul.twitter_names {
	margin:0;
	padding:0;
	list-style:none;
	height:788px;
	overflow-y:scroll;
}
ul.twitter_names li {
	margin:0;
	padding:0 10px;
	width:180px;
}
ul.twitter_names li .tw_row1 a, ul.twitter_names li .tw_row2 a {
	margin:0;
	padding:10px;
	background:#FFF;
	border:1px solid #FFF;
	width:180px;
	float:left;
}
ul.twitter_names li .tw_row2 a {
	background:#fcfcfc;
	border:1px solid #f5f5f5;
}
.twitter_input {
	margin:10px 0 0 10px;
	padding:0;
	background:url(../images/search_twitter.png) 0 0 no-repeat;
	width:167px;
	height:30px;
	float:left;
}
.twitter_input input {
	margin:6px 10px 6px 13px;
	width:140px;
	background:none;
	border:none;
}
.twitter_submit {
	margin:10px 0 0 10px;
	padding:6px 0;
	background:#d94032;
	border:none;
	font-family: 'opensan-webfont';
	font-style:italic;
	font-size:11px;
	color:#FFF;
	cursor:pointer;
	border-radius:2px;
	float:left;
	text-align:center;
	width:60px;
}
.twitter_col2 .tweet_user_detail {
	margin:0 0 0 10px;
	width:440px;
}
.twitter_col2 .tweet_row {
	margin:10px 0;
}
.twitter_col2 .tweet_user_detail .title {
	margin:0 5px 0 0;
}
.twitter_col2 .tweet_user_detail .description {
	font-size:12px;
	line-height:18px;
}
.twitter_col2 #pagination ul {
	margin:20px 0 0 0;
}
.all_tweets {
	margin:-5px 0 0 0;
	padding:0;
	font-family:Arial;
	font-size:10px;
	color:#333;
	text-transform:uppercase;
	font-weight:bold;
	float:right;
}
.all_tweets a {
	color:#666 !important;
}
.all_tweets_detail {
	margin:8px 0 0 0;
	padding:0 10px 0 0;
	border-right:1px solid #DEDBD6;
	float:left;
}
.refresh_tweet {
	margin-left:10px !important;
}
