#connect{}
.col_black{ color:#000 !important;}
.width340{ width:340px;}
.width360{ width:360px !important;}
.width260{ width:260px; overflow:hidden;}
.paddingLR10{ padding:0 13px 20px 12px !important; width:523px;}
.paddingLR10N{ padding:0 16px 20px 16px !important; width:265px; _width:269px;}
.paddingL5{ padding-left:5px !important;}
.paddingL10{ padding-left:10px !important;}

#connect .rating .review_count{ margin:0 !important;}

#connect .album_block2 .rating_big {
    margin: 0;
}

#connect .movie_frame19 .normal {
	line-height:20px;
}
#connect .margin15 {
    margin: 15px 15px !important;
	_margin: 15px 8px !important;
}

#connect .width535 { width:515px; border-right: 1px solid #CECECE; }

#connect .margin60 {
    margin: 20px 60px!important;
	_margin: 25px 50px!important;
}

.fontbold{ font-weight:bold; color:#000 !important;}
.connect_frame_550 {
	float: left;
	width:500px;
	padding:0 0 20px 0;
	margin:0px;
}
#comments_mix .more_games_block {
	width:263px;
}

#connect .title{/*font-size:14px;*/ color:#666; font-weight:bold;}
#connect .title14, #connect-hotw .title14{font-size:14px; color:#666; font-weight:bold;}
#connect .description{font-size:12px; color:#666; font-style:normal; line-height:18px;}
#connect .description1{font-size:11px; color:#666; font-style:italic;}
#connect .description2{font-size:11px; color:#666;}
#connect .info {font-size:11px; color:#999; font-style:italic;}

#connect .connect_frame_550 .title{ padding:5px 0px; font-size:14px;}
#connect .connect_frame_550 .description{line-height:15px; padding:3px 0px;}
#connect .connect_frame_550 .description1{ line-height:20px;}
#connect .connect_frame_550 .info{ padding-top:0px; margin-bottom:4px;}

#connect ul.blue_right li {border-bottom: 1px solid #e5e5e5 !important;}

#connect ul.blue_right li.last{ border:0px !important;}

#connect .news_frame42 .play1 {bottom:8px; left:8px;}
#connect .video_block1 {text-align:center;}
#connect .video_block1 .title { margin-left:0px;}


/* connect photo section */


#portrait126_126 .tiles126{width:124px; height:93px; overflow:hidden; border:1px solid #ccc;}
#portrait256_256 .tiles256{width:254px; height:193px; overflow:hidden; border:1px solid #ccc;}
.tiles126, .tiles256 {position:relative; margin:2px; float:left; overflow:hidden }

.bolly_photo130 {
	width:130px;
	height:auto;
	float:left;
	overflow:hidden;
	display:block;
}

.bolly_photo260 {
	width:260px;
	height:auto;
	float:left;
	overflow:hidden;
	display:block;
}


#portrait173_173 .tiles173{width:173px; height:173px; overflow:hidden;} 
#portrait130_130 .tiles130{width:130px; height:130px; overflow:hidden;} 
#portrait86_86 .tiles86{width:86px; height:86px; overflow:hidden;} 
#portrait42_42 .tiles42{width:42px; height:42px; overflow:hidden;} 

.tiles173, .tiles130, .tiles86, .tiles42{position:relative; margin:1px; float:left; overflow:hidden }

.popular_con173 {width:175px;display:block; float:left; height:auto;}
.popular_con130 {width:132px;display:block; float:left; height:auto;}
.popular_con86 {width:88px;display:block; float:left; height:auto;}
.popular_con42 {width:44px;display:block; float:left; height:auto;}


.connect_frame1_block {
    float: left;
    /*overflow: hidden;*/
    padding: 0;
	width: 162px;
}

.connect_frame1 {
    background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    float: left;
    height: 120px;
    margin:0;
    padding: 0;
    position: relative;
    width: 160px;
}

.connect_frame1 .photo {
    background:#292929;
    float: left;
    height:114px;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    width:154px;
}

#connect .drop_text {
    padding: 4px 10px 0;
}

#connect .download { position:relative; float:right; margin:22px 10px 0 0;}



.poll_frame_block {
    float: left;
    padding: 0;
	width: 100px;
	margin:0px;
	text-align:center;
}

.poll_frame50 {
    background:#FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    float: left;
    height:90px;
    margin:0;
    padding: 0;
    position: relative;
    width:90px;
}

.poll_frame50 .poll_photo50 {
    background:#292929;
    float: left;
    height:84px;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    width:84px;
}

.vs{
	font-family: 'oswald-webfont';
	font-size:14px;
	margin:30px 0px;
	text-align:center;
	width:50px;
	float:left;
	}
.vs_big{
	font-family: 'oswald-webfont';
	font-size:25px;
	margin:70px 0px;
	text-align:center;
	width:60px;
	float:left;
	color:#9b9b9b;
	}	
	
#connect .rat_margin {
	padding-top:5px;
    padding-left: 43px !important;
}	


/* ================= Google trande style ================= */

.search_bg .search_last_round {
	background-position: -660px 0;
	margin:0;
	padding:0;
	width:18px;
	height:24px;
	float:left;
}

#connect .search_box {
    margin: 5px 0 15px 0px;
    padding: 0;
}
#connect .search_middle{ width:370px !important; background: url(../images/search_big.png) repeat-x top left;}
#connect .search_middle input { width:370px !important;}




/*======================= Connect trande page ======================*/

.trande_scroll {
    float: left;
    margin: 0 5px 20px 5px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 110px;
}

#connect .frame100 {
	width:108px;
	height:108px;
	margin-bottom:0px;
}
#connect .frame100 .photo {
	width:102px;
	height:102px;
}

.top_border{
	border-top:1px solid #DEDBD6 !important;
}

.top_border_dash{
	border-top:1px dashed #DEDBD6 !important;
}

.bottom_border{
	border-bottom:1px solid #DEDBD6 !important;
}

.bottom_border_dash{
	border-bottom:1px dashed #DEDBD6 !important;
}
/* =================== connect - take section style ========================*/

.poll_frame_block_big {
    float: left;
    padding: 0;
	width: 188px;
	margin:0px;
	text-align:center;
}

a .seeresult {
	/*margin-top:15px;*/
	width:74px;
	height:26px;
	background-position: -736px -695px;
	float:left;
}
a:hover .seeresult {
	background-position: -736px -721px;
}
a.active .seeresult {
	background-position: -736px -747px;
}

#connect .mychoise{
	padding-right:0 !important;
	border:none;
	width:280px;
}


/* ======================== connect H.O.T.W ======================== */

#connect-hotw {}

.hotw_block{
	width:255px;
	/*border-right:1px solid #ccc;*/
	color:#999;
	line-height:20px;
	padding:20px 15px;
	font-size:11px;
	/*text-align: justify;*/
	}

#connect-hotw .white_block {
	margin:20px 0 0 0;
	padding:0 0px 0px 0px;
	background:#FFF;
	border:1px solid #dedbd6;
	float:left;
	width:858px;
}

#connect-hotw .line_bg {
	background: url(../images/line_bg.png) repeat-y 50% 0% #fff !important;
}		

/*===================== connect top keywords ============================== */

#connect-hotw .listhead{ font-size:14px; font-weight:bold; padding:5px 0 5px 0px; color:#222;}

#connect-hotw .listhead a.active{color:#0072bc;}

#connect-hotw ul.main {
	padding:0 0 10px 0;
	list-style-type:none;
	color:#222; 
}

#connect-hotw ul.main li {
	line-height:20px;
	font-size:12px;
	list-style-type:none;
	padding:0 0 0 10px;
}

#connect-hotw ul.main li a {color:#222; text-decoration:none; font-weight:bold;}
#connect-hotw ul.main li a:hover {color:#0072bc; text-decoration:none;}

#connect-hotw ul.main li ul {list-style-type:none; margin:0; padding:0 0 10px 0;}
#connect-hotw ul.main li ul li {line-height:17px; list-style-type:none; padding:0 0 0 10px; font-size:11px;}
#connect-hotw ul.main li ul li a{color:#0072bc; text-decoration:none; font-style:italic;}
#connect-hotw ul.main li ul li a:hover{color:#0072bc; text-decoration:underline;}
/* for the third level ul li style */
#connect-hotw ul.main li ul li ul {list-style-type:none; margin:0; padding:0 0 10px 0;}
#connect-hotw ul.main li ul li ul li {line-height:17px; list-style-type:none; padding:0 0 0 10px; font-size:11px;}
#connect-hotw ul.main li ul li ul li a{color:#999; text-decoration:none; font-style:italic;}
#connect-hotw ul.main li ul li ul li a:hover{color:#999; text-decoration:underline;}


/* ================ calander page style sheet ========================*/

#connect-hotw .months{ 
width:71px;
float:left;
text-align:center;
line-height:20px;
}

#connect-hotw .last{ 
width:77px !important;
}

#connect-hotw .months a, #connect-hotw .row a { 
color:#0072bc; text-decoration:none; font-style:italic;
}


#connect-hotw .months a:hover, #connect-hotw .row a:hover{ 
color:#0072bc; text-decoration:underline; font-style:italic;
}

.no_rightborder{ border-right:0px solid #C60 !important;}

#connect-hotw .months .mname{
	padding:10px 0 0 0;
	display:block;
	height:25px;
	background:#fff;
	font-weight:bold;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #eaeaea;
	color:#222;
}

#connect-hotw .months ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
	font-size:11px;
}


#connect-hotw .months ul li{
	padding:5px 0 0 0;
	list-style-type:none;
	display:block;
	min-height:28px;
	background:#fcfcfc;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #eaeaea;
}

#connect-hotw .months ul li.alt{
	padding:5px 0 0 0;
	list-style-type:none;
	display:block;
	min-height:28px;
	background:#fff;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #eaeaea;}
	
/* option 2 design */

#connect-hotw .row{ padding:0; margin:0px; clear:both; font-size:11px; }

#connect-hotw .row .mname2{
	width:70px;
	padding:10px 0 0 0;
	display:block;
	height:25px;
	background:#fff;
	font-weight:bold;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #eaeaea;
	color:#222;
	float:left;
	text-align:center;
}

#connect-hotw .row .normal{
	padding:5px 0 0 0;
	width:70px;
	float:left;
	display:block;
	min-height:28px;
	background:#fcfcfc;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #eaeaea;
	text-align:center;
}

#connect-hotw .row .alt{
	padding:5px 0 0 0;
	text-align:center;
	width:70px;
	float:left;
	display:block;
	min-height:28px;
	background:#fff;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #eaeaea;
	}
.connect_frame119_170 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:125px;
	height:176px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.connect_frame119_170 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:119px;
	height:170px;
	overflow:hidden;
	float:left;
}
.connect_frame_movies_image {
	margin:0 23px;
	padding:0;
	float:left;
	width:130px;
	min-height:220px;
	text-align:center;
}
.connect_music_album_section {
	margin:20px 0 0 0;
	padding:0;
	float:left;
}
.connect_music_album_section .play_scroll {
	margin:0 2px 0 0;
	padding:0;
	min-height:180px;
	float:left;
}
.connect_music_album_section .title {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 2px 0;
    padding: 0;
}
.connect_music_album_section .description {
    color: #999999;
    font-size: 11px !important;
    font-style: italic !important;
    margin:0;
    padding:0;
}

/*========== Celeberity bio section ================  */


#connect .zigzagbox .data {
    line-height: 130%;
    padding: 10px 18px;
}

.connect_celeb_bio {
	color: #5a5957;
    float: left;
    font-size: 12px;
    margin: 20px 0 0;
    padding: 0;
	line-height:20px;
	}

.connect_celeb_bio strong {
    font-size: 13px;
	font-weight:bold;
	}

.connect_celeb_bio p.space {
	padding:0 0 15px 0;
	}			
	
#connect .poll_btn {
    float: left;
    margin:0 0 5px 10px;
    padding: 0;
}

#connect  .red_poll_title {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
	line-height:20px;
	float:left;
    padding:10px 0;
}

#connect .zigzagbox lable {
	line-height:20px;
	display:inline-block;

}

#connect .zigzagbox .pollinput {
	line-height:20px;
	float:left;
	vertical-align:middle !important;
}

#connect .zigzagbox  input{
	vertical-align:middle !important;
	line-height:20px;
	display:inline-block;
}
.connect_inner_bio_frame {
	margin:10px;
	padding:0;
	float:left;
	width:120px;
}
.connect_inner_bio_frame_detail {
	margin:10px 10px 10px 0;
	padding:0;
	float:left;
	width:700px;
}
.connect_inner_bio_frame_detail h3 {
	font-size:12px; line-height:12px;
	color:#d53225;
}
.connect_inner_bio_frame_detail h1 {
	font-size:40px;
	line-height:40px;
}
.bio_h1 span {
	margin:0;
	display:inline;
}
.bio_h1 .follow_btn, .bio_h1 .unfollow_btn {
	margin:0 0 4px 10px;
	*margin:0 0 15px 10px;
	float:none;
	display:inline-block;
}
.bio_frame_detail_left {
	margin:0;
	padding:0;
	float:left;
	width:565px;
}
.bio_frame_detail_right {
	margin:0 0 10px 0;
	padding:0;
	float:right;
	width:120px;
}
.bio_frame_detail_right  .album_block2{ float:right}
.bio_frame_detail_right  .rating{ float:right; margin: 8px 0 5px 0}
.bio_frame_detail_right  .rating .review_count{ float:right}
.bio_frame_detail_right  .rating_big { height:25px !important}

.more_link_big .follow_btn, .more_link_big .unfollow_btn {
	margin:2px 0 0 0;
	float:right;
}
.connect_celeb_bio h3 {
	margin:0 0 20px 0;
}
#celebs_profile .serp_frame_main_image {
	margin:0 17px 20px 17px;
}
#celebs_profile .serp_frame_main_video {
	margin:0 17px 20px 17px;
}
.take_pick_result_block {
	margin:0 0 30px 0;
	padding:0;
	width:235px;
}
.take_pic_frame {
	margin:0 15px 0 0;
	padding:0;
	float:left;
	width:85px;
}
.take_pic82_82 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:88px;
	height:88px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.take_pic82_82 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:82px;
	height:82px;
	overflow:hidden;
	float:left;
}
.take_pick_detail {
	margin:0;
	padding:0;
	float:left;
}
.take_pick_detail .result_description {
	margin:5px 0 0 0;
}
.take_results {
	margin:0 !important;
}
.take_pick_detail #poll_votes {
	margin:20px 0 0 0;
	width:125px;
}
.take_result_rate {
	margin:5px 0 0 0;
	font-size:15px;
	font-weight:bold;
	color:#d53225;
}
.take_pick_detail #poll_votes .poll_yes {
	margin:0;
}

.take_pick_detail #poll_votes .pollbg {
	background: url("../images/poll/poll_item_small.png") no-repeat scroll 0 0 transparent;
    width: 125px;
}
.take_pick_detail #poll_votes .poll_yes .poll_result {
    background: url("../images/poll/poll_item_small.png") no-repeat scroll -1px -12px transparent;
}
.pics_celebs_row {
	margin:0;
	padding:0;
	border-bottom:1px dashed #e5e5e5;
	font-weight:bold;
}
.pics_celebs_row p{
	margin:0;
	padding:10px 0;
}

/***************************************02/05/2012********************************************************/
#connect .playlist_item .music_list_detail1 .description{ background:none; display: inline; left: inherit; position: relative; top: inherit; color: #999; font:italic 11px Arial; }
.gL_12{font:12px Arial; color:#CCC}