/* css copy from news */
	
#devoional .more_link_big {
    padding: 10px 20px;
}

#devoional .preview { cursor:pointer !important;}
	

#devoional .block_music_album h3 {
    margin: 22px 10px;
    padding: 0;
}

#devoional .min-heigh { min-height:247px !important;}
#devoional .news_detail {
    color: #222;
	line-height:18px;
}

.lineheight20 {
	line-height:20px;
}
	
#devoional .title{color:#666; font-weight:bold;}
#devoional .description{font-size:12px; color:#666;}
#devoional .description1{font-size:11px; color:#666; font-style:italic;}
#devoional .info {font-size:11px; color:#999; font-style:italic;}
#devoional #personalize_data .description{height:140px;}
#devoional .news_image_artical { font-size:12px; line-height:130%;}

#devoional .tab_frame_cont_movie .movie_review {
	font-size:11px !important;
	}

#devoional, #devoional1{}
/*
#devoional .display_content { height:410px !important;}*/

#devoional1 .movie_scroll .title { font-size:11px;}

.height410{height:410px !important;}


#devoional .block_music_album h1 {
    line-height: 35px;
    margin: 5px 10px 15px 0;
    padding: 0;
}

#devoional .allmusic_video_home .week_video .title2{ font-size:11px; padding:5px 0 0 0; height:30px; overflow:hidden;}
#devoional .allmusic_video_home .week_video .title2 a{color:#666666;}

#devoional .video .v_player {
	border:1px solid #DEDBD6;
	border-bottom:none;
    float:left !important;
    height:296px !important;
    padding:10px 10px 0 10px;
    width:526px;
	}
	
#devoional .video .v_player img{overflow: hidden; width: 526px;}
	

#devoional .play2 {
    left: 230px !important;
    top: 100px !important;
	display:block;
	/*z-index:9;*/
}

.whitebg {
	 background:#FFFFFF !important;
}


#devoional1 .video {
	/*background:#292929;*/
	/*height:313px;*/
	position:relative;
	float:left;
	}
	


#devoional .frame3_block .frame3 {
	border:1px solid #c4c4c4;
	width:119px;
	height:119px;
}

#devoional .frame3_block .frame3:hover, #devoional .frame3_block .frame3.active  {
	border:1px solid #c4c4c4;
	background:#ce3024;
	width:119px;
	height:119px;
}


#devoional .red_right_block {
	/*min-height:480px;*/
    /*height: 480px;*/
	margin-bottom:20px;
	float:left;
}
	
#devoional1 .video .v_player img {
	width:530px!important;
}

#devoional .news_content1 {
	margin:0;
	padding:15px 20px 5px 20px;
	height:82px;
	text-align:left;
	clear:both;
	width:506px;
	border:1px solid #dedbd6;
	border-top:0px !important;
}

#devoional .title12{color:#666; font-weight:bold; font-size:12px !important; text-align:center; }

#devoional .title{color:#666; font-weight:bold; }
#devoional .description{font-size:12px; color:#666;}
#devoional .description1{font-size:11px; color:#666; font-style:italic;}
#devoional .info {font-size:11px; color:#999; font-style:italic;}


#devoional .news_frame8_block .title{ padding:5px 0px; font-size:14px; height:30px; overflow:hidden;}
#devoional .news_frame8_block .description{line-height:15px; padding:3px 0px;}
#devoional .news_frame8_block .description1{ line-height:20px;}
#devoional .news_frame8_block .info{ padding-top:10px; margin-bottom:4px;}

/*#devoional a.news_tab { width:109px !important;}*/

#devoional a .tab_view_tab {
	width:110px;
	_width:108px;
}
#devoional a:hover .tab_view_tab, #devoional a.active .tab_view_tab {
	background:#d53225;
	border-left:1px solid #95231a;
	color:#FFF;
}

#devoional a.news_tab {
    float: left;
	height: 100px;
    width: 109px;
}

#devoional .news_tab.last {
	border-right:1px solid #dedbd6;
}

#devoional a .news_tab_top {
    background:url(http://im.active18.com/images/top_arrow108.png) no-repeat left top !important;
	width:108px !important;
}

#devoional a .tab_top {
	background-position: 0 -308px;
	margin:0;
	padding:0;
	width:110px;
	height:10px;
	/*position:relative;*/
	position:absolute;
	display:none;
	top:-6px;
	left:0;
	z-index:1;
	border:none;
}

#devoional a:hover .tab_top, #devoional a.active .tab_top {
	display:block;
	
}
#devoional .tab_video {
	margin:20px 0 5px 35px;
	padding:0;
	width:40px;
	height:42px;
	float:left;
}
#devoional a .tab_video{
	background-position: -923px -772px;
}
#devoional a:hover .tab_video, #devoional a.active .tab_video {
	background-position: -963px -772px;
}

#devoional .tab_music {
	margin:21px 0 5px 32px;
	padding:0;
	width:48px;
	height:42px;
	float:left;
}
#devoional a .tab_music {
	background-position: -1004px -772px;
}
#devoional a:hover .tab_music, #devoional a.active .tab_music {
	background-position: -1050px -772px;
}
#devoional .tab_photo {
	margin:25px 0 15px 35px;
	padding:0;
	width:39px;
	height:28px;
	float:left;
}



#devoional a .tab_photo {
	background-position: -923px -815px;
}
#devoional a:hover .tab_photo, #devoional a.active .tab_photo {
	background-position: -962px -815px;
}

#devoional .tab_ebook {
	margin:25px 0 5px 40px;
	padding:0;
	width:30px;
	height:40px;
	float:left;
}
#devoional a .tab_ebook {
	background-position: -923px -847px;
}
#devoional a:hover .tab_ebook, #devoional a.active .tab_ebook {
	background-position: -954px -847px;
}

#devoional .tab_astrology {
	margin:20px 0 5px 30px;
	padding:0;
	width:45px;
	height:46px;
	float:left;
}
#devoional a .tab_astrology {
	background-position: -1004px -815px;
}
#devoional a:hover .tab_astrology, #devoional a.active .tab_astrology {
	background-position: -1049px -815px;
}


.zodic_sign {
	float:left;
	width:180px;
	margin-right:0px;
	padding-right:15px;
	border-right:1px solid #666;
	}
	
.zodic_signpg {
	float:left;
	margin-right:0px;
	padding-right:15px;
	}	

#devoional .yellowgold{color:#eddfa8;}	

#devoional .datebig{ float:left; width:75px; color:#eddfa8; text-align:center; padding:0 10px 0 0; font-family: 'oswald-webfont';}

#devoional .datebig .font70{ float:left;font-size:70px !important; line-height:55px !important; margin:0px; padding:0 0 3px 0; font-family: 'anton-webfont'; }


#devoional .news_blockquote { width:auto !important;  margin: 10px 0;}


#devoional .play_btn.video_bar_play {
    bottom:7px;
    left: 7px;
}

#devoional .grey_block_middle_Cele .frame3_block { margin-bottom:0px !important;}


#devoional .opinion_data p {
	line-height:16px;
	padding:5px 0px;
	}
	
#devoional .opinion_data h1 {
	line-height:40px;
	}
	
#devoional .opinion_data2 {
	padding:10px 20px 0px 20px;
	margin:0 !important;
	float:left;
	}	
	
	
#devoional .numerologybg {
	width:91px;
	height:93px;
	float:left;
	text-align:center;
	background: url(http://im.active18.com/images/numo_roudbg.png) no-repeat left top;
	}
	
#devoional .numerologybg span {
	font-family: 'anton-webfont';
	line-height:93px;
	color:#fff;
	font-size:45px;
	}
	

ul.numerology {
	display:inline-block;
	list-style-type:none;
	/*padding:0px;*/
	padding:15px 0 0 0;
	}
	
ul.numerology li {
	display:inline-block;
	float:left;
	list-style-type:none;
	width:35px;
	height:35px;
	border:2px solid #dedbd6;
	margin:0 1.7px;
	text-align:center;
	line-height:35px;
	}
	
ul.numerology li a {
	font-family: 'anton-webfont';
	color:#666;
	font-size:26px;
	line-height:35px;
	margin:0px;
	padding:0px;
	display:block;
	text-decoration:none;
}

ul.numerology li a:hover, ul.numerology li a.selected {
	color:#d23125;
	text-decoration:none;
	display:block;
}
	



#devoional .movie_frame19 {
    text-align:left !important;
	margin:0 7px 0 0;
}

.paddingL35 {
    padding-left:35px !important;
}


#devoional1 .download{ position:relative !important; float:left;}





/* ===== top category hover section style ==== */

#devoional .top_cat_pop, #devoional .top_cat_pop_keep_open {
	width:315px;
	padding:15px 10px 15px 10px;
	min-height:230px;
	margin:0px;
	background:#f9f9f9;
	position:absolute;
	z-index:99;
	top:30px;
	right:0px;
	border:1px solid #d6d6d6;
	box-shadow:0px 3px 5px 0px #666;
	}
	
/*#devoional .top_cat_pop .row {
	padding:15px 10px 15px 10px;
	margin:0px;
	}
*/	
#devoional .top_cat_pop .lables, #devoional .top_cat_pop_keep_open .lables{
	width:60px;
	float:left;
	font-size:12px;
	line-height:26px;
	color:#000;
	}		

#devoional .top_cat_pop .big_gray_input_mid, #devoional .top_cat_pop_keep_open .big_gray_input_mid{ background:url(http://im.active18.com/images/input_bg_grey.png) repeat-x top left !important; float: left;
    height: 26px;
    margin: 0;
    padding: 0;
	width:225px;
	}
	
#devoional .top_cat_pop .big_gray_input, #devoional .top_cat_pop_keep_open .big_gray_input {
    float: left;
    margin: 0 0px 10px 0;
    padding: 0;
    width: 255px;
}

#devoional .top_cat_pop .big_gray_input_mid input, #devoional .top_cat_pop_keep_open .big_gray_input_mid input {width:220px !important; font-size:11px!important; margin:5px 0 0 0; padding:0px; background:none; border:none; font-style:italic; color:#6e6e6e;}


#devoional a .save {
	margin-top:15px;
	width:63px;
	height:26px;
	background-position: -664px -616px;
	float:left;
}
#devoional a:hover .save {
	background-position: -664px -642px;
}
#devoional a.active .save {
	background-position: -664px -668px;
}

/* ========================== video details page ==================================== */


/* Numorology section back form  */

.nu_bgray_input { float:left; width:290px; padding:0px; margin:0 0px 5px 0px;}

.nu_bgray_input_mid{ background:url(http://im.active18.com/images/input_bg_grey.png) repeat-x top left !important; float: left;
    height: 26px;
    margin: 0;
    padding: 0;
	width:260px;
	}

.nu_bgray_input_mid input {width:250px !important; font-size:11px!important; margin:5px 0 0 0; padding:0px; background:none; border:none; font-style:italic; color:#6e6e6e;}

.nulast_gray {
	background:url(http://im.active18.com/images/input_last_gray.png) no-repeat left top;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    width: 15px;
}

.horoscopeform .horodropNu{
	/*width:85px;*/
	padding:0 10px 0 0px;
	float:left;
	}



/* ============= Astrology - E-book Details page ================= */
#devoional .search_mid_gray input {
    width: 120px !important;
}

.margintop5 {margin:5px 0 0 0 !important;
}

a.btn_tagSh {background:url(http://im.active18.com/images/in_sprite1.png) no-repeat -1006px -731px; width:29px; height:29px; float:left; margin:0 5px 0 0;}
a.btn_tagSh:hover {background-position: -1037px -731px;}
a.btn_tagSh.active, a.btn_tagSh:active{background-position: -1067px -731px;}



/*=============================== details of for astrology =====================*/

.zodic_frame{
	text-align:center;
	width:95px;
	padding:10px 0;
	}

.zodic_frame .zsign{
	padding:5px 0 20px 0;
	text-align:center;
	}	




/* ================ astrology today section style ===================== */

.grayhr5 {
	margin:20px 0;
	border-top:1px solid #404040;
}

.horoscopeform{
	margin:0;
	padding:10px 0;
	clear:both;
	}


.horoscopeform .data{
	color:#fff;
	line-height:27px;
	font-size:12px;
	padding-right:15px;
	width:70px;
	}

.horoscopeform .horodrop{
	width:100px;
	padding:0 10px 0 0;
	float:left;
	}	


#devoional .dropdown1 {
	margin:0 !important;
	z-index:10;
}

#devoional .higherindex11 {
	z-index:11;
}

#devoional .higherindex12 {
	z-index:12;
}

#devoional .higherindex13 {
	z-index:13;
}

#devoional .higherindex14 {
	z-index:14;
}

#devoional .higherindex15 {
	z-index:15;
}

#devoional .higherindex16 {
	z-index:16;
}

#devoional .higherindex17 {
	z-index:17;
}


.horoscopeform .drop_textg,
.add_biz * .drop_textg{
	margin:0;
	padding:4px 5px 0 5px;
	font-family:'opensan-webfont';
	font-size:11px;
	font-style:italic;
	font-weight:normal;
	color:#808080;
	float:left;
	overflow:hidden;
}


.paddingL85{ padding-left:85px !important;}

.big_gray_input, .small_gray_input { float:left; width:340px; padding:0px; margin:0 15px 5px 0px;}

.big_gray_input_mid, .big_gray_input_mid_country{ background:url(http://im.active18.com/images/input_bg_grey.png) repeat-x top left !important; float: left;
    height: 26px;
    margin: 0;
    padding: 0;
	width:300px;
	}

.big_gray_input_mid input, .big_gray_input_mid_country input {width:290px !important; font-size:11px!important; margin:5px 0 0 0; padding:0px; background:none; border:none; font-style:italic; color:#6e6e6e;}

.input_last_gray {
	background:url(http://im.active18.com/images/input_last_gray.png) no-repeat left top;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    width: 15px;
}
.small_gray_input {
	margin:0 10px 0 0px;
	width:150px;
}

.big_gray_input_mid_country {
	width:122px;
}
.big_gray_input_mid_country input {
	padding:0 0 5px 0;
	width:120px !important;
}

.kundali_left{ width:70px; float:left; line-height:26px; font-size:12px; height:26px; display:table-row-group;}	


#matchkundali{}

#matchkundali .horoscopeform .horodrop{
	padding:0 8px 0 0;
	}
#matchkundali .horoscopeform .last{
	padding:0 0px 0 0;
	}	
	
#matchkundali .big_gray_input { float:none; display:100%; width:inherit; padding:0px; margin:0 10px 5px 0px; text-align:center; display:block;}		
#matchkundali .dropdown{margin:0 auto; width:110px; display:inline-block;}

#matchkundali .big_gray_input_mid{ background:url(http://im.active18.com/images/input_bg_grey.png) repeat-x top left !important; float: left;
 	width:280px; 
	}

.rightborder_dash{ border-right:1px dashed #cccccc; padding-right:12px;}	





/*========================== Lightbox section for devotional page ================= */

.devotional_lightbox_class{width:870px !important; border-radius:0 !important; border:none !important; background:#000 !important; padding:0 !important; overflow:visible !important; top:0 !important; left:20%; right:0;}
.ui-dialog.devotional_lightbox_class .ui-dialog-content{padding:15px 0; overflow:inherit;}
.ui-dialog.devotional_lightbox_class .ui-dialog-titlebar{display:none;}


#devotional_lightbox{position:relative;}
#devotional_lightbox #logo{background:url(http://im.active18.com/images/photogallery/lightbox_icon.png) 0 -130px no-repeat; width:72px; height:33px; position:absolute; left:-115px; top:20px; text-indent:-9999px;}
#devotional_lightbox .topbar{border-bottom:1px dashed #242424; padding:15px 0 15px 0;}
#devotional_lightbox .topbar .width635{width:500px;}
#devotional_lightbox .topbar h1{font-size:50px; color:#ffffff; line-height:50px;}
#devotional_lightbox .photo_detail{color:#999999; margin:0 10px; float:none;}
#devotional_lightbox .topbar .midstrip{float:left; border-right:1px dashed #3b3b3b; margin:0 10px; height:30px;}

#devotional_lightbox img#mainphoto{width:860px; height:704px; margin:20px 3px;}

#devotional_lightbox .topbar a.btn_back {background:url(http://im.active18.com/images/photogallery/lightbox_icon.png) 0 0 no-repeat; float: left; height: 30px; width: 30px;}

#devotional_lightbox .topbar a.btn_next {background:url(http://im.active18.com/images/photogallery/lightbox_icon.png) -30px 0 no-repeat; float: left; height: 30px; width: 30px;}

#devotional_lightbox .topbar a.btn_zoom {background:url(http://im.active18.com/images/photogallery/lightbox_icon.png) 0 -60px no-repeat; float: left; height: 30px; width: 30px;}

#devotional_lightbox .topbar a.btn_back:hover{background-position:0 -30px;}
#devotional_lightbox .topbar a.btn_next:hover{background-position:-30px -30px;}
#devotional_lightbox .topbar a.btn_zoom:hover{background-position:-30px -60px;}

#devotional_lightbox .topbar .font12 {color: #FFFFFF !important;  font-size: 16px;}


#devotional_lightbox ul.follow_share li{float:left; border-right:1px dashed #3b3b3b; padding:0 10px; margin-top:20px;}
#devotional_lightbox ul.follow_share li.last{border:none; padding-right:0;}
#devotional_lightbox ul.follow_share li a{color:#999999;	font-size:12px;	font-weight:bold;}
#devotional_lightbox ul.follow_share li a:hover{color:#e50017;}


#devotional_lightbox .follow_share .share_fb, #devotional_lightbox .follow_share .share_tweet, #devotional_lightbox .follow_share .share_google, #devotional_lightbox .follow_share .share_bm{background:url(http://im.active18.com/images/photogallery/lightbox_icon.png) no-repeat;
    display: inline-block;
    float: left;
    height: 20px;
    width: 20px;
	margin:0 3px 0 0;
}


#devotional_lightbox .follow_share .share_fb { background-position: 0 -90px;}
#devotional_lightbox .follow_share .share_tweet { background-position: -20px -90px;}
#devotional_lightbox .follow_share .share_google {background-position: -40px -90px;}
#devotional_lightbox .follow_share .share_bm {background-position: -6px -165px; width:15px !important;  }

#devotional_lightbox .follow_share a:hover .share_fb{background-position: 0 -110px;}
#devotional_lightbox .follow_share a:hover .share_tweet {background-position: -20px -110px;}
#devotional_lightbox .follow_share a:hover .share_google {background-position: -40px -110px;}
#devotional_lightbox .follow_share a:hover .share_bm {background-position: -6px -186px;}

#devotional_lightbox .pageno { background:url(http://im.active18.com/images/black_round.png) no-repeat left top; font-size:11px; width:52px; height:27px; margin-right:5px; text-align:center; float:left;}
#devotional_lightbox .pageno span { color:#6e6e6e; font-style:italic; line-height:20px;}
#devotional_lightbox .pageno input { height:18px;}

.title12 {
    font-size: 12px;
    font-weight: bold;
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
    width: 227px;
}


.title12a {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
input.pageno_lightbox {
	background:none;
	border:none;
	color: #6E6E6E;
    font-style: italic;
    line-height: 27px;
	text-align:center;
}

#personalize_form .horodropNu {
    float: left;
    padding: 0 5px 10px 0;
	/*_padding: 0 1px 10px 0;*/
}

#personalize_form .drop_textg {
    color: #808080;
    float: left;
    font-family: 'opensan-webfont';
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 4px 5px 0;
}

#personalize_form .drop_middlegnu {
    padding: 0px 4px;
	*padding: 0px 0px;
	line-height:17px;
}
.kundalimatch_block p {
	margin:10px 0 0 0;
	padding:0;
	line-height:18px;
}
.kundali_row, .kundali_row1 {
	margin:0;
	padding:10px 0;
	background:#FFF;
	border-bottom:1px dashed #cacaca;
	float:left;
	width:508px;
}
.kundali_row1 {
	background:#fafafa;
}
.kundali_col1, .kundali_col2, .kundali_col3, .kundali_col4, .kundali_col5 {
	margin:0;
	padding:0;
	float:left;
	width:100px;
	text-align:center;
}
.kundali_row_big {
	font-size:14px;
	border-bottom:1px solid #cacaca;
}

#tab_content .spacer15 .tab_frame_content1 .dev_anchor{ margin-top:10px;}

.dev_anchor a {
	color:#666666;
}
.dev_anchor a:hover {
	text-decoration:underline;
}
.dev_anchor1 a {
	color:#ffffff;
}
.dev_anchor1 a:hover {
	text-decoration:underline;
}

/*updated on date : 23-4-2012*/
#devoional .full_width .news_frame8_block .details {margin-top:10px;}

#devotional_lightbox .topbar .follow_share {width:310px;}

/*update in_off***************/
#devoional a:hover, #devoional a:hover h1, #devoional a:hover p{color:#0072BC !important; text-decoration:none;}
#devoional .tab_view h1{color: #FFFFFF; font-size: 30px !important; line-height:30px !important; margin: 0 0 10px;}
#devoional #tab_content h1 a {color:#222222;}
#devoional #tab_content h1 a.white{color:#ffffff;}
#devoional #tab_content .tab_frame_content1 h1 {font-size:40px !important; line-height:40px !important;}
#devoional #tab_content .tab_frame_content1 h1 a, #devoional #tab_content h1 a.link_wte{color:#ffffff;}
#devoional #tab_content .dashed2, #devoional #tab_content .dashedM{border-top:1px dashed #4b4b4b;}
#devoional #tab_content .dev_anchor1 h1 a{color:#eedfa8;}
#devoional #tab_content .dev_anchor1 h1 a{color:#eedfa8; text-decoration:none;}
#devoional #tab_content .dev_anchor1 .light_gray{color:#999999px !important;}
#devoional .dev_anchor1 hr{border-color:#666666; margin:3px 0;}
#devoional #tab_content .description{line-height:18px; font-size:11px;}

#devoional .movie_poster .download_ebook{top:inherit; bottom:8px; left:8px;}
#devoional .movie_frame19 .normal a{color:#666666;}

#devoional .grey_block_middle_Cele {
    background:#F5F5F5;
    border-bottom: 1px solid #DEDBD6;
    overflow: hidden;
    padding: 15px 20px;
    text-align: center;
    width: 382px;
}

#devoional1 .movie_scroll {
    float: left;
    padding: 0 21px 20px;
    text-align: center;
    width: 130px;
	position:relative;
}

#devoional1 .movie_scroll .download{position:absolute !important; top:148px; left:27px;}
#devoional1 .movie_bar_scroll .download{position:absolute !important; top:168px; left:2px;}


#devoional .allmusic_video_home{
 	background: #F5F5F5 url(http://im.active18.com/images/devotional_album_bg.gif) repeat-y left top;
    border: 1px solid #DEDBD6;
    margin: 20px 0 10px 0px;
	width:858px;
	position:relative;
	float:left;
	}

#devoional .allmusic_video_home .week_video{
 	width:480px;
	float:left;
	padding:13px 0px 13px 10px;
	min-height:78px;
	height:inherit;
	position:relative;
	z-index:500;
	background:#ffffff;
	border-right: 1px solid #DEDBD6;
	margin-right:-1px;
	}
#devoional .allmusic_video_home .week_video .play_scroll_small {
	margin:0 2px !important;
}

#devoional .allmusic_video_home .today_video .play_scroll {
	width:96px !important;
	height:82px !important;
	margin:0px 15px;
}

#devoional .allmusic_video_home .today_video .play_scroll .scroll_thumb_bg {
	width:86px !important;
	height:80px !important;
}

#devoional .allmusic_video_home .today_video .scroll_thumb {
	width:80px !important;
	height:80px !important;
	}
	
#devoional .allmusic_video_home .play_scroll .add_list
{
	 right: 2px !important;
	 *right: 11px !important;
	}
#devoional .allmusic_video_home .play_scroll_small .scroll_thumb {
	*margin:0 0 0 -1px !important;
}

#devoional .allmusic_video_home .play_scroll .shine_block100 {
	width:87px !important;
	height:82px !important;
	top:-14px;
	left:-6px;
}

#devoional .allmusic_video_home .iconmusic{
	background:#f5f5f5;
	border-left:1px solid #e4e4e4;
	min-height:118px;
	height:inherit;
	width:91px;
	float:right;
	text-transform:uppercase;
	text-align:center;
}

#devoional .allmusic_video_home .iconmusic .icon{
	margin:22px 0px 0px 0px;
	background:url(http://im.active18.com/images/icon_allmusic.png) no-repeat;
	width:42px;
	height:48px;
	text-align:center;
	display:inline-block;
	cursor: pointer;
}

#devoional .allmusic_video_home .iconmusic .text{
	font-family:'oswald-webfont';
	font-size:14px;
	color:#333;
}

#devoional .allmusic_video_home .data {
	background:url(http://im.active18.com/images/grey_video_bg.png) no-repeat left top;
	/*position:relative;*/
	float:left;
	height:98px;
	width:271px;
	z-index:0;
	padding:25px 0px 20px 0px;
	}
	

	
#devoional .allmusic_video_home .data .float_left{width:130px;}

#devoional .news_frame8_block {
    float: left;
    min-height: 200px;
    width: 247px;
}


#personalize_astro_form .horodropNu{margin-right:7px; float:left; margin-bottom: 10px; margin-right: 5px;}
#personalize_astro_form .horodropNu .drop_middlegnu{width:35px;}
 #horoscopeform_predict .horodropNu .drop_middlegnu{width:44px;}
#personalize_astro_form .horodropNu .drop_middlegnu .drop_textg, #horoscopeform_predict .horodropNu .drop_middlegnu .drop_textg{color: #6E6E6E; font-size: 11px !important; font-style: italic;
	padding-top:5px; display:inline-block;}
	
#devoional .news_detail .tab_frame_content1 .spacetop10	{font-size:14px;}
	
#personalize_data .frame2 .photo2 a img.todayshoroscope{position:absolute; top:3px; left:3px; display:none;}
#personalize_data .frame2 .photo2 a:hover img.todayshoroscope{display:block;}
#devoional .display_content{background: url("http://im.active18.com/images/bg_pattern.png") repeat scroll 0 0 transparent; float: left;
    height: auto !important; margin: 0;  padding: 0; position: relative;   width: 547px;}

#div_search_options1 .drop_box_list li a { margin: 0 0  0 6px;}

/*devotional1705*/
#devoional .personal_details {
    border: medium none !important;
    float: left;
    /*height: auto;*/
    margin: 0 0 0 20px;
    padding: 0;
    width: 340px;
}

#devoional .personal_details  h3{
    float: left;
    margin: 0px 0 20px;
    padding: 0;
}


#devoional .personal_details  .kmatch_col1{
    /*float: left;*/
	display:inline-block;
    margin: 0;
    padding:0 0 5px 0;
    text-align:left;
    width: 125px;
}

#devoional .personal_details  .kmatch_col2{
    /*float: left;*/
	display:inline-block;
    margin:0;
    padding:0 0 5px 0;
	*padding:0;
    text-align:left;
    width: 200px;
}

#devoional .kMatch50 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    /*margin: 20px;*/
	padding:20px;
    width: 380px;
	overflow:hidden;
}

.kundaliMatch_row, .kundaliMatch_row1 {
	margin:0;
	padding:10px 0;
	background:#FFF;
	border-bottom:1px dashed #cacaca;
	float:left;
	width:380px;
}
.kundaliMatch_row1 {
	background:#fafafa;
}

.kundaliMatch_row .colData1, .kundaliMatch_row1 .colData1 { width:160px; float:left; text-align:left; margin:0px; padding-left:10px; }
.kundaliMatch_row .colData2, .kundaliMatch_row1 .colData2 { width:120px; float:right; text-align:left; margin:0px; }

.blankSpace177 { height:177px;}

.kundaliBig_row, .kundaliBig_row1 {
	margin:0;
	padding:10px 0;
	background:#FFF;
	border-bottom:1px dashed #cacaca;
	float:left;
	width:817px;
}

#devoional .textcenter { text-align:center;}