.frame120_90 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:126px;

	height:96px;

	float:left;

	box-shadow:0 1px 2px #CCC;

	border-radius:3px;

	position:relative;

}

.frame120_90 .photo {

	margin:3px;

	padding:0;

	background:#292929;

	width:120px;

	height:90px;

	overflow:hidden;

	float:left;

}

.frame174_130 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:180px;

	height:136px;

	float:left;

	border-radius:3px;

	position:relative;

}

.frame174_130 .photo {

	margin:3px;

	padding:0;

	background:#292929;

	width:174px;

	height:130px;

	overflow:hidden;

	float:left;

}

.frame227_170 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:233px;

	height:176px;

	float:left;

	border-radius:3px;

	position:relative;

}

.frame227_170 .photo {

	margin:3px;

	padding:0;

	background:#292929;

	width:227px;

	height:170px;

	overflow:hidden;

	float:left;

}

.app_block {

	margin:0 20px 0 0;

	width:140px;

	height:auto;

	float:left;

}

.download_game_block {

	margin:0 20px 0 0;

	width:180px;

	height:auto;

	float:left;

}

.download_game_block .download_btn {

	margin:20px 0 20px 45px;

}

.app_block .download_btn {

	margin:20px 0 20px 30px;

}

.app_block_detail {

	margin:0;

	padding:0;

	width:345px;

	float:left;

}

.download_block .app_block_detail {

	width:305px;

}

.app_block_detail .title {

	margin:0 0 10px 0;

	padding:0;

	color:#FFF;

	font-weight:bold;

}

.app_block_detail .description {

	font-size:11px;

	font-style:italic;

	color:#999;

	line-height:16px;

}

.frame140_140 {

	margin:0;

	padding:0;

	background:#292929;

	width:140px;

	height:140px;

	overflow:hidden;

	float:left;

	position:relative;

}

#downloads .block_music_album {

	width:527px;

}

#downloads .block_music_album h1 {

	line-height: 35px;

}

#downloads .block_music_album .description {

	color: #999999;

	font-size: 11px;

	font-style: italic;

	line-height: 15px;

}

.download_block {

	margin:0;

	padding:0;

	background:url(../images/bg_pattern.png);

	width:549px;

	min-height:150px;

	float:left;

}

.download_block .block_detail {

	margin:0;

	padding:20px;

	width:510px;

}

.phone {

	margin:30px 0 30px 35px;

	padding:0;

	float:left;

	position:relative;

}

.phone_sms {

	margin:30px 0 30px 90px;

	padding:0;

	float:left;

	position:relative;

}

.phone_sms .sms {

	position:absolute;

	background:none;

	border:none;

	top:120px;

	left:35px;

	color:#FFF;

	font-size:14px;

	font-weight:bold;

	width:260px;

	height:150px;

	overflow:auto;

}

.phone a .play_big {

	top:85px;

	left:180px;

}

.phone a .download_btn {

	margin:0 0 0 180px;

}

.phone_sms a .download_btn {

	margin:10px 0 0 125px;

}

.down_wallpaper {

	margin:10px 0 10px -10px;

	padding:0;

	float:left;

	width:548px;

}

.down_wallpaper img {

	max-width:548px;

	overflow:hidden;

}

.down_wallpaper .dropdown {

	margin:20px 0 0 20px;

}

.down_wallpaper a .download_btn {

	margin:20px 0 0 10px;

}

.video .down_content {

	margin:0;

	padding:30px;

	background:url(../images/bg_pattern.png);

	width:490px;

	min-height:372px;

}

.down_content1 {

	background-image:none !important;

	padding:0 !important;

	min-height:431px !important;

	width:548px !important;

	border-bottom:1px solid #DEDBD6;

}

.video .down_content h1, .video .down_content h1 a {

	font-size:39px;

	line-height:39px;

	color:#FFF;

}

.video .down_content1 h1, .video .down_content1 h1 a {

	color:#000;

	font-size:25px !important;

	line-height:30px !important;

}

.video .down_content1 h3 {

	padding-top:10px;

}

.video .down_content h3, .top_10_block_detail h3 {

	margin:0 !important;

}

.video .down_content .down_data {

	margin:0 0 0 20px;

	padding:0;

	width:280px;

	float:left;

}

.video .down_content1 .v_player {

	height:313px;

}

.down_content1 .dropdown {

	margin:10px 10px 10px 0;

}

.down_content1 .download_btn {

	margin:10px 0;

}

.down_content .down_games {

	margin:30px 0 0 0;

	padding:0;

	width:240px;

}

.down_content .down_game_detail {

	margin:0 0 0 5px;

	padding:0;

	width:200px;

	float:left;

}

.down_content .down_game_detail .title, .down_content .down_game_detail .title a {

	margin:0 0 5px 0;

	padding:0;

	font-size:14px;

	font-weight:bold;

	color:#FFF;

}

.down_content .down_game_detail .title a:hover, .video .down_content h1 a:hover {

	color:#0072BC;

	text-decoration:none;

}

.frame120_90_block {

	margin:0;

	padding: 0;

	text-align: center;

	width: 128px;

}

.frame120_90_block .title {

	clear: both;

	color: #000000;

	font-size: 12px;

	line-height:11px;

	font-weight: bold;

	margin: 0;

	padding: 10px 0 0;

}

.frame120_90_block .description {

	color: #999999;

	font-size: 11px;

	font-style: italic;

	line-height:11px;

	margin:5px 0;

}

#wide_section .wide_section_inner {

	float: left;

	margin:0 44px 0 0;

	padding: 0;

	width: 128px;

	text-align:center;

}

#wide_section .wide_section_inner .title {

	clear: both;

	color: #222222;

	font-size: 12px;

	font-weight: bold;

	margin: 15px 0 0;

	padding: 0;

}

#wide_section .wide_section_inner .description {

	color: #999999;

	font-size: 11px;

	font-style: italic;

	margin: 0;

	padding: 0;

	text-align: center;

}

.top_10_block_detail h1 {

	margin:0 0 10px 0;

	font-size:30px;

	line-height:30px;

	color:#FFF;

}

.top_10_block {

	margin:0;

	padding:0;

	float:left;

}

.top_10_block_detail {

	margin:0 0 0 20px;

	padding:0;

	float:left;

	width:250px;

}

.top_sms {

	margin-bottom:-20px;

	width:222px;

	position:relative;

}

.top_sms .sms {

	background: none repeat scroll 0 0 transparent;

	border: medium none;

	color: #FFFFFF;

	font-size: 11px;

	font-weight: bold;

	height: 95px;

	left: 25px;

	overflow: auto;

	position: absolute;

	top: 80px;

	width: 170px;

}

.top_10_block_detail .download_btn {

	margin:10px 0;

}

#top_bar_control {

	background: #FFFFFF;

	margin:0;

	width: 547px;

	float:left;

	border: 1px solid #DEDBD6;

}

.top_10_block_detail .description {

	color: #999999;

	font-size: 11px;

	font-style: italic;

	line-height: 16px;

}

.width330 {

	width:330px;

}

.width320 {

	width:320px;

}

.width325 {

	width:325px;

}

.width375 {

	width:375px;

}

.top_10_block .play_big {

	top:70px;

	left:70px;

}

.top_10_block_detail .dropdown {

	margin:10px 10px 10px 0;

}

.download_featurebox .download1 {

	margin:10px 0 0 0;

	padding:0;

	float:left;

}

.download_featurebox.navi_title {

	margin:15px 10px 0 0 !important;

}

.browser_block_ringtone {

	margin:0;

	padding:0;

	border-top:1px solid #DEDBD6;

	border-left:1px solid #DEDBD6;

	border-right:1px solid #DEDBD6;

	border-bottom:none;

	float:left;

}

.browser_block_ringtone .block_row, .browser_block_ringtone .block_row1 {

	width:840px;

}

.browser_block_ringtone .block_row .detail, .browser_block_ringtone .block_row1 .detail {

	width:695px;

}

.browser_block_ringtone .download_btn {

	margin:10px 0 0 0;

}

.browser_block_ringtone .mobile_btn {

	margin: 5px 10px 0 10px;

}

.apps_frame_big_main {

	background: url("../images/apps_bg.png") no-repeat scroll 0 0 transparent;

	float: left;

	margin: 0;

	min-height: 280px;

	padding: 0;

	width: 860px;

}

.apps_frame_big_main_block, .apps_frame_big_main_block1 {

	float: left;

	margin: 4px 0 0 53px;

	padding: 0;

}

.apps_frame_big_main_block1 {

	margin: 4px 0 0 77px;

}

.apps_frame2_block {

	float: left;

	margin: 0 26px;

	min-height: 190px;

	overflow: hidden;

	padding: 0;

	width: 120px;

}

.apps_frame2 {

	background: none repeat scroll 0 0 #FFFFFF;

	border: 1px solid #C4C4C4;

	border-radius: 3px 3px 3px 3px;

	box-shadow: 0 1px 2px #CCCCCC;

	float: left;

	height: 116px;

	margin: 0;

	padding: 0;

	position: relative;

	width: 116px;

}

.apps_frame2 .photo {

	background: none repeat scroll 0 0 #292929;

	float: left;

	height: 110px;

	margin: 3px;

	overflow: hidden;

	padding: 0;

	width: 110px;

}

.apps_frame2_block .title {

	font-size: 12px;

	font-weight: bold;

	margin: 10px 0 0;

	padding: 0;

	text-align: center;

}

.apps_frame2_block .description {

	color: #999999;

	font-size: 11px;

	font-style: italic;

	margin: 0;

	padding: 0;

	text-align: center;

}

.apps_frame_main {

	float: left;

	height: 200px;

	margin: 0;

	overflow: hidden;

	padding: 0;

	width: 200px;

}

.apps_frame_big_main .title {

	font-size: 12px;

	font-weight: bold;

	margin: 30px 0 0;

	padding: 0;

	text-align: center;

	width: 200px;

}

.apps_frame_big_main .description {

	color: #999999;

	font-size: 11px;

	font-style: italic;

	margin: 0;

	padding: 0;

	text-align: center;

	width: 200px;

}

/**/

.tv_movietab {

	margin:20px 0 0 0;

	padding:0;

	text-align:left;

}

.tv_movietab .dataL {

	float: left;

	font-size: 14px;

	font-weight: bold;

	margin-bottom: 10px;

	width: 150px;
	padding-right:5px;

}

.tv_movietab .dataR {

	color: #666666;

	float: left;

	font-size: 14px;

	margin-bottom: 10px;

	width: 350px;

}

.tv_movietab .dataN {

	font-size:14px;

	color:#000;

}

/* NEW CSS ADD */



#videoShare.video_share {

	float:right;

	border-right: none;

	margin: 5px 0 0;

	padding: 2px 5px;

}

#videoShare.video_share li {

	float:left;

	border-right:1px dashed #3b3b3b;

	padding:0 10px;

}

#videoShare.video_share li.last {

	border:none;

	padding-right:0;

}

#videoShare.video_share li a {

	color:#999999;

	font-size:12px;

	font-weight:bold;

}

#videoShare.video_share li a:hover {

	color:#e50017;

}

#videoShare.video_share .share_fb, #videoShare.video_share .share_tweet, #videoShare.video_share .share_google {

	background:url(http://im.active18.com/images/photogallery/lightbox_icon.png) no-repeat;

	display: inline-block;

	float: left;

	height: 20px;

	width: 20px;

	margin:0 3px 0 0;

}

#videoShare.video_share .share_fb {

	background-position: 0 -90px;

}

#videoShare.video_share .share_tweet {

	background-position: -20px -90px;

}

#videoShare.video_share .share_google {

	background-position: -40px -90px;

}

#videoShare.video_share a:hover .share_fb {

	background-position: 0 -110px;

}

#videoShare.video_share a:hover .share_tweet {

	background-position: -20px -110px;

}

#videoShare.video_share a:hover .share_google {

	background-position: -40px -110px;

}

.bestOf .title {

	float:right;

	width:130px;

	padding-top:10px

}
.zigzagbox .bottom{height: 20px}
