.faloutpop {
	min-width:200px;
	margin:0px;
	background:#fff;
	position:absolute;
	z-index:11;
	top:30px;
	right:0px;
	border:1px solid #d6d6d6;
	box-shadow:0px 3px 5px 0px #666;
	}

.faloutpop .data{
	padding:15px 10px 10px 10px;
	font-size:12px;
	display:block;
	clear:both;
	height:1%;
	overflow:hidden;
	text-align:left;
	line-height:16px;
	}
	
.faloutpop .dataL{
	padding:15px 5px 10px 0px;
	font-size:12px;
	text-align:left;
	line-height:16px;
	float:left;
	width:248px;
	}
	
.faloutpop .dataR{
	padding:15px 10px 10px 10px;
	font-size:12px;
	text-align:left;
	line-height:16px;
	float:left;
	width:232px;
	background:#f5f5f5;
	}					


.faloutpop .toparrow{
	background: url(../images/videos/white_arrow_top.png) no-repeat;
	width:18px;
	height:11px;
	position:absolute;
	z-index:10;
	left:0px;
	top:0px;
	}
	
.faloutpop .lightbox_close {
	margin:-5px -5px 0 0;
	padding:0;
}
	
.faloutpop p {
	font-size:12px;
	font-style:normal;
}
.faloutpop .radiobtn{
	/*float:left;*/
	padding:3px;
	margin-right:15px;
	}

.fallout_box_frame {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 58px;
    margin:0 10px 0 0;
    padding: 0;
    width: 58px;
}

.fallout_box_frame .fallout_photo {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 52px;
    margin:3px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width:52px;
}


/* width and top arrow for replay fallout section */

.fwidth_replay {width:450px !important; height:250 !important; display:none;}
.fwidth_replay .toparrow { top:-10px !important; left:auto; right:190px !important;}

.replycolbg{ background:url(../images/com_reply_bg.png) repeat-x #fff5e1; border:1px solid #edca89; border-radius: 2px 2px 2px 2px; width:230px; height:175px; overflow: hidden;padding:10px 0 0; margin:0 auto; }

.replycolbg textarea{
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	font-size:12px;
	background:none;
	overflow:auto;
	width:200px !important;
	height:160px !important;
	margin:0 auto;
	display:block;
	color:#666666;
	font-style:oblique;
}

.fwidth_replay .rcomments{ overflow:auto; height:200px;}

/* widht and top arrow for rate fallout section */

.fwidth_rate {width:349px !important; height:111px!important;display:none;}
.fwidth_rate .toparrow { top:-10px !important; left:175px !important;}



/* widht and top arrow for offensive fallout section */

.fwidth_offensive {width:519px !important; height:300px!important;display:none;}
.fwidth_offensive .toparrow { top:-10px !important; left:auto !important; right:100px !important;}


.width400 {
    width:400px;
}


ul.offensive { margin:0px; padding:20px; text-align:left; font-size:12px; color:#999; clear:both; overflow:hidden; }
ul.offensive li { list-style-type:none; margin:0px; padding:0px; clear:both;}

ul.offensive li .rbtn { float:left; margin:0 5px 0 0; width:20px; padding:0px 0px 10px 0px;}
ul.offensive li .textr { float:left; margin:0 0 0 5px; width:420px; padding:0px 0px 10px 0px; }



/* widht and top arrow for share fallout section */

.fwidth_share {width:519px !important; height:110px!important;display:none;}
.fwidth_share .toparrow { top:-10px !important; left:auto !important; right:30px !important;}

.fwidth_share .lightbox_close {
	margin:0px -5px 0 0 !important;
	padding:0;
}

.faloutpop a .submit{
	margin:15px;
	width:64px;
	height:26px;
	background-position: -735px -616px;
	float:left;
}
.faloutpop a:hover .submit{
	background-position: -735px -642px;
}
.faloutpop a.active .submit{
	background-position: -735px -668px;
}

/*.icon_reply2{background-position: -686px -887px; width:14px; height:17px; float:left; padding:0 8px 0 3px ;}*/

*.faloutpop a .follow{
	margin:10px 0 8px 0;
	width:64px;
	height:26px;
	background-position: -671px -904px;
	float:left;
}
.faloutpop a:hover .follow{
	background-position: -671px -930px;
}
.faloutpop a.active .follow{
	background-position: -621px -956px;
}

a .follow{
	margin:0 0 8px 0;
	width:64px;
	height:26px;
	background-position: -671px -904px;
	float:left;
}
a:hover .follow{
	background-position: -671px -930px;
}
a.active .follow{
	background-position: -621px -956px;
}



/*=================== commet main page style here=============================*/



.frame120_block {
	margin:0px 15px 0 0;
	padding:0;
}

.frame120 {
	margin:0px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:126px;
	height:126px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
}
.frame120 .photo120 {
	margin:3px;
	padding:0;
	background:#292929;
	width:120px;
	height:120px;
	overflow:hidden;
	float:left;
	
}

.thread_frame82_82 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:88px;
	height:88px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.thread_frame82_82 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:82px;
	height:82px;
	overflow:hidden;
	float:left;
}

.blue_block_full_link {
    background: none repeat scroll 0 0 #e1f3ff !important;
	border:1px solid #cddee6 !important;
	margin-bottom:10px !important;
}

.margintop3 {
    margin: 3px 0 0 !important;
}

.postbtn {
    font-size: 1px;
    height: 26px;
    margin: 10px 0 0 0px;
    padding: 0;
    text-indent: -9999px;
    /*width: 350px;*/
}

.postbtn a .no {
    float:left !important;
	margin:0 10px;
}

a .cantsay {
	width:69px;
	height:24px;
	background-position: -809px -905px;
	float:left;
	text-indent:-9999px;
	/*margin:0 10px;*/
}
a:hover .cantsay {
	background-position: -809px -931px;
}
a.active .cantsay {
	background-position: -809px -953px;
}

.video_frame_small_detail_falout {
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 0 0 0 20px;
    width:400px;
}

.polls_follower_detail{
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 0 0 0 5px;
    width: 120px;
}

.polls_follower_detail .title {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.polls_follower_detail .description {
    color: #999 !important;
    font-size:11px !important;
	padding:5px 0 0 0;
	
}

.follow_fallout{
	float:right;
	margin:70px 0 0 0 !important;
	padding:0 !important;
	font-size:11px;
	font-style:italic;
	}

.follow_fallout .description1{
	text-align:right;
	margin:0;
	color:#999 !important;
	}	
	
.follow_fallout a .follow {
    float: right !important;
}	


#gust_comment {}



#gust_comment .more_games_block {
    width:263px !important;
}

#gust_comment .block_music_album {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    margin: 0;
    padding:15px !important;
    width: 518px;
}

#gust_comment .comment_box.sprite_n{
	background-position:-8px -8px;
	width:510px;
	height:115px;
	padding:13px 0 0 0;
	margin:0 5px;
}

#gust_comment .comment_box textarea{
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	font-size:12px;
	border:none;
	background:none;
	overflow:auto;
	width:475px !important;
	height:100px !important;
	margin:0 auto;
	display:block;
	color:#666666;
	font-style:oblique;
}

#gust_comment .comment_box .share_comment{
	border-top:1px dashed #edca89;
	padding:10px;
	margin:15px 0 0 0;
	text-align:right;
	font-size:11px;
}

#gust_comment .radio_share{
	display:inline;
	margin:0 15px;
	color:#d53225;
}

#comments .gray_white_block {
	background:#fafafa !important;
	border-bottom: 0px solid #DEDBD6 !important;
	border-top: 0px solid #DEDBD6 !important;
    margin:0 !important;
    padding: 0 20px 0px 20px;
	width: 508px !important;
}

#gust_comment .zigzagbox .data {
    line-height: 130%;
    padding: 10px 18px;
}

#gust_comment .red_poll_title {
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 0;
}
#gust_comment .zigzagbox .pollinput {
    float: left;
    line-height: 20px;
    vertical-align: middle !important;
}

#gust_comment .zigzagbox input {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle !important;
}

#gust_comment .poll_btn {
    float: left;
    margin: 0 0 5px 10px;
    padding: 0;
}

#gust_comment .posted {
    color: #C1C1C1;
    float: left;
    font-size: 11px;
    font-style: italic;
    margin: 10px 0 0 10px;
    padding: 0;
}

#gust_comment .posted2 {
    color: #C1C1C1;
    float: left;
    font-size: 11px;
    font-style: italic;
    margin:5px 0 0 0;
    padding: 0;
}

#gust_comment .ratinggst {
    float: left;
    margin: 5px 0 0 10px;
    padding: 0;
}

#gust_comment .icon_reply2 {
    /*background-position: -686px -887px;*/
	background-image:none !important;
	float:none !important;
	display: inline;
	font-size:11px;
	font-style:italic;
	padding:0 10px;
	line-height:14px;
}


#gust_comment .icon_reply2 img {
	vertical-align:middle;
	height:16px;
}
.description_small {
	color: #999999;
    font-size: 10px;
    font-style: italic;
    margin:0;
    padding: 0;
}
.frame_detail_thread_reply {
    float: left;
    margin: 0;
    padding: 0;
    width: 380px;
}
.thread_frame_reply_main {
	margin:0;
	padding:0;
	width:100px;
	float:left;
}
.comment_thread_reply_box {
	margin:0;
	padding:0;
	background:url(../images/thread_reply_bg.png) 0 0 no-repeat;
	width:515px;
	height:56px;
	float:left;
}
.comment_thread_reply_box textarea {
	margin:10px 5px;
	padding:0;
	background:none;
	border:none;
	color:#666;
	width:505px;
	height:40px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style:italic;
}
.comment_thread_reply {
	position:relative;
}
.comment_thread_reply .comment {
	margin:-16px 0 5px 98px !important;
}
.comment_thread_reply .fwidth_rate {
	top:5px;
	left:125px;
}
.comment_thread_reply .fwidth_offensive {
	top:5px;
	left:0px;
}
.comment_thread_reply .fwidth_share {
	top:5px;
	left:0px;
}
.comment_thread_reply .fwidth_rate .toparrow {
	left: 10px !important;
}
.comment_thread_reply .fwidth_offensive .toparrow {
	left: 190px !important;
}
.comment_thread_reply .fwidth_share .toparrow {
	left: 258px !important;
}
.green_block_message {
	margin:20px 10px 0 0;
	padding:10px;
    background:#e1f5c4;
    border: 1px solid #d1e5c4;
	width:495px;
	float:left;
}
.green_block_message .title {
	margin:5px 0 0 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	color:#333;
}
.green_block_message .description {
	margin:5px 0;
	padding:0;
	font-size:12px;
	color:#999;
}
.replycol_bg {
	margin:10px 0 0 0;
	padding:0;
	background:url(../images/reply_callout.png) 0 0 no-repeat;
	width:416px;
	height:80px;
	float:left;
}
.replycol_bg textarea {
	margin:0;
	padding:5px;
	background:none;
	border:none;
	height:65px;
	width:402px;
	font-style:italic;
	color:#666;
}
.reply_elements_block {
	margin:0;
	padding:5px;
}
.drop_reply {
	margin-top:10px !important;
	float:right;
}