@charset "utf-8";
/* CSS Document */

.feedbackform{
	margin:0;
	padding:0;
	clear:both;
}

div.speach {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 23px 20px 0;
    width: 258px;
}

p.speach {color:#222222;line-height:19px;font-size:13px;}
p.speach  span.salutation {line-height:15px;}
p.speach.stongwords {font-size:16px;margin:20px 0 8px 0;}

#feedback .block_left550 .block_music_album {position:relative;}

.feedback_question_number {
    background-position:-571px -625px !important;
    cursor: default;
    height: 37px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 25px;
    z-index: 1;
	padding:10px 0 0 12px;
	font-family: 'oswald-webfont';
}

#feedback .block_left550 .block_music_album h3 {
    margin: 22px 10px 0 10px;
    padding: 0 0 0 25px;
	text-transform:none;
	font-size:16px;
}

#feedback * .kundali_left{ width:110px; float:left; line-height:26px; font-size:12px; height:26px; display:table-row-group;}
#feedback * .kundali_left.width400 {width:475px;font-size:14px;}

#burrp .biz_overview .dropdown.gry{margin-left:20px;}
#feedback .block_left550 .block_music_album .news_detail {margin:10px 10px 0 30px;color:#333333;}

#feedback .block_left550 .block_music_album .news_detail .search_dropdown {margin:7px 0 7px 0;}
#feedback .block_left550 .block_music_album .news_detail .search_dropdown .drop_box{right:auto;left:18px;top:105px;}

#feedback .block_left550 .block_music_album .news_detail .big_gray_input { float:left; width:370px; padding:0px; margin:0 0 5px 0px;}
#feedback .block_left550 .block_music_album .news_detail .big_gray_input .big_gray_input_mid{
	background:url(../images/input_bg_grey.png) repeat-x top left !important; float: left;
    height: 26px;
    margin: 0;
    padding: 0;
	width:342px;
}

#feedback .block_left550 .block_music_album .news_detail .big_gray_input .big_gray_input_mid input {
		width:342px !important;
		font-size:11px!important;
		margin:5px 0 0 0;
		padding:0px;
		background:none;
		border:none;
		font-style:italic;
		color:#6e6e6e;
}

#feedback .block_left550 .block_music_album .news_detail .big_gray_input.widefeedbackinput {width:490px;}
#feedback .block_left550 .block_music_album .news_detail .big_gray_input.widefeedbackinput .big_gray_input_mid{width:460px;}
#feedback .block_left550 .block_music_album .news_detail .big_gray_input.widefeedbackinput .big_gray_input_mid input {width:458px !important;}

.feedback_form_btns {float:right;}
.feedback_form_btns .dropdown {margin:0 auto;}
.feedback_form_btns .dropdown.gry{margin:0 10px 0 0;}

/* normal */
.feedback_form_btns .dropdown.gry .drop_left{background:url(../images/burrp/gry_drop_btn.png) no-repeat;}
.feedback_form_btns .dropdown.gry .drop_middle{background:url(../images/burrp/gry_drop_btn.png) repeat-x 0 -75px;}
.feedback_form_btns .dropdown.gry .drop_right1{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -150px;}

.feedback_form_btns .dropdown.gry .drop_text{padding:5px 6px 0; text-shadow:1px 1px 0px #666;}
.feedback_form_btns .dropdown.gry .drop_middle.width100 .drop_text {text-align:center;width:88px;}

/* hover */
.feedback_form_btns .dropdown.gry a:hover .drop_left{background:url(../images/burrp/gry_drop_btn.png) no-repeat 0 -25px;}
.feedback_form_btns .dropdown.gry a:hover .drop_right{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -25px;}
.feedback_form_btns .dropdown.gry a:hover .drop_middle{background:url(../images/burrp/gry_drop_btn.png) repeat-x 0 -100px;}
.feedback_form_btns .dropdown.gry a:hover .drop_right1{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -175px;}

/* key press/ Active */
.feedback_form_btns .dropdown.gry a:active .drop_left,
.feedback_form_btns .dropdown.gry a.active .drop_left{background:url(../images/burrp/gry_drop_btn.png) no-repeat 0 -50px;}
 
.feedback_form_btns .dropdown.gry a:active .drop_middle, 
.feedback_form_btns .dropdown.gry a.active .drop_middle{background:url(../images/burrp/gry_drop_btn.png) repeat-x 0 -125px;}
 
.feedback_form_btns .dropdown.gry a:active .drop_right1,
.feedback_form_btns .dropdown.gry a.active .drop_right1{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -200px;}


/* hover for black btn*/
.feedback_form_btns .dropdown.gry.black a:hover .drop_left,
.feedback_form_btns .dropdown.gry.black a:active .drop_left,
.feedback_form_btns .dropdown.gry.black a.active .drop_left{background:url(../images/burrp/gry_drop_btn.png) no-repeat 0 -225px;}

.feedback_form_btns .dropdown.gry.black a:hover .drop_middle,
.feedback_form_btns .dropdown.gry.black a:active .drop_middle, 
.feedback_form_btns .dropdown.gry.black a.active .drop_middle{background:url(../images/burrp/gry_drop_btn.png) repeat-x 0 -250px;}

.feedback_form_btns .dropdown.gry.black a:hover .drop_right1,
.feedback_form_btns .dropdown.gry.black a:active .drop_right1,
.feedback_form_btns .dropdown.gry.black a.active .drop_right1{background:url(../images/burrp/gry_drop_btn.png) no-repeat 100% -225px;}


/* active for black btn */
.feedback_form_btns .dropdown.gry.black a .drop_middle .arrow_down{
	margin:0;
	padding:0;
	background-position: -890px -57px;
	position:absolute;
	bottom:-5px;
	/*left:auto;*/
	width:11px;
	height:6px;
	display:block;
	left:40%;
	z-index: 1;
	display:none;
}
.feedback_form_btns .dropdown.gry.black a:hover .drop_middle .arrow_down,
.feedback_form_btns .dropdown.gry.black a:active .drop_middle .arrow_down,
.feedback_form_btns .dropdown.gry.black a.active .drop_middle .arrow_down{display:block;z-index: 1;}

.feedback_form_btns.float_left {margin:0 0 10px 0;float:left;}


/*  feedback multiline input control */
.feedback_multiline_input {	
	background:url(../images/feedback_multiline_input.png) no-repeat 0 0;
	height: 65px;
    width: 445px;
	padding:10px;
}
div.feedback_multiline_input textarea.feedback_multiline_input{
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	font-size:12px;
	border:none;
	background:none;
	overflow:auto;
	width:432px !important;
	height:52px !important;
	margin:0 auto;
	display:block;
	color:#666666;
	font-style:oblique;
}


/*NEW SLIDER STYLES FOR SCALE, ETC*/
/* slider widget */
.ui-slider  {
	text-decoration: none !important;
}
.ui-slider .ui-slider-handle  {
	overflow: visible !important;
}
.ui-slider .ui-slider-tooltip {
	display: none;
}
.ui-slider .screenReaderContext {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	left: -999999999px;
}
.ui-slider .ui-state-active .ui-slider-tooltip, .ui-slider .ui-state-focus .ui-slider-tooltip, .ui-slider .ui-state-hover .ui-slider-tooltip {
	display: block;
	position: absolute;
	bottom: 2.5em;
	text-align: center;
	padding: .3em .2em .4em;
	font-size: .9em;
	width: 8em;
	margin-left: -3.7em;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down, .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	position: absolute; 
	display: block;
	width:0; 
	height:0; 
	border-bottom-width: 0;
	background: none;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {	
	border-left: 7px dashed transparent; 
	border-right: 7px dashed transparent;
	border-top-width: 8px;
	bottom:	-8px;
	right: auto;
	left: 50%;
	margin-left: -7px;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
	border-left: 6px dashed transparent; 
	border-right: 6px dashed transparent;
	border-top: 7px solid #fff;
	bottom:	auto;
	top: -9px;
	left: -6px;
}
.ui-slider a {
	text-decoration: none;
}
.ui-slider ol, .ui-slider li, .ui-slider dl, .ui-slider dd, .ui-slider dt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ui-slider ol, .ui-slider dl {
	position: relative;
	top: 1.3em;
	width: 100%;
}
.ui-slider dt {
	top: 1.5em;
	position: absolute;
	padding-top: .2em;
	text-align: center;
	border-bottom: 1px dotted #ddd;
	height: .7em;
	color: #999;
}
.ui-slider dt span {
	background: #fff;
	padding: 0 .5em;
}
.ui-slider li, .ui-slider dd {
	position: absolute;
	overflow: visible;
	color: #666;
}
.ui-slider span.ui-slider-label {
	position: absolute;
}
.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
	display: none;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	display: block;
}
.ui-slider span.ui-slider-tic {
	position: absolute;
	left: 0;
	height: .5em;
	top: -1.3em;
}
.ui-slider li span.ui-widget-content, .ui-slider dd span.ui-widget-content {
	border-right: 0;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color:#ebebeb;

	border-top: 0;
	border-bottom: 0;

}
.ui-slider .first .ui-slider-tic, .ui-slider .last .ui-slider-tic {
	display: none;
}


.control {float:right;width:200px;position:absolute;margin:12px 0 0 0;right:175px;-webkit-margin-before: 1.8em;-webkit-margin-after: 0px;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.control .minus_btn_ctrl{position:relative;float:left;top:-10px;}
.control .slider_ctrl_track{position:relative;left:30px;*left:10px;}
.control .plus_btn_ctrl{position:relative;right:-61px;*right:-41px;top:-25px;float:right;}


.minus_btn, .plus_btn {width:21px;height:21px;display:block;cursor:pointer;}
.minus_btn {background-position:-515px -652px;}
.plus_btn {background-position:-495px -652px;}

.ui-state-default, .ui-state-hover, .ui-state-active {background-position:-508px -632px !important;}

.ui-slider.ui-widget-content  {
	border-top:4px solid #EBEBEB !important;
	border-right:none!important;
	border-bottom:none !important;
	border-left:none !important;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
	border-bottom-right-radius:0 !important;
	border-bottom-left-radius:0 !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
}