/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block }
body { line-height: 1 }
a img { border: none }
table { border-collapse: separate; border-spacing: 0 }
caption, th, td { text-align: left; font-weight: normal }
table, td, th { vertical-align: middle }
blockquote:before, blockquote:after, q:before, q:after { content: "" }
blockquote, q { quotes: """" }
:focus { outline: 0 }
ins { text-decoration: none }
del { text-decoration: line-through }
button::-moz-focus-inner {
border:0
}
body { background-color: #dfdfdf; color: #fff; font-family: Century Gothic, Arial; font-size: 12px; line-height: 1.5; margin-top: 20px; margin-bottom: 30px; }
a { color: #ff377c; }
p { margin-bottom: 10px; }
h1 { font-size: 20px; margin-bottom: 5px; font-weight: bold; }
/*h2 { font-size: 16px; margin-bottom: 5px; font-weight: bold; }*/
.menu { margin-bottom: 40px; text-align: center; color: #999; }
.menu a { color: #999; }
.menu a.active { font-weight: bold; }
/* Showcase
-------------*/

#awOnePageButton .view-slide { display: none; }
/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load { height: 470px; /* Same as showcase javascript option */ overflow: hidden; }
/* Container when content is shown as one page */
.showcase-onepage { /**/
}
/* Container when content is shown in slider */
.showcase { position: relative; margin: auto }
.showcase-content-container { background-color: #000; }
/* Navigation arrows */
.showcase-arrow-next { position: absolute; background: url('http://im.active18.com/images/btn_next.png'); height: 28px; width: 29px; top: 1px; cursor: pointer; z-index: 9999; display: none}
.showcase-arrow-previous { position: absolute; background: url('http://im.active18.com/images/btn_back.png'); height: 28px; width: 29px; top: 1px; cursor: pointer; z-index: 9999; display: none }
.showcase-arrow-previous { right: 75px; }
.showcase-arrow-previous:hover { background-position: 0px -28px; }
.showcase-arrow-next { right: 0; background-position: 0 0; }
.showcase-arrow-next:hover { background-position: -29px -28px; }
/* Content */
.showcase-content { background-color: #FFF}
.showcase-content-wrapper { text-align: center; height: 470px; width: 700px; display: table-cell; vertical-align: middle; }
/* Styling the tooltips */
.showcase-plus-anchor { background-image: url('../images/plus.png'); background-repeat: no-repeat; }
.showcase-plus-anchor:hover { background-position: -32px 0; }
div.showcase-tooltip { background-color: #fff; color: #000; text-align: left; padding: 5px 8px; background-image: url(../images/white-opacity-80.png); }
/* Styling the caption */
.showcase-caption { color: #000; padding: 8px 15px; text-align: left; position: absolute; bottom: 10px; left: 10px; right: 10px; display: none; background-image: url(../images/white-opacity-80.png); }
.showcase-onepage .showcase-content { margin-bottom: 10px; }
/* Button Wrapper */
.showcase-button-wrapper { clear: both}
.showcase-button-wrapper span { margin-right: 3px; padding: 2px 5px 0px 5px; cursor: pointer; font-size: 12px; color: #444444; }
.showcase-button-wrapper span.active { color: #fff; }
/* Thumbnails */
.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */ { margin-top: -6px; position: relative; }
.showcase-thumbnail-wrapper { background: url(../images/whbg.png) repeat-x left top; /*border: 1px solid #DEDBD6;*/
border-top: none; float: left; width: 545px; height: 189px; overflow: hidden; }
.showcase-thumbnail { float: left; height: 189px; width: 106px; text-align: center; position: relative; }
.showcase-thumbnail-caption { position: absolute; bottom: 2px; padding-left: 10px; padding-bottom: 5px; }
.showcase-thumbnail-content { padding: 10px; text-align: center; padding-top: 25px; }
.showcase-thumbnail-cover { background-image: url(../images/black-opacity-40.png); position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.showcase-thumbnail:hover { border: solid 0px #999; }
.showcase-thumbnail:hover .showcase-thumbnail-cover { display: none; }
.showcase-thumbnail.active { }
.showcase-thumbnail.active .showcase-thumbnail-cover { display: none; }
.showcase-thumbnail-wrapper-horizontal { }
.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail { width: 109px; }
.showcase-thumbnail-wrapper-vertical { padding: 10px; }
.showcase-thumbnail-wrapper-vertical .showcase-thumbnail { margin-bottom: 10px; }
.showcase-thumbnail-button-backward { position: absolute !important; cursor: pointer; left: 0; bottom: 70px; z-index: 10; }
.showcase-thumbnail-button-forward { position: absolute !important; cursor: pointer; right: 0; bottom: 70px; z-index: 10; }
.showcase-thumbnail-button-backward { padding-bottom: 0px; padding-right: 0px; }
.showcase-thumbnail-button-backward .showcase-thumbnail-vertical,  .showcase-thumbnail-button-forward .showcase-thumbnail-vertical,  .showcase-thumbnail-button-forward .showcase-thumbnail-horizontal,  .showcase-thumbnail-button-backward .showcase-thumbnail-horizontal { background: url("http://im.active18.com/images/in_sprite1.png") no-repeat scroll 0 0 transparent; display: block; width: 27px; height: 52px; }
.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal { background-position: -927px -505px; }
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal { background-position: -927px -559px !important; }
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal { background-position: -954px -505px; }
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal { background-position: -954px -559px !important; }
/* Hide button text */
.showcase-thumbnail-button-forward span span,  .showcase-thumbnail-button-backward span span { display: none; }
/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; float: none; }
a:hover .tab5_big_top, a.active .tab5_big_top { background-image: url("http://im.active18.com/images/top_arrow106.png"); background-position: 0 0 !important; display: block; z-index: 99; }
/*slider tab section */

.slidertab { background: #FFFFFF; border: 1px solid #DEDBD6; border-top: none; float: left; width: 545px; height: 189px; }
.showcase-thumbnail { float: left; height: 189px; width: 106px; text-align: center; position: relative; }
.showcase-thumbnail .tab5_big_tab { /*background:#FFFFFF;*/
color: #333333; cursor: pointer; display: inline-block; font-weight: bold; height: 189px; margin: 0; padding-top: 5px; width: 109px; }
.showcase-thumbnail:hover .tab5_big_tab, .showcase-thumbnail.active .tab5_big_tab { background: url(../images/top_arrow_bg.png) no-repeat left top; padding-top: 5px; /*background: none repeat scroll 0 0 #D53225;
    border-left: 1px solid #95231A;*/
color: #FFFFFF; }
.showcase-thumbnail .tab5_big_top { background-image: url("http://im.active18.com/images/top_arrow106.png"); background-position: 0 0 !important; background-repeat: no-repeat; display: none; height: 10px; left: 0; position: absolute; top: -6px; width: 106px; z-index: 1; }
.showcase-thumbnail:hover .tab5_big_top, .showcase-thumbnail.active .tab5_big_top { background-image: url("http://im.active18.com/images/top_arrow106.png"); background-position: 0 0 !important; display: block; z-index: 99; }
.showcase-thumbnail .tab5_big_thumb { background: #333; height: 123px; width: 86px; margin: 11px 11px 6px; float: left; }
.showcase-thumbnail .tab5_big_thumb img { height: 123px; width: 86px; }
.showcase-thumbnail:hover .tab5_big_thumb, .showcase-thumbnail.active .tab5_big_thumb { background: #333; height: 121px; width: 86px; margin: 11px; float: left; }
.display_content h1 a { color: #FFFFFF; }
.tab_frame_cont_movie h3 { color: #DED4C0; font-size: 12px; margin: 0; padding: 0; }
.showcase-thumbnail-restriction { width: 547px !important; }
.showcase .ytm-img-layout { position: absolute; z-index: 10; top: 0; height: 28px; left: 0; background: #FFF; border: 1px solid #DEDBD6; width: 545px !important; z-index: 99; display: none }
.showcase .ytm-img-layout div { cursor: pointer }
.showcase .ytm-img-layout div.ytm-prev-arrow { float: right; background: url("http://im.active18.com/images/btn_back.png") no-repeat 0 0; visibility: hidden; height: 28px; width: 29px; }
.showcase .ytm-img-layout div.ytm-next-arrow { visibility: hidden; float: right; background: url("http://im.active18.com/images/btn_next.png") no-repeat 0 0; height: 28px; width: 29px; }
.showcase .ytm-pagi { float: right; font: 14px 'oswald-webfont'; color: #333; border-left: 1px solid #dbd8d3; padding: 4px 8px 4px 18px }
.pNum { display: inline-block; }
.pNum span { padding: 2px 5px 0px 5px; cursor: pointer; font-size: 0px; visibility: hidden; font-size: 0%; }
.pNum span.active { color: #333333; display: block; visibility: visible; font: 14px 'oswald-webfont'; position: absolute; right: 54px; top: 2px; z-index: 9999; }

/*Homepage common slider*/
#home_update #cmn_sld #showcase, #videos_home #cmn_sld #showcase{ height:535px; overflow:hidden}
#cmn_sld #showcase { height:520px; overflow:hidden}
#cmn_sld #showcase .news_content { background:#FFF; padding: 12px 20px !important}
#cmn_sld .showcase-content a img{ display:block}
#cmn_sld .showcase-content-container{ border-bottom:1px solid #DEDBD6}
#cmn_sld .showcase-thumbnail-container { padding:0 8px}
#cmn_sld .showcase-thumbnail-wrapper-horizontal .showcase-thumbnail { width:106px}
#cmn_sld .showcase-thumbnail .tab5_big_tab { width:106px}
#cmn_sld .showcase-thumbnail .tab5_big_thumb img { height:auto}
#cmn_sld .showcase-thumbnail .tab5_big_thumb {    background: none; height:auto; margin:20px 10px 10px; height:51px}
#cmn_sld .showcase-thumbnail:hover .tab5_big_thumb, #cmn_sld .showcase-thumbnail.active .tab5_big_thumb { background: none; height:51px;  float: left; margin:20px 10px 10px; width: 86px}
#cmn_sld .showcase-thumbnail-wrapper { height:140px}
#cmn_sld .showcase-thumbnail .news_thumb_title{ font:11px Arial; color:#333}	
#cmn_sld .showcase-thumbnail:hover .news_thumb_title, #cmn_sld .showcase-thumbnail.active .news_thumb_title{ color:#FFF}
#cmn_sld .showcase .ytm-img-layout { left: 1px; top: 1px; width: 541px !important}	
#cmn_sld .showcase-arrow-next {right: 1px; top: 2px}
#cmn_sld .showcase-arrow-previous {right: 76px; top: 2px}
#cmn_sld .showcase-thumbnail-horizontal{width: 26px; height:54px}
#cmn_sld .showcase-thumbnail-button-forward, #cmn_sld .showcase-thumbnail-button-backward {  bottom: 62px}
#cmn_sld .news_content h3{ margin:0 !important}
#videos_home #cmn_sld #showcase .news_content { border:0}

#downloads .showcase-content-container{background-color:#FFF; border-bottom:1px solid #DEDBD6;  border-top:1px solid #DEDBD6}
#downloads .showcase-content{background-color: #FFF;}
#downloads .down_content1{border-bottom:none}
#downloads .showcase-thumbnail-container {margin-top: -7px}
#downloads .showcase-thumbnail-container { padding:0 8px}
#downloads .showcase-thumbnail-wrapper-horizontal .showcase-thumbnail { width:106px}
#downloads .showcase-thumbnail .tab5_big_tab { width:106px}
#downloads .showcase-thumbnail .tab5_big_thumb img { height:auto}
#downloads .showcase-thumbnail .tab5_big_thumb {    background: none; height:auto; margin:20px 10px 10px; height:51px}
#downloads .showcase-thumbnail:hover .tab5_big_thumb, #downloads .showcase-thumbnail.active .tab5_big_thumb {
	background: none; height:51px;  float: left; margin:20px 10px 10px; width: 86px}
#downloads .showcase-thumbnail-wrapper { height:140px}
#downloads .showcase-thumbnail .news_thumb_title{ font:11px Arial; color:#333}	
#downloads .showcase-thumbnail .bl_11 {color: #0072BC; font-size: 10px;  font-style: italic}
#downloads .showcase-thumbnail:hover .news_thumb_title, #downloads .showcase-thumbnail.active .news_thumb_title{ color:#FFF}
#downloads .showcase-thumbnail:hover .bl_11, #downloads .showcase-thumbnail.active .bl_11{ color:#FFF}
.showcase .display_content { height: 365px}