#games .block_music_album h1 {
	line-height:35px;
}
#games .block_music_album .description {
	color: #999999;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
}
.navi_up, .navi_down{background:url(../images/in_sprite1.png) no-repeat;}
.game_frame_big {
	margin:0;
	padding:0;
	width:527px;
	height:398px;
	overflow:hidden;
	float:left;
}
.game_detail {
	margin:10px 10px 0 10px;
	padding:0;
	font-size:12px;
	color:#666;
	float:left;
}
.no_top_border {
	border-top:none !important;
}
#games .more_link_big {
	padding:10px 20px;
}
.more_games_block {
	margin:0 0 25px 0;
	padding:0;
	float:left;
	width:250px;
}
.games_frame_small {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:97px;
	height:74px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.games_frame_small .photo {
	margin:2px;
	padding:0;
	background:#292929;
	width:93px;
	height:70px;
	overflow:hidden;
	float:left;	
}
.games_frame_small1 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:98px;
	height:74px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.games_frame_small1 .photo {
	margin:2px;
	padding:0;
	background:#292929;
	width:94px;
	height:70px;
	overflow:hidden;
	float:left;	
}
.games_frame_small_detail {
	margin:0 0 0 10px;
	padding:0;
	float:left;
}
.games_frame_small_detail .title {
	margin:0 0 5px 0;
	padding:0;
	width:140px;
	font-size:14px;
	font-weight:bold;
}
.games_frame_small_detail .description {
	margin:0 0 2px 0;
	padding:0;
	width:140px;
	font-size:11px;
	font-style:italic;
	color:#999;
}
.games_rating_small {
	margin:5px 0 !important;
}
a.navi_up{
	width:32px;
	height:24px;
	background-position: -1012px -483px;
	float:left;
}
a.navi_up:hover {
	background-position: -1012px -507px;
}
a.navi_up.active {
	background-position: -1012px -531px;
}
a.navi_up.disable {
	background-position: -1012px -555px;
	cursor:default;
}
a.navi_down {
	width:32px;
	height:24px;
	background-position: -1044px -483px;
	float:left;
}
a.navi_down:hover{
	background-position: -1044px -507px;
}
a.navi_down.active  {
	background-position: -1044px -531px;
}
a.navi_down.disable  {
	background-position: -1044px -555px;
	cursor:default;
}
.game_frame1_block {
	margin:0 17px;
	padding:0;
	width:135px;
	min-height:100px;
	overflow:hidden;
	float:left;
}
.game_frame1_block .title {
	margin:10px 0 0 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.game_frame1_block .description {
	margin:0;
	padding:0;
	font-size:11px;
	color:#999;
	font-style:italic;
	text-align:center;
}
.games_frame1 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:128px;
	height:98px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.games_frame1 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:122px;
	height:92px;
	overflow:hidden;
	float:left;	
}
.game_frame2_block {
	margin:0 15px;
	padding:0;
	width:140px;
	min-height:170px;
	overflow:hidden;
	float:left;
}
.game_frame2_block .title {
	margin:10px 0 0 0;
	padding:0;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}
.game_frame2_block .description {
	margin:0;
	padding:0;
	font-size:11px;
	color:#999;
	font-style:italic;
	text-align:center;
	text-transform: capitalize;
}
.games_frame2 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:136px;
	height:102px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.games_frame2 .photo {
	margin:3px;
	padding:0;
	background:#FFF;
	width:130px;
	height:96px;
	overflow:hidden;
	float:left;	
}
.game_frame_big_main {
	margin:0;
	padding:0;
	background:url(../images/games_bg.png) 0 0 no-repeat;
	width:860px;
	min-height:240px;
	float:left;
}
.game_frame_big_main_block, .game_frame_big_main_block1 {
	margin:4px 0 0 43px;
	padding:0;
	float:left;
	position:relative;
}
.game_frame_big_main_block1 {
	margin:4px 0 0 50px;
}
.game_frame_main {
	margin:0;
	padding:0;
	width:227px;
	height:170px;
	overflow:hidden;
	float:left;
}
.game_frame_big_main .title {
	margin:30px 0 0 0;
	padding:0;
	font-size:12px;
	font-weight:bold;
	width:227px;
	text-align:center;
}
.game_frame_big_main .description {
	margin:0;
	padding:0;
	font-size:11px;
	color:#999;
	font-style:italic;
	width:227px;
	text-align:center;
	text-transform: capitalize;
}

.news_thumb_title {
	margin:0 10px;
	float:left;
	width:86px;
	text-align:center;
}
.large_view {
	margin:0;
	padding:20px;
	background:#252525;
	border:1px solid #DEDBD6;
	width:818px;
	float:left;
}
.large_view h1 {
	color:#FFF;
	line-height:41px;
	margin-top:-6px;
	font-size:40px;
}
.large_view_block {
	margin:19px 0;
	padding:0;
	width:815px;
	display:block;
	text-align:center;
}
.large_view_block img {
	max-width:815px;
}
.large_view_description {
	color:#FFF;
}
.large_view_description a{
	color:#0072BC;
}
.large_view_more {
	padding:10px 20px !important;
	width:818px !important;
}



#champleague{ background:url(http://im.in.com/images/bg_cl.jpg) no-repeat top left; width:300px; height:262px; }
#champleague .FL{ float:left;}
#champleague .MT10{ margin-top:10px;}
#champleague .ML10{ margin-left:10px;}
#champleague .MR10{ margin-right:10px;}
#champleague .PB10{ padding-bottom:10px;}
#champleague .PT5{ padding-top:5px;}
#champleague .PL5{ padding-left:5px;}
#champleague .PL10{ padding-left:10px;}
#champleague .CL{ clear:both;}
#champleague .cl_in{ background:url(http://im.in.com/images/box_bg_c.jpg) repeat-y bottom left; width:283px; height:180px; margin:0px auto ; }
#champleague .cl_top{ background:url(http://im.in.com/images/box_bg_top.jpg) repeat-y bottom left; width:283px; height:22px; margin:0px auto ; }
#champleague .cl_btm{ background:url(http://im.in.com/images/box_bg_btm.jpg) repeat-y bottom left; width:283px; height:5px; margin:0px auto ; font-size:0px; line-height:0px; }
#champleague .cl_con{width:270px; height:180px; overflow-x:hidden; *overflow: scroll;}
#champleague .th_bor{border:solid 1px #dbe3ea;}
#champleague .b_bor_c{ border-bottom: dotted 1px #ccc;}
#champleague .o_11 { font: 11px arial; color:#e84f0c;}
#champleague .brdb_o {border-bottom:1px dotted #e84f0c;}
#champleague #cltab{width: 650px;}
#champleague #cltab ul{width: 100%;margin-left: 0;padding-left: 0;margin: 0;float: left;font: bold 13px arial; }
#champleague #cltab ul li{display: inline; float:left;padding:0px 2px;}
#champleague #cltab ul li a{float: left;color: #fff;text-decoration: none; padding:7px 15px 7px 15px; background:#2d2d2d; border-bottom:5px solid #fff; }
#champleague #cltab ul li a:hover{float: left;color: #fff;text-decoration: none;background:#e84f0c url(http://im.in.com/images/tabpointer.jpg) center bottom no-repeat;padding:7px 15px 12px 15px;}
#champleague #cltab ul li a.current{ color:#fff;background:#e84f0c url(http://im.in.com/images/tabpointer.jpg) center bottom no-repeat;padding:7px 15px 12px 15px;}
#champleague .PL45 { padding-left:45px; }
#champleague .PT40 { padding-top:40px; }


.popgm{ background:#fff; border:2px solid #000; width:280px; height:150px; padding:10px; font:18px Arial; color:#333;}
.popgml{ float:left; width:101px;}
.popgmr{ float:left; width:170px; margin-top:24px;}
.popgmok{ margin:8px 0 0 66px;}
