#pieChart {
	width: 135px;
	height: 105px;
	border:none;
	float:right;
	padding:none;
	position:relative;
}
.top_bar_left {
	margin:5px 0 0 0;
	display:inline-block;
}
.top_bar_logoN {
	margin:0px 8px 0 8px !important;
	padding:0;
}
.margin15 {
	margin:15px 20px !important;
	padding:0;
}
.margin7 {
	margin-right:8px !important;
	padding:0;
}
.margin_left7 {
	margin-left:14px !important;
	_margin-left:9px !important;
	padding:0;
}
#home_update .pics_block_left .view_all_video {
	background:#FAFAFA;
	border-top:1px solid #DEDBD6;
	margin: 37px -20px 0;
    padding: 18px 20px;
	
}
.divider_small {
	margin:5px 3px 0 3px;
	font-size:12px;
	color:#c8c7c5;
}
.news_view_tab {
	position:relative;
	text-align:center;
	display:block;/*overflow:hidden;*/

	/*border:1px solid;*/

}
.width160 {
	width:190px !important;
	position:relative;
	overflow:hidden;
}
.news_view_tab .topbar {
	/*margin:1px 1px 1px 2px;*/

	border:1px solid #DEDBD6;
	background:#fff;
	height:28px;
	clear:both;
	display:block;
	font-family:'opensan-webfont';
	position:absolute;
	z-index:100;
	width:545px;
	top:1px;/*left:2px;

	right:2px;*/

	}
a.btn_play {
	background:url(http://im.active18.com/images/btn_play.png) no-repeat 0px 0px;
	height:28px;
	float:left;
	width:59px;
	height:28px;
	cursor:pointer;
	display:block;
	overflow:hidden;
}
a.btn_play img {
	text-indent:-9999px;
	cursor:pointer;
	overflow:hidden;
	display:none;
}
a.btn_play:hover {
	background:url(http://im.active18.com/images/btn_play.png) no-repeat 0px -28px;
}
a.btn_pause {
	background:url(http://im.active18.com/images/btn_pause.png) no-repeat 0px 0px;
	height:28px;
	float:left;
	width:59px;
	height:28px;
	cursor:pointer;
	display:block;
	overflow:hidden;
}
a.btn_pause img {
	text-indent:-9999px;
	cursor:pointer;
	overflow:hidden;
	display:none;
}
a.btn_pause:hover {
	background:url(http://im.active18.com/images/btn_pause.png) no-repeat 0px -28px;
}
a.btn_back {
	background:url(http://im.active18.com/images/btn_back.png) no-repeat 0px 0px;
	height:28px;
	float:left;
	width:31px;
	height:28px;
}
a.btn_back:hover {
	background:url(http://im.active18.com/images/btn_back.png) no-repeat 0px -28px;
}
a.btn_back.active {
	background:url(http://im.active18.com/images/btn_back.png) no-repeat 0px -56px;
}
a.btn_next {
	background:url(http://im.active18.com/images/btn_next.png) no-repeat 0px 0px;
	height:28px;
	float:left;
	width:29px;
	height:28px;
}
a.btn_next:hover {
	background:url(http://im.active18.com/images/btn_next.png) no-repeat 0px -28px;
}
a.btn_next.active {
	background:url(http://im.active18.com/images/btn_next.png) no-repeat 0px -56px;
}
.newno {
	margin:3px 15px 0 15px;
	float:left;
	color:#333 !important;
}
.video {
	/*background:#292929;*/

	/*height:313px;*/

	position:relative;/*float:left;*/

	}
.video .v_player {
	height:283px;
	overflow:hidden;
	width:550px;
}
.video .v_player img {
	width:548px;
	overflow:hidden;
}
.white_block550 {
	background:#FFF;
	border:1px solid #dedbd6;
	border-top:0px !important;
	text-align:left;
	height:1%;
	position:relative;
}
.white_block550_tab {
	background:#FFF;
	border:1px solid #dedbd6;
	border-top:0px !important;
	text-align:left;
	position:relative;
	z-index:99px;
	float:left;
	width:548px;
}
.white_block550_tab_reverse {
	background:#FFF;
	border:1px solid #dedbd6;
	box-shadow: 0 4px 2px -2px #CCCCCC;
	text-align:left;
	position:relative;
	z-index:99px;
	float:left;
	width:548px;
	left:-21px;
}
.white_block550_tab_reverse ul li {
	float:left;
}
.white_block550_tab_reverse a.event_tab {
	float: left;
	height: 105px;
	width: 108px;
	font-size:11px !important;
	font-weight:100!important;
	color:#666;
	border-left:1px solid #dedbd6;/*margin:0 0 8px 0;*/

	}
.news_content {
	margin:0px 0 0 0;
	padding:0 20px 10px 20px;
	text-align:left;
	clear:both;
	/*border-bottom:1px solid #dedbd6;*/

	/*top:313px;

	position:absolute;*/

	width:505px;
}
.white_block550 h1 {
	margin:0;
	padding:0;
	font-size:25px;
	line-height:30px;
}
.white_block550 h3 {
	margin:10px 0 0 0 !important;
	font-size:12px;
	color:#666;
}
.white_block550 .description {
	margin:5px 0;
	padding:0;
	line-height:18px;
	font-size:11px;
	font-style:italic;
	color:#999;
}
.news_content h3 {
	margin:5px 0 0 0 !important;
}
a.news_tab,  a.event_tab {
	float: left;
	/*height: 125px;
	height: 131px;*/
	width: 106px;
	font-size:11px !important;
	font-weight:100!important;
	color:#666;
}

#home_update a.news_tab,  #home_update a.event_tab {
	height: 125px;
}

#home_update a .tab_view_tab{
	padding-bottom:4px;
}
a.news_tab.first,  a.event_tab.first {
	margin-left:8px;
}
a .news_tab_view_tab {
	width:106px !important;
	height:121px !important;
	border:none !important;
	font-weight:100!important;
}
a:hover .tab_view_tab, a.active .tab_view_tab {
	background:#d53225;
	border-left:1px solid #95231a;
	color:#FFF;
}
a .news_tab_top {
	background:url(http://im.active18.com/images/top_arrow106.png) no-repeat;
	background-position:0px 0px !important;
	width:106px;
	height:10px;
	/*position:relative;*/

	position:absolute;
	display:none;
	top:-6px;
	left:0;
	z-index:1;
	border:none;
}
a:hover .news_tab_top, a.active .news_tab_top {
	display:block;
}
a .news_tab_bottom {
	background:url(http://im.active18.com/images/bottom_arrow106.png) no-repeat;
	background-position:0px 0px !important;
	width:108px;
	height:10px;
	/*position:relative;*/

	position:absolute;
	display:none;
	top:103px;
	left:0;
	z-index:1;
	border:none;
}
a:hover .news_tab_bottom, a.active .news_tab_bottom {
	display:block;
}
.news_tab_vid_thumb {
	margin:20px 0 5px 10px;
	padding:0;
	width:86px;
	height:51px;
	float:left;
	background:#000;
}
.news_tab_vid_thumb img {
	width:86px;
	height:51px;
	overflow:hidden;
}
a .news_tab_vid_thumb {
/*background-position: -493px -29px;*/

}
a:hover .news_tab_vid_thumb img, a.active .news_tab_vid_thumb {
	/*background:url(http://im.active18.com/images/news_thumb.png) no-repeat;*/

	width:86px;
	height:51px;
}
.white_block550_tab_reverse .news_tab_vid_thumb img {
	width:90px;
	height:86px;
	overflow:hidden;
}
.white_block550_tab_reverse a:hover .news_tab_vid_thumb img,  .white_block550_tab_reverse a.active .news_tab_vid_thumb {
	width:90px;
	height:86px;
}
.news_tab_view_tab .last {
	float:right;
}
.zigzagbox {
	width:290px;
	margin:0px 5px;
	padding:0px;
	position:relative;
}
.zigzagbox .top {
	background: url(http://im.active18.com/images/zigzag_top.png) no-repeat;
	position:absolute;
	height:5px;
	width:10px;
	top:-4px;
	left:140px;
}
.zigzagbox .data {
	background:#f4f1eb;
	border-top:1px solid #fff;
	padding:10px;
	margin:0px;
	display:block;
	overflow:hidden;
	height:1%;
}
.zigzagbox .bottom {
	background:url(http://im.active18.com/images/zigzag.png) repeat-x;
	height:8px;
	_height:8px;
	display:block;
	margin:0px;
	padding:0px;
}
.frame17 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:128px;
	height:75px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.frame17 .video_content17 {
	margin:4px;
	padding:0;
	background:#292929;
	width:120px;
	height:67px;
	overflow:hidden;
	float:left;
}
.frame17_block {
	margin:0 0 10px 0;
	padding:0;
	width:128px;
	text-align:center;
}
.frame17_block .rating, .frame17_block .rating_small1 {
	text-align:left !important;
}
.frame17_block .description {
	margin:0px 5px;
	font-size:11px;
	font-style:italic;
	color:#999;
}
.frame17_block .description1 {
	margin:5px 0 0 3px;
	font-size:11px;
	font-style:italic;
	color:#999;
	float:left;
}
.frame17_block p {
	line-height: 12px;
}
.frame17_block .title {
	padding:10px 0 5px 0;
	margin:0;
	font-size:12px;
	color:#000;
	font-weight:bold;
	clear:both;
}
.see_allvideo_whtie {
	margin: 17px 0px;
	font-size:12px;
	text-align:center;
}
.see_allvideo_whtie a {
	background:url(http://im.active18.com/images/arrow_white_drop.png) no-repeat left top;
	height:20px;
	display:inline-block;
	text-decoration:none;
	color:#fff !important;
	padding-left:25px;
	line-height:20px;
}
.see_allvideo_whtie a:hover {
	text-decoration:underline;
	color:#fff;
}
.see_allvideo_whtie a.selected {
	background:url(http://im.active18.com/images/arrow_white_drop.png) no-repeat left bottom;
	height:20px;
	text-decoration:none;
	color:#fff;
	padding-left:30px;
}
/* style sheet for Home new section (music-video) css */



.allmusic_video_home {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDBD6;
	margin: 20px 0 10px 0px;
	width:858px;
	position:relative;
	float:left;
}
.allmusic_video_home h3 {
	font-family:'oswald-webfont';
	font-size:18px;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
	line-height:18px;
	margin-bottom:10px;
}
.allmusic_video_home .today_video {
	background: url(http://im.active18.com/images/black_stip4px.png) repeat-y top right #252525;
	width:275px;
	float:left;
	height:118px;
	border-right:1px solid #e4e4e4;
}
.allmusic_video_home .today_video p {
	line-height:15px;
	margin:0px;
	padding:0px;
	font-size:11px;
}
.allmusic_video_home .data {
	background:url(http://im.active18.com/images/grey_video_bg.png) no-repeat left top;
	/*position:relative;*/

	float:left;
	height:98px;
	width:271px;
	z-index:0;
	padding:20px 0px;
}
.home_today_bg {
	float: left;
	height: 82px;
	width: 87px;
}
.allmusic_video_home .week_video {
	width:480px;
	float:left;
	padding:20px 0px 20px 10px;
	height:78px;
	position:relative;
	z-index:500;
}
.allmusic_video_home .week_video .play_scroll_small {
	margin:0 2px !important;
}
.allmusic_video_home .today_video .play_scroll {
	width:96px !important;
	height:82px !important;
	margin:0px 15px;
}
.allmusic_video_home .today_video .play_scroll .scroll_thumb_bg {
	width:86px !important;
	height:80px !important;
}
.allmusic_video_home .today_video .scroll_thumb {
	width:80px !important;
	height:80px !important;
}
.allmusic_video_home .play_scroll .add_list {
	right: 2px !important;
 *right: 11px !important;
}
.allmusic_video_home .play_scroll_small .scroll_thumb {
 *margin:0 0 0 -1px !important;
}
.allmusic_video_home .play_scroll .shine_block100 {
	width:87px !important;
	height:82px !important;
	top:-14px;
	left:-6px;
}
.allmusic_video_home .iconmusic {
	background:#f5f5f5;
	border-left:1px solid #e4e4e4;
	height:118px;
	width:91px;
	float:right;
	text-transform:uppercase;
	text-align:center;
}
.allmusic_video_home .iconmusic .icon {
	margin:10px 0px 0px 10px;
	background:url(http://im.active18.com/images/icon_allmusic.png) no-repeat;
	width:42px;
	height:48px;
	text-align:center;
	display:inline-block;
	cursor: pointer;
}
.allmusic_video_home .iconmusic .text {
	font-family:'oswald-webfont';
	font-size:14px;
	color:#333;
}
.normal_grey_description {
	margin:5px 0;
	padding:0;
	font-size:11px;
	color:#999;
}
.video_block1 .title {
	margin:5px 0 10px 5px !important;
	padding:0;
	color:#222222;
	font-weight:bold;
}
.video_block1 .title a.selected {
	color:#0072bc;
}
.video_block1 .description {
	margin:0;
	padding:3px 0 0 5px;
	font-size:11px;
	font-style:italic;
	color:#999;
}
.view_center_link {
	width:210px;
	margin:0 auto;
	position: relative;
	float:none;
}
/* pics section style sheet */



.pics_block_left {
	width:555px;
	/*height:460px;*/
	margin-top:20px !important;
}
.pics_block_left .rightmargin {
	margin-left:7px;
	margin-top:20px;
	margin-bottom:10px;
}
.pics_block_left .last {
	margin-right:0px;
	margin-top:15px;
}
.pics128 {
	float:left;
	position:relative;
	overflow:hidden;
	border:1px solid #c4c4c4;
	background:#FFF;
	border-radius:3px;
	width:128px;
	height:128px;
}
.pics128 img {
	width:120px;
	height:120px;
	position:relative;
	top:4px;
	left:4px;
}
 .pics_block_left. pics128 h1 {
color:#ffffff; /*margin:10px 0 0 5px !important;*/
}
.pics_block_left .pics128 h3 {
	font-size:12px;
	color:#ffffff;
	margin:10px 0 0 5px !important;
}
.pics120_120 {
	width:120px;
	height:120px;
	background:#d53225;
	position:absolute;
	display:none;
	left:4px;
	margin-bottom:4px;
}
.pics120_120 .space {
	padding:4px;
}
.pics120_120 h1 {
	font-size:13px;
	margin:15px 0 0 5px;
	line-height:16px;
	margin-bottom:18px;
	float:left;
	color:#ffffff;
	font-family:'oswald-webfont';
}
.pics120_120 h1 a {
	color:#fff;
}
.pics120_120 h1 a:hover {
	color:#222;
}
.pics120_120 h3 span.red {
	font-size:12px;
	color:#5c0f0a !important;
}
/* right side block for pic */ 



.right_gray_block258 {
	width:222px;
	/*height:440px;*/
	border-left:none !important;
	padding-bottom:0 !important;
	border-bottom:none !important
}
.right_gray_block258 .picsblock {
	width:220px;
	height:330px;
	background:#000;
	margin-top:20px;
	margin-bottom:10px;
	position:relative;
}
.right_gray_block258 .picsblock img {
	overflow:hidden;
	width:220px;
	height:330px;
}

#girl_week .more_link{
	float: left;
    margin: 15px 0 0 -21px;
    padding: 0 20px;
    width: 222px;
	border:1px solid #DEDBD6;
}

#girl_week p{
	font-size:14px;
	font-weight:bold;
	text-align:center;
	height:32px;
	padding:0;
	margin:0;
	overflow:hidden;
}

#girl_week .more_link .view_all_video {
    margin: 18px 0 18px 75px;
}
/* celeberity section */



.block_middle_cele {
	border: 1px solid #DEDBD6;
	float: left;
	height: 580px;
	margin: 20px 0 0;
	overflow:hidden;
}
.height580 {
	height:580px !important;
}
/* game screen section for home page  */



#home_update .game_block {
	padding: 15px 12px 20px 10px;
	overflow:hidden;
}
.gamescreen_top {
	background:#000;
	overflow: hidden;
	height:160px;
	position:relative;
	color:#fff;
	width:400px;
}
.video400 {
	float:left;
	height:160px;
	width: 400px;
}
/* for videwo roll over effect */ 



.video400 {
	position:relative;
	margin:2px;
	float:left;
	overflow:hidden;
}
.g_video400 {
	width:400px;
	position:absolute;
	display:none;
	top:10px;
}
.g_video400 .space {
	padding:5px;
}
.g_video400 h3 {
	background:#ffffff;
	color:#d53225 !important;
	display:inline-block;
	padding:2px 5px;
	margin:1px !important;
}
.g_video400 h3 span.red {
	color:#666666 !important;
}
.g_video400 h1 {
	font-size:39px;
	line-height:39px;
	background:#ffffff;
	color:#000000 !important;
	display:inline-block;
}
.g_video400 .newspost {
	font-size:11px;
	line-height:17px;
	font-style:italic;
	display:block;
	background:#ffffff;
	color:#999999;
	display:inline-block;
	margin:1px 0 0 0;
}
.g_video400 .description {
	font-size:13px;
	line-height:20px;
	display:block;
	color:#ffffff;
	border-top:1px dotted #e58078;
	padding-top:20px;
	margin:20px 0 35px;
}
.g_video400 a.readmore {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}
.game_thumb_self {
	background:url(http://im.active18.com/images/game_self.png) no-repeat left bottom;
	padding-bottom:18px;
	margin:10px 3px 0px 3px;
	overflow:hidden;
	width:420px;
}
.game_thumb_selfN {
	background:url(http://im.active18.com/images/game_self1.png) no-repeat left bottom;
	padding-bottom:24px;
	margin:10px 6px 0px 6px;
	overflow:hidden;
	width:408px;
}
.videwo_thumb_frame {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:119px;
	height:106px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
}
.videwo_thumb_frame .game_video {
	margin:3px;
	padding:0;
	background:#292929;
	width:113px;
	height:67px;
	overflow:hidden;
	float:left;
}
.frame3 .game_video p.textcenter {
	text-align:center !important;
}
/*facebook and openion section */



 .height220 {
	height:220px !important;
}
.height400 {
	height:408px !important;
}
.top_margin15 {
	margin-top:15px;
}
.top_margin10 {
	margin-top:10px !important;
}
.facebook_data .iconlike {
	background:url(http://im.active18.com/images/btn_like.png) no-repeat left top;
	width:51px;
	height:25px;
	display:block;
	margin:5px 0px;
}
.facebook_data .iconlike a {
	text-indent:-9999px;
	font-size:1px;
	cursor:pointer;
	text-decoration:none;
	display:block;
}
.facebook_data .iconlike a:hover {
	text-indent:-9999px;
	font-size:1px;
	cursor:pointer;
	text-decoration:none;
	display:block;
}
.facebook_data {
	/*padding:25px;*/
	color:#666;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
}
.my_opinion {
	margin:20px 0 0 0;
	background:#FFF;
	border:1px solid #dedbd6;
	width:438px;
	float:right;
}
.opinion_data {
	padding:20px 20px 0 20px;
	color:#222;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
}
/* day pics new section div */



.main_pics {
	position:relative;
	margin:0px;
	padding:0px;
}
.main_pics .arrow_pics {
	position:absolute;
	top:0px;
	right:0px;
	margin:0px;
}
/*.main_pics .heading{

	position:absolute;

	left:20px;

	}*/	

	

/*#home_update .white_block_middle {

	margin:20px 0 0 0;

	background:#FFF;

	border:1px solid #dedbd6;

	width:422px;

	height:438px;

	float:left;

}

 .white_block_middle1 h3{

	padding:15px 0 15px 20px;

	margin:0;

	float:left;

}







#home_update .white_block_middle1 {

	margin:20px 0 0 0;

	background:#FFF;

	border:1px solid #dedbd6;

	width:422px;

	height:438px;

	float:right;

}*/	



.main_pics .navi_title {
	margin:0px!important;
	padding-right:5px;
	line-height:25px;
	font-size:11px;
	font-style:italic;
	float:left;
}
.main_pics .arrow_with_content {
	margin:25px 0px 0 0 !important;
	width:162px;
	float:right;
}
.chart_pool_title {
	color: #333333;
	font-family: 'oswald-webfont';
	font-size: 11px;
	font-weight: normal;
	margin:20px 0px 0px 0px;
	text-transform: uppercase;
	padding: 0px 0 5px 0px;
	line-height:25px;
	position: absolute;
	z-index:9;
	width:100px;
	left:0px;
}
/* Home middle section new class */ 



#home_update .white_block_middle1 {
	margin:20px 0 0 0;
	background:#FFF;
	border:1px solid #dedbd6;
	width:428px;
	height:580px;
}
#home_update .white_block_middle1 .g_video400 h3 {
	padding:1px 2px !important;
}
#home_update .white_block_middle {
	margin:20px 0 0 0;
	background:#FFF;
	border:1px solid #dedbd6;
	width:424px;/*min-height:580px;*/

}
#home_update .navi_title {
/*margin-top:30px;*/

}
#home_update .white_block_middle h3, #home_update .white_block_middle1 h3 {
	padding:25px 0 20px 20px;
	margin:0;
	float:left;
}
#home_update .white_block_middle .dropdown, #home_update .white_block_middle1 .dropdown {
	margin:20px 20px 0 0;
}
#home_update .pics_block_right .white_block_full {
    margin: 31px -21px 0;
}
#home_update .white_block_full {
	width:auto;
	background:#FFF;
	border:1px solid #dedbd6;
}
#home_update .white_block_middle_Cele, #devoional .white_block_middle_Cele {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #DEDBD6;
	/*height: 438px;*/

	padding:20px 20px 15px 20px;
	width: 382px;
	overflow:hidden;
}
#home_update .white_block_middle hr, #home_update .white_block_middle1 hr {
	margin:0px 20px;
}
.white_block_middle_Cele .frame_detail {
	margin:0 0 0 20px;
	padding:0;
	width:140px;
	float:left;
}
.white_block_middle_Cele .frame_detail h3 {
	font-size:12px;
	padding:0px !important;
	margin:0px;
}
.white_block_middle_Cele .frame_detail h1 {
	margin:0 0 5px 0;
	font-size:35px;
	line-height:35px;
}
.white_block_middle_Cele .frame_detail span {
	font-size:11px;
	font-style:italic;
	color:#999;
}
.white_block_middle .view_all_video, .white_block_middle1 .view_all_video {
	width:135px !important;
}
#home_update .grey_block_middle_Cele, #devoional .grey_block_middle_Cele {
	background: none repeat scroll 0 0 #F5F5F5;
	border-bottom: 1px solid #DEDBD6;
	/*height: 438px;*/

	padding:15px 20px 15px 20px;
	width: 382px;
	overflow:hidden;
}
#home_update .white_block_middle .title, #home_update .white_block_middle1 .title {
	margin:0px;
	padding:5px 0 0 0;
	font-size:12px;
	color:#d53225;
	font-style:italic;
}
#home_update .white_block_middle .description, #home_update .white_block_middle1 .description {
	padding:5px 0px 0px 0px;
	margin:0px;
	font-size:11px;
	font-style:italic;
	/*color:#000;*/
}
.video_frame11 {
	margin:3px;
	padding:0;
	background:#292929;
	width:400px;
	height:160px;
	overflow:hidden;
	float:left;
	position:relative;
	cursor:pointer;
}
.video_frame11_inner_text {
	margin:0;
	width:380px;
	float:left;
	position:absolute;
	top:10px;
	left:10px;
}
.video_frame11 h3 {
	margin:0;
	padding:2px 5px !important;
	background:#FFF;
	font-size:11px;
	float:left;
}
.video_frame11 h1 {
	margin:1px 0;
	padding:0 5px;
	background:#FFF;
	font-size:39px;
	line-height:40px;
	float:left;
}
.opinion_txt {
	float:left;
	width:190px;
}
.opinion_txt hr {
	margin:5px 0 0 0 !important;
	padding:0;
}
.opinion_txt .post, .opinion_txt .discussion {
	margin: 4px 2px 0 0 !important;
}
#pieChart {
	width: 135px;
	height: 105px;
	border:none;
	float:right;
	padding:none;
	position:relative;
}
/* ================= updated home page style sheet ==============*/

#home_update .ad300{margin-bottom:0;}
#home_infocus .h_scroll{height:387px;}
#signup {
	margin:0;
	background:#FFF;
	border:1px solid #dedbd6;
	width:298px;
	float:left;
	height:212px;
	overflow:hidden;
}
#signup .data {
	padding:10px 15px;
}
#signup h3 {
	margin:15px;
	padding:0;
	float:left;
}
#signup .big_gray_input_mid {
	width:210px !important;
}
#signup .big_gray_input_mid input {
	width:200px !important;
	padding:0 5px;
	font-size:14px !important;
}
.padding1020 {
	padding:15px 20px !important;
}
#signup .info {
	font-size:11px;
}
a .gustlogin {
	width:105px;
	height:28px;
	background-position: -554px -677px;
	float:left;
	text-indent:-9999px;
}
a:hover .gustlogin {
	background-position: -554px -705px;
}
a.active .gustlogin {
	background-position: -554px -734px;
}
a .login {
	width:78px;
	height:28px;
	background-position: -556px -764px;
	float:left;
	text-indent:-9999px;
}
a:hover .login {
	background-position: -556px -792px;
}
a.active .login {
	background-position: -556px -720px;
}
/*  Home news section */



/*#hnews { 

	width:423px; 

 }*/



#hnews {
	width:426px !important;
	float:left;
}
#hnews h1 {
	font-size: 24px;
	line-height: 24px;
	padding: 0 0 35px;
}
#hnews h3 span {
	font-style: normal !important;
	font-size:inherit;
}
#hnews .framehn101 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:207px;
	height:121px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
#hnews .framehn101 .photonh101 {
	margin:3px;
	padding:0;
	background:#292929;
	width:201px;
	height:115px;
	overflow:hidden;
	float:left;
}
/* Home songs section   */



#hsongs {
	width:426px !important;
	float:right;
}
#hsongs .gray_block_middle {
	background: none repeat scroll 0 0 #fff;
	border-bottom: 0px solid #DEDBD6 !important;
	border-top: 0px solid #DEDBD6;
	float: left;
	margin: 0;
	padding: 0 20px;
	width: 382px;
}
/* Celeberity section block */



#hceleb {
	width:426px !important;
	float:left;
}
#hhscpe {
	width:426px !important;
	float:right;
}
.minheight530 {
	min-height:540px !important;
}
.minheight475 {
	min-height:475px !important;
}
.minheight325 {
	min-height:325px !important;
}
.minheight300 {
	min-height:265px !important;
}
.more_link_bigH {
	background: none repeat scroll 0 0 #FAFAFA;
	border-top:0px solid #DEDBD6 !important;
	border:1px solid #DEDBD6;
	float: left;
	margin: 0;
	/*padding: 0 20px;*/

    width: 424px;
}
.more_link_bigH .view_all_video {
	margin: 0 auto;
	padding: 15px 0;
	width: 30%;
}
#hgames {
	width:426px !important;
	float:left;
}
#hgames .white_block_middle_Cele .frame_detail {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	width: 134px;
}
#hgames h1 {
	font-size: 30px;
	line-height: 30px;
	padding: 0 0 35px;
}
#hgames .videwo_thumb_frame {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:125px;
	height:147px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
#hgames .videwo_thumb_frame .game_video {
	margin:5px;
	padding:0;
	background:#292929;
	width:115px;
	height:86px;
	overflow:hidden;
	float:left;
}
#hgames .marginLeft6 {
	margin-left:6px !important;
	_margin-left:4px;
}
#hgames .videwo_thumb_frame p {
	text-align:center !important;
	padding:5px 10px;
}
#hburrp {
	width:426px !important;
	float:right;
}
#hburrp .white_block_middle_Cele .frame_detail {
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
	width: 235px;
	text-align:left;
}
#hburrp .frame3_block {
	padding:0 0 20px 0;
	margin:0!important;
	width:383px;
	float:left;
	min-height:119px !important;
}
.spacetop40 {
	padding:40px 0 0 0 !important;
}
#hburrp .frame3_block .frame3 {
	position:relative;
}
#hburrp .frame3_block .frame3 .g-strip {
	background:url(http://im.active18.com/images/Btime_tag.png) no-repeat left top;
	z-index:9;
	width:57px;
	height:19px;
	right:-5px;
	top:90px;
	position:absolute;
}
#hburrp .frame3_block .frame3 .text {
	color:#fff;
	font-weight:bold;
	text-align:left;
	padding:3px 5px 0 5px;
	float:left;
}
#hburrp .frame3_block .info {
	font-size:11px;
	color:#D53225;
}
#hburrp .hburrp_logo {
	float: left;
	margin: 0;
	padding: 25px 0 0px 10px;
}
#Hopenion {
	width:426px !important;
	float:right;
}
/* post loging section style */





.postlogin {
	float:right;
	margin:13px;
}
a .icon_info {
	background-position: -671px -865px;
	height:19px;
	float:left;
	width:19px;
	float:left;
	cursor:pointer;
	display:block;
	overflow:hidden;
	margin-top:2px;
}
.homepostlog {
	margin: 0;
	padding: 0;
	width:299px;
}
.homepostlog ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.homepostlog ul li {
	display: block;
	height: 19px;
	font-size:11px;
	padding:5px 0 0 0;
	clear:both;
	overflow:hidden;
	border-bottom:1px dashed #e5e5e5;
}
.homepostlog ul li .mailprolog, .homepostlog ul li .mailread {
	background-position: -712px -889px;
	float:left;
	height: 14px;
	width:17px;
	margin:1px 8px 0 8px;
	text-indent:-9999px;
	overflow: hidden;
	cursor:pointer;
}
.homepostlog ul li .mailread {
	background-position: -652px -935px;
}
.homepostlog .mail_list_detail1 {
	float: left;
	font-weight: normal;
	color:#333;
	font-size:10px;
	overflow:hidden;
	width:55px;
}
.homepostlog .mailsub {
	float: left;
	padding:0 3px;
	overflow:hidden;
	width:110px;
}
.homepostlog .mailtime {
	color:#999 !important;
	font-style:italic;
	padding:0 10px 0 0;
	float:right;
}
.more_link .view_all_prolog {
	margin-left:75px !important;
}
.view_all_prolog span.in_sprite_view {
	background-position: -95px -78px;
}
.view_all_prolog span {
	float: left;
	height: 18px;
	margin: -2px 5px 0 0;
	padding: 0;
	width: 18px;
}
.news_in_pic {
	margin:0;
	padding:0;
	float:left;
	min-height:135px;
	width:207px;
}
.news_thumbs {
	margin:4px 5px 4px 0;
	width:25px;
	min-height:20px;
	float:left;
	text-align:center;
}
.no_lineheight {
	line-height:0 !important;
}
ul.no_lineheight li {
	line-height:12px !important;
	float:left;
	width:385px;
}
.list_item {
	margin:10px 0 0 0;
	float:left;
	width:350px;
}
.white_block550_tab_reverse a.active .news_tab_vid_thumb {
	margin:8px 9px;
}
.white_block550_tab_reverse a .news_tab_vid_thumb {
	margin:8px 9px;
}
.white_block550_tab_reverse a .news_tab_view_tab {
	width:108px !important;
	height:104px !important;
	border:none !important;
	font-weight:100!important;
}
#navi_left, #navi_right {
	border:1px solid red;
	width:30px;
	height:20px;
}
#hnews .frame_detail a:hover h1 {
	color:#0072BC;
}
#hhscpe .dropdown .drop_box_middle {
	height: 200px !important;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 113px;
}

#horoscope_div .frame2 .photo2 a img.todayshoroscope{position:absolute; top:3px; left:3px; display:none;}
#horoscope_div .frame2 .photo2 a:hover img.todayshoroscope{display:block;}

#home_update .pics_block_right .white_block_full .view_all_video {padding: 18px 0; width: 33%;}


#hburrp .more_link_bigH .view_all_video {margin: 0 auto; padding: 15px 0; width: 34%;}