#home_update #cmn_sld #showcase, #videos_home #cmn_sld #showcase{ height:530px !important; overflow:hidden}
#home_update .pollBlock{width:510px; border:1px solid #e2dfda; padding:15px 19px; background:#FFF;}
#home_update .pollBlock h3{font-size:13px; color:#666; padding-right:7px; border-right:1px solid #d6d6d6; float:left;}
#home_update .pollBlock h2{ font-family:'anton-webfont'; font-size:16px; float:left; padding-left:10px; text-transform:uppercase; line-height:16px; width:460px;}
#home_update .pollBlock h2 .readmore{font:12px Arial !important; color:#d53225 !important; text-transform:none !important}
#home_update .pollBlock h2 .readmore:hover{text-decoration:underline}
.tre_music{background:url(http://im.active18.com/images/bg_pattern.png) repeat  0 0; padding:15px 8px 8px 8px; }
.tre_music h3{color:#FFF;}
.tre_music .tre_tabs ul li {border-right: 1px solid #4e4e4e;  color: #333333;  float: left;  font: 13px/13px 'oswald-webfont'; list-style:none; padding:0 7px; text-transform:uppercase;}
.tre_music .tre_tabs ul li a{padding:5px 9px; border-radius:2px; color:#FFF; display:inline-block;}
.tre_music .tre_tabs ul li a:hover, .tre_music .tre_tabs ul li a.active{background:#d53225;}
.tre_music .tre_tabs ul li a.more{color:#267cc4; padding:2px 0 0 0;}
.tre_music .tre_tabs ul li a.more:hover{background:none}
.tre_music .tre_tabs ul li a.more span{background:url(http://im.active18.com/images/in_sprite1.png) no-repeat -95px -78px; height:18px; width:18px; display:inline-block; vertical-align:text-top}
.tre_music .tre_tabs ul li.last{border-right:none}
.tre_music .cont{background:#f7f4ee url(../images/tmpattBg.png) repeat-x left bottom; padding:20px 0 15px 0;}
.tredMusicBox{width:523px; border-right:1px solid #e4e1db; height:310px; overflow:hidden}
.tredMusicBox .play_scroll{margin:0 2px}
.bx-pager{text-align:center; margin-top:-5px;}
.bx-pager a { display:inline-block; background:#484848; width:8px; height:8px; font-size:0; margin-right:3px; border-radius:4px}
.bx-pager a.pager-active{background:#d53225; width:8px; height:8px; font-size:0}

#hnews{width:430px}
#hnews .newsTitle{padding:5px 0 2px 0 !important; font-size:12px !important;}
#hnews .white_block_middle{ width:428px;}
/*Top 10 song tabs*/
#hnews .tabs{background:#fafafa; border-bottom:1px solid #e4e4e4; border-top:1px solid #e4e4e4; text-transform: uppercase; padding-left:2px}
#hnews .tabs ul{margin:0; padding:0; list-style:none}
#hnews .tabs ul li{color: #333333; font:12px/12px 'oswald-webfont'; float:left; border-right:1px solid #d1ceca; padding:3px 2px 5px 2px;}
#hnews .tabs ul li a{padding:4px 3px; display:inline-block}
#hnews .tabs ul li a:hover, #hnews .tabs ul li a.act{background:#d53225; color:#FFF; border-radius:2px; box-shadow: 2px 2px 1px #bebebe;}
#hnews .tabs ul li.last{border-right:none}
/*Top 10 song tabs end*/
.w410{width:410px}
#hnews ul.blue_right li {border-bottom: 1px dashed #CCCCCC; font-size: 12px; line-height: 30px; padding:8px 0;}
#hnews .more_link_bigH{width:428px;}

#home_horoscope .frame3_block .frame3:hover, #home_horoscope .frame3_block .frame3.active { background:#CE3024; border: 1px solid #C4C4C4; height: 119px; width: 119px;}
#home_horoscope .frame3_block .frame3 { border: 1px solid #C4C4C4; height: 119px;  width: 119px;}
#home_horoscope .frame3_block .frame3 { border: 1px solid #C4C4C4; height: 119px; width: 119px;}

.MR20{margin-right:20px} .MT5{margin-top:5px !important}
.gL12{color:#999; font-size:12px;}
.gD12{color:#666; font-size:12px;}
#home_horoscope .frame3_block{margin:0;}
#home_horoscope .grey_block_middle_Cele{padding:8px 20px; border-bottom:none;}

#wide_section, .sp_download{height:230px; overflow:hidden}
#wide_section .bx-next, #wide_section .bx-prev, #sp_download .bx-next, #sp_download .bx-prev{background:url("http://im.active18.com/images/in_sprite1.png") no-repeat -62px 0;  height: 24px; width: 32px; font-size:0; display:inline-block; position:absolute; top:-35px; right:10px}
#wide_section .bx-prev, #sp_download .bx-prev{background-position: -30px 0; top:-35px; right:42px; }
#popular_downloads .pager{ *width:818px !important;}
#popular_downloads div .wide_section_inner { margin-right: 43px; margin-right: 35px\9; *margin-right: 25px; }
#popular_downloads div .wide_section_inner:last-child { margin-right: 0px; !important }
.girls_home {border-bottom: 1px solid #DEDBD6 !important; height: 479px !important;}


#htNColor{width:842px;background:#980162 url(../images/htNclr_bg.jpg) 0 0 no-repeat;border:#dddddd 1px solid;padding:7px;}
#htNColor .PA14, #htNMtv .PA14{padding:14px;} #htNColor .FL, #htNMtv .FL{float:left;} #htNColor .FR, #htNMtv .FR{float:right;} #htNColor .CL, #htNMtv .CL{clear:both;} 
#htNColor .PL12, #htNMtv .PL12{padding-left:12px;} #htNColor .PR12, #htNMtv .PR12{padding-right:12px;} #htNColor .PT5, #htNMtv .PT5{padding-top:5px;} #htNColor .PB5, #htNMtv .PB5{padding-bottom:5px;}
#htNColor .title{font:28px 'anton-webfont', arial; color:#fff; text-transform:uppercase;}
#htNColor .htBox{background:#fff; overflow:hidden;}
#htNColor .htBox .col1{width:262px; float:left; padding:0 0 15px 15px;}
#htNColor .htBox .title1{padding:15px 0 10px 0;font:14px 'oswald-webfont', arial; color:#333; border-bottom:#e5e5e5 1px solid; margin-bottom: 15px; }
#htNColor .thumbCntr{overflow:hidden; height: 85px;}
#htNColor .thumbCntr .thumbnl{ background: #FFFFFF;border: 1px solid #C4C4C4; float: left; height: 73px; margin: 0; padding: 0; position: relative; width: 127px; border-radius: 3px;
-moz-border-radius: 3px; -webkit-border-radius: 3px;  box-shadow: 2px 2px 1px #e0e0e0;}
#htNColor .thumbCntr .thumbnl a {background: #000000;float: left;height: 67px;  margin: 3px;overflow: hidden; padding: 0; position: relative;  width: 120px;}
#htNColor .thumbCntr .thumbnl .play_small_frame {bottom: 3px; left: 5px;}
#htNColor .thumbCntr .thumbTx{float:right;width:114px;}
#htNColor .thumbCntr .thumbTx a{font:bold 12px arial;color:#333;}
#htNColor .thumbCntr .thumbTx a:hover{color:#0072bc;}
#htNColor .view_all_video{margin: 20px 0 0 8px;}
#htNColor .view_all_video span{margin: 0 5px 0 0;}

#htNMtv{width:849px;background:#23b2d3 url(../images/htNmtv_bg.jpg) 0 0 no-repeat;border:#dddddd 1px solid;padding:7px;}
#htNMtv .title{font:28px 'anton-webfont', arial; color:#fff; text-transform:uppercase;}
#htNMtv .htBox{background:#fff;}
#htNMtv .PT15{padding-top:15px;}#htNMtv .PR5{padding-right:5px;}
#htNMtv .htmtvSlider{position:relative;}
#htNMtv .htmtvSlider .panel{width:530px;}
#htNMtv .sldrBx{float:left;width:168px;padding-left:5px;height:160px;}
#htNMtv .sldrBx .thmb{ background: #FFFFFF;border: 1px solid #C4C4C4; height: 96px; margin: 0; padding: 0; position: relative; width: 167px; border-radius: 3px;
-moz-border-radius: 3px;}
#htNMtv .sldrBx .thmb a {background: #000000;float: left;height: 90px;  margin: 3px;overflow: hidden; padding: 0; position: relative;  width: 160px;}
#htNMtv .sldrBx .txt{padding:8px;}
#htNMtv .sldrBx .txt a{font:bold 12px/18px arial;color:#333;}
#htNMtv .sldrBx .txt a:hover{color:#0072bc;}
#htNMtv .bx-wrapper{float:left;}
#htNMtv .bx-next, #htNMtv .bx-prev{background:url("http://im.active18.com/images/in_sprite1.png") no-repeat -62px 0;  height: 24px; width: 32px; font-size:0; 
display:inline-block; position:absolute; top:-61px; right:-285px}
#htNMtv .bx-prev{background-position: -30px 0; top:-61px; right:-253px; }
.disN{display:none}

#home_horoscope .frame_detail a:hover h1, #home_horoscope a:hover p{ color:#0072bc !important;}
#home_horoscope .bx-next, #home_horoscope .bx-prev {background: url("http://im.active18.com/images/in_sprite1.png") no-repeat -62px 0; display: inline-block; font-size: 0; height: 24px; position: absolute; right: 0px; top: 0px; width: 32px;}
#home_horoscope .bx-prev {background-position: -30px 0; right: 32px; top: 0px;}