/* module style for all section */
/* float commented this page only  otherwise ".block_right300" this class fine and working on all pages */
/* ====== celeberities ===================*/

.block_right300 {
	margin:0;
	padding:0;
	width:300px;
	float:right;
}

.block_module300 {
	margin:0;
	padding:0;
	width:300px;
	/*float:right;*/
}

.mdtweet_user {
    float: left;
    width: 80px;
}

.mdtweet_user_detail {
	margin:0 0 0 5px;
	float:left;
	width:170px;
}

.mdtweet_user_detail .title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.mdtweet_user_detail .title2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.mdtweet_user_detail .description {
    color: #5A5957;
    font-size: 11px;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}

.mdtweet_user_detail .description1 {
    color: #5A5957;
    font-size: 11px;
	font-style:italic;
    margin:3px 0 5px 0;
    padding: 0;
}



.md_frame61_block {
	margin:10px 15px;
	padding:0;
	text-align:center;
	position:relative;
}

.md_frame61 {
	margin:10px 0px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:226px;
	height:226px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
}
.md_frame61 .md_photo61 {
	margin:3px;
	padding:0;
	background:#292929;
	width:220px;
	height:220px;
	overflow:hidden;
	float:left;
	
}

.red_right_block h3.mdred {
    margin: 25px 20px;
    padding: 0;
}

.zigzagbox .datamd {
    line-height: 130%;
    padding: 10px 20px;
    text-align: center;
	background: none repeat scroll 0 0 #F4F1EB;
    border-top: 1px solid #FFFFFF;
    display: block;
    height: 1%;
    margin: 0;
    overflow: hidden;
}

.zigzagbox .datamd .rating_small1 {
    float: left;
    margin: 5px 0 5px 65px;
}


.play_btn.btnplacemd {
    top: 40% !important;
    left: 40% !important;
    position: absolute;
    z-index: 1;
}

.md_white_right_block1 {
    padding: 0 15px;
    width: 268px;
  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    margin: 0;
}

.more_games_block_md {
    float: left;
    margin: 0;
    padding: 0 0 20px;
    position: relative;
    width: 270px;
    z-index: 0;
}

.more_games_block_md .mdframe24 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    float: left;
    height: 73px;
	position:relative;
    margin: 0;
    padding: 0;
    width: 126px;
}

.more_games_block_md .mdframe24 .mdphoto24 {
    background: none repeat scroll 0 0 #292929;
    float: left;
    height: 67px;
    margin: 3px;
    overflow: hidden;
    padding: 0;
    width: 120px;
}

.more_games_block_md .video_frame_small_detail {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 130px;
}

.more_games_block_md .video_frame_small_detail .title {
	font-weight:bold;
	padding:5px 0 0 0;
}

.more_games_block_md .video_frame_small_detail .info, .tvcolum_frame_block .info {
    color: #999999;
    font-size: 11px;
    font-style: italic;
}


.more_games_block_md .mdframe24 .play1 {
	bottom:5px;
	left:5px;
	z-index:1;
}

.more_games_block_md .g-strip {
    background: url("../images/Btime_tag.png") no-repeat scroll left top transparent;
    height: 19px;
    position: absolute;
    right: -3px;
    top: 50px;
    width: 57px;
    z-index: 9;
}

.more_games_block_md .g-strip .text {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 3px 5px 0;
    text-align: left;
}


/* */ 

.mdframe24 .play1{
	background-position: -223px 0;
	margin:0;
	padding:0;
	width:29px;
	height:29px;
	position:absolute;
	bottom:0;
	left:3px;
	text-indent:-9999px;
	cursor:pointer;
	font-size:1px;
	z-index:1;
}


/*============================ devotional section style sheet =========================== */

.md_frame61_block_dv {
	margin:10px 11px;
	padding:0;
	text-align:center;
	position:relative;
}

.md_frame8463_block_dv {
	margin:10px 0px;
	padding:0;
	text-align:center;
	float:left;
	width:50%;
}

.md_frame8463_dv {
	margin:10px 17px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:90px;
	height:69px;
	float:left;
	position:relative;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
}
.md_frame8463_dv .md_photo8463 {
	margin:3px;
	padding:0;
	background:#292929;
	width:84px;
	height:63px;
	overflow:hidden;
	float:left;
	
}

.md_frame8463_block_dv .description1 {
    color: #5A5957;
    font-size: 11px;
	font-style:italic;
    margin:3px 0 5px 0;
    padding: 0;
}

/* for bhatwatgeena - ebook */

.md_frame168236_block_dv {
	margin:10px 15px;
	padding:0;
	text-align:center;
	position:relative;
}


.md_frame168236_dv {
	margin:10px 22px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:174px;
	height:242px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
}
.md_frame168236_dv .md_photo168236 {
	margin:3px;
	padding:0;
	background:#292929;
	width:168px;
	height:236px;
	overflow:hidden;
	float:left;
	
}

.md_video_bar_dv {
    background: url(../images/module_music150.png) no-repeat left top;
    float: left;
    margin: 15px 0 5px 25px;
    height: 143px;
    padding: 0;
    width: 170px;
}

.md_video_bar_dv .video_bar_scroll_thumb_dv {
    background: none repeat scroll 0 0 #292929;
    display: block;
    float: left;
    height: 139px;
    margin: 0 0 0 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 140px;
}


.movie_scroll_mddv {
    /*float: left;*/
    padding: 0 0 20px 0;
    text-align: center;
    width: 115px;
	position:relative;
}

.movie_scroll_box86122 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    float: left;
    height: 128px;
    margin:10px 12px;
    padding: 0;
    width:92px;
}

.movie_scroll_box86122 .movie_scroll_thumb86122 {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height:122px;
    margin:3px;
    overflow:hidden;
    padding:0;
    position:relative;
    width:86px;
}

.mdtweet_user_detail_dv {
	margin:0;
	float:left;
	width:125px;
}

.mdtweet_user_detail_dv .description1 {
    color: #5A5957;
    font-size: 11px;
	font-style:italic;
    margin:3px 0 5px 0;
    padding: 0;
}

.tweet_row_mddv{
   /* border-bottom: 1px dashed #E5E5E5;*/
    float: left;
    margin:0;
    padding: 0 0 10px;
}


/* ================ games section block =============== */

.mdtweet_user_gm {
    float: left;
    width: 102px;
}


.md_frame8463_gm {
	margin:0px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:90px;
	height:69px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
}
.md_frame8463_gm .md_photo8463 {
	margin:3px;
	padding:0;
	background:#292929;
	width:84px;
	height:63px;
	overflow:hidden;
	float:left;
	
}

.mdtweet_user_detail_gm {
	margin:0 0 0 5px;
	float:left;
	width:150px;
}

.mdtweet_user_detail_gm .title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.mdtweet_user_detail_gm .title2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.mdtweet_user_detail_gm .description {
    color: #5A5957;
    font-size: 11px;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}



/* ================================ Download page css ================================ */

.md_frame16_block {
	margin:10px 15px;
	padding:0;
	text-align:center;
	position:relative;
}


.md_frame16_block .frame16 {
	margin:10px 36px;
}

.md_paddingLR10 {
    padding: 0 20px 20px 20px !important;
	width: 258px;
}


.md_paddingLR10 .play_btn.video_bar_play {
    top: 45%;
    left: 40%;
    position: absolute;
    z-index: 1;
}

.paddingL50 {
    padding-left:50px !important;
}


.md_frame61_block_dv .top_sms {
    margin:0;
    position: relative;
    width: 222px;
}
.md_frame61_block_dv .top_10_block {
    float: left;
    margin:15px 20px;
    padding: 0;
}


.md_frame8484_block_dw {
	margin:0 0 10px 0;
	padding:0;
	float:left;
}

.md_frame8484_dw {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:90px;
	height:90px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
}
.md_frame8484_dw .md_photo8484 {
	margin:3px;
	padding:0;
	background:#292929;
	width:84px;
	height:84px;
	overflow:hidden;
	float:left;
	
}

.md_frame8484_block_dw .video_frame_small_detail {
    float: left;
    margin: 0;
    padding: 0 0 0 15px;
    width: 160px;
}

.md_frame8484_block_dw .video_frame_small_detail .title {
    font-weight: bold;
    padding: 5px 0 0;
}

.md_frame8484_block_dw .video_frame_small_detail  .info {
    color: #999999;
    font-size: 11px;
    font-style: italic;
}


.dw_music_content {
    float: left;
    margin: 0;
    padding:0px;
}

.dw_music_content_row {
    border-bottom:1px dashed #cccccc;
    float: left;
	line-height:20px;
    margin:0;
    padding: 7px 0 10px;
    width: 270px;
}


/* ========================== Module for News section ===========================*/


.md_frame61_block_news {
    margin: 10px 4px;
    padding: 0;
    position: relative;
    text-align: center;
}


.md_white_right_block_Ne {
    padding: 0 15px;
    width: 268px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    margin: 0;
}
.md_more_video_block_Ne {
    border-bottom: 1px dashed #999999;
    float: left;
    margin: 0;
    padding: 20px 0;
    width: 270px;
}
.md_more_video_block_Ne .info {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    margin: 0 0 2px;
    padding: 0;
}

.md_more_video_block_Ne .title {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}

.md_more_video_block_Ne .description {
    color: #999999;
    font-size: 12px;
    margin: 0 0 2px;
    padding: 0;
}


/* ========================== Music section style ========================= */



.md_frame168236_block_mu {
	margin:10px 15px;
	padding:0;
	text-align:center;
	position:relative;
}
.md_frame168236_block_mu .description {
    color: #5A5957;
    font-size: 11px;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}


.md_frame168236_block_mu .description2 {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}

.md_frame168236_block_mu .album_details
{
	text-align:left !important;
	margin:5px 0 5px 30px;
	padding:0px;
	}



.md_music_playlist {
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 0;
    width: 264px;
}

.md_music_playlist ul {
    background: url("../images/grad.gif") repeat scroll 0 0 transparent;
    border: 1px solid #D0CFCD;
    cursor: pointer;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.md_music_playlist ul li {
    display: block;
    height: 30px;
    position: relative;
}

.md_music_playlist ul li .playbtn {
    float: left;
    height: 35px;
    left: -11px;
    position: absolute;
    top: 0;
    width: 46px;
    z-index: 1;
}

.md_music_list_detail1 {
    width: 100px;
	float:left !important;
	padding:8px 0 2px 5px;
	font-weight:bold;
	overflow:hidden;
}

.md_music_list_detail1, .md_music_list_detail2{
    border-right: 0px solid #EAEAEA;
    color: #333333;
    position: relative;
}
.md_music_list_detail2 {width:100px;  padding:8px 0 2px 5px; height:20px; float:left !important; color: #0072BC; overflow:hidden; font-weight:bold;}


.md_music_playlist ul{list-style:none; margin:0; padding:0; background:url(../images/grad.gif); border:1px solid #D0CFCD; cursor:pointer;}
.md_music_playlist ul li{display:block; height:30px; position:relative;}
.md_music_playlist ul li:hover, .playlist1 ul.my_playlists a:hover{background:#d53225;}
.md_music_playlist ul li .playbtn{float:left; width:46px; height:35px; position:absolute; left:-11px; top:0; z-index:1;}
.md_music_playlist ul li:hover .playbtn{background:url(../images/in_sprite1.png) no-repeat  -782px -27px;}
.md_music_playlist ul li:hover .playbtn:hover{background:url(../images/in_sprite1.png) no-repeat  -832px -27px;}
.md_music_list_num, .music_list_detail1, .music_list_detail2, .music_list_detail3, .music_list_detail4{float:left; padding:8px 0 0 15px;  height:22px; font-weight:bold; position:relative; }
.md_music_playlist ul li:hover .music_list_num, .md_music_playlist ul li:hover .list_checkbox, .md_music_playlist ul li:hover .md_music_list_detail1, .md_music_playlist ul li:hover .md_music_list_detail2{color:#ffffff !important;}

.md_music_playlist ul li .btn_add_list{background:url(../images/in_sprite1.png) no-repeat  -254px 0;}

.md_music_playlist ul#playlist_item li.ui-sortable-helper .btn_add_list{
	display:none;
}

.md_music_playlist ul li:hover .btn_add_list{position:absolute; left:238px;  height: 18px; width:18px; top:5px;}
.md_music_playlist ul li:hover .btn_add_list{background:url(../images/in_sprite1.png) no-repeat  -254px 0}
.md_music_playlist ul li:hover .btn_add_list:hover{background:url(../images/in_sprite1.png) no-repeat  -254px -18px}
.md_music_playlist ul ul, .md_music_playlist ul ul li, #musicPlaylist .md_music_playlist ul ul, .md_music_playlist ul ul li:hover ul.my_playlists li:hover{background:none; height:inherit; border:none}



.md_frame150_mu {
	margin:10px 30px 0px 30px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:156px;
	height:156px;
	float:left;
	border-radius:3px;
}
.md_frame150_mu .md_photo150 {
	margin:3px;
	padding:0;
	background:#000;
	width:150px;
	height:150px;
	overflow:hidden;
	float:left;
}


.md_tweet_row_mu{
   /* border-bottom: 1px dashed #E5E5E5;*/
    float: left;
    margin:0;
    padding:0 0 20px 0;
}


.md_play_scroll_small_mu {
    float: left;
    margin:0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 90px;
}

.md_play_scroll_small_mu .scroll_thumb_bg{
	background-position: -710px -247px;
	width:90px;
	height:73px;
	float:left;
}
.md_play_scroll_small_mu .scroll_thumb {
	margin:0 0 0 9px;
	*margin:0;
	padding:0;
	background:#292929;
	width:70px;
	height:70px;
	overflow:hidden;
	position:relative;
	display:block;
}
.md_play_scroll_small_mu .shine_block70 {
	background-position: -806px -247px;
	margin:0;
	padding:0;
	width:70px;
	height:70px;
	position:absolute;
	top:0;
	left:0;
	text-indent:-9999px;
	font-size:1px;
}

.mdtweet_user_detail_mu {
	margin:0 0 0 5px;
	float:left;
	width:161px;
}

.mdtweet_user_detail_mu .title2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.mdtweet_user_detail_mu .play1 {
    background-position: -223px 0;
    cursor: pointer;
    font-size: 1px;
    height: 29px;
    margin: 0 10px 0 0;
    padding: 0;
    text-indent: -9999px;
    width: 29px;
	float:left;
	display:block;
}

.mdtweet_user_detail_mu .play1:hover {
	background-position: -223px -29px;
}
.h3_title {
	margin:0;
	padding:0;
	width:150px;
	float:left;
}
.h3small {
	margin:15px 0 0px 0 !important;
	font-size:12px;
	line-height:12px;
	color:#D53225;
}
.h3big {
	margin:0 0 15px 0 !important;
	font-family:'anton-webfont';
	font-size:21px;
	line-height:21px;
}
.mix_row {
    border-bottom: 1px dashed #CCCCCC;
    float: left;
    margin:10px 0 0 0;
    padding:0 0 5px 0;
    width: 270px;
}
.mix_row_image {
	margin:0 10px 0 0;
	padding:0;
	width:50px;
	float:left;
}
.mix_row_detail {
	margin:0;
	padding:0;
	width:210px;
	float:left;
}
.mix_row .title {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin:0;
    padding: 0;
}
.mix_row .description {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    margin:0;
    padding: 0;
}


/* ================ TV RHS ========================== */


.md_rating_center {
	margin:0 auto; 
	position:relative; 
	width:54%;
	overflow:hidden; 
	clear:both;
}

.white_right_block1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    margin: 0;
    padding: 0 15px;
    width: 268px;
}

.md_frame136_tv {
	margin:0 auto;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:142px;
	height:199px;
	position:relative;
	/*float:left;*/
	border-radius:3px;
}
.md_frame136_tv  .md_photo136 {
	margin:3px;
	padding:0;
	background:#000;
	width:136px;
	height:193px;
	overflow:hidden;
	float:left;
}


.md_frame120_block_dv {
	margin:10px 0px;
	padding:0;
	text-align:center;
	position:relative;
	width:260px;
}

.md_frame120_tv {
	margin:10px 67px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:126px;
	height:171px;
	border-radius:3px;
	float:left;
}
.md_frame120_tv  .md_photo120 {
	margin:3px;
	padding:0;
	background:#000;
	width:120px;
	height:165px;
	overflow:hidden;
	float:left;
}

.md_tvcolum_frame_block {
    float: left;
    margin:10px 0px;
	*margin:10px 0px;
    padding: 0 3px;
	*padding: 0 0;
    text-align: center;
	width:125px;
}