/*.display_content .spacer5{
	padding:15px;
}*/

.height290 {
	height:287px;
	_height:290px;
}


.grey_block_full{
	width:auto;
	background:#FAFAFA;
	border:1px solid #dedbd6;
}

.grey_block_full .view_all_video {
    margin: 0 auto;
    padding: 15px 0;
    width: 25%;
}


.grey_normal_text {
	padding:5px 0 0 5px;
	font-size:12px;
	color:#999;
	font-style:italic;
}

.height370 {
	height:370px;
}

.tab_frame_cont_movie {
	margin:15px 0 0 20px;
	padding:0;
	float:left;
	width:260px;
}

.movie_poster {
	position:relative;
	padding:0px;
	margin-top:10px;
	width:230px;
	float:left;
	height:330px;
}

.tap_up{
	background:url(../images/movies/tap_up.png) no-repeat;
	position:absolute;
	z-index:99;
	width:32px;
	height:38px;
	left:-12px;
	top:-12px;
	}
	
.tap_down{
	background:url(../images/movies/tap_down.png) no-repeat;
	position:absolute;
	z-index:99;
	width:32px;
	height:38px;
	right:-11px;
	bottom:-11px;
	}
	
.reference_arrow{
	background: url(../images/movies/tap_arrow.png) no-repeat;
	position:absolute;
	z-index:99;
	width:32px;
	height:38px;
	right:-38px;
	top:-7px;
	}	

.dashedM{
	/*margin:0px 0;*/
	border-top:1px dashed #827b60;
}

.tab_frame_cont_movie .movie_review {
	padding:20px 0px;
	}
	
.tab_frame_cont_movie .movie_review .title {
	font-size:16px;
	color:#fff;
	font-style:italic;
	padding:5px 0px;
	margin:0px 0px 5px 0px;
	}
	
.tab_frame_cont_movie .movie_review .description {
	font-size:11px;
	line-height:120%;
	color:#eddfa8;
	/*font-style:italic;	*/
	margin:0px;
	padding-bottom:10px;
	}
	
/*slider tab section */

.slidertab{
	background:#FFFFFF;
    border: 1px solid #DEDBD6;
	border-top:none;
    float: left;
	width:545px;
	height:189px;
	}
	
a.tab5_big{
    float: left;
    height: 189px;
    width: 106px;
	text-align:center;
	position:relative;
}

a .tab5_big_tab{
    background:#FFFFFF;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 189px;
    margin: 0;
    padding: 0;
    width: 106px;
}

a:hover .tab5_big_tab, a.active .tab5_big_tab {
    background: none repeat scroll 0 0 #D53225;
    /*border-left: 1px solid #95231A;*/
    color: #FFFFFF;
}	

a .tab5_big_top {
    background-image: url("../images/top_arrow106.png");
    background-position: 0 0 !important;
    background-repeat: no-repeat;
    display: none;
    height: 10px;
    left: 0;
    position: absolute;
    top: -6px;
    width: 106px;
    z-index: 1;
}

a:hover .tab5_big_top, a.active .tab5_big_top {
	background-image: url("../images/top_arrow106.png");
    background-position: 0 0 !important;
    display: block;
	z-index: 99;
}

a .tab5_big_thumb {
	background:#333;
	height:123px;
	width:86px;
	margin:10px;
	float:left;
}

a .tab5_big_thumb img {
	height:123px;
	width:86px;
}


a:hover .tab5_big_thumb, a.active .tab5_big_thumb {
	background:#333;
	height:121px;
	width:86px;
	margin:10px;
	float:left;
}

ul.blue_right
{
	list-style-type:none;
	display:block;
	margin:0px;
	padding:0px;
	}

ul.blue_right li
	{
	line-height:30px;
	font-size:12px;
	border-bottom:dashed 1px #cccccc;
	}

.movie_frame19 {
	margin:0 7px 0 0;
	padding:0;
	width:190px;
	float:left;
	text-align:center;
	position:relative;
}

.movie_frame19 .title {
	margin:10px 0 5px 0;
	padding:0;
	font-size:14px;
	color:#000;
	font-weight:bold;
	clear:both;
}
.movie_frame19 .normal{
	margin:5px 0;
	padding:0;
	font-size:12px;
	line-height:20px;
	color:#666;
}

.movie_frame19 .description {
	margin:5px 0;
	font-size:11px;
	color:#c1c1c1;
	font-style:italic;
}

.movie_frame19 .rat_margin {
	padding-left:50px !important;
	/*_margin-left:25px !important;*/
	margin-top:0px;
}

.frame19 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:186px;
	height:263px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.frame19 .photo19 {
	margin:3px;
	padding:0;
	background:#000;
	width:180px;
	height:257px;
	overflow:hidden;
	float:left;
	position:relative;
}

.margin_left10 {
	margin-left:10px !important;
}

.margin_right10 {
	margin-right:10px !important;
}


.wallpaper_frame20 {
	margin:0 4px;
	padding:0;
	width:127px;
	float:left;
	text-align:center;
	position:relative;
}

.wallpaper_frame20 .title {
	margin:10px 0 5px 0;
	padding:0;
	font-size:12px;
	color:#222;
	font-weight:bold;
	clear:both;
}
.wallpaper_frame20 .description {
	margin:5px 0;
	font-size:11px;
	color:#999;
	font-style:italic;
}

.frame20 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:127px;
	height:100px;
	float:left;
	border-radius:3px;
	position:relative;
}
.frame20 .photo20 {
	margin:3px;
	padding:0;
	background:#000;
	width:121px;
	height:94px;
	overflow:hidden;
	float:left;
	position:relative;
}

/*movie self & librury section */

.movie_bar_main {
	margin:0;
	padding:0;
	width:860px;
	height:285px;
	float:left;
}
.movie_bar {
	background:url(../images/movies/movie_self.png) no-repeat top left;	
	margin:0;
	padding:0;
	width:860px;
	height:225px;
	float:left;
}

.movie_bar_scroll.first {
    margin-left:44px;
   }

.movie_bar_scroll {
    float: left;
    margin: 3px 16px 0 0;
    padding: 0;
    position: relative;
    width: 144px;
}

.movie_bar_scroll_thumb {
    background: none repeat scroll 0 0 #292929;
    display: block;
    float: left;
    height: 194px;
    /*margin: 3px 0 0 44px;*/
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 136px;
}

.movie_bar_detail {
    /*margin: 10px 0 20px 44px;*/
    padding: 0;
    text-align: center;
    width: 140px;
}

.movie_bar_detail .title {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 30px 0 0 0;
}

.movie_bar_detail .description {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    margin: 5px 0;
    padding: 0;
}


.movie_scroll{
	text-align:center;
	float:left;
	padding: 0px 21px 20px;
	width:130px;
	}
	
.movie_scroll_box{
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #c4c4c4;
	width:125px;
	/*height:176px;*/
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
	}
	
.movie_scroll_box .movie_scroll_thumb{
	margin:3px;
	padding:0;
	background:#000;
	width:119px;
	height:170px;
	overflow: hidden;
	float:left;
	position:relative;
	}
	
.movie_scroll .title {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 10px 0 0;
}
.movie_scroll .rating_small  {
    margin:0px !important;
 }
 
 /* movies details page */ 

#movie_details{
	/*margin:0px;
	padding:0px;*/
	} 
	
#movie_details .frame3_block {
	height:190px;
	} 
	
#movie_details .frame3_block p.description {
	margin:0;
	padding:10px 0px 0 0;

	} 

#movie_details .frame3_block p {
	margin:0;
	padding:5px 0px;
	} 		
		
 .movies_artist {
    float: left;
    margin: 0 auto;
    height: 309px;
    position: relative;
    width: 528px;
}

 .movies_artist .btn_trailer {
	 background:url(../images/movies/btn_trellor.png) no-repeat left top;
	 width:265px;
	 height:64px;
	 position:absolute;
	 left:-10px;
	 top:200px;
	 z-index:1;
	 cursor:pointer;
}

 .movies_artist .btn_trailer .movie_bar_play {
    top:10px;
    left: 22px;
    position: absolute;
    z-index: 2;
	float:left;
}

.movies_artist .btn_trailer .title_font {
	line-height:25px;
	padding:20px 0px 0px 100px;
	text-transform:uppercase;
	text-shadow: 1px 1px 1px #333; 
  }
 
 
.block_movie_details {
	margin:0;
	/*padding:10px;*/
	background: url(../images/movies/movie_detail_bg.png) repeat-x top #fff;
	border:1px solid #DEDBD6 ;
	width:548px;
	float:left;
	min-height:330px;
} 

.block_movie_details .movie_poster {
	float:left;
	width:201px;
	padding:0;
	position:relative;
	text-align:center;
}


.block_movie_details .movie_posterL {
	float:left;
	width:173px;
	margin:15px 0 0 15px;
	_margin:15px 0 0 12px;
	/*padding:10px 0 0 0;*/
	position:relative;
}

.block_movie_details .movie_posterR{
	float:right;
	width:340px;
	padding:15px 0 0 0;
	min-height:250px;
	position:relative;
}
 
 
.block_movie_details .movie_posterR .m_data{
	float:left;
	width:323px;
}

.block_movie_details .movie_posterR .blackzigzag{
	position: absolute;
	height:82px;
	width:12px;
	z-index:1;
	right:0;
	top:100px;
	background:url(../images/movies/black_strip_zigzag.png) repeat-y top left;
}
 
 
#movie_details .block_movie_details .frame14 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:173px;
	height:245px;
	float:left;
	border-radius:3px;
}
#movie_details .block_movie_details .frame14 .photo14 {
	margin:3px;
	padding:0;
	background:#000;
	width:167px;
	height:239px;
	overflow:hidden;
	float:left;
	
}

#movie_details .black_font {
	color:#333 !important;
}

#movie_details .album_block1 {
	padding:10px 20px 0 0;
	margin:0px 20px 0 0 !important;
	width:120px;
	border-right: 1px dashed #c8c8c8;
}

#movie_details .block_movie_details .rating_strip {
	padding:25px 0 0 0 !important; 
}


#movie_details .block_movie_details h3{
	padding:30px 3px 0px 0px;
	margin-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#333;
}

#movie_details .block_movie_details p.details{
	padding:10px 0px;
	color:#666;
	margin:0px;
}


#movie_details .white_block_nomargin {
	background:#FFF;
	border:1px solid #dedbd6;
	float:left;
	width:548px;
}


#movie_details .tab_small {
	margin:20px 0 0 0;
}


#movie_details .row {
	margin:0px;
	padding:15px 15px 10px 15px;
	float:left;
	background:#fff;
	border-bottom:1px solid #f5f5f5;
}

#movie_details .row_alt {
	margin:0px;
	padding:15px 15px 10px 15px;
	float:left;
	background:#fcfcfc;
	border-bottom:1px solid #f5f5f5;
}

#movie_details .row .ratedby, #movie_details .row_alt .ratedby {
	/*margin:20px 0 0 0;*/
	float:left;
	width: 143px;
}

#movie_details .row_data {
	margin:0 0 0 10px;
	width:363px;
	float:left;
}
#movie_details .row .ratedby .title, #movie_details .row_alt .ratedby .title {
	margin:5px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	float:left;
	width:inherit;
	word-wrap:break-word;
}

#movie_details .row .row_data .title, #movie_details .row_alt .row_data .title  {
	margin:5px 0;
	padding:0;
	font-style:italic;
	font-size:16px;
	font-weight: normal;
}

#movie_details .row_data .description {
	margin:0;
	padding:10px 0px;
	color:#333;
}
#movie_details .row_data .info {
	margin:5px 0 0 0;
	padding:0;
	font-style:italic;
	color:#999;
}

#movie_details .row_data .read_artical, #tv .read_artical {
	background:url(../images/movies/icon_zoom.png) no-repeat left top;
	float:left;
	width:13px;
	height:13px;
	padding:5px 5px 0px 5px;
}

#movie_details .row_data .alert_spoilers {
	background:url(../images/movies/icon_alert.png) no-repeat left top;
	float:left;
	width:18px;
	height:17px;
	padding:5px 5px 0px 5px;
}

#movie_details .row_data .post {
	margin:1px 4px 0 4px;
	padding:0;
	width:14px;
	height:11px;
	background-position: -255px -53px;
	float:none;
	display:inline-block;
}

/*  Movies songs section */


#movie_details  .block_music_album {
	margin:0;
	padding:10px;
	background:#FFF;
	border:1px solid #DEDBD6 ;
	width:528px;
	float:left;
}

#movie_details  .block_music_album_song {
	margin:0;
	padding:5px 0px 10px 0px ;
	border:none;
	float:left;
	/*width: 510px;*/
}

#movie_details .tab_frame_content {
	margin:0 0;
	padding:0;
	width:360px;
	float:left;
}
#movie_details .tab_frame_content h3 {
	margin:0;
	padding:0;
	font-size:12px;
	color:#ded4c0;
}
#movie_details .tab_frame_content h1 {
	margin:0px !important;
	line-height:35px !important;
	padding-bottom:5px;
}
#movie_details .tab_frame_content h1 a{color:#222;}
#movie_details .tab_frame_content h1 a:hover{color:#0072BC ;}



/* ========================== movies news section =========== */

#movie_details .width120 {
	width:120px;
	text-align:left;
}

#movie_details .frame17_block {
	/*margin:0 0 25px 0;*/
	padding:0 0 20px 0px;
	margin:0 !important;
	width:260px;
	overflow:hidden;
	clear:both;
}
#movie_details  .frame17_block .description {
	margin:0px 5px;
	font-size:11px;
	font-style:italic;
	color:#999;
}
#movie_details  .frame17_block .description1 {
	margin:0 0 0 3px;
	font-size:11px;
	font-style:italic;
	color:#999;
	float:left;
}

#movie_details  .frame17_block p {
    line-height: 12px;
}

#movie_details  .frame17_block .title {
	padding:10px 0 5px 0;
	margin:0;
	font-size:12px;
	color:#000;
	font-weight:bold;
	clear:both;
}

/* ====================== movies cast & crew section style */ 

#movie_details  .margin17 {
	margin-right:17px !important;
	_margin-right:12px !important;
	padding:0;
}

#movie_details  .frame100_block
{
	margin:0 5px 20px 5px;
	padding:0;
	width:106px;
	float:left;
	text-align:center;
	position:relative;
	}
	
#movie_details  .frame100_block .title
{
	padding:10px 0 5px 0;
	margin:0;
	font-size:12px;
	color:#000;
	font-weight:bold;
	}	

#movie_details  .frame100_block .description
{
	margin:0 0 0 3px;
	font-size:11px;
	font-style:italic;
	color:#999;
	}
.movie_rating_strip {
	height:110px;
}
.movie_rating_strip .title1 {
	color: #EDDFA8;
    font-size: 14px;
    font-style: italic;
}
.movie_rating_strip .title2 {
	margin-top:-5px;
	color: #EDDFA8;
    font-size: 11px;
    font-style: italic;
	float:left;
}
.movie_summary {
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:bold;
}
.movie_title {
	margin:10px 0 0 0;
}
.row1 {
	margin:20px 0 0 0;
	float:left;
}
.row_data1 {
	margin:0 0 0 10px;
	width:350px;
	float:left;
}
.row_data1 .title {
	margin:5px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
}
.row_data1 .description {
	margin:0;
	padding:0;
	color:#666;
}
.row_data1 .info {
	margin:5px 0 0 0;
	padding:0;
	font-style:italic;
	color:#999;
}
.row_data1 .post {
	margin:1px 4px 0 4px;
	padding:0;
	width:14px;
	height:11px;
	background-position: -255px -53px;
	float:none;
	display:inline-block;
}
h1.mov {
	line-height:40px;	
}
.mov_title {
	padding:0;
	font-family:'anton-webfont';
	font-size:40px;
	color:#222;
}
.mov_year {
	margin:20px 0 0 10px;
	padding:0;
	font-family:'oswald-webfont';
	font-size:14px;
	color:#666;
}
#movie_details .user_rated .rating .rating_big {
	margin:0 !important;
}
#movies_section .frame14 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:226px;
	height:320px;
	float:left;
	border-radius:3px;
}
#movies_section .frame14 .photo14 {
	margin:3px;
	padding:0;
	background:#000;
	width:220px;
	height:314px;
	overflow:hidden;
	float:left;
	
}
.movie_poster .book_tickets_btn {
	margin:5px 0 0 50px;
}
.movie_posterR .movie_rating_strip {
	float:left;
}
.movie_posterR .write_review_btn {
	margin:42px 5px 0 0;
	float:right;
}
.book_ticket_block {
	width:548px;
}
.book_ticket_block h3 {
	margin-left:20px;
}
.book_ticket_block .dropdown {
	margin-right:20px;
}
.ticket_row1 {
	margin:0;
	padding:10px 20px;
	border-top:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5;
	background:#fcfcfc;
	float:left;
	width:508px;
	font-weight:bold;
}
.ticket_row2 {
	margin:0;
	padding:20px 20px 30px 15px;
	width:508px;
	float:left;
}
.ticket_row2 ul {
	margin:0;
	padding:0;
	list-style:none;
}
.ticket_row2 ul li {
	margin:0;
	padding:0 5px;
	border-right:1px solid #999;
	font-size:11px;
	font-style:italic;
	color:#999;
	float:left;
}
.ticket_row2 ul li.last {
	border:none;
}


#movies_section .frame14 {box-shadow: none !important;}
