.white_block_mypage {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDBD6;
    float: left;
    margin:0;
    padding:20px;
	width:630px;
	min-height:135px;
}
.gray_block_mypage {
    background:#fafafa;
    border-top: 1px solid #DEDBD6;
	border-right: 1px solid #DEDBD6;
	border-bottom: 1px solid #DEDBD6;
	border-left:none;
    float: left;
    margin:0;
    padding:20px;
	width:147px;
	min-height:138px;
}
.mypage_frame110_110 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:116px;
	height:116px;
	float:left;
	border-radius:3px;
	position:relative;
	box-shadow:0 1px 1px #CCC;
}
.mypage_frame110_110 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:110px;
	height:110px;
	overflow:hidden;
	float:left;
}
.mypage_frame119_165 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:125px;
	height:171px;
	float:left;
	border-radius:3px;
	position:relative;
	box-shadow:0 1px 1px #d2be9b;
}
.mypage_frame119_165 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:119px;
	height:165px;
	overflow:hidden;
	float:left;
}
.mypage_frame100_100 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:106px;
	height:106px;
	float:left;
	border-radius:3px;
	position:relative;
	box-shadow:0 1px 1px #CCC;
}
.mypage_frame100_100 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:100px;
	height:100px;
	overflow:hidden;
	float:left;
}
.mypage_frame125_71 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:131px;
	height:77px;
	float:left;
	border-radius:3px;
	position:relative;
	box-shadow:0 1px 1px #CCC;
}
.mypage_frame125_71 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:125px;
	height:71px;
	overflow:hidden;
	float:left;
}
.mypage_frame116_86 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:122px;
	height:92px;
	float:left;
	border-radius:3px;
	position:relative;
	box-shadow:0 1px 1px #CCC;
}
.mypage_frame116_86 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:116px;
	height:86px;
	overflow:hidden;
	float:left;
}
.mypage_frame75_75 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:81px;
	height:81px;
	float:left;
	border-radius:3px;
	position:relative;
	box-shadow:0 1px 1px #CCC;
}
.mypage_frame75_75 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:75px;
	height:75px;
	overflow:hidden;
	float:left;
}
.mypage_frame128_96 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:134px;
	height:102px;
	float:left;
	border-radius:3px;
	position:relative;
	box-shadow:0 1px 1px #d2be9b;
}
.mypage_frame128_96 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:128px;
	height:96px;
	overflow:hidden;
	float:left;
}
.mypage_frame72_72 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:78px;
	height:78px;
	float:left;
	border-radius:3px;
	position:relative;
}
.mypage_frame72_72 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:72px;
	height:72px;
	overflow:hidden;
	float:left;
}
.mypage_profile {
	margin:0;
	padding:0;
	width:120px;
	float:left;
}
.mypage_profile_detail {
	margin:0 0 0 15px;
	padding:0;
	width:490px;
	float:left;
}
.mypage_profile_detail h3 {
	color:#999;
	font-size:12px;
}
.mypage_profile_detail h1, .mypage_profile_detail h1 a {
	font-size:25px;
	line-height:30px;
	color:#333;
}
.mypage_profile_detail h1 a:hover {
	color:#0072BC;
}
.mypage_profile_data .profile_data {
	font-size:20px;
	line-height:20px;
}
.mypage_profile_data .profile_data1 {
	font-size:11px;
	line-height:12px;
	color:#666;
	text-transform:capitalize;
}
.mypage_profile_title {
	margin:0;
	padding:0;
	width:260px;
	float:left;
}
.mypage_profile_data {
	margin:18px 0 0 5px;
	padding:0;
	float:right;
	min-width:60px;
	max-width:70px;
}

.mypage_profile_data2 {
	margin:18px 0 0 5px;
	padding:0;
	float:right;
	min-width:44px;
	max-width:44px;
}

.mypage_profile_data2 .profile_data {
	font-size:20px;
	line-height:20px;
}
.mypage_profile_data2 .profile_data1 {
	font-size:11px;
	line-height:12px;
	color:#666;
	text-transform:capitalize;
}

.mypage_profile_detail hr {
	margin:10px 0 14px 0;
	padding:0;
	border-bottom:1px dashed #cdcdcd;
	border-top:none;
	border-left:none;
	border-right:none;
}
.mypage_profile_photos img {
	margin:0 3px 3px 0;
	padding:0;
	float:left;
}
.bold_black {
	font-weight:bold;
	color:#000;
}
.mypage_user_data {
	margin:20px 0 0 0;
}
.mypage_user_data p, .mypage_user_data img {
	margin:5px 0 0 0;
	float:left;
}
.mypage_user_data img {
	margin:5px 5px 0 0;
}
.see_more_mypage {
	margin:10px 0 0 0;
	font-size:11px;
	font-style:italic;
}
.see_more_mypage a {
	color:#0072BC !important;
}
.see_more_mypage a:hover {
	color:#0072BC;
	text-decoration:underline;
}
.mail_count {
    color: #0072BC;
    font-size: 11px;
    font-style: italic;
    margin:5px 0 0 0;
    padding: 0;
	float:right;
}
.mail_count:hover {
	text-decoration:underline;
}
.mypage_menu_ul {
	margin:15px 0 10px -10px;
	padding:0 0 0 10px;
	width:355px;
	list-style:none;
	float:left;
}
.mypage_menu_ul li, .more_list {
	margin:0;
	padding:0;
	font-family:'oswald-webfont';
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	float:left;
}
.mypage_menu_ul li a {
	margin:0 0 0 0;
	padding:4px 8px;
	color:#333;
	display:inline-block;
}
.mypage_menu_ul li a:hover {
	color:#d53225;
}
.mypage_menu_ul li a.active {
	background:#252525;
	color:#eddfa8;
	border-radius:2px;
	box-shadow:0 1px 2px #666;
	font-size:14px;
	font-weight:normal;
	float:left;
}
.dropdown_mypage {
    margin: 15px 0;
    padding: 0;
    z-index: 10;
}
.global_gallery{
	position:relative;
	float:left;
	margin:0 0px 10px -20px;
}
.global_gallery a.arrowN, .mypage_movie_gallery  a.arrowN, .mypage_album_gallery  a.arrowN, .mypage_artist_gallery  a.arrowN, .mypage_videos_gallery  a.arrowN, .mypage_games_gallery  a.arrowN, .mypage_photos_gallery  a.arrowN, .mypage_channels_gallery  a.arrowN, .mypage_watchlists_gallery  a.arrowN, .mypage_movie_watchlist_gallery  a.arrowN {
	 background-position:-954px -505px;
	 position: absolute;
	 z-index:9;
	 top:25%;
	 right:0px;
	 width:27px;
	 height:54px;
	 cursor:pointer;
}
.mypage_album_gallery  a.arrowN {
	top:12%;
}
.mypage_artist_gallery  a.arrowN {
	top:20%;
}
.mypage_videos_gallery  a.arrowN {
	top:15%;
}
.mypage_photos_gallery  a.arrowN {
	top:15%;
}
.mypage_games_gallery  a.arrowN {
	top:18%;
}
.mypage_channels_gallery  a.arrowN {
	top:15%;
}
.mypage_watchlists_gallery  a.arrowN {
	top:15%;
}
.mypage_movie_watchlist_gallery  a.arrowN {
	top:25%;
}

.global_gallery a.arrowN:hover {
	 background-position:-954px -559px;
}

.global_gallery a.arrowN.active{
	 background-position:-954px -614px;
}

.global_gallery a.arrowN.disable{
	 background-position:-954px -669px;
}

.global_gallery a.arrowB, .mypage_movie_gallery a.arrowB, .mypage_album_gallery  a.arrowB, .mypage_artist_gallery  a.arrowB, .mypage_videos_gallery  a.arrowB, .mypage_games_gallery  a.arrowB, .mypage_photos_gallery  a.arrowB, .mypage_channels_gallery  a.arrowB, .mypage_watchlists_gallery  a.arrowB, .mypage_movie_watchlist_gallery  a.arrowB {
	 background-position:-927px -505px;
	 position: absolute;
	 z-index:9;
	 top:25%;
	 left:0px;
	 width:27px;
	 height:54px;
	cursor:pointer;
}
.mypage_album_gallery  a.arrowB {
	top:12%;
}
.mypage_artist_gallery  a.arrowB {
	top:20%;
}
.mypage_videos_gallery  a.arrowB {
	top:15%;
}
.mypage_photos_gallery  a.arrowB {
	top:15%;
}
.mypage_games_gallery  a.arrowB {
	top:18%;
}
.mypage_channels_gallery  a.arrowB {
	top:15%;
}
.mypage_watchlists_gallery  a.arrowB {
	top:15%;
}
.mypage_movie_watchlist_gallery  a.arrowB {
	top:25%;
}

.global_gallery a.arrowB:hover {
	 background-position:-927px -559px;
}

.global_gallery a.arrowB.active {
	 background-position:-927px -614px;
}

.global_gallery a.arrowB.disable {
	 background-position:-927px -669px;
}
.scrollable_movies {
	/* required settings */
	padding: 10px 0 0;
    position: relative;
    width: 549px;
}
.scrollable_movies .slide_bg {
	margin:165px 0 0 15px;
	background:url(../images/slide_bar.png) left bottom no-repeat;
	float:left;
	width: 524px;
	height:34px;
	position:absolute;
	left:0;
}
.scrollable_movies li {
	margin:0 10px;
	float:left;
	width:125px;
	/*min-height:230px;*/
	list-style:none;
	text-align:center;
}
.scrollable_movies .result_title1 {
    margin-top: 15px;
}
.scrollable_movies .slide_detail {
	margin:-10px 0 0 52px;
	padding:10px 0 0 0;
	width:435px;
	overflow:hidden;
	float:left;
	min-height:220px;
	position:relative;;
}
.scrollable_albums {
	/* required settings */
	padding: 10px 0 0;
    position: relative;
    width: 549px;
}
.scrollable_albums .slide_bg {
	margin:93px 0 0 15px;
	background:url(../images/slide_bar.png) left bottom no-repeat;
	float:left;
	width: 524px;
	height:34px;
	position:absolute;
	left:0;
}
.scrollable_albums li {
	margin:0 1px;
	float:left;
	width:120px;
	min-height:200px;
	list-style:none;
}
.scrollable_albums .slide_detail {
	margin:-10px 0 0 25px;
	padding:10px 0 0 0;
	width:488px;
	overflow:hidden;
	float:left;
	min-height:145px;
	position:relative;
}
.scrollable_albums .play_scroll {
	margin:0;
}
.scrollable_albums .play_scroll .title {
	margin-top:18px;
}
.scrollable_artist {
	/* required settings */
	padding:10px 0 0 0;
	position:relative;
	/*overflow:hidden;*/
	width: 549px;
	/*height:155px;*/
}
.scrollable_artist li {
	margin:0 5px;
	float:left;
	width:110px;
	/*min-height:115px;*/
	list-style:none;
	text-align:center;
}
.scrollable_artist .slide_detail {
	margin:-10px 0 0 35px;
	padding:10px 0 0 0;
	width:480px;
	overflow:hidden;
	float:left;
	min-height:165px;
	position:relative;
}
.scrollable_artist .slide_bg {
	display:none;
}
.scrollable_videos {
	/* required settings */
	padding:10px 0 0 0;
	position:relative;
	/*overflow:hidden;*/
	width: 549px;
	/*height:125px;*/
}
.scrollable_videos li {
	margin:0 11px;
	float:left;
	width:135px;
	/*min-height:125px;*/
	list-style:none;
	text-align:center;
}
.scrollable_videos .result_title1 {
	margin-top:10px;
}
.scrollable_videos .slide_detail {
	margin:-10px 0 0 35px;
	padding:10px 0 0 0;
	width:477px;
	overflow:hidden;
	float:left;
	min-height:135px;
	position:relative;
}
.scrollable_videos .slide_bg {
	display:none;
}
.scrollable_photos {
	/* required settings */
	padding:10px 0 0 0;
	position:relative;
	/*overflow:hidden;*/
	width: 549px;
	/*height:125px;*/
}
.scrollable_photos li {
	margin:0 11px;
	float:left;
	width:135px;
	/*min-height:125px;*/
	list-style:none;
	text-align:center;
}
.scrollable_photos .result_title1 {
	margin-top:10px;
}
.scrollable_photos .slide_detail {
	margin:-10px 0 0 35px;
	padding:10px 0 0 0;
	width:477px;
	overflow:hidden;
	float:left;
	min-height:125px;
	position:relative;
}
.scrollable_photos .slide_bg {
	display:none;
}
.scrollable_games {
	/* required settings */
	padding:10px 0 0 0;
	position:relative;
	/*overflow:hidden;*/
	width: 549px;
	/*height:130px;*/
}
.scrollable_games li {
	margin:0 11px;
	float:left;
	width:135px;
	/*min-height:130px;*/
	list-style:none;
	text-align:center;
}
.scrollable_games .result_title1 {
	margin-top:10px;
}
.scrollable_games .slide_detail {
	margin:-10px 0 0 45px;
	padding:10px 0 0 0;
	width:477px;
	overflow:hidden;
	float:left;
	min-height:150px;
	position:relative;
}
.scrollable_games .slide_bg {
	display:none;
}
.scrollable_watchlists {
	/* required settings */
	padding:10px 0 0 0;
	position:relative;
	/*overflow:hidden;*/
	width: 549px;
	/*height:170px;*/
}
.scrollable_watchlists li {
	margin:0 11px;
	float:left;
	width:135px;
	/*min-height:170px;*/
	list-style:none;
	text-align:center;
}
.scrollable_watchlists .slide_detail {
	margin:-10px 0 0 40px;
	padding:10px 0 0 0;
	width:477px;
	overflow:hidden;
	float:left;
	min-height:180px;
	position:relative;
}
.scrollable_watchlists .slide_bg {
	margin:95px 0 0 15px;
	background:url(../images/slide_bar.png) left bottom no-repeat;
	/*float:left;*/
	width: 524px;
	height:34px;
	position:absolute;
	left:0;
}
.scrollable_watchlists .result_title1 {
	margin-top:15px;
}
.scrollable_channels {
	/* required settings */
	padding:10px 0 0 0;
	position:relative;
	/*overflow:hidden;*/
	width: 549px;
	/*height:155px;*/
}
.scrollable_channels li {
	margin:0 5px;
	float:left;
	width:110px;
	/*min-height:115px;*/
	list-style:none;
}
.scrollable_channels .result_title1 {
	margin-top:8px;
}
.scrollable_channels .slide_detail {
	margin:-10px 0 0 45px;
	padding:10px 0 0 0;
	width:455px;
	overflow:hidden;
	float:left;
	min-height:155px;
	position:relative;
}
.scrollable_channels .slide_bg {
	display:none;
}
.scrollable_movies_watchlists {
	/* required settings */
	padding:10px 0 0 0;
	position:relative;
	/*overflow:hidden;*/
	width: 549px;
	/*height:230px;*/
}
.scrollable_movies_watchlists .slide_bg {
	margin:185px 0 0 15px;
	background:url(../images/slide_bar.png) left bottom no-repeat;
	float:left;
	width: 524px;
	height:34px;
	position:absolute;
	left:0;
}
.scrollable_movies_watchlists li {
	margin:0 10px;
	float:left;
	width:125px;
	/*min-height:230px;*/
	list-style:none;
	text-align:center;
}
.scrollable_movies_watchlists .slide_detail {
	margin:10px 0 0 52px;
	padding:10px 0 0 0;
	width:435px;
	overflow:hidden;
	float:left;
	min-height:245px;
	position:relative;
}
.scrollable_movies_watchlists .result_title1 {
	margin-top:20px;
}
.global_gallery li a:hover .cross_btn, .global_gallery .play_scroll:hover .cross_btn {
	display:block;
}
.items{	
    width: 20000em;
	position:absolute;
}
.cross_btn {
    background: url("../images/btn_close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 25px;
    width: 24px;
	position:absolute;
	top:-10px;
	right:-10px;
	display:none;
	z-index:10;
}
.scrollable_albums .cross_btn {
	right:2px;
}
.scroll_h3 {
	margin:5px 0 5px 0 !important;
	padding:0 !important;
	width:508px;
	text-align:center;
	color:#D53225;
}
.mypage_edit {
	margin:20px 0;
	float:right;
}
.mypage_edit a {
	color:#0072BC !important;
}
.mypage_edit a:hover {
	color:#0072BC !important;
	text-decoration:underline;
}
.scroll_hr {
	margin:10px 0;
}
.remove {
	margin:8px 0 0 8px;
	padding:0;
	background:url(../images/remove.png) 0 0 no-repeat;
	width:11px;
	height:12px;
	float:left;
	display:none;
}
.remove_black {
	margin:8px 0 0 8px;
	padding:0;
	background:url(../images/remove_black.png) 0 0 no-repeat;
	width:11px;
	height:12px;
	float:left;
}
.mypage_playlist .footer_playlist li:hover .remove, .mypage_playlist_songs .footer_playlist li:hover .remove, .mypage_playlist_list .footer_playlist li:hover .remove, .mypage_playlist_burrp .footer_playlist li:hover .remove {
	display:block;
}
.mypage_playlist .music_list_detail2 {
	border:none;
}
.mypage_playlist_songs .music_list_detail3 {
	border:none;
	color:#999;
}
#musicPlaylist.mypage_playlist_songs .search_playlist_small .music_list_detail1 {
	width:245px !important;
}
#musicPlaylist.mypage_playlist_songs .search_playlist_small .btn_add_list {
    left: 270px !important;
}
#musicPlaylist.mypage_playlist_list .search_playlist_small .music_list_detail1 {
	/*width:180px !important;*/
	width:310px !important;
}
#musicPlaylist.mypage_playlist_list .search_playlist_small .music_list_detail2 {
	width:120px !important;
}
#musicPlaylist.mypage_playlist_list .search_playlist_small .btn_add_list {
    /*left: 205px !important;*/
	left:330px !important;
}
#musicPlaylist.mypage_playlist_list .search_playlist_small .music_list_detail3 {
	width:115px !important;
	border:none;
	color:#999;
}
#musicPlaylist.mypage_playlist_burrp .search_playlist_small .music_list_detail1 {
	width:437px !important;
	border:none;
}
.mypage_back {
	margin:15px 0 0 0;
	padding:0;
	float:right;
}
.mypage_burrplist {
	margin:0;
	padding:0;
	float:left;
}
.mypage_burrplist h3 {
	margin:0 !important;
	padding:0 !important;
	color:#D53225;
	line-height:13px;
}
.mypage_burrplist h1 {
	margin:0 !important;
	padding:0 !important;
	font-size:26px;
	color:#333;
	line-height:28px;
}
.mypage_burrplist .result_description {
	margin:2px 0 5px 0;
}
.mypage_burrplist .burrpllist_row .result_description {
	margin:0;
	color:#666;
}
.mypage_burrplist .burrpllist_row .review_count1 {
	color:#666;
}
.burrpllist_row {
	margin:0;
	padding:15px 0;
	border-bottom:1px dashed #cacaca;
	float:left;
}
.burrpllist_row .mypage_frame72_72 {
	float:left;
}
.burrplist_data1 {
	margin:0 0 0 10px;
	padding:0;
	float:left;
	width:250px;
}
.burrplist_data2 {
	margin:15px 0 0 5px;
	padding:0;
	float:left;
	width:150px;
}
.mypage_burrplist .burrplist_data2 .result_description, .burrplist_data2 img {
    float: left;
    margin: 5px 0 0;
}
.burrplist_data2 img {
    margin: 5px 5px 0 0;
}
.burrpllist_row .remove_black {
	margin:20px 0 0 0;
	padding:0;
	float:right;
}
.mypage_playlist_block h1 {
	margin:0;
	padding:0;
	font-size:26px;
	line-height:26px;
	color:#333;
	width:345px;
	float:left;
}
.mypage_list_control {
	margin:0 0 0 5px;
	padding:0;
	float:left;
	width:150px;
}
.mypage_list_control a {
	color:#0072BC !important;
}
.mypage_list_control a:hover {
	color:#0072BC !important;
	text-decoration:underline;
}
.mypage_playlist_block textarea {
    background: none repeat scroll 0 0 #FFF5E1;
    border: 1px solid #EDCA89;
    border-radius: 3px 3px 3px 3px;
    font-family: 'anton-webfont';
    font-size:26px;
	line-height:26px !important;
    height: 70px !important;
    line-height: 30px;
    width:435px !important;
}
.mypage_playlist_block .btn_save {
	margin:48px 0 0 0 !important;
}
.mypage_playlist_block h3 {
	margin:0 0 2px 0 !important;
	padding:0 !important;
	color:#D53225;
	line-height:13px;
}
.drag_info {
	margin:10px 0;
	padding:0;
	float:left;
}
.gray_block_myprofile {
    background: none repeat scroll 0 0 #F5F5F5;
    border-left: 1px solid #DEDBD6;
	border-right: 1px solid #DEDBD6;
	border-top:none;
	border-bottom:none;
    float: left;
    margin:0;
    padding: 0 20px 20px;
	width:508px;
}
.title_detail, .title_detail1 {
	color:#333;
	width:100px;
	float:left;
}
.title_detail1 {
	width:220px;
}
.mypage_mail .homepostlog ul li {
	margin:0;
	padding:6px 0;
}
.description_detail {
	color:#666;
	width:380px;
	float:left;
}
.myprofile_row1, .myprofile_row2 {
	margin:0;
	padding:15px 0 15px 20px;
	border-bottom:1px dashed #c8c8c8;
}
.myprofile_row2 {
	background:#FFF;
}
.myprofile_small_block, .myprofile_small_block1 {
	margin:0;
	padding:0;
	float:left;
	width:265px;
}
.myprofile_small_block1 {
	width:240px;
}
.myprofile_small_block1 .myprofile_row1 {
	padding:15px 0 10px 20px;
	border:none;
}
.myprofile_small_block .description_detail {
	width:140px;
}
.mypage_gray_edit, .mypage_white_edit, .mypage_white_edit_block {
	background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DEDBD6;
    float: left;
    margin:0;
    padding:18px 15px;
	width:518px;
}
.mypage_white_edit {
	background:#FFF;
	box-shadow:0 2px 1px #e7e7e7;
	z-index:2;
	position:relative;
}
.mypage_white_edit_block {
	padding:30px;
	border-bottom:none;
	background:#FFF;
	width:488px;
	display:none;
	z-index:1;
}
.mypage_gray_edit h3 {
	margin:2px 0;
	font-size:12px;
	float:left;
}
.mypage_white_edit h3 {
	margin:2px 0;
	font-size:12px;
	color:#D53225;
}
.mypage_gray_edit .edit_btn {
	float:right;
}
.mypage_white_edit .edit_btn {
	display:none;
}
.no_bottom_border {
	border-bottom:none !important;
}
.edit_title, .edit_title1, .edit_title2, .feedback_look, .feedback_look1 {
	margin:5px 0 0 0;
	padding:0;
	width:100px;
	float:left;
}
.edit_title1 {
	width:130px;
}
.edit_title2 {
	width:75px;
}
.mypage_textarea {
	margin:0;
	padding:0;
	background:url(../images/mypage_multiline_input.png) 0 0 no-repeat;
	width:386px;
	height:66px;
	float:left;
}
.mypage_textarea textarea {
	background:none;
	border:none;
	margin:5px;
	padding:0;
	width:372px !important;
	height:53px !important;
	color: #808080;
    float: left;
    font-family: 'opensan-webfont';
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
}
.mypage_textarea1 {
	margin:0;
	padding:0;
	background:url(../images/mypage_multiline_input1.png) 0 0 no-repeat;
	width:306px;
	height:86px;
	float:left;
}
.mypage_textarea1 textarea {
	background:none;
	border:none;
	margin:5px;
	padding:0;
	width:290px !important;
	height:76px !important;
	color: #808080;
    float: left;
    font-family: 'opensan-webfont';
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
}
.mypage_width105 {
	width:105px !important;
}
.mypage_width278 {
	width:278px !important;
}
.mypage_width185 {
	width:185px !important;
}
.mypage_width215 {
	width:215px !important;
}
.mypage_submit_block {
	float:right;
}
.mypage_submit_block .skip_btn {
	margin:0 0 0 10px;
}
.mypage_gray_edit .mypage_arrow, .mypage_white_edit .mypage_arrow {
	margin:4px 5px 0 0;
	padding:0;
	background:url(../images/mypage_arrow_up.png) 0 0 no-repeat;
	width:15px;
	height:15px;
	float:left;
}
.mypage_white_edit .mypage_arrow {
	background:url(../images/mypage_arrow_down.png) 0 0 no-repeat;
}
.small_mypage_gray_input_mid {
    background: url("../images/input_bg_grey.png") repeat-x scroll left top transparent !important;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    width: 100px;
}
.small_mypage_gray_input_mid input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #6E6E6E;
    font-size: 11px !important;
    font-style: italic;
    margin: 5px 0 0;
    padding: 0;
    width: 100px;
}
.small_mypage_gray_input {
    float: left;
    margin: 0 15px 5px 0;
    padding: 0;
    width: 140px;
}
.scroll_block {
	height: 200px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.mypage_gender {
	margin:6px 0 0 0;
	padding:0;
	float:left;
}
.mypage_gender span {
	margin:0 10px 0 5px;
	font-style:italic;
}
.mypage_info {
	margin:6px 0 0 5px;
	font-size: 11px;
    font-style: italic;
	color:#0072BC;
	float:left;
}
.mypage_about .activate_btn {
	margin:0 0 0 -15px;
}
.mypage_white_edit_block .big_gray_input {
	margin:0;
}
.add_location {
	margin:0 0 0 5px;
	padding:0 15px 0 0;
	background:url(../images/mypage_arrow_right.png) top right no-repeat;
	font-size: 11px;
    font-style: italic;
	line-height:11px;
	color:#0072BC;
	float:right;
}
.mypage_edit_location {
	margin:0;
	padding:0;
	float:left;
	width:215px;
}
.mypage_edit_location_detail {
	margin:0;
	padding:0 0 0 20px;
	border-left:1px solid #e3e3e3;
	float:right;
	width:230px;
	min-height:140px;
}
.mypage_edit_location_detail h3 {
	font-size:12px;
}
.location_row {
	margin:0;
	padding:10px 0;
	border-bottom:1px dashed #cac8c5;
	width:230px;
	float:left;
}
.location_row_detail {
	float:left;
	width:200px;
}
.mypage_myprofile_edit {
	margin:62px 0 0 20px;
	padding:0;
	float:left;
}
.mypage_myprofile_edit p {
	margin:5px 0 0 5px;
}
.h3font12 {
	margin:20px 0 !important;
	font-size:12px !important;
}
.myprofile_small_block1 .myprofile_row1 .title_detail1, .location_row .location_row_detail {
	color:#666;
}
.myprofile_small_block1 .myprofile_row1 .title_detail1 strong, .location_row .location_row_detail strong {
	color:#333;
}
.mypage_playlist_songs .music_list_detail3, .mypage_playlist .music_list_detail2 {
	font-weight:normal;
}
.mypage_playlist_songs .music_list_detail3:hover, .mypage_playlist .music_list_detail2:hover {
	font-weight:bold;
}
.mypage_playlist_block {
	margin:0 0 -5px 0;
}
.headphone_thumb {
	margin:5px 5px 0 5px;
}
.music_playlist .head .music_list_detail2 {
	color:#333;
}
.mypage_mail .homepostlog .mailtime {
	width:80px;
}
.mypage_mail .homepostlog .mailsub {
	width:113px;
}
.mypage_mail .homepostlog .mail_list_detail1 {
	width:57px;
}

#mypage_review .row_data {
	margin:0 0 0 -20px;
	padding:20px;
	border-bottom:1px solid #f2f2f2;
	width: 508px;
	position:relative;
}
#mypage_review .btn_like {
	font-size:11px;
	font-weight:normal;
	line-height:30px;
}
#mypage_review a.btn_flag {
	font-size:11px;
	font-weight:normal;
	text-indent:0;
	color: #666666;
	width:inherit;
	background:none;
}
#mypage_review .title {
	font-size:16px;
	font-weight:normal;
}
#mypage_review .info {
	font-size:16px;
	font-weight:normal;
	font-style:italic;
}
#mypage_review .description {
	margin:5px 0 10px 0;
	line-height:14px;
}
#mypage_review .read_artical {
    background: url("../images/movies/icon_zoom.png") no-repeat scroll left top transparent;
    float: left;
    height: 13px;
    padding: 5px 3px 0;
    width: 13px;
}
#mypage_review .read_full_article {
	margin:10px 0 0 0;
	font-size:11px;
	font-style:italic;
	float:left;
}
#mypage_review .btn_share_blue {
	margin:10px 15px 0 0;
	font-size:11px;
	font-style:italic;
	float:left;
}
#mypage_review .rating_big {
	margin-bottom:-5px;
}
#mypage_review .feature {
    background: none repeat scroll 0 0 #FFFAEC;
}
#mypage_review .reviews_featured {
    background: url("../images/burrp/burrp_feature.png") no-repeat scroll 0 0 transparent;
    height: 56px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}
.feedback_look {
	margin-right:10px;
    width: 55px;
	text-align:right;
}
.feedback_look1 {
	margin:0 0 0 10px;
    width: auto;
}
.radio_look {
	float:left;
}
.feedback1 {
	margin:20px 0;
	float:left;
	color:#333;
}



/*Place Burp list***************************/
li.burrp_list .music_list_num{border-right:1px solid #eaeaea; width:22px; height:22px; color:#999; padding:8px 0 0 14px; position:relative; z-index:2;}
.music_playlist ul li.burrp_list:hover .music_list_num{color:#999999;}
.music_playlist ul li.burrp_list:hover .playbtn{background-position:-927px -730px;}
.music_playlist ul li.burrp_list:hover .playbtn:hover{display:none;}

