#news, #news1 {

}

{

}

.grey_block_full_link {

	background:#fafafa !important;

}

.padding_bot5 {

	padding-bottom:7px !important;

}

.padding_right37 {

	margin:0px;

	padding-right:37px !important;

	_padding-right:2px !important;

}

#news .more_link_big, #music_album_artist .more_link_big {

	padding: 10px 20px;

}

#news .title {

	font-size:14px;

	color:#666;

	font-weight:bold;

}

#news .description {

	font-size:12px;

	color:#666;

}

#news .description1 {

	font-size:11px;

	color:#666;

	font-style:italic;

}

#news .info {

	font-size:11px;

	color:#999;

	font-style:italic;

}

#news1 .title {

	font-size:14px;

	color:#666;

	font-weight:bold;

}

#news1 .description {

	font-size:12px;

	color:#666;

}

#news1 .description1 {

	font-size:11px;

	color:#666;

	font-style:italic;

}

#news1 .info {

	font-size:11px;

	color:#999;

	font-style:italic;

}

.white_blockTop {

	background: none repeat scroll 0 0 #FFFFFF;

	border: 1px solid #DEDBD6;

	float: left;

	margin: 0 0 20px 0;

	padding: 0 20px 20px;

}

.white_blockTop h3 {

	margin: 25px 0 0px 0px;

}

.white_blockTop h1 {

	margin: 0px 0 5px 0px;

	padding:0px;

	line-height:40px;

	font-size:40px;

}

.white_blockTop p.description {

	font-size:12px;

	color:#666;

}

/* from here to end of this sigin the css is same as video just difference for ID */ 



#news .display_content {

	background:#fff;

	margin:0;

	padding:0;

	width:547px;

	height:1%;

	/*height:313px;*/

	float:left;

	position:relative;

}

#news .topbar {

	border:1px solid #DEDBD6;

	background:#fff;

	height:28px;

	clear:both;

	display:block;

	font-family:'opensan-webfont';

	position:absolute;

	z-index:1;

	width:545px;/*top:1px;*/

	}

#news .display_content .video {

	height:313px;

	position:relative;

	padding:0px;

	margin:0px;

}

#news .display_content .video .v_player {

	height:313px;

	overflow:hidden;

	width:547px;

}

#news .news_content {

	/*margin:20px 0 0 0;*/

	padding:12px 20px !important;

}

#news .tab_view .news_content h1 { /* this css is different from video */

	color: #000000;

	font-size:30px !important;

	margin-bottom:0px !important;

}

/* end here */ 



/* zigzag box css copy from video section */ 



#news .red_right_block {

	height:258px;

}

#news .red_right_block h3 {

	margin:22px 20px;

	padding:0;

}

#news .block_music_album h3 {

	margin:22px 10px;

	padding:0;

}

#news .block_music_album h1 {

	margin:5px 10px 15px 0px;

	padding:0;

	line-height:35px;

}

#news .red_right_block .zigzagbox .data { /* change from video page */

	padding:15px 10px;

}

#news .channel_content span {

	margin:5px 11px 5px 11px;

	padding:0;

}

/* end  here */  





/* top news secton style  sheet stat here */



.news_frame8_block {

	float: left;

	/*margin: 0 15px;*/

    min-height: 280px;

	/*overflow: hidden;

    padding: 0;*/

    width: 247px;

}

.news_frame8_block h1 {

	line-height:24px !important;

}

.news_frame8_block .details {

	float:left;

	width: 247px;

}

#news .news_frame8_block .title, #news1 .news_frame41_block .title {

	padding:5px 0px;

}

#news .news_frame8_block .description, #news1 .news_frame41_block .description {

	line-height:15px;

	padding:3px 0px;

}

#news .news_frame8_block .description1, #news1 .news_frame41_block .description1 {

	line-height:20px;

}

#news .news_frame8_block .info, #news1 .news_frame41_block .info {

	padding-top:10px;

	margin-bottom:4px;

}

.news_inner_block {

	/* float: left;*/

    margin: 0;

	padding:0;

	/*padding: 20px;*/

    width: 860px;

}

.news_in_blcok_container {

	width:auto;

	padding:0;

	margin:0;

}

.news_in_blcok_container .news_dataL {

	margin:0;

	float:left;

	/*border-bottom:1px solid #cecece;*/

	border-right:1px solid #cecece;

	overflow:hidden;

	width:450px;

}

.news_frame41_block {

	width:390px;

	padding:35px 30px 30px 30px;

}

.news_frame41 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:390px;

	height:222px;

	float:left;

	border-radius:3px;

	position:relative;

}

.news_frame41 .news_photo41 {

	margin:3px;

	padding:0;

	background:#000;

	width:384px;

	height:216px;

	overflow:hidden;

	float:left;

}

#news1 .title {

	padding:5px 0px;

}

#news1 .description {

	line-height:15px;

	padding:3px 0px;

}

#news1 .description1 {

	line-height:20px;

}

#news1 .info {

	padding-top:10px;

}

.news_frame42_Sblock {

	padding:35px 25px 30px 30px;

	float: left;

	min-height: 200px;

	width: 167px;

}

.news_frame42_Sblock .details, .news_frame42_Sblock_last .details {

	/*margin-bottom:20px;*/

	float:left;

	width:167px;

}

.news_frame42_Sblock_last {

	padding:35px 0px 30px 25px;

	float: left;

	min-height: 200px;

	width: 167px;

	border-left:1px solid #cecece;

}

.news_frame42 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:167px;

	height:100px;

	float:left;

	position:relative;

	border-radius:3px;

}

.news_frame42 .news_photo42 {

	margin:3px;

	padding:0;

	background:#000;

	width:161px;

	height:94px;

	overflow:hidden;

	float:left;

}

.news_in_blcok_container .news_dataR {

	margin:0;

	padding:35px 0px 0px 0px;

	overflow:hidden;

	width:380px;

	float:right;

}

.news_frame43_Sblock {

	padding:0px 0px 20px 0px;

	float: left;

	width:379px;/*min-height: 200px;*/

}

.news_frame43 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:143px;

	height:83px;

	float:left;

	border-radius:3px;

}

.news_frame43 .news_photo43 {

	margin:3px;

	padding:0;

	background:#000;

	width:137px;

	height:77px;

	overflow:hidden;

	float:left;

}

/* news schorboard style sheet  */



.scoreboard {

	border:1px solid #dcdcdc;

	margin:0px 0px 20px 0px;

	padding:0px;

	clear:both;

	width:860px !important;

	font-family:'oswald-webfont';

	overflow:hidden;

}

.scoreboard_top {

	border-bottom:1px solid #dcdcdc;

	padding: 10px 20px;

	background:#f5f5f5;

	/*clear:both;

	overflow:hidden;*/

	float:left;

	width:820px;

}

.scoreboard_top .Livescore {

	float:left;

	text-transform:uppercase;

	margin-right:10px;

	line-height:25px;

	padding:0px;

}

.scoreboard_top .heading {

	float:left;

	width:580px;

	text-transform:uppercase;

	font-size:22px;

	line-height:22px;

	padding:0px;

	font-family: 'anton-webfont';

}

.scoreboard_top .datetime {

	float:right;

	text-align:right;

	line-height:22px;

	width:150px;

	text-transform:uppercase;

}

.scoreboard_bottom {

	background:#fff;

	padding:10px 20px;

	overflow:hidden;

	height:1%;

	clear:both;

}

.scoreboard_bottom .score {

	float:left;

	/*min-width:270px;*/

	width:auto !important;

	text-transform:uppercase;

}

.scoreboard_bottom .player {

	float:left;

	margin:37px 0 0 20px;

	/*min-width:375px;*/

	width:auto !important;

	text-transform:uppercase;

}

.scoreboard_bottom .player .runs {

	width:20px;

	padding:0 10px 0 3px;

	display:inline-block;

}

#news1 .news_dataR .view_all_video {

	margin:0;

	padding:0px 30% 20px 30%;

	text-align:center;

	clear:both;

	width:120px;

}

/* news details page style sheet */





 .new_title_social {

	/*float: left;*/

    margin: 0;

	padding-top:20px;

	line-height:28px;

}

.follow_share_news {

	margin:0px !important;

}

a.btn_print {

	background:url(../images/in_sprite1.png) no-repeat -1006px -638px;

	width:29px;

	height:29px;

	float:left;

	margin:0 5px 0 0;

}

a.btn_print:hover {

	background-position: -1036px -638px;

}

a.btn_print.active, a.btn_print:active {

	background-position: -1066px -638px;

}

a.btn_text {

	background:url(../images/in_sprite1.png) no-repeat -1006px -668px;

	width:29px;

	height:29px;

	float:left;

	margin:0 5px 0 0;

}

a.btn_text:hover {

	background-position: -1037px -668px;

}

a.btn_text.active, a.btn_text:active {

	background-position: -1067px -668px;

}

.news_detail {

	color: #666666;

	float: left;

	font-size: 12px;

	margin: 10px 10px 0;

	padding: 0;

}

.news_detail p{margin:10px 0}
.news_detail p a{ color:#0072BC; text-decoration:underline;}

.news_image_info {

	font-size:11px;

	color:#999;

	font-style:italic;

}

.news_image_artical {

	font-size:14px;

	color:#666;

	clear:both;

	padding:20px 0;

	position:relative;

}

.news_image_artical p {

	padding:10px 0px;

	line-height:22px;

}

.news_blockquote {

	font-family:'opensan-webfont';

	background: url(../images/open-quote.png) no-repeat left top;

	padding-left: 40px;

	font-style: italic;

	width:250px;

	float:right;

	line-height:30px;

	font-size:18px;

	color:#d53225;

	margin:10px 0 30px 0px;

	display:inline-block;

}

.news_blockquote span {

	background:url(../images/close-quote.png) no-repeat bottom right;

	display:inline-block;

	float:right;

	padding-right: 30px;

	height:30px;

	position:relative;

 *margin-top:-30px;

/*width:30px;*/

}

/* breaking news list page for news section */



.brakingNews_frame {

	margin:0px;

	float:left;

	padding:0 0 30px 0;

}

.news_brkframe45 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:207px;

	height:121px;

	float:left;

	position:relative;

	border-radius:3px;

}

.news_brkframe45 .news_brkphoto45 {

	margin:3px;

	padding:0;

	background:#000;

	width:201px;

	height:115px;

	overflow:hidden;

	float:left;

}

.brakingNews_frame .details {

	float:left;

	width:292px;

	padding-left:15px;

}

.brakingNews_frame .title {

	padding:5px 0px;

}

.brakingNews_frame .description {

	line-height:15px;

	padding:3px 0px;

}

.brakingNews_frame .description1 {

	line-height:20px;

}

.brakingNews_frame .info {

	padding-top:10px;

}

/* socal icon style for news section */



.brakingNews_frame .social_icon {

	padding:5px 0 0 0;

	clear:both;

	height:1%;

	position:relative;

}

.brakingNews_frame .icons {

	float:left;

	padding:0 5px;

	cursor:pointer;

}

.brakingNews_frame a.box_social {

	background: url(../images/social_popup_box.png) no-repeat top left;

	width:57px;

	height:37px;

	line-height:37px;

	text-align:center;

	display:block;

	margin:5px 0;

	color: #000;

}

/*.brakingNews_frame .box_social a{

	background: url(../images/social_popup_box.png) no-repeat top left;

	line-height:37px;

	text-align:center;

	color: #000;

	display:block;

	margin:5px 0;

}*/



.brakingNews_frame a.box_social:hover, .brakingNews_frame a.box_active {

	background: url(../images/social_popup_box.png) no-repeat bottom left;

	width:57px;

	height:37px;

	line-height:37px;

	text-align:center;

	color: #000;

	display:block;

	margin:5px 0;

}

/* issue for tinal touch up with style.css and news section. */



.no_bot_margin {

	/*margin-bottom:0px !important;*/

	padding-bottom:0px !important;

	float:none;

}

.no_top_margin {

	/*margin-top:0px !important;*/

	padding-top:0px !important;

	float:none;

}

#news .tagL {

	float: left;

	width:35px;

	padding:10px 0 10px 0;

}

#news .tagR {

	float: left;

	padding:10px 0 10px 10px;

	margin:0px;

	width:420px;

}

.topbar_news {

	top:1px;

	left:2px;

	border:none;

	width:544px !important;

	display:none;

}

#news_heading, #news_heading a {

	line-height:38px !important;

}

#reporters_details {

	margin:10px 0 !important;

}

.article_h3 {

	font-size:18px;

	font-weight:bold;

	line-height:24px;

}

.news_frame140_80 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:146px;

	height:86px;

	float:left;

	border-radius:3px;

	position:relative;

}

.news_frame140_80 .photo {

	margin:3px;

	padding:0;

	background:#292929;

	width:140px;

	height:80px;

	overflow:hidden;

	float:left;

}

.news_frame140_80_block {

	margin:0 9px;

	padding:0;

	width:150px;

	float:left;

	text-align:center;

}

/*======================= scoreboard full style sheet ======================= */





#scoreboard {

}

#scoreboard .more_link_big {

	padding: 0 5px;

	width: 538px;

}

#scoreboard .team {

	width:30%;

	line-height:20px;

	font-size:12px;

	float:left;

}

#player {

	padding:10px 0px;

}

#player .col1, #player .col2, #player .col3, #player .col4, #player .col5, #player .col6 {

	float:left;

	padding:5px 5px 0 5px;

	line-height:20px;

}

#player .row {

	margin:0;

	padding:5px 0;

	width:508px;

	border-bottom:1px dashed #cccccc;

}

#player .col1 {

	width:25%;

}

#player .col2 {

	width:40%;

}

#player .col3 {

	width:5%;

	text-align:center;

}

#player .col4 {

	width:5%;

	text-align:center;

}

#player .col5 {

	width:5%;

	text-align:center;

}

#player .col6 {

	width:5%;

	text-align:center;

}

#bowler {

	padding:10px 0px;

}

#bowler .col1, #bowler .col2, #bowler .col3, #bowler .col4, #bowler .col5, #bowler .col6, #bowler .col7, #bowler .col8 {

	float:left;

	padding:5px 5px 0 5px;

	line-height:20px;

}

#bowler .row {

	margin:0;

	padding:5px 0;

	width:508px;

	border-bottom:1px dashed #cccccc;

}

#bowler .col1 {

	width:30%;

}

#bowler .col2 {

	width:7%;

}

#bowler .col3 {

	width:7%;

	text-align:center;

}

#bowler .col4 {

	width:7%;

	text-align:center;

}

#bowler .col5 {

	width:10%;

	text-align:center;

}

#bowler .col6 {

	width:7%;

	text-align:center;

}

#bowler .col7 {

	width:7%;

	text-align:center;

}

#bowler .col8 {

	width:7%;

	text-align:center;

}

.PrintElem .more_link_big {

	padding:10px 20px;

}

