#photogallery{ }

.nopad_nomar{
	padding:0px !important;
	margin:0px !important;
	}
.gallery_sidebar{
	position:relative;
	float:left;
	margin:10px 0px 5px;
	}
	
.gallery_sidebar ul{
	margin:0px;
	padding:0px;
	float:left;
	display:block;
	list-style-type:none;
	}
	
.gallery_sidebar ul li{
	float:left;
	list-style-type:none;
	margin:0px 5px 0 1px;
	_margin:0px 4px 0 1px;
	height:67px;
	width:120px;
	border:3px solid #fff;
	}

.gallery_sidebar ul li:hover, .gallery_sidebar ul li.active{
	float:left;
	list-style-type:none;
	margin:0px 5px 0 1px;
	_margin:0px 4px 0 1px;
	height:67px;
	width:120px;
	border:3px solid #cc3023;
	}

#photogallery a.arrowN {
	 background-position:-954px -505px;
	 position: absolute;
	 z-index:8;
	 top:10px;
	 right:0px;
	 width:27px;
	 height:52px;
	 cursor:pointer;
}

#photogallery a.arrowN:hover {
	 background-position:-954px -559px;
}

#photogallery a.arrowN.active{
	 background-position:-954px -614px;
}

#photogallery a.arrowN.disable{
	 background-position:-954px -669px;
}

#photogallery a.arrowB {
	 background-position:-927px -505px;
	 position: absolute;
	 z-index:8;
	 top:10px;
	 left:0px;
	 width:27px;
	 height:52px;
	cursor:pointer;
}

#photogallery a.arrowB:hover {
	 background-position:-927px -559px;
}

#photogallery a.arrowB.active {
	 background-position:-927px -614px;
}

#photogallery a.arrowB.disable {
	 background-position:-927px -669px;
}


#photogallery .block_photogarph{
   background: none repeat scroll 0 0 #FFFFFF;
   border: 1px solid #DEDBD6;
   border-top:none;
   float: left;
   margin: 0;
   width: 548px;
   padding:0px 0 15px 0;
   position:relative;
}	

#photogallery .block_photogarph .topbar{
	background:#FFFFFF;
    display: none;
    position: absolute;
    width: 546px;
	margin:1px;
}

#photogallery .block_photogarph:hover .topbar{
	display: block;
}


a.btn_info {
    background: url("../images/photogallery/icon_info.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 31px;
}

a.btn_info:hover {
	background:url("../images/photogallery/icon_info_on.png") no-repeat scroll 0 0 transparent;
	}

a.btn_zoom {
    background: url("../images/photogallery/icon_fullscreen.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 31px;
}
a.btn_zoom:hover{
	background: url("../images/photogallery/icon_fullscreen_on.png") no-repeat scroll 0 0 transparent;
	}	
	
a.btn_timer{
    background: url("../images/photogallery/icon_timer.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 31px;
}


.photo_detail {
    color: #222;
    float: left;
    font-size: 12px;
    margin: 10px 10px;
    padding: 0;
}

.photo_description {
    color: #999;
    float: left;
	font-style:italic;
    font-size: 11px;
    margin: 2px 10px 10px 10px;
    padding: 0;
	line-height:18px;
}

.icon_screen_blue {
    background: url("../images/photogallery/blue_arrow_box.png") no-repeat 0 3px;
    /*float: left;*/
	display:inline-block;
    height: 13px;
	line-height:13px;
    margin: 0px 5px 0 5px;
    padding: 0;
    width: 15px;
}

.icon_screen_blue.icon_screen_blue_serp {
    margin: 0px 5px 0 0;
}


.icon_screen_grey {
    background: url("../images/photogallery/grey_arrow_box.png") no-repeat 0 3px;
    /*float: left;*/
	display:inline-block;
    height: 14px;
	line-height:15px;
    margin: 0px 5px 0 5px;
    padding: 0;
    width: 15px;
}


#photogallery ul.follow_share li a{
    color: #222;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
}

#photogallery ul.follow_share, #photogallery_lightbox ul.follow_share{
	padding:0px;
	margin:15px 10px;
	list-style-type:none;
	}
	
#photogallery ul.follow_share li {
	display:inline;
	float:left;
  	padding: 0 11px 0 11px;
 	border-right:1px dashed #999;
	}
	
#photogallery ul.follow_share li.first {
	padding-left:0px;
	}	
	
#photogallery ul.follow_share li.last {
	width:60px !important;
	border-right:0px dashed #999;
	}
	
	
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 524px;
	height:75px;
}
.items{	
    width: 20000em;
	position:absolute;
}




.photogallery_lightbox_class{width:860px !important; border-radius:0 !important; border:none !important; background:none !important; padding:0 !important; overflow:visible !important; top:40px !important; left:50% !important; margin-left:-370px;}
.ui-dialog.photogallery_lightbox_class .ui-dialog-content{padding:15px 0; overflow:inherit;}
.ui-dialog.photogallery_lightbox_class .ui-dialog-titlebar{display:none;}


#photogallery_lightbox{position:relative;}
#photogallery_lightbox #logo{background:url(../images/photogallery/lightbox_icon.png) 0 -130px no-repeat; width:72px; height:33px; position:absolute; left:-115px; top:20px; text-indent:-9999px;}
#photogallery_lightbox .topbar{border-bottom:1px dashed #242424; padding:0 0 15px 0;}
#photogallery_lightbox .topbar .width635{width:633px;}
#photogallery_lightbox .topbar h1{font-size:50px; color:#ffffff; line-height:50px;}
#photogallery_lightbox .photo_detail{color:#999999; margin:0 10px; float:none;}
#photogallery_lightbox .topbar .midstrip{float:left; border-right:1px dashed #3b3b3b; margin:0 15px; height:30px;}

#photogallery .block_photogarph img#mainphoto{max-width:548px;}
#photogallery_lightbox img#mainphoto{margin:20px 0; max-width:850px;}

#photogallery_lightbox .topbar a.btn_back {background:url(../images/photogallery/lightbox_icon.png) 0 0 no-repeat; float: left; height: 30px; width: 30px;}

#photogallery_lightbox .topbar a.btn_next {background:url(../images/photogallery/lightbox_icon.png) -30px 0 no-repeat; float: left; height: 30px; width: 30px;}

#photogallery_lightbox .topbar a.btn_zoom {background:url(../images/photogallery/lightbox_icon.png) 0 -60px no-repeat; float: left; height: 30px; width: 30px;}

#photogallery_lightbox .topbar a.btn_back:hover{background-position:0 -30px;}
#photogallery_lightbox .topbar a.btn_next:hover{background-position:-30px -30px;}
#photogallery_lightbox .topbar a.btn_zoom:hover{background-position:-30px -60px;}

#photogallery_lightbox .topbar .font12 {color: #FFFFFF !important;  font-size: 16px;}


#photogallery_lightbox ul.follow_share li{float:left; border-right:1px dashed #3b3b3b; padding:0 10px; margin-top:20px;}
#photogallery_lightbox ul.follow_share li.last{border:none; padding-right:0;}
#photogallery_lightbox ul.follow_share li a{color:#999999;	font-size:12px;	font-weight:bold;}
#photogallery_lightbox ul.follow_share li a:hover{color:#e50017;}


#photogallery_lightbox .follow_share .share_fb, #photogallery_lightbox .follow_share .share_tweet, #photogallery_lightbox .follow_share .share_google{background:url(../images/photogallery/lightbox_icon.png) no-repeat;
    display: inline-block;
    float: left;
    height: 20px;
    width: 20px;
	margin:0 3px 0 0;
}


#photogallery_lightbox .follow_share .share_fb { background-position: 0 -90px;}
#photogallery_lightbox .follow_share .share_tweet { background-position: -20px -90px;}
#photogallery_lightbox .follow_share .share_google {background-position: -40px -90px;}

#photogallery_lightbox .follow_share a:hover .share_fb{background-position: 0 -110px;}
#photogallery_lightbox .follow_share a:hover .share_tweet {background-position: -20px -110px;}
#photogallery_lightbox .follow_share a:hover .share_google {background-position: -40px -110px;}

