.serp_main h3 {
	margin:19px 15px 0 20px;
	float:left;
}
.serp_main .search_box {
	margin:15px 0;
}
.serp_main .search_btn {
	margin:15px 0 0 15px;
}
.result_description {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    margin:0;
    padding: 0;
}
.result_description_mega {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    margin:0;
    padding: 0;
}
.result_title, .result_title1, .result_title2, .result_title_mega {
    font-size: 14px;
    font-weight: bold;
    margin:0;
    padding: 0;
}
.result_title .red{font-weight:bold;}
.result_title1 {
	margin:5px 0 2px 0;
	font-size:12px !important;
}
.result_title_mega {
	margin:5px 0 2px 0;
	font-size:12px;
}
.result_title2 {
	font-size:14px;
}
.result_title2 .icon_artical2, .result_title2 .icon_camera {
	float:none; box-shadow:0 3px 2px #CCC;
}
.result_title2 .result_description {
	font-weight:normal;
}
.search_block_ringtone {
	margin:15px 0 0 0;
	padding:0;
	border-top: 1px dashed #CCCCCC;
}
.search_block_ringtone .block_row, .search_block_ringtone .block_row1 {
	width:490px;
	height:auto;
	/*min-height:44px;*/
	float:left;
	padding:0 8px;
}
.search_block_ringtone .block_row1 {
	background:#fcfcfc;
}
.search_block_ringtone .download_btn {
	margin:10px 0 0 0;
	float:right;
}
.search_block_ringtone .block_row .title, .search_block_ringtone .block_row1 .title, .search_block_ringtone .block_row .detail, .search_block_ringtone .block_row1 .detail {
	width:300px;
}
.search_block_ringtone .mobile_btn {
	margin:10px 10px 0 0;
}
.serp_frame128_95 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:134px;
	height:101px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame128_95 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:128px;
	height:95px;
	overflow:hidden;
	float:left;
}

.serp_frame82_82 {
	margin:0 5px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:88px;
	height:88px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame82_82 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:82px;
	height:82px;
	overflow:hidden;
	float:left;
}

.serp_frame119_170 {
	margin:0 5px;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:125px;
	height:176px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame119_170 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:119px;
	height:170px;
	overflow:hidden;
	float:left;
}

.serp_frame135_76 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:141px;
	height:82px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame135_76 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:135px;
	height:76px;
	overflow:hidden;
	float:left;
}
.serp_frame120_90 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:126px;
	height:96px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame120_90 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:120px;
	height:90px;
	overflow:hidden;
	float:left;
}

.serp_frame136_193 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:142px;
	height:199px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame136_193 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:136px;
	height:193px;
	overflow:hidden;
	float:left;
}
.serp_frame100_100 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:106px;
	height:106px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame100_100 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:100px;
	height:100px;
	overflow:hidden;
	float:left;
}

.serp_frame110_110 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:116px;
	height:116px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame110_110 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:110px;
	height:110px;
	overflow:hidden;
	float:left;
}

.serp_frame140_140 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:146px;
	height:146px;
	float:left;
	box-shadow:0 1px 2px #CCC;
	border-radius:3px;
	position:relative;
}
.serp_frame140_140 .photo {
	margin:3px;
	padding:0;
	background:#292929;
	width:140px;
	height:140px;
	overflow:hidden;
	float:left;
}
.serp_frame_main {
	margin:20px 18px 0 18px;
	padding:0;
	width:130px;
	float:left;
	text-align:center;
	min-height:130px;
}
.serp_frame_main_image {
	margin:0px 14px 20px 14px;
	padding:0;
	width:140px;
	float:left;
	text-align:left;
	min-height:130px;
}
.serp_frame_main_video {
	margin:20px 14px 0px 14px;
	padding:0;
	width:140px;
	float:left;
	text-align:left;
	min-height:130px;
}
.serp_frame_row {
	margin:0;
	padding:20px 0;
	border-bottom: 1px dashed #CCCCCC;
	width:505px;
	float:left;
}
.serp_news_frame {
	margin:0;
	padding:0;
	width:155px;
	float:left;
}
.serp_news_frame_detail {
	margin:0;
	padding:0;
	width:auto;
	float:left;
}
.serp_news_frame_detail .result_description {
	margin:3px 0 0 0;
	line-height:16px;
}
.serp_frame_artist {
	margin:0 13px 20px 13px;
	padding:0;
	width:110px;
	float:left;
	text-align:center;
	min-height:130px;
}

.white_right_block1 .h_scroll_detail .serp_frame_artist {
	margin:0 6px 20px 6px;
}
.search_block_artist {
	margin:0;
	padding:0 0 10px 0;
	float:left
}
.search_block_artist .play_scroll {
	margin-bottom:15px;
}
#musicPlaylist .search_playlist, #musicPlaylist .search_playlist_small {
	width:815px !important;
	float:left !important;
}
#musicPlaylist .search_playlist_small {
	width:515px !important;
}
#musicPlaylist .search_playlist .music_list_detail4 {
	width:200px !important;
}
#musicPlaylist .search_playlist .music_list_detail3 {
	width:180px !important;
}
#musicPlaylist .search_playlist_small .music_list_detail1 {
	width:215px !important;
}
#musicPlaylist .search_playlist_small .music_list_detail2 {
	width:210px !important;
}
#musicPlaylist .search_playlist_small .btn_add_list {
	left:240px !important;
}

.serp_playlist_artist {
	margin:20px 0 0 0;
	padding:0;
	float:left;
}
.serp_playlist_artist_block {
	margin:0 27px;
	padding:0;
	width:150px;
	min-height:200px;
	text-align:center;
	float:left;
}
.serp_playlist_artist_block .video_bar_play {
	bottom:3px !important;
	left:5px !important;
}
.artist_all_songs {
	margin:-20px 0 0 0 !important;
}
.artist_row .title {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 8px 0 0 0;
    padding: 0;
	width:95px;
	float:left;
}
.artist_row .description {
    color: #999999;
    font-size: 11px;
    font-style: italic;
	text-align:right;
    margin: 9px 0 0 0;
    padding: 0;
	width:60px;
	float:left;
}
.artist_disc {
	margin:0 5px 0 0;
	float:left;
}
.serp_menu_ul {
	margin:0 0 20px -21px;
	padding:0;
	background:#fafafa;
	border:1px solid #DEDBD6;
	width:858px;
	list-style:none;
	float:left;
}
.serp_menu_ul.no_top_border.main_menu {
	margin:0 0 0 -21px !important;
}

.serp_menu_ul.no_top_border.sub_menu {
	background:#eae9e9;
}
.serp_menu_ul li {
	margin:0;
	padding:0 5px;
	border-right:1px solid #DEDBD6;
	font-family:'oswald-webfont';
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	float:left;
}
.serp_menu_ul.no_top_border.sub_menu li{
	border-right: none;
	background:url(http://im.active18.com/images/seperator_serp_sub_menu.gif) no-repeat  center right;
}
.serp_menu_ul li a {
	margin:5px 0;
	padding:4px 8px;
	color:#333;
	display:inline-block;
}
.serp_menu_ul li a:hover {
	color:#d53225;
}
.serp_menu_ul li a.active {
	background:#252525;
	color:#eddfa8;
	border-radius:2px;
	box-shadow:0 1px 2px #666;
	font-size:14px;
	font-weight:normal;
	float:left;
}
.serp_menu_ul.no_top_border.main_menu li a.active {
	background:#222;
	color:#e0d39f;
}

.search_all_block.serp .serp_menu_ul {margin:0 0 0 -21px;}
.search_all_block.serp .serp_menu_ul li a {padding:4px 5px;}
.title_serp_main {
	margin:10px 0 -10px 0;
	padding:10px 0 0 0;
	font-size:14px;
	font-weight:bold;
	color:#0072BC;
}
.serp_main_left {
	margin:0;
	padding:0;
	float:left;
	width:505px;
}
.serp_main_right {
	margin:15px 0 0 0;
	padding:0;
	float:right;
	width:300px;
}
.search_block_main {
	margin:0 0 20px 0;
	padding:0;
	float:left;
	width:820px;
}

.title_serp_main_sction {
	overflow:hidden;
	width:100%;
	height:40px;
}

.title_serp_main_sction p.title_serp_main {color:#242424;}

.serp_main_playlist .play_scroll {
	margin:0;
}
.serp_main_playlist .songs_row {
	line-height:28px;
	color:#666;
	float:left;
	width:500px;
}
.serp_main_video .serp_frame_main_video {
	margin:0 10px;
}
.serp_main_wallpaper .serp_frame_main {
	margin:0 10px;
}

div.search_block_main .block3 .white_right_block .event_listing ul,
ul.search_related{list-style:none; line-height:24px; margin:10px 0 15px;}

div.search_block_main .block3 .white_right_block .event_listing ul li a,
ul.search_related li a {font-size:14px;padding:6px 0;display:block;}

/* serp_filter section css */
div.resultant_summary{width:235px;display:block;overflow:hidden;padding:0 0 10px 0;}
#serp_filter * .navi_title {margin: 5px 10px 0 0;}

#serp_filter div.float_left.margin_left15 div.dropdown.gry{margin:0 15px 0 0;}
div.float_left.tv_show_filter div.dropdown.gry {margin:0 10px 0 0;}

#serp_filter * .drop_middle {width:90px;}
#serp_filter * .drop_middle.width82 {width:82px;}

#serp_filter * a#link_search_options1 .drop_middle,
#serp_filter * a#link_search_options4 .drop_middle {width:60px;}

#filter_by_cat .drop_box_middle,
div.drop_box.scroll .drop_box_middle{height: 200px !important;overflow-x: hidden;overflow-y: scroll;width: 113px;}
#serp_filter * a#link_search_options4 .drop_middle {width:65px;} 

/* wide menu */



/* drop_box_toowide */

#serp_filter * .drop_box.drop_box_toowide,
.add_biz * .drop_box.drop_box_toowide{
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right:-10px;top: 30px;
	width: 240px;
	z-index: 101;
}

.drop_box_toowide .drop_box_top {
	background-position: -260px -502px;
	margin:0;
	padding:0;
	width:235px;
	height:5px;
	float:left;
}

#serp_filter * .drop_box.drop_box_toowide .drop_box_middle,
.add_biz * .drop_box.drop_box_toowide .drop_box_middle {
	background-position: -260px -504px;
	margin:0;
	padding:0;
	height: 158px !important;
	overflow:hidden;
	width: 235px;
	float:left;
}

#serp_filter * .drop_box.drop_box_toowide .drop_box_middle .scrollmenu,
.add_biz * .drop_box.drop_box_toowide .drop_box_middle .scrollmenu {
	height:158px;
	overflow-x:hidden;
	overflow-y:scroll;
	width:228px;
}

#serp_filter * .drop_box.drop_box_toowide .drop_box_middle .drop_box_list li a,
.add_biz * .drop_box.drop_box_toowide .drop_box_middle .drop_box_list li a {
	margin:0 6px 0 6px;
	padding:10px 0;
	border-bottom:1px solid #f0f0f0;
	width:220px;/*
	color:#333;*/
	display:block;
}

#serp_filter * .drop_box.drop_box_toowide .drop_box_bottom,
.add_biz * .drop_box.drop_box_toowide .drop_box_bottom  {
	background-position: -260px -661px;
	margin:0;
	padding:0;
	width:235px;
	height:14px;
	float:left;
}

.width577 { width:577px !important;}
#serp_serachbtn.askmeSearch {margin:18px 0 0 0;}
#serp_serachbtn * .search_middle input {width:185px;}
#serp_serachbtn .search_btn {margin:0 0 13px 15px;}

/* no result found */
ul.serp_suggestion {overflow:hidden;list-style-type:none;font-size:13px;line-height:20px;}

#serp_burp_events_listview {margin:0 0 0 -10px;}
#serp_burp_events_listview.block_left550 {width:530px;}
#serp_burp_events_listview .block_left548 {border:none !important;width:527px !important;}
#serp_burp_events_listview * #event_naviagion ul li.width180 {width:170px !important;}
#serp_burp_events_listview * .event_search ul {width:138px;}
.width830 {width:830px !important;}

#serp_burp_events_listview * #event_naviagion {background-color:#ffffff;}
#serp_burp_events_listview * .navi_title {margin:10px 15px 0 0;}
#serp_burp_events_listview * #gray_dropdown {margin:5px 0 0 0;}
#serp_burp_events_listview * #eventRateList .list {padding:12px 0;}

.zigzagbox.left_align .top {left:15px;}
.zigzagbox.left_align .data {text-align:left;}
#looking_for .frame50 {margin:5px 0 0 0;}

#pagination.inner_pagination ul{margin:20px 0 10px 0;border-top:1px solid #C0BFBD;border-left:1px solid #C0BFBD;}
#serp_burp_events_listview .white_block.gray_block_fafafa.width508,
#serp_burp_events_listview .more_link_big.darkhr {width:488px;}
#serp_burp_events_listview .white_block.gray_block_fafafa.width508 .exclus_frame22{margin:0 50px 0 0;}
#serp_burp_events_listview .white_block.gray_block_fafafa.width508 .exclus_frame22.last{margin:0 0 0 0;}

#serp_burp_events_listview *  #eventRateThumbs .burrp_frame_main_block {margin:0 16px 20px 16px;}

/* music serach pages css */
.search_block_songs .serp_frame_artist{margin:0 20px 20px 0;}

.serp_frame_artist.margintop20 {margin:20px 20px 0 0;}
.serp_frame_artist.margintop20.last{margin:20px 0 0;}

#serp_music_playlist .add_list {right:-5px;}
#serp_songs .block_row,
#serp_songs .block_row1 {border-bottom:none;padding:8px;}

/* Songs and Playlist section area for new Music serp page */

ul.bigList{ padding:0px; margin:0px;}

ul.bigList li {list-style-type:none; float:left; width:100%; position:relative; }

ul.bigList li:hover {background:url("http://im.active18.com/images/music/rtop.png") repeat-y top left #d53225; position:relative; margin-left:-14px; padding-left:14px;}

ul.bigList li .bBot{  background:url("http://im.active18.com/images/music/rtop.png") no-repeat 0 100%; position:relative; float:left; width:100%; z-index:1; height:3px; left:-14px; bottom:-3px; visibility:hidden;}
ul.bigList li:hover .bBot{  background:url("http://im.active18.com/images/music/rtop.png") no-repeat 0 100%; position:relative; float:left; width:100%; z-index:1; height:3px; left:-14px; bottom:-3px; visibility:visible;}

ul.bigList li .cMid,
ul.bigList li:hover .cMid{ position:relative; float:left; width:98%;  padding:8px;}

ul.bigList li .playbtn{float:left; width:46px; height:35px; position:absolute; left:-11px; top:0; z-index:2;}

ul.bigList li:hover .detail a.blackAnchor, ul.bigList li:hover .detail a.blue_anchor, ul.bigList li:hover .listen{ color:#fff !important; text-decoration:none;}  

ul.bigList .block_row {
    /*border-bottom: 1px dashed #CCCCCC;*/
	border:0;
    margin: 0;
	height:auto;
	padding:0;
}

ul.bigList .block_rowW {
   /* border-bottom: 1px dashed #CCCCCC;*/
   border:0;
    margin: 0;
	background:#fafafa;
	
}

.cMid .detail {
    float: left;
    margin: 3px 0 0 10px;
    padding: 0;
	max-width:325px;
	*width:325px;
	width:auto;
}

.cMid .detail .title {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 0;
}

.cMid .listen {
    color: #AFAFAF;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    margin:0 auto;
}

ul.bigList .block_row .add_list,
ul.bigList .block_rowW .add_list  {float:right; margin-right:1%; height:18px; width:18px !important; background-position:-254px 0;position:relative; top:0; }

ul.bigList .block_row .add_list:hover,
ul.bigList .block_rowW .add_list:hover{background-position:-254px -18px;}

.cMid .detail .description {
    color: #999999;
    font-size: 11px;
    font-style: italic;
    margin: 5px 0;
    padding: 0;
}


.seemore_arrow {
    background-position: -132px -198px;
	float: left;
    height: 20px;
    margin: -2px 0px 0 0;
    padding: 0;
    width: 18px;
}

.white_block.full_width * .search_block_main .block3 .white_right_block1,.white_block.full_width * .search_block_main .block3 .white_right_block, .white_block.full_width * .search_block_main .block3 .gray_block{*float:right;}
#bcity.gray_block{*width:258px;}


.result_title_new {
    font-size: 14px;
    font-weight: normal;
    margin:0;
    padding: 15px 0 5px;
}
.serp_news_frame_detail .icon_screen_blue{box-shadow: 0 3px 2px #CCCCCC;}
.color66{color:#666;}
.color33{color:#333;}
.color22{color:#222;}
.search_block_ringtone .detail {
    border-left: 1px solid #f3f3f3;
    padding: 10px 0 10px 10px;
}
.search_block_ringtone .block_row1 .play_btn, .search_block_ringtone .block_row .play_btn{margin-top:6px;}
.block_row .detail .title, .block_row1 .detail .title{font-size:13px; margin:0 0 5px 0;}
#eventRateList .list .address.address_serp{color:#666;}
.serp_frame_row .search_tv_frame .title a{color:#666;}
#wrapper .h_scroll_detail div.resultant_summary{width:auto; padding:0 0 0}
.serp_news_frame_detail .light_gray{line-height:22px;}
.MB20{margin-bottom:20px;}
.h_scroll_detail .result_title{font-weight:normal;}
.serp_main_left .channel_frame109 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 110px;
    margin: 0 7px;
    padding: 0;
	box-shadow: 0 1px 2px #CCCCCC;
    position: relative;
    width: 110px;
}
.toptenplaylist	li span.music_list_detail1{overflow:hidden; white-space:nowrap;}