.signup_bottom a.arrowN, .signup_bottom a.arrowB {
	background:url(../images/in_sprite1.png) no-repeat;
}

.sign_up_lightbox_class {
	width:650px !important;
	margin:0 !important;
	padding:0 !important;
}
#sign_up_lightbox {
	padding:0 !important;
}
.signup {
	margin:0 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
}
.signup_logo img {
	margin:0 20px 0 0;
	padding:0 20px 0 0;
	border-right:1px solid #d9d9d9;
	float:left;
}
.signup_logo h3 {
	margin:8px 0 0 0;
	padding:0;
	font-size:18px;
	float:left;
}
.signup_main {
	margin:10px 0 0 0;
	padding:0;
	border-right:1px dashed #d9d9d9;
	width:370px;
	float:left;
}
.signup_username {
	margin:20px 0 20px 0;
	padding:0;
	background:url(../images/signup_user_bg.png) 0 0 no-repeat;
	width:388px;
	height:39px;
	float:left;
}
.signup_password {
	margin:0 0 20px 0;
	padding:0;
	background:url(../images/signup_pass_bg.png) 0 0 no-repeat;
	width:388px;
	height:39px;
	float:left;
}
.signup_username input, .signup_password input {
	margin:5px 5px 5px 45px;
	padding:0;
	background:none;
	border:none;
	font-family: 'opensan-webfont';
	font-size:14px !important;
	font-style:italic;
	color:#666;
	width:280px;
	height:30px;
}
.ui-widget-content a.forgot_password {
	margin:6px 0 0 40px;
	padding:0;
	color:#0072BC !important;
	font-style:italic;
	float:left;
}
.ui-widget-content a:hover.forgot_password {
	text-decoration:underline;
}
.rememberme {
	margin:20px 0;
	padding:0;
	float:left;
	color:#555555;
	width:130px;
}
.rememberme input {
	margin:0 5px 0 0;
	float:left;
}
.signup_reg {
	margin:0 0 20px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	color:#555555;
}
.ui-widget-content .signup_reg a {
	font-style:italic;
	color:#D53225;
}
.signup_options {
	margin:0 0 0 30px;
	padding:0;
	float:left;
}
.signup_options p {
	margin:0 0 10px 0;
	font-size:14px;
	font-style:italic;
	color:#555555;
}
a .signup_facebook {
	margin:0 15px 20px 0;
	padding:0;
	background:url(../images/signup_facebook.png) 0 0 no-repeat;
	width:81px;
	height:110px;
	float:left;
}
a:hover .signup_facebook {
	background:url(../images/signup_facebook_selected.png) 0 0 no-repeat;
}
a .signup_twitter {
	margin:0 0 20px 0;
	padding:0;
	background:url(../images/signup_twitter.png) 0 0 no-repeat;
	width:81px;
	height:110px;
	float:left;
}
a:hover .signup_twitter {
	background:url(../images/signup_twitter_selected.png) 0 0 no-repeat;
}
a .signup_yahoo {
	margin:0 15px 20px 0;
	padding:0;
	background:url(../images/signup_yahoo.png) 0 0 no-repeat;
	width:81px;
	height:110px;
	float:left;
}
a:hover .signup_yahoo {
	background:url(../images/signup_yahoo_selected.png) 0 0 no-repeat;
}
a .signup_gmail {
	margin:0 0 20px 0;
	padding:0;
	background:url(../images/signup_gmail.png) 0 0 no-repeat;
	width:81px;
	height:110px;
	float:left;
}
a:hover .signup_gmail {
	background:url(../images/signup_gmail_selected.png) 0 0 no-repeat;
}
.sign_up_lightbox_class .ui-dialog-titlebar {
	background:none;
	border:none;
}
.sign_up_lightbox_class .ui-dialog-titlebar {
	display:none;
}
a .signup_btn_close {
	margin:6px 5px 5px 5px;
	padding:0;
	background:url(../images/btn_close.png) 0 0 no-repeat;
	float:right;
	width:24px;
	height:25px;
}
.signup_bottom {
	margin:0;
	padding:10px 0 0 0;
	background:#fafafa;
	border-top:1px solid #e4e4e4;
	float:left;
	width:100%;
}
.signup_bottom p {
	text-align:center;
}

.signup_bottom a.arrowN.next{left:inherit !important;}
/*.signup_bottom a.arrowN.prev{left:inherit !important;}*/

.signup_bottom a.arrowN {
	 background-position:-954px -505px;
	 position: absolute;
	 z-index:9;
	 top:10px;
	 right:0px;
	 width:27px;
	 height:52px;
	 cursor:pointer;
}

.signup_bottom a.arrowN:hover {
	 background-position:-954px -559px;
}

.signup_bottom a.arrowN.active{
	 background-position:-954px -614px;
}

.signup_bottom a.arrowN.disable{
	 background-position:-954px -669px;
}

.signup_bottom a.arrowB {
	 background-position:-927px -505px;
	 position: absolute;
	 z-index:9;
	 top:10px;
	 left:0px;
	 width:27px;
	 height:52px;
	cursor:pointer;
}

.signup_bottom a.arrowB:hover {
	 background-position:-927px -559px;
}

.signup_bottom a.arrowB.active {
	 background-position:-927px -614px;
}

.signup_bottom a.arrowB.disable {
	 background-position:-927px -669px;
}
.signup_bottom .scrollable {
	width:650px;
	 height: 75px;
    overflow: hidden;
    position: relative;
}

.gallery_sidebar {
    float: left;
    margin: 10px 0 5px;
    position: relative;
}

.signup_bottom .gallery_sidebar .scrollable ul {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.signup_bottom .gallery_sidebar .scrollable ul.items {
    position: absolute;
    width: 20000em;
}


.signup_bottom .gallery_sidebar .scrollable ul li {
	margin:15px 25px 0 25px;
	border:none;
	width:auto;
	height:auto;
	float:left;
	list-style-type:none;
}

.ui-dialog.sign_up_lightbox_class{top:140px !important;}

.ui-widget-overlay.withopacity{
	background:url("../images/dot_trans.png") repeat scroll 0 0 transparent;
}


/*set alarm*/
.tv_alarm_lighbox_class .ui-dialog-titlebar, .tv_set_alarm_lighbox_class .ui-dialog-titlebar, .tv_flag_lighbox_class .ui-dialog-titlebar {
	background:none;
	border:none;
}
.tv_alarm_lighbox_class .ui-dialog-titlebar, .tv_set_alarm_lighbox_class .ui-dialog-titlebar, .tv_flag_lighbox_class .ui-dialog-titlebar {
	display:none;
}
.tv_set_alarm_lighbox_class {
	width:350px !important;
	height:108px !important;
	padding:0 !important;
	border:none !important;
}
.tv_alarm_lighbox_class {
	width:350px !important;
	height:200px !important;
	padding:0 !important;
	border:none !important;
}
.tv_flag_lighbox_class {
	width:405px !important;
	height:380px !important;
	padding:0 !important;
	border:none !important;
}
.set_sms_reminder1 {
	margin:0;
	padding:10px;
	float:left;
	width:332px;
	height:108px;
	font-size:12px;
}
.set_sms_reminder {
	margin:0;
	padding:10px;
	float:left;
	width:332px;
	height:200px;
	font-size:12px;
}
.set_flag {
	margin:0;
	padding:10px 20px;
	float:left;
	width:375px;
	height:380px;
	font-size:12px;
}
.set_sms_reminder1 h1 {
	margin:0;
	padding:0;
	font-size:25px;
	line-height:25px;
	color:#333;
}
.set_sms_reminder h1 {
	margin:0;
	padding:0;
	font-size:37px;
	line-height:37px;
	color:#333;
}
.set_flag h1 {
	margin:0;
	padding:0;
	font-size:45px;
	line-height:45px;
	color:#333;
}
.set_sms_reminder .dropdown {
	margin:5px 0 0 0;
}
.alarm_info {
	margin:10px 0 0 5px;
	font-size:11px;
	color:#666;
	float:left;
}
.set_reminder {
	margin:0;
	padding:10px;
	background:#e43a2d;
	float:left;
	width:330px;
	position:absolute;
	left:0;
}
.set_reminder h3 {
	font-size:22px;
	color:#FFF;
}
.set_flag_options {
	margin:10px 0 20px 0;
	padding:0;
	float:left;
}
.set_flag_options input {
	margin:8px 0 0 0 ;
	float:left;
}
.set_flag_options span {
	margin:8px 0 0 5px;
	float:left;
}
.set_flag_textarea {
	margin:5px 0 20px 0;
	padding:0;
	background:url(../images/flag_textarea.png) 0 0 no-repeat;
	width:365px;
	height:85px;
	float:left;
}
.set_flag_textarea textarea {
	margin:5px;
	padding:0;
	background:none;
	border:none;
	width:355px !important;
	height:70px !important;
}
.tv_flag_lighbox_class .submit_btn {
	margin:3px 0 0 0;
}
.alarm_info1 a {
	margin:8px 0 0 10px;
	font-size:11px;
	color:#0072BC !important;
	font-style:italic;
	float:left;
}
.alarm_info1 a:hover {
	text-decoration:underline;
	color:#0072BC !important;
}
.drop_layout {
	background:#f9f9f9; 
	border:1px solid #d6d6d6; 
	border-top:none; 
	box-shadow:0 2px 5px #d6d6d6; 
	border-radius:5px; 
	margin:0 0 10px 0; 
	width:150px;
}
.drop_layout_main{ 
    width: 150px !important;
}
.drop_layout_main a {
	margin:0 !important;
	width:150px !important;
}
#myPlayer .sign_up_lightbox_class .ui-dialog-content.ui-widget-content{ background:#fff !important;}
