#topnav

{   padding: 0;

    margin:20px 20px 0px 20px;

    width: 860px;

	height:40px;

	background:#f6f6f6;

	border:1px solid #cdcdcd;

	box-shadow: 0 1px 2px #cdcdcd;

	border-radius: 2px 2px 2px 2px;

	position:relative;

	z-index:9;

}

#topnav .main_tabs a.nav_tabs.selected, #topnav .main_tabs a.nav_tabs.active {
    background: none repeat scroll 0 0 #D53125;
    border-left: 1px solid #D53125;
    border-right: 1px solid #D53125;
    color: #FFFFFF;
}

#topnav .main_tabs a.nav_tabs.selected:hover, #topnav .main_tabs a.nav_tabs.active:hover {
    color: #FFFFFF;
}

#topnav .main_tabs{

	padding:0;

	width:740px;

	height:40px;

	float:left;

	font-family: 'oswald-webfont';

	text-transform:uppercase;

	position:relative;

}



#topnav .main_tabs a.nav_tabs {

	border-left:1px solid #fff;

	border-right:1px solid #dedbd6;

	font-size:14px;

	text-align:center;

	line-height:40px;

	float:left;

	position:relative;

	padding:0 10px;

}



#topnav .main_tabs a.nav_tabs .icon_home {

	background:url(../images/icon_home.png) no-repeat left top;

	width:19px;

	height:18px;

	float:left;

	margin:10px 0 12px 0;

	text-indent:-9999px;

}

#topnav .main_tabs a.nav_tabs.selected .icon_home {

	background:#d53125 url(../images/icon_home.png) no-repeat right top;

	width:19px;

	height:18px;

	float:left;

	margin:10px 0 12px 0;

	text-indent:-9999px;

	border-left:1px solid #d53125;

	border-right:1px solid #d53125;

}



#topnav .main_tabs  a.nav_tabs:hover {

	/*background:#d53125;

	border-left:1px solid #d53125;

	border-right:1px solid #d53125;*/

	color:#D53225;

}

/*#topnav .main_tabs  a.nav_tabs.selected*/ #topnav .main_tabs  a.nav_tabs.active {

	background:#d53125;

	border-left:1px solid #d53125;

	border-right:1px solid #d53125;

	color:#FFF;

}



#topnav .main_tabs a.nav_tabs.last {

	border-right:0px solid #dedbd6;

}



#topnav .main_tabs a.nav_tabs .arrow_down {

	margin:0;

	padding:0;

	background-position: -890px -31px;

	position:absolute;

	bottom:-6px;

	/*left:auto;*/

	width:11px;

	height:6px;

	display:block;

	left:40%;

	z-index: 1;

	display:none;

}



#topnav .main_tabs  a.nav_tabs.selected .arrow_down  {

	display:block;

	z-index: 1;

}







#topnav .more_list_detail2 {

    background: url("../images/shadow.png") repeat-x scroll 0 bottom #FFFFFF;

    display: none;

    height: auto;

    margin: 0;

    padding: 0;

    width:860px;

    z-index:999;

	position:absolute;

	top:40px;

	left:-1px;

	border:1px solid #dedbd6;

	border-bottom:0 !important;

}



#topnav .more_list_gray_box {

    background: none repeat scroll 0 0 #fafafa;

    float: left;

	border-top: 1px solid #E4E4E4;

	border-bottom: 1px solid #E4E4E4;

    margin: 7px 0;

    padding: 20px;

    width: 820px;

}



#topnav .more_list_gray_box ul {

    /*float: left;*/

    list-style: none outside none;

    margin: 0;

    padding: 0;

    /*width: 110px;*/

}



/**/

#topnav1

{   padding: 0;

    margin:20px 20px 0px 20px;

    width: 860px;

	height:40px;

	background:#f6f6f6;

	border:1px solid #cdcdcd;

	box-shadow: 0 1px 2px #cdcdcd;

	border-radius: 2px 2px 2px 2px;

	position:relative;

	z-index:100;

}



#topnav1 .main_tabs{

	padding:0;

	width:740px;

	height:40px;

	float:left;

	font-family: 'oswald-webfont';

	text-transform:uppercase;

	position:relative;

}



#topnav1 .main_tabs a.nav_tabs {

	border-left:1px solid #fff;

	border-right:1px solid #dedbd6;

	font-size:14px;

	text-align:center;

	line-height:40px;

	float:left;

	position:relative;

	padding:0 10px;

}



#topnav1 .main_tabs a.nav_tabs .icon_home {

	background:url(../images/icon_home.png) no-repeat left top;

	width:19px;

	height:18px;

	float:left;

	margin:10px 5px 0 0;

	text-indent:-9999px;

}



#topnav1 .main_tabs  a.nav_tabs:hover, #topnav1 .main_tabs  a.nav_tabs.active {

	background:#d53125;

	border-left:1px solid #d53125;

	border-right:1px solid #d53125;

	color:#FFF;

}

#topnav1 .main_tabs  a.nav_tabs.home_tab{

	background:#d53125;

	border-left:1px solid #d53125;

	border-right:1px solid #d53125;

	color:#fff;

}



#topnav1 .main_tabs  a.nav_tabs .icon_home {

	background:url(../images/icon_home.png) no-repeat right top;

	width:19px;

	height:18px;

	float:left;

	margin:10px 0 12px 0;

	text-indent:-9999px;

}





#topnav1 .main_tabs a.nav_tabs.last {

	border-right:0px solid #dedbd6;

}



#topnav1 .main_tabs a.nav_tabs .arrow_down {

	margin:0;

	padding:0;

	background-position: -890px -31px;

	position:absolute;

	bottom:-6px;

	/*left:auto;*/

	width:11px;

	height:6px;

	display:none;

	left:40%;

	z-index: 1;

}



#topnav1 .main_tabs a.nav_tabs:hover .arrow_down, #topnav1 .main_tabs  a.nav_tabs:hover.active .arrow_down  {

	/*display:block;*/

}



#topnav1 .main_tabs  a.nav_tabs.active .arrow_down  {

	/*display:block;*/

	z-index: 1;

}





#topnav1 .more_list_detail2 {

    background: url("../images/shadow.png") repeat-x scroll 0 bottom #FFFFFF;

    display: none;

    height: auto;

    margin: 0;

    padding: 0;

    width:860px;

    z-index:999;

	position:absolute;

	top:40px;

	left:-1px;

	border:1px solid #dedbd6;

	border-bottom:0 !important;

}



#topnav1 .more_list_gray_box {

    background: none repeat scroll 0 0 #fafafa;

    float: left;

	border-top: 1px solid #E4E4E4;

	border-bottom: 1px solid #E4E4E4;

    margin: 7px 0;

    padding: 20px;

    width: 820px;

}



#topnav1 .more_list_gray_box ul {

    float: left;

    list-style: none outside none;

    margin: 0;

    padding: 0;

    width: 110px;

}