#tv, #tv2 {}

.frame86122_block {

	margin:20px 0px 10px 0;

	padding:0;

	float:left;

	/*width:92px;

	text-align:center;*/

}



/* top bar right side drop down new arrow */



#tv .search_dropdown_burrp, #deadSerial .search_dropdown_burrp  {

    float: left;

    margin-top: 9px;

}



#tv .search_dropdown_burrp .drop_middle, #deadSerial .search_dropdown_burrp .drop_middle {

    background: none !important;

}



#tv .search_dropdown_burrp .drop_text, #deadSerial .search_dropdown_burrp .drop_text {

    color: #0072BC;

    font-size: 12px;

    font-style: normal;

    padding: 1px 10px 0 5px;

}



#tv .search_dropdown_burrp .drop_right, #deadSerial .search_dropdown_burrp .drop_right {

    background: url("http://im.active18.com/images/burrp/discover_drop_icon.png") no-repeat scroll 0 0 transparent;

    height: 15px;

    width: 17px;

}





.frame86122 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:92px;

	height:128px;

	float:left;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

	position:relative;

}

.frame86122 .photo86122 {

	margin:3px;

	padding:0;

	background:#292929;

	width:86px;

	height:122px;

	overflow:hidden;

	float:left;

	

}



.tab_frame_cont_tv {

    float: left;

    margin: 0 0 0 20px;

    padding: 0;

    width: 400px;

}



/* tv section slider */



.slidertab_tv{

	background:#FFFFFF;

    border: 1px solid #DEDBD6;

	border-top:none;

    float: left;

	width:545px;

	height:142px;

	}

	

a.tab5_tv{

    float: left;

    height: 142px;

    width: 106px;

	text-align:center;

	position:relative;

}



a .tab5_tv_tab{

    background:#FFFFFF;

    color: #666;

    cursor: pointer;

    display: inline-block;

    font-weight: bold;

    height: 142px;

    margin: 0;

    padding: 0;

    width: 106px;

}



a:hover .tab5_tv_tab, a.active .tab5_tv_tab {

    background: none repeat scroll 0 0 #D53225;

    /*border-left: 1px solid #95231A;*/

    color: #FFFFFF;

}	



a .tab5_tv_top {

    background-image: url("http://im.active18.com/images/top_arrow106.png");

    background-position: 0 0 !important;

    background-repeat: no-repeat;

    display: none;

    height: 10px;

    left: 0;

    position: absolute;

    top: -6px;

    width: 106px;

    z-index: 1;

}



a:hover .tab5_tv_top, a.active .tab5_tv_top {

	background-image: url("http://im.active18.com/images/top_arrow106.png");

    background-position: 0 0 !important;

    display: block;

	z-index: 99;

}



a .tab5_tv_thumb {

	background:#333;

	height:49px;

	width:86px;

	margin:15px 10px 10px 10px;

	float:left;

}



a .tab5_tv_thumb img {

	height:49px;

	width:86px;

}





a:hover .tab5_tv_thumb, a.active .tab5_tv_thumb {

	background:#333;

	height:49px;

	width:86px;

	margin:15px 10px 10px 10px;

	float:left;

}



 a.tv_link{

	color:#0072BC !important;

	clear:both;

}



a.tv_link :hover, a.tv_link .active{

	color:#821007 !important;

	clear:both;

}





#tv .zigzagbox .data {

    padding: 10px 14px;

}



.navi_title_sp {

    float: left;

    font-size: 11px;

    font-style: italic;

    margin: 18px 15px 0px 15px;

    padding: 0;

}



/* tv schedule self bg */



.tvtoday_bar {

    background: url("http://im.active18.com/images/tv/tv_selfbg.png") no-repeat scroll left top transparent;

    float: left;

    /*height: 195px;*/

    margin: 0;

    padding: 0;

    width: 847px;

}



.tvshow_bar {

    background: url("http://im.active18.com/images/tv/tv_showbg.png") no-repeat scroll left top transparent;

    float: left;

    /*height: 195px;*/

    margin: 0;

    padding: 0;

    width: 847px;

}





/*.tvtoday_bar_main {

    float: left;

    height: 195px;

    margin: 0;

    padding: 0;

    width: 847px;

}*/



.paddingLR7 {

    padding: 0 7px !important;

}



.full_width2 {

    width: 844px;

}





/*.margin_left10 {

    margin-left: 10px !important;

}*/

.tv_bar_scroll {

    float: left;

    margin: 4px 16px 0 14px;

    padding: 0;

    position: relative;

    width: 111px;

}



.tv_bar_scroll_thumb {

    background: none repeat scroll 0 0 #292929;

    display: block;

    float: left;

    height: 165px;

    overflow: hidden;

    padding: 0;

    position: relative;

    top: 0;

    width: 119px;

}



.tv_bar_detail {

    padding: 25px 0 15px 0;

    text-align: center;

    width: 119px;

}



/* show section */

.marginL30 {

    margin-left: 30px !important;

}



.switch_upcomming {position:absolute; left:0; right:130px;}



.tvshow_bar_scroll {

    float: left;

    margin: 4px 0 0 14px;

    padding: 0;

    position: relative;

    width: 140px;

}



.tvshow_bar_scroll_thumb {

    background: none repeat scroll 0 0 #292929;

    display: block;

    float: left;

    height: 105px;

    overflow: hidden;

    padding: 0;

    position: relative;

    top: 0;

    width: 140px;

}



.tvshow_bar_detail {

    padding: 25px 0 15px 0;

    text-align: center;

    width: 140px;

}





#tv .info, #tv2 .info, #deadSerial .info{ font-size:11px; padding:3px 0px;}



.marginL47{ margin-left:48px !important;}





/* ccolumn patter box */

.tvcolum

{

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #DEDBD6;

    margin: 20px 0 0;

	width:282px;

	float:left;

	/*padding: 0px 15px 15px 15px;*/

	}

	

#coming_up .tvcolum{

	min-height:475px;

}



#coming_up  .tvcolum_frame_block{

	height:185px;

}

	

.tvcolum2

{

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #DEDBD6;

    margin: 20px 0 0;

	padding-bottom:5px;

	width:270px;

	float:left;

	}	



.tvcolum h3, .tvcolum2 h3 {

    float: left;

    margin: 0;

    padding: 20px 0 20px 0px;

}



.tvcolum .white_block_data, .tvcolum2 .white_block_data {

    background: none repeat scroll 0 0 #FFFFFF;

    border-bottom: 1px solid #DEDBD6;

    overflow: hidden;

    /*padding: 20px 20px 15px;*/

	padding: 0px 10px 0px 10px;

}



.tvcolum .grey_block_data, .tvcolum2 .grey_block_data {

    background: none repeat scroll 0 0 #F5F5F5;

    /*border-bottom: 1px solid #DEDBD6;*/

    overflow: hidden;

    /*padding: 20px 20px 15px;*/

	padding: 0px 15px 0px 15px;

}

/* new list type icon */



.comming_show_block_tv {

    float: left;

    margin: 0;

    padding: 0 0 20px;

    position: relative;

    width: 260px;

    z-index: 0;

}



.comming_show_block_tv .show_frame_small_detail {

    float: left;

    font-size: 11px;

    margin: 0;

    padding: 0 0 0 10px;

    width: 120px;

}



.comming_show_block_tv .show_frame_small_detail .title {

    font-size: 12px;

    font-weight: bold;

    margin: 5px 0;

    padding: 0;

}	

	

.tvcolum_frame_block

{

	 text-align:center;

	 width:100px;

	 padding:0 10px 5px 10px;

	 float:left;

	 margin:5px 0 8px 0;

	 /*height:195px;*/

	}



.tv_frame86 {

	margin:0 auto 10px auto;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:92px;

	height:128px;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

	position:relative;

}

.tv_frame86 .tv_photo86 {

	margin:3px;

	padding:0;

	background:#292929;

	width:86px;

	height:122px;

	overflow:hidden;

	float:left;

	

}



.more_link_3c {

    background: none repeat scroll 0 0 #FAFAFA;

    border-bottom: 1px solid #DEDBD6;

    border-left: 1px solid #DEDBD6;

    border-right: 1px solid #DEDBD6;

    border-top: 0 solid #DEDBD6 !important;

    float: left;

    margin: 0;

    width: 282px;

}



.more_link_3c .view_all_video {

    margin: 0 auto;

    padding: 15px 0;

    width: 30%;

}



.more_link_3c_last {

    background: none repeat scroll 0 0 #FAFAFA;

    border-bottom: 1px solid #DEDBD6;

    border-left: 1px solid #DEDBD6;

    border-right: 1px solid #DEDBD6;

    border-top: 0 solid #DEDBD6 !important;

    float: left;

    margin: 0;

    width: 269px;

}



.more_link_3c_last .view_all_video {

    margin: 0 auto;

    padding: 15px 0;

    width: 30%;

}	

		

/*#home_update .white_block_middle {

    width: 424px;

}*/



.tvshow_frame_block

{

	 text-align:center;

	 width:100px;

	 padding:0 10px;

	 float:left;

	 margin-bottom:15px;

	 height:135px;/*h*/

	

	}



.tvshow_frame84 {

	margin:0 auto 12px auto;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:90px;

	height:69px;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

}

.tvshow_frame84 .tv_show84 {

	margin:3px;

	padding:0;

	background:#292929;

	width:84px;

	height:63px;

	overflow:hidden;

	float:left;

	

}

.height475{

	height:475px;

	}

.height390 { height:390px !important;}	



.activebox{

	width:249px;

	margin:0 0 15px 0;

	}

.activebox .top{

	background:url(http://im.active18.com/images/tv/tv_text_top.png) no-repeat left top;

	height:6px;

	clear:both;

	}



.activebox .bot{

	background:url(http://im.active18.com/images/tv/tv_text_bot.png) no-repeat left top;

	height:8px;

	clear:both;

	}



.activebox .data{

	background:url(http://im.active18.com/images/tv/tv_text_mid.png) repeat-y top;

	padding:0 15px 5px;

	overflow:hidden;

	height:40px;

	}



.activebox .data .text1{

	font-size:14px;

	font-family:'oswald-webfont';

	}	

	

.activebox .data .text2{

	font-size:12px;

	font-weight:bold;

	color:#222;

	}



.activebox .data .text3{

	font-size:12px;

	font-weight:normal;

	color:#666666;

	}				

	

.paddingLR_10 {

    padding: 0 10px!important;

}





#tv2 .title {

    font-size:12px;

    font-weight: bold;

    margin: 30px 0 3px 0px;

    padding: 0;

    text-align: center;

    /*width: 227px;*/

}



#tv2 .title2 {

    font-size:12px;

    font-weight: bold;

    margin:5px 0 3px 0px;

    padding: 0;

    text-align: center;

    /*width: 227px;*/

}



#tv2 .info{ text-align:center;}



#tv2 .game_frame_big_main { min-height:260px;}







/*  Home Slider section */



.tv_block238 { width:238px; margin:15px 0 0 18px; float:left;}

.tv_block210 { width:225px; border-left:1px dashed #7f785d; padding:0 0 0 35px; margin-top:15px; float:left;}



.tv_frame180135 {

	margin:0 0 10px 0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:205px;

	height:155px;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

}

.tv_frame180135 .tv_photo180135 {

	margin:3px;

	padding:0;

	background:#292929;

	width:199px;

	height:149px;

	overflow:hidden;

	float:left;

	

}





.tv_frame199149_details {

    float: left;

    margin: 0px 0 0 20px;

    padding: 0;

    width: 285px;

}



.tv_frame199149 {

	margin:0px 0 10px 0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:205px;

	height:155px;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

	float:left;

}

.tv_frame199149 .tv_photo199149 {

	margin:3px;

	padding:0;

	background:#292929;

	width:199px;

	height:149px;

	overflow:hidden;

	float:left;

	

}



.tv_frame12090 {

	margin:0px 0 10px 0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:126px;

	height:96px;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

	float:left;

}

.tv_frame12090 .tv_photo12090{

	margin:3px;

	padding:0;

	background:#292929;

	width:120px;

	height:90px;

	overflow:hidden;

	float:left;

	

}



.tab_frame_cont_tv3 {

    float: left;

    margin:0 0 0 20px;

    padding: 0;

    width: 360px;

}



.tab_frame_cont_tv3 h3 { color:#fff !important;}



.show_tonight_block {width:230px; font-style:italic;}



.show_tonight_block .row {padding:10px 0; color:#999; border-bottom:1px solid #4b4b4b; width:100%; margin:0px; line-height:16px;}



.show_tonight_block .row .title{ color:#fff; font-size:12px;}

.show_tonight_block .row .time{ color:#ded4c0; font-size:11px;}

.show_tonight_block .row .ganer{ font-size:11px;}







/*=================Channel Home page section=================*/



/*search section */



#tv .search_dropdown_burrp .drop_middle, #deadSerial .search_dropdown_burrp .drop_middle{

	background:none;

}



#tv .search_dropdown_burrp .drop_right, #deadSerial .search_dropdown_burrp .drop_right{

	background:url(http://im.active18.com/images/tv/discover_drop_icon.png) no-repeat 0 0;

	height:15px;

	width:17px;

}



#tv .search_dropdown_burrp .drop_text, #deadSerial .search_dropdown_burrp .drop_text {

    color: #0072BC;

	font-size:12px;

	font-style:normal;

	padding:1px 10px 0 5px;

}



#tv .channelSearch, #deadSerial .channelSearch{

	margin:20px 0 0 0;

	padding:0 5px;

	color: #333333;

    font-family: 'oswald-webfont';

    font-size: 14px;

    font-weight: normal;

    

}



#tv .channelSearch .search_box, #deadSerial .channelSearch .search_box{

	margin:0;

	padding:0;

}



#tv .channelSearch span.label, #deadSerial .channelSearch span.label{float:left; padding:2px 10px; text-transform: uppercase;}



#tv .channelSearch .search_left, #deadSerial .channelSearch .search_left{

	background: url("http://im.active18.com/images/in_sprite1.png") no-repeat scroll -448px 0;

	height:24px;

	width:26px;

}



#tv .channelSearch .search_middle, #deadSerial .channelSearch .search_middle{

	 background: url("http://im.active18.com/images/search_big.png") repeat-x scroll left top transparent;

    /*width: 370px !important;*/

	height:24px;

}



#tv .channelSearch  .search_last, #deadSerial .channelSearch  .search_last{

	background:url(http://im.active18.com/images/tv/search_sec.png) -250px 0 ;

	height:24px;

	width:18px;

}



#tv .channelSearch .search_middle input, #deadSerial .channelSearch .search_middle input{

	width:225px;

	color:#EBEBEB;

	padding:4px 0;

	float:left;

}



#tv .channelSearch .search_box .search_left, #deadSerial .channelSearch .search_box .search_left{

	background: url(http://im.active18.com/images/tv/black_round_left.png) no-repeat left top; 

	width:13px;

	height:24px;

	overflow:hidden;

}







.channel_block {

	margin:0 0 21px 0;

	float:left;

}



.channel_frame109 {

	margin:0 7px;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:110px;

	height:110px;

	float:left;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

	position:relative;

}

.channel_frame109 .channel_photo109 {

	margin:22px 18px;

	padding:0;

	background:#FFF;

	/*width:106px;

	height:106px;*/

	overflow:hidden;

	float:left;

	vertical-align:middle;

	

}

.tv_frame_small_detail {

	float: left;

    font-size: 11px;

    margin: 0;

    /*padding: 0 0 0 10px;*/

    width:255px;

}



.tv_frame_small_detail .timeL {

    width:50px;

	margin-right:5px;

	font-size:11px;

	color:#D53225;

	float:left;

	padding-top:2px;

}



.tv_frame_small_detail .dataR {

    width:195px;

	float:left;

}





#tv .news_blockquote {

    color: #333333;

    float: left;

    font-size: 14px;

    line-height: 22px;

    margin: 10px 0;

    width: 210px;

}



#tv h2 {

    font-size: 14px;

    font-weight: bold;

    margin: 15px 0;

}



#tv .dropdown2 {

    margin:10px ;

    padding: 0;

    z-index: 10;

}



.tv_frame_detail {

	float: left;

    font-size: 11px;

    margin: 0;

    padding: 0 0 0 10px;

    /*width:245px;*/

}



.tv_frame_detail p {

    margin:0;

    padding: 0;

	text-align:left;

	color:#666;

	font-weight:normal !important;

}





/* ======================== Channel Detilas page ================================*/







.tv_color{ margin:23px 9px !important;}



.tab_frame_cont_tv2 {

    float: left;

    margin:0 0 0 20px;

    padding: 0;

    width: 370px;

}



.tv_channel {

    float: left;

    padding: 0;

    width: 547px;

}



.tv_channel ul {

	margin:0;

	padding:0;

	font-family: 'oswald-webfont';

	font-size:14px;

	color:#333;

	text-transform:uppercase;

	font-weight:normal;

}

.tv_channel li { list-style:none; float:left; }

.tv_channel ul a {

  display:block;

  padding:6px 14px;

  color:#616161;

  position:relative;

}

.tv_channel ul a:hover {

  color:#D53225;

  background:#000;

  }

.tv_channel ul a.selected {

  color:#fff;

  background:#000;

  cursor:default;

  }

  

.tv_channel .tab_div {

	padding:0 15px;

	border-bottom:none;

	background:#000;

	width:517px;

	float:left;

}

.tv_channel li a .usual_divider {

	margin:0 0 0 0;

	position:absolute;

	right:3px;

	width:1px;

	color:#4d4d4d;

	/*color:#F00;*/

}

.tv_channel li a.selected .usual_divider, .tv_channel li a:hover .usual_divider {

	display:none !important;

}





 .tv_channel ul li.first {

	 padding-left:35px !important;

  } 

 

 .color_tab_frame{

	 padding:15px 18px;

	 float: left;

	 text-align:center;

	 color:#999;

	 position:relative;

	 }

.color_tab_frame1{

	 padding:40px 15px;

	 float: left;

	 text-align:center;

	 color:#999;
	 width:93px;

	 position:relative;

	 }

.color_tab_frame a, .color_tab_frame1 a {

	color:#999;

}

.color_tab_frame a:hover, .color_tab_frame1 a:hover {

	color:#0072BC;

}



.white_block_ch {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #DEDBD6;

    float: left;

    margin: 20px 0 0;

    padding:0;

}



.white_block_ch .schedule_section{

	padding:0 20px;

}



.white_block_ch h3 {

    float: left;

    margin:20px 0 20px 0;

    padding: 0;

}



.tv_ch_detila { padding: 0 20px !important;}

	 

#tv .display_content{height:auto;}



#tv .follow_share { margin:10px 0 !important;} 



.paddtop8{padding-top:8px;}



/*.chenal_schdule_out{font-family: 'oswald-webfont'; float:left; margin:0px; position:relative; padding:0px; width:548px; overflow:hidden;} */



.chenal_schdule{font-family: 'oswald-webfont'; margin:0; position:relative; padding:0px; width:548px; overflow:hidden; height:65px;} 



.chenal_schdule .progr_scroll{font-family: 'oswald-webfont'; margin:0px 39px;  position:relative; padding:0px; width:470px; overflow:hidden; height:65px;} 



.chenal_schdule ul.schedule{ list-style-type:none; display:inline; margin:0;} 



.chenal_schdule ul.schedule{ 

	list-style-type:none; 

	float:left;

	/*display:inline-block;*/

	width:2500px;

	}

	

.chenal_schdule ul.schedule li{ 

	list-style-type:none;

	float:left;

	text-align:center;

	margin-left:5px;

	border-right:1px solid #f4f3f1;	

	position:relative;

	} 

.chenal_schdule ul.schedule li.last{border-right:none;}



.chenal_schdule ul.schedule li a .day{

	font-size:14px;

	text-transform:uppercase;

	} 

.chenal_schdule ul.schedule li a .date{

	font-size:11px;

	color:#999;

	} 



.chenal_schdule ul.schedule li a { text-decoration:none; padding:5px 0px; width:61px; height:42px; display:block; }

.chenal_schdule ul.schedule li a .drownarrow, .chenal_schdule ul.schedule li a .uparrow{ display:none;}

.chenal_schdule ul.schedule li a:hover, .chenal_schdule ul.schedule li a.selected{background:#d53225; color:#fff; padding:5px 0px; width:61px; height:42px;}

.chenal_schdule ul.schedule li a:hover .date, .chenal_schdule ul.schedule li a.selected .date{color:#fff;}

.chenal_schdule ul.schedule li a:hover .drownarrow, .chenal_schdule ul.schedule li a.selected .drownarrow, .chenal_schdule ul.schedule li a:hover .uparrow, .chenal_schdule ul.schedule li a.selected .uparrow { display:block;}



	

.chenal_schdule ul.schedule li .drownarrow{ 

	background:url(http://im.active18.com/images/tv/tv_arrow.png) no-repeat left top;

	width:10px;

	height:5px;

	position:absolute;

	bottom:-5px;

	left:45%;

	overflow:hidden;

} 



.chenal_schdule ul.schedule li .uparrow{ 

	background:url(http://im.active18.com/images/tv/tv_arrow.png) no-repeat left bottom;

	width:10px;

	height:5px;

	position:absolute;

	top:-5px;

	left:45%;

	overflow:hidden;

}



.chenal_schdule a.arrowB {

    background-position: -927px -505px;

    cursor: pointer;

    height: 52px;

    left:0px;

    position: absolute;

    top: 0px;

    width: 27px;

    z-index: 9;

}	



.chenal_schdule a.arrowB:hover {background-position: -927px -559px;}

.chenal_schdule a.arrowB.active {background-position: -927px -614px;}

.chenal_schdule.arrowB.disable {background-position: -927px -669px;}



.chenal_schdule a.arrowN {

    background-position: -954px -505px;

    cursor: pointer;

    height: 52px;

    position: absolute;

    right: 0px;

    top:0px;

    width: 27px;

    z-index: 9;

}





.chenal_schdule a.arrowN:hover { background-position: -954px -559px;}

.chenal_schdule a.arrowN.active {background-position: -954px -614px;}

.chenal_schdule a.arrowN.disable { background-position: -954px -669px;}





.schedule_grid {

	background:#fcfcfc;

	border:1px solid #f7f6f5;

	padding:10px;

	margin:10px 0;

	clear:both;

	overflow:hidden;

}



.schedule_grid_alt {

	background:#fff;

	border:1px solid #fff;

	padding:10px;

	margin:10px 0;

	clear:both;

	overflow:hidden;

}



.sc_grid_frame50 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:56px;

	height:56px;

	/*box-shadow:0 1px 2px #CCC;*/

	border-radius:3px;

	float:left;

}





.sc_grid_frame50 .sc_grid_photo50 {

	margin:3px;

	padding:0;

	background:#292929;

	width:50px;

	height:50px;

	overflow:hidden;

	float:left;

}



.schedule_grid .schedule_details, .schedule_grid_alt .schedule_details {float:left; width:400px; margin-left:15px;}



.schedule_grid .schedule_details .title, .schedule_grid_alt .schedule_details .title  { font-size:15px; font-weight:bold; color:#333333;}

.schedule_grid .schedule_details .title .lite_gray, .schedule_grid_alt .schedule_details .title .lite_gray{ font-size:12px; font-weight:normal; color:#666666;}

.schedule_grid .schedule_details .info, .schedule_grid_aalt .schedule_details .info { font-size:13px; font-weight:bold; color:#d53225;}

.schedule_grid .schedule_details .description, .schedule_grid_alt .schedule_details .description { font-size:11px; font-style:italic; color:#666;}



.red_right_block .advt { padding:0px; margin:0px; /*height:249px;*/ float:left; position:relative; width:300px;}



.red_right_block .data, #deadSerial .red_right_block .data  { text-align:left;}



.red_right_block .advt a.arrowB {

    background-position: -927px -505px;

    cursor: pointer;

    height: 52px;

    left: 0px;

    position: absolute;

    top: 85px;

    width: 27px;

    z-index: 9;

}	



.red_right_block .advt a.arrowB:hover {background-position: -927px -559px;}

.red_right_block .advt a.arrowB.active {background-position: -927px -614px;}

.red_right_block .advt a.arrowB.disable {background-position: -927px -669px;}



.red_right_block .advt a.arrowN {

    background-position: -954px -505px;

    cursor: pointer;

    height: 52px;

    position: absolute;

    right: -1px;

    top: 85px;

    width: 27px;

    z-index: 9;

}



.red_right_block .advt a.arrowN:hover { background-position: -954px -559px;}

.red_right_block .advt a.arrowN.active {background-position: -954px -614px;}

.red_right_block .advt a.arrowN.disable { background-position: -954px -669px;}





.zigzagbox_img {

    margin:0;

    padding: 0;

    position: relative;

    width:300px;

	float:left;

	height:249px;

}







/* ======================Dead Serial =========================*/

#deadSerial {}



#deadSerial .tab_frame_content h1, #deadSerial .tab_frame_content .music_data, #deadSerial .tab_frame_content .album_block2 .title{color:#000000;}

#deadSerial .frame14 {height: 226px;}

#deadSerial .frame14 .photo14 {height: 220px;}



#deadSerial .album_block1 {

    margin-right: 50px;

    min-height: 50px;

    padding: 0 20px;

}



#deadSerial .album_playlist a.btn_like, #deadSerial .album_playlist a.btn_dislike, #deadSerial .album_playlist {

    margin-top: 18px;

}



#deadSerial .more_link_big {

    padding: 0 5px;

    width: 538px;

}





#deadSerial .show_grid {

	border-bottom:1px dashed #cacac8;

	padding:10px 0;

	margin:10px 0;

	clear:both;

	overflow:hidden;

}



#deadSerial .show_grid .heading {

	float:left;

	width:105px;

	font-size:14px;

	font-weight:bold;

	color:#333;

	}

	

#deadSerial .show_grid .details {

	float:left;

	width:390px;

	font-size:12px;

	color:#666;

	}

	

#deadSerial .comments_view {

    margin: 15px 0;

}



#deadSerial .comments_view .viewer .frame {

    background-position: -453px -8px;

    height: 60px;

    margin-bottom: 5px;

    overflow: hidden;

    width: 60px;

}



#deadSerial .comments_view .viewer .frame img {

    height: 50px;

    padding: 4px;

    width: 50px;

}

	

#deadSerial .comments_view .viewer {

    font-size: 11px;

    font-style: italic;

    text-align: center;

    width: 58px;

}		



#deadSerial .viewer_cmnt {

    position: relative;

    width: 440px;

}



#deadSerial .viewer_cmnt .middle {

    background: none repeat scroll 0 0 #FFFFFF;

    border-left: 1px solid #D0D0D0;

    border-right: 1px solid #D0D0D0;

    overflow: hidden;

    padding: 5px 10px;

}



#deadSerial .viewer_cmnt .rply_comment {

    background-position: -8px -100px;

    font-size: 11px;

    height: 10px;

    margin: 0;

    padding: 0 10px;

    position: relative;

    text-align: right;

}



.in_sprite_grey, .viewer_cmnt .top, .rply_comment, .arrow_cmnt, .viewer .frame {

    background-image: url("http://im.active18.com/images/in_sprite_g.png");

    background-repeat: no-repeat;

}



#deadSerial .viewer_cmnt textarea {

    background: none repeat scroll 0 0 transparent;

    border: medium none;

    color: #999;

    display: block;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 12px;

    font-style: oblique;

    height: 60px !important;

    margin: 0 auto;

    overflow: auto;

    width: 420px !important;

}







	

a .commentRed {

	width:93px;

	height:24px;

	background-position: -347px -883px;

	float:left;

}

a:hover .commentRed {

	background-position: -347px -908px;

}

a.active .commentRed {

	background-position: -347px -932px;

}



/* ================= tv search page =============== */





.search_tv_block{

   /*border-bottom:1px dashed #cacac8;

	padding:10px 0;

	margin:10px 0;

	clear:both;

	overflow:hidden;*/

	float: left;

    margin: 0;

    padding: 0;

    width: auto;

}



.search_tv_frame {

    float: left;

    margin:0 20px 0 0;

    padding: 0;

    width: 105px;

	text-align:right;

}



.search_tv_frame {

    float: left;

    margin:0 20px 0 0;

    padding: 0;

    width: 105px;

	text-align:right;

}

.search_tv_frame.width125 {

    float: left;

    margin:0 20px 0 0;

    padding: 0;

    width: 125px;

	text-align:left;

}



.search_tv_frame.width142 {

    float: left;

    margin:0 20px 0 0;

    padding: 0;

    width: 142px;

	text-align:left;

}



.search_tv_Details.width340{

	width:340px;

}



.search_tv65_65 {

    background:#FFFFFF;

    border: 1px solid #C4C4C4;

    border-radius: 3px 3px 3px 3px;

    box-shadow: 0 1px 2px #CCCCCC;

    float:right;

    height: 71px;

    margin: 0;

    padding: 0;

    position: relative;

    width: 71px;

}



.search_tv65_65 .photo {

    background:#292929;

    float: left;

    height: 65px;

    margin: 3px;

    overflow: hidden;

    padding: 0;

    width: 65px;

}



.search_tv_frame .title {

	font-size:14px;

	font-weight:bold;

	color:#666666;

	padding:5px 0 0 0;

	}	

	

.search_tv_frame .info {

	font-size:11px;

	color:#d53225;

	padding:10px 0 0 0;

	}



.search_tv_frame .logimg {

	float:right;

	padding-top:5px;

	margin:0px;

	}			



#tvshow_serp .search_block_ringtone .serp_frame_row .search_tv_block .search_tv_frame.width125 .logimg {

	position:absolute;

	z-index:1;

	top:100px;

	right:0;

}



#tvmovies_serp .search_block_ringtone .serp_frame_row .search_tv_block .search_tv_Details.width340 .logimg {

	position:absolute;

	z-index:1;

	top:0;

	left:100px;

	padding:2px 12px;

}

.search_tv_Details {

    float: left;

    margin: 0;

    padding: 0;

    width: 380px;

}	



.search_tv_Details .title {

	font-size:14px;

	font-weight:bold;

	color:#000000;

	padding:0;

	}



.search_tv_Details .description {

	font-size:12px;

	color:#666666;

	padding:5px 0 0 0;

	}

	

.search_tv_Details .info {

	font-size:11px;

	color:#666666;

	padding:5px 0 0 0;

	font-style:italic;

	}

#deadSerial .search_block_ringtone { clear:both; overflow:hidden;}	



#deadSerial .search_middle input, .search_middle_long input {

    color:#999;

}	



#deadSerial .serp_frame_row {

    border-bottom: 1px dashed #CCCCCC;

    /*float: left;*/

    margin: 0;

    padding: 10px 0;

    width: 505px;

	overflow:hidden;

	clear:both;

}



/* ======================= SMS reminder ======================= */



#deadSerial .button {

    /*float: right;*/

    margin:15px 0 ;

}

#deadSerial .button .utdp_text {

    color: #FFFFFF;

    float: left;

    font-family: 'opensan-webfont';

    font-size: 11px;

    font-style: italic;

    font-weight: normal;

    height: 13px;

    margin: 0 5px;

    max-width: 120px;

    min-width: 50px;

    padding: 5px 5px 0 0;

}





#deadSerial .sms_rem_row {

    border-bottom: 1px dashed #CCCCCC;

    /*float: left;*/

    margin: 0;

    padding: 10px 0;

    width: 505px;

	overflow:hidden;

	clear:both;

}



.sms_rem_row .col1 {

    float: left;

    margin:0 20px 0 0;

    padding: 0;

    width:80px;

	text-align:right;

	border:1px solid #e9e8e7;

}



.sms_rem_row .radio {

    float: left;

    margin: 5px;

    padding: 0;

    width: 27px;

}



.sms_rem_row .col2 {

    float: left;

    margin: 0;

    padding: 0;

	display:block;

    width: 300px;

}



.sms_rem_row .col2 .info {

	font-size: 11px;

    padding:0;

	color:#666;

}



.sms_rem_row .col2 .title {

	font-size: 16px;

    padding-top:5px;

	color:#333;

}



.sms_rem_row .col2 .description {

	font-size: 12px;

    padding:3px 0;

	color:#333;

}



.sms_rem_row .col3 {

	float:right;

    margin: 0;

    padding: 0;

    width: 52px;



}



/* ====================== TV - consumption page - MOVIE =============== */



#tv .tab_frame_cont_movie .movie_review {

    padding:5px 0;

	line-height:20px;

	color:#fff;

	font-weight:bold;

}



#tv .more_link_big {

    padding: 10px 20px;

}



#tv .frame14 { height: 316px !important;}

#tv .frame14 .photo14 { height:310px; !important;}



#tv .tap_down {

    bottom: -2px;

    right: -11px;

}



/*a.btn_like, a.btn_dislike {

    color: #666666;

    float: left;

    font-size: 14px;

    font-weight: bold;

    line-height: 28px;

    margin: 0 15px 0 0;

}*/



.btn_alarm, .btn_flag {background: url("http://im.active18.com/images/icon_sprite.png") no-repeat;}



a.btn_alarm {

	background-position:0 0;

    float: left;

    height: 30px;

    margin: 0 5px 0 0;

    width: 30px;

	text-indent:-9999px;

}

a.btn_alarm:hover {

   	background-position:-31px 0px;

}



a.btn_alarm.active, a.btn_alarm:active 

{

   	background-position:-62px 0px;

}



a.btn_flag {

	background-position:0px -29px;

    float: left;

    height: 30px;

    margin: 0 5px 0 0;

    width: 30px;

	text-indent:-9999px;

}



a.btn_flag:hover {

	background-position:-31px -29px;

}



a.btn_flag.active, a.btn_flag:active 

{

   	background-position:-62px -29px;

}



.more_link_tv {

    background:#FAFAFA;

	border:1px solid #DEDBD6;

    float: left;

    margin: 0;

    padding: 10px 20px;

    width: 505px;

}



#tv .more_link_tv .follow_share {

    margin:0!important;

}



/* movie-tab  */



.tv_movie546 {

	background:#FFFFFF;

    border: 1px solid #DEDBD6;

    float: left;

    margin: 20px 0 0;

    padding:0px;

	width: 546px;

}



.tv_movie546 .tab_small {

    width:546px;

	overflow:hidden;

	clear:both;

	height:64px;

	margin:0px;

	padding:0px;

	/*background:none;*/

	border:none;

}



.tv_movie546 .tab_small a.aboutmovie_tab {

    background-position: 0 0;

    width:190px;

}





.tv_movie546 .tab_small a.castcrew_tab {

    background-position: -190px 0;

    width: 170px;

}



.tv_movie546 .tab_small a.tvmusic_tab {

    background-position: -360px 0;

    width: 186px;

}





.tv_movie546 .tab_small a.showdes_tab {

    background-position: 0 -130px;

    width:190px;

}





.tv_movie546 .tab_small a.showdetail_tab {

    background-position: -190px -130px;

    width: 170px;

}





.tv_movie546 .tab_small a.aboutmovie_tab:hover, .tv_movie546 .tab_small a.aboutmovie_tab.active {

    background-position: 0 -64px;

}





.tv_movie546 .tab_small a.castcrew_tab:hover, .tv_movie546 .tab_small a.castcrew_tab.active {

    background-position: -190px -64px;

}



.tv_movie546 .tab_small a.tvmusic_tab:hover, .tv_movie546 .tab_small a.tvmusic_tab.active {

    background-position: -360px -64px;

}



.tv_movie546 .tab_small a.showdes_tab:hover, .tv_movie546 .tab_small a.showdes_tab.active {

    background-position: 0px -194px;

}



.tv_movie546 .tab_small a.showdetail_tab:hover, .tv_movie546 .tab_small a.showdetail_tab.active {

    background-position: -190px -194px;

}





.tv_movie546 .tab_small a {

    background: url("http://im.active18.com/images/tv/tv_tab.png") no-repeat -10px 0;

    float: left;

    height: 64px;

}







.tv_frame134100_block {

    float: left;

    padding: 0;

    /*width: 162px;*/

}

.tv_frame134100 {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #C4C4C4;

    border-radius: 3px 3px 3px 3px;

    /*box-shadow: 0 1px 2px #CCCCCC;*/

    float: left;

    height: 106px;

    margin: 0;

    padding: 0;

    position: relative;

    width: 140px;

}

.tv_frame134100 .photo134100 {

    background: none repeat scroll 0 0 #292929;

    float: left;

    height: 100px;

    margin: 3px;

    overflow: hidden;

    padding: 0;

    width: 134px;

}



.Comp_Schedule_row {

	border-bottom:1px dashed #e6e6e6;

	padding:0px px;

	margin:10px 5px;

	clear:both;

	overflow:hidden;

}



.margin_left15 {

    margin-left:15px !important;

}





.sms_reminder_module {

    margin: 15px 18px;

    padding: 0;

	float:left;

    text-align: center;

	width:235px;

}



.sms_reminder_module .big_gray_input {

    float: left;

    margin: 0 10px 5px 0;

    padding: 0;

    width: 137px;

}



.sms_reminder_module .big_gray_input_mid  {

    margin: 0;

    width: 110px;

}



.sms_reminder_module .big_gray_input_mid  input {

    width: 100px !important;

}



.sms_reminder_module .mobile_btn {

    margin: 0px 8px 0 0;

	 *margin: 0px 5px 0 0;

	float:left;

}









.tv_frame119164_block {

    float: left;

    padding: 0;

    /*width: 162px;*/

}

.tv_frame119164 {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #C4C4C4;

    border-radius: 3px 3px 3px 3px;

    /*box-shadow: 0 1px 2px #CCCCCC;*/

    float: left;

    height: 170px;

    margin: 0;

    padding: 0;

    width: 125px;

}

.tv_frame119164 .photo119164 {

    background: none repeat scroll 0 0 #292929;

    float: left;

    height: 164px;

    margin: 3px;

    overflow: hidden;

    padding: 0;

    width: 119px;

}



.tv_frame119164_block .sms_details {

	width:121px;

	float:left;

	margin-left:15px;

	}

	

.tv_frame119164_block .sms_details .title {

	font:12px;

	font-weight:bold;

	color:#222;

	}	

	

.tv_frame119164_block .sms_details .info {

	font:11px;

	margin-top:10px;

	float:left;

	}



a .btn_smsReminder {

	width:137px;

	height:25px;

	background-position: -418px -682px;

	position:relative;

	margin:0 auto;

	display:block;

	cursor:pointer;

}



a:hover .btn_smsReminder {

	background-position: -418px -707px;

}

a.active .btn_smsReminder {

	background-position: -418px -731px;

}



.tv_movie546 .margin15 {

    clear: both;

    overflow: hidden !important;

}

.channels_frame_big_main {

    background:url(http://im.active18.com/images/channels_bg.png) no-repeat scroll 0 0 transparent;

    float: left;

    margin: 0;

    min-height: 205px;

    padding: 0;

    width: 860px;

}

.channels_frame_big_main_block, .channels_frame_big_main_block1 {

    float: left;

    margin: 0 0 0 40px;

    padding: 0;

}

.channels_frame_big_main_block1 {

    margin: 0 0 0 59px;

}

.channels_frame_main {

    float: left;

    height: 140px;

    margin: 0;

    overflow: hidden;

    padding: 0;

    position: relative;

    width: 149px;

}

.channels_frame_big_main .title {

    font-size: 12px;

    font-weight: bold;

    margin: 20px 0 0;

    padding: 0;

    text-align: center;

    width: 150px;

}

.channels_frame_big_main .description {

    color: #999999;

    font-size: 11px;

    font-style: italic;

    margin: 0;

    padding: 0;

    text-align: center;

    width: 150px;

}

.channels_frame {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #C4C4C4;

    /*box-shadow: 0 1px 2px #CCCCCC;*/

    float: left;

    height: 101px;

    margin: 0;

    padding: 0;

    position: relative;

    width: 106px;

}

.channels_frame .photo {

    background: none repeat scroll 0 0 #292929;

    float: left;

    height: 101px;

    margin:0;

    overflow: hidden;

    padding: 0;

    width: 106px;

}

.channels_frame_block {

    float: left;

    margin: 0 16px 5px;

    min-height: 155px;

    overflow: hidden;

    padding: 0;

    width: 110px;

}

.channels_frame_block .title {

    font-size: 12px;

    font-weight: bold;

    margin: 5px 0 0;

    padding: 0;

    text-align: center;

}

.channels_frame_block .description {

    color: #999999;

    font-size: 11px;

    font-style: italic;

    margin: 0;

    padding: 0;

    text-align: center;

}

.tv_frame220_320 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:226px;

	height:326px;

	float:left;

	border-radius:3px;

	position:relative;

}

.tv_frame220_320 .photo {

	margin:3px;

	padding:0;

	background:#292929;

	width:220px;

	height:320px;

	overflow:hidden;

	float:left;

}

.tv_frame86_122 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:90px;

	height:126px;

	float:left;

	border-radius:3px;

	position:relative;

}

.tv_frame86_122 .photo {

	margin:2px;

	padding:0;

	background:#292929;

	width:86px;

	height:122px;

	overflow:hidden;

	float:left;

}

.tv_movie_frame120_165 {

	margin:0;

	padding:0;

	background:#FFF;

	border:1px solid #c4c4c4;

	width:126px;

	height:171px;

	float:left;

	border-radius:3px;

	position:relative;

}

.tv_movie_frame120_165 .photo {

	margin:3px;

	padding:0;

	background:#292929;

	width:120px;

	height:165px;

	overflow:hidden;

	float:left;

}

.tv_movie_frame {

	margin:0;

	padding:0;

	width:230px;

	float:left;

}

.tv_movie_frame_detail {

	margin:0 0 0 15px;

	padding:0;

	float:left;

	width:250px;

}

.tv_movie_block {

	margin:15px 0 0 5px;

	padding:0;

	float:left;

	width:90px;

}

.tv_movie_block_detail {

	margin:15px 0 0 15px;;

	padding:0;

	float:left;

	width:140px;

}

.tv_movie_frame1 {

	margin:3px 0;

	padding:0;

	width:130px;

	float:left;

}

.tv_movie_frame1_detail {

	margin:3px 0 0 15px;

	padding:0;

	float:left;

	width:360px;

}

.tv_h3 {

	padding:14px 0 15px 14px !important;

}

.tv_photo_gallery #photogallery {

	margin:0 0 0 -21px;

}

.tv_photo_gallery #photogallery .block_photogarph {

	border-bottom:none;

}



/* ====================== TV - consumption page - Show =============== */



#tv .tab_block1 {

    background: url("http://im.active18.com/images/tab_transparent_bg.png") repeat scroll 0 0 transparent;

    float: left;

    height: 315px;

    left: 0;

    margin: 0;

    padding: 25px 15px 20px;

    position: absolute;

    top: 0;

    width: 240px;

}

	

#tv .tab_block2 {

    float: right;

    /*height: 310px;*/

    margin: 15px 0 0 22px;

    padding: 0;

    width: 238px;

}

		

		

#tv .tab_block1 .movie_review, #tv .tab_block2 .movie_review {font-size:12px; line-height:20px; color:#fff; padding-top:10px; } 



#tv .tab_block1 .movie_review span, #tv .tab_block2 .movie_review span {color:#666;}

.drop_box_middle.dd_mid_rpt{overflow-y:auto; overflow-x:hidden; height:238px;}



.tv_movie546 .dataL {

	float:left;

	font-size:14px;

	font-weight:bold;

	width:150px;

	margin-bottom:10px;

	}



.tv_movie546 .dataR {

	float:left;

	font-size:14px;

	color:#666;

	width:350px;

	margin-bottom:10px;

	}	 

	

/* NEW CSS */

.greyLinen{color:#4b4b4b; font-size:16px; padding:0 5px}

.greyLinen2{color:#4b4b4b; font-size:12px; padding:0 4px}

.greyLinen3{color:#c2c2c2; font-size:12px; padding:0 4px}

.Comp_Schedule_row_last{ border-bottom:none;clear: both;  margin: 10px 5px; overflow: hidden;}

.tv_movietab .dataRn2 {

    color: #666666; text-align:justify;

    float: left;

    font-size: 14px;

    margin-bottom: 10px;

}

#tv .tv_movie_block_detail h1, #tv .tv_movie_frame_detail h1, #tv .tv_movie_frame1_detail h1, #tv .tab_frame_cont_movie h1, #tv .tv_frame199149_details h1, #tv .tv_block238 h1, #tv .tv_block210 h1{line-height:30px !important; margin-top:5px; font-size:30px !important;}

#tv #news_tab .frame12{box-shadow:none;}



/* tagcloud page css - 2012.05.05 */

p.tagcloud {font-size:13px;line-height:36px;}

p.tagcloud span{padding:0 5px;}



.frequncy1 {font-size:13px;}

.frequncy2 {font-size:14px;}

.frequncy3 {font-size:14px;font-weight:bold;}

.frequncy4 {font-size:16px;font-weight:bold;}

.frequncy5 {font-size:18px;font-weight:bold;}

.frequncy6 {font-size:20px;font-weight:bold;}

.frequncy7 {font-size:24px;font-weight:bold;}



#blockSch .schedule_grid.offshow, #blockSch .schedule_grid.offshow .info, #blockSch .schedule_grid.offshow .title a, #blockSch .schedule_grid.offshow .description{color:#999999;}

#blockSch .schedule_grid.offshow .sc_grid_frame50 .sc_grid_photo50{opacity:0.3;}



/*tv*/

.color_schedule_dropdown {

 margin:-15px 0 0 0;

 float:right;

}

.drop_middle_channel{background-position: -348px -1218px; height:24px; float:left;}

a:hover .drop_middle_channel{background-position: -348px -1242px;}

a.active .drop_middle.drop_middle_channel{background-position: -348px -1266px;}

#div_color_schedule.drop_box {

 width:235px;

}

#div_color_schedule .drop_box_top {

 background-position: -260px -503px;

 width:235px;

}

#div_color_schedule .drop_box_middle {

 background-position: -260px -505px;

 width:235px;

 height: 150px !important;

}

#div_color_schedule .drop_box_bottom {

 background-position: -260px -661px;

 width:235px;

}

#div_color_schedule .drop_box_list li a {

 width:222px;

}

#div_color_schedule .drop_box_list {

 width:228px;

 height: 150px !important;

  overflow-x: hidden;

  overflow-y: scroll;

}

.topbar_tv {

 position:absolute;

 top:1px;

 left:1px;

 z-index:999;

 width: 543px !important;

 display:none;

}

.tab_view:hover .topbar_tv {

 display:block;

}

.topcontrol_h3 {

 margin:5px 0 0 5px;

 font-family: 'oswald-webfont';

  font-size: 12px;

 color: #333333 !important;

 float:left;

}



.topbar_tv a:hover .topcontrol_h3{

	color:#0072BC !important;

}



.topbar_tv a .btn_back {

 width:22px;

 background: url("http://im.active18.com/images/btn_back.png") no-repeat scroll 0 0 transparent;

  float: left;

  height: 28px;

}

.topbar_tv a .btn_back_end {

 margin:0 5px 0 10px;

 width:1px;

 background: url("http://im.active18.com/images/btn_back.png") no-repeat scroll 0 0 transparent;

  float: left;

  height: 28px;

}

.topbar_tv a:hover .btn_back {

  background: url("http://im.active18.com/images/btn_back.png") no-repeat scroll 0 -28px transparent;

}

.topbar_tv a.active .btn_back {

  background: url("http://im.active18.com/images/btn_back.png") no-repeat scroll 0 -56px transparent;

}

.topbar_tv a .btn_next {

  background: url("http://im.active18.com/images/btn_next.png") no-repeat scroll -5px 0 transparent;

  float: left;

  height: 28px;

  width: 29px;

}

.topbar_tv a:hover .btn_next {

  background: url("http://im.active18.com/images/btn_next.png") no-repeat scroll -5px -28px transparent;

}

.topbar_tv a.active .btn_next {

  background: url("http://im.active18.com/images/btn_next.png") no-repeat scroll -5px -56px transparent;

}

.tab_view {

 position:relative;

}



.top_control_detail_js .yellowgold{color:#eadea4; font-weight:bold;}

.top_control_detail_js .frame12, .top_control_detail_js .frame14{box-shadow:none;}



/**New Tab Content*07-05-2010**********************************/

#tv_show a .tab_view_tab {

	width:110px;

	_width:108px;

}

#tv_show a:hover .tab_view_tab, #tv_show a.active .tab_view_tab {

	background:#d53225;

	border-left:1px solid #95231a;

	color:#FFF;

}



#tv_show a.news_tab {

    float: left;

	height: 100px;

    width: 109px;

}



#tv_show .news_tab.last {

	border-right:1px solid #dedbd6;

}



#tv_show a .news_tab_top {

    background:url(http://im.active18.com/images/top_arrow108.png) no-repeat left top !important;

	width:108px !important;

}



#tv_show a .tab_top {

	background-position: 0 -308px;

	margin:0;

	padding:0;

	width:110px;

	height:10px;

	/*position:relative;*/

	position:absolute;

	display:none;

	top:-6px;

	left:0;

	z-index:1;

	border:none;

}



#tv_show a:hover .tab_top, #tv_show a.active .tab_top {

	display:block;

	

}

#tv_show .tab_top_movies {

	margin:20px 0 5px 30px;

	padding:0;

	background:url(http://im.active18.com/images/in_sprite1.png) no-repeat;

	width:43px;

	height:44px;

	float:left;

}

#tv_show a .tab_top_movies{

	background-position: -226px -1241px;

}

#tv_show a:hover .tab_top_movies, #tv_show a.active .tab_top_movies {

	background-position: -177px -1241px;

}



#tv_show .tab_tvseries {

	margin:17px 0 5px 30px;

	padding:0;

	background:url(http://im.active18.com/images/in_sprite1.png) no-repeat;

	width:50px;

	height:48px;

	float:left;

}

#tv_show a .tab_tvseries {

	background-position: -231px -1289px;

}

#tv_show a:hover .tab_tvseries, #tv_show a.active .tab_tvseries {

	background-position: -177px -1289px;

}

#tv_show .tab_sports {

	margin:22px 0 5px 33px;

	padding:0;

	background:url(http://im.active18.com/images/in_sprite1.png) no-repeat;

	width:44px;

	height:43px;

	float:left;

}



#tv_show a .tab_sports {

	background-position: -224px -1342px;

}

#tv_show a:hover .tab_sports, #tv_show a.active .tab_sports {

	background-position: -177px -1342px;

}



#tv_show .tab_comedy {

	margin:20px 0 5px 22px;

	padding:0;

	background:url(http://im.active18.com/images/in_sprite1.png) no-repeat;

	width:63px;

	height:45px;

	float:left;

}

#tv_show a .tab_comedy {

	background-position: -243px -1389px;

}

#tv_show a:hover .tab_comedy, #tv_show a.active .tab_comedy {

	background-position: -177px -1389px;

}



#tv_show .tab_reality {

	margin:27px 0 5px 30px;

	padding:0;

	background:url(http://im.active18.com/images/in_sprite1.png) no-repeat;

	width:50px;

	height:37px;

	float:left;

}

#tv_show a .tab_reality {

	background-position: -230px -1439px;

}

#tv_show a:hover .tab_reality, #tv_show a.active .tab_reality {

	background-position: -177px -1439px;

}

#tv_show .display_content {

	min-height:435px;

}

#tv_show .show_description {

	margin:10px 0 0 0;

	color:#999;

	line-height:18px;

}

.frame86122_block a{
	color:#0072BC !important;
}



#tv_show .red_right_block  {

	margin:10px 0 0 0;

	color:#999;

	line-height:18px;

}



#tv .tab_frame_cont_tv2 h1 {

	margin:5px 0 0 0;

}



#tvsms .drop_box { left:0;}



.tv_alarm_lighbox_class .ui-dialog .ui-dialog-content, .ui-dialog.tv_alarm_lighbox_class, .ui-dialog.tv_alarm_lighbox_class .ui-dialog-content {overflow:inherit;}


#coming_up .tvcolum .dropdown .drop_box_list { font-size:9px;}

.search_tv_Details .logimg{margin-left:5px;}



#tv .scrollable{height:inherit; overflow:inherit; width:inherit;}

#tv .scrollable .items{position:relative; width:inherit; list-style:none;}

.drop_box_middle.dd_mid_rptcn{overflow-y:auto; overflow-x:hidden; height: 238px}
.footer_channel h_scroll .play_footer {background: url("http://im.active18.com/images/in_sprite1.png") no-repeat -1028px -610px; bottom: 5px; cursor: pointer; display: none; float: left; height: 24px;    margin: 0 !important; position: absolute; left: 5px; width: 24px;}

#tv .tab_block2 h1{font-size: 30px !important; line-height: 30px !important; margin-top: 5px;}