.ut_left_block{
	position:relative;
	width:600px;
	float:left;
	font-family: 'opensan-webfont';
	font-stretch:expanded;
	padding-right:20px;
	color:#666;
	height:32px;
	bottom:0px;
	font-size:11px;
	}

.ut_left_block img{
	vertical-align:middle !important;
	}	

.ut_left_block .f_bold{
	font-weight:bold;
	color:#000;
	}	

.ut_left_block .usreinfo{
	padding:6px 15px 0px 4px;
	float:left;
	font-size:11px;
	/*width:176px;*/
	height:24px;
	/*overflow:hidden;*/
	}
	
.ut_left_block .usre{
	float:left;
	line-height:18px;
	font-size:11px;
	padding-right:18px;
	}	
	
.ut_left_block .usre img{
	float:left;
	padding-right:13px;
	height:22px;
	width:22px;
	overflow:hidden;
	}
	
.ut_left_block .usre .text{
	float:left;
	line-height:24px;
 	}
	
.ut_left_block .usre .text span{
	:#3f3f3f;
 	}
	
.ut_left_block .mail{
	float:left;
	position:relative;
	background:url(../images/icon_mailbl.png) no-repeat right top;
	/*padding-left:18px;
	padding-left:18px;*/
	width:46px;
	height:26px;
	display:none;
	}
.ut_left_block .mail span{
	padding-left:21px;
	color:#FFF;
	text-align:center;
	font-size:10px;
	line-height:20px;
	position:relative;
	}
.ut_left_block .mail .top{
	background:url('../images/icon_mailtop.png') no-repeat top right;
	position:absolute;
	z-index:99;
	/*display:block;*/
	height:16px;
	width:16px;
	left:40px;
	top:-3px;
	overflow:visible;
	}
	
.ut_left_block .rdlist{
	background:url(../images/icon_reading.png) no-repeat 10px 8px;
	padding:8px 0px 0px 40px;
	float:left;
	width:120px;
	height:22px;
	display:block;
	cursor:pointer;
	line-height:22px;
	position:relative;
	}
	
.ut_left_block .rdlist .inbox {
	background: url(../images/icon_box.png) no-repeat left top;
	width:15px;
	line-height:15px;
	display:block;
	text-align:center;
	color:#fff;
	margin:2px 10px 0px 0px;
	float:right;
	font-size:10px;
	}	

.ut_left_block .rdlist:hover, .ut_left_block .rdlist.selected{
	background:url(../images/icon_reading.png) no-repeat 10px 8px #fff;
	padding:8px 0px 0px 40px;
	}	
	
.ut_left_block .rdlist .ut_pop {
	display:none;
	}
	
.ut_left_block .rdlist:hover .ut_pop {
	display:block;
	background:#fff;
	}		
	
		
.ut_left_block .muslist{
	background:url(../images/icon_music.png) no-repeat  10px 8px;
	padding:8px 0px 0px 40px;
	float:left;
	width:119px;
	height:22px;
	cursor:pointer;
	line-height:22px;
	position:relative;
	}

.ut_left_block .muslist .inbox{
	background: url(../images/icon_box.png) no-repeat left top;
	width:15px;
	line-height:15px;
	display:block;
	text-align:center;
	color:#fff;
	margin:2px 10px 0px 0px;
	float:right;
	font-size:10px;
	}
		
.ut_left_block .muslist:hover, .ut_left_block .muslist.selected{
	background:url(../images/icon_music.png) no-repeat  10px 8px #fff;
	padding:8px 0px 0px 40px;
	}	

.ut_left_block .muslist .ut_pop {
	display:none;
	}
	
.ut_left_block .muslist:hover .ut_pop {
	display:block;
	background:#fff;
	}		
	
	
/* right side utlitiy bar */

.ut_right_block{
	float:right;
	font-family: 'opensan-webfont';
	font-stretch:expanded;
	color:#a3a2a1;
	position:relative;
	top:0px;
	font-size:11px;
	height:31px;
	}
	
.ut_right_block .nowviewing{
	float:left;
	font-stretch:expanded;
	color:#a3a2a1;
	padding-right:20px;
	padding:6px 10px 0px 0px;
	line-height:22px;
	width:80px;
	}

.ut_right_block .arrow{
	float:left;
	background:url(../images/anchor.png) no-repeat bottom left;
	position:absolute;
	width:20px;
	line-height:30px;
	color:#fff;
	text-align:center;
	z-index:99;
	height:32px;
	left:80px;
	top:-2px;
	}
/*.ut_right_block .arrow img{
	margin:6px 0px 0px 2px;
	text-align:center;
	}*/

.ut_right_block .expandable{
	background: url(../images/expand_bg.png) repeat-x left bottom;
	color:#fff;
	float:left;
	position:relative;
	z-index:9;
	/*padding:6px 0px 0px 0px;*/
	height:32px;
	_height:31px;
	padding-left:30px;
	}

.ut_right_block .expandable .stausdata{
	background:url(../images/icon_in.png) no-repeat 0px 7px;
	color:#fff;
	float:left;
	display:inline-block;
	line-height:22px;
	padding:6px 30px 0px 25px;
	cursor:pointer;
	}

.ut_right_block .expandable .stausdata a, .ut_right_block .expandable .stausdata_colors a{
	color:#fff;
	text-decoration:none;
	}	
.ut_right_block .expandable .stausdata_colors {
	background:none !important;
	color:#fff;
	float:left;
	display:inline-block;
	line-height:22px;
	padding:6px 30px 0px 0 !important;
	cursor:pointer;
}

.ut_right_block .expandable .share{
	float:left;
	padding-right:10px;
	}
	
.ut_right_block .expandable .share .sharetext{
	color:#939291;
	float:left;
	padding:0px 15px;
	padding:6px 0px 0px 0px;
	line-height:22px;
	cursor:pointer;
	display:block;
	}

.ut_right_block .expandable .share .icon{
	margin:10px 6px 0px 10px;
	float:left;
	display:none;
	}

/*.ut_right_block .expandable .share .icon{
    float: left;
    font-size: 1px;
    margin: 0px 0 0 3px;
    width: 17px;
}
.ut_right_block .expandable .share .icon .ut_facebook, .ut_right_block .expandable .share .icon .ut_twitter, .ut_right_block .expandable .share .icon .ut_googleplus, .ut_right_block .expandable .share .icon .ut_mail {
	float:left;
	height:14px;
	display:block;
	overflow:hidden;
}*/
a.ut_facebook {
	background:url(../images/icon_wt_fb.png) no-repeat left top;
	text-indent: -9999px;
	float:left;
	margin-right:3px;
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	}

a.ut_facebook:hover {
	background:url(../images/icon_wt_fb.png) no-repeat right top;
	display:block;
	overflow:hidden;
	}
		
a.ut_twitter {
	background:url(../images/icon_wt_t.png) no-repeat left top;
	text-indent: -9999px;
	float:left;
	margin-right:3px;
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	}

a.ut_twitter:hover {
	background:url(../images/icon_wt_t.png) no-repeat right top;
	display:block;
	overflow:hidden;
	}
	
a.ut_googleplus {
	background:url(../images/icon_wt_googleplus.png) no-repeat left top;
	text-indent: -9999px;
	float:left;
	margin-right:3px;
	width:22px;
	height:14px;
	display:block;
	overflow:hidden;
	}

a.ut_googleplus:hover {
	background:url(../images/icon_wt_googleplus.png) no-repeat right top;
	display:block;
	overflow:hidden;
	}	
	
a.ut_mail {
	background:url(../images/icon_wt_mail.png) no-repeat left top;
	text-indent: -9999px;
	float:left;
	margin-right:3px;
	width:19px;
	height:14px;
	display:block;
	overflow:hidden;
	}

a.ut_mail:hover {
	background:url(../images/icon_wt_mail.png) no-repeat right top;
	display:block;
	overflow:hidden;
	}						
	
/* utility bar poop up */

.ut_pop{
	width:458px;
	background:#FFF;
	border:2px solid #4c4c4c;
	border-bottom:none; 
	position:absolute;
	bottom:30px;
	top:auto;
	left:-2px;
	z-index:999;
	padding-bottom:25px;
	}
	
.ut_pop .data{
	padding:0 20px;
	}	

.ut_pop h3 {
	float: left;
    margin: 25px 0 20px;
    padding: 0;
	color: #D53225;
	}		
.ut_pop h3 span{
	color: #333333;
	}

.ut_pop .button{
	float: right;
    margin: 20px 0 0 20px;
	}
/* without right arrow drop down button css */	
.ut_pop .button .utdp_text {
	margin:0 5px 0 5px;
	padding:3px 5px 0 0;
	font-family:'opensan-webfont';
	min-width:50px;
	max-width:120px;
	font-size:11px;
	height:13px;
	font-style:italic;
	font-weight:normal;
	color:#FFF;
	float:left;
}

a .drop_right_normal{width:13px;	height:24px; background-position: -401px -243px; float:left;}
a:hover .drop_right_normal{background-position: -401px -267px;}
a.link_search_options.active .drop_right_normal{background-position: -401px -291px;}
	
	
/* utlity bar pop up grid style */

.ut_pop .gridrow {
	border-bottom:1px dashed #cac9c8;
	background:#fcfbfa;
	color:#222222;
	padding:12px 8px;
	/*font-weight:bold;*/
	cursor:pointer;
	/*clear:left;*/
	_height:30px;
	min-height:28px;
	overflow:hidden;
	}
	
.ut_pop .gridrow a {
	text-decoration:none;
	}

.ut_pop .gridrow a:hover {
	text-decoration:underline;
	}		
	
.ut_pop .tbod {
	border-top:1px solid #cac9c8;
	}	
	
.ut_pop .gridrow:hover, .ut_pop .gridrow.selected {
	border-bottom:1px dashed #cac9c8;
	background:#fff;
	padding:12px 8px;
	color:#338ec9;
	/*cursor:pointer;*/
	}

.ut_pop .gridrow .text{
	line-height:20px;
	float:left;
	width:360px;
	}
	
.ut_pop .gridrow .btnclose{
	display:none;
	}

.ut_pop .gridrow:hover .btnclose{
	background:url(../images/btn_close.png) no-repeat left top;
	float:right;
	width:25px;
	height:25px;
	padding:2px 8px 0px 0px;
	display:block;
	overflow:hidden;
	}		
		
.ut_pop .gridrow .text .small {
	font-size:10px;
	font-style:italic;
	color:#b3b3b3;
	}

.ut_pop .gridrow .text .small span {
	color:#338ec9;
	}			

.ut_saprator{
	float:left;
	height:30px;
	background: url(../images/ut_seprator.png) no-repeat bottom left;
	width:1px;
	display:block;
	padding:2px 0px 0px 0px;
	}

.ut_sapratorB{
	float:left;
	height:30px;
	background:url(../images/utB_seprator.png) no-repeat bottom left;
	padding:0px 10px 0px 10px;
	}
.notification {
	margin:0;
	padding:15px 15px 10px 15px;
	background:#e1f3ff;
	border:1px solid #4f626e;
	position:absolute;
	bottom:48px;
	left:-54px;
	width:250px;
	display:none;
	box-shadow:1px 1px 3px #000;
}
.notification_detail {
	margin:3px 0 0 0;
	padding:0;
	font-size:11px;
	font-style:italic;
	color:#333;
	width:210px;
	float:left;
}
.notification_close {
	margin:0;
	padding:0;
	float:right;
	font-size:1px;
}
.notification_arrow {
	margin:0;
	padding:0;
	background:url(../images/noti_arrow.png) 0 0 no-repeat;
	width:11px;
	height:6px;
	position:absolute;
	bottom:-6px;
	left:137px;
}
.gridrow .play_btn_small {
	margin: -3px 5px 0 0;
}

/* updated utlity bar style sheet start here */

.icon_info2, .rc_Activity, .icon_fav_ut, .mail2 {
	background-image:url(../images/in_sprite1.png)
	}	
	
.icon_info2 {
	width:19px;
	height:19px;
	background-position: -671px -885px;
	float:left;
	margin-top:3px;
}

.active .icon_info2 {
	width:19px;
	height:19px;
	background-position: -671px -865px;
	float:left;
	margin-top:3px;
}	

.ut_left_block .mail2{
	float:left;
	position:relative;
	background-position: -694px -863px;
	/*padding-left:18px;
	padding-left:18px;*/
	margin: 0 0 0 5px;
	width:35px;
	height:26px;
	display:none;
	}
.ut_left_block .mail2 .text{
	padding:0 8px;
	color:#FFF;
	text-align:center;
	font-size:10px;
	line-height:20px;
	position:relative;
	}
.ut_left_block .mail2 .top{
	background:url('../images/icon_mailtop.png') no-repeat top right;
	position:absolute;
	z-index:99;
	/*display:block;*/
	height:16px;
	width:16px;
	left:28px;
	top:-3px;
	overflow:visible;
	}
	
/*.ut_left_block .mail_box2{
	background-position: -694px -863px;
	width:35px;
	height:24px;
	float:left;
	margin-left:3px;
	position:relative;
	cursor:pointer;
}

.ut_left_block .mail_box2 .text{
	color:#fff;
	line-height:22px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	padding:0 8px;
}	
*/

.ut_left_block .rc_block, .ut_left_block.active .rc_block{
	padding:8px 0px 0px 10px;
	float:left;
	width:120px;
	height:22px;
	display:block;
	line-height:18px;
	position:relative;
	}
.ut_left_block.active .rc_block {
	cursor:pointer;
}
	
/*.active .rc_block{
	padding:0px 0px 0px 10px;
	float:left;
	width:120px;
	height:22px;
	display:block;
	cursor:pointer;
	line-height:18px;
	position:relative;
	}*/	

.ut_left_block .rc_block .inbox {
	/*background: url(../images/icon_box.png) no-repeat left top;*/
	width:15px;
	line-height:15px;
	display:block;
	text-align:center;
	color:#fff;
	margin:2px 10px 0px 0px;
	float:right;
	font-size:10px;
	}	

.ut_left_block.active .rc_block:hover, .ut_left_block.active .rc_block.selected{
	background:#fff;
	padding:8px 0px 0px 10px;
	}
	
.ut_left_block .rc_block .ut_pop {
	display:none;
	}
	
.ut_left_block.active .rc_block:hover .ut_pop {
	display:block;
	background:#fff;
	}	
	

.ut_left_block .favourit, .ut_left_block.active .favourit {
	/*background:url(../images/icon_music.png) no-repeat  10px 8px;*/
	padding:8px 0px 0px 10px;
	float:left;
	width:119px;
	height:22px;
	line-height:18px;
	position:relative;
	}
.ut_left_block.active .favourit {
	cursor:pointer;
}
	

.ut_left_block .favourit .inbox{
	background: url(../images/icon_box.png) no-repeat left top;
	width:15px;
	line-height:15px;
	display:block;
	text-align:center;
	color:#fff;
	margin:2px 10px 0px 0px;
	float:right;
	font-size:10px;
	}
		
.ut_left_block.active .favourit:hover, .ut_left_block.active .favourit.selected{
	background:#fff;
	padding:8px 0px 0px 10px;
	}

.ut_left_block .favourit .ut_pop {
	display:none;
	}
	
.ut_left_block.active .favourit:hover .ut_pop {
	display:block;
	background:#fff;
	}
	
		
.rc_Activity {
	width:19px;
	height:19px;
	background-position: -691px -984px;
	float:left;
	margin-right:10px;
}

.active .rc_Activity {
	width:19px;
	height:19px;
	background-position: -671px -984px;
	float:left;
	margin-right:10px;
}

.icon_fav_ut {
	width:19px;
	height:19px;
	background-position: -732px -984px;
	float:left;
	margin-right:10px;
}

.active .icon_fav_ut {
	width:19px;
	height:19px;
	background-position: -712px -984px;
	float:left;
	margin-right:10px;
	padding:0px;
}	


/* active class when changes the ut bar */

.active .mail, .active .icon_info2, .active .mail2, .active .rc_Activity, .active .icon_fav_ut{
	display:block;
	
	}
/**/
.ut_left_block .ut_notification, .ut_left_block.active .ut_notification{
	padding:5px 15px 0px 10px;
	float:left;
	/*width:120px;*/
	height:22px;
	display:block;
	line-height:22px;
	position:relative;
	}
.ut_left_block.active .ut_notification {
	cursor:pointer;
}
.ut_left_block .ut_notification .inbox {
	/*background: url(../images/icon_box.png) no-repeat left top;*/
	width:15px;
	line-height:15px;
	display:block;
	text-align:center;
	color:#fff;
	margin:2px 10px 0px 0px;
	float:right;
	font-size:10px;
	}	

.ut_left_block.active .ut_notification:hover, .ut_left_block.active .ut_notification.selected{
	background:#fff;
	padding:5px 15px 3px 10px;
	}
	
.ut_left_block .ut_notification .ut_pop {
	display:none;
	width:350px;
	}
	
.ut_left_block.active .ut_notification:hover .ut_pop {
	display:block;
	background:#fff;
	}
.ut_left_block .ut_notification	.ut_pop .gridrow .text {
	width:250px;
}
.ut_left_block .ut_notification .ut_pop .button .utdp_text {
	padding:0;
}
.ut_right_block .expandable .stausdetail {
    color: #FFFFFF;
    display:none;
    float: left;
    line-height: 22px;
    padding: 6px 30px 0 0px;
}
.utility_article, .utility_music, .utility_wallpapers, .utility_downloads, .utility_games, .utility_videos {
	margin:8px 0 0 1px;
	padding:0;
	background:url(../images/icon_artical.png) 0 0 no-repeat;
	display:inline-block;
	width:15px;
	height:15px;
}
.utility_music {
	background:url(../images/utility_music.png) 0 0 no-repeat;
}
.utility_wallpapers {
	background:url(../images/utility_wallpaper.png) 0 0 no-repeat;
}
.utility_downloads {
	background:url(../images/utility_downloads.png) 0 0 no-repeat;
}
.utility_games {
	background:url(../images/utility_games.png) 0 0 no-repeat;
}
.utility_videos {
	background:url(../images/utility_videos.png) 0 0 no-repeat;
}
.nowviewing a {
	color:#A3A2A1 !important;
}
.nowviewing a:hover {
	color:#0072BC !important;
}
	