#videos_home {
}
#videos_home .width70 {
	width:70px;
}
#videos_home .width35 {
	width:35px;
}
#videos_home .right10, #videos_detail .right10, #devoional .right10, #tv .right10 {
	padding-right:10px;
}
.padding_right8 {
	margin:0px;
	padding-right:8px !important;
	_padding-right:2px !important;
}
.height700 {
	height:700px;
}
#videos_home .tab_view .news_content h1 {
	color:#000;
	margin:0;
	font-size:30px !important
}
#videos_home .tab_view .news_content .description {
	margin:5px 0;
	padding:0;
	line-height:18px;
	font-size:11px;
	font-style:italic;
	color:#999;
}
#videos_home .red_right_block {
	height:278px;
}
#videos_home .red_right_block h3 {
	margin:22px 20px;
	padding:0;
}
#videos_home .red_right_block .zigzagbox .data {
	padding:25px 10px;
}
#videos_home .channel_content span {
	margin:5px 11px 5px 11px;
	padding:0;
}
.tag_hot {
	margin:0;
	padding:0;
	width:54px;
	height:54px;
	position:absolute;
	top:-1px;
	left:-1px;
	z-index:9;
	background-position: -871px -538px;
}
/*.tag_exclusive {
	margin:0;
	padding:0;
	width:54px;
	height:54px;
	position:absolute;
	top:-1px;
	left:-1px;
	z-index:9;
	background-position: -871px -596px;
}*/

#videos_home .display_content {
	background:#fff;
	margin:0;
	padding:0;
	width:547px;
	height:1%;
	/*height:313px;*/
	float:left;
	position:relative;
}
#videos_home .topbar {
	border:1px solid #DEDBD6;
	background:#fff;
	height:28px;
	clear:both;
	display:block;
	font-family:'opensan-webfont';
	position:absolute;
	z-index:100;
	width:545px;/*top:1px;*/
	}
#videos_home .display_content .video {
	height:313px;
	position:relative;
	padding:0px;
	margin:0px;
}
#videos_home .display_content .video .v_player {
	height:313px;
	overflow:hidden;
	width:547px;
}
#videos_home .news_content, #devoional .news_content {
	/*margin:20px 0 0 0;*/
	padding: 0 20px 10px;
	text-align:left;
	clear:both;
	border:1px solid #dedbd6;
	border-top:0px solid #dedbd6 !important;
	width:505px;
	float:left;
	position:relative;
	top:0;
}
/* ====== popular video section box & style ======== */


#videos_home .popular_video_frame22, #video_showreel .popular_video_frame22 {
	float: left;
	margin: 0 5px;
	padding: 0;
	position: relative;
	text-align: center;
	width: 147px;
}
#videos_home .frame22, #video_showreel .frame22 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:147px;
	height:87px;
	float:left;
	border-radius:3px;
	position:relative;
}
#videos_home .frame22 .photo22, #video_showreel .frame22 .photo22 {
	margin:3px;
	padding:0;
	background:#000;
	width:141px;
	height:81px;
	overflow:hidden;
	float:left;
	position:relative;
}
#videos_home .popular_video_frame22 .title {
	clear: both;
	color: #222;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 5px;
	padding: 0;
}
#videos_home .popular_video_frame22 .description {
	color: #999999;
	font-size: 11px;
	font-style: italic;
	margin: 0;
	padding: 0;
	text-align: center;
}
/* ======  top  cagegory section style ========= */


#videos_home .topcategory_block {
	float: left;
	margin: 10px 5px;
	padding: 0;
	/*position: relative;*/
    text-align: left;
	width: 392px;
}
#videos_home .frame23 {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:392px;
	height:255px;
	border-radius:3px;
	float:left;
	position:relative;
}
#videos_home .frame23 .photo23 {
	margin:3px;
	padding:0;
	background:#000;
	width:386px;
	height:249px;
	overflow:hidden;
	float:left;
	position:relative;
	z-index:0;
}
#videos_home .topcategory_block .title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 5px;
	padding: 0;
	float:left;
}
#videos_home .frame23 .photo23 .photo_detail {
	background:url(../images/dot_trans.png) repeat;
	height:36px;
	position:absolute;
	bottom:0;
	color: #fff;
	padding:8px;
	width:370px;
	z-index:8;
	left:0;
	margin:0;
}
#videos_home .topcategory_block .frame23 .title2 {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}
#videos_home .topcategory_block .frame23 .description {
	color: #999999;
	font-size: 11px;
	font-style: italic;
	margin: 0;
	padding: 0;
}
#videos_home .topcategory_block .frame23 .description span {
	color: #eddfa8;
}
#videos_home .topcategory_block .frame23 .description2 {
	color: #fff;
	font-size: 11px;
	font-style: italic;
	margin: 0;
	padding: 0;
}
#videos_home a.arrowN {
	background-position:-954px -505px;
	position: absolute;
	z-index:9;
	top:100px;
	right:2px;
	width:27px;
	height:52px;
	cursor:pointer;
}
#videos_home a.arrowN:hover {
	background-position:-954px -559px;
}
#videos_home a.arrowN.active {
	background-position:-954px -614px;
}
#videos_home a.arrowN.disable {
	background-position:-954px -669px;
}
#videos_home a.arrowB {
	background-position:-927px -505px;
	position: absolute;
	z-index:9;
	top:100px;
	left:3px;
	width:27px;
	height:52px;
	cursor:pointer;
}
#videos_home a.arrowB:hover {
	background-position:-927px -559px;
}
#videos_home a.arrowB.active {
	background-position:-927px -614px;
}
#videos_home a.arrowB.disable {
	background-position:-927px -669px;
}
#videos_home .play2 {
	left: 151px !important;
	top: 82px !important;
	display:none;
	z-index:9;
}
#videos_home .frame23:hover .photo_detail {
	display:none;
}
#videos_home .frame23:hover .play2 {
	display:block;
}
/*====== block 2nd video self css ======= */

.video_frame_big_main {
	margin:0;
	padding:0;
	background:url(../images/videos/video_self_bg.png) 0 0 no-repeat;
	width:860px;
	min-height:200px;
	float:left;
}
.video_frame_big_main_block, .video_frame_big_main_block1 {
	/*margin:4px 0 0 43px;*/
	margin:0px;
	padding:4px 0 0 43px;
	/*padding:0;*/
	float:left;
	position:relative;
}
.video_frame_big_main_block1 {
	/*margin:4px 0 0 36px;*/
	padding:4px 0 0 36px;
	margin:0px;
}
.video_frame_main {
	margin:0;
	padding:0;
	width:234px;
	height:130px;
	/*overflow:hidden;*/
	float:left;
	position:relative;
	z-index:0;
}
.video_frame_big_main .title {
	margin:23px 0 0 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	width:227px;
	text-align:center;
}
.video_frame_big_main .description {
	margin:0;
	padding:0;
	font-size:11px;
	color:#999;
	font-style:italic;
	width:227px;
	text-align:center;
}
.video_frame_main .time {
	position:absolute;
	bottom:5px;
	right:-6px;
	background: url(../images/videos/time_tag.png) no-repeat;
	width:37px;
	height:19px;
	text-align:center;
	z-index:10;
}
.video_frame_main .time .data {
	color:#FFF;
	padding:3px 0;
	line-height:20px;
	font-size:11px;
	font-weight:bold;
}
.video_scroll {
	text-align:center;
	float:left;
	padding: 0px 13px 25px;
	_padding: 0px 12px 25px;
	width:146px;
}
.video_scroll_box {
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #c4c4c4;
	width:146px;
	height:85px;
	float:left;
	border-radius:3px;
	position:relative;
}
.video_scroll_box .video_scroll_thumb {
	margin:3px;
	padding:0;
	background:#000;
	width:140px;
	height:79px;
	overflow: hidden;
	float:left;
	position:relative;
}
.video_scroll .title {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 10px 0 0;
}
.video_scroll .description {
	margin:0;
	padding:0;
	font-size:11px;
	color:#999;
	font-style:italic;
	text-align:center;
}
/* ===== footer last right section updated ======= */

.our_reporter_block {
	float: left;
	margin:0;
	padding:0px 0px 18px 0px;
	width: 200px;
}
.our_reporter_frame {
	margin:0;
	padding:0;
	background:#FFF;
	border:1px solid #c4c4c4;
	width:40px;
	height:44px;
	border-radius:3px;
	float:left;
}
.our_reporter_frame .our_reporter_photo {
	margin:3px 3px 5px 3px;
	padding:0;
	background:#000;
	width:34px;
	height:36px;
	overflow:hidden;
	float:left;
	position:relative;
}
.our_reporter_block .title {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 2px 0 0;
}
.our_reporter_block .description {
	margin:0;
	padding:0;
	font-size:11px;
	color:#999;
	font-style:italic;
	text-align:center;
}
/* ===== top category hover section style ==== */

#videos_home .top_cat_pop, #videos_home #top_cat_pop {
	width:491px;
	min-height:250px;
	margin:0px;
	padding:10px 0px;
	background:#f9f9f9;
	position:absolute;
	z-index:99;
	top:30px;
	right:0px;
	box-shadow:0px 3px 5px 0px #666;
}
#videos_home .top_cat_pop .row, #videos_home #top_cat_pop .row {
	padding:15px 0px 15px 18px;
	margin:0px;
	border-bottom:1px solid #f0f0f0;
}
#videos_home .top_cat_pop .row .block, #videos_home #top_cat_pop .row .block {
	width:157px;
	float:left;
	padding:0px;
	margin:0px;
	font-style:italic;
}
#videos_home .top_cat_pop .radiobtn, #videos_home #top_cat_pop .radiobtn {
	float:left;
	padding:3px;
	margin-right:14px;
}
#videos_home a .save {
	margin-top:15px;
	width:63px;
	height:26px;
	background-position: -664px -616px;
	float:left;
}
#videos_home a:hover .save {
	background-position: -664px -642px;
}
#videos_home a.active .save {
	background-position: -664px -668px;
}
/* ========================== video details page ==================================== */

#videos_detail {
}
#videos_detail .width125, #photogallery .width125 {
	_width:125px;
}
#videos_detail .video_bar_play {
	top:40% !important;
	left:40% !important;
}
#videos_detail .block_music_album .description {
	padding-top:5px;
}
#videos_detail .post {
	background-position: -255px -53px;
	height: 11px;
	margin: 1px 3px 0 8px;
	padding: 0;
	width: 14px;
	display:inline-block;
	position: relative;
}
#videos_detail .width260 {
	width: 260px !important;
}
.no_bottom_border {
	border-bottom: medium none !important;
}
#videos_detail .video_frame_big {
	float: left;
	height: 298px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 527px;
}
#videos_detail .tagL {
	float: left;
	width:35px;
	padding:10px 0 10px 0;
}
#videos_detail .tagR {
	float: left;
	padding:10px 0 10px 10px;
	margin:0px;
	width:420px;
}
#videos_detail .more_link_big {
	padding: 10px 10px;
	width:527px;
	position:relative;
}
#videos_detail .more_link_big .r_text {
	line-height:28px;
	color:#666666;
	float:right;
	font-style:italic;
	font-size:11px;
}
/* ul style for video block 
#videos_detail .more_link_big ul.r_text{
	padding:0px;
	margin:0px;
	list-style-type:none;
	line-height:28px;
	color:#666666;
	float:right;
	font-style:italic;
	font-size:11px;
	position:relative;
}

#videos_detail .more_link_big ul.r_text li{
	list-style-type:none;
	line-height:28px;
	color:#666666;
	float:left;
}

#videos_detail .more_link_big ul.r_text li a {
	display:block;
	padding: 0 8px;
}*/


#videos_detail .r_text .report_abouse_pop, #video_showreel .display_content .showreel_right .r_text .report_abouse_pop, .large_view_more .r_text .report_abouse_pop {
	display:none;
}
/*#videos_detail .r_text:hover .report_abouse_pop, #video_showreel .display_content .showreel_right .r_text:hover .report_abouse_pop{
	display:block;
}*/

#videos_detail .white_right_block1, #photogallery .white_right_block1, #news .white_right_block1, #devoional .white_right_block1, #tv .white_right_block1, #deadSerial .white_right_block1 {
	padding: 0 15px;
	width: 268px;
}
#videos_detail .more_games_block, #photogallery .more_games_block, #video_showreel .more_games_block, #news .more_games_block, #devoional .more_games_block, #tv .more_games_block, #deadSerial .more_games_block {
	float: left;
	margin:0px;
	/*margin: 0 0 20px;*/
    padding: 0 0 20px 0;
	width: 270px;
	position:relative;
	z-index:0;
}
#videos_detail .video_frame_small_detail, #photogallery .video_frame_small_detail, #video_showreel .video_frame_small_detail, #news .video_frame_small_detail, #devoional .video_frame_small_detail, #tv .video_frame_small_detail, #deadSerial .video_frame_small_detail {
	margin:0;
	font-size:11px;
	padding:0 0 0 10px;
	_padding:0 0 0 7px;
	float:left;
	width: 130px;
	_width: 132px;
}
#videos_detail .video_frame_small_detail .title, #photogallery .video_frame_small_detail .title, #video_showreel .popular_video_frame22 .title, #video_showreel .video_frame_small_detail .title, #news .video_frame_small_detail .title, #devoional .video_frame_small_detail .title, #tv .video_frame_small_detail .title, #deadSerial .video_frame_small_detail .title {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 5px;
	padding: 0;
}
#videos_detail .frame24, #photogallery .frame24, #video_showreel .frame24, #news .frame24, #devoional .frame24 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px #CCCCCC;
	float: left;
	height: 78px;
	margin: 0;
	padding: 0;
	width: 128px;
	position:relative;
}
#videos_detail .frame24 .photo24, #photogallery .frame24 .photo24, #video_showreel .frame24 .photo24, #news .frame24 .photo24, #devoional .frame24 .photo24 {
	background: none repeat scroll 0 0 #292929;
	float: left;
	height: 72px;
	margin: 3px;
	overflow: hidden;
	padding: 0;
	width: 122px;
}
#videos_detail .more_video_block, #photogallery .more_video_block, #video_showreel .more_video_block, #news .more_video_block, #devoional .more_video_block {
	float: left;
	margin: 0;
	padding:20px 0 20px;
	width: 270px;
	border-bottom:1px dashed #999;
}
#videos_detail .more_video_block .title, #photogallery .more_video_block .title, #video_showreel .more_video_block .title, #news .more_video_block .title {
	margin:0 0 5px 0;
	padding:0;
	font-size:14px;
	font-weight:bold;
}
#videos_detail .more_video_block .info, #photogallery .more_video_block .info, #video_showreel .more_video_block .info, #news .more_video_block .info {
	margin:0 0 2px 0;
	padding:0;
	font-size:11px;
	font-style:italic;
	color:#999;
}
#videos_detail .more_video_block .description, #photogallery .more_video_block .description, #video_showreel .more_video_block .description, #news .more_video_block .description {
	margin:0 0 2px 0;
	padding:0;
	font-size:12px;
	color:#999;
}
/* ===== Report Abusing hover section style ==== */

#videos_detail .report_abouse_pop, #video_showreel .report_abouse_pop {
	width:519px;
	/*height:210px;*/
	margin:0px;
	padding:0px 0px;
	background:#fff;
	position:absolute;
	z-index:9;
	top:45px;
	right:0px;
	border:1px solid #dbdbdb;
	box-shadow:0px 2px 4px 0px #999;
}
#videos_detail .report_abouse_pop .top, #video_showreel .report_abouse_pop .top {
	background: url(../images/videos/white_arrow_top.png) no-repeat;
	width:18px;
	height:11px;
	position:absolute;
	right:35px;
	top:-10px;
	z-index:10;
}
.report_abouse_pop .lightbox_close {
	margin:0 -15px 0 0;
}
#videos_detail .report_abouse_pop .block, #video_showreel .report_abouse_pop .block {
	float:left;
	padding:10px 20px;
	margin:0px;
	font-style:italic;
	border-bottom:1px dashed #999;
	width:477px;
}
#videos_detail .report_abouse_pop p {
	font-size:12px;
	font-style:normal;
}
#videos_detail .report_abouse_pop .radiobtn, #video_showreel .report_abouse_pop .radiobtn {
	/*float:left;*/
	padding:3px;
	margin-right:15px;
}
#videos_detail a .submit, #video_showreel .report_abouse_pop a .submit {
	margin:15px;
	width:64px;
	height:26px;
	background-position: -735px -616px;
	float:left;
}
#videos_detail a:hover .submit, #video_showreel .report_abouse_pop a:hover .submit {
	background-position: -735px -642px;
}
#videos_detail a.active .submit, #video_showreel .report_abouse_pop a:active .submit {
	background-position: -735px -668px;
}
#videos_detail .red_right_block {
	margin-bottom:20px;
}
#videos_detail .zigzagbox .data {
	text-align:center;
	line-height:130%;
	padding:10px 20px;
}
#videos_detail .zigzagbox .data .title {
	margin:0px;
	padding:10px 0px;
	font-size:14px;
	float:left;
	font-weight:bold;
}
#videos_detail .zigzagbox .data .description {
	margin:0;
	padding:10px 0px;
	font-size:12px;
	color:#999;
	float:left;
}
#videos_detail .rating_center {
	margin:2% 23% !important;
	text-align:center;
}
#videos_detail #games .block_music_album.light_gray {
	background:#fafafa !important;
	border-bottom:1px solid #e4e4e4;
}
.cookie_feature {
	margin:18px 0 0 10px;
	float:left;
	color:#222;
}
/*VIDEOS SHOWREEL CSS*************************************/

#video_showreel {
	position:relative;
}
#video_showreel .display_content {
	float:none;
	width:auto;
	height:inherit;
	padding:15px;
}
#video_showreel .popular_video_frame22 {
	width:193px;
	margin:0 0 0 3px;
	text-align:left;
}
#video_showreel .frame22 {
	width:193px;
	height:112px;
}
#video_showreel .frame22 .photo22 {
	width:187px;
	height:105px;
}
#video_showreel .display_content h1 {
	color:#ffffff;
	line-height:40px;
	font-size:40px;
}
#video_showreel .description {
	font-size:11px;
	color:#999999;
	margin:2px 0;
	line-height:20px;
}
#video_showreel .popular_video_frame22 .title, #video_showreel .video_frame_small_detail .title, #video_showreel .video_frame_small_detail .description {
	line-height:20px;
	margin:0;
}
#video_showreel .display_content .icon_screen_grey {
	background:url(../images/videos/grey_arrow_box.png) no-repeat scroll 0 3px transparent
}
#video_showreel .display_content .topbar {
	background:#262626;
	height:28px;
	margin:15px 0 10px 0;
}
#video_showreel .display_content .topbar .newno {
	color: #ffffff !important;
}
#video_showreel .display_content .topbar a.btn_back {
	background:url(../images/videos/next_prev.png) no-repeat 0 0;
}
#video_showreel .display_content .topbar a.btn_next {
	background:url(../images/videos/next_prev.png) no-repeat 100% 0;
	width: 30px;
}
#video_showreel .display_content .topbar a.btn_back:hover {
	background-position:0 -28px;
}
#video_showreel .display_content .topbar a.btn_next:hover {
	background-position:100% -28px;
}
#video_showreel .display_content .topbar a.btn_back.disable {
	background-position:0 -56px;
}
#video_showreel .display_content .topbar a.btn_next.disable {
	background-position:100% -56px;
}
#video_showreel .display_content .showreel_left {
	width:277px;
	position:relative;
}
#video_showreel .display_content .showreel_left .l_text {
	padding:15px 15px 15px 15px;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	line-height:20px;
	background:url(../images/dot_trans.png);
	position:absolute;
	left:0;
	bottom:0;
}
#video_showreel .display_content .showreel_left .l_text .navi_title {
	color:#999999;
	font-size:11px;
	font-style:oblique;
	font-weight:normal;
	margin: 22px 80px 0 0;
}
#video_showreel .display_content .showreel_left .h_scroll_links {
	position:absolute;
	right:15px;
	bottom:15px;
}
#video_showreel .display_content .showreel_right .album_block1 {
	min-width:100px;
	min-height:35px;
	margin:0;
	padding:5px 7px;
}
#video_showreel .display_content .showreel_right .album_block1 a.btn_like, #video_showreel .display_content .showreel_right .album_block1 a.btn_dislike {
	color: #999999;
}
#video_showreel .display_content .showreel_right .r_text {
	padding:10px 0 10px 10px;
	float:left;
	color:#999999;
	position:relative;
}
#video_showreel .display_content .showreel_right .r_text a, .r_text a {
	color:#0072bc;
	font-size:11px;
	font-style:oblique;
}
#video_showreel .display_content .showreel_right .r_text .report_abouse_pop a, .r_text .report_abouse_pop a {
	color:#333333;
	font-size:12px;
	font-style:normal;
	line-height:22px;
}
/*#video_showreel .block3{margin:20px 0;}*/

/* video_consumption_large_view css */
#video_consumption.display_content {
	height:auto !important;
}
.video_consumption .r_text {
	right:40px;
	top:5px;
}
.video_consumption .r_text .report_abouse_pop {
	top:30px !important;
}
.video_view_changer_frame {
	display:block;
	border-style:none none none solid !important;
	border-width:1px;
	border-color:#dddad5;
	margin:0 auto;
	float:right;
	padding:15px;
	top:-10px;
	right:-20px;
}
.video_view_changer {
	display:block;
	width:20px;
	height:20px;
	background-position:-888px -961px !important;
}

.live_tv_icon {
	margin:0 7px 10px 7px !important;
	display:inline-block;
}
.live_tv_icon_small {
	margin: 5px 12px !important;
	display:inline-block;
}
.live_tv_icon_small img {
	width:46px;
	height:40px;
}
/****************************************************03/05/2012******************************************************************/
.brdbwd {
	border-bottom:1px solid #fcfbf8
}

#videos_home .play_small_frame{bottom:0; left:2px;}
#videos_home .red_right_block .h_scroll_detail .zigzagbox .data { height:145px;	padding:25px 10px;}