body {
    background-color: #201209;
  font-family: 'Lato', sans-serif;
    width: 100%;
}
.background-fixer{
    background-image: url("../images/coderanch-background.jpg");
   
    background-position: top center  ;
    position: fixed;
    background-size: 100% auto;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0px;
    width: 100%;
    background-repeat: no-repeat;
}
.home-header {
 font-family: 'Lato', sans-serif;
            height: auto;
    width: 100%;
}

.java-neighbours-links a , .java-neighbours-links a:hover {
	color: #d3be9d;
}

.collapse.navbar-collapse {
    float: none;
    margin: 0 auto;
    max-width: 1050px;
}

.navbar-default {
    background-color: #5c5553;
    border: medium none;
    border-radius: 0;
    
    width: 100%;
    z-index: 100;
}
.navbar-default .navbar-brand {
    background-color: #b65f4c;
    color: #fff;
    padding: 0px;
  
    
    
    
}

.navbar-header {
    width: 100%;
}

nav{
      float: none;
    position: relative;
    margin: 0 auto;
    max-width: 1010px;
}
.nav-background {
    background-color: #5c5553;
    height: 50px;
    margin-bottom: -50px;
    width: 100%;
    position: fixed;
    z-index: 100;
}


.navbar-default .navbar-nav > li > a{
     font-size: 16px;
    color: #9f9694;
 
}
.navbar-default .navbar-nav > li > a:hover{
     font-size: 16px;
    color: #fff;
    background-color: #35302f;
   
 
}


.navbar-header {

    width: auto;
}

.navbar-collapse.collapse.in {
    padding: 0;
}

.collapsing {
    padding: 0!important;
}
.collapse {
    padding: 0!important;
}


.dropdown {
    display: inline;
    float: left;
}

.dropdown-menu {
    border-radius: 0;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #333;
        
}

.coderacnh-link{
    background-image: url("../images/javaranch-dropdown-opt.jpg");
    padding: 0;
    margin: 0px;
    height: 50px;
    background-position: top;
}
.coderacnh-link:hover{
    background-image: url("../images/javaranch-dropdown-opt.jpg");
    padding: 0;
    margin: 0px;
    height: 50px;
    background-position: bottom;
}

.coderacnh-link:active{
    background-image: url("../images/javaranch-dropdown-opt.jpg");
    padding: 0;
    margin: 0px;
    height: 50px;
    background-position: top;
}



.navbar-form {
    display: inline-flex;
    height: 50px;
    margin: 0 !important;
    max-width: 550px;
    padding: 0;
    width: 100%;
}

.navbar-form .form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
     color: #000;
    font-size: 18px;
    font-weight: 200;

}
.navbar-form .form-control:focus  {
    background-color: #fff;
}

.navbar-form input {
    background-color: #b7b4b3;
    border: 0 solid;
    border-radius: 0;
    font-family: lato;
    height: 50px;
}

.navbar-form .form-group {
    width: 100%;
}


.navbar-form .btn.btn-default {
    background-color: #35302f;
    border: medium none;
    border-radius: 0;
    float: right;
    height: 50px;
    padding: 0;
    width: 55px;
}
.navbar-form .btn.btn-default:hover {
    background-color: #4a4a4a;
  
}

.navbar-form .btn.btn-default:active {
    background-color: #b65f4c;
  
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333333;
    font-size: 18px;
    font-weight: 200;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #333333;
    font-size: 18px;
    font-weight: 200;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #333333;
    font-size: 18px;
    font-weight: 200;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #333333;
    font-size: 16px;
    font-weight: 200;

}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #b65f4c;
    color: #fff;
}

.forum-dropdown {
    background-clip: padding-box;
    background-color: #5c5553;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 160%;
    z-index: 1000;
    
}

.forum-dropdown > li > a{
color:#fff!important;
    padding: 8px !important;
    border-top: 1px solid #444444;
     text-transform: uppercase;
     letter-spacing: 2px;
}

.forum-dropdown > li > a:hover{
background-color: #35302f;
}
.forum-dropdown > li > a:active{
background-color: #b65f4c;
}


.signup-btn {
    background-color: #b9604e;
    border: 1px solid #000;
    color: #ffffff !important;
    font-family: cardenio-modern;
    font-size: 28px;
    padding: 0 30px;
     letter-spacing: 1px;
    margin-bottom: 10px;
}


.forum-box-btn {
    background-color: #b9604e;
    border: 1px solid #000;
    color: #ffffff !important;
    display: block;
    float: none;
    font-family: cardenio-modern;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

.signup-btn a:hover, .signup-btn:hover, .forum-box-btn:hover{
    background-color: #d16b56;
    text-decoration: none;

}
.signup-btn a:active, .signup-btn:active, .forum-box-btn:active{
    background-color: #a85645;
    text-decoration: none;

}


.forum-box-btn-containter{
    
    text-align: center;
    width: auto;
    float: none;
    margin: 0 auto;
    
}

.signup-btn a {
color:#fff;    
}

.logo-container {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 600px;
    text-align: center;
    vertical-align: middle;
    width: 60%;
}

.logo-image {
    clear: both;
    float: left;
    height: auto;
    margin-top: 95px;
    min-width: 300px;
    vertical-align: middle;
    width: 100%;
}



.header-message{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top:0px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container-bg
{
    background: #c0b0ab;
    margin-top: 0px;
}

.container-fluid {
    background-color: none;
    margin-top: 0;
    max-width: 1010px;
    position: relative;
    top: 0px;
}







.col-md-1 img{
    width: 100%;
    height: auto;
       
}
.col-md-1{
 padding:5px;
    margin: 0.4%;
    width: 100%;
    max-width: 155px
}

.row {
    margin: 0px;
}

.big-moose-text {
    clear: both;
    color: #ccc;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

.big-moose-text h2 {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    margin: 15px 0 0;
}

h2{
    color: #fff;
}
.forum-icon h2{
    color: #000;
    font-size: 28px;
    padding-bottom:5px;
}


.hvr-grow-shadow, .forum-icon {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    vertical-align: middle;
}





.hvr-grow{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  
}

.hvr-grow:active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  
}

.forum-icon h2{
position: absolute;
margin: 0 auto;
float: none;
width: 100%;
text-align: center;
bottom: 0px
}

.thm-java{
    
}
.thm-mobile{
    
}
.thm-books{
    
}
.thm-cashing{
    
}
.thm-databases{
    
}
.thm-certification{
    
}
.thm-engineering{
    
}
.thm-framework{
    
}
.thm-careers{
    
}
.thm-products{
    
}
.thm-languages{
    
}
.thm-other{
    
}

/*TOP FORUM THREADS POSTS*/


.caroussel-col.col-md-12 > h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.item {
    height: auto;
    padding-bottom: 30px;
}



.carousel-caption {
    bottom: 0;
    float: left;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: relative;
    right: 0;
    width: 100%;
}
.carousel-caption {
    left: 0;
    padding-bottom: 0;
    right: 0;
}

.carousel-control {
    background-color: #fff;
    border-radius: 40px;
    bottom: 0;
    color: #bd9e80;
    height: 55px;
    opacity: 100;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: 200px;
    width: 55px;
    z-index: 10;
}

.carousel-control.right {
    background-image: none;

    right: -30px

}

.carousel-control.left {
    background-image: none;

left: -30px
}


.carousel-control:hover , .carousel-control:active , .carousel-control:focus {
    color: #bd9e80;
}

.carousel-indicators li {
    background-color: #c0b0ab;
    border: medium none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 1px;
    width: 20px;
}
.carousel-indicators .active {
    background-color: #b65f4c;
    border: medium none;
    height: 20px;
    margin: 1px;
    width: 20px;
}



.carousel-indicators {
    
    left: 0;
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    text-align: right;
    top: 14px;
    width: 99%;
    z-index: 15;
     height: 20px;
}
.text-box {
    background: #f6f0eb none repeat scroll 0 0;
    height: 85px;
    margin-bottom: 15px;
    width: 100%;
}

.col-md-12 > h2 {
    font-family: cardenio-modern;
}

.caroussel-col.col-md-12 {
    padding: 0;
}


h2{
    font-family: cardenio-modern;
}

.carousel.slide {
    height: auto;
    margin-bottom: 0;
}


.about-icon {
    margin-top: -94px;
    text-align: center;
    width: 100%;
}

.a1,.a3,.c1,.c3{ height: 20px; width: 20px; }
.b1,.b3{ width: 20;}
.a2,.c2{ height: 20px;}
.b2{ background-color: #e4e4e4; border: solid 1px #000; padding :10px;}

/* ABOUT THE FORUMS BORDERS */

/* JAVA */
.java-box .a1{background-image: url("../images/borders/java/a1.gif")}
.java-box .a2{background-image: url("../images/borders/java/a2.gif")}
.java-box .a3{background-image: url("../images/borders/java/a3.gif")}
.java-box .b1{background-image: url("../images/borders/java/b1.gif")}
.java-box .b3{background-image: url("../images/borders/java/b3.gif")}
.java-box .c1{background-image: url("../images/borders/java/c1.gif")}
.java-box .c2{background-image: url("../images/borders/java/c2.gif")}
.java-box .c3{background-image: url("../images/borders/java/c3.gif")}

/* books */
.books-box .a1{background-image: url("../images/borders/books/a1.gif")}
.books-box .a2{background-image: url("../images/borders/books/a2.gif")}
.books-box .a3{background-image: url("../images/borders/books/a3.gif")}
.books-box .b1{background-image: url("../images/borders/books/b1.gif")}
.books-box .b3{background-image: url("../images/borders/books/b3.gif")}
.books-box .c1{background-image: url("../images/borders/books/c1.gif")}
.books-box .c2{background-image: url("../images/borders/books/c2.gif")}
.books-box .c3{background-image: url("../images/borders/books/c3.gif")}

/* mobile */
.mobile-box .a1{background-image: url("../images/borders/mobile/a1.gif")}
.mobile-box .a2{background-image: url("../images/borders/mobile/a2.gif")}
.mobile-box .a3{background-image: url("../images/borders/mobile/a3.gif")}
.mobile-box .b1{background-image: url("../images/borders/mobile/b1.gif")}
.mobile-box .b3{background-image: url("../images/borders/mobile/b3.gif")}
.mobile-box .c1{background-image: url("../images/borders/mobile/c1.gif")}
.mobile-box .c2{background-image: url("../images/borders/mobile/c2.gif")}
.mobile-box .c3{background-image: url("../images/borders/mobile/c3.gif")}

/* cashing */
.cashing-box .a1{background-image: url("../images/borders/cashing/a1.gif")}
.cashing-box .a2{background-image: url("../images/borders/cashing/a2.gif")}
.cashing-box .a3{background-image: url("../images/borders/cashing/a3.gif")}
.cashing-box .b1{background-image: url("../images/borders/cashing/b1.gif")}
.cashing-box .b3{background-image: url("../images/borders/cashing/b3.gif")}
.cashing-box .c1{background-image: url("../images/borders/cashing/c1.gif")}
.cashing-box .c2{background-image: url("../images/borders/cashing/c2.gif")}
.cashing-box .c3{background-image: url("../images/borders/cashing/c3.gif")}

/* databases */
.databases-box .a1{background-image: url("../images/borders/databases/a1.gif")}
.databases-box .a2{background-image: url("../images/borders/databases/a2.gif")}
.databases-box .a3{background-image: url("../images/borders/databases/a3.gif")}
.databases-box .b1{background-image: url("../images/borders/databases/b1.gif")}
.databases-box .b3{background-image: url("../images/borders/databases/b3.gif")}
.databases-box .c1{background-image: url("../images/borders/databases/c1.gif")}
.databases-box .c2{background-image: url("../images/borders/databases/c2.gif")}
.databases-box .c3{background-image: url("../images/borders/databases/c3.gif")}


/* certification */
.certification-box .a1{background-image: url("../images/borders/certification/a1.gif")}
.certification-box .a2{background-image: url("../images/borders/certification/a2.gif")}
.certification-box .a3{background-image: url("../images/borders/certification/a3.gif")}
.certification-box .b1{background-image: url("../images/borders/certification/b1.gif")}
.certification-box .b3{background-image: url("../images/borders/certification/b3.gif")}
.certification-box .c1{background-image: url("../images/borders/certification/c1.gif")}
.certification-box .c2{background-image: url("../images/borders/certification/c2.gif")}
.certification-box .c3{background-image: url("../images/borders/certification/c3.gif")}

/* engineering */
.engineering-box .a1{background-image: url("../images/borders/engineering/a1.gif")}
.engineering-box .a2{background-image: url("../images/borders/engineering/a2.gif")}
.engineering-box .a3{background-image: url("../images/borders/engineering/a3.gif")}
.engineering-box .b1{background-image: url("../images/borders/engineering/b1.gif")}
.engineering-box .b3{background-image: url("../images/borders/engineering/b3.gif")}
.engineering-box .c1{background-image: url("../images/borders/engineering/c1.gif")}
.engineering-box .c2{background-image: url("../images/borders/engineering/c2.gif")}
.engineering-box .c3{background-image: url("../images/borders/engineering/c3.gif")}

/* frameworks */
.frameworks-box .a1{background-image: url("../images/borders/frameworks/a1.gif")}
.frameworks-box .a2{background-image: url("../images/borders/frameworks/a2.gif")}
.frameworks-box .a3{background-image: url("../images/borders/frameworks/a3.gif")}
.frameworks-box .b1{background-image: url("../images/borders/frameworks/b1.gif")}
.frameworks-box .b3{background-image: url("../images/borders/frameworks/b3.gif")}
.frameworks-box .c1{background-image: url("../images/borders/frameworks/c1.gif")}
.frameworks-box .c2{background-image: url("../images/borders/frameworks/c2.gif")}
.frameworks-box .c3{background-image: url("../images/borders/frameworks/c3.gif")}

/* careers */
.careers-box .a1{background-image: url("../images/borders/careers/a1.gif")}
.careers-box .a2{background-image: url("../images/borders/careers/a2.gif")}
.careers-box .a3{background-image: url("../images/borders/careers/a3.gif")}
.careers-box .b1{background-image: url("../images/borders/careers/b1.gif")}
.careers-box .b3{background-image: url("../images/borders/careers/b3.gif")}
.careers-box .c1{background-image: url("../images/borders/careers/c1.gif")}
.careers-box .c2{background-image: url("../images/borders/careers/c2.gif")}
.careers-box .c3{background-image: url("../images/borders/careers/c3.gif")}

/* products */
.products-box .a1{background-image: url("../images/borders/products/a1.gif")}
.products-box .a2{background-image: url("../images/borders/products/a2.gif")}
.products-box .a3{background-image: url("../images/borders/products/a3.gif")}
.products-box .b1{background-image: url("../images/borders/products/b1.gif")}
.products-box .b3{background-image: url("../images/borders/products/b3.gif")}
.products-box .c1{background-image: url("../images/borders/products/c1.gif")}
.products-box .c2{background-image: url("../images/borders/products/c2.gif")}
.products-box .c3{background-image: url("../images/borders/products/c3.gif")}

/* languages */
.languages-box .a1{background-image: url("../images/borders/languages/a1.gif")}
.languages-box .a2{background-image: url("../images/borders/languages/a2.gif")}
.languages-box .a3{background-image: url("../images/borders/languages/a3.gif")}
.languages-box .b1{background-image: url("../images/borders/languages/b1.gif")}
.languages-box .b3{background-image: url("../images/borders/languages/b3.gif")}
.languages-box .c1{background-image: url("../images/borders/languages/c1.gif")}
.languages-box .c2{background-image: url("../images/borders/languages/c2.gif")}
.languages-box .c3{background-image: url("../images/borders/languages/c3.gif")}

/* other */
.other-box .a1{background-image: url("../images/borders/other/a1.gif")}
.other-box .a2{background-image: url("../images/borders/other/a2.gif")}
.other-box .a3{background-image: url("../images/borders/other/a3.gif")}
.other-box .b1{background-image: url("../images/borders/other/b1.gif")}
.other-box .b3{background-image: url("../images/borders/other/b3.gif")}
.other-box .c1{background-image: url("../images/borders/other/c1.gif")}
.other-box .c2{background-image: url("../images/borders/other/c2.gif")}
.other-box .c3{background-image: url("../images/borders/other/c3.gif")}


.b2 > h2 {
    margin: 0px;
    font-weight: bold;
    color: #000;
    text-align: left;
    text-shadow: none;
}
.b2 > p {
    letter-spacing: 0.5pt;
    font-family:cardenio-modern;
    font-size: 21px;
    line-height: 25px;
    color: #000;
    text-align: left;
    text-shadow: none;
}

.col-md-4 {
    padding-top: 50px;
}

.col-md-1 {
    float: left;
    width: 15.7%;
}


/* footer */

.footer-link > h2 {
    margin: 10px auto;
}

.footer .col-md-4 {
    padding: 8px;
}

.footer-text.col-md-9 {
    padding: 0;
}
.footer-thm.col-md-3 {
    padding: 0 6px 0 0;
}

.footer-text {
    color:#fff;
}
.copyright-blurb {
    float: left;
    color: #866c5e;
    margin-top: 14px;
}

.col-md-4 > h2 {
    margin-top: 10px;
}

.sns-icons{
    float: right;
    padding: 10px ;
}
.sns-icons img{

 padding-left: 8px
}
.sns-icons span{
height: 100px;
    padding: 1px;
    position: relative;
    
    text-transform: uppercase;
}

.footer .btn{
    float: right;
    padding: 14px;
border-radius: 0px;
    background-color: #77685f;
    text-transform: uppercase;
    color: #ffdac4;
    
}




.footer {
    background-color: transparent;
    color: #fff;
    float: left;
    height: auto;
    margin: 0;
    padding-right: 0;
            margin-top: 10px;
}

.footer-thm.col-md-3 {
    max-width: 75px;
    min-height: 80px
}

.footer-link:hover {
background-color:rgba(0,0,0,0.3);
}

.java-neighbours-links ul  {
    padding: 0px;
text-indent: 0px;
    
}
.java-neighbours-links li {
    display: block;
    float: left;
    width: 44%;
      background-color:#4d4644;
        margin: ; 
    text-align: center;
    margin: 3px 3%;
    padding:2px; 
}

 

    .col-md-4{
padding: 5px;
        
        padding-top: 50px ;
   
    }

.footer .btn {
    border-radius: 8px;
    margin-top: 7px;
    padding: 8px 10px;
}
   
 .big-moose-text h2 {
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
    margin: 15px 0 0;
}
.big-moose-text p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
}
.login-icon.menuitem{
        display: none;
        
    }
    .login-text.menuitem{
        display: flex;
        height: auto;
        margin-right:15px;
        padding: 5px 15px;
    }
.login-text span {
    float: left;
    font-size: 13px !important;
    line-height: 15px;
vertical-align: middle;
    margin-top: 5px;

    text-align: left;
}

  .login-text img {
    text-align: left;
        float: left;
      margin: 0px 0px 0px 5px;
}

.search.dropdown {
    display: none;
}

@media (min-width: 700px) and (max-width: 1280px) {
   
    .col-md-4{
    width: 33.3%;
padding: 5px;
        padding-top: 50px ;
        float:left;
    }
    

  
    .container-fluid {
    width: 90%;
}

    

      
  
   
         .col-md-6 {
    float: left;
    width: 50%;
    }
        .col-md-3 {
    float: left;
    width: 25%;
    }
        .thm.thm-5.col-md-3 {
    display:block ;
            
}
      .thm.thm-5-hidden.col-md-3 {
    display:none ;
}


  
    
    

    

    
    
    
}
.footer{
        width: 100%
    }


@media (min-width: 700px) and (max-width: 1015px) {
    
    
    
        .java-neighbours-links.col-md-6 > ul {
    float: left;
    padding: 0;
    width: 100%;
}

.java-neighbours-links.col-md-6 li {
    display: table;
    float: left;
    text-align: left;
    width: 100px;
}
    
        
.col-md-1 {
    float: left;
    width: 15.7%;
}
a.col-md-1 {
	display: block;
}
    
.rightDetails {
    margin-top: 0;
    position: absolute;
    right: 2px;
    transform: scale(0.8);
}
    .rightDetails {
    margin-right: 5px;
    width: 50px;
}
.titleLink h3 {
    clear: right;
    color: #666;
    display: inline-block;
    float: left;
    font-family: lucida grande;
    font-size: 15px;
    line-height: 19px;
    margin: 0 !important;
    min-height: 50px;
    padding: 4px 3px 8px 10px;
    text-align: left;
    text-shadow: none;
    text-transform: capitalize;
    width: 70%;
} 
          .navbar-form {
    display: inline-flex;
    height: 50px;
    margin: 0 !important;
    max-width: 550px;
    padding: 0;
    width: 42%;
}    
  
    .java-neighbours-links li {
    background-color: #4d4644;
    display: block;
    margin: 3px 3%;
    padding: 5px;
    text-align: left;
  
}
    

    
}


@media (min-width: 10px) and (max-width: 990px) {

    .logo-image {

    margin-bottom: 12px;

}
    
.sns-icons > span {
    display: none;
}
    
    .text-box {
    background: #f6f0eb none repeat scroll 0 0;
    height: 100px;
    margin-bottom: 15px;
    width: 100%;
}
 

    
 
}

@media (min-width: 10px) and (max-width: 850px) {
        


    
    .big-moose-text {
    clear: both;
    color: #ccc;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}
  
        .footer.col-md-12 {
    padding: 0px;
}
.sns-icons {
    float: right;
    padding: 10px 10px;
}
.footer .btn {
    float: right;

    
    

}
.copyright-blurb {
    margin: 0;
    padding: 1%;
    width: 40%;
}

    .col-md-1 {
    margin: auto;
    max-width: 155px;
    padding: 4px;
    width: 25%;

}
 
.icons.row {
    float: none;
    margin: auto;
    width: 85%;
}
    
              .background-fixer {
    background-image: url("../images/coderanch-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 150% auto;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
}
  
 @media (min-width: 10px) and (max-width: 750px) {
        

     .footer .col-md-4 {
    width: 100%;
}
     .special-footer-item.col-md-4 {
  width: 48%;
        float: left;
            clear: none;
            margin: 1%;
            
            
}

}




@media (min-width: 10px) and (max-width: 700px) {
 
    
            .special-footer-item.col-md-4 {


  width: 100%;
        float: left;
            clear: none;
            margin: 0;
                padding: 0px
}
    
.forums.dropdown  , .login-text1 {
    width: 100%;
    text-align: center;
    
}
    
 
.nav.navbar-nav.navbar-right {
    float: ;
    margin: 0;
    width: auto;
}  
    
    .navbar-form {
    border-top: medium none;
    display: inline-flex;
    float: none;
    height: auto;
    margin: 0 !important;
    max-width: 700px;
    padding: 0;
    width: 100%!important;
        clear: right;
}
 
    .icons.row {
    float: none;
    margin: auto;
    width: 95%;
}
         .col-md-4{
        clear: both;
         width: 100%;
    }  
    

  
    
.carousel-control.left {
    background-image: none;
    left: 0;
}
    .glyphicon.glyphicon-chevron-right {
    color: #fff;
}
    .caroussel-col.col-md-12 > h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
    .carousel-control {
    background-color: #bd9e80;
    bottom: 0;
    color: #fff;
    display: inline-block;
    height: 33px;
    opacity: 100;
    position: relative;
    text-align: center;
    text-shadow: none;
    top: -12px;
    width: 33px;
    z-index: 100;
}
    
    .navbar-form {
    display: inline-flex;
    height: 50px;
    margin: 0 !important;
    max-width: 550px;
    padding: 0;
    width: 42%;
}
    
     
.carousel-indicators {
position: relative;
    }
    .text-box{
          height: auto;
    }
    .col-md-3 {
    float: left;
    width: 50%;
    }
        .thm.thm-5.col-md-3 {
    display: none;
            
}
      .thm.thm-5-hidden.col-md-3 {
    display: block;
}

    
.col-md-1 {
    float: left;
    padding: 7px;
    width: 16.5%;
}
    

    

    .container-fluid{
        width: 90%
    }
 
.carousel-row.row {
    margin: -10px;
    padding: 0;
}
    .caroussel-col.col-md-12 {
    padding: 0;
}
    
  
    .footer {
    background-color: transparent;
    color: #fff;
    float: left;
    height: auto;
    margin: 0;
    padding-right: 0;

}
   
 
    

    .carousel-control.right {
    background-image: none;
    border-radius: 100px;
    float:right;
        left: 0px;
    }
  
        .carousel-control.left {
    background-image: none;
    border-radius: 100px;
            right: 0px;
    
}
    

   
.col-md-1 {
    margin: auto;
    max-width: 155px;
    padding: 4px;
    width: 25%;

}

     .carousel-indicators{
 background: #f6f0eb none repeat scroll 0 0;
    border-radius: 60px;
    height: 35px;
    left: 0;
    list-style: outside none none;
    margin-bottom: -8px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-top: 9px;
    position: relative !important;
    text-align: center;
    width: 100%;
    z-index: 15;
}
    
}

@media (min-width: 10px) and (max-width: 530px) {
  
    
    
        .home-header {
    height: auto;
     text-align: center;
        padding-bottom: 10px;
        
}
    .logo-container{
        width: 30%;
        vertical-align: middle;
          min-width: 300px;
           max-width: 300px;
            
    }
    
    .java-neighbours-links {
    display: inline-block;
    height: auto;
    margin-bottom: 10px;
}
    
      
    .col-md-1 {
    float: left;
    padding: 4px;
    width: 32%;
}
    
    .rightDetails {
    margin-right: 5px;
    width: 50px;
}
    
    .sns-icons {
    float: left;
    padding: 10px 0px;
      
}
    .copyright-blurb {
    margin: 0;
    padding: 1%;
    width: 100%;
    text-align: center
}

    
    .rightDetails {
    margin-top: 0px;
    position: absolute;
    right: 2px;
    transform: scale(0.8);
}
    
       .menuitem {
    float: left;
    width: 100%;
}
    
      .forum-icon h2 {
    font-size: 26px;
    padding-bottom: 2px;
}


    }



@media (min-width: 10px) and (max-width: 455px) {

  
    
.forum-box-btn {
    background-color: #b9604e !important;
    border: 1px solid #000;
    color: #ffffff !important;
    display: block;
    float: none;
    font-family: cardenio-modern;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 0 auto -23px;
    max-width: 123px;
    padding: 0 10px;
    position: relative !important;
    width: auto;
}
    

    
    .col-md-4{
        
        padding: 10px
    }
    
.about-icon {
    float: left;
    margin-left: -10px;
    margin-top:-26px;
    padding-right: 5px;
    text-align: center;
    width: auto;
}
    
    .about-icon > img {
    float: left;
    width: 60px;
}
    
    
    .a1,.a3,.c1,.c3{ height: 10px; width: 10px; }
.b1,.b3{ width: 10;}
.a2,.c2{ height: 10px;}
.b2{ background-color: #e4e4e4; border: solid 1px #000; padding :10px;}

.a1{background-image: url("../images/borders/a1.gif");background-position:top left;}
.a2{background-image: url("../images/borders/a2.gif");background-position:top ;}
.a3{background-image: url("../images/borders/a3.gif") ;background-position:top right;}
.b1{background-image: url("../images/borders/b1.gif")}
.b3{background-image: url("../images/borders/b3.gif") ;background-position:right;}
.c1{background-image: url("../images/borders/c1.gif");background-position: left bottom}
.c2{background-image: url("../images/borders/c2.gif") ;background-position: bottom}
.c3{background-image: url("../images/borders/c3.gif");background-position:  bottom right}


.b2 > h2 {
    margin: 0px;
    font-weight: bold;
    color: #000;
    text-align: left;
    text-shadow: none;
}.b2 > p {
    color: #000;
    font-family: lato;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    text-shadow: none;
}
    
    
    
    
.col-md-1 {
    float: left;
    padding: 4px;
    width: 33.3333%;
}
    .forum-icon h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2px;

        font-size: 23px;
            padding-bottom:2px;
    }
    
    .background-fixer {
    background-image: url("../images/coderanch-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 210% auto;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

    .home-header {
    font-family: "Lato",sans-serif;
    height: auto;
    width: 100%;
}

    
    
    .container-fluid {

    margin-top: 0;
    max-width: 1010px;
    position: relative;
    top: 0;
}
    
    .home-header {
    padding-bottom: 18px;
}
 
    .forum-name {
    display: none;
}
    .text-box {
    background: #f6f0eb none repeat scroll 0 0;
    height: auto;
    margin-bottom: 9px;
    min-height: 60px;
    width: 100%;

}
    

    
    .leftDetails {
    color: #666;
    display: none;
    float: left;
    font-family: lucida grande;
    font-size: 11px;
    padding: 0 5px;
    text-shadow: none;
}
    
.footer {
    background-color: transparent;
    color: #fff;
    float: left;
    height: auto;
    margin: 0 0px 15px 0px;
    padding-right: 0;
}
   
    
    .titleLink h3 {
    color: #666;
    float: left;
    font-family: lucida grande;
    font-size: 16px;
    line-height: 19px;
    margin: 0 !important;
    min-height: 60px;
    padding: 0px 20px 0px 10px;
    text-align: left;
    text-shadow: none;
    text-transform: capitalize;
    width: 76%;
        clear:right;
}
    
    
    .rightDetails {
    width: 50px;
            margin-right: 5px;
}
    
.thumbSec {
    min-height: 39px;
}
    
    .thumbSec > img {
    height: auto;
    width: 100%;
}
    .carousel-row.row {
    margin: -10px;
    padding: 0;
}
    .caroussel-col.col-md-12 {
    padding: 0;
}
    .logo-container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
    .logo-image {
    width: 100%;
}
    
     .logo-type {
    width: 100%;
             max-width: 380px;
         position: relative;
         bottom: -20px
}
       .container-fluid{
        width: 100%
    }
   

    .header-message {
        font-size:20px;
        position: relative;
     
        width: 80%;
        margin: 0 auto;
        
    }
    
 .big-moose-text h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0 0;
}
    .big-moose-text p {
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0;
}
    
    .java-neighbours-links.col-md-6 {
    clear: right;
    float: left;
    margin-bottom: 13px;
    width: 151px;
}

    .carousel-control.right {
    background-image: none;
    border-radius: 60px 0 0 60px;
    right: 0;
}
       .carousel-control.left {
    background-image: none;
    border-radius: 0 60px 60px 0 ;
    left: 0;
}
    

.titleLink h3 {
    font-size: 15px;
    line-height: 17px;
    padding: 3px 10px 3px 7px;
    width: 74%;
}
    
.carousel-control {
    background-color: #bd9e80;
    bottom: 0;
    color: #fff;
    display: inline-block;
    height: 33px;
    opacity: 100;
    position: relative;
    text-align: center;
    text-shadow: none;
    top: -12px;
    width: 33px;
    z-index: 99;
}
    .carousel-control.right {
    background-image: none;
    border-radius: 100px;
    float:right;
    }
  
        .carousel-control.left {
    background-image: none;
    border-radius: 100px;
    
}

    
    .text-box{
        padding: 0px;
    }
    
    .carousel.slide {
    height: auto;
    margin-bottom: 20px;
}
 
    
    .logo-image {
    clear: both;
    float: left;
    height: auto;
    margin-bottom: 10px;
    margin-top: 65px;
    min-width: 300px;
    vertical-align: middle;
    width: 100%;
}
   
    .forum-icon h2 {
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 2px;
}

 
}
    
@media (min-width: 10px) and (max-width: 355px) {
    
    .big-moose-text h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0 0;
}
    
    .icons.row {
    width: 100%;
}
    
        .copyright-blurb {
    font-size: 11px;
    padding: 9px;
}
    
    .forum-icon h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
}
    }


    