@charset "utf-8";
/* CSS Document */

.right-new-bar
{
	display:none}
.wp-home-icon
{
	width:40px !important;
    text-align: center;
    vertical-align: middle;}
.wp-home-icon img
{ 
	width:38% !important;
	margin-top:-5px;
}

.wp-home-icon:hover
{
	background-color:#13980b}
.chat-home-icon
{
	width:40px !important;
    text-align: center;
    vertical-align: middle;}
.chat-home-icon img
{ 
	width:38% !important;
	margin-top:-5px;
}

.chat-home-icon:hover
{
	background-color:#2985c5}
	
	#gotoTop{display:none !important;}

@media (min-width: 992px) {

	#top-bar { z-index: 299; }

	#top-bar.transparent-topbar { background: transparent !important; }

	#top-bar.transparent-topbar + #header.transparent-header + #slider {
		margin-bottom: -145px;
		top: -145px;
	}

}

.dark .top-links li > a { color: #EEE; }

.dark .top-links li:hover { background-color: rgba(255,255,255,0.15); }

.dark #top-social li { border-left: 0; }

.dark #top-social li a { color: #EEE; }

.dark #header-wrap:not(.not-dark) #primary-menu.style-4 > ul > li:hover > a,
.dark #header-wrap:not(.not-dark) #primary-menu.style-4 > ul > li.current > a { border-color: rgba(255,255,255,0.5); }




iframe.giphy-embed body .cutout
{
	display:none !important;
}
/*mega menu next li*/
.next-li
{
	background-image: url("../images/icons/submenu.png");
    background-position: 6px -2px;
    background-repeat: no-repeat;
    padding-left: 23px;}

.next-li a, .next-li a:hover {
    padding: 0 0 0 5px !important;
    height: auto !important;
    line-height: 22px !important;
}

.ranking-popup
{
	background:#FFF;
	padding:30px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;}

.prog-list
{
	margin-left:0;
	padding:0;}

.prog-list li {
    background: rgba(0, 0, 0, 0) url("../images/icons/widget-link.png") no-repeat scroll left 1px;
    border: medium none !important;
    color: #444;
    font-size: 14px;
    list-style: outside none none;
    padding-left: 15px;
}

.prog-list li ul li {
    background: rgba(0, 0, 0, 0) url("../images/icons/sub-widget-link.png") no-repeat scroll left 1px;
    border: medium none !important;
    color: #444;
    font-size: 14px;
    list-style: outside none none;
    padding-left: 15px;
}


.custom-menu-title
{
	color: #444 !important;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: auto !important;
    letter-spacing: 1px;
    line-height: 1.3 !important;
    margin-bottom: 15px;
    padding: 0 !important;
    text-transform: uppercase !important;
}
/*mega menu next li*/
.goodle-code
{
	display:none !important;}
.pa0 {
	padding: 0 !important;
}
.pa5 {
	padding: 5px !important;
}
.pa10 {
	padding: 10px !important;
}
.pa15 {
	padding: 15px !important;
}
.pa20 {
	padding: 20px !important;
}
.pa25 {
	padding: 25px !important;
}
.pa30 {
	padding: 30px !important;
}
.pa35 {
	padding: 35px !important;
}
.pa40 {
	padding: 40px !important;
}
.pa45 {
	padding: 45px !important;
}
.pa50 {
	padding: 50px !important;
}
/*padding all*/
.ptb10 {
    padding: 10px 0 !important;
}
/*padding left*/
.pl0 {
	padding-left: 0 !important;
}
.pl5 {
	padding-left: 5px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pl15 {
	padding-left: 15px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pl25 {
	padding-left: 25px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pl35 {
	padding-left: 35px !important;
}
.pl40 {
	padding-left: 40px !important;
}
.pl45 {
	padding-left: 45px !important;
}
.pl50 {
	padding-left: 50px !important;
}
/*padding left*/
/*padding right*/
.pr0 {
	padding-right: 0 !important;
}
.pr5 {
	padding-right: 5px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pr15 {
	padding-right: 15px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pr25 {
	padding-right: 25px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pr35 {
	padding-right: 35px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pr45 {
	padding-right: 45px !important;
}
.pr50 {
	padding-right: 50px !important;
}
/*padding right*/
/*padding top*/
.pt0 {
	padding-top: 0 !important;
}
.pt5 {
	padding-top: 5px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pt25 {
	padding-top: 25px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pt35 {
	padding-top: 35px !important;
}
.pt40 {
	padding-top: 40px !important;
}
.pt45 {
	padding-top: 45px !important;
}
.pt50 {
	padding-top: 50px !important;
}
/*padding top*/
/*padding bottom*/
.pb0 {
	padding-bottom: 0 !important;
}
.pb5 {
	padding-bottom: 5px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pb15 {
	padding-bottom: 15px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
.pb25 {
	padding-bottom: 25px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pb35 {
	padding-bottom: 35px !important;
}
.pb40 {
	padding-bottom: 40px !important;
}
.pb45 {
	padding-bottom: 45px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}





.pb-5 {
	padding-bottom: -5px !important;
}
.pb-10 {
	padding-bottom: -10px !important;
}
.pb-15 {
	padding-bottom: -15px !important;
}
.pb-20 {
	padding-bottom: -20px !important;
}
.pb-25 {
	padding-bottom: -25px !important;
}
.pb-30 {
	padding-bottom: -30px !important;
}
.pb-35 {
	padding-bottom: -35px !important;
}
.pb-40 {
	padding-bottom: -40px !important;
}
.pb-45 {
	padding-bottom: -45px !important;
}
.pb-50 {
	padding-bottom: -50px !important;
}
/*padding bottom*/
/*padding right*/
.plr0 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.plr5 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.plr10 {
padding-left: 10px !important;
	padding-right: 10px !important;
}
.plr15 {
padding-left: 15px !important;
	padding-right: 15px !important;
}
.plr20 {
padding-left: 20px !important;
	padding-right: 20px !important;
}
.plr25 {
padding-left: 25px !important;
	padding-right: 25px !important;
}
.plr30 {
padding-left: 30px !important;
	padding-right: 30px !important;
}
.plr35 {
padding-left: 35px !important;
	padding-right: 35px !important;
}
.plr40 {
padding-left: 40px !important;
	padding-right: 40px !important;
}
.plr45 {
padding-left: 45px !important;
	padding-right: 45px !important;
}
.plr50 {
padding-left: 50px !important;
	padding-right: 50px !important;
}
/*padding right*/
/*padding end*/
/*margin start*/
/*margin all*/
.ma0 {
	margin: 0 !important;
}
.ma5 {
	margin: 5px !important;
}
.ma10 {
	margin: 10px !important;
}
.ma15 {
	margin: 15px !important;
}
.ma20 {
	margin: 20px !important;
}
.ma25 {
	margin: 25px !important;
}
.ma30 {
	margin: 30px !important;
}
.ma35 {
	margin: 35px !important;
}
.ma40 {
	margin: 40px !important;
}
.ma45 {
	margin: 45px !important;
}
.ma50 {
	margin: 50px !important;
}
/*margin all*/
/*margin left*/
.ml0 {
	margin-left: 0 !important;
}
.ml5 {
	margin-left: 5px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml15 {
	margin-left: 15px !important;
}
.ml20 {
	margin-left: 20px !important;
}
.ml25 {
	margin-left: 25px !important;
}
.ml30 {
	margin-left: 30px !important;
}
.ml35 {
	margin-left: 35px !important;
}
.ml40 {
	margin-left: 40px !important;
}
.ml45 {
	margin-left: 45px !important;
}
.ml50 {
	margin-left: 50px !important;
}
/*margin left*/
/*margin right*/
.mr0 {
	margin-right: 0 !important;
}
.mr5 {
	margin-right: 5px !important;
}
.mr10 {
	margin-right: 10px !important;
}
.mr15 {
	margin-right: 15px !important;
}
.mr20 {
	margin-right: 20px !important;
}
.mr25 {
	margin-right: 25px !important;
}
.mr30 {
	margin-right: 30px !important;
}
.mr35 {
	margin-right: 35px !important;
}
.mr40 {
	margin-right: 40px !important;
}
.mr45 {
	margin-right: 45px !important;
}
.mr50 {
	margin-right: 50px !important;
}
/*margin right*/
/*margin top*/
.mt0 {
	margin-top: 0 !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt7 {
	margin-top: 7px !important;
}

.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt35 {
	margin-top: 35px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt45 {
	margin-top: 45px !important;
}
.mt50 {
	margin-top: 50px !important;
}



.mt-5 {
	margin-top: -5px !important;
}
.mt-7 {
	margin-top: -7px !important;
}

.mt-10 {
	margin-top: -10px !important;
}
.mt-15 {
	margin-top: -15px !important;
}
.mt-20 {
	margin-top: -20px !important;
}
.mt-23 {
	margin-top: -23px !important;
}
.mt-25 {
	margin-top: -25px !important;
}
.mt-30 {
	margin-top: -30px !important;
}
.mt-35 {
	margin-top: -35px !important;
}
.mt-40 {
	margin-top: -40px !important;
}
.mt-45 {
	margin-top: -45px !important;
}
.mt-50 {
	margin-top: -50px !important;
}

/*margin top*/
/*margin bottom*/
.mb0 {
	margin-bottom: 0!important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb35 {
	margin-bottom: 35px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb45 {
	margin-bottom: 45px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mt60{
	margin-top: 60px !important;
}
#top-bar, #top-bar .top-links ul li, #top-bar #top-social li
{
	border:none !important}
	
.section h1
{
	background:#f9f9f9 !important}

#tab-flights h4
{
	font-size:15px !important;}
	
	
#tab-flights .sm-form-control
{
	background-color: #ffffff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0 !important;
    color: #555555;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 4px 8px;
    transition: border-color 0.15s ease-in-out 0s;
    width: 100%;}

.col-padding-sm {
    padding: 30px;
}

.col-padding-xs {
    padding: 15px;
}
.tabs {
    width: 40%;
}
.sc-media-right
{
	display:none !important}
	
/* sahil custom css */
.school-slider{top:0px !important; margin-bottom:0 !important; }
.school-slidercaption{background-color: rgba(255, 255, 255, 0.8);border-radius: 2px; padding: 40px; max-width:450px;}
.school-slidercaption h2{font-size: 27px;line-height: 33px; margin-bottom: 20px; color:#555;}
.school-slidercaption h4{font-size: 20px;margin-bottom: 20px; color:#999;}
.school-slidercaption p{ font-size: 20px;margin-bottom: 0;}
.pb60{padding-bottom:60px !important;}
.school-bggrey{background:#F9F9F9;}
.section-white{background:#fff !important; position:relative;}
.button-grey{background:#444 !important;}
.infra .i-overlay { background: none !important }
.dis-block{display:block;}
.subtitle-new{font-size: 18px; font-weight: 300;}
.right{text-align:right;}
.mh60{min-height:60px;}
.filter-align{display:inline-block !important; float:none !important;}
.slider-captiontext{ background-color: rgba(0, 0, 0, 0.6); border-radius: 2px; bottom: 0px !important; left: 0px !important; padding: 5px 12px; top: auto; font-size:14px;}
.lh-n{line-height:normal !important;}
.sticky-header .header-border{border-bottom:2px solid #2985c5;}
#primary-menu ul ul, #primary-menu ul li .mega-menu-content{border:0px;}
.map-alumni{background: #f2f2f2; padding: 15px 3px;}
.map-alumni img{margin-bottom:3px; width:100px; height:75px;}
.book-css{moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none;border-color: #fff; border-image: none; border-style: solid;border-width: 4px 2px 2px 4px;box-shadow: 3px 2px 11px 12px #ccc;}
/*.box-shadow{box-shadow:0px 2px 8px -1px rgba(0,0,0,0.2);}*/

.infra .i-overlay i {
	color: #000;
	padding:15px;
	background:rgba(255,255,255,0.5);
	text-shadow: none;
}

.infra .i-overlay i {
	font-size:24px !important;
    height: auto !important;
    line-height:none !important;
    margin: auto !important;
    width: auto !important;
	-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.infra .i-overlay img, .infra .i-overlay i {
    color: #000;
    display: block;
    font-size: 48px;
    height: auto !important;
    left: 50%;
    line-height: 1;
    margin: -24px 0 0 -24px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    top: 50%;
    width: auto !important;
}
/* about pages - arti  : start */
#header.transparent-header + #slider.new-slider{top: 0px; margin-bottom: 80px;}
#content p {line-height: 1.8;}
.heading-block~p:not(.lead) {font-size: 15px;}
.chairman-img{background: url('../about_lpu/images/main-bg.jpg') center center no-repeat; background-size: cover; height: 711px !important;}
.chairman-wrapper{background: #F5F5F5; height: 711px !important;}
.chairman-wrapper-quotes{margin-top: 120px;}
.section .transparent-bg{background: none !important;}
.vd-slider{right:0px; top:18%; position:absolute !important;}
.text-grey{color:#ccc !important;}
#primary-menu ul li .mega-menu-content ul li.sub-menu .submenu{display:none !important;}
#primary-menu ul li .mega-menu-content ul li.sub-menu:hover .submenu{display:block !important;}
#primary-menu ul li .mega-menu-content ul li.sub-menu .submenu li{}
#primary-menu ul li .mega-menu-content ul li.sub-menu .submenu li a{padding-left:20px;}
#primary-menu ul li .mega-menu-content ul li.sub-menu .submenu li a:hover{background-color:#f9f9f9; color:#2985c5 !important; padding-left:25px;}
#primary-menu ul li .mega-menu-content ul li.sub-menu .submenu{display:none !important;}
#primary-menu ul li .mega-menu-content ul li.sub-menu .submenu{display:none !important;}
.slider-text{background: rgba(255, 255, 255, 0.2); left: -150px; margin: 0 auto; max-width: 800px; padding: 24px; position: relative; right: 0;color:#ccc !important;}
.slider-text h2{color:#ccc !important;}
.bb0{border-bottom: 0px;}
.fs14{font-size:14px;}
.icon-grey{color:#555;}
/* about pages - arti  : end */

/* Hero Video Play Event
---------------------------------------------------------------------------- */
#play-hero-video.big-video-button{background:#f2f2f2 !important; color:#333 !important;}
.big-video-button {
	display: inline-block;
	width: 64px;
	height: 64px;
	line-height: 64px;
	border-radius: 50%;
	background-color: #333;
	color: #F5F5F5 !important;
	font-size: 24px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	opacity: 1;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.big-video-button:hover { opacity: 0.9; }

.dark .big-video-button,
.big-video-button.dark {
	background-color: #F5F5F5;
	color: #333 !important;
	text-shadow: none;
}

.big-video-button i:nth-of-type(1) {
	position: relative;
	left: 3px;
}

.big-video-button i:nth-of-type(2),
.big-video-button.video-played i:nth-of-type(1) { display: none; }

.big-video-button.video-played i:nth-of-type(2) { display: block; }

.big-video-button.video-played { opacity: 0.1; }

#slider:hover .big-video-button.video-played { opacity: 1; }

/*home page filter*/

.lpu-events .portfolio-desc {
    padding: 5px;
    z-index: 3;
}
.lpu-events .portfolio-desc h5 {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.lpu-events .portfolio-desc h5 a {
    color: #222;
}
.lpu-events .portfolio-desc h5 a:hover {
    color: #1abc9c;
}
.lpu-events .portfolio-desc span {
    color: #888;
    display: block;
    margin-top: 3px;
	font-size:10px !important;
}
.lpu-events .portfolio-desc span a {
    color: #888;
}
.lpu-events .portfolio-desc span a:hover {
    color: #000;
}
.lpu-events.portfolio-notitle .portfolio-desc {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    bottom: -50px !important;
    display: block !important;
    height: 50px !important;
    left: 0;
    padding: 5px;
    position: absolute;
    top: auto;
    width: 100%;
}

.lpu-events.portfolio-notitle .portfolio-desc, .lpu-events.portfolio-notitle .portfolio-desc {
    border-bottom: 0 none;
    bottom: -78px !important;
}

.lpu-events .portfolio-overlay a {
    font-size: 13px !important;
	height:30px !important;
	width:30px !important;
	line-height:30px !important;
}
.lpu-events .portfolio-item .portfolio-image, .lpu-events .portfolio-item .portfolio-image a, .lpu-events .portfolio-item .portfolio-image img {
    display: block;
    height: auto !important;
    width: 276px;
}
/*home page filter*/

.nolink a
{
	cursor:default !important;}

/* Student Services> Residence : ARTI */
.slider-thumb{float: right; width: 50%;}
.postcontent-new{width: 675px;}
.w100{width: 100% !important;}
#posts_2 .entry-content {margin-top: 30px;}

/* Student Services> Residence - END : ARTI */

.slider-heading{background: rgba(255, 255, 255, 0.2); left: -325px !important; margin: 0 auto; max-width: 800px; padding: 24px; position: relative; right: 0;color:#ccc !important; top: 265px !important;}
.slider-heading h2{color:#ccc !important;}
#page-title.page-title-new{padding: 20px 0px !important;}


/* find your program - Arti*/
.fs12{font-size: 12px;}
.bg-f5{background: #f5f5f5;}
.heading-block h4.program-text {font-size: 18px; text-transform: none; color: #888; font-family: lato; font-weight: 400;}
.dropdown-outer{background: #fff; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.18); width: 100%; min-height: 60px;}
.dropdown-outer .label-mini{padding: 10px 5px 0px; font-size: 10px; color: #aaaaaa; text-transform: uppercase;}
.dropdown-outer .list-item{padding: 0px 4px 7px; font-size: 18px; color: #444;}
.dropdown-outer i{font-size: 18px; color: #aaa; position: relative; top: -8px;}

.dropdown-inner{display: none; border-top: 1px solid #d3d3d3;}
.dropdown-inner .label-heading{font-size: 16px; color: #888; text-transform: none; font-weight: 400; padding: 0;}
.dropdown-inner .standing-list .label-heading {font-size: 16px; color: #888; text-transform: none; font-weight: 400; padding: 0;}
.dropdown-inner .discipline-list label{display: block;}
.dropdown-inner i{font-size: 16px; color: #fff; position: relative; top: 0px;}
.dropdown-inner .standing-list label{font-size: 14px; color: #444; text-transform: none; padding-right: 30px;}
.br {border-right: 1px solid #efefef;}
.new-container{width: 860px;}
.option-blue{color: #2985c5;}
.border-all {border: 1px solid #efefef;}
.search-css{background: #fff; border: 1px solid #efefef; border-radius: 0px !important; min-height: 40px; box-shadow: none; font-size: 16px;}
.btn-search{font-size: 16px; text-transform: none; font-weight: 400; text-shadow: none;}
/* find your program: End - Arti */

/* homepage changes 
.tp-border{border-top: 15px solid #2985c5;}*/
.lead.fs18{font-size:18px !important;}
.v-shadow .fluid-width-video-wrapper iframe, .v-shadow .fluid-width-video-wrapper object, .v-shadow .fluid-width-video-wrapper embed {box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.4);}
.blur{-webkit-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px);}
#primary-menu.sub-title ul li span{color:#ccc !important;} 
.slider-caption h2.tt-ini{text-transform: initial !important;}


.dis-in-block{display: inline-block;}
.section .nbg{background:none !important;}
.table-comparison td p {
    text-align: left;
    font-weight: normal; 
    margin-bottom:0px;
}
.swiper_wrapper .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('images/residence/portfolio/full/1.jpg') repeat;
}
.white-text h2,.white-text p{color:#fff !important;}
.entry-title h2 span.students-selection{float: right; color: #555!important; font-weight: 500;}
#posts1.post-masonry .entry-image img {border: 1px solid rgba(0,0,0,0.1);}
.pb5 { padding-bottom: 5px; }
#posts1.post-grid.grid-6 .entry {width: 175px; float: left; margin-right: 15px;}
#posts1 .entry .entry-meta li span{color: #555;}
.slider-caption.slider-caption-white{background-color: rgba(255,255,255,0.9); border-radius: 2px; left: -25px; padding: 40px; max-width: 450px;}
.slider-caption.slider-caption-white h2{color:#222 !important; font-size:24px !important;}
.slider-caption.slider-caption-white p{color:#222 !important; font-size:18px !important;}
.portfolio-4 .portfolio-item {width: 270px;}
.img-shadow {box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);}
.pb40{padding-bottom: 40px;}
.pb80{padding-bottom: 80px;}
.pb100{padding-bottom: 100px;}
.new-quotes blockquote{ border-left: none; padding: 0;}
.new-quotes blockquote footer:before, blockquote small:before, blockquote .small:before{content: '';}
.float-right{float: right;}
.text-black{color: #252525 !important;}
.emphasis-title h3.text-white, .emphasis-title span.text-white{color: #fff;}
.fbox-desc{text-align: left;}
.fbox-desc h3 {padding: 0 ;}
.fs42{font-size: 42px;}
.fs20{font-size: 20px;}
/* homepage changes css */
#primary-menu.sub-title ul li span{color:#ccc !important;} 

#particles .pg-canvas{display: block; position: absolute; z-index: 9; height: 100%;opacity: 0.4;}
.alignment-div{position: absolute;z-index: 99; top: 510px;}
.alignment-div2{    position: absolute;top: 575px;z-index: 9;color: #eee !important;left: 10px;}
.nb{border:none !important;}
#top-social .homeform-icons li a{color:#eee;} 
.white-tooltip + .tooltip > .tooltip-inner {background-color: #fcfcfc !important; color:#999;}
.white-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#fcfcfc !important; }
.cursor-d{cursor:default !important;}
.bl{border-left:1px solid #ccc;}
.br{border-left:1px solid #ccc !important;}
.pla-box{padding:5px;border:1px solid #efefef; margin-bottom:10px; min-height:160px;}
.pla-box label{font-family: Raleway,sans-serif; font-size: 9px;text-transform: capitalize !important;font-weight: 600 !important; margin-bottom:0px;}
.pla-box p{padding:0px; }
.n-br{border-right:0px !important;}
.modal-md650{width:650px; margin:30px auto;}
.img-margin{margin-right: 11px;margin-left: 1px; margin-top: 14px;}
.img-mt4{margin-top:13px;}


.home-form-modal2 .modal-header{background: #891931; border-bottom: 1px solid #71081e;}
.home-form-modal2 .modal-header h4{color:#fff; font-family:Raleway,sans-serif; font-weight:400px;}
.apply-nowdiv{position:relative; z-index:99;}
.chat-corner{position:fixed; bottom:15px; right:15px;}