@charset "utf-8";
@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'latoregular';
    src: url('../css/fonts/lato-regular-webfont.eot');
    src: url('../css/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/lato-regular-webfont.woff') format('woff'),
         url('../css/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../css/fonts/raleway-semibold-webfont.eot');
    src: url('../css/fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../css/fonts/raleway-semibold-webfont.woff') format('woff'),
         url('../css/fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('../css/fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('../css/fonts/lato-bold-webfont.eot');
    src: url('../css/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/lato-bold-webfont.woff') format('woff'),
         url('../css/fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../css/fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latosemibold';
    src: url('../css/fonts/lato-semibold-webfont.eot');
    src: url('../css/fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('../css/fonts/lato-semibold-webfont.woff') format('woff'),
         url('../css/fonts/lato-semibold-webfont.ttf') format('truetype'),
         url('../css/fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'RupeeForadianRegular';
	src: url('../css/fonts/rupee_foradian-webfont.eot?v=4.3.0');
	src: url('../css/fonts/rupee_foradian-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
	url('../css/fonts/rupee_foradian-webfont.woff2?v=4.3.0') format('woff2'),
	url('../css/fonts/rupee_foradian-webfont.woff?v=4.3.0') format('woff'),
	url('../css/fonts/rupee_foradian-webfont.ttf?v=4.3.0') format('truetype'),
	url('../css/fonts/rupee_foradian-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
    font-family: 'Crete Round';
    src: url('../css/fonts/creteround-regular-webfont.eot');
    src: url('../css/fonts/creteround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/creteround-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/creteround-regular-webfont.woff') format('woff'),
         url('../css/fonts/creteround-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/creteround-regular-webfont.svg#crete_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../css/fonts/lato-regular-webfont.eot');
    src: url('../css/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/lato-regular-webfont.woff') format('woff'),
         url('../css/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('../css/fonts/raleway-regular-webfont.eot');
    src: url('../css/fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/raleway-regular-webfont.woff') format('woff'),
         url('../css/fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.nest-result
{ border-bottom:#eee solid 3px; color:#eee !important}

.demos-filter {
		margin: 0;
		text-align: right
	}
	.demos-filter li {
		list-style: none;
		margin: 10px 0
	}
	.demos-filter li a {
		display: block;
		border: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #444
	}
	.demos-filter li a:hover, .demos-filter li.activeFilter a {
		color: #1ABC9C
	}	
	.revo-slider-emphasis-text {
		font-size: 64px;
		font-weight: 700;
		letter-spacing: -1px;
		font-family: Raleway, sans-serif;
		padding: 15px 20px;
		border-top: 2px solid #FFF;
		border-bottom: 2px solid #FFF
	}
	.revo-slider-desc-text {
		font-size: 20px;
		font-family: Lato, sans-serif;
		width: 650px;
		text-align: center;
		line-height: 1.5
	}
	.revo-slider-caps-text {
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 3px;
		font-family: Raleway, sans-serif
	}
	.tp-video-play-button {
		display: none!important
	}
	.tp-caption {
		white-space: nowrap
	}
	.tleft {
		text-align: left !important
	}
	.home-videbtn {
		position: absolute;
		bottom: 25%;
		left: 20%;
	}
	.portfolio-3 .entry-title h2 {
		font-size: 18px;
	}
	.black-div {
		position: fixed;
		height: 100%;
		background: #000;
		z-index: 9;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
		background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1 ); /* IE6-9 */
	}
	.white-tooltip + .tooltip > .tooltip-inner {
		background-color: #fcfcfc !important;
		color: #999;
	}
	.white-tooltip + .tooltip > .tooltip-arrow {
		border-bottom-color: #fcfcfcimportant;
	}
	.grid-border {
		overflow: hidden;
	}
	.grid-border [class^="col-"]::before, .grid-border [class^="col-"]::after {
		content: "";
		position: absolute;
	}
	.grid-border [class^="col-"]::before {
		border-left: 1px solid rgba(0, 0, 0, 0.05);
		height: 100%;
		left: -1px;
		top: 0;
	}
	.grid-border [class^="col-"]::after {
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		bottom: -1px;
		height: 0;
		left: 0;
		top: auto;
		width: 100%;
	}
	.text-font {
		font-family: roboto;
		font-size: 14px;
	}
	.head-text {
		font-family: "Source Sans Pro", sans-serif;
	}
	.tabs {
		width: 100%;
	}
	.top-up {
		background: #891931 !important;
	}
	.top-up:hover {
		color: #fff !important;
	}
	.dali {
		color: #f07114;
	}
	.width-half
	{
		width:50% !important;
	}
	.alumni-thumb{
		float:left;
		width:20%;
		cursor:pointer;
		margin-top:5px;
		margin-right:2px;
	}
	@media(max-width:1930px)
	{
		.pt240 {
		/*padding-top: 415px;*/
		padding-top: 300px;
	}
	}
	@media(max-width:1610px)
	{
		.pt240 {
		padding-top: 280px;
		/*padding-top: 215px;*/
	}
	}
	@media(max-width:1370px)
	{
			.pt240 {
  /*padding-top: 200px;*/
	padding-top: 180px;
}
	}
	@media(max-width:1280px){
	.pt240
	{	
		/*padding-top:277px;*/
		
		padding-top:150px;
	}}
	@media(max-width:1025px)
	{
		.pt240
	{	
		padding-top:260px;
	}
	}
	@media (max-width:991px) {
	.demos-filter {
		text-align: center
	}
	.demos-filter li {
		float: left;
		width: 33.3%;
		padding: 0 20px
	}	
	.width-half {
    top: 175px !important;
    width: 100% !important;
}
.pt240 {
    padding-top: 380px;
}
	}
	@media(max-width:990px){
	.top-links li > a
	{
		color: #333 !important;
	}}
	
	
	@media (max-width:767px) {
	.demos-filter li {
		width: 50%
	}
	.mfp-close
	{
		color:#000;
		z-index:11;
		right:20px;
		top:20px;
		background-color:#fff !important;}
		.width-half {
    top: 7px !important;}
	.pt240 {
    padding-top: 18px;
}
	}
	#top-slider .text1 {
		font-size: 24px;
		text-shadow: 1px 0px 1px #444;
	}
	
	#top-slider h2.think{text-transform: initial !important; font-size:44px;font-family: raleway;font-weight: 100;margin:40px 0;text-shadow: 1px 0px 1px #444;}
	#top-slider h2.think em{ font-size:44px;font-family: raleway;font-weight: 300; letter-spacing:6px; font-style:normal;text-shadow: 1px 0px 1px #444;}
	#top-slider h2.think small{ font-size:64px; color:#F07114;font-family: raleway;text-shadow: 1px 0px 1px #444;}
	.slider-apply-btn{
		display: inline-block;
		position: relative;
		cursor: pointer;
		outline: none;
		white-space: nowrap;
		margin: 5px;
		padding: 0 22px;
		font-size: 14px;
		height: 40px;
		line-height: 40px;
		background-color: #2985c5;
		color: #FFF;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		border: none;
	}
	.slider-apply-btn.button-border {
		border: 2px solid #eee;
		background-color: transparent;
		color: #eee;
		line-height: 36px;
		font-weight: 600;
		text-shadow: none;
	}
	@media(min-width:650px) and (max-width:800px) {
		#top-slider .text1 {
			font-size: 30px !important;
			display:inline-block;
		}
		.pt240
		{
			padding-top:340px;
		}
		#top-slider h2.think{text-transform: initial !important; font-size:35px;font-family: raleway;font-weight: 100;margin:22px 0}
		#top-slider h2.think em{ font-size:35px !important;font-family: raleway;font-weight: 300; letter-spacing:6px; font-style:normal;}
		#top-slider h2.think small{ font-size:45px !important; color:#F07114;font-family: raleway;}
		
		.dali {
			color: #f07114;
			font-size: 25px;
		}
	}
	
	@media(max-width:740px)
	{
		.pt240
		{
			padding-top:10px;   	
		}
	}
	
	@media(max-width:640px) {
	ul.tab-nav:not(.tab-nav-lg) li a {
		font-size: 12px;
		padding: 0 10px;
		}	
	}
	@media(min-width:400px) and (max-width:650px) {
		#top-slider .text1 {
			font-size: 15px !important;
			width: 100%;
			display:inline-block;
		}
		
		#top-slider h2.think{text-transform: initial !important; font-size:28px;font-family: raleway;font-weight: 100;margin:15px 0}
		#top-slider h2.think em{ font-size:28px !important;font-family: raleway;font-weight: 300; letter-spacing:6px; font-style:normal;}
		#top-slider h2.think small{ font-size:40px !important; color:#F07114;font-family: raleway;}
		
		.dali {
			color: #f07114;
			font-size: 20px;
		}
	}
	
	
	@media(min-width:319px) and (max-width:480px) {
		#top-slider .text1 {
			font-size: 12px !important;
			width: 100%;
			display:inline-block;
		}
		#top-slider h2.think{text-transform: initial !important; font-size:25px;font-family: raleway;font-weight: 100;margin:0 0}
		#top-slider h2.think em{ font-size:25px !important;font-family: raleway;font-weight: 300; letter-spacing:6px; font-style:normal;}
		#top-slider h2.think small{ font-size:32px !important; color:#F07114;font-family: raleway;}
		
		.dali {
			color: #f07114;
			font-size: 15px;
		}
		.slider-apply-btn.button-border {
			border: 2px solid #eee;
			background-color: transparent;
			color: #eee;
			line-height: 24px;
			font-weight: 600;
			text-shadow: none;
		}
		.slider-apply-btn {
			display: inline-block;
			position: relative;
			cursor: pointer;
			outline: none;
			white-space: nowrap;
			margin: 5px;
			padding: 0 8px;
			font-size: 12px;
			height: 26px;
			line-height: 40px;
			background-color: #2985c5;
			color: #FFF;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			border: none;
		}
	}
	.dark #top-slider, .dark #top-slider h2 {
    color: #EEE;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}
	/*#slide-text{max-width:500px}*/