#directory {
    text-align: center;
}

#directory .input-container {
    width: 50%;
    margin: 1em auto 2em auto;
    position: relative;
}

#directory #directory-search {
    font-size: 22px;
    width: 100%;
}

#directory img.spinner {
    position: absolute;
    top: 3px;
    right: 5px;
    display: none;
}

#directory ul.results {
    text-align :left;
}
#directory ul.results li.no-results {
    text-align: center;
}