.os-header h2.parent-title {
    font-size: 16px;
    margin-bottom: 0;
}

.os-header h2.parent-title a {
    color: #444;
}

.os-header h2.parent-title ~ h1.os-title {
    margin-top: 5px;
}

.os-header {
    font-size: 36px;
}

.os-header .os-child-indicator {
    float: left;
    height: 1em;
    width: 0.7em;
}

.os-header .os-child-indicator .indicator {
    float: right;
    margin: 0.2em 0.2em 0 0;
    height: 50%;
    width: 50%;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb
}

h5.old {
    font-size: 15px;

}

h4.name {
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
}

div.person, div.top-mar {
    margin-top: 1em;
}

.col-profile-picture {
    width: 17%;
    float: left;
}

.col-profile-details {
    float: left;
    margin-left: 3%;
    width: 80%;
}

.lil-jumbo img.portrait {
    margin-bottom: 0;
}

.os-child-dept {
    display: inline;
}

.btn.btn-modal {
    font-weight: normal;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    /*    background: tranparent;
      border: 1px solid #B2B2B2;
       color: #9B9B9B; */
    margin: 0 0 0 0.5em;
    font-size: 10px;

    margin-top: -3px;
}

h4.os-explore-more-link {
    padding: 0 0 0 20px;
letter-spacing: normal;
    text-transform: none;
    text-indent: -34px;
}

h4.os-explore-more-link i {
    color: #d6d6d6;
    font-size: 140%;
    position: relative;
    left: 20px;
}

h4.os-explore-more-link a:link {

}

.os-department-title {
    display: inline;
    font-size: 18px;
}

.os-child-dept button {
    border: none;
    color: #990033;
    background-color: transparent;
}

.os-child-dept .btn-group.open .dropdown-toggle {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent;
}

.os-list-group .list-group .dropdown-menu {
    margin-top: -20px;
}

.os-accordion.bs-component {
    margin: 0;
}

.os-accordion .panel-collapse {
    border: none;
}

.os-accordion .panel {
    box-shadow: none;
}

.os-accordion .panel-body {
    border-width: 0px;
    border-color: transparent;
    padding: 15px 10px;
}

.os-accordion .panel-default {
    border: none;
}

.os-accordion .panel-default > .panel-heading {
    background-color: transparent;
    border-color: none;
    border-width: 0px;
    padding: 5px 0px 10px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

h4.panel-title {
    display: inline;

}

h2.os-department-title {
    display: inline;
}

h4 .os-chevron {
    padding-left: 10px;
    display: inline;
    color: #999;

}

.os-accordion .panel-heading + .panel-collapse .panel-body {
    border-top: none;
    padding: 5px 10px 5px 10px;
    margin-left: 40px;

}

.os-accordion .panel-heading + .panel-collapse .panel-body ul {
    border-left: 1px solid #bbb;
}

.os-accordion .panel-heading + .panel-collapse .panel-body ul li {
    padding-left: 10px;

}

.os-office-description {
    margin: 5px 0px 0px 0px;
    padding-left: 15px;
}

.profile-social span.facebook, .profile-social span.facebook a {
    color: #3B5998;
}

.profile-social span.twitter, .profile-social span.twitter a {
    color: #55ACEE;
}

.bio {
    margin-bottom: 2em;
}

.profile-social .fa {
    width: 16px;
    text-align: center;
}

div.responsibilities {
    margin-top: 1em;
}

div.responsibilities h5 {
    color: #555;
    margin-top: 0;
}

div.responsibilities ul {
    padding-left: 16px;
}

div.responsibilities ul li:before {
    color: #555;
}

@media print {
    h4.os-explore-more-link {
        margin: 0px;
        font-size: 14px;
    }

    .btn.btn-modal {
        display: none;
    }
}