*{ padding:0px; margin:0px;}
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
#tbox{width:132px; float:right; position:fixed; right:0px; bottom:50%;z-index: 999;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:15px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#xuanfu_help{ width:132px; height:44px; background:url(../images/xuanfu_help.png) no-repeat; display:block;}
#xuanfu_download{ width:132px; height:44px; background:url(../images/xuanfu_download.png) no-repeat; display:block;}
#xuanfu_weixin{ width:132px; height:44px; background:url(../images/xuanfu_weixin.png) no-repeat; display:block;}
#xuanfu_top{ width:132px; height:44px; background:url(../images/xuanfu_top.png) no-repeat; display:block;}
#xuanfu_help{ background-position:0 0;}
#xuanfu_download{ background-position:0 0;}
#xuanfu_weixin{ background-position:0 0;}
#xuanfu_top{ background-position:0 0px;} 
.flow_box{float: left;}



