@charset "utf-8";
/* CSS Document */
* {
	font-family: "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	-webkit-text-size-adjust: none
}

a,a:hover{ text-decoration:none; border:none;color: #666;}
img{ border:none;}
a:hover{ color:#008ae2;}
ul,li{ padding:0; margin:0;}
*{ padding:0; margin:0; font-size:16px; color:#666;  list-style: none;}
.main{ width:1000px; margin:0 auto;}
.headbox{ width:100%; height:61px; margin:  0; padding:5px 0 ; clear:both;  background-color:#fff; position:fixed; z-index:999; }
.h51{ height:61px; width:100%;}
.head { height:70px; }
.brand{ width:100%; height:555px; background-position:center; background-image:url(http://img.znds.com/images/db/images/banner_bj.png)}

.headtxt{color:#fff; font-size: 58px; font-weight: bold;}
.h10{ clear:both; width:100%; height:10px;}
.h20{ clear:both; width:100%; height:40px;}
.h100{ clear:both; width:100%; height:80px;}
.banner{ width:100%; background:#1E8CE0 ; height:555px;}
.bannerbox{ width:1000px; height:432px; margin:0 auto;}
.bannertop{ width:793px; height:128px; margin:0 auto;}
	.bannerleft{ width:730px; height:280px; float:left; position:relative;}
		.banerimg{ width:585px; height:378px; position:absolute; background-image:url(http://img.znds.com/images/db/images/banner_TV.png); background-repeat:no-repeat;top:90px;}
	.bannerright{ width:250px; height:280px; float:right; position:relative;}
		.banebtimg{ width:240px; height:95px; position:absolute; top:100px;}
		.banetxt { width:270px; height:30px; line-height:30px; position:absolute; top:200px; font-size:14px; color:#ccc;}
		.banetxt a{ font-size:14px; color:#ccc; margin:0 5px 0 0;}

.bottom{ height:100px; line-height:100px; text-align:center; font-size:16px;}
.logo{ width:200px; float:left;}
.menu{   float:right;line-height:50px;}
.menu li{ float:left; list-style:none; text-align:center;  height:50px; line-height:50px;margin:0 10px;  color:#666;}
.menu li:first-child{ margin-left: 82px;}
.menu li a{ font-size: 18px; font-size:16px;}
.menu li a:hover , .hovera a{ color:#008ae2;}
.brandbox{ height:555px; margin:0 auto; position:relative;}
.downbox{ width:280px; height:280px; position:absolute; right:70px; top:105px; }
.downbttxt{ line-height:29px; margin-bottom:24px; font-size:16px;}


.downbox p,.downbox p a{ font-size:14px; color:#FFF; margin: 0;}
.downbox>p{ margin-top:8px;}
.downbox #datetext{ margin-top:10px;}
.downbttxt p{ font-size:16px;line-height: 26px;}

.downbox>p>a{
	/*float: right;*/
	text-decoration:underline; margin:0 10px 0 0 ;
}
.downbttitle{width:280px; height:56px;}
.downbttitle p{ font-size:56px; color:#FFF; line-height:26px;font-weight: 700;margin-bottom: 30px;}

.div-title{
	float: left;
}
.version{
	margin-top: -13px;
	margin-left: 5px;
	color: #FFFFFF;
	font-size: 17px;
	background: url(http://img.znds.com/images/db/images/banben.png);
	width: 50px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	float: left;

}
.dbtn{
	width:280px;
	height:55px;
	background:url(http://img.znds.com/images/db/images/button_download.png) no-repeat;
}
.dbtn a{
	display: block;
	width:280px;
	height:55px;
	text-align: center;
	line-height: 55px;
	font-size: 22px;
	color: #FFFFFF;
}

.div-banner-select{
	margin-top:24px;
	width: 400px;
}
.div-banner-select>div{
	float: left;
	margin: 0px 2px 0px 0px;
}
.select-banner-brand{
	width: 112px;
	height: 28px;
	padding: 0px 2px;
	margin-top:8px;
}
.select-banner-type{
	width: 164px;
	height: 28px;
	padding: 0px 2px;
	margin-top:8px;
}
.button-banner-select{
	width:72px;
	height: 30px;
	line-height: 29px;
	padding: 0px 20px;
	color: #FFFFFF;
	background: url(http://img.znds.com/images/db/images/install_button_sure.png) no-repeat;
	margin-top:8px;
	display: block;
	font-size: 15px;
}
a.button-banner-select:hover{
	color: #FFFFFF;
}
.div-banner-select .btn:hover{
	color: #FFFFFF;
}
.container-fluid{
	padding: 0;
}
.virtue{
	height:300px;
	background-color:#f7f7f7; 
}
.div-virtue{
	width: 1014px;
	height: 300px;
	margin: 0px auto;
}
.div-virtue-col{
	width: 50%;
	height: 300px;
	float: left; 
	padding-left: 80px; 
	display:block;
	padding: 22px 0 22px 80px;
}

.div-virtue-row{
	height: 50%;
	width: 470px;
	margin: 0 auto;
}
/*  .div-virtue-row:first-child{
	 padding-top:22px; 

}
.div-virtue-row:nth-child(2){
	 padding-bottom:22px; 

}  */
.div-virtue-row>div{
	display:inline-block;
	vertical-align: middle;
}
div.div-virtue-row-left{
	width:66px;
}
div.div-virtue-row-right{
	width:390px;
}
.div-virtue-row-right>p{
	margin:5px 0px 0px 10px;
	font-size: 18px;
	line-height: 18px;
}
p.div-virtue-title{
	margin:5px 0px 0px 10px;
	height: 36px;
	font-size: 36px;
}
.slide-info{
	height: 790px;
	background: #FFFFFF;
}
.slide-info-title{
	height: 180px;
	font-size: 50px;
	line-height: 180px;
	color: #414141;
}
.div-slide-info-row>div{
	float: left;
}
.div-slide-info-left p{
	font-size: 16px;
	color: #949494;
	margin: 0 0 5px;
}
p.div-slide-info-title{
	font-size: 48px;
	color: #797979;
	line-height: 1;
	margin-bottom: 42px;
}
.div-slide-info-link,.div-slide-info-link span{
	font-size: 16px;
	color:#1E8BE0;
	float: left;
	padding: 15px 0 0 6px;
}
.img-link{
	margin: 3px 0px 0px 10px;
}

/* slide-info */
		.slideBox{  height:580px; overflow:hidden; position:relative;   }
		.slideBox .hd{width:220px;height:30px; }
		.slideBox .hd ul li{cursor: pointer;float:left; list-style: none;color: #727272;padding: 0 19px;display: block;height: 30px;line-height: 30px;}
		.slideBox .hd-ul{height:30px;border-bottom:1px solid #CFCFCF;}
		.slideBox .hd ul div{cursor: none;display:block;float:left;color: #727272;padding-top: 4px;}
		.slideBox .hd ul li.on{  color:#1E8BE0; border-bottom:2px solid #1E8CE0; }
		.slideBox .bd{ padding-top:5px;position:relative; height:100%; z-index:0;   }
		.slideBox .bd li{ zoom:1; vertical-align:middle; list-style: none; }
		.slideBox .bd div.div-slide-info-row{ width:1100px; height:575px; display: block;padding-left: 50px;}
		.slideBox .bd div.div-slide-info-left{ width:42%; height:575px; display: block; padding: 180px 0px 0px 0px; }
		#car-right{ padding: 180px 0px 0px 50px; }
		.slideBox .bd div.div-slide-info-right{ width:58%; height:575px; display: block;  }
		.slideBox .bd img{  display:block;  }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBox .prev,.slideBox .next{ position:absolute; left:9%; top:40%; margin-top:-25px; display:block; width:44px; height:90px; filter:alpha(opacity=50);opacity:0.5;   }
		.slideBox .next{ left:auto; right:9%; background-position:8px 5px; }
		.slideBox .prev:hover,
		.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.slideBox .prevStop{ display:none;  }
		.slideBox .nextStop{ display:none;  }

/*每块特点介绍*/
.features{ 
	width:100%; 
	height:600px; 
}
.features .features-inner {
	width: 1014px;
	margin: 0 auto;
	height: 600px;
	text-align: center;
	font-size: 0;
	visibility: hidden;
}
.features .img-wrapper{
	display: inline-block;
	vertical-align: middle;
}

.features h3 {
	font: normal normal normal 12px/18px "Lantinghei SC","Hiragino Sans GB","Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 48px;
	line-height: 1;
	margin: 0 0 42px;
	color: #797979;
}
.features p {
	color: #949494;
	font-size: 16px;
	line-height: 1.8;
	margin: 0;
}
.strut {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

@media screen and (min-width:1300px){
		.features .features-desc {
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		width: 270px;
		text-align: left;
	}

	.feature3 .img-wrapper {
		margin-right: 174px;
		width: 570px;
		height: 410px;
		background-image: url(http://img.znds.com/images/db/images/picture_3.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.feature4 .img-wrapper {
		margin-left: 54px;
		width: 690px;
		height: 396px;
		background-image: url(http://img.znds.com/images/db/images/picture_4.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.feature5 .img-wrapper {
		margin-right: 54px;
		width: 690px;
		height: 436px;
		background-image: url(http://img.znds.com/images/db/images/picture_5.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}
@media screen and (max-width:1300px){
		.features .features-desc {
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		width: 300px;
		text-align: left;
	}

	.feature3 .img-wrapper {
		margin-right: 144px;
		width: 570px;
		height: 410px;
		background-image: url(http://img.znds.com/images/db/images/picture_3.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.feature4 .img-wrapper {
		margin-left: 24px;
		width: 690px;
		height: 396px;
		background-image: url(http://img.znds.com/images/db/images/picture_4.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.feature5 .img-wrapper {
		margin-right: 24px;
		width: 690px;
		height: 436px;
		background-image: url(http://img.znds.com/images/db/images/picture_5.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}




/*各块特点介绍*/
.feature3{
	background-color: #F7F7F7;
}

.feature4{
	background-color: #FFFFFF;
}


.feature5{
	background-color: #F7F7F7;
}


/*底部按钮*/
.bottom-button{
	width: 100%;
	height: 325px;
	background: url(http://img.znds.com/images/db/images/arrow2.png) no-repeat;
	background-position:50% 100px;
	background-color: #FFFFFF;
}
.arrow-down{
	padding: 160px 0 0 0;
}
.down-button{
	width: 280px;
	height: 55px;
	background: url(http://img.znds.com/images/db/images/button_download.png) no-repeat;
	line-height: 55px;
	font-size: 23px;
	color:#FFFFFF;
	margin: 0 auto;
}
.down-button>a{
	display: block;
	line-height: 55px;
	font-size: 23px;
	color:#FFFFFF;
}
.footer{ background-color:#161616; width:100% ; display: table; height: 180px;}
.footerbox{ width:1000px; margin:50px auto 0; color:#45474a; font-size:12px;height: 192px;}
.footerbox a{ color:#45474a; font-size:12px;}
.ftleft{ padding:0 10px;float:left; height:60px; line-height:60px;}
.ftright {
    display: table-cell;
    float: right;
    font-size: 12px;
    line-height: 20px;
    padding: 25px 10px 0;
}
.lipage{ padding:0;font-size:12px;}
.flinks{ width:100%; clear:both; height:109px;    }
.ulinks{ padding:0 10px; float:left; color:#ccc; height:20px;   }

/*滑动窗*/
.slide-banner { width: 577px; height: 330px; margin:3px 0 0 3px; position: relative; overflow:hidden;  }

/*数字按钮样式*/
.slide-banner .num { overflow:hidden; height: 25px; position: absolute; bottom:12px; left: 15px; zoom:1; z-index:3 }
.slide-banner .num li { width: 25px; height: 25px; line-height: 25px; text-align: center; font-weight: 400; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #444444; margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.slide-banner .num li.on { background: #FF7700; } /*当前项*/
.slide-banner img{ width:577px; height:330px;}
/*上一个  下一 个*/
.slide-banner .prev,
.slide-banner .next { display: none; width: 40px; height: 100px; background: url(http://img.znds.com/images/db/images/btn.png) no-repeat; position: absolute; top: 110px;}
.slide-banner .prev { left: 0; }
.slide-banner .next { right: 0; background-position: right }




@-moz-keyframes showUp {
	0% {
		opacity: 0;
		-moz-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0)
	}

	100% {
		opacity: 1;
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

@-webkit-keyframes showUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

@keyframes showUp {
	0% {
		opacity: 0;
		-moz-transform: translate3d(0,20px,0);
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0)
	}

	100% {
		opacity: 1;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

.show-up{
	visibility: visible!important;
	-moz-animation: showUp .8s ease;
	-webkit-animation: showUp .8s ease;
	animation: showUp .8s ease;
}


