/*
Theme Name: BEJAV
Theme URI: http://bejav.com
Author: BEJAV
Author URI: http://bejav.com
Version: 1.0
-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,600,400);
/* -------------------------------------------------------------------------*
*                                    Custom Style                       *
* -------------------------------------------------------------------------*/
body {background-color: #3A3A3A;font-size: 13px;}
ul {
	padding: 0;
	margin-bottom: 0px;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: inherit;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.trans {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.res-padding {
	padding-left: 5px;
	padding-right: 5px;
}
.res-row {
	margin-left: -5px;
	margin-right: -5px;
}
a {
	text-decoration: none;
	color: #ccc;
	transition: color .1s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: color .1s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: color .1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
}
a:hover {
	color: #f7c004;
	text-decoration: none;
}
/*Effect hover*/
.effect .thumb {
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.effect .overlay {
	position: absolute;
	border: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-ms-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
}
.effect:hover .overlay {
	background: rgba(20,22,23,0.4);
	cursor: pointer;
	z-index: 999;
	opacity: 1;
}
.effect .overlay i {
	display: block;
	font-style: normal;
	margin-bottom: 10px;
	font-size: 42px;
	position: absolute;
	top: 45%;
	left: 42%;
	width: 60px;
	height: 60px;
	text-align: center;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;
	-webkit-transform: scale(0.2) rotate(-30deg);
	-moz-transform: scale(0.2) rotate(-30deg);
	-o-transform: scale(0.2) rotate(-30deg);
	-ms-transform: scale(0.2) rotate(-30deg);
	transform: scale(0.2) rotate(-30deg);
	color: #F0F0F0;
}
.effect .overlay i:hover {
	color: #fff;
}
.effect:hover .overlay i {
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
/*end effect hover*/
/* -------------------------------------------------------------------------*
*                                    POPUP LOGIN                       *
* -------------------------------------------------------------------------*/
.nav-tabs {
	margin-bottom: 15px;
}
.sign-with {
	margin-top: 25px;
	padding: 20px;
}
div#OR {
	height: 30px;
	width: 30px;
	border: 1px solid #C2C2C2;
	border-radius: 50%;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	float: right;
	position: absolute;
	right: 45%;
	bottom: -8%;
	z-index: 1;
	background: #DFDFDF;
}
.modal-content {
	background-color: #A2E274;
	border-radius: 0;
}

.btn-success {
	color: #fff;
	background-color: #E66226;
	border-color: #E66226;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
	background-color: #AB3500;
	border-color: #AB3500;
}

.btn-download {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	width: 30%;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	text-transform: uppercase;
	padding: 0;
	margin: 10px 0;
}

.btn-download:hover {
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-download .glyphicon-download-alt {
	left: 55px;
	top: 19px;
	font-size: 25px;
	float: left;
}

.btn-download p {
	padding: 13px;
	font-size: 14px;
	text-transform: none;
	line-height: normal;
}

.btn-download img{
	position: relative;
}

.download .alert-success {
	width: 50%;
	background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    margin: 10px 0;
}

.download .alert-success a{
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	display: inherit;
	width: 100%;
	text-transform: uppercase;
}
.download .alert-success a:hover{
	text-decoration:underline;
}
.download .alert-success span {
	color: #ded;
}

.btn-watch {
	color: #fff;
	background-color: #f7c004;
	border-color: rgba(247, 192, 4, 0.85);
	width: 30%;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	text-transform: uppercase;
	padding: 0;
	margin: 10px 0;
}

.btn-watch:hover{
	color: #fff;
	background-color: #F79604;
	border-color:  #F79604;
}

.btn-watch .glyphicon-film {
	left: 35px;
	top: 17px;
	font-size: 25px;
	float: left;
}

.modal-title {
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.modal-header {
	background: #f7c004;
}
.form-horizontal .control-label span.glyphicon {
	float: none;
	text-align: center;
	display: block;
}
.modal-sm {
	width: 300px !important;
	margin: 30px auto !important;
}
.miss-pass {
	font-size: 11px;
	margin-left: 10px;
}
.miss-pass:hover {
	color: #E66226;
}
/* -------------------------------------------------------------------------*
*                                    HEADER                       *
* -------------------------------------------------------------------------*/
#navbar-top {
	padding-bottom: 5px;
	min-height: 67px;
}
.caret-up {
	width: 0; 
	height: 0; 
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}

.logo-site {
	float: left;
	margin-top: 5px;
}
.logo-site h1{
	font-size: 12px;
}
.search-top {
	border-radius: 0px;
	float: left;
	margin: 17px 0 0 20px;
}

.search-top .input-group input,.search-top .input-group .input-group-addon {
	border: 0;
	border-radius: 0px;
	background-color: #282828;
}

.search-top .form-control {

}

.stylish-input-group  {
	width: 250px;
}
.stylish-input-group .input-group-addon{
	/* background: #f9f9f9 !important; */
	padding: 5px 12px;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	background: #f9f9f9;
	color: #808080;
	font-size: 13px;
	height: 32px;
}
.stylish-input-group button{
	border:0;
	background:transparent;
}
.glyphicon-search {
	color: #FFFFFF;
	margin-right: -10px;
	font-size: 12px;
}
/* -------------------------------------------------------------------------*
*                                    MENU                       *
* -------------------------------------------------------------------------*/
.navbar-default .navbar-toggle {
	border-color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #f7c004;
}
.navmenu-default, .navbar-default .navbar-offcanvas {
	background-color: #1e1e1e;
	border: 0px;
}
#navbar-main .navbar-default .navbar-nav>li>a {
	color: #fff;
}
#navbar-main .navbar-default .navbar-nav>li>a ,.navbar-default .navbar-nav>li {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	box-shadow: inset 1px 0 0 rgba(255,255,255,0.03), inset -1px 0 0 rgba(0,0,0,0.05);
}
#navbar-main .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #000;
	background-color: #f7c004;
}
#navbar-main .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #D7B12D;
}
#navbar-main .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #000;
	background-color: #f7c004;
}
#navbar-main .navbar-default {
	border-radius: 0;
	background-color: #000;
	border-color: #f7c004;
	margin-bottom: 0px;
	border:0;
}
#navbar-main ul.dropdown-menu {
	background: #f7c004;
	z-index: 110;
	width: 800px;
	padding: 10px;
	opacity: .98;
}
#navbar-main ul.sub-min {
	width: 110px;
}
#navbar-main ul.dropdown-menu li {
	list-style: none;
	float: left;
}
#navbar-main ul.dropdown-menu li a  {
	display: block;
	min-width: 120px;
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	padding: 0 10px;
	color: #000;
	text-transform: capitalize;
}
#navbar-main ul.dropdown-menu li a:hover {
	background-color: #FFE27E;
}
#navbar-main .navbar-default .navbar-nav>li.open >a  {
	background-color: #A98300;
}
.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand {
	color: #fff;
	text-transform: uppercase;
}
.close-btn {
	background-color: #000;
	float: right;
	font-size: 40px;
	margin-right: 5px;
}
.close-btn:hover {
	background-color: #f7c004 !important;
	color: #fff !important;
}
/* -------------------------------------------------------------------------*
*                                    SLIDE SHOW                       *
* -------------------------------------------------------------------------*/
#slide-show {
	padding: 20px 0 10px;
	background-color: #1e1e1e;
	margin-bottom: 10px;
}

#carousel-ss .item {
	position: relative;
	height: 284px;
	overflow: hidden;
}
#carousel-ss .item .poster {
	width: 100%;
	height: 100%;
	display: block;
}
#carousel-ss .item.poster  a {
	height: 100%;
}
#carousel-ss .status {
	background: rgba(45, 40, 40, 0.5);
	position: absolute;
	bottom: 50px;
	left: 0;
	color: #fff;
	font-weight: normal;
	padding: 3px 5px;
	font-size: 12px;
}
#carousel-ss .info {
	position: absolute;
	background: rgba(0,0,0,0.68);
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	padding: 7px 0;
}
#carousel-ss .info a {
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	height: 18px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
    max-width: 192px;
    text-overflow: ellipsis;
}
#carousel-ss .info dfn {
	font-size: 11px;
	color: #fff;
}
#slide-show  .wrap-ss {
	position: relative;
}
#slide-show .control-ss {
	position: absolute;
	z-index: 99;
	top: 40%;
	color: #fff;
	font-size: 35px;
	padding: 5px 0px;
	cursor: pointer;
}
#slide-show .control-ss:hover {
	background: #FFFFFF;
	color: #f7c004;
	opacity: 0.7;
	padding: 5px 8px;
}
.ss-previous  {
	left: 0;
}
.ss-next  {
	right: 0;
}
/* -------------------------------------------------------------------------*
*                                    CONTENTS                       *
* -------------------------------------------------------------------------*/
#contents {
	width: 100%;
	float: left;
	padding-top: 0;
	padding-bottom: 30px;
}
#content-main {
	width: 680px;
	float: left;
	padding-right: 20px;
}
#content-main .box {
	background: #fff;
	margin: 0 6px;
	border-top-left-radius: 15px;
	border: 1px solid #68CB22;
}
#content-main .box .title {
	color: #111;
	font-weight: bold;
	padding: 12px 15px;
	font-size: 13px;
}
#content-main .box ul {
	/* border-top: 1px solid #255900; */
	list-style: none;
	padding-bottom: 6px;
}
#content-main .box ul li {
	padding: 7px 15px;
	border-top: 1px solid #ccc;
}
#content-main .box ul li .country {
	background: #69CB22;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 12px;
	padding: 1px 4px;
	display: inline-block;
	width: 32px;
	text-align: center;
}
#content-main .box ul li .tit {
	font-size: 11px;
	font-weight: normal;
	display: inline;
}
#content-main .box ul li .tit a {
	margin-left: 5px;
	color: #1e1e1e;
	text-decoration: none;
	font-weight: bold;
}
#content-main .box ul li .tit a:hover {
	color: #69CB22;
}
#content-main .box ul li .status {
	color: #757575;
	float: right;
	font-size: 11px;
	white-space: nowrap;
	padding-top: 2px;
}
#content-main .widget-update {
	padding-top: 0;
}
#content-main .widget-update .wrap-title{
	height: 45px;
	background-color: #000;
	display: block;
	/* border-bottom: 1px solid #000; */
	/* border-top: 1px solid #000; */
}
#content-main .widget-update .title {
	float: left;
	color: #f7c004;
	font-size: 14px;
	font-weight: bold;
	line-height: 45px;
	padding: 0px 15px;
	text-transform: uppercase;
}
#content-main .widget-update .title i {
	margin-left: 7px;
}
#content-main .widget-update .tab-update {
	width: 65%;
}
#content-main .widget-update .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: transparent;
	color: #3F9700;

}
#content-main .widget-update .nav>li>a:hover,#content-main .widget-update  .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
}
#content-main .widget-update  .tab-update>li>a {
	padding: 8px 10px;
	border-radius: 0px;
	text-transform: capitalize;
	font-size: 13px;
}
.col-item {
	padding: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.col-item:hover .thumb {
	background-color: #f7c004;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
} {
	
}
.col-item .thumb {
	background-color: transparent;
	position: relative;
	height: 190px;
	padding: 2px;
}
.col-item .thumb a {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}
.col-item .thumb img {
	width: 100%;
	height: 100%;
}
.col-item  .status {
	position: absolute;
	font-weight: normal;
	color: #fff;
	bottom: 5px;
	left: 5px;
	background: rgba(45, 40, 40, 0.5);
	padding: 3px 5px;
	transition: background .2s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: background .2s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: background .2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	font-size: 12px;
}
.col-item .info {
	height: 85px;
	overflow: hidden;
}
.col-item .info a {
	color: #DDD;
	font-weight: bold;
	padding: 5px 0;
	line-height: 1.4em;
	display: block;
	font-size: 14px;
}

.col-item .info a:hover {
	text-decoration: underline;
}
.col-item .info dfn {
	display: block;
	color: #696969;
	font-style: normal;
	font-size: 11px;
}

#content-main .wrap-tab {
	background-color: #212121;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
#content-main .widget-update .more {
	font-size: 11px;
	float: right;
	display: inline-block;
	line-height: 45px;
	padding: 0 5px;
}

/* WATCH */
#content-main .player,#content-main .note,#content-main .action, #content-main .server-list, #content-main .detail {
	margin: 10px;
}

#content-main .note span {
	margin-right: 5px;
}

#content-main .player {
	background: url('assets/images/loading.gif') no-repeat center;
	min-height: 150px;
}

#content-main .player #jwplayer {
	outline: none;
}

#content-main .player .openload {
	background-color: #212121;
	min-height: 150px;
	line-height: 150px;
}

#content-main .action {
	overflow: hidden;
}

#content-main .server-list {
	background-color: #111;
	clear: both;
	padding: 13px;
}

#content-main .server-list a {
	background: #f7c004;
	color: #000;
	padding: 5px;
	margin: 3px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

#content-main .server-list a:hover, #content-main .server-list .active {
	background: #EA0000;
    color: #fff;
}

#content-main .action .pull-right-c{
	float: right
}

#content-main .action-secondary {
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

#content-main .detail .thumbnail {
	max-width: 220px;
	float: left;
	margin-right: 10px;
}

#content-main .detail h1 {
    color: #f7c004;
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#content-main .detail dl {
	overflow: hidden;
}
#content-main .detail dt {
	color: #fff;
	float: left;
	margin-right: 5px;
	line-height: 150%;
}

#content-main .detail dd a {
	color: #f7c004;
	line-height: 150%;
}

#content-main .detail dd a:hover {
	text-decoration: underline;
}
#content-main .detail .description {
	width: 100%;
}
#content-main .detail .description p {
	text-align: left;
}

#content-main .detail .description img {
	max-width: 100%;
}

/* Underline Reveal */
.hvr-underline-reveal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-reveal:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

/* -------------------------------------------------------------------------*
*                                    SIDEBAR                       *
* -------------------------------------------------------------------------*/
#sidebar {
	width: 300px;
	float: left;
}
#sidebar .wrap-title  {
}
#sidebar .tab-content {
	padding: 0px;
}
#sidebar .wrap-title .title {
	font-size: 14px;
	color: #f7c004;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	height: 45px;
	line-height: 45px;
	padding: 0px 15px;
}
#sidebar .nav-pills>li.active>a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#sidebar .nav-pills>li.active>a, 
#sidebar.nav-pills>li.active>a:hover,
#sidebar .nav-pills>li.active>a:focus {
	background-color: #f7c004;
	color: #1e1e1e;
	border-radius: 0px;
}
#sidebar .nav-pills>li a {
	text-transform: capitalize;
}
#sidebar .nav>li>a:hover,
#sidebar .nav>li>a:focus {
	text-decoration: none;
	background-color: #1e1e1e;
	color: #f7c004;
}
#sidebar .nav-pills>li.active>a:hover{
	background-color: #f7c004;
	color: #1e1e1e;
}
#sidebar .nav>li:first-child {
	padding-right: 5px;
}
#sidebar .nav>li:last-child {
	padding-left: 5px;
}
#sidebar .nav>li>a {
	background-color: #1e1e1e;
	font-size: 12px;
	border-radius: 0px;
	font-weight: bold;
}
#sidebar .tab-content ul {
	background: #1e1e1e;
	list-style: none;
	display: block;
	overflow: hidden;
	padding:0;
}
#sidebar .tab-content ul li {

overflow: hidden;

padding: 10px;

border-bottom: 1px dashed #545454;
}

#sidebar .tab-content ul li img {
	float: left;
    width: 40px;
    height: 60px;
}

#sidebar .tab-content ul li a {
	color: #DDD;
	font-weight: bold;
	margin-left: 50px;
	display: block;
	line-height: 1.6em;
}
#sidebar .tab-content ul li a:hover {
	text-decoration: underline;
}
#sidebar .tab-content ul li span {
	float: left;
	margin-top: 3px;
	color: #f7c004;
	border: 2px solid #f7c004;
	background: transparent;
}
#sidebar .tab-content ul li span i {
	font-style: normal;
	display: block;
	padding: 7px 12px;
	font-size: 15px;
	font-weight: 300;
}
#sidebar .tab-content ul li .name a {
	color:#1e1e1e;
	font-size: 12px;
	font-weight: bold;
	margin-left: 45px;
	display: block;
	font-style: normal;
	line-height: 1.8em;
}
#sidebar .tab-content ul li .name a:hover {
	color:#3F9700;	
}
#sidebar .tab-content ul li dfn{
	color: #777;
	font-size: 11px;
	margin-left: 50px;
	display: block;
	font-style: normal;
}
#sidebar .tab-content .more{
	float: right;
	color: #1e1e1e;
	font-size: 11px;
}
#sidebar .tab-content .more:hover {
	color:#68CB22;	
}
#sidebar .box-recomd ,#sidebar .box-cat,#sidebar .box-tags{
	float: left;
	width: 100%;
	display: block;
}
#sidebar .ads-sidebar {
	clear: both;
}




.box-recomd .body, .box-cat .body {
	background-color: #212121;
	display: block;
	float: left;
	width: 100%;
}
.box-cat .body ul {
	list-style: none;
}
.box-cat .body ul li {
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid#373737;
	width: 50%;
	float: left;
}
.box-cat .body ul li a {
	text-decoration: none;
    color: #ccc;
    font-weight: bold;
    transition: color .1s;
    transition-delay: 0s;
    transition-timing-function: linear;
    -moz-transition: color .1s;
    -moz-transition-delay: 0s;
    -moz-transition-timing-function: linear;
    -webkit-transition: color .1s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: linear;
}

.box-cat .body ul li a:hover {
	color: #f7c004;
}

.box-cat .body ul li a:before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	float: left;
	margin-right: 5px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	background-color: #141718;
	border: solid 1px #373737;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.box-cat .body ul li a:hover:before{
	background-color: #f7c004;
}

.box-cat .body ul li h3 {
	font-size: 12px;
}
.box-recomd .body ul {
	list-style: none;
}
.box-recomd .body ul li {
	overflow: hidden;
	padding: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid#373737;
}
.box-recomd .body ul li img {
	float: left;
	width: 40px;
	height: 60px;
}
.box-recomd .body ul li a{ 
	color: #DDD;
    font-weight: bold;
    margin-left: 50px;
    display: block;
    line-height: 1.6em;
}
.box-recomd .body ul li a:hover {
	text-decoration: underline;
}
.box-recomd .body ul li dfn{
	color: #696969;
	font-size: 11px;
	font-style: normal;
	margin-left: 50px;
	display: block;
	line-height: 1.6em;
}
.box-recomd .body ul li .status {
	float: right;
	background: #AC3600;
	color: #fff;
	padding: 3px 5px;
	font-size: 10px;
	font-weight: bold;
}
#sidebar .box-recomd .wrap-title,#sidebar .box-tags .wrap-title,#sidebar .box-cat .wrap-title {
    height: 45px;
    background-color: #000;
    display: block;
}
#sidebar .box-tags .tagcloud  {
    display: block;
    overflow: hidden;
    float: left;
    width: 100%;
}
#sidebar .box-tags a {
	list-style: none;
}
#sidebar .box-tags a {
	font-weight: normal;
	transition: background .1s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: background .1s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: background .1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	white-space: nowrap;
}
#sidebar .box-tags a:hover {
	text-decoration: underline;
}
/* -------------------------------------------------------------------------*
*                                    FOOTER                       *
* -------------------------------------------------------------------------*/
#footer {
	background: #1e1e1e;
	float: left;
	width: 100%;
	padding: 45px 0 0;
}
#footer a,#footer .p {
	color: #999;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;

}
#footer .p {
	font-weight: normal;
	margin-bottom: 5px;
}
.footer-ab {
	float: left;
	width: 100%
}
.footer-ab ul.column-links {
	list-style: none;
	margin: 0;
	padding: 0;
	outline: none;
}
.footer-ab .col-xs-12+div {
	margin-top: 15px;
}
.footer-bot {
	border-top: 1px solid #717274;
	padding: 12px 0;
	color: #bdc3c7;
	margin-top: 30px;
	float: left;
	width: 100%;
}
.footer-bot .p {
	float: left;
}
.footer-bot .link a {
	padding: 0 10px;
}
.footer-bot .link a+a {
	border-left: 1px solid #353535;
}
.footer-bot .external {
	display: block;
	clear: both;
	font-size: 11px;
	color: #555;
}
#footer .external a {
	color: #555;
}
/* -------------------------------------------------------------------------*
*                                    breadcrumb                       *
* -------------------------------------------------------------------------*/
.breadcrumb {
	background-color: transparent;
	border-radius: 0px;
	font-size: 18px;
	margin-bottom: 0px;
	padding: 10px 0;
}
.breadcrumb a {
	font-size: 18px;
	color: #f7c004;
}
.breadcrumb a:hover{
	text-decoration: underline;
}
.breadcrumb>li+li:before {
	content: "\203A";
}
/* -------------------------------------------------------------------------*
*                                    CATEGORY                       *
* -------------------------------------------------------------------------*/
.wrap-filters  {
	margin-bottom: 20px;
	float: left;
}
.filters {
	float: left;
}
.wrap-filters  .title {
	font-size: 14px;
	color: #E66327;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.filters select.form-control {
	width: auto;
	float: left;
	background-color: transparent;
	font-size: 12px;
	border-radius: 0;
	text-transform: capitalize;
}
.filters select+select {
	margin-left: 10px;
}
.wrap-filters  .btn-default {
	color: #FFF;
	background-color: #E66327;
	border-color: #E66327;
	padding: 7px 15px;
	font-size: 13px;
	float: right;
	margin: 0;
	border-radius: 3px;
}
.wrap-filters  .btn-default:hover {
	background-color: #F06A2C;	
}
.box-list-category {
	margin-bottom: 15px;
}
.box-list-category .title {
	font-size: 14px;
	color: #E66327;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.box-list-category .box-body {
	display: block;
	overflow: hidden;
	width: 100%;
}
.box-list-category .box-body ul {
	list-style: none;
}
.box-list-category .box-body ul li {
	float: left;
	width: 50%;
	margin: 1.5px 0;
}
.box-list-category .box-body ul li a {
	text-transform: capitalize;
	border-top-right-radius: 10px;
	padding: 6px 10px;
	display: block;
	background: #FFFFFF;
	position: relative;
	font-size: 11px;
	font-weight: bold;
	color: #1E1E1E;
	transition: background-color .2s,border .2s,color .2s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: background-color .2s,border .2s,color .2s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: background-color .2s,border .2s,color .2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	border: 1px solid #68CB22;
}
.box-list-category .box-body ul li a:hover {
	color: #1E1E1E;
	background: #A2E274;
}
.box-list-category .box-body ul li a:nth-child(1n) {
	margin-right: 3px;
}
/* -------------------------------------------------------------------------*
*                                    PAGEGIN                       *
* -------------------------------------------------------------------------*/
.c-pagination {
	float: left;
	width: 100%;
}

.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span { 
	border-radius: 0px;
}

.pagination>li a{
	border-radius: 0px;
}
.pagination>li+li a {
	margin-left: 7px;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
	background-color: #f7c004;
	border-color: #f7c004;
}
.pagination>li>a, .pagination>li>span {
	color: #ddd;
	background-color: #000;
	border: 1px solid #111;
	font-size: 13px;
	transition: background-color .2s,border .2s,color .2s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: background-color .2s,border .2s,color .2s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: background-color .2s,border .2s,color .2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
}
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus {
	color: #f7c004;
	background-color: #000;
	border-color: #f7c004;
}

.social-bt{
	width: 100%;
	height: 25px;
	font-weight: bold;
	line-height: 25px;
	display: inline;
	overflow: hidden;
}
.social-bt .s1, .action-secondary .s2 {
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	text-shadow: 0px 2px 2px #000;
}
.social-bt i {
	margin-right: 10px;
}
.social-bt .ss-button {
	float: left;
	margin: 0 5px;
}


/* -------------------------------------------------------------------------*
*                                    REGISTER                       *
* -------------------------------------------------------------------------*/
.form-horizontal .control-label {
	text-align: left;
	font-size: 13px;
}
.wrap-form .form-control {
	background-color: #FDFDFD;
	font-size: 13px;
}
.wrap-form .btn-primary {
	color: #fff;
	background-color: #E66327;
	border-color: #E66327;
	font-size: 13px;
}
.help-block {
	font-size: 11px;
}
.wrap-form .col-bir {
	width: 90px;
	float: left;
}
.user .name {
	color: #aaa;
	font-size: 12px; 
}
.user .name a {
	font-weight: bold;
}
.user .logout {
	text-align: right;
	line-height: 10px;
}
.user .logout a {
	font-size: 10px;
	color: #666;
}
.wrap-form .form-control[disabled]{
	color: #737373;
	background: #F9F9F9;
	border-color: #CCCCCC;
}
/* -------------------------------------------------------------------------*
*                                    RAGE                       *
* -------------------------------------------------------------------------*/
.wrap-page {
	background: #212121;
	padding: 6px 10px;
}
.wrap-page .title {
	font-size: 14px;
	color: #f7c004;
	padding: 3px 5px 5px;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
}
.wrap-page .content {
	line-height: 1.3em;
	padding-bottom: 25px;
	font-size: 13px;
}
.wrap-page ul {
	padding-left: 20px;
	padding-bottom: 10px;
}
/* -------------------------------------------------------------------------*
*                                    DETAIl                       *
* -------------------------------------------------------------------------*/
.wrap-player {
	position: relative;
	overflow: hidden;
}
.wrap-player .player {
	width: 100%;
	height: 560px;
	display: block;
	background: #f9f9f9;
	position: relative;
}
.wrap-player .player #jwplayer {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
} 
.wrap-player .player #jwplayer .btn-play {
	display: block;
	position: absolute;
	z-index: 10;
	top: 36%;
	left: 44%;
	cursor: pointer;
	font-size: 150px;
	color: #fff;
	line-height: 0px;
}
.wrap-player .player #jwplayer img.cover {
	width: 100%;
	height: 100%;
}
.wrap-player  .control {
	border: 1px solid #070707;
	background: #0e0e0e;
	border-top: none;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.wrap-player .control div,.wrap-player .control a{
	float: left;
	padding: 0 15px;
	height: 40px;
	cursor: pointer;
	color: #555;
	transition: all .2s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: all .2s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: all .2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	font-size: 13px;
} 
.wrap-player .control span.star {
	float: left;
}
.wrap-player .control span.star i {
	color: #ccc;
}
.wrap-player .control i {
	float: left;
	margin: 12px 0 0 0;
	padding: 0 1px;
	height: 16px;
	color: #68CB22;
	font-size: 15px;
}
.wrap-player .control  span.star i:hover {
	color: #A2E274;
}
.wrap-player .control span.star i+i{
	margin-left: 5px;
}
.wrap-player .control  .lable {
	margin-left: 7px;
}
.wrap-player .control span.star i.vote {
	color: #68CB22;
}
.wrap-player .control  div+div, .wrap-player .control  a+div {
	border-left: 1px solid #1c1c1c;
}
.wrap-player .control div:hover,.wrap-player .control a:hover {
	background: #191919;
	color: #888;
}
.wrap-player .announcement {
	background: #ECECEC;
	margin-top: 5px;
}
.wrap-player .announcement .content {
	display: block;
	clear: both;
	padding: 15px 20px;
	color: #666;
	font-size: 11px;
	line-height: 1.6em;
}
.wrap-player .announcement .content ul {
	list-style: circle;
	margin-left: 10px;
}
.wrap-player  .main-controls {
	margin-top: 5px;
	overflow: hidden;
	background: #ECECEC;
	position: relative;
	font-size: 13px;
	margin-bottom: 20px;
}
.wrap-player  .main-controls .btn-group {
	float: left;
	width: 150px;
}
.wrap-player  .main-controls .btn-group .btn-trailer, .wrap-player  .main-controls .btn-group .btn-favorite {
	background: #ECECEC;
	height: 68px;
	display: block;
	padding: 0 10px;
	border-right: 2px solid #f9f9f9;
	cursor: pointer;
	transition: background .2s,color .2s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: background .2s,color .2s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: background .2s,color .2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	border-bottom: 2px solid #f9f9f9;
}
.wrap-player .main-controls .btn-group .btn-trailer span {
	padding-top: 24px;
}
.wrap-player .main-controls .btn-group .btn-favorite span {
	padding-top: 7px;
}
.wrap-player  .main-controls .btn-group .btn-trailer i, .wrap-player  .main-controls .btn-group .btn-favorite i {
	display: block;
	float: left;
	margin-top: 17px;
	font-size: 30px;
	color: #68CB22;
}
.wrap-player .main-controls .btn-group .btn-trailer span, .wrap-player  .main-controls .btn-group .btn-favorite span {
	display: block;
	margin-left: 45px;
	vertical-align: middle;
	font-weight: bold;
}
.wrap-player  .main-controls .server-list {
	padding: 18px;
	display: block;
	overflow: hidden;
	margin-left: 150px;
	position: relative;
}
.wrap-player  .main-controls .server-list .server {
	line-height: 20px;
	overflow: hidden;
	padding: 2px 0 5px;
	position: relative;
}
.wrap-player  .main-controls .server-list .server label {
	float: left;
	width: 100px;

	font-weight: bold;
	padding: 10px 0;
}
.wrap-player  .main-controls .server-list .server ul.episodes {
	list-style: none;
	margin: 5px 0;
	margin-left: 100px;
	overflow: hidden;
}
.wrap-player  .main-controls .server-list .server ul.episodes li {
	float: left;
	margin: 5px 6px;
}

.wrap-player .main-controls .server-list .server ul.episodes li a {
	transition: background-color .2s,border .2s,color .2s;
	transition-delay: 0s;
	transition-timing-function: linear;
	-moz-transition: background-color .2s,border .2s,color .2s;
	-moz-transition-delay: 0s;
	-moz-transition-timing-function: linear;
	-webkit-transition: background-color .2s,border .2s,color .2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #68CB22;
	padding: 0 8px;
	display: block;
	min-width: 20px;
	color: #333;
	text-align: center;
	background-color: #F9F9F9;
}
.wrap-player .main-controls .server-list .server ul.episodes li a:hover {
	background-color: #fff;
}
.wrap-player  .main-controls .server-list .server ul.episodes li a.active, 
.wrap-player  .main-controls .server-list .server ul.episodes li a.active:hover {
	color: #fff;
	border-color: #68CB22;
	font-weight: bold;
	background-color: #68CB22;
}
.wrap-player  .main-controls .server-list .server+.server {
	border-top: 1px solid #f9f9f9;
}

.info-film >div.thumb {
	float: left;
}
.info-film >div.thumb img {
	width: 150px;
	height: 215px;
}
.info-film .details {
	margin-left: 165px;
}
.info-film .details .name ,.info-film .details .name a{
	color: #68CB22;
	font-size: 20px;
	margin-bottom: 5px;
}
.info-film .details .name-m {
	color: #a2a2a2;
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: 500;
}
.info-film  .details dl {
	overflow: hidden;
}
.info-film  .details dl dt, .info-film  .details dl dd {
	line-height: 1.6em;
}
.info-film  .details dl dt {
	clear: left;
	float: left;
	margin-right: 10px;
	color: #888;
}
.widget.info .details dl dd {
	color: #999;
	font-weight: bold;
}
.info-film  .details dl dd span.imdb {
	background: #68CB22;
	font-weight: bold;
	color: #fff;
	padding: 1px 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.info-film  .details dl a {
	color: #1e1e1e;
	font-weight: bold;
}
.info-film  .details dl dd.rating span {
	font-weight: bold;
}
.info-film .title-bx {
	background-color: #3F9700;
	color: #fff;
	border-radius: 0px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 10px 15px;
}
.content-film  .content {
	margin-top: 15px;
}
.info-film .tags {
	margin-top: 20px;
}
.info-film .tags label, .info-film .tags .items {
	display: inline;
}
.info-film .tags a {
	font-weight: normal;
	font-size: 11px;
	color: #3F9700;
}
.commentfb {
	float: left;
	margin-top: 30px;
}
.related {
	margin-top: 30px;
	width: 100%;
	float: left;
}
.related .title {
	font-size: 14px;
	color: #E66327;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin-bottom: 10px;
}
.related .body {
	float: left;
}
/* -------------------------------------------------------------------------*
*                                    DOWNLOAD                       *
* -------------------------------------------------------------------------*/
.wrap-download .content {
	margin-top: 20px;
}
.wrap-download .list-download .title {
	text-transform: uppercase;
	color: #3F9700;
	font-size: 16px;
	padding: 6px 0;
	font-weight: bold;
}
.invi {
	background-color: #E66327 !important;
}
.invi a {
	color: #fff;
}
.wrap-download  .server {
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 5px;
	margin-top: 10px;
}
.wrap-download  .list {
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #666;
}
.wrap-download .list .heading, .wrap-download .list .links {
	overflow: hidden;
	clear: both;
}
.wrap-download  .list .heading {
	font-weight: bold;
	color: #E66327;
}
.wrap-download .list .row {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	overflow: hidden;
	font-size: 12px;
}
.wrap-download  .list .row>div {
	line-height: 30px;
	height: 30px;
	display: block;
	padding: 0 10px;
}
.wrap-download .list .row .episode {
	width: 30%;
	float: left;
	border-left: none;
	border-top: 1px solid #666;
}

.wrap-download .list .heading .row {
	font-size: 13px;
}
.wrap-download  .list .row .download {
	width: 30%;
	float: left;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
}
.wrap-download .list .row .process {
	border-right: none;
	display: block;
	border-top: 1px solid #666;
}
.wrap-download  .list .row .inner {
	padding: 0 10px;
	float: left;
}
.wrap-download .list .row .process a {
	color: #3F9700;
}
/* -------------------------------------------------------------------------*
*                                    SCROLL STYLE                           *
* -------------------------------------------------------------------------*/
#body-scroll {
    overflow-y: auto;
    width: 320px;
    height: 600px;
    padding: 0 5px;
}
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; 
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
.top-page {
	display: none;
}
/* -------------------------------------------------------------------------*
*                                    RESPONSIVE                       *
* -------------------------------------------------------------------------*/


@media (min-width: 992px) {
	.container {
		width: 980px;
	}
}
@media (max-width: 991px) {
	.box-list-category {
		display: none;
	}
	#navbar-top .navbar-left,#navbar-top .navbar-right {
		width: 100%;
		float: left;
	}

	.stylish-input-group {
		width: 100%;
	}
	#navbar-top .navbar-form {
		width: 50%;
		float: right;
	}
	.box-favorite {
		margin-left: 0;
	}
	.search-top {
		margin-top: 15px;
	}
	#content-main {
		width: 100%;
		padding-right: 0;
	}
	#sidebar {
		width: 100%;
	}
	#sidebar .box-hot {
		width: 50%;
		float: left;
		padding: 0 10px;
	}
	#sidebar .box-hot .nav>li>a {
		padding: 9px 10px;
	}
	#sidebar .box-recomd {
		width: 50%;
		padding: 0 0 0 10px;
	}
	.wrap-player .player{ 
		height: 430px;
	}
	.wrap-player .player #jwplayer .btn-play {
		top: 35%;
		left: 41%;
	}

}
@media (min-width: 768px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;    
	}
}
@media (max-width: 769px){
	.top-page {
		display: block;
	}
}
@media (max-width: 767px) {
	.search-top {
		margin-top: 0;
	}
	.container {
		padding: 0 10px;
	}
	#navbar-main ul.dropdown-menu {
		width: 100%;
		float: left;
		border-bottom: 1px solid rgba(102, 195, 38, 0.99);
	}
	.navbar-default .navbar-nav>li {
		clear: both;
		box-shadow: inset 0 -1px 0 rgba(255,255,255,0.03), inset 0 -1px 0 rgba(0,0,0,0.05);
	}
	.col-item .thumb,.col-item .info  {
		/*height: auto;*/
	}
	.nav-justified>li {
		float: left;
	}
	.nav-justified>li>a {
		margin-bottom: 0;
	}
	#content-main .widget-update .tab-update {
		width: 100%;
	}
	.wrap-player .player{ 
		height: auto;
	}
	.wrap-player .control .light ,.wrap-player .control  .autonext ,.wrap-player .control  .playermini {
		display: none;
	}
	.wrap-player .main-controls .btn-group {
		width: 100%;
		float: left;
		text-align: center;
		border-bottom: 1px solid #f9f9f9;
	}
	.wrap-player .main-controls .btn-group .btn-trailer, .wrap-player .main-controls .btn-group .btn-favorite {
		width: 50%;
		float: left;
		height: auto;
		border-bottom: 0;
		margin-left: 0;
		border-right: 0;
	}
	.wrap-player .main-controls .btn-group .btn-trailer span, .wrap-player .main-controls .btn-group .btn-favorite span {
		margin-left: 0;
	}
	.wrap-player .main-controls .btn-group .btn-favorite {
		border-left: 1px solid #f9f9f9;
	}
	.wrap-player .main-controls .btn-group .btn-favorite span ,
	.wrap-player .main-controls .btn-group .btn-trailer span{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.wrap-player .main-controls .btn-group .btn-trailer i, .wrap-player .main-controls .btn-group .btn-favorite i {
		display: none
	}
	.wrap-player .main-controls .server-list {
		margin-left: 0;
	}
}
@media (max-width: 650px) {
	.wrap-filters .btn-default {
		float: left;
		margin-top: 5px;
	}
	.filters {
		float: none;
	}
	.filters select {
		margin-top: 5px;
		margin-right: 5px ;
		margin-left: 0px ;
	}
	.filters select+select {
		margin-left: 0;
	}
}
@media (max-width: 620px) {
	#sidebar .box-recomd ,#sidebar .box-hot{
		width: 100%;
		padding: 0;
	}
	.wrap-player .player #jwplayer .btn-play {
		top: 31%;
		left: 39%;
	}
}
@media (min-width: 568px) {
	.title-tab-box {
		display: none;
	}
	.tab-responsive>.tab-pane {
		display: block;
	}
	.tab-responsive .fade {
		opacity: 1;
	}
}
@media (max-width: 567px) {
	.title-tab-box .nav-justified>li {
		width: 50%;
		float: left;
		border: 0;
		border-right: 1px solid #161616;
	}
	.title-tab-box .nav-pills>li+li {
		margin-left: 0;
		border-right:0;
	}
	.title-tab-box .nav-pills>li.active>a {
		background-color: transparent;
		color: #A2E274;
	}
	.title-tab-box  .nav-justified>li>a {
		background:transparent;
	}
	.title-tab-box  .nav>li>a {
		border-radius: 0;
		padding: 10px 15px;
		color: #666;
		text-transform: capitalize;
	}
	.title-tab-box  .nav>li>a:hover {
		color: #8C8C8C;
	}
	.title-tab-box {
		background-color: #1e1e1e;

		border-bottom: 1px solid #161616;
	}
	.tab-responsive .tab-pane {
		margin-left: -6px;
		margin-right: -6px;
	}
	#content-main .box ul {
		border-top:0;
	}
	#content-main .tab-responsive .box {
		border-top-left-radius: 0px;
	}
	.tab-responsive .col-xs-6 {
		width: 100%;
	}
	#content-main .box .title {
		display: none;
	}
	#navbar-top .navbar-form {
		width: 100%
	}
	.logo-site {
		width: 100%;
		text-align: center;
	}
	.logo-site  img {
		display: inline-block;
	}
	#navbar-top .navbar-right {
		text-align: center;
	}
	.box-favorite, .request-film {
		float: none;
		display: inline-block;
		margin-top: 0;
	}
	.user {
		float: right;
		display: inline-block;
		margin-top: 0;
	}
	#footer .p,.external {
		text-align: center;
		width: 100%;
	}
	.link {
		float: left;
		width: 100%;
		text-align: center;
	}
	.wrap-form .col-xs-4,.wrap-form .col-xs-6 {
		width: 100%;
	}
}
@media (max-width: 550px)  {
	.wrap-player .player #jwplayer .btn-play {
		top: 31%;
		left: 39%;
		font-size: 100px;
	}
}
@media (max-width: 450px) {
	.request-film ,.user {
		margin-left: 3px;
	}
	#content-main .widget-update .tab-update {
		float: left;
	}
	.widget-update .nav-justified>li {
		float: none;
		border: 1px solid #161616;
		display: table-cell;
		width: 1%;
		background-color: #1e1e1e;
	}
	.widget-update .nav-justified>li a {
		color: #666;
	}
	.widget-update .nav-justified>li a:hover {
		color: #8C8C8C;
	}
	#content-main .widget-update .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
		color: #A2E274;	
	}
	#content-main .widget-update .title {
		width: 100%;
		text-align: center;
	}
	.nav-pills>li+li {
		margin-left: 0;
	}
	#sidebar .nav-justified>li {
		float: left;
		border: 0;
	}
	.col-item .thumb {
		height: 165px;
	}
	.info-film .details .name, .info-film .details .name a {
		font-size: 15px;
	}
	.info-film .details dl {
		font-size: 12px;
	}
	.info-film >div.thumb img {
		width: 100px;
		height: 150px;
	}
	.info-film .details {
		margin-left: 110px;
	}
}
@media (max-width: 410px) {
	.box-favorite .list {
		width: 230px;
	}
	.user {
		float: none;
		display: inline-block;
		margin-top: 10px;
	}
	.col-item {
		width: 50%;
	}
	.col-item .thumb {
		height: 200px;
	}
	.wrap-player .player #jwplayer .btn-play {
		top: 30%;
		left: 40%;
		font-size: 75px;
	}
}
@media (max-width: 360px) {
	.request-film ,.user {
		margin-left: 0px;
	}
	.col-item .thumb {
		height: 165px;
	}
	.info-film .details dl {
		font-size: 11px;
	}
	.wrap-player .control .lable ,.main-controls .lable{
		font-size: 11px;
	}
}