a img{ border:0px;}
body,td,th {font-size: 12px;color: #000000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {list-style:none;margin:0;padding:0;}
body {margin-left: 0px;margin-top:0px;	margin-right: 0px;margin-bottom: 0px;}
a {font-size: 12px;	color: #333333; text-decoration:none;}
a:visited {color: #333333;}
a:active {color: #CC0000;}
.borderColor{border:1px solid #bac9b3;}
.bd{ border-top:1px solid #ccc;}
.form{margin:0px;padding:0px;height:0px;}
.box{ width:980px; margin:0px auto; height:100%; overflow:hidden;}
.top{ height:32px; background:url(/images/v8/bg_headcap.jpg); width:100%; }
.top_box{width:980px; margin:0px auto; padding-top:8px; color:#CCC;}
.top_box a{ color:#666;}
.l{ float:left;width:480px; color:#666;}
.r{ float:right;width:500px; text-align:right;}
.ad{ margin-top:8px; border:1px solid #dedede;}
.logo{ height:78px;margin-top:6px;}
.l_ad{ width:190px; float:left;}
.c_ad{ width:790px;  margin-top:4px; float:right;}

.v_ad{ margin-top:10px;border:1px solid #e5e5e5;}
.tv_ad{ text-align:center;border:1px solid #e5e5e5;}
.tv_ad img{ margin:2px 0px 2px 0px;}
.nav {width:980px;background-color:#61b508;height:36px;overflow:hidden;margin:0 auto;}
.nav ul {padding:0 0 0 10px;}
.nav ul li {float:left;list-style:none;padding:0;}
.nav ul li a {color:#fefeff;text-decoration:none;display:block;height:36px;line-height:36px;width:72px;text-align:center;font-size:13px;font-weight:700;}
.nav ul li a:visited{ color:#ffffff;}
.nav ul li a:hover {background-color:#01b202;font-size:13px;font-weight:700;}
.nav_txt{border:1px solid #e5e5e5; border-top:0px;}
#search {margin-top:0px; z-index:1001; }
#search .search { background:url("/images/v8/bg_search.gif") repeat-x; height:34px;}
#search .search_link {line-height:34px; padding-left:4px !important; padding-left:13px;}
#search .search_link a{color:#0063DC;}
#search .search_link a:hover{color:#f60;}
#search .search_link dt {float:left;}
#search .search_link dd {float:left; padding:0 12px; background:url("/images/v8/bg_search.gif") no-repeat right -34px;}
#search .search_link dd.last {background:none;}
#search .search_form {float:right; width:150px; height:22px; border:1px solid #aaa; margin-top:5px; margin-right:7px; display:inline;} 

#search .search_link dd a{color:#0063DC; padding:0px 19px 0px 0px !important;padding:0px 24px 0px 0px}
#search .search_link dd a:hover{color:#f60;}

#search .search_input {
	float:left;
	border:0; 
	width:90px;
	font-size:12px; 
	height:22px; 
	line-height:22px; 
	vertical-align:middle;
	padding:0 5px;
}
#search .search_btn {
	float:right; 
	height:22px; 
	width:49px; 
	background:#BCD4E9 url("/images/v8/bg_search_btn.gif") no-repeat -1px 2px; 
	border-left:1px solid #849CB1;
	overflow:hidden;
	display:inline;
}

#sp_top {margin-top:4px; margin-bottom:4px; display:none;} /* 临时隐藏 */
#sp_top .sp_top {border:1px solid #cbcbcb; padding:3px 0; padding-left:8px; background:#fafafa;}
#sp_top ul li {float:left; /*width:226px; padding-left:11px;*/ width:194px; white-space:nowrap; overflow:hidden; line-height:1.6em;}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
.nav_pos{ line-height:30px;padding-top:8px;padding-left:5px; }
.nav_pos a{font-size:13px;}


.yqlj .yl {line-height:14px;padding:5px 0;}
.yqlj .yl a {height:20px;line-height:20px;padding:5px;}
.t {border-bottom:2px solid #70bc20;font-size:12px;font-weight:700;height:28px;line-height:28px;width:100%; clear:both;}
.t b{ display:block; float:left; padding:0 55px 0 0; color:#70bc20;}
.t a {float:left; display:block; padding:0 59px 0 0;}
.t a:visited,.t a:hover{color:#61b508;}
.t em {color:#fe7000;padding:0 7px 0 0;}
.t span {float:right;display:block; font-size: 12px;}
.t span a:link,.t span a:visited,.t span a:hover {font-size:12px;color:#272727;padding:0; font-weight:normal;}

.bottom {width:100%;background-color:#f4f4f4;border-top:1px solid #e5e5e5;clear:both;margin:25px auto 0;padding:13px 0; color:#666; }
.pa{color:#ccc}
.bottom div{ text-align:center; padding:5px 0;}
.bottom div a{ padding:0 10px;}
.bottom p {text-align:center;padding:8px 0;}
.bottom p a {padding:0 5px;}



.index_news_l { width: 335px; float:left;}
.main{ margin-top:10px; margin-bottom:18px; height:1180px; *height:1218px; overflow:hidden;}
.gamelo,.text,.scwen{ border:1px solid #c0d6df; border-top:none; margin:20px 0;}
.gamelo{ height:100%; overflow:hidden;}
.scwen{ height:100%; overflow:hidden;}
.gamelo b,.text b,.scwen b{ background:url(/images/v8/newst.jpg) no-repeat 0 0; font-size:14px; color:#0082cb; padding:5px 0 17px 23px; display:block;}
.gamelo b a,.text b a,.scwen b a{ color:#0082cb;}
.gamelo ul{ margin:0 0 8px 14px; *margin:0 0 10px 14px; border-bottom:1px dashed #c5c5c5; padding:0 0 16px; width:304px;}
.gamelo ul li{ padding:6px 0 3px 13px; *padding:3px 0 3px 13px; background:url(/images/v8/dl.png) no-repeat scroll -593px -425px transparent; clear:both;  height:14px;}
.gamelo ul li a{ font-size:14px; display:block; float:left; width:227px; height:20px; line-height:20px; overflow:hidden;}
.gamelo ul li span{ display:block;  float:right; height:20px; line-height:20px; padding:0 1px 0 0; }
.text ul{ clear:both;  margin:0 0 10px 14px;}
.text ul.text_part1{ height:117px; margin:0 0 7px 14px; padding:0 0 10px; border-bottom:1px dashed #989898; width:304px;}
.text ul.text_part1 li{ float:left; padding:0 7px 0 0; width:94px;}
.text ul.text_part1 li a{ font-size:12px; width:98px; height:115px;}
.text ul.text_part1 li span{ clear:both; width:100%; color:#f24400;}
.text ul li{ padding:6px 0 5px 13px;*padding:3px 0 5px 13px; background:url(/images/v8/dl.png) no-repeat scroll -593px -425px transparent;  height:14px;}
.text ul li a{ display: block; float: left; font-size: 14px; width:240px; height: 20px; overflow:hidden; line-height: 20px;}
.text ul li span{ display:block; width:64px; text-align:center; float:right; height:20px; line-height:20px;}
.scpart{ margin:0 0 10px; height:118px;}
.scpart a{ float:left; width:91px; padding:0 0 0 17px;}
.scpart p{ float:left; width:196px; padding:0 0 0 10px; line-height:22px;}
.scwen ul{ clear:both;margin:0 0 11px 14px; padding:0 0 13px; border-bottom:1px dashed #C5C5C5; width:304px;}
.scwen ul li{ padding:6px 0 3px 13px; *padding:5px 0 3px 13px; background:url(/images/v8/dl.png) no-repeat scroll -593px -425px transparent; clear:both; height:14px;}
.scwen ul li a{font-size:14px; overflow: hidden; width: 236px; height:18px; line-height:18px; float:left;}
.scwen ul li span{   display: block; float: right; text-align: center; width: 43px;}
.iartz{ float:left;  width:346px; overflow:hidden; margin:0 0 0 19px;}
.iartz b{ border-bottom:1px solid #c9c9c9; width:100%; display:block;}
.iartz b a{ display:block; border-bottom:1px solid #0082cb; font-size:14px; color:#0082cb; height:24px; line-height:24px; width:78px; text-align:center; margin-bottom:-1px;}
.iartz h1{ font-size:20px; font-weight:bold; text-align:center; padding:4px 0; clear:both;}
.iartz h1 a{ color: #F24400; display: block; height: 21px; overflow: hidden; padding: 3px 0; text-align: center; width: 333px; font-weight:normal;}
.iartz p { line-height: 22px; border-bottom:1px dashed #999999; padding:0 0 12px; text-indent:2em; color:#333}
.iartz p a { height: 20px; line-height:20px; margin: 0 3px 0 0; overflow: hidden; width: 170px;}
.iartz ul li{ padding:3px 0 3px 13px; background:url(/images/v8/dl.png) no-repeat scroll -593px -425px transparent; clear:both; height:14px;}
.iartz ul li a{ font-size:14px; display:block; float:left; height:20px; line-height:20px; width:257px; overflow:hidden;}
.iartz ul li span{ display:block; float:right; height:20px; line-height:20px;}

.artbf2 {  margin: 51px 0 0; *margin: 31px 0 0;}
.artbf3{ margin:30px 0 0;}
.artbf4{ margin:18px 0 9px; *margin:19px 0 20px; padding:0 0 16px; border-bottom:1px dashed #c5c5c5;}
.artzx1{ clear:both; margin:9px 0 9px; padding:0 0 11px; height:119px; border-bottom:1px dashed #c5c5c5;}
.artzx2{ clear:both; margin:10px 0; height:93px;}
.artzx1 li,.artzx2 li,.aqzx_part1 li,.aqzx_part2 li{ clear:both; height:16px;}
.artzx1 li a,.artzx2 li a,.aqzx_part1 li a,.aqzx_part2 li a{ float:left; }
.artzx1 li span,.artzx2 li span,.aqzx_part1 li span,.aqzx_part2 li span{ float:right }
.aqzx_part1{ margin:9px 0; padding:0 0 16px; border-bottom:1px dashed #c5c5c5;}

.zt b,.newsph b{ border-bottom:1px solid #c9c9c9; width:222px; margin:0 auto 12px; display:block; }
.newsph b span{    border-bottom: 1px solid #F24400; color: #F24400; display: block; font-size: 14px; height: 24px; line-height: 24px; margin-bottom: -1px; width: 78px;}
.zt b a,.newsph b a{ display:block; border-bottom:1px solid #f24400; font-size:14px; color:#f24400; height:24px; line-height:24px; width:78px; margin-bottom:-1px;}
.iartr{ width:249px; float: right; background:url(/images/v8/newsx.jpg) no-repeat 0 236px;}
.iartr .zt ul{ padding:0 0 0 13px;}
.iartr .zt ul li{ float:left; padding:0 23px 14px 0;}
.iartr .zt ul li span{ display: block; height: 13px;line-height: 13px;overflow: hidden;text-align: center;width: 95px; padding:10px 0 0;}
.newsph{ clear:both; margin:0 0 10px; height:280px; *height:300px; *margin:0 0 17px;;}

.ph { margin: 0 auto; padding: 0; width: 230px;}
.ph li{ clear:both; padding:3px 0; *padding:2px 0;}
ul.ph li a { color: #333333; display: block; float: left; height: 22px; line-height: 20px; text-indent: 10px; width: 230px;	overflow:hidden;}
.xuexiao{ width:966px; margin:0 auto; border:1px solid #C0D6DF; height:274px; overflow:hidden;}
.xuexiao b { background: url("/images/v8/newst.jpg") no-repeat scroll 0 0 transparent; color: #0082CB; display: block; font-size: 14px; padding: 5px 0 11px 23px;}
.xuexiao b a{ color:#0082cb;}
.xuexiao ul { padding: 11px 0 0 10px;width:966px;overflow:hidden;}
.xuexiao ul li { padding:0 0 7px 11px; *padding:0 0 7px 11px; margin:0 14px 0 0; *margin:0px; background:url(/images/v8/dl.png) no-repeat scroll -593px -425px transparent; float:left; height:20px; line-height:20px; display:block; *width:300px; overflow:hidden;}
.xuexiao ul li span { display: block; float: left;}
.xuexiao ul li span a{ display:block; float:left; width:83px; height:20px; overflow:hidden;}
.xuexiao b.bluelink{ float:left; padding:0px; background:none;}
.xuexiao b.bluelink a{ width:178px; background:none; font-weight:normal; height:22px; overflow:hidden;}
.xuexiao ul li a { display: block; width: 255px;font-size:14px;}

ul.ph li .top {background-color:#FA8F29;color:#FFF;font-family:Verdana;font-size:9px;height:13px;line-height:14px;padding-top:1px;text-align:center;text-decoration:none;white-space:nowrap;width:14px;float:left;display:inline;margin:4px 7px 0 0;}
ul.ph li span {background:none repeat scroll 0 0 #39a2dc;font-family:Verdana;font-size:9px;height:13px;line-height:14px;padding-top:1px;text-align:center;text-decoration:none;white-space:nowrap;width:14px;color:#fff;display:block;float:left;margin:4px 7px 0 0;}
ul.ph li a {color:#333;height:20px;line-height:20px;text-indent:10px;width:210px;float:left;display:inline;text-align:left;overflow:hidden;}
ul.ph li a:visited {color:#333;}
ul.ph li a:hover {color:#FA7206;}

.zxpd{ margin:25px 0 0; *margin:25px 0 0;}
.aqzx{ margin:46px 0 0;}
.jryw{ margin:0 0 3px;}
.gg{ margin:0 0 10px;}
.tag{ margin:0 0 20px; width:230px; height:234px;padding:10px; line-height:28px; overflow:hidden;}
.tag a{ padding:5px;}
.tag1{ font-size:12px;}
.tag2{ font-size:12px; color:#C60;}
.tag3{ font-size:12px; color:#F30;}
.tag4{ font-size:15px;}
.tag5{ font-size:15px; color:#090;}
.tag6{ font-size:15px; color:#990;}
.tag7{ font-size:18px;}
.tag8{ font-size:18px; color:#06F;}
.tag9{ font-size:18px; color:#09F;}
.tag10{ font-size:20px; }
.tag11{ font-size:20px; color:#6C0}
.tag12{ font-size:20px; color:#F96}

.zt{ margin:0 0 11px; *margin:0 0 14px; height:340px; *height:356px; overflow:hidden;}
.mp0{margin-top:0px;}
.bd0{border-bottom:0px; padding-bottom:0px;}
.artbf1{ height:30px; text-align:center;padding-top:10px;}
.artbf1 a{ font-size:16px; font-weight:bold; color:#C30;}
span{ color:#666;}
.xuexiao{ color:#666;}
#top_a1{display:none;}

.c_ad{ }
.t_ad{ width:100%; text-align:right; float:right;}
#top_a3{text-align:left;}
#top_a2{ text-align:right;}