@charset "utf-8";

/*-------------------------------------

　バナー自動生成

---------------------------------------*/

/*-------------------------------------
　カテゴリートップ
---------------------------------------*/
.modelCateBox {
	float:left;
	margin:0 20px 10px 0;
	width:390px;
}
.modelCateBox a {
	text-decoration:none;
}
.modelCateBox .cts {
    color: #272727;
    height: 190px;
	position:relative;
    width: 390px;
}
.modelCateBox .icnImg {
	position: absolute;
    right: 0;
    top: 5px;
    z-index: 2;
}
.modelCateBox .icnImg img {
	margin-right:5px;
}
.modelCateBox .caseImg {
	bottom: 5px;
    position: absolute;
    right: 5px;
    z-index: 1;
}
.modelCateBox .txtWrap {
	position:absolute;
    padding: 1px 10px;
	z-index:3;
}
.modelCateBox .txtSale {
	height:65px;
}
.modelCateBox .saleBox {
	background-color:#f30;
	color:#FFF;
	display:inline-block;
	/display: inline;
	/zoom: 1;
	font-size:14px;
	font-weight:bold;
	line-height:1.3em;
	padding:3px 5px;
	text-decoration:none;
}
.modelCateBox .txtPcname {
    color: #fff;
    margin-bottom: 5px;
    text-shadow: 1px 1px 0 #039;
}
.modelCateBox .txtSpec {
    color: #fff;
    line-height: 1.2;
    margin-bottom: 7px;
    text-shadow: 1px 1px 0 #039;
}
.modelCateBox .txtSpec span {
	color: #fff;
    font-size: 16px;
    font-weight: bold;
	text-decoration:none;
}
.modelCateBox .txtPrice {
	color: #f00;
    font-size: 22px;
    font-weight: bold;
}
.modelCateBox .txtPrice span,
.modelCateBox .txtPrice span.yen {
	color: #f00;
	text-decoration:none;
	text-shadow: 1px 1px 1px #999;
}
.modelCateBox .txtPrice span.tax {
    color: #f00;
    font-size: 14px;
}
.modelCateBox span.priceRevocation {
    color: #666 !important;
    font-size: 12px;
    line-height: 110%;
    text-decoration: line-through !important;
	text-shadow:none;
}
.modelCateBox .txtPrice s {
	color:#605b5a;
	font-size:14px;
	font-weight:normal;
}
.modelCateBox .tw_en {
	text-shadow: 1px 1px 1px #999;
}

/*-------------------------------------
　ガレリアトップ
---------------------------------------*/
.modelGameBox {
	float: left;
    margin: 0 20px 10px 0;
	width:390px;
}
.modelGameBox a {
	text-decoration:none;
}
.modelGameBox .cts {
    color: #272727;
    height: 220px;
	position:relative;
    width: 390px;
}
.modelGameBox .icnImg {
	position: absolute;
    right: 0;
    top: 5px;
    z-index: 2;
}
.modelGameBox .icnImg img {
	margin-right:5px;
}
.modelGameBox .caseImg {
	bottom: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}
.modelGameBox .txtWrap {
	position:absolute;
    padding: 8px 0 10px 12px;
	z-index: 3;
}
.modelGameBox .txtSale {
	height:78px;
}
.modelGameBox .saleBox {
	background-color:#f30;
	color:#FFF;
	display:inline-block;
	/display: inline;
	/zoom: 1;
	font-size:14px;
	font-weight:bold;
	padding:3px 5px;
	line-height:1.3em;
	text-decoration:none;
}
.modelGameBox .txtPcname {
	color: #fff;
	font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #039;
}
.modelGameBox .txtOS {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #039;
}
.modelGameBox .txtSpec {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5em;
	margin-bottom:5px;
    text-shadow: 1px 1px 0 #039;
}
.modelGameBox .txtSpec span {
	color: #fff;
    font-size: 16px;
    font-weight: bold;
	text-decoration:none;
}
.modelGameBox .txtSpec span {
    color: #fff;
    font-size: 17px;
	text-decoration:none;
}
.modelGameBox .txtPrice {
    font-size: 22px;
    font-weight: bold;
}
.modelGameBox .txtPrice span,
.modelGameBox .txtPrice span.yen {
    color: #f00;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}
.modelGameBox .txtPrice span.tax {
    color: #f00;
    font-size: 14px;
}
.modelGameBox span.priceRevocation {
    color: #fff;
    font-size: 12px;
    line-height: 110%;
    text-decoration: line-through !important;
	text-shadow:none;
}


/*-------------------------------------
　新ガレリアトップ
---------------------------------------*/
.modelGameBox2 {
	float: left;
	margin: 0 10px 20px 0;
	width:187px;
	height: 390px;
}
.modelGameBox2 a {
	text-decoration:none;
}
.modelGameBox2 .cts {
    color: #272727;
	position: relative;
    width: 187px;
}
.modelGameBox2 .stkIcon {
    top: 148px!important;
}
.modelGameBox2 .bgArea {
	background:none!important;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	/*margin-bottom:7px;*/
	position: relative;
	padding: 10px 0 0;
}
.modelGameBox2 .bgArea .caseImg {
	text-align:center;
}
.modelGameBox2 .bgArea .caseImg img {
	width:90%;
}
.modelGameBox2 .icnImg {
	top: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
/*.modelGameBox2 .caseImg {
	border:1px solid #fff;
	margin-bottom:7px;
}*/
.modelGameBox2 .txtSale {
	border-bottom: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	background-color:#fe0000;
	color:#FFF;
	display:inline-block;
	/display: inline;
	/zoom: 1;
	font-size:12px;
	padding:5px;
	text-decoration:none;
	margin-bottom:10px;
	width:175px;
}
.modelGameBox2 .txtPcname {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3em;
    padding-bottom: 6px;
}
.modelGameBox2 .txtSpec {
    color: #fff;
    font-size: 13px;
    line-height: 1.4em;
	margin-bottom:5px;
}
.modelGameBox2 .txtPrice {
	border-bottom: 1px solid #808080;
	color: #f00;
    font-size: 16px;
	margin-bottom:8px;
	font-weight:bold;
	padding: 0 0 3px;
}
.modelGameBox2 .txtPrice span,
.modelGameBox2 .txtPrice span.yen {
    color: #f00;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}
.modelGameBox2 .txtPrice span.tax {
    color: #f00;
    font-size: 14px;
}
.modelGameBox2 span.priceRevocation {
    color: #777 !important;
    font-size: 10px;
	font-weight: normal;
    line-height: 110%;
    text-decoration: line-through !important;
	text-shadow:none;
}
.modelGameBox2 span.priceArrow {
    color: #777 !important;
    font-size: 10px;
	font-weight: normal;
    line-height: 110%;
	text-shadow:none;
}


/*-------------------------------------
　トップ Lサイズ
　.modelTopBox_L：旧トップ
　.modelTopBox_370L：ペンシル版合わせ
---------------------------------------*/
.modelTopBox_L {
	width:329px;
}
.modelTopBox_370L {
	width:370px;
}
.modelTopBox_L a,
.modelTopBox_370L a {
	text-decoration:none;
	display: block;
}
.modelTopBox_L .cts {
    color: #272727;
    height: 182px;
	position:relative;
    width: 329px;
}
.modelTopBox_370L .cts {
    color: #272727;
    height: 205px;
	position:relative;
    width: 370px;
}
.modelTopBox_L .icnImg,
.modelTopBox_370L .icnImg {
	bottom: 20px;
    position: absolute;
    right: 0;
    z-index: 2;
}
.modelTopBox_L .caseImg,
.modelTopBox_370L .caseImg {
	bottom: 13px;
    position: absolute;
    right: 3px;
    z-index: 1;
}
.modelTopBox_L .txtWrap,
.modelTopBox_370L .txtWrap {
	position:absolute;
    padding: 1px 10px;
	z-index:3;
}
.modelTopBox_L .txtSale,
.modelTopBox_370L .txtSale {
	height:54px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .modelTopBox_L .txtSale,
 .modelTopBox_370L .txtSale {
	 height:58px;
 }
}
.modelTopBox_L .saleBox,
.modelTopBox_370L .saleBox {
	background-color:#F00;
	border:1px solid #FFF;
	border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	color:#FF0;
	display:inline-block;
	/display: inline;
	/zoom: 1;
	font-size:14px;
	font-weight:bold;
	line-height:1.3em;
	padding:3px 5px;
	text-align:center;
	text-decoration:none;
}
.modelTopBox_L .txtPcname,
.modelTopBox_370L .txtPcname {
    color: #fff;
    font-size: 11px;
}
.modelTopBox_L .txtSpec,
.modelTopBox_370L .txtSpec {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 8px;
	margin-top: 12px;
    text-shadow: 1px 1px 0 #000;
}
.modelTopBox_L .txtPrice,
.modelTopBox_370L .txtPrice {
	color: #f00;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.1;
}
.modelTopBox_L .txtPrice span,
.modelTopBox_L .txtPrice span.yen,
.modelTopBox_370L .txtPrice span,
.modelTopBox_370L .txtPrice span.yen {
	color: #f00;
	text-decoration:none;
}
.modelTopBox_L .txtPrice span.tax,
.modelTopBox_370L .txtPrice span.tax {
    color: #f00;
    font-size: 14px;
}
.modelTopBox_L span.priceRevocation,
.modelTopBox_370L span.priceRevocation {
	color: #666 !important;
    font-size: 12px;
    text-decoration: line-through !important;
	text-shadow:none;
}

/*-------------------------------------
　トップ Sサイズ
　.modelTopBox_S：旧トップ
　.modelTopBox_243S：ペンシル版合わせ
---------------------------------------*/
.modelTopBox_S {
	width:215px;
}
.modelTopBox_243S {
	width:243px;
}
.modelTopBox_S a,
.modelTopBox_243S a {
	text-decoration:none;
	display: block;
}
.modelTopBox_S .cts {
    color: #272727;
    height: 152px;
	position:relative;
    width: 215px;
}
.modelTopBox_243S .cts {
    color: #272727;
    height: 163px;
	position:relative;
    width: 243px;
}
.modelTopBox_S .icnImg,
.modelTopBox_243S .icnImg {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.modelTopBox_S .caseImg,
.modelTopBox_243S .caseImg {
	bottom: 17px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.modelTopBox_S .txtWrap,
.modelTopBox_243S .txtWrap {
	position:absolute;
    padding: 1px 10px;
	z-index:3;
}
.modelTopBox_S .txtSale,
.modelTopBox_243S .txtSale {
	height:40px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .modelTopBox_S .txtSale,
 .modelTopBox_243S .txtSale {
	 height:42px;
 }
}
.modelTopBox_S .saleBox,
.modelTopBox_243S .saleBox {
	background-color:#F00;
	border:1px solid #FFF;
	border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	color:#FF0;
	display:inline-block;
	/display: inline;
	/zoom: 1;
	font-size:12px;
	font-weight:bold;
	line-height:1.3em;
	padding:3px 5px;
	text-align:center;
	text-decoration:none;
}
.modelTopBox_S .txtPcname,
.modelTopBox_243S .txtPcname {
    color: #fff;
    font-size: 10px;
}
.modelTopBox_S .txtSpec,
.modelTopBox_243S .txtSpec {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.1em;
	margin-top: 6px;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 #000;
}
.modelTopBox_S .txtPrice,
.modelTopBox_243S .txtPrice {
	color: #f00;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
.modelTopBox_S .txtPrice span,
.modelTopBox_S .txtPrice span.yen,
.modelTopBox_243S .txtPrice span,
.modelTopBox_243S .txtPrice span.yen {
	color: #f00;
	text-decoration:none;
}
.modelTopBox_S .txtPrice span.tax,
.modelTopBox_243S .txtPrice span.tax {
    color: #f00;
    font-size: 11px;
}
.modelTopBox_S span.priceRevocation,
.modelTopBox_243S span.priceRevocation {
	color: #666 !important;
    font-size: 11px;
    text-decoration: line-through !important;
	text-shadow:none;
}

/*-------------------------------------
　その他装飾
---------------------------------------*/
.colorWhite {
	color:#FFF;
	text-decoration:none;
}
.mt10 {
	margin-top:10px;
}
.mt05 {
	margin-top:5px;
}