@charset "utf-8";

/*-------------------------------------

その他のおすすめキャンペーン・特集

---------------------------------------*/

#camp_banner {
	width:100%;
	border:1px solid #ccc;
	background-color:#fff;
	margin:0 0 30px;
}
#camp_banner ul {
	padding:0 20px 5px;
}
#camp_banner ul li {
	list-style:none;
	margin:5px 0;
	padding:7px 0 5px 5px;
}
#camp_banner li:last-child {
	border:none;
}
#camp_banner ul li a {
	color:#444;
	display:block;
}
#camp_banner ul li a .iconText {
    color: #fff;
	border-radius:2px;
    display: inline-block;
    font-size: 10px;
    margin: 0 10px 0 0;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}
#camp_banner ul li a .saleIcon {
	background-color: #CF0104;
}
#camp_banner ul li a .campaignIcon {
	background-color: #2E68AD;
}
#camp_banner ul li a .newIcon {
	background-color: #D37136;
}
#camp_banner ul li a .noticeIcon {
	background-color: #4A8439;
}
#camp_banner ul li a .stText {
	font-weight:bold;
	color:#222;
}



/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and (max-width:479px){

#camp_banner {
	width:100%;
	background-color:#fff;
	margin:0 0 30px;
}
#camp_banner ul {
	padding:0 5px 5px;
}
#camp_banner ul li {
	font-size:12px;
}

#camp_banner ul li a {
	text-decoration: none;
}
#camp_banner ul li a .iconText {
    display: block;

}
#camp_banner ul li a .stText {
	text-decoration: none;
}

}