@charset "utf-8";

/* CSS Information ==============================
File name: home.css
Table of Contents:
 +carriageFree
 +feature
 +homeHeadingArea
 +roundBox
 +securityArea
 +sale
 +clearfix
============================================== */

/*========================================
 +base styles
========================================*/


/*========================================
 +carriageFree
========================================*/
#carriageFree {
	margin: 0 0 10px;
	padding: 10px 0 0;
	text-align: center;
}

/*========================================
 +feature
========================================*/
#feature {
	position: relative;
	height: 165px;
	margin: 0 0 9px;
	overflow: hidden;
}
#feature #output {
	position: relative;
	top: 0;
	left: 0;
	width: 545px;
	height: 165px;
}
#feature #output li {
	position: absolute;
	width: 544px;
	height: 165px;
}
#feature #output img {
	width: 544px;
	height: 165px;
	*vertical-align: top;
	_vertical-align: top;
}
#feature #tabs {
	position: absolute;
	top: 9px;
	right: 9px;
	z-index: 2;
	width: 203px;
}
#feature #tabs li {
	margin: 0 0 4px;
	line-height: 0;
	text-align: right;
}
#feature #tabs a {
	display: block;
	position: relative;
	line-height: normal;
	zoom: 1;
}
#feature #tabs li a span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 203px;
	height: 34px;
}
#feature #tabs .current .border {
	background: url(/5shopping/templates/top/img/feature/cover.gif) left top no-repeat;
}
#feature #tabs .current img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/*========================================
 +homeHeadingArea
========================================*/
#homeHeadingArea {
	margin: 0 0 9px;
	/*padding: 0 0 0 10px;*/
	color: #0062b0;
	position: relative;
}
#homeHeadingArea h1 {
	float: left;
	margin: 0 20px 0 0;
}
#homeHeadingArea li {
	display: inline;
	margin: 0 8px 0 0;
}

/*========================================
 +roundBox
========================================*/
#roundBox {
	position: relative;
	width: 600px;
	height: 258px;
	margin: 0 auto 10px;
	border: 1px solid #999;
	background: #f2fafc url(/5shopping/templates/top/img/roundBox/bg.jpg) left bottom repeat-x;
	overflow: hidden;
}
#roundBox h2 {
	position: absolute;
	top: 8px;
	left: 16px;
	z-index: 9999;
}
#roundBox #filler {
	position: absolute;
	top: 20px;
	left: 203px;
	width: 190px;
	padding: 15px 0 0;
	color: #0062b0;
	font-size: 140%;
	font-weight: bold;
	text-align: center;
}
.roundabout-holder {
	width: 605px;
	height: 258px;
	position: absolute;
	top: -15px;
	overflow: hidden;
}
.roundabout-moveable-item {
	width: 376px;
	height: 162px;
}
.roundabout-moveable-item a {
	display:block;
	height: 80%;
	width: 80%;
	margin: 0 auto;
}
.roundabout-moveable-item a img {
	border: 3px solid #fff;
	display:block;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.roundabout-in-focus a img {
	border: 3px solid #00b3e6;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.controls #prev {
	position: absolute;
	top: 147px;
	left: 133px;
	z-index: 500;
	outline: none;
}
.controls #next {
	position: absolute;
	top: 147px;
	right: 127px;
	z-index: 500;
	outline: none;
}

/*========================================
 +PCRanking
========================================*/
.pcRanking .boxBody { padding-top: 0; }
.pcRanking h3 img,
.pcRanking dt img { margin-right: 0.5em; }
.pcRanking dl {
	font-size: 110%;
	font-weight: bold;
	line-height: 1.5;
}
.pcRanking dl.rank1st dt {
	padding: 16px 0 0 35px;
	background: url(/5shopping/templates/top/img/pc_ranking/1st_bg.gif) no-repeat left 3px;
}
.pcRanking dl.rank2nd dt {
	padding-left: 35px;
	background: url(/5shopping/templates/top/img/pc_ranking/2nd_bg.gif) no-repeat left 3px;
}
.pcRanking dl.rank3rd dt {
	padding-left: 35px;
	background: url(/5shopping/templates/top/img/pc_ranking/3rd_bg.gif) no-repeat left 3px;
}
	
.pcRanking dd { text-align: right; }


/*========================================
 +securityArea
========================================*/
#securityArea {
	padding: 10px;
	background: #fff;
	text-align: center;
}
#securityArea li {
	margin: 0 0 8px;
}

/*========================================
 +sale
========================================*/

.weightN {
	font-weight:normal;
}

.textBoxE {
	border-color:#C7C7C7;
	border-style:solid;
	border-width:1px;
	margin-bottom:5px;
	padding:5px;
}

.newModel { position: relative; }
.newModel .newIcon_ll {
	position: absolute;
	left: -6px;
	top: -7px;
	z-index: 1;
}
.newModel .newIcon_l {
	position: absolute;
	left: -6px;
	top: -8px;
	z-index: 1;
}
.newModel .newIcon_m {
	position: absolute;
	left: -6px;
	top: -6px;
	z-index: 1;
}
.newModel .newIcon_lln{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
.newModel .newIcon_ln {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
.newModel .newIcon_mn {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}


/*========================================
 +clearfix
========================================*/
#nav1:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
#nav1 {
	zoom: 1;
}

/*=== 2015.09　START ===*/

/*========================================
HOME
========================================*/

/*トップテキスト*/
.leadSection{
	overflow: hidden;
	padding-top: 8px;
	width:100%;
}

	.leadSection .all365days {
		float: left;
		font-size: 18px;
		font-weight: bold;
	}
	.leadSection .recomWin {
		margin: 0px 4px 0px 0;
	}
		.leadSection .recomWin a {
			display: inline;
			margin-left: 10px;
		}

/*スライド部*/
.mainvisualSection{
	padding: 5px;
	background-color: #eee;
	margin-bottom: 25px;
}

	.mainvisualSection .pct{
		position: relative;
		overflow: hidden;
		width: 960px;
		height: 200px;
		margin-bottom: 5px;
	}
	
	.mainvisualSection .pct .coverL, 
	.mainvisualSection .pct .coverR{
		position: absolute;
		height: 200px;
		display: block;
	}
	.mainvisualSection .pct .coverL .bg, 
	.mainvisualSection .pct .coverR .bg{
		position: absolute;
		left:0;
		top: 0;
		background: #000;
		height: 100%;
		filter: alpha(opacity=50);
		-moz-opacity: 0.50;
		opacity: 0.50;
		display: block;
		width: 100%;
	}
	.mainvisualSection .pct .coverL{
		width: 144px;
		top: 0;
		left: 0;
	}
	.mainvisualSection .pct .coverR{
		width: 150px;
		top: 0;
		right: 0;
	}
	
	.mainvisualSection .pct .bx-viewport{
		width: 5000px !important;
		position: relative;
		padding-left: 150px;
	}

		.mainvisualSection .pct li{
			display: inline-block;
			*zoom: 1;
			*display: inline;
			margin: 0 2px;
		}
	
	.mainvisualSection #bx-pager{
		overflow: hidden;
		position: relative;
		margin:10px -10px 0 0;
	}

		.mainvisualSection #bx-pager a{
			position: relative;
			display: block;
			float: left;
			margin-right: 11px;
		}

			.mainvisualSection #bx-pager a.active span{
				position: absolute;
				left: 0px;
				top: 0px;
				width: 146px;
				height: 28px;
				border: 3px solid #ff0000;
			}
	.mainvisualSection .bx-prev,
	.mainvisualSection .bx-next{
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	.mainvisualSection .bx-prev .icon,
	.mainvisualSection .bx-next .icon{
		display: none;
		text-indent: -9999px;
		position: absolute;
		width: 38px;
		height: 107px;
		top: 50%;
		background-size: contain;
		z-index: 1;
		margin-top: -53px;
	}
	.mainvisualSection .bx-prev .icon{
		background-image: url(/service/img/arrow_l.png);
		left: 144px;
		margin-left: -52px;
	}
	.mainvisualSection .bx-next .icon{
		background-image: url(/service/img/arrow_r.png);
		right: 150px;
		margin-right: -52px;
	}


/*おすすめ*/
.recommendSection{
	padding-bottom: 20px;
}

	.recommendSection h3{
		margin-bottom: 10px;
	}

	.recommendSection ul{
		position: relative;
		overflow: hidden;
		margin-right: -10px;
	}

	.recommendSection li{
		float: left;
		margin-right: 9px;
		margin-bottom: 10px;
	}

/*今週のPCパーツおすすめ*/

#top_pcparts_pickup {
	margin:0 0 30px;
}
#top_pcparts_pickup .link {
    clear: both;
    padding: 8px 10px 3px;
}
#top_pcparts_pickup .link a {
    background: rgba(0, 0, 0, 0) url(/5img/iconArrowWhite1.gif) no-repeat scroll left center;
    display: inline-block;
    font-size: 12px;
    padding-left: 14px;
    text-decoration: none;
}
#top_pcparts_pickup .pcpartsCarousel .item {
	padding-left: 10px;
}
#top_pcparts_pickup .owl_navs {
    margin-top:12px;
}
#top_pcparts_pickup .owl_navs .prev {
	background-color: #dddddd;
    border: 1px solid #999999;
    float: left;
    font-size: 13px;
    text-align: center;
    width: 35px;
	margin: 0 0 0 10px;
}
#top_pcparts_pickup .owl_navs .next {
	background-color: #dddddd;
    border: 1px solid #999999;
    float: right;
    font-size: 13px;
    text-align: center;
    width: 35px;
	margin: 0 10px 0 0;
}
#top_pcparts_pickup .owl_navs .prev a,
#top_pcparts_pickup .owl_navs .next a {
	color: #605b5a;
	display: block;
	text-decoration: none;
}


/*ランキング*/
.rankingSection{
	margin-bottom: 25px;
}

	.rankingSection h3{
		margin-bottom: 10px;
	}


		.rankingSection .detailBlock{
			float: right;
			width: 536px;
			padding-top: 18px;
		}

			.rankingSection .detailBlock .box .ranklist li{
				float: left;
				width: 130px;
				padding-left: 40px;
				margin-right: 6px;
			}
			.rankingSection .detailBlock .box .ranklist li.rank1{
				background: url(/5shopping/include/ranking_top/img/ico_category_ranking01.gif) left top no-repeat;
			}
			.rankingSection .detailBlock .box .ranklist li.rank2{
				background: url(/5shopping/include/ranking_top/img/ico_category_ranking02.gif) left top no-repeat;
			}
			.rankingSection .detailBlock .box .ranklist li.rank3{
				background: url(/5shopping/include/ranking_top/img/ico_category_ranking03.gif) left top no-repeat;
			}

				.rankingSection .detailBlock .box .ranklist li .pct{
					border: 1px solid #ccc;
					margin-bottom: 11px;
				}

				.rankingSection .detailBlock .box .ranklist li .name{
					font-size: 14px;
					font-weight: bold;
					border-bottom: 1px solid #ccc;
					margin-bottom: 3px;
					line-height:120%;
					word-break: break-all;
				}
				
				.rankingSection .detailBlock .box .ranklist li .name a {
					display: block;
					padding: 2px 0 0;
					text-decoration: none;
				}
				.rankingSection .detailBlock .box .ranklist li .name a:hover {
					color: #0062b0;
					text-decoration: underline;
				}

				.rankingSection .detailBlock .box .ranklist li .price{
					font-size: 14px;
					color: #ff0000;
				}

				.rankingSection .detailBlock .box .ranklist li .modelCatch{
					font-size: 14px;
				}

				.rankingSection .detailBlock .box .link {
					overflow: hidden;
					padding: 8px 10px 3px;
					clear:both;
				}
				.rankingSection .detailBlock .box .link a{
					display: inline-block;
					float: right;
					font-size: 12px;
					padding-left: 14px;
					background: url(/5img/iconArrowWhite1.gif) left center no-repeat;
					text-decoration: none;
				}
				.rankingSection .detailBlock .box .link a:hover{
					text-decoration: underline;
				}

/*ランキングローテーション用151201*/
.tabs_rotate .horizontal {
	width:210px;
	float:left;
	border-right:1px solid #ccc;
}

.tabs > DIV SPAN.rankingItemList {
    display: block;
    text-align: center;
	width:536px;
	float: right;
}

.tabs > DIV SPAN.rankingItemList #partsTable {
    text-align: left;
}

#rankingInner {
	border:1px solid #ccc;
	overflow:hidden;
	font-size:13px;
	margin:10px 0 25px;
}
.tabs LI {
	background: white;
	border-bottom: 1px solid #E5E5E5;
	display: inline-block;
	width:210px;
}

.tabs LI.last {
	border-bottom: none;
}

.tabs A {
	display: block;
	padding: 7px 0 7px 24px;
	text-decoration: none;
}

.tabs LI:hover {
	background: #e1f1ff url("/5img/iconArrowWhite1.gif") no-repeat scroll 8px center;
}

/*.tabs LI:hover A {
	color: #333333;
}*/

.tabs .active {
	background: #e1f1ff url("/5img/iconArrowWhite1.gif") no-repeat scroll 8px center;
}

.tabs .active A {
	olor: #333333!important;
}

.tabs .ranklist .pct A {
	padding: 0px;
}

.tabs .ranklist li {
	border-bottom: none;
}

			
/*インフォメーション*/
.infoSection{
	margin-bottom: 25px;
}

	.infoSection h3{
		margin-bottom: 10px;
	}

	.infoSection .tabSet{
		border: 1px solid #ccc;
	}

	.infoSection .tabBlock{
		overflow: hidden;
	}

		.infoSection .tabBlock li{
			float: left;
		}
	
			.infoSection .tabBlock li span{
				text-align: center;
				display: block;
				width: 250px;
				height: 38px;
				font-size: 13px;
				line-height: 38px;
				text-decoration: none;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
			}
			.infoSection .tabBlock li.last span{
				width: 251px;
				border-right: 0px;
			}
			.infoSection .tabBlock li span:hover{
				cursor: pointer;
			}
			.infoSection .tabBlock li.selected span{
				background-color: #e1f1ff;
				border-bottom: 1px solid #e1f1ff;
			}

	.infoSection .infoBlock .box.hide{
		display: none;
	}

	.infoSection .infoBlock .infolist{
		padding-top: 10px;
		width: 736px;
		margin: 0 auto;
	}

	.infoSection .infoBlock li{
		overflow: hidden;
		color: #333;
		border-bottom: 1px dotted #ccc;
		padding: 8px 0;
	}

		.infoSection .infoBlock li .text{
			font-size: 13px;
			display: inline-block;
			padding-left:10px;
			width: 628px;
		}

		.infoSection .infoBlock li .date{
			float: right;
			font-size: 13px;
			display: inline-block;
			padding-right: 1em;
		}

		.infoSection .infoBlock .link{
			overflow: hidden;
			padding: 8px 10px;
		}

			.infoSection .infoBlock .link a{
				display: inline-block;
				float: right;
				font-size: 14px;
				padding-left: 14px;
				background: url(/5img/iconArrowWhite1.gif) left center no-repeat;
				text-decoration: none;
			}
			.infoSection .infoBlock .link a:hover{
				text-decoration: underline;
			}

			.infoSection .infoBlock .link a.cautionText{
				display: inline-block;
				float: left;
				background: none;
				padding-left: 0;
				text-decoration: underline;
			}
			.infoSection .infoBlock .link a:hover.cautionText{
				display: inline-block;
				float: left;
				background: none;
				padding-left: 0;
				text-decoration: none;
			}

/*161122追加*/
#pressRelease ul li a .iconText {
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
	margin: 0 10px;
	padding: 1px 5px;
	text-align: center;
	text-decoration: none;
	width: 60px;
}

#pressRelease ul li a .iconTextDg {
	border-radius: 2px;
	color: #000;
	display: inline-block;
	font-size: 10px;
	margin: 0 10px;
	padding: 1px 5px;
	text-align: center;
	text-decoration: none;
	width: 60px;
}

#pressRelease ul li .text{
	float: left;
	width: 536px;
}


#pressRelease .presslist {
    margin: 0 auto;
    padding-top: 10px;
    width: 736px;
}

#pressRelease ul li a .dpIcon {
	float: left;
	background-color: #1C5088;
	vertical-align: 2em;
}

#pressRelease ul li a .dgIcon {
	float: left;
	border: 1px solid #595656;
	vertical-align: 2em;
}
			




/*ラインナップ*/
.lineupSection{
	margin-bottom: 15px;
}

	.lineupSection h3{
		margin-bottom: 10px;
	}

	.lineupSection ul{
		overflow: hidden;
		position: relative;
		margin-right: -10px;
	}

		.lineupSection li{
			float: left;
			margin:0 9px 10px 0;
			width:243px;
			height:120px;
			border:1px solid #ccc;
			border-radius:3px;
		}

		.lineupSection li:hover {
			opacity:0.7;
		}
		
		.lineupSection li p {
			padding:10px 8px;
			height: 100%;
		}
		
		.lineupSection li a {
			text-decoration:none;
		}
		
		.lineupSection li p span.lineupName {
			display: block;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
			text-decoration: none;
		}
		
		.lineupSection li p span.lineupName img {
			margin-left:7px;
		}
		
		.lineupSection li p span.lineupText {
			display: block;
			font-size:12px;
			color:#626060;
			width:150px;
			text-decoration:none;
		}
		
		.lineupSection li .imgDesktop {
			background:url("/5shopping/templates/top/img/lineup/img_desktop.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgNote {
			background:url("/5shopping/templates/top/img/lineup/img_note.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgGame {
			background:url("/5shopping/templates/top/img/lineup/img_gamepc.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgTablet {
			background:url("/5shopping/templates/top/img/lineup/img_tablet.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgCreate {
			background:url("/5shopping/templates/top/img/lineup/img_createpc.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgPcparts {
			background:url("/5shopping/templates/top/img/lineup/img_pcparts.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgUsedpc {
			background:url("/5shopping/templates/top/img/lineup/img_usedpc.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgUsedpcparts {
			background:url("/5shopping/templates/top/img/lineup/img_usedpcparts.jpg") no-repeat right 40px;
		}
		
		.lineupSection li .imgUsedshiro {
			background:url("/5shopping/templates/top/img/lineup/img_usedshiro.jpg") no-repeat right 40px;
		}

		.lineupSection li .imgServer_ws {
			background:url("/5shopping/templates/top/img/lineup/img_server_ws.jpg") no-repeat right 40px;
		}



/*お問い合わせ*/
.contactSection{
	border: 10px solid #c9e3fe;
	margin-bottom: 22px;
}

	.contactSection .inner{
		padding: 15px 10px 25px;
		background-color: #fff;
	}

	.contactSection .title{
		font-size: 14px;
		font-weight: bold;
		color: #5F5959;
		background: url(/5shopping/templates/top/img/others/bg-dotline.png) left bottom repeat-x;
		margin-bottom: 15px;
	}

	.contactSection .subtitle{
		font-size: 14px;
		font-weight: bold;
		color: #5F5959;
		border-bottom: 1px solid #ccc;
		margin-bottom: 12px;
	}

	.contactSection p{
		font-size: 14px;
		color: #333;
		padding: 8px 0 0 10px;
	}

	.contactSection .line{
		overflow: hidden;
		margin-bottom: 35px;
	}

	.contactSection .box1{
		float: left;
		width: 220px;
		margin-right: 45px;
	}

	.contactSection .box2{
		position: relative;
		float: right;
		width: 450px;
		margin-right: -5px;
	}

		.contactSection .box2 .cell{
			float: left;
			width: 220px;
			margin-right: 5px;
		}

	.contactSection .box3{
		clear: both;
		overflow: hidden;
		position: relative;
		margin-right: -10px;
	}

	.contactSection .box3 .subtitle{
		width: 716px;
	}

		.contactSection .box3 .cell{
			float: left;
			width: 173px;
			margin-right: 8px;
		}


/*店舗*/
.storeSection{
	border: 10px solid #c9e3fe;
	margin-bottom: 22px;
}

	.storeSection .inner{
		padding: 15px 10px 15px;
		background-color: #fff;
	}

	.storeSection .title{
		display: block;
		font-size: 14px;
		font-weight: bold;
		color: #5F5959;
		padding-bottom: 4px;
		border-bottom: 1px solid #ccc;
	}

	.storeSection .link{
		overflow: hidden;
		margin: -27px 0 18px 0;
	}

		.storeSection .link a{
			display: inline-block;
			float: right;
			font-size: 14px;
			padding-left: 14px;
			background: url(/5img/iconArrowWhite1.gif) left 6px no-repeat;
			text-decoration: none;
		}
		.storeSection .link a:hover{
			text-decoration: underline;
		}

	.storeSection .inner{
		overflow: hidden;
	}

	.storeSection .cell{
		float: left;
		margin-right: 15px;
		font-size: 14px;
	}
	.storeSection .cell.last{
		margin-right: 0px;
	}

		.storeSection .cell .subtitle{
			margin-bottom: 5px;
			color: #333;
		}

		.storeSection .cell li{
			margin-bottom: 5px;
		}

			.storeSection .cell li a{
				display: block;
				padding-left: 8px;
				background: url(/5shopping/templates/top/img/others/ico-blue-dot.png) left 7px no-repeat;
			}

/*=== 2015.09　END ===*/


/*=== 2015.11 追記 ===*/

/*サポート*/
.supportSection{
	padding-bottom: 30px;
}

	.supportSection p{
		font-size: 16px;
		font-weight: bold;
		color: #333333;
		padding: 12px 0 12px 15px;
	}

	.supportSection .soudanBlock{
		position: relative;
		margin-bottom: 20px;
	}

		.supportSection .soudanBlock .link{
			position: absolute;
			width: 264px;
			height: 42px;
			right: 5px;
			bottom: 5px;
		}

	.supportSection .supportBlock {
		background:url(/5img/home/bnr_premium_camp_back.jpg) no-repeat 0 0 / 755px auto;
		width:755px;
		height:200px;
	}

.supportSection .supportBlock:hover {
		opacity: 0.6;
		filter: alpha(opacity=60);
	}
	
	.supportSection .supportBlock .premiamLinkText {
		color: #fff;
		font-size: 23px;
		font-weight: normal;
		padding: 14% 0 3%;
		text-align: center;
	}

	.supportSection .supportBlock .premiamLinkText span.yellow {
		color: #F6FC29;
		font-size: 40px;
	}
	
	.supportSection .supportBlock a, a span {
		text-decoration:none;
	}
	
	
/*=== 2016.0525 追記 ===*/
.storeSection .cell {
	width: 178px;
	margin-right: 0px;
}

.storeSection .cell.kanto {
	width: 534px;
	padding-bottom: 66px;
}

.storeSection .cell.kanto ul {
	width: 178px;
	float: left;
}

.storeSection .cell.kanto ul ul {
	float: none;
}

.storeSection .cell li {
	clear: both;
}

.storeSection .cell li a {
	padding-left: 0px;
	background-image: none;
}

.storeSection .cell li li {
	clear: none;
	float: left;
	width: 63px;
}
.storeSection .cell li li:first-child {
	width: 64px;
}
.storeSection .cell li li:last-child {
	width: 60px;
}

.storeSection .cell li li a {
	width: 60px;
}

		
		
/*========================================
トップページ用　最近チェックした商品
========================================*/

#historyBox div.historyArea {
	width: 743px;
	margin: 0 0 30px;
}

#historyBox div.historyArea .historyList li {
    margin: 0 5px;
    width: 112px;
}

#historyBox div.historyArea .historyList .txt {
    border-top: 3px solid #ccc;
    font-size: 12px;
    height: 45px;
    line-height: 140%;
    overflow-y: hidden;
    padding: 5px;
}

#historyBox div.historyArea .historyList .img {
    margin-bottom: 5px;
    text-align: center;
}

#historyBox .radius2 {
    border-radius:0px;
}

#historyBox .heading2B {
    background-color: #00b3e6;
    color: #fff;
	font-size: 14px;
	padding: 5px 0 3px 14px;
}

/*================================================
トップページ用　インフォメーションスクロール化
================================================*/

#infomationBox #camp_banner {
    border: none;
    margin: 0;	
	height: 240px;
	overflow: auto;
}
#infomationBox #camp_banner ul li {
    font-size: 13px;
}
#infomationBox #camp_banner ul li a {
    color: #0062b0;
    display: block;
}
#infomationBox #camp_banner ul li a .stText {
    color: #0062b0;
}


/*========================================
ドスパラについて
========================================*/


#aboutDospara {
	border: 10px solid #c9e3fe;
	padding:10px;
	margin-bottom:22px;
}

#aboutDospara p {
	font-size:14px;
	line-height:1.6;
	margin:12px 0;
}

#aboutDospara .dosparaLink {
	float:right;
	margin:0 0 10px 10px;
	width:150px;
}

#aboutDospara .dosparaLink ul li {
    padding: 2px 0 2px 1em;
	background-image: url("/5img/bcBg_999.gif");
    background-position: 2px 6px;
    background-repeat: no-repeat;
}
#aboutDospara .dosparaLink ul li:last-child {
	border-bottom:none;
}


#aboutDospara p.aboutTit {
	font-size:18px;
	font-weight:bold;
}

#aboutDospara hr {
	border:none;
	border-bottom:1px #666 dashed;
}
#aboutDospara a {
	font-size:12px;
}


/*========================================
ヘッダー用VRパラダイスバナー
========================================*/

.vrParadiseBnr {
	width:970px;
	margin:-45px auto 0;
}




/*========================================
パソコン辞典の人気・注目記事
========================================*/

#popularAarticle {
	border: 10px solid #c9e3fe;
	padding:10px;
	margin-bottom:22px;
}

#popularAarticle h3 {
    font-size: 18px;
	font-weight: bold;
    margin: 10px 0;
}
ul.articleList li {
    background-image: url("/5img/bcBg_999.gif");
    background-position: 2px 6px;
    background-repeat: no-repeat;
    margin: 4px 0 1em;
    padding-left: 1em;
	font-size: 14px;
}
ul.articleList li a {
    font-size: 14px;
    font-weight: bold;
}