﻿@charset "UTF-8";

/* CSS Information ==============================
File name: module.css
Table of Contents:
 +copyrightArea
 +multiColumn
 +section
 +box
 +imgBox
 +colorBox
 +borderBox
 +boxBody
 +headings
 +lists
 +separator
 +radius
 +links
 +form
 +others
 +clearfix
============================================== */

/*========================================
 +copyrightArea
========================================*/
.copyrightArea {
	padding: 15px 10px 0;
	color: #a2a2a2;
}

/*========================================
 +multiColumn
========================================*/
.multiColumnRow {
	margin-bottom: 8px;
}
.multiColumn600 .column {
	float: left;
	width: 600px;
}
.multiColumn2 .column {
	float: left;
	width: 297px;
}
.multiColumn2 .lastColumn {
	float: right;
}
.multiColumn3 .column {
	float: left;
	width: 196px;
	margin-right: 6px;
}
.multiColumn3 .column_ab {
	float: left;
	width: 264px;
	margin-right: 6px;
}
.multiColumn3 .lastColumn {
	float: right;
	margin-right: 0;
}
.multiColumn4 .column {
	float: left;
	width: 196px;
	margin-right: 7px;
}
.multiColumn4 .lastColumn {
	float: right;
	margin-right: 0;
}

.thumbColumn2 .column {
	float: left;
	width: 83px;
}
.thumbColumn2 .lastColumn {
	float: right;
}

/*========================================
 +section
========================================*/
.section {
	margin-bottom: 10px;
}
.paraBlock h2,
.paraBlock h3,
.paraBlock h4,
.paraBlock p,
.paraBlock ul,
.paraBlock ol,
.paraBlock dl,
.paraBlock table,
.paraBlock select {
	margin-bottom: 10px;
}
.paraBlock li {
	margin-bottom: 4px;
}

.section_note {
	margin-bottom: 20px;
}



/*========================================
 +box
========================================*/
.subBox {
	margin: 0 0 10px;
}
.subBox .txt {
	color: #605b5a;
}
.subBox h2 {
	padding: 7px 10px;
	background: #00b3e6;
	color: #fff;
	zoom: 1;
}
.subBox h3 {
	background-color: #00B3E6;
	color: #FFFFFF;
	font-size:12px;
	margin-bottom:0;
	padding: 7px 10px;
}
.subBox h3 a {
	color: #FFFFFF;
}

.subBox em,
.subBox .ttl {
	display: block;
	*zoom: 1;
	_zoom: 1;
}
.subBox li li a {
	display: inline;
}
.subBox li li a:hover, .subBox a:hover.arrowLink, ul.addCts li a:hover {
	text-decoration:underline;
	color:#F60;
}
.subBox a,
.subBox span {
	text-decoration: none;
}


.subBox a:focus .arrowLink,
.subBox a:active .arrowLink {
	text-decoration: none;
}
.subBox em {
	padding: 0;
/*	background: url(/5img/dashedBlueH1.gif) left bottom repeat-x;*/
}

/* 130625追加 */

.subBox .kasen {
	margin-bottom: 5px;
	padding-bottom: 8px;
	background: url(/5img/dashedBlueH1.gif) left bottom repeat-x;
}

.subBox .fontL {
	font-weight: bold;
	color: #0062B0;
}

/* 130625追加ここまで */

.subBox .ttl {
	padding: 4px 0;
/*	background: url(/5img/dashedBlueH1.gif) left top repeat-x;*/
	color: #0062b0;
}
.subBox .firstChild .ttl,
.subBox .adjacentChild .ttl {
	background: none;
	border-bottom:1px #0062b0 solid;
}
.subBox .firstChild .ttl {
	padding:4px 0;
	margin-bottom:2px;
}
.subBox .lastChild .ttl {
	border-bottom:none;
}
.subBox .lastChild em {
	padding: 0;
	background: none;
}
.subBox li ul {
	margin-top: 4px 0;
}
.subBox li ul.lastChild {
	margin-bottom: 0;
}

.subBox ul.addCts li {
	border-bottom:1px #999 dotted;
	margin:4px 0;
}
.subBox ul.addCts li:last-child {
	border-bottom:none;
	margin:4px 0 0 0;
}



.subBox dt {
	margin: 14px 0 7px;
	font-weight: bold;
}
.subBox dt.firstChild {
	margin: 0 0 7px;
}
.subBox p {
	margin-bottom: 10px;
}
.subBox li li {
	border-bottom: 1px dotted #999;
/*	border-left: 4px solid #FFF;*/
	line-height: 1.4em;
	list-style: none outside none;
	padding: 4px 0 4px 4px;
}
.subBox li li:last-Child, .subBox li li.lastList {
	border-bottom: none;
}

.sideNav li {
	position: relative;
	line-height: 0;
}
.sideNav li a {
	display: inline;
	line-height: 1.4;
}
.sideNav li ul {
	display: none;
	list-style: inside disc;
	position: absolute;
	top: -10px;
	left: 142px;
	width: 250px;
	padding: 10px;
	border: 1px solid #CCC;
	background: #efefef;
}
.sideNav li.hover ul {
	display: block;
}

.bnrBox li,
.bnrBox3 li{
	margin-bottom: 10px;
}
.bnrBox2 li {
	margin-bottom: 6px;
}
.bnrBox3 li img {
	border: 1px solid #ddd;
}

/*========================================
 +imgBox
========================================*/
.hrImgBox55 .img {
	float: left;
	width: 55px;
	margin: 3px 0 0;
}
.hrImgBox55 .txt {
	margin-left: 70px;
}

.imgBox a,
.imgBox .img,
.imgBox .txt,
.imgBox .txt2 {
	display: block;
}
.imgBox .txt {
	padding: 9px 10px 0;
}
.imgBox .txt2 {
	padding: 6px 2px 0;
}
.imgBox em {
	color: #f00;
	font-weight: normal;
}

.imgBox2 .txt,
.imgBox2 .img {
	display: block;
}
.imgBox2 {
	padding: 2px;
}
.imgBox2 .txt {
	margin: 0 0 2px;
	padding: 4px 8px;
	background: #e5f2f7;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*========================================
 +colorBox
========================================*/
.colorBoxG {
	background-color: #f0f1f2;
}
.colorBoxB {
	background-color: #0062b0;
	color: #fff;
}
.colorBoxB a {
	color: #fff;
}
.colorBoxLB {
	background-color: #e5f2f7;
	color: #004685;
}
.colorBoxO {
	background: #f5eed3;
	color: #0062b0;
}
.colorBoxS {
	background-color: #DD0000;
	color: #FFFFFF;
	font-weight: bold;
}

/*========================================
 +borderBox
========================================*/
.borderBoxG {
	border: 1px solid #c7c7c7;
}
.borderBoxG2 {
	border: 1px solid #ddd;
}
.borderBoxB {
	border: 1px solid #00b3e6;
}
.borderBoxRY {
	border: 1px solid #cc0000;
	background-color: #FFFFBF;
}

/*========================================
 +boxBody
========================================*/
.boxBody { padding: 5px; }
.boxBody2 { padding: 10px 10px 0; }
.boxBody2B { padding: 0 10px; }
.boxBody3 { padding: 10px 7px; }
.boxBody4 { padding: 10px 8px; }
.boxBody5 { padding: 25px 18px 19px 41px; }
.boxBody6 { padding: 9px; }

/*========================================
 +headings
========================================*/
.heading2,
.heading2B,
.heading2C,
.heading2BC,
.heading2G,
.heading2GL,
.heading2YB,
.heading2YR,
.heading2R{
	margin-bottom: 8px;
	padding: 5px 10px;
}
.heading2 {
	background-color: #0062b0;
	color: #fff;
}
.heading2B {
	background-color: #0062b0;
	color: #fff;
	zoom: 1;
}
.heading2C {
	background-color: #f6f2b6;
	color: #0062b0;
	zoom: 1;
	font-size: 140%;
	line-height: 200%;
}
.heading2BC {
	background-color: #ddeef1;
	color: #0062b0;
	zoom: 1;
	font-size: 140%;
	line-height: 200%;
}
.heading2GL {
	background-color: #eaeaea;
	color: #0062b0;
	zoom: 1;
	line-height: 200%;
}
.heading2R {
	background-color: #cc0000;
	color: #fff;
	zoom: 1;
}
.heading2G {
	background-color: #c7c7c7;
	color: #fff;
}
.heading2YB {
	background-color: #fff100;
	color: #0062b0;
}
.heading2YR,
.heading2YR a,
.heading2YR span {
	background-color: #ffea00;
	color: #f00;
}
.heading2N {
	padding: 2px 10px;
	font-weight: normal;
}

.heading2bb {
	font-size:16px;
	margin:10px 0 10px 0;
	padding: 5px 10px;
	background-color: #0062b0;
	color: #fff;
}

.heading2a {
	background-color: #3B3B3B;
	color: #fff;
	margin: 8px 8px 3px 8px;
	padding: 5px 10px;
}


h2 a {
	display: block;
}
.heading2YR a {
	display: inline;
}
.rssHeader { padding: 5px; }
.rssHeader a { display: inline; }
.rssHeader a img {
	float: left;
	width: 16px;
	margin-bottom: 1em;
}

.imgHeading3 {
	margin: 0 0 8px;
	padding: 4px 0 0;
	background: url(/5img/dashedBlackH1.gif) left top repeat-x;
}
.imgHeading3Inner {
	padding: 0 1px 4px;
	background: url(/5img/dashedBlackH1.gif) left bottom repeat-x;
}
.imgHeading3 img {
	float: left;
}
.imgHeading3 .txt {
	display: block;
	margin-left: 44px;
	padding-top: 3px;
}

.heading3 {
	margin: 0 0 5px;
}

.prefix_02 {
background: -moz-linear-gradient(left, #1215a7, rgba(1,33,90,0));
background: -webkit-gradient(linear, left top, right top, from(#1215a7), to(rgba(1,33,90,0)));
}

.memo {
    background-color: #f1f1f1;
    background-position: center center;
    border: 1px solid #C0C0C0;
   /* color: #808080;*/
    margin: 1em 0;
    padding: 10px;
    /*width: 85%;*/
}

/*========================================
 +lists
========================================*/
ul.simpleList {
	list-style: none;
	margin-left: 0.2em;
}
ul.simpleList li {
	line-height:1.4em;
}

.rankingList {
	margin-bottom: 10px;
}
.rankingList li {
	margin-bottom: 3px;
	padding: 2px 0 2px 22px;
	background-image: url(/5img/iconRanking.gif);
	background-repeat: no-repeat;
}
.rankingList .no1 {	background-position: 0 5px; }
.rankingList .no2 { background-position: -285px 5px; }
.rankingList .no3 { background-position: -585px 5px; }
.rankingList .no4 { background-position: -884px 5px; }
.rankingList .no5 { background-position: -1185px 5px; }

.subMidashi {
	border-bottom: 1px solid #999;
	font-weight:bold;
}
.subMidashi_g {
	border-bottom: 1px solid #999;
	font-weight:bold;
	background-color:#333;
}
.subBox li li.lastLink {
	border-bottom: 1px solid #999;
}



/*========================================
 +separator
========================================*/
.separator,
.separator2,
.separator3 {
	margin-top: 9px;
	padding-top: 9px;
}
.separator {
	background: url(/5img/dashedBlueH1.gif) left top repeat-x;
}
.separator2 {
	background: url(/5img/dashedBlackH1.gif) left top repeat-x;
}
.separator3 {
	background: url(/5img/dashedLBlueH1.gif) left top repeat-x;
}

/*========================================
 +radius
========================================*/
.radius2 {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.radius5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*========================================
 +links
========================================*/
.topicPath {
	padding: 15px 0;
}
.topicPath li {
	display: inline;
	margin-right: 8px;
}
.topicPath a {
	padding-right: 19px;
	background: url(/5img/iconGtB.gif) right center no-repeat;
}

.breadCrumb {
	font-size:12px;
	padding-bottom:4px;
	/*padding-top:12px;*/
	text-align:left;
}

.breadCrumb li {
	display: inline;
	padding: 0 0 0 10px;
	background:url("/5img/bcBg_999.gif") no-repeat scroll left center;
}
.breadCrumb li:first-child {
	padding-left: 0;
	background: none;
}
.breadCrumb li a.bcMyself {
	color:#666;
	text-decoration:none;
}
.bcLast {
	margin-bottom:12px;
}


.linkCategory { margin-bottom: 2em; }
.linkCategory a { margin-right: 1.5em; }
.topicPath li strong { font-weight: normal; }

.linkArea h2 {
	margin-bottom: 5px;
}
.linkArea ul {
	list-style: disc inside;
	padding: 16px 10px 11px;
	border: 1px solid #cfcdcd;
	color: #0062b0;
}
.linkArea li {
	margin-bottom: 5px;
}

.linkList {
	list-style: inside disc;
	color: #0062b0;
}
.linkList li {
	margin: 10px 0 0;
	padding: 8px 0 0 1.3em;
	/*background: url(/5img/dashedBlackH1.gif) left top repeat-x;*/
	border-top:1px #333 dotted;
	text-indent: -1.3em;
}
.linkList .firstChild {
	margin: 0;
	padding-top: 0;
	background: none;
	border-top:none;
}
.linkList .date {
	font-weight: bold;
	line-height: 2;
}

.dlLinkList dt {
	margin-bottom: 5px;
	font-weight: bold;
}
.arrowLinkPress {
	padding-left: 0.5em;
	color: #fff;
	zoom: 1;
}
.arrowLinkRanking  {
	padding-left: 0.5em;
	zoom: 1;
}
.arrowLink {
	padding-left: 14px;
	background-image: url(/5img/iconArrowWhite1.gif);
	background-position: left center;
	_background-position: left 5px;
	background-repeat: no-repeat;
	zoom: 1;
}
.arrowLink2 {
	padding-left: 14px;
	background-image: url(/5img/iconArrowBlue1.gif);
	background-position: left center;
	_background-position: left 5px;
	background-repeat: no-repeat;
	color: #fff;
	zoom: 1;
}
.arrowLink2:hover,
.arrowLink2:focus,
.arrowLink2:active {
	color: #fff;
}
.arrowLink3 {
	padding-left: 14px;
	background-image: url(/5img/iconArrowGray1.gif);
	background-position: left center;
	_background-position: left 5px;
	background-repeat: no-repeat;
	color: #fff;
	zoom: 1;
}
.arrowLink3:hover,
.arrowLink3:focus,
.arrowLink3:active {
	color: #fff;
}

.arrowLinkNo01 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking01.gif) no-repeat left center;
}
.arrowLinkNo01:hover,
.arrowLinkNo01:focus,
.arrowLinkNo01:active {
	color: #0062b0;
}

.arrowLinkNo02 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking02.gif) no-repeat left center;
}
.arrowLinkNo02:hover,
.arrowLinkNo02:focus,
.arrowLinkNo02:active {
	color: #0062b0;
}

.arrowLinkNo03 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking03.gif) no-repeat left center;
}
.arrowLinkNo03:hover,
.arrowLinkNo03:focus,
.arrowLinkNo03:active {
	color: #0062b0;
}

.arrowLinkNo04 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking04.gif) no-repeat left center;
}
.arrowLinkNo04:hover,
.arrowLinkNo04:focus,
.arrowLinkNo04:active {
	color: #0062b0;
}

.arrowLinkNo05 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking05.gif) no-repeat left center;
}
.arrowLinkNo05:hover,
.arrowLinkNo05:focus,
.arrowLinkNo05:active {
	color: #0062b0;
}

.arrowLinkNo06 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking06.gif) no-repeat left center;
}
.arrowLinkNo06:hover,
.arrowLinkNo06:focus,
.arrowLinkNo06:active {
	color: #0062b0;
}

.arrowLinkNo07 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking07.gif) no-repeat left center;
}
.arrowLinkNo07:hover,
.arrowLinkNo07:focus,
.arrowLinkNo07:active {
	color: #0062b0;
}

.arrowLinkNo08 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking08.gif) no-repeat left center;
}
.arrowLinkNo08:hover,
.arrowLinkNo08:focus,
.arrowLinkNo08:active {
	color: #0062b0;
}

.arrowLinkNo09 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking09.gif) no-repeat left center;
}
.arrowLinkNo09:hover,
.arrowLinkNo09:focus,
.arrowLinkNo09:active {
	color: #0062b0;
}

.arrowLinkNo10 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking10.gif) no-repeat left center;
}
.arrowLinkNo10:hover,
.arrowLinkNo10:focus,
.arrowLinkNo10:active {
	color: #0062b0;
}

.arrowLinkNo11 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking11.gif) no-repeat left center;
}
.arrowLinkNo11:hover,
.arrowLinkNo11:focus,
.arrowLinkNo11:active {
	color: #0062b0;
}

.arrowLinkNo12 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking12.gif) no-repeat left center;
}
.arrowLinkNo12:hover,
.arrowLinkNo12:focus,
.arrowLinkNo12:active {
	color: #0062b0;
}

.arrowLinkNo13 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking13.gif) no-repeat left center;
}
.arrowLinkNo13:hover,
.arrowLinkNo13:focus,
.arrowLinkNo13:active {
	color: #0062b0;
}

.arrowLinkNo14 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking14.gif) no-repeat left center;
}
.arrowLinkNo14:hover,
.arrowLinkNo14:focus,
.arrowLinkNo14:active {
	color: #0062b0;
}

.arrowLinkNo15 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking15.gif) no-repeat left center;
}
.arrowLinkNo15:hover,
.arrowLinkNo15:focus,
.arrowLinkNo15:active {
	color: #0062b0;
}

.arrowLinkNo16 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking16.gif) no-repeat left center;
}
.arrowLinkNo16:hover,
.arrowLinkNo16:focus,
.arrowLinkNo16:active {
	color: #0062b0;
}

.arrowLinkNo17 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking17.gif) no-repeat left center;
}
.arrowLinkNo17:hover,
.arrowLinkNo17:focus,
.arrowLinkNo17:active {
	color: #0062b0;
}

.arrowLinkNo18 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking18.gif) no-repeat left center;
}
.arrowLinkNo18:hover,
.arrowLinkNo18:focus,
.arrowLinkNo18:active {
	color: #0062b0;
}

.arrowLinkNo19 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking19.gif) no-repeat left center;
}
.arrowLinkNo19:hover,
.arrowLinkNo19:focus,
.arrowLinkNo19:active {
	color: #0062b0;
}

.arrowLinkNo20 {
	padding-left: 42px;
	_background-position: left 5px;
	color: #0062b0;
	zoom: 1;
	background: url(/5shopping/include/ranking_top/img/ico_category_ranking20.gif) no-repeat left center;
}
.arrowLinkNo20:hover,
.arrowLinkNo20:focus,
.arrowLinkNo20:active {
	color: #0062b0;
}



















.pagetop {
	clear: both;
	padding: 20px 0;
	text-align: right;
}
.pagetop a {
	padding-left: 14px;
	background: url(/5img/iconArrowWhite2.gif) left center no-repeat;
}

.toCatetop {
	clear: both;
	padding:0 0 10px 0;
	text-align: right;
}

/*========================================
 +form
========================================*/
.width01 {width: 1em;}
.width02 {width: 2em;}
.width03 {width: 3em;}
.width04 {width: 4em;}
.width05 {width: 5em;}
.width06 {width: 6em;}
.width07 {width: 7em;}
.width08 {width: 8em;}
.width09 {width: 9em;}
.width10 {width: 10em;}
.width11 {width: 11em;}
.width12 {width: 12em;}
.width13 {width: 13em;}
.width14 {width: 14em;}
.width15 {width: 15em;}
.width16 {width: 16em;}
.width17 {width: 17em;}
.width18 {width: 18em;}
.width19 {width: 19em;}
.width20 {width: 20em;}
.width21 {width: 21em;}
.width22 {width: 22em;}
.width23 {width: 23em;}
.width24 {width: 24em;}
.width25 {width: 25em;}
.width26 {width: 26em;}
.width27 {width: 27em;}
.width28 {width: 28em;}
.width29 {width: 29em;}
.width30 {width: 30em;}
.width40 {width: 40em;}
.width50 {width: 50em;}

.must {
	margin-left: 6px;
	color: #f00;
}
.label { padding-right: 1em; }
.label2 { padding-left: .5em; }

.btn,
.btn span,
.btn3,
.btn3 span,
.btn-login,
.btn-login span {
	color: #fff;
	text-decoration: none;
}
.btn,
.btn3 {
	display: inline-block;
	padding: 5px 15px 5px 50px;
	background: #004ea2;
	_display: inline;
	_zoom: 1;
}
.btn-login {
	display: inline-block;
	margin: 10px 0 0 60px;
	/margin: 10px 0 0 25px;
	padding: 5px 30px;
	/padding: 5px 20px;
	background: #004ea2;
	_display: inline;
	_zoom: 1;
}
.btn span {
	padding-right: 35px;
	background: url(/5img/iconArrowWhite1.gif) right center no-repeat;
}
.btn3 {
	padding-left: 15px;
}

.btn2 a {
	display: inline-block;
	padding: 4px 8px;
	color: #fff;
	text-decoration: none;
	background: #004ea2;
	_display: inline;
	_zoom: 1;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn2 a:hover,
.btn2 a:focus,
.btn2 a:active {
	background-color: #4dcaee;
}

.btnY,
.btnY span,
.btnY2,
.btnY2 span,
.btnY3,
.btnY3 span,
.btnY4,
.btnY4 span {
	color: #fff;
	text-decoration: none;
}
.btnY {
	display: block;
	padding: 5px 15px 5px 30px;
	background: #ff6000;
}
.btnY2,
.btnY3,
.btnY4 {
	display: inline-block;
	padding: 10px 15px;
	background: #ff6000;
	_display: inline;
	_zoom: 1;
}
.btnY3 {
	padding: 5px;
}
.btnY4 {
	padding: 5px 15px 5px 40px;
}
.btnY span {
	padding-right: 15px;
	background: url(/5img/iconArrowWhite3.gif) right center no-repeat;
}
.btnY3 span {
	padding-right: 10px;
	background: url(/5img/iconArrowWhite3.gif) right center no-repeat;
}
.btnY4 span {
	padding-right: 25px;
	background: url(/5img/iconArrowWhite3.gif) right center no-repeat;
}
.btnY:hover,
.btnY:focus,
.btnY:active,
.btnY2:hover,
.btnY2:focus,
.btnY2:active,
.btnY3:hover,
.btnY3:focus,
.btnY3:active,
.btnY4:hover,
.btnY4:focus,
.btnY4:active {
	background-color: #ffae00;
}

.btnX {
	margin-top: -18px;
	text-align: right;
}
.btnX a,
.btnX span {
	text-decoration: none;
}
.btnX a {
	display: inline-block;
	padding: 5px 20px 5px 20px;
	border: 1px solid #0062b0;
	_display: inline;
	_zoom: 1;
}
.btnX span {
	padding-right: 20px;
	background: url(/5img/iconArrowBlue1.gif) right center no-repeat;
}
.btnX a:hover,
.btnX a:focus,
.btnX a:active,
.btnX a:hover span,
.btnX a:focus span,
.btnX a:active span {
	background-color: #0062b0;
	color: #fff;
}

/*========================================
 +others
========================================*/
#dospara_co_jp .dense {
	margin-bottom: 0;
	padding-top: 10px;
}

.adobe {
	padding: 10px;
	border: 2px solid #ccc;
}
.adobe .adobeIcon {
	float: left;
}
.adobe .txt {
	margin-left: 122px;
}

.visual1 {
	float: right;
	margin: 0 0 0 20px;
}
.visual2 {
	float: left;
	margin: 0 20px 0 0;
}

.iconImg { margin: 0 4px; }

.alignL { text-align: left; }
.alignC { text-align: center; }
.alignR { text-align: right; }
.floatL { float: left; }
.floatR { float: right; }
.clear { clear: both; }

.larger {
}
.larger2 { font-size: 140%; }
.smaller { font-size: 83.4%; }
.priceTxt { color: #ef1a1a; }

a:hover .rollOver,
.rollOver:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

a:hover .rollOverimg:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.colorB { color: #0062b0; }
.colorG { color: #605b5a; }
.note { color: #f00; }

.indent-1 { text-indent: -1em; }
.indent-2 { text-indent: -2em; }
.indent-3 { text-indent: -3em; }
.indent-4 { text-indent: -4em; }

.border-gray { border: 1px solid #ccc; }
.borderWeekendsaleImg { border: 1px solid #ff5555; }

.weekendSaleLimitedAmountIcon {
/*	float:left;*/
	padding: 2px;
	margin: 0;
	background: #d00;
	color: #fff;
	border: 1px solid #900;
	line-height:1.2em;
	width: 4.5em;
	_width: 5em;
	text-align: center;
}
.weekendSalePriceLarge {
	font-size: 160%;
	font-weight: 800;
	margin: 0;
	padding: 0 5px 0 5px;
	line-height: 1.5em;
	text-align: right;
/*	min-width: 4em;*/
	
/*	font-style: italic;*/
/*	text-shadow: 1px 1px 2px #600;*/
}
.weekendSalePriceLarge span {
	vertical-align: middle;
}
.gAds { margin-top: 1em; }
.gAds728 { margin-left: 38px; }
.gAds120 { margin-left: 17px; }
.gAdsFooter { margin-top: 8em; }
.gAdsFooter_la{ margin-top: 8em; margin-left:-40px;}

.p.prefix_01 {
background: -moz-linear-gradient(left, #ff0000, rgba(255,0,0,0));
background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(rgba(255,0,0,0)));
}

/*========================================
 +左メニュー絞り込み関連
========================================*/

.boxBody .btn_siboriKaijo {
	background-color:#DDD;
	padding:2px 4px;
	margin-bottom:4px;
}
.boxBody a .btn_siboriKaijo {
	color:#069;
}
.boxBody a:hover .btn_siboriKaijo {
	color:#FFF;
}
.boxBody .btn_siboriKaijo .rightX {
	color:#333;
	float:right;
}


ul#sidemenu2 .firstChild .ttl, ul#sidemenu2 .adjacentChild .ttl {
    background: none;
    border-bottom: 1px dotted #999;
}

ul#sidemenu2 .firstChild:last-child .ttl, ul#sidemenu2 .adjacentChild:last-child .ttl, .subBox .firstChild:last-child .ttl, .subBox .adjacentChild:last-child .ttl {
    background: none;
    border-bottom: none;
	padding:4px 0 0 0;
}



/*========================================
 +オンマウス解説文
========================================*/
h1.popup,
h2.popup { position: relative; }

.popupP,
.popupP2 {
	color: #605b5a;
	display: none;
	z-index: 20000;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #fff;
	border: 1px solid #cccccc;
}

.popupP2 { top: 190px; }

/*========================================
 +margin
========================================*/
.mt10{
	margin-top:10px;
}
.mb10{
	margin-bottom:10px;
}
.m10{
	margin:10px 0;
}

.mtm20{
	margin-top:-20px;
}

/*========================================
 +clearfix
========================================*/
.multiColumnRow:after,
.hrImgBox55:after,
.imgHeading3Inner:after,
.adobe:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
.multiColumnRow,
.hrImgBox55,
.imgHeading3Inner,
.adobe {
	zoom: 1;
}

/*========================================
 +detail_prime (2015.7.28added)
========================================*/

/*---- .mv ----*/
.mv {
	position: relative;
	width: 805px;
	/*height: 300px;*/
	margin-bottom: 20px;
}
.mv .prdctImg {
	text-align: center;
}
.mv .logoList {
	position: absolute;
	bottom: 0;
	left: 10px;
}

/*---- .prdctDetail ----*/
.prdctDetail {
	padding-left: 30px;
	margin-bottom: 20px;
}
.prdctDetail h3.prdctName {
	color: #0062b0;
	font-size: 280%;
	font-weight: bold;
}
.prdctDetail h3.prdctName span {
	font-size: 45%;
}
.prdctDetail #kakakucomreview_top {
	float: left;
	padding: 0;
}
.prdctDetail .star {
	font-size: 134%;
	line-height: 1.2em;
}
.prdctDetail .star img {
	margin: 0 3px 0;
	vertical-align: baseline;
}
.prdctDetail .star span {
	font-size: 140%;
	line-height: 1.2em;
	color: #FF8400;
	margin-right: 5px;
	display: inline-block;
}
.prdctDetail span.count {
	font-size: 100%;
	color: #0062b0;
	margin-right: 0;
}
.prdctDetail .tweet {
	float: right;
}
.prdctDetail .tweet li {
	float: left;
	margin-right: 8px;
}
.prdctDetail .price {
	font-size: 134%;
	line-height: 1.4em;
}
.prdctDetail .price .tax {
	font-size: 60%;
}
.prdctDetail .price .normal {
	font-size: 142%;
}
.prdctDetail .price .special {
	font-size: 160%;
}
.prdctDetail .price .red {
	color: #FF0000;
}
.prdctDetail .price .point {
	font-size: 80%;
	color: #FF8400;
}
.prdctDetail .delivery {
	font-size: 134%;
	line-height: 1.4em;
	margin-bottom: 10px;
}
.prdctDetail .delivery span {
	font-size: 125%;
	line-height: 1.4em;
	color: #008A00;
}

/*---- .prdctInfoBox ----*/
.prdctInfoBox {
	background: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 20px;
	margin-bottom: 30px;
}
.prdctInfoBox .infoBoxTtl {
	background: url(/5shopping/img/icn_product_config_ttl.png) no-repeat 0 0;
	padding-left: 24px;
	margin-bottom: 6px;
	font-size: 176%;
	line-height: 1.4em;
	color: #0061B0;
}
.prdctInfoBox ul, .prdctFeature p {
	font-size: 132%;
}
.prdctInfoBox li {
	padding-left: 10px;
}
.prdctInfoBox .nochange_cartBtn {
	text-align: center;
	margin: 30px auto;
/*	margin: 20px auto 5px;*/
}
.prdctInfoBox .nochange_cartBtn a:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}
.prdctFeature .fL {
	float: left;
	width: 55%;
}
.prdctFeature .fR {
	float: right;
	width: 44%;
}
.prdctInfoBox .featureIconList li {
	float: left;
	margin: 0 0 9px 9px;
	padding: 0;
}
.prdctInfoBox .config_changeBtn {
	text-align: center;
	margin: 20px auto 5px;
}
.prdctInfoBox .config_changeBtn a:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}
.prdctInfoBox .modelLinkBtn {
	background: url() no-repeat 0 0;
	background: #abcdef;
	width: 483px;
	height: 58px;
	margin: 20px auto 5px;
	text-align: center;
}
.prdctInfoBox .modelLinkBtn a {
	font-size: 150%;
	line-height: 58px;
	color: #FFF;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
.prdctInfoBox .modelLinkBtn a:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}

/*---- .campaignBnr ----*/
.campaignBnr .bnrList li {
	float: left;
	margin: 0 0 12px 12px;
}
.campaignBnr .bnrList li.nobnr {
	width: 322px;
	height: 30px;
	display: block;
}

/*---- .reviewArea ----*/
.reviewArea {
	background: #FFF;
    margin: 0 auto;
    width: 805px;
}
.reviewArea .totalRates {
	padding: 0 0 15px 7px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 30px;
}
.reviewArea .totalRates .satisfy {
	font-size: 152%;
	line-height: 1.2em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #CCCCCC;
}
.reviewArea .totalRates .satisfy img {
	margin: 0 3px;
	vertical-align: baseline;
}
.reviewArea .totalRates .satisfy span {
	color: #ff8400;
	display: inline-block;
	font-size: 140%;
	line-height: 1.2em;
	margin-right: 5px;
}
.reviewArea .totalRates .totalRatesDetail dl {
	float: left;
	margin-right: 12px;
	margin: 0 32px 6px 0;
	width: 38%;
}
.reviewArea .totalRates .totalRatesDetail dt {
	float: left;
	font-size: 120%;
	line-height: 1.2em;
	padding-top: 7px;
}
.reviewArea .totalRates .totalRatesDetail dd {
	float: right;
}
.reviewArea .totalRates .totalRatesDetail dd img {
	margin: 0 2px;
	vertical-align: bottom;
}
.reviewArea .totalRates .totalRatesDetail dd span {
	color: #ff8400;
	display: inline-block;
	width: 35px;
	font-size: 134%;
	line-height: 1.2em;
	font-weight: bold;
	margin-right: 5px;
}
.reviewArea .personalReview {
	/*height: 500px;
	overflow: auto;*/
	height:auto;
	overflow:visible;

}
.reviewArea .personalReview .perReviewBox {
	padding-bottom: 15px;
	border-bottom: 1px dashed #cccccc;
}
.reviewArea .personalReview .perReviewBox .perReviewCtsL {
	float: left;
	width: 250px;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox {
	border: 3px solid #DDDDDD;
	border-radius: 4px;
	margin-bottom: 6px;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail {
	font-size: 100%;
	padding: 6px 8px;
	border-bottom: 1px dotted #CCCCCC;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail.noline {
	border: 0;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail.last {
	font-size: 140%;
	font-weight: bold;
	border-bottom: 0;
	border-top: 1px solid #CCCCCC;
	background: #FFFDE4;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail.last img {
	margin-top: -4px;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail span {
	float: right;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail span.num {
	display: inline-block;
	margin-left: 4px;
}
.reviewArea .personalReview .perReviewCtsL .perRatingBox .perRatingDetail.last span.num {
	color: #FF8400;
}
.reviewArea .personalReview .perReviewCtsL .reviewName, 
.reviewArea .personalReview .perReviewCtsL .reviewDate {
	font-size: 134%;
	padding-left: 6px;
}
.reviewArea .personalReview .perReviewCtsL .reviewName {
	color: #0061B0;
}
.reviewArea .personalReview .perReviewBox .perReviewCtsR {
	float: right;
	width: 460px;
	padding: 0 20px 0 10px;
}
.reviewArea .personalReview .perReviewCtsR .perReviewCtsTxt {
	font-size: 134%;
}
.faceNameBox img {
	margin-bottom: 10px;
}
.reviewBlock {
	border-bottom: 1px solid #ccc;
    border-left: 5px solid #0072bb;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    padding-left: 10px;
}
.perReviewCtsTxt {
	padding-left: 8px;
}
.prdctInfoBox .nostock {
	border: 1px solid #AAA;
	width: 200px;
	margin: 20px auto 5px;
	padding: 12px 0;
	font-size: 120%;
	line-height: 1.4em;
	text-align: center;
}

.perReviewCtsTitle {
	border-bottom: 1px solid #ccc;
    border-left: 5px solid #0072bb;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    padding-left: 10px;
}
.perReviewCtsEvaluation{
    margin:10px 0 0 10px;
}

/*---- PC詳細2カラム化 151203 ----*/
.prdctDetail .priceBox {
    float: left;
    font-size: 120%;
    width: 370px;
}
.prdctDetail .deliveryBox {
    float: right;
    font-size: 120%;
    width: 370px;
}
.priceBox .normal_price {
	font-size: 134%;
	line-height: 1.4em;
}
.priceBox .special_price {
	font-size: 210%;
	color: #FF0000;
	font-weight: bold;
}
.priceBox span {
	display: inline-block;
}
.priceBox .tax {
	font-size: 70%;
}
.priceBox .point {
	color:#FF8400;
	font-size: 50%;
	font-weight: normal;
	margin-left: 4px;
}
/*---- PC詳細店舗在庫リンク変更 151204 ----*/
.shopZaiko {
	font-size: 100% !important;
}
/*---- kakakucom_review_top.tplスマホ用対策 160125 ----*/
.reviewNumber {
	color: #0062b0 !important;
	font-size: 100% !important;
	margin-right: 0 !important;
	line-height: 1 !important;
}

/*========================================
 中古アイコン
========================================*/

a.used {
	background:url(/5img/left/icon_used.png) no-repeat left center;
	padding:0 0 0 15px;
}

/*---- regular ----*/
.mt05 {	margin-top: 5px;}
.mt10 {	margin-top: 10px;}
.mt15 {	margin-top: 15px;}
.mt20 {	margin-top: 20px;}
.mt25 {	margin-top: 25px;}
.mt30 {	margin-top: 30px;}
.mb05 {	margin-bottom: 5px;}
.mb10 {	margin-bottom: 10px;}
.mb15 {	margin-bottom: 15px;}
.mb20 {	margin-bottom: 20px;}
.mb25 {	margin-bottom: 25px;}
.mb30 {	margin-bottom: 30px;}


/*旧プレスリリースパンくず用*/

.oldPressPankuzu {
	margin:0 auto;
	width:700px;
	padding:4px
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and (max-width:479px){

.reviewArea {
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 2% 0;
    width: 96%;
}

.prdctInfoBox .infoBoxTtl {
    background-image: none;
    color: #0061b0;
    font-size: 176%;
    line-height: 1.4em;
    margin-bottom: 6px;
    padding-left: 24px;
}

.reviewArea .totalRates, .reviewArea .perReviewCtsL, .reviewArea .perReviewCtsTxt {
    padding: 2%;
}
.reviewArea .totalRates {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}
.reviewArea .totalRates .satisfy {
    font-size: 110%;
    line-height: 1.4em;
    margin-bottom: 6px;
    width: 100%;
}
.reviewArea .totalRates .satisfy img {
    margin: 0 2px;
    vertical-align: baseline;
}
.reviewArea .totalRates .satisfy span {
    color: #ff8400;
    display: inline-block;
    font-size: 140%;
    font-weight: bold;
    line-height: 1.2em;
}

.reviewArea .personalReview .perReviewBox {
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 15px;
}

.reviewArea .personalReview {
    overflow: auto;
}
.reviewArea .personalReview .perReviewBox {
    padding-bottom: 15px;
    border-bottom: 1px dashed #cccccc;
}
.perRatingDetail:not(:last-child) {
	display: none;
}

.perReviewCtsTitle {
    border-bottom: 1px solid #ccc;
    border-left: 5px solid #0072bb;
    margin: 15px 0 5px 10px;
    padding: 2px 10px;
}
.perReviewBox .perReviewCtsTxt {
    color: #3d3d3d;
    padding: 5px 25px;
}


.reviewArea .personalReview .perReviewBox .perReviewCtsR {
    float: none;
    padding: 0 20px 0 10px;
    width: 100%;
}


.reviewArea .personalReview .perReviewBox .perReviewCtsL {
    float: none;
    width: 100%;
}


.reviewArea .totalRates .totalRatesDetail dl {
	float: left;
	margin-right: 12px;
	margin: 0 32px 6px 0;
	width: 100%;
}
.reviewArea .totalRates .totalRatesDetail dt {
	float: left;
	font-size: 120%;
	line-height: 1.2em;
	padding-top: 7px;
}
.reviewArea .totalRates .totalRatesDetail dd {
	float: right;
}
.reviewArea .totalRates .totalRatesDetail dd img {
	margin: 0 0px;
	vertical-align: bottom;
}
.reviewArea .totalRates .totalRatesDetail dd span {
	color: #333333;
	display: inline-block;
	width: 35px;
	font-size: 134%;
	line-height: 1.2em;
	font-weight:normal;
	margin-right: 5px;
}

}
