﻿@charset "UTF-8";

body {
	min-width:970px;
	overflow-x:hidden;
	overflow:hidden;
	/*background-image: url("/5img/bg_dospara22.png");*/
	/*background-position:top center;*/
	/*background-repeat:no-repeat;*/
}

.sidebannerLeft {
	position:absolute;
	/*top: 0px;
	left:-200px;*/
	top: 182px;
	left:-110px;
	/*display:none;*/
}
.sidebannerRight {
	position:absolute;
	/*top: 0px;*/
	top: 182px;
	left:990px;
	/*display:none;*/	
}


.sidebannerLeftDj {
	position:absolute;
	left:-185px;
}
.sidebannerRightDj {
	position:absolute;
	left:990px;
}

.sidebannerLeftTenpo {
	position:absolute;
	top: 182px;
	left:-185px;
}
.sidebannerRightTenpo {
	position:absolute;
	top: 182px;
	left:990px;
}
