@charset "UTF-8";

body {
	/*background: url("/5include/header/img/common/bg_daikessan2013.png") no-repeat fixed center 0;*/
}


#wrapper_top_banner {
	width: 970px;
	margin:0px auto;
	font-size:12px;
}

#wrapper_top_banner #top_leftBox {
	width:672px;
	float:left;
	margin-bottom:20px;
}

#wrapper_top_banner #top_rightBox {
	width:290px;
	/*height:900px;*/
	float:right;
}


/*上部情報*/

#top_bnrs {
    margin-left: 4px;
}

#top_bnrs li {
    float: left;
    font-size: 13px;
    margin: 10px 25px;
}
#top_bnrs li.last {
	margin-right:0;
}

#top_bnrs li .fontRed {
    color: #FF0000;
    font-weight: bold;
}

#top_bnrs li .fontBold {
    font-weight: bold;
}

/*//上部情報*/






/*トップローテ*/
#feature_top {
	width:670px;
	height: 272px;
	margin-bottom:10px;
}
#feature_top #output {
	width: 670px;
	height: 215px;
}
#feature_top #output img {
	width: 650px;
	height: 200px;
}
#feature_top #output li {
	width: 650px;
	position: absolute;
	padding:10px;
}

#feature_top #tabs {
	margin: 10px 0;
	width: auto;
	position: static;
}
#feature_top #tabs img {
	border-bottom:#FFF 4px solid;
}
#feature_top #tabs .current img {
	opacity: 0.6;
	border-bottom:#000 4px solid;
}
/*#feature_top #tabs .current {
    background: url("/5shopping/templates/top/img/feature/top_rot_cover.gif");
	background-position:0px -6px;
	opacity: 1;
}*/
#feature_top #tabs a {
	display: inline;
}
#feature_top #tabs li {
	margin-left: 11px;
	display: inline;
}
#feature_top #tabs li a span {
	width: auto;
}

/*=================================
　新生活応援セール用
=================================*/
#feature_top .taxCount {
	background: url("/5shopping/templates/top/img/feature/top_rot_l_shinseikatsuouen.jpg") no-repeat scroll 0 0;
	width: 650px;
	height: 200px;
	position: relative;
}
#feature_top .taxPosition {
	background:#FFF;
	border: 3px solid #ff8695;
	color:#666;
	font-size:16px;
	font-weight:bold;
	left: 550px;
	line-height:1.2em;
	padding:8px;
	position: absolute;
	text-decoration: none;
	top: 10px;
	box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;　/* Firefox用 */  
	-webkit-box-shadow: 1px 1px 3px #000;　/* Safari,Google Chrome用 */	
}
#feature_top .day {
	color:#F00;
	font-size:30px;
	font-weight:bold;
	text-decoration: none;
	line-height:1.2em;
}
#feature_top .fontMini {
	font-size:14px;
	color:#666;
	text-decoration: none;
}

/*=================================
　XPサポート終了用　14 4/8 更新
=================================*/
#feature_top .xp_taxCount {
	background: url("/5shopping/templates/top/img/feature/top_rot_l_xp_140410.jpg") no-repeat scroll 0 0;
	width: 650px;
	height: 200px;
	position: relative;
}

#feature_top .xp_taxPosition {
	background: none;
	/*border: 3px solid transparent;*/
    color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	height: 58px;
	left: 143px;
	line-height: 1.2em;
	padding: 10px 0 10px 15px;
	position: absolute;
	text-decoration: none;
	text-shadow:#000 3px 3px 2px;
	top: 2px;
	width: 460px;
	/*font-style: italic;*/
	text-align: left;
}
/*=================================
　XPサポート終了用　ここまで
=================================*/



/*//トップローテ*/

/*ここからトップバナー*/

.multiColumn670 .column {
    float: left;
    width: 670px;
}
.multiColumn2_2013 .column {
    float: left;
}
.multiColumn2_2013 .lastColumn {
    float: right;
}
.multiColumn3_2013 .column {
    width: 215px;
    float: left;
    margin-right: 10px;
}
.multiColumn3_2013 .lastColumn {
    width: 215px;
    float: right;
}
/*//トップバナー*/



/*ログイン*/

#top_login {
    width: 288px;
	height:180px;
	border:1px #CCC solid;
	margin-bottom:10px;
	background:#FAFAFA;
}
/*//ログイン*/



/*SNS*/
#top_sns {
    width: 288px;
	border:1px #CCC solid;
	text-align:center;
	margin-bottom:10px;
	padding:10px 0;
}

#top_sns .lBox{
	float:left;
	width:120px;
	margin-left:15px;
}

#top_sns .rMargin{
	margin-right:5px;
}


/*#top_sns_btn {
    width: 288px;
	margin-bottom:10px;
}*/
#top_sns .signal  {
    margin-top: 5px;
}
#top_sns .signal li {
    display: inline;
    margin: 0 6px 0 17px;
    width: auto;
}
#top_sns .signal li.facebook iframe {
    margin-bottom: 0px;
}



#top_blog {
    width: 288px;
/*	height:40px;*/
/*	border:1px #CCC solid;*/
	text-align:center;
	margin-bottom:5px;
}
#top_blog img {
	margin:0px 5px;
}


/*//SNS*/



/*PC 3Ranking*/
#top_pc3Rkg {
    width: 290px;
	margin-bottom:10px;
}
#top_pc3Rkg .top_pc3Rkg_box {
	margin:4px 0;
	padding-bottom:4px;
	border-bottom:#CCC 1px dashed;
}
#top_pc3Rkg .top_pc3Rkg_lastbox {
	margin:4px 0;
}
#top_pc3Rkg .top_pc3Rkg_rank {
	width:40px;
	float:left;
	text-align:center;
	padding-top:8px;
}
#top_pc3Rkg .top_pc3Rkg_pc {
	width:236px;
	background-color:#F8F8F8;
    background: -moz-linear-gradient(top, #FFF, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EFEFEF));
	float:right;
	padding:4px 4px 4px 6px;
	/*font-weight:bold;*/
	text-align:left;
}
#top_pc3Rkg .top_pc3Rkg_pc p {
	font-size:12px;
	text-align:left;
	line-height:130%;
}
#top_pc3Rkg .top_pc3Rkg_pc p.modelName {
	font-size:14px;
	font-weight:bold;
	line-height:130%;
}
#top_pc3Rkg .top_pc3Rkg_pc p.modelPrice {
	font-size:14px;
	font-weight:bold;
	color:#F00;
	line-height:130%;
}
#top_pc3Rkg .top_pc3Rkg_pc img {
	float:right;
	margin-top:4px;
}
#top_pc3Rkg .top_pc3Rkg_pc dl dt {
	font-size:14px;
	font-weight:bold;
	line-height:120%;
}
#top_pc3Rkg .top_pc3Rkg_pc dl dd {
	font-size:14px;
	font-weight:bold;
	color:#F00;
}
/*//PC 3Ranking*/




/*top_shopList*/

#top_shopList {
    width: 290px;
	color:#0062B0;
}

#top_shopList h2 a {
	color:#FFF;
	display:inline;
}




#top_shopList ul li.shopArea {
	font-size:12px;
	font-weight:bold;
}

#top_shopList .top_shopList_left{
	width:140px;
	margin-left:8px;
	float:left;
}
#top_shopList .top_shopList_right{
	width:130px;
	float:right;
}


#top_shopList ul li {
	line-height:170%;
}


#top_shopList ul li.last {
	margin-bottom:6px;
}


/*//top_shopList*/


.top_campaign {
	margin-bottom:10px;
	text-align:center;
}
.top_campaign img {
	margin-bottom:8px;
}

/*お知らせ*/

#top_info {
	width: 970px;
	margin:0px auto 20px auto;
	font-size:12px;
}

#top_info a {
	text-decoration:none;
}

#top_info a:hover {
	text-decoration:underline;
}

#top_info a span.date {
	text-decoration:none;
}

#top_info #top_leftBox {
	width:672px;
	float:left;
}

#top_info #top_rightBox {
	width:290px;
	height:800px;
	float:right;
}


/*
.multiColumn3_oshirase .column {
    width: 315px;
    float: left;
    margin-right: 12px;
}
.multiColumn3_oshirase .lastColumn {
    width: 315px;
    float: right;
    margin-right: 0px;
}
*/
.heading2_red {
    background-color: #F00;
    color: #FFFFFF;
	margin-bottom: 8px;
    padding: 5px 10px;
}

.heading2_red a {
    color: #FFFFFF;
}

.boxSpace8 {
	margin-top: 8px;
}

.multiColumn3_oshirase .columnRed {
    width: 100%;
	margin-bottom:30px;
}

.multiColumn3_oshirase .columnLeft {
    width: 475px;
    float: left;
}

.multiColumn3_oshirase .columnRight {
    width: 475px;
    float: right;
}

#top_info .multiColumn3_oshirase span.osiraseText {
	font-size:11px;
	color:#666666;
}

#top_info .multiColumnRow {
	padding:10px 0;
}


.oshiraseBox {
	height: 320px;
	overflow: auto;
}

/*//お知らせ*/





/*ランキング*/

#wrapper_top_parts {
	width: 970px;
	margin:0px auto;
	font-size:12px;
}


#top_pRkg {
}

#top_parts {
}

#top_pRkg table {
	width:970px;
	margin-bottom:20px;
}

#top_pRkg table th {
	width:180px;
	padding:15px 4px;
	background-color:#E1F1FF;
	font-weight:bold;
	text-align:left;
	border-top:1px #CCC solid;
	border-bottom:1px #CCC solid;
}
#top_pRkg table td {
	padding:5px 4px;
	vertical-align:top;
	font-size:12px;
}
#top_pRkg table td.txtC {
	text-align:center;
}
#top_pRkg table td img {
	float:left;
	margin-right:4px;
}
#top_pRkg #partsTable .partsTd img {
	float:none;
	margin-bottom:4px;
}
#top_pRkg table td dl dt {
	font-weight:bold;
}
#top_pRkg table td dl dd {
	font-weight:bold;
	color:#F00;
}
#top_pRkg table td p.modelName {
	font-weight:bold;
}
#top_pRkg table td p.modelPrice {
	font-weight:bold;
	color:#F00;
}
#top_pRkg table th.bdrRs {
	border-right:1px #CCC solid;
}
#top_pRkg table td.bdrRs {
	border-right:1px #CCC solid;
}
#top_pRkg table td.bdrTs {
	border-top:1px #CCC solid;
}
#top_pRkg table td.bdrBs {
	border-bottom:1px #CCC solid;
}
#top_pRkg table td.bdrBd {
	border-bottom:1px #CCC dashed;
}

#top_pRkg p.modelCatch {
	font-size:11px;
	clear:both;
}

#top_pRkg dd.catchText {
	font-size:11px;
	color:#605B5A;
	font-weight:normal;
}

/*//ランキング*/










/*その他*/

#top_other_frame {
	width: 970px;
	margin:0px auto;
	font-size:12px;
}

#top_other_frame .boxBody, .boxBody2, .boxBody4, .boxBody_others {
	padding:15px 8px;
	border-color:#c9e3fe;
	border-width:10px;
	border-style:solid;
	overflow:hidden;
	margin-bottom: 25px;
}

#top_other_frame .boxBody3 {
	padding:15px 8px;
	border-color:#EAEABF;
	border-width:10px;
	border-style:solid;
	overflow:hidden;
	margin-bottom: 25px;
}

#top_other_frame .boxBody5 {
	padding:15px 8px;
	border-color:#EEEEEE;
	border-width:10px;
	border-style:solid;
	overflow:hidden;
	margin-bottom: 25px;
}


#top_other_frame .boxBody6 {
	padding:15px 8px;
	margin-bottom: 40px;
}

#top_other_frame .boxBody p {
	float:left;
	padding:0 10px;
	white-space:nowrap;
}


#top_other_frame .boxBody p.lined {
	border-left:1px #999 dashed;
}

#top_other_frame .boxBody_others p {
	float:left;
	margin-left:43px;
}

#top_other_frame .boxBody2 p {
	float:left;
}

#top_other_frame .boxBody3 p {
	float:left;
	margin-left:10px;
}

#top_other_frame .boxBody4 p {
	float:left;
	margin-left:20px;
}

#top_other_frame .boxBody5 p {
	float:left;
	margin-left:25px;
}

#top_other_frame .boxBody5 p.gamingPC {
	float:left;
	margin:45px 0 0 25px;
}

#top_other_frame .boxBody5 p .rightSecond img {
	margin:6px 0;
}

#top_other_frame .boxBody6 p {
	float:left;
	margin:0 10px;
}

#top_other_frame .boxBody6 ul {
	margin:0 10px;
}

#top_other_frame .boxBody6 ul li {
	list-style:none;
	float:left;
	margin-right:10px;
}


#top_other_frame .guide_font1 {
	font-weight:bold;
	font-size:14px;
	color:#005FB0;
}

#top_other_frame .guide_font2 {
	font-weight:bold;
	font-size:14px;
}

#top_other_frame .guide_font3 {
	font-size:11px;
	vertical-align:top;
}

#top_other_frame .blogSection_new p img {
    float: left;
    margin-right:5px;
}

#top_other_frame .guideSection p img {
    margin-right: 5px;
}

#top_other_frame .guideSection2 p {
	width:300px;
}

#top_other_frame .guideSection3 p {
	width:205px;
}

#top_other_frame .guideSection3 p.twt {
	margin:10px 0 0 190px;
}

#top_other_frame .guideSection3 p.twankan {
	margin:10px 0 0 100px;
}

#top_other_frame .text {
	overflow:auto;
}

#top_other_frame .guide_box1 {
	width: 465px;
	margin-bottom: 15px;
}

#top_other_frame .img_top {
	margin-top: 5px;
}

#top_other_frame .img_align {
	margin-top: 40px;
}

#top_other_frame .img_align2 {
	margin-top: 70px;
}

#top_other_frame .img_align3 {
	vertical-align:top;
}

#top_other_frame .guide_box2 {
	width: 465px;
	margin-top: 10px;
}

#top_other_frame .img_float {
	margin-right: 5px;
	float:left;
}

#top_other_frame .img_space {
	margin-bottom: 10px;
}

#top_other_frame hr {
	margin-bottom: 10px;
}

#top_other_frame .hasen {
	border: none;
	border-top: dashed 1px #CCC;
	height:1px;
	color:#FFF;
	width:100%;
}

#top_other_frame .keisen {
	border: none;
	border-top: solid 1px #CCC;
	height:1px;
	color:#FFF;
	width:100%;
}

/*//その他*/

