
/******************
  Zoom in
******************/
@-webkit-keyframes pixZoomIn {
  0% {
    -webkit-transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes pixZoomIn {
  0% {
    -moz-transform: scale(0, 0);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
@-o-keyframes pixZoomIn {
  0% {
    -o-transform: scale(0, 0);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}
@-ms-keyframes pixZoomIn {
  0% {
    -ms-transform: scale(0, 0);
  }
  100% {
    -ms-transform: scale(1, 1);
  }
}
@keyframes pixZoomIn {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

/******************
  Zoom out
******************/
@-webkit-keyframes pixZoomOut {
  0% {
    -webkit-transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes pixZoomOut {
  0% {
    -moz-transform: scale(1.5, 1.5);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
@-o-keyframes pixZoomOut {
  0% {
    -o-transform: scale(1.5, 1.5);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}
@-ms-keyframes pixZoomOut {
  0% {
    -ms-transform: scale(1.5, 1.5);
  }
  100% {
    -ms-transform: scale(1, 1);
  }
}
@keyframes pixZoomOut {
  0% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

/******************
  Fade down
******************/
@-webkit-keyframes pixFadeDown {
  0% {
    -webkit-transform: translate(0, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes pixFadeDown {
  0% {
    -moz-transform: translate(0, -100px);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}
@-o-keyframes pixFadeDown {
  0% {
    -o-transform: translate(0, -100px);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}
@-ms-keyframes pixFadeDown {
  0% {
    -ms-transform: translate(0, -100px);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}
@keyframes pixFadeDown {
  0% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/******************
  Rotate out
******************/
@-webkit-keyframes pixRotateOut {
  0% {
    -webkit-transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes pixRotateOut {
  0% {
    -moz-transform: rotate(25deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes pixRotateOut {
  0% {
    -o-transform: rotate(25deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes pixRotateOut {
  0% {
    -ms-transform: rotate(25deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes pixRotateOut {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/******************
  Rotate in
******************/
@-webkit-keyframes pixRotateIn {
  0% {
    -webkit-transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes pixRotateIn {
  0% {
    -moz-transform: rotate(-25deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes pixRotateIn {
  0% {
    -o-transform: rotate(-25deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes pixRotateIn {
  0% {
    -ms-transform: rotate(-25deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes pixRotateIn {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/******************
  Fade up
******************/
@-webkit-keyframes pixFadeUp {
  0% {
    -webkit-transform: translate(0, 100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes pixFadeUp {
  0% {
    -moz-transform: translate(0, 100px);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}
@-o-keyframes pixFadeUp {
  0% {
    -o-transform: translate(0, 100px);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}
@-ms-keyframes pixFadeUp {
  0% {
    -ms-transform: translate(0, 100px);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}
@keyframes pixFadeUp {
  0% {
    transform: translate(0, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/******************
  Fade left
******************/
@-webkit-keyframes pixFadeLeft {
  0% {
    -webkit-transform: translate(-100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes pixFadeLeft {
  0% {
    -moz-transform: translate(-100px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}
@-o-keyframes pixFadeLeft {
  0% {
    -o-transform: translate(-100px, 0);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}
@-ms-keyframes pixFadeLeft {
  0% {
    -ms-transform: translate(-100px, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}
@keyframes pixFadeLeft {
  0% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/******************
  Fade right
******************/
@-webkit-keyframes pixFadeRight {
  0% {
    -webkit-transform: translate(100px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes pixFadeRight {
  0% {
    -moz-transform: translate(100px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}
@-o-keyframes pixFadeRight {
  0% {
    -o-transform: translate(100px, 0);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}
@-ms-keyframes pixFadeRight {
  0% {
    -ms-transform: translate(100px, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}
@keyframes pixFadeRight {
  0% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/******************
  Flip clock effect
******************/
@-webkit-keyframes pixFlipClock {
  0% {
    -webkit-transform: rotateX( 90deg );
  }
  100% {
    -webkit-transform: rotateX( 0 );
  }
}
@-moz-keyframes pixFlipClock {
  0% {
    -moz-transform: rotateX( 90deg );
  }
  100% {
    -moz-transform: rotateX( 0 );
  }
}
@-o-keyframes pixFlipClock {
  0% {
    -o-transform: rotateX( 90deg );
  }
  100% {
    -o-transform: rotateX( 0 );
  }
}
@-ms-keyframes pixFlipClock {
  0% {
    -ms-transform: rotateX( 90deg );
  }
  100% {
    -ms-transform: rotateX( 0 );
  }
}
@keyframes pixFlipClock {
  0% {
    transform: rotateX( 90deg );
  }
  100% {
    transform: rotateX( 0 );
  }
}

/******************
  Swing effect
******************/
@-webkit-keyframes pixSwing {
  0% {
    -webkit-transform: rotateX( -180deg );
    position: relative;
    z-index: -1;
  }
  100% {
    -webkit-transform: rotateX( 0 );
  }
}
@-moz-keyframes pixSwing {
  0% {
    -moz-transform: rotateX( -180deg );
  }
  100% {
    -moz-transform: rotateX( 0 );
  }
}
@-o-keyframes pixSwing {
  0% {
    -o-transform: rotateX( -180deg );
  }
  100% {
    -o-transform: rotateX( 0 );
  }
}
@-ms-keyframes pixSwing {
  0% {
    -ms-transform: rotateX( -180deg );
  }
  100% {
    -ms-transform: rotateX( 0 );
  }
}
@keyframes pixSwing {
  0% {
    transform: rotateX( -180deg );
  }
  100% {
    transform: rotateX( 0 );
  }
}

/******************
  Turn forward
******************/
@-webkit-keyframes pixTurnForward {
  0% {
    -webkit-transform: rotateY( -90deg );
  }
  100% {
    -webkit-transform: rotateY( 0 );
  }
}
@-moz-keyframes pixTurnForward {
  0% {
    -moz-transform: rotateY( -90deg );
  }
  100% {
    -moz-transform: rotateY( 0 );
  }
}
@-o-keyframes pixTurnForward {
  0% {
    -o-transform: rotateY( -90deg );
  }
  100% {
    -o-transform: rotateY( 0 );
  }
}
@-ms-keyframes pixTurnForward {
  0% {
    -ms-transform: rotateY( -90deg );
  }
  100% {
    -ms-transform: rotateY( 0 );
  }
}
@keyframes pixTurnForward {
  0% {
    transform: rotateY( -90deg );
  }
  100% {
    transform: rotateY( 0 );
  }
}

/******************
  Turn backward
******************/
@-webkit-keyframes pixTurnBackward {
  0% {
    -webkit-transform: rotateY( 90deg );
  }
  100% {
    -webkit-transform: rotateY( 0 );
  }
}
@-moz-keyframes pixTurnBackward {
  0% {
    -moz-transform: rotateY( 90deg );
  }
  100% {
    -moz-transform: rotateY( 0 );
  }
}
@-o-keyframes pixTurnBackward {
  0% {
    -o-transform: rotateY( 90deg );
  }
  100% {
    -o-transform: rotateY( 0 );
  }
}
@-ms-keyframes pixTurnBackward {
  0% {
    -ms-transform: rotateY( 90deg );
  }
  100% {
    -ms-transform: rotateY( 0 );
  }
}
@keyframes pixTurnBackward {
  0% {
    transform: rotateY( 90deg );
  }
  100% {
    transform: rotateY( 0 );
  }
}
@media only screen and (min-width: 1481px) {
  body.pix-scroll-load .row .column-animate {
    opacity: 0;
  }
  body.pix-scroll-load.available .row .column-animate {
    opacity: 1;
  }
  body.pix-scroll-load.available .row .column-animate.pix-fadeIn:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-fadeDown:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-fadeUp:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-fadeLeft:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-fadeRight:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-zoomIn:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-zoomOut:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-rotateIn:not(.pix-letmebe), 
  body.pix-scroll-load.available .row .column-animate.pix-rotateOut:not(.pix-letmebe),
  body.pix-scroll-load.available .row .column-animate.pix-flipClock:not(.pix-letmebe),
  body.pix-scroll-load.available .row .column-animate.pix-swing:not(.pix-letmebe),
  body.pix-scroll-load.available .row .column-animate.pix-turnBackward:not(.pix-letmebe),
  body.pix-scroll-load.available .row .column-animate.pix-turnForward:not(.pix-letmebe),

  body.pix-scroll-load.available .pix-fadeIn:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-fadeDown:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-fadeUp:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-fadeLeft:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-fadeRight:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-zoomIn:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-zoomOut:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-rotateIn:not(.pix-letmebe), 
  body.pix-scroll-load.available .pix-rotateOut:not(.pix-letmebe),
  body.pix-scroll-load.available .pix-flipClock:not(.pix-letmebe),
  body.pix-scroll-load.available .pix-swing:not(.pix-letmebe),
  body.pix-scroll-load.available .pix-turnBackward:not(.pix-letmebe),
  body.pix-scroll-load.available .pix-turnForward:not(.pix-letmebe) {
    opacity: 0;
  }
  body.pix-scroll-load .pix-loaded,
  body.pix-scroll-load .row .column-animate.pix-loaded {
    opacity: 1!important;
    -webkit-transition: opacity 170ms ease-in-out;
    -moz-transition: opacity 170ms ease-in-out;
    -o-transition: opacity 170ms ease-in-out;
    transition: opacity 170ms ease-in-out;
    /*-webkit-backface-visibility: hidden;*/
    /*-webkit-perspective: 1000;*/
  }
  body.pix-scroll-load .pix-transended, 
  body.pix-scroll-load .row .column-animate.pix-transended {
    opacity: 1;
    /*-webkit-transform: translateZ(0px);*/
  }
  body.pix-scroll-load .pix-loaded.pix-zoomIn,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-zoomIn {
    -webkit-animation: pixZoomIn 170ms ease-in-out;
    -moz-animation: pixZoomIn 170ms ease-in-out;
    -o-animation: pixZoomIn 170ms ease-in-out;
    -ms-animation: pixZoomIn 170ms ease-in-out;
    animation: pixZoomIn 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-zoomOut,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-zoomOut {
    -webkit-animation: pixZoomOut 170ms ease-in-out;
    -moz-animation: pixZoomOut 170ms ease-in-out;
    -o-animation: pixZoomOut 170ms ease-in-out;
    -ms-animation: pixZoomOut 170ms ease-in-out;
    animation: pixZoomOut 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-fadeDown,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-fadeDown {
    -webkit-animation: pixFadeDown 170ms ease-in-out;
    -moz-animation: pixFadeDown 170ms ease-in-out;
    -o-animation: pixFadeDown 170ms ease-in-out;
    -ms-animation: pixFadeDown 170ms ease-in-out;
    animation: pixFadeDown 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-fadeUp,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-fadeUp {
    -webkit-animation: pixFadeUp 170ms ease-in-out;
    -moz-animation: pixFadeUp 170ms ease-in-out;
    -o-animation: pixFadeUp 170ms ease-in-out;
    -ms-animation: pixFadeUp 170ms ease-in-out;
    animation: pixFadeUp 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-fadeLeft,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-fadeLeft {
    -webkit-animation: pixFadeLeft 170ms ease-in-out;
    -moz-animation: pixFadeLeft 170ms ease-in-out;
    -o-animation: pixFadeLeft 170ms ease-in-out;
    -ms-animation: pixFadeLeft 170ms ease-in-out;
    animation: pixFadeLeft 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-fadeRight,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-fadeRight {
    -webkit-animation: pixFadeRight 170ms ease-in-out;
    -moz-animation: pixFadeRight 170ms ease-in-out;
    -o-animation: pixFadeRight 170ms ease-in-out;
    -ms-animation: pixFadeRight 170ms ease-in-out;
    animation: pixFadeRight 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-rotateOut,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-rotateOut {
    position: relative;
    z-index: -1;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-animation: pixRotateOut 170ms ease-in-out;
    -moz-animation: pixRotateOut 170ms ease-in-out;
    -o-animation: pixRotateOut 170ms ease-in-out;
    -ms-animation: pixRotateOut 170ms ease-in-out;
    animation: pixRotateOut 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-rotateIn,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-rotateIn {
    position: relative;
    z-index: -1;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-animation: pixRotateIn 170ms ease-in-out;
    -moz-animation: pixRotateIn 170ms ease-in-out;
    -o-animation: pixRotateIn 170ms ease-in-out;
    -ms-animation: pixRotateIn 170ms ease-in-out;
    animation: pixRotateIn 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-flipClock,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-flipClock {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: pixFlipClock 170ms ease-in-out;
    -moz-animation: pixFlipClock 170ms ease-in-out;
    -o-animation: pixFlipClock 170ms ease-in-out;
    -ms-animation: pixFlipClock 170ms ease-in-out;
    animation: pixFlipClock 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-swing,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-swing {
    position: relative;
    z-index: -1;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: pixSwing 170ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-animation: pixSwing 170ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-animation: pixSwing 170ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-animation: pixSwing 170ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: pixSwing 170ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-turnBackward,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-turnBackward {
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: pixTurnBackward 170ms ease-in-out;
    -moz-animation: pixTurnBackward 170ms ease-in-out;
    -o-animation: pixTurnBackward 170ms ease-in-out;
    -ms-animation: pixTurnBackward 170ms ease-in-out;
    animation: pixTurnBackward 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  body.pix-scroll-load .pix-loaded.pix-turnForward,
  body.pix-scroll-load .row .column-animate.pix-loaded.pix-turnForward {
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: pixTurnForward 170ms ease-in-out;
    -moz-animation: pixTurnForward 170ms ease-in-out;
    -o-animation: pixTurnForward 170ms ease-in-out;
    -ms-animation: pixTurnForward 170ms ease-in-out;
    animation: pixTurnForward 170ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  body.pix-scroll-load .pix-loaded-inanim,
  body.pix-scroll-load .row .column-animate.pix-loaded-inanim {
    opacity: 1;
  }
}/* PixGridder custom stylesheet */