/* Shortcodelic custom stylesheet */
/*##############################
#
#	TABS and ACCORDIONS
#
##############################*/
.tabedelic .tabedelic-header {
	border-color: #eeeeee;
}
.tabedelic-headers a {
	color: #21759b;
}
.tabedelic.simple > .tabedelic-headers {
	margin-bottom: -1px;
}
.tabedelic.accordion > .tabedelic-headers {
	padding-top: 1px;
}
.tabedelic > .tabedelic-headers > .tabedelic-header {
	background: #fafafa;
	border: 1px solid #eeeeee;
}
.tabedelic.simple > .tabedelic-headers > .tabedelic-header:last-child {
	border-right-width: 1px;
}
.tabedelic.accordion {
	padding-top: 1px;
}
.tabedelic.accordion > .tabedelic-headers > .tabedelic-header {
	margin-top: -1px;
}
.tabedelic.accordion > .tabedelic-headers > .tabedelic-header:last-child {
	border-bottom-color: #eeeeee; 
}
.tabs.columned.tabedelic > .tabedelic-headers > .tabedelic-header:last-child {
	border-bottom-width: 1px; 
}
.tabedelic > .tabedelic-headers > .header-active {
	background: #ffffff;
}
.tabedelic.simple > .tabedelic-headers > .header-active:after {
	background: #ffffff;
	bottom: -1px;
	height: 1px;
}
.tabs.tabsleft > .tabedelic-headers > .header-active {
	border-bottom-width: 1px;
}
.tabs.tabsright > .tabedelic-headers > .header-active {
	border-bottom-width: 1px;
}
.tabs.tabsright > .tabedelic-headers > .tabedelic-header > .icon-tab-open {
	left: 1px;
}
.tabedelic .tabedelic-panel {
	background: #ffffff;
	border: 1px solid #eeeeee;
	color: #444444;
}
.tabedelic.accordion > .tabedelic-headers > .tabedelic-panel {
	top: -1px;
}
.tabedelic.accordion > .tabedelic-headers > .tabedelic-panel:last-child {
	border-bottom-width: 1px;
}

/*##############################
#
#	TABLES
#
##############################*/
.pix_tables div.table_column {
	padding: 0 6px;
}
.pix_tables .table_column > div .table-cell {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	color: #252525;
	margin-top: -1px
}
.pix_tables .table_column > div .table-cell.odd {
	background-color: #fafafa;
	border: px solid #dddddd;
	color: #252525;
}
.pix_tables div.table_column > div .table-cell.heading,
.pix_tables div.table_column > div .table-cell.odd.heading {
	background-color: #d94839;
	border: 1px solid #ed7c57;
	color: #ffffff;
	margin-top: -1px
}
.pix_tables div.table_column > div .table-cell.pricing,
.pix_tables div.table_column > div .table-cell.odd.pricing {
	background-color: #b32516;
	border: 1px solid #d94839;
	color: #ffffff;
	margin-top: -1px
}
.pix_tables .table_column:first-child {
	border-left-width: 1px;
}
.pix_tables td,
.pix_tables th,
.entry-content .pix_tables th,
.entry-content .pix_tables td {
	background-color: #ffffff;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	color: #252525;
}
.pix_tables.alt td,
.pix_tables.alt th,
.entry-content .pix_tables.alt th,
.entry-content .pix_tables.alt td {
	border: 1px solid #dddddd;
	border-bottom-width: 0;
}
.pix_tables.off tr:last-child td,
.pix_tables.off tr:last-child th,
.entry-content .pix_tables.off tr:last-child th,
.entry-content .pix_tables.off tr:last-child td {
	border-bottom: 1px solid #dddddd;
}
.pix_tables tr.odd th,
.pix_tables tr.odd td,
.entry-content .pix_tables tr.odd th,
.entry-content .pix_tables tr.odd td {
	background-color: #fafafa;
	border-left: 1px solid #dddddd;
	border-top: px solid #dddddd;
	color: #252525;
}
.pix_tables.alt th.odd,
.pix_tables.alt th.odd,
.entry-content .pix_tables.alt th.odd,
.entry-content .pix_tables.alt td.odd {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	color: #252525;
	border-bottom-width: 0;
}
.pix_tables.alt tr td:last-child,
.entry-content .pix_tables.alt tr td:last-child {
	border-bottom-width: 1px;
	margin-bottom: 5px;
}
.pix_tables.off tr td:last-child,
.pix_tables.off tr th:last-child,
.entry-content .pix_tables.off tr th:last-child,
.entry-content .pix_tables.off tr td:last-child {
	border-right: 1px solid #dddddd;
}
.pix_tables.minwidth-reached .table_column {
	margin-bottom: -1px;
}
/*##############################
#
#	CAROUSELS
#
##############################*/
.bx-wrapper .bx-controls-direction a {
  background: rgba(0,0,0,0.2);
  border: 3px solid #ffffff;
  color: #ffffff;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #eeeeee;
	border: 2px solid #eeeeee;
}
.bx-wrapper .bx-controls-auto .bx-start,
.bx-wrapper .bx-controls-auto .bx-stop {
	color: #eeeeee;
}
/*##############################
#
#	TOOLTIPS
#
##############################*/
.tooltipster-default {
	background: #333333;
	border-radius: 2px; 
	border: 2px solid #222222;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	color: #eeeeee;
}
.tooltipster-default a {
	color: #56d8f5;
}
/*##############################
#
#	PROGRESS BARS
#
##############################*/
.pix_progress_bar .chart-amount,
.pix_progress_bar .chart-label,
.pix_progress_pie .chart-label {
  background: #222222;
  color: #eeeeee;
}
.pix_progress_bar .chart-amount:after {
  border-top: 5px solid #222222;
}
/*##############################
#
#	BUTTONS
#
##############################*/
.buttonelic {
	background-color: #ff9541;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	color: #ffffff!important;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	overflow: hidden;
	padding: .5em 1em;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	transition: background-color 200ms ease-out, color 200ms ease-out, border-color 200ms ease-out!important;
	-webkit-transform: translateZ(0);
}
.buttonelic:hover, .buttonelic:active, .buttonelic:visited {
	background-color: #ff9541;
	color: #ffffff;
}
.buttonelic > span:first-child {
	display: inline-block;
	position: relative;
	z-index: 1;
	transition: color 200ms ease-out, transform 200ms ease-out!important;
}
.buttonelic > span:last-child {
	bottom: 0;
	display: block;
	left: 50%;
	opacity: 0;
	position: absolute;
	right: 50%;
	top: 0;
	z-index: 0;
	transition: left 200ms ease-out, opacity 200ms ease-out, right 200ms ease-out!important;
}
.buttonelic [class*="scicon-"] {
	display: inline-block;
	transition: all 200ms ease-out!important;
	vertical-align: middle;
}
.buttonelic [class*="scicon-"]:before, .buttonelic [class*="scicon-"]:after {
	line-height: inherit;
}

.buttonelic.	primary-button {
	background-color: #0073ac!important;
	border: 0px solid #0073ac!important;
	color: #fff!important;
	-moz-border-radius: 4px!important;
	border-radius: 4px!important;
}
.buttonelic.	primary-button > span:first-child {
	color: #fff!important;
}
.buttonelic.	primary-button:hover > span:first-child {
	color: #ffffff!important;
}

.buttonelic.	primary-button {
    font-weight: bold;
    padding: 0.5em 1em;
    text-transform: uppercase;
}
.buttonelic.	primary-button:hover {
	background-color: #000!important;
	border-color: #000!important;
	color: #ffffff!important;
}
/*##############################
#
#	TEXT BOXES
#
##############################*/
