/*
Theme Name: betradar
*/
@import url("css/lightbox.css");

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('css/fonts/bootstrap/glyphicons-halflings-regular.eot'),
  url('css/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('css/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('css/fonts/bootstrap/glyphicons-halflings-regular.svg') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('css/fonts/font-awesome/fontawesome-webfont.eot'),
  url('css/fonts/font-awesome/fontawesome-webfont.woff') format('woff'),
  url('css/fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'),
  url('css/fonts/font-awesome/fontawesome-webfont.svg') format('svg');
}

@font-face {
    font-family: 'BetradarThin';
    src: url('css/fonts/eurosti3-webfont.eot'),
    url('css/fonts/eurosti3-webfont.woff') format('woff'),
    url('css/fonts/eurosti3-webfont.ttf') format('truetype'),
    url('css/fonts/eurosti3-webfont.svg') format('svg');
}

body.single.single-post #content #news article .entry-content h2:first-child {
display: none;
}

.img-new-column {
  -webkit-column-break-before: always;break-before: column;
}

.menu-whole-column {
  height: 100%;
}
