//  Common Style
*{
    font-family: nafees;
    line-height: 2;
}
body{
    font-family: nafees;
   
}
h1, h2, h3, h4, h5, h6, .top-menu-nav.default ul.menu-sc-nav > li.menu-item > a, .c5-today, .c5-breaking-wrap .breaking-title, ul.newsticker li, .navigation-shortcode.sidebar.top-menu-nav ul.menu-sc-nav > li.menu-item > a, #wp-calendar, .flip-post a.title-link, h2.title.title-style-1, .footer .widget_categories ul li, .c5ab_social_counter ul li a span.count, .services_wrapper .service-item .lower_half h5, .c5ab_slider ul li .content p.title{
    font-family: nafees;
}
header.article-header h1.entry-title{
    line-height: 1.8;
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.top-menu-nav ul.menu-sc-nav > li.menu-item > a{
    font-size: 18px;
}
.top-menu-nav ul.menu-sc-nav > li.menu-item > ul.sub-menu li.menu-item > a
{
    font-size: 16px;
}
h3.title, h3.widget-title, h2.title.title-style-1{
    font-size: 18px;
}
.c5ab_posts_thumb_single h3{
    font-size: 18px;
    line-height: 1.8
}
.c5ab_posts_thumb_tall_single p.c5-excerpt{
    font-size: 18px;
    line-height: 1.8;
}
.c5ab_posts_thumb_boxes_single .box-content a, .mini.top-menu-nav ul.menu-sc-nav > li.menu-item > a{
    font-size: 16px;
    line-height: 1.8;
}
.c5ab_posts_thumb_boxes_single .box-content{
    bottom: 0px;
}
.c5ab_posts_slider ul li .content p{
    font-size: 18px;
}
#c5-floating-bar .mini.top-menu-nav ul.menu-sc-nav > li.menu-item > a, .mini.top-menu-nav ul.menu-sc-nav > li.menu-item ul.sub-menu li.menu-item > a{
    font-size: 16px;
}
#c5-floating-bar .mini.top-menu-nav ul.menu-sc-nav > li.menu-item > a{
    padding: 8px;
}
ul.c5-ss-share li a{
    margin-top: 0;
    padding: 15px;
    font-family: jameel noori nastaleeq, nafees,fontawesome;
}
#small-sidebar .flip-post a{
    font-size: 16px;
    line-height: 1.8;
}
.flip-post a{
    font-size: 16px;
    line-height: 1.8;
}
.top-menu-nav ul.menu-sc-nav > li.menu-item{
    float: right !important;
}

.c5-breaking-wrap{
    padding-left: 0px;
}
#more-news{
    font-size: 20px;
    background: #016F3A;
    color: #f6f6f6;
    padding: 4px 45.5%;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 30px;
    display: block;
}
/*Slider Height*/
.flex-viewport{
    max-height: 600px;
}
.c5ab_post_thumb.c5ab_posts_thumb_titles_single a{
    font-size: 18px;
}
.fix_height{
    height: 150px;
    overflow: hidden;
}
.regional_block_fix_height{
    height: 200px;
    overflow: hidden;
}
.c5btn.c5btn-qkkvP  .text, .c5btn.c5btn-qkkvP  .icon{
    padding: 10px 13px;
    font-size:15px;
    font-weight:300;
}
.c5btn.c5btn-qkkvP  .text, .c5btn.c5btn-qkkvP :hover .icon{
    background:#f6f6f6;
    border: 1px solid #dddddd;
    color: #1f1f1f; 
}
.c5btn.c5btn-qkkvP :hover .text, .c5btn.c5btn-qkkvP  .icon{
    background:#016F3A;
    border: 1px solid #016F3A;
    color: #f6f6f6;
} 
.flip-post-fKbTu{width:216px;height:432px;}
.flip-post-BRhrx{width:216px;height:216px;}

.top-center{
    background-position:top center !important;
    background-size:cover !important;
}
.top-center-contain{
    //background-position: top center !important;
    background-size:contain !important;
}
.c5ab_posts_thumb_tall_single h3{
    line-height: 1.8;
}
ul.c5_meta_data li{
    font-size: 16px;
}
.detal-text > p{
    font-size: 20px;
    line-height: 2;
    text-shadow: 0 0 0.1px #8f8f8f;
}
.detal-text{
    font-size: 20px;
    line-height: 2;
}
.detal-text > ul > li{
    list-style: none;
}
.btn-clr{
    background: #016F3A;
}
.c5-breaking-wrap .c5-breaking-nav .shuffle-article{
    float: left;
}
ul.custom_tabs li span{
    font-size: 16px;
    border-left: 1px solid #cacaca;
    font-weight: bold;
}
ul.custom_tabs li{
    float: right;
    text-align: center;
    border-radius: 5px;
}
.custom_tabs_wrap_out{
    background: none;
    padding: 0;
}
.c5-left .navigation-shortcode.responsive-on ul.menu-sc-nav{
    left: auto;
    right: 0 !important;
}
.navigation-shortcode.responsive-on ul.menu-sc-nav{

    text-align: right;
}
.c5ab_post_thumb.category-6 .c5_meta_data li:hover,
.c5ab_post_thumb.category-6 .c5_meta_data li a:hover,
.c5ab_post_thumb.category-6 h3 a:hover{
    text-decoration: none;
    color: #016F3A;
}
.c5ab_post_thumb.category-4 .c5_meta_data li:hover,
.c5ab_post_thumb.category-4 .c5_meta_data li a:hover,
.c5ab_post_thumb.category-4 h3 a:hover{
    text-decoration: none;
    color: #359bed;
}
.c5ab_post_thumb.category-4 .c5_meta_data li:hover,
.c5ab_post_thumb.category-4 .c5_meta_data li a:hover,
.c5ab_post_thumb.category-4 h2 a{
    text-decoration: none;
    color: #333;
}
.c5ab_post_thumb.category-4 .c5_meta_data li:hover,
.c5ab_post_thumb.category-4 .c5_meta_data li a:hover,
.c5ab_post_thumb.category-4 h2 a:hover{
    text-decoration: none;
    color: #359bed;
}

.c5ab_post_thumb.category-3 .c5_meta_data li:hover,
.c5ab_post_thumb.category-3 .c5_meta_data li a:hover,
.c5ab_post_thumb.category-3 h3 a:hover{
    text-decoration: none;
    color: #36a300;
}
.c5ab_posts_thumb_tall_single h3, .c5ab_posts_thumb_single h3{
    font-weight: bold;
}
a:hover, a:focus{
    text-decoration: none;
}
#c5-floating-bar{
    z-index: 100;
}
.sticky-menu-social{
    margin-right: 20px;
}
#c5ab_search_field{
    width: 100%;
}
.single_social_icon .dropdown-menu{
    width: 215px;
}
.c5ab_posts_thumb_boxes_single{
    margin-bottom: 10px;
}
.date-size{
    font-size: 18px;
}
.date-mrgn{
    font-size: 18px;
    margin-left: 20px;
}
.top-menu-nav ul.menu-sc-nav ul.sub-menu ul.sub-menu{
    margin-right: 200px;
    background: none repeat scroll 0 0 #57595A;
    left: -200px;
}
.light-orange{
    background: #F6921E;
}
.c5ab_social_icons a.fa:hover, .c5ab_social_icons a.fa:focus, .single_social_icon .dropdown-menu, .c5-breaking-wrap .c5-breaking-nav .shuffle-article:hover, .c5-breaking-wrap .breaking-title, .c5ab_posts_slider .flex-control-paging li a.flex-active, #wp-calendar td#today, .c5ab_posts_thumb_boxes_single:hover .box-content, .flip-post .post-data-bg, .c5-pagination ul.page-numbers li span.current, .pagination a, .commentlist .comment-reply-link, .comment-form #submit, .rating-row .progress-bar-success, .c5ab_social_counter ul li a:hover, .c5-cat-info-warp:hover .c5-cat-icon, #c5-submit-contact, .c5-sidebar-controller, .top-menu-nav ul.menu-sc-nav > li.menu-item:hover > a{
    background: #016F3A;
}
.c5-breaking-wrap .breaking-title{
    margin-left: 0px;
}
.c5-author-meta-wrap .c5-author-data{
    padding-right: 0;
}
.c5-author-meta-wrap .c5-author-img{
    left: 0;
    right: auto;
}
.c5-author-meta-wrap{
    min-height: 75px;
    margin-bottom: 0;
}
h3.widget-title:after, h3.title:after, h2.title.title-style-1:after{
    border-top: 7px solid #016F3A;
}
h3.title, h2.title.title-style-1, h3.widget-title{
    background-color: #016F3A;
}
.c5ab_posts_thumb_single.has-thumb .content {
padding-right: 110px;
}
#main-container{
    padding-top: 10px;
}
#c5-below-logo, .c5-breaking-wrap{
    margin-bottom: 5px;
}
.c5ab_posts_thumb_blog_3_single h3{
    font-size: 22px;
    font-weight: normal;
    line-height: 1.7;
}
.c5ab_posts_thumb_blog_3_single p.c5-excerpt{
    line-height: 1.7;
    font-size: 16px;
}
.c5-author-meta-wrap .c5-author-data{
    display: flex;
}
.mrgn{
    margin-top: -20px;
}
.mrgn2{
    margin-bottom: -25px;
}
/*  Commmon Style  */
.ad-link {
    display: block;
    font-size: 10px;
    font-weight: bold;
    color: #cacaca;
    text-align: center;
}
.c5-bottom-30{
    margin-bottom: 0px;
}
.ads_728x90{
    margin: 0 auto 15px;
}
.direct{
    direction: rtl;
}
.font-width{
    width: 320px;
}
.social-like{
    min-height: 1px;
    padding-right: 15px;
    position: relative;
    float: right;
    width: 100%;
    margin-top: -23px;
    -webkit-margin-before: -34px;
}
.content-margin{
    margin-right: 220px;
    margin-top: -24px;
    
}
.latest-image{
    float: right;
    width: 200px;
    height: 200px;
    border: 1px solid #f0f0f0;
}


@media screen and (max-width: 600px){
    .content-margin{
    margin-right: 0px;
    margin-top: 0px;
    float: right;
    
}
.mob-center{margin: 0 auto; float: none!important; text-align: center;}
.latest-image{
    width: 100%;
    height: 300px;
}
}
@media screen and (max-width: 768px){
    .hide{
        display: none;
    }
    .float-revert {
    float: none;
}
.mob-center{margin: 0 auto; float: none!important; text-align: center;}

#c5-below-logo > .c5-right {
   display: inline-block; float: left; width: 86%; text-align: center;
}

.full-wide{
    width: 100%;
}
.top-menu-nav ul.menu-sc-nav ul.sub-menu ul.sub-menu{
    margin-right: 0px;
}
.date-mrgn{
    margin-left: 50px;
}
.fa.c5-sidebar-controller.c5-big-controller{
    left: 0;
    right: auto;
    top: -47px;
}
#inner-header .c5-left{
	padding-bottom: 10px;
        padding-right: 20%;
}

}

@media screen and (max-width: 480px){
    .navigation-shortcode.responsive-on ul.menu-sc-nav{
    width: 250px;
}
.mrgn2{
    margin-bottom: 0px;
}
.fa-angle-left, .fa-angle-down{
    display: none;
}
.top-menu-nav ul.menu-sc-nav ul.sub-menu ul.sub-menu{
    margin-right: 0px;
}
.float-revert {
    float: none;
}
.top-menu-nav ul.menu-sc-nav > li.hide-on-mob{
    display: none;
}
.hide-me{
 //display: none;   
}
.font-width{
    width: 180px;
}
#c5-floating-bar.descended {
	display: block !important;
}
.mini.top-menu-nav ul.menu-sc-nav > li.menu-item ul.sub-menu{
    width: 200px;
}
.social-like{
    margin-top: 0;
}
#inner-header .c5-left{
	padding-bottom: 10px;
        padding-right: 5%;
}

}

@media screen and (max-width: 800px){
   .c5-left .navigation-shortcode.responsive-on ul.menu-sc-nav{
    height: 400px;
    overflow: scroll;
    direction: ltr;
} 
}

@media screen and (max-width: 1280px){
.top-menu-nav ul.menu-sc-nav ul.sub-menu ul.sub-menu{
    margin-right: -200px;
}
}
@media screen and (max-width: 1024px){
.top-menu-nav ul.menu-sc-nav ul.sub-menu ul.sub-menu{
    margin-right: 200px;
}
.c5-main-1170-S-C.change-width  {
    width: 100%;
}
.mob-center{margin: 0 auto; float: none!important; text-align: center;}
.mob-pad{padding-top: 20px;}

}

// Home Page
// Top News Block
#top-news-header{}
    #top-news-header h2{
        background-color: #016F3A !important;
    }
        #top-news-header h2.title.title-style-1:after{
            border-top: 7px solid #016F3A !important;
        }
        
.lastest_content_box {

display: inline-block;
float: right;
width: 336px;
margin-bottom: 100px;
    height: 400px;
}
.top-menu-nav ul.menu-sc-nav ul.sub-menu{
    width: 200px;
} 
.c5-left.margin{
    margin-top: 8px;
}
.mini.top-menu-nav ul.menu-sc-nav > li.menu-item > a.spaced{
    margin-right: 20px;
    
}
.c5-breaking-wrap{
    background: #2f2f2f;
}
ul.newsticker a{
    color: white;
}
ul.newsticker a:hover{
    color: #cacaca;
}
.hide-on-desktop{
    display: block;
}
.desktop-only{
    display: block;
}
@media (min-width:1024px) {
    .desktop-only {
        display:none !important;
    }
}

/*More news button for regional news*/
.c5btn.c5btn-kJSQy .text, .c5btn.c5btn-kJSQy .icon{
padding: 10px 13px;
font-size:18px;
font-weight:300;
}
.c5btn.c5btn-kJSQy .text, .c5btn.c5btn-kJSQy:hover .icon{
background:#f6f6f6;
border: 1px solid #dddddd;
color: #1f1f1f;
}
.c5btn.c5btn-kJSQy:hover .text, .c5btn.c5btn-kJSQy .icon{
background:#016f3a;
border: 1px solid #016f3a   ;
color: #f6f6f6
} 
#c5-floating-bar .c5-right, #header-top-bar .c5-right, #c5-below-logo .c5-right, .top-bar-gray{
    direction: rtl;
}
#big-sidebar.c5-show{
    right: 0;
    top: -52px;
    background: #ffffff;
    border:  2px solid #cacaca;
}
.c5ab_posts_slider.change-margn{
    margin-bottom: 10px;
}
.c5_loginform.custom-search{
    background: #f0f0f0;
    margin-bottom: 20px;
}
.search-bar{
    height: 40px;
}
.search-btn{
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 5px;
    width: 70px !important;
    padding:3px; 
    background: #016f3a; 
    color: #fff;
    line-height: 1.2;
    float: left;
}
.latest-content{
    font-size: 18px;
    color: #57595A;
}
.artical-photo{
    display: block;
}
/*font adjustment*/
.main-news{
    font-size: 20px !important; 
    line-height: 1.8 !important;
    font-weight: bold !important;
     margin-top: 0px;
}
.sub-news{
    font-size: 18px;
    line-height: 1.6 !important;
}
.news-description{
    font-size: 18px !important;
     line-height: 1.8 !important;
}
.c5ab_posts_thumb_tall_single h2 a{
    color: #333;
}
.c5ab_posts_thumb_tall_single h3, .c5ab_posts_thumb_single h3{
    font-size: 18px !important; 
    line-height: 1.8 !important;
}
.todays-title{
    font-size: 18px !important; 
    line-height: 1.8 !important;
    font-weight: normal !important;
    margin-top: 0px;
}
.adjust-main-row{
    margin-left: -15px;
    margin-right: -15px;
    -webkit-margin-start: -15px;
    -webkit-margin-collapse: -15px;
}

// Category Page news title
#main{}
#main h2.main-news-listing{
    font-size: 18px !important;
    line-height: 1.8 !important;
}
.active {
    background: #016F3A !important;
}
    .active a{
        color: #fff !important;
    }
    
    .c5-menu-post .mfp-content ul.c5-stroll li{
        font-size: 16px !important;
    }
    
    
    
    .c5-stroll ul li ul {
        display: none;
    }

    .c5-stroll ul li:hover ul {
        display: block;
    }
    /*Ramadan page css*/

    .static-ramazan-imag img{
        width: 100% !important;
    }
    .streaming-n-image{
        width: 325px;
        float: right;
    }
    @media (max-width:320px) {
        .streaming-n-image{
        width: 100%;      
    }
    }

	.entry-content.detal-text.clearfix::before, .entry-content.detal-text.clearfix::after {
		content: "";
		display: block !important;
	}
	.entry-content{
		 word-wrap: break-word;
	}
	.close_btn_css {
		cursor: pointer;
		color: white;
		border: 1px solid #AEAEAE;
		border-radius: 30px;
		background: #605F61;
		font-size: 15px;
		font-weight: bold;
		line-height: 0px;
		padding: 0px 10px;
		margin-left: 738px;
		display:none;
	}
	.close_btn_css:before{
	 content: "×";
	}
	.footer_margin_top
	{
		margin-top:250px;
	}
	/*
	css for ad now widget fonts 
	*/
	.wrapperAddBlock .containerAddBlock .itemAddBlock .itemAddBlockTable .itemAddBlockCell.itemAddTextBox span { 
		font-family: Nafees, "Jameel Noori Nastaleeq"!important; 
		font-size: 1em; 
		padding: 0px 5px; 
	}