.services_wrapper .round-green {
			  border-radius: 100%;
			  display: inline-block;
			  font-size: 25px;
			  width: 80px;
			  height: 80px;
			  line-height: 80px;
			  color: white;
			  -moz-transition: all 0.2s ease;
			  -o-transition: all 0.2s ease;
			  -webkit-transition: all 0.2s ease;
			  -ms-transition: all 0.2s ease;
			  transition: all 0.2s ease;
			}
			.services_wrapper .service-item {
			  margin-bottom: 30px;
			}
			.services_wrapper .service-item:hover .round-green {
			  -webkit-animation: c5_waves_animation 1s infinite;
			  /* Safari 4+ */
			  -moz-animation: c5_waves_animation 1s infinite;
			  /* Fx 5+ */
			  -o-animation: c5_waves_animation 1s infinite;
			  /* Opera 12+ */
			  -ms-animation: c5_waves_animation 1s infinite;
			  /* Opera 12+ */
			  animation: c5_waves_animation 1s infinite;
			}
			
			.services_wrapper .service-item .upper_half {
			  padding: 40px 40px 65px;
			  text-align: center;
			  border-radius: 2px;
			  position: relative;
			  border-bottom: none;
			}
			.services_wrapper .service-item .upper_half .service-cta {
			  left: 0px;
			  bottom: -22px;
			  text-align: Center;
			  position: absolute;
			  width: 100%;
			}
			.services_wrapper .service-item .lower_half {
			  padding: 50px;
			  background: white;
			}
			.services_wrapper .service-item .lower_half h5 {
			  text-align: center;
			  font-weight: 200;
			  font-size: 20px;
			  margin: 0px;
			  font-family: "Helvetica Neue", Helvetica;
			}
			.services_wrapper .service-item .lower_half p {
			  text-align: center;
			  margin-top: 15px;
			  font-size: 12px;
			}
			.services_wrapper .service-item .service-item-wrap{
				padding:30px;
				text-align: center;
				border-radius:2px;
				position:relative;
			}
		
		
				
			.round-green{
				background: #016f3a;
			}
			.services_wrapper {
			  color:  !important;
			}
			.services_wrapper .service-item .upper_half,
			.services_wrapper .service-item .lower_half,
			.services_wrapper .service-item .service-item-wrap {
			  border: 1px solid #e0e0e0;
			}
			.services_wrapper .service-item .upper_half {
				background: #f6f6f6;
			}
				
			@-webkit-keyframes c5_waves_animation {
		  0%   { box-shadow:0px 0px 0px 0px #016f3a;}
		  100% { box-shadow:0px 0px 0px 20px  rgba(1 , 111 , 58 , 0); }
		}
		@-moz-keyframes c5_waves_animation {
		  0%   { box-shadow:0px 0px 0px 0px #016f3a;}
		  100% { box-shadow:0px 0px 0px 20px  rgba(1 , 111 , 58 , 0);}
		}
		@-o-keyframes c5_waves_animation {
		 0%   { box-shadow:0px 0px 0px 0px #016f3a;}
		 100% { box-shadow:0px 0px 0px 20px  rgba(1 , 111 , 58 , 0);}
		}
		@-ms-keyframes c5_waves_animation {
		  0%   { box-shadow:0px 0px 0px 0px #016f3a;}
		  100% { box-shadow:0px 0px 0px 20px  rgba(1 , 111 , 58 , 0);}
		}
		@keyframes c5_waves_animation {
		  0%   { box-shadow:0px 0px 0px 0px #016f3a; }
		  100% { box-shadow:0px 0px 0px 20px  rgba(1 , 111 , 58 , 0);}
		}		
		
		
		
			a.c5btn.has_icon .text{
				border-radius:2px 0px 0px 2px;
			}
			a.c5btn.has_icon .icon{
				border-radius:0px 2px 2px 0px;
			}
			a.c5btn .text{
				border-radius: 2px;
			}
			a.c5btn .text, a.c5btn .icon{
				display: block;
				float: left;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				-webkit-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
			a.c5btn {
			  border: none;
			  cursor: pointer;
			  display: inline-block;
			  margin: 10px auto 0px;
			  position: relative;
			  border-radius: 2px;
			  text-align: center;
			  font-size: 12px;
			  line-height: 1;
			}
			.c5btn .text, .c5btn .icon{
				display: inline-block;
			}
			a.c5btn:hover {
			  color: white;
			  text-decoration: none;
			}
			.c5btn.c5btn-sTaML:hover .text, .c5btn.c5btn-sTaML .icon{ 
			background:#016F3A; 
			border: 1px solid #016F3A; 
			color: #f6f6f6
                        }
			a.c5btn.center {
			  display:table;
			}
			a.c5btn.left {
			  float: left;
			  clear:both;
			}
			
			a.c5btn.right {
			  float: right;
			  clear:both;
			}			
		
		
		
		
		
		
		.welcome_wrapper {
		  padding: 36px 0;
		}
		.welcome_wrapper h2.c5-wel-title {
		  font-size: 24px;
		  margin: 0px;
		  font-weight: 200;
		}
		.welcome_wrapper .c5-wel-para {
		  font-size: 18px;
		  font-weight: 300;
		}
		
		
		
	
	.c5ab_twitter ul {
	  margin: 0px;
	  padding: 0px;
	  list-style: none;
	}
	.c5ab_twitter ul li {
	  padding-left: 30px;
	  margin-bottom:15px;
	}
	.c5ab_twitter ul li .fa-twitter {
	margin-left: -30px;
	width: 30px;
	display: block;
	float: left;
	font-size: 18px;
	color: #36D0FC;
	}
	.c5ab_twitter ul li a.twitter_time{
		text-align: right;
		display: block;
	}
	
	
	
	.c5ab-dark-mode .c5ab_twitter_slider a,
	.c5ab-dark-mode .c5ab_twitter_slider a:hover{
		color: white;
		font-weight:400;
	} 
	.c5ab_twitter_slider{
		display: block;
		position: relative;
	}
	.c5ab_twitter_slider .flex-control-nav{
		bottom: 30px;
	}
	.c5ab_twitter_slider .flex-direction-nav{
		display: none;
	}
	.c5ab_twitter_slider ul {
	  margin: 0px;
	  padding: 0px;
	  list-style: none;
	}
	.c5ab_twitter_slider ul li p {
	  padding: 30px 30px 60px;
	  text-align: center;
	  margin: 0px;
	}
	.c5ab_twitter_slider ul li .text{
		font-size:26px;
		font-weight:100;
	}
	.c5ab_twitter_slider ul li .fa-twitter{
		font-size: 50px;
		display: block;
	}
	.c5ab_twitter_slider ul li a.twitter_time{
		display: block;
	}
	
	
		
		
		
		h2.title {
		  font-size: 16px;
		  font-weight: 600;
		  margin: 0px;
		  line-height: 1.4;
		  margin-bottom:20px;
		  font-family: "Helvetica Neue", Helvetica;
		}
		h2.title .icon{
			margin-right:15px;
		}
		h2.title.uppercase{
			text-transform:uppercase;
		}
		
		
		
		
		
		
	
	
		.c5ab_flickr{margin:-8px -8px 0}.c5ab_flickr a{display:block;float: left;
		}
		.c5ab_flickr img{display:block;margin:8px;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
		
	
	
	
	
	
		.c5ab-audio{
			width: 100%;
		}
	
	
        
            ul.custom_tabs{margin:0px;padding:0px;width:100%}
            ul.custom_tabs li{overflow:hidden;font-size:13px;font-weight:400;cursor:pointer;display:block;position:relative;float:left;
            -moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
            ul.custom_tabs li span{border-left:none;display:block;line-height:1;text-decoration:none;font-size:14px;padding:14px;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
            .custom_tabs_wrap_out p.custom_tab_title{float:left;font-size:22px;margin:0px}
            .widget-blog-wrap .custom_tabs_wrap_out{padding:0px;border:none;background:none}
            .widget-blog-wrap ul.custom_tabs li span{padding:12px;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
            .custom_tabs_wrap{clear:both;padding-top:15px}
            .custom_tabs_wrap_out{padding:20px}
            .custom_tabs2_wrap{position:relative;margin-left:250px;z-index:1;margin-bottom:25px}
            ul.custom_tabs2 li.current span,
            ul.custom_tabs2 li.current span:hover{color:#fff}
            .custom_tabs2_content{padding-left:20px}
            ul.custom_tabs2{margin:0!important;z-index:2;position:relative;padding:0px}ul.custom_tabs2 li{display:block;font-weight:normal;margin-bottom:1px;margin-left:0;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
            ul.custom_tabs2 li span{display:block;padding:11px 0px;margin-left:0;text-decoration:none;font-weight:normal;font-size:16px;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
            ul.custom_tabs2 li .side-menu-icon,ul.custom_tabs2 li .a_text{padding:12px;font-size:14px}
            .custom_tabs2_container{overflow:hidden}
            ul.custom_tabs li span.fa:before{
                margin-right:10px;
            }
            ul.custom_tabs li span.current{
            	color: white;
            }
            
            .c5ab_tabs_wrap{
            	margin-bottom: 30px;
            }
            
            .tabbed_wrapper > div{padding:0}
            .tabbed_wrapper .tab-content{
            	border:1px solid #DDDDDD;
            	border-right: 0px;
            	border-bottom: 0px;
				padding:30px;
				border-radius:4px 0 4px 4px;
			}
            
            ul.nav.nav-tabs.pos-right{display:block;border:none;margin: 0px;}ul.nav.nav-tabs.pos-right li{clear:both;display:block;width:100%}
            ul.nav.nav-tabs.pos-right li.current{box-shadow:none;margin-left:-1px;background:white;border-left:0px;}
            ul.nav.nav-tabs.pos-right li:first-child{border-radius:0px 4px 0px 0px}
            ul.nav.nav-tabs.pos-right li:last-child{border-radius:0px 0px 4px 0px}
            ul.nav.nav-tabs.pos-right li{cursor: pointer;
				border:1px solid #DDDDDD;border-left:1px solid #DDD;box-shadow:inset 0 10px 20px -10px #ddd;border-radius:0px;font-size:14px;font-weight:600;padding:16px;color:#c1c1c1;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
            ul.nav.nav-tabs.pos-right li:hover{border-left:0px;border-bottom-color:#ddd;box-shadow:none;background:white}
            ul.nav.nav-tabs.pos-right li span.fa{
                margin-right:10px;
            }
            
            
            .tabbed_wrapper.tab-left .tab-content{
            	border:1px solid #DDDDDD;
            	border-left: 0px;
            	border-bottom: 0px;
            	padding:30px;
            	border-radius:0px 4px 4px 4px;
            }
            
            ul.nav.nav-tabs.pos-left{display:block;border:none;margin: 0px;}
            ul.nav.nav-tabs.pos-left li{clear:both;display:block;width:100%}
            ul.nav.nav-tabs.pos-left li.current{box-shadow:none;margin-right:-1px;background:white;border-right:0px;}
            ul.nav.nav-tabs.pos-left li:first-child{border-radius:4px 0px 0px 0px}
            ul.nav.nav-tabs.pos-left li:last-child{border-radius:0px 0px 0px 4px}
            ul.nav.nav-tabs.pos-left li{
            	cursor: pointer;
            	border:1px solid #DDDDDD;
            	border-right:1px solid #DDD;
            	box-shadow:inset 0 10px 20px -10px #ddd;
            	border-radius:0px;
            	font-size:14px;
            	font-weight:600;
            	padding:16px;
            	color:#c1c1c1;
            	-moz-transition:all .2s ease;
            	-o-transition:all .2s ease;
            	-webkit-transition:all .2s ease;
            	-ms-transition:all .2s ease;
            	transition:all .2s ease;
            	
            }
            ul.nav.nav-tabs.pos-left li:hover{border-right:0px;border-bottom-color:#ddd;box-shadow:none;background:white}
            ul.nav.nav-tabs.pos-left li span.fa{
                margin-right:10px;
            }


            /*Accordion*/
            .accordion{margin:0 auto 30px;}.accordion h2:hover{background:#f6f6f6}
            .accordion h2.current{cursor:default}
            .accordion .pane{display:none;font-size:13px;padding:10px 30px 10px;background:#f6f6f6;border:1px solid #efefef;border-top:0}.accordion .pane h3{font-weight:normal;margin:0;font-size:16px}
            .accordion h2.first{border-top:1px solid #efefef}
            .accordion h2{margin:0;cursor:pointer;font-size:14px;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease;font-weight:normal;display:block;border:1px solid #efefef;line-height:40px;border-top:0;background:#FDFDFD}.accordion h2 span.fa{-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease;font-size:18px;height:40px;width:40px;text-align:center;float:left;display:block;margin-right:10px;background:#f2f2f2; color:#787878; line-height: 40px;}

        
                
            .custom_tabs_wrap_out{
                background: #f6f6f6;
            }
            
            ul.custom_tabs li.current span,
            ul.custom_tabs li span:hover{
                background: #d64a2b;
                color: white;
            }
            ul.custom_tabs li a{
                color: #d64a2b;
            }

        

        
	
		.c5ab_pricing_title{
			padding: 30px 15px 40px;
			color: white;
			font-size: 20px;
			font-weight: 400;
			border-radius: 2px 2px 0px 0px;
			
			
		}
		.c5ab_pricing_table:hover{
			box-shadow: inset 0px 0px 10px #ebebeb;
		}
		.c5ab_pricing_table{
			text-align:center;
			color: #bababa;
			background: white;
			border: 1px solid #ebebeb;
			border-radius: 2px;
			
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		.c5ab_pricing_element {
			padding: 15px;
			border-bottom: 1px solid #ebebeb;
		}
		.c5ab_pricing_button{
			padding: 20px 15px 25px;
		}
		.c5ab_circle{
			width: 120px;
			height: 120px;
			background: white;
			border: 1px solid #ebebeb;
			border-radius: 100%;
			margin: -20px auto 20px;
			color: #abaaaa;
		}
		
		.c5ab_circle span.price{
			
			font-size: 32px;
			margin-top: 30px;
			display: block;
			text-align: center;
			line-height: 1;
			font-weight: 600;
		}
		
	
			
		
			.c5ab_pricing_title{
				background: #016f3a;
			}
		
		
		
		
		.toggle{margin:0px 0 20px}.toggle .content{font-size:13px;padding:10px 30px 10px;background:#f6f6f6;border:1px solid #efefef;border-top:0}
		.toggle h3{margin:0;cursor:pointer;font-size:14px;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease;font-weight:normal;display:block;border:1px solid #efefef;line-height:40px;background:#fdfdfd}.toggle h3 span{-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease;margin-right:10px;float:left;padding:0px 10px;background:#f2f2f2;color:#787878;line-height: 40px;
		padding: 0px 15px;}
		
		.toggle h3 a{
			text-decoration: none;
			color: inherit;
		}
		.toggle h3 a:hover{
			color: inherit;
		}
		.toggle h3:hover{
			background: #f6f6f6;	
		}
		
		
		
		.c5ab_space{
			display: block;
			height: 30px;
			width: 100%;
		}
		
		
		
		.c5ab_divider{
			display: block;
			height: 1px;
			background: #DDDDDD;
			width: 100%;
		}
		
		
		
		.c5ab_center_everything{
			text-align: center;
		}
		
		
		
		
		
		
		
		
		
		
	
		.c5ab_slider {
			margin-bottom:60px;
			position: relative;
			display:block;
		}
		.c5ab_slider ul{
			margin: 0px 0px;
			padding: 0px;;
		}
		.c5ab_slider ul li{
			display: block;
			position: relative;
		}
		.c5ab_slider ul li .content{
			display: block;
			position: absolute;
			max-width:400px;
			width: 100%;
		
		}
		.c5ab_slider ul li .content .sub-content{
			padding: 30px;
		}
		.c5ab_slider ul li .content.top-center,
		.c5ab_slider ul li .content.bottom-center{
			display: block;
			position: absolute;
			left: 50%;
			width: 200px;
		}
		.c5ab_slider ul li .content.top-right,
		.c5ab_slider ul li .content.bottom-right{
			right: 30px;
		}
		.c5ab_slider ul li .content.top-left,
		.c5ab_slider ul li .content.bottom-left{
			left: 30px;
		}
		.c5ab_slider ul li .content.top-left,
		.c5ab_slider ul li .content.top-right,
		.c5ab_slider ul li .content.top-center{
			top: 30px;
		}
		.c5ab_slider ul li .content.bottom-left,
		.c5ab_slider ul li .content.bottom-right,
		.c5ab_slider ul li .content.bottom-center{
			bottom: 30px;
		}
		.c5ab_slider ul li .content.top-center .sub-content,
		.c5ab_slider ul li .content.bottom-center .sub-content{
			display: block;
			position: absolute;
			left: -200px;
			text-align:center;
		}
		.c5ab_slider ul li.dark{
			color: white;
		}
		.c5ab_slider ul li .content p.title{
			margin: 0px 0px 15px;
			font-weight:100;
			font-size:40px;
			line-height: 1;
		}
		.c5ab_slider ul li .content p{
			font-size:14px;
			font-weight:300;
		}
		.c5ab_slider .flex-control-nav{
			bottom: -30px;
		}
		
		
	
	
		
		
		.c5ab-image-wrap{
			margin-bottom:15px;
		}
		.c5ab_popup{
			cursor: pointer;
		}
		
		.c5ab-image-wrap.left{
			text-align:left;
		}
		.c5ab-image-wrap.center{
			text-align:center;
		}
		.c5ab-image-wrap.center img{
			display: block;
			margin: auto 10px;
		}
		.c5ab-image-wrap.right{
			text-align:right;
			direction:rtl;
		}
		.c5ab-image-wrap img{
			max-width:100%;
			height: auto;
		}
		
		
		
	
		.c5ab_team_member a{display:block;width:43px;height:43px;float:left;margin:1px;line-height:43px;text-align:center;font-size:13px;border-radius:3px;color: #fff; text-decoration: none;  background-color:#303030;-moz-transition:all .2s ease;-o-transition:all .2s ease;-webkit-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
		.c5ab_team_member a:hover{
			color: white;
		}
		.c5ab_team_member{
			text-align:center;
			background:#eee;
			padding-bottom:25px;
		}
		.c5ab_team_member h3{
			margin-bottom:0px;
		}
		.c5ab_team_member a:hover.fa-facebook{background:#4c66a4}
		.c5ab_team_member a:hover.fa-twitter{background:#5dd7fc}
		.c5ab_team_member a:hover.fa-google-plus{background:#d95232}
		.c5ab_team_member a:hover.fa-vimeo-square{background:#4bf}
		.c5ab_team_member a:hover.fa-youtube{background:#e22c28}
		.c5ab_team_member a:hover.fa-flickr{background:#ff0080}
		.c5ab_team_member a:hover.fa-dribbble{background:#e24a85}
		.c5ab_team_member a:hover.fa-linkedin{background:#0274b3}
		.c5ab_team_member a:hover.fa-tumblr{background:#35506b}
		.c5ab_team_member a:hover.fa-pinterest{background:#cb2028}
		.c5ab_team_member a:hover.fa-github{background:#3e3e3e}
		.c5ab_team_member a:hover.fa-dropbox{background:#1665a7}
		.c5ab_team_member a:hover.fa-rss{background:#ff6501}
		
		ul.team_social{
			margin: 0px;
			padding: 0px;
			list-style: none;
			text-align:center;
		}
		ul.team_social li{
			display: inline-block;
		}
	
	
	
		ul.c5ab_custom_ul{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.c5ab_custom_ul li {
			padding-left:30px;
			margin-bottom:15px;
		}
		ul.c5ab_custom_ul li .fa{
			margin-left:-30px;
			width: 30px;
			text-align: center;
		}
		
	
	
		
		
		
		
		
		
		
		
        
		#c5ab_search_field{
			width: 48%;
			padding: 10px;
			border: none;
			color: #333;
			margin-right: 4%;
			display: block;
			float: left;
		}
		
		.c5-filer-off #c5ab_search_field{
			width: 100%;
			margin-right: 0px;
		}
		
		#c5_searchform select{
			width: 48%;
			height: 36px;
			border: none;
			background: #eee;
			display: block;
			float: left;
		}
		
        
        
        
        
        	.input-wrap{
        		position: relative;
        		display: block;
        		padding-right:40px;
        		margin-bottom:10px;
        	}
        	.input-wrap input{
        		display: block;
        		width: 100%;
        		border: none;
        		padding: 12px;
        	}
        	.input-wrap .fa{
        		position: absolute;
        		right: 0px;
        		top: 0px;
        		width: 40px;
        		height: 40px;
        		line-height: 40px;
        		text-align: center;
        		background: #333;
        	}
        	.login-remember label{
        		font-weight: 100;
        		font-size:12px;
        	}
        	.login-remember input{
        		margin: 0px 5px 0px 0px;	
        	}
        	
        	.c5_loginform {
        	  padding: 15px;
        	  background: #eee;
        	}
        	.c5_loginform #c5-login-submit {
        	  background: #aaa;
        	  color: white;
        	}
        	.c5_loginform #c5-login-submit:hover {
        	  background: #333;
        	}
        	.c5_loginform .input-wrap .fa {
        	  color: white;
        	}
        	.single_social_icon .c5_loginform {
        			padding: 0px;
        			background: none;
        	}
        	
        	#c5-login-submit{
        		float: right;
        		border: none;
        		background: #eee;
        		padding: 10px 15px;
        		border-radius: 2px;
        		
        		-moz-transition:all .2s ease;
        		-o-transition:all .2s ease;
        		-webkit-transition:all .2s ease;
        		-ms-transition:all .2s ease;
        		transition:all .2s ease;
        	}
        	#c5-login-submit:hover{
        		color: #eee;
        		background: #333;
        	}
        	p.login-submit{
        		margin: 0px;
        		font-size:12px;
        	}
        	.c5_forget_password{
        		margin-right:10px;
        	}
        	.c5_register{
        		margin-left:10px;
        	}
		
        
        
		
		ul.comments_list li{
			padding-left:0px;
			padding-right:0px;
		}
		ul.comments_list li img{
			float: left;
			margin-right:15px;
			width: 50px;
			border-radius:2px;
		}
		ul.comments_list li a{
			font-size:12px;
			line-height:1.3;
		}
		
		
        
            .c5ab_social_counter ul{
                margin: 0px -2px;
                padding: 0px;
                list-style: none;
            }
            .c5ab_social_counter ul li{
                float: left;
            }
            .c5ab_social_counter ul li a{
                width: 70px;
                height: 70px;
                text-align: center;
                font-size: 20px;
                display: block;
                margin: 2px;
                padding: 15px 0px;
                border: 2px solid #333;
                color: #333;
                border-radius: 100%;

                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
            }
            .c5ab_social_counter ul li a:hover{
                color: white;
                text-decoration:none;
            }
            .c5ab_social_counter ul li a.c-facebook:hover{
                background: #3b5998;
                border-color:#3b5998;
            }
            .c5ab_social_counter ul li a.c-twitter:hover{
                background: #00aced;
                border-color:#00aced;
            }
            .c5ab_social_counter ul li a.c-google-plus:hover{
                background: #dd4b39;
                border-color:#dd4b39;
            }
            .c5ab_social_counter ul li a.c-youtube:hover{
                background: #bb0000;
                border-color:#bb0000;
            }
            .c5ab_social_counter ul li a span{
                display: block;
            }
            .c5ab_social_counter ul li a span.count{
                font-family: "Helvetica Neue", Helvetica!important;
                font-size:14px;
            }
        
        
		
		
		
		h2.featured_post {
		  font-size: 16px;
		  font-weight: 600;
		  margin: 0px;
		  line-height: 1.4;
		  margin-bottom:20px;
		  font-family: "Helvetica Neue", Helvetica;
		}
		h2.featured_post .icon{
			margin-right:15px;
		}
		h2.featured_post.uppercase{
			text-transform:uppercase;
		}
		
		
		
		
		
		
		
		ul.authors_lists_list li{
			padding-left:0px;
			padding-right:0px;
		}
		ul.authors_lists_list li img{
			float: left;
			margin-right:15px;
			width: 50px;
			border-radius:2px;
		}
		ul.authors_lists_list li a{
			font-size:12px;
			line-height:1.3;
		}
		
		
		
		.c5-user-description{
			padding: 15px;
			font-size: 13px;
			background: #eee;
			position: relative;
			display: block;
			margin-bottom:30px;
		}
		.c5-user-description:after{
			width: 0;
			height: 0;
			content: '';
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			border-top: 14px solid transparent;
			border-bottom: 14px solid #eee;
			position: absolute;
			display: block;
			top: -28px;
			left: 20px;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
		}
		.c5-author-meta-wrap {
		  position: relative;
		  min-height: 100px;
		  display: block;
		  margin-bottom: 30px;
		}
		.c5-author-meta-wrap .c5-author-img {
		  width: 100px;
		  height: 100px;
		  display: block;
		  position: absolute;
		  top: 0px;
		  left: 0px;
		}
		.c5-author-meta-wrap .list-icon {
		  width: 100px;
		  height: 100px;
		  background: #eee;
		  line-height: 100px;
		  text-align: center;
		  font-size: 40px;
		  display: block;
		  position: absolute;
		  top: 0px;
		  left: 0px;
		}
		.c5-author-meta-wrap .c5-author-data {
		  padding-left: 130px;
		  display: block;
		  position: relative;
		}
		.c5-author-meta-wrap .c5-author-data .fa {
		  margin-right: 5px;
		}
		.c5-author-meta-wrap .url.fn {
		  color: #333;
		  font-size: 16px;
		  margin-bottom: 10px;
		  font-weight: bold;
		}
		
		
		
		
		.c5-sitemap ul{
			list-style: circle;
			padding-left:20px;
		}
		
		.c5-sitemap ul a{
			color: inherit;
			font-weight:bold;
		}
		.c5-sitemap ul a:hover{
			text-decoration:none;
		}
		
		
		
		
        
        	#c5-contact-form{
        		padding: 15px 15px 0px;
        		background: #eee;	
        	}
        	.message_contact_true,.message_contact_false{
        		display: none;
        	}
        	.input-wrap {
        	position: relative;
        	display: block;
        	padding-right: 40px;
        	margin-bottom: 10px;
        	}
        	.input-wrap input {
        	display: block;
        	width: 100%;
        	border: none;
        	padding: 12px;
        	}
        	.input-wrap .fa {
        	position: absolute;
        	right: 0px;
        	top: 0px;
        	width: 40px;
        	height: 40px;
        	line-height: 40px;
        	text-align: center;
        	background: #333;
        	color: white;
        	}
        	
        	textarea.element-block{
        		width: 100%;
        		min-height: 150px;
        		padding: 15px;
        		border: none;
        		background: white;
        		margin-bottom: 30px;
        	}
        	
        	#c5-submit-contact {
        	float: right;
        	clear: both;
        	margin-bottom:15px;
        	border: 1px;
        	display: block;
        	padding: 9px 18px;
        	color: white;
        	border-radius: 2px;
        	-webkit-transition: all .2s ease;
        	-moz-transition: all .2s ease;
        	-ms-transition: all .2s ease;
        	-o-transition: all .2s ease;
        	transition: all .2s ease;
        	}
        	#c5-submit-contact:hover{
        		background: #333;
        	}
        	.contact_error{
        		background: #F7B0B0;
        	}
                
                
                .c5ab-col-base{
		display: block;
				float: right;
				
		box-sizing: border-box;
		min-height:1px;
	}
	[c5ab-animation-data]{
		opacity: 0;
		visibility: hidden;
	}
	.showme{
		opacity: 1;
		visibility: visible;
	}
	.c5ab-dark-mode {
		color: white;
	}
	.c5ab-align-center{
		text-align:center;
	}
	.c5ab-align-center iframe,
	.c5ab-align-center img,
	.c5ab-align-center .wp-video{
		margin: auto;
	}
	
	.c5ab-section-common{
		position: relative;
		display: block;
	}
	.c5ab-have-videobackground{
		overflow: hidden;
	}
	.c5ab-have-videobackground > .c5ab-row,
	.c5ab-have-videobackground > .entry-content{
		position: relative;
		z-index: 1;
	}
	.c5ab-center-content{
		display: block;
		margin: auto;
		position: relative;
	}
	img{
		max-width:100%;
		height: auto;
	}
	.c5ab-col-lg-1 { width: 8.33333333333%; }
		.c5ab-col-lg-2 { width: 16.6666666667%; }
		.c5ab-col-lg-3 { width: 25%; }
		.c5ab-col-lg-4 { width: 33.3333333333%; }
		.c5ab-col-lg-5 { width: 41.6666666667%; }
		.c5ab-col-lg-6 { width: 50%; }
		.c5ab-col-lg-7 { width: 58.3333333333%; }
		.c5ab-col-lg-8 { width: 66.6666666667%; }
		.c5ab-col-lg-9 { width: 75%; }
		.c5ab-col-lg-10 { width: 83.3333333333%; }
		.c5ab-col-lg-11 { width: 91.6666666667%; }
		.c5ab-col-lg-12 { width: 100%; }
			
		@media (max-width:1024px){
	
	.c5ab-tablet-FALSE, .c5ab-tablet-off{
		display: none !important; 	
	}
	.c5ab-col-md-1 { width: 8.33333333333%; }
		.c5ab-col-md-2 { width: 16.6666666667%; }
		.c5ab-col-md-3 { width: 25%; }
		.c5ab-col-md-4 { width: 33.3333333333%; }
		.c5ab-col-md-5 { width: 41.6666666667%; }
		.c5ab-col-md-6 { width: 50%; }
		.c5ab-col-md-7 { width: 58.3333333333%; }
		.c5ab-col-md-8 { width: 66.6666666667%; }
		.c5ab-col-md-9 { width: 75%; }
		.c5ab-col-md-10 { width: 83.3333333333%; }
		.c5ab-col-md-11 { width: 91.6666666667%; }
		.c5ab-col-md-12 { width: 100%; }
			}
		
		
	@media (max-width:480px){
	.c5ab-tablet-FALSE, .c5ab-mobile-FALSE, .c5ab-tablet-off, .c5ab-mobile-off{
		display: none !important;	
	}
	.c5ab-mobile-TRUE,  .c5ab-mobile-on{
		display: block !important;	
	}
		
		.c5ab-col-sm-1 { width: 8.33333333333%; }
			.c5ab-col-sm-2 { width: 16.6666666667%; }
			.c5ab-col-sm-3 { width: 25%; }
			.c5ab-col-sm-4 { width: 33.3333333333%; }
			.c5ab-col-sm-5 { width: 41.6666666667%; }
			.c5ab-col-sm-6 { width: 50%; }
			.c5ab-col-sm-7 { width: 58.3333333333%; }
			.c5ab-col-sm-8 { width: 66.6666666667%; }
			.c5ab-col-sm-9 { width: 75%; }
			.c5ab-col-sm-10 { width: 83.3333333333%; }
			.c5ab-col-sm-11 { width: 91.6666666667%; }
			.c5ab-col-sm-12 { width: 100%; }
				}
                                
                                
                                /** Primary Color**/

            .c5ab_social_icons a.fa:hover,
            .c5ab_social_icons a.fa:focus,
            .single_social_icon .dropdown-menu,
            .c5-breaking-wrap .c5-breaking-nav .shuffle-article:hover,
            .c5-breaking-wrap .breaking-title,
            
            .c5ab_posts_slider  .flex-control-paging li a.flex-active,
            #wp-calendar td#today,
            .c5ab_posts_thumb_boxes_single:hover .box-content,
            .flip-post .post-data-bg,
            .c5-pagination ul.page-numbers li span.current,
            .pagination a,
            .commentlist .comment-reply-link,
            .comment-form #submit,
            .rating-row .progress-bar-success,
            .c5ab_social_counter ul li a:hover,
            .c5-cat-info-warp:hover .c5-cat-icon,
            #c5-submit-contact,
            .c5-sidebar-controller,
            .top-menu-nav ul.menu-sc-nav > li.menu-item:hover > a{
                background-color: #d64a2b;
            }
            
            h3.title,
            h2.title.title-style-1,
            h3.widget-title{
            	background-color: #d64a2b;
            }
            h3.widget-title::after,
            h3.title::after,
            h2.title.title-style-1::after{
                border-top: 7px solid  #d64a2b;
            }
            
            
            
            .comment-form #submit:hover{
            	background-color: #014e29;
            }
			.c5ab_social_counter ul li a:hover{
				border-color:#016f3a;
			}
            .c5ab_post_thumb .hover,
            .c5ab_posts_thumb_boxes_single .box-content{
                background-color: #016f3a;
                background-color: rgba(1 , 111 , 58, 0.8);
            }
            
            .navigation-shortcode.sidebar.top-menu-nav ul.menu-sc-nav>li.menu-item{
            	background-color: #eee;
            }
            
           
            .post-password-form{
            	border-left: 5px solid #016f3a;
            }
            a,
            ul.newsticker a.c5-cat,
            .c5ab_posts_slider ul li .content li a:hover,
            .c5ab_posts_slider ul li .content li:hover,
            .c5ab_post_thumb .content .c5_meta_data li:hover,
            .c5ab_post_thumb .content .c5_meta_data a:hover,
            .c5ab_post_thumb .content h3 a:hover,
            .c5-rating-box .c5-rating-wrap .fa,
            .c5-sitemap ul a:hover{
                color: #016f3a;
            }
            a:hover{
                color: #014e29;
            }

            #c5-below-logo{
                border-top: 4px solid #016f3a;
            }
            #c5_bread_crumb .border{
                border-left: 4px solid #016f3a;
            }


            /** text color **/

            .top-menu-nav ul.menu-sc-nav > li.menu-item > a{
                color: #57595a;
            }

            /** font sizes ***/

            .c5-breaking-wrap .breaking-title{
                font-size:20px;
            }
            .c5-breaking-wrap ul.newsticker li{
            	font-size:15px;
            }
            
            
            .mini.top-menu-nav ul.menu-sc-nav>li.menu-item>a{
            	font-size:12px;
            }
            
            .top-menu-nav ul.menu-sc-nav>li.menu-item>a{
            	font-size:16px;
            }
            
            h3.title,
            h2.title.title-style-1,
            h3.widget-title{
            	font-size:16px;
            }
            
            
            .c5ab_posts_thumb_tall_single h3{
            	font-size:20px;
            }
            
            .c5ab_posts_slider ul li .content h3{
            	font-size:25px;
            }
            
            
            
            
            
            

            
            /** Font **/
/*            body{
				background-color:#ffffff;background-image:url('../../../images/client/bg_national.jpg');  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
                font-size: 15px;
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: 100%;
				
            }*/
			
			body{
                background-color:#ffffff;background-image:url('../../../images/client/bright_squares.png');  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
                font-size: 15px;
            }

            h1,h2,h3,h4,h5,h6,
            .top-menu-nav.default ul.menu-sc-nav > li.menu-item > a,
            .c5-today,
            .c5-breaking-wrap .breaking-title,
            ul.newsticker li,
            .navigation-shortcode.sidebar.top-menu-nav ul.menu-sc-nav > li.menu-item > a,
            #wp-calendar,
            .flip-post a.title-link,
            h2.title.title-style-1,
            .footer .widget_categories ul li,
            .c5ab_social_counter ul li a span.count,
            .services_wrapper .service-item .lower_half h5,
            .c5ab_slider ul li .content p.title {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
            }

                                        h3.title.category-7,
                            .c5ab_posts_thumb_boxes_single.category-7:hover .box-content,
                            .flip-post.category-7 .post-data-bg,
                            h2.title.title-style-1.category-7{
                                background-color: #359bed;
                            }

                            .c5ab_post_thumb.category-7 .c5_meta_data li:hover,
                            .c5ab_post_thumb.category-7 .c5_meta_data li a:hover,
                            .c5ab_post_thumb.category-7 h3 a:hover{
                                color: #359bed;
                            }
                            
                            .c5ab_post_thumb.category-7 .hover,
                            .c5ab_posts_thumb_boxes_single.category-7 .box-content{
                                background-color: #359bed;
                                background-color: rgba(53 , 155 , 237, 0.8);
                            }
                           

                            h3.widget-title.category-7::after,
                            h3.title.category-7::after,
                            h2.title.title-style-1.category-7::after {
                                border-top: 7px solid #359bed;
                            }
                                                        h3.title.category-6,
                            .c5ab_posts_thumb_boxes_single.category-6:hover .box-content,
                            .flip-post.category-6 .post-data-bg,
                            h2.title.title-style-1.category-6{
                                background-color: #36a300;
                            }

                            .c5ab_post_thumb.category-6 .c5_meta_data li:hover,
                            .c5ab_post_thumb.category-6 .c5_meta_data li a:hover,
                            .c5ab_post_thumb.category-6 h3 a:hover{
                                color: #36a300;
                            }
                            
                            .c5ab_post_thumb.category-6 .hover,
                            .c5ab_posts_thumb_boxes_single.category-6 .box-content{
                                background-color: #36a300;
                                background-color: rgba(54 , 163 , 0, 0.8);
                            }
                           

                            h3.widget-title.category-6::after,
                            h3.title.category-6::after,
                            h2.title.title-style-1.category-6::after {
                                border-top: 7px solid #36a300;
                            }
                                                        h3.title.category-8,
                            .c5ab_posts_thumb_boxes_single.category-8:hover .box-content,
                            .flip-post.category-8 .post-data-bg,
                            h2.title.title-style-1.category-8{
                                background-color: #cdc328;
                            }

                            .c5ab_post_thumb.category-8 .c5_meta_data li:hover,
                            .c5ab_post_thumb.category-8 .c5_meta_data li a:hover,
                            .c5ab_post_thumb.category-8 h3 a:hover{
                                color: #cdc328;
                            }
                            
                            .c5ab_post_thumb.category-8 .hover,
                            .c5ab_posts_thumb_boxes_single.category-8 .box-content{
                                background-color: #cdc328;
                                background-color: rgba(205 , 195 , 40, 0.8);
                            }
                           

                            h3.widget-title.category-8::after,
                            h3.title.category-8::after,
                            h2.title.title-style-1.category-8::after {
                                border-top: 7px solid #cdc328;
                            }
                                                        h3.title.category-3,
                            .c5ab_posts_thumb_boxes_single.category-3:hover .box-content,
                            .flip-post.category-3 .post-data-bg,
                            h2.title.title-style-1.category-3{
                                background-color: #545454;
                            }

                            .c5ab_post_thumb.category-3 .c5_meta_data li:hover,
                            .c5ab_post_thumb.category-3 .c5_meta_data li a:hover,
                            .c5ab_post_thumb.category-3 h3 a:hover{
                                color: #545454;
                            }
                            
                            .c5ab_post_thumb.category-3 .hover,
                            .c5ab_posts_thumb_boxes_single.category-3 .box-content{
                                background-color: #545454;
                                background-color: rgba(84 , 84 , 84, 0.8);
                            }
                           

                            h3.widget-title.category-3::after,
                            h3.title.category-3::after,
                            h2.title.title-style-1.category-3::after {
                                border-top: 7px solid #545454;
                            }
                                                        h3.title.category-4,
                            .c5ab_posts_thumb_boxes_single.category-4:hover .box-content,
                            .flip-post.category-4 .post-data-bg,
                            h2.title.title-style-1.category-4{
                                background-color: #db3030;
                            }

                            .c5ab_post_thumb.category-4 .c5_meta_data li:hover,
                            .c5ab_post_thumb.category-4 .c5_meta_data li a:hover,
                            .c5ab_post_thumb.category-4 h3 a:hover{
                                color: #db3030;
                            }
                            
                            .c5ab_post_thumb.category-4 .hover,
                            .c5ab_posts_thumb_boxes_single.category-4 .box-content{
                                background-color: #db3030;
                                background-color: rgba(219 , 48 , 48, 0.8);
                            }
                           

                            h3.widget-title.category-4::after,
                            h3.title.category-4::after,
                            h2.title.title-style-1.category-4::after {
                                border-top: 7px solid #db3030;
                            }
                            
                           
			.ads_728x90{
			display:block;
			margin:0px auto 30px;
			width:728px;
			height:90px;
			}
                        .ads_468x60{
                            display: block;
                            height: 60px;
                            margin: 0 auto 30px;
                            width: 468px;

                        }
		#c5ab-row-zgjVYV,
			#c5ab-row-zgjVYV .c5ab-row{
				margin-left:-15px;
				margin-right:-15px;
			}
			
			#c5ab-row-zgjVYV .c5ab-col-base{
				padding-left: 15px;
				padding-right: 15px;
			}
			#c5ab-section-zgjVYV{
							
				margin-top: 0px;
				margin-bottom: 0px;
				padding-top: 0px;
				padding-bottom: 0px;
			}
                        #c5ab-row-bfMHOV,
                        #c5ab-row-bfMHOV .c5ab-row, .outer-box{
                        margin-left:-15px;
                        margin-right:-15px;
                        }
                        #c5ab-row-bfMHOV .c5ab-col-base, .outer-box .c5ab-col-base{
                        padding-left: 15px;
                        padding-right: 15px;
                        }
                        #c5ab-section-bfMHOV{
                        margin-top: 0px;
                        margin-bottom: 0px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        } 
                        .c5ab_posts_blog_3_pHrUO .c5ab_post_thumb{
                            width:336px;
                        }
			