/*
Theme Name: Pure Minimal
Theme URI: http://pure-des.net/
Description: A New Minimal Wordpress Theme .
Version: 1.0
Author: Hisham Sadek
Author URI: http://pure-des.net/

*/


html {direction:ltr;}
/* Begin Typography & Colors */
.c5ab_posts_slider ul li .content h3,
.c5ab_posts_slider ul li .content p {
	 text-align: right;
	}
ul.c5_meta_data{
	direction: rtl;
}
.c5ab_posts_slider{
	direction: ltr;	
}

.c5-single-element{
	float: right;
}
.c5ab-col-base{
	float: right;
}

.top-menu-nav ul.menu-sc-nav>li.menu-item>a{
	white-space:nowrap;
}

.has-thumb .c5-thumb-hover{
	right: 0px;
	left: auto;
}

.c5ab_posts_thumb_single.has-thumb .content {
padding-left: 0px;
padding-right: 110px;
}

#c5-floating-bar .c5-left,
#header-top-bar .c5-left,
#c5-below-logo .c5-left{
	float: right;
}
#c5-floating-bar .c5-right,
#header-top-bar .c5-right,
#c5-below-logo .c5-right{
	float: left;
}
.c5-breaking-wrap .breaking-title {
float: right;
margin-right: 0px;
margin-left: 20px;
}

.c5ab_social_counter ul li{
	float: right;
}

.top-menu-nav ul.menu-sc-nav li.menu-item > a span.more {
	margin-right: 5px;
	float: left;
	margin-left: 0px;
}

.navigation-shortcode.sidebar.top-menu-nav ul.sub-menu{
	
	right: 100%;
        right: auto;
}
.top-menu-nav ul.menu-sc-nav ul.sub-menu{
	left: auto;
	right:0px;
}
.top-menu-nav ul.menu-sc-nav > li.menu-item.c5-mega-sub-menu li.menu-item.c5-mega-li-menus{
	float: right;
}

ul.comments_list li img {
float: right;
margin-right: 0px;
margin-left: 15px;
}

.c5ab_post_thumb.c5ab_posts_thumb_titles_single .fa {
margin-right: 0px;
margin-left: 5px;
}
.c5ab_flickr a,
.c5ab_posts_thumb_photo_single{
	float: right;
}

.c5ab_posts_thumb_boxes_single .box-content{
	left: auto;
	right: 0px;
}

.c5ab_twitter ul li {
padding-left: 0px;
padding-right: 30px;
}
.c5ab_twitter ul li .fa-twitter {
margin-left: 0px;
float: right;
margin-right: -30px;
}

.c5-author-meta-wrap .c5-author-img {
left: auto;
right: 0px;
}
.c5-author-meta-wrap .c5-author-data {
padding-left: 0px;
padding-right: 130px;
}
.c5-author-meta-wrap .c5-author-data .fa {
margin-right: 0px;
margin-left: 5px;
}
.tags a{
	float: right;
}

.commentlist .vcard img.avatar {
left: auto;
right: 0px;
}
.commentlist .vcard {
margin-left: 0px;
margin-right: 80px;
}

.commentlist .comment-reply-link {
	float: left;
}
.commentlist .vcard time {
	float: right;
}

.commentlist li:not(.depth-1) {
margin-left: 0px;
margin-right: 30px;
}

.comment-form #submit {
	float: left;
}
.c5-today {
margin-right: 0px;
margin-left: 10px;
}
.c5-today .fa {
margin-right: 0px;
margin-left: 10px;
}
.flex-control-nav{
	direction: rtl;
}
ul.c5-ss-share li a:before {
margin-right: 0px;
float: right;
margin-left: 10px;
}
.c5ab_social_icons .single_social_icon{
	float: right;
}

.entry-content .c5-rating-box {
float: right;
margin-right: 0px;
margin-left: 30px;
}
.c5-rating-box .c5-rating-wrap .fa {
float: left;
}

.c5-preview-wrap .fa-cog {
	left: -40px;
	right: auto;
}
.c5-preview-wrap.c5-hide.c5-show {
right: 0px;
left: auto;
}
.c5-preview-wrap.c5-hide {
right: -400px;
left: auto;
}
.c5-preview-wrap {
right: -400px;
left: auto;
}
.c5ab_posts_carousel {
	direction: ltr;
}

#c5ab_search_field {
margin-right: 0px;
float: right;
margin-left: 4%;
}
/***********/
ul.c5_meta_data li {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}
ul.c5_meta_data li .fa,
.top-menu-nav ul.menu-sc-nav li.menu-item > a .fa {
  margin-right: 0px;
  margin-left: 5px;
}
h3.title:after,
h3.widget-title:after,
h2.title.title-style-1:after {
  left: auto;
  right: 20px;
}
.top-menu-nav ul.menu-sc-nav > li.menu-item {
  float: right;
}
.top-menu-nav ul.menu-sc-nav > li.menu-item > a,
ul.newsticker li,
ul.c5_meta_data li {
  white-space: nowrap;
}
ul.newsticker li {
  float: right;
}
ul.newsticker span {
  margin: 0 0px 0 10px;
}
h3.title .fa,
h3.widget-title .fa,
h2.title.title-style-1 .fa {
  margin-right: 0px;
  margin-left: 10px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  float: right;
}
.c5-cat-info-warp .c5-cat-info {
  padding-left: 0px;
  padding-right: 130px;
}
.c5-cat-info-warp.no-icon .c5-cat-info {
  padding-right: 0px;
}
.c5-cat-info-warp .c5-cat-icon {
  left: auto;
  right: 0px;
}
a.c5btn .text,
a.c5btn .icon {
  float: right !important;
}
a.c5btn.has_icon .text {
  border-radius: 0px 2px 2px 0px !important;
}
a.c5btn.has_icon .icon {
  border-radius: 2px 0px 0px 2px !important;
}
.c5-breaking-wrap {
  padding-left: 146px;
  padding-right: 0px;
}
.c5-breaking-wrap .c5-breaking-nav {
  right: auto;
  left: 0px;
}
.single_social_icon .dropdown-menu {
  right: auto;
  left: 0px;
}
.c5-pagination ul.page-numbers li a,
.c5-pagination ul.page-numbers li span {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
#c5-floating-bar .c5-floating-logo {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
}
ul.c5-ss-share li {
  float: right;
}
