﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {font-family:"GE SS Two Medium";
            src:url("GE_SS_Two_Medium.eot?") format("eot"),url("GE_SS_Two_Medium.woff") format("woff"),url("GE_SS_Two_Medium.ttf") format("truetype"),url("GE_SS_Two_Medium.svg#GESSTwoMedium-Medium") format("svg");font-weight:normal;font-style:normal;}

@font-face {
    font-family: 'Nafees';
    src:url('nafees-nastaleeq-webfont.eot?#iefix') format('embedded-opentype'),
        url('nafees-nastaleeq-webfont.woff') format('woff'),
        url('nafees-nastaleeq-webfont.ttf') format('truetype'),
        url('nafees-nastaleeq-webfont.svg#NafeesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    line-height: 2;
}