@charset "utf-8";
/* CSS Document */
/*layout*/
.clearfix:after{content:" ";display:block;clear:both;height:0;}
.clearfix{zoom:1;display:table;}
.fl { float: left;}
.fr { float: right;}
a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a{ cursor:pointer;background-color: transparent;}
a {blr:expression(this.onFocus=this.blur());outline:none; text-decoration:none;}
area {blr:expression(this.onFocus=this.blur());outline:none;}

body{background: transparent;}

/*footer*/
#footwrap{
	font-family:Arial, Helvetica, sans-serif;
}
#footer{
    font-size: 13px;
    height: 87px;
    line-height: 16px;
    margin: 0 auto;
    width: 608px;
	padding-top:13px;
	overflow:hidden;
}
.bottext{ 
	display: inline;
    font-size: 13px;
    height: 55px;
    line-height: 20px;
	margin-top:6px;
    width:469px;
	padding-left:35px;
}
.bottext a:link,.bottext a:visited{
    font-size: 13px;}
	
.f-logo{
	text-align:center;
	margin-left: 10px;
}
.f-logo .mar-t{
	margin-top:5px;

}
