@charset "utf-8";
/* CSS Document */
/*reset*/
*{
	margin:0;
	padding:0;}
fieldset,img,input{
	border:0; 
	background:none;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
	font-style:normal;
	font-weight:normal;}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;}
input,button,textarea,select,optgroup,option{
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	*font-size:100%;}
body{line-height:1.5;}
ol,ul,li{list-style:none;}

/*layout*/
.clearfix:after{
	content:" ";
	display:block;
	clear:both;
	height:0;}
.clearfix{
	zoom:1;
	display:table;}
.fl { float: left;}
.fr { float: right;}
a:link,a:visited{
	text-decoration:none;}
a:hover{
	text-decoration:none;}
a{ 
    cursor:pointer; 
	outline:none;}
body{ 
	 font-family:"微软雅黑"; 
	 font-size:14px; 
	 color:#fff;
	 background:#060e15
	}
a {
   blr:expression(this.onFocus=this.blur());
   outline:none; 
   text-decoration:none;}
area {
   blr:expression(this.onFocus=this.blur());
   outline:none;}
   
.container{
   width:1000px;
   margin:0 auto;}   
   
/*header*/
.header{ 
   height:70px;
   background:url(../images/headerbg.png) top center no-repeat;
   min-width:1000px;}   
   
.header .oas_logo{ 
   height:70px;
   line-height:70px;
   float:left;
   }   

.header .oas_logo img{
   vertical-align:middle;
   display:block;
   width:185px;
   height:50px;
   margin:10px 4px 0 5px;}
   
.header .nav_right{ 
   float:left;
   width:795px;
   margin-left:10px;
   height:70px;
   line-height:70px;
   }   
   
.header .nav_right ul li{
   float:left; 
   width:159px;
   height:70px;
   text-align:center;
   }   
   
.header .nav_right ul li a{ 
   display:block;
   color:#fff;
   font-size:18px;}   
   
.header .nav_right ul li a:hover{ 
   background:url(../images/btn_bg.png) top left no-repeat;
  }   
   
.header .nav_right ul li a.nav1:hover{ 
   background-position:-3px 0;}   
.header .nav_right ul li a.nav2{
   width:159px;
   margin-left:1px;}   
.header .nav_right ul li a.nav2:hover{
   width:159px;
   margin-left:1px; 
   background-position:-163px 0;
   }   
.header .nav_right ul li a.nav3{
	width:159px;
   margin-left:1.5px;}   
.header .nav_right ul li a.nav3:hover{
	width:159px;
   margin-left:1.5px; 
   background-position:-322px 0;
   }
 .header .nav_right ul li a.nav4{
	width:159px;
   margin-left:2px;}   
  
.header .nav_right ul li a.nav4:hover{
	width:159px;
   margin-left:2px; 
   background-position:-482px 0;}
   
.header .nav_right ul li a.nav5:hover{ 
   background-position:-639px 0;}   
   
   
   
/*banner*/
.silde{ 
   width:100%; 
   height:630px; 
   position:relative; 
   margin:0px auto; 
   z-index:1;
   min-width:1000px;}
.show li{
	position:absolute; 
	top:0px; 
	left:0px; 
	width:100%; 
	height:630px;}
.show .curr{ 
    display:block;}
	
.list{
    position:absolute; 
	bottom:20px; 
	z-index:2;  
	z-index:1500;
	width:200px;
	left:50%;
	margin-left:-100px;}
.list li{ 
    width:45px; 
	height:13px;
	float:left; 
	margin-left:10px; 
	cursor:pointer;  
	text-indent:-9999px;
	background:url(../images/btn_bg.png) no-repeat 0 -522px;}
.list .curr{background:url(../images/btn_bg.png) no-repeat 0 -503px;}
.show li div{ 
    width:1000px; 
	margin:0px auto; 
	height:630px;  }
.show1{ 
    background:url(../images/banner1.jpg) no-repeat center top; 
	height:630px; 
	z-index:800;}
.show1 div{ 
    background:url(../images/banner1.jpg) no-repeat center top;}
.show2{ 
    background:url(../images/banner2.jpg) no-repeat center top; 
	height:630px;}
.show2 div{ 
    background:url(../images/banner2.jpg) no-repeat center top;}
.show3{ 
    background:url(../images/banner3.jpg) no-repeat center top; 
	height:630px;}
.show3 div{ 
    background:url(../images/banner3.jpg) no-repeat center top;}

.mainshow {z-index:1300}
   
/*about us*/
.oas_aboutus{ 
   width:100%;
   height:600px;
   background:url(../images/about_us.jpg) top center no-repeat;
   min-width:1000px;}  

.about_us{ 
   width:440px;
   float:right;
   margin-right:18px;}

.about_us h1{ 
   font-size:44px;
   color:#fff;
   padding-top:108px;
   font-weight: bold;}

.about_us p{ 
   font-size:16px;
   color:#fff;
   padding-top:13px;
   line-height:28px;
    height:252px;
    width:440px;
    overflow:hidden;
   }   
   
/*game*/
.oas_game{ 
   width:100%;
   height:600px;
   background:url(../images/games.jpg) top center no-repeat;
   min-width:1000px;}   
  
.in_game{ 
   width:395px;
   float:left;}
   
.in_game h1{ 
   font-weight:bold;
   font-size:44px;
   color:#fff;
   padding-top:70px;
   padding-left:20px;}

.in_game p{ 
   font-size:16px;
   color:#fff;
   padding-top:13px;
   padding-left:20px;
   line-height:28px;
   height:310px;
   overflow:hidden;
   }   

.in_game a{ 
   display:block;
   width:156px;
   height:36px;
   border:2px solid #e3e3e3;
   border-radius:5px;
   text-align:center;
   line-height:37px;
   font-size:16px;
   color:#e3e3e3;
   float:right;
   margin-top:20px;}   
     
.in_game a:hover{ 
  border:2px solid #72EEFD;
  color:#72EEFD}   
/*资讯*/
.oas_zx{
   width:100%;
   height:600px;
   background:url(../images/zixun.jpg) top center no-repeat;
   min-width:1000px;}  
   
.zx_left{ 
   width:420px;
   height:600px;
   float:left;
   margin-left:40px;}   
   
.zx_left h1{
   font-weight:bold;
   font-size:44px;
   color:#fff;
   padding-top:78px;
   padding-left:20px;
   height:80px;
   line-height:80px;
   border-bottom:1px solid #001018}   

.zx_left h1 a{ 
   float:right;
   margin-right:18px;
   display:inline-block;
   color:#e3e3e3;
}

 .zx_left h1 a:hover{ 
   color:#72EEFD} 

.zx_left ul{ 
   border-top:1px solid #363c47}

.zx_left ul li{
    padding:16px 0 0 6px;
    height:26px;
    line-height:26px;
    width:420px;
    　word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:18px;
}
   
.zx_left ul li a{
   color:#e3e3e3}   
 
.zx_left ul li a:hover{
   color:#72EEFD} 
   
.zx_left ul li a img{ 
   display:inline-block;
   margin-right:13px;
   vertical-align:middle;}   
   
.zx_left span.facebook{ 
   display:block;
   width:348px;
   height:95px;
   background:url(../images/btn_bg.png) no-repeat 0 -83px;
   margin:50px 0 0 33px;}   
   
.zx_right{ 
   width:381px;
   float:left;
   margin-left:80px;
   margin-top:160px;}   
   
.zx_right span{ 
   display:block;
   width:380px;
   height:132px;
   background:url(../images/btn_bg.png);}   
   
.zx_right span.touch_us_in{ 
   background-position:0 -346px;}   
   
.zx_right span.join_us_in{ 
   background-position:0 -193px;
   margin-top:50px;}   
/*底部*/
.footer{ 
   border-top:1px solid #3D3D3D;
   padding:0;
   position:relative;
   }      

.footer p{ 
   position:absolute;
   font-size:12px;}

.footer p a{ color:#979797}

.footer p img{ margin-left:4px;}

.footer p.guo_j_cn{ 
   top:15px;
   right:15px;}

.footer p.guo_j_en{ 
   top:35px;
   right:15px;}





   
/*新闻资讯页*/
.content{ 
   width:100%;
   background:#060e15 url(../images/content_bg.jpg) top center no-repeat;
   padding-bottom:70px;
   min-width:1000px;}

.news{ 
   width:980px;
   margin:0 auto;
   }

.news h1.tit{ 
   height:68px;
   line-height:68px;
   border-bottom:1px solid #001018;
   padding-top:20px;}

.news h1.tit span{ 
   font-size:24px;
   color:#fff;
   display:inline-block;
   border-bottom:4px solid #001018;
   padding:0 35px;
   height:64px;
   line-height:64px;}

.news .news_list{
   border-top:1px solid #363c47;
   padding-bottom:30px;} 

.news .news_list li{ 
   height:142px;
   width:950px;
   margin:0 auto;
   margin-top:30px;}

.news .news_list li dl{ 
   height:142px;
   overflow:hidden;}

.news .news_list li dl dt{ 
   float:left;
   margin-right:19px;}
.news .news_list li dl dt img{ 
   width:244px;
   height:134px;
   border:4px solid #000000}

.news .news_list li dl dd{ 
   float:left;
   width:672px;
  }

.news .news_list li a dl dd h3 b{
   line-height:40px; 
   font-size:20px;
   font-weight:normal
   }

.news .news_list li a dl dd h3 b{
   color:#5eadd5;
   display:inline-block;
   max-width:565px;
   height:40px;
   overflow:hidden;}

.news .news_list li a:hover dl dd h3 b{ 
   color:#09ccf6;
   text-decoration:underline;}

.news .news_list li a dl dd h3 span{ 
   font-size:14px;
   color:#b6b6b6;
   float:right;
   margin-right:20px;
   margin-top:13px;}

.news .news_list li a dl dd p{ 
   font-size:14px;
   height:96px;
   line-height:24px;
   overflow:hidden;
   color:#e3e3e3}


/*新闻子页*/

.news_child{ 
   width:980px;
   margin:0 auto;
   min-height:825px}

.news_child h1.tit{ 
   height:68px;
   line-height:68px;
   border-bottom:1px solid #001018;
   padding-top:20px;}

.news_child h1.tit span{ 
   font-size:24px;
   color:#fff;
   display:inline-block;
   border-bottom:4px solid #001018;
   padding:0 35px;
   height:64px;
   line-height:64px;}

.news_child_scrap{ 
   padding:28px 20px 0 20px;
   border-top:1px solid #363c47;}

.news_child_scrap h3{ 
   height:38px;
   line-height:38px;
   color:#5eadd5;
   font-size:24px;
   text-align:center;}

.news_child_scrap p.time{ 
   text-align:center;
   font-size:12px;
   color:#b6b6b6;
   height:14px;
   line-height:14px;
   padding-top:13px;}

.news_child_scrap p.s_article{ 
   line-height:24px;
   font-size:14px;
   color:#e3e3e3;
   margin-top:30px;}

.news_child_scrap p.p_img{ 
   text-align:center;
   margin-top:30px;}


.news_child form{ 
   margin-top:58px;}

.news_child table{ 
   margin:0 auto;
   border-collapse:collapse;
   border-spacing:0;
   }

.news_child table tr td{
	text-align: center;
	border: 1px solid #4a4f55;
	background:#2a2e32}

.news_child table tr th{
	border: 1px solid #4a4f55;
	text-align: center;}



/*CONTANT US*/
.content1{ 
   width:100%;
   background:#060e15 url(../images/content_bg1.jpg) top center no-repeat;
   padding-bottom:100px;}

.touch_us{ 
   width:980px;
   margin:0 auto;
   }

.touch_us h1.tit{ 
   height:68px;
   line-height:68px;
   border-bottom:1px solid #001018;
   padding-top:20px;}

.touch_us h1.tit span{ 
   font-size:24px;
   color:#fff;
   display:inline-block;
   border-bottom:4px solid #001018;
   padding:0 35px;
   height:64px;
   line-height:64px;}

.touch_us .touch_us_art{ 
   padding:28px 20px 0 20px;}

.touch_us .touch_us_art h4{ 
   color:#5EADD5;
   font-size:16px;
   height:28px;
   line-height:28px;
   margin-top:20px;
   }

.touch_us .touch_us_art p{ 
   color:#E3E3E3;
   font-size:16px;
   line-height:26px;
   margin-top:20px;}

.touch_us .touch_us_art p a{ color:#E3E3E3}

.touch_us .touch_us_art p a:hover{ color:#72EEFD}

.touch_us .map_img{ 
   margin-top:60px;
   text-align:center;}

.touch_us .touch_us_art p span{padding-left:83px;}
.touch_us .touch_us_art p span.span1{padding-left:0;}

/*JOIN US*/

.join_us{ 
   width:980px;
   margin:0 auto;
   min-height:825px}

.join_us h1.tit{ 
   height:68px;
   line-height:68px;
   border-bottom:1px solid #001018;
   padding-top:20px;}

.join_us h1.tit span{ 
   font-size:24px;
   color:#fff;
   display:inline-block;
   border-bottom:4px solid #001018;
   padding:0 35px;
   height:64px;
   line-height:64px;}

.join_us .join_us_ch{
   padding:28px 20px 0 20px;
  }

.join_us_ch .join_us_div{ 
  min-height:80px;}

.join_us_div h4{ 
   color:#5EADD5;
   height:36px;
   line-height:36px;
   font-size:18px;}

.join_us_div ul li{ 
   height:35px;
   line-height:35px;
   float:left;
   width:470px;
   font-size:14px;
   overflow:hidden;}

.join_us_div ul li a{ 
   color:#E3E3E3}

.join_us_div ul li a:hover{
   color:#09CCF6;
   text-decoration:underline}


/*JOIN US子页面*/
.join_us_child{ 
   width:980px;
   margin:0 auto;
   min-height:825px}

.join_us_child h1.tit{ 
   height:68px;
   line-height:68px;
   border-bottom:1px solid #001018;
   padding-top:20px;}

.join_us_child h1.tit span{ 
   font-size:24px;
   color:#E3E3E3;
   display:inline-block;
   border-bottom:4px solid #001018;
   padding:0 35px;
   height:64px;
   line-height:64px;}

.join_child_div{
   padding:28px 20px 0 20px;}

.join_child_div p.p1{
    line-height: 28px;
    color:#fff;}


.join_child_div h3{ 
   font-size:24px;
   height:34px;
   line-height:34px;
   color:#5eadd5;}

.join_child_div .join_div_d{ 
   height:auto !important;
   padding-bottom:20px;}

.join_child_div .join_div_d h5{ 
   font-size:16px;
   height:80px;
   line-height:80px;
   color:#5eadd5}

.join_child_div .join_div_d p{ 
   color:#E3E3E3;
   line-height:28px;
   font-size:14px;}

/*游戏列表*/

.game_list{ 
   width:980px;
   margin:0 auto;
   }

.game_list .g_list_t{
   height:56px;
   padding-top:30px;
   border-bottom:1px solid #141414; 
   }

.g_list_t .fl{ 
   height:63px;
   float:left;
   overflow:hidden;
   padding-left:13px;}

.g_list_t .fl li{ 
    width:180px;
	height:63px;
	float:left;
	cursor:pointer;
	margin-left:1px;
	text-align:center;
	line-height:56px;
	font-size:16px;
	color:#fff}

.g_list_t .fl li.tab_l{ 
    width:179px;
	height:63px;
	background: url(../images/erji_tab_l.png) no-repeat;}


.g_list_t .fl li.tab_r{ 
    width:179px;
	height:63px;
	background: url(../images/erji_tab_r.png) no-repeat;}

.g_list_t .fl li.now_a{ background-position:0 -70px;}

.g_list_t .fl li.fl_li2_on{ 
    background-position:-407px -176px;
	height:63px;}


.game_tab{ 
   margin:0 17px;
   } 

.game_tab ul li{
	min-height:183px;
	border-bottom:1px solid #2D394B;
	padding-bottom:20px; }

.game_tab ul li.last{ border-bottom:none;}

.game_tab ul li dl{ 
    min-height:160px;
	padding-top:20px}

.game_tab ul li dl dt{ 
    width:260px;
	height:160px;
	padding:3px 3px;
	background:url(../images/btn_bg.png) no-repeat -406px -264px;
	float:left;
	margin-right:20px;}

.game_tab ul li dl dt img{
	width:254px;
	height:154px;
	}

.game_tab ul li dl dd{ 
    float:left;
	width:626px;}

.game_tab ul li dl dd h6{ 
    height:26px;
	line-height:26px;
	color:#5eadd5;
	font-size:16px;}
.game_tab ul li dl dd p{ 
    font-size:14px;
	color:#e3e3e3;
	line-height:20px;}


.game_tab ul li dl dd p.j_jie{
	line-height:20px; 
    height:80px;
	overflow:hidden;
	}

.game_tab ul li dl dd p.cont_h b{ 
   display:block;
   height:20px;
   line-height:20px;
   overflow:hidden;
   font-weight:normal;
   margin:3px 0;}

.game_tab ul li dl dd p.cont_h span{ 
   display:block;
   width:42px;
   height:26px;
   float:left;
   margin-right:6px;
   margin-top:3px;}

.game_tab ul li dl dd p.cont_h span a img{ 
   width:40px;
   height:24px;
   border:1px solid #192433}

.game_tab ul li dl dd p.cont_h span a:hover img{
	border:1px solid #F4BB10
	}
.zx_left h1{*+position:relative;}
.zx_left h1 a{*+position:absolute;*+right:18px;*+bottom:3px;*+margin-right:0;}
.news .news_list{*+margin-top:30px;}




   