@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'Iranian Sans';
    src:url('/application/themes/maleki/css/facss/fontsdir/SamanBank-Regular.woff') format('woff'); 
    font-weight:normal;
    font-style:normal;
}
