@charset "utf-8";
/* CSS Document */
body{
  background:url(../img/page-bg.jpg) top right no-repeat;
  line-height:30px;
  }
a{
  color:#03aae8;}
.backbg {
  background:#CCCCCC  }
span#spacer{
  padding:0px 10px;}
.span4.topnav{
  float:left;
  top:0;
}
.span4.topnav ul li{
  font-size:18px;
  float:left;
  list-style:none;
  /*padding:0 10px;
  min-width: 128px;*/
}
.span4.topnav ul li a{
    color:#777;
    text-decoration:none;
    padding-top:10px;
    line-height:35px;
    height:35px;

}
.span4.topnav ul li#business a.active{
  background:url(../img/hpb.jpg) top no-repeat;
  color:#002c76;
}
.span4.topnav ul li#personal a.active{
  background:url(../img/hp.jpg) top no-repeat;
  color:#19aae4;
}
.hpline
{
  background:#19aae4;
  height:3px;
  width:100%;}
.hpbline{
  background:#002c76;
  height:3px;
  width:100%;}
.span2.msmsearch{
  margin-top:5px;
  float:left}
.span2.msmsearch input{
  height:14px;
  line-height:14px;}
.span7.search{
  line-height:280px;}
input.span7 , button#shoab{
  vertical-align:middle;
  font-size:18px;
  }
.span10 .navbar-inner{
  margin-top:13px;}

 .span12.slides{
   text-align:center;
   margin-left:auto;
   margin-right:auto;}
div.nav-collapse{
  background-color:#006;
  z-index:1040;}
div.navbar-inverse{
  z-index:99999;
  }
.span12 ul{
     margin-left:auto;
   margin-right:auto;}
.span12.highlighter{
  height:40px;
  line-height:40px;
/*  background:url(../images/newsarrow.png) right no-repeat; */
padding-right:0px;
  font-size:18px;}
.row.msmline{
    border-bottom:1px #CCCCCC dotted ;
    border-top:1px #CCCCCC dotted ;}
.row.msmbotline{
    border-bottom:1px #CCCCCC dotted ;}
.row.msmtopline{
    border-top:1px #CCCCCC dotted ;}
ul.msminfo { list-style: none;
margin-top:50px;
text-align:justify }

ul.msminfo li:before { content:"\2022 \00A0"; color: #00aff9; font-size:20px }

ul.msminfo2 { list-style: none;
text-align:justify }

ul.msminfo2 li:before { content:"\2022 \00A0"; color: #00aff9; font-size:20px }
.span4.msmblock{

  text-align:justify;
  direction:rtl;
  padding-bottom:5px;  }
.span4.msmblock p{
  margin:0 35px;
  line-height:150%;
  }
#msmright{
  float:right;
}
#msmleft{
  float:left}
.msmright{
  float:right;
}
.msmleft{
  float:left}
#msmleft.info{
  font-family: B Mitra,'B Mitra',tahoma;
  font-size:18px;
  font-weight:bold;}
#msmleft.info span#colortext{
  color:#da2128;
  padding-right:20px;
  margin-left:20px;}
#botmenu{
  float:right;
  margin:10px 0;
  width:100%;
}
#botmenu ul{
  list-style:none;
  }
#botmenu ul > li{
  float:right;
  padding:0 0 0 20px;
  color:#939598;
/*  border-left:1px dotted #03aae8; */
  line-height:20px;
  height:20px;
  font-size:15px;
  white-space: nowrap;
  }
#msmleft img{
margin-top:5px;
float:left;}
#msmright .footer{
  margin-bottom:20px;
  direction:rtl;
  font-family: Iranian Sans,'Iranian Sans',tahoma;
  font-size:18px;
  line-height:15px;
  height:15px;}

.span12.footer img{
  padding:0 4px}
#msmright .footer a{
  padding:0 10px;
  line-height:15px;
  height:15px;}
-------- Menu style ------------
div#menu {
  width: 100%;
  height: 37px;

}
div#menu ul#nav li div#menu {
  width: 100%;
  position:absolute;
  right:0;
  margin-top: -1px;}
ul#nav {
   /*   background-image:url(../img/menu-bg.jpg) ; */
  background : #28b6ea;
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
      
  *zoom: 1;
/*  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
*/
  
}
ul#nav li {
  display: inline;
  float:right

}

ul#nav li a {
  float: right;
font-family: Iranian Sans,'Iranian Sans',tahoma;
font-size:18px;
  line-height: 37px;
  color: #fff;
  text-decoration: none;
/*  text-shadow: 1px 1px 1px #880000;*/
  margin: 0;
  padding: 0 14px;  
  white-space: nowrap;

}

div#menu ul#nav li div#menu ul#nav{  
  display: none;
  
}
div#menu ul#nav li div#menu ul#nav div#menu ul#nav{  
  display: none;
  
}

div#menu ul#nav li:hover {
  color: #7fcfef;
  text-decoration: none;
  background: #0271bd;
  padding-top:1px;

          border-top-right-radius:4px;
      border-top-left-radius:0px;   }
  
div#menu ul#nav li:hover > div#menu ul#nav{  
  position: absolute;
  display: block;
  height: 37px;
  position: absolute;
  margin: 38px 0 0 0;
  background: #0271bd;
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
          border-radius: 4px;
      border-top-right-radius:0px;
      border-top-left-radius:0px;
      padding-top:-2px;
}
div#menu ul#nav li:hover >div#menu ul#nav li a{  
  float: right;
font-family: Iranian Sans,'Iranian Sans',tahoma;
font-size:18px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
/*  text-shadow: 1px 1px 1px #880000;*/
  margin:7px 0 0 0;
  padding: 0 14px;  
  white-space: nowrap;

}
ul#nav li:hover > ul {
  position: absolute;
  display: block;
  height: 37px;
  position: absolute;
  margin: 38px 0 0 0;
  background: #0271bd;

    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
      border-top-right-radius:0px;
      border-top-left-radius:0px;
}

/*--------------Samanian Menu---------------------*/
ul#nav li#Samanian{background-image:url(../images/samanian-bg.png) ;}
ul#nav li#Samanian a {
  float: right;
font-family: Iranian Sans,'Iranian Sans',tahoma;
font-size:18px;
  line-height: 37px;
  color: #fff;
  text-decoration: none;
/*  text-shadow: 1px 1px 1px #880000;*/
  margin: 0;
  padding: 0 14px;  
 
}    
div#menu ul#nav li#Samanian:hover {
  color: #7fcfef;
  text-decoration: none;
  background: #d7b46a;
  padding-top:1px;

          border-top-right-radius:4px;
      border-top-left-radius:0px;   }  
div#menu ul#nav li#Samanian:hover > div#menu ul#nav{  
  position: absolute;
  display: block;
  height: 37px;
  position: absolute;
  margin: 38px 0 0 0;
  background: #d7b46a;
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
          border-radius: 4px;
      border-top-right-radius:0px;
      border-top-left-radius:0px;
      padding-top:-2px;
}
div#menu ul#nav li#Samanian:hover > div#menu ul#nav li:hover{  
  background: #d7b46a;
}
/*--------------------Parivate Baning Menu ---------------------------*/

ul#nav li#private-banking{background-image:url(../images/private-bg.png) ;}
ul#nav li#private-banking a {
  float: right;
font-family: Iranian Sans,'Iranian Sans',tahoma;
font-size:18px;
  line-height: 37px;
  color: #fff;
  text-decoration: none;
/*  text-shadow: 1px 1px 1px #880000;*/
  margin: 0;
  padding: 0 14px;  

}  
div#menu ul#nav li#private-banking:hover {
  color: #7fcfef;
  text-decoration: none;
  background: #000000;
  padding-top:1px;

          border-top-right-radius:4px;
      border-top-left-radius:0px;   }  
div#menu ul#nav li#private-banking:hover > div#menu ul#nav{  
  position: absolute;
  display: block;
  height: 37px;
  position: absolute;
  margin: 38px 0 0 0;
  background: #000000;
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
          border-radius: 4px;
      border-top-right-radius:0px;
      border-top-left-radius:0px;
      padding-top:-2px;
}
div#menu ul#nav li#private-banking:hover > div#menu ul#nav li:hover{  
  background: #000000;
}
/*--------------Corporate Menu---------------------*/
ul#nav li#Corporate-Services{background-image:url(../images/Corporate-Services-bg.png) ;}
ul#nav li#Corporate-Services a {
  float: right;
font-family: Iranian Sans,'Iranian Sans',tahoma;
font-size:18px;
  line-height: 37px;
  color: #fff;
  text-decoration: none;
/*  text-shadow: 1px 1px 1px #880000;*/
  margin: 0;
  padding: 0 14px;  
 
}    
div#menu ul#nav li#Corporate-Services:hover {
  color: #7fcfef;
  text-decoration: none;
  background: #002c77;
  padding-top:1px;

          border-top-right-radius:4px;
      border-top-left-radius:0px;   }  
div#menu ul#nav li#Corporate-Services:hover > div#menu ul#nav{  
  position: absolute;
  display: block;
  height: 37px;
  position: absolute;
  margin: 38px 0 0 0;
  background: #002c77;
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
          border-radius: 4px;
      border-top-right-radius:0px;
      border-top-left-radius:0px;
      padding-top:-2px;
}
div#menu ul#nav li#Corporate-Services:hover > div#menu ul#nav li:hover{  
  background: #002c77;
}
/*-----------------------------------------------------------------*/


ul#nav li:hover > ul li a:hover {
  color: #7fcfef;
}
@media (min-width: 979px) and (max-width: 1200px)   {
  ul#nav li a,
   ul#nav li#Samanian a,
    ul#nav li#private-banking a{
  font-size:17px;
  padding:0 12.37px;}
}

@media (min-width: 120px) and (max-width: 979px)   {
  
ul#nav{
  background:#0271bd
  }
ul#nav li{
  width:100%;
  border-bottom:#eee dotted 1px;
  float:right}
  ul#nav li a,
     ul#nav li#Samanian a,
    ul#nav li#private-banking a{
    border-left:0;}
ul#nav li:hover > div#menu{
  display:none
}  
  }
@media (min-width: 120px) and (max-width: 750px)   {
.span7.search{
  line-height:50px;}  
  }
#news{
  background:none;
  padding-top:40px;
  padding-bottom:40px;
    direction:rtl;
  text-align:justify  
}
#news h2 ,#msmright h2{
  color:#414042;
    font-family: B Mitra,'B Mitra',tahoma;
  font-size:20px;
  font-weight:bold;

  }
#msmleft.gmap a{
    color:#00a0df;
  padding-left:30px;
  padding-right:30px;
}
#msmright.gmap a{
    color:#00a0df;
  padding-left:30px;
  padding-right:30px;
}
#news01{
  background:url(../images/picto-Netbank.png) right no-repeat;
  padding-right:90px;
  padding-top:55px;
  padding-bottom:40px;
  border-top:1px #d1d3d4 dotted;
  direction:rtl;
  text-align:justify}
#news01 h2{

    font-family: B Mitra,'B Mitra',tahoma;
  font-size:20px;
  font-weight:bold;

  }
#news02{
  padding-right:40px;
  padding-bottom:40px;
    direction:rtl;
  text-align:justify}
#news02 h2{
    font-family: B Mitra,'B Mitra',tahoma;
  font-size:18px;
  font-weight:bold;

  }
#news03{
  padding-right:40px;
  padding-bottom:40px;
    direction:rtl;
  text-align:justify}
#news03 h2{

    font-family: B Mitra,'B Mitra',tahoma;
  font-size:18px;
  font-weight:bold;

  }
#news04{
  padding-right:40px;
  padding-bottom:40px;
    direction:rtl;
  text-align:justify}
#news04 h2{

  font-family: B Mitra,'B Mitra',tahoma;
  font-size:18px;
  font-weight:bold;

  }
h4,h3,h4,h1,h2{font-family: B Mitra,'B Mitra',tahoma;}
/*div#gmap{
  background:url(../images/map-bg.jpg) no-repeat center;}*/
label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}  
label{
  width: 100px;
  float:right;}
input{
  float:left}
input.btn{
  float:right}
.black h2{
  color:#333;}
.blue h2{
  color:#169fda;}
.green h2{
  color:#3aaa1b}
.red h2{
  color:#ff0000;}
div#news02.green{
  background:url(../images/icon02-green.jpg)top right no-repeat !important}
.leftborder{
  border-left:1px dotted #ccc;
  padding-left:10px;
  margin-left:10px;}
#leftborder{  border-left:1px dotted #ccc;}
#fa{
  float:left;
  padding-right:3px;
  padding-left:3px;
  padding-bottom:0px;
  background:#ccc;
  color:#FFFFFF;
  border-bottom-left-radius:4px;}
#en{
  float:left;
  margin-left:3px;
  margin-right:5px;
  padding-right:3px;
  padding-left:3px;
  padding-bottom:0px;
  background:#ddd;
  color:#FFFFFF;
  border-bottom-right-radius:4px;
  }
#fr,#ar{
  float:left;
  margin-left:3px;
  padding-right:3px;
  padding-left:3px;
  padding-bottom:0px;
  background:#78c6e7;
  color:#FFFFFF;
  }  
#fa a,#en a,#fr a,#ar a{
  color:#FFF;
  text-decoration:none;}
div.msmnews1 {
background:#f6f6f6;
width: 95%;
  margin-right:auto;
  margin-left:auto;  
display:inline-block;
  padding:15px;
  margin:2px;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
      text-align:justify;-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div.msmnews1 img,div.msmnews2 img{
padding-left:20px}
div.msmnews1 h2{}
div.msmnews1:hover {
  background:#dcf1f1 url(../images/msmnews1-bg.png)}
div.msmnews1:hover h2 {
  color:#06C;
  text-align:right;
  padding-right:5px;}
div.msmnews2:hover h2 {
  color:#06C;
  text-align:right;
    padding-right:5px;
    }
div.msmnews2 {
width: 95%;
  margin-right:auto;
  margin-left:auto;
display:inline-block;
padding:15px;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin:2px;
  text-align:justify;-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div.msmnews2:hover {
  background:#dcf1f1 url(../images/msmnews1-bg.png)}
div.msmnews2 h2,div.msmnews1 h2{color:#1980C1;
text-align:right;
-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
div.msmnews2 ul li:before,div.msmnews1 ul li:before,div.tab-content ul li:before{
color: #00AFF9;
    content: "•";
    font-size: 22px;
padding-left:10px;}
div.msmnews2 ul,div.msmnews1 ul,div.tab-content ul{
list-style: none outside none;}
div.intronews{
width: 75%;
margin-right:auto;
margin-left:auto;
display:table;
padding:15px;
text-align:justify;
}
.modal {
  position:absolute;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

input.sheba{
float:none;
width: auto;
text-align: left;}

ul.newslisting li{
   list-style: none;
}
ul.newslisting li a{
  text-decoration: none;
}
input[type="radio"], input[type="checkbox"]{
margin: 4px;
line-height: normal;
float: right;

}
span#shebaResult , .rightAlign ,#numResult , .leftAlign{
text-align: center;
font-family: inherit;
font-size: 18px;
color: red;
}
ul.news-listing li{
list-style:none;
}

.shebaimg {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    float: right;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 150px;
transition: all 0.5s ease-in-out 0s;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  min-height:140px
}
.shebaimg:hover {
-webkit-box-shadow: 0 1px 0 5px #00a1de;
box-shadow: 0 1px 0 5px #00a1de;
}

/*------------VOLLEYBALL NEW PAGE CSS-------------*/
ul.news-listing.volleyball > li h6{
line-height:10px;
}

ul.news-listing.volleyball li {
list-style:circle url("../images/news-bullet.gif");
line-height:1px;}

ul.news-listing.volleyball li a{
color:#a0a0a0;
}
div.page-title.volleyball h3{
line-height:40px;
display:inline-block;}
.page-title.volleyball img {
    padding-left: 5px;
}
div.page-title.gallery h3{
background:url(../images/gallery.png) right no-repeat;
line-height:40px;
padding-right:55px;}

div.page-title.brandidentity h3{
background:url(../images/brand-identity.png) right no-repeat;
line-height:40px;
padding-right:55px;}

div.page-title.khadamat h3{
background:url(../images/khadamat.png) right no-repeat;
line-height:40px;
padding-right:55px;}

div.page-title.magazine h3{
background:url(../images/magazine.png) right no-repeat;
line-height:40px;
padding-right:55px;}

div.page-title.report h3{
background:url(../images/interview.png) right no-repeat;
line-height:40px;
padding-right:55px;}

div.page-title.articles h3{
background:url(../images/article-icon.png) right no-repeat;
line-height:40px;
padding-right:55px;}


/* ----------- Blog Icon h3 Start------------ */
ul.news-listing.blog li {
list-style:circle url("../images/news-bullet.gif");
line-height:1px;
}

ul.news-listing.blog li a{
color:#a0a0a0;
}

ul.news-listing.blog li a:hover{
color:#3eaa25;
}

div.page-title.forYourLife h3{
background:url(../images/fa/blog/icon/5.png) right no-repeat;
line-height:40px;
padding-right:55px;
color:#287f13;}

div.page-title h3{
color:#19a9e5;}

div.page-title.t2 h3{
background:url(../images/fa/blog/icon/6.png) right no-repeat;
line-height:40px;
padding-right:55px;
color:#287f13;}

div.page-title.t3 h3{
background:url(../images/fa/blog/icon/3.png) right no-repeat;
line-height:40px;
padding-right:55px;
color:#287f13;}

div.page-title.t4 h3{
background:url(../images/fa/blog/icon/4.png) right no-repeat;
line-height:40px;
padding-right:55px;
color:#287f13;}

div.page-title.t5 h3{
background:url(../images/fa/blog/icon/2.png) right no-repeat;
line-height:40px;
padding-right:55px;
color:#287f13;}


div.page-title.t6 h3{
background:url(../images/fa/blog/icon/1.png) right no-repeat;
line-height:40px;
padding-right:55px;
color:#287f13;}

li.lifewithsaman {
    background: url(../images/fa/blog/icon/man.png) right no-repeat #12a9e2;
    border-radius: 5px;
    height: 41px;
    line-height: 41px !important;
    list-style: outside none none !important;
    margin: 0;
    padding: 0 70px 0 0;
}

li.lifeinsaman {
    background: url(../images/fa/blog/icon/khorshid.png) right no-repeat #12a9e2;
    border-radius: 5px;
    height: 41px;
    line-height: 41px !important;
    list-style: outside none none !important;
    margin: 0;
    padding: 0 70px 0 0;
}
li.lifewithsaman a,li.lifeinsaman a {

color:#fff !important;
font-size:20px}


.blogItemFooter span {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 5px;
    padding: 0 10px;
}
.blogItemFooter div img{
 padding: 0 }
/* ----------- Blog Icon h3  End------------ */

div.vnews{
line-height:5px;
color:#19a9e5;
font-size:11px}
div.vnews td{
direction:rtl}
div.vnews2{
color:#c58c3b}
div.image-gallery img{
border-radius:4px;
padding:5px;
  margin:5px;
}
div.image-gallery img:hover{
border-radius:4px;
padding:5px;
  margin:5px;
border-color:#19a9e5;  
}
.volleyball .bx-wrapper .bx-viewport img{
border-radius:10px;}
.volleyball .bx-wrapper .bx-pager, .volleyball .bx-wrapper .bx-controls-auto{
  bottom:-35px;
}
/* ------------ Branches ---------- */

.table-hover.table-branches tbody tr{
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;  
}
.table-hover.table-branches tbody tr#titlerow:hover > td,
.table-hover.table-branches tbody tr#titlerow:hover > th {
  background-color: #20b685;
}

.input-append{
  background:url(../img/almase-background.jpg) top right no-repeat;
  line-height:30px;
  width:750px;
  height:220px;
  text-align:right;
  
}

.input-append form{
  padding-top:90px;}
#branchpage.span5{
    margin-top:50px;
}
ul#msmnews{
padding-right:15px;
list-style:none;}

.xSmallTag ,.mediumTag{
    background: none repeat scroll 0 0 #d8d8d8;
    border-radius: 3px;
    color: #fff;
    padding: 0px 8px;
  text-decoration:none;
}
a.xSmallTag:hover ,a.mediumTag:hover{
  text-decoration:none;
}
form.searchnews input {
    background:url(../images/magnify.png) no-repeat 2% #52b13c;
    color: #fff;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 100%;
}

form.searchnews input::-webkit-input-placeholder  {
    color: #fff;
    opacity: 1!important; /* for chrome */
}

form.searchnews input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}
form.searchnews input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
form.searchnews input:-ms-input-placeholder  {
    color: #fff;
    opacity: 1;
}
span.detailpage img{
padding:0;
}
span.detailpage{
padding-right:15px;
color:#7d7d7d;
font-family: Iranian Sans,'Iranian Sans',tahoma;}

.employee{position:relative;overflow:y;min-height:80px;padding:10px 0 10px 95px;margin:0 0 20px 0;border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
.employee span{display:block;font-size:17px;}
.employee span a{text-decoration:none;}


/*==================================================
* Effect 2 START
* ===============================================*/
.photo
{
   position:relative;                           
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  width:75px;height:80px;
}

.photo:before, .photo:after
{
                content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.photo:after
{
                right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}  

/*==================================================
* Effect 2 END
* ===============================================*/
.employee .name{font-size:18px;font-weight:bold;color:#004276;}
.employeeg .job-title{margin-bottom:5px;}
.employee .phone{background:url(/application/themes/quest/images/icons/icon-sprite.png) no-repeat 0 -120px;padding:0 0 0 25px;}
.employee .email{background:url(/application/themes/quest/images/icons/icon-sprite.png) no-repeat 0 -160px;padding:0 0 0 25px;}
.employee .mobile{background:url(/application/themes/quest/images/icons/icon-sprite.png) no-repeat 0 -200px;padding:0 0 0 25px;}
.employee .fax{background:url(/application/themes/quest/images/icons/icon-sprite.png) no-repeat 0 -320px;padding:0 0 0 25px;}

/* --------- .dropdown-menu Annual report ----------------- */
ul.dropdown-menu.report li{
float: none;}
ul.dropdown-menu.report{
background: none repeat scroll 0 0 #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
}
/* ------------- topradius ---------------------------- */
img#topradius{
border-top-right-radius:25px;}

/* -------------- Videos -------------------------*/
.feat-video {overflow: hidden;margin: 20px 0; padding:20px 0;border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
.video-list li {list-style:none;width: 265px; float: left; margin: 0 20px 25px 5px;}
.video-list li a.prettyPhoto {margin-bottom: 0.5em;border:1px solid #C0C0C1;}
.video-list li a.prettyPhoto img{border:none;}
/*** hoverImage prittyPhoto ***/
.gallery {}
.gallery img{padding:6px;display:block;background:#fff;border:1px solid #c0c0c1;}
.hoverImage {position:relative;overflow:hidden;display:inline-block;background:#333;}
.hoverImage img, .hoverVideo img {position:relative;z-index:2;padding:6px;display:block;background:#fff;border:1px solid #c0c0c1;}
.hoverImage span {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(/application/themes/quest/images/icons/magnify.png) no-repeat 50% 50%;z-index:3;}
.hoverVideo {position:relative;overflow:hidden;display:inline-block;background:#333;}
.hoverVideo span {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(/application/themes/quest/images/icons/play.png) no-repeat 50% 50%;z-index:3;}
.gallery .hoverImage span, .gallery .hoverVideo span{z-index:1;}

/* ------------------ Bx slider PhotoGallery ------------ */

div.MSMPhotoGallery .bx-wrapper .bx-controls-direction a {
    margin-top: -10px;
}
div.MSMPhotoGallery .bx-wrapper .bx-prev{
    left: -38px;
}
div.MSMPhotoGallery .bx-wrapper .bx-next{
    right: -30px;
}

/* ------------------ Blog Thumbnail ------------ */
div.blogthumb {
float:right;
padding-left:10px;}
div.blogthumb img{
border-top-right-radius : 60px;
}
div.blogthumb img:hover{

}

/* ------------------ Blog ------------ */
.blogItemFooter .blogTag span {
      background: none repeat scroll 0 0 #d8d8d8;
    border-radius: 3px;
    color: #fff;
    padding: 0 8px;
  margin:0 1px;
    text-decoration: none;
  
}
.blogItemFooter > div {
    float: right;
    padding-left: 10px;
  color:#999;
}

.blogItemFooter  > div.readmore {
    float: left;
}
.blogItemFooter  > div.readmore a{
    color: #2fb92c;
}

.blogitem {
    display: table;
  text-align:justify;
  margin-bottom:35px;
    }
/*---------- Shad Hastim ---------------*/
h2.shad {
    font-family: Iranian Sans,'Iranian Sans',tahoma;
    font-size:18px;
    color:#da4fe7;
}
h2.shad.green {
  color:#2fb92c;
}
h2.shad strong{
background:#da4fe7;
  color:#fff;
padding:0 7px;
}

h2.shad.green strong{
background:#2fb92c;
  color:#fff;
  padding:0 7px;
}

/*** Comments Macro ***/
.comments-title{font-weight:bold;font-size:18px;}
.comments-count{margin-right:20px;font-size:18px;}
.comment{margin:20px 0;position:relative;}
.no-comments{margin:20px 0;padding:30px 0;font-weight:bold;color:#D54C20;font-size:18px;text-align:center;border-top:3px solid #ccc;}
.balloon-arrow{width:11px;height:14px;position:absolute;left:90px;top:30px;background:url(/application/themes/quest/images/icons/balloon-arrow.png) no-repeat 0 0;}
.author-info{position:absolute;left:0;top:0;width:85px;}
.profile-image{border:1px solid #ccc;padding:6px;margin-bottom:5px;width:65px;height:65px;}
.commenter-name{font-size:17px;color:#D54C20;display:block;line-height:14px;}
.comment-time{font-size:10px;color:#888;display:block;line-height:12px;}
.comment-wrapper{margin:10px 0 10px 100px;min-height:95px;}
.comment-text{border:1px solid #ccc;background:#ededed;padding:8px 12px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.comment-child{margin:10px 0 10px 100px;min-height:95px;background:#ededed;border:1px solid #ccc;padding:8px 12px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
a.replay-link{display:block;text-align:right;margin:10px;text-decoration:none;font-size:17px;}
a.replay-link:hover{text-decoration:underline;}
.comments-form{margin:20px 0 20px 0;border-top:3px solid #ccc;padding:10px 0 20px 85px;}
.comments-messages{color:#aa0000;margin:10px;}
.comments-form-body textarea, .field-wrapper textarea{width:420px;min-height:100px;}
.comments-form-body label, .field-wrapper label{display:block;font-weight:bold;padding:5px 0;}
.CheckBox{width:400px;font-size:17px;text-align:left;margin:0 0 15px 0;font-weight:normal !important;}
.field-wrapper{position:relative;}
.field-wrapper-col2{position:absolute;left:230px;top:0;}
.captcha-wrapper{position:relative;margin:10px 0 20px 0;min-height:50px;}
.captcha-audio-play{display:inline-block;width:16px;height:16px;background:url(/application/themes/quest/images/icons/speaker.png) no-repeat 0 0;text-indent:-9999px;margin:0 0 0 10px;}
.captcha-audio-playing{display:inline-block;width:16px;height:16px;background:url(/application/themes/quest/images/icons/speaker.png) no-repeat 0 -16px;text-indent:-9999px;margin:0 0 0 10px;}
.captcha-tools{position:absolute;left:230px;top:25px;}
.post{padding:5px;width:150px;text-align:center;height:30px;margin:20px 0 0 -20px;}
#comments-captcha-reset, .greyText{font-size:17px;}
#comment-button{text-align:center;}
.comments-form .email, .comments-form .name, .comments-form .captcha{display:inline-block;padding:5px;width:175px;margin-bottom:10px;}
#commentsForm input{
float:none;}


/* ----------- TIMELINE ----------------------*/
/*----------------------------------------------------------------------------------- */
/*  Fonts */
/*----------------------------------------------------------------------------------- */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format("woff"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGC7eGk4PJkA83J1AXCmgUfc.woff) format("woff"); }

/*----------------------------------------------------------------------------------- */
/*  Document Setup */
/*----------------------------------------------------------------------------------- */
* {
  outline: none !important; }

  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-size: 55%; }




.lead {
  font-weight: 300; }




blockquote {
  border-color: #dddddd; }

hr {
  border-color: #d0d0d0; }

/*----------------------------------------------------------------------------------- */
/*  Background color helper classes */
/*----------------------------------------------------------------------------------- */
.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger, .bg-muted {
  color: white; }
  .bg-primary .page-header, .bg-success .page-header, .bg-info .page-header, .bg-warning .page-header, .bg-danger .page-header, .bg-muted .page-header {
    color: white; }

.bg-primary {
  background-color: #32b9b1; }

.bg-success {
  background-color: #51be38; }

.bg-info {
  background-color: #5bc0de; }

.bg-warning {
  background-color: #ef9544; }

.bg-danger {
  background-color: #f05a5b; }

.bg-muted {
  background-color: #bbbbbb; }

/*----------------------------------------------------------------------------------- */
/*  Buttons */
/*----------------------------------------------------------------------------------- */
.btn {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  font-weight: 600; }
  .btn.active, .btn:active {
    box-shadow: none; }

.btn-primary {
  background: #32b9b1; }
  .btn-primary:hover, .btn-primary.active, .btn-primary:focus {
    background: #2ea9a2; }

.btn-success {
  background: #51be38; }
  .btn-success:hover, .btn-success.active, .btn-success:focus {
    background: #4aae33; }

.btn-info {
  background: #5bc0de; }
  .btn-info:hover, .btn-info.active, .btn-info:focus {
    background: #4ab9db; }

.btn-warning {
  background: #ef9544; }
  .btn-warning:hover, .btn-warning.active, .btn-warning:focus {
    background: #ed8a31; }

.btn-danger {
  background: #f05a5b; }
  .btn-danger:hover, .btn-danger.active, .btn-danger:focus {
    background: #ee4748; }

.btn-link {
  color: #32b9b1; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }
  .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #227d77;
    border-color: #227d77; }
    .btn-group.open .dropdown-toggle.btn-primary .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-success {
    background-color: #388327;
    border-color: #388327; }
    .btn-group.open .dropdown-toggle.btn-success .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-info {
    background-color: #28a1c5;
    border-color: #28a1c5; }
    .btn-group.open .dropdown-toggle.btn-info .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-warning {
    background-color: #d46e12;
    border-color: #d46e12; }
    .btn-group.open .dropdown-toggle.btn-warning .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-danger {
    background-color: #e81517;
    border-color: #e81517; }
    .btn-group.open .dropdown-toggle.btn-danger .caret {
      border-top-color: white; }

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -2px; }
.btn-group.open .dropdown-toggle {
  box-shadow: none; }

/*----------------------------------------------------------------------------------- */
/*  Nav pills */
/*----------------------------------------------------------------------------------- */
.nav-pills > li > a {
  font-weight: 600; }
  .nav-pills > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05); }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #32b9b1; }

/*----------------------------------------------------------------------------------- */
/*  Dropdowns */
/*----------------------------------------------------------------------------------- */
.dropdown-menu {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-align: left; }
  .dropdown-menu > li > a {
    color: black;
    padding: 5px 12px 7px; }
  .dropdown-menu > li:first-child a {
    border: 0; }
  .dropdown-menu .divider {
    margin: 4px 0; }

/*----------------------------------------------------------------------------------- */
/*  Tables */
/*----------------------------------------------------------------------------------- */
.table thead tr th {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: black;
  border: 0;
  vertical-align: middle; }
.table tbody {
  background-color: white; }
  .table tbody tr td {
    font-size: 17px;
    border-top: 0;
    vertical-align: middle; }
.table tfoot > tr > td {
  border-top: 0; }
.table tfoot > tr:first-child > td {
  border-top: 1px solid #dddddd;
  padding-top: 15px; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(0, 0, 0, 0.05); }

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
  background-color: #51be38;
  color: white; }

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
  background-color: #5bc0de;
  color: white; }

.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
  background-color: #ef9544;
  color: white; }

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
  background-color: #f05a5b;
  color: white; }

/*----------------------------------------------------------------------------------- */
/*  Labels */
/*----------------------------------------------------------------------------------- */
.label-primary {
  background-color: #32b9b1; }

.label-default {
  background-color: #bbbbbb; }

.label-success {
  background-color: #51be38; }

.label-info {
  background-color: #5bc0de; }

.label-warning {
  background-color: #ef9544; }

.label-danger {
  background-color: #f05a5b; }

/*----------------------------------------------------------------------------------- */
/*  List groups */
/*----------------------------------------------------------------------------------- */
.list-group .list-group-item.active, .list-group .list-group-item.active:hover, .list-group .list-group-item.active:focus {
  color: white;
  background-color: #32b9b1;
  border-color: #27918b; }
  .list-group .list-group-item.active .badge, .list-group .list-group-item.active:hover .badge, .list-group .list-group-item.active:focus .badge {
    color: #32b9b1;
    background-color: white; }

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #32b9b1;
  border-color: #32b9b1; }

/*----------------------------------------------------------------------------------- */
/*  Form styles */
/*----------------------------------------------------------------------------------- */
label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px; }

.form-group {
  margin-bottom: 25px; }

.form-control {
  border: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35); }
  .form-control:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35); }

.input-group {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35);
  border-radius: 4px; }
  .input-group.input-group-lg {
    border-radius: 6px; }
  .input-group.input-daterange {
    border-radius: 4px; }
  .input-group .form-control {
    border: 0;
    box-shadow: none; }
  .input-group .input-group-btn .btn {
    margin: 0 !important;
    border: 0 !important; }
  .input-group .input-group-addon {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    color: black; }

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
  margin-right: -2px;
  position: relative;
  z-index: 10; }

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -2px; }

.has-feedback .form-control-feedback {
  top: 50%;
  margin-top: -17px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #60c560; }
.has-success .form-control {
  border-color: #60c560; }
.has-success .form-control-feedback {
  color: #60c560; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #f0ad4e; }
.has-warning .form-control {
  border-color: #f0ad4e; }
.has-warning .form-control-feedback {
  color: #f0ad4e; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #d9534f; }
.has-error .form-control {
  border-color: #d9534f; }
.has-error .form-control-feedback {
  color: #d9534f; }

/*----------------------------------------------------------------------------------- */
/*  Emphasis Classes */
/*----------------------------------------------------------------------------------- */
.text-primary {
  color: #32b9b1; }

.text-success {
  color: #51be38; }

.text-info {
  color: #5bc0de; }

.text-warning {
  color: #ef9544; }

.text-danger {
  color: #f05a5b; }

/*----------------------------------------------------------------------------------- */
/*  Panels */
/*----------------------------------------------------------------------------------- */
.panel {
  border: 0; }
  /*.panel .panel-body p {
    padding: 20px; }*/

.panel-heading .panel-toggle {
  background: #f9fafa; }
.panel-heading .panel-title {
  font-size: 18px; }

/*----------------------------------------------------------------------------------- */
/*  Tab Styles */
/*----------------------------------------------------------------------------------- */
.nav-tabs > li > a {
  border-radius: 0px; }
  .nav-tabs > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05); }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: white; }

.tab-content {
  background-color: white;
  border: 1px solid #dddddd;
  border-top: 0;
  padding: 15px 15px 5px; }

/*----------------------------------------------------------------------------------- */
/*  Progress Bars */
/*----------------------------------------------------------------------------------- */
.progress {
  box-shadow: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.06); }
  .progress .progress-bar {
    box-shadow: none;
    background-color: #32b9b1; }
  .progress .progress-bar-success {
    background-color: #51be38; }
  .progress .progress-bar-info {
    background-color: #5bc0de; }
  .progress .progress-bar-warning {
    background-color: #ef9544; }
  .progress .progress-bar-danger {
    background-color: #f05a5b; }

.well {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.05); }


.timeline {
  list-style: none;
  position: relative;
  max-width: 1200px;
  /* padding: 20px */ ;
  margin: 0 auto;
 /* overflow: hidden;*/ }
  .timeline:after {
    content: "";
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -2px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 78%;
    width: 4px;
    border-radius: 2px;
    display: block; }
 .timeline .timeline-row {
    padding-left: 50%;
    position: relative;
    z-index: 10;
margin:0 0 20px 0;}
    .timeline .timeline-row .timeline-time {
    background: none repeat scroll 0 0 #e2e2e2;
    font-size: 16px;
    font-weight: 600;
    margin-right: 40px;
    padding: 8px;
    position: absolute;
    right: 50%;
    text-align: right;
 }
      .timeline .timeline-row  small {
        display: block;
        color: white;
        font-size: 12px;
       font-weight: 400;
 font-family: Iranian Sans,'Iranian Sans',tahoma;
  padding-top:5px;
}

.timeline .timeline-row .timeline-time:after {
    color: #e2e2e2;
    content: "▶";
    height: 4px;
    left: auto;
    position: absolute;
    right: -11px;
    top: 7px;
    width: 40px;
    z-index: -1;
}


.timeline .timeline-row:nth-child(odd) .timeline-time:after {
    content: "◀";
    left: -11px;
    right: auto;
    top: 7px;
    width: 400px;
    z-index: -1;
}


.timeline .timeline-row .timeline-icon {
    color: white;
    font-size: 14px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    text-align: center;
   /* top: 30px; */
    width: 40px;
    z-index: 100;
}

      .timeline .timeline-row .timeline-icon > div {
        border-radius: 50%;
        line-height: 40px;
        font-size: 23px; }
    .timeline .timeline-row .timeline-content {
      margin-left: 40px;
      position: relative;
      color: #333333; }
.timeline .timeline-row .timeline-content .timelineContent{
padding:20px}
      .timeline .timeline-row .timeline-content:after {
   
    content: "◀";
    height: 4px;
    left: -38px;
    position: absolute;
    top: 7px;
    width: 40px;
    z-index: -1;
 }

      .timeline .timeline-row .timeline-content .panel-body {
        /* padding: 15px 15px 2px; */
        position: relative;
        z-index: 10;
background:#f7f7f7;}
      .timeline .timeline-row .timeline-content h2 {
        font-size: 18px;
        margin-bottom: 12px;
        margin-top: 0;
        line-height: 1.2;
padding: 10px;
color:#fff;
 font-family: Iranian Sans,'Iranian Sans',tahoma;}
.timeline .timeline-row .timeline-content h2.h2-fa-line-chart{
background:#008c99;

}
.timeline .timeline-row .timeline-content h2.h2-fa-trophy{
background:#e7b300;

}
.timeline .timeline-row .timeline-content h2.h2-fa-cogs {
background:#28b6ea;
}
.timeline .timeline-row .timeline-content h2.h2-fa-umbrella{
background:#20b685;

}
.timeline .timeline-row .timeline-content h2.h2-fa-calendar {
background:#026db9;

}

.timeline .timeline-row .panel.timeline-content.panel-fa-line-chart:after{
color:#008c99;
}

.timeline .timeline-row .panel.timeline-content.panel-fa-trophy:after{
color:#e7b300;
}

.timeline .timeline-row .panel.timeline-content.panel-fa-cogs:after{
color:#28b6ea;
}

.timeline .timeline-row .panel.timeline-content.panel-fa-umbrella:after{
color:#20b685;
}

.timeline .timeline-row .panel.timeline-content.panel-fa-calendar:after{
color:#026db9;
}
      .timeline .timeline-row .timeline-content p {
        margin-bottom: 15px; }
      .timeline .timeline-row .timeline-content img {
        margin-bottom: 15px; }
      .timeline .timeline-row .timeline-content blockquote {
        border-color: #eeeeee; }
        .timeline .timeline-row .timeline-content blockquote footer, .timeline .timeline-row .timeline-content blockquote small, .timeline .timeline-row .timeline-content blockquote .small, .timeline .timeline-row .timeline-content blockquote.blockquote-reverse footer, .timeline .timeline-row .timeline-content blockquote.blockquote-reverse small, .timeline .timeline-row .timeline-content blockquote.blockquote-reverse .small {
          color: #999999; }
      .timeline .timeline-row .timeline-content .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        margin-bottom: 15px;
        overflow: hidden; }
        .timeline .timeline-row .timeline-content .video-container iframe, .timeline .timeline-row .timeline-content .video-container object, .timeline .timeline-row .timeline-content .video-container embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
    .timeline .timeline-row:nth-child(odd) {
      padding-left: 0;
      padding-right: 50%; }
      .timeline .timeline-row:nth-child(odd) .timeline-time {
        right: auto;
        left: 50%;
        text-align: left;
        margin-right: 0;
        margin-left: 40px; }
      .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 40px;
        margin-left: 0; }
        .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    content: "▶";
    left: auto;
    right: -9px;
 }
  .timeline.animated .timeline-row .timeline-content {
    opacity: 0;
    left: 20px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s; }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: -20px; }
  .timeline.animated .timeline-row.active .timeline-content {
    opacity: 1;
    left: 0; }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
    left: 0; }

@media (max-width: 1200px) {
  .timeline {
    padding: 15px 10px; }
    .timeline:after {
      left: 28px; }
    .timeline .timeline-row {
      padding-left: 0;
      margin-bottom: 16px; }
      .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px; }
        .timeline .timeline-row .timeline-time strong {
          display: inline-block;
          margin-right: 10px; }
      .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0; }
      .timeline .timeline-row .timeline-content {
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative; }
        .timeline .timeline-row .timeline-content:after {
          right: auto !important;
          left: -20px !important;
          top: 32px; }
      .timeline .timeline-row:nth-child(odd) {
        padding-right: 0; }
        .timeline .timeline-row:nth-child(odd) .timeline-time {
          position: relative;
          right: auto;
          left: auto;
          top: 0;
          text-align: left;
          margin: 0 0 6px 56px; }
        .timeline .timeline-row:nth-child(odd) .timeline-content {
          margin-right: 0;
          margin-left: 55px; }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
      left: 20px; }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
      left: 0; } }


/* ---------------- SAFFRON --------------------*/
h2.saffron span {
    background: none repeat scroll 0% 0% #FFF;
    padding: 0 10px;
}

h2.saffron {
    color: #d4060f;
    font-family: Iranian Sans,"Iranian Sans",tahoma;
    text-align: center;
}
h2.saffron.saffronrtl {
    text-align: right;
}
h2.saffron.saffronrtl  span {
    padding: 0 0 0 10px;
}

h2.saffron:after {
    height: 2px;
    content: "";
    background-color: #d4060f;
    display: block;
    width: 100%;
    top: -15px !important;
    position: relative;
    z-index: -1 !important;
}
.nav-tabs{
margin-bottom:0;   
white-space: nowrap;
}
.btn{
white-space: nowrap;}


.msm--page-3 .tab-content .span2 img{
min-width:107px;
min-height:170px;  
}

.msmnews2 ul ul , .msmnews1 ul ul {    
    margin: 15px 0 0;
    text-indent: 35px;
}

.nav-tabs.nav.privacytab > li > a, .nav-pills > li > a {
    padding-left: 10px;
    padding-right: 10px;
}
/* mm for customer css */


.holding-box 
{
  color:#243238;
  text-decoration:none;
  font-size:12px;
  background:transparent;
  position:relative;
  display:block;
  z-index:1;
  height:160px; 
  margin-bottom:10px
}
.holding-box:hover
{
-webkit-box-shadow:0 10px 10px 0 rgba(36,50,56,0.2);
  box-shadow:0 10px 10px 0 rgba(36,50,56,0.2)
}
.holding-box:active
{
  padding-top:21px;
  background:linear-gradient(to bottom,#455a64 0,#546e7a 100%)
}
.new-director-box {
  width:300px;
  height:435px;
  margin-bottom: 30px;
  background-color: #00a1de;
  border-style: none;
  border-color: #fff;
  float:right;
  margin:10px 50px;
  transition: all 0.4s ease-in-out;
  overflow:hidden;
}

.new-director-header
{
  height:20px;
  padding-bottom: 15px;
  color:white;
  font-weight:bold;
  text-align:center;
  font-size:18px;
}
.new-director-img
{
  width:300px;
  height:400px;
}
.new-director-img img
{
  width:300px;
  height:400px;
}

.new-director-footer
{
  height:355px;
  color:white;
  transition: all 0.4s ease-in-out;
  position: margin-top: 0px;
  margin-left: 0px;
  margin-botton:-10px;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
.new-director-box:hover > .new-director-footer {
    height: 0px;
}
.new-director-box:hover + .new-director-footer {
    height: 0px;
}
.new-director-text
{
  color:white;
  font-size:15px;
  padding:0px 10px;
  background:url("../img/bg-hover.png") ;
  position:relative;
  text-align:center;
  height:400px;
}
.new-director-text-light
{
  color:white;
  font-size:15px;
  padding:0px 10px;
  background:url("../img/bg-hover.png") ;
  position:relative;
  text-align:center;
  height:400px;
}

