.carousel {
  position: relative;
  margin-bottom: 0px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
      
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {

}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  width:20px;
  height: 20px;
  margin-top: -20px;
  font-size: 30px;
  font-weight: 100;
  line-height: 20px;
  color: #222222;
  text-align: center;
 /* background: #222222;*/
  border: 0px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.0;
  filter: alpha(opacity=0);
}

.carousel-control.right {
  right: 0;
  left: auto;
    top: 50%;
}
.carousel-control.left {
  left: 0;
  right: auto;
    top: 50%;
}
div#myCarousel2.carousel.slide > .carousel-inner{
/**  background:#00CC33;
*/
  }
div#myCarousel2.carousel.slide:hover > .carousel-control,
div#myCarousel2.carousel.slide:focus > .carousel-control
{
    opacity: 0.9;
      filter: alpha(opacity=90);
      -webkit-transition: 0.6s ease-in-out opacity;
      -moz-transition: 0.6s ease-in-out opacity;
      -o-transition: 0.6s ease-in-out opacity;
      transition: 0.6s ease-in-out opacity;
  }
.carousel-control:hover,
.carousel-control:focus {
  color: #222;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color:#d2d3d5;
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #7cd0f4;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}