.vehicImg .nameplate-img {  background-image:url('/sprite_globalnav/globalnav.png?cacheHash=1742842818&make=Ford&nameplates=truck-transitconnect2017;truck-f-1502017;truck-transit2017;truck-superduty2017;car-fiesta2017;car-focus2017;car-fusion2017;car-c-max2017;car-mustang2017;car-taurus2017;suv-escape2017;crossover-transitconnect2017;crossover-edge2017;crossover-flex2017;suv-explorer2017;suv-expedition2017;');}
.vehicImg .nameplate-img.truck-transitconnect2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -0px;
 }
.vehicImg .nameplate-img.truck-f-1502017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -94px;
 }
.vehicImg .nameplate-img.truck-transit2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -188px;
 }
.vehicImg .nameplate-img.truck-superduty2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -282px;
 }
.vehicImg .nameplate-img.car-fiesta2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -376px;
 }
.vehicImg .nameplate-img.car-focus2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -470px;
 }
.vehicImg .nameplate-img.car-fusion2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -564px;
 }
.vehicImg .nameplate-img.car-c-max2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -658px;
 }
.vehicImg .nameplate-img.car-mustang2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -752px;
 }
.vehicImg .nameplate-img.car-taurus2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -846px;
 }
.vehicImg .nameplate-img.suv-escape2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -940px;
 }
.vehicImg .nameplate-img.crossover-transitconnect2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -1034px;
 }
.vehicImg .nameplate-img.crossover-edge2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -1128px;
 }
.vehicImg .nameplate-img.crossover-flex2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -1222px;
 }
.vehicImg .nameplate-img.suv-explorer2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -1316px;
 }
.vehicImg .nameplate-img.suv-expedition2017{width:150px;height:94px;
background-repeat: no-repeat;
background-position: 0 -1410px;
 }
