.slideSpace {
width:510px;height:181px;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slprev, .slnext,.text {font-size: 11px}
}
    


    .efilingStats{background:#e8ebd1;border:1px solid #c7caaf;width:210px;padding:2px;font-family: Arial,Verdana,Helvetica,sans-serif;font-size:14px;color:#222}
	.efilingStats a{margin-left:10px;color:#222;text-decoration:none;position:relative;top:-6px}
	.efilingStats:hover{background:#d9dec2}

.clickableList ul.dropdown{display:none}
	.clickableList ul.dropdown{border:3px solid #914d41;background:#f4fbff;padding:5px ;list-style:none}
	.clickableList ul.dropdown li::before{background:url(../images/eFiling_sprite.png) -231px -10px no-repeat;width:5px;height:5px;position:absolute;content:""}
	.clickableList ul.dropdown li{border-bottom:1px dashed #ccc}
	.clickableList li.hover ul, .clickableList li:hover ul{display:block;width:190px;position:absolute;left:942px}
	.w115 {width:115px}
	.counter{text-align:left !important; margin:5px 10px 0 5px !important}
	.counter tr td:last-child{text-align:left !important}
	
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor:pointer;
  height: 10px;
  width: 8px;
  margin: 0 -324px -9px 333px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #1C8CED;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 60%;
  width: auto;
  padding: 7px;
  margin-top: -22px;
  color: Gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#myBlueDiv{
-webkit-align-self: center;
}


.counterStats{text-align:left !important; margin:5px 10px 0 5px !important}
	.counterStats tr td:last-child{text-align:left !important}


 
 .tickerNew { line-height: 20px; margin: 0 -4px; padding: 0 5px; font-style: italic; background: #e7edaf; color: #fff; border:1px solid #878d59;color: #000;}
