
.cd-testimonials-wrapper a {
  color: #79b6e4;
  text-decoration: none;
}

.cd-testimonials-wrapper {
  position: relative;
  width: 101%;
  background: #79b6e4;
 background: linear-gradient(#79b6e4 0%, #B8DAEB  90%),linear-gradient(to right, #79b6e4 0%, #B8DAEB  90%);
  margin: 0 -3px;
  height:70px;
  border:1px solid #92BCD3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
}
.cd-testimonials {
  color: #333;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;	
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  font-style: italic;
   margin: 2px 40px 0 20px;
  font-size:12px;
  font-weight:bold;
}

.cd-testimonials p.one-line { padding-top:25px}
.cd-testimonials p.two-line { padding-top:15px}
.cd-testimonials p.three-line { padding-top:10px}


.author-info {margin-left:10px}

.author .author-info li {
	padding:0 10px
  }
.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 25px;
  top: 0;
  list-style-type: none;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.flex-direction-nav li a:hover {
  background-color: #689FBE;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 85%;
  width: 2px;
  height: 12px;
  background-color: #333;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}

@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: #ffffff;
  }
}

.author-name{ font-weight:bold; color:#fff; margin-left: 20px;font-style:normal;float:right}

.cd-testimonials-wrapper ol, .cd-testimonials-wrapper ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.cd-testimonials-wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face { font-family: "digitalfonts"; src: url("../styles/DSDIGI.TTF"); }
@font-face { font-family: "digitalfonts_ie"; src: url("../styles/DSDIGI.eot"); }

.counter tr td.countertd span {
   vertical-align: middle;
   font-family: digitalfonts,digitalfonts_ie,Verdana;
   font-size: 18px;
   font-weight: normal;
   padding: 0 1px;
   background-color: #333;
   color: #FFC610;
   width: 5px;

}
