﻿/*Add new style under here*/
body {
	width: 100%;
	height: 100%;
	min-width: 320px;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-size: 100%;
}
#div_respond_about {
	display: none;
}

.gmnoprint img { max-width: none; }	/*google map zoom bar*/

.close_btn {
	float:left;
	position: absolute;
	z-index:1;
	top:1%;
	right:7%;
	cursor:pointer;
	width:8%;
}
nav.nav .close_btn {
	display: none;
}
.close_btn_mb {
	 float:right; 
	 color:#1D6CFE;
	 text-decoration:none; 
	 display:block; 
	 background: url(/images/close.png) no-repeat right top;
}
.close_btn_mb>span {
	padding-right:19px;
}

form {
	background-color: #ffffff;
}
.hide {
	display: none;
}
.show {
	display: block;
}
/*header*/
.nav {
	display: none;
    float: left;
    width: 100%;
    margin-bottom: 0px;    
	padding-bottom:6%;
	padding-top:1%;   
	position:absolute;
	z-index:10000;
	background-color: #000;	      
}
.nav ul{
    margin: 0;
    padding: 0;
}
.nav li{
    position: relative;
    float: left;
    color: #FFF;
    list-style: none;
    background: #000;
}
.nav li a {
	font-size:140%;
    display: block;       
    color: #FFF;
    text-decoration: none;
}
.nav li a:hover {

    text-decoration: none;
}
.nav .menuli1 {
	width: 36%;
	word-wrap: break-word;
}
.nav .menuli1 a {
	color: #666;
	margin-left: 3%;
}
.nav .menuli1 > div > a {
	font-weight: bold;
}
.nav .menuli1 a.menuActive {
	color: #fff;
}
.nav .menuli2 {
	width: 60%;
}
.nav .menuli2 a {
	color: #666;
	margin-left: 1%;
}
.nav a#a_product.menuActive+ul> .menuli2 a {
	color: #FFF;
}
.nav li ul {
    display: none;
    position: absolute;
    top: 100%;
}
.nav li:hover ul {
    /*display: block;*/
    right: 0;
    left: 0;
    top: 100%;
}
#div_small_menu {
	display:none;
}
.toggle {

    display: none;
}
.toggle img{
	float:left;
	width:100%;
    max-width: 100%;
}

.nav2 {
	display: none;
    float: left;
    width: 100%;
    margin-bottom: 0px;    
	padding-bottom:25%;
	padding-top:15%;   
	line-height:20px;
	font-size:100%;
	position:absolute;
	z-index:10001;
	background-color: #000;	      
}
.nav2 ul{
    margin: 0;
    padding: 0;
}
.nav2 li{
    position: relative;
    float: left;
    color: #FFF;
    list-style: none;
    background: #000;
}
#div_small_search  {
	display:none;
}
.toggle2 {

    display: none;
}
.toggle2 img{
	float:left;
	width:100%;
    max-width: 100%;
}
/*header*/
/* Model Page */
#sitemap, .titleonly, #pnl_subtitle, #div_comparison_checkbox, #div_share, #photolist, div[id^=itemblock_].show, .rss {
	display: block;
}
.respond.titlename, div[id$=_respond].show, #sitemap.hide {
	display: none;
}
.respond.titlename.white {
	display: block;
}
#div_smooth {
	position: absolute;
	background: url(/images/2014/model_page/model_white.png) repeat-x scroll 0% 0% transparent;
	width: 100%;
	left: 0px;
	/*margin-top: -5px;*/
	z-index: -1;
	height: 30px;
}
#div_smooth.blacktype {
	background: url(/images/2014/model_page/model_black.png) repeat-x scroll 0% 0% transparent;
}
#pnl_summary.product_summary ul {
	list-style: disc;
}
/* Model Page */
.blackBackground {
	background-color: #000000;
}

.font_reset {
	font-size: 100%;
}

body, a, select, optgroup, input {
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

img {
	width: 100%;
	border: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none outside none;
}
#div_menu_bar>ul>li,#div_A2 ul li, .ul_menu_footer li{
	/*width: 100%;*/
	float:left;
	list-style: none;
}

.ul_menu_footer li ul {
	 width: 100%;
	 margin-top: 2%;
 }
ul.ul_menu_footer li ul li {
	clear: both;
	list-style: none;
	display: inline-block;
	white-space: nowrap;
}

.limit_css_left {
	padding-left: 10.3%;
	/*margin-right: 9%;*/
}
.limit_css_right {
	padding-right: 10.3%;
}

#div_menu_bar a{
	color: #ffffff;
	text-decoration: none;
}
#div_menu_bar a:hover{
	color: #ffffff;
}

.text_gary {
	color: #333333;
}

.text_gary a {
	color: #333333;
	text-decoration:none;
}

.text_gary a:hover {
	color: #2323aa;
}

#div_header, #div_footer {
	width: 100%;
	/*display: inline-block;*/
}
#div_header {
	border-bottom: 2px solid #3333cc;
	/*border-bottom: 4px solid #3333cc \9;*/
	/*margin-bottom: -4px;*/
	/*margin-bottom: -2px \9;*/
}

#div_logo {
	max-width: 250px;
	width: 9.96%;			/* 245px:2048px=11.962890625%*/
	/*padding: 1.66015625%;*/	/* 34px:245px=13.87755102040816%. 11.962890625% is for width. This value is 13.87755102040816%*11.962890625% = 1.66015625% */
	float: left;
	max-height: 98px;
	/*height: 1px;*/
	position: relative;
}

#div_logo img {
	width: 100%;
	height: auto;
	min-width:120px;
	min-height:47px;
}

#div_menu_bar {
	width: 44.6%;
	float: left;
	padding-top: 1.3%;
	padding-bottom: 1%;
	margin-left: 6%;
	padding-left: 5%;
	font-size: 110%;
}

#div_menu_bar>ul>li{
	list-style: none;
	/*padding: 0px 3%;*/
    padding-right: 10%;
}

#div_menu_bar ul li img {
	width: 100%;
}

.ul_menu_footer {
	/*margin-left: 35%;*/
	margin-top: 0.4%;
}

.ul_menu_footer li {
	padding-right:9%;
	/*min-width: 10%;*/
	font-weight: bold;
	font-size: 100%;
}

.ul_menu_footer>li:first-child {
	padding-left: 12%;
}

.ul_menu_footer li ul li {
	padding: 0px;
	font-size: 80%;
	font-weight: normal;
}

#div_media_icon {
	float: left;
	width: 5%;
	padding-top: 1.2%;
	padding-bottom: 0.5%;
}
#div_media_icon img {
	width: 35%;
}

#div_footer_social_icon img {
	width: 20%;
	padding-top: 15%;
	padding-left: 5%;
	float: left;
	max-width: 43px;
	max-height: 43px;
}

#div_full_search {
	width: 8.789%;
	float: right;
	padding-top: 1.2%;
	/*padding-right: 3%;*/
	padding-bottom: 0.5%;
}

#header_search_input {
	position:absolute;
	top:2%;
	margin-top:1%;
	left:5%;
	width:100%;
	z-index:10;
}
#header_search_input_rwd {
	width:100%;
	position:absolute;
	left:5%;
	margin-top:2%;
}

/* Main Content*/
#div_B2>ul>li {
	width: 32%;
	padding-right: 2%;
	padding-bottom: 5%;
	float: left;
}
#div_B2>ul>li:first-child + li + li,
#div_B2>ul>li:first-child + li + li + li + li + li {
	padding-right: 0px;
}
#div_B2>ul>li>div.vga_3icon_background {
	background-color: #000000;
    height: 0;
    margin-top: -19.5%;
    opacity: 0.7;
    padding-bottom: 18%;
	margin-left: 1px;
	/*float: left;*/
	position: relative;
}
#div_B2>ul>li>div>span {
	font-size: 74%;
	display: inline-block;
	margin: 3%;
	margin-right: 0px;
	width: 70%;
	 font-weight: bold;
}
#div_B2>ul>li>div>span.vga_3icon_whatsnew_span {
	width: 100%;
}
.vga_3icon_content {
    color: #FFFFFF;
    margin-top: -17%;
    position: relative;
}
.vga_3icon_more {
	margin-left: 3%;
	color: #29C3F5;
	font-size: 75%;
}
.vga_3icon_btn {
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    width: 24%;
}
/* Main Content*/

/* footer*/
#div_copyright {
	clear:both;
	font-size:75%;
	text-align: center;
	padding:2% 0px 1% 0px;
	color:#525253;
}
#div_copyright div.clear {
	display: inline;
}
#div_copyright span a {
	color:#525253;
}
#footer_content_left {
    max-height: 49px;
    max-width: 230px;
    /*width: 12.6%;*/
}
.footer_item {
	float: left;
	padding-right: 5%;
}
.footer_item>a {
	font-size: 100%;
	font-weight: bold;
}
.footer_item>ul>li {
	font-size: 90%;
	margin-top:3%;
}
/* May to delete */
.ul_menu_footer {
	display: block;
}
.ul_menu_footer_respond {
	display: none;
}
#footer_span_lang_word {
	margin-left: 10%;
	float: left;
	margin-top: -17%;
}
/* footer */

/* Icon List */
#div_product_category>ul {
	margin-left: 2%;
}
#div_product_category>ul>li {
	width: 27%;
	float: left;
	padding-left: 2%;
	padding-bottom: 1%;
}
#div_product_category>ul>li>span {
	position: absolute;
	font-size:110%;
	margin-left:-17%;
	margin-top:4%;
	max-width: 12%;
	font-weight: bold;
}
#div_product_category.peripheral>ul>li {
	width: 21.9%;
	padding-left: 1.6%;
	padding-bottom: 0.8%;
}
#div_product_category > ul > li > div {
	position: relative;
}
#div_product_category > ul > li > div > img {
	width: 100%;
}
#div_product_category > ul > li > div > span {
	position: absolute;
	top: 0;
	left: 3%;
	width: 50%;
	font-size: 90%;
	font-weight: bold;
	height: 100%;
}

#div_product_category > ul > li > div > span > .tblink > table{
	height: 100%;
}

#div_product_category > ul > li > div > span > .tblink {
	color: #000000;
	text-decoration: none;
}
#div_product_category.b2b>ul>li {
	width: 21.9%;
	padding-left: 1.6%;
	padding-bottom: 0.8%;
}
/* Icon List */

/*content*/

#div_news {
	padding-left: 0.6%;
	border-left: 3px solid #000000;
	margin-top: 0.6%;
}

#div_A2 {
	/*margin: 0 auto;*/
}
#div_A2 ul li {
	width: 24.25%;
	width: 24%\9;
	margin: 1% 1% 1% 0;
} 
#div_A2 ul li:last-child {
	margin: 1% 0% 1% 0;
}
#div_A2>ul>li>img, #div_B2>ul>li>img {
	border: 1px solid #cccccc;
}

.triangle-up {
    width: 25%;
    height: 0;
    padding-left:25%;
    padding-top: 25%;
    overflow: hidden;
}
.triangle-up div {
    width: 0; 
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    /*border-bottom: 500px solid #4679BD;*/
	border-top: 500px solid #4679BD;
}
.sub_menu {
	display: none;
	border-top: 2px solid #3333CC;
	background-color: #000000;
	margin: 1% auto;
    position: absolute;
    z-index: 99999;
	opacity: 0.9;
	left: 0;
	width: 48%;
}
.sub_menu ul li div a:hover {
	color: #3399cc;
}
.sub_menu>ul {
	padding-top: 2%;
	padding-bottom: 2%;
}
.sub_menu>ul>li {
	float: left;
	width: 25%;
}
.sub_menu>ul>li:last-child {
	width: 21%;
}
.sub_menu>ul>li:last-child {
	border-left: 1px solid #333333;
}
.sub_menu>ul>li>div {
	margin-left: 10%;
	/*margin-right: 10%;*/
	margin-bottom: 10%;
	font-weight: bold;
	display: block;
	font-size: 90%;
}
.sub_menu>ul>li>div:last-child {
	/*margin-bottom: 2%;*/
}
.sub_menu>ul>li>div>div {
	font-size: 75%;
	font-weight: normal;
}

.sub_menu>ul>li>ul>li>ul {
	/*margin-left: 20%;*/
}
.all_category {
	font-size: 60%;
	text-decoration: underline;
}

/* Model Page */
#div_goTop {
	position: fixed; 
	right:50px; 
	bottom:0px; 
	z-index: 9999; 
	width: 5%; 
	cursor: pointer;
	display: none;
}
#div_main>#sitemap.sitemap {
	padding: 0;
	font-size: 65%;
	padding-bottom: 2%;
}
#titlename.titlename {
	font-size: 150%;
    padding-right: 1%;
}
#titlename.titlename.google-font {
	letter-spacing: 2px;
}
#div_wtb_image {
	width: 4.1%;
	float: left;
	margin-right: 1%;
}
#pnl_version {
	/*float: left;*/
	/*margin-top: 1%;*/
	font-size: 46%;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
	font-weight: normal;
}
#pnl_subtitle {
	font-size: 72%;
	margin-top: -0.5%;
	float: left;
	width: 30%;
}
#photolist,#awardlist {
	margin-left: 15%;
	margin-bottom: 30px;
	margin-top: 30px;
	float:left;
	padding-left: 25px;
	padding-right: 18px;
}
#photolist_zoom {
	float:left;
	padding-left: 25px;
	padding-right: 18px;
}

#photolist ul>li, #photolist_zoom ul>li {
	float:left;
	margin: 0 10px 10px 0;
}

#pnl_summary img {
	width: auto;
}
#div_product_info {
	/*border-top: 1px solid #cccccc;*/
}
#div_comparison_checkbox {
	float: right;
	text-align: right;
}
div[id*=itemblock_] div.rss {
	/*width: 20%;*/
	/*display: none;*/
	float: right;
}
div[id*=itemblock_] div.rss img {
	width: auto;
}
.divShareCss {
	float: left;
	/*width: 45%;*/
	/*padding-right: 5%;*/
	width: 16px;
	padding-right: 5px;
}
#img_b {
	width: 70%;
	margin-left: 15%;
	vertical-align: middle;
}
.blocktab>.blocktabcon>.text img {
	width: auto;
}
div[id^=itemblock_fq] .text2 img {
	width: auto;
}
.more img {
	width: auto;
}
.itemAward {
	max-width: 50%;
	min-width: 50%;
	float: left;
	min-height: 130px;
	padding-top: 2%;
}
div[id^=itemblock_na] .itemAward .itempic {
	min-width: 65px;
}
div[id^=itemblock_na] .itemAward .itempic img {
	width: auto;
}
#itemblock_na_respond .nrbar, #itemblock_na_respond .more {
	display: none;
}
.naDivTitle {
	clear: both;
	border-bottom: 1px solid #D7D7D7;
}
.picImg img {
	width: auto;
}
/* Model Page */