/*----------------------------- BODY ----------------------------*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
body, a, select, optgroup, input
{
	font-family: Arial,Verdana,Helvetica,sans-serif;	
}
#div_menu_bar a[id^=header_],.google-font {
	font-family: 'Oswald',Arial,Verdana,Helvetica,sans-serif;	
}
.google-font * {
	font-family: Arial,Verdana,Helvetica,sans-serif;
	letter-spacing: normal;
}
#div_menu_bar>#header_main_menu_bar>li {
	margin-top: 0.1%;
	margin-bottom: -0.1%;
} 