﻿* {
	outline: none;
}
body {
	/*background-color: #000;*/
}
body.overflow {
	overflow: hidden;
}
.opacity-60 {
	filter: alpha(opacity=60);
	opacity: 0.6
}
.opacity-70 {
	filter: alpha(opacity=70);
	opacity: 0.7
}
.opacity-80 {
	filter: alpha(opacity=80);
	opacity: 0.8
}
.opacity-90 {
	/*filter: alpha(opacity=90);*/
	opacity: 0.9
}
/* Header */
#div_header.gaming {
	border: none;
	float: left;
	position: absolute;
	z-index: 10;
}
#div_header.gaming[data-defaultpage=false] {
	position: relative;
	background-color: #000000;
}
#div_menu_bar {
	padding-left: 0;
	width: 50%;
	font-size: 0.95em;
}

/* Footer */
#div_footer {
	z-index: 0;
}

/* Language bar */
#footer_div_lang {
	background-color: #333;
	border-radius: 2px;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 0.9em;
}
#div_footer[data-defaultpage=false] #footer_div_lang {
	background-color: #dddddd;
} 
#footer_lang_word {
	float: none;
	display: inline-block;
	line-height: 2em;
	margin-left: 0;
	margin-top: 0;
	padding-left: 5%;
}
/* Language bar*/
/* Media Icon */
#div_media_icon {
	width: 4em;
}
#div_media_icon > a {
	color: #999;
	font-size: 1.4em;
	margin-left: 13%;
}
#div_footer_social_icon {
	position: relative;
}
#div_footer_social_icon > a {
	color: #333;
	font-size: 1.8em;
	margin-right: 5%;
}
#div_footer_social_icon img {
	padding-top: 2.5%;
	position: absolute;
	width: 13%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#div_footer_social_icon img {
		width: 13.5%;
	}	
}

/* search input */
#div_full_search {
	float: left;
	width: 8%;
	margin-left: 0.3%;
}

/* Main Menu */
#div_menu_bar > ul > li {
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.menuHover {
	border: 0px;
	border-bottom: 5px solid;
}
li[menu="1"].menuHover,
li[menu="2"].menuHover,
li[menu="3"].menuHover,
li[menu="4"].menuHover,
li[menu="5"].menuHover {
	border-color:  #0099ff;
	-webkit-border-image: -webkit-linear-gradient(30deg, #0099ff, #00ffff) 0 0 100% 0;
	-moz-border-image: -moz-linear-gradient(30deg, #0099ff, #00ffff) 0 0 100% 0;
}

/* Main Menu */
/* Sub Menu */
.sub_menu {
	clear: both;
	border: none;
	width: 70%;
	padding: 0 15%;
	background-color: transparent;
	opacity: 1;
}
li[menu="5"] > .sub_menu,
li[menu="4"] > .sub_menu,
li[menu="3"] > .sub_menu,
li[menu="2"] > .sub_menu {
	width: 70%;
	padding: 0 5% 0 25%;
}
#header_main_menu_bar[data-2016-template="true"] li[menu="4"] > .sub_menu {
	width: 70%;
	padding: 0 15%;
}
.sub_menu > .menu_item_row {
	clear: both;
	padding-top: 2%;
	position: relative;
	z-index: 2;
}
.sub_menu > .menu_item_row > .menu_item {
	float: left;
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	font-size: 90%;
}
#header_main_menu_bar > li[menu="4"] > .sub_menu > .menu_item_row > .menu_item,
#header_main_menu_bar > li[menu="3"] > .sub_menu > .menu_item_row > .menu_item,
#header_main_menu_bar > li[menu="5"] > .sub_menu > .menu_item_row > .menu_item {
	margin-bottom: 1.5em;
}
#div_menu_bar .sub_menu > .menu_item_row > div[class=menu_item][cg="8"] > .menu_item_wording > a,
#div_menu_bar .sub_menu > .menu_item_row > div[class=menu_item][cg="15"] > .menu_item_wording > a,
#div_menu_bar .sub_menu > .menu_item_row > div[class=menu_item][cg="16"] > .menu_item_wording > a {
	color: #ff9900	;
}
.non-active {
	cursor: default;
}
@keyframes g1_breath {
	100% {
		text-shadow: 0 0 15px #ffffff;
	}
}
@-webkit-keyframes g1_breath {
	100% {
		text-shadow: 0 0 15px #ffffff;
	}
}
.sub_menu > .menu_item_row > .menu_item > .menu_item_wording > a {
	font-weight: bold;
	line-height: 1.5em;
}

.sub_menu > .menu_item_row > .menu_item > .menu_item_wording > div {
	font-size: 0.85em;
	line-height: 1.5;
}
#div_menu_bar .sub_menu > .menu_item_row > .menu_item > .menu_item_wording a:hover {
	color: #3399ff;
}
/*Aours 主選單修改Icon Hover不變色 By cody Yang 2016/08/12*/
#div_menu_bar .sub_menu > .menu_item_row > .menu_item > .menu_item_wording a.aorusLink:hover {
	color: #ffffff;
}

#div_menu_bar .sub_menu > .menu_item_row > .menu_item > .menu_item_wording > div.menu_all_series {
	font-size: 0.65em;
}
#div_menu_bar .sub_menu > .menu_item_row > .menu_item > .menu_item_wording > div.menu_all_series > a{
	color: #999;
}
#div_menu_bar .sub_menu > .menu_item_row > .menu_item > .menu_item_wording > div.menu_all_series > a > i {
	margin-right: 0.25em;
}
.sub_menu > .menu_item_row > .menu_item > .menu_item_img, .sub_menu > .menu_item_row > .menu_item > .menu_item_wording {
	float: left;
}
.sub_menu > .menu_item_row > .menu_item > .menu_item_img {
	width: 35%;
	margin-right: 5%;
}
.sub_menu > .menu_item_row > .menu_item > .menu_item_wording {
	width: 60%;
}

/* Default A2 */
#div_A2 ul li {
	width: 24%;
	width: 24%\9;
	margin: 1% 1% 1% 0;
	overflow: hidden;
	position: relative;
} 
#div_A2 ul li:last-child {
	margin: 1% 0% 1% 0;
}
#div_A2>ul>li img {
	display: block;
}

#div_A2 > ul > li a .a2_cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 59%;
	background-color: #000000;
	color: #ffffff;
	transition: top 400ms ease 0s;
	-webkit-transition: top 400ms ease 0s;
	-moz-transition: top 400ms ease 0s;
	-o-transition: top 400ms ease 0s;
	-ms-transition: top 400ms ease 0s;
}
#div_A2 > ul > li a .a2_cover:hover {
	top: 0%;
}
#div_A2 > ul > li a .a2_cover > .a2_cover_title {
	font-size: 0.9em;
	padding: 0.5em 1em;
	height: 3.2em;
	overflow: hidden;
	line-height: 1.6;
	text-transform: uppercase;
}
#div_A2 > ul > li a .a2_cover > .a2_cover_content {
	font-size: 0.7em;
	padding-top: 2%;
	display: none;
	padding: 0 5%;
}
#div_A2 > ul > li a .a2_cover:hover > .a2_cover_content,
#div_A2 > ul > li a .a2_cover:hover > .cover_content_readmore {
	display: inline-block;
}
.cover_content_readmore {
	line-height: 3.5em;
	font-weight: 700;
	color: #6699ff;
	font-size: 0.63em;
	padding: 0 5%;
	display: none;
}
.cover_content_readmore > i{
	margin-right: 1em;
	color: #ffffff;
}
#div_page_content {
	background: url(/images/2014/game/rockss.jpg) no-repeat fixed;
}
#div_page_content[data-2016-template="true"] {
	position: absolute;
	z-index: 99;
	width: 100%;
	background: url(/images/2016/HomeBanner/mainbg.jpg) 0 0 no-repeat;
	background-size: 100%;
}
#div_page_content[data-2016-template="true"] > #div_main {
	margin-top: -1.5%;
	padding-top: 0;
	padding-bottom: 1%;
}
#div_page_content[data-2016-template="true"] > #div_main > #div_main_content {
	/*margin: 0 20%;
	max-width: 905px;*/
	margin: 0 4%;
	max-width: 1360px;
	box-shadow: 0px 11px 22px 3px rgba(0, 0, 0, 0.8);
	overflow: hidden;
}
#div_page_content[data-2016-template="true"]  #div_A2 ul li {
	/*width: 24.5%;
	width: 24.5%\9;*/
	width: 16.25%;
	width: 16.25%\9;
	margin: 0.3% 0.25%;
	overflow: hidden;
	position: relative;
	max-width: 450px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
} 
#div_page_content[data-2016-template="true"] #div_A2 ul li+li+li+li+li+li {
	margin: 0.3% 0.18%\9;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-index="2"],
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-index="3"] {
	display: none;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-index="2"],
#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-index="3"] {
	display: inline;
}

/*#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="3"][data-combo="2"],
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="1"][data-combo="1"],
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="4"][data-combo="1"],*/
#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-index="3"] {
	margin-right: 0;
}

#div_page_content[data-2016-template="true"] #div_A2 ul li[data-combo="1"] {
	max-width: 222px;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-combo="4"],
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-combo="2"] {
	width: 33%;
	max-height: 455px;
	margin: 0.3% 0.25%;
	/*width: 49.75%;
	max-height: 455px;*/
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="1"] {
	margin-left: 0;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-col="1"] {
	margin-left: 0.25%;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-combo="2"] {
	height: 50%;
	max-height: 225px;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"] {
	max-height: 225px;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"],
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-index="0"],
#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-index="2"] {
	/*max-height: 250px;*/
	margin-bottom: 0px;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-row="3"] {
	margin-bottom: 0.3%;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-margin-top="0"] {
	margin-top: 0;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li:last-child {
	margin-right: 0px;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li .div_layout {
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li a:hover > .div_layout {
	box-shadow: inset 0px 3px 30px 5px rgba(30,144,255,0.6);
	border:1px solid #1E90FF;
	border-style: inset;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li .div_wording_bg {
	background:url(/images/2016/HomeBanner/arrow_B.png) 95% 50% no-repeat;
	position:absolute;
	bottom:0;
	background-color:rgba(0,0,0,0.85);
	background-color: #000000\9;
	width:100%;
	-webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	-o-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li a:hover .div_wording_bg {
	background: url(/images/2016/HomeBanner/arrow_w.png) 95% 50% no-repeat;
	background-color: rgba(30,144,255,1);
	background-color: #1E90FF\9;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"] .div_wording_bg {
	height: 33%;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li .div_wording_bg.fb_icon {
	background-image:url(/images/2016/HomeBanner/fb.png);
}
#div_page_content[data-2016-template="true"] #div_A2 ul li a:hover .div_wording_bg.fb_icon {
	background-image: url("/images/2016/HomeBanner/fb_w.png");
}
#div_page_content[data-2016-template="true"] #div_A2 ul li .div_wording_bg.youtube_icon {
	background-image:url(/images/2016/HomeBanner/youtube.png);
}
#div_page_content[data-2016-template="true"] #div_A2 ul li a:hover .div_wording_bg.youtube_icon {
	background-image: url(/images/2016/HomeBanner/youtube_w.png);
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="3"] .div_wording_bg {
	height: 33%;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-index="0"] .div_wording_bg {
	height: 16.5%;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li .div_wording_bg > .div_wording_content {
    font-family: 'Oswald','Lato',"微軟正黑體",Microsoft JhengHei,"微軟雅黑體",Microsoft YaHei,SimHei,"新細明體", Arial,Verdana,Helvetica,sans-serif;
    color: #FFF;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 2% 3%;
    display: block;
	margin-right: 11%;
}
#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-combo="1"] .div_wording_bg > .div_wording_content {
    font-size: 0.9em;
	margin-right: 16%;
}
@media (max-width:1280px) {
	#div_page_content[data-2016-template="true"] > #div_main > #div_main_content {
		margin: 0 20%;
		max-width: 905px;
	}
	#div_page_content[data-2016-template="true"]  #div_A2 ul li {
		width: 24.5%;
		width: 24.5%\9;
	} 
	#div_page_content[data-2016-template="true"] #div_A2 ul li:last-child {
		margin: 0.3% 0.5%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-index="2"],
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-index="3"] {
		display: inline;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-index="2"],
	#div_page_content[data-2016-template="true"] #div_A2 ul li.data-is-bigscreen[data-index="3"] {
		display: none;
	}

	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="3"][data-combo="2"],
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="1"][data-combo="1"],
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="4"][data-combo="1"] {
		margin-right: 0;
	}

	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-combo="4"],
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-combo="2"] {
		width: 49.75%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="3"] .div_wording_bg {
		height: 33.3%;
	}
}

/* Footer */
#div_footer > #footer_background {
	background-color: #000000;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
#div_footer[data-defaultpage=false] > #footer_background {
	display: none;
}
#div_footer_social_icon {
	padding-top: 15%;
}

/* mtSlider fadeZoom*/
.mtSlider-item.fadeZoom {
	left: 0;
	opacity: 0;
	z-index: 0;
}
.mtSlider-item.current {
	opacity: 1;
	z-index: 10;
}
.mtSlider-item.fadeInNext {
	animation: scaleInUp 800ms ease 0s 1 normal both;
	-webkit-animation: scaleInUp 800ms ease 0s 1 normal both;
	-moz-animation: scaleInUp 800ms ease 0s 1 normal both;
	-ms-animation: scaleInUp 800ms ease 0s 1 normal both;
	z-index: 8;
}
.mtSlider-item.current.fadeOutNext {
	animation: scaleOutUp 800ms ease 0s 1 normal both;
	-webkit-animation: scaleOutUp 800ms ease 0s 1 normal both;
	-moz-animation: scaleOutUp 800ms ease 0s 1 normal both;
	-ms-animation: scaleOutUp 800ms ease 0s 1 normal both;
	z-index: 9;
}
.mtSlider-item.fadeInPrev {
	animation: scaleInDown 800ms ease 0s 1 normal both;
	-webkit-animation: scaleInDown 800ms ease 0s 1 normal both;
	-moz-animation: scaleInDown 800ms ease 0s 1 normal both;
	-ms-animation: scaleInDown 800ms ease 0s 1 normal both;
	z-index: 9;
}
.mtSlider-item.current.fadeOutPrev {
	animation: scaleOutDown 800ms ease 0s 1 normal both;
	-webkit-animation: scaleOutDown 800ms ease 0s 1 normal both;
	-moz-animation: scaleOutDown 800ms ease 0s 1 normal both;
	-ms-animation: scaleOutDown 800ms ease 0s 1 normal both;
	z-index: 8;
}
@keyframes scaleOutUp {
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}
@-webkit-keyframes scaleOutUp {
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}
@keyframes scaleInUp {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes scaleInUp {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes scaleOutDown {
	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}
@-webkit-keyframes scaleOutDown {
	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}
@keyframes scaleInDown {
	0% {
		opacity: 0;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes scaleInDown {
	0% {
		opacity: 0;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Video popup block */
.block_content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 999999;
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
}
.visible {
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
}
.block_content > .background_content {
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
}
.block_content > .info_content {
	display: none;
	left: 50%;
	margin: 0 auto;
	margin-top: 5%;
	max-width: 900px;
	position: fixed;
	width: 48%;
	top: 40%;
}
.block_content.visible > .info_content {
	display: inline;
}
.block_content > .info_content > .close_content {
	color: #cccccc;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5em;
	float: right;
	height: 0.9em;
	width: 0.9em;
	margin-bottom: 0.5em;
	max-height: 30px;
	max-width: 30px;
	transition: transform 500ms ease 0s;
	-webkit-transition: transform 500ms ease 0s;
	-moz-transition: transform 500ms ease 0s;
	-o-transition: transform 500ms ease 0s;
	-ms-transition: transform 500ms ease 0s;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
.block_content > .info_content > .close_content:hover {
	transition: transform 500ms ease 0s;
	-webkit-transition: transform 500ms ease 0s;
	-moz-transition: transform 500ms ease 0s;
	-o-transition: transform 500ms ease 0s;
	-ms-transition: transform 500ms ease 0s;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.block_content > .info_content > #popup_video {
	background-color: #000000;
	border: 2px solid #333333;
	height: 100%;
	max-height: 506px;
}
.block_content > .info_content > .youtube_cover {
	background-color: #000000;
	border-bottom: 1px solid #333333;
	height: 100%;
	left: 2px;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 2.3em;
}
.block_content > .info_content > .youtube_cover > a {
	color: #cccccc;
	font-size: 60%;
	text-decoration: none;
}
.block_content > .info_content > .youtube_cover > a > div {
	color: #cccccc;
	display: inline-block;
	font-size: 500%;
	margin-top: -10%;/*-1.2em*/
	position: relative;
	top: 50%;
}
.block_content > .info_content > .youtube_cover > a > div > img {
	position: absolute;
	right: -45%;/*1.8em;*/
	width: 55%;
}
.block_content > .info_content > .youtube_cover > a > div > div {
	font-size: 60%;
	line-height: 200%;
}

/* Model Page*/
section[id^=parallax-] {
	color: #ffffff;
	margin: auto -13%;
}
div[id^=itemblock_kf].fullWidth {
	margin: auto -13%;
}
div[id^=itemblock_kf].fullWidth>div>.text2memo,
div[id^=itemblock_kf].fullWidth>div>.text2memo+div+div,
div[id^=itemblock_kf].fullWidth>form>div>.text2memo,
div[id^=itemblock_kf].fullWidth>form>div>.text2memo+div+div{
	margin-left: 10.3%;
	margin-right: 10.3%;
}

@media (max-width:1200px) {
	#div_A2 > ul > li a .a2_cover:hover {
		top: 59%;
	}
	#div_A2 > ul > li a .a2_cover:hover > .a2_cover_content ,
	#div_A2 > ul > li a .a2_cover:hover > .cover_content_readmore {
		display: none;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="2"][data-col="3"] {
		margin-bottom: 0.6%;
	}
	#div_page_content[data-2016-template="true"] > #div_main > #div_main_content {
		margin: 0;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li .div_wording_bg,
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-col="1"] .div_wording_bg,
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-col="3"] .div_wording_bg,
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-col="4"] .div_wording_bg,
	#div_page_content[data-2016-template="true"] #div_A2 ul li a:hover .div_wording_bg,
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-col="1"] a:hover .div_wording_bg,
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-col="3"] a:hover .div_wording_bg,
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-col="4"] a:hover .div_wording_bg {
		background-image: url('');
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li .div_wording_bg > .div_wording_content {
		margin-top:3%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li .div_wording_bg > .div_wording_content {
		font-size: 0.8em;
		line-height: 2em;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-combo="1"] .div_wording_bg > .div_wording_content {
		font-size: 0.6em;
		line-height: 1.5em;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="1"] .div_wording_bg {
		height: 18%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="3"] .div_wording_bg {
		height: 38%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"] .div_wording_bg {
		height: 30%;
	}
}
@media (max-width:1024px) {

		#div_menu_bar {
			display: none;
		}
		#div_small_menu {
		display: block;
		float: left;
		margin-left: 46%;
		margin-top: 0.7%;
		padding-top: 0.7%;
		width: 1.5em;
		}
		.toggle {
		display: block;
		}
		/*調整主選單高度，修正RWD下拉式選單與Header間的空隙 By Cody Yang 2016/08/03*/
		.nav {
			top: 3.4em;/*3.6em*/
		}
		#div_full_search {
			width: 11%;
		}
		
}

@media (max-width:1000px) {
	#div_A2 > ul > li a .a2_cover > .a2_cover_title {
		font-size: 80%;
		line-height: 2.3;
	}
}
@media (max-width:840px) {
	#div_A2 > ul > li a .a2_cover > .a2_cover_title {
		font-size: 75%;
		line-height: 2.3;
	}
	#div_small_menu {
		margin-top: 1%;
		padding-top: 1%;
	}

	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="1"] .div_wording_bg {
		height: 22%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="3"] .div_wording_bg {
		height: 45%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"] .div_wording_bg {
		height: 30%;
	}
}
@media (max-width:640px) {
	/* Menu */
	#div_small_menu {
		display:block;
		float:left;
		margin-left:40%;
		padding-top:5px;
		margin-top:5px;
		width:8%;
	}
	.nav {
		top: auto;
	}

	#div_A2 ul li,#div_A2 ul li:last-child {
		width: 48%;
		margin: 1%;
	}
	#div_A2 > ul > li a .a2_cover > .a2_cover_title {
		font-size: 100%;
		line-height: 1.6;
	}
	#div_header.gaming {
		position: relative;
	}
	/* Footer */
	#footer_div_lang {
		margin-right: 5%;
		padding-left: 3%;
		padding-right: 0;
	}
	#footer_content_left>#div_footer_social_icon {
		display: inline-block;
		float: none;
		padding-top: 2%;
		width: 5em;
	}
	#div_footer_social_icon > a {
		margin-right: 10%;
	}
	/* Model Page*/
	section[id^=parallax-] {
		margin: auto -3%;
	}
	div[id^=itemblock_kf].fullWidth {
		margin: auto -3%;
	}
	div[id^=itemblock_kf].fullWidth>div>.text2memo,
	div[id^=itemblock_kf].fullWidth>div>.text2memo+div+div,
	div[id^=itemblock_kf].fullWidth>form>div>.text2memo,
	div[id^=itemblock_kf].fullWidth>form>div>.text2memo+div+div{
		margin-left: 3%;
		margin-right: 3%;
	}
}

@media (max-width:480px) {
	#div_A2 > ul > li a .a2_cover > .a2_cover_title {
		font-size: 65%;
	}

	/* A2 A3 */
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="1"] .div_wording_bg {
		height: 18%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-col="3"] .div_wording_bg {
		height: 38%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"] .div_wording_bg {
		height: 45%;
	}
	#div_page_content[data-2016-template="true"] #div_A2 ul li[data-row="3"][data-col="1"] .div_wording_bg {
		height: 55%;
	}
}
/* 產品頁Add to Comparison List部分RWD自動往下排列 By Cody 2016/06/29*/
#div_comparison_checkbox #pnl_chk {
	/*display: inline-block;*/
}

/*增加Header Footer IG ICON 調整版面設定 By Cody 2016/06/27*/

#div_menu_bar {
	width: 43%;
}
#div_media_icon {
    width: 7em;
}
.modelPageCompare {
	width: 33%;
}

@media (max-width: 640px) {

	#footer_content_left > #div_footer_social_icon {
		width: 7em;
	}
}

@media (max-width: 1024px) {
	#div_small_menu {
	margin-left: 38%;
	}
}