/*----------------------------- BODY ----------------------------*/
body
{
	margin:0 auto;
	background-color: #383a3d;
	font-size: 13px;
	-webkit-text-size-adjust:none;
	width: 100%;
	height: 100%;
}
img{ max-width: 100%;}
#header_product_arrow_pic {
	max-width: none;
}
.news_description2 img {
	max-width: none;
}
.pageMain
{
	margin:0 auto;
}
/*----------------------------- /BODY ----------------------------*/
/*-----------------------------頁首區塊------------------------------*/
.header
{
    background:#383a3d url(/images/header_Bgn.jpg) repeat-x left top;
}
.header_inner
{
    margin:0 auto;
}
.logo
{	
	height: 66px;
	margin:0 auto;
}
#header_CNAd {/*中國框度低於640時 廣告2字垂直顯示 by neal 20160829*/
		margin-right: 5%;
	}
/*** Top 內容的快捷列 ***/
.Quick 
{
	float:right;
	margin-top:25px;
	font-size:11px;
	color:#c2c2c2;
}
.Quick a
{
	color:#e7e4e4;
	text-decoration:none;
}
.Quick a:hover
{
	color:#ffffff;
	text-decoration:underline;
}
.search
{
    padding-left:3px;
    width:114px; 
    height:15px; 
    line-height:15px;
    background: url(/images/Search_Bar_01.png) no-repeat left top;
    border:0;
    color:#292929;
    float:left;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.search_bg
{
    float:left;
    border:0;
    width:18px; 
    height:17px; 
    line-height:17px;
    background: url(/images/Search_Bar_02.png) no-repeat left top;
    cursor:pointer;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*** 主選單區塊 ***/
.menu
{
	width: 970px;
	height:40px;
	margin: 0 auto;
    font-size: 13px;
	font-weight: bold;	
}
/*-----------------------------/頁首區塊------------------------------*/
/*-----------------------------主區域-------------------------------*/
.main
{
	margin:0 auto;
    background-color:#fff;
	padding-bottom:10px;
}
.banner
{
	width:970px;
	height:293px;
	margin:5px 0px 0px 0px;
	background:url(/images/Bannerbuttom_Shadow.png) no-repeat center bottom;
}
.banner_inn
{
	background:#383a3d;
}
/*-----------------------------/主區域-------------------------------*/
/*-----------------------------頁尾區塊------------------------------*/
.footer
{
	margin:0 auto;
	text-align: left;	
	font-size:11px;	
	color:#525253;	
	background:url(/images/Footer_Bg.png) repeat-x left top;
	-webkit-text-size-adjust:none;
}
.footerBorder
{	
    padding:15px 0px 5px;        	
	font-size:12px;	
	font-weight:bold;
	color:#131313;	
}
.footerBorder a
{
	text-decoration: none;
	color:#131313;
}
.footerBorder a:hover
{	
	color:#1d6cfe;
}
/*-----------------------------/頁尾區塊------------------------------*/
/*---------------------上方site map & hot heywords-----------------------*/
/*** Site Map ***/
.sitemap
{	
	height:25px;	
	padding:8px 10px 8px 10px;	
	font-size: 12px;	
	text-align:left;
	background:url(/images/Inside_Headershadow.png) no-repeat center top;
}
.sitemap_nbg
{	
	height:25px;	
	padding:8px 10px 8px 10px;	
	font-size: 12px;	
	text-align:left;
}
.sitemapblue
{
	color:#01b9ff;
}
.sitemapblue:hover
{
	color:#1065cd;
	text-decoration:underline;	
}
.sitemapgray
{
	color:#434343;
	text-decoration:none;
}
.sitemapgray:hover
{
	color:#1065cd;
	text-decoration:underline;	
}
/*** 標題 ***/
.title
{
    padding-bottom:24px;
    background:url(/images/bar_long.gif) left top no-repeat;
    height:32px;
}
.titlename
{
	float: left;
	color: #365882;
	font-size: 14pt;
	font-weight: bold;
}
.titlename_sub
{
    margin-left:5px;
	font-size:11px;
}
.title_main
{
    margin:0px 10px 1px 10px;
}
.keywords
{
	float: right;
	font-size: 12px;
	font-weight:bold;
    padding-top:6px;
    color: #3d3d3d;
}
.keywords a
{
	color: #F60;
	text-decoration:none;
}
 .keywords a:hover
{
	text-decoration:underline;
}
/*---------------------/上方site map & hot heywords-----------------------*/
/*-----------------------------左方區塊------------------------------*/
/*** 產品線 ***/
.left
{
	float: left;
	width: 18%;
	_width: 18%;
    _overflow:hidden;
}
.leftborder
{
	float: left;
	width: 207px;
	_width: 200px;
	_overflow:hidden;
}
.leftheader
{
	height:31px;
	padding:0px 0px 0px 10px;	
	background:url(/images/Line_list.png) no-repeat center bottom;
}
.leftheadertitle
{    
	margin:0 auto;
	height:15px;
	padding:0px 0px 0px 0px;
	color:#1d6cfe;	
	font-size:16px;
	font-weight:bold;		
}
.leftfooter
{
    height:7px;
	background:url(/images/Inside_spb.png) no-repeat center top;
    margin:10px 0px 6px;
}
/*** 產品線內容 ***/
.leftcontent
{
    padding:5px 0px 0px 20px;
}
.leftcontent ul
{
	margin:0;
	padding:0;
}
.leftcontent ul li
{
	font-size:14px;
	font-weight:bold;
	list-style-type:none;
}
.leftcontent ul li.out .cate
{
	text-decoration:none;
	color:#1d6cfe;
	line-height:22px;
}
.leftcontent ul li.out a :not(.subUL)
{
	text-decoration:none;
	color:#1d6cfe;
	line-height:22px;
}
.leftcontent ul li.out a:hover
{
	text-decoration:underline;
}
.leftcontent ul li a
{
	color:#2b2b2b;
	text-decoration:none;
	line-height:22px;
}
.leftcontent ul li a:hover
{
	color:#1D6CFE;
}
.leftcontentline
{	
	width:165px; 
	margin-top:7px; 
	padding-top:7px;
	background:url(/images/Inside_sp.png) no-repeat center top;
}
.leftcontenthide
{	
    display:none;
}
.leftcontent .LV1 a {
    font-size: 14px;
    font-weight:700;
    color:#1D6CFE;
    text-decoration:none;
    line-height:22px;
    list-style-type:none;
}
.leftcontent .LV1 a:hover {
    font-size: 14px;
    font-weight:700;
    color:#1D6CFE;
    text-decoration:underline;
    line-height:22px;
    list-style-type:none;
}
.leftcontent ul li span
{
	color:#2B2B2B;
	text-decoration:none;
	line-height:22px;
}
.leftcontent ul li span:hover
{
	color:#1D6CFE;
}
.leftcontentLineList
{	
	margin-top:7px; 
	padding-top:7px;
	background:url(/images/Line_list.png) no-repeat center top;
}
.leftcontentLineSeries
{	
	margin-top:7px; 
	padding-top:7px;
	background:url(/images/Line_series.png) no-repeat center top;
}
/*-----------------------------/左方區塊------------------------------*/
/*** 左邊四個ICON圖示 ***/
.blockicon_b
{
	position:relative;
	height:1px;
	width:197px;
	display:table;	
	margin:0 auto;
}
.blockicon
{
    position:relative;
	height:43px;
	width:196px;
	display:table;	
    margin:0 auto;
}
.blockicontitle
{
    top:50%;
    position:absolute;
    padding-left:45px;
    display:table-cell;	
	vertical-align:middle;	
}
.blockicontitle a
{    
    top:-50%;
    position:relative;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	color:#3d3d3d;
}
.iconbar
{
    background-image:url(/images/ServiceBtn_bar.gif);		
}
.snd
{
    background-image:url(/images/ServiceBtn_download.gif);		
}
.gchl
{
    background-image:url(/images/ServiceBtn_channel.gif);
}
.gchl_cn
{
    background-image:url(/images/ServiceBtn_channel_cn.gif);
}
.ts
{
    background-image:url(/images/ServiceBtn_technical.gif);
}
.cs
{
    background-image:url(/images/ServiceBtn_servicecenter.gif);
}
.cm
{
    background-image:url(/images/ServiceBtn_socialMedia.gif);
}
.cp
{
    background-image:url(/images/ServiceBtn_comparison.gif);
}
.wtb
{
    background-image:url(/images/ServiceBtn_WTB.gif);
}
/*** 其他連結 ***/
.blockullist
{
	list-style-type:none;
}
.blockullist li
{
    margin:0px 5px 0px -15px;
	font-size:13px;
	color:#808080;	
	line-height:20px;
	font-weight:bold;
}
.blockullist li a
{
	color:#666;	
	text-decoration:none;
}
.blockullist li a:hover
{
	color:#1D6CFE;
}
/*** 左方區塊, 其他說明的區塊 ***/
.blockdesc
{
    padding:30px 0px 0px 0px;
	font-size: 7pt;
	line-height:16px;
	color: #808080;	
}
/*--------------共用_左欄空白型選單----------------*/
.blankbox_header
{
    height:16px;
	background:url(/images/border3_none_header.gif) no-repeat left top;	
}
.blankbox_content
{
    padding:0px 7px 0px 7px;
}
.blankbox_footer
{
    height:7px;
    margin:0px 0 6px;
    background:url(/images/Inside_spb.png) no-repeat center top;
}
.blankbox_content ul
{
    margin:0;
    padding:0;
}
.blankbox_content ul li
{
    padding:13px 0px 11px 15px;	
	font-size:15px;
	color:#808080;
	list-style:none;
	font-weight:bold;	
}
.blankbox_content ul li a
{
	color:#000;	
	text-decoration:none;
	
}
.blankbox_content ul li .page_anc
{
    color:#F60;
}
.blankbox_content ul li a:hover
{
	color:#1d6cfe;	
}
/*-------藍色/灰色超連結 移入變橘色------*/
.otherblue
{
    color:#1D6CFE;
}
.othergray
{
    color:#696969;
}
.othertitle
{
	font-weight:bold;
	text-decoration:none;	
}
.othertitle:hover
{
	color:#F60;
	text-decoration:none;	
}
/*---------------藍色文字連結不變色--------------*/
.otherblueline
{
    color:#1D6CFE;
    text-decoration:none;	
}
.otherblueline:hover
{
    text-decoration:underline;	
}
/*------------------橘色超連結-----------*/
.otherorg
{
    color:#F60;
    font-size:12px;
	font-weight:bold;
	text-decoration:none;	
}
.otherorg:hover
{
	color:#F60;
	text-decoration:underline;	
}
/*---------------深藍色超連結-------------------*/
.linkdarkblue {
    color:#103BC8;
    font-weight:bold;
    text-decoration:none;
}
.linkdarkblue:hover {
    text-decoration:underline;
}
/*------------------ajax status-------------------*/
.spiffy{display:block;}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;}
.spiffy_1{
  margin-left:2px;
  margin-right:2px;
  padding-left:1px;
  padding-right:1px;}
.spiffy_2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;}
.spiffyfg{
  color:White;
}
.spiffyblue *
{
    background:#1d6cfe;
}
.spiffyred *
{
    background:#E10000;
}
.spiffyyell *
{
    background:yellow;
}
.spiffyblueb
{
    border-left:1px solid #1d6cfe;
    border-right:1px solid #1d6cfe;
    background:#1d6cfe;
}
.spiffyredb
{
    border-left:1px solid #E10000;
    border-right:1px solid #E10000;
    background:#E10000;
}
.spiffyyellb
{
    border-left:1px solid yellow;
    border-right:1px solid yellow;
    background:yellow;
}
/*--------------------------文字CSS----------------------------*/
.text
{
	color:#3d3d3d;
	line-height:22px;
}
.text a
{
	font-size:12px;
	line-height:20px;
	color:#ff6600;
	font-weight:bold;
}
.newtitle
{
	font-weight:bold;
	color:#1D6CFE;
}
.newtitle a
{
	text-decoration:none;
	color:#1D6CFE;
}
.newtitle a:hover
{
	text-decoration:none;	
}
.text_13
{
	font-size:13px;
	color:#3d3d3d;
}
.text_13 .text_b
{
    font-weight:bold;
    line-height:22px;
}
.text_13 .text_blue
{
    font-weight:bold;
    line-height:22px;
    color:#1D6CFE;
}
.text_13 a
{
	text-decoration:none;
	color:#1D6CFE;
}
.text_13 a:hover
{
	text-decoration:underline;
}
.text2
{
	color:#3d3d3d;
	line-height:20px;
}
.text2b
{
    font-weight:bold;    
}
.text2 a
{
	font-size:12px;
	color:#1D6CFE;
	font-weight:bold;
}
.text2 a:hover
{
	color:#ff6600;
}
.text5
{
	font-size:12px;
	color:#3d3d3d;
	line-height:18px;
}
.text5 a
{
	font-size:12px;
	color:#1d6cfe;
	font-weight:bold;
}
.text5 a:hover
{
	color:#ff6600;
}
.title2
{
	font-size:13px;
	line-height:20px;	
	font-weight:bold;
	color:#1D6CFE;
}
.title2 a
{
	text-decoration:none;
	color:#1D6CFE;
}
.title2 a:hover
{
	text-decoration:underline;	
}
.title3
{
	line-height:20px;
	font-weight:bold;
	color:#1D6CFE;
}
.title3 a
{
	text-decoration:none;
	color:#1D6CFE;
}
.title3 a:hover
{
	text-decoration:underline;
}
.title4
{
	font-size:15px;
	line-height:22px;
	font-weight:bold;
	color:#1D6CFE;	
}
.title4 a
{
	text-decoration:none;
	color:#1D6CFE;	
}
.title4 a:hover
{
	text-decoration:none;
	color:#ff6600;
}
.text3
{
   font-size:11px;
   color:#3d3d3d;   
}
.text3 a
{
   color:#3d3d3d;
   text-decoration:none;     
}
.text3 a:hover
{
    text-decoration:underline;       
}
/*---------------------gray word----------------------*/
.nrbar
{    
    font-size:16px;
    font-weight:bold;
    color:#666666;    
}
.clear
{
    clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	float: none;
}
.clearh
{
    clear: both; height:1px; margin-top:-1px; overflow:hidden;
}
.lan_tbl a
{
    color:#3d3d3d;
    font-size:11px;
}
.lan_hover
{
    background:#1D6CFE;
}
.lan_hover a
{
    color:#ffffff;
    background:#1D6CFE;
}
.lan_hover a:hover
{
    color:#ffffff;
    background:#1D6CFE;
    text-decoration:none;
}
.alertred
{
    color:#ff0000;
}
.alertred a
{
    color:#ff0000;
     font-weight:normal;
}
.alertred a:hover
{
    color:#ff0000;
}
/*---------------------button----------------------*/
.btn_sel
{
    font: normal 12px Arial, Helvetica, sans-serif;
    width: 90px;
	height: 22px;	
	background: url(/images/btn_sel.gif) no-repeat top left;
	border: none;	
	color: #000000;
}
.btn_sel:hover {
    cursor:pointer;
	background: url(/images/btn_sel.gif) no-repeat bottom left;
	color: #ffffff;
}
.btn_sel.marginleft{
	margin-left: 6px;
}
/*---------------------select----------------------*/
.selectstyle {
	color: #3d3d3d;
	font-size: 12px;
	border-top: 1px solid #BAB9B9;
	border-right: 1px solid #BAB9B9;
	border-bottom: 1px solid #BAB9B9;
	border-left: 1px solid #BAB9B9;
	background-image: url('/images/input_bg.gif');
	height:22px;
}
optgroup {
	color: #3d3d3d;
	font-size: 12px;
}
.search_input 
{
    height:18px;
    background-image:url(/images/input_bg.gif);
    border:1px solid #BAB9B9;
    color:#666666;
    font-size:12px;    
    line-height:15pt;
}
.mda{
    float: right;
	font-size: 12px;
    padding-top:6px;
    color: #000000;
    margin-right:10px;
}
.flag{
    background: url(/images/flag.gif) no-repeat left center;
    margin-left:13px;
    padding-left:17px;
    font-weight:bold;
    font-size:11px;
    color:#ff0000;
}
.legacy{
    margin-left:13px;
    font-weight:bold;
    font-size:11px;
    color:#ff0000;
}
.text_nb {
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    position: relative;
}
.text_nb a {
    color:#ff0000;
}
.blockfooter
{
	background:url('/images/Inside_spb.png') no-repeat center top;
	height:7px;
	margin:10px 0px 6px;
}
.bgg{
    margin:0 auto;
    background:url(/images/Shadow_BG.png) no-repeat center top;
}
/*MDA Win8*/
.MDA_Up a {
        font-size:13px;
        color:#F60;
        font-weight:bold;
}
.MDA_Up a:link {
        font-size:12px;
        color:#F60;
}
.MDA_Up a:hover{
        font-size:12px;
        color:#F60;
}
.MDA_Up a:active {
        font-size:12px;
        color: #F60;
}