﻿@media (max-width: 640px) {
	select {
		width: 190px;
	}
	input[type='text'] {
		width: 176px;
	}
	#titleRespondBack > #link_admin_search {
		font-size: 90%;
		color: #ffffff;
		font-weight: normal;
		text-decoration: none;
	}
	#link_admin_search>span {
		float: left;
		width:15px;
		margin-left:3%;
		margin-top:3px;
		margin-right: 5%;
	}
	#div_respond_about {
		display: block;
	}
	#div_main {
		width:94%;
	}
	#div_menu_bar, #div_media_icon, #div_full_search, #div_news {
		display: none;
	}
	body>div {
		overflow: hidden;
	}
	body>div[id^=simplemodal-] {
		overflow: visible;
	}
	div[id$=div_silder_banner] {
		margin-left: -10%;
	}
	#div_logo {
		width: 30%;
	}
	.limit_css_left {
		padding-left: 0%;
	}
	.respond.limit_css_left {
		padding-left: 3%;
	}
	.limit_css_right {
		padding-right: 0%;
	}
	.respond.limit_css_right {
		padding-right: 3%;
	}
	div.nivoSlider {
		width: 120%;
	}

	#div_main_content ul {
		margin-left: -1%;
		margin-right: -1%;
	}
	#div_A2 {
		margin-top: 2%;
	}
	#div_A2 ul li,#div_A2 ul li:last-child {
		width: 48%;
		 margin: 1%;
	}
	/*News*/
	/* nivo Silder*/
	.nivo-prevNav {
		margin-left: 8%;
	}
	.nivo-nextNav {
		margin-right: 8%;
	}
	/* footer*/
	.ul_menu_footer {
		display: none;
	}
	.ul_menu_footer_respond {
		display: block;
	}
	/* footer */
	/* Model Page */
	.blocktab iframe {
		display: none;
	}
	#div_goTop {
		display: none;
	}
	#titleRespondBack {
		float: left;
		font-size: 80%;
		line-height: 24px;
		margin-top: -2px;
		margin-right: 15px;
	}
	#divRespondTitle {
		float: left;
		margin-left: 2%;
		width: 60%;
		white-space: normal;
	}
	/* Tab li */
	#li_pg, #li_dt {
		display: block;
	}
	#li_dl, #li_ot {
		display: none;
	}
	/* Tab li */
	#sitemap, .titleonly, #pnl_subtitle, #div_comparison_checkbox, #div_share, #photolist, div[id^=itemblock_].show, .rss {
		display: none;
	}
	div[id$=_respond].show {
		display: block;
	}
	.respond.titlename {
		display: block;
		background: #1C1C1C;
		color: #ffffff;
		text-align: left;
		float: inherit;
		padding: 3%;
		margin-bottom: 0px;
	}
	.respond.titlename.white {
		background: #ffffff;
		color: #000000;
	}
	.respond.titlename.otherpage.othermain {
		padding-left: 3%;
	}
	#div_main {
		margin-top: 0px;
		padding-top: 0px;
	}
	.menutab {
		padding-top: 0px;
	}
	.menutab li {
		float: inherit;
		padding-left: 5%;
		border-bottom: 1px solid #cccccc;
		background: url(/images/2014/model_page/bg.png) repeat-x;
		background-color: #FFFFFF;
	}
	.menutab li.select {
		border: 0px;
		margin-bottom: 0px;
		border-bottom: 1px solid #cccccc;
	}
	.menutab li.select a, .black.menutab li.select a {
		color: #2323AA;
	}
	.menutab li a {
		text-align: left;
		color: #000000;
	}
	#div_product_info {
		border: 0px;
	}
	.leftblock, .rightblock, .right {
		float: inherit;
		width: 100%;
	}
	.right.respond {
		padding: 0;
	}
	#leftblock.left {
		display: none;
	}
	.pdmt {
		width: 100%;
	}
	.respond .blocktabpic {
		width: 30%;
	}
	.respond .blocktabcon {
		width: 60%;
	}
	.itemAward {
		max-width: 100%;
		min-width: 50%;
		float: none;
		min-height: 0px;
		padding-top: 5%;
	}
	.text2:not(.downloadcenter) a {
		color: #666666;
	}
	#tcnl_main .text2 a {
		color: #1d6cfe;
	}
	.title3:not(.downloadcenter):not(.frequently) a {
		color: #000000;
		text-decoration: underline;
	}
	.blackBackground .title3 a,.blackBackground .title3:not(.downloadcenter):not(.frequently) a {
		color: #ffffff;
	}
	/* Overview Respond */
	.newtitle {
		font-size: 130%;
	}
	.blocktab>.blocktabcon {
		font-weight: bold;
	}
	/* Overview Respond */
	/* FAQ Respond */
	.itemDiv {
		border-bottom: 1px solid #CCCCCC;
		padding-bottom: 5%;
		padding-top: 5%;
		color: #000000;
	}
	.titleDiv {
		font-size: 130%;
		font-weight: bold;
		margin-bottom: 2%;
	}
	.imgDiv {
		float: left;
		margin-right: 2%;
		width: 30%;
	}
	.descriptionDiv {
		font-weight: bold;
	}
	.blockCutSeeMore {
		color: #0000ff;
	}
	/* FAQ Respond */
	.itemAward .text2 {
		color: #000000;
		font-size: 100%;
	}
	.itemAward .itempic {
		padding: 0px;
	}
	.midborderline,table.tblborder td {
		color: #000000;
	}
	table.tblborder td {
		font-weight: bold;
	}
	.midborderline {
		font-size: 130%;
	}
	/* blckBackgournd */
	.black.menutab li.select {
		border-color: #CCCCCC;
	}
	.blackBackground .itemDiv, .blackBackground .itemAward .text2 {
		color: #ffffff;
	}
	/* blckBackgournd */
	/* Model Page */
	/* Footer */
	div[id$=div_lang] {
		float: left;
		margin-top: 2%;
		width: 35%;
	}
	#div_footer_social_icon {
		float: left;
	}
	#div_footer_social_icon img {
		padding-bottom: 10%;
		padding-left: 5%;
		padding-top: 5%;
		width: 35%;
	}
	#footer_content_left {
		float: left;
		max-height: 49px;
		max-width: 100%;
		width: 100%;
	}
	.footer_item {
		padding-right: 0%;
	}
	.ul_menu_footer > li:first-child {
		padding-left: 0%;
	}
	.ul_menu_footer li {
		padding-right: 4%;
	}
	.ul_menu_footer li:last-child {
		padding-right: 0%;
	}
	#div_copyright div.clear {
		display: block;
	}
	/* Footer */
	/* Product Main Page*/
	#div_B2, #div_product_category {
		margin: 5% auto;
	}
	#div_B2 > ul > li {
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#div_product_category > ul > li, #div_product_category.peripheral>ul>li {
		width: 46%;
		padding-left: 1.6%;
		padding-bottom: 3%;
	}
	#div_B2 > ul > li > div > span {
		width: 50%;
	}
	.leftmenu_back_btn {
		display: none;
	}
	.vga_3icon_btn {
		width: 30%;
	}
	#div_product_category > ul > li {
		position: relative;
	}
	.title_main {
		display: none;
	}
	#div_admin_search {
		position:absolute;
		top: 20%;
		left: 5%;
	}
	#div_admin_search > a {
		font-size: 60%;
		color: #ffffff;
		font-weight: normal;
	}
	#pan_adm_reset {
		position: absolute;
		right:20px;
		top: 20px;
	}
	#pan_adm_reset > a {
		font-size: 70%;
		color: #ffffff;
		text-decoration:none;
	}
	.leftcontent > ul > li {
		border-bottom: 0;
	}
	.leftcontent > ul > ul, .leftcontent > ul:not(.nonBottomUnderline) {
		width: 80%;
		border-color: #333333;
	}
	.spn_b2_title {
		padding-left: 5%;
		font-weight: bold;
		font-size: 200%;
	}
	.spn_b2_title a {
		text-decoration: none;
		color: #ffffff;
	}
	/* Product Main Page*/
	/*header 與首頁    Hugo*/
	#div_m_news {
		border-left: 3px solid #000000;
		display:block;
		margin-bottom:10px;
	}
	#div_m_news>div {
		font-weight: bold;
		border-bottom:1px solid #cccccc;
		margin-top: 1.6%;
		padding-left: 1.6%;
		margin-left: 3%;
	}
    .nav {
        display: none;
		background: #000000;
    }
	#div_small_menu {
		display:block;
		float:left;
		margin-left:40%;
		padding-top:5px;
		margin-top:5px;
		width:8%;
	}
    .toggle {
		display: block;
        color: #FFF;
    }
    .nav2 {
        display: none;
		background: #000000;
    }
	#div_small_search {
		display:block;
		float:left;
		margin-left:5%;
		margin-right:5%;
		padding-top:5px;
		margin-top:5px;
		width:8%;
	}
	.toggle2 {
		display: block;
    }
    .nav li{
		float:	left;
    }
    nav li a{
		padding: 10px 0px;
    }
	nav li .menuli2 a{
		padding: 5px 0px;
    }
    .arrow-bottom {
        top: 20px;
    }
	/*header 與首頁    Hugo*/
	.menutab {
		height:auto;
	}
	.nivo-controlNav {
		display:none;
	}
	/* From list-page.css */
	.curr > a {
		display: none;
	}
	/* Left Menu */
	.leftslidermenu {
		background-color: #000000;
		color: #FFFFFF;
		padding-top: 20px;
		position: absolute;
		width: 190px;
	}
	/* Left Menu*/
	/* List Page */
	#compareicon {
		display: none;
	}
    .filterselect {
        padding: 10px 0px;
    }
	.rightborder {
		width: 100%;
	}
	.item.byphoto {
		padding-right: 5%;
		width: 45%;
	}
	#div_select_sort {
		display: none;
	}
	.resultbar {
		padding-top: 2%;
		width: 100%;
		font-size: 80%;
		position: relative;
	}

	.itemsub.byphoto>input {
		display: none;
	}
	/* List Page */
	/* Product Main Page*/
    .leftcontent.leftslidermenu ul li a {
        color: #FFFFFF;
    }
	/* Product Main Page*/
	/*----------------Contact US---------------*/
	#topic.contactus {
		padding: 0;
	}
	.about_description2, .about_text_13, .about_content, .about_selectstyle {
		font-size: 90%;
	}
	/* Other page have respond pag*/
	.right {
		padding: 0;
	}
	.pressbox,#tbl_faq, #tcnltitle, #tcnl, #other_desc, #faqlist {
		display: none;
	}
	.download.respond,#faqlist_respond,#leftblock_respond, #localizedDivRespond {
		display: block;
		font-size: 100%;
	}
	#localizedDivRespond {
		margin-bottom: 10%;
	}
	.download.respond .nrbar, #faqlist_respond .nrbar, #localizedDivRespond .nrbar {
		margin:5% 0px 1% 0px;
		font-size: 130%;
	}
	.download.respond #div_search_by_keywords>a,
	#faqlist_respond #div_faq_search_by_category > a {
		color: #1d6cfe;
	}
	#faqlist_respond {
		margin-bottom: 5%;
	}
	#faqlist_respond .search_input {
		margin:3% auto;
		height:18px;
		vertical-align:middle;
		color: #000000;
	}
	#faqlist, .selectstyle_sd.respond {
		font-size: 90%;
	}
	.sd_submit.respond {
		font-size: 90%;
		position: relative;
		margin-top: 3%;
		margin-bottom: 3%;
		float: none;
		border: 0px;
		height: 22px;
		width: 90px;
		text-align: center;
		margin-left: 4%;
	}
	#faqlist > #div_faqtitle > div.faqmore {
		display: none;
	}
	#div_faqtitle {
		border: 0px;
	}
	.blankbox_content ul li {
		font-size: 120%;
		padding: 0px;
		border: 0px;
	}
	#leftblock_respond .blankbox_footer {
		background: url('');
	}
	#leftblock_respond ul li[seq='96_1100'], #leftblock_respond ul li[seq='96_1102'], 
	#leftblock_respond ul li[seq='96_1185'], #leftblock_respond ul li[seq='96_1186'],
	#leftblock_respond ul li[seq='96_-1'], #leftblock_respond ul li[seq='96_-129'], #leftblock_respond ul li[seq='96_-164'] {
		display: none;
	}
	.other_respond_icon .divLink {
		float: left;
	}
	.other_respond_icon .divSpace {
		margin-bottom: 5px;
	}
	#ddl_download_respond.selectstyle_sd.respond {
		height: 22px;
		width: 190px;
	}
	/* FAQs Page*/
	#faq_filter {
		margin: 0px 0px 10px 0px;
	}
	#faq_filter .text2_sd_faq_title1, #faq_filter>.text_13_sd>span.text_b, .category_sd,
	#download_filter .text2_sd_title1, #download_filter>.text_13_sd>.text_b,
	#topselect.filterselect_sd>.selectstyle_sd_cs_label>.text_b,
	#newsroom_filter.filterselect_mr>.news_text_13>.text_b {
		display: none;
	}
	#faq_filter>.text_13_sd>span.text_blue, #download_filter>.text_13_sd>.text_blue,
	#topselect.filterselect_sd>.selectstyle_sd_cs_label>.text_blue,
	#newsroom_filter.filterselect_mr>.news_text_13>.text_blue,
	#filter.wtbfilter .text_13_wtb>.text_blue {
		color: #000000;
	}
	#faq_filter input, #faq_filter select {
		margin-top: 1%;
		margin-bottom: 1%;
	}
	#faq_filter input[type='submit'] {
		margin-top: 2%;
	}
	#faq_filter table input, #faq_filter table select {
		margin-top: 3px;
	}
	.text_13_sd .text_blue,#faq_filter input, #faq_filter select,#faq_filter .text2,
	#newsroom_filter.filterselect_mr>.news_text_13>.text_blue,
	#newsroom_filter.filterselect_mr #topsearch .news_btnsel,
	#newsroom_filter.filterselect_mr>.news_text_13>.text_blue {
		font-size: 100%;
		margin-left: 0px;
	}
	#faq_filter input.btn_sel,
	#newsroom_filter.filterselect_mr #topsearch .news_btnsel {
		margin-left: 2%;
	}
	#faq_filter input, #faq_filter select,#faq_filter .text2{
		font-size: 95%;
	}
	#newsroom_filter.filterselect_mr #topsearch .news_btnsel {
		font-size: 90%;
	}
	.faq_headline_sd {
		font-size: 130%;
	}
	.result_sd, .pageview_sd {
		font-size: 150%;
	}
	#pvbottom_pr.pageview_sd, #pvbottom_ge.pageview_sd {
		font-size: 120%;
	}
	.btn_sel.marginleft {
		margin-left: 0px;
	}
	#faqpage.content {
		margin-top: 5%;
		min-height:200px; 
	}
	#search_result div[id^=itemblock_] .faq_item table .faq_question_type {
		display: none;
	}
	#search_result div[id^=itemblock_] .faq_item table .faq_question {
		padding-bottom: 15px;
		font-size: 110%;
	}
	#faq_top {
		margin-left: 0px;
	}
	.faq_question,.faq_item {
		padding-left:0px;
	}
	.faq_question a:before {
		content: "● ";
	}
	#faq_top #pnl_fa div.more {
		display: none;
	}
	#faq_top #pnl_fa div.nrbar {
		width: 100%;
	}
	/* Tech. Support*/
	#tcnl_main #tcnl {
		display: block;
	}
	#tcnl_main .text2_sd_title1 {
		display: none;
	}
	#tcnl_main {
		margin-left:0px;
	}
	#tcnl .text_sub {
		font-size: 150%;
	}
	#tcnl .text2_sub {
		padding-top:0px;
		font-size: 170%;
		padding-bottom: 5px;
		color: #000000;
	}
	#div_main.tcnlpage {
		min-height: 300px;
	}
	.tcnl_filter .selectstyle2, .tcnl_filter .btn_sel, .tcnl_filter .btn_sel:hover {
		font-size: 125%;
	}
	#tcnl_main #tcnl .text2_note {
		font-size: 140%;
		line-height: 200%;
	}
	#tcnl_main #tcnl .text2_note>.text2_note {
		font-size: 100%;
	}
	#tcnl .tcnl_filter .text2_note {
		width: 45%;
	}
	#tcnl_main #tcnl .text2 {
		margin-left: 0px;
	}
	#tcnl .tcnl_filter div.clear {
		display: block;
	}
	/* Warranty */
	#topic.text2_sd_ws_title1 {
		display: none;
	}
	#globalcs {
		margin-left: 0px;
	}
	#warrantyFilterDiv {
		margin-left: 0px;
		min-height: 295px;
	}
	#warrantyFilterDiv .selectstyle_sd_ws_label {
		font-size: 100%;
	}
	#warrantyFilterDiv .selectstyle_sd_ws {
		font-size: 90%;
		margin-top: 13px;
	}
	#warrantyFilterDiv #pnl_cs #globalcs>.filterselect_sd {
		background-color: initial;
		border: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#warrantyFilterDiv #pnl_cs #globalcs>.filterselect_sd>.selectstyle_sd_ws_label {
		color: #000000;
		font-weight: bold;
	}
	.tblborder_ws {
		font-size: 100%;
		padding: 0px 0px 5px 0px;
		border: 0px;
		width: auto;
	}
	.tblblue_ws {
		display: none;
	}
	#warrantyFilterDiv #pnl_cs #localcs .text_13 {
		color: #000000;
		font-weight: bold;
		margin-left: 0px;
	}
	#warrantyFilterDiv .warrantyAppendContent {
		margin: 0px;
	}
	#warrantyFilterDiv > #pnl_cs > #localcs > .text_13 > span+div.clear {
		display: block;
	}
	table td.tblborder_ws div.div_respond_title {
		display: block;
		font-size: 100%;
		font-weight: bold;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	#simplemodal-data table td.tblborder_ws div.div_respond_title {
		display: none;
	}
	#warrantyFilterDiv .warrantyAppendContent > div.title {
		display: none;
	}
	.warrantyAppendContent .warrantyContentProduct {
		color: #1d6cfe;
	}
	/* Download Center*/
	#download_filter {
		margin-left: 0px;
	}
	#download_filter>.text2 select {
		margin-top: 1%;
		margin-bottom: 1%;
		font-size: 130%;
	}
	#download_filter .text2 #sel_btn.btn_sel,
	#download_filter .text2 #Submit2.btn_sel {
		font-size: 130%;
		margin-left: 4%;
	}
	 #search_result.downloadResult {
		 padding: 15px 0px;
	 }
	#search_result.downloadResult #itemblock .item_dl .dlResultLeft,
	#search_result.downloadResult #itemblock .item_dl .dlInfo {
		margin-left: 0px;
	}
	#download_filter > div.nrbar,
	#download_filter > div.nrbar+div.clear {
		display: block;
	}
	/* CPU Support List*/
	#topselect.filterselect_sd {
		background-color: initial;
		border: 0px;
		padding: 10px 0px 10px 0px;
	}
	#topselect.filterselect_sd>.selectstyle_sd_cs_label>.text_blue {
		margin-left: 0px;
		font-weight: bold;
		font-size: 115%;
	}
	#topselect .selectstyle_sd_cs {
		font-size: 90%;
		max-width: 90%;
		margin-top: 10px;
	}
	#content .sl_cpu_support_list .text2 {
		font-size: 100%;
	}
	.selectstyle_sd_cs_label .text_blue.opt1_normal,
	.selectstyle_sd_cs_label .text_blue.opt2_normal {
		display: none;
	}
	.selectstyle_sd_cs_label .text_blue.opt1_rwd,
	.selectstyle_sd_cs_label .text_blue.opt2_rwd {
		display: inline;
	}
	#div_cpu_support_chg_search_by_model:not(.hide),
	#div_cpu_support_chg_search_by_chipset:not(.hide) {
		display: block;
		margin-top: 10px;
	}
	#div_cpu_support_chg_search_by_model:not(.hide) a,
	#div_cpu_support_chg_search_by_chipset:not(.hide) a {
		display: block;
		color: #1d6cfe;
	}
	.selectstyle_sd_cs_label.cpu_support_searchbychipset {
		margin-top: 0px;
	}
	#topselect.filterselect_sd .selectstyle_sd_cs_label + div {
		margin-top: 0px;
	}
	/* News Room */
	#newsroom_filter.filterselect_mr>#topselect>select {
		font-size: 90%;
		width: 190px;
		margin-top: 2%;
		margin-bottom: 2%;
	} 
	#itemblock .item .itemcon {
		width: 70%;
		padding-right: 0px;
	}
	#topsearch #skw.search_input {
		width: 190px;
		font-size: 90%;
	}
	#area.content>.news_description2 .addthis_toolbox {
		display: none;
	}
	#area.content.respond {
		margin-top: 5%;
	}
	#area.content.respond .news_title3 {
		font-size: 150%;
		line-height: 130%;
	}
	#area.content.respond .news_subtitle3 {
		font-size: 120%;
	}
	#area.content.respond .news_description2 {
		font-size: 100%;
	}
	#itemblock .item.news_item .news_description2, 
	#itemblock .item.news_item .news_subtitle2,
	.news_description2.news_memo {
		display: none;
	}
	.filterselect_mr {
		padding: 10px 0px 10px 0px;
		border: 0px;
		background-color: #ffffff;
		display: none;
	}
	.item.news_item {
		min-height: 100px;
	}
	#newsNonRWDDiv {
		text-align: right;
		margin: 20px auto; 
		font-size: 100%;
		display: block;
	}
	#newsNonRWDDiv a {
		text-decoration: underline; 
		color:  #1D6CFE; 
	}
	#newsroom_filter #topselect .br {
		display: inline;
	}
	#newsroom_filter #topselect .str_date,
	#newsroom_filter #topselect #sel_date,
	#newsroom_filter .news_text_13:not(.news_page_title),
	#newsroom_filter #topsearch,
	#newsroom_filter+.resultbar.result_news {
		display: none;
	}
	#newsroom_respond_result {
		font-size: 95%;
		font-weight: bold;
		display: block;
		margin-top: 2%;
	}
	#itemblock.newsroom .item.news_item .itempic {
		padding-left: 0px;
	}
	/* Where To Buy */
	#content .restbl .wtb_info .map_normal {
		display: none;
	}
	#content .restbl .wtb_info .map_rwd,
	#content .restbl .wtb_info .web_rwd {
		display: inline-block;
		margin-right: 3%;
	}
	#content .restbl .wtb_info .web_icon_tr {
		display: inline;
	}
	#filter.wtbfilter #pnl_cs #localcs .text_blue {
		margin: 0px;
	}
	#search_3 .text2_wtb #select_hy,
	#search_1 .text2_wtb #keyword_hy {
		font-size: 100%;
	}
	#logo_links {
		display: inline;
	}
	.btn_sel_wtb {
		margin: auto 2%;
	}
	#filter.wtbfilter .hy_de1 {
		margin: 0px 30px 0px 0px;
	}
	.text_13.wtb_main_div {
		margin:10px 0px 10px 0px;
	}
	.wtb_reseller_img_div {
		display: none;
	}
	.wtb_main_div .selectstyle_wtb {
		font-size: 90%;
		margin-top: 1%;
		margin-bottom: 1%;
		width: 190px;
	}
	.restbltil {
		font-size: 130%;
	}
	.restbl {
		padding: 20px 0 20px 0px;
	}
	#result.resultbar.result_wtb .result {
		padding-left: 0px;
	}
	.wtb_info .resbold, 
	.wtb_info #pLines,
	.wtb_info .trURL {
		display: none;
	}
	.wtb_info td a img {
		position: static;
	}
	.wtb_info tr > td > div.clear.wtb_map_icon {
		display: block;
	}
	.wtb_info .tel_icon,
	.wtb_info .tel_content,
	.wtb_info .fax_icon,
	.wtb_info .fax_content {
		display: table-cell;
	}
	.wtb_info .tel_icon,
	.wtb_info .tel_content {
		padding-top: 15px;
	}
	.wtb_info .tel_icon>img,
	.wtb_info .fax_icon>img {
		width: 20px;
		margin-right: 15px;
	}
	.wtb_info .tel_content,
	.wtb_info .fax_content  {
		vertical-align: top;
	}
	/*--------------- CN Verification ---------------*/
	#pnl_verify_title>div.text2 {
		display: none;
	}
	#pnl_verify_title {
		 min-height: 200px;
	}
	#pnl_verify_title .text2 {
		 font-size:100%
	}
	#pnl_verify_title div > #hrefMB:not(.clsHref) {
		margin-right:0px;
	}
	#pnl_verify_title div > #hrefVGA:not(.clsHref) {
		margin-left:0px;
	}
	#pnl_verify_title div > a[id^=href] > img {
		width: 75%;
		margin-bottom: 20px;
		max-width: 316px;
	}
	#pnl_filter {
		border: 0px;
		background-color: transparent;
		width: 100%;
		margin: 0px;
	}
	#pnl_filter .div_verifi_input_region {
		float: left;
		width: 60%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#pnl_filter .text_13 {
		font-size: 95%;
		margin: 0px;
	}
	#pnl_filter_title {
		margin-bottom: 0px;
		font-size: 95%;
	}
	#pnl_filter .search_input {
		font-size: 90%;
	}
	#pnl_verify_title div > a[id^=href].clsHref > img{
		margin-right: 1%;
		margin-left: 1%;
		margin-bottom: 10px;
		width: 47%;
		max-width: 167px;
	}
	#pnl_verify_block #pnl_filter #btnVerify.btn_sel {
		font-size: 100%;
	}
	#pnl_filter .div_verifi_input_region {
		padding-left: 0px;
		padding-right: 0px;
	}
	.btn_sel[name=btnVerify] {
		margin-left: 0px;
	}
	#header_CNAd {/*中國框度低於640時 廣告2字垂直顯示 by neal 20160829*/
		writing-mode: tb-rl;
		margin-right: 10px;
		padding-top: 3%;
	}
}
#titlenameRespond {
	white-space: normal;
}
#titleRespondBack {
	white-space: nowrap;
}