﻿#tMob{}
/* Werberahmen mit Bild oben */
div.WerberahmenOben { background-color: #666666; padding: 8px 0px 0px 0px; background-image: url(/img/adv/bezanzhrzn.gif); background-repeat: no-repeat; background-position: center 0px; border: solid 1px #666666; }

/* Zählung */
div#MAScounters { width: 0; height: 0; position: absolute; top: -1000px; }
img.SujetStatistic { width: 1px; height: 1px; visibility: hidden; position: absolute; }

/* eJunior (Rectangle oder Skyscraper), auf Detailseiten rechtsbündig */
div.eJunior { margin-bottom: 10px; }
#media-list div.eJunior { float: right }
.comment-container div.eJunior { margin: 10px auto 10px auto }
hr.eJuniorReset { clear: right; visibility: hidden }

/* eJunior (Rectangle oder Skyscraper), auf leeren Ressortseiten mittig */
.sitesearch #media-list { margin:0 auto; }
.sitesearch #media-list div.eJunior { float: left; margin-left:8px; margin-top:16px; }

/* L-Ad: SuperBanner (Breite für Rubrikmärkte unter Internet Explorer und zur Verhinderung des Umbruchs bei Reskalierung des Browserfensters notwendig) */
.object div.SuperBannerKlein { margin-left: 18px; background-color: #666666; padding: 1px 1px 1px 1px; width: 728px }
div.SuperBannerGrosz { margin-left: 4px; background-color: #666666; padding: 1px 1px 1px 1px; }
.ressort .SuperBannerGrosz,
.ressort .LAdGrosz,
div.LAdKleinMitEW,
div.SuperBannerKleinMitEW {
	margin-bottom: 8px;
}
div.SuperBannerKleinMitEW { width: 967px }
div.LAdKleinMitEW { width: 975px }

/* L-Ad: SuperBanner - fixierte Positionierung */
#body.banner-is-fixed .object div.SuperBannerKlein,
#body.banner-is-fixed div.SuperBannerGrosz,
#body.banner-is-fixed div.SuperBannerKleinMitEW
{ position: fixed; top:8.5em; left: 0; z-index: 5000; margin-top:-4px; margin-left:0; padding-top:4px; padding-bottom:4px; background-color: rgba(0,0,0,.6); }
#body.banner-is-fixed .object div.SuperBannerKlein { width:736px; padding-left:19px; }
#body.banner-is-fixed div.SuperBannerGrosz { width:968px; padding-left:5px; }
#body.banner-is-fixed div.SuperBannerKleinMitEW { width:973px; }

#body.banner-is-fixed .object div.SuperBannerKlein.onTop,
#body.banner-is-fixed div.SuperBannerGrosz.onTop,
#body.banner-is-fixed div.SuperBannerKleinMitEW.onTop
{ top:0px; margin-top:0; }

/* L-Ad: Skyscraper */
div.SkyScraper { position: absolute; left: 975px; top: 8.5em; right: 0; overflow: hidden; height: auto; bottom: 39px; }
div.SkyScraperFixed { position: fixed; }
div.SkyScraperBasic {top: 10.5em; }

/* L-Ad: Eigenwerbung und ihre Auswirkungen */
span.SuperBannerKlein, span.LAdKlein { text-align: right; margin-left: 8px; width: 736px }
#SuperBannerKleinFlashWriteParent, #LAdKleinFlashWriteParent { display: inline } /* für Internet Explorer */
div.TopEW { text-align: left; margin-left: 8px; background-color: #666666; padding: 1px 1px 1px 1px; height: 88px; float: left }

/* Sitebar (dynamischer inline style für "Sitebar (fixe Größe)" siehe MAS.js) */

/* Sitebar (variable Größe): 992px left = Abstand neben content und empirische Verkleinerung gegen Überlappung mit der Scrollbar */
#Sitebar { position: fixed; top:0px; bottom:0px; left:992px; right:0px; width:auto; height:auto; z-index: 250; }
#SitebarFlashWriteParent,
#SkyLAdFixedFlashWriteParent,
#SkyLAdScrollingFlashWriteParent { width: 100%; height: 100% }


@media (min-device-height: 700px) {
	html.fixed-supported #body.no-touch #Sitebar {
		bottom: 39px;
	}
}

/* Overlay */
div.Overlay { z-index: 350 !important }

/* Banner am Artikelende rechtsbündig, in den alluserposts mittig */
div.Banner { margin: 10px auto 10px 278px; }
#wetter div.Banner { margin: 10px 0 10px auto; }
.movies-app div.Banner {    margin: 10px auto 10px 318px;}
.movies-app #content-main div.Banner {    margin: 10px auto;}
#wrapper div.Banner { margin: 0 0 0 42px; }
#postinglist .BannerInForum { float: right; margin:10px 8px 10px 0; }
ul#resultlist div.Banner, ul#resultlist li.bottomAdv > div { margin:15px auto 10px auto; }

/* Banner nach dem Forum */
div.BaselineAd { margin: 8px 0 0; }

/* C-Block ohne box=group bei ressortGuideIsFirstElement */
li.SponsorbuttonRessort { margin: 0 4px 1em; }

/* Ansicht Chronologie und Absicherung der Font-Size */
.chronologie .Sitelink .text,
.chronologie .Promotion .text,
.chronologie .Standard .text {
	margin-left: 72px;
}


.chronologie .Sitelink h4,
.chronologie .Promotion h4,
.chronologie .Standard h4,
.chronological .Sitelink h4,
.chronological .Promotion h4,
.chronological .Standard h4 {
	font-size:16px;
}
.chronologie .Sitelink h6,
.chronologie .Promotion h6,
.chronologie .Standard h6,
.chronological .Sitelink h6,
.chronological .Promotion h6,
.chronological .Standard h6 {
	font-size:11px;
}

.chronologie .Sitelink p,
.chronologie .Promotion p,
.chronologie .Standard p,
.chronological .Sitelink p,
.chronological .Promotion p,
.chronological .Standard p {
	font-size:13px;
	line-height:16px;
}

.chronological .stories li.ContentAd1 .ContentAd1 {
	margin: 0 auto !important;
}

/* h6 ersetzt padding; veränderte Maße bei einspaltigen blogs bzw. nicht positionierten (OTS-)Elementen */
li.Sitelink,
li.Promotion,
li.Standard { padding-bottom: 0px !important }
/* Blog Godot 1 und Godot 2*/
.blogroll li.Sitelink,    .blog li.Sitelink,
.blogroll li.Promotion,   .blog li.Promotion,
.blogroll li.Standard,    .blog li.Standard { margin: -30px 8px -30px 226px !important; border-bottom-width:1px; border-bottom-style:solid }
.blogroll li.Sitelink.blockEnd,
.blogroll li.Promotion.blockEnd,
.blogroll li.Standard.blockEnd
{
	margin-bottom:0  !important;
}
.blogroll div.ContentAd1, .blog div.ContentAd1 { margin: -30px 8px 30px 218px !important; border-bottom-width:1px; border-bottom-style:solid }
.blogroll .Sitelink    div.text, .blog .stories li.Sitelink.normal.img    .text,
.blogroll .Promotion   div.text, .blog .stories li.Promotion.normal.img   .text,
.blogroll .Standard    div.text, .blog .stories li.Standard.normal.img    .text
{ 
	width: 203px; 
	float: right; 
} 
.block100 div.ContentAd1 { margin: 0px 8px 0px 219px !important; border-bottom-width:1px; border-bottom-style:solid }

/* Fixplatzierungen: Beschriftungsfarben */
.Sitelink    h6, .Sitelink    h6.payedAdv, #weiterLesen .Sitelink    h5 { color: rgb(102,  51,   0) !important }
.Promotion   h6, .Promotion   h6.payedAdv, #weiterLesen .Promotion   h5 { color: rgb( 51, 102,  51) !important }
.Standard    h6, .Standard    h6.payedAdv, #weiterLesen .Standard    h5 { color: rgb(176, 113, 147) !important }

/* Fixplatzierungen: Beschriftung oben und unten (iPad siehe slot.css!) */
.Sitelink    h6 { text-transform: uppercase }
.Promotion   h6 { text-transform: uppercase }
.Standard    h6 { text-transform: uppercase }

/* Fixplatzierungen & rechte Spalte: Beschriftung unten, Ränder oben (außer einspaltig) und unten */
.Sitelink    h6.payedAdv,
.Promotion   h6.payedAdv,
.Standard    h6.payedAdv { 
	margin: 0.5em 0; 
	text-align: right; 
}
/* Blog Godot 1 und Godot 2*/
.blogroll .Sitelink    h6.payedAdv, .blog .Sitelink    h6.payedAdv,
.blogroll .Promotion   h6.payedAdv, .blog .Promotion   h6.payedAdv,
.blogroll .Standard    h6.payedAdv, .blog .Standard    h6.payedAdv { 
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 1.1em;
	height: 18px;
	line-height: 1.6363em;
	margin: 0.4545em 0 5.4545em 0;
	text-align: right;
	width: 421px; 
}

#weiterLesen .Sitelink    h5,
#weiterLesen .Promotion   h5,
#weiterLesen .Standard    h5,
.all-user-posts .Sitelink    h5,
.all-user-posts .Promotion   h5,
.all-user-posts .Standard    h5 { margin: 0; }


/* Artikelende: Beschriftung unten, Ränder oben und unten */
div.Promotion,
div.Sitelink,
div.Standard { width: 521px; margin-left: 227px; margin-top: 10px; }
.all-user-posts { font-size:10px; }
.all-user-posts .Promotion,
.all-user-posts .Sitelink,
.all-user-posts .Standard { width:440px; margin-left: 58px; margin-right: 57px; }
div.Promotion,
.all-user-posts .Promotion   { font-family: Arial,Helvetica,sans-serif; font-size: 1.4em; border-bottom: 1px dashed rgb( 51, 102,  51); border-top: 1px dashed rgb( 51, 102,  51); }
div.Sitelink,
.all-user-posts .Sitelink    { font-family: Arial,Helvetica,sans-serif; font-size: 1.4em; border-bottom: 1px dashed rgb(102,  51,   0); border-top: 1px dashed rgb(102,  51,   0); }
div.Standard,
.all-user-posts .Standard    { font-family: Arial,Helvetica,sans-serif; font-size: 1.4em; border-bottom: 1px dashed rgb(176, 113, 147); border-top: 1px dashed rgb(176, 113, 147); }
div.Promotion   h5,
.all-user-posts .Promotion			h5 { letter-spacing: 1px; text-transform: uppercase; color: rgb( 51, 102,  51) !important }
div.Sitelink    h5,
.all-user-posts .Sitelink			 h5 { letter-spacing: 1px; text-transform: uppercase; color: rgb(102,  51,   0) !important }
div.Standard    h5,
.all-user-posts .Standard			 h5 { letter-spacing: 1px; text-transform: uppercase; color: rgb(176, 113, 147) !important }
div.Promotion p,
div.Sitelink p,
div.Standard p,
.all-user-posts .Promotion p,
.all-user-posts .Sitelink p,
.all-user-posts .Standard p { font-size: 0.8571em; line-height:1.4166em; margin: 0; }
div.Promotion   img,
div.Sitelink    img,
div.Standard    img,
.all-user-posts .Promotion	 	img,
.all-user-posts .Sitelink	 	 img,
.all-user-posts .Standard 			img { float: left; margin: 0.2em 6px 0 0; border:0; }
.all-user-posts .Promotion			h4,
.all-user-posts .Sitelink		 	h4,
.all-user-posts .Standard		 	h4 { margin: 0 }

/*Mutation*/

#body.mutated #pageTop { width:975px }

#mutation_console {
	position: absolute;
	top: 30px;
	left: 975px;
	width: auto;
	height: 23px;
	border: 1px solid rgba(0,0,0,.2);
	color: #333;
	font-size: 11px;
	z-index:1100;
}
@media only screen and (min-device-height: 700px) {
	html.fixed-supported #body.no-touch #mutation_console {
		position: fixed;
		bottom: 8px;
		top: auto;
	}
}
#mutation_console span {
	display: inline-block;
	padding: 0 8px;
	vertical-align: top;
	line-height: 23px;
}
#mutation_console div {
	display: inline-block;
	width: auto;
	height: 23px;
	padding: 0 8px;
	border-left: 1px solid rgba(0,0,0,.2);
	vertical-align: top;
	background-color: rgba(0,0,0,.1);
	line-height: 23px;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
#mutation_console div:hover,
#mutation_console div:active {
	background-color: #fff;
}
#mutation_console #mutation_console_show {
	display: none;
}
#body[data-mutation-state="3"] #mutation_console #mutation_console_show { 
	display: inline-block;
}
#mutation_console_hide {
}
#body[data-mutation-state="3"] #mutation_console #mutation_console_hide { 
	display: none;
}
#mutation_console #mutation_console_replay {
	display: none;
}
#body[data-mutation-replayable="1"] #mutation_console #mutation_console_replay { 
	display: inline-block;
}



/* Sky im Forum (Daniel) */

.skyImForum {
	position:absolute;
	left:0;
	top:121px;
}

html.fixed-supported #body.hasFixedForumToolbar.no-touch[data-canvas="community"] .skyImForum {
	position:fixed;
	top:134px;
	left:8px;
}
html.fixed-supported #body.no-touch[data-canvas="community"] .communityCanvas.dock-adv-to-bottom .skyImForum {
	position:absolute;
	left:0;
	bottom:0;
	top:auto;
}
#body.banner-is-fixed .skyImForum { visibility: hidden; }


/* programmtic */

/* Ausblenden nicht gefüllter RTA/RTB-Container */
.programmaticAd.hide {display: none;}

.programmaticAd[data-adprovider="rubicon"] .WerberahmenOben, 
.SuperBannerGrosz.programmaticAd[data-adprovider="rubicon"],
.SuperBannerKlein.programmaticAd[data-adprovider="rubicon"]{
	background-color: #666668;
	border-color: #666668;
}
.programmaticAd[data-adprovider="yieldlab"] .WerberahmenOben, 
.SuperBannerGrosz.programmaticAd[data-adprovider="yieldlab"],
.SuperBannerKlein.programmaticAd[data-adprovider="yieldlab"]{
	background-color: #66666A;
	border-color: #66666A;
}
.programmaticAd[data-adprovider="googleAd"] .WerberahmenOben, 
.SuperBannerGrosz.programmaticAd[data-adprovider="googleAd"],
.SuperBannerKlein.programmaticAd[data-adprovider="googleAd"]{
	background-color: #66666C;
	border-color: #66666C;
}
.programmaticAd[data-adprovider="improveDigital"] .WerberahmenOben, 
.SuperBannerGrosz.programmaticAd[data-adprovider="improveDigital"],
.SuperBannerKlein.programmaticAd[data-adprovider="improveDigital"]{
	background-color: #66666E;
	border-color: #66666E;
}