﻿#archive-calendar
{
	clear:both;
	border-bottom: 1px solid #fff;
	background-color: #999;
}
#archive-calendar h5 {
	float: left;
	height: 100%;
	padding:12px;
	font-size:15px;
	line-height:100%;
	color: #ccc;
}
#archive-calendar ul {
	float: left;
}
#archive-calendar ul li {
	clear: both;
}
#archive-calendar ul li a,
#archive-calendar ul li span {
	float: left;
	margin-right: 1px;
	margin-top: 1px;
	padding: 6px 12px;
}
#archive-calendar ul li span {
	min-width:40px;
	text-align:center;
	font-weight:bold;
	background-color: #ccc;
	color: #555;
}
#archive-calendar ul li a {
	background-color: #bbb;
	color: #333;
}
#archive-calendar ul li a:hover {
	text-decoration: none;
	background-color: #ccc;
}
