﻿/* DIALOGS */

.hidden 
{
	display: none !important;
}
#dim
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:9998;
	background:url("/img/ui/bg_000_80_10.png") repeat scroll left top transparent;
}
#modal-positioning
{
	width:0;
	margin:0 50%;
}
#modal-window
{
	position:fixed;
	width:385px;
	height:450px;
	padding:5px;
	margin-left:-192px;
	background: #E0E3E0 url('/img/ui/preloader.gif') no-repeat center;
	box-shadow:0 0 24px 0 #000;
	z-index:9999;
}
#modal-window.touch
{
	position:absolute;
}
#dialog-frame
{
	height:100%;
	width:100%;
	border:none;
	
}
#modal-window .close
{
	position:absolute;
	top:-17px;
	right:-17px;
	width:35px;
	height:35px;
	border-width:0;
	background:url("/img/ui/icn_close_dialog.png") no-repeat scroll left top transparent;
	cursor:pointer;
}
#modal-window .close.inside
{
	top:0;
	right:0;
}
#modal-window .validation-summary-errors
{
	background-image:none;
	padding:0;
}

#documentCanvas .dialog
{
	margin:0 auto;
}
#documentCanvas .dialog#login form .section
{
	padding-bottom:20px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
#documentCanvas .dialog .related
{
	background-color:transparent;
}
#documentCanvas .dialog .logo
{
	display:none;
}

.dialog
{
	width:350px;
	font-size:1.3em;
}
#modal-window .dialog
{
	max-height:550px;
	overflow:auto;
	-webkit-overflow-y:scoll;
	-webkit-overflow-scrolling: touch;
}
.chromeless .dialog
{
	margin:0 auto;
}

.dialog .close {

	cursor: pointer;
}

.dialog .logo
{
	margin: 0 40px 16px 40px;
	height:36px;
	background:transparent url("/img/ui/logo_derstandard_000.png") no-repeat right bottom;
}
.dialog ul.number
{
	margin-left: 20px;
	list-style-type:decimal;
}
.dialog #feedback
{
	display:none;
	padding:6px 40px;
	background-color:#333;
}
.dialog #feedback.error
{
	display:block;
	background-color:#990000;
	color:#fff;
}
.dialog #feedback.error p, .dialog #feedback.error ul
{
	background:transparent url("/img/ui/registration/icn_exclamation-mark.png") no-repeat top left;
	padding-left: 30px; 
	line-height: 20px;
}
.dialog #feedback.error li
{
	list-style-type: none;
}
.dialog #feedback.success
{
	display:block;
	background-color:#C2D37D;
	color:#fff;
}
.dialog #feedback.success p {
	background:transparent url("/img/ui/registration/icn_completed.png") no-repeat top left;
	padding-left: 30px; 
	line-height: 20px;
}

.dialog #feedback p,
.dialog #feedback ul
{
	padding:0;
}
.dialog .tooltip
{
	padding: 0 4px;
	background: #fff;
	border: 1px solid #999;
	border-radius: 8px;
	font-family: monospace;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	margin-left: 3px;
}


.dialog h1
{
	display:block;
	margin:20px 40px 20px;
	font-size:18px;
	font-weight:bold;
}
.dialog p,
.dialog ul
{
	padding:10px 40px;
}
.dialog p.note
{
	font-size:12px;
	color:#555;
}
.dialog form
{
	margin: 0 0 16px 0;
}
.dialog .section
{
	margin:0 38px;
}
.dialog form .item
{
	margin:10px 0 0;
}
.dialog form label
{
	display:block;
	margin-bottom:4px;
	padding:0 2px;
	font-weight:bold;
}
.dialog .input
{
	width:274px;
	padding:0;
}
.dialog .input.error
{
	width:270px;
	padding:2px;
	background-color:#990000;
}
.dialog .checkbox .input
{
	width:auto;
}
.dialog form .text input,
.dialog form .text textarea
{
	width:272px;
	padding:0;
	line-height:22px;
	font-family:inherit;
}
.dialog form .text input
{
	height:22px;
}
.dialog form .text .error input
{
	width:266px;
}
.dialog form .checkbox input
{
	margin:0;
}
.dialog form .input select
{
	width:272px;
	height:24px;
	line-height:20px;
}
.dialog .left
{
	float:left;
}
.dialog .checkbox label
{
	display:inline;
	font-weight:normal;
}
.dialog .checkbox .input
{
	float:left;
	margin:0 6px 0 0;
}
.dialog .checkbox.left div.input
{
	margin:0px;
}
.dialog .checkbox.left label
{
	float:right;
	display:block;
	width:245px;
	margin-left:10px;
}
.dialog .std-button
{
	border-color:#b5bab5;
}
.dialog .std-button:hover
{
	background-color:#D2D5D2 !important;
}
.dialog .related .std-button:hover
{
	text-decoration:underline;
	background-color:transparent !important;
}
.dialog #d_submit,
.dialog #d_continue,
.dialog #d_confirm
{
	float:right;
	margin:10px 0 0 0;
}
.dialog #d_close
{
	float:right;
	margin:10px 38px 0 0;
}
.dialog .related
{
	margin:2px 0 0;
	padding:.4em 40px;
	background-color:#D2D5D2;
}
.dialog .related .label
{
	float:left;
	width:165px;
}
.dialog .related button
{
	float:right;
}
.dialog .related.password-forgotten .label
{
	float:none;
	display:inline;
}
.dialog .related.password-forgotten button
{
	float:none;
	display:inline;
	padding:0;
	margin:0;
	line-height:normal;
	border-width:0;
	background:transparent;
	color:#162964;
	
}
.dialog .related.password-forgotten button::-moz-focus-inner
{
	border:0;
	padding:0;
	margin:0;
}

/* SPECIFIC */
.dialog #recaptcha_area
{
	margin:1em auto;
}
.dialog #recaptcha_area #recaptcha_instructions_image
{
	font-weight:normal;
}

.dialog #email-confirmation p strong
{
 display:block;
 font-size:15px;
 margin:0 0 10px 0;
}

.dialog #d_toggle-list
{
	font-size:11px;
	font-weight:normal;
	color:#162964;
	cursor:pointer;
}
.dialog #d_newsletter-list
{
	position:relative;
}
.dialog #d_newsletter-list .edit
{
	float:right;
	margin-top:10px;
}
.dialog #d_newsletter-list a
{
	cursor:pointer;
}
.dialog #d_newsletter-list strong a
{
	font-size:11px;
	font-weight:normal;
}
.dialog #d_newsletter-list ul
{
	float:left;
	max-width:190px;
	padding:0;
	margin:.5em 0 13px 0;
}
#d_newsletter-list li
{
	position:relative;
	display:block;
	width:100%;
	margin-bottom:.5em;
}
#d_newsletter-list li input
{
	position:relative;
	margin:0;
	padding:0;
	z-index:100;
}
#d_newsletter-list li label
{
	display:inline;
	padding:0;
	margin:0;
	
	z-index:90;
}
.dialog#edit-newsletters
{
	max-height:none;
	overflow:hidden;
}
.dialog#edit-newsletters #d_newsletter-list
{
	width:350px;
}
.dialog#edit-newsletters #d_newsletter-list li
{
	padding:5px 0;
}
#modal-window .dialog#edit-newsletters #d_newsletter-list
{
	max-height:200px;
	overflow:auto;
	-webkit-overflow-y:scoll;
	-webkit-overflow-scrolling: touch;
}
.dialog#edit-newsletters #d_newsletter-list ul
{
	float:none;
	width:290px;
	margin:0 0 0 38px;
}
#d_current-names .d_active
{
	font-weight:bold;
}
#accept-terms .checkbox label
{
	display:block;
}
