﻿/* CHROME VARIANTS */

/* CHROME VARIANTS - Header */

html.fixed-supported #body.no-touch {
	padding-top: 8.5em;
}
html.fixed-supported #body.no-touch #pageTop {
	position: fixed;
	top: 0;
	-webkit-transform: translateZ(0);
}
html.fixed-supported #body.no-touch #navigation {
	background: transparent url('/img/ui/dropshadow.png') repeat-x 0 3em;
	height: 3.333em;
	border-bottom-width:0;
}
html.fixed-supported #body.no-touch #navLine2 {
	border-bottom-width: 0;
}
html.fixed-supported #body.no-touch a.offset {
	display: block;
	margin-top: -90px;
	padding-top: 90px;
	width: 1px;
	height: 1px;
}
html.fixed-supported #body.no-touch[data-template~="longform"] a.offset {
	margin-top: -82px;
	padding-top: 82px;
}



/* CHROME VARIANTS - Toolbar */


html.fixed-supported #body.no-touch {
	padding-bottom: 38px;
}

html.fixed-supported #body.no-touch #toolbar {
	position: fixed;
	bottom: 0;
	top: auto;
	height: 35px;
	border-width: 1px 0 3px;
	border-style: solid;
	border-bottom-color: #333;
	z-index: 1000;
	-webkit-transform: translateZ(0);
}

html.fixed-supported #body.no-touch #toolbarBG {
	border-top: 1px solid rgba(255, 255, 255, .4);
	border-bottom: none;
	background-image: url('/img/ui/toolbar/bg_shadow.png');
	background-repeat: repeat-x;
	background-position: left bottom;
}

html.fixed-supported #body.no-touch #toolbarProfile {
	position: absolute;
	left: 0;
	top: 0;
	width: 480px;
	height: 35px;
}

html.fixed-supported #body.no-touch #TBUser {
	display: block;
	height: 35px;
	margin: 0 10px 0 0;
	line-height: 33px;
	text-align: left;
	white-space: nowrap;
	font-size: 11px;
	list-style-type: none;
}

html.fixed-supported #body.no-touch #TBUserprofile {
	padding: 0 8px 0 25px;
	max-width: 210px;
	overflow: hidden;
	text-overflow: ellipsis;
}

html.fixed-supported #body.no-touch #toolbarProfile a#TBLogin,
html.fixed-supported #body.no-touch #toolbarProfile.anonymous a#TBUserprofile,
html.fixed-supported #body.no-touch #toolbarProfile.anonymous a#TBLogout {
	display:none;
}

html.fixed-supported #body.no-touch #toolbarProfile.anonymous a#TBLogin {
	display: block;
}

html.fixed-supported #body.no-touch #toolbarMenu {
	position: absolute;
	left: 500px;
	width: 462px;
	height: 35px;
	overflow: visible;
}

html.fixed-supported #body.no-touch #TBUserFollow {
	position: relative;
	float: left;
}

html.fixed-supported #body.no-touch #TBUserFollow .employee {
	color: #ec008c;
	font-weight: bold;
}

html.fixed-supported #body.no-touch #toolbarMenu li,
html.fixed-supported #body.no-touch #TBUserFollow li {
	display: block;
	float: none;
	position: absolute;
	height: 35px;
	margin: 0;
	overflow: visible;
}

html.fixed-supported #body.no-touch #toolbarMenu li a.button {
	float: none;
	width: 63px;
	height: 35px;
	padding: 0;
	background-repeat: no-repeat;
	background-image: url('/img/ui/toolbar/v3/sprite_toolbar.png');
}

html.fixed-supported #body.no-touch #toolbarProfile li a {
	display: block;
	float: left;
	font-size: 11px;
	line-height: 35px;
	max-width: 333px;
	overflow: hidden;
}

html.fixed-supported #body.no-touch #toolbarMenu li a.button:hover {
	border-color: rgba(0,0,0,.2);
}

html.fixed-supported #body.no-touch #toolbarProfile li a:hover {
	border-right-color: rgba(0,0,0,.2);
}

html.fixed-supported #body.no-touch #toolbarProfile a:hover,
html.fixed-supported #body.no-touch #toolbarProfile a:hover span {
	text-decoration: none;
}

html.fixed-supported #body.no-touch #toolbarMenu li a.button span {
	display: block;
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	line-height: 100%;
}

html.fixed-supported #body.no-touch #TBUserprofile,
html.fixed-supported #body.no-touch #TBUserFollowButton {
	background-repeat: no-repeat;
	background-image: url('/img/ui/toolbar/sprite_user.png');
}

html.fixed-supported #body.no-touch #TBUserprofile {
	background-position: 4px -70px;
}

html.fixed-supported #body.no-touch #TBUserprofile:hover {
	background-position: 4px -105px;
}

html.fixed-supported #body.no-touch #TBUserFollowButton {
	background-position: 8px 0;
}

html.fixed-supported #body.no-touch #TBUserFollowButton:hover {
	background-position: 8px -35px;
}

html.fixed-supported #body.no-touch #toolbarMenu .flyout,
html.fixed-supported #body.no-touch #toolbarProfile .flyout {
	display: none;
	position: absolute;
	bottom: 35px;
	right: 0;
	width: 160px;
	z-index: 310;
}

html.fixed-supported #body.no-touch #toolbarMenu .flyout {
	background: transparent url('/img/ui/toolbar/bg_flyout_corner.png') 122px bottom no-repeat;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout {
	width: 310px;
	left: -1px;
	z-index: -1;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-style:solid;
	border-width:1px;
	border-color: rgba(0,0,0,.2);
}

html.fixed-supported #body.no-touch #toolbarMenu .flyout .wrapper {
	padding: 10px;
	margin: 0 0 11px 0;
	background: #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,.15);
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0,0,0,.15);
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,.15);
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout .wrapper {
	padding: 10px;
	-moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,.15);
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0,0,0,.15);
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,.15);
}

html.fixed-supported #body.no-touch #toolbarMenu li:hover .flyout,
html.fixed-supported #body.no-touch #TBUserFollow:hover .flyout {
	display: block;
}

html.fixed-supported #body.no-touch #toolbarMenu .flyout em,
html.fixed-supported #body.no-touch #toolbarProfile .flyout em {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

html.fixed-supported #body.no-touch #toolbarMenu .flyout em {
	color: #FFF;
	text-align: center;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout ul {
	display: block;
	margin: 0 8px;
	padding: 0;
	list-style: none;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout ul ul {
	margin: 0;
	border-bottom: none;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout li {
	margin: 0;
	padding: 0;
	border-top-style: solid;
	border-top-width: 1px;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout li a {
	display: block;
	padding: 0.5em 4px 0.5em 8px;
	font-size: 11px;
	font-weight: normal;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout li:hover {
	background: transparent url('/img/ui/bg_000_05.png') repeat top left;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout ul.indent li a,
html.fixed-supported #body.no-touch #toolbarProfile .flyout li li a {
	padding-left: 16px;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout ul.indent li.default a {
	padding-left: 8px;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout li.default {
	min-height: 4px;
}

html.fixed-supported #body.no-touch #toolbarProfile .flyout li.default.empty {
	font: 0/0 monospaced;
}

html.fixed-supported #body.no-touch #toolbarProfile li.hidden {
	display: none;
}

html.fixed-supported #body.no-touch #toolbarProfile #TBUserFollowButton {
	height: 35px;
	line-height: 35px;
	padding: 0 8px;
}

html.fixed-supported #body.no-touch #toolbarProfile #TBUserFollowButton span {
	display: block;
	height: 35px;
	line-height: 35px;
	padding-left: 21px;
}

html.fixed-supported #body.no-touch #TBUserFollow:hover #TBUserFollowButton span {
	background-position: bottom left;
}

html.fixed-supported #body.no-touch #toolbarProfile #TBUserFollowButton span.count {
	display: inline;
	padding: 0;
	color: #333;
	line-height: 35px;
	background: none;
}

html.fixed-supported #body.no-touch #TBUserFollow.fixed .flyout {
	visibility: visible;
}

html.fixed-supported #body.no-touch #TBUserFollow .flyout .wrapper {
	padding: 0;
}

html.fixed-supported #body.no-touch #TBUserFollow .flyout .wrapper p {
	padding: 0;
	margin: 0 16px;
}

html.fixed-supported #body.no-touch #TBUserFollow .scroller {
	max-height: 286px;
	overflow-x: hidden;
	overflow-y: auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

html.fixed-supported #body.no-touch #TBUserFollow .default {
	height: 19px;
	padding: 0.5em 8px;
	background: transparent url('/img/ui/bg_000_05.png') repeat top left;
}

html.fixed-supported #body.no-touch #TBUserFollow .default a {
	display: block;
	float: left;
	font-size: 11px;
	font-weight: bold;
	height: 19px;
	line-height: 19px;
	cursor: pointer;
	cursor: hand;
	border: none;
}

html.fixed-supported #body.no-touch #TBUserFollow .default a:hover {
	border: none;
}

html.fixed-supported #body.no-touch #TBUserFollow .default span {
	display: block;
	overflow: hidden;
	float: right;
	width: 13px;
	height: 15px;
	text-indent: -10000px;
	background: transparent url('/img/ui/toolbar/icn_refresh.png') no-repeat top left;
	cursor: pointer;
	cursor: hand;
	opacity: .8;
}

html.fixed-supported #body.no-touch #TBUserFollow .scroller ul {
	margin: 0;
	border-bottom: none;
}

html.fixed-supported #body.no-touch #TBUserFollow .scroller li {
	position: relative;
	height: 25px;
	border-left: none;
	border-right: none;
}

html.fixed-supported #body.no-touch #TBUserFollow .scroller li a {
	float: left;
	display: block;
	padding-left: 0;
	padding-right: 0;
	margin-left: 16px;
	margin-right: 0;
	width: 100%;
	height: 15px;
	line-height: 15px;
	cursor: pointer;
	cursor: hand;
	border: none;
}

html.fixed-supported #body.no-touch #TBUserFollow ul span.unread {
	display: block;
	float: left;
	margin-right: 4px;
	text-decoration: none;
	font-weight: bold;
}

html.fixed-supported #body.no-touch #TBUserFollow ul .verified-identity-link {
	margin-top: 0;
	float: left;
	display: block;
}

html.fixed-supported #body.no-touch #TBUserFollow ul span.name {
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	margin-right: 3px;
	max-width: 230px;
	text-overflow: ellipsis;
}

html.fixed-supported #body.no-touch #TBUserFollow .flyout li a.remove {
	display: block;
	position: absolute;
	top: 7px;
	right: 8px;
	width: 12px;
	height: 12px;
	padding: 0;
	text-indent: -10000px;
	background: transparent url(/img/ui/icn_follow-remove.png) no-repeat top left;
	opacity: .7;
}

html.fixed-supported #body.no-touch #TBUserFollow .flyout li a.remove:hover {
	background-color: transparent;
	background-position: bottom left !important;
	opacity: 1;
}

html.fixed-supported #TBUserFollow { left:0; display:block;}

html.fixed-supported #TBCommunity { left:0px; }
html.fixed-supported #TBNewsletter { left:66px;}
html.fixed-supported #TBMobile { left:138px; }
html.fixed-supported #TBRadio { left:198px; }
html.fixed-supported #TBPaper { left:264px; }
html.fixed-supported #TBEditorialStaff { left:330px; }
html.fixed-supported #TBSales { left:396px; }

html.fixed-supported #TBCommunityButton { background-position: center -70px; }
html.fixed-supported #TBCommunityButton:hover, 
html.fixed-supported #toolbarMenu li.entry:hover #TBCommunityButton { background-position: center -105px; }
html.fixed-supported #TBNewsletterButton { background-position: center -140px; }
html.fixed-supported #TBNewsletterButton:hover, 
html.fixed-supported #toolbarMenu li.entry:hover #TBNewsletterButton { background-position: center -175px;}
html.fixed-supported #TBMobileButton { background-position: center -210px;}
html.fixed-supported #TBMobileButton:hover, 
html.fixed-supported #toolbarMenu li.entry:hover #TBMobileButton { background-position: center -245px;}
html.fixed-supported #TBRadioButton { background-position: center -280px; }
html.fixed-supported #TBRadioButton:hover, 
html.fixed-supported #toolbarMenu li.entry:hover #TBRadioButton { background-position: center -315px; }
html.fixed-supported #TBPaperButton { background-position: center -350px; }
html.fixed-supported #TBPaperButton:hover, 
html.fixed-supported #toolbarMenu li.entry:hover #TBPaperButton { background-position: center -385px; }
html.fixed-supported #TBEditorialStaffButton { background-position: center -420px; }
html.fixed-supported #TBEditorialStaffButton:hover, 
html.fixed-supported #toolbarMenu li.entry:hover #TBEditorialStaffButton { background-position: center -455px; }
html.fixed-supported #TBSalesButton { background-position: center -490px; }
html.fixed-supported #TBSalesButton:hover, 
html.fixed-supported #toolbarMenu li.entry:hover #TBSalesButton { background-position: center -525px; }

/* CHROME VARIANTS - Weiterlesen */

html.fixed-supported #body.no-touch #weiterLesen
{
	position:fixed;
	bottom:46px; 
	overflow:hidden;
	-webkit-transform: translateZ(0);
}
html.fixed-supported #body.no-touch.ch_derstandardintern #weiterLesen
{
	bottom:8px;
}
html.fixed-supported #body.no-touch #weiterLesen:hover
{
	width:235px;
}
html.fixed-supported #body.no-touch #weiterLesenScroll
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:235px;
	overflow:auto;
}

/* PIVACY POLICY INFOTEXT */
html.fixed-supported #body.no-touch #privacypolicy {
	bottom: 39px;
}