﻿#tMob {
}

html {
	font-size: 16px;
}

body,
.stdChrome,
.stdChrome * {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Arial,Helvetica,sans-serif;
	color: #000;
	padding: 10.5em 0 1em 0;
}

#ivw {
	position: absolute;
	visibility: hidden;
}

#ivw_dialog {
	position: absolute;
	visibility: hidden;
}

#documentCanvas {
	clear: both;
	width: 975px;
	padding-bottom: 8px;
}

.invisible {
	visibility: hidden;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.chSeite1 *,
.chMeinung *,
.chPolitik *,
.chWirtschaft *,
.chWeb *,
.chSport *,
.chPanorama,
.chEtat *,
.chKultur *,
.chWissenschaft * {
	border-width: 0;
	border-style: solid;
}

.clear,
.clearboth,
.clearall {
	display: block;
	clear: both !important;
	height: 0px !important;
	_height: 1px !important;
	visibility: hidden;
}
/* IE7 fix */
* + html .clear {
	height: auto !important;
}

.svcNav {
	text-align: left;
	padding: 0px 3px;
	margin-bottom: 15px;
}

.svcNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.svcNav ul li {
	display: inline;
}

.onclick {
	cursor: pointer;
	cursor: hand;
}

pre {
	font-family: consolas, courier, "courier new", monospace;
}

.tri {
	background-image: url(/img/cont/lnk/artikel_093875.gif);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 9px;
}

#media-list .empty {
	display: none;
}

hr {
	padding: 0;
	height: 1px;
	border: 0;
}

.std-button {
	display: block;
	padding: 0 8px;
	text-align: center;
	line-height: 22px;
	border: 1px solid #666;
	background: rgba(0,0,0,0.1) url(/img/buttons/gradient.png) repeat-x top left;
	cursor: pointer;
	cursor: hand;
	outline: none;
	-webkit-user-select: none;
}

button.std-button {
	width: 0;
	overflow: visible;
}

button[class].std-button {
	width: auto;
}

.std-button: disabled,
.std-button.disabled {
	opacity: 0.5;
}

.std-button.discreet,
.livereport .comment .std-button,
.livereport .comment .std-button.icon {
	background-color: transparent;
	background-position: 0 -89px;
	border-color: transparent;
}

.hover-element:hover .std-button,
.hover-element:hover .std-button.icon {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(51, 51, 51, 0.4);
	background-color: rgba(0, 0, 0, 0.1);
	background-image: url(/img/buttons/gradient.png);
	background-repeat: repeat-x;
	color: rgb(51, 51, 51);
	text-shadow: 0px 1px rgb(255, 255, 255);
	background-position: 0 0;
}

.hover-element:hover .std-button.icon {
	background-color: rgba(0,0,0,0.2);
}

.std-button:hover {
	background-color: rgba(0,0,0,0.1) !important;
	border-color: #333 !important;
	text-decoration: none;
}

.std-button:active {
	background-color: #fff !important;
	background-position: 0 -44px;
	border-color: #fff !important;
	color: #000 !important;
}

.hover-element:hover .std-button:active {
	background-image: none;
}

.std-button: disabled {
	background-position: 0 -44px;
	opacity: .2;
}

.std-button.discreet:hover {
	background-position: 0 0;
}

.std-button.discreet:active {
	background-position: 0 -44px;
}

.std-button.icon {
	width: 22px;
	padding: 0;
	background-image: url(/img/desktop/sprite_buttons6.png);
	text-indent: -10000px;
}

.std-button.icon.prev {
	background-position: -132px 0;
}

.std-button.icon.prev:active {
	background-position: -132px -44px;
}

.std-button.icon.next {
	background-position: -154px 0;
}

.std-button.icon.next:active {
	background-position: -154px -44px;
}

.std-button.icon.mail {
	background-position: -110px -2px;
}

.std-button.icon.mail:active {
	background-position: -110px -46px;
}

.std-button.icon.print {
	background-position: 0 -2px;
}

.std-button.icon.print:active {
	background-position: 0 -46px;
}

.std-button.download {
	padding-left: 0 !important;
}

.std-button.download .icon {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin: 0 8px 0 2px;
	border-right: 1px solid rgba(0,0,0,.2);
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(/img/ui/icn_file.gif);
}

.std-button.download .icon.doc {
	background-image: url(/img/ui/icn_file-doc.gif);
}

.std-button.download .icon.docx {
	background-image: url(/img/ui/icn_file-docx.gif);
}

.std-button.download .icon.pdf {
	background-image: url(/img/ui/icn_file-pdf.gif);
}

.std-button.download .icon.ppt {
	background-image: url(/img/ui/icn_file-ppt.gif);
}

.std-button.download .icon.sit {
	background-image: url(/img/ui/icn_file-sit.gif);
}

.std-button.download .icon.zip {
	background-image: url(/img/ui/icn_file-zip.gif);
}

.std-button.download .icon.xls {
	background-image: url(/img/ui/icn_file-xls.gif);
}

.std-button.download .icon.xlsx {
	background-image: url(/img/ui/icn_file-xlsx.gif);
}

.std-button.download .label {
	display: block;
	float: right;
	padding-right: 20px;
	line-height: 22px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	background: url(/img/ui/icn_download.png) right center no-repeat;
}

#footer {
	clear: both;
	margin: 1em 8px 0 8px;
	border-top-width: 3px;
	border-top-style: solid;
	background-color: rgba(0,0,0,.1);
	font-size: 1.1em;
}
/*body.ressort #footer {
	width: 959px;
}
*/
body.object #footer {
	width: 740px;
}

body.object #archive #footer {
	width: 959px;
}
/* FIX IT, .object sollte nicht im DOM stehen */
#footer .wrapper {
	padding: 16px 0 0;
}

#footer .copyright {
	float: left;
	margin: 0 0 12px 12px;
	max-width: 500px;
}

#footer .copyright strong {
	display: block;
	margin: 0 0 8px;
	font-size: 15px;
	font-weight: normal;
}

#footer .imprint {
	float: right;
	margin: 0 12px 12px 0;
	font-size: 1.3em;
	line-height: 18px;
}

#footer .product-menu {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	border-top-width: 1px;
	border-top-style: solid;
}

#footer .product-menu ul {
	float: left;
	width: 100%;
	margin: 0;
}

#footer .product-menu li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer .product-menu li:before {
	content: "·";
	margin: 0 10px;
}

#footer .product-menu li:first-child:before {
	content: "";
	margin: 0;
}

#footer .product-menu a em {
	font-family: courier;
}

#footer .product-menu a span {
	font-size: .85em;
}
/* Feedbackformular*************************************************/
#feedback-ui {
	position: fixed;
	left: 245px;
	top: -200px;
	width: 430px;
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border: 3px solid rgba(255,255,255,0.3);
	padding: 10px;
	z-index: 40;
	opacity: 0;
	font-size: 1.2em;
}

#feedback-ui.fadein {
	top: 65px;
	opacity: 1;
	transition: top .8s ease-in-out;
}

#feedback-ui.fadeout {
	top: -200px;
	opacity: 1;
	transition: top .8s .1s ease-in-out;
}

#feedback-ui #feedbackPostForm {
	opacity: 1;
}

#feedback-ui #feedbackPostForm.fadeout {
	opacity: 0;
	transition: opacity .7s ease-in-out;
}

#feedback-ui h2 {
	padding-bottom: 3px;
	border-bottom: 1px solid #efefef;
	margin-bottom: 3px;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2);
}

#feedback-ui textarea {
	width: 100%;
	min-height: 90px;
	max-height: 300px;
	resize: vertical;
	border-style: none;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
	padding: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#feedback-ui div.inputtext {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
}

#feedback-ui .counter {
	text-align: right;
}

#feedback-ui button {
	float: left;
}

#feedback-ui button.cancel {
	margin-left: 15px;
}

#feedback-ui .rating {
	float: left;
	border: none;
	margin-bottom: 5px;
	margin-left: 0;
	padding: 0;
}

#feedback-ui .rating legend {
	float: left;
	line-height: 2.2em;
	margin-right: 5px;
}

#feedback-ui .rating: not(: checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0,0,0,0);
}

#feedback-ui .rating: not(: checked) > label {
	float: right;
	width: 18px;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 22px;
	line-height: 1.1em;
	color: #ddd;
}

#feedback-ui .rating: not(: checked) > label:before {
	content: '★ ';
}

#feedback-ui .rating > input: checked ~ label,
#feedback-ui .rating > input: checked + label:hover,
#feedback-ui .rating > input: checked + label:hover ~ label,
#feedback-ui .rating > input: checked ~ label:hover,
#feedback-ui .rating > input: checked ~ label:hover ~ label,
#feedback-ui .rating > label:hover ~ input: checked ~ label,
#feedback-ui .rating: not(: checked) > label:hover,
#feedback-ui .rating: not(: checked) > label:hover ~ label {
	color: #ebad18;
}

#feedback-ui .rating > label:active {
	position: relative;
	top: 0px;
	left: 0px;
}

#feedback-ui .success {
	padding: 5px;
	background-color: rgba(71, 150, 87, 0.30);
	border: 1px solid rgba(71, 150, 87, 0.90);
	color: #102f17;
}

#feedback-ui .error {
	padding: 5px;
	background-color: rgba(206, 58, 58, 0.30);
	border: 1px solid rgba(206, 58, 58, 0.90);
	border-style: solid;
	border-width: 1px;
	color: #3b1111;
}

.std-button.feedbackbutton {
	float: right;
	position: relative;
	top: 6px;
	right: 10px;
	line-height: 19px;
}
/*.rating-log*/
.livechat .rating-log-wrap {
	width: 515px;
	margin-left: 219px;
	margin-top: 20px;
}

.livechat .communityCanvas .rating-log-wrap {
	width: 100%;
	margin: 0;
}

.rating-log {
	width: 100%;
	max-height: 99px;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.4);
	border-color: rgba(0, 0, 0, 0.2) !important;
	border-width: 1px 0 1px 0;
	border-style: solid;
	margin-bottom: -1px;
}

.rating-log table {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
}

.rating-log td {
	vertical-align: top;
	padding: 0;
}

.rating-log td.count {
	padding: 0 4px;
	width: 10%;
	max-width: 50px;
	text-align: left;
	font-size: 11px;
	line-height: 21px;
	font-weight: bold;
}

.rating-log td.count span {
	font-weight: normal;
	font-size: 11px;
}

.rating-log td.list {
	width: 50%;
	border-left: 1px solid rgba(0,0,0,.2);
}

.rating-log td.list:first-child {
	border-left: 0;
}

.rating-log td.list tr {
	border-bottom: 1px solid rgba(0,0,0,.2);
	width: 100%;
}

.rating-log td.list tr:last-child {
	border-width: 0;
}

.rating-log td.count.down {
	background-color: rgba(204,0,0,.8) !important;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.rating-log td.count.up {
	border-left: 1px solid rgba(0,0,0,.2);
	color: #fff;
	background-color: rgba(45, 161, 6, .8) !important;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.rating-log td.follower {
	text-align: right;
}

.rating-log td.user {
	width: 85%;
}

.rating-log td.follower {
	width: 15%;
}

.rating-log td.user,
.rating-log td.follower {
	font-size: 12px;
	line-height: 19px;
	padding: 0 4px;
	vertical-align: middle;
}

.rating-log td.follower .utools {
	margin-left: 0;
	float: right;
}

.rating-log td.follower a.follow {
	line-height: 11px;
	background: transparent url(/img/ui/icn_follow-sprite2_mirror_01.png) no-repeat right -22px;
	padding: 0px 17px 0 4px;
	margin-right: 0;
	color: #fff;
}

.rating-log td.follower a.follow.unfollowed {
	background-position: right top;
	text-indent: 10000px;
}

.rating-log td.follower a.follow:hover {
	background-position: right -33px;
	text-decoration: none;
}

.rating-log td.follower a.follow.unfollowed:hover {
	background-position: right -11px;
}

.rating-log td.user a {
	float: left;
	display: block;
	max-width: 88%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px !important;
}

.rating-log a.employee {
	color: #EC008C;
}

.rating-log .user-badge {
	float: right;
}
/* User-Badge */
.user-badge {
	display: block;
	line-height: 9px;
	padding: 0 5px;
	vertical-align: middle;
	font-size: 10px;
	height: 9px;
	border: 1px solid rgba(0,0,0,0.2) !important;
	border-top: 1px solid rgba(0,0,0,0.4) !important;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	color: #fff;
	font-family: Arial, Helvetica Neue, sans-serif;
}

#body .user-badge span {
	color: #efefef;
}

#body .user-badge.unfollowed {
	display: none;
}

#body .user-badge.is-followed,
#body .user-dropdownmenue .user-dropdown .user-badge.is-followed {
	background-color: #51aded;
	border: 1px solid #419cda;
	color: #fff;
}

.rating-log .utools .user-badge {
	margin-top: 0;
}
/* Forum Addons */
#forumloading {
	margin-top: 8px;
	text-align: center;
}

.verified-identity-link {
	display: none;
}

.verified-identity-link.verified-identity {
	display: block;
	float: left;
	background-image: url(/img/ui/sprite_verified-identity.png);
	background-repeat: no-repeat;
	width: 12px !important;
	height: 12px;
	margin: 2px 2px 0 6px;
}

.verified-identity-link:hover {
	opacity: .7;
}

html.fixed-supported #body.no-touch #TBUserFollow .flyout .verified-identity-link.verified-identity {
	margin-top: 2px;
}

.rating-log .verified-identity-link.verified-identity {
	margin-top: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.verified-identity-link.verified-identity {
		background-image: url(/img/ui/sprite_verified-identity@2x.png);
		background-repeat: no-repeat;
		background-size: 12px 11px;
	}
}
/* FAIR USE */
#fairuse-badge {
	float: left;
	display: block;
	width: 42px;
	height: 28px;
	margin: 1px 6px 0 -1px;
	background-position: left top;
	background-repeat: no-repeat;
}

#fairuse-badge.fairuse1 {
	background-image: url(/img/ui/fairuse_badge1.png);
}

#fairuse-badge.fairuse2 {
	background-image: url(/img/ui/fairuse_badge2.png);
}
/* FAIR USE - RETINA */
@media (-webkit-min-device-pixel-ratio: 2) {
	#fairuse-badge {
		background-size: 41px 26px;
	}

	#fairuse-badge.fairuse1 {
		background-image: url(/img/ui/fairuse_badge1@2x.png);
	}

	#fairuse-badge.fairuse2 {
		background-image: url(/img/ui/fairuse_badge2@2x.png);
	}
}
/* Mobile Hint */
#hint-mobile-version {
	position: absolute;
	top: 0;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #FFF;
	font-size: 56px;
	line-height: 67px;
	background: #333;
}

#hint-mobile-version a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent url(/img/mobile/icn_mobile_hint.png) 32px center no-repeat;
	color: #FFF;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#hint-mobile-version a span {
	display: block;
	position: relative;
	top: 50%;
	padding: 0 16px 0 152px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#body.has-mobile-hint,
#body.has-mobile-hint #pageTop,
#body.has-mobile-hint #toolbar {
	margin-top: 201px;
}


/* Chrome Push Hint */
#hint-push-service {
	position: absolute;
	top: 0;
	left: 292px;
	padding: 6px 0 7px 0;
	box-shadow: -2px 0px 2px rgba(0,0,0,.1);
	opacity: 1;
	transition: opacity .5s linear;
	z-index: 199;
}

#hint-push-service div {
	border-right-width: 1px;
	border-right-style: solid;
}

#hint-push-service.fade {
	opacity: 0;
}

#hint-push-service a {
	display: block;
	padding: 3px 26px 3px 10px;
	width: 222px;
	font-size: 11px;
	line-height: 120%;
}

#hint-push-service a strong {
	color: #ec008c;
}

#hint-push-service #hint-close {
	position: absolute;
	display: block;
	width: 33px;
	height: 32px;
	top: 6px;
	right: 0;
	cursor: pointer;
	opacity: .6;
}

#hint-push-service #hint-close:before{
	content: "";
	position: absolute;
	top: 7px;
	right: 50%;
	display: block;
	width: 2px;
	height: 18px;
	transform: rotate(-45deg);
	background: #000;
}
#hint-push-service #hint-close:after{
	content: "";
	position: absolute;
	top: 7px;
	right: 50%;
	display: block;
	width: 2px;
	height: 18px;
	transform: rotate(45deg);
	background: #000;
}

#hint-push-service #hint-close:hover:before,
#hint-push-service #hint-close:hover:after {
	background: #555;
}

#hint-push-service #hint-close:active:before,
#hint-push-service #hint-close:active:after {
	background: #999;
}

#body #iab-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 975px;
	background: rgba(255, 255, 255, 1);
	z-index: 999;
	overflow: hidden;
}

@media screen and (min-device-height: 700px) {
	html.fixed-supported #body.no-touch #iab-overlay {
		top: 81px;
		bottom: 39px;
	}
}
/* User - Dropdown Menue */
#body .user-dropdownmenue .user-dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
}

#body .user-dropdownmenue {
	background: transparent url("/img/ui/sprite_forum.png") no-repeat 0 -126px;
	display: none;
	padding-top: 7px;
	position: absolute;
	top: 12px;
	left: 0;
	z-index: 10;
}

#body .user-dropdownmenue .user-dropdown {
	background: #fff;
	min-width: 190px;
	padding: 0;
	position: relative;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

#body .user-dropdownmenue .user-dropdown li:hover {
	background-color: #efefef;
}

#body .user-dropdownmenue .user-dropdown li:hover a {
	text-decoration: none;
}

#body .user-dropdownmenue .user-dropdown li a {
	float: none;
}

#body .user-dropdownmenue .user-dropdown li:last-child {
	border: none;
}

#body .user-dropdownmenue .user-dropdown li a {
	display: block;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial,HelveticaNeue, sans-serif;
}

#body .user-dropdownmenue .user-dropdown li button span {
	float: right;
}

#body .user-dropdownmenue .user-dropdown li {
	border-bottom: 1px solid #ccc;
	height: 29px;
}

#body .user-dropdownmenue .user-dropdown li > * {
	margin: 0;
	padding: 0 8px;
	border: none;
	background: none;
	cursor: pointer;
	display: block;
	line-height: 30px;
	width: 100%;
	box-sizing: border-box;
}

#body .user-dropdownmenue .user-dropdown .user-badge {
	margin-top: 8px;
	height: 12px;
	line-height: 13px;
	font-size: 11px;
}

#body .user-dropdownmenue .user-dropdown li a,
#body .user-dropdownmenue .user-dropdown li button {
	color: #162964;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial,​HelveticaNeue,​sans-serif;
}
/* GLOBAL UGC COLOR HANDLING
================================================== */
.ugc-icon {
	display: inline-block;
	margin-right: 2px;
	color: #ec008c;
}
/* GLOBAL COLOR HANDLING
================================================== */
li.res span.lei,
a,
.lnkcol,
.stdButton,
.std-button {
	color: #162964;
}

#navigation li li a:hover,
#navigation li li.active a {
	color: #000 !important;
}

#navLine1 li#nav_ueberuns li a:hover,
#navLine1 li#nav_ueberuns li.active a {
	color: #fff !important;
}
/* RESSORT NAVIGATION STYLES | GLOBAL HANDLING
================================================== */
#nav_meinung ul,
#nav_blogs ul {
	background-color: #d2d5d2 !important;
}

#nav_meinung ul a,
#nav_blogs ul a {
	color: #555a55 !important;
}

#nav_diverses ul {
	background-color: #d2d5d2 !important;
}

#nav_diverses ul a {
	color: #707170 !important;
}

#nav_user ul {
	background-color: #F2F2F2 !important;
}

#nav_user ul a {
	color: #707170 !important;
}

#nav_seite1 ul {
	background-color: #d2d5d2 !important;
}

#nav_seite1 ul a {
	color: #707170 !important;
}

#nav_international ul {
	background-color: #a6c7c7 !important;
}

#nav_international ul a {
	color: #325757 !important;
}

#nav_inland ul {
	background-color: #c5d3d8 !important;
}

#nav_inland ul a {
	color: #404450 !important;
}

#nav_wirtschaft ul {
	background-color: #c5cda4 !important;
}

#nav_wirtschaft ul a {
	color: #4b5b27 !important;
}

#nav_web ul {
	background-color: #a5bb90 !important;
}

#nav_web ul a {
	color: #3f5820 !important;
}

#nav_sport ul {
	background-color: #bcd152 !important;
}

#nav_sport ul a {
	color: #406020 !important;
}

#nav_skiwm2015 ul {
	background-color: #bcd152 !important;
}

#nav_skiwm2015 ul a {
	color: #406020 !important;
}

#nav_panorama ul {
	background-color: #8cc48c !important;
}

#nav_panorama ul a {
	color: #335533 !important;
}

#nav_etat ul {
	background-color: #ffc257 !important;
}

#nav_etat ul a {
	color: #774422 !important;
}

#nav_kultur ul {
	background-color: #c0c0c0 !important;
}

#nav_kultur ul a {
	color: #444444 !important;
}

#nav_wissenschaft ul {
	background-color: #99c9d6 !important;
}

#nav_wissenschaft ul a {
	color: #3e515c !important;
}

#nav_gesundheit ul {
	background-color: #f2f2f2 !important;
}

#nav_gesundheit ul a {
	color: #000 !important;
}

#nav_bildung ul {
	background-color: #e3e3d6 !important;
}

#nav_bildung ul a {
	color: #404035 !important;
}

#nav_reisen ul {
	background-color: #f0f0f0 !important;
}

#nav_reisen ul a {
	color: #445566 !important;
}

#nav_familie ul {
	background-color: #D8D3DA !important;
}

#nav_familie ul a {
	color: #727074 !important;
}

#nav_livingroom ul {
	background-color: #f0f0f0 !important;
}

#nav_livingroom ul a {
	color: #666666 !important;
}

#nav_lifestyle ul,
#nav_essentrinken ul,
#nav_aussehengestalten ul,
#nav_spielenlesen ul,
#nav_kaufen ul {
	background-color: #f0f0f0 !important;
}

#nav_lifestyle ul a,
#nav_essentrinken ul a,
#nav_aussehengestalten ul a,
#nav_spielenlesen ul a,
#nav_kaufen ul a {
	color: #666666 !important;
}

#nav_echtzeitung ul {
	background-color: #d3d3d3 !important;
}

#nav_echtzeitung ul a {
	color: #666666 !important;
}

#nav_kiaroom ul {
	background-color: #e8ecf3 !important;
}

#nav_kiaroom ul a {
	color: #666666 !important;
}

#nav_karriere ul,
#nav_job ul {
	background-color: #e8ecf3 !important;
}

#nav_karriere ul a,
#nav_jobs ul a {
	color: #666666 !important;
}

#nav_immobilien ul {
	background-color: #e8ecf3 !important;
}

#nav_immobilien ul a {
	color: #666666 !important;
}

#nav_automobil ul {
	background-color: #e8ecf3 !important;
}

#nav_automobil ul a {
	color: #666666 !important;
}

#nav_anzeige ul {
	background-color: #C3006B !important;
}

#nav_anzeige ul a {
	color: #FFFFFF !important;
}

#nav_anzeige ul li.active a,
#nav_anzeige ul li a:hover,
#nav_anzeige ul li a:active {
	color: #FDE2BA !important;
}

#nav_impressumonline ul {
	background-color: #d2d5d2 !important;
}

#nav_impressumonline ul a {
	color: #707170 !important;
}

#nav_diestandard ul {
	background-color: #e9e9e9 !important;
}

#nav_diestandard ul a {
	color: #666666 !important;
}

#nav_dastandard ul {
	background-color: #e9e9e9 !important;
}

#nav_dastandard ul a {
	color: #666666 !important;
}

#nav_wetter ul {
	border-bottom: 2px solid #6a9f73;
	background-color: #cccccc !important;
}

#nav_abo ul {
	background: #D6C1AA !important;
}

#nav_abo ul a {
	color: #392625 !important;
}

#nav_testchannel ul {
	background-color: #9b9b9b !important;
}

#nav_testchannel ul a {
	color: #555a55 !important;
}

#nav_ueberuns ul a {
	color: #ccc !important;
}
/* GLOBAL ADVERTISEMENT HANDLING
================================================== */
.adv {
	background-color: #EDEDED;
}

div.promotionMarker {
	border-color: #336633;
}

div.promotionMarker span {
	background-color: #336633;
	color: #ffffff;
}

#tMob {
}

#logo {
	background-image: url(/img/desktop/logo_derstandardat_blau.png);
}

body.iframe {
	padding: 0;
}
/* Header */
#pageTop {
	position: absolute;
	top: 20px;
	z-index: 200;
	width: 100%;
	min-width: 975px;
	height: 8.1em;
}

body.iframe #pageTop {
	top: 0;
}

#breadcrumb {
	position: absolute;
	z-index: 199;
	top: 11px;
	left: 8px;
	font-family: Arial, Sans-Serif;
	font-size: 1.8em;
	white-space: nowrap;
}

#breadcrumb h1 {
	position: relative;
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

#breadcrumb a {
	text-decoration: none;
}

#breadcrumb a:hover {
	text-decoration: underline;
}

#breadcrumb .item {
	position: relative;
	margin: 0 0.4em;
}

#breadcrumb a#logo.item {
	display: block;
	float: left;
	width: 146px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 0;
	margin: -2px 0.5em 0 0;
}

#breadcrumb a#logo.item:hover {
	text-decoration: none;
}

#breadcrumb a#logo.item span {
	visibility: hidden;
}

#breadcrumb .godotLink {
	position: absolute;
	top: -10px;
	right: 0px;
	display: none;
}

#breadcrumb .godotLink img {
	border: 0;
}

#breadcrumb .item:hover .godotLink {
	display: inline;
}

#navigation {
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 200;
	width: 100%;
	overflow: hidden;
	font-size: 1.2em;
	height: 3em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#navHome {
	display: inline;
	position: absolute;
	z-index: 300;
	background-image: url(/img/desktop/nav_home_derstandardat.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 30px;
	height: 30px;
	left: 8px;
	top: 3px;
	overflow: hidden;
}

#navHome a {
	padding-left: 30px;
	line-height: 30px;
	font-size: 28px;
}

#nav_job .special.delimiter::after {
    content: 'NEU';
    background-color: /*#24869B*/ #ed827a;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    margin: 0px 2px 0 4px;
    padding: 2px 3px 1px 4px;
    text-transform: uppercase;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
    position: relative;
    top: -1px;
}

#navigation ul {
	list-style-type: none;
}

#navigation li {
	float: left;
}

#navigation li.right {
	float: right;
}

#navigation a.special {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.917em;
}

#navigation li span.delimiter-char {
	color: #ccc;
	margin-right: -5px;
}

#navigation a.special.delimiter {
	padding: 0 4px 0 10px;
}

#navLine1,
#navLine2,
#navLine1 ul ul,
#navLine2 ul ul {
	position: absolute;
	width: 100%;
	height: 1.5em;
	line-height: 1.5em;
	left: 0;
	top: 1.5em;
	background-repeat: no-repeat;
	background-position: 8px 0;
	padding-left: 45px;
}

#navLine1.active,
#navLine2.active {
	top: 0;
	z-index: 31;
	background-image: none;
}

#navLine1,
#navLine2 li ul {
	background-color: #FFF;
	/*background-image: url(/css/GreyHalfCircle.png)*/
}

#navLine1 a {
	color: #555;
	padding: 0 10px;
}

#navLine1 a:hover,
#navLine1 li.active a {
	color: #000;
	text-decoration: none;
}

#navLine2,
#navLine1 li ul {
	background-color: #666;
}

#navLine2 a {
	color: #DDD;
	padding: 0 10px;
}

#navLine2 a:hover,
#navLine2 li.active a {
	color: #FFF;
	text-decoration: none;
}

#navLine1 ul,
#navLine2 ul {
	width: 930px;
}

#navLine1 li ul,
#navLine2 li ul {
	display: none;
}

#navLine1 li.active ul,
#navLine2 li.active ul {
	display: block;
	width: 4000px;
}

#navLine2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* Widgets */
#widgets {
	position: absolute;
	top: 0;
	left: 467px;
	width: 500px;
	height: 45px;
	list-style-type: none;
}
/* Suchbox */
#siteSearch {
	position: relative;
	float: right;
	margin-top: 10px;
	height: 23px;
	width: 200px;
	z-index: 201;
	border-width: 1px;
	border-style: solid;
	background-color: #FFF;
}
/*#siteSearch form {
	position: relative;
	height: 22px;
	width: 190px;
	margin: 5px;
	overflow: hidden;
	font-size: 1em;
	background-color: red;
}
*/
#siteSearchQuery {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 166px;
	height: 17px;
	border: 0;
	color: #000;
	background: #FFFFFF;
	font-size: 1.3em;
}

#siteSearchButton {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 26px;
	height: 21px;
	overflow: hidden;
	border-width: 0;
	cursor: pointer;
	background: #fff url('/img/ui/searchLupe.gif') center center no-repeat;
	border-left: 1px solid #ccc;
}

#siteSearchButton span {
	display: none;
}
/* Wetter */
#wetterWidget {
	float: right;
	margin-top: 9px;
	margin-right: 17px;
	height: 26px;
	overflow: hidden;
	cursor: pointer;
}

#wetterWidget .bild {
	float: left;
}

#wetterWidget .stadt {
	height: 12px;
	font-size: 10px;
	white-space: nowrap;
	margin-left: 38px;
}

#wetterWidget .temp {
	height: 14px;
	font-size: 13px;
	font-weight: bold;
	line-height: 13px;
	margin-left: 38px;
}
/* PageTop Widgets */
#widgets .widget {
	float: right;
	margin-top: 6px;
	margin-right: 10px;
	padding-right: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	height: 32px;
}

#widgets .widget a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -1000px;
}

/* Abo Widget */
#widgets .widget-abo {
	width: 57px;
}

#widgets .widget-abo a {
	background: transparent url(/img/desktop/zeitungsrolle_abo_widget_2.png) no-repeat center center;
}

/* Kino Widget */
#widgets .widget-kino {
	width: 34px;
}

#widgets .widget-kino a {
	background: transparent url(/img/desktop/kinoprogramm_widget_pagetop.png) no-repeat center center;
}

/* Forum */
#communityCanvas {
	position: relative;
	margin: 1em 8px;
	min-height: 736px;
	/*needed for skyscryper Ad in Forum and must correspond with forum/site.css .forum => 620 (syscraper) + 60 (postingbox) + 46 (forum navigation) + 10 communityCanvas margin) */
}
#communityCanvas.empty {
	min-height: 0;
	/*no Forum*/
}

#communityCanvas,
html.fixed-supported #body.no-touch .forum .is-fixed .forum-toolbar-context {
	width: 521px;
	padding-left: 219px;
}

#toolbar .flyout,
#toolbar .close,
#TBServices,
#TBUserFollow,
#notLoggedIn a img {
	display: none;
}

#toolbar {
	position: absolute;
	left: 0;
	top: 0;
	height: 19px;
	width: 100%;
	min-width: 975px;
	font-weight: bold;
	font-size: 1.1em;
	color: #333;
	border-style: solid;
	border-width: 0 0 1px;
}

#toolbarBG {
	position: absolute;
	width: 100%;
	height: 100%;
}

#toolbar a {
	color: #333;
	border: none;
	text-decoration: none;
	padding: 0 8px;
	cursor: hand;
}

#toolbar a:hover {
	color: #333;
	border: none;
	cursor: hand;
}

#toolbar img {
	border: none;
}
#toolbarMenu,
#toolbarProfile {
	position:absolute;
	list-style-type: none;
	font-size: 10px;
	height: 100%;
	line-height: 20px;
}
#toolbarMenu {
	left: 0px;
	width: 530px;
}
#toolbarProfile {
	left: 550px;
	width: 425px;
}
#toolbarMenu li,
#toolbarProfile li {
	float: left;
	width: auto;
}
#toolbarMenu li,
#toolbarProfile li {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
#toolbarMenu li:hover,
#toolbarProfile li:hover {
	border-right: 1px solid rgba(255, 255, 255,.3);
	border-left: 1px solid rgba(255, 255, 255,.3);
	background-image: url('/img/ui/bg_000_05.png');
	background-repeat: repeat;
	background-position: top left;
}
#toolbarMenu li a.button,
#toolbarProfile li a.button {
	float: left;
	position: relative;
	display: block;
	width: auto;
	height: 20px;
	text-decoration: none;
}

#toolbarMenu li a.button:hover,
#toolbarProfile a.button:hover {
	text-decoration: none;
}

#toolbarMenu a.button:hover span,
#userFollow a.button:hover span {
	text-decoration: none;
}

#toolbarMenu li a.button span {
	line-height: 20px;
	cursor: pointer;
	cursor: hand;
}
/* Toolbar - User */
#TBDisplayName {
	padding: 0 5px 0 0;
}

#TBUser {
	list-style-type: none;
}
#toolbarProfile.anonymous li a#TBUserprofile,
#toolbarProfile.anonymous li a#TBLogout,
#toolbarProfile li a#TBLogin {
	display: none;
}
#toolbarProfile.anonymous li a#TBLogin {
	display: inline;
}

/* NEU Top-Gelesen / Top gepostet *************************************/
.top5-teaser {
	font-size: 10px;
	font-size: 0.625rem;
}

.kursInfoLeft .top5-teaser {
	margin-bottom: 16px;
	text-align: left;
}

.top5-teaser .heading {
	padding: 8px 8px 6px;
	border-style: solid;
	border-width: 0 0 1px;
	border-color: rgba(0,0,0,0.4);
	background: #fff;
}

.top5-teaser .tabs {
	float: right;
}

.top5-teaser h2 {
	float: left;
	font-size: 1.3em;
	font-weight: bold;
}

.top5-teaser h3 {
	float: left;
	padding-left: 4px;
	margin-bottom: 0;
	color: #162964;
	font-size: 1.3em;
	text-align: left;
	font-weight: normal;
}

.top5-teaser h4 {
	font-size: 1.3em;
}

.top5-teaser .bullet {
	float: left;
	display: block;
	padding-left: 4px;
}

.top5-teaser .tab1 h3.tab1,
.top5-teaser .tab2 h3.tab2 {
	color: #000;
	font-weight: bold;
}

.top5-teaser .tab1 h3.tab2:hover,
.top5-teaser .tab2 h3.tab1:hover {
	cursor: pointer;
	text-decoration: underline;
}

.top5-teaser ol {
	clear: both;
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.top5-teaser .tab1 ol.tab1,
.top5-teaser .tab2 ol.tab2 {
	display: block;
}

.top5-teaser li /*,.featureBlocks .embed .top5-teaser li */ {
	float: left;
	display: block;
	margin: 0 !important;
	padding: 0;
	width: 100%;
	border-style: solid;
	border-width: 0 0 1px !important;
	border-color: #888;
	border-color: rgba(0,0,0,0.2);
	background: transparent url(/img/ui/bg_fff_70.png) repeat left top;
}

.top5-teaser li .rank {
	float: left;
	display: block;
	width: 30px;
	height: 100%;
}

.top5-teaser li .rank span {
	display: block;
	padding: 6px 0;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	line-height: 100%;
}

.top5-teaser li .title {
	margin-left: 30px;
	padding: 6px 8px 6px;
	background: #fff;
}

.top5-teaser li h4 {
	display: inline;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 120%;
}

.top5-teaser li .postings {
	float: right;
	padding-left: 8px;
	font-size: 11px;
	line-height: 16px;
}

/* Kursinfo
========================================= */
#chart-tools .wrapper {
	float: left;
	width: 100%;
}

.chart-list .header {
	float: left;
	width: 100%;
	height: 20px;
}

.chart-list h3,
.stock-search h3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 4px;
	padding: 0;
	color: #fff;
}

.chart-list h3 a {
	float: left;
	color: #fff;
}

.chart-list .header a.more,
.featureBlock .group.normal li.normal .chart-list .header a.more {
	float: right;
	clear: none;
	padding: 0 9px 0 0;
	margin: 0 3px 0 0;
	border: none;
	font-size: 12px;
	line-height: 20px;
	background: transparent url(/img/ui/chartlist/icn_chartlist-more.gif) no-repeat center right;
}

.chart-list {
	min-height: 111px;
	border-width: 1px;
	border-style: solid;
}

.chart-list.high {
	min-height: 147px;
}

.chart-list.compact {
	min-height: 75px;
}

#chart-tools .chart-list {
	float: left;
	width: 309px;
	margin-right: 13px;
}

#chart-tools .chart-list.last {
	margin-right: 0;
}

.chart-list .list {
	position: relative;
	float: left;
	width: 100%;
}

.chart-list.compact ul {
	width: 300px !important;
	margin: 1px 0 0;
	padding: 0;
	background: #C5CDA4;
	display: inline;
	float: left;
}

.chart-list ul {
	width: 153px;
	margin: 1px 0 0;
	padding: 0;
	background: #C5CDA4;
}

.chart-list.compact li {
	float: left;
	width: 142px !important;
	padding: 0 1px;
	height: 17px;
	overflow: hidden;
	border-bottom: 1px solid #CFD6B2;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
}

#chart-tools .chart-list li {
	float: left;
	width: 146px;
	padding: 0 4px !important;
	margin: 0;
	height: 17px;
	overflow: hidden;
	border-bottom: 1px solid #CFD6B2;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
}

.chart-list li:hover,
.chart-list li.active {
	background: #fff;
}

.chart-list.compact li:hover,
.chart-list.compact li.active {
	background: none;
}

.chart-list .up {
	color: #006600;
}

.chart-list .constant {
	color: #000000;
}

.chart-list .down {
	color: #CC0000;
}

.chart-list li a {
	display: block;
	float: left;
}

.chart-list li span {
	display: block;
	float: right;
	padding-right: 14px;
	background-image: url(/img/ui/chartlist/icn_chartlist-trends.png);
	background-position: 100% -100px;
	background-repeat: no-repeat;
}

.chart-list li.constant span {
	background-position: 100% 0px;
}

.chart-list li.up span {
	background-position: 100% -20px;
}

.chart-list li.up.super span {
	background-position: 100% -40px;
}

.chart-list li.down span {
	background-position: 100% -60px;
}

.chart-list li.down.super span {
	background-position: 100% -80px;
}

.chart-list a.chart {
	display: block;
	position: absolute;
	top: 1px;
	right: 0;
	width: 155px;
	height: 89px;
	overflow: hidden;
}

.chart-list.high a.chart {
	height: 124px;
}

.chart-list a.chart img {
	position: absolute;
	border: 0;
	top: -1px;
}

.chart-list a.chart {
	display: none;
}

.chart-list li.active a.chart {
	display: block;
}

.wrapper.bottom {
	height: 22px;
	margin: 8px 0 0 0;
	font-size: 14px;
}

.stock-search {
	float: left;
	width: 633px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	color: #fff;
}

.small .stock-search {
	width: 302px;
	height: 48px;
}

.stock-search h3 {
	float: left;
	width: 149px;
	padding-left: 5px;
}

.small .stock-search h3 {
	width: 302px;
}

.stock-search input,
.stock-search select {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: none;
}

.small .stock-search input,
.small .stock-search select {
	margin-top: 2px;
}

.stock-search input {
	width: 151px;
	height: 20px;
	padding-left: 4px;
	margin-right: 15px;
	line-height: 20px;
}

.small .stock-search input {
	width: 218px;
	margin-right: 4px;
	margin-left: 4px;
}

.stock-search select {
	width: 154px;
	height: 20px;
}

.small .stock-search select {
	width: 143px;
}

.stock-search button {
	float: right;
	color: #162964;
	height: 20px;
	padding: 0 8px;
	border: none;
	background: transparent url(/img/ui/buttonBg.png) repeat-x top left;
	line-height: 20px;
}

.small .stock-search button {
	margin-top: 2px;
	margin-right: 6px;
}

.stock-search button:active {
	background-position: bottom left;
}

#chart-tools .content-links {
	float: right;
	width: 309px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	line-height: 20px;
}

#chart-tools .content-links a {
	display: block;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

#chart-tools .content-links a span {
	float: right;
	display: block;
	width: 21px;
	height: 20px;
	background-image: url(/img/ui/link.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.chart-list.ch_wirtschaft.kursinfoTagCloud {
	width: 292px;
	padding: 4px;
}
/* New most clicked Fonds Box */
.topfondsheadline {
	margin: 0.3076em 0 1em;
}

.chart-list.fondbox {
	width: 421px;
	border: none;
}

.chart-list.topfonds {
	/*width: 202px;
	*/
	border: none;
}

.chart-list.fondbox .header,
.chart-list.topfonds .header,
.colspan3 h2 {
	width: 100%;
	padding: 0;
	background-color: #97A271;
}

.chart-list.fondbox .header h3 a,
.chart-list.topfonds .header h3 a,
.colspan3 h2 {
	margin: 0px 3px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	vertical-align: middle;
}

.group .updateDate {
	font-size: 11px;
	color: #666;
}

.colspan3 h2 {
	margin: 0;
	padding: 1px 3px 0;
}

.colspan3 .gx_portrait,
.colspan3 .gx_portrait .gx_c02 td {
	background: none;
	width: 202px;
}

.gx_news .gx_c01 td,
.gx_news .gx_c02 td {
	background: none;
}

.gx_row .colspan3 h2 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
}
/* new top fonds */
.colspan3 .gx_data td.r {
	text-align: right;
}

.fondstable {
	width: 100%;
	margin: 0;
	table-layout: fixed;
}

.topfonds .fondstable {
	margin-bottom: 10px;
}

.fondstable td,
.fondstable th,
.gx_data td,
.colspan3 .gx_data td,
.gx_data th {
	padding: 3px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	font-size: 11px;
	line-height: normal;
	text-align: left;
}

.fondstable th,
.gx_data th {
	font-size: 10px;
}

tr.gx_c01,
tr.gx_c02 {
	background: transparent !important;
}

.fondstable .fondstablefirst,
.fondstable .fondstablesecond,
.fondstable .fondstablethird,
.fondstable .fondstablefourth,
.fondstable .fondstablefifth,
.gx_c01 td,
.gx_c02 td {
	background: rgba(255,255,255,0.2);
	vertical-align: middle;
}

.fondstable .fondstablefourth,
.fondstable th:last-child,
.fondstable td:last-child {
	text-align: right;
	width: 30%;
	white-space: nowrap;
}

.contentLeft .des109 .fondstable .fondstablefourth,
.contentLeft .des109 .fondstable th:last-child,
.contentLeft .des109 .fondstable td:last-child {
	text-align: right;
	width: 16%;
}

.featureBlocks .des109 .fondstable .fondstablefourth,
.featureBlocks .des109 .fondstable th:last-child,
.featureBlocks .des109 .fondstable td:last-child {
	text-align: right;
	width: 23%;
}

.fondstable td img {
	margin: 0;
}

.topfonds .fondstable .fondstablefirst div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.topfonds .fondstable .fondstablesecond {
	width: 20px;
}

.topfonds .fondstable .fright {
	width: 20px;
}

.topfonds .fondstable .tfright,
.topfonds .fondstable .fondstablefourth {
	text-align: right;
}

.contentNorm h2.topfondsheadline {
	font-size: 12px;
}
/* Kursinfo Aktien Right Col***************************************************/
.featureBlock .stories .chart-list ul {
	background: none;
	margin: 0;
}

.featureBlock .stories .chart-list .list li {
	border-bottom: none;
	float: left;
	font-size: 11px;
	height: 18px;
	line-height: 19px;
	overflow: hidden;
	padding: 0 4px;
	text-transform: uppercase;
	width: 137px;
	margin-bottom: 0 !important;
}

.featureBlock .stories .chart-list.high {
	min-height: 146px;
}

.featureBlock .stories .chart-list a.chart {
	top: 0;
	height: 126px;
}

.featureBlock .stories .chart-list a.chart img {
	top: 0;
}

.kursinfoTagCloud .updateDate {
	font-size: 9px;
	float: right;
}

#chart-tools .updateDate {
	font-size: 9px;
	float: right;
	margin-top: 4px;
	margin-bottom: -12px;
}

#chart-list-overview .updateDate {
	text-align: right;
	font-size: 9px;
	padding: 2px 5px;
	border-top-width: 1px;
	border-top-style: solid;
}

#privacypolicy {
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	padding: 16px 8px;
	width: 967px;
	border-top: 3px solid #333;
	font-size: 1.3em;
	line-height: 130%;
	z-index: 1000;
	background-color: #FDCD46;
}

#privacypolicy p {
	float: left;
	width: 860px;
	margin:0;
	color:#000;
}

#privacypolicy button {
	position: absolute;
	right: 24px;
	top: 50%;
	top: calc(50% - 11px);
}

#privacypolicy a {
	color: #000;
	text-decoration:underline;
}

[data-template="longform"] #privacypolicy {
	min-width: 967px;
	width: 100%;
}