﻿#tMob{}
body {
	width:100% !important;
	margin:0 !important;
	padding:0 !important;
	font:7pt arial,sans-serif !important;
	color:black !important;
	background:white !important;
}

a {
	text-decoration:none;
}
a img {
	border:none;
}
a, h1, h2, h3, h4, h5 {
	color:black !important;
}


#up_col_nav, up_col_nav *, .info-bar, #userprofile .rating, #userprofile .footer,
#navigation, #widgets,
#siteSearch, #toolbar,
#weiterLesen, #articleTools,
.lookupLinksArtikel,
.communityCanvas, .mainBgRight,
.imgzoom,
.WerberahmenOben, .SuperBannerKleinMitEW, .LAdKleinMitEW,
.SuperBannerKlein, .SuperBannerGrosz,
.LAdKlein, .LAdGrosz,
.SkyScraper, #Sitebar
{
	display:none !important;
}
#pageTop {
	border-bottom:1px solid black;
	position:static !important;
	height:4em;
	margin-bottom:2em;
	min-width:1px !important;
}

#pageTop,
#documentCanvas {
	background:white !important;
}

#documentCanvas,
#objectContent,
.artikelBody {
	width:auto !important;
}

.artikelBody {
	margin-left:0 !important;
}

.artikelBody * {
	max-width:9999px !important;
}

.artikelLeft {
	text-align:left !important;
}

.artikelLeft #media-list {
	margin-left:0 !important;
	margin-right:0 !important;
}

#documentCanvas {
	overflow:visible;
}

#logo {
	width:auto !important;
	height:auto !important;
	margin:0 0.4em 0 0 !important;
	background:white !important;
}
#logo span {
	visibility:visible !important;
}

#footer {
	border-top:1px solid black !important;
	margin:2em 0 0 8px !important;
	padding:1em 0 0 0 !important;
	width:auto !important;
}
#footer a {
	display:none;
}
#footer .context {
	color:#ccc !important;
}

/* Slideshow */

.slideControls a {
	visibility:hidden !important;
}

/* Site Search */

.searchFormCanvas button {
	display:none;
}
.contentMain .text h3 a:link:after,
.contentMain .text h3 a:visited:after {
	content: " " attr(href);
	font-size:0.5em;
	color:#333333 !important;
}
.contentMain .text h3 a[href^="/"]:after {
	content: " http://derstandard.at" attr(href);
}
/*
	Das Folgende ist noch nicht auf das
	Suchergebnis eingeschränkt.
*/

#mainFeature, #topFeature {
	display:none;
}


#userprofile .thread
{
	border-color: #b5bab5;
}

#userprofile #up_col_content
{
	width: 100%;
}

#userprofile .postings .text
{
	width: 100%;
	clear: both;
}

#userprofile .postings .items, #userprofile .postings .item
{
	margin-bottom: 16px;
	border-bottom: 1px solid;
}