﻿#ressortTools
{
	margin: -4px 0 8px 0;
	background: transparent url('/img/ui/bg_ressortTools.png') repeat-x left top;
	width: 958px;
	padding: 0 0 0 9px;
	height: 28px;
	/* IE8 */
	margin-top: -3px\0/;
}
#ImmoPortal,
#JobPortal
{
	margin:0 !important;
}

/* IE7 */
*+html #ressortTools
{
	margin-top: -3px;
}

#ressortTools .date h6,
#ressortTools span,
#ressortTools a
{
	float:left;
	line-height: 29px;
	font-size: 12px;
}

#ressortTools .date h6
{
	 font-weight:normal;
}

#ressortTools .date,
#ressortTools .order
{
	float: left;
}

#ressortTools .date
{
	width: 36.5%;
}

#ressortTools .order
{
	text-align: center;
	width: 26%;
}

div#ressortTools div.r
{
	position: relative; 
	z-index: 100; 
	float:right; 
	margin-right:20px; 
	font-size: 1.2em; 
}

div#ressortTools .m
{
	font-size: 1.084em; 
}

div#ressortTools .l
{
	font-size: 1.1666em; 
}

#ressortTools .order a,
#ressortTools .order span
{
	padding: 1px 8px;
	margin: 0 2px 0 0; 
	background: transparent url('/img/ui/bg_fff_50_1_28.png') repeat-x left top;
	float: none;
}

#ressortTools .order span.context
{
	background: none;
	padding: 1px 0;
}

#ressortTools .order a.rel,
#ressortTools .order span.rel
{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px; 
	-moz-border-radius-bottomleft: 8px; 
}

#ressortTools .order a.chron,
#ressortTools .order span.chron
{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px; 
	-moz-border-radius-bottomright: 8px; 
}

#ressortTools .socialmedia
{
	float: right;
}
#ressortTools .socialmedia .context
{
	margin-right: 8px;
	max-width: 235px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
}
*:first-child+html #ressortTools .socialmedia .context
{
	width: 220px;
}
#ressortTools .socialmedia ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	height: 28px;
}
#ressortTools .socialmedia li
{
	width: 28px;
	float: left;
	background: transparent url('/img/ui/bg_000_05.png') repeat left top;
	padding-left: 1px;
}
#ressortTools .socialmedia li span
{
	background:transparent url('/img/ui/bg_socialmedia.png') repeat-x left bottom;
}
#ressortTools .socialmedia li a
{
	display:block;
	width:28px;
	height:27px;
	background:transparent url('/img/ui/socialshareressort.png') no-repeat left 0;
}
#ressortTools .socialmedia ul li a.facebook
{
	background-position:left -28px;
}
#ressortTools .socialmedia ul li a.googleplus
{
	background-position:left -56px;
}
#ressortTools .socialmedia ul li a.rss
{
	background-position:left -84px;
}
#ressortTools .socialmedia ul li a.twitter:hover {
	background-position:-28px 0px;
}

#ressortTools .socialmedia ul li a.facebook:hover {
	background-position:-28px -28px;
}

#ressortTools .socialmedia ul li a.googleplus:hover {
	background-position:-28px -56px;
}

#ressortTools .socialmedia ul li a.rss:hover {
	background-position:-28px -84px;
}
#ressortTools #set-homepage
{
	display:block;
	float:right;
	margin:4px 8px 0 0;
	width:89px;
	height:20px;
	font-size:11px;
	line-height:11px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:rgba(0,0,0,.2);
	border-radius:3px;
	box-shadow: 0 1px 1px rgba(255,255,255,.4);
	opacity:.6;
}
#ressortTools #set-homepage:hover,
#ressortTools #set-homepage:active
{
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	opacity:1;
}

/* PROMOTIONS */
.promotionMarker 
{
	width:959px;
	height:14px;
	margin:0 0 0 8px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	text-align:center;
	line-height:14px;
}
.promotionMarker span
{
	padding:0 8px;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	font-size:10px;
	line-height:17px;
}
.promotionMarker span em
{
	text-transform:uppercase;
	font-style:normal;
	letter-spacing:1px;
	font-weight:bold;
}



/* ADDITIONAL NAVIGATION */
.additionalNavigation
{
	margin: 1em 8px 0 8px;
}
.additionalNavigation li
{
	display: block;
	height: 1.6666em;
	float: left;
	font-size: 1.2em;
	line-height: 1.6666em;
}
.additionalNavigation a
{
	display: block;
	height: 100%;
	padding: 0 8px;
	margin-right: 1px;
}
.additionalNavigation a.context
{
	text-decoration: none;
}
.top-embed
{
	border-style:solid;
	border-width: 0 0 1px 0;
	margin:8px 8px 0.8em;
	padding-bottom: 1.6em;
}

.newsflash
{
	position:relative;
	float:left;
	width:960px;
	margin: 8px 8px 0 8px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.newsflash .spacer
{
	position:absolute;
	left:479px;
	top:0;
	bottom:8px;
	width:1px;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:inherit;
}
.newsflash .col
{
	float:left;
	width:479px;
}
.newsflash .col.A
{
}
.newsflash .col.B
{
	margin-left:1px;
}
.top-embed,
.newsflash ul,
.contentBlocks ul,
.featureBlock ul
{
	overflow: hidden
}
.headlines
{
	position:relative;
	width:100%;
	clear:both;
}
.col-AB
{
	width:656px;
}
.col-AB.standard
{
	width:656px; 
	border-width:0; 
	border-style:none; 
	margin-left:0;
}
.col-A
{
	width:437px;
}
.col-A1,
.col-A2,
.col-B
{
	float:left;
	width:218px;
}


.skyline
{
	margin:1.6em 8px 0;
	padding-top:8px;
	width:959px;
	border-top-style:solid;
	border-top-width:1px;
	overflow: hidden;
}
.skyline .guide
{
	float:left;
	width:66px;
	max-height:160px;
	overflow:hidden;
}

.contentBlocks
{
	margin-top:0.8em;
	width:657px;
	float:left;
	position:relative;
	z-index: 100;
}
.contentBlocks .loadmore-ui
{
	position: relative;
	margin: 2px 1px 5em 0;
	padding-top: 2em;
	/*border-top-style: solid;
	border-top-width: 3px;*/
	background: transparent url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yMS8xM5AZswAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAOElEQVQImV3MwQ2AQAwDwQmVpbSURme+VxBgyR+v1jBJ/HvhrqrxSlWNJNBrYtCPuhCdxOd3xyQOkuox3N2R1G8AAAAASUVORK5CYII=') repeat-x left top;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.loadmore-ui.fade
{
	opacity: 0;
}
.loadmore-ui > div
{
	width: 182px;
	border-width: 1px;
	border-style: solid;
	margin: 0 auto;
}
.loadmore-ui button
{
	display: block;
	position:relative;
	width: 100%;
	font-size: 1.5em;
	line-height: 32px;
	text-align: center;
	background: transparent;
	border: none;
	outline: none;
}
.loadmore-ui button:hover
{
	cursor: pointer;
}
.loadmore-ui button:active
{
	margin: 1px 0 0 1px;
	width: 181px;
	line-height: 31px;
}
.loadmore-ui button div.loading
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right:100%;
	height: 0;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: loading;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-name: loading;
	-moz-animation-iteration-count: infinite;
	-o-animation-duration: 2s;
	-o-animation-name: loading;
	-o-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-name: loading;
	-ms-animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-name: loading;
	animation-iteration-count: infinite;
}
@-webkit-keyframes loading
{
	0% {
		right: 100%;
		left: 0%;
	}
	50% {
		right: 0%;
		left: 0%;
	}
	100% {
		right: 0%;
		left: 100%;
	}
}
@-moz-keyframes loading
{
	0% {
		right: 100%;
		left: 0%;
	}
	50% {
		right: 0%;
		left: 0%;
	}
	100% {
		right: 0%;
		left: 100%;
	}
}
@-o-keyframes loading
{
	0% {
		right: 100%;
		left: 0%;
	}
	50% {
		right: 0%;
		left: 0%;
	}
	100% {
		right: 0%;
		left: 100%;
	}
}
@-ms-keyframes loading
{
	0% {
		right: 100%;
		left: 0%;
	}
	50% {
		right: 0%;
		left: 0%;
	}
	100% {
		right: 0%;
		left: 100%;
	}
}
@keyframes loading
{
	0% {
		right: 100%;
		left: 0%;
	}
	50% {
		right: 0%;
		left: 0%;
	}
	100% {
		right: 0%;
		left: 100%;
	}
}


#chronological-section .contentBlocks
{
	float:none;
	margin-top:0;
}
.contentNorm
{
	clear:both;
	position:relative
}
.contentLeft
{
	float:left;
	width: 438px;
}
.einspaltig .contentLeft,
.chronological .contentLeft
{
	float:none;
	width:100%;
}
.col-A-split
{
	position:relative;
}
.colBorder
{
	position:absolute;
	top:0px;
	bottom:0px;
	right:218px;
	border-left-width:1px;
	width:1px;
	border-left-style:solid;
	z-index:1
}
.chronological .colBorder
{
	display:none;
}

#mainFeature,
.well-section .featureBlock
{
	margin-top:0.8em;
	width:310px;
	float:left;
	position:relative;
	z-index:100;
}
.featureColBg 
{
	position:absolute;
	top: 0;
	bottom:0px;
	left:656px;
	border-left-width:1px;
	border-left-style:solid;
	width:310px;
	z-index:1;
	margin-top: 0.8em;
}
.col-C
{
	width:310px;
	margin-top:0.3em;
}

.col-C .owner-info {
	margin: 0 0 8px 0;
	padding: 8px;
	background: rgba(0,0,0,.05);
	overflow: hidden;
	font-size: 0.866666667em;
	line-height: 135%;
}

.col-C .owner-info .visual {
	float: left;
	width: 106px;
	margin-right: 8px;
	line-height: 0;
}

#chronological-section,
.well-section
{
	width:967px;
	margin-top:3.2em;
	padding: 8px 0;

}
.well-section .menu
{
	margin-left:8px;
	width:959px;
	border-style:solid;
	border-width:0;
	border-bottom-width:2px;
	line-height:20px;
}
.well-section .menu ul
{
	display:block;
}
.well-section .menu li
{
	font-size:1.2em;
	margin:0 0 0.333em 8px;
	display:inline;
}
.well-section .menu li.home-ressort
{
	font-size:1.6em;
	font-weight:bold;
	padding-right:3px;
	margin:0;
	color: #162964;
}

/* User Generated Content (User) themed well section */
.well-section.user
{
	position: relative;
	background: #fff url(/img/desktop/bg_ugc-icon_well-section.png) no-repeat 0 0;
}
.well-section.user .menu
{
	border-color: #E2017B !important;
}
.well-section.user .menu ul
{
	margin-left: 28px;
}
.well-section.user .featureColBg {
	background-color: #f2f2f2;
}

.chronological .contentBocks ul
{
	width:656px; 
	border-width:0; 
	border-style:none; 
	margin-left: 0;
}
.blog ul
{
	padding:0.8em 0;
	width:656px !important;
}
.blog .meta
{
	float:left;
	width:202px;
	text-align:right;
	font-size:1.5em;
	line-height:1.3em
}
.blog .meta .author
{
	display:block;
	font-size:0.875em;
	line-height:1.5em;
}
.blog .content
{
	float:right;
	width:422px;
}
.blog .footer
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	width:421px;
	margin:0.4545em 0 5.4545em 219px;
	height:18px;
	font-size:1.1em;
	line-height:1.6363em;
	text-align:right;
}
.blog .footer div
{
	margin: 0 8px;
}

.blog-paging
{
	font-size:1.6em;
	text-align:center;
	width:421px;
	margin:0 0 0 219px;
}
.blog-paging span
{
	font-size:1.5em;
	vertical-align:middle;
	letter-spacing:2px;
}

/* Feature Block */

.featureBlock .embed
{
	font-size:1.2em;
}

/* RESSORT GUIDE */

.featureBlock li.group.guide .embed {
	font-size:10px;
	font-size:0.625rem;
}
.featureBlock li.group.guide
{
	padding-top: 0;
	background:transparent url('/img/ui/bg_ressortguide_shadow2.png') repeat-x left bottom;
	line-height:150%; 
}
.featureBlock li.guide > ul
{
	margin:0 4px;
	background: transparent url('/img/ui/bg_ressortguide.png') no-repeat left top;
}
.featureBlock .group.guide .stories 
{
	margin:1px 1px 0;
}
.featureBlock .group.guide h4 {
	padding:6px 7px;
	margin: 0 !important;
	font-size: 1.1em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.featureBlock .group.guide .group {
	float:left;
	width:100%;
	padding:9px 0 4px !important;
	background:transparent url('/img/ui/bg_000_15.png') repeat-x left top;
}
.featureBlock .group.guide h5 {
	float:left;
	width:88px;
	overflow:hidden;
	margin:0 0 4px 7px;
	color:#333;
	font-weight:normal;
	font-size:1.3em;
}
.featureBlock .group.guide h5 span 
{
	opacity:.6;
}
.featureBlock .group.guide .group ul {
	float:right;
	width:196px;
	margin-right:7px;
}
.featureBlock .group.guide li {
	font-size:1.3em;
	margin:0 !important;
}
.featureBlock .group.guide .vertical li 
{
	padding:0;
}
.featureBlock .group.guide .horizontal li {
	display:inline;
	padding: 0 1px 0 0;
}
.featureBlock .group.guide .horizontal li:after {
	content: '\0020\2022\0020';
	opacity: .5;
}
.featureBlock .group.guide .horizontal li:last-child:after {
	content: normal;
}
.featureBlock .group.guide button {
	clear: both;
	border:none;
	margin:0 0 0 94px;
	padding:0;
	font-weight:normal;
	background:transparent;
	opacity:.5;
}
.featureBlock .group.guide button:hover 
{
	background:none;
	opacity:1;
}
.featureBlock .group.guide button span {
	display:block;
	padding:0 0 0 12px;
	border:none;
	background-position:0px center;
	background-repeat:no-repeat;
}
.featureBlock .group.guide .collapsed button span {
	background-image:url('/img/ui/sort_desc.png');
}
.featureBlock .group.guide .expanded button span {
	background-image:url('/img/ui/sort_asc.png');
}

.featureBlock .group.guide .collapsed li,
.featureBlock .group.guide .collapsed button .collapse,
.featureBlock .group.guide .expanded button .expand 
{
	display:none;	
}
.featureBlock .group.guide .collapsed li.top,
.featureBlock .group.guide .collapsed button .expand,
.featureBlock .group.guide .expanded button .collapse 
{
	display:block;	
}
.featureBlock .group.guide .collapsed.horizontal li.top
{
	display:inline;	
}

/* TAG CLOUD */
#sp-tagcloud
{
	padding:9px 8px 2px 8px;
	background:transparent url('/img/ui/bg_000_15.png') repeat-x left top;
	font-size:10px;
}
.tags-only #sp-tagcloud
{
	padding-top:8px;
	background:none;
}

#sp-tagcloud a
{
	line-height:18px;
}
#sp-tagcloud .lv30 { font-size: 0.8em; }
#sp-tagcloud .lv50 { font-size: 1.0em; }
#sp-tagcloud .lv60 { font-size: 1.2em; }
#sp-tagcloud .lv70 { font-size: 1.4em; }
#sp-tagcloud .lv80 { font-size: 1.6em; font-weight:bold; }
#sp-tagcloud .lv100 { font-size: 1.8em; font-weight:bold;}

/* Meinungs-Block (C-Spalte) */

.featureBlock li.ohne-box.opinions > ul li {
	overflow: hidden;
	padding-bottom: 8px;
	margin: 0 8px 1px;
}
.featureBlock li.ohne-box.opinions > ul li .text {
	padding-top: 7px;
}
.opinions-header {
	position: relative;
	padding: 8px 0 1em;
	margin: 0 8px 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.opinions-header:before {
	content: '';
	position: absolute;
	top: 8px;
	right: 0;
	line-height: 0;
	color: rgba(0,0,0,.4);
	background-size: contain;
	width: 18px;
	height: 16px;
}
.opinions-header a {
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.opinions-header a:hover {
	text-decoration: none;
}
.opinions-portrait {
	float: right;
	width: 50px;
	height: 57px;
	margin-left: 8px;
}
.opinions-footer {
	padding: 7px 8px 1em;
}
.opinions-footer .deep-links {
	display: table-cell;
	width: 100%;
	font-size: 11px;
	line-height: 120%;
}
.opinions-footer .deep-links:last-child {
	text-align: right;
}
.opinions-footer .deep-links a {
	display: block;
}

/* Anheftung */

.newsflash ul.subs-attached li:before,
.contentBlocks ul.subs-attached li:before {
	content: '';
}
.newsflash ul.subs-attached li,
.contentBlocks ul.subs-attached li { 
	padding-left: 5px !important;
	margin-left: 15px;
	border-left: 1px solid rgba(0,0,0,.2);
	margin-bottom: 3px;
	position: relative;
}
.newsflash .col.A ul.subs-attached li {
	margin-left: 15px;
}
.newsflash ul.subs-attached li:last-child,
.contentBlocks ul.subs-attached li:last-child { 
	margin-bottom: 0;
}
.newsflash ul.subs-attached li:before,
.contentBlocks ul.subs-attached li:before { 
	position: absolute;
	left: -15px;
	top: 0;
	width: 14px;
	height: 15px;
}

/* Meinungs-Teaser */

li.opinion .text:before {
	content: '';
	float: right;
	border-left: 1px solid rgba(0,0,0,.2);
	display: block;
	width: 14px;
	height: 14px;
	background-position: 2px 2px;
	background-size: 12px 12px;
}

/* Icon für Meinung in Anheftung (.subs-opinion), Meinungs-Teaser (li.opinion) und Meinungs-Block (.opinions-header) */

li.subs-opinion:before,
li.opinion .text:before,
.opinions-header:before {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjkuMiIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOS4yIDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtvcGFjaXR5OjAuNDt9PC9zdHlsZT48ZyBjbGFzcz0ic3QwIj48cGF0aCBkPSJNMCAwaDQuMnYzLjNjMCAxLjItMC4zIDIuMi0wLjggMi45UzIuMSA3LjQgMC45IDhMMCA2LjJjMC44LTAuNCAxLjMtMC43IDEuNi0xUzIgNC40IDIgMy45SDBWMHpNNSAwaDQuMnYzLjNjMCAxLjItMC4zIDIuMi0wLjggMi45UzcuMSA3LjQgNS45IDhMNSA2LjJjMC44LTAuNCAxLjMtMC43IDEuNi0xUzYuOSA0LjQgNyAzLjlINVYweiIvPjwvZz48L3N2Zz4=');
	background-repeat: no-repeat;
}

/* WEATHERBOX */
iframe.weatherbox 
{
	height:100px; /* dynamische Hoehenanpassung im JavaScript (resize) */
}

/* LIVEBERICHT LABEL */
.tImg.livereport a,
.tImg.teaser a 
{
	display:block;
	position:relative;	
}
.tImg.livereport a span,
.tImg.teaser a .icon 
{
	display:block;
	position:absolute;
	font-size:11px;
}
.tImg.livereport .icon,
.tImg.teaser .icon
{
	left:0;
	top:0;
	padding:2px 8px;
	background-color:#E2017B;
	text-transform:uppercase;
	font-weight:bold;
	line-height:11px;
	letter-spacing:1px;
	color:#FFF;
}

.tImg.livereport .icon.forumplus,
.tImg.teaser .icon.forumplus {
	letter-spacing: normal;
}

.tImg.livereport .liveinfo {
	background-color: #630137;
	height: 16px;
	left: 100%;
	padding: 0 4px;
	top: -1px;
	width: auto;
	color:#fff;
	font-weight: bold;
	border:1px solid #E2017B;
	box-sizing: border-box;
	line-height:15px;
	text-transform:none;
}

.livepulseicon {
	width:15px;
	height: 15px;
	left: 44px;
	top: 0;
	background:#fff url(/img/ui/livepulse.gif) no-repeat center center;
}

.tImg.livereport .label
{	
	bottom:0;
	left:0;
	right:0;
	height:15px;
	overflow:hidden;
	background-color:#E2017B;
	color:#FFF;
	text-align:center;
	line-height:15px;
}
.newsflash .tImg.livereport .label
{
	bottom:0;
	left:0;
	right:0;
}
.tImg.livereport a:hover,
.tImg.livereport a:hover span
{
	text-decoration:none;
}
.tImg.livereport a:hover span.label
{
	text-decoration:underline;	
}

/*#documentCanvas .newsflash .tImg.live
{
	border-color:#E2017B;
}*/

.newsflash .tImg.live,
.contentBlocks .tImg.live,
.featureBlock .tImg.live {
	border-color:#E2017B;
}
#promotion-banner.text
{
	height: 40px;
	background-image: url('/img/ressort_banner/ressort_banner_background.png');
	background-repeat: no-repeat;
	margin: 0 0 0 8px;
	padding: 8px 0;
	width: 959px;
}
#promotion-banner ::selection,
#promotion-banner ::-moz-selection 
{ 
	color: #fff; 
	text-shadow: none; 
}
#promotion-banner.image
{
	margin: -8px 0 0 0;
}
#promotion-banner.image img
{
	border: none;
}
#promotion-banner a, 
#promotion-banner a *
{
	text-decoration: none;
}
#promotion-banner .ressort-banner-content
{
	width: 910px;
	overflow: hidden;
	height: 32px;
}
#promotion-banner .teaser-intro, 
#promotion-banner .teaser-text
{
	font-family: Arial Black, Arial, Helvetica;
	font-weight: 900;
	text-transform: uppercase;
}
#promotion-banner .teaser-intro
{
	text-align: right;
	line-height: 15px;
	margin: 0 20px 0 4px;
	width: 152px;
	display: block;
	float: left;
	color: #983333;
	font-size: 17px;
} 
#promotion-banner .teaser-text
{
	color: rgba(40, 40, 40, .5);
	font-size: 34px;
	letter-spacing: -2px;
	display: block;
	margin-left: 20px;
	line-height: 30px;
}
body.hasBillboard #promotion-banner
{
	display: none;
}
.ressort-teaser
{
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #888;
}
.ressort-teaser h6 a
{
	color: #963111;
}

/* WALL STREET JOURNAL CONTENT BOX */
.wsj-feed-box
{
	background:#fff;
	padding:0 0 8px 0;
	border: 1px solid #3E4346 !important;
}
.wsj-feed-box .header
{
	width:100%;
	height:30px;
	text-indent:-10000px;
	background:#3E4346 url(/img/wsj/wsj_de-logo-header.jpg) no-repeat top center;
}
.wsj-feed-box .entry
{
	margin:1em 8px 0 8px;
}
.wsj-feed-box *
{
	font-size:11px !important;
	line-height:120% !important;
}
.wsj-feed-box a
{
	font-weight:bold;
	color:#900;
}
.wsj-feed-box span
{
	display:none;
}

#ressortDescription { 
	background: transparent url('/img/ui/bg_000_10_10.png') repeat 0 0;
	margin: -7px 0 7px 0;
	width: 967px;
	color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#ressortDescription .wrap { 
	padding: 10px;
}
#ressortDescription img { 
	float:left;
	margin: 0 8px 0 0;
}
#ressortDescription .description { 
	float: right;
	width: 512px;
	font-size: 13px;
	line-height: 16px;
}
#ressortDescription h3 { 
	font-size: 30px;
	line-height: 34px;
	float: left;
	width: 417px;
	overflow: hidden;
}




ul
{
	border:0;
	border-style:solid;
	list-style-type:none;
}
h1
{ 
	display:none; 
}
.tImg
{
	position:relative;
	overflow:hidden;
	border-style:solid;
	border-width:1px;
}
.tImg img
{
	width:100%;
	height:auto;
	border-width:0;
}

.tImg .video-indicator
{
	display:block;
	position:absolute;
	background-color: #E2017B;
	left: 0;
	top: 0;
	text-align: center;
	color: #FFF;
	padding: 2px 8px;
	text-decoration: none;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}
.tImg a
{
	display:block;
}
.newsflash h2,
.contentBlocks h2
{ 
	font-size: 2em;
	line-height:1.2em;
	font-weight:bold;
}
.newsflash h3,
.contentBlocks h3,
.chronological .contentBlocks h4
{
	font-size:1.6em; 
	line-height:1.1875em; 
	font-weight:bold; 
}
.newsflash h6,
.contentBlocks h6
{ 
	font-size: 1.1em; 
	line-height:1.1818em; 
	font-weight:normal; 
	text-transform:uppercase; 
	letter-spacing:0.0909em; 
	margin-bottom: 0.2727em; 
}
.newsflash .info,
.contentBlocks .info
{
	font-size: 1.1em;
  line-height: 1.1em;
  margin-top: 0.2727em;
}
.newsflash .info .video,
.contentBlocks .info .video
{
	position:relative;
	padding-left:19px;
}
.newsflash .info .video span,
.contentBlocks .info .video span
{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:17px;
	height:12px;
	background:transparent url(/img/ui/icn_form_video.png) no-repeat 0 0;
}
.newsflash p,
.contentBlocks p
{
	font-size:1.3em;
	line-height:1.231em;
	margin-top:0.231em;
}
.newsflash ul,
.contentBlocks ul,
.featureBlock ul
{
	overflow: hidden
}
.newsflash ul ul,
.contentBlocks ul ul
{
	float:none;
	border-width:0;
	margin:0;
	overflow: visible;
}
.newsflash ul.stories > li,
.contentBlocks ul.stories > li
{
	margin:0px 8px 0.8em;
	padding-bottom:1.6em;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.contentBlocks .blog ul.stories > li
{
	border-width:0;
	padding-bottom:0;
}
.newsflash .col.A ul li
{
	margin-left:0;
}
.newsflash .col.B ul li
{
	margin-right:0;
}
.newsflash ul li.last,
.contentBlocks ul li.last
{
	border-bottom:0;
	padding-bottom:0
}
.top-embed .embed li,
.newsflash ul li li,
.contentBlocks ul li li
{
	margin:0.308em 0 0;
	padding:0 !important;
	border:0; font-size: 1.3em;
}
.top-embed .embed li small,
.newsflash ul li li small,
.contentBlocks ul li li small
{
	font-size:0.846em;
	line-height:1em;
}
.newsflash .ABC h3 {
	font-size: 2.8em;
}
.newsflash .ABC ul.stories > li {
	margin-left: 0;
	margin-right: 0;
}
.newsflash .ABC .text {
	display: table;
}
.newsflash .ABC-left {
	display: table-cell;
	width: 640px;
	padding-right: 8px;
}
.newsflash .ABC-right {
	display: table-cell;
	width: 290px;
	padding-left: 12px;
}
ul.stories .subs em {
	font-style: normal;
	font-weight: bold;
}
.einspaltig .contentLeft ul.stories
{ 
	padding:0 0 0 119px; 
}
.einspaltig .contentLeft .blog ul.stories
{
	padding-left:0;
}
.featureBlock .group > ul.stories
{
	float:none;
	border-width:0;
	margin:0;
	padding:0;
}
.col-C .group > ul li
{
	padding:0;
	margin: 0 8px 1em;
	clear: both;
}
.col-C .group > ul li.last
{
	margin-bottom:0px;
}
.featureBlock li.group
{
	margin:0 4px 1em;
	padding: 0.8em 0;
	clear:left;
	width:302px;
}
.featureBlock li.group.normal
{
		background-color:#fff;
}
.featureBlock li.group.alternative
{
	background-color:rgba(0,0,0,.10);
}
.featureBlock li.group.first
{
		padding-top: 0;
}
.featureBlock li.ohne-box
{
	padding:0;
}
.featureBlock li.ohne-box.first
{
	padding-top:0.8em;
}
.featureBlock li.ohne-box > ul li
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding-bottom:1em;
}
.featureBlock li.ohne-box > ul li.last
{
	border:0;
	padding-bottom:0;
}
.featureBlock li.group > ul li div.embed li
{
	border-bottom-width:0;
	padding: 0;
	margin: 0 0 2px 0;
}
.featureBlock .more {
	clear:both;
	margin: 8px 0 0;
	padding: 8px 0 0;
	border-top:1px solid rgba(0,0,0,.1);
	font-size:11px;
}
.featureBlock .group.normal li.normal .more {
	margin-left:-8px;
	margin-right:-8px;
	padding-left:8px;
	padding-right:8px;
}

/* Werbung Block 106 */
.featureBlock li.desADV { margin: 0 12px 1em; padding: 0.8em 0; clear:left; width:286px; }
.featureBlock li.desADV h6 { margin-bottom:0.2727em }
.featureBlock li.desADV .tImg { float:left; width:133px; height:89px; margin:0.1em 8px 0 0 }
.featureBlock li.desADV img { width:133px; height:89px }

/* SMALL DESIGN (-1) */
.contentBlocks .small h3,
.col-AB.standard h3
{
	font-size:1.4em;
	line-height:1.143em;
}
.contentBlocks .small h3 span.hl,
.col-AB.standard h3 span.hl
{
	font-size:0.7857em;
}
.contentBlocks .small h6
{
	margin-bottom: 0.1818em;
}

.newsflash span.hl,
.contentBlocks span.hl {
	font-size: 0.687em;
	font-weight: normal;
	letter-spacing: 0.0909em;
	line-height: 1.1818em;
	margin-bottom: 0.2727em;
	text-transform: uppercase;
	display: block;
}
.newsflash .ABC h3 a .hl {
	font-size: 0.3929em;
}
.newsflash h2 span.hl,
.contentBlocks h2 span.hl {
	font-size: 0.55em;
}

.col-AB.standard.stories li
{
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-width:0;
	margin:1em 8px 0 8px;
	padding-top:1em;
}
.col-AB.standard .date.image
{
	float:left;
	width:202px;
	text-align:right;
}
.col-AB.standard .text
{
	float:right;
	width:421px;
	margin:0 0 0 17px;
}
.col-AB.standard ul
{
	clear:both;
}
.col-AB.standard .tImg
{
	float:right;
	margin:0.1em 0 0.8em 8px;
}

/* HEADLINES IN CHRONOLOGICAL */
.chronological .contentLeft .stories li
{
	border-top-style:solid; 
	border-top-width:1px; 
	margin:0 8px; 
	padding-top:0.8em;
	border-bottom-width:0;
}
.chronological .contentLeft li.first
{
	border-top-width:0; 
	padding-top:0;
}
.col-AB.standard.stories li.first
{
	border-top-width:2px;
	margin-top:0;
}
.chronological .contentLeft li .date
{
	float:left; 
	width:55px; 
	text-align:right; 
	margin-right:17px;
}
.chronological .contentLeft li .tImg
{
	float:right;
	margin:0.1em 0 0.8em 17px;
}
.chronological .contentLeft li .text
{
	overflow:hidden;
}
.chronological .contentLeft li ul
{
	clear:both;
}
/*	Das Floating sollten wir eventuell nicht auf Verdacht vergeben um 
	es dann in Einzelfällen wieder zurückzunehmen, sondern nur in den 
	relevanten Designs verwenden: kleines Bild in breiter Spalte.
	Wenn wir das ändern, müssen auch die Werbe-Snippets berücksichtigt
	werden.
*/
li.normal .tImg
{
	float:left;
	margin:0.1em 0 0 0;
}
.col-A-split li.normal .tImg,
.col-B > li.normal .tImg,
.featureBlock li .tImg.t124,
.featureBlock li .tImg.t125,
.featureBlock li .tImg.t126 {
	float:none;
}
li.big .tImg,
.col-B > li .tImg,
.newsflash .tImg.t140,
.newsflash .tImg.t141
{
	margin:0.1em 0 0.8em 0;
}

/* IMAGE SIZES FOR IMG-TRANSFORMER CODES */
.t104 {	width:200px; height:133px; }
.t105 { width:419px; height:200px; }
.t106 { width:133px; height: 89px; }
.t110 { width:133px; height: 89px; }
.t114 { width:133px; height: 89px; }
.t107 { width:200px; height: auto; }
.t108 { width:419px; height: auto; }
.t112 { width:284px; height: auto; }
.t116 { width:133px; height: auto; }
.t120 { width:638px; height: auto; }
.t121 { width:419px; height: auto; }
.t122 { width:284px; height: auto; }
.t123 { width:133px; height: auto; }
.t140 { width:470px; height:133px; }
.t141 { width:470px; height: auto; }
.newsflash .t140,
.newsflash .t141,
.newsflash .t142 { width: 469px; }
.newsflash .t195 { width: 958px; }
.t124 { width:284px; height: 89px; }
.t125 { width:284px; height:110px; }
.t126 { width:284px; height:150px; }
.t127 { width:419px; height: auto; }
.t129 { width:200px; height: auto; }
.t150 { width:174px; height:116px; }
.t201 { width:300px; height:200px; }
.t202 { width:400px; height:266px; }
.t117 { width: 98px; height: 78px; }

.col-A li.normal.img .text
{
	float:right;
	width:202px;
}
.newsflash li.normal.img .text
{
	float:right;
	width:250px;
}
.newsflash li.normal .subs
{
	margin-right:8px;
}
.newsflash li.big .tImg
{
	margin:0.1em 0px 0.8em 0;
}
.newsflash .col.B li.big .text,
.newsflash .col.B li.big .subs
{
	margin-right:8px;
}
.col-AB li.normal .tImg
{
	float:left;
	margin:0.8em 0px 0.8em 0;
}
.col-AB li.normal ul
{
	float:right;
	width:202px;
	margin-top:0.333em;
	padding-bottom:1px;
}
.col-AB li.normal p,
.col-AB li.normal .info
{
	clear:left;
	width: 421px;
}
.col-AB li.big .tImg
{
	margin:0 0px 1em 0;
}
.col-AB li.big ul
{
	margin-top:0.333em;
	padding-bottom: 1px;
}

.einspaltig .contentLeft .stories li.normal .tImg
{
	float:left;
}
.einspaltig .contentLeft .stories li.big .tImg
{
	float:none;
	margin:0.1em 0 0.8em 0;
}
.einspaltig .contentLeft .stories li.normal.img .text
{
	float:right;
	width:302px; 
}
.einspaltig .contentLeft .blog .stories li .content .tImg
{
	float:none;
	margin-bottom:0.5em;
}
.einspaltig .contentLeft .blog .stories li .content .text
{
	float:none;
	width:auto;
}
.col-A-split li.normal .tImg
{
	margin:0.1em 0 0.8em 0;
}

.featureBlock h6
{
	font-size:1.1em; 
	font-weight:normal; 
	letter-spacing:1px; 
	line-height:1.1818em; 
	text-transform:uppercase;
}
.featureBlock li.img h6,
.featureBlock li.html h6,
.featureBlock .opinions h6
{
	margin-bottom:0.2727em;
}

.featureBlock li.html.wide
{
	margin:0 0 1em 0;
}

.featureBlock h4
{
	font-size:1.3em; 
	line-height:1.231em; 
	font-weight:bold; 
	margin-bottom:1px; 
}
.featureBlock p
{
	font-size:1.2em;
	line-height:1.333em;
}
.featureBlock small
{
	font-size:0.8333em;
	line-height:1em;
	font-weight:normal;
}
.featureBlock li.normal .tImg
{
	float:left;
	margin:0.1em 8px 0 0;
}
.featureBlock li.html .tImg
{
	margin:0.1em 8px 0 0;
}
.featureBlock li.normal .text,
.featureBlock li.html.img .text /*TODO: hinterfragen*/
{
	float:left;
	width:140px;
}
.featureBlock li .tImg.t112,
.featureBlock li .tImg.t124,
.featureBlock li .tImg.t125,
.featureBlock li .tImg.t126
{
	margin:0 0 .5em 0;
}
.featureBlock .embed iframe
{
	width:100%;
}

/* SKYLINE */
.skyline .stories {
	float: right;
	width: auto;
	max-width: 882px;
	height: 160px;
	overflow: hidden;
}
.skyline.has-widget .stories {
	max-width: 524px;
}
.skyline-has-ad .skyline.has-widget .stories {
	max-width: 516px;
}
.skyline .widget {
	float: left;
	width: 434px;
	overflow: hidden;
	background-color: #fff;
}
.skyline-has-ad .skyline .widget {
	width: 426px;
}
.skyline .stories > ul > li {
	float: left;
	width: 174px;
	height: 160px;
	margin-left: 1px
}
.skyline .stories > ul > li:first-child {
	margin-left: 0;
}
.skyline .stories > ul > li
{
	background-color:#fff;
}
.skyline li.alternative
{
	background-color:transparent;
}
.skyline .stories > ul .tImg
{
	float:none;
	border:0;
	margin-top:0;
	margin-right:0;
}
.skyline .stories > ul > li h3 { font-size: 1.2em; line-height: 1.2em; font-weight: bold; margin: 0.333em 8px }
.skyline .stories > ul > li p { font-size: 1.2em; margin: 0.333em 8px; }
.skyline li.button { width:182px; }
.skyline li.button img { width:180px; height:150px; border:1px solid grey; }

/* KIA TEASER */
#kia-container
{
	text-align:left;
	width:302px;
	margin-bottom:4px;
	background:#7B95BD;
}
#kia-container h3
{
	width:100%;
	height:21px;
	margin:0;
	padding:0 4px;
	line-height:21px;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	color:#fff;
}
#kia-container ol
{
	list-style-type:none;
	background:#E8ECF3;
}
#kia-container li
{
	display:block;
	width:100%;
	font-size:11px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
.featureBlock .embed #kia-container li
{
  margin:0 !important;
}
#kia-container li.last
{
	border-bottom-width:0;
}
#kia-container li a
{
	display:block;
	width:100%;
	padding:3px 0 3px 4px;
}
#kia-container li a span
{
	font-weight:bold;
}
#kia-container.tab1 ol.content1	{ display:block; }
#kia-container.tab2 ol.content2	{ display:block; }


/* Live-Artikel */
li.live p em
{
	font-style: normal;
	color: #990000;
}

#body .tImg .greenlife-indicator img
{
	display:block;
	position:absolute;
	right: 8px;
	top: 8px;
	height:25px;
	width:25px;
	border:none;
}


/* Social Media Box (EmbedHTML in C-Spalte)
********************************************/
.socialMediaBox
{
	background:#fff;
	padding:1px;
	
}
.featureBlock .socialMediaBox
{
	font-size:0.8em; /* .featureBlocks .embed setzt die font-size auf 1.2em */
}
.socialMediaBox h6
{
	padding:12px 10px 8px 13px;
	color:#fff;  
	line-height:1em;
}
.featureBlock .socialMediaBox h6
{
	margin:0;
}
.socialMediaBox .facebook,
.socialMediaBox .twitter,
.socialMediaBox .google {
	height:42px;   
		border-top:1px solid rgb(255, 255, 255); /* IE fallback */
	border-top:1px solid rgba(255,255,255,0.4);
		position:relative;
}
.socialMediaBox .facebook div,
.socialMediaBox .twitter div,
.socialMediaBox .google div {
	display:table-cell;
	height:43px;
	vertical-align:middle;
	padding-left:10px;
}
.socialMediaBox .socialMediaBoxLink {
		background-image:url('/img/ui/sprite_socialmediabox_icons.png');
		background-repeat:no-repeat;
		position: absolute;
	width: 34px;
		height: 34px;
	top: 4px;
	right:6px;
	text-indent: -9999em;
}
.socialMediaBox .facebook .socialMediaBoxLink {
	background-position:center -9px;
} 
.socialMediaBox .twitter .socialMediaBoxLink { 
	background-position:center -49px;
}
.socialMediaBox .google .socialMediaBoxLink {
	background-position:center -89px;
}
.socialMediaBox .socialMediaBoxLink:hover {
		background-color:rgba(255,255,255,0.3);
		-webkit-transition: all linear 0.5s;
		transition: all linear 0.5s;
}

/* Widget interne Verlinkung
*************************************/
.embed .channelTeaser {
		border-width:1px;
		border-style:solid;
		border-color:#ccc;
		height:80px;
		padding:10px;
}

.embed .channelTeaser-Image {
		width:70px;
		border-right:1px solid #ccc;
		display:table-cell;
		vertical-align:middle;
}

.embed .channelTeaser-Text {
		display:table-cell;
		padding-left:10px;
}

.embed .channelTeaser-Text span {
		font-size:13px;
		color:inherit;
}

.embed .channelTeaser-Text h3 {
		font-size:15px;
		font-weight:bold;
		margin-bottom:20px;
}

.embed .channelTeaser-Text p {
		font-size:12px;
		margin-bottom:0;
		color:#666;
}

/* Hide Styles from empty Elements
*************************************/
#resultlist li.empty {
	border:none;
	margin:0;
	padding:0;
}
