﻿/* =========================================

Theme:	BUNDLE
Name:	themes_bundle.css

========================================= */

/* Slot Default */
.theme-default {
	background-color: #efefef;
}

/* Slot Seite 1 */
.theme-seite1 {
	background-color: #e0e3e0;
}

/* Slot International */
.theme-international {
	background-color: #aecccc;
}

/* Slot Meinung */
.theme-meinung {
	background-color: #d8dbd8;
}

/* Slot Inland */
.theme-inland {
	background-color: #d0dae0;
}

/* Slot Panorama */
.theme-panorama {
	background-color: #9c9;
}

/* Slot Wirtschaft */
.theme-wirtschaft {
	background-color: #cfd6b2;
}

/* Slot Web */
.theme-web {
	background-color: #acc297;
}

/* Slot Sport */
.theme-sport {
	background-color: #c7d961;
}

/* Slot Livingroom */
.theme-livingroom {
	background-color: #f8f8f8;
}

/* Slot Karriere */
.theme-karriere {
	background-color: #24869b;
}

/* Slot Immobilien */
.theme-immobilien {
	background-color: #b0bfd7;
}

/* Slot Automobil */
.theme-automobil {
	background-color: #b0bfd7;
}

/* Slot Etat */
.theme-etat {
	background-color: #fc6;
}

/* Slot Kultur */
.theme-kultur {
	background-color: #c9c9c9;
}

/* Slot Wissenschaft */
.theme-wissenschaft {
	background-color: #aed1dc;
}

/* Slot Gesundheit */
.theme-gesundheit {
	background-color: #fcfcfc;
}

/* Slot Familie */
.theme-familie {
	background-color: #ebe7ed;
}

/* Slot dieStandard */
.theme-diestandard {
	background-color: #efefef;
}

/* Slot Euro2016 */
.theme-euro2016 {
	background: #c7d961 url(/img/bgi/wm2010.gif) repeat;
}

/* Slot Olympia2016 */
.theme-olympia2016 {
	background: #c7d961 url(/img/desktop/bg_olympia_light.png) no-repeat;
	background-size: 300px;
}
