﻿/* =========================================

Theme:	SEITE1
Name:	theme_seite1.css

0. Text Color
1. Background Color
2. Light Color
3. Dark Color
4. Tab Color
5. Horizontal Ruler Color
6. Theme Border Color
7. Additional Styles
========================================= */


/* 0. TEXT COLOR
========================================= */
body {
	color: #000;
}

a,
.lnkcol,
.stdButton,
.std-button {
	color: #162964;
}

/* 1. BACKGROUND COLOR
========================================= */
.opaque {
	background-color: #e0e3e0;
}

/* 2. LIGHT COLOR
========================================= */
.light {
	background-color: #d2d5d2;
}

/* 3. DARK COLOR
========================================= */
.dark {
	background-color: #b5bab5;
}

/* 4. TAB COLOR
========================================= */
.tablight {
	background-color: #EAEFEA;
}

/* 5. HORIZONTAL RULER COLOR
========================================= */
hr {
	background-color: #b5bab5;
	color: #b5bab5;
}

/* 6. THEME BORDER COLOR
========================================= */
img,
a img,
div,
ul,
li,
table,
h5,
#TBUserFollow:hover #TBUserFollowButton {
	border-color: #b5bab5;
}

.section .menu,
.well-section .menu {
	border-color: #162964;
}

/* 7. ADDITIONAL STYLES
========================================= */
#toolbar li:hover {
	border-color: #b5bab5;
}

#toolbar li a:hover {
	border-color: transparent;
}

#objectContent h6,
small,
.context {
	color: #707170;
}

.skyline .menu {
	visibility: visible;
}

.block123 h3 {
	font-size: 1.4em;
	line-height: 1.143em;
}

.block123 li {
	padding-bottom: 0.8em;
}

.well-section .col-B h3 {
	font-size: 1.4em;
	line-height: 1.143em;
}

.well-section .col-B .normal.img h3 {
	font-size: 1.6em;
	line-height: 1.1875em;
}

.well-section .contentBlocks .col-B li {
	padding-bottom: 0.8em;
}
