@import url('/common/styles/font-awesome.min.css');
div.follow-button {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 35px;
	width: 170px;
	font-size: 0;
}
div.follow-button * {
	box-sizing: border-box;
}
div.follow-button button {
	-webkit-appearance: none;
	border: 1px solid #999;
	vertical-align: top;
	border-radius: 0;
	font-family: 'Arial', 'Helvetica', sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	cursor: pointer;
	height: inherit;
	outline: none;
	margin: 0;
	top: 0;
}
div.follow-button button:active {
	top: 1px;
}
/* Action Button */
div.follow-button button.action-button {
	border-right: 1px solid #CCC;
	border-radius: 5px 0 0 5px;
	font-size: 18px;
	width: 30px;
	padding: 0;
	left: 0;
}
div.follow-button button.action-button span.action-icon {
	display: block;
	padding: 25% 0;
}
/* State Button */
div.follow-button button.state-button {
	border-radius: 0 5px 5px 0;
	border-left: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 140px;
	left: 30px;
}
/* -- Follow style */
div.follow-button.follow button {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 0 #DDD;
	background: #FFF;
	background-image: -webkit-linear-gradient(top, #FFF, #DADADA);
	background-image: -moz-linear-gradient(top, #FFF, #DADADA);
	background-image: -ms-linear-gradient(top, #FFF, #DADADA);
	background-image: -o-linear-gradient(top, #FFF, #DADADA);
	background-image: linear-gradient(to bottom, #FFF, #DADADA);
}
div.follow-button.follow button:hover {
	background: #F8F8F8;
	background-image: -webkit-linear-gradient(top, #F8F8F8, #C6C6C6);
	background-image: -moz-linear-gradient(top, #F8F8F8, #C6C6C6);
	background-image: -ms-linear-gradient(top, #F8F8F8, #C6C6C6);
	background-image: -o-linear-gradient(top, #F8F8F8, #C6C6C6);
	background-image: linear-gradient(to bottom, #F8F8F8, #C6C6C6);
}
div.follow-button.follow button.action-button {
	color: #0A0;
}
div.follow-button.follow button.state-button {
	color: #333;
}
/* -- Following style */
div.follow-button.following button {
	font-size: 14px;
	box-shadow: inset 0 1px 0 0 #37496f;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	background: #3F5A96;
	background-image: -webkit-linear-gradient(top, #3F5A96, #516AA0);
	background-image: -moz-linear-gradient(top, #3F5A96, #516AA0);
	background-image: -ms-linear-gradient(top, #3F5A96, #516AA0);
	background-image: -o-linear-gradient(top, #3F5A96, #516AA0);
	background-image: linear-gradient(to bottom, #3F5A96, #516AA0);
	color: #FFF;
}
div.follow-button.following button.action-button {
	border-right: 1px solid #3F5A96;
	font-size: 16px;
}
/* -- Unfollow style */
div.follow-button.unfollow button {
	font-size: 14px;
	box-shadow: inset 0 1px 0 0 #770F1F;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	background: #AC162D;
	background-image: -webkit-linear-gradient(top, #AC162D, #ED7285);
	background-image: -moz-linear-gradient(top, #AC162D, #ED7285);
	background-image: -ms-linear-gradient(top, #AC162D, #ED7285);
	background-image: -o-linear-gradient(top, #AC162D, #ED7285);
	background-image: linear-gradient(to bottom, #AC162D, #ED7285);
	color: #FFF;
}
div.follow-button.unfollow button.action-button {
	border-right: 1px solid #AC162D;
	font-size: 16px;
}