div.ff-btn-container {
	display: inline-block;
	position: relative;
	float: left;
}

button.ff-btn {
	background: #3F5A96;
	background: linear-gradient(to bottom, #3F5A96 0%, #516AA0 100%);
	background: -moz-linear-gradient(top, #3F5A96 0%, #516AA0 100%);
	background: -webkit-linear-gradient(top, #3F5A96 0%, #516AA0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F5A96', endColorstr='#516AA0', GradientType=0);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #1C326C;
	box-sizing: border-box;
	text-align: center;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	font-size: 16px;
	outline: none;
	height: 35px;
	width: 40px;
	padding: 0;
	position: relative;
}
button.ff-btn:hover {
	background: #516AA0;
	background: linear-gradient(to bottom,  #ABABD5 0%, #3F5A96 100%);
	background: -moz-linear-gradient(top,  #ABABD5 0%, #3F5A96 100%);
	background: -webkit-linear-gradient(top,  #ABABD5 0%, #3F5A96 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABABD5', endColorstr='#3F5A96', GradientType=0);
}
button.ff-btn span.btn-img {
	background: url('/common/follow-feed/images/ff.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 20px;
	width: 20px;
}

div.ff-btn-container p.counter {
	transition: opacity 0.7s;
	font-family: sans-serif;
	border: 1px solid #A00;
	border-radius: 5px;
	position: absolute;
	padding: 0px 3px;
	margin: 0 !important;
	line-height: normal;
	font-size: 12px;
	background: red;
	top: -6px;
	right: 1px;
	color: #FFF;
	opacity: 0;
}
div.ff-btn-container p.counter.enabled {
	opacity: 1;
}