#mainContainer *
{
  box-sizing: border-box;
}
#mainContainer {
  margin-left: auto;
  margin-right: auto;
}

.MarketStatusBar {
  width: 100px;
  height: 10px;
}

.MarketStatusContainer {
  border: 1px solid;
  width: 82px;
  margin-top: 1px;
}

.MarketStatusElement table {
  width: 100%;
  margin: 0px 3px;
}

.MarketStatusElement td {
  padding: 1px;
}

.bottom_chart_pc_container {
  padding-left: 40px;
}

.bottom_chart_change_container {
  padding-right: 40px;
}

#pse .bottom_chart_pc_container {
  padding-left: 80px;
}

#pse .bottom_chart_change_container {
  padding-right: 80px;
}

#empty-broker-btns {
  display: none !important;
}

#newsalert-register {
  width: 100%;
  height: 50px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFFAB', endColorstr='yellow');
  background-image: linear-gradient(bottom, yellow 20%, #FCFFAB 74%);
  background-image: -o-linear-gradient(bottom, yellow 20%, #FCFFAB 74%);
  background-image: -moz-linear-gradient(bottom, yellow 20%, #FCFFAB 74%);
  background-image: -webkit-linear-gradient(bottom, yellow 20%, #FCFFAB 74%);
  background-image: -ms-linear-gradient(bottom, yellow 20%, #FCFFAB 74%);
  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.20, yellow),
          color-stop(0.74, #FCFFAB)
  );
}

#newsalert-register th {
  font-weight: bolder;
  font-size: 24px;
  vertical-align: middle;
}

#newsalert-register th img {
  margin-top: 8px;
}

#newsalert-register td {
  padding: 5px;
}

#newsalert-register input {
  width: 242px;
  font-style: italic;
  font-weight: bold;
  padding: 5px;
  color: #BBB;
}

#newsalert-register button {
  cursor: pointer;
  width: 50px;
  height: 30px;
  color: #004200;
  margin-right: 5px;
  padding: 2px;
  font-weight: bolder;
  font-size: 20px;
  -webkit-text-fill-color: #005500;
  text-shadow: 1px 1px 0 #00AA00, -1px -1px 0 #00AA00, 1px -1px 0 #00AA00, -1px 1px 0 #00AA00, 1px 1px 0 #00AA00;
  border: 1px solid #006600;
  border-radius: 3px;
  box-shadow: 1px 1px 0px 1px #9E9A19;
  -moz-box-shadow: 1px 1px 0px 1px #9E9A19;
  -webkit-box-shadow: 1px 1px 0px 1px #9E9A19;
  background-color: #006600;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008500', endColorstr='#006600');
  background-image: linear-gradient(bottom, #006600 47%, #008500 74%);
  background-image: -o-linear-gradient(bottom, #006600 47%, #008500 74%);
  background-image: -moz-linear-gradient(bottom, #006600 47%, #008500 74%);
  background-image: -webkit-linear-gradient(bottom, #006600 47%, #008500 74%);
  background-image: -ms-linear-gradient(bottom, #006600 47%, #008500 74%);
  background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.47, #006600),
          color-stop(0.74, #008500)
  );
}

#atoz_content {
  display:inline-block;
  margin-top: 6px;
}

#atoz_content a {
  font-weight: bold;
  font-size: 12px;
  font-family: arial,helvetica,sans-serif;
  display: inline-block;
  margin: 0px 3px;
}

#atoz_content a:hover {
  color: gray;
  text-decoration: none;
}

#row_1 div.MicroscopeChartElement *
{
  box-sizing:content-box;
  line-height: 1.1em;
}
.MicroscopeChartElement a {
  font-size: 11px;
  font-family: arial,helvetica,sans-serif;
  text-decoration: none;
  color: black;
}

.ArrowUp {
  background-image: url("imagesnew/2/us/up.gif");
}

.ArrowDown {
  background-image: url("imagesnew/2/us/down.gif");
}

.ArrowUnchanged {
  background-image: url("imagesnew/2/us/dot.gif");
}

#row_1 > table
{
  width: 100%;
}
#row_1 > table > tbody > tr:first-child > td:first-child
{
  padding-left: 0px;
}

#row_1 > table > tbody > tr:first-child > td
{
  padding: 0px 5px;
}

#row_1 > table > tbody > tr:first-child > td:last-child
{
  padding-right: 0px;
  text-align:right;
}



#mainContainer {
  width: 775px;
}
#mainContainer a {
  color: black;
}

#RecentHistoryTbl {
  margin-bottom: 0 !important;
}

#row_0 {
  display:table;
  margin: 10px 0px;
  width: 775px;
}
#row_0 span
{
  display:table-cell;
}
#row_0 span.headersH1
{
  min-width:300px;
  padding-right: 5px;
}
#row_0 h1, #row_0 button 
{
  width:100%;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px;
  font-weight: bold;
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  line-height: 16px;
}
#row_0 h1
{
  border: 1px solid #957605;
  background-color: #FFC907;
  background: url('/common/images/buttons/yellow-tile.gif') repeat-x scroll center top #FFC907;
  text-shadow: 1px 1px #FFF8BB;
}
#row_0 button 
{
  font-size: 16px;
  color: white;
  border: 1px solid #750505;
  background-color: #FF0707;
  background: url('/common/images/buttons/red-tile.gif') repeat-x scroll center top #F55757;
  text-shadow: 1px 1px #000000;
  cursor:pointer;
}
#row_0 button:hover
{
  opacity:0.9;
}
#row_2 {
  height: 25px;
  width: 775px;
  text-align:center;
}

#row_3 {
  margin-top:10px;
  margin-bottom: 11px;
  text-align: center;
}
#row_3_left
{
  float: left;
  display:inline-block;
}

#row_3_left, #row_3_right {
  width: 227px;
}

#row_3_center {
  display: inline-block;
  position: relative;
  background-color: #efefef;
  width: 300px;
  height: 600px;
}

#row_3_right {
  float: right;
  display: inline-block;
  position: relative;
}

#row_3_center_ad1,
#row_3_center_ad2,
#row_3_center_ad3,
#row_3_center_ad4 {
  width: 234px;
  height: 60px;
  border: 1px solid black;
}

#row_3_center_ad2,
#row_3_center_ad3,
#row_3_center_ad4,
#row_3_center_chart1 {
  margin-top: 5px;
}

#row_3_center_chart1 {
  margin-right: 3px;
}

#pse #divMicroChartElementID {
  width: 100% !important;
}

#pse {
  width: 232px !important;
}

#quick_quote {
  border-top: 30px solid #ced7e2;
  border-left: 15px solid transparent;
}

#quick_quote_container i {
  font-family: Tahoma,arial,helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: black;
  position: relative;
  top: 5px;
}

#quick_quote a {
  padding-top: 3px;
  font-size: 10px;
  float: right;
}

#quick_quote_container input[type="text"] {
  margin-top: 4px;
  margin-left: 5px;
}

#quick_quote_container input[type="image"] {
  float: right;
}

#quick_quote_container {
  margin-top: -30px;
}

#quick_quote_container form { display: inline-block; }

#quick_chart {
  border-top: 30px solid #ced7e2;
  border-right: 15px solid transparent;
}

#quick_chart_container  i {
  font-family: Tahoma,arial,helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: black;
  position: relative;
  top: 5px;
}

#quick_chart  a {
  padding-top: 3px;
  font-size: 10px;
  float: left;
}

#quick_chart a,
#quick_quote a {
  padding-bottom: 5px;
}

#quick_chart_container input[type="text"] {
  margin-top: 4px;
  margin-left: 5px;
}

#quick_chart_container input[type="image"] {
  float: left;
}

#quick_chart_container {
  margin-top: -30px;
}

#quick_chart_container form { display: inline-block; }

#market_status .Column1, #market_status .Column2, #market_status .Column3, #market_status .Column4 {
  font-size: 12px;
}
#market_status .Column1 {
  text-align:left;
}
#market_status .Column2, #market_status .Column3, #market_status .Column4 {
  text-align:right;
}

#market_status_container {
  margin-top:0px;
}

#market_status {
  padding: 5px;
  border: 2px solid #ced7e2;
  margin-top: 1px;
}

.cornerTitleRightContainer {
  border-bottom: 18px solid #CED7E2;
  border-right: 5px solid rgba(0, 0, 0, 0);
  margin-right: auto;
}

.cornerTitleRight {
  font-family: Tahoma,arial,helvetica,sans-serif;
  font-size: 13px;
  font-style: italic;
  height: 20px;
  margin-bottom: -20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-weight: bold;
}

.cornerTitleLeftContainer {
  border-bottom: 18px solid #CED7E2;
  border-left: 5px solid rgba(0, 0, 0, 0);
  margin-left: auto;
  width: 170px;
  font-weight: bold;
}

.cornerTitleLeft {
  font-family: Tahoma,arial,helvetica,sans-serif;
  font-size: 13px;
  font-style: italic;
  height: 20px;
  margin-bottom: -20px;
  padding-right: 5px;
  text-align: right;
  font-weight: bold;
  overflow: auto;
}

.cornerTitleCenter {
  font-family: Tahoma,arial,helvetica,sans-serif;
  font-size: 13px;
  font-style: italic;
  height: 20px;
  margin-bottom: -20px;
  font-weight: bold;
  text-align: right;
  padding-right: 3px;
  text-align: center;
}

.toplist_tab {
  background: url('/frontpage/grey-tab.gif') bottom right;
  padding: 1px 0 2px 3px;
}

.toplist_tab b {
  font-family: arial,helvetica,sans-serif;
  font-style: italic;
  font-size: 13px;
}

a.article_title_link {
  font-family: arial,helvetica,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: left;
  text-decoration: none !important;
}

a:hover.article_title_link {
  color: #69bdf3;
}

#row_2_ad_bottom {
  margin-top: 5px !important;
  width: 970px;
  height: 217px;
}

.normal_link,
.snippet-link {
  font-size: 13px;
  text-decoration: underline;
  color: #008;
}

.snippet-link {
  margin-top: 0;
}

.snippet-description {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 13px;
}

#section_list .odd img,
#side_list .odd img {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

#section_list .even img,
#side_list .even img {
  float: left;
  margin-right: 20px;
}

#section_list h3,
#side_list h3 {
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
  vertical-align: bottom;
  border-bottom: 1px solid #AAA;
  margin-bottom: 10px;
}

#upgradeNow {
  padding-top: 5px;
}

.ContentSnippetElement {
  margin-top: 36px;
  text-align: left;
}

#stockpicks101 {
  font-family: arial,helvetica,sans-serif;
  padding-top: 20px;
}

#stockpicks101 p {
  font-size: 12px;
  padding: 5px 10px;
  margin: 0;
}

#stockpicks101 h2 {
  font-size: 16px;
  margin: 0;
  padding: 0 10px;
}

#stockpicks101 h3 {
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
}

#footer_flags {
  padding: 10px 0;
}

#footer_flags a {
  padding: 0 8px 0 20px;
}

#footer_flags .uk {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/gb.gif') left top no-repeat;
}

#footer_flags .us {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/us.gif') left top no-repeat;
}

#footer_flags .au {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/au.gif') left top no-repeat;
}

#footer_flags .br {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/br.gif') left top no-repeat;
}

#footer_flags .fr {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/fr.gif') left top no-repeat;
}

#footer_flags .de {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/de.gif') left top no-repeat;
}

#footer_flags .in {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/in.gif') left top no-repeat;
}

#footer_flags .it {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/it.gif') left top no-repeat;
}

#footer_flags .jp {
  background: url('http://images.advfn.com/imagesnew/2/gb/flags/3d/jp.gif') left top no-repeat;
  padding-right: 0;
}

#fm_forum_list_content > div
{
  height: 38px;
}

.PriceBackgroundDown, .PriceBackgroundUp, .PriceBackgroundUnchanged
{
  font-size: 11px;
  line-height: 0.9em;
}

.PriceTextUp, .PriceTextDown, .PriceTextUnchanged
{
  font-size: 11px;
  line-height: 0.9em;
}

.ArrowUp, .ArrowDown, .ArrowUnchanged
{
  line-height: 0.7em;
}

.divMicroChartElementID div:nth-child(3)
{
  padding-top: 3px;
}

#row_3_right .TopListContainer
{
  margin-top: 0px;
  width: 227px;
  text-align: left;
}
#row_3_right .TopListContainer .TopListContainerTitle
{
	width:100%;
	display:table;
}

#tl1_container,
#tl2_container
{
  margin-bottom: 18px;
}

#cte2_main_container th,
#cte3_main_container th {
  height: 22px;
}

#row_3_right .TopListContainer div.ToplistElement,
#cte1_container,
#cte2_container,
#cte3_container,
#bmn table,
#bmn_1 {
  margin-top: 1px;
  border: 2px solid #ced7e2;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
}

.table_heading th {
  background-color: transparent;
  border: none;
  color: black;
  padding: 2px 0 0 0;
}

.table_heading .Column1 {
  width: 1%;
  min-width: 15px;
  white-space:nowrap;
}

.odd {
  background: none repeat scroll 0 0 #E1EBF7;
}

div.ToplistElement table
{
	width:100%;
}
div.ToplistElement table tr
{
	height: 15px;
}
div.ToplistElement table tr th
{
	font-size: 13px;
	padding: 0px 2px;
	white-space:nowrap;
}
div.ToplistElement table tr td
{
	font-size: 11px;
	padding: 0px 2px;
	width:1px;
	white-space:nowrap;
}
div.ToplistElement table tr td *
{
	font-size: 11px;
}
div.ToplistElement table tr th:last-child, div.ToplistElement table tr td:last-child
{
	text-align:right;
}
div.ToplistElement table tr td.Column1
{
	width: 20px;
	text-align:center;
}
div.ToplistElement table tr td.Column3
{
	max-width:1px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
div.ToplistElement .odd
{
  background: none repeat scroll 0 0 #E1EBF7;
}
div.ToplistElement .even 
{
  background-color: transparent;
}

.odd td, .even td {
  vertical-align: middle;
}

#cte2_container tr td,
#cte3_container tr td {
  border: none;
  padding: 0px;
}

#cte2_container .Column1,
#cte3_container .Column1 {
  width: 30px;
}

#cte2_container .Column2,
#cte3_container .Column2 {
  width: 70px;
}

#cte2_container .Column3,
#cte3_container .Column3 {
  width: 110px;
}

#cte2_container .Column4,
#cte3_container .Column4 {
  width: 30px;
}

#cte2_container .Column5,
#cte3_container .Column5 {
  width: 85px;
}

#row_3_right .cornerTitleRightContainer {
  display: table-cell;
}

.smallTitleLeft {
  font-size: 10px;
  display:table-cell;
}

.smallTitleLeft a {
  font-size: 10px;
}

.smallTitleRight {
  font-size: 10px;
  text-align:right;
  display:table-cell;
}

.smallTitleRight a {
  font-size: 10px;
}

.smallTitleCenter,
.smallTitleCenter a {
  text-align: center;
  font-size: 10px;
}

#row_3_right .ToplistElement {
  font-size: 10px;
}

.TableElement td,
.TableElement td a {
  font-size: 11px;
}

#row_3_right .table_heading {
  font-size: 14px;
  line-height: 1.2em;
}

#row_4
{
  height: 230px;
}

.quick_link_center {
  text-align:center;
  margin: 4px 0px 3px 0px;
}

.quick_link_center a {
  font-size: 8pt;
}

#bmn_container {
  text-align: left;
  margin-top: 6px;
  width: 227px;
  margin-bottom: 15px;
}

#bmn table td,
#bmn table td a,
#bmn_1 td,
#bmn_1 td a {
  font-size: 11px;
}

#bmn table tr {
  height: 31px;
}

#bmn_1 tbody tr {
  height: 36px;
}

#bmn table td,
#bmn_1 tbody td {
  padding-left: 5px;
}

#bmn_container .smallTitle {
  margin-top: -15px;
  font-size: 10px;
  float: right;
}

#bmn_container .smallTitle a {
  font-size: 10px;
}

#cte1_container .smallTitle {
  font-size: 10px;
  float: left;
}

#cte1_container .smallTitle a {
  font-size: 10px;
}

#row_4 {
  margin-top: 30px;
}

#cte1_main_container ,
#cte2_main_container ,
#cte3_main_container {
  font-size: 12px;
}

#cte1_main_container {
  margin-right: 10px;
}

#cte1_main_container {
  float: left;
  width: 227px;
}

#cte2_main_container {
  float: left;
  width: 300px;
}

#cte3_main_container {
  width: 227px;
  float: right;
}

#cte1_main_container .cornerTitleLeftContainer,
#cte3_main_container .cornerTitleRightContainer {
  width: 180px;
}

.cornerTitleCenterContainer {
  border-bottom: 18px solid #CED7E2;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}

#cte1Table,
#cte2Table,
#cte3Table {
  margin-top: 1px;
  border: 1px solid #ced7e2;
  height: 250px;
}

#cte1Table td, #cte1Table td a,
#cte2Table td, #cte2Table td a,
#cte3Table td, #cte3Table td a {
  font-size: 12px;
}

#row_5 {
  height: 90px;
}

#row_6 {
  text-align: center;
}

#section_list_container h3 {
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: justify;
  border-bottom: 1px solid #AAA;
  margin-bottom: 10px;
}

#section_list_container .odd {
  margin-right: 10px;
}

#section_list_container .odd,
#section_list_container .even {
  background-color: transparent;
  margin-bottom: 10px;
}

#section_list_container img {
  width: 235px;
}

#section_list_container div
{
  overflow: auto;
}

#section_list_container div.odd img {
  margin: 0 0 10px 10px;
  float: right;
}

#section_list_container div.even img {
  float: left;
  margin-right: 20px;
}

#row_7 {
  margin-top: 11px;
}

/*************************/
/* topShareForumsElement */
/*************************/
#cte1_container table.topShareForumsElement *
{
  font-size: 11px;
}

#cte1_container table.topShareForumsElement
{
  width: 100%;
}

#cte1_container table.topShareForumsElement tr:first-child
{
  background-color: #CFD7DF;
  border-top: 0px;
}

#cte1_container table.topShareForumsElement tr:first-child
{
  padding-right: 2px;
}

#cte1_container table.topShareForumsElement tr
{
  background-color: #e1ebf3;
  border-top: 1px solid white;
}

#cte1_container table.topShareForumsElement tr:nth-child(n+2)
{
  height: 20px;
}

#cte1_container table.topShareForumsElement tr td:first-child
{
  padding-left: 3px;
}

#cte1_container table.topShareForumsElement .Column3
{
  text-align:right;
}

/*************************/
/*  topBottomLSESectors  */
/*************************/
#cte2_container table.topBottomLSESectors *
{
  font-size: 11px;
}

#cte2_container tr.tbsFirstRow
{
  height: 10px;
}

#cte2_container tr.tbsFirstRow td:nth-child(2) {
  text-align: center;
}

#cte2_container table.topBottomLSESectors
{
  width: 100%;
}

#cte2_container table.topBottomLSESectors tr:first-child
{
  background-color: #CFD7DF;
  border-top: 0px;
}

#cte2_container table.topBottomLSESectors tr:nth-child(n+2)
{
  height: 20px;
}

#cte2_container table.topBottomLSESectors tr td:nth-child(3) img
{
  vertical-align: middle;
}

#cte2_container table.topBottomLSESectors tbody tr
{
  background-color: #e1ebf3;
  border-top: 1px solid white;
}

/*************************/
/*   StockLists   */
/*************************/
table.frontpageStockList
{
  width:100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-weight: bold;
}

table.frontpageStockList td:nth-child(3)
{
  text-align: right;
}

table.frontpageStockList tr:first-child
{
  background-color: #CFD7DF;
  border-top: 0px;
}

table.frontpageStockList tbody tr.even {
  background-color: #e1ebf3;
  border-top: 1px solid white;
}

table.frontpageStockList tbody tr td:nth-child(3) img {
  vertical-align: middle;
}

table.frontpageStockList tbody tr:nth-child(n+2) {
  height: 20px;
}

table.frontpageStockList tbody tr.even td:first-child a {
  padding-left: 3px;
}

/*************************/
/*  	newsBar		 */
/*************************/

#row_newsBar {
  margin-top: 5px;
}

#row_newsBar div.NewsBarElement *
{
  font-size: 11px;

  text-decoration: none;
  font-family: "Tahoma", "Arial", "Sans-Serif";
}

#row_newsBar div.NewsBarElement table
{
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

#row_newsBar div.NewsBarElement table table,
#row_newsBar div.NewsBarElement table tbody tr td:nth-child(3)
{
  background-color: #CFD7DF;
  width: 125px;
  height: 60px;
}

/*************************/
/*  	Newsletter	 */
/*************************/

#newsletterAds {
  width:774px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  overflow:hidden;
  font-family:arial, sans-serif;
  margin:0 auto;
}

#newsletterAds .newsletterAdsH3 {
  margin-top:18px;
  margin-bottom:18px;
  font-weight:400;
  background-color:#FFD100;
  text-align:center;
  border-radius:5px;
  border:1px solid #FFD100;
  background-image:url(/common/frontpage/newsletterAdsBackground.png);
  padding:4px 0;
}

#newsletterAds .newsletterAdsH3 a
{
  font-size:18px;
}

#newsletterAds .newsletterAdsH3 span {
  font-size:18px;
  font-weight: bold;
}

#newsletterAds .theBox {
  width:357px;
  display:block;
  float:left;
  text-decoration:none;
  font-size:13px;
  background-image:url(/common/frontpage/newsletterAdsBackground.png);
  background-position:bottom;
  background-repeat:repeat-x;
  border-radius:5px;
  border:1px solid #eeb143;
  margin-bottom:20px;
  padding:10px;
}

#newsletterAds .Premium_description {
  width:270px;
  float:left;
}

#newsletterAds .theBox,#newsletterAds .theBox:hover,#newsletterAds .theBox:visited {
  color:#000;
}

#newsletterAds .theBox h5 {
  font-size:25px;
  font-weight:700;
  float:left;
  margin:0;
  padding:0 0 5px;
}

#newsletterAds .theBox h5 span {
  display:block;
  font-size:14px;
  font-weight:700;
  font-style:italic;
  padding-top: 4px;
}

#newsletterAds .theBox .theImage {
  display:block;
  float:left;
  width:75px;
  margin-right:10px;
}

#newsletterAds .theBox .theImage img {
  width:75px;
}

#newsletterAds .theBox p {
  height:100px;
  overflow:hidden;
  line-height:18px;
  float:left;
  width:270px;
  margin:0;
  padding:0;
  font-size:13px;
}

#newsletterAds .theBox .findoutmore {
  font-size:14px;
  text-decoration:underline;
  font-weight:700;
  color:blue;
  padding:5px;
}

#newsletterAdBox1 {
  border-right:1px solid #a9a501;
  margin-right:16px;
}

.Tabs{font-family:arial,helvetica,sans-serif;font-size:12px;}
.Tabs ul{height:20px;margin:5px 0 5px;padding:0 0 0 5px;list-style-type:none;background:url(http://images.advfn.com/common/tabs/line.gif) repeat-x bottom transparent}
.Tabs li{display:block;float:left;padding:0;margin:0;border-bottom:1px solid #777;background: none;font-family:arial,helvetica,sans-serif;font-size:12px}
.Tabs li a{display:block;float:left;height:15px;outline:none;padding:2px 8px;color:blue;text-decoration:none;white-space: nowrap;font-family:arial,helvetica,sans-serif;font-size:12px;}
.Tabs li a:hover{color:#000;text-decoration:underline;}
.Tabs li.new a:hover, .Tabs li.selected a:hover{text-decoration:none;}
.Tabs li.selected{border-width:1px;border-style:solid;border-color:#777 #777 #FFF;font-weight:bold;font-size:14px;background:url(http://images.advfn.com/common/tabs/tab.gif) repeat-x}
.Tabs li.selected a{color:#000;height:16px;padding:1px 8px}
.Tabs li.message{float:right;height:15px;padding:2px 8px}
.Tabs li.new{padding-top:1px;margin-top:-1px;}
.Tabs li.new a{float:left;height:19px;padding:0 8px}
.Tabs li.new div{float:left;height:19px;cursor:pointer}
.Tabs li.new div.nMain{background:url(http://images.advfn.com/common/tabs/new.gif) repeat-x top;padding-top:2px;margin-bottom:-2px}
.Tabs li.new div.nLeft{width:31px;background:url(http://images.advfn.com/common/tabs/new_left.gif) no-repeat}
.Tabs li.new div.nRight{width:8px;background:url(http://images.advfn.com/common/tabs/new_right.gif) no-repeat}

.underline{
	display: block;
	font-size: 18px;
	border-bottom: 1px solid #AAA;
	text-decoration: none;
}

a.company-name{
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.company-image{
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	margin-right: 3px;
}

.company-description{
	float: left;
	width: 250px;
	font-size: 12px;
}