@import url('/common/elements/css/follow-feed-button-element.css?v=031116');
@import url('/common/elements/css/follow-button-element.css?v=031116');
#SymbolTitle {
	width: 100%;
	text-align: left;
	margin: 10px 0;
}
#SymbolTitle div.inline {
	display: inline-block;
}
#SymbolTitle div.heading {
	text-align: left;
}
#SymbolTitle div.buttons {
    float: right;
}
#SymbolTitle h1 {
	font-family: arial,helvetica,sans-serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 35px;
	text-align: left;
	vertical-align: bottom;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#SymbolTitle img.company-logo {
	padding-top: 3px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	float: left;
}