/* 
 * @description: xxxxx中文说明 
 * @author: yisheng.lu 
 * @update:
*/ 
@charset "utf-8";
body,textarea,input,select,option {font-size:12px;color:#333;font-family:"宋体",Tahoma,Arial,sans-serif;}h1,h2,h3,h4,h5,h6 {font-size:100%;}body,h1,h2,h3,h4,h5,h6,blockquote,ol,ul,li,dl,dd,p,textarea,input,select,option,form {margin:0;}ol,ul,li,textarea,input,select,option,th,td {padding:0;}table {border-collapse:collapse;}ol,ul {list-style-type:none;}.clears:before,.clears:after {content:'';display:table;}.clears:after {clear:both;}.clears {*zoom:1;}.clear {clear:both;overflow:hidden;}a {text-decoration:none;color:#333;}a,textarea,input{outline:none}textarea {overflow:auto;resize:none;}.img img {display:block;}a img {border:none;}.z_index{position:fixed;_position:absolute;z-index:999;display:none;}label,label input{vertical-align:middle}.pr {position:relative;}.pa {position:absolute;}.fl {float:left;}.fr {float:right;}
.m980 {margin:0 auto;width:980px;}.t10 {margin-top:10px;}a:hover{text-decoration:underline}.m978{margin:0 auto;width:958px;}body{word-break:break-all;word-wrap:break-word;cursor:default;}input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}input,textarea{vertical-align:middle;}
body{background-color:#F0F0F0;}
a:hover{color:#f60;}
.w_head {padding-bottom:30px;}
.w_head .iiyi{display:block;float:left;width:159px;height:48px;background:url(img/w_line.png) no-repeat 0 0;margin:35px 23px 0 135px;display:inline;}
.w_head .w_head_p1 {color:#D3D3D3;font-size:14px;line-height:34px;padding-top:23px;}
.w_head .w_head_p1 a{color:#666;padding:0 6px;cursor:pointer;}
.w_head .w_head_p1 .hover {color:#1680BB;font-weight:bold;}
.w_head .w_head_p2{width:520px;}
.w_head .w_head_p2 input {float:left;width:433px;height:32px;padding-left:8px;line-height:32px\9;border:2px solid #D6D6D6;border-right:none;}
.w_head .w_head_p2 a {cursor:pointer;display:block;float:left;width:77px;height:36px;background-color:#1680BB;font-weight:bold;color:#fff;text-align:center;line-height:36px;font-size:14px;}
.w_head .w_head_p2 a:hover {text-decoration:none;}
.w_nav {height:44px;line-height:44px;background-color:#1680BB;font-size:14px;padding-left:12px;}
.w_nav a,.w_nav2 a {display:block;float:left;padding:0 16px;color:#fff;background:url(img/w_line.png) no-repeat 0 -63px;}
.w_nav .w_first,.w_nav2 .w_first {background:none;}
.w_nav1 {line-height:31px;color:#666;padding-left:21px;border:1px solid #E8E8E8;background-color:#fff;}
.w_nav1 a{color:#666;padding-right:19px;}
.w_nav1 a:hover{color:#f60;}
.w_cont {margin-top:10px;}
.w_cont_l {width:317px;}
.w_cont_lt {position:relative;height:242px;cursor:pointer;}
.w_cont_lt .image {position:relative;width:317px;height:242px;}
.w_cont_lt .image li img {border:1px solid #E8E8E8;}
.w_cont_lt .image li {position:absolute;display:none;}
.w_cont_lt .image .current {display:block;}
.w_cont_lt .num {position:absolute;right:10px;bottom:0px;z-index:99;}
.w_cont_lt .num li {width:11px;height:27px;float:left;margin-right:3px;cursor:pointer;}
.w_cont_lt .num li b {width:11px;height:5px;font-size:0px;background-color:#fff;opacity:0.5;filter:alpha(opacity=50);display:block;margin-top:12px;}
.w_cont_lt .num .on b{opacity:1;filter:alpha(opacity=100);}
.w_cont_lt .w_pa {height:27px;line-height:27px;width:316px;background-color:#1680BB;opacity:0.8;filter:alpha(opacity=80);position:absolute;left:1px;bottom:0px;}
.w_cont_lt .w_pa1 {color:#fff;font-size:14px;padding-left:15px;width:217px;height:27px;overflow:hidden;line-height:27px;position:absolute;left:0px;bottom:0px;}
.w_cont_lt .w_pa1 a{color:#fff;display:none;}
.w_cont_lt .w_pa1 .active {display:block;}
.w_cont_ld {margin-top:12px;background-color:#fff;padding-left:14px;padding-right:16px;padding-bottom:15px;}
.w_cont_ld h3 {font-size:14px;color:#1680BB;background:url(img/w_bg.png) no-repeat 2px 10px;padding-left:31px;line-height:40px;border-bottom:1px solid #D7D7D7;}
.w_cont_ld ul,.w_cont1_l ul,.w_cont1_m ul {padding-top:12px;}
.w_cont_ld ul li,.w_cont1_l ul li,.w_cont1_m ul li {line-height:26px;padding-left:14px;background:url(img/w_bg.png) no-repeat 0 -27px;height:26px;overflow:hidden;font-size:14px;}
.w_cont_m {width:326px;height:399px;margin-left:15px;border-top:2px solid #1680BB;background-color:#fff;padding:0 26px 0 21px;height:398px;overflow:hidden;}
._w_cont_m h3 {font-size:16px;padding-top:32px;padding-bottom:16px;text-align:center;}
._w_cont_m h3 a{color:#1680BB;}
._w_cont_m p {line-height:22px;color:#666;text-indent:2em;padding-bottom:20px;border-bottom:1px dashed #CFCFCF;height:68px;}
._w_cont_m p a {color:#1680BB;}
.w_cont_m ul {padding-top:18px;padding-left:3px;font-size:14px;padding-bottom:15px;}
.w_cont_m ul li {line-height:26px;height:26px;overflow:hidden;}
.w_cont_m div{border-bottom:1px dashed #CFCFCF;}
.w_cont_m div h3 {color:#1680BB;font-size:16px;padding-bottom:7px;padding-top:10px;text-align:center;line-height:20px;}
.w_cont_m div h3 a {color:#1680BB;}
.w_cont_m div p {padding-bottom:11px;overflow:hidden;}
.w_cont_m div p a{color:#666;margin-right:12px;white-space:nowrap;float:left;line-height:16px;}
.w_cont_r {width:260px;}
.w_cont_rt{background-color:#fff;padding-bottom:13px;height:131px;}
.w_cont_rt h3,.w_cont_rt1 h3 {height:28px;line-height:28px;padding-left:16px;font-size:14px;color:#fff;background-color:#8CCC58;}
.w_cont_rt p {padding:12px 10px 10px 16px;line-height:22px;}
.w_cont_rt p b {color:#ff7800}
.w_cont_rt dl {padding-left:16px;}
.w_cont_rt dl dt,.w_cont_rt dl dd {float:left;}
.w_cont_rt dl dt a {display:block;width:67px;height:32px;line-height:32px;text-align:center;color:#fff;font-weight:bold;background-color:#8CCC58;font-size:14px;}
.w_cont_rt dl dt a:hover{text-decoration:none;}
.w_cont_rt dl dd {width:150px;color:#999;padding:1px 0 3px 11px;}
.w_cont_rt dl dd a{color:#1680BB;}
.w_cont_rt1,.w_cont_rd {background-color:#fff;}
.w_cont_rt1 h3 {margin-bottom:12px;}
.w_cont_rt1 h3 a{color:#fff;}
.w_cont_rt1 h3 span {display:inline-block;width:82px;height:23px;background:url(img/w_bg.png) no-repeat 0 -58px;float:right;margin-top:3px;margin-right:10px;color:#EF711F;font-weight:normal;font-size:12px;padding-left:6px;line-height:23px;}
.w_cont_rt1 h3 span b {padding-left:8px;}
.w_cont_rt1 p {padding-left:15px;line-height:22px;}
.w_cont_rt1 p a {color:#1680BB;margin-right:12px;}
.w_cont_rt1 p b {color:#ff7800;padding-right:15px;}
.w_cont_rt1 p b a{color:#ff7800;padding-right:15px;}
.w_cont_rt1 p i{width:16px;height:16px;display:block;float:left;background:url(img/w_bg.png) no-repeat;}
.w_cont_rt1 .w_pi1 {background-position:0 -86px;margin-top:2px;margin-left:3px;}
.w_cont_rt1 .w_pi2{background-position:-21px -86px;margin-top:2px;margin-left:3px;}
.w_cont_rt1 .w_pi3{background-position:-39px -86px;margin-top:2px;margin-left:3px;}
.w_cont_rt1 div {padding-left:15px;padding-top:7px;padding-bottom:8px;}
.w_cont_rt1 div a {display:inline-block;line-height:22px;color:#1680BB;padding-right:5px;}
.w_cont_rd {margin-top:12px;padding:0 14px 0 16px;}
.w_cont_rd h3 {line-height:43px;border-bottom:1px solid #D7D7D7;background:url(img/w_bg.png) no-repeat 0 -105px;padding-left:25px;color:#1680BB;}
.w_cont_rd h3 a {float:right;font-weight:normal;color:#999;}
.w_cont_rd ul {padding-top:10px;padding-bottom:10px;}
.w_cont_rd ul li {cursor:pointer;height:24px;overflow:hidden;}
.w_cont_rd ul li img {float:left;display:none;}
.w_cont_rd .w_ul_a{background:url(img/w_bg.png) no-repeat 0 -30px;padding-left:15px;display:inline-block;line-height:22px;}
.w_cont_rd ul li p {width:135px;display:none;float:left;padding-left:6px;}
.w_cont_rd .w_ulli {padding-bottom:10px;padding-top:5px;height:69px;}
.w_cont_rd .w_ulli img{display:block;}
.w_cont_rd .w_ulli .w_ul_a {width:135px;padding-left:6px;line-height:16px;font-weight:bold;color:#1680BB;display:inline-block;padding-bottom:5px;background:none;}
.w_cont_rd .w_ulli .w_ul_p {color:#999;display:block;line-height:18px;height:38px;overflow:hidden;}
.w_cont_rd .w_ulli .w_ul_p a {color:#1680BB;}
.w_cont1 {margin-top:10px;}
.w_cont1_l,.w_cont3_l {padding:0 15px;background-color:#fff;width:287px;padding-bottom:20px;}
.w_cont1_l h3,.w_cont1_m h3,.w_cont1_r h3,.w_cont3_l h3,.w_cont3_m h3,.w_cont3_r h3,.w_cont4 h3,.w_cont5_r h3,.w_cont6_r h3{background:url(img/w_bg.png) no-repeat 3px -140px;line-height:44px;color:#1680BB;font-size:14px;border-bottom:1px solid #D7D7D7;padding-left:30px;}
.w_cont_ld h3 a,.w_cont1_l h3 a,.w_cont1_m h3 a,.w_cont1_r h3 a,.w_cont3_l h3 a,.w_cont3_r h3 a,.w_cont3_m h3 a,.w_cont5_m h3 a,.w_cont5_r h3 a,.w_cont6_r h3 a {float:right;font-weight:normal;font-size:12px;color:#999;}
.w_cont1_m,.w_cont3_m {width:327px;padding:0 22px 0 24px;background-color:#fff;margin-left:15px;padding-bottom:20px;}
.w_cont1_m h3 {background-position:3px -173px;}
.w_cont1_m ul li {background-position:0 -218px;}
.w_cont1_m .w_a {color:#1680BB;margin-right:3px;}
.w_cont1_r,.w_cont3_r,.w_cont5_r,.w_cont6_r {padding:0 16px;width:228px;background-color:#fff;padding-bottom:2px;}
.w_cont1_r h3 {line-height:42px;background-position:3px -245px;}
.w_cont1_r ul li {border-bottom:1px dashed #CFCFCF;height:88px;}
.w_cont1_r ul li a {color:#1680BB;padding-top:15px;display:inline-block;height:14px;overflow:hidden;}
.w_cont1_r ul li p{color:#999;line-height:18px;padding-top:12px;height:36px;overflow:hidden;}
.w_cont1_r .w_last_li {border-bottom:none;padding-bottom:0px;}
.w_cont2 {margin-top:10px;}
.w_cont2 .w_cont2_m {margin-left:15px;}
.w_cont3_l {padding:0 16px;}
.w_cont3_l h3 {background-position:3px -284px;}
.w_cont3_l ul {padding-bottom:10px;margin-top:10px;}
.w_cont3_l ul li {cursor:pointer;height:26px;overflow:hidden;}
.w_cont3_l .w_cont3_lul1 {border-bottom:1px dashed #CFCFCF;}
.w_cont3_l ul li img {float:left;display:none;}
.w_cont3_l .w_ul_a {background:url(img/w_bg.png) no-repeat 0 -28px;padding-left:15px;display:inline-block;line-height:26px;font-size:14px;}
.w_cont3_l ul li p {width:190px;display:none;float:left;padding-left:8px;}
.w_cont3_l .w_ulli1 {padding-bottom:10px;padding-top:5px;height:69px;}
.w_cont3_l .w_ulli1 img{display:block;}
.w_cont3_l .w_ulli1 .w_ul_a {width:190px;padding-left:8px;line-height:16px;font-weight:bold;color:#1680BB;display:inline-block;padding-bottom:5px;background:none;}
.w_cont3_l .w_ulli1 .w_ul_p {color:#999;display:block;line-height:20px;}
.w_cont3_l .w_ulli1 .w_ul_p a {color:#1680BB;}
.w_cont3_m h3 {background-position:3px -318px;margin-bottom:10px;}
.w_cont3_m ul {padding-bottom:10px;margin-top:10px;}
.w_cont3_m .w_cont3_lul1 {border-bottom:1px dashed #CFCFCF;}
.w_cont3_m li{height:26px;overflow:hidden;}
.w_cont3_m ul li img {float:left;display:none;}
.w_cont3_m .w_ul_a {background:url(img/w_bg.png) no-repeat 0 -28px;padding-left:15px;display:inline-block;line-height:26px;font-size:14px;}
.w_cont3_m ul li p {width:230px;display:none;float:left;padding-left:8px;}
.w_cont3_m .w_ulli2 {padding-bottom:10px;padding-top:5px;height:69px;}
.w_cont3_m .w_ulli2 .img{float:left;width:88px;height:88px;background:#BBB;}
.w_cont3_m .w_ulli2 .img img{display:block;}
.w_cont3_m .w_ulli2 .w_ul_a {float:left;display:block;width:230px;padding-left:8px;line-height:16px;font-weight:bold;color:#1680BB;padding-bottom:5px;background:none;overflow:hidden;}
.w_cont3_m .w_ulli2 .w_ul_p {float:left;display:block;color:#999;line-height:18px;}
.w_cont3_m .w_ulli2 .w_ul_p a {color:#1680BB;}
.w_cont3_r {height:516px;}
.w_cont3_r h3 {background-position:3px -354px;}
.w_cont3_r ul {padding-top:0px;}
.w_cont3_r ul li {border-bottom:1px dashed #CFCFCF;height:32px;overflow:hidden;}
.w_cont3_r .w_lilast {border-bottom:none;}
.w_cont3_r ul li a {color:#1680BB;display:inline-block;line-height:32px;background:url(img/w_bg.png) no-repeat 6px -24px;padding-left:18px;padding-right:15px;}
.w_cont3_r ul li p {color:#999;line-height:22px;padding-bottom:11px;}
.w_cont4 {background-color:#fff;padding:0 14px;padding-bottom:20px;}
.w_cont4 h3 {background-position:3px -392px;padding-left:40px;}
.w_cont4 h3 span {font-weight:normal;color:#999;font-size:12px;}
.w_cont4 ul {padding-top:21px;padding-left:22px;}
.w_cont4 ul li {width:210px;float:left;padding-bottom:20px;margin-right:15px;}
.w_cont4 ul li b {display:block;font-size:14px;padding-bottom:4px;}
.w_cont4 ul li a {color:#666;display:inline-block;margin-right:7px;line-height:24px;height:24px;}
.w_cont4 .w_a1{color:#333;margin-right:0px;float:none;}
.w_cont4 ul li a:hover{color:#f60;}


.w_cont4 .scroll {height:40px;line-height:42px;overflow:hidden;width:256px;position:relative;}
.w_cont4  var {float:right;font-size:12px;font-weight:normal;color:#999;font-style:normal;padding-right:10px;}
.w_cont4 .scroll div {position:absolute;left:0;width:1000px;}
.w_cont4 .scroll div span {padding:0 4px;}

.w_cont5_l .w_cont3_lul1 {border-bottom:none;}
.w_cont5_l h3 {background-position:3px -423px;}
.w_cont5_m .w_cont3_lul1 {border-bottom:none;}
.w_cont5_m {padding-bottom:0px;}
.w_cont5_m h3 {background-position:3px -457px;}
.w_cont5_r,.w_cont6_r {height:303px;}
.w_cont5_r h3 {background-position:3px -490px;}
.w_cont5_r ul {padding:3px 0px 0px 2px;}
.w_cont5_r ul li {line-height:25px;height:25px;overflow:hidden;}
.w_cont5_r ul li a {color:#1680BB;display:inline-block;background:url(img/w_bg.png) no-repeat 6px -26px;padding-left:18px;padding-right:15px;}
.w_cont5_r .w_li1 {background-color:#DDDEF7;color:#9597DA;}
.w_cont5_r .w_li1 a{color:#9597DA;}
.w_cont5_r .w_li2 {background-color:#D9E9FD;color:#80A7D7;}
.w_cont5_r .w_li2 a{color:#80A7D7;}
.w_cont5_r .w_li3 {background-color:#DDF7F2;color:#7ACDBD;}
.w_cont5_r .w_li3 a{color:#7ACDBD;}
.w_cont6_l h3 {background-position:3px -525px;}
.w_cont6_m h3 {background-position:3px -557px;}
.w_cont6_r h3 {background-position:3px -593px;}
.w_cont6_r ul {padding:3px 0px 0px 2px;}
.w_cont6_r ul li {line-height:25px;height:25px;overflow:hidden;}
.w_cont6_r ul li a {color:#1680BB;display:inline-block;background:url(img/w_bg.png) no-repeat 6px -26px;padding-left:18px;padding-right:15px;}
.w_cont7{background-color:#fff;padding:0 15px;border:1px solid #F6F6F6;}
.w_cont7 h3 {line-height:32px;height:32px;border-bottom:1px solid #CECECE;font-size:14px;}
.w_cont7 div {padding:15px 0;}
.w_cont7 div a {line-height:22px;display:inline-block;float:left;padding:0 10px;height:22px;white-space:nowrap;}
/*科室频道页-添加内容*/
.w_head1_div {height:93px;width:520px;}
.w_head1 .iiyi{margin:-5px 0 0 35px;}
.w_head1 .w_head1_p {font-size:26px;font-family:"微软雅黑";padding-top:40px;}
.w_head1 .w_head1_p span {line-height:38px;border-left:1px solid #999;margin-left:11px;padding-left:10px;}
.w_nav2 {line-height:44px;height:44px;background-color:#1680BB;}
.w_nav2 b {width:138px;height:30px;display:block;color:#fff;background:url(img/w_bg1.png) no-repeat 0 0;line-height:30px;float:left;margin-top:7px;margin-left:13px;display:inline;padding-left:15px;font-size:14px;}
.w_nav2 a {font-size:14px;padding:0 21px;}
.w_conl {width:682px;}
.w_conl1 {background-color:#fff;padding:0 20px;}
.w_conl1 h3 {line-height:54px;font-size:14px;color:#1174c9;}
.w_conl1 h3 a{float:right;color:#999;font-size:12px;font-weight:normal;}
.w_conl1 dl {padding-bottom:30px;}
.w_conl1 dl dt{float:left;position:relative;}
.w_conl1 dl dt span {position:absolute;display:block;width:175px;height:24px;background-color:#333;opacity:0.5;filter:alpha(opacity=50);bottom:0;left:0;}
.w_conl1 dl dd {float:right;width:435px;font-size:14px;background:url(img/w_bg.png) no-repeat 0 -30px;padding-left:15px;height:23px;line-height:23px;overflow:hidden;}
.w_conl1 dl dd span {float:right;color:#999;font-size:12px;}
.w_conl1 .w_layer {position:absolute;display:block;width:175px;height:24px;line-height:24px;;bottom:0;left:0;font-size:12px;color:#fff;text-align:center;overflow:hidden;}
.w_conl1 .w_lastdd{padding-bottom:0px;}
.w_conl2 {background-color:#fff;border-top:3px solid #1680BB;}
.w_conl2 h3 {border-bottom:1px solid #E8E8E8;line-height:44px;font-size:14px;color:#1680BB;padding:0 20px;}
.w_conl2 h3 a{float:right;font-size:12px;color:#999;font-weight:normal;}
.w_conl2_l {width:257px;border-right:1px solid #E8E8E8;padding-left:20px;padding-right:27px;}
.w_conl2_l h4 {font-size:14px;padding:20px 0 2px 0;}
.w_conl2_l h4 a{float:right;font-weight:normal;font-size:12px;color:#999;}
.w_conl2_l ul li{padding:15px 0 16px 0;border-bottom:1px dashed #E8E8E8;}
.w_conl2_l dl dt,.w_conl2_l dl dd {float:left;}
.w_conl2_l dl dd {width:180px;padding-left:11px;}
.w_conl2_l dl dt img {border:1px solid #E8E8E8;padding:1px;}
.w_conl2_l .w_conl2_ld1 {font-weight:bold;padding-top:1px;}
.w_conl2_l .w_conl2_ld2 {line-height:27px;color:#666;}
.w_conl2_l .w_conl2_ld3 a {color:#f60;display:block;width:61px;height:18px;line-height:20px;background:url(img/w_bg1.png) no-repeat 0px -41px;padding-left:19px;}
.w_conl2_r {padding-left:20px;width:357px;}
.w_conl2_r h4 {padding:19px 0 11px 0;font-size:14px;}
.w_conl2_r ul li,.w_conr2 ul li {line-height:26px;background:url(img/w_bg.png) no-repeat 0 -28px;padding-left:15px;font-size:14px;overflow:hidden;height:26px;}
.w_conr {width:287px;}
.w_conr1{background-color:#fff;padding:0 20px 30px 20px;}
.w_conr1 h3{background:url(img/w_bg.png) no-repeat;background-position:3px -525px;line-height:36px;height:36px;color:#1680bb;font-size:14px;padding-top:6px;padding-left:28px;border-bottom:1px solid #E8E8E8;}
.w_conr1 div {padding-top:6px;}
.w_conr1 div a {display:block;width:115px;height:25px;color:#1680BB;line-height:25px;text-align:center;background-color:#DDE9EF;margin-top:14px;float:left;}
.w_conr1 div a:hover{text-decoration:none;}
.w_conr2 {padding:6px 20px 0 20px;background-color:#fff;}
.w_conr2 h3 {background:url(img/w_bg1.png) no-repeat 0 -71px;line-height:36px;font-size:14px;color:#1680BB;padding-left:24px;border-bottom:1px solid #E8E8E8;}
.w_conr2 h3 a{float:right;font-size:12px;font-weight:normal;color:#999;}
.w_conr2 ul {padding-top:10px;padding-bottom:18px;}
/*返回顶部*/
#goTop {position:fixed;width:54px;left:50%;margin-left:500px;bottom:50px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop || document.body.scrollTop) +eval(document.documentElement.clientHeight || document.body.clientHeight) -305+'px');z-index:998;}
.search a,.feedback a{display:block;width:57px;height:23px;text-align:center;color:#fff;padding-top:34px;background:url(img/w_bg.png) no-repeat 17px -634px;background-color:#98C3DB;}
.search a:hover,.feedback a:hover{text-decoration:none;}
.feedback a{background:none;background-color:#98C3DB;margin-top:3px;height:47px;padding:0 15px;width:27px;line-height:18px;padding-top:10px;}
.gotop a {display:block;width:57px;height:57px;background:url(img/w_bg.png) no-repeat 17px -694px;background-color:#98C3DB;margin-top:3px;}

.article_foot {background:#fff;padding-top:10px;width:980px;text-align:center;font-size:12px;font-family:tahoma, arial, sans-serif;color:#333;margin:10px auto;}
.article_foot p {height:22px;line-height:22px;font-size:12px;color:#a3a3a3;margin:0;}
.article_foot a {cursor:pointer;color:#333;text-decoration:none;outline:none;}
.article_foot a:hover {text-decoration:underline;color:#f60;}
.article_foot p a {display:inline-block;color:#6d6d6d;background:url(img/h-bg1.gif) 0 10px no-repeat;padding:0 8px 0 10px;}
.article_foot p .h-active01 {height:22px;line-height:22px;background:url(img/h-ico.gif) 0 -70px no-repeat;padding-left:20px;}
.article_foot p a span {color:#fd1900;}

.nav_new{background: url(img/w_bg.png) no-repeat 0px -748px;display: block; position: absolute; height: 18px; right: 2px; width: 30px; top: -6px;}
.nav_hot{background: url(img/w_bg.png) no-repeat 0px -783px;display: block; position: absolute; height: 18px; right: 2px; width: 30px; top: -6px;}.pdbox{margin:12px auto 6px;background:#FFF;overflow:hidden;height: 48px;line-height: 48px;position:relative;}.pdbox h1{float: left;  background: url(img/w_bg.png) no-repeat 20px -821px #dde9ef;  overflow: hidden;  color: #1680bb;  font-size: 16px;  padding: 0 30px;  text-indent: 20px;}.pdbox .nav{  float: left;  padding-left: 12px;  background: url(img/w_bg.png) no-repeat 0px -883px;  overflow: hidden;  height: 48px;  line-height: 48px;}.pdbox .nav a{float: left;  color: #1680bb;  margin: 0 12px;  font-size: 14px;}