@font-face {
  font-family: 'yekan';
  src: url('../fonts/yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body, html{
    background: #fff;
    font-size: 12px;
    min-width: 950px;
}
*{
    font-family: yekan, Tahoma;
}
a,a:hover,a:active,a:visited{
    text-decoration: none !important;
}

.min-space .col-xs-1,
.min-space .col-xs-2,
.min-space .col-xs-3,
.min-space .col-xs-4,
.min-space .col-xs-5,
.min-space .col-xs-6,
.min-space .col-xs-7,
.min-space .col-xs-8,
.min-space .col-xs-9,
.min-space .col-xs-10,
.min-space .col-xs-11,
.min-space .col-xs-12{
    padding-left: 5px;
    padding-right: 5px;
}
.min-space .row{
    margin-right: -5px;
    margin-left: -5px;
}
.default-space .col-xs-1,
.default-space .col-xs-2,
.default-space .col-xs-3,
.default-space .col-xs-4,
.default-space .col-xs-5,
.default-space .col-xs-6,
.default-space .col-xs-7,
.default-space .col-xs-8,
.default-space .col-xs-9,
.default-space .col-xs-10,
.default-space .col-xs-11,
.default-space .col-xs-12{
    padding-left: 15px;
    padding-right: 15px;
}
.default-space .row{
    margin-right: -15px;
    margin-left: -15px;
}
.alert{
    margin-bottom: 10px !important;
    padding: 10px 15px !important;
    background: #666;
    color: #fff;
}
.alert-success{
    background: #E3F5C0 !important;
    border: none !important;
    color: #585858;
}
.alert.title{
    text-align: center;
}

.width{
    width: 950px;
    position: relative;
    margin: 0 auto;
}

header{
    height: 130px;
    background: #fff;
    overflow: hidden;
}
#logo{
    background: url(../images/logo.png) no-repeat left;
    height: 130px;
}
.headBox{
    background: #5aa1e2;
    height: 41px;
    width: 305px;
    text-align: right;
    line-height: 41px;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 10px;
}
.headBox:first-child{
    margin-top: 16px;
}
.headBox span{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right 5px;
    padding-right: 40px;
    margin-right: 5px;
    color: #fff;
}
span.ico-user{
    background-image: url(../images/ico-user.png);
    /*background-position: right 10px;*/
}
span.ico-dollar{
    background-image: url(../images/ico-dollar.png);
}

header nav{
    margin-top: 15px;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #fafafa;
    float: right;
    margin-left: 20px;
    position: relative;
    box-shadow: 0 0 5px #ccc;
}
header nav ul li a{
    margin: 0px;
    line-height: 100px;
    border-radius: 50px;
    display: block;
    text-align: center;
    transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    white-space: nowrap;
    color: #333;
    /*background: #fff;*/
    transition: .5s all;
}
header nav ul li a:hover{
    color: #333;
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
}
header nav ul li:before{
    content: "";
    background: #fff;
    position: absolute;
    width: 0px;
    height: 0px;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .5s all;
    border-radius: 5px;
}
header nav ul li:hover:before{
    background: #5aa1e2;
    width: 90px;
    height: 90px;
    border-radius: 45px;
}


#slider{
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
}
.ls-inner{
    overflow: hidden;
    border-radius: 5px;
}
#slider h3{
    font-size: 20px;
}
#slider h2{
    font-size: 25px;
}
#slider h1{
    font-size: 30px;
}


section#content{
    background: #fff;
    /*box-shadow: 0 -2px 4px #aaa;*/
    position: relative;
}
#contentWrapper{
    padding: 0 0 20px 0;
}
.content{
    background: #FFF;
    -moz-border-radius:5px;
    -webkit-border-radius:4px;
    border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    /*box-shadow: 0 1px 1px rgba(0,0,0,.25);*/
    border: 2px solid #5aa1e2;
    font-size: 12px;
    overflow: hidden;
}
.content.nohide{
    overflow: visible;
}
.mgb{
    margin-bottom: 10px;
}
.content > .title{
    height: 38px;
    padding-right: 10px;
    text-align: right;
    background-color: #5aa1e2;
    color: #eee;
    line-height: 38px;
    font-size: 15px;
    position: relative;
}
.content > .title > a{
    position: absolute;
    left: 0;
    top: 0;
    color: #444;
    font-size: 13px;
    border-bottom: 2px solid #444;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}
.content > .title > a:hover{
    color: #222;
}
.content .in{
    padding: 10px;
    line-height: 25px;
    margin: 0;
}
.content .center{
    text-align: center;
}
.content.listing ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.content ul li{
    padding: 0 10px;
    border-bottom: 1px solid #EFEFEF;
    line-height: 30px;
}
.content ul li:last-child{
    border-bottom: 0;
}
.content ul{
    margin: 0;
    padding: 0 20px 0 0;
}
.content ul li{
    margin: 5px 0;
}
.content ul li > a,
.content ul li > span{
    display: block;
    line-height: 30px;
}
.content ul li > span > b{
    display: inline-block;
}
#contentScroll{
    min-height: 364px;
    height: 364px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: .5s height;
}

#login .form-group{
    margin-bottom: 4px;
}

.pagination,
.pagination ul{
     margin:0 !important;
     padding:1px !important;
     list-style:none;
     float: right;
}
.pagination li{
    float:right;
    border-bottom: 0 !important;
}
.pagination li a, .pagination li span{
    padding:3px 5px;
    line-height:18px !important;
    border:1px solid #CCC;
    display:inline-block;
    font-family: Tahoma;
}
.pagination li.active a{
    font-weight:bold;
}
.pagination li.disabled a{
    color: #CCC;
}


footer{
    background: #fff;
    height: 150px;
    padding-bottom: 80px;
}
footer .copyright{
    width: 100%;
    color: #aaa;
    height: 50px;
    line-height: 50px;
}
footer .copyright #script_license{
    float: left;
    font: 12px/50px Arial;
}
footer .copyright #site_copy{
    float: right;
    line-height: 25px;
    margin-top: 10px;
    font-size: 12px;
}
footer .copyright #site_copy a{
    color: #aaa;
}
#footer-icons{
    padding-top: 0;
    text-align: left;
}
#footer-icons a{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 5px;
    opacity: 0.7;
    transition: all .5s;
}
#footer-icons a:hover{
    opacity: 1;
}
#footer-icons .insta{
    background-image: url(../images/insta.png);
}
#footer-icons .fb{
    background-image: url(../images/fb.png);
}
#footer-icons .gplus{
    background-image: url(../images/gplus.png);
}
#footer-icons .linkedin{
    background-image: url(../images/linkedin.png);
}
#footer-icons .twitter{
    background-image: url(../images/twitter.png);
}


/* usercp styles */
#sidebar .content.drawer ul{
    display: none;
}
#sidebar .content.drawer.open ul{
    display: block;
}
#sidebar .content.drawer .title{
    position: relative;
    cursor: pointer;
}
#sidebar .content.drawer .title:before,
#sidebar .content.drawer .title:after{
    content: "";
    position: absolute;
    left: 10px;
    top: 20px;
    width: 15px;
    border-bottom: 2px solid #fff;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: .5s all;
}
#sidebar .content.drawer.open .title:before{
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
#sidebar .content.drawer.open .title:after{
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.main_box_header {
    display: block;
    width: 100%;
    height: 100px;
}
.main_box_header_r {
    display: block;
    float: right;
}
.main_box_header_f {
    display: block;
    float: right;
    margin-right: 10px;
}
.H_messege {
    background-image: url(../images/header/4.png);
    width: 67px;
    height: 67px;
    background-repeat: no-repeat;
}
.H_testimonial {
    background-image: url(../images/header/3.png);
    width: 67px;
    height: 67px;
    background-repeat: no-repeat;
    display: block;
}
.H_billing {
    background-image: url(../images/header/2.png);
    width: 67px;
    height: 67px;
    background-repeat: no-repeat;
    display: block;
}
.H_telegram {
    background-image: url(../images/header/1.png);
    width: 67px;
    height: 67px;
    background-repeat: no-repeat;
    display: block;
}
.headBox a {
    float: right;
    margin-right: 2px;
    margin-top: -29px;
}