/*
Theme Name: Broadcast
Theme URI: http://londonthemes.com/index.php?themeforest=true
Description: Clean news style theme.
Author: Skyali
Author URI: http://londonthemes.com/index.php?themeforest=true
Version: 1.2
*/


@font-face{font-family:"almrsal";src:url(font/HelveticaNeueW23-Reg.eot);src:url(font/HelveticaNeueW23-Reg.woff) format("woff"),url(font/HelveticaNeueW23-Reg.ttf) format("truetype"),url(font/HelveticaNeueW23-Reg.svg#HelveticaNeueLTArabic55Roman) format("svg");font-weight:normal;font-style:normal}


html, 
body, 
div, 
dl, 
dt, 
dd, 
ul, 
ol, 
li, 
h1, h2, h3, h4, h5, h6, 
pre, 
form, 
fieldset, 
input, 
th, 
td{
	margin:0; 
	padding:0;
}

* {
	margin:0;
	padding:0;
	border:none;
	outline:none;
	font-family: almrsal,"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:normal;
	font-size:16px;
}
/* General */

body{
	background:#f4f4f4;	
	min-width:1180px;
}

#center{
	width:100%;
	height:100%;
	float:right;
}

#almrsal_container{
	
}

#wptouch_desktop_switch{
	background:#1E1E1E;	
	clear:both;
	/* position:fixed;
	left:0;
	right:0;
	bottom:0; */
}

#container{
	min-width:1050px;
	width:1050px;
	margin:0 auto;
	background:url(images/container_bg.png) repeat-y;
	height:100%;
	overflow:hidden;
}

/* Top Header Nav */

#header_navigation{
	float:right;
	width:100%;
	/*background:url(images/top_header_bg.png);*/
	background:#262626;
	min-width:1050px;
}



#top_navigation{
	/*background:url(images/top_header_bg.png);*/
	width:960px;
	min-width:1050px;
	height:30px;
	margin:0 auto;
	/*border:1px solid #EFEFEF;*/
	padding-right:57px;
	padding-left:57px;
	padding-bottom:3px;
	
}

#top_navigation .current_page_item a{
	color:#fff;
}

#top_navigation ul{
	float:right;
}

#top_navigation ul li{
	float:right;
	list-style:none;
	padding-left:5px;
	color:#FCFCFC;
	text-transform:uppercase;
	font-weight:bold;
	font-size:10px;
}

#top_navigation ul li a{
	color:#FCFCFC;
	text-decoration:none;
	font-size:10px;
	line-height:31px;
	
}

#top_navigation ul li ul li a{
	color:#e4e4e4;
	text-decoration:none;
	font-size:10px;
	line-height:31px;
	background:#171717;
	border-bottom-right-radius:6px;
	-moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
	-moz-border-radius-bottomright:6px;
}

#top_navigation ul li a:hover{
	color:#fff;
}

#top_navigation p{
	font-size:10px;
	color:#8b8b8b;
	text-transform:uppercase;
	font-weight:bold;
	float:right;
	margin-top:9px;
	
}

#top_navigation .rss_icon{
	float:right;
	margin-right:9px;
	margin-left:5px;
	margin-top:12px;
}

#top_navigation .social_icons{
	float:left;
}

#top_navigation .social_icons a{
	float:right;
	margin-right:20px;
	margin-top:5px;
}

/* Content Area */

#content {
/*  direction:rtl;
 width:570px;
 background:#fff;
 font-size:15px;
 line-height:1.75em;
 float:right;
 border-top:1px solid #ececec;
 padding:10px; */
 }
 #content img {
 max-width: 500px;
 height: auto;
 border:2px silver dotted;
 } 
/* Inside Content BG */

#content_bg{
/* 	float:right;
   padding-bottom:40px; */
   background: url(images/sidebar_bg.png) repeat-y; 
   width:960px;
	min-width:960px;
   margin: 50px auto;
   overflow:hidden;
   margin-top:10px ;
}

/* Header */

#header_container{
	width:100%;
	float:right;
	background:url(images/header_middle_bg.png) #fff;
}

#header{
	width:960px;
	min-width:960px;
	height:125px;
	margin:0 auto;
}

#header .logo{
	float:right;
	margin-top:30px;
}

#header img a{
	border:0;
}

#header .top_ad{
	width:468px;
	height:60px;
	float:left;
	margin-top:32px;
}

#header .site_logo_text{
	float:right;
    font:'ColaborateBoldRegular', Arial, sans-serif;
	text-transform:uppercase;
    letter-spacing: -2px;
    line-height: 1.2em;
	margin-top:33px;
}



.header_right_side{
	float:left;
	text-align:left;
	margin-right:23px;
	
}

.header_right_side .timestamp{
	float:right;
	font-size:10px;
	color:#8B8B8B;
	padding-right:4px;
	font-weight:bold;
	margin-top:9px;
}

.header_right_side li{
	padding-left:0px !important;
}

.header_right_side ul li a{
	float:right;
}

/* Categories */

#categories_shadow{
	float:right;
	background:url(images/categories_menu_shadow.png) no-repeat bottom right;
	height:61px;
}

#categories_container{
	float:right;
	width:100%;
	min-width:960px;
	background:url(images/categories_bg.png);
	border:1px solid #e1e1e1;
	border-right:0;
	border-left:0;
}

#categories{
	width:960px;
	min-width:960px;
	height:48px;
	/*border:1px solid #e1e1e1;*/
	position:relative;
	margin:0 auto;
}

#categories .home_first_line{
	border-right:1px solid #e1e1e1;
}

#categories .home_second_line{
	border-right:1px solid #fff;
}

#categories ul{
	float:right;
}

#categories ul li{
	float:right;
	list-style:none;
	font-size:12px;
	/*line-height:51px;*/
	border-left:1px solid #fff;
}

#categories ul li ul li{
	border:0px solid #fff;
	border-top:1px solid #EAEAEA;
}

#categories ul li ul li a{
	line-height:35px !important;
	border:0px solid #fff;
	color:#292929;
}

#categories ul li ul li a:hover{
	color:#292929;
}

#categories ul li a{
	text-decoration:none;
	font-weight:bold;
	color:#292929;
	display:block;
	line-height:48px;
	padding:0px 8px 0px 8px;
	float:right;
	border-left:1px solid #e1e1e1;
}

#categories ul li a:hover{
	background:url(images/categories_bg_hover.png);
	text-shadow:1px 1px #fff;
}

#categories .current-cat a{
	background:url(images/categories_bg_hover.png);
	text-shadow:1px 1px #fff;
}

#categories ul li ul li a:hover{
	background:none;
	color:#292929 !important;
}
/* Left Content */

#left{
	width:604px;
	float:right;
	padding-top:20px;
	padding-left:15px;
}

#left h1{
	font-size:22px;
	color:#c66e2d;
	float:right;
	background:#ffffff;
	padding-left:15px;
	text-transform:capitalize;
	width:100%;
}

#left .page_heading{
	float:right;
	width:100%;
	/*background:url(images/page_heading.png) repeat-x;*/
	margin-top:30px;
	margin-bottom:25px;
	padding-bottom:22px;
	background:url(images/h1_bg.png) repeat-x bottom right;
}

.pagging{
	width:589px;
	float:right;
	padding-bottom:33px;
}

.pagging .pagging_inside{
	float:left;
}

.pagging a{
	background:url(images/pagging_bg.png) repeat-x;
	width:33px;
	height:28px;
	float:right;
	border:1px solid #bfbfbf;
	margin-right:29px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 7px #dddddd;
    -webkit-box-shadow: 0px 0px 7px #dddddd;
	font-size:12px;
	text-align:center;
	line-height:28px;
	color:#969696;
	text-decoration:none;
	font-weight:bold;
}

.pagging .active{
	background:url(images/pagging_bg_active.png);
	color:#424242;
}
/* Blog Single */

.blog_single_header{
	margin-bottom:8px !important;
}

#left img{
	border:1px solid #EBEBEB;
	padding:4px;
	-moz-box-shadow: 0px 0px 5px #eee;
    -webkit-box-shadow: 0px 0px 5px #eee;
}

#left a:hover img{
	/* border:1px solid #a3a3a3; */
}

#left .blog_date{
	font-size:11px;
	color:#949494;
	margin-bottom:5px;
	float:right;
	width:100%;
}

#left .blog_date .the_date{
	float:right;
	margin-top:5px;	
	width:100%;
}

#left .blog_date .the_date a{
	color:#949494;
	text-decoration:none;
}

#left .blog_date .the_date a:hover{
	color:#000;
}

#left .blog_date .the_date .seperator{
	padding-right:7px;
	padding-left:7px;
	float:right;
}

#left .blog_date .the_date p{
	float:right;
}

#left .blog_date .the_date ul, #left .blog_date .the_date li{
	display:block;
	list-style:none;
	padding-right:1px;
	float:right;
}

#left .blog_date .tags{
	float:left;
	padding-left:29px;
}

#left .blog_date .tags a{
	display:block;
	float:right;
	margin-right:25px;
	background:url(images/tag_button.png) repeat-x;
	border:1px solid #d5d5d5;
	height:21px;
	padding-right:10px;
	padding-left:10px;
	text-decoration:none;
	line-height:22px;
	font-size:12px;
	color:#444444;
	text-shadow:1px 1px #fff;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	
}

#left .blog_single_img{
	float:right;
	margin-bottom:32px;
}

/* Pure Content - Listing out all the content */

.pure_content{
	float:right;
}

.pure_content p{
	margin-bottom:30px;
	line-height:1.8em;
	color:#333;
}

.pure_content a{
	font-weight:bold;
	color:#383838;
	text-decoration:none;
}

.pure_content a:hover{
	color:#000;
}

blockquote 
{
	margin: 1em 3em; 
	color: #656565; 
	padding-right: 80px;  
	float:right; 
	font-style:italic; 
	background:url(images/block-quote.png) no-repeat; 
	
}

.pure_content h1, 
.pure_content h2, 
.pure_content h3, 
.pure_content h4, 
.pure_content h5, 
.pure_content h6{
	float:right;
	width:100%;
}

.pure_content h1{
	font-size:2em !important;
	padding-top:10px;
	padding-bottom:2px;
}

.pure_content h2{
	font-size:1.5em !important;
	padding-top:10px;
	padding-bottom:16px;
	
}

.pure_content h3{
	font-size:1.17em !important;
	padding-top:10px;
	padding-bottom:16px;
}

.pure_content h4{
	font-size:1em !important;
	padding-top:10px;
	padding-bottom:16px;
}

.pure_content h5{
	font-size:.83em !important;
	padding-top:10px;
	padding-bottom:16px;
}

.pure_content h6{
	font-size:.56em !important;
	padding-top:10px;
	padding-bottom:16px;
}/* Share Article */

#left div.share {
width: 604px;
float: right;
}

#left div.share a{
	float:right;
	margin-left:5.2%; 
}

#left div.share img{
	border:0; 
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#left div.share img.last{
	margin:0;
}
#left div.share a:hover{
	border:0;
}

/* Thumbs */

.right_side{
	float:left;
	
	width:303px;
	margin-right:23px;
}

.small-listing{
	float:right;	
	padding-bottom:26px;
}

.small-listing h4 a, .other_categories_content h4 a{
	font-size:15px;
	text-decoration:none;
	color:#343434;
	margin-bottom: 4px;
    line-height: 1.6em;
	float:right;
	font-weight:bold;
}

.other_categories_content h4 a{
	margin-top:10px;
}

.small-listing h4 a:hover, .other_categories_content h4 a:hover{
	color:#000;
}

.small-listing .description{
	float:right;
	width:175px;
}

.small-listing .thumb{
	float:right;
	padding-left:12px;

}

/* Category Listing New */

/*** Left Category Listing ***/

.list_category_left{
	float:right;
	width:271px !important;	
	margin-bottom:0 !important;
}

.list_category_left .right_side, .list_category_right .right_side{
	float:right !important;
	margin-right:0px;
	margin-top:20px;
	width:271px;
}

.left_list_category_new{
	float:right;
	position:relative;
	width:271px;
	border-bottom:1px solid #dedede;
	padding-bottom:20px;
}

.left_list_category_new .title, .right_list_category_new .title, .middle_list_category_new .title{
	float:right;
	margin-top:20px;
	width:100%;
}


.left_list_category_new p, .right_list_category p{
	float:right;
	color:#585858;
}

.list_category_left .small-listing, .list_category_right .small-listing{
	border-bottom: 1px solid #dedede;
	margin-bottom:20px;
	padding-bottom:20px;
}

/*** Right Category Listing ***/

.right_list_category_new{
	width:271px;
	border-bottom:1px solid #dedede;
	padding-bottom:20px;
	
}

.list_category_right{
	float:left !important;
	width:271px !important;	
	margin-bottom:0 !important;
}

/*** Middle Category Listing ***/

.list_category_middle{
	float:right !important;
	width:604px !important;
	margin-bottom:0 !important;
}

.list_category_middle .small-listing .description{
	width:200px;
	float:right;
	margin-top:14px;
}

.list_category_middle .small-listing{
	padding-bottom:12px;
}

.list_category_middle .title{
	float:right;
}

.middle_list_category_new{
	float:right;
	width:373px;
}

.middle_list_category_new p{
	float:right;
}

.list_category_middle .right_side{
	float:right !important;
	width:200px;
	margin-right:31px;
}
/* List Category New */

.list_category_new{
	position:relative;
	float:right;
}

/*.list_category_new .image img{
	width:253px;
	height:174px;	
}*/


.list_category_new .image{
	position:relative;
}

.list_category_new .title{
	margin-top:132px;
	margin-right:5px;
	float:right;
	
}

.list_category_new h3{
	z-index:200;
	color:#fff;
	background:url(images/category_bg_title.png);
	padding: 5px 10px;
	float:right;
	
}

.list_category_new h3 a{
	color:#fff;
}


/* Category Listing */


.list_category{
	float:right;
	width:605px;
	margin-bottom:30px;
}

.list_category h2{
	font-size:15px;
	text-transform:capitalize;
	color:#c66e2d;
	float:right;
	background:#fff;
	padding-left:13px;
}

.list_category h2 a{
	text-decoration:none;
	color:#c66e2d;
}

.list_category .heading{
	background:url(images/categories_listing_bg.png) repeat-x;
	float:right;
	width:100%;
	margin-bottom:20px;
}

a.cat_arrow{
	display:block;
	float:right;
	background:#1a4792 url(images/category_arrow.png) no-repeat;
	margin-top:12px;
	width:16px;
	height:16px;
	
}

a:hover.cat_arrow{
	background:#1f1f1f url(images/category_arrow.png) no-repeat;
}

.list_category .image{
	float:right;
}

.list_category .image img{
	border:1px solid #ebebeb;
	padding:4px;
	float:right;
}

.list_category .image a:hover img{
	border:1px solid #a3a3a3;
}

.list_category .information{
	width:279px;
	height:141px;
	float:right;
	margin-right:26px;
}

.list_category h3, .list_category h3 a{
	color:#343434;
	font-size:15px;
	text-decoration:none;
	line-height:1.4em;
	font-weight:normal;
	float:right;
	width:100%;
	font-weight:bold;
}

.list_category h3{
	margin-bottom:9px;
	width:100%;
}

.list_category h3 a:hover{
	color:#000;
}

.list_category .date{
	color:#a2a2a2;
	float:right;
	width:100%;
	font-size:12px;
	margin-bottom:11px;
}

.list_category .date a{
	color:#a2a2a2;
}

.list_category p{
	font-size:15px;
	color:#707070;
	line-height:1.6em;
}

/* Post Listing */

.list_post{
	float:right;
	width:604px;
	margin-bottom:25px;
	border-bottom:1px solid #ececec;
	padding-bottom:25px;
}

.list_post h2{
	font-size:20px;
	text-transform:uppercase;
	color:#1a4792;
	background:#ffffff;
	float:right;
	padding-left:15px;
}

.list_post .heading{
	background:url(images/categories_heading_bg.png);
	float:right;
	width:100%;
	margin-bottom:30px;
}

.list_post .image{
	float:right;
}

.list_post .image img{
	border:1px solid #ebebeb;
	padding:4px;
	float:right;
}

.list_post .image a:hover img{
	border:1px solid #a3a3a3;
}

.list_post .information{
	width:360px;
	height:141px;
	float:right;
	margin-right:20px;
}

.list_post h3, .list_post h3 a{
	color:#383838;
	font-size:15px;
	text-decoration:none;
	margin-bottom:10px;
	line-height:1.4em;
}

.list_post h3 a:hover{
	color:#000;
}

.list_post .date{
	color:#a2a2a2;
	float:right;
	width:100%;
	font-size:12px;
	margin-bottom:10px;
}

.list_post .date a{
	color:#a2a2a2;
}

.list_post p{
	font-size:15px;
	color:#707070;
	line-height:1.6em;
	float:right;
}

.list_post div.readm{
	float:right;
	width:76px;
	padding-bottom:15px;
	margin-top:13px;
}

.list_post div.readm div.button{
	float:right;
	width:76px;
}

.list_post div.readm div.button a{
	display:block;
	/*background:url('images/post_read_more.png') repeat-x;*/
	background: #C2641E;
	font-size:15px;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
		padding:8px 11px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 7px #dddddd;
    -webkit-box-shadow: 0px 0px 7px #dddddd;
}

/* Other Categories Tabs */

#other_categories,.other_categories {
	padding: 0;
	float:right;
	width:603px;
	border:1px solid #d8d8d8;
	background:url(images/other_categories_tabs_bg.png);
}

#other_categories li ,.other_categories li{
	display: inline;
}

#other_categories li a ,.other_categories li a{
	background:url(images/other_categories_tabs_bg.png);
	height:33px;
	padding:0px 18px 0px 18px;
	float:right; 
	border-left: 1px solid #d8d8d8; 
	border-bottom: none; 
	text-decoration: none; 
	color:#343434; 
	font-weight: normal;
	font-size:15px;
	line-height:2.9em;
}

#other_categories li.active a ,.other_categories li.active a{
	background: #fff;
}

.other_categories_content {
	float: right; 
	clear: both; 
	border: 1px solid #d8d8d8;
	border-top:none;
	background: #fff; 
	padding: 21px; 
	width: 561px; 
}

.other_categories_item{
	float:right;
	width:173px;
	margin-left:21px;
}


/* Other News */

.other_news_item{
	width:173px;
	min-height:204px;
	float:right;
	margin-left:41px;
	margin-bottom:30px;
}

.other_news_item img{
	border:1px solid #ebebeb;
	padding:4px;
	margin-bottom:20px;
}

.other_news_item a:hover img{
	border:1px solid #a3a3a3;
}

.other_news_item h4, .other_news_item a{
	font-size:15px;
	color:#383838;
	text-decoration:none;
	margin-bottom:6px;
	line-height:1.6em;
}

.other_news_item h4 a:hover{
	color:#000;
}

/* About Author */

.about_author{
	float:right;
	width:97%;
	height:100%;
	background:#f4f4f4;
	padding:8px;
	border:1px solid #bcbcbc;
	border-right:none;
	border-left:none;
	margin-bottom:21px;
}

.about_author .image{
	width:85px;
	height:85px;
	float:right;
}

.about_author .image img{
	-moz-box-shadow:none !important;
    -webkit-box-shadow:none  !important;
}

.about_author .content{
	width:467px;
	float:right;
	margin-right:16px;
	padding-top:10px;
	padding-bottom:10px;
}

.about_author .content p{
	color:#595959 !important;
}

.about_author h3, .about_author h3 a{
	font-size:15px;
	color:#292929;
}

.about_author a{
	color:#444444;
	text-decoration:none;
}

.about_author a:hover{
	color:#000;
}

/* #Comments */

div#respond{
	float:right;
}

#comments{
	width:589px;
	float:right;
}

#entries{
	float:right;
	width:95%;
	margin-bottom:20px;
}

#entries a{
	font-size:15px;
	color:#000;
}

#entries .old_entries{
	float:right;
}

#entries .new_entries{
	float:left;
}

ol#comments{
	list-style:none !important;
}

ol#comments li{
	list-style:none !important;
}

#comments ul{
	margin-right:50px;
}

#comments div.comment{
	width:100%;
	float:right;
	margin-bottom:25px;
}

#comments div.comment div.avatar{
	float:right;
	width:87px;
	height:87px;	
}

#comments div.comment div.comment_holder{
	float:right;
	margin-right:20px;
}

#comments div.comment div.comment_holder .date{
	float:right;
	font-size:12px;
	margin-top:8px;
}

#comments div.comment div.comment_box{
	float:right;
	width:94%;
	padding:3%;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin-top:10px;
	background:#efefef;
	border:1px solid #d9d9d9;
}


#comments h5 a{
	color:#5b5b5b;
	text-decoration:none;
}

#comments div.button{
	margin-top:14px !important;
	float:left;
}


#comments h5 a:hover{
	color:#000;
}

#comments p{
	text-shadow:1px 1px #fff;
	font-size:15px;
	line-height:1.6em;
	color:#656565;
}

#comments div.button a{
	margin-left:0;
}

ol#comments li div.comment div.comment_holder {
	width:81% !important;
}

ol#comments li ul li div.comment div.comment_holder{
	width:74% !important;
}

ol#comments li ul li ul li div.comment div.comment_holder{
	width:66% !important;
}

ol#comments li ul li ul li ul li div.comment div.comment_holder{
	width:57% !important;
}

ol#comments li ul li ul li ul li ul li div.comment div.comment_holder{
	width:49% !important;
}

.button a.reply{
	background:url(images/reply-a.png);
	display:block;
	border:1px solid #bfbfbf;
	color:#6a6a6a;
	font-size:15px;
	width:55px;
	height:24px;
	text-align:center;
	line-height:2.0em;
	text-decoration:none;
}

/* Right Content */
#right .popular_news{
	float:right;
	padding-bottom:22px;
}

#right .popular_news p{
	font-size:15px;
	line-height:1.6em;
	color:#707070;
}

#right .popular_news div.image{
	float:right;
	padding-left:12px;
}

#right .popular_news div.image img{
	margin-left:15px;
	margin-bottom:10px;
	float:right;
}

#right .popular_news div.content{
	float:right;
	width:210px;

}

#right .popular_news .date{
	font-size:11px;
	color:#b9b9b9;
	float:right;
	width:100%;
	margin-top:5px;
}

#right .popular_news h3 a{
	font-size:15px;
	text-decoration:none;
	line-height:1.6em;
	color:#343434;
	font-weight:bold;
	margin-bottom:4px;
	display:block;
}

#right .popular_news h3 a:hover{
	color:#000;
}


#right{
	width:319px;
	height:100%;
	float:right;
	padding-top:17px;
	padding-right:8px;
	padding-left:8px;
	/*padding-right:14px;*/
	margin-right:6px;
}

#right .heading{
	float:right;
	width:100%;
	padding-bottom:23px;
}

#right .heading_bg{
	background:url(images/categories_listing_bg.png) repeat-x;
	float:right;
	width:100%;
}

#right h2{
	float:right;
	color:#C66E2D;
	font-size:14px;
	text-transform:capitalize;
	background:#f7f7f7;
	padding-left:13px;
	/*padding-right:0px;
	padding-bottom:9px;
	/*width:93%;*/
	/*margin-left:12px;*/
}

#right .ad_300{
	float:right;
	background:#f2f2f2;
	width:301px;
	height:251px;
	padding-right:7px;
	padding-left:7px;
	padding-top:7px;
	padding-bottom:7px;

}

#right .ad_300 a img{
	border:0;
}

#right .left_column{
	float:right;
	width:120px;
	padding-bottom:10px;
}

#right .left_column ul, #right .right_column ul{
	float:right;
	list-style:none;
}

#right .left_column ul li, #right .right_column ul li{
	float:right;
	width:100%;
}

#right .left_column ul li a, #right .right_column ul li a{
	color:#383838;
	text-decoration:none;
	font-size:12px;
	float:right;
	padding-bottom:7px;
}

#right .left_column ul li a:hover, #right .right_column ul li a:hover{
	color:#131313;
	text-shadow:1px 1px #fff;
}

#right .right_column{
	float:left;
	width:180px;
	padding-bottom:10px;
	overflow:hidden;
}

#right .video{
	width:315px;
	height:265px;
	float:right;
	padding-bottom:30px;
}

.rightwidget ul{
	float:right;
	list-style:none;
}

.rightwidget ul li{
	float:right;
	width:100%;
}

.rightwidget ul li a{
	color:#383838;
	text-decoration:none;
	font-size:12px;
	float:right;
	padding-bottom:20px;
	line-height:1.6em;
}

.rightwidget ul li a:hover{
	color:#000;
}

.rightwidget h2 a{
	color:#1a4792;
	text-decoration:none;
}

.rightwidget h2 a:hover{
	color:#900;
}


/* Footer Holder */

#footer_holder{
	clear:both;
	overflow:hidden;
	width:100%;
	background:#262626;
	padding-bottom:30px;
}

/* Footer */

#footer{
	margin:0 auto;
	width:960px;
	min-width:960px;
	padding-top:30px;
	padding-bottom:30px;
	
}

#footer #social_icons{
	float:right;
}

#footer ul#social_icons li{
	border-bottom:1px solid #2f2f2f;
	padding-bottom:0 !important;
}

#footer ul#social_icons li a{
	float:right;
	margin-bottom:8px;
}

#footer .socialimg{
	float:right;
}

#footer .socialtext{
	float:right;
	margin-top:6px;
	margin-right:9px;
}

#footer ul li {
	float:right;
	border-bottom:1px solid #2f2f2f;
	padding-bottom:8px;
}

/*#footer a:hover img{
	border:1px solid #a3a3a3 !important;
}*/

#footer .column_1, #footer .column_2, #footer .column_3{
	width:225px;
	float:right;
	padding-left:20px;
}

#footer .column_1 .widget, #footer .column_2 .wiget, #footer .column_3 .widget, #footer .column_4 .widget{
	float:right;
	width:225px;
}

#footer .column_4{
	width:225px;
	float:right;
}

#footer h5{
	text-transform:capitalize;
	color:#c2641e;
	font-size:14px;
	float:right;
	padding-left:13px;	
	background:#262626;
}

#footer .heading{
	background:url(images/footer_widget_header_bg.png) repeat-x;
	float:right;
	width:225px;
	padding-bottom:18px;
}


#footer .latest_news_item{
	width:225px;
	float:right;
	padding-bottom:20px;
}

#footer .latest_news{
	width:225px;
	float:right;
}

#footer .latest_news_item .image{
	float:right;
	padding-left:16px;
}

#footer .latest_news_item .image img{
	padding:4px;
	border:1px solid #d8d8d8;
}

#footer .latest_news_item .content{
	width:122px;
	float:right;
}
#footer .latest_news_item h6{
	font-size:12px;
	float:right;
	color:#383838;
	font-weight:normal;
	padding-bottom:10px;
	line-height:1.6em;
}

#footer .latest_news_item h6 a{
	color:#383838;
	text-decoration:none;
	line-height:1.6em;
}

#footer .latest_news_item h6 a:hover{
	color:#000;
}
#footer div.latest_news .date{
	font-size:11px;
	color:#afafaf;
	float:right;
	margin-top:4px;
}

#footer ul{
	list-style:none;
	float:right;
	width:100%;
}

#footer ul li{
	float:right;
	width:100%;
	margin-bottom:9px;
	font-size:13px;
}


#footer ul li a{
	color:#ebebeb;
	text-decoration:none;
}

#footer ul li a:hover{
	color:#fff;
}

#footer p{
	font-size:12px;
	line-height:1.6em;
	color:#b7b7b7;
	padding-bottom:18px;
}

#footer .flickr{
	float:right;
}

#footer .flickr img{
	border:1px solid #D8D8D8;
	padding:4px;
	margin-right:20px;
	margin-bottom:20px;
}


/* Contact Page */

#contact_form, #commentform{
	float:right;
	margin-top:15px;
	width:100%;
	height:100%;
	font-size:12px;
	margin-bottom:50px;
}

#contact_form div.button{
	padding-top:18px;
	clear:both;
}

#contact_form input,#contact_form textarea, #commentform input, #commentform textarea{
	padding:8px;
	float:right;
}

#contact_form textarea, #commentform textarea{
	width:390px;
	height:150px;
	border:1px solid #d2d2d2;
	background:#f6f6f6;
	
}

#contact_form input, #commentform input{
	width:200px;
	border:1px solid #d2d2d2;
	background:#f6f6f6;
}

#contact_form label, #commentform label{
	width:60%;
	float:right;
	padding:12px;
	padding-right:0;
}

#contact_form input, #contact_form textarea, #commentform input, #commentform textarea{
	width:94%;
}


#commentform input, #commentform textarea{
	margin-right:0 !important;
	width:97% !important;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

#commentform .form-row{
	float:right;
	margin-bottom:13px;
	width:100%;
}

#commentform {
	margin-top:0 !important;
}

#commentform .form-submit{
	float:right;
	margin-top:20px;
}

#commentform .form-submit #submit{
	line-height:10px !important;
}


#commentform em{
	font-size:11px;
	color:#8f8f8f;
}

.comment-notes{
	display:none;
}

/** Comment Form **/

.author_info h5 a{
	color:#5b5b5b;
}

.author_info h5 a:hover{
	color:#000;
}

.author_info a{
	color:#000;
}

.author_info a:hover{
	color:#333;
}

.date a{
	color:#000;
	text-decoration:none;
}

.date a:hover{
	color:#333;
}

#commentform{
	float:right;
	width:594px;
}

#commentform a{
	color:#000;
}

#commentform a:hover{
	color:#333;
}

#commentform input{
	border:1px solid #d2d2d2;
	height:20px;
	background:#f6f6f6;
}

#commentform #email{
	margin-right:20px;
	padding:5px;
}

#commentform #url{
	margin-right:13px;
	padding:5px;
}

#commentform #author{
	margin-right:20px;
	padding:5px;
}

#commentform textarea{
	border:1px solid #d2d2d2;
	font-family:Arial, Helvetica, sans-serif;
	width:95%;
	margin-top:10px;
	padding:10px;
	background:#f6f6f6;
}

.required{
	float:right;
}

#commentform #submit, .formsubmit{
	background:url(images/reply-a.png) repeat-x !important;
	border:1px solid #bfbfbf;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	color:#6A6a6a;
	font-size:12px;
	text-shadow:1px 1px #fff;
	float:right;
	text-align:center;
	height:27px;
	padding:0px 12px 0px 12px !important;
	/* top right bottom left */
}

.formsubmit{
	width:130px !important;
	line-height:12px !important;
}

#commentform label{
	float:right;
}

#commentform .comment-form-author{
	float:right;
	width:100%;
}

.form-allowed-tags{
	display:none;
}
/* Archives Page */

.archive_header{
	font-size:18px;
	color:#2e2e2e;
	font-weight:normal;
}

.archive_page a{
	font-size:12px;
	font-weight:normal;
	color:#2b2b2b !important;
}

.archive_page p{
	color:#bdbdbd;
	margin-bottom:13px;
	width:100%;
}

/* Quick Styles */

.no_padding_left{
	padding-right:0 !important;
}

.margin_top_{
	margin-top:30px !important;
}

.column_bottom{
	height:155px !important;
}

.image_border{
	padding:4px;
	border:1px solid #E5E5E5;
	/*-moz-box-shadow: 0px 0px 7px #DFDFDF;  
	-webkit-box-shadow: 0px 0px 7px #DFDFDF;*/
	background:#fff;
}


.image_border_no_shadow{
	padding:5px !important;
	border:1px solid #e5e5e5 !important;
	background:#fff !important;
}

.no_margin_bottom{
	margin-bottom:0 !important;
	padding-bottom:0 !important;
}.no_margin_top{
	margin-top:0 !important;
}

.no_margin_right{
	margin-left:0 !important;
	padding-left:0 !important;
}

.single_item_height{
	min-height:140px !important;
	margin-bottom:0px !important;
}

.unique_margin_bottom{
	margin-bottom:10px !important;
}

.no_background{
	background:none !important;
}

.white_bg{
	background:none #fff !important;
}

.blacktext{
	color:#000 !important;
}

.black_bg{background:#000 !important;} 

::selection{ /* Safari and Opera */ 
   background:#000; color:#fff;
}

::-moz-selection{ /* Firefox */ 
   background:#000;color:#fff;
}

.hideobject{/* Hide any object */display:none !important;}

.round_edges{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
}

.full_width{
	width:960px !important;
	min-width:960px;
	background:#fff;
	
}
/* copyright foot */
#copyright_holder{
	width:100%;
	min-width:960px;
	float:right;
	background:#1e1e1e;
}
.copyright{
	min-width:1050px;
	color:#b7b7b7;
	font-size:12px;
	margin:0 auto;
	min-height:40px;
	
	
}

.copyright .left{
	text-align:right;
	width:50%;
	float:right;
	margin-top:15px;
}

.copyright .right{
	text-align:left;
	float:right;
	width:50%;
	margin-top:15px;
}

.copyright a{
	color:#e0e0e0;
	text-decoration:none;
}

.copyright a:hover{
	color:#fff;
}

/* Right Widget */

.rightwidget{
	margin-bottom:10px;
	float:right;
	width:100%;
}

.rightwidget iframe, .rightwidget embed, .rightwidget object{
	width:315px;
}

#right #wp-calendar {
	width: 315px !important; 
	float:right !important;
	color:#6c6c6c !important;
	text-shadow:1px 1px #fff !important;
	border-spacing: 0px;
	position:relative;

}

#right #wp-calendar caption{
	color: #222; 
	font-size: 14px; 
	font-weight: bold; 
	padding-bottom: 4px; 
	text-align: right; 
	display:none; 
	float:right;
}

#right #wp-calendar thead {
	font-size: 11px;
	width:313px !important;
	height:26px !important;
	border:1px solid #e1e1e1 !important;
	float:right;
	background:url('images/calendar_header.png') repeat-x;
	
}

#right #wp-calendar thead th {
	height:26px;
	padding-right:0; 
	padding-left:0; 
	color:#3d3d3d; 
	text-shadow:1px 1px #fff;
	float:right;
	width:44px;
	height:26px;
	line-height:2.5em;
}

#right #wp-calendar tbody {
	color: #7e7e7e;
	float:right;
	border-left:1px solid #e1e1e1;
	width:314px;
	padding:0 !important;
}

#right #wp-calendar tbody td {
	
	 width:44px !important;
	 height:22px;
	border-right:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	/*padding: 3px 0 2px;*/ 
	text-align: center; 
	font-size:12px;
	background:url('images/calendar_inactive_link.png');
	
}

#right #wp-calendar tbody .pad{
	width:auto;	
	background:#fff !important;
}

#right #wp-calendar tbody td a{
	color:#292929;
	display:block;
	width:44px;
	height:22px;
	float:right;
	background:url('images/calendar_active_link.png');
	text-decoration:none;
	line-height:1.8em;
}

#right #calendar_wrap{
	float:right;
	position:relative;
	width:315px;
	
}

#right #wp-calendar tbody td a:hover{
	color:#000000; 
	text-decoration:none;
}

#right #wp-calendar tbody .pad {
	background: none;
}

#right #wp-calendar tfoot #next {
	float:right;
}

#right #wp-calendar tfoot .pad{
	display:none;
}

#right #wp-calendar tfoot #next a{
	display:block;
	height:23px;
	background:url('images/calendar_button_link.png');
	float:left;
	
	padding-right:9px;
	padding-left:9px;
	border:1px solid #d3d3d3;
	margin-top:15px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	line-height:2.0em;
	font-size:11px;
	color:#969696;
	text-shadow:1px 1px #fff;
	text-decoration:none;
	margin-right:214px;
}


#right #wp-calendar tfoot #next a:hover{
	color:#545454; 
	border:1px solid #afafaf; 
	text-shadow:1px 1px #eaeaea;
}

#right #wp-calendar tfoot #prev {
	float:right;
}

#right tfoot{
	width:315px !important;
	clear:both;
}

#right tfoot tr{
	width:315px !important;
}



#right #wp-calendar tfoot #prev a{
	display:block;
	height:23px;
	background:url('images/calendar_button_link.png');
	float:right;
	margin-left:10px;
	padding-right:9px;
	padding-left:9px;
	border:1px solid #d3d3d3;
	margin-top:15px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	line-height:2.0em;
	font-size:11px;
	color:#969696;
	text-shadow:1px 1px #fff;
	text-decoration:none;
	
}

#right #wp-calendar tfoot #prev a:hover{ 
	color:#545454; 
	border:1px solid #afafaf; 
	text-shadow:1px 1px #eaeaea;
}

#right .widget_search{
	margin-bottom:0!important; 
	padding:0 !important; 
	margin-bottom:4px !important;
}

#right .widget_search label {
	display: none;
}

#right #flickr{
	float:right;
	width:350px;
	clear:both;
	display:block;
}

#right #flickr img{
	float:right;
	padding:4px;
	border:1px solid #EBEBEB;
	margin-left:17px;
	margin-bottom:20px;
	background:#fff;
	width:85px !important;
	height:70px !important;
}

#right .tagcloud a{
	display:block;
	height:30px;
	background:url('images/tags_image.png');
	float:right;
	margin-left:10px;
	padding-right:9px;
	padding-left:9px;
	border:1px solid #d3d3d3;
	margin-bottom:15px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	line-height:2.8em;
	font-size:12px !important;
	color:#969696;
	text-shadow:1px 1px #fff;
	text-decoration:none;
}

#right .tagcloud a:hover{
	color:#545454; 
	border:1px solid #afafaf; 
	text-shadow:1px 1px #eaeaea;
}

#right #searchform .search{
	background:url('images/right_search_bar.png') repeat-x;
	border:1px solid #d4d4d4;
	height:33px;
	float:right;
	border-left:none;
	padding-right:10px;
	width:255px;
}

#right #searchform .searchb{
	background:url('images/right_search_icon.png') no-repeat left;
	height:35px;
	width:53px;
	float:right;
	border-right:none;
}

#right #searchform{
	margin-bottom:20px;
	margin-top:5px;
	float:right;
	width:100%;
	-moz-box-shadow: 0px 0px 7px #dddddd;
    -webkit-box-shadow: 0px 0px 7px #dddddd;
}

#right .rssSummary{
	font-size:12px;
}

#right .textwidget{
	font-size:12px;
	color:#808080;
}

#right .textwidget p{
	line-height:1.6em;
}

/* Latest News */

.latest_news{
	width:100%;
	float:right;
	margin-bottom:20px;
}

.latest_news img{

	border:1px solid #2f2f2f;
	padding:4px;
	background:#1a1a1a;
}

.latest_news .image{
	float:right;
	width:85px;
	
}

.latest_news .content{
	width:57%;
	float:right;
	padding-right:6px;
}

.latest_news h3 a{
	font-size:13px;
	color:#ebebeb;
	text-decoration:none;
	font-weight:normal;
	line-height:1.6em;
}

.latest_news h3 a:hover{
	color:#fff;
	text-decoration:none;
}

.latest_news p{
	font-size:12px;
	line-height:1.6em;
	color:#808080;
	margin-top:10px;
}


#footer .flickr_badge_image img{
   border: 1px solid #2b2b2b;
   padding: 4px;
   margin-left: 27px;
   margin-bottom: 20px;
   position:relative;
   float:right;
}

#respond h3{
	display:none;
}

/* Quick Codes */

a.orange_button{
	display:block;
	background:#c2641e;
	float:right;
	font-size:11px;
	color:#fff;
	text-decoration:none;
	padding:7px 10px;
	border-radius:5px;
}

a.featured_button{
	display:block;
	background:#c2641e;
	float:right;
	font-size:11px;
	color:#fff;
	text-decoration:none;
	padding:7px 10px;
	border-radius:5px;
}

div.info_box{
	background:#bedeff;
	color:#1c4875 !important;
	text-shadow:1px 1px #e4f1ff;
	padding:15px;
	width:94%;
	float:right;
	border:1px solid #4f7092;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	margin-bottom:25px;
	box-shadow:inset 0 0 5px #fff; 
	-moz-box-shadow:inset 0 0 5px #fff; 
	font-size:12px;
}

div.warning_box{
	background:#e20913;
	color:#fff !important;
	text-shadow:1px 1px #000;
	padding:15px;
	width:94%;
	float:right;
	border:1px solid #b20008;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	margin-bottom:25px;
	box-shadow:inset 0 0 5px #fff; 
	-moz-box-shadow:inset 0 0 5px #fff; 
	font-size:12px;
}

div.success_box{
	background:#cef0c5;
	color:#235f13 !important;
	text-shadow:1px 1px #e6ffdf;
	padding:15px;
	width:94%;
	float:right;
	border:1px solid #619f50;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	margin-bottom:25px;
	box-shadow:inset 0 0 5px #fff;
	-moz-box-shadow:inset 0 0 5px #fff;
	font-size:12px;
}

div.note_box{
	background:#f7f4b4;
	color:#55521a !important;
	text-shadow:1px 1px #fff;
	padding:15px;
	width:94%;
	float:right;
	border:1px solid #938f33;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	margin-bottom:25px;
	box-shadow:inset 0 0 5px #fff;
	-moz-box-shadow:inset 0 0 5px #fff;
	font-size:12px;
}


/* Shortcodes */
.imgborder{
	border:1px solid #EBEBEB;
	padding:4px;
	background:#fff;
}

.shortcode_button{
	width:100%;
	float:right;
	padding-bottom:20px;
}

.shortcode_button .white_button a{
	background:url('images/shortcode_white_button.png');
	border:1px solid #d5d5d5;
	float:right;
	font-size:12px;
	color:#969696;
	text-shadow:1px 1px 1px #fff;
	padding-right:24px;
	padding-left:24px;
	padding-top:7px;
	padding-bottom:8px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 7px #dddddd;
    -webkit-box-shadow: 0px 0px 7px #dddddd;
	
}

.shortcode_button .black_button a{
	background:url('images/shortcode_black_button.png');
	border:1px solid #303030;
	float:right;
	font-size:12px;
	color:#f1f1f1;
	text-shadow:1px 1px 1px #292929;
	padding-right:24px;
	padding-left:24px;
	padding-top:7px;
	padding-bottom:8px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 7px #dddddd;
    -webkit-box-shadow: 0px 0px 7px #dddddd;
	
}

blockquote {
	margin: 1em 2em; 
	color: #656565; 
	padding-right: 66px;  
	padding-top:10px;
	float:right; 
	font-style:italic; 
	background:url(images/block-quote.png) no-repeat;
 }
 
code, pre{
	 float:right;
	 width:570px !important;
	 background-color:#f9f9f9;
	 border:1px solid #cbcbcb !important;
	 margin-right:0 !important;
	 padding:10px;
	 font-size:11px !important;
	 line-height:1.6em !important;
	 -moz-border-radius: 6px;
	 -webkit-border-radius: 6px;
	 -khtml-border-radius: 6px;
	 border-radius: 6px;
	 color:#424242;
	 font-family:Arial, Helvetica, sans-serif;
	 margin-bottom:15px;
	 margin-top:10px;
}

code{ 
     background:url(images/code_bg.png);
}

.shortcode_highlight{
	background:#feff99; 
	color:#333;
}

.dropcap{ 
     color:#000000; 
	 display:block; 
	 float:right; 
	 font-size:43px; 
	 margin:0 0 0 2px; 
	 text-shadow:1px 1px 1px #fff; 
	 font-weight:bold;
}

.image_right{
	float:left;
	margin-right:15px;
	margin-bottom:10px;
}

.image_left{
	float:right;
	margin-left:15px;
	margin-bottom:10px;
}
     
.no_border_bottom{
	border-bottom:none !important;
}

/* Default Wordpress Css */

/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 580px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: right;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
	overflow: hidden;
    white-space: nowrap;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

.header_line{
	float:right; width:1074px; height:6px; background:#f7f7f7; border-top:1px solid #fff ; border-right: 1px solid #EFEFEF; border-left: 1px solid #EFEFEF;
}

.pure_content ul{ margin-right:0; margin-left:0; background:#fff; padding-right:15px;}
.pure_content ul li{float:right; width:589px; padding:5px; padding-right:0; padding-left:0; line-height:1.6em; font-size:12px;}

#caroufredsel_wrapper{
	float:right;
}

.list_carousel {	
				width:930px;
				position:relative;
				padding-right:50px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #fff;
				border: 1px solid #e8e8e8;
				padding: 5px;
				margin: 6px;
				margin-top:10px;
				margin-left:10px;
				display: block;
				float: right;
			}
			.list_carousel.responsive {
				width: auto;
				margin-right: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: right;
				margin-right: 10px;
			}
			.next {
				float: left;
				margin-left: 10px;
			}
			.pager {
				float: right;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}
			.content h3 a{
				color:#000000;
			}

			.content h3 a:hover{
				color:#000000;
			}

.almrsal_form{
	text-align:right;
	padding:8px;
}

.almrsal_form input,.almrsal_form textarea{
	padding:8px;
	clear:both;
}

.almrsal_form textarea{
	width:390px;
	height:100px;
	border:1px solid #d2d2d2;
	background:#f6f6f6;
}

.almrsal_form input{
	width:200px;
	border:1px solid #d2d2d2;
	background:#f6f6f6;
}


.almrsal_submit input{
	cursor:pointer;
	border:1px solid #5F9938;
	background:#8EBA71;
	color:#FFFFFF;
	width:100px;
}

.almrsal_submit input:hover{
	border:1px solid #8EE256;
	background:#99C97A;
}
#top_navigation li.menu-item a {
	margin:3px;
	width:80px;
	text-align:center;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	font-size: 12px;
	background:#515151;
}
#top_navigation li.menu-item a:hover {
	background:#B75E00;
}

/* #menu-item-1509 a ,#menu-item-1513 a,#menu-item-101772 a{
	margin:3px;
	width:80px;
	text-align:center;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	font-size: 12px;
}

#menu-item-1509 a{
	background:#B75E00;
}

#menu-item-1513 a{
	background:#038BB5;
}

#menu-item-101772 a{
	background:#76AA42;
} */

.sub-menu li {
	border:0px solid #E9E9E9;
	display:block;
}

.sub-menu a{
	border:0px solid #E9E9E9;
	display:block;
}


.menu-item-has-children a:after{
   content: ' ▾';
}

.menu-item-has-children ul li a:after{
   content: '';
}


