@charset "utf-8";
/* CSS Document */

#spotlight {
	position: relative;
	width:920px;
	padding-left:0px;
	padding-right:40px;
	float:left;
	background:url(images/spotlight.png) no-repeat;
	margin-top:20px;
}



.image_carousel img {
	border: 1px solid #e4e4e4;
	background-color: white;
	padding: 4px;
	margin-right:25px;
	margin-top:10px;
	display: block;
	float: left;
	width:179px;
	height:100px;
}

#spotlight{
	/*width:831px;*/
	height:118px;
	padding-bottom:20px;
	overflow:hidden;
	float:left;

}

a.prev, a.next {
	
	width: 37px;
	height: 130px;
	display: block;
	position: absolute;
	top: 0px;
}

a.prev{
	background:none !important;
}

a.prev {			left: -2px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.next {			right: -0px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -49px; }

a.prev span, a.next span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}