/*** ESSENTIAL STYLES ***/
.secondnav-menu, .secondnav-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.secondnav-menu {
	line-height:	1.0;
	
}
.secondnav-menu ul {
	position:		absolute;
	top:			-999em;
	width:			168px; /* left offset of submenus need to match (see below) */
	border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
    border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	background-color:#FFF;
	border:2px solid #E9E9E9;
	-webkit-box-shadow: 0 4px 4px 4px #CCCCCC;
	box-shadow: 0 4px 4px 4px #CCCCCC;
	
}
.secondnav-menu ul ul{
	margin:0 !important;
}
.secondnav-menu ul li {
	border:0px solid #E9E9E9;
	/* width:			100%; */
	padding:4px;
	display:block;
}
.secondnav-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
	background-color:#ECECEC;
}
.secondnav-menu li {
	float:			right;
	position:		relative;
	border-left: 0px solid #fff;
	border:0px solid #E9E9E9;
	display:block;
}

.secondnav-menu li li a {
	width:138px;
	color:#000 !important; 
	margin-left:-1px;
	padding:0 !important;
	line-height:30px !important;
	padding-left:23px !important;
	/* border-top:1px solid #f9f9f9  !important; */
	
}

.secondnav-menu li li a:hover{
	background-position:bottom !important;
	background-repeat:repeat-x;
	color:#292929;
}
.secondnav-menu li li li a{
	/* border:1px solid #dbdbdb !important; */
	border-top:0px solid #f2f2f2 !important;
	margin-left:-2px !important;
}

.secondnav-menu li li li a:hover{
	border-bottom:1px solid #dddddd !important;
	color:#292929;
}

.secondnav-menu a {
	display:		block;
	text-transecondnavorm:uppercase;
}
.secondnav-menu li:hover ul,
.secondnav-menu li.secondnavHover ul {
	right:			0;
	top:			48px; /* match top ul list item height */
	z-index:		299;
	position:absolute;
}
ul.secondnav-menu li:hover li ul,
ul.secondnav-menu li.secondnavHover li ul {
	top:			-999em;
}
ul.secondnav-menu li li:hover ul,
ul.secondnav-menu li li.secondnavHover ul {
	left:			160px; /* match ul width */
	top:			-0px;
}
ul.secondnav-menu li li:hover li ul,
ul.secondnav-menu li li.secondnavHover li ul {
	top:			-999em;
}
ul.secondnav-menu li li li:hover ul,
ul.secondnav-menu li li li.secondnavHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
