/*** Londonthemes Tabs ***/

#londontabs{
	float:left;
	width:299px;
	padding:10px;
	background:url(images/tabs_bg.png);
}

div#londontabs.widget{
   width: 297px;
   margin-bottom: 20px;
   float:left;
   font-size: 75%;
   color: #222;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6em;
  /* -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;*/
   text-shadow:1px 1px 1px transparent;
 
   
}
.tabsheader{
	background-image:url(images/tabs_header.png) !important; 
	border:1px solid #e7e7e7;
	float:left; 
	width:297px;
	height:37px;	
	/*-moz-border-radius-topleft: 5px 5px;
    -webkit-border-top-left-radius: 5px 5px;
    -khtml-border-top-left-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
	-moz-border-radius-topright: 5px 5px;
    -webkit-border-top-right-radius: 5px 5px;
    -khtml-border-top-right-radius: 5px 5px;
    border-top-right-radius: 5px 5px;*/
	
}
.widget a {
   color: #222;
   text-decoration: none;
}
	
.widget a:hover{
	color:#333;
	text-decoration: underline;
}

.tabnav{
	background-color:#030 !important;
}

.tabnav li{
	display: inline;
	list-style: none;
	padding-right: 0px;
	float:left;
	
	
}
	
.tabnav li a{
	text-decoration: none;
	color: #3d3d3d;
	padding-left:15px;
	padding-right:15px;
	outline: none;
	float:left;
	border:1px solid transparent;
	height:37px;
	text-shadow:1px 1px #fff;
	line-height:39px;
	border-right:1px solid #cfcfcf;
}

.tagslast, a .tagslast{ 
    border-right:0 !important; 
	padding-right:13px !important;
	/*-moz-border-radius-topright: 7px 7px; 
	-webkit-border-top-right-radius: 7px 7px;
	 -khtml-border-top-right-radius: 7px 7px; 
	 border-top-right-radius: 7px 7px;*/
}

li.tagslast{
	padding:0 !important;
	/*width:70px !important;*/
}

li.tagslast a.tagslast{
	/*width:39px !important;
	padding-right:15px !important;*/
}
		
.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a{
	background: #ffffff;
	color: #222;
	text-decoration: none;
	float:left;
  /* -moz-border-radius-topleft: 7px 7px;
    -webkit-border-top-left-radius: 7px 7px;
    -khtml-border-top-left-radius: 7px 7px;
    border-top-left-radius: 7px 7px; */
	
}
	
.tabdiv{
	background: #fff;
	border: 1px solid #e7e7e7;
	border-top:0;
	float:left;
	/*-moz-border-radius-bottomleft: 5px 5px;
    -webkit-border-bottom-left-radius: 5px 5px;
    -khtml-border-bottom-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
	-moz-border-radius-bottomright: 5px 5px;
    -webkit-border-bottom-right-radius: 5px 5px;
    -khtml-border-bottom-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;*/
}
	
.tabdiv li{
	margin-left:5px;
	float:left;
}

.ui-tabs-hide{
	display: none;
}

.tab_inside{
	float:left;
	width:297px;
	height:100%;
	padding-bottom:15px;
	padding-top:12px;
	border-bottom:1px solid #eaeaea;
	
}


.tab_inside img{
	float:left;
	width:61px;
	height:54px;
	padding:4px;
	border:1px solid #cfcfcf;
	margin-left:12px;
	
}

.tab_inside a img{
	border:solid #e2e2e2 1px;
	/*-moz-box-shadow: 0px 0px 7px #DFDFDF;
    -webkit-box-shadow: 0px 0px 7px #DFDFDF;*/
	
}

.tab_inside a:hover img{
	border:solid #a3a3a3 1px !important;
	

}

.tab_inside div.content{
	float:left;
	width:189px;
	padding-left:12px;
}

.tab_inside div.content a{
	color:#343434;
	font-weight:normal;
	text-shadow:none;
	line-height:1.6em;
}

.tab_inside div.content a:hover{
	color:#000;
	text-decoration:none;
}

.tab_inside div.content h1{
	float:left;
	font-size:13px;
	width:100%;
}

.tab_inside span.date{
	color:#a2a2a2;
	text-shadow:none;
	padding-top:6px;
	float:left;
	font-size:11px;
}

#right #tagtab a, #right .widget_tag_cloud a {
	display:block;
	height:22px;
	background:url('images/tags_image.png');
	float:left;
	padding-left:9px;
	padding-right:9px;
	border:1px solid #d3d3d3;
	margin-bottom:7px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	line-height:2.0em;
	font-size:11px !important;
	color:#969696;
	text-shadow:1px 1px #fff;
	text-decoration:none;
	margin-right:12px;
	margin-bottom:13px;
	

}

#tagtab{
	float:left;
	padding:15px;
	width:267px !important;
}

#right  #tagtab a:hover, #right .widget_tag_cloud a:hover{border:1px solid #bababa !important;background-color:#eeeeee;color:#353535 !important;text-decoration:none !important;}