#global-2 div[id^="monetate"], #global-2 div[id^="monetate"] *, #global-2 div[id^="monetate"] *:after, #global-2 div[id^="monetate"] *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#global-2 div[id^="monetate"] { display: block; margin: 3px auto; padding-left:0 }
#global-2 div[id^="monetate"] #mt_countdown_timer_1, #global-2 div[id^="monetate"] #mt_countdown_timer_2 { border-radius: 3px; padding: 10px 28px; width: 50%; top:-5px!important; left: 0 !important }
#global-2 .mt_countdown_timer_digits { font: 700 4em/1em "Open Sans Condensed", Arial, Helvetica, sans-serif !important; margin-left: 3px; color: #fff!important; background: #222 none repeat scroll 0 0; border-radius: 3px 3px 0 0; padding: .1em; width: 70px }
#global-2 .mt_countdown_timer_labels { font: 700 4em/1em "Open Sans Condensed", Arial, Helvetica, sans-serif !important; background: #222!important; border-radius: 0 0 3px 3px; width: 70px !important; height: 20px }
#global-2 div[id^="monetate"] #mt_countdown_timer_1 div .mt_countdown_timer_labels, #global-2 div[id^="monetate"] #mt_countdown_timer_2 div .mt_countdown_timer_labels { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; color: #999999 !important; display: block; font: 700 .9em "Open Sans", Arial, Helvetica, sans-serif !important; margin: 0 0 0 3px !important; padding: 0 !important; width: 100%; }
#global-2 {width: 100%!important; }
#global-2 .div-click { background: url("//media.basspro.com/site-elements/images/blank.png") repeat 0 0; cursor: pointer; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 99 }

#mt_countdown_timer_1 div:nth-child(2n+2) { display: none }
.mt_countdown_timer_labels { display: block }
a.button.white { border: 1px solid #fff; color: #fff; cursor: pointer; display: inline-block; font: 700 15px/1em "Open Sans",Arial, Helvetica, sans-serif; padding: .5em 1em; position: relative; text-transform: none;text-decoration: none; vertical-align: middle; z-index: 98 }
#northPoleWrap {
 -moz-animation-duration: 40s;
 -webkit-animation-duration: 40s;
 animation-duration: 40s;
 -moz-animation-name: northPoleSky;
 -webkit-animation-name: northPoleSky;
 animation-name: northPoleSky;
 -moz-animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -moz-animation-direction: alternate;
 -webkit-animation-direction: alternate;
 animation-direction: alternate;
 right:0;
 top:0;
 display:block !important;
 overflow:hidden;
 margin:6px 0;
 z-index:100;
 background:url(//media.basspro.com/2015/10804-shipping-upgrade/images/global-background.jpg) repeat-x;height:125px;position:relative;width:100%;
}
#santa {
 -moz-animation-duration: 7s;
 -webkit-animation-duration: 7s;
 animation-duration: 7s;
 -moz-animation-name: jetPackSanta;
 -webkit-animation-name: jetPackSanta;
 animation-name: jetPackSanta;
 -moz-animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -moz-animation-direction: normal;
 -webkit-animation-direction: normal;
 animation-timing-function:ease-in-out;
 animation-direction: normal;
 position: absolute;
 right:-5em;
 top:-14em;
 z-index:10;
 -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
 animation-delay: 4s;
 opacity:0
}
#signSanta {
 -moz-animation-duration: 5s;
 -webkit-animation-duration: 5s;
 animation-duration: 5s;
 -moz-animation-name: signSanta;
 -webkit-animation-name: signSanta;
 animation-name: signSanta;
 -moz-animation-iteration-count: 1;
 -webkit-animation-iteration-count: 1;
 animation-iteration-count: 1;
 -moz-animation-direction: normal;
 -webkit-animation-direction: normal;
 animation-direction: normal;
 animation-timing-function:ease-in-out;
 position:absolute;margin-left:-8%;margin-top:.5em;left:-50em;width:100px;z-index:6;
}

#bannerSkyMove {
 -moz-animation-duration: 5s;
 -webkit-animation-duration: 5s;
 animation-duration: 5s;
 -moz-animation-name: bannerSkyMove;
 -webkit-animation-name: bannerSkyMove;
 animation-name: bannerSkyMove;
 -moz-animation-iteration-count: 1;
 -webkit-animation-iteration-count: 1;
 animation-iteration-count: 1;
 -moz-animation-direction: normal;
 -webkit-animation-direction: normal;
 animation-direction: normal;
 animation-timing-function:ease-in-out;
 position:absolute;left:10%;top:1.5em;z-index:12;display:none;
}

#aerialBanner {
 -moz-animation-duration: 5s;
 -webkit-animation-duration: 5s;
 animation-duration: 5s;
 -moz-animation-name:aerialBanner;
 -webkit-animation-name:aerialBanner;
 animation-name:aerialBanner;
 -moz-animation-iteration-count: 1;
 -webkit-animation-iteration-count: 1;
 animation-iteration-count: 1;
 -moz-animation-direction: normal;
 -webkit-animation-direction: normal;
 animation-direction: normal;
 animation-timing-function:ease-in-out;
 position:absolute;left:10%;top:1.5em;z-index:12;display:block!important
}

#foreGround{
 -moz-animation-duration: 30s;
 -webkit-animation-duration: 30s;
 animation-duration: 30s;
 -moz-animation-name: northPoleClouds;
 -webkit-animation-name: northPoleClouds;
 animation-name: northPoleClouds;
 -moz-animation-iteration-count: infinite;
 -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 -moz-animation-direction: alternate;
 -webkit-animation-direction: alternate;
 animation-direction: alternate;
 position: absolute;
 left:-20%;
 bottom:0;
 z-index:11
}

/*-------------------- --- Mr. Jetpack --- --------------------*/
@keyframes jetPackSanta {
 0% {
  transform: scale(0.3) rotate(-40deg) translateX(300%) translateY(300%);
  opacity: 0;
 }
 20% {
  transform: scale(1.5) rotate(10deg) translateX(0%) translateY(0%);		
  opacity: 1;
 }
 35% {
  transform: scale(.20) rotate(-10deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 45% {
  transform: scale(.35) rotate(0deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 60% {
  transform: scale(.20) rotate(-20deg) translateX(0) translateY(0);		
  opacity: 1;
 }	
 75% {
  transform: scale(.35) rotate(0deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 90% {
  transform: scale(.2) rotate(-60deg) translateX(0%) translateY(20%);		
  opacity: 1;
 }	
 100% {
  transform: scale(1) rotate(-0deg) translateX(-300%) translateY(0%);
  opacity: 0;
 }		
}

@-webkit-keyframes jetPackSanta {
 0% {
  transform: scale(0.3) rotate(-40deg) translateX(300%) translateY(300%);
  opacity: 0;
 }
 20% {
  transform: scale(1.5) rotate(10deg) translateX(0%) translateY(0%);		
  opacity: 1;
 }
 35% {
  transform: scale(.20) rotate(-10deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 45% {
  transform: scale(.35) rotate(0deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 60% {
  transform: scale(.20) rotate(-20deg) translateX(0) translateY(0);		
  opacity: 1;
 }	
 75% {
  transform: scale(.35) rotate(0deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 90% {
  transform: scale(.2) rotate(-60deg) translateX(0%) translateY(20%);		
  opacity: 1;
 }	
 100% {
  transform: scale(1) rotate(-0deg) translateX(-300%) translateY(0%);
  opacity: 0;
 }		
}
@-moz-keyframes jetPackSanta {
 0% {
  transform: scale(0.3) rotate(-40deg) translateX(300%) translateY(300%);
  opacity: 0;
 }
 20% {
  transform: scale(1.5) rotate(10deg) translateX(0%) translateY(0%);		
  opacity: 1;
 }
 35% {
  transform: scale(.20) rotate(-10deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 45% {
  transform: scale(.35) rotate(0deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 60% {
  transform: scale(.20) rotate(-20deg) translateX(0) translateY(0);		
  opacity: 1;
 }	
 75% {
  transform: scale(.35) rotate(0deg) translateX(0%) translateY(0%);
  opacity: 1;
 }
 90% {
  transform: scale(.2) rotate(-60deg) translateX(0%) translateY(20%);		
  opacity: 1;
 }	
 100% {
  transform: scale(1) rotate(-0deg) translateX(-300%) translateY(0%);
  opacity: 0;
 }		
}

/*-------------------- --- Initial Santa that Pulls out the Banner --- --------------------*/
@-moz-keyframes signSanta {
 0% {
  transform: scale(.5) rotate(-10deg);left:115%;
 }
 80% {
  left:5%;
 }
 100% {
  transform: scale(1) rotate(-10deg);left:-25%;
 }

}
@-webkit-keyframes signSanta {
 0% {
  transform: scale(.5) rotate(-10deg);left:115%;
 }
 80% {
  left:5%;
 }
 100% {
  transform: scale(1) rotate(-10deg);left:-25%;
 }
}
@keyframes signSanta {
 0% {
  transform: scale(.5) rotate(-10deg);left:115%;
 }
 80% {
  left:5%;
 }
 100% {
  transform: scale(1) rotate(-10deg);left:-25%;
 }
}

/*-------------------- --- This is the banner that Santa pulls on screen and ultimately lets go. --- --------------------*/
@-moz-keyframes aerialBanner {
 0% {
  left:100%;transform: scale(.5) rotate(-3deg);
 }
 80% {
  left:5%;transform: scale(1) rotate(3deg);
 }
 85% {
  left:10%;transform: scale(1) rotate(-3deg);
 }
 90% {
  transform: scale(1) rotate(3deg);
 }
 95% {
  transform: scale(1) rotate(-3deg);
 }
 100% {
  transform: scale(1) rotate(0deg);
 }
}
@-webkit-keyframes aerialBanner {
 0% {
  left:100%;transform: scale(.5) rotate(-3deg);
 }
 80% {
  left:5%;transform: scale(1) rotate(3deg);
 }
 85% {
  left:10%;transform: scale(1) rotate(-3deg);
 }
 90% {
  transform: scale(1) rotate(3deg);
 }
 95% {
  transform: scale(1) rotate(-3deg);
 }
 100% {
  transform: scale(1) rotate(0deg);
 }
}
@keyframes aerialBanner {
 0% {
  left:100%;transform: scale(.5) rotate(-3deg);
 }
 80% {
  left:5%;transform: scale(1) rotate(3deg);
 }
 85% {
  left:10%;transform: scale(1) rotate(-3deg);
 }
 90% {
  transform: scale(1) rotate(3deg);
 }
 95% {
  transform: scale(1) rotate(-3deg);
 }
 100% {
  transform: scale(1) rotate(0deg);
 }
}

/*-------------------- --- Background Clouds --- --------------------*/
@-moz-keyframes northPoleSky {
 from {background-position:-1280px}
 to {}
}
@-webkit-keyframes northPoleSky {
 from {background-position:-1280px}
 to {}
}
@keyframes northPoleSky {
 from {background-position:-1280px}
 to {}
}

/*-------------------- --- Foreground Clouds --- --------------------*/
@-moz-keyframes northPoleClouds {
 from {left:900px}
 to { }
}
@-webkit-keyframes northPoleClouds {
 from {left:900px}
 to { }
}
@keyframes northPoleClouds {
 from {left:900px}
 to { }
}

/*--- ------------------Media Queries ---------------------------- ---*/
@media only screen and (min-width:1400px) {
 #santa {right:15%}
 #aerialBanner {left:15%}
}