section.slider {
  max-width: 1000px;
  width:100% !important;
  overflow: hidden;
 }

 .flexslider a {
  color: #222;
  text-decoration: none;
 }
 .flex-control-paging li a {
  background: rgba(0,0,0, 0.5) none repeat scroll 0 0!important;
  box-shadow: 0 0 3px rgba(255,255,255, 0.3) inset !important;
 }
 .flex-control-paging li a.flex-active {
  background: rgba(0,0,0, 0.9) none repeat scroll 0 0!important;
  cursor: default;
 }
 .flex-control-paging li a {
  height: 9px !important;
  width: 9px !important;
 }
 .flex-control-nav {
  margin: 15px 0 0;
  padding: 5px;
  text-align: center;
  position: relative;
 } 
 .flexslider h3 {
  font: 700 13px/1.3em "Open Sans",sans-serif !important;
  margin: 10px 0 0;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width:80%;
 }
 .flexslider h3 span {
  color: #c70505;
  display: block;
  font-size: 14px;
  font-weight: 600;
 }
 .flexslider {
 background: none !important;
  border: 0 !important;
  border-radius: 0;
  display: block !important;
  margin:0 auto !important;
  padding: 1em 0 !important;
 }
 .flexslider p {
  font: 700 13px/1.2em "Open Sans",sans-serif !important;
  color: #49741f;
  margin: 0;
 }
 .flexslider div > ul li {
  background: #fff;
  overflow: hidden;
  min-height: 230px;
  padding: 10px;
 }
 .flex-control-nav {
  position: relative !important;
  margin-top: 10px !important;
  bottom: 0px!important;
 }
 .flex-direction-nav {
  list-style: outside none none;
  margin: 0;
  position: absolute !important;
  top:50% !important;
  width:100%
 }
 .flex-control-nav {
  bottom: -15px !important;
  position: absolute !important;
 }
 .slides, .slides > li, .flex-control-nav, .flex-direction-nav {
  list-style: outside none none;
  margin: 0;
 }

 /* #bps-container.home .espot.home.main .flexslider .flex-direction-nav ul {
 position: absolute !important;
 bottom:5% !important;
 } */
 #bps-container.home .espot.home.main .flexslider .flex-direction-nav li a {
  position: absolute !important;
 }

 .flex-direction-nav a.flex-next::before {
  content: ">" !important;
  font: 700 50px/1em "Open Sans Condensed",Arial,sans-serif;
 }
 .flex-direction-nav a.flex-prev::before {
  content: "<" !important;
  font: 700 50px/1em "Open Sans Condensed",Arial,sans-serif;
 }

 @media (min-width:1101px) {
  .flexslider {
   width: 100%;
  }
 }
 @media only screen and (min-width:701px) and (max-width:1100px) {
  .flexslider {
   width: 100%;
  }
  div.cf, #global-1 div div a img {
   max-width: 900px!important;
   width: 100%!important
  }
 }
 @media only screen and (max-width:700px) {

 }