#contentContainer {
width: 100%;
}
.wrapper.area {width:100% !important;}
sup {
font-size: .5em;
vertical-align: text-top;
}
#bps-container.home #hm-main-2 {
max-width: 1000px !important;
}
#bps-container.home #hm-main-2 .col-1.hot {
margin: 0 auto;
display: block;
}
.home .espot [id*="hm-main-"], [id*="hm-main-"]::after, [id*="hm-main-"]::before {
display: block;
}
#wrapper #main-column #mastercard-promo {
border: 5px solid #55783d !important;
border-radius: 25px 0;
border-style: solid;
color:#222;
display: block;
margin: 3em auto;
position: relative;
text-decoration: none;
width: 100%;
}
#wrapper #main-column #mastercard-promo a:hover {
color: #ccc;
text-decoration: none;
}
#wrapper #main-column #mastercard-promo h2 {
display: block;
float: none;
font: 700 26px/1em "Open Sans Condensed",arial,helvetica,sans-serif;
margin-left: 4em;
padding: 0 1em .5em 5em;
text-align: left!important;
text-transform: uppercase;
vertical-align: 20px;
width: 75%!important;
}

#wrapper #main-column #mastercard-promo h2 > span.fineprint {
font: 25px/1em "Open Sans Condensed",arial,helvetica,sans-serif;
text-transform: none;
text-align: left;
}
#wrapper #main-column #mastercard-promo img[src*="mastercard2.png"],#wrapper #main-column #mastercard-promo img[data-feo-orig-src*="mastercard2.png"] {
left: 21px;
position: absolute;
top: -23px;
width: 192px;
}
#wrapper #main-column #mastercard-promo button {
font: 700 18px/1.4em "Open Sans",arial,helvetica,sans-serif;
border: 0;
background: none;
border-left: 2px solid #ccc !important;
float: right;
/* flex: 1; */
cursor: pointer;
padding: 0 1em;
  position: absolute;
  right:0;top:0;
  height: 100%
}

/* --- Wide Screen ------------------------------------------------------- */
@media screen and (min-width: 1281px) {
#wrapper #main-column #mastercard-promo button:after {
content: "Now";
}
}

/* --- Average Screen ------------------------------------------------------- */
@media screen and (min-width: 701px) and (max-width: 1280px) {
#wrapper #main-column #mastercard-promo {
padding-left: 15%;
width: 90%;
margin-bottom: 4em;
}
#wrapper #main-column #mastercard-promo h2 {
padding: 0 1em .5em 0 !important;
}
 #wrapper #main-column #mastercard-promo img[src*="mastercard2.png"], #wrapper #main-column #mastercard-promo img[dat-feo-orig-src*="mastercard2.png"] {
top: -27px;
bottom: 0;
left: 10px;
width: 195px;
}
}

/* --- Mobile ------------------------------------------------------- */
/*
@media screen and (max-width: 700px) {
#wrapper #main-column #mastercard-promo {
display: block;
}
#wrapper #main-column #mastercard-promo h2 {
margin-left: 0;
padding: 0 1em;
text-align: center;
width: 86%;
}
#wrapper #main-column #mastercard-promo h2:after {
text-align: center;
}
#wrapper #main-column #mastercard-promo img[src*="mastercard2.png"] {
position: relative;
border-bottom: 1px solid #ccc;
left: 0;
margin: 0 auto;
display: block;
width: 50%;
}
#wrapper #main-column #mastercard-promo button:after {
content: "Now";
}
#wrapper #main-column #mastercard-promo:after {
clear: both;
border: none;
border-top: 1px solid #ccc;
padding: 10px 0;
margin: 10px 0 0;
text-align: center !important;
font: 700 18px/1.4em "Open Sans",arial,helvetica,sans-serif;
display: block;
}
}
*/
