@charset "utf-8";
/* CSS Document */

/* General button style */
#wrapper .button {
	float:left;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: .5em 1em .5em;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	width: auto;
}
#wrapper .button:hover {text-decoration: none;}
#wrapper .button:active {position: relative;}

/* Medium button style */
#wrapper .button-med {
	float:left;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	padding: .4em 1em .4em;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	width: auto;
}
#wrapper .button-med:hover {text-decoration: none;}
#wrapper .button-med:active {position: relative;}

/* Small button style */
#wrapper .button-small {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	margin: 8px 0;
	padding: .5em 1em .5em;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#wrapper .button-small:hover {text-decoration: none;}
#wrapper .button-small:active {position: relative;}

/* Green buttons style */
#wrapper .green {
	color: #FFFFFF;
	border: solid 1px #91c82d;
	background: #467c0c;
	background: -webkit-gradient(linear, left top, left bottom, from(#73b424), to(#467c0c));
	background: -moz-linear-gradient(top,  #73b424,  #467c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b424', endColorstr='#467c0c');
}
#wrapper .green:hover {
	background: #4c850c;
	background: -webkit-gradient(linear, left top, left bottom, from(#7fc327), to(#4c850c));
	background: -moz-linear-gradient(top,  #7fc327,  #4c850c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fc327', endColorstr='#4c850c');
}
#wrapper .green:active {
	color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#73b424), to(#467c0c));
	background: -moz-linear-gradient(top,  #73b424,  #467c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b424', endColorstr='#467c0c');
}

/* Landing Pages buttons style (open-rar-file.html, open-7z-file.html, open-zipx-file.html, open-compressed-file.html */
#wrapper .landing-green {
	color: #FFFFFF;
	border: 1px solid #9cac8d;
	background: -moz-linear-gradient(top,  #97d672 0%, #67c92b 14%, #52a224 34%, #368008 82%, #416826 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97d672), color-stop(14%,#67c92b), color-stop(34%,#52a224), color-stop(82%,#368008), color-stop(95%,#416826)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97d672 0%,#67c92b 14%,#52a224 34%,#368008 82%,#416826 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97d672 0%,#67c92b 14%,#52a224 34%,#368008 82%,#416826 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97d672 0%,#67c92b 14%,#52a224 34%,#368008 82%,#416826 95%); /* IE10+ */
	background: linear-gradient(to bottom,  #97d672 0%,#67c92b 14%,#52a224 34%,#368008 82%,#416826 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97d672', endColorstr='#416826',GradientType=0 ); /* IE6-9 */

}
#wrapper .landing-green:hover {
	background: #acde8e; /* Old browsers */
	background: -moz-linear-gradient(top,  #acde8e 0%, #74d538 14%, #5cb328 34%, #3b8c09 82%, #49742a 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acde8e), color-stop(14%,#74d538), color-stop(34%,#5cb328), color-stop(82%,#3b8c09), color-stop(95%,#49742a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #acde8e 0%,#74d538 14%,#5cb328 34%,#3b8c09 82%,#49742a 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #acde8e 0%,#74d538 14%,#5cb328 34%,#3b8c09 82%,#49742a 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #acde8e 0%,#74d538 14%,#5cb328 34%,#3b8c09 82%,#49742a 95%); /* IE10+ */
	background: linear-gradient(to bottom,  #acde8e 0%,#74d538 14%,#5cb328 34%,#3b8c09 82%,#49742a 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acde8e', endColorstr='#49742a',GradientType=0 ); /* IE6-9 */

}
#wrapper .landing-green:active {
	color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#73b424), to(#467c0c));
	background: -moz-linear-gradient(top,  #73b424,  #467c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b424', endColorstr='#467c0c');
}



/* Hero - Green Buttons */
/* General button style */
#content-prodpage .button {
	float:left;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: .3em .5em;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
	width: 175px;
}
#content-prodpage .button:hover {
	text-decoration: none;
	color:#ffffff;
}
#content-prodpage .button:active {
	position: relative;
}

/* Small button style */
#content-prodpage .button-small {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	margin: 8px 0;
	padding: .5em 1em .5em;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#content-prodpage .button-small:hover {
	text-decoration: none;
	color:#ffffff;
}
#content-prodpage .button-small:active {
	position: relative;
	color:#ffffff;
}

/* Green buttons style */
#content-prodpage .green {
	color: #FFFFFF;
	border: solid 1px #91c82d;
	background: #467c0c;
	background: -webkit-gradient(linear, left top, left bottom, from(#73b424), to(#467c0c));
	background: -moz-linear-gradient(top,  #73b424,  #467c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b424', endColorstr='#467c0c');
}
#content-prodpage .green:hover {
	background: #4c850c;
	background: -webkit-gradient(linear, left top, left bottom, from(#7fc327), to(#4c850c));
	background: -moz-linear-gradient(top,  #7fc327,  #4c850c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fc327', endColorstr='#4c850c');
}
#content-prodpage .green:active {
	color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#73b424), to(#467c0c));
	background: -moz-linear-gradient(top,  #73b424,  #467c0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b424', endColorstr='#467c0c');
}

/* BUTTONS */
#hero a.btn,
a.btn {
	background-color: #5a9917;
	color: #ffffff;
	display: inline-block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: auto;
	padding: 8px 14px;
	text-align: center;
	text-decoration: none;
    text-transform: uppercase;
	width: auto;
}
.btn .header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.btn .subtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-transform: none;
}
#hero a.btn:hover,
a.btn:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color: #6aac24;
	cursor:pointer;
	text-decoration: none;
}
.btn:hover .subtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
a.addtocart{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -1px;
    margin-top: 8px;
    padding: 8px 14px;
    text-transform: uppercase;
	text-decoration: none;
    width: auto;
}

/* DEFAULT BUTTONS */
#wrapper-new a.btn {
	background-color: #5a9917;
	color: #ffffff;
	display: inline-block;
	height: auto;
	padding: 8px 14px;
	text-align: center;
	text-decoration: none;
    text-transform: uppercase;
	width: auto;
}
#wrapper-new a.btn:hover{
	background-color: #6aac24;
	cursor:pointer;
	text-decoration: none;
}
#wrapper-new a.btn.grey {
	color: #333;
	background: #dfdfdf;
}
#wrapper-new a.btn.grey:hover{
	background: #e9e9e9;
}
#wrapper-new a.default{
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 14px;
	color: #ffffff !important;
	font-weight: normal !important;
    letter-spacing: -1px;
    margin-top: 8px;
    padding: 8px 14px;
    text-transform: uppercase;
	text-decoration: none;
    width: auto;
}

/* HOMEPAGE BUTTONS */
body#home .btn{
	background-color: #5a9917;
    color: #ffffff;
    display: inline-block;
    height: auto;
    margin-right: 5px;
	min-width: 200px;
    padding: 10px 6px;
    text-align: center;
    text-decoration: none;
}
body#home .btn .header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
}
body#home .btn .subtext {
	font-size: 13px;
}
body#home .btn:hover{
	background-color: #6aac24;
	cursor:pointer;
	text-decoration: none;
}
body#home .addtocart{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	padding: 8px 14px;
	text-transform:uppercase;
	min-width: auto;
	width: auto;
	margin-top: 8px;
	text-decoration: none;
}

/* Gray buttons style */
#wrapper-new .gray {color: #FFFFFF; background: #676767 !important;}
#wrapper-new .gray:hover {background: #777777 !important;}
#wrapper-new .gray:active {color: #FFFFFF;}