@import "dropdowntheme_common.css";
/* ------------- Override default */

#mainnav ul.dropdown li a { /* Moved from 'custom' section */
	display: block;
	padding: 16px 0;
}
#mainnav ul.dropdown ul a {
    /* required to stop the flicker because of the rule above */
    padding: 4px 12px;
    position: relative;
	color:#FFFFFF;
}

ul.dropdown a.open {color: #76b900;}
ul.dropdown li:hover > a.dir {color: #ffffff;}