@charset "UTF-8";

/** 
 * Abobe Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		Adobe
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 */
    @import "dropdown_common.css";
	ul.dropdown li a { /* Moved from 'custom' section */
	 display: block;
	 padding: 16px 12px;
	}


/* ------------- Override default */

	ul.dropdown li {
	 padding: 0;
	}

/* ------------- Reinitiate default: post-override activities  */

	ul.dropdown li.dir {
	 padding: 7px 20px 7px 12px;
	}

	ul.dropdown ul li.dir {
	 padding-right: 15px;
	}


/* ------------- Custom */

	ul.dropdown li {

	}


	/* Especially for IE6 or lower */

	#mainnav ul.dropdown ul a {
	padding: 4px 0px 4px 6px;
	margin: 0px 5px 0px 6px;
	position:relative;
	}

	#mainnav ul.dropdown ul a:hover {
	 padding: 4px 5px 4px 5px;
	 background-color: #7EBFE2;
	 font-weight: bold;
	 color:#FFF;
	}

	#mainnav ul.dropdown ul a.dir {
	 /*width: 129px;*/
	}
	ul.dropdown ul a:hover {
	 background-color: #d0b530;
	}

#language ul.dropdown ul a {
    padding: 4px 0px 4px 6px;
    margin: 0px 5px 0px 6px;
    position:relative;
}
#language ul.dropdown ul a:hover {

     padding: 4px 5px 4px 5px;
     background-color: #7EBFE2;
     font-weight: bold;
     color:#FFF;
    
}

	ul.dropdown ul a.open {
	 background-color: #76b900;
	 color: #ff0000;
	}
	
	ul.dropdown ul li:hover > a.dir {
	 color: #fff;
	}
* html ul.dropdown ul { background-image: url(../images/layout/dropdown_pane_8bit.png); }
