/** 
*Adobe CSS Drop-Down Menu Theme
 *
 * @file                default.css
 * @name                Adobe
 * @version             0.1
 * @type                transitional
 * @browsers    Windows: IE6+, Opera7+, Firefox1+
 *                              Mac OS: Safari2+, Firefox2+
 *
 * @link                http://www.lwis.net/
 * @copyright   2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */





/*------------------------------------------------------------------------------------------------------/
 * @section             Base Drop-Down Styling
 * @structure   ul (unordered list)
 *                              ul li (list item)
 *                              ul li a (links)
 *                              *(.class|:hover)
 * @level sep   ul
 */


/* ----- ALL LEVELS (incl. first) */
@import "dropdown_common.css";
ul.dropdown li {
    padding: 0px 10px;
}
#mainnav ul.dropdown li {
    width:auto;
    padding-right:12px;
    padding-left:12px;
}
ul.dropdown li.hover {
    background-color: #5b75a6;
}
ul.dropdown li.hover#buy_now,  ul.dropdown li:hover#buy_now {
    background-image: url(../images/layout/g-bu-mainnavbg-buy-now.jpg) !important;
}
ul.dropdown a:link,  ul.dropdown li a:visited {
    color: #fff;
    text-decoration: none;
}
ul.dropdown ul a:link, ul.dropdown ul a:visited {
        color: #000;
    }

#mainnav .solutions ul{
    background:url(../images/layout/g-bu-mainnavbg-2.png) repeat-x center bottom;
}

#mainnav .solutions ul.dropdown li {
    /* [disabled]background:url(../images/layout/g-bu-mainnavbg-2.png) repeat-x center bottom; */
    background-image:none;
}

/*#mainnav .solutions  ul.dropdown li.hover, #mainnav .solutions ul.dropdown  li:hover {
    
    background:url(../images/layout/g-bu-mainnavbg-3.png) repeat-x center bottom;
    }
*/
#mainnav ul.dropdown a:hover {
    color: #FFFFFF;
	background-color:#5b75a6;
}
ul.dropdown ul {
    width: 170px;
    background-color: #5b75a6;
}
#language ul li ul {
    /* [disabled]background: url(dropdown/themes/main/images/dropdown_panelang.png) 0 100% no-repeat; */
}
