@charset "UTF-8";

/**
 * Adobe CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Adobe
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */





/*------------------------------------------------------------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				*(.class|:hover)
 * @level sep	ul
 */


/* ----- ALL LEVELS (incl. first) */
ul.dropdown {
 font: bold 12px Arial, Helvetica, sans-serif;
}
ul.dropdown li {
	color: #fff;
}
#mainnav ul.dropdown li {
		text-align:center;
}
#mainnav ul.dropdown li#buy_now {
    width: 125px;
}
ul.dropdown li.hover#buy_now, ul.dropdown li:hover#buy_now {
        background-repeat: no-repeat;
        background-position: center bottom;
}
ul.dropdown a:active { 
color: #fff;
}
/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.dropdown ul {
	margin-left:-6px;
	padding-bottom: 20px;
	color: #000;
	font-size: 11px;
	font-weight: normal;
	padding-top: 10px;
}
ul.dropdown ul li {
		 background-color: transparent;
		 color: #000;
}
#mainnav ul.dropdown ul li {
    width:158px;
    text-align:left;
}
ul.dropdown ul li.hover,  ul.dropdown ul li:hover {
		 background-color: transparent;
}
ul.dropdown ul li.empty {
		 padding: 12px 12px 7px !important;
		 font-weight: bold;
}
/*ul.dropdown ul a:link, ul.dropdown ul a:visited {
    color: #000;
}*/
ul.dropdown ul a:hover {
    color: #000;
    text-decoration: none;
}
ul.dropdown ul a:active {
    color: #000;
}
ul.dropdown ul ul {
	display: none;
}
ul.dropdown ul ul li {
}
/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown *.dir {
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */
