@charset "UTF-8";
/**
 * Adobe CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Adobe
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */


/*------------------------------------------------------------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				*(.class|:hover)
 * @level sep	ul
 */
 

/* ----- ALL LEVELS (incl. first) */
ul.dropdown {font: 16px Verdana, Arial, Helvetica, sans-serif;}
ul.dropdown li {color: #fff;}
#mainnav ul.dropdown li {text-align:left; height: 52px;}
ul.dropdown a:active {color: #fff;}
/* ----- END LEVEL */


/* ----- NON-FIRST LEVEL */
ul.dropdown ul {
	color: #000;
	font-size: 12px;
	font-weight: normal;
	padding: 0 0 10px;
	margin-left: 0;
}
ul.dropdown ul li {
	background-color: transparent;
	color: #000;
}
#mainnav ul.dropdown ul li {
    text-align: left;
	height: 24px;
}
ul.dropdown ul li.hover,  ul.dropdown ul li:hover {background-color: transparent;}
ul.dropdown ul a:active {color: #000;}
ul.dropdown ul ul {display: none;}
ul.dropdown ul ul li {}
/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown *.dir {
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */
