/**
 * Footer CSS File
 * Definition for styles within the site's footer
 */

#footer{
	top: 15px;
	margin: 0;
	padding-bottom: 20px;
}

#footer #footer_top{	
	height: 13px;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	width: 940px;
	top: -16px;
	margin-bottom: -13px;
}
.s_col #footer #footer_top, #home #footer #footer_top{
	left: 10px;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -13px;
	background: transparent url(../images/layout/h-bg-content.jpg) no-repeat scroll left top;	
}
#footer .links {
	color: #FFF;
	text-align: center;
}
#footer .links a:hover{
	font-weight:normal;
	}
#footer .links a{
	color: #ffffff;
    font-size: 10px;
    line-height: 20px;
    padding: 0 3px;
    text-align: center;
    text-decoration: none;
}
#footer .copyright p, #footer .copyright a {
	padding: 0px;
	margin: 10px 0px 5px 0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 15px;
	text-decoration: none;
}
#footer .copyright a:hover {
	padding: 0px;
	margin: 0px;
	color:#FC0;
	text-decoration:none;
}
#footer p {
	clear: both;
	padding: 0px 30px 0px 30px;
	font-size: 10px;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.inner #footer {
	clear: both;
}
.s_col  #footer {
	clear: both;
	background-repeat: no-repeat;
	background-position: center bottom;
}
