/**
 * Footer CSS File
 * Definition for styles within the site's footer
 */
@import "footer_common.css";
#footer{
    bottom: 0px;
    clear:both;
    padding:12px;
    *padding: 0px;
    margin-top: -75px;
	height: 130px;
}

#home #footer{
    margin-top: 0px;
}
#footer #footer_top{
    background: transparent url(../images/layout/g-bg-footer_top.png) no-repeat scroll left top;        
}
.s_col #footer #footer_top, #home #footer #footer_top{

    margin-top: -4px;
}
.inner #footer {
    /* [disabled]background: url("../images/layout/g-bg-footer.jpg") no-repeat scroll center bottom transparent; */
}

