@import "legacy_common.css";
hr {
    background: url(../images/M_Rule.gif) 0 0 repeat-x;
    margin: 20px 0;
    height: 1px;
    width: 100%;
    border-style: none;
}
blockquote {
    background-color:#F8F9F9;
}
sup {
    /* [disabled]vertical-align:text-top; */
    /* [disabled]font-size:0.7em; */
}
.LP_4 {
}
.LP_cell_4 {
    margin:30px 0px 0px 10px;
    float:left;
}
.LS_cell_2 {
    margin:20px 20px 0px 15px;
}
.LS_cell_4 {
        width:63px;
        margin:30px 0px 0px 0px;
        padding:0;
        text-align:left;
        float:left
}
.LA_cell_3 {
        width:155px;
        margin:20px 10px 0px 0px;
        padding:0;
        text-align:center;
        float:left
}
.ins_3 {
        width:500px;
        height:200px;
        margin:15px 0px 20px 18px;
        padding:0;
        background:url(../images/step5.gif) top left #FFF no-repeat;
        display:table
}
#ty_bg  .content h2 {
    font-size: 18px;
    font-weight: normal;
}
#tygoog_bg  .content h2 {
    font-size: 18px;
    color: #333333;
    margin-top: 10px;
    font-weight: normal;
}
