Form {margin:0;padding:0;}
blockquote {
	padding:12px 12px 0px;
	line-height:14px
}
.style1 {
	color:#333;
	font-weight:bold;
	margin:20px 0px 20px 0px
}
.style2 {margin-left:10px}
.style3 {color:#FFF;font-weight:bold;margin-left:20px}
.style4 {color:#FFF;font-weight:bold}
.style5 {
	color:#000;
	font-weight:normal;
	font-size:16px;
	margin: 0px;
	padding: 0px;
}
.style6 {color:#f4ac29}
.style7 {color:#FFF;font-size:12px;font-weight:bold;text-decoration:underline;margin-left:8px;padding-top:5px}
.style8 {color:#000;margin:0px 0px 0px 20px}
.style9 {color:#999}
.style10 {color:#000;font-size:12px;text-decoration:underline;font-weight:bold}
.style11 {
	color:#3E3E95;
	font-weight:bold;
	font-size:11px
}
.style12 {color: #000}
.style13 {color: #d15800; font-weight:bold;font-size:12px; margin:8px}
.style14 {
	color:#333;
	font-weight:bold;
	font-size:12px
}
.style15 {color:#d15800;font-size:11px}
.style16 {color:#333;font-size:11px;padding-top:5px;padding-left:8px}
.style17 {font-size:11px;color:#000}

div.mini_control {
	float: right;
	font-size: 12px;
}
div.mini_control a:link, div.mini_control a:visited, div.mini_control a:active {
	color:#5279ad;
	text-decoration: none;
}
div.mini_control a:hover {
	color:#5279ad;
	text-decoration: underline
}
/* .Footer {width:762px;height:64px;margin:0 auto;padding:0;font-size:11px;color:#333;background:url(../images/base.gif) top left no-repeat} */
.TL_cell {width:230px;height:87px;margin:0;padding:0;float:left}
.TR_cell {
	width:520px;
	height:85px;
	margin:0;
	padding:0;
	float:right;
	background:url(../images/map.gif) right no-repeat;
}
.con_1 {width:165px;margin:0;padding:0;float:right}
.con_2 {font-size:11px;margin-top:7px;padding:0;float:right}
#clist li {display:inline;list-style-type:none;border-right:solid 1px #CCC;padding-left:8px;padding-right:7px}
ul#clist li#cap {border-right:none}
ul#clist li a:hover, ul#clist li#active a:hover {color:#FFF}
#search {width:110px;height:20px;margin:0;padding-left:5px;background-color:#FFF;border:1px solid #333;color:#000;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:12px;line-height:15px}
#wz_reg {width:200px;height:20px;margin:0;padding-left:5px;background-color:#FFF;border:1px solid #BBB;color:#333;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:12px;line-height:15px}
#wz_box {width:200px;height:50px;margin:0;padding-left:5px;background-color:#FFF;border:1px solid #BBB;color:#333;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:12px;line-height:15px}
#S_controls {width:520px;height:60px;margin:0;padding:0;text-align:right}
.side_cd {width:140px;margin:0px auto;padding-top:15px;text-align:left}
.ad {width:440px;height:268px;margin:0;padding:0;text-align:left;background:url(/cgi-bin/gethpbg.cgi?lang=EN) no-repeat left 1px}
.std {width:285px;top:118px;left:94px;position:relative}
.std_11 {width:400px;top:92px;left:16px;position:relative;}
.pro_11 {width:400px;top:104px;left:16px;position:relative;}
.desc {font-size:11px;color:#000;width:180px;float:left}
.graph {width:90px;float:right}
.pro {width:279px;top:168px;left:101px;position:relative}
.Splash {width:310px;margin:0;padding:0}
.lead_in {width:310px;margin-top:13px;padding:0}
.AR {width:274px;margin:0;padding-right:10px;font-size:11px;text-align:left;position:relative;float:right}
.AP {
	width:445px;
	height:218px;
	margin:0;
	padding:0;
	text-align:left;
	font-size:11px;
	background:url(../images/ap_bg2.gif) no-repeat left top;
	color: #FFFFFF;
}
.prod_a {width:425px;top:9px;left:8px;position:relative}
.prod_b {width:425px;top:15px;left:8px;position:relative}
.prod_c {width:425px;top:10px;left:8px;position:relative}
.trial {width:146px;top:122px;left:230px;position:relative}
.side_nav {margin-bottom:10px;font-size:12px;color:#000}
.G_Bar {text-align:center}
.G_BB {width:180px;height:13px;background:url(../images/sbar_b.gif) top left #FFF no-repeat;display:block}
.cr_cell {margin:13px 0px 0px 5px;width:365px;text-align:left;float:left}
.ng_cell {margin:13px 0px 0px 0px;width:360px;text-align:left;float:right}
.LP_1 {margin:0;padding:0}
.LP_2 {width:122px;margin:0px;padding:0;float:left}
.LP_3 {width:160px;margin-top:40px;padding:0;text-align:left;float:right}
.LP_4 {
	width:auto;
	margin-top:5px;
	padding:0
}
.LP_cell_1 {
	width:92px;
	margin:20px 15px 0px 0px;
	padding-left:15px;
	text-align:left;
	float:left
}
.LP_cell_2 {
	width:349px;
	margin:20px 10px 0px 0px;
	padding:0;
	text-align:left;
	float:left
}
.LP_cell_3 {width:122px;margin:20px 5px 0px 0px;padding:0;text-align:center;float:left}
.LP_cell_4 {
	padding:0;
	text-align:left;
	width: auto;
}
.BTL_cell {width:410px;margin:0;padding:0;float:left}
.spacer {width:762px;height:30px;margin:0 auto;padding:0;display:block}
.LS_cell_2 {
	width:370px;
	padding:0;
	text-align:left;
	float:left
}
.LS_cell_3 {width:132px;margin:20px 10px 0px 0px;padding:0;text-align:center;float:left}
.F_List {line-height:16px;margin:12px;padding:12px}
.SM_List {padding:0 14px 30px 14px !important;}
.dl_TH1 {
	height:30px;
	background:url(../images/dlH_rule1.gif) bottom left #ededed no-repeat
}
.dl_TH2 {
	height:40px;
	background:url(../images/dlH_rule2.gif) bottom left #FFF repeat-x
}
.dl_stp1 {
	width:580px;
	height:121px;
	margin:15px 0px 20px 18px;
	padding:0;
	background:url(../images/step1.gif) top left no-repeat
}
.step_1 {
	width:460px;
	top:25px;
	left:72px;
	position:relative
}
.dl_stp2 {
	width:580px;
	height:121px;
	margin:15px 0px 20px 18px;
	padding:0;
	background:url(../images/step.gif) top left no-repeat
}
.dl_stp3 {
	width:580px;
	height:121px;
	margin:15px 0px 20px 18px;
	padding:0;
	background:url(../images/step3alt.gif) top left no-repeat
}
.step_3 {width:420px;top:18px;left:73px;position:relative}
.install {width:562px;display:none}
.ins_1 {width:500px;height:340px;margin:15px 0px 20px 18px;padding:0;background:url(../images/step3.gif) top left #FFF no-repeat;display:table}
.ins_2 {width:500px;height:250px;margin:15px 0px 20px 18px;padding:0;background:url(../images/step4.gif) top left #FFF no-repeat;display:table}
.inst1 {width:416px;top:25px;left:72px;position:relative}
#trial {width:158px;height:117px;margin:10px auto 0px auto;padding:0;display:block}
.jsErrText {font-weight: bold;border: 0px;color: #FF0000;}
.jsErrText2 {font-weight: bold;border: 0px;color: #FF0000;background-color:#FFF}
.note {font-style: italic; color: #999999;}
.commandline {font-family: monospace;}
.literal {font-family: monospace;}
.thanks .M_Body {
	background: no-repeat center top;
	margin-top: 0px;
}
.Parent.thanks #ty_bg {
}

#ty_bg h1 {
	font-size: 20px;
	line-height: 74px;
	color: #444444;
	margin-bottom: 30px;
}
#ty_bg  .content h2 {
	color: #333333;
	margin-top: 10px;
}
#tygoog_bg  .content h2 {
	color: #333333;
	margin-top: 10px;
}
#l_rail {
	float: left;
	width: 140px;
	text-align: center;
	margin: 200px 0px 20px;
}
.clear {
	clear: both;
}
.limage {
	float: left;
	margin-right: 10px;
	text-align: center;
}
input[type='text'] { } 
/*.jsErrText { background: #F6F6F6 !important; } */
.content .jsErrText { background: none !important; } 

.content #toggle {
	background: #FFF;
	border-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #296DC2;
	text-decoration: underline;
	margin: 10px 0px;
	padding: 0px;
}
