/* CSS Document */


#header{
	display:none;
}
html .social, html .inner #content a.button-large, html .inner #content a.button-small, html .inner #content a.button-med, html .inner #content a.button-medium{
display: none;	
}
html .inner #primarycontent {
	float: none;
	display: block;
	padding: 0;
	margin: 0;
	width: auto;	
}
#secondarycontent{
	display:none;
}
#wrapper, .s_col #wrapper{
	margin:0px;
	padding:0px;
	background:none;
}
html .inner #wrapper #content{
	background:none;
}
.M_Module{
	display: none;	
}
html .inner #primarycontent  h1{
	color:#000;
}
html, body,html #footer,html .inner #footer #footer_top, .s_col #footer{
	background:none;
	background-color:#FFF;
}
