@charset "utf-8";
/* CSS Document */

/* WZ PROD PAGE NAVIGATION */
#wrapper-prodpage .navigation {
	background-color: #3e5d96;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 40px;
	overflow: visible;
	width: 100%;
}
#wrapper-prodpage .navigation * {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#wrapper-prodpage .navigation ul {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
	position: relative;
}
#wrapper-prodpage .navigation ul.has-open-children {
	padding: 0px 0px 40px;
}
#wrapper-prodpage .navigation ul li ul{
	background: #5b75a6;
	display: none;
	font-size: 14px;
	position: absolute;
	left: 0px; 
	margin: 0;
	padding: 0px;
	width: 1000px;
}
#wrapper-prodpage .navigation ul li.open ul{
	display:block;
}

#wrapper-prodpage .navigation ul ul li{
	padding: 10px 20px;
	color: #FFF;
}
#wrapper-prodpage .navigation ul li {
	list-style: none;
	float: left;
	margin: 0;
}
#wrapper-prodpage .navigation ul li a {
	display: block;
	padding: 0;
	color: #ffffff;
	text-decoration: none
}
#wrapper-prodpage .navigation ul li.selected a, #wrapper-prodpage .navigation ul li a:hover, #wrapper-prodpage .navigation ul li a.active {
	color: #fff;
}
#wrapper-prodpage .navigation ul li a span {
	background-color: #3e5d96;
	color: #ffffff;
	display: block;
	line-height: 40px;
    padding: 0 20px;
}
#wrapper-prodpage .navigation ul li.selected a span, #wrapper-prodpage .navigation ul li a:hover span, #wrapper-prodpage .navigation ul li a.active span {
	background-color: #5b75a6;
}
/* Sub nav styles */
#wrapper-prodpage .navigation ul ul li a {
	background: none;
	display: block;
	padding: 0 6px 0 6px;
	color: #FFFFFF;
	text-decoration: none
}
#wrapper-prodpage .navigation ul ul li.selected a, #wrapper-prodpage .navigation ul ul li a:hover, #wrapper-prodpage .navigation ul ul li a.active {
	background: none;
	color: #FFFFFF;
}
#wrapper-prodpage .navigation ul ul li a span {
	background: none;
	display: block;
	padding: 11px 12px 10px 22px;
}
#wrapper-prodpage .navigation ul ul li.selected a span, #wrapper-prodpage .navigation ul ul li a:hover span, #wrapper-prodpage .navigation ul ul li a.active span {
	background: none;
}
#wz-also-available{
	height: 25px;
	width:245px;
	color:#333333;
	float:right;
    margin-top: 11px;
}
#wrapper-prodpage .navigation ul li.open ul li.open{
	background: url(../images/layout/wz17-subnav-arrow.png) bottom center no-repeat;
}

#wrapper-prodpage #body-content img.center {
	margin: 0 auto;
	clear: both;
	margin-top:30px;
}

#also-available-for{
	float:right;
	height: 20px;
	margin-top:15px;
	color:#333333;
	!important font-weight: normal;
}
#also-available-for a.avail-for{font-weight:normal;}
#also-available-for a.avail-for:hover{font-weight:normal;}