html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*MOBILE STYLES*/

/*wrapper and logos*/
body {padding:15px 15px 0 15px;font-size:62.5%;}
#mk-page-wrapper {width:100%;background:white;}
#mk-page-wrapper a {text-decoration: none;}
#mk-brand-logo {width: 300px;height:43px;background-image:url(../images/spritesG.gif);margin-bottom: 1.5em;background-position: -405px -2006px;display:block;}

/*typography*/
#mk-page-wrapper h1, #mk-page-wrapper h2, #mk-page-wrapper h3, #mk-page-wrapper h4, #mk-page-wrapper p {font-family: Helvetica, Arial, sans-serif;line-height: 1.5}
#mk-page-wrapper h1, #mk-page-wrapper h2.mk-support-text {font-size: 1.8em;font-weight: normal;margin-bottom: 10px;color:#888888;}
#mk-page-wrapper h2 {font-size: 1.8em;margin-bottom: 0.5em;color:#444444;}
#mk-page-wrapper h3 {font-size: 1.6em;margin-bottom: 1em;color:#222222;}
#mk-page-wrapper h4 {font-size: 1.7em;margin-bottom: 1em;color:#444444;}
#mk-page-wrapper p, #more-info-link {font-size: 1.4em;margin-bottom: 1.5em;line-height: 1.5;color:#777777;}

/*dynamic country button area*/
#mk-dynamic-store-select {width:100%;display:none;}
	#mk-dynamic-store-btn { font-size: 1.6em; font-weight: bold; text-decoration: none; border-radius: 7px!important; -webkit-border-radius: 7px!important; -moz-border-radius: 7px!important; display:block; border: #A65C11 1px solid; color:white !important; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.69); -webkit-font-smoothing: antialiased; margin:15px 0;
	background: #F17C0E; 
	background: -moz-linear-gradient(top, #EE8729 50%, #F17C0E 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#EE8729), color-stop(51%,#F17C0E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #EE8729 50%,#F17C0E 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #EE8729 50%,#F17C0E 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #EE8729 50%,#F17C0E 51%); /* IE10+ */
	background: linear-gradient(to bottom, #EE8729 50%,#F17C0E 51%); /* W3C */ 
	overflow: hidden;
	position: relative;	
}
	#mk-dynamic-store-btn .mk-but-text {padding:15px 5px 15px 2px;font-size: 1.1em;float: left;margin-left: 75px;color:white;}
	.mk-link-arrow { height: 30px;width: 40px;background-image: url(../images/spritesG.gif);background-position: -850px -2070px;float: right;margin-top: 8px; }

#mk-page-wrapper p.mk-2nd-lang {font-size:1em;margin: 0;}
#mk-page-wrapper #mk-flag-btn-text p.mk-2nd-lang {color:#DADADA;line-height: 1;}

	/*button flag*/
	#mk-flag {
		height: 35px;
		width: 51px;
		background-image:url(../images/spritesG.gif); 
		border: white solid 1px;
		position: absolute;
		top: 12%;
		left: 12px;
	}
	#mk-flag.flag-de_AT {background-position: 0  0 ;}
	#mk-flag.flag-bg_BG {background-position: 0 -50px ;}
	#mk-flag.flag-da_DK {background-position: 0 -100px ;}
	#mk-flag.flag-fi_FI {background-position: 0 -150px ;}
	#mk-flag.flag-de_DE {background-position: 0 -200px ;}
	#mk-flag.flag-en_IE {background-position: 0 -250px ;}
	#mk-flag.flag-it_IT {background-position: 0 -300px ;}
	#mk-flag.flag-lt_LT {background-position: 0 -350px ;}
	#mk-flag.flag-no_NO {background-position: 0 -400px ;}
	#mk-flag.flag-pt_PT {background-position: 0 -450px ;}
	#mk-flag.flag-ru_RU {background-position: 0 -500px ;}
	#mk-flag.flag-sl_SI {background-position: 0 -550px ;}
	#mk-flag.flag-sv_SE {background-position: 0 -600px ;}
	#mk-flag.flag-tr_TR {background-position: 0 -650px ;}
	#mk-flag.flag-nl_BE {background-position: 0 -700px ;}
	#mk-flag.flag-cs_CZ {background-position: 0 -750px ;}
	#mk-flag.flag-et_EE {background-position: 0 -800px ;}
	#mk-flag.flag-fr_FR {background-position: 0 -850px ;}
	#mk-flag.flag-hu_HU {background-position: 0 -900px ;}
	#mk-flag.flag-en_IL {background-position: 0 -950px ;}
	#mk-flag.flag-lv_LV {background-position: 0 -1000px ;}
	#mk-flag.flag-nl_NL {background-position: 0 -1050px ;}
	#mk-flag.flag-pl_PL {background-position: 0 -1100px ;}
	#mk-flag.flag-ro_RO {background-position: 0 -1150px ;}
	#mk-flag.flag-sk_SK {background-position: 0 -1200px ;}
	#mk-flag.flag-es_ES {background-position: 0 -1250px ;}
	#mk-flag.flag-de_CH {background-position: 0 -1300px ;}
	#mk-flag.flag-en_UK {background-position: 0 -1350px ;}
	#mk-flag.flag-en_AU {background-position: -100px -0 ;}
	#mk-flag.flag-zh_CN {background-position: -100px -50px ;}
	#mk-flag.flag-en_HK {background-position: -100px -100px ;}
	#mk-flag.flag-en_IN {background-position: -100px -150px ;}
	#mk-flag.flag-ko_KR {background-position: -100px -200px ;}
	#mk-flag.flag-en_MY {background-position: -100px -250px ;}
	#mk-flag.flag-en_NZ {background-position: -100px -300px ;}
	#mk-flag.flag-en_PH {background-position: -100px -350px ;}
	#mk-flag.flag-en_SG {background-position: -100px -400px ;}
	#mk-flag.flag-zh_TW {background-position: -100px -450px ;}
	#mk-flag.flag-th_TH {background-position: -100px -500px ;}
	#mk-flag.flag-pt_BR {background-position: -200px -0 ;}
	#mk-flag.flag-en_CA {background-position: -200px -50px ;}
	#mk-flag.flag-es_MX {background-position: -200px -100px ;}
	#mk-flag.flag-en_US {background-position: -200px -150px ;}
	#mk-flag.flag-en_EXPORT {background-position: -200px -1350px ;}

/*flag-select*/
#mk-flag-select {overflow:hidden;}
#mk-flag-select .flags {overflow:hidden;}

#mk-flag-select .mk-col, #mk-flag-select .mk-col2 {overflow:hidden;width:100%;float:left;}
#mk-flag-select .flaggroup{background:#D8D8D8;overflow:hidden;padding:6px 15px;font-size:1.6em;}
#mk-flag-select .countries, #mk-flag-select .countries2 {line-height:3.5em;text-align:left;float:left;list-style:inside none;width:100%;margin-bottom: 25px;}
#mk-flag-select .countries3 {line-height:3.5em;text-align:left;float:left;list-style:inside none;width:100%;}
#mk-flag-select .flag-back{padding-left:25px;font-size:1.5em;margin-left:0;}


#mk-flag-select .lang{color:#A0A0A0;}
#mk-flag-select .flag-back{background:url('../images/spritesG.gif') no-repeat;}
#mk-flag-select .flags li a{color:#000000;padding:1px 1px 1px 30px;text-decoration:none;} 
#mk-flag-select .flag-pt_BR{background-position:-281px -198px;}
#mk-flag-select .flag-en_US{background-position:-597px -530px;}
#mk-flag-select .flag-en_CA{background-position:-597px -925px;}
#mk-flag-select .flag-es_MX{background-position:-597px -991px;}
#mk-flag-select .flag-de_AT{background-position:-281px -66px;}
#mk-flag-select .flag-en_AU{background-position:-281px 0;}
#mk-flag-select .flag-fr_BE,#mk-flag-select .flag-nl_BE{background-position:-281px -132px;}
#mk-flag-select .flag-bg_BG{background-position:-281px -264px;}
#mk-flag-select .flag-en_CN,#mk-flag-select .flag-zh_CN{background-position:-281px -330px;}
#mk-flag-select .flag-cs_CZ{background-position:-281px -396px;}
#mk-flag-select .flag-da_DK{background-position:-281px -462px;}
#mk-flag-select .flag-et_EE{background-position:-281px -528px;}
#mk-flag-select .flag-fi_FI{background-position:-281px -594px;}
#mk-flag-select .flag-fr_FR{background-position:-281px -660px;}
#mk-flag-select .flag-de_DE{background-position:-281px -726px;}
#mk-flag-select .flag-en_HK{background-position:-281px -792px;}
#mk-flag-select .flag-hu_HU{background-position:-281px -858px;}
#mk-flag-select .flag-en_IN{background-position:-281px -924px;}
#mk-flag-select .flag-en_IE{background-position:-281px -991px;}
#mk-flag-select .flag-en_IL{background-position:-281px -1057px;}
#mk-flag-select .flag-it_IT{background-position:-281px -1122px;}
#mk-flag-select .flag-ko_KR{background-position:-597px -858px;}
#mk-flag-select .flag-lv_LV{background-position:-281px -1254px;}
#mk-flag-select .flag-lt_LT{background-position:-281px -1321px;}
#mk-flag-select .flag-en_MY{background-position:-281px -1387px;}
#mk-flag-select .flag-nl_NL{background-position:-281px -1452px;}
#mk-flag-select .flag-no_NO{background-position:-281px -1584px;}
#mk-flag-select .flag-en_NZ{background-position:-281px -1518px;}
#mk-flag-select .flag-en_PH{background-position:-597px -660px;}
#mk-flag-select .flag-pl_PL{background-position:-281px -1652px;}
#mk-flag-select .flag-pt_PT{background-position:-281px -1716px;}
#mk-flag-select .flag-ro_RO{background-position:-281px -1782px;}
#mk-flag-select .flag-ru_RU{background-position:-281px -1848px;}
#mk-flag-select .flag-en_SG{background-position:-281px -1914px;}
#mk-flag-select .flag-sl_SI{background-position:-597px -66px;}
#mk-flag-select .flag-es_ES{background-position:-597px -132px;}
#mk-flag-select .flag-sk_SK{background-position:-597px 0;}
#mk-flag-select .flag-sv_SE{background-position:-597px -198px;}
#mk-flag-select .flag-de_CH{background-position:-597px -264px;}
#mk-flag-select .flag-fr_CH{background-position:-597px -264px;}
#mk-flag-select .flag-zh_TW{background-position:-597px -330px;}
#mk-flag-select .flag-th_TH{background-position:-597px -726px;}
#mk-flag-select .flag-tr_TR{background-position:-597px -396px;}
#mk-flag-select .flag-en_UK{background-position:-597px -462px;}
#mk-flag-select .flag-pl_PL_ENGLISH{background-position:-281px -165px;}
#mk-flag-select .flag-it_IT_ENGLISH{background-position:-281px -1122px;}
#mk-flag-select .flag-es_ES_ENGLISH{background-position:-597px -132px;}
#mk-flag-select .flag-en_US_E14{background-position:-597px -530px;}
#mk-flag-select .flag-en_EX_DIRECTEXP{background-position:-597px -792px;}
#mk-flag-select .flags a:hover{text-decoration:underline;}

/*social media*/
#mk-social-media {overflow:hidden;}
.mk-social-media-holder-large {width: 39px;height: 39px;float: left;margin: 0px 10px 10px 0px;}
.mk-social-media-holder-e14 {width: 130px;height: 42px;float: left;margin: 0px 10px 10px 0px;}

#mk-investor h4 {margin:10px 0 0 0;}

.mk-social-media-icons-large {background-image: url(../images/spritesG.gif);background-repeat: no-repeat;}
.mk-mod1-position2 {background-position: -920px -100px;}
.mk-mod1-position1 {background-position: -920px 0px;}
.mk-mod1-position7 {background-position: -920px -600px;}
.mk-mod1-position4 {background-position: -920px -300px;}
.mk-mod1-position9 {background-position: -920px -800px;}
.mk-mod1-position10 {background-position: -920px -900px;}
.mk-mod1-position11 {background-position: -920px -1000px;}
.mk-mod1-position17 {background-position: -830px -1709px;}	

/*more-info*/	
	#mk-more-info {overflow:hidden;width:100%;margin-bottom: 15px;display:none;}
	#iFrameVId {width:100%;margin-bottom:20px;}

/*footer*/
#mk-page-footer {overflow:hidden;width:100%;}
#mk-page-footer a {width:100%;display:block;margin-bottom:25px;font-size: 1.4em;}

/*buttons*/
#mk-page-wrapper a {font-family: Arial, Helvetica, sans-serif;color:#007fac; }
.mk-prmiary-btn, .mk-secondary-btn, .mk-subtle-btn {
	font-size: 1.6em; font-weight: bold; text-decoration: none; border-radius: 7px!important; -webkit-border-radius: 7px!important; -moz-border-radius: 7px!important; display:block; padding:14px; text-align: center;}
.mk-text-link { font-size:1.6em; color:#007FAC; margin-bottom: 15px; display: block; }
.mk-prmiary-btn { background: #F17C0E url(../images/spritesG.gif) repeat-x center; border: #A65C11 1px solid; color:white !important;  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.69); -webkit-font-smoothing: antialiased; }

/*generic*/
.hidden {display:none;}
.border-box { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.overflow {overflow:hidden;}
.margin-top15 {margin-top:15px;}
.margin-top25 {margin-top:25px;}
.margin-bottom25 {margin-bottom:25px;}
.margin-bottom12 {margin-bottom:12px;}
.mk-col-100 {overflow:hidden;width:100%;}
.desktop {display:none;}

#mk-supplierLogo {width: 100%;}
#mk-supplier-logos h2 {margin-bottom:12px;}
#mk-supplier-logos-list {overflow: hidden;}
#mk-supplier-logos-list ul {list-style: none; margin: 0; padding: 0;}
#mk-supplier-logos-list li {display: block; float: left; height: 65px; width: 132px;}
#mk-new-product {width: 100%;}
#mk-new-product h2 {margin-bottom:12px;}
#mk-new-product-list {overflow-y: scroll;padding: 0;height: 285px;}
#mk-new-product-list ul{margin:0; padding:0; list-style:none;}
#mk-new-product-list ul li {padding: 5px 0; border-bottom: 1px solid #dedede;}
#mk-new-product-list ul li p {margin:0; padding:0;}
#mk-new-product-list .mk-npl-mftr {font-size: 11px; font-style: italic;}
#mk-new-product-list .mk-npl-mftr a{color:#777777;}


/*cookie banner*/		
#mk-c-banner {position: fixed;bottom: 0;left: 0;right: 0;border-top: solid 1px #A65C11;background: #DFDFDF;color: #333333;padding: 10px 30px;display:none;}
#mk-c-banner p {font-size:1.2em;margin-bottom: 0px;}
#mk-c-banner .mk-left {float: left;width: 100%;}
#mk-c-banner .mk-right {float: left;width: 100%;text-align: left;margin-top: 5px;}
#mk-c-banner .mk-right a {background-image: url(../images/spritesG.gif);background-position: -885px -2012px;background-repeat: no-repeat;padding-left: 32px;padding-top: 7px;display: inline-block;min-height: 25px;font-size: 1.2em;}

#mk-more-info-btn {font-size: 1.6em;font-weight: bold;display: block;}

.mk-hide {
	display:none;
}

/******************************* tablet-landscape ********************************/
@media screen and (min-width:960px) {

.desktop {display:block;}
.mobile {display:none;}
/*wrapper and logos*/
html {background: #ffffff; /* Old browsers */background: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 97%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#e8e8e8)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #ffffff 0%,#e8e8e8 97%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ffffff 0%,#e8e8e8 97%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #ffffff 0%,#e8e8e8 97%); /* IE10+ */background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 97%); /* W3C */}

body {padding:0px;background-image:url(../images/2nd-background.png);background-position-x: center;background-repeat: no-repeat;background-position: center top;background-color:#F8F8F8;}

#mk-page-wrapper {width:960px;margin:0 auto;padding:30px; position:relative; box-shadow: 0px -3px 73px rgba(0, 40, 40, 0.18); -moz-box-shadow: 0px -3px 73px rgba(0, 40, 40, 0.18); -webkit-box-shadow: 0px -3px 73px rgba(0, 40, 40, 0.18);}
#mk-brand-logo {width:289px;height:49px;background-image:url(../images/spritesG.gif);margin-bottom:25px;background-position: -25px -2002px;}

/*typography*/
#mk-page-wrapper h1, #mk-page-wrapper h2.mk-support-text {font-size: 2em;margin-bottom: 2.2em;}
#mk-page-wrapper h2 {font-size: 2em;margin-bottom: 1.1em;}
#mk-page-wrapper h4 {font-size: 1.7em;margin-bottom: 1em;color:#444444;}

.mk-espot-carousel-slide {opacity: 0;}
#mk-espot-carousel-slides { width: 960px; height:260px; margin-bottom: 0px; padding: 0px; border: #B8D7E5 1px solid; position: relative;}

#mk-espot-carousel-slide1, #mk-espot-carousel-slide2, #mk-espot-carousel-slide3 {background-image:url(../images/spriteJ.jpg);width: 100%; height:260px;position: absolute;top:0;left:0;}
#mk-espot-carousel-slide1 {background-position: 0 0;z-index: 1000;}
#mk-espot-carousel-slide2 {background-position: 0 -260px;}
#mk-espot-carousel-slide3 {background-position: 0 -520px;}

#mk-espot-carousel-slides .mk-text-area {width:40%;padding:40px 0px 0px 30px;}
.graphic-shadow, .graphic-shadowt {width:100%;height:8px;background-image:url(../images/spriteJ.jpg);margin-bottom: 15px;}
.graphic-shadow {background-position: 0 -780px;}
.graphic-shadowt {background-position: 0 -786px;}
		
		ul.mk-espot-carousel-buttons {position: absolute;top: 70px;right: 27px;}
		ul.mk-espot-carousel-buttons li {float: left;margin: 0 2px;list-style: none;}
		ul.mk-espot-carousel-buttons li a{display: block;width: 20px;height: 0;padding-top: 20px;background-image: url(../images/spritesG.gif);background-position: -780px -2005px;float: left;overflow: hidden;}
		ul.mk-espot-carousel-buttons li a.mk-espot-carousel-button-active {background-position: -780px -2027px;}	

/*dynamic country button area*/
#mk-dynamic-store-select {border: solid 1px #B8D7E5;padding: 5px 30px;background: #FCFCFC;}
#mk-dynamic-store-select h4 {float:left;padding-top: 12px;}	
#mk-dynamic-store-select a {float:left;margin-left:25px;}

/*flags*/

#mk-flag-select .mk-col, #mk-flag-select .mk-col2 {border-left:1px solid #CCCCCC;padding-left:10px;}
#mk-flag-select .mk-col {width:23%;}
#mk-flag-select .mk-col2 {width:54%;}
#mk-flag-select .flag-back{font-size:1.3em;}
#mk-flag-select .countries, #mk-flag-select .countries2, #mk-flag-select .countries3 {line-height: 2.7em;margin-bottom: 0px;}
#mk-flag-select .countries2, #mk-flag-select .countries3 {width:50%;padding-left:0px;}
#mk-flag-select .countries {padding-left:0px;}
#mk-flag-select .flaggroup {background:none;padding:0px;}

#mk-supplierLogo {width: 100%; float:left;}
#mk-new-product {width: 42%; float: right;}

/*more*/
#mk-more-info { clear: both;}
.padding-right {padding-right: 15px;}


#mk-supplierLogo {width: 55%; float:left;}
#mk-supplier-logos-list {height:285px;}
#mk-new-product {width: 42%; float: right;}

#mk-social-media > div {overflow:hidden;}
#mk_video {width: 560px;overflow: hidden;float: right;margin-left: 20px;}


/*ccokie*/
#mk-c-banner .mk-left {width: 75%;}
#mk-c-banner .mk-right {float: right;width: 25%;text-align: center;}

/*investors*/
#mk-investor {float: left; padding: 10px 0 0 20px;}
#mk-investor h4 {margin-bottom: 0px;}

/*footer*/
#mk-page-footer a { margin-bottom:5px; float:left; width:auto;border-left:solid 1px #CCCCCC;padding-left:10px;height:20px;margin-left:10px;font-size:13px;padding-top: 2px;}
#mk-page-footer a.mk-no-line { border-left:none;padding-left:0px;margin-left:0px;}
#mk-page-footer hr { display:none;}

.mk-mobile {display:none;}
#mk-page-wrapper p.mk-2nd-lang {font-size:1em;margin: 0;}
#mk-page-wrapper #mk-flag-btn-text p.mk-2nd-lang {color:#DADADA;}


}