@media (min-width: 780px) {
	#mheader{
		display:none;
	}
}
@media (max-width: 780px) {
	
	#dheader{
		display:none;
	}
	
	#mheader{
		display:block;
	}
	
	#logo-center{
		text-align:center;
		margin-top:20px;
	}
	#logo-center img{
		max-width:200px;
		margin-top:20px;
	}
	
	#logo-img{
		margin-left:20px;
	}
	
	#logo img{
		width:60px;
	}
	.hide-mobile{
		display:none;
	}
}


@media (min-width: 992px) {
	.mcontainer{
		width:970px;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	
}

@media (min-width: 1200px) {
	.mcontainer{
		width:1170px;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 780px) {
	#logo-center{
		text-align:center;
		margin-top:20px;
		padding-top:30px;
	}
	#logo-center img{
		/*max-width:200px;*/
	}
	
	#logo-img{
		/*margin-left:20px;*/
	}
	
	#logo img{
		/*width:60px;*/
	}
}

