/*
Theme Name: 	Uttarpradesh
Theme URI: 		
Description: 	
Version: 		6.6.5
Author: 		Rabindra Nath
Author URI: 	http://digitalera.in
License:
License URI:
Tags:black, white, one-column, two-columns, fixed-layout
*/

@font-face {
  font-family: 'newspaper-icons';
  src: url('images/icons/newspaper-icons.eot?1');
  src: url('images/icons/newspaper-icons.eot?1#iefix') format('embedded-opentype'), url('images/icons/newspaper-icons.woff?1') format('woff'), url('images/icons/newspaper-icons.ttf?1') format('truetype'), url('images/icons/newspaper-icons.svg?1#newspaper-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
