/**
 * Default Theme, v2.
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse {
    width: 100%;
}
.cse .gsc-branding, .gsc-branding {
    display: none;
}
/* Selector for entire element. */
.cse .gsc-control-cse:after, .gsc-control-cse:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cse .gsc-resultsHeader, .gsc-resultsHeader {
    border: block;
}
table.gsc-search-box td.gsc-input {
    padding-right: 1px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 1px;
}
input.gsc-input {
    font-size: 16px;
    padding: 4px 5px!important;
    border: 1px solid #d9d9d9;
    width: 99%;
}
.gsc-input-box {
    border: 1px solid #d9d9d9;
    background: #fff;
    height: 25px;
}
.gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover {
    border: 1px solid #b9b9b9;
    border-top-color: #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    outline: none;
}
.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus {
    border: 1px solid #4d90fe;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    outline: none;
}
/* Search button */
.cse input.gsc-search-button, input.gsc-search-button {
    font-family: inherit;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    padding: 0 8px;
    height: 28px;
    min-width: 54px;
    border: 1px solid #3079ed;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#4d90fe", EndColorStr="#4787ed");
    cursor:pointer;
}
.cse input.gsc-search-button:hover, input.gsc-search-button:hover {
    border-color: #2f5bb7;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#4d90fe", EndColorStr="#357ae8");
}
.cse input.gsc-search-button:focus, input.gsc-search-button:focus {
    box-shadow: inset 0 0 0 1px hsla(0, 0, 100%, .5);
    -webkit-box-shadow: inset 0 0 0 1px hsla(0, 0, 100%, .5);
    -moz-box-shadow: inset 0 0 0 1px hsla(0, 0, 100%, .5);
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width: 13px;
    height: 13px;
    min-width: 13px;
    margin-top: 2px;
    padding: 6px 21px;
    margin-left: 0;
}
.gsc-refinementHeader {
    text-decoration: none;
    font-weight: 700;
    color: #666;
}
.gsc-refinementHeader.gsc-refinementhActive {
    text-decoration: none;
    color: #dd4b39;
}
.gsc-refinementHeader.gsc-refinementhInactive {
    text-decoration: none;
    cursor: pointer;
}
.gsc-refinementHeader.gsc-refinementhInactive > span:hover {
    text-decoration: underline;
}
.gsc-refinementhActive > span {
    border-bottom: 3px solid;
    padding-bottom: 2px;
}
.gsc-refinementsArea {
    margin-top: 0;
    padding-bottom: 4px;
    padding-top: 10px;
}
/* Foont size for refinements */
/* For searcher tabs */
.gsc-tabsArea > .gsc-tabHeader {
    height: 27px;
}
.gsc-tabsArea > div {
    height: 30px;
    overflow: auto;
}
/* No spacers needed for keneddy refinements */
.gsc-tabsArea .gs-spacer {
    display: none;
}
.gsc-tabsArea .gs-spacer-opera {
    display: none;
}
/* Refinement tab properties */
.gsc-tabHeader {
    display: inline-block;
    padding: 0 8px 1px;
    margin-right: 0;
    margin-top: 0;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
}
/* Active refinement tab properties */
.gsc-tabHeader.gsc-tabhActive {
    border: 1px solid #ccc;
    border-bottom-color: #fff;
    color: #202020;
}
/* Inactive refinement tab properties */
.gsc-tabHeader.gsc-tabhInactive {
    background: #fff;
    color: #666;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
/* Inner wrapper for an image result */
.gsc-imageResult-column, .gsc-imageResult-classic {
    padding: .25em;
    border: 1px solid #fff;
    margin-bottom: 1em;
}
/* Inner wrapper for a result */
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result {
    border: 1px solid #fff;
    margin-bottom: 0;
}
/* Wrapper for a result. */
.gsc-webResult .gsc-result {
    padding: 0;
    border:1px solid #fff!important;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
    border: 1px solid #fff !important;
}
.gs-web-image-box, .gs-promotion-image-box {
    padding: 2px 0;
}
.gs-promotion-image-box img.gs-promotion-image, .gs-promotion-image-box {
    width: 220px;
    height: 165px;
    max-width: 220px;
    max-height: 165px;
}
.gs-web-image-box img.gs-image {
    width: 220px;
    height: 165px;
    max-width: 220px;
    max-height: 165px;
}
.gs-web-image-box-landscape img.gs-image {
    width: 220px;
    height: 165px;
    max-width: 220px;
    max-height: 165px;
}
.gs-web-image-box-portrait img.gs-image {
    width: 220px;
    height: 165px;
    max-width: 220px;
    max-height: 165px;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    width: 220px;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
    width: 220px;
    height: 165px;
    max-width: 220px;
    max-height: 165px;
    overflow: hidden;
}
.gs-web-image-box {
    text-align: inherit;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion, .gsc-webResult.gsc-result.gsc-promotion {
    margin-top: 5px;
    margin-bottom: 10px;
    background: #f6f6f6;
}
.gsc-result-info {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;
    padding-bottom: 10px;
}
.gs-promotion-text-cell .gs-visibleUrl, .gs-promotion-text-cell .gs-snippet {
    font-size: 13px;
}
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 8px;
    padding-right: 8px;
}
.gs-promotion-table {
    margin-left: 8px;
    margin-right: 8px;
}
.gs-promotion table {
    padding-left: 8px;
    padding-right: 8px;
}
table.gs-promotion-table-snippet-with-image {
    padding-left: 0;
    padding-right: 0;
}
.gs-promotion-text-cell {
    margin-left: 8px;
    margin-right: 8px;
}
.gs-promotion-text-cell-with-image {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}
/* Promotion links */
.cse .gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link, .cse .gs-promotion a.gs-title:link *, .gs-promotion a.gs-title:link *, .cse .gs-promotion .gs-snippet a:link, .gs-promotion .gs-snippet a:link {
    color: #15c;
}
.cse .gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited, .cse .gs-promotion a.gs-title:visited *, .gs-promotion a.gs-title:visited *, .cse .gs-promotion .gs-snippet a:visited, .gs-promotion .gs-snippet a:visited {
    color: #15c;
}
.cse .gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover, .cse .gs-promotion a.gs-title:hover *, .gs-promotion a.gs-title:hover *, .cse .gs-promotion .gs-snippet a:hover, .gs-promotion .gs-snippet a:hover {
    color: #15c;
}
.cse .gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active, .cse .gs-promotion a.gs-title:active *, .gs-promotion a.gs-title:active *, .cse .gs-promotion .gs-snippet a:active, .gs-promotion .gs-snippet a:active {
    color: #15c;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet, .gs-promotion .gs-snippet, .cse .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right, .cse .gs-promotion .gs-title .gs-promotion-title-right *, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: #000;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl {
    color: #093;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
    background: #eee;
}
.gsc-completion-container {
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: #d9d9d9;
    margin: 0;
    font: 16px Arial, sans-serif;
}
.gsc-completion-title {
    color: #15c;
}
.gsc-completion-snippet {
    color: #000;
}
/* Full URL */
.gs-webResult div.gs-visibleUrl-short, .gs-promotion div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long, .gs-promotion div.gs-visibleUrl-long {
    display: none;
}
/* Keneddy shows url at the top of the snippet, after title */
.gsc-url-bottom {
    display: none;
}
/* Keneddy shows thumbnail inside the snippet, under title and url */
.gsc-thumbnail-left {
    display: none;
}
.gsc-thumbnail-inside {
    display: block;
}
.gsc-result .gs-title {
    height: 18px;
    text-decoration: none;
    text-align: left;
}
.gs-result .gs-title, .gs-result .gs-title * {
    color: #15c;
    height: 16px;
    text-align: left;
}
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
    color: #093;
    text-decoration: none;
    padding-bottom: 2px;
}
.gsc-results .gsc-cursor-box {
    margin: 30px 0 0 0;
    padding: 0;
    text-align: center;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
    text-decoration: underline;
    background: url(../images/nav_sprite.png) repeat-x 0 -74px;
    color: #fff !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    text-decoration: none;
    color: #dd4b39;
}
.gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em {
    color: #333;
}
.gsc-control-cse-zh_CN .gs-snippet b, .gsc-control-cse-zh_CN .gs-promotion em, .gsc-control-cse-zh_TW .gs-snippet b, .gsc-control-cse-zh_TW .gs-promotion em {
    color: #c03;
}
.gsc-snippet-metadata, .gsc-role, .gsc-tel, .gsc-org, .gsc-location, .gsc-reviewer, .gsc-author {
    color: #666;
}
.gsc-wrapper.gsc-thinWrapper {
    border-right: 1px solid #e9e9e9;
}
.gs-spelling a {
    color: #15c;
    text-decoration: none;
}
.gs-spelling {
    color: #333;
    padding-left: 3px;
    padding-right: 3px;
}
.gs-snippet {
    margin-top: 1px;
}
div.gsc-clear-button {
    display: inline;
    text-align: right;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    cursor: pointer;
    background: url(//www.google.com/uds/css/clear.gif) no-repeat center center;
    display:none!important;
}
.gsc-preview-reviews ul {
    padding-left: 0;
    padding-right: 0;
}
.gsc-completion-container .gsc-completion-icon-cell {
    width: 42px;
    height: 42px;
    padding-right: 10px;
}
td.gsc-branding-text, td.gcsc-branding-text {
    color: #666;
}
.gcsc-branding {
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
}
.gsc-table-cell-snippet-close, .gsc-table-cell-snippet-open {
    padding-left: 0;
    padding-right: 0;
    display: none;
}
.gsc-selected-option-container {
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
}
/* Facet box css */
.gsc-context-box {
    font-size: 83%;
    margin-top: 3px;
    border-collapse: collapse;
}
.gsc-context-box .gsc-col {
    padding: 1px 0;
    white-space: nowrap;
    vertical-align: middle;
}
.gsc-context-box .gsc-facet-label {
    width: 65px;
    padding-left: 2px;
    text-decoration: underline;
    color: #00c;
    cursor: pointer;
}
.gsc-context-box .gsc-chart {
    width: 32em;
    padding: 3px;
    border-left: 1px solid #00c;
    border-right: 1px solid #00c;
}
.gsc-context-box .gsc-top {
    border-top: 1px solid #00c;
}
.gsc-context-box .gsc-bottom {
    border-bottom: 1px solid #00c;
}
.gsc-context-box .gsc-chart div {
    background: #00c;
    height: 9px;
}
.gsc-context-box .gsc-facet-result {
    color: #00c;
    width: 30px;
    text-align: right;
    padding-right: 5px;
}
/* Universal one box css. */
.gsc-usr-group-thumbnail {
    display: inline-block;
    max-width: 72px;
    max-height: 72px;
}
.gsc-usr-group-thumbnail img {
    max-height: 72px;
    overflow: hidden;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
    color: #00c;
    cursor: pointer;
}
.gsc-usr-group {
    min-height: 100px;
    zoom: 1;
    display: block;
    line-height: 1.24;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-left: 20px;
}
.gsc-usr-group-content {
    padding-top: 1px;
    padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
    display: inline-block;
    vertical-align: top;
}
.gsc-usr-group-head-result {
    display: inline-block;
    padding-left: 6px;
}
.gsc-usr-group-snippet {
    width: 100%;
    height: 3.6em;
    overflow: hidden;
}
.gsc-usr-group-content-results {
    font-size: 12px;
    padding-left: 1px;
    width: 80%;
    padding-top: 7px;
}
.gsc-usr-group-head-results {
    display: inline-block;
    font-size: 13px;
    padding-left: 6px;
    width: 80%;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
    font-size: 11px;
    line-height: 10px;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
    font-size: 14px;
    font-weight: 600;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading
b {
    color: #00c;
}
/*********Custom*********/
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0;
    width: 300px;
    height: 35px;
    border: 0;
    background-color: transparent;
}
/* Kot */
table.gstl_50.gssb_c {
    z-index: 99999;
}
/* Selector for entire element. */
.cse .gsc-control-cse, .gsc-control-cse {
    /* background-color: #fff;
        border: 1px solid #fff; */
}
.gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover {
    border: 1px solid #b9b9b9;
    border-top-color: #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    outline: none;
}
.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus {
    border: 1px solid #4d90fe;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    outline: none;
}
/* Search button */
input.gsc-search-button {
    margin-left: 0;
}
.gsc-refinementHeader.gsc-refinementhInactive > span:hover {
    text-decoration: underline;
}
.gsc-refinementhActive > span {
    border-bottom: 3px solid;
    padding-bottom: 2px;
}
/* Foont size for refinements */
.gsc-tabsArea {
    font-size: 11px;
    margin-top: 12px;
    margin-bottom: 0;
    height: 29px;
    border-bottom: 1px solid #ccc;
}
/* For searcher tabs */
.gsc-tabsArea > .gsc-tabHeader {
    height: 27px;
}
.gsc-tabsArea > div {
    height: 30px;
    overflow: auto;
}
/* No spacers needed for keneddy refinements */
.gsc-tabsArea {
    margin-top: 12px;
    margin-bottom: 0;
    height: 29px;
    border-bottom: 1px solid #ccc;
}
/* Refinement tab properties */
/* Active refinement tab properties */
/* Inactive refinement tab properties */
/* Inner wrapper for an image result */
/* Inner wrapper for a result */
/* Inner wrapper for a result */
/* Wrapper for a result. */
/* Result hover event styling */
.gs-promotion-image-box img.gs-promotion-image {
    width: 220px;
    height: 165px;
    max-width: 220px;
    max-height: 165px;
    border: 1px solid #ebebeb;
}
.gs-promotion-image-box img.gs-promotion-image {
    border: 1px solid #ebebeb;
}
.gs-promotion-image-box img.gs-promotion-image:hover {
    border: 1px solid #af2b2b;
}
/*Promotion Settings*/
/* The entire promo */
/* Promotion links */
/* Promotion snippet */
/* Promotion url */
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
/* Full URL */
/* Keneddy shows url at the top of the snippet, after title */
/* Keneddy shows thumbnail inside the snippet, under title and url */
.gs-webResult.gs-result div.gsc-thumbnail-inside {
    display: block;
    position: relative;
    top: 189px;
    height: 21px;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page {
    color: #fff !important;
    cursor: default;
    text-shadow: 1px 1px 1px #3a3a3a;
}
.gsc-table-cell-thumbnail .gsc-thumbnail td {
}
.gsc-webResult.gsc-result {
    display: inline-block;
    padding: .25em;
    border: 1px solid #fff;
    margin-bottom: 0;
}
.gs-bidi-start-align.gs-snippet {
    display: none;
}
.gsc-webResult.gsc-result .gs-webResult.gs-result {
    height: 182px;
    width: 241px;
    display: inline-block;
}
.gsc-expansionArea {
    display: inline;
}
.gsc-expansionArea .gsc-webResult.gsc-result {
    display: inline-block;
}
.gsc-webResult.gsc-result {
    display: inline-block;
}
/* Kot */
.gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: transparent;
    padding: 0;
}
.form-header {
    display: none;
}
.gsc-adBlock {
    height: 0;
    display: none;
    padding-bottom: 5px;
    width: 0;
    max-width: 0;
    max-height: 0;
    position: absolute;
    top: -100px;
}
.gsc-webResult.gsc-result {
    display: inline-block;
}
.gsc-webResult.gsc-result {
    display: inline-block;
}
.gsc-url-top {
    display: none;
}
.gsc-control-cse .gs-result .gs-title {
    font-size: 14px;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #ddd !important;
    color: #000 !important;
    cursor: pointer;
    text-decoration: none;
    border-right: 0 !important;
    margin-right: 0 !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page, .gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page:hover {
    background: url(../images/nav_sprite.png) repeat-x 0 -74px;
    color: #fff;
}
.gsc-resultsRoot {
    text-align: left;
    margin-left: 25px;
}


.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 1px;
}
div.gsc-control-cse {
    padding: 0;
    width: 362px;
    height: 35px;
    background-color: transparent;
    border: 0;
}
#___gcse_0 {
    position: relative;
    top: 0;
    left: 0;
    width: 312px;
    padding: 0;
}