.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.jw-icon {
  font-family: 'jw-icons';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
  font-variant: normal;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
#myElement ~ div {
  display: none;
}
/* Skin namespace */
.jw-skin-seven {
  /* Use this class to set a global background color for all elements. */
  /* This is the class that houses all controls. Use this to adjust the appearance of the entire controlbar. */
  /* Vertically aligns the timeslider and icons in the center of the controlbar. */
  /* Sets the style for the visual playlist. */
  /* Aligns the visual playlist above its icon. */
  /* Sets the color of the playlist title */
  /* Style for playlist item, current time, qualities, and caption text.*/
  /* Color for all buttons when they are inactive. This is over-ridden with the inactive configuration in the skin block.*/
  /* Color for when HD/CD icons are toggled on. */
  /* Sets spacing between controlbar icons and text */
  /* Sets the style for the prev and next icons. */
  /* Adds the spacer style to between the play icon and the previous icon. */
  /* Adds the spacer style to between the next item and current time.  */
  /* Color of the display icon */
  /* Turns the display icon container into a circle. */
  /* Styles the timeslider rail */
  /* Sets the color for the buffer of the timeslider rail. */
  /* Sets the style for the elaspesd progress. */
  /* Sets the width of the knob's container */
  /* Sets the height for the horizontal slider container. */
  /* Sets the position of the volume slider container. */
  /* Sets the color of the duration text in the controlbar. */
  /*This sets the font color and background color for the active item in HD and CC menus. */
  /* Sets a min width for the volume container so that when it changes between mute and volume, the controlbar does not shift. */
  /* Sets the style for the time tooltip, menu, volume. */
  /* Sets the position for the time tooltip. */
  /* Sets the position for the vertical volume slider. */
  /* Sets the shape of the skip icon. */
  /* Expand button */
  /* Focus state */
}
.jw-skin-seven .jw-background-color {
  background: #000;
}
.jw-skin-seven .jw-controlbar {
  z-index: 2;
  height: 2.5em;
  border-top: #333 1px solid;
}
.jw-skin-seven .jw-group {
  vertical-align: middle;
}
.jw-skin-seven .jw-playlist {
  background-color: rgba(0, 0, 0, 0.8);
}
.jw-skin-seven .jw-playlist-container {
  left: -43%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Sets the style for the visual playlist items. */
  /* Aligns the playlist header icon with the items in the playlist. */
}
.jw-skin-seven .jw-playlist-container ::-webkit-scrollbar {
  width: 10px;
}
.jw-skin-seven .jw-playlist-container .jw-option {
  border-bottom: 1px solid #444;
  /* Allows you to adjust the color of the playlist item when hovering and has a different active style.*/
  /* Changes the color of the label when hovering.*/
}
.jw-skin-seven .jw-playlist-container .jw-option:hover,
.jw-skin-seven .jw-playlist-container .jw-option.jw-active-option {
  background-color: black;
}
.jw-skin-seven .jw-playlist-container .jw-option:hover .jw-label {
  color: #ff0046;
}
.jw-skin-seven .jw-playlist-container .jw-icon-playlist {
  margin-left: 0;
}
.jw-skin-seven .jw-playlist-container .jw-label {
  width: auto;
  /* Sets the color of the play icon of the currently playing playlist item.*/
}
.jw-skin-seven .jw-playlist-container .jw-label .jw-icon-play {
  color: #ff0046;
  /* Aligns the playlist play icon with the items in the playlist. */
}
.jw-skin-seven .jw-playlist-container .jw-label .jw-icon-play:before {
  padding-left: 0;
}
.jw-skin-seven .jw-tooltip-title {
  background-color: #000;
  color: #ffffff;
}
.jw-skin-seven .jw-text {
  color: #fff;
}
.jw-skin-seven .jw-button-color {
  color: #fff;
  /* Color for all buttons for when they are hovered on. This is over-ridden with the active configuration in the skin block.*/
}
.jw-skin-seven .jw-button-color:hover {
  color: #ff0046;
}
.jw-skin-seven .jw-toggle {
  color: #ff0046;
  /* Color for when HD/CD icons are toggled off. */
}
.jw-skin-seven .jw-toggle.jw-off {
  color: #fff;
}
.jw-skin-seven .jw-controlbar .jw-icon:before,
.jw-skin-seven .jw-text-elapsed,
.jw-skin-seven .jw-text-duration {
  padding: 0 .7em;
}
.jw-skin-seven .jw-controlbar {
  /* Removes icon padding to align the playlist header icon with the items in the playlist. */
  /* Removes icon padding to align the playlist header icon with the items in the playlist. */
}
.jw-skin-seven .jw-controlbar .jw-icon-prev:before {
  padding-right: .25em;
}
.jw-skin-seven .jw-controlbar .jw-icon-playlist:before {
  padding: 0 .45em;
}
.jw-skin-seven .jw-controlbar .jw-icon-next:before {
  padding-left: 0.25em;
}
.jw-skin-seven .jw-controlbar .jw-slider-time {
  height: 2.4em;
}
.jw-skin-seven .jw-controlbar .jw-slider-time .jw-slider-container {
  height: 2.3em;
  padding-top: 1.2em;
}
.jw-skin-seven .jw-controlbar .jw-slider-time .jw-slider-container .jw-knob {
  top: auto;
  margin-top: -0.24em;
}
.jw-skin-seven .jw-icon-prev,
.jw-skin-seven .jw-icon-next {
  font-size: 0.7em;
}
.jw-skin-seven .jw-icon-prev:before {
  border-left: 1px solid #666;
}
.jw-skin-seven .jw-icon-next:before {
  border-right: 1px solid #666;
}
.jw-skin-seven .jw-icon-display {
  color: #fff;
  /* Centers the display icon in it's container */
}
.jw-skin-seven .jw-icon-display:before {
  padding-left: 0;
}
.jw-skin-seven .jw-display-icon-container {
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #333333;
}
.jw-skin-seven .jw-rail {
  background-color: #384154;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jw-skin-seven .jw-buffer {
  background-color: #666f82;
}
.jw-skin-seven .jw-progress {
  background: #ff0046;
}
.jw-skin-seven .jw-knob {
  width: .6em;
  height: .6em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #000;
  -moz-box-shadow: 0 0 0 1px #000;
  box-shadow: 0 0 0 1px #000;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.jw-skin-seven .jw-slider-horizontal {
  /* Sets the height for the horizontal slider elements. */
  /* Centers the knob vertically. */
  /* Cetners the timeslider cuepoints vertically. */
}
.jw-skin-seven .jw-slider-horizontal .jw-slider-container {
  height: .95em;
}
.jw-skin-seven .jw-slider-horizontal .jw-rail,
.jw-skin-seven .jw-slider-horizontal .jw-buffer,
.jw-skin-seven .jw-slider-horizontal .jw-progress {
  height: .2em;
  -moz-border-radius: 0;
  border-radius: 0;
}
.jw-skin-seven .jw-slider-horizontal .jw-knob {
  top: -0.2em;
}
.jw-skin-seven .jw-slider-horizontal .jw-cue {
  top: -0.05em;
  width: .3em;
  height: .3em;
  background-color: #fff;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.jw-skin-seven .jw-slider-vertical {
  /* Sets the width for the vertical slider elements. */
}
.jw-skin-seven .jw-slider-vertical .jw-rail,
.jw-skin-seven .jw-slider-vertical .jw-buffer,
.jw-skin-seven .jw-slider-vertical .jw-progress {
  width: 0.2em;
}
.jw-skin-seven .jw-volume-tip {
  width: 100%;
  left: -45%;
  padding-bottom: 0.7em;
}
.jw-skin-seven .jw-text-duration {
  color: #666f82;
}
.jw-skin-seven .jw-controlbar-right-group {
  /* Adds a left border as a spacer between all contorlbar icons. */
  /* Removes the border from the first icon after the time duration text. */
}
.jw-skin-seven .jw-controlbar-right-group .jw-icon-tooltip:before,
.jw-skin-seven .jw-controlbar-right-group .jw-icon-inline:before {
  border-left: 1px solid #666666;
}
.jw-skin-seven .jw-controlbar-right-group .jw-icon-inline:first-child:before {
  border: 0;
}
.jw-skin-seven .jw-dock {
  /* This styles the dock icons into a circle. */
  /* This styles tooltip for dock text background. */
}
.jw-skin-seven .jw-dock .jw-dock-button {
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #333333;
}
.jw-skin-seven .jw-dock .jw-overlay {
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
}
.jw-skin-seven .jw-icon-tooltip .jw-active-option {
  background-color: #ff0046;
  color: #ffffff;
}
.jw-skin-seven .jw-icon-volume {
  min-width: 2.6em;
}
.jw-skin-seven .jw-time-tip,
.jw-skin-seven .jw-menu,
.jw-skin-seven .jw-volume-tip,
.jw-skin-seven .jw-skip {
  border: 1px solid #333333;
}
.jw-skin-seven .jw-time-tip {
  padding: .2em;
  bottom: 1.3em;
}
.jw-skin-seven .jw-menu,
.jw-skin-seven .jw-volume-tip {
  bottom: 0.24em;
}
.jw-skin-seven .jw-skip {
  padding: .4em;
  -moz-border-radius: 1.75em;
  border-radius: 1.75em;
  /* Sets the style for the skip text. */
}
.jw-skin-seven .jw-skip .jw-text,
.jw-skin-seven .jw-skip .jw-icon-inline {
  color: #fff;
  line-height: 1.75em;
}
.jw-skin-seven .jw-skip.jw-skippable:hover .jw-text,
.jw-skin-seven .jw-skip.jw-skippable:hover .jw-icon-inline {
  color: #ff0046;
}
.jw-skin-seven.jw-tab-focus:focus {
  outline: none !important;
}
.jw-skin-seven#myElement ~ div {
  display: block;
}

/* Play Button */
.jw-skin-seven ~ #player_play_button {
    display: none !important;
}
.jw-skin-seven.jw-state-idle ~ #player_play_button {
    display: block !important;
}


/* Related in video */
#player_my_related {
    bottom: 60px!important;
}
.jw-skin-seven.jw-state-idle ~ #player_my_related,
.jw-skin-seven.jw-state-playing ~ #player_my_related,
.jw-skin-seven.jw-state-buffering ~ #player_my_related,
.jw-skin-seven.jw-state-error ~ #player_my_related,
.jw-skin-seven.jw-flag-dragging ~ #player_my_related {
    display: none !important;
}

/* Overlay */
.jw-skin-seven#myElement.jw-state-playing ~ #player_overlay{
    z-index: 1!important;
}
.jw-skin-seven#myElement.jw-state-playing ~ #player_overlay,
.jw-skin-seven#myElement.jw-state-buffering ~ #player_overlay,
.jw-skin-seven#myElement.jw-state-error ~ #player_overlay,
.jw-skin-seven#myElement.jw-flag-dragging ~ #player_overlay {
  display: none;
}

/* Close and Play */
.jw-skin-seven#myElement.jw-state-playing ~ .player_stop,
.jw-skin-seven#myElement.jw-state-buffering ~ .player_stop,
.jw-skin-seven#myElement.jw-state-error ~ .player_stop,
.jw-skin-seven#myElement.jw-flag-dragging ~ .player_stop {
    display: none;
}

/* Hide play button */
.jw-skin-seven.jw-state-idle .jw-display-icon-container {
    display: none;
}