/* ---------------- START Facebook / Next Story -----------------*/
.big-social {
  border: 0px solid black; }
  .big-social .facebook {
    background: #3B5998;
    margin: 1% 1% 1% 0;
    float: left; }
  .big-social a {
    display: block;
    float: right;
    margin: 1% 0 1% 1%;
    padding: 10px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    width: 49%;
    background: #c90000; }
    .big-social a span.short {
      display: none; }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .big-social a span.long {
        display: none; }
      .big-social a span.short {
        display: inline; } }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .big-social a span.long {
        display: none; }
      .big-social a span.short {
        display: inline; } }
  .big-social p {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: inherit; }

/* ---------------- END Facebook / Next Story -----------------*/
/* ---------------- START Most Popular -----------------*/
@media only screen and (min-width: 1101px) and (max-width: 1600px) {
  .et_right_sidebar #sidebar {
    float: left;
    width: 300px; } }
@media only screen and (min-width: 981px) and (max-width: 1100px) {
  .et_right_sidebar #sidebar {
    width: 300px; } }
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .et_right_sidebar #sidebar {
    display: none;
    width: auto;
    margin: 0 auto; } }
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .et_right_sidebar #sidebar {
    display: none;
    width: 400px !important;
    margin: 0 auto; } }
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .et_right_sidebar #sidebar {
    display: none; } }

@media only screen and (min-width: 1101px) and (max-width: 1600px) {
  .et_right_sidebar #left-area {
    width: 760px;
    margin-right: 20px; } }
@media only screen and (min-width: 981px) and (max-width: 1100px) {
  .et_right_sidebar #left-area {
    width: 640px;
    margin-right: 20px; } }
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .et_right_sidebar #left-area {
    width: 400px; } }
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .et_right_sidebar #left-area {
    width: 100% !important; } }

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .srp-widget-container {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }

  .srp-widget-singlepost {
    border: none;
    margin-right: 10px; }

  .srp-post-content-container {
    max-width: 350px; } }
.srp-post-content-container {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
  @media only screen and (max-width: 40em) {
    .srp-post-content-container {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: flex-start;
      align-items: flex-start; } }

.srp-thumbnail-box {
  width: 30%;
  margin: 0 10px 10px 0; }
  @media only screen and (max-width: 40em) {
    .srp-thumbnail-box {
      width: 30%;
      margin: 0 10px 10px 0; } }

.srp-content-box {
  width: 60%; }
  @media only screen and (max-width: 40em) {
    .srp-content-box {
      width: 60%; } }

@media only screen and (max-width: 767px) {
  #fb_content_3 {
    display: none; } }

/* ---------------- END Most Popular -----------------*/
/* ---------------- START video next/prev overlay -----------------*/
.sg-video {
  position: relative; }

.post a img.video_nextprev {
  top: 42%;
  top: calc(50% - 50px);
  position: absolute;
  z-index: 900;
  opacity: 0.8;
  width: 39px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }

.post a:hover img.video_nextprev {
  opacity: 1;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }

.video_nextprev.next {
  right: 0; }

.video_nextprev.prev {
  left: 0; }

/* ---------------- END video next/prev overlay -----------------*/
#facebook-comments {
  margin-top: 2em; }

/*# sourceMappingURL=style.css.map */
