/*
 Theme Name:     Sun Gazing Custom Theme
 Theme URI:      http://www.ohthiskid.com
 Author:         Ohthiskid Design
 Template:       Divi
 Version:        1.0.0
*/

@import url("../Divi/style.css?v=20150106");
@import url("font-awesome/css/font-awesome.min.css");
@import url("build/style.css?v=20150106");

/* =Theme customization starts here
------------------------------------------------------- */
body {font-size: 15px;}
.et_pb_widget_area_left {border-right: 0px solid #e2e2e2;}
.et_pb_section {padding: 0px 0;}
.et_pb_image {margin-bottom: 0px;}
.single .et_pb_post {border-bottom: 0px solid;}
.form-allowed-tags, #main-content .container:before {display: none;}
h1 {font-size: 22px;}
h2 {font-size: 18px;}
.et_pb_post .entry-content, .project .entry-content {padding-top: 0px;}
#main-content .container {padding-top: 5px;}
.single #main-content .container {padding-top: 0px; margin-top: -5px;}
.post {margin-top: 15px;}
.page .post {margin-top: 0px;}
#main-content, .et_pb_section {background-color: #f6f7f8 !important;}
.et_pb_text {width: auto; margin-bottom: 0px;}
.et_fixed_nav #page-container {padding-top: 65px;}


.float-right {float: right;}
.float-left {float:left;}

#heading-text {
border-left: 15px solid rgb(201, 0, 0);
margin-bottom: 5px;
padding: 10px 0 9px 5px;
margin-bottom: 7px;
color: #fff;
background: #535353;
border-radius: 0px;
text-transform: uppercase;
}
#heading-text h1, #heading-text h2, #heading-text h3, #heading-text h4 {font-size: 18px; color: #fff; padding-bottom: 0px;}
.hti {border-left: 15px solid #f1c40f!important;}
.htn {border-left: 15px solid #2ecc71 !important;}
.hthe {border-left: 15px solid #3498db!important;}
.hthu {border-left: 15px solid #e74c3c!important;}



/* Header */
#main-header .et_nav_text_color_light .et-search-form input, #main-header .et-search-form input {
width: 280px;
padding: 10px 4px;
background-color: #fff !important;
border: none;
font-size: 14px;
color: #333 !important;
}
#logo-container {width: 300px;}
.et_fixed_nav #logo {
max-height: 40px;
margin-bottom: 0;
margin-top: -10px;
margin-left: 5px;
}
#logo {margin-top: -16px;}
#top-menu li > a {
padding-bottom: 0px;
}
#main-header nav#top-menu-nav {
padding-top: 7px;
}
#et_top_search {
margin: 12px 0 0 22px;
}
#top-menu li > a, #et-secondary-nav > li > a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
#top-menu li > a:hover, #et-secondary-nav > li > a:hover { color: #fff !important;}

#main-header #top-menu li.current-menu-item > a {border-bottom: 2px solid !important;}

#et-secondary-menu, #top-follow {display: inline-block;}
.top-social-f {margin-top: -9px;}

.et_nav_text_color_light .et-search-form input {background-color: rgba(255,255,255,1);}
.et-search-form {
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
top: 31px;
right: 0;
display: none;
position: absolute;
z-index: 1000;
background: #fff;
border-top: 3px solid #7EBEC5;
padding: 13px;
}

/* Colors */
.nature a {color: #2ecc71 !important;}
.health a {color: #3498db!important;}
.inspiration a {color: #f1c40f!important;}
.humanity a {color: #e74c3c!important;}
.browse a {color: #e67e22!important;}
.submit a {color: #1abc9c!important;}
.about a {color: #9b59b6!important;}
.shop a {color: #bdc3c7!important;}

/* Social */
.et-social-icon a {
font-size: 14px;
}
.et-social-icons {
margin-top: -40px;
}
ul.inline {
margin-left: -4px;
list-style: none;
display: inline-block;
padding: 5px 0 0 0 !important;
}
ul.inline>li, ol.inline>li {
display: inline-block;
padding-left: 5px;
padding-right: 5px;
}



/* Homepage */


#homepage-slider .advps-slide-container {
margin: 0 auto !important;
margin-bottom: 20px !important;
}

.et_pb_column_1_4 .et_pb_newsletter_description, .et_pb_column_1_4 .et_pb_newsletter_form {width: auto;}
#about-box {
padding: 0px;
font-size: .9em;
line-height: 1em;
background-color: #535353;
border-left: 20px solid rgb(201, 0, 0);
border: 0px solid #d9d9d9;
}
#about-box h5 {
text-transform: uppercase;
color: #fff;
font-size: 18px;
border-left: 20px solid rgb(201, 0, 0);
padding: 10px 5px 10px 7px;
line-height: 1.2em;
border-radius: 3px;
}
#about-box .et_pb_toggle_title:before {
	display: none;
font-size: 16px;
color: #fff;
margin-top: 12px;
}
#about-box .et_pb_toggle_content {color: #fff; padding: 10px;line-height: 1.3em;}
#about-box p {
line-height: 1.3em;
padding: 9px;
}
#banner-top {width:468px; float:right; margin-top: -11px;}

#top-spread .et_pb_row .et_pb_column:last-child {float:right;}

.et_pb_image_container {margin: 0px 0px 0px;}
.et_pb_blog_grid .et_pb_post {background: transparent!important;}

/* About Page */
#about-page .et_pb_column {margin-right: 30px;}
#about-page .et_pb_row .et_pb_column:last-child {
margin-right: 0;
width: 700px;
}
#about-page .et_pb_widget {
float: none;
display: inline-block;
vertical-align: top;
}




/* Newsletter */
.et_pb_column_1_3 .et_pb_newsletter_description, .et_pb_column_1_4 .et_pb_newsletter_description, .et_pb_column_3_8 .et_pb_newsletter_description {
padding: 0 15px;
}
.et_pb_column_1_3 .et_pb_newsletter, .et_pb_column_1_4 .et_pb_newsletter, .et_pb_column_3_8 .et_pb_newsletter {
padding: 15px 0;
}
.et_pb_column_1_3 .et_pb_newsletter_form, .et_pb_column_1_4 .et_pb_newsletter_form, .et_pb_column_3_8 .et_pb_newsletter_form {
padding-left: 15px;
}
.et_pb_newsletter_form {
float: left;
width: 260px;
padding-right: 15px;
}
.et_pb_newsletter_form p input {
font-size: 14px;
border: none !important;
padding: 9px 7% !important;
font-size: 14px;
color: #666;
background-color: #fff;
width: 100%;
}
.et_pb_column_1_4 .et_pb_newsletter_form p input {
width: 100%;
}
.et_pb_signup_firstname, .et_pb_signup_lastname {display: none !important;}

/* Buttons */
.et_pb_pricing_table_button, .et_pb_promo_button, a.et_pb_more_button, .et_pb_newsletter_button, .comment-reply-link, .form-submit input, .et_pb_contact_submit, .et_pb_contact_reset, .single_add_to_cart_button .button {
font-size: 14px;
font-weight: 500;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 5px 14px;
}
.et_pb_contact_right p input {padding: 9px !important;}
.et_pb_promo_button:hover, a.et_pb_more_button:hover, .et_pb_newsletter_button:hover {
background: rgba( 255, 255, 255, 0.2 );
border: 2px solid transparent;
padding: 4px 30px 4px 8px !important;
}
.et_pb_pricing_table_button:after, .et_pb_promo_button:after, a.et_pb_more_button:after, .et_pb_newsletter_button:after, .comment-reply-link:after {
font-size: 22px;}
/* Sidebar */
.et_pb_widget_area .et_pb_widget a, .et_pb_widget a {font-size: 16px; display:inline-block; font-weight: normal; line-height: 21px !important; color: #000;}
.et_pb_widget_area .et_pb_widget #taboola-sidebar-thumbnails a, .et_pb_widget #taboola-sidebar-thumbnails a {display:block;}
.et_pb_widget a img {padding: 0px 0px !important;}
.et_pb_widget_area ul, .et_pb_widget ul {line-height: 18px !important;}
.et_pb_widget ul li {margin-bottom: 9px;}
#main-area-home .et_pb_widget ul li {margin-bottom: 20px;}}
.widgettitle {
border-left: 15px solid rgb(201, 0, 0);
padding-bottom: 0px;
padding: 10px 0 9px 5px;
margin-bottom: 7px;
color: #fff;
background: #535353;
border-radius: 2px;
text-transform: uppercase;
}
.widget_search {margin-right: 0px !important;}
.widget_search #s {color: #666 !important; width: 70%;}

.page #main-area-home .et_pb_row .et_pb_column:last-child .et_pb_widget {margin-right: 0px !important;}
#sidebar {margin-top: 15px;}
#sidebar .et_pb_widget {margin: 0 0 20px 0px;}
.et_pb_widget {margin: 0 10px 15px 0;}
#sidebar .rpwe-thumb, .et_pb_row .rpwe-thumb {border: 0px solid #EEE!important;box-shadow: none!important;margin: 0px 0px 0px 0;padding: 0px!important;}
.rpwe-block li {border-bottom: 0px solid #eee !important;padding-bottom: 0px !important;}
.widget_text #top-follow {margin-top: 10px;}
.wpinstagram-widget-item {display: inline;}
.popular-posts ul li, .rpwe_widget .rpwe-ul li {margin-bottom: 5px;border-bottom: 2px solid #e8ad00 !important; padding-bottom: 3px; display: inline-block;}
.rpwe-block h3 {display: inline-block;padding:3px 0 1px 0;}
.et_pb_column_4_4 .et_pb_widget_area_left .et_pb_widget, .et_pb_column_4_4 .et_pb_widget_area_right .et_pb_widget, .et_pb_column_2_3 .et_pb_widget_area_left .et_pb_widget, .et_pb_column_2_3 .et_pb_widget_area_right .et_pb_widget {
background: transparent;}
.widget_wpinstagramimageswidget {margin-right: 0px !important;}
.et_pb_column_1_4 .et_pb_widget_area_left .et_pb_widget {margin-right: 0px !important;}

.srp-widget-singlepost {
    border: 0px solid #ccc;
    margin-bottom: 8px;
    padding: 4px;
    background-color: #fff;
}
.srp-post-title {padding-bottom: 0px;}
.srp-thumbnail-box {margin: 0 10px 0px 0;}


.widget_dpe_fp_widget .post, .dpe-flexible-posts li {padding: 0px!important;border-radius: 0px!important;margin-top: 7px!important;}
.et_pb_widget a {max-width: 100%;}

/* Posts */
.et_pb_post {
margin-bottom: 15px;
padding-bottom: 10px;
background-color: #FCFCFC;
padding: 10px;
border-radius: 3px;
}
p img, .post img {
opacity: 1;
-webkit-animation: fadeIn 1.3s 1 cubic-bezier(0.77,0,.175,1);
-moz-animation: fadeIn 1.3s 1 cubic-bezier(0.77,0,.175,1);
-o-animation: fadeIn 1.3s 1 cubic-bezier(0.77,0,.175,1);
animation: fadeIn 1.3s 1 cubic-bezier(0.77,0,.175,1);
}
#left-area .post-meta {font-size: 13px; padding-bottom: 0px;}
.single .post {
padding-bottom: 25px;
background-color: #ffffff;
border-radius: 2px;
padding: 8px;
box-shadow: 2px 3px 4px 0px rgba(165, 165, 165, 0.48);
}
.single .post h1 {color: rgb(201, 0, 0);padding-bottom: 3px;}
.et_pb_post .post-meta {margin-bottom: 10px;}
.post h2 a, .widget_dpe_fp_widget h4 {color:rgb(201, 0, 0);
	font-weight: normal;
    font-size: 15px;
    line-height: 19px;}
.widget_dpe_fp_widget h4 {padding-left: 5px;padding-right: 5px;padding-bottom: 3px;}
#main-area-home .widget_dpe_fp_widget h4 {padding-left: 0px;padding-right: 0px;padding-bottom: 3px;}

.et_pb_post h2 {margin-top: 5px;}
#commentform {padding-bottom: 0px;overflow: hidden;}
#comment-wrap {padding-top: 0px; margin-bottom: 20px;}
.post-navigation{margin-top: 25px;width:100%;margin: 0 auto;overflow: hidden;}
#previous, #next {text-align: center; width: 160px; padding:10px;border-radius: 3px; background-color: rgb(201, 0, 0); color:#fff !important; font-size: 16px;margin: 5px;display: inline;}
#previous a, #next a {color: #fff;}
#previous {float:left;}
#next{float: right;}
.pagination .alignleft a, .pagination .alignright a {text-align: center; width: 160px; padding:10px;border-radius: 3px; background-color: rgb(201, 0, 0); color:#fff !important; font-size: 16px;margin: 5px;display: inline;}
.pagination .alignleft, .pagination .alignright {min-height: 35px;}
.pagination {margin-top: 10px;}
#below-content-ad{padding: 0px 0px;}
#below-content-widget{padding: 20px 0px 10px 0px; width:300px; float: right;}
#below-content-widget .et_pb_widget {}
#left-area #below-content-widget ul {padding: 0 0 0px 0px !important;}


/* SLidehow */
.post .slide-nav i.fa {background-color: transparent;}
.post .post-slider-wrap .slider-image img {margin: 0 auto;}
.post .post-slider-wrap .slide-nav .slide-numbers {vertical-align: 5px;}
.post .slider-image {padding-left: 0px;}
.post .post-slider-wrap .slide-content-container h3.slide-title {font-weight: bold; font-family: inherit;}

/* Pages */
#about-logo {margin-top: -28px; margin-left: -16px;}


/* Ads */
#tbad {margin: 0 auto; text-align: center; padding-top: 10px; margin-bottom: 0px;}
#store-banner {margin-top:10px; padding-bottom: 10px;}
#below-title-ad {margin-bottom: 10px;}
.centered-ad {display: block;text-align: center!important;width: 300px!important;margin: 0 auto!important;}

/* Sharing */
.entry-content .ra1-pw, .entry-content .pw-widget {margin-top: 10px;}
#respond {padding-top: 0px;text-align: center;}
.fb_iframe_widget {padding: 10px 0;}

/* Post Sharing CSS */
.fb_like_and_share {
		display: table-row;

	}
	.fb_like_and_share .pw-icon, .big-buttons .pw-icon{
		display: none !important;
	}
	.facebook.pw-widget{
		text-align: center;
		border-radius: 5px !important;
	}
	.facebook .pw-button{
		margin: auto !important;
		font: bold 16px/27px 'PT Serif', Georgia, 'Times New Roman', serif !important;
		padding: 10px 0px !important;		
		float: none;
		cursor: pointer;
	}

	.wrapper_fb_like {
		display: table-cell;
		min-width: 85px;
		margin-right: 20px;
		overflow: hidden;
		vertical-align: middle;
	}
	.fb_like_and_share .fb_like_out {
		height: 54px;
		display: table;
		margin: 10px auto;
		border: 2px solid #3c56a2;
		padding: 0 12px;
		-webkit-border-top-left-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}
	.fb_like_out {
		min-width: 85px;
		overflow: hidden;
	}
	.fb_like_out .fb_thumb {
		display: block;
		width: 130px;
		float: left;
		height: 50px;
	}
	.fb_like_out .fb_thumb .icon{
		display: block;
		width: 32px;
		height: 32px;
		background-image: url(http://www.sun-gazing.com/wp-content/uploads/2015/09/fb_thumb.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		float: left;
		margin: 9px 5px 9px 0;
	}
	.fb_like_out .fb_thumb .text {
		font-size: 20px;
		color: #3c56a2;
		font-weight: bold;
		float: left;
		height: 32px;
		line-height: 19px;
	}
	.fb_like_out .fb_thumb .text span:nth-child(1) {
		float: left;
		text-align: center;
		font-size: 22px;
		margin: 6px 0;
	}
	.fb_blueArrow {
		float: left;
		margin: 12px 0px 0px 8px;
		max-width: 26px;
	}
	.fb_like_and_share .fb-like {
		display: table-cell;
		margin: 10px;
		position: relative;
		margin-bottom: 10px;
		vertical-align: middle;
	}
	.wrapper_fb_share {
		display: table-cell;
		width: 100%;
	}
	.big-buttons .pw-button-facebook{
		background-color: #3c56a2 !important;
		width: 100% !important;
		float: left !important;
		height: 47px !important;
		margin: 8px 0px !important;
		line-height: 45px !important;
		cursor: pointer;
	}
	.big-buttons .pw-widget{
		display: inline;
		float: left;
		width: 50%;
	}
	.big-buttons .ra1-lt-icon-facebook,
	#facebook-share-top-video .ra1-lt-icon-facebook{
		background: url(http://www.sun-gazing.com/wp-content/uploads/2015/09/fb_ico.png) no-repeat 10px;
	}
	.big-buttons .ra1-lt-icon-facebook{
		display: table-cell;;
		width: 54px;
		height: 44px;
	}
	.big-buttons .pw-button-text{
		font:bold 18px/46px Verdana,Tahoma !important;
		display: table-cell;;
		vertical-align: middle;
	}
	#facebook-share-top-video {
		display: table;
		height: 54px;
		width: 100%;
		margin: 10px auto;
	}
	#facebook-share-top-video .pw-button-facebook{
		background-color: #3c56a2 !important;
		display: table-row!important;
		overflow-y: hidden!important;
		margin: 10px!important;
		position: relative!important;
		cursor: pointer;
	}
	#facebook-share-top-video .ra1-lt-icon-facebook{
		border-radius: 0px;
		padding: 0 18px 0;
		display: table-cell;
		top: 0;
	}
	#facebook-share-top-video .pw-button-text{ 
		text-align: center !important;
		font: 700 26px/58px Arial,Helvetica,sans-serif;
		display: table-cell;
		width: 100%;
		border-radius: 0 6px 6px 0;
		vertical-align: middle;
		color: white;
		padding: 0 5px;
	}
	#facebook-share-top-video .pw-button-counter {
		display: table-cell !important;
		padding: 0 0 0 10px !important;
		margin: 1px; 
		background: #F8F8F8;
		width: 58px;
		text-align: center;
		display: none;
		position: relative;
		font: 18px/24px Arial,Helvetica,sans-serif !important;
	}
	#facebook-share-top-video .pw-button-counter__brd{
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0px 9px 9px 0;
		border-color: transparent #ADADAD;
		display: block;
		width: 0;
		z-index: 2;
		left: 2px;
		top: 41%;
		margin: 0 !important;
		height: auto !important;
		background: 0;
	}
	#facebook-share-top-video .pw-button-counter__brd:after{
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0px 7px 7px 0;
		border-color: transparent #FFF;
		display: block;
		width: 0;
		z-index: 1;
		left: 2px;
		top: 1px;
	}
	#facebook-share-top-video .pw-button-counter__count.ra1-pw-button-counter-value {
		border: 1px solid #ADADAD;
		padding: 0 10px;
		border-radius: 6px;
		color: #575757;
		height: 100%;
		display: table;
		text-align: center;
	}
	#facebook-share-top-video .pf-counter-value {
		display: table-cell;
		vertical-align: middle;
		font: 18px/24px Arial,Helvetica,sans-serif !important;
	}
	@media all and (max-width: 1100px){
		.pw-hide-tier-one{
			display: none !important;
		}
	}
	@media all and (max-width: 767px){
		.pw-hide-tier-one{
			display: none !important;
		}
		.fb_thumb{
			display: none !important;
		}
		#facebook-share-top-video .pw-button-text{
			font-size: 15px !important;
		}
		.big-buttons .pw-hide-tier-two{
			display: none !important;
		}
		.big-buttons .pw-button-text{
			font-size: 30px !important;
		}
		.big-buttons .pw-button-facebook {
			margin: 4px 0px !important;
		}
	}

/*social sharing buttons*/
#customThree .thumbnail{
	background-position: -400px 0;
}
#fb_content_3 .pw-button-email {
	cursor: pointer; 
    width: 85px!important;
    height: 42px !important;
    background: url(http://sun-gazing.com/wp-content/uploads/2014/07/sharesprite.png) 0 0 !important;
}
#fb_content_3 .pw-button-twitter {
	cursor: pointer;
    width: 85px!important;
    height: 42px!important;
    background: url(http://sun-gazing.com/wp-content/uploads/2014/07/sharesprite.png) 0 -44px !important;
}
#fb_content_3 .pw-button-facebook {
	cursor: pointer; 
    width: 85px!important;
    height: 42px!important;
    background: url(http://sun-gazing.com/wp-content/uploads/2014/07/sharesprite.png) 0 -88px !important;
}
#fb_content_3 .pw-button-pinterest {
	cursor: pointer;
	width: 85px!important;
	height:  42px!important;
	background: url(http://sun-gazing.com/wp-content/uploads/2014/07/sharesprite.png) 0 -132px !important;
}
#fb_content_3 .pw-button-googleplus {
	cursor: pointer; 
    width: 85px!important;
    height: 42px!important;
    background: url(http://sun-gazing.com/wp-content/uploads/2014/07/sharesprite.png) 0 -176px !important;
}
#fb_content_3 .pw-button-post {
	cursor: pointer; 
    width: 85px!important;
    height: 42px!important;
    background: url(http://sun-gazing.com/wp-content/uploads/2014/07/sharesprite.png) 0 -220px !important;
}
#fb_content_3 .pw-button .pw-icon {
	display: none !important;
}

#fb_content_3 .pw-box-counter{
	font-size: 10px !important;
	z-index: 1000 !important;
	color: rgb(255, 255, 255);
	position: absolute;
	margin-left: -30px !important;
	margin-top: 21px !important;
} 

#share-video-overlay {
position: relative;
right: 40px;
top: -190px;
list-style-type: none;
display: block;
opacity: 0;
filter: alpha(opacity=0);
-webkit-transition: opacity .4s, top .25s;
-moz-transition: opacity .4s, top .25s;
-o-transition: opacity .4s, top .25s;
transition: opacity .4s, top .25s;
z-index: 500;
}

#share-video-overlay:hover { 
opacity:1;
filter:alpha(opacity=100);
}

.share-video-overlay  li { 
margin: 5px 0px 5px 0px;

}
#facebook {
color: #ffffff;
background-color: #3e5ea1;
width: 70px;
padding: 5px;
}

.facebook a:link, .facebook a:active, .facebook a:visited { 
color:#fff;
text-decoration:none;
} 

#twitter { 
background-color:#00a6d4;
width: 70px;
padding: 5px;
} 

.twitter a, .twitter a:link, .twitter a:active, .twitter a:visited, .twitter a:hover { 
color:#FFF;
text-decoration:none;
}

.big-social a:hover {opacity: .8;}
.big-social a {width:28%;}
.big-social .big-buttons .facebook {width: 49%!important;margin: 1% 0% 1% 0!important;}
.big-social .big-buttons .email-it {width:10%!important;background:#5A5A5A;}
.big-social .big-buttons .twitter-it {width:10%!important; background:#00aced;}

/* Bottom Attached Social Buttons */
.bottom-attached-social {width: 100%;text-align:center;z-index: 999; position: fixed; bottom: 0;background-color: #fff; padding-top: 3px;}
.fourth-buttons {width:100%;}
.bottom-share-link {width: 24%;display: inline-block;text-align: center; padding: 8px 0 8px 0;}
.bottom-attached-social .fourth-buttons a { width:100%!important ;margin:0;color:#fff;}
#nebot {background:#c90000;}
#fbbot {background:#3B5998;}
#embot {background:#5A5A5A;}
#twbot {background:#00aced;}

/*Twitter*/
.twitter{background:#6BC0DB;}
.twitter:hover{background:#78D5F3;}
/*Facebook*/
.facebook{background:#3B5998; width:48%;}
.facebook:hover{background:#4669B3;}
/* Mailchimp */
#mc_embed_signup .et_pb_contact_submit{color: #fff !important;
font-size: 14px;
font-weight: 500;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 4px 15px;
background: #e8ad00;
border: 0px solid;
display: inline;
margin-top: -33px;
}
.et_pb_contact_submit:hover, .et_pb_contact_reset:hover {
padding: 4px 15px !important;
}
#mce-EMAIL{background-color: #fff;
border: none!important;
width: 100% !important;
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 2px !important;
font-size: 14px;
color: #999 !important;
padding: 9px !important;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 100% !important;
}
#mc_embed_signup div.mce_inline_error {width:185px;display: none;}
.mc-field-group {width:100%; display: inline;}
#widget-email {padding: 15px;
    background: #E74C3C;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
    color: #fff;
    line-height: 22px;
    font-size: 24px;
    font-weight: bold;
}
#widget-email .email-text {margin:5px 0px 10px 0px;}
#widget-email #mc-embedded-subscribe {
    margin: 0 auto;
    padding: 8px 28px;
    background: #000;
    color: #fff;
    margin-top: 5px;
    border: 0px!important;
    font-size: 15px;
    font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
    opacity: 1;
}

#below-video-ad-mobile {
	margin-bottom: 25px;
	margin-top: -15px;
}

#widget-email #mc-embedded-subscribe:hover {background: rgba(0,0,0,.8);cursor: pointer;font-weight: bold}

.pb_feed.pb_feed_rendered {
	margin-bottom: -40px;
	margin-top: -15px;
}
#bottom-email {
	margin-top: -10px;
	padding: 20px 20px;
    background: #E74C3C;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
    color: #fff;
    line-height: 26px;
    font-size: 27px;
    font-weight: bold;
}
#bottom-email .email-text {margin:5px 0px 20px 0px;}
#bottom-email #mc-embedded-subscribe {
    margin: 0 auto;
    padding: 8px 28px;
    background: #000;
    color: #fff;
    margin-top: 10px;
    border: 0px!important;
    font-size: 19px;
    font-family: 'PT Sans', Helvetica, Arial, Lucida, sans-serif;
    opacity: 1;
}
#bottom-email #mc-embedded-subscribe:hover {background: rgba(0,0,0,.8);cursor: pointer;font-weight: bold}
#bottom-email #mce-EMAIL {
    background-color: #fff;
    border: none!important;
    width: 100% !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 2px !important;
    font-size: 14px;
    color: #999 !important;
    padding: 11px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;}

/* Archive */
.archive h2 {
font-size: 20px;
margin-top: 30px;
padding-top: 30px;
border-top: 1px solid #666;
color: rgb(201, 0, 0);
}

body #ad_divLeft {
overflow: hidden;
border: 0px solid #3c95d9;
left: 0px;
position: absolute;
display: inline;
top: 175px;
margin-right: 0px;
float: left;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
background-color: transparent;
padding: 0 0 2px 0;
z-index: 10;
}

.home #ad_divLeft, .page-id-2367 #ad_divLeft, .page-id-2514 #ad_divLeft, .page-id-2512 #ad_divLeft, .page-id-2509 #ad_divLeft, .page-id-2516 #ad_divLeft {display: none !important;}

.mobile-only { margin: 0 auto; text-align: center;}
.ad-container {width: 100%; margin-top: 10px;}

/* Smooth Slider */
.smooth_slider span, .smooth_more {display: none!important;}

/* Carousel */
.recentposts_carousel {
	font-size: 15px;
	color: rgb(201,0,0);
	line-height: 19px;
    text-align: left;
    position: fixed;
    bottom: 0px;
    background: #f6f7f8 !important;
    padding: 5px;
}
.owl-item p {display: none;}
.owl-carousel .owl-item div {
    height: 220px!important;
    overflow: hidden;
}
.owl-item {margin-right: 5px;}
.owl-item img {
    max-width: 135%;
    height: auto;
    margin: 0px 0px 0px -20px;
}
.owl-theme .owl-controls {margin-top: 0px;}
.owl-theme .owl-controls .owl-page span { margin: 0px 7px; width: 10px; height: 10px;}


@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) {
	.et_pb_column {
	float: left;
	margin-right: 10px;
	}
	.et_pb_column_2_3 {width: 630px;}
	}
	.page #main-area-home .et_pb_column_1_4 {
	width: 160px;
	    margin-right: 10px;
	}
	.page #main-area-home .et_pb_row .et_pb_column:last-child{
	width: 300px;
	}
	.page #main-area-home .et_pb_column_1_2 {
	width: 480px;
	}
	.et_pb_blog_grid .et_pb_post {
	margin: 0 0px 0px 0;
	
	}
	.page #main-area-home .et_pb_column_1_2 {
    width: 470px;}
	.et_pb_blog_grid .et_pb_post {width: 230px;margin-right: 10px;}
	.desktop-hide {display: none;}
	.mobile-only, .mobile-vertical-only {display:none;}
	.ipad-only {display: none;}
	#post-2367 .et_pb_column_2_3 {width: 620px;}
	.et_pb_column_4_4 .et_pb_widget_area_left .et_pb_widget, .et_pb_column_4_4 .et_pb_widget_area_right .et_pb_widget {width: 225px;}
}

@media only screen and (max-width: 980px){
#home-top-store-ad {display: none;}
.et_pb_column_4_4 {width: 100%!important;}
.et_fixed_nav #logo {margin-top: -6px;}
}

@media only screen and (min-width: 768px) and (max-width: 980px){
	.et_pb_column {
	float: left;
	margin-right: 10px;
	}
	#main-area-home .et_pb_column:last-child {width: 300px; margin:0 auto;}
	.et-social-icons {
	margin-top: -10px;
	margin-left: -29px;
	}
	#main-header #et_mobile_nav_menu {
	margin-top: 2px !important;
	}
	body .page #main-area-home .et_pb_column_1_2 {
    width: 500px;
    margin-left: 10px;}
	.mobile-hide{display: none;}
	.mobile-only, .mobile-vertical-only {display:none;}
	#top-spread .et_pb_image {width: 340px !important;}
	.et_pb_widget {width:300px; margin:0 auto;}
	#top-spread .et_pb_column {float: none;width: 200px;margin: 0 auto;}
	.et_pb_blog_grid .et_pb_post {width: 245px;}
	.et_pb_widget a img { width: 100%!important;}
	#slider-section .et_pb_column_4_4 {padding-bottom: 0px;}
	#main-area-home .et_pb_column:last-child .et_pb_widget_area, #top-spread .et_pb_column_1_2, #top-spread .et_pb_column:last-child {display: none;}
}

@media only screen and (min-width: 481px) {
.et_pb_blog_grid .et_pb_post{
	background: transparent!important;
	padding: 0px;
	border: 0px solid!important;
}
}

@media only screen and (min-width: 481px) and (max-width: 767px){
	.et_pb_row, .container, .et_pb_container {width: 98%;}
	.et_pb_row .et_pb_column:last-child {width: 300px; margin:0 auto;}
	.et_left_sidebar #left-area {width: 400px;}
	.et-social-icons {
	margin-top: -10px;
	margin-left: -29px;
	}
	#main-header #et_mobile_nav_menu {
	margin-top: 3px;
	}
	#feedback_04ovagCZzqJ4mdaoY {width: 380!important;}
	.mobile-hide, .mobile-vertical-only {display: none;}
	.mobile-only {display: block;}
	#top-sp-logo { max-width: 200px;}
	body #ad_divLeft {display: none!important;}
	.page #main-area-home .et_pb_column_1_2 {width: 70% !important;}
	.page #main-area-home .et_pb_column_1_4 {width: 29% !important;}
	
	#main-area-home .et_pb_column:last-child {width: 300px!important;}
	#main-area-home .et_pb_column:last-child .et_pb_widget_area, #top-spread .et_pb_column_1_2, #top-spread .et_pb_column:last-child {display: none;}
	.page #main-area-home .et_pb_column_1_4 {margin-right: 1%!important;}
	.et_pb_widget a img { width: 100%!important;}
	#slider-section .et_pb_column {width: 100%;}
	.et_pb_blog_grid .et_pb_post {
    width: 48%;
    margin-right: 1%;}
} 
@media only screen and (max-width: 480px){
	.big-social a {width:30%;}
	.big-social .big-buttons .facebook {width: 41%!important;}
	.big-social .big-buttons .email-it {width:13%!important;}
	.big-social .big-buttons .twitter-it {width:13%!important; }
	.single .post h1 {padding-top: 10px;}
	#footer-bottom {margin-bottom: 30px;}
	.et_pb_post h2, .et_pb_blog_grid h2 {
    font-size: 13px;
    padding-bottom: 0;
    line-height: 16px;
    font-weight: normal;
	}
	.post h2 a {
    font-size: 13px!important;
    line-height: 16px!important;
	}
	.page .et_pb_row, .home .container, .page .et_pb_container {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0 0;}
    .page #main-area-home .et_pb_column_1_4 {margin-right: 0px; padding: 0px 0px; }
    .page #heading-text {width: 90%; margin: 0 auto;}
    #about-box {display: none!important;}
    .et_pb_blog_grid .et_pb_post {
    width: 48%;
    padding: 2px;
    margin-right: 1px;
    margin-left: 1px;
	}
	.et_pb_blog_grid_wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 98%;
	}
	.et_pb_widget_area {width: 96%;margin: 0 auto;}
	.owl-item {margin-right: 0px;}
	body.custom-background {background-color: #fff!important;}
	#top-spread .et_pb_row .et_pb_column:last-child, #top-spread .et_pb_column_1_2 {display: none;}
	#top-spread .et_pb_column {padding-bottom: 0px;}
	#slider-section .et_pb_row, .home #top-spread .et_pb_row {padding: 0px 0 0 0;}
	.page #main-area-home .et_pb_row .et_pb_column:first-child {display: none;}
	#slider-section {width: 98%; margin: 0 auto;}
	#top-spread {margin-bottom: 7px;}
}


@media only screen and (min-width: 300px) and (max-width: 480px){
	.et_left_sidebar #left-area, .et_pb_column {width: 100% !important;}

	#logo-container {
	width: 200px;
	}	
	#et_top_search {
	margin: 8px 0 0 22px;
	}
	#main-header #et_mobile_nav_menu {
	margin-top: -1px;
	}
	#main-header {
	line-height: 10px;
	min-height: 30px;
	padding-bottom: 11px;
	}
	.container, .et_pb_container, .et_pb_row .et_pb_column:last-child {
	width: 100%;
	}
	.et_pb_toggle {
	margin-bottom: 0px;
	}
	.et_pb_blog_grid .et_pb_post {
	background: transparent!important;
	margin-bottom: 20px;
	}
	
	.et_pb_column {
	padding-bottom: 20px;
	width: 320px;
	margin-left: 0px;
	}
	.single .post {box-shadow: 0px 0px 0px!important}
	#main-content, .et_pb_section {
	background-color: #f7f8f9 !important;
    overflow: hidden!important;
}
	.mobile-hide {display: none;}
	.no-mobile {display: none;}
	.mobile-only {display: block;}
	.ipad-only {display: none;}
	#homepage-slider{
	margin-bottom: 20px;
	}
	.advs-title a {font-size: 14px !important; line-height: 14px;}
	.advps-excerpt-block-one {margin-top: -5px;}
	.advps-excerpt-one {height: 34px!important;}
	.et-social-icons {
	margin-top: -10px;
	margin-left: -29px;
	}
	#top-sp-logo { max-width: 170px; padding: 5px;}
	body #ad_divLeft {display: none!important;}
	#mobile-ad2 {margin-left: 0px; margin-top: 10px;}
	#previous, #next {width: 110px;}
	#below-content-ad {margin-left: -10px;}
	#below-content-widget {width: 280px;}
	.post {margin-top: 0px;}
}

@media only screen and ( min-width: 1101px ) and ( max-width: 1600px ) {
	.page #main-area-home .et_pb_column_1_4 {
	width: 160px;
	}
	.page #main-area-home .et_pb_column_1_2 {
	width: 580px;
	}
	.page #main-area-home .et_pb_row .et_pb_column:last-child{
		width: 300px;
		margin-right: 0px;
	}
	.page #main-area-home .et_pb_column {
	margin-right: 20px;
	}
	.et_pb_column_4_4 .et_pb_widget_area_left .et_pb_widget, .et_pb_column_4_4 .et_pb_widget_area_right .et_pb_widget {
	width: 235px;
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
	}
	.et_pb_column_2_3 .et_pb_widget_area_left .et_pb_widget, .et_pb_column_2_3 .et_pb_widget_area_right .et_pb_widget {
	width: 309px;
	background: #fff;
	border-radius: 3px;
	padding: 10px;
	}
	#top-spread .et_pb_column_1_2 {
	width: 420px;
	}
	#top-spread {height:345px;}
	#top-spread .et_pb_column {margin-right: 0px;}
	#top-sp-logo {margin-top: -16px;}

	#main-area-home .et_pb_blog_grid .et_pb_post {
	margin: 0 20px 20px 0;
	width: 280px;
	border: 0px!important;
	box-shadow: none;
	padding: 0px;
	}
	.desktop-hide {display: none;}
	.mobile-only, .mobile-vertical-only {display:none;}
	.ipad-only {display: none;}
}