﻿@charset "UTF-8";

@font-face {
  font-family: "mgm";
  src:url("fonts/mgm.eot");
  src:url("fonts/mgm.eot?#iefix") format("embedded-opentype"),
    url("fonts/mgm.woff") format("woff"),
    url("fonts/mgm.ttf") format("truetype"),
    url("fonts/mgm.svg#mgm") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mgm" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="meteor-"]:before,
[class*=" meteor-"]:before {
  font-family: "mgm" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  display:inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.meteor-caret-down:before {
  content: "\6f";
}
.meteor-facebook:before {
  content: "\66";
}
.meteor-facebook:hover {
  color: #527bd7;
}
.meteor-twitter:before {
  content: "\74";
}
.meteor-twitter:hover {
  color: #27bdd9;
}
.meteor-youtube:before {
  content: "\79";
}
.meteor-youtube:hover {
  color: #e93a57;
}
.meteor-angle-left:before {
  content: "\61";
}
.meteor-play:before {
  content: "\62";
}
.meteor-search:before {
  content: "\63";
}
.meteor-home:before {
  content: "\64";
}
.meteor-bar-chart:before {
  content: "\68";
}
.meteor-forward:before {
  content: "\69";
}
.meteor-facebook-circled:before {
  content: "\6a";
}
.meteor-twitter-circled:before {
  content: "\6b";
}
.meteor-youtube-alt:before {
  content: "\6c";
}
.meteor-5-gunluk:before {
  content: "\65";
}
.meteor-adres:before {
  content: "\67";
}
.meteor-analizler:before {
  content: "\6d";
}
.meteor-denizcilik:before {
  content: "\6e";
}
.meteor-extrem:before {
  content: "\70";
}
.meteor-uydu:before {
  content: "\71";
}
.meteor-tel:before {
  content: "\72";
}
.meteor-tahminler:before {
  content: "\73";
}
.meteor-son-durumlar:before {
  content: "\75";
}
.meteor-ruzgar:before {
  content: "\76";
}
.meteor-fax:before {
  content: "\77";
}
.meteor-ziraat:before {
  content: "\78";
}
.meteor-foto:before {
  content: "\7a";
}
.meteor-gunbatimi:before {
  content: "\41";
}
.meteor-gundogumu:before {
  content: "\42";
}
.meteor-havacilik:before {
  content: "\43";
}
.meteor-nem:before {
  content: "\44";
}
.meteor-radar:before {
  content: "\45";
}
.meteor-mercek:before {
  content: "\46";
}
.meteor-play-video:before {
  content: "\47";
}
