﻿.weather {float:left; width:100%; padding-top:15px;}
.weather .left {float:left; width:855px;}
.weather .left .instant-weather {text-align:right; margin-right:80px; margin-top:12px;}
.weather .left .instant-weather p {font-size:17px; color:#4c5867; /*km:margin-bottom:5px;*/ margin:0 !important; padding:0 !important; /*km*/ text-align:right; opacity:.6;}
.weather .left .instant-weather h3 {font-size:41px; color:#4c5867; /*km:margin-bottom:22px;*/ margin:0 !important; padding:0 !important;}
.weather .left .instant-weather h3 span {font-weight:100;}
.weather .left .instant-weather h3.big {font-size:51px;}
.weather .left .instant-weather h3.big .pull-right{font-size:51px; font-weight:400;}
.weather .left .instant-weather h3.big .pull-right span{font-size:51px; font-weight:100;}
.weather .left .instant-weather h3 .details {
  float:right;
  background:rgba(255, 255, 255, 0.3);
  padding:4px 7px;
  border-radius:6px;
  margin-top:10px;
  margin-right:10px;
  height:46px;
  line-height:38px;
  width:135px;
  overflow:hidden;
  
  transition:all .4s;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  -o-transition:all .4s;
  -ms-transition:all .4s;
}
.weather .left .instant-weather h3 .details.expanded {width:405px;}
.weather .left .instant-weather h3 .details:hover {cursor:pointer;}
.weather .left .instant-weather h3 .details .details-container {width:395px;}
.weather .left .instant-weather h3 .details .maximize {float:left; height:38px; line-height:38px;}
.weather .left .instant-weather h3 .details .maximize img {float:left; margin-top:8px; transition:all .4s; -webkit-transition:all .4s; -moz-transition:all .4s; -o-transition:all .4s; -ms-transition:all .4s;}
.weather .left .instant-weather h3 .details .maximize img.takla {transform:rotate(540deg);}
.weather .left .instant-weather h3 .details .detail {
  position:relative;
  float:right;
  font-size:26px;
  font-weight:600;
  height:38px;
  line-height:38px;
  margin-left:15px;
}

.weather .left .instant-weather h3 .details .detail.humidity {
	width:90px;
}

.weather .left .instant-weather h3 .details .detail.wind {
	width:110px;
}

.weather .left .instant-weather h3 .details .detail.pressure {
	width:135px;
}

.weather .left .instant-weather h3 .details .detail .donut {
  margin-right:4px;
}
.weather .left .instant-weather h3 .details .detail .donut,
.weather .left .instant-weather h3 .details .detail .value {
  float:left;
}
.weather .left .instant-weather h3 .details .detail .unit{
  float:right;
  font-size:17px;
  font-weight:300;
}

.weather .left .instant-weather h3 .details .detail.humidity .unit {
  float:left;
}


/*ayrıntılar rüzgar şeyleri*/

.weather .left .instant-weather h3 .details .detail .ryon {
	font-size:11px;
	line-height:38px;
	
	float:left;
}
.weather .left .instant-weather h3 .details .detail .ryon .rHizDeger{
	font-size:24px;
	font-weight:300;
	margin-left:36px;
	display:inline-block;
}
.weather .left .instant-weather h3 .details .detail .ryon img{
	position:absolute;
	
	left:-7px;
	
	transform:rotate(320deg);
}

/*ayrıntılar rüzgar şeyleri son */


.weather .left .chart-container {
  float:left;
  width:100%;
  margin:40px 0 30px 0;
  overflow-x:auto;
}
.weather .left .chart-container canvas {
  float:left;
  /*width:855px;
  height:249px;*/
}

.weather .left .forecast {
  float:left;
  width:100%;
  margin-bottom:20px;
}

.tahmin{width:140px; height:190px; float:left; background-color:#fff; text-align:center; overflow:hidden; transition:all .4s cubic-bezier(0.030, 1.100, 0.515, 0.985);-moz-transition:all .4s cubic-bezier(0.030, 1.100, 0.515, 0.985); cursor:pointer;margin-right:3px; background-image:url(img/ucgen.svg); background-position:right top; background-repeat:no-repeat;}
.acik{width:280px;}
.tahminAcikKapali{width:280px; height:190px; float:left;}
.tahminSol,.tahminSag{float:left; width:140px; height:190px;}
.tahminTarih{font-size:15px; margin-top:10px;}
.tahminIkon{margin-top:14px;}
.tahminHadise{font-size:14px;margin-top:9px;color:#6f6f7d;height:26px;line-height: 20px;}
.tahminMax,.tahminMin{float:left; width:70px; height:30px; margin-top:30px;}
.deger{font-size:19px;padding-top:4px;}
.derece{}
.tahminMax{color:#e73a3a;}
.tahminMin {color:#278eb0;}
.nem{font-size:15px; border-bottom:#CCC 1px solid; margin-top:21px; color:#6f6f7d; padding-bottom:8px;margin-bottom:6px;width:90%;} 
.ruzgar{font-size:15px; border-bottom:#CCC 1px solid; margin-top:21px; color:#6f6f7d; padding-bottom:8px;margin-bottom:6px;width:90%;padding-top:14px;}
.ruzgarYon{float:left; font-size:11px; margin-left:15px;}
.ruzgarDeger{font-size:23px;padding-top:12px;}


.weather .right {
  float:right;
  width:260px;
}

.search-box {
  position:relative;
  float:left;
  width:100%;
  height:52px;
  background:#fff;
  border:5px solid #e0e7ea;
}
.search-box  input {
  float:left;
  width:100%;
  padding:0 47px 0 5px;
  height:42px;
  border:0;
  font-size:14px;
  font-weight:300;
  color:#404C59;
  background:url('img/icon-search.png') right center no-repeat;
}
.search-box .search-button {
  position:absolute;
  top:0;
  right:0;
  width:42px;
  height:42px;
  background:url('img/icon-search.png') center center no-repeat;
  cursor:pointer;
}
.search-box-open {
  position:relative;
  float:left;
  width:100%;
  height:40px;
  line-height:40px;
  cursor:pointer;
  background:#fff;
  border-bottom:1px solid #f2f2f2;
  color:#3F3F55;
  font-size:14px; z-index:1000;
  padding-left:7px;
}
    .search-box-open:hover {
       background:#f2f2f2;
	  
    }

.weather .left .search-box {
  display:none;
}

.weather .right .announcements {
  display:table;
  float:left;
  width:100%;
  height:415px;
  margin:11px 0;
}
.weather .right .announcements .announcement-container {
  display:table-cell;
  vertical-align:bottom;
}
.weather .right .announcements .announcement {
  display:inline-block;
  width:100%;
  height:51px;
  background:#fff;
  margin-top:6px;
}
.weather .right .announcements .announcement .date {
  float:left;
  background:#e73a3a;
  width:42px;
  height:40px;
  //border-right:1px solid #be1621;
  margin-right:6px;
}
.weather .right .announcements .announcement .date .day {
  float:left;
  width:100%;
  color:#fff;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  margin-top:6px;
}
.weather .right .announcements .announcement .date .month {
  float:left;
  width:100%;
  color:#fff;
  text-align:center;
  font-size:10px;
}
.weather .right .announcements .announcement .title {
  display:block;
  font-size:13px;
  font-weight:300;
  line-height:15px;
  padding:3px;
  color:#3f3f55;
  font-weight:600;
}

.weather .right .announcements .announcement .dateA
{float:left; background:#e73a3a; width:42px; height:51px; margin-right:6px;}
.weather .right .announcements .announcement .dateA .day
{float:left; width:100%; color:#fff; text-align:center; font-size:24px; font-weight:bold; margin-top:6px;}
.weather .right .announcements .announcement .dateA .month
{float:left; width:100%; color:#fff; text-align:center; font-size:10px;}

.weather .right .forecast-video {
  float:left;
  width:100%;
  height:190px;
}
.weather .right .forecast-video .video-container,
.weather .right .forecast-video .video-container iframe {
  float:left;
  width:100%;
  height:155px;
}

.weather .right .forecast-video .video-title {
  float:left;
  width:100%;
  height:35px;
  line-height:35px;
  background:#35B3A0;
  padding-left:15px;
  color:#fff;
}

.quick-launch {float:left; width:100%; height:82px; border-bottom:6px solid #278eb0; background:#1DB6D1; margin:16px 0 0  0;}
.quick-launch ul {float:left; width:100%;}
.quick-launch ul li {float:left; width:calc(100% / 6); text-align:center;}
.quick-launch ul li a {float:left; width:100%; height:76px; line-height:76px; color:#fff; font-size:14px; font-weight:300;}
.quick-launch ul li a i {font-size:20px; vertical-align:middle;}
.corporate {float:left; width:100%; padding:35px 0; background:#eaeef2;}
.corporate .sidebar2 {float:left; width:50%;}
.corporate .sidebar2 .search-box {border:0; height:42px;border-radius:1px;}
.corporate .sidebar2 .sidebar-menu {float:left; width:100%; margin:11px 0;}
.corporate .sidebar2 .sidebar-menu li {float:left; width:100%; margin-bottom:3px;}
.corporate .sidebar2 .sidebar-menu li a {float:left; width:100%; background:#fff; padding:8px 15px; font-size:14px; color:#74848C;}
.corporate .sidebar2 .sidebar-photo {float:left; width:100%;}
.corporate .sidebar2 .sidebar-photo .photo-container {position:relative; float:left; width:100%;}
.corporate .sidebar2 .sidebar-photo .photo-container img {float:left; width:100%;}
.corporate .sidebar2 .sidebar-photo .photo-container .hover-content {position:absolute; background:rgba(0, 0, 0, 0) url('img/photo-hover.png') center 140% no-repeat; top:0; right:0; bottom:0; left:0; transition:background 1s;}
.corporate .sidebar2 .sidebar-photo:hover .photo-container .hover-content {background:rgba(0, 0, 0, 0.4) url('img/photo-hover.png') center center no-repeat;}
.corporate .sidebar2 .sidebar-photo .photo-title {float:left; width:100%; background:#35B3A0; padding:9px 15px; font-size:11px; font-weight:600; color:#fff; text-transform:uppercase;}
.corporate .sidebar {float:left; width:20%; padding-right:15px;}
.corporate .sidebar .search-box {border:0; height:42px; border-radius:1px;}
.corporate .sidebar .sidebar-menu {float:left; width:100%; margin-bottom:11px;}
.corporate .sidebar .sidebar-menu li {float:left; width:100%; margin-bottom:3px;}
.corporate .sidebar .sidebar-menu li a {float:left; width:100%; background:#fff; padding:8px 15px; font-size:14px; color:#74848C;}
.corporate .sidebar .sidebar-photo {float:left; width:100%;}
.corporate .sidebar .sidebar-photo .photo-container {position:relative; float:left; width:100%;}
.corporate .sidebar .sidebar-photo .photo-container img {float:left; width:100%;}
.corporate .sidebar .sidebar-photo .photo-container .hover-content {position:absolute; background:rgba(0, 0, 0, 0) url('img/photo-hover.png') center 140% no-repeat; top:0; right:0; bottom:0; left:0; transition:background 1s;}
.corporate .sidebar .sidebar-photo:hover .photo-container .hover-content {background:rgba(0, 0, 0, 0.4) url('img/photo-hover.png') center center no-repeat;}
.corporate .sidebar .sidebar-photo .photo-title {float:left; width:100%; background:#35B3A0; padding:9px 15px; font-size:12px; font-weight:600; color:#fff; text-transform:uppercase;}
.corporate .corporate-center {float:left; width:50%;}
.corporate .corporate-center .minister-manager {float:left; width:100%;}
.corporate .corporate-center .minister-manager .minister {float:left; width:48%; background:#fff; margin-right:2%; padding-right:5px; cursor:pointer;}
.corporate .corporate-center .minister-manager .minister:last-child {margin-left:2%; margin-right:0;}
.corporate .corporate-center .minister-manager .minister .minister-photo {float:left; width:80px; margin-right:5px;}
.corporate .corporate-center .minister-manager .minister .minister-photo img {float:left; width:100%; margin-top:3px;}
.corporate .corporate-center .minister-manager .minister .minister-name {display:block; padding-top:10px; padding-bottom:10px; font-size:14px; line-height:20px;color:#55616A; font-weight:600}
.corporate .corporate-center .minister-manager .minister .minister-name .minister-title {width:100%; font-weight:300; line-height:16px;}
.corporate .corporate-center .news {float:left; width:100%;}
.corporate .corporate-center .news h5 {float:left; width:100%; font-size:15px; color:#55616A;}
.corporate .corporate-center .news .news-container {    float: left;width: 100%;background: #fff;padding-left: 10px;margin-top: 5px;margin-bottom: 5px;min-height: 133px;}
.corporate .corporate-center .news .news-container ul {float:left; width:100%;}
.corporate .corporate-center .news .news-container ul li {float:left; width:100%; padding-left:12px;}
.corporate .corporate-center .news .news-container ul li::before {content:" "; float:left; width:5px; height:5px; background:#9EA8B2; margin-top:13px; margin-left:-12px;}
.corporate .corporate-center .news .news-container ul li a {float:right; width:100%; font-size:14px; font-weight:300; color:#556169; line-height:32px;}
.weather .container {position:relative;}
.weather-effect {position:absolute; z-index:-1000;}

@keyframes dateA{
    0%, 100%{background-color: #EA533E;}
    50% {background-color: #C11535;}
		100% {background-color: #EA533E;}
    
}

@-webkit-keyframes dateA{
    0%, 100%{background-color: #EA533E;}
    50% {background-color: #C11535;}
		100% {background-color: #EA533E;}
    
}

@-moz-keyframes dateA{
    0%, 100%{background-color: #EA533E;}
    50% {background-color: #C11535;}
		100% {background-color: #EA533E;}
}

@-o-keyframes dateA{
    0%, 100%{background-color: #EA533E;}
    50% {background-color: #C11535;}
	100% {background-color: #EA533E;}
}

.dateA{
    -webkit-animation-name: dateA;
    -webkit-animation: .5s dateA infinite;
    
    -moz-animation-name:dateA;
    -moz-animation: .5s dateA infinite;
    
    -o-animation-name:dateA;
    -o-animation: .5s dateA infinite;
    
    animation-name: dateA;
    animation: .5s dateA infinite;
}


.corporate .announcements {display:table; float:left; width:30%; height:auto; padding-left:15px;}
.corporate .announcements .announcement-container {display:table-cell; vertical-align:bottom;}
.corporate .announcements .announcement-container h5 {float:left; width:100%; font-size:16px; margin-bottom:11px; background-color:white; padding:12px; margin:0px !important;}
.corporate .announcements .announcement {display:inline-block; width:100%; height:70px; background:#fff; margin-top:6px;}
.corporate .announcements .announcement .date {float:left; background:#fff; width:42px; height:70px; border-right:1px solid #e8e7e9; margin-right:6px;}
.corporate .announcements .announcement .date .day {float:left; width:100%; color:#556169; text-align:center; font-size:28px; font-weight:bold; margin-top:12px;}
.corporate .announcements .announcement .date .month {float:left; width:100%; color:#556169; text-align:center; font-size:14px;}
.corporate .announcements .announcement .title {display:block; font-size:14px; font-weight:300; line-height:19px; padding:10px;color:#55616A;}




@keyframes weather-effect-1-cloud-left {
  0% {
    left: 100px;
  }
  50% {
    left: 140px;
  }
}
@keyframes weather-effect-1-cloud-right {
  0% {
    left: -10px;
  }
  50% {
    left: -30px;
  }
}

@keyframes weather-effect-1-cloud-center {
 0% {
    left: 100px;
  }
  50% {
    left: 140px;
  }
}

.weather-effect.weather-effect-1 {
  top: 50px;
  right: 450px;
}
.weather-effect.weather-effect-1 .weather-effect-1-sun {
  position: absolute;
  left: 180px;
  z-index: -900;
}
.weather-effect.weather-effect-1 .weather-effect-1-cloud-left {
  position: absolute;
  width: 500px;
  left: 100px;
  animation: weather-effect-1-cloud-left 6s ease infinite;
}
.weather-effect.weather-effect-1 .weather-effect-1-cloud-right {
  position: absolute;
  width: 500px;
  top: 50px;
  left: -10px;
  animation: weather-effect-1-cloud-right ease 6s infinite;
}
.weather-effect.weather-effect-1 .weather-effect-1-cloud-center {
   position: absolute;
  width: 500px;
  left: 100px;
  animation: weather-effect-1-cloud-center 6s ease infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 80s linear infinite;
  -moz-animation: rotating 80s linear infinite;
  -ms-animation: rotating 80s linear infinite;
  -o-animation: rotating 80s linear infinite;
  animation: rotating 80s linear infinite;
}



.drop-hafif-yagmur {
   background: white; 
	width:1px;
	height:20px;
	position: absolute;
    -webkit-animation: fall 1s linear infinite;
    -moz-animation: fall 1s linear infinite;
    -ms-animation: fall 1s linear infinite;
    -o-animation: fall 1s linear infinite;
    animation: fall 1s linear infinite;
}


.drop-yagmur {
    background: white;
	width:1px;
	height:20px;
	position: absolute;
    -webkit-animation: fall .8s linear infinite;
    -moz-animation: fall .8s linear infinite;
    -ms-animation: fall .8s linear infinite;
    -o-animation: fall .8s linear infinite;
    animation: fall .8s linear infinite;
}
.drop-kuvvetli-yagmur{
    background: white;
	width:1px;
	height:20px;
	position: absolute;
    -webkit-animation: fall .6s linear infinite;
    -moz-animation: fall .6s linear infinite;
    -ms-animation: fall .6s linear infinite;
    -o-animation: fall .6s linear infinite;
    animation: fall .6s linear infinite;
}



.drop-hafif-saganak-yagmur {
    background:white;
    width:2px;
	height:20px;
	position: absolute;
    -webkit-animation: fall .5s linear infinite;
    -moz-animation: fall .5s linear infinite;
    -ms-animation: fall .5s linear infinite;
    -o-animation: fall .5s linear infinite;
    animation: fall .5s linear infinite;
}


.drop-saganak-yagmur {
    background:white;
	width:2px;
	height:20px;
	position: absolute;
    -webkit-animation: fall .4s linear infinite;
   -moz-animation: fall .4s linear infinite;
   -ms-animation: fall .4s linear infinite;
   -o-animation: fall .4s linear infinite;
   animation: fall .4s linear infinite;

}

.drop-kuvvetli-saganak-yagmur {
    background:white;
	width:2px;
	height:20px;
	position: absolute;
    -webkit-animation: fall .3s linear infinite;
   -moz-animation: fall .3s linear infinite;
   -ms-animation: fall .3s linear infinite;
   -o-animation: fall .3s linear infinite;
   animation: fall .3s linear infinite;

}

.drop-dolu
{
	position: absolute;
    -webkit-animation: fall .3s linear infinite;
   -moz-animation: fall .3s linear infinite;
   -ms-animation: fall 3s linear infinite;
   -o-animation: fall .3s linear infinite;
   animation: fall .3s linear infinite;
}

.drop-hafif-kar{
	position: absolute;
    color:#fff;
	    text-shadow: 0 0 4px #c7c7c7;
    padding-top:120px;
    padding-left:150px;
    -webkit-animation: fall 3.2s linear infinite;
   -moz-animation: fall 3.2s linear infinite;
   -ms-animation: fall 3.2s linear infinite;
   -o-animation: fall 3.2s linear infinite;
   animation: fall 3.2s linear infinite;

}

.drop-kar{

    

	
	position: absolute;
    color:#fff;
	    text-shadow: 0 0 4px #c7c7c7;
    padding-top:120px;
    padding-left:150px;
    -webkit-animation: fall 3s linear infinite;
   -moz-animation: fall 3s linear infinite;
   -ms-animation: fall 3s linear infinite;
   -o-animation: fall 3s linear infinite;
   animation: fall 3s linear infinite;


}

.drop-yogun-kar{

    

	
	position: absolute;
    color:#fff;
	    text-shadow: 0 0 4px #c7c7c7;
    padding-top:120px;
    padding-left:150px;
    -webkit-animation: fall 2.5s linear infinite;
   -moz-animation: fall 2.5s linear infinite;
   -ms-animation: fall 2.5s linear infinite;
   -o-animation: fall 2.5s linear infinite;
   animation: fall 2.5s linear infinite;


}

.drop-hafif-karli-yagmur {
   background: white; 
	width:2px;
	height:20px;
	position: absolute;
    -webkit-animation: fall 1s linear infinite;
    -moz-animation: fall 1s linear infinite;
    -ms-animation: fall 1s linear infinite;
    -o-animation: fall 1s linear infinite;
    animation: fall 1s linear infinite;
}

.simsek-animasyon  {
    -webkit-animation-name: slidingPrice;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: slidingPrice;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

    -ms-animation-name: slidingPrice;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
   
    -o-animation-name: slidingPrice;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-in-out;

    animation-name: slidingPrice;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:120px;}
}
@-moz-keyframes fall {
	to {margin-top:120px;}
}


@-ms-keyframes fall {
	to {margin-top:120px;}
}

@-o-keyframes fall {
	to {margin-top:120px;}
}




@-webkit-keyframes slidingPrice {
  6%     { opacity: 0;  } /* 0ms initial values */
  20%  { opacity: 1;  }     /* 150ms half of animation */
  32% { opacity: 1;  }     /* 2150ms still at half of animation */
  50% { opacity: 0; } /* 2300ms back to initial */
  100%   { opacity: 0;  } /* 6300ms still at initial */
}

@-moz-keyframes slidingPrice {
  6%     { opacity: 0;  } /* 0ms initial values */
  20%  { opacity: 1;  }     /* 150ms half of animation */
  32% { opacity: 1;  }     /* 2150ms still at half of animation */
  50% { opacity: 0; } /* 2300ms back to initial */
  100%   { opacity: 0;  } /* 6300ms still at initial */
}

@-ms-keyframes slidingPrice {
  6%     { opacity: 0;  } /* 0ms initial values */
  20%  { opacity: 1;  }     /* 150ms half of animation */
  32% { opacity: 1;  }     /* 2150ms still at half of animation */
  50% { opacity: 0; } /* 2300ms back to initial */
  100%   { opacity: 0;  } /* 6300ms still at initial */
}

@-o-keyframes slidingPrice {
  6%     { opacity: 0;  } /* 0ms initial values */
  20%  { opacity: 1;  }     /* 150ms half of animation */
  32% { opacity: 1;  }     /* 2150ms still at half of animation */
  50% { opacity: 0; } /* 2300ms back to initial */
  100%   { opacity: 0;  } /* 6300ms still at initial */
}





.weather-effect.weather-effect-1 .weather-effect-1-cloud-center2 {
   position: absolute;
  width: 450px;
  height:150px;
  left: 100px;
  opacity:0.9;
  z-index:2;
  
}
