﻿.container {width:1160px; margin:auto;}
/*a {text-decoration:none;}*/
strong, b {font-weight:bold;}
em, i {font-style:italic;}
html {overflow-x:hidden;}

body {
font-family:'Open Sans', sans-serif;
background:#e8eff3;
/*background:rgba(234,238,242,1);
background:-moz-linear-gradient(45deg, rgba(234,238,242,1) 0%, rgba(234,238,242,1) 12%, rgba(208,217,221,1) 100%);
background:-webkit-gradient(left bottom, right top, color-stop(0%, rgba(234,238,242,1)), color-stop(12%, rgba(234,238,242,1)), color-stop(100%, rgba(208,217,221,1)));
background:-webkit-linear-gradient(45deg, rgba(234,238,242,1) 0%, rgba(234,238,242,1) 12%, rgba(208,217,221,1) 100%);
background:-o-linear-gradient(45deg, rgba(234,238,242,1) 0%, rgba(234,238,242,1) 12%, rgba(208,217,221,1) 100%);
background:-ms-linear-gradient(45deg, rgba(234,238,242,1) 0%, rgba(234,238,242,1) 12%, rgba(208,217,221,1) 100%);
background:linear-gradient(45deg, rgba(234,238,242,1) 0%, rgba(234,238,242,1) 12%, rgba(208,217,221,1) 100%);*/
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeef2', endColorstr='#d0d9dd', GradientType=1 );
}

* {outline:0; box-sizing:border-box;}
.pull-right {float:right;}
.pull-left {float:left;}
header {float:left; width:100%; height:130px; background:#ffffff;    -webkit-box-shadow: 0px 0px 18px -5px rgba(5,42,56,0.18);
    -moz-box-shadow: 0px 0px 18px -5px rgba(5,42,56,0.18);
    box-shadow: 0px 0px 18px -5px rgba(5,42,56,0.18);}
header .header-top {float:left; width:100%; height:40px;background:#dae6ec;}
header .header-top ul,
header .header-top ul li {float:right; height:40px;}
header .header-top ul li a {float:right; height:40px; line-height:40px; font-family:'Open Sans', sans-serif; font-size:12px; font-weight:300; color:#4C5867; padding:0 6px;}
header .header-top ul li a.meteoroloji-radyo {background:#35B3A0; padding:0px 25px 0px 25px; color:#fff; font-weight:600; font-size:14px;}
header .header-top ul li a.meteoroloji-radyo:hover {background:#12ab94;}
header .header-top ul li a.meteoroloji-radyo img {display:inline-block; vertical-align:middle;}
header .header-top ul li a i {font-size:20px; color:#ffffff; margin:0 5px;}
header .logo,
header .logo .img-container {float:left; height:90px; line-height:90px;}
header .logo img {display:inline-block; vertical-align:middle;margin-right: 9px;}
header .logo h1 {float:left; font-weight:600; font-size:14px; line-height:18px; margin-top:11px; color:#4C5867;}
header .logo h1 span {font-weight:300; font-size:13px; line-height:24px; letter-spacing:.2px;}
header nav,
header nav ul {float:right; height:90px;}
header nav ul li {position:relative; z-index:2;}
header nav ul li:before {transform:scaleX(1); transform:scaleY(0); transform-origin:50% 0%; content:""; position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0;}
header nav ul#mainNav>li:hover:before {transform:scaleY(1); transform-origin:50% 100%;}
header nav ul li,
header nav ul li a {float:left; height:90px; text-align:center; font-weight:400; font-size:15px; color:#8796a9;}
header nav ul li a {padding:0 5px;}
header nav ul li:hover a {color:#EA5455;}
header nav ul li a i {float:left; width:100%; height:40px; line-height:40px; margin-top:15px; font-size:20px;}
header nav ul li .dropdown {display:none; position:absolute; top:90px; width:250px;   box-shadow:rgba(0, 0, 0, .3) 1px 1px; padding:15px 25px; left:-50%;}
header nav ul li:hover .dropdown {display:block;	}
header nav ul li .dropdown1 {background:#fff url('img/bg-dropdown1.jpg') right bottom no-repeat;}
header nav ul li .dropdown2 {background:#fff url('img/bg-dropdown2.jpg') right bottom no-repeat;}
header nav ul li .dropdown3 {background:#fff url('img/bg-dropdown3.jpg') right bottom no-repeat;}
header nav ul li .dropdown4 {background:#fff url('img/bg-dropdown4.jpg') right bottom no-repeat;}
header nav ul li .dropdown5 {background:#fff url('img/bg-dropdown5.jpg') right bottom no-repeat;}
header nav ul li .dropdown  ul {float:left; width:100%; height:auto;}
header nav ul li .dropdown  ul li,
header nav ul li .dropdown  ul li a {float:left; width:100%; height:auto; text-align:left;}
header nav ul li .dropdown .dropdown-column  ul li{transform:translateY(40px); opacity:0; transition:all .5s; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; -ms-transition:all .5s;}
header nav ul li .dropdown  ul li a {padding-left:15px; background:url('img/list-icon.png') no-repeat; font-size:14px; color:#4C5867; line-height:30px; background-position:0px 10px; transition:all .2s; -webkit-transition:all .2s; -moz-transition:all .2s; -o-transition:all .2s; -ms-transition:all .2s;}
header nav ul li .dropdown  ul li a:hover {background-position:5px 10px;}
header nav ul li .dropdown h3 {float:left; width:100%; text-align:left; border-bottom:1px solid rgba(76, 88, 103, 0.3); padding-bottom:8px; margin-bottom:8px; font-weight:400; font-size:13px; letter-spacing:1px;}
header nav ul li .dropdown-wide {width:500px;}
header nav ul li .dropdown .dropdown-column {float:left; width:50%; padding-right:25px;}
header nav .hamburger {display:none; float:right; width:90px; height:90px; padding:31px 21px;}
header nav .hamburger span {float:left; width:82%; height:5px; background:#4C5867; margin-bottom:6px; border-radius:3px; transition:all .3s; -webkit-transition:all .3s; -moz-transition:all .3s; -o-transition:all .3s; -ms-transition:all .3s;}
header nav .hamburger.open {margin-top:12px;}
header nav .hamburger.open span {margin-bottom:-10px;}
header nav .hamburger.open .x1 {transform:rotate(45deg);}
header nav .hamburger.open .x2 {opacity:0;}
header nav .hamburger.open .x3 {transform:rotate(-45deg);}
[lang=tr]{text-transform:uppercase;}
.slogan{
	font-size:15px;
	 font-style: italic;
	height:40px;
	line-height:40px;
	color:white;
	float:left;
	text-align:left;
	
}

/* pages*/
#pages-links {float:left; width:100%; height:35px; background-color:#e8eff3;}
#pages-title {float:left; width:100%; height:55px; background-color:#1eb6d2; border-bottom:4px solid #298fb1;}
#pages-title h1 {margin:0; padding:13px 0 0 0; color:#fff; font-size:1.2em;}
#pages{float:left; width:100%; background-color:#fff;}
/*#pages .container {background-color:aquamarine;}*/
/*#pages .container img {display:block; width:100%; height:auto; padding:1px;}*/
#pages .container img {height:auto;}

#pages-links p{margin:.8em 0 .4em 0; color:#93a6b3;font-size: 12px;}

/* olds*/
p {line-height:1.5em; margin:.9em 0 .9em 0; text-align:justify;}
a {color:#324cd6; text-decoration:none;}
a:hover {color:#ff0101;}
h1, h2, h3, h4, h5, h6 {margin:1em 0px 7px 0px; font-weight:normal; line-height:1.25em;}
h1 {font-size:1.6em; color:#1e85be;}
h2 {font-size:1.4em; color:#24bc00;}
h3 {font-size:1.2em; color:#EA5455;}
h4 {font-size:1.1em; color:#000000; font-weight:600;}
h5, h6 {font-size:1em;}
#pages .container ul {list-style-type:square; margin:8px 0 10px 32px;}
#pages .container ul li {line-height:1.6em; margin-bottom:.5em;}
#pages .container ul li ul {}
#pages .container ul li ul li {margin-left:3px;}
#pages .container ul li ul li ul {}
#pages .container ul li ul li ul li {margin-left:6px;}    
#pages .container ol {list-style-type:decimal; margin:8px 0 10px 32px;}
#pages .container ol li {line-height:1.6em; margin-bottom:.5em;}
#pages .container ol li ol {}
#pages .container ol li ol li {margin-left:3px;}
#pages .container ol li ol li ol {}
#pages .container ol li ol li ol li {margin-left:6px;}
li.home {background:url('list/bullet-home.gif') no-repeat 0 3%; padding: 3px 0 3px 40px; margin: .4em 0; list-style:none;}
li.news {background:url('list/bullet-news.gif') no-repeat 0 3%; padding: 3px 0 3px 40px; margin: .4em 0; list-style:none;}
li.info {background:url('list/bullet-info.gif') no-repeat 0 3%; padding: 3px 0 3px 40px; margin: .4em 0; list-style:none;}

li.dir, li.pdf, li.jpg, li.htm, li.doc, li.xls, li.ppt, li.mp4 {padding:4px 0 5px 40px; margin: .5em 0; list-style:none;}
li.dir {background:url('list/32x32_dir.gif') no-repeat;}
li.pdf {background:url('list/32x32_pdf.gif') no-repeat;}
li.jpg {background:url('list/32x32_jpg.gif') no-repeat;}
li.htm {background:url('list/32x32_htm.gif') no-repeat;}
li.doc {background:url('list/32x32_doc.gif') no-repeat;}
li.xls {background:url('list/32x32_xls.gif') no-repeat;}
li.ppt {background:url('list/32x32_ppt.gif') no-repeat;}
li.mp4 {background:url('list/32x32_mp4.png') no-repeat;}

/* table */
table {border-collapse:collapse; margin:1em 0; width:100%; font-size:.9em;}
caption {text-align:left; font-size:1.1em; padding-bottom:10px;}
table td, table th {padding:5px; border:1px solid #fff; border-width:0 1px 1px 0;}
thead th {text-align:left;font-size:18px; color:#274755; vertical-align:middle; padding:1em 0;}
/*thead th[colspan], thead th[rowspan] {background:#ecf4f8; color:#4f7281;}*/
tbody th, tfoot th {text-align:left; padding:.6em .4em .6em .4em; vertical-align:middle; /*color:#4f7281;*/}
tbody td, tfoot td {text-align:left; padding:.6em .4em .6em .4em; vertical-align:middle;}
/*tfoot th {background:#ecf4f8; color:#4f7281;}
tfoot td {background:#d7e1c5; font-weight:bold;}*/
tbody tr:nth-child(odd) {background-color: #e8eff3;}
th.o, td.o {text-align:center !important;}
th.r, td.r {text-align:right;}
th.l, td.l {text-align:left;}
.t_30 {width:30%;}
.t_40 {width:40%;}
.t_50 {width:50%;}
.t_60 {width:60%;}
.t_70 {width:70%;}
.t_80 {width:80%;}
.t_90 {width:90%;}

.sayfaParagraf {width:100%; margin:0; padding:3px 4px; background-color:#fff; text-align:left; line-height:24px; color:#fe0201; clear:both;}
.sayfaParagraf b {display:inline-block; width:15%; margin-right:5px; padding:0 0 0 3px; font-weight:bold; float:left; color:#25829f; border:none; font-size:.9em;}
.sayfaParagraf i {display:block; width:84%; float:right; margin:.1em 0; padding:0; font-style:normal;}
.sayfaParagraf a {margin:0 -4px; padding:2px 1px; color:#25829f; border:dotted 1px #fff;}
.sayfaParagraf a:hover {margin:0 -4px; padding:2px 1px; color:#fff; border:solid 1px #f8ccce; background-color:#1eb6d2;}
.sayfaParagraf .selected {background-color:#1eb6d2 !important; color:#fff !important; border:solid 1px #00b0eb !important;}

.sayfaParagraf button {margin:0 2px 0 0; padding:4px 1px; color:#0069ba; border:solid 1px #fff;}
.sayfaParagraf button:hover {background-color:#ff0101 !important; color:#fff;}
.tiktik_link, .tiktik_dikkat, .tiktik_aciklama, .tiktik_guncelleme {padding:5px 10px 11px 80px; margin-bottom:8px; font-size:.9em !important; color:#555;}
.tiktik_link {border-bottom:dashed 1px #c1c5cb; border-top:solid 6px #dbdddf; background:#fafafa url('img/tiktik_link.gif') no-repeat top left;}
.tiktik_dikkat {border-bottom:dashed 1px #c1c5cb; border-top:solid 6px #dbdddf; background:#fafafa url('img/tiktik_dikkat.gif') no-repeat top left;}
.tiktik_aciklama {border-bottom:dashed 1px #c1c5cb; border-top:solid 3px #dee6ef; background:#fafafa url('img/tiktik_aciklama.png') no-repeat top left;}
.tiktik_guncelleme {border-bottom:dashed 1px #c1c5cb; border-top:solid 3px #dee6ef; background:#fafafa url('img/tiktik_guncelleme.png') no-repeat top left;}
.tiktik_link p, .tiktik_dikkat p, .tiktik_aciklama p, .tiktik_guncelleme p {margin:0 0 7px 0; padding:0;}
.tiktik_link ul, .tiktik_dikkat ul, .tiktik_aciklama ul, .tiktik_guncelleme ul {margin:0 0 0 19px; padding:0;}
.tiktik_link ul li, .tiktik_dikkat ul li, .tiktik_aciklama ul li, .tiktik_guncelleme ul li {margin:0 0 7px 0; padding:0;}

.ortala{text-align:center !important;}

.renk0 {color:#000 !important;}
.renk1 {color:#ff0101 !important;}
.renk2 {color:#008000 !important;}
.renkMax {color:#dd4747 !important;}
.renkMin {color:#437ec1 !important;}
.renkBaslik{} /*ihtiyac duyulursa kullanilacak*/

.clr {clear:both;}

/* footer */
footer {float:left; width:100%; background:#414B57;}
footer .footer-content {float:left; width:100%; padding:40px 0; line-height:25px;}
footer .footer-content .left {float:left; width:50%;}
footer .footer-content .left ul {float:left; width:100%;}
footer .footer-content .left ul li {float:left; width:100%; color:#CFD1D6; margin-bottom:14px;}
footer .footer-content .right {float:left; width:50%;}
footer .footer-content .right ul {float:right;}
footer .footer-content .right ul li {float:left; margin-left:14px;}
footer .footer-content .right .copyright {float:right; width:100%; color:#CFD1D6; text-align:right; margin-top:18px;}
.footer-under {float:left; width:100%; background:#5c6670; line-height:50px; text-align:center;}
.footer-under a {color:#e4e4e4; margin-right:15px;}
.footer-corporate {float:left; width:100%; background:#dae6ec; line-height:50px; text-align:center;}
.footer-corporate a {color:#414b57; margin-right:15px;}



.footer-logos  {float:left; background-color:#fff; width:100%; height:auto; padding:30px 0 30px 0; text-align:center;}
.footer-under a {margin-right:15px;}


.footer-logo1 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 80px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/wmo-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo1:hover {
	background-position: 0 0;
}

.footer-logo2 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 115px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/aovtm-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo2:hover {
	background-position: 0 0;
}
.footer-logo3 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 149px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/eumetsat-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo3:hover {
	background-position: 0 0;
}
.footer-logo4 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 79px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/hsaf-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo4:hover {
	background-position: 0 0;
}
.footer-logo5 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 93px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/dhtbs-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo5:hover {
	background-position: 0 0;
}
.footer-logo6 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 93px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/khobm-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo6:hover {
	background-position: 0 0;
}
.footer-logo9 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 114px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/usht-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo9:hover {
	background-position: 0 0;
}
.footer-logo10 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 113px;
	height: 27px;
	background: url('../../Images_Sys/main_page/alt_logolar/uup-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo10:hover {
	background-position: 0 0;
}

.footer-logo8 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 83px;
	height: 33px;
	background: url('../../Images_Sys/main_page/alt_logolar/kalibrasyon-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo8:hover {
	background-position: 0 0;
}


.footer-logo7 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 55px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/tse-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo7:hover {
	background-position: 0 0;
}

.footer-logo11 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 56px;
	height: 36px;
	background: url('../../Images_Sys/main_page/alt_logolar/bimer-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo11:hover {
	background-position: 0 0;
}
.footer-logo12 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 123px;
	height: 32px;
	background: url('../../Images_Sys/main_page/alt_logolar/turkiyegovtr-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo12:hover {
	background-position: 0 0;
}
.footer-logo13 {
    width: 10%;
	display: inline-block;
    margin:0 auto;
	width: 34px;
	height: 34px;
	background: url('../../Images_Sys/main_page/alt_logolar/icseed-cifti.png') bottom;
	text-indent: -99999px;
}
.footer-logo13:hover {
	background-position: 0 0;
}

.anket{
   float: left;
    width: 100%;
    padding: 9px 5px 9px 12px;
    margin: 6px 0 0px 0;
    background-color: #ffb342;
    color: white;

}
.uyariscroll {height:160px;overflow-y:scroll;}
