/**
 * Menu container
 */
#cfn_floating_menu2{
	display:block;
	position:relative;
	left:-176px;
	top:400px;
	z-index: 0;
	width: 210px;
	background: rgba(0, 51, 102, 0.7);
	float: left;
}

/**
 * Do not change this. Used by menu settings to move menu from 
 * left side to right side of WordPress
 */
#cfn_floating_menu2.right{
	left:auto;
	right:0px;
}
/**
 * Do not change this. Used by menu settings to animate the menu
 * when scrolling the page instead of using fixed position.
 */
#cfn_floating_menu2.animated{
	position:absolute;
}
	
	/**
	 * Lists inside the menu
	 */
	#cfn_floating_menu2 ul{
		display:block;
		position:relative;
		margin:0px;
		padding:0px;
		list-style-type:none;		
	}
		/**
		 * List elements inside the menu
		 */
		#cfn_floating_menu2 ul li{
			display:block;
			position:relative;
			margin:0px;
			padding:5px 0px 5px 0px;
			float:none;
			width:100%;
			clear:both;
			white-space:nowrap;		
		}
			/**
			 * Anchor design
			 */
			#cfn_floating_menu2 ul li a{
				display:block;
				position:relative;
				padding:0px 15px 0px 15px;
			}
		
		/**
		 * Submenus
		 */
		#cfn_floating_menu2 ul ul{
			display:none;
			position:absolute;
			left:100%;
			top: -10px;
			background: rgba(0, 51, 102, 0.7);
			font-size: 12px;
		}
		/**
		 * Do not change this. Used when menu is moved on the right side
		 * of WordPress
		 */
		#cfn_floating_menu2.right ul ul{
			right:100%;
			left:auto;
		}
		
/**
 * MENU DESIGN - do all design changes below
 */	

/**
 * Menu container - left side
 */		
#cfn_floating_menu2 ul{
	 padding: 10px 0px 10px 0px;
}
/**
 * Menu container - right side
 */	
#cfn_floating_menu2.right ul{

}
	/**
	 * Menu anchor container
	 */
	#cfn_floating_menu2 ul li{
		font-size:12px;
		font-weight: normal;
	}
	#cfn_floating_menu2 ul li.has-children{
		font-size:14px !important;
		font-weight: bold;
	}
		/**
		 * Menu anchor
		 */
		#cfn_floating_menu2 ul li a{
			color: #cc9900; /* #FFF; */
			text-decoration:none;
		}
		/**
		 * Hovered and active anchor design
		 */
		#cfn_floating_menu2 ul li a:HOVER,
		#cfn_floating_menu2 ul li a.currentItem{
			color:#cc9900;			
		}
		/**
		 * Item has children - left sided menu
		 */

		#cfn_floating_menu2 ul li.has-children > a{
			/* color: #FFF; */
			background-image:url(../images/arrow-right-white.png);
			background-position: 95% 0px;
			background-repeat: no-repeat;	
			padding-right:30px;			
		}
		/**
		 * Item has children - right sided menu
		 */
		#cfn_floating_menu2.right ul li.has-children > a{
			background-image:url(../images/dots-arrow-left.png);
			background-position: left center;
		}
		#cfn_floating_menu2  ul.sub-menu li { 
			padding: 0 0 9px 0; 
		}
		#cfn_floating_menu2  ul.sub-menu li a { 
			font-size: 13px;
			color: #FFF;
		}
                #cfn_floating_menu2  ul.sub-menu li a:HOVER {
                        color: #cc9900;
                }


