/*
Theme Name: HKUST Black
Theme URI: http://www.ust.hk
Author: David Carey
Author URI: http://www.badbod.com
Description: Theme for HKUST
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: hkust
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
a {
   outline: 0;
}
#cfn_floating_menu{
	z-index:10001 !important;
}
#cfn_floating_menu li{
	z-index:10001 !important;
	background-image: url(about:blank);
}

/* -Sam- */
#cfn_floating_menu2{
	z-index:10001 !important;

}
#cfn_floating_menu2 li{
	z-index:10001 !important;
	background-image: url(about:blank);
}
/* -Sam- */

.press-content{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#cover-story-box-container .top-image-container{
	margin: 0 10px 0 0;
	float: left;
}
.cover-img-container img{
	width:164px;
}

#cover-story-box-container .top-image-container img{
	width:269px;
}
#menu-item-2710 > ul, #menu-item-13138 > ul, #menu-item-13137 > ul{
	top:-30px !important;
}
#menu-megamenu-chinese-traditional, #menu-megamenu-chinese-simplified0{
	padding-left: 16px !important;
}
#menu-megamenu-chinese-traditional > li > a, #menu-megamenu-chinese-simplified0 > li > a{
	padding: 7px 46px 7px 49px !important;
}
/*
#header-search-options *
{
display:none !important;	
}
#header-search-options
{
display:block;
height:132px;	
}*/

.custom-image-caption p {
font-style: italic;
font-size: 10px;
line-height: 1.3;
color: #757575;
max-width: 100%;
width:210px;
padding: 0 0 10px 10px;
margin: 5px 0 0 0 !important;
}

/*  JIRA Issue Collector */
#atlwdg-trigger{ z-index: 10000; top: 60px; }
/*  END JIRA Issue Collector */

body{
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
}

.cover-story-content p, .cover-story-text{
	text-align:justify;
	line-height: 20px !important;
	
}
.direction-controls-placeholder{ display: block !important; }
.home #main{ width: 1024px; }
#masthead{ width: 1024px; margin: 0 auto;}
#site-menu-bar{ position: absolute; height: 40px; width: 100%; z-index: 1; top:100px; }
#zoom-wrap{z-index: 2;}
#page{ position: relative; top: 0px; bottom: 0px; z-index: 1000; height: 100%; 	margin: 0 auto;}
#content{ min-width: 500px; max-width: 896px; min-height: 200px; margin: 0 auto; margin-bottom: 50px; }
.home #content{ max-width: 1024px; min-width: 1024px; position: relative;}
#content-with-margins{ width: 896px; margin: 0 auto; text-align: left; font-size: 12px; margin-bottom: 50px; }
.header-logo{ background: url(images/spacer.gif) 0 0 no-repeat; margin-top: 46px; margin-left: 64px;}
.home #logo , .header-logo{ z-index: 1000; width: 420px; height: 53px;  float: left; }
.home #logo{ margin-top: 30px; margin-left: 34px;}
#header-right{ height: 100px; margin-right: 60px; width:478px}
.home #header-right{ height: 100px; margin-right: 30px; }
.home #site-navigation , .home .header-gold-line, .home #site-menu-bar{ display: none !important; }
#header-search{ height: 60px; margin-top: 10px; }
#header-search-options{ height: 20px; color: #000; font-size: 10px; margin: 10px 0px 5px 0px; }
#header-search-input-wrap{ margin-left: 7px; }
.ie #header-search-input-wrap{ margin-left: 1px; }
#header-search-input input{ height: 21px; width: 170px; padding: 0; }
.header-search-options-text{ font-size: 9px; margin-top: 5px; }
.ie .header-search-options-text{ font-size: 10px; }
.ie .header-search-radio{ margin: 3px 0 0 0; }
#header-search-submit{ width: 28px; height: 25px; background: url(images/SearchBarButton.png); cursor: pointer; font-size: 0;
		border: none; padding: 0; -webkit-border-radius: 0; -moz-border-radius: 0;
		text-indent: -99999em;
		border-radius: 0;}
#header-print-font{ width: 110px; height: 50px; margin-top: 22px; }
#header-languages{ width: 102px; height: 12px; margin: 0; font-size: 12px; padding: 2px 4px 0 0; }
#lang_sel_list{ font-size: 11px; text-align: right; background: transparent; color: #444; width: 102px; }
#lang_sel_list li{ float: right; display: inline; line-height: 12px; margin: 0 0 0 5px; color: #444; }
#lang_sel_list a{ color: #444; }
#lang_sel_list a:hover{ color: #cc9900; }
a:hover{ color: #cc9900; }
#header-font-size{ margin: 20px 3px; 0 0; float: right; }
#font-plus{ background: url(images/Button_TextSize.png) 0 0 no-repeat; width: 13px; height: 13px; }
#font-revert{ background: url(images/Button_TextSize.png) -13px 0 no-repeat; width: 13px; height: 13px; }
#font-minus{ background: url(images/Button_TextSize.png) -26px 0 no-repeat; width: 13px; height: 13px; }
#font-plus:hover{ background-position: 0 -13px; }
#font-revert:hover{ background-position: -13px -13px; }
#font-minus:hover{ background-position: -26px -13px; }
.font-zoom{ width: 12px; height: 12px; float: right; margin: 0; cursor: pointer; }
#header-print{ clear: both; width: 16px; height: 14px; margin: 18px 8px 0 0; float: right; background: url(images/Button_Printer.png); }
#header-print:hover{ background: url(images/Button_Printer.png) 0 -14px no-repeat; }
.header-gold-line{ margin: 1px 0 0 0; height: 5px; width: 100%; background: #CB9B2B; }
.header-blue-line { height: 30px; background-color: #1A4876; }
#home-content{ width: 1024px; height: 660px; }
#left-sidebar { float: left; width: 20%; }
.left-widget-area { float: left; width: 26.041666667%; }
#cfn_floating_menu .menu-item-2978,
#cfn_floating_menu .menu-item-13181,
#cfn_floating_menu .menu-item-13182
{ padding-top: 30px !important; }
#cfn_floating_menu .menu-item-2978,
#cfn_floating_menu .menu-item-2979,
#cfn_floating_menu .menu-item-2980,
#cfn_floating_menu .menu-item-2981,
#cfn_floating_menu .menu-item-2982,
#cfn_floating_menu .menu-item-2983,
#cfn_floating_menu .menu-item-2984,
#cfn_floating_menu .menu-item-2985,
#cfn_floating_menu .menu-item-3058{ font-size: 12px !important; font-weight: normal; }

#cfn_floating_menu2 .menu-item-43627,
#cfn_floating_menu2 .menu-item-43628,
#cfn_floating_menu2 .menu-item-43629,
#cfn_floating_menu2 .menu-item-43630 { color:#cc9900; }

#home-text-center{ float: right; text-align: left;  max-width: 450px; min-width: 200px; height: 300px; padding: 20px; line-height: 24px; }
#home-panel-right{ float: right; background: rgba(0, 51, 102, 0.7); padding: 15px;
		position: relative; right: 34px; width: 190px; display: block; z-index: 10000; margin-bottom:10px;}
#home-news-title ,
#home-news, .home-news,
#home-event-highlight-title,
#home-event-highlight,
.home-nav-right{  font-size: 12px; line-height: 14px; width: 200px; margin: 10px 0; cursor: pointer; }
#home-nav-title1{ margin: 0 0 15px 0; color: #CC9900; font-size: 15px; font-weight: bold; }
#home-nav-title1 img{float:right}
#home-news, .home-news,
#home-news a, .home-news a{ color: #fff; text-decoration: none; }
.plain_link{
	text-decoration: none;
	color: #000;
}
#home-news a:hover, .home-news a:hover{ color: #cc9900; }
.home-news{width: 190px; }
#home-nav-title2{ margin: 0 0 15px 0; color: #CC9900; font-size: 15px; font-weight: bold; padding-top: 5px; }
#home-event-highlight{ color: #fff; }
.home-nav-title2,
.home-nav-title{ font-size: 12px; font-weight: bold; color: #CC9900; padding: 5px 0 5px 0; }
.home-nav-title2 a, #home-nav-title1 a, #home-nav-title2 a{ color: #cc9900; text-decoration: none; }
.home-nav-title2 a:hover , #home-nav-title1 a:hover, #home-nav-title2 a:hover{ color: #cc9900; }

.metaslider{ overflow: hidden; margin: 0px 0 0 0; }
.flex-control-nav { display: none; }
.flex-direction-nav{ color: #fff; }
.flex-prev{ background: url(images/Home_BigLeftArrow.png) 0 0 no-repeat !important; }
.flex-next{ background: url(images/Home_BigRightArrow.png) 0 0 no-repeat !important; }
#breadcrumbs{ margin: 20px 0 20px 0; color: #1A5686; font-size: 13px; }
#breadcrumbs a{ color: #1A5686; }
#breadcrumbs a:hover{ color: #CC9900; }
.breadcrumb_last{ font-weight: bold; }
#presidents-message-box{ background: #EBEEF4; width: 100%; min-height: 260px; padding: 10px 0px; }
.box-content{ padding: 10px; }
.pmimage{ margin: 0 10px 10px 0; }
.pm-title{ font-size: 24px; font-weight: bold; color: #003366; margin: 0 0 10px 0; }
.pm-text{ text-align: justify; line-height: 1.5em; }
.blue-box-image2{ margin-right: 10px; }
.blue-box-content{ padding: 10px 15px; width: 710px; }
.blue-box-content2{ width: auto; padding: 10px 15px; }
.blue-box-title{ font-size: 16px; margin: 0 0 5px 0; font-weight: bold; color: #003366; }
.blue-box-title a{ text-decoration: none; color: #003366; }
.blue-box-text{ text-align: left; line-height: 15px; font-size:  13px; overflow: hidden; max-width: 790px; text-align: justify; }
.blue-box-text2{ text-align: left; line-height: 15px; font-size:  13px; overflow: hidden; }
.blue-box-content2 .blue-box-text{width: auto; }
.blue-box-links{ margin: 5px 0 0 0; text-align: left; line-height: 1.3em; }
.blue-box-links ul {margin: 0;}
.blue-box-links ul li{ display: inline; background: url(images/about-bullet.png) no-repeat; background-position: 0px 3px; padding: 0 15px 0 11px; }
.blue-box-links ul li a{ color: #cc9900; text-decoration: none; white-space: nowrap; }
.blue-box-cat{ color: #4444b0; margin: 0 0 5px 0; }
#presidents-message-box ul{ color: #CC9900;  list-style: none; margin: 0; }
#presidents-message-box ul li{ background: url(images/about-bullet.png) no-repeat; background-position: 1px 3px; padding: 2px 0 2px 11px;
		margin: 1px 0 1px 0; }
.blue-box{ 	position: relative; background: #EBEEF4; width: 896px; min-height: 126px; 	margin-top: 20px; overflow: hidden; }
.wetell, .youtell{ height: 126px; }

.moretag , .more-link{ color: #cc9900; }

.relative{ position: relative; }
#blue-bar{ width: 100%; height: 5px; background: #1A5686; }
#agoodstory-head,
#research-head,
#global-connections-head{ position: relative; }
#agoodstory-head-overlay-1,
#agoodstory-head-overlay-2,
#agoodstory-head-overlay-3 { width: 298px; height: 45px;  position: absolute; bottom: 1px;
		background: rgba(0, 51, 102, 0.7) url(images/overlay-border-top.png) 0 0 no-repeat; color: #fff; text-align: center; font-size: 1.4em;
		padding-top: 30px; font-style: italic; cursor: pointer; }
#agoodstory-head-overlay-2 { left: 298px; }
#agoodstory-head-overlay-3 { left: 596px; }
#agoodstory-head-overlay-text{ font-size: 14px; font-style: italic; }
#research-head-overlay-1 , #research-head-overlay-2 , #research-head-overlay-3  , #research-head-overlay-4 ,
#global-connections-head-overlay-1,
#global-connections-head-overlay-2,
#global-connections-head-overlay-3,
#global-connections-head-overlay-4 { width: 224px; height: 60px; position: absolute; bottom: 1px; background: rgba(0, 51, 102, 0.7);
		border-top: 5px solid #006fba; color: #fff; text-align: center; font-size: 1.4em; padding-top: 10px; font-style: italic; }
.pointer{ cursor: pointer; }
#research-head-overlay-2,
#global-connections-head-overlay-2 { left: 224px; border-top: 5px solid #007fca;}
#research-head-overlay-3,
#global-connections-head-overlay-3 { left: 448px; border-top: 5px solid #009fda;}
#research-head-overlay-4,
#global-connections-head-overlay-4 { left: 672px; border-top: 5px solid #00bfea;}
.research-head-overlay-text, .global-connections-head-overlay-text { font-size: 11px; margin: 20px; color: #fff; line-height: 1.2em; font-style: normal; }
.research-head-title,
.global-connections-head-title{ font-style: normal; margin-bottom: 5px; font-weight: bold; }
#lifeathkust-student-events{ width: 420px; height: 160px; margin-top: -50px; padding: 91px 10px 0 15px; }
.life-student-events-date{ line-height: 20px; font-size: 11px; width: 80px; float: left;}
.life-student-events-text{ line-height: 20px; font-size: 11px; width: 290px; float: left; text-align: left; }
.life-student-events-text a{ text-decoration: none; color: #003333; }
.life-student-events-text a:hover{ color: #cc9900; }
#rankings-image-1,
#rankings-image-2{ width: 606px; margin: 0 auto; }
#rankings-image-3,
#rankings-image-4,
#rankings-image-5,
#rankings-image-6{ width: 300px; min-height: 160px; background: #e0f0ff; float: left; margin: 5px; }
#rankings-image-3:hover,
#rankings-image-4:hover,
#rankings-image-5:hover,
#rankings-image-6:hover{ background:#f2e5bf; }
.ranking-news-date{ word-wrap:break-word; width: 25px; margin: 5px 10px 5px 0px; float: left; }
.ranking-news-text{ width: 255px; margin: 5px 0px 5px 0px; float: left; }
.rankings-pop-text{ width: 290px; background: #F2E5BF; padding: 5px; margin: -3px 0 20px 0; padding-bottom: 10px; }
#rankings-group-four{ width: 620px; height: autopx; margin: 0 auto 50px auto; }

/* -Sam- */
#infoctr-blue-box-video-container{ width: 315px; height: 176px; border: 1px solid; padding: 15px; text-align: left; }
#infoctr-blue-box-video-text{ font-size: 13px; width: 290px; margin: 10px auto 30px auto; }
#infoctr-blue-box-link-video{ width: 290px; margin: 0 auto; margin-bottom: 10px; }
#infoctr-blue-box-link-video a:visited{ color: blue; }
#infoctr-blue-box-link-video a:hover{ color: #cc9900; }
#infoctr-blue-box-video-thumb{ position: relative; }
#infoctr-blue-box-video-play{ width: 53px; height: 53px; position: absolute; top: 60px; left: 129px; cursor: pointer; }
#infoctr-blue-box-video-container2{ width: 350px; height: 200px; border: 0px; padding: 0px; text-align: left; }
#infoctr-blue-box-video-text2{ font-size: 13px; width: 290px; margin: 10px auto 30px auto; }
/* -Sam- */

#multimedia-blue-box{ width: 836px; height: 400px; background: #E5EBF0; padding: 10px 30px; }
.multimedia-blue-box-title{ font-weight: bold; font-size: 13px; margin: 0 0 10px 0; color: #003366 ; }
.multimedia-blue-box-link{ font-size: 13px; margin: 10px 0 0 0; }
.multimedia-blue-box-link a:visited{ color: blue; }
.multimedia-blue-box-link a:hover{ color: #cc9900; }
#multimedia-blue-box-video-container{ width: 315px; height: 277px; border: 1px solid; padding: 15px; text-align: left; }
#multimedia-blue-box-video-text{ font-size: 13px; width: 290px; margin: 10px auto 30px auto; }
#multimedia-blue-box-link-video{ width: 290px; margin: 0 auto; margin-bottom: 10px; }
#multimedia-blue-box-link-video a:visited{ color: blue; }
#multimedia-blue-box-link-video a:hover{ color: #cc9900; }
#multimedia-blue-box-video-thumb{ position: relative; }
#multimedia-blue-box-video-play{ width: 53px; height: 53px; position: absolute; top: 60px; left: 129px; cursor: pointer; }
#multimedia-ecard{ margin: 30px 0 60px 0; }
.multimedia-ecard-link{ width: 140px; margin: 8px 0 0px 0; font-size: 13px; }
.multimedia-ecard-link a{ text-decoration: none; color: #404040 !important; }
.multimedia-ecard-link a:hover{ color: #cc9900 !important; }
#multimedia-video{ margin: 30px 0 60px 0; }
.multimedia-video-link{ width: 140px; margin: 8px 0 0px 0; font-size: 13px; }
.multimedia-video-link a{ text-decoration: none; color: #404040 !important; }
.multimedia-video-link a:hover{ color: #cc9900 !important; }
#multimedia-wallpapers{ margin: 30px 0 100px 0; }
.multimedia-wallpapers-link{ width: 140px; margin: 8px 0 0px 0; font-size: 13px; }
.multimedia-wallpapers-link a{ text-decoration: none; color: #404040 !important; }
.multimedia-wallpapers-link a:hover{ color: #cc9900 !important; }
#milestones-search{ width: 600px; height: 30px; margin: 10px 0 20px 0; }
.milestones-search-select select{ background: transparent; width: 222px; padding: 3px; font-size: 14px; line-height: 1; border: 0;
				border-radius: 0px; height: 24px; -webkit-appearance: none; z-index: 1; }
.milestones-search-select { width: 200px; height: 24px; overflow: hidden; background: url(images/DropDownArrow.png) no-repeat right;
		border: 1px solid #999999; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; z-index: 100; margin: 0 20px 0 0; }

/*#press-release-search{ width: 600px; height: 80px; margin: 10px 0 0 0; }*/
#press-release-search,
#explist-search
{ width: 896px; height: 30px; margin: 10px 0 0 0; }

#press-release-search form,
#explist-search form,
#awards-search form
{
	display:inline;
	float:left;
}

#press-release-quick { border: 0px solid #fff; height: 200px; margin: 5px 0 0 0; padding: 0px 0px; }

#press-release-search #form_date {width:500px !important;}
#explist-search #form_rsarea {width:800px !important;}
#form_sschool {width:650px !important;}
#form_sschool-2 {width:500px !important;}
#press-release-search #form_keyword,
#explist-search #form_keyword
 {width:394px !important;}

/*#awards-search{ width: 500px; height: 100px; margin: 20px 0 20px 0; }*/
#awards-search{ width: 896px; height: 30px; margin: 20px 0 20px 0; }

#awards-search #form_date {width 470px !important;}
#awards-search #form_school {width: 470px !important;}
#awards-search #form_keyword {width:354px !important;}
#awards-search .clear {clear:none;display:none;}

.awards-search-select select,
.awards-search-select2 select,
.explist-search-select select,
.press-release-search-select select{ background: transparent; width: 100px; padding: 3px; font-size: 14px; line-height: 18px; border: 0;
		border-radius: 0px; height: 24px; -webkit-appearance: none; z-index: 1; }
.press-release-search-select select{ width: 200px; }

.awards-search-select select,
.awards-search-select2 select{ width:100%; padding-right:30px; /*width: 222px;*/ }

.explist-search-select select{ width: 800px; height: 26px; overflow: hidden; background: url(images/DropDownArrow.png) no-repeat right; font-size: 14px; line-height: 18px;  
		border: 1px solid #999999; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; z-index: 100; margin: 0 20px 0 0; }


.awards-search-select,
.awards-search-select2,
.press-release-search-select { width: 200px; height: 24px; overflow: hidden; background: url(images/DropDownArrow.png) no-repeat right;
		border: 1px solid #999999; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; z-index: 100; margin: 0 20px 0 0; }
.awards-search-select{ margin: 10px 0; width: 200px; }
.awards-search-select2{ margin: 10px 0 0 5px; width: 200px; }

#awards-search-go,
#press-release-search-go{ font-size: 0; width: 54px; height: 27px; border: none; margin: 0; padding: 0;
		background: url(images/search-button-go.png) 0 0 no-repeat; width: 54px; height: 27px; }
#awards-search-go{ margin: 10px 0 0 5px; }

#hitm-search-text,
#awards-search-text,
#press-release-search-text,
#term-search-text{ width: 300px; height: 25px; font-size: 14px; margin: -1px 0 0 20px; border: 1px solid #999999;
		-webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; padding: 0 0 0 5px; }
#awards-search-text{ margin: 10px 0 20px 10px; width: 265px; }
#hitm-search-text{ margin: 1px 0 30px 0; width: 643px; }
#term-search-text{ margin-left: 0;}
#explist-search-text{ width: 300px; height: 25px; font-size: 14px; margin: 0px 0 0 0px; border: 1px solid #999999;
		-webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; padding: 0 0 0 5px; }



#hitm-search-submit,
#awards-search-submit,
#press-release-search-submit,
#term-search-submit
{ font-size: 0; width: 66px; height: 28px; border: none; margin: -2px 0 0 0; padding: 0; 
		background: url(images/search-button-search.png) 0 0 no-repeat; -webkit-border-radius: 0; -moz-border-radius: 0;
		border-radius: 0; }
		
#awards-search-submit{ margin: 9px 0; }
#hitm-search-submit{ margin: 0 0 10px 0; }

/*#term-search-submit{ style="margin-left:0px";}*//*Fix by Benny*/
#term-search-submit{ margin-left:0px;}


#press-releases-blue-box{ width: 896px; background: #E5EBF0; }
#press-releases-blue-box table{ border-collapse:separate;  border-spacing: 10px; }
/*#press-releases-blue-box th{ background: #003366; font-size: 17px; font-weight: bold; color: #fff; padding: 4px 15px; }*/
#press-releases-blue-box{ width: 866px; height: auto; background: #E5EAEF; padding: 15px; }
#press-releases-blue-box th{ background: #003366; padding: 5px 10px; color: #fff; }
#press-releases-blue-box td{	padding: 5px 0 5px 15px; line-height: 1.2em; text-decoration: none; }
/*#press-releases-blue-box a*/.press-link{ text-decoration: none; 	color: #000; }
#press-release-date { margin: 20px 0; font-size: 13px; color: #153562; }
#milestone-page-title{ font-size: 24px; font-weight: bold; text-transform: uppercase; margin: 0 0 15px 0; color: #003366; text-align: center;
		background: url(images/TitleBlueFadingLine.png) 0 10px no-repeat; }
#awards-left-column, #mr-left-column{ width: 590px; margin: 0 0 40px 0;}
#awards-right-column{ width: 280px; min-height: 300px; margin: 0 0 40px 0; padding: 43px 0 0 0; }
.awards-bb-title,
.media-relations-bb-title{ margin: 0; font-weight: bold; background: #E5EBF0; padding: 15px 10px; height: 10px; width: 574px;
		border-bottom: 1px solid; border-radius: 8px 8px 0 0; }
.media-relations-bb-title{ width: 562px; padding: 15px 14px; }
.awards-bb-title a{ text-decoration: none; }
.awards-blue-box{ position: relative; background: #E5EBF0; width: 574px; height: auto; margin: 0 0 20px 0; padding: 10px 10px 30px; }
.awards-full-text-tab{ float: right; background: #E5EBF0; font-weight: bold; font-size: 12px; text-align: center; line-height: 17px; }
.awards-image-1{ width: 240px; height: auto; margin: 0 20px 0 0; }/*195px*/
.awards-image-2{ width: 92px; height: auto; margin: 0 5px 0 0; }
.awards-content-1{ width: 305px; margin: 2px 0 0 0; }
.awards-content-2{ width: 180px; margin: 2px 0 0 0; }
.award-bb-award,{ font-weight: bold; }
.award-bb-name, .award-bb-faculty{ margin: 10px 0 0 0; }
.award-bb-name-2, .award-bb-faculty-2{ margin: 5px 0 0 0; }
.awards-bb-section-2{ width: 574px; height: 90px; margin: 8px 0 0 0; padding: 8px 0 0 0; border-top: 2px solid #000; }
.awards-small-sub{ width: 277px; height: 90px; }
.br1{ border-right: 1px solid; }
.ml1{ margin-left: 5px; }
.pr1{ padding-right: 5px; }
.award-featured{ height: auto; border-top: double 4px; text-align: center; padding: 20px 0;}
.award-featured-text{ width: 190px; margin: 0 auto; font-size: 15px;} 
#awards-announcements{ border-top: double 4px; }
#facts-left-column{ width: 550px; margin: 0 0 40px 0;}
#facts-right-column{ width: 320px; min-height: 300px; margin: 0 0 40px 0; padding: 14px 0 0 0; border-bottom: double 4px;}
.facts-featured{ height: auto; border-top: double 4px; text-align: center; padding: 20px 0;}
.facts-bb-title{ font-weight: bold; }
.facts-box{ margin: 0 0 30px 0; }
.facts-box table{ border-spacing: 1px; border-collapse: separate; }
.facts-box table th, .facts-box table .tf{ background: #003366; color: #fff;  padding: 5px 5px; font-weight: bold; }
.facts-box table .tf{ background: #6685A3; }
.facts-box table td{ background: #E5EBF0; padding: 5px; vertical-align:middle; }
.facts-featured-img{ margin: 20px 0 10px 0; }
.facts-featured-text{ font-size:18px; width: 200px; margin: 0 auto; }
.tacenter{ text-align: center; }
.court-box table{ border-spacing: 1px 2px; border-collapse: separate; }
.court-box table th{ background: #003366; color: #fff;  padding: 5px 5px; font-weight: bold; }
.court-box table td{ width: 25%; height: 30px; padding: 4px 10px; line-height: 1.3em; font-size: 11px;}
.court-box table tr:nth-child(even){ background: #E5EBF0; }
.court-box table tr:nth-child(odd){ background: #D4DCE5; }
#mr-right-column{ width: 272px; min-height: 300px; margin: 0 0 40px 0; padding: 42px 0 0 0; }
.mr-blue-box{ position: relative; background: #E5EBF0; width: 560px; height: auto; margin: 0 0 20px 0; padding: 15px;}
.mr-bb-section-1 { height: 203px; }
.mr-bb-section-2 { height: 253px; margin: 10px 0 0 0; border-top: 1px solid; padding: 10px 0 0 0; width: 560px;}
.mr-image-1{ width: 272px; height: 203px; }
.mr-content-1 { position: relative; width: 275px; height: 203px; padding: 0 0 0 10px; line-height: 16px; font-size: 14px;}
.mr-content-2 { height: 120px; }
.mr-date{ margin: 0 0 10px 0; }
.mr-date-2{ margin: 10px 0 10px 0; }
.mr-small-sub{ width: 177px; position: relative; }
.mr-image-2{ width: 178px; height: 133px; }
.mr-videos{ margin: 0 0 30px 0 ; }
.mr-video-thumb, .mr-video-thumb img{ position: relative; width: 241px; height: 145px;}
.mr-video-play, .mr-video-play img { width: 53px; height: 53px; }
.mr-video-thumb{ background: #E5EBF0; padding: 15px;}
.mr-video-play{ position: absolute; top: 55px; left: 105px; }
.mr-blue-box-tabbed{  position: relative; width: 590px; height: auto; margin: 0 0 20px 0; padding: 0; background: #e5ebf0;
		line-height: 1.3;  border-radius: 8px 8px 0 0; }
.mr-blue-box-tabbed-header{ background: #e5ebf0 url(images/TabsBG.png) 0 0 no-repeat; height: 27px; padding: 10px 0 0 0; font-size: 16px;
		text-align: center;	font-weight: bold; cursor: pointer; border-radius: 8px 8px 0 0; }
.mr-news{ padding: 0 15px 10px 15px; }
.mr-news-item{ margin: 10px 0 10px 0; }
.mr-hr{ height: 1px; background: #444; margin: 10px 0; }
.mr-glance{ width: 272px; height: 125px; background: url(images/HKUSTAtAGlaceThumb.png) 0 0 no-repeat; margin: 0 0 30px 0;}
.mr-read-more, .mr-read-more-2{ height: 17px; width: 64px; background: #D6A81E; -webkit-border-radius: 4px; -khtml-border-radius: 4px;
		-moz-border-radius: 4px; border-radius: 4px; color: #fff; font-size: 11px; line-height: 17px; cursor: pointer; text-align: center;
		position: absolute; bottom: 0px; left: 0px; overflow: hidden; }
.mr-read-more-2-top{ left: 10px !important;}
#mr-links-cont{ margin: 15px 0; }
#mr-links-cont ul{ list-style-image: url( images/Media-Relations_arrow.gif ); }
#mr-links-cont ul li a{ color: #003333; text-decoration: none; }
#mr-links-cont ul li a:hover{ color: #cc9900; }

#knews-form1{ border: 1px solid #444; height: 60px; margin: 5px 0 0 0; padding: 20px 10px; }
#knews-form1 label{ display: none; }
.knewsemail{ float: left; margin: 10px 0; height: 20px; }
.knewsemail input{ height: 20px; width: 178px;}
.requiredtext{ display: none; }
.knewsbutton{ float: left; margin: 5px 0 0 3px; height: 26px; line-height: 13px; }
.org-chart .level-1,
.org-chart .level-2,
.org-chart .level-3{ background: #E5EBF0; border: 0; width: 190px; height: 80px; padding: 10px; text-align: left; font-size: 11px;
		-webkit-border-radius: 5px;	-moz-border-radius: 5px; border-radius: 5px; box-shadow: 3px 3px 5px rgba(180, 180, 180, 0.8);
		cursor: pointer; }
.org-chart .level-1{ margin: 0 auto; }
.level-2-lines-1{ width: 447px; height: 15px; border-right: 3px solid #bbb;  }
.level-2-lines-2{ width: 690px; height: 3px; background: #bbb; margin: 0 0 0 100px;}
.level-2-lines-3{ width: 100px; height: 20px; border-right: 3px solid #bbb; margin-right: 126px;}
.level-2-lines-4{ width: 100px; height: 20px; border-right: 3px solid #bbb; }
.org-chart .level-2{}
.org-chart .level-2-spacer{ width: 17px; }
.org-chart-thumb{ width: 50px; height: 62px; margin: 0 4px 10px 0; float: left;}
img.wp-post-image.org-chart-thumb {width: 50px !important;}
.org-chart-title{ font-weight: bold; margin: 0 0 4px 0;}
.org-chart-text{ line-height: 1.2em; text-decoration: none !important; color: #444 !important; }
.p-m-box-l{ margin: 10px 0 30px 4px; font-size: 12px; width: 430px; float: left;}
.p-m-box-r{ margin: 10px 0 30px 0; width: 430px; float: right;}
.p-m-image{ width: 175px; height: 150px; box-shadow: 0px 0px 10px #bbb; margin: 0 15px 0 0; cursor: pointer;
			-webkit-border-radius: 5px;	-moz-border-radius: 5px; border-radius: 5px; float: left; }
.p-m-title{ font-size: 14px; font-weight: bold; margin: 5px 0 5px 0; }
.p-m-title a{ text-decoration: none; }
.p-m-title a:hover{ color: cc9900; }
.p-m-text{ font-size: 12px; line-height: 1.3em; float: left; width: 239px;}
.p-m-text ul{ margin: 0; list-style: none; }
.p-m-text ul li{ background: url(images/about-bullet.png) no-repeat; background-position: 0px 3px; padding: 0 15px 0 11px; }
.p-m-text ul li a{ color: #cc9900; text-decoration: none; }
.glance-box{ width: 388px; height: 740px; padding: 30px 30px; background: #EFF1F6; float: left; margin: 0 0  60px 0; line-height: 1.2em; }
.glance-box hr{ margin: 0 0 5px 0; }
.glance-box p{ margin: 5px 0 5px 0; }
.glance-box ul{ margin: 5px 0 0 20px; list-style-type: disc; line-height: 1.5em; }
.glance-box strong{ font-size: 16px; color: #476488; }
.hspacer{ width: 14px; }
.s-f-a-blue-box{ width: 866px; height: auto; background: #E5EAEF; padding: 15px; }
.s-f-a-blue-box th{ background: #003366; padding: 5px 10px; color: #fff; }
.s-f-a-blue-box td{ padding: 10px 10px; line-height: 1.2em; }
#cover-story-box{ width: 866px; height: auto; background: #E5EAEF; padding: 10px 15px; }
#cover-story-box table{ width: 100%; }
#cover-story-box-container { width: 865px; }
.cover-story-title{ font-size: 16px; font-weight: bold; margin: 0 0 10px 0; }
.cover-story-title a{ text-decoration: none; color: #003333; }
.cover-story-title a {color: #003366;}
.cover-story-title a:hover{ color: #cc9900; }
.cover-story-text{ font-size: 12px; line-height: 1.3em; float: right; width: 580px; margin: 0 auto; margin-bottom: 15px; }
.cover-img-wrapper{ position: relative; width: 164px; margin: 20px 15px 0 0; }
.cover-story-links{ float: left; margin: 0 0 0 7px; }
.cover-story-links ul{ margin: 0;}
.cover-story-links ul li{ display: block; background: url(images/about-bullet.png) no-repeat; background-position: 0px 1px; padding: 0 0 0 10px; }
.cover-img-rollover{ position: absolute; bottom: 1px; min-width: 164px; height: 0px; background: rgba(0, 51, 102, 0.7);
		color: #fff; text-align: center; font-size: 13px !important; cursor: pointer; text-align: left;overflow:hidden; }

#org-chart-2-image{  }
.loupe{ z-index: 1; }
.zoomWindow{ z-index: 1000; }
.zoomContainer{ z-index: 1000; }
.rollover{ cursor: pointer; }
#ttcont_14{ width: auto !important;  font-family: Ariel !important; line-height: 1.2em !important; 
		background: rgba( 255, 255, 255, .9 ) !important; font-size: 11px !important; }
#tt_14{ width: auto !important; background: none transparent !important; opacity: 1 !important; }
#tt_14 td{ white-space: nowrap; padding: 0 4px; }

.gen-left{ width: 570px; height: auto; margin-bottom: 60px; }
.cover-story-col-left{ width: 100% !important;}


.gen-img-wrapper{ margin: 20px 30px 10px 0; width: 255px;; background: #fff;}
.gen-img-container{ background: #E5EBF0; padding: 4px; border: 1px solid; cursor: pointer; }
.gen-img{ height: 157px;  }
.gen-img-text{ margin-top: 10px; font-weight: bold; }
.gen-right{ width: 240px; height: auto; border: 1px solid; padding: 15px; background: #003366; color: #fff; margin-top: 20px; }
.rep-img-container{ width: 144px; height: 194px; background: url(images/Annual_Report_Thumb_BG.png) 0 0 no-repeat; }
.rep-left{ width: 580px; height: auto; margin-bottom: 60px; }
.rep-img-wrapper{ margin: 10px 30px 10px 0; width: 260px; }
.rep-img{ margin: 13px; }
.rep-img-text{ padding: 15px 0 0 10px; line-height: 1.2em; }
.rep-img-text .title{ font-weight: bold;  margin: 0 0 10px 0; }
.rep-img-links{ margin: 30px 0 0 0; line-height: 1.5em; }
.rep-img-links a{ text-decoration: none; background: url(images/about-bullet.png) 0 3px no-repeat; padding-left: 10px; color: #cc9900;}
#explore-archives{ width: 230px; background: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;
					border-radius: 5px; color: #000; margin: 15px 0; padding: 5px 5px 10px 5px; }
.explore-title{ font-weight: bold; }
.explore-row{ margin: 8px 5px; cursor: pointer; }

#dir-text{ line-height: 1.5em; height: auto; background: #E5EBF0; padding: 5px 0 40px 30px; }
#dir-text strong{ line-height: 1.5em; font-size: 15px; }
#dir-text p{ margin: 20px 0 10px 0; }
#dir-alpha{ margin: 15px 0; line-height: 1.5em; padding: 1px; }
#dir-alpha a{ color: #000; text-decoration: none; }
#dir-alpha a:hover{ color: #cc9900; }

#dir-search-wrapper{ margin: 0 0 20px 0; }
#dir-search-text{ width: 510px; height: 25px; font-size: 14px; border: 1px solid #999999; margin: 1px 0 0 0;
		-webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; padding: 0 0 0 5px; }
#dir-search-submit{ font-size: 0; width: 66px; height: 28px; border: none; padding: 0; background: url(images/search-button-search.png) 0 0 no-repeat;
		-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.ie #dir-search-text{ width: 550px; }
#searchsubmit{  position: relative; top: -2px; height: 22px; font-size: 11px; padding: 1px; margin: 0; }
#p-s-table{ border-spacing: 2px 3px; border-collapse: separate; }
#p-s-table th{ padding: 5px 5px; background: #003366 ; text-align: center; font-weight: bold; color: #fff; }
#p-s-table th.aleft{ text-align: left; }
#p-s-table td{ padding: 8px 5px; border-spacing: 2px 1px; background: #e5ebf0; line-height: 1.3em; }
#p-s-table th, #p-s-table td{  }
.gsc-cursor-current-page{ color: #333 !important; background: #fff !important; }
#cover_link{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 990; text-indent: -9999px;background-image:url(about:blank);}
.sub-container.mega{ width: 1024px; }
.sub-container.mega .sub-menu.sub{ width: 896px; }
.flex-direction-nav li a.flex-prev{ width: 22px; height: 32px; background: url(/wp-content/plugins/vegas-fullscreen-background-slider/images/Home_BigLeftArrow.png) 0 0 no-repeat !important; }
.flex-direction-nav li a.flex-next{ width: 22px; height: 32px; background: url(/wp-content/plugins/vegas-fullscreen-background-slider/images/Home_BigRightArrow.png) 0 0 no-repeat !important; }


/*    Footer   */
#colophon{ margin-top: -44px; /*position: absolute; bottom: 0px;*/  }
#colophon a{ color: #363636; text-decoration: none; }
#colophon a:hover{ color: #cc9900; text-decoration: underline; }

footer{
	position: relative;
	height:39px;
	width:874px;
	background:#fff;
	margin: 0 auto;
	color: #bbb;
	border-left: 1px #dddddd solid;
	border-top: 1px #dddddd solid;
	border-right: 1px #dddddd solid;
	padding: 4px 10px 0 10px;
	z-index: 10000;
	margin: 0 auto;
}
#footer-wrapper{
	position: relative;
	width: 896px;
	margin: 0 auto;
}
.home footer{ width: 934px; }
.home #footer-wrapper{ width: 956px;}

/*
#footer-wrapper { bottom: 0px\9; bottom: 1px !important;padding-bottom:1px; }
#footer-logo{ background: url(images/Logo_HKUSTSmall.png); margin: 0 0 0 5px; } width: 72px; height:24px;*/

#footer-sitemap-link{ margin: 10px 0px 0 30px; font-size: 10px; }
#footer-sitemap-link:hover{ text-decoration: underline; cursor: pointer; }
.link:hover{ color: #cc9900; }
#footer-sitemap-arrow{ background: url(images/Footer_arrow.png) 0 0 no-repeat; width: 16px; height: 16px;  margin: 7px 0px 0 10px; }
#footer-sitemap-arrow:hover{ background: url(images/ExploreTheSiteMapArrow.png) 0 -16px no-repeat; cursor: pointer; }
#sitemap-close{ width: 12px; height: 16px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; position: absolute; right: 0px;
		top: 0px; font-size: 16px; padding: 2px; cursor: pointer; }
#single-featured-image{ margin: 0 10px 20px 0; }
#footer-youtube, #footer-facebook, #footer-rss{ width: 18px; height: 17px; margin: 0 8px 0 0; cursor: pointer; }
#footer-youtube{ background: url(images/Button_Youtube.png); }
#footer-facebook{ background: url(images/Button_Facebook.png); }
#footer-rss{ background: url(images/Button_RSS.png); }
.footer-links1{ font-size: 11px; margin: 4px 5px 0 0; }
.footer-links2{ font-size: 8px; margin: -3px 5px 0 0; }
.footer-links1:hover, .footer-links2:hover{ cursor: pointer; }
.left{ float: left; }
.right{ float: right; }
.clear{ clear: both; }
.post-edit-link{ position: absolute; top: 5px; left: 5px; background: #fff; }
.hover-link{ font-weight: bold; }
.hover-link:hover{ color: #c90; cursor: pointer; }

body {
	line-height: 1;
}
ol,
ul {
	list-style: disc;
	margin: 0 0 0 17px;
}
li {
	margin: 5px 0;
}



blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}


/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.archive-title,

.widget-title,
.entry-content th,
.comment-content th {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}
#page-title, #profile-title{
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 15px 0;
	color: #003366;
}
#page-title, #profile-title, #breadcrumbs{
	line-height:1.2;
}
#profile-title{ none; margin: 0 0 4px 0; }

#profile-title-2{
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0 20px 0;
}

#page-text{
	font-size: 13px;
	line-height: 17px;
	color: #404040;
	margin: 0 0 15px 0;
	text-align: left;
}

#page-text table td {
 vertical-align:top;
}
#page-text > table > tbody > tr > td {
 padding: 0px !important;
}

#page-text > table > tbody > tr > td > p {/*display:none;*/}
#page-text table table table table {
 padding-top: 10px;
 /*border-top : 1px dotted #E6C997;*/
 width:75%;
}

#page-text table table table table table, #page-text table table table .content table {
 padding-top: 0px;
 border-top:0px;
 width:auto;
}

#page-text table table table .content > table {
 margin-left:10px;
}

#page-text table table table .content table .prContent
{
 font-size: 10px;
 line-height: 1.3;
 color:#757575;
 padding-left: 0px !important;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}

/* Form fields, general styles first */
button,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	padding: 0.428571429rem;
}
button,
input {
    line-height: normal;
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Buttons */
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
li.bypostauthor cite span {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
.menu-toggle:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #757575;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border: none;
}
li.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.wp-caption{
	width:235px !important;
}

.wp-caption img{
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	margin: 0 0 5px 25px;
}
p.wp-caption-text{margin: 5px 0 0 0 !important;}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.3;
	color: #757575;
	max-width: 100%;
	padding: 0 0 10px 25px
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* Navigation */
.site-content nav {
	overflow: hidden;
}
#nav-above {
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
	margin: 3.428571429rem 0;
}

/* Author profiles */
.author .archive-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.author-info {
	border-top: 1px solid #ededed;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	overflow: hidden;
}
.author-description p {
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.author.archive .author-info {
	border-top: 0;
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
}
.author.archive .author-avatar {
	margin-top: 0;
}


/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html { font-size: 87.5%; }
body { font-size: 14px; font-size: 1rem; font-family: Arial, sans-serif; text-rendering: optimizeLegibility; color: #444; }
body.custom-font-enabled { font-family: Arial, sans-serif; }
a { outline: none; }
a:hover { color: #cc9900; }
p { 	margin: 0; }
.relative p { margin: 0; }
#page-text p { margin:0; margin-bottom: 1em; }
.pmlinks a , .blue-box-links a, .cover-story-links a{ color: #cc9900; text-decoration: none; font-size: 11px; }

/* Assistive text */
.assistive-text,
.site .screen-reader-text { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }
.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Page structure */
.site { 	padding: 0; padding: 0; background: #fff; }
.home .site{ background: none; }
.site-content { margin: 0; }
.widget-area { margin: 24px 0 0; margin: 1.714285714rem 0 0; }

/* Header */
.home .site-header {
	height: 90px;
	background: #ffffff;
}

.site-header h1,
.site-header h2 { text-align: center; }
.site-header h1 a,
.site-header h2 a { color: #515151; display: inline-block; text-decoration: none; }
.site-header h1 a:hover,
.site-header h2 a:hover { color: #cc9900; }
.site-header h1 { font-size: 24px; font-size: 1.714285714rem; line-height: 1.285714286; margin-bottom: 14px; margin-bottom: 1rem; }
.site-header h2 {
	font-weight: normal;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.header-image {
	margin-top: 24px;
	margin-top: 1.714285714rem;
}

/* Navigation Menu */
.main-navigation {
	margin-top: 5px;
	margin-top: .31rem;
	text-align: center;
}
.main-navigation li {
	margin-top: 4px;
	margin-top: .25rem;
	font-size: 10px;
/*
	font-size: 0.625rem;
*/
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover {
	color: #cc9900;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}

/* Sidebar */
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	word-wrap: break-word;
}
.widget-area .widget h3 {
	margin-bottom: 24px;
	margin-bottom: 1.7147285714rem;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget-area .widget p {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
.widget-area .textwidget li {
	margin-left: 36px;
	margin-left: 2.571428571rem;
}
.widget-area .widget a {
	color: #757575;
}
.widget-area .widget a:hover {
	color: #21759b;
}
.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}

/* Footer */

footer[role="contentinfo"] {
	border-top: 1px solid #ededed;
	clear: both;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	max-width: 960px;
	max-width: 68.571428571rem;
	margin-top: 24px;
	margin-top: 1.714285714rem;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
footer[role="contentinfo"] a {
	color: #686868;
}
footer[role="contentinfo"] a:hover {
	color: #cc9900;
}
#sitemap-footer{
	position: absolute;
	bottom: 0px;
	height: 0px;
	width: 894px;
	background: #fff;
	color: #000;
	font-weight: normal;
	line-height: 18px;
	font-size:14px;
	text-decoration: none;
	border: 1px solid #ddd;
	z-index: 10000;
	overflow: hidden;
}
#sitemap-footer ul{
	margin: 0;
	list-style: none;
}
.home #sitemap-footer{ width: 954px; }
/*
.ie #sitemap-footer{
	line-height: 1.1em;
}*/

#sitemap-footer a{
	color: #000;
	text-decoration: none;
}
#sitemap-footer a:hover{
	color: #cc9900;
}
#menu-sitemap{
	width: 100%;
	list-style: none;
}

#menu-sitemap-chinese-traditional0 li,
#menu-sitemap-chinese-simplified li,
#menu-sitemap li{
	float: left;
	margin: 15px 20px 0 21px;
	width: 180px;
}

#menu-sitemap-chinese-traditional0 li ul li,
#menu-sitemap-chinese-simplified li ul li,
#menu-sitemap li ul li{
	float: none;
	margin: 0;
	border: 0;
	height: auto;
}

#menu-sitemap-chinese-traditional0 li a,
#menu-sitemap-chinese-simplified li a,
#menu-sitemap li a
{
	color: #003366;
	list-style: none;
	font-size: 11px;
	font-weight: bold;
}
#menu-sitemap-chinese-traditional0 li a:hover,
#menu-sitemap-chinese-simplified li a:hover,
#menu-sitemap li a:hover
{
	color: #cc9900;
}


#menu-sitemap #menu-item-754 a ,
#menu-sitemap #menu-item-758 a ,
#menu-sitemap #menu-item-762 a ,
#menu-sitemap #menu-item-759 a ,
#menu-sitemap #menu-item-763 a ,
#menu-sitemap #menu-item-760 a ,
#menu-sitemap #menu-item-761 a ,
{
	color: #003366;
	list-style: none;
	font-size: 11px;
	font-weight: bold;
}
#menu-sitemap #menu-item-754 a:hover ,
#menu-sitemap #menu-item-758 a:hover ,
#menu-sitemap #menu-item-762 a:hover ,
#menu-sitemap #menu-item-759 a:hover ,
#menu-sitemap #menu-item-763 a:hover ,
#menu-sitemap #menu-item-760 a:hover ,
#menu-sitemap #menu-item-761 a:hover ,
{
	color: #cc9900;
}

/* en sitemap */
#menu-sitemap #menu-item-758{ position: absolute; top: 267px; }
/*.ie #menu-sitemap #menu-item-758{ top: 230px; }
*/

#menu-sitemap #menu-item-760{ position: absolute;left: 443px;top: 267px; }
/*.ie #menu-sitemap #menu-item-760{ top: 237px; }
*/

#menu-sitemap #menu-item-763{ position: absolute; left: 443px; top: 475px; }
/*.ie #menu-sitemap #menu-item-763{ top: 410px; }
*/
#menu-sitemap #menu-item-761{ position: absolute; right: 0px; top: 152px; }
/*.ie #menu-sitemap #menu-item-761{ top: 122px; }
*/
/*
#menu-sitemap #menu-item-836{ position: absolute; right: 0px; top: 0px; color: #666 !important; }
#menu-sitemap #menu-item-836 a{ font-size: 11px; color: #666 !important; font-weight: normal !important;}
#menu-sitemap #menu-item-836 a:hover{ color: #cc9900 !important; font-weight: normal !important;}
*/
/*
.home #menu-item-31919, .home #menu-item-6607, .home #menu-item-15539, .home #menu-item-6609{ position: relative;left: 290px;top: -626px;}
*/
/*.ie .home #menu-item-31919, .ie .home #menu-item-6607, .ie .home #menu-item-15539, .ie .home #menu-item-6609{ position: relative;left: 290px;top: -543px;}
*/
/*
#menu-item-31919, #menu-item-6607, #menu-item-15539, #menu-item-6609{ position: relative;left: 230px;top: -626px;}
*/
/*.ie #menu-item-31919, .ie #menu-item-6607, .ie #menu-item-15539, .ie #menu-item-6609{ position: relative;left: 230px;top: -543px;}
*/

/* tc sitemap */

#menu-item-13602 { position: absolute; top: 267px; }
/*.ie #menu-item-13602{ top: 230px; }
*/
#menu-item-13622 { position: absolute; left: 443px; top: 209px; }
/*.ie #menu-item-13622{ top: 179px; }
*/
#menu-item-13640{ position: absolute; left: 443px; top: 399px; }
/*.ie #menu-item-13640{ top: 334px; }
*/
#menu-item-13562{ position: absolute; right: 0px; top: 95px; }
/*.ie #menu-item-13562{ top: 95px; }
*/
/* 13650 32005 15541 13652*/

/*.home #menu-item-13650, .home #menu-item-32005, .home #menu-item-15541, .home #menu-item-13652{ position: relative;left: 290px;top: -532px}*/
/*.ie .home #menu-item-13649, .ie .home #menu-item-31923, .ie .home #menu-item-15540, .ie .home #menu-item-13651{ position: relative;left: 290px;top: -451px;}
*/
/*#menu-item-13650,  #menu-item-32005,  #menu-item-15541,  #menu-item-13652{ position: relative;left: 230px;top: -532px}*/
/*.ie  #menu-item-13649, .ie  #menu-item-31923, .ie  #menu-item-15540, .ie  #menu-item-13651{ position: relative;left: 230px;top: -451px;}
*/
/*
#menu-item-13648{ position: absolute; right: 0px; top: 0px; color: #666 !important; }
#menu-item-13648 a{ font-size: 11px; color: #666 !important;  font-weight: normal !important;}
#menu-item-13648 a:hover{ color: #cc9900 !important;  font-weight: normal !important;}
*/

/* sc sitemap */

#menu-item-13601{ position: absolute; top: 267px; }
.ie #menu-item-13601{ top: 230px; }

#menu-item-13621{ position: absolute; left: 443px; top: 209px; }
.ie #menu-item-13621{ top: 179px; }

#menu-item-13658{ position: absolute; left: 443px; top: 399px; }
.ie #menu-item-13658{ top: 334px; }

#menu-item-13561{ position: absolute; right: 0px; top: 95px; }
.ie #menu-item-13561{ top: 95px; }

/* 13643 13645 13647 13649 31923 15540 13651*/

.home #menu-item-13649, .home #menu-item-31923, .home #menu-item-15540, .home #menu-item-13651{ position: relative;left: 290px;top: -532px}
.ie .home #menu-item-13649, .ie .home #menu-item-31923, .ie .home #menu-item-15540, .ie .home #menu-item-13651{ position: relative;left: 290px;top: -451px;}

 #menu-item-13649,  #menu-item-31923,  #menu-item-15540,  #menu-item-13651{ position: relative;left: 230px;top: -532px}
.ie  #menu-item-13649, .ie  #menu-item-31923, .ie  #menu-item-15540, .ie  #menu-item-13651{ position: relative;left: 230px;top: -451px;}

/*
#menu-item-13647{ position: absolute; right: 0px; top: 0px; color: #666 !important; }
#menu-item-13647 a{ font-size: 11px; color: #666 !important;  font-weight: normal !important;}
#menu-item-13647 a:hover{ color: #cc9900 !important; font-weight: normal !important;}
*/

#sitemap-footer *{
	line-height:18px;
}
@-moz-document url-prefix() {
    #sitemap-footer *{
	line-height:17.5px;
    }
}

#sitemap-footer .sub-menu a{
	color: #333 !important;
	font-size: 11px;
	font-weight: normal !important;
	text-decoration: none;
	
}
#sitemap-footer .sub-menu a:hover{
	color: #cc9900 !important;
}


/* Milestones
===========================  */
.timeline{
	background: #fff;
}


/* =Main content and comment content
-------------------------------------------------------------- */

.entry-meta {
	clear: both;
	display: none;
}
.entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header img.wp-post-image {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header .entry-title {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #003366;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header .entry-format {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-weight: normal;
}
.entry-header .comments-link {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.comments-link a,
.entry-meta a {
	color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
	color: #cc9900;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.entry-content,
.entry-summary,
.mu_register {
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
	margin: 24px 0;
	margin: 1.714285714rem 0;
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1 {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.entry-content h2,
.comment-content h2,
.mu_register h2 {
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
}
.entry-content h3,
.comment-content h3 {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}
.entry-content h4,
.comment-content h4 {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}
.entry-content h5,
.comment-content h5 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.entry-content h6,
.comment-content h6 {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.846153846;
}
.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.1rem;
}
.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	padding: 24px;
	padding: 1.714285714rem;
	font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 24px;
	padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
img.alignleft {
	margin: 0px 24px 12px 0;
	margin: 0rem 1.914285714rem 1.257142857rem 0;
}
img.alignright {
	margin: 12px 0 12px 24px;
	margin: 1.257142857rem 0 1.257142857rem 1.914285714rem;
}
img.aligncenter {
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment-content dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}
.site-content article {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}


/* =Archives
-------------------------------------------------------------- */

.archive-header,
.page-header {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	padding-bottom: 22px;
	padding-bottom: 1.571428571rem;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin-top: 22px;
	margin-top: 1.571428571rem;
}


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
	margin-top: 0.571428571rem;
}


/* =Aside post format
-------------------------------------------------------------- */

article.format-aside h1 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #cc9900;
}
article.format-aside .aside {
	padding: 24px 24px 0;
	padding: 1.714285714rem;
	background: #d2e0f9;
	border-left: 22px solid #a8bfe8;
}
article.format-aside p {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}


/* =Post formats
-------------------------------------------------------------- */

/* Image posts */
article.format-image footer h1 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}

/* Link posts */
article.format-link header {
	padding: 0 10px;
	padding: 0 0.714285714rem;
	float: right;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;
}
article.format-link .entry-content {
	max-width: 80%;
	float: left;
}
article.format-link .entry-content a {
	font-size: 22px;
	font-size: 1.571428571rem;
	line-height: 1.090909091;
	text-decoration: none;
}

/* Quote posts */
article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	padding: 1.714285714rem 1.714285714rem 0;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.6;
	font-style: normal;
	color: #6a6a6a;
	background: #efefef;
}

/* Status posts */
.format-status .entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
	display: inline-block;
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-size: 1.071428571rem;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #cc9900;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	margin-right: 1.5rem;
}


/* =Comments
-------------------------------------------------------------- */

.comments-title {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.comments-area article header {
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #cc9900;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #21759b;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

/* Comment form */
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}
#respond h3#reply-title {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}


/* =Front page template
-------------------------------------------------------------- */

.entry-page-image {
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.template-front-page .site-content article {
	border: 0;
	margin-bottom: 0;
}
.template-front-page .widget-area {
	clear: both;
	float: none;
	width: auto;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	border-top: 1px solid #ededed;
}
.template-front-page .widget-area .widget li {
	margin: 8px 0 0;
	margin: 0.571428571rem 0 0;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.714285714;
	list-style-type: square;
	list-style-position: inside;
}
.template-front-page .widget-area .widget li a {
	color: #757575;
}
.template-front-page .widget-area .widget li a:hover {
	color: #cc9900;
}
.template-front-page .widget-area .widget_text img {
	float: left;
	margin: 8px 24px 8px 0;
	margin: 0.571428571rem 1.714285714rem 0.571428571rem 0;
}


/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
.widget_rss li {
	margin: 12px 0;
	margin: 0.857142857rem 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	font-size: 0.785714286rem;
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	padding-right: 1.714285714rem;
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}


/* =Plugins
----------------------------------------------- */

img#wpstats {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.714285714rem;
}


/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.author-avatar {
		float: left;
		margin-top: 8px;
		margin-top: 0.571428571rem;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	.site {
		margin: 0 auto;
		max-width: 1024px;
		overflow: hidden;
	}
	.site-content {
		float: left;
		width: 65.104166667%;
	}
	body.template-front-page .site-content,
	body.single-attachment .site-content,
	body.full-width .site-content {
		width: 100%;
	}
	.widget-area {
		float: right;
		width: 26.041666667%;
	}
	.site-header h1,
	.site-header h2 {
		text-align: left;
	}
	.site-header h1 {
		font-size: 26px;
		font-size: 1.857142857rem;
		line-height: 1.846153846;
		margin-bottom: 0;
	}
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		display: inline-block !important;
		text-align: right;
		/*width: 100%;*/
		width: 940px;
		right: 58px;
		position: absolute;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		color: #6a6a6a;
		white-space: nowrap;
	}
	.main-navigation li a:hover {
		color: #cc9900;
	}
	.main-navigation li {
		margin: 0 10px 0 0;
		margin: 0 .625rem 0 0;
		position: relative;
	}
	.main-navigation li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul li a {
		display: block;
		font-size: 11px;
		font-size: 0.785714286rem;
		line-height: 2.181818182;
		padding: 8px 10px;
		padding: 0.571428571rem 0.714285714rem;
		width: 100px;
		width: 12.85714286rem;
		white-space: normal;
	}
	.main-navigation li ul li a:hover {
		background: #e3e3e3;
		color: #cc9900;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #636363;
		font-weight: bold;
	}
	.menu-toggle {
		display: none;
	}
	.entry-header .entry-title {
		font-size: 22px;
		font-size: 1.571428571rem;
	}
	#respond form input[type="text"] {
		width: 46.333333333%;
	}
	#respond form textarea.blog-textarea {
		width: 79.666666667%;
	}
	.template-front-page .site-content,
	.template-front-page article {
		overflow: hidden;
	}
	.template-front-page.has-post-thumbnail article {
		float: left;
		width: 47.916666667%;
	}
	.entry-page-image {
		float: right;
		margin-bottom: 0;
		width: 47.916666667%;
	}
	.template-front-page .widget-area .widget,
	.template-front-page.two-sidebars .widget-area .front-widgets {
		float: left;
		width: 51.875%;
		margin-bottom: 24px;
		margin-bottom: 1.714285714rem;
	}
	.template-front-page .widget-area .widget:nth-child(odd) {
		clear: right;
	}
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
		float: right;
		width: 39.0625%;
		margin: 0 0 24px;
		margin: 0 0 1.714285714rem;
	}
	.template-front-page.two-sidebars .widget,
	.template-front-page.two-sidebars .widget:nth-child(even) {
		float: none;
		width: auto;
	}
	.commentlist .children {
		margin-left: 48px;
		margin-left: 3.428571429rem;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	body {
		background-color: #93b6d3;
	}
	body .site {
		margin-top: 0;
	}
	body.custom-background-empty {
		background-color: #fff;
	}
	body.custom-background-empty .site,
	body.custom-background-white .site {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
}


/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}
	footer a[rel=bookmark]:link:after,
	footer a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	a {
		text-decoration: none;
	}
	.entry-content img,
	.comment-content img,
	.author-avatar img,
	img.wp-post-image {
		border-radius: 0;
		box-shadow: none;
	}
	.site {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	.site-header {
		margin-bottom: 72px;
		margin-bottom: 5.142857143rem;
		text-align: left;
	}
	.site-header h1 {
		font-size: 21pt;
		line-height: 1;
		text-align: left;
	}
	.site-header h2 {
		color: #000;
		font-size: 10pt;
		text-align: left;
	}
	.site-header h1 a,
	.site-header h2 a {
		color: #000;
	}
	.author-avatar,
	#respond,
	.commentlist .comment-edit-link,
	.commentlist .reply,
	.entry-header .comments-link,
	.entry-meta .edit-link a,
	.page-link,
	.site-content nav,
	.widget-area,
	img.header-image,
	.main-navigation {
		display: none;
	}
	.wrapper {
		border-top: none;
		box-shadow: none;
	}
	.site-content {
		margin: 0;
		width: auto;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.singular .site-content,
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular .comments-title {
		margin: 0;
		width: 100%;
	}
	.entry-header .entry-title,
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	footer.entry-meta,
	footer.entry-meta a {
		color: #444;
		font-size: 10pt;
	}
	.author-description {
		float: none;
		width: auto;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.comments-area article header cite,
	.comments-area article header time {
		margin-left: 50px;
		margin-left: 3.57142857rem;
	}
}

/* =Added PLEASE DO NOT CHANGE
----------------------------------------------- */

.govtable_title { float: left; }
.govtable_arrow { float: right; padding-right: 5px; }

.org-chart .level-2 {
	margin: 0 auto;
}

.level-1 {
	float: left;
}
.line-1-leftspace {
	float: left;
	width: 333px;
}
.line-1-rightline {
	float: left;
	width: 220px;
	height: 3px;
	background: #bbb;
	margin: 50px 0 0 0px;
}
.line-1-rightvline {
	float: left;
	width: 0px;
	height: 50px;
	border-right: 3px solid #bbb;
	margin: 50px 0 0 0px;
}
.level-2-lines-1b {
	float: left;
	width: 447px;
	height: 15px;
	border-right: 3px solid #bbb;
}
.level-2-lines-3b{ width: 87px; height: 20px; border-right: 3px solid #bbb; margin-right: 136px;}
.level-2-lines-3c{ width: 70px; height: 20px; border-right: 3px solid #bbb; margin-right: 159px;}
.level-2-rightline {
	float: left;
	width: 337px;
	height: 15px;
	border-right: 3px solid #bbb;
	margin: 0px 0 0 0px;
}
.line-2-rightvline {
	float: left;
	width: 0px;
	height: 100px;
	border-right: 3px solid #bbb;
	margin: 0 0 0 220px;
}
.level-2-lines-2 {
	float: left;
	width: 461px;
}
.level-3-dashedline {
	float: left;
	width: 229px;
	height: 0px;
	border-top: 3px dashed #bbb;
	margin: 0px 0 0 0px;
}
.org-chart-title {
	color: #003366;
	font-size: 13px;
}
.org-chart .level-1,
.org-chart .level-2,
.org-chart .level-3{ width: 214px; }
.org-chart-thumb { margin-right: 7px; }

#content, #content-with-margins {
	margin-bottom: 80px;
	min-height: 500px;
}
.awards-bb-title a{ text-decoration: none; color: #003366; }
.p-m-title a { color: #003366; }
.p-m-title a:visited { color: #003366; }
.p-m-title a:active { color: #003366; }
.p-m-title a:hover

/* For Contact Us */
.contactus {
	text-align:left;
}
.contactus_l {
	float:left;
	width:90px;
	line-height:130%;
}
.contactus_r {
	line-height:130%;
}

/*Fix by Benny*/
.page #header-search{position: absolute; top: 5px; right: 170px;}
.page #header-print-font{position: absolute; top: 5px; right: 60px;}

.home #header-search{position: absolute; top: 5px; right: 140px;}
.home #header-print-font{position: absolute; top: 5px; right: 40px;}

.search #header-search, body #header-search{position: absolute; top: 5px; right: 140px;}
.search #header-print-font, body #header-print-font{position: absolute; top: 5px; right: 40px;}

#lang_sel_list li{ float: left; width: auto;}

#header-print-font{width: 85px;}
#header-font-size{float: left; margin:20px 3px 20px 18px;}
#header-font-size a{text-indent: -9999px;}
#header-print{float: left; text-indent: -9999px; background-repeat: no-repeat; clear: none;}

#sitemap-footer{left: -1px; z-index: -10;}
.footer-links1{margin-left: -365px; margin-right: 80px;}

#footer-youtube{position: absolute; right: 65px;}
#footer-facebook{position: absolute; right: 35px;}
#footer-rss{position: absolute; right: 5px;}

/*Sitemap*/
/*en*/
#menu-sitemap #menu-item-754{position: absolute; top: 0; left: 0;}
#menu-sitemap #menu-item-759{position: absolute; top: 260px;}
	#menu-item-6625{position: absolute; top: -260px; left: 230px;}
	#menu-item-29676{position: absolute; top: -221px; left: 230px;}
	#menu-item-6626{position: absolute; top: -202px; left: 230px;}
	#menu-item-6627{position: absolute; top: -164px; left: 230px;}
	#menu-item-6628{position: absolute; top: -126px; left: 230px;}
	#menu-item-6629{position: absolute; top: -88px; left: 230px;}
	#menu-item-24129{position: absolute; top: -69px; left: 230px;}
	#menu-item-6630{position: absolute; top: -50px; left: 230px;}
	#menu-item-6631{position: absolute; top: -30px; left: 230px;}
#menu-sitemap #menu-item-762{position: absolute; top: 260px; left: 230px;}
#menu-sitemap #menu-item-761{position: absolute; top: 525px; left: 230px;}
	#menu-item-6663{position: absolute; top: -525px; left: 250px;}
	#menu-item-6664{position: absolute; top: -506px; left: 250px;}
	#menu-item-6665{position: absolute; top: -487px; left: 250px;}
	#menu-item-6666{position: absolute; top: -468px; left: 250px;}
	#menu-item-6667{position: absolute; top: -449px; left: 250px;}
	#menu-item-6668{position: absolute; top: -430px; left: 250px;}
	#menu-item-6669{position: absolute; top: -411px; left: 250px;}
	#menu-item-6670{position: absolute; top: -391px; left: 250px;}
	#menu-item-31918{position: absolute; top: -372px; left: 250px;}
	#menu-item-6671{position: absolute; top: -334px; left: 250px;}
	#menu-item-6672{position: absolute; top: -315px; left: 250px;}
	#menu-item-6673{position: absolute; top: -296px; left: 250px;}
	#menu-item-6675{position: absolute; top: -277px; left: 250px;}
	#menu-item-6676{position: absolute; top: -258px; left: 250px;}
	#menu-item-31917{position: absolute; top: -239px; left: 250px;}

	#menu-item-50392{position: absolute; top: -220px; left: 250px;}

	#menu-item-31916{position: absolute; top: -201px; left: 250px;}
	#menu-item-6674{position: absolute; top: -163px; left: 250px;}
#menu-sitemap #menu-item-758{position: absolute; top: 389px; left: 480px;}
#menu-sitemap #menu-item-760{position: absolute; top: 0; left: 700px;}
#menu-sitemap #menu-item-763{position: absolute; top: 195px; left: 700px;}

/*tc-sc*/
#menu-sitemap-chinese-traditional0 #menu-item-13480, #menu-sitemap-chinese-simplified #menu-item-13479{position: absolute; top: 0; left: 0;}
#menu-sitemap-chinese-traditional0 #menu-item-13506, #menu-sitemap-chinese-simplified #menu-item-13505{position: absolute; top: 260px;}
	#menu-item-13530, #menu-item-13529{position: absolute; top: -260px; left: 230px;}
	#menu-item-30104, #menu-item-30101{position: absolute; top: -241px; left: 230px;}
	#menu-item-13532, #menu-item-13531{position: absolute; top: -222px; left: 230px;}
	#menu-item-13534, #menu-item-13533{position: absolute; top: -203px; left: 230px;}
	#menu-item-13536, #menu-item-13535{position: absolute; top: -184px; left: 230px;}
	#menu-item-13538, #menu-item-13537{position: absolute; top: -165px; left: 230px;}
	#menu-item-24135, #menu-item-24138{position: absolute; top: -146px; left: 230px;}
	#menu-item-13540, #menu-item-13539{position: absolute; top: -127px; left: 230px;}
	#menu-item-13542, #menu-item-13541{position: absolute; top: -108px; left: 230px;}
#menu-sitemap-chinese-traditional0 #menu-item-13544, #menu-sitemap-chinese-simplified #menu-item-13543{position: absolute; top: 190px; left: 230px;}
#menu-sitemap-chinese-traditional0 #menu-item-13562, #menu-sitemap-chinese-simplified #menu-item-13561{position: absolute; top: 405px; left: 230px;}
	#menu-item-13578, #menu-item-13577{position: absolute; top: -405px; left: 250px;}
	#menu-item-13580, #menu-item-13579{position: absolute; top: -386px; left: 250px;}
	#menu-item-13582, #menu-item-13581{position: absolute; top: -367px; left: 250px;}
	#menu-item-13584, #menu-item-13583{position: absolute; top: -348px; left: 250px;}
	#menu-item-13586, #menu-item-13585{position: absolute; top: -329px; left: 250px;}
	#menu-item-13588, #menu-item-13587{position: absolute; top: -310px; left: 250px;}
	#menu-item-31926, #menu-item-31922{position: absolute; top: -291px; left: 250px;}
	#menu-item-13590, #menu-item-13589{position: absolute; top: -272px; left: 250px;}
	#menu-item-13592, #menu-item-13591{position: absolute; top: -253px; left: 250px;}
	#menu-item-13594, #menu-item-13593{position: absolute; top: -234px; left: 250px;}
	#menu-item-13596, #menu-item-13595{position: absolute; top: -215px; left: 250px;}
	#menu-item-13598, #menu-item-13597{position: absolute; top: -196px; left: 250px;}
	#menu-item-31927, #menu-item-31924{position: absolute; top: -177px; left: 250px;}

	#menu-item-50393, #menu-item-31925{position: absolute; top: -158px; left: 250px;}

	#menu-item-31928, #menu-item-31925{position: absolute; top: -139px; left: 250px;}
	#menu-item-13600, #menu-item-13599{position: absolute; top: -120px; left: 250px;}
#menu-sitemap-chinese-traditional0 #menu-item-13602, #menu-sitemap-chinese-simplified #menu-item-13601{position: absolute; top: 329px; left: 480px;}
#menu-sitemap-chinese-traditional0 #menu-item-13622, #menu-sitemap-chinese-simplified #menu-item-13621{position: absolute; top: 0; left: 700px;}
#menu-sitemap-chinese-traditional0 #menu-item-13640, #menu-sitemap-chinese-simplified #menu-item-13658{position: absolute; top: 195px; left: 700px;}
















