.main-container 
{
    padding-top: 15px !important;
}

div.uk-panel-teaser>img:hover, ul.uk-slideshow>li:hover
{
    cursor:pointer;
}

#animated-grids 
{ 
    margin-top:15px;
    padding-left: 7px;
    padding-right: 7px; 
}

#static-grids
{
    padding-left: 7px;
}

#last-container
{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 80px;
}

.home-title
{
    border-bottom: solid 3px #417f9c;
    line-height: 1px;
}

.home-title span
{
    background-color: #417f9c;
    color: white;
    padding: 10px 10px 7px;
    position: relative;
    font-size: 13px;
    top: -12px;
    margin-bottom: 20px;
}

.home-article .home-article-thumb
{
    width: 100%;
    height: auto;
}

.home-article-content
{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: white;
    position: relative;
    margin-top: -50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home-article-title, .home-article-title:visited
{
    font-size: 22px;
    line-height: 20px;
    color: black;
    font-weight: 600;
    font-family: 'Bree Serif', serif;
}

.home-article-title:hover
{
    color: #417f9c;
    text-decoration: none;
}

.home-article-divisor
{
    width: 100%;
    border-bottom: 2px dashed #8bbfd8;
    margin: 20px 0px;
}

.home-article-desc
{
    color: #585858;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: justify;
}

.home-more-button, .home-more-button:visited
{
    background-color: #417f9c;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

.home-more-button:hover
{
    color: white;
    background-color: #2d5365;
    text-decoration: none;
}

.home-more-wrapper
{
    text-align:center;
    margin:auto;
}

.home-more-button-big
{
    width: 100%;
}

.home-social-widget
{
    padding-top: 6px;
    padding-left: 12px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

.home-no-decoration:hover, .home-no-decoration:visited
{
    text-decoration: none;
}

.home-social-icon
{
    font-size: 20px;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.22);
    padding-right: 10px;
}

.home-social-desc
{
    color: white;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: -4px;
    padding-left: 7px;
}

.home-social-end
{
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding-right: 12px;
    float: right;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.22);
}

.widget-facebook
{
    background-color: #516eab;
}

.widget-facebook:hover
{
    background-color: #405686;
}

.facebook-icon-padding
{
    padding-right: 15px;
    padding-left: 4px;
}

.widget-youtube
{
    background-color: #e14e42;
}

.widget-youtube:hover
{
    background-color: #b53e34;
}

.widget-twitter
{
    background-color: #29c5f6;
}

.widget-twitter:hover
{
    background-color: #1e9dc5;
}

.youtube-icon-size
{
    font-size: 16px;
}

.loading-spin 
{
    -webkit-animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@media only screen and (max-width: 768px) 
{
    #articles-wrapper, #sidebar-wrapper
    {
        padding-left: 0px;
    }

    .home-article-desc 
    {
        line-height: 20px;
    }

    .home-more-button-big 
    {
        margin-bottom: 50px;
    }
}       