/* Author: Rumin Sergey | Copyright: CENTROARTS.com | e-mail: sale@centroarts.com | URL: http://www.centroarts.com */
#brending{
    background: url("../images/top.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
   
}

.dkp {
margin: -4px 254px 9px 0px;
height: 38px;
width: 102px;
position: relative;
z-index: 999;
display: block;
}



.related-news ul {padding-left: 0px;}






#brending:hover{
	cursor: pointer;
}
.btn_reglog { width: 108px; height: 18px; background: url("../images/button_reg.png") no-repeat 0 0; border: 0 none; margin: 0; padding: 0 0 2px 0; cursor: pointer; color: #81867e; font-weight: bold; }
.btn_reglog:hover { background-position: 0 -18px; }

.sort, .bannermid, .navigation { margin: 0 0 1.4em 0; text-align: center; }
.bannermid { padding: 10px 0 0 0; }

/*pager*/
.navigation { margin: 0 0 10px 0; font-weight: bold; line-height: 22px; }
  .navipage a { text-decoration: none !important; color: #000; padding: 3px 4px; }
  .navipage a:hover { background-color: #69a531; color: #fff; }
  .navipage span { color: #69a531; padding: 3px 4px; }
.nprev img, .nnext img { vertical-align: middle; margin: 2px; width: 40px; height: 11px; background: url("../images/navipage.png") no-repeat 0 0; }
.nnext a img { background-position: 0 -22px; }
.nprev a img { background-position: 0 -33px; }
.nnext span img { background-position: 0 0; }
.nprev span img { background-position: 0 -11px; }

/*votes*/
.vote {width:170px;}
.voteprocess, .voteprocess div { height: 21px; }
  .voteprocess { position: relative; background: #6d6d6d url("../images/voteprogress.png") no-repeat 0 -21px;  margin: 0 0 4px 0; }
  .voteprocess div { position: absolute; top: 0; left: 0; text-indent: 5px; line-height: 20px; white-space: nowrap; color: #fff; font-size: 0.9em; }
  .voteprocess img { height: 21px; display: block; background: #00853F url("../images/voteprogress.png") no-repeat 0 0; }

.base, .imgshort div, .morelink { overflow: hidden; }
.base { width: 527px; overflow: hidden; }
.hsep { background: url("../images/dotted.png") repeat-x 0 50%; height: 22px; width: 100%; clear: both; font-size: 1px; overflow: hidden; }
.shortstory { padding: 0 0 0 152px; width: auto; }
  .base .lcolomn { width: 152px; margin: 0 0 0 -152px; }
  .base .rcolomn { width: 100%; }
  .imgshort div { width: 137px; height: 116px; border: 1px solid #b8b8b8; background-color: #fff; }
  .imgshort img { width: 137px; }
  .heading { font-size: 1.2em; font-weight: bold; }
    .heading a { color: #548328; }
    .heading a:hover, .hinfo a:hover { color: #6ba635; }
  .icons {float:right;}

  .hinfo {font-size: 15px;
color: #F00;
display: block;
margin: 4px 0px 4px 0px;}


 

.ddelargmore a {
background: #F00;
border-radius: 5px;
margin: 0 5px 0 0;
text-decoration: none !important;
height: 23px;
line-height: 22px;
float: right;
color: #fff;
padding: 0 10px;
}  

.ddelargmore a:hover {
background: #6B6868;
} 


.fbutton {
background: #158737;
border-radius: 5px;
margin: 0 5px 0 0;
text-decoration: none !important;
height: 26px;
line-height: 22px;
float: right;
color: #fff;
padding: 0 10px;
cursor: pointer;
}  

.fbutton:hover {
background: #6B6868;
} 

  .short-story { overflow: hidden; height: auto; line-height: 1.3em; margin: 0 0 0.4em 0;}
  .morelink { }
  .argmore a { margin: 0 5px 0 0; text-decoration: none !important; height: 25px; line-height: 22px; float: right; color: #fff; background: #6ea838 url("../images/argmore.png") no-repeat 0 0; }
    .argmore a p { cursor: pointer; float: left; height: 25px; padding: 0 10px; background: url("../images/argmore.png") no-repeat 100% -25px; }
    .argmore a:hover { background-position: 0 -50px; }
    .argmore a:hover p { background-position: 100% -75px; }

  .moreinfo { line-height: 1.2em; }
    .miinn { float: right; text-align: right; padding: 0 26px 0 0; overflow: hidden; }
    .moreinfo .platcat { text-align: right; float: right; width: 26px; margin: 0 -26px 0 0; display: inline; }
  .moreinfo .platcat img { width: 22px; height: 22px; margin: 4px 0 0; }
  .moreinfo .category { display: block; font-size: 0.9em; }
  .moreinfo .size { display: block; }

  .isicons { float: right; margin: 0 0 4px 4px; }
  .isicons span { float: right; padding: 0 2px; }

/*fullstory*/
.fullheading { width: 100%; }
  .platcaticon { width: 40px; padding-right: 6px; }
  .platcaticon img { width: 38px; height: 38px; }
  
  .gbpad { float: left; padding: 0 0 6px 0; width: 159px; background-color: #fff; }
  .greenbox { color: #fff; width: 139px; padding: 5px; float: left; background-color: #00853F; }
    .greenbox .small { color: #d1e3c0; }
    .fullstory .imgshort div { height: auto; }
    .fullstory .imgshort { margin: 0 0 5px 0; }

  .maincont { margin: 0 0 0.8em 0;}

  .btags { padding: 4px 0; margin: 0 0 8px 0; font-style: italic; color: #6b8a4e; }
  .editdate, .tagstore { margin: 0 0 8px 0; font-style: italic; }
  .editdate { text-align: right; color: #cdcdcd; }
  .small { font-size: 0.9em; color: #717170; }
  .storenumber { text-align: center; padding: 10px 0 0 0; }

.boxlinks { line-height: 1.3em; width: 527px; padding-bottom: 5px; margin-bottom: 22px; background: #faf9f7 url("../images/boxlinks_btm.png") no-repeat 0 100%; }
.boxlinks_1 { line-height: 1.3em; width: 527px; padding-bottom: 5px; margin-bottom: 22px; background: #faf9f7 url("../images/boxlinks_btm.png") no-repeat 0 100%; }
  .boxlinks .dtop { color: #00853F; padding: 8px 36px 9px 10px; background: url("../images/boxlinks_top.png") no-repeat 0 0; }
    .boxlinks_1 .dtop { color: #00853F; padding: 8px 36px 9px 10px; background: url("../images/boxlinks_top.png") no-repeat 0 0; }
  .boxlinks .dtop a {
 width:174px;
 height:50px;
 background: url('/templates/torrent/tor_down.png') no-repeat top left;
 text-decoration:none;
 float:left;
 }
  .boxlinks .dmid { border: 1px solid #dbdbdb; border-width: 0 1px; overflow: hidden; }
  .boxlinks_1 .dmid { border: 1px solid #dbdbdb; border-width: 0 1px; overflow: hidden;  
  padding-left:9px; }
  .infodown {  padding: 6px 10px; color: #fff; }
  .infodown strong { font-weight: normal; }
  .boxlinks .pad { margin: 0 10px; padding: 6px 0 2px 0; }
  .boxlinks .pad a { color: #6b8a4e; 
  
 width:174px;
 height:50px;
 background: url('/templates/torrent/tor_down.png') no-repeat top left;
 text-decoration:none;
 float:left;
 }



.addcomment p {font-size:18px; padding: 0 0 0 35px; height: 30px; background: url("../images/addcom.png") no-repeat 0 0; }
  .addcomment .small { line-height: 1.3em; }
  .addcomment strong { font-weight: normal; }

/*errors*/
.errors { margin: 0 0 12px 0; border: 1px solid #dbdbdb; padding: 7px 12px 7px 59px; background: #fafafa url("../images/errors.png") no-repeat 10px 60%; overflow: hidden;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
}

/*comments*/
.wmcomments { overflow: hidden; position: relative; border-top: 2px solid #00853F; border-bottom: 2px solid #00853F; background-color: #faf9f7; padding: 8px 0 8px 0; margin-top:-2px; }
  .wmcomments .binner { margin: 0 8px; }
  .comments { overflow: hidden; padding: 0 0 0 82px; }
  .comments .dleft { float: left; width: 82px;  margin: 0 0 0 -82px; }
  .comments .dright { overflow: hidden; float: right; width: 100%; }

  h3.nickname a, h3.nickname { color: #3a3a3a; }
  h3.nickname { font-weight: bold; font-size: 1.3em; text-transform: uppercase; line-height: 1em; font-family: Arial, Tahoma, Verdana, sans-serif; }
  .comments .date { font-size: 0.9em; display: block; color: #76706e; margin: 0 0 0.3em 0; }
  .commentid { position: absolute; right: 5px; top: 0; }
  .commentid b { float: right; padding: 2px 8px 4px 8px; background-color: #464342; color: #24201e; }

  .editcomment { float: right; display: inline; font-size: 0.9em; }
  .editcomment a { text-decoration: none; }
  .editcomment a span { float: right; cursor: pointer; height: 16px; line-height: 16px; margin: 0 0 0 3px; background: #676767 url("../images/commentedit.png") no-repeat 0 0; color: #2f2b29; }
  .editcomment a span span { background: url("../images/commentedit.png") no-repeat 100% -16px; float: left; margin: 0; padding: 0 10px; }

  /*avatar*/
  .avatarbox img { width: 70px; height: auto; }
  .signature { color: #93918d; }

/*pages*/
h1.heading2 { color: #5a524f; }
h1.heading2, h1.heading3 { margin: 0 0 0.5em 0; }
h1.heading3 { font-size: 2em; color: #00853F; }

/*forms*/
.tableform { width: 100%; }
  .tableform td { padding: 8px 0; line-height: 1.35em; }
  .tableform td.label { width: 24%; vertical-align: top; font-weight: bold; }
  .tableform tr { background: url("../images/dotted.png") repeat-x 0 0; }
  .tableform tr.flast td { padding-bottom: 0; }
  .tableform .nostylebb tr { background: none; }
  .tableform .nostylebb tr td { padding: 0; }
  .addnews { font-weight: bold; }
  .impot { color: #e5372f; font-weight: normal; }

.f_input { width: 300px; }
.f_textarea { width: 458px; height: 156px; }

/*search*/
.searchtable table { border-collapse: separate; border-spacing: 0; border: 0; font-size: 0.95em; }
.searchtable fieldset {  }
.searchtable fieldset legend { color: #a9a9a9; }

/*statistics*/
.statistics { margin: 0 auto; }
  .statinn { text-align: left; }
  .statistics ul { margin-bottom: 15px; }
  .statistics ul li { position: relative; background: url("../images/dotted.gif") repeat-x 0 100%; padding: 2px 0; }
  .statistics ul li b { position: absolute; right: 0; }

/*userinfo*/
.usercolomn { overflow: hidden; padding: 0 0 0 82px; margin-bottom: 9px; }
  .usercolomn .dleft { float: left; width: 82px; margin: 0 0 0 -82px; }
  .usercolomn .dright { float: right; width: 90%; }
.userpadd {padding: 6px;  }



  .userinfo h2 { font-size: 18px; color: #828282; font-weight: normal; }
  .userinfo .uirow, .userinfo .uirow2 { padding: 10px 0;  }
  .userinfo .uirow { padding-top: 0; }
  .userinfo .uirow2 { background: url("../images/dotted.gif") repeat-x 0 0; }
  .userinfo .colomn { float: left; }

/*popularbox*/
.popularbox { background: #f4f2ef url("../images/popularbox.png") repeat-y 0 0; }
  .popularbox .dbtm { padding: 0 141px 10px 0; overflow: hidden; background: url("../images/popularbox_btm.png") no-repeat 0 100%; }
  .popularbox .lcolomn { width: 100%; }
  .popularbox .rcolomn { width: 141px; margin: 0 -141px 0 0; overflow: hidden; }
  .archead { height: 82px; overflow: hidden; line-height: 350px; white-space: nowrap; background: #555555 url("../images/popularbox_top.png") no-repeat -386px 0; }
  .archive { padding: 0 10px; }

  .headpopular { height: 82px; overflow: hidden; background: #588a2a url("../images/popularbox_top.png") no-repeat 0 0; }
  .headpopular .shadetabs { margin-top: 43px; height: 29px; overflow: hidden; padding: 0 0 0 10px; }
  .shadetabs li { display: inline; }
  .shadetabs li a { text-align: center; line-height: 26px; color: #505050; float: left; margin: 2px 1px 0 0; background-color: #cdc9c3; }
  .shadetabs li a, .shadetabs li a span { overflow: hidden; background: url("../images/tabs.png") no-repeat 0 -60px; float: left; height: 26px; cursor: pointer; }
  .shadetabs li a span { padding: 0 8px; background-position: 100% -89px; }
  .shadetabs li a.selected { color: #638543; margin-top: 0; background-position: 0 0; }
  .shadetabs li a.selected, .shadetabs li a.selected span { height: 29px; }
  .shadetabs li a.selected span { background-position: 100% -29px; }
  .popularbox .pad { padding: 0 10px; }
  .popularbox .pad a { color: #121212; }
  .popularbox .pad a:hover { color: #578929; }
  .shadetabs li a font { cursor: pointer; margin-top: 9px; float: left; height: 12px; overflow: hidden; line-height: 100px; background: url("../images/populartabs.png") no-repeat 0 0; }
  .shadetabs .cat1 a font { width: 28px; background-position: -38px 0; }
  .shadetabs .cat2 a font { width: 33px; background-position: -87px 0; }
  .shadetabs .cat3 a font { width: 33px; background-position: -143px 0; }
  .shadetabs .cat4 a font { width: 62px; background-position: -197px 0; }
  .shadetabs .cat5 a font { width: 69px; background-position: -276px 0; }