

@font-face {
    font-family: 'oswald-font';
    src: url('../fonts/oswald-lightitalic-webfont.eot');
    src: url('../fonts/oswald-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/oswald-lightitalic-webfont.woff') format('woff'),
         url('../fonts/oswald-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'oswald-font';
    src: url('../fonts/oswald-regularitalic-webfont.eot');
    src: url('../fonts/oswald-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/oswald-regularitalic-webfont.woff') format('woff'),
         url('../fonts/oswald-regularitalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}



@font-face {
    font-family: 'oswald-font';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'oswald-font';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff2') format('woff2'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'oswald-font';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: 400;
    font-style: normal;

}