/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "oswald-font", sans-serif;
	font-size: 16px;
	line-height: 1.42857;
	color: #333333;
	background-color: #fff;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #23527c;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.img-rounded {
	border-radius: 10px;
}

.img-thumbnail {
	padding: 4px;
	line-height: 1.42857;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.img-circle {
	border-radius: 50%;
}

hr {
	margin-top: 22px;
	margin-bottom: 22px;
	border: 0;
	border-top: 1px solid #eeeeee;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

[role="button"] {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 small,
h1 .small,
h2 small,
h2 .small,
h3 small,
h3 .small,
h4 small,
h4 .small,
h5 small,
h5 .small,
h6 small,
h6 .small,
.h1 small,
.h1 .small,
.h2 small,
.h2 .small,
.h3 small,
.h3 .small,
.h4 small,
.h4 .small,
.h5 small,
.h5 .small,
.h6 small,
.h6 .small {
	font-weight: normal;
	line-height: 1;
	color: #777777;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 22px;
	margin-bottom: 11px;
}

h1 small,
h1 .small,
.h1 small,
.h1 .small,
h2 small,
h2 .small,
.h2 small,
.h2 .small,
h3 small,
h3 .small,
.h3 small,
.h3 .small {
	font-size: 65%;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin-top: 11px;
	margin-bottom: 11px;
}

h4 small,
h4 .small,
.h4 small,
.h4 .small,
h5 small,
h5 .small,
.h5 small,
.h5 .small,
h6 small,
h6 .small,
.h6 small,
.h6 .small {
	font-size: 75%;
}

h1,
.h1 {
	font-size: 41px;
}

h2,
.h2 {
	font-size: 34px;
}

h3,
.h3 {
	font-size: 28px;
}

h4,
.h4 {
	font-size: 20px;
}

h5,
.h5 {
	font-size: 16px;
}

h6,
.h6 {
	font-size: 14px;
}

p {
	margin: 0 0 11px;
}

.lead {
	margin-bottom: 22px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
}

small,
.small {
	font-size: 87%;
}

mark,
.mark {
	background-color: #fcf8e3;
	padding: .2em;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase,
.initialism {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-muted {
	color: #777777;
}

.text-primary {
	color: #337ab7;
}

a.text-primary:hover,
a.text-primary:focus {
	color: #286090;
}

.text-success {
	color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
	color: #2b542c;
}

.text-info {
	color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
	color: #245269;
}

.text-warning {
	color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
	color: #66512c;
}

.text-danger {
	color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
	color: #843534;
}

.bg-primary {
	color: #fff;
}

.bg-primary {
	background-color: #337ab7;
}

a.bg-primary:hover,
a.bg-primary:focus {
	background-color: #286090;
}

.bg-success {
	background-color: #dff0d8;
}

a.bg-success:hover,
a.bg-success:focus {
	background-color: #c1e2b3;
}

.bg-info {
	background-color: #d9edf7;
}

a.bg-info:hover,
a.bg-info:focus {
	background-color: #afd9ee;
}

.bg-warning {
	background-color: #fcf8e3;
}

a.bg-warning:hover,
a.bg-warning:focus {
	background-color: #f7ecb5;
}

.bg-danger {
	background-color: #f2dede;
}

a.bg-danger:hover,
a.bg-danger:focus {
	background-color: #e4b9b9;
}

.page-header {
	padding-bottom: 10px;
	margin: 44px 0 22px;
	border-bottom: 1px solid #eeeeee;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 11px;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: 0;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
}

.list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

dl {
	margin-top: 0;
	margin-bottom: 22px;
}

dt,
dd {
	line-height: 1.42857;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after {
	content: " ";
	display: table;
}

.dl-horizontal dd:after {
	clear: both;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #777777;
}

.initialism {
	font-size: 90%;
}

blockquote {
	padding: 11px 22px;
	margin: 0 0 22px;
	font-size: 20px;
	border-left: 5px solid #eeeeee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
	margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
	display: block;
	font-size: 80%;
	line-height: 1.42857;
	color: #777777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
	content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eeeeee;
	border-left: 0;
	text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
	content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
	content: '\00A0 \2014';
}

address {
	margin-bottom: 22px;
	font-style: normal;
	line-height: 1.42857;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container-fluid:before,
.container-fluid:after {
	content: " ";
	display: table;
}

.container-fluid:after {
	clear: both;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left;
}

.col-xs-1 {
	width: 8.33333%;
}

.col-xs-2 {
	width: 16.66667%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.33333%;
}

.col-xs-5 {
	width: 41.66667%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-7 {
	width: 58.33333%;
}

.col-xs-8 {
	width: 66.66667%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-10 {
	width: 83.33333%;
}

.col-xs-11 {
	width: 91.66667%;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-pull-1 {
	right: 8.33333%;
}

.col-xs-pull-2 {
	right: 16.66667%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-4 {
	right: 33.33333%;
}

.col-xs-pull-5 {
	right: 41.66667%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-7 {
	right: 58.33333%;
}

.col-xs-pull-8 {
	right: 66.66667%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-10 {
	right: 83.33333%;
}

.col-xs-pull-11 {
	right: 91.66667%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-push-1 {
	left: 8.33333%;
}

.col-xs-push-2 {
	left: 16.66667%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-4 {
	left: 33.33333%;
}

.col-xs-push-5 {
	left: 41.66667%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-7 {
	left: 58.33333%;
}

.col-xs-push-8 {
	left: 66.66667%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-10 {
	left: 83.33333%;
}

.col-xs-push-11 {
	left: 91.66667%;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

.col-xs-offset-1 {
	margin-left: 8.33333%;
}

.col-xs-offset-2 {
	margin-left: 16.66667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.33333%;
}

.col-xs-offset-5 {
	margin-left: 41.66667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.33333%;
}

.col-xs-offset-8 {
	margin-left: 66.66667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.33333%;
}

.col-xs-offset-11 {
	margin-left: 91.66667%;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 22px;
	font-size: 24px;
	line-height: inherit;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="search"] {
	box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

input[type="file"] {
	display: block;
}

input[type="range"] {
	display: block;
	width: 100%;
}

select[multiple],
select[size] {
	height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

output {
	display: block;
	padding-top: 7px;
	font-size: 16px;
	line-height: 1.42857;
	color: #555555;
}

.form-control {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857;
	color: #555555;
	background-color: #f7f4f4;
	background-image: none;
	border: 1px solid #f7f4f4;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #eeeeee;
	opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed;
}

textarea.form-control {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: none;
}

.form-group {
	margin-bottom: 10px;
}

.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.radio label,
.checkbox label {
	min-height: 22px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-left: -20px;
	margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
	margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin-top: 0;
	margin-left: 10px;
}

input[type="radio"][disabled],
input[type="radio"].disabled,
fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled,
fieldset[disabled]
input[type="checkbox"] {
	cursor: not-allowed;
}

.radio-inline.disabled,
fieldset[disabled] .radio-inline,
.checkbox-inline.disabled,
fieldset[disabled]
.checkbox-inline {
	cursor: not-allowed;
}

.radio.disabled label,
fieldset[disabled] .radio label,
.checkbox.disabled label,
fieldset[disabled]
.checkbox label {
	cursor: not-allowed;
}

.form-control-static {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0;
	min-height: 38px;
}

.form-control-static.input-lg,
.form-control-static.input-sm {
	padding-left: 0;
	padding-right: 0;
}

.input-sm {
	height: 33px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px;
}

select.input-sm {
	height: 33px;
	line-height: 33px;
}

textarea.input-sm,
select[multiple].input-sm {
	height: auto;
}

.form-group-sm .form-control {
	height: 33px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px;
}

.form-group-sm select.form-control {
	height: 33px;
	line-height: 33px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
	height: auto;
}

.form-group-sm .form-control-static {
	height: 33px;
	min-height: 36px;
	padding: 6px 10px;
	font-size: 14px;
	line-height: 1.5;
}

.input-lg {
	height: 58px;
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.33333;
	border-radius: 10px;
}

select.input-lg {
	height: 58px;
	line-height: 58px;
}

textarea.input-lg,
select[multiple].input-lg {
	height: auto;
}

.form-group-lg .form-control {
	height: 58px;
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.33333;
	border-radius: 10px;
}

.form-group-lg select.form-control {
	height: 58px;
	line-height: 58px;
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
	height: auto;
}

.form-group-lg .form-control-static {
	height: 58px;
	min-height: 42px;
	padding: 11px 16px;
	font-size: 20px;
	line-height: 1.33333;
}

.has-feedback {
	position: relative;
}

.has-feedback .form-control {
	padding-right: 45px;
}

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	pointer-events: none;
}

.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
	width: 58px;
	height: 58px;
	line-height: 58px;
}

.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
	width: 33px;
	height: 33px;
	line-height: 33px;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
	color: #3c763d;
}

.has-success .form-control {
	border-color: #3c763d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
	border-color: #2b542c;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-success .input-group-addon {
	color: #3c763d;
	border-color: #3c763d;
	background-color: #dff0d8;
}

.has-success .form-control-feedback {
	color: #3c763d;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
	color: #8a6d3b;
}

.has-warning .form-control {
	border-color: #8a6d3b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
	border-color: #66512c;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-warning .input-group-addon {
	color: #8a6d3b;
	border-color: #8a6d3b;
	background-color: #fcf8e3;
}

.has-warning .form-control-feedback {
	color: #8a6d3b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: #a94442;
}

.has-error .form-control {
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
	border-color: #843534;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
	color: #a94442;
	border-color: #a94442;
	background-color: #f2dede;
}

.has-error .form-control-feedback {
	color: #a94442;
}

.has-feedback label ~ .form-control-feedback {
	top: 27px;
}

.has-feedback label.sr-only ~ .form-control-feedback {
	top: 0;
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
	min-height: 29px;
}

.form-horizontal .form-group {
	margin-left: -15px;
	margin-right: -15px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
	content: " ";
	display: table;
}

.form-horizontal .form-group:after {
	clear: both;
}

.form-horizontal .has-feedback .form-control-feedback {
	right: 15px;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

.collapse {
	display: none;
}

.collapse.in {
	display: block;
}

tr.collapse.in {
	display: table-row;
}

tbody.collapse.in {
	display: table-row-group;
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-property: height, visibility;
	transition-property: height, visibility;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	border: 0;
}

.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
	padding-bottom: 75%;
}

.close {
	float: right;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.modal-open {
	overflow: hidden;
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal.fade .modal-dialog {
	-webkit-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}

.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}

.modal-backdrop.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.42857px;
}

.modal-header .close {
	margin-top: -2px;
}

.modal-title {
	margin: 0;
	line-height: 1.42857;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
	content: " ";
	display: table;
}

.modal-footer:after {
	clear: both;
}

.modal-footer .btn + .btn {
	margin-left: 5px;
	margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.hidden {
	display: none !important;
}

.affix {
	position: fixed;
}

@-ms-viewport {
	width: device-width;
}

.visible-xs {
	display: none !important;
}

.visible-sm {
	display: none !important;
}

.visible-md {
	display: none !important;
}

.visible-lg {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

.visible-print {
	display: none !important;
}

.visible-print-block {
	display: none !important;
}

.visible-print-inline {
	display: none !important;
}

.visible-print-inline-block {
	display: none !important;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.p-0 {
	padding: 0;
}

.footer__nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer__nav li {
	display: inline-block;
}

.footer__nav li a {
	display: block;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.row--inline-block {
	font-size: 0;
}

.row--inline-block > * {
	float: none;
	display: inline-block;
	vertical-align: top;
}

.justify,
.video__footer {
	text-align: justify;
	text-justify: newspaper;
	font-size: 0;
	line-height: 0;
}

.justify > *,
.video__footer > * {
	display: inline-block;
	line-height: 1.1;
}

.justify:after,
.video__footer:after {
	content: "";
	width: 100%;
	height: 0;
	display: inline-block;
	visibility: hidden;
	overflow: hidden;
}

.link-tdu {
	text-decoration: underline;
}

.link-tdu:hover {
	text-decoration: none;
}

.link-tdn {
	text-decoration: none;
}

.link-tdn:hover {
	text-decoration: underline;
}

.link-n {
	text-decoration: none;
}

.link-n:hover {
	text-decoration: none;
}

.link-n:focus {
	text-decoration: none;
}

.vam-tr {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ghost-center {
	text-align: center; /* May want to do this if there is risk the container may be narrower than the element inside */
	white-space: nowrap;
}

.ghost-center:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.ghost-center > * {
	display: inline-block;
	vertical-align: middle;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	border-radius: 10px;
	background-image: none;
	white-space: nowrap;
	padding: 15px 25px;
	font-size: 22px;
	line-height: 1;
	border-radius: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
	color: #fff;
	text-decoration: none;
	box-shadow: inset 0 2px 0 rgba(199, 126, 0, 0.39);
}

.btn:active,
.btn.active {
	outline: 0;
	background-image: none;
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.btn--top-border {
	box-shadow: inset 0 2px 0 rgba(199, 126, 0, 0.39);
	font-weight: 700;
	text-shadow: 0 1px 0 #e99f00;
	text-transform: uppercase;
}

.btn-lg {
	padding: 0.66667em 0.5em;
	font-size: 1.875em;
	line-height: 1;
	border-radius: 10px;
}

.btn-default {
	background-color: #565656;
	border: none;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
	background: #6c4141;
}

.btn-success {
	background-color: #468847;
	border: none;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
	background: #2ca22e;
}

.btn-danger {
	background-color: #b94a48;
	border: none;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
	background: #d92b28;
}

.btn-warning {
	background-color: #ffc600;
	border: none;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
	background: #ffc600;
}

.btn-info {
	background-color: #3a87ad;
	border: none;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus {
	background: #1d91ca;
}

.form-group--lg {
	margin-bottom: 1.0625em;
}

.form-control {
	box-shadow: none;
}

input.input-lg {
	height: 58px;
	font-size: 16px;
	padding: 14px;
	text-align: center;
}

.a {
	color: red;
}

.a input.a {
	color: white;
}

.main-form {
	background-color: #33a8ab;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.19);
	text-align: center;
	position: relative;
	margin-left: 10px;
	margin-right: 5px;
}

.main-form:before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	z-index: -1;
	-webkit-transform: rotate(0.8deg);
	transform: rotate(0.8deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 100%;
	height: 100%;
	background-color: #2b8e90;
	box-shadow: inherit;
}

.main-form:after {
	content: "";
	position: absolute;
	left: 0;
	top: 30px;
	z-index: -2;
	-webkit-transform: rotate(1.8deg);
	transform: rotate(1.8deg);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	width: 100%;
	height: 100%;
	background-color: #2b8f92;
	box-shadow: inherit;
}

.main-form__body {
	display: block;
	padding: 0.9375em 0.9375em 0.75em;
}

.main-form__header {
	height: 70px;
	background: url(../img/logo-mb.png) 50% 20px no-repeat;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
}

.main-form__header:before {
	content: "";
	position: absolute;
	width: 201px;
	height: 41px;
	left: 50%;
	margin-left: -100px;
	top: -25px;
	background: url(../img/ribbon.png) 0 0 no-repeat;
}

.main-form h2 {
	margin-bottom: 0.35714em;
	color: #ffc600;
	font-size: 1.75em;
	font-weight: 700;
	text-transform: uppercase;
}

.main-form p {
	margin-bottom: 1.29412em;
	color: #efece3;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	line-height: 22px;
}

.main-form .has-feedback i {
	position: absolute;
	left: 40px;
	top: 50%;
	margin-top: -12px;
	z-index: 5;
}

.main-form .has-feedback i + input {
	padding-left: 45px;
	padding-right: 45px;
}

.main-form__caption {
	padding-top: 10px;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.125em;
	font-weight: 700;
	font-style: italic;
}

.main-form__caption .icon-loud {
	display: inline-block;
	width: 33px;
	height: 19px;
	vertical-align: middle;
	background: url(../img/icon-loud.png) 0 0 no-repeat;
}

.main-form__animation {
	display: none;
	background-color: #36a6a9;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 70px;
	bottom: 0;
	padding-top: 300px;
	text-align: center;
}

.main-form__animation h3 {
	color: #ffc600;
	font-size: 1.625em;
	font-weight: 700;
	text-transform: uppercase;
}

.main-form__animation p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.58;
	color: #efece3;
}

.main-form__animation .wrapperloading {
	position: absolute;
	height: 200px;
	width: 200px;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -100px;
}

.main-form__animation .wrapperloading .loading.up {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 150px;
	border: 3px solid #fff;
	border-top-color: #fff;
	border-left-color: #5cb7ba;
	border-right-color: #5cb7ba;
	border-bottom-color: #fff;
	-webkit-animation: rotation 3s linear infinite;
	animation: rotation 3s linear infinite;
}

.main-form__animation .wrapperloading .loading.down {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -50px;
	border-radius: 150px;
	border: 3px solid #fff;
	border-left-color: #fff;
	border-top-color: #5cb7ba;
	border-bottom-color: #5cb7ba;
	border-right-color: #fff;
	-webkit-animation: rotation 1s linear infinite;
	animation: rotation 1s linear infinite;
}

.modal .icon-close {
	width: 29px;
	height: 29px;
	background: url(../img/icon-close.png) 0 0 no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 13px;
	margin-top: 13px;
	z-index: 20;
	opacity: .8;
}

.modal .icon-close:hover {
	opacity: 1;
}

#modal .modal-content {
	background-color: #fff;
	padding: 25px;
}

#modal .modal-body h1 {
	color: #000;
	font-size: 3.125em; /* 50/16 */
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.4em; /* 20/50 */
	margin-bottom: 0.2em; /* 10/50 */
}

#modal .modal-body h2 {
	text-align: left;
	margin-bottom: 0.5em; /* 10/20 */
	color: #000;
	font-size: 1.25em; /* 20/16 */
	font-weight: 300;
	margin-bottom: 0.5em; /* 10/20 */
}

#modal .modal-body p,
#modal .modal-body li {
	color: rgba(0, 0, 0, 0.6);
	font-size: 1.0625em; /* 17/16 */
	font-weight: 300;
	margin-bottom: 0.9375em; /* 15/16 */
}

#modal .modal-body ul {
	list-style: disc;
}

#modal .modal-footer {
	padding: 20px;
	text-align: center;
	font-size: 1em;
}

#modal .modal-footer .main-btn {
	padding: 0.65em 2em; /* 13/20 */ /* 40/20 */
	font-size: 1.25em; /* 20/16 */
	color: #fff;
}

.dashed-border {
	position: relative;
}

.dashed-border:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: -webkit-linear-gradient(left, #d4d4d4 70%, transparent 30%);
	background: linear-gradient(to right, #d4d4d4 70%, transparent 30%);
	background-size: 10px 100%;
}

.about-me .modal-content {
	background-color: #33a8ab;
	border-radius: 0;
}

.about-me .modal-header {
	height: 0;
	min-height: 0;
	padding: 0;
	border: 0;
}

.about-me .modal-body {
	margin-left: 6.25em; /* 100/16 */
	padding-right: 3.4375em; /* 55/16 */
	padding-left: 1.5625em;
	background-color: #efece3;
}

.about-me__body p {
	padding: 1.25em 0; /* 20/16 */
	margin: 0;
	color: #868484;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.625em; /* 26/16 */
}

.about-me__body h5 {
	margin: 0;
	padding: 0;
	color: #868484;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.625em; /* 26/16 */
}

.about-me__body ul {
	margin-bottom: 1.25em; /* 20/16 */
	padding: 0;
	padding-left: 1.25em; /* 20/16 */
	color: #e9a5b1;
}

.about-me__body ul li {
	font-size: 1.375em; /* 22/16 */
	font-weight: 300;
	line-height: 1.27em; /* 28/2 */
}

.about-me__body ul li span {
	font-size: 0.72727em; /* 16/22 */
	color: #868484;
}

.about-me__body strong {
	color: #626161;
	font-weight: 400;
}

.about-me__header {
	margin-bottom: 1.5625em; /* 25/16 */
}

.about-me__header h2 {
	display: inline-block;
	vertical-align: middle;
	color: #33a8ab;
	font-size: 1.5em; /* 28/16 */
	font-weight: 700;
	line-height: 1.357em; /* 38/28 */
}

.about-me__logo {
	width: 8em;
	height: 8em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: -8px;
	position: relative;
}

.about-me__logo:before {
	content: "";
	position: absolute;
	left: -17px;
	top: 50%;
	margin-top: -18px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 18px 0 18px 10px;
	border-color: transparent transparent transparent #33a7ab;
}

.about-me__logo:after {
	content: "About";
	position: absolute;
	left: -100px;
	top: 50%;
	margin-top: -18px;
	color: #efece3;
	font-size: 28px;
	font-weight: 400;
	line-height: 1;
}

.about-me__footer {
	padding: 30px;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efece3; /* @include mq(max 500px){font-size: 11px;font-size: 2.1vw;};
@include mq(max 420px){font-size: 10px;font-size: 2.1vw;};
@include mq(max 380px){font-size: 9px;font-size: 2.1vw;};
@include mq(max 320px){font-size: 8px;font-size: 2.1vw;}; */
}

.header {
	height: 120px;
	padding-top: 70px;
	background: url(../img/header-bg.jpg) 50% 0 no-repeat;
}

.header__bottom-line {
	position: relative;
	height: 50px;
	background-color: #33a8ab;
}

.header__bottom-line > .container {
	position: relative;
}

.header__bottom-line:after {
	z-index: 12;
	content: "";
	position: absolute;
	height: 10px;
	bottom: -9px;
	width: 100%;
	left: 0;
	background: url(../img/header-triangle-texture.png) 0 0 repeat-x;
}

.header__logo {
	position: absolute;
	top: -63px;
	left: 15px;
	max-width: 90%;
	z-index: 15;
}

.main {
	padding: 50px 0 30px;
	background-color: #efece3;
	position: relative;
	z-index: 10;
}

.main__header {
	margin-bottom: 2.3125em;
	text-align: center;
}

.main__header h1 {
	margin-bottom: 0.3125em;
	color: #6c5f5b;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 1.4;
}

.main__header h2 {
	color: #6c5f5b;
	font-weight: 400;
	line-height: 1.4;
	text-transform: uppercase;
	font-size: 1.25em;
}

.main__header h2 small {
	font-size: 0.53125em;
}

.video {
	padding: 5px 5px 10px;
	background-color: #fff;
	position: relative;
	margin-bottom: 5em;
}

.video:before {
	content: "";
	position: absolute;
	left: 11px;
	bottom: 9px;
	width: 70%;
	height: 70%;
	-webkit-transform: skewX(-5deg) rotate(-2deg);
	transform: skewX(-5deg) rotate(-2deg);
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.video__footer .right {
	margin-top: 15px;
}

.video__footer .right img + img {
	margin-left: 20px;
}

.video__footer .left {
	margin-right: 10px;
	margin-left: 0;
	margin-top: 10px;
}

.main__footer {
	margin-top: 35px;
}

.main__footer .custom-row {
	text-align: justify;
	text-justify: newspaper;
	font-size: 0;
	line-height: 0;
}

.main__footer .custom-row > * {
	display: inline-block;
	line-height: 1.1;
}

.main__footer .custom-row:after {
	content: "";
	width: 100%;
	height: 0;
	display: inline-block;
	visibility: hidden;
	overflow: hidden;
}

.main__footer .custom-row .icon {
	padding: 20px 0;
	white-space: nowrap;
}

.main__footer .custom-row .icon-img {
	display: inline-block;
	vertical-align: middle;
}

.main__footer .custom-row .icon-caption {
	display: inline-block;
	padding-top: 10px;
	vertical-align: middle;
	opacity: 0.9;
	color: #827972;
	font-weight: 400;
	font-size: 13px;
	font-style: italic;
}

.success {
	background: url(../img/icon-cog-bg.png) -10px -20px no-repeat, url(../img/icon-cog-bg.png) right -10px bottom -20px no-repeat, url(../img/icon-cog-bg.png) 80% 75px no-repeat;
	background-color: #827972;
	margin-bottom: 620px;
}

.story {
	position: relative;
}

.story:after {
	display: none;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	margin-left: -60px;
	width: 275px;
	height: 100%;
	background: url(../img/sandy.jpg) 100% 50% no-repeat;
	background-size: auto 100%;
}

.story__body {
	padding: 30px 0;
	margin-left: 5px;
	margin-right: -5px;
}

.story__body h2 {
	margin-bottom: 0.46154em;
	color: #ffc600;
	font-size: 1.625em;
	font-weight: 700;
	text-transform: uppercase;
}

.story__body p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.58;
	color: #efece3;
}

.story__body p a {
	display: inline-block;
	line-height: 1.3;
	border-bottom: 2px solid #ffc600;
	color: #ffc600;
	text-decoration: none;
	white-space: nowrap;
}

.success .fb-messanger .item {
	z-index: 12;
	position: absolute;
	top: 20px;
	left: 4.5%;
	max-width: 90%;
}

.success .fb-messanger .item:last-child {
	z-index: 11;
	margin-top: 530px;
}

.success .fb-messanger .item:last-child .item__caption {
	margin-top: 55px;
	left: 100px;
}

.success .fb-messanger .item:last-child .item__caption:before {
	left: -20px;
	width: 30px;
	border-right: none;
	border-left: 1px dashed #bcb6ae;
}

.success .fb-messanger .item__body {
	position: relative;
	z-index: 5;
}

.success .fb-messanger .item__flag {
	margin-bottom: 15px;
	position: relative;
}

.success .fb-messanger .item__flag img {
	position: relative;
	z-index: 3;
}

.success .fb-messanger .item__flag:before {
	content: "";
	position: absolute;
}

.success .fb-messanger .item header {
	margin-bottom: 10px;
}

.success .fb-messanger .item__caption {
	width: 60%;
	position: relative;
	margin-top: 20px;
}

.success .fb-messanger .item__caption:before {
	content: "";
	position: absolute;
	left: 0;
	top: -60px;
	height: 75px;
	width: 125px;
	z-index: 1;
	border-right: 1px dashed #bcb6ae;
	border-bottom: 1px dashed #bcb6ae;
}

.success .fb-messanger .item__caption h3 {
	display: inline-block;
	padding-right: 5px;
	font-weight: 400;
	color: #33a8ab;
	border-right: 1px dashed currentcolor;
	font-size: 20px;
	line-height: 1.15;
	text-transform: uppercase;
}

.success .fb-messanger .item__caption small {
	display: inline-block;
	color: #544946;
	font-size: 15px;
	padding-left: 3px;
}

.success .fb-messanger .item__caption p {
	max-width: 195px;
	font-size: 15px;
	margin-bottom: 0;
	color: #827972;
}

.footer {
	padding: 18px 0;
	background-color: #ffffff;
}

.footer__nav {
	text-align: center;
}

.footer__nav li + li {
	padding-left: 1em;
}

.footer__nav li a {
	opacity: 0.68;
	color: #827972;
	font-size: 0.9375em;
	font-weight: 300;
}

.footer__copyright {
	margin-top: 1.25em;
	text-align: center;
	opacity: 0.68;
	color: #827972;
	font-size: 0.9375em;
	font-weight: 300;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
	line-height: 36px;
}

input[type="date"].input-sm,
.input-group-sm input[type="date"],
input[type="time"].input-sm,
.input-group-sm
  input[type="time"],
input[type="datetime-local"].input-sm,
.input-group-sm
  input[type="datetime-local"],
input[type="month"].input-sm,
.input-group-sm
  input[type="month"] {
	line-height: 33px;
}

input[type="date"].input-lg,
.input-group-lg input[type="date"],
input[type="time"].input-lg,
.input-group-lg
  input[type="time"],
input[type="datetime-local"].input-lg,
.input-group-lg
  input[type="datetime-local"],
input[type="month"].input-lg,
.input-group-lg
  input[type="month"] {
	line-height: 58px;
}

}

@media all and (min-width: 400px) {

.main-form__body {
	padding: 2.1875em 2.1875em 0.9375em;
}

.main {
	padding: 100px 0 50px;
}

}

@media all and (min-width: 450px) {

.success .fb-messanger .item {
	left: 50%;
	margin-left: -200px;
}

}

@media all and (min-width: 500px) {

.main-form__header {
	background: url(../img/icon-cogs.png) -10px -10px no-repeat, url(../img/icon-cogs.png) right -10px top -10px no-repeat, url(../img/logo-mb.png) 50% 20px no-repeat;
	background-color: rgba(0, 0, 0, 0.1);
}

.video {
	padding: 15px 18px;
}

}

@media all and (min-width: 550px) {

.story {
	padding-left: 245px;
	padding-right: 30px;
}

.story:after {
	width: 249px;
	display: block;
}

}

@media (min-width: 768px) and (max-width: 767px) {

.about-me__header {
	white-space: nowrap;
}

}

@media (min-width: 768px) {

.lead {
	font-size: 24px;
}

.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 180px;
}

.container {
	width: 750px;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
	float: left;
}

.col-sm-1 {
	width: 8.33333%;
}

.col-sm-2 {
	width: 16.66667%;
}

.col-sm-3 {
	width: 25%;
}

.col-sm-4 {
	width: 33.33333%;
}

.col-sm-5 {
	width: 41.66667%;
}

.col-sm-6 {
	width: 50%;
}

.col-sm-7 {
	width: 58.33333%;
}

.col-sm-8 {
	width: 66.66667%;
}

.col-sm-9 {
	width: 75%;
}

.col-sm-10 {
	width: 83.33333%;
}

.col-sm-11 {
	width: 91.66667%;
}

.col-sm-12 {
	width: 100%;
}

.col-sm-pull-0 {
	right: auto;
}

.col-sm-pull-1 {
	right: 8.33333%;
}

.col-sm-pull-2 {
	right: 16.66667%;
}

.col-sm-pull-3 {
	right: 25%;
}

.col-sm-pull-4 {
	right: 33.33333%;
}

.col-sm-pull-5 {
	right: 41.66667%;
}

.col-sm-pull-6 {
	right: 50%;
}

.col-sm-pull-7 {
	right: 58.33333%;
}

.col-sm-pull-8 {
	right: 66.66667%;
}

.col-sm-pull-9 {
	right: 75%;
}

.col-sm-pull-10 {
	right: 83.33333%;
}

.col-sm-pull-11 {
	right: 91.66667%;
}

.col-sm-pull-12 {
	right: 100%;
}

.col-sm-push-0 {
	left: auto;
}

.col-sm-push-1 {
	left: 8.33333%;
}

.col-sm-push-2 {
	left: 16.66667%;
}

.col-sm-push-3 {
	left: 25%;
}

.col-sm-push-4 {
	left: 33.33333%;
}

.col-sm-push-5 {
	left: 41.66667%;
}

.col-sm-push-6 {
	left: 50%;
}

.col-sm-push-7 {
	left: 58.33333%;
}

.col-sm-push-8 {
	left: 66.66667%;
}

.col-sm-push-9 {
	left: 75%;
}

.col-sm-push-10 {
	left: 83.33333%;
}

.col-sm-push-11 {
	left: 91.66667%;
}

.col-sm-push-12 {
	left: 100%;
}

.col-sm-offset-0 {
	margin-left: 0%;
}

.col-sm-offset-1 {
	margin-left: 8.33333%;
}

.col-sm-offset-2 {
	margin-left: 16.66667%;
}

.col-sm-offset-3 {
	margin-left: 25%;
}

.col-sm-offset-4 {
	margin-left: 33.33333%;
}

.col-sm-offset-5 {
	margin-left: 41.66667%;
}

.col-sm-offset-6 {
	margin-left: 50%;
}

.col-sm-offset-7 {
	margin-left: 58.33333%;
}

.col-sm-offset-8 {
	margin-left: 66.66667%;
}

.col-sm-offset-9 {
	margin-left: 75%;
}

.col-sm-offset-10 {
	margin-left: 83.33333%;
}

.col-sm-offset-11 {
	margin-left: 91.66667%;
}

.col-sm-offset-12 {
	margin-left: 100%;
}

.form-inline .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.form-inline .form-control-static {
	display: inline-block;
}

.form-inline .input-group {
	display: inline-table;
	vertical-align: middle;
}

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
	width: auto;
}

.form-inline .input-group > .form-control {
	width: 100%;
}

.form-inline .control-label {
	margin-bottom: 0;
	vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-inline .radio label,
.form-inline .checkbox label {
	padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
	top: 0;
}

.form-horizontal .control-label {
	text-align: right;
	margin-bottom: 0;
	padding-top: 7px;
}

.form-horizontal .form-group-lg .control-label {
	padding-top: 14.33333px;
	font-size: 20px;
}

.form-horizontal .form-group-sm .control-label {
	padding-top: 6px;
	font-size: 14px;
}

.modal-dialog {
	width: 720px;
	margin: 30px auto;
}

.modal-content {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-sm {
	width: 300px;
}

}

@media (min-width: 768px) and (max-width: 991px) {

.visible-sm {
	display: block !important;
}

table.visible-sm {
	display: table !important;
}

tr.visible-sm {
	display: table-row !important;
}

th.visible-sm,
td.visible-sm {
	display: table-cell !important;
}

.visible-sm-block {
	display: block !important;
}

.visible-sm-inline {
	display: inline !important;
}

.visible-sm-inline-block {
	display: inline-block !important;
}

.hidden-sm {
	display: none !important;
}

}

@media all and (min-width: 768px) {

.form-group {
	margin-bottom: 20px;
}

.form-group--lg {
	margin-bottom: 2.1875em;
}

.main-form p {
	font-size: 17px;
	line-height: 30px;
}

.main__footer .custom-row .icon-caption {
	font-size: 15px;
}

.success .fb-messanger .item {
	margin-left: 0;
}

.success .fb-messanger .item:first-child {
	left: 4.5%;
}

.success .fb-messanger .item:last-child {
	margin-top: 0;
	right: 4.5%;
	left: auto;
}

.footer__nav {
	text-align: left;
}

.footer__nav li + li {
	padding-left: 2.75em;
}

.footer__copyright {
	text-align: right;
	margin-top: 0;
}

}

@media (min-width: 992px) {

.container {
	width: 970px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	float: left;
}

.col-md-1 {
	width: 8.33333%;
}

.col-md-2 {
	width: 16.66667%;
}

.col-md-3 {
	width: 25%;
}

.col-md-4 {
	width: 33.33333%;
}

.col-md-5 {
	width: 41.66667%;
}

.col-md-6 {
	width: 50%;
}

.col-md-7 {
	width: 58.33333%;
}

.col-md-8 {
	width: 66.66667%;
}

.col-md-9 {
	width: 75%;
}

.col-md-10 {
	width: 83.33333%;
}

.col-md-11 {
	width: 91.66667%;
}

.col-md-12 {
	width: 100%;
}

.col-md-pull-0 {
	right: auto;
}

.col-md-pull-1 {
	right: 8.33333%;
}

.col-md-pull-2 {
	right: 16.66667%;
}

.col-md-pull-3 {
	right: 25%;
}

.col-md-pull-4 {
	right: 33.33333%;
}

.col-md-pull-5 {
	right: 41.66667%;
}

.col-md-pull-6 {
	right: 50%;
}

.col-md-pull-7 {
	right: 58.33333%;
}

.col-md-pull-8 {
	right: 66.66667%;
}

.col-md-pull-9 {
	right: 75%;
}

.col-md-pull-10 {
	right: 83.33333%;
}

.col-md-pull-11 {
	right: 91.66667%;
}

.col-md-pull-12 {
	right: 100%;
}

.col-md-push-0 {
	left: auto;
}

.col-md-push-1 {
	left: 8.33333%;
}

.col-md-push-2 {
	left: 16.66667%;
}

.col-md-push-3 {
	left: 25%;
}

.col-md-push-4 {
	left: 33.33333%;
}

.col-md-push-5 {
	left: 41.66667%;
}

.col-md-push-6 {
	left: 50%;
}

.col-md-push-7 {
	left: 58.33333%;
}

.col-md-push-8 {
	left: 66.66667%;
}

.col-md-push-9 {
	left: 75%;
}

.col-md-push-10 {
	left: 83.33333%;
}

.col-md-push-11 {
	left: 91.66667%;
}

.col-md-push-12 {
	left: 100%;
}

.col-md-offset-0 {
	margin-left: 0%;
}

.col-md-offset-1 {
	margin-left: 8.33333%;
}

.col-md-offset-2 {
	margin-left: 16.66667%;
}

.col-md-offset-3 {
	margin-left: 25%;
}

.col-md-offset-4 {
	margin-left: 33.33333%;
}

.col-md-offset-5 {
	margin-left: 41.66667%;
}

.col-md-offset-6 {
	margin-left: 50%;
}

.col-md-offset-7 {
	margin-left: 58.33333%;
}

.col-md-offset-8 {
	margin-left: 66.66667%;
}

.col-md-offset-9 {
	margin-left: 75%;
}

.col-md-offset-10 {
	margin-left: 83.33333%;
}

.col-md-offset-11 {
	margin-left: 91.66667%;
}

.col-md-offset-12 {
	margin-left: 100%;
}

.modal-lg {
	width: 804px;
}

}

@media all and (min-width: 992px) {

.btn-lg {
	padding: 19px 15px;
	font-size: 26px;
	line-height: 1;
	border-radius: 10px;
}

.form-group {
	margin-bottom: 10px;
}

.form-group--lg {
	margin-bottom: 30px;
}

input.input-lg {
	height: 48px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.main-form__body {
	padding: 20px 15px;
}

.main-form__header {
	background-size: auto,auto,230px 21px;
}

.main-form__caption {
	padding-top: 30px;
}

.dashed-border:after {
	margin-left: 25px;
	margin-right: 25px;
}

.main {
	padding: 70px 0 50px;
	background: #efece3 url(../img/main-bg.png) 50% 70px no-repeat;
}

.main__header {
	margin-bottom: 3.75em;
}

.main__header h1 {
	font-size: 1.875em;
}

.main__header h2 {
	font-size: 28px;
}

.video {
	margin-bottom: 0;
}

.video__footer .right {
	margin-top: 25px;
}

.video__footer .left {
	margin-top: 15px;
}

.success {
	margin-bottom: 260px;
}

.success .fb-messanger .item {
	top: -15px;
}

.success .fb-messanger .item:last-child {
	right: -30px;
}

}

@media (min-width: 992px) and (max-width: 1219px) {

.visible-md {
	display: block !important;
}

table.visible-md {
	display: table !important;
}

tr.visible-md {
	display: table-row !important;
}

th.visible-md,
td.visible-md {
	display: table-cell !important;
}

.visible-md-block {
	display: block !important;
}

.visible-md-inline {
	display: inline !important;
}

.visible-md-inline-block {
	display: inline-block !important;
}

.hidden-md {
	display: none !important;
}

.main-form {
	margin-left: -10px;
	margin-right: -15px;
}

.about-me__header {
	white-space: nowrap;
}

.story {
	padding-left: 180px;
}

.story:after {
	margin-left: -80px;
}

.story__body {
	padding: 20px 0;
	margin-right: -20px;
}

.story__body h2 {
	margin-bottom: 10px;
}

.story__body p {
	font-size: 15px;
}

.success .fb-messanger .item:first-child {
	left: -40px;
}

}

@media (min-width: 1220px) {

.container {
	width: 1200px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	float: left;
}

.col-lg-1 {
	width: 8.33333%;
}

.col-lg-2 {
	width: 16.66667%;
}

.col-lg-3 {
	width: 25%;
}

.col-lg-4 {
	width: 33.33333%;
}

.col-lg-5 {
	width: 41.66667%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-7 {
	width: 58.33333%;
}

.col-lg-8 {
	width: 66.66667%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-10 {
	width: 83.33333%;
}

.col-lg-11 {
	width: 91.66667%;
}

.col-lg-12 {
	width: 100%;
}

.col-lg-pull-0 {
	right: auto;
}

.col-lg-pull-1 {
	right: 8.33333%;
}

.col-lg-pull-2 {
	right: 16.66667%;
}

.col-lg-pull-3 {
	right: 25%;
}

.col-lg-pull-4 {
	right: 33.33333%;
}

.col-lg-pull-5 {
	right: 41.66667%;
}

.col-lg-pull-6 {
	right: 50%;
}

.col-lg-pull-7 {
	right: 58.33333%;
}

.col-lg-pull-8 {
	right: 66.66667%;
}

.col-lg-pull-9 {
	right: 75%;
}

.col-lg-pull-10 {
	right: 83.33333%;
}

.col-lg-pull-11 {
	right: 91.66667%;
}

.col-lg-pull-12 {
	right: 100%;
}

.col-lg-push-0 {
	left: auto;
}

.col-lg-push-1 {
	left: 8.33333%;
}

.col-lg-push-2 {
	left: 16.66667%;
}

.col-lg-push-3 {
	left: 25%;
}

.col-lg-push-4 {
	left: 33.33333%;
}

.col-lg-push-5 {
	left: 41.66667%;
}

.col-lg-push-6 {
	left: 50%;
}

.col-lg-push-7 {
	left: 58.33333%;
}

.col-lg-push-8 {
	left: 66.66667%;
}

.col-lg-push-9 {
	left: 75%;
}

.col-lg-push-10 {
	left: 83.33333%;
}

.col-lg-push-11 {
	left: 91.66667%;
}

.col-lg-push-12 {
	left: 100%;
}

.col-lg-offset-0 {
	margin-left: 0%;
}

.col-lg-offset-1 {
	margin-left: 8.33333%;
}

.col-lg-offset-2 {
	margin-left: 16.66667%;
}

.col-lg-offset-3 {
	margin-left: 25%;
}

.col-lg-offset-4 {
	margin-left: 33.33333%;
}

.col-lg-offset-5 {
	margin-left: 41.66667%;
}

.col-lg-offset-6 {
	margin-left: 50%;
}

.col-lg-offset-7 {
	margin-left: 58.33333%;
}

.col-lg-offset-8 {
	margin-left: 66.66667%;
}

.col-lg-offset-9 {
	margin-left: 75%;
}

.col-lg-offset-10 {
	margin-left: 83.33333%;
}

.col-lg-offset-11 {
	margin-left: 91.66667%;
}

.col-lg-offset-12 {
	margin-left: 100%;
}

.visible-lg {
	display: block !important;
}

table.visible-lg {
	display: table !important;
}

tr.visible-lg {
	display: table-row !important;
}

th.visible-lg,
td.visible-lg {
	display: table-cell !important;
}

.visible-lg-block {
	display: block !important;
}

.visible-lg-inline {
	display: inline !important;
}

.visible-lg-inline-block {
	display: inline-block !important;
}

.hidden-lg {
	display: none !important;
}

.main-form {
	margin-left: 15px;
	margin-top: -8px;
}

}

@media all and (min-width: 1220px) {

.btn-lg {
	padding: 22px 15px;
	font-size: 25px;
	line-height: 1;
	border-radius: 10px;
}

.main-form__body {
	padding: 20px 25px 25px;
}

.story {
	padding-left: 210px;
}

.success .fb-messanger .item:last-child {
	right: -10px;
}

}

@media all and (max-width: 991px) {

.main__footer .custom-row {
	text-align: center;
}

.main__footer .custom-row .icon {
	padding-left: 3%;
	padding-right: 3%;
}

}

@media all and (max-width: 768px) {

.success {
	margin-bottom: 1100px;
}

}

@media (max-width: 767px) {

.visible-xs {
	display: block !important;
}

table.visible-xs {
	display: table !important;
}

tr.visible-xs {
	display: table-row !important;
}

th.visible-xs,
td.visible-xs {
	display: table-cell !important;
}

.visible-xs-block {
	display: block !important;
}

.visible-xs-inline {
	display: inline !important;
}

.visible-xs-inline-block {
	display: inline-block !important;
}

.hidden-xs {
	display: none !important;
}

}

@media all and (max-width: 700px) {

.video__footer .right {
	display: none;
}

}

@media all and (max-width: 620px) {

body {
	font-size: 14px;
}

}

@media all and (max-width: 550px) {

.about-me .modal-body {
	margin-left: 2em;
	padding-right: 2em;
}

.about-me__logo:after {
	display: none; /* margin-top: -0.6428em; 18/28
        left: -3.392857142857143em; 95/28
        font-size: 2.2em; 28/16 */
}

}

@media all and (max-width: 500px) {

.form-control {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	height: 50px !important;
}

body {
	font-size: 13px;
}

}

@media all and (max-width: 480px) {

.main__footer .custom-row {
	text-align: left;
}

.main__footer .custom-row .icon {
	display: block;
	padding-left: 30%;
}

.footer {
	font-size: 1.05em;
}

}

@media all and (max-width: 420px) {

.success .fb-messanger .item:first-child .item__caption {
	margin-left: 50px;
}

}

@media all and (max-width: 370px) {

.main-form__header {
	background-size: 90% auto;
}

}

@media print {

*,
*:before,
*:after {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

a,
a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

a[href^="#"]:after,
a[href^="javascript:"]:after {
	content: "";
}

pre,
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr,
img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

.navbar {
	display: none;
}

.btn > .caret,
.dropup > .btn > .caret {
	border-top-color: #000 !important;
}

.label {
	border: 1px solid #000;
}

.table {
	border-collapse: collapse !important;
}

.table td,
.table th {
	background-color: #fff !important;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #ddd !important;
}

.visible-print {
	display: block !important;
}

table.visible-print {
	display: table !important;
}

tr.visible-print {
	display: table-row !important;
}

th.visible-print,
td.visible-print {
	display: table-cell !important;
}

.visible-print-block {
	display: block !important;
}

.visible-print-inline {
	display: inline !important;
}

.visible-print-inline-block {
	display: inline-block !important;
}

.hidden-print {
	display: none !important;
}

}

@-webkit-keyframes rotation {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

50% {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

@keyframes rotation {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

50% {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

