/* Support form */
#support-form {
    background-color: #ffbf11;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    bottom: 30px;
    display: none;
    padding: 30px;
    position: fixed;
    right: 30px;
    width: 300px;
    z-index: 1061;
}

/* Main form inputs */
#support-form-body {}
#support-form label {
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: normal;
}
#support-form #support-form-email {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    clear: both;
    display: block;
    height: 36px;
    width: 100%;
}
#support-form #support-form-name {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    clear: both;
    display: block;
    height: 36px;
    width: 100%;
}
#support-form #support-form-message {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    clear: both;
    display: block;
    height: 150px;
    padding: 15px 25px !important;
    width: 100%;
}
#support-form #support-form-submit {
    background-color: #ec3232;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    text-transform: uppercase;
}
#support-form #support-form-submit:hover {
    color: rgba(0,0,0,0.5);

}
#support-form #support-form-title {
    display: block;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
}
#support-form #support-form-body-wrapper {

}

/* Close button */
a.boxclose{
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 20px;
}
.boxclose:before {content: "×";}

/* Support form cover */
#support-form-cover {
    display: none;
    color: #fff;
    background-color: #222222;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1062;
    text-align: center;
}
#support-form-cover-text {
    font-size: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    left: 0;
    font-weight: 100;
}
#support-form #support-form-cover-close {
    background-color: #d42824;
    border: medium none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    text-transform: uppercase;
    width: 80%;
    margin-top: 370px;
    color: #fff;
}
#support-form #support-form-cover-close:hover {
    background-color: #e6e6e6;
    color: #333;
    border-color: #adadad;
}