.posisi{
	position:relative;
}
#slidebox{
	width:350px; 
	min-height:125px; 
	padding:10px; 
	background:#ffffff url(skin/img/dont-miss.png) top left no-repeat; 
	position:fixed; 
	bottom:0px; 
	right:-380px; 
	-moz-box-shadow:-2px 0px 5px #aaa; 
	-webkit-box-shadow:-2px 0px 5px #aaa; 
	box-shadow: 0 4px 10px #555555;
	z-index:1;
	po}
#slidebox span{ font-size: 0.9em; padding-bottom: 5px; text-transform: uppercase; }
#slidebox h2{ font-size: 1.0em; }
#slidebox .next-article{ margin-top: 5px; }
#slidebox .next-article a{ display: inline-block; }
#slidebox .closed{
	display: block;
	float: right;
	width: 60px;
	color: #FFFFFF;
	background: img/;
	background: #000000;
	text-align: center;
	position:absolute;
	top:-23px;
	right:0px;
	}
#slidebox .closed:hover{background:#F00 }
#slidebox strong{ display: inline-block; color: #000000;slidebox font-family:"Verdana"; font-size:1.2em; margin-left: 10px; vertical-align: top; max-width: 240px; }

h5.media-heading{
	border-bottom:1px solid #ff27a7;
	padding-bottom:10px;
	
}
h5.media-heading a:hover{
	color:#ff27a7;
}