body{
	background:#dedede !important;
}
#wrap, #bin-head-bot-r{
	width:100% !important;
}
#bin-head-bot-r{
	float:left !important;
}
.logo{
	text-align:center;
}
.logo img{
	max-width:90%;
}
#bin-menu, #bin-top, #bin-headline, #terpopuler, #Homepage_MR_Left_1, #bin-head-bot-l-populer,.bin-col-sticky, #bin-skin-ad, #bin-nav .date, #col-group, #bin-column-r{
	display:none;
}