
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 40px;
	font-style: normal;
	margin: 0px;
}
.flaticon-SGK:before {
	content: "\e029";
}
.flaticon-KF:before {
	content: "\e027";
}
.flaticon-KSY:before {
	content: "\e00e";
}
.flaticon-GSY:before {
	content: "\e009";
}
.flaticon-KGY:before {
	content: "\e009";
}
.flaticon-CB:before {
	content: "\e00f";
}
.flaticon-KYS:before {
	content: "\e00e";
}
.flaticon-YKY:before {
	content: "\e00c";
}
.flaticon-Y:before {
	content: "\e007";
}
.flaticon-SY:before {
	content: "\e007";
}
.flaticon-HY:before {
	content: "\e00d";
}
.flaticon-HSY:before {
	content: "\e00d";
}
.flaticon-A:before {
	content: "\e022";
}
.flaticon-SCK:before {
	content: "\e022";
}
.flaticon-AB:before {
	content: "\e026";
}
.flaticon-PB:before {
	content: "\e026";
}
.flaticon-YYSY:before {
	content: "\e020";
}
.flaticon-MSY:before {
	content: "\e020";
}
.flaticon-KKY:before {
	content: "\e006";
}
.flaticon-SIS:before {
	content: "\e015";
}
.flaticon-P:before {
	content: "\e003";
}
.flaticon-PUS:before {
	content: "\e003";
}
.flaticon-KY:before {
	content: "\e005";
}
.flaticon-K:before {
	content: "\e005";
}
.flaticon-HKY:before {
	content: "\e005";
}
.flaticon-D:before {
	content: "\e01d";
}
.flaticon-R:before {
	content: "\e027";
}
.flaticon-DMN:before {
	content: "\e015";
}