.navobile-mobile-only {
    display: none;
}

#navobile-device-pixel {
  width: 0;
}
.show-navobile-clone {position:absolute; top:20px; left:20px;color:#ffffff; z-index:50; font-size:18px;  }
.show-navobile-clone i:before {margin-right:5px;}
.show-navobile-clone i span {font-family:'roboto_condensedbold';}
.navobile-navigation > ul { margin-top:70px;}
.menu.navobile-navigation > ul > li {float:none; display:block; height:auto; border-top:1px solid #0A0A0A; border-bottom:1px solid #3E3D3D; cursor:pointer;}
.menu.navobile-navigation > ul > li:first-child{border-top:none;}
.menu.navobile-navigation > ul > li:last-child {border-bottom:none;}
.menu.navobile-navigation > ul > li:first-child a {font-size:25px;}
.menu.navobile-navigation > ul > li > a {width:100%; color:#ffffff; padding:0 20px; font-size:22px; box-sizing:border-box; height:40px; line-height:40px;}
.menu.navobile-navigation > ul > li:after {display:none;}
.menu.navobile-navigation > ul > li > ul.dropdown {width:100%; background-color:#444444; position:relative; top:0px;  padding:0 20px; padding-bottom:20px; box-sizing:border-box;}
.menu.navobile-navigation .tabs .column{display:none !important;}
.menu.navobile-navigation > ul > li > ul.dropdown > li {width:100%;}
.menu.navobile-navigation .tabs .dropMenu li a {color:#ffffff;height: 40px;line-height: 40px;}
.menu.navobile-navigation .tabs .dropMenu li a:hover {color:#ffffff;}
.menu.navobile-navigation .tabs .dropMenu {padding:0px; width:100%;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .first {width:100%; height:auto;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .first > a {color:#ffffff; font-size:18px;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .middle {width:100%; margin-top:20px;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .middle .vBox {width:80%; margin-left:10%; margin-bottom:20px;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .middle .vBox a {color:#ffffff;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .middle .vBox .img {width:auto; height:auto;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .middle .vBox .img img {width:98%; height:auto;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .middle .vBox .date {display:none;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .last {width:100%;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .last .gotoAll { float:right; width:100%;height:30px; background: #ffffff;color: #212121;font-size: 18px; line-height: 30px; text-align: center; padding-right: 10px}
.menu.navobile-navigation > ul > li > ul.dropdown > li .last .gotoAll span {position:static;}
.menu.navobile-navigation > ul > li > ul.dropdown > li > .colA {display:block; width:96%; padding:0 2%; border:none; margin:20px 0; }
.menu.navobile-navigation > ul > li > ul.dropdown > li > .colB {display:block; width:96%; padding:0 2%; border:none; margin:20px 0; }
.menu.navobile-navigation > ul > li > ul.dropdown > li > .colC {display:block; width:96%; padding:0 2%; border:none; margin: 20px 0; }
.menu.navobile-navigation > ul > li > ul.dropdown > li > .colD {display:block; width:96%; padding:0 2%; border:none;}
.menu.navobile-navigation > ul > li > ul.dropdown > li > div {overflow:hidden;background: rgba(112, 112, 112, 0.3);}
.menu.navobile-navigation > ul > li > ul.dropdown > li a.list,.menu.navobile-navigation > ul > li > ul.dropdown > li a.list:hover {color:#ffffff;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .head {color:#ffffff; text-decoration:underline;}
.menu.navobile-navigation > ul > li > ul.dropdown > li .head:hover {color:#ffffff;}
.menu.navobile-navigation > ul > li > ul.dropdown > li > .colC .gal .item {width:45%;height:auto;}
.menu.navobile-navigation > ul > li > ul.dropdown > li > .colC .gal .item:last-child {width:100%;}
.menu.navobile-navigation > ul > li > ul.dropdown > li > .colC .gal .item img {width:100%; height:auto; }
.menu.navobile-navigation > ul > li .fa-bars {width:100%; display:block; padding-top:8px;}
.menu.navobile-navigation > ul > li .fa-bars i {display:block;}
.menu.navobile-navigation > ul > li .fa-bars:before {display:none;}
.menu.navobile-navigation > ul > li > ul.dropdown > li , .menu.navobile-navigation > ul > li > ul.dropdown > li > div{display:block;}
.menu.navobile-navigation > ul > li > ul.dropdown > li a.list.ztkMenu {background:none; padding-left:5px;}

@media screen and (min-width: 0px) and (max-width: 710px) {
    html,
    .navobile-bound {
      overflow-x: hidden;
      overflow-y: visible;
      height: auto;
      width: 100%;
    }

    .overflowscrolling {
      -webkit-overflow-scrolling: touch;
    }
    
    #navobile-device-pixel {
      width: 1px;
    }

    .navobile-mobile-only {
      display: block;
    }

    .navobile-desktop-only {
      display: none;
    }
	nav.menu > ul > li:nth-child(2) span {display:block}
	nav.menu > ul > li:nth-child(2) i {display:none}
	nav.menu > ul > li > ul.dropdown > li > .colD a.list.single	{display:block;}
	.mobileSearchFrame {display:block;}
    .navobile-navigation {
      height: 100%;
      right: -100%;
      overflow: auto;
      position: absolute;
      top: -100%;
      width: 50%;
      z-index: -1;
      
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }

    .navobile-bound .navobile-navigation {
      
        position: fixed;
        top: 0;
        z-index: 1000;
		margin:0px;
		height:100%;
		background:url(../i/mobilmenu.png) repeat;
		    transition: 0.2s;
    }
	.navobile-bound .navobile-navigation.navobile-navigation-visible {right:0;}
    .navobile-navigation ul {
      overflow: hidden;
    }

    .navobile-navigation li {
      float: none;
      overflow: hidden;
    }

    .navobile-content {
      position: relative;
      z-index: 3;

      -webkit-transition: -webkit-transform 0.2s linear;
      -moz-transition: -moz-transform 0.2s linear;
      -o-transition: -ms-transform 0.2s linear;
      -ms-transition: -o-transform 0.2s linear;
      transition: transform 0.2s linear;
    }

    .csstransforms #content.navobile-content-hidden {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .csstransforms #content.navobile-content-hidden {
      -webkit-transform: translate3d(-50%,0,0);
      -moz-transform: translate3d(-50%,0,0);
      -ms-transform: translate3d(-50%,0,0);
      -o-transform: translate3d(-50%,0,0);
      transform: translate3d(-50%,0,0);
    }
}
