a {text-decoration: none;}
a:hover {text-decoration: underline;}
.orange {color: #ffc766;}
.green {color: #709941;}
.pink {color: #d91746;}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	height: 1%;
}

.middle:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.row {
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

.giveaway_day {
	clear: both;
	margin-bottom: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #f0f6f8;
	border-right-width: 0;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	background-color: #71d9f7;
	padding: 25px 50px;
	height: 510px;
	overflow: hidden;
}

.giveaway_day.active_giv2 {
	background-color:#d1f5ff;
}

.giveaway_day.g1-2 {
	width:465px;
	clear:none;
}

.giveaway_wrap {
	padding-top: 10px;
}

.giveaway_img {
	float: left;
	width: 160px;
	margin-right: 40px;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

.giveaway_img img {
	width: 160px;
}

.giveaway_day.g1-2 .giveaway_img {
	width: 107px;
	margin-top:6px;
}

.giveaway_day.g1-2 .giveaway_img img {
	width: 107px;
}

.giveaway_label {
	position: absolute;
	right: -25px;
	bottom: -30px;
	color: #fff;
	width: 123px;
	height: 123px;
	text-align: center;
	background: url(../images/svg/sprite.svg) 0 0 no-repeat;
	padding-top: 16px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.giveaway_day.g1-2 .giveaway_label {
	position: absolute;
	right: -20px;
	bottom: -11px;
	background-position: -409px -5px;
	width: 86px;
	height: 86px;
	padding-top:15px;

}

.giveaway_day.g1-2 .giveaway_label .old_price {
	font-size:15px;
	line-height: 20px;
}

.past .giveaway_label {
	padding-top: 28px;
	background: url(../images/svg/sprite.svg) no-repeat 0 -149px;
}

.giveaway_label:hover .free {text-decoration: underline;}

.label_link {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.giveaway_label .old_price {
	color: #d5f6c7;
	font-size: 22px;
	line-height: 34px;
	white-space: nowrap;
	text-decoration: line-through;
}

.past .giveaway_label .old_price {
	text-decoration: none;
	color: #494949;
}

.giveaway_label .free {
	width: 72px;
	margin: 0 auto;
	border-top: 2px solid #d5f6c7;
	padding-top: 6px;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 22px;
}

.past .giveaway_label .free {
	border-top: 1px solid #314046;
	color: #314046;
	font-weight: 500;
	font-size: 18px;
}


.giveaway_label .free .big {
	font-size: 24px;
	line-height: 1;
}

.giveaway_day.g1-2 .giveaway_label .free .big {
	font-size:16px;
}

.giveaway_day.g1-2 .giveaway_label .free {
	font-size:12px;
	line-height: 14px;
}

.giveaway_title {
	font: 34px/40px "Roboto Slab", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	overflow: hidden;
	padding-top: 6px;
}

.giveaway_title a {color: inherit;}

.giveaway_day.g1-2 .giveaway_title {
	font-size: 25px;
	line-height: 29px;
}

.giveaway_date {
	font-size: 14px;
	color: #4b4b4b;
}

.giveaway_descr {
	color: #22414a;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 8px;
	max-height: 118px;
	line-height: 30px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.giveaway_counter, .game_giveaway_counter {
	height: 70px;
	margin: 20px auto 22px;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	overflow: hidden;
	width: 100%;
}

.gaotd_game2 .game_giveaway_counter {
	margin: 36px auto 27px;
}

.gaotd_game .game_giveaway_counter {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 30px;
	height: 58px;
}

.gaotd_game .game_giveaway_counter .countdown-amount .diggit {
	background-position: -192px 0;
	width: 28px;
	height: 40px;
	line-height: 40px;
}

.gaotd_game .game_giveaway_counter .countdown-period {font-size: 11px;}

.gaotd_game .game_giveaway_counter .countdown-section {margin: 0 6px;}

.gaotd_game .game_giveaway_counter .countdown-section + .countdown-section:before {
	width: 5px;
	height: 16px;
	background: url(../images/sprite.png) -233px 0 no-repeat;
	left: -9px;
	top: 12px;
}

.giveaway_buttons {
	text-align: center;
}

.giveaway_buttons .button {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #05c203;
	height: auto;
	line-height: 28px;
	padding: 8px 25px;
	min-height: 44px;
}
.giveaway_buttons .button.pink {
	background-color: #d91646;
}

.giveaway_nav {
	margin: 0 -10px;
}

.giveaway_nav a {
	font-size: 17px;
	text-decoration: none;
	color: #314046;
	font-family: "Roboto Slab", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.giveaway_nav a:hover {
	text-decoration: underline;
}

.giveaway_nav .next {
	float: right;
}

.giveaway_nav .prev {
	float: left;
}

.countdown-row {
	text-align: center;
}

.countdown-section {
	display: inline-block;
	vertical-align: top;
	margin: 0 8px;
	position: relative;
}

.countdown-section + .countdown-section:before {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 24px;
	background: url(../images/sprite.png) -106px -28px no-repeat;
	left: -14px;
	top: 15px;
}

.countdown-amount {
	display: block;
}

.countdown-amount .diggit {
	display: inline-block;
	width: 35px;
	height: 50px;
	background: url(../images/sprite.png) 0 0 no-repeat;
	line-height: 50px;
	text-align: center;
}

.countdown-amount .diggit + .diggit {
	margin-left: 4px;
}

.countdown-period {
	font-size: 13px;
	line-height: 1;
	margin-top: 6px;
	color: #666;
	font-weight: 400;
	display: block;
	max-width: 75px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ads_wrap {
	background-color: #fff;
	padding-top: 0;
	/*display: table;*/
	text-align: center;
	height: 510px;
	margin-bottom: 10px;
	border: 1px solid #f0f6f8;
	border-left-width: 0;
	border-right-width: 0;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
}

.ads_wrap.g12 {
	width:470px;
}

.ads_wrap.g12 .ads_inner {
	width: 470px;
}

.ads_inner {
	width: 434px;
	height: 508px;
	display: table-cell;
	vertical-align: middle;
	padding: 50px 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.adslot {
	width: auto;
	height: 280px;
}

.ads_wrap:before {top: 98px;}

.vote {
	height: 510px;
	width: 369px;
	margin-bottom: 10px;
	background-color: #8ae7ff;
	padding: 25px 23px 25px 26px;
	float: right;
	border: 1px solid #f0f6f8;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
}

.vote .title {
	text-align: center;
	color: #314046;
	font: 26px "Roboto Slab", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	padding: 0 39px 11px;
	border-bottom: 1px solid #fff;
	margin-bottom: 30px;
}

.vote_img {
	margin-left: 0;
	float: left;
	width: 75px;
	margin-right: 22px;
	max-height: 106px;
}

.vote_list li { margin-bottom: 13px; }

.vote_list .or {
	margin: 13px auto 10px;
	width: 50px;
	height: 50px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	line-height: 50px;
	font-style: italic;
	font-weight: 300;
	color: #2e8da6;
	cursor: default;
	text-transform: uppercase;
	font-size: 24px;
}

.vote_list .or:before {
	width: 300px;
	height: 1px;
	background: #fff;
	right: 58px;
	top: 50%;
}

.vote_list .or:after {
	width: 300px;
	height: 1px;
	background: #fff;
	left: 58px;
	top: 50%;
}

.vote_list .odd .vote_img {
	margin-top: 7px;
	float: right;
	margin-left: 13px;
	margin-right: 2px;
}

.vote_list .odd .vote_title {
	margin-top: 6px;
	margin-bottom: 9px;
}

.vote_buttons {
	padding-top: 12px;
	text-align: center;
}

.vote_buttons .button {
	width: 186px;
	font-family: "Roboto Slab", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.vote_list {
	margin: 0;
	list-style: none;
	overflow: hidden;
}

.vote_list span.cf {
	text-decoration: none;
	color: #2d2d2d;
	font-weight: 300;
	display: block;
}

.vote_list span span {
	display: block;
	max-height: none;
}

.vote_list span.over {
	width: 155px;
	float: left;
}

span.like {
	width: 48px;
	height: 48px;
	float: right;
	cursor: pointer;
	background: rgba(46, 141, 166, .3) url(../images/svg/sprite.svg) no-repeat -29px -454px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

span.like:hover {background-color: #57b5cd;}
span.like.liked {background-color: #fff; background-position: 11px -454px;}

.vote_list .odd {
	text-align: right;
}

.vote_img img {
	max-width: 100%;
	max-height: 100%;
}

.vote_title {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 8px;
	margin-top: 4px;
	max-height: 60px;
	overflow: hidden;
}

.vote_descr {
	font-size: 15px;
	color: #5e5e5e;
}

.gaotd_game, .gaotd_game2 {
	height: 510px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #8ae7ff;
	padding: 30px 0;
	float: right;
	margin-bottom: 10px;
	border: 1px solid #f0f6f8;
	border-left-width: 0;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
}

.gaotd_game2 {
	background-color:  #ffefd2;
}

.gaotd_game2 .game2_descr{
	width: 100%;
	float:left;
	margin:16px 0 0px;
	font-size:18px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.gaotd_game h2, .gaotd_game2 h2 {
	background-color: #314046;
	color: #fff;
	padding: 4px 12px 4px 26px;
	width: 334px;
	margin-bottom: 26px;
	font: 400 23px/39px "Roboto Slab", "Roboto", Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap_game {
	overflow: hidden;
	padding: 0 26px;
	font-size: 17px;
	line-height: 20px;
	font-weight: 300;
	color: #314046;
}

.wrap_game > div {overflow: hidden;}

.icon86 {
	width: 86px;
	height: 86px;
	float: left;
	margin-right: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wrap_game a {
	color: #314046;
	font-size: 22px;
	line-height: 27px;
	font-weight: normal;
	text-decoration: none;
	position: relative;
	top: -5px;
}

.wrap_game a:hover {text-decoration: underline;}

.wrap_screen {
	height: 110px;
	margin-bottom: 22px;
	background-repeat: no-repeat;
	background-position: center;
}

.gaotd_game .button, .gaotd_game2 .button  {
	width: 260px;
	padding: 8px 10px 0;
	font-size: 18px;
}

/*second gaotd*/
.download_win {
	height: 440px;
	width: 369px;
	position: relative;
	height: 510px;
	margin-bottom: 10px;
	background-color: #8ae7ff;
	padding: 40px 23px 25px 26px;
	float: right;
	border: 1px solid #f0f6f8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
}

.light_blue {color: #80e3ff;}

.download_win .lbl {
	width: 100%;
	max-width: 265px;
}

.download_win .proceed, .gaotd_game .proceed {background-color: #01be01;}
.download_win .proceed.pink, .gaotd_game .proceed.pink {background-color: #d91646;}

.download .giveaway_img {
	width: 90px;
	margin-right: 30px;
}

.download .giveaway_img img {
	width: 100%;
	height: auto;
	min-height: 0;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.download .giveaway_title a {
	color: inherit;
	text-decoration: none;
	display: block;
	display: -webkit-box;
	max-height: 70px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.download .giveaway_label {
	width: 75px;
	height: 75px;
	right: -24px;
	bottom: -23px;
	padding-top: 12px;
	background: url(/images/svg/sprite.svg) -129px 0 no-repeat;
}

.download .giveaway_label .old_price {
	font-size: 15px;
	line-height: 20px;
	text-decoration: line-through;
	color: #c8ffc8;
}

.download .giveaway_label .free {
	width: 48px;
	padding-top: 5px;
	border-top: 1px solid #fff;
	font-size: 11px;
	line-height: 1;
	display: block;
	color: #fff;
}

.download .giveaway_label .free .big {font-size: 15px;}

.download .giveaway_title {
	color: #314046;
	margin-bottom: 10px;
	font: 24px/32px "Roboto Slab", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.label_link {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.giveaway_label:hover .free {text-decoration: underline;}

.download .giveaway_descr {
	font: 300 18px/26px "Roboto", Arial, sans-serif;
	height: auto;
	max-height: none;
	white-space: normal;
	margin-bottom: 30px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.download .giveaway_counter {
	text-align: center;
	margin: 0 auto 25px;
}

a.proceed {
	color: #fff;
	background-color: #ffa200;
	font-size: 20px;
	width: 265px;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wrapper_lists {
	height: auto;
	overflow: hidden;
	background-color: #fff;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #f0f6f8;
	border-left-width: 0;
	border-right-width: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.soft {
	width: 1030px;
	border-left: 1px solid #f0f6f8;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.soft .left_col, .soft .right_col {
	width: 50%;
	float: left;
	padding-top: 18px;
	padding-right: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.soft .left_col {padding-left: 50px;}

.soft .right_col {
	padding-left: 26px;
	background-color: #f5fbfd;
}

.right_clmn {
	float: right;
	width: 370px;
	padding: 18px 50px 40px 25px;
	border-right: 1px solid #f0f6f8;
	background-color: #e9f5f8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.right_clmn .wrapper_offers {margin-bottom: 44px;}

.right_clmn .icon80 {
	height: auto;
	max-width: 80px;
	float: left;
	margin-right: 18px;
	margin-bottom: 5px;
}

.right_clmn .wrapper_offers a {white-space: normal;}
.right_clmn .wrapper_offers div div:last-child {margin-left: 0;}

.soft h2, .right_clmn h2 {
	font: 400 30px "Roboto Slab", "Roboto", "Arial", sans-serif;
	color: #303d45;
	margin: 30px 0 26px;
	padding-bottom: 14px;
	border-bottom: 1px solid #3b4905;
}

.soft h2 a, .right_clmn h2 a {
	color: inherit;
	display: block;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.soft .view_all, .right_clmn .view_all {
	font-size: 41px;
	line-height: 40px;
	font-family: "Roboto", Arial, sans-serif;
	color: #009AD7;
	display: inline-block;
	float: right;
}

.soft h2 a:hover, .right_clmn h2 a:hover, .soft h2 a:hover .pink, h2 a:hover .green, .soft h2 a:hover .view_all, .right_clmn h2 a:hover .view_all {
	color: #ffa200;
	text-decoration: none;
}

.wrapper_offers, .wrapper_offers > div {
	overflow: hidden;
}

.short_dscr {max-height: 75px;}

.icon100 {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
}

.wrapper_offers a {
	font: 300 22px "Roboto", Arial, sans-serif;
	position: relative;
	top: -4px;
	color: #009ad7;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.wrapper_offers a:hover {
	text-decoration: underline;
	color: #ffa200;
}

.wrapper_offers div div {
	color: #303d45;
	font-size: 17px;
	line-height: 25px;
	margin-left: 120px;
}

.wrapper_offers .discount {
	margin-top: 20px;
	margin-bottom: 48px;
	padding: 23px 25px 20px;
	position: relative;
	background-color: #fffad0;
	color: #284146;
	font-size: 18px;
	overflow: visible;
}

.wrapper_offers .discount span {text-decoration: line-through;}

.discount:before {
	content: '';
	display: block;
	width: 28px;
	height: 17px;
	background: url(../images/svg/sprite.svg) no-repeat -29px -416px;
	position: absolute;
	top: -16px;
	left: 100px;
}

.discount.super {background-color: #ffdfd0;}
.discount.super:before {background-position: 0 -416px;}

.wrapper_calendar {
	float: left;
	background: #f5fbfd;
	height: 155px;
	width: 100%;
	padding: 30px 118px;
	margin-bottom: 10px;
	color: #333;
	border: 1px solid #f0f6f8;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper_calendar h2 {
	font: 300 29px/normal "Roboto Slab", "Roboto", Arial, sans-serif;
	text-align: center;
	margin-bottom: 16px;
}

.wrapper_calendar .wrap_link {position: relative;}

.wrapper_calendar .wrap_link a {
	color: #333;
	font-size: 15px;
	position: absolute;
	top: -36px;
}

.wrapper_calendar .wrap_link a.prev {left: 0;}
.wrapper_calendar .wrap_link a.next {right: 0;}

.wrapper_calendar .dates {
	overflow: hidden;
	margin: 0 -6px;
}

.wrapper_calendar .week {
	text-align: center;
	overflow: hidden;
	float: left;
	margin-left: 60px;
}

.wrapper_calendar .week:first-child {margin-left: 0;}

.wrapper_calendar .day span {margin-bottom: 3px;}

.wrapper_calendar .week span {
	width: 28px;
	display: block;
	float: left;
}

.wrapper_calendar .day {
	font-family: "Roboto Slab", "Roboto", Arial, sans-serif;
	font-size: 11px;
	overflow: hidden;
}

.wrapper_calendar .num a {
	font-size: 18px;
	color: #333;
}

.wrapper_calendar .num a:hover {color: #009ad7;}

.wrapper_calendar .num span {padding-top: 2px;}

.wrapper_calendar .num .today {background-color: #d91646; color:#fff; font-size:18px;}
.wrapper_calendar .num .today a {color: #fff;}

.next {color: rgba(51,51,51,.5);}
.num .next {font-size: 18px;}

.wrap_chip {margin-bottom: 10px;}

.test_split .ads_wrap {margin: 10px;}

.t_ab {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6);
}

.test_split .col2.slogan {
	margin: 10px;
	width: auto;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

/* Promo code
-----------------------------------------------------------------------------*/
.wrapper_promo {
	overflow: hidden;
	width: 100%;
	padding: 40px;
	background-color: #fff;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.wrapper_promo .green {color: #00b300;}

.wrapper_promo .note {
	text-align: center;
	font: 22px/30px "Roboto Slab", "Roboto", Arial, sans-serif;
	line-height: 32px;
	font-weight: 300;
	color: #494949;
	margin: 20px 0 30px;
}

.wrapper_promo input[type=text] {
	width: 100%;
	max-width: 490px;
	height: 50px;
	display: block;
	margin: 0 auto 20px;
	border: 1px solid #828b8f;
	padding: 0 15px;
	font: 300 24px "Roboto", Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn_get {
	color: #fff;
	background-color: #00b300;
	width: 170px;
	height: 50px;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	font: 300 24px "Roboto", Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap_success {
	overflow: hidden;
	text-align: center;
	font: 300 28px/44px "Roboto", Arial, sans-serif;
}

.wrap_success .green {
	font: 34px/50px "Roboto Slab", "Roboto", Arial, sans-serif;
}

.promo_errors {
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: #d91746; 
	padding: 0 20px; 
	font-family: roboto light;	
}

.promo_captcha {
	 width: 300px; 
	 margin: auto; 
	 margin-bottom: 20px;	
}

/*new block giveaway: start*/
.lengthy_giveaway {
	height: 510px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #adedff;
	padding: 30px 0;
	float: right;
	margin-bottom: 10px;
	border: 1px solid #f0f6f8;
	border-left-width: 0;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
}

.with_lengthy_giveaway {
    display: none;
}

.lengthy_giveaway h2, .wrapper_game h2 {
	background-color: #314046;
	color: #fff;
	padding: 4px 12px 4px 26px;
	width: 260px;
	margin-bottom: 26px;
	font: 400 23px/39px "Roboto Slab", "Roboto", Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lengthy_giveaway h2 {
	background-color: #f5fbfd;
	color: #314046;
	width: auto;
	float: left;
	padding-right: 15px;
}

.lengthy_giveaway h2 .small {
	font-size: 20px;
}

.lengthy_giveaway .penk {color: #d91646;}

.lengthy_giveaway .green {color: #dfffb9;}

.lengthy_giveaway h2 a,
.lengthy_giveaway h3 a {
    color: inherit;
}

.lengthy_giveaway h2 a:hover {text-decoration: none;}

.wrapper_info {
	clear: both;
	overflow: hidden;
	padding: 0 22px;
}

.prog_box {
	max-width: 96px;
	margin-right: 20px;
	float: left;
	color: #314046;
}

.wrapper_info h3 {
	font: 400 22px/28px "Roboto Slab", "Roboto", Arial, sans-serif;
	margin-bottom: 0;
}

.wrapper_info p {
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	overflow: hidden;
	margin-bottom: 30px;
}

.license {
	position: relative;
	text-align: center;
	background-color: #d7f6ff;
	color: #314046;
	font-size: 24px;
	line-height: 30px;
	padding: 28px 0;
	margin-top: 15px;
}

.license .price {
	position: absolute;
	top: -21px;
	left: 50%;
	margin-left: -41px;
	background-color: #d7f6ff;
	color: #383f21;
	text-decoration: line-through;
	padding: 8px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}

.lengthy_giveaway .giveaway_buttons {padding-top: 16px;}

.lengthy_giveaway .button {
	background-color: #d91646;
}

.wrapper_block {
	background-color: #fff;
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #f0f6f8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.wrapper_game {
	float: left;
	width: 1030px;
	min-height: 293px;
	background-color: #ffefd2;
	padding: 110px 90px 0 50px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper_game h2 {
	position: absolute;
	left: 0;
	top: 28px;
	padding-left: 50px;
	padding-right: 26px;
	width: auto;
	background-color: #453d30;
}

.wrapper_game .icon120 {
	float: left;
	margin-right: 22px;
}

.wrapper_game .wrap_game {
	margin-right: 325px;
	padding: 0;
	font-size: 18px;
	line-height: 25px;
}

.wrapper_game.competition_style .wrap_game {margin-right: 250px;}

.competition_style .wrap_counter {top: 44px;}

.wrapper_game.competition_style .wrap_game .wrap_counter {top: 95px;}

.wrapper_game.competition_style .wrap_game .giveaway_buttons a {min-width: 205px;}

.wrapper_game .wrap_game > a {
	font-size: 28px;
	line-height: 36px;
}

.icon120 {
	width: 120px;
	height: 120px;
}

.wrap_subscrb {
	float: left;
	width: 367px;
	min-height: 293px;
	background-color: #f4ffdf;
	padding: 30px 48px 30px 22px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap_subscrb label {
	font: 300 28px "Roboto Slab", "Roboto", Arial, sans-serif;
	color: #3e4530;
}

.wrap_subscrb input[type=text] {
	background-color: #fff;
	border: 1px solid #abb598;
	width: 100%;
	height: 42px;
	padding: 0 15px;
	margin-top: 25px;
	font: 300 24px "Roboto Slab", "Roboto", Arial, sans-serif;
	color: #88946f;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wrap_subscrb input[type=text].error {
	border-color: #E45C7D;
}

.wrap_subscrb input[type=submit] {
	font: 24px "Roboto", Arial, sans-serif;
	color: #fff;
	width: 153px;
	height: 40px;
	display: block;
	background-color: #ffa200;
	border: none;
	margin-top: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wrap_counter {
	position: absolute;
	right: 80px;
	top: 84px;
}

.wrap_counter a.button {
	color: #fff;
	font-size: 18px;
}
/*new block giveaway: end*/

/* */
.l-v_block {
	width:100%;
	float:left;
	height:292px;
	border-style: solid;
	border-width: 1px;
	border-color:  rgba(255, 255, 255, 50);
	/*background-color:  #acedff;*/
	box-shadow: 0px 0px 2.9px 2.1px rgba(199, 222, 228, 0.35);
	margin-bottom: 10px;
}

.l-v_block .lengthy_giveaway {
	float:left;
	width:515px;
	padding:20px 0 0 0;
	height: 292px;
	position: relative;
	border:none;
	background-color:  #acedff;
	margin:0;
}

.l-v_block .wrapper_info {
	padding:0 22px 0 51px;
}

.l-v_block img.prog_box {
	max-width:82px
}

.l-v_block .license {
	padding:0 51px;
	height:60px;
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.l-v_block .license .price {
	margin-left:0;
	left:51px;
	padding:3px 18px;
	top:-19px;
	font-size:22px;
}

.l-v_block .license .price + div {
	font-size:20px;
	line-height: 60px;
}

.l-v_block .lengthy_giveaway h2 {
	margin-bottom:20px;
}

.l-v_block .competition-complete {
	line-height: 60px;
	font-size: 20px;
	float:left;
}

.l-v_block .lengthy_giveaway .giveaway_buttons {
	padding-top:14px;
	position: absolute;
	right:51px;
	top:0;
}

.l-v_block .giveaway_buttons .button {
	float:right;
	font-size:15px;
	line-height: 35px;
	height: 35px;
	width:110px;
	padding:0;
	min-height: 0px;
}

.l-v_block .vote {
	position: relative;
	width:885px;
	height: 100%;
	border: none;
	padding: 0;
	margin:0;
}

.l-v_block .vote .title {
	position: absolute;
	left:0;
	top:20px;
	padding: 13px 14px 10px 51px;
	background: #fff;
	border: none;
	color:  #42585f;
	font-size: 23px;
	line-height:23px;
}

.l-v_block .vote_list {
	position: relative;
	margin-top:66px;
	height:226px;
}

.l-v_block .vote_img {
	margin-right: 17px;
}

.l-v_block .vote_list span.over {
	width:250px;
}

.l-v_block .vote_list li:first-child {
	padding-right: 50px;
}

.l-v_block .vote_list li:last-child {
	padding-left: 50px;
}

.l-v_block .vote_list li {
	float:left;
	width:50%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top:18px;
	padding-left:44px;
	height: 100%;
	margin-bottom:0;
	position: relative;
}

.l-v_block .vote_list .or {
	position: absolute;
	top:37px;
	left:50%;
	margin-left:-25px;
	padding:0;
}

.l-v_block .vote_list .or {
	width:50px;
	height: 50px;
}

.l-v_block .vote_list .or:before {
	width: 1px;
	height: 53px;
	top: -60px;
	right: 50%;
}

.l-v_block .vote_list .or:after {
	width: 1px;
	height: 53px;
	top: 60px;
	left: 50%;
}

.l-v_block span.like {
	position: absolute;
	bottom:31px;
	left:50%;
	margin-left: -24px;
}
/* */

/* Media
-----------------------------------------------------------------------------*/
@media (max-width: 1436px) {
	.giveaway_day {
		width: 560px;
		clear: none;
		float: left;
		padding: 40px;
	}

	.giveaway_day.g1-2 {
		width:50%;
	}
	.giveaway_wrap {padding: 0;}
	.giveaway_label {
		right: -25px;
		bottom: -40px;
	}
	.giveaway_img {
		width: 150px;
		margin-right: 40px;
		margin-bottom: 60px;
	}
	.giveaway_img img {max-width: 100%;}
	.giveaway_date, .giveaway_descr {margin-top: 0;}
	.giveaway_buttons .button {padding: 8px 22px;}

    .ads_wrap {width: 414px;}

	.download_win {
		margin-top: 126px;
		padding-top: 30px;
		width: 40%;
	}

	.wrapper_lists {
		margin-bottom: 10px;
		background-color: transparent;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0);
	}

	.soft {
		margin-top: 0;
		height: auto;
		width: 100%;
		overflow: hidden;
		margin-bottom: 10px;
		background-color: #fff;
		-moz-box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	.soft .left_col, .soft .right_col {
		float: left;
		width: 50%;
		overflow: hidden;
	}
	.soft .left_col {padding: 0 20px 0 40px;}
	.soft .right_col {padding: 0 40px 0 20px;}
	.soft h2, .right_clmn h2 {font-size: 22px;}
	.soft .view_all, .right_clmn .view_all {
		font-size: 30px;
		line-height: 30px;
	}
	.icon100 {
		width: 80px;
		height: 80px;
	}
	.wrapper_offers div div {
		font-size: 15px;
		margin-left: 100px;
	}
	.short_dscr {max-height: 52px;}
	.wrapper_offers .discount {
		font-size: 15px;
		padding: 15px 25px 15px;
		margin-top: 30px;
	}
	.discount:before {left: 80px;}

    .right_clmn .wrapper_offers:last-child {
	    display: block;
	    margin-bottom: 20px;
    }

	.wrapper_calendar {
		padding: 20px 40px 10px;
		height: auto;
		margin-bottom: 0;
	}
	.wrapper_calendar .dates {text-align: center;}
	.wrapper_calendar .week {
		display: inline-block;
		float: none;
		margin: 0 15px 10px;
	}
	.wrapper_calendar .week:first-child  {margin: 0 15px 10px;}

	.wrap_chip {
		margin-top: 10px;
		margin-bottom: 0;
		float: left;
	}

	.wrapper_block {
		display: inline;
		border: none;
	}
	.wrap_subscrb {
		float: none;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		clear: both;
		text-align: center;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	.wrap_subscrb label {
		font-size: 22px;
		line-height: 28px;
		position: static;
		margin: 0 0 15px;
		display: block;
	}
	.wrap_subscrb input[type=text] {
		font-size: 20px;
		width: 382px;
		height: 42px;
		margin-top: 0;
	}
	.wrap_subscrb input[type=submit] {
		width: 130px;
		font-size: 20px;
		display: inline-block;
		margin: 0;
		height: 42px;
	}

	.wrap_subscrb {min-height: 0;}
}

@media (min-width: 1037px) and (max-width: 1436px) {
	.vote {
		float: none;
		height: auto;
		width: 100%;
		margin-bottom: 10px;
		padding: 20px 40px;
		overflow: hidden;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	}
	.vote .title {
		margin-bottom: 20px;
		padding: 0 59px 11px;
		border-bottom: none;
	}
	.vote_title {
		width:200px;
	}
	.vote_list span.over {
		width:200px;
	}

	.vote_img {margin-left: 0;}
	.vote_list {
		position: relative;
		overflow: visible;
	}
	.vote_list li {
		float: left;
		width: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.vote_list li:first-child {padding-right: 70px;}
	.vote_list li:last-child {padding-left: 70px;}
	.vote_list .or {
		position: absolute;
		top: 14px;
		left: 50%;
		margin-left: -25px;
	}
	.vote_list .or:before {
		width: 1px;
		height: 30px;
		top: -35px;
		right: 50%
	}
	.vote_list .or:after {
		width: 1px;
		height: 30px;
		bottom: -35px;
		top: auto;
		left: 50%;
	}
	.vote_list .odd .vote_img {
		margin-left: 19px;
		margin-right: 14px;
		margin-top: 7px;
	}
	.vote_list .odd .vote_title {
		margin-top: 12px;
		margin-bottom: 9px;
	}
	.vote_buttons {padding-top: 32px;}

	.lengthy_giveaway {
		float: left;
		width: 561px;
		margin-bottom: 10px;
		border: 1px solid #f0f6f8;
		border-right-width: 0;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	.wrapper_game {
		width: 411px;
		height: auto;
		min-height: 510px;
		padding-top: 100px;
		padding-right: 30px;
		padding-left: 22px;
		border: 1px solid #f0f6f8;
		border-left-width: 0;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	}
	.wrapper_game .wrap_game {margin: 0;}
	.wrapper_game h2 {padding-left: 22px;}
	.wrapper_game .icon120 {
		width: 90px;
		height: 90px;
	}
	.wrapper_game .wrap_game > a {
		font-size: 25px;
		line-height: 31px;
	}
	.wrapper_game .wrap_game > div {
		height: auto;
	}
	.wrap_counter {
		position: static;
		margin: 10px auto 20px !important;
	}
}

@media (min-width: 720px) and (max-width: 1436px) {
	.right_clmn {
		width: 100%;
		padding: 0 40px 0;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	.right_clmn .wrapper_offers {
		width: 50%;
		float: left;
		height: 125px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.right_clmn .wrapper_offers:nth-child(odd) {padding-left: 10px;}
	.right_clmn .wrapper_offers:nth-child(even) {padding-right: 10px;}
	.g_dscr {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		height: 70px;
	}
}

@media (max-width: 1436px) {
	.col2.slogan {
		float: none;
		padding: 9px 60px 15px;
		margin-bottom: 10px;
		height:auto;
		width: 100%;
		border-width: 1px;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	.middle {position: relative;}
	.giveaway_day {
		margin-top: 126px;
		width: 60%;
		padding:30px;
	}
	.g1-22 {
		width:50%;
	}

	.gaotd_game2 {
		margin-top: 126px;
		width: 50%;
		/*padding:30px;*/
	}

	.subs-col {
		margin-top: 126px;
		width: 50%;
		/*padding:30px;*/
		float:left;
	}
	.giveaway_day > * {
		margin-left: auto;
		margin-right: auto;
	}

	.ads_wrap, .ads_wrap.g12 {
		border-width: 0 1px;
		-moz-box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		height: 116px;
		padding-top: 6px;
		width: 100%;
		left: 0;
		right: 10px;
		margin-bottom: 0;
		position: absolute;
		overflow: hidden;
		display: block;
	}
	.ads_inner, .ads_wrap.g12 .ads_inner {
		padding: 10px;
		height: 90px;
		width: 100%;
		display: block;
	}
	.adslot {height: 90px;}
	.ads_wrap:before {top: 0;}

	.row720 .col1 {
		width: 57%;
		float: left;
	}

	.row720 .col2 {
		overflow: hidden;
	}

	.gaotd_game {
		border-width: 0 1px 1px 0;
		-moz-box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		-webkit-box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		box-shadow: 0 0 0 rgba(255,255,255,0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		float: right;
		width: 40%;
		height: 509px;
		margin-top: 127px;
	}

	.vote {
		margin-top: 136px;
		height: 510px;
		border-left: 0;
		width: 40%;
		float: none;
		overflow: hidden;
		padding: 30px;
	}

	.vote .title {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
	}

	.vote_list {
		overflow: hidden;
	}

	.vote_title {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 10px;
		max-height: 72px;
	}

	.vote_img {
		margin-right: 15px;
	}

	.vote_list .or {
		margin: 30px auto 10px;
	}

	.vote_list .odd .vote_img {
		margin-left: 13px;
		margin-right: 4px;
		margin-top: 16px;
	}

	.vote_buttons {
		padding-top: 27px;
	}

	.soft {
		border-width: 1px;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}

	.soft .left_col, .soft .right_col {
		float: left;
		width: 50%;
		max-height: none;
		padding: 0 15px 0 30px;
	}

	.soft .right_col {
		max-height: none;
		padding: 0 30px 0 15px;
	}
	.right_clmn {
		padding: 0 30px 0;	
	}

	.lengthy_giveaway {
		width: 40%;
		margin-top: 126px;
	}

    .wrapper_game {
	    float: none;
	    clear: both;
	    width: auto;
	    padding: 100px 30px 30px;
	    height: auto;
	    min-height: 0;
	    -moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	    -webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	    box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
    }
	.wrapper_game h2 {padding-left: 28px;}
	.wrapper_game .wrap_game {margin-right: 290px;}
	.wrap_counter {
		right: 30px;
		top: 74px;
	}
	.wrapper_game .wrap_game > a {display: table;}
	.gaotd_game .wrap_game > div {display: inline;}
	.wrap_game .wrap_counter {display: block;}
	.game_giveaway_counter {
		float: none;
		margin: 20px auto;
	}
	.wrapper_game .icon120 {margin-bottom: 10px;}
	.competition_style {min-height: 0;}
    .competition_style .giveaway_counter {display: none;}
	.wrapper_game.competition_style .wrap_game > div.wrap_counter {
	    margin-bottom: 10px;
	    margin-top: 50px;
	    position: static;
    }
	.wrapper_game.competition_style .wrap_game > div {
		margin-left: 0;
		display: inline;
	}
	.wrapper_game.competition_style .wrap_game {margin-right: 0;}
	.competition_style .giveaway_buttons {
		display: block;
		margin-top: 20px;
		float: none;
		clear: both;
		margin-top: 40px;
	}
}

@media (max-width: 950px) {
	.giveaway_day {padding: 30px;}
	.giveaway_img {
		width: 100px;
		margin-right: 30px;
	}
	.giveaway_label {
		right: -15px;
		bottom: -26px;
		width: 75px;
		height: 75px;
		padding-top: 12px;
		background-position: -130px 0;
	}
	.giveaway_label .old_price {
		font-size: 15px;
		line-height: normal;
	}
	.giveaway_label .free {
		width: 45px;
		font-size: 11px;
		line-height: 10px;
		padding-top: 5px;
	}
	
	.giveaway_label .free .big {font-size: 15px;}
	.giveaway_title {
		font-size: 30px;
		line-height: 35px;
	}
	.vote .title {
		font-size: 24px;
		line-height: 28px;
	}
	.vote .title {
		font-size: 20px;
		line-height: 25px;
	}
    .giveaway_counter, .game_giveaway_counter {
	    margin: 0 auto 20px;
	    width: 270px;
	    float: none;
	    clear: both;
    }
	.vote_img {width: 50px;}
	.vote_title {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.right_clmn .wrapper_offers a {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.giveaway_counter, .game_giveaway_counter {
		margin-top:25px;
		margin-bottom:25px;	
	}

    .gaotd_game h2 {
	    width: 100%;
	    font-size: 18px;
	    line-height: 30px;
    }
    .gaotd_game .icon86 {
	    width: 60px;
	    height: 60px;
	    margin-right: 10px;
	    margin-bottom: 10px;
    }
    .wrap_game a {
	    font-size: 18px;
	    line-height: 25px;
    }
	.wrap_game > div {
		float: none;
		clear: both;
	}
    .game_giveaway_counter {margin: 20px auto;}
    .wrap_screen {height: 90px;}
    .gaotd_game .giveaway_buttons {
	    max-width: 80%;
	    overflow: hidden;
	    margin: 0 auto;
    }
	.gaotd_game .button {
		width: 100%;
		padding: 8px 10px;
		font-size: 16px;
	}

	.wrapper_info h3 {
		font-size: 20px;
		line-height: 28px;
	}
	.wrapper_info p {
		font-size: 17px;
		line-height: 22px;
	}

	.download_win {padding: 30px 12px 20px;}
	.giveaway_img { margin-top:0; margin-bottom:25px;}
	.title {
		font-size: 20px;
		line-height: 26px;
	}
	.giveaway_buttons .button {padding: 8px 10px; margin-top:0;}

	.l-v_block img.prog_box {max-width: 70px;}
}

@media (max-width: 880px) {
	.vote_list span.over {max-width: 90px;}

	.wrapper_promo .note {
		font-size: 26px;
		line-height: 36px;
	}

    .prog_box {max-width: 60px;}
	.wrapper_info h3 {
		font-size: 18px;
		line-height: 22px;
	}
	.license {
		font-size: 20px;
		line-height: 26px;
		padding: 18px 0;
		margin-top: 20px;
	}
	.icon120 {
		width: 100px;
		height: 100px;
	}
	.wrapper_game .wrap_game > a {
		font-size: 24px;
		line-height: 28px;
	}
	.wrapper_game .wrap_game {
		font-size: 16px;
		line-height: 20px;
	}
	.wrapper_game.competition_style .wrap_game {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (min-width: 721px) and (max-width: 800px) {
	.download_win {
		text-align: center;
		height: 600px;
		width: 47%;
	}
	.download .giveaway_img {
		float: none;
		margin: 0 auto 25px;
	}
	.giveaway_day {
		height: 560px;
		width: 53%;
	}
	.lengthy_giveaway, .subs-col, .gaotd_game2 {
		width: 47%;
		height: 560px;
		margin-top: 126px;
	}
	.wrapper .subs-col .subscribe_block {
		height: 560px;
	}
}

@media (max-width: 720px) {
	.row {
		margin-bottom: 5px;
	}

	.giveaway_day, .gaotd_game2{
		height: auto;
		width: auto;
		margin: 10px 10px 0;
		padding: 20px;
		float: none;
		border-width: 1px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}

	.giveaway_day.g1-2 {
		width: auto;
	}

	.giveaway_img {margin-bottom: 40px;}
	
	.giveaway_wrap {padding: 0;}

	.giveaway_buttons {
		text-align: left;
		width: 100%;
		max-width: 270px;
		margin: 0 auto;
	}
	.giveaway_buttons .button {
		padding: 8px 10px;
		width: 100%;
	}
	
	.giveaway_descr {
		height: auto;
		font-size: 20px;
		line-height: 28px;
	}
	.giveaway_counter, .game_giveaway_counter { margin: 10px auto 20px auto; }

	.ads_wrap {
		position: relative;
		left: 0;
		right: 0;
		margin: 0 10px;
		width: auto;
		border-width: 1px;
		overflow: hidden;
		/*min-height: 90px;*/
		height: auto;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	/*.ads_inner {min-height: 90px;}*/
	.ads_inner {height: auto;}
	.adslot {width: auto; height: auto;}

	.vote {
		position: static;
		width: auto;
		height: auto;
		float: none;
		margin: 0 10px;
		border-width: 1px;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	.vote .over {
		width:100%;	
	}
	

	.vote .title {
		font-size: 22px;
		line-height: 30px;
		padding-bottom: 9px;
		margin-bottom: 19px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.vote > * {
		margin-left: auto;
		margin-right: auto;
	}
	

	.vote_img {
		width: 60px;
		margin-right: 14px;
		margin-left:0;
	}

	.vote_img img {
		width: 100%;
	}

	.vote_descr {
		font-size: 14px;
	}
	
	.vote_list span.over {
		max-width: none;
		width:auto;
	}

	.vote_list .or {
		margin: 11px auto;
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 40px;
	}

	.row720 .col1 {
		width: 310px;
		margin: 0 auto;
		float: none;
	}

	.soft {
		border-width: 1px;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}

	.soft .left_col, .soft .right_col {
		float: none;
		width: 100%;
		overflow: hidden;
		padding: 0 20px;
	}

	.short_dscr {max-height: none;}

	.wrapper_lists {
		margin: 0 10px 10px 10px;
		width: auto;
		overflow: hidden;
		float: none;
	}

	.right_clmn {
		padding: 0 20px 20px;
		width: 100%;
	}
	.right_clmn .wrapper_offers a {white-space: normal;}
	.right_clmn .wrapper_offers div div:last-child {margin-left: 98px;}

	.wrapper_calendar h2 {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.wrapper_calendar {
		padding: 20px 20px 10px;
		margin: 0 10px;
		width: auto;
		float: none;
	}
	.wrapper_calendar .wrap_link {
		overflow: hidden;
		margin-bottom: 10px;
	}
	.wrapper_calendar .wrap_link a {
		position: static;
		display: inline-block;
	}
	.wrapper_calendar .wrap_link a.prev {float: left;}
	.wrapper_calendar .wrap_link a.next {float: right;}

	.wrap_chip {
		float: none;
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}

	.wrapper_promo {
		margin: 10px;
		width: auto;
	}
	.wrap_success .green {
		font-size: 30px;
		line-height: 44px;
	}
	.wrap_success {
		font-size: 24px;
		line-height: 32px;
	}

	.lengthy_giveaway {
		width: auto;
		float: none;
		margin: 0 10px;
		height: auto;
		border-left-width: 1px;
	}
	.wrapper_game {
		height: auto;
		margin: 0 10px;
		padding-top: 100px;
		padding-right: 30px;
		padding-left: 22px;
		border: 1px solid #f0f6f8;
		border-left-width: 0;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), 0 0 0;
	}
	.wrapper_game .wrap_game {margin: 0;}
	.wrapper_game h2 {padding-left: 22px;}
	.wrapper_game .icon120 {
		width: 90px;
		height: 90px;
	}
	.wrapper_game .wrap_game > a {
		font-size: 25px;
		line-height: 31px;
	}
	.wrapper_game .wrap_game > div {
		height: auto;
		margin-left: 112px;
		display: block;
		margin: 20px auto 0 !important;
		float: none;
		clear: both;
	}
	.wrap_counter {
		position: static;
		margin: 10px auto 20px !important;
	}
	.wrap_subscrb {
		margin: 10px;
		width: auto;
		height: auto;
	}

	.download_win {
		margin: 0 10px;
		width: auto;
		float: none;
		height: auto;
	}


}

@media (min-width: 1037px) and (max-width: 1436px), screen and (max-width: 720px) {
	.gaotd_game {
		height: 300px;
		width: 100%;
		float: none;
		clear: both;
		margin-bottom: 10px;
		padding: 0;
		position: relative;
		border-width: 1px;
		-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}
	.gaotd_game h2 {margin-top: 20px;}
	.gaotd_game .wrap_game {
		padding-left: 40px;
		padding-right: 450px;
	}
	.wrap_game a {
		font-size: 28px;
		line-height: 36px;
	}
	.wrap_game > div {
		font-size: 20px;
		line-height: normal;
		overflow: hidden;
		height: 24px;
	}
	/*.game_giveaway_counter {*/
		/*float: left;*/
		/*text-align: left;*/
		/*width: 230px;*/
		/*margin-left: 32px;*/
	/*}*/
	.gaotd_game .giveaway_buttons {
		float: right;
		margin-right: 450px;
		margin-top: 13px;
	}
	.wrap_screen {
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 414px;
		height: auto;
	}
}

@media screen and (max-width: 720px) {
	.gaotd_game {
		width: auto;
		height: auto;
		margin: 0 10px;
		overflow: hidden;
		-moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		-webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
		box-shadow: 0 0 0 rgba(255, 255, 255, 0), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255, 255, 255, 0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	}

	.gaotd_game2 .game2_descr {
		width:auto;
		float:none;
	}

	.wrap_screen {width: 48%;}
	.gaotd_game h2 {
		width: auto;
		display: inline-block;
	}
	.gaotd_game .wrap_game {
		padding-left: 25px;
		padding-right: 50%;
	}
	.wrap_game a {
		font-size: 22px;
		line-height: 28px;
	}
	.wrap_game > div {
		height: auto;
		clear: none;
		font-size: 18px;
		margin-left: 70px;
	}
	.gaotd_game .giveaway_buttons {
		margin: 20px 0 20px 20px;
		float: none;
	}
	.gaotd_game .giveaway_buttons {width: 240px;}
}

@media (max-width: 650px) {
	
	/*.giveaway_day > * {width: 280px;}*/
	
	
	.vote_list span.over {
		max-width: 260px;
	}
	/******************************************/
	
	.wrap_subscrb {
		padding: 10px;
	}
	.wrap_subscrb label {
		font-size: 20px;
		margin-bottom: 8px;
	}
	.wrap_subscrb input[type=text] {
		width: 78%;
		height: 40px;
		margin-right: 1%;
		display: block;
		float: left;
	}
	.wrap_subscrb input[type=submit] {
		width: 21%;
		display: block;
		font-size: 18px;
	}
}

@media screen and (max-width: 560px) {
	.wrap_screen {display: none;}
	.wrap_game {padding-right: 20px;}
	.game_giveaway_counter, .gaotd_game .giveaway_buttons {margin: 20px auto;}
    /*.game_giveaway_counter {padding-left: 14px;}*/
	.promo_errors {    
		font-size: 16px;
    	line-height: 30px;
    	text-align: center;
    	color: #d91746;
    	padding: 0 20px;
    	font-family: roboto;
	}
}

@media (max-width: 500px) {
	.giveaway_img {
		width: 80px;
		margin-right: 20px;
	}
	.giveaway_img img {width: 100%;}
	.giveaway_label {
		width: 62px;
		height: 65px;
		background-position: -130px -80px;
		right: -10px;
		bottom: -14px;
		padding-top: 11px;
	}
	.giveaway_label .old_price {
		font-size: 11px;
		line-height: 15px;
	}
	.giveaway_label .free {
		width: 35px;
		padding-top: 4px;
		border-width: 1px;
		font-size: 9px;
		line-height: 1;
	}
	
	.giveaway_label .free .big {font-size: 12px;}
	.giveaway_title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 6px;
	}
	.giveaway_date {
		margin-bottom: 5px;
		font-size: 14px;
	}
	.giveaway_descr {
		font-size: 15px;
		line-height: 20px;
	}
	
	.vote_title {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 7px;
	}

	
	.vote_list span.over {
		max-width: 200px;
	}

	.wrap_subscrb input[type=text] {
		width: 100%;
		float: none;
	}

	.wrap_subscrb input[type=submit] {
		width: 100%;
		margin: 10px 0;
		float: none;
	}
}

@media (max-width: 440px) {
	.vote_list span.over {max-width: 110px;}
	.vote_descr {font-size: 13px;}

	.wrapper_promo {padding: 20px 20px 30px;}
	.wrapper_promo .note {
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 30px;
	}
	.wrapper_promo .note br {display: none;}
	.wrap_success .green {	font-size: 23px;}
	.wrap_success {
		font-size: 20px;
		line-height: 28px;
	}

	.wrapper_game {padding-right: 14px;}
	.wrapper_game h2 {
		font-size: 19px;
		left: 0;
		right: 0;
	}
	.wrapper_game .wrap_game > a {
		font-size: 22px;
		line-height: 28px;
	}
	.wrapper_game .wrap_game > div {margin: 0;}
}
@media (max-width: 420px) {
	.right_clmn .wrapper_offers div div:last-child {margin-left: 0;}
	.download {padding: 30px 18px 40px;}
}


@media (max-width: 1436px) {

	.l-v_block {
		height: auto;
	}

	.l-v_block .lengthy_giveaway {
		margin-top: 0px;
		width:40%;
		/*height: 360px;*/
		height: 405px;
	}

	.l-v_block .license {
		/*position: relative;*/
		text-align: center;
		background-color: #d7f6ff;
		color: #314046;
		font-size: 24px;
		line-height: 30px;
		padding: 14px 5px;
		margin-top: 15px;
		height: auto;
		/*bottom:0;*/
	}

	.l-v_block .lengthy_giveaway .giveaway_buttons {
		position: static;
		left:auto;
		right:auto;
	}

	.l-v_block .competition-complete {
		line-height: normal;
		float: none;
	}

	.l-v_block .giveaway_buttons .button {
		float:none;
	}

	.l-v_block .license .price {
		top: -21px;
		left: 50%;
		margin-left: -41px;
	}

	.l-v_block .license .price + div {
		line-height: normal;
	}

	.l-v_block .vote {
		width:60%;
		margin-top:0;
		/*height: 360px;*/
		height: 405px;
	}

	.l-v_block .vote_list {
		height: 272px;
	}

	.l-v_block span.like {
		bottom: 0;
	}

	.l-v_block .vote_list span.over {
		width: 200px;
		max-width: 200px;
	}

	.l-v_block .vote_list li:first-child {
		padding-left:50px;
	}

	.l-v_block .vote_list li:last-child {
		padding-right:50px;
	}

	.l-v_block .vote_list span.cf {
		text-align: center;
	}

	.l-v_block .vote_img {
		float:none;
		margin:0;
	}

	.l-v_block .vote_list span span {
		display: inline-block;
	}

	.l-v_block .vote_list .or {
		top:50%;
		margin-top:-25px;
	}

	.l-v_block .vote_list .or:before {
		height: 86px;
		top: -93px;
	}

	.l-v_block .vote_list .or:after {
		height: 104px;
		top: 57px;
	}
}

@media (max-width: 950px) {


	.l-v_block .lengthy_giveaway {
		/*height: 510px;*/

	}

	.l-v_block .vote {
		/*height: 510px;*/
	}

	.l-v_block .vote .title {
		background:none;
		position: static;
		padding: 0 39px 11px;
		border-bottom: 1px solid #fff;
		margin:25px;
		font-size: 20px;
		line-height: 25px;
	}

	.l-v_block .vote_list {
		margin-top: 0;
		margin: 0 25px;
		overflow: hidden;
		height: auto;
	}

	.l-v_block .vote_list li {
		float:none;
		padding:0;
		width:auto;
		height: auto;
	}

	.l-v_block .vote_list li:first-child, .l-v_block .vote_list li:last-child {
		padding:0;
	}

	.l-v_block .vote_list .or {
		margin: 30px auto 10px;
		position: relative;
		float:none;
		left:auto;
		top:auto;
	}

	.l-v_block .vote_list .or:before {
		width: 300px;
		height: 1px;
		background: #fff;
		right: 58px;
		top: 50%;
	}

	.l-v_block .vote_list .or:after {
		width: 300px;
		height: 1px;
		background: #fff;
		left: 58px;
		top: 50%;
	}

	.l-v_block span.like {
		float: right;
		position: static;
	}
	.l-v_block .wrapper_info {padding-left: 20px;}
    .l-v_block .wrapper_info p {
	    max-height: 110px;
	    display: -webkit-box;
	    -webkit-line-clamp: 5;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
    }
}

@media (max-width: 720px) {
	.l-v_block .wrapper_info {min-height: 130px;}
	.wrapper_info p {margin-bottom: 40px;}
	.l-v_block {
		border: none;
		float:none;
	}
	.l-v_block .wrapper_info p {
		display: block;
		max-height: none;
	}

	.l-v_block .lengthy_giveaway {
		float: none;
		width: auto;
		height: auto;
		margin: 10px 10px;
		border: 1px solid #f0f6f8;
	}

	.l-v_block .giveaway_buttons .button {
		padding: 8px 10px;
		width: 100%;
		line-height: 28px;
		min-height: 44px;
		font-size: 20px;
	}

	.l-v_block .vote {
		width:auto;
		height: auto;
		margin: 0 10px;
		padding-bottom: 25px;
	}

	.l-v_block .license {
		position: relative;
	}

	.l-v_block .vote_list .or {padding-top: 5px;}
}

@media (max-width: 440px) {
	.l-v_block .vote .title {
		padding: 10px 0;
		margin: 0 10px 25px;
		width: auto;
	}

	.l-v_block .vote_list {margin: 0 10px;}

	.l-v_block .vote_list span.over {max-width: 140px;}

	.vote_img {width: 50px;}

	.vote_title {
		font-size: 15px;
		line-height: 20px;
	}
}



/*competition_horizontal: start*/
.competition_horizontal {
	width: 100%;
	padding: 48px 50px 48px 25px;
	height: auto;
}

.competition_horizontal .prog_box {
	width: 100%;
	float: none;
	margin-right: 0;
	max-width: none;
}

.competition_horizontal .wrapper_info h3 {
	margin-top: 26px;
	margin-bottom: 20px;
	line-height: normal;
}

.competition_horizontal .wrapper_info {
	padding-right: 48px;
	max-width: 595px;
}

.competition_horizontal .wrapper_info, .competition_horizontal .license {float: left;}

.competition_horizontal.lengthy_giveaway.col2-2 .wrapper_info p {
	font-size: 22px;
	line-height: 35px;
	margin-bottom: 0;
}

.competition_horizontal .wrapper_license {
	position: relative;
	max-width: 145px;
	min-height: 115px;
	margin-right: 68px;
	float: left;
}

.competition_horizontal .price_label {
	/*width: 98px;
	height: 98px;*/
	position: absolute;
	right: -45px;
	bottom: 0;
	padding: 14px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	/*background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20503%20503%22%3E%3Ctitle%3EVector%20Smart%20Object21%3C%2Ftitle%3E%3Cpath%20d%3D%22M1089.88%2C299.93c0%2C11.61-22.14%2C18.63-23.67%2C29.82-1.41%2C10.33%2C17.92%2C24.86%2C15.3%2C34.76-3.1%2C11.7-28.29%2C13-33%2C23.92-4.18%2C9.8%2C12.3%2C29.39%2C7%2C38.5-5.73%2C9.78-28.33%2C7-35.29%2C15.83-6.43%2C8.2%2C2.88%2C28.17-4.5%2C35.5-7.66%2C7.61-30.77-.42-39.35%2C6.16-8.77%2C6.73-3%2C28.06-12.66%2C33.6-9%2C5.2-29.81-6.33-39.49-2.27-10.76%2C4.52-10.5%2C24.48-22%2C27.48-10.09%2C2.64-26.83-15.86-37.37-14.48-10.77%2C1.41-15.35%2C22.67-26.5%2C22.67-10.68%2C0-19.83-22-30.17-23.33-11.15-1.4-23.46%2C17.85-34.11%2C15s-16.46-25.62-26.46-29.71c-10.61-4.34-25.3%2C10-35.13%2C4.29-9.51-5.51-5.3-29-14-35.62s-30%2C3.62-37.67-4%2C2.21-29.59-4.33-38c-6.77-8.7-29.78-3.75-35.37-13.3s11-27.75%2C6.71-38-29.6-12.88-32.55-23.95c-2.55-9.57%2C17-25.08%2C15.55-35.07-1.64-11.61-24-17.76-24-29.82%2C0-11.36%2C21.21-21.2%2C22.67-32.17%2C1.34-10.09-17.17-21.33-14.67-31%2C3.13-12.11%2C23.85-12.66%2C28.67-24%2C4.1-9.64-7.91-30.17-2.69-39.15%2C5.76-9.89%2C28-9.08%2C35-18.05%2C6.46-8.27-2.43-26.4%2C5-33.8%2C7.72-7.69%2C26.63%2C2.64%2C35.29-4S703%2C87.64%2C712.42%2C82.2c10.07-5.84%2C27.57%2C4%2C38.47-.44%2C9.78-4%2C12.88-22.32%2C23.23-25%2C10.67-2.81%2C23.26%2C9.44%2C34.43%2C8%2C10.31-1.29%2C19.18-16.33%2C29.83-16.33%2C11.22%2C0%2C19.67%2C11.58%2C30.5%2C13%2C10.56%2C1.39%2C23.53-7.41%2C33.63-4.75%2C11.07%2C2.91%2C14.94%2C17.92%2C25.37%2C22.25%2C10%2C4.16%2C26.61-2.41%2C35.92%2C3%2C9.94%2C5.73%2C9.21%2C23.55%2C18.23%2C30.54%2C8.19%2C6.34%2C26.22%2C1.75%2C33.56%2C9%2C8.16%2C8.11.8%2C24.93%2C7.79%2C34.09%2C6.27%2C8.21%2C27%2C8.65%2C32.27%2C17.61%2C6%2C10.23-6.78%2C25.68-2.27%2C36.76%2C4%2C9.9%2C25.48%2C15.34%2C28.24%2C25.82%2C2.7%2C10.24-14.13%2C21.47-12.74%2C32.18S1089.88%2C288.84%2C1089.88%2C299.93Z%22%20transform%3D%22translate(-586.88%20-48.43)%22%20style%3D%22fill%3A%23d7f6ff%22%2F%3E%3C%2Fsvg%3E') no-repeat;*/
	width: 106px;
	height: 106px;
	background: url(../images/svg/sprite.svg) -205px 0px no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#fff;
}

.competition_horizontal .price_label .price {
	/*color: #314046;*/
	color:#fff;
	font-size: 22px;
	text-decoration: line-through;
	/*border-bottom: 2px solid #314046;*/
	border-bottom: 2px solid #fff;
	padding: 10px 0 2px;
	margin-bottom: 2px;
}

.competition_horizontal .wrapper_counter {
	float: left;
	/*padding-top: 12px;*/
}

.competition_horizontal > div {margin-bottom: 7px;}

.competition_horizontal .giveaway_buttons a {display: block;}

.competition_horizontal .license {
	float: right;
	padding: 24px 20px 26px;
	text-align: center;
	position: relative;
	font: 33px/50px "Roboto Slab", "Roboto", "Arial", sans-serif;
	max-width: 340px;
	margin-top: 24px;
	margin-bottom:1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.competition_horizontal .giveaway_counter {
	margin-top:15px;
	height: 69px;
}

.competition_horizontal .license:before {
	content: '';
	display: block;
	width: 37px;
	height: 39px;
	position: absolute;
	left: -35px;
	bottom: 30px;
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20136%20149%22%3E%3Ctitle%3EVector%20Smart%20Object41%3C%2Ftitle%3E%3Cpolygon%20points%3D%22136%200%200%20149%20136%20133.97%20136%200%22%20style%3D%22fill%3A%23d7f6ff%22%2F%3E%3C%2Fsvg%3E') no-repeat;
}

.game_giveaway_counter.stop {opacity: .5;}

.price_label.expired {
	font-size: 16px;
}

.expired .price {
	font-size: 20px;
}

@media (max-width: 1436px) and (min-width: 1037px) {
	.competition_horizontal {
		margin-top: 0;
		width: 100%;
	}
	.competition_horizontal .wrapper_info {
		float: none;
		padding-right: 0;
	}
	.competition_horizontal .wrapper_counter {
		margin-left: 229px;
		padding-top: 0;
	}
	.competition_horizontal .license {
		padding: 20px;
		font-size: 26px;
		line-height: 38px;
		margin-right: 75px;
		margin-top: 0;
	}
	.competition_horizontal .giveaway_counter {
		float: none;
		margin: 0;
	}
	.competition_horizontal .giveaway_counter {
		margin-bottom: 0;
		margin-top: 0;
	}
}

@media (max-width: 1036px) {
	.competition_horizontal {
		position: relative;
		padding: 88px 30px 28px;
		float: none;
		overflow: hidden;
		margin-top: 0;
		width: 100%;
	}
	.competition_horizontal .license {
		position: absolute;
		top: -24px;
		left: 0;
		right: 0;
		width: auto;
		max-width: none;
		font-size: 18px;
		padding: 0 20px;
		margin-bottom: 0;
	}
	.competition_horizontal .license br, .competition_horizontal .license:before {display: none;}
	.competition_horizontal .wrapper_info {
		padding-left: 0;
		max-width: 100%;
		padding-right: 220px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.competition_horizontal .wrapper_license {
		max-width: 80px;
		margin-right: 50px;
	}
	.competition_horizontal .price_label {
		width: 64px;
		height: 64px;
		right: -28px;
		font-size: 14px;
		padding: 4px;
		background: url(../images/svg/sprite.svg) -128px -80px no-repeat;
	}
	.competition_horizontal .price_label .price {
		font-size: 16px;
		max-width: 46px;
		margin: 0 auto 3px;
		padding-bottom: 1px;
	}
	.competition_horizontal .wrapper_info h3 {
		font-size: 22px;
		line-height: 32px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.competition_horizontal.lengthy_giveaway.col2-2 .wrapper_info p {
		font-size: 16px;
		line-height: 23px;
	}
	.competition_horizontal .wrapper_counter {
		margin-left: 0;
		position: absolute;
		right: 20px;
		padding-top: 0;
	}
	.competition_horizontal .license {margin-right: 0;}
	.competition_horizontal .giveaway_counter {
		margin-bottom: 0;
		margin-top: 0;
	}
	.competition_horizontal .giveaway_buttons a {
		font-size: 16px;
		line-height: 27px;
	}
	.competition_horizontal .giveaway_counter {
		margin-top: 15px;
		margin-bottom: 0;
		font-size: 30px;
		height: 58px;
		width: 216px;
	}
	.competition_horizontal .giveaway_counter .countdown-amount .diggit {
		background-position: -192px 0;
		width: 28px;
		height: 40px;
		line-height: 40px;
	}
	.competition_horizontal .giveaway_counter .countdown-period {font-size: 11px;}
	.competition_horizontal .giveaway_counter .countdown-section {margin: 0 6px;}
	.competition_horizontal .giveaway_counter .countdown-section + .countdown-section:before {
		width: 5px;
		height: 16px;
		background: url(/images/sprite.png) -233px 0 no-repeat;
		left: -9px;
		top: 12px;
	}
}

@media (max-width: 950px) {
	.competition_horizontal .giveaway_counter {
		width: 216px;
		margin: 0;
	}
}

@media (max-width: 720px) {
	.competition_horizontal {width: auto;}
}

@media (max-width: 600px) {
	.competition_horizontal {padding: 20px;}
	.competition_horizontal .license {
		top: auto;
		bottom: 167px;
		padding: 10px 0;
		font-size: 24px;
		line-height: 32px;
		left: 20px;
		right: 20px;
	}
	.competition_horizontal .license br {display: block;}
	.competition_horizontal .wrapper_info {
		padding-right: 0;
		float: none;
	}
	.competition_horizontal .wrapper_counter {
		position: static;
		float: none;
		clear: both;
		margin: 130px auto 0;
	}
	.competition_horizontal .giveaway_counter {margin: 0 auto;}
	.competition_horizontal.lengthy_giveaway.col2-2 .wrapper_info p {
		font-size: 18px;
		line-height: 26px;
	}
}
/*competition_horizontal: end*/


/* Translation
-----------------------------------------------------------------------------*/

/* es translation */

.es .giveaway_label .free {width: 82px;}
.es .license {
	margin-top: 0;
	padding: 28px 24px;
}
.es .l-v_block .license {padding: 0 24px;}
.es .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.es .g1-2 .giveaway_label .free {width: 60px;}
@media (max-width: 1436px) {
	.es .license {padding: 14px 5px;}
}
@media (max-width: 950px) {
.es .giveaway_label .free {width: 54px;}
}
@media (max-width: 720px) {
.es .giveaway_label .free {width: 54px;}
}
/* end es translation */

/* el translation */
.el .giveaway_label .free .big {font-size: 18px;}

.el .wrap_subscrb input[type=submit] {width: 240px;}
.el .license {
	margin-top: 0;
	padding: 28px 24px;
}
.el .l-v_block .license {padding: 0 24px;}
.el .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.el .l-v_block .license .price + div {font-size: 16px;}

@media (max-width: 1436px) {
	.el .license {padding: 14px 5px;}
}

@media (min-width: 1436px) {
	.el .wrap_subscrb label {font-size: 26px;}
}

@media (max-width: 1436px) {
	.el .wrap_subscrb input[type=text] {width: 300px;}
}

@media (max-width: 950px) {
	.el .giveaway_label .free .big {font-size: 11px;}
}

@media (max-width: 650px) {
	.el .wrap_subscrb input[type=text] {width: 59%;}
	.el .wrap_subscrb input[type=submit] {width: 40%;}
}

@media (max-width: 500px) {
	.el .wrap_subscrb input[type=submit] {width: 260px;}
	.el .wrap_subscrb input[type=text] {width: 100%;}
}
/* end el translation */

/* fr translation */
.fr .giveaway_label .free {font-size: 11px;}
.fr .giveaway_label .free .big {font-size: 17px;}
.fr .giveaway_day.g1-2 .giveaway_label .free {font-size: 10px;}
.fr .wrap_counter a.button {
	font-size: 16px;
	padding: 8px;
}

.fr .license {
	margin-top: 0;
	padding: 28px 24px;
}
.fr .l-v_block .license {padding: 0 24px;}
.fr .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.fr .l-v_block .license .price + div {font-size: 18px;}
@media (max-width: 1436px) {
	.fr .license {padding: 14px 5px;}
}

@media (max-width: 1036px) {
	.fr .wrap_counter a.button {
		width: 250px;
		line-height: 20px;
		margin: 0 auto;
	}
}

@media (max-width: 950px) {
	.fr .giveaway_label .free {font-size: 11px;}
	.fr .giveaway_label .free .big {font-size: 15px;}
}

@media (max-width: 500px) {
	.fr .giveaway_label .free {font-size: 9px;}
}
/* end fr translation */

/* it translation */
.it .wrap_counter a.button {
	font-size: 17px;
	padding: 8px 10px;
}

@media (max-width: 400px) {
	.it .wrap_counter a.button {padding: 8px;}
}
/* end it translation */

/* ru translation */
.ru .vote_list .or {font-size: 18px;}

.ru .wrap_subscrb input[type=submit] {width: 170px;}

.ru .wrap_counter a.button {
	padding: 8px;
	white-space: nowrap;
}
.ru .license {
	margin-top: 0;
	padding: 28px 24px;
}

@media (max-width: 1036px) {
	.ru .competition_horizontal .license {
		margin-top: 24px;
		padding: 0;
	}
}
.ru .l-v_block .license {padding: 0 24px;}
.ru .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.ru .l-v_block .license .price + div {font-size: 16px;}
@media (max-width: 1436px) {
	.ru .license {padding: 14px 5px;}
	.ru .competition_horizontal .license { padding: 28px 24px;}

}
@media (max-width: 720px) {
	.ru .vote_list .or {font-size: 15px;}
}

@media (max-width: 650px) {
	.ru .wrap_subscrb input[type=submit] {width: 28%;}
    .ru .wrap_subscrb input[type=text] {width: 71%;}
}

@media (max-width: 500px) {
	.ru .soft h2, .ru .right_clmn h2 {font-size: 18px;}
	.ru .soft .view_all, .ru .right_clmn .view_all {line-height: 24px;}

	.ru .wrap_subscrb input[type=submit] {width: 260px;}
	.ru .wrap_subscrb input[type=text] {width: 100%;}
}
/* end ru translation */

/* ro translation */
.ro .giveaway_label .free {
    width: 100px;
}

.ro .giveaway_day.g1-2 .giveaway_label .free {width: 60px;}

.ro .wrap_counter a.button {padding: 8px;}
.ro .license {
	margin-top: 0;
	padding: 28px 24px;
}
.ro .l-v_block .license {padding: 0 24px;}
.ro .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.ro .l-v_block .license .price + div {font-size: 18px;}

@media (max-width: 1436px) {
	.ro .license {padding: 14px 5px;}
}

@media (max-width: 950px) {
.ro .giveaway_label .free {width: 60px;}
}

@media (max-width: 650px) {
	.ro .wrap_subscrb input[type=submit] {width: 26%;}
	.ro .wrap_subscrb input[type=text] {width: 73%;}
}

@media (max-width: 500px) {
	.ro .giveaway_label .free {width: 48px;}
	.ro .wrap_subscrb input[type=submit] {width: 150px;}
	.ro .wrap_subscrb input[type=text] {width: 100%;}
}
/* end ro translation */

/* tr translation */
.tr .giveaway_label .free .big {font-size: 18px;}
.tr .giveaway_day.g1-2 .giveaway_label .free .big {font-size: 14px;}

.tr .license {
	margin-top: 0;
	padding: 28px 24px;
}
.tr .l-v_block .license {padding: 0 24px;}
.tr .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.tr .l-v_block .license .price + div {font-size: 18px;}

.tr .l-v_block .vote_list .or {font-size: 17px;}

@media (max-width: 1436px) {
	.tr .license {padding: 14px 5px;}
}

@media (min-width: 1436px) {
	.tr .soft h2, .tr .right_clmn h2 {font-size: 23px;}
	.tr .soft .view_all, .tr .right_clmn .view_all {
		font-size: 36px;
		line-height: 31px;
	}

	.tr .wrap_subscrb label {font-size: 26px;}
}

@media (max-width: 950px) {
	.tr .giveaway_label .free .big {font-size: 12px;}
}

@media (max-width: 500px) {
	.tr .giveaway_label .free .big {font-size: 9px;}
	.tr .soft h2, .tr .right_clmn h2 {font-size: 20px;}
    .tr .soft .view_all, .tr .right_clmn .view_all {line-height: 28px;}
}
/*end tr translation */
 
/* ya translation */
.ja .giveaway_label .free .big {font-size: 25px;}
.ja .soft h2, .ja .right_clmn h2 {font-size: 22px;}

.ja .giveaway_day.g1-2 .giveaway_label .free {width: 54px;}

.ja .vote_list .or {font-size: 17px;}
.ja .vote .title {padding: 0 20px;}

@media (max-width: 950px) {
	.ja .giveaway_label .free .big {font-size: 16px;}
}

@media (max-width: 500px) {
	.ja .giveaway_label .free {font-size: 8px;}
	.ja .giveaway_label .free .big {font-size: 13px;}
}
/* end ya translation */

/* nl translation */
.nl .giveaway_label .free {font-size: 16px;}

.nl .wrap_counter a.button {
	font-size: 16px;
	padding: 8px;
}
.nl .license {
	/*margin-top: 0;
	padding: 0 24px;*/
	padding: 28px 10px;
}
.nl .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.nl .l-v_block .license .price + div {font-size: 18px;}
@media (max-width: 1436px) {
/*	.nl .license {padding: 14px 5px;}*/
}

@media (max-width: 950px) {
	.nl .giveaway_label {padding-top: 15px;}
	.nl .giveaway_label .free {font-size: 10px;}
}

@media (max-width: 500px) {
	.nl .giveaway_label {padding-top: 14px;}
	.nl .giveaway_label .free {font-size: 8px;}
}
/* end nl translation */

/* pt translation */
.pt .giveaway_label .free .big {font-size: 21px;}

.pt .soft h2, .pt .right_clmn h2 {font-size: 24px;}
.pt .soft .view_all, .pt .right_clmn .view_all {
	font-size: 35px;
	line-height: 33px;
}

.pt .license {
	margin-top: 0;
	padding: 28px 24px;
}
.pt .l-v_block .license {padding: 0 24px;}
.pt .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.pt .l-v_block .license .price + div {font-size: 18px;}
.pt .giveaway_day.g1-2 .giveaway_label .free {width: 66px;}
@media (max-width: 1436px) {
	.pt .license {padding: 14px 5px;}
}

@media (max-width: 950px) {
	.pt .giveaway_label {padding-top: 14px;}
	.pt .giveaway_label .free .big {font-size: 13px;}
	.pt .soft h2, .pt .right_clmn h2 {font-size: 20px;}
	.pt .soft .view_all, .pt .right_clmn .view_all {
		font-size: 30px;
		line-height: 26px;
	}
}

@media (max-width: 650px) {
	.pt .wrap_subscrb input[type=submit] {width: 24%;}
	.pt .wrap_subscrb input[type=text] {width: 75%;}
}

@media (max-width: 500px) {
	.pt .giveaway_label {padding-top: 13px;}
	.pt .giveaway_label .free .big {font-size: 10px;}
    .pt .soft h2, .pt .right_clmn h2 {font-size: 19px;}

	.pt .wrap_subscrb input[type=submit] {width: 260px;}
	.pt .wrap_subscrb input[type=text] {width: 100%;}
}
/* end pt translation */

/* de translation */
.de .giveaway_label .free {font-size: 14px;}

.de .license {
	margin-top: 0;
	padding: 28px 24px;
}
.de .l-v_block .license {padding: 0 24px;}
.de .l-v_block .lengthy_giveaway .giveaway_buttons {right: 24px;}
.de .l-v_block .license .price + div {font-size: 18px;}

.de .g1-2 .giveaway_label .free {width: 66px;}
.de .giveaway_day.g1-2 .giveaway_label .free {
	font-size: 10px;
	line-height: 13px;
}

.de .l-v_block .vote_list .or {font-size: 17px;}

@media (max-width: 1436px) {
	.de .license {padding: 14px 5px;}
}

@media (max-width: 950px) {
	.de .giveaway_label .free {font-size: 11px;}
}

@media (max-width: 500px) {
	.de .giveaway_label .free {font-size: 9px;}
}
/* end de translation */