@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,greek,cyrillic,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=latin,greek,cyrillic);

/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {display: block;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after, q:before, q:after {content: none;}

/*ins {*/
    /*background-color: #ff9;*/
    /*color: #000;*/
    /*text-decoration: none;*/
/*}*/

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700;
}

del {text-decoration: line-through;}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {vertical-align: middle;}

html {overflow-y: scroll;}

a:hover, a:active {outline: none;}

ul, ol {margin-left: 2em;}

ol {list-style-type: decimal;}

nav ul, nav li {
    list-style: none none;
    margin: 0;
}

small {font-size: 85%;}

strong, th {font-weight: 700;}

td {vertical-align: top;}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {top: -.5em;}

sub {bottom: -.25em;}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px;
}

textarea {overflow: auto;}

.ie6 legend, .ie7 legend {margin-left: -7px;}

input[type=checkbox] {vertical-align: middle;-webkit-appearance:checkbox;}

input[type=button], input[type=submit], input[type=image], button {cursor: pointer;}

button, input, select, textarea {margin: 0;}

input:invalid, textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {background-color: #f0dddd;}

button {
    width: auto;
    overflow: visible;
}

.ie7 img {-ms-interpolation-mode: bicubic;}

input[type=radio], .ie6 input {vertical-align: text-bottom;}

:focus {
    outline: none;
    -moz-outline: 3px solid #fff !important;
}

button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {
    border: none;
}

input[type=radio]:focus {
    -moz-outline-radius: 12px !important;
    -moz-outline-offset: 0 !important;
}

input[type=checkbox]:focus {
    -moz-outline-offset: -1px !important;
    -moz-outline: 1px solid #000 !important;
}

input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input, button {-webkit-appearance: none;}

body {-webkit-text-size-adjust: 100%;}

body {
    font: 14px/1.2 "Roboto", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

select, input, textarea, button {font: 99% "Roboto", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;}

pre, code, kbd, samp {font-family: monospace, sans-serif;}

a {
    text-decoration: underline;
    color: #ffa200;
}

a:hover {text-decoration: none;}

h1, h2, h3, h4, h5, h6, b, strong {font-weight: bold;}

em, i {font-style: italic;}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, address, table {margin-bottom: 1em;}

ul.menu {
    margin: 0;
    list-style: none;
}

h6 {font-size: 100%;}

h5 {font-size: 115%;}

h4 {font-size: 125%;}

h3 {font-size: 150%;}

h2 {font-size: 175%;}

h1 {font-size: 200%;}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {top: -0.5em;}

sub {bottom: -0.25em;}

iframe {border: none;}

.inputbox {
    padding: 4px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 25px;
    line-height: 15px;
    font-size: 14px;
    color: #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.inputbox.placeholder {opacity: 1;}
.inputbox:-moz-placeholder {opacity: 1;}
.inputbox::-moz-placeholder {opacity: 1;}
.inputbox:-ms-input-placeholder {opacity: 1;}
.inputbox::-webkit-input-placeholder {opacity: 1;}

select.inputbox {
    padding: 0 0 0 15px;
    height: 25px;
}

textarea.inputbox {height: auto;}

.selectBox-dropdown {
    position: relative;
    line-height: 0;
    text-decoration: none;
    text-align: left;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
}

.selectBox-dropdown .selectBox-label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 15px;
    height: 15px;
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 23px;
}

.selectBox-dropdown .selectBox-arrow i {
    width: 0;
    height: 0;
    background: none;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -4px;
}

.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    min-height: 1em;
    border: solid 1px #ccc;
    background-color: #fff;
}

.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #ccc;
    background-color: #fff;
    display: inline-block;
    overflow: auto;
}

.selectBox-options, .selectBox-options li, .selectBox-options li a {
    list-style: none;
    display: block;
    cursor: default;
    margin: 0;
    padding: 0;
}

.selectBox-options li a {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 15px;
    text-decoration: none;
    color: #000;
}

.selectBox-options li.selectBox-hover a {
    background-color: #3399ff;
    color: #fff;
}

.selectBox-options li.selectBox-disabled a {
    color: #888;
    background-color: transparent;
}

.selectBox-options li.selectBox-selected a {
    background-color: #3399ff;
    color: #fff;
}

.selectBox-options:hover li.selectBox-selected a {
    background: none;
    color: #000;
}

.selectBox-options:hover li.selectBox-selected.selectBox-hover a {
    background-color: #3399ff;
    color: #fff;
}

.button {
    display: inline-block;
    border: none;
    text-decoration: none;
    text-align: center;
    background-color: #ffa200;
    color: #fff;
    padding: 0 25px;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form_list {
    margin: 0;
    list-style: none;
}

.form_list li {margin-bottom: 10px;}

.form_list label, .form_list .input_wrap {
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
}

html {
    min-width: 320px;
    background-color: #e4eef2;
}

body {
    padding-bottom: 37px;
}

.width {
    width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ieb {position: relative;}

.ieb:before, .ieb:after {
    content: '';
    display: block;
    position: absolute;
    background: url(../images/svg/nav_sprite.svg) no-repeat;
}

.jus {
    margin: 0;
    list-style: none;
    text-align: center;
    zoom: 1;
    font-size: 1px;
    line-height: 0;
}

.jus:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.jus > * {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    font-size: 14px;
	margin: 0 15px;
}

.jus > .empty {
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}



a, input, button, .button {
    -moz-transition: color 0.3s, background-color 0.3s;
    -o-transition: color 0.3s, background-color 0.3s;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
}

img.left {
    float: left;
    margin: 0 10px 10px 0;
}

img.right {
    float: right;
    margin: 0 0 10px 10px;
}

.over { overflow: hidden; }

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after { clear: both; }

.cf { zoom: 1; }

.row:before, .row:after {
    content: " ";
    display: table; }

.row:after { clear: both; }
.row { zoom: 1; }

.col1, .col2, .col2-1, .col2-2 {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0 0 5px rgba(199, 222, 228, 0.8);
    -webkit-box-shadow: 0 0 5px rgba(199, 222, 228, 0.8);
    box-shadow: 0 0 5px rgba(199, 222, 228, 0.8);
}

.col1 { width: 597px; }

.col2 { width: 803px; }

.col2-1 { width: 434px; }

.col2-2 { width: 369px; }

.absolute {position: absolute;}

.overflow {overflow: hidden;}

.line-through {
    text-decoration: line-through;
}

/* Header
-----------------------------------------------------------------------------*/
.top_head {
    background-color: #314046;
    width: 100%;
    height: 50px;
}

.header {
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    height: 75px;
    border: 1px solid #f0f6f8;
    -moz-box-shadow: 0 0 5px rgba(199, 222, 228, 0.8);
    -webkit-box-shadow: 0 0 5px rgba(199, 222, 228, 0.8);
    box-shadow: 0 0 5px rgba(199, 222, 228, 0.8);
}

.header_search {
    float: right;
    padding: 12px 10px 11px 29px;
    border-left: 1px solid transparent;
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 6;
    margin-top: 4px;
    margin-right: 24px;
}

.header_search:after {
    content: '';
    display: block;
    position: absolute;
    margin-top: -23px;
    height: 23px;
    width: 1px;
    background-color: #92a2a8;
    z-index: 5;
    right: -24px;
}

.header_search.active:after {margin-top: -20px;}

.header_search .inputbox {
    height: 36px;
    width: 420px;
    font-size: 18px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 300;
    border: none;
    line-height: 32px;
}

.header_search .inputbox_wrap {
    position: absolute;
    right: 62px;
    top: 50%;
    margin-top: -20px;
    width: 0;
    overflow: hidden;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

.header_search .submit_wrap {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.header_search .button {
    width: 22px;
    height: 22px;
    background: url(../images/svg/nav_sprite.svg) 0 -525px no-repeat;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-indent: -999em;
    padding: 0;
}

.header_search.active { border-color: transparent; }
.header_search.active .inputbox_wrap { width: 420px; }
.header_search.active .button { display: none; }

.header_search.active .submit_wrap {
    width: 19px;
    height: 19px;
    background: url(../images/svg/nav_sprite.svg) -58px -526px no-repeat;
}

.header_side {
    float: right;
    margin-top: 17px;
}

.header_lang {
    float: right;
    position: relative;
    height: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header_lang .languages {
    display: none;
    position: absolute;
    left: -0;
    top: 49px;
    width: 100%;
    background-color: #d7e1e9;
    z-index: 10;
}

.header_lang .languages a {
	display: block;
	padding: 0 33px 0 45px;
	text-decoration: none;
	font-size: 18px;
	color: #314046;
	line-height: 40px;
}

.header_lang .languages a:hover { background-color: #bec9d1; }

.header_lang .languages li { border-top: 1px solid #b6c1c8; }

.header_lang .curr_lang {
	padding: 5px 22px 4px 45px;
	width: 100px;
	height: 40px;
	cursor: pointer;
	display: block;
	line-height: 45px;
	font-size: 18px;
	color: #d7e1e9;
	z-index: 2;
	position: relative;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.header_lang .curr_lang span, .menu.languages li a {position: relative;}

.header_lang .curr_lang span:before, .menu.languages li a:before {
	content: '';
	display: block;
	width: 25px;
	height: 19px;
	background: url(../images/flags.png) no-repeat;
	position: absolute;
	left: -33px;
	top: 0;
}

.menu.languages li a:before {
	left: 12px;
	top: 11px;
}

.header_lang .curr_lang span.en:before, .menu.languages li a.en:before, .htlang.en:before {background-position: 0 0;}
.header_lang .curr_lang span.es:before, .menu.languages li a.es:before, .htlang.es:before {background-position: 0 -19px;}
.header_lang .curr_lang span.it:before, .menu.languages li a.it:before, .htlang.it:before {background-position: 0 -38px;}
.header_lang .curr_lang span.de:before, .menu.languages li a.de:before, .htlang.de:before {background-position: 0 -57px;}
.header_lang .curr_lang span.fr:before, .menu.languages li a.fr:before, .htlang.fr:before {background-position: 0 -76px;}
.header_lang .curr_lang span.pt:before, .menu.languages li a.pt:before, .htlang.pt:before {background-position: 0 -95px;}
.header_lang .curr_lang span.nl:before, .menu.languages li a.nl:before, .htlang.nl:before {background-position: 0 -114px;}
.header_lang .curr_lang span.ru:before, .menu.languages li a.ru:before, .htlang.ru:before {background-position: 0 -133px;}
.header_lang .curr_lang span.ja:before, .menu.languages li a.ja:before, .htlang.ja:before {background-position: 0 -152px;}
.header_lang .curr_lang span.tr:before, .menu.languages li a.tr:before, .htlang.tr:before {background-position: 0 -171px;}
.header_lang .curr_lang span.el:before, .menu.languages li a.el:before, .htlang.el:before {background-position: 0 -190px;}
.header_lang .curr_lang span.ro:before, .menu.languages li a.ro:before, .htlang.ro:before {background-position: 0 -209px;}

.header_lang .curr_lang:before {
    width: 0;
    height: 0;
    background: none;
    border-style: solid;
    border-width: 5px 6px 0 6px;
    border-color: #d7e1e9 transparent transparent transparent;
    right: 12px;
    top: 50%;
    margin-top: -1px;
}

.header_lang .curr_lang.active {
    color: #314046;
    background-color: #d7e1e9;
    -moz-box-shadow: 0 0 1px #fff;
    -webkit-box-shadow: 0 0 1px #fff;
    box-shadow: 0 0 1px #fff;
    z-index: 6;
}

.header_lang .curr_lang.active:before {
    width: 0;
    height: 0;
    background: none;
    border-style: solid;
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent #314046 transparent;
}

.header_lang:before, .header_lang:after {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    height: 22px;
    width: 1px;
    background-color: #92a2a8;
    z-index: 5;
}

.header_lang:before { left: 0; }
.header_lang:after { right: 0; }

.header_side .language {display: none;}

.header_nav {
    float: right;
    line-height: 30px;
    font-size: 22px;
    padding-top: 3px;
}

.header_nav li {
    float: left;
    height: 40px;
    padding-top: 6px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../images/svg/nav_sprite.svg) no-repeat;
}
.header_nav li.active:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 4px;
}
.header_nav li.w.active:before {background-color: #00bcf0;}
.header_nav li.g.active:before {background-color: #ffa200;}
.header_nav li.a.active:before {background-color: #83b944;}
.header_nav li.i.active:before {background-color: #d91746;}
.header_nav a {
    text-decoration: none;
    color: #304046;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header_nav a:hover { color: #d91746; }
.header_nav li.w {background-position: 18px 5px; width: 168px;}
.header_nav li.g {background-position: 27px -60px; width: 155px;}
.header_nav li.a {background-position: 27px -125px; width: 163px;}
.header_nav li.i {background-position: 34px -195px; width: 142px;}

.header_nav li.w a {padding-left: 64px;}
.header_nav li.g a {padding-left: 72px;}
.header_nav li.a a {padding-left: 73px;}
.header_nav li.i a {padding-left: 73px;}

.header_logo {
    float: left;
    width: 350px;
    height: 88px;
    position: absolute;
    top: -13px;
    margin-left: -3px;
    background: url(../images/svg/logo.svg) no-repeat;
}

/* Top slogan
-----------------------------------------------------------------------------*/
.col2.slogan {
    float: left;
    background: #fdf3db;
    text-align: center;
    width: 100%;
    padding: 19px 25px;
    margin-bottom: 10px;
    border: 1px solid #f0f6f8;
    -moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
    -webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
    box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.col2.slogan b {
    font-weight: 400;
    color: #d91746;
}

.col2.slogan p, .col2.slogan h1 {
    margin: 0 10px ;
    font-size: 24px;
    color: #314046;
    font-weight: 300;
    line-height: 40px;
  /*
    text-align: left;
    -ms-text-align-last: left;
    text-align-last: left;
  */	
}

.like_block {
    width: 142px;
    height: 20px;
    margin-top: 10px;
    background: url(../images/sprite.png) no-repeat 0 -278px;
}

.like_block_fb {
	width: 48px;
	height: 20px;
}
.like_block_fb_c {
    /*width: 45px;*/
    height: 20px;
}
.like_block_tw {
	width: 61px;
	height: 20px;
}
.like_block_tw_c {
    /*width: 58px;*/
    height: 20px;
}
.like_block_gp {
    width: 20px;
    height: 20px;
}
.like_block_gp_c {
   /*width: 21px;*/
}

.like_block_fb {background: url(../images/sprite.png) no-repeat 0 -278px;}
.like_block_tw {background: url(../images/sprite.png) no-repeat -50px -278px;}
.like_block_gp_c {background: url(../images/sprite.png) no-repeat -117px -278px;}

.like_block_rendered {
    display: inline-block;
    margin: 10px 10px 0;
    padding: 0;
}
.col2.slogan.jus .like_block_rendered > *  {
	line-height: 0;
}

.like_block_rendered li {
    display: block;
    float: left;
    height: 20px;
    list-style: outside none none;
    margin-right: 10px;
    white-space: nowrap;
}

.like_block_rendered li:last-child {
    margin-right: 0;
    padding-top: 2px;
}

.subscribe.col2.slogan {
    padding: 10px 48px;
    border: 2px solid #D91746;
    position: relative;
}

.subscribe a {
    font-weight: 400;
    color: #d91746;
}

.subscribe .close_btn {
	width: 14px;
	height: 14px;
	background-position: -5px -26px;
    right: 25px;
    top: 50%;
    margin: -7px 0 0 !important;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    padding: 48px 150px 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f0f6f8;
    background-color: #314046;
    position: relative;
    color: #fff;
	font-weight: 300;
    -moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
    -webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
    box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer .row {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 36px;
    font-size: 17px;
    font-weight: 400;
	margin-bottom: 0;
}

.footer .social {
	float: none;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.footer .copyright {
	float: none;
	width: 100%;
	color: #c8ced1;
	font-size: 15px;
	text-align: center;
}

.footer .copyright a {color: #b3e5ff;}

.footer .copyright p { margin: 12px 0 0; }
.footer a {color: #fff; text-decoration: none;}

.footer .col1, .footer .col2 {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.footer_nav {margin-bottom: 40px;}

.footer_nav a {
    font-size: 24px;
	text-decoration: none;
}

.menu_rss, .menu_social {display: inline;}

.menu_rss li, .menu_social li {
	display: inline;
	padding-right: 40px;
}

.menu_social li:last-child {padding-right: 0;}

.menu_rss a, .menu_social a { padding-left: 40px; }

.rss:before {
    width: 26px;
    height: 27px;
    background-position: 0 -571px;
    left: 0;
    top: 50%;
    margin-top: -13px;
}

.fb:before {
    width: 26px;
    height: 27px;
    background-position: -30px -571px;
    left: 0;
    top: 50%;
    margin-top: -13px;
}

.gp:before {
    width: 26px;
    height: 27px;
    background-position: -60px -571px;
    left: 0;
    top: 50%;
    margin-top: -13px;
}

html, body, .st-container, .st-pusher {
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.st-container {
	position: relative;
}

.overflow .st-container { /*height: 0;*/}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open { overflow: hidden; }

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
	z-index: 5;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 320px;
    height: 100%;
    background-color: #e4eef2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: auto;
	border-top: 17px solid #314046;
}

.st-menu .header_nav_trig {
	float: left;
	width: 100%;
	height: 60px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	background-color: #fff;
}

.st-menu .header_nav_trig:before {
	content: '';
	display: block;
	position: absolute;
	width: 23px;
	height: 22px;
	background: url(../images/sprite.png) -85px -193px no-repeat;
	left: 25px;
	top: 50%;
	margin: -11px 0 0 0;
}

.st-menu .header_lang {
    float: none;
    background-color: #314046;
    margin: 0;
}
.st-menu .header_lang:before { display: none; }
.st-menu .header_lang:after { right: 88px; }
.st-menu .header_lang .curr_lang { float: right; }

.st-menu .header_lang .languages {
    left: auto;
    right: 0;
    width: 88px;
}

.st-menu .header_nav {
	float: none;
	padding-top: 60px;
}

.st-menu .header_nav li {
    float: none;
    border-bottom: 1px solid #d2dce0;
    margin: 0;
	height: 60px;
	padding-top: 0;
}

.st-menu .header_nav li:hover {background-color: #d7e1e9;}

.st-menu .header_nav li.w, .st-menu .header_nav li.g, .st-menu .header_nav li.a, .st-menu .header_nav li.i {width: 100%;}

.st-menu .header_nav li.w {background-position: 25px 5px;}
.st-menu .header_nav li.g {background-position: 25px -52px;}
.st-menu .header_nav li.a {background-position: 25px -116px;}
.st-menu .header_nav li.i {background-position: 27px -183px;}

.st-menu .header_nav li.w.active {background-color: #00bbef; background-position: 25px -598px;}
.st-menu .header_nav li.g.active {background-color: #ffa100; background-position: 25px -662px;}
.st-menu .header_nav li.a.active {background-color: #83b844; background-position: 25px -726px;}
.st-menu .header_nav li.i.active {background-color: #d91646; background-position: 27px -794px;}

.st-menu .header_nav li.active a {color: #fff;}
.st-menu .header_nav li.active:before {bottom: 0;}

.st-menu .header_nav li.w a {padding: 0 0 0 75px !important;}
.st-menu .header_nav li.g a {padding: 0 0 0 75px !important;}
.st-menu .header_nav li.a a {padding: 0 0 0 75px !important;}
.st-menu .header_nav li.i a {padding: 0 0 0 75px !important;}

.st-menu .header_nav a {
    font-size: 22px;
    font-weight: 300;
    color: #314046;
    padding: 0 30px;
    line-height: 59px;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after { display: none; }

.header_side.closed {display: none;}
.header_side.opened {display: block;}

.ads_wrap, .top_ab, .center_ab {
    position: relative;
    padding-top: 16px;
}

.ads_wrap:before, .top_ab:before, .center_ab:before {
	content: '';
	display: block;
	width: 88px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -44px;
	z-index: 5;
	background: url(../images/svg/sprite.svg) no-repeat 0 -287px;
}

/* Terms
-----------------------------------------------------------------------------*/
.wrapper_terms {
	 background-color: #fff;
	 width: 100%;
	 overflow: hidden;
	 margin-bottom: 10px;
	 padding: 30px 40px;
	 color: #303d45;
	 font: 18px/25px "Roboto", Arial, sans-serif;
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 border: 1px solid #f0f6f8;
	 -moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	 -webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	 box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
 }

.wrapper_terms h1 {
	font: 300 40px "Roboto Slab", "Roboto", Arial, sans-serif;
	margin-bottom: 20px;
}

.wrapper_terms h2 {font: 400 28px/normal "Roboto Slab", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;}

.wrapper_terms h3 {font: 24px/28px "Roboto Slab", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;}

.wrapper_terms a {
	color: #009ad7;
	text-decoration: none;
}

.wrapper_terms a:hover {
	text-decoration: underline;
	color: #ffa200;
}


/* 404
-----------------------------------------------------------------------------*/
.wrap404 {
	width: 100%;
	height: 550px;
	padding: 30px 30px 25px;
	background-color: #fff;
	color: #303f45;
	border: 1px solid #f2f7f9;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.wrap404 .icon {
	width: 350px;
	height: 240px;
	float: left;
	margin-right: 50px;
	background: url(../images/svg/404_page.svg) no-repeat;
}

.wrap404 .title {
	font-size: 40px;
	margin-bottom: 30px;
}

.wrap404 p {
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
	margin-left: 400px;
}

.wrap404 p:last-child {margin-bottom: 0;}

.wrap404 a {
	text-decoration: none;
	color: #009ad7;
}

.wrap404 a:hover {
	text-decoration: underline;
	color: #ffa200;
}


/* 404
-----------------------------------------------------------------------------*/
.wrap_chip {
	overflow: hidden;
	background-color: #fff;
	margin-top: 10px;
	padding: 20px 50px;
	-moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.wrap_chip > a {
	display: block;
	float: left;
	margin-right: 30px;
}

.chip {
	float: left;
	width: 32%;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 2%;
}

.chip.third {margin-right: 0;}

.wrap_chip .wrapper_links {
	overflow: hidden;
	position: relative;
	top: -3px;
}

.wrap_chip .wrapper_links a {
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
    color: #009ad7;
}

.wrap_chip .wrapper_links span {
	font-size: 22px;
	font-weight: 300;
	color: #009ad7;
}

/* Media
-----------------------------------------------------------------------------*/
@media (max-width: 1436px) {
    .width {width: 994px;}

    .top_head, .header_lang {height: 40px;}
    .header_lang .languages {top: 40px;}
    .header {
        margin-bottom: 10px;
        padding: 0 25px 18px 25px;
	    height: 60px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
    }
	.header_lang .curr_lang {
		height: 36px;
		padding-top: 0;
	}
	.header_lang .curr_lang:before {top: 22px;}
	.header_lang:before, .header_lang:after {top: 10px;}
	.header_search {
		height: 18px;
		padding-top: 6px;
	}
	.header_search:after {display: none;}
	.header_search .inputbox {
		border: 1px solid #eff3f5;
		height: 26px;
		line-height: normal;
		font-size: 15px;
		margin-top: 7px;
		padding: 0 10px;
		width: 100%;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.header_logo {
		width: 270px;
		height: 58px;
		top: -10px;
	}
	.header_nav {
		font-size: 16px;
		line-height: 21px;
        padding-top: 4px;
	}
    .header_side {margin-top: 0;}
    .header_nav li {padding-top: 15px;}
	.header_nav li.w {
		background-position: 16px -265px;
		width: 130px;
	}
	.header_nav li.g {
		background-position: 16px -329px;
		width: 120px;
	}
	.header_nav li.a {
		background-position: 7px -393px;
		width: 116px;
	}
	.header_nav li.i {
		background-position: 18px -462px;
		width: 114px;
	}
	.header_nav li.w a {padding-left: 47px;}
	.header_nav li.g a {padding-left: 48px;}
	.header_nav li.a a {padding-left: 42px;}
	.header_nav li.i a {padding-left: 46px;}

    .col1 {width: 571px;}
    .col2 {width: 429px;}

    .col2.slogan {
	    padding: 12px 8px 18px 10px;
        height: auto;
		margin-right: 0;
    }

    .col2.slogan p, .col2.slogan h1 {
        font-size: 20px;
        line-height: 42px;	
    }

	.subscribe .close_btn {margin: 0;}
	
	.like_block {
		margin-top:10px;	
	}

    .footer {
        padding: 40px;
        margin-top: 10px;
    }
    .footer .footer_nav { margin-bottom: 35px; }
    .jus > * { line-height:40px;}
	.footer .footer_nav a { font-size: 20px; }
    
	.footer .social {
	    margin: 0;
	    text-align: center;
    }
	.menu_rss li, .menu_social li {
		padding-right: 0;
		display: inline-block;
		margin: 0 15px;
	}
	.menu_rss, .menu_social {	}
    .footer .row { margin: 0; font-size: 15px; }

    .wrap404 {margin-bottom: 0;}

	.wrap_chip {padding: 20px 40px;}
	.wrap_chip > a {margin-right: 20px;}
}

@media (max-width: 1036px) {
	.top_head {height: 17px;}
	.header_lang {display: none;}
    .width {width: auto;}
    body {padding: 0;}

    .header {
        margin-bottom: 10px;
        padding: 17px 25px 18px 0;
    }

    .header .header_side {
        float: left;
        position: relative;
    }

    .header .header_nav, .header .header_lang {display: none;}

    .header .header_nav_trig {
	    position: absolute;
	    left: 0;
	    top: -18px;
	    width: 60px;
	    height: 60px;
	    cursor: pointer;
    }

    .header .header_nav_trig:before {
        content: '';
        display: block;
        width: 22px;
        height: 22px;
        background: url(../images/svg/nav_sprite.svg) -110px -527px no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -9px 0 0 -11px;
    }
	.st-menu .language {
	    display: block;
	    margin-top: 30px;
	    padding-left: 25px;
	    font-size: 18px;
	    line-height: 30px;
	    color: #314046;
    }
    .language select {
	    border: 1px solid #A4ADB1;
	    background-color: transparent;
	    height: 30px;
	    width: 137px;
	    margin-left: 10px;
	    font: inherit;
	    color: #314046;
	    -webkit-appearance: none;
        -moz-appearance: none;
	    line-height: normal;
	    position: relative;
	    z-index: 5;
    }

    .language span {
	    position: absolute;
	    right: 31px;
	    font-size: 14px;
	    padding-top: 2px;
    }

    .header_logo {
        display: block;
        float: none;
        overflow: auto;
        white-space: nowrap;
	    margin-left: -135px;
	    left: 50%;
	    top: -26px;
    }

    .header_search {
	    padding: 20px;
	    border-color: transparent;
	    margin-right: 0;
	    margin-top: 17px;
    }
	.header_search .button {background-position: -25px -525px;}
	.header_search.active .submit_wrap {background-position: -85px -526px;}

    .col1, .col2, .col2-1, .col2-2 {
        float: none;
        width: auto;
        position: relative;
    }
    .col2.slogan {
        float: none;
        padding: 9px 60px 15px;
        margin-bottom: 10px;
        height:auto;
        width: 100%;
        border-width: 1px;
        -moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
        -webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
        box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
    }
	


    .like_block {margin-top: 16px;}

    .col2.slogan p, .col2.slogan h1 {
        font-size: 22px;
	    width: auto;
	    text-align: center;
		line-height:32px;
    }

    .footer {
        padding: 30px;
        border-width: 1px 1px 0 1px;
        -moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
        -webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
        box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 0 0 rgba(255,255,255,0), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
    }

    .footer .row { padding: 0 9px; }

    .footer .row .social, .footer .row .copyright {
        float: none;
        width: auto;
        text-align: center;
    }

    .footer .row .social { margin-bottom: 30px; }

    .footer .row .social .menu {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        float: none;
        margin: 0;
    }

    .footer_nav { margin-bottom: 30px; }

    .footer_nav .menu {
        text-align: center;
    }

    .footer_nav .menu li { margin: 0 10px;}
	.jus > * {line-height:35px;}
    .footer_nav .menu a {
        font-size: 18px;
        line-height: 35px;
    }
	.footer .footer_nav {
		margin-bottom:30px;	
	}
	.footer .row .social {
		margin-bottom:10px;
	}
	
	.footer .row .copyright p {
		font-size:13px;	
	}

	.wrap404 .icon {
		width: 35%;
		margin-right: 0;
	}
	.wrap404 .title, .wrap404 p {margin-left: 40%;}

	.wrap_chip {padding: 20px 30px;}
	.wrap_chip > a {margin-right: 20px;}
}

@media (max-width: 860px) {
    .col2.slogan {
        padding:10px 20px;
        height: auto;
        text-align: center;
    }
    .col2.slogan p, .col2.slogan h1 {
        font-size: 18px;
	    line-height: 26px;
        width: auto;
        text-align: center;
		margin:0 5px;
		
    }
    .like_block {
        margin: 10px auto 4px;
        float: none;
        display: block;
    }
    .like_block_rendered {margin: 3px 5px 2px;}

	.wrap404 {
		padding: 20px;
		height: auto;
	}
	.wrap404 .title {
		font-size: 34px;
		margin-bottom: 20px;
	}
	.wrap404 p {
		font-size: 22px;
		line-height: 30px;
	}

	.chip, .chip.third {width: 48%; margin-right: 4%;}
    .chip:nth-child(even) {margin-right: 0 !important;}
}

@media (max-width: 720px) {
    .wrapper { overflow: hidden; }

    .width {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .top_head {height: 11px;}
    .header {
	    padding: 0 15px;
	    margin-bottom: 0;
	    height: 38px;
    }
	.header_logo {
		width: 180px;
		height: 38px;
		top: -6px;
		margin-left: -90px;
	}
	.header_search {margin-top: 11px;}

    .header .header_nav_trig {
	    left: -18px;
	    top: 0;
	    height: 38px;
    }
    .header .header_nav_trig:before {
	    content: '';
	    display: block;
	    width: 18px;
	    height: 16px;
	    background: url(../images/svg/nav_sprite.svg) -140px -531px no-repeat;
	    position: absolute;
	    left: 22px;
	    top: 10px;
	    margin: 0;
    }

	.st-menu .language {
		padding-left: 14px;
		margin-top: 20px;
	}
	.language select {width: 158px;}
	.language span {right: 20px;}

    .header_logo {top: -8px;}

    .like_block_rendered {margin: 0px auto 2px;}

    .header_search {padding: 6px 20px 12px;}

    .header_search .inputbox_wrap { right: 51px; }

    .header_search .submit_wrap {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    .header_search.active .inputbox_wrap { width: 200px; }
	.header_search.active .submit_wrap {margin-top: 3px;}

    .header_lang {
        margin-top: -15px;
        margin-bottom: -15px;
        height: 60px;
    }

    .header_lang .curr_lang {
        line-height: 30px;
        font-size: 15px;
        width: 25px;
        padding: 15px 32px 15px 15px;
    }

    .header_lang .languages a {
        font-size: 15px;
        line-height: 32px;
    }

    .col2.slogan {
        padding: 10px 5px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        height: auto;
        margin-bottom: 0;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
    }
    .col2.slogan p, .col2.slogan h1 {
        text-align: center;
        margin-bottom: 7px;
        float: none;
        width: auto;
	    margin-right: 10px;
        font-size: 14px;
		line-height: 20px;
    }
    .col2.slogan:after {display: none;}

	.subscribe.col2.slogan h1 {
		margin-bottom: 0;
		line-height: normal;
	}

    .footer {
        padding: 25px 0;
        text-align: center;
    }

    .footer .footer_nav { margin-bottom: 20px; }

    .footer .row .social {
        margin-bottom: 23px;
        padding-bottom: 21px;
        border-bottom: 1px solid #68787e;
    }

    .footer .row .social .menu {
        display: block;
        width: 300px;
        margin: 0 auto;
		text-align:center;
    }
	.footer .row .social .menu li {
        display: block;
    }

    .footer .row .social .menu_rss { margin-bottom: 0; }

    .footer .copyright {
        font-size: 13px;
        line-height: 20px;
    }

    .footer .copyright span { display: block; }

    .footer_nav {
        border-bottom: 1px solid #68787e;
        padding-bottom: 19px;
    }

    .footer_nav li { display: block; }

    .footer_nav a {
        font-size: 15px;
        line-height: 40px;
    }

	.st-menu {border-top-width: 11px;}
    .st-menu .header_nav_trig {height: 36px;}
	.st-menu .header_nav_trig:before {
		width: 19px;
		height: 18px;
		left: 16px;
		margin-top: -9px;
		background-position: -82px -236px;
	}
	.st-menu .header_nav {padding-top: 36px;}
	.st-menu .header_nav li.w a {padding: 0 0 0 55px !important;}
	.st-menu .header_nav li.g a {padding: 0 0 0 55px !important;}
	.st-menu .header_nav li.a a {padding: 0 0 0 55px !important;}
	.st-menu .header_nav li.i a {padding: 0 0 0 55px !important;}
	.st-menu .header_nav li.w {background-position: 14px -263px;}
	.st-menu .header_nav li.g {background-position: 14px -325px;}
	.st-menu .header_nav li.a {background-position: 13px -391px;}
	.st-menu .header_nav li.i {background-position: 16px -459px;}
	.st-menu .header_nav li.w.active {background-position: 14px -872px;}
	.st-menu .header_nav li.g.active {background-position: 14px -935px;}
	.st-menu .header_nav li.a.active {background-position: 13px -1000px;}
	.st-menu .header_nav li.i.active {background-position: 16px -1069px;}

    .st-menu .header_lang:after { right: 72px; }
    .st-menu .header_lang .languages { width: 72px; }

    .wrapper_terms {
	    margin: 10px;
	    width: auto;
	    font-size: 16px;
	    line-height: 24px;
    }
	.wrapper_terms h1 {font-size: 24px;}
	.wrapper_terms h2 {
		font-size: 20px;
		line-height: 28px;
	}
	.wrapper_terms h3 {
		font-size: 18px;
		line-height: 26px;
	}

	.wrap404 {
		margin: 10px 10px 0;
		width: auto;
	}
	.wrap404 .icon {
		float: none;
		margin: 0 auto 10px;
		height: 180px;
		width: 260px;
	}
	.wrap404 .title, .wrap404 p {
		margin-left: 0;
		text-align: center;
		font-weight: 400;
	}

	.wrap_chip {
		padding: 20px 10px;
		text-align: center;
	}
	.wrap_chip > a {
		float: none;
		display: inline;
		margin: 0;
	}
	.wrap_chip .wrapper_links {
		margin-top: 10px;
		position: static;
	}
	.wrap_chip .wrapper_links a {font-size: 16px;}
	.wrap_chip .wrapper_links span {font-size: 20px;}
    .chip, .chip.third {
	    width: auto;
	    margin: 0;
	    float: none;
    }
}

@media (max-width: 420px) {
	.wrap404 .title {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.wrap404 p {
		font-size: 16px;
		line-height: 24px;
	}
}

@media print {
    * {
        background-color: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {text-decoration: underline;}

    a[href]:after {content: " (" attr(href) ")";}

    abbr[title]:after {content: " (" attr(title) ")";}

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {display: table-header-group;}

    tr, img {page-break-inside: avoid;}

    img {max-width: 100% !important;}

    @page {margin: .5cm;}

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {page-break-after: avoid;}
}



/* Languages
-----------------------------------------------------------------------------*/
/* ro, tr translation */
@media (max-width: 1036px) {
    .ro .col2.slogan p, .col2.slogan h1,
    .tr .col2.slogan p, .tr .col2.slogan h1 {line-height: normal;}
}
/* end ro translation */

/* el translation */
.el .col2.slogan p, .el .col2.slogan h1 {font-size: 18px;}
@media (max-width: 1436px) {
    .el .col2.slogan p, .el .col2.slogan h1 {line-height: 26px;}
}
/* end el translation */


/**/
@media (max-width: 1436px) {
    .en .footer .footer_nav {
        max-width: 80%;
        margin: 0 auto 35px;
    }
}

@media (max-width: 1036px) {
    .en .footer .footer_nav {
        max-width: 70%;
        margin: 0 auto 30px;
    }
}

@media (max-width: 720px) {
    .en .footer .footer_nav {
        max-width: none;
        margin: 0 auto 20px;
    }
}

/* Subscribe block
-----------------------------------------------------------------------------*/

.subscribe_block {
	height: 107px;
	float: left;
	width: 100%;
	padding: 27px 48px 27px 50px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper .subscribe_block {
	background-color: #f4ffdf;
	border: 1px solid #f0f6f8;
    -moz-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	-webkit-box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
	box-shadow: 0 -4px 3px -3px rgba(199, 222, 228, 0.6), 4px 0 3px -3px rgba(199, 222, 228, 0.6), 0 4px 3px -3px rgba(199, 222, 228, 0.6), -4px 0 3px -3px rgba(199, 222, 228, 0.6);
}

.wrapper .subs-col .subscribe_block {
    height: 510px;
    padding:110px 21px 0;
}

#subscribe_popup_form .subscribe_block {
    height: auto;
    padding: 0;
}

.subscribe_block label {
	font: 300 29px "Roboto Slab", "Roboto", Arial, sans-serif;
	position: relative;
	top: 5px;
	margin-right: 38px;
}

.subs-col .subscribe_block label{
    top:0;
    margin:0;
}

.subscribe_block label.thnks {
	text-align: center;
	display: block;
	margin-bottom: 0;
}

.subscribe_block input[type=text] {
	background-color: #fff;
	border: 1px solid #abb598;
	width: 382px;
	height: 42px;
	padding: 0 15px;
	margin-right: 10px;
	font: 300 24px "Roboto Slab", "Roboto", Arial, sans-serif;
	color: #5b787e;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.subs-col .subscribe_block input[type=text] {
    font-size:18px;
    width:100%;
    margin:46px 0 26px;
}


.subscribe_block input[type=text].error {
	border-color: #E45C7D;
}

.subscribe_block input[type=submit] {
	font: 24px "Roboto", Arial, sans-serif;
	color: #fff;
	width: 153px;
	height: 40px;
	display: inline-block;
	background-color: #ffa200;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.subs-col .subscribe_block input[type=submit] {
    height: 46px;
}
/*notification: start*/
.notifications_how {
    margin: 10px 20px;
    padding: 0;
}

.notifications_how img {
    max-width: 100%;
    margin: 10px 0 20px;
}

.modal_notification a.close_btn {
	width: 24px;
	height: 24px;
	background-position: 0 -21px;
}

.modal_notification .block_push {max-width: 740px;}

.modal .modal_notification p {
	font-size: 34px;
	line-height: 48px;
	margin-bottom: 50px;
}

.modal .block > div.button_wrapper {
	text-align: center;
	width: auto;
	margin: 0;
}

.button_wrapper .btn {
	display: inline-block;
	font-size: 24px;
	line-height: 48px;
	width: 240px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.button_wrapper .btn.grey {
	color: #6f8086;
	background-color: #f1f6f8;
	margin-right: 30px;
}

.button_wrapper .btn.blue {
	color: #fff;
	background-color: #009ad6;
}
/*notification: end*/

@media (max-width: 1436px) {
    .subscribe_block {
		text-align: center;
		padding: 20px;
		float: none;
		clear: both;
		height: auto;
	}

    .subs-col .subscribe_block {
        text-align:left;
    }

	.subscribe_block label {
		font-size: 22px;
		line-height: 28px;
		position: static;
		margin: 0 0 15px;
		display: block;
	}

    .subs-col .subscribe_block label {
        font-size:30px;
        line-height: 40px;
    }

	.subscribe_block input[type=text] {font-size: 20px;}
	.subscribe_block input[type=submit] {
		width: 130px;
		font-size: 20px;
	}
}

@media (max-width: 720px) {
    .subscribe_block {
		margin: 10px;
		width: auto;
		height: auto;
        padding:10px;
	}
}

@media (max-width: 650px) {
    .subscribe_block {padding: 10px;}
	.subscribe_block label {
		font-size: 20px;
		margin-bottom: 8px;
	}
	.subscribe_block input[type=text] {
		width: 78%;
		height: 40px;
		margin-right: 1%;
		display: block;
		float: left;
	}
	.subscribe_block input[type=submit] {
		width: 21%;
		display: block;
		font-size: 18px;
	}
}

@media (max-width: 500px) {
    .subscribe_block, .wrap_subscrb {text-align: left;}
	.subscribe_block label, .wrap_subscrb label {font-size: 18px;}
	.subscribe_block input[type=text], .wrap_subscrb input[type=text] {
		font-size: 18px;
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.subscribe_block input[type=submit], .wrap_subscrb input[type=submit] {
		float: none;
		margin-top: 10px;
		width: 260px;
	}
}

@media (max-width: 380px) {
	.subscribe_block input[type=submit] {width: 100%;}
}

/* Translation
-----------------------------------------------------------------------------*/

/* el translation */
.el .subscribe_block input[type=submit] {font-size: 15px;}
.el .subscribe_block label {font-size: 22px;}
/* end el translation */

/* fr translation */
.fr .subscribe_block label {font-size: 27px;}
.fr .header_nav li.i {width: 150px;}
/* end fr translation */

/* it translation */
.it .subscribe_block label {font-size: 27px;}
/* end it translation */

/* ru translation */
.ru .subscribe_block input[type=text] {width: 304px;}
.ru .subs-col .subscribe_block input[type=text] {width: 100%;}
.ru .subscribe_block input[type=submit] {width: 160px;}
.ru .giveaway_counter, .ru .game_giveaway_counter {height: 70px;}

.ru .subscribe_block label {font-size: 28px;}

@media (max-width: 1436px) {
	.ru .subscribe_block label {font-size: 20px;}
    .ru .subs-col .subscribe_block label {font-size: 28px;}
}

@media (max-width: 720px) {
    .ru .subs-col .subscribe_block label {font-size: 20px;}
}

@media (max-width: 650px) {
	.ru .subscribe_block input[type=text] {width: 67%;}
	.ru .subscribe_block input[type=submit] {width: 32%;}
}
@media (max-width: 500px) {
	.ru .subscribe_block input[type=text] {width: 100%;}
	.ru .subscribe_block label {font-size: 18px;}
	.ru .subscribe_block input[type=submit] {width: 260px;}
}
/* end ru translation */

/* ro translation */

/* end ro translation */

/* tr translation */
.tr .subscribe_block {height: auto;}
.tr .subscribe_block label {font-size: 25px;}

@media (max-width: 650px) {
	.tr .subscribe_block input[type=text] {width: 67%;}
	.tr .subscribe_block input[type=submit] {width: 32%;}
	.tr .subscribe_block label {font-size: 20px;}
}

@media (max-width: 500px) {
    .tr .subscribe_block label {font-size: 18px;}
	.tr .subscribe_block input[type=text] {width: 100%;}
	.tr .subscribe_block input[type=submit] {width: 260px;}
}
/*end tr translation */

/* pt translation */

/* end pt translation */

/* de translation */
.de .subscribe_block label {
    font-size: 28px;
}
/* end de translation */