.email_steam_keys input[type="text"].input_text {
    float: none;
    margin: 0 auto 5px auto;
    text-align: center;
}

.email_steam_keys .g-recaptcha > div > div {
    margin: 20px auto 20px auto;
}

.email_steam_keys .get_link {
    margin: auto;
    float: none;
    display: inline-block;
}

.email_steam_keys .subs {
    font-size: 15px;
    margin-left: 25px;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}

.modal_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(49,64,70,.7);
}

.wrapper_modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.block, .block_push {
    display: inline-block;
    padding: 56px 85px 54px;
    background-color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1095px;
    max-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.table-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

a.close_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/svg/form_sprite.svg) no-repeat 0 -20px;
}

h2.modal_title {
    font: 300 48px "Roboto Slab", "Roboto", Arial, sans-serif;
    color: #314046;
    margin: 0 0 30px;
}

.modal p {
    color: #314046;
    font: 300 30px/44px "Roboto", Arial, sans-serif;
    margin-bottom: 14px;
}

.modal p span {
    color: #52c81e;
}

.modal .block > span {
    color: #494949;
    font: 300 24px/34px "Roboto", "Arial", sans-serif;
}

.modal .link {
    padding: 16px 0 0;
    color: #fff;
    text-align: left;
    text-decoration: none;
    font: 24px "Roboto", Arial, sans-serif;
    display: block;
    float: left;
    height: 63px;
    width: 286px;
    margin-right: 34px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modal .link:before {
    content: '';
    padding: 17px 32px;
	background: url(../images/svg/sprite.svg) no-repeat;
}

.modal .link.facebook:before {background-position: 0 -316px;}
.modal .link.google:before {background-position: -63px -314px;}
.modal .link.tweeter:before {background-position: -128px -316px;}

.modal .link.facebook {
    background-color: #1D59A2;
}

.wrap_social {text-align: center;}

.wrap_social  .facebook {
	display: inline-block;
	float: none;
	margin-right: 0;
}

.modal .block > div {
    margin: 35px auto 0;
    overflow: hidden;
	width: auto;
	text-align: center;
}
#subscribe_popup_form.modal .block > div {
    width: 100%;
}

#subscribe_popup_form .subscribe_block {float: none;}

#subscribe_popup_form.modal p {font-size: 28px;}

#subscribe_popup_form .note {margin-top: 30px;}

.modal .link.google {
    background-color: #F83129;
}

.modal .link.tweeter {
    background-color: #2CA9E0;
    margin-right: 0;
    width: 285px;
}

.modal .block > div.note {
    color: #314046;
    font: 300 18px "Roboto", Arial, sans-serif;
    margin-top: 45px;
}

.note a {
    text-decoration: none;
}

.note a:hover {
    text-decoration: underline;
}

a.btn_download {
    display: block;
    color: #fff;
    background-color: #00b300;
    text-decoration: none;
    width: 500px;
    height: 62px;
    font: 300 34px/60px "Roboto", Arial, sans-serif;
    margin: 20px auto 0;
}

.block.thnk {
    height: 465px;
    padding-top: 120px;
}

input[type="text"].input_text {
    font: 300 24px "Roboto", Arial, sans-serif;
    border: 1px solid #314046;
    padding: 0 15px;
    width: 370px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	margin-left: 0;
	display: inline-block;
	float: none;
}

a.get_link {
    color: #fff;
    height: 50px;
    vertical-align: middle;
    background-color: #00b300;
    text-decoration: none;
    padding: 11px 25px 10px;
    font: 24px "Roboto", Arial, sans-serif;
    min-width: 170px;
	display: inline-block;
	float: none;
	margin-top: -20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input.custom-checkbox {
    display: none;
}
input.custom-checkbox + label.custom-checkbox:before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 18px;
	background: url(../images/svg/form_sprite.svg) no-repeat 0 -50px;
	position: absolute;
	margin-top: 1px;
	margin-left: -24px;
}
input.custom-checkbox:checked + label.custom-checkbox:before {background-position: -24px -50px;}

label.subs {
    color: #889194;
    font: 300 18px "Roboto", Arial, sans-serif;
}

.block.success {
    height: 465px;
    padding-top: 155px;
}

.overflow {overflow: hidden;}

.return_a {
    font-size: 120%;
    font-weight: bold;
    color: #1389B7;
    text-decoration: none;
}
#via_email > div {
    overflow: hidden;
    width: 100%;
}

@media (max-width: 820px) {
	.block {padding: 40px 30px 40px;}
}

@media screen and (max-height: 800px), screen and (max-width: 720px) {
    .table-cell, .wrapper_modal {display: block;}
    .modal_notification.wrapper_modal {display: table;}
    .modal_notification .table-cell {display: table-cell;}
    .block {
        padding: 20px;
        height: 100%;
        overflow-y: auto;
    }
    .block.success {height: 100%;}
    h2.modal_title {
        margin-top: 30px;
        font-size: 36px;
        line-height: normal;
        margin-bottom: 20px;
    }
    .modal p, .modal .block > span, #subscribe_popup_form.modal p {
        font-size: 24px;
        line-height: 32px;
    }
    .modal .block > div.note {margin-top: 20px;}
	#soc_download_inner:after {
    	content: '';
		margin-bottom: 20px;
    	display: block;
	}
}

@media screen and (max-height: 400px), screen and (max-width: 750px) {
    .modal_notification .table-cell, .modal_notification.wrapper_modal {display: block;}
	.block_push {
		padding: 70px 40px 20px;
		height: 100%;
		overflow-y: auto;
	}
}

@media (max-width: 665px) {
	.modal .block > div {
		width: 100%;
		margin-top: 15px;
	}
	.modal .link, .modal .link.tweeter {
		float: none;
		overflow: hidden;
		margin: 0 auto 20px;
	}
	input[type="text"].input_text, a.get_link {
		float: none;
		width: 100%;
		max-width: 285px;
		margin: 0 auto 20px;
	}
	#soc_download_inner:after {
    	content: '';
		margin-bottom: 20px;
    	display: block;
	}
}

@media (max-width: 600px) {
	.block_push {
		padding-left: 20px;
		padding-right: 20px;
	}
	.modal .modal_notification p {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 40px;
	}
	.button_wrapper .btn {
		width: 200px;
		font-size: 22px;
		line-height: 44px;
	}
}

@media (max-width: 500px) {
	#featured_subscribe {margin: 20px auto 0;}
}

@media (max-width: 480px) {
	.block_push {
		padding-top: 60px;
	}
	.modal .modal_notification p {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	.button_wrapper .btn {
		display: block;
		width: 100%;
		max-width: 250px;
		margin: 0 auto 20px;
	}
	.button_wrapper .btn.grey {margin-right: auto;}
}

@media (max-width: 420px) {
	.header .header_nav_trig {width: 40px;}
	.giveaway_counter {width: auto;}
	.activated .link {
		width: 100%;
		margin-bottom: 10px;
		max-width: none;
		text-align: center;
	}
	.activated .link:before {margin-left: -16px;}

	h2.modal_title {font-size: 22px;}
	.modal p, .modal .block > span {
		font-size: 18px;
		line-height: 26px;
	}
	.modal .link, .modal .link.tweeter {
		font-size: 20px;
		width: 100%;
		padding-top: 20px;
	}
	.modal .link.facebook:before {background-position: 0 -320px;}
	.modal .link.tweeter:before {	background-position: -128px -320px;}
	a.get_link {
		font-size: 20px;
		padding-top: 14px;
	}

    .remodal {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
    #remodal-content {width: 100%;}
    .popup_content {
        overflow-y: auto;
        position: absolute;
        bottom: 0;
        top: 100px;
        left: 0;
        right: 0;
    }
}


/* Translation
-----------------------------------------------------------------------------*/

/* el translation */
.el .wrap_votes span.text {font-size: 16px;}
.el .giveaway_day .wrap_count {margin-left: 20px;}

.el .modal .link, .el .modal .link.tweeter {width: 380px;}

.el .giveaway_label .free .big, .el .wrap_links .download_btn {font-size: 18px;}

.el .download .giveaway_label .free .big {font-size: 13px;}

@media (max-width: 950px) {
	.el .giveaway_label .free .big {font-size: 11px;}
}

@media (max-width: 720px) {
	.el .giveaway_day .wrap_count {margin-left: auto;}
    .el .wrap_links .download_btn {font-size: 16px;}
}

.el.past .timer .download_btn {font-size: 18px;}
.el.past .timer .download_btn span {font-size: 17px;}

@media (max-width: 500px) {
    .el.past .timer .download_btn {font-size: 16px;}
    .el.past .timer .download_btn span {font-size: 15px;}
}

@media (max-width: 1436px) {
	.el .download a.proceed {font-size: 16px;}
}
/* end el translation */

/* es translation */
.es .small_ab {margin-left:28px;}
.es .wrap_count {margin-left:25px;}
.es .giveaway_label .free {width:82px;}
.es .download .giveaway_label .free {width: 52px;}

.es .wrap_votes span.text, .es .wrap_votes span.positive, .es .wrap_votes span.negative, .es .wrap_votes .wrap_count {font-size: 16px;}

.es .modal .link, .es .modal .link.tweeter {width: 323px;}

@media (max-width: 1036px) {
	.es .giveaway_label {padding-top: 14px;}
	.es .giveaway_label .free {width: 52px;}
	.es .download .giveaway_label {padding-top: 10px;}
	.es .download .giveaway_label .free {width: 46px;}
	.es .download .giveaway_label .free .big {font-size: 12px;}
}

@media (max-width: 720px) {
	.es .wrap_votes span.wrap_count {
		width: 190px;
		max-width: none;
	}
}
.es .top_modal div {font-size: 16px;}
/* end es translation */


/* fr translation */
.fr .wrap_votes span.positive, .fr .wrap_votes span.negative, .fr .wrap_votes .wrap_count { font-size: 15px;}
.fr .wrap_votes span.text {font-size: 16px;}

.fr.past .timer .download_btn, .fr .wrap_links .download_btn {font-size: 20px;}
.fr.past .timer .download_btn span {font-size: 18px;}

.fr .giveaway_day .wrap_count {margin-left: 10px;}

.fr .modal .link, .fr .modal .link.tweeter {width: 340px;}

.fr .giveaway_label .free {font-size: 11px;}
.fr .giveaway_label .free .big {font-size: 17px;}

.fr .download .giveaway_label .free .big {font-size: 12px;}
.fr .download .giveaway_label .free {font-size: 8px;}

@media (max-width: 1036px) {
    .fr .wrap_links .download_btn {font-size: 18px;}
}

@media (max-width: 950px) {
	.fr .giveaway_label .free {font-size: 11px;}
	.fr .giveaway_label .free .big {font-size: 15px;}
}

@media (max-width: 720px) {
	.fr .giveaway_day .wrap_count {margin-left: auto;}
}

@media (max-width: 500px) {
	.fr .giveaway_label .free {font-size: 9px;}
}
/* end fr translation */

/* pt translation */
.pt .small_ab {margin-left:48px;}

.pt .giveaway_label .free {width:82px;}
.pt .download .giveaway_label .free {width: 52px;}

.pt .wrap_votes span.positive, .pt .wrap_votes span.negative, .pt .wrap_votes .wrap_count {font-size: 15px;}
.pt .wrap_votes span.text {font-size: 16px;}

.pt.past .timer .download_btn {font-size: 20px;}
.pt.past .timer .download_btn span {font-size: 18px;}

.pt .modal .link, .pt .modal .link.tweeter {width: 330px;}

.pt .wrap_links .download_btn {font-size: 24px;}

@media (max-width: 1036px) {
    .pt .giveaway_label .free {width:52px;}
    .pt .wrap_links .download_btn {font-size: 20px;}
}
@media (max-width: 720px) {
	.pt .wrap_votes span.wrap_count {
		max-width: none;
		width: 190px;
	}
    .pt .wrap_links .download_btn {font-size: 18px;}
}
.pt .top_modal div {font-size: 16px;}
/* end pt translation */

/* ru translation */
.ru .wrap_votes .wrap_count {max-width: 175px;}

.ru.past .timer .download_btn {font-size: 20px;}
.ru.past .timer .download_btn span {font-size: 18px;}

.ru .giveaway_counter {height: 70px;}

.ru .giveaway_day .wrap_count {
	padding-left: 20px;
	margin-left: 15px;
}

@media (max-width: 1436px) {
	.ru .download a.proceed {font-size: 16px;}
}

@media (max-width: 720px) {
	.ru .wrap_votes span.wrap_count {width: 165px;}
	.ru .giveaway_day .wrap_count {
		margin-left: auto;
		padding-left: 10px;
	}
    .ru .wrap_links .download_btn {font-size: 20px;}
}
.ru .top_modal h2 {font-size: 20px;}
.ru .top_modal div {font-size: 16px;}
/* end ru translation */

/* ro translation */
.ro .giveaway_label .free .big {font-size: 17px;}

.ro .wrap_votes span.positive, .ro .wrap_votes span.negative, .ro .wrap_votes .wrap_count {font-size: 15px;}
.ro .wrap_votes span.text {font-size: 16px;}

.ro .download .giveaway_label .free {width: 56px;}
.ro .download .giveaway_label .free .big {font-size: 14px;}

.ro .modal .link, .ro .modal .link.tweeter {width: 320px;}

@media (max-width: 1436px) {
	.ro .giveaway_label .free {width:80px;}
	.ro .giveaway_label .free .big {font-size: 19px;}
	.ro .download .giveaway_label .free .big {font-size: 11px;}
	.ro .download .giveaway_label .free {width: 45px;}
}

@media (max-width: 1036px) {
	.ro .giveaway_label .free {width: 60px;}
	.ro .giveaway_label .free .big {font-size: 14px;}
	.ro.past .download .giveaway_label .old_price {
		font-size: 12px;
		line-height: 1;
	}
    .ro .download .giveaway_label {padding-top: 12px;}
}

.ro .top_modal div {font-size:16px;}
/* end ro translation */

/* tr translation */
.tr .giveaway_label .free .big {font-size: 16px;}

.tr .download .giveaway_label .free {width: 40px;}
.tr .download .giveaway_label .free .big {font-size: 11px;}

@media (max-width: 1436px) {
	.tr .download .giveaway_label .free .big {font-size: 10px;}
}

@media (max-width: 1036px) {
	.tr .giveaway_label .free .big {font-size: 12px;}
}
.tr .top_modal h2 {font-size: 20px;}
.tr .top_modal div {font-size: 16px;}
/* end tr translation */

/* nl translation */
.nl .wrap_votes span.text {font-size: 16px;}
.nl .wrap_votes span.positive, .nl .wrap_votes span.negative, .nl .wrap_votes .wrap_count {font-size: 15px;}
.nl .wrap_votes span.negative:before, .nl .wrap_votes span.positive:before {top: 4px;}

.nl .modal .link, .nl .modal .link.tweeter {width: 325px;}

.nl.past .giveaway_label .free {font-size: 12px;}

@media (max-width: 1036px) {
	.nl.past .giveaway_label .free {font-size: 10px;}
}
@media (max-width: 720px) {
	.nl.wrap_votes span.wrap_count {
		max-width: none;
		width: 190px;
	}
}
.nl .top_modal h2 {font-size: 20px;}
.nl .top_modal div {font-size: 16px;}
/* end nl translation */

/* it translation */
.it .wrap_votes span.positive, .it .wrap_votes span.negative, .it .wrap_votes .wrap_count {font-size: 16px;}

.it .modal .link, .it .modal .link.tweeter {width: 300px;}

@media (max-width: 720px) {
	.it .wrap_votes span.wrap_count {
		max-width: none;
		width: 190px;
	}
}
/* end it translation */

/* ja translation */
.ja .wrap_votes span.positive, .ja .wrap_votes span.negative, .ja .wrap_votes .wrap_count {font-size: 16px;}

.ja .modal .link, .ja .modal .link.tweeter {width: 474px;}
.ja .top_modal h2 {font-size: 18px; padding-right: 5px;}
.ja .top_modal div {font-size: 12px;}
/* end ja translation */

/* de translation */
.de .wrap_votes span.positive, .de .wrap_votes span.negative, .de .wrap_votes .wrap_count {font-size: 15px;}
.de .wrap_votes span.negative:before, .de .wrap_votes span.positive:before {top: 4px;}

.de .modal .link, .de .modal .link.tweeter {width: 330px;}

.de .giveaway_label .free {font-size: 14px;}
.de .download .giveaway_label .free {font-size: 9px;}

@media (max-width: 1036px) {
	.de .giveaway_label .free {font-size: 11px;}
}

@media (max-width: 720px) {
	.de .wrap_votes span.wrap_count {
		max-width: none;
		width: 190px;
	}
}

@media (max-width: 500px) {
	.de .giveaway_label .free {font-size: 9px;}
}
/* end de translation */
