#cxOverlayParent{
  margin-left: 20px;
}
.toggle-panel {
  display: none;
  background:#f0f0f0;
  width: 550px;
  position:fixed; z-index:9999999;
  color:#666666;
  bottom:0;
  -webkit-box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.toggle-header {
  border-bottom: 2px solid #ffffff;
  height: 48px;
  margin-left: 10px;
}
.toggle-header a {
  color:#666666;
  text-decoration: none;
  float: right;
  padding: 11px 50px 9px 0;
  font-size: 15px;
}
.toggle-header a:hover, .toggle-header a:focus, .toggle-header a:active {
  text-decoration: underline;
}
.toggle-header a:visited {
  color: #804099;
}
.toggle-panel-title{
  text-align:center;
  padding: 13px 5px 0px 0px;
  float: left;
  font-size: 16px;
}
.toggle-panel-ad {
  height: 0px;
  float: left;
}
.toggle-close {
  position: absolute;
  top : 17px;
  right: 17px;
  cursor: pointer;
}
.toggle-close img { width: 17px; }