.dropdown, .dropdown ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropdown {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 4px 8px #777;
	background: #096499;
}

.dropdown-v2 {
	background: #0092ab;
}
.dropdown-vc {
	background: #5a2b77;
}
.dropdown-ob {
	background: #be7009;
}

.dropdown:before,
.dropdown:after{
	content: "";
	display: table;
}

.dropdown:after{ clear:both; }

.dropdown{ zoom:1; }

.dropdown li {
 	float: left;
	position: relative;
	border-right: 1px solid #f0f0f0;
}

.dropdown > li:last-child{
	border:none;
}

.dropdown > li.last-menu-item > a{
	width:101px;
}

.dropdown li a{
	float: left;
	padding: 12px 20px;
	color: #fff;
	font: normal 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	width:156px;
	text-align: center;
}

.dropdown li:hover > a{ 
	background: #0a75ab;
}

.dropdown > li:first-child:hover > a{
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
}

.dropdown > li:last-child:hover > a{
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}

.dropdown ul{
	margin: 20px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #096499;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	box-shadow: 0px 0px 15px #000;
	-moz-box-shadow: 0px 0px 15px #000;
	-webkit-box-shadow: 0px 0px 15px ##000;
}

.dropdown li:hover > ul{
	opacity: 1;
	visibility: visible;
	margin: 0;
}

.dropdown ul li{
	float: none;
	display: block;
	border: 0;
}

.dropdown ul a{
	padding: 10px;
	width: 160px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
	border-bottom:1px solid #fafafa;
	border-top: 1px solid #666;
}

.dropdown ul a:hover,
.dropdown a.selected{
	background: #0a75ab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.dropdown ul li:first-child > a{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-top: none;
}

.dropdown ul li:first-child a:after{
	content: "";
	position: absolute;
	left: 40px;
	top: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #096499;
	z-index: 30;
}

.dropdown ul li:first-child:after{
	content: "";
	position: absolute;
	left: 40px;
	top: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
	z-index: 20;
}

.dropdown ul:after{
	content: "";
	position: absolute;
	left: 38px;
	top: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #000;
}

.dropdown ul li:first-child a:hover:after{
	border-bottom: 8px solid #0a75ab;
}

.dropdown ul li:last-child > a{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
/*new dropdown menu*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.list-group, .list-group ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-group:before,
.list-group:after{
	content: "";
	display: table;
}

.list-group:after{ clear:both; }

.list-group{ zoom:1; }

.list-group .list-group-item {
 	float: left;
	position: relative;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	padding: 10px 5px;
}

.list-group .list-group-item > a{
  text-align: center;
  border-top: none;
  border-right: none;
  border-radius: 0;
  font-family: "Corisande Light", sans-serif;
  font-size: 12px;
  padding: 0 27px;
  text-decoration: none;
  color: #000;
  display: block;
}

/*.list-group > li:last-child{
	border-right:none;
}*/

/*.list-group > li.last-menu-item > a{
	width:101px;
}*/

/*.list-group li:hover > a{ 
	background: #0a75ab;
}*/

.list-group .list-group-item:hover {
  border-bottom: 3px solid black;
}

.list-group .list-group-item.active {
  border-bottom: 3px solid black;
  border-left: 1px solid #dddddd;
  background-color: white;
}

/*.dropdown > li:first-child:hover > a{
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
}

.dropdown > li:last-child:hover > a{
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}*/

.list-group .list-group-item ul{
	margin: 20px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	z-index: 1;
	background: #f3f3f5;
	top: 38px;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 12px;
	text-align: left;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.list-group li:hover > ul{
	opacity: 1;
	visibility: visible;
	margin: 0;
}

.list-group .list-group-item ul li{
	float: none;
	display: block;
	border: 0;
}

.list-group .list-group-item ul a{
	padding: 3px 20px;
	width: 140px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
  	clear: both;
  	font-weight: normal;
  	line-height: 1.428571429;
  	color: #000;
  	font-family: "Gibson Light", sans-serif;
  	font-size: 11px;
  	font-weight: bold;
  	text-align: left;
}

.list-group ul a:hover,
.list-group .list-group-item li.selected{
	background: #e1e1e1;
}

/*.list-group ul li:first-child > a{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-top: none;
}*/

/*.list-group ul li:first-child a:after{
	content: "";
	position: absolute;
	left: 40px;
	top: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #096499;
	z-index: 30;
}*/

/*.list-group ul li:first-child:after{
	content: "";
	position: absolute;
	left: 40px;
	top: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
	z-index: 20;
}*/

/*.list-group ul:after{
	content: "";
	position: absolute;
	left: 38px;
	top: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #000;
}*/

/*.list-group ul li:first-child a:hover:after{
	border-bottom: 8px solid #0a75ab;
}*/

/*.list-group ul li:last-child > a{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}*/