/* Museo Fonts */
@font-face{ 
	font-family: 'Museo-100';
	src: url('Webfonts/museo100-regular-webfont.eot');
	src: url('Webfonts/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('Webfonts/museo100-regular-webfont.woff') format('woff'),
	     url('Webfonts/museo100-regular-webfont.ttf') format('truetype'),
	     url('Webfonts/museo100-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Museo-500';
	src: url('Webfonts/museo500-regular-webfont.eot');
	src: url('Webfonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('Webfonts/museo500-regular-webfont.woff') format('woff'),
	     url('Webfonts/museo500-regular-webfont.ttf') format('truetype'),
	     url('Webfonts/museo500-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Museo-300';
	src: url('Webfonts/museo300-regular-webfont.eot');
	src: url('Webfonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('Webfonts/museo300-regular-webfont.woff') format('woff'),
	     url('Webfonts/museo300-regular-webfont.ttf') format('truetype'),
	     url('Webfonts/museo300-regular-webfont.svg#webfont') format('svg');
}
/* Gibson Fonts */
@font-face {
  font-family: 'Gibson Light';
  src: url("Webfonts/fonts/Gibson-Light.eot?") format("eot"), url("Webfonts/fonts/Gibson-Light.woff") format("woff"), url("Webfonts/fonts/Gibson-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gibson Regular';
  src: url("Webfonts/fonts/Gibson-Regular.eot?") format("eot"), url("Webfonts/fonts/Gibson-Regular.woff") format("woff"), url("Webfonts/fonts/Gibson-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gibson SemiBold';
  src: url("Webfonts/fonts/Gibson-SemiBold.eot?") format("eot"), url("Webfonts/fonts/Gibson-SemiBold.woff") format("woff"), url("Webfonts/fonts/Gibson-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gibson Bold';
  src: url("Webfonts/fonts/Gibson-Bold.eot?") format("eot"), url("Webfonts/fonts/Gibson-Bold.woff") format("woff"), url("Webfonts/fonts/Gibson-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gibson LightItalic';
  src: url("Webfonts/fonts/Gibson-LightItalic.eot?") format("eot"), url("Webfonts/fonts/Gibson-LightItalic.woff") format("woff"), url("Webfonts/fonts/Gibson-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gibson Italic';
  src: url("Webfonts/fonts/Gibson-Italic.eot?") format("eot"), url("Webfonts/fonts/Gibson-Italic.woff") format("woff"), url("Webfonts/fonts/Gibson-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gibson SemiBoldItalic';
  src: url("Webfonts/fonts/Gibson-SemiBoldItalic.eot?") format("eot"), url("Webfonts/fonts/Gibson-SemiBoldItalic.woff") format("woff"), url("Webfonts/fonts/Gibson-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gibson BoldItalic';
  src: url("Webfonts/fonts/Gibson-BoldItalic.eot?") format("eot"), url("Webfonts/fonts/Gibson-BoldItalic.woff") format("woff"), url("Webfonts/fonts/Gibson-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Corisande Fonts */
@font-face {
  font-family: 'Corisande Light';
  src: url("Webfonts/fonts/Corisande-Light.eot?") format("eot"), url("Webfonts/fonts/Corisande-Light.woff") format("woff"), url("Webfonts/fonts/Corisande-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corisande Regular';
  src: url("Webfonts/fonts/Corisande-Regular.eot?") format("eot"), url("Webfonts/fonts/Corisande-Regular.woff") format("woff"), url("Webfonts/fonts/Corisande-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corisande Bold';
  src: url("Webfonts/fonts/Corisande-Bold.eot?") format("eot"), url("Webfonts/fonts/Corisande-Bold.woff") format("woff"), url("Webfonts/fonts/Corisande-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corisande LightItalic';
  src: url("Webfonts/fonts/Corisande-LightItalic.eot?") format("eot"), url("Webfonts/fonts/Corisande-LightItalic.woff") format("woff"), url("Webfonts/fonts/Corisande-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}