/**** MAIN STYLES (TO KEEP) ****/

@font-face {
	font-family: 'newsbox';
	src:url('img/nb-font/fonts/newsbox.eot?-re7ljg');
	src:url('img/nb-font/fonts/newsbox.eot?#iefix-re7ljg') format('embedded-opentype'),
		url('img/nb-font/fonts/newsbox.woff?-re7ljg') format('woff'),
		url('img/nb-font/fonts/newsbox.ttf?-re7ljg') format('truetype'),
		url('img/nb-font/fonts/newsbox.svg?-re7ljg#newsbox') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lcnb_wrap {
	margin: 5px;
	overflow: visible !important;
	position: relative;
	padding: 0px !important;
	z-index: 4;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.lcnb_wrap * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.lcnb_inner_wrapper {
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
	position:
}
.lcnb_inner {
	position: relative;
	z-index: 5;
	min-width: 99999px;	
}

.lcnb_wrap.lcnb_uniblock article.lcnb_news {
	display: block;	
	font-size: 13px;
	overflow: hidden;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: bottom right;
	z-index: 10;
}
.lcnb_wrap.lcnb_uniblock article.lcnb_news:hover {
	z-index: 12;
}
.lcnb_wrap.lcnb_boxed article.lcnb_news {
	display: block;	
	font-size: 13px;
	overflow: hidden;
	float: left;
	position: relative;

	-moz-transition: 	box-shadow .3s linear; 
	-webkit-transition: box-shadow .3s linear; 
	-o-transition: 		box-shadow .3s linear; 
	-ms-transition: 	box-shadow .3s linear; 
	transition: 		box-shadow .3s linear; 
}
.lcnb_wrap.lcnb_boxed article.lcnb_news > div {
	background-repeat: no-repeat;
	background-position: bottom right;	
}

.lcnb_title {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 9px 0 !important;
    padding: 0 0 4px !important;
    text-align: left;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}
.lcnb_txt {
	-webkit-hyphens: auto;
     -moz-hyphens: auto;
     hyphens: auto;
	 font-size: 12px;
}
.lcnb_txt a {
	text-decoration: none;
}
.lcnb_txt p,
.lcnb_light_theme p {
	padding: 0;
	margin: 0;	
}
.lcnb_author {
	font-weight: bold;
}
.lcnb_social_box li {
	cursor: pointer;
	
	font-family: 'newsbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1 !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

/* image and overlays (normals and expanded) */
.lcnb_img img {
	opacity: 0;
	filter: alpha(opacity=0);	
	display: inline-block;
	position: relative;
	overflow: hidden;
	max-width: none;
	
	-moz-transition: 	opacity .3s linear; 
	-webkit-transition: opacity .3s linear; 
	-o-transition: 		opacity .3s linear; 
	-ms-transition: 	opacity .3s linear; 
	transition: 		opacity .3s linear;  
}
.lcnb_img .lcnb_img_lb,
.lcnb_img .lcnb_video_lb {
	cursor: pointer;
    display: block;
    height: 100%;
	width: 100%;
    position: absolute;
	z-index: 20;
	top: 0;
    left: 0;
	opacity: 0;
	filter: alpha(opacity=0);	
}
.lcnb_lb_icon,
.lcnb_lb_overlay {
	-webkit-transition: all 550ms cubic-bezier(0.055, 0.910, 0.300, 1); /* older webkit */
	-webkit-transition: all 550ms cubic-bezier(0.055, 0.910, 0.300, 1.140);
	-moz-transition: all 550ms cubic-bezier(0.055, 0.910, 0.300, 1.140);
    -o-transition: all 550ms cubic-bezier(0.055, 0.910, 0.300, 1.140);
    transition: all 550ms cubic-bezier(0.055, 0.910, 0.300, 1.140); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.055, 0.910, 0.300, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.055, 0.910, 0.300, 1.140);
  	-moz-transition-timing-function: cubic-bezier(0.055, 0.910, 0.300, 1.140);
    -o-transition-timing-function: cubic-bezier(0.055, 0.910, 0.300, 1.140);
    transition-timing-function: cubic-bezier(0.055, 0.910, 0.300, 1.140); /* custom */
}
.lcnb_lb_icon {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 20; 
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.lcnb_lb_icon:before {
	font-family: 'newsbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 28px;
	top: 50%;
	left: 50%;
	margin-left: -14px;
    margin-top: -14px;
}
.lcnb_exp_img_wrap .lcnb_lb_icon:before {
	left: 0;
	margin-left: 0px;
}
.lcnb_img_lb .lcnb_lb_icon:before {
	content: "\e60c";	
}
.lcnb_video_lb .lcnb_lb_icon:before {
	content: "\e60d";	
}

.lcnb_img:hover .lcnb_lb_icon,
.lcnb_exp_img_wrap:hover .lcnb_lb_icon {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 20; 
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.lcnb_lb_overlay {
	display: block;	
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	border-radius: 50px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 10;
}
.lcnb_img:hover .lcnb_lb_overlay,
.lcnb_exp_img_wrap:hover .lcnb_lb_overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	border-radius: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transform: translate(0px, 0px);
}
.lcnb_no_lightbox .lcnb_img_lb,
.lcnb_no_lightbox .lcnb_video_lb {
	display: none !important;	
}


/* commands */
.lcnb_cmd {
	display: none;
}
.lcnb_cmd span {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.lcnb_cmd span:before {
	font-family: 'newsbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 14px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.lcnb_has_cmd .lcnb_cmd {
	display: block !important;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;	
	
	-moz-transition: all 	.3s ease-in-out; 
	-webkit-transition: all .3s ease-in-out;  
	-o-transition: all 		.3s ease-in-out; 
	-ms-transition: all 	.3s ease-in-out; 
	transition: all 		.3s ease-in-out; 
}
.lcnb_loading .lcnb_cmd {
	opacity: 0 !important;
	filter: alpha(opacity=0) !important;	
}
.lcnb_cmd .lcnb_prev, 
.lcnb_cmd .lcnb_next {
	opacity: 0.8;	
}
.lcnb_cmd .lcnb_disabled, .lcnb_cmd .lcnb_disabled:hover {
	opacity: 0.4 !important;
	filter: alpha(opacity=40) !important;
	cursor: default !important;		
}
.lcnb_prev, .lcnb_next {
	position: absolute;
	cursor: pointer;
	opacity: 0;	

	-moz-transition: all 	.3s ease-in-out; 
	-webkit-transition: all .3s ease-in-out;  
	-o-transition: all 		.3s ease-in-out; 
	-ms-transition: all 	.3s ease-in-out; 
	transition: all 		.3s ease-in-out; 
}
.lcnb_prev:hover, .lcnb_next:hover {
	opacity: 1;	
}

/* commands - top/bottom */
.lcnb_has_cmd.lcnb_uniblock.lcnb_top_cmd {
	margin: 45px 5px 10px;	
}
.lcnb_has_cmd.lcnb_uniblock.lcnb_bottom_cmd {
	margin: 10px 5px 45px;	
}
.lcnb_has_cmd.lcnb_boxed.lcnb_top_cmd {
	margin: 42px 5px 10px;	
}
.lcnb_has_cmd.lcnb_boxed.lcnb_bottom_cmd {
	margin: 10px 5px 42px;	
}

.lcnb_top_cmd.lcnb_uniblock .lcnb_prev, 
.lcnb_top_cmd.lcnb_uniblock .lcnb_next {
	height: 26px;
	width: 45px;
	top: -36px;
	border-radius: 3px;
}
.lcnb_bottom_cmd.lcnb_uniblock .lcnb_prev, 
.lcnb_bottom_cmd.lcnb_uniblock .lcnb_next {
	height: 26px;
	width: 45px;
	bottom: -36px;
	border-radius: 3px;
}
.lcnb_top_cmd.lcnb_boxed .lcnb_prev, 
.lcnb_top_cmd.lcnb_boxed .lcnb_next {
	height: 26px;
	width: 45px;
	top: -34px;
	border-radius: 3px;
}
.lcnb_bottom_cmd.lcnb_boxed .lcnb_prev, 
.lcnb_bottom_cmd.lcnb_boxed .lcnb_next {
	height: 26px;
	width: 45px;
	bottom: -34px;
	border-radius: 3px;
}


/* commands - top/bottom - alignment */
.lcnb_top_r_cmd.lcnb_uniblock .lcnb_prev,
.lcnb_bottom_r_cmd.lcnb_uniblock .lcnb_prev {
	right: 52px;
}
.lcnb_top_r_cmd.lcnb_uniblock .lcnb_next,
.lcnb_bottom_r_cmd.lcnb_uniblock .lcnb_next {
	right: 0px;	
}
.lcnb_top_l_cmd.lcnb_uniblock .lcnb_prev,
.lcnb_bottom_r_cmd.lcnb_uniblock .lcnb_prev {
	left: 0px;
}
.lcnb_top_l_cmd.lcnb_uniblock .lcnb_next,
.lcnb_bottom_l_cmd.lcnb_uniblock .lcnb_next {
	left: 52px;	
}
.lcnb_top_r_cmd.lcnb_boxed .lcnb_prev,
.lcnb_bottom_r_cmd.lcnb_boxed .lcnb_prev {
	right: 57px;
}
.lcnb_top_r_cmd.lcnb_boxed .lcnb_next,
.lcnb_bottom_r_cmd.lcnb_boxed .lcnb_next {
	right: 5px;	
}
.lcnb_top_l_cmd.lcnb_boxed .lcnb_prev,
.lcnb_bottom_l_cmd.lcnb_boxed .lcnb_prev {
	left: 4px;
}
.lcnb_top_l_cmd.lcnb_boxed .lcnb_next,
.lcnb_bottom_l_cmd.lcnb_boxed .lcnb_next {
	left: 56px;	
}

.lcnb_top_c_cmd .lcnb_prev,
.lcnb_bottom_c_cmd .lcnb_prev {
	right: 50%;
	margin-right: 4px;
}
.lcnb_top_c_cmd .lcnb_next,
.lcnb_bottom_c_cmd .lcnb_next {
	left: 50%;
	margin-left: 4px;	
}


/* iconic font for navigation */
.lcnb_horizontal.lcnb_top_cmd .lcnb_prev span:before, 
.lcnb_horizontal.lcnb_bottom_cmd .lcnb_prev span:before {
	content: "\e60b";
	display: inline-block;
    margin-left: 14px;
	margin-top: 4px;
}
.lcnb_horizontal.lcnb_top_cmd .lcnb_next span:before, 
.lcnb_horizontal.lcnb_bottom_cmd .lcnb_next span:before {
	content: "\e604";
	display: inline-block;
    margin-left: 16px;
	margin-top: 4px;
}
.lcnb_horizontal.lcnb_side_cmd .lcnb_prev span:before {
	content: "\e60b";
    display: inline-block;
    margin: 15px 0 0 4px;
}
.lcnb_horizontal.lcnb_side_cmd .lcnb_next span:before {
	content: "\e604";
    display: inline-block;
    margin: 15px 0 0 2px;
}

.lcnb_vertical.lcnb_top_cmd .lcnb_prev span:before, 
.lcnb_vertical.lcnb_bottom_cmd .lcnb_prev span:before,
.lcnb_vertical.lcnb_side_cmd .lcnb_next span:before {
	content: "\e60a";
    margin-left: 15px;
	display: inline-block;
    margin-top: 4px;
}
.lcnb_vertical.lcnb_top_cmd .lcnb_next span:before, 
.lcnb_vertical.lcnb_bottom_cmd .lcnb_next span:before {
	content: "\e602";
    margin-left: 15px;
	display: inline-block;
    margin-top: 4px;
}
.lcnb_vertical.lcnb_side_cmd .lcnb_prev span:before {
	content: "\e602";
    margin-left: 17px;
}
.lcnb_vertical.lcnb_side_cmd .lcnb_next span:before {
	content: "\e60a";
    margin-left: 17px;
    position: relative;
    top: -2px;
}



/* bottom and top bar */
.lcnb_btm_bar {
	position: absolute;
	bottom: 0px;
	padding: 3px 6px 7px 10px;	
}
.lcnb_top_bar {
	position: relative;
	top: 0px;	
	padding: 7px 7px 3px 10px;
}
.lcnb_vertical .lcnb_top_bar {
	position: absolute;	
}
.lcnb_btm_bar,
.lcnb_top_bar {
	width: 100%;
	min-height: 25px;
	background: none; 
	right: 0px;
	z-index: 30;
}
.lcnb_btm_bar.lcnb_narrow_txt,
.lcnb_top_bar.lcnb_narrow_txt {
	padding: 5px 6px 5px 10px;
}
.lcnb_btm_bar > div,
.lcnb_top_bar > div,
.lcnb_exp_data > div {
	-moz-transition: all	.3s ease-in-out; 
	-webkit-transition: all .3s ease-in-out; 
	-o-transition: all 		.3s ease-in-out; 
	-ms-transition: all 	.3s ease-in-out; 
	transition: all 		.3s ease-in-out; 	
}
.lcnb_btm_bar > div:hover, .lcnb_top_bar > div:hover,
.lcnb_btm_bar > div.socials_shown, .lcnb_top_bar > div.socials_shown, .lcnb_buttons > div.socials_shown,
.lcnb_exp_data > div:hover,
.lcnb_exp_data > div.socials_shown {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.lcnb_btm_bar .lcnb_link, .lcnb_top_bar .lcnb_link,
.lcnb_btm_bar .lcnb_social_trigger, .lcnb_top_bar .lcnb_social_trigger,
.lcnb_btm_bar .lcnb_btn_expand, .lcnb_top_bar .lcnb_btn_expand {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	width: 25px;
	height: 25px;	 
	float: right;
	padding: 0 5px 0 5px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	cursor: pointer;
	
	font-family: 'newsbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lcnb_btm_bar .lcnb_btn_time,
.lcnb_top_bar .lcnb_btn_time {
	display: table;
    height: auto;
    margin: 0;
    text-align: center;
	margin: 2px 10px 0 0;
}
.lcnb_btm_bar .lcnb_date,
.lcnb_top_bar .lcnb_date {
	display: table-cell;
	vertical-align: middle;
	padding: 3px 7px;
	border-radius: 2px;
	font-size: 80%;
	line-height: 14px;
}
.lcnb_btm_bar .lcnb_link a,
.lcnb_top_bar .lcnb_link a,
.lcnb_exp_data .lcnb_link a {
	display: block;
	height: 100%;
	width: 100%; 	
	position: relative;
    top: -17px;
}
.lcnb_btm_bar > div:first-child,
.lcnb_top_bar > div:first-child {
	padding-right: 0px !important;
	border-right: none !important;
}

.lcnb_btm_bar .lcnb_link:before, .lcnb_top_bar .lcnb_link:before {
	content: "\e606";
	display: inline-block;
    margin: 4px 0 0 5px;
	font-size: 13px;
}
.lcnb_btm_bar .lcnb_social_trigger:before, .lcnb_top_bar .lcnb_social_trigger:before {
	content: "\e603";
	display: inline-block;
    margin: 5px 0 0 5px;
	font-size: 13px;
}
.lcnb_btm_bar .lcnb_btn_expand:before, .lcnb_top_bar .lcnb_btn_expand:before, .lcnb_exp_data .lcnb_btn_expand:before {
	content: "\e605";
	display: inline-block;
    margin: 5px 0 0 5px;
	font-size: 14px;
}


/* socials flap */
.lcnb_btm_bar .lcnb_social_box,
.lcnb_top_bar .lcnb_social_box,
.lcnb_exp_data .lcnb_social_box {
	width: 35px;
	padding: 0px 5px !important;
	margin: 0px !important;
	display: none;
	position: relative;
	z-index: 50;
	left: -5px;
	bottom: 9px;
	border-radius: 2px;
	list-style: none !important;
	opacity: 0;
	filter: alpha(opacity=0);
}
.lcnb_top_bar .lcnb_social_box {
	top: 9px;
	bottom: 0px;
}
.lcnb_btm_bar .lcnb_social_box:after,
.lcnb_exp_data .lcnb_social_box:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-top-width: 8px;
	border-top-style: solid;
	float: left;
	margin-top: 0px;
	margin-left: 2px;
}
.lcnb_top_bar .lcnb_social_box:before {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-bottom-width: 8px;
	border-bottom-style: solid;
	float: left;
	margin-top: -8px;
	margin-left: 2px;
}

.lcnb_btm_bar .lcnb_social_box > li,
.lcnb_top_bar .lcnb_social_box > li,
.lcnb_exp_data .lcnb_social_box > li {
	height: 29px;
	width: 100%;
	padding: 0px 0px 5px !important;
	margin: 0px;
	list-style: none !important;
}
.lcnb_btm_bar .lcnb_social_box > li:last-child,
.lcnb_top_bar .lcnb_social_box > li:last-child,
.lcnb_exp_data .lcnb_social_box > li:last-child {
	padding-bottom: 0px;
	border: none !important;
}

.lcnb_btm_bar .lcnb_social_box > li.lcnb_share_fb:before,
.lcnb_top_bar .lcnb_social_box > li.lcnb_share_fb:before,
.lcnb_exp_data .lcnb_social_box > li.lcnb_share_fb:before {
	content: "\e608";
	font-size: 15px;
    left: 5px;
    position: relative;
    top: 6px;
}
.lcnb_btm_bar .lcnb_social_box > li.lcnb_share_tw:before,
.lcnb_top_bar .lcnb_social_box > li.lcnb_share_tw:before,
.lcnb_exp_data .lcnb_social_box > li.lcnb_share_tw:before {
	content: "\e601";
	font-size: 14px;
    left: 5px;
    position: relative;
    top: 6px;
}
.lcnb_btm_bar .lcnb_social_box > li.lcnb_share_gg:before,
.lcnb_top_bar .lcnb_social_box > li.lcnb_share_gg:before,
.lcnb_exp_data .lcnb_social_box > li.lcnb_share_gg:before {
	content: "\e607";
	font-size: 16px;
    left: 5px;
    position: relative;
    top: 7px;
}


/**** VERTICAL LAYOUT ****/
.lcnb_vertical .lcnb_inner {
	min-width: 0px !important;
	max-width: 100% !important;	
}

/* commands - side */
.lcnb_vertical.lcnb_has_cmd.lcnb_side_cmd {
	margin: 36px 5px !important;	
}
.lcnb_vertical.lcnb_side_cmd .lcnb_prev, 
.lcnb_vertical.lcnb_side_cmd .lcnb_next {
	height: 24px;
	width: 48px;
	margin-left: -24px;
	left: 50%;
}
.lcnb_vertical.lcnb_side_cmd .lcnb_prev {
	top: -31px;	
	border-radius: 80% 80% 0 0;
}
.lcnb_vertical.lcnb_side_cmd .lcnb_next {
	bottom: -31px;	
	border-radius: 0 0 80% 80%;
}


/* single news box */
.lcnb_vertical.lcnb_uniblock article.lcnb_news {
	margin: 0px;
	display: block;
	width: 100%;
}
.lcnb_vertical.lcnb_boxed article.lcnb_news {
	margin: 6px 3px;
	display: block;
}
.lcnb_vertical .lcnb_news_inner {
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;
}

/* contents */
.lcnb_vertical .lcnb_buttons, 
.lcnb_vertical .lcnb_img,
.lcnb_vertical .lcnb_contents {
	height: 100%;	
	display: table-cell;
	vertical-align: middle;
}
.lcnb_vertical .lcnb_contents {
	vertical-align: top;	
}

.lcnb_vertical .lcnb_img {
	height: 100%;
	width: 200px;
	max-width: 200px;
	overflow: hidden !important;
}
.lcnb_vertical .lcnb_img > div {
	width: 100%;
	height: 100%;
}
.lcnb_vertical .lcnb_title {
    margin: 0 0 6px;
}

.lcnb_vertical .lcnb_buttons {
	width: 35px;
	max-width: 35px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 35;
	top: 0;
	
	font-family: 'newsbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.lcnb_vertical .lcnb_buttons > div:hover,
.lcnb_vertical .lcnb_buttons > div.lcnb_active,
.lcnb_vertical .lcnb_buttons div.socials_shown {
	opacity: 1;
	filter: alpha(opacity=100);
}
.lcnb_vertical.lcnb_boxed .lcnb_buttons {
	border-radius: 4px 0 0 6px;
}
.lcnb_vertical.lcnb_boxed .lcnb_buttons > div:first-child {
	border-radius: 4px 0 0 0;
}
.lcnb_vertical.lcnb_boxed .lcnb_buttons > div:last-child {
	border-radius: 0 0 0 5px;
}
.lcnb_vertical .lcnb_buttons > div {
	border-width: 0 0 1px 0px;
	border-style: solid;	
	cursor: pointer;
	position: relative;
	
	-moz-transition: all	.3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all 		.3s ease-in-out; 
	-ms-transition: all 	.3s ease-in-out;
	transition: all 		.3s ease-in-out;
}
.lcnb_vertical .lcnb_buttons > div:hover {
	box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.15) inset;	
}
.lcnb_vertical .lcnb_buttons > div:last-child {
	border-bottom: none !important;
}
.lcnb_vertical .lcnb_buttons .lcnb_link a {
	display: block;
	height: 100%;
	width: 100%; 	
}
.lcnb_vertical .lcnb_buttons .lcnb_social_trigger {
	position: relative;
}
.lcnb_vertical .lcnb_buttons .lcnb_social_trigger:before {
	content: "\e603";
    font-size: 14px;
    display: inline-block;
    font-size: 13px;
    height: 100%;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
	left: 50%;
}
.lcnb_vertical .lcnb_buttons .lcnb_link:before {
	content: "\e606";
	display: inline-block;
    font-size: 14px;
    height: 100%;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
	left: 50%;
}
.lcnb_vertical .lcnb_buttons .lcnb_btn_expand:before {
	content: "\e605";
	display: inline-block;
    font-size: 13px;
    height: 100%;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
	left: 50%;
}

.lcnb_vertical .lcnb_buttons .lcnb_social_trigger .lcnb_social_box {
	display: none;	
}
.lcnb_vertical .lcnb_buttons ul.lcnb_social_box {
	display: block;
	position: absolute;
	left: 0;
	min-height: 20px;
	border-bottom: none !important;
	padding: 0px !important;
	margin: 0px !important;
	text-align: center;
	border-radius: 0 3px 0 0;
	z-index: -1;
}
.lcnb_vertical .lcnb_buttons .lcnb_social_box li {
	display: inline-block;
	height: 100%;
	width: 35px;
	padding: 0px !important;
	margin: 0px !important;
	position: relative;
}
.lcnb_vertical .lcnb_buttons .lcnb_social_box li:last-child {
	border-right: none !important; 	
}
.lcnb_vertical .lcnb_buttons .lcnb_social_box li.lcnb_share_fb:before {
	content: "\e608";
	font-size: 15px;
	display: block;
	height: 100%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}
.lcnb_vertical .lcnb_buttons .lcnb_social_box li.lcnb_share_tw:before {
	content: "\e601";
	font-size: 14px;
    left: 1px;
    display: block;
	height: 100%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}
.lcnb_vertical .lcnb_buttons .lcnb_social_box li.lcnb_share_gg:before {
	content: "\e607";
	font-size: 16px;
    left: 1px;
    display: block;
	height: 100%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
}

.lcnb_vertical .lcnb_contents { 
	overflow: hidden;
	padding: 8px 12px;
}
.lcnb_vertical .lcnb_contents > div { 
	vertical-align: middle;
}
.lcnb_vertical .lcnb_txt {
	line-height: 20px;	
}


/**** HORIZONTAL LAYOUT ****/

/* commands - side */
.lcnb_horizontal.lcnb_has_cmd.lcnb_side_cmd {
	margin: 5px 36px !important;	
}
.lcnb_horizontal.lcnb_side_cmd .lcnb_prev, 
.lcnb_horizontal.lcnb_side_cmd .lcnb_next {
	height: 48px;
	width: 24px;
	margin-top: -24px;
	top: 50%;
}
.lcnb_horizontal.lcnb_side_cmd .lcnb_prev {
	left: -31px;	
	border-radius: 80% 0 0 80%;
}
.lcnb_horizontal.lcnb_side_cmd .lcnb_next {
	right: -31px;	
	border-radius: 0 80% 80% 0;
}

/* single news box */
.lcnb_uniblock.lcnb_horizontal article.lcnb_news {
	margin: 0px;
}
.lcnb_boxed.lcnb_horizontal article.lcnb_news {
	margin: 3px 6px;
}

/* contents */
.lcnb_horizontal .lcnb_img,
.lcnb_horizontal .lcnb_contents {	
	vertical-align: middle;
	position: relative;
}

.lcnb_horizontal .lcnb_color {
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 30;
	box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1) inset;
}

.lcnb_horizontal .lcnb_img {
	width: 100%;
	height: 180px;	
	overflow: hidden;
}
.lcnb_horizontal .lcnb_img > div {
	height: 180px;	
}

/* bottom bar */
.lcnb_horizontal .lcnb_btm_bar {
	padding: 8px 6px 7px 10px;
}
.lcnb_horizontal .lcnb_contents { 
	overflow: hidden;
	padding: 6px 14px 8px;
}
.lcnb_horizontal .lcnb_contents > div { 
	vertical-align: middle;
}

.lcnb_horizontal .lcnb_contents_inner .lcnb_title {
    line-height: 21px;
    margin: 0 0 4px 0;
}
.lcnb_horizontal .lcnb_contents_inner .lcnb_txt {
	line-height: 20px;	
	margin-top: 5px;
}


/**** EXPANDED NEWS ****/
.lcnb_exp_block {
	width: auto;
	position: absolute;
	top: -100%;
	right: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 200;	
	padding: 12px;
	
	-moz-transition:	height .3s linear; 
	-webkit-transition: height .3s linear; 
	-o-transition: 		height .3s linear; 
	-ms-transition: 	height .3s linear;  
	transition: 		height .3s linear;  
}
.lcnb_horizontal.lcnb_boxed .lcnb_exp_block {
	margin: 3px 6px;	
}
.lcnb_vertical.lcnb_boxed .lcnb_exp_block {
	margin: 6px 3px;	
}
.lcnb_exp_block .lcnb_close {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.lcnb_exp_block .lcnb_close:before {
	font-family: 'newsbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	
	content: "\e600";
	display: inline-block;
	margin: 3px 0 0 4px;
	font-size: 18px;
}
.lcnb_exp_txt {
	display: none;	
	float: right;
	width: 67%;
	font-size: 13px;
	margin-top: 3px;
	padding-right: 45px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.lcnb_only_text .lcnb_exp_txt,
.lcnb_exp_mobile .lcnb_exp_txt {
	width: 100%;	
	padding-left: 10px;
}
.lcnb_exp_mobile .lcnb_exp_txt {
	margin-top: 20px;	
}
.lcnb_exp_txt img {
	max-width: 100% !important;	
}
.lcnb_exp_txt h1, .lcnb_exp_txt h2, .lcnb_exp_txt h3 {
	border: none;
	font-size: 20px;
	margin: 5px 0 20px;
} 
.lcnb_exp_block .lcnb_title {
    font-size: 21px;
    line-height: 29px;
    margin: 0 0 10px;
    padding: 0 0 3px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}
.lcnb_exp_img_wrap {
	float: left;
	width: 33%;
	text-align: center;
	padding-right: 20px;
}
.lcnb_exp_mobile .lcnb_exp_img_wrap {
	width: 100%;
	padding-right: 45px;
	padding-bottom: 10px;	
}

.lcnb_exp_img_wrap > div:first-child {
	width: 100% !important;	
}
.lcnb_exp_img_wrap img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	border-radius: 2px;
}
.lcnb_exp_img_wrap .lcnb_img_lb,
.lcnb_exp_img_wrap .lcnb_video_lb {
	cursor: pointer;
    display: block;
    max-height: 100%;
    position: relative;
	top: 999px;
}
.lcnb_exp_txt img {
	opacity: 0;
	filter: alpha(opacity=0);
}
.lcnb_exp_img_preload {
	width: 0px;
	height: 0px;

	-moz-transition:	all .4s ease-in-out; 
	-webkit-transition: all .4s ease-in-out; 
	-o-transition: 		all .4s ease-in-out;  
	-ms-transition: 	all .4s ease-in-out;   
	transition: 		all .4s ease-in-out;  	
}


.lcnb_exp_data {
	width: 100%;	
	margin-top: 15px;
	display: table;
	width: 100%;
	vertical-align: middle;
    padding: 14px 0px;
}
.lcnb_exp_img_wrap, 
.lcnb_exp_block .lcnb_close {
	-moz-transition:	margin-top .3s linear; 
	-webkit-transition: margin-top .3s linear; 
	-o-transition: 		margin-top .3s linear; 
	-ms-transition: 	margin-top .3s linear;  
	transition: 		margin-top .3s linear;  
}


.lcnb_exp_data .lcnb_social_trigger,
.lcnb_exp_data .lcnb_link {
	display: inline-block;
	float: right;
	vertical-align: middle;
	height: 24px;
	width: 33px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;	
	opacity: 0.7;
	filter: alpha(opacity=75);	
	
	font-family: 'newsbox';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lcnb_exp_data > div:last-child {
	border-left: none !important; 	
}
.lcnb_exp_mobile .lcnb_social_trigger,
.lcnb_exp_mobile .lcnb_link {
	float: left;
	border: none !important;		
}

.lcnb_exp_date {
	display: table-cell;
	vertical-align: middle;
	font-size: 80%;
	line-height: 14px;
}
.lcnb_exp_mobile .lcnb_exp_date {
	display: block;
	margin-bottom: 11px;	
}
.lcnb_exp_date time {
	padding: 3px 7px;
	border-radius: 2px;
	display: inline-block;
}

.lcnb_exp_data .lcnb_link:before {
	content: "\e606";
	display: inline-block;
    margin: 4px 0 0 10px;
	font-size: 14px;
}
.lcnb_exp_data .lcnb_social_trigger:before {
	content: "\e603";
	display: inline-block;
    margin: 6px 0 0 10px;
	font-size: 13px;
}