@import 'fonts.css';
@import 'slideshow/js-image-slider.css';

body,
html{
	margin:0;
}

body{
	margin:20px 0;
	font-size:13px;
	/* background:#005488;*/
	/*background: url("../images/background.jpg") repeat-x scroll left top rgb(0, 84, 136);*/
	font-family: 'Gibson Light';
}

.lh-18{ line-height:18px; }

.display-none{ display:none; }

/* margins, widths, & padding for tables & cells */
.table-width{ width:950px; }
.auto-margins{ margin:0 auto; }
.table-pad{ padding:15px 10px; }

td{
	color:#000;
	font-size:14px;
	font-family: "Gibson Light";
}

#fbook_like{
	margin-right: 20px;
}

.cell-pad td{ padding:10px 15px; }


.pad0{ padding:0; }
.pad-all5{ padding:5px; }
.pad-top5{ padding-top:5px; }
.pad-right5{ padding-right:5px; }
.pad-bottom5{ padding-bottom:5px; }
.pad-left5{ padding-left:5px; }

.pad-all10{ padding:10px; }
.pad-top10{ padding-top:10px; }
.pad-right10{ padding-right:10px; }
.pad-bottom10{ padding-bottom:10px; }
.pad-left10{ padding-left:10px; }

.pad-all15{ padding:15px; }
.pad-top15{ padding-top:15px; }
.pad-right15{ padding-right:15px; }
.pad-bottom15{ padding-bottom:15px; }
.pad-left15{ padding-left:15px; }

.pad-all20{ padding:20px; }
.pad-top20{ padding-top:20px; }
.pad-right20{ padding-right:20px; }
.pad-bottom20{ padding-bottom:20px; }
.pad-left20{ padding-left:20px; }

.pad-all25{ padding:25px; }
.pad-top25{ padding-top:25px; }
.pad-right25{ padding-right:25px; }
.pad-bottom25{ padding-bottom:25px; }
.pad-left25{ padding-left:25px; }

.pad-all30{ padding:30px; }
.pad-top30{ padding-top:30px; }
.pad-right30{ padding-right:30px; }
.pad-bottom30{ padding-bottom:30px; }
.pad-left30{ padding-left:30px; }
.pad-left40{ padding-left:40px; }

.pad-all55{ padding:55px; }
.pad-top55{ padding-top:55px; }
.pad-right55{ padding-right:55px; }
.pad-bottom55{ padding-bottom:55px; }
.pad-left55{ padding-left:55px; }

.big-pad{ 
	padding-top:75px; 
	padding-bottom:75px;
}

.margin-all-15{ margin:-15px; }
.margin-top-15{ margin-top:-15px; }
.margin-right-15{ margin-right:-15px; }
.margin-bottom-15{ margin-bottom:-15px; }
.margin-left-15{ margin-left:-15px; }

.margin-top0{ margin-top:0px; }
.margin-right0{ margin-right:0px; }
.margin-bottom0{ margin-bottom:0px; }
.margin-left0{ margin-left:0px; }

.margin-all5{ margin:5px; }
.margin-top5{ margin-top:5px; }
.margin-right5{ margin-right:5px; }
.margin-bottom5{ margin-bottom:5px; }
.margin-left5{ margin-left:5px; }

.margin-all10{ margin:10px; }
.margin-top10{ margin-top:10px; }
.margin-right10{ margin-right:10px; }
.margin-bottom10{ margin-bottom:10px; }
.margin-left10{ margin-left:10px; }

.margin-all15{ margin:15px; }
.margin-top15{ margin-top:15px; }
.margin-right15{ margin-right:15px; }
.margin-bottom15{ margin-bottom:15px; }
.margin-left15{ margin-left:15px; }

.margin-all20{ margin:20px; }
.margin-top20{ margin-top:20px; }
.margin-right20{ margin-right:20px; }
.margin-bottom20{ margin-bottom:20px; }
.margin-left20{ margin-left:20px; }

.margin-all25{ margin:25px; }
.margin-top25{ margin-top:25px; }
.margin-right25{ margin-right:25px; }
.margin-bottom25{ margin-bottom:25px; }
.margin-left25{ margin-left:25px; }

.margin-all30{ margin:30px; }
.margin-top30{ margin-top:30px; }
.margin-right30{ margin-right:30px; }
.margin-bottom30{ margin-bottom:30px; }
.margin-left30{ margin-left:30px; }

.margin-all35{ margin:35px; }
.margin-top35{ margin-top:35px; }
.margin-right35{ margin-right:35px; }
.margin-bottom35{ margin-bottom:35px; }
.margin-left35{ margin-left:35px; }
/* end styles for tables & cells */


/* table background colors */
.tablebg-white{ background:#ffffff; }
.tablebg-blue{ background:#096499; }
.tablebg-darkblue{ background:#062234; }
/* end table background colors */


/* text alignment */
.text-left{ text-align:left; }
.text-right{ text-align:right; }
.text-center{ text-align:center; }
.text-justify{ text-align:justify; }
/* end text alignment */


/* floats and clearing floats */
.float-left{ float:left; }
.float-right{ float:right; }
.clear{ clear:both; }
/* end floats and clearing floats */


/* typography */
.bold{ font-weight:bold; }
.italic{ font-style:italic; }

.h2{
	color:#1db1ec;
	font-weight:normal;
}

h2 {
	font-family: 'Corisande Regular';	
	color: #000;
}
.intro { 
	font-family: 'Gibson Light';
	width: 55%;
    padding-right: 10px;
    text-align: justify;
}
.copy p { line-height: 22px; font-size: 14px; }
.bullet { padding-right: 5px; }
.bullets.copy p {
    padding-top: 2px;
}
.copy a { transition: .25s; }
.copy a:hover {
	color: #EE9208;
}
h2.section-title { 
	font-size: 30px; 
	display: inline-block; 
	margin-bottom: 15px; 
}
.pad-top-30 { padding-top: 10px; }
/* end typography */


/* font colors */
.color-white{ color:#ffffff; }
.color-liteblue{ color:#1db1ec; }
.color-goldorng{ color:#fb9000; }
.color-red{ color:#ff0000; }
.color-maroon{ color:#9c0e12; }
.color-green{ color:#00cc00; }
.color-lighterblue{ color:#3399cc; }
/* end font colors */


/* table widths */
.quarter-width{ width:25%; }
.half-width{ width:50%; }
.three-quarters-width{ width:75%; }
.full-width{ width:100%; margin-top: 5px; }

.third-width{ width:33%; }
.two-thirds-width{ width:66%; }
/* end table widths */


.error-cell{ padding:10px; }

.error-list{ padding:10px 0 10px 10px; }

.no-margin{ margin:0; }

.cell-data td{ padding:10px; }

.cell-pad10 td{ padding:10px; }

.totals{ background:#e1e1e1; }

.totals td{ color:#000; }


/* vertical alignment */
.valign-top{ vertical-align:top; }
.valign-middle{ vertical-align:middle; }
.valign-bottom{ vertical-align:bottom; }
/* end vertical alignment */


.odd-row td{ background:#f3f3f4; }

.odd-row.last td:first-child{
	-moz-border-radius:0 0 0 5px;
	-webkit-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}

.odd-row.last td:last-child{
	-moz-border-radius:0 0 5px 0;
	-webkit-border-radius:0 0 5px 0;
	border-radius:0 0 5px 0;
}

.inputs{
	outline:none;
	border:1px solid #ccc;
	margin:0 0 10px;
	padding:10px 5px;
/*	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow:0 0 4px #fff;
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;*/
}
.inputs-login, .inputs-contact, .inputs-signup{
	outline:none;
	border:1px solid #ccc;
	margin-bottom:10px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-left: 0px\9;
	*padding-left: 0px;
	_padding-left: 0px;
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	width: 300px;
}
.inputs.small{ width:100px; }

.inputs.medium{ width:200px; }

.inputs.large,.inputs-signup.large { width:300px; }

.inputs.xl{ width:500px; }

input.inputs-login, input.inputs-contact, input.inputs-signup {
	font-size: 14px;
    padding: 10px 0 10px 25px;
    font-family: 'Gibson Light';
}
.sublogin-image {
	padding-left: 48px;
}

.login-header {

}
.login-header:after {
	display: block;
	content: '';
	clear: both;
}
.login-header .sign-up a { color: #000; }

.login-header .sign-up {
	float:right;
	text-align:right;
	line-height: 21px;
}
.login-ui {
	padding-top:50px;
	padding-left: 10px;
}

.textarea{
	outline:none;
	margin:0 0 10px;
	border:1px solid #ccc;
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	font-size: 14px;
    padding: 10px 0 10px 25px;
    font-family: 'Gibson Light';
	width:100%;
	height: 150px;
	color:#9ebfca;
	font-size: bold;
	width: 450px;
    height: 175px;
}

.textarea.small{ width:200px; }

.textarea.medium{ width:300px; }

.textarea.large{ width:400px; }

/*.inputs:focus,
.textarea:focus{
	border:1px solid #1db1ec;
	box-shadow:0 0 4px #1db1ec;
}*/

.zero-margin{ margin:0; }

.submit-link,
.submit-button{
	border:0;
	cursor:pointer;
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	font-size: 14px;
    padding: 10px 0 10px 25px;
}

.submit-link{
	padding:0;
	color:#1db1ec;
	background:none;
}

.submit-link:hover{
	color:#fb9000;
}

.submit-button{
	padding:5px 10px;
	color:#fff;
	background:#F7A01E;
	padding-right: 40px;
	padding-left: 40px;
}

.submit-button:hover{
	background-color: #EE9208;
}

.submit-button-signup{
	padding:10px 10px;
	color:#fff;
	background:#F7A01E;
	padding-right: 40px;
	padding-left: 40px;
	border:0;
	cursor:pointer;
}
.submit-button-contact{
	cursor:pointer;
	padding:5px 10px;
	color:#1d3c5b;
	background:url('../images/contact-submit-button.png') no-repeat;
	height:44px;
	width:211px;
	border:none;
}
.side-margin{ margin:0 15px; }

.captcha{
	position:absolute;
	height:34px;
	margin:1px 0 0 -114px;
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}

.promo-box {
	height:275px;
	width:700px;
	background:url(../images/backoffice_promo_std.jpg) no-repeat;
	position: relative;
	margin-bottom: 20px;
}

.promo-box .payment {
	position: absolute;
	/*left: 50px;*/
	width: 172px;
	top: 220px;
	color:#000;
	font-size:25px;
	text-align: center;
}

.promo-box .count {
	position: absolute;
	left: 0px;
	width: 172px;
	top: 126px;
	color:#000;
	font-size:28px;
	text-align: center;
}


.relative{ position:relative; }
.absolute{ position:absolute; }

/* hover link color transition */
a.transition-link{
	color: #aaa;
}
.transition-link{
	font-family: 'Gibson Light';
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.transition-link:hover{ 
	font-family: 'Gibson Light';
	color:#000; 
}
/* end hover link color transition */


/* display elements as block */
.block{ display:block; }
.a-block a{ display:block; }
/* end display elements as block */



/* header & main nav menu */
.welcome-msg{ margin:5px auto; }
.subwelcome-image {
	padding-top: 25px;
}
.nav a.links{
	background-color: #e1e1e1;
	padding:15px;
	color:#000;
	font-size: 16px;
	font-family: 'Gibson Light';
	clear: both;
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.nav a.social { clear: none; display: unset;}
.nav a.links:hover{ 
	background-color:#000; 
	font-size: 16px; 
	color:#fff; 
	font-family: 'Gibson Light';
}
.nav .nav-cell { 
	clear: both;
	font-size: 16px;
	margin-bottom: 20px;
	background-color: #e1e1e1; 
	clear: both;
	margin-bottom: 20px;
	padding: 0;
}
td.nav-cell { padding: 0}

.lang-picker{
	background:#fff;
	color:#000;
	padding:3px 5px;
	width:135px;
	border:1px solid transparent;
	border-radius: 0;
}
/* end main nav menu */









.details{ width:140px; }

.details.left{ width: 120px; }

.details.right{ width:60px; }

.details-row{ margin:0 0 10px; }

.details-pad{ padding:0 0 0 10px; }

.chart-pad{ padding:0 2px 0 0; }

label.small{ width:90px; }
label.medium{ width:120px; padding-right: 5px; text-align: right;}
label.large{ width:150px; }
label.xl{ width:170px; }

.inline-block{ display:inline-block; }

.para p{ margin:0 0 15px; text-align:justify; }

/* table headings */
.table-title{
	color:#b8b9bb;
	display:block;
	background:#f3f3f4;
	padding:8px 10px;
	font-family: 'Corisande Bold';
	font-size: 14px;
}
/* end table headings */




.create-account,



.commission-stats,
.keyword-tracking-info,
.payment-history-info{
	border:1px solid #005488;
	border-top:0;
	padding:10px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}

.cell-container{
	border:1px solid #c3c3c3;
	padding:10px;
}
.forgot-cell-container{
	border:1px solid #005488;
	border-top:0;
	padding:10px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	background-color: #1d3c5c;
}
.forgot-password-container{
	border:1px solid #005488;
	border-top:0;
	padding:10px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;

}

.login-container{
	border:2px solid #FFFFFF;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color: #1d3c5c;
}

.login-container div{
	width:400px;
	margin-top: 11px;
}
.cell-container.zero-pad{
	padding:0;
}

.payment-history-info.info{
	padding:0;
}

.traffic-data.left{
	border-right:0;
	background:#ebfcff;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
}

.traffic-data.right{
	border-left:0;
	padding:2px 0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	border-bottom-left-radius:0;
}

.commission-data,
.traffic-data{
	padding:0 10px;
}

.logos:after{
	content:"";
	display:table;
	clear:both;
}

.selected{ background:#fff; }


.login-login p{
	margin:0;
	text-align:right;
}

.login-login p{
	color:#c00;
}

p.forgot-error,
p.login-error{
	text-align:left;
	margin-bottom:2px;
}

.login {
	padding:20px;
}
.login .title { 
	font-size: 20px; 
	padding-bottom: 4px;
}
.btns img{
	background:#1db1ec;
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

.btns img{ width:210px; }

.btns img:hover{
	background:transparent;
	-moz-box-shadow:inset 0 0 45px rgba(29, 177, 236, 1), inset 0 0 4px #000;
	-webkit-box-shadow:inset 0 0 45px rgba(29, 177, 236, 1), inset 0 0 4px #000;
	box-shadow:inset 0 0 45px rgba(29, 177, 236, 1), inset 0 0 4px #000;
}


.program-details table{
	border:1px solid #005488;
	border-radius:0 0 5px 5px;
}

.program-details table tr{
	background:rgba(29, 177, 236, .15);
}

.program-details table tr:hover{
	background:rgba(29, 177, 236, .35);
}

.program-details table strong{
	color:#1db1ec;
}

.program-details table tr:hover strong{
	color:#005488;
}

.program-details table tr:hover td{
	color:#0b6488;
}

.program-details table td{
	padding:10px;
}


.signup-leftcol h2,

.menu_text_indent_5 span{
	/* margin:10px 0 0; */
	font-size:16px;
	color:#000;
	font-weight:normal;
	font-family: 'Corisande Bold';
}

.menu_text_indent_5 span{
	margin-bottom:5px;
	display:inline-block;
}



.signup-leftcol p{ margin:0; }











.keyword-tracking-info input[type="text"],
.account-testimonial-info input[type="text"]{
	border:1px solid #ccc;
	margin:0 0 10px;
	width:100%;
	padding:10px 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow:0 0 3px #fff;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}











.keyword-tracking-info input[type="text"]:focus,
.account-testimonial-info input[type="text"]:focus{
	border:1px solid #1db1ec;
	box-shadow:0 0 3px #1db1ec;
}

.keyword-tracking-info input[type="text"]{
	margin:5px 0;
}







.account-testimonial-info input[type="text"]{ width:300px; }






/*.payme{ margin:0 0 10px; }
.payme label{ width:150px; }*/

img.verify{
	height:34px;
	margin:1px 0 0 -114px;
}



.invoice{
	margin-top:10px;
}

.textarea-lrg{ 
	width:450px;
	height:175px;
}

.textarea-lrg{
	-moz-transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

.textarea-sml:focus,
.textarea-med:focus,
.textarea-lrg:focus{
	border:1px solid #1db1ec;
	box-shadow:0 0 3px #1db1ec;
}

.border-solid-grey{ border:1px solid #cccccc; }

.height150{ height:150px; }





.terms-conditions textarea{
	margin:0 auto;
	display:block;
	width:80%;
}

.terms-conditions p{ text-align:center; }

.site-switch img{
	width:160px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

span.clear{
	clear:both;
	display:block;
	margin-bottom:5px;
}

.notice{
	width:950px;
	height:36px;
	background:transparent url('../images/orange-bg.jpg') repeat-x;
	margin:0 auto;
}
.notice span{
	text-align: center;
	padding: 10px;
	display: block;
}
.notice-new-brands{
	width:950px;
	background-color:#FFFFFF;
	margin:0 auto;
	margin-top: 20px;
}
.notice-new-brands span{
	text-align: left;
	display: block;
	font-family: 'Gibson Light';
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}
/*site statistics table*/
.statistics-table table {
	margin-top: 25px;
	border-collapse: collapse;
}
.statistics-table thead th {
	background-color: transparent;
	color: #000000;
}
.statistics-table thead th div{
	width: 100%;
	height: 40px;
}
.statistics-table thead th .v2-logo{
	background:transparent url('../images/logos/logo_v2.jpg') no-repeat;
	background-position: center; 
}
.statistics-table thead th .vapour2-logo{
	background:transparent url('../images/logos/logo_eu.jpg') no-repeat;
	background-position: center; 
}
.statistics-table thead th .vc-logo{
	background:transparent url('../images/logos/logo_vc.jpg') no-repeat;
	background-position: center; 
}
.statistics-table thead th img{
	margin: auto 0;
}
.statistics-table td:first-child {
	width: 20%;
	text-align: left;
	color: #848689;
	font-family: "Corisande Bold";
	font-size: 14px;
	padding-left: 10px;
}

.statistics-table th, .statistics-table td {
	width: 20%;
	padding: 0;
	text-align: center;
	font-size: 16px;
}

.statistics-table thead th {
	font-family: "Corisande Bold";
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}

.statistics-table tbody {
	font-family: 'Gibson Light';
	font-size: 16px;
	border: 1px solid #bbbbbb;
}

.statistics-table thead tr {
	height: 40px;
}

.statistics-table tbody tr {
	height: 35px;
}
.statistics-table tbody tr:nth-child(odd) {
    background-color: #f3f3f4;
}
.statistics-table th:last-child{
	text-align: right;
}
.statistics-table td:last-child {
	width: 20%;
	font-family: "Gibson Regular";
	font-size: 16px;
	text-align: right;
	padding-right: 10px;
}
/* new swith tabs */
.navigation-tabs {
	background-color:#FFFFFF;
	width:950px;
	margin:0 auto;
}
.navigation-tabs ul{
	margin: 20px 0 0 0;
	list-style:none;
	position:relative;
	z-index:2;
	top:1px;
	display:table;
	border-left:1px solid #bbbbbb;
	padding-left: 0px;
}
.navigation-tabs ul li {
	float:left;
}
.navigation-tabs ul li a {
	background:#e1e1e1;
	color:#222;
	display:block;
	padding:6px 5px;
	text-decoration:none;
	border-right:2px solid #bbbbbb;
	border-top:2px solid #bbbbbb;
	border-right:2px solid #bbbbbb;
	border-bottom:2px solid #bbbbbb;
	/*line-height: 50px;*/
}
.navigation-tabs ul li a.selected {
	border-bottom:2px solid #fff;
	background:#fff;
}
/* site switch tabs */
.statistics{
	width:950px;
	height:330px;
	background:transparent url('../images/stats-bg.jpg') no-repeat;
	margin:0 auto;
}

.statistics.v2{
	background-position:-184px 0px;
}

a.hover-v2:hover .statistics.v2,
.active .statistics.v2{
	background-position:-184px -333px;
}

.statistics.vc{
	background-position:-382px 0px;
}

a.hover-vc:hover .statistics.vc,
.active .statistics.vc{
	background-position:-382px -333px;
}

.statistics.vv{
	background-position:-580px 0px;
}

a.hover-vv:hover .statistics.vv,
.active .statistics.vv{
	background-position:-580px -333px;
}

.statistics.go{
	background-position:-774px 0px;
}

.hover-v2,
.hover-vc,
.hover-vv{
	color:#333;
}

.statistics.fill{
	width:3px;
	float:left;
	background-position:-378px 0;
}

.statistics.fill2{
	width:4px;
	float:left;
	background-position:-575px 0;
}

.statistics.title{
	float:left;
	height:330px;
	width:184px;
}

.stats-title{
	display:inline-block;
	width:160px;
	padding:11px 0 14px 15px;
	color:#f1f1f1;
	font-weight:bold;
	font-size:14px;
}

.stats-title.first{
	margin-top:14px;
}

.statistics.go{
	float:left;
	height:330px;
	width:176px;
}

.statistics.go p{
	margin:55px 0 0;
	color:#fff;
	font-weight:bold;
	padding-left:16px;
	font-size:18px;
	text-shadow:-2px 2px #333;
}

.stats-heading{
	text-shadow:-2px 2px #333;
}

.statistics.v2,
.statistics.vc,
.statistics.vv{
	float:left;
	height:330px;
	width:194px;
}

.stats-data,
.stats-button{
	background:rgb(255, 255, 255);
}

.stats-data,
.stats-button{
	display:inline-block;
	width:175px;
	background:rgba(255, 255, 255, .7);
	text-align:center;
	margin:0 0 5px 9px;
	padding:8px 0;
	font-weight:bold;
	font-size:16px;
}

.stats-button{
	width:160px;
	background:rgba(0, 0, 0, .7);
	color:#fff;
	margin-left:15px;
	padding:12px 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-weight:bold;
}

.stats-button.vc{
	margin-left:13px;
}

.stats-button.vv{
	margin-left:12px;
}

.stats-data.first{
	margin-top:93px;
}

.stats-data.go{
	width:155px;
	margin-left:15px;
	color:#fff;
	font-weight:bold;
	background:none;
	font-size:16px;
	padding:10px 0 6px;
}

.statistics.vv .stats-data{
	margin-left:10px;
}

.statistics.go .stats-data.first{
	margin-top:15px;
}

.nomargins {
	margin:0px;
	padding: 4px;
}

a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}

.left-nav ul{
	padding:0;
	margin:3px 0 0;
}

.left-nav li{
	padding:0;
	margin:0;
	list-style:none;
	margin-left:7px;
	font-size:12px;
}

.left-nav li a{
	display:block;
	margin-bottom:10px;
	color:blue;
	font-family: 'Gibson Light';
	font-size: 12px;
}

.left-nav li a:hover { background-position:right; color: #2a6eb4; }
.left-nav ul li a.selected{ background-position:right; 
text-decoration: underline;}

.menu_text_indent_5 td{
	padding:0 15px 20px 0;
}

.cells.left{ width: 120px; padding:10px 0; }
.cells.right{ width:50px; padding:10px 0; }

.notes-subject{
	font-size:18px;
	color:#1db1ec;
	margin:5px 0 15px;
}

.choose-creport{
	border:1px solid #ccc;
	border-radius:5px;
	padding:5px 3px;
	margin-right:20px;
}

.choose-creport.margin{
	margin-top:10px;
}

.img-max-width img,
.img-max-width embed {
	max-width:670px;
}

.alternate-links{
	padding:10px;
	background:#eaf9ff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.testimonial-submit{
	margin:10px 0 0;
	text-align:center;
}

table.invoice {
	border-spacing: 0px;
	border:0px none white;
	border-collapse: collapse;
	background-color: #F9F9F9;
}

table.invoice_sub {
	border-spacing: 0px;
	border:0px none white;
	border-collapse: collapse;
	background-color: #FFFDE3;
}

table.invoice td {
	border-width: 1px;
	border-style: solid;
	border-color: #DDE3F9;
	background-color: #F4F6FD;
	padding: 2px 2px 2px 2px;
	text-indent: 4px;
	height: 26px;
}

table.invoice_data {
	border-spacing: 0px;
	border:0px none white;
	border-collapse: collapse;
	padding: 6px 6px 6px 6px;
}

table.invoice_data td {
	border-width: 1px;
	border-style: solid;
	border-color: #EFF4FC;
	padding: 6px 6px 6px 6px;
	height: 26px;
}

table.invoice_dataSub {
	border-spacing: 0px;
	border:0px none white;
	border-collapse: collapse;
	padding: 4px 4px 4px 4px;
}

table.invoice_dataSub td {
	border-width: 1px;
	border-style: solid;
	border-color: #EFF4FC;
	padding: 4px 4px 4px 4px;
	height: 26px;
}

input.button {
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	background-color:#ffa200;
	border:1px solid;
	border-top-color:#777777;
	border-left-color:#777777;
	border-right-color:#243;
	border-bottom-color:#243;
}

input.install_button {
   	font-family: Helvetica, Arial, sans-serif;
   	font-size:90%;
	height: 20px;
	width: 125px;
}

input.red_button {
   	color:#FFFFFF;
   	font-family: Arial, Helvetica, sans-serif;
   	font-size:100%;
   	font-weight:bold;
   	background-color:#CC0000;
   	border:1px solid;
   	border-top-color:#777777;
   	border-left-color:#777777;
   	border-right-color:#243;
   	border-bottom-color:#243;
}

.ReportsButton {
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 125px;
	height: 20px;
}

.kits-sold{
	margin:99px 0 0 28px;
	width:165px;
	text-align:center;
	font-size:28px;
	color:#096499;
}

.earned{
	margin:57px 0 0 25px;
	font-size:28px;
	width:143px;
	text-align:center;
	color:#008429;
}

.dashboard_title { font-size:23px;font-family:arial;color:#3882af;font-weight:bold;border-bottom:1px solid #3882af;margin:10px; }
.brand_dashboard_title {
	font-size:24px;
	font-family:'Corisande Bold';
	color:#000;
	margin-top: 25px;
}
.brand_dashboard_title span{
	font-size:12px; 
	margin-top:-5px;
	font-family:'Corisande Light';
}
.payout-details:after{
	content:"";
	display:table;
	clear:both;
}

.other-details{
	width:858px;
	margin:30px auto 0;
	padding:25px 20px;
	background:#f1f1f1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow:inset -1px -1px 4px #888;
}

.other-details div{
	width:230px;
}

.payout-details div{
	padding:25px 20px;
	background:#f1f1f1;
	box-shadow:inset -1px -1px 4px #888;
}

.level,
.od-title{
	color:#1db1ec;
	font-size:26px;
}

.money{
	font-size:26px;
	font-weight:bold;
	letter-spacing:1px;
	margin:5px 0 0;
	display:inline-block;
}

.other-details strong{
	color:#f00;
}


/* ordered and unordered lists */
.ordered-list,
.unordered-list{
	margin:0 0 15px;
	padding:0 0 0 30px;
}

.ordered-list li,
.unordered-list li{ margin:10px 0 0; }

.unordered-list li{ list-style:square; }

.ordered-list .first,
.unordered-list .first{ margin-top:5px; }
/* end ordered and unordered lists */

/* Font Sizes */
.font-xl{ font-size:32px; }
.font-museo-xl{ font-size:32px; font-family: Museo-500;}
.font-lrg{ font-size:26px;}
.font-museo-lrg{ font-size:26px; font-family: Museo-500;}
.font-med{ font-size:22px; }
.font-museo-med{ font-size:22px; font-family: Museo-500;}
.font20{ font-size:20px; }
.font19{ font-size:19px; }
.font18{ font-size:18px; }
.font17{ font-size:17px; }
.font16{ font-size:16px; }
.font15{ font-size:15px; }
.font14{ font-size:14px; }
.font13{ font-size:13px; }
.font12{ font-size:12px; }
.font-museo500 {font-family: Museo-500; font-size: 25px; color: #44abd5; padding-top:20px; padding-top:0px\9; *padding-top:0px; _padding-top:0px; padding-right:30px; padding-left:30px; padding-bottom:0px;}
.font-museo15 {font-family: Museo-500; font-size: 15px; color: #64d3f7;}
.font-museo13 {font-family: Museo-300; font-size: 13px; color: #0a3c5f; line-height: 14.5px;}
.font-museo100 {font-family: Museo-100; font-size: 13px; color: #f9a247; line-height: 15px;}
.font-museo300 {font-family: Museo-300; font-size: 13px; color: white; line-height: 16px;}

.help-container{
	margin:-6px 0 0 99px;
	border:1px solid #006699;
	background:#fff;
	box-shadow:-2px 3px 4px #555;
}

.pseudo1{
	margin:-15px 0 0 435px;
	display:block;
	border-left: 15px solid transparent;
	border-right:15px solid transparent;
	border-bottom:15px solid #006699;
}

.pseudo2{
	margin:-13px 0 0 436px;
	display:block;
	border-left: 14px solid transparent;
	border-right:14px solid transparent;
	border-bottom:14px solid #ffffff;
	z-index:10;
}

.help-info{
	line-height:18px;
}

.bull-inside{ list-style-position:inside; }
.bull-square{ list-style-type:square; }


.pointer{ cursor:pointer; }

.contentTop{
    height:80px;
    text-align: center;
    padding-top: 30px;
    background:#ffffff;
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #7FBFD4 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #7FBFD4 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #7FBFD4 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #7FBFD4));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #7FBFD4 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #FFFFFF 0%, #7FBFD4 100%);  
}
.contentBottom{
    height:100px;
    background:#f5f5f5;
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #7FBFD4 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #7FBFD4 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #7FBFD4 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #7FBFD4));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #7FBFD4 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #7FBFD4 100%);  
}
.separator-bottom{
    border-top:solid 2px #89b9ca;
    height:2px;
    font-size:0;
    line-height:0;
    padding-top:0px;
    width:90%;
    margin:25px auto 0 auto;
}
.separator-top {
    border-top:solid 2px #89b9ca;
    height:2px;
    font-size:0;
    line-height:0;
    padding-top:0px;
    width:90%;
    margin: -10px auto 25px auto;
}
.socialbarcontainer {
	background-image: url(../images/footer_bg.jpg);
	background-repeat: repeat-x;
	height: 129px;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}
.newsfeedcontainer {
	width: 1031px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
/* General Stats Accordion */
.ac-container{
	/*margin: 10px auto 30px auto;*/
	text-align: left;
}
.ac-container div > label{
	font-family: 'Corisande Bold';
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #848689;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 14px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container div > label:hover{
	/*background: #fff;*/
}
.ac-container div > input:checked + label,
.ac-container div > input:checked + label:hover{
	background: #f3f3f4;
	color: #848689;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
/*.ac-container div > label:hover:after,
.ac-container div > input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}*/
.ac-container div > label:after,
.ac-container div > input:checked + label:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container div > input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container div > input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	/*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: auto;
}
/* Code for FAQ Accordion */
.accordion {
	width: 865px;
	font-family: Museo-500;
	
}
.accordion label {
	position: relative;
	display: block;
	padding: 3px 10px;
	margin-top: 2px;
	height: 38px;
	border-top: 2px solid #9AD4E7;
	background-color: #69c0dc;
	color: #fff;
	text-align: left;
	vertical-align: middle;
/*	text-shadow: 2px 2px #2A7EA1;*/
	font-weight: bold;
	line-height: 17px;
	cursor: pointer;
	width: 749px;
	border-bottom: 2px solid #2C9CC0;
	font-size: 15px;
}
.accordion label:hover {
	background-color: #69c0dc;
	width: 749px;
}
.accordion input:checked + label,
.accordion input:checked + label:hover {
	background-color: #69c0dc;
	width: 749px;
}
.accordion input {
	display: none;
}
.accordion article {
	position: relative;
	overflow: hidden;
	height: 0;
/*	box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.2);*/
	transition: height 0.5s ease-in-out;
	width: 809px;
}
.accordion input:checked ~ article {
	height: 155px;
}
.accordion input:checked ~ #no5 {
	height: 369px;
}
.accordion input:checked ~ #no9 {
	height: 475px;
}
.accordion input:checked ~ #no14 {
	height: 347px;
}
.accordion input:checked ~ #no16 {
	height: 181px;
}
.accordion input:checked ~ #no18 {
	height: 239px;
}
.accordion input:checked ~ #no20 {
	height: 289px;
}
.accordion input:checked ~ #no21 {
	height: 289px;
}
.accordion input:checked ~ #no24 {
	height: 268px;
}
.accordion input:checked ~ #no27 {
	height: 208px;
}
.accordion input:checked ~ #no32 {
	height: 183px;
}
.accordion article p {
	margin: 0;
	padding: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #165783;
}
/* End of Code for FAQ Accordion */
#blurblink a
{
	color: #f79127;
	text-decoration: underline;
}
#blurblink a:visited
{
	color: #f79127;
	text-decoration: underline;
}
#blurblink a:hover
{
	color: #F9B268;
	text-decoration: underline;
}
.section {
	width:950px;
	margin:auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.section:after {
	clear: both;
	display: block;
	content: '';
}
.section p { font-size: 14px; }
.text-column-third { 
	width: 30%;
    float: left;
    padding-right: 3%;
    text-align: justify;
}
.section .details {
	width: 60%;
    float: left;
}
.section.header { padding-bottom: 0; padding-top: 0;}
.section .infographic {
	width: 40%;
    float: left;
}
.tier {
	clear: both;
}
.tier .bullets {
	font-size: 14px;
}
.bullets.copy p {
    padding-top: 5px;
}
.gibson-semibold { font-family: 'Gibson Semibold'; }

.footer { text-align:center; }
.section.footer { border-top: 1px solid #aaa;}

a.group2-Prev { display: none; }
a.group2-Next { display: none; }

.greeting-text {
	position:absolute;
	bottom:15px;
	right:0;
}
.promo-msg{
	padding: 10px;
    background-color: #f7a01d;
    font-weight: bold;
}
.promo-msg-text{
	font-size:16px;
}

