/* close link */
.dialog-close { position: absolute; top: 5px; right: 10px; font-size: 20px; cursor: pointer; color: #444; text-decoration: none; z-index: 12 }
.dialog-close:hover { color: black }

.jqmWindow {
	display: none;
	position: fixed;
	color: #333;
}
.jqmWindow_old {
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 10px;
	padding-bottom:20px;
}
.jqmOverlay { background-color: #000; }

/*#jqmHead {float: right; width: 50px;}*/
#jqmWaiting { display: none; padding: 10px 10px 20px; background-color: #ffffff;border: 1px solid #000000;}

.b-copy-popup {
	background-color: #fff;
}
.h-popup-wrapper {
	margin-top: 2%;
	margin-left: 2%;
}
.b-enter {
	width:481px;
	background-color: #fff;
	padding-bottom: 32px;
	float: left;
}
.b-header {
	width:100%;
	height: 60px;
	background-color: #e95547;
	display: table;
	text-align: center;
	position: relative;
	border-right:1px #e95547 solid;
}
.b-header_green {
	background-color: #1bbc9b !important;
}
.b-header-l-green {
	background-color: #7ACB53 !important;
}
.b-header_grey {
	background-color:#e4e4e4 !important;
}
.b-header__title {
	color: #FFFFFF;
	display: table-cell;
	font-size: 20px;
	height: 100%;
	vertical-align: middle !important;
	width: 100%;
}
.b-header_grey .b-header__title {
	color: #000;
}

.b-header__title-tip {
	color: #FFFFFF;
	font-size: 20px;
	margin-top: 20px;
	position: absolute;
	width: 100%;
}
.b-header__close-link {
	text-decoration: none !important;
	position: absolute;
	right: 5px;
	top:0;
	font-size: 22px;
	color: #000 !important;
	opacity: 0.5;
}
.close-tip {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	margin-right: 5px;
}
.close-cross {
	display: inline-block;
	vertical-align: middle;
}
.b-header__close-link:hover {
	color: #000;
	opacity: 1;
}
.b-enter__date-text {
	margin-bottom: 10px;
	font-size: 14px;
}
.b-enter__vacname {
	font-size:16px;
	font-weight:bold;
	padding-left: 13px
}
.b-enter__vaclink {
	padding-left: 15px;
}
.b-enter__vaclink:hover, .b-enter__vaclink:visited {
	color:#0b84d9;
}
.b-form {
	width:54%;
	margin:32px auto 0;
}
.b-form_wide {
	width: 90% !important;
}
.b-popup-inside {
	padding:25px 20px 0;
}
.mt_32{
	margin-top: 32px;
}
.b-enter__text {
	font-size: 12px;
	color:#999999;
}

.b-enter__body_pads {
	padding:24px 20px 34px 16px;
}

.b-enter__text_undernote2 {
	text-align:center;
	width:120%;
	margin-left: -10% !important;
	margin-bottom: 10px;
}
.b-enter__regist-link {
	margin-top:10px;
}
.b-enter__text_undernote3 {
	margin-top: 15px;
	text-align:center;
	width:117%;
	margin-left: -5%;
	margin-bottom: 5px;
}

.b-form__text-1 {
	width:30px;
	margin-right: 5px;
	height:30px;
	border-radius: 0 !important;
	border:1px solid #c3c3c3 !important;
	border-top: 2px solid #c3c3c3 !important;
	border-left: 2px solid #c3c3c3 !important;
	color:#000;
	font-size: 16px;
	padding: 2px 10px !important;
}

.b-form__text-3 {
	width:251px !important;
	margin-right: 10px;
	float:right;
	height:30px;
	border-radius: 0 !important;
	border:1px solid #c3c3c3 !important;
	border-top: 2px solid #c3c3c3 !important;
	border-left: 2px solid #c3c3c3 !important;
	color:#000;
	font-size: 16px;
	padding: 2px 10px !important;
}
.b-form__text-input {
	width:99%;
	height:30px;
	border-radius: 0 !important;
	border:1px solid #c3c3c3 !important;
	border-top: 2px solid #c3c3c3 !important;
	border-left: 2px solid #c3c3c3 !important;
	color:#000000;
	text-align: center;
	font-size: 16px;
}
.b-form__text-input_left {
	padding: 0 0 0 10px !important;
	width: 95% !important;
	height:30px;
	border-radius: 0 !important;
	border:1px solid #c3c3c3 !important;
	box-shadow: 1px 1px 1px #E6E6E6 inset;
	color:#000;
	font-size: 16px;
	background: #fff;
}
.b-form__text-input_bottom {
	margin-top: 16px;
}
.b-form__text-input_middle {
	margin-top: 16px;
}

.b-form__textarea {
	width: 100%;
	margin-top: 7px;
	resize:vertical;
}
.b-form__textarea1 {
	height:90px;
	margin-bottom: 10px;
}
.b-form__textarea2 {
	height:30px;
}
.b-form__labels {
	bottom: 27px;
	color: #999999;
	font-size: 16px;
	left: 27%;
	position: relative;
}
.b-form__labels_email {
	left: 43% !important;
}
.b-form__labels_left {
	left: 5% !important;
}
.b-form__labels_surname {
	left: 38% !important
}
.b-form__labels_name {
	left: 45% !important
}
.b-form__labels_psw {
	left: 40% !important;
}
.b-form__link-button {
	height: 24px !important;
	padding-top: 9px;
	text-align: center;
	text-decoration: none;
	color:#fff;
}
.b-form__link-button:hover {
	color: #fff;
}
.b-form__button {
	margin: 32px 0 32px -100px;
	width: 150px;
	position: relative;
	left: 50%;
}
.b-form__button_left {
	display:inline-block;
	vertical-align:top;
	margin-right: 10px;
	width:35% !important;
	margin-left:16% !important;
	margin-top: 0!important;
}

.b-form__button_center {
    display:inline-block;
    vertical-align:top;
    width:35% !important;
    margin-left:38%;
    margin-top: 0!important;
}
.blue_btn {
	background: none repeat scroll 0 0 #3698D9;
	border: medium none;
	box-shadow: 1px 1px 0 0 #00538D;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	height: 31px;
	line-height: 30px;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
}
.blue_btn:hover {
	color: #fff;
}
.btn_center {
	margin:32px auto;
	display:block;
}
.text-betw-buttons {
	padding-top:7px;
	display:inline-block;
	margin-right: 5px;
	margin-left: 5px;
}
.b-form__button_right {
	display:inline-block;
	vertical-align:top;
	margin-left: 10px;
	width:34.87% !important;
	margin-right:0 !important;
	background-color:#1bbc9b !important;
	margin-top: 0!important;
}

.b-form__button_auto {
	display: inline-block;
	width: auto;
	padding: 6px 9px;
	height: auto !important;
	margin:0;
}

.b-form__button_regist {
	width: 70% !important;
	display:block;
	margin:32px auto 22px !important;
}
.b-form__left-label {
	padding-left: 10px !important;
	text-align: left !important;
}

/* only remind form*/
.b-form__button_getpsw {
	margin: 32px 20% 0 20% !important;
	width: 60% !important;
}

.b-form__button_send {
	margin: 22px 0 0 37% !important;
	width:30% !important;
}
.b-form__restore-psw {
	display: block;
	font-size: 14px;
	color: #999999;
	text-align: center;
}
.b-form__restore-psw:hover, .b-form__restore-psw:visited {
	color: #999999;
}
.b-form__register-link {
	display: block;
	font-size: 18px;
	color: #0b84d9;
	text-align: center;
	margin-top: 32px;
}
.b-form__register-link:hover, .b-form__register-link:visited {
	color: #0b84d9;
}

.b-socnetw {
	background: #fff;
	padding: 17px 24px 15px;
	height: auto;
	float: left;
	width:200px;
	left: 489px;
	top: 100px;
	position: relative;
}
.b-send-to-friend {
	width:400px;
}
.b-socnetw_regist {
	padding: 12px 20px 0 24px !important;
	position: absolute;
	/*left:489px;*/
	top: 100px !important;
}
.b-socnetw_regist2 {
	background: #fff;
	padding: 5px 5px 5px 13px;
	height: auto;
	width:180px;
	margin-top: 10px;
	border: 1px solid #3598DB;
	position: absolute;
	z-index: 1;

}
.b-socnetw__send-cv {
	top: -330px;
}

.b-socnetw__title {
	font-size: 14px;
	font-weight:bold;
	color:#333333;
	margin-bottom: 14px;
}
.b-socnetw__text {
	font-size: 14px;
	color:#333333;
	margin-top: 5px;
	margin-bottom: 10px;
}
/*.b-socnetw__text_regist {
	margin-top: 0 !important;
}*/
.b-form__psw-checkbox {
	margin-left:-140px;
}
.b-form__psw-checkbox__label {
	padding-left:5px;
}
.b-form__psw-checkbox__div {
	margin-top: 8px;
}

.b-socnetw__icon {
	display: inline-block;
	height: 39px;
	margin-bottom: 7px;
	margin-right: 5px;
	vertical-align: top;
	width: 39px;
}
.b-socnetw__icon_facebook {
	background: url(../img/social_icons.png?v=20150624) no-repeat 0 0 !important;
}
.b-socnetw__icon_vkontakte {
	background: url(../img/social_icons.png?v=20150624) no-repeat -78px 0px !important;
}
.b-socnetw__icon_odnoklassniki {
	background: url(../img/social_icons.png?v=20150624) no-repeat -195px 0 !important;
}
.b-socnetw__icon_mailru {
	background: url(../img/social_icons.png?v=20150624) no-repeat -156px 0 !important;
}
.b-socnetw__icon_yandex {
	background: url(../img/social_icons.png?v=20150624) no-repeat -234px 0 !important;
}
.b-socnetw__icon_google {
	background: url(../img/social_icons.png?v=20150624) no-repeat -273px 0 !important;
}


.send-cv-link {
	float:right;
	font-size:12px;
	clear:both;
}
.send-cv-link:hover,.send-cv-link:visited {
	color: #0b84d9;
}
.cv-label {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding-left: 12px;
	vertical-align: top;
	width: 50%;
}
.cv-text {
	padding-left:32px;
	font-size: 16px;

}
.cv-text_red {
	color:#e74c3c;
	font-size: 12px;
}
.b-cov-letter {
	margin-top:20px;
	margin-bottom: 36px;
}
.b-cov-letter__title {
	font-size:14px;
	margin-top:27px;
}
.no-access-popup-body {
	padding: 27px 20px 20px 20px;
}
.compare_big.resume2 {
	background-position: -57px 0;
}
.compare_big.resume3 {
	background-position: -114px 0;
}
.no-access-popup-tbl {
	margin-top: 18px;
}

.resume2.no-access-popup-icon {
	display: table-cell;
	background-position: -57px -4px !important;
}
.resume3.no-access-popup-icon {
	display: table-cell;
	background-position: -114px -4px !important;
}
.no-access-popup-body .b-popup-button {
	margin-bottom: 0;
	height: 34px !important;
	padding: 0 13px !important;
}
.no-access-popup-icon_descr {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}
.b-cov-letter__hidelink {
	padding-left: 3.25%;
	font-size: 12px;
}
.b-cov-letter__hidelink:hover, .b-cov-letter__hidelink:visited {
	color: #0b84d9;
}
.b-enter__subtitle{
	margin-top: 20px;
	padding-left: 5.23%;
	font-size: 14px;
}
.b-enter__link_12 {
	font-size:12px;
}
.b-enter__link_12:hover,.b-enter__link_12:visited {
	color: #0b84d9;
}


.b-enter__link_14 {
	font-size:14px;
}
.b-enter__link_14:hover, .b-enter__link_14:visited {
	color: #0b84d9;
}
.b-enter__link_18orange {
	font-size:18px;
	color:#d24732;
}
.b-form__button_sendcv {
	margin-top:32px;
}
/*селекты и инпуты*/
/*.b-input-wrap {
	border: 1px solid #C3C3C3;
    width: 30%;
	margin-bottom: 17.5px;
	display: inline-block;
    position: relative;
	overflow:hidden;
	height: 26px;
}*/
.b-input-wrap__input {
	width:72px;
	height:22px;
	z-index: 100;
	color:#000;
	border-top:2px solid #c3c3c3 !important;
	border-left:2px solid #c3c3c3 !important;
	border-bottom: none;
	border-radius: 0 !important;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px !important;

}
.inp-txt__crct {
	font-size:16px;
	height:28px;
	padding: 0px 0px 0px 10px !important;
	box-shadow: 1px 1px 1px #E6E6E6 inset;
	border-width: 1px !important;
}

.b-select-wrap {
	border: 1px solid #C3C3C3;
	width: 102px;
	display: inline-block;
	position: relative;
	overflow:hidden;
	margin-right: 6px;
	margin-left: 6px;
}
.slct .b-select-wrap {
	width: auto !important;
	margin-left: 0 !important;
}
.b-select-wrap_wide {
	width: 94% !important;
}
.b-select-wrap__select_year {
	width: 20%;
}

.b-select-wrap__select {
	width:120%;
	height:26px;
	cursor:pointer;
	z-index: 100;
	position: relative;
	background:none;
	/*color:#999999; W!T!F! */
	border-top:1px solid #c3c3c3;
	border-left:1px solid #c3c3c3;
	border-bottom: none;
	padding-top:2px;
}
.b-date-of-birth {
	margin-right: 21px;
	display:inline-block;
	width:69%;
	margin-top:16px;
}
.b-date-of-birth .b-select-wrap__select {
	border-top:1px solid #c3c3c3;
	border-left:1px solid #c3c3c3;
}
.b-experience {
	display:inline-block;
	width: 102px;
	margin-top:16px;
	float:right;
	margin-right: 11px;
}
.h-mob {
	margin-top:16px;
}
.mob {
	color: #999999;
	margin-bottom:17px;
}
.b-socnetw__title1 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	padding: 0 5px !important;
	font-size:12px;
}
.b-socnetw__icon_sm {
	display: inline-block;
	width:22px;
	height:22px;
	padding-right:4px;
}
.b-socnetw__icon_fb1 {
	background: url("../img/sprite2.png") no-repeat 0 0 !important;
}
.b-socnetw__icon_vk1 {
	background: url("../img/sprite2.png") no-repeat -56px 0 !important;
}
.b-socnetw__icon_odn1 {
	background: url("../img/sprite2.png") no-repeat -113px 0 !important;
}
.b-socnetw__icon_mail1 {
	background: url("../img/sprite2.png") no-repeat -170px -1px !important;
}
.b-socnetw__icon_ya1 {
	background: url("../img/sprite2.png") no-repeat -227px 0 !important;
}
.b-socnetw__icon_google1 {
	background: url("../img/sprite2.png") no-repeat -278px 0 !important;
}
.grey_link {
	color:#666666;
}
.grey_link:hover,.grey_link:visited{
	color:#666666;
}
.cv-short-view:not(:last-child) {
	margin-bottom: 10px;
}
.popup-horn {
	background: url("../img/horn.png") no-repeat;
	height: 32px;
	left: 489px;
	position: absolute;
	top: 69px;
	width: 32px;
}
.horn-sm {
	background: url("../img/horn-sm.png") no-repeat;
	height: 8px;
	left: 50%;
	margin-left: -8.5px;
	position: absolute;
	top: -8px;
	width: 17px;
}
/* Заявка на получение рекомендаций */
.b-bl-popup-inside {
	padding: 20px 20px 0 16px;
}
.h-mob input.phone_country {
	padding-left: 5px !important;
	width: 35px;
}
.h-mob input.phone_city {
	padding-left: 5px;
	width: 60px;
}
.h-mob input.phone_number {
	padding-left: 5px;
	vertical-align: top;
	width: 235px;
}
.h-mob input.phone_country,
.h-mob input.phone_city,
.h-mob input.phone_number {
	box-shadow: 1px 1px 1px #E6E6E6 inset;
}

table.mob-table td label {
	font-size: 12px;
}
label.error{
	color: #FF0501;
}
/*Всплывашки по оплате*/
.payment-sign {
	background: url(../img/lk/payment-popup-sprite.png) no-repeat;
	margin: 19px auto 35px;
}
.payment-warn {
	width: 133px;
	height: 113px;
}
.payment-ok {
	background-position: -134px 0;
	width: 112px;
	height: 112px;
}
.my-resume-link {
	font-size: 18px;
	color: #0b84d9;
	display: block;
}
.b-join-popup {
	background:#fff;
	padding:20px;
}
.popup_hdr {
	font-size:14px;
	font-weight:bold;
}
/*Всплывашка после отклика на вакансию*/
.b-after-action-popup .popup-ok-icon {
	background: url(../img/lk/payment-popup-sprite.png) no-repeat -366px 0;
	width: 50px;
	height: 50px;
}
.b-after-action-popup .popup-person-icon {
    background: url(../img/lk/payment-popup-sprite.png) no-repeat -366px -50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.popup-ok-sent-icon {
	background: url(../img/lk/payment-popup-sprite.png) no-repeat -315px 0 !important;
}
.popup-ok-icon_big {
	background: url(../img/lk/payment-popup-sprite.png) no-repeat -248px 0;
	width: 64px;
	height: 64px;
	margin:0 auto;
}
.b-after-action-popup-top {
	padding: 18px 0 19px 44px;
}
.b-after-action-popup {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 764px;
}
.popup-ok-icon-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.b-top__txt {
	padding-left: 24px;
	display: table-cell;
	vertical-align: middle;
}
.b-top__title {
	font-size: 18px;
	margin-bottom: 2px;
}
.b-middle__title {
	font-size: 30px;
	margin-bottom: 14px;
	line-height: 1.1;
}
.b-gray-middle {
	background: #f4f4f4;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 19px 0 24px 44px;
	position: relative;
}
.b-middle-pic {
	background: url(../img/popup-example-pic.png) no-repeat;
	width: 260px;
	height: 427px;
	position: absolute;
	right: 0;
	top: 19px;
}
.b-expertise-pic {
    background: url(../img/paid_services/expertise_background.png) no-repeat;
    width: 337px;
    height: 427px;
    position: absolute;
    right: 0;
    top: 14px;
}
.b-gray-bottom {
	background: #e4e4e4;
	padding: 15px;
	display: table;
}
.b-bottom-act {
	display: table-cell;
	vertical-align: top;
	width: 315px;
	height: auto !important;
	padding-top: 20px;
}
.between-bottom-act {
	display: table-cell;
	width: 33px;
}
.b-bottom-act .b-accelerate-action__text {
	min-height: 0 !important;
	height: auto !important;
	margin-bottom: 38px;
	font-size: 12px;
}

.b-bottom-act .b-accelerate-action__premium {
	min-height: 0 !important;
	margin-bottom: 14px;
	font-size: 12px;
}

.b-gray-bottom .b-appl-actions__title {
	color: #333333;
	margin-bottom: 7px !important;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
.b-popup-buy__price {
	float: left;
	width: 108px;
}
.b-popup-buy__btn {
	float: left;
	width: 112px;
}
.b-popup-buy {
	clear: both;
	overflow: hidden;
	margin-bottom: 14px;
}
.b-popup-buy__h {
	display:inline-block;
	width:49%;
	vertical-align: top;
	padding-bottom:1px;
}
.i-after-action-popup_center-wrap {
	padding: 30px 0 28px 0;
	text-align: center;
	width: 365px;
	margin: 0 auto;
}
.after-action-title {
	font-size: 18px;
	margin-top: 22px;
	margin-bottom: 10px;
}
.b-after-action-ok-btn {
	margin: 26px auto 0;
	display: block;
	width: 109px;
}
.b-under-popup-msg {
	background-color: #f4f4f4;
	padding: 21px 0;
	text-align: center;
}
.b-under-popup-annotate {
    background-color: #E4E4E4;
    padding: 0px 15px 15px;
}
.b-under-popup-msg__txt {
	margin-bottom: 16px;
	font-size: 14px;
	color: #333333;
}
.b-after-action-popup .b-accelerate-action {
	background: #ffffff;
	padding: 22px 20px 0 22px;
	border-bottom: 1px solid #cccccc;
	position: relative;
    height: 250px;
}
.b-after-action-popup .b-accelerate-action.first {
    margin-right: 16px;
}

.b-after-action-popup .b-appl-actions__icon {
	height: 72px;
	width: 71px;
	float: left;
	margin-right: 17px;
	margin-top: 2px;
}
.b-popup-buy__btn input.btn.lgray{
	display: inline-block;
	width: 100%;
	height: 32px;
	background: url(../img/lk/btn_lgray2.png) right top;
	color: #34495E;
	border: 0px;
}
.b-popup-buy__btn .popup-button {
	margin-top: 0 !important;
}
.b-bl-popup-inside .under-calendar-txt {
	color: #707070;
	line-height: 16px;
	font-size: 12px;
}
.b-bl-popup-inside .calend_box {
	margin-left: 0 !important;
}
.b-bl-popup-inside .blue_btn {
	padding: 0 32px !important;
	height: 33px;
	line-height: 33px;
	margin-bottom: 22px;
}
.activate-tariff-popup-pads {
	padding:24px 20px 34px 16px;
}
.activate-tariff-popup-pads .blue_btn {
	padding: 0 50px;
	height: 33px;
	line-height: 33px;
}
.b-after-action-tel {
	background: rgb(244,244,244);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgb(244,244,244) 0%, rgb(244,244,244) 55%, rgb(237,237,237) 81%, rgb(226,226,226) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(244,244,244)), color-stop(55%,rgb(244,244,244)), color-stop(81%,rgb(237,237,237)), color-stop(100%,rgb(226,226,226)));
	background: -webkit-linear-gradient(top, rgb(244,244,244) 0%,rgb(244,244,244) 55%,rgb(237,237,237) 81%,rgb(226,226,226) 100%);
	background: -o-linear-gradient(top, rgb(244,244,244) 0%,rgb(244,244,244) 55%,rgb(237,237,237) 81%,rgb(226,226,226) 100%);
	background: -ms-linear-gradient(top, rgb(244,244,244) 0%,rgb(244,244,244) 55%,rgb(237,237,237) 81%,rgb(226,226,226) 100%);
	background: linear-gradient(to bottom, rgb(244,244,244) 0%,rgb(244,244,244) 55%,rgb(237,237,237) 81%,rgb(226,226,226) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e2e2e2',GradientType=0 );
	position: relative;
	min-height:122px;
	padding:31px 0 30px 40px;
	border-top:1px #ccc solid;
	border-bottom:1px #c5c5c5 solid;
	overflow:hidden;
	margin:27px 0 0;
}
.b-after-action-tel-icon {
	position:absolute;
	bottom:0;
	right:38px;
	background: url(../img/zaman_bg.png);
	width:272px;
	height:203px;
}
.b-after-action-number {
	display:inline-block;
	color:#4fbd9c;
	vertical-align:top;
	width:205px;
	text-align:left;
}
.b-appl-actions__tlink {
	font-size:14px;
	font-weight: bold;
	text-decoration:none;
}
.b-appl-actions__h {
	margin:22px 65px -1px 65px;
	border-bottom:1px #cccccc solid;
	padding-bottom:18px;
}
.b-bot-popup__response {
	padding:12px 19px 11px;
	color:#a5a5a5;
	background:#f4f4f4;
	border-bottom: 1px #cccccc solid;
}
.b-appl-action__text {
	margin:4px 0 21px;
	color:#333333;
}
.history-services-head {
	background:#ccc;
	font-size:16px;
	padding:12px;
	color:#666;
	margin-top:15px;
}
.history-services-info {
	width:100%;
	border-collapse: collapse;
	font-size:12px;
	color:#666;
}
.history-services-info__item {
	padding:10px 12px;
	border-bottom:1px #ccc solid;
	vertical-align: top;
}
.history-services-info__dates {
	width:20%;
	white-space: nowrap;
}
.history-services-info__id {
	color:#999;
	white-space: nowrap;
}
