.b-profcom-header {
	background: #3b3b3d;
	padding: 15px 40px 15px 22px;
	color: #fff; margin: -24px -21px 10px;
}

.b-profcom-header_txt {
	float: right;
	margin: 6px 0 0;
}

.b-profcom-total {
	color: #697584;
	font-size: 12px;
	margin: 16px 0 17px;
}

.b-profcom-amount {
	font-weight: bold;
	color: #fff;
	background: #697584;
	padding: 1px 6px;
	border-radius: 4px;
	margin: 0 0 0 10px;
}

.b-profcom {
	width: 100%;
	text-align: justify;
	line-height: 0;
	font-size: 1px;
	text-justify: newspaper;
	zoom: 1;
}

.b-profcom:after {
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.b-profcom .b-profcom_col {
	width: 30%;
	display: inline-block;
	text-align: left;
	line-height: normal;
	font-size: 14px;
	vertical-align: top;
	/*display : inline;*/
	/*zoom : 1;*/
}

.b-profcom-theme {
	display: block;
	text-decoration: none;
	max-width: 246px;
	color: #fff !important;
	text-transform: uppercase;
	padding: 2px 9px;
	font-size: 9px;
}

.b-profcom-img {
	max-width: 100%;
	width: auto;
}

.b-profcom-title {
	font-weight: bold;
	font-size: 16px;
	margin: 12px 0 8px;
}

.b-profcom-col_txt { color: #666666; }

.bg_sea { background: #00b1bc; }

.bg_blue { background: #3498db; }

.bg_fio { background: #9b59b6; }

.color333 { color: #333; }

.tdn { text-decoration: none; }

.mb16 { margin-bottom: 16px; }
