@charset "utf-8";
/* CSS Document */
.b0 { border: none; }

.cdiv { margin-left: auto; margin-right: auto; }
.ldiv { margin-left: auto; margin-right: 100%; }
.rdiv { margin-left: 100%; margin-right: auto; }

/*.bxfix { margin: 0; border: none; padding: 0; }*/

.bd { font-weight: bold; }
.em { font-style: italic; }
.un,
a.un { text-decoration: underline; }
.itxt5 { text-indent: 5px; }

.iwrap { white-space: inherit; } /* isnt valid for IE6 */
.nowrap { white-space: nowrap; }

.ctxt { text-align: center; }
.ltxt { text-align: left; }
.rtxt { text-align: right; }

.w100 { width: 100%; }
.w95 { width: 95%; }
.w90 { width: 90%; }
.w75 { width: 75%; }
.w50 { width: 50%; }
.w25 { width: 25%; }
.w20 { width: 20%; }
.w10 { width: 10%; }

.h100 { height: 100%; }

.clr { clear: both; }
.lclr { clear: left; }
.rclr { clear: right; }

.lfloat { float: left; }
.rfloat { float: right; }
.nfloat { float: none; }
.ifloat { float: inherit; } /* float inherit isnt valid in IE6 */

.dblock { display: block; }
.dinline { display: inline; }
.dnone { display: none; }

.cp0 { padding: 0px; }
.cp1 { padding: 1px; }
.cp2 { padding: 2px; }
.cp3 { padding: 3px; }
.cp4 { padding: 4px; }
.cp5 { padding: 5px; }
.cp6 { padding: 6px; }
.cp7 { padding: 7px; }
.cp8 { padding: 8px; }
.cp9 { padding: 9px; }
.cp10 { padding: 10px; }

.cs0 { border-collapse: collapse; /*border-spacing: 0px;*/ border-width:0px; } /* border-spacing Doesnt exist in IE6 but border-collapse */

.bgw { background-color: white; }

/* account-signup.php */
.txt-required { font-size: small; color: #FF0000; }

/* account.php, admincp.php, staff.php, torrents-details.php */
.txt-black,
a.txt-black { color: #000000; }

.txt-red,
a.txt-red { color: #FF0000; }

.txt-green,
a.txt-green { color: #00FF00; }

.txt-orange,
a.txt-orange { color: #FF8040; }

.txt-purple,
a.txt-purple { color: #FF0080; }

/* mailbox.php */
#mailboxcomment { border: 1px solid #666666; padding: 10px; }

/* torrents.php */
#select-sort,
#select-order { font-family: Verdana, sans-serif; font-size: 9pt; border: 1px solid #000000; background-color: #CCCCCC; }

/* themelang_block.php */
#select-stylesheet,
#select-language,
#input-submit { font-family: Verdana, sans-serif; font-size: 9pt; color: #000000; border: 1px solid #808080; background-color: #C0C0C0; }

/* login_block.php */
#input-username, 
#input-password { font-family: Verdana, sans-serif; font-size: 9pt; font-weight: bold; border-width: 1px; background-color: #C0C0C0; }

#txt-username, 
#txt-password { font-family: Verdana, sans-serif; font-size: smaller; font-weight: bold; }

#submit-login { font-family: Verdana, sans-serif; font-size: 9pt; font-weight: bold; border-collapse: collapse; border-width: 1px; }

/* nfo-edit.php */
#nfocontents { border: 1px black solid; background: #eeeeee; font-family: verdana, arial, sans-serif; font-size: 12px; color: #000000; }
