/*
 * SimpleModal Login - WordPress Modal Ajax Login
 * Theme: rtp-simplemodal
 * Copyright 2014 Studio Fuel (http://www.studiofuel.com)
 */

#simplemodal-login-overlay-rtp {background-color:#ccc;}
#simplemodal-login-container-rtp {width:50%;}
#simplemodal-login-container-rtp .simplemodal-wrap{ padding: 30px;background: #ffffff; }
#simplemodal-login-container-rtp .message,
#simplemodal-login-container-rtp #login_error {background-color: #ffebe8; border:1px solid #c00; margin-bottom:8px; padding:6px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#simplemodal-login-container-rtp .message {background-color:#ffffe0; border-color:#e6db55;}

#simplemodal-login-container-rtp form {background:transparent; font-weight:normal; margin:0 auto; text-align:left; }
#simplemodal-login-container-rtp form label {color:#777; font-size:13px;}
#simplemodal-login-container-rtp form p {margin:0;}
#simplemodal-login-container-rtp form .forgetmenot {float: none;
													font-size: 11px;
													font-weight: normal;
													line-height: 19px;
													margin: 30px 0;}
#simplemodal-login-container-rtp form .submit input {background-color: #db5450;
													 border: 1px solid;
													 border-radius: 0;
													 color: #fff;
													 cursor: pointer;
													 float: left;
													 font-size: 14px;
													 font-weight: bold;
													 margin: 0 1px;
													 padding: 10px 20px;
													 text-decoration: none;
													 text-transform: uppercase;
													 width: 49%;}
#simplemodal-login-container-rtp form .submit {float:none; text-align: center}
#simplemodal-login-container-rtp form .submit input:hover { opacity: 0.9;}
#simplemodal-login-container-rtp form .submit input.simplemodal-close {background-color: transparent;border: 0 none;color: #db5450;margin: 10px 50px;padding: 0;width: auto;font-weight: normal;text-transform: none; font-size: 16px;}
#simplemodal-login-container-rtp form .submit input.simplemodal-close:hover {text-decoration: underline;}
#simplemodal-login-container-rtp .title {display: none;}
#simplemodal-login-container-rtp .nav {clear:both; color:#888; padding-top:16px; text-align:center;}
#simplemodal-login-container-rtp .nav a { color:#888; font-size: 16px;margin: 0 10px;}
#simplemodal-login-container-rtp .nav a:first-child { margin-left: 0;}

#simplemodal-login-container-rtp .reg_passmail { clear: both;
												 color: #666;
												 font-size: 16px;
												 font-weight: normal;
												 margin: 30px 0 35px;
												 padding: 0;
}
#simplemodal-login-container-rtp .user_pass,
#simplemodal-login-container-rtp .user_login,
#simplemodal-login-container-rtp .user_email {background: #eeeeee none repeat scroll 0 0;
											  border: 1px solid #ccc;
											  box-shadow: none;
											  font-size: 15px;
											  height: auto;
											  margin-bottom: 10px;
											  margin-right: 0px;
											  margin-top: 2px;
											  padding: 8px 15px;
											  width: 100%;}
#simplemodal-login-container-rtp .rememberme {vertical-align:middle; margin: 0;}
.simplemodal-login-activity {background:url(../img/default/loading.gif) center no-repeat; height:16px; margin-bottom:12px;}

#simplemodal-login-container-rtp .close {position:absolute; right:0;}
#simplemodal-login-container-rtp .close a {display:block; color:#777; font-size:14px; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:1px 1px 0 #f4f4f4;}
#simplemodal-login-container-rtp .close a:hover {color:#000; text-decoration:underline;}

