@font-face {
  font-family: 'rtpanel-fontello';
  src: url('../font/rtpanel-fontello.eot?51369629');
  src: url('../font/rtpanel-fontello.eot?51369629#iefix') format('embedded-opentype'),
       url('../font/rtpanel-fontello.woff?51369629') format('woff'),
       url('../font/rtpanel-fontello.ttf?51369629') format('truetype'),
       url('../font/rtpanel-fontello.svg?51369629#rtpanel-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rtpanel-fontello';
    src: url('../font/rtpanel-fontello.svg?51369629#rtpanel-fontello') format('svg');
  }
}
*/
 
 [class^="rtp-icon-"]:before, [class*=" rtp-icon-"]:before {
  font-family: "rtpanel-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.rtp-icon-facebook:before { content: '\e800'; } /* '' */
.rtp-icon-spin5:before { content: '\e801'; } /* '' */
.rtp-icon-search:before { content: '\e802'; } /* '' */
.rtp-icon-comment:before { content: '\e803'; } /* '' */
.rtp-icon-rss:before { content: '\e804'; } /* '' */
.rtp-icon-twitter:before { content: '\e805'; } /* '' */
.rtp-icon-pinterest-circled:before { content: '\e806'; } /* '' */
.rtp-icon-linkedin:before { content: '\e807'; } /* '' */
.rtp-icon-thumbs-up:before { content: '\e808'; } /* '' */
.rtp-icon-facebook-rect:before { content: '\e809'; } /* '' */
.rtp-icon-comment-empty:before { content: '\e80a'; } /* '' */
.rtp-icon-calendar:before { content: '\e80b'; } /* '' */
.rtp-icon-calendar-1:before { content: '\e80c'; } /* '' */
.rtp-icon-doc-text:before { content: '\e80d'; } /* '' */
.rtp-icon-menu:before { content: '\e80e'; } /* '' */
.rtp-icon-bookmark:before { content: '\e80f'; } /* '' */
.rtp-icon-bookmark-empty:before { content: '\e810'; } /* '' */
.rtp-icon-trash:before { content: '\e811'; } /* '' */
.rtp-icon-gplus:before { content: '\e812'; } /* '' */
.rtp-icon-cancel-circled2:before { content: '\e813'; } /* '' */
.rtp-icon-youtube:before { content: '\e814'; } /* '' */
.rtp-icon-pinterest:before { content: '\e815'; } /* '' */
.rtp-icon-cancel:before { content: '\e816'; } /* '' */
.rtp-icon-search-1:before { content: '\e817'; } /* '' */