/* styles for vegas.eveonline.com, by CCP */
#universe-header {
  width: 100%;
  position: absolute;
  z-index: 9001;
  top: 20px;
  left: 0;
  height: 0;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
#universe-header.open {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
}
#universe-header #universe-header-inner {
  width: 100%;
  text-align: right;
  line-height: 30px;
  vertical-align: text-top;
  padding-top: 0;
  height: 0;
  top: 30px;
}
#universe-header #universe-header-inner > a {
  display: inline-block;
  color: #fff;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'ProximaNova-SemiBold', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  text-decoration: none;
}
#universe-header #universe-header-inner > a:hover {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(255,255,255,0.5);
}
#universe-header #universe-header-inner #uniBurger {
  display: inline-block;
  position: relative;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  z-index: 1499999;
  width: 23px;
  height: 21px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: -5px;
}
#universe-header #universe-header-inner #uniBurger .line {
  width: 100%;
  height: 4px;
  margin-bottom: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
#universe-header #universe-header-inner #uniBurger:hover {
  cursor: pointer;
}
#universe-header #universe-header-inner #uniBurger:hover .line {
  color: #fff;
}
#universe-header.expanded {
  position: fixed;
}
#universe-header.expanded #universe-header-inner #uniBurger {
  -webkit-transform: translate3d(-192px, 6px, 0);
  -moz-transform: translate3d(-192px, 6px, 0);
  -o-transform: translate3d(-192px, 6px, 0);
  -ms-transform: translate3d(-192px, 6px, 0);
  transform: translate3d(-192px, 6px, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (min-width: 768px) {
  #universe-header.expanded #universe-header-inner #uniBurger {
    -webkit-transform: translate3d(-600px, -10px, 0) scale(0.7);
    -moz-transform: translate3d(-600px, -10px, 0) scale(0.7);
    -o-transform: translate3d(-600px, -10px, 0) scale(0.7);
    -ms-transform: translate3d(-600px, -10px, 0) scale(0.7);
    transform: translate3d(-600px, -10px, 0) scale(0.7);
  }
}
#universe-header.expanded #universe-header-inner #uniBurger .line-one {
  -webkit-transform: rotateZ(225deg) translate3d(-6px, -7px, 0);
  -moz-transform: rotateZ(225deg) translate3d(-6px, -7px, 0);
  -o-transform: rotateZ(225deg) translate3d(-6px, -7px, 0);
  -ms-transform: rotateZ(225deg) translate3d(-6px, -7px, 0);
  transform: rotateZ(225deg) translate3d(-6px, -7px, 0);
  transform-origin: center center;
}
#universe-header.expanded #universe-header-inner #uniBurger .line-two {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
}
#universe-header.expanded #universe-header-inner #uniBurger .line-three {
  -webkit-transform: rotateZ(135deg) translate3d(-3px, 4px, 0);
  -moz-transform: rotateZ(135deg) translate3d(-3px, 4px, 0);
  -o-transform: rotateZ(135deg) translate3d(-3px, 4px, 0);
  -ms-transform: rotateZ(135deg) translate3d(-3px, 4px, 0);
  transform: rotateZ(135deg) translate3d(-3px, 4px, 0);
  transform-origin: center center;
}
#universe-header.expanded #universe-header-inner > a {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}
#universe-header.expanded #universe-header-inner #header-sidebar {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
#universe-header #header-sidebar {
  position: fixed;
  top: 44px;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 1499990;
  background: #101010;
  -webkit-box-shadow: 1px 1px 5px 0px #000;
  box-shadow: 1px 1px 5px 0px #000;
  overflow-y: auto;
  -webkit-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -o-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  -ms-transition: -ms-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  padding-top: 30px;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar {
    width: 670px;
    -webkit-transform: translateX(670px);
    -moz-transform: translateX(670px);
    -o-transform: translateX(670px);
    -ms-transform: translateX(670px);
    transform: translateX(670px);
    text-align: center;
  }
}
#universe-header #header-sidebar .subcat {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar .subcat {
    display: inline-block;
    width: 36%;
    vertical-align: top;
    margin-top: 60px;
  }
  #universe-header #header-sidebar .subcat.account {
    float: left;
    margin-left: 140px;
    margin-right: 20px;
  }
}
#universe-header #header-sidebar .subcat h2 {
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  font-size: 24px;
  font-family: 'ProximaNova-Light', sans-serif;
  color: #a4a4a4;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar .subcat h2 {
    text-align: left;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'ProximaNova-Bold', sans-serif;
  }
}
#universe-header #header-sidebar .subcat.games {
  display: block;
  width: 100%;
  clear: both;
}
#universe-header #header-sidebar .subcat.games ul.videos {
  display: none;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar .subcat.games {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  #universe-header #header-sidebar .subcat.games ul.images {
    display: none;
  }
  #universe-header #header-sidebar .subcat.games ul.videos {
    display: block;
    margin: 0;
    padding: 0;
  }
  #universe-header #header-sidebar .subcat.games ul.videos li {
    height: 41.3vh;
    max-height: 377px;
    margin: 0;
    padding: 0;
    width: 25%;
    display: block;
    float: left;
    overflow: hidden;
  }
  #universe-header #header-sidebar .subcat.games ul.videos li a {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #universe-header #header-sidebar .subcat.games ul.videos li a video {
    width: 100%;
    height: auto;
  }
}
#universe-header #header-sidebar .subcat.games ul {
  margin-right: 10px;
}
#universe-header #header-sidebar .subcat.games ul li {
  text-align: left;
  display: block;
  width: 100%;
  padding: 5px 0 5px 10px;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar .subcat.games ul li {
    width: 21%;
    margin: 1.3%;
  }
}
#universe-header #header-sidebar .subcat.games ul li a {
  display: block;
  padding: 0;
  text-align: center;
  position: relative;
}
#universe-header #header-sidebar .subcat.games ul li a img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#universe-header #header-sidebar .subcat.games ul li a:hover {
  -webkit-filter: brightness(1.2) saturate(1.2);
  filter: brightness(1.2) saturate(1.2);
}
#universe-header #header-sidebar .lang-picker {
  position: absolute;
  display: block;
  top: 20px;
  left: auto;
  right: 26px;
  line-height: 0;
}
#universe-header #header-sidebar .lang-picker ul {
  list-style-type: none;
  text-align: right;
}
#universe-header #header-sidebar .lang-picker ul li {
  padding-right: 0;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
#universe-header #header-sidebar .lang-picker ul li a {
  padding: 0;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
#universe-header #header-sidebar .lang-picker ul li a:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: #2980b9;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar .lang-picker ul li a:before {
    height: 1px;
    width: 0;
    top: auto;
    right: -5%;
    bottom: 0px;
  }
}
#universe-header #header-sidebar .lang-picker ul li a:hover:after {
  width: 0;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar .lang-picker ul li a:hover:before {
    width: 110%;
    right: auto;
    left: -5%;
  }
}
#universe-header #header-sidebar .lang-picker ul li:after {
  content: "";
  height: 6px;
  width: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  top: 7px;
  left: -7px;
  background-color: #a4a4a4;
  position: absolute;
}
#universe-header #header-sidebar ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
}
#universe-header #header-sidebar ul li {
  margin: 0;
  margin-top: -1px;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar ul li {
    padding-right: 26px;
    text-align: left;
  }
}
#universe-header #header-sidebar ul li a {
  padding: 10px 26px;
  display: block;
  position: relative;
  line-height: 20px;
  font-size: 16px;
  color: #fff;
  font-family: 'ProximaNova-Light', sans-serif;
}
#universe-header #header-sidebar ul li a.trial {
  color: #2980b9;
  font-family: "ProximaNova-SemiBold", sans-serif;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar ul li a {
    padding: 7px 0;
    display: inline-block;
  }
}
#universe-header #header-sidebar ul li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: #2980b9;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar ul li a:after {
    height: 1px;
    width: 0;
    top: auto;
    right: -5%;
    bottom: 2px;
  }
}
#universe-header #header-sidebar ul li a:hover {
  text-decoration: none;
  color: #fff;
}
#universe-header #header-sidebar ul li a:hover:after {
  width: 10px;
}
@media only screen and (min-width: 768px) {
  #universe-header #header-sidebar ul li a:hover:after {
    width: 110%;
    right: auto;
    left: -5%;
  }
}
/** Page specific overrides **/
/** WWW **/
@media only screen and (max-width: 767px) {
  body.www #universe-header {
    top: 10px;
  }
  body.www #universe-header #universe-header-inner {
    padding-top: 0;
  }
  body.www #universe-header #universe-header-inner .toplink {
    display: none;
  }
  body.www #universe-header #universe-header-inner #uniBurger {
    margin-right: 20px;
  }
}
body.www #what.whatis.container-fluid #section-menu.stick div.logo {
  margin-left: 50px;
}
body.www #universe-header {
  z-index: 51;
}
/** Community **/
@media only screen and (max-width: 1035px) {
  body.community #header h1 {
    display: inline-block;
    width: auto;
    margin-left: 20px;
    margin-top: 0px;
  }
  body.community #header h1 a {
    display: inline-block;
    float: none;
    margin: 0;
  }
  body.community #header h1 a img {
    width: 80px;
  }
  body.community #header .nav-desktop {
    display: inline-block !important;
  }
  body.community #header .nav-desktop > ul {
    float: none;
    display: inline-block;
  }
}
@media only screen and (max-width: 640px) {
  body.community #header h1 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body.community .loginwidget-container .ccp-loginwidget .ccploginwidget-login {
    z-index: 102;
  }
}
body.community #universe-header {
  z-indeX: 100;
  top: 38px;
}
@media only screen and (max-width: 1035px) {
  body.community #universe-header #universe-header-inner .toplink {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  body.community #universe-header {
    top: 8px;
  }
}
@media only screen and (max-width: 767px) {
  body.community #universe-header.expanded #universe-header-inner #uniBurger {
    -webkit-transform: translate3d(-185px, 22px, 0);
    -moz-transform: translate3d(-185px, 22px, 0);
    -o-transform: translate3d(-185px, 22px, 0);
    -ms-transform: translate3d(-185px, 22px, 0);
    transform: translate3d(-185px, 22px, 0);
  }
}
/** Updates **/
/** Updates **/
body.updates #universe-header {
  z-index: 10010;
}
@media only screen and (max-width: 767px) {
  body.updates #universe-header {
    top: 10px;
  }
  body.updates #universe-header #universe-header-inner .toplink {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  body.updates #universe-header.expanded #universe-header-inner #uniBurger {
    -webkit-transform: translate3d(-185px, 2px, 0);
    -moz-transform: translate3d(-185px, 2px, 0);
    -o-transform: translate3d(-185px, 2px, 0);
    -ms-transform: translate3d(-185px, 2px, 0);
    transform: translate3d(-185px, 2px, 0);
  }
}
/** Gate **/
body.gate #universe-header {
  z-index: 100;
  height: 0;
  top: 16px;
}
@media screen and (max-width: 640px) {
  body.gate #universe-header #universe-header-inner > a.toplink {
    display: none;
  }
}
body.gate #mainShell #headerBGContainer {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  float: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #1c1c1c;
  height: auto;
}
body.gate #mainShell #headerBGContainer #headerContainer {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  float: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 60px !important;
}
body.gate #mainShell #headerBGContainer #headerContainer #logoContainer {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  float: none;
  left: 0;
  position: static;
  text-align: left !important;
  right: auto;
  height: 100% !important;
  display: inline-block !important;
  padding: 15px 0 0 15px !important;
  margin: 0 0 -15px 0 !important;
}
body.gate #mainShell #headerBGContainer #headerContainer .ccp-loginwidget {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  float: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: auto;
  position: static;
}
body.gate #mainShell #headerBGContainer #headerContainer .ccp-loginwidget .ccploginwidget-login {
  width: 100%;
  text-align: right;
  background: transparent;
}
body.gate #mainShell #headerBGContainer #headerContainer .ccp-loginwidget .ccploginwidget-login a {
  display: inline-block;
  background: #cd810b url("//gate.eveonline.com/Content/images/login-bg.png") repeat-x left top;
  margin-right: 30px;
}
body.gate #mainShell #headerBGContainer #headerContainer .ccp-loginwidget .ccploginwidget-notifications {
  float: right;
}
/** Forums **/
body.forums #universe-header {
  top: 50px;
}
@media screen and (max-width: 400px) {
  body.forums #universe-header #universe-header-inner a.toplink {
    display: none;
  }
}
body.forums #mainShell {
  padding-top: 50px;
}
/** Wiki **/
body.wiki #universe-header {
  z-index: 250;
  top: 20px;
}
@media screen and (max-width: 710px) {
  body.wiki #universe-header {
    top: 17px;
  }
  body.wiki #universe-header #universe-header-inner a.toplink {
    display: none;
  }
}
body.wiki #userlogin {
  padding-top: 0;
}
body.wiki #userlogin > div {
  padding-top: 0 !important;
  z-index: 260;
}
/** Developers **/
body.developers #header {
  z-index: 0;
}
body.developers #header .ccp-loginwidget {
  background: transparent;
}
body.developers #header .logo {
  z-index: 5000000;
  position: relative;
}
body.developers #header .nav {
  z-index: 5000000;
}
@media screen and (max-width: 660px) {
  body.developers #header > div {
    padding-top: 12px;
  }
  body.developers #header .logo {
    padding-left: 20px;
    float: none;
    display: inline-block;
  }
  body.developers #header .nav {
    margin-top: 20px;
    margin-left: 10px;
    float: none;
    display: block;
  }
}
body.developers #universe-header {
  z-index: 50000;
  top: 31px;
}
@media screen and (max-width: 940px) {
  body.developers #universe-header #universe-header-inner a.toplink {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  body.developers #universe-header {
    top: 10px;
  }
}
/** Fanfest **/
@media screen and (max-width: 1160px) {
  body.fanfest #universe-header #universe-header-inner a.toplink {
    display: none;
  }
}
