.abhi-modal-wrapper { display: display; position: fixed; z-index: 9999; left: 0;  top: 0px; width: 100%; height: 100%; overflow: auto;  background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.abhi-modal { margin: 0% auto; margin-top: 8%; padding: 20px; border: 0px solid #888;
width: 959px; margin-left: auto; margin-right: auto; background-color: #FFF; height: 475px; 
background-image: url(//static.abhibus.com/img/newsletter/decsale2016/offer/home-popup.jpg); background-attachment: scroll; background-position: center; background-repeat: no-repeat; background-size: 959px 483px;}
.abhi-modal-close {color: #939393;; font-size: 24px; font-weight: bold; opacity: 1; margin-top: -13px; }
.abhi-modal-close:hover,.abhi-model-close:focus {color: black; text-decoration: none; cursor: pointer;} 
.abhi-modal-close span { padding: 0px 9px 3px 9px; border: 1px solid #CCC; border-radius: 50%; line-height: 24px;
font-size: 18px; }
.abhi-modal-close span:hover, .abhi-modal-close span:focus { background-color:#ff2929; border-color: #ff2929;  color: #FFF; }
.abhi-modasl-footer { height: 0px; } 
.abhi-modal-header .abhi-modal-title , .abhi-modal-header .abhi-modal-close { float: left; display: inline-block; }
.abhi-modal-header .abhi-modal-title { width: 70%; }
.abhi-modal-header .abhi-modal-close { width: 30%; text-align: right; }
.abhi-modal-content { text-align: center; }