.iosSliderDemo {
	height: 600px;
	margin: 0 0 160px 0;
	border-bottom: 5px solid rgba(0, 0, 0, 0.18);
	box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.08);
	direction: ltr;
}
.iosSliderDemo i{
	display: none;
}
.fluidHeight {
	position: relative;
	width: 100%;
	height: 600px;
	background: rgba(255, 255, 255, 0.22);
}

.sliderContainer {
	height: 600px;
	position: relative;
}

.iosSlider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	width: 100%;
	height: 600px;
	float: left;
}

.iosSlider .slider .item .inner:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.31);
	left: 0px;
	top: 0px;
	z-index: 0;
}
.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	border-bottom: 5px solid rgb(255, 255, 255);
}

.iosSlider .slider .item .inner img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
}

.iosSlider .slider .item .inner .selectorShadow {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/selector-shadow.png) no-repeat 0 0;
	width: 120px;
	height: 30px;
	display: none;
}

.iosSlider .slider .item .inner .text1 {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	right: 50%;
	top: 220px;
	margin-right: -190px;
}

.iosSlider .slider .item .inner .text1 span {
	color: #000;
	font-size: 24px;
	border-radius: 3px;
	padding: 10px 50px;
	display: block;
	line-height: 25px;
	background: white;
	width: 300px;
	text-align: center;
}

.iosSlider .slider .item .inner .text1 span i {
	margin: 0 0 0 5px;
}

.iosSlider .slider .item .inner .text2 {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	left: 50%;
	top: 280px;
	margin-left: -80px;
}
.iosSlider .slider .item .inner .text2 a{
	font-size: 20px;
	color: #000;
	padding: 5px 30px;
	background: #FFF;
	border-radius: 3px;
	line-height: 30px;
}
.iosSlider .slider .item .inner .text2 span {
	display: block;
	color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 120%;
    line-height: 120%;
    font-weight: 100;
    padding: 0 8px;
}

.sliderContainer .slideSelectors {
	position: absolute;
	bottom: -140px;
	left: 0;
	z-index: 1;
	height: 330px;
	width: 100%;
	text-align: center;
}

.sliderContainer .slideSelectors .prev {
	float: left;
	position: static;
	margin-left: 20px;
	margin-top: -200px;
}

.sliderContainer .slideSelectors .next {
	float: right;
	position: static;
	margin-right: 20px;
	margin-top: -200px;
}
.sliderContainer .slideSelectors .item h1{background: #FFFFFF;z-index: 4;width: 210px;height: 40px;margin: 0 auto;bottom: 0px;padding: 2px 10px;font-size: 13px;      font-family: 'DroidKufi Bold' , Tahoma;      font-weight: bold;      line-height: 30px;color: #000;}
.sliderContainer .slideSelectors .item {
	display: inline-block;
	width: 220px;
	height: 345px;
	margin: 1px 1px 1px 10px;
	/* opacity: 0.25; */
	filter: alpha(opacity=25);
	overflow: hidden;
	position: relative;
	-webkit-filter: grayscale(1);
}
.sliderContainer .slideSelectors .item img{
	width: 210px;
	height: 270px;
	border: 5px solid #ADADAD;
}
.sliderContainer .slideSelectors .item.first {
	margin-left: 1px;
}

.sliderContainer .slideSelectors .selected {
	margin: 0 0 0 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: none;
	-webkit-filter: grayscale(0);
}

.sliderContainer .slideSelectors .selected.first {
	margin-left: 0;
}

.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}
.content_dat_skl{
	float: right;
	width: 500px;
	text-align: right;
	direction: rtl;
	margin-right: 50px;
	margin-top: 30px;
	position: relative;
	z-index: 1;
}
.content_dat_skl h1{
	margin-bottom: 10px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
	font-size: 25px;
}
.content_dat_skl span{
	display: block;
	height: 197px;
	overflow: hidden;
	color: #FFF;
	padding: 5px 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.11);
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.42);
}
.content_dat_skl a{
	display: block;
	background: red;
	text-align]: c;
	padding: 5px 10px;
	margin-top: 12px;
	background-color: rgba(40,40,40,0.6);
	color: #FFF;
	border-radius: 3px;
	border: 1px solid rgba(238,238,238,0.6);
	margin-right: 5px;
	padding-top: 8px;
	max-width: 200px;
	text-align: center;
	float: left;
}
@media screen and (max-width: 1200px) {
	
	.iosSliderDemo {
		padding-bottom: 424px;
	}
	
	.fluidHeight {
		height: 334px;
	}
	
	.iosSlider .slider .item {
		width: 100%;
	}

	.iosSlider .slider .item .inner {
		width: 954px;
	}
	
	.sliderContainer .slideSelectors {}
	
}