@keyframes polyonlion {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.polyonlion {
  width: 50px;
  height: 55px;
  z-index: 10;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.polyonlion > g polygon {
  transform: scale(0);
  transform-origin: center center;
  opacity: 0;
}
.no-js .polyonlion > g polygon, .no-cssanimations .polyonlion > g polygon {
  transform: scale(1);
  opacity: 1;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(1) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.0275s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(2) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.055s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(3) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.0825s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(4) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.11s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(5) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.1375s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(6) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.165s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(7) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.1925s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(8) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.22s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(9) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.2475s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(10) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.275s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(11) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.3025s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(12) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.33s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(13) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.3575s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(14) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.385s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(15) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.4125s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(16) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.44s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(17) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.4675s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(18) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.495s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(19) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.5225s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(20) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.55s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(21) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.5775s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(22) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.605s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(23) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.6325s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(24) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.66s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(25) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.6875s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(26) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.715s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(27) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.7425s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(28) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.77s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(29) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.7975s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(30) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.825s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(31) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.8525s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(32) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.88s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(33) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.9075s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(34) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.935s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(35) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.9625s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(36) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.99s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(37) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.0175s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(38) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.045s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(39) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.0725s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(40) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.1s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(41) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.1275s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(42) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.155s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(43) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.1825s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(44) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.21s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(45) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.2375s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(46) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.265s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(47) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.2925s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(48) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.32s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(49) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.3475s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(50) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.375s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(51) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.4025s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(52) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.43s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(53) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.4575s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(54) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.485s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(55) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.5125s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(56) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.54s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(57) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.5675s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(58) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.595s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(59) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.6225s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(60) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.65s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(61) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.6775s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(62) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.705s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(63) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.7325s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(64) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.76s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(65) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.7875s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(66) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.815s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(67) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.8425s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(68) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.87s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(69) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.8975s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(70) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.925s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(71) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.9525s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(72) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.98s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(73) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 2.0075s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(74) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 2.035s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(75) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 2.0625s;
}

.polyonloaded .polyonlion > g#polyonlion-face polygon:nth-of-type(76) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 2.09s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(1) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.0475s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(2) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.095s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(3) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.1425s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(4) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.19s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(5) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.2375s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(6) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.285s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(7) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.3325s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(8) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.38s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(9) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.4275s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(10) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.475s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(11) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.5225s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(12) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.57s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(13) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.6175s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(14) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.665s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(15) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.7125s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(16) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.76s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(17) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.8075s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(18) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.855s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(19) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.9025s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(20) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.95s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(21) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 0.9975s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(22) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.045s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(23) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.0925s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(24) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.14s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(25) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.1875s;
}

.polyonloaded .polyonlion > g#polyonlion-mane polygon:nth-of-type(26) {
  animation: polyonlion 100ms linear 1 forwards;
  animation-delay: 1.235s;
}
