@media screen and (max-width: 1024px) {
    .block_loop{
        width: 233px;
    }
    .mast_lo{
        height: 330px;
    }
    .cattag span{
        display:block;
        float: none;
    }
    .logo{
    }
    .social-shares li a{
        background-position: center center;
    }
    .social-shares li span{
        display: none;
    }
    .ads-r{margin-right: 0px;}
    .ads-l{
        margin-left: 0px;
    }
    .logo a{
        background-position: 88%;
    }
    .right-social{
        margin-right: 10px;
    }
    .left-search{
        margin-left: 10px;
    }
    .w-1200{
        width: 100%;
    }
    .slider-home-mas{
        width: 100%;
        min-width: 100%;
    }
    .title_sec_home{
        width: 200px;
        font-size: 14px;
        padding-right: 20px;
    }
    .mor_dd{
        top: 0px;
        top: 20px;
        padding: 3px 20px;
        left: 7px;
        float: left;
        font-size: 14px;
    }
    .title_sec_home-series{
        width: 200px;
        padding-right: 20px;
        font-size: 14px;        
    }
    .def_loop{
        text-align: center;
    }
    .def_loop .block_loop{
        text-align: center;
        float: none;
        display: inline-block;
    }
    #footer{;
        padding-top: 1px;
    }
    .right-footer{
        margin: 10px auto 0;
        text-align: center;
    
        margin-right: 10px;
}
    .section-flimes:before{
        display: none;
    }
    .right-single{
        width: 300px;
    }
    .right-single img.attachment-poster{
        width: 100%;
        height: auto;
    }
    .date_icon{
        margin-right: 2px;
        margin-top: 12px;
        font-size: 12px;
        width: 99%;
    }
    .imdb_link{
        margin-right: 2px;    
    }
    .catFilm{
        margin-right: 2px;
        width: 99%;
    }
    .social-shares li a{
        width:50px;
    }
    .title_single{
        font-size: 13px;
        padding: 5px 10px;
    }
    .left-footer{
        font-size:13px;
        text-align:center;
    }
    .left-single{
        width: calc( 100% - 340px);
    }
    .title-block-master{
        padding: 5px 10px;
        font-size: 13px;
    
        margin-right: 5px;
        margin-left: 5px;
    }
    .contentSingle .block_loop{
        width: 220px;
    }
    .recent-post .title-block-master a{
        margin-bottom: 5px;
    }
    .recent-post .slider-right{
        top: 190px;
    }
    .recent-post .slider-left{
        top: 190px;
    }
    ol.forms input{
        width: 760px;
    }
    ol.forms textarea{
        width: 760px;
    }
}
@media screen and (max-width: 790px){
    .cover{height: 450px;}
    #breadcrumbs{
        width: 100%;
    }
    .before_cover .w-1200{
        width: 100%;
    }
    .left_be_co{
        width: 410px;
        height: 385px;
    }
    .social-shares li a{
        background-position: center center;
    }
    .block_loop{
        width: 221px;
    }
    .mast_lo{
        height: 300px;
    }
    .social-shares li span{
        display: none;
    }
    .logo {
    }
    .logo a{
        background-size: 100% 100%;
    }
    .slider-home{
        width: 95%;
        margin: 0 auto;
    }
    
    .w-1200{
        width: 100%;
    }
    .slider-home-mas{
        width: 100%;
        min-width: 100%;
    }
    .title_sec_home{
        width: 200px;
        font-size: 14px;
        padding-right: 20px;
    }
    .mor_dd{
        top: 0px;
        top: 20px;
        padding: 3px 20px;
        left: 7px;
        float: left;
        font-size: 14px;
    }
    .title_sec_home-series{
        width: 200px;
        padding-right: 20px;
        font-size: 14px;        
    }
    .title-news{
        font-size: 14px;
        padding: 3px 10px;
        margin: 0 auto 20px;
    }
    .def_loop .block_loop{
        margin: 0 auto 10px;
        width: 270px;
        height: 350px;
    }
    #footer{;
        padding-top: 1px;
    }
    .right-footer{
        margin: 10px auto 0;
        text-align: center;
    
        margin-right: 10px;
}
    .section-flimes:before{
        display: none;
    }
    .right-single{
        width: 100%;
        float: none;
    }
    .right-single img.attachment-poster{
        width: 100%;
        height: auto;
    }
    .date_icon{
        margin-right: 2px;
        margin-top: 2px;
        font-size: 12px;
        width: 99%;
    }
    .imdb_link{
        margin-right: 2px;    
    }
    .catFilm{
        margin-right: 2px;
        width: 99%;
    }
    .title_single{
        font-size: 13px;
        padding: 5px 10px;
    }
    .left-footer{
        font-size:13px;
        text-align:center;
    }
    .left-single{
        float: none;
        width: 100%;
    }
    .title-block-master{
        padding: 5px 10px;
        font-size: 13px;
    
        margin-right: 5px;
        margin-left: 5px;
    }
    .contentSingle .block_loop{
        width: 247px;
    }
    .recent-post .title-block-master a{
        margin-bottom: 5px;
    }
    .recent-post .slider-right{
        top: 190px;
    }
    .recent-post .slider-left{
        top: 190px;
    }
    ol.forms input{
        width: 530px;
    }
    ol.forms textarea{
        width: 530px;
    }
    .ads-r , .ads-l{
        display: none;
    }

}
@media screen and (max-width: 480px) {
    body{
        padding: 0px;
    }
    .top-header{
    height: 70px;
    }
    .right-social{
        float: none;
        margin: 0 auto;
    }
    .left-search{
    }
    .w-1200{
        width: 100%;
    }
    .slider-home-mas{
        width: 100%;
        min-width: 100%;
    }
    .title_sec_home{
        width: 200px;
        font-size: 14px;
        padding-right: 20px;
    }
    .mor_dd{
        top: 0px;
        top: 20px;
        padding: 3px 20px;
        left: 7px;
        float: left;
        font-size: 14px;
    }
    .title_sec_home-series{
        width: 200px;
        padding-right: 20px;
        font-size: 14px;        
    }
    .title-news{
        min-width: 250px;
        font-size: 14px;
        padding: 3px 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .def_loop .block_loop{
        margin: 0 auto 10px;
        width: 220px;
        height: 330px;
    }
    #footer{
        padding-top: 1px;
    }
    .right-footer{
        float: none;
        margin: 10px auto 0;
        width: 100%;
        text-align: center;
    }
    .section-flimes:before{
        display: none;
    }
    .right-single{
        width: 100%;
        float: none;
    }
    .right-single img.attachment-poster{
        width: 100%;
        height: auto;
    }
    .date_icon{
        margin-right: 2px;
        margin-top: 2px;
        font-size: 12px;
        width: 99%;
    }
    .imdb_link{
        margin-right: 2px;    
    }
    .catFilm{
        margin-right: 2px;
        width: 99%;
    }
    .title_single{
        font-size: 13px;
        padding: 5px 10px;
    }
    .left-footer{
        font-size:13px;
        float: none;
        text-align:center;
    }
    .left-single{
        float: none;
        width: 100%;
    }
    .title-block-master{
        padding: 5px 10px;
        font-size: 13px;
    
        margin-right: 5px;
        margin-left: 5px;
    }
    .contentSingle .block_loop{
        float: none;
        margin: 0 auto 10px;
    }
    .recent-post .title-block-master a{
        margin-bottom: 5px;
    }
    .recent-post .slider-right{
        top: 190px;
    }
    .recent-post .slider-left{
        top: 190px;
    }
    ol.forms label{
        width: 100%;
    }
    ol.forms input{
        width: 450px;
    }
    ol.forms textarea{
        width: 450px;
    }
        .logo {
    }
    
    .logo a{
        background-position: center center;
        background-size: auto;
    }

    .ads-r , .ads-l{
        display: none;
    }
    .left-single .cats span{
        float: none;
    }
    .recent-post .block_loop{
        width: 280px;
    }
    .logo a{
        background-position: center center;
        background-size: auto;
    }
    .men_mo{
        width: 40px;
        height: 40px;
        background: #1B1B1B url(./../img/menu.png) center center no-repeat;
        position: fixed;
        z-index: 10;
        top: 10px;
        left: 21px;
        border-radius: 3px;
        z-index: 10000;
    }
    .men_fix{
        width: 220px;
        position: absolute;
        height: 100%;
        overflow: scroll;
        right: -300px;
    }
    .men_fix.act_mo{right: 0px;z-index: 100000;}    
    .logo > a > span{
        left: 5px;
    }
    .block_loop{
        width: 100%;
    }
    .mast_lo{
        height: 450px;
    }
    .right_be_co{float: none;margin: 0 auto;}
    .left_be_co{
        float: none;
        width: 100%;
        padding: 0 5px;
    }
    .cover{
        height: 810px;
    }
    #breadcrumbs{
        width: 100%;
    }
    .before_cover .w-1200{
        width: 100%;
    }
    .list_data_post{
        margin-bottom: 10px;
    }
    .list_data_post li{
        float: none;
        width: 100%;
        text-align: right;
        height: auto;
    }
    .right_be_co .trailer_act{
        position: absolute;
    }
    .trailer_act{
        position: relative;
        width: 100%;
        left: 0px;
    }
    .list_data_post li a{
        float: none;
    }
    .servers-download li{
        display: block;
        margin: 5px;
    }
    .cattag span{
        display: block;
        float: none;
    }
    .social-shares li span{
        display: none;
    }
    .social-shares li a{
        background-position: center center;        
    }
    #footer{
        height: auto;
    }
    .social_media{
        text-align: center;
    }
    .social_media li{
        float: none;
        display: inline-block;
    }
    .post_da-p .left_be_co{
        width: 100%;
    }
    .time_dir{
        float: none;
        width: 100%;
        margin-right: 0px;
    }
    .left_dir{
        float: none;
        width: 100%;
    }
    .data_pop{
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }
    .trailer_pop.act_trailer .xco{
        margin-left: -170px;
    }
    .subCategories li{
        display: block;
        border-bottom: 1px solid #1B1B1B;
    }
    .subCategories li a:after{
        content:'';
        display: none;
    }
    .men_sat{
        width: 100%;
        margin: 110px auto 80px;
    }
    .men_sat svg{
        width: 100%;
    }
    .slider-home-mas li{
        width: 350px;
    }
    .block_loop{
        float: none;
        margin: 0 auto 10px;
    }
    .mCSB_container{
        padding-bottom: 110px !important;
    }
    .mat_ca{
        height: calc( 100% + 25px);
    }
}
@media screen and (max-width: 375px) {
    body{
        width: 375px;
        padding-right: 0px;
    }
    .top-header{
    height: 70px;
    }
    ol.forms label{
        width: 100%;
    }
    .logo {
    }
    .slider-home{
        width:305px
    }
    ol.forms input{
        width: 290px;
    }
    ol.forms textarea{
        width: 290px;
    }
    .right-social{
        float: none;
        margin: 0 auto;
    }
    .left-search{
    }
    .w-1200{
        width: 100%;
    }
    .slider-home-mas{
        width: 100%;
        min-width: 100%;
    }
    .title_sec_home{
        width: 200px;
        font-size: 14px;
        padding-right: 20px;
    }
    .mor_dd{
        top: 0px;
        top: 20px;
        padding: 3px 20px;
        left: 7px;
        float: left;
        font-size: 14px;
    }
    .title_sec_home-series{
        width: 200px;
        padding-right: 20px;
        font-size: 14px;        
    }
    .title-news{
        min-width: 250px;
        font-size: 14px;
        padding: 3px 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .def_loop .block_loop{
        float: none;
        margin: 0 auto 10px;
        width: 340px;
    }
    #footer{
        padding-top: 1px;
    }
    .right-footer{
        float: none;
        margin: 10px auto 0;
        width: 100%;
        text-align: center;
    }
    .section-flimes:before{
        display: none;
    }
    .right-single{
        width: 100%;
        float: none;
    }
    .right-single img.attachment-poster{
        width: 100%;
        height: auto;
    }
    .date_icon{
        margin-right: 2px;
        margin-top: 2px;
        font-size: 12px;
        width: 99%;
    }
    .imdb_link{
        margin-right: 2px;    
    }
    .catFilm{
        margin-right: 2px;
        width: 99%;
    }
    .title_single{
        font-size: 13px;
        padding: 5px 10px;
    }
    .left-footer{
        font-size:13px;
        float: none;
        text-align:center;
    }
    .left-single{
        float: none;
        width: 100%;
    }
    .title-block-master{
        padding: 5px 10px;
        font-size: 13px;
    
        margin-right: 5px;
        margin-left: 5px;
    }
    .contentSingle .block_loop{
        float: none;
        margin: 0 auto 10px;
    }
    .recent-post .title-block-master a{
        margin-bottom: 5px;
    }
    .recent-post .slider-right{
        top: 220px;
    }
    .recent-post .slider-left{
        top: 220px;
    }
    .ads-r , .ads-l{
        display: none;
    }
    .recent-post .block_loop{
        width: 322px;
    }
        .logo a{
        background-position: center center;
        background-size: auto;
    }
    .men_mo{
        width: 40px;
        height: 40px;
        background: #1B1B1B url(./../img/menu.png) center center no-repeat;
        position: fixed;
        z-index: 10;
        top: 10px;
        left: 21px;
        border-radius: 3px;
        z-index: 10000;
    }
    .men_fix{
        width: 220px;
        position: absolute;
        height: 100%;
        overflow: scroll;
        right: -300px;
    }
    .men_fix.act_mo{right: 0px;z-index: 100000;}    
    .logo > a > span{
        left: 5px;
    }
    .block_loop{
        width: 100%;
    }
    .right_be_co{float: none;margin: 0 auto;}
    .left_be_co{
        float: none;
        width: 100%;
        padding: 0 5px;
    }
    .cover{
        height: 810px;
    }
    #breadcrumbs{
        width: 100%;
    }
    .before_cover .w-1200{
        width: 100%;
    }
    .list_data_post{
        margin-bottom: 10px;
    }
    .list_data_post li{
        float: none;
        width: 100%;
        text-align: right;
        height: auto;
    }
    .right_be_co .trailer_act{
        position: absolute;
    }
    .trailer_act{
        position: relative;
        width: 100%;
        left: 0px;
    }
    .list_data_post li a{
        float: none;
    }
    .servers-download li{
        display: block;
        margin: 5px;
    }
    .cattag span{
        display: block;
        float: none;
    }
    .social-shares li span{
        display: none;
    }
    .social-shares li a{
        background-position: center center;        
    }
    #footer{
        height: auto;
    }
    .social_media{
        text-align: center;
    }
    .social_media li{
        float: none;
        display: inline-block;
    }
    .post_da-p .left_be_co{
        width: 100%;
    }
    .time_dir{
        float: none;
        width: 100%;
        margin-right: 0px;
    }
    .left_dir{
        float: none;
        width: 100%;
    }
    .data_pop{
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }
    .trailer_pop.act_trailer .xco{
        margin-left: -170px;
    }
    .subCategories li{
        display: block;
        border-bottom: 1px solid #1B1B1B;
    }
    .subCategories li a:after{
        content:'';
        display: none;
    }
    .men_sat{
        width: 100%;
        margin: 110px auto 80px;
    }
    .men_sat svg{
        width: 100%;
    }
    .slider-home-mas li{
        width: 350px;
    }
    .block_loop{
        float: none;
        margin: 0 auto 10px;
    }
    .mCSB_container{
        padding-bottom: 110px !important;
    }
    .mat_ca{
        height: calc( 100% + 25px);
    }
    
}
@media screen and (max-width: 320px) {
    body{
        width: 320px;
        padding: 0px;
        height: 100%;
    }
    .top-header{
    height: 70px;
    }
    ol.forms label{
        width: 100%;
    }
    .logo {
    }

    .slider-home{
        width:305px
    }
   
    ol.forms input{
        width: 290px;
    }
    ol.forms textarea{
        width: 290px;
    }
    .right-social{
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .left-search{
    }
    .w-1200{
        width: 100%;
    }
    .slider-home-mas{
        width: 100%;
        min-width: 100%;
    }
    .title_sec_home{
        width: 200px;
        font-size: 14px;
        padding-right: 20px;
    }
    .mor_dd{
        top: 0px;
        top: 20px;
        padding: 3px 20px;
        left: 7px;
        float: left;
        font-size: 14px;
    }
    .title_sec_home-series{
        width: 200px;
        padding-right: 20px;
        font-size: 14px;        
    }
    .title-news{
        min-width: 220px;
        font-size: 14px;
        padding: 3px 10px;
        margin-right: 10px;
        margin-left: 10px;
        max-width: 300px;
    }
    .def_loop .block_loop{
        float: none;
        margin: 0 10px 10px 18px;
        width: 300px;
    }
    #footer{
        padding-top: 1px;
    }
    .right-footer{
        float: none;
        margin: 10px auto 0;
        width: 100%;
        text-align: center;
    }
    .section-flimes:before{
        display: none;
    }
    .right-single{
        width: 100%;
        float: none;
    }
    .right-single img.attachment-poster{
        width: 100%;
        height: auto;
    }
    .date_icon{
        margin-right: 2px;
        margin-top: 2px;
        font-size: 12px;
        width: 99%;
    }
    .imdb_link{
        margin-right: 2px;    
    }
    .catFilm{
        margin-right: 2px;
        width: 99%;
        margin-bottom: 10px;
    }
    .title_single{
        font-size: 13px;
        padding: 5px 10px;
    }
    .left-footer{
        font-size:13px;
        float: none;
        text-align:center;
        margin-left: 0px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .left-single{
        float: none;
        width: 100%;
    }
    .title-block-master{
        padding: 5px 10px;
        font-size: 13px;
    
        margin-right: 5px;
        margin-left: 5px;
    }
    .contentSingle .block_loop{
        float: none;
        margin: 0 auto 10px;
    }
    .recent-post .title-block-master a{
        margin-bottom: 5px;
    }
    .recent-post .slider-right{
        top: 220px;
    }
    .recent-post .slider-left{
        top: 220px;
    }
    .ads-r , .ads-l{
        display: none;
    }
    .left-single .cats span{
        float: none;
    }
    .recent-post .block_loop{
        width: 280px;
    }
    .logo a{
        background-position: center center;
        background-size: auto;
    }
    .men_mo{
        width: 40px;
        height: 40px;
        background: #1B1B1B url(./../img/menu.png) center center no-repeat;
        position: fixed;
        top: 10px;
        left: 21px;
        border-radius: 3px;
        z-index: 1000000;
    }
    .men_fix{
        width: 220px;
        position: absolute;
        height: 100%;
        overflow: scroll;
        right: -300px;
        z-index: 10000000;
    }
    .men_fix.act_mo{right: 0px;}    
    .logo > a > span{
        left: 5px;
    }
    .block_loop{
        width: 100%;
    }
    .right_be_co{float: none;margin: 0 auto;}
    .left_be_co{
        float: none;
        width: 100%;
        padding: 0 5px;
    }
    .cover{
        height: 810px;
    }
    #breadcrumbs{
        width: 100%;
    }
    .before_cover .w-1200{
        width: 100%;
    }
    .list_data_post{
        margin-bottom: 10px;
    }
    .list_data_post li{
        float: none;
        width: 100%;
        text-align: right;
    }
    .right_be_co .trailer_act{
        position: absolute;
    }
    .trailer_act{
        position: relative;
        width: 100%;
        left: 0px;
    }
    .list_data_post li a{
        float: none;
    }
    .servers-download li{
        display: block;
        margin: 5px;
    }
    .cattag span{
        display: block;
        float: none;
    }
    .social-shares li span{
        display: none;
    }
    .social-shares li a{
        background-position: center center;        
    }
    #footer{
        height: auto;
    }
    .social_media{
        text-align: center;
    }
    .social_media li{
        float: none;
        display: inline-block;
    }
    .post_da-p .left_be_co{
        width: 100%;
    }
    .time_dir{
        float: none;
        width: 100%;
        margin-right: 0px;
    }
    .left_dir{
        float: none;
        width: 100%;
    }
    .data_pop{
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }
    .trailer_pop.act_trailer .xco{
        margin-left: -170px;
    }
    .subCategories li{
        display: block;
        border-bottom: 1px solid #1B1B1B;
    }
    .subCategories li a:after{
        content:'';
        display: none;
    }
    .men_sat{
        width: 100%;
        margin: 10px auto 80px;
    }
    .men_sat svg{
        width: 100%;
    }
    .slider-home-mas li{
        width: 298px;
    }
    .mCSB_container{
        padding-bottom: 110px !important;
    }
    .mat_ca{
        height: 100% !important;
    }
}
