/*
Theme Name: arablionz
Theme URI: http://yourcolor.net/
Author: YourColor Team
Author URI: http://yourcolor.net/
Description: arablionz
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Master
*/

/* <!--: Fonts :--> */
@font-face {
  font-family: 'YC Fonts';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/k_kamran.eot?#iefix) format('embedded-opentype'),
      /* url(../fonts/k_kamran.woff) format('woff'),*/
       url(./fonts/k_kamran.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidKufi Bold';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidKufi Normal';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/DroidKufi-Regular.ttf) format('truetype');
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* <!--: Reset :--> */
*{
    margin:0px;
    padding:0px;
    outline: 0px;
    box-sizing:border-box;
}
a{
    text-decoration: none;
    color: #272727;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li{
    list-style: none;
}
.w-1200{
    margin: 0 auto;
    position: relative;
}
.no-float{
  float:none;
}
.abs{
  position:absolute;
}
.clr{
  clear:both;
}
.trianglify{
  opacity: 0.5 !important;
  -webkit-filter: grayscale();
  position: fixed;
}
.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: transparent;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
path {
  -ms-transform: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  /* IE 9 */
  
  -ms-transform-origin: center bottom;
  /* IE 9 */
  
  -webkit-transform: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  /* Chrome, Safari, Opera */
  
  -webkit-transform-origin: center bottom;
  /* Chrome, Safari, Opera */
  
  transform-origin: center bottom;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.invisible {
  opacity: 0;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
}
/************** Loading ******************/
.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.boxLoading:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
.boxLoading:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #D55D3E;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
#lefthalf{
  left: 0px;
  position:absolute;
  width:65%;
  height:100%;
  margin-left:-15%;
  background:rgba(0, 0, 0, 0);
  transform: skewX(-21deg);
  -webkit-transform: skewX(-21deg);
  transition:background 1s linear 1s, left 2s 2s;
  
}
#righthalf{
  right: 0.6px;
  position:absolute;
  width:65%;
  height:100%;
  margin-right:-15%;
  background:rgba(0, 0, 0, 0);
  transform: skewX(-21deg);
  -webkit-transform: skewX(-21deg);
  transition:background 1s linear 1s, right 2s 2s;
}


.loading {
  height: 85px;
  left: 50%;
  margin-left: -42.5px;
  margin-top: -42.5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 85px;
}
.loading-circle {
  -webkit-animation: 2291ms loading infinite;
          animation: 2291ms loading infinite;
  background-color: #fff;
  border-radius: 50%;
  height: 14px;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 14px;
}
.loading-circle:nth-child(1) {
  -webkit-animation-delay: 42ms;
          animation-delay: 42ms;
}
.loading-circle:nth-child(2) {
  -webkit-animation-delay: 84ms;
          animation-delay: 84ms;
}
.loading-circle:nth-child(3) {
  -webkit-animation-delay: 126ms;
          animation-delay: 126ms;
}
.loading-circle:nth-child(4) {
  -webkit-animation-delay: 168ms;
          animation-delay: 168ms;
}
.loading-circle:nth-child(5) {
  -webkit-animation-delay: 210ms;
          animation-delay: 210ms;
}
.loading-circle:nth-child(6) {
  -webkit-animation-delay: 252ms;
          animation-delay: 252ms;
}
.loading-circle:nth-child(7) {
  -webkit-animation-delay: 294ms;
          animation-delay: 294ms;
}
.loading-circle:nth-child(8) {
  -webkit-animation-delay: 336ms;
          animation-delay: 336ms;
}
.loading-circle:nth-child(9) {
  -webkit-animation-delay: 378ms;
          animation-delay: 378ms;
}
.loading-circle:nth-child(10) {
  -webkit-animation-delay: 420ms;
          animation-delay: 420ms;
}
.loading-circle:nth-child(11) {
  -webkit-animation-delay: 462ms;
          animation-delay: 462ms;
}
.loading-circle:nth-child(12) {
  -webkit-animation-delay: 504ms;
          animation-delay: 504ms;
}
.loading-circle:nth-child(13) {
  -webkit-animation-delay: 546ms;
          animation-delay: 546ms;
}
.loading-row1 {
  top: 1.3px;
}
.loading-row2 {
  top: 18.95px;
}
.loading-row3 {
  top: 36.55px;
}
.loading-row4 {
  top: 54.2px;
}
.loading-row5 {
  top: 71.85px;
}
.loading-col1 {
  left: 1.25px;
}
.loading-col2 {
  left: 18.85px;
}
.loading-col3 {
  left: 36.5px;
}
.loading-col4 {
  left: 54.15px;
}
.loading-col5 {
  left: 71.8px;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  27.28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  36.36% {
    -webkit-transform: scale(0.857);
            transform: scale(0.857);
  }
  54.55% {
    -webkit-transform: scale(0.857);
            transform: scale(0.857);
  }
  63.64% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  27.28% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  36.36% {
    -webkit-transform: scale(0.857);
            transform: scale(0.857);
  }
  54.55% {
    -webkit-transform: scale(0.857);
            transform: scale(0.857);
  }
  63.64% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}






#bigloading{
  width:100%;
  height:100%;
  overflow:hidden;
  position: fixed;
  left:0;
  top:0;
  background: #272727;
  transition: background 1s 2s , visibility 1s 2s;
  z-index: 10000000000;
  visibility: visible;
}
#bigloading2.ready {
  opacity:1;
  visibility:visible;
}
#bigloading2{
  width:100%;
  height:100%;
  overflow:hidden;
  position: fixed;
  left:0;
  opacity: 0;
  top:0;
  background: #272727;
  transition: background 1s , visibility 1s;
  z-index: 10000000000;
  visibility: hidden;
}
#bigloading.ready #lefthalf{
  left:-100%;
  background:rgba(0, 0, 0, 0.8);
}
#bigloading.ready #righthalf{
  right:-100%;
  background:rgba(0, 0, 0, 0.8);
}
#bigloading.ready .loading{
  opacity:0;
}
#bigloading.ready{
  background: rgba(255,255,255,0);
  visibility: hidden;
}
/* <!--: body :--> */
html,body{height: 100%;}
/*
body:before{
  content: '';
  width: 164px;
  height: 290px;
  background: url(./img/1.png) top left no-repeat;
  position: absolute;
  left: 60px;
  top: -20px;
  z-index: 5;
  transform-origin: top center;
  animation: before ease-in-out 2s infinite alternate forwards;
  transform:rotate(12deg);
}
@keyframes before {
    0% {
      transform: rotate(-12deg);
    }
}
body:after{
  content: '';
  width: 164px;
  height: 240px;
  background: url(./img/2e.png) top left no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
}
*/
body{
  font-family: Tahoma;
  font-size: 14px;
  color: white;
  background: linear-gradient(-20deg, #0E0E0E, #A50000);
  background-attachment: fixed !important;
  background-size: 100% 100% !important;
  padding: 0 75px 0 0px;
  padding-top: 1px;
  direction: rtl;
  width: 100%;
  position: relative;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #BF0C0C;
  border-radius: 0px;
  box-shadow:inset 0 0 5px rgba(0,0,0,0.33);
  margin-left: 10px;
}
body::-webkit-scrollbar-thumb{
  border-radius: 0px;
  background: #FFFFFF;
}
.mat_ca{
  position: relative;
  width: 100%;
  margin-top: -1px;
}

/* <!--: header :--> */
.header-top-film{
  height: 600px;
  padding: 10px 0px 60px;
  position: relative;
}
.men_fix{
  background: rgb(27, 27, 27);
  position: fixed;
  top:0px;
  right: 0px;
  width: 60px;
  overflow: hidden;
  height: 100%;
  z-index: 1000;
  box-shadow: 0px 6px 12px #000;
  border-left: 5px solid #252525;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.men_fix:hover{
  width: 220px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.men_sat{
  z-index: 1000;
  position: relative;
  width: 500px;
  margin: 90px auto 296px;
  padding-top: 70px;
}
.men_sat svg {
    display: block;
    font: 12em 'Righteous';
    width: 500px;
    height: 170px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #F1BC70;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #E07C19;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD5500;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #FB6035;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}


.men_sat.showw{
  opacity: 1;
  visibility: visible;
  top: 0px;
}
.top-header{
  height: 50px;
  position:relative;
  background-color: #6B245B;
}
.right-social{
    margin-top: 5px;
    float: right;
    margin-right: 5px;
}
.social-inset{
  text-align:center;  
}
.social-inset li{
  display:inline-block;
  float:none !important;
  background: none !important;
}
.social_media li{
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    border-radius: 5px;
    float: right;
}
.social_media li a{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
}
.facebook{
    background:url(./img/social/facebook.png) center center no-repeat;
}
.twitter{
    background: url(./img/social/twitter.png) center center no-repeat;
}
.youtube{
    background: url(./img/social/youtube.png) center center no-repeat;
}
.googleplus{
    background: url(./img/social/google-plus.png) center center no-repeat;
}
form#s{
}
.st-effect-11 input{
    border: 0px;
    padding: 9px 10px;
    min-width: 220px;
    margin-right: 4px;
    border-radius: 3px;
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto 10px;
}
#searchsubmit{
    background: #FFFFFF;
    color: #151515;
    border-radius: 3px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    min-width: 95px;
    padding: 5px 0px;
    border: 2px solid #828282;
    box-shadow: 0 6px 5px -4px rgba(0, 0, 0, 0.4);
}

button.search-button{
    display: block;
    border: 0px;
    text-indent: -9999px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background: url(img/search.png) center center no-repeat;
    margin-top: 5px;
    cursor: pointer;
}
.left-search form#s input[type="text"]{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 9px 10px;
    min-height: 30px;
    width: 213px;
    margin-left: 6px;
    border: 0px;
    border-radius: 3px;
}
.left-search form#s input[type="submit"]{
    background: rgb(110, 115, 132);
    border: 0px;
    padding: 4px 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    color: #FFFFFF;
    border-radius: 3px;
}
.center-header{
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}
.center-header:after{
  position:absolute;
  content:'';
  width:100%;
  height:100%;
  background-size: 100% !important; 
  top: 0px;
  left:0px;
  z-index:-1;
  opacity:0.1;
}
.logo{
  position: relative;
  margin: 5px 3px 10px 5px;
}
.logo a{
  display: block;
  width:100%;
  height:100%;
}
.men_fix:hover .logo > a > span{
  left: 1px;
}
.logo > a > span{
  color: #FFF;
  position: absolute;
  font-size: 31px;
  left: -180px;
  font-family: 'Righteous', cursive !important;
  line-height: 52px;
}
.men_open{
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search_ta{
  padding: 5px 6px;
}
.search_ta input{
  border: 0px;
  padding: 10px 10px;
  border-radius: 3px;
}
.search_ta input[type="text"]{
  width: calc( 100% - 100px);
  border: 2px solid #A0A0A0;
  box-shadow: 0 6px 5px -4px rgba(0, 0, 0, 0.4);
}
/* <!--: men :--> */
.men{
    position: relative;
    z-index: 40;
    top: 0px;
    margin: 0 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.55);
}
.men:after{
  content: '';
}
.first-menu li{
  float:right;
  display: block;
  position: relative;
}
.search_da{
  width: 40px;
  height: 40px;
  background: #F00;
  margin-right: 7px;
  margin-top: 5px;
}
#menu-drag{
    display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}
#menu-drag > li a.home_icon{
  background: #252424 url(./img/home_icon.png) no-repeat;
  background-position: 12px 15px;
  height: 18px;
  width:30px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}
#menu-drag > li a.home_icon:hover{
  background-color: #F0F0F0;
  background-position: -31px 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}
.home_it{
    width: 50px;
    height: 68px; 
}
.home_it a{
    height: 68px;
    background: url(./img/home.png) center center no-repeat;
}
#menu-drag > li.menu-item-has-children{
  background: #656565;
}
#menu-drag > li{
    position: relative;
    padding: 0px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#menu-drag li ul li a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px 10px;
}
#menu-drag li a:after{
  content: '';
  clear: both;
  display: block;
}
#menu-drag li a{
    border-left: 0px;
    padding: 6px 10px;
    line-height: 18px;
    font-size: 15px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    display: block;
    height: 44px;
    overflow: hidden;
    color: #FFF;
}
#menu-drag li span{
  display: block;
  float: right;
  line-height: 32px;
}
#menu-drag li i{float: right;display: inline-block;font-size: 24px;margin-right: 0px;background: rgba(255, 255, 255, 0.24);border-radius: 6px;padding: 5px;box-shadow: 0px 2px 5px #000;margin-left: 10px;margin-top: 0px;color: #FFFFFF;}
#menu-drag li a:hover{
    background-color: #1A1A1A;
    color: #FFFFFF;
}
#menu-drag li ul{
  margin: 0 10px 10px;
  background: #242425;
  border-top: 0px solid #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#menu-drag li.menu-item-has-children > a:before{
  content:'';
  width: 15px;
  height: 15px;
  margin-top: 3px;
  float: right;
  display: block;
  margin-left: 5px;
  background: url(./img/down-men.png) center center no-repeat;
  background-size: 100% 100%;
}
#menu-drag li .sub-menu li{
  position:relative;
}
#menu-drag li .sub-menu .sub-menu{
  right: 205px;
  top: 0px !important;
  visibility: hidden !important;
  display: none !important;
  width: 180px;
  -webkit-transition: all 0.3s ease-in-out;  
  -moz-transition: all 0.3s ease-in-out;  
  -o-transition: all 0.3s ease-in-out;  
  -ms-transition: all 0.3s ease-in-out;  
  transition: all 0.3s ease-in-out; 
}
#menu-drag li .sub-menu li:hover .sub-menu{
  top: -2px !important;
  visibility: visible !important;
  display: block !important;
  -webkit-transition: all 0.3s ease-in-out;  
  -moz-transition: all 0.3s ease-in-out;  
  -o-transition: all 0.3s ease-in-out;  
  -ms-transition: all 0.3s ease-in-out;  
  transition: all 0.3s ease-in-out;
}
#menu-drag li:last-child ul{
    left: 0;
    right: auto;
}
#menu-drag li:hover .sub-menu{
  display: block;
  visibility: visible;
  top: 70px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}
#menu-drag ul li.menu-item-has-children > a:after{
  content:'';
  background: url(./img/skip-back-after.png) center center no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  display: block;
  top: 15px;
  left: 8px;  
}
#menu-drag li ul li a:hover:before{
  width:15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
#menu-drag li ul li a:before{
  content:'';
  background: url(./img/skip-back.png) center center no-repeat;
  width: 0px;
  height: 15px;
  position: relative;
  display: block;
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}
.men a.home {
    background: url(./img/home.png) right center no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    padding: 0px 0 2px 10px;
    border: 0px;
    border-left: 1px solid #5F5F5F;
}
#selectbox{
  width: 100%;
  display: block;
  padding: 5px 10px;
  font-size: 13px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  background-color: #057CBB;
  border: 0px;
  color: white;
}
/* <!--: Slider Home Master :--> */
/******************************************
** Slider Home
******************************************/
.YC-master-slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 32;
    direction: ltr;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid #8C3278;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.YC-master-slider:after{
  content: '';
  width: 210px;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 10;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right,  rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
.YC-master-slider:before{
  content: '';
  width: 210px;
  height: 100%;
  right: 0px;
  top: 0px;
  display: block;
  position: absolute;
  z-index: 10;
  background: -moz-linear-gradient(right,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear,left top,  right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(right,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(right,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(right,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to left,  rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
.yc-video-master-loop.z1:before{
  display: none;
}
.yc-video-master-loop:before{
  content:'';
  width: 100%;
  height: 55px;
  background: rgba(255, 0, 0, 0) url(./img/shadow-4.png) top center no-repeat;
  background-size: 80% 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  display: block;
  z-index: 2;
}
.YC-slider{
    height: 487px !important;
    display: block;
}
.YC-master-slider i{
  display:none;
}
.item a{
    display: block;
    position: relative;
}

.prev {
  position:absolute;
  left:25px;
  top:185px;
  width: 55px;
  height:86px;
  background: url(./img/YC-prev.png) center center no-repeat;
  overflow:hidden;
  text-indent:-9999px;
  z-index: 100;
}
.next {
  position:absolute;
  right:25px;
  top:185px;
  width: 55px;
  height:86px;
  background: url(./img/YC-next.png) center center no-repeat;
  overflow:hidden;
  text-indent:-9999px;
  z-index: 100;
}
.line_he{
    height: 50px;
    background-color: #309FD9;
}
#starfield {
  opacity:.4;
}
.slider-home{
    padding: 10px 0px 1px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
#center{
  
text-align: center;
  
margin-top: 20px;
}
#center li{
  
margin-bottom: 6px;
  
display: inline-block;
}
#center li a{
  
display: block;
  
padding: 9px 5px;
  
font-size: 15px;
  
font-family: 'DroidKufi bold' , Tahoma;
  
font-weight: bold;
  
background-color: #800909;
  
border-left: 3px solid #941111;
  
border-right: 3px solid #941111;
  
box-shadow: 0px 2px 9px #000 , inset 0px 0px 10px rgba(0, 0, 0, 0.57);
  
width: 145px;
  
border-radius: 5px;
  
color: #FFFFFF;
}
.slider-home .caroufredsel_wrapper {
    margin: 0 !important;
    width: 100% !important;
}
#prev2, #prev3, #prev4, #prev5, #prev6, #prev7, #prev8{
    width: 53px;
    height: 105px;
    position: absolute;
    left: 15px;
    z-index: 20;
    top: 240px;
    text-indent: -99999px;
    overflow: hidden;
    background: url(img/carousel-arrow-prev.png) left center no-repeat;
}
#next2, #next3, #next4, #next5, #next6, #next7, #next8{
  width: 53px;
  height: 105px;
  position: absolute;
  right: 15px;
  z-index: 20;
  top: 240px;
  text-indent: -99999px;
  overflow: hidden;
  background: url(img/carousel-arrow-next.png) left center no-repeat;
}
.YC-tome-title-cat div {
    display: table;
    margin: 0 auto;
    background: #181717;
    padding: 0px 60px;
    transform: skew(7deg);
    color: white;
    border-right: 5px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
}
.yc-Soundtrack-master-loop.pagh_sear{
  min-height: 329px;
}
.yc-Soundtrack-master-loop{min-height: 800px;padding-bottom: 50px;}
.YC-tome-title-cat {
    color: #0C0C0C;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
    margin-top: 0px;
    padding: 7px 0px;
    font-size: 22px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
}
.oh-1{
    position: absolute;
    background: linear-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: webkit-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: moz-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: o-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: ms-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    width: 120px;
    height: 120px;
    bottom: -1px;
    right: 0px;
    z-index: 10;
    -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
  
    -moz-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
}
.oh-1.oh2:after{
    background: #057CBB;
}
.oh-1:after{
  content:'';
  background: #0C0E1D;
  width: 120px;
  height: 7px;
  right: 0;
  position: absolute;
  bottom: -7px;
}
.oh-1:before{
    content: '';
    left: -28px;  
  
    top: -56px;  
  content: " ";  
  position: absolute;  
  width: 0;  
  height: 0;  
  border-bottom: 170px solid rgba(128, 61, 61, 0);  
  border-left: 100px solid rgba(0, 0, 0, 0);  
    box-shadow: 6px 0 8px -7px #000;  
    transform: rotate(45deg);  
    -ms-transform: rotate(45deg);  
    -webkit-transform: rotate(45deg);
}
.oh2{
    background: linear-gradient(135deg, #1E2244 50%, #057CBB 50%);
}
.
.YC-tome-title-cat .span1 {}
.YC-tome-title-cat .span2 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    background: #181717;
    height: 3px;
    z-index: -1;
    margin-top: -1.5px;
}
.YC-tome-title-cat:after {
    content: '';
}
.subCategories{
    padding: 0px 0px;
    position: relative;
    z-index: 1;
    background-color: #2A2B2B;
    overflow: hidden;
    box-shadow: 0 -6px 8px -4px rgba(0, 0, 0, 0.38) , 0 6px 8px -4px rgba(0, 0, 0, 0.38);
    text-align:center
}
.subCategories li{
  display: inline-block;
}
.subCategories li a{
  display: block;
  color: white;
  padding: 10px 20px 10px 40px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  position: relative;
}
.subCategories li a:after{
    content: '';
    width: 82px;
    height: 69px;
    position: absolute;
    top: -2px;
    left: 0px;
    background: url(./img/navigation-home.png) left top no-repeat;
    z-index: 0;
}
.no_f_fu{
  height: 380px;
  text-align: center;
  background: rgba(0, 0, 0, 0.24) url(./img/bg_no.png) repeat-x top center;
  font-size: 24px;
  line-height: 380px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
}
.slider-home-mas{
  color: #FFF;
  box-sizing: border-box;
  position: relative;
  padding: 10px 0;
  overflow:hidden;
}
.slider-home-mas .caroufredsel_wrapper{
  width: 100% !important;
}
.slider-home-mas li{
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 262px;
    height: 350px;
    background: #1B1B1B;
    position: relative;
    text-align: right;
    border: 3px solid #FFF;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
}
.slider-home-mas li a:hover h1 {
    bottom: 0;
    transform: scale(1);
}
.slider-home-mas li a{
  display: block;
  height: 100%;
  overflow: hidden;
}
.slider-home-mas li h1{
  background: #1A1A1A;
  position: absolute;
  bottom: -90px;
  width: 100%;
  height: 64px;
  transform: scale(.9);
  font-size: 14px;
  line-height: 24px;
  padding: 8px 10px;
  text-align: center;
  transition: .3s all ease;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  color: white;
}
.slider-home-mas li:hover img{
    transform: translate(0px, -60px);
}
.slider-home-mas li img{
  width: 100%;
  height: 100%;
  display: block;
  transition: .3s all ease;
}
.contentSingle .block_loop{
    float: right;
    width: 250px;
    height: 270px;
}
.contentSingle.dd-fe .block_loop{
    width: 231px;
    height: 255px;
}
.contentSingle .block_loop h1t{
  top: auto;
  bottom:0px;
  background-color: #004591;
}
.slider-home-mas li .block_loop:hover h1.title_loop{
  bottom: 0px;
  padding: 20px 10px;
  -webkit-animation-name: auto;      
  animation-name: auto;
}
.mast_lo{
  height: 370px;
  position: relative;
  overflow: hidden;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.block_loop{
    position: relative;
    width: 266px;
    overflow: hidden;
    direction: rtl;
    text-align: right;
    border-radius: 3px;
    display: inline-block;
}
.right_thu{
  position: relative;
  height: 100%;
  width: 100%;
}
.block_loop .right_thu img{
  width: 100%;
  height: 100%;
}
.block_loop .right_thu a{
  display: block;
  height: 100%;
}
.block_loop h1.title_loop a{
    color: white;
}
.block_loop h1.title_loop{
  padding: 11px 10px;
  font-size: 14px;
  line-height: 23px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  max-height: 95px;
  position: absolute;
  width: 100%;
  right: 0px;
  background: rgb(27, 27, 27);
  bottom: 0;
  z-index: 1;
  transition: all .3s ease-in-out;
}
.block_loop:hover h1.title_loop{
}
.dex-sld ul{
      position: absolute;
      background: #131313;
      top: 0px;
      left: 0;
}
.slider_block_one{
    float: left;
    width: 336px;
    height: 515px;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
}
.block_loop:hover .dex-sld{
  top:0px;
  visibility: visible;
  opacity: 1;
  transform: scale(1) rotate(0deg) skew(0deg);
}
.dex-sld{
    right: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5) rotate(15deg) skew(10deg);
    padding: 8px;
    transform-origin: bottom center;
    overflow: hidden;
    position: absolute;
    transition: all .3s ease-in-out;
    opacity: 0;
    background: rgba(0, 0, 0, 0.78);
}
.dex-sld li{
    display: block;
    text-align: right;
    float: none;
    color: #FDFDFD;
    margin-right: 0px;
    font-size: 27px;
    font-weight: bold;
    height: 40px;
}
.views{
    background: rgba(0, 0, 0, 0.86) url(./img/eye.png) 97% center no-repeat;
    background-size: 24px;
    font-size: 16px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    color: white;
    padding: 5px 40px 5px 10px;
}
.dex-sld li.cat{
    font-size: 12px;
    overflow: hidden;
}
.dex-sld li.cat a{
    color: #FFF;
    font-size: 14px;
    font-family: 'DroidKufi Bold' , Tahoma;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
}
.dex-sld li.cat a:last-child:after{
  content:'';
}
.slider_block_two .dex-sld li.cat a{
    font-size: 13px;
  
}
.descri-slid a{
  display: block;
  height: 100%;
  color: white;
}
.descri-slid{
  padding: 9px 10px;
  font-size: 13px;
  font-family: 'DroidKufi Bold' , Tahoma;
  font-weight: bold;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 92px;
  right: 0px;
  width: 100%;
}
.slider_block_one .block_loop{
    width: 326px;
    height: 510px;
    margin-bottom: 0px;
}
.slider_block_two{
  width: 715px;
  float:left;
}
.slider_block_two .block_loop{
height: 250px;width: 228px;}
.slider-right{
  width: 40px;
  height: 60px;
  position:absolute;
  right: 0px;
  top: 170px;
  border-radius: 3px 0 0 3px;
  background: #1A1A1A url(./img/slider-home-right.png) center center no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider-right:hover{
  width:90px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}
.slider-left:hover{
  width:90px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}
.slider-left{
  width: 40px;
  height: 60px;
  position:absolute;
  left: 0px;
  top: 170px;
  border-radius: 0 3px 3px 0;
  background: #1A1A1A url(./img/slider-home-left.png) center center no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.futc-post{
    background: #057CBB;
    position: relative;
    box-shadow: inset 0 6px 8px -6px #000;  
}
h2.title-cat{
    background: #26A3C2;
    color: rgba(0, 0, 0, 0.92);
    float: right;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: -20px;
    line-height: 40px;
    padding-right: 70px;
    text-align: right;
    position:relative;
    text-transform: capitalize;
    box-shadow: 0 6px 8px -6px black;
    border-bottom: 4px solid rgba(255, 255, 255, 0.13);
    border-top: 4px solid rgba(255, 255, 255, 0.13);
    font-family: 'DroidKufi bold' , Tahoma;      
    font-weight: bold;
    font-size: 18px;
}
h2.title-cat:before{
  content:"";
  position: absolute;
  width: 0;   
  height: 0;   
  right: 356px;
  margin-top: -4px;
  border-top: 52px solid #057CBB;   
  border-right: 44px solid rgba(0, 0, 0, 0);
}
.futc-post.def_loop:before{
  left: 0px;
  top: 0px;
  content: " ";
  z-index: 28;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid #0C0E1E;
  border-right: 100px solid rgba(0, 0, 0, 0);
}
.futc-post:after{
  content:'';
    position: absolute;
    background: linear-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: webkit-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: moz-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: o-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: ms-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    width: 120px;
    height: 120px;
    
  bottom: 0px;
    right
    : 0px;
    z-index: 10;
    -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
    -moz-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
}
/* <!--: Breadcrumbs :--> */
.breadcrumbs_no_vide{
  margin-bottom: 10px;
  background: rgb(27, 27, 27);
  margin-top: 10px;
  border-radius: 5px;
}
.breadcrumbs_no_vide #breadcrumbs{
  width: 100%;
}
#breadcrumbs{
    list-style:none;
    overflow:hidden;
    padding: 14px 10px;
    position: relative;
    z-index: 1;
    width: 910px;
}
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right: 10px;
    font-size: 15px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    color: #FFFFFF;
}
#breadcrumbs li a{
    color: #CECECE;
}
#breadcrumbs .separator{
    font-size: 20px;
    font-weight:100;
    color: #5A5959;
    font-family: arial black;
}
/* <!--: Single Home :--> */
.content_home{
    min-height: 800px;
}
.single-content{position: relative;}
.cover{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 1;
  height: 410px;
  background-size: cover;
  background-position: top center;
  z-index: -1;
  background-color: #1F2025;
  border-bottom: 60px solid #000;
}
.cover:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgb(0, 0, 0);
  opacity: 0.8;
}
.before_cover{
  padding-top: 10px;
  margin-bottom: 10px;
}
.imdb_rate{
  background: url(http://pngimg.com/upload/star_PNG1590.png) top center no-repeat;
  background-size: 100% 100% !important;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  text-align]: c;
  text-align]:;
  font-size: 18px;
  text-align: center;
  line-height: 64px;
  color: black;
  font-weight: bold;
}
.right_be_co .views{
  right: 5px;
  bottom: 5px;
  top: auto;
  width: calc( 100% - 10px);
}
.right_be_co{
  width: 275px;
  height: 385px;
  float: right;
  margin-left: 10px;
  position: relative;
  z-index: 1;
}
.left_be_co{
  float: right;
  width: 910px;
  height: 340px;
}
.right_be_co img{
  width: 100%;
  height: 100%;
  border: 5px solid #DEDEDE;
}
.before_cover .w-1200{
  width: 1200px;
}
.left-single .title_single{
    padding: 3px 10px;
    margin: 10px 0px 15px;
}
.alert{
  background: linear-gradient(#3D3E3D, #333232, #242525);
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.83);
  border-radius: 3px;
  font-size: 20px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 18px;
}
.alert span{
  font-size: 16px;
}
.alert span strong{
  color: #FBBC46;
  font-size: 24px;
}
.alert h2{
  text-align: center;
  font-size: 20px;
  background-color: #AF0101;
  margin-bottom: 10px;
  border-radius: 13px;
  padding: 10px;
}
.title_single{
  text-align: right;
  font-size: 20px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  position: relative;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.cont_text{
  display: block;
  font-size: 13px;
  padding-left: 15px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  height: 280px;
  overflow-y: auto;
}
.cont_text::-webkit-scrollbar {
	width: 10px;
}
.cont_text::-webkit-scrollbar-track {
	background: rgba(107, 106, 106, 0.33);
	border-radius: 0px;
	box-shadow:inset 0 0 5px rgba(0,0,0,0.33);
	margin-left: 10px;
	border-radius: 10px;
}
.cont_text::-webkit-scrollbar-thumb{
	border-radius: 0px;
	background: #910D0D;
	border-radius: 10px;
}




.post_da-p .left_be_co{
  width: calc( 100% - 285px);
  z-index: 1;
  position: relative;
}

.mast_red{
  padding: 10px;
  background-size: 100%;
  position: relative;
}
.mast_red:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.34);
  top:0px;
  right: 0px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
.list_data_post{
  padding: 10px;
  text-align: center;
  position: relative;
}
.list_data_post li{
  font-size: 14px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  float: right;
  background: #1B1B1B;
  padding: 5px 10px;
  margin-left: 6px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #2F2F2F;
}
.list_data_post li.cattag{
  padding: 0px;
  background: transparent;
  border:0px;
  margin: 0px;
}
.list_data_post li.cattag a{
  background: transparent;
  margin: 0px;
  display: block;
}
.list_data_post li.last-child{
  margin-left: 0px;
}
.list_data_post li span{
  color: #BDBDBD;
  margin-left: 6px;
  display: inline-block;
}
.list_data_post li span.imdb{
  float: right;
  height: 28px;
}
.list_data_post li a{
  display: inline-block;
  height: 100%;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}
.list_data_post li img{
  
}
.right_be_co:hover .trailer_act{
  background: rgba(0, 0, 0, 0.65) url(./img/players.png) center center no-repeat;
}
.right_be_co .trailer_act{
  width: calc( 100% - 10px);
  height: calc( 100% - 10px);
  border-radius: 0px;
  left: 5px;
  top: 5px;
  background: url(./img/players.png) center center no-repeat;
  border: 0px;
  transition: all 0.3s ease;
}
.trailer_act{
  position: absolute;
  left: 10px;
  top: 8px;
  background: #9E1515 url(./img/play.png) 97% center no-repeat;
  padding: 7px 36px 6px 20px;
  font-size: 15px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #000000;
  cursor: pointer;
}
.trailer_pop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100000;
  visibility: hidden;
  transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}
.trailer_pop.act_trailer{
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.xco{
  position: absolute;
  width: 35px;
  height: 35px;
  background: #CC0909 url(./img/cross.png) center center no-repeat;
  background-size: 25px 25px;
  left: -200%;
  margin-left: -410px;
  top: 50%;
  margin-top: -215px;
  z-index: 10000;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 5px black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dd_ba{
  background: rgba(12, 12, 12, 0.98);
  position: relative;
  width: 100%;
  height: 100%;
}
.data_pop{
  width: 800px;
  height: 400px;
  position: absolute;
  z-index: 10;
  top: -200%;
  margin-top: -200px;
  left: 50%;
  margin-left: -400px;
  border: 5px solid white;
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  -moz-transition: all 0.5s 0.3s ease-in-out;
  -o-transition: all 0.5s 0.3s ease-in-out;
  -ms-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
}
.trailer_pop.act_trailer .data_pop{
  top: 50%;
  -webkit-transition: all 0.5s 0.3s ease-in-out;
  -moz-transition: all 0.5s 0.3s ease-in-out;
  -o-transition: all 0.5s 0.3s ease-in-out;
  -ms-transition: all 0.5s 0.3s ease-in-out;
  transition: all 0.5s 0.3s ease-in-out;
}
.trailer_pop.act_trailer .xco{
  left: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.data_pop iframe{
  width: 100%;
  height: 100%;
}
.thumn{
  width: 500px;
  height: auto;
  border: 5px solid #8C3278;
  margin: 0 auto 20px;
}
.thumn img{
  width: 100%;
  height: 100%;
}
.detalis-post{
  background-color: #2F2F2F;
  padding: 10px;
  border-radius: 12px;
}
.detalis-post li{
  float: right;
  width: 390px;
  margin-bottom: 7px;
  margin-right: 5px;
  background-color: #1F2025;
  padding: 17px 10px;
  border-right: 5px solid #8C3278;
  font-family: 'DroidKufi bold' , arial black;
  border-radius: 3px;
}
.detalis-post li span{
  display: inline-block;
  float: right;
  margin-left: 10px;

}
.detalis-post li a{
  display: inline-block;
  height: 100%;
}
.servers-download{
  margin: 7px 0px 16px 0;
  background: linear-gradient(180deg, #106F0A, #086103, #11800A);
  text-align: center;
  box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.32);
  border-bottom: 5px solid #12820B;
  border-top: 5px solid #12820B;
  padding: 8px 0;
}
.servers-download h1{
  text-align: center;
  margin-bottom: 10px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  font-size: 16px;
  background: #D98345;
  padding: 5px 10px;
}
.servers-download li{
  display: inline-block;
}
.servers-download li a{
  display: block;
  width: 100%;
  padding: 5px 40px 5px 10px;
  background: #1F8C18 url(./img/cloud.png) 96% 50% no-repeat;
  border-radius: 3px;
  font-family: 'DroidKufi bold' , Tahoma;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.37);
  font-weight: bold;
  font-size: 14px;
}
.cattag{
  padding: 5px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0 10px 10px;
  border-radius: 3px;
}
.cattag span{
  display: inline-block;
  font-size: 16px;
  float: right;
  margin-left: 10px;
}
.cattag a{
  background-color: rgba(255, 255, 255, 0.07);
  padding: 0px 10px;
  display: block;
  float: right;
  margin-top: 2px;
  margin-left: 5px;
  border-radius: 3px;
  color: white;
}
.time_dir{
  background: #1B1B1B;
  border: 1px solid #2F2F2F;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  height: 150px;
  float: right;
  width: 49%;
}
.left_views > span{
    display: block;
    background: #BB1A1A url(./img/play.png) 93% center no-repeat;
    padding: 30px 16px;
    color: #fff;
    margin: 30px auto 0px;
    box-shadow: 0px 2px 5px #000;
    border-radius: 3px;
    padding-right: 45px;
    width: 260px;
    font-family: 'DroidKufi bold' , Tahoma;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
.left_views{
  float: left;
  width: 48%;
  margin-left: 1%;
  background: #1B1B1B;
  border: 1px solid #2F2F2F;
  height: 150px;
}
.left_dir{
  width: calc( 100% - 325px);
  float: left;
}

.sidebArSIde > h2 a{
  color: #EAAA42;
}
.sidebArSIde > h2 {
    margin: 0 0px 15px;
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    background: linear-gradient(to top, #B730B3 0%,#5F1E79 100%);
    color: #FFF;
}
.sidebArSIde > li {
    list-style: none;
    display: inline-block;
    width: 196px;
    text-align: center;
    position: relative;
}

.sidebArSIde > li > a:first-child:hover, .sidebArSIde > li.active > a:first-child {
    background: rgb(147, 3, 3);
}
.sidebArSIde > li > a{
    display: block;
    padding: 10px 14px 10px;
    text-align: right;
    border-bottom: 1px solid rgba(214, 188, 188, 0.05);
    color: white;
    margin-bottom: 6px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    background: rgb(26, 26, 26);
    transition: .3s all ease;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.23);
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
}
.sidebArSIde {
    float: right;
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 10px;
}


#countdown{
  width: 150px;
  margin: 0px auto 10px;
}
.redirect{
  font-family: 'DroidKufi bold' , Tahoma;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 10px;
}
.redirect a{
  display: inline-block;
  background: #2D8C01 url(./img/folder-open.png) 93% center no-repeat;
  padding: 30px 16px;
  color: #fff;
  margin: 30px auto 0px;
  box-shadow: 0px 2px 5px #000;
  border-radius: 3px;
  padding-right: 45px;
  width: 300px;
  font-size: 16px;
}
.right-single{
    width: 400px;
    float: left;
    border-radius: 3px;
    position: relative;
}
.imdb_link{
  height: 50px;
  width:50px;
  overflow: hidden;
  position:absolute;
  margin-top: -94px;
  margin-right: 14px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}
.imdb_link a{
  display: block;
  width:100%;
  height:100%;
  background: #9A1919 url(./img/imdb.png) top right no-repeat;
  padding: 10px 60px 10px 10px;
  background-size: 50px 50px;
    font-size: 16px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    color: white;
}
.imdb_link:hover{
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}
.date_icon{
  position:absolute;
  background: #0F5A96;
  font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;  
  padding: 5px 10px;
  width: 376px;
  margin-top: 12px;
  margin-right: 12px;
}
.date_icon span{
  color: #FFFFFF;
  background: url(./img/time.png) right center no-repeat;
  padding-right: 35px;
}
.right-single img.attachment-poster{
  display: block;
  margin: 10px auto 0px;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  border: 2px solid #FFFFFF;
  width: 380px;
}
.catFilm{
    background: url(./img/eye.png) 94% center no-repeat;
    position: relative;
    margin-right: 12px;
    padding: 10px 55px 10px 20px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 3px;
    float: right;
}
.social-shares{
  text-align:center
}
.Ads_share{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;  
}
.social-shares li{
  display: inline-block;
}
.social-shares li a{
  width: 130px;
  height:40px;
  padding-top:0;
  padding: 5px 20px 5px 10px;
  font-size: 14px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  color: white;
  display: block;
  border-radius: 3px;
}
.social-shares li span{}
.social-facebook a{
  background:#45619C url(./img/social-bg/facebook.png) 92% center no-repeat;
}
.social-twitter a{
  background:#00ACEE url(./img/social-bg/twitter.png) 92% center no-repeat;
}
.social-google a{
  background:#DD4B39 url(./img/social-bg/google-plus.png) 92% center no-repeat;
}
.social-pinterest a{
  background:#BD1E23;
}
.social-linkedin a{
  background: #1D87BD;
}
.ads-r.fix-ad{
  position:fixed;
  top: 10px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}
.ads-l.fix-ad{
  position:fixed;
  top: 10px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}
.content_vio{
  position: relative;
}
.ads-r{
  width: 164px;
  height: 635px;
  position: absolute;
  background: #212121;
  border-radius: 3px;
  right: 0px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}
.size_ti{
  text-align: center;
  font-size: 14px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  background: #1B1B1B;
  padding: 2px 5px;
  border-radius: 3px;
}
.ads-l{
  width: 164px;
  height: 635px;
  position: absolute;
  background: #212121;
  left: 0px;
  border-radius: 3px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}
.ads-l .widget, .ads-r .widget{margin: 2px auto 0;width: 160px;}
.left-single{
    width: calc( 100% - 340px);
    min-height: 633px;
    border-radius: 3px;
    padding-bottom: 5px;
    margin: 0 auto;
    background-color: #212121;
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.84);
}
.ads-728{
  width: 728px;
  margin: 20px auto 10px;
}
.content{
    padding: 30px 30px;
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    border: 5px solid #26272D;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 25px;
    margin-bottom: 13px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.46);
}
.servers {
    margin-top: 0px;
}
.servers > ul {
    text-align: center;
    background: #1B1B1B;
    padding: 0 9px;
}
.servers > ul > li {
  display: inline-block;
  cursor: pointer;
  transition: .5s all ease;
  border-left: 2px solid rgba(19, 18, 18, 0.36);
  color: white;
  padding: 5px 10px 5px;
  font-size: 16px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  margin-right: -4px;
  overflow: hidden;
}
.servers > ul > li:hover {
  background: linear-gradient(0deg, #3E3E3E, #4C4C4B, #444443);
  color: #FFF;
}
.servers > ul > li.active {
    background: linear-gradient(180deg, #9E1515, #CE1212, #9E1515);
    color: #fff;
}
#DataServers {
    position: relative;
    height: 430px;
    border: 7px solid #FFF;
}
#DataServers iframe{
  width: 100%;
  height: 100%;
}
#DataServers > div.POPUP_ADS{
  position: absolute;
  width:100%;
  height: 100%; 
  display: block;
}
#DataServers > div iframe {
  display:table;
  margin:0 auto;
  width:100%;
}
#DataServers > div {
    display: none;
}
#DataServers > div.active {
    display: block;
    height: 100%;
}
#DataServers .active {
    height: 100%;
}
#DataServers2 {
    position: relative;
}
#DataServers2 > iframe {
  display:table;
  margin:0 auto;
}
#DataServers2 > div {
    display: none;
}
#DataServers2 > div.active {
    display: block;
}
#DataServers iframe {
  display:table;
  margin:0 auto;
  width:100%;
}





.download_links{
  cursor: pointer;
  margin: 10px 0px;
  font-size: 14px;
  font-family: 'DroidKufi bold' , Tahoma;
  box-shadow: 0 6px 8px -4px #000;
  display: inline-block;
  padding: 29px 18px;
  height: 42px;
  line-height: 18px;
  min-width: 120px;
  background: #F3BF46;
  margin-right: 0px;
  margin-left:5px;
  font-weight: bold;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.download_links span{
    display: block;
    position: absolute;
    font-size: 12px;
    margin-top: -50px;
    margin-left: 50px;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.download_links:hover span{
    display: block;
    position: absolute;
    font-size: 12px;
    margin-top: -17px;
    margin-left: 50px;
    -webkit-transition: all 0.1s ease-in-out;  
  -moz-transition: all 0.1s ease-in-out;  
  -o-transition: all 0.1s ease-in-out;  
  -ms-transition: all 0.1s ease-in-out;  
  transition: all 0.1s ease-in-out;
}
.download_links:hover{
  background: #11B18D;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}












/*
.download_links {
  display: inline-block;
  background-color: #EACA37;
  cursor: pointer;
  color: #202230;
  border-right: 5px solid #fff;
  padding: 20px 12px;
  margin: 10px 0px;
  font-size: 14px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  box-shadow: 0 6px 8px -4px black;
}
*/
.dre{
    height: 10px;
    box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.45);
    margin-bottom: 16px;
}
.left-single .cats{
}
.left-single .cats span{
    float: right;
    margin-left: 5px;
    min-width: 140px;
    padding: 6px 10px;
}
.left-single .cats strong{
    display: block;
    float: right;
    background-color: #0F1215;
    padding: 3px 10px;
  font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    border-radius: 3px;
}
.cats {
    display: table;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #26272D;
    padding: 5px 10px;
}
.cats span {
    color: white;
    /* background: #0F5A96; */
    padding: 7px 12px;
    position: relative;
    display: block;
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    margin-bottom: 5px;
}
.cats a {
    background: #2C2D32;
    padding: 5px 13px;
    margin-left: 4px;
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.49);
}
.cats a:hover {
    background: #11B18D;
    color: #000;
    }
.block-style{
    padding: 0 5px;
}
.show-film2{
    padding-bottom: 10px;
}
.show-film2 .title-block-master{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #AF0101;
}
.servers2{
    padding: 0px;
}
.colo_asa a{
  color: #EAAA42;
}

.title-block-master.colo_asa{
  background: linear-gradient(0deg, #B60F1B, #690B0B);
  color: #FFF;
}
.title-block-master{
    background: #212121;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    padding: 12px 90px;
    position: relative;
    border-radius: 3px;
    border-top: 5px solid #131313;
}
.recent-post .title-block-master{
  font-size: 16px;
  background-color: #212121;
  padding: 17px 5px;
}
.recent-post .title-block-master a{
  color: #FFFFFF;
  font-size: 18px;
  padding: 0px 10px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 3px;
}
.facebook-comment{
    background-color: white;
}
ol.forms li.buttons button{
    background: #9A1919;
    border-radius: 3px;
    border: 0px;
    float: left;
    color: #fff;
    padding: 5px 20px;
    font-family: 'DroidKufi Bold', Tahoma;  
  font-size: 13px;
}

ol.forms { list-style: none; margin: 0; width: 100%; }
ol.forms li {    
  position: relative;
  margin-bottom: 6px;
}
ol.forms label {
  cursor: pointer;
  display: block;
  padding-right: 5px;
  width: 220px;
  line-height: 27px;
  margin-bottom: 4px;
  background-color: #9A1919;
  font-size: 14px;      font-family: 'DroidKufi bold' , Tahoma;      font-weight: bold;
  border-radius: 3px;
  padding: 5px 10px;
  float: right;
  margin-left: 5px;
}
ol.forms textarea{
    width: 950px;
    height: 300px;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-size: 12px;
    margin-bottom: 10px;
}
ol.forms input{
    height: 36px;
    width: 950px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(145, 145, 145, 0.27);
    border-radius: 3px;
    float: right;
    display: block;
    padding: 5px 10px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-size: 12px;
}
.error { color: #f00; }
ol.forms li .error { 
  font-size: 12px; 
  background: #BD3636; 
  display: inline-block; 
  float: left; 
  margin: 8px 0px 0px 115px; 
  min-width: 140px; 
  color: white; 
  padding: 5px 10px; 
  text-align: center;
}
ol.forms li.textarea .error {
  display: block;
  right: 0;
  top: 0;
  display: block;
}
ol.forms li.buttons button {
  color: #FFFFFF;
  cursor: pointer;
  overflow: hidden;
  padding: 6px 3px 3px 3px;
  text-transform: uppercase;
  width: 100px;
}
ol.forms li.buttons button:hover { color: #fff; }
ol.forms li.buttons button:active { left: -1px; position: relative; top: -1px; }
ol.forms li.buttons, ol.forms li.inline { }
ol.forms li.inline input { width: auto; }
ol.forms li.inline label { display: inline; float: none; width: auto; }
.left-contac{
    width: 458px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
    float: left;
}

/* <!--: Recent :--> */
.recent-post{
    position: relative;
    margin-bottom: 10px;
}
.recent-post .block_loop{
    float: none;
    border: 2px solid rgba(255, 255, 255, 0.13);
    height: 332px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.recent-post .block_loop a{
  display: block;
  height: 100%;
}
.recent-post .block_loop img{
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}
.recent-post .caroufredsel_wrapper{
  width: 100% !important;
  margin-bottom: 20px !important;
}
.recent-post h1.title_loop{
  bottom: 0px;
  top: auto;
}
.recent-post .block_loop:hover img{
  transform: translate(0px, -40px);
}
.recent-post .block_loop:hover h1.title_loop{
  bottom:0px;
}
.recent-post li{
    float: left;
}
.recent-post .slider-right{
  top: 200px;
}
.recent-post .slider-left{
  top: 200px;
}
/* <!--: Section Flimes :--> */
.section-flimes{
    background-color: rgba(8, 8, 8, 0.54);
    position:relative;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 7px solid rgba(12, 12, 12, 0.74);
}
.section-flimes:before{
  right: 0px;
  top: 0px;
  content: " ";
  z-index: 28;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid #2D344C;
  border-left: 100px solid transparent;
}
.title_sec_home{
  background: #343642;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
  padding: 3px 90px 3px 0;
  border-top: 5px solid rgb(42, 43, 53);
  border-bottom: 5px solid rgb(42, 43, 53);
  position: relative;
  box-shadow: 5px 6px 8px -3px rgba(0, 0, 0, 0.56) , 53px -6px 8px -3px rgba(0, 0, 0, 0.4);
}
.mor_dd{
  position:absolute;
  left: 30px;
  top: 25px;  
  background: #343642;
  color: white;
  font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
  padding: 3px 90px;
  border-top: 5px solid rgb(42, 43, 53);
  border-bottom: 5px solid rgb(42, 43, 53);
  box-shadow: 0 6px 8px -4px black;
}
.section-series .mor_dd{
  background: #9A1919;
  border-top: 5px solid #540E0E;      
  border-bottom: 5px solid #540E0E;
}
.section-flimes .block_loop{
    float: none;
    border: 2px solid rgba(255, 255, 255, 0.13);
    width: 236px;
    height: 332px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.section-flimes .caroufredsel_wrapper{
  width: 100% !important;
  margin-bottom: 50px !important;
}
.section-flimes li{
    float: left;
}
.section-flimes .slider-right{
  top: 240px;
}
.section-flimes .slider-left{
  top: 240px;
}
/* <!--: Section Series :--> */
.section-series{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.67));
    position:relative;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 7px solid rgba(18, 18, 18, 0.19);
}
.section-series:after{
  content: "";
  background: url(./img/shadow-4.png) top center no-repeat;
  background-size: 150% 100%;
  position:absolute;
  bottom: -54px;
  width: 100%;
  height:50px;
  opacity: 0.4;
}
.title_sec_home-series{
  background: #9A1919;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
  padding: 3px 90px 3px 0;
  border-top: 5px solid rgba(0, 0, 0, 0.46);
  border-bottom: 5px solid rgba(0, 0, 0, 0.46);
  position: relative;
  box-shadow: 5px 6px 8px -3px rgba(0, 0, 0, 0.56) , 53px -6px 8px -3px rgba(0, 0, 0, 0.4);
}
.section-series .block_loop{
    float: none;
    border: 2px solid rgba(255, 255, 255, 0.13);
    width: 236px;
    height: 332px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.section-series .caroufredsel_wrapper{
  width: 100% !important;
  margin-bottom: 50px !important;
}
.section-series li{
    float: left;
}
.section-series .slider-right{
  top: 240px;
}
.section-series .slider-left{
  top: 240px;
}
/* <!--: Default loop :--> */
.def_loop{
  padding-top: 40px;
  padding-bottom: 40px;
}
.title-news{
  margin: 10px auto 20px;
  color: #FFFFFF;
  background-color: #8C3278;
  min-width: 300px;
  border-left: 5px solid #FFF;
  border-right: 5px solid #fff;
  max-width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: 'DroidKufi bold' , Tahoma;
  font-weight: bold;
  padding: 10px 90px;
  position: relative;
  box-shadow: 0 10px 9px rgba(0, 0, 0, 0.35);
}
.def_loop .block_loop{
    float: right;
    border: 2px solid rgb(255, 255, 255);
    width: 280px;
    height: 375px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    margin-bottom: 15px;
}
/* <!--: 404 :--> */
.pg-404{
    background: -moz-linear-gradient(-40deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(10, 14, 10, 0.09) 40%, rgba(255, 255, 255, 0.2) 90%);
    background: -webkit-linear-gradient(-40deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(10, 14, 10, 0.09) 40%, rgba(255, 255, 255, 0.2) 90%);
    background: -o-linear-gradient(-40deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(10, 14, 10, 0.09) 40%, rgba(255, 255, 255, 0.2) 90%);
    background: -ms-linear-gradient(-40deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(10, 14, 10, 0.09) 40%, rgba(255, 255, 255, 0.2) 90%);
    background: linear-gradient(-220deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(10, 14, 10, 0.09) 40%, rgba(255, 255, 255, 0.2) 90%);
    border-radius: 6px 6px 6px 6px;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    height: 390px;
    width: 500px;
    margin: 100px auto 0;
}
.pg-404 h1{
  text-align: center;
  margin-bottom: 10px;
  font-size: 100px;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.35);
}
.data_404{
  font-family: 'DroidKufi bold' , Tahoma;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: none repeat scroll 0 0 #982E33;
  border-radius: 14px 14px 14px 14px;
  border-top: 2px solid #B65156;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  margin: 0 20px;
  padding: 30px 10px 10px;
}
.pg-404 a{
  background: rgba(255, 255, 255, 0.24);
  display: block;
  text-align: center;
  font-family: 'DroidKufi bold' , Tahoma;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 30px auto 0;
  padding: 10px 10px;
  width: 150px;
  border-radius: 3px;
}
.histats{
  position: absolute;
  left: 50%;
  top: 12px;
}
/* <!--: pagination :--> */
.pagination {
  padding:20px 0;
  position:relative;
  line-height:13px;
  text-align: center;
}
.pagination span, .pagination a {
  display:block;
  padding: 13px;
  margin: 2px 4px 2px 0;
  text-decoration:none;
  width:auto;
  color: #FFF;
  background: #1B1B1B;
  display: inline-block;
  border-radius: 3px;
  font-family: 'DroidKufi normal' , Tahoma;
}
.pagination a:hover{
  background: #000000;
}
.pagination li{
  display:inline-block;
}
.pagination .current{
  padding:  13px;
  background: #000000;
  color:#fff;
}



/* <!--: Footer :--> */
#footer {
    height: 50px;
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #1B1B1B;
    z-index: 100;
}
.Histats_code{
  position:absolute;
  background: #24252D;
  left:50%;
  margin-left: -56px; 
  margin-top: 11px;
  border-radius: 3px;
}
.right-footer{
    float: right;
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    margin-top: 11px;
    margin-right: 20px;
}
.left-footer{
    float: left;
    color: #AFAFAF;
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 13px;
}
.left-footer a{
  color: #FFFFFF;
}
