﻿/*MainSliderBox*/

 .section-white .img-responsive, .section-white .thumbnail > img, .section-white .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        width: 100%;
        height: auto;
    }

    .carousel-caption {
        background-color: rgba(0,0,0,.5);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 0 0 10px 25px;
        color: #fff;
        text-align: left;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 15;
        margin: 0;
        text-align: right;
    }

    .carousel-control.left > i, .carousel-control.right > i {
        top: 48%;
        position: absolute;
    }

    .section-white {
        padding: 7px 0;
        background-color: #fff;
        color: #555;
    } 
    @media screen and (min-width:990px) {
        .section-white {
            margin-left: 2.6em;
        }
    }
    @media screen and (min-width:1180px) {
        .section-white {
            margin-left: 1.3em;
            max-width: 650px;
            max-height: 374px;
        }
    }

    /*MainSliderBox*/

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.cash_warn {
    color: red !important;
    text-shadow: 0 0 0 #f00;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.boxhtop:hover i {
    color: #055b77;
}

.articletag {
    font-size: 11px;
    line-height: 24px;
    margin: 1px 0;
    display: block;
    width: 50%;
    float: left;
}

    .articletag .tag_name_right {
        padding: 0 4px 0 1px;
        background-color: #ECECEC;
        height: 24px;
        overflow: hidden;
    }

    .articletag .tag_name_left {
        height: 24px;
        float: right;
    }

    .articletag .tag_cnt {
        padding: 0 5px;
        color: #4E4E4E;
        background-color: #FBFBFB;
    }

.list-group li {
    margin-bottom: 3px;
}

.list-group {
    margin-bottom: 0;
}

    .list-group li a:hover {
        background: white !important;
        color: black !important;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

.carousel-indicators {
    text-align: left !important;
    padding-left: 10px !important;
}

.carousel-caption {
    padding: 5px 10px !important;
    text-align: right !important;
}

@media(max-width:768px) {
    .articlelist .tab_content ul a {
        font-size: 14px;
        line-height: 17px;
    }

    .articlelist .tab_content .tablink {
        white-space: normal;
    }
}
