#loginLogo:before {
	display: none;
}
@media only screen and (min-width: 600px) {
	#loginBody {
		background:transparent;
	}
	#topWrap, #topWrap2 {
		background-repeat:no-repeat;
		background-position: center center;
		background-size: cover;
	}

	#loginTable {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding:20px;
	}
	#loginForm {
		background: none;
		border: 0;
		overflow: visible;
		border-radius: 5px;
	}

	.button > div {
		border: 0 none;
	}
	.button > div:hover {
		border: 0 none;
	}
	.button .buttonC {
		text-shadow: none;
		color:#fff;
	}


	#loginFooter {
		border-top: 0;
	}

	#loginForgot {
		color:#aaa;
		margin:0 20px 20px;
	}
	#loginQR {
		color:#aaa;
		margin:0 20px 20px;
	}
	.galTag {
		cursor:pointer;
		display:block;
		border-radius: 0 0 3px 3px;
		padding:5px 30px;
		text-align: center;
		position: absolute;
		top:0;
		right:15%;
		color:white;
		background:transparent url(//frype.com/i/sbook/polshs.png);
	}
	#loginLogo {
		margin-bottom: 0;
		position: relative;
	}
	#loginLogo:before {
		/*content: url(logo.png);*/
		display: block;
		position: absolute;
		top: -85px;
		left: 15px;
	}
	:lang(en) #loginLogo:before{
		content: url(../logo-flat-en.png);
	}
	:lang(de) #loginLogo:before{
		content: url(../logo-flat-de.png);
	}
	:lang(hu) #loginLogo:before{
		content: url(../logo-flat-hu.png);
	}
	:lang(lt) #loginLogo:before{
		content: url(../logo-flat-lt.png);
	}
	#loginLogo img {
		/*display: none;*/
		width: 290px;
	}
}

@media only screen {
	#loginBody {
		background:transparent;
	}
	#topWrap, #topWrap2 {
		background-repeat:no-repeat;
		background-position: center center;
		background-size: cover;
	}

	#loginTable {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding:20px;
	}
	#loginForm {
		background: none;
		border: 0;
		overflow: visible;
		border-radius: 5px;
	}


	.button > div {
		border: 0 none;
	}
	.button > div:hover {
		border: 0 none;
	}
	.button .buttonC {
		text-shadow: none;
		color:#fff;
	}


	#loginFooter {
		border-top: 0;
	}


	#loginForgot {
		color:#aaa;
		margin:0 20px 20px;
	}
	#loginRegister {
		color:#aaa;
		margin:0 20px 20px;
	}
	#loginQR {
		color:#aaa;
		margin:0 20px 20px;
	}

}

@media only screen and (min-width: 600px) {
	.clickme {
		width: 100%;
		height: 90%;
		position: absolute;
		top: 0;
	}
	.clickme:hover {
		cursor: pointer;
	}

	#topWrap {background-image: url(../1962/ZZ_LOTERIJA_DRAUGIEM_LOGIN_GFX.svg); background-size: cover; }
	#topWrap2 {background-image: url(../1962/ZZ_LOTERIJA_DRAUGIEM_LOGIN_BG.jpg); background-size: cover; }
	.galTag, #loginFooter {background: rgba(0,0,0,0.7);z-index: 1;}

	#loginForgot, #loginRegister, #loginQR, .formItem label, #loginFooter a, #loginFooter b, #loginFooter span, #loginFooter strong {color: #fff;}
	#loginFooter span.badge {background: #fff; color: #000 !important;}
	#loginBody #loginTable {
		margin: 50px auto 0 auto;
		position: relative;
		z-index: 1;
		width: 290px;
	}

	#loginBox {
		position: relative;
		border-radius: 5px;
		box-shadow: 0 0 62px 0 rgba(73, 60, 62, 0.38);
		background:	rgba(0, 0, 0, 0.25);
		margin-top: 5px;
	}

}
@media only screen and (max-width: 600px) {
	#loginLogo img {visibility:hidden;}
	#loginLogo {min-height: 70px; min-width:298px; background: transparent url(//ifrype.com/i/logos/lv.png) no-repeat center;}
}

#topWrap2 {
	width: 100%;
	height: 100%;
}