body {
	height: 100%;
}

#loginBody {
	background: 	url('//ifrype.com/i/misc/login_bg.png') top repeat-x #FFF;
	height: 100%;
	width: 100%;
}

.blockedHeaderBg {
	border-top: 4px solid #FF6600;
}

#loginBody #loginTable{
	margin: 10px auto;
}
#loginBody td.noLogin{
	vertical-align: top;
	padding-top:10px;
}

#loginBody #container {
	background: transparent;	
}

#loginFooter {
    position: relative;
	border-top: 1px solid #e7e7e7;
    height: 10px;
	padding: 16px 24px;
}
#draugiem-group {
    background: url(/main/img/footer/img_draugiem_grupa_white_2x.png) no-repeat;
    width: 108px;
    height: 23px;
    background-size: 108px auto;
    position: absolute;
    right: 24px;
    top: 26px;
}

#loginFooter a, #loginFooter b, #loginFooter span{
	margin:4px;
	display: inline-block;
	color: #8d8d8d;
}

#loginFooter span.badge {
    border-radius: 3px 3px 3px 3px;
    color: rgb(255, 255, 255) !important;
    display: inline-block;
    font-size: 10px;
    line-height: 13px;
    padding: 1px 6px 1px 6px;
    text-align: center;
    text-shadow: none;
    background-color: rgb(167, 167, 167);
    color: rgb(255, 255, 255) !important;
    margin: 0 4px 0 0;
}

#loginFooter span.badge.on {
    background-color: rgb(255, 102, 0);
    color: rgb(255, 255, 255) !important;
}

#loginClosed {
	width:100%;
}
#loginBox{
	margin: 10px auto 0;
	width: 290px;
	overflow: hidden;
}
#loginBox .bx{
	text-align: left;
}	
#loginForm, #logOutBoxBg {
	padding: 10px 20px;
	background: url('//ifrype.com/i/misc/login_form.png') repeat-x bottom;
}

#capsLock {
	margin-bottom:20px;	
}

#loginLogo {
	margin-bottom:20px;
	display: block;
}

#passportLogin {
	margin: 20px auto 0 auto;
	width:320px;
}

.passportLoginMiddle{
	border: 1px solid #e7e7e7;
	border-top-width: 0;
	background-color:#FFFFFF;
	padding:10px;
}
#passportLoginFooter,#passportLoginPopup {
	padding:10px;
	margin-bottom:5px;
	background-color:#f3f3f3;
	border: 1px solid #e7e7e7;
	border-top-width: 0;
	text-align:center;
}

#passportLogin h1 {
	background:#ff6600 url('//ifrype.com/i/infobox/pattern.png') repeat-x;
	color:#FFF;
	border:none;
	margin:0;
	padding:10px;
	text-align: left;
	text-shadow:1px 1px 2px #393939;
}
#passportLogin.eidLogin h1 {
	background-image: url('/i/infobox/pattern_eid.png');
}
.passportLoginMiddle .profileSmallIcon{
	float:left;
	margin-right:10px;
	position: relative;
}
.passportLoginMiddle .verifiedIcnSmall {
	width: 10px;
	height: 10px;
	margin-left: 5px;
	display: inline-block;
	background: url('//ifrype.com/special/verifikacija/assets/img/icn_9.png') no-repeat left;
}
.eidMissingVerify {
	width: 320px;
	margin: 0 auto;
	text-align: center;
}
.eidMissingVerify .title {
	font-weight: bold;
	font-size: 15px;
	padding-top: 125px;
	padding-bottom: 15px;
	color: #000;
}
.eidMissingVerify .descr {
	width: 300px;
	margin: 0 auto;
	font-size: 13px;
	line-height: 20px;
	color: #000;
	padding-bottom: 30px;
}
.eidMissingVerify .loggedInBorder {
	border: 1px solid #dcdcdc;
	width: 274px;
	padding: 12px 21px;
	margin: 0 auto 35px;
	border-radius: 3px;
	text-align: left;
}
.eidMissingVerify .loggedInBorder .profileSmallIcon {
	float: left;
	margin-right: 10px;
}
.eidMissingVerify .loggedInBorder .text {
	padding-top: 10px;
}
.eidMissingVerify .button {
	margin-bottom: 35px;
}
.whatIsVerify {
	background: url('//ifrype.com/special/verifikacija/assets/img/icn_9.png') no-repeat left;
	padding-left: 20px;
}
.eidCbx.open>.cbxCaption>.cbxArrow {
	background-image: url('//ifrype.com/special/verifikacija/assets/img/icn_9.png');
	background-position: 0 2px;
}
.eidCbx .cbxArrow {
	background-image: url('//ifrype.com/special/verifikacija/assets/img/icn_9.png');
	background-position: 0 2px;
	padding-left: 17px;
}



#topWrap, #footWrap {
	height: 100%;
	width: 100%;
}

.biz_dropdown{	
	width:220px;
	margin-left:40px;
}


#logoutBox {
	background: url('//ifrype.com/i/misc/login_form.png') repeat-x bottom;
	margin-top:10px;
	width: 290px;
	float:left;
	margin-right: 20px;
	height: 150px;
}
#logOutBoxBg {
	position: relative;
	height: 146px;
	overflow: visible;
}
#logoutBox .smartPhones {
	background: url('//ifrype.com/i/misc/v1/mobile.png') no-repeat;
	width: 169px;
	height: 170px;
	top: 60px;
	left: 60px;
	position: absolute;
}

#logoutBox .smartPhonesIpad{
	background: url('//ifrype.com/i/misc/v1/ipad.png') no-repeat;
	width: 201px;
	height: 149px;
	top: 35px;
	left: 39px;
	position: absolute;
}

#logoutBox .goAway, #logoutBox .takeWith a {
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	position: relative;
}
#logoutBox .takeWith a {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 150px;
	display: block;
	z-index: 1;
	padding-top: 30px;
}

#logoutBox .takeWithIpad a {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 150px;
	display: block;
	z-index: 1;
	padding-top:12px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

#loginBox {
	position: relative;
}

#loginQR {
	/*width: 16px;
	height: 16px;*/
	display: block;
	float: right;
}

#loginForgot{
	display: block;
	float: left;
}
#loginRegister{
	display: block;
	float: right;
	margin: 0 20px 20px;
}
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
}

@media screen and (max-width: 768px) {
	#loginLogo {
		margin-top: 15px;
		margin-bottom: 15px;
		width: 100%;
	}
	#loginLogo > img {
		max-width: 100%;
	}
}
@media screen and (max-width: 360px) {
	#loginLogo {
		margin-top: 15px;
		margin-bottom: 15px;
		width: 85%;
	}
	#loginLogo > img {
		max-width: 100%;
	}
	#loginFooter a, 
	#loginFooter b, 
	#loginFooter span,
	#loginFooter strong {
		font-size: 10px;
		margin: 2px;
	}
}

#loginForm .captcha {
	margin-bottom: 10px;
}
#loginForm .captcha .img {
	margin-top: 3px;
	margin-bottom: 4px;
	text-align: center;
}
#loginForm .captcha img {
	border: 1px solid #ddd;
}

.captureinLogin {
	text-align: center;
}
.captureinLogin .refresh {
	margin-top: 5px;
}
.captureinLogin .description {
	margin-top: 10px;
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#loginFooter {
		border-top: 0;
	}

	#loginFooter > div {
		float: none !important;
		text-align: center;
	}

	#loginFooter > div:first-child {
		border-bottom: 1px solid rgba(200, 200, 200, 0.3);
		padding-bottom: 5px;
		margin-bottom: 5px;
	}

	#loginQR {
		display: none;
	}
}

.blockedHeaderBg #ct {
	padding-top: 0px;
}