

.slider {
    margin: 0 auto;
    max-width: 768px;
}

.slide_viewer {
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.slide_viewer .description{
    font-size: 14px;
    line-height: 1.35em;
    color: #777;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}


.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #7c7c7c;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #f0f0f0;
    cursor: pointer;
}

.directional_nav {
    height: 40px;
    margin: 0 auto;
    max-width: 768px;
    position: relative;
    top: -35px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 45px;
    height: 35px;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 45px;
    height: 35px;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 35px;
    opacity: 0.7;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 35px;
}

.previous_btn path, .next_btn path{
    fill: #fff!important;
}

.previous_btn svg, .next_btn svg{
    height: 45px;
    width: 45px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        top: 60px;
        left: 0px;
    }
    .next_btn {
        right: 5px;
        top: 60px;
    }
}

@media (max-width: 650px) and (min-width: 410px){
  .slide_viewer{
    height: 445px;
  }
}


@media (max-width: 768px) and (min-width: 651px){
  .slide_viewer{
    height: 525px;
  }
}