*{
	margin:0;
	padding:0;
}

/* --------------------------
	link
-------------------------- */

A:link {color:#003366; text-decoration:none;}
A:visited {color:#660099; text-decoration:none;}
A:hover {color:#003366; text-decoration:underline;}
A:active {color:#003366; text-decoration:underline;}

A.noticeLink:link {color:#9C9C9C}
A.noticeLink:visited {color:#9C9C9C}
A.noticeLink:active {color:#9C9C9C; text-decoration:underline}
A.noticeLink:hover {color:#9C9C9C; text-decoration:underline}


/* --------------------------
	textColor
-------------------------- */

.color01{
	color:#FFFFFF;
}

.color02{
	color:#990000;
}

.color03{
	color:#666666;
}

.color04{
	color:#E6001D;
}

.color05{
	color:#9C9C9C;
}
