/* Add your Custom CSS here, do not forget to activate this file in the Backend Options of the Template 
table{background-color: white !important;}*/
a.fancybox-effects-a{color: white !important;}
#main-innerpage{background: url(http://aidansoftware.com/client/kpm/images/kpmnew3.jpg) repeat center top;margin-top: -20px;}
.item-page {margin-top: 20px;}
.main-content{background: rgba(255,255,255,0.98);}
.main-content{padding: 20px 10px;}

/* Search Results */
.pagination,.pagianation ul{margin: 0;}
p.counter {font-size: smaller;}
dd.result-created{font-style: italic; font-size: smaller;}
span.highlight{background-color: yellow!important;}

.img-responsive {display: inline;}
.label-info {background-color:#0c3182;}
.label-warning {background-color:#FFB538; color: black;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  vertical-align: middle !important;
}
.leftcol .moduletable h3 {font-weight: bold !important; margin: 10px 0 20px!important;}

/* Menu Responsive */
#primary-navigation .menu-responsive {max-width: 100%;}

@media (max-width: 767px)
{
.main-content {max-width: 100%;}
#footer .container{max-width: 700px;}
}

@media (max-width: 997px)
{

.bottomtop{display: none;}

}
/* ZOO Pekeliling */
#yoo-zoo .item div.pos-sidebar{width: inherit !important;}
.zoo-filter .form-element-row{
  margin-bottom: 0 !important;
 padding: 0 !important;}
.zoo-filter input{
  height: 30px!important; margin-bottom: 0px !important;
  padding: 4px 14px!important;
    color: black!important;
}
.yoo-zoo button, .yoo-zoo input[type='button'], .yoo-zoo input[type='submit'] {
  padding: 4px 10px !important;
}
/* ZOO Search Results */ 
.yoo-zoo h1{
 font-weight: bold!important;
}
.yoo-zoo h1:before{
  background: #0c3182!important;height: 5px!important; width: 80px!important;
}
/* RSForm */
.formResponsive select, .formResponsive textarea, .formResponsive input[type="text"], .formResponsive input[type="number"], .formResponsive input[type="email"], .formResponsive input[type="tel"], .formResponsive input[type="url"], .formResponsive input[type="password"]{
padding: 4px 14px!important;
margin-bottom: 0!important;
}
.formResponsive .formHorizontal .rsform-block{margin-bottom: 0px!important;}
.formResponsive input, .formResponsive textarea{width: 250px!important;}

.team {margin-bottom: 0px;}
.team-content{border-bottom: 0px;margin: 10px;}
.team-content:before {display: none;}
.team-content h5 {font-weight: bold; margin-bottom: 5px;}
.team-content small{font-size: 15px;}
#top-footer {background: transparent!important;padding: 5px 0 !important;}
#top-footer a,.breadcrumb>.active {color: black !important;padding: 0 5px;}
#top-footer li {color: black !important; padding: 0 5px;}
/* Breadcrumb */
.breadcrumb>li+li:before {display: none !important;}

.btn-warning {color: black!important; font-weight: bold!important;}
.btn:hover {color: white!important; background:#273D88;}

body,h1, h2, h3, h4, h5, h6 {color:black;}
ul.vertical-list > li:hover a {color:black; font-weight: bold;}
#footer ul.vertical-list > li:hover a {color:yellow; font-weight: bold;}
ol {list-style-position: inherit; margin: 0 0 10px 25px!important;}
/*.container{width: 1170px;}*/
.progress-label {text-transform: inherit;}
.progress-label span {display: none;}
#header-info {padding: 0px;}
#header-info p, #spotlight p, #bottom p, .bottomtop p {margin: 0px;}
.header-image-placeholder{height: 10px;}
/*.mod-languages select {width: 130px !important}*/
#logo{padding:10px 0px !important;}
#spotlight {background:#DEDEDE; padding: 5px 0;font-size: 12px;max-height: 40px !important;}
.marquee-with-options-192 {margin-top: 5px;}
@media screen and (max-width: 768px) {
  #spotlight .containerx{
    margin-top: -20px !important;
  }
  .marquee-with-options-192{
    display:none !important;
  }
}

/* Primary-navigation*/
/*#primary-navigation .menu{float: right; left: 30%;}*/
#primary-navigation .menu li.current > a {background-color: #FCB03B; color: black;}
#primary-navigation .menu ul li.current > a {background-color: #FCB03B; color: black; font-weight: bold;}
#primary-navigation .menu li {opacity: .95;}
#primary-navigation .menu > li > a {color: black; text-transform: uppercase; font-size:14px;}
#primary-navigation .menu > li:hover > a {background-color: #0c3182; color: white;}
li.backLava{display: none!important;}
#primary-navigation .menu > li:before{height: 0px;}
#primary-navigation .menu ul li > a{font-size: 13px;height: 30px;line-height: 30px;}
#primary-navigation .menu ul > li:hover > ul {margin-top: -30px;}
#primary-navigation .menu ul > li:last-child > a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
}
/* Search */
form {margin: 0;}
input {width: 250px;}
input[type="radio"] {width: inherit;}
input.search-query, select {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
input, textareaselect, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .captcha{
  height: 30px;
  margin-bottom: 0;
  padding: 0 14px !important;line-height: 0px !important;
}
select {
  height: 25px;
  margin-bottom: 0px;
  padding: 0px 14px;
  color: black;}

#bottom{padding: 10px 0; font-size: 11px;line-height: 15px;background: black; color:white;}
#innerbottom{background: #7a7a7b url('http://aidansoftware.com/client/kpm/images/services/online-BG.png') top center no-repeat; min-height: 200px;text-align: center; color: white;}
#innerbottom h3 {color: white;text-align: center;font-weight: bold;margin-top: 20px;}
.bottomtop{background: #fff;}
#footer{
  background: #0c3182;
background: -moz-linear-gradient(top,#0c3182 0%,#1352D2 100%);
background: -webkit-linear-gradient(top,#0c3182 0%,#1352D2 100%);
background: -o-linear-gradient(top,#0c3182 0%,#1352D2 100%);
background: linear-gradient(to bottom,#0c3182 0%,#1352D2 100%);
  padding: 10px 0;font-size: 13px; color: white;}
#footer h3{font-weight: bold;font-size: 20px;color: #FBB138;}

/* Widgetkit Style - Tab 
.uk-margin-top {margin-top: 35px!important;}
.uk-panel-space{background: white;}*/
.uk-switcher {
    margin-top: 0px!important;
    border-width: 0px 1px 1px 1px;
    border-color: #e5e5e5;
    border-style: solid;
}
.uk-tab-grid {margin-left: 0px!important;}
.uk-tab:after {clear: none!important;}
.uk-tab>li {background: #0c3182!important; color: white;}
.uk-tab>li>a:hover {background: #f8b64b!important; color: #000000;}
.uk-tab>li.uk-active>a {font-weight: bold;color:black!important;}
.uk-tab>li>a {font-weight: bold;color:white!important;}
.uk-tab-grid>li:first-child>a {margin-left: 0px !important;}

.uk-accordion-title{
  margin:0 0 10px!important;
  background: #EBBE2A!important;
background: -moz-linear-gradient(top,#EBBE2A 0%,#F2D671 100%)!important;
background: -webkit-linear-gradient(top,#EBBE2A 0%,#F2D671 100%)!important;
background: -o-linear-gradient(top,#EBBE2A 0%,#F2D671 100%)!important;
background: linear-gradient(to bottom,#EBBE2A 0%,#F2D671 100%)!important;
border: 1px solid #EBBE2A; font-size: 15px!important;font-weight: bold!important;
}

.uk-accordion-title.uk-active {background: #0C3182!important;color: white!important;}

.uk-slidenav-contrast{color: rgba(0,0,0,.5)!important;}
ul.vertical-list{text-align: left;}
ul.vertical-list > li.current {font-weight: bold;}
h1.special, h2.special, h3.special, h4.special, h5.special, h6.special, .page-header h1, .page-header h2, .content-category h1, .weblink-category h2 {color: black;font-weight: bold; margin-top: 0px; text-transform: inherit; margin-bottom: 20px!important;}
ul > ul.vertical-list {padding-left: 20px;}

ul, menu, dir {
    -webkit-padding-start: 0px !important;
}

.progress-bar {
text-align: left;
padding-left: 5px;
font-weight:bold;color:#000000;line-height:2em;font-size:14px;
}
.progress-bar-warning {
text-align: left;
padding-right: 5px;
font-weight:bold;
color: #000000 !important;
}
.takwim-day {
color: #000000 !important;
}
.takwim-day-done {
color: #000000 !important;
}
.progress-bar-upsr{
background-color:#dfdddf;
}
.progress-bar-pt3{
background-color:#cad2f7;
}
.progress-bar-spm{
background-color:#c3edff;
}
.progress-bar-stam{
background-color:#ffeb8f;
}
.progress-bar-stpm{
background-color:#c4f38e;
}

/* Animated Text */
#blurringTextG{
	
	margin:auto;
}

.blurringTextG{
	color:red;
	text-decoration:none;
	font-weight:bold;
	font-style:normal;
	display:inline-block;
	text-shadow: rgba(237,9,9,0.98) 0 0 0;
	animation-name:bounce_blurringTextG;
		-o-animation-name:bounce_blurringTextG;
		-ms-animation-name:bounce_blurringTextG;
		-webkit-animation-name:bounce_blurringTextG;
		-moz-animation-name:bounce_blurringTextG;
	animation-duration:1.731s;
		-o-animation-duration:1.731s;
		-ms-animation-duration:1.731s;
		-webkit-animation-duration:1.731s;
		-moz-animation-duration:1.731s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}



@keyframes bounce_blurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	50%{
		text-shadow: rgb(255,255,0) 0 0 19px;
	}

	100%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}
}

@-o-keyframes bounce_blurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	50%{
		text-shadow: rgb(255,255,0) 0 0 19px;
	}

	100%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}
}

@-ms-keyframes bounce_blurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	50%{
		text-shadow: rgb(255,255,0) 0 0 19px;
	}

	100%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}
}

@-webkit-keyframes bounce_blurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	50%{
		text-shadow: rgb(255,255,0) 0 0 19px;
	}

	100%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}
}

@-moz-keyframes bounce_blurringTextG{
	0%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}

	50%{
		text-shadow: rgb(255,255,0) 0 0 19px;
	}

	100%{
		text-shadow: rgb(0,0,0) 0 0 0;
	}
}