@charset "utf-8";
/* CSS Document */

/* ************************************************************** */
/* reset */
/* ************************************************************** */
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
/* ************************************************************** */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

nav ul,
ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}

table {
    border-collapse: collapse;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
	vertical-align:middle;
}


/* ************************************************************** */
/* font size */
/* ************************************************************** */
/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.2r1
*/
/*
 * YUI Fonts
 * @module fonts
 * @namespace yui-
 * @requires 
 */

/*
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 */
 
/*
font-size
	
	77% = 10px	|	123.1% = 16px	|	167% = 22px	
	85% = 11px	|	131% = 17px		|	174% = 23px
	93% = 12px	|	138.5% = 18px	|	184% = 24px
	100% = 13px	|	146.5% = 19px	|	192% = 25px
	108% = 14px	|	153.9% = 20px	|	197% = 26px
	116% = 15px	|	161.6% = 21px	|

*/
/* ************************************************************** */
 
body {
	font: 13px/1.231 "Lucida Grande", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
	/* for IE6/7 */ 
	*font-size:small; 
	/* for IE Quirks Mode */
	*font:x-small; 
}

/**
 * Nudge down to get to 13px equivalent for these form elements
 */ 
select,
input,
button,
textarea,
button {
	font:99% "Lucida Grande", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
}

/**
 * To help tables remember to inherit
 */
table {
	font-size:inherit;
	font:100%;
}

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,
code,
kbd,
samp,
tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}

html>/**/body {
	font-size/*\**/: small\9;
}

p, li, dt, dd, th, td , input, textarea, select, h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}


/* ************************************************************** */
/* a */
/* ************************************************************** */

:focus{
    -moz-outline-style:none;
}

a {
	outline:none;
}


/* ************************************************************** */
/* border */
/* ************************************************************** */

img {
    border: none;
	vertical-align: bottom;
	max-width: 100%;
}

#photo img {
    height: auto;	
}


/* ************************************************************** */
/* img */
/* ************************************************************** */

.vami {
	vertical-align: middle;
}

.imgalpha {
	-moz-opacity:0.2;
	opacity:0.2;
	filter: alpha(opacity=20);
}


/* ************************************************************** */
/* Form */
/* ************************************************************** */
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
input[type=password],
textarea {
    padding: 5px 5px;
    border: #CCCCCC solid 1px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}


input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],
input[type=password] {
    height: 30px;
}

.search .searchbox {
    padding: 2px 3px;
}

.search .searchbox:focus {
    padding: 10px 5px;
}

select {
    padding: 4px;
    height: 35px;
    line-height: 35px;
    border: #CCCCCC 1px solid;
    border-radius: 5px;
    vertical-align: middle;
}

.display_number select {
    padding: 2px 3px;
    height: auto;
}

input[type=radio],
input[type=checkbox] {
    margin-right: 7px;
/*    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);*/
    cursor: pointer;
}

input[type=submit],
input[type=button],
input[type=reset],
button,
.global_btn A {
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    cursor: pointer;
	border: none;
}

.btn .searchinput {
    box-shadow: none;
}

input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    box-shadow: none;
}

.variation_box label {
    margin-bottom: 5px;
}
.variation_box label:last-child {
    margin-bottom: 0;
}

.order_checklist {
    line-height: 190%;
}

.order_checklist input
{
    margin-top: 0;
}

.en_version .btn input {
    min-width: 70px;
}

.en_version .btn .searchinput {
    min-width: inherit;
}

input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
}


/* ************************************************************** */
/* swipe */
/* ************************************************************** */

.swipe_list {
    width: 100%;
    position: relative;
}

.swipe_list .item_image_box {
    display: block;
    text-align: center;
}

.swipe_list .item_image_box img {
    height: auto;
}

.ie8 .swipe_list .item_image_box img {
    width: 100%;
}

.swipe_list .list_item_table {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.swipe_list .list_item_row {
    width: 5000px;
}

.item_box .swipe_list li {
    border: none;
}

.swipe_list .list_item_cell {
    float: left;
}

.thumbnail .thumbnail_image_link {
    display: table;
}

.thumbnail .thumbnail_image_box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#photo .pointer_box,
.detail_item_photo .detail_top_pointer .pointer_box {
    display: none;
}

.detail_item_photo .detail_top_pointer .pointer_box {
    padding: 0px;
}

.pointer_next_box .pointer_next,
.pointer_prev_box .pointer_prev {
    margin: 0px;
}

.slide{
    float: left;
}

.swipe_list .pointer_box {
    padding: 8px 0px;
    text-align:center;
}

.swipe_list .pointer span {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0px 5px 0px;
	background-color: #CCCCCC;
    border-radius: 8px;
    cursor: pointer; 
}

.swipe_list .pointer span.current {
    background-color: #000000;
}

.swipe_list .pointer_box span.pointer_prev,
.swipe_list .pointer_box span.pointer_next {
    display: inline-block;
	width: 30px;
	height: 60px;
	margin: 0px 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	border-radius: 5px;
	cursor: pointer;
    vertical-align: middle;
	opacity:0.7;
    filter: alpha(opacity=70);	
}

.template_pc_box .swipe_list .pointer_box span.pointer_prev,
.template_pc_box .swipe_list .pointer_box span.pointer_next {
    vertical-align: baseline;
}

.swipe_list .pointer_box span.pointer_prev {	
	background-image: url(../img/icon_prev.gif);
}

/*-----------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
/*-----------------------------------------------------------*/
  .swipe_list .pointer_box span.pointer_prev {
    background-image: url(../img/icon_prev_x2.gif);
    background-size: 25px 25px;
  }
/*-----------------------------------------------------------*/
}

.swipe_list .pointer_box span.pointer_next {
	background-image: url(../img/icon_next.gif);
}

/*-----------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
/*-----------------------------------------------------------*/
  .swipe_list .pointer_box span.pointer_next {
    background-image: url(../img/icon_next_x2.gif);
    background-size: 25px 25px;
  }
/*-----------------------------------------------------------*/
}

#template .prev_box_row,
#template .next_box_row {
    padding-top: 40px;	
}

/* image loading display */
.swipe_list .loading_slide .item_image_box {
    position: relative;
}

.swipe_list .loading_slide .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -12.5px;
}


/* ************************************************************** */
/* header menu */
/* ************************************************************** */

#globalnav {
    position: relative;
    z-index: 90;
}

.pre_load_nav {
    height: 50px;
    overflow: hidden;
}

#globalnavi .toggle_button {
    width: 45px;
}

.overplus_hidden .overplus_nav {
    visibility: hidden;
    position: absolute;
    top: 0px;
}

ul.dropdown {
    position: relative;
}

ul.dropdown li {
    position: relative;
}

/* main category */
ul.dropdown ul.sub_menu,
ul.dropdown ul.sub_menu ul {
    visibility: hidden;
    position: absolute;
    z-index: 99;
    top: 90%;
    left: 30px;
}

ul.dropdown ul.sub_menu {
    margin-left: -30px;
    padding: 0px 30px 30px 30px;
}

ul.dropdown .reversed_action ul.sub_menu {
    padding-right: 0px;
}

ul.dropdown ul.sub_menu ul {
    margin-left: 0px;
    margin-top: -10px;
    padding: 10px 30px 30px 0px;
}

.click_dropdown ul.dropdown ul.sub_menu ul {
    margin-top: 0px;
    padding: 0px;
}

ul.dropdown .reversed_action ul.sub_menu,
ul.dropdown .reversed_action ul.sub_menu ul {
    right: 0px;
    left: auto;
}

ul.dropdown li.hover > ul {
    visibility: visible;
}

/* sub category */
ul.dropdown ul.sub_menu ul {
    position: absolute;
    left: 100%;
    top: 0px;
}

ul.dropdown .reversed_action ul.sub_menu ul {
    right: 100%;
    margin-top: 0px;
    padding: 0px 0px 30px 30px;
}

.click_dropdown ul.dropdown .reversed_action ul.sub_menu ul {
    padding: 0px;
}

#close_background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 80;
    background-color: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#pageslide .dropdown_close {
    display: none;
}

#pageslide {
    -webkit-overflow-scrolling: touch;
}

/* ************************************************************** */
/* float */
/* ************************************************************** */

.leftfloat {
    float: left;	
}

.rightfloat {
    float: right;	
}

.nonefloat {
    float: none;	
}


/* ************************************************************** */
/* display */
/* ************************************************************** */

.dispblock {
	display: block;
}

.dispinline {
	display: inline;
}


/********************************************************************/
/* Loading Display */
/********************************************************************/

.async_image_loader .async_image_box {
    min-height: 45px;
    position: relative;
}

.loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/load.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

.loading_photo .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -12.5px;
}

.preload_image {
    width: 100%;
    height: auto;
}


/*-----------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
  /*-----------------------------------------------------------*/
  .loading {
    background-image: url(../img/load_x2.gif);
    background-size: 25px 25px;
  }
  /*-----------------------------------------------------------*/
}


/* ************************************************************** */
/* clear fix */
/* ************************************************************** */

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.clearfix{
	display: inline-block;
}

/* Hides from IE Mac */

* html .clearfix{
	height: 1%; } 

.clearfix{
	display: block;
}

/* End Hack */
