@charset "utf-8";
/* CSS Document */

/*************************************************************/

/* form.css  */

/*************************************************************/

.step_box {
    margin-bottom: 50px;	
}

.step_box li {
    width: 33.3333%;
	float: left;	
}

.step_data {
    padding: 10px;
	margin-right: 1px;
	background-color: #FFFFFF;
	color: #666666;
	text-align: center;
}

.navon .step_data {
    background-color: #E95656;
	color: #FFFFFF;	
}

.step_desc {
    padding: 5px 5px 0px;
}

.step_number {
    font-size: 138.5%;
	font-weight: bold;	
}

.form_box {
	background-color: #FFFFFF;
	border-radius: 10px;
	border: 1px solid #CDCBD1;
	margin-bottom: 40px;
}

.form_data {
    padding: 30px;	
}

#agree_form .form_data {
    padding: 15px;	
}

.form_title {
	font-size: 138.5%;
    padding: 10px 10px;
	background-color: #F5F5F5;
	border-top: 1px solid #E0DFE3;
	border-bottom: 1px solid #E0DFE3;
	font-weight: bold;
}

.form_title_emphasis {
	background-color: #E1F0FF;
}

#register_step2 .form_title,
#register_step3 .form_title,
#inquiry_step2 .form_title,
#inquiry_step3 .form_title,
#password_step2 .form_title,
#password_step3 .form_title {
    font-weight: normal;	
}

.form_element {
	font-size: 123.1%;
    padding: 10px 10px 20px;
	color: #333333;
}

.register_page_body .form_element {
    padding: 10px;	
}

.form_desc {
	font-size: 85%;
    padding: 10px;
	border: 1px dotted #CCCCCC;
	margin-top: 10px;
	background-image: url(../img/form_check_box_bg.png);
}

.desc_price {
    background-image: none;	
}

.t_desc {
    font-size: 100%;
	border-radius: 10px;
	margin: 10px;
	color: #CC0000;
}

.form_desc p,
.t_desc p {
	padding-left: 1em;
    text-indent: -1em;
	
}

.form_desc p {
    margin: 3px 0px;	
}

.form_desc strong {
    color: #CC0000;	
}

.complete_data {
	display: block;
	padding-top: 10px;
	font-size: 123.1%;
	font-weight: bold;
	color: #333333;	
}

.required {
    color: #CC0000;	
}

.btn_box {
	padding: 30px;
    text-align: center;	
}

.form_btn_bottom {
    margin-top: 40px;	
}

form {
	margin: 0px;
	padding: 0px;
	display: inline;
}

.xxsmallsize {
    width: 30px;
}

.xsmallsize {
    width: 50px;
}

.smallsize {
    width: 100px;
}

.mediumsize {
    width: 150px;
}

.largesize {
    width: 200px;
}

.xlargesize {
    width: 300px;
}

.xxlargesize {
    width: 95%;
}

.confirmation_input {
    margin-top: 5px;
}

.widthauto {
    width: 60%;
	height: 25px!important;
}

.global_btn .btn_size_xxsmall {
    width: 40px;
    height: 30px;
    font-size: 77%;
}

.global_btn .btn_size_xsmall {
    width: 50px;
    height: 30px;
    font-size: 85%;
}

.global_btn .btn_size_small {
    width: 70px;
    height: 30px;
    font-size: 85%;
}

.global_btn .btn_size_medium {
    width: 90px;
    height: 30px;
}

.global_btn .btn_size_large {
    width: 130px;
    height: 35px;
}

.global_btn .btn_size_xlarge {
    width: 180px;
    height: 40px;
    font-size: 116%;
}

.global_btn .btn_size_xxlarge {
    width: 250px;
    height: 50px;
    font-size: 116%;
}

.global_btn A.btn_size_xxlarge {
	line-height: 50px;
	font-weight: normal!important;
}

.global_btn .btn_size_xxxlarge {
    width: 90%;
    height: 70px;
    font-size: 153.9%;
}

.global_btn .btn_color_common,
.global_btn A.btn_color_common {
    background-color: #509AD6;
    color: #FFFFFF;
}

.global_btn .btn_color_emphasis,
.global_btn A.btn_color_emphasis {
    background-color: #E95656;
    color: #FFFFFF;
}

.global_btn .btn_color_common:hover,
.global_btn A.btn_color_common:hover,
.global_btn .btn_color_emphasis:hover,
.global_btn A.btn_color_emphasis:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}


/*************************************************************/

/* error  */

/*************************************************************/

.form_error {
    border: 3px solid #E95656!important;
    background-color: #FDF0F0;
    padding: 10px;
    color: #E95656;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form_alpha {
    opacity:0.3;
    filter: alpha(opacity=30);
}

.error_box {
    border: 2px solid #E95656;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    background-color: #FFFFFF;
	border-radius: 5px;
}

.signin_page_body .error_box {
    margin: 10px 0px 0px 0px;
}

.error_status {
    color: #E6567A;
    padding-left: 5px;
}

span.error_status {
    display: block;
	margin-top: 5px;
}

.error_status img,
.ok_status img {
    padding-right: 3px;
	vertical-align: middle;
}

.ok_box {
    border: 1px solid #509AD6;
    background-color: #FFFFFF;
    margin: 10px 0px 15px;
    padding: 10px;
    border-radius: 5px;
}

.ok_status {
    color: #509AD6;
    font-size: 93%;
    padding-left: 5px;
}

.box_padding {
    display: inline-block;
	padding: 5px;	
}

.box_padding_max {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.t_register .form_error input.xxlargesize {
    margin-bottom: 5px;	
}


/*************************************************************/

/* .registerinput  */

/*************************************************************/

.btn_box .global_btn .pregisterinput {
    width: 100%;
	height: 65px;
	padding: 20px 0px;
	text-align: center;
	line-height: normal;
	font-weight: normal;
	display: block;
}

.t_register .global_btn .registerinput {
	width: 90%;
	height: 60px;
	display: block;
	margin: auto;
	padding: 10px 0px 10px;
	text-align: center;
	line-height: normal;
	font-weight: normal;
	background-color: #FFFFFF;
	border-radius: 50px;
}

.global_btn .afregisterinput {
    width: 100%;
	height: 65px;
	padding: 10px 0px;
	text-align: center;
	line-height: normal;
	font-weight: normal;
	display: block;
}

.global_btn .afregisterinput {
    width: 80%;
	margin: auto;
}

.afregister_title {
    font-size: 28px;
	line-height: normal;		
}

.afregister_sub {
    font-size: 17px;
	line-height: normal;
}

.free_trial_title {
    font-size: 25px;
	line-height: normal;
	color: #FF6666;	
	font-weight: bold;	
}

.free_trial_sub {
    font-size: 15px;
	line-height: normal;
	color: #000000;
}

.register_page_body .free_trial_title,
.register_page_body .free_trial_sub {
    color: #FFFFFF;	
}

.trial_date {
    font-weight: bold;
}

.t_register .global_btn .registerinput:hover,
.demo A:hover {
    opacity:0.8;
    filter: alpha(opacity=80);	
}


/*************************************************************/

/* media only  */

/*************************************************************/

@media only screen and (max-width: 960px) {

    .t_register .global_btn .registerinput {
	    height: 45px;
    }
	
	.free_trial_title {
        font-size: 20px;
    }

    .free_trial_sub {
        font-size: 12px;
    }
}


@media only screen and (max-width: 800px) {
	
	.form_box {
		margin-left: 10px;
		margin-right: 10px;
	    padding: 5px;
    }
	
	#agree_form {
		margin-left: auto;
		margin-right: auto;
	}
	
	#register .form_box {
	    margin: auto;	
	}
	
	.step1 .step_data {
        border-left: none;	
    }
	
	.step3 .step_data {
        border-right: none;	
    }
	
	.form_data {
	    padding: 20px;
	}
	
	input[type=radio],
    input[type=checkbox] {
        margin-right: 7px;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        cursor: pointer;
    }
	
	.btn_box .global_btn .pregisterinput,
    .t_register .global_btn .registerinput {
	    padding: 10px 0px;
    }

}

@media only screen and (max-width: 568px) {
	
	.form_title {
	    font-size: 108%;	
	}
	
	.form_element {
	    padding: 10px 0px 20px;	
	}
		
	.xlargesize {
        width: 95%;
    }

	.form_box {
		padding-top: 10px;
		margin-left: 0px;
		margin-right: 0px;
	    border-radius: 0px;
	    border-left: none;
	    border-right: none;
		margin-bottom: 20px;
    }
	
	#agree_form {
		padding-top: 5px;
	}
	
	.form_data {
        padding: 5px;	
    }
	
	#agree_form .form_data {
		padding: 5px;	
	}

	.step_data {
        padding: 10px 0px;
	    text-align: center;
    }
	
	.free_trial_title,
	.afregister_title {
        font-size: 20px;	
    }

    .free_trial_sub,
	.afregister_sub {
        font-size: 14px;
    }
	
	.t_register .global_btn .registerinput,
	.btn_box .global_btn .pregisterinput,
	.global_btn .afregisterinput {
	    height: auto;
    }
	
	.t_desc {
        font-size: 100%;
    }
	
	.form_desc p {
	    font-size: 93%;	
	}
	
	#register .form_box {
	    padding-top: 5px;
    }
	
	#register .btn_box {
	    padding: 10px;
    }
	
	#register .form_element {
	    padding: 0px 0px 10px;	
	}
	
}

@media only screen and (max-width: 468px) {
	
	 .free_trial_sub {
        font-size: 12px;
    }
}