@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Noto Sans Japanese';
    src: url('fonts/NotoSansCJKjp-Regular.woff?20151008'),url('fonts/NotoSansCJKjp-Regular.eot?20151008');
}

@font-face {
    font-family: 'Noto Sans Japanese Bold';
    src: url('fonts/NotoSansCJKjp-Bold.woff?20151008'),url('fonts/NotoSansCJKjp-Bold.eot?20151008');
}

@font-face {
    font-family: 'Noto Sans Japanese Black';
    src: url('fonts/NotoSansCJKjp-Black.woff?20151008'),url('fonts/NotoSansCJKjp-Black.eot?20151008');
}


/*************************************************************/

/* global.css  */

/*************************************************************/

body {
    word-break: break-all;
    color: #000000;
    line-height: 140%;
	background-image: url(../img/body_bg.gif);
}

A {
    font-weight: bold;
    text-decoration: none;
    color: #3498DB;
	font-size: 108%;
}

A:hover {
    color: #6FB6E6;
}


/*************************************************************/

/* #container */

/*************************************************************/

#container {
    width: 100%;
}

.fix_center {
    max-width: 1200px;
    margin: auto;
}

/* ie8 */
.ie8 .fix_center {
    min-width: 980px;
}

.ie8 #pagetop .fix_center {
    min-width: 0;
}


/*************************************************************/

/* #header_area */

/*************************************************************/

#header_area {
	background-image: url(../img/main_bg.jpg);
	background-repeat: repeat-x;
	background-position: center -300px;
	position: relative;
}

.top_page_body #header_area {
    background-position: center top;
}

#header_fix {
	position: relative;
	min-height: 65px;
}

#header {
	width: 100%;
	background-color: #FFFFFF;
	padding: 10px 0px;
    position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
	box-shadow: 1px 1px 3px #999999; 	
}

/* ie8 */

.ie8 #header {
    border-bottom: #999999 solid 1px;
}

.ie8 .btn_search_toggle {
    border-left: #EFEFEF solid 1px;
    border-top: #EFEFEF solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
}

.fix_auto #header {
	top: auto;
	left: auto;
}

#header_left {
    float: left;
}

#header_right {
	margin-top: 0px;
	margin-left: 240px;
}

#ocnk_ci {
	width: 230px;
	position: relative;
}

.copy {
    position: absolute;
	top: -5px;
	left: 5px;
	font-size: 10px;
}

.site_search {
    position: absolute;
	top: 45px;
	right: 5px;
	background-color: #FFFFFF;
	width: 330px;
	padding: 5px 10px 10px;
	box-shadow: 1px 1px 2px #999999; 
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
}

/* ie8 */

.ie8 .site_search .fix_center {
    min-width: 0;
}

.search_form {
	border: 1px solid #CCCCCC;
	border-radius: 100px;
	padding-left: 10px;
}

.btn_search_toggle {
	padding: 0px 15px;
	background-color: #FFFFFF;
	position: absolute;	
	right: 5px;
	top: 45px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 2px #999999;
	z-index: 99;
}

.search_form input.text_search {
    border: 0px solid #FFFFFF;
	background-color: transparent;
	box-shadow: none;
	height: 20px;
	width: 260px;
}

.search_form input.btn_search {
	width: 26px;
	height: 26px;
    background-color: transparent;
	border: none;
	box-shadow: none;
	background-image: url(../img/icon_search.png);
	background-repeat: no-repeat;
}

.btn_search_toggle img:hover {
    opacity:0.8;	
}

/* ie8  */

.ie8 .btn_search_toggle A {
    display: block;
	width: 50px;
}


/*************************************************************/

/* #globalnav  */

/*************************************************************/

#globalnav ul {
    padding-top: 13px;
}

#globalnav li {
    float: left;
	width: 14.2%;
    list-style: none;
}

.affiliate_page_body #globalnav li {
	width: 20%;
}

#globalnav li A,
#globalnav li span.nav_link {
    display: block;
	padding: 8px 5px;
    text-align: center;
    color: #000000;
	cursor: pointer;
	font-weight: bold;
	font-size: 108%;
}

.affiliate_page_body #globalnav li span.nav_link A {
	font-size: 100%;
	padding: 0px;
}

.affiliate_page_body #globalnav li span.nav_link A:hover {
	color: #666666;
}

#globalnav li.hover > .nav_link,
#globalnav li A.nav_link:hover {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1),-2px 2px 5px rgba(0,0,0,0.1);	
}

.affiliate_page_body #globalnav li.hover > .nav_link,
.affiliate_page_body #globalnav li A.nav_link:hover {
	background-color: transparent;
	box-shadow: none;
}

.h_nav_toggle {
    display: none;	
}

#globalnav #h_search {
	float: none;
	width: auto;
}

#globalnav #h_signin A,
#globalnav #h_register A {
	border-radius: 5px;
	color: #FFFFFF;
}

#globalnav #h_signin A {
    background-color: #3399CC;
	margin-left: 15px;
}

#globalnav #h_signin A:hover {
    background-color: #336699;
}

#globalnav #h_register A {
    background-color: #E95656;
	margin-left: 10px;
}

#globalnav #h_register A:hover {
    background-color: #D11B1B;
}

#globalnav .sub_menu .nav_box {
    display: inline;
    padding: 0px;
}

#globalnav ul.dropdown ul.sub_menu {
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.1),-2px 5px 5px rgba(0,0,0,0.1);
}

#globalnav ul.dropdown ul.sub_menu li {
    width: 196px;
    height: auto;
    float: none;
}

#globalnav ul.dropdown ul.sub_menu li A,
#globalnav ul.dropdown ul.sub_menu li A:hover,
#globalnav #h_register ul.sub_menu li A,
#globalnav #h_register ul.sub_menu li A:hover {
    display: block;
    width: 180px;
    max-width: 180px;
    height: auto;
    padding: 8px;
    color: #000000;
    text-align: left;
	background-color: #F5F5F5;
    border-bottom: 1px solid #FFFFFF;
	border-radius: 0px;
	margin-left: 0px;
}

#globalnav ul.dropdown ul.sub_menu #s_affiliate A,
#pageslide ul.dropdown ul.sub_menu #s_affiliate A {
    background-image: url(../img/aff_ca_menu.png);
	background-repeat: no-repeat;
	background-position: right 3px;
}

/*-----------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
/*-----------------------------------------------------------*/
    #globalnav ul.dropdown ul.sub_menu #s_affiliate A,
    #pageslide ul.dropdown ul.sub_menu #s_affiliate A {
      background-image: url(../img/aff_ca_menu_x2.png);
      background-size: 80px 28px;
  }
/*-----------------------------------------------------------*/
}

#globalnav ul.dropdown ul.sub_menu li A:hover {
    background-color: #E0DFE3;
}

.nav_box {
    display: block;	
}

#close_background {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.compact #close_background {
    z-index: 100;
	opacity: 0.5;
    filter: alpha(opacity=50);
}

#pageslide {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 120;
    width: 240px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1),-2px 2px 5px rgba(0,0,0,0.1);
}

#h_info {
    position: relative;	
}

.att_icon {
    position: absolute;
	top: 0px;
	right: 5%;
}

.page_inner_nav {
    margin: 0px 0px 40px;	
}

.page_inner_nav li {
    float: left;
	width: 20%;	
}

.page_inner_nav li A {
	display: block;
	padding: 10px 5px;
	text-align: center;
	border-top: 1px solid #E0DFE3;
	border-right: 1px solid #E0DFE3;
	font-weight: normal;
}

.page_inner_nav  li.posright A {
    border-right: none;	
}

.page_inner_nav li A:hover {
	background-color: #F5F5F5;
}

.english_site {
    position: relative;
}

.english_site A {
	display: block;
    position: absolute;
	top: -12px;
	right: 7px;
	font-size: 77%;
	font-weight: normal;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 1px solid #E0DFE3;
	padding-left: 5px;
}

.english_site A img {
	vertical-align: middle;
	margin-right: 3px;
}

.english_site A:hover {
	color: #666666;
}


/*************************************************************/

/* #footer  */

/*************************************************************/

#footer {
    width: 100%;
	border-top: 10px solid #000000;
    background-color: #F5F5F5;
}

#inner_footer {
	min-height: 950px;
    margin-top: 30px;  
	padding: 0px 10px;
}

.backtotop {
    position: fixed;
    right: 15px;
    bottom: 20px;
    z-index: 9000;
    display: none;
}    

.backtotop a {
    display: block;
    color: #777777;
    padding: 20px;
    margin: 0;
    background-color: #DDDDDD;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.backtotop a:hover {
    background: #666666;
    color: #FFFFFF;
}

.footer_tnav,
.footer_bnav {
    position: relative;	
}

.sns_widget,
.ocnk_banner,
.footer_bnav {
	padding: 20px 0px;
    border-top: 1px solid #D6D6D6;
}

#footer .f_nav A {
    color: #666666;
	font-weight: normal;
	font-size: 93%;
}

#footer .f_nav A:hover {
    color: #999999;
}

.fnav_service {
    margin-left: 222px;
	min-height: 160px;
}

.ocnk_fci {
    float: left;
	width: 202px;
	position: absolute;
	top: 0px;
	text-align: center;
}

.bcopy {
    padding: 5px;
	font-size: 10px;
	text-align: center;
}

.fnav_box {
    float: left;
    width: 20%;
}

.fnav_service .f_nav {
    padding: 2px 0px;
}

.widget_box {
	width: 50%;
	height: 300px;
	float: left;
	text-align: center;
}

#tw_btn,
#fb_btn {
    display: none;	
}

.ocnk_banner ul {
    max-width: 800px;
	margin: auto;	
}

.banner_box {
    width: 33.3%;
	float: left;	
}

.banner_box A {
	display: block;
    background-color: #FFFFFF;
	margin: 5px;
	border-radius: 5px;	
}

.banner_box A:hover {
    background-color: #F9F9F9;
}

.copyright {
	text-align: center;
	font-size: 77%;
	color: #66666;
	padding: 20px 0px 0px;
    border-top: 1px solid #D6D6D6;
}

.fnav_company {
    text-align: center;
}

.fnav_company .f_nav {
    display: inline;
	margin: 0px 5px;
}


/*************************************************************/

/* .tabnav  */

/*************************************************************/

.tabnav {
    min-width: 600px;
	max-width: 900px;
	margin: 10px auto 40px;
}

.tabnav li {
	float: left;
	width: 50%;
	position: relative;	
}

.col3 li {
	width: 33.3%;
}

.tabnav li A {
	display: block;
	background-color: #EDEDED;
	border: 1px solid #EDEDED;
	padding: 20px;
	text-align: center;
	color: #666666;
	font-size: 153.9%;
	font-weight: normal;
}

.tabnav li A:hover,
.tabnav li.navon A {
	background-color: #3399CC;
	border: 1px solid #3399CC;
	color: #FFFFFF;
}

#register_step_economy .tabnav li A:hover,
#register_step_economy .tabnav li.navon A {
	background-color: #E95656;
	border: 1px solid #E95656;
}

.tableft A {
	margin-right: 1px;
    border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.tabcenter A {
    margin-right: 1px;
}

.tabright A {
    border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;	
}

.tab_icon {
    position: absolute;
	bottom: -10px;
    left: 47%;
}


/*************************************************************/

/* .data_table  */

/*************************************************************/

.data_table {
    width: 100%;    
}

.data_table .cell_header,
.data_table .cell_data {
    padding: 10px;
    border: 1px solid #CDCBD1;
    vertical-align: middle;
}

.data_table .cell_header {
    color: #333333;
    background-color: #F1F1F1;
    white-space: nowrap;
}

.data_table .cell_data {
    color: #333333;
    background-color: #FFFFFF;
}

.table_caption {
    padding: 15px 10px 20px;
	margin-top: 15px;
	text-align: left;	
}

.cellbold {
    font-weight: bold;
}

.cellnormal {
    font-size: medium;
}

.cellleft {
    text-align: left;
}

.cellright {
    text-align: right;
}

.cellcenter {
    text-align: center;
}

.nodata {
    padding: 30px 0px;
}


/*************************************************************/

/* .format  */

/*************************************************************/

.format {
    font-size: 77%;	
}


/*************************************************************/

/* inline_block  */

/*************************************************************/

.disp_inlineblock,
.disp_inlineblock_p,
.disp_inlineblock_320 {
    display: inline-block;	
}


/*************************************************************/

/* #pan */

/*************************************************************/

#inner_pan {
    padding: 10px 20px;
	color: #FFDFBF;
}

#inner_pan .gt {
    color: #FFFFFF;	
}

#inner_pan A {
    color: #FFFFFF;
	font-size: 100%;
}

#inner_pan A:hover {
    color: #F5F5F5;
}

.thispage {
    font-weight: bold;	
}


/*************************************************************/

/* .t_head,.t_read */

/*************************************************************/

.t_head,
.t_subhead,
.t_read {
    line-height: normal;
	font-weight: normal;
	text-align: center;
	font-family: 'Noto Sans Japanese', sans-serif;
}

.t_head {
    font-size: 300%;
	padding: 0px 15px;
}

.t_read {
	padding: 5px 15px 20px;
    font-size: 123.1%;
	color: #666666;
}

#inner_poffice .page_header .t_read {
    padding-top: 10px;	
}

.t_read A {
    font-size: 100%;
	font-weight: normal;
}

.t_subhead {
    font-size: 250%;	
}


/*************************************************************/

/* .page_box */

/*************************************************************/

.page_box {
    padding: 45px 0px;
	background-color: #FFFFFF;
}

.listback_box {
    padding: 10px 0px 45px;	
}


/*************************************************************/

/* .list_data */

/*************************************************************/

.list_layout li {
    float: left;	
	width: 33.3%;
}

.col2 li {
    float: left;	
	width: 50%;
}

.list_layout li .list_data {
    margin: 10px 15px 20px;
}

.list_layout li .list_name {
    padding: 25px 0px 5px;
	text-align: center;
	font-size: 123.1%;
	font-weight: normal;
}

.list_back {
    margin-left: 10px;	
}

.list_back A {
    display: block;
	background-color: #509AD6;
	padding: 5px;
	width: 80px;
	text-align: center;
	font-size: 93%;
	color: #FFFFFF;
	border-radius: 5px;
}

.list_back A:hover {
    background-color: #3498DB;	
}


/*************************************************************/

/* step  */

/*************************************************************/

.pstep_box {
	width: 100%;
    margin: 5px auto;
	padding: 30px 0px;
	border-bottom: 2px solid #E0DFE3;
	text-align: center;
	position: relative;
}

.pstep_box h2,
.pstep_box h3 {
	font-size: 153.9%;
	line-height: normal;
}

.step_desc {
	padding-top: 10px;
	font-size: 116%;
}

.pstep_number {
    color: #509AD6;
	display: block;
	line-height: normal;
	font-weight: normal;
	font-size: 138.5%;
}

.step_next {
	width: 100%;
    position: absolute;
	bottom: -25px;
	text-align: center;	
}

#step_end {
	border-bottom: none;
}

.payment_title {
    padding: 20px 0px 5px;
	font-size: 138.5%;
	font-weight: bold;
}

.payment_desc {
    padding: 0px 20px 20px;	
}

.desc_tx {
    padding: 5px 5px 5px 15px;
	font-size: 108%;
}


/*************************************************************/

/* .pager */

/*************************************************************/

.listpager {
    text-align: center;
	padding: 10px 0px;
	position: relative;
}

.listpager strong {
	display: inline-block;
	min-width: 20px;
	min-height: 20px;
    padding: 3px;
	margin: 0px 1px;
	border: 1px solid #509AD6;
	background-color: #509AD6;
	color:#FFFFFF;
	font-size: 108%;
}

.listpager A {
	display: inline-block;
	min-width: 20px;
	min-height: 20px;
    padding: 3px;
	border: 1px solid #E0DFE3;
	background-color: #FFFFFF;
	margin: 0px 1px;
	text-decoration: none;
	font-size: 108%;
}

.listpager A:hover {
	border: 1px solid #509AD6;
	background-color: #509AD6;
	color: #FFFFFF;
}


/*************************************************************/

/* .win_close  */

/*************************************************************/

.win_close {
    display: none;
}	


/*************************************************************/

/* .holiday  */

/*************************************************************/

#holiday {
    background-color: #FFFFFF;
	padding-bottom: 50px;
	/*padding-top: 130px;*/	
}

/*
@media screen and (max-width: 1024px) {
    #holiday {
        padding-top: 100px;	
    }
}

@media screen and (max-width: 899px) {
    #holiday {
        padding-top: 70px;	
    }
}

@media screen and (max-width: 800px) {	
	#holiday {
        padding-top: 50px;	
    }
}

@media screen and (max-width: 568px) {	
	#holiday {
        padding-top: 20px;	
    }
}
*/

.inquiry_page_body #holiday {
    padding-top: 0px!important;
	padding-bottom: 50px;
	background-color: transparent;	
}

.holiday_box {
    padding: 20px;
	background-color: #FFFFEE;
	border: 1px solid #E0DFE3;
	border-radius: 10px;
	line-height: 160%;
}

.holiday_title {
    font-size: 123.1%;
	font-weight: bold;
}

.holiday_desc {
    font-size: 108%;
}

.holiday_image {
    padding: 10px 0px;	
}


/*************************************************************/

/* media only  */

/*************************************************************/

@media only screen and (max-width: 980px) {
	
	.tabnav {
        width: 100%;
		min-width: inherit;
		max-width: inherit;
    }

    .tableft A {
	    margin-right: 1px;
        border-top-left-radius: 0px;
	    border-bottom-left-radius: 0px;
    }
	
	.tabcenter A {
	    margin-right: 1px;
    }

    .tabright A {
        border-top-right-radius: 0px;
	    border-bottom-right-radius: 0px;	
    }

}


@media only screen and (max-width: 900px) {	

    .tabnav li A {
	    padding: 10px;
	    font-size: 116%;
    }

}


@media only screen and (max-width: 800px) {
	
	html,body { 
        -webkit-text-size-adjust: none;
    } 

    #container {
	    position: absolute;
	    top: 0px;
    }

    A:hover {
        color: #3498DB;
    }
	
    #globalnav #h_signin A:hover {
        background-color: #509AD6;
    }

    #globalnav #h_register A:hover {
        background-color: #E6567A;
    }

	.top_page_body #header_area {
        background-size: cover;
    }
	
	#inner_header {
	    position: relative;	
	}
	
	#header_left {
        float: none;
    }

    #header_right {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    margin-left: 10px;
    }

    #ocnk_ci {
	    width: 250px;
        margin: auto;	
    }
	
	#globalnav {
	    display: none;	
	}
	
	.h_nav_toggle {
	    display: block;
		margin: 15px 10px 0px 0px;
	}
	
	#globalnav li {
        float: none;
	    width: 100%;
        list-style: none;
    }

	.fnav_service {
	    margin-left: 3%;
	    min-height: 120px;
    }

    .ocnk_fci {
        float: none;
	    width: 192px;
	    position: relative;
	    top: auto;
	    margin: auto;
    }

    #pageslide .dropdown {
        position: relative;
	    padding-top: 170px;
		padding-bottom: 80px;
    }
	
	.affiliate_page_body #pageslide .dropdown {
	    padding-top: 10px;	
    }

    ul.dropdown ul.sub_menu,
    ul.dropdown ul.sub_menu ul {
        visibility: visible!important;
        position: relative;
	    padding: 0px;
	    top: 0px;
	    left: 0px;
	    margin-left: 0px;
    }

    ul.dropdown ul.sub_menu {
        margin-bottom: 15px;	
    }

    #pageslide li span.nav_link {
        display: block;
	    padding: 0px 5px 5px;
        color: #000000;
	    font-weight: bold;
    }

    #pageslide li A {
        display: block;
	    padding: 10px;
	    border-top: 1px solid #E0DFE3;
    }

    #pageslide li#h_signin,
    #pageslide li#h_register,
	#pageslide li#h_search {
	    position: absolute;
	    left: 0px;
    }

    #pageslide li#h_signin {
	    top: 10px;
    }

    #pageslide li#h_register {
	    top: 55px;
    }
	
	#pageslide li#h_search {
	    top: 105px;
    }

    #pageslide #h_signin A,
    #pageslide #h_register A {
	    border-radius: 0px;
	    color: #FFFFFF;
	    width: 220px;
	    text-align: center;
		border: none;
    }

    #pageslide #h_signin A {
        background-color: #509AD6;
	    margin-left: 0px;
		border-radius: 5px;
    }

    #pageslide #h_signin A:hover {
        background-color: #3288CF;
    }

    #pageslide #h_register A {
        background-color: #E6567A;
	    margin-left: 0px;
		border-radius: 5px;
    }

    #pageslide #h_register A:hover {
        background-color: #DE2352;
    }
	
	#pageslide {
        z-index: 110;
    }

    .compact #pageslide {
        overflow: auto;
    }
	
	.pstep_desc {
	    font-size: 123.1%;	
	}
	
	.win_close {
	    width: 100%;
		height: 55px;
        max-width: 1200px;
	    margin: auto;
	    background-color: #FFFFFF;
	    text-align: right;
	    display: block;
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    opacity: 0.8;
        filter: alpha(opacity=80);
	}
	
	.win_close A img {
		margin: 10px 10px 0px 0px;
	}
	
	.list_back {
	    padding-bottom: 15px;
	}
	
	.t_head,
	.t_subhead {
		line-height: 120%;
		font-size: 30px;
    }
	
	.page_box {
        padding: 30px 0px;
    }
	
	.site_search_toggle {
	    position: relative;
		display: none;
    }

	
	.site_search {
        position: relative;
	    top: auto;
	    right: auto;
	    width: 210px;
	    box-shadow: none; 
	    border-bottom-left-radius: 0px;
	    border-bottom-right-radius: 0px;
	    display: block;
    }
	
	.site_search_form {
		top: 10px;
    }
	
	.search_form input.text_search {
        border: 0px solid #FFFFFF;
	    background-color: transparent;
	    box-shadow: none;
	    height: 20px;
		width: 150px;
    }
	
}

@media only screen and (max-width: 720px) {

    #inner_footer {
		min-height: 1150px;
	    margin-top: 10px;
    }
	
	.inner_sns_widget {
	    width: 50%;
		margin: auto;	
	}
	
    .widget_box {
		height: auto;
    }
	
	#tw_widget,
	#fb_widget {
	    display: none;	
	}
	
	#tw_btn,
	#fb_btn {
	    display: block;	
	}
	
	#tw_btn img,
	#fb_btn img {
	    max-width: 50%;
		opacity: 0.7;
        filter: alpha(opacity=70);
	}
	
	#tw_btn img:hover,
	#fb_btn img:hover {
	    opacity: 1.0;
        filter: alpha(opacity=100);
	}
	
	.fnav_box {
        float: left;
        width: 50%;
	    min-height: 150px;
	    margin: 5px 0px;
    }
	
	.pricing_fnav,
	.support_fnav {
	    min-height: 190px;	
	}
	
	.other_fnav {
	    min-height: 90px;	
	}

    .fnav_box li {
	    margin: 5px;
    }

    .fnav_box li li {
	    margin: 0px;
    }

    .fnav_service {
	    margin-left: 0px;
	    min-height: auto;
    }

    .fnav_service .f_nav {
        padding: 0px;
    }

    #footer .f_nav A {
	    display: block;
	    padding: 10px;
	    border-bottom: 1px solid #D6D6D6;
	    font-weight: normal;
    }
	
	.fnav_company {
        float: none;
        margin: auto;
    }

    .fnav_company .f_nav {
	    width: 33.3%;
        margin: 0px;
	    text-align: center;
		float: left;
    }
	/*
	.fnav_company  #f_guide,
	.fnav_company  #f_privacy {
	    width: 50%;	
	}
	*/
	
	#footer .fnav_company .f_nav A {
	    padding: 5px 0px;
    }
	
	
	#footer .fnav_company .f_nav A {
	    border-bottom: none;
	    padding: 10px 0px;
    }

    .copyright {
	    float: none;
	    text-align: center;
    }

    .sns_widget,
    .ocnk_banner,
    .footer_bnav {
	    padding: 10px 0px;
    }
	
	.list_layout li {
        float: left;	
	    width: 50%;
    }

    .list_layout li .list_data {
        margin: 5px 5px 10px;
    }
	
	.list_layout li .list_name {
	    font-size: 108%;
    }
	
	.tabnav li A {
	    font-size: 108%;
    }

}

@media only screen and (max-width: 600px) {
	/*
	#pan {
	    display: none;	
	}
	*/
	
	#inner_pan {
        padding: 10px 10px;
	    color: #FFFFFF;
    }

    .t_head,
	.t_subhead {
        font-size: 20px;
		line-height: 120%;
    }
	
	.inquiry_page_body .t_subhead {
	    margin-bottom: 10px;	
	}

    .t_read,
	.t_read A {
        font-size: 14px;
	    line-height: 140%;
    }
	
	.page_box {
        padding: 20px 0px;
    }
	
	#footer .f_nav A {
	    font-size: 100%;
    }
	
	.tabnav li A {
	    min-height: 40px;
    }
	
	.tabnav li.nbreak A {
	    line-height: 40px;	
	}
	
	.tabnav .disp_inlineblock {
	    display: block;	
	}

}


@media only screen and (max-width: 500px) {
	
    #footer .f_nav A {
	    font-size: 93%;
    }
	
}


@media only screen and (max-width: 320px) {
	
    .fnav_company .f_nav {
	    width: 50%;
        margin: 0px;
	    text-align: center;
		float: left;
    }
	
}
