@charset "utf-8";
/* CSS Document */

/*************************************************************/

/* #top_image */

/*************************************************************/

#top_image {
	min-width: 300px;
	position: relative;
	margin-left: 520px;
}

#top_image .item_list {
	width: 100%;
    position: absolute;	
	top: 20px;
	left: 0px;
}

.h_main_copy {
    text-align: center;
	text-shadow: 1px 1px 3px #E14949;  
}

.subcopy {
	font-size: 21px;
	line-height: normal;
	color: #FFFFFF;
	display: block;
}

.maincopy {
	font-size: 55px;
	line-height: 120%;
	color: #FFFFFF;
	display: block;
}

.maincopy img {
	max-width: 15%;
	vertical-align: middle;
}

.copy_sfont {
    font-size: 35px;	
}

#header_area {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
	background-color: #FFFFFF;	
}

.ocnktop_banner_area {
	 -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#top_image .item_list {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;	
}

.demo {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;	
}

.input_box {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;	
}

.subcopy,
.maincopy {
	-webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;	
}

.header_news {
	padding: 5px;
	font-size: 85%;
    background-image: url(../img/header_news_bg.png);
	-webkit-animation-delay: 2s;
    animation-delay: 2s;
	display: none;
}

.header_news A {
    color: #B51E22;	
}

.header_news img {
	vertical-align: middle;
	margin: 0px 10px;
}


/*************************************************************/

/* .t_info */

/*************************************************************/

.t_info {
    width: 500px;
	padding: 15px 15px 0px;
	margin-top: 20px;
	float: left;
}


/*************************************************************/

/* .demo */

/*************************************************************/

.demo {
	width: 90%;
    margin: 30px auto 0px;	
}

.demo_shop {
	width: 50%;
    float: left;	
}

.demo_admin {
	width: 50%;
    float: right;	
}

.demo A {
    display: block;
	margin: 5px 5px 0px;
	padding: 10px 10px 0px 5px;
	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	color: #000000;
}

.demo_title {
    display: block;	
}

.demo_shop,
.demo_admin {
    float: left;
}

.demo A img {
    max-width: 50px;
	vertical-align: middle;
}
	
.demo_title {
	font-size: 116%;
	display: inline;
	padding-left: 15px;
	font-weight: bold;
}


/*************************************************************/

/* .t_register */

/*************************************************************/

.t_register {
    margin-top: 20px;	
}


/*************************************************************/

/* .contents_box */

/*************************************************************/

.contents_box {
    padding: 50px 10px;	
}


/*************************************************************/

/* #features */

/*************************************************************/

#features {
    padding-top:150px;
	background-color: #FFFFFF;
}

@media screen and (max-width: 899px) {
    
	#features {
        padding-top: 110px;
    }
	
}

@media screen and (max-width: 810px) {
    
	#features {
        /*padding-top: 50px;*/
	    padding-top: 140px;		
    }
	
}

@media screen and (max-width: 600px) {
    
	#features {
        /*padding-top: 50px;*/
		padding-top: 120px;	
    }
	
}

@media screen and (max-width: 468px) {
    
	#features {
        /*padding-top: 50px;*/
		padding-top: 100px;	
    }
	
}

@media screen and (max-width: 320px) {
    
	#features {
        /*padding-top: 50px;*/
		padding-top: 90px;	
    }
	
}


#features li {
	width: 25%;
    float: left;	
}

#features A {
	display: block;
	border: 3px solid #E0DFE3;
	padding: 20px 5px;
	margin: 5px;
	text-align: center;
	border-radius: 5px;
	color: #333333;
}

#features A:hover {
    opacity:0.8;	
}

.ie8 #features A:hover {
    background-color: #F9F9F9;
}

.features_title {
	font-size: 25px;
    display: block;
	font-weight: normal;
}

#features img {
    max-width: 50%;	
}


/*************************************************************/

/* #sampleshop */

/*************************************************************/

#sampleshop {
    padding-left: 15px;
	padding-right: 15px;	
}

#sampleshop .list_item_photo img {
	width: 100%;
	max-width: 100%;
	height: auto;	
}

#sampleshop .list_item_photo {
    padding: 0px 10px 10px;	
}


/*************************************************************/

/* #template */

/*************************************************************/

#template {
    background-color: #FFFFFF;
}

#inner_template {
    position: relative;
}

#tabnavi {
    display: none;	
}

#tabnavi li A {
	opacity:0.4;
    filter: alpha(opacity=40);		
}

#tabnavi li.navon A,
#tabnavi li A:hover {
	opacity:1.0;
    filter: alpha(opacity=100);		
}

.template_pc_box,
.template_phone_box {
    position: relative;
	float: left;
}

.template_pc_box {
	width: 77%;
}

.template_phone_box {
    width: 23%;	
}

#template .list_item_photo img {
	width: 100%;
	height: auto;
	margin-top: 5%;
}

#pc_template,
#phone_template {
	width: 100%;
    position: absolute;
	top: 0px;
	left: 0px;	
}

.pc_list_box {
    width: 70%;
	margin: auto;	
}

.phone_list_box {
    width: 85%;
	margin: auto;	
}


/*************************************************************/

/* #pricing [pricing.css] share */

/*************************************************************/

#pc_template .list_item_photo img {
	width: 100%;
	height: auto;
	margin-top: 5%;
	-ms-interpolation-mode: bicubic;
}

#phone_template .list_item_photo img {
	width: 100%;
	height: auto;
	margin-top: 33%;
	-ms-interpolation-mode: bicubic;
}

#template .swipe_list .pointer span {
	background-color: #555555;
}

#template .swipe_list .pointer span.current {
    background-color: #FFFFFF;
}

.package,
.pc_pricing,
.phone_pricing,
.mobile_pricing {
    border-bottom: 1px solid #CCCCCC;
	padding: 20px 0px;
}

.pc_site,
.phone_site,
.mobile_site  {
   float: left;
   width: 20%;
   text-align: center;
}

.economy_package {
    margin-left: 20%;	
}

.economy_package,
.standard_package {
    float: left;	
	width: 40%;
	text-align: center;
}

.economy_pricing,
.standard_pricing {
    float: left;
	width: 40%;
	text-align: center;
	padding-top: 2%;	
}

.economy_package .domain_ex,
.economy_pricing .price {
    color: #E95656;	
}

.standard_package .domain_ex,
.standard_pricing .price {
    color: #3399CC;	
}

.package h3 { 
    font-size: 197%;
	font-weight: normal;
	line-height: normal;	
}

.pricing_title,
.monthly_fee .tax,
.monthly_fee .fee_icon {
    font-size: 123.1%;
	line-height: normal;
}

.pricing_title {
	text-align: center;
}

.monthly_fee .price {
	font-size: 350%;
	line-height: normal;
}

.monthly_fee .price .currency {
    font-size: 65%;
	line-height: normal;
}

.monthly_fee .fee_icon {
	display: inline-block;
	background-color: #000000;
	color: #FFFFFF;
	padding: 5px 10px;
	border-radius: 20px;
	position: relative;
	top: -10px;
}

.pricing img {
    max-width: 50%;	
}


/*************************************************************/

/* #ocnknews */

/*************************************************************/

#ocnknews {
    background-color: #FFFFFF;	
}

.ocnk_news,
.blog_ocnk {
	width: 50%;
    float: left;	
}

#ocnknews .news_data {
    margin: 10px;
	padding: 10px 0px;
	border-top: 1px solid #E0DFE3;
}

#ocnknews h2 {
    font-size: 267%;
	font-weight: normal;
	line-height: normal;	
}

#ocnknews .news_data A {
    font-size: 116%;
}

.news_data A time {
    color: #000000;
	font-weight: normal;	
}


/*************************************************************/

/* .btn_more */

/*************************************************************/

.btn_more {
    text-align: center;	
	margin-top: 40px;
}

.btn_more A {
    display: inline-block;
	background-color: #E95656;
	color: #FFFFFF;
	text-align: center;
	padding: 20px 0px;
	font-size: 150%;
	font-weight: normal;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #CCCCCC;
	min-width: 450px;
	background-image: url(../img/icon_more.png);
	background-repeat: no-repeat;
	background-position: right center;
	/*font-family: 'Noto Sans Japanese', sans-serif;*/
}

/*-----------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
/*-----------------------------------------------------------*/
  .btn_more A {
    background-image: url(../img/icon_more_x2.png);
    background-size: 40px 40px;
  }
/*-----------------------------------------------------------*/
}

.btn_more A:hover {
	opacity:0.8;
    filter: alpha(opacity=80);	
}

#features .btn_more A {
    display: inline-block;
	border: none;
	color: #FFFFFF;
	padding: 20px 0px;
}

/*************************************************************/

/* .ocnktop */

/*************************************************************/

.ocnktop_banner_area {
    position: relative;	
}

.ocnktop_banner {
	max-width: 35%;
	position: absolute;
	top: 35px;
	left: 55px;
}

#pricing .ocnktop_banner {
    position: relative;
	top: inherit;
	left: inherit;
	margin: 0px auto 15px;	
}

.ocnktop_banner img {
    width: 100%;
}

.ocnktop_banner A:hover {
    opacity:0.8;
    filter: alpha(opacity=80);
}


@media only screen and (max-width: 810px) {
    /*
	.ocnktop_banner_area {
        display: none;	
    }
	*/
    .ocnktop_banner {
	    top: 20px;
	    left: 25%;
	    max-width: 50%;
    }
	
}


@media only screen and (max-width: 568px) {
    
	.ocnktop_banner {
	    top: 20px;
	    left: 20%;
	    max-width: 60%;
    }
	
}

@media only screen and (max-width: 480px) {
    
	.ocnktop_banner {
	    top: 20px;
	    left: 10%;
	    max-width: 80%;
    }
	
}


/* ie8 */

.ie8 #features {
    padding-top: 50px;
}

.ie8 .ocnktop_banner_area {
    padding: 30px 0;
    position: static;
}


/*************************************************************/

/* media only  */

/*************************************************************/

@media only screen and (max-width: 1200px) {

    .subcopy {
	    font-size: 15px;
    }

    .maincopy {
	    font-size: 46px;
    }

    .maincopy img {
	    max-width: 15%;
    }

    .copy_sfont {
        font-size: 30px;	
    }

}


@media only screen and (max-width: 1100px) {
	
    .t_info {
        width: 450px;
    }

    #top_image {
        margin-left: 470px;
    }

    .demo {
        margin: 20px auto 0px;	
    }
	
    .demo A {
	    padding: 5px 10px 0px 5px;
    }

    .demo A img {
        max-width: 40px;
    }
	
    .demo_title {
	    font-size: 108%;
    }

}


@media only screen and (max-width: 960px) {
	
	.t_info {
        width: 400px;
	    margin-top: 0px;
    }

    #top_image {
        margin-left: 420px;
    }
		
   .demo_title {
	    font-size: 93%;
    }

    .maincopy {
	    font-size: 40px;
    }

    .copy_sfont {
        font-size: 25px;	
    }

    .t_register {
        margin-top: 0px;	
    }

}


@media only screen and (max-width: 900px) {
	
	.features_title {
	    font-size: 22px;
    }

    .maincopy img {
	    max-width: 13%;
    }

}


@media only screen and (max-width: 800px) {
	
	#top_catch {
	    padding-top: 10px;
		padding-bottom: 60px;	
	}
	
    #top_image {
	    min-width: auto;
	    margin: 0px auto 30px;
		width: 85%;
    }

    #top_image .item_list {
	    width: 90%;
        position: relative;	
	    top: auto;
	    left: auto;
		margin: auto;
    }
	
	.maincopy img {
	    max-width: 8%;
    }
	
	.h_main_copy {
	    margin-bottom: 10px;	
	}

    .subcopy {
	    font-size: 21px;
	    line-height: normal;
		display: inline-block;
    }

    .maincopy {
	    font-size: 35px;
	    line-height: normal;
		display: block;
    }
	
	.first_line {
	    display: inline-block;	
	}

    .t_info {
        width: 100%;
	    padding: 0px;
	    float: none;
		min-height: inherit;
    }
	
	.t_register {
		width: 100%;
	    float:none;
		margin: 10px 0px;
		padding: 0px;
		position: absolute;
		bottom: 10px;
	}
	
	.input_box,
	.demo {
		width: 50%;
		padding: 0px;
		margin-top: 0px;
    }
	
	.input_box {
		float: right;
    }
	
	.demo {
		float: left;
    }

    .demo_shop,
	.demo_admin {
		width: 50%;
        float: left;
    }

    .demo A {
	    width: auto;
		margin: 5px 0px 5px 15px;
	    padding: 10px 10px 10px 15px;
	    text-align: left;
		font-size: 116%;
		border-radius: 100px;
    }
	
	.demo A img {
        max-width: 30px;
		height: auto;
		vertical-align: middle;
    }
	
	.demo_title {
	    display: inline;
		padding-left: 5px;
	}
	
	#features li {
	    width: 33.3%;
        float: left;	
    }
	
	.package h3 { 
        font-size: 20px;
		line-height: 110%;
    }
	
}


@media only screen and (max-width: 720px) {
	
	#features A {
	    padding: 5px 5px 10px;
    }
	
	.features_title {
	    font-size: 22px;
    }
	
	.monthly_fee .price {
	    font-size: 250%;
    }
	
	.monthly_fee .fee_icon {
	    display: block;
		width: 30px;
		margin: auto;
	}
	
	.pricing_title,
    .monthly_fee .tax,
    .monthly_fee .fee_icon {
        font-size: 100%;
    }
	
}


@media only screen and (max-width: 640px) {

	.demo A img {
        max-width: 20px;
		height: auto;
		vertical-align: middle;
    }
	
	.demo A {
		margin-top: 10px;
		font-size: 108%;
		padding: 10px;
    }
}


@media only screen and (max-width: 568px) {
	
    #top_image .item_list {
	    width: 90%;
    }

	#top_catch {
		padding-bottom: 100px;	
	}

	.subcopy {
	    font-size: 18px;
    }

    .maincopy {
	    font-size: 22px;
		margin-bottom: 5px;
    }
	
	.copy_sfont {
        font-size: 20px;	
    }
	
	.contents_box {
        padding: 20px 10px;	
    }
	
	.input_box {
		width: 68%;
		margin-top: 15px;
    }
	
	.demo {
		width: 32%;
    }
	
	.demo A {
	    font-size: 14px;
	}
	
	.demo_shop,
	.demo_admin {
	    float: none;
		width: 100%;
	}
	
	#features li {
	    width: 50%;
    }
	
	.features_title {
	    font-size: 16px;
	    display: inline-block;
	    vertical-align: middle;
    }

    #features img {
        max-width: 28%;
	    vertical-align: middle;
    }

	#features A {
		padding-bottom: 5px;
		padding-right: 0px;
	    text-align: left;
		margin: 3px;
    }

    .package h3 { 
        font-size: 20px;
		line-height: 110%;
    }

    .monthly_fee .price {
	    font-size: 22px;
    }
	
	.pricing_title,
    .monthly_fee .tax,
    .monthly_fee .fee_icon {
        font-size: 14px;
    }
	
	.pricing img {
        max-width: 70%;	
    }
	
	.domain_ex {
	    font-size: 10px;	
	}
	
    .ocnk_news,
    .blog_ocnk {
	    width: 100%;
        float: none;	
    }

    #ocnknews h2 {
        font-size: 14px;
	    font-weight: bold;
    }

    #ocnknews .news_data A {
        font-size: 14px;
	    display: block;
	    background-image: url(../img/y_icon.png);
	    background-repeat: no-repeat;
	    background-position: right center;
	    padding-right: 20px;
    }

/*-----------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
/*-----------------------------------------------------------*/
  #ocnknews .news_data A {
    background-image: url(../img/y_icon_x2.png);
    background-size: 26px 49px;
  }
/*-----------------------------------------------------------*/
}

    .template_box {
        position: relative;
    }

    .template_phone_box {
        position: relative;
	    float: none;
	    margin: auto;
    }

    .template_pc_box {
        position: absolute;
	    float: none;
	    top: 0px;
	    let: 0px;
    }

    .template_pc_box {
	    width: 100%;
    }

    .template_phone_box {
        width: 60%;	
    }

    .compact #tabnavi {
        display: block;
	    margin-bottom: 10px;
    }

    .compact .hidden_tab {
        visibility: hidden;
    }

    #tabnavi li {
	    width: 50%;
        float: left;
    }

    #tabnavi li.tabphone {
	    text-align: right;
    }

    #tabnavi li.tabpc {
	    text-align: left;
    }

    #tabnavi li img {
        max-width: 50%;	
    }
	
	.template_box .swipe_list .pointer span {
	    width: 5px;
	    height: 5px;
		border-radius: 5px;
    }
	
	.template_box .swipe_list .pointer_box {
        padding: 0px 0px;
    }
	
	.btn_more {
		margin-top: 20px;
    }
	
	.btn_more A {
	    font-size: 100%;
	    min-width: 250px;
		padding: 12px 0px;
    }
	
	#features .btn_more A {
		text-align: center;
		padding: 10px 0px;
    }

}


@media only screen and (max-width: 468px) {
	
    .subcopy {
	    font-size: 14px;
    }

    .maincopy {
	    font-size: 18px;
		margin-bottom: 5px;
    }
	
	.copy_sfont {
        font-size: 16px;	
    }

    #sampleshop .list_item_photo {
        padding: 0px 2px 10px;	
    }
	
	.template_pc_box .swipe_list .pointer_box {
        position: relative;
		top: -5px;
    }
	
	.features_title {
	    font-size: 13px;
    }
	
	.package h3 { 
        font-size: 16px;
		line-height: 110%;
    }

    .monthly_fee .price {
	    font-size: 20px;
    }
	
	.pricing_title,
    .monthly_fee .tax,
    .monthly_fee .fee_icon {
        font-size: 12px;
    }
	
	.domain_ex {
	    font-size: 8px;	
	}
	
	#top_catch {
		padding-bottom: 120px;	
	}	
	
	.input_box,
	.demo  {
		float: none;
		width: 100%;
    }
	
	.demo_shop,
	.demo_admin {
	    float: left;
		width: 50%;
	}
	
    .demo A {
		margin: 15px 0px 0px;
	    padding: 10px;
    }
	
	.demo_shop A {
	    margin-left: 15px;
		margin-right: 5px;	
	}
	
	.demo_admin A {
	    margin-right: 15px;
		margin-left: 5px;	
	}

}