.aniversario-brasilia header, .aniversario-brasilia #copy_right, .aniversario-brasilia .newsletter, .aniversario-brasilia .titulo-secao, .aniversario-brasilia .container-selos, .aniversario-brasilia #copy_right.faixa{
	background-color: #fff !important;
}
.aniversario-brasilia nav.menu-principal.topo, .aniversario-brasilia footer, .aniversario-brasilia .black-faixa {
	background: #1D4183  !important ;
}
.aniversario-brasilia .fixo .black-faixa {
	padding: 0 0 5px !important;
  background: #1D4183 !important;
}
.aniversario-brasilia #nav-footer ul li a:hover, .aniversario-brasilia #copy_right.faixa {
  color: #FB565E !important ;
}
.aniversario-brasilia .botao-carrinho i { 
  color: #1D4183 !important;
}
.aniversario-brasilia #login_top {
  background: #1D4183;
}
.aniversario-brasilia .black-faixa .cor-branco {
 font-weight: bold;
 text-transform: uppercase;
 font-size: 9px;
 position: relative;
 top: -4px;
}
.aniversario-brasilia .black-faixa .col-md-7 img {
  width: 	100%;
  max-width: 315px
}
.aniversario-brasilia footer hr {
	background: #fff !important;
	border-top-color:  #1E4184 !important ;
	border-bottom: 2px solid #1E4184;
}
.aniversario-brasilia .menu-principal.menu {
  border-top-color: #123779 !important;
  margin: 0;
  background: #1D4183!important;
}
 .black-box {
	background: #1E4184;
	color: #ED1D24;
	padding: 5px 10px 10px;
	border-radius: 4px;
	margin-top: 10px;
	float: left;
	width: 	100%;
  display:  block;  
  margin-bottom: 10px;
}
.aniversario-brasilia .busca-topo {
	margin-top: 20px
}
.aniversario-brasilia .media {
	margin-top: 0
}
.aniversario-brasilia .titulo-secao {
	margin-bottom: 15px;
}

.aniversario-brasilia .newsletter h3, .aniversario-brasilia #depoimentos h3, .aniversario-brasilia .titulo-secao h2  {
	color: #000 !important  
}
.aniversario-brasilia  header.fixo .container {
  padding:  0 15px
}
.aniversario-brasilia .menu .dropdown-menu {
  top: 30px;
}
.aniversario-brasilia header .botao-carrinho {
  background-color: #FFFFFF;
  border-color: #f0f0f0;
  color: #000 !important; 
}
.aniversario-brasilia .black-faixa {
	background: #ED2325 !important;
	padding: 0px 0px 0px !important;
	color: #FC0811;
  display:  block;  
}

.aniversario-brasilia .navbar-toggle {
  margin:  0 !important 
}
.aniversario-brasilia #copy_right {
  color: #000 !important  
}
.aniversario-brasilia #copy_right a {
  color: #1D4183 !important;
}
.aniversario-brasilia section[style="background: #f1f2f6; padding: 5px 0; margin-top: -1px; float: left; width: 100%"] {
	margin-top: -16px !important;
}
.aniversario-brasilia a#logo {
  margin: -8px 10px -15px;
  background-size: auto 49px;
}
.aniversario-brasilia .menu .nav>li {
  padding: 5px 0
}
.aniversario-brasilia  .menu .nav>li {
  border-right: 1px solid #0E2C63; 
}

@media (max-width: 767px) {
  .aniversario-brasilia .container.secao-logo {
    padding: 0 !important 
  }
  .aniversario-brasilia .black-faixa .col-md-3 {
    width: 100%
  }
  .aniversario-brasilia a#logo {
    margin: 3px 10px -16px;
  }
  .aniversario-brasilia a.button_top#apply {
    padding: 8px 10px !important;
  }
  .aniversario-brasilia header {
    padding: 0
  }
  .aniversario-brasilia .menu-principal.menu {
  	margin-bottom: 11px !important	
  }
  .aniversario-brasilia header a#login_top.button_top {
    padding: 7px !important
  }
  .aniversario-brasilia .botao-carrinho.meus-cursos[title="2ª via do boleto"] {
    display: block;
  }
  .aniversario-brasilia .black-faixa, .aniversario-brasilia .black-box {
    display: block;
    float: left;
    width: 100%;
    margin: 0px   !important;
    text-align: center; 
    padding: 10px 10px 15px !important;
  }
  .aniversario-brasilia header .botao-carrinho {
    min-height: 30px;
    line-height: 25px;
    border-radius: 4px;
    overflow: hidden;
  }
  .aniversario-brasilia .busca-topo {
    margin-top: 15px
  }
  .aniversario-brasilia .flip-clock-wrapper {
    left: 50%;
    margin-left: -94px;
  }
  .aniversario-brasilia .pacote-bg h4 small b {
    width:  100%
  }

}
@media (max-width: 992px) {
  .aniversario-brasilia  .fixo .black-faixa, .aniversario-brasilia  .botao-carrinho.meus-cursos[title="2ª via do boleto"] {
    display: none;
  } 
  .aniversario-brasilia header a#login_top.button_top {
    padding: 8px 10px !important;
  }
  .aniversario-brasilia .botao-carrinho.meus-cursos {
    margin-left: 5px;
  }
}


@media (max-width: 440px ) {
  .aniversario-brasilia .botao-carrinho.meus-cursos {
    display: none;
  }
}

.black-faixa/*, .black-box */{
  display: none;
}
.aniversario-brasilia .black-faixa,.black-box {
  display: block;
  float:  left; 
  width:  100%
}

.aniversario-brasilia #Stage_jbeeb_3 {
  left: 50% !important;
  position: relative !important;
  margin-left: -90px;
  text-transform: uppercase;
  margin-top: -5px;
}

#Stage_jbeeb_7, #Stage_jbeeb_5 {
  margin-top: 3px;
  left: 50% !important;
  position: relative !important;
  margin-left: -90px;
  text-transform: uppercase;
}

.aniversario-brasilia .container.secao-logo {
  padding: 12px 15px 9px;
}

.aniversario-brasilia  .fixo .container.secao-logo {
  padding: 3px 15px 3px
}

.black-box h3 {
  background: #E2141E;
  padding: 5px 2px;
  font-size: 16px;
  border-radius: 3px 3px 0 0;
  margin: -5px -10px 5px!important;
}

.aniversario-brasilia  .fixo .js-navbar-collapse-2 {
  z-index: 9 !important
}

.aniversario-brasilia .faixa-black-friday-selo {
	display: 	block;	
}