/*!@
 *
 * Markup gerado pelo autocomplete:
 *
 * <div class="autocomplete-suggestions">
 *   <div class="autocomplete-group"><strong>NHL</strong></div>
 *   <div class="autocomplete-suggestion autocomplete-selected">...</div>
 *   <div class="autocomplete-suggestion">...</div>
 *   <div class="autocomplete-suggestion">...</div>
 * </div>
 *
 * Mais detalhes em https://github.com/devbridge/jQuery-Autocomplete
 */

.autocomplete-suggestion {
  border-bottom: 1px dashed #eaeaea;
  white-space: normal;
}

.autocomplete-suggestions strong {
  font-weight: bold;
}

.autocomplete-suggestion:nth-child(odd) {
  background: #f9f9f9
}

.autocomplete-suggestion:hover {
  background: #eaeaea
}
