.tabbable-panel {
	border: 1px solid #eee;
	float: left;
	width: 100%;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.cursos-home {
	padding: 0;
	background: none;
	box-shadow: none;
	margin-bottom: 0;
}
.tabbable-line {
	background: #ffffff;
	border: 1px solid #f1f2f6;
	box-shadow: none;
	margin: -1px;
	border-radius: 4px 4px 0 0;
}
#main_content h2.plan-title {
	padding-right: 0;
	padding-left: 0
}
.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
	box-shadow: none;
}
.tabbable-line > .nav-tabs h5 {
	margin: 3px 0;
	font-size: 15px;
	text-transform: none;
}
.tabbable-line > .nav-tabs > li {
	border-bottom: 0;
	margin: -1px 0 0;
}
.cursos-home .carousel-control.left span {
	left: 0 !important;
	border-radius: 0 4px 4px 0;
}
.cursos-home .carousel-control.right span {
	right: 0 !important;
	border-radius: 4px 0 0 4px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
	float:  left;
	width:  100%;
	border: 1px solid transparent;
	padding: 10px 5px;
}
.tab-content form .fa-search:hover, .fa-search:hover {
	background: transparent !important;
}
.tabbable-line > .nav-tabs > li > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li:hover {
	background: #fafbfd
}
.nav-tabs>li.active, .nav-tabs>li.active a {
	border: none;
	margin-bottom: 0 !important
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
	background: #e2141e;
	position: relative;
}
.tabbable-line > .nav-tabs > li:first-child.active {
	border-radius: 4px 0 0 0;
}
.tabbable-line > .nav-tabs > li:last-child.active {
	border-radius: 0 4px 0 0;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}
.tabbable-line > .nav-tabs .fa {
	font-size: 25px;
	width: 40px;
	height: 40px;
	float: left;
	padding: 7px;
	border-radius: 38px;
	margin: -7px -16px -5px 9px;
	background: #b30912;
	color: #fff
}
.tabbable-line > .nav-tabs > li.active:after {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 50px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0d7";
	margin: 0 auto;
	position: absolute;
	bottom: -31px;
	left: 50%;
	margin-left: -14.29px;
	margin-top: -17px;
	color: #e2141e;
}
.tabbable-line > .nav-tabs > li.active h5 {
	color: #fff
}
.tabbable-line > .nav-tabs > li.active > a > i {
	color: #404040;
}
.tabbable-line > .tab-content {
	margin-top: 0px;
	background-color: #f1f2f6;
	border: 0;
	border-top: 1px solid #eee;
	padding: 25px 0 0;
	float: left;
	width: 100%
}
.cursos-home .col-item {
	width: 	100%;
	border: none;
	border-radius: 4px
}
.plan {
	width: 100%
}
.portlet .tabbable-line > .tab-content {
	padding-bottom: 0;
}
.plan-title {
	min-height: 50px
}
.fa[style="color: yellow;"] {
	color: rgb(255, 179, 0) !important
}
@media (max-width: 992px) {
	.tabbable-line > .nav-tabs > li {
		width:  50%
	}
	.tabbable-line > .nav-tabs > li.active:after {
		display:  none;
	}
	.tabbable-line > .nav-tabs > li > a {
		padding: 10px !important;
	}
}
@media (max-width: 667px) {
	.tabbable-line > .nav-tabs > li {
		width:  100%
	}
}