
body {
    margin-top: 0 !important;
    background: none;

}

html.skin:before,
html.skin:after {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    content: url("../%22%22");
}

/* INIZIO BLOCCO 1 */
html.skin:after {
    z-index: -1;
    overflow: hidden;
    height: 875px;
    text-align: center;
    background: url(http://static.euronics.it/eur/img/promo/2013/05/hp/skin-hp.png) center 40px no-repeat;
}

/*
html.skin:before {
    z-index: -2 !important;
    height: 875px;
    background: url(http://static.euronics.it/eur/img/promo/2013/05/hp/sf.png) center top repeat-x;
}
/* FINE BLOCCO 1 */

/* INIZIO BLOCCO 2 */


/*
html.skin:before {
    z-index: -1;
    overflow: hidden;
    height: 875px;
    text-align: center;
    background: url(http://static.euronics.it/eur/img/promo/2013/05/hp/skin-hp.png) center 40px no-repeat;
}
html.skin:after{
     display: none!important;
}
*/


/* FINE BLOCCO 2 */


