/*.campaignitem {
	margin-bottom: 10px;
}

.campaignitem img {
	max-width: 100%;
	max-height: 100%;
}

.campaignitem .avatar {
	height: 100px;
	overflow: hidden;
	text-align: center;
	width: 150px;
	float: left;
	margin-right: 10px;
}

.campaignitem h3 {
	margin: 0;
	overflow: hidden;
	line-height: 1.0em;
}

.campaignitem h3 a {
	color: inherit;
}*/

body.loggedin {
	background-color: #FAFAFA;
}

body.loggedin .container {
	background-color: white;
}

.homegamelist .listing {
	width: 210px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
}

.homegamelist .listing .imgcontainer {
	text-align: center;
	height: 140px;
	margin-bottom: 10px;
}

.homegamelist .listing img {
	max-width: 100%;
	max-height: 100%;
}

.homegamelist .listing .shorthr {
	display: none;
}

.homegamelist .gameinfo {
	display: block;
}

.homegamelist .gameinfo a:first-child {
	font-size: 1.1em;
	font-weight: bold;
}

.homeannouncement img {
	max-width: 100%;
	margin-bottom: 20px;
}

.logo-brands {
	position: relative;
	top: -15px;
	float: right;
}

.logo-brands img {
	max-height: 90px;
	margin-right: 10px;
	vertical-align: middle;
}

.logo-brands p {
	margin-bottom: 0px;
	margin-top: 10px;
	padding-left: 12px;
	font-weight: bold;
}

@media (max-width: 1000px) {
	.logo-brands {
		padding-top: 10px;
		float: none;
	}
}