/*

 Theme Name: Mkyong Bootstrap 3 Theme
 Theme URI: http://www.mkyong.com/
 Description: Theme for mkyong.com
 Version: 2.0
 Author: Mkyong
 Author URI: http://www.mkyong.com
 */

/*all images responsive*/
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.post-meta{
	color: #9199a1;
	font-size: 14px;
}

body{
    font-size: 16px;
}

.post-thumbnail{
    float: left;
    margin-right: 20px;
    width:100px;
    height:100px;
    /*border: 1px solid #DDD;*/
}

#google-matched-content{
    width:100%;
    height:100%;
    margin:0;
}

.listing-post-container{
    margin-bottom:40px;
}

.listing-post-container h2{
    margin-top:0px!important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/** Hide **/
@media only screen and ( max-width: 300px ) {
    .hide_if_width_less_300{display:none;}
}
@media only screen and ( max-width: 800px ) {
    .hide_if_width_less_800{display:none;}
}

/** Center **/
.align-center{
    text-align: center;
}

.align-center div{
    display: inline-block;
}
/** Center **/

/** Ads **/
.background-grey{
    background-color: #F8F8F8;
}

.ads-top{
    padding: 10px 0;
}

.ads-bottom{
    padding: 20px 0 10px 0;
}

.ads-in-post{
    margin:10px 0;
}
.ads-after-post{
    margin:20px 0;
}

/** Post **/
#post-container{
    margin:20px 0;
}

#post-container h1{
    margin-top:0px;
}

#post-container h2{
    margin-top:40px;
    font-size: 24px;
}

.post-content{
    margin-top:20px;
    padding-top:20px;
    border-top: 1px dashed #DDD;
}

/* Post Tag */
#post-tags{
    margin:20px 0;
}

/** Author Info **/
#author-info {
    border-left: 5px solid #4285f4;
    padding: 20px;
    background-color: #F8F8F8;
}

#author-info .title{
    padding:0px;
    margin:0 0 10px 0;
    font-size:24px!important;
}

.avatar {
    width: 82px;
    height: 82px;
    float: left;
    margin: 0 20px 10px 0;
    border-radius: 100%;
    box-shadow: 0 0 0 2px rgba(0,0,0,.15);
}

/** Post Tag **/
.post-tag a{
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 5px 10px;
    margin: 2px 2px 2px 0;
    text-decoration: none!important;
    white-space: nowrap;
    font-weight:400;
}

.post-tag a:hover{
    background-color: #3E6D8E;
    color: #E0EAF1;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    text-decoration: none;
}

/* Sidebar */
.sidebar-box{
    margin-bottom:4px;
}

/** Test Ads **/
.test-ads-300{
    width:300px;
    height:250px;
    background-color: #000;
}

.test-ads-160{
    width:160px;
    height:600px;
    background-color: #000;
}

.test-ads-970{
    width:970px;
    height:90px;
    background-color: #F8F8F8;
}

.test-ads-728{
    width:728px;
    height:90px;
    background-color: #000;
}

.test-ads-728-in-1{
    width:728px;
    height:90px;
    background-color: #ff0000;
}

.test-ads-728-in-2{
    width:728px;
    height:90px;
    background-color: #00ff00;
}

/** Nav **/
.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    color: #fff;
    background-color: #0F3B68;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    /*background-color: #0A2540;*/
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #0A2540;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0F3B68;
}

.navbar-brand{
    padding:10px;
}

/* Nav Mobile */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3B5166;
}

/** Search Box **/
/** http://bootsnipp.com/snippets/featured/stylish-search-box **/
#custom-search-input .search-query {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color:#0F3B68;
}

.navbar-form {
    padding: 0 10px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #3B5166;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 10px 5px 40px;
    }

    .navbar-form {
        padding: 10px 20px;
    }
}

/** Code Style **/
.filename {
    background-color:#E6E6FC;
    border: 1px solid #D1D1E8;
    padding: 8px 8px 8px 14px;
    border-bottom: none;
    margin-top:20px;
    color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

pre{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    word-wrap: normal;
    background-color:#F7F7F9;
    margin: 0 0 20px;
}

pre[class*="language-"] {
    margin: 0 0 20px 0;
    border: 1px solid #D1D1E8;
    background-color:#F7F7F9;
}

/*pre > code {
    white-space: pre;
    margin-top: -1.00em;
    display: block;
}*/

/** Box **/
.download {
    padding: 40px 85px;
    border: 1px solid #CEEBCE;
    background: url('images/download.png') no-repeat 25px 25px #DFF7DF;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.github {
    padding: 40px 85px;
    border: 1px solid #D1D1E8;
    background: url('images/github.png') no-repeat 25px 25px #E6E6FC;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.note {
    background-color: #E6E6FC;
    border: 1px solid #D1D1E8;
    padding: 20px;
    margin: 20px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.warning {
    background-color: #F7F7DA;
    border: 1px solid #E5E5C3;
    padding: 20px;
    margin: 20px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.trap {
    background-color: #FAE1E1;
    border: 1px solid #F5C4C4;
    padding: 20px;
    margin: 20px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pic {
    background-color: #F9F9F9;
    border: 1px solid #DDD;
    margin: 10px 0 20px 0;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/** footer copyright **/
#footer-copyright {
    background-color: #0A2540;
    border-top: 1px solid #364C62;
    padding:10px;
}

#footer-main{
    background-color: #0F3B68;
    border-top: 1px solid #364C62;
    padding-top:30px;
}

#footer-main h4 {
    color: #fff !important;
    border-bottom: 1px solid #3F6286;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    font-size: 20px !important;
}

footer{
    color: #fff;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer a{
    color:#91C8FE;
}

footer a:hover{
    color:#C8E4FE;
    text-decoration: underline;
}

.footer-widget{
    margin-bottom: 30px;
}

/********* pv *************/
.no-right-padding{
	padding-right:0;
}

.no-left-right-padding{
	padding-right:0;
	padding-left:0;
}

.sidebar-box .title{
	font-size: 18px;
	margin-bottom: 12px;
}

.row-margin-bottom{
	margin-bottom: 10px;
}

.pvbox-container{
	font-size: 14px;
}

.pvbox{
	padding: 2px 0;
	text-align: center;
	border-radius: 2px;
	font-size: 90%;
	height: auto;   
	transform: translateY(1px);
}
.kformat{
	color: #FFF;
    /*background-color: #5fba7d;*/
	background-color: #26A69A;
}

.mformat{
	color: #FFF;
	background-color: #EF5350;
}
