@charset "utf-8";
/* CSS Document */
*{
	font-family:'微软雅黑';
	font-size:14px;
	padding:0;
	margin:0;
}
html,body,div,span,p,h1,h2,h3,h4,h5,h6,em,img,strong,blockquote,
sub,sup,tt,i,b,dd,dl,dt,form,label,table,caption,
tbody, tfoot, thead,tr,th,td,ul,li,p,a,ol{ margin:0;padding:0;}
input,select,textarea{vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
em,i,cite{font-style:normal;}
blockquote{quotes: none;}
ul,ol,li{list-style-type:none;}

body,h1, h2, h3, h4, h5, h6{font: 12px/1.5 \5b8b\4f53,Tahoma, Helvetica, Arial, sans-serif;color:#5b5b5b;}
a{color:#666666;text-decoration:none;cursor:pointer;}
a:hover,a:active,a:focus{text-decoration:underline; color:#ff0000}

.w{margin:0 auto; width:990px; position:relative;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.p5{padding:5px;}
.p10{padding:10px;}
.pt10{padding-top:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.fl{float:left;}
.fr{float:right;}
.pr{position: relative;}
.cp{cursor: pointer;}
.hidden{display: none;}
.block{display: block;}
.oh{overflow:hidden;zoom:1;}
.b{font-weight:bold;}
.c{clear:both;height:0px;width:0px;overflow:hidden;font: 0px/0px Arial;}
.cb{clear:both;}
.border{border:1px solid red;}
.red{color:#ff0000;}
.border1{border:1px solid #CBCBCB;}
.lina{cursor:pointer;}