@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: local('Catamaran Medium'), local('Catamaran-Medium'), url(http://fonts.gstatic.com/s/catamaran/v1/83WSX3F86qsvj1Z4EI0tQiofGa5HtC27mKX5WTDvueo.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(http://fonts.gstatic.com/s/catamaran/v1/PpgVtUHUdnBZYNpnzGbScyofGa5HtC27mKX5WTDvueo.ttf) format('truetype');
}
