/*
Theme Name: fairyPROJECT 2014
Theme URI: http://www.fairyproject.net
Description: Tema feito por k3y, programado por Scoobie e Yaten.
Version: 1
Author: k3y, scoobie, Yaten
Author URI: http://www.yaten.com.br

*/

* {font-family: "yanone_kaffeesatzregular"; }
body {
	font-size: 11px;
	background: 
				url('images/layout/background-dragons.jpg') center -30px no-repeat,
				url('images/layout/background-pattern-2.jpg') center top repeat-x,
				url('images/layout/background-pattern.jpg');
}
ul {list-style: none;}
a {text-decoration: none;}

/* Projects */
#projects_container { width: 100%; height: 30px; background: #000; margin: 0 0 0 0; }
#projects {height: 30px; width: 900px; margin: 0 auto; color: #fff;}
#projects ul {list-style: none;}
#projects li {float: left; margin: 0 20px 0 0;}
#projects li a {text-indent:-5000px; display: block; }
#projects li a:hover{background-position: 0 -23px;}
.np {background:url('images/projects/np.png') no-repeat; width: 72px; height: 26px;}
.pp {background:url('images/projects/pp.png') no-repeat; width: 65px; height: 26px;}
.bp {background:url('images/projects/bp.png') no-repeat; width: 72px; height: 26px;}
.rp {background:url('images/projects/rp.png') no-repeat; width: 65px; height: 26px;}
.fp {background:url('images/projects/fp.png') no-repeat; width: 70px; height: 26px;}
.tp {background:url('images/projects/tp.png') no-repeat; width: 80px; height: 26px;}
.sp {background:url('images/projects/sp.png') no-repeat; width: 71px; height: 26px;}
.ragna {background:url('images/projects/ragna.png') no-repeat; width: 68px; height: 26px;}
.hep {background:url('images/projects/hep.png') no-repeat; width: 71px; height: 26px;}
.wow {background:url('images/projects/wow.png') no-repeat; width: 61px; height: 26px;}

/* PRONTOS */
.floatleft {float:left !important;}
.floatright {float: right !important;}

.font11 {font-size: 11px !important;}
.font12 {font-size: 12px !important;}
.font14 {font-size: 14px !important;}
.font16 {font-size: 16px !important;}
.font18 {font-size: 18px !important;}

/* FONT FACE */

@font-face {
    font-family: 'amienneregular';
    src: url('webfont/amienne-webfont.eot');
    src: url('webfont/amienne-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont/amienne-webfont.woff') format('woff'),
         url('webfont/amienne-webfont.ttf') format('truetype'),
         url('webfont/amienne-webfont.svg#amienneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yanone_kaffeesatzregular';
    src: url('webfont/yanonekaffeesatz-regular-webfont.eot');
    src: url('webfont/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('webfont/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('webfont/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HEADER */

.header-wraper {
	width: 100%;
	height: 693px;
	float: left;
	background: url('images/layout/header-bg.jpg') center top no-repeat;
}

	.header-wraper .header-aligner {
		width: 1003px;
		margin: 0 auto;
	}

	.header-wraper .header {
		width: 1003px;
		height: 693px;
		float: left;
	}

		.header .logo {
			display: block;
			width: 177px;
			height: 132px;
			margin: -8px auto 33px;
		}

			.header .logo img {
				margin-left: 8px;
			}

		.header .menu-header {
			width: 382px;
			height: 57px;
			margin: 0 auto;
			margin-top: 25px;
			background: url('images/layout/menu-header.png') no-repeat;
		}

			.header .menu-header ul li {
				display: inline;
			}

				.header .menu-header ul li a {
					color: #ccc4d0;
					font-family: "amienneregular";
					text-shadow: 1px 1px 0 #141417;
					font-size: 23px;
					float: left;
				}

				.header .menu-header ul li a.filmes {
					-moz-transform: rotate(5deg);
					-webkit-transform: rotate(5deg);
					-o-transform: rotate(5deg);
					-ms-transform: rotate(5deg);
					transform: rotate(5deg);
					margin: 9px 0 0 78px;
				}

				.header .menu-header ul li a.episodios {
					margin: 3px 0 0 56px;
				}

				.header .menu-header ul li a.mangas {
					margin: 9px 0 0 51px;
					-moz-transform: rotate(-5deg);
					-webkit-transform: rotate(-5deg);
					-o-transform: rotate(-5deg);
					-ms-transform: rotate(-5deg);
					transform: rotate(-5deg);
				}

		/* NEWS EXPRESS */

		.header .news-express {
			float: left;
			margin: 56px 0 0;
    		width: 285px;
		}

			.header .news-express ul {
				margin-top: 86px;
				margin-left: 2px;
			}

			.header .news-express ul li {
				background: url('images/layout/news-express-li.png') 0 27px no-repeat;
				display: block;
			    height: 40px;
			    margin-bottom: -27px;
			    padding: 6px 0 6px 14px;
			    width: 271px;
			}

				.header .news-express ul li:hover {
					background: url('images/layout/news-express-li-hover.png') left top no-repeat;
				}

				.header .news-express ul li:nth-child(5) {
					background: none;
				}

				.header .news-express ul li:nth-child(5):hover {
					background: url('images/layout/news-express-li-hover.png') left top no-repeat;
				}

			.header .news-express ul li a {
				font-family: "yanone_kaffeesatzregular";
				font-size: 17px;
				color: #cccdbc;
				text-shadow: 1px 1px 0 #1b1c20;
				display: block;
			}

				.header .news-express ul li:hover a {
					color: #e7e4bd;
				}

			.header .news-express ul li a span.data {
				font-family: "yanone_kaffeesatzregular";
				font-size: 17px;
				color: #cccfd8;
				text-shadow: 1px 1px 0 #222324;
				font-weight: bold;
				margin-right: 22px;
			}

				.header .news-express ul li:hover a span.data {
					color: #f9d0de;
				}

			.header .news-express a.ler-mais {
				width: 41px;
				height: 60px;
				display: block;
				float: right;
				background: url('images/layout/ler-mais.png') center top no-repeat;
				text-indent: -5000px;
			}

		.header .pub300 {
			width: 300px;
			height: 250px;
			float: left;
			margin: 22px 0 0 67px
		}

		.header .latest {
			float: right;
			margin: 55px 62px 0;
		}

			.header .latest a {
				float: left;
				text-align: center;

			}

			.header .latest a.latest-episode span {
				width: 94px;
				height: 65px;
				display: block;
				background: url('images/layout/bandeira-download.png') no-repeat;
				font-family: "yanone_kaffeesatzregular";
				font-size: 38px;
				color: #ccc4d0;
				text-shadow: 0 -1px 0 #372d36;
				margin-left: 6px;
				padding-top: 21px;
				margin-bottom: -11px;
				position: relative;
				z-index: 10;
			}

			.header .latest a.latest-capitulo {
				margin-left: 5px;
			}

			.header .latest a.latest-capitulo span {
				width: 94px;
				height: 65px;
				display: block;
				background: url('images/layout/ler-online.png') no-repeat;
				font-family: "yanone_kaffeesatzregular";
				font-size: 38px;
				color: #ccc4d0;
				text-shadow: 0 -1px 0 #372d36;
				margin-left: 6px;
				padding-top: 21px;
				margin-bottom: -11px;
				position: relative;
				z-index: 10;
			}


	/* TOPNAV */

	.header .topnav {
		width: 880px;
		height: 55px;
		float: left;
		margin: 0 0 0 60px;
	}

		.topnav ul li.bandeira {
			float: left;
			width: 184px;
			text-align: center;
			cursor: pointer;
			margin-top:23px;
			position: relative;
			z-index: 100;
		}

		.topnav ul li.bandeira:hover {
			width: 184px;
			background: url('images/layout/topnav-bandeira-content.png') repeat-y;
			float: left;
		}

			.topnav ul li.bandeira:hover:before {
				width: 184px;
				height: 23px;
				float: left;
				content: '';
				background: url('images/layout/topnav-bandeira-top.png') center top no-repeat;
				margin-top: -23px;
			}

			.topnav ul li.bandeira:hover:after {
				width: 184px;
				height: 56px;
				float: left;
				content: '';
				background: url('images/layout/topnav-bandeira-bottom.png') center top no-repeat;
				margin-bottom: -56px;
			}

			.topnav ul li.bandeira span {
				margin-top: -10px;
				margin-bottom: 4px;
			}

			.topnav ul li span.multimidia, .topnav ul li span.informacoes, .topnav ul li span.principal {
				width: 184px;
				height: 31px;
				float: left;
				text-indent: -5000px;
			}

				.topnav ul li.bandeira:hover span.multimidia, .topnav ul li.bandeira:hover span.informacoes, .topnav ul li.bandeira:hover span.principal {
					background-position: 0 -31px;
				}

			.topnav ul li span.multimidia {
				background: url('images/layout/topnav-multimidia.png') center top no-repeat;
			}

			.topnav ul li span.informacoes {
				background: url('images/layout/topnav-informacoes.png') center top no-repeat;
			}

			.topnav ul li span.principal {
				background: url('images/layout/topnav-principal.png') center top no-repeat;
			}

			.topnav ul li.bandeira a {
				font-family: "yanone_kaffeesatzregular";
				font-size: 18px;
				color: #cccfd8;
				text-shadow: 0px -1px 0 #513245;
				text-decoration: none;
			}

				.topnav ul li.bandeira a:hover {
					text-decoration: underline;
				}
			
			.topnav ul li ul {
				display: none;
			}

			.topnav ul li.bandeira.principal:hover ul, .topnav ul li.bandeira.multimidia:hover ul, .topnav ul li.bandeira.informacoes:hover ul {
				display: block;
			}

			.topnav ul li.rpg {
				width: 110px;
				text-align: center;
				float: left;
				margin-top: 14px;
			}

			.topnav ul {
				margin-left: 100px;
			}

			.topnav ul li ul {
				margin: 0;
			}

	/* PUB 728 */

	.header .pub728 {
		width: 728px;
		height: 90px;
		margin: 44px 0 0 138px;
		float: left;
	}

/* CONTENT */

.content-aligner {
	width: 1003px;
	margin: 0 auto;
}

	.content-aligner .content {
		width: 1003px;
		float: left;
		background: url('images/layout/content-top.jpg') center top no-repeat,
					url('images/layout/content-bg.jpg') 0 171px repeat-y;
		min-height: 400px;
	}


	/* SIDEBAR */

	.content .sidebar {
		width: 388px;
		float: left;
		margin-top: 18px;
	}

		/* SOCIAL MEDIA */

		.sidebar .social-media {
			width: 214px;
			height: 66px;
			float: left;
			background: url('images/layout/social/social-media-barra.png') center top no-repeat;
			padding: 3px 0 0 0;
			position: relative;
			z-index: 10;
		}

			.social-media a.facebook, .social-media a.email, .social-media a.twitter, .social-media a.gplus, .social-media a.rpg {
				width: 39px;
				height: 65px;
				float: left;
				text-indent: -5000px;
				margin-right: -1px;
			}

				.social-media a.facebook {
					background: url('images/layout/social/social-facebook.png') no-repeat;
				}	

				.social-media a.gplus {
					background: url('images/layout/social/social-gplus.png') no-repeat;
				}	

				.social-media a.email {
					background: url('images/layout/social/social-email.png') no-repeat;
				}	

				.social-media a.twitter {
					background: url('images/layout/social/social-twitter.png') no-repeat;
					margin-left: 12px;
				}	

				.social-media a.rpg {
					background: url('images/layout/social/social-rpg.png') no-repeat;
				}				


		/* FACEBOOK BOX */

		.sidebar .facebook-box {
			width: 180px;
			height: 82px;
			float: left;
			background: url('images/layout/facebook-box.png') no-repeat;
			margin: 2px 0 0 -14px;
			padding: 0 0 0 6px;
		}

		/* PUB SIDEBAR */

		.sidebar .pub300sidebar {
			width: 300px;
			height: 600px;
			background: #988e87;
			-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			float: left;
			margin-left: 58px;
		}

		.sidebar .discord {
			width: 300px;
			height: 450px;
			background: #988e87;
			-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			float: left;
			margin-left: 58px;
			margin-top: 10px;
		}

		.sidebar .ban3x2sidebar {
			width: 300px;
			height: 250px;
			background: #988e87;
			-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			float: left;
			margin-left: 58px;
			margin-top:10px;
		}
	
	
	/* MAHOU BOX */

	#top-players-mahou {
		display: block;
	}

	#top-guildas-mahou {
		display: none;
	}

	#player-2, #player-3, #player-4, #player-5, #guilda-2, #guilda-3, #guilda-4, #guilda-5 {
		display: none;
	}

	.content .mahou-box {
		width: 636px;
		height: 161px;
		float: left;
		background: url('images/layout/mahou/mahou-box-bg.png') no-repeat;
		margin: -14px 0 0 -21px;
		position: relative;
	}

		.content .mahou-box .logo-mahou {
			position: absolute;
			left: 0;
			top: 0;
		}

		.mahou-box .mahou-top-content {
			float: left;
			margin: 70px 0 0 107px;
			width: 349px;

		}

			.mahou-box .mahou-top-content .nivel {
				font-size: 18px;
				color: #cccfbe;
				text-shadow: -1px 1px 0 #39393a;
				font-family: "yanone_kaffeesatzregular";
				float: left;
				display: block;
				font-weight: bold;
				width: 51px;
				margin: 37px 0 0 3px;
				text-align: center;
				display: block;
			}

			.mahou-box .mahou-top-content .avatar {
				width: 36px;
				height: 38px;
				float: left;
				display: block;
				margin: 15px 0 0 16px;
			}


				.mahou-box .mahou-top-content .avatar img {
					width: 40px;
				}
			.mahou-box .mahou-top-content .guilda {
				font-size: 15px;
				color: #36393c;
				text-shadow: -1px 1px 0 #b7bcbf;
				font-family: "yanone_kaffeesatzregular";
				float: left;
				font-weight: bold;
				width: 210px;
				margin: 2px 0 0 33px;
			}

			.mahou-box .mahou-top-content .reputacao {
				font-size: 15px;
				color: #36393c;
				text-shadow: -1px 1px 0 #b7bcbf;
				font-family: "yanone_kaffeesatzregular";
				float: right;
				font-weight: bold;
			}

			.mahou-box .mahou-top-content .nome {
				font-size: 26px;
				color: #cccfbe;
				text-shadow: -1px 1px 0 #33373f;
				font-family: "yanone_kaffeesatzregular";
				float: left;
				display: block;
				font-weight: bold;
				width: 220px;
				margin: 15px 0 0 18px;
			}

			.mahou-box .mahou-pagination-nro {
				float: right;
				position: absolute;
				top: 24px;
				right: 23px;
			}

				.mahou-box .mahou-pagination-nro a:nth-of-type(1) {
					width: 33px;
					height: 53px;
					float: left;
					background: url('images/layout/mahou/mahou-pag-4.png') no-repeat;
					text-indent: -5000px;
				}

				.mahou-box .mahou-pagination-nro a:nth-of-type(2) {
					width: 37px;
					height: 59px;
					float: left;
					background: url('images/layout/mahou/mahou-pag-2.png') no-repeat;
					text-indent: -5000px;
				}

				.mahou-box .mahou-pagination-nro a:nth-of-type(3) {
					width: 37px;
					height: 66px;
					float: left;
					background: url('images/layout/mahou/mahou-pag-1.png') no-repeat;
					text-indent: -5000px;
				}

				.mahou-box .mahou-pagination-nro a:nth-of-type(4) {
					width: 37px;
					height: 59px;
					float: left;
					background: url('images/layout/mahou/mahou-pag-3.png') no-repeat;
					text-indent: -5000px;
				}

				.mahou-box .mahou-pagination-nro a:nth-of-type(5) {
					width: 33px;
					height: 53px;
					float: left;
					background: url('images/layout/mahou/mahou-pag-5.png') no-repeat;
					text-indent: -5000px;
				}

			.mahou-box .mahou-pagination-tipo {
				float: right;
				height: 43px;
				margin: 91px 26px 0px 0;
			}

				.mahou-box .mahou-pagination-tipo a {
					font-family: "yanone_kaffeesatzregular";
					color: #35393b;
					font-size: 15px;
					text-decoration: underline;
					text-shadow: -1px 1px 0 #b7bbbe;
					float: left;
					padding-top: 19px;
				}

					.mahou-box .mahou-pagination-tipo a.active {
						font-family: "yanone_kaffeesatzregular";
						color: #ccc6c2;
						font-family: 20px;
						text-decoration: none;
						text-shadow: 0 -1px 0 #2d3135;
						width: 78px;
						height: 24px;
						display: block;
						background: url('images/layout/mahou/mahou-seta.png') no-repeat;
						text-transform: uppercase;
						font-weight: bold;
						margin: 0 3px;
						padding-left: 15px;
					}

	/* CONTEUDO */

	.content .conteudo {
		width: 542px;
		float: left;
		background: url('images/layout/conteudo.png') repeat-y;
		margin: 83px 0 0;
		font-size: 14px;
		color: #3c3745;
		padding: 0 12px;
		position: relative;
	}

	.content .conteudo:before {
		width: 566px;
		height: 73px;
		float: left;
		background: url('images/layout/conteudo-top.png') center top no-repeat;
		content: '';
		margin: -73px 0 0 -12px;
	}

	.content .conteudo:after {
		width: 566px;
		height: 87px;
		background: url('images/layout/conteudo-bottom.png') center top no-repeat;
		float: left;
		content: '';
		margin: 0 0 -87px -12px;
	}

		.content .conteudo p {

		}

		/* BREADCRUMB*/

		.content .conteudo .breadcrumb {
			font-family: "yanone_kaffeesatzregular";
			font-size: 18px;
			color: #cccfd8;
			text-shadow: 0 -1px 0 #3c3745;
			margin: -48px 0 28px;
		}

			.conteudo .breadcrumb a {
				font-family: "yanone_kaffeesatzregular";
				font-size: 18px;
				color: #cccfd8;
				text-shadow: 0 -1px 0 #3c3745;
				font-weight: bold;
				text-decoration: none;
			}

/* FOOTER */

.footer-wraper {
	width: 100%;
	height: 392px;
	float: left;
	background: url('images/layout/footer.jpg') center top no-repeat;
}

	.footer-wraper .footer-aligner {
		width: 1003px;
		margin: 0 auto;
	}

	.footer-wraper .footer {
		width: 1003px;
		height: 392px;
		float: left;
		text-align: center;
	}

		/* BACK TO TOP */

		.footer .back-top {
			width: 132px;
			height: 76px;
			display: block;
			background: url('images/layout/voltar-topo.png') no-repeat;
			text-indent: -5000px;
			margin: 83px auto 0;
			position: relative;
			z-index: 10;
		}

		/* PUB 728 */

		.footer .pub728 {
			width: 728px;
			height: 90px;
			float: left;
			margin: -1px 0 0 137px;
		}


/* NEWS */

	.conteudo .news {
		float: left;
		background: url('images/layout/bottom-news.png') center bottom no-repeat;
		padding-bottom: 25px;
	}
	
	.conteudo .news img {
		max-width: 540px;
}

		.conteudo .news h2.titulo {
			font-size: 30px;
			font-weight: normal;
			color: #e7e1d6;
			padding: 0 7px;
		}

			.conteudo .news h2.titulo a {
				font-size: 30px;
				font-weight: normal;
				color: #e7e1d6;
			}

			.conteudo .news h2.titulo a:hover {
				text-decoration: underline;
			}

		.conteudo .news p {
			font-size: 15px;
			margin-bottom: 10px;
		}

		.conteudo .news p a {
			color: #e7e1d6;
		}

		.conteudo .news p.subtitulo {
			font-size: 15px;
			padding: 0 7px 7px;
			background: url('images/layout/news/news-subtitulo.png') bottom center no-repeat;
		}

			.conteudo .news p.subtitulo span, .conteudo .news p.subtitulo a {
				color: #e7e1d6;
			}

/* SINGLE */

.pub300single {
			width: 336px;
			height: 280px;
			background: #988e87;
			-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			float: left;
			margin: 10px 0 10px 103px;
		}


/* CONTAINER EPISODIOS */

.conteudo.page .release-container {
	margin-left: 100px;
}

.release-container{
    float: left;
    background: #dedede;
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
    padding: 10px;
    width: 406px;
	margin-bottom: 10px;
}

	.release-container p {
		width: auto !important;
		padding: 0 !important;
		margin-bottom: 0 !important;
		float: none !important;
	}

    .release-container .release-topo {
        float: left;
        width: 384px;
        height: 83px;
        background: url('images/release/container-topo.png') no-repeat;
        padding: 4px 10px 7px 12px;
    }

        .release-topo .screen {
            float: left;
            background: url('images/release/bg-screen.png') no-repeat;
            width: 191px;
            height: 88px;
        }
        
        .release-topo .infos-topo {
            float: left;
            margin: 4px 0 0 10px;
		width: 178px;
        }
            .infos-topo h1 {
                border-bottom: 1px solid #909090;
                text-align: center;
                font-size: 30px;
                color: #a92424;
                padding-bottom: 5px;
                margin-bottom: 5px;
            }
            .infos-topo p {
                text-align: center;
                font-size: 11px;
                color: #595959;
            }
    .release-container .release-formatos {
        float: left;
        background: url('images/release/bg-formatos.png') no-repeat;
        width: 284px;
        height: 32px;
        padding: 4px 8px 0 116px;
        text-align: right;
    }
	
		.release-formatos a {
			display: block;
			float: left;
			width: 66px;
			height: 32px;
			cursor: pointer;
			text-indent: 5000px;
			overflow: hidden;
			margin-right: 5px;
		}
		
			.release-formatos a.mkvhd {
				background: url('images/release/mkvhd.png') no-repeat;
			}
			.release-formatos a.mkvsd {
				background: url('images/release/mkvsd.png') no-repeat;
			}
			.release-formatos a.mp4mq {
				background: url('images/release/mp4mq.png') no-repeat;
			}
			.release-formatos a.mp4lq {
				background: url('images/release/mp4lq.png') no-repeat;
			}
			.release-formatos a.stream {
				background: url('images/release/stream.png') no-repeat;
				margin: 0;
			}
			
			.release-formatos a:hover {
				background-position: 0 -32px;
			}

			.release-formatos img {
			cursor: pointer;
		}

	.release-container .release-conteudo {
		float: left;
		width: 388px;
		background: url('images/release/bg-conteudo.png') no-repeat;
		height: 306px;
		padding: 8px 9px 4px 9px;
	}
		.release-conteudo .conteudo-infos {
			float: left;
			width: 367px;
			height: 78px;
			color: #fff;
			font-size: 12px;
			padding: 3px 10px;
			margin-bottom: 10px;
		}
		
			.conteudo-infos ul {
				float: left;
				margin-top: 10px;
			}
			.conteudo-infos ul.first {
				margin-right: 40px;
			}
		
		.conteudo-infos.mkvhd {
			background: url("images/release/mkvhd_back.gif") no-repeat;
		}
		.conteudo-infos.mkvsd {
			background: url("images/release/mkvsd_back.gif") no-repeat;
		}
		.conteudo-infos.mp4mq {
			background: url("images/release/mp4mq_back.gif") no-repeat;
		}
		.conteudo-infos.mp4lq {
			background: url("images/release/mp4lq_back.gif") no-repeat;
		}
		
		.release-conteudo .release-links {
			float: left;
			width: 218px;
		}

			.release-links a {
				float: left;
			}

			.release-links .back-form {
				background: url("images/release/down_but.gif") bottom no-repeat #E6E6E6;
				color: #000000;
				font-size: 9px;
				text-align: center;
				width: 217px;
				padding-bottom: 6px;
				margin-bottom: 6px;
				float: left;
			}
		.release-conteudo .release-mirrors {
			background: url("images/release/mirrors.gif") no-repeat;
			width: 151px;
			height: 120px;
			float: left;
			margin-left: 6px;
			padding: 55px 4px 8px 8px;
		}
			.release-mirrors ul {
				float: left;
				font-size: 11px;
			}
			
			.release-mirrors ul li {
				margin-bottom: 4px;
				float: left;
			}
			
				.release-mirrors ul li img {
					margin-right: 5px;
					float: left;
				}
			
				.release-mirrors ul li a {
				    color: #464646 !important;
					float: left;
				}				
					.release-mirrors ul li a:hover {
						text-decoration: overline;
						color: #000;
					}

			.texto-pub {
				background-color: #E6E6E6;
    				border-radius: 5px 5px 5px 5px;
   				 margin: 6px 0 15px 45px;
   				 padding: 7px 16px;
   				 text-shadow: 1px 1px 0 #FFFFFF;
				color: #922700;
			}

			.pub300release {
				margin-left: 44px;
				margin-top: 10px;
				float: left;
			}

			.link-previas {
				float: left;
				margin: 5px 0 4px 54px;
			}

			.link-previas a {
				display: block;
				float: left;
				padding: 7px 3px;
				background: #c9c9c9;
				margin-right: 9px;
				padding: 7px 15px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
			}

				.link-previas a:hover {
					background: #c2c2c2;
				}

	.news .release-container {
		margin-left: 60px;
	}

/* RELEASE MANGAS */

.release-mangas {
	width: 530px;
	height: 520px;
	margin-left: 7px;
}

	.release-mangas .release-mangas-pub {
			width: 336px;
			height: 280px;
			background: #988e87;
			-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
			float: left;
			margin: 170px 0 10px 95px;
	}

	.release-mangas p {
		clear: both;
	    float: left;
	    font-size: 20px;
	    text-align: center;
	    width: 100%;
	}

	.release-mangas .release-links {
		clear: both; 
		margin: 6px 0px 0px 60px; 
		float: left;
	}

	.release-mangas .release-links a {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: #fff;
		color: #b20d34;
		padding: 5px 10px;
		margin: 0 6px 0 0;

	}

		.release-mangas .release-links a:hover {
			background: #b20d34;
			color: #fff;
		}

/* MANGAS */

.wraper-mangas {
	margin-bottom: 30px !important;
}

.wraper-mangas {
	float: left;
	width: 542px;
	margin-bottom: 10px;
}

	.wraper-mangas .mangas-topo {
		background: url('images/mangas/mangas-topo.png') no-repeat;
		float: left;
		width: 542px;
		height: 111px;
	}
	
		.mangas-topo .botoes-mangas {
			float: left;
			width: 360px;
			height: 28px;
			padding: 5px 0 0 13px;
		}
			.botoes-mangas a {
				float: left;
				width: 25px;
				height: 26px;
				display: block;
				text-indent: -5000px;
				overflow: hidden;
			}
				.botoes-mangas a.max {
					background: url('images/mangas/ico-max.png') no-repeat;			
				}
				.botoes-mangas a.min {
					background: url('images/mangas/ico-min.png') no-repeat;	
				}
				.botoes-mangas a.info {
					background: url('images/mangas/ico-info.png') no-repeat;	
				}
					.botoes-mangas a.max:hover, .botoes-mangas a.min:hover, .botoes-mangas a.info:hover {
						background-position: 0 -26px;
					}
		
			.botoes-mangas span {
				float: left;
				cursor: pointer;
			}
		
		.mangas-topo .dados-mangas {
			width: 353px;
			height: 73px;
			float: left;
			padding: 5px 0 0 20px;
		}
		
			.dados-mangas .volume-infos {
				float: left;
			}
				.volume-infos h1 {
					color: #CACACA;
					font-size: 38px;
					letter-spacing: -3px;
					font-weight: normal;
				}
				
				.volume-infos h1 span {
					color: #878787;
					font-weight: bold;
				}
				
				.volume-infos h2 {
					color: #878787;
					font-size: 13px;
					font-weight: bold;
				}
			.volume-infos-2 {
				float: left;
				color: #878787;
				font-size: 13px;
				padding-top: 8px;
			}
				.volume-infos-2 p {
					width: 340px !important;
					margin: 0 !important;
					padding: 0 !important;
				}
				
		.mangas-topo .screen-mangas {
			width: 169px;
			height: 111px;
			float: right;
		}
		
	.wraper-mangas .mangas-conteudo {
		float: left;
		width: 542px;
	}
	
		.mangas-conteudo ul {
			float: left;
			font-size: 12px;
			color: #5B5B5B;
		}

			.mangas-conteudo ul li {
				background: url('images/mangas/bg-li.png') no-repeat;
				width: 531px;
				height: 23px;
				float: left;
				padding: 6px 0 0 11px;
			}
			
				.mangas-conteudo ul li p {
					padding: 0 5px 0 0 !important;
					width: 526px !important;
				}
				
			
				.mangas-conteudo ul li span.number {
					font-weight: bold;
					float: left;
					width: 27px;
					text-align: center;
					margin-right: 7px;
					
				}
				.mangas-conteudo ul li span.download {
					float: right;
					background: url('images/mangas/download.png') no-repeat;
					width: 120px;
					height: 19px;
					margin-top: -2px;
					padding: 2px 0 0 5px;
				}
					.mangas-conteudo ul li span.download img {
						float: left;
						margin-right: 4px;
					}
				
					.mangas-conteudo ul li span.download a {
						color: #878787;
						float: left;
						margin-right: 10px;
						text-decoration: underline;
					}
						.mangas-conteudo ul li span.download a:hover {
							text-decoration: none;
							color: #CB1414;
						}
				.mangas-conteudo ul li span.download-clock {
					float: right;
					background: url('images/mangas/download-clock.png') no-repeat;
					width: 40px;
					height: 18px;
					margin-top: -2px;
					padding: 3px 0 0 25px;
					color: #878787;
				}
			
			.mangas-conteudo ul.first li {
				background: url('images/mangas/bg-li-first.png') no-repeat;
				padding: 6px 0 0 45px;
				width: 497px;
				cursor: pointer;
			}
	
	.wraper-mangas .mangas-footer {
		background: url('images/mangas/mangas-footer.png') no-repeat;
		float: left;
		width: 542px;
		height: 43px;
		text-align: center;
		padding-top: 30px;
	}

/* RELEASE EPISODIOS NOVO */

.release-episodios-novo {
	width: 524px;
	height: 274px;
	float: left;
	background: url('images/release-novo/release-bg.jpg') no-repeat;
	margin-left: 10px
}

	.container-episodios .epi-hd {
		display: none;
	}

	.container-episodios .epi-sd {
		display: none;
	}

	.container-episodios .epi-mq {
		display: none;
	}

	.container-episodios .epi-lq {
		display: none;
	}

	.container-episodios .publancamento {
		width: 300px !important;
		height: 250px;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
		float: left;
		margin: 12px 0 0 20px !important;
	}

	.release-episodios-novo .episodio-info {
		width: 186px;
		float: left;
		text-align: center;
		margin: 12px 0 0 7px;
	}

		.release-episodios-novo .episodio-info p.num-epi {
			font-size: 30px;
			color: #b20d34;
			text-shadow: 1px 1px 0 #fff;
			margin: 0 0 5px 0;
		}

		.release-episodios-novo .episodio-info p.titulo {
			font-size: 16px;
			color: #828282;
			text-shadow: 1px 1px 0 #fff;
			margin: 11px 0 0 0;
		}

		.release-episodios-novo .episodio-info .botoes {
			float: left;
			margin: 37px 0 0 4px;
		}

		.release-episodios-novo .episodio-info .but-formatos {
			width: 87px;
			height: 22px;
			float: left;
			text-indent: -5000px;
			margin-bottom: 4px;
		}

			.release-episodios-novo .episodio-info .but-formatos:hover {
				background-position: 0 -22px;
			}			

			.release-episodios-novo .episodio-info .but-hd {
				background: url('images/release-novo/hd-but.png') center top no-repeat;
				margin-right: 4px;
			}	

			.release-episodios-novo .episodio-info .but-sd {
				background: url('images/release-novo/sd-but.png') center top no-repeat;
			}			

			.release-episodios-novo .episodio-info .but-mq {
				background: url('images/release-novo/mq-but.png') center top no-repeat;
				margin-right: 4px;
			}			

			.release-episodios-novo .episodio-info .but-lq {
				background: url('images/release-novo/lq-but.png') center top no-repeat;
			}					

			.release-episodios-novo .episodio-info .but-stream {
				width: 178px !important;
				background: url('images/release-novo/stream-but.png') center top no-repeat;
			}	

			.release-episodios-novo .episodio-info .but-fileproject {
				background: url('images/release-novo/fileproject-previa.png') center top no-repeat;
				margin-right: 4px;
			}			

			.release-episodios-novo .episodio-info .but-mega {
				background: url('images/release-novo/mega-previa.png') center top no-repeat;
			}	

	.release-episodios-novo .episodio-content {
		float: left;
		width: 320px;
		margin: 26px 0 0px 10px;
	}

		.release-episodios-novo .episodio-content p.stars {
			font-family: "Arial";
			font-size: 11px;
			margin-bottom: 3px;
		}

			.release-episodios-novo .episodio-content.epi-mq p.stars {
				color: #3c9e5a;
			}

			.release-episodios-novo .episodio-content.epi-sd p.stars {
				color: #c4561c;
			}

			.release-episodios-novo .episodio-content.epi-hd p.stars {
				color: #910000;
			}

			.release-episodios-novo .episodio-content.epi-lq p.stars {
				color: #173f5c;
			}

		.release-episodios-novo .episodio-content .format-info {
			width: 292px;
			height: 55px;
			float: left;
			margin-bottom: 10px;
			padding: 10px 0 0 20px;
		}

			.release-episodios-novo .episodio-content .format-info ul li {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 11px;
				color: #fff;
				width: 50%;
				float: left;
			}

			.release-episodios-novo .episodio-content .format-info strong {
				font-family: Arial, Helvetica, sans-serif;
			}

			.release-episodios-novo .epi-hd .format-info {
				background: url('images/release-novo/hdbg.png') no-repeat;
			}

			.release-episodios-novo .epi-sd .format-info {
				background: url('images/release-novo/sdbg.png') no-repeat;
			}

			.release-episodios-novo .epi-mq .format-info {
				background: url('images/release-novo/mqbg.png') no-repeat;
			}

			.release-episodios-novo .epi-lq .format-info {
				background: url('images/release-novo/lqbg.png') no-repeat;
			}

		.release-episodios-novo .episodio-content .links-principais {
			width: 142px;
			height: 122px;
			background: url('images/release-novo/links.png') no-repeat;
			float: left;
			text-align: center;
			padding-top: 21px;
			padding-left: 5px;
		}

			.release-episodios-novo .episodio-content .links-principais .fileproject {
				float: left;
				
			}

			.release-episodios-novo .episodio-content .links-principais .stream {
				float: left;
				margin-top: 15px;

			}

		.release-episodios-novo .episodio-content .mirror-link {
			width: 152px;
			height: 88px;
			background: url('images/release-novo/mirrors.png') no-repeat;
			float: left;
			margin-left: 7px;
			padding: 55px 0 0 7px;
		}

			.release-episodios-novo .episodio-content .mirror-link ul {
				float: left;
				font-size: 11px;
			}
			
			.release-episodios-novo .episodio-content .mirror-link ul li {
				margin-bottom: 0px;
				float: left;
			}
			
				.release-episodios-novo .episodio-content .mirror-link ul li img {
					margin-right: 5px;
					float: left;
				}
			
				.release-episodios-novo .episodio-content .mirror-link ul li a {
				    color: #464646 !important;
					float: left;
					font-family: Arial, Helvetica, sans-serif;
				}				
					.release-episodios-novo .episodio-content .mirror-link ul li a:hover {
						text-decoration: overline;
						color: #000;
						font-family: Arial, Helvetica, sans-serif;
					}

					.release-episodios-novo .episodio-content .mirror-link strong {
						font-family: Arial, Helvetica, sans-serif;
					}

/* NEWS EXPRESS */

.img-thumb {
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
margin-right: 10px;
}

.c_temp-top {width:512px; height:auto; padding:0 6px; margin-left: 8px; background:url('images/epis-temp/c_temp-top.png');}
	.c_titulo { width:512px; height:49px;}
	.c_titulo p {font-size: 30px; color: #b20d34; text-shadow: 1px 1px 0 #fff; margin: 5px 0 0 5px; float:left;}
	.c_titbox {width:120px; padding:5px; float:right; text-align:center; margin:10px;}
	.c_infos {width:512px; height:80px;}
	.formato-info {width: 292px; height: 55px; float: right; margin-right:5px; margin-bottom: 10px; padding: 10px 0 0 20px; background: url('images/epis-temp/info_bg.png') no-repeat;}
		.formato-info ul {padding:0; margin:3px 0 0 0;}
		.formato-info ul li {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #fff; width: 50%; float: left; margin-bottom:2px;}
		.formato-info strong {font-family: Arial, Helvetica, sans-serif;}
	.c_disp {width:512px; height:65px;}
		.c_disp img {width:252px; height:56px;}
			
.c_temp-cnt {width:512px; height:auto; padding:6px; background-image:url('images/epis-temp/c_temp-cnt.png'); background-repeat:repeat-y;   margin-left: 8px; }
	.c_down {width:494px; height:84px; padding:6px; margin: 3px; background-image:url('images/epis-temp/c_down-bg.png'); background-repeat:no-repeat;}
	.c_down ul {width:115px; height:60px; float:left; padding:0; margin:0 0 0 5px;}
	.c_down ul li { color:#988869;}
	.c_down ul li a { color:#3c3b3b; text-decoration:none;}
	.c_down ul li a:hover { color:#900;}
	.down-tit {width:406px; height:22px; float:left; font-size: 18px; color: #b20d34; text-shadow: 1px 1px 0 #fff; font-weight:bold;}
	.down-stream {float:right; margin-right: 10px; color: #b20d34;}
	
	.c_ads {width:506px; height:280px; margin: 3px; }
		.c_ads1 {width:336px; height:280px; float:left; margin-left:5px;}
		.c_ads2 {width:151px; height:280px; float:right; margin-right:5px;}
		
.c_temp-bot {width:512px; height:21px; padding:0 6px; background-image:url('images/epis-temp/c_temp-bot.png');   margin-left: 8px; }