﻿
#udg_menu_principal {
	width:100%;
	height:29px;
	margin:0px;
	padding:0px;
	font-size:11px;
	background: #CCC url(http://www.udg.mx/menu/imagenes/udg-menu-bg.jpg) repeat-x 0 0;
	border-bottom:solid 1px #A3A3A3;
}
#udg_menu_principal ul {
	float:right;
	margin:0;
	padding:0;
	/*position:relative;
	right:105px;*/
}

#udg_menu_principal li {
	background:transparent url(http://www.udg.mx/menu/imagenes/udg-menu-flecha.png) no-repeat scroll right 6px;
	list-style-image:none;
	list-style:none;
	float:left;
}

#udg_menu_principal li span a, #udg_menu_principal li span{
	color:#565656;
	text-decoration:none;
	display:block;
	height:30px;
	line-height:30px;
	padding:0 30px 0 10px;
	cursor: pointer;
	}
#udg_menu_principal li span:hover{
	color: #000;
}

#udg_menu_principal li ul {
	position:absolute;
	background: #fff;
	display:none;
	float:none;
	z-index:999;
	border: solid 1px #A3A3A3;
	border-top:none;
	line-height:1.5em;
	padding:10px;
}
#udg_menu_principal li ul li {
	background:none;
	float:none;
}

#udg_menu_principal li ul li a{
	display:block;
	color: #069;
}


#udg_menu_principal #udg-menu-logo{
	background:none;
	padding:9px 0 0 9px;
}

#udg_menu_principal #udg_menu_principal_contenedor {
	margin:0 auto;
}
#udg_menu_principal li.udg_menu_titulo {
	font-size:.85em;
	padding-top:.5em;
	}

#logo-image {
	border: 0;
}
