body.soltana-mall ::-moz-selection { background: #843288; color:white;} 
body.soltana-mall .top_menu {
    background: #7b2781 none repeat scroll 0 0;
    border-top: 2px solid #7b2781;
    height: 48px;
}
body.soltana-mall .headerSingup {
    background: #f6d448 none repeat scroll 0 0;
    border-radius: 5px;
}
body.soltana-mall .user {
    background: #f6d448;
    border-radius: 5px;
}
body.soltana-mall #my_account.user {
    background: rgba(0, 0, 0, 0) url("img/mall/user.png") no-repeat scroll 82px 11px / 17px auto;
    border-radius: 5px;
    color: #7b2781;
    overflow: hidden;
}
body.soltana-mall .myaccount {
    color: #7b2781;
}
body.soltana-mall .secondMenu {
    background: #843288 none repeat scroll 0 0;
    left: 0;
    width: 100%;
}
body.soltana-mall .categoriesMenu{
	display: none;
}
body.soltana-mall .mainMenu {
    background: transparent none repeat scroll 0 0;
    border-top: 1px solid #7b2781;
    left: 0;
    right: 0;
}/*
body.soltana-mall header.small .mainMenu {
    left: 0;
    position: fixed;
    right: 0;
    top: 80px;
}*/
body.soltana-mall nav {
    background: #843288 none repeat scroll 0 0;
    border: medium none;
}
body.soltana-mall .main-menu > ul > li > a {
    color: white;
}
body.soltana-mall .middleMenu {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    padding: 15px 0;
}
body.soltana-mall .pub730x90 {
    display: none;
}
body.soltana-mall .middleMenu > a.middleLogo {
    background: rgba(0, 0, 0, 0) url("img/mall/logoMall.png") no-repeat scroll center center / 100% auto;
    top: 5px;
    width: 130px;
}
body.soltana-mall .main-menu > ul > li:first-child a {
    background: rgba(0, 0, 0, 0) url("img/mall/home.png") no-repeat scroll center center / 28px auto;
    font-size: 0;
    height: 37px;
    top: 2px;
    width: 30px;
}
body.soltana-mall .main-menu > ul > li > a::before {
    background: #f6d448 none repeat scroll 0 0;
}
body.soltana-mall .contenu.home section::before {
	content:none;
}
body.soltana-mall .contenu.home section{
	padding:10px;
}
section.mallSearch {
    height: 408px;
}

body.soltana-mall #my_account_submenu {
    background-color: #f6d448;
    margin-top: -4px;
}
body.soltana-mall #my_account_submenu a:hover {
    background: #f6d448 none repeat scroll 0 0;
}
body.soltana-mall span.title.black {
    color: #212121;
}
body.soltana-mall section > .container > span.title {
    border-bottom: 1px dashed #d7d7d7;
    margin-bottom: 40px;
    padding-bottom: 25px;
    padding-top: 40px;
}
body.soltana-mall span.title {
    display: table;
    font-size: 35px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    text-align: center;
    width: auto;
}
body.soltana-mall .sidebar {
    width: 300px;
    margin-bottom: 15px;
    margin-top: 5px;
}
body.soltana-mall footer {
    border-top: 3px solid #87368a;
}
body.soltana-mall .scrolltop{
	background-color: #87368a;
}
body.soltana-mall .newsletter_btn {
    background: #87368a none repeat scroll 0 0;
}
body.soltana-mall .footer_share li a:hover {
    border: 3px solid #87368a;
    color: #87368a;
}
.mallSearchHodor > p {
    color: #1a1a1a;
    font-family: jff;
    font-size: 45px;
    line-height: 1.4em;
    text-align: center;
}
.mallSearchHodor > p span {
    background: rgba(0, 0, 0, 0) url("img/mall/soltanaMall.png") no-repeat scroll center center;
    float: left;
    font-family: dast;
    font-size: 0;
    height: 70px;
    left: 17px;
    position: relative;
    top: -7px;
    width: 265px;
}
section.mallSearch .container::before {
    background: rgba(0, 0, 0, 0) url("img/mall/women1.png") repeat scroll 0 0;
    content: "";
}
.mallSearchHodor {
    float: right;
    margin-right: 160px;
    width: 380px;
}
section.mallSearch .container::before {
    background: rgba(0, 0, 0, 0) url("img/mall/women1.png") repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 408px;
    left: 35px;
    position: absolute;
    width: 408px;
}
section.mallSearch .container {
    height: 408px;
}
.mallSearchSelectors {
    display: block;
    margin: 20px auto 0;
    position: relative;
    width: 290px;
}
.mallSearchSelectors > a:nth-child(2n+2) {
    margin-left: 0;
}
.mallSearchSelectors > a {
    background: white none no-repeat scroll 103px 7px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    color: #1a1a1a;
    float: right;
    font-family: jff;
    font-size: 15px;
    height: 34px;
    line-height: 2.2em;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
    text-indent: 40px;
    width: 135px;
}
.mallSearchSelectors > a::before {
    background: rgba(0, 0, 0, 0) url("img/mall/mallbtn.png") repeat scroll center center;
    content: "";
    height: 5px;
    left: 10px;
    position: absolute;
    top: 15px;
    width: 5px;
}
.mallSearchSelectors > a:hover::before {
    background: rgba(0, 0, 0, 0) url("img/mall/mallbtnH.png") repeat scroll center center;
}
.mallSearchSelectors > a:hover {
    background-color: #822e87;
    color: #f9de2c;
}
.mallSearchSelectors > a.with-icon:nth-child(1) {    background-image: url("img/mall/outour.png"); background-size: 19px auto;}
.mallSearchSelectors > a.with-icon:nth-child(2) {    background-image: url("img/mall/mojawharat.png");    background-position: 106px center;
    background-size: 23px auto;}
.mallSearchSelectors > a.with-icon:nth-child(3) {    background-image: url("img/mall/makiage.png");      background-position: 110px center;
    background-size: 8px auto;}
.mallSearchSelectors > a.with-icon:nth-child(4) {    background-image: url("img/mall/nadarat.png");    background-position: 104px center;
    background-size: 24px auto;}
.mallSearchSelectors > a.with-icon:nth-child(5) {    background-image: url("img/mall/qftan.png");    background-position: 107px center;
    background-size: 14px auto;}
.mallSearchSelectors > a.with-icon:nth-child(6) {    background-image: url("img/mall/sanadel.png");   background-position: 108px center;
    background-size: 17px auto;}
.mallSearchSelectors > a.with-icon:nth-child(1):hover {    background-image: url("img/mall/outourH.png");} 
.mallSearchSelectors > a.with-icon:nth-child(2):hover {    background-image: url("img/mall/mojawharatH.png");}
.mallSearchSelectors > a.with-icon:nth-child(3):hover {    background-image: url("img/mall/makiageH.png");}
.mallSearchSelectors > a.with-icon:nth-child(4):hover {    background-image: url("img/mall/nadaratH.png");}
.mallSearchSelectors > a.with-icon:nth-child(5):hover {    background-image: url("img/mall/qftanH.png");}
.mallSearchSelectors > a.with-icon:nth-child(6):hover {    background-image: url("img/mall/sanadelH.png");}
/*****SIngle Mall*****/
.single-mall{
	background-color: #ffffff;
}
.detailPost {
	background: #f7f7f7;
	border : 1px solid #dbdbdb;
	position: relative;
	display: block;
	width: 695px;
	float: right;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.fildariane{
	padding-bottom: 15px;
}
.fildariane li a{
	font-family: jff;
	font-size: 12px;
	font-weight: normal;
	color: #9c9c9c;
}
.fildariane li {
    color: black;
    display: inline-block;
    font-family: jff;
    font-size: 15px;
    padding: 0 3px;
    position: relative;
}
.fildariane li:last-child:after{
	content: "";
}
.detailPost h1{
	font-family: jff;
	font-size: 30px;
	color: #212121;
	padding-bottom: 30px;
}
.contentDetailPost {
    display: block;
    float: right;
    position: relative;
}
.imagePostDetail{
	width: 270px;
	height: 360px;
	background: #ffffff;
	border:1px solid #dbdbdb;
	float: right;
	position: relative;
    overflow: hidden;
}
.reductionProduit {
    background: #7dccf1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    display: none;
    font-family: omnes;
    font-size: 13px;
    height: 30px;
    padding-top: 15px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 45px;
}
.has_promo .reductionProduit {
    display: block;
}
.reductionProduit::before {
    content: "%";
    margin-right: -11px;
    position: absolute;
}
.reductionProduit::after {
    content: "-";
    margin-right: 3px;
    position: absolute;
}
.descriptionPostDetail {
	display: block;
    float: right;
    padding-right: 10px;
    position: relative;
    width: 380px;
}
.imagePostDetail img{
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    /* top: 20%; */
}
.descriptionPostDetail .titlePost {
    border-bottom: 1px solid #e6e6e6;
    color: #606060;
    display: block;
    font-family: jff;
    font-size: 15px;
    line-height: 1.4em;
    padding-bottom: 15px;
}
.descriptionPostDetail .infoDetail {
	border-bottom: 1px solid #e6e6e6;
    display: block;
    padding-bottom: 25px;
    padding-top: 20px;
    position: relative;
}
.descriptionPostDetail .infoDetail li {
    padding-bottom: 12px;
}
.descriptionPostDetail .infoDetail li span{
	font-family: jff;
	font-size: 15px;
	color: #252525;
	padding-right: 5px;
}
.descriptionPostDetail .infoDetail li span:first-child{
	display: block;
    float: right;
    position: relative;
    width: 185px;
}
.descriptionPostDetail .infoDetail li span:first-child:after{
	content: ":";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.mostLiked .solSlider{
    left: -3px;
}
.prixPost{
    color: #853289;
    display: block;
    float: right;
    font-family: omnes;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 35px;
    padding-right: 15px;
    padding-top: 35px;
}
.prixPost span{
	float: right;
    font-size: 20px;
    font-weight: normal;
    margin-left: 3px;
    margin-top: 3px;
}
.likePost .btnLikePost{
	background: #d4d4d4 url("img/mall/likePosthover.png") no-repeat scroll 75px center;
    border: none;
    height: 34px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-family: jff;
    font-size: 14px;
    left: auto;
    padding: 10px;
    position: relative;
    text-align: left;
    top: auto;
    transition: all 0.2s ease 0s;
    box-sizing: border-box;
    width: 100px;
}
.likePost .btnLikePost.active,
.likePost .btnLikePost:hover{
	background: #812d87 url("img/mall/likePost.png") no-repeat scroll 75px center;
	transition: all 0.2s ease 0s;
    border : none;
}
.descriptionPostDetail .likePost {
    border-top: 1px solid #e6e6e6;
}
.likePost {
    display: block;
    padding-top: 15px;
    position: relative;
    float: right;
}
.likePost .iconGooglePlus{
	background: #d4d4d4 url("img/mall/icon_googleplus.png") no-repeat center center;
}
.likePost .iconTw{
	background: #d4d4d4 url("img/mall/icon_tw.png") no-repeat center center;
}
.likePost .iconFb{
	background: #d4d4d4 url("img/mall/icon_fb.png") no-repeat center center;
}
.likePost a > span{
	border-radius: 5px;
    color: #ffffff;
    float: right;
    font-family: jff;
    font-size: 0;
    height: 34px;
    margin-right: 5px;
    width: 85px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
.likePost .iconGooglePlus:hover{
    background-color: #a71515;
    transition: all 0.2s ease 0s;
}
.likePost .iconTw:hover{
    background-color: #00aced;
    transition: all 0.2s ease 0s;
}
.likePost .iconFb:hover{
    background-color: #3b5998;
    transition: all 0.2s ease 0s;
}
.otherPost{
	display: block;
    float: left;
    height: 513px;
    padding: 10px 16px;
    position: relative;
    width: 276px;
    margin-bottom: 30px;
    margin-top: 45px;
}
.mallSingle .p300x250 {
    margin-top: 30px;
}
.descriptionPost .solde {
    position: absolute;
    right: -95px;
    top: 5px;
}
.otherPost ul li {
    display: block;
    float: right !important;
    position: relative;
    padding: 10px 0;
    height: 150px;
}
.otherPost ul li .imgPost {
    display: block;
    float: right;
    height: 150px;
    position: relative;
    width: 100px;
    overflow: hidden;
}
.otherPost ul li .imgPost img {
	display: block;
    float: right;
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
}
.otherPost ul li .descriptionPost{
   	display: block;
    float: left;
    padding-right: 5px;
    position: relative;
    width: 125px;
}

.descriptionPost .smallTitle {
    color: #3f3f3f;
    display: block;
    font-family: jff;
    font-size: 14px;
    height: auto;
    line-height: 1.4em;
    overflow: hidden;
    padding-bottom: 5px;
} 
.prx {
    color: #010101;
    display: block;
    font-family: omnes;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    position: relative;
    width: -moz-max-content;
    width: max-content;
}
.prx span{
	font-size: 17px;
	font-weight: normal;
}
.otherPost .readPost{
    display: none;
}
.readPost {
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    color: #d1d1d1;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 22px;
    height: 22px;
    margin-top: 5px;
    text-align: center;
    width: 22px;
}
.otherPost li + li{
	border-top: 1px solid #ebebeb;
}
.otherPost ul li:first-child{
	padding-top: 0px;
}
.otherPost ul li:last-child{
	padding-bottom: 0px;
}
.navTop{
	background: #ffffff url("img/mall/fleshOtherPost.png") no-repeat scroll center 15px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	width: 75px;
	height: 40px;
	display: block;
	position: absolute;
	top: -35px;
	left: 0;
	right: 46px;
	margin: 0 auto;
	box-shadow: 1px -1px 2px -2px;
	cursor: pointer;
}
.navBottom{
	background: #ffffff url("img/mall/fleshOtherPost.png") no-repeat scroll center -17px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	width: 75px;
	height: 40px;
	display: block;
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 46px;
	margin: 0 auto;
	box-shadow: 1px -1px 2px -2px;
	cursor: pointer;
}
.otherPost > ul {
    height: 483px;
    overflow: hidden;
}
.prixPost::before {
    content: "Dh";
    float: right;
    font-size: 18px;
    font-weight: 100;
    margin-left: 5px;
    position: relative;
    top: 6px;
}
.oldPrixPost {
    color: #000000;
    display: none;
    float: right;
    font-family: arial;
    font-size: 18px;
    margin-right: 15px;
    text-decoration-color: #843188;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}
.mallSingle .descriptionPostDetail .oldPrixPost {
    padding-bottom: 38px;
    padding-right: 15px;
    padding-top: 38px;
}

.has_promo .oldPrixPost{
    display: block;
}
.mallSingle .descriptionPostDetail .oldPrixPost::before {
    top: 3px;
    font-size: 15px;
}
.oldPrixPost::before {
    color: #010101;
    content: "درهم";
    float: left;
    font-family: omnes;
    font-size: 14px;
    font-weight: 100;
    margin-right: 5px;
    position: relative;
    text-decoration-color: #843188;
    text-decoration-line: line-through;    
    text-decoration-style: solid;
    top: 1px;
}
.widget.mostLiked .MostLikedDots_pagination {
    display: block;
    float: right;
    margin: 5px 0;
    position: relative;
    width: 100%;
}
/********************/
section.white {
    background: white none repeat scroll 0 0;
}
.rightSidebar {
    display: block;
    float: right;
    position: relative;
    width: 100%;
    margin-top: 5px;
}
.p300x250 {
    border-radius: 5px;
    display: block;
    float: left;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 300px;
}
aside.mostLiked {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 14px 5px;
    text-align: center;
}
.Mtitle {
    display: block;
    font-family: jff;
    font-size: 37px;
    line-height: 1.3em;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
.block6 {
    display: block;
    float: right;
    position: relative;
    width: 672px;
}
.mallItem:hover {
    border: 1px solid #7b2781;
    transition: all 0.3s ease 0s;
}
.block6 .mallItem {
    height: 362px; 
    width: 216px;
}
.mallItem {
    background: white none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: right;    
    height: 380px;
    margin-bottom: 10px;
    margin:5px 4px;
    margin-left:6px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.mallSliderHodor .mallItem {
    margin-left:4px;
    margin-right: 4px;
    width: 237px
}
.itemImg {
    display: block;
    height: auto;
    margin: 0 auto;
    max-height: 290px;
    max-width: 100%;
    position: relative;
    width: auto;
}
.itemDescription {
    border-bottom: 1px solid #ebebeb;
    color: #3f3f3f;
    float: right;
    font-family: jff;
    font-size: 17px;
    line-height: 1.5em;
    max-height: 19px;
    overflow: hidden;
    padding: 10px 0;
    text-align: right;
    width: 100%;
}
.itemPrice {
    color: #010101;
    float: right;
    font-family: omnes;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 17px;
    position: relative;
}
.mallSidebarSlider .itemPrice {
    margin-top: 8px;
}
.mallSidebarSlider .oldPrixPost {
     padding-top: 10px;
    padding-bottom: 10px;
}
.block6 .oldPrixPost{
     padding-bottom: 10px;
    padding-top: 19px;
}
.mallSidebarSlider .itemDescription{
    padding:8px 0;
}
.itemPrice::before {
    color: #010101;
    content: "درهم";
    float: left;
    font-family: Adobe Arabic,arial;
    font-size: 16px;
    position: relative;
    right: 3px;
    top: 3px;
}
.solde::before {
    content: "%";
    margin-right: -11px;
    position: absolute;
}
.solde::after {
    content: "-";
    margin-right: 3px;
    position: absolute;
}
.solde {
    background: #7dccf1 none repeat scroll 0 0;
    border-radius: 100%;
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: omnes;
    font-size: 13px;
    height: 43px;
    line-height: 3.4em;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 10px;
    width: 43px;
}
.solde:empty{
	display: none;
}
.itemButton {
    border: 2px solid #d1d1d1;
    border-radius: 100%;
    bottom: 15px;
    box-sizing: border-box;
    color: #d1d1d1;
    height: 22px;
    left: 15px;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 22px;
}
.mallItem:hover .itemButton {
    background: #7b2781 none repeat scroll 0 0;
    border: 2px solid #7b2781;
    color: #f6d348;
    transition: all 0.3s ease 0s;
}
.widget.mostLiked ul {
    display: block;
    float: right;
    margin-top: 10px;
    position: relative;
    width: 100%;
}
.widget.mostLiked .mallItem {
    background: white none repeat scroll 0 0;
    border-radius: 7px;
    display: block;
    float: none;    
    height: 420px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    overflow: hidden;
    padding: 10px;
}
.widget.mostLiked ul.MostLikedDots {
    display: block;
    float: none;
    top: 3px;
    margin: 0 auto;
    width: 45px;
}
.MostLikedDots > li:last-child {
    margin: 0;
}
.MostLikedDots > li.active, .MostLikedDots > li:hover {
    background: #7b2781 none repeat scroll 0 0;
    transition: all 0.2s;
 }
.MostLikedDots > li {
    background: #c1c1c1 none repeat scroll 0 0;
    border-radius: 100%;
    display: block;
    float: right;
    font-size: 0;
    height: 9px;
    cursor:pointer;
    margin-left: 3px;
    width: 9px;
    transition: all 0.2s;
}
.mallNewsletter {
    background: #7b2781 none repeat scroll 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    float: right;
    padding: 35px;
    position: relative;
    text-align: center;
    width: 100%;
}
.mallNewsletter > p {
    color: #ffffff;
    display: block;
    font-family: jff;
    font-size: 30px;    margin-bottom: 25px;
    line-height: 1em;
    position: relative;
}
.newsletterText {
    background: white url("img/mall/newsletter.png") no-repeat scroll 99% center;
    border: medium none;
    border-radius: 10px;
    box-sizing: border-box;
    float: right;
    font-size: 20px;
    height: 46px;
    padding-right: 50px;
    position: relative;
    width: 690px;
    outline: none;
}
.newsletterButton:hover {
    transform: scale(1.03);
    transition: all 0.3s ease 0s;
}
.newsletterButton {
    background: #f6d448 none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    box-sizing: border-box;
    color: #7b2781;
    cursor: pointer;
    float: left;
    font-family: jff;
    font-size: 20px;
    height: 46px;
    transform: scale(1);
    transition: all 0.3s ease 0s;
    width: 210px;
}
.block6 .mallItem:nth-child(3n+3) {
    margin-left: 0;
}
.mallSliderHodor {
    display: block;
    float: right;
    position: relative;
    width: 100%;
}
.mallSliderHodor .bx-wrapper {
    max-width: 980px !important;
}
.mallSliderHodor > ul {
    /* display: table; */
    /* margin: 0 auto; */
    position: relative;
}
.mallSliderHodorUl {
    display: table;
    margin: 0 auto;
    position: relative;
}
.mallNavHodorSidebar {display: none;}
.mallNav {
    background: white none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-sizing: border-box;
    color: #131313;
    font-size: 20px;
    height: 107px;
    left: 0;
    line-height: 5.5em;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 250px;
    width: 55px;
    transform: scale(1);
    transition: all 0.3s ease 0s;
}
.mallNav.left {
    box-shadow: -2px 2px 3px -3px black;
    left: -20px;
}
.mallNav.right {
    box-shadow: 2px 2px 3px -3px black;
    right: -20px;
}
.mallSlider .mallItem:nth-child(4n+4) {
    /* margin-left: 0; */
}
section.gray {
    background: #f4f4f4 none repeat scroll 0 0;
}
.mallNav:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}
.block6 > ul {
    display: block;
    float: right;
    position: relative;
    width: 100%;
}
.prx::before {
    color: #010101;
    content: "درهم";
    float: left;
    font-family: omnes;
    font-size: 15px;
    font-weight: normal;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.mallSlider .solSlider {
    float: none !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.mostLiked .solSlider{
   /*  margin : 0 auto;
   width: 288px !important; */
}
.mall.mallForm { 
    /* background: transparent url("img/mall/back_mallform.png") repeat scroll center 20px; */
}
.mall.mallForm .title.purple {
    color: #7b2781;
    font-family: jff;
    font-size: 45px;
}
.underTitle {
    color: #7b2781;
    display: block;
    font-family: jff;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.page-template-mall-form {
    /* background: #f6d448 none repeat scroll 0 0; */
    background: transparent url("img/mall/back_mallform.png") repeat scroll center 20px;
}
.mallFormHodor > * {
    border: medium none;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    float: right;
    font-family: jff;
    font-size: 16px;
    margin-bottom: 13px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}
.mallFormHodor {
    display: table;
    margin: 20px auto 50px;
    position: relative;
}
.mallFormHodor > input[type="text"], .mallFormHodor > input[type="file"], .mallFormHodor > select {
    font-size: 15px;
    height: 40px;
}
.mallFormHodor > input[type="submit"] {
    background: #832f87 none repeat scroll 0 0;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 0;
}
/**********/
.pubMall{
	display: none;
}
body.soltana-mall .pubMall {
    background: #61bde7 ;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 90px;
    padding: 10px 30px 10px 10px;
    position: relative;
    width: 730px;
}
.pubMall .bc-h{
	background: rgba(0, 0, 0, 0) url("img/mall/bc-header-mall.png") no-repeat scroll 0 0;
    display: block;
    height: 111px;
    left: 25px;
    position: absolute;
    top: -21px;
    width: 258px;
}
.lienP {
	border-bottom: 37px solid #f6d448;
    border-right: 37px solid transparent;
    bottom: 0;
    color: #832f88;
    display: block;
    font-size: 0;
    left: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 0;

}
.lienP:before {
	bottom: -33px;
    color: #832f88;
    content: "+";
    display: block;
    font-size: 18px;
    left: 5px;
    position: absolute;
    text-align: center;
}
.pubMall h2{
	background: rgba(0, 0, 0, 0) url("img/mall/titlePubMall.png") no-repeat scroll center center;
	font-size: 0;
	height: 38px;
    width: 338px;
}
.pubMall span{
	color: #ffffff;
    display: table;
    font-family: jff;
    font-size: 16px;
    margin-top: 10px;
}
.mallSingle .imagePostDetail > img {
    bottom: 0;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    width: 200px;
}
.lblFile span.txt {
    background: #822e87 url("img/mall/file_flesh.png") no-repeat scroll 110px center;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-family: jff;
    font-size: 15px;
    margin-top: 2px;
    padding: 0 25px 0 10px;
    text-align: left;
    width: 100px;
}
.mallFormHodor textarea,
.mallFormHodor select,
.mallFormHodor label,
.mallFormHodor input{
    color: #c1bfbf;
}
label.lblFile {
    background: #ffffff none repeat scroll 0 0;
    color: #d2d2d2;
    display: block;
    height: 42px;
    line-height: 2.4em;
    padding-left: 3px;
}
.selectS:before{
    background: #822e87 none repeat scroll 0 0;
    border-radius: 6px;
    color: white;
    content: "▼";
    cursor: pointer;
    display: block;
    font-size: 0.525em;
    height: 34px;
    left: 3px;
    line-height: 4em;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 26px;
}
.selectS select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    border: 0 none;
    border-radius: 6px;
    height: 40px;
    text-indent: 5px;
    width: 100%;
}
.selectS {
    background: #ffffff none repeat scroll 0 0;
    height: 40px;
    line-height: 2.4em;
    padding-left: 0;
    padding-right: 0;
}

.lblFile span.im {
    left: 130px;
    position: absolute;
    top: 0;
}
.lblFile span.im img{
    margin-top: 3px;
}
.soltana-mall .soltanaMallIcon {
    /* background: rgba(0, 0, 0, 0) url("img/mall/goSoltana.png") repeat scroll 0 0; */
    background: rgba(0, 0, 0, 0) url("img/mall/btn-goSoltana.png") no-repeat scroll 0 0;
    height: 28px;
    top: 9px;
    width: 147px;
}
.soltana-mall .my_account_popup::before {
    background: #843288 url("img/Mall/logoMall.png") no-repeat scroll center center / 120px auto;
}
.soltana-mall .logclose {
    background: white url("img/Mall/logclose.png") no-repeat scroll center center;
}
/* .soltanaMallIcon {
    background: rgba(0, 0, 0, 0) url("img/mall/goMall.png") repeat scroll 0 0;
    border-radius: 30px;
    display: none;
    float: right;
    font-size: 0;
    height: 67px;
    overflow: hidden;
    position: relative;
    top: -2px;
    width: 81px;
 } */
.soltanaMallIcon {
    background: rgba(0, 0, 0, 0) url("img/mall/btn-mall.png") no-repeat scroll 0 0;
    float: right;
    font-size: 0;
    display: block;
    height: 36px;
    overflow: hidden;
    position: relative;
    top: 6px;
    width: 92px;
}
.mallItem .imgHolder {
    background: #eaeaea url("img/mall/logoMallgr.png") no-repeat scroll center center / 60% auto;
    height: 255px;
}
.main-menu > ul > li:first-child > a:hover::before, .main-menu > ul > li.current-menu-item:first-child > a::before{
    width: 0 ;
}
.mallSidebarSlider{
    margin-top: 8px;
}
.mallSidebarSlider .mallItem .imgHolder {
    height: 320px;
    width: 100%;
}
body.single-mall .soltanaMallIcon {
    display: none;
}
body.tax-mall-tax .soltanaMallIcon {
    display: none;
}
.mall .LikeMall{
    background: #e6e6e6 url("img/v2/heart.png") no-repeat scroll center 9px;
    border-radius: 100%;
    border: medium none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 30px;
    height: 33px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 33px;
    z-index: 21; 
}
.mall .LikeMall.active, .mall .LikeMall:hover {
    background-color: #7b2781; 
    border: medium none;
}
.leftForm{
    float: right;
    display: block;
    position: relative;
    width: 48%;
}
.rightForm{
    /* background: #e6e6e6 url("img/mall/bc_Formmall.png") no-repeat scroll right center; */
    display: block;
    position: relative;
    width: 50%;
    float: left;
}
.rightForm .imgBcForm{
    background: transparent url("img/mall/bc_Formmall.png") no-repeat scroll right center;
    display: block;
    height: 380px;
    position: relative;
    width: 402px;

}
.rightForm span{
    color: #7b2781;
    font-family: jff;
    font-size: 65px;
    text-align: center;
    width: 310px;
    margin: 0 auto;
    padding-top: 50px;
    display: block;
    line-height: 1.3;
}
.rightForm a{
    background: #f6d448 none repeat scroll 0 0;
    border-radius: 5px;
    color: #7b2781;
    cursor: pointer;
    display: block;
    font-family: jff;
    font-size: 25px;
    margin: 44px auto 0;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    width: 310px;
}
.mallFormHodor textarea {
    height: 140px;
}

.rightForm > a:hover {
    opacity: 0.9;
}
body.soltana-mall span.title:empty {
    display: none;
}
body.soltana-mall .logo {
    background: rgba(0, 0, 0, 0) url("img/mall/logoMall.png") no-repeat scroll center center / 75px auto;
}
body.soltana-mall header.small .logoHolder {
    width: 110px;
} 

.soltana-mall .headerSoltanaChef{
    display: none; 
}
.widget.mostLiked li:hover .imgHolder img{
    opacity:1;
}
body.archive.tax-mall-tax {
    padding-top: 190px;
}