.unlike-btn.FD-response-btn {
	float: left;
}
.FD-fabordrab-icon a {
    color: #fff;
} 
.FD-related-title {
    position: absolute;
	width: 160px;
	height: 70px;
	text-align: center;
	overflow: hidden;
	padding: 40px 0px;
	color:#fff;
	background-color:rgba(0, 0, 0, 0.4);
}