/*************Single Annonce*********************/
.annonceSingle .detailPost {
	background: #ffffff;
	float: left;
    padding: 35px 15px;
}
.annonceSingle .otherPost {
	float: right;
}
.annonceSingle .detailPost h1 {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
}
.annonceSingle .contentDetailPost {
    padding-top: 15px;
}
.navPostMall {
    display: block;
    float: right;
    position: absolute;
    top: 35%;
    width: 100%;
}
.navMb.navLeft {
    background: transparent url("img/annonce/flesh-detailpost.png") no-repeat scroll 8px center;
    border-radius: 5px 0 0 5px;
    left: -10px;
}
.navMb.navRight {
    background: transparent url("img/annonce/flesh-detailpost.png") no-repeat scroll -53px center;
    border-radius: 0 5px 5px 0;
    right: -10px;
}
.navMb {
  	box-sizing: border-box;
    color: #131313;
    cursor: pointer;
    font-size: 20px;
    height: 107px;
    left: 0;
    line-height: 5.5em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 25px;
}
.imagePostDetailAnnonce img {
	display: block;
	position: relative;
    margin: 0 auto;
    text-align: center;
}

.imagePostDetailAnnonce {
    padding-bottom: 28px;
    padding-top: 65px;
    position: relative;
}
.descriptionPostDetailAnnonce {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 15px 0;
}
.annonceSingle .Like {
    background-color: #e0e0e0;
    border: 2px solid #e0e0e0;
}
.annonceSingle .Like:hover,
.annonceSingle .Like.active {
    background-color: #b1194c;
    border: 2px solid #b1194c;
}
.annonceSingle .prixP {
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    height: 120px;
}

.annonceSingle .prixPost::before {
    font-size: 17px;
    font-weight: normal;
}
.annonceSingle .prixPost {
    background: #d41856 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    float: right;
    font-family: omnes;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
    margin-top: 40px;
}

.infoDetailAnnonce p {
    color: #7a7a7a;
    font-family: jff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}
.annoncesSlideV {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: block;
    height: 490px;
    overflow: hidden;
    padding: 40px 15px;
    position: relative;
    margin-top: 20px;
}

.annoncesSlideV .navTop {
	background-color: #f7f7f7;
    background-position: center 10px;
    box-shadow: 1px 1px 4px -2px;
    height: 30px;
    right: 16px;
    top: 0;
    width: 65px;
}
.annoncesSlideV .navBottom {
	background-color: #f7f7f7;
    background-position: center -23px;
    box-shadow: 1px -1px 1px -1px;
    height: 30px;
    right: 16px;
    bottom: 0;
    width: 65px;
}

.annoncesSlideV ul.annoncesVerticalSlider {
    height: 492px;
    overflow: hidden;
}
.annonceSingle .otherPost{
	margin-top: 0px;
    height: auto;
}
.annoncesInfo{
	background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
	height: 240px;
	overflow: hidden;
	display: block;
	position: relative;
	padding: 15px;
}
.telAnnonce,.appelAnnonce{
	background: #00b0ea;
	color: #ffffff;
	font-size: 15px;
	font-family: jff;
	width: 189px;
	border-radius: 5px;
	padding: 10px 0;
	text-align: center;
    margin: 15px auto 0;
    display:  block;    
}
.annoncesInfo .infoA{
    font-family: jff;
    display: block;
    color: #191919;
    display: block;
    width: 100%;
    padding: 12px 25px 12px 0;
}
.userAnnonce:before{
    content: url("img/annonce/icon-user-annonce.png");
    position:   absolute;  
    right: 15px; 
}
.villeAnnonce:before{
    content: url("img/annonce/icon-ville-annonce.png");
    position:   absolute;
    right: 17px;  
}
.timeAnnonce:before{
    content: url("img/annonce/icon-time-annonce.png");
    position:   absolute;
    right: 15px;  
}
.annonceSingle .detailPost{
    border-radius: 6px;
    margin-top: 10px;
}
.annoncesInfo .infoA + .infoA{
   border-top: 1px solid #e0e0e0;
}
/**/
.itemCarousselPost{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    height: 580px;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 465px;  
    float: right;  
}
.titleOtherPost{
    font-family:  jff;
    font-size:  32px;
    color:  #181818;
    text-align:  center;
    display: block; 
    margin: 30px 0;
}
.titleOtherPost span{
    color:  #d41856;
}
.titleOtherPost:after{
    background: #d8d8d8 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 16px;
    width: 36%; 
    left: 0;
}
.titleOtherPost:before{
    background: #d8d8d8 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 16px;
    width: 36%; 
    right: 0;
}
.otherPostImportant {
    clear: both;
    display: block;
    position: relative;
    width: 100%;
}
.itemInfoCarousselPost .prx{
    display: table; 
    margin:  0 auto;
    font-size: 32px;
}
.itemInfoCarousselPost .prx::before {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    right: 63px;
    top: 8px;
}
.itemInfoCarousselPost {
    display: block;
    margin-top: 15px;
    position: relative;
}
.itemInfoCarousselPost p {
    font-family: jff;
    font-size: 30px;
    color: #3f3f3f; 
}
.itemCarousselPost .navMb.navLeft {
    background-color: #f7f7f7;
    box-shadow: 2px 0 4px -3px;
    background-position: 12px center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 90px;
    left: 30px;
    width: 40px;
}
.itemCarousselPost .navMb.navRight {
    background-color: #f7f7f7;
    box-shadow: 2px 0 4px -3px;
    background-position: -46px center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 90px;
    right: -30px;
    width: 40px;
}
.itemsOtherPost .itemPost li {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    height: 283px;
    margin-bottom: 15px;
    margin-right: 12px;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 225px;
}
.itemsOtherPost .itemPost {
    float: left;
    display: block;
    position: relative;
    width: 485px;
}
.itemsOtherPost .itemPost li .prx {
    font-size: 20px;
}

.itemsOtherPost .itemPost li .prx:before {
    font-size: 14px;
    right: 40px;
    top: 2px;
}

.itemsOtherPost .itemPost li p {
    font-size: 16px;
}
.itemsOtherPost {
    box-sizing: border-box;
    clear: both;
    display: block;
    float: left;
    padding: 0 25px;
    position: relative; 
}
/***********************************/
/*************Homepage Annonce*********************/
.page-template-annonce_homepage .top_menu {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #0a1b34, #0b1e3a) repeat scroll 0 0;
    border-top: 2px solid #0b1e3a;
    float: left;
    height: 47px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 110;
}
.page-template-annonce_homepage .middleMenu > a.middleLogo {
    background: rgba(0, 0, 0, 0) url("img/annonce/logo.png") no-repeat scroll center center;    
    top: 0;    
    right: 0;
}
.annonceSignup {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #d31755, #db2763) repeat scroll 0 0;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    padding: 3px 36px 3px 20px;    
    position: relative;
}
.annonceSingupHodor {
    float: left;
    margin-top: 13px;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.annonceSignup::before {
    background: rgba(0, 0, 0, 0) url("img/annonce/signUp.png") repeat scroll 0 0;
    content: "";
    display: block;
    height: 20px;
    opacity: 0.85;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 21px;
}
.annonceSingupHodor:hover {
    opacity: 0.85;
    transition: all 0.4s ease 0s;
}
.annonceSearchHodor {
    display: block;
    float: left;
    position: relative;
}
.annonceSearchButton {
    background: #0a1b34 url("img/annonce/search.png") no-repeat scroll center center;
    border: medium none;
    border-radius: 10px;
    float: right;
    height: 46px;
    left: 0;
    position: absolute;
    width: 48px;
    z-index: 2;
}
.annonceSearchText {
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    float: right;
    font-size: 20px;
    height: 46px;
    margin-left: 30px;
    position: relative;
    text-align: right;
    text-indent: 10px;
    width: 570px;
    z-index: 1;
}
.annonceSearchHodor select {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 0 10px 10px 0;
    color: #606060;
    float: right;
    font-family: jff;
    height: 46px;
} 
/*****Annonce form****/
.titleAnnonceForm {
    border-bottom: 1px solid #c9c9c9;
    color: #212121;
    display: block;
    font-family: jff;
    font-size: 30px;
    height: 40px;
    margin-bottom: 10px;
    padding-right: 40px;
}
.leftFormAnnonce .titleAnnonceForm:after {
    content: url("img/annonce/add_annonce.png");
    position:   absolute;
    right: 0;
}
.rightFormAnnonce .titleAnnonceForm:after {
    content: url("img/annonce/info_annonce.png");
    position:   absolute;
    right: 20px;  
}
.leftFormAnnonce {
    border-left: 1px solid #c9c9c9;
    box-sizing: border-box;
    display: block;
    float: right;
    padding-left: 20px;
    position: relative;
    width: 50%;
}

.rightFormAnnonce {
    box-sizing: border-box;
    display: block;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    width: 50%;
}
.annonceForm label span {
    color: #d31755;
}
.annonceFormulaire {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    float: left;
    padding: 30px 10px;
    width: 100%;
}
.annonceFormulaire .selectS::before {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    color: #c9c9c9;
    font-size: 0.625em;
    height: 38px;
    line-height: 4.2em;
    width: 40px;
    top: auto;
    left: 20px;
}
.annonceFormulaire .selectS select {
    border: 1px solid #c9c9c9;
}
.annonceFormulaire .selectS {
    margin-bottom: 15px;
    padding-top: 10px;
}
.annonceFormHodor label {
    display: block;
    margin-bottom: 10px;
    padding-top: 10px;
}

.annonceFormulaire input[type="text"],
.annonceFormulaire input[type="password"] {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    height: 40px;
    padding: 0 8px;
    width: 96%;
}
.annonceFormulaire textarea {
    border: 1px solid #c9c9c9;
    min-height: 100px;
    padding: 0 8px;
    width: 96%;
}
.annonceFormulaire .send_mall:before{
     content: url("img/annonce/add_annonce_btn.png");
     position:   absolute;
     right: 8px;
    top: 6px;
}
.annonceFormulaire #send_mall{
    display: block;
    position: relative;
    background: #da2560;
    border-radius: 5px;
    color: white;
    font-size: 21px;
    width: 250px;
    height: 45px;
    padding: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin : 0 auto;
}
.annonceFormulaire #prix {
    display: block;
    position: relative;
}
.annonceFormulaire .prixinput:after{
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    color: #777777;
    content: "DH";
    font-family: omens;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    left: 10px;
    line-height: 2.4em;
    margin-top: -42px;
    position: absolute;
    text-align: center;
    width: 40px;
}

.annonceFormulaire .lblFile span.txt::before {
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    content: url("img/annonce/img-uploadannonce.png");
    height: 40px;
    left: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 45px;
}
.annonceFormulaire .lblFile span.txt {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #9d9d9d;
    font-size: 14px;
    left: 0;
    margin: 0 auto;
    padding: 50px 0 0;
    position: relative;
    right: 0;
    text-align: center;
    width: 100%;
}
.annonceFormulaire label.lblFile {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    height: 112px;
}
.frm {
    margin-bottom: 10px;
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.radioBtn {
    display: block;
    height: 75px;
}
.radioBtn > label {
    margin-bottom:  20px;
}
.radioBtn > input {
    margin-left: 8px;
    margin-right: 40px;
}
/***************Annonce Home***************/
.slideAnnonce .titleSlideAnnonce {
    font-family: guess;
    font-size: 47px;
    color: white;
    text-align: center;
    line-height: 1.2;
}
.slideAnnonce .titleSlideAnnonce span {
    font-family: Hacen;
}
.lienSlideAnnonce{
     background: transparent url("img/annonce/bc-btnSlide.png") repeat scroll 0 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: jff;
    font-size: 13px;
    height: 30px;
    margin: 20px auto 0;
    padding-top: 8px;
    width: 114px;
}

.slideAnnonce .homeSliderAnnonce.dots {
    opacity: 1;
    bottom: 20px;
    top: auto;
    transition: all 0.2s ease 0s;
}

.menuTypeAnnonce li + li{
    border-top: 1px solid #e0e0e0;
}
.menuTypeAnnonce li {
    background: #ffffff none repeat scroll 0 0;
    box-sizing: border-box;
    color: #6f6f6f;
    font-family: jff;
    font-size: 14px;
    height: 39px;
    padding-right: 33px;
    padding-top: 11px;
    cursor: pointer;
    position: relative;
}
.menuTypeAnnonce li:hover,
.menuTypeAnnonce li.active{
    background: #f7f7f7;
}
.menuTypeAnnonce li:before{
    content: "+";
    display: block;
    color: #e0e0e0;
    position: absolute;
    left: 10px;
}

.menuTypeAnnonce .itemType:nth-child(1)::after,
.menuTypeAnnonce .itemType:nth-child(7)::after {
    content: url("img/annonce/iconMenu1.png");
    position: absolute;
    right: 7px;
    top: 8px;
}
.menuTypeAnnonce .itemType:nth-child(2)::after,
.menuTypeAnnonce .itemType:nth-child(8)::after {
    content: url("img/annonce/iconMenu2.png");
    position: absolute;
    right: 11px;
    top: 6px;
}
.menuTypeAnnonce .itemType:nth-child(3)::after,
.menuTypeAnnonce .itemType:nth-child(9)::after {
    content: url("img/annonce/iconMenu3.png");
    position: absolute;
    right: 7px;
    top: 6px;
}
.menuTypeAnnonce .itemType:nth-child(4)::after,
.menuTypeAnnonce .itemType:nth-child(10)::after {
    content: url("img/annonce/iconMenu4.png");
    position: absolute;
    right: 4px;
    top: 8px;
}
.menuTypeAnnonce .itemType:nth-child(5)::after,
.menuTypeAnnonce .itemType:nth-child(11)::after {
    content: url("img/annonce/iconMenu5.png");
    position: absolute;
    right: 2px;
    top: 8px;
}
.menuTypeAnnonce .itemType:nth-child(6)::after,
.menuTypeAnnonce .itemType:nth-child(12)::after {
    content: url("img/annonce/iconMenu6.png");
    position: absolute;
    right: 2px;
    top: 11px;
}
.menuTypeAnnonce li:hover:before,
.menuTypeAnnonce li.active:before{
    color: #d31755;
}
.menuTypeAnnonce ul{
    border: 1px solid #e0e0e0;
    display: block;
    position: relative;
    width: 212px;
}
.homeSliderAnnonce.dots li{
    background: #ffffff;
    border: none;
}
.slideAnnonce {
    display: block;
    float: left;
    position: relative;
    width: 769px;
}
.menuTypeAnnonce {
    display: block;
    float: right;
    position: relative;
    width: 235px;
}

.contentSLideA {
    display: block;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 28%;
    width: 45%;
}

.contentAnnonce {
    display: block;
    float: right;
    margin-bottom: 25px;
    position: relative;
}
.block_inscriptionNewsletter {
    background: #d9245f none repeat scroll 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    display: table;
    height: 155px;
    margin: 0 auto 15px;
    padding: 25px;
    position: relative;
    text-align: center;
    width: 94%;
}

.block_inscriptionNewsletter > span{
    color: #ffffff;
    display: block;
    font-family: jff;
    font-size: 30px;
    margin-bottom: 30px;
}

.block_inscriptionNewsletter input {
    background: #fff url("img/annonce/icon-newsletter.png") no-repeat scroll 99% center;
    border: medium none;
    border-radius: 3px;
    box-sizing: border-box;
    height: 36px;
    padding-right: 45px;
    width: 70%;
}

.block_inscriptionNewsletter a{
    background: #0a1d38 none repeat scroll 0 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    float: left;
    font-family: jff;
    font-size: 20px;
    height: 39px;
    padding-top: 9px;
    width: 28%;
}

/***********************************/

