@media (min-width: 768px) {
#addToCartModal .modal-dialog {
    width: 680px;
    margin: 30px auto;
}
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
#addToCartModal .morelink {
	color : red !important;
}

#addToCartModal #continueShoping{
	padding: 0px 2px;
}

#addToCartModal #continueShoping .btn-primary  {
	border-radius:0px;
	background-color: #5cb85c;
	border: 1px solid #5cb85c;
	color: white;
	font-weight: bold;
	font-size: 13px;
	float: right;
}
#addToCartModal #continueShoping a{
	color: white !important;
	text-decoration : none !important;
}
#addToCartModal #saveChanges .btn-primary  {
	border-radius:0px;
	background-color: #5cb85c;
	border: 1px solid #5cb85c;
	color: white;
	font-weight: bold;
	font-size: 13px;
}

#addToCartModal #goToCart{
	padding-left: 2px;
	padding-right: 0px;	
}
#addToCartModal #goToCart .btn-primary  {
	border-radius:0px;
	background-color: #ddd ;
	border: 1px solid #ccc;
	color : rgba(51, 51, 51, 0.9) ;
	text-decoration:none;
	font-weight: bold;
	font-size: 13px;
	width: 100%;
}

#addToCartModal #next{
	padding-right: 0px;
}

#addToCartModal #saveChanges{
	padding-right: 0px;
}

#addToCartModal #contSave{
	padding-right: 0px;
}

#addToCartModal #next .btn-primary  {
	border-radius:0px;
	background-color: #5cb85c;
	border: 1px solid #5cb85c;
	color: white;
	font-weight: bold;
	font-size: 13px;
}
#addToCartModal #back .btn-primary  {
	border-radius:0px;
	background-color: #ddd ;
	border: 1px solid #ccc;
	color : rgba(51, 51, 51, 0.9) ;
	text-decoration:none;
	font-weight: bold;
	font-size: 13px;
}
#addToCartModal #prodSecDetails .glyphicon {
	font-size: 35px;
	color: #777;
}
#addToCartModal .btn_right {
	float : right;
}
#addToCartModal .prod_name_display_info{
	margin-bottom: 5px;
}
#addToCartModal .partsSelection {
        list-style: none;
    background-image: none;
    background-repeat: none;
    background-position: 0;
}
.radio-success label{
	padding-left: 5px !important;
}
.message {
	text-align: right;
    color: red;
    font-weight: bold;
}
#addToCartModal .alert-box {
    color: red;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:12px;
    padding:10px 10px 10px 36px;
    margin:10px;
   
}
#addToCartModal .alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
#addToCartModal .error {
    background:#ffecec url('/bootstrap/images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
     width :initial;
}
#addToCartModal #prodNum {
	padding:0px;
}
#addToCartModal .pscPrice {
	    margin-top: 7px;
    padding-left: 0px;
}
#addToCartModal .pscImage {
	padding-right : 0px;
}
#addToCartModal .category {
	color: black;
}
#addToCartModal .pscContent {
	padding-left: 0px;
}
#addToCartModal .prod-name a.morelink {
    text-decoration:none;
    outline: none;
    color: #5cb85c;
}
.morecontent span {
    display: none;
}
	
#addToCartModal #prodPrice {
	font-weight: bold;
	color: black;
	font-size: 20px;
}

#addToCartModal #prodIdInfo {
	padding-top: 20px
}
#addToCartModal #priceDiv {
	padding-top: 20px
}
#addToCartModal #prodQty {
	padding-top: 10px;
	padding-left:0px;
}

#addToCartModal * {
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#addToCartModal .btn_main {
    padding: 7px 3px;
    border-radius: 0px;
    width: 100%;
    overflow: hidden;
}
#addToCartModal .btn_main_div {
	padding:2px;
}
#addToCartModal .base_colour {
	color: #ed1c24;
}
#tab-content2 p {
	margin-bottom: 0px;
}
#addToCartModal .modal-content {
	border-radius: 5px;
	font-family: Arial,Helvetica,"Nimbus Sans L","Liberation Sans",FreeSans,sans-serif;
	color : black ;
	}
#addToCartModal .modal-header {
    border-bottom: none;
    padding: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
    background-color: #F1F0F0;
}
#addToCartModal .modal-body {
    padding-bottom: 0px;
}
#addToCartModal .modal-footer {  
	padding: 8px;
    text-align: left;
    margin-bottom: 10px;
    border:none;
    padding-top: 0px;
}
#addToCartModal .margbottom  {
	margin-bottom: 0px;
	background-color: #F1F0F0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#addToCartModal .margTop {
    margin-top: 10px;
}
#addToCartModal #dropBox{
	display: inline-block;
}
#addToCartModal .btn_space{
	margin: 2px;
}
#addToCartModal .float_left{
	float: left;
}
#addToCartModal .float_right{
	float: right;
}
#addToCartModal .align_left{
	text-align: left;
}
#addToCartModal .align_right{
	text-align: right;
}
#addToCartModal .font_med{
	font-size: 11px;
}
#addToCartModal .font_xl{
	font-size: 18px;
}
#addToCartModal .font_reg{
	font-size: 14px;
}
#addToCartModal .font_sm{
	font-size: 10px;
}
#addToCartModal .font_xsm{
	font-size: 8px;
}
#addToCartModal .auto_wid{
	width: auto;
}
#addToCartModal .pad_none{
	padding: 0px;
}
#addToCartModal .mar_none{
	margin: 0px;
}
#addToCartModal #viewCart{
	width:100%;
	color : white;
	text-decoration: none;
}

#addToCartModal #prodModel{
	padding-left: 6px;
	padding-right: 6px;

}
#addToCartModal #prodDetailsRow{
	margin-top: 0px;
}
#addToCartModal #prodSave{
	padding-top : 3px;
	color: #5CB85C;
}
#addToCartModal #prodSaveDesc{
	padding-top : 3px;
	color: black;
}
#addToCartModal .prodCovYear{
	width: 90%; 
    height: inherit;
    color: black;
}
#addToCartModal #continueShop>.caret {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 7px;
    margin: auto;
}
 #btnGroup{
 	text-align:center;
 	margin-top:100px;
}
#btnGroup a{min-width:123px;}

#addToCartModal #dropBox .dropdown-menu .divider { background-color: #adadad; margin: 5px 0; }
#addToCartModal .mobile { display: none; }
#addToCartModal .desktop { display:block; }

#addToCartModal .lowerBtns { height: 25px; padding-bottom: 2px; padding-top: 2px; }
#addToCartModal .pad_some {padding-left: 5px; padding-right: 5px;}
#addToCartModal #prodImage {  padding:10px; padding-bottom: 10px; }


#addToCartModal #dropBox >.dropdown-menu{ position: absolute;}
.modal-content .open .dropdown-menu:before {
  position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent; border-bottom-color: rgba(0, 0, 0, 0.2); content: ''; }
.modal-content .open .dropdown-menu:after {
  position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid #e6e6e6;
  border-left: 6px solid transparent; content: ''; }
.modal-content .open .dropdown-menu { border-radius: 0px; }
#addToCartModal .mobileOtherItems { padding: 5px; text-align: left; border-bottom: 1px solid #e5e5e5; }
#addToCartModal .otherItemsHeader { background-color: #eee; font-size: 12px; padding: 2px 7px; font-weight: 800; border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; margin-top: 5px; }
#addToCartModal #continueShop:hover .caret_white { color:#e6e6e6; }
#addToCartModal .dropdown.open .caret_white { color:#e6e6e6; }
#addToCartModal .caret_white { color:white; }
.modal-hr{border-top:1px solid #e5e5e5; margin:5px auto; width:90%;}
#prodSecurityRow{margin-bottom:10px;}
.cart-notification{margin-top:23px;}
 a.prod-name{color:#000; text-decoration:none;} 
 

 @media  (min-width: 768px) and (max-width: 991px) {
      
#addToCartModal .btn_main {
	padding:7px 0px;
}
    }
 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	
#addToCartModal #contShopBtn,#addToCartModal #selectFm{
	width: 100%
}	
#addToCartModal .selectMobile {
	padding: 0px;
}
#addToCartModal .pscPrice {
    margin-top: 0px;
    padding-left: 0px;
}
#addToCartModal #prodDetailsRow{
	margin-top: 10px;
}
#addToCartModal .ui-content {
	padding-left: inherit;
    padding-right: inherit;
}
#addToCartModal .modal-header {
    border-bottom: none;
    padding: 5px;
    background-color: white;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.modal-hr{
	margin-top:0px;
	margin-bottom : 0px;
}
#addToCartModal #prodIdInfo {
	padding-top: 0px;
}
#addToCartModal .cartSubTotal {
	font-size : 8px;
	padding-top : 3px;
}
#addToCartModal .font_med {
	font-size: 9px;
}
#addToCartModal .font_reg{
	font-size: 11px;
}
#addToCartModal .font_sm{
	font-size: 8px;
}
#addToCartModal .btnwidth {
	width:initial;
}
#addToCartModal .padleft{
	padding-left: 0px;
}
#addToCartModal .btn {
	width:100%;
}
#addToCartModal .btnwidth {
	width:initial;
}
#addToCartModal .modal-body {
   margin-top:0px;
}
/* #addToCartModal #prodTitle {
    margin-top: 0px;
}
#addToCartModal #prodTitle{
	margin-top:5px;
} */
/* #addToCartModal #prod_image { width:60px; height:60px; } */
#addToCartModal #prodImage {  padding:0px; overflow: hidden; }

#addToCartModal #prodModel{
	padding-left: 2px;
	padding-right: 2px;
}
#addToCartModal #prodTitle{
line-height: 15px;
margin-top : 9px;
}
.cart-notification{margin-top:0;}
.cart-notification span{padding:0 2px;}
/* .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 2px;
    padding-left: 2px;
} */

#addToCartModal .btn_main {
	padding:4px 2px;
}

#addToCartModal .mobile { display:inline-block; }
#addToCartModal .desktop { display:none; }

#addToCartModal #priceDiv { float: right; margin-top: -20px; padding-top:0px;}
#prodTitle { float:right; }
p { margin: 0 0 5px; }
#btnGroup
{margin-top:50px;}
/* #addToCartModal #prodIdInfo {
	padding-left: 0px;
	padding-right: 0px;
} */
#addToCartModal #prodQty {
	padding:0px;
}
#addToCartModal #prodModel {
	padding: 0px;
}
#addToCartModal #prodNum {
	padding:0px;
}
#addToCartModal #prodSave{
	margin-bottom : 0px;
}
#addToCartModal #prodSaveDesc{
	margin-bottom : 3px;
}
#addToCartModal #prodPrice {
	margin-top : 0px;
	margin-bottom : 0px;
}
#addToCartModal .otherItems {
	margin-top: 9px;
	background-color: rgb(219,219,219);
	color: black;
	margin-bottom : 5px;
}
#addToCartModal #prodSecDetails .glyphicon {
	font-size: 25px;
	color: #777;
}
#addToCartModal .form-control {
	margin-top:10px;
	width: initial;
    height: auto;
}

#addToCartModal .marTo_m {
	margin-top : 10px;
}
	
/* #selectFm{float:left !important; margin-top:5px;} */

}
#addToCartModal #prodModel{text-align: right;}


/* Portrait phones and smaller */
@media (max-width: 480px) {
	#addToCartModal #continueShoping .btn-primary,#addToCartModal #saveChanges .btn-primary,
	#addToCartModal #goToCart .btn-primary,#addToCartModal #next .btn-primary,#addToCartModal #back .btn-primary  {
		font-size: 11px;
	}
}

@media  (max-width: 690px) {
	#continueShoping.col-xs-6{width:100%}
	#goToCart.col-xs-6{width:100%;margin-top:5px;}
}

/* Below css is moved from price/index */
#hoverbox {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  z-index:999;
}
.cls_pricelabel_large {
	font-size: 10px;
}
.cls_pricelabel_medium {
	font-size: 8px;
}
.cls_pricelabel_small {
	font-size: 6px;
}
.cls_price_large {
	font-size: 20px;
}
.cls_price_medium {
	font-size: 15px;
}
.cls_price_small {
	font-size: 10px;
}
.cls_fontcolor_red {
	color:#ED1C24
}
.cls_fontcolor_black {
	color:#000000
}
.cls_font_style {
    font-style:Verdana,Arial,Helvetica,sans-serif;  
}
.cls_bold {
    font-weight:bold;
}
.cls_strike {
 text-decoration:line-through;
}
.cls_pos3_text {
	color:#ED1C24;
    font-size: 15px;
    font-style:Verdana,Arial,Helvetica,sans-serif; 
    font-weight:bold;    
 }
.cls_pos1_text {
	color:#336699;
    font-size: 10px;
    font-style:Verdana,Arial,Helvetica,sans-serif;     
 }
 .cls_pos1_price {
	color:#ED1C24;
    font-size: 20px;
    font-style:Verdana,Arial,Helvetica,sans-serif;  
    font-weight:bold;    
 }
 .cls_pos2_text {
	color:#336699;
    font-size: 10px;
    font-style:Verdana,Arial,Helvetica,sans-serif;  
 }
 .cls_pos2_price {
	color:#ED1C24;
    font-size: 20px;
    font-style:Verdana,Arial,Helvetica,sans-serif;  
    font-weight:bold;    
 }
 .cls_display_none {
 	display:none;
 }
 .cls_display_block {
 	display:block;
 	/*border:1px solid red;*/
 }
 .cls_price_large_mobileSearch {
 	font-family: sans-serif; font-size: x-large;
 }
 .cls_float_left {
 	float:left;
 }
 .cls_price_size {
 	width:25px;
 }
 .ui-mobile-viewport .cls_price_size {
  width: auto;
}
 .searchPrice {
    color: #CC3300;
    font-family: "Verdana","Arial",sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.searchPriceBlack {
    color: #000000;
    font-family: "Verdana","Arial",sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.productPrice {
    color: #ED1C24;
    font-family: "Verdana","Arial",sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.cls_clear_both {
	clear:both;
}
.cls_width_adj {
white-space:nowrap;width:100%;
}
.cls_left_100 {
 position:relative;
 left:100px;
}
.zero_margin_zero_padding {
 margin:0px;
 padding:0px
}
.cls_text_small {
    color: #000000;
    font-family: "Verdana","Arial",sans-serif;
    font-size: 8px;
}
.cls_default_width {
	width:100%;
	padding:0px;
	margin:0px;	
}
/* SCR#525066 */
.gradient_btn {
	/* margin-left: 0px; */
	position: relative;
	width:120px;
}
.gradient_cart_button {
	 background-color: none;
	 cursor: pointer;
	 font: 14px/100%;
	 border: 1px solid;
	 border-color: black;
	-moz-border-radius: 3px;
	-chrom-border-radius: 3px;
	 border-radius: 3px;
	 background: -linear-gradient(bottom,top,#016319,  #028a22);/* for w3c */
	 background: -moz-linear-gradient(#016319,  #028a22);
	 background: -webkit-linear-gradient(#016319, #028a22);
	 background: -o-linear-gradient(#016319, #028a22);
	 background-image: -chrom-linear-gradient(#016319,  #016319);
	 background: -webkit-gradient(#016319,  #028a22);
	 background: -ms-linear-gradient(#016319,#028a22);
	  background: linear-gradient(to right,  #016319 1%,#028a22 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016319', endColorstr='#028a22',GradientType=1,border-radius=3px ); /* IE6-9 */
	 color: #FFFFFF;
	 font-family: sans-serif;
	 font-size: large;
}
.gradient_cart_button_disabled { /* SCR#567167 */
	 background-color: none;
	 cursor: pointer;
	 font: 14px/100%;
	 border: 1px solid;
	 border-color: #7e7e7e;
	-moz-border-radius: 3px;
	-chrom-border-radius: 3px;
	 border-radius: 3px;
	 background: -linear-gradient(bottom,top,#bdbdbd);/* for w3c */
	 background: -moz-linear-gradient(#bdbdbd);
	 background: -webkit-linear-gradient(#bdbdbd);
	 background: -o-linear-gradient(#bdbdbd);
	 background-image: -chrom-linear-gradient(#bdbdbd);
	 background: -webkit-gradient(#bdbdbd);
	 background: -ms-linear-gradient(#bdbdbd);
	 background: linear-gradient(to right,  #bdbdbd 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#bdbdbd',GradientType=1,border-radius=3px ); /* IE6-9 */
	 color: #939393;
	 font-family: sans-serif;
	 font-size: large;
	 }
	 