
#specPrice a {color:#333; text-decoration:none}
#specPrice a:hover {color:#ccc; text-decoration:none}
#mask { position:absolute; left:0; top:0; z-index:9000; background-color:#000; display:none; }
#boxes .window { position:absolute; left:0; top:0; width:440px; height:200px; display:none; z-index:9999; padding:10px; }
#boxes #specPrice { background:url(http://images.frys.com/art/0900_site/core_092500/box4.gif) no-repeat 0 0 transparent; width:474px; height:429px; }

body {
background: #eeeeee !important;
margin-top: 0px !important;
color: #333333 !important;
float: none !important;
font-family: "Verdana","Arial",sans-serif; !important;
font-size: 14px !important;
line-height: normal !important;
width: 100% !important;
color: #333333;
}

body a {color: #336699;}
body a:visited {color:#336699;}
body a:active {color:#ffffff;}

#MainContainer {
width:1000px; 
margin:auto;
background-color:#ffffff;
box-shadow: 1em 0 1em -1em #ccc,  -1em 0 1em -1em #ccc;
padding-left:20px;
padding-right:20px;
}

#MainContainer a { color:#336699; text-decoration:none; }
#MainContainer a:hover{ color:#ed1c24; text-decoration:underline; }

#MainContainer .dropdown-menu a { color:#000000; text-decoration:none; }
#MainContainer .dropdown-menu .menu_li a:hover { color:#000000; text-decoration:underline; background-color: #d3d3d3; } 
#MainContainer .active .dropdown-menu a:hover{ color:#000000; text-decoration:underline; background-color: #d3d3d3; }

#header-1{margin-top:0px !important;}
