@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda'), local('Coda-Regular'), url(http://fonts.gstatic.com/s/coda/v11/KzHY9N-PIagGI86CpWfnZA.ttf) format('truetype');
}
