@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
#jxdb{z-index: 100000!important;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIN RESET */
/* commun */
body{font-size: 10px; font-family: arial,sans-serif;}
label{vertical-align: middle;}
strong{font-weight: bold;}
em{font-style:italic;}
#main {width: 100%;padding-top: 30px;margin-top:47px;background-repeat: no-repeat;background-attachment: scroll;background-color: #D6DEE3;background-position: center top;}
#page_container{position: relative;}
#habillage-player{background-image:url(../images/webtv/habillage-player.png);height: 490px;position:absolute;width: 100%;top: 43px;}
a {text-decoration: none;}
.red{color: red;}
.bold {font-weight: bold}
.gris_light{color: #808184;}
.gris_medium{color: #58595B;}
.couleur_titre_medium{color: #58595B;}
.couleur_titre_heavy{color: #231F20;}
.texte_light{color: #808184;}
.couleur_live{color: #E95A1B;}
.left {float: left}
.right {float: right;}
.link {color: #0098CB}
.link_bb {border-bottom: 5px solid #0098CB;}
.link_bl {border-left: 3px solid #0098CB;}
.link_bt {border-top: 5px solid #0098CB;}
.module_bb {border-bottom: 5px solid #E5E6E7}
.module_bt {border-top: 5px solid #E5E6E7}
.mr12 {margin-right: 12px;}
.upper {text-transform: uppercase;}
.hr{background-color: #E5E6E7;color: #E5E6E7;height: 5px;width: 100%; border: 0;}
.module {margin-bottom: 20px;}
.module_header_gen {border-top: 5px solid #0098CB;font-size: 170%;line-height: 118%;font-weight: bold;width: 100%;padding: 5px 0;color: #231F20;}
.hover_host {position: relative;}
.hover_content {position: absolute;}
.inline-block{display: inline-block;}
.table{display: table;}
.table-row{display: table-row;}
.table-cell{display: table-cell; vertical-align: middle;}
.boutonBlack{color: #FFF; display: inline-block; font-weight: bold; border: 1px solid #062b4e; cursor: pointer; font-size: 130%; font-family: inherit; line-height: 10px; padding: 5px 20px; background: #9f9f9f;
background: -moz-linear-gradient(top,  #9f9f9f 7%, #6c6c6c 8%, #444444 51%, #000000 52%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#9f9f9f), color-stop(8%,#6c6c6c), color-stop(51%,#444444), color-stop(52%,#000000), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #9f9f9f 7%,#6c6c6c 8%,#444444 51%,#000000 52%,#000000 100%);
background: -o-linear-gradient(top,  #9f9f9f 7%,#6c6c6c 8%,#444444 51%,#000000 52%,#000000 100%);
background: -ms-linear-gradient(top,  #9f9f9f 7%,#6c6c6c 8%,#444444 51%,#000000 52%,#000000 100%);
background: linear-gradient(to bottom,  #9f9f9f 7%,#6c6c6c 8%,#444444 51%,#000000 52%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9f', endColorstr='#000000',GradientType=0 );
}
.submit{vertical-align: -4px; background-color: #0799CC; border-top: 1px solid #48C8F5; border-left: 1px solid #48C8F5; border-bottom: 1px solid #0799CC; border-right: 1px solid #0799CC; color: #FFF; font-weight: bold; font-size: 130%; margin-left: 5px;}
#titre_page{font-size: 280%; font-family: 'Coda',cursive; text-transform: uppercase; margin-bottom: 17px;}
#titre_page span{color: #0799CC;}
.mil_commentaire{font-family: 'Coda',cursive; background-color: #0098cb; color: #FFF; width: 25px; height: 18px; line-height: 20px; display: inline-block; text-align: center; position: relative;}
.mil_commentaire:after{content: '▼'; color: #0098cb; position: absolute; bottom: -13px; left: 4px;}
#cookies_notifier{margin-top:50px;}
/* fin commun */

/* Sprites */
.sprite {background-image: url("/images/layout/sprites.png");background-repeat: no-repeat;}
.sprite-barre_oblique-png{width: 24px; height: 24px; background-position: -153px -41px;}
.sprite-f_logo-png,
.sprite-f_logo_grayscale-png:hover{width: 40px; height: 40px; background-position: -102px -51px;}
.sprite-f_logo_grayscale-png{width: 40px; height: 40px; background-position: -102px -0px;}
.sprite-gplus_logo-png,
.sprite-gplus_logo_grayscale-png:hover{width: 40px; height: 40px; background-position: -51px -51px;}
.sprite-gplus_logo_grayscale-png{width: 40px; height: 40px; background-position: -0px -51px;}
.sprite-live-png{width: 54px; height: 24px; background-position: -0px -102px;}
.sprite-loupe-png{width: 30px; height: 30px; background-position: -149px 3px;}
.sprite-twitter_logo-png,
.sprite-twitter_logo_grayscale-png:hover{width: 40px; height: 40px; background-position: -51px -0px;}
.sprite-twitter_logo_grayscale-png{width: 40px; height: 40px; background-position: -0px -0px;}
.sprite-zoom_in-png{width: 16px; height: 16px; background-position: -153px -76px;}
/* fin Sprites */

/* Structure */
#main-content{ position: relative; min-height: 500px; margin-left: -3px}
.portail {/*padding-left: 20px; padding-right: 20px;*/}
#col_droite_portail{/*
	float: right;
	right: 0;
	position: relative;
	padding-top: 20px;
	padding-right: 41px;
	*/
	padding-right:20px;
}
#col_droite{/*
	float: right;
	right: 0;
	position: relative;
	padding-top: 20px;
	padding-right: 41px;
	*/
	width:300px;
}

#modulePlayer{ 
	background-color: white; 
	padding-left:20px;
	padding-top: 20px;
	padding-right:20px;
	border-left: 1px solid rgba(50, 50, 50, 0.32);
	border-right: 1px solid rgba(50, 50, 50, 0.32);
	border-bottom: 1px solid rgba(50, 50, 50, 0.32);
	border-top: 1px solid rgba(50, 50, 50, 0.32);
	width: 952px;
}

#moduleActualite .module-content{
	width: 600px;
}

/* Fin structure */

/* Main Portals & liste sites*/
#main_portals {width: 100%;height: 30px;position: fixed; z-index: 10001;top: 0;left:0;background-color: #231F20;}
#main_portals li {float: left;color: #FFFFFF;}
#home a {display: block;background-image:url(/images/layout/home_white.png);background-color: transparent;background-repeat: no-repeat;background-position: center center; width: 16px; height: 27px;}
#home:hover a{background-image:url(/images/layout/home_hover.png);}
#barre_sites {width: 100%;height: 30px;position: fixed; z-index: 10001;top: 30px;left:0;background-color: rgba(35,31,32,0.7);}
#barre_sites #site_actif {color: #0098CB;border-bottom: 3px solid #0098CB;}
#liste_sites, #main_portals ul {position: absolute;z-index: 1; float: left;height: 27px;padding: 0 45px;background-color: transparent;border-bottom: 3px solid white;}
#liste_sites {width: 902px;}
#liste_sites li {color: #FFFFFF;}
#liste_sites li:hover {color: #0098CB;border-bottom: 3px solid #0098CB;}
#main_portals li:hover {color: #FC5201;border-bottom: 3px solid #FC5201;}
#liste_sites a, #main_portals a{color: inherit;}
#liste_sites h3, #main_portals h3{font-family: 'Coda', cursive;font-size: 160%; line-height: 27px; color: inherit;padding: 0 13px;}
#barre_sites_home {padding-right: 15px;}
#barre_sites_home img{margin: 4px 0;}
.submenu {display: none;}
/* FIN Main Portals & liste sites */

/* Barre connexion */
#barre_connexion{margin-top: 6px; float: right; position: relative;z-index: 1;}
#barre_connexion #s-inscrire{margin-right: 5px;}
#barre_connexion .deconnexion{font-weight: bold; text-align: right; font-family: 'Coda', cursive;}
#barre_connexion .deconnexion a{color: #FFF;}
#barre_connexion .deconnexion a:hover{text-decoration: underline;}
#barre_connexion #se-deconnecter{margin-top: 2px;}
/* Fin barre connexion */

/* Module de connexion modalbox */
#connexion_modalbox{margin-bottom: 10px; display: none; background-color: #FFF; z-index:10002; width: 433px; padding: 10px; margin-bottom: 0;}
#connexion_modalbox .logo{margin: auto;}
#connexion_modalbox .signin-container{width: 243px; padding-right: 12px; float: left; border-right: solid #B9B9B9 1px;}
#connexion_modalbox .title{margin-bottom: 15px; text-transform: uppercase; font-weight: bold;}
#connexion_modalbox .username-container,
#connexion_modalbox .password-container{margin-bottom: 7px;}
#connexion_modalbox .username-container label,
#connexion_modalbox .password-container label{float: left; margin-top: 4px; margin-right: 5px; display: block; width: 100px; text-align: right; font-weight: bold;}
#connexion_modalbox .username-container input,
#connexion_modalbox .password-container input{float: left;}
#connexion_modalbox .mem-container{margin-bottom: 10px;}
#connexion_modalbox .mem-container input{vertical-align: -4px; margin-right: 5px;}
#connexion_modalbox .submit-container{text-align: center;}
#connexion_modalbox .forgot_password{float: left; margin-right: 41px; margin-left: 13px; margin-top: 5px; display: block;}
#connexion_modalbox .login_check_text,
#connexion_modalbox .forgot_password{font-weight: bold; color: #333;}
#connexion_modalbox .signup-container{padding-left: 12px; float: left; width: 162px; margin-top: 10px; text-align: justify;}
#connexion_modalbox .signup-container p{font-weight: bold;}
#connexion_modalbox .signup-container .s-inscrire{margin-top: 10px; margin-left: 29px;}
/* Fin module de connexion modalbox */

/* pub */
.pubContainer {margin: auto;position: relative;}
.pubContainer img{vertical-align: bottom;}
#col_droite_portail .programmation{width: 300px; /*margin-left: auto; */margin-right: auto; margin-left: 10px;}
#col_droite .programmation{width: 300px; margin-left: auto; margin-right: auto;}

/* Habillage */
#habillagesite{position: fixed; top: 0; left: 0; width: 100%; height: 100%;}
#habillagesite a{width: 100%; height: 100%; text-indent: -10000px; display: block;}
/* FIN pub */

/* Header */
#pub_header {
	text-align: center; 
	width: 990px;
	z-index: 1;
	position: relative;
}
.header_ligne_2 {line-height: 114px;}
.logo {height:92px;vertical-align: middle;}
#rechercheQ {width: 235px; height: 30px;padding: 2px;border-width: 1px 0 0 1px;border-style: solid; border-color: #FFFFFF;vertical-align: middle;}
#rechercheQ {font-size: 140%; color: #58595B; letter-spacing: -1px;font-family: inherit;}
#rechercheQ {
background: rgb(187,189,191); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(187,189,191,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,189,191,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(187,189,191,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(187,189,191,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(187,189,191,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(187,189,191,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbdbf', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#rechercheQ, #rechercheImg {
-webkit-box-shadow: 2px 2px 0px rgba(35, 31, 32, 0.75);
-moz-box-shadow:    2px 2px 0px rgba(35, 31, 32, 0.75);
box-shadow:         2px 2px 0px rgba(35, 31, 32, 0.75);
}
#rechercheImg {width: 35px; height: 35px;background-color: #0098CB;border-width: 1px 0 0 1px; border-style: solid; border-color: #33CCFF;padding: 0;vertical-align: middle;cursor: pointer;margin-left: 1px;}
#rechercheQ:focus{border: 2px solid #059CCD; width: 232px; height: 27px;}
#rechercheQResult.dropdown {top: 78px; left: 0px;}
.dropdown{position: absolute; background-color: #FFF; z-index: 10001; width: 269px; line-height: 1; border: 2px solid #D0D3D3; padding: 5px 3px; display: none;}
.dropdown p{font-size: 150%; font-weight: bold; line-height: 118%; color: #251F20; text-transform: uppercase; margin-bottom: 7px;}
.dropdown ul{border-bottom: 2px solid #89878A; padding-bottom: 2px; margin-bottom: 9px;}
.dropdown li{height: 17px; line-height: 17px; padding-left: 4px; margin-bottom: 4px; border-left: 4px solid #089CCD; font-size: 130%; color: #424143;overflow: hidden;}
.dropdown a{color: inherit;}
.dropdown input{border: 0; background: none; font-family: inherit; font-size: 130%; color: #059CCD; width: 100%; font-weight: bold; cursor: pointer;}
#logos {position: relative;height: 114px;}
#logos a{position: absolute;}
/* FIN Header */

/* menu */
#barre_menu_principal {position: relative;z-index: 20;width: 100%; height : 37px; margin:auto;background-color: #E5E6E7;border-bottom: 3px solid #D4DEDF;border-top: 1px solid #FFFFFF;}
#menu_principal {position: absolute;}
#menu_principal .topMenu{float: left;padding: 0 10px;border-left: 1px solid #FFFFFF; border-right: 1px solid #BBBDBF;color: #414042 }
#menu_principal .topMenuStore{background-color: #F04A23;color: #FFFFFF}
#menu_principal .topMenu:hover {border-bottom: 3px solid #0098CB;color: #0098CB}
#menu_principal li:hover .item-title ,li:hover .submenu-title {color: inherit;cursor: pointer;}
#menu_principal h3 a, .submenu-title{color: inherit;vertical-align: middle;}
.topMenu {text-transform:uppercase;}
.topMenu h3{font-family: 'Coda', cursive;font-size: 160%;line-height: 225%;}
.submenu {background-color: #231F20;position: fixed;top: 40px; left: 0px;width: 785px;display: none;}
.submenu , .submenu a{color: #FFFFFF;}
.submenu li {padding-bottom: 6px;}
.submenu .table-cell {vertical-align: baseline;}
.submenu .table .table-cell {
	padding-left: 35px;
}
.submenu-close{cursor: pointer; color: #FFFFFF;position: absolute; right:10px; bottom: 10px;}
/* FIN menu */

/* sous menu */
.sousTitre {font-family: 'Coda', cursive;font-size: 130%;letter-spacing: 3px;line-height: 150%; margin-bottom: 6px;color: #33CCFF;}
.submenu a:hover {text-decoration: underline;}
.sousTitre a{color: #33CCFF;}
.submenu .titreSection {font-weight: bold;font-size: 110%;padding-bottom: 6px;display: inline-block;}
.submenu .team_pro_header { font-family: 'Coda', cursive;font-size: 130%;letter-spacing: 3px;margin: 12px 10px 10px;  padding: 0 5px;color: #33CCFF;}
.submenu .team_pro_header img { margin-right: 5px; vertical-align: middle;}
.submenu .team_pro { float: left; line-height: 13px; margin: 5px;font-family: arial,sans-serif;}
.submenu .team_pro a {color: #FFFFFF;}
.submenu .team_pro div { float: left; margin: 17px 0 0 5px; width: 115px;}
.submenu .team_pro img { float: left; margin-bottom: 10px; margin-left: 10px;border: 1px solid #FFFFFF;}
.submenu .classes img { height: 74px; margin-bottom: 10px; margin-top: 10px; width: 99px;}
.sousmenu_dr ul { margin-left: 20px;}
.sousmenu_dr ul.first { margin-left: 0;}
.sousmenu_dr ul.menuRaids {float: left;}
div.actuWow {float: left;}
#sousmenu-aui { width: 240px;}
div#sousmenuwowevents, div.menuDonjons {  padding-left: 40px;}
.menuRaid {width: 60%;}
/* FIN sous menu */

/* menu dossier */
#menuDossier{background-color: #F3F3F3; border: 7px solid #D0D1D3; padding: 9px;}
.emissions .module-header .title{color: #211F20; font-size: 200%; font-family: 'Coda',cursive;}
/* FIN menu dossier */

/* Barre sociale */
#barre_sociale{position: absolute; right: 0; top: 391px;}
#barre_sociale .sprite{position: absolute; left: -10px; text-indent: -9999px;}
#barre_sociale .sprite:hover{left: 0;}
#barre_sociale .sprite-twitter_logo_grayscale-png{top: 45px;}
#barre_sociale .sprite-gplus_logo_grayscale-png{top: 90px;}
/* Fin barre sociale */

/* Footer */
#main-footer{position: relative; width: 994px;; height: 50px; box-sizing: border-box; padding: 10px 20px; background-color: #A5A8AB;}
#footer-left{float: left; color: #68618B;}
#footer-left .footer-logo {display:inline-block; margin-right: 20px; height: 30px;}
#footer-left div {position: relative; display: inline-block; top: -1px;}
#footer-left a, #footer-right a {color: #FFFFFF;}
#footer-right{float: right; color: #FFFFFF;}
#footer-right img{vertical-align: middle;}
#footer-right .footer-rs {display: inline-block; width: 32px; height: 32px; vertical-align: middle;}
#footer-right .footer-rs#fb {background-image: url('/images/icones/facebook_32.png');}
#footer-right .footer-rs#tw {background-image: url('/images/icones/twitter_32.png');}
#footer-right .footer-rs#ml {background-image: url('/images/icones/email_32.png');}
#footer-right .footer-mentions {margin-left: 10px;}]
/* Fin footer*/

/* mediabox une */
#mediabox_multi { position:relative; overflow:hidden;width: 100%;margin-bottom: 20px;}
#mediabox_multi .items {position: relative;width: 20000em;}
.navi {position: absolute; left: 252px; top: 19%;z-index: 10;}
.navi a { display: block;cursor: pointer;float: left;font-size: 1px;height: 11px;margin: 3px;width: 11px;border: 2px ridge #FFFFFF; background-color: rgba(255,255,255,0.17);}
.navi a.active {border: 2px ridge #0098CB; background-color: rgba(0,152,203,0.3)}
a.browse {background-attachment: scroll;background-repeat: no-repeat; background-position: center center;background-color: rgba(35,31,32,0.05);cursor: pointer; display: block;position: absolute; font-size: 1px;height: 74px; width: 38px;top: 188px;z-index: 10;}
a.navi_right{right: 15px;background-image: url("/images/layout/fleche_droite.png") }
a.navi_left{left: 15px;background-image: url("/images/layout/fleche_gauche.png") }
div.une {float: left;width: 600px;}
.titre {font-family: 'Coda', cursive;line-height: 122%;margin-bottom: 6px;}
h3.une_titre_small {margin-top: 12px;}
.jeu_une {font-size: 110%;line-height: 122%;}
.titre a{color: #231F20}
img.une {vertical-align:text-bottom; width:600px; height: 296px;}
.une_titre {font-size: 280%;}
.une_titre.dossier_une_titre {margin:0;}
div.une_hover, .mini_une_hover, .mini_meta_portail_hover {bottom: 0; left:0;  display: none;}
span.une_hover {display: block; /*width: 582px;*/width: 590px;line-height: 15px; padding: 5px;}
.une_synopsis {background-color: rgba(255,255,255,0.95); color: #2D2D2D; font-size: 120%;line-height: 133%;/*width: 578px;*/width:586px;padding: 7px;}
.une_synopsis {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ffffff', endColorstr='#ffffff',GradientType=0 );} /* IE6-9 */
.mini_une {width: 159px; display: block;}
img.mini_une {height: 79px;}
p.mini_une, p.mini_meta_portail {overflow: hidden;position: relative;}
p.mini_une {margin-bottom: 4px;}
.mini_une_hover, span.une_hover,  .titre_meta_portail{background-color: #0098CB;text-align: right;font-weight: bold;color: #FFFFFF;font-size: 120%;}
.mini_meta_portail_hover{background-color: transparent;text-align: left;font-weight: bold;color: #FFFFFF;font-size: 120%;padding: 0 0 3px 3px;}
.titre_meta_portail{padding: 0 3px 3px 0;}
.mini_une_hover {width: 154px;padding: 5px 5px 5px 0;}
.mini_une_titre {font-size: 150%;}
div.mini_une:hover a.mini_une{outline: #0098CB solid 1px;}
.meta_color_1 {border-color: #EFC514; background-color: #EFC514}
.meta_color_2 {border-color: #FC5201; background-color: #FC5201}
.meta_color_3 {border-color: #A2DD31; background-color: #A2DD31}
.meta_color_4 {border-color: #3F3AA4; background-color: #3F3AA4}
.link_meta_bb {border-bottom-width: 5px; border-bottom-style: solid;}
/* fin mediabox une */

/* Mediabox Dossier */
#mediaboxDossier {color: #FFFFFF;}
#mediaboxDossier a{color: #FFFFFF;font-family: 'Coda',cursive;}
.dossier_une {font-family: 'Coda',cursive; font-size: 290%; background-color: #0098CB; width: 186px; height: 52px; text-align: center;line-height: 50px;float:left;}
/* FIN Mediabox Dossier */

/* module Web TV */
#moduleWebTV {margin-bottom: 20px;}
#DailymotionPlayer{float:left;border-width: 1px 0 0 0;border-style: solid; border-color: #444041;}
/*#moduleLiveplay .enLive { border-width: 1px 1px 1px 1px;}
#moduleWebTV .enLive {border-width: 0px 1px 1px 1px;}*/
.header_webtv{border-bottom: 1px solid #BBBDBF;padding-bottom: 10px;}
.programme_webtv {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.programme_webtv:hover .left_action {background-color: #222424;box-shadow: inset 1px 1px 0px 0px #4E5254, inset 0px -1px 0px 0px #4E5254, 0px -1px 0px 0px #111212;}
.programme_webtv:hover .right_action {background-color: #2F3132;box-shadow: inset -1px 0px 0px #111212,inset 0px 1px 0px 0px #4E5254, inset 0px -1px 0px 0px #4E5254,inset -2px 0px 0px 0px #4E5255, 0px -1px 0px 0px #111212;}
.programme_webtv:active .left_action {background-color: #181A1A;box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.05), 0px -1px 0px 0px #111212;z-index:1;}
.programme_webtv:active .right_action {background-color: #242527;box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.05), 0px -1px 0px 0px #111212, inset -1px 0px 0px 0px #111212;z-index:1;border-bottom: 1px solid #111212;}
/* LOGO */
.left_logo6 {width: 59px;height: 59px;background-color: #1B1D1D;position: relative;float: left;border-bottom: 1px solid #111212;}
.left_logo8 {width: 51px;height: 44px;background-color: #1B1D1D;position: relative;float: left;border-bottom: 1px solid #111212;}
.left_logo10 {width: 41px;height: 35px;background-color: #1B1D1D;position: relative;float: left;border-bottom: 1px solid #111212;}
/* TITRE */
.right_titre6 {width: 252px;height: 59px;background-color: #282A2B;position: relative;float: left;border-bottom: 1px solid #1B1D1D;}
.right_titre8 {width: 260px;height: 44px;background-color: #282A2B;position: relative;float: left;border-bottom: 1px solid #1B1D1D;}
.right_titre10 {width: 270px;height: 35px;background-color: #282A2B;position: relative;float: left;border-bottom: 1px solid #1B1D1D;}
#col_droite .right_titre6 {width: 239px;height: 56px;}
#col_droite .right_titre8 {width: 247px;height: 42px;}
#col_droite .right_titre10 {width: 257px;height: 33px;}
#col_droite_portail .right_titre6 {width: 259px;height: 56px;}
#col_droite_portail .right_titre8 {width: 267px;height: 42px;}
#col_droite_portail .right_titre10 {width: 277px;height: 33px;}
/* IMAGE */
.image_webtv6 {width: 36px;height: 36px;left: 50%;top: 50%;position: absolute;transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}
.image_webtv8 {width: 30px;height: 30px;left: 50%;top: 50%;position: absolute;transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}
.image_webtv10 {width: 24px;height: 24px;left: 50%;top: 50%;position: absolute;transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}
/*.horaire_webtv6 {width: 0px; height: 57px;border-right: 1px solid #333333;border-bottom: 1px solid #333333;border-top: 1px solid #333333;}
.horaire_webtv8 {width: 0px; height: 43px;border-right: 1px solid #333333;border-bottom: 1px solid #333333;border-top: 1px solid #333333;}
.horaire_webtv10 {width: 0px; height: 35px;border-right: 1px solid #333333;border-bottom: 1px solid #333333;border-top: 1px solid #333333;}*/
/* EMISSIONS */
.ellipsis6 {padding: 16px 0px 0px 10px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;max-width: 92%;color:#848A8D;}
.ellipsis8 {padding: 13px 0px 0px 10px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;max-width: 95%;color:#848A8D;}
.ellipsis10 {padding: 10px 0px 0px 10px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;max-width: 95%;color:#848A8D;}
/*.emission_webtv6 {width: 311px;height: 60px;}
.emission_webtv8 {width: 311px;height: 45px;}
.emission_webtv10 {width: 311px;height: 36px;}
#col_droite .emission_webtv {width: 282px;}
#col_droite_portail .emission_webtv {width: 302px;}*/
.enLive {float: left;background-color: #2D2D2D;width: 311px;border-style:solid;border-color: #000000;border-left: 1px solid #000000;border-top: 1px solid #4E5051;}
#col_droite .enLive {width: 298px;}
#col_droite_portail .enLive {width: 318px;}
.jeu_tv6{color: #FFFFFF;text-shadow: 1px 1px #000000;font-size: 14px;/*padding: 16px 0px 0px 10px;*/font-family: 'Roboto';position:relative;bottom:2px;}
.jeu_tv8{color: #FFFFFF;text-shadow: 1px 1px #000000;font-size: 14px;/*padding: 13px 0px 0px 10px;*/font-family: 'Roboto Condensed'}
.jeu_tv10{color: #FFFFFF;text-shadow: 1px 1px #000000;font-size: 12px;/*padding: 10px 0px 0px 10px;*/font-family: 'Roboto'}
.titre_webtv6 {color: #848A8D;font-size: 12px;text-shadow:1px 1px #000000;}
.titre_webtv8 {color: #848A8D;font-size: 12px;text-shadow:1px 1px #000000;}
.titre_webtv10 {color: #848A8D;font-size: 12px;text-shadow:1px 1px #000000;}
.tooltip_webtv {width: 500px;padding:12px;display: none;background-color: #FFFFFF;border: 4px solid #CCCCCC;z-index: 10000;
-webkit-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.38);
-moz-box-shadow:    0px 0px 19px rgba(0, 0, 0, 0.38);
box-shadow:         0px 0px 19px rgba(0, 0, 0, 0.38);}
.tooltip_coin_bulle {position: absolute;right: -21px;top: 73px;}
.popup_jeu {font-size: 140%;letter-spacing: -1px;}
.popup_titre{color: #000000;font-size: 140%;}
.popup_synopsis {line-height: 116%; font-size: 120%}
#cm_eng {width: 728px;margin: auto;}
/* FIN module Web TV */

/* module LIVEPLAY HP */
#livePlayMini .dates{line-height:125%;float: right;}
#livePlayMini .programme{float: left;width: 230px}
#livePlayMini .module-header{border-top-color: #F04A23;}
#livePlayMini .live{position: relative; border-bottom: 1px solid #D0D3D3; padding: 5px 0;}
#livePlayMini img.logo{float: left; width: 16px; height: 16px; display: block; margin-right: 6px; overflow: hidden; margin-top: 5px;}
#livePlayMini .sprite-live-png{position: absolute; right: -6px; top: 9px;}
#livePlayMini .live h3{font-weight: bold;}
#livePlayMini .live h3 .jeu{color: #0697D0; text-transform: uppercase; display: block; margin-bottom: 1px;}
#livePlayMini .live h3 {color: #010101; font-size: 140%; }
#livePlayMini .live h3 a{color: inherit;}
/* FIN module LIVEPLAY HP */


/* Liste news */
#moduleActualite {position: relative;}
#menu_liste_actu {background: url('/images/layout/menu_actu.png') no-repeat center top transparent; width: 52px; height: 26px;margin-top: 2px;cursor: pointer;margin-right: 12px;}
#menu_liste_actu:hover {background-image: url('/images/layout/menu_actu_ro.png')}
#moduleActualite .module-header div.dropdown {right: 0;top: 29px}
.menu_actu_essentiel_default {display:inline-block;width:86px;height:23px;background-color:#e0e5e8;color:#282a2b; text-align: center;line-height:23px;font-size:14px; font-family: 'Coda';margin-right: 7px;margin-left: 10px;position:relative;top:3px;cursor:pointer}
.menu_actu_essentiel_default:hover{background-color:#ecf1f4}
.menu_actu_essentiel_selected {display:inline-block;width:86px;height:23px;background-color:#282a2b;color:#fefefe;text-align: center;line-height:23px;font-size:14px; font-family: 'Coda';margin-right: 7px;margin-left: 10px;position:relative;top:3px;} 
.menu_actu_integral_default {display:inline-block;width:77px;height:23px;background-color:#e0e5e8;color:#282a2b; text-align: center;line-height:23px;font-size:14px; font-family: 'Coda';position:relative;top:3px;cursor:pointer}
.menu_actu_integral_default:hover{background-color:#ecf1f4}
.menu_actu_integral_selected {display:inline-block;width:77px;height:23px;background-color:#282a2b;color:#fefefe;text-align: center;line-height:23px;font-size:14px; font-family: 'Coda';position:relative;top:3px;} 
#moduleActualite .module-header li {cursor: pointer;border-left-width: 0;}
li.actu {padding: 12px 0 12px 0;border-bottom: 1px solid #E5E6E7;}
li.actu:hover {background-color: #F1F1F5;}
.titre_liste_news {font-size: 190%;}
.img_une_news {width: 190px;height: 109px;margin-right: 10px;display: block;border: 5px solid #cfd7dc;float: left;}
.img_anpl_news {width: 110px;height: 55px;margin-top: 5px; margin-right: 5px; margin-bottom: 5px;}
.synopsis {margin-bottom: 4px;overflow:hidden;height: 51px;}
.synopsis, .titre_ct_lie{font-size: 120%;line-height: 136%;}
.synopsis, .img_une_news, .img_anpl_news{cursor: pointer;}
p.readmore {background-color: #0098cb; color: white;border-top: 1px solid #38ceff;line-height: 19px; text-align: center;font-family: 'Coda', cursive;font-size: 120% ;}
div.readmore{width: 75px; height: 20px;border: 1px solid #007197;cursor: pointer;}
.ct_lie li {margin-bottom: 3px;}
a.titre_ct_lie {color: #231F20;padding: 0 5px;}
.titre_ct_lie:hover, #rechercheQResult li:hover {color: #FFFFFF;background-color: #0098CB;}
.anymore {margin-top: 10px;}
.loading, .nomore {font-family: Coda,cursive;font-size: 120%;padding: 10px 0;}
#moduleActualite .module-footer {text-align: center;}
/* FIN  Liste news */

/* TDW */
.header_tdw {background-color: #231F20;position: relative;padding: 8px 3px;}
.header_tdw_titre {color: #FFFFFF; font-weight: bold;font-size: 140%;}
div.tdw {padding: 7px; margin-bottom: 3px;}
.tdw_pair, .dossier_actu_liee{background-color: #F0F1F1;}
.tdw_impair{background-color: #E5E6E7;}
div.tdw:hover{background-color: #A5A8AB;}
p.tdw{color: #6D6E71;line-height: 122%;margin-bottom: 3px;}
a.tdw {font-size: 120%;line-height: 122%; color: #414042;}
/* FIN TDW */

/* Modules Dossiers */
#col_centrale .module, #col_droite .module_dossier{margin-bottom: 5px;}
#col_centrale {margin-bottom: 15px;}
.dossier{background-color: #FFFFFF;cursor: pointer;overflow: hidden;}
.module_dossier .dossier {min-width: 300px;}
#col_centrale .dossier{min-width:320px} /* Surcharge de la ligne précédente, qui est globale. */
#module_dossiers_lies .dossier{background-color: #231F20;padding: 4px 4px 10px 4px;color: #FFFFFF;width: 230px}
.dossier:hover{background-color: #0098CB;}
#module_dossiers_lies .dossier:hover {background-color: #0098CB;}
.dossier_vignette_host{overflow: hidden;position: relative;width: 100%; height: 108px;}
.dossier_img {width: 100%;vertical-align: bottom;margin-top: -26px;}
.dossier_categorie, .pub_titre{text-transform: uppercase;font-size: 120%;line-height: 117%;padding-top: 6px;}
.dossier .pub_titre {margin-bottom: -6px;}
.dossier .pubContainer {overflow: hidden;}
.dossier .pubContainer img{width: 230px;}
.dossier_titre{font-size: 160%;line-height: 114%;font-family: 'Coda', cursive;}
.dossier_titre_hover {background-color: rgba(0,152,203,0.78); color: #FFFFFF; position: absolute; bottom: 0; left: 0;display: none;font-size: 120%;line-height: 20px;width: 100%;text-align: center;}
.dossier_titre_hover {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ffffff', endColorstr='#ffffff',GradientType=0 );} /* IE6-9 */
/*.dossier:hover .dossier_titre_hover{bottom: 0;}*/
.dossier_lien{color: #000000}
.dossier_actu_liee li, li.a_la_une{overflow: hidden; white-space: nowrap; border-bottom: 1px solid #D0D2D3;padding: 6px 0;}
.dossier_actu_liee li:hover {background-color: #0098CB}
.dossier_actu_liee li:hover a{color: #FFFFFF;}
.dossier_actu_liee p {overflow: hidden;margin:0 5px;}
.dossier_actu_liee_lien{font-size: 140%;line-height: 128%; color: #414042;padding-left:5px;}

/* FIN Modules Dossiers */

/* A la une */
p.a_la_une {font-size: 130%;line-height: 128%;}
li.a_la_une:hover{background-color: #F1F1F5;}
a.a_la_une {color: #414042;}
span.a_la_une {font-weight: bold;}
#moduleALaUne .module-footer {font-size: 170%; background-color: #231F20; height:20px;padding-right: 6px;line-height: 20px;}
#moduleALaUne .module-footer:hover {background-color: #0098CB;}
#moduleALaUne .module-footer:hover a {color: #FFFFFF;}
/* FIN A la une */


/* Module Vidéo / photo */
.mediasTri a{color: inherit;}
.mediasTri li,
.listeMedias li{float: left;}
.mediasTri li{font-size: 110%; color: #A5A8AB;}
.mediasTri .active{color: #059CCD;}
.mediasTri .mediasTitre{color: #595A5C;}
.mediasTri li.pipe{margin: 0 7px;}
#col_droite_portail .listeMedias li { width: 155px;margin: 0 10px 10px 0;}
#col_droite_portail .listeMedias li.last { width: 155px;margin-right: 0;}
#col_droite_portail .vignette {display: inline-block;width: 155px; height: 88px;}
#col_droite .listeMedias li { width: 145px;margin: 0 10px 10px 0;}
#col_droite .listeMedias li.last { width: 145px;margin-right: 0;}
#col_droite .vignette {display: inline-block;width: 145px; height: 82px;}
.titre_video a, .titre_video p {font-size: 110%;}
.titre_video p {font-weight: bold;text-transform: uppercase;}
.vignettelayout {position: relative;}
.vignettelayout .play{position: absolute; bottom: 5px; left: 5px;}
/* FIN Module Vidéo /photo */

/* Module dernier post */
.moduleDerniersPost a{color: inherit;}
.moduleDerniersPost li{border-bottom: 2px solid #E5E6E7; position: relative; padding: 8px 0;}
.moduleDerniersPost li:hover{background-color: #E5E6E7;}
.more{text-align: right; color: #059CCD; font-weight: bold; font-size: 140%; text-transform: uppercase; margin-top: 9px;}
#moduleWebTV .more {margin-top: 0; padding-bottom: 8px; }
.more a {color: inherit;}
.more a:hover {color: #33CCFF;}

/* Blog */
#moduleDerniersPostBlog li{height: 49px; margin-top: 13px; border-bottom-width: 5px;}
#moduleDerniersPostBlog .blog_img{position: absolute; left: 0; bottom: -5px; height: 80px; width: 75px;}
#moduleDerniersPostBlog .blog_creator{height: 17px; line-height: 17px; margin-left: 80px; font-weight: bold; color: #010101; font-size: 150%;}
#moduleDerniersPostBlog .blog_titre{height: 27px; margin-top: 5px; margin-left: 80px; overflow: hidden; color: #424143; font-size: 130%;}

/* Forum */
#moduleDerniersPostForum .forum_titre{color: #424143; font-size: 140%; margin-bottom: 4px;}
#moduleDerniersPostForum .forum_user{color: #808184; font-size: 120%;}
/* Fin module dernier post */

/* Page archives */
#archive_page h1{font-size: 280%; font-family: 'Coda',cursive; text-transform: uppercase; margin-bottom: 17px;}
#archive_page h1 #libelle_site{color: #0799CC;}
#archive_content .archive_jour{color: #231F20; font-size: 150%; font-weight: bold; margin-top: 25px; padding-bottom: 4px; border-bottom: 1px solid #D1D2D3;}
#archive_content .archive_container{width: 49%;}
#archive_content .archive_container li:hover{background-color: #FFE5CB;}
#archive_content .archive_container_left{float: left;}
#archive_content .archive_container_right{float: right;}
#archive_content .archive_une{height: 44px; overflow: hidden; border-bottom: 1px solid #D1D2D3; padding: 11px 0;}
#archive_content .archive_une_vignette{float: left; margin-right: 3px; width: 80px; height: 44px; display: block;}
#archive_content .archive_une_date{color: #929497; font-size: 90%; margin-bottom: 5px;}
#archive_content .archive_une_titre{color: #010101; font-size: 120%;}
#archive_content .archive_une_titre a{color: #010101;}
#archive_content .archive_actu{height: 16px; line-height: 16px; overflow: hidden; font-size: 120%;}
#archive_content .archive_actu_date{color: #929497;}
#archive_content .archive_actu_titre{color: #424143;}
#archive_content .important .archive_actu_titre{color: #FC5300;}
#archive_content .commercial .archive_actu_titre{color: green;}
/* Fin page archive */

/* Module recherche archive */
#recherche_archives{background-color: #F3F3F3; border: 6px solid #D1D2D3; padding: 10px 7px;}
#recherche_archives #ra_jeux{float: left; margin-top: -4px;}
#recherche_archives #ra_jeux li{border-bottom: 1px solid #D1D2D3; padding: 4px 0;}
#recherche_archives #ra_jeux li a{padding-left: 6px; border-left: 2px solid #595A5C; color: #595A5C; font-size: 160%; font-family: 'Coda',cursive; text-transform: uppercase; display: block;}
#recherche_archives #ra_jeux li:hover a,
#recherche_archives #ra_jeux li.active a{color: #0799CC; border-left-color: #0799CC;}
#recherche_archives #ra_form{float: right;}
#recherche_archives #ra_form .ra_form_container{padding: 14px 0; border-bottom: 1px solid #D1D2D3;}
#recherche_archives #ra_form label{display: inline-block; padding: 7px 0; font-weight: bold; font-size: 130%;}
#recherche_archives #ra_form select{width: 209px; float: right; margin-top: 6px; margin-left: 4px;}
#recherche_archives #ra_form .ra_date{width: 47px; border: 1px solid #BBBDBF; vertical-align: -4px; margin: 0 5px; width: 74px;}
#recherche_archives #ra_form .ra_form_container_btn{text-align: center;}
#recherche_archives #ra_form .submit{vertical-align: -4px; background-color: #0799CC; border-top: 1px solid #48C8F5; border-left: 1px solid #48C8F5; border-bottom: 1px solid #0799CC; border-right: 1px solid #0799CC; color: #FFF; font-weight: bold; font-size: 130%; margin-left: 5px;}

/* Fin module recherche archive */

/* Pagination */
.pagination{margin-top: 10px; text-align: center;}
.pagination li{display: inline-block; height: 20px; line-height: 19px; padding: 0 6px; background-color: #E5E6E7; margin-right: -2px;}
.pagination li a{color: #A5A8AB; display: block;}
/* Fin pagination */

/* Page photothèque */
#phototheque_page h1{font-size: 280%; font-family: 'Coda',cursive; text-transform: uppercase; margin-bottom: 17px;}
#phototheque_page h1 #libelle_site{color: #0799CC;}
#phototheque_page #albums_module{margin-bottom: 41px;}
/* Fin page photothèque */

/* Module liste albums photos */
#albums_module .module-header{color: #231F20; font-size: 150%; font-weight: bold; padding-bottom: 4px; border-bottom: 1px solid #DBDCDC;}
#albums_module .module-content .scrollable {position: relative; overflow: hidden; width: 982px; height: 131px;}
#albums_module .module-content .scrollable .items{width: 20000em; position: absolute;}
#albums_module .module-content .scrollable .items ul{float: left; width: 982px;}
#albums_module .items li{width: 140px; height: 116px; float: left; margin-top: 7px; margin-right: 18px; overflow: hidden; background-color: #231F20; padding: 4px;}
#albums_module .items .last{margin-right: 0;}
#albums_module .items li .vignette{display: inline-block; height: 78px; width: 140px; border-bottom: 6px solid #0799CC; margin-bottom: 7px;}
#albums_module .items li a{color: #FFF;}
#albums_module .items li h3{font-size: 130%;}
#albums_module .pagination{text-align: left;}
#albums_module .pagination li{cursor: pointer;}
#albums_module .pagination .disabled{visibility: hidden; cursor: default;}
/* Fin module liste albums photos */

/* Module liste photos */
#photos_module .module-header{color: #231F20; font-size: 150%; font-weight: bold; padding-bottom: 4px; border-bottom: 1px solid #DBDCDC;}
#photos_module .module-content .scrollable {position: relative; overflow: hidden; width: 982px; height: 208px;}
#photos_module .module-content .scrollable .items{width: 20000em; position: absolute;}
#photos_module .module-content .scrollable .items ul{float: left; width: 982px;}
#photos_module .items li{width: 140px; height: 78px; float: left; margin-top: 16px; margin-right: 18px; overflow: hidden; padding: 4px 3px; border: 1px solid #D1D2D3;}
#photos_module .items .last{margin-right: 0;}
#photos_module .items li .vignette{display: inline-block; height: 78px; width: 140px; background-position: center 25%; background-repeat: no-repeat;}
#photos_module .pagination{text-align: left;}
#photos_module .pagination li{cursor: pointer;}
#photos_module .pagination .disabled{visibility: hidden; cursor: default;}
/* Fin module liste albums photos */

/* Module webtv chaine */
#chaineTV{margin-bottom: 0;}
#chaineTV .module-content{background-color: #e0e6ea; color: #000000; position: relative;}
#chaineTV .module-content .scrollable{
	position: relative; 
	overflow: hidden; 
	height: 61px; 
	border: 1px solid #a0a8ae;
    box-shadow: inset 1px 1px 0px 0px #ffffff,
            inset -1px -1px 0px 0px #ffffff;
    margin-top: -1px;
}
#chaineTV .module-content .scrollable .items{width: 20000em; position: absolute;}
#chaineTV .module-content ul{float: left;}
#chaineTV .module-content li{float: left;}
#chaineTV .module-content li div{}
#chaineTV .module-content li p{}
#chaineTV .module-content li p.liveplay {color: #fcb800;}
#chaineTV .module-content li h1{font-size: 270%; font-family: 'Coda',cursive; letter-spacing: -1px; line-height: 22px; height: 22px; overflow: hidden;}
#chaineTV .module-content li h1 a{}
#chaineTV .module-content li.liveplay {border-bottom: 5px solid #fcb800;}
#chaineTV .module-content .active{}
#chaineTV .module-content .active p{}
#chaineTV .module-content .button{cursor: pointer; position: absolute; top: 0; bottom: 5px; font-weight: bold; font-size: 200%; height: 51px; line-height: 51px; padding: 0 2px; width: 15px;}
#chaineTV .module-content .button.disabled{cursor: default;}
#chaineTV .module-content .button.prev{left: 0; border-right: 1px solid #0098CC;}
#chaineTV .module-content .button.next{right: 0; text-align: right;}
/* Fin Module webtv chaine */

/* Module webtv programme chaine */
#programmeChaineTV .module-content{}
#programmeChaineTV .module-content .table{width: 100%;}
#programmeChaineTV .module-content .table-cell{vertical-align: top; padding: 9px 0; border-bottom:  1px solid #D0D1D3;}
#programmeChaineTV .module-content .programme .table-cell{border-bottom-width: 0;}
#programmeChaineTV .module-content .colTitle{color: #231F20; font-size: 200%; font-family: 'Coda',cursive;}
#programmeChaineTV .module-content .en_cours .colTitle,
#programmeChaineTV .module-content .a_venir .colTitle{width: 133px;text-transform:uppercase;}
#programmeChaineTV .module-content .en_cours .colDates,
#programmeChaineTV .module-content .a_venir .colDates{text-align: right;}
#programmeChaineTV .module-content .en_cours .colDates .border,
#programmeChaineTV .module-content .a_venir .colDates .border{border-right: 1px solid #7F7F81; padding-right: 5px;}
#programmeChaineTV .module-content .en_cours .colProg,
#programmeChaineTV .module-content .a_venir .colProg{width: 529px; padding-left: 5px;}
#programmeChaineTV .module-content .en_cours .colProg h2,
#programmeChaineTV .module-content .a_venir .colProg h2{font-weight: bold; font-size: 110%;}
#programmeChaineTV .module-content #programme{display: none;}
#programmeChaineTV .module-content .programme .colTitle{width: 183px;text-transform:uppercase;}
#programmeChaineTV .module-content .programme .colDates{width: 211px;}
#programmeChaineTV .module-content .jours{border-right: 1px solid #D0D1D3; padding-right: 2px; margin-right: 14px;}
#programmeChaineTV .module-content .jours li{height: 14px; line-height: 13px; border-bottom:  1px solid #D0D1D3; font-weight: bold; text-transform: uppercase; padding: 5px 0; cursor: pointer;}
#programmeChaineTV .module-content .jours li p{padding-left: 5px; border-left: 2px solid #808183; color: #808183;}
#programmeChaineTV .module-content .jours .active{background-color: #0098CC; border-bottom-width: 0;}
#programmeChaineTV .module-content .jours .active p{border-left-width: 0; padding-left: 7px; color: #FFF;}
#programmeChaineTV .module-content .programmes_journee{display: none;}
#programmeChaineTV .module-content .programmes_journee.active{display: block;}
#programmeChaineTV .module-content .programmes_journee li{margin: 4px 0;}
#programmeChaineTV .module-content #displayProg{border-top: 7px solid #D0D1D3; height: 20px; line-height: 19px; color: #2EB7E1; background-color: #231F20; text-align: center; margin: -1px -9px -9px -9px; cursor: pointer;}
/* Fin Module webtv programme chaine */

/* Module Feature TV */
#TVFeatures .module-content {
	width: 321px;
}
/* Fin Module Feature TV */

/* Module webtv emissions */
.emissions{background-color: #F3F3F3; border: 7px solid #D0D1D3; padding: 9px;}
.emissions .module-header .title{color: #211F20; font-size: 200%; font-family: 'Coda',cursive;}

/* Affichage en ligne */
.emissionsLine .module-content .live{border-bottom:  1px solid #D0D1D3; height: 60px; margin-top: 10px;}
.emissionsLine .module-content img{float: left; width: 105px; height: 59px; border-left: 1px solid #D0D1D3; border-top: 1px solid #D0D1D3; border-right: 1px solid #D0D1D3; display: block; margin-right: 12px;}
.emissionsLine .module-content .dates{float: right; height: 60px; border-right: 1px solid #D0D1D3; margin-right: 10px; position: relative; margin-top: -5px;}
.emissionsLine .module-content .dates .sprite-live-png{position: absolute; right: -6px; top: 20px;}
.emissionsLine .module-content .dates .date_debut,
.emissionsLine .module-content .dates .date_fin{margin-right: 5px; text-align: right;}
.emissionsLine .module-content .dates .date_debut{margin-top: 20px;}
.emissionsLine .module-content .programme{margin-top: 13px; width: 664px;}
.emissionsLine .module-content .programme h3{font-weight: bold; font-size: 110%;}
.emissionsLine .module-content .programme h3 .jeu{color: #0697D0; text-transform: uppercase;}
.emissionsLine .module-content .programme h3 a{color: #010101;}
.emissionsLine .module-content .a_venir{display: none;}
.emissionsLine .module-content .displayEmissions{border-top: 7px solid #D0D1D3; height: 20px; line-height: 19px; color: #2EB7E1; background-color: #231F20; text-align: center; margin: -1px -9px -9px -9px; cursor: pointer;}

/* Affichage en tableau */
.emissionsArray .module-content .programme{float: left; width: 145px; height: 112px; margin-right: 46px; margin-top: 20px; position: relative;}
.emissionsArray .module-content .programme.last{margin-right: 0;}
.emissionsArray .module-content img{width: 145px; height: 64px; display: block; margin-bottom: 15px;}
.emissionsArray .module-content .bandeau{font-size: 90%; color: #BBBDBF; background-color: #231F20; height: 10px; line-height: 10px; padding: 1px; position: absolute; left: 0; right: 0; top: 64px;}
.emissionsArray .module-content .bandeau.live{top: 59px; border-top: 5px solid #E95A1B;}
.emissionsArray .module-content .viewers{float: right;}
.emissionsArray .module-content .jeu{color: #0599CC; font-size: 110%; font-weight: bold;}
.emissionsArray .module-content h3 a{color: #6E6F72;  font-size: 110%;}


/* Article */
#content_container {padding-left: 5px; background-color: #FFFFFF;}
#titreActu {font-size: 280%; font-family: 'Coda',cursive;margin-top: 6px;}
#soustitreActu {font-size:110%;font-family: 'Coda',cursive;}
#sommaireActu ul {vertical-align: top; width: 313px; line-height: 130%}
#sommaireActu {font-size: 120%;margin-top: 7px;}
#sommaireActu h5 { margin-bottom: 4px; padding-bottom: 4px;font-weight: bold;font-family: 'Coda',cursive;font-size: 140%}
#sommaireActu ul li { padding: 2px 0;}
#sommaireActu a { color: #333333;}
#sommaireActu .active { color: #0098CB; font-weight: bold;}
#sommaireActu a:hover { text-decoration: underline;}
.page_num_sommaire {float:left;margin-right: 3px;}
.titre_page_sommaire {float:left;width: 293px;}
#corpsActu {font-family: arial,sans-serif; font-size: 130%;line-height: 153%;margin-top: 7px; margin-bottom: 10px;}
#actu_reseauxsociaux{margin-bottom: 10px;}
#content_container .mil_commentaire{margin-top: 11px;}
#corpsActu p {margin-bottom: 12px; text-align: justify;}
#corpsActu .tinyVideoActu { display: block;  position: relative;}
#corpsActu .videoCenter { margin: auto;}
#corpsActu .videoLeft { float: left;  margin: 5px 5px 5px 0;}
#corpsActu .videoRight {float: right;  margin: 5px 0 5px 5px;}
#corpsActu .tinyVideoActu .play {bottom: 5px; left: 5px; position: absolute;}
#corpsActu .loadingLayoutActu {display: none; margin: 10px auto 0;}
#corpsActu .videoLayoutActu {display: none;}
#corpsActu .videoLayoutFermer {display: none; height: 20px; padding-left: 5px;}
#corpsActu .vignetteLayoutActu {cursor: pointer;}
#corpsActu .videoLayoutFermer { background-color: #000000; color: #FFFFFF; cursor: pointer; font-size: 0.87em;}
#corpsActu h2,#corpsActu h3 {font-weight: bold;line-height: 110%;}
#corpsActu h2 {font-size: 140%;}
#corpsActu h3 {font-size: 120%}
#corpsActu td {vertical-align: middle;}
#corpsActu table {border-collapse: separate;}
#corpsActu img, #corpsActu a {vertical-align: inherit;}
/* FIN Article */


/** initial setup **/


/* Module auteur */
#module_auteur a{color: inherit; padding: 3px 7px 3px 4px;}
#module_auteur a:hover{color: #FFFFFF;background-color: #0098CB;}
#module_auteur .auteur_titre{color: #010101; font-size: 110%; margin-bottom: 5px;}
#module_auteur .auteur_container{background-color: #F1F1F1; padding: 5px;}
#module_auteur .auteur_photo{margin-right: 9px;}
#module_auteur .auteur_photo img{width: 66px; height: 66px; border: 1px solid #44429A; display: block;}
#module_auteur .auteur_details{width: 580px;}
#module_auteur .auteur_pseudo{font-size: 140%; font-weight: bold; color: #44429A;}
#module_auteur .auteur_presentation{color: #6E6F72; font-size: 120%; line-height: 19px; margin-top: 6px;}
#module_auteur .auteur_link{color: #231F20; font-size: 120%; margin-top: 10px;}
/* Fin module auteur */

/* Module article similaire */
#module_memeSujet{width: 361px;}
#module_memeSujet .module-header{border-top-width: 0;}
#module_memeSujet a{color: inherit;}
#module_memeSujet #memeSujet_description{font-size: 110%; color: #6E6F72;}
#module_memeSujet .memeSujet_item{font-size: 140%; font-family: 'Coda',cursive; color: #231F20; height: 14px; overflow: hidden; margin-top: 12px; border-left: 5px solid #0799CC; padding: 4px 0 2px 5px;}
#module_memeSujet .memeSujet_item:hover{background-color: #F1F1F5;}
/* Fin module */

/* Module navigation */
#module_navigation{margin-top: 10px;}
#module_navigation a{color: inherit;}
#module_navigation .actuNav_item{width: 50%;}
#module_navigation #actuNav_suiv{text-align: right;}
#module_navigation .actuNav_titre{text-transform: uppercase; color: #929497; margin-bottom: 4px;}
#module_navigation .actuNav_actu{padding: 2px 0; font-size: 120%; color: #424143;}
#module_navigation .actuNav_actu:hover, #module_navigation .actuNav_actu:hover .link{background-color: #0799CC; color: #FFF;}
#module_navigation #actuNav_suiv .actuNav_actu{border-right: 5px solid #0799CC; padding-right: 4px;}
#module_navigation #actuNav_prec .actuNav_actu{border-left: 5px solid #0799CC; padding-left: 4px;}
/* Fin module navigation */

/* Module connexion bloc*/
#formNonConnecteBloc-design{padding: 10px; background-color: #EFEFEF; border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
#formNonConnecteBloc-design .titre{margin-bottom: 10px; font-weight: bold;}
#formConnexionBloc form>div{float: left; padding-right:17px; height: 24px; line-height: 24px;}
#formConnexionBloc form>div.clear{float: none; height: 12px;}
#formConnexionBloc input[type=text], #formConnexionBloc input[type=password]{width: 110px;}
#formInscriptionBloc{margin-top: 24px;}
#formInscriptionBloc .hidden{display: none;}
#formInscriptionBloc .bloc{margin-bottom: 10px;}
#formInscriptionBloc input[type=text], #formInscriptionBloc input[type=password]{width: 180px;}
#formInscriptionBloc .password>div, #formInscriptionBloc .email>div{float: left; padding-right: 30px;}
#formInscriptionBloc .password>div.clear, #formInscriptionBloc .email>div.clear{float: none;}
#formInscriptionBloc input[type=reset]{margin-left: 10px;}
#formConnexionBloc a{color: #000;}
#formNonConnecteBloc-design a:hover{text-decoration: underline;}
#formNonConnecteBloc-design .submit{vertical-align: 1px;}
#formNonConnecteBloc-design #overlay_reglement{height:500px; display:none; width: 700px; background-color: #FFF;}
#formNonConnecteBloc-design div.contentWrap{height:490px; overflow-y:auto; padding: 10px;}
#formNonConnecteBloc-design div.contentWrap p, #formNonConnecteBloc-design div.contentWrap ul{margin-bottom: 10px;}
/* Fin module connexion bloc*/

/* Module commentaires */
#reagissez .module-header{border-top-color: #E5E6E7;}
/* Formulaire */
#reagissez .comment_errors li{font-weight: bold; color: red; margin-bottom: 5px; text-align: left;}
#reagissez .w{position: relative; border: 10px solid #BBBDBF;}
#reagissez .addComment{text-align: right;}
#reagissez #new_comment_label{position: absolute !important; top: 9px !important; left: 8px !important; font-size: 150% !important; color: #808184 !important; font-family: inherit !important;}
#reagissez #new_comment{border: 1px solid #929496; width: 634px; height: 88px; margin: 0; padding: 9px 8px;}
#reagissez #send_new_comment{margin-top: 10px;}

/* Liste des commentaires */
#reagissez .comment_li{padding: 15px 6px; border-bottom: 1px solid #E5E6E7;}
#reagissez .comment_li.canEdit{padding-bottom: 0;}
#reagissez .comment_li:hover{background-color: #F1F1F1;}
#reagissez .comment_li a{color: inherit;}
#reagissez .comment_avatar_design{width: 51px; float: left; min-height: 1px; margin-right: 8px;}
#reagissez .comment_avatar_design span{border: 1px solid #BBBDBF; width: 46px; height: 46px; display: block;}
#reagissez .comment_avatar{background-position: center 25%; background-repeat: no-repeat;}
#reagissez .comment_layout{float: left;}
#reagissez .comment_li .comment_user{color: #44429A; font-size: 130%; font-weight: bold;}
#reagissez .comment_dates{font-size: 90%; color: #808184;}
#reagissez .comment_design{padding: 6px; margin-top: 2px; width: 589px;}
#reagissez .comment_message{font-size: 120%; line-height: 133%;}
#reagissez .comment_design{color: #424143;}
#reagissez .comment_btn{float: right; height: 13px; line-height: 13px; border: 1px solid #424143; padding: 0 4px; color: #0599CC; background-color: #231F20; text-transform: uppercase; visibility: hidden;}
#reagissez .comment_li:hover .comment_btn{visibility: visible;}
#reagissez .comment_browse{text-align: right;margin-top: 10px}
/* Fin module commentaire */

/* Page tous les commentaires */
#page_commentaires #titre{font-size: 280%; font-family: 'Coda',cursive; text-transform: uppercase; margin-bottom: 17px;}
#page_commentaires #retour{margin-bottom: 10px;}
/* Fin page tous les commentaires */

/* Page jeux */
.page_jeux .hidden{display: none;}
.page_jeux #filtres_loupe{float: left; background-color: #0799cc; margin-right: 6px;}
.page_jeux #filtres_loupe .sprite{display: block; padding: 3px;}
.page_jeux #filtres{border-bottom: 1px solid #D1D2D3; margin-bottom: 8px; padding-bottom: 9px;}
.page_jeux #filtres_titre{border: 1px solid #D1D2D3; padding: 6px 10px; width: 192px; height: 22px; font-family: inherit; font-size: 140%;}
.page_jeux .filtre_label{color: #D1D2D3 !important; font-size: 140% !important; top: -2px !important;}
.page_jeux .jeux_liste{padding-left: 26px; position: relative; margin-bottom: 1px;}
.page_jeux .jeux_liste a{color: inherit;}
.page_jeux .jeux_liste li{font-size: 140%; font-family: 'Coda',cursive; text-transform: uppercase;}
.page_jeux .jeux_item{color: #595A5C; height: 14px; padding: 4px 0 4px 8px; overflow: hidden;}
.page_jeux .jeux_lettre{position: absolute; left: 0; top: 0; bottom: 0; background-color: #F1F1F1; width: 26px; text-align: center; color: #A6A8AC; padding-top: 3px;}
/* Fin page jeux*/

/* Page webtv */
.page_webtv .webtv_colonneDroite{width: 300px;}
/* Fin page webtv */

/* Module plus lus/ plus commenté */
#modulePlus a{color: inherit;}
#modulePlus .actuPlus_tab{float: left; font-weight: bold; font-size: 145%; cursor: pointer; margin-bottom: 12px; border-bottom: 1px solid #B9BABC; height: 53px; width: 149px; text-transform: uppercase; letter-spacing: -1px;}
#modulePlus .actuPlus_tab h2, #modulePlus .actuPlus_tab p{border-top: 6px solid #A5A8AB; padding: 9px 0 8px 10px;}
#modulePlus .actuPlus_tab.current{border-bottom-width: 0;}
#modulePlus .actuPlus_tab.current h2, #modulePlus .actuPlus_tab.current p{border-top-color: #089CCD;}
#modulePlus .actuPlus_tabLeft h2, #modulePlus .actuPlus_tabLeft p{margin-right: 5px;}
#modulePlus .actuPlus_tabLeft.current h2, #modulePlus .actuPlus_tabLeft.current p{margin-right: 0;}
#modulePlus .actuPlus_tabLeft.current{border-right: 1px solid #B9BABC;}
#modulePlus .actuPlus_tabRight{width: 150px;}
#modulePlus .actuPlus_tabRight h2, #modulePlus .actuPlus_tabRight p{margin-left: 5px;}
#modulePlus .actuPlus_tabRight.current h2, #modulePlus .actuPlus_tabRight.current p{margin-left: 0; padding-left: 15px;}
#modulePlus .actuPlus_tabRight.current{border-left: 1px solid #B9BABC;}
#modulePlus #actuPlus_panesCommentes{display: none;}
#modulePlus .actuPlus_pane li{padding: 7px 0; height: 40px; overflow: hidden;}
#modulePlus .actuPlus_pane li.first{margin-top: 0;}
#modulePlus .actuPlus_pane li:hover{background-color: #F1F1F5;}
#modulePlus .actuPlus_pos_container{margin-right: 10px; position: relative; padding-right: 23px;}
#modulePlus .actuPlus_pos{font-size: 210%; color: #424143; position: relative; padding-right: 2px;}
#modulePlus .actuPlus_pos_span{position: relative; z-index: 3;}
#modulePlus .sprite-barre_oblique-png{position: absolute; right: -13px; top: 8px; z-index: 2;}
#modulePlus .actuPlus_comment{position: absolute; top: 15px; right: 0;}
#modulePlus .actuPlus_titre_container{margin-top: 12px;}
#modulePlus .actuPlus_jeu{font-size: 90%; line-height: 122%; color: #0098CB; text-transform: uppercase; font-weight: bold;}
#modulePlus .actuPlus_titre{font-size: 130%; color: #595A5C;}
/* Module plus lus/ plus commenté */

/* Page mentions légales */
#MentionsLegales p{line-height: 14px;}
#MentionsLegales .bold{margin-top: 15px;}
/* Fin page mentions légales */
#tester {display:none;}

/* Module redirforums */
.forumjv {clear: both;}
.forumjv .forumjv_vignette {font-size: 0px;}
.forumjv .link {position: relative; font-family: 'Coda', cursive; font-size: 15px; color: #000; margin-left: 12px; text-transform: uppercase; margin-bottom: 12px;}
.forumjv .link:before {display: block; width: 5px; height: 11px; background-image:url('http://static.mnium.org/images/modules/redirforums/arrow-overwatch.png'); content: ''; position: absolute; top: 1px; left: -12px;}
.forumjv .description {font-family: Roboto; font-size: 13px; color: #58595B; margin-bottom: 12px; line-height: 1.5em;}
a.readmore {display: block; background-color: #0098cb; color: white;border-top: 1px solid #38ceff;line-height: 19px; text-align: center;font-family: 'Coda', cursive;font-size: 120% ;}

