@charset "UTF-8";

.mini_une_hover {bottom: -20px;display: block;}
div.mini_une:hover .mini_une_hover {bottom: 0;}

.dossier_titre_hover {bottom: -20px;display: block}
.dossier:hover .dossier_titre_hover{bottom: 0;}

	