/* 15-Dec-16 18:31 */
div, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    width: 100% !important;
    max-width: 100% !important;
    clear: both !important;
    float: none !important;
    position: relative !important;
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
}
body *, h1, h2, h3, h4, h5, h6, a {
  color: #000000 !important;
}
#nav-main, #nav-meta, .helper-navigation, .navigation, .top, ul.lv1, ul#nav-ftbreadcrumb, .back-to-top, .stage.has-big-stage, .stage.has-small-stage, .stage {
  display: none !important;
  visibility: hidden !important;
}
#content {
  clear: both !important;
  margin: 100px auto 0 !important;
}
.container {
  clear: both !important;
  float: none !important;
}
.container:after {
  clear: both;
  content: "";
  display: block;
  float: none;
  height: 0;
  visibility: hidden;
}
h2 {
  font-size: 20px !important;
}
* {
  background-color: #FFFFFF !important;
  overflow: visible !important;
}
img {
  display: block !important;
  max-width: 100% !important;
}
.w25, .w33, .w50, .w100 {
  display: block !important;
  float: none !important;
  margin: 0 0 20px !important;
  width: 100% !important;
}
#footer { display: none; }
#footer > div {
  padding: 0 !important;
}
#footer .col-1-1.w100, #footer #social-media-links, .deeplink-navigation, #nav-footer {
  display: none !important;
}
.mis .page-headline {
  font: 26pt/30pt Arial,sans-serif !important;
  margin-bottom: 28px !important;
}
.mis .text {
  font: 15pt/19pt Arial,sans-serif !important;
  margin-bottom: 0 !important;
}
.mis span.meta {
  display: block !important;
  margin-bottom: 10px !important;
}
.mis .footnote {
  font-size: 12px !important;
}
.mib {
  clear: both !important;
  float: none !important;
  margin: 20px 0;
}
.mmt {
  clear: both !important;
  float: none !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  page-break-inside: avoid;
}
.mmt:after, .container:after {
  clear: both;
  content: "";
  display: block;
  float: none;
  height: 0;
  visibility: hidden;
}
.w100 .mmt .media, .mmt.infographic .media, .mmt.infographic .w50, .mmt.with-media.right.infographic .media, .mmt.with-media.right.infographic .col-2-1.w50 {
  display: block !important;
  margin-right: 0 !important;
  width: 100% !important;
}
.w50 .mmt .media, .w33 .mmt .media, .w25 .mmt .media, .w100 .mmt.left .media {
  display: block !important;
  float: left !important;
  margin-right: 2% !important;
  page-break-after: avoid;
  width: 25% !important;
}
.w100 .mmt.left .w50, .w50 .mmt .w50, .w33 .mmt .w50, .w25 .mmt .w50 {
  float: right !important;
  margin: 0 !important;
  page-break-inside: avoid;
  width: 70% !important;
}
.w100 .mmt.right .media {
  display: block !important;
  float: right !important;
  margin: 0 !important;
  width: 25% !important;
}
.w100 .mmt.right .w50 {
  float: left !important;
  margin: 0 !important;
  width: 70% !important;
}
.mmt .col-2-2.w50 {
  display: none !important;
}
.mmt figcaption, .mmt figcaption p {
  font-size: 9pt !important;
  line-height: 11pt !important;
}
.mgal div {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mgal-wrapper, .mgal-navigation {
  display: none !important;
}
.mgas {
  display: none !important;
}
.mak-entry {
  display: none !important;
}
.mak-entry.open {
  display: block !important;
}
.mtn-entry {
  display: none !important;
}
.mtn-entry.active {
  display: block !important;
}
/* added 06.05.14 */
.toolbox-navigation {
  display: none !important;
}
.identifier-and-logo .menu-toggle-button, .breadcrumb-navigation, span.meta, .search-wrapper {
  display: none !important;
}
.identifier-and-logo .logo img {
  margin-right: 30px;
  width: 70px !important;
  height: 70px !important;
}
.identifier-and-logo {
  position: relative !important;
  float: right;
}
.cross-navigation-ul-wrapper {
  display: none !important;
}
.flyout-navigation-wrapper {
  display: none !important;
}
.cross-navigation > a.prev {
  display: none !important;
}
.cross-navigation > a.next {
  display: none !important;
}
/* RWD PFB */
.custom-stage .stage-content .module-stage-gk .mobile-image, 
.custom-stage .stage-content .module-stage-gk .custom-button { display: none; }
.custom-stage ul.stage-slider li.stage-element .stage-content,
.custom-stage .stage-content .module-stage-gk, 
.custom-stage .stage-content .module-stage-gk * { background-color: transparent !important; }
.custom-stage .text-holder h1 { font-size: 40px; }
.custom-stage { margin-bottom: -100px; }
.custom-stage ul.stage-slider {
    transform: none !important;
}
.custom-stage ul.stage-slider li.stage-element {
    display: block !important;
}
.custom-stage.h-400-stage-gk {
    height: auto !important;
}
.custom-stage ul.stage-slider li.stage-element > img {
    position: relative !important;
    height: auto !important;
    width: 800px !important;
}
.custom-stage ul.stage-slider {
    height: auto !important;
    position: relative !important;
}
.custom-stage .stage-content .module-stage-gk .text-holder {
    position: relative !important;
}
.investmentBox { border: none !important; }
/* PFB2.0 */
.page-content-wrapper.pfb-footer-link-list-wrapper,
.pfb-main-footer #feedback-footer,
.pfb-main-footer #blur-container-footer .pfb-blur-container-static-container li,
ul.pfb-bullets,
#header_more_options,
.pfb-main-stage-module .pfb-home-stage .pfb-home-slide-container ul.pfb-home-slide-list li.pfb-stage-slide .background,
.pfb-controls,
.pfb-button,
div.external-link-warning {
    display: none !important;        
}
.pfb-main-footer #blur-container-footer .pfb-blur-container-static-container li:first-child {
    display: block !important;
    border-top: none;
}
.pfb-main-stage-module .pfb-home-stage .pfb-home-slide-container {
    /*height: 100% !important;*/
}
.pfb-main-stage-module .pfb-home-stage .pfb-home-slide-container ul.pfb-home-slide-list {
    left: 0 !important;
    /*height: 100% !important;*/
}
.pfb-main-stage-module .pfb-home-stage .pfb-home-slide-container ul.pfb-home-slide-list li.pfb-stage-slide {
    opacity: 1 !important;
    position: static;
    z-index: 3 !important;
    left: 0 !important;
    height: 0 !important;
}
div.pfb-editorial-module div.pfb-editorial-wrapper div.pfb-editorial-content ul.pfb-editorials-slider-wrapper li.pfb-editorials-slider-page {
    float: none;
}
div.pfb-editorial-module div.pfb-editorial-wrapper div.pfb-editorial-content ul.pfb-editorials-slider-wrapper {
    height: auto;
}
.pfb-generic-tile {
    max-width: none;
}
.pfb-editorial-wrapper div.pfb-editorial-content {
    background: none !important;
    padding: 0 74px; 
}
 div.pfb-editorial-module div.pfb-editorial-wrapper div.pfb-editorial-content ul.pfb-editorials-slider-wrapper li.pfb-editorials-slider-page .pfb-editorials-content-wrapper {
    padding: 0 !important; 
} 
div.pfb-editorial-module div.pfb-editorial-wrapper div.pfb-editorial-content ul.pfb-editorials-slider-wrapper{
    height: auto !important; 
}
 .pfb-blur-container-module .pfb-blur-container-background .pfb-blur-container-background-image {
    transform: none !important;
    background: none !important;
}
#iframe_36953{
    display: block;
    height: 205px;
    margin: 0 auto;
    overflow: hidden;
    width: 370px;
}
.pfb-main-footer #blur-container-footer .pfb-blur-container-static-container li.pfb-blur-container-slider-page{
    float: none;
    margin: 0 auto;
    text-align: center; 
}
 .pfb-fourth-teaser-module .pfb-fourth-teaser-entries-wrapper .pfb-fourth-teaser-entry .pfb-fourth-teaser-image::before{
    border:none !important; 
}
.pfb-blur-container-module .pfb-blur-container-background .pfb-blur-container-slider-container ul.pfb-blur-container-slider-wrapper li.pfb-blur-container-slider-page.small{
    float: none !important;
}
.pfb-promotion-teaser.image-right .pfb-promotion-teaser-content .content-wrapper{
    padding: 0 0 4.6875em 0; 
}
.pfb-promotion-teaser{
    padding-bottom: 20%;
}
.pfb-upsell-teaser-module.entries-3 .pfb-upsell-teaser-entry{
    width: 100%;
}
.pfb-needs-module .pfb-needs-entries-wrapper .pfb-need-entry{
    float: none;
}
.pfb-numeric-tiles ul li{
    display: inline-block !important;
    width: 20% !important;
}
.pfb-numeric-tiles ul li .icon-wrapper{
    margin: 0 auto 2.1875em !important;
    height: 68px !important;
    width: 100px !important;
}
.keypadWrapper{
    display: none !important;
}
form .marker-icon,
form .description {
    display: none !important;
}
.pfb-main-stage-module {
    height: 0 !important;
    padding: 2.5em 0 5em 0 !important;
}
/*
#bas_id_37290 {
    width: 900px;
}
*/
.pfb-investmentfinder-module .risk-level-legend,
.pfb-investmentfinder-module .pfb-range-slider,
.pfb-investmentfinder-module .pfb-investmentfinder-sub-filter,
.pfb-investmentfinder-module .pfb-investmentfinder-filter {
    display: none !important;
}
.pfb-investmentfinder-module .pfb-definition-list .risk-graph {
    position: relative !important;
    top: 0 !important;
    left: 0 !importantM
 }   
.pfb-investmentfinder-module .pfb-definition-list .risk-graph,
.pfb-investmentfinder-module .pfb-investmentfinder-image {
    width: 8.125em !important; 
}
.pfb-investmentfinder-module .pfb-definition-list dt,
.pfb-investmentfinder-module .pfb-definition-list dd {
    width: 100% !important;
}
.pfb-investmentfinder-module .pfb-investmentfinder-item-list .pfb-investmentfinder-item {
    padding: 40px 20px !important;
    width: 16em !important;
}
.pfb-investmentfinder-module .pfb-investmentfinder-item-list .pfb-investmentfinder-item[style="display: none;"] {
    display: none !important;
}
.pfb-investmentfinder-module .pfb-investmentfinder-item-list .pfb-investmentfinder-item .pfb-investmentfinder-content {
    margin-top: 40px !important;
}
.no-rwd,
.noPrint {
    display: none !important;
}


/* */
 