
.website_title:before, .website_title:after {
	background: #f15a23;
}

/* hover color of logo title */

a#logo:hover .website_title {
	color: #f15a23;
}




/* color of current page of main navigation links */

#menu a.current {
	color: #f15a23;
}

/* hover color of main navigation links */

#menu li:hover > a {
	color: #f15a23;
}

/* hover color of 2nd levels navigation links */

#menu li li:hover > a {
	color: #f15a23;
	background-color: #fafafa;
	background-image: linear-gradient(#fcfcfc, #f8f8f8);
}

*html #menu li a:hover { /* IE6 only */
	color: #f15a23;
}

/* top border color of 2nd levels ul menus */

#menu ul {
	border-top: 3px solid #f15a23;
}

/* color of current page 2nd levels ul menu links */

#menu ul a.current {
	color: #f15a23;	
}

/* color of arrow of 2nd levels ul menu links */

#menu ul a:before {
    color: #f15a23;
}

/* color of like top triangle shape of only 2nd level ul menu */

#menu ul li:first-child > a:after {
	border-bottom-color: #f15a23;
}

/* color of like left triangle shape of 3rd levels ul menu */

#menu ul ul li:first-child a:after {
	border-right-color: #f15a23;
}

/* color of like top triangle shape of only 2nd level ul menu when hover the first link of the only 2nd level ul menu */

#menu ul li:first-child a:hover:after {
	border-bottom-color: #f15a23; 
}

/* color of like left triangle shape of 3nd level ul menu when hover the first link of the 3rd levels ul menu */

#menu ul ul li:first-child a:hover:after {
	border-right-color: #f15a23; 
}



@media only screen 
and (max-width : 767px) {


/* color of the left shape of the responsive navigation menu case */
	
#menu_trigger:before {
	color: #f15a23;
}

/* color of like top triangle shape of the responsive navigation menu case when appeared  */

#menu:after {
	border-bottom-color: #f15a23;
}	

/* hover color of 2nd levels navigation links for the responsive case */
	
#menu li li:hover > a {
	background: none;
}

/* color of arrow of 2nd levels ul menu links for responsive case */
	
#menu a:before {
	content: "\f105";
	font-family: "FontAwesome";
	left: 20px;
	margin-top: 1px;
	top: auto;
	position: absolute;
	color: #f15a23;	
}
	

}





/*
---------------------------------------------------------------------------------------------------------------------------------
	B) FRONTPAGE WEBSITE HEADER MESSAGE
---------------------------------------------------------------------------------------------------------------------------------
*/



/* background color of the featured word of the frontpage website header message style1 */

#frontpage_website_header_message_style1 span a {
	background: #444444;
}

/* hover text and border bottom color of the featured word of the frontpage website header message style1 */

#frontpage_website_header_message_style1 span a:hover {
	color: #f15a23;
	border-bottom-color: #f15a23;
}



/* background color of the featured word of the frontpage website header message style2 */

#frontpage_website_header_message_style2 span a {
	background: #f15a23;
}

/* hover text and border bottom color of the featured word of the frontpage website header message style2 */

#frontpage_website_header_message_style2 span a:hover {
	color: #f15a23;
	border-bottom-color: #f15a23;
}






/*
---------------------------------------------------------------------------------------------------------------------------------
	C) SLIDER
---------------------------------------------------------------------------------------------------------------------------------
*/

/* background color of flexslider direction nav */

.flexslider .flex-direction-nav a:hover {
	background-color: #f15a23;	
}

/* active and hover active paging flexslider background color */

.flexslider .flex-control-paging li a.flex-active, .flexslider .flex-control-paging li a.flex-active:hover { 
	background: #f15a23; 
}

/* links and hover color of simple caption of flexslider */

p.simple_flex_caption a, p.simple_flex_caption a:hover {
	color: #f15a23;
}

/* background color of flex caption title of flexslider */

.flex_caption .flex_caption_title {
	background-color: #f15a23;
	background: rgba(241, 90, 35, 0.9);
}




/* background color of multi flexslider direction nav */

.multi_flexslider .flex-direction-nav a:hover {
	background-color: #f15a23;	
}

/* active and hover active paging multi flexslider background color */

.multi_flexslider .flex-control-paging li a.flex-active, .multi_flexslider .flex-control-paging li a.flex-active:hover { 
	background: #f15a23; 
}







/*
---------------------------------------------------------------------------------------------------------------------------------
	D) BLOG
---------------------------------------------------------------------------------------------------------------------------------
*/

/* hover color of post meta links */

.post_meta a:hover {
	color: #f15a23;	
}

/* background color of post info format */

.post_info a.post_format {
	background: #f15a23;
}

/* featured link color */

span.featured_link a {
	color: #f15a23;
}

span.featured_link a:hover:before {
	color: #f15a23;
}

/* hover and background color of pagination current page */

#pagination a.current_page, #pagination acurrent_page:hover {
	background: #f15a23;
}

/* color of sidebar menu arrow links */

ul.sidebar_menu li a:before {
	color: #f15a23;
}

/* hover color of sidebar menu links */

ul.sidebar_menu li a:hover {
	color: #f15a23;
}

/* hover color of search form button */

.search_form button[type=submit]:hover i {
	color: #f15a23;
}

/* color of popular posts icon shape */

ul.popular_posts li a:before {
    color: #f15a23;
}

/* hover color of popular posts links */

ul.popular_posts li a:hover {
	color: #f15a23;	
}

/* color of recent comments icon shape */

.recent_comments li:before {
    color: #f15a23;
}

/* hover color of recent comments links */

ul.recent_comments li a:hover {
	color: #f15a23;	
}

/* hover color of recent comments author links */

ul.recent_comments li a.author:hover {
	color: #f15a23;	
}

/* hover color twitter widget links */

.twitter_widget .tweet_list li a:hover {
	color: #f15a23;	
}

/* hover background color of flickr images */

ul.flickr_widget li a:before {
	background: #f15a23;
}

/* hover border color of flickr images */

ul.flickr_widget li a:hover img {
	border-color: #f15a23;	
}

/* hover color of tags links */

ul.tags li a:hover {
	color: #f15a23;
}

/* color of contact info icons */

ul.contact_info li i {
	color: #f15a23;
}

/* hover color of contact info links */

ul.contact_info a:hover {
	color: #f15a23;	
}

/* hover color of author comment link */

.single_comment .comment_meta .author a:hover {
	color: #f15a23;	
}

/* hover background color of reply comment link */

.single_comment .comment_meta .date a.reply:hover {
	background: #f15a23;	
}






/*
---------------------------------------------------------------------------------------------------------------------------------
	E) PORTFOLIO
---------------------------------------------------------------------------------------------------------------------------------
*/

/* hover and text color of current category group link */

ul#portfolio_categories li.active a, ul#portfolio_categories li.active a:hover { 
	color: #f15a23; 
}

/* hover color of preview and permalink icons of portfolio item1 */

.portfolio_item1 a.preview:hover, .portfolio_item1 a.permalink:hover {
	color: #f15a23;
}

/* background color when hover the portfolio item1 */

.portfolio_item1 .portfolio_item1_overlay_content {
   background-color: #f15a23;
   background-color: rgba(241, 90, 35, .95);
}








/*
---------------------------------------------------------------------------------------------------------------------------------
	F) SHORTCODES
---------------------------------------------------------------------------------------------------------------------------------
*/


/* hover background color of buttons */

.button:hover  {
	background: #f15a23;
}

/* hover background color of primary buttons */

.primary:hover {
	background: #f15a23;
}

/* hover background color of secondary buttons */

.secondary:hover {
	background: #f15a23;
}

/* background color of colorful buttons */

.colorful {
	background: #f15a23;
}

/* background color of the left square when an accordion pane is opened */

.accordion span.current:before {
	background: #f15a23;
}

/* hover and text color of the current opened accordion pane */

.accordion_style span.current, .accordion_style span.current:hover {
	color: #f15a23;
}

/* background color of the left square when an toggle pane is opened */

.toggle span.active:before {
	content: "-";
	color: #fff;
	background: #f15a23;
        line-height: 23px;
}

/* hover and text color of the current opened toggle pane */

.toggle_style span.active, .toggle_style span.active:hover {
	color: #f15a23;
}

/* hover, border and text color of the current opened tab pane */

.tabs a.current, .tabs a.current:hover {
	color: #f15a23;
	border-top-color: #f15a23;
}

/* background of skills graph */

.skills-graph li span {
	background: #f15a23;
}

/* hover background of teaser preview box when hover teaser */

.teaser:hover .teaser_preview_box {
	background: #f15a23;
}

/* hover color of teaser title when hover teaser */

.teaser:hover h5 a {
	color: #f15a23;
}

/* border left color of reading box */

.reading_box {
	border-color: #f15a23;
}

/* background color of the icons used with info boxed when hover info boxes */

.info_box_style1:hover .icon_style1, .info_box_style1:hover .icon_style2, .info_box_style2:hover .icon_style1, .info_box_style2:hover .icon_style2, .info_box_style3:hover .icon_style1, .info_box_style3:hover .icon_style2, .info_box_style4:hover .icon_style1, .info_box_style4:hover .icon_style2, .info_box_style5:hover .icon_style1, .info_box_style5:hover .icon_style2, .info_box_style6:hover .icon_style1, .info_box_style6:hover .icon_style2, .info_box_style7:hover .icon_style1, .info_box_style7:hover .icon_style2, .info_box_style8:hover .icon_style1, .info_box_style8:hover .icon_style2 {
	background: #f15a23;
}

/* background color of colored highlight */

.highlight_colored {
	background: #f15a23;	
}

/* background color of featured pricing table column header */


.pricing_table .featured_pricing_table_column .pricing_table_column_header {
	background: #f15a23;	
}

/* hover background color of free pricing table column footer button */

.free_pricing_table_column .pricing_table_column_footer .button:hover {
	background: #f15a23;		
}

/* color of lists arrows */

ul.list li:before {
	color: #f15a23;	
}

/* hover color of preview and permalink icons of lightbox item style1 */

.lightbox_item_style1 a.preview:hover, .lightbox_item_style1 a.permalink:hover {
	color: #f15a23;
}

/* background color when hover the lightbox item style1 */

.lightbox_item_style1 .lightbox_item_style1_overlay_content {
   background-color: #f15a23;
   background-color: rgba(241, 90, 35, .95);
}

/* hover color of preview and permalink icons of lightbox item style2 */

.lightbox_item_style2 a.preview:hover, .lightbox_item_style2 a.permalink:hover {
	color: #f15a23;
}

/* background color when hover the lightbox item style2 */

.lightbox_item_style2 .lightbox_item_style2_overlay_content {
   background-color: #f15a23;
   background-color: rgba(241, 90, 35, .95);
}

/* color of border bottom of section title style1 */

.section_title_style1 { 
	border-color: #f15a23;
}

/* color of used colored texts in section title style1 */

.section_title_style1 span .colored {
	color: #f15a23 !important;
}

/* right piece color of section title style2 */

.section_title_style2 {
    border-color: #f15a23;
}


/* color of used colored texts in section title style2 */

.section_title_style2 span .colored {
	color: #f15a23 !important;
}


/* color of right piece 2 borders of section title style3 */

.section_title_style1 { 
	border-color: #f15a23;
}

/* color of used colored texts in section title style3 */

.section_title_style1 span .colored {
	color: #f15a23 !important;
}






/*
---------------------------------------------------------------------------------------------------------------------------------
	G) GENERAL ELEMENTS
---------------------------------------------------------------------------------------------------------------------------------
*/


/* texts selection [ when making highlighting on texts by mouse ] */

::-moz-selection{
	background:#f15a23;	/* background color of fonts when highlight texts by mouse */
	color: #fff; /* if the background is dark and the text is not appearing clearly, then use color value #fff instead */	/* color of fonts when highlight texts by mouse */
}

::selection {
	background:#f15a23;	/* background color when highlight texts by mouse */
	color: #fff; /* if the background is dark and the text is not appearing clearly, then use color value #fff instead */	/* color of fonts when highlight texts by mouse */
}

/* links color in general */

a {
	color: #f15a23;
}

/* hover background color of social icons of team member */

.team_member ul.team_member_social_icons li a i:hover {
	background: #f15a23;	
}

/* hover color of headers when used as links */

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #f15a23;
}

/* hover color of readmore link */

a.readmore_link:hover {
	color: #f15a23;
}


/* coloring any font with the general color used */

.colored {
	color: #f15a23;	
}

/* hover background scroll top button */

.scroll_top:hover {
	background-color: #f15a23;
}

/* hover background color of input submit button */

input.submit:hover {
	background: #f15a23;
}

/* hover color of icons used for the colorbox lightbox plugin */

#cboxPrevious:hover, #cboxNext:hover, #cboxClose:hover {
	color: #f15a23;	
}

/* image title color of the colorbox lightbox plugin  */

#cboxTitle {
	color: #f15a23;		
}

/* color of enabling or disabling button of the colorbox lightbox plugin */

#cboxSlideshow:hover {
	color: #f15a23;	
}







/*
---------------------------------------------------------------------------------------------------------------------------------
	H) FOOTER
---------------------------------------------------------------------------------------------------------------------------------
*/

/* hover color of footer column list link */

ul.footer_column_list_links li a:hover {
	color: #f15a23;
}

/* color of the 2 left shapes of the footer logo */

.footer_website_title:before, .footer_website_title:after {
	background: #f15a23;
}

/* hover color of footer logo title */

a#footer_logo:hover .footer_website_title {
	color: #f15a23;
}








