
/*
    RESPONSIVE SPECIFICATIONS
============================================= */







/* Screens less than 768px ----------- */
@media only screen 
and (max-width : 767px) {



/* 
    FULL CONTAINER    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#full_container {
	border: none !important;
}




/* 
    HEADER    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


header {
	background: #f5f5f5;
	height: 210px;
	margin-bottom: 40px;
	border-bottom: 10px solid #eee;	
}



/* 
    LOGO    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


a#logo {
	margin-bottom: 10px;
	text-align: center;
	top: 30px;
	z-index: 1;	
}

a#logo img {
/*	display: inline-block;	
*/}



/* 
    NAV    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


	nav#main_nav {
		position: relative;
		top: 40px;
		padding-left: 0;
	}

	#main_nav * {
		box-sizing: border-box;
	}

	#menu_trigger {
		display: block; /* Show it now */
		height: 45px;
		line-height: 45px;
		cursor: pointer;		
		padding: 0 0 0 45px;
		border: 1px solid #ddd;
		background: #fff;
		color: #444;
		position: relative;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		font-weight: bold;
		box-shadow: inset 0 -21px 15px rgba(0, 0, 0, 0.03);
	}
	
	#menu_trigger:before {
		content: "\f0c9";
		font-family: "FontAwesome";
		font-size: 21px;
		color: #f15a23;
		position: absolute;
		left: 15px;
	}

	#menu {
		margin: 0; 
		padding: 12px 32px;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		position: absolute;
		top: 50px;
		width: 100%;
		z-index: 6;
		display: none;
		box-shadow: none;		
	}

	#menu:after {
		content: '';
		position: absolute;
		left: 18px;
		top: -5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #f15a23;
	}	

	#menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		background: none;
		box-shadow: none;
		border: none !important;				
	}
	
/*	#menu ul, #menu ul ul, #menu li:hover > ul {
		margin: 10px 40px;
		padding-left: 15px;
	}
*/
	#menu ul, #menu ul ul, #menu li:hover > ul {
		margin: 15px 18px;
		padding-left: 30px;
		border-left: 1px solid #eee !important;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-o-border-radius: 0;
		-ms-border-radius: 0;
	}
	
/*	#menu ul:before {
		content: "\f063";
		font-family: "FontAwesome";
		font-size: 10px;
		position: absolute;
		margin-left: -40px;
		margin-top: -3px;	
	}
*/
	#menu ul:before {
		position: absolute;
		margin-left: -46px;
		margin-top: 15px;
		width: 15px;
		height: 1px;
		background: #eee;
		content: "";	
	}

	#menu ul ul {
		/* margin: 0 0 0 20px !important; */
		box-shadow: none;		
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border: none;
		margin: 0;
		box-shadow: none;			
	}
	
	#menu ul li{
		box-shadow: none;
		border: none;		
	}

	#menu a{
		display: block;
		float: none;
		color: #999;
		margin: 0;
	}
	
	#menu a.current {
		font-weight: bold;	
	}
	
	#menu a, #menu ul a {
		padding: 1px 0;
		border: none;	
	}
	
	#menu li li:hover > a {
		color: #f15a23;
		background: none;
	}

	#menu a:hover{
		color: #fafafa;
		background: none;
	}	

	#menu ul a{
		width: auto;
		position: relative;		
	}
	
	#menu a:before {
		content: "\f105";
		font-family: "FontAwesome";
		left: 20px;
		margin-top: 1px;
		top: auto;
		position: absolute;
		color: #f15a23;	
	}
	
	#menu ul a:before {
		left: -12px;
		top: auto;
	}

	#menu ul a:hover{
		background: none;	
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}
	
	
/* SelectNav settings */
	
.js #menu { display: none; }
.js .selectnav { display: block; }





/* 
    FRONTPAGE WEBSITE HEADER MESSAGE    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* website header message style2 */

#frontpage_website_header_message_style2 {
	text-align: center;
	margin: 50px 0;
}

#frontpage_website_header_message_style2 .eight {
	margin-bottom: 20px;
	padding-right: 15px;
	border-right: none;
}

#frontpage_website_header_message_style2 .four {
	padding-left: 15px;
}


	
/* 
    GENERAL WEBSITE PAGE TITLE    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

	
#general_website_page_title .row {
	margin-top: 0;	
	text-align: center;
}

p.breadcrumb {
	position: static;
	float: none;
	margin-top: 10px;
	margin-bottom: 8px;
	
}



/* 
    FLEXSLIDER    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.flexslider, .multi_flexslider {
	min-height: auto;
	background: none;
}

.flex_caption, p.simple_flex_caption {
	position: relative;
	bottom: -1px;
	left: 0;
}

.flex_caption_title, .flex_caption_content, p.simple_flex_caption {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.flex_caption .flex_caption_title , .flex_caption .flex_caption_content, p.simple_flex_caption {
	width: 100%;
	max-width: 100%;
}

.flexslider .flex-direction-nav .flex-prev, .flexslider .flex-direction-nav .flex-next, .multi_flexslider .flex-direction-nav .flex-prev, .multi_flexslider .flex-direction-nav .flex-next {
	padding: 20px;
}
.flexslider .flex-direction-nav .flex-prev, .multi_flexslider .flex-direction-nav .flex-prev {opacity: .8; left: 15px; top: 43px;}
  
.flexslider .flex-direction-nav .flex-next, .multi_flexslider .flex-direction-nav .flex-next {opacity: .8; left: 46px; top: 43px;}




/* 
    PORTFOLIO    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


ul.portfolio_items_container li {
	width: 100% !important;
}

.portfolio_item2 {
	margin-bottom: 30px;	
}

ul.portfolio_items_container li .portfolio_item2 {
	margin-bottom: 0;	
}






/* 
    INFO BOXES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.info_box_style1, .info_box_style2, .info_box_style3, .info_box_style4, .info_box_style5, .info_box_style6, .info_box_style7, .info_box_style8 {
	margin-bottom: 35px;	
}





/* 
    PRICING TABLES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.pricing_table .pricing_table_column {
	margin-bottom: 30px;	
}

.pricing_table .featured_pricing_table_column {
	margin-top: 0;	
}



/* 
    TEASERS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.teaser {
	margin-bottom: 30px;	
}



/* 
    BUTTONS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.button {
	margin-bottom: 10px;	
}




/* 
    SMALL BLOG    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.small_blog .post_media {
	width: 100%;
	position: relative;	
}

.small_blog .post_info {
	left: 0;
	margin-top: 0;	
}

.small_blog .post_title {
	padding-left: 0;	
}

.small_blog .post_meta {
	padding-left: 0;	
}

.small_blog .post_content {
	padding-left: 100px;	
}

.small_blog .post_content .single_testmonial_style1, .small_blog .post_content .single_testmonial_style2 {
	margin-top: 0;	
}


/* small blog [ blog 9 ] */

.blog9 .post_info {
	left: 0;
	margin-top: -1px;	
}

.blog9 .post_title {
	padding-left: 100px;	
}

.blog9 .post_meta {
	padding-left: 100px;	
}

.blog9 .post_content {
	padding-left: 0;	
}


/* small blog [ blog 10 ] */

.blog10 .post_info {
	margin-top: -8px;	
}



/* small blog [ blog 10 ] */

.blog10 .post_title {
	padding-left: 155px;	
}

.blog10 .post_meta {
	padding-left: 0;	
}

.blog10 .post_content {
	padding-left: 0;	
}




/* small blog [ blog 11 ] */

.blog11 .post_meta {
	padding-left: 100px;	
}




/* small blog [ blog 12 ] */

.blog12 .post_info {
	margin-top: -10px;	
}

.blog12 .post_title {
	padding-left: 100px;	
}

.blog12 .post_meta {
	padding-left: 100px;	
}

.blog12 .post_content {
	padding-left: 0;	
}







/* 
    BLOG GRID    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.single_post_column .teaser {
	margin-bottom: 0;
}




/* 
    SIDEBAR    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.sidebar {
	margin-top: 50px;	
}





/* 
    GENERIC    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* readmore link */

a.readmore_link {
	margin-bottom: 10px;	
}

/* scroll top */

.scroll_top {
	display: none;	
}
	

/* 
    FOOTER    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


footer {
	margin-top: 65px;
	padding-top: 50px;
	background: #f5f5f5;
	border-top: 10px solid #eee;	
}

.right_part {
	padding-left: 0;
	padding-top: 20px;
	padding-bottom: 15px;	
}

}

























