.button, .primary, .secondary, .colorful {
	display: inline-block;
	position: relative;
	padding: 6px 16px 5px;
	/* margin-bottom: 10px; */
	margin-top: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-o-border-radius: 3px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	background: #444;
	border: none;
	text-shadow: none;
	line-height: 21px;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	border-bottom: 2px solid rgba(0, 0, 0, .2); /* .15 */
/*	box-shadow: inset 0 -14px 0px rgba(0, 0, 0, .07);
*/}

.butt, .primary1, .secondary1, .colorful1 {
	display: inline-block;
	position: relative;
	padding: 6px 16px 5px;
	/* margin-bottom: 10px; */
	margin-top: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-o-border-radius: 3px;
	font-size: 11px;

	letter-spacing: 1px;
	color: #fff;
	background: #444;
	border: none;
	text-shadow: none;
	line-height: 21px;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	border-bottom: 2px solid rgba(0, 0, 0, .2); /* .15 */
/*	box-shadow: inset 0 -14px 0px rgba(0, 0, 0, .07);
*/}

.button:hover  {
	text-decoration: none;
	background: #f15a23 !important;
	color: #fff;
	border: none;
	text-shadow: none;
	border-bottom: 2px solid rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-ms-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.butt:hover  {
	text-decoration: none;
	background: #666 !important;
	color: #fff;
	border: none;
	text-shadow: none;
	border-bottom: 2px solid rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-ms-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.small {
	padding: 6px 16px 5px;
	font-size: 11px;	
}

.small1 {
	padding: 6px 16px 5px;
	font-size: 15px;	
}

.medium {
	padding: 11px 20px 10px;
	font-size: 13px;
}

.large {
	padding: 16px 25px 15px;
	font-size: 15px;
	border-width: 3px;
}

.rounded {
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-o-border-radius: 1000px;
	-ms-border-radius: 1000px;	
}

.small.rounded {
	padding-left: 17px;
	padding-right: 17px;	
}

.medium.rounded {
	padding-left: 20px;
	padding-right: 20px;	
}

.large.rounded {
	padding-left: 25px;
	padding-right: 25px;	
}

.large:hover {
	border-width: 3px;
}


.button i {
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-o-border-radius: 1000px;
	-ms-border-radius: 1000px;	
}

.butt i {
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-o-border-radius: 1000px;
	-ms-border-radius: 1000px;	
}

.button i, .small i, .medium i, .large i {
	background: 0 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

butt i, .small i, .medium i, .large i {
	background: 0 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}


.button i, .small i {
	height: 19px;
	width: 19px;
	line-height: 19px;
}

.button i.align_left, .small i.align_left, .button i.align_right, .small i.align_right {
	position: absolute;
	top: 2px;	
}

.button i.align_left, .small i.align_left {
	left: 16px;
}

.button i.align_right, .small i.align_right {
	right: 16px;
}

.button.left_icon, .small.left_icon {
	padding: 6px 16px 5px 42px;	
}

.button.right_icon, .small.right_icon {
	padding: 6px 42px 5px 16px;	
}






.butt i, .small i {
	height: 19px;
	width: 19px;
	line-height: 19px;
}

.butt i.align_left, .small i.align_left, .butt i.align_right, .small i.align_right {
	position: absolute;
	top: 2px;	
}

.butt i.align_left, .small i.align_left {
	left: 16px;
}

.butt i.align_right, .small i.align_right {
	right: 16px;
}

.butt.left_icon, .small.left_icon {
	padding: 6px 16px 5px 42px;	
}

.butt.right_icon, .small.right_icon {
	padding: 6px 42px 5px 16px;	
}







.medium i {
	height: 24px;
	width: 24px;
	line-height: 24px;
}

.medium i.align_left, .medium i.align_right {
	position: absolute;
	top: 6px;	
}

.medium i.align_left {
	left: 20px;
}

.medium i.align_right {
	right: 20px;
}

.medium.left_icon {
	padding: 11px 20px 10px 52px;	
}

.medium.right_icon {
	padding: 11px 52px 10px 20px;	
}

.large i {
	height: 28px;
	width: 28px;
	line-height: 28px;
}

.large i.align_left, .large i.align_right {
	position: absolute;
	top: 11px;	
}

.large i.align_left {
	left: 25px;
}

.large i.align_right {
	right: 25px;
}

.large.left_icon {
	padding: 16px 25px 15px 62px;	
}

.large.right_icon {
	padding: 16px 62px 15px 25px;	
}


.primary {
	background: #444;
}

.primary, .primary i {
	color: #fff !important;
}

.primary:hover {
	background: #f15a23;
}

.secondary {
	background: #f5f5f5;
	border-color: rgba(0, 0, 0, .08);
}

.secondary, .secondary i {
	color: #444;
}

.secondary:hover {
	color: #fff;
	background: #f15a23;
}

.secondary:hover i {
	color: #fff;	
}


.colorful {
	background: #f15a23;
}

.colorful, .colorful i {
	color: #fff;
}

.colorful:hover {
	color: #fff;
	background: #444 !important;
}


.colorful1 {
	background: #f15a23;
}

.colorful1, .colorful i {
	color: #fff;
}

.colorful1:hover {
	color: #fff;
	background: #FB7240 !important;
}


/* buttons with icons specification */

.button i, .small i, .medium i, .large i {
	margin-right: 7px;
	margin-top: 5px;	
}

.small i, .small i.align_left, .small i.align_right, .button i, .button i.align_left, .button i.align_right {
	margin-right: 7px;
	margin-top: 5px;	
}


.small i, .butt i, .butt i.align_left, .butt i.align_right {
	margin-right: 7px;
	margin-top: 5px;	
}

.medium i, .medium i.align_left, .medium i.align_right {
	margin-right: 8px;
	margin-top: 4px;	
}

.large i, .large i.align_left, .large i.align_right {
	margin-right: 11px;
	margin-top: 2px;	
}

.small i.align_right, .button i.align_right {
	margin-left: 7px;
}

.butt i.align_right {
	margin-left: 7px;
}

.medium i.align_right {
	margin-left: 8px;
}

.large i.align_right {
	margin-left: 11px;
}

i.align_left, i.align_right {
	margin-bottom: 0;	
}

.button i.align_right, .small i.align_right, .medium i.align_right, .large i.align_right {
	margin-right: 0;	
}


.butt i.align_right{
	margin-right: 0;	
}





/* 
    B) TESTMONIALS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* testmonials */

/* single testmonial style1 */

.single_testmonial_style1 {
	display: inline-block;
	border-left: 3px solid #888;
	padding: 0 15px 0 50px;
	position: relative;
	margin-bottom: 15px;
}

.post_content .single_testmonial_style1 {
	margin-top: 5px;
}

.single_testmonial_style1 p {
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 23px;
	color: #777;
}

.single_testmonial_style1:before {
	display: inline-block;
	content: "\f10d";
	font-family: "FontAwesome";
	font-size: 23px;
	font-style: normal;
	color: #444;
	position: absolute;
	left: 15px;
	top:3px;	
}

.single_testmonial_style1 .single_testmonial_style1_person {
	display: block;
	color: #444;
	font-weight: bold;	
}

.single_testmonial_style1 .single_testmonial_style1_person:before {
	display: inline-block;
	content: "\f007";
	font-family: "FontAwesome";
	font-size: 16px;
	margin-right: 5px;	
}

.single_testmonial_style1 .single_testmonial_style1_person_info {
	font-size: 11px;
	font-color: #aaa;
	display: block;
	margin-top: -12px;
	position: relative;	
}

.single_testmonial_style1 .single_testmonial_style1_person_info:before {
	display: inline-block;
	content: "-";
	margin-right: 8px;
	font-size: 30px;
	position: relative;
	top: 6px;
}

/* single testmonial style2 */

.single_testmonial_style2 {
	display: inline-block;
	padding: 0;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
}

.post_content .single_testmonial_style1, .post_content .single_testmonial_style2 {
	margin-top: 8px;
}

.single_testmonial_style2 p {
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 23px;
	padding: 20px 20px 25px;
	background: #f5f5f5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	position: relative;
	color: #777;
}

.single_testmonial_style2 p:before {
	display: inline-block;
	content: "\f10e";
	font-family: "FontAwesome";
	font-size: 45px;
	font-style: normal;
	color: #e7e7e7;
	color: rgba(0, 0, 0, .06);
	position: absolute;
	right: 15px;
	bottom: -5px;	
}

.single_testmonial_style2 p:after {
	content: '';
	position: absolute;
	left: 20px;
	bottom: -15px;
	border-left: 15px solid transparent;
	border-right: 0 solid transparent;
	border-top: 15px solid #f5f5f5;
}

.single_testmonial_style2 .single_testmonial_style2_person {
	display: block;
	color: #444;
	font-weight: bold;
	margin-top: 20px;	
}

.single_testmonial_style2 .single_testmonial_style2_person:before {
	display: inline-block;
	content: "\f007";
	font-family: "FontAwesome";
	font-size: 16px;
	margin-right: 5px;	
}

.single_testmonial_style2 .single_testmonial_style2_person_info {
	font-size: 11px;
	font-color: #aaa;
	display: block;
	margin-top: -12px;
	position: relative;
}

.single_testmonial_style2 .single_testmonial_style2_person_info:before {
	display: inline-block;
	content: "-";
	margin-right: 8px;
	font-size: 30px;
	position: relative;
	top: 6px;
}





/* 
    C) DROPCAPS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* dropcaps */

.dropcap1 {
	float: left;
	display: block;
	font-size: 35px;
	line-height: 32px;
	margin: 1px 12px 0 0;
}

.dropcap1 {
	color: #333; /* color of DropCap */
}

.dropcap2, .dropcap3 {
	float: left;
	display: block;
	font-size: 25px;
	color: #eee;
	background: #444;
	width: 45px;
	height: 45px;
	line-height: 41px;
	text-align: center;
	margin: 5px 16px 0 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}

.dropcap3 {
	background: #eee;
	color: #444;	
}

.dropcap4 {
	float: left;
	display: block;
	font-size: 25px;
	color: #fff;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-o-border-radius: 1000px;
	-ms-border-radius: 1000px;
	border-radius: 1000px;
	background: #444;
	width: 50px;
	height: 50px;
	line-height: 47px;
	text-align: center;
	margin: 3px 14px 0 0;
}



/* 
    D) BLOCKQOUTES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* blockquotes */

.pquote, .pquote_left, .pquote_right {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	padding-left: 40px;
	color: #888;
}

.pquote {
	margin: 21px 0 10px;
}

.pquote_left {
	float: left;
	margin: 21px 20px 10px 0;
}

.pquote_right {
	float: right;
	margin: 21px 0 10px 20px;
}

.pquote_left, .pquote_right {
	width: 40%;	
}

.pquote p, .pquote_left p, .pquote_right p {
	padding: 0;	
}

.pquote, .pquote_left, .pquote_right {
	position: relative;
}

.pquote {

}

.pquote:before, .pquote_left:before, .pquote_right:before {
	font-family: "FontAwesome";
	content: "\f10d";
	color: #888;
	font-size: 25px;
	position: absolute;
	top: 0;
	left: 0;
	
}

.pquote_left {

}

.pquote_right {

}




/* 
    E) ACCORDIONS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* accordions */

.accordion {
	display: block;
	margin-bottom: 10px;
}

/* accordion header */
.accordion span.title {
	margin-bottom: 3px;
	padding: 7.5px 12px 7.5px 0;
	display: block;
	overflow: hidden;
	position: relative;
	font-size: 15px;
	line-height: 25px;
	cursor:pointer;
}

.accordion span.title:before {
	content: "+";
	width: 25px;
	height: 25px;
	line-height: 20px;
	color: #fff;
	background: #444;
	text-shadow: none;
	font-size: 22px;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 10px;
}

.accordion span.current:before {
	content: "-";
	color: #fff;
	background: #f15a23;
}


.accordion span.title:hover {

}

/* currently active header */
.accordion span.current {
	cursor:default;
}

.accordion span.current:hover {
	opacity: 1;	
}

.accordion span.title span.title_content {
display: block;
overflow: hidden;
position: relative;
padding-left: 12px;	
}

/* accordion pane */
.accordion .pane {
	margin: -5px 0 5px;
	display:none;
	padding: 19px 20px;
	font-size: 12px;
	line-height: 20px;
	border: 1px solid #eee;
}

/* accordion_style */

.accordion_style span.title {
	background: #f5f5f5;
	color: #444;
}

.accordion_style span.title:hover, .accordion_style span.current, .accordion_style span.current:hover {
	color: #444;
	background: #eee;
}

.accordion_style span.current, .accordion_style span.current:hover {
	color: #f15a23;
}






/* 
    F) TOGGLES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* toggles */

.toggle {
	display: block;
	margin-bottom: 10px;
}

/* accordion header */
.toggle span.title {
	margin-bottom: 3px;
	padding: 7.5px 12px 7.5px 0;
	display: block;
	overflow: hidden;
	position: relative;
	font-size: 15px;
	line-height: 25px;
	cursor:pointer;
}

.toggle span.title:before {
	content: "+";
	width: 25px;
	height: 25px;
	
	color: #fff;
	background: #444;
	text-shadow: none;
	font-size: 22px;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 10px;
}

.toggle span.active:before {
	content: "-";
	color: #fff;
	background: #f15a23;
}


.toggle span.title:hover {

}

/* currently active header */
.toggle span.active {
	cursor:default;
}

.toggle span.active:hover {
	opacity: 1;	
}

.toggle span.title span.title_content {
display: block;
overflow: hidden;
position: relative;
padding-left: 12px;	
}

/* toggle pane */
.toggle .pane {
	margin: -5px 0 5px;
	display:none;
	padding: 19px 20px;
	font-size: 12px;
	line-height: 20px;
	border: 1px solid #eee;
}

/* toggle_style */

.toggle span.title {
	background: #f5f5f5;
	color: #444;
        margin-bottom: 10px;
}

.toggle_style span.title:hover, .toggle_style span.active, .toggle_style span.active:hover {
	color: #444;
	background: #eee;
}

.toggle_style span.active, .toggle_style span.active:hover {
	color: #f15a23;
}




/* 
    G) TABS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* tabs */

div.tabs { /* this is the class ".tabs" of the wrapper of a tabs model, not the class of tabs links */
	display: block;
	position: relative;
	margin-bottom: 15px;	
}

/* root element for tabs  */
ul.tabs { 
	list-style:none; 
/*	margin:0 !important; 
*/	margin-bottom: -1px;
	padding:0;
	padding-left: 0;
	height:40px;
	position: relative;
}

/* single tab */
.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
.tabs a { 
	font-size:15px;
	display:block;
	height: 40px;
	line-height: 40px;
	padding:0 12px;
	text-decoration:none;
	position:relative;
	overflow: hidden;
	background: #f5f5f5;
	color: #444;
	margin-right: 5px;
	-moz-transition: color 0.0s ease-in-out 0s, background 0.0s ease-in-out 0s;
	-webkit-transition: color 0.0s ease-in-out 0s, background 0.0s ease-in-out 0s;
	transition: color 0.0s ease-in-out 0s, background 0.0s ease-in-out 0s;
	-o-transition: color 0.0s ease-in-out 0s, background 0.0s ease-in-out 0s;
	-ms-transition: color 0.0s ease-in-out 0s, background 0.0s ease-in-out 0s;
}

.tabs a span.title_content {
	display: block;
	overflow: hidden;
	position: relative;
}


.tabs a.current, .tabs a.current:hover {
	background: #fff;
	color: #f15a23;
	border: 1px solid #eee;
	border-top: 1px solid #f15a23;
	border-bottom: none;
	line-height: 38px;
}

.tabs a.current:hover {
}

.tabs a.current span.title_content {
}

/* when mouse enters the tab move the background image */
.tabs a:hover {
	background: #eee;
}

.panes {
	margin: 0;
	padding:19px 20px;
	font-size: 12px;
	line-height: 20px;
	border:1px solid #eee;
}

/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}







/* 
    H) ALERT BOXES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* alert boxes */

div.error, div.success, div.info, div.notice {
	display: block !important;
	padding: 15px 20px 15px 55px;
	margin-bottom: 10px;
	border: 1px solid;
	position: relative;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}	
	
div.error:before, div.success:before, div.info:before, div.notice:before {
	font-family: "FontAwesome";
	font-size: 25px;
	position: absolute;
	left:15px;
	top: 50%;
	margin-top: -10px;
}

div.error {
	background: #f9e5e6;
	border-color: #f7c7c9;
	color: #b3696c;	
}

div.error:before {
	content: "\f071";
	color: #f02932;	
}

div.error strong {
	color: #b3696c;	
}

div.success {
	background: #e3ebc6;
	border-color: #c2d288;
	color: #8fa442;	
}

div.success:before {
	content: "\f00c";
	color: #809533;	
}

div.success strong {
	color: #8fa442;	
}

div.info {
	background: #d8ecf5;
	border-color: #9ac9df;
	color: #528da9;	
}

div.info:before {
	content: "\f05a";
	color: #5694b1;	
}

div.info strong {
	color: #528da9;	
}

div.notice {
	background: #fcf7d9;
	border-color: #f5dc7d;
	color: #c4a21b;	
}

div.notice:before {
	content: "\f06a";
	color: #d9b31f;	
}

div.notice strong {
	color: #c4a21b;	
}




/* 
    I) SKILLS GRAPH    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* skill graphs */

.skills-graph {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.skills-graph li, .skills-graph li span {
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.skills-graph li {
	margin-bottom: -1px;
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
}
.skills-graph li p {
	margin-bottom: 0;
	padding-bottom: 0;
	position: absolute;
	left: 10px;
	top: 2px;
	color: #fff;
}
.skills-graph li strong {
	margin-left: 5px;
	color: #222;
}
.skills-graph li span {
	height: 26px;
	background: #f15a23;
	box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .15);
	-o-box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .15);
	-ms-box-shadow: inset 0 -3px 15px rgba(0, 0, 0, .15);
}





/* 
    J) TEASERS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* teaser */

.teaser {
	display: block;
	padding: 23px 20px 12px;
	border: 1px solid #eee;
/*	box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.2);
	-moz-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.2);
	-webkit-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.2);
	-o-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.2);
	-ms-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.2);
*/	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	width: 100%;
}

.teaser, .teaser .teaser_preview_box, .teaser h5 a {
	transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}

.teaser:hover {
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
	-o-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
	border-color: #ddd;
}

.teaser_preview_box {
	margin: -24px -21px 25px;
	background: #fafafa;
	border-bottom: 5px solid rgba(0, 0, 0, 0.08);
	padding-bottom: 1px;
	position: relative;
/*	overflow: hidden; 
	border-radius: 3px 3px 0 0 ;
	-moz-border-radius: 3px 3px 0 0 ;
	-webkit-border-radius: 3px 3px 0 0 ;
	-o-border-radius: 3px 3px 0 0 ;
	-ms-border-radius: 3px 3px 0 0 ;
*/
}

.teaser_preview_box img {
	width: 100%;	
}

.teaser:hover .teaser_preview_box {
	background: #f15a23;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-ms-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.teaser h5 {
	padding-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;	
}

.teaser:hover h5 a {
	color: #f15a23;
}

.teaser .subheader {
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Segoe UI", "helvetica neue", arial, sans-serif;
	color: #777;
	font-weight: normal;
	margin: 0;
	padding-bottom: 10px;
	margin-top: -5px;	
}

.teaser .button, .teaser .readmore_link {
	margin-bottom: 15px;	
}

.teaser .readmore_link {
	margin-bottom: 10px;	
}





/* 
    K) READING BOX    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* reading box */

.reading_box {
	display: block;
	position: relative;
	background: #fafafa;
	padding: 30px 20px 20px 30px;
	border-left: 5px solid #f15a23;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}

.row .reading_box {
	margin: 0 15px;	
}

.columns .reading_box {
	margin: 0;	
}

.reading_box .subheader {
	margin-top: -5px;	
}

.reading_box .button {
	position: absolute;
	right: 26px;
        top: 19px
}






/* 
    L) ICONS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* icon sizes */

.icon-1x, .icon-2x, .icon-3x, .icon-4x, .icon-5x, .icon-6x, .icon-7x, .icon-8x, .icon-9x, .icon-10x {
	text-align: center;
}

.icon-1x {
	font-size: 17px !important;
	width: 40px !important;
	height: 40px !important;
	line-height: 40px !important;
}

.icon-2x {
	font-size: 26px !important;
	width: 60px !important;
	height: 60px !important;
	line-height: 60px !important;
}

.icon-3x {
	font-size: 39px !important;
	width: 80px !important;
	height: 80px !important;
	line-height: 80px !important;
}

.icon-4x {
	font-size: 52px !important;
	width: 100px !important;
	height: 100px !important;
	line-height: 100px !important;
}

.icon-5x {
	font-size: 65px !important;
	width: 120px !important;
	height: 120px !important;
	line-height: 120px !important;
}

.icon-6x {
	width: 140px !important;
	height: 140px !important;
	line-height: 140px !important;
	font-size: 78px !important;	
}

.icon-7x {
	width: 160px !important;
	height: 160px !important;
	line-height: 160px !important;
	font-size: 91px !important;	
}

.icon-8x {
	width: 180px !important;
	height: 180px !important;
	line-height: 180px !important;
	font-size: 104px !important;	
}

.icon-9x {
	width: 200px !important;
	height: 200px !important;
	line-height: 200px !important;
	font-size: 117px !important;	
}

.icon-10x {
	width: 220px !important;
	height: 220px !important;
	line-height: 220px !important;
	font-size: 130px !important;	
}



/* icon styles */

i.icon_style1, i.icon_style2 {
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.7);
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.7);
	-o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.7);
	-ms-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.7);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);	
}

i.icon_style1 {
	color: #444;
	background: #f5f5f5;
}

i.icon_style2 {
	color: #f5f5f5;
	background: #444;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	-o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	-ms-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);	
}

.icon-4x, .icon-5x, .icon-6x, .icon-7x, .icon-8x, .icon-9x, .icon-10x {
	border-bottom-width: 3px !important;	
}

.icon_rounded {
	border-radius: 1000px !important; /* 146px 40px 100px 118px */
	-moz-border-radius: 1000px !important;
	-webkit-border-radius: 1000px !important;
	-o-border-radius: 1000px !important;
	-ms-border-radius: 1000px !important;
}




/* 
    M) INFO BOXES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* info box styles specifications */

.info_box_style1 .icon_style1, .info_box_style1 .icon_style2, .info_box_style2 .icon_style1, .info_box_style2 .icon_style2, .info_box_style3 .icon_style1, .info_box_style3 .icon_style2, .info_box_style4 .icon_style1, .info_box_style4 .icon_style2, .info_box_style5 .icon_style1, .info_box_style5 .icon_style2, .info_box_style6 .icon_style1, .info_box_style6 .icon_style2, .info_box_style7 .icon_style1, .info_box_style7 .icon_style2, .info_box_style8 .icon_style1, .info_box_style8 .icon_style2 {
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}

.info_box_style1:hover .icon_style1, .info_box_style1:hover .icon_style2, .info_box_style2:hover .icon_style1, .info_box_style2:hover .icon_style2, .info_box_style3:hover .icon_style1, .info_box_style3:hover .icon_style2, .info_box_style4:hover .icon_style1, .info_box_style4:hover .icon_style2, .info_box_style5:hover .icon_style1, .info_box_style5:hover .icon_style2, .info_box_style6:hover .icon_style1, .info_box_style6:hover .icon_style2, .info_box_style7:hover .icon_style1, .info_box_style7:hover .icon_style2, .info_box_style8:hover .icon_style1, .info_box_style8:hover .icon_style2 {
	background: #f15a23;
	color: #f5f5f5;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
	-o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
	-ms-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);	
}

/* info box style1 */

.info_box_style1 .icon_style1, .info_box_style1 .icon_style2 {
	margin: 10px 0 15px;
}

/* info box style2 */

.info_box_style2 .icon_style1, .info_box_style2 .icon_style2 {
	margin: -12px 10px -4px 0;
	position: relative;
	top: -1px;
}

/* info box style 3 to 8 */

.info_box_style3, .info_box_style4, .info_box_style5, .info_box_style6, .info_box_style7, .info_box_style8 {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;	
}

.info_box_style3 i.icon_style1, .info_box_style3 i.icon_style2, .info_box_style4 i.icon_style1, .info_box_style4 i.icon_style2, .info_box_style5 i.icon_style1, .info_box_style5 i.icon_style2, .info_box_style6 i.icon_style1, .info_box_style6 i.icon_style2, .info_box_style7 i.icon_style1, .info_box_style7 i.icon_style2, .info_box_style8 i.icon_style1, .info_box_style8 i.icon_style2  {
	position: absolute;
	top: 0px;
}

.info_box_style3 .info_box_style3_content {
	padding-left: 55px;	
}

.info_box_style4 .info_box_style4_content {
	padding-left: 80px;	
}

.info_box_style5 .info_box_style5_content {
	padding-left: 105px;	
}

.info_box_style6 .info_box_style6_content {
	padding-left: 130px;	
}

.info_box_style7 .info_box_style7_content {
	padding-left: 150px;	
}

.info_box_style8 .info_box_style8_content {
	padding-left: 170px;	
}





/* 
    N) HIGHLIGHTS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* highlight text */

.highlight_grey, .highlight_dark, .highlight_colored {
	padding: 0 6px;
	display: inline-block;
	border-radius: 2px;
	line-height: 20px;
}

.highlight_grey {
	color: #444;
	background: #eee;	
}

.highlight_dark {
	color: #f5f5f5;
	background: #444;	
}

.highlight_colored {
	color: #fff;
	background: #f15a23;	
}





/* 
    O) TABLES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* Table */

table {
	position: relative;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

table.table_with_features_list tbody tr td:first-child {
	font-weight: 700;
	color: #444;
}

table i.icon-ok, table i.icon-remove {
	font-size: 17px;
}

table i.icon-ok {
	color: #4a993e;	
}

table i.icon-remove {
	color: #f15a23;	
}

table td, table th {
	padding: 8px 10px;
}

table th:last-child {
}

table thead {
	background: #444;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

table thead th {
	border-right: 1px solid rgba(255, 255, 255, .1);
	padding: 11px 10px 10px;
	box-shadow: 0 -20px 15px rgba(0, 0, 0, 0.4) inset;	
}

table thead th:first-child {
	border-left: 1px solid #444;	
}

table thead th:last-child {
	border-right: 1px solid #444;	
}

table.table_with_features_list thead th:first-child {
	box-shadow: none;
	background: #fff;
	border-left: none;
	color: #444;
	text-transform: lowercase;
	font-size: 19px;
	font-weight: 100;
	padding-top: 7px;
	letter-spacing: 0;
	border-bottom: 1px solid #eee;
}

table tbody {
	border: 1px solid #eee;
	border-top: none;	
}

table tbody tr:nth-child(2n) {
	background: 0 0 rgba(0, 0, 0, 0.03);	
}

table tbody tr {
	border-top: 1px solid #eee;	
}

table tbody tr:first-child {
	border-top: none;	
}

table tbody tr td {
	border-right: 1px solid #eee;	
}

table tbody tr td:last-child {
	border-right: none;	
}





/* 
    P) PRICING TABLES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* Pricing Table */

.pricing_table {
	display: block;
	position: relative;
	text-align: center;
	font-size: 12px;	
}

.pricing_table .row {
	margin: 0;	
}

.pricing_table .columns {
	padding: 0;
	margin-right: -1px;	
}

.pricing_table [class*="column"] + [class*="column"]:last-child {
/*	float: left;	
*/}

.pricing_table i.icon-ok, .pricing_table i.icon-remove{
	font-size: 17px;
}

.pricing_table i.icon-ok {
	color: #4a993e;	
}

.pricing_table i.icon-remove {
	color: #f15a23;	
}

.pricing_table .pricing_table_column {
	display: block;
	width: 100%;
	overflow: hidden;
	border: 1px solid #eee;
	position: relative;	
}

.pricing_table .pricing_table_column_features {
	border: none;
	overflow: hidden;
	display: block;
	font-weight: 700;
	color: #444;	
}

.pricing_table .pricing_table_column_features .pricing_table_column_header h2 {
	font-size: 32px; 
	font-weight: 100; 
	padding: 0 30px; 
	border: none; 
	padding-top: 28px; 
	height: 135px; 
	line-height: 36px; 
	background: #fff; 
	color: #444; 
	text-shadow: none; 
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none; 
	border-bottom: 1px solid #eee;
	color: #444;	
}

.pricing_table .two.columns .pricing_table_column_features .pricing_table_column_header h2 {
	font-size: 21px;
	line-height: 30px;
	padding-top: 38px;	
}

.pricing_table .pricing_table_column:hover {
	/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */	
}

.pricing_table .pricing_table_column_header {
	display: block;
	background: #444;
	color: #fff;
	overflow: hidden;	
}

.pricing_table .free_pricing_table_column .pricing_table_column_header {
	background: #4a993e;	
}

.pricing_table .featured_pricing_table_column .pricing_table_column_header {
	background: #f15a23;	
}

.pricing_table .pricing_table_column_header .column_title {
	font-size: 13px;
	font-family: "Segoe UI", "helvetica neue", arial, sans-serif;
	text-transform: uppercase;
	background: #222;
	background: rgba(0, 0, 0, .4);
	padding: 10px;
	color: #fff;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px solid #111;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .8);
	box-shadow: inset 0 -15px 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 -15px 15px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 -15px 15px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 -15px 15px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 0 -15px 15px rgba(0, 0, 0, 0.3);
}

.pricing_table .pricing_table_column_header .column_price {
	font-size: 45px;
	display: block;
	padding: 20px 0;
	color: #fff;
	border-top: 1px solid rgba(255, 255, 255, .2);
	box-shadow: inset 0 -45px 30px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 -45px 30px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 -45px 30px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 -45px 30px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 0 -45px 30px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
	font-weight: normal;	
}

.pricing_table .pricing_table_column_header .column_price span.currency_sign {
	color: rgba(255, 255, 255, 0.8);
	font-size: 20px;
	position: relative;
	top: -15px;
	margin-right: 3px;	
}

.pricing_table .free_pricing_table_column .pricing_table_column_header .column_price span.currency_sign {
	color: rgba(255, 255, 255, 0.9);
}

.pricing_table .featured_pricing_table_column .pricing_table_column_header .column_price span.currency_sign {
	color: rgba(255, 255, 255, 0.9);
	top: -21px;
}

.pricing_table .pricing_table_column_header .column_price small {
	font-size: 10px;
	line-height: 15px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ddd;
	color: rgba(255, 255, 255, 0.35);
	letter-spacing: 2px;
	margin-left: 3px;	
}

.pricing_table .free_pricing_table_column .pricing_table_column_header .column_price small {
	color: rgba(255, 255, 255, 0.6);
}

.pricing_table .featured_pricing_table_column {
	margin-top: -18px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	z-index: 1; /* important */	
}

.pricing_table .featured_pricing_table_column .pricing_table_column_header .column_title {
	padding: 12px 10px;
	font-size: 15px;
	font-weight: 700;
}

.pricing_table .featured_pricing_table_column .pricing_table_column_header .column_price small {
	color: rgba(255, 255, 255, 0.6);
}

.pricing_table .featured_pricing_table_column .pricing_table_column_header .column_price {
	padding: 25px 0;
	font-size: 55px;
	font-weight: 700;
	box-shadow: inset 0 -55px 35px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 -55px 35px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 -55px 35px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 -55px 35px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 0 -55px 35px rgba(0, 0, 0, 0.3);
}

.pricing_table ul.column_features {
	list-style-type: none;
	list-style-position: outside;
	display: block;
	width: 100%;	
}

.pricing_table .pricing_table_column_features ul.column_features {
	border-left: 1px solid #eee;	
}

.pricing_table ul.column_features li {
	padding: 8px 10px;
	background: #fff;
	border-bottom: 1px solid #eee;	
}

.pricing_table ul.column_features li:nth-child(2n) {
	background: rgba(0, 0, 0, .03);	
}

.pricing_table .pricing_table_column_footer {
	width: 100%;
	padding: 20px;
}

.pricing_table .pricing_table_column_footer a {
	margin: 0;	
}

.free_pricing_table_column .pricing_table_column_footer .button {
	background: #4a993e;		
}

.free_pricing_table_column .pricing_table_column_footer .button:hover {
	background: #f15a23;		
}





/* 
    Q) LISTS    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/*lists*/

ul.list {
	list-style-type: none;
	list-style-position: outside;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

ul.list li {
	position: relative;
	display: block;
	padding-left: 20px;	
        padding-bottom : 20px;
}

ul.list li:before {
	font-family: "FontAwesome";
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 1px;
	color: #f15a23;	
}

ul.star_list li:before {
	content: "\f005";
}

ul.ok_list li:before {
	content: "\f00c";
}

ul.play_circle_list li:before {
	content: "\f01d";
}

ul.flag_list li:before {
	content: "\f024";
}

ul.bookmark_list li:before {
	content: "\f02e";
}

ul.pencil_list li:before {
	content: "\f040";
}

ul.map_marker_list li:before {
	content: "\f041";
}

ul.tint_list li:before {
	content: "\f043";
}

ul.chevron_right_list li:before {
	content: "\f054";
}

ul.edit_list li:before {
	content: "\f044";
}

ul.share_list li:before {
	content: "\f045";
}

ul.check_list li:before {
	content: "\f046";
}

ul.ok_sign_list li:before {
	content: "\f058";
}

ul.arrow_right_list li:before {
	content: "\f061";
}

ul.share_alt_list li:before {
	content: "\f064";
}

ul.asterisk_list li:before {
	content: "\f069";
}

ul.gift_list li:before {
	content: "\f06b";
}

ul.leaf_list li:before {
	content: "\f06c";
}

ul.signin_list li:before {
	content: "\f090";
}

ul.signout_list li:before {
	content: "\f08b";
}

ul.pushpin_list li:before {
	content: "\f08d";
}

ul.external_link_list li:before {
	content: "\f08e";
}

ul.pullhorn_list li:before {
	content: "\f0a1";
}

ul.bell_list li:before {
	content: "\f0a2";
}

ul.hand_right_list li:before {
	content: "\f0a4";
}

ul.paper_clip_list li:before {
	content: "\f0c6";
}

ul.circle_arrow_right_list li:before {
	content: "\f0a9";
}

ul.magic_list li:before {
	content: "\f0d0";
}

ul.umbrella_list li:before {
	content: "\f0e9";
}

ul.double_angle_right_list li:before {
	content: "\f101";
}

ul.angle_right_list li:before {
	content: "\f105";
}

ul.bell_alt_list li:before {
	content: "\f0f3";
}






/* 
    Q) LIGHTBOXES    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* lightbox item */

/* lightbox item style1 */

.lightbox_item_style1 {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   background: #fff;
}

.flexslider .lightbox_item_style1:hover, .multi_flexslider .lightbox_item_style1:hover {

}

.lightbox_item_style1:before {
    background: url("//static.poptm.com/img/overlay_effect.png") no-repeat scroll center center transparent;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

/*.lightbox_item_style1:after, .lightbox_item_style1:before {
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    content: "";
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 300px;
    position: absolute;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -2;
}
.lightbox_item_style1:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
*/
.lightbox_item_style1 .lightbox_item_style1_overlay_content,.lightbox_item_style1 .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   padding: 20px;
   text-align: center;
   z-index: 5; /* important */
}
.lightbox_item_style1 img {
   display: block;
   position: relative;
}

.lightbox_item_style1 .lightbox_item_style1_title {
	text-transform: uppercase;
	position: relative;
	top: 50%;
	margin-top: -50px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);	
}

.lightbox_item_style1 .lightbox_item_style1_title a {
   color: #fff;
   position: relative;
   margin: 0px 0 0 0;
}

.lightbox_item_style1 .lightbox_item_style1_title a:hover {
	color: #222;	
}

.lightbox_item_style1 .subheader {
	color: #222;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	margin-top: -10px !important;
	font-family: 'Open Sans',Arial,serif !important;
	font-weight: 100;
}

.lightbox_item_style1  h6.subheader {
	font-size: 13px;
}

.lightbox_item_style1 a.permalink, .lightbox_item_style1 a.preview {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background: #222;
	position: absolute;
	top: 50%;
	font-size: 20px;
	border-radius: 1000px;
	left: 50%;
	margin-left: -6px;
}

.lightbox_item_style1 a.preview {
	margin-left: -53px;
	background: #fff;
	color: #222;
	z-index: 1;	
}

.lightbox_item_style1 a.preview:hover, .lightbox_item_style1 a.permalink:hover {
	color: #f15a23;
	margin-top: -3px;
}

.lightbox_item_style1 a.preview:hover {
	background: #eee;
}

.lightbox_item_style1 a.permalink:hover {
	background: #333;
}

.lightbox_item_style1 a.permalink i, .lightbox_item_style1 a.preview i {
		
}


/* lightbox item transition details */

.lightbox_item_style1 img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.lightbox_item_style1:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}

.lightbox_item_style1 .lightbox_item_style1_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: #f15a23;
   background-color: rgba(241, 90, 35, .95);
   background-image: url(//static.poptm.com/img/lightbox_overlay_effect.png);
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.lightbox_item_style1:hover .lightbox_item_style1_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.lightbox_item_style1 .lightbox_item_style1_title, .lightbox_item_style1 .subheader {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.lightbox_item_style1:hover .lightbox_item_style1_title,
.lightbox_item_style1:hover .subheader {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}

.lightbox_item_style1 a.preview, .lightbox_item_style1 a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
}

.lightbox_item_style1:hover a.preview,
.lightbox_item_style1:hover a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}


/* lightbox item style2 */

.lightbox_item_style2 {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   background: #fff;
}

.flexslider .lightbox_item_style2:hover, .multi_flexslider .lightbox_item_style2:hover {

}

.lightbox_item_style2:before {
    background: url("//static.poptm.com/img/overlay_effect.png") no-repeat scroll center center transparent;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

/*.lightbox_item_style2:after, .lightbox_item_style2:before {
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    content: "";
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 300px;
    position: absolute;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -2;
}
.lightbox_item_style2:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
*/
.lightbox_item_style2 .lightbox_item_style2_overlay_content,.lightbox_item_style2 .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   padding: 20px;
   text-align: center;
   z-index: 5; /* important */
}
.lightbox_item_style2 img {
   display: block;
   position: relative;
}

.lightbox_item_style2 a.permalink, .lightbox_item_style2 a.preview {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background: #222;
	position: absolute;
	top: 50%;
	font-size: 20px;
	border-radius: 1000px;
	left: 50%;
	margin-left: -6px;
	margin-top: -30px;
}

.lightbox_item_style2 a.preview {
	margin-left: -53px;
	background: #fff;
	color: #222;
	z-index: 1;	
}

.lightbox_item_style2 a.preview:hover, .lightbox_item_style2 a.permalink:hover {
	color: #f15a23;
	margin-top: -33px;
}

.lightbox_item_style2 a.preview:hover {
	background: #eee;
}

.lightbox_item_style2 a.permalink:hover {
	background: #333;
}

.lightbox_item_style2 a.permalink i, .lightbox_item_style2 a.preview i {
		
}


/* lightbox item style2 transition details */

.lightbox_item_style2 img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.lightbox_item_style2:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}

.lightbox_item_style2 .lightbox_item_style2_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: #f15a23;
   background-color: rgba(241, 90, 35, .95);
   background-image: url(//static.poptm.com/img/lightbox_overlay_effect.png);
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.lightbox_item_style2:hover .lightbox_item_style2_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.lightbox_item_style2 a.preview, .lightbox_item_style2 a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.lightbox_item_style2 a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-transform: translateX(100px);
   -moz-transform: translateX(100px);
   -o-transform: translateX(100px);
   -ms-transform: translateX(100px);
   transform: translateX(100px);
}

.lightbox_item_style2 a.preview {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-transform: translateX(-100px);
   -moz-transform: translateX(-100px);
   -o-transform: translateX(-100px);
   -ms-transform: translateX(-100px);
   transform: translateX(-100px);
}

.lightbox_item_style2:hover a.preview,
.lightbox_item_style2:hover a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}





/* 
    S) DIVIDERS SPACE    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



.divider_space_container {
	display: block;
	position: relative;
	padding-bottom: 46px;	
}

/*divider space*/

.divider_space {
	height: 50px;
	display: block;
	overflow: hidden;
	clear: both;	
}

/*divider space mini*/

.mini_divider_space {
	height: 25px;
	display: block;
	overflow: hidden;
	clear: both;	
}

/*divider space with line*/

.divider_space_with_line {
	margin-bottom: 70px;
	border-bottom: 1px solid #eee;
	display: block;
	overflow: hidden;
	position: relative;
	top: 60px;
	clear: both;	
}

/*divider space with two line*/

.divider_space_with_two_line {
	height: 4px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	display: block;
	position: relative;
	top: 20px;
	clear: both;	
}






/* 
    T) SECTION TITLE    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */




/* divider title and section title style1 */

.section_title_style1_container {
	height: 5px;
	margin-bottom: 40px;
	margin-top: 4px;
	border-bottom: 1px solid #eee;
	display: block;
	position: relative;
	top: 5px;
	clear: both;
	padding-bottom: 19px;	
}

.section_title_style1 { 
	display: inline-block;
	position: absolute;
	height: 5px;
	border-bottom: 3px solid #f15a23;
	padding: 0 0 17px 0;
	top: 0;
	line-height: 0;
}

.section_title_style1 span {
	font-size: 17px;
	color: #444;
	font-weight: 700;
	position: relative;
}

.section_title_style1 span .colored {
	color: #f15a23 !important;
	display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
	top: 0 !important;
}


/* divider title and section title style2 */

.section_title_style2_container {
    border-bottom: 1px solid #eee;
    clear: both;
    display: block;
    height: 5px;
    margin-bottom: 40px;
    margin-top: 5px;
    position: relative;
    top: 5px;
}

.section_title_style2 {
    border-bottom: 2px solid #f15a23;
    border-top: 1px solid #f15a23;
    display: inline-block;
    height: 3px;
    line-height: 0;
    padding: 0 20px 0 0;
    position: absolute;
    top: 2px;
}

.section_title_style2 span {
    background: none repeat scroll 0 0 #fff;
    color: #444;
    font-weight: 700;
    font-size: 17px;
    padding: 0 10px 0 0;
    position: relative;
    top: -2px;
}

.section_title_style2 span .colored {
	color: #f15a23 !important;
	display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
	top: 0 !important;
}



/* divider title and section title style3 */

.section_title_style3_container {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    clear: both;
    display: block;
    height: 4px;
    margin-bottom: 40px;
    margin-top: 5px;
    position: relative;
    top: 5px;
}

.section_title_style3 {
    border-bottom: 1px solid #f15a23;
    border-top: 1px solid #f15a23;
    display: inline-block;
    height: 4px;
    line-height: 0;
    padding: 0 20px 0 0;
    position: absolute;
    top: -1px;
}

.section_title_style3 span {
    background: none repeat scroll 0 0 #fff;
    color: #444;
    font-weight: 700;
    font-size: 17px;
    padding: 0 10px 0 0;
    position: relative;
    top: -1px;
}

.section_title_style3 span .colored {
	color: #f15a23 !important;
	display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
	top: 0 !important;
}





/* 
    U) PREVIEW BOX    
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* preview box [ which could be used to preview image or video in such a column, except in teaser and post media, they have their own specifications ] */

.preview_box {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

