/*--------------------------------------------------
			Social Icons
---------------------------------------------------*/
.social_icons {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	display: block;
	font-size: 0;
	line-height: 0;
}

.social_icons li {
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 0px;
	background-color: #f8f8f8;
	display: inline-block;
	width: auto;
}	

footer .social_icons li {
	background-color: #fff;
}	

.social_icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

footer .social_icons li a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}	
	
.social_icons li.aim a {
	background: url(//static.poptm.com/img/aim.png) no-repeat 0 0;
}
.social_icons li.aim a:hover {
	background-color: #e95a00;
}
.social_icons li.apple a {
	background: url(//static.poptm.com/img/apple.png) no-repeat 0 0;
}
.social_icons li.apple a:hover {
	background-color: #606060;
}
.social_icons li.behance a {
	background: url(//static.poptm.com/img/behance.png) no-repeat 0 0;
}
.social_icons li.behance a:hover {
	background-color: #18a3fe;
}
.social_icons li.blogger a {
	background: url(//static.poptm.com/img/blogger.png) no-repeat 0 0;
}
.social_icons li.blogger a:hover {
	background-color: #fb913f;
}
.social_icons li.cargo a {
	background: url(//static.poptm.com/img/cargo.png) no-repeat 0 0;
}
.social_icons li.cargo a:hover {
	background-color: #00c462;
}
.social_icons li.delicious a {
	background: url(//static.poptm.com/img/delicious.png) no-repeat 0 0;
}
.social_icons li.delicious a:hover {
	background-color: #3274d1;
}
.social_icons li.deviantart a {
	background: url(//static.poptm.com/img/deviantart.png) no-repeat 0 0;
}
.social_icons li.deviantart a:hover {
	background-color: #d0de21;
}
.social_icons li.digg a {
	background: url(//static.poptm.com/img/digg.png) no-repeat 0 0;
}
.social_icons li.digg a:hover {
	background-color: #2882c6;
}
.social_icons li.dopplr a {
	background: url(//static.poptm.com/img/dopplr.png) no-repeat 0 0;
}
.social_icons li.dopplr a:hover {
	background-color: #99cc66;
}
.social_icons li.dribbble a {
	background: url(//static.poptm.com/img/dribbble.png) no-repeat 0 0;
}
.social_icons li.dribbble a:hover {
	background-color: #ef5b92;
}
.social_icons li.ember a {
	background: url(//static.poptm.com/img/ember.png) no-repeat 0 0;
}
.social_icons li.ember a:hover {
	background-color: #fb9d00;
}
.social_icons li.evernote a {
	background: url(//static.poptm.com/img/evernote.png) no-repeat 0 0;
}
.social_icons li.evernote a:hover {
	background-color: #77ba2f;
}
.social_icons li.facebook a {
	background: url(//static.poptm.com/img/facebook.png) no-repeat 0 0;
}
.social_icons li.facebook a:hover {
	background-color: #3b5998;
}
.social_icons li.flickr a {
	background: url(//static.poptm.com/img/flickr.png) no-repeat 0 0;
}
.social_icons li.flickr a:hover {
	background-color: #f1628b;
}
.social_icons li.forrst a {
	background: url(//static.poptm.com/img/forrst.png) no-repeat 0 0;
}
.social_icons li.forrst a:hover {
	background-color: #5b9a68;
}
.social_icons li.github a {
	background: url(//static.poptm.com/img/github.png) no-repeat 0 0;
}
.social_icons li.github a:hover {
	background-color: #7292a2;
}
.social_icons li.google a {
	background: url(//static.poptm.com/img/google.png) no-repeat 0 0;
}
.social_icons li.google a:hover {
	background-color: #dd4b39;
}
.social_icons li.googleplus a {
	background: url(//static.poptm.com/img/googleplus.png) no-repeat 0 0;
}
.social_icons li.googleplus a:hover {
	background-color: #d94a39;
}
.social_icons li.gowalla a {
	background: url(//static.poptm.com/img/gowalla.png) no-repeat 0 0;
}
.social_icons li.gowalla a:hover {
	background-color: #ff920d;
}
.social_icons li.grooveshark a {
	background: url(//static.poptm.com/img/grooveshark.png) no-repeat 0 0;
}
.social_icons li.grooveshark a:hover {
	background-color: #f88e00;
}
.social_icons li.html5 a {
	background: url(//static.poptm.com/img/html5.png) no-repeat 0 0;
}
.social_icons li.html5 a:hover {
	background-color: #f3642c;
}
.social_icons li.icloud a {
	background: url(//static.poptm.com/img/icloud.png) no-repeat 0 0;
}
.social_icons li.icloud a:hover {
	background-color: #fb913f;
}
.social_icons li.lastfm a {
	background: url(//static.poptm.com/img/lastfm.png) no-repeat 0 0;
}
.social_icons li.lastfm a:hover {
	background-color: #d21309;
}
.social_icons li.linkedin a {
	background: url(//static.poptm.com/img/linkedin.png) no-repeat 0 0;
}
.social_icons li.linkedin a:hover {
	background-color: #71b2d0;
}
.social_icons li.metacafe a {
	background: url(//static.poptm.com/img/metacafe.png) no-repeat 0 0;
}
.social_icons li.metacafe a:hover {
	background-color: #ef4035;
}
.social_icons li.mixx a {
	background: url(//static.poptm.com/img/mixx.png) no-repeat 0 0;
}
.social_icons li.mixx a:hover {
	background-color: #d80330;
}
.social_icons li.myspace a {
	background: url(//static.poptm.com/img/myspace.png) no-repeat 0 0;
}
.social_icons li.myspace a:hover {
	background-color: #003398;
}
.social_icons li.netvibes a {
	background: url(//static.poptm.com/img/netvibes.png) no-repeat 0 0;
}
.social_icons li.netvibes a:hover {
	background-color: #629e61;
}
.social_icons li.newsvine a {
	background: url(//static.poptm.com/img/newsvine.png) no-repeat 0 0;
}
.social_icons li.newsvine a:hover {
	background-color: #5b965a;
}
.social_icons li.orkut a {
	background: url(//static.poptm.com/img/orkut.png) no-repeat 0 0;
}
.social_icons li.orkut a:hover {
	background-color: #ed2590;
}
.social_icons li.paypal a {
	background: url(//static.poptm.com/img/paypal.png) no-repeat 0 0;
}
.social_icons li.paypal a:hover {
	background-color: #32689a;
}
.social_icons li.picasa a {
	background: url(//static.poptm.com/img/picasa.png) no-repeat 0 0;
}
.social_icons li.picasa a:hover {
	background-color: #444;
}
.social_icons li.pinterest a {
	background: url(//static.poptm.com/img/pinterest.png) no-repeat 0 0;
}
.social_icons li.pinterest a:hover {
	background-color: #cb2027;
}
.social_icons li.plurk a {
	background: url(//static.poptm.com/img/plurk.png) no-repeat 0 0;
}
.social_icons li.plurk a:hover {
	background-color: #f35b36;
}
.social_icons li.posterous a {
	background: url(//static.poptm.com/img/posterous.png) no-repeat 0 0;
}
.social_icons li.posterous a:hover {
	background-color: #f9d560;
}
.social_icons li.reddit a {
	background: url(//static.poptm.com/img/reddit.png) no-repeat 0 0;
}
.social_icons li.reddit a:hover {
	background-color: #bfd0e2;
}
.social_icons li.rss a {
	background: url(//static.poptm.com/img/rss.png) no-repeat 0 0;
}
.social_icons li.rss a:hover {
	background-color: #fe9900;
}
.social_icons li.skype a {
	background: url(//static.poptm.com/imgskype.png) no-repeat 0 0;
}
.social_icons li.skype a:hover {
	background-color: #18b7f1;
}
.social_icons li.stumbleupon a {
	background: url(//static.poptm.com/img/stumbleupon.png) no-repeat 0 0;
}
.social_icons li.stumbleupon a:hover {
	background-color: #eb4924;
}
.social_icons li.technorati a {
	background: url(//static.poptm.com/img/technorati.png) no-repeat 0 0;
}
.social_icons li.technorati a:hover {
	background-color: #7ac84f;
}
.social_icons li.tumblr a {
	background: url(//static.poptm.com/img/tumblr.png) no-repeat 0 0;
}
.social_icons li.tumblr a:hover {
	background-color: #3a5976;
}
.social_icons li.twitter a {
	background: url(//static.poptm.com/img/twitter.png) no-repeat 0 0;
}
.social_icons li.twitter a:hover {
	background-color: #48c4d2;
}
.social_icons li.vimeo a {
	background: url(//static.poptm.com/img/vimeo.png) no-repeat 0 0;
}
.social_icons li.vimeo a:hover {
	background-color: #62a0ad;
}
.social_icons li.wordpress a {
	background: url(//static.poptm.com/img/wordpress.png) no-repeat 0 0;
}
.social_icons li.wordpress a:hover {
	background-color: #464646;
}
.social_icons li.yahoo a {
	background: url(//static.poptm.com/img/yahoo.png) no-repeat 0 0;
}
.social_icons li.yahoo a:hover {
	background-color: #ab64bc;
}
.social_icons li.yelp a {
	background: url(//static.poptm.com/img/yelp.png) no-repeat 0 0;
}
.social_icons li.yelp a:hover {
	background-color: #c41200;
}
.social_icons li.youtube a {
	background: url(//static.poptm.com/img/youtube.png) no-repeat 0 0;
}
.social_icons li.youtube a:hover {
	background-color: #f45750;
}
.social_icons li.zerply a {
	background: url(//static.poptm.com/img/zerply.png) no-repeat 0 0;
}
.social_icons li.zerply a:hover {
	background-color: #8db259;
}
.social_icons li.zootool a {
	background: url(//static.poptm.com/img/zootool.png) no-repeat 0 0;
}
.social_icons li.zootool a:hover {
	background-color: #262626;
}
.social_icons li a:hover {
	background-position: 0 -40px;
}