body, ul, ol, h1,h3,h3,h4,h5,h6,form,li,p,input,select,legend,textarea,fieldset{ margin:0; padding:0;}

/* body settings */

.rr 
{
    width: 990px;
    max-width: 100%;
    min-width: 768px;
    margin: -20px auto;
}

body {
	display: ;
	width: 100%;
	position: relative;
	font-size: 13px;
	font-family: "Segoe UI", "helvetica neue", arial, sans-serif;
	line-height: 21px;
	background: #fff;
	color: #777;	
}

#full_container {
	display: block;
	position: relative;
	overflow: visible;
	max-width: 100%;	
}

 

header .row,#slider_container .row, #frontpage_website_header_message.row, #general_website_page_title .row, #main.row, footer .row {
/*	padding: 0 30px;	
*/}

footer .row .row {
	padding: 0;	
}

/* texts selection [ when making highlighting on texts by mouse ] */

::-moz-selection{
	background:#f15a23;	/*background color of fonts when highlight texts by mouse*/
	color:#fff;	/*color of fonts when highlight texts by mouse*/
}

::selection {
	background:#f15a23;	/*background color when highlight texts by mouse*/
	color:#fff;	/*color of fonts when highlight texts by mouse*/
}

/* general links and images as links settings */

a, a img {
	outline: none !important;
	border: none;	
}

a {
	text-decoration: none;
	color: #f15a23;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

a:hover {
	text-decoration: none;
	color: #444;	
}

p a {
	border-bottom: 1px dotted transparent;
}

p a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #444;	
}

/*	
---------------------------------------------------------------------------------------------------------------------------------
	B) HEADER [ containing "logo and navigation" ]
---------------------------------------------------------------------------------------------------------------------------------
*/
.logo{

margin-top: 14px;
margin-left: 59px;
margin-bottom: 15px;
max-width: 110%
}



header {
	display: block;
	position: relative;
	width: 100%;
        padding-bottom: 0%;
	background: #EEE url("//static.poptm.com/img/header_img.png") no-repeat top center;
	margin-bottom: 35px;
}

/* logo */

a#logo  {
	display: block;
	position: relative;
	top: 43px; /* distance between logo and top */
}

a#logo img {
	display: none;	
}

.website_title {
	font-size: 26px;
	display: inline-block;
	font-weight: normal;
	padding-bottom: 0;
	text-transform: uppercase;
	margin-top: 7px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	position: relative;
	width: auto;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.website_title:before, .website_title:after {
	background: #f15a23;
	content: "";
	display: inline-block;
	height: 19px;
	margin-right: 20px;
	width: 6px;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.website_title:after {
	bottom: 4px;
	float: left;
	left: 9px;
	position: absolute;
}

a#logo:hover .website_title {
	color: #f15a23;
}

a#logo:hover .website_title:before, a#logo:hover .website_title:after {
	background: #444;
}

.website_title_description {
	color: #777777;
	font-size: 12px;
	display: block;
}

/* navigation */

nav#main_nav {
	position: relative;
	top: 39px; /* distance between navigation and top */
	display: block;
	padding-left: 3.5%;
        padding-right: 173px;
}

#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	position: relative;
	z-index: 1000;
}

#menu {
	zoom:1;
}

#menu:before,
#menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}

#menu li {
	float: left;
	position: relative;
}

#menu a {
	float: left;
	margin: -8px 33px 1px -24px;
	color: #888;
	text-decoration: none;
	padding: 10px 0 20px 0;
}

#menu a.current {
	color: #f15a23;
}



#menu li:hover > a {
	color: #f15a23;
}

#menu li li:hover > a {
	color: #f15a23;
	background-color: #fafafa;
	background-image: linear-gradient(#fcfcfc, #f8f8f8);
}

*html #menu li a:hover { /* IE6 only */
	color: #f15a23;
}

#menu ul {
	margin: 0 0 0 0; /* top distance effect for fading of the first level links [ main navigation links ] */
	_margin: 0; /*IE6 only*/
	position: absolute;
	top: 50px; /* distance between 2nd "ul" level and its related main navigation link */
	left: 0;
	z-index: 1000;    
	background: #fff;	
	border-top: 3px solid #f15a23;
	box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	-o-box-shadow: 0px 2px 5px rgba(0,0,0,.15);
	-ms-box-shadow: 0px 2px 5px rgba(0,0,0,.15);	
	border-radius: 3px;
	display: none;
}

#menu li:hover > ul {
	margin: 0;
}

#menu ul ul {
	top: -3px; /* this value is equal to the border top for the next levels "ul" of navigation [ like 2nd and 3rd "ul" ] */
	left: 200px; /* this value must be equal or less than the specified 2nd level ul links */
	margin: 0 0 0 0; /* right distance effect for fading of the second level "ul" */
	_margin: 0; /*IE6 only*/
}

#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	border-bottom: 1px solid #f1f1f1;
}

#menu ul li:last-child {   
	box-shadow: none; 
	border: none;
}

#menu ul a {    
	width: 210px; /* width of next levels of "ul" [ like 2nd and 3rd "ul" ] */
	_height: 10px; /*IE6 only*/
	display: block;
	/* white-space: nowrap; */
	float: none;
	text-transform: none;
	margin: 0;
	padding: 8px 15px 10px; /* padding of next levels links */
	border-top: 1px solid #fff;
	font-size: 12px;
}

#menu ul a.current {
	color: #f15a23;	
}

#menu ul a.current:before {
	font-weight: lighter;	
}

#menu ul a:before {
    color: #f15a23;
    content: "\f105"; /* \f105 , with font-size: 12px & top: 9px */ /* \f0da */
    font-family: "FontAwesome";
    font-size: 12px; /* 11 */
    left: 13px; /* 12 */
    position: absolute;
    top: 9px; /* 10 */
}

#menu ul a {
	padding-left: 27px;	
}

#menu ul li a:last-child {
	border-radius: 0 0 3px 3px;	
}

#menu ul a:hover {
	background-color: #fafafa;
	background-image: linear-gradient(#fafafa, #f8f8f8);
	-moz-background-image: linear-gradient(#fafafa, #f8f8f8);
	-webkit-background-image: linear-gradient(#fafafa, #f8f8f8);
	-o-background-image: linear-gradient(#fafafa, #f8f8f8);
	-ms-background-image: linear-gradient(#fafafa, #f8f8f8);
}

#menu ul li:first-child > a {
	border-radius: 0px 0px 0 0;
}

#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 15px;
	top: -11px; /* -10 */
	border-left: 0px solid transparent; /* 6 */
	border-right: 9px solid transparent; /* 7 */
	border-bottom: 9px solid #f15a23; /* 7 */
}

#menu ul ul li:first-child a:after {
	left: -9px; /* -7 */
	top: 55%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom: 9px solid transparent; /* 6 */
	border-top: 0px solid transparent; /* 6 */
	border-right: 9px solid #f15a23; /* 7 */
}

#menu ul li:first-child a:hover:after {
	border-bottom-color: #f15a23; 
}

#menu ul ul li:first-child a:hover:after {
	border-right-color: #f15a23; 
	border-bottom-color: transparent; 	
}

#menu ul li:last-child > a {
	
}

/* set up the right arrows first */

/*   #menu li > a:after { content: '»'; font-size: 17px; position: relative; right: -5px; }
*/
/* set up the downward arrow for top level items */
  
/*   #menu > li > a:after {content: '»'; font-size: 17px; position: relative; right: -5px; }
*/
 /* clear the content if a is only child */
   
/*   #menu li > a:only-child:after {content: ''; }
*/


/* SelectNav */

nav .selectnav { 
	display: none;
	width: 100%;
	padding: 12px;
	cursor: pointer;		
	border: 1px solid #ddd;
	background: #fff;
	color: #444;
	position: relative;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	font-weight: bold;
	box-shadow: inset 0 -21px 15px rgba(0, 0, 0, 0.03);
}

nav .selectnav option {
	font-weight: lighter;
}






/*	
---------------------------------------------------------------------------------------------------------------------------------
	C) FRONTPAGE WEBSITE HEADING MESSAGE [ containing "logo and navigation" ]
---------------------------------------------------------------------------------------------------------------------------------
*/


/* website header message */

/* website header message style1 */

#frontpage_website_header_message_style1 {
	display: block;
	position: relative;
	margin-top: 0px;
	margin-bottom: 35px;	
}

#frontpage_website_header_message_style1 .subheader {
	margin: 0;
	margin-top: -5px;
	padding-bottom: 8px;	
}

#frontpage_website_header_message_style1 span a {
	color: #fff;
	background: #f15a23;
	padding: 4px 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

#frontpage_website_header_message_style1 span a:hover {
	color: #f15a23;
	text-decoration: none;
	border-bottom: 1px solid #f15a23;
	background: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}


/* website header message style2 */

#frontpage_website_header_message_style2 {
	display: block;
	position: relative;
	margin-top: 0px;
	margin-bottom: 35px;	
}

#frontpage_website_header_message_style2 .eight {
	padding-right: 30px;
	border-right: 1px solid #eee;
}

#frontpage_website_header_message_style2 .four {
	padding-left: 30px;
}

#frontpage_website_header_message_style2 span a {
	color: #fff;
	background: #f15a23;
	padding: 4px 10px;
	margin-bottom: -5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

#frontpage_website_header_message_style2 span a:hover {
	color: #f15a23;
	text-decoration: none;
	border-bottom: 1px solid #f15a23;
	background: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}







/*	
---------------------------------------------------------------------------------------------------------------------------------
	D) SLIDERS 
---------------------------------------------------------------------------------------------------------------------------------
*/

#slider_container {
	display: block;
	position: relative;
	width: 100%;
	padding: 0 0 70px 0;
}




/*	
---------------------------------------------------------------------------------------------------------------------------------
	E) MAIN
---------------------------------------------------------------------------------------------------------------------------------
*/

#main_container {
	display: block;
	position: relative;
	width: 100%;
	padding: 0;	
}

#main {
	display: block;
}

/* general website header title */

#general_website_page_title {
	display: block;
	position: relative;
	margin-bottom: 45px;
	border-bottom: 1px solid #eee;
}

#general_website_page_title .row {
	padding-bottom: 1px;
	margin-top: -30px;
}

#general_website_page_title .subheader {
	margin: 0;
	padding-bottom: 8px;	
}


/* content */

#content {
	diplay: block;
	position: relative;
	/* overflow: hidden; */ /* important */
}




/* sidebar */

.sidebar {
	display: block;
	position: relative;
	font-size: 12px;
	line-height: 20px;
}


/* team member */

.team_member {
		
}

.team_member .teaser {

}

.team_member .teaser:hover ul.team_member_social_icons {
	border-color: #bbb;	
}

.team_member .teaser, .team_member .teaser .teaser_preview_box, .team_member .teaser .teaser_preview_box img {
/*	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;	
*/}

.team_member .teaser .teaser_preview_box {
	margin-bottom: 20px;	
}

.team_member .teaser .teaser_preview_box:before {
    background: url("//static.poptm.com/img/overlay_effect.png") no-repeat scroll center center transparent;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.team_member .teaser .subheader {
	padding-bottom: 0;	
}

.team_member ul.team_member_social_icons {
	list-style-type: none;
	list-style-position: outside;
	width: 100%;
	padding-top: 15px;
	border-top: 1px dotted #ddd;
	margin-top: 20px;
	margin-bottom: 1px;
}

.team_member ul.team_member_social_icons li {
	display: inline-block;
	margin: 0 1.5px;
	overflow: hidden;
}

.team_member ul.team_member_social_icons li a i {
	display: block;
	font-size: 15px;
	color: #fff;
	width: 23px;
	height: 23px;
	line-height: 23px;
	background: #888;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;	
}

.team_member ul.team_member_social_icons li a i:hover {
	background: #f15a23;	
}


.team_member ul.team_member_social_icons, .team_member ul.team_member_social_icons li a i {
	transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}


/* service box */

.service_box {
	
}

.service_box .teaser .teaser_preview_box i {
	transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
}

.service_box .teaser .teaser_preview_box i {
	color: #444;
	display: inline-block;
}

.service_box .teaser:hover .teaser_preview_box i  {
	color: #f5f5f5; 
}

.service_box .teaser p {
	padding-bottom: 10px;	
}

.service_box .teaser a.button, .service_box .teaser a.readmore_link {
	margin-bottom: 15px;
	margin-top: 7px;	
}










/*	
---------------------------------------------------------------------------------------------------------------------------------
	F) PORTFOLIO
---------------------------------------------------------------------------------------------------------------------------------
*/


/* The Quicksand CSS */

/* portfolio categories */

ul#portfolio_categories {
	height: auto;
	margin-bottom: 40px;
	overflow: hidden;
}

ul#portfolio_categories li { 
	margin-right: 25px; 
	display: inline-block; 
	float: left; 
}

ul#portfolio_categories li:first-child {
	margin-right: 20px;	
}

ul#portfolio_categories li i {
	font-size: 21px;
	color: #444;
	position: relative;
	top: -3px;
	left: -3px;	
}

ul#portfolio_categories li a {
	color: #888;
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
}

ul#portfolio_categories li a:hover { 
	color: #444; 
}

ul#portfolio_categories li.active a, ul#portfolio_categories li.active a:hover { 
	color: #f15a23; 
}

/* portfolio items container */

ul.portfolio_items_container {
	width: auto !important; /* 100% */
	height: auto;
	overflow: hidden;
	margin-bottom: -30px !important;
}

ul.portfolio_items_container li {
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}


/* portfolio item */

.portfolio_item1 {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #fff;
}

.portfolio_item1:hover .portfolio_item1:before {
	opacity: 0;	
}

.portfolio_item1:before {
    background: url("//static.poptm.com/img/overlay_effect.png") no-repeat scroll center center transparent;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.portfolio_item1 .lightbox_item_style1:before, .portfolio_item1 .lightbox_item_style2:before {
	display: none;	
}

/*.portfolio_item1:after, .portfolio_item1:before {
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    content: "";
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 300px;
    position: absolute;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -2;
}
.portfolio_item1:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
*/

.portfolio_item1 .portfolio_item1_overlay_content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   padding: 20px;
   text-align: left;
   z-index: 5; /* important */
}

.portfolio_item1 img {
   display: block;
   position: relative;
}

.portfolio_item1 .portfolio_item1_title {
	text-transform: uppercase;
	position: relative;
	left: -2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);	
}

.portfolio_item1 .portfolio_item1_title a {
   color: #fff;
   position: relative;
   margin: 0px 0 0 0;
}

.portfolio_item1 .portfolio_item1_title a:hover {
	color: #222;	
}

.portfolio_item1 .subheader {
	color: #222;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.portfolio_item1  h6.subheader {
	font-size: 13px;
}

.portfolio_item1 p {
   font-size: 11px;
   position: relative;
   color: #fff;
   padding: 5px 0 10px;
   line-height: 20px;
}

.portfolio_item1 a.permalink, .portfolio_item1 a.preview {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #222;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 16px;
	border-radius: 1000px;	
}

.portfolio_item1 a.preview {
	right: 44px;
	background: #fff;
	color: #222;	
}

.portfolio_item1 a.preview:hover, .portfolio_item1 a.permalink:hover {
	color: #f15a23;
	bottom: 12px;	
}

.portfolio_item1 a.preview:hover {
	background: #eee;
}

.portfolio_item1 a.permalink:hover {
	background: #333;
}

.portfolio_item1 a.permalink i, .portfolio_item1 a.preview i {
		
}

.portfolio_item1 .portfolio_item1_categories {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #222;
	max-width: 60%;
}

.portfolio_item1 .portfolio_item1_categories a {
	display: inline-block;
	color: #222;
	text-transform: uppercase;
	padding: 0 7px;
	padding-bottom: 1px;
	font-size: 9px;
	line-height: 10px;
	border-right: 1px solid #222;
}

.portfolio_item1 .portfolio_item1_categories a:last-child {
	border: none;
	padding-right: 0;	
}

.portfolio_item1 .portfolio_item1_categories a:first-child {
	padding-left: 0;	
}

.portfolio_item1 .portfolio_item1_categories a:hover {
	color: #fff;	
}



/* portfolio item1 transition details */

.portfolio_item1 img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.portfolio_item1:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}

.portfolio_item1 .portfolio_item1_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: #f15a23;
   background-color: rgba(241, 90, 35, .95);
   background-image: url(//static.poptm.com/img/lightbox_overlay_effect.png);
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.portfolio_item1:hover .portfolio_item1_overlay_content {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.portfolio_item1 .portfolio_item1_title, .portfolio_item1 .subheader {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.portfolio_item1:hover .portfolio_item1_title,
.portfolio_item1:hover .subheader {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}

.portfolio_item1 p {
   -webkit-transform: translateX(-100px);
   -moz-transform: translateX(-100px);
   -o-transform: translateX(-100px);
   -ms-transform: translateX(-100px);
   transform: translateX(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.portfolio_item1:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
   -moz-transition-delay: .4s;
   -webkit-transition-delay: .4s;
   -ms-transition-delay: .4s;
   -o-transition-delay: .4s;
   transition-delay: .4s;
}

.portfolio_item1 a.preview, .portfolio_item1 a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
}

.portfolio_item1:hover a.preview,
.portfolio_item1:hover a.permalink {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}




/* portfolio item 2 */

.portfolio_item2 {
/*   width: 100%;
   height: 100%;
   float: left;
   overflow: hidden;
   display: block;
   position: relative;
   text-align: center;
   cursor: default;
   background: #fff;
*/}

.portfolio_item2 .teaser {
	padding-bottom: 20px;
	margin-bottom: 0;	
}

.portfolio_item2 .teaser .subheader {
	padding-bottom: 10px;
}











/*	
---------------------------------------------------------------------------------------------------------------------------------
	G) FOOTER
---------------------------------------------------------------------------------------------------------------------------------
*/


footer {
	display: blocks;
	position: relative;
	width: 100%;
	padding-top: 51px;
	margin-top: 0px;
	padding-bottom: 0px;
	background: #f5f5f5 url(//static.poptm.com/img/footer_background.png) no-repeat center top;
	font-size: 12px;
	line-height: 20px;
	color: #888;
}


/*footer_column_title*/

.footer_column_title {
	font-size: 17px;
	line-height: 23px;
	font-family: "Open Sans", Arial, sans-serif;
	display: block;
	padding-bottom: 14px;
	color: #666;
	text-shadow: none;
	font-style: normal;
}

/*footer_column_content*/

.footer_column_content {
	display: block;
	overflow: hidden;
	width: 100%;
	padding-bottom: 25px;
}

.footer_column_content p:last-child {
	padding-bottom: 0;	
}

/*footer_column_list_links*/

ul.footer_column_list_links {
	list-style-type: none;
	list-style-position: outside;
	display: block;
	width: 100%;
	border: none;
	float: left !important;
}

ul.footer_column_list_links li {
	display: block;
}

ul.footer_column_list_links li a {
	padding: 1px 0;
/*	padding-left: 15px;
*/	display: inline-block;
	text-decoration: none;
	color: #888;
	background: none;
	border: none;
	position: relative;
}

/*ul.footer_column_list_links li a:before {
    color: #F15A23;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 12px;
    left: 0;
    position: absolute;
    top: 2px;
}
*/

ul.footer_column_list_links li a:hover {
	text-decoration: none;;
	color: #f15a23;
	text-shadow: none;
}


/* right part of footer */

.right_part {
	padding-left: 78px;
	padding-top: 40px;
	font-size: 12px;
	line-height: 20px;	
}

/* footer logo */

a#footer_logo  {
	display: block;
	position: relative;
	top: 0; /* distance between logo and top */
	padding-bottom: 19px;
	margin-bottom: 15px;
}

a#footer_logo:before {
        display: none;
	content: "";
	width: 20px;
	height: 1px;
	background: #eee;
	position: absolute;
	bottom: 0;	
}

a#footer_logo img {
	margin-top: 5px;	
}

.footer_website_title {
	font-size: 19px;
	display: inline-block;
	font-weight: normal;
	padding-bottom: 0;
	text-transform: uppercase;
	margin-top: 7px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	position: relative;
	width: auto;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.footer_website_title:before, .footer_website_title:after {
	background: #f15a23;
	content: "";
	display: inline-block;
	height: 14px;
	margin-right: 14px;
	width: 4px;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.footer_website_title:after {
	bottom: 3px;
	float: left;
	left: 6px;
	position: absolute;
}

a#footer_logo:hover .website_title {
	color: #f15a23;
}

a#footer_logo:hover .footer_website_title {
	color: #f15a23;
}

a#footer_logo:hover .footer_website_title:before, a#footer_logo:hover .footer_website_title:after {
	background: #444;
}

.footer_website_title_description {
	color: #777777;
	font-size: 12px;
	display: block;
}

/* footer logo */

img.footer_logo {
	display: block;
	margin-bottom: 15px	
}


/* copyright message */

#copyright_message {
	display: block;
	overflow: hidden;
	position: relative;
	top: -20px;
        left: 35px
}

#copyright_message span.copyright_website_title {
	color: #444;
	font-size: 12px;
	display: block;
	font-weight: bold;
	text-shadow: none;
}








/*	
---------------------------------------------------------------------------------------------------------------------------------
	H) GENERIC
---------------------------------------------------------------------------------------------------------------------------------
*/

/* headers */

h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 0;
	font-weight: 700;
	font-family: 'Open Sans', Arial, serif; /*OFL Sorts Mill Goudy TT*/
	color: #444;
	width: 100%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: #444;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #f15a23;
}

.subheader {
	color: #666;
	margin-bottom: 0;
	font-weight: 100;
	padding-bottom: 20px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 60%;
	color: #777;
	line-height: 0;	
}

/*headers sizes*/

h1 {
	font-size: 44px;
	line-height: 106%;
	padding-bottom: 10px;	
}

h2 {
	font-size: 34px;
	line-height: 106%;
	padding-bottom: 10px;	
}

h3 {
	font-size: 27px;
	line-height: 108%;
	padding-bottom: 10px;	
        margin-top: -25px;
}

h4 {
	font-size: 18px;
	line-height: 108%;
	padding-bottom: 10px;	
}

h5 {
	font-size: 17px;
	line-height: 110%;
	padding-bottom: 10px;	
}

h6 {
	font-size: 14px;
	line-height: 110%;
	padding-bottom: 10px;	
}

/* paragraphs */

p {
	padding-bottom: 10px;	
}

/* paragraphs justify */

p.paragraph_justify {
text-align: justify;	
}

/* text alignment */

.text_left, .text_right, .text_center {

}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

/* strong text */

strong {
color: #666;	
}



/* readmore link */

a.readmore_link {
	text-decoration: none;
	display: inline-block;
	color: #444;
	position: relative;
	z-index: 5;
	font-weight: bold;
}

a.readmore_link.align_left, a.readmore_link.align_right {
	margin-bottom: 0;	
}

a.readmore_link:hover {
	text-decoration: none;
	color: #f15a23;
}

/* coloring any font with the general color used */

.colored {
	color: #f15a23;	
}

/* alignleft and alignright */

.align_left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;	
}

.align_right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	display: inline-block;	
}
div.align_left, div.align_right {
	margin-bottom: 10px;
	margin-top: 5px;	
}


/* BreadCrumbs */

p.breadcrumb {
	padding-bottom: 0;
	display: block;
	position: absolute;
	float: right;
	top: 35px;
	right: 15px;
	font-style: normal;
	font-size: 12px;
}

p.breadcrumb a {
	text-decoration: none;
	border-bottom: none;	
}

p.breadcrumb a i {
	color: #444;
	margin-right: 5px;
	font-size: 15px;	
}

p.breadcrumb a:hover i {
	color: #444;
	text-decoration: none;	
}


p.breadcrumb .bread_arrow {
	padding: 0 3px;	
}

p.breadcrumb a {
	text-decoration: none;	
}

p.breadcrumb a:hover {

}


/* scroll top */

.scroll_top {
	display: table;
	height: 55px;
	width: 55px;
	background-image: url(//static.poptm.com/img/scroll_top.png);
	background-color: #f1f1f1;
	background-color: rgba(0, 0, 0, .05);
	background-position: center 20px;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-o-border-radius: 1000px;
	-ms-border-radius: 1000px;
	position: relative;
	z-index: 100;
}

.scroll_top:hover {
	background-color: #f15a23;
	box-shadow: inset 0 0 11px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 0 11px rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 0 11px rgba(0, 0, 0, .2);
	-o-box-shadow: inset 0 0 11px rgba(0, 0, 0, .2);
	-ms-box-shadow: inset 0 0 11px rgba(0, 0, 0, .2);	
}

/* clear */

.clear {
clear: both;
display: block;
height: 1px;
margin-bottom: -1px;
width: 100%;	
}

/* google map */

#map_canvas {
	width: 100%;
	height: 400px;
	margin: 15px 0;	
}





/*	
---------------------------------------------------------------------------------------------------------------------------------
	I) FORMS
---------------------------------------------------------------------------------------------------------------------------------
*/

/* font-family and font-size settings for inputs, labels and textareas */

input, label, textarea {
	font-size: 13px;
	line-height: 18px;
}

abbr {
cursor: help;	
}


/* contact_form */

.contact_form {
	display: block;
	overflow: hidden;
	padding-top: 20px;
}

form .row {
	padding-bottom: 10px;
	overflow: hidden;	
}

label.error, input.submit {
	
}
	
input.submit {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 9px 16px 9px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

form label {
	line-height: 2.8;
	vertical-align: top;
	margin-bottom: 0;
	display: inline;
}

label.error {
	margin-top: 0;
	width: auto;
	line-height: 22px;
	display: block;
}

div.error { display: none; }

form span {
	margin-left: 3px;
	color: #888;
	line-height: 34px;	
}




form label, form input, form textarea {
	color: #444;	/*colors of label, input and textarea texts in contact form page*/
}

form input, form textarea {
	border: 1px solid #ddd;	/*color of border bottom of input and textarea fields in contact form page */
	background: #fafafa;	/*background of input and textarea fields in contact form page */
	padding: 10px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	border-radius: 3px;
	transition: all 0.15s linear 0s;
	-moz-transition: all 0.15s linear 0s;
	-webkit-transition: all 0.15s linear 0s;
	-o-transition: all 0.15s linear 0s;
	-ms-transition: all 0.15s linear 0s;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
	-o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
	-ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

textarea {
	height: 150px;	
}

input:focus, textarea:focus {
	background: #fff;	/*onfocus background of input and textarea fields in contact form page */
	border-color: #ccc;
}

input.submit {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-o-border-radius: 3px;
	color: #fff;
	background: #444;
	border: none;
	text-shadow: none;
	line-height: 21px;
	border-bottom: 2px solid rgba(0, 0, 0, .2);
}

input.submit:hover {
	text-decoration: none;
	background: #f15a23;
	color: #fff;
	border: none;
	text-shadow: none;
	border-bottom: 2px solid rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-o-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
	-ms-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

/*validation coloring settings*/

form label.error, label.error {
	color: #ff3333;	/*color of appearing validation message in contact form page*/
}

form input.error, form textarea.error { 
	background: #fff;	/*background of field that need validation in contact form page*/ 
	border: 1px solid #ff3333;
}














/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}













