/***** SLIDER CSS BEGIN ************/
.gcaption {
    text-align: center;
    background: none !important;
	
}
.gtitle a {
    font-size: 41px !important;
    line-height: 40px !important;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 700;
    color: #000;
    padding: 10px;
}
.flex-direction-nav a { top:40% !important; }
.gtitle a:hover { text-decoration: none !important;}
.wpb_gallery_slides.wpb_flexslider.flexslider_fade.flexslider {    margin-bottom: 30px !important; }
.wpb_posts_slider {    margin-bottom: 20px !important;}
.flexslider .slides img {    width: 100%;    display: block;    /*height: 356px;*/}
.wpb_gallery_slides.wpb_flexslider.flexslider_fade.flexslider {    width: 100%;    overflow: visible;}


.wpb_posts_slider .flex-caption { margin: 0 38px;    margin: 0; padding: 0;    background:none; opacity: 1; width: 100%; }
h2.post-title.gtitle {    margin: 0 !important;}
.wpb_gallery_slides.wpb_flexslider.flexslider_fade.flexslider {    width: 100%;}

.wpb_gallery .wpb_flexslider .flex-control-paging {     top: 0px; }
.flex-direction-nav a { color:#fff !important;}


.gtitle a {
    font-size: 38px !important;
	line-height: 44px !important;
}
.wpb_posts_slider .flex-caption {
    overflow: hidden;
    max-height: 100px;
    padding: 0 13px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.slider-container { 
    height: 562px !important;
    overflow: hidden;
}
/***** SLIDER CSS END ************/

.verticalmedium  { width: 100% !important; max-width: 100%  !important;     max-height: 118px !important; }
.verticalmedium .glist-cont1 {     width: 40% !important;     max-width: 40%  !important; height: 134px !important;} 
.verticalmedium .glist-cont2 {     width: 60% !important;     max-width: 60%  !important; } 
.verticalmedium .glist-cont1 .glist-image a img {     width: 100% !important;} 
.glist-meta {    width: 100%;}
.verticalmedium .glist-cont2 .glist-meta .glist-date { margin-left:0px !important; }
.g_post_list_2_small .glist-cont2 .glist-meta .glist-date { margin-left:0px !important; }
.verticalmedium .glist-cont2 .glist-meta .glist-date { margin-left:0px !important; }
.g_post_list_2_small .glist-cont2 .glist-meta .glist-date { margin-left:0px !important; }
.glist-title h3 {     line-height: 19px;}
.glist-category a,.glist-medium-category a{    font-family: 'Open Sans Condensed', sans-serif !important;    font-size: 14px;    font-weight: 700; }	
.ads-top {    float: none; }
.glist-cont2 { max-height: 158px !important; }
.g_post_list_2_small { max-height: 149px !important; }
.glist-medium-cont2-with-excerpt-horizontal { height: 230px; }
.glist-billboard-title a {     font-size: 40px !important;     line-height: 50px !important;}	
.glist-vertical { max-height: 104px !important; }
.glist-cont2 .glist-title h3 a {    font-size: 20px; }	
.glist-medium-container-with-excerpt-horizontal {height: 390px !important;}
.glist-medium-container-horizontal { height: 290px; }
.logo img {        margin-right: 10px;      margin-left: 28px !important;  margin-top: 30px !important;    width: 218px;}	
.binteo1,.binteo3,.athlitika1,.athlitika3 {    height: 381px;}	
.roh2 {     height: 450px; }
.verticalsmall { height:137px; }
.diafora3 { height:337px;}
.sugkl1 {    height: 332px;}
.faghto1 {    height: 304px;}
.faghto3 {height: 335px;}	
.afierwm1 {    height: 369px !important;}	
.afierwm2 {    height: 279px !important;}	

.glist-full-title {
    float: left;
    margin-top: 10px;
    height: 76px !important;	
	overflow: hidden;
	
}
.glist-full-title h3 {
	margin-top: 0px;
    line-height: 16px;
}
.glist-full-title h3 a {
font-size: 20px !important;
color: #000 !important;
}
	
.glist-full-midi-excerpt {     
	width: 100%;
    float: left;
    margin: 10px 0;
    height: 108px !important;
    overflow: hidden;
}
.glist-full-midi-excerpt a {     
    color: #000 !important;
}
.glist-full-cont1,.glist-full-cont2 { padding: 0 6px; }
.glist-full-mini-excerpt {     width: 100%;    text-align: center; }

.roh2.glist-full-container {
    margin-top: -12px;
}

.vce-page .entry-title-page {margin: 0 0 0 15px; }
.entry-header { display:none; }
.glist-title a, .glist-medium-title a{    color: #000;}
.glist-roh-category a { font-family: 'Open Sans Condensed', sans-serif !important;}

.roh , .ygeia{    /* height: 90px;*/ height: 85px;}
.top10 {    height: 234px;}
.fresh { height: 119px; width: 100%;}
.food { height: 241px; margin-bottom: 8.1px !important; }

.top10 .glist-roh-title {
    height: 44px;
}

.videos {    height: 212px;}
.videos .glist-roh-title {    height: 44px; }

.food .glist-medium-image a img {
    height: 158px;
}

.fanpage24 .glist-medium-cont2 {
    height: 114px;
}

.dotted-seperated {     
	border-color: red;
    border-top-width: 1px;
    border-style: dotted; 
}
.dotted-small-font-size {
	line-height: 0px !important;
    font-size: 18px !important;
}
.dotted-title {
	background: #ecf1f5;
    margin: 6px 0;
    padding: 8px;
	margin-top: 0px !important;
}
.glist-new-title .main-box-title { 
	padding: 13px;
	font-size: 22px;
    font-family: 'Open Sans', sans-serif !important;
}
.glist-new-title { margin-bottom: 18px; }

	#g_ad_300x250_sidebar {margin: 0 auto;	width: 300px;    height: 250px;    background: #000; text-align:center;}	
	#g_ad_728x90 {margin: 0 auto;	width: 728px;    height: 90px;    background: #000; text-align:center;}	
	#g_ad_vertical_sidebar {margin: 0 auto;	width: 300px;    height: 600px;    background: #000; text-align:center;}	
	.centeradtext {     color: #fff;    font-size: 30px;    width: 100%;    top: 45%;    position: relative; }
	.centeradtexthor {     color: #fff;    font-size: 30px;    width: 100%;    top: 28%;    position: relative; }

.sugkl1 .glist-medium-cont1 {
    background: #000;
}

.sugkl1 .glist-medium-cont2 {
    background: #000;
}
.sugkl1 {     height: 331px; background: #000; }
.sugkl1 .glist-medium-cont2 .glist-medium-meta { padding: 5px; }
.sugkl1 .glist-medium-cont2 .glist-medium-title { text-align: center;    padding: 1px 10px; height: 97px;     margin: 0 0 6px 0 !important; overflow: hidden;}
.sugkl1 .glist-medium-cont2 .glist-medium-title a { color: #e0dbdb; font-weight: 300 !important; }
.sugkl1 .glist-medium-cont2 .glist-medium-meta .glist-medium-category a, .sugkl1 .glist-medium-cont2 .glist-medium-meta .glist-medium-date { color: #e0dbdb;}

.sidebar .widget.mks_social_widget {text-align:center; }
ul.mks_social_widget_ul { width:auto; }

.g-read-more-button {   /* margin: 0 auto; */    padding: 10px;    background: #000;    width: 197px;    border-radius: 4px; text-align: center;}
.g-read-more-button a {	color: #fff;    font-family: 'Roboto Condensed', sans-serif;    font-size: 15px;}

.glist-full-title h3 a:hover,.glist-title h3 a:hover, .glist-medium-title a:hover, .glist-roh-title h5 a:hover, .g-read-more-button a:hover {
    color: #e23e02 !important;
}
ol.flex-control-nav.flex-control-paging {
    display: none;
}
.freshblog {
    height: auto !important;
}
.gmotd {     display: none; }

.g-read-more-button-prev, .g-read-more-button-next {  width:auto !important; }
.g-read-more-button-prev { float:left !important; }
.g-read-more-button-next { float:right !important; }


h3.main-box-title {
    font-weight: 700;
}


@media (max-width: 360px) {
.g-read-more-button-prev { width: 100% !important; float:none !important; }
.g-read-more-button-next { width: 100% !important;  float:none !important;     margin-top: 10px;}
}

@media (min-width: 1201px) {
.vce-page .entry-content {
    width: 100% !important;
    margin: 0 !important;
}
.vc_row {
    margin-left: 0px;
 
}
}
/* DISABLE PADDING MOBILE */
@media (max-width: 525px) {
	.vce-page .entry-content { padding: 0px; !important;}
}
/* DISABLE NONSENSE PADDING */
@media only screen and (max-width: 1023px) {}
	.vce-main-content {    padding-top: 0px !important;}
}

/* FAKE AD PLACEHOLDERS */
@media (max-width: 300px) {
	#g_ad_728x90 {margin: 0 auto;	width: 234px;    height: 60px;    background: #000; text-align:center;}	
}
@media (min-width: 337px) and (max-width: 525px) {
	#g_ad_728x90 {margin: 0 auto;	width: 320px;    height: 100px;    background: #000; text-align:center;}	
	#g_ad_300x250_sidebar {margin: 0 auto;	width: 336px;    height: 280px;    background: #000; text-align:center;}	
}
@media (min-width: 526px) and (max-width: 1200px) {
	#g_ad_728x90 {margin: 0 auto;	width: 468px;    height: 60px;    background: #000; text-align:center;}	
}
@media (min-width: 1201px) {
	#g_ad_728x90 {margin: 0 auto;	width: 728px;    height: 90px;    background: #000; text-align:center;}	
}

@media (min-width: 1201px ) {
.roh2.glist-full-container {
    margin-top: -9px;
	margin-bottom: 16px !important;
}
.gmotd { margin-top: -11px; display:initial; }
}

@media (min-width: 1024px) and (max-width: 1200px ) {
.food .glist-medium-cont2 {    height: 134px;  }
.food { margin-bottom: 22.5px !important; }
.top10 .glist-roh-title {     height: 70px; }
.videos .glist-roh-title {     height: 70px; }
.top10 {    height: 252px; }
.videos {    height: 202px;}
.food {    height: 243px; }
.slider-container {
    height: 482px !important;
    overflow: hidden;
}
.roh2.glist-full-container {
    margin-top: 19px;
    margin-bottom: 26px !important;
    height: 422px !important;
}
}

@media (min-width: 768px) and (max-width: 1023px ) {
.food .glist-medium-cont2 {    height: 134px;  }
.food {     margin-bottom: 12.1px !important; }
.top10 .glist-roh-title {     height: 70px; }
.videos .glist-roh-title {     height: 70px; }

.roh2, .glist-full-midi-excerpt, .top10 {    height: auto !important;}
.roh2 .glist-full-title,.roh2 .glist-full-midi-excerpt, .roh2 .glist-full-image { text-align:center; }
.glist-full-meta { display:none; }
.slider-container {
    height: 482px !important;
    overflow: hidden;
}

}

@media (max-width: 767px) {
.top10 .glist-medium-image a img {  width: 237px; }
.videos .glist-medium-image a img {  width: 237px; }
.glist-medium-image, .glist-roh-container,.glist-roh-cont,.glist-medium-container { text-align:center;  }
.glist-roh-title,.glist-medium-title {    width: 100%;}
.glist-roh-meta, .glist-roh-category, .glist-roh-date,.glist-medium-category,.glist-medium-date {    margin-top: -4px; float:none !important;}
.food .glist-medium-image a img {height: 160px !important;}
.food { height: 277px; }
.food .glist-medium-cont2 { width: 100%;height: 100px; }
.roh , .ygeia{    /* height: 90px;*/ height: 77px;}

h2.gtitle { line-height: 39px; }
.gtitle a {    font-size: 32px !important; line-height:42px !important;}
.wpb_posts_slider .flex-caption {overflow: hidden;    max-height: 92px; }	
.flexslider .slides img { height:auto !important; }
.fanpage24  { width:100%; }
.fanpage24 .glist-medium-cont2 {    height: 114px;    width: 100%;}
.videos {    height: 224px;}

.fanpage24 .glist-medium-cont2 {       margin-top: 10px;}
.fresh .glist-cont1 ,.fresh .glist-cont2 {    max-width: 100% !important;    padding: 0 !important;    width: 100% !important; }
.fresh {     margin-bottom: 30px !important;    text-align: center;}
.fresh .glist-category, .fresh .glist-date { float:none !important; }
.food .glist-medium-meta {     margin-top: 6px; }
.fresh .glist-date {   margin-top: -7px; }
.fresh .glist-category { margin-top: 6px; }
.glist-vertical { max-height:100%; }
.glist-full-meta { display:none; }
.roh2, .glist-full-midi-excerpt, .top10, .glist-roh-title, .fresh, .fanpage24 .glist-medium-cont2, .food .glist-medium-cont2, .food, .videos, .roh, .ygeia, .videos .glist-roh-title {    height: auto !important;}
.roh2 .glist-full-title,.roh2 .glist-full-midi-excerpt, .roh2 .glist-full-image { text-align:center; }
 .slider-container {
    height: 452px !important;
    overflow: hidden;
}
}
@media (min-width: 767px) {
.wpb_gallery_slides.wpb_flexslider.flexslider_fade.flexslider { /*height: 356px !important; */}
}

@media (min-width: 671px) and (max-width: 767px ) {
.top10 .glist-roh-meta,.top10 .glist-roh-category,.top10 .glist-roh-date, .top10 .glist-medium-category,.top10 .glist-medium-date {    margin-top: -10px; float:none !important;}
.videos .glist-roh-meta,.videos .glist-roh-category,.videos .glist-roh-date, .videos .glist-medium-category,.videos .glist-medium-date {    margin-top: -10px; float:none !important;}
.roh {    /* height: 90px;*/ height: 118px;}
.ygeia{    /* height: 90px;*/ height: 103px;}
}
@media (min-width: 510px) and (max-width: 670px ) {
.slider-container {
    height: 411px !important;
    overflow: hidden;
}
}
@media (min-width: 421px) and (max-width: 510px ) {
.slider-container {
    height: 373px !important;
    overflow: hidden;
}
}
@media  (max-width: 420px ) {
h2.gtitle { line-height: 30px; }
.gtitle a {    font-size: 26px !important; line-height:25px !important;}
/*.wpb_posts_slider .flex-caption, .gtitle a {overflow: hidden;    max-height: 62px;      font-family: 'Open Sans Condensed' !important;}	*/
 
.slider-container {
    height: 324px !important;
    overflow: hidden;
}

}
@media  (max-width: 320px ) {
.glist-full-title { height: 65px !important; }
.slider-container {
    height: 275px !important;
    overflow: hidden;
}
}

