﻿/*
Theme Name:     Voice Child
Theme URI:      http://mekshq.com
Description:    Child theme for the Voice Theme
Author:         Meks
Author URI:     http://mekshq.com
Template:       voice
Version:        0.1.0
*/

@import url("../voice/style.css");
@import url("../voice/css/responsive.css");
/*@import url("../voice/css/admin.css");
@import url("../voice/css/font-awesome.min.css");
@import url("../voice/css/vce-woocommerce.css");
@import url("../voice/css/vce-bbpress.css");*/

.fb_like_and_share { display: table-row; }

.wrapper_fb_like { display: table-cell; min-width: 85px; margin-right: 20px; vertical-align: middle; }

.fb_like_and_share .fb_like_out { height: 54px; display: table; margin: 10px auto; border: 2px solid #3c56a2; padding: 0 10px;-webkit-border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-bottomleft: 6px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; }

.fb_like_out { min-width: 85px; }

.fb_like_out .fb_thumb { display: block; width: 60px; float: left; height: 50px; }

.fb_like_out .fb_thumb .icon { display: block; width: 32px; height: 32px; background-image: url(http://fanpage.gr/wp-content/uploads/2015/06/1433665672-5ca9f805ef3791d7e8f583b5567b4bd7.png); background-size: 100% auto; background-repeat: no-repeat; float: left; margin: 9px 5px 9px 0; }

.fb_like_out .fb_thumb .text {   font-size: 20px; color: #3c56a2; font-weight: bold; float: left; height: 32px; line-height: 19px; }

.fb_like_out .fb_thumb .text span:nth-child(1) { float: left; text-align: center; font-size: 22px; margin: 6px 0; }

.fb_blueArrow { float: left; margin: 15px 0px 0px 0px !important; max-width: 20px; }

.fb_blueArrow img { width: 100%; height: auto; max-width: 100%; vertical-align: middle; border: 0; box-sizing: border-box; }

.fb_like_and_share .fb-like { display: table-cell; margin: 10px; position: relative; margin-bottom: 10px; vertical-align: middle; }

.fb_iframe_widget span { display: inline-block; position: relative; text-align: justify; }

.fb_iframe_widget iframe { position: absolute; }

.wrapper_fb_share { display: table-cell; width: 100%; }

.pw.pw-widget {  display: table; }

.facebook-share-top-btn, #facebook-share-bot { height: 54px; }

.pf-fb-share-wrapper-top { width: 100%; margin: 10px auto; }

.button-facebook .pw-button {  background-color: #3c56a2; }

.pw-widget .pw-button { display: table-row; overflow-y: hidden; margin: 10px; position: relative; margin-bottom: 10px; }

.fb_like_and_share .lt-icon { border-radius: 0px; }

.lt-icon { padding: 0 20px 0; background: url(http://fanpage.gr/wp-content/uploads/2015/06/1433666144-02d0913889f497a9f5e4b2ed16cb0408.png) no-repeat 10px; display: table-cell; top: 0; }

#facebook-share-top-video .pw-button-text, #facebook-share-top-gallery .pw-button-text, #facebook-share-content .pw-button-text { text-align: center; }

.facebook-share-top-btn .pw-button-text, #facebook-share-bot .pw-button-text, #facebook-share-content .pw-button-text { font-size: 26px; }

.pw-button-text { font-size: 21px !important; font-weight: 700 !important; /*font: 700 18px/22px Arial,Helvetica,sans-serif;*/ display: table-cell; width: 100%; vertical-align: middle; color: white; padding: 0 5px; }

.pw-button.pw-button-facebook:hover { text-decoration: none !important; border-bottom: none; }

.wrapper-shares-count { display: table-cell; vertical-align: middle; position: relative; }
.wrapper-shares-count:after { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 10px; margin-top: -10px; }

.shares-count { border: 2px solid #3c56a2; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-left: none; margin: 10px auto; padding: 13px 5px 0 5px; height: 54px; }

@media all and (max-width: 1021px) { .fb_thumb { display: none !important; } }

@media all and (max-width: 530px) { .pw-hide-tier-one, .pw-hide-tier-two { display: none !important; } .pw-button-text { font-size: 20px !important; } }

@media all and (max-width: 530px) { .wrapper-shares-count { display: none; } .pw-button-text { border-radius: 0 6px 6px 0; } }
/*@media all and (max-width: 390px) { .wrapper_fb_like { display: none; } }*/

@media only screen and (max-width: 1023px) { #above-site-content-ad-container  { padding: 0px !important;    margin: 0 !important;    width: 100% !important;text-align: center;       margin-top:8px !important;    max-width: 100% !important;} }
@media only screen and (max-width: 670px) and (min-width: 200px) { .vce-single .entry-content, .main-box-inside { padding: 0 !important; } .container {    max-width: 97%;} }
.textwidget {    padding: 0 !important; }
.container { overflow:hidden !important; }

.header-1-wrapper {    height: 60px !important; }
.site-branding {     padding: 8px 0px !important; }
.main-navigation .nav-menu {    background: #e6e6e6 !important; }
#vce_main_navigation_menu li a { font-weight: bold; color: #000;}
.nav-menu > .current-menu-item > a {    color: #e23e02 !important;    font-weight: bold;}

#footer .footer-cats li a:hover {  color: #e23e02 !important; }
#footer .footer-cats li {        background: transparent url(/wp-content/themes/voice-child/custom/sprite.png) no-repeat -12px -329px;		padding: 1px 0 1px !important; }
#footer .footer-cats li a { margin-left: 21px; }
.footer-cats {    height: 325px !important;    overflow: hidden;}
.site-footer {    background: #b33507 !important; }
.header-bottom-wrapper .container { overflow: visible !important; }

h1.site-title a img {
    width: 210px;
    margin-left: 14px;
}
.container.header-2-wrapper.header-main-area {
    height: 66px !important;
}