body,
html {
    line-height: 1;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    font: 14px 'OpenSansRegular', Arial, sans-serif;
    line-height: 1;
}

body input:focus,
body textarea:focus {
    background-color: rgba(0, 0, 0, .79);
    color: #fff;
}

.clearfix {
    clear: both;
    display: table;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    /*min-height: 720px;*/
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/video_head.jpg) no-repeat;
    background-size: cover;
}

.head-wrap {
    min-height: 650px;
}

.logo {
    text-align: center;
    padding-top: 110px;
}

.head-section h1 {
    text-align: right;
    color: #fff;
    font: 42px/42px 'OpenSansRegular';
    text-transform: uppercase;
    line-height: 1;
    margin-top: 50px;
}

.head-section h2 {
    text-align: center;
    color: #fff;
    font: 24px 'OpenSansRegular';
    text-transform: uppercase;
    line-height: 1;
}

.review-box {
    display: block;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    margin: 48px 0 0;
    background: #fff;
    -webkit-transition: all ease-out .15s;
    -o-transition: all ease-out .15s;
    transition: all ease-out .15s;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.review-text {
    text-align: center;
}

.rew-top-text {
    font: 18px 'OpenSansBold';
    text-align: center;
    text-transform: uppercase;
    color: #01111e;
    line-height: .9;
}

.rew-bottom-text {
    font: 25px 'OpenSansBold';
    text-align: center;
    text-transform: uppercase;
    color: #01111e;
    line-height: .9;
}

.review-box:hover {
    background: #ecb02e;
    text-decoration: none;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.registr-box {
    margin: 50px auto 0;
}

.registr-box .btn {
    font: 18px 'OpenSansBold';
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 3px solid #fff;
    white-space: nowrap;
    padding: 12px 0;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 55px;
    min-height: 55px;
    width: 280px;
    display: block;
    color: #fff;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    background: none;
}

.registr-box .btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border-color: #edb233;
}

.but-left {
    float: right;
    margin-right: 20px;
}

.but-right {
    float: left;
    margin-left: 20px;
}

.wcpa {
    min-height: 390px;
    background: #fff;
    padding-top: 50px;
}

.wcpa h2 {
    font: 36px 'OpenSansExtraBold';
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #415568;
    border-bottom: 1px solid #415568;
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
    color: #415568;
}

.wcpa p {
    font: 18px 'OpenSansLight';
    text-align: center;
    padding: 50px 0;
    color: #415568;
    max-width: 760px;
    margin: 0 auto;
}

.our-garantee {
    background: url(../img/our-garantee.jpg) no-repeat center top #e9e5dd;
    min-height: 680px;
    padding-top: 50px;
}

.our-garantee h2 {
    font: 36px 'OpenSansExtraBold';
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #624417;
    border-bottom: 1px solid #624417;
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
    color: #624417;
    position: relative;
}

.pre-icon-h2 {
    position: absolute;
    top: -23px;
    left: 50%;
    margin-left: -25px;
    display: block;
    background: url(../img/garantee_preicon.png) no-repeat;
    width: 49px;
    height: 49px;
    z-index: 20;
}

.garantee-box {
    margin-top: 70px;
}

.garantee-box figure img {
    display: block;
    margin: 0 auto;
}

.garantee-box figure figcaption {
    text-align: center;
    color: #624417;
    font: 18px 'OpenSansSemiBold';
    width: 200px;
    margin: 30px auto 0;
}

.facty {
    background: url(../img/facty.jpg) no-repeat center top #ece9e2;
    min-height: 727px;
    padding-top: 50px;
}

.facty h2 {
    font: 36px 'OpenSansExtraBold';
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #565751;
    border-bottom: 1px solid #565751;
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
    color: #565751;
}

.facty-box {
    margin-top: 30px;
}

.facty-box figure img {
    display: block;
    margin: 0 auto;
}

.facty-box figure figcaption {
    text-align: center;
    color: #565751;
    font: 14px 'OpenSansRegular';
    width: 200px;
    margin: 15px auto 0;
}

.container-top-offer {
    max-width: 760px;
    margin: 25px auto 0;
}

.top-offers {
    background: url(../img/facty.jpg) no-repeat center top #ece9e2;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.top-offers h2 {
    font: 36px 'OpenSansExtraBold';
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #565751;
    border-bottom: 1px solid #565751;
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
    color: #565751;
}

.top-offers-img {
    text-align: center;
    margin: 42px auto 0;
}

.top-offers-img img {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .2);
}

.top-offers-title {
    color: #565751;
    font: 22px 'OpenSansRegular';
    font-weight: bold;
    text-align: left;
    margin-top: 32px;
}

.top-offers-descript {
    font: 18px 'OpenSansLight';
    /*text-align: center;*/
    padding: 0;
    color: #415568;
    text-align: left;
}

.testemonials {
    background: url(../img/testemonials.jpg) no-repeat center top #175ca4;
    min-height: 541px;
    padding-top: 50px;
}

.img-otz img {
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 190px;
    border: 7px solid #fff;
    border-radius: 50%;
}

.wrap-line {
    position: relative;
}

.line {
    max-width: 800px;
    border-top: 1px solid #fff;
    margin: 40px auto 0;
}

.quo {
    display: block;
    width: 64px;
    height: 39px;
    background: url(../img/quotes-otz.jpg) no-repeat;
    z-index: 10;
    margin: -25px auto 0;
}

.otz-descript {
    font: 18px 'OpenSansRegular';
    color: #fff;
    text-align: center;
    margin: 20px auto 0;
    max-width: 800px;
}

.top-offers-descript {}

.soc-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 15px;
}

.soc-box-item {
    display: block;
    margin-left: 17px;
}

footer {
    background: url(../img/footer_bg.jpg) no-repeat center top #175ca4;
    min-height: 152px;
    padding-top: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 40px;
}

.btn {
    font: 18px 'OpenSansBold';
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    padding: 12px 0;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 55px;
    min-height: 55px;
    width: 280px;
    display: block;
    color: #fff;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    background: #ecb02e;
}

.btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.btn-send {
    display: block;
    margin: 15px auto 0;
    border: 3px solid #edb233;
    border-radius: 0px;
    background: none;
    font: 13px 'OpenSansBold';
    text-align: center;
    width: 152px;
    height: 44px;
    padding: 6px 12px;
    color: #555;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-send:hover {
    background: #edb233;
    color: #fff;
}

.head-section .btn-default {
    margin: 90px auto 0px;
}

footer .btn-default {
    margin: 0 auto;
}

footer .soc-box {
    margin: 0;
}

.footer-support-wrap img {
    width: 30px;
}

.footer-support {
    text-decoration: none;
    color: #fff;
    font: 18px 'OpenSansRegular';
    cursor: pointer;
}

.footer-support-ex {
    text-decoration: underline;
}

.footer-support-wrap i {
    color: #fff;
    font-size: 24px;
    margin-top: 2px;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 4px;
}

a.footer-support:hover {
    text-decoration: underline;
}

.modal-header {
    border-bottom: 0px none;
}

.modal-title {
    font: 18px 'OpenSansSemiBold';
    color: #102233;
    text-align: center;
}

.input-group {
    width: 100%;
}

.input-group .form-control {
    display: block !important;
    margin-top: 10px !important;
}

.registr-left {
    border-right: 1px solid #d0d0d0;
    margin-top: 20px;
}

.registr-right {
    margin-top: 15px;
}

.form-control {
    height: 44px;
}

.tabletka img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    opacity: .7;
    max-width: 100%;
}

.modal-backdrop {
    background-color: #101e2b;
}

.modal-backdrop.in {
    filter: alpha(opacity=100);
    opacity: 1;
}

select option[data-default] {
    color: #ccc;
}

.select-target {
    margin-top: 10px;
}

.adress-company {
    margin-top: 15px;
    text-align: center;
    color: #fff;
}

#autorize .btn-send {
    padding: 10px 12px;
    text-decoration: none;
}

#autorize h5 {
    text-align: center;
}

#autorize .btn-send-ex {
    margin-top: 56px;
}
#register .btn-send-ex {
    margin-top: 41px;
}
