/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .review-box {
        margin: 68px 0 0;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .our-garantee {
        -webkit-background-size: cover;
        background-size: cover;
        padding-bottom: 40px;
    }
    .head-section h1 {
        text-align: center;
    }
    .review-box {
        margin: 5px auto 5px;
    }
    .garantee-box figure figcaption {
        width: auto;
        margin: 20px auto 0;
    }
    .facty {
        background-size: cover;
        padding-bottom: 40px;
    }
    .facty-box figure figcaption {
        width: auto;
    }
    .testemonials {
        -webkit-background-size: cover;
        background-size: cover;
        padding-bottom: 60px;
    }
    .line {
        max-width: 500px;
        margin: 50px auto 0;
    }
    .otz-descript {
        max-width: auto;
    }
    footer {
        -webkit-background-size: cover;
        background-size: cover;
        padding-bottom: 30px;
    }
    footer .footer-support-wrap {
        margin: 0 auto;
        text-align: center;
    }
    footer .btn-default {
        margin-top: 20px;
    }
    footer .soc-box {
        margin-top: 20px;
    }
    .but-left,
    .but-right {
        float: none;
        margin: 0 auto;
    }
    .but-right {
        margin: 20px auto 0;
    }
    .registr-box {
        margin-bottom: 30px;
    }
    .registr-left {
        border-right: 0px none;
    }
    #autorize .btn-send-ex {
        margin-top: 15px;
    }
    .top-offers-title {
        margin-top: 15px;
        text-align: center;
    }
    .top-offers-descript {
        text-align: center;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .line {
        max-width: 400px;
    }
    .otz-descript {
        max-width: auto;
        width: 80%;
    }
    .next-button,
    .prev-button {
        top: 13%;
    }
    .next-button {
        right: 40px;
    }
    .prev-button {
        left: 40px;
    }
    #registr .modal-dialog,
    #autorize .modal-dialog {
        margin: 30px auto 0 !important;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .head-section h1 {
        font: 32px/32px 'OpenSansRegular';
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
