

div.topMenu, div.headBg, div.menu, span.helloWorld, td.firstColumn, td.thirdColumn, .noPrint, div.expand, div.breadcrumbs, div.tags, div.buttons, div.hintsBottom, .footer, .copyright, #leoDiv {
	display:none !important;
}

a {
	text-decoration:none;
}

body {
	background:white;
}

h1, h2 {
	color:black;
}

h1 {
	padding:0;
	position:relative;
	top:15px;
}

sup.dashedSup {
	border-bottom:none;
	color:#363636;
}

div.printLogo  {
	display:block !important;
	float:right;
}

img.logoPrint {
	position:relative;
	left:15px;
}

#ru_text, #fr_text {
	font-size:16px;
}