/* ==================================== Common ========================================*/

@font-face {
	font-family: FuturaNewLight;
	src: url(/font/FuturaNewLight.woff);
}

@font-face {
	font-family: Gotha;
	src: url(/font/GothaProLig.otf);
}

div.selectType {
	float:right;
	margin: 0 0 7px 0;
}

body {
	outline:none;
	background:#e6e4e4;
	font-family: Geneva, sans-serif;
	font-size:13px;
	margin:0;
}

div.bodyLayout {
	max-width:1220px;
	min-width:970px;
	margin:0 auto;
}

a {
	color:#23488C;
	-webkit-transition-property: color;
      -moz-transition-property: color;
        -o-transition-property: color;
       -ms-transition-property: color;
           transition-property: color;

   -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
       -ms-transition-duration: 0.5s;
           transition-duration: 0.5s;
}

a:hover {
	color:red;
}

a.dashed {
	text-decoration:none;
	border-bottom:dashed #23488C 1px;
}

a.redLink {
	color:red;
}

.dashedRed:hover, a.redLink:hover {
	color:red !important;
}

.dashedRed {
	color:#ff0000;
	text-decoration:none;
	border-bottom:1px dashed #ff0000;
	font-weight:normal !important;
}

div.dopBlock {
	background:white;
	border:3px solid #e6e4e4;	
	padding:10px 15px;
}

sup.dashedSup {
	border-bottom:dotted #23488C 1px;
	color:#23488C;
	cursor:pointer;
}

h2 sup {
	font-size:12px;
	font-weight:bold;
}

sup { 
    vertical-align: baseline;
    position: relative;
    top: -4px;
    margin: 0 2px 0 2px;
    font-size: 0.9em;
}

input[type="checkbox"] {
	position: relative;
	top:2px;
}

a.dashed:hover {
	border-bottom:none;
}

a img {
	border:none;
}

.linkToWiki {
	padding:3px 0 3px 20px;
	background: url("/images/wikipedia.png") no-repeat left ;
}

.linkToLastfm {
	padding:3px 0 3px 20px;
	background: url("/images/lastfm.png") no-repeat left ;
}

p {
	color:#363636;
	margin:5px 0 10px 0;
	line-height:21px;
}

table {
	border-collapse:collapse;
}

td {
	padding:0;
	vertical-align:top;
}

td.middleRow {

}

.fullWidth {
	width:100%;
}

.hidden {
	display:none;
}

.textToRight {
	text-align:right;
}

h1 {
	color:#4E4E4E;
	margin:0;
	padding:10px 0 20px 0;
	font-size:25px;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	font-weight:normal;
}

h2 {
	color:#4E4E4E;
	margin:0;
	padding:10px 10px 10px 0;
	font-size:21px;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	font-weight:normal;
}

h3 {
	color:#4E4E4E;
	margin:0;
	padding:10px 0 10px 0;
	font-size:19px;
	font-weight:normal;
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

h4 {
	color:#4E4E4E;
	margin:0;
	padding:10px 0 10px 0;
	font-size:14px;
	font-weight:normal;
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

ul.ul {
	margin:0 0 15px 5px;
	padding:0;
	list-style:none;
}

ul.ul li {
	padding:0 0 5px 15px !important;
	color:#363636;
	background: url("../images/li.gif") no-repeat 0 0.4em;
	line-height:1.4em;
}

ol li {
	padding:0 0 5px 0 !important;
	color:#363636;
	line-height:1.4em;
}

div#load {
	height:16px;
	float:right;
	background:#aa1313;
	color:white;
	position:relative;
	top:14px;
	right:3px;
	font-size:0.7em;
	padding:2px 10px;
	font-weight:bold;
	display:none;
}

div.hr {
	height:1px;
}

div.hr1 {
	height:1px;
	width:50%;
	float:left;
	background:#e6e4e4;
}

div.hr2 {
	height:1px;
	width:50%;
	float:left;
	background:#e6e4e4;
}

div.vr {
	width:1px;
}

div.vr1 {
	width:1px;
	background:#e6e4e4;
	height:50%;
}

div.vr2 {
	width:1px;
	height:50%;
	background:#e6e4e4;
}

.greyText {
	color:#7b7b7b !important;
}

.gotha {
	font-family:gotha, Tahoma, Geneva, sans-serif;
	-webkit-font-smoothing:subpixel-antialiased;
}

.blackLink {
	color:black !important;
	text-decoration:none  !important;
}

.filterButtons {
	float: left;
	padding: 3px 10px;
	margin: 2px 3px;
	cursor: pointer;
	color: #2c69c0;
}

.filterButtons.selected {
	background: #6a4c8f;
	border-radius: 20px;
	color: white !important;
}

div.sorterIcons {
	height:30px;
	margin-top:20px;
}

/* ========================= Верхнее меню ======================*/

div.header {
	margin-top:10px;
	height:180px;
	background:url('/images/styles_5/head_tmp.jpg') #784b72;
}


div.topMenu {
	background:url('/images/styles_5/top_m.png');
	height:27px;
	line-height:27px;
}

div.headIcons {
	float:right;
	margin:0 20px 0 0;
	height:15px;
	position:relative;
	bottom:5px;
}

div.headIcons img{
	margin: 5px 0 0 5px;
}

div.socTop {
	float:right;
	margin-right:13px;
}

div.socTop img {
	margin:4px 4px;
	opacity:0.5;
}

div.socTop img:hover {
	opacity:0.7;
}

div.topMenu table {
	margin:0 auto;
	padding:0;
	font-size:12px;
}

div.topMenu table td{
	margin:0;
	padding:0 7px;
}

div.topMenu table a{
	padding:1px 0px 0px 0px;
	font-weight:bold;
	font-size:13px;
	color:white;
	text-decoration:none;
}

div.topMenu table a:hover {
	text-decoration:underline;
}

div.topMenu span{
	padding:1px 0px 0px 0px;
	color:white;
	font-weight:bold;
	font-size:13px;
}

.toOtherfrSelected {background:#1b7675;}
.toOtheritSelected {background:#1d8620;}
.toOtheresSelected {background:#b16119;}
.toOtherenSelected {background:#245289;}
.toOtherdeSelected {background:#474949;}
.toOtherstSelected {background:#740d0d;}
.toOtherlsSelected {background: #640767;}

img.logo {
	position:relative;
	left:16px;
	top:5px;
}

img.gem {
	position:relative;
	left:16px;
	top:9px;
}

span.helloWorld {
	float:right;
	padding:0 10px 0 0 !important;
	font-size:13px;
	text-align:right;
}

span.helloWorld a {
	color:white;
	border-bottom: dashed white 1px;
}

span.spanWithImg {
	position:relative;
	bottom:4px;
}

span.helloWorld img {
	position:relative;
	top:4px;
	margin: 6px 0 0 5px;
}

div.lastSongs {
	width:400px;
	position:absolute;
	top:25px;
	margin:0 0 0 -450px;
	z-index:1999 !important;
	padding:10px 15px;
}

div#lastSongsList {
	margin:10px 5px 0 0;
	width:190px;
	float:left;
}

div#lastAlbumList {
	margin:10px 0 0 5px;
}

table.lastSongsTable td{
	padding: 0 5px 5px 0;
}

ul.shortLiters {
	width:840px;
	clear:both;
	margin:0;
	padding:0;
	position:relative;
	bottom:35px;
	left:90px;
}

ul.shortLiters li {
	display:block;
	float:left; 
	width:30px;
	height:30px;
	line-height:30px;
	border-radius:15px;
}

ul.shortLiters li:hover {
	background:url('/images/styles_5/tr2.png');
}

ul.shortLiters li a {
	text-align:center;
	display:block;
	margin:0;
	color:white;
	text-decoration:none;
}

/* ========================= Поиск ======================*/

div.search {
	width:50%;
	float:left;
	padding-top:30px;
}

input.search {
	width:100%;
	border:2px solid white;
	height:50px;
	padding:0 0 0 25px;
	margin:0;
	border-radius:25px;
	font-size:16px;
	box-shadow:none;

	-webkit-transition-property: border-radius;
      -moz-transition-property: border-radius;
        -o-transition-property: border-radius;
       -ms-transition-property: border-radius;
           transition-property: border-radius;

   -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
       -ms-transition-duration: 0.2s;
           transition-duration: 0.2s;
}

input.search.openedSearch {
	border-radius:0px;
}

img#searchLoader {
	position:relative; 
	left:4px;
	bottom:34px;
	display:none;
}

img#searchLoader2 {
	position:relative; 
	left:453px;
	bottom:26px;
	display:none;
}

img.lsSearchLoader {
	position:absolute !important;
	left:auto !important;
	bottom:auto !important;
}

input#searchIcon {
	position:absolute;
	margin:-35px 0 0 -15px;
}

li.showAll {
	padding-top:15px;
}

.example {
	color:#b9b9b9 !important;
}

/* ========================= Нижнее меню ======================*/

div.menu {
	clear:right;
	width:155px;
	float:right;
	margin:15px 13px 0 0;
	font-size:13px;
	height:121px;
}

div.menu ul {
	margin:0;
	padding:0;
	list-style:none;
}

div.menu ul li {
	padding:2px 0;
	margin:0 !important;
	text-align:right;
}

div.menu ul li a {
	color:white;
	opacity:0.7;
	font-weight:bold;
	text-decoration:none;
}

div.menu ul li a:hover {
	opacity:0.9;
}

li.addSong {
	background:#4dab4f;
	border-radius:4px;
	padding:3px 7px !important;
	font-size:14px;
}

li.addSong a {
	opacity:1 !important;
}

/* ========================= Разметка контента ======================*/


table.layout {
	margin:20px 0 0 0 ;
}

td.firstColumn {
	width:180px;
	padding-right:10px;
}

td.thirdColumn {
	width:300px;
	padding-left:10px;
}

div.thirdColumnUnderline {
	width:220px;
}

div.thirdColumnUnderline img{
	margin:14px 0 10px 0;
}

td.lsFirstColumn {
	padding:0 10px 0 0;
}

td.thirdColumn.lyrsenseColumn {
	width:300px;
	padding:0 0 0 10px;
}

div.noTopBorder {
	border-top:none;
}

div.lastRightBlock {
	border-bottom:1px solid #DEDEDE !important;
}

div.contentBlock {
	background:white;
	padding:10px 20px 20px 20px;
	margin-bottom:10px;
}

div.addForm div.tab {
	width:150px;
}

div.tab {
	background:#f6f6f6;
	float:left;
	margin:0 5px 0 0;
	width:105px;
	text-align:center;
	font-size:13px;
}

div.tab.selected {
	background:white;
}

div.tab:hover {
	background:white;
} 

div.tab a, div.tab span {
	display:block;
	padding:13px 0;
	text-decoration:none;
	color:black;
}

div.contentHr {
	clear:both;
	height:1px;
	background:#e6e4e4;
	margin:0 -20px 0 -20px;
}

.compressImg {
	display:none;
}

div.gheadSocialIcons {
	float:right;
	margin:-5px 0 0 0 ;
}

div.headSocialIcons {
	float:right;
	margin:0 25px 0 0 ;
}

div.headSocialIcons table {
	margin:13px auto 0 auto;
}

table.indexSocialIcons {
	margin:5px 0 25px 0;
}

table.indexSocialIcons td{
	padding:0 10px 0 0 !important;
}

table.socialIcons {
	width:170px;
	margin:13px auto;
}

table.socialIcons td {
	text-align:center;
}

.b-share_theme_counter .b-share__link {
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
}

.b-share_theme_counter .b-share-btn__wrap {
	margin-left:0 !important;
	margin-right:5px !important;
	margin-bottom:3px;
}

/* ========================= Все артисты ======================*/

div.changeLang {
	width:100px;
	height:26px;
	background:white;
	padding:2px;
	margin-bottom:10px;
}

a.switcherlang {
	display:block;
	float:left;
	width:50px;
	height:26px;
	text-align:center;
	text-decoration:none;
	line-height:26px;
	background:#e6e4e4;
	color:black;
	font-size:11px;
}

a.switcherlang.selected {
	background:white;
}

div.leftArtistBlock {
	background:white;
	margin:0 0 10px 0;
	padding:0 7px;
	height:30px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size:14px;
	line-height:30px;
	font-family:Gotha, Tahoma, Geneva, sans-serif;
	cursor:pointer;
}

div.leftArtistBlock:hover {
	opacity:0.7;
}

div.leftArtistBlock.stopLinks a {
	pointer-events:none;
}

div.leftArtistBlock.hovered  {
	opacity:1.0 !important;
}

div.leftArtistBlock.hovered .artistList {
	text-align:right;
	color:white;
	text-decoration:none;
	position:relative;
	bottom:3px;
	z-index:9;
	float:right;
	display:block;
}

div.leftArtistBlock.hovered b {	
	width:170px;
	float:none !important;
	color:white;
	margin:-8px -17px -4px -7px;
	padding:5px 2px 0 8px;
	position:relative;
	z-index:1;
	height:25px;
	display:block;
	background:#46325e;
}

div.leftArtistBlock.hovered {	
	padding:8px 7px 10px 7px;
	line-height:19px;
	height:auto;
	overflow:visible;
	white-space:normal;
	cursor:default;
}

div.leftArtistBlock.hovered ul {
	clear:both;	
	margin:15px 0 0 0;
}

div.leftArtistBlock.hovered li {
	display:block;
	padding:2px 0 0 0;
}

div.leftArtistBlock.hovered li a {
	color:black;
}

div.leftArtistBlock b {
	width:18px;
	font-size:15px;
}

div.artists ul {
	width:165px;
	padding:0;
	margin: 0 5px 0 0;
	list-style:none;
}

div.artists ul li {
	display:inline;
	margin:0;
	padding:0 0 1px 5px;
}

div.artists ul li a {
	color:#b2b2b2;
	text-decoration:none;
}

div.artists ul li a:hover {
	text-decoration:none;
}

div.leftArtistBlock.hovered ul li a:hover {
	color:red;
	text-decoration:underline;
}

div.artists ul li.newHidden a {
	color:#114587 !important;
}

a.artistList {
	display:none;
}

/* ========================= Выбранный/случайный альбом ======================*/

div.tracklistDiv {
	margin:15px 0;
}

.trackListLink {
	cursor:pointer;	
} 

ul.tracklist {
	/*width:200px !important;*/
	list-style:none;
	margin:15px 0 15px 0 !important;
	padding:0;
	display:none;
}

ul.tracklist li{	
	padding: 0 0 8px 0 !important;
}

ul.tracklist li.mp3zed{
	background:url('/images/mp3zed.png') no-repeat left 0.2em;
}

span.countSong {
	color:#777 !important;
	font-size:11px;
}

img.imgAlbum75 {
	float:left;
	margin: 0 5px 5px 0;
}

img.imgAlbum150 {
	margin: 5px 5px 5px 0;
}

div.album h3 {
	margin:10px 0 10px 0;
	padding:0;
}

div.album h4{
	font-weight:normal;
	margin:3px 0 0 0;
	padding:0;
}

div.albumPlayerBlock {
	padding:10px;
}

div.amazonStr {
	position:relative;
	bottom:15px;
}

div.amazonStr img{
	position:relative;
	top:10px;
}

/* ========================= Хлебные крошки ======================*/

div.breadcrumbs {
	padding:0 0 0 0;
	color:#777;
	font-size:12px;
	margin-bottom:10px;
}

div.breadcrumbs p {
	padding:0;
	margin:0;
}

div.breadcrumbs img {
	margin: 0 3px;
	position:relative; 
	bottom:3px;
}

/* ========================= Ls - Главная ======================*/

div.promoImgDiv {
	position:absolute;
	overflow:hidden;
}

body.noScroll {
	margin:0;
	overflow:hidden;
	background:url('/images/styles_5/indexCover.png');
}

img.imgHover {
	position:absolute;
}

img.promoImg {
	position:absolute;
}

table.indexHeadTable {
	position:relative;
	width:100%;
	max-width:1280px;
	margin:20px auto 0 auto;
}

input.newIndexSearch {
	width:100%;
	background:none;
	border:1px solid #9e8ea5;
	border-radius:40px;
	padding:15px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	margin:15px 0 0 0;
	font-size:16px;
	color:white;
}

*:focus {outline: none;}

div.indexLinks {
	background:url('/images/styles_5/indexDivBg.png');
	width:100%;
	height:120px;
	border-bottom:1px solid #8a68a3;
	position:absolute;
}

div.indexLinks table {
	position:relative;
	width:90%;
	max-width:1280px;
	margin:20px auto 0 auto;	
}

div.indexLinks table td {
	width:13%;
	text-align:center;
	line-height:20px;
	font-size:15px;
	padding-top:15px;
}

div.indexLinks table td a {
	color:#7e728e;
	text-decoration:none;
	font-family: Tahoma, Geneva, sans-serif;
}

div.indexLinks table td b {
	font-weight:normal;
	font-size:17px;
	color:white;
}

div.indexCenterContent {
	width:100%;
	position:absolute;
	top:50%;
	margin:-150px 0 0 0;
	text-align:center;
}

h1.h1promo {
	text-align:center;
	font-size:40px;
	font-weight:normal;
	line-height:50px;
	margin:0 auto;
	width:770px;
	font-family: Gotha, Geneva, sans-serif;
	letter-spacing:1px;
	color:#e5dde6;
}

h2.h2promo {
	font-size:20px;
	font-weight:normal;
	position:relative;
	font-family: Gotha, Geneva, sans-serif;
	letter-spacing:1px;
	color:#dfdfdf;
    top: 140px;
    display: inline;
}

p.pPromo {
	text-align:center;
	font-size:20px;
	font-weight:normal;
	line-height:25px;
	position:relative;
	margin:20px auto 0 auto;
	width:700px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing:1px;
	color:#e5dde6;
}

div.albumInfo {
	position:absolute;
	z-index:99;
	width:800px;
	top:70px;
	left:50%;
	margin-left:-400px;
	background:#f3f5f5;
	box-shadow:0 0 20px black;
	display:none;
}

div.imgBlock {
	width:300px;
	margin:40px 0 0 40px;
	float:left;
}

div.imgBlock h3 {
	color:#535c64;
	margin:10px 0 0 0;
	padding:0;
}
div.imgBlock h3#artistName {
	font-weight:normal;
	margin:5px 0 40px 0;
}

table.albumInfoTable {
	margin: 40px 40px 40px 380px;
	overflow:hidden;
	font-size:15px !important;
	width:380px;
}

table.albumInfoTable td.weight, table.albumInfoTable td.time {
	font-size:15px;
	color:#cdd1d2;
	padding:5px 10px;
}

table.albumInfoTable td.title {
	width:300px;
	padding:5px 0;
}

body.noScroll div.autocomplete {
	background:#2c1845;
}

body.noScroll div.autocomplete>div{
	color:white;
}

body.noScroll div.autocomplete div.selected{
	color:black !important;
}

img#preloader {
	position:absolute;
	top:50%;
	left:50%;
	margin:-31px 0 0 -31px;
	border:15px solid white;
	border-radius:10px;
	z-index:999;
	display:none;
}

a#closeAlbumInfo {
	color:#7a7a7a;
	text-decoration:none;
	float:right;
	margin:4px 10px 0 0 ;
	font-size:14px;
}

div.socialButtons {	
	max-width:1280px;
	margin:0 auto;
}

div.socialButtons div.socBlock {
	position:absolute;
	bottom:30px;
	margin: 0 0 0 12px;
}

div.socialButtons div img {
	margin: 0 10px;
	opacity:0.5;
}

div.socialButtons div img:hover {
	opacity:0.8;
}

div.indexMenu {
	position: relative;
	max-width: 1105px;
	margin: 0 auto;
	padding: 0 160px 0 108px;
}

div.indexMenu #helloWorld a {
	color:white;
	text-decoration:none;
	border-bottom:none;
}

div.indexMenu #helloWorld {
	color:#7e728e;
}

div.indexMenu ul {
	margin:5px 0 0 15px;
	padding:0;
	list-style:none;
}

div.indexMenu ul li {
	padding:0 10px !important;
	margin:0 !important;
	display:inline;
}

div.indexMenu ul li a {
	color:white;
	text-decoration:none;
}

ul.literas {
	margin: 0 0 13px 0;
	padding: 0;
	list-style:none;
}

div.topLiteras {
	position:absolute;
	margin:0 0 0 135px;
	height:20px;
	display:none;
}

ul.literas {
	margin:0 10px;
}

ul.literas li {
	display:inline;
	padding:0;
	margin:0;
	font-size:1.0em;
	color:white;
}

ul.literas li a {
	display:block;
	float:left;

	padding:2px 5px;
	text-decoration:none;
}

input.search.openedSearch, input.newIndexSearch.openedSearch {
	border-radius:0px !important;
}


/* ========================= Главная ======================*/

div.promoIndex {
	max-width:910px;
	width:100%;
	height:250px;
	display:none;
}

a.promoLink {
	display:block;
	max-width:720px;
	position:absolute;
	width:100%;
	height:250px;
}

div.hotNews {
	background:white;
	color:white;
}

div.hotNews a {
	color:white;
	text-decoration:none;
}

div.hotNews img {
	float:left;
	margin:50px 20px 50px 30px;
}

div.newsTexts {
	padding-top:70px;
	line-height:30px;
}

span.newsTitle {
	font-size:18px;
}

a.titleLink {
	font-size:25px;
	font-weight:bold;
}

a.artistLink {
	font-size:15px;
}

div#promo_0 {
	display:block;
}

div.promoInfo {
	background:url('/images/styles_5/grey_tr.png'); 
	width:300px;
	height:70px;
	position:relative;
	top:170px;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	line-height:18px;
	left:10px;
}

div.promoInfo a {
	color:white;
	text-decoration:none;
	font-size:15px;
}

div.switchers {
	position:relative;
	top:224px;
	z-index:999;
	left:40px;
}

div.switch {
	height:16px;
	width:16px;
	background:white;
	opacity:0.7;
	border-radius:8px;
	float:left;
	margin:0 2px;
	cursor:pointer;
}

div.switch.selected {
	opacity:1.0;
}

div.hp_index_position {
	width:25px;
	float:left;
	font-size:16px;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	line-height:50px;
}

div.hp_index_row {
	min-height:65px;
	margin:5px -20px;
	padding:1px 20px;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	border-bottom:1px solid #e6e4e4;
}

div.hp_index_row a {
	text-decoration:none;
	color:black;
	line-height:18px;
}

ul.lastSongs {
	margin:0;
	padding:0;
	list-style:none;
}

ul.lastSongs li{
	text-align:left;
	padding:2px 0 !important;
	color:#868787;
}

div.listenNewBlock {
	margin:12px 25px 0 0 ;
	float:right;
}

a.listenNew { 
	padding:10px 0 10px 40px;
}

div.topAlbums {
	height:400px;
	overflow:hidden;
}

div.fullAlbumInfo {
	margin:75px 0 0 -5px;
	position:absolute;	
	line-height:15px;
	z-index:9999;
	font-size:12px;
}

div.topTip {
	background:url("/images/tooltip.png") no-repeat 35px top;
	height:11px;
}

div.albumInfo {
	padding:5px;
}

div.fullAlbumInfo span.hiddenInfo{
	display:block !important;
}

span.hiddenInfo {
	display:none;
}

img.showAlbumInfo {
	z-index:20;
	position:relative;	
}

div.updatesRow {
	height:200px;
	overflow:hidden;
	margin-bottom:10px;
}

div.shortArtist {
	white-space: nowrap;
	width:130px;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.shortArtist a {
	text-decoration:none;
	color:black;
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

/* ========================= Альбомы ======================*/

div.toAlbum {
	background:url("/images/listen.gif") left 0.5em no-repeat;
	padding:0 0 0 30px;
	margin:0 0 0 7px;
}

div.toAlbum a{
	display:block;
}	

div.miniHead {
	margin:25px 0;
}

.sortByRating, .sortByAbc, .sortByAlbum {padding:9px 15px 9px 25px;}

.albumTitle {
	font-size:25px;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	font-weight:normal;
}

div.nTrack {
	width:20px;
	text-align:right;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	float:left;
	font-size:13px;
	padding:2px 7px 0 0 ;
}

table.albumList {
	width:100%;
	border-collapse:collapse;
}

tr.albumSeporator td{
	padding:20px 0;
}

div.albums {
	color:#777;
}

div.albums img{
	margin-right:20px;
}

div.albums ul{
	margin:10px 0 0 0;
	padding:0;
	list-style:none;
}

div.albums ul li{
	padding:3px 0 0 0;
}

div.album ul {
	margin:5px 10px 0 0;
	padding: 0 7px 0 0;
	list-style:none;
	clear:both;
}

div.songBreads {
	font-size:16px; 
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

div.songBreads a {
	text-decoration:none;
}

ul.links {
	margin:0 0 15px 0;
	padding: 0;
	list-style:none;
}

div.album ul li, ul.links li {
	padding:2px 0;
}

div.songs h4{
	font-size:1.7em;
	position:absolute;
	margin:0 0 0 0;
	padding:5px 0 0 3px;
	width:300px !important;
	color:#dbdbdb;
}

div.songs {
	margin-top:20px;
}

div.songs ul{
	position:relative;
	z-index:500;
	margin:10px 0 15px 40px;
	padding:2px 0 0 0;
	list-style:none;

}

ul.abcList {
	font-size:14px;	
}

ul.abcList li {
	padding:5px 0 3px 0;
}

a.totranslate {
	color:#999 !important;
}

table.ratingTable td {
	font-size:14px;
	padding:2px 0;
}

div.ratingBar {
	margin:1px 0 1px 10px;
	padding:2px 10px;
	font-size:14px;
	color:white;
}

div.tolltipAlbum {
	text-align:left; 
	padding-left:5px;
	color:#a4a4a4;
}

div.tolltipAbc {
	text-align:center; 
	padding-left:5px;
	color:#a4a4a4;
}

div.tolltipRating {
	text-align:right; 
	padding-left:5px;
	color:#a4a4a4;
}

h3.biography {
	padding-bottom:0;
}

/* ========================= Хит-парад ======================*/

div.hitPosition {
	position:absolute;
	font-size:26px; 
	color:black;
	width:45px;
	text-align:center;
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

span.hitPosition {
	position:relative;
	top:40px;
}

div.hitParadRow {
	min-height:115px;
	margin:10px 0;
}

a.songTitle {
	font-size:20px;
	text-decoration:none;
}

div.dopStats {
	float:right;
	width:150px;
	font-size:11px;
	color:#84848e;
	line-height:16px;
}

div.dopStats img {
	margin:0 3px 0 0;
}

div.hitParadContentRow {
	padding:5px 10px 5px 60px;
}

div.megahitIndexBlock {
	width:430px;
	float:right;
}

div.hitList {
	float:right;
	width:210px;
	margin:27px 0 0 0;
}

div.hitList td.position{ 
	text-align:right;
}

div.hitList td {
	padding:2px 4px;
}

.indexRating {
	font-size:2.2em; 
	color:#aaa; 
	position:relative; 
	top:5px; 
	right:5px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}

.changePosition {
	font-size:12px;
	position:absolute;
	margin:65px 0 0 11px;
	display:block;
}

.up {
	color:#1ca915;
	background: url("../images/up.gif") no-repeat left 0.3em;
	padding-left:12px;
}

.down {
	color:#a91515;
	background: url("../images/down.gif") no-repeat left 0.2em;
	padding-left:12px;
}

.new {
	color:#0fa9cf;
	position:absolute; 
	margin:60px 0 0 10px;
	display:block;
}

/* ========================= Песни ======================*/

div.sideButtons {
	width:20px;
	float:right;
	text-align:right;
	margin:15px 0 0 0;
}

div.sideButtons img {
	margin-bottom:7px;
	cursor:pointer;
}

table.content_texts {
	z-index:5;
	width:100%;
}

div.expand {
	height:35px;
	margin:12px 0 0 0;
}

div.expand img{
	cursor:pointer;
	margin-right:4px;
}

div.hrDiv {
	margin:20px -20px;	
	border-top:1px solid #e6e4e4;
}

div.comment {
	padding:20px 0 15px 0;
	line-height:18px;
	color:#6c6c6c;
}

div.thanksForum {
	float:right;
	background:url('/images/styles_5/forum.png') 0px 6px no-repeat;
	padding:0 0 20px 32px;
}

div.sendErrorDiv {
	position:absolute;
	width:400px;
	margin: -15px 0 25px 200px;
	z-index:999;
}

a#sendError {
	position:relative;
	top:5px;
	left:336px;
}

textarea.errorForm {
	width:394px;
	height:70px;
}

input.name {
	border:solid 1px #b5daf7;
	color:#363636;	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:0.9em;
	margin: 0 0 4px 10px;
	width:203px;
}

p.sendErrorText {
	background:url('/images/styles_5/tell.png') 0px 1px no-repeat; 
	padding:0 0 2px 28px;
}

div.successSend {
	position:relative;
	bottom:10px;
	font-weight:bold;
	margin-bottom:10px;
}

div.buttons{
	margin-top:10px;
	font-size:11px;
}

div.buttons a.selected {
	color:#777;
	border:none;
}

div.playerFixed {
	position:fixed;
	background:white;
	width:220px;
	padding: 0 0 5px 10px;
	border:1px solid silver;
	z-index:999;
	margin-left:-10px;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

div.playerFixed div.thirdColumnUnderline {
	border:none !important;
}

div.playerTitle {
	margin:5px 0 0 0;
	padding:5px 0 0 0;
	color:#0b81d8;
	text-align:center;
	font-size:11px;
}

div.playerIcons {
	font-size:11px;
	line-height:25px;
	margin:3px 0;	
	font-size:13px;
}

div.playerIcons a {
	color:#7b7b7b;
}

div.playerIcons img {
	position:relative;
	top:10px;
	margin:0 5px 0 0 ;
}

div.playerIcons span{
	color:#0353ff;
	border-bottom:dashed 1px #0353ff;
	cursor:pointer;
}

img.outset {
	border:1px outset silver;
}

img.inset {
	border:1px inset silver;
	margin:10px !important;
}

span.highlightLine {
	display:inline-block;
	width:100%;
}

span.lighted {
	background:#F9F6D0;
	display:inline-block;
    margin: 0 -10px;
    padding: 0 10px;
	width:100%;
}

/* ========================= Исполнители на Х ======================*/

div.arTopBlock {
	width:29%;
	float:left;
	margin:0 25px 25px 0;
}

div.newLine {
	clear:left;
}

a.arName {
	font-size:16px;
	text-decoration:none;
	color:black;
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

div.arTopBlock ul {
	margin:15px 0;
	padding:0;
	list-style:none;
}

div.arTopBlock ul li {
	padding:4px 0;
	margin:0;
}

li.hidden_0 {
	font-weight:bold;
}

/* ========================= Плеер ======================*/

table.playerTable {
	width:187px;
}

a.listenAlbumLink {
	background:url('/images/styles_5/player/headphones.png') left top no-repeat;
	padding:4px 0 2px 30px;
	color:black;
	text-decoration:none;
	float:right;
	margin:0 20px 0 0 ;
}

div#codeDiv {
	width:230px;
	z-index:200;
	position:absolute;
	margin:20px 0 0 -90px;
}

div#codeDiv textarea{
	width:210px;
	height:100px;
	font-size:0.8em;
	line-height:1em;
}

input#code {
	font-size:0.8em;
	border:1px solid #b5daf7;
	width:100px;
	color:#555;
}

div.uploadMP3 p {
	font-size:12px;
	margin: 0 0 0 20px;
}

div.uploadMP3 p.comment {
	margin:5px 20px 0 0 ;
	font-size:9px;
	color:#777;
	line-height:13px;
}

div.uploadMP3 input.submit {
	width:112px;
	margin:5px auto 15px auto;
	display:block;
}

div.toAllAlbum {
	margin:3px 0 0 5px;
}

p.error {
	padding:4px 0 0 50px !important;
	height:60px;
	background:url("/images/error.gif") no-repeat left top;
}

/* ========================= Автопзаполнение ======================*/

.autocomplete { 
	border:1px solid #e6e4e4; 
	border-top:none;
	background:#FFF; 
	cursor:default; 
	text-align:left; 
	max-height:350px; 
	overflow:auto; 
	margin:0;
	/* IE6 specific: */ 
	_height:350px; 
	_margin:0; 
	_overflow-x:hidden; 
}

.autocomplete .selected { 
	background:#F0F0F0;
	cursor:pointer;
}

.autocomplete div { 
	padding:4px 7px 4px 7px; 
	white-space:nowrap; 
	overflow:hidden; 
}

.autocomplete>div:last-child { 
	border-top:1px solid #e6e4e4;
}

.autocomplete strong { 
	font-weight:normal; 
	color:#3399FF; 
}

div.miniImg {
	height:39px;
	overflow:hidden;
	float:left; 
	margin:0 5px 0 2px;
	padding:1px !important;
}

div.artistBorder {
	height:35px;
	width:35px !important;
}

span.foundText {
	position:relative;
	top:3px;
}

div.category {
	margin:-4px -7px -4px -7px;
	padding:8px 14px;
	font-size:16px;
	color:white !important;
}

div.category.error {
	background:white !important;
	color:silver !important;
}

/* ========================= Формы ======================*/

div.formBlock {
	margin:10px 0 10px 0;
	border-collapse:collapse;
	padding:0 0 20px 0;
}

table.form {
	width:100%;
	max-width:600px;
	border-collapse:collapse;
}

td.label {
	text-align:right;
	padding-top:7px !important;
}

label {
	font-weight:bold;
}

table.form td{
	padding:0 5px 5px 0 ;
}

select {
	border:solid 1px #ccc;
	background:#fcfcfc;
	font-family:Tahoma, Geneva, sans-serif;
	width:100%;
	color:#363636;
	margin-top:5px;
	padding:2px;
}

input.text{
	margin:5px 0 0 0;
	width:100%;
	border:solid 1px #ccc;
	padding:2px 2px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color:#363636;
}

textarea {
	margin-top:5px;
	width:100%;
	border:solid 1px #ccc;
	padding:5px 2px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color:#363636;
	line-height:19px;
}

textarea.standart {
	width:100%;
	height:200px;
}

span.error {
	color:#8f1512;
}

p.error {
	padding-left:50px !important;
	background:url("/images/error.gif") no-repeat left 5px;
}

tr#erBlock {
	padding-top:5px;
	display:none;
}

div#texts {
	display:none;
}

input.submit{
	width:270px;
	height:50px;
	display:block; 
	margin:20px auto 0 auto;
	border:1px solid #cccccc;
	font-weight:bold;
	cursor:pointer;
	background:#1086ff;
	color:white;
	font-size:16px;
	border-radius:10px;
}

input.submitDef{
	background:url("/images/submitDef.gif") no-repeat top left;
	border:1px #ccc solid;
	font-weight:bold;
	cursor:pointer;
}

input.submitSmall {
	width:112px;
	height:27px;
	margin:5px 0 0 10px;
	background:#1086ff;
	border:1px solid #cccccc;
	font-weight:bold;
	padding:0 0 3px 0;
	cursor:pointer;
	color:white;
	border-radius:5px;
}

.required {
	border:1px solid #e5a150 !important; 
}

/* ========================= Личный кабинет ======================*/

ul.profileMenu {
	margin:0;
	padding:0;
	list-style:none;
}

ul.profileMenu li {
	display:block;
	width:160px;
	background:#f6f6f6;
	height:40px;
	line-height:40px;
	text-align:right;
	padding:0 10px;
	margin:0 0 5px 0;
}

ul.profileMenu li a {
	text-decoration:none;
	color:black;
}

ul.profileMenu li.selected {
	background:white;
}

ul.myModerList {
	padding:0;
	margin:0;
	list-style:none;
	line-height:22px;
}

ul.myModerList img {
	position:relative; 
	top:4px;
	margin:0 5px 0 5px;
}

.time {	
	font-size:11px; 
	color:#aaa;
	width:25px;
}

div.emptyList {
	text-align:center;
	font-size:20px;
	color:#ccc;
	padding:30px 0;
}

table.subscribeTable {
	width:100%;
	max-width:500px;
}

table.subscribeTable tr {
	border-top:1px solid #e6e4e4;
}

table.subscribeTable tr:first-child {
	border-top:none;
}

table.subscribeTable td {
	padding: 4px 0;
}

td.menuTd {
	width:180px;
}

div.sitesTabs {
	position:relative;
	top:7px;
}

div.menu_el.selected {
	background:#6a4c8f;
	border-radius:20px;
	color:white !important;
}

table.siteMenu {
	width:100%;
}

div.favoriteSongs {
	height:50px;
}

div.favoriteSongs .menu_el {
	float:left;
	padding:3px 10px;
	margin:2px 3px;
	cursor:pointer;
	color:#2c69c0;
}


/* ========================= Что-то другое ======================*/

div.tabs {
	border-bottom:1px solid #d2d2d2;
	height:23px;
	margin:10px 0 0 0;
}

div.tabs div{
	float:left;
	margin-right:3px;
	padding:3px 15px;
	border:1px solid #d2d2d2;
}

div.selectedTab {
	background:#f8f8f8;
	border-bottom:1px solid #f8f8f8 !important;
	z-index:999;
	font-weight:bold;
}

div.activeTab {
	background:#f1fff7;
	padding:3px 0 !important;
}

div.activeTab a {
	padding:3px 15px;
}

div.translateTopSongs {
	width:164px;
	height:230px;
	float:left;
	padding-right:10px;
}

table.addSong span.request{
	font-size:0.8em;
}

table.addSong {
	width:99%;	
}

table.addSong td{
	padding:0 0 10px 0;
	vertical-align:top;
}

h2.addSong {
	position:relative;
	bottom:15px;
}

small.addSong {
	position:relative;
	bottom:15px;
}

table.addSongArtist td {
	vertical-align:top;
}

table.addSongArtist select {
	display:none;
}

table.addSongTags td {
	padding:5px 0 5px 0;
	vertical-align:middle;
}

div.notForumUser {
	padding:30px 40px 10px 40px!important;
	width:560px;
	position:absolute;
	left:50%;
	margin-left:-280px;
	z-index:100;
}

div.notForumUser h3 {
	margin-top:30px;
}

div.notForumUser td {
	width:33%;
	text-align:center;
}

div.notForumUser td img {
	margin-top:10px;
}

div.notForumUser td p {
	text-align:left;
}

div.bottomPale {
	margin:20px -40px -10px -40px;
	padding:10px 40px 10px 40px;
	background:#f2f3f4;
}

a.likeButton {
	display:block; 
	border:1px solid #cccccc;
	background:#1086ff;
	border-radius:10px;
	font-weight: bold;
	cursor: pointer;
	padding:7px 15px;
	color:white;
	font-size:15px;
	text-decoration:none;
}

div.addSongHead {
	height:30px;
	background:white;
	position:absolute;
	margin:-50px 0 0 0 ;
	padding:0 10px 0 0;
	font-weight:bold;
}

div.addSongHead span {
	display:block;
	float:left;
	width:30px;
	height:30px;
	color:white;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	text-align:center;
	font-size:17px;
	font-weight:bold;
	line-height:30px;
	border-radius:15px;
	background:#1086ff;
	position:relative;
	bottom:6px;
	margin:0 10px;
}

/* ========================= Подвал ======================*/

div.footer {
	margin-top:25px;
	padding:20px 0;
	background:#f4f3f3;
	border-top:1px solid #d6d5d5;
}

div.footer h4 {
	font-size:17px;
	color:black;
	margin:10px 45px 0 0;
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

div.footer ul {
	width:150px;
	margin:10px 45px 20px 0;
	padding:0;
	list-style:none;
}

div.footer ul li {
	padding:3px 0 5px 0;
	font-size:0.9em;
}

div.footer ul li a {
	color:black;
}

div.copyright {
	background:#313131;
	padding:5px 0 10px 30px !important;
	font-size:0.9em;
	color:#777;
}

td.copyright {
	color:#888;
}

/* ========================= Все артисты ======================*/

table.allArtist {
	width:100%;
	margin-top:20px;
}

table.allArtist td {
	width:33%;
}

table.allArtist h4 {
	font-size:1.7em;
	color:#dbdbdb;
	position:absolute;
	margin:0;
	padding:0;
}

table.allArtist ul{
	margin:0 0 20px 0px;
	list-style:none;
}

table.allArtist ul li{
	padding:0 0 3px 0;
}

/* ========================= Прочее ======================*/

div#results {
	margin-bottom:10px;
}

.ts {padding:15px 0 3px 0; display:block; color: #ff0000; font-weight:bold;}
.ex {padding:3px 0 3px 5px; display:block; color: #8792a8;}
.exTr {color:#6b6b6b;}
.mean {color: #c7722d;}

#results {
	font-size:12px;
}

#results ol {
	padding:0 0 0 19px;
	margin:0;
}

.age_control {
	position:absolute;
	z-index:100;
	background:url('/images/styles_5/age_control.jpg');
}

.age_control_question {
	position:absolute;
	z-index:200;
	margin:10px;
	background:#f2f2f2;
	border:2px solid silver;
	text-align:center;
}

.age_control_question h2 {
	padding:10px 30px;
	color:black;
}

.age_bttn {
	display:inline;
	background:silver;
	border:1px solid #646464;
	padding:10px;
	margin:10px 20px;
	position:relative;
	top:30px;
	cursor:pointer;
}

.yandex {
	background: url("../images/yandex.ico") no-repeat left 15px;
 	padding:12px 0 5px 20px !important;
}

.webmoney {
	background: url("../images/webmoney.ico") no-repeat left 15px;
 	padding:12px 0 5px 20px !important;
}

table.tarifs td{
	padding:4px 15px 4px 0;
	border-bottom:dotted 1px #777;
}

div.ev_bar img{
	position:relative; 
	bottom:3px;
}


div.eurovision_2016 {
	padding:7px 5px;
	background:url("/images/eurovision/ev-2016.png") no-repeat top left #1b0a00;
	color:white;
}

div.eurovision_2015 {
	padding:7px 5px;
	background:url("/images/eurovision/ev-2015.png") no-repeat top left #1b0a00;
	color:white;
}

div.eurovision_2014 {
	padding:7px 5px;
	background:url("/images/eurovision/ev-2014.png") no-repeat top left #281a89;
	color:white;
}

div.eurovision_2013 {
	padding:7px 5px;
	background:url("/images/eurovision/ev-2013.png") no-repeat top right #480105;
	color:white;
}

div.eurovision_2012 {
	padding:7px 5px;
	background:url("/images/eurovision/ev-2012.png") no-repeat top right #480105;
	color:white;
}

div.eurovision_2011 {
	padding:7px 5px;
	background:url("/images/eurovision/bg_2011.gif") no-repeat top left #e91801;
	color:black;
}

div.eurovision_2010 {
	padding:7px 5px;
	background:url("/images/eurovision/bg_2010.gif") no-repeat top right #0a4b8d;
	color:white;
}

div.eurovision_2009 {
	padding:7px 5px;
	background:url("/images/eurovision/bg_2009.gif") no-repeat top right #0a4b8d;
	color:white;
}

div.years {
	background:#f4f4f4;
	padding:3px 7px;
	margin: 0 20px 0 0;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
}

div#yearsRow {
	margin:5px 0;
}

div.years ul {
	margin:0;
	padding:3px 5px;
	list-style:none;
}

div.years ul li {
	display:inline;
	padding:2px 5px;
}

div.portfolio table td{
	width:33%;
	padding:15px 10px 10px 0;
	color:#3C3C3C;
}

div.portfolio ul{
	margin:0;
	padding:0;
	list-style:none;
}

.portfolioList li {
	line-height:15px;
	padding:4px 0 0 0;
}

div.portfolio h3{
	margin-top:20px;
}

div.portfolio small{
	position:relative;
	bottom:3px;
}

div.portfolio div.albumsList {
	height:170px;
}

div.albumModalHead {
	background:#f2f3f4;
	padding:5px 7px;
	min-width:200px;
	min-height:35px;
	line-height:18px;
	font-size:13px;
}

div.albumModalHead a {
	text-decoration:none;
	color:black;
}

div.fullAlbumInfo {
	background:white;
	border:3px solid #e6e4e4;
}

div.subscribeAuthor {
	background:url('/images/styles_5/subscribeAuthor.png') 0px 4px no-repeat;
	padding:0 0 0 30px;
	float:right;
	margin:10px 0 7px 0;
}


div.foundBlock {
	border:1px solid #d2d2d2;
	padding:10px;
	margin:10px 20px  0 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: #f9f9f9;
}

b.likeH2 {
	color:#6c6c6c;
	margin: 0 0 10px 0; 
	padding: 0;
	font-size: 15px;
	display:block;
}

/* ========================= Результаты поиска ======================*/

div.searchAlbumResult {
	width:130px;
	height:130px;
	float:left; 
	margin: 6px;
	background-size: 100% !important;
}

div.searchArtistResult div.albumHead, div.searchAlbumResult div.albumHead {
	height:auto;
}

div.searchAlbumResult div.albumHead div {
	width:120px;
	font-size:11px;
	color:black;
}

div.searchArtistResult {
	width:120px;
	height:180px;
	float:left; 
	margin: 0 10px 10px 0;
	background-size: 100% !important;
}

div.searchBlock {
	margin:0 0 20px 0;
	clear:both;
	background:white;
	border:1px solid #ebebeb;
	padding:5px 15px 15px 15px;
}

.linkDiv {
	cursor:pointer;
}

div.searchBlockHead {
	border-bottom:1px solid #ebebeb;
	margin: 0 -15px 15px -15px;
	padding: 0 15px;
}

div.searchBlockHead h3 {
	float:left;

}

div.favoriteSongs {
	height:50px;
}

div.favoriteSongs .menu_el {
	float:left;
	padding:3px 10px;
	margin:2px 3px;
	cursor:pointer;
	color:#2c69c0;
}

div.searchBlockHead .menu_el {
	float:left;
	padding:3px 10px;
	margin:2px 3px;
	cursor:pointer;
	color:#2c69c0;
}

div.searchBlockHead .menu_el .count {
	color:#b2b2b2;
}

div.sitesTabs {
	position:relative;
	top:7px;
}

div.menu_el.selected {
	background:#6a4c8f;
	border-radius:20px;
	color:white !important;
}

div.albumHead {
	background: url('/images/styles_5/tr.png');
	height:30px;
	padding:5px;
}

table.siteMenu {
	width:100%;
}

.clearBoth { clear:both; }

a.notLink {
	color:#aaa;
	border:none;
	cursor:default;
}

/* ----------------- Game ------------------ */

div.gameTopArtists {
	width:150px;
	float:left;
	margin:0 17px 25px 0;
	text-align:center;
	height:166px;
}

div.gameTopArtists a {
	color:black;
}

div.gameTopArtists div.photo{
	height:150px;
	overflow:hidden;
	margin-bottom:7px;
}

div.guessInfo {
	margin:15px 7px 0 0;
	float:right;
	width:170px;
	height:74px;
	padding:1px 0 0 10px;
	border:1px solid #126d86;
	background:#f4f4f4;
}

div.guessInfo p{
	line-height:1.8em;
	position:relative; 
	bottom:1px;
}

div.countDown {
	float:right;
	width:280px;
	text-align:center;
	font-size:1.6em;
	padding:10px 0 0 0;
}

div.countDown span{
	font-size:1.8em;
	color:#126d86;
}

div.adsGame {
	float:right;
	margin:23px 0 0 0 ;
}

table.records {
	width:260px;
}

table.records td {
	overflow:hidden;
}

table.records tr.show td{
	font-weight:bold;
}

table.records td{
	font-size:1.0em;
	padding:4px 0 4px 0;
	border-bottom:1px solid #e6e4e4;
}

table.records thead td{
	font-weight:bold;
	color:#777
}

table.topArtists {
	width:100%;
}

table.topArtists td{
	width:20%;
	text-align:center;
}

div.guessButton {
	float:right;
}

div.guessButton img{
	position:absolute;
	margin:20px 0 0 -130px;
}

div.gameSearch {
	margin:20px 0;
	text-align:center;
}

table.gameSoc {
	width:330px;
	margin:0 auto;
}

table.gameSoc td {
	padding:0 15px;
}

div.restart {
	width:604px;
	margin:0 auto;
}

div.restart a {
    display: block;
    width: 240px;
    float: left;
    background: #1086ff;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: 0 10px;
    height: 39px;
    font-size: 16px;
    line-height: 20px;
}

div.gameBg {
	height:86px;
	background:url('/images/styles_5/gameBg.png') repeat-x;
	margin:0 -20px 0 -220px;
	clear:both;
}

div.topInfo, div.answers, div.gameManage, div.roundAnswer {
	width:50%;
	float:left;
	padding:5px 10px;
	box-sizing: border-box;
}

div.gameManage {
	height:360px;
}

div.topInfo h3{
	padding-left:30px;
}

div.answers div {
	border:1px solid #e6e4e4;
	padding:4px 8px;
	height:25px;
	margin:15px 20px 0px 30px;
	cursor:pointer;
	line-height:25px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.answers div:hover {
	background:#93D0FB;
}

span#curScore {
	font-size:80px;
	font-family:gotha, Tahoma, Geneva, sans-serif;;
}

div.score {
	text-align:center;
	margin-top:20px;
}

div.buttonGame {
	width:230px;
	height:70px;
	background:#e53b22;
	text-align:center;
	line-height:70px;
	color:white;
	margin:30px auto;
	font-size:20px;
	cursor:pointer;
	font-family:gotha, Tahoma, Geneva, sans-serif;;
}

div.playing {
	background:url('/images/styles_5/playing.gif') no-repeat center center #e53b22;
}

div.loading {
	background:url('/images/styles_5/loading.gif') no-repeat center center #e53b22;
}

div.startToPlay {
	width:300px;
	height:70px;
	background:#e53b22;
	text-align:center;
	line-height:70px;
	color:white;
	margin:30px auto;
	font-size:20px;
	cursor:pointer;
	font-family:gotha, Tahoma, Geneva, sans-serif;;
}

div.gameManage {
	text-align:center;
}

div.innerGameInfo {
	height:67px;
	display:none;
}

div.preGameInfo {
	height:67px;
	text-align:center;
}

div.preGameInfo h2{
	padding-top:20px;
}

div.gameProcess {
	display:none;
}

div.preGame p {
	padding:20px 20px;
}

div.roundAnswer {
	padding:130px 20px;
	text-align:center;
}

div.artistStat {
	padding:7px 0 0 0px;
	clear:both;
}

div.updateBlock {
	padding:7px 10px;
	clear:both;
	border:1px solid #e6e4e4;
	margin-top:10px;
	display:none;
}

div.updateBlock div div {
	margin:15px 0;
}

div.formUpdate {
	margin:10px 0;
}

div.updateBlock div input{
	margin-top:5px;
}

div.userInfo {
	padding-top:20px;
}

div.loginIcons img {
	margin:0 5px 0 0;
	cursor:pointer;
}

a.logout {
	float:right;
	font-size:11px;
	text-decoration:none;
	color:#7b7b7b;
}

div.avatar {
	background-size:cover;
	width:40px;
	height:40px;
	border-radius:20px;
	float:left;
	margin:0 15px 0 0 ;
}

div.smallAvatar {
	background-size:cover;
	width:30px;
	height:30px;
	border-radius:15px;
	float:left;
	margin:0 7px 0 0 ;
}

div.favoriteArtists {
	height:40px;
	line-height:30px;
}

div.topMonth {
	background:white;
	padding:5px 20px 5px 20px;
}

div.recordRow {
	height:40px;
	clear:both;
	margin: 5px -20px;
    padding: 5px 20px;
    border-bottom: 1px solid #e6e4e4;
	line-height:40px;
	font-family:gotha, Tahoma, Geneva, sans-serif;;
}

span.scoreRecord {
	float:right;
}

div.recordRow:last-child {
	border-bottom: none;
}

div.emptyRecords {
	text-align:center;
	color:#999;
	padding:20px 30px;
}

div.userUpdate {
	height:40px;
}

img.updateIcon {
	cursor:pointer;
}

div.noticeToLogin {
	background:#fffad0;
	height:5px;
	text-align:center;
}

table.statTable td {
	vertical-align:middle;
	padding:3px 0;
}

/* -----------------  ------------------ */

input#searchArtist {
	width:280px;
	padding:7px 10px;
	font-size:16px;
}

div.buttons2 {
	background:#e6e4e4;
	padding:3px 7px 0 0;
	position:fixed;
	bottom:0;
	z-index:999;
}

div.setAlbumAttr {
	position:absolute;
	width:200px;
	border:1px solid silver;
	padding:5px;
	background:white;
	display:none;
	z-index:999;
}

div.saved {
	width:230px;
	text-align:center;
	font-size:0.9em;
	color:#056b11;
}

div.tags {
	padding:0 0 15px 0;
	margin:5px 0;
}

div.dopInfo {
	margin:15px 0 0 0;
	line-height:1.4em;
}

.dopInfo img {
	position:relative;
	top:4px;
}

ul.emptyUl {
	margin:5px 0 0 0;
	padding:0;
	list-style:none;
}

ul.emptyUl li {
	padding: 0 0 2px 0;
}

ul.ul li.added {
	padding:3px 0 2px 25px !important;
	background: url("/images/added.gif") no-repeat left 0.5em;
}

ul.ul li.translated {
	padding:3px 0 2px 25px!important;
	background: url("/images/translated.gif") no-repeat left 0.5em;
}

.newComment {
	background:#effcfc;
}

.commentModer td {
	border-bottom:1px solid silver;
	padding:10px 5px;
}

img.miniAvatar {
	float:left; 
	margin: 0 5px 0 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

textarea.taComment {
	height:150px;
}

div.socialBottom {
	float:right;
}

div.like-btn {
	float:left;
	margin:10px 0 0 0;
}

a.thankLink {
	position:relative;
	top:10px;
}

div.footnote {
	background:white;
	border:3px solid #e6e4e4;
	padding:3px 7px;
	position:absolute;
	max-width:200px;
	font-size:13px;
	z-index:999;
	line-height:1.3em;
	font-weight:normal;
	font-family: Tahoma, Geneva, sans-serif;
}

h2 div.footnote {
	font-size:0.6em;
}

div.period {
	margin:15px 50px 0 0;
	border-bottom:1px solid #d2d2d2;
	color:#999;
}

div.linkToLastSongs {
	text-align:right; 
	padding: 5px 10px 5px 0;
}

a.likedSongs {
	float:left; 
}

img#showHelp {
	position:absolute;
	margin:-42px 0 0 -10px;
}

img.setLiked, img.setUnliked {
	cursor:pointer;
}

div.gBranding {
	text-align:right !important;
}

#lit_0-9 {
	white-space:nowrap;
}

a.newimg {
	background:url('/images/new-song.png') no-repeat right 3px;
	padding-right:20px;
}

a.newimg2 {
	background:url('/images/new.png') no-repeat right 3px;
	padding-right:20px!important;
}

div.indexNYBg a {
	color:white;
}


/* ========================== Player ========================= */

div.playerDiv {
	margin-top:15px;
}

div.topButtons {
	height:35px;
}

div.centralPart {
	height:30px;
}

div.topButtons div.buttonTab { 
	width:33%;
	float:left;
	text-align:center;
}

div.topButtonsRow div.buttonTab { 
	width:30px;
	float:left;
	text-align:left;
	margin-left:20px;
}

div.bottomButtons div.buttonTab {
	width:33%;
	float:left;
	text-align:center;
}

div.bottomButtons.albumButtons div.buttonTab {
	width:25%;
}

div.bottomButtons {
	height:20px;
	margin-bottom:20px;
}

div.bottomButtons.albumButtons {
	margin-bottom:10px;
}

div.albumButtons div.volumeBar {
	margin:-20px 0 0 30px;
	width:115px;
}

div.albumButtons div.jp-volume-bar {
	width:100px;
}

a.button {
	text-indent: -9999px;
	overflow: hidden;
	display:block;
}

.pressedButton {
	position:relative;
	top:1px;
	left:1px;
}

.jp-play {
	width:22px;
	height:22px;
	background:url('/images/styles_5/player/play_normal.png') no-repeat center center;	
	margin:0 auto;
}

.jp-play:hover {
	background:url('/images/styles_5/player/play_hover.png') no-repeat center center;	
}

.jp-pause {
	width:22px;
	height:22px;
	background:url('/images/styles_5/player/stop_hover.png') no-repeat center center;	
	margin:0 auto;
}

.jp-pause:hover {
	background:url('/images/styles_5/player/stop_normal.png') no-repeat center center;	
}

.jp-next {
	width:22px;
	height:22px;
	background:url('/images/styles_5/player/forward_normal.png') no-repeat center center;	
	margin:0 auto;
}

.jp-next:hover {
	background:url('/images/styles_5/player/forward_hover.png') no-repeat center center;	
}

.jp-previous {
	width:22px;
	height:22px;
	background:url('/images/styles_5/player/back_normal.png') no-repeat center center;	
	margin:0 auto;
}

.jp-previous:hover {
	background:url('/images/styles_5/player/back_hover.png') no-repeat center center;	
}

a.jp-mute {
	background:url('/images/styles_5/player/sound_normal.png') no-repeat top left;
	margin:0 auto;
	width:20px;
	height:17px;
}

a.jp-mute:hover {
	background:url('/images/styles_5/player/sound_hover.png') no-repeat top left;
}

a.jp-unmute {
	background:url('/images/styles_5/player/sound_off_normal.png') no-repeat top left;
	margin:0 auto;
	width:20px;
	height:17px;
}

a.jp-unmute:hover {
	background:url('/images/styles_5/player/sound_off_hover.png') no-repeat top left;
}

.jp-repeat {
	width:20px;
	height:17px;
	background: url('/images/styles_5/player/repeat_normal.png') no-repeat;
	margin:0 auto;
}

.jp-repeat:hover {
	background: url('/images/styles_5/player/repeat_hover.png') no-repeat;
}

.jp-repeat-off {
	width:20px;
	height:17px;
	background: url('/images/styles_5/player/repeat_hover.png') no-repeat;
	margin:0 auto;
}

.jp-repeat-off:hover {
	background: url('/images/styles_5/player/repeat_normal.png') no-repeat;
}

.jp-shuffle {
	width:20px;
	height:17px;
	background: url('/images/styles_5/player/shuffle_normal.png') no-repeat;
	margin:0 auto;
}

.jp-shuffle:hover {
	background: url('/images/styles_5/player/shuffle_hover.png') no-repeat;
}

.jp-shuffle-off {
	width:20px;
	height:17px;
	background: url('/images/styles_5/player/shuffle_hover.png') no-repeat;
	margin:0 auto;
}

.jp-shuffle-off:hover {
	background: url('/images/styles_5/player/shuffle_normal.png') no-repeat;
}

.jp-current-time {
	width:27px;
	float:left;
	font-size:11px;
}

.jp-duration {
	width:27px;
	float:left;
	font-size:11px;
}

/* @group progress bar */

div.jp-seeking-bg {
	background:url('/images/styles_5/player/loading.gif') !important;
}

div.jp-progress {
	width:196px;
	float:left;
	overflow:hidden;
	height:8px;
	background:#ededed;
	margin:3px 5px;
}

div.jp-seek-bar {
	background:#d9d9d9;
	width:0px;
	height:100%;
	cursor: pointer;
}
div.jp-play-bar {
	background:#d9d9d9;
	border-right:2px solid black;
	width:0px;
	height:100%;
}

/* @end */

div.volumeBar {
	position:absolute;
	width:136px;
	background:white;
	height:20px;
	margin:-20px 0 0 42px;
	display:none;
}

div.jp-title {
	margin: 2px 0 0 0;
	font-size:12px;
}

div.jp-title ul {
	list-style:none;
	margin:0 0 0 7px;
	padding:0;
}

div.rightSide {	
	padding:10px 7px 0 0px;
	height:11px;
}

div.jp-volume-bar {	
	background: #f4f4f4;
	width:120px;
	height:8px;
	cursor: pointer;
	margin:6px auto;
}

div.jp-volume-bar-value {
	background:#e74c3c;
	width:0px;
	height:8px;
}

div.bottomPart {
	position:relative;
	bottom:5px;
}

div.centralPartAlbum {
	width:130px;
	margin:0 auto 0 auto;
	height:40px;
	position:relative;
	top:5px;
}

div.centralPartAlbum div.jp-progress {
	margin:3px 0;
}

div.centralPartAlbum div.jp-duration {
	float:right;
}


*:focus {outline: none;}

.jp-play:active {
	border:none;
}

div.jp-playlist {
	width:300px;
}

div.jp-playlist ul {
	list-style:none;
	margin:0;
	padding:3px 0 5px 0;	
}

div.jp-playlist ul li{
	font-size:13px;	
	white-space: nowrap;		
	text-overflow: ellipsis;
	overflow: hidden;
	padding:0 !important;
	width:300px;
}

div.jp-playlist ul li div{
	padding:4px 0px;
}

div.jp-playlist ul li a{
	display:block;
	text-decoration:none;
	color:black;
}

li.jp-playlist-current {
	font-weight:bold;
}

li.jp-playlist-current a {
	color:#e74c3c !important;
}

.dictBlock {
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width:200px;
	margin:0 0 15px 0;
	background:#f4f4f4;
	padding-top:10px;
}

div#title {
	height:20px;
	text-align:center;
	font-weight:bold;
	padding-top:2px;
}

h2.titleH2 {
	margin:0;
	padding:0;
	font-size:16px;
	position:relative;
	bottom:8px;
}

td.noBorder {
	border-left:none !important;
	padding:0 !important;
}

div.adv_300px {
	width:300px;
	height:250px;
}

div.adv_728px {
	width:728px;
	height:90px;
}

div.adv_336px {
	width:336px;
	height:280px;
}

div.moreInfoBlock {
	width:120px;
	float:left;
	text-align:center;
}

div.firstBlocks {
	width:360px;
	padding-bottom:15px;
	height:65px;
}

div.secondBlocks {
	background:url('/images/styles_4/hr.png') top center no-repeat;
	clear:both;
	margin:15px 0 0 0;
	padding-top:15px;
}

div.artistImg {
	height:270px;
	overflow:hidden;
	margin-bottom:20px;
}

/* =========== Artists head ============= */

div.artistTopRow {
	width:730px;
	padding-bottom:20px;
}

div.artistPhoto {
	width:200px;
	height:300px;
	overflow:hidden;
	float:left;
	margin: 0 20px 0 0;
}

div.artistLinks {
	padding:0 0 0 20px;
}

div.artistLink {
	margin:5px 30px 5px 0;
	padding: 9px 0 9px 33px;
}

div.addTranslate {
	background:url('/images/styles_5/addSong.png') 0 13px no-repeat;
}

div.addOrder {
	background:url('/images/styles_5/addOrder.png') 0 13px no-repeat;
	padding-left:42px;
}

div.addSubscribe {
	background:url('/images/styles_5/subscribe.png') 0 13px no-repeat;
}

div.otherLang {
	background:url('/images/styles_5/others.png') 0 13px no-repeat;
}

div#subscribeInfo {
	position:absolute;
	width:230px;
	z-index:999;
}

input#subscribeMail {
	width:125px;
}

div.h4_biography, div.h4_links {
	margin:0px !important;
}

div.artistBio p {
	line-height:16px !important;
}

div.artistBio {
	float:left;
	margin: 0 15px 0 0;
	width:300px;
}

div.shortBio {
	height:88px;
	overflow:hidden;
	text-overflow: ellipsis;
}

div.noBio {
	color:#777;
}

div.artistVk {
	float:left;
	margin: 0 15px 0 0;
	height:108px;
	overflow:hidden;
}

div.artistOtherSites {
	float:left;
	margin: 0 15px 0 0;
}

div.artistGame {
	width:107px;
	float:left;
}

div.albumSongsList {
	margin:15px 15px 35px 0;
	padding:5px 15px 5px 0;
}

div.albumSongsList ul {
	width:100%;
	margin:15px 0;
	padding:0 ;
	list-style:none;
}

div.albumSongsList ul li {
	padding:5px 0;
	font-size:14px;
}

div.hintsBottom ul {
	list-style:none;
	padding:5px;
	margin:2px 0 2px 30px;
}

div.hintsBottom ul li {
	display:inline;
	padding:4px 7px 4px 35px;
}

a.closeHints {
	position:absolute;
	margin:-5px 0 0 -7px;
}

div.hiddenLinks {
	position:absolute;
	z-index:100;
}

div.hiddenLinks ul {
	margin:5px 10px;
	padding:0;
	list-style:none;
}

div.hiddenLinks ul li {
	padding:2px 0;
}

input.inlineSubmit {
	width: 140px;
	height: 27px;
	display: block;
	border: 1px solid #cccccc;
	font-weight: bold;
	cursor: pointer;
	background: #1086ff;
	color: white;
	font-size: 16px;
	border-radius:3px;
	position:relative;
	top:1px;
}

input.newInput {
	border:solid 1px #ccc;
	padding:4px 5px;
	width:200px;
}

div.floatingDiv {
	float:left;
	margin: 0 10px 0 0;
}

.success {
	color:#056b11;
}

div.biography ul {
	margin:5px 0 15px 5px;
	padding:0;
	list-style:none;
}

div.biography li {
	padding:0 0 5px 15px !important;
	color:#363636;
	background: url("../images/li.gif") no-repeat 0 0.4em;
	line-height:1.4em;
}

p.rules {
	font-size:11px;
	color:#777;
	line-height:13px;
}

div.minihead {
	border-top-left-radius: 5px;
	-webkit-top-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-bottom:solid 1px #c0c0c0;
	background:#f4f4f4;
	padding:3px 0 3px 10px;
	font-size:11px;
	margin: 0 0 5px 0;
}

table.gsc-branding {
	position: relative;
	right: 200px;
}

img.gsc-branding-img-noclear {
	position: relative;
	right: 135px;
}

td.gsc-branding-text {
	padding-right:140px !important;
}

div#videoBar-bar {
	width:380px;
	overflow:hidden;
	position:relative;
	right:10px;
}

div.likeSong {
	width:150px;
	float:left;
	height:230px;
}

div.likeSong img {
	margin-bottom:10px;
}

div.likeSong a {
	color:black;
	text-decoration:none;
	font-family:gotha, Tahoma, Geneva, sans-serif;
}

div.artistLink {
	float:left;
}

b.subTitle {
	position:relative;
	bottom:5px;
	color:#aaa;
}

.likeBold {
	font-weight:bold;
}

img.closeIcon2 {
	position:absolute;
	margin:-12px 0 0 400px;
	cursor:pointer;
}

div.guessBanner ul {
	margin:32px 0 0 200px;
	padding:0;
	list-style:none;
	font-size:16px;
	font-weight:bold;
}

div.guessBanner ul li{
	padding:0 0 5px 0;
}

div.guessBanner ul li a{
	color:white;
}

li.smallAdd {
	font-size:12px;
	padding:0 0 0 250px !important;
}

div.songInfo {
	font-size:11px;
	color:#999;
	padding:0 0 0 25px;
	background:url('/images/info-mp3.png') no-repeat 3px 5px ;
	min-height:22px;
}

div.inAlbum.tiezer {
	background: whiteSmoke;
	padding:10px;
}

div.songPageVideo {
	margin:0 0 15px 0;
}

div.songPageVideo div {
	width:120px;
	float:left;
	margin:0 20px 10px 0;
	max-height:150px;
	overflow:hidden;
}

div.songPageVideo div:nth-child(2n) {
	margin:0 0 0 0;
}


div.songPageVideo img{
	width:120px !important;
	height:90px !important;
}

div.songPageVideo div div {
	width:120px !important;
}


div#loadingVideo {
	width:720px;
	height:410px;
	background:url('/images/styles_5/spiffygif.gif') no-repeat center center;
}

img.videoImg {
	display:block;
	margin:10px 0 5px 0;
	cursor:pointer;
}

div.videoCenterBlock {
	width:720px;
	height:480px;
	padding:30px 50px 70px 50px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-300px 0 0 -410px;
	background:black;
	z-index:999;
	display:none;
}

div.videoCenterBlock.miniVideo {
	width:200px;
	height:140px;
	position:fixed;
	bottom:0;
	top:auto;
	left:auto;
	margin-left:-120px;
	padding:20px 10px 15px 10px;
}

div.videoCenterBlock div.videoTitle {
	color:#d5d5d5;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	font-size:14px;
	padding-bottom:15px;
}

div.videoUndeCover {
	position:fixed;
	top:0; 
	left:0;
	width:100%;
	height:3000px;
	background:black;
	opacity:0.8;
	z-index:9;
	display:none;
}

div.videoCenterBlock.miniVideo div.videoButtons { 
	margin:-15px -8px 0 0 ;
}

div.videoButtons {
	text-align:right;
	margin:-20px -40px 20px 0 ;
}

div.videoButtons img {
	margin:0 3px;
	cursor:pointer;
}

div.news>div>div {
	padding:10px 0 !important;
}

ul.shortHP {
	margin:15px 0 25px 0!important;
}

ul.shortHP li {
	padding-bottom:4px;
}

div.imgOverText {
	background:url('/images/tr.png');
	width:180px;
	height:20px;
	position:relative;
	bottom:28px;
	padding:4px 10px;
	overflow:hidden;
}

div.headSelBgBg {
	position:absolute;
	height:188px;
	width:99%;
	z-index:0;
	margin:-27px 0 0 0;
}

div.evVoting {
	background:url('/images/styles_4/evBg.png');
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-align:center;
	padding:10px 0;
	color:white;
	margin:0 15px 10px 0;
}

div.evVoting a {
	font-weight:bold;
	font-size:16px;
	color:white;
}

div.evvoting2 {
	position:absolute;
	text-align:right;
	width:300px;
	margin:10px 0 0 -300px;
}

div.promoText {
	background: rgba(0,142,177,.75);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border:2px solid white;
	padding:5px 7px;
	color:white;
	font-weight:bold;
}

div.bannerText {
	width:180px;
	margin:175px 0 0 0;
	padding:0 10px;
	text-align:center;
}

div.bannerText a {
	font-size:16px;
	line-height:27px;
}

div.gRating {
	width:310px;
	float:right;
	color:silver;
	line-height:1.5em;
	margin-top:10px;
}

div.ratingStars {
	float:left;
	margin-right:15px;
}

span#messageVoted {
	position:absolute;
	background:url('/images/styles_5/tr_gr.png');
	color:red;
	margin:19px 0 0 0;
	z-index:9;
	display:none;
}

img.ratingStar {
	cursor:pointer;
}

div.moodBlock {
	position:fixed;
	bottom:10px;
	width:400px;
	height:110px;
	background:white;
	border:3px solid #e6e4e4;
	margin: 0 0 0 -320px;
	z-index:8;
	text-align:center;
	display:none;
}

a.closeMoodBlock {
	font-size:11px;
	color:silver;
	float:right;
	text-decoration:none;
}

.listenBtn {
	width: 150px;
	height: 150px;
	background: url('/images/styles_5/play_hover.png') no-repeat center center silver;
	cursor: pointer;
	position: absolute;
	z-index: 9;
	opacity: 0;
}

b.bigHead {
	font-size:60px;
	color:#6432a3;
	float:left;
	display:block;
	margin:0 15px 5px 0;
	position:relative;
	bottom:11px;
}

div.blockP {
	margin-top:50px;
	clear:both;
}

img.rightFloatImg {
	float:right;
	margin:0 0 10px 10px;
}

img.rightFloatLeft {
	float:left;
	margin:0 10px 10px 0;
}

/* ----------- Top Player --------------- */

div.topPlayer {
	background:#f5f5f5;
	margin:0px -20px 0px -20px;
	overflow:hidden;
	padding-bottom:15px;
}

img.robotEyes {
	position:absolute;
	margin:79px 0 0 73px;
}

/*-------- Radio ------*/

div.radioPlayer {
	margin:10px -20px 0 -20px;
	background:#c8d6e7;
	height:240px;
}

table.radioSongs td {
	padding:10px 10px 0 0; 
}

#radioPlayer .playerBg {
	border:1px solid #bbcadf;
	width:220px;
	height:290px;	
	margin:-10px 0 40px 30px;
	color:black;
	background:white;
	float:left;
	box-shadow:0 0 50px 6px #c5d3e5;

}

div.alImgDiv {
	width:150px;
	margin: 10px auto 15px auto;
	height:150px;
}

div.alImgDiv img{
	border:1px solid #f0f0f0;
}

div.title {
	margin:5px 10px;
	line-height:18px;
	white-space: nowrap;
	overflow: hidden;
}

div.title a {
	color:black;
	text-decoration:none;
}

div.title a#songTitile {
	font-size:16px;
}

div.title a#artistName {
	font-size:12px;
}

#radioPlayer div.jp-progress {	
	overflow:visible;
	height:8px;
	margin:5px 20px 0 20px;
	display:block !important;
	float:none !important;
	width: auto !important;
	bottom:0;
	background:#ededed;
	border:none;
}

#radioPlayer div.jp-seek-bar {
	background:#d9d9d9;
	width:0px;
	height:100%;
	cursor: pointer;
}

#radioPlayer div.jp-play-bar {
	background:#d9d9d9;
	border-right:2px solid black;
	width:0px;
	height:100%;
}

img.radioSeekBtn {
	float: right;
	margin: -4px -9px 0 0;
}

div.radioPlayer div.buttons {
	height:30px;
	padding:10px 23px 0 23px;
}

div.radioBtn {
	float:left;
	width:22px;
	height:22px;
	cursor:pointer;
	margin: 0 18px;
}

div.radioPlay {
	background:url('/images/styles_5/player/play_normal.png');
}

div.radioPlay:hover {
	background:url('/images/styles_5/player/play_hover.png');
}

div.radioPause {
	display:none;
	background:url('/images/styles_5/player/stop_normal.png');
}

div.radioPause:hover {
	background:url('/images/styles_5/player/stop_hover.png');
}

div.radioBack {
	background:url('/images/styles_5/player/back_normal.png');
}

div.radioBack:hover {
	background:url('/images/styles_5/player/back_hover.png');
}

div.radioNext {
	background:url('/images/styles_5/player/forward_normal.png')
}

div.radioNext:hover {
	background:url('/images/styles_5/player/forward_hover.png')
}

img.preload {
    position: absolute;
    left: -10000px;
}

div.volumeDiv {
	width:120px;
	height:26px;
	position:absolute;
	background:white;
	border:2px solid #e6e4e4;
	margin:8px 0 0 0px;
	z-index:7;
	display:none;
}

div.blockDiv {
	width:190px;
	position: absolute;
	background:white;
	border:2px solid #e6e4e4;
	margin: -265px 0 0 3px;
	z-index:10;
	color:black;
	padding: 5px 10px;
	display:none;
}

div.blockButton {
	margin:5px 0;
	border:1px solid silver;
	text-align:center;
	padding:7px 0 10px 0;
	cursor:pointer;
	background-repeat: repeat-x;
}

img#radioVolume {
	position:absolute;
	z-index:9;
	margin: 13px 0 0 10px;
}

img#radio_trash {
	position:absolute;
	z-index:11;
	margin: 13px 0 0 195px;
	cursor:pointer;
}

div.volume-bar {
	overflow:hidden;
	background:#efefea;
	width: 80px;
	height: 8px;
	cursor: pointer;
	margin: 8px 0 0 28px;
}

div.ui-widget-header {
	background: #e74c3c;
	width:0px;
	height:8px;
}

ul.sitesSelect {
	margin:30px 0 30px 0;
	padding:0;
	list-style:none;
	overflow:hidden;
	position: relative;
    top: 16px;
}

ul.sitesSelect li {
	width:145px;
	border:1px solid #bbcadf;
	padding: 3px 0 3px 20px;
	cursor:pointer;
	opacity:0.4;
	background-color:white;
}

li.playAll {
	background:url('/images/styles_5/radio_playAll.png') no-repeat 149px 5px ;
	opacity:1 !important;
}

li.playFav {
	background:url('/images/heart_fill.png') 149px 5px no-repeat;
	opacity:1 !important;
}

li.playNone {
	background:none;
}

li.playNone a {
	color:#7b7b7b;
	border-bottom:1px dashed #7b7b7b;
}

div.offersRadio {
	margin-top:5px;
}

div.offerBlock {
	width:196px;
	float:left;
	margin-bottom:20px;
	font-family:gotha, Tahoma, Geneva, sans-serif;
	line-height:19px;
}

div.offerBlock img {
	margin:0 5px 5px 0;
}

.songLink {
	font-size:14px;
	color:black; 
	text-decoration:none;
}

.offerBlock .songLink {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 170px;
    display: block;
    overflow: hidden;
}

.artistLink {
	font-size:12px;
	text-decoration:none;
}

.listenBtn {
	width:150px;
	height:150px;
	background:url('/images/styles_5/play_hover.png') no-repeat center center silver;
	cursor:pointer;
	position:absolute;
	z-index:9;
	opacity:0;
}

.listenBtn.done {
	background: none;
	color: green;
	width: 60px;
	font-size: 11px;
	line-height: 10px;
}

div.advRadio2 {
	margin:10px 20px 10px 0;
	background:#eee;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #4d86a6;
	padding:15px 20px;
	line-height:18px;
}

img.reOrderSong {
	position:relative;
	top:1px;
	cursor:pointer;
	display:none;
}

/* ----------- Tags page --------------- */

table.tagsTable {
	width:100%;
}

table.tagsTable td {
	width:50%;
	border-top:1px solid #e6e4e4;
	border-bottom:1px solid #e6e4e4;
	padding:10px 20px;
}

table.tagsTable td:first-child {
	border-right:1px solid #e6e4e4;
}

div.tagInfo {
	font-size:12px;
	padding:0 0 3px 0;
	color:#777;
	font-weight:bold;
}

div.favoriteSongsBlock {
	width:150px;
	line-height:19px;
	margin-bottom:15px;
}

div.favoriteSongsBlock ul {
	width:150px;
	margin:10px 0 25px 0;
}

div.otherAlbums {
	clear:both;
	margin:0 -20px;
	padding:7px 20px;
	border-top:1px solid #e6e4e4;
	min-height:50px;
	line-height:16px;
	color:#7b7b7b;
}

div.otherAlbums:first-child {
	border-top:none !important;
}

div.otherAlbums a {
	font-size:14px;
}

div.reqSide {
	margin:5px -20px 5px -20px;
	padding:0 20px;
	border-bottom:1px solid #e6e4e4;
	clear:both;
	min-height:55px;
}

div.reqSide:last-child {
	border-bottom:none;
}

div.reviewButtons {
	margin:15px 0;
}

/* -------- Reviews ------- */

div.reviewButtons div {
	width:24%;
	float:left;
	padding:7px 10px 7px 45px;
	height:32px;
	margin:0 5px;
	border:1px solid #e6e4e4;
	cursor:pointer;
}

div.reviewButtons div.selected {
	border:1px solid #1086ff;
}

div.reviewButtons div.accept {
	background:url('/images/styles_5/review_accept.png') 7px 7px no-repeat #c5ffca; 
}

div.reviewButtons div.edit {
	background:url('/images/styles_5/review_edit.png') 7px 7px no-repeat #fdffc5; 
}

div.reviewButtons div.deny {
	background:url('/images/styles_5/review_deny.png') 7px 7px no-repeat #ffd5d5; 
}

div.reviewBlock.review_3 {background:#c5ffca;}
div.reviewBlock.review_2 {background:#fdffc5;}
div.reviewBlock.review_1 {background:#ffd5d5;}

div.reviewBlock {
	margin:10px -20px;
	padding:7px 20px;
}

div.fixedReview {
	float:right;
	cursor:pointer;
	color:#23488C;
}

div.fixedReview img{
	position:relative;
	top:7px;
}

div.review_comment {
	display:none;
}

div.reviewPlayer .likeSongLabel {
	display:none;
}

div.reviewRating {
	float:right;
	width:174px;
	padding:7px 20px 20px 20px;
	text-align:center;
}

div.negative {
	height:13px;
	width:85px;
	float:left;
	background:#ffd5d5;
	border:1px solid #e6e4e4;
	border-right:none;
}

div.positive {
	height:13px;
	width:85px;
	float:left;
	background:#c5ffca;
	border:1px solid #e6e4e4;
	border-left:none;
}

div.positive div.bar {
	float:left;
	height:12px;
	background:#197f22;
	color:white;
	font-size:10px;
	padding-top:1px;
	text-align:center;
	min-width:30px !important;
}

div.negative div.bar {
	float:right;
	height:12px;
	background:#972a2a;
	color:white;
	font-size:10px;
	padding-top:1px;
	text-align:center;
	min-width:30px !important;
}

div.positive {
	font-size:11px;
	color:#777;
}

div.previewPhoto {
	height:150px;
	overflow:hidden;
}

div.previewPhoto img {
	position:relative;
	bottom:10px;
	z-index:1;
}

div.previewPhoto a.arName {
	position:absolute;
	width:200px;
	height:18px;
	display:block;
	z-index:2;
	background:url('/images/styles_5/tr.png');
	padding:7px 15px;
}

div.ruenbuttons {
	position:absolute;
	margin:108px 0 0 18px;
	color:white;
	font-size:12px;
}

div.ruenbuttons span {
	cursor:pointer;
}

div.ruenbuttons span.selected {
	color:silver;
}

div.playerLeftBlock {
	width:150px; 
	float:left; 
	margin:20px 30px 0 20px;
}

/* ========================= Аддаптация ======================*/

@media all and (max-width: 1030px) { 
	div.updatesRow div.albumsList {
		width:130px;
	}

	div.updatesRow div.albumsList img{
		width:120px !important;
		height:120px !important;
	}

	div.albumsList {
		height:200px;
		width:128px;
		float:left;
	}

	div.albumsList>div>a>img{
		width:110px !important;
		height:110px !important;
	}

	div.portfolio div.shortArtist {
		width:110px;
	}

	div.hotNewSong {
		width: 165px !important;
		margin: -3px 0 0 -166px !important;
	}

	div.likeSong {
		margin: 0 13px 0 0;
	}

	div.songPageVideo div.shortArtist {
		width:160px;
	}

	div.footer div.bodyLayout div.footerDiv {
		margin-left:20px;
	}

	ul.shortLiters li {
		width:26px !important;
		height:26px !important;
		line-height:27px !important;
	}

	div.offerBlock {
		width: 180px !important;
	}

	#radioPlayer .playerBg {
		margin-left:0px !important;
	}

	div.gameTopArtists {
		width:143px !important;
	}

	div.sideAds {
		width:160px !important; 
		margin:0 auto;
	}

	td.thirdColumn.thinColumn {
		width:200px;
	}

	.thinColumn {
		width:200px !important;
	}

	div.songPageVideo div {
		width:160px;
		margin:0 0 10px 0;
		max-height:166px;
		overflow:hidden;
	}

	div.songPageVideo img{
		width:160px !important;
		height:120px !important;
	}

	div.songPageVideo>div:last-child {
		display:none;
	} 

	div.artistTopRow {
		border-bottom:1px solid #e6e4e4;
	}

	div.playerLeftBlock {
		margin:20px 20px 0 20px;
	}

	img#gameBanner {
		width:200px;
	}

	div.answers div {
		margin:15px 10px 0px 0px;
	}

	div.buttonGame {
		width:210px;
	}

	div.topInfo h3{
		padding-left:10px;
	}
}

@media all and (min-width: 1030px) {
	div.updatesRow div.albumsList {
		width:178px;
	}

	div.albumsList {
		height:215px;
		width:158px;
		float:left;
	}

	div.likeSong {
		margin: 0 20px 0 0;
	}

	div.songPageVideo div.shortArtist {
		width:170px;
	}

	div.artistLinks {
		float:left;
		padding: 0 0 0 40px;
	}

	div.artistTopRow {
		float:left;
	}

	div.artistLink {
		float:none;
	}

	div.artistAds {
		margin:0 0 25px 0;
	}

	div.topAlbumBlock img{
		width:120px !important;
		height:120px !important;
		float:left;
		margin: 0 10px 0 0;
	}
}