.rcm-container{
    display:inline-block;
    width:740px;
}

.rcm-container .aem-hp-rcm-carousel ul{
    margin-left: 0;
}

.rcm-container .aem-hp-rcm-carousel{
    margin-left: 0;
    margin-right: 0
}

.rcm-container .aem-hp-rcm-panel div a{
    color: #333;
    font-size: 26px;
    line-height: 26px
}

.rcm-container .aem-hp-rcm-container{
    border: 1px solid #ccc
}

.rcm-container .aem-hp-rcm-slides-container{
    background: #fff;
    border-bottom: 1px solid #ccc;
    height: 180px;
    overflow: hidden;
    position: relative
}

.rcm-container .aem-hp-rcm-slide{
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    background: 0 0 no-repeat #fff;
    cursor: pointer;
    left: 100%;
    position: absolute;
    top: 0
}

.rcm-container .aem-hp-rcm-slide.active{
    opacity: 1;
    filter: alpha(opacity=100);
    display: inline-block;
    left: 0
}

.rcm-container  .aem-hp-rcm-panel-container{
    display: inline;
    float: left;
    width: 400px;
    left: 340px;
    position: relative;
    margin-top: 10px
}

.rcm-container .aem-hp-rcm-panel{
    background: url('//file.kelleybluebookimages.com/kbb/images/enhancedhp/HP-RCM-TransparentBox.png') no-repeat 10px -10px transparent;
    height: 180px;
    padding: 20px 25px 15px 40px
}

.rcm-container .aem-hp-rcm-panel div a {
    color: #005cb0;
    font-family: 'Open Sans', sans-serif,Tahoma,Arial;
    font-weight: 700;
}

.rcm-container .aem-hp-rcm-panel p{
    color: #333;
    line-height: 18px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif,Tahoma,Arial;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
}

.rcm-container .aem-hp-rcm-panel span{
    color: #999;
    font-size: 11px;
    position: absolute;
    right: 35px;
}

.rcm-container .aem-hp-rcm-carousel-container{
    height: 70px;
    overflow: hidden
}

.rcm-container .aem-hp-rcm-carousel-next,
.rcm-container .aem-hp-rcm-carousel-prev {
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 30px;
    background: #fff;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,#fff 0,#eaeaea 100%);
    background: linear-gradient(to bottom,#fff 0,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFEAEAEA',GradientType=0);
    box-shadow: inset 2px 2px 0 #fff,inset -2px -2px 0 #fff;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 10
}

.rcm-container .aem-hp-rcm-carousel-next span,
.rcm-container .aem-hp-rcm-carousel-prev span {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 0 auto
}

.rcm-container .aem-hp-rcm-carousel-next{
    border-left: 1px solid #ccc;
    float: right
}

.rcm-container .aem-hp-rcm-carousel-next span{
    background: url('//file.kelleybluebookimages.com/kbb/images/enhancedhp/RCMArrowBlueRight.png') no-repeat 0 0 transparent;
    background-position: center
}

.rcm-container .aem-hp-rcm-carousel-prev span{
    background: url('//file.kelleybluebookimages.com/kbb/images/enhancedhp/RCMArrowBlueLeft.png') no-repeat 0 0 transparent;
    background-position: center
}

.no-touch .rcm-container .aem-hp-rcm-carousel-next:hover,
.no-touch .rcm-container .aem-hp-rcm-carousel-prev:hover{
    background: #346ab2;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#346ab2),color-stop(100%,#172f4f));
    background: -webkit-linear-gradient(top,#346ab2 0,#172f4f 100%);
    background: linear-gradient(to bottom,#346ab2 0,#172f4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF346AB2',endColorstr='#FF172F4F',GradientType=0)
}

.no-touch .rcm-container .aem-hp-rcm-carousel-next:hover span{
    background: url('//file.kelleybluebookimages.com/kbb/images/enhancedhp/RCMArrowWhiteRight.png') no-repeat 0 0 transparent;
    background-position: center
}

.no-touch .rcm-container .aem-hp-rcm-carousel-prev:hover span{
    background: url('//file.kelleybluebookimages.com/kbb/images/enhancedhp/RCMArrowWhiteLeft.png') no-repeat 0 0 transparent;
    background-position: center
}

.rcm-container .aem-hp-rcm-carousel{
    display: inline;
    float: left;
    width: 678px;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: -70px;
    margin-left: 30px;
}

.rcm-container .aem-hp-rcm-carousel ul{
    height: 100%
}

.ie8 .rcm-container .aem-hp-rcm-carousel li{
    height: 70px!important
}

.rcm-container .aem-hp-rcm-carousel li {
    display: inline;
    float: left;
    width: 226px;
    background: #fff;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,#fff 0,#eaeaea 100%);
    background: linear-gradient(to bottom,#fff 0,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFEAEAEA',GradientType=0);
    box-shadow: 0 -2px 12px #fff inset;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    list-style: none;
    margin-bottom: 0
}

.rcm-container .aem-hp-rcm-carousel li div{
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    border-left: 1px solid #ccc
}

.rcm-container .aem-hp-rcm-carousel li img{
    height: 40px;
    width: 60px;
    border: 1px solid #999
}

.rcm-container .aem-hp-rcm-carousel li span{
    color: #005cb0;
    display: table-cell;
    font-family: 'Open Sans', sans-serif,Tahoma,Arial;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding-left: 10px;
    vertical-align: middle
}

.rcm-container .aem-hp-rcm-carousel li span.thumbnail{
    height: 66px;
    width: 60px
}

.rcm-container .aem-hp-rcm-carousel li span.copy{
    height: 66px;
    width: 150px
}

.rcm-container .aem-hp-rcm-carousel li:hover{
    background: #f4f4f4;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(50%,#f4f4f4),color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top,#f4f4f4 0,#f4f4f4 50%,#e1e1e1 100%);
    background: linear-gradient(to bottom,#f4f4f4 0,#f4f4f4 50%,#e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF4F4F4',endColorstr='#FFE1E1E1',GradientType=0)
}

.rcm-container .aem-hp-rcm-carousel li:hover span{
    text-decoration: underline
}

.rcm-container .aem-hp-rcm-carousel li.active{
    background: #fff
}

.rcm-container .aem-hp-rcm-carousel li.active:hover span {
    text-decoration: none
}

.rcm-container .aem-hp-rcm-carousel li.active div {
    border-bottom: 4px solid #ff6804
}

.rcm-container .aem-hp-rcm-carousel li.active span{
    color: #333
}


.rcm-container .aem-rcm-gallery-container .rcm-gallery-module{
    visibility: visible;
    position: relative;
    z-index: 2;
    left: 0px;
    overflow: hidden;
    width: 634px;
}

.rcm-container .aem-rcm-gallery-container .rcm-gallery-module .rcm-item-list{
    margin: 0px;
    padding: 0px;
    position: relative;
    list-style-type: none;
    z-index: 1;
    width: 4438px;
    left: -1268px;
}

.rcm-container .aem-rcm-gallery-container .left{
    float: left
}

.rcm-container .aem-rcm-gallery-container .right {
    float: right
}

.rcm-container .aem-rcm-gallery-container .clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.rcm-container .aem-rcm-gallery-container .clearfix:before,
.rcm-container .aem-rcm-gallery-container .clearfix:after{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.rcm-container .aem-rcm-gallery-container .clearfix:after{
    clear: both
}

.rcm-container .aem-rcm-gallery-container .clearfix:after .clearfix{
    zoom:1
}

.rcm-container .aem-rcm-gallery-container hr {
    background: none repeat scroll 0 0 #ccc;
    border: medium none;
    clear: both;
    color: #ddd;
    float: none;
    height: 1px;
    margin: 15px 0;
    width: 100%
}

.rcm-container .aem-rcm-gallery-container h1,
.rcm-container .aem-rcm-gallery-container .title,
.rcm-container .aem-rcm-gallery-container .section-title,
.rcm-container .aem-rcm-gallery-container .section-subtitle,
.rcm-container .aem-rcm-gallery-container .mod-title,
.rcm-container .aem-rcm-gallery-container .content-title{
    color: #000;
    display: block;
    font-family: 'Open Sans', sans-serif,Tahoma,Arial;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 32px
}

.rcm-container .aem-rcm-gallery-container .content-title{
    color: #333;
    font-size: 26px;
    line-height: 26px
}

.rcm-container .aem-rcm-gallery-container .mod-title{
    color: #333;
    font-size: 22px;
    letter-spacing: .1px;
    line-height: 24px
}

.rcm-container .aem-rcm-gallery-container h1.inline{
    display: inline
}


.rcm-container .aem-rcm-gallery-container a,
.rcm-container .aem-rcm-gallery-container .link{
    color: #005cb0;
    text-decoration: none
}

.rcm-container .aem-rcm-gallery-container a:hover,
.rcm-container .aem-rcm-gallery-container .link:hover{
    text-decoration: underline
}

.rcm-container .aem-rcm-gallery-container .link{
    cursor: pointer
}

.rcm-container .aem-rcm-gallery-container .medium{
    font-size: 12px
}

.rcm-container .aem-rcm-gallery-container a.color-f{
    color: #005cb0
}

.rcm-container .aem-rcm-gallery-container .with-text{
    margin-bottom: 6px
}

.rcm-container .aem-rcm-gallery-container .with-text-top{
    margin-top: 6px
}

.rcm-container .aem-rcm-gallery-container .with-box{
    margin-bottom: 15px
}

.rcm-container .aem-rcm-gallery-container .with-box-top{
    margin-top: 15px
}

.rcm-container .aem-rcm-gallery-container .box-basic-a{
    margin-bottom: 30px
}

.rcm-container .aem-rcm-gallery-container ul {
    list-style: disc;
    margin-left: 15px
}

.rcm-container .aem-rcm-gallery-container ul li {
    margin-bottom: 5px
}

.rcm-container .aem-rcm-gallery-container .aem-car-review-image,
.rcm-container .aem-car-review-image img{
    width: 310px;
    height: 233px;
    margin: 0 15px 0 0
}

.rcm-container .aem-rcm-gallery-container .aem-car-review-story {
    width: 309px;
    height: 233px
}

.rcm-container .aem-rcm-gallery-container .aem-rotator-select{
    width: 310px;
    margin: 0 0 15px
}

.rcm-container .aem-rcm-gallery-container .aem-rotator-select .aem-rotator-nav{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 10px;
    background: #eaeaea;
    border-radius: 50%;
    border: 1px solid #999;
    cursor: pointer
}

.rcm-container .aem-rcm-gallery-container .ie .aem-rotator-select .aem-rotator-nav,
.rcm-container .aem-rcm-gallery-container .ie .aem-rotator-select .aem-rotator-nav.active{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px;
    background: url("//file.kelleybluebookimages.com/kbb/images/flexy-site-sprite12.png") no-repeat -476px -39px;
    border: 0;
    background-color: transparent
}

.rcm-container .aem-rcm-gallery-container .aem-rotator-select .aem-rotator-nav.active{
    background: #1ecefa;
    border: 1px solid #2499cf
}

.rcm-container .aem-rcm-gallery-container .ie .aem-rotator-select .aem-rotator-nav.active{
    background-position: -462px -39px
}

.rcm-container .aem-rcm-gallery-container .aem-rotating-content-module {
    width: 634px;
    overflow: hidden
}

.rcm-container .aem-rcm-gallery-container .align-left{
    text-align: left
}

.rcm-container .aem-rcm-gallery-container .align-center{
    text-align: center
}

.rcm-container .aem-rcm-gallery-container .align-right{
    text-align: right
}

