﻿@charset "utf-8";
*{ margin:0; padding:0;}
img{ border:none;}
em,i{ font-style:normal;}
ul,ol{ list-style:none;}
.clear{ clear:both;}
td{ padding:2px;}
input,textarea,select{ color:#222; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:1px;}
a{ color:#222; text-decoration:none;}
a:hover{ color:#e50022; text-decoration:underline;}
body{ color:#222; font-size:12px; line-height:21px; font-family:Arial,Helvetica,"宋体","微软雅黑","黑体",sans-serif; background:#fff url(http://img.51fashion.com.cn/images/nav-bg2.gif) no-repeat center 132px;}
wrapper{ width:1000px; overflow:hidden; margin:0 auto;}
.header{ position:relative; width:1000px; overflow:hidden; margin:0 auto;}
.header-t{ width:1000px; overflow:hidden; margin:0 auto 15px auto;}
.header-m{ width:1000px; overflow:hidden; margin:0 auto 20px auto;}
.ht{ float:left; width:100%; height:31px; line-height:31px; border-bottom:1px #d5d5d5 solid; overflow:hidden; margin-bottom:15px;}
.ht a,.ht a:hover{ margin:0 6px;}
.ht-l{ float:left; display:inline;}
.ht-l em{ margin:0 4px;}
.ht-r{ float:right; display:inline; color:#777;}
.logo{ float:left; height:70px; overflow:hidden;}
.nav{ float:right; width:712px; padding-left:4px; height:62px; color:#888; font-size:14px; font-weight:bold; font-family:"微软雅黑",serif; background:url(http://img.51fashion.com.cn/images/cssimg.png) no-repeat; overflow:hidden; margin-top:5px;}
.nav a{ display:block; color:#888;  font-family: 微软雅黑;  font-weight: bold;  font-size: 12px;}
.nav a:hover{ color:#e50022; text-decoration:none;}
/*.nav dl{ float:left; display:inline; height:34px; line-height:17px; overflow:hidden; border-right:1px #d2d2d2 solid; padding:0 10px 0 0; margin:11px 0 0 10px;}
.nav dl dt{ float:left; display:inline; overflow:hidden; margin:6px 6px 0 0;}
.nav dl dd{ float:left; display:inline; width:34px; text-align:center; overflow:hidden;}*/

.nav dl{float:left;display:inline;overflow:hidden;border-right:1px #d2d2d2 solid;padding: 0 10px 4px 0;margin: 2px 0 0 10px;width: 67px;}
.nav dl dt{float:left;display: block;overflow:hidden;margin: 4px 6px 0 0;width: 100%;text-align: center;}
.nav dl dd{float:left;display: block;text-align:center;overflow:hidden;width: 100%;font-weight: normal;font-size: 12px;height: 20px;line-height: 20px;}

.nav-dl1,.nav-dl2,.nav-dl7,.nav-dl8{ line-height:35px !important;}
.nav-dl2 a,.nav-dl4 a,.nav-dl6 a,.nav-dl8 a{ color:#888;}
.nav-dl1 a,.nav-dl2 a,.nav-dl3 a,.nav-dl4 a{color:#e50022; font-weight: bold;}

.nav-dl8{ border:0 !important;}
.nav2{ width:995px; padding-left:5px; height:47px; line-height:47px; color:#fff; font-size:14px; font-weight:bold; background:#eb203d; overflow:hidden; margin:0 auto;}
.nav2 a{ float:left; display:inline; color:#fff; background:url(http://img.51fashion.com.cn/images/nav2-a-bg.gif) no-repeat right center; padding:0 24px 0 13px;}
.nav2 a:hover{ color:#fff;}

.nav3{ width:995px; padding-left:5px; height:47px; line-height:47px; color:#fff; font-size:14px; font-weight:bold; background:#eb203d; overflow:hidden; margin:0 auto;}
.nav3 a{ float:left; display:inline; color:#fff; background:url(http://img.51fashion.com.cn/images/cssimg.png) no-repeat right -665px; padding:0 17px 0 15px;}
.nav3 a:hover{ color:#fff;}
.nav3 em{ float:right; display:inline; width:50px; height:38px; line-height:19px; font-size:12px; overflow:hidden; margin:5px 5px 0 0;}
.nav3 em a{ width:100%; height:19px; background:none; padding:0; margin:0; overflow:hidden;}

.search,.search3{ width:980px; padding:0 5px 0 15px; height:35px; line-height:33px; color:#fff; font-size:13px; background:#222; overflow:hidden; margin:0 auto;}
.search a,.search a:hover,.search3 a,.search3 a:hover{ color:#fff; margin:0 6px;}
.search b,.search3 b{ float:left; display:inline; font-size:14px; margin-left:35px;}
.search input,.search3 input{ float:left; display:inline; font-size:13px;}
.text-2{ width:260px; height:20px; line-height:20px; color:#777; border:0; padding:1px 5px; margin:5px;}
.search select,.search3 select{ float:left; display:inline; font-size:13px; margin:5px;}
.search-but{ cursor:pointer; width:64px; height:21px; line-height:21px; border:0; color:#e50022; font-weight:bold; font-size:14px; background:#fff url(http://img.51fashion.com.cn/images/cssimg.png) no-repeat 0 -75px; margin:5px;}
.search em,.search3 em{ float:left; display:inline; height:33px; line-height:33px; font-size:12px; overflow:hidden; margin-left:25px;}
.pho-border{ float:left; border:1px #ccc solid;}
.pho-border:hover{ border:1px #e50022 solid;}
.border{ display:block; border:1px #ccc solid;}
.border:hover{ border:1px #e50022 solid;}
.red{ color:#e50022; margin-right:10px;}
.red:hover{ color:#e50022;}
.h10{ width:100%; height:10px; overflow:hidden; clear:both;}

.link{ width:1000px; background:#333; color:#999; padding:20px 0; overflow:hidden; margin:0 auto; position:relative;}
.link a:hover{ color:#fff;}
.hdb{ position:absolute; bottom:20px; right:10px; width:18px; height:48px; background:url(http://img.51fashion.com.cn/images/top.gif) no-repeat; overflow:hidden; cursor:pointer;}
.hdb a{ display:block; width:50px; height:50px;}
.link-l{ float:left; display:inline; width:212px; height:156px; background:url(http://img.51fashion.com.cn/images/link-bg.gif) no-repeat; overflow:hidden; margin-left:15px;}
.link-l-dl{ padding:5px 15px; overflow:hidden;}
.link-l-dl dt{ width:100%; line-height:29px; text-align:center; font-size:14px; font-weight:bold; overflow:hidden;}
.link-l-dl dd{ width:162px; padding:8px 10px; background:#666; overflow:hidden;}
.link-l-dl dd a{ color:#999;}
.link-l-dl dd div{ width:100%; overflow:hidden; margin-top:5px;}





.xl,.tx{ float:left; display:inline; height:21px; line-height:21x; padding-left:21px; color:#999; margin:0 10px 0 0;}
.xl{background: url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2777px no-repeat;}
.tx{background: url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2829px no-repeat;}
.link-text{ float:left; width:124px; height:21px; line-height:21px; color:#999; border:1px #678087 solid; background:none;}
.link-but{ float:left; width:52px; height:25px; background:url(http://img.51fashion.com.cn/images/link-but.gif) no-repeat; border:0; cursor:pointer;}

.link-r{ float:left; display:inline; width:715px; height:156px; background:url(http://img.51fashion.com.cn/images/link-bg.gif) no-repeat right bottom; overflow:hidden; margin-left:15px;}
.link-r h3{ width:100%; height:32px; background:#333 url(http://img.51fashion.com.cn/images/link-bg.gif) no-repeat right 30px;}
.link-r h3 b{ float:left; display:inline; width:154px; height:30px; line-height:30px; text-align:center; font-size:14px; font-weight:normal; overflow:hidden; margin:0 10px; cursor:pointer;}
.link-b1{background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -1000px no-repeat;}
.link-b2{background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -950px no-repeat;}
.link-rm{ height:100px; padding:10px 0 10px 0;}
.link-ul{ width:100%; height:100px; overflow:hidden;}
.link-r a{ color:#999;}
.link-ul li{float:left;display:inline;width:142px;padding-left:12px;height:25px;line-height:25px;background: url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2861px no-repeat;overflow:hidden;margin:0 2px 0 18px;}
.link-ul li.l1{ width:110px}

.footer{ width:1000px; line-height:25px; text-align:center; padding:0 0 15px 0; background:#e5e5e5; overflow:hidden; margin:0 auto;}
.ft{ width:100%; padding:12px 0 5px 0; overflow:hidden;}
.ft2{ width:100%; background:#222; padding:5px 0; color:#fff; overflow:hidden; margin-bottom:12px;}
.ft2 a{ color:#fff!important;}
.ft a,.ft2 a{ margin:0 15px;}

.content,.h-f{ width:1000px; overflow:hidden; margin:0 auto;}
.left{ float:left; width:715px!important; overflow:hidden;}
.right{ float:right; width:270px; overflow:hidden;}

.banner{ width:1000px; overflow:hidden; margin:0 auto 20px auto;}
.banner img{ display:block; width:1000px; height:100px; margin:0 auto;}
.banner-ul1{ width:1000px; overflow:hidden; margin:0 auto 20px auto;}
.banner-ul1 li{ float:left; display:inline; width:240px; height:160px; text-align:center; overflow:hidden; margin:0 13px 0 0;}
.banner-ul1 li img{ width:240px; height:160px;}
.banner-ul2{ width:1000px; overflow:hidden; margin:0 auto 15px auto;}
.banner-ul2 li{ float:left; display:inline; width:240px; height:100px; text-align:center; padding-bottom:10px; background:url(http://img.51fashion.com.cn/images/bgbg.gif) no-repeat center bottom; overflow:hidden; margin-right:13px; position: relative;}
.banner-ul2 li img{ width:240px; height:100px;}
.banner a:hover img,.banner-ul1 a:hover img,.banner-ul2 a:hover img{ filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}

.margin-r0,#margin-r0{ margin-right:0!important;}

.h-ul1{ width:110%; overflow:hidden; margin-bottom:10px;}
.h-ul1 .border{ border:0; display:inline;}
.h-ul1 li{ float:left; display:inline; width:170px; height:110px; padding-bottom:10px; background:url(http://img.51fashion.com.cn/images/bgbg.gif) no-repeat center bottom; overflow:hidden; margin:0 11px 4px 0;  position: relative;}
.h-ul1 li img{ display:block; width:170px; height:110px;}
.h-l1{ float:left; width:242px; border:4px #eee solid; overflow:hidden; margin-bottom:20px;}
.h-l1m{ width:220px; padding:10px; border:1px #d5d5d5 solid; overflow:hidden;}
.h-l1m h3{ width:100%; height:29px; text-align:center; font-size:18px; background:url(http://img.51fashion.com.cn/images/x-bg62.gif) repeat-x left bottom; overflow:hidden; padding-bottom:10px; margin-bottom:10px;}
.h-ul2{ width:100%; overflow:hidden;}
.h-ul2 li{ float:left; width:100%; line-height:27px; height:27px; text-indent:11px; background:url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2638px no-repeat; overflow:hidden;}
.h-ul3{ float:right; width:450px; overflow:hidden;}
.h-ul3 li{ float:left; width:100%; background:url(http://img.51fashion.com.cn/images/bg-ccc.gif) repeat-x left bottom; overflow:hidden; padding-bottom:8px; margin-bottom:8px;}
.h-ul3 li b{ display:block; width:100%; line-height:25px; height:25px; font-size:14px; color:#e50022; overflow:hidden; margin-bottom:2px;}
.h-ul3 li b a{ color:#e50022;}
.h-ul3 li em{ display:block; width:100%; height:42px; color:#777; overflow:hidden;}

.h-ul3 li em a,.h-dl1 dt em a,.h-dl1 dd em a{ color:#777;}
.h-ul3 li em a:hover,.h-dl1 dt em a:hover,.h-dl1 dd em a:hover{ color:#e50022; text-decoration:none;}

.h-dl5{ width:100%; overflow:hidden;}
.h-dl5 dt,.h-dl5 dd{ width:100%; height:27px; line-height:27px; text-indent:11px; background:url(http://img.51fashion.com.cn/images/jt42.gif) no-repeat 0 12px; overflow:hidden;}
.h-dl5 dd{ border-bottom:1px #aaa dotted; padding-bottom:5px; margin-bottom:5px;}

.h-ul4{ float:right; width:450px; overflow:hidden; margin-bottom:20px;}
.h-ul4 li{ float:left; display:inline; width:142px; border-top:5px #e50022 solid; overflow:hidden; padding-bottom:8px; margin:8px 4px 0 4px;}
.h-ul4 li .border,.h-ul4 li .border:hover{ border-top:0;}
.h-ul4 li img{ display:block; width:140px; height:140px;}
.h-ul4 li b{ display:block; width:100%; height:42px; font-weight:normal; overflow:hidden; margin-top:5px;}
.h-r1{ width:270px; background:url(http://img.51fashion.com.cn/images/r-270-bg1.gif) no-repeat; overflow:hidden; margin-bottom:20px;}
.h-r1 h3{ width:230px; height:27px; line-height:27px; text-align:center; background:#fff; border-bottom:1px #111 solid; overflow:hidden; padding:8px 0 4px 0; margin:0 auto 12px auto;}
.h-r1m{ padding:0 18px 15px 18px; background:url(http://img.51fashion.com.cn/images/r-270-bg1.gif) no-repeat left bottom; overflow:hidden;}
.h-dl1{ width:232px; overflow:hidden; margin:0 auto;}
.h-dl1 dt{ width:100%; overflow:hidden; margin-bottom:10px;}
.h-dl1 dt .border{ width:220px; margin:0 auto;}
.h-dl1 dt img{ display:block; width:220px; height:100px;}
.h-dl1 dt b{ display:block; width:100%; height:25px; line-height:25px; text-align:center; overflow:hidden; padding-top:5px; margin-bottom:5px;}
.h-dl1 dt em{ display:block; width:100%; height:63px; color:#777; overflow:hidden;}
.h-dl1 dd{ width:100%; overflow:hidden; margin-bottom:10px;}
.h-dl1 dd img{ float:left; width:60px; height:60px;}
.h-dl1 dd b{ float:right; width:160px; height:21px; overflow:hidden;}
.h-dl1 dd em{ float:right; width:160px; height:42px; color:#777; overflow:hidden;}

.h-news{ width:230px; overflow:hidden; padding:5px 0; margin:0 auto;}
.h-news li{ float:left; width:100%; overflow:hidden;}
.h-news-1{ height:27px; line-height:27px; border-bottom:1px #ddd solid;}
.h-news-1 strong{ float:left; display:inline; width:18px; height:27px; text-align:center; color:#e50022; font-weight:normal; overflow:hidden; margin-right:5px;}
.h-news-1 .pho-border{ display:none;}
.h-news-1 b{ float:left; width:205px; height:27px; font-weight:normal;}
.h-news-1 em{ float:left; display:none;}
.h-news-2{ height:110px; position:relative;}
.h-news-2 strong{ position:absolute; top:0; left:0; background:#e50022; color:#fff; font-size:21px; padding:2px 6px; z-index:56;}
.h-news-2 .pho-border{ width:100px; height:100px;}
.h-news-2 img{ float:left; width:100px; height:100px;}
.h-news-2 b{ float:left; display:inline; width:115px; height:42px; overflow:hidden; margin-left:10px;}
.h-news-2 em{ float:left; display:inline; width:115px; height:63px; color:#777; overflow:hidden; margin-left:10px;}

.h-r2{ width:270px; background:url(http://img.51fashion.com.cn/images/r-270-bg4.gif) no-repeat; overflow:hidden; margin-bottom:20px;}
.h-r2 h3{ width:230px; height:27px; line-height:27px; text-align:center; border-bottom:1px #111 solid; overflow:hidden; padding:8px 0 4px 0; margin:0 auto 12px auto;}
.h-r2m{ padding:0 18px 15px 18px; background:url(http://img.51fashion.com.cn/images/r-270-bg4.gif) no-repeat left bottom; overflow:hidden;}
.h-ul5{ width:100%; overflow:hidden;}
.h-ul5 li{ float:left; width:100%; line-height:25px; height:25px; overflow:hidden;}
.h-login-w{ border:3px #e5e5e5 solid; overflow:hidden; margin-bottom:20px;}
.h-login-w h3{ width:100%; height:27px; padding:5px 0; text-align:center; background:url(http://img.51fashion.com.cn/images/h-xy-bg.gif) repeat; overflow:hidden; margin-bottom:10px;}
.h-login-ul{ width:100%; overflow:hidden; padding-bottom:8px; position:relative;}
.h-login-ul li{ float:left; width:100%; padding:5px 0; line-height:25px; overflow:hidden;}
.h-login-ul li b{ float:left; display:inline; width:60px; font-size:14px; font-weight:normal; text-align:right; margin-left:5px;}
.h-login-ul li input{ margin:0 2px;}
.h-text{ float:left; display:inline; width:110px; height:21px; line-height:21px; border:1px #ccc solid; font-size:13px;}
.h-but{position:absolute;top:5px;right:10px;width:59px;height:59px;line-height:59px;border:0;padding:0;font-size:21px;font-weight:bold;color:#fff!important;text-align:center;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0 0px no-repeat;overflow:hidden;margin:0 2px;cursor:pointer;}
.h-login-ul li .red{ margin-right:2px;}
.h-f1,.h-f2{ width:1000px; overflow:hidden; margin-bottom:20px;}
.h-f1 h3,.h-f2 h3{ width:100%; height:39px; line-height:39px; padding-bottom:8px; font-size:12px; font-weight:normal; background:url(http://img.51fashion.com.cn/images/h-title-bg.gif) no-repeat; overflow:hidden; margin-bottom:12px;}
.h-f1 h3 b,.h-f2 h3 b{ float:left; display:inline; margin-right:20px;}
.h-f1 h3 em,.h-f2 h3 em{ float:right; display:inline; margin:2px 5px 0 0;}

.h-h3-ul1{ float:left; overflow:hidden; margin-top:11px; padding-left:15px;}
.h-h3-ul1 li{ float:left; display:inline; width:78px; height:21px; line-height:21px; text-align:center;  overflow:hidden; margin-left:-15px;}
.h-h3-ul1 li a{ display:block;}
.h-li1{ background:url(http://img.51fashion.com.cn/images/h-jt1.gif) no-repeat right 3px;}
.h-li2 a{ color:#fff; background:url(http://img.51fashion.com.cn/images/h-title-a-bg2.gif) no-repeat center;}
.h-li2 a:hover{ color:#fff; text-decoration:none;}

.h-h3-ul2{ float:left; overflow:hidden; margin-top:11px; }
.h-h3-ul2 a{ float:left; display:inline; width:80px; height:21px; line-height:21px; text-align:center; background:url(http://img.51fashion.com.cn/images/h-jt1.gif) no-repeat right 3px; overflow:hidden; margin-left:-15px;}
.h-h3-ul2 a:hover,.h-h3-ul2 a.cur{ color:#fff; text-decoration:none; background:url(http://img.51fashion.com.cn/images/h-title-a-bg2.gif) no-repeat center;}


.h-h3-ul3{ float:left; overflow:hidden; margin-top:11px; padding-left:15px;}
.h-h3-ul3 a{ float:left; display:inline; width:100px; height:21px; line-height:21px; text-align:center; background:url(http://img.51fashion.com.cn/images/h-jt1.gif) no-repeat right 3px; overflow:hidden; margin-left:-15px;}
.h-h3-ul3 a:hover{ color:#fff; text-decoration:none; background:url(http://img.51fashion.com.cn/images/h-title-a-bg3.gif) no-repeat center;}

.h-f1m,.h-f2m{ width:100%; overflow:hidden;}
.h-ul6{ float:left; width:122px; overflow:hidden; margin-top:10px;}
.h-ul6 li{ float:left; width:122px; height:172px; text-align:center; overflow:hidden;}
.h-ul6 li img{ display:block; width:120px; height:120px;}
.h-ul6 li b{ display:block; width:120px; height:42px; font-weight:normal; overflow:hidden; margin-top:5px;}
.h-ul7{ float:right; width:580px; overflow:hidden; margin-top:5px;}
.h-ul7 li{ float:left; display:inline; width:270px; height:33px; line-height:33px; text-indent:5px; background:url(http://img.51fashion.com.cn/images/bg-aaa.gif) repeat-x 0 32px; overflow:hidden; margin:0 10px;}
.h-r3{ border:1px #ccc solid; padding:2px; overflow:hidden; margin-bottom:20px;}
.h-r3m{ padding:10px 15px 15px 15px; background:#f2f2f2; overflow:hidden;}
.h-r3 h3{ width:100%; height:27px; text-align:center; padding:5px 0; border-bottom:1px #ccc solid; overflow:hidden; margin:0 auto 10px auto;}
.h-dl2{ width:100%; overflow:hidden;}
.h-dl2 dt{ width:100%; overflow:hidden;}
.h-dl2 dt b{ display:block; width:100%; line-height:27px; height:27px; text-indent:11px; background:url(http://img.51fashion.com.cn/images/jt2.gif) no-repeat 0 12px; overflow:hidden;}
.h-dl2 dt em{ display:block; width:100%; height:63px; color:#777; background:#f2f2f2; overflow:hidden;}
.h-dl2 dd{ width:100%; line-height:27px; height:27px; text-indent:11px; border-bottom:1px #ccc dotted; background:url(http://img.51fashion.com.cn/images/jt2.gif) no-repeat 0 12px; overflow:hidden;}

.h-f1{ width:100%; overflow:hidden;}
.h-ul8{ float:left; width:715px; overflow:hidden; border-bottom:1px #d5d5d5 solid; padding-bottom:25px; margin-bottom:25px;}
.h-ul16{ float:left; width:715px; overflow:hidden;}
.h-ul8 li,.h-ul16 li{ float:left; display:inline; width:162px; border-right:1px #ccc solid; overflow:hidden; padding-right:8px; margin-left:8px; margin-top:8px;}
.h-ul8 li .border,.h-ul16 li .border{ border-top:0!important;}
.h-ul8 li img,.h-ul16 li img{ display:block; width:160px; height:160px; border-top:6px #e50022 solid;}
.h-ul8 li b,.h-ul16 li b{ display:block; width:100%; height:42px; overflow:hidden; margin:15px 0 10px 0;}
.h-ul8 li em,.h-ul16 li em{ display:block; width:100%; height:63px; color:#777; overflow:hidden;}
.h-ul8 li em{ height:84px;}
.h-ul9{ float:left; display:inline; width:350px; overflow:hidden;}
.h-ul9 li{ float:left; width:100%; overflow:hidden; padding-bottom:8px; margin-top:8px;}
.h-ul9 li img{ float:left; width:120px; height:120px;}
.h-ul9 li b{ float:right; width:210px; height:42px; border-bottom:1px #aaa dotted; padding-bottom:5px; overflow:hidden; margin-bottom:10px;}
.h-ul9 li em{ float:right; width:210px; height:63px; color:#777; overflow:hidden;}
.h-ul10{ float:right; width:310px; padding:15px; background:url(http://img.51fashion.com.cn/images/xy-bg11.gif) repeat; overflow:hidden;}
.h-ul10 li{width:100%;line-height:29px;height:29px;text-indent:11px;border-bottom:1px #ddd solid;background: url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2309px no-repeat;overflow:hidden;}
.h-ul17{ float:right; width:240px; padding:15px; background:#222; overflow:hidden; margin-top:5px;}
.h-ul17 li{width:100%;line-height:29px;height:29px;color:#999;text-indent:11px;border-bottom:1px #353535 solid;background: url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2308px no-repeat;overflow:hidden;}
.h-ul17 li a{ color:#999;}
.h-ul17 li a:hover{ color:#fff;}
.h-r-gg{ width:270px; padding-top:3px; overflow:hidden;}
.h-r-gg li{ float:left; width:270px; height:95px; padding-bottom:10px; background:url(http://img.51fashion.com.cn/images/bgbg.gif) no-repeat center bottom; overflow:hidden; margin-top:3px;  position: relative;}
.h-r-gg li.hh{ height:305px}
.h-r-gg li img{ display:block; width:270px; height:95px;}
.h-r-gg li.hh img{ height:305px}
.h-r-gg a:hover img{ filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}
.h-ul11{ width:100%; overflow:hidden; margin-bottom:10px;}
.h-ul11 li{ float:left; display:inline; width:336px; overflow:hidden; padding-bottom:10px; margin:10px 10px 0 10px;}
.h-ul11 li img{ float:left; width:120px; height:120px;}
.h-ul11 li b{ float:right; width:200px; height:42px; overflow:hidden; margin-bottom:5px;}
.h-ul11 li em{ float:right; width:200px; height:63px; color:#777; overflow:hidden;}
.h-ul12{ width:100%; overflow:hidden;}
.h-ul12 li{ float:left; display:inline; width:336px; height:29px; line-height:29px; border-bottom:1px #d5d5d5 solid; text-indent:11px; background:url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2638px no-repeat; overflow:hidden; margin:0 10px;}

.h-r4{ width:270px; background:url(http://img.51fashion.com.cn/images/r-270-bg3.gif) no-repeat; overflow:hidden; margin-bottom:20px;}
.h-r4 h3{ width:230px; height:27px; line-height:27px; padding:15px 0; text-align:center; background:#fff url(http://img.51fashion.com.cn/images/x-bg62.gif) no-repeat left bottom; overflow:hidden; margin:0 auto 12px auto;}
.h-r4m{ padding:0 18px 15px 18px; overflow:hidden; background:url(http://img.51fashion.com.cn/images/r-270-bg3.gif) no-repeat left bottom;}
.h-ul14{ width:100%; overflow:hidden;}
.h-ul14 li{ float:left; display:inline; width:112px; text-align:center;overflow:hidden;padding-bottom:8px;margin:8px 2px 0 3px;}
.h-ul14 li img{ display:block; width:110px; height:110px;}
.h-ul14 li b{ display:block; width:100%; height:42px; font-weight:normal; overflow:hidden; margin-top:8px;}
.h-ul13{ float:left; width:715px; overflow:hidden;}
.h-ul13 li{ float:left; display:inline; width:335px; overflow:hidden; padding-bottom:5px; margin:12px 10px 0 10px;}
.h-ul13 li img{ float:left; width:100px; height:100px;}
.h-ul13 li b{float:right;width:215px;height:42px;overflow:hidden;border-bottom:1px #d5d5d5 solid;padding-bottom: 3px;margin-bottom:5px;}
.h-ul13 li .pho-border{ margin-top:5px;}
.h-ul13 li em{ float:right; width:215px; height:63px; color:#777; overflow:hidden;}
.h-ul15{ float:right; width:230px; padding:13px 20px; background:#e6e6e6; overflow:hidden; margin-top:8px;}
.h-ul15 li{ float:left; width:100%; height:29px; line-height:29px; border-bottom:1px #ccc solid; text-indent:11px; background:url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2638px no-repeat; overflow:hidden;}
.h-l2{ float:left; display:inline; width:340px; overflow:hidden; margin:0 5px;}
.h-l2 h4{ width:90px; height:23px; line-height:23px; font-size:14px; font-weight:normal; text-align:center; color:#fff; background:#111; overflow:hidden; margin:10px 0 15px 0;}
.h-l2 h4 a{ color:#fff;}
.h-dl3{ width:100%; overflow:hidden;}
.h-dl3 dt{ width:100%; overflow:hidden; margin-bottom:12px;}
.h-dl3 dt img{ float:left; width:60px; height:60px;}
.h-dl3 dt b{ float:right; width:77%; height:21px; overflow:hidden;}
.h-dl3 dt em{ float:right; width:77%; height:42px; color:#777; overflow:hidden;}
.h-dl3 dd{ width:100%; height:29px; line-height:29px; border-bottom:1px #d5d5d5 solid; text-indent:11px; background:url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2638px no-repeat; overflow:hidden;}
.h-r5{ width:100%; overflow:hidden; margin-bottom:20px;}
.h-r5 h3{ width:100%; height:30px; text-align:center; overflow:hidden; margin:5px 0;}
.h-r5m{ padding:8px; background:url(http://img.51fashion.com.cn/images/nav-bg1.gif) repeat; overflow:hidden;}
.h-r5m ul{ padding:12px; background:#fff; overflow:hidden;}
.h-r5m ul li{ width:100%; height:29px; line-height:29px; border-bottom:1px #d5d5d5 solid; text-indent:11px; background:url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2638px no-repeat; overflow:hidden;}

.h-dl4{ width:100%; height:442px; overflow:hidden; padding:10px 0;}
.h-dl4 a:hover img{ filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}
.h-dl4 dt{ float:left;}
.h-dl4 dt img{ float:left; display:inline; width:295px; height:440px; margin:0 0 1px 1px;}
.h-dl4 dd{ float:left; width:704px; overflow:hidden;}
.h-dl4 dd img{ float:left; display:inline; width:175px; height:220px; margin:0 0 1px 1px;}

.h-photo{ width:100%; overflow:hidden;}
/* */
.h-ol{ width:996px; overflow:hidden; padding:10px 0 10px 1px; margin:0 auto;}
.h-ol li{ float:left; display:inline; width:200px; height:200px; position:relative; margin-left:-1px; margin-top:-1px;}
.h-ol li img{ display:block; width:198px; height:198px; border:1px #d5d5d5 solid;}
.h-ol li b{ position:absolute; left:0; bottom:0; width:96%; padding:5px 2%; font-weight:normal; background:#000; filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75; display:none;}
.h-ol li b a,.h-ol li b a:hover{ color:#fff;}
.ol-gray b{ display:block!important;}
.ol-first b{ display:none;}
.ol-gray img{ filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}

.h-f3{ border:1px #ccc solid; overflow:hidden; margin-bottom:20px;}
.h-f3 h3{ width:100%; height:29px; line-height:29px; font-size:12px; font-weight:normal; background:url(http://img.51fashion.com.cn/images/x-bg1.gif) repeat-x left bottom; padding-bottom:8px; overflow:hidden; margin-bottom:12px;}
.h-f3 h3 b{ float:left;}
.h-f3 h3 img{ float:left;}
.h-f3 h3 em{ float:right; display:inline; margin-right:5px;}
.h-f3m{ line-height:25px; padding:0 20px 20px 20px; overflow:hidden;}
.h-f3m ul{ width:100%; overflow:hidden; margin:0 auto;}
.h-f3m ul li{ float:left; width:100%; border-bottom:1px #ccc dotted; overflow:hidden; padding:8px 0;}
.h-f3m ul li b{ float:left; display:inline; width:80px; font-size:14px; overflow:hidden; margin-left:3px;}
.h-f3m ul li b a{ color:#222;}
.h-f3m ul li a:hover{ color:#e50022;}
.h-f3m ul li em{ float:right; width:870px; overflow:hidden;}
.h-f3m ul li em a{ color:#555; margin-right:15px;}

.h-pp-ul{ width:100%; padding-top:3px; overflow:hidden;}
.h-pp-ul li{ float:left; display:inline; width:160px; text-align:center; padding-bottom:10px; background:url(http://img.51fashion.com.cn/images/bgbg.gif) no-repeat center bottom; margin:5px 8px 0 0; overflow:hidden; position:relative;}
.h-pp-ul li a{ color:#fff!important;}
.h-pp-ul li .pho-border{ float:none; display:block;}
.h-pp-ul li img{ display:block; width:160px; height:100px;}
.h-pp-ul li b{ width:96%; padding:3px 2%; line-height:21px; color:#fff; font-weight:normal; overflow:hidden; background:#000; position:absolute; bottom:10px; left:0; filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75; z-index:99; display:none;}
.over0 b{ display:block!important;}
.over0 img{ filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}

/* */
#zb_scroll01{ width:715px; height:200px; overflow:hidden; margin-top:10px; position:relative;}
#zb_scroll01 .scroll-show{ position:relative;width:648px; height:200px; overflow:hidden; margin:0 auto;}
#zb_scroll01 .scroll-show .parts{ position:absolute; width:4000px;}
#zb_scroll01 .scroll-show .part{ float:left; width:152px; padding-right:8px;}
#zb_scroll01 .scroll-show .part .pic{
/*非IE的主流浏览器识别的垂直居中的方法*/
display:table-cell;
vertical-align:middle;
/*设置水平居中*/
text-align:center;
/* 针对IE的Hack */
*display:block;
*font-size:134px;/*约为高度的0.9，150*0.9 约为*/
*font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
width:150px;
height:150px;
overflow:hidden;
border:1px solid #d5d5d5;}
#zb_scroll01 .scroll-show .part .pic a img{ max-width:150px; max-height:150px; vertical-align:middle;}
#zb_scroll01 .scroll-show .part .pic a:hover img{ filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}
#zb_scroll01 .scroll-show .part h4{ width:100%; height:42px; line-height:21px; text-align:center; font-size:12px; font-weight: normal; overflow:hidden; margin-top:5px;}
#zb_scroll01 .scroll-show .part p{ line-height:21px;color:#777;}
#zb_scroll01 .btns a{ width:20px; height:118px; display: block; position: absolute; overflow:hidden;}
#zb_scroll01 .btns a.up{top:20px;left: 5px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -250px no-repeat;cursor:pointer;}
#zb_scroll01 .btns a.down{top:20px;right:5px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) -20px -250px no-repeat;cursor:pointer;}
/* 回到网页顶部 */
#to-top{ position:absolute; right:2px; height:30px; width:30px; display:none}
#to-top a{ display:block; width:30px; height:30px; background:#000 url(http://img.51fashion.com.cn/images/to-top.gif) no-repeat center; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
#to-top a:hover{ filter:alpha(opacity=100); -moz-opacity:1; opacity:1;}

 


.link-b{ width:942px; line-height:25px; color:#999; background:url(http://img.51fashion.com.cn/images/link-b-bg.gif) no-repeat; overflow:hidden; margin:6px 0 0 15px;}
.link-bb{ width:100%; height:5px; background:url(http://img.51fashion.com.cn/images/link-b-bg.gif) no-repeat left bottom; overflow:hidden;}
.link-b a{ color:#999;}
.link-dl1{ padding:15px 20px; overflow:hidden;}
.link-dl1 dt{ width:100%; text-align:center; overflow:hidden; margin-bottom:20px;}
.link-dl1 dt a{ color:#ddd; margin:0 15px;}
.link-dl1 dd{ width:100%; overflow:hidden;}
.link-dl1 dd a{ margin-right:15px;}
.link-dl1 dd b{ float:left; width:45px; font-size:14px; color:#ddd; font-weight:normal;}
.link-dl1 dd em{ float:left; width:854px;}



.footer ul{ width:100%; text-align:left; overflow:hidden; border-bottom:1px #bbb dashed; padding-bottom:10px; margin-bottom:12px;}
.footer ul li{ float:left; display:inline; width:190px; height:27px; line-height:27px; overflow:hidden; margin-left:10px;}


.h-h1b-bao{width:300px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -592px no-repeat;}
.h-h1b-wb{width:229px;height:28px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -549px no-repeat;display:block;}
.h-h1b-zb{width:196px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -492px no-repeat;display:block;}
.h-h1b-sp{width:294px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -441px no-repeat;display:block;}
.h-h1b-zpj{width:348px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -641px no-repeat;display:block;}
.h-h1b-jmxt{width:132px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -690px no-repeat;display:block;}
.h-h1b-dsxy{width:229px;height:30px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -751px no-repeat;display:block;}
.h-h1b-tjpp{width:188px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -891px no-repeat;display:block;}
.h-h1b-zmpp{width:210px;height:29px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -849px no-repeat;display:block;}
.h-h1b-rdtp{width:197px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -792px no-repeat;display:block;}
.h-h1b-jpzs{width:104px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -191px no-repeat;display:block;}
.h-h1b-tjqy{width:171px;height:25px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -399px no-repeat;display:block;}
.h-h1b-ppdt{width:230px;height:25px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 72px -1051px no-repeat;display:block;}
.h-h1b-gqsj{width:114px;height:39px;font-size:0;text-indent:-500px;background: url(http://img.51fashion.com.cn/images/index-cssimg.png) 0px -141px no-repeat;display:block;}

.h-jj-b1{ width:300px; height:39px; font-size:0; text-indent:-500px; background:url(http://img.51fashion.com.cn/images/h-jj-icon.gif) no-repeat 0 0;}
.h-jj-ul1{ width:100%; overflow:hidden; margin-bottom:12px;}
.h-jj-ul1 li{ float:left; display:inline; width:210px; text-align:center; overflow:hidden; padding-left:15px; margin:10px 13px 0 0; position:relative;}
.h-jj-ul1 li img{ width:210px; height:210px;}
.h-jj-ul1 li b{ width:200px; padding:3px 5px; line-height:21px; color:#fff; font-weight:normal; overflow:hidden; position:absolute; bottom:0; right:0; background:#000; filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75; z-index:99; display:none;}
.h-jj-ul1 li b a{ color:#fff!important;}

.h-jj-dl1{ float:left; display:inline; width:330px; overflow:hidden; margin:15px 10px 0 15px;}
.h-jj-dl1 dt{ width:100%; line-height:25px; overflow:hidden; border-bottom:1px #111 solid; margin-bottom:10px;}
.h-jj-dl1 dt b{ float:left; background:#e50022; padding:0 6px; color:#fff; font-weight:normal; font-size:14px;}
.h-jj-dl1 dt b a{ color:#fff;}
.h-jj-dl1 dt b a:hover{ color:#fff; text-decoration:none;}
.h-jj-dl1 dt em{ float:right;}
.h-jj-dl1 dd{width:100%;height:29px;line-height:29px;text-indent:12px;background: url(http://img.51fashion.com.cn/images/cssimg.png) 0 -747px no-repeat;border-bottom:1px #ccc dashed;overflow:hidden;}

.h-jj-r{ width:100%; overflow:hidden; margin-top:10px;}
.h-jj-r h3{ line-height:29px; height:29px; padding-bottom:5px; background:url(http://img.51fashion.com.cn/images/xy-bg12.gif) repeat-x 0 30px;}
.h-jj-r h3 b{ height:29px; width:100px; text-indent:-500px; margin:0;}
.h-jj-r h3 b a{ display:block; height:29px;}
.h-jj-r-b1{ background:url(http://img.51fashion.com.cn/images/h-jj-icon.gif) no-repeat 0 -42px;}
.h-jj-r-b2{ background:url(http://img.51fashion.com.cn/images/h-jj-icon.gif) no-repeat 0 -77px;}

.h-jj-ul2{ width:100%; overflow:hidden; margin-bottom:8px;}
.h-jj-ul2 li{ float:left; display:inline; width:80px; overflow:hidden; margin:4px 4px 2px 4px;}
.h-jj-ul2 li img{ display:block; width:80px; height:80px;}
.active2{ border:1px #e50022 solid;}
.normal2{ border:1px #ddd solid;}
.h-jj-ul3{ height:88px; padding:9px 15px; border:4px #eee solid; overflow:hidden;}
.h-jj-ul3 li{ float:left; width:100%; height:88px; overflow:hidden;}
.h-jj-ul3 li b a{ color:#e50022;}
.h-jj-ul3 li b{ float:left; width:100%; height:23px; line-height:23px; overflow:hidden; margin-bottom:2px;}
.h-jj-ul3 li p{ float:left; width:100%; height:63px; color:#888; overflow:hidden;}

.h-jj-ul4{ width:100%; overflow:hidden;}
.h-jj-ul4 li{ float:left; width:100%; overflow:hidden; margin-top:5px; padding-bottom:5px;}
.h-jj-ul4 li img{ float:left; width:65px; height:65px;}
.h-jj-ul4 li b{ float:right; width:190px; height:23px; line-height:23px; overflow:hidden;}
.h-jj-ul4 li p{ float:right; width:190px; height:42px; color:#888; overflow:hidden;}

.GO_A span{ display:block; color:#fff000; background:url(http://img.51fashion.com.cn/images/cssimg.png) 0 -705px no-repeat; padding-left:30px;}


.ul_51{ width:100%; line-height:21px; font-size:12px; list-style:none; overflow:hidden; margin:0 auto;}
.ul_51 li{ float:left; width:100%; overflow:hidden;}
.ul_51 li em{ float:left; width:82px; height:67px; text-align:center; overflow:hidden; padding:1px 10px 2px 2px;}
.ul_51 li em a{
display:table-cell;
vertical-align:middle;
text-align:center;
*display:block;
*font-size:58px;/*约为高度的0.9*/
*font-family:Arial;
width:80px;
height:65px;
overflow:hidden;
border:1px solid #ddd;}
.ul_51 li em a:hover{ border:1px #e50022 solid;}
.ul_51 li em img{ max-width:80px; max-height:65px; vertical-align:middle;}
.ul_51 li h4{float:left;width:100%;height:27px;line-height:27px;text-indent:11px;font-weight:normal;font-size:12px;background: url(http://img.51fashion.com.cn/images/cssimg.png) 0 -2739px no-repeat;overflow:hidden;}
.ul_51 li p{ float:left; width:59%; height:63px; color:#777; font-style:normal; overflow:hidden;}
.ul_51_li1{ border-bottom:1px #ddd solid;}
.ul_51_li2{ background:#fff;}
.ul_51 .ul_51_li1 em,.ul_51 .ul_51_li1 p{ display:none;}
.ul_51 .ul_51_li2 h4{ font-weight:bold;}





/* 2014-4-8 */
.h_ul_l1{ float:left; display:inline; width:520px; height:15px; line-height:15px; overflow:hidden; margin:13px 0 0 10px;}
.h_ul_l1 li{ float:left; display:inline; height:15px; text-align:center; margin-right:1px;}
.h_ul_l1 li a{ display:block; padding:0 11px;}
.h_ul_li1 a{ border-right:1px #bbb solid;}
.h_ul_li2,.h_ul_l1 li a:hover{ background:#e50022; color:#fff; text-decoration:none;}
.h_ul_li2 a{ color:#fff;}
.h_h3_r1{ float:right; overflow:hidden; margin-top:7px;}
.h_h3_r1_text{ float:left; width:110px; height:23px; line-height:23px; border:1px #ddd solid; background:#fff; color:#777777;}
.h_h3_r1_but{ float:left; height:27px; width:62px; line-height:25px; text-align:center; background:#e50022; color:#fff; font-size:16px; font-weight:bold; font-family:"微软雅黑",sans-serif; border:0; cursor:pointer;}
.h_div4_8{ width:100%; overflow:hidden;}
.h_div4_8 b{ float:left; display:inline; width:25px; line-height:45px; text-align:center; font-size:24px; font-family:"微软雅黑",sans-serif; font-weight:normal; overflow:hidden; margin:90px 0 0 15px;}
.h_ul4_8{ float:right; width:650px; overflow:hidden;}
.h_ul4_8 li{ float:left; display:inline; width:132px; text-align:center; overflow:hidden; margin:10px 10px 0 18px;}
.h_ul4_8 li span{
display:table-cell;
vertical-align:middle;
text-align:center;
*display:block;
*font-size:90px;/*约为高度的0.9*/
*font-family:Arial;
width:132px;
height:100px;
overflow:hidden;}
.h_ul4_8 li span img{ max-width:132px; max-height:100px; vertical-align:middle;}
.h_ul4_8 li h4{ width:100%; line-height:23px; padding:2px 0; font-size:12px; font-weight:normal;}
.h_ul4_8 li h4 a{ margin:0 5px;}

.h_djch{ width:100%; background:url(http://img.51fashion.com.cn/images/r-270-bg2.gif) no-repeat 0 15px; border-bottom:1px #111 solid; overflow:hidden;}
.h_djch h3{ width:100%; height:31px; overflow:hidden; margin-bottom:10px;}
.h_djch h3 b{display:block;width:200px;height:31px;font-size:0;text-indent:-500px;background: #fff url(http://img.51fashion.com.cn/images/index-cssimg.png) 43px -100px no-repeat;margin:0 auto;}
.h_djch_ul{ width:176px; overflow:hidden; margin:0 auto;}
.h_djch_ul li{ float:left; width:100%; overflow:hidden; margin-bottom:10px; text-align:center}
.h_djch_ul li img{ width:230px; height:110px;}
.h_djch_ul li h4{ width:100%;height:25px;line-height:25px;text-align:center;font-size:12px;font-weight:normal;overflow:hidden;}

.ggTips{width: 24px; height: 14px; position: absolute; right: 0px; top: 0px; z-index: 2;  padding: 0px; margin: 0px; border: 0px; font-size: 0px; background: url("http://img.51fashion.com.cn/images/icon-ad.png");}

