﻿/** START OF HOMEPAGE -------------------------- */  

@font-face {
    font-family: 'mrs_lollipopregular';
    src: url('../../style/webfonts/mrslollipop_regular_macroman/MrsLollipop-Regular-webfont.eot');
    src: url('../../style/webfonts/mrslollipop_regular_macroman/MrsLollipop-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../style/webfonts/mrslollipop_regular_macroman/MrsLollipop-Regular-webfont.woff') format('woff'),
         url('../../style/webfonts/mrslollipop_regular_macroman/MrsLollipop-Regular-webfont.ttf') format('truetype'),
         url('../../style/webfonts/mrslollipop_regular_macroman/MrsLollipop-Regular-webfont.svg#mrs_lollipopregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

input[type='radio'], input[type='checkbox'] { margin-right:0px; }

/* - BUTTON STYLES ------------------- */
#content.home_page .actions { text-align:center; }
#content.home_page .actions button, #content.home_page .actions .button { padding:3px 15px; }
.ie7 #content.home_page .actions button { padding:0 4px; }
p.actions a { cursor: pointer; display:table; margin:auto; }

/* - HEADLINE STYLES ------------- */
#content>aside#headlines { padding:6px 20px; background-color:#e8f5fe; overflow:hidden; }
#content>aside#headlines dl { display:none; position: relative; font-size: 14px; text-shadow: 0px 1px 0px #fff; float:left; }
#content>aside#headlines dt { 
	/*float:left;*/
	/* width:167px; */
	margin: -10px 12px 0px 0px;
	font-weight:bold;
	position: absolute;
	top: 50%;
	left: 0px;
}

.ie7 #content>aside#headlines dt {
}

#content>aside#headlines dt .icon {
    background: url("../../images/template/sprite_template_icons.png") no-repeat -267px top;
    display:inline-block; vertical-align: middle; 
    width: 20px; height:21px; margin-right:11px;
}
#content>aside#headlines dd {margin-left: 180px; position:relative; overflow:hidden; width:725px; }
#content>aside#headlines dd nav { position:absolute; right:0; top:0; }
.ie7 #content>aside#headlines dd nav { line-height:23px; }
#content>aside#headlines dd nav span { color:#DF6100; cursor:pointer; }
#content>aside#headlines dd nav span:hover,#content>aside#headlines dd nav span:focus { color:#0075cf; }
#content>aside#headlines dd nav span.back { display:none; }
#content>aside#headlines dd ul {  }
#content>aside#headlines dd ul li { display:none; overflow:hidden; padding:2px 0; width:700px;}
#content>aside#headlines dd ul li.active { display:block; }


/* - PAGE TABS ------------------- */
#content #home_tabs { position:relative; min-height:68px; }
#content #home_tabs ul { 
	width:966px;
	height:540px; 
	position:absolute; left:-10px; top:0;
	text-align:left; 
	background:#d2ebff url(../../images/homepage/inactive_tab_bg.png) repeat-x left top;
	border:1px solid #989898;
	border-color:#989898 #005b87;
	padding:0 0 17px 0;
	-webkit-box-shadow:  0px 6px 6px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, .2);
	box-shadow: 0px 6px 6px rgba(0, 0, 0, .2);
	z-index:1;
	white-space:nowrap;
}
.ie7 #content #home_tabs ul { 
	width:102%;
}
#content #home_tabs li { display:inline; }
.ie7 #content #home_tabs li { vertical-align:top; }
#content #home_tabs li a { 
	display:inline-block; 
	padding:14px 0px 0px 20px; /* 14px 21px 0 */
	min-height:34px;
	min-width: 220px; /* 184px */
	border-right: 1px solid #000; border-left: 1px solid #2d659a; 
	font-size:22px; text-decoration:none; color:#fff; font-weight:normal;
	line-height:1;
	text-align:center;
	position:relative;
}
.ie7 #content #home_tabs li a{height:33px; width:auto; float:none; display:inline; line-height:1.1; min-height:33px;}
#content #home_tabs li a .icon { display:inline; height:26px; vertical-align:middle; float:right; position: absolute; right: 10px; text-align: left;}
.ie7 #content #home_tabs li a .icon { display:inline; height:26px; margin-right:20px; vertical-align:middle; float:none; }
#content #home_tabs li a .icon { background:url(../../images/homepage/sprite_tab_icons.png) no-repeat top left; }
#content #home_tabs li a.book-travel .icon { background-position:-34px top; width:24px; }
#content #home_tabs li a.check-in .icon { background-position:-68px top; width:23px; }
#content #home_tabs li a.flight-status .icon { background-position:left top; width:34px; }
#content #home_tabs li a.change-flight .icon { background-position:-102px top; width:22px; }
#content #home_tabs li a.cancel-flight .icon { background-position:-136px top; width:22px; }
#content #home_tabs li a.active {
	color:#303030;
	text-shadow: 1px 1px 1px #fff;
	background-image:none;
	background-color:#d2ebff;
	border-bottom: 1px solid #d2ebff;  
}
.ie7 #content #home_tabs li a.active{height:34px; min-height:34px;}
#content #home_tabs li a.active.book-travel .icon { background-position:-34px -26px; }
#content #home_tabs li a.active.check-in .icon { background-position:-68px -26px; }
#content #home_tabs li a.active.flight-status .icon { background-position:left -26px; }
#content #home_tabs li a.active.change-flight .icon { background-position:-102px -26px; }
#content #home_tabs li a.active.cancel-flight .icon { background-position:-136px -26px; }
#content #home_tabs li a.book-travel { border-left: none; }
#content #home_tabs li a.check-in{ border-right: none; }

/* - FORM WIDGETS - GENERIC ------------------- */
#content>section.featured_info { background-color:#d2ebff;border-bottom:1px solid #d9d9d9; overflow:hidden; min-height:489px; position:relative; z-index:2; }
#content>section.featured_info aside { min-height:430px; /* background-color:#ddd; */ margin-left:348px; text-align:center; padding-top:10px; }
#content>section.featured_info .widget_container { width:328px; float:left; }
#content>section.featured_info .widget_container input[type='text'],
#content>section.featured_info .widget_container input[type='password'],
#content>section.featured_info .widget_container textarea { width:306px; }
#content>section.featured_info .widget_container select,
#content>section.featured_info .widget_container .field_select { width:326px; background-position:306px center; min-height:33px; }
#content>section.featured_info .widget_container select,
#content>section.featured_info .widget_container .field_select .selected_index  { font-size:18px; }
#content>section.featured_info .widget_container select { min-height:18px; }
#content>section.featured_info .widget_container .field_select .select_options { width:326px; }
#content>section.featured_info .widget_container .field_select .select_options li { font-size:18px; line-height:24px; }
.ie7 #content>section.featured_info .widget_container .field_select.active .select_options { top:32px; }
#content>section.featured_info .widget_container article { display:none; }
#content>section.featured_info .widget_container article.active { display:block; }
#content>section.featured_info .widget_container header { font-size:24px; }
#content>section.featured_info .widget_container fieldset { padding-bottom:10px; }
#content>section.featured_info .widget_container label { font-size:10px; margin-bottom:0; }
#content>section.featured_info .widget_container label.for_check,
/* #content>section.featured_info .widget_container select, */
#content>section.featured_info .widget_container input { font-size:18px; padding-left:0px; margin-left:0px;}
.ie9 #content > section.featured_info .widget_container .flightOnly  { width:350px; }
#content>section.featured_info .widget_container input[type='text'] { width:306px; }
#content>section.featured_info .widget_container .details>li { width:152px; display:inline-block; }
#content>section.featured_info .widget_container .details>li.flightOnlyType { display:inline; padding-right:4px; padding-left:6px; font-size: 12px;}
#content>section.featured_info .widget_container .details>li.flightOnlyTypeForSpanish { display:inline; padding-right:7px; padding-left:2px; font-size: 12px;}
#content>section.featured_info .widget_container .details>li.flightOnlyTypeForEnglish { display:inline; padding-right:9px; padding-left:6px; font-size: 12px;}

#content>section.featured_info .widget_container .details>li.flightOnlyTypeForSpanishIE8 { display:inline; font-size: 12px;}
#content>section.featured_info .widget_container .details>li.flightOnlyTypeForEnglishIE8 { display:inline; margin-left:3px; margin-right:3px; font-size: 12px;}

.ie8 #content>section.featured_info .widget_container .details>li.flightOnlyType { display:inline; padding-right:0px; padding-left:6px; font-size: 12px;}
#content fieldset ul.flightOnly { padding-bottom: 15px;}
#content>section.featured_info .widget_container .details li.last { margin-left:20px;  float:right; margin-bottom:0px;}
.ie8 #content>section.featured_info .widget_container .details li.last { margin-left:20px;}
/* #content>section.featured_info .widget_container .details select, */
#content>section.featured_info .widget_container .details input[type='text'] { width:129px; }
.ie8 #content>section.featured_info .widget_container .details input[type='text'] { width:128px; }
#content>section.featured_info .widget_container .details select,
#content>section.featured_info .widget_container .details .field_select { width:150px; background-position:130px center; }
.ie7 #content>section.featured_info .widget_container .details select { height:40px;}
#content>section.featured_info .widget_container .details .field_select .select_options { width:150px; }
.ie7 #content>section.featured_info .widget_container .details { overflow:hidden; margin-bottom:10px; }
.ie7 #content>section.featured_info .widget_container .details>li { float:left; clear:left; min-height: 25px; display:inline; }
.ie7 #content>section.featured_info .widget_container .details li.last { clear:none; }
#multiCity .multicitydetails>li.multiCityFlightOnlyType { display:inline-block; padding-right:12px; font-size: 12px;}
#multiCity .multiCityFlightOnlyType.last{padding:0px !important; margin:0px !important; position:relative; top:6px;}
#multiCity .multiCityFlightOnlyType.last label{width:17px; background: none repeat scroll 0 0 #0075CF;border: 1px solid #016C98;color: #FFFFFF;font-size: 28px !important;font-weight: bold;padding:3px 8px 0; margin:0px 0px 0px 0px !important; position:relative; top:6px;}
.ie8 #multiCity .multiCityFlightOnlyType.last label{width:17px; background: none repeat scroll 0 0 #0075CF; color: #FFFFFF; font-size: 28px !important; font-weight: bold; padding:3px 8px 0; margin:0px 0px 0px 0px !important}
#multiCity .multiCityFlightOnlyType.addFlight label {font-weight:normal;text-transform:none;margin-left:27px;}
#multiCity .multiCityFlightOnlyType.addFlightForEnglish label {font-weight:normal;text-transform:none;margin-left:45px;}
#multiCity .multiCityFlightOnlyType.addFlightForSpanish label {font-weight:normal;text-transform:none;margin-left:35px;}
.ie8 #multiCity .multiCityFlightOnlyType.addFlight label {font-weight:normal;text-transform:none;margin-left:43px;}
.ie8 #multiCity .multiCityFlightOnlyType.addFlightForSpanishIE8 label {font-weight:normal;text-transform:none;margin-left:30px;}

/* TFS # 15734 */
#content>section.featured_info .widget_container input[type='text'] { padding-left:10px; }
#content>section.featured_info .widget_container .details>li.flightOnlyType { display:inline; padding-right:0px; padding-left:18px; font-size: 12px;}
#content>section.featured_info .widget_container .details>li.flightOnlyTypeForSpanish { padding-left:8px;}
body.no-ie #content>section.featured_info .widget_container .details>li.flightOnlyType { padding-left:23px;}
body.no-ie #content>section.featured_info .widget_container .details>li.flightOnlyTypeForSpanish { padding-left:13px;}
#content>section.featured_info .widget_container .details>li.roundtripflight { padding-left:0px !important;}
.ie7 #content>section.featured_info .widget_container .details.flightOnly>li.flightOnlyType { padding-right:4px; padding-left:11px; width: auto;}
.ie7 #content>section.featured_info .widget_container .details.flightOnly>li.flightOnlyTypeForSpanish { padding-left:0px;}
.ie7 #content fieldset ul.details.flightOnly { padding-bottom: 0px;}
.ie7 #content>section.featured_info .widget_container .details.searchElems li.last { margin-left:20px !important;}
.ie7 #content>section.featured_info .widget_container .details.searchElems li.field { margin-bottom:15px !important;}
.ie7 #content>section.featured_info .widget_container .details.flightOnly { width:328px; }
.ie7 #content>section.featured_info .widget_container .details.flightOnly>li { float:left; clear:none; min-height: 25px; display:inline; }
#multiCity .multicitydetails>li.multiCityFlightOnlyType { float:left;}
.ie7 li.flightshowall{ line-height:2;}
.ie7 .flightshowall label{float:left;}
input[name='redeemMiles'] {margin-right: 5px;}
.ie7 .redeemMilestable{ margin-left:8px;}
/* TFS # 15734 */

/* --------- HOME PAGE TRAVEL AND BOOKING TYPE WIDGET ------ */
ul.ui-autocomplete{
	width:306px;
	max-height:170px;
	overflow-x: hidden;
	overflow-y:auto;
	padding-right:20px;
}
ul.ui-autocomplete li{
	padding:3px 0px 3px 10px;
	font-size:18px;
	width:300px;
	
}
ul.ui-autocomplete li a{
	font-weight:normal;
	display:inline-block;
}
ul.ui-autocomplete li a:hover,ul.ui-autocomplete li a:focus{
	outline:none;
	border:none;
	background:white;
	cursor:pointer;
}
#content>section.featured_info .widget_container article#booking-type{
	width:328px;
}
#content>section.featured_info .widget_container article#booking-type span.linkVerbiage{width:auto; float:left; display:inline-block;}
#content>section.featured_info .widget_container article#booking-type a{
	color:#ffffff;
	font-size:18px;
	font-weight:normal;
	width: 100%;
	height: 41px;
	float: left;
}
#content>section.featured_info .widget_container article#booking-type > div{
	border:solid 1px #575a5e;
	margin-top:10px;
	width:328px;
}
#content>section.featured_info .widget_container article#booking-type ul{
	width:326px;
	border-width:1px;
	border-style:solid;
	border-color:#6681a6 #2c5588 #2c5588 #2c5588;
}
#content>section.featured_info .widget_container article#booking-type ul.flight_booking{
	height:168px;
}
#content>section.featured_info .widget_container article#booking-type ul.hotel_booking{
	min-height:41px;
}
#content>section.featured_info .widget_container article#booking-type ul.car_booking,
#content>section.featured_info .widget_container article#booking-type ul.cruise_booking,
#content>section.featured_info .widget_container article#booking-type ul.activity_booking{
	height:39px;
}
#content>section.featured_info .widget_container article#booking-type ul li{
	height:41px;
	line-height:41px;
	margin:0px 20px;
}
.ie7 #content>section.featured_info .widget_container article#booking-type ul li{height:auto;}
#content>section.featured_info .widget_container article#booking-type ul li span{float:right;}
#content>section.featured_info .widget_container article#booking-type ul li span.plane_icon{
	width:29px;
	height:41px;
	background-image:url(../../images/homepage/home_widget_icons.png);
	background-repeat:no-repeat;
	background-position:0px 12px;
}
#content>section.featured_info .widget_container article#booking-type ul li span.car_icon{
	width:28px;
	height:41px;
	background-image:url(../../images/homepage/home_widget_icons.png);
	background-repeat:no-repeat;
	background-position:-29px 12px;
	margin-left:5px;
}
#content>section.featured_info .widget_container article#booking-type ul li span.hotel_icon{
	width:27px;
	height:41px;
	background-image:url(../../images/homepage/home_widget_icons.png);
	background-repeat:no-repeat;
	background-position:-57px 12px;
	margin-left:5px;
}
#content>section.featured_info .widget_container article#booking-type ul li span.cruise_icon{
	width:26px;
	height:41px;
	background-image:url(../../images/homepage/home_widget_icons.png);
	background-repeat:no-repeat;
	background-position:-84px 12px;
	margin-left:5px;
}
#content>section.featured_info .widget_container article#booking-type ul li span.activity_icon{
	width:26px;
	height:41px;
	background-image:url(../../images/homepage/home_widget_icons.png);
	background-repeat:no-repeat;
	background-position:-111px 10px;
	margin-left:5px;
}
#content>section.featured_info .widget_container article#booking-type ul li.underline{
	border-bottom:solid 1px #000000;
}
#content>section.featured_info .widget_container article#booking-type ul li.overline{
	border-top:solid 1px #2e5c93;
}
#content>section.featured_info .widget_container article#booking-type ul.flight_booking{
	background: #182a4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #182a4f 0%, #25427b 50%, #182a4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#182a4f), color-stop(50%,#25427b), color-stop(100%,#182a4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #182a4f 0%,#25427b 50%,#182a4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #182a4f 0%,#25427b 50%,#182a4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #182a4f 0%,#25427b 50%,#182a4f 100%); /* IE10+ */
	background: linear-gradient(top,  #182a4f 0%,#25427b 50%,#182a4f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182a4f', endColorstr='#182a4f',GradientType=0 ); /* IE6-9 */
}
#content>section.featured_info .widget_container article#booking-type ul.hotel_booking{
	background: #2d4d89; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d4d89 0%, #2d4d89 50%, #213862 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d4d89), color-stop(50%,#2d4d89), color-stop(100%,#213862)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2d4d89 0%,#2d4d89 50%,#213862 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2d4d89 0%,#2d4d89 50%,#213862 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2d4d89 0%,#2d4d89 50%,#213862 100%); /* IE10+ */
	background: linear-gradient(top,  #2d4d89 0%,#2d4d89 50%,#213862 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4d89', endColorstr='#213862',GradientType=0 ); /* IE6-9 */
}
#content>section.featured_info .widget_container article#booking-type ul.car_booking,
#content>section.featured_info .widget_container article#booking-type ul.cruise_booking,
#content>section.featured_info .widget_container article#booking-type ul.activity_booking{
	background: #345692; /* Old browsers */
	background: -moz-linear-gradient(top,  #345692 0%, #355896 50%, #2b4775 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#345692), color-stop(50%,#355896), color-stop(100%,#2b4775)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #345692 0%,#355896 50%,#2b4775 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #345692 0%,#355896 50%,#2b4775 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #345692 0%,#355896 50%,#2b4775 100%); /* IE10+ */
	background: linear-gradient(top,  #345692 0%,#355896 50%,#2b4775 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#345692', endColorstr='#2b4775',GradientType=0 ); /* IE6-9 */

}

/* - BOTTOM CONTENT AREAS ------------------- */
#content>section.additional_info { padding:20px 0; }
#content>section.additional_info article { width:444px; display:inline-block; vertical-align:top; margin-bottom:30px; margin-left:20px; }
#content>section.additional_info article header { font-size:18px; font-weight:bold; }
#content>section.additional_info article section { border:1px solid #cdcdcd; padding:10px; font-size:24px; line-height:1.2; position:relative; }
#content>section.additional_info article section mark { font-size:12px; background-color:transparent; font-weight:normal; font-style:normal; }
#content>section.additional_info article section.route_map { border:0; padding:0; }
#content>section.additional_info article section img { position:absolute; top:18px; right:18px; }
#content>section.additional_info article section.route_map img { border:1px solid #cdcdcd; position:static; top:auto; left:auto; }
#content>section.additional_info article section.fs_promo img { position:absolute; top:-5px; right:5px; }
#content>section.additional_info article p { margin-bottom:10px; }
#content>section.additional_info article p.note { margin-bottom:0; }
#content>section.additional_info article ul.nineDollarFareClub,
#content>section.additional_info article ul.freeSpirit { margin-bottom:20px; padding-left:6px; }


/*
#content>section.additional_info article ul.nineDollarFareClub li { color:#dc0000; list-style-type:square; margin-bottom:10px; }
#content>section.additional_info article ul.freeSpirit li { color:#ff32a; list-style-type:square; margin-bottom:10px; }
#content>section.additional_info article ul li span { color:#333; }
*/


#content>section.additional_info article ul li { color:#333; margin-bottom:10px; position: relative; padding-left: 23px; }
#content>section.additional_info article ul li span { padding-right: 6px; font-size: 0.85em; position: absolute; left: 0px; line-height: 21px; }
#content>section.additional_info article ul.freeSpirit li span { color:#ff32a; }
#content>section.additional_info article ul.nineDollarFareClub li span { color:#dc0000; }


#content>section.additional_info article .actions a.learn_more { font-size:18px; }


/* - FLOAT BOX STYLES ------------------- */
#birthDatesArea li .lap_child { display:block; padding:12px 0 0 30px; margin-bottom: 6px; background:url(../../images/homepage/icon_option_tree.png) no-repeat 11px 10px; }
#birthDatesArea li .lap_child label { display:inline-block; min-width:260px; text-transform: none; margin-bottom: 0px; font-weight: normal; }
#birthDatesArea li .lap_child input { vertical-align:baseline; }

#homepage_overlay { padding-top:8px; }

#cityPair { padding-top:30px; text-align:center; }

#childBirthDates p.actions { padding-top: 20px;}
#lapInternationalMsg {display: none; border-width: 0px 1px 1px; border-style: solid; border-color: #e6e6e6; padding: 10px; position: relative; top: -10px; font-size: 12px; font-weight: bold;}
#freeSpiritAwardNumber ul{margin:0px;}
#freeSpiritAwardNumber ul li{display: inline-block;}
#freeSpiritAwardNumber input[type='text']{width: 210px; margin-right:20px;}
#freeSpiritAwardNumber li button{padding:10px;}
#freeSpiritAwardNumber p.actions button{display:none; margin-top:10px; padding:10px;}
#freeSpiritAwardNumber #fsMemberResponseData{display:none; font-size:18px;}
#freeSpiritAwardNumber #fsMemberResponseData > span{display:block; margin-left:30px;}
/* TODO: separate copy from content.css */
/* - STATION SEARCH WIDGET ------------------- */
.station_search {}
.station_search .station_auto_complete {
    position:absolute; 
    max-height:250px; overflow:auto;
    width:326px; 
    background-color:#fff; 
    border:1px solid #D7D7D7; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    display:none;
}
.ie7 .station_search .station_auto_complete { top:54px; left:0; }
.station_search .station_auto_complete li { font-size:18px; cursor:pointer; margin-bottom:10px; }
.station_search .station_auto_complete li .name { display:inline-block; vertical-align:top; padding:0 10px; width:230px; }
.station_search .station_auto_complete li .sep { display:none; }
.station_search .station_auto_complete li:hover,.station_search .station_auto_complete li:focus { background-color:#777; color:#fff; }
.station_search .station_auto_complete li.selected { background-color:#0075cf; color:#fff; }
.station_search .station_auto_complete.no_stations { background-color:#f6dddd; }
.station_search .station_auto_complete.no_stations li:hover,.station_search .station_auto_complete.no_stations li:focus { background-color:#f6dddd; color:#333; }
		    
.station_search .station_list {
    position:absolute; 
    min-height:250px; 
    width:693px; 
    background:#fff url(../../images/homepage/city_pair_region_inactive_bg.png) repeat-x top left; 
    border:1px solid #b3bac1; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display:none; 
    z-index:3;
}
.ie7 .station_search .station_list { top:54px; left:0; }
.ie7 .station_search .station_list ul { overflow:hidden; }
.station_search .station_list .macs li {
	display:inline-block;
    width:31%; 
    padding:4px 1%; 
    border-bottom:1px solid #b3bac1; 
    color:#fff; 
    font-weight:bold;
    margin-bottom:0;
    cursor:pointer;
    vertical-align:top;
}
.ie7 .station_search .station_list .macs li { width:30%; display:inline; float:left; }
.station_search .station_list .macs li.active {
    width:32%; 
    background-color:#fff; 
    background-image:none;
    border-color:#fff; 
    color:#333; 
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    cursor:default;
}
.station_search .station_list .stations { /*max-height:330px;*/ overflow:auto; }
.station_search .station_list .stations ul {
	padding:10px; 
	-moz-column-width:189px; -webkit-column-width:189px; column-width:189px; 
	-moz-column-gap:20px; -webkit-column-gap:20px; column-gap:20px;  
}
.no-csscolumns .station_search .station_list .stations ul { display:inline-block;width:189px;margin-right:20px; vertical-align:top;  }
.ie7.no-csscolumns .station_search .station_list .stations ul { display:inline; float:left; width:209px; margin-right:20px; padding:10px 0; }
.station_search .station_list .stations li {
	padding:2px 4px; 
	margin-bottom:4px;
	vertical-align:top; 
	font-size:12px; 
	cursor:pointer; 
	min-height:36px;
}
.no-csscolumns .station_search .station_list .stations li {
	width:189px; 
}
.station_search .station_list .stations li .name { display:inline-block; vertical-align:top; width:148px; }
.station_search .station_list .stations li .sep { display:none; }
.station_search .station_list .stations li:hover,.station_search .station_list .stations li:focus { background-color:#0075cf; color:#fff; }


/* -- Beginning of Price Change PopUp CSS -- */

#price_change_popup > div.changes { overflow: hidden; }
#price_change_popup > div.changes div { width: 50%; display: inline-block; float: left; }
#price_change_popup > div.changes div.price { text-align: right; }
#price_change_popup > div.price_change_action { text-align: center; padding: 30px 0px 15px;}

#price_change_popup > div.price_change_action a.button {
    background: #a4be52; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #b8ca5e 2%, #92b346 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#b8ca5e), color-stop(100%,#92b346)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#b8ca5e 2%,#92b346 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#b8ca5e 2%,#92b346 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#b8ca5e 2%,#92b346 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#b8ca5e 2%,#92b346 100%); /* W3C */    
    border: 1px solid #738423;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .35);
    margin-bottom: 10px;
}

.no-cssgradients #price_change_popup > div.price_change_action a.button {
    background: #85b53a url(../images/dynamicPackaging/large_green_btn.png) repeat-x left top;    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ca5e', endColorstr='#92B346',GradientType=0 ); /* IE6-9 */
}

#price_change_popup > div.price_change_action a.button:hover,#price_change_popup > div.price_change_action a.button:focus { color: #333; }

/* -- End of Price Change PopUp CSS -- */

.ie8 #homepage_overlay iframe, .ie7 #homepage_overlay iframe { width: 100%; }
.ie8 .ui-dialog .ui-dialog-titlebar-close{width:auto !important;height:0px !important;top:0px !important; right:0px !important; border:none !important} 

/* -- Beginning of Invalid Promocode PopUp CSS -- */

#invalid_promocode p { margin-bottom: 12px; }
#invalid_promocode ul { padding-left: 12px; margin-bottom: 18px; }
#invalid_promocode ul li { margin-bottom: 10px; position: relative; padding-left: 17px; }
#invalid_promocode ul li span { font-size: 0.9em; line-height: 18px; padding-right: 6px; position: absolute; left: 0px; }
#invalid_promocode p.actions { padding-top: 20px; }
/* -- Ending of Invalid Promocode PopUp CSS -- */

.date_picker_mask { display:none; }

/** END OF HOMEPAGE ---------------------------- */
 
.main_header nav.support > ul li{ vertical-align:top; height:20px; display:block;}
.main_header nav.support > ul li span.new_bag_fee a{font:bold 12px arial!important; display:block; padding-top:3px;}
.main_header nav.support > ul li.log_in_user{top:-9px; padding-left:4px; padding-right:5px;}
.main_header nav.support > ul li.log_in_user span.member_nav{right:5px!important;} 
.main_header nav.support > ul li.log_in_user span.member_mile{right:38px!important;}

/***********focus on tab************/
.button.primary:focus { color:#333; }

/*********Flight Status Tab**********/
li.flifoRadioSwitch{display:block; width:95%; margin-left:10px;}
.ie7 li.flifoRadioSwitch{ margin:0px; padding:0px; line-height:normal;}
li.flifoRadioSwitch input{display:inline-block; vertical-align:text-top; line-height:0px; padding:0px;}
li.flifoRadioSwitch label{text-transform:capitalize; display:inline-block; font-size:100% !important; font-weight:normal; margin-left:3px;}
li.flifoRadioSwitch .alignright{float:right;}
li.flifoRadioSwitch label.alignright{margin:0px;}
li.flifoRadioSwitch input.alignright{margin-right:7px;}
.ie7 li.flifoRadioSwitch .alignright{position:relative; top:-22px; vertical-align:baseline;}