﻿#page {overflow:visible; min-width:68.571em;}
.main_header {min-height:12.429em}
.main_header, #content, .main_footer .linksets {width:67.714em;}
.main_header .top_nav ul li a {height:1.071em; line-height:1.071em;}
.main_header .top_nav ul.dropdown-menu li ul.sub-menu li a{background:red; display:block; height:auto; line-height:normal;}
.main_header section.promo, #page > header section.promo { right:12.857em;}
.main_header section.promo .txt {width:7.857em;}
#content > aside#headlines dt {top:12px}
#content > aside#headlines dd {width:51.786em; margin-left:12.857em;}
#content > aside#headlines dd ul li {width:50.000em}
#content #home_tabs ul {width:68.929em}
#content #home_tabs {min-height:4.857em}
#content #home_tabs ul li a {padding:14px 0 10px; min-height: initial;}
li.dropdown-menu ul.sub-menu {top:1.643em;}
li.dropdown-menu ul.sub-menu a {width:9.571em}
#content > section.additional_info article {width:31.714em}
.main_footer .linksets nav {width: 15.143em;} 
#content > section.featured_info .widget_container, 
#content > section.featured_info .widget_container article#booking-type, 
#content > section.featured_info .widget_container article#booking-type > div,
#content > section.featured_info .widget_container article#booking-type ul.flight_booking,
#content > section.featured_info .widget_container article#booking-type ul li, 
#content > section.featured_info .widget_container article#booking-type ul li, 
#content > section.featured_info .widget_container article#booking-type ul.car_booking, 
#content > section.featured_info .widget_container article#booking-type ul.cruise_booking, 
#content > section.featured_info .widget_container article#booking-type ul.activity_booking
{width:23.429em;}
#content > section.featured_info aside {margin-left:24.857em}
#content > section.featured_info .widget_container article#booking-type .flight_booking .first {height:3.000em; line-height:1.786em;}
#content > section.featured_info .widget_container article#booking-type ul li,
#content > section.featured_info .widget_container article#booking-type ul.car_booking,
#content > section.featured_info .widget_container article#booking-type ul.cruise_booking
 {height:4.889em}
#content > section.featured_info .widget_container {width:23.429em !important;}
#content > section.featured_info .widget_container select, #content > section.featured_info .widget_container .field_select {width:20.375em;}
.datepicker_input {width:6.300em !important;}
#content > section.featured_info .widget_container .details > li {width:10.857em;}
#content > section.featured_info .widget_container .details select, #content > section.featured_info .widget_container .details .field_select {width:9.375em !important;}
.main_header nav.support > ul li.logged_in .user_info {padding:0 1em 0.667em 0}
#memberMileage {top:2.714em !important;}
#memberNavigation {width:18.667em; top:3.333em;}
#memberNavigation .member_data {width:16.667em; padding:0.667em 1.000em}
#memberNavigation .member_data dl dt {width:9.167em}
#memberNavigation .separator {height:6.500em}
#memberNavigation li {padding: 0 0.857em 0.714em;}
.main_header nav.support > ul li {height:1.429em;}
#content > section.featured_info .widget_container input[type="text"] {width:19.125em;}
.continueBtnMange {width:9.524em}
#content fieldset ul.searchElems {padding-top:0px;}
.login_continue fieldset ul li.field {width:25.214em;}
.login_continue fieldset ul li.field.action {width:7.143em;}
.login_continue fieldset ul li.field input[type="text"],
.login_continue fieldset ul li.field input[type="password"] 
{width:20.375em !important}
.section_block fieldset ul.personal_data .field.title {width:5.714em;}
.section_block fieldset ul.personal_data .field.first_name {width:13.643em;}
.section_block fieldset ul.personal_data .field {width:12.929em;}
.section_block fieldset ul.personal_data .field.last_name {width:18.500em}
.section_block fieldset ul.personal_data .field.suffix {width:5.643em}
.section_block fieldset ul.personal_data .field.fs_birthdate {width:20.714em}
.section_block fieldset ul.personal_data .field.subtext {width:39.333em}
select.title, select.suffix {width:4.375em}
.section_block fieldset ul.personal_data .field.first_name input[type="text"] {width:10.500em !important;}
.section_block fieldset ul.personal_data .field input[type="text"], .section_block fieldset ul.personal_data .field input[type="password"] {width:9.875em !important;}
.section_block fieldset ul.personal_data .field.last_name input[type="text"] {width:14.875em !important}
select.month {width:7.250em;}
select.day {width:4.250em;}
select.year {width:5.250em;}
.section_block fieldset ul li.field {width:30.000em;}
input[type="text"], input[type="password"], textarea { width:25.000em;}
.login_continue fieldset ul li.field {width:25.214em}
.login_continue fieldset ul li.field input[type="text"], 
.login_continue fieldset ul li.field input[type="password"] {width:20.375em !important;}
.topNavHome {width:4.167em}
.itinerary_tab dl {top:-2.214em;}
.content.flexFlight {width:64%}
.ExtrasCheckInEdu .hfixed {display:block;}
.ExtrasCheckInEdu .content {width:39.429em}
.contentList .checkinbutton, .contentList .checkedbutton, .contentList .checkbuttonreq {width:2.571em; height:2.571em;}
.options .left, .options .right {width:9.083em}
.purchase_page_itinerary div.itinerary_item_details_column1 {width:24.667em}
.purchase_page_itinerary div.itinerary_item_details_column2 {width:21.667em}
.purchase_page_itinerary div.itinerary_item_details_column3 {width:4.600em}
div#purchase_page .purchase_page_itinerary div.flight_more_info_details_column1 {width:30.417em}
div#purchase_page .purchase_page_itinerary div.flight_more_info_details_column2 {width:26.250em}
.purchase_page_itinerary div.flight_more_info_details_column3 {width:6.333em}
.purchase .purchasing-price .voucher input {width:16.375em}
.purchase .purchasing-price .voucher .toggle-section {width:70.333em}
.purchase .additional #travelInsuranceOffer table .col2 .charge {width:30.714em}
div.total_purchase_price div.purchasr_total div.box400 {width:28.571em}
div.total_purchase_price div.purchasr_total div.standardBooking {width:24.929em !important}
td.credit_card_on_file select {width:15.938em}
table tbody#actualCardInfo select, table tbody#actualBillingInfo select {width:26.250em}
.purchase .form-card td.narrow select {width:6.875em !important;}
table#validateCreditCard .textFieldSmall {width:9.063em; height:2.250em;}
table#validateCreditCard .textFieldLarge {width:24.750em; height:2.250em;}
table#validateCreditCard .textFieldRegular {width:23.750em; height:2.250em;}
table#validateCreditCard .textFieldSmaller {width:7.063em; height:2.250em;}
#content header.activity_upsell {width: 64.857em;}
#hotels_filter ul li input {width:12.125em}
#hotels_filter ul li.sorting select {width:10.625em; height:1.875em}
#displayNum {width:7.813em}
#hotels_filter, .no-cssgradients #hotels_filter {height:4.286em}
#hotels_filter ul li.sorting span {height:2em;}
#content section.activity_featured ul li > img {width:15.357em; height:9.000em}
#content section.activity_featured ul li section.upsell_info div.activity_info {width:27.714em}
#content section.activity_featured ul li section.upsell_info div.amount {width:17.714em }
#content section.activity_featured ul li section.upsell_info div.amount div.amount_wrapper {width:3.694em}
#content section.activity_featured ul li section.upsell_info div.amount div.all_cars_button {width:7.929em}
#content section.activity_featured ul li section.upsell_info div.amount div.all_cars_button a {height:1.889em; line-height:1.889em; padding:0 1.611em;}
#content section.activity_featured div.miopen,
#content section.upsell_list ul li section.more_info {width:64.857em}
#content section.upsell_list ul li section.more_info section.content_area ul:first-child {width:61.857em}
#content section.upsell_list ul li section.more_info nav ul li a {height:2.143em; line-height:2.143em;}
#content section.upsell_list ul li section.more_info nav ul li {height:2.143em;}
#content section.activity_featured ul li section.upsell_list ul li section.more_info section.content_area ul li div.activity_booking p {width:14.643em;}
#content section.activity_featured ul li section div.activity_booking p select {width:12.688em}
#content section.activity_featured ul li section div.activity_booking span.availableDate select {width:25.938em}
#content section.activity_featured ul li section div.activity_booking div.activity_price {height:3.571em;}
#content section#your_activities ul li article.activity {width:35.286em}
#content section#your_activities ul li article.tickets {width:9.286em}
#content section#your_activities ul li article.price {width:11.786em}
#content header.hotel_upsell {width:64.857em}
#hotels_filter ul li.display {width:17.857em}
#hotels_filter ul li.view_map, #hotels_filter ul li.view_map a {height:2.643em; overflow:visible;}
#content section.all_hotels ul li section.upsell_info section.hotel_info {width:27.143em}
#content section.all_hotels ul li > div.hotel_image_wrapper > img, #content section.all_hotels ul li > div.hotel_image_wrapper {width:13.929em; height:9.000em;}
#content section.all_hotels ul li section.upsell_info section.hotel_info .h1 {width:19.444em;}
#content section.all_hotels ul li section.upsell_info a.button {height:1.889em; padding:0 1.778em;}
#content section.all_hotels ul li section.upsell_info ul.hotels_detail li.first {padding: 10px 10px 10px 15px;}
#content section.upsell_list ul li section.upsell_info {width:30.286em; height:11.714em;}
header.newMemberFareselectRoom .fare-header {width:25.111em; padding-left:1.444em !important;}
.newMemberFareselectRoom .fare-header {height:5.278em;}
.newMemberFareselectRoom .Standard_bareFare,
.newMemberFareselectRoom .Saver_bareFare,
.newMemberFareselectRoom .Ndfc_bareFare {height:5.938em; width:8.750em;}
#select_hotel_room ul.memberfare li p.memberFareroomDescription {width:28.000em; padding: 0.875em 0 1.250em 1.625em;}
#select_hotel_room ul.memberfare li div.fare {height: 3.8em; width: 9.35em;}
#select_hotel_room ul.dpp_fare_content li div.fare div p {width:8.143em}
.hotelRoomClub {line-height: 0.818em; padding: 0.591em 3.182em; right: 0.682em; top: 0.409em;}
div.nineMemberfareAcceptContinue, div.saverMemberfareAcceptContinue {width:100%;}
#select_hotel_room header.newMemberFareselectRoom .Saver_bareFare div.resPopupareaContent {bottom: 8.929em; left: -10.786em; padding-top: 1.643em; top: -14.571em; width: 28.571em;}
#select_hotel_room header.newMemberFareselectRoom .Saver_bareFare div.resPopupareaContent div.popUpWrapperTail,
#select_hotel_room header.newMemberFareselectRoom .Saver_bareFare div.resPopupareaContent div.popUpWrapperTail {left:18.357em}
.ndfcFareClubmemberTermsConditions {height: 5.357em;}
#select_hotel_room header.newMemberFareselectRoom .Ndfc_bareFare div.resPopupareaContent {bottom: 8.929em; left: -20.500em; padding-top: 1.643em; top: -11.571em; width: 28.111em;}
#select_hotel_room header.newMemberFareselectRoom .Ndfc_bareFare div.resPopupareaContent div.popUpWrapperTail,
#select_hotel_room header.newMemberFareselectRoom .Ndfc_bareFare div.resPopupareaContent div.popUpWrapperTail {left: 27.857em;}
div.miopen {width: 64.714em;}
#content section.activity_featured div.miopen,
#content section.upsell_list ul li section.more_info {width: 64.857em;}
#content section.hotel_room_category ul li section.more_info section.content_area {width:64.571em;}
#content section.flight_departing {height: 2.429em;}
#content section.flight_departing a.action, #content section.flight_returning a.action {height: 1em; padding: 0.5em 1.5em;}
#content section#nine_fare_msg {height: 3.5em; width: 62em;}
section.flight_returning {height: 2.429em;}
#content section.flight_change section {width: 62em;}
#content section.flight_change section ul li article {width: 29.286em;}
#content section.flight_change section ul li article.travelDate {width: 20.286em;}
#content section.flight_change section ul li article.travel {width: 12.143em;}
#content section.flight_change section ul li article aside {height: 1.071em; line-height: 1.429em;}
#content section.flight_change section ul li article.travel div {width: 5.214em;}
#content section.flight_change section ul li article.travel div.last_colomn {width: 6.829em;}
#select_hotel_room ul.dpp_fare_content li p {width: 24.063em;}
#select_hotel_room header.dpp_fare_header {height: 3.857em;}
.popUpWrapper.onePercent.package {margin-top: -3.571em;}
.popUpWrapper.onePercent {padding: 2.143em 1.786em; width: 41.429em;}
.popUpWrapper.onePercent .linkWrap {height: 2em; line-height: 2em;}
#hotels_filter ul li.sorting select:focus {height:1.875em;}
.es-PR #hotels_filter ul li.sorting select {width: 15em;}
body.es-PR li.dropdown-menu ul.sub-menu a {width: 8.571em;}
div.confirmation_code_tabs {width: 54.286em;}
#confirmation_tabs {width: 54.286em;}
#confirmation_tabs ul {height: 3.643em;}
#confirmation_tabs li a.spirit {width:6.400em}
#confirmation_tabs li a.expedia {width: 7em;}
#confirmation_tabs li a.priceline, #confirmation_tabs li a.cheapoair {width: 7.2em;}
#confirmation_tabs li a.orbitz {width: 7.2em; border-right:1px solid #000;}
div.confirmation_code_tabs .tab_section {width: 54.286em;}
div.accordion > div.spiritContent {width: 21.222em;}
.es-PR #hotels_filter ul li.display {width: 13.929em;}
.es-PR .newMemberFareselectRoom .fare-header {height: 7.222em;}
.es-PR .newMemberFareselectRoom .Standard_bareFare, 
.es-PR .newMemberFareselectRoom .Saver_bareFare, 
.es-PR .newMemberFareselectRoom .Ndfc_bareFare {height: 8.125em;}
#content section.upsell_list ul li section.upsell_info aside.links {width: 18.286em;}
#select_hotel_room ul.dpp_fare_content li div.fare div p {line-height:2.000em !important;}
#passengerInputContent p.important span.right {width: 43.611em;}
section.flight-notification div.email-input {height: 3.714em;}
section.flight-notification div.email-input input {width:24.900em; height:2.188em; line-height:2.188em;}
#passengerInputContent div.section_block.passenger_content{width: 61.857em;}
#passengerInputContent div.passenger_content fieldset ul.personal_data .field.title {width: 5.071em !important;}
.section_block fieldset ul.personal_data .field.last_name.ndfc {width: 25.586em;}
.section_block fieldset ul.personal_data .field.birthdate {width: 20em;}
.section_block fieldset ul.personal_data .field.birthdate select.day {width: 4.25em;}
.section_block fieldset ul.personal_data .field.birthdate select.year {width: 4.688em;}
.section_block fieldset ul.personal_data .field.fs_number {width: 12.786em !important;}
.section_block fieldset ul.personal_data .field.ssr_action {width: 26.071em !important;}
#content .section_block.pax_input .ssr_lists ul li.field {width: 22.214em;}
#content .section_block.pax_input .ssr_lists ul li.field:first-child + li + li {width: 10.714em;}
#content .section_block.pax_input .ssr_lists ul li:last-child {width: 510px;}
#content .section_block.pax_input .ssr_lists ul li:last-child {width: 36.429em;}
#content .section_block.pax_input .ssr_sub_section ul li.field {min-height: 1.786em;}
#content .section_block.pax_input span.VoluntaryContent {width: 34.357em;}
#content .section_block.pax_input .WheelchairService ul li.field {width: 18.357em;}
#content .section_block.pax_input .WheelchairService ul li.onw_wheelchair {width: 73%;}
#content .section_block.pax_input .ssr_sub_section ul li.field select{width:23.438em;}
#content .section_block.pax_input .WheelchairService label.for_check {width: 15.429em;}
.section_block fieldset ul.personal_data .field.viewResField {width: 12em;}
.section_block fieldset ul.personal_data .field.viewResField span.popTextstatic {width: 10.769em;}
.section_block fieldset ul.personal_data .field.childUnderFive {width: 13.957em !important;}
div.memberIcon, 
div.priceInputMember, 
div.selectCarryBagsMember, 
div.nonMember, 
div.priceInputStandard, 
div.selectBagsStandard, 
div.memberIcon, 
div.priceInputMember, 
div.selectBagsMember, 
div.nonMember, 
div.priceInputStandard, 
div.selectBagsStandard {height: 3.214em; line-height: 3.214em;}
select.memberCarryBagsAmount, select.standardCarryBagsAmount {width: 9.063em !important;}
select.memberBagsAmount, select.standardBagsAmount {width: 10.938em;}
.bagsBanner {height: 20.571em;}
.bagsBanner .personal {background: #fff; width: 230px;}
.bagsBanner .carry {background: #fff; left: 273px; width: 254px;}
.bagsBanner .checked {background: #fff; width: 297px;}
.es-PR select.memberCarryBagsAmount, .es-PR select.standardCarryBagsAmount {width: 14.545em !important;}
.es-PR select.memberBagsAmount, .es-PR select.standardBagsAmount {width: 15.909em !important;}
div.sectionSavings {width: 63.429em;}
.price_display div.total_due {height: 1.667em;}
.price_display div.total_due .price {min-width: 5.667em;}
.price_display .item .charge, .purchase_price_with_voucher .price_display .item .charge {width: 27.543em;}
hr.fareHoverLine-login {top: 0.792em; width: 1.625em;}

@-moz-document url-prefix() {
section.change_departing section, section.change_returning section {width: 62em;}
section.change_departing section ul li article, section.change_returning section ul li article {width: 29.286em;}
section.change_departing section ul li aside, section.change_returning section ul li aside {height: 1.286em; line-height: 1.286em;}
section.change_departing section ul li article.travelDate, section.change_returning section ul li article.travelDate {width: 20.286em;}
section.change_departing section ul li article.travel, section.change_returning section ul li article.travel {width: 12.143em;}
section.change_departing section ul li article.travel div, section.change_returning section ul li article.travel div {width: 5.114em;}
section.change_departing section ul li article.travel div.last_colomn, section.change_returning section ul li article.travel div.last_colomn {width: 6.929em;}
section.flightPackageNewMemberFare ul.action li.nineMemberfareAcceptContinue, section.flightPackageNewMemberFare ul.action li.saverMemberfareAcceptContinue {width: 64.857em;}
section.flightPackageNewMemberFare .flight-title {width: 33.714em;}

section.flightPackageNewMemberFare .Standard_bareFare, section.flightPackageNewMemberFare .Saver_bareFare, section.flightPackageNewMemberFare .Ndfc_bareFare {
    height: 6.813em;
    line-height: 1.125em;
    padding-top: 1.25em;
    width: 8.938em;
    }
   section.flightPackageNewMemberFare > section > fieldset > ul li > section {width: 31.467em;}

section.flightPackageNewMemberFare .title .flight-title div.flight-header {width: 33.714em;}
section.flightPackageNewMemberFare .title .flight-title div.flight-header header section ul li {width: 9.286em;}
section.flightPackageNewMemberFare .title .flight-title div.flight-header header, section.flightPackageNewMemberFare .title .flight-title .no-cssgradients div.flight-header header {
    margin-top: 1.429em;
    padding: 0.714em 0 0.714em 25px;
}

section.flightPackageNewMemberFare > section > fieldset > ul > li {height: 5.667em;}
section.alternate_availability > section > fieldset > ul li > section {line-height: 4em;}
section.flightPackageNewMemberFare > section > fieldset > ul li > section ul li {padding-top: 1em; width: 7.2em; padding-left: 1.467em;}
section.alternate_availability > section > fieldset > ul li > aside {line-height: 4em;}
section.flightPackageNewMemberFare aside.packageBooking ul li {height: 4.286em; padding-top: 2.143em; width: 10.214em;}
section.alternate_availability > section > fieldset > ul li > section ul li span {top: -3.417em;}
section.flightPackageNewMemberFare {margin-top: 4.286em;}
.es-PR section.flightPackageNewMemberFare .ourFareClub {top: -2.111em;}
section.flightPackageNewMemberFare .ourFareClub {line-height: 0.818em; padding: 0.591em 3.182em; right: 0.773em; top: -1.591em;}
section.flightPackageNewMemberFare .title .Saver_bareFare span.restrictions, section.flightPackageNewMemberFare .title .Ndfc_bareFare span.restrictions {
    top: 0.857em;
    width: 0.857em !important;
}
section.flightPackageNewMemberFare .title .Saver_bareFare div.resPopupareaContent, section.flightPackageNewMemberFare .title .Ndfc_bareFare div.resPopupareaContent {
    bottom: 10.071em;
    left: -14.357em;
    top: -13.429em;
    width: 28.429em;
    z-index: 999999;
}
.en-US #content .bundleFare.availability_calander .flightOptionsSort thead tr th.Saver_bareFare div.resPopupareaContent, .en-US #content .ModifyourNewFareClub tr th.Saver_bareFare div.resPopupareaContent {
    bottom: 10em;
    top: -13.214em;}
.en-US #content .bundleFare.availability_calander .flightOptionsSort thead tr th.Ndfc_bareFare div.resPopupareaContent, .en-US #content .ModifyourNewFareClub tr th.Ndfc_bareFare div.resPopupareaContent {
    bottom: 10em;
    top: -13.429em;}
}
div.resPopupareaContent div.popUpWrapperTail {left: 22em;}
.popUpWrapper.flightNumberWrapper.onePercent {left:19.286em !important;}                                 
.es-PR header.main_header nav.top_nav ul li.dropdown-menu ul.sub-menu li a {width: 12.571em;}
#content header.car_upsell {width: 64.857em;}
#content section.all_cars ul li section.upsell_info div.car_info {width: 23.571em;}
#content section.all_cars ul li section.upsell_info div.amount {padding-top: 25px; width: 22.714em;}
#content section.show_all_flight_car ul li section.upsell_info div.amount div.amount_wrapper {width: 4.861em;}
#content section.upsell_list ul li section.more_info div.car_upsell_more ul li {height: 2.143em;}
#content section.upsell_list ul li section.more_info div.car_upsell_more ul li a {height: 2.143em; line-height: 2.143em; padding: 0 1.429em;}
#content section.upsell_list ul li section.more_info div.car_upsell_more_info {width: 62.643em;}
#content section.upsell_list ul li section.more_info section div.car_upsell_more_info div.right_column div span {width: 8.571em;}
.seat_content {width: 27.571em !important;}
.bfs_box ul {margin-left: 1.143em;}
.seat_content .selectSeat {width: 27.571em;}
.bagSeatAgent {
    background: #ffec00 url("../images/Bag-Seat-Agent-Upsell.png") no-repeat scroll left bottom;
    min-height: 400px;
    width: 51em;}
div.bagSeatAgent > .btnWrap {margin-top: 1.429em; width: 24.214em;}
.es-PR .bagSeatAgent {
    background: #ffec00 url("../images/Bag-Seat-Agent-Upsel-PR.png") no-repeat scroll left bottom;
    min-height: 400px;
    width: 51em;}
.modalWindow.fastLaneBareFare .ui-dialog-titlebar { background: #ffec00 !important}
#travelguardInsurance .unexpectedlist ul li {width: 15.417em;}
#content header.dpp_calender_page {width: 64.857em;}
#content .dpp_calender_page_details {width: 64.857em;}
.dpp_calender_ad {width: 15.143em;}
#content .availability_calander .dpp_calender_page_details .calendar_legend {width: 10.714em;}
#content .availability_calander .dpp_calender_market {width: 52.692em;}
#content .availability_calander .dpp_calender_market table {width: 52.692em;}
#content .dpp_calender_page_details .dpp_calender_market table#availabilityCalendar td.table_thead_caption, #content .dpp_calender_page_details .dpp_calender_market table.availabilityCalendar td.table_thead_caption {height: 3.929em;}
#content .availability_calander td.table_thead_caption {width: 35em !important;}
.dpp_calender_market > table > tbody > tr > td > a {width: 7.667em;}
#content .dpp_calender_page_details .award_toggle_control div {height: 5.5em; width: 9.6em;}
.availability_calander table.flightOptionsSort > tbody > tr > td {height: 4.083em;}
#content .bundleFare .tax_rate_block_FA {width: 61.286em;}
#dpp_page_itinerary {width: 67.429em;}
#dpp_page_itinerary .dpp_itinerary_details {width: 66.714em;}
#dpp_page_itinerary .dpp_itinerary_details table.flight_availabilty_itinerary {width: 31.8em;}
#content .bundleFare.availability_calander .flightOptionsSort thead tr th.Saver_bareFare div.resPopupareaContent, #content .ModifyourNewFareClub tr th.Saver_bareFare div.resPopupareaContent {
    left: -11.071em;
    width: 29.571em;}
#content .bundleFare.availability_calander .flightOptionsSort thead tr th.Saver_bareFare div.resPopupareaContent div.popUpWrapperTail, #content .ModifyourNewFareClub tr th.Saver_bareFare div.resPopupareaContent div.popUpWrapperTail {
    left: 18.357em;}
#content .bundleFare.availability_calander .flightOptionsSort thead tr th.Ndfc_bareFare div.resPopupareaContent, #content .ModifyourNewFareClub tr th.Ndfc_bareFare div.resPopupareaContent {
    left: -20.571em;
    width: 28.371em;}

#content .bundleFare.availability_calander .flightOptionsSort thead tr th.Ndfc_bareFare div.resPopupareaContent div.popUpWrapperTail, #content .ModifyourNewFareClub tr th.Ndfc_bareFare div.resPopupareaContent div.popUpWrapperTail {
    left: 27.857em;}
td.bareFare .popUpFareWrapper, td.noBareFare .popUpFareWrapper {margin-left: -10em; width: 17.143em;}
#content .bundleFare.availability_calander .flightOptionsSort thead tr th.Saver_bareFare div.resPopupareaContent, #content .ModifyourNewFareClub tr th.Saver_bareFare div.resPopupareaContent {
    bottom: 10.357em;
    top: -14.286em;}
#content .bundleFare.availability_calander .flightOptionsSort thead tr th.Ndfc_bareFare div.resPopupareaContent, #content .ModifyourNewFareClub tr th.Ndfc_bareFare div.resPopupareaContent {
    bottom: 10.571em;
    top: -12.5em;}
td.stops .popUpWrapper.flightNumberWrapper.onePercent {left:0 !important;}
#travelguardInsurance span.checkInsurance, #travelguardInsurance span.checkpurchaseTravelInsurance {top: 5px;}
#travelguardInsurance span.checkInsurance input, 
#travelguardInsurance span.checkedInsurance input, 
#travelguardInsurance span.checkpurchaseTravelInsurance input, 
#travelguardInsurance span.checkedpurchaseTravelInsurance input {top: 6px; position:absolute;}
body.es-PR #travelguardInsurance .travelguardInsuranceIncluderight span {width: 77%;}
#travelguardInsurance .travelguardInsuranceIncluderight {margin-top: 5px;}
body.es-PR #travelguardInsurance .travelguardInsuranceIncluderight { margin-top: 8px;}
body.es-PR #travelguardInsurance .unexpectedlist ul li {
    width: 20.556em;
}
.dpp_calender_market > table > tbody > tr > td.good > a {width: 6.667em;}
.availability_calander.modify .dpp_calender_market caption, #content .availability_calander .taPortal caption.table_thead_caption {width: 42em !important;}
#modalContentBagsUpsell div.savingsButtonGroup > div a.button, 
#modalContentBagsUpsellModifyPath div.savingsButtonGroup > div a.button, 
#modalContentBagsUpsellCheckin div.savingsButtonGroup > div a.button {height: 1.125em; line-height: 1.125em; min-width: 12.188em;}
.section_block.login_continue fieldset ul li.field {width: 25.214em;}
.section_block.login_continue fieldset ul li.field.action {width: 7.857em;}
.section_block.login_continue fieldset ul li.field input[type="text"], .section_block.login_continue fieldset ul li.field input[type="password"] {width: 20.375em !important;}
.login_continue fieldset ul li.field.action {padding-top: 0.857em;}
#content div.callout .inline_title {width: 12em;}
.section_block.login_continue fieldset ul li.field.action {padding-top: 0.929em;}
.flight_status_BI div.flight_status_tabs {width: 100%;}
#content .flight_status_tabs ul.tabs li a {padding-left:0.833em !important; width: 17.917em;}
.flight_status_BI .fs_tabcontain li {height: 7.5em;}
.flight_status_BI .fs_tabcontain li.radio_btns span.flifo_date {width: 11.944em;}
.flight_status_BI .fs_tabcontain li.field input[type="text"] {width: 20.5em;}
.flight_status_BI .flight_status_heading {width:100%;}
.departing_city {padding-left: 55px !important; width: 11.667em !important;}
.arriving_city {padding-left: 50px !important; width: 9em !important;}
.date_of_search {padding-top: 31px !important; width: 11.583em !important;}
.flight_status_BI .flight_status_table td div.column1 {width: 13.714em;}
.flight_status_BI .flight_status_table td div.column2 {width: 13.643em;}
.flight_status_BI .flight_status_table td div.column3 {width: 11.143em;}
.flight_status_BI .flight_status_table.close td div.column4 {width: 21.5em;}
.flight_status_BI .flight_status_table td div.column4 .indicators {width: 8.286em;}
.flight_status_BI .flight_status_table td span.color_indicators {width: 7.667em; height: auto; padding: 1em 0;}
.flight_status_BI .flight_status_table td div.column4 .more_info_area {width: 8.714em;}
.flight_status_BI .flight_status_table td div.column4 .more_info_area a.button {padding: 0.5em 0; width: 7.643em;}
.flight_status_BI .flight_status_table td div.column4 {width: 23.429em;}
.flight_status_BI .flight_status_table.open td div.column4 div.bottom_area {width: 22em;}
.flight_status_BI .flight_status_information .get_updates {height: 1.429em;}
.flight_status_BI .flight_status_information .get_updates a {height: 2.25em; padding-top: 6px; width: 11.833em;top: -12px;}
.flight_status_BI .flight_status_information .get_updates_tab {width: 100%;}
.flight_status_BI .flight_status_information .get_updates_tab .get_updates_form {height: 3.786em;}
.flight_status_BI .flight_status_information .get_updates_tab .get_updates_form input[type="text"] {width: 36.875em;}
.bagmodelcheckin {width: 39.857em;}
.protip {height: 1.875em; width: 1.958em;}
.bagContentcheckin {height: 3em; width: 12.8em;}
#bags_floatbox .bagmodelcheckin a {width: 11.35em !important;}
#bags_floatbox a {padding: 0.5em 20px;}
#online_checkin_itinerary {width: 65em;}
#online_checkin_itinerary .start_online_checkin_itinerary {width: 65em;}
#online_checkin_itinerary .h3 {padding: 15px 1.056em 0; width: 48.333em;}
#online_checkin_itinerary .itinerary_item_details, #online_checkin_itinerary .itinerary_item_details_name {width: 62.143em;}
#online_checkin_itinerary .itinerary_item_details .itinerary_item_details_column1 {width: 26.429em;}
#online_checkin_itinerary .itinerary_item_details .itinerary_item_details_column2 {width: 18.571em;}
#online_checkin_itinerary .itinerary_item_details .itinerary_item_details_column4 {width: 5.714em;}
#online_checkin_itinerary .itinerary_item_details .itinerary_item_details_column5 {width: 10em;}
.itinerary_item_details_column1_smallText{width:30.833em !important}
.itinerary_item_details_column2_smallText{width:21.667em !important}
.itinerary_item_details_column4_smallText{width:6.667em !important}
.itinerary_item_details_column5_smallText{width:11.667em !important}
#online_checkin_itinerary .itinerary_item_details, #online_checkin_itinerary .itinerary_item_details_name {padding-left:1.357em; padding-right:1.357em;}
#online_checkin_itinerary .itinerary_item_details_name td.itinerary_item_details_column1 {width: 29.286em !important;}
#online_checkin_itinerary .itinerary_item_details_name td.itinerary_item_details_column2 {width: 19.286em !important;}
#online_checkin_itinerary .itinerary_item_details_name td.itinerary_item_details_column3 {width: 17.143em !important;}
#online_checkin_itinerary .itinerary_item_details_name td.itinerary_item_details_column1.breakwording{width:22.778em !important;}
div.modify_price div.total_price, ul.modify_price li {width: 11.867em !important;}
form #content fieldset li.input_small input {width: 10.625em;}
.modifstate {width:26.250em}
.es-PR .protip {height: 3.297em;  width: 4.865em;}
.es-PR .bagContentcheckin {height: 4.519em; width: 10.852em;}
.total div.modify_price div.total_price, ul.modify_price li {width: 11.429em !important;}
#modifyPurchaseSeatAndBags .itinerary_item_details_column1 {width: 30.833em;}
#modifyPurchaseSeatAndBags .itinerary_item_details_column2 {width: 20em;}
#modifyPurchaseSeatAndBags .itinerary_item_details_column3 {width: 20.833em;}
#modifyPurchaseSeat .itinerary_item_details_column1 {width: 29em;}
#modifyPurchaseSeat .itinerary_item_details_column2 {width: 39.167em;}
.section_block fieldset ul li.field {min-height: 3.714em;}
#content .standard .info_container .specialAssistance ul li {min-height: 2.429em; width: 16.5em;}
#content .standard .info_container .specialAssistance ul li:first-child {width: 25.143em;}
#content .standard .info_container .specialAssistance ul li.emotional_Poc {width: 25.214em;}
#content .standard .info_container .specialAssistance ul li:last-child {width: 36.429em;}
#content .standard .info_container .Wheelchair_services ul li.two_step p {width: 14.444em;}
.res_summary_customer_edit .customer_information ul li select {width: 23.438em;}
#content .standard .info_container div.disabilitySeatForm ul li div.expandAnimal .legalNameAttend input[type="text"] {height: 1.714em; width: 14.286em;}
#content .standard .info_container div.disabilitySeatForm ul li div.expandAnimal .legalNameAttend ul li.confCode input[type="text"] {width: 10.714em;}
#content .standard .info_container .redress ul li {width: 24.643em;}
#content .standard .info_container .redress ul li:nth-child(2) {width: 26.071em;}
#content .standard .info_container .reservation_ssr_section ul li input[type="text"] {width: 19.25em;}
#content .standard .info_container div.disabilitySeatForm ul li span.explainSeat input[type="text"] {width: 46.875em;}
.section_block fieldset ul li.field_dialog_chk {width: 2.143em;}
.section_block fieldset ul li.field_dialog {width: 22.643em;}
.section_block fieldset ul li.field_dialog_date {width: 10.714em;}
#searchWidget .section_block input[type="text"] {width: 10.875em !important;}
.freeSpiritSection {width:64.714em !important; padding-left:0px !important;}
.freeSpiritSection .left_nav {margin-left: 0 !important; width: 11.786em !important;}
.freeSpiritSection .rgtFreeSpiritPart {float:left; width:52.214em;}
.fs_profile_home .columns li {width: 25em;}
.fs_profile_home .membership_option select {width: 27.75em;}
.fs_profile_home .membership_option .button {width: 11.556em;}
form #content.fs_profile_home fieldset li.input_small input {width: 13.125em;}
.left_col .section_block fieldset ul li.field {width: 23.929em !important;}
.left_col select.title {width: 4.375em;}
.left_col input[type="text"], .left_col input[type="password"], .left_col textarea {width: 19.25em;}
.left_col select {width: 20.5em;}
.left_col select.month {width: 7.875em;}
.left_col select.day {width: 4.688em;}
.left_col select.year {width: 5.375em;}
.section_block fieldset ul li.field.date_select.expiration_date.last{margin-right:0px !important;}
.email_signup .section_block fieldset ul li.field.last {width: 28.214em;}
.email_signup .section_block fieldset ul li.field.last .button {margin-top: 0.778em;}
.fs_profile_request .section_block.form {margin-top: 2.857em !important; width: 22.143em; height: 4.786em !important;}
form #content.fs_profile_request fieldset li.input_small input {width: 11.25em !important;}
.fs_profile_statements .section_block fieldset ul li.field select {width: 18.125em;}
#content.fs_profile_statements .section_block fieldset ul li.field {width: auto !important;}
.es-PR .fs_profile_statements .section_block fieldset ul li.field select {width: 17.813em;}
#travelInsuranceCheckBoxMask, .checkBoxMask {height: 1.143em !important; width: 1.143em !important;}
#travelInsuranceOffer .checkboxWrap #travelInsuranceCheckBoxMask {top: 1.071em;}
#purchase_page a.tabindexcheckbutt, #purchaseExternalAccount a.tabindexcheckbutt, #travelInsuranceCheckBoxMask a.tabindexcheckbutt, #ModifyItineraryPricingGroup a.tabindexcheckbutt {
    height: 1em;
}
.tables.additional.total .total_purchase_price.modify_price div.total_price {
    width: 25.429em !important;
}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
#content section.upsell_list ul li section.upsell_info {width:30em; height:11.714em;}
#select_hotel_room ul.memberfare li div.fare {height: 3.8em; width: 9.32em;}
}