/**
Theme Name: NewGen
Theme URI: http://royalwpthemes.com/newgen/
Author: RoyalwpThemes
Author URI: http://themeforest.net/user/RoyalwpThemes/portfolio
Version: 1.2
Description: Premium News/Magazine WordPress Theme
License:
License URI: 
Tags: dark, light, white, gray, two-columns,  custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images,  post-formats, theme-options, translation-ready
Text Domain: NewGen
*/



/*--------1.Css Reset--------------------*/
/*--------2.General----------------------*/
/*--------3.Main Menu--------------------*/ 
/*--------4.Featured---------------------*/
/*--------5.Home Page--------------------*/ 
/*--------6.Pages Content----------------*/ 
/*--------7.Post-------------------------*/ 
/*--------8.Single Content---------------*/ 
/*--------9.Page Templates---------------*/ 
/*--------10.Comments--------------------*/
/*--------11.Breadcrumbs-----------------*/
/*--------12.Search----------------------*/
/*--------13.Navigation------------------*/
/*--------14.Contact form----------------*/
/*--------15.Sidebars--------------------*/
/*--------16.Footer----------------------*/
/*--------17.Widgets---------------------*/






/*---------------------------*/
/*--------1.Css Reset--------*/
/*---------------------------*/

html, body, div {font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;}caption, th, td {text-align:left;font-weight:normal;}table {border-collapse:separate;border-spacing:0;}blockquote:before,blockquote:after,q:before,q:after {content: "";}blockquote, q {quotes: "" "";}
* {margin:0;padding:0;}
p{text-indent:10px; margin: 5px 0 10px 0;}
img {border:0px;}
p img {margin: 5px 0 5px 0px; padding:0; max-width:100%;}
table, th, td, tr{ padding: 8px; border: 1px solid #D8D8D8; border-collapse: collapse;}
body{ font-family:  Arial, sans-serif; font-size:14px; color: #3e3e3e; background-color: #fff;}
blockquote {font-family: Georgia, serif;font-size: 18px;font-style: italic;width: 85%;margin: 12px 0px;padding: 20px 20px 10px 40px;line-height: 160%;position: relative;color: #383838;background:#f1f1f1;}
blockquote:before {display: block;content: "\201C";font-size: 80px;position: absolute;left: -10px;top: 30px;color: #7a7a7a;}
blockquote cite {color: #999999;font-size: 14px;display: block;margin-top: 5px;}
blockquote cite:before {content: "\2014 \2009";}
.clear{ clear: both; }
h1 {font-size: 30px; color: #000; font-weight: 300; line-height: 180%;}
h2 {font-size: 24px; color: #000; font-weight: 300; line-height: 180%;}
h3 {font-size: 22px; color: #000; font-weight: 300; line-height: 180%;}
h4 {font-size: 19px; color: #000; font-weight: 300; line-height: 180%;}
h5 {font-size: 16px; color: #000; font-weight: 300; line-height: 220%;}
h6 {font-size: 14px; color: #000; font-weight: 300; line-height: 240%;}
a {color:#f14d4d; text-decoration:none;} 
a:hover {color: #fb8383; text-decoration:none;} 
ul, li{list-style: none; list-style-type: none;}
code, pre {display: block; background: #d9d9d9; border: 1px solid #ccc; overflow: scroll; padding: 10px;}
img.centered {display: block; margin-left: auto; margin-right: auto;}
img.alignright {margin: 10px 0px 2px 15px!important; display: inline-block;}
img.alignleft {margin: 10px 15px 2px 0px!important; display: inline-block;}
.wp-caption.aligncenter {display: block; margin-left: auto; margin-right: auto}
.wp-caption.alignright {float:right; margin:0 0 1em 1em;}
.wp-caption.alignleft {float:left; margin:0 1em 1em 0;}	
.aligncenter, div.aligncenter {display: block;}
.alignright {float: right!important;}
.alignleft {float: left!important;}
.left{float: left!important;}
.right{float: right!important;}
.gallery-caption {text-align:center;}
.sticky {background: #edf8ff!important;}
.bypostauthor {}
.noside{text-align:center;padding:10px;}
.hide{display: none;}




/*---------------------------*/
/*--------2.General----------*/
/*---------------------------*/



#all_content{
background-color: #fff;
width: 100%;
-webkit-transition: all .3s ease;
}

#all_content.boxed_width{
background-color: #fff;
max-width: 1140px;
margin: 0px auto;
box-shadow: 0px 1px 5px #999;
}

.inner{
height:100%;
max-width: 1140px!important;
position:relative;
clear:both;
text-align:left;
margin: 0px auto;
padding: 0px 10px;
}

.inner_woo{
height:100%;
max-width: 1160px!important;
position:relative;
clear:both;
text-align:left;
margin: 0px auto;
}


body.category, body.single  {
background-color: #f5f5f5!important;
}



#header {
background: #fff;
min-height: 110px;
display: inline-block;
float: left;
width: 100%;
-webkit-transition: all .3s ease;
}

#header_top_menu {
background: url("images/header_top_menu.png") repeat-x bottom #eee;
height: auto;
display: inline-block;
width: 100%;
-webkit-transition: all .3s ease;
}


#soc_book{
width: auto;
float: right;
margin: 5px 0px 1px 0px;
display: inline-block;
}

#soc_book img{
width: 24px;
height: 24px;
display: inline-block;
opacity: 1;
transition:all 0.2s ease-in-out;
}

#soc_book img:hover{
opacity: 0.6;
}

#title_box{
display: inline-block;
width: 230px;
height: auto;
float: left;
margin: 17px 0px 0px 0px;
}

#all_content.boxed_width #title_box{
margin: 17px 0px 0px 10px;
}

#title_box img{
display: inline-block;
width: auto;
max-width: 230px;
float: left;
}


#title_box_full{
display: inline-block;
position: relative;
width: 100%;
height: auto;
float: left;
margin: 7px 0px 5px 0px;
}

#title_box_full img{
display: inline-block;
width: 100%;
height: auto;
}



.site_title h1{
color: #555;
font-size: 30px;
position: relative;
display: block;
font-weight: normal;
line-height: 150%;
margin: 7px 0px 0 0px;
}

.site_title h1:hover{
color: #f14d4d;
}


#banner-header{
display: inline-block;
margin: 18px 0px 10px 0px;
float: right;
}

#banner-header img{
width: 468px;
height: 60px;
}

#banner_header_728{
display: inline-block;
margin: 10px 0px 0px 0px;
float: right;
}

#banner_header_728 img{
width: auto;
max-width: 728px;
height: auto;
}




#header_top_menu .login{
background: url("images/user_plus.png") no-repeat;
display: inline-block;
float: right;
width: 25px;
height: 25px;
margin: 5px 10px 0px 0px;
text-indent: -9999px;
opacity: 0.8;
transition:all 0.2s ease-in-out;
}

#header_top_menu .login:hover, #header_top_menu .logout:hover, #header_top_menu .user_profile:hover{
opacity: 1;
}

#header_top_menu .logout{
background: url("images/user_minus.png") no-repeat;
display: inline-block;
float: right;
width: 25px;
height: 25px;
margin: 5px 10px 0px 0px;
text-indent: -9999px;
opacity: 0.8;
}

#header_top_menu .user_profile{
background: url("images/user_profile.png") no-repeat;
display: inline-block;
float: right;
width: 25px;
height: 25px;
margin: 5px 5px 0px 0px;
text-indent: -9999px;
opacity: 0.8;
}

#login-box label{
margin: 0px 0px 0px -6px!important;
}

#login-box .close-btn{
margin: 7px 7px 0px 0px!important;
}

/*------------------------------------*/
/*----------3.Main Menu---------------*/ 
/*------------------------------------*/


#mainMenu {
display: block;
width: 100%;
max-width: 1140px!important;
position:relative;
margin: 0px auto;
}

#menu_box {
background: #222;
display: block;
width: 100%;
margin: 0px 0px 0px 0px;
}


#mainMenu select {
display: none; 
float: left;
position: relative;
margin: 6px 0px 3px 20px;
width: 96%;
height: 27px;
}

#mainMenu ul li{
background: #222;
float:left;
}

#mainMenu ul li a {
border-right: 1px solid #353535;
display:block;
line-height: 35px;
color: #ddd;
padding: 4px 11px;
font-size: 16px;
font-weight: normal;
text-transform: uppercase!important;
}


#mega_main_menu.mega_main_menu{
border-left: none!important;
border-right: none!important;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
outline-style: none!important;
}


#megaMenu .um-img{
padding: 2px 0px 0 0px!important;
width: auto!important;
}

#mega_main_menu .link_text{
font-size: 14px!important;
font-weight: normal;
text-transform: uppercase;
}

#mega_main_menu .item_link.with_icon i{
padding: 0px 10px 0px 0px!important;
opacity: 0.8;
}

#mega_main_menu ul ul .item_link.with_icon i{
line-height: 12px!important;
}

#mega_main_menu .item_link {
padding-left: 16px!important;
padding-right: 16px!important;
}



#mainMenu ul li.current-menu-parent > a,
#mainMenu ul li.current_page_item > a,
#mainMenu ul li.current-menu-ancestor > a,
#mainMenu ul li.current-post-ancestor > a,
#mainMenu ul li.current-menu-item > a{
text-decoration:none;
color: #fff;
background: #1aaad9; 
}

#mainMenu ul li a:hover {
text-decoration:none;
color: #fff;
background: #1aaad9; 
}

#mainMenu.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

#mainMenu.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

* html #mainMenu.ddsmoothmenu ul li a{ 
display: inline-block;
}

#mainMenu.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; 
visibility: hidden;
width:auto;
box-shadow: 1px 1px 3px #666;
}

#mainMenu.ddsmoothmenu ul li ul li{
background: none;
float: none;
display: list-item;
padding:0;
}

#mainMenu.ddsmoothmenu ul li ul li a{
background: url("images/sub_menu_line.png") repeat-x bottom #333;
text-align:left;
margin:0;
padding: 7px 20px 7px 10px;
line-height: 20px;
width: 175px;
height:1%;
text-transform: uppercase;
font-size:10px;
color: #fff;
text-shadow: none;
}

#mainMenu.ddsmoothmenu ul li ul li.current-post-ancestor > a,
#mainMenu.ddsmoothmenu ul li ul li.current-menu-ancestor > a{
color: #fff;
background: #ffae00; 
cursor: pointer;
box-shadow: none;
}

#mainMenu.ddsmoothmenu ul li ul li.current-menu-item > a{
color: #fff;
background: #ffae00; 
box-shadow: none;
}

#mainMenu.ddsmoothmenu ul li ul li a:hover {
color: #fff;
background: #ffae00; 
}

#mainMenu.ddsmoothmenu ul li ul li a.last, #mainMenu.ddsmoothmenu ul li ul li a.last:hover {
border:none;	
}

* html #mainMenu.ddsmoothmenu{
height: 1%;
} 




#secondaryMenu{
display: inline-block;
width: 65%;
height: 35px;
margin: 0px;
}

#secondaryMenu ul li{
margin: 0; 
padding: 0; 
border: none; 
list-style: none;
display: inline-block;
}

#secondaryMenu ul li a{
line-height: 35px;
display: block;
width: 100%;
margin: 0px 10px 0px 0px;
color: #333;
font-size: 12px;
text-transform: uppercase; 
background: none;
transition:all 0.2s ease-in-out;
}

#secondaryMenu ul li a:hover{
color: red;
}





/*----------------------------*/
/*---------4.Featured---------*/
/*----------------------------*/



.ticker_box{
background: url("images/black_line.png") repeat-x bottom #f9f9f9;
width: 100%;
height:37px;
}

.modern-ticker{
background: url("images/color_line.png") repeat-x bottom;
width: 100%;
height:37px;
line-height:30px;
overflow:hidden;
}

.mt-label{
background: url("images/ticker_icon.png") no-repeat left;
margin-right:2px;
padding: 0px 8px 0 20px;
position:absolute;
left:0;
color: red;
font-weight: normal;
font-size: 14px;
text-transform: uppercase;
overflow:hidden;
}

.modern-ticker a{
text-decoration:none;
}

.mt-news a{
display: inline-block;
white-space:nowrap;
padding: 0 20px 0 0px;
margin-right:2px;
font-size:13px;
color: #333;
transition:all 0.2s ease-in-out;
text-transform: uppercase;
}

.mt-news a:hover{
color: red;
}


.modern-ticker .custom_cat_class{
color:#fff!important;
display: inline-block;
text-transform:uppercase;
font-size:11px;
line-height: 14px;
color:#fff;
text-decoration: none;
margin: 0px 3px 0px 20px;
padding: 2px 5px!important;
font-weight: 400;
}

.modern-ticker ul{
margin:0;
padding:0;
list-style:none;
}

.mt-body{
margin:2px;
position:relative;
}

.mt-news{
overflow:hidden;
position:absolute;
}

.mt-news li{
float:left;
}


.mt-hide{
display:none;
}

.mt-controls{
margin-left:2px;
position:absolute;
right:0;
background-repeat:no-repeat;
background-position:-1000px;
}

.mt-next,.mt-prev{
width: 30px;
height: 30px;
float:left;
cursor:pointer;
transition:all 0.2s ease-in-out;
}

.mt-next:hover,.mt-prev:hover{
opacity: 0.6;
}

.mt-play {
display:none;
}

.mt-prev {
background: url("images/ticker_arrow_left.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.mt-next {
background: url("images/ticker_arrow_right.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}





#fwslider {
position: relative;
display: inline-block;
overflow: hidden;
width: 100%;
max-width: 1140px;
margin: 0px 0px 10px 0px;
height: 500px;
}

#fwslider.fwslider_standard{
margin: 0px 0px 30px 0px;
}

#fwslider .slide {
display: none;
position: absolute;
top:0;
left:0;
z-index: 0;
width:100%;
}

#fwslider .slide img {
display: block;
width:100%;
max-height: 500px!important;
}

#fwslider .slidePrev {
background:#000;
width: 40px;
height: 40px;
position: absolute;
top: 40%!important;
left: 20px!important;
opacity: 0.5;
z-index: 10;
border-radius: 100px;
}

#fwslider .slidePrev span {
background-image:url("images/left_arrow.png");
width: 40px;
height: 40px;
float:left;
background-position: 50% 45%;
background-repeat: no-repeat;
cursor: pointer;
}

#fwslider .slideNext {
background:#000;
width: 40px;
height: 40px;
position: absolute;
top: 40%!important;
right: 20px!important;
opacity: 0.5;
z-index: 10;
border-radius: 100px;
}

#fwslider .slideNext span {
background-image:url("images/right_arrow.png");
width: 40px;
height: 40px;
float:left;
background-position: 50% 50%;
background-repeat: no-repeat;
cursor: pointer;
}

#fwslider .timers {
width: 100%!important;
height:5px;
position: absolute;
bottom: 20px;
left: 40px;
z-index: 3;
}

#fwslider .timer {
display: none;
height:5px;
width: 56px;
background-color: #000;
float:left;
margin-right: 5px;
}

#fwslider .progress {
height:5px;
width:0%;
background-color: #ff0000;
float:left;
}


.slide_content_box{
background: url("images/big_shadow.png") repeat-x bottom;
width:100%;
height: 200px;
position: absolute;
left:0;
bottom: 0;
}

#fwslider .slide_content {
left:0;
position: absolute;
width:100%;
height:100%;
}

#fwslider .slide_content_wrap { 
display: inline-block;
width: 100%;
height: 200px;
margin: 60px 0px 0px 0px;
padding: 0px 35px;
}

#fwslider .slide_content_wrap p{ 
text-indent: 0px;
}

#fwslider .title {  
display: inline-block;
opacity: 0;
color:#fff;     
font-size: 35px;
line-height: 40px;
padding: 0px 0px 6px 0px;
margin: 0px 0px 0px 0px;
float:left;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
text-shadow: 1px 1px 0px #333;
}

#fwslider .title a{  
color:#fff;     
}

#fwslider .slide_time{ 
background: #f14d4d;
display: inline-block;
text-transform:uppercase;
font-size:11px;
color:#fff;
text-decoration: none;
margin: 10px 0px 10px 3px;
padding: 2px 5px;
font-weight: 400;
}

#fwslider .slide_cats{ 
display: inline-block;
margin: 10px 0px 15px 0px;
}

#fwslider .custom_cat_class{ 
padding: 2px 5px;
}


.fullwidthbanner-container{
width:100%;
position:relative;
padding:0;
margin: 0px 0px 15px 0px;
overflow:hidden;
visibility:hidden;
}

.fullwidthbanner-container .fullwidthbanner{
width:100%;
position:relative;
}

.caption.fullscreenvideo {left:0px; top:0px; position:absolute;width:100%;height:100%;}
.caption.fullscreenvideo iframe,
.caption.fullscreenvideo video{ border: none; width:100% !important; height:100% !important; display: none}

.tp-caption.fullscreenvideo {left:0px; top:0px; position:absolute;width:100%;height:100%;}
.tp-caption.fullscreenvideo iframe,
.tp-caption.fullscreenvideo iframe video{border: none; width:100% !important; height:100% !important; display: none;}

.fullscreenvideo .vjs-loading-spinner { visibility:none;display:none !important; width:0px;height:0px;}
.fullscreenvideo .vjs-control-bar.vjs-fade-out,
.fullscreenvideo .vjs-control-bar.vjs-fade-in,
.fullscreenvideo .vjs-control-bar.vjs-fade-out.vjs-lock-showing,
.fullscreenvideo .vjs-control-bar.vjs-fade-in.vjs-lock-showing{visibility: hidden !important; opacity: 0 !important;display:none !important;width:0px;height:0px;overflow: hidden;}
.fullcoveredvideo.video-js,
.fullcoveredvideo video{	background: transparent !important;}
.fullcoveredvideo .vjs-poster{background-position: center center;background-size: cover;width:100%;height:100%;top:0px;left:0px;}

.tp-hide-revslider,.tp-caption.tp-hidden-caption{visibility:hidden !important; display:none !important;}

.tp-caption { z-index:1; white-space: nowrap;}

.tp-caption-demo .tp-caption	{	
position:relative !important; 
display:inline-block; 
margin-bottom: 110px; 
margin-right:20px !important;
}

.tp-caption.medium_bg_red a {
color: #fff;
text-decoration: none;
}

.tp-caption.medium_bg_red {
font-size:20px;
line-height:20px;
font-weight:800;
color: #fff;
text-transform:uppercase;
text-decoration:none;
background-color:rgb(227, 58, 12);
padding: 10px 15px;
margin-bottom: 110px; 
}

.tp-caption.large_bg_black a{
font-size: 30px;
line-height:40px;
font-weight:800;
color: #fff;
text-decoration:none;
background-color: #000;
text-transform:uppercase;
padding: 10px 20px;
transition:all 0.2s ease-in-out;
}

.tp-caption.large_bg_black a:hover{
background-color:rgb(227, 58, 12);
}

.tp_inner_padding{
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
max-height:none !important;	
}

.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";		-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; */
position:absolute;visibility: hidden;
-webkit-font-smoothing: antialiased !important;
}

.tp-simpleresponsive img	{	max-width:none;}

.noFilterClass {
filter:none !important;
}

.tpclear{clear:both;}

.tp-bullets{	
z-index:1000; position:absolute;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;-webkit-transform: translateZ(5px);
}

.tp-bullets.hidebullets{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}

.tp-bullets.simplebullets.round .bullet{
cursor:pointer; position:relative;	
background: url("images/bullet_boxed.png") no-Repeat top left;	
width: 18px;	height:19px;  margin-right:0px; float:left; margin-top:0px; margin-left:3px; margin-bottom: 20px;
}

.tp-bullets.simplebullets.round .bullet.last{	margin-right:3px;}

.tp-bullets.simplebullets.navbar .bullet.first{	margin-left:0px !important;}
.tp-bullets.simplebullets.navbar .bullet.last{	margin-right:0px !important;}

.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected{	background-position:top left; }

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected{	background-position:bottom left; }


.tparrows{	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;			-webkit-transform: translateZ(5px);
}
														
.tparrows.hidearrows{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}

.tp-leftarrow{	
z-index:100;cursor:pointer; position:relative;	
background: url("images/left_arrow.png") no-Repeat center center rgba(0,0,0,0.5);	
width:40px;	
height:40px;
border-radius: 3px;  
transition:all 0.2s ease-in-out;
}

.tp-leftarrow:hover{	
background: url("images/left_arrow.png") no-Repeat center center rgba(0,0,0,0.8);	
}

.tp-rightarrow{	
z-index:100;cursor:pointer; position:relative;	
background: url("images/right_arrow.png") no-Repeat center center rgba(0,0,0,0.5);		
width:40px;	
height:40px; 
border-radius: 3px;
transition:all 0.2s ease-in-out;
}
.tp-rightarrow:hover{	
background: url("images/right_arrow.png") no-Repeat center center rgba(0,0,0,0.8);		
}

.tp-bannertimer{	
width:100%; height:10px; 
background: url("images/timer.png");
position:absolute; z-index:200;top:0px;
}

.tp-bannertimer.tp-bottom{	bottom:0px;height:5px; top:auto;}

@media only screen and (min-width: 0px) and (max-width: 479px) {
.tp-bullets{display:none}
.tparrows{	display:none;}
}

 .tp-simpleresponsive img {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
}

.tp-simpleresponsive a{	text-decoration:none;}

.tp-simpleresponsive ul {
list-style:none;
padding:0;
margin:0;
}

.tp-simpleresponsive >ul >li{
list-stye:none;
position:absolute;
visibility:hidden;
}

.tp-loader{	  
top:50%; left:50%; 
z-index:10000; 
position:absolute;
}
			
.tp-loader.spinner0 {
width: 40px;
height: 40px;
background: url("images/loader.gif") no-repeat center center;
background-color: #fff;
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);  
margin-top:-20px;
margin-left:-20px;
-webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
animation: tp-rotateplane 1.2s infinite ease-in-out;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}




/* Slicebox Style */

#sb_slider_box{
position: relative;
width: 100%;
padding: 0px;
margin: 0px auto;
}

#sidebar_slicebox{
margin-top: -10px;
}

.sb-slider {
margin: 0px auto;
display: inline-block;
position: relative;
overflow: hidden;
width: 100%;
list-style-type: none;
padding: 0;
}

.sb-slider li {
margin: 0;
padding: 0;
display: none;
}

.sb-slider li > a {
outline: none;
}

.sb-slider li > a img {
border: none;
}

.sb-slider img {
max-width: 100%;
display: block;
}

.sb-description {
padding: 20px;
bottom: 60px;
left: 10px;
right: 10px;
z-index: 1000;
position: absolute;
background: rgba(0,0,0, 0.4);
border-left: 4px solid red;
opacity: 0;
color: #fff;
-webkit-transition: all 200ms;
-moz-transition: all 200ms;
-o-transition: all 200ms;
-ms-transition: all 200ms;
transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
background: rgba(0,0,0, 0.7);
}

.sb-perspective {
position: relative;
}

.sb-perspective > div {
position: absolute;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-backface-visibility : hidden;
-moz-backface-visibility : hidden;
-o-backface-visibility : hidden;
-ms-backface-visibility : hidden;
backface-visibility : hidden;
}

.sb-side {
margin: 0;
display: block;
position: absolute;
-moz-backface-visibility : hidden;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}


.shadow {
width: 100%;
height: 168px;
margin-top: -120px;
background: url(images/shadow.png) no-repeat bottom center;
background-size: 100% 100%; /* stretches it */
display: none;
}

.sb-description h3 {
line-height: 25px;
}

.sb-description h3 a {
font-size: 20px;
color: #fff;
text-transform: uppercase;
}

.nav-arrows {
display: none;
}

.nav-arrows a {
display: inline-block;
width: 42px;
height: 42px;
background: #222 url(images/nav.png) no-repeat top left;
position: absolute;
top: 40%;
left: 0px;
text-indent: -9000px;
cursor: pointer;
margin-top: -21px;
opacity: 0.7;
border-radius: 0px 3px 3px 0px;
}

.nav-arrows a:first-child{
left: auto;
right: 2px;
background-position: top right;
border-radius: 3px 0px 0px 3px;
}

.nav-arrows a:hover {
opacity: 1;
}





/*----------------------------*/ 
/*---------5.Home Page--------*/ 
/*----------------------------*/ 


#main_content{
display: inline-block;
padding: 20px 0px;
width: 100%;
}

#main_content p{
margin: 0px;
padding: 0px;
}

#home_content{
width: 70%;
margin: 20px 0px 25px 0px;
padding: 0px;
display: inline-block;
float: left;
}

#home_content.home_full_width{
width: 99.7%!important;
margin: 20px 0px 25px 0px;
padding: 0px;
display: inline-block;
float: left;
}


#home_content.home_with_small_sidebar{
width: 50.9%;
margin: 20px 0px 25px 0px;
padding: 0px;
display: inline-block;
float: left;
}



	
	
/*----------------------------*/
/*-------6.Pages Content------*/ 
/*----------------------------*/



#content {
width: 70%;
margin: 10px 0px 25px 0px;
padding: 0px;
display: inline-block;
float: left;
}

#content._2_sidebar, #content._small_sidebar_left{
width: 50%;
margin: 10px 0px 25px 0px;
padding: 0px;
display: inline-block;
float: left;
}


#content._2_sidebar{
margin: 10px 10px 25px 0px;
}

.index_2_sidebar #sidebar-small {
margin: 10px 0px 0px 2.2%;
} 

.index_small_left #sidebar-small {
margin: 10px 2.2% 0px 0px;
} 

#content .page, #content .product {
display: none;
}

.inner_woo #content .product {
display: inline-block;
}


/*------------------------------*/ 
/*------------7.Post------------*/ 
/*------------------------------*/ 


.custom_cat_class{ 
color:#fff!important;
background-color: #a8e000;
display: inline-block;
text-transform:uppercase;
font-size:11px;
color:#fff;
text-decoration: none;
margin-right: 4px;
padding: 1px 5px;
font-weight: 400;
}


.photo {
display: inline-block;
margin: 0px 0px 15px 0px;
width: 100%;
background-attachment: fixed;
background-position: 50% 0;
background-repeat: no-repeat;
height: auto;
position: relative;
}

.photo_bg_shadow{
background: url("images/widget_slider_shadow.png") repeat-x bottom;
min-height: 200px;
position: relative;
}

.photo_bg{
background: url("images/photo_bg.png") ;
position: relative;
}

.photo_bg h1{
border: 2px solid #fff;
display: inline-block;
color:#fff;     
font-size: 40px;
line-height: 40px;
padding: 4px 10px 6px 10px;
margin: 120px 20px 0px 20px;
float:left;
font-weight: normal;
text-transform: uppercase;
}

.photo_bg p{
display: block;
padding: 135px 10px 20px 20px!important;
font-size: 20px!important;
color:#fff; 
text-indent: 0px;
}


.mosaicflow__column {
float:left;
}

.mosaicflow {
display: inline-block;
width: 100%;
}

#content .mosaicflow {
display: inline-block;
width: 103.2%;
}


.post, .product, .ajde_events   {
border-bottom: 1px solid #e1e1e1;
border-left: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
background:#fff!important;    
position:relative;
width: 95%;
display: inline-block;
float: left;
margin: 0px;
padding: 0px 20px 20px 20px;
color: #777;
font-size: 12px;
line-height: 23px;
}

.post:first-child {
border-top: 1px solid #e1e1e1;
}

.post .home_posts_img_box, .product .home_posts_img_box, .ajde_events .home_posts_img_box {
display: inline-block;
margin: 0px 20px 0px 0px;
float: left;
overflow: hidden;
position: relative;
width: 100%;
height: auto;
padding: 0px!important;
}

.post .post_img_box, .product .post_img_box, .ajde_events .post_img_box{
width: 40%;
overflow: hidden;
display: inline-block;
float: left;
margin: 20px 20px 0px 0px;
}

.post img, .product img, .ajde_events img{
display:block;
margin: 0px;
width: 100%;
height:auto;
padding: 0px!important;

-webkit-transition:0.4s;
-moz-transition:0.4s;
-o-transition:0.4s;
transition:0.4s;
}


.post h1 a, .product h1 a, .ajde_events h1 a{
display: block;
width: 100%;
margin: 20px 0px 0px 0px;
padding: 0px;
font-size: 23px;
line-height: 32px;
font-weight: normal;
color: #000;
text-transform: uppercase;
}

.post h1 a:hover, .product h1 a:hover, .ajde_events h1 a:hover{
color: red;
}

.post p, .product p, .ajde_events p{
display: block;
width: 100%;
text-indent: 0px;
padding: 10px 0px 40px 0px!important;
color: #666;
font-size: 15px;
line-height: 24px;
}

.category_time{
background: url("images/cat_time_icon.png") no-repeat 10% 50%;
background-color: #f14d4d;
display: inline-block;
float: left;
position: absolute; 
top: 40px;
left: 0px;
text-transform:uppercase;
font-size: 12px;
line-height: 18px;
color:#fff;
text-align: center;
text-decoration: none;
margin: 0px 0px 0px 0px;
padding: 5px 5px 5px 20px!important;
font-weight: 400;
text-indent: 0px;
}

.cat_author{
background: url("images/author_icon.png") no-repeat left 40%;
background-color: #333;
display: inline-block;
position: absolute; 
top: 90px;
left: 0px;
padding: 3px 7px 3px 27px;
font-size: 12px;
line-height: 15px;
color: #ccc;
text-transform:uppercase;
}

.cat_author a{
color: #fff;
}

.cat_meta{
display: inline-block;
margin: 10px 0px 0px 0px;
}

.search .cat_meta{
display: none;
}

.post_meta_line{
display: block;
}

.product .category_time, .product .cat_author, .ajde_events .category_time, .ajde_events .cat_author{
display: none;
}




.post_time{
background: #f14d4d;
display: inline-block;
text-transform:uppercase;
font-size:11px;
line-height: 14px;
color:#fff;
text-decoration: none;
margin: 0px 2px 0px 0px;
padding: 2px 5px!important;
font-weight: 400;
text-indent: 0px;
}

.post_cats{
display: inline-block;
font-size:11px;
line-height: 16px;
}

.post_views{
background: url("images/view_icon.png") no-repeat left 50% #444;
display: inline-block;
margin: 0px 0px 0px -2px;
color: #fff;
font-size:11px;
line-height: 16px;
padding: 1px 6px 1px 21px!important;
}


.read_more{
background: #f5e104;
display: inline-block;
position: absolute; 
bottom: 0px;
right: 0px;
margin: 0px 0px 0px 0px;
padding: 5px 20px;
font-size: 14px;
font-weight: normal;
color: #fff;
text-transform: uppercase;

-webkit-transition: all .3s ease;
}

.read_more:hover{
color: #fff;
background: #555;
}

.wpb_row .post-single-rate{
background: #ff0000;
display: block;
position: relative;
width: 61px;
height: 16px;
padding: 0px 0px 0px 3px;
margin: 0px 0px 0px 0px;
}

.wpb_row .post-single-rate.hide{
display: none;
}

.wpb_row .post-single-rate.hide.custom, .wpb_row .post-single-rate.hide.top, .wpb_row .post-single-rate.hide.custom{
display: block!important;
} 

.post .post-single-rate{
background: #ff0000;
display: inline-block;
position: relative;
padding: 0px 3px 1px 3px;
float: left;
margin: -21px 0px 0px 5px;
}


.post_format{
background: url("images/post_format.png") no-repeat center center;
display: inline-block;
float: right;
top: 5px; 
right: 5px;
position: absolute;
width: 23px;
height: 23px;
}

.post_format_video{
background: url("images/post_format_video.png") no-repeat center center;
display: inline-block;
top: 5px; 
right: 5px;
position: absolute;
width: 23px;
height: 24px;
}

.post_format_image{
background: url("images/post_format_image.png") no-repeat center center;
display: inline-block;
float: right;
top: 5px; 
right: 5px;
position: absolute;
width: 24px;
height: 24px;
}

.post_format_audio{
background: url("images/post_format_audio.png") no-repeat center center;
display: inline-block;
float: right;
top: 5px; 
right: 5px;
position: absolute;
width: 23px;
height: 23px;
}



/*---------Slider post format styles---------*/

.slider_format {
display: block;
width: 100%;
height: auto;
margin: 0px!important;
position: relative; 
}

.slider_format .slides img{
margin: 0px!important;
width: 100%;
height: auto;
display: block;
}

.slider_format .flex-direction-nav{
width: 65px; 
height: 30px;
position: absolute; 
right: 15px;
bottom: 15px;
float: left;
display: inline-block;
-webkit-transition: all .3s ease;
}

.slider_format .flex-direction-nav .flex-next{
background: url("images/btn-next-slider.png") no-repeat;
display: inline-block;
width: 30px; 
height: 30px;
float: right;
text-indent: -9999px;
cursor: pointer;
}

.slider_format .flex-direction-nav .flex-next:hover{
opacity: 0.7;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.slider_format .flex-direction-nav .flex-prev{
background: url("images/btn-prev-slider.png") no-repeat;
display: inline-block;
width: 30px; 
height: 30px;
float: left;
text-indent: -9999px;
cursor: pointer;
}

.slider_format .flex-direction-nav .flex-prev:hover{
opacity: 0.7;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}



/*----------------------------*/ 
/*-------8.Single Content-----*/ 
/*----------------------------*/ 


#single_content {
border: 1px solid #e1e1e1;
width: 66%;
margin: 10px 0px 25px 0px;
padding: 20px;
display: inline-block;
float: left;
background: #fff;
}

#single_content._2_sidebar{
width: 47%;
margin: 10px 0px 25px 0px;
padding: 20px;
display: inline-block;
float: left;
}

.single_post{
background: #fff;
width: 100%;
display: inline-block;
}


/*---Full width image---*/ 

.big_image_cover{
width: 100%;
position: relative;
max-height: 400px;
height: auto;
display: inline-block;
margin: 0px 0px 20px 0px;
padding: 0px;
overflow: hidden;
}

.big_image_cover .photo_bg_shadow{
background: url("images/big_shadow.png") repeat-x bottom;
display: block;
position: absolute;
top: 0px;
width: 100%;
height: 100%!important;
}

.big_image_cover img{
width: 100%;
height: auto;
}

/*---Full width - Parallax---*/ 

.single_photo {
display: inline-block;
margin: 0px 0px 20px 0px;
width: 100%;
min-height: 400px;
height: 100%!important;
background-attachment: fixed;
background-position: 50% 0;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.single_photo .photo_bg_shadow{
background: url("images/big_shadow.png") repeat-x bottom;
position: relative;
min-height: 400px;
height: 100%!important;
}

.photo_bg_inner{
display: inline-block;
position: absolute;
bottom: 50px;
width: 100%;
}

.photo_bg_inner h1{
display: inline-block;
color:#fff;     
font-size: 35px;
line-height: 40px;
padding: 4px 10px 6px 10px;
margin: 0px 20px 0px 20px;
font-weight: normal;
text-transform: uppercase;
text-shadow: 1px 1px 0px #333;
}

.photo_bg_inner .post_meta_line{
display: inline-block;
padding: 0px!important;
margin: 0px 0px 10px 32px!important;
}



.single_post .single_thumbnail img{
display: inline-block;
float: left;
width: 100%;
height: auto!important;
margin: 0px 0px 20px 0px;
padding: 0px;
-webkit-transition: all .3s ease;
}

.single_post #review-box{
margin: 5px 20px 20px 0px;
}

.single_title h1{
display: inline-block;
width: 100%;
float: left;
margin: 0px 0px 10px 0px;
font-size: 30px;
font-weight: bold;
color: #000;
line-height: 130%;
text-transform: uppercase;
}

.single_post .post_meta_line {
margin: 5px 0px 20px 0px;
}

.single_post .post_meta_line .post_time {
margin: 0px 2px 0px 0px;
}


.single_post .slider_format{
display: inline-block;
margin: 0px 0px 20px 0px!important;
}


#home_content .video-container {
margin: 0px;
}

.video-container {
position: relative;
margin: 0px 0px 25px 0px;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



.single_text{
border-bottom: 1px solid #e9e9e9;
margin-bottom: 20px;
padding: 0px 0px 20px 0px;
display: block;
width: 100%;
font-size: 16px;
color: #4b4b4b;
line-height: 26px;
}

.single_text h1, h2, h3, h4, h5, h6{
line-height: 300%;
color: #000;
font-weight: normal;
}

.single_text .review-final-score h1, .single_text .review-final-score h2, .single_text .review-final-score h3, .single_text .review-final-score h4{
line-height: 100%;
}

.single_text ul {
margin: 0px 0px 25px 0px;
}

.single_text ul li{
list-style: disc;
margin: 0px 20px 2px 20px;
}


.single_text ol {
margin: 0px 0px 25px 0px;
}

.single_text ol li{
list-style: decimal;
margin: 0px 20px 2px 20px;
}

.single_text p{
margin-bottom: 30px!important;
text-indent: 0px;
}


.single_text img{
display: block;
height: auto;
max-width: 100%;
}

.single_text img.aligncenter {
display: block!important;
margin-left: auto!important;
margin-right: auto!important;
}


.single_author{
background: url("images/author_posts_icon.png") no-repeat left center;
padding: 2px 0px 0px 25px;
display: inline-block;
float: right;
font-size: 15px;
line-height: 20px;
color: #000;
text-transform: uppercase;
text-align: right;
}



.wp-caption {
max-width: 99%; 
padding: 0px;
margin: 0;
text-align: center;
background: #fff; 
}

.wp-caption img{
margin-bottom: 5px;
}

.wp-caption p.wp-caption-text {
font-size: 12px;
line-height: 22px;
margin: 0;
padding: 5px 0px!important;
background: #f1f1f1; 
}



#tags_simple {
margin: -10px 0px 0px 0px;
padding: 0px;
list-style-type: none;
overflow: hidden;
}

#tags_simple li { 
background: url("images/tag_single.png") no-repeat left #f14d4d;
float: left;
position: relative;
margin: 15px 10px 25px 0;
padding: 5px 8px 5px 27px;
font-size: 11px;
-webkit-transition:0.4s;
}

#tags_simple li:hover{
background-color: #242424;
}

#tags_simple li a{
color: #fff;
}


#post_tags {
margin: -10px 0px 0px 0px;
padding: 0px;
list-style-type: none;
overflow: hidden;
}

#post_tags li {
float: left;
position: relative;
margin: 15px 20px 25px 0;
}

#post_tags li a {
float: left;
padding: 4px 10px 0;
height: 18px;
font-family: "arial";
font-size: 11px;
color: #333;
text-decoration: none;
border-top: 1px solid #d3d0cf;
border-left: 1px solid #cac7c7;
border-bottom: 1px solid #aeadad;
background: url("images/bgTag.png") repeat-x;
-moz-border-radius: 2px; 
-webkit-border-radius: 2px;
border-radius: 2px;
}

#post_tags li span {
position: relative;
float: left;
width: 35px;
padding: 5px 0 0;
margin-top: 1px;
height: 18px;
font-family: "arial";
font-size: 11px;
color: #fff;
text-align: center;
background: url("images/bgCount.png");
overflow: hidden;
}

#post_tags li span:before, #post_tags li span:after {
position: absolute;
top: 0;
left: 0;
width: 3px;
height: 30px;
content: url("images/bgBeforeCount.png");
overflow: hidden;
}

#post_tags li span:after {
left: auto;
right: 0;
content: url("images/bgAfterCount.png");
}



.tags_title_box{
background: url("images/tag_title_icon.png") no-repeat center left;
display: inline-block;
margin: 20px 0px 10px 0px;
padding-left: 30px;
font-size: 22px;
font-weight: normal;
color: #000;
line-height: 30px;
text-transform: uppercase;
}




#single_recent_posts{
border-top: 1px solid #e9e9e9;
display: inline-block;
width: 100%;
padding: 20px 0px 20px 0px;
margin: 20px 0px 0px 0px;
}

.latest_title_box{
background: url("images/recent_posts_icon.png") no-repeat center left;
display: inline-block;
float: left;
margin: 0px 0px 20px 0px;
padding-left: 37px;
font-size: 22px;
font-weight: normal;
color: #000;
line-height: 30px;
text-transform: uppercase;
}

#single_recent_posts li{
display: inline-block;
float: left;
width: 45%;
height: 90px;
margin: 0px 25px 10px 0px;
padding: 0px;
}

#single_content._2_sidebar #single_recent_posts li{
width: 100%;
}

#single_recent_posts li a img{
display: inline-block;
width: 110px;
height: 70px;
float: left;
margin: 0px 15px 0px 0px;
}

#single_recent_posts .recent_posts_title{
display: block;
width: 100%;
margin: 0px;
padding: 0px;
color: #000;
font-size: 14px;
font-weight: normal;
text-transform: uppercase;
line-height: 20px;
}

#single_recent_posts .recent_posts_title:hover{
color: #f14d4d;
}



#similar-post{
border-top: 1px solid #e9e9e9;
display: inline-block;
width: 100%;
margin: 10px 0px 20px 0px;
padding: 5px 0px;
}

#similar-post h3{
background: url("images/similar_posts_icon.png") no-repeat center left;
display: inline-block;
float: left;
padding-left: 37px;
font-size: 22px;
font-weight: normal;
color: #000;
line-height: 30px;
text-transform: uppercase;
}

#similar-post .sim_title_box{
display: inline-block;
width: 100%;
height: 40px;
margin: 15px 0px 10px 0px;
}


#similar-post .similar_posts {
display: inline-block;
float: left;
margin: 0px 10px 25px 0px;
width: 90%;
}

#similar-post .similar_posts .similar_posts_images_box {
display: inline-block;
width: 100%;
height: auto;
float: left;
margin: 0px 0px 15px 0px;
overflow: hidden;
}

#similar-post .similar_posts img{
display: inline-block;
width: 100%;
height: auto;

-webkit-transition:0.4s;
-moz-transition:0.4s;
-o-transition:0.4s;
transition:0.4s;
}

#similar-post .similar_posts img:hover{
-webkit-transform:scale(1.3) rotate(10deg);
-moz-transform:scale(1.3) rotate(10deg);
-o-transform:scale(1.3 rotate(10deg));
transform:scale(1.3) rotate(10deg);
}

#similar-post .similar_posts h1{
display: block;
width: 100%;
margin: 0px;
padding: 0px;
font-size: 14px;
font-weight: normal;
text-transform: uppercase;
line-height: 20px;
}

#similar-post .similar_posts h1 a{
color: #000;
}

#similar-post .similar_posts h1 a:hover{
color: #f14d4d;
}

#similar-post .post_cats{
display: inline-block;
margin: 7px 0px 0px 0px!important;
}


.nav_svg{
display: none;
}

.nav-slide .sticky_post {
position: fixed;
top: 90%;
display: block;
outline: none;
text-align: left;
z-index: 1000;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.nav-slide .sticky_post.sticky_prev_post {
border-top: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
left: 0px;
}

.nav-slide .sticky_post.sticky_next_post {
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
border-bottom: 1px solid #ddd;
right: 0px;
}

.nav-slide .sticky_post svg {
display: block;
margin: 0 auto;
padding: 0;
}

.nav-slide .icon-wrap {
position: relative;
z-index: 100;
display: block;
padding: 20px;
background-color: #fff;
}

.nav-slide svg.icon {
fill: #34495e;
}

.nav-slide .sticky_post_content {
background-color: #34495e;
position: absolute;
top: 50%;
min-height: 100px;
max-width: 300px;
padding: 0 100px;
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}


.nav-slide .sticky_post.sticky_prev_post .sticky_post_content {
left: 0;
padding-right: 120px;
-webkit-transform: translateY(-50%) translateX(-100%);
transform: translateY(-50%) translateX(-100%);
}

.nav-slide .sticky_post.sticky_next_post .sticky_post_content {
right: 0;
padding-left: 120px;
text-align: right;
-webkit-transform: translateY(-50%) translateX(100%);
transform: translateY(-50%) translateX(100%);
}

.nav-slide h3 {
position: relative;
display: block;
max-width: 300px;
margin: 0;
padding: 20px 0;
color: #fff;
font-weight: normal;
font-size: 17px;
line-height: 24px;
white-space: nowrap;
}

.nav-slide h3 a{
color: #fff;
}

.nav-slide img {
position: absolute;
top: 0;
width: 100px;
height: 100px;
}

.nav-slide .sticky_post.sticky_prev_post img {
right: 0;
}

.nav-slide .sticky_post.sticky_next_post img {
left: 0;
}

.nav-slide .sticky_post:hover .sticky_post_content {
-webkit-transform: translateY(-50%) translateX(0); 
transform: translateY(-50%) translateX(0);
}





#navigation_images{
display: inline-block;
width: 100%;
margin: 20px 0px 20px 0px;
}

#navigation_images .alignleft {
border: 1px solid #f5f5f5;
width: 48%;
min-height: 110px;
display: inline-block;
}

#navigation_images .alignright {
border: 1px solid #f5f5f5;
width: 48%;
min-height: 110px;
display: inline-block;
}

#navigation_images .alignleft img{
width: 90px;
height: 90px;
display: inline-block;
margin: 10px 10px 0px 10px;
float: left;
}

#navigation_images .alignright img{
width: 90px;
height: 90px;
display: inline-block;
margin: 10px 10px 0px 10px;
float: right;
}

.prev_link_title{
display: block;
padding: 20px 30px 0px 0px;
font-size: 17px;
line-height: 24px;
text-align: right;
}

.prev_link_title a{
color: #444;
}

.next_link_title{
display: block;
padding: 20px 0px 0px 30px;
font-size: 17px;
line-height: 24px;
}

.next_link_title a{
color: #444;
}

#navigation_images a:hover{
color: #f14d4d;
}

#navigation_images span{
font-size: 13px;
line-height: 20px;
color: #777;
}

.prev_link_title span{
float: right;
}
.next_link_title span{
float: left;
}




#wpautbox-below{
display: inline-block;
margin: 0px 0px 20px 0px;
width: 100%;
}

#wpautbox-below ul .a-tab-active{
margin: 0px!important;
}

#wpautbox-below ul .a-tab-last{
border-top: 1px solid #fff!important;
margin: 0px!important;
}

#wpautbox-below ul .a-tab-first{
border-top: 1px solid #fff!important;
margin: 0px!important;
}

#wpautbox-below .wpautbox-avatar img{
border: none;
display: block;
margin: 0px 0px 0px 0px;
width: 80px;
height: 80px;
}

#wpautbox-below .wpautbox-author-meta h4{
font-size: 18px;
line-height: 36px;
text-transform: uppercase;
}

#wpautbox-below .wpautbox-post_type-list.wpautbox-latest-post{
margin: 0px;
}



.ssba{
display: block;
width: 100%;
padding: 0px 0px 20px 0px;
}



/*------------------------------*/ 
/*-------9.Page Templates-------*/ 
/*------------------------------*/ 


#content.full_width{
border: 1px solid #e1e1e1;
width: 96%;
margin: 0px 0px 25px 0px;
padding: 20px;
display: inline-block;
float: left;
background: #fff;
}


#content.full_width .single_thumbnail{
display: inline-block;
max-width: 300px;
float: left;
margin: 0px 25px 0px 0px;
}

#content.full_width .single_thumbnail img{
max-width: 300px;
height: auto;
}

#content.full_width .single_title h1{
display: block;
float: none;
width: 98%;
}

#content.full_width .single_text{
display: block;
float: none;
width: 100%;
}


.post_nr {
width: 96%;
padding: 0px;
display: inline-block;
float: left;
background: #fff;
}

.post_nr h2{
color: #333;
font-size: 22px;
margin: 0px;
font-weight: normal;
text-transform:uppercase;
}

.post_nr .search{
float: left;
margin: 0px 0 15px 0px;
}

.single-entry{
color: #333;
font-size: 15px;
line-height: 26px;
display: inline-block;
margin: 0px 0 15px 0px;
padding-bottom: 20px;
}

.single-entry .search{
margin: 10px 0 0px 0px;
}

.search-results{
margin: 0px!important;
width: 100%!important;
float: left!important;
display: inline-block!important;
}

.search-no-results{
margin: 0px!important;
width: 100%!important;
float: left!important;
display: inline-block!important;
}



.author_name{
background: url("images/profile_icon.png") no-repeat left center;
display: block;
width: 100%;
margin: 3px 0px 13px 145px;
padding: 2px 0px 0px 44px;
font-size: 20px;
font-weight: normal;
text-transform: uppercase;
line-height: 20px;
}

.author_avatar img{
border: 1px solid #f5f5f5;
display: inline-block;
float: left;
width: 120px;
height: 120px;
margin: 0px 20px 0px 0px;
padding: 0px;
}

.author_description{
display: block;
padding: 0px 0px 13px 0px;
line-height: 22px;
}

.author_email{
background: #73c509;
display: inline-block;
float: left;
padding: 6px 10px;
color: #fff;
}


.author_posts_title{
display: block;
width: 100%;
margin: 30px 0px 20px 0px;
padding: 0px;
font-size: 20px;
font-weight: normal;
text-transform: uppercase;
line-height: 30px;
}


#author_posts{
display: inline-block;
float: left;
}

#author_posts li{
background: url("images/author_posts_icon.png") no-repeat left center;
margin: 0px 0px 8px 0px;
padding: 2px 0px 0px 27px;
font-size: 14px;
line-height: 24px;
}

#author_posts li a{
color: #000;
}

#author_posts li a:hover{
color: #f14d4d;
}

#archive{
background: #fff;
width: 100%;
display: inline-block;
}

#archive li{
border-bottom: 1px solid #f5f5f5;
display: inline-block;
width: 100%;
float: left;
margin: 0px 0px 15px 0px;
padding-bottom: 15px;
}
#archive li:last-child{
border-bottom: none;
padding-bottom: 0px;
}


#archive li a img{
width: 150px;
height: 100px;
display: inline-block;
float: left;
margin: 0px 20px 0px 0px;
}

#archive .arch_title {
display: block;
width: 100%;
line-height: 24px;
font-size: 17px; 
color: #333;
text-transform:uppercase;
}

#archive li a:hover{
color: #f14d4d;
}

#archive .post_meta_line {
display: block;
width: 100%;
margin: 5px 0px 0px 0px;
padding: 0px
}


#archive .post_meta_line .post_time{
margin: 0px 2px 0px 0px;
}




.archive_title{
border-bottom: 1px solid #f5f5f5;
display: inline-block;
width: 100%;
height: 40px;
margin-bottom: 20px;
}

.archive_title h3{
border-bottom: 3px solid;
border-color: #ffae00;
float: left;
padding: 0px 5px;
font-size: 22px;
font-weight: normal;
color: #333;
line-height: 40px;
text-transform:uppercase;
}




.error404_content{
background: #fff;
display: inline-block;
}

.error404{
display: block;
float: left;
font-size: 20px;
font-weight: normal;
color: #333;
margin: 0px 0px 10px 0px;
}


.error404_content h1{
width: 100%;
float: left;
display: block;
margin: 0px 0 10px 0px;
font-size: 22px;
font-weight: normal;
color: #333;
text-transform:uppercase;
}

.error404_content #archive{
border: none;
display: inline-block;
margin: 10px 0px 0px 0px;
padding: 0px;
box-shadow: none;
}

.error404_content .search{
margin: 10px 0 30px 0px;
float: left;
}

.space_10 {
display: block;
width: 100%;
margin: 0px 0px 10px 0px;
}



/*---------------------------*/ 
/*--------10.Comments--------*/
/*---------------------------*/ 



#disqus_thread{
margin: 15px 0px 0px 10px;
}

#comments {
border-top: 1px solid #e1e1e1;
display: inline-block;
float:left;
width: 100%;
margin-top: 15px;
padding-top: 15px;
}

.page #comments{
border-top: none;
}


.comment-header {
display: inline-block;
width: 100%;
height: 30px;
margin: 25px 0px 15px 0px;
}

.comment-header h3{
display: inline-block;
width: 100%;
float: left;
font-size: 22px;
font-weight: normal;
color: #000;
line-height: 30px;
}

#comments h3 {
display: inline-block;
width: 100%;
float: left;
font-size: 22px;
font-weight: normal;
color: #000;
line-height: 130%;
text-transform: uppercase;
} 

#reply-title {
line-height: 35px;
color: #444;
font-size:17px;
font-weight: normal;
margin: 10px 0 10px 0px;
text-shadow: 1px 1px 0px #fff;
font-style: normal;
}



.comment-notes {
display: inline-block;
font-size:14px!important;
margin: 10px 0px 20px 0px!important;
}

.form-allowed-tags {
display: inline-block;
margin: 20px 0px!important;
font-size:14px!important;
line-height: 24px!important;
}

.form-allowed-tags code{
border: none;
background: #f5f5f5;
display: inline-block;
margin: 15px 0px 0px 0px!important;
overflow: hidden!important;
font-size:12px!important;
}


.comment {
border-bottom: 1px solid #f5f5f5;
display: inline-block;
color: #333;
clear: both;
float: left;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 30px!important;
width: 100%;
}

.comment p{
background: none;
display: inline-block;
width: 70%!important;
float: left;
margin: 0px 10px 0px 3px!important;
padding: 20px 10px 10px 30px!important;
text-indent: 0px;
font-size: 13px!important;
line-height: 24px!important;
}

.fn{
display: block;
position: absolute;
width: 65px;
float: left;
margin: 64px 0px 0 0px;
font-size: 11px;
color: #000;
font-weight: normal;
font-style: normal;
text-align: center;
text-transform: uppercase;
}

.comment-meta{
display: inline-block;
position: relative;
width: 150px;
height: 30px;
margin: 5px 0px 0px 5px!important;
font-size: 11px;
clear: both;
}

.comment-meta a{
font-size:11px;
color:#888;
line-height: 14px;
}

.says{
display: none;
}

.comment-edit-link{
display: none;
}

.nocomments {
display: none;
}

.avatar {
border: 1px solid #ddd;
margin: 0 15px 10px 3px;
width: 50px;
height: 50px;
float: left;
padding: 3px;
}

.cancel-comment-reply a:link, .cancel-comment-reply a:visited {
margin-bottom: 10px;
display: block;
font-size: 13px;
color: #666;
font-weight: normal;
font-style: normal;
}

.children .comment {
border-left: 1px solid #f5f5f5;
float: right;
padding: 0px 0px 15px 10px;
clear:both;
width: 94%;
margin: 10px 5px 10px 0;
}

.children .comment p{
width: 68%;
display: inline-block;
margin: 0px 10px 0 75px;
text-indent: 0px;
}

.comment-reply-link, .comment-reply-link:visited {
border: none;
background: #f14d4d;
color: #fff;
display: block;
float: right;
font-size:11px;
font-weight: normal;
margin: 10px 20px 10px 10px;
padding: 2px 6px;
text-transform: lowercase;
}

.comment-reply-link:hover{
color: #fff;
}

#respond {
color: #666;
margin: 0px 0 10px 0;
}

#respond  p{
text-indent: 0px;
}

#respond a{
color: #666;
margin: 0px 0 10px 0;
}

#respond a:hover{
color: #f14d4d;
}

#commentform p{
font-size:12px;
}

#commentform label{
font-size: 13px;
}

.comment-form-author label{
position: relative;
top: 27px;
right: 10px;
float: right;
font-size:13px!important;
color:#999;
}

.comment-form-email label{
position: relative;
top: 27px;
right: 10px;
float: right;
font-size:13px!important;
color:#999;
}

.comment-form-url label{
position: relative;
top: 27px;
right: 10px;
float: right;
font-size:13px!important;
color:#999;
}

.comment-form-comment label {
position: relative;
top: 26px;
right: 10px;
float: right;
font-size:13px!important;
color:#999;
}

input#author{
border: 1px solid #e5e5e5;

display: inline-block;
width: 97%;
margin: 0px;
font-size:13px;
background:#F9F9F8;
padding: 10px;
color:#292929;
}

input#author:focus{
font-size:13px;
background:#F9F9F8;
border:1px solid #ccc;
color:#292929;
}

.comment-form-email input{
border: 1px solid #e5e5e5;

display: inline-block;
width: 97%;
margin: 0px;
font-size:13px;
background:#F9F9F8;
padding: 10px!important;
color:#292929;
border-radius: 0px!important;
}

.comment-form-email input:focus{
font-size:13px;
background:#F9F9F8;
border:1px solid #ccc;
color:#292929;
}

input#url{
border: 1px solid #e5e5e5;

display: inline-block;
width: 97%;
margin: 0px;
font-size:13px;
background:#F9F9F8;
padding: 10px!important;
color:#292929;
}

input#url:focus{
font-size:13px;
background:#F9F9F8;
border:1px solid #ccc;
color:#292929;
}

textarea#comment  {
border: 1px solid #e5e5e5;

display: inline-block;
float: left;
margin: 0px;
font-size:14px;
background:#F9F9F8;
width: 97%!important;
height: 150px;
color:#292929;
padding: 10px!important;
}

textarea#comment:focus  {
font-size:14px;
background:#F9F9F8;
border:1px solid #ccc;
color:#292929;
} 
 
#submit {
border: none;
background: #f14d4d;
margin: 0px;
padding: 7px 15px;
font-weight: normal;
color: #fff;
font-size: 14px;
cursor: pointer;
text-transform: uppercase;
}
 
#submit:hover {
color: #fff;
}

.comment-awaiting-moderation{
display: inline-block;
font-size:11px!important;
margin-left: 3px;
color: red;
}




/*----------------------------*/ 
/*------11.Breadcrumbs--------*/
/*----------------------------*/ 



#content_bread_panel{
display: inline-block;
width: 100%;
float: left;
margin: -4px 0px 10px -3px;
}

#crumbs{
display: block;
width: 100%;
color: #888;
float: left;
margin: 0px;
font-size: 11px;
line-height: 20px;
}

#crumbs a{
color: #888;
padding: 0px 3px;
-webkit-transition: all .3s ease;
}

#crumbs a:hover{
color: red;
}

#crumbs .current{
padding: 0px 3px;
}



/*---------------------------*/ 
/*---------12.Search---------*/
/*---------------------------*/ 


.search{
width: 94%;
height: 35px;
margin: 0px 0px 6px 0px;
display: inline-block;
float: left;
}

.search input[type=text] {
-webkit-appearance: textfield;
-webkit-box-sizing: content-box;
font-family: inherit;
font-size: 100%;
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
display: none;
}

.search input[type=text] {
background: #ededed url(images/search-icon.png) no-repeat 9px center;
border: solid 1px #ccc;
padding: 9px 10px 9px 32px;
width: 150px;
border-radius: 2px;
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
}

.search input[type=text]:focus {
width: 85%;
background-color: #fff;
border-color: #6dcff6;
-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.search input:-moz-placeholder {
color: #999;
}
.search input::-webkit-input-placeholder {
color: #999;
}


#mega_main_menu input[type=text] {
background: none!important;
}




/*----------------------------*/ 
/*--------13.Navigation-------*/
/*----------------------------*/ 



.pagination {
display: block;
text-align: center;
width: 100%;
padding: 0px 0 20px 0px;
margin: 30px 0px 0px 0px;
}

.pagination span, .pagination a {
margin: 2px 4px 2px 0;
padding: 5px 9px;
text-decoration:none;
width:auto;
font-size:14px;
color: #fff;
background: #f14d4d;
}

.pagination a:hover{
color:#fff;
}

.pagination .current{
padding: 5px 9px;
background: #444;
color:#fff;
}


.wp-pagenavi {
display: block;
width: 90%;
padding: 10px 0 20px 0px;
margin: 20px 0px 0px 0px;
}

.wp-pagenavi a, .wp-pagenavi span {
margin: 2px 4px 2px 0;
padding:4px 9px 4px 9px;
text-decoration:none;
width:auto;
color: #777;
font-size:13px;
border: 1px solid #ddd;
}

.wp-pagenavi span.current {
padding:4px 9px 4px 9px;
font-size:15px;
background: #eee;
color:#999;
}

.postnav{
display:inline;
color:#999;
margin:20px 20px 20px 0px;
}

.postnav a{
border: 1px solid #ccc; 
background-color:#fff; 
padding:4px 9px 4px 9px;
text-decoration:none; 
font-size:13px;
color:#777;
}

.postnav a:hover{
border:#ddd 1px solid;
background-color:#eee;
color:#666;
}

.postnav span.current{
border: 1px solid #bbb;
color:#666;
font-size:13px;
padding:4px 9px 4px 9px;
margin-left: 4px;
text-decoration:none;
background-color:#eee;
}

.posts_nav_link{}
.paginate_links{}
.next_posts_link{}
.previous_posts_link{}






/*---------------------------*/
/*------14.Contact form------*/
/*---------------------------*/


#cf_map{
display: inline-block;
float: left;
width: 100%;
height: auto;
margin: 10px 0px 15px 0px;
}
 
#cf_map iframe{
border: none;
width: 100%;
height: auto;
min-height: 340px;
margin: 0px;
padding: 0px;
}

#contact_box{
margin: 0px 0px 10px 0px;
}

#contact_text{
display: inline-block;
width: 100%;
margin: 0px 0px 10px 0px;
font-size: 15px;
line-height: 24px;
color: #555;
}


input#scrch { 
background:#f5f5f5;
border:1px solid #DDDDDD;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
box-shadow: 0 0 1px #fff;
-webkit-box-shadow: 0 0 1px #fff;
-moz-box-shadow: 0 0 1px #fff;
color:#777;
padding: 7px;
margin: 0px 0 10px 5px;
width: 87%;
}

input#scrch:focus { 
background:#fff;
box-shadow: 0 0 5px #ccc;
-webkit-box-shadow:0 0 5px #ccc;
-moz-box-shadow: 0 0 5px #ccc;
padding: 7px 8px 8px 7px;
}


#contact {
display: inline-block;
margin-top: 14px;
}

#contact label {
display:block;
padding:5px 0;
font-size: 12px;
color: #777;	
}

#contact input {
border:1px solid #ddd;
background:#f9f9f9;
width: 180px!important;
margin-bottom:10px;
color: #555;
font-size: 14px;
padding: 8px 8px 8px 7px;
box-shadow: 0px 0px 1px #ccc;
-webkit-box-shadow: 0 0 1px #ccc;
-moz-box-shadow: 0 0 1px #ccc;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

#contact textarea {
border:1px solid #ddd;
background:#f9f9f9;
width: 260px!important;
margin-bottom:10px;
color: #555;
font-size: 14px;
padding: 8px 8px 8px 7px;
box-shadow: 0px 0px 1px #ccc;
-webkit-box-shadow: 0 0 1px #ccc;
-moz-box-shadow: 0 0 1px #ccc;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

#contact input:focus, #contact textarea:focus {
border:1px solid #ddd;
background:#fff;
box-shadow: 0 0 5px #ccc;
-webkit-box-shadow:0 0 5px #ccc;
-moz-box-shadow: 0 0 5px #ccc;
}


#contact input[type="submit"]{
border: none;
background: #f14d4d;
padding: 3px 8px 3px 8px;
width: 75px!important;
cursor:pointer;
color: #fff;
border-radius: 0px;
text-transform: uppercase;
}

#contact input[type="submit"]:hover{
color:#fff;
}

.errormsg{
width: 420px;
display: inline-block;
margin-top: 20px;
}

.errormsg, .successmsg{
background:#FEF4F1;
border:1px solid #F7A68A;
color:#DA4310;
line-height: 22px;
padding: 10px;
padding:10px 10px 10px 0px;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.successmsg {
display: inline-block;
margin-top: 20px;
background:#F5FAF1;
border:1px solid #C2E1AA;
width: 235px;
color:#8FA943;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}
 





/*----------------------------*/ 
/*---------15.Sidebars--------*/
/*----------------------------*/


#sidebar-right {
border: 1px solid #e1e1e1;
background: #fcfcfc;
width: 27.5%;
margin: 10px 0px 0px 0px;
height: 100%;
display: inline-block;
float: right;
-webkit-transition: all .3s ease;
} 

#main_content.home_page #sidebar-right {
margin: 20px 0px 0px 2.2%;
} 

.right-widget{
border-bottom: 1px solid #eee;
display: inline-block;
float: left;
vertical-align: top;
width: 90%;
font-size: 13px;
color: #333;
margin: 0px;
padding: 20px 15px;

-webkit-transition: all .3s ease;
} 


.right-widget:last-child{
border-bottom: none;
} 

.right-heading {
display: inline-block;
width: 100%;
float: left;
height: 40px;
margin: 0px 0 15px 0px;
padding: 0px;
}



.right-heading h3 {
background: url("images/side_head_bg.png") no-repeat left;
float: left;
display: block;
padding: 3px 0px 0px 10px;
margin: 0px 0px 0px 0px;
color: #000;
font-size: 17px;
line-height: 40px;
text-transform: uppercase;
}

.right-heading span {
background: url("images/side_head_corner_bg.png") no-repeat ;
display: inline-block;
margin: 2px 0px 0px 0px;
width: 10px;
height: 40px;
}

.right-widget li{
padding: 0px;
color: #000;
font-size: 13px;
display: block;
line-height: 32px;
} 

.right-widget li a{
background: url("images/sidebar_li_arrow.png") no-repeat left;
color: #333;
padding-left: 12px;
text-transform: uppercase;
} 

.right-widget li:last-child {
background: none;
} 


.right-widget li a:hover{
text-decoration: underline;
} 




#sidebar-small {
background: url("images/small_side_bg.png") repeat-y left #444;
width: 17%;
margin: 20px 0px 0px 2.2%;
height: 100%;
display: inline-block;
float: left;
} 

.small_sidebar_left #sidebar-small {
margin: 20px 2.2% 0px 0px;
} 

.small-widget{
border-top: 1px solid #555;
border-bottom: 1px solid #353535;
display: inline-block;
float: left;
vertical-align: top;
width: 100%;
font-size: 13px;
color: #333;
margin: 0px;
padding: 0px 0px 10px 0px;
-webkit-transition: all .3s ease;
} 

.small-heading {
border-bottom: 3px solid;
border-color: #ffae00;
display: inline-block;
width: 100%;
float: left;
min-height: 40px;
margin: 0px 0 15px 0px;
padding: 0px;
}

.small-heading h3 {
background: url("images/small_widget_title_icon.png") no-repeat left center;
float: left;
display: block;
padding: 0px 25px 0px 41px;
margin: 9px 0px 0px 0px;
color: #fff;
font-size: 15px;
line-height: 22px;
text-transform: uppercase;
}




#sidebar-footer{
width: 100%;
float: left;
display: inline-block;
margin: 20px 0 25px 0;
color: #b1b1b1;
} 

#sidebar-footer a{
color: #b1b1b1;
}

#sidebar-footer a:hover{
text-decoration: underline;
}


.footer-widget{
border: 1px solid #373737;
vertical-align: top;
float: left;
width: 82%;
display: inline-block;
margin: 30px 0px 5px 10px;
padding: 20px;
line-height: 22px;
font-size: 13px;
transition:0.4s;
}

.footer-widget:hover{
border: 1px solid #555;
}





.footer-heading {
display: inline-block;
height: 40px;
width: 100%;
float: left;
margin: 0px 0 5px 0px;
}

.footer-heading h3 {
font-weight: normal;
float: left;
display: block;
padding: 0px;
line-height: 35px;
color: #fff;
font-size: 17px;
text-transform: uppercase;
}

.footer-widget li{
padding: 0px;
color: #ddd;
font-size: 12px;
display: block;
line-height: 30px;
} 

.footer-widget li a{
color: #ccc;
text-transform: uppercase;
} 

.footer-widget li:last-child a{
background: none;
} 




 
/*--------------------------*/
/*---------16.Footer--------*/
/*--------------------------*/


#footer_box{
background: url("images/color_line.png") repeat-x top #262626;
width: 100%; 
display: inline-block;
font-size: 12px;
}

#footer_bottom {
border-top: 1px solid #333;
background: #222;
width: 100%;
height: auto;
display: inline-block;
margin-top: -5px;
padding-top: 10px;
}

#banner_footer_728{
display: inline-block;
width: 100%;
margin: 20px 0px 5px 0px;
text-align: center;
}

#banner_footer_728 img{
border: 1px solid #333;
display: inline-block;
width: 100%;
max-width: 728px;
padding: 15px;
transition:0.4s;
}

#banner_footer_728 img:hover{
border: 1px solid #555;
}

#banner-footer{
display: inline-block;
width: 100%;
margin: 20px 0px 5px 0px;
text-align: center;
}

#banner_footer img{
border: 1px solid #333;
display: inline-block;
width: 100%;
max-width: 468px;
padding: 15px;
transition:0.4s;
}

#banner_footer img:hover{
border: 1px solid #555;
}


#credit {
color: #999;
display: inline-block;
width: 100%;
padding: 5px 0px 15px 0px;
font-size: 12px;
text-align: center;
}

#credit a{
color: #ccc;
}

#credit a:hover{
color: #999;
}




/*--------------------------*/
/*--------17.Widgets--------*/
/*--------------------------*/


.textwidget{
font-size: 14px!important;
line-height: 24px;
}

.textwidget img{
margin-bottom: 6px;
}

#vertical-ticker{
display: inline-block;
position: relative;
height: 355px;
width: 100%;
overflow:hidden;
padding:0;
}

#vertical-ticker li{
background: none;
border-bottom: 1px solid #f5f5f5;
display: block;
height: 80px;
color: #333;
margin: 0px 0px 15px 0px; 
padding: 0px!important;
}

#vertical-ticker li a{
padding: 0px!important;
background: none!important;
}

.vertical_ticker_image{
display:block;
float: left;
width: 90px;
height: 65px;
margin: 0px 15px 0px 0px; 
overflow: hidden;
}

#vertical-ticker a img{
width: 90px;
height: 65px;
-webkit-transition:0.4s;
-moz-transition:0.4s;
-o-transition:0.4s;
transition:0.4s;
}

#vertical-ticker a img:hover{
-webkit-transform:scale(1.3) rotate(10deg);
-moz-transform:scale(1.3) rotate(10deg);
-o-transform:scale(1.3 rotate(10deg));
transform:scale(1.3) rotate(10deg);
}



#vertical-ticker h1{
display: block;
line-height: 20px;
margin: 0px!important; 
padding: 0px!important;
font-weight: normal;
font-size: 13px;
line-height: 18px;
font-weight: normal;
text-transform: uppercase;
}

#vertical-ticker h1 a{
color: #000!important;
}

#vertical-ticker h1 a:hover{
color: #f14d4d;
}


#sidebar-right .menu{
display: inline-block;
float: left;
margin: 0px;
margin-left: 0px;
width: 100%;
}

#sidebar-right .menu li{
border-bottom: 1px solid #f1f1f1;
background: none;
list-style: none;
font-size: 13px;
}

#sidebar-right .menu .sub-menu li{
border: none;
}

#sidebar-right .menu .sub-menu li a:before {
    content: '- ';
}

#sidebar-right .menu li:hover{
list-style: none;
}

#sidebar-right .menu li a{
display: inline-block;
background: none;
width: 100%;
list-style: none;
}

#sidebar-right .menu li a:hover{
color: #333;
}


#sidebar-right .menu .current-menu-item a {
color: #f14d4d!important;
}




.reviews-posts li{
list-style: none!important;
background: none!important;
border-bottom: 1px solid #e9e9e9;
display: inline-block;
width: 97%;
margin: 0px 0 15px 0px;
list-style: none;
background: none;
padding: 0px 10px 10px 0px;

}

.reviews-posts li:last-child{
border-bottom: none;
margin: 0px;
padding: 0px 10px 0px 0px;
}


.reviews-posts li a{
font-size: 13px;
list-style: none!important;
background: none!important;
display: block;
line-height: 18px;
font-weight: normal;
margin: 0px 0px 0px 0px;
text-indent: 0px;
color: #000!important;
}


h2.widgettitle{
border: none!important;
font-size: 15px!important;
color: #333!important;
font-weight: normal;
}



/* ---------Recent category posts widget------- */


.widget_recent_posts li{
border-bottom: 1px solid #f5f5f5;
display: inline-block;
width: 96%;
margin: 0px 0 15px 0px;
list-style: none;
background: none;
padding: 0px 10px 15px 0px;
}

.widget_recent_posts li:last-child{
border-bottom: none;
margin: 0px;
padding: 0px 10px 5px 0px;
}


#menu_box .widget_recent_posts li{
border-bottom: none;
vertical-align: top;
width: 250px!important;
margin: 0px 15px 25px 0px;
padding: 0px 0px 0px 0px;
list-style: none;
background: none;
}

#menu_box .widget_thumbnail{
display: inline-block;
float: left;
margin: 0px 18px 0px 0px!important;
}

#menu_box .widget_thumbnail img{
border: 3px solid #999;
width: 90px;
height: 65px;
}

#menu_box .widget_info{
display: block;
width: 100%;
margin: 0px!important;
padding: 0px!important;
}


#sidebar-footer .widget_recent_posts li{
margin: 3px 0 14px 0px;
padding: 0px;
border-bottom: none;
color: #ddd;
}

.widget_recent_posts li a{
color: #000;
list-style: none;
background: none;
padding: 0px;
margin: 0px;
}

#sidebar-footer .widget_recent_posts li a{
color: #eee;
}


.widget_thumbnail{
display: inline-block;
float: left;
width: 90px;
height: 65px;
margin: 0px 15px 0px 0px;
overflow: hidden;
}

.widget_thumbnail img{
-webkit-transition:0.4s;
-moz-transition:0.4s;
-o-transition:0.4s;
transition:0.4s;
}

.widget_thumbnail img:hover{
-webkit-transform:scale(1.3) rotate(10deg);
-moz-transform:scale(1.3) rotate(10deg);
-o-transform:scale(1.3 rotate(10deg));
transform:scale(1.3) rotate(10deg);
}

.widget_info{
display: block;
width: 100%;
margin: 0px!important;
padding: 0px!important;
}

#sidebar-footer .widget_info{
margin: 2px 0px 0 0px;
}

.widget_title{
display: block;
font-size: 13px;
line-height: 20px;
font-weight: normal;
text-transform: uppercase;
margin: -9px 0px 0px 10px;
text-indent: 0px;
color: #000!important;
}

.widget_title:hover{
text-decoration: underline;
}

#sidebar-footer .widget_title{
color: #eee!important;
}

#sidebar-footer .widget_title:hover{
text-decoration: underline;
}

.widget_date{
background: #f14d4d;
display: inline-block;
text-transform:uppercase;
font-size:11px;
line-height: 14px;
color:#fff;
text-decoration: none;
margin: 0px!important;
padding: 2px 5px!important;
font-weight: 400;
text-indent: 0px;
}

.widget_date span:first-child{
background: url("images/view_icon.png") no-repeat right center;
}

.widget_date span{
padding: 3px 14px 0px 0px!important;
}

#sidebar-footer .widget_date{
text-shadow: none;
}

#sidebar-footer .widget_date span:first-child{
display: block;
padding: 0px 0px 0px 0px!important;
background: none;
}

#sidebar-footer .widget_date span{
display: none;
}





/* ---------Full width Posts - For small sidebar--------- */


.full_width_posts_widget li{
border-bottom: 1px solid #393939;
display: inline-block;
width: 82%;
margin: 0px 0px 15px 10px;
list-style: none;
background: none;
padding: 0px 0px 15px 10px;
}

.full_width_posts_widget li:last-child{
border-bottom: none;
margin: 0px 0px 0px 10px;
padding: 0px 0px 10px 10px;
}


.full_width_posts_widget .widget_thumbnail_full{
display: inline-block;
width: 100%;
height: auto;
margin: 0px 0px 5px 0px;
overflow: hidden;
}

.full_width_posts_widget img{
width: 100%;
height: auto;

-webkit-transition:0.4s;
-moz-transition:0.4s;
-o-transition:0.4s;
transition:0.4s;
}

.full_width_posts_widget img:hover{
-webkit-transform:scale(1.3) rotate(10deg);
-moz-transform:scale(1.3) rotate(10deg);
-o-transform:scale(1.3 rotate(10deg));
transform:scale(1.3) rotate(10deg);
}



.full_widget_info{
display: block;
width: 100%;
margin: 0px!important;
padding: 0px!important;
}

.full_widget_title{
display: block;
font-size: 13px;
line-height: 18px;
font-weight: normal;
text-transform: uppercase;
margin: 0px 0px 0px 0px;
text-indent: 0px;
color: #fff!important;
}

.full_widget_title:hover{
text-decoration: underline;
}

.full_widget_date{
background: #f14d4d;
display: inline-block;
text-transform:uppercase;
font-size:11px;
color:#fff;
text-decoration: none;
margin: 8px 0px 0px 0px!important;
padding: 2px 5px!important;
font-weight: 400;
text-indent: 0px;
}



/* --Recent category posts widget - Second variant----- */


.widget_recent_posts_two {
background: #333; 
display: inline-block;
float: left;
width: 92%;
margin: 0px 0 5px 0px;
padding: 10px;
}

.widget_recent_posts_two li a{
list-style: none;
padding: 0px;
}


.widget_li {
background: url("images/sidebar_li_arrow.png") no-repeat left!important;
border-bottom: 1px dashed #555;
display: inline-block;
width: 98%;
margin: 0px 0 0px 4px;
padding: 6px 0px 5px 0px!important;
line-height: 22px;
font-size: 14px;
}

.widget_li:first-child {
width: 100%;
max-width: 300px;
background: none;
border-bottom: none!important;
margin: 0px 0 0px 0px;
padding: 0px 0px 5px 0px!important;
}

.widget_li:last-child {
border-bottom: none!important;
margin: 0px 0 0px 4px;
}

.widget_li:first-child .widget_title_two {
background: url("images/second_shadow.png") repeat-x bottom!important;
position: relative;
width: 94.3%;
height: 50px;
font-size: 16px!important;
line-height: 22px!important;
margin: -61px 0px 0px 0px;
padding: 0px 0px 0px 15px;
color: #fff!important;
text-transform: uppercase;
}

.widget_li:first-child .widget_title_two:hover {
color: #f14d4d;
text-decoration: none;
}

.opera .widget_li:first-child .widget_title_two {
width: 15%;
}

.widget_li:first-child .widget_thumbnail_two{
display: inline-block;
}

.widget_li .widget_thumbnail_two{
display: block;
overflow: hidden;
}

.widget_li:first-child img {
display: inline-block;
width: 100%;
float: left;
height: auto;
margin: 0px!important;

-webkit-transition:0.4s;
-moz-transition:0.4s;
-o-transition:0.4s;
transition:0.4s;

}

.widget_li:first-child img:hover{
-webkit-transform:scale(1.3) rotate(10deg);
-moz-transform:scale(1.3) rotate(10deg);
-o-transform:scale(1.3 rotate(10deg));
transform:scale(1.3) rotate(10deg);
}


.widget_li img {
display: none;
}




.widget_title_two{
background: none!important;
display: block;
font-size: 13px!important;
line-height: 22px!important;
margin: 0px 0px 0px 13px;
text-indent: 0px;
font-weight: normal;
color: #fff!important;
text-transform: uppercase;
}

.widget_title_two:hover{
text-decoration: underline;
}





/* -------Widget carousel------ */


.image_carousel {
width: 100%;
display: inline-block;
position: relative;
margin: 0px 0px 0px 0px;
}

.image_carousel_post{
display: block;
float: left;
margin: 0px;
position: relative;
width: 100%;
max-width: 300px;
height: 100%;
overflow: hidden;
}

.image_carousel img {
width: auto!important;
height: auto!important;
padding: 0px;
margin: 0px;
display: block;
}

h1.car_image_caption{
background: url("images/widget_slider_shadow.png") repeat-x bottom!important;
display: block;
width: 100%;
position:absolute;
bottom: 0px;
left: 0px!important;
margin: 30px 0px 0px 0px;
font-size: 18px;
font-weight: 400;
color: #fff;
padding: 0px 0px 20px 0px;
text-transform: uppercase;
}

.car_head{
display: block;
line-height: 24px;
margin: 5px 0px 10px 15px;
color: #fff;
}

.car_image_caption .slide_time{ 
background: #f14d4d;
display: inline-block;
text-transform:uppercase;
font-size:11px;
line-height: 14px;
color:#fff;
text-decoration: none;
margin: 0px 0px 0px 15px;
padding: 2px 5px!important;
font-weight: 400;
text-indent: 0px;
}


.image_carousel .pagination {
display: block;
position: relative;
max-width: 100px;
float: right;
margin-top: -39px;
padding: 0px 0px 0px 0px;
height: 5px;
text-align: right;
}

.image_carousel .pagination a {
background: url("images/style08.png");
border: none;
width: 7px;
height: 11px;
margin: 0 5px;
padding: 0px;
display: inline-block;
}

.image_carousel .pagination a.selected {
background: url("images/style08.png");
background-position: right center;
margin: 0 2px;
width: 12px;
height: 12px;
}

.image_carousel .pagination a span {
display: none;
}




.mega_main_menu_ul li a{
background: none;
}

#sidebar-right .mega_main_menu_ul .link_content, #sidebar-footer .mega_main_menu_ul .link_content{
margin: 0px 0px 0px 10px!important;
}

.widget.widget_nav_menu{
display: block;
float: left;
width: 100%!important;
}

.widget.widget_nav_menu li{
display: block;
float: left;
margin: 0px 15px 0px 0px;
color: #fff;
font-size: 14px;
line-height: 25px;
text-transform: uppercase;
}

.widget.widget_nav_menu li a{
transition:all 0.2s ease-in-out;
background: #232323;
color: #fff!important;
padding: 3px 10px;
}

.widget.widget_nav_menu li a:hover{
background: #f14d4d;
}

#sidebar-right .widget_menu_posts{
display: none;
}

.widget_menu_posts li{
display: inline-block;
float: left;
width: 22.9%!important;
margin: 10px 25px 0px 0px!important;
list-style: none;
background: none;
overflow: hidden!important;
}

.widget_menu_posts li:last-child{
margin: 10px 0px 0px 0px!important;
}

.widget_menu_thumbnail{
display: block;
width: 100%!important;
background: #000!important;
padding: 0px!important;
overflow: hidden;
}

.widget_menu_posts li img{
display: block;
width: 100%!important;
padding: 0px!important;
-webkit-transition:0.4s;
-moz-transition:0.4s;
-o-transition:0.4s;
transition:0.4s;
}

.widget_menu_posts li img:hover{
-webkit-transform:scale(1.3) rotate(10deg);
-moz-transform:scale(1.3) rotate(10deg);
-o-transform:scale(1.3 rotate(10deg));
transform:scale(1.3) rotate(10deg);
}


.widget_menu_posts li a{
list-style: none;
background: none;
}

.widget_menu_title{
background: url("images/second_shadow.png") repeat-x bottom!important;
position: absolute;
display: inline-block;
bottom: 0px;
width: 22.9%!important;
font-size: 16px!important;
line-height: 25px!important;
margin: 0px 0px 0px 0px;
padding: 15px 10px 15px 15px!important;
color: #fff!important;
text-transform: uppercase;
transition:all 0.2s ease-in-out;
}

.widget_menu_title:hover{
background: #f14d4d!important; 
}


.flickr_wrap {
display: inline-block;
position: relative;
width: 100%;
height: 100%;
}

.flickr_badge_image{
float:left;
margin: 0px 5px 5px 0px!important;
padding: 0px!important;
width: 65px!important;
height: 65px!important;
}

.flickr_wrap img{
display: inline-block;
margin: 0px!important;
float:left;
width: 65px!important;
height: 65px!important;
padding: 0px!important;
}


#sidebar-footer .flickr_badge_image{
margin: 0px 5px 5px 0px!important;
float:left;
padding: 0px!important;
width: 72px!important;
height: 72px!important;
}

#sidebar-footer .flickr_wrap img{
float:left;
margin: 0px!important;
border: none!important;
width: 72px!important;
height: 72px!important;
padding: 0px!important;
}

.tp_recent_tweets{
width: 100%;
}

.tp_recent_tweets li{
background: url("images/twitter_bird.png") no-repeat left top #00c0ff!important;
display: inline-block;
width: 85%;
margin: 0px 0px 0px 0px;
padding: 6px 10px 10px 35px;
list-style: none;
font-size: 11px;
line-height: 20px!important;
color: #fff;
}

.tp_recent_tweets li a{
display: inline;
background: none;
padding: 0px;
margin: 0px;
color: #fff!important;
text-transform: capitalize!important;
}

.tp_recent_tweets li:last-child{
margin-bottom: 0px;
}

.twitter_time{
text-decoration: underline;
}




.tagcloud{
margin: 0 0 5px 0px;
}

.tagcloud a{
background: url("images/tag_single.png") no-repeat left;
color: #fff;
display: inline-block;
text-transform: uppercase;
font-size: 10px!important;
padding: 6px 9px 6px 28px;
background-color: #444;
margin: 0px 0px 5px 0px;
}

.tagcloud a:hover{
color: #fff;
}

#sidebar-footer .tagcloud{
margin: 0px 6px 0px 0px;
}

#sidebar-footer .tagcloud a{
color: #fff;
}

#sidebar-footer .tagcloud a:hover{
color: #fff;
text-decoration: none;
}

.video_widget{
width: 100%;
height: auto!important;
}

.video_widget iframe{
border: none;
width: 100%;
min-height: 200px;
height: auto!important;
margin: 0px;
}

.video_widget p{
text-indent: 0px;
}

.video_desc{
display: block;
width: 96%;
text-indent: 0px;
margin: 15px 0px 10px 10px!important;
}

#sidebar-footer .video_widget iframe{
width: 100%;
margin: 0px;
}




.banners{
width: 100%;
display: inline-block;
}

.banners a img{
max-width: 100%;
display: inline-block;
margin: 0px;
float: left;
margin: 5px 0px 5px 0px!important;
}



#recentcomments li a{
font-size: 13px;
background: none;
}

#calendar_wrap #wp-calendar{
border: none;
width: 100%;
}

.gecko #calendar_wrap #wp-calendar{
display: block;
}
 
#calendar_wrap #wp-calendar caption{
background-color: #333;
width: 100%;
color: #fff;
font-size: 14px;
padding: 7px 0px; 
text-align: center;
}
 
#calendar_wrap #wp-calendar th, #calendar_wrap #wp-calendar tr, #calendar_wrap #wp-calendar td{
color: #444;
border: none;
text-align: center;
font-size: 12px;
} 

#calendar_wrap #wp-calendar td{
line-height: 20px;
} 
 
#calendar_wrap #wp-calendar thead  tr th{
border: 1px solid #e9e9e9;
background-color: #eee;
color: #444!important;
} 
 
#calendar_wrap #wp-calendar a{
display: inline-block;
width: 100%;
height: 100%;
background-color: none;
color: #444; 
} 
 
#calendar_wrap #wp-calendar #prev{
text-align: left;
}

#calendar_wrap #wp-calendar #next{
text-align: right;
}

#calendar_wrap #wp-calendar #prev a, #calendar_wrap #wp-calendar #next a{
background-color: none;
color: #444;
}

#calendar_wrap #wp-calendar #prev a:hover, #calendar_wrap #wp-calendar #next a:hover{
color: #f14d4d;
}



#home_content .wpb_wrapper .wpb_heading{
display: inline-block;
background: #fff;
font-size: 24px!important;
line-height: 40px!important;
text-transform: uppercase!important;
padding: 0px 10px 5px 0px;
}


#home_content .wpb_video_widget {
margin: 10px 0px 20px 0px!important;
}

#home_content .wpb_single_image {
text-align: center;
}

#home_content .wpb_single_image img{
border: 7px solid #f1f1f1;
margin: 20px 0px 10px 0px!important;
padding: 0px;
width: 98%;
height: auto;
box-shadow: -1px -1px 0px #ebebeb;
}


.yop-poll-container{
width: 93%!important;
margin: 0px 0px -10px 0px!important;
}

.yop-poll-container label{
display: inline-block!important;
padding: 0px 0px 0px 5px!important;
color: #fff!important;
font-size: 14px!important;
line-height: 15px!important;
text-transform: uppercase!important;
cursor: pointer;
}

.yop-poll-container label input{
font-family: Arial, sans-serif!important;
display: inline-block!important;
width: 100%!important;
margin: 0px 0px 0px 5px!important;
}

.yop_poll_vote_button{
border: none;
display: inline-block;
padding: 4px 20px 2px 20px!important;
background: #333;
color: #fff;
font-size: 15px;
line-height: 23px;
text-transform: uppercase;
cursor: pointer;
}

.yop_poll_vote_button:hover{
background: #222;
}

.yop_poll_result_link{
display: inline-block;
}



.wpt_widget_content{
border: 1px solid #f1f1f1!important;
}

.wpt_widget_content .tab_title a {
background:#333!important;
font-size: 14px!important;
font-weight: normal!important;
color: #fff!important;
text-transform: uppercase;
border: none!important;
}

.wpt_widget_content .tab_title.selected a {
background:#f14d4d!important;
border: none!important;
}

.wpt_widget_content .tab_title{
border: none!important;
}

.wpt_widget_content .tab_title a:hover {
background:#f14d4d!important;
text-decoration: none!important;
}

.wpt_widget_content .inside ul li{
border-bottom: 1px solid #f1f1f1!important;
padding: 5px 10px 5px 0px!important;
margin: 0px 0px 10px 0px!important;
}

.wpt_widget_content .inside ul li:last-child{
border-bottom: none!important;
margin: 0px 0px 0px 0px!important;
}


.wpt_widget_content .inside ul li a{
background: none!important;
list-style: none!important;
}

.wpt_widget_content .inside ul li a{
background: none!important;
list-style: none!important;
}

.inside .entry-title {
font-size: 12px!important;
line-height: 20px!important;
padding: 0px!important;
}

.inside .entry-title a {
padding: 0px!important;
}

.wpt-postmeta{
font-size: 11px!important;
line-height: 20px!important;
}


#comments-tab-content ul li{
border-bottom: 1px solid #f1f1f1!important;
padding: 5px 10px 10px 10px!important;
margin: 0px 0px 10px 0px!important;
}

#comments-tab-content ul li{
border-bottom: 1px solid #f1f1f1!important;
padding: 5px 10px 10px 10px!important;
margin: 0px 0px 10px 0px!important;
}

#comments-tab-content ul li:last-child{
border-bottom: none!important;
margin: 0px 0px 0px 0px!important;
}

#comments-tab-content ul li .wpt_avatar img{
margin: 0px!important;
}

#comments-tab-content ul li .wpt_comment_content p{
padding-top: 7px;
font-size: 12px!important;
line-height: 20px!important;
text-indent: 0px;
}


#comments-tab-content .wpt_comment_meta {
font-size: 12px!important;
line-height: 20px!important;
padding: 0px!important;
}

#comments-tab-content .wpt_comment_meta a {
padding: 0px!important;
font-size: 12px!important;
line-height: 20px!important;
font-weight: normal!important;
}


.arqam-widget-counter{
margin-bottom: 0px;
}

.arqam-widget-counter ul li{
margin: 0px 0px 3px 0px!important;
width: 30%!important;
}

.arqam-widget-counter ul li i{
margin: 5px 0px 0px 13px!important;
}
.arqam-widget-counter ul li span{
margin: 0px 0px 3px -8px!important;
}

.arqam-widget-counter ul li small{
margin: 5px 0px 3px -9px!important;
}

.candy-clearfix{
display: inline-block;
width: 100%;
}

.candy-clearfix li a{
display: inline-block;
float: left;
width: 42px;
height: 42px;
list-style: none!important;
background: none!important;
padding: 0px;
margin: 0px;
}

#review-box {
border: 1px solid #f1f1f1;
background: #f9f9f9!important;
width: 96%;
}

#review-box h2{
border-bottom: 1px solid #eee;
background: #f9f9f9!important;
font-size: 18px!important;
font-weight: normal!important;
text-transform: uppercase;
color: #333!important;
padding: 0px!important;
}

#review-box span h5{
font-size: 15px!important;
font-weight: normal!important;
color: #fff!important;
}

#review-box p{
font-size: 15px!important;
font-weight: normal!important;
color: #333!important;
}

.review-item {
margin: 10px 0px!important;
}

.review-summary{
border-top: 1px solid #eee;
background: #f9f9f9!important;
font-size: 15px!important;
font-weight: normal!important;
color: #333!important;
padding: 0px!important;
margin: 0px!important;
}

.review-summary p{
text-indent: 0px!important;
margin: 0px 0px 25px -8px!important;
}

.review-final-score h3{
padding-left: 5px!important;
}

.user-rate-wrap{
border-top: 1px solid #eee;
background: #f9f9f9!important;
font-size: 15px!important;
font-weight: normal!important;
color: #333!important;
padding: 10px 0px 0px 0px;
margin: 0px!important;
}

.user-rating-text strong{
color: #333!important;
font-weight: normal!important;
}




.bbp-breadcrumb p{
margin: 0px 0px 10px 0px!important;
padding: 0px!important;
}

#bbp_search{
border: 1px solid #eee!important;
padding: 6px 6px 5px 6px!important;
}

#bbp_search_submit{
border: none;
font-size: 14px!important;
font-weight: normal!important;
color: #fff!important;
background: #f14d4d;
padding: 3px 10px 4px 10px!important;
text-transform: uppercase;
cursor: pointer;
}

#bbp_search_submit:hover{
background: #222;
}

.bbp-forums{
border: 1px solid #eee!important;
background: #fff!important;
}

.bbp-header{
border: none!important;
background: #f9f9f9!important;
}

.forum-titles{
font-size: 18px!important;
font-weight: normal!important;
color: #333!important;
padding: 10px 0px 10px 10px!important;
text-transform: uppercase;
}

.bbp-body{
background: #fff!important;
}

.bbp-body ul{
padding: 20px 0px 10px 20px!important;
background: #fff!important;
}

.bbp-forum-title{
font-size: 16px!important;
font-weight: normal!important;
color: #f14d4d!important;
padding: 0px!important;
text-transform: uppercase;
}

.bbp-forum-freshness{
display: block;
}

.bbp-topic-meta{
display: block;
}

.bbp-author-avatar{
display: block;
width: 14px;
height: 14px;
float: left;
}

.bbp-author-avatar img{
border: none!important;
}

.bbp-topic-meta img {
display: block;
width: 14px;
height: 14px;
float: left;
margin: 0px!important;
padding: 0px 0px 0px 20px!important;
border: none!important;
}

.bbp-author-name{
float: left!important;
padding: 0px 0px 0px 30px!important;
line-height: 14px;
font-size: 13px!important;
}

#bbp-user-avatar .fn{
display: inline-block!important;
position: relative;
width: 150px!important;
height: 150px!important;
float: left!important;
margin: 0px!important;
padding:0!important;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
width: 150px!important;
height: 150px!important;
}

.bbp-user-profile-link a{
display: none!important;
}

#bbp-user-navigation{
display: inline-block!important;
margin: 20px 0px 0px 0px!important;
padding: 0px!important;
}

#bbp-user-navigation li span a{
margin: 0px!important;
padding: 3px 10px 2px 10px!important;
}

.entry-title{
font-size: 20px!important;
font-weight: normal!important;
padding: 0px!important;
text-transform: uppercase;
}

.bbp-user-section p{
margin: 0px!important;
padding: 0px!important;
}

.bbp-topic-meta .bbp-topic-started-by a {
margin: 0px!important;
padding: 0px!important;
display: inline!important;
float: none!important;
}
.bbp-topic-meta .bbp-topic-started-by a img{
margin: 0px!important;
padding: 0px!important;
display: inline!important;
float: none!important;
}


.bbp-topic-meta .bbp-topic-started-by  .bbp-author-name{
margin: 5px 0px 0px 0px!important;
}


#bbpress-forums div.odd, #bbpress-forums ul.odd {
  background-color:#fff;
}

.bbp-reply-header{
border-top: 1px solid #f1f1f1!important;
background: #fff!important;
}

.bbp-reply-header a{
font-family: Arial, sans-serif;
background: #fff!important;
font-size: 12px!important;
font-weight: normal!important;
color: #f14d4d!important;
padding: 0px!important;
text-transform: capitalize;
}

.bbp-meta a{
font-family: Arial, sans-serif;
background: #fff!important;
font-size: 12px!important;
font-weight: normal!important;
color: #f14d4d!important;
padding: 0px!important;
text-transform: capitalize!important;
}

.bbp-admin-links span {
margin: 0px 0px 0px 0px!important;
display: block!important;
}

.bbp-reply-author a img{
display: block!important;
width: 45px!important;
height: 45px!important;
margin: 0px 0px 0px 35px!important;
float: none!important;
}

.bbp-reply-author a {
margin: 10px 0px 0px 0px!important;
padding: 0px!important;
float: none!important;
}

.bbp-author-role {
margin: -20px 0px 0px 0px!important;
padding: 0px!important;
}

.bbp-topic-permalink{
font-size: 16px!important;
font-weight: normal!important;
color: #f14d4d!important;
padding: 0px!important;
text-transform: uppercase;
}


.bbp-submit-wrapper button{
border: none;
font-size: 16px!important;
font-weight: normal!important;
color: #fff!important;
background: #f14d4d;
padding: 3px 10px!important;
text-transform: uppercase;
cursor: pointer;
}

.bbp-submit-wrapper button:hover{
background: #222;
}

.bbp-the-content{
border: 1px solid #eee!important;
}

.bbp-form p input {
padding: 5px 10px!important;
}

#subscription-toggle{
display: none!important;
}

.bbp-footer{
display: none;
}

.evcal_cblock{
display: inline-block;
float: left;
margin-left: 15px!important;
}

.evcal_desc{
display: inline-block;
margin-left: 90px!important;
}

.evcal_desc{
display: block;
height: 30px;
}

.evorow h3 {
font-size: 15px!important;
margin-bottom: 8px!important;
}

.evorow p{
line-height: 22px!important;
}


.wide p{
text-indent: 0px;
display: inline-block;
text-align:justify;
width: 92%;
font-size: 16px;
color: #4b4b4b;
line-height: 26px;
padding: 10px 0px 10px 0px!important;
margin: 0px 0px 0px 10px!important;
}

.wide p img{
display: block;
height: auto;
max-width: 100%;
margin: 10px 0px!important;
}

.wide h1, .wide h2, .wide h3, .wide h4, .wide h5, .wide h6{
padding: 10px 0px!important;
margin: 0px 0px 0px 10px!important;
line-height: 30px!important;
font-size: 20px;
text-transform: uppercase;
}
.wide a{
color: #000;
}
.wide a:hover{
text-decoration: underline;
}



.wpb_row h1, .wpb_row h2, .wpb_row h3, .wpb_row h4, .wpb_row h5, .ts-icon-title-text{
text-transform: uppercase;
}

.wpb_row p{
text-indent: 0px;
}

.ts-flip-link{
display: inline-block;
margin: 25px 0px 0px 0px!important;
}

.ts-team1, .ts-team2, .ts-team3 {
display: block;
}

.ts-team1 p, .ts-team2 p, .ts-team3 p{
display: block;
margin: 10px 0px 10px 0px!important;
color: #222;
}

.ts-team1-person-description,.ts-team2-person-description,.ts-team3-person-description{
font-size: 14px;
line-height: 23px;
color: #555!important;
}

.ts-timeline-1 li, .ts-timeline-2 li, .ts-timeline-3 li{
margin: 0px 10px 0px 3px!important;
}

.ts-timeline-1-time, .ts-timeline-2-time, .ts-timeline-3-time{
display: block;
margin: 0px 0px 0px 5px!important;
}

.ts-timeline-1-label h2,.ts-timeline-2-label h2,.ts-timeline-3-label h2{
line-height: 40px;
}

.ts-pricing h3 span{
line-height: 90px!important;
}



#evcal_widget{
padding: 0px 10px;
}

.widget-title{
display: block;
width: 90%;
padding: 0px 0px 0px 10px;
margin: 10px 0px 5px 0px;
color: #000;
font-size: 18px;
line-height: 40px;
text-transform: uppercase;
text-shadow: 1px 1px 0px #fff;
}

#evcal_widget p{
text-indent: 0px;
}








/* ---------- TipTip ----------*/

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 5px 10px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}


