
 
body.woocommerce  {
background-color: #f5f5f5!important;
}

.woocommerce-page #sidebar-right {
margin: 30px 10px 0px 0px;
} 

#container #content {
width: 69%;
margin: 10px 0px 25px 10px;
padding: 0px;
display: inline-block;
float: left;
}

.woocommerce-page #single_content {
width: 66%;
margin: 30px 0px 25px 0px;
}

.woocommerce-cart #sidebar-right, .woocommerce-account #sidebar-right, .woocommerce-checkout #sidebar-right{
margin: 30px 0px 0px 2.2%;
} 

.single-product #container #content {
border: 1px solid #e5e5e5;
background: #fff;
width: 64%;
margin: 30px 0px 25px 10px;
padding: 20px;
}

.woocommerce-page .single_text{
border-bottom: none;
}

.woocommerce-page #comments{
border-top: none;
}



.pbc_title {
font-family: Oswald, sans-serif;

font-size: 26px;
font-weight: normal;
text-transform: uppercase!important;
}


.inner_woo .custom_box{
border: 1px solid #e5e5e5;
background: #fff;
width: 94.6%;
margin: 0px 0px 25px 0px;
padding: 10px 20px;
display: inline-block;
float: left;
}

.product_categories_showing_count{
color: #999!important; 
}

.categories_click{
display: inline-block;
margin: 0px 0px 50px 0px!important; 
}


.woocommerce-breadcrumb{
display: none;
width: 100%;
color: #888;
float: left;
margin: 0px;
font-size: 11px;
line-height: 20px;
}

.woocommerce h1.page-title{ 
display: none;
}

.woocommerce .page-description { 
margin:0 0 20px 0;
font-size: 14px;
font-weight: normal;
color: #000;
line-height: 24px;
}


p.woocommerce-result-count{ 
border-bottom: 1px solid #ddd;
position: relative; 
display: inline-block;
margin: 30px 0 0px 0px!important; 
text-indent: 0px;
font-size: 12px;
color: #4b4b4b;
text-transform: uppercase;
}

.entry-summary p{ 
margin: 5px 0 15px 0;
text-indent: 0px;
font-size: 14px;
color: #4b4b4b;
line-height: 24px;
}

.entry-content p{
margin: 5px 0 15px 0;
text-indent: 0px;
font-size: 15px;
color: #4b4b4b;
line-height: 26px;
}

.entry-content h2{
margin: 5px 0 15px 0;
line-height: 26px;
font-size: 20px;
text-transform: uppercase;
}

.woocommerce .related.products { 
display: none;
}

.woocommerce .related.products h2{ 
margin:0 0 16px 0;
line-height: 30px;
}

.woocommerce-pagination{ 
margin-bottom:40px;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{ 
position: relative; 
margin: 20px 0 20px 0px; 
float: right;
}

.woocommerce .woocommerce-ordering select, .woocommerce-page .woocommerce-ordering select{ 
border: 1px solid #eee;
padding: 6px 4px;
cursor: pointer;
}


select.orderby{
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.woocommerce ul.products{
padding: 0px; 
width: 103%; 
margin: 0px!important;
}

.added_to_cart{ 
position:absolute; 
top:25%; 
left:25%; 
width:50%; 
background:#000; 
color:#fff !important; 
opacity:.7; 
line-height:1; 
padding:8px 0 8px 0;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;
}


.woocommerce nav.woocommerce-pagination ul, .woocommerce #content nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul{ 
border:none;
}

.woocommerce nav.woocommerce-pagination ul li, .woocommerce #content nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li { border:none; margin-left:5px;}

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message{ border:1px solid #ddd;-webkit-box-shadow: none;box-shadow:none}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before{-moz-border-radius: 0px;-khtml-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;padding-top: 0; top:16px;}




.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
border: 1px solid #e5e5e5;

background: #fff;
display: inline!important;
float: left!important;
margin: 0px 25px 25px 0px;
padding: 0 0 30px 0;
width: 30%;
height: 400px;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{ 
position: absolute;
top: 5px;
left: 15px;
font-size: 15px; 
margin: 0px;
line-height: 22px;
text-transform: uppercase;
-webkit-box-shadow: none;
box-shadow: none;
transition:all 0.2s ease-in-out;
}

.woocommerce ul.products li.product .product_category_title{
position: absolute;
top: 42px;
left: 15px;
color: #999;
font-size: 11px; 
margin: 0px;
line-height: 22px;
text-transform: uppercase;
}

.woocommerce ul.products li.product h3:hover, .woocommerce-page ul.products li.product h3:hover {
color: red;
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
border: none;
-webkit-box-shadow: none!important;
-webkit-transition:all 0.2s ease-in-out;
box-shadow: none!important;
display:block;
height:auto;
margin: 75px 0px 10px 0px;
transition:all 0.2s ease-in-out;
width:100%;
}

.woocommerce ul.products li.product a img:hover, .woocommerce-page ul.products li.product a img:hover {

-webkit-box-shadow: none!important;
box-shadow: none!important;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button{ 
background-color: #252525!important; 
margin: 10px 0px 0px 0px;
background:none; 
color:#ccc!important; 
text-transform:uppercase; 
transition:all 0.2s ease-in-out;
text-shadow:none!important;
font-size: 12px; 
}

.add_to_cart_button {
background: url("../images/add_to_cart_icon.png") no-repeat center left!important; 
padding-left: 30px!important; 
margin: 10px 0px 0px 10px!important; 
float: left;
display: inline-block;
}

.woocommerce a.button:hover{
background: #252525; 
color:#fff!important; 
text-shadow:none!important; 
}


.single_add_to_cart_button { 
background: url("../images/add_to_cart_icon.png") no-repeat center left!important; 
padding-left: 30px!important; 
background-color: #252525; 
margin: 2px 0px 0px 0px!important; 
background:none; 
text-transform:uppercase; 
transition:all 0.2s ease-in-out;
}

.price{
margin: 14px 0px 10px 10px!important; 
}

.price .amount{
font-weight: bold!important; 
}

.price ins {
font-weight: bold!important; 
font-size: 16px!important; 
}

.price del {
font-weight: bold!important; 
font-size: 13px!important; 
}

.single .price{
padding: 0px!important;
margin: 2px 0px 10px 0px!important; 
display: inline-block;
}

.woocommerce .star-rating, .woocommerce-page .star-rating{ 
display: inline-block;
width: 32%!important; 
float: right!important; 
margin: 7px 7px!important; 
height: 14px!important; 
}


.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page a.button.alt,.woocommerce-page button.button.alt,.woocommerce-page input.button.alt,.woocommerce-page #respond input#submit.alt,.woocommerce-page #content input.button.alt{
background:#444;
border-color:#333;
color:#fff;
text-shadow:none;
}

.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce-page #content input.button.alt:hover{
background:#FA3D03;
border-color:#FA3D03;
color:#fff;
text-shadow:none;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button{ 
box-shadow:none;
}


.woocommerce-review-link{
font-size: 12px; 
display: inline-block;
margin: 3px 0px 0px 8px;
}

.woocommerce div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce-page #content div.product div.images img {
  border: 1px solid #eee;
  -webkit-box-shadow: none;
  -webkit-transition:all 0.2s ease-in-out;
  box-shadow: none;
  display: inline-block;
  height:auto;
  transition:all 0.2s ease-in-out;
  width:100%;
}


.woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity{ 
width:120px;
}

.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus { 
height:30px; 
width:30px; 
background:none; 
position:relative; 
box-shadow:none; 
border:1px solid #ccc; 
margin:0 -1px 0 0;
-moz-border-radius: 0px;
-khtml-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus { 
float: left;
}

.woocommerce form .form-row .input-checkbox, .woocommerce-page form .form-row .input-checkbox{ 
margin:7px 8px 0 0;
}

.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling{ 
float:left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-collaterals table {
border: 1px solid #eee;
box-shadow: none;
}

.cart-collaterals table tr{
border: 1px solid #eee;
box-shadow: none;
}

.cart-collaterals table tr td {
border: 1px solid #eee;
box-shadow: none;
padding: 10px!important;
}

.cart-collaterals table tr th {
border: 1px solid #eee;
box-shadow: none;
padding: 10px!important;
}

.checkout input{
border: 1px solid #ddd;
box-shadow: none;
padding: 4px 7px!important;
}

.payment_methods li{
list-style: none!important;
}

.woocommerce .login input{
border: 1px solid #ddd;
box-shadow: none;
padding: 4px 7px!important;
}

.form-row input{
border: 1px solid #ddd;
box-shadow: none;
padding: 4px 7px!important;
}

.shipping-calculator-form select{
border: 1px solid #ddd;
box-shadow: none;
padding: 4px 7px!important;
}





.woocommerce .woocommerce-tabs{
width: 100%; 
float:left; 
margin:0px;
}

.woocommerce .woocommerce-tabs .tabs{
background: none!important;
box-shadow: none!important;
}

.woocommerce-tabs ul.tabs li {
  background-image:  none!important;
  background-position:  none!important;
  background-repeat:  none!important;
  border: 1px solid #eee;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow:  none!important;
  display:inline-block;
  position:relative;
  z-index:0;
}

#review_form_wrapper #comment{
border: 1px solid #eee!important;
width: 100%!important;
background: #f9f9f9!important;
}

#review_form_wrapper input#submit{
display: inline-block!important;
float: left!important;
position: relative!important;
margin: 20px 0px 0px 0px!important;
}


.commentlist p {
  background: none!important;
  background-image: none!important;
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  border-radius: 0px;
  display:block;
  float:left;
  font-size:12px;
  line-height:20px;
  margin: 0 10px 15px 3px!important;
  padding: 0px!important;
  text-indent:0;
  width: 100%;
}

.comment-text .star-rating{
display: none!important;
}



.stars a{
margin: 0px 0px 0px 10px!important;
}

.form-submit input{
background: #f14d4d!important;
color: #fff!important; 
transition:all 0.2s ease-in-out;
}

.form-submit input:hover{
background: #252525!important;
}

.woocommerce .upsells.products,
.woocommerce .related.products{ width:17.5%; float:left;}

.woocommerce .related.products{ margin:0 0 0 3%;}

.woocommerce .upsells.products li.product,
.woocommerce .related.products li.product { width:99% !important; float:left;}


.woocommerce span.onsale, .woocommerce-page span.onsale,.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale{
background: url("../images/sale_icon.png") no-repeat center right!important; 
padding-left: 0px 0px 0px 30px!important; 
height: 40px;
width: 40px;
margin: 70px 10px 0px 0px;
border-radius: 0px;
-moz-box-shadow:none;
-webkit-box-shadow: none;
box-shadow: none;
text-transform: uppercase;
text-indent: -9999px;
}

.single.single-product .onsale{
margin: -10px 0px 0 0!important;
}

ul.cart_list li,ul.product_list_widget li,ul.cart_list li,ul.product_list_widget li{
padding:20px 0 20px 0;
overflow:hidden;
}

ul.cart_list li img,ul.product_list_widget li img,ul.cart_list li img,ul.product_list_widget li img{
border: 1px solid #eee;
float:left!important;
margin: 0px 15px 0px 0px;
width: 70px!important;
height:auto;
box-shadow:none!important;
-webkit-box-shadow:none;
-moz-box-shadow: none;
padding:3px;
}

ul.cart_list li a,ul.product_list_widget li a,ul.cart_list li a,ul.product_list_widget li a{display: block;}


.price_slider_wrapper{ 
display: block;
margin: 5px 0px 0px 0px;	
}

.price_slider{ 
margin: 5px 0px 15px 0px;	
}

.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}

.price_slider_amount .button {
    font-size:1.15em;
}

.price_slider_amount .button {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    outline: none;
    top: -.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #00c5f6;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}

.ui-slider-horizontal {
    height:.5em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}


#sidebar-right .widget_shopping_cart_content ul li{
border-bottom: 1px solid #f5f5f5;
list-style: none!important;
background: none!important;
padding: 0px 0px 15px 0px!important;
margin: 0px 0px 15px 0px!important;
}

.widget_shopping_cart_content ul li a{
list-style: none!important;
background: none!important;
padding: 0px!important;
margin: 0px!important;
text-transform: uppercase;
font-size: 13px!important;
color: #000;
font-weight: bold!important;
}


.product_list_widget li{

list-style: none!important;
background: none!important;
padding: 0px!important;
margin: 0px 0px 15px 0px!important;
}

.product_list_widget li:last-child {
border-bottom: none;
padding: 0px 0px 0px 0px!important;
margin: 0px 0px 10px 0px!important;
} 


.product_list_widget li a{
list-style: none!important;
background: none!important;
padding: 0px!important;
margin: 0px!important;
text-transform: uppercase;
font-size: 13px!important;
color: #000;
font-weight: bold!important;
}

.product_list_widget  .star-rating{
margin: -10px 0px 0px 98px!important;
display: block;
width: 100%!important; 
float: left!important; 
height: 14px!important; 
}

.product_list_widget .reviewer{
display: none;
}



.screen-reader-text{
display: none;
}

form#searchform input {
padding: 3px 5px;
margin: 0px 0px 5px 0px;
}

form#searchform #searchsubmit{
transition:all 0.2s ease-in-out;
border: none;
background: #f14d4d;
padding: 5px 8px;
margin: 0px 0px 0px 5px;
color: #fff;
cursor: pointer;
}

form#searchform #searchsubmit:hover{
background: #252525;
}


.widget_shopping_cart h2{ 
margin:0px;
text-transform: uppercase;
font-size: 20px!important;
}

.widget_shopping_cart p{
text-indent: 0px;
}

.widget_shopping_cart_content .buttons{ margin-top:20px;}

.widget_shopping_cart_content a.button.checkout{ margin-left:10px;}

.widget_shopping_cart_content ul li{ 
padding: 8px 0 10px 0!important;
margin: 0px 0px 5px 0px!important;
}

.widget_shopping_cart_content ul li:last-child{ 
padding: 8px 0 10px 0!important;
margin: 0px 0px 15px 0px!important;
}

.widget_shopping_cart_content li a{ line-height:1.2 !important; font-weight:400 !important;}

.widget_shopping_cart_content img{ width:40px !important;}