@charset "UTF-8";
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, #header-nav a, .btn-giallo {font-family: 'Montserrat', Arial, Helvetica, sans-serif; }
h1.logo {margin-bottom:0px;}

.icon-sprite-stock, .availability.in-stock span, .availability.out-of-stock span, #product-addtocart-button2.btn-cart, .box-buy-buttons #product-addtocart-button span span, .numero-verde-header, .numero-verde-footer a, .collateral-block h2, #customer-reviews .form-add .buttons-set button, a.link-manuale-text, a#link-to-manuali, .spedizione-gratuita span, .magazine-container h3 a, .box-additional .productContentMenu menu li a span {background-image: url("../images/icon_sprite.png"); background-repeat: no-repeat; text-indent: -9999px;}
 

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.icon-sprite-stock, .availability.in-stock span, .availability.out-of-stock span, #product-addtocart-button2.btn-cart, .box-buy-buttons #product-addtocart-button span span, .numero-verde-header, .numero-verde-footer a, .collateral-block h2, #customer-reviews .form-add .buttons-set button, a.link-manuale-text, a#link-to-manuali, .spedizione-gratuita span, .magazine-container h3 a, .box-additional .productContentMenu menu li a span {background-image: url(../images/icon_sprite@2x.png); background-size: 100px 1500px;}
}

.box-feature span {background-image: url("../images/icon_sprite_prodotto.png"); background-repeat: no-repeat; text-indent: -9999px;}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.box-feature span {background-image: url(../images/icon_sprite_prodotto@2x.png); background-size: 140px 1600px;}
}


.header-top-container {padding-top:10px; padding-bottom:10px;}

.numero-verde-header {line-height:20px; min-height:24px; margin-top:10px; text-indent:0; padding-left:30px; background-position: 0px -505px;}
.numero-verde-header img {margin-right:10px; float:left;}
.numero-verde-header strong {font-size:14px; color:#000; display:inline; float:left; margin-right:10px;}
.numero-verde-header a {font-family: 'Montserrat', Arial, Helvetica, sans-serif; color:#009b71; font-size:19px; font-weight:bold;  display:inline; float:left; margin-right:10px;}
.numero-verde-header span {font-weight:normal; color:#7c7c7c; font-size:12px; display:inline; float:left; }
.numero-verde-header span.ic {font-size:14px; color:#000; font-size:18px; line-height:20px; margin-right:10px;}

.seguici-su {border-right:1px solid #e5e5e5; border-left:1px solid #e5e5e5; color:#6e6e6e; font-size:12px; padding:0px 15px 0px 20px;}
.seguici-su a {color:#d35fa0; font-size:18px;}
.seguici-su a:hover {color:#ad4191;}
.seguici-su a span {padding:0px 5px;}

.block_header_top_right2 {margin-right:15px;}

.header-primary {position:relative}
.header-primary-container {
	height:100px;
	border-top:5px solid #fcd02f;
	border-bottom:5px solid #fcd02f;
	background: rgba(202,76,156,1);
	background: -moz-linear-gradient(left, rgba(202,76,156,1) 0%, rgba(155,58,139,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(202,76,156,1)), color-stop(100%, rgba(155,58,139,1)));
	background: -webkit-linear-gradient(left, rgba(202,76,156,1) 0%, rgba(155,58,139,1) 100%);
	background: -o-linear-gradient(left, rgba(202,76,156,1) 0%, rgba(155,58,139,1) 100%);
	background: -ms-linear-gradient(left, rgba(202,76,156,1) 0%, rgba(155,58,139,1) 100%);
	background: linear-gradient(to right, rgba(202,76,156,1) 0%, rgba(155,58,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca4c9c', endColorstr='#9b3a8b', GradientType=1 );
	margin-top:5px;
}

.header-primary-container .caret {border-top-color:#fff; opacity:1.0;}

.logo-wrapper--regular {position:absolute; top:-25px; left:0px;}
 

#subscribe-form .input-box {border:1px solid #d2d2d2; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; width:90%;}
#subscribe-form .input-text {border:0px; background-color:transparent; padding-left:15px; width:79%;}
#subscribe-form h5 {margin-bottom:5px;}
#subscribe-form p {color:#7c7c7c; font-style:italic; font-size:14px; margin-bottom:20px;}
#subscribe-form button {background-color:transparent; font-size:24px; }
#subscribe-form button:hover {color:#C64B9B}
.footer-container {border-top:1px solid #000;}
.footer-container h5 {font-size:16px; letter-spacing:0.10em; text-transform:uppercase; font-weight:bold;}
.footer-container h6 {font-size:13px; letter-spacing:0.10em; text-transform:uppercase; font-weight:bold;}

.footer-primary a {font-size:14px;}
.footer-primary ul li {margin-bottom:5px;}

.footer-secondary {border-top:1px solid #e3e3e3; padding-top:25px;}
.footer-secondary-central {border-top:1px solid #e3e3e3; padding-top:25px; margin-top:25px;}
.footer-secondary-bottom {border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; padding-top:25px; padding-bottom:25px; margin-top:25px;}
.footer-secondary-top div.col-md-4 {padding-top:25px;}
.footer-secondary-top div.col-md-4:first-child {padding-top:0px;}

.quick-links h6.block-title {border:0px; font-size:14px; font-weight:normal; text-transform:none; letter-spacing:0px; font-family:'Cabin', Arial, Verdana; margin-bottom:5px; padding:0px;}
.quick-links h6.block-title.active:before {content:'[ - ] '; font-size:13px; font-family:'Cabin', Arial, Verdana; font-weight:bold}
.quick-links .collapsible .block-title:before {content:'[ + ] '; font-size:13px; font-family:'Cabin', Arial, Verdana; font-weight:bold;}
.quick-links h6.block-title.active:after {content:' '; }
.quick-links .collapsible .block-title:after {content:' ';}

.quick-links .block-content ul {margin-bottom:10px;}
.quick-links .block-content ul li {margin-bottom:2px; padding-left:22px;}
.quick-links .block-content ul li a {font-size:12px; color:#666;}

ul#menu-social-footer li {display:inline; float:left; margin-right:7px;}
ul#menu-social-footer li a {display:block; width:40px; height:40px; line-height:40px; text-align:center; -webkit-box-shadow: 0px 5px 0px 0px rgba(231, 231, 231, 1); -moz-box-shadow: 0px 5px 0px 0px rgba(231, 231, 231, 1); box-shadow: 0px 5px 0px 0px rgba(231, 231, 231, 1); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color:#fff; font-size:18px;}
ul#menu-social-footer li:last-child a {display:block; height:40px; width:100%; line-height:12px; font-size:12px; text-align:center; -webkit-box-shadow: 0px 5px 0px 0px rgba(231, 231, 231, 1); -moz-box-shadow: 0px 5px 0px 0px rgba(231, 231, 231, 1); box-shadow: 0px 5px 0px 0px rgba(231, 231, 231, 1); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color:#fff;}
ul#menu-social-footer li.fb a {background-color:#3a5a9a;}
ul#menu-social-footer li.tw a {background-color:#29aee6;}
ul#menu-social-footer li.yu a {background-color:#cb312e;}
ul#menu-social-footer li.in a {background-color:#5185ad;}
ul#menu-social-footer li.pn a {background-color:#cc2329;}
ul#menu-social-footer li a:hover {background-color:#C64B9B;}

ul#menu-social-footer li.facebook {margin-right:0px;}
ul#menu-social-footer li.facebook .button:hover {background-color:#C64B9B;}

.margin-h5 {margin-top:22px}

.numero-verde-footer {line-height:34px;}
.numero-verde-footer img {margin-right:5px; margin-top:7px; float:left;}
.numero-verde-footer em {float:left; color:#009b71; margin-right:15px; font-size:14px;}
.numero-verde-footer strong {font-size:14px; color:#009b71; display:inline; float:left; margin-right:5px;}
.numero-verde-footer a {font-family: 'Montserrat', Arial, Helvetica, sans-serif; color:#009b71; font-size:24px; font-weight:bold;  display:inline; float:left; margin-right:10px; text-indent:0; background-position: 0px -498px; padding-left:30px; }
.numero-verde-footer a:hover, .numero-verde-header a:hover {color:#C64B9B;}
.numero-verde-footer span {font-weight:normal; color:#000; font-size:12px; display:inline; float:left; }
.numero-verde-footer span.ic {font-size:14px; color:#000; font-size:18px; line-height:34px; margin-right:10px;}

.btn-giallo {display:block; background-color:#fbcf27; color:#000; font-size:13px; line-height:15px; font-weight:bold; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align:center; padding:10px 0px;}
.btn-giallo .ic {font-size:15px; padding-right:5px;}
.btn-giallo:hover {background-color:#C64B9B; color:#fff; }

p.dati-aziendali {color:#636363; font-size:11px; line-height:16px;}

.comparatori img {margin-right:10px;}

.elenco-apps .icon-sprite-stock {display: inline-block; height: 20px; width: 20px; vertical-align: middle; margin-right:15px; }
.elenco-apps li {margin-bottom:10px !important;}

.ico-android span { background-position: 0px 0px; }
.ico-apple span { background-position: 0px -34px; }
.ico-windows span { background-position: 0px -73px; }

.ico-android:hover span { background-position: -50px 0px; }
.ico-apple:hover span { background-position: -50px -34px; }
.ico-windows:hover span { background-position: -50px -73px; }


span.etichetta {margin-right:10px; display:inline-block; vertical-align:middle; background-color:transparent !important}
span.welcome-msg {font-size:13px; color:#fff; display:block;} 
span.link-loginregister {font-size:15px; line-height:15px; color:#fcd02f; font-weight:bold; display:block;}


#user-menu-wrapper-regular {}
#mini-account-wrapper-regular, #mini-compare-wrapper-regular {padding-right:10px; padding-left:10px;}
#mini-cart-wrapper-regular {padding-left:10px;}
#mini-account-wrapper-regular, #mini-compare-wrapper-regular {border-right:1px solid #c174ae;}

.ico-header {display: inline-block !important; height: 25px; width: 30px; vertical-align: middle; margin:5px 0px; padding:0px;}
#mini-account .ico-header, .user-button-box #left-menu-user-wrapper .ico-header {background-position: 0px -113px;}
#mini-account:hover .ico-header {background-position: -50px -113px;}
#mini-account.utente-loggato .ico-header {background-position: 0px -113px;}
#mini-account.utente-loggato.open .ico-header {background-position: -50px -278px;}
#mini-compare .ico-header {background-position: 0px -223px;}
#mini-compare.open .ico-header {background-position: -50px -223px;}
#mini-cart .ico-header, #user-menu-wrapper-mobile .cart-link .ico-header, .user-button-box #left-menu-cart-wrapper .ico-header {background-position: 0px -168px;}
#mini-cart.open .ico-header {background-position: -50px -168px;} 
.left-menu .stk-hrsub .col-sm-4 {width:100%;}

.utente-loggato span.ico-header {padding:0px;}
#mini-account.open span.welcome-msg {color:#000;}
.utente-loggato span.welcome-msg {font-size:12px;}
.dropdown.utente-loggato span.etichetta {display: inline-block !important; vertical-align:middle !important; margin-right:5px;}
.dropdown.utente-loggato span.etichetta {margin-right:0px;}
.dropdown.utente-loggato span {padding:0px !important; display:inline-block !important; vertical-align:middle !important}
.dropdown.utente-loggato a.dropdown-heading {padding:0px 10px; z-index:99999;}

#mini-account .utente-loggato .ico-header {background-position: 0px -278px;}
#mini-account .utente-loggato a:hover .ico-header {background-position: -50px -278px;}

#mini-cart-wrapper-regular, #mini-compare-wrapper-regular, #mini-account-wrapper-regular {float:right; }
#mini-compare-wrapper-regular .label {display:none;}

.dropdown.open {background-color:#fff}

#header-account {padding:10px 20px; width:100%;}
#header-account ul.links {border-top:1px solid #ddd; padding:10px 0px;}
#header-account ul.links li {display:block; float:none;}
#header-account ul.links li a {font-weight:bold; font-size:15px;}

.breadcrumbs {line-height:18px; letter-spacing:0.05em;}
.breadcrumbs a {color:#000;}
.breadcrumbs span.last-crumb {color:#7e7e7e;}
.breadcrumbs span.sep {color:#d460a0;}

/* .header-primary .grid12-4 {width:33.33333%} */

.product-name h1 {font-weight:bold; margin-bottom:5px !important; line-height:1em;}
#mini-account-wrapper-mobile {display:none}

.logo-wrapper--sticky {display:none;}
.sticky-header .logo-wrapper--sticky {display:block;}
.sticky-header .logo-wrapper--sticky {padding-top:2px;}
.sticky-header div.logo-wrapper--regular {display:none}
.sticky-header .header-primary-container {height:62px; border-top:0px;}
.sticky-header .header-primary {padding:0px;}
.sticky-header #user-menu-wrapper-regular {margin-top:5px;}
.sticky-container.header-primary-container {box-shadow:none;}
.sticky-header .form-search, .sticky-header .searchautocomplete .nav-search-in .category-fake, .sticky-header .searchautocomplete .nav-search-in .category, .sticky-header .form-search .input-text, .sticky-header .form-search .button {height:38px !important;}
.sticky-header .searchautocomplete .nav-search-in .category-fake {padding-top:11px}
.sticky-header .form-search .button {line-height:38px;}
.form-search .input-text {font-family:'Cabin',Arial, Helvetica, sans-serif;}


#header-nav {border-bottom:1px solid #cdcdcd; -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); padding:15px 0px; z-index:999; position:relative;}
.sticky-header #header-nav {position:fixed;}


.nav-regular li.level0 > a > span {font-weight:bold; letter-spacing:0.03em;}
.nav-regular li.level0 > a {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.nav-regular li.level0 {width:20%; text-align:center; border-right:1px solid #dfdfdf; }
.nav-regular li.level0.first {border-left:1px solid #dfdfdf}
.nav-regular li.level0 > a .caret {opacity:1.0;}

.button {font-family: 'Montserrat', Arial, Helvetica, sans-serif; text-transform:uppercase; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

#productSummaryBar { background-color: #fff; left: 0; top: 62px; position: fixed; right: 0; width: 100%; z-index:1000; display:none; padding:15px 0px; -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.30); -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.30); box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.30);}
#productSummaryBar h3 {font-weight:bold; font-size:21px; line-height:22px;}
#productSummaryBar p.availability {display:none;}
#productSummaryBar #summaryImage {height:60px; width:60px; display:block; margin:0 auto;}
#productSummaryBar .price-box {font-size:24px;}
#productSummaryBar p.special-price .price-label {display:none;}
#productSummaryBar p.special-price .price, #productSummaryBar .regular-price .price {font-weight:bold;}
#productSummaryBar .old-price, #productSummaryBar .special-price {display:inline-block; margin-right:10px;}
#productSummaryBar .old-price .price {font-weight:normal}
#productSummaryBar .paypal-logo {padding:0px;}
#productSummaryBar .paypal-or {font-style:italic; font-size:12px; letter-spacing:0.02em; display:block; text-align:center; margin:auto}

#product-addtocart-button2.btn-cart {font-size:14px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0px 5px 0px 0px rgba(234, 234, 234, 1); -moz-box-shadow: 0px 5px 0px 0px rgba(234, 234, 234, 1); box-shadow: 0px 5px 0px 0px rgba(234, 234, 234, 1); line-height:45px; padding-left:50px; background-position: 12px -321px; text-indent:0;}
#product-addtocart-button2.btn-cart:hover {background-color:#80226f;}
#productSummaryBar .paypal-wrapper {float:right}
#summaryAddToCartContainer {text-align:right;}
#summaryAddToCartContainer button {margin-top:5px;}

.special-price .price, .special-price .price-label, .minimal-price-link .price {color:#d24594 !important;}
.price-box {font-family: 'Montserrat', Arial, Helvetica, sans-serif;}
.catalog-product-view .sticky-header #header-nav {display:none}

.rating-links a {color:#c34996;}
.rating-links span.separator, .rating-links #goto-reviews-form {display:none !important}
.no-rating .rating-links #goto-reviews-form {display:inline-block !important}

.availability span {text-transform:uppercase; color:#272727; font-size:11px; letter-spacing:0.1em;}

.special-price .price-label {display:none}

.product-view .product-type-data > .price-box p.old-price span {color:#959595;}
.product-view .product-type-data > .price-box .special-price .price, .product-view .product-type-data > .price-box .regular-price .price {font-size:38px; font-weight:bold;}

.add-to-cart .qty-wrapper .qty {font-size:20px; font-weight:bold; color:#000; font-family: 'Montserrat', Arial, Helvetica, sans-serif; height:66px; line-height:66px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width:70% !important; float:left; }

.top-share .ratings {text-align:right; margin-top:0px; }

.availability.in-stock span {background-position: 0px -387px; padding-left:16px;}
.availability.out-of-stock span {background-position: 0px -412px; padding-left:16px;}

.products-grid li.item .availability.out-of-stock span {font-weight:bold;}

.product-shop .ratings {display:none;}
.short-description {display:none;}

.sharebutton-box .addthis_toolbox, .sharebutton-box .action-box {float:right; }
.sharebutton-box .addthis_toolbox {padding-left:10px; border-left:1px solid #d6d6d6; margin-left:5px;}
.sharebutton-box .action-box {margin:0px;}
.sharebutton-box .action-box .add-to-links a {margin-bottom:0px;}
.sharebutton-box .action-box .ib {height:34px; line-height:34px; width:34px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.product-view .add-to-box {border-bottom:0px; background-color:#f5f5f5; padding:25px 40px;}
.sharebutton-box a.at300b .at4-icon, .sharebutton-box a.at300m .at4-icon {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.sharebutton-box a {margin-bottom:0px !important;}

.product-shop {border:1px solid #e8e8e8; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; padding:25px 0px;}
.product-shop .old-price {margin-bottom:12px;}
.header-prodotto {margin-bottom:20px;}

.cents {font-size:0.65em;}
.data-table .cents {font-size:0.75em;}
.product-shop .add-to-cart.left-side .qty-wrapper label {display:block; text-align:center; font-size:13px; line-height:15px; width:70%; text-transform:uppercase; font-weight:bold;}
.product-shop .add-to-cart.left-side label {padding-left:0px; padding-bottom:5px;}

.box-buy-buttons {padding-left:40px !important; border-left:1px solid #d5d5d5;}
.box-buy-buttons #product-addtocart-button {-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -webkit-box-shadow: 0px 9px 0px 0px rgba(228, 228, 228, 1); -moz-box-shadow: 0px 9px 0px 0px rgba(228, 228, 228, 1); box-shadow: 0px 9px 0px 0px rgba(228, 228, 228, 1); font-size:18px; line-height:18px; padding:20px 0px 20px 30px; max-width:270px;}
.box-buy-buttons #product-addtocart-button:hover {background-color:#80226f;}
.box-buy-buttons #product-addtocart-button span span {padding-left:65px; text-align:left; white-space:normal; display:block; background-position: 0px -439px; text-indent:0;}

.box-buy-buttons .paypal-logo span.paypal-or {display:block; float:left; margin:0px 10px 0px 0px !important; line-height:40px; font-size:14px;}
.box-buy-buttons .paypal-logo a {display:block; float:left;}
.box-buy-buttons .paypal-wrapper {margin-top:20px}


.products-grid li, .products-grid li::before, .products-grid li::after {box-sizing:content-box; }
.products-grid .product-name {font-weight:bold; font-size:15px; line-height:19px; text-align:left;}
.products-grid li.item .price-box .price, .itemslider-wrapper li.item .price-box .price, .slider-featured .item .price-box .price {font-size:26px; font-weight:bold;}
.products-grid li.item .price-box .old-price .price, .itemslider-wrapper li.item .price-box .old-price .price, .slider-featured .item .price-box .old-price .price {font-size:16px; font-weight:normal;}
.products-grid li.item .product-image-wrapper {width:90%; margin:0 auto;}
.item-content {padding:10px 20px; height:100%; position:relative}
.products-grid li.item::after {border-right:1px solid #e6e6e6; right:-1px; bottom: 20px; content: ""; display: block; position: absolute; top: 20px; z-index: 1;}
.products-grid li.item:nth-child(4n+4)::after, .products-grid li.item:last-child::after {display:none}
.products-grid li.item .rating-box, .slider-featured .item .rating-box { width:60px; height:11px; font-size:0; line-height:0; background:rgba(0, 0, 0, 0) url("../images/img/rating.png") repeat-x scroll 0 0 / 12px auto; text-indent:-999em; overflow:hidden;  }
.products-grid li.item .rating-box .rating, .slider-featured .item .rating-box .rating { float:left; height:11px; background:rgba(0, 0, 0, 0) url("../images/img/rating.png") repeat-x scroll 0 100% / 12px auto; }
.products-grid li.item .ratings span.amount, .slider-featured .item .ratings span.amount {font-size:12px; line-height:14px; color:#818181;}
.products-grid li.item .ratings, .owl-wrapper .item .ratings {margin-top:0px;}
.products-grid li.item .addto-links-icons .ic, .owl-wrapper .item .addto-links-icons .ic {font-size:13px;}
.products-grid li.item .addto-links-icons span.icon, .owl-wrapper .item .addto-links-icons span.icon {height:28px; width:28px; line-height:28px;}

.riga-blocchi-home, .riga-bottom {margin-bottom:25px;}
.trustpilot-container .trustpilot-widget {background-color:#f5f5f5; padding-top:40px;}
.trustpilot-container #tp-widget-wrapper .tp-widget-reviews {border-color:#ccc !important; height:130px !important}

.box-feature span.tooltip-garanzia_open, .box-feature span.tooltip-operatore_open {cursor:pointer}

.tooltip { display:none; height:auto; padding:40px; max-width:470px; color:#000; background-color:#FFF; z-index:999; text-align:left; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.tooltip-garanzia-ita {height:auto;}

.tooltip h3 {font-weight:bold; margin-bottom:20px; font-size:20px;}
.tooltip p, .tooltip, .tooltip ul li {font-size:14px; line-height:20px;}
.tooltip a {display:block; color:#fff; background-color:#d24594; padding:8px 12px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-transform:uppercase; text-align:center; font-family:'Montserrat', Arial; line-height:16px;}
.tooltip a:hover {background-color:#bb3d84;}

#box-data-utility {padding:10px 40px;}
#box-icone-dettagli {border-top:1px solid #f1f1f1; padding-top:20px;}
#box-icone-dettagli h4 {font-family:'Cabin', Arial, Verdana; font-weight:bold; font-size:1.03em; text-transform:capitalize;}

.box-feature span {width:70px; height:35px; display:inline-block}

.colonna-attributi table {width:100%; margin-top:-1px; }
.colonna-attributi td.data {width:15rem;}
.colonna-attributi td {padding:15px; font-size:16px; width:50%}
.colonna-attributi td, .colonna-attributi th {border:1px solid #e6e6e6}
.colonna-attributi thead th{font-weight:bold; font-size:18px; background-color:#fafafa; padding:15px;}
/* nascondere .titolo-aggiunto quando le 2 colonne vanno su una solo colonna */



span.value_1422, span.value_1162, span.value_914 {background-image:none;}

span.value_431 {background-position: 0px 0px;} /* Eu */
span.value_432 {background-position: 0px -65px;} /* It */
span.value_1430 {background-position: 0px -130px;} /* Worldwide */
span.value_465 {background-position: 0px -195px;} /* Free */
span.value_464 {background-position: 0px -260px;} /* Locked */
span.value_493 {background-position: 0px -585px;} /* O2 */
span.value_492 {background-position: 0px -650px;} /* Tmobile */
span.value_553 {background-position: 0px -325px;} /* Tim */
span.value_1482 {background-position: 0px -520px;} /* Tre */
span.value_494 {background-position: 0px -390px;} /* Vodafone */
span.value_504 {background-position: 0px -455px;} /* Wind */
span.value_1458 {background-position: 0px -715px;} /* Firefox OS */
span.value_1370 {background-position: 0px -780px;} /* Sailfish OS */
span.value_1409 {background-position: 0px -845px;} /* Tizen OS */
span.value_1423 {background-position: 0px -910px;} /* Watch OS */
span.value_437 {background-position: 0px -975px;} /* Phone ios */
span.value_439 {background-position: 0px -1040px;} /* Android ios */
span.value_440 {background-position: 0px -1105px;} /* Symbian */
span.value_560 {background-position: 0px -1170px;} /* Bada */
span.value_438 {background-position: 0px -1235px;} /* Blackberry os */
span.value_435 {background-position: 0px -1300px;} /* SO Integrato */
span.value_522 {background-position: 0px -1365px;} /* MeeGo OS */
span.value_445 {background-position: 0px -1430px;} /* Proprietario OS */
span.value_436 {background-position: 0px -1495px;} /* Windows OS */
span.value_1266 {background-position: -70px 0px;} /* A++ */
span.value_1129 {background-position: -70px -65px;} /* A+ */
span.value_922 {background-position: -70px -130px;} /* A */
span.value_935 {background-position: -70px -195px;} /* B */
span.value_1408 {background-position: -70px -260px;} /* C */
span.value_1132 {background-position: -70px -325px;} /* 4K */
span.value_854 {background-position: -70px -390px;} /* Full Hd */
span.value_934 {background-position: -70px -455px;} /* Hd */
span.value_1163 {background-position: -70px -520px;} /* Smart Tv Si */
span.value_861, span.value_1167 {background-position: -70px -585px;} /* Smart 3D Si e Attivo */
span.value_915 {background-position: -70px -650px;} /* WiFi Si */

/*.smart_tv_si_no h4, .tipologia_3d h4, .wi_fi_integrato h4 {display:none;} */

.box-feature {height:75px; margin-bottom:20px; border-right:1px solid #dddddd; padding-left:15px !important;}
.box-feature:last-child {border:0px;}

.box-feature.pollici span {background-image:none; text-indent:inherit; font-family:'Montserrat', Arial; font-weight:bold; font-size:30px; color:#fff; line-height:34px; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: rgba(38,133,196,1);
background: -moz-linear-gradient(top, rgba(38,133,196,1) 0%, rgba(80,196,228,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,133,196,1)), color-stop(100%, rgba(80,196,228,1)));
background: -webkit-linear-gradient(top, rgba(38,133,196,1) 0%, rgba(80,196,228,1) 100%);
background: -o-linear-gradient(top, rgba(38,133,196,1) 0%, rgba(80,196,228,1) 100%);
background: -ms-linear-gradient(top, rgba(38,133,196,1) 0%, rgba(80,196,228,1) 100%);
background: linear-gradient(to bottom, rgba(38,133,196,1) 0%, rgba(80,196,228,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2685c4', endColorstr='#50c4e4', GradientType=0 ); width:58px;}

.box-feature.memoria_interna span {background-image:none; text-indent:inherit; font-family:'Montserrat', Arial; font-weight:bold; font-size:14px; color:#fff; line-height:34px; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:#3498db; width:58px;}

.box-feature.risoluzione_fotocamera span {background-image:none; text-indent:inherit; font-family:'Montserrat', Arial; font-size:26px; color:#2980b9; line-height:34px; }

.collateral-block {margin-bottom:50px; }
.collateral-block h2, .box-additional .block-related h2 {font-size:24px; line-height:40px; color:#bfbfbf; font-weight:normal; text-transform:uppercase; letter-spacing:0.1em; padding-left:50px; border-bottom:1px solid #d8d8d8; padding-bottom:20px; text-indent:inherit; font-family:'Montserrat', Arial; }
.box-additional .box-description h2 {background-position: 0px -567px;}
.box-additional .box-additional h2 {background-position: 0px -637px;}
.box-additional .box-video h2 {background-position: 0px -707px;}
.box-additional .box-reviews h2 {background-position: 0px -847px;}
.box-additional .box-manuali h2 {background-position: 0px -917px;}
.box-additional .block-related h2 {background-position: 0px -770px;}

.product-view .box-collateral .box-manuali {margin-bottom:50px;}

.box-related .block-related-thumbnails .product-image {float:none; display:block; text-align:center; margin-bottom:10px;}
.box-related li.product {list-style:none; list-style-image:none; padding:0px 15px; border-right:1px solid #d1d1d1; min-height:260px;}
.box-related .block-related-thumbnails .product-details {margin-left:0px;}
.box-related .product-name {font-size:14px; font-weight:bold; min-height:60px;}
.box-related #itemslider-related-multi {margin-top:15px;}
.box-related .price-box {font-size:26px; font-weight:bold; margin-top:15px;}
.box-related .block-related-thumbnails .checkbox {position:absolute; float:none; top:0px; right:5px; z-index:9;}
.box-related .owl-wrapper-outer {margin-top:40px;}
.related-add-to-wishlist span {color:#afafaf; background-color:#ececec; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:7px; font-size:13px;} 
.related-add-to-wishlist span:hover {background-color:#d24594; color:#fff; transition: all 0.15s ease-in-out 0s;}



.box-additional .box-description p, .box-additional .box-description {font-size:16px; line-height:26px;}

.img-box-style1 .product-image {border:0px !important;}

.video_youtube { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.video_youtube iframe, .video_youtube object, .video_youtube embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.info-reviews {float:right; color:#7f7f7f; font-size:14px;}
.info-reviews span {font-weight:bold}
.product-view .box-reviews dd p {font-size:16px; line-height:24px; clear:both; margin-top:15px; display:block;}
.product-view .box-reviews dd .ratings-table div:last-child:after {clear:both;}
.product-view .box-reviews dd {margin-top:20px;}
.product-view .box-reviews dd .ratings-table {min-height:25px;}
.box-voto {float:left; margin-right:50px;}
.box-voto .label {display:inline-block; padding-right:10px; font-size:14px;}
.box-voto .voto {display:inline-block;}
.box-voto:last-child {margin-right:0px;}

.box-show-review {text-align:center; margin-bottom:70px;}
.box-show-review button.show-review {border:0px; background-color:#f1f1f1; font-family:'Montserrat', Arial; font-size:14px; line-height:14px; text-transform:uppercase; color:#000; font-weight:bold; letter-spacing:0.01em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:15px; -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1); cursor:pointer }
.box-show-review button.show-review:hover {background-color:#eee;}

#customer-reviews dt,#customer-reviews dd {display:none;}
#customer-reviews .form-add {background-color:#f4f4f4; padding:60px 60px 50px 60px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#customer-reviews .form-add h3 {font-family:'Montserrat', Arial; font-size:24px; letter-spacing:0.2em; margin-bottom:10px; text-transform:uppercase; color:#000;}
#customer-reviews .form-add h4 {font-size:16px; font-family:'Cabin', Arial; margin-bottom:20px;}
#customer-reviews .form-add h4 span {font-weight:bold}
#customer-reviews .form-add .buttons-set {border:0px; clear:both; margin-top:20px;}
#customer-reviews .form-add .buttons-set button {background-color:#fcd02f; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1); font-size:14px; font-weight:bold; background-position:30px -976px; text-indent:inherit; padding:0 40px 0px 60px; float:left }
#customer-reviews .fieldset.row {margin-bottom:0px;}
#customer-reviews .form-add .buttons-set button:hover {background-color:#ebc01b; color:#000;}
#customer-reviews .form-add label {font-weight:normal; font-size:14px;}
#customer-reviews table#product-review-table {float:left}
#customer-reviews #product-review-table th {padding-left:5px; font-size:14px; text-align:left;}
#customer-reviews #product-review-table td {font-size:14px;}
#customer-reviews .form-add .form-list textarea {width:90%;}
#customer-reviews .form-add .input-box {margin-bottom:20px;}
.review_sx {border-right:1px solid #d5d5d5; padding-right:30px !important;}
.review_dx {padding-left:30px !important;}  
#customer-reviews .form-add .data-table tr.even td, #customer-reviews .form-add .data-table tr.even th, #customer-reviews .form-add .data-table tr.odd td, #customer-reviews .form-add .data-table tr.odd th {border:0px;}


a.link-manuale-text {font-size:16px; font-weight:bold; color:#d24594; padding-left:35px; background-position:0px -1026px; text-indent:inherit; line-height:40px; display:block; margin-bottom:10px; }
a#link-to-manuali {font-size:13px; font-weight:bold; line-height:26px; display:block; background-position:0px -1067px; text-indent:inherit; padding-left:25px; margin-bottom:5px; cursor:pointer}

.spedizione-gratuita span {font-size:12px; font-weight:bold; letter-spacing:0.2em; text-transform:uppercase; height:28px; display:block; background-position:0px -1105px; text-indent:inherit; padding-left:36px; }

.container-link-manuali p {font-size:16px;}
.container-link-manuali p a {font-weight:bold; color:#d24594;}
.container-link-manuali p a:hover {color:#ad4191}

#sliderHome, #sliderHome a, #sliderHome .tp-caption.NotGeneric-Title, #sliderHome .NotGeneric-Title {font-family:'Montserrat', Arial; color:#c21a81;}
#sliderHome h3 {font-size:48px; line-height:48px; font-weight:bold; margin:0px;}
#sliderHome h4 {font-size:20px; line-height:20px; font-weight:bold; margin:0px;}
#sliderHome p.info {font-size:14px; line-height:14px; font-weight:normal; margin-top:25px;}
#sliderHome p.prezzo {font-size:64px; letter-spacing:-0.05em; font-weight:bold;}
#sliderHome p.prezzo span.cents {font-size:0.35em; letter-spacing:0px;}
#sliderHome a.button {font-size:12px; font-weight:bold; background-color:transparent; border:1px solid #c21a81; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display:block; width:135px; text-align:center; padding:15px 0px; line-height:12px; }
#bannerHome div.tp-tab {padding:0px !important; border:0px;} 
#bannerHome .tp-tabs {margin-top:5px !important; border-top:1px solid #dedede; border-left:1px solid #dedede;}
#bannerHome .hesperiden .tp-tab-title {font-size:12px; font-family:'Montserrat', Arial;}
#bannerHome .hesperiden .tp-tab-content {padding:12px 55px 0 15px; margin:0px;}
#bannerHome .hesperiden .tp-tab {border-bottom:3px solid #eee; border-right:1px solid #dedede; }
#bannerHome .hesperiden .tp-tab:hover {background-color:#fff; border-bottom-color:#dbae03;}
#bannerHome .hesperiden .tp-tab.selected {background-color:#fff; border-bottom-color:#c21a81;}
#bannerHome .hesperiden .tp-tab-image {height:45px; width:45px; float:right; margin-right:10px}

#bannerHome {margin-bottom:20px;}

.slider-featured .item {padding-left:15px; padding-right:15px;}
.slider-featured .owl-buttons .owl-prev, .slider-featured .owl-buttons .owl-next, .block-related .owl-buttons .owl-prev, .block-related .owl-buttons .owl-next {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color:#fbcf27 !important; color:#000 !important;}
.slider-featured .item-content {padding:0px 10px;}
.slider-featured .owl-buttons .owl-prev:hover, .slider-featured .owl-buttons .owl-next:hover, .block-related .owl-buttons .owl-prev:hover, .block-related .owl-buttons .owl-next:hover {background-color:#d24594 !important; color:#fff !important;}
.slider-featured .owl-controls .owl-buttons .owl-prev {margin-right:2px;}

h3.section-title {font-family:'Montserrat', Arial; font-size:20px; font-weight:bold;}

.magazine-container h3 a {color:#9b3a8a; font-size:18px; font-weight:bold; text-indent:inherit; background-position:0px -1130px; padding-left:30px;}

.magazine-container .single-magazine {border:1px solid #af61a1; padding:0px; width:49%;}
.magazine-container .single-magazine:last-child {margin-left:1%;}
.single-magazine a span.titolo {font-size:14px; font-weight:normal; color:#9b3a8a; font-family:'Montserrat', Arial; display:block; padding:25px; height:100px;}
.single-magazine a:hover span.titolo {color:#7f3171;}
.single-magazine a span.plus {position:absolute; border:0px; right:0px; bottom:0px; z-index:9; color:#fff; background-color:#9b3a8a; font-family:'Montserrat', Arial; width:35px; height:35px; line-height:35px; text-align:center; font-size:22px;}

.category-title {background-color:#ffca00; padding:30px 50px; }
.category-title h1 {font-family:'Montserrat', Arial; font-weight:bold; font-size:34px; color:#c21a81; border-bottom:6px solid #c21a81; }

.block-layered-nav .block-title {display:none}
.block-layered-nav {border:1px solid #f0f0f0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:20px 30px;}
.block-layered-nav .block-content {padding:0px;}
div.block-layered-nav dd li {margin-bottom:5px;}
.block-layered-nav .block-subtitle {font-weight:bold; color:#c34d9b; font-size:15px; font-family:'Montserrat', Arial;}
.block-layered-nav .currently {font-size:13px;}
.block-layered-nav .currently span.label {font-weight:bold; text-transform:uppercase;}
.block-layered-nav a.amshopby-more {color:#c24999; font-size:14px; padding-left:15px;}


a.alert-stock {background-color:#fcd02f; display:block; font-family:'Montserrat', Arial; font-weight:bold; -webkit-border-radius: 7px;
-moz-border-radius: 7px; border-radius: 7px; text-align:center; padding:15px 25px; font-size:14px; -webkit-box-shadow: 0px 9px 0px 0px rgba(228, 228, 228, 1); -moz-box-shadow: 0px 9px 0px 0px rgba(228, 228, 228, 1); box-shadow: 0px 9px 0px 0px rgba(228, 228, 228, 1); line-height:16px;  }
a.alert-stock .col-sm-2 {text-align:center;}
a.alert-stock span.ic {font-size:30px;}
a.alert-stock span.label {float:left; text-align:left;}
a.alert-stock:hover {background-color:#e9b900; color:#000; }

#summaryPayPalContainer a.alert-stock {margin-top:0px; }


/* MENU CONTESTUALE SULLA SCHEDA PRODOTTO */
.box-additional .productContentMenu {
    pointer-events: auto;
    position: relative;
    transition: all 0.15s ease-in-out 0s;
}
.box-additional .productContentMenu.hide {
    opacity: 0;
    pointer-events: none;
    transition: all 0.15s ease-in-out 0s;
}
.box-additional .productContentMenu menu {
    list-style: outside none none;
    margin: 0 0 0 -7.5rem;
    padding: 0;
    position: absolute;
    /*top: 2rem;*/
    z-index: 2;
}
.box-additional .productContentMenu menu.on {
    position: fixed;
}
.box-additional .productContentMenu menu.on {
    top: 19.4rem;
}
.box-additional .productContentMenu menu li {
    position: relative;
}
.box-additional .productContentMenu menu li .notification {
    background: #9096b1 none repeat scroll 0 0;
    border-radius: 2rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    min-width: 2rem;
    opacity: 1;
    padding: 0.3rem 0.5rem 0.5rem;
    pointer-events: none;
    position: absolute;
    right: -0.7rem;
    text-align: center;
    top: 0.5rem;
    transition: all 0.1s ease-in-out 0s;
    z-index: 3;
}
.box-additional .productContentMenu menu li a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fdfdfd 0px, #f7f7f7 100%) repeat scroll 0 0;
    border: 0.1rem solid #e9e9e9;
    color: #dfdfe7;
    display: block;
    font-size: 2.4rem;
    height: 50px;
    line-height: 5.4rem;
    position: relative;
    text-align: center;
    width: 50px;
    z-index: 2;
}
.box-additional .productContentMenu menu li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(176, 176, 176, 0) linear-gradient(to bottom, #b0b0b0 0px, #b0b0b0 100%) repeat scroll 0 0;
    border-color: #e9e9e9;
    border-image: none;
    border-style: solid;
    border-width: 0.1rem 0 0.1rem 0.1rem;
    color: #fff;
}
.box-additional .productContentMenu menu li .label {
    -moz-osx-font-smoothing: grayscale;
    background-color:#b0b0b0;
    border: 1px solid #9b9b9b;
	border-left:0px;
    color: #fff;
    font-size: 18px;
	font-family:'Montserrat', Arial;
    font-weight: bold;
    height: 50px;
    left: 0rem;
    line-height: 50px;
    max-width: 0;
    overflow: hidden;
    padding: 0 1.2rem;
    position: absolute;
    top: 0;
    white-space: nowrap;
    z-index: 1;
}
.box-additional .productContentMenu menu li:hover .label {
    left: 50px;
    max-width: 30rem;
    transition: all 0.15s ease-in-out 0s;
    width: auto;
}
.box-additional .productContentMenu menu li:hover .notification {
    opacity: 0;
}
.box-additional .productContentMenu menu li:hover a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(176, 176, 176, 0) linear-gradient(to bottom, #b0b0b0 0px, #b0b0b0 100%) repeat scroll 0 0;
    border-color: #9b9b9b -moz-use-text-color #9b9b9b #9b9b9b;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 0.1rem 0 0.1rem 0.1rem;
    color: #fff;
}
.box-additional .productContentMenu menu li.special {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f16a18 0px, #f68036 100%) repeat scroll 0 0;
}
.box-additional .productContentMenu menu li.special a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f16a18 0px, #f68036 100%) repeat scroll 0 0;
    border: 1px solid #f16a18;
}
.box-additional .productContentMenu menu li.special.active a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f16a18 0px, #f68036 100%) repeat scroll 0 0;
    border: 1px solid #f16a18;
}
.box-additional .productContentMenu menu li.special .label {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f16a18 0px, #f68036 100%) repeat scroll 0 0;
}
.box-additional .productContentMenu menu li.special:hover a {
    border-right-color: transparent;
}


.productContentMenu menu li a span {width:25px; height:25px; display:block; margin:12px auto;}
span.icon-arrow-up {background-position: 2px -1414px;}
span.icon-informazioni {background-position: 0px -1165px;}
span.icon-dettagli {background-position: 0px -1367px;}
span.icon-review {background-position: 0px -1279px;}
span.icon-video {background-position: 0px -1203px;}
span.icon-correlati {background-position: 0px -1240px;}
span.icon-manuali {background-position: 0px -1324px;}


.productContentMenu menu li:hover a span.icon-arrow-up, .productContentMenu menu li.active a span.icon-arrow-up {background-position: -52px -1414px;}
.productContentMenu menu li:hover a span.icon-informazioni, .productContentMenu menu li.active a span.icon-informazioni {background-position: -50px -1165px;}
.productContentMenu menu li:hover a span.icon-dettagli, .productContentMenu menu li.active a span.icon-dettagli {background-position: -50px -1367px;}
.productContentMenu menu li:hover a span.icon-review, .productContentMenu menu li.active a span.icon-review {background-position: -50px -1279px;}
.productContentMenu menu li:hover a span.icon-video, .productContentMenu menu li.active a span.icon-video {background-position: -50px -1203px;}
.productContentMenu menu li:hover a span.icon-correlati, .productContentMenu menu li.active a span.icon-correlati {background-position: -50px -1240px;}
.productContentMenu menu li:hover a span.icon-manuali, .productContentMenu menu li.active a span.icon-manuali {background-position: -50px -1324px;}

/* fine menu contestuale scheda prodotto*/


.bandierine {position:absolute; top:0px; right:0px; z-index:9;}
.bandierine span {background-image: url("../images/icon_sprite_prodotto.png"); background-repeat: no-repeat; text-indent: -9999px; background-size: 88px 1006px; height:25px; width:46px; display:block;}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.bandierine  span {background-image: url(../images/icon_sprite_prodotto@2x.png); background-size: 88px 1006px;}
}
.bandierine span.value_431 {background-position:11px 0;}
.bandierine span.value_432 {background-position: 11px -41px;} /* It */
.bandierine span.value_1430 {background-position: 11px -83px;} /* Worldwide */
.bandierine span.value_493 {background-position: 16px -369px;} /* O2 */
.bandierine span.value_492 {background-position: 3px -410px;} /* Tmobile */
.bandierine span.value_553 {background-position: 2px -204px;} /* Tim */
.bandierine span.value_1482 {background-position: 16px -326px;} /* Tre */
.bandierine span.value_494 {background-position: 6px -246px;} /* Vodafone */
.bandierine span.value_504 {background-position: 3px -285px;} /* Wind */

.freccette {float: left; width:30%}
.freccette .spin-up, .freccette .spin-down { display: block !important; line-height:30px; }
.freccette .spin-up:hover, .freccette .spin-down:hover { background-color:#cb298c; color:#fff;}
.freccette .spin-up, .freccette .spin-down { color:#cb298c; font-size:30px; font-weight:bold;}

.searchautocomplete .nav-search-in .category {color:#bc4694; border:0px; font-size:14px; height:44px; }
.searchautocomplete .nav-search-in .category-fake {height:44px; font-size:14px; color:#bc4694; padding-left:12px; }

.products-grid li .spedizione-gratuita, .owl-wrapper .item .spedizione-gratuita {position:absolute; z-index:9999; top:145px; left:10px; right:10px; background-color:#ffca00; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:10px 20px 5px 20px;}
.products-grid li .spedizione-gratuita span, .owl-wrapper .item .spedizione-gratuita span {font-size:12px; font-weight:bold; letter-spacing: 0.1em; text-align:center; display:block; margin:0 auto; height:22px;}
.owl-wrapper .item .spedizione-gratuita {padding:10px 5px; top:120px;}
.owl-wrapper .item .spedizione-gratuita span {font-size:11px; letter-spacing:0px; height:19px;}
.owl-wrapper .item {}
.img-box .more-images {margin-top:30px;}

.products-grid .addto-links-icons span.icon {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:#ececec;}
.products-grid .addto-links-icons span.icon:hover {background-color:#222; color:#fff;}

div.block-layered-nav dd a img {width:18px; height:18px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; margin-right:10px; border:1px solid #c5c5c5; }
.block-layered-nav .actions {margin-bottom:30px; border-bottom:1px solid #aaa; padding-bottom:10px;}



.searchautocomplete .searchautocomplete-placeholder .index-title {border:0px; text-align:left; font-family:'Montserrat', Arial; text-transform:uppercase; color:#a0a0a0; letter-spacing:0.1em; font-size:16px; font-weight:normal; padding:0px; margin-bottom:5px;}
.searchautocomplete .searchautocomplete-placeholder .index-title span {color:#a0a0a0; font-size:0.8em;}
.form-search #search_autocomplete {padding:20px; -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20); -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20); box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20);}
.searchautocomplete .searchautocomplete-placeholder ul {margin-bottom:35px;}
.searchautocomplete .searchautocomplete-placeholder ul li {border-bottom:1px solid #d1d1d1; padding:10px 0px; }
.searchautocomplete .searchautocomplete-placeholder ul li a.name {font-size:13px; line-height:15px;}
.searchautocomplete .searchautocomplete-placeholder ul li .price-box {float:none; font-size:14px; margin-top:5px;}
.form-search .search-autocomplete ul {box-shadow:none;}
.searchautocomplete .searchautocomplete-placeholder ul li .searchautocomlete-image {margin:0px 10px 10px 0px;}
.searchautocomplete .searchautocomplete-placeholder ul li:hover {background-color:transparent; border-color:#d35fa0;}
.searchautocomplete .searchautocomplete-placeholder ul li:hover a {color:#d35fa0}
.searchautocomplete .searchautocomplete-placeholder .all {margin:0px;}
.searchautocomplete .searchautocomplete-placeholder .all a {display:inline-block; padding:2px 10px; background-color:#ffca00; color:#000; font-weight:bold; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.searchautocomplete .searchautocomplete-placeholder .all a:hover {color:#fff; background-color:#d35fa0; }

.view-mode label {display:none}

.cart-collaterals .cart-right-column {background-color:#f9eaf3;}
.discount h2 {border:0px !important; font-weight:bold !important;}
.discount h2 span {margin-right:15px;}
#discount-coupon-form label {font-size:14px;}
.discount-form .button, .account-create .buttons-set button, .account-login .new-users .buttons-set button, .account-login .registered-users .buttons-set button, #checkoutSteps .buttons-set button.button, .box-richiesta-richiama .button {background-color:#fcd02f; color:#000; font-weight:bold;}
.discount-form .button:hover, .account-create .buttons-set button:hover, .account-login .new-users .buttons-set button:hover, .account-login .registered-users .buttons-set button:hover, #checkoutSteps .buttons-set button.button:hover, .box-richiesta-richiama .button:hover {background-color:#e8ba0d;}
#shopping-cart-table th, .data-table thead th {font-weight:normal; color:#a0a0a0; font-family:'Montserrat', Arial; text-transform:uppercase; font-size:13px; letter-spacing:0.05em;}
#shopping-cart-table td {border:0px; border-bottom:1px solid #c9c9c9; vertical-align:middle;}
#shopping-cart-table tr.even {background-color:#fff;}
#shopping-cart-table tfoot {border-bottom:1px solid #cccccc;}
#shopping-cart-table tfoot .button span.ic {margin-right:15px; font-size:14px; margin-top:10px; float:left; }
#shopping-cart-table .product-image {max-width:90px;}
#shopping-cart-table .product-name {font-family:'Cabin', Arial; font-size:16px; color:#000; font-weight:bold;}
#shopping-cart-table .col-edit a {display:block; background-color:#e8e8e8; text-transform:uppercase; font-weight:bold; font-size:12px; font-family:'Montserrat', Arial; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding:5px 10px; }
#shopping-cart-table .col-edit a:hover {background-color:#000; color:#FFF; }
#shopping-cart-table .price {font-size:16px;}
#shopping-cart-table input {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border-color:#d2d2d2; font-size:18px; font-family:'Montserrat', Arial; width:auto !important; margin:0px 20px;}
#shopping-cart-totals-table tbody {font-size:16px; font-family:'Montserrat', Arial; }
#shopping-cart-totals-table td {padding-left:30px;}
#shopping-cart-totals-table tfoot td {padding-top:20px;}
ul.checkout-types {border-top:1px solid #fff; padding-top:20px; margin-top:10px; }
ul.checkout-types button.btn-checkout {font-size:18px; -webkit-box-shadow: 0px 7px 0px 0px rgba(227, 192, 213, 1); -moz-box-shadow: 0px 7px 0px 0px rgba(227, 192, 213, 1); box-shadow: 0px 7px 0px 0px rgba(227, 192, 213, 1); letter-spacing:0.06em;  }
ul.checkout-types button.btn-checkout:hover {background-color:#80226f;}
ul.checkout-types .paypal-logo {float:right;}

body.checkout-cart-index .page-title {margin-bottom:10px;}

.cart .totals .checkout-types li.or-after {margin-bottom:15px;}
.cart .totals .checkout-types li.or-after .paypal-logo {float:none; font-size:14px; font-style:italic;}

#mini-compare-wrapper-regular .skip-link .count {margin-left:-25px}

#header-compare .product-name {margin-bottom:10px; font-style:italic;}
#header-compare ol li {border-bottom:1px solid #d2d2d2; padding-top:10px;}
#header-compare .actions {border:0px;}


.sorter .sort-by label, .sorter .limiter label {float:left; margin-right:8px;}
.sorter .sort-by .select-style {-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; padding: 0; margin: 0; border: 1px solid #ccc; width: 100px; overflow: hidden; background-color: #fff;  background: #fff url("../images/freccetta-select.png") no-repeat 90% 55%; float:left}
.sorter .sort-by .select-style select, .sorter .limiter .select-style select { padding: 5px 8px; width: 130%; border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; color:#000; font-size:13px; font-weight:bold;}
.sorter .sort-by .select-style select:focus, .sorter .limiter .select-style select:focus {outline: none;}

.sorter .limiter .select-style {-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; padding: 0; margin: 0; border: 1px solid #ccc; width: 55px; overflow: hidden; background-color: #fff;  background: #fff url("../images/freccetta-select.png") no-repeat 80% 55%; float:left; margin-right:8px;}

.banner-colonna-sx {margin-bottom:10px;}

.block-layered-nav .currently a.btn-remove {text-indent:-9999px; background-image: url("../images/layered-remove-on.png"); background-repeat:no-repeat; background-position:center; display:inline-block; width:24px; height:24px;}
.block-layered-nav .currently a.btn-remove:hover {background-image: url("../images/layered-remove-off.png");}
.block-layered-nav .currently a.btn-remove:before {content:'';}

.block-layered-nav .actions {margin-top:10px; display:block;}
.block-layered-nav .actions a {font-weight:bold;}

.header-mobile .logo-wrapper--mobile {float:left; width:auto;}
.header-mobile .header-primary {padding-bottom:0px;}

/* .sticky-container .searchautocomplete .nav-search-in .category, .sticky-container .searchautocomplete .nav-search-in .category-fake, .sticky-container .form-search .input-text, .sticky-container .form-search .button {height:38px; line-height:38px;}
.sticky-container .form-search .button {width:38px;} */
.after-mobile-logo {display:none}

a.open-left-menu {float:left}
.header-regular .logo-wrapper .logo--sticky img {width:100% !important;}

.collateral-block--product_manuali_wrapper.collateral-block {margin-bottom:80px}
.pager .pages li a {background-color:#fff}

.category-products .toolbar {border-bottom:0px; background-image:url("../images/img/shadow-toolbar.png"); background-position:bottom; background-repeat:repeat-x; }
.pager .pages .current, .pager .pages li a {height:auto; width:auto; font-size:14px; padding-left:8px; padding-right:8px; line-height:36px; }
.block-viewed .product-name {margin-bottom:10px; line-height:normal}
.link-privacy {display:block; color:#7c7c7c; font-size:12px; line-height:12px; clear:both; padding-top:10px;}
#review-buttons-container .link-privacy {font-style:italic; width:270px; border-bottom:1px dashed #aaa; padding-bottom:10px; display:block;}

.product-view .box-collateral.box-description {text-align:justify}

.account-create .colonna-form {padding-right:30px;}
.account-create .colonna-form .form-list li {margin-bottom:20px;}
.account-create .colonna-form .form-list label {font-weight:normal; font-size:14px;}

.page-title h1 {font-size:2.2em}
.page-title h1, .page-title h2 {font-weight:bold;}

.account-login h2 {font-weight:bold;}

.mini-cart.dropdown .mini-cart-content .price {font-weight:bold}

body.customer-account .box-head h2 {font-size:18px; font-weight:bold; letter-spacing:0.1em; text-transform:uppercase; font-family:'Montserrat', Arial, Helvetica, sans-serif}
body.customer-account .box-head a, body.customer-account .box-info .box-title a{display:inline-block; text-transform:uppercase; font-family:'Montserrat', Arial, Helvetica, sans-serif; background-color:#eeeeee; font-size:12px; padding:2px 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-top:0px }

.data-table td {vertical-align:middle;}
.data-table td.number {font-weight:bold;}
.data-table td.statuts {font-weight:bold;}
.data-table td.invoice, .data-table td.status {min-width:110px;}
.data-table td.invoice a, .data-table td.view a {color:#c40d81; text-transform:uppercase; font-style:normal; font-weight:bold; font-size:12px;}
.data-table td.invoice a:hover, .data-table td.view a:hover {text-decoration:underline;}

.block .block-title {font-size:1.1em; font-weight:bold; font-family:'Montserrat', Arial, Helvetica, sans-serif;}
.box-account.box-info .box {padding:15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #ccc; }
.box-account.box-info .box-title {border-bottom:0px;}
.box-account.box-info .box-head {border-color:transparent !important;}
.box-account.box-info .box .col-2:after, .box-account.box-info .box-content::after {clear:both}
.box-account.box-info .box-content::after, .box-account.box-info .box-content::before {display:table; content:""}
.box-account.box-info .box-content a {color:#c40d81;}

.dashboard .box .box-title h3 {font-size:1.4em;}
.dashboard .box h4, .addresses-list h3 {font-size:1em; font-weight:bold; color:#aaa; text-transform:uppercase;}

.sidebar .block-account {border-left:7px solid #f9cd00; padding-left:20px; margin-bottom:70px;}
.block-account li {font-size:14px;}

.block-progress #billing-progress-opcheckout, .block-progress #shipping-progress-opcheckout, .block-progress #shipping_method-progress-opcheckout, .block-progress #payment-progress-opcheckout {margin-bottom:10px; border-bottom:1px dashed #aaa;}
.block-progress .changelink {display:block;}
.block-progress .changelink a {color:#c40d81}
.block-progress .changelink .separator {display:none;}

body.checkout-onepage-success .col-main p {font-size:16px;}

.addresses-list a {color:#c34996}
.my-account .page-title {border:0px; margin-bottom:10px;}

.ordershare {background-color:#FACE2F; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-bottom:30px; padding:40px; margin-top:50px; }
.ordershare .products-grid li {background-color:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; float:left; margin-right:20px; max-width:190px; padding:20px; margin-bottom:20px;}
.ordershare .products-grid li .product-image {text-align:center;}
.ordershare .item div.share {padding:0px;border-top:1px solid #ccc;}
.ordershare h2 {margin-top:0px;}

#amshopby-price-btn {margin-top:10px;}

.block-layered-nav dl dd ol > li > a span.count {font-size:85%; padding-left:2px;}
h2#titolocorrelati {padding-right:0px !important}

.slider-featured .category-products-grid .item {border-color:transparent;}
.slider-featured .owl-wrapper-outer {padding-top:20px;}

.box-richiesta-richiama {background-color:#f4f4f4; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding:30px 30px; margin-top:20px; }
.box-richiesta-richiama h3 {font-size: 16px; letter-spacing: 0.1em; text-transform:uppercase; margin-bottom:20px;}
.box-richiesta-richiama .button {margin-top:10px;}

.name-middlename {display:none}
a.ancora {display: block; position: relative; top:-130px; visibility: hidden;}
.faq-singola {border-bottom:1px solid #ccc; padding:30px 0px;}
.bottone-top a, .my-wishlist a.link-edit {display:inline-block; border:1px solid #aaa; max-width:200px; text-align:center; font-family:'Montserrat', Arial, Helvetica, sans-serif; padding:5px 12px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-weight:normal; font-size:12px; letter-spacing:0.03em;} 
.bottone-top a:hover, .my-wishlist a.link-edit:hover {border-color:#c34996}

body.cms-page-view .col-main p {font-size:1.075em; line-height:1.6em;}
.domande-faq {margin-top:10px;}
.domande-faq li {margin-bottom:8px;}
.domande-faq li a {color:#c34996; font-size:14px; }

.my-wishlist td {padding-top:20px; padding-bottom:20px;}

.box-richiama textarea#messaggio {width:100%; margin:10px 0px}

#lista-richieste p {background-color:#f9f4da; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:15px 25px;}

.my-account .data-table th, .my-account .data-table td {line-height:1.3em}
#wishlist-view-form thead {display:none}
.my-wishlist .availability {margin-top:10px;}
.my-wishlist .cart-cell .button {background-color:#cb298c; color:#fff;}
.my-wishlist .cart-cell .button:hover {background-color:#80226f;}

.products-list li .product-shop {border:0px;}
.products-list li .right-column .price-box .price {font-weight:bold; font-size:26px;}

.promo-a-tempo-prodotto {border:1px solid #cd218d; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; padding:20px 0px; margin:0px 0px 20px 0px !important;}
.promo-a-tempo-prodotto h4 {font-size:16px; font-weight:bold;}
.promo-a-tempo-prodotto p {font-size:13px; line-height:18px; }
.promo-a-tempo-prodotto p a {color:#cd218c;}

.category-image {margin-top:0px;}
.category-description p {font-size:16px; line-height:24px; margin-bottom:30px;}
.show-on-side-menu {display:none;}
.sidebar-menu-top-banner-promo {margin:12px auto 0px auto; text-align:center}


.bollino-offerta {z-index:99; position:absolute; top:0px; left:0px; max-width:70px;} 
.categorypath-selezioni-la-braciata-2016-html .category-title {display:none}

@media only screen and (max-width: 1279px) { 
	.logo-wrapper--regular {top:-11px;}
	.header-regular .logo-wrapper .logo img {width:80%;}
	#mini-account span.etichetta {display:none !important}
	#mini-account-wrapper-regular {padding-right:20px;}
	.block_header_top_right2 {display:none;}
	.numero-verde-footer span.ic-right {display:none}
	.numero-verde-footer span {line-height:14px;}
	.comparatori img {margin-right:5px;}
	ul#menu-social-footer li:last-child {margin-top:8px;}
	.products-grid li.item:nth-child(4n+4)::after {display:block}
	.products-grid li.item:nth-child(3n+3)::after {display:none}
	.sorter {text-align:center;}
	.sorter .amount, .sorter .sort-by, .sorter .limiter/*, .sorter .pager, .sorter .view-mode*/ {float:none; display:inline-block;}
	.sorter .limiter {background-image:none; margin-right:0px; padding-right:0px;}
	.toolbar-riga2 {border-top:1px dashed #aaa; margin-top:10px; padding-top:10px;}
	.sorter .view-mode {margin-left:20px;}
	#product-addtocart-button2.btn-cart {width:100%; font-size:12px;}
	.row2 {margin-right: -10px; margin-left: -10px;}
	.box-buy-buttons #product-addtocart-button {padding-left:20px;}
	#my-orders-table .nobr {white-space:normal !important}
	#my-orders-table td, #my-orders-table th {padding:5px;}
	.dropdown .dropdown-content {min-width:180px;}
	.review_dx {padding-left:10px !important}
	.review_sx {border:0px;}
}

@media only screen and (max-width: 990px) { 
	ul#menu-social-footer li:last-child {margin-top:0px;}
	.footer-secondary #subscribe-form {border-top:1px solid #ccc; padding-top:15px;}
	.footer-primary-top-sx {border-bottom:1px solid #ccc; padding-bottom:15px !important; margin-bottom:25px;}
	.account-create .colonna-destra {display:none}
	.account-login .new-users, .account-login .registered-users {min-height:inherit}
	#productSummaryBar h3 {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	.box-buy-buttons {padding-left:10px !important;}
	.product-view .add-to-box {padding:20px;}
	.box-buy-buttons #product-addtocart-button {padding:15px;}
	.magazine-container {margin-top:15px;}
	.single-magazine img {width:100%;}
}

@media only screen and (max-width: 959px) { 
	.numero-verde-header span.ic, .numero-verde-header span {display:none;}	
	#user-menu #mini-compare-wrapper-regular, #user-menu #mini-account-wrapper-regular, .header-primary .central-column {display:none}
	#user-menu-wrapper-regular {display:none}
	.header-mobile .hp-blocks-holder .hp-block {width:60px !important;}
	.header-mobile .hp-blocks-holder .hp-block #user-menu-wrapper-mobile a.is-empty {float:right;}
	.header-primary .right-column {width:auto; float:right; margin-top:12px;}
	.header-primary-container {height:70px;}
	.logo-wrapper--sticky {display:none !important}
	.block-layered-nav {padding:15px; margin-right:15px}
	.block-layered-nav .block-content > dl > dt {font-size:13px;}
	div.block-layered-nav dd a.amshopby-attr, div.block-layered-nav dd a.amshopby-attr:hover {padding-left:28px; background-size:20px;}
	div.block-layered-nav dd a.amshopby-attr-selected {padding-left:28px;}
	div.block-layered-nav dd a.amshopby-attr-selected, .block-layered-nav .currently a.btn-remove, .block-layered-nav .currently a.btn-remove:hover {background-size:20px;}
	#product-addtocart-button2.btn-cart {font-size:11px; min-width:inherit; padding-left:60px;}
	#product-addtocart-button2.btn-cart.button {text-align:left; white-space:normal; line-height:13px; padding-top:10px; padding-bottom:10px; }
	.sharebutton-box .addthis_toolbox {padding-left:5px; margin-left:5px;}
	#productSummaryBar #summaryImage {width:50px; height:50px; max-width:none;}
   .product-view .add-to-links li:last-child {margin-right:0px;} 
   .header-prodotto {margin-bottom:20px;}
   .product-view .product-type-data > .price-box {padding:0px 20px}
   .box-buy-buttons #product-addtocart-button {font-size:15px;}
   .box-buy-buttons .paypal-logo span.paypal-or {font-size:13px;}
   #productSummaryBar a.alert-stock {font-size:13px; line-height:15px; padding:15px;}
   .tp-tabs {display:none !important}
   .tparrows {opacity:1.0 !important; visibility:visible !important}
   #bannerHome {margin-bottom:0px;}
	.riga-blocchi-home div {margin-top:15px;}
	.box-account .box-head h2, .box-account .box-title h3, .dashboard .box .box-title h3, .dashboard .box .box-title h4 {float:none; text-align:left}
	.box-account .box-head a, .box-account .box-title a {float:left; margin-top:5px !important; margin-bottom:10px;}	
	.my-wishlist .cart-cell {padding-top:10px}
	.my-wishlist td {padding-top:0px; padding-bottom:5px;}
	.my-wishlist .price-box {float:left; margin-top:10px; margin-right:20px}
	.my-wishlist .price-boxadd-to-cart-alt {float:left}
	.my-wishlist .cart-cell .button {display:block}
	.my-wishlist .buttons-set {margin-top:0px; border-color:transparent;}
	.my-wishlist .buttons-set .button {float:none; margin-bottom:10px; display:block;}
	.show-on-side-menu {display:block;}
	
	.products-grid li .spedizione-gratuita, .owl-wrapper .item .spedizione-gratuita {bottom:0px; top:inherit; padding:5px 10px; left:5px; right:5px; -webkit-border-radius: 5px; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius: 5px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
	.products-grid li .spedizione-gratuita span {font-size:11px; letter-spacing:0px !important; padding-left:25px}	
		
/* Cambio tabella su ipad */
	.my-account .data-table thead {display:none}
	.my-account .data-table tr, .my-account .data-table td { border:none !important; background:transparent !important; display:block !important; width:100% !important; text-align:left !important; }
	.my-account .data-table tr {border-bottom:1px solid #ccc !important; margin-bottom:20px; padding-bottom:20px;}
	.my-account .data-table tfoot tr td:first-child, .order-review .data-table tfoot tr td:first-child { font-weight:bold; }
	.data-table .cell-label { display:inline-block; width:30%; min-width:100px; max-width:140px; margin-right:10px; font-weight:bold; vertical-align:top; }
	.my-account .data-table td ul {display:inline-block;}
	/* fine cambio tabella su ipad */

	
}

@media (max-width: 767px) {
	.footer-secondary-bottom div {margin-bottom:20px;}
	#subscribe-form {width:100%; margin-top:20px }
	.invia-richiesta {clear:both; margin-top:15px; padding-top:15px;}
	.quick-links {margin:40px 0px;}
	.block-layered-nav {margin:10px 0px; border:2px solid #c34d9b; padding:15px 20px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;} 
	.block-layered-nav dl dd ol > li > a {background-color:transparent}
	#narrow-by-list, #narrow-by-list2 {margin:0px;}
	.toolbar {border-top:0px;}
	#product-addtocart-button2.btn-cart {background-image:none; padding:10px;}
	#product-addtocart-button2.btn-cart.button {text-align:center;}
	.top-share .ratings {text-align:left; width:50%; float:left; }
	.top-share .sharebutton-box {float:right; width:50%}
	.product-view .add-to-links li:last-child {margin-right:5px;} 
	.sharebutton-box .addthis_toolbox { border-left-width:1px}
	.availability {margin-bottom:10px;}
	.breadcrumbs {letter-spacing:0px;}
	.tp-caption a.button, .tp-caption p.info {display:none !important}
	#sliderHome p.prezzo span.cents {font-size:0.7em !important}
	.riga-blocchi-home {margin-bottom:0px;}
	.block-layered-nav .block-content > dl > dt {border-bottom:0px; margin-top:0px; border-color:#ddd; line-height:36px; padding-top:0px; padding-bottom:0px;}
	.block-layered-nav .block-content > dl > dd {padding:0px 25px;}	
	.review_dx .rating-box .rating {display:none;}
	.review_dx .rating-box {text-indent:inherit; text-align:center; background-image:none; width:40px;}
	.review_dx .rating-box .rating-number {font-size:13px; line-height:normal; color:#000}
	.review_dx .rating-box .rating-number::after {content: "\e224"; padding-left:3px; color:#FACE2F;}
	.box-voto {margin-right:40px;}
	.cella-newsletter {clear:both;}
	.bollino-offerta {width:50%;}
}

@media only screen and (max-width: 639px) { 
	.numero-verde-header {line-height:16px; background-position:0 -501px; padding-left:25px; margin-top:0px;}
	.numero-verde-header a {clear:both; font-size:14px;}
	.numero-verde-header strong {font-size:11px;}
	.block_header_top_right img {max-width:80px; height:auto; margin-top:3px;}
	.header-container3 .header-top-container {padding-bottom:0px;}
	.header-mobile .logo-wrapper--mobile .logo {margin:5px auto; width:90%;}
	#scroll-to-top {display:none}
	.products-grid li.item:nth-child(3n+3)::after {display:block}
	.products-grid li.item:nth-child(2n+2)::after {display:none}
	#productSummaryBar {display:none !important}
	.breadcrumbs {display:none;}
	.top-share .ratings {width:100%; float:none;}
	.top-share .sharebutton-box {float:left; width:auto}
	.collateral-block h2, .box-additional .block-related h2 {font-size:18px; letter-spacing:0px;}
	.dashboard .welcome-msg {padding:20px 20px 20px 110px; background-position: 30px center;}
	.box-voto {clear:both; margin-bottom:5px; float:none;}
	.box-voto .label {width:140px;}
	.info-reviews {clear:both; display:block; float:none;}
	.products-grid li .spedizione-gratuita span {padding-left:0px; font-size:10px; background-image:none;}
	.products-grid .price-box {margin-bottom:5px;}
}

@media only screen and (max-width: 479px) { 
	.footer-container {padding:0px 15px;}
	#subscribe-form .btn-inline {padding:0px 10px;}
	#subscribe-form .btn-inline .ic {line-height:inherit;}
	ul#menu-social-footer li a {width:32px;}
	.numero-verde-footer {line-height:normal}
	.numero-verde-footer a {clear:both; line-height:34px;}
	.collateral-block h2, .box-additional .block-related h2 {padding-left:50px;}
	#customer-reviews .form-add {padding:25px;}
	.box-additional .box-description p, .box-additional .box-description, .colonna-attributi td {font-size:14px;}
	.single-magazine a span.titolo {padding:10px; font-size:13px; line-height:16px;}
	.review_dx, .review_sx {padding:0px !important;}
	#customer-reviews #product-review-table th {padding-left:2px; padding-right:2px; font-size:11px;}
	#customer-reviews .form-add h3 {font-size:20px;}
	ul#menu-social-footer li:last-child {margin:0px; padding:0px; clear:both; margin-top:5px;}
	.category-title h1 {font-size:20px;}
}
