/* STK Megamenu */
.header-regular .stk-hrmenu {
	width: 100%;
}

/* general ul style */
.header-regular .stk-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align:left;
	margin-bottom:30px;
}

/* first level ul style */
.header-regular .stk-hrmenu > ul,
.header-regular .stk-hrmenu .stk-hrsub-inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
}

.header-regular .stk-hrmenu > ul > li {
	display: inline-block;
}

.header-regular .stk-hrmenu > ul > li > a {
	font-weight: 700;
	padding: 1em 2em;
	color: #999;
	display: inline-block;
}

.header-regular .stk-hrmenu > ul > li > a:hover {
	color: #47a3da;
}

.header-regular .stk-hrmenu > ul > li.stk-hropen > a:hover {
	color: #c24999;
}

/* sub-menu */
.header-regular .stk-hrmenu .stk-hrsub {
	display: none;
	position: absolute;
	background: #fff;
	width: 100%;
	left: 0;
	-webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.15); padding-top:45px;background-image:url(../images/ombra-top-menu.jpg); background-position:center 15px; background-repeat:repeat-x;}

.header-regular .stk-hrmenu .stk-hrsub h3.level1 {text-align:left; font-size:17px; line-height:30px; font-weight:bold; margin-bottom:0px;}

.header-regular .stk-hrmenu .stk-hrsub li.nav-item a {font-size:13px;}

.header-regular .stk-hropen .stk-hrsub {
	display: block;
	padding-bottom: 3em;
	z-index:10;
}

.header-regular .stk-hrmenu .stk-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.header-regular .stk-hrmenu .stk-hrsub-inner:before,
.header-regular .stk-hrmenu .stk-hrsub-inner:after {
	content: " ";
	display: table;
}

.header-regular .stk-hrmenu .stk-hrsub-inner:after {
	clear: both;
}

.header-regular .stk-hrmenu .stk-hrsub-inner > div a {
	line-height: 20px;
}

.header-regular .stk-hrsub h4 {
	color: #afdefa;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.header-regular .stk-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.header-regular .stk-hrmenu {
		font-size: 120%;
		border: none;
	}

	.header-regular .stk-hrmenu > ul,
	.header-regular .stk-hrmenu .stk-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.header-regular .stk-hrmenu .stk-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.header-regular .stk-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}

	.header-regular .stk-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.header-regular .stk-hrmenu .stk-hrsub { 
		position: relative;
	}

	.header-regular .stk-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.header-regular .stk-hrmenu .stk-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}


.header-regular .open-left-menu {display:none;}
.header-mobile .open-left-menu {}
.header-mobile .header-primary {padding-top:0px;}

a.open-left-menu {font-size:36px; margin-top:8px; margin-right:20px;}
a.open-left-menu span.label {display:none;}
a.open-left-menu span.ic {color:#face26;}



.left-menu {
    background: #2c3e50 none repeat scroll 0 0;
    display: none;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: left 0.3s ease-in-out 0s;
    z-index: 2222;
	left: -20rem;
    width: 20rem;
	max-width:20rem;
	-webkit-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 5px 0px 7px 0px rgba(0, 0, 0, 0.35);
}

.left-menu .search-box {padding:15px 60px 15px 15px; background-color:#c84b9a;}

.header-mobile .left-menu.open {
    display: block;
	left:0;
}
.left-menu .container {
    padding: 0;
    width: auto;
}
.left-menu .extraNavLabel {
    color: #121758;
    display: block;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin: 2rem 0 1rem;
    padding-left: 1.5rem;
    width: 100%;
}

.left-menu ul.level2 {display:none}
.left-menu span.caret {display:none}

/*
.left-menu .stk-hrmenu {
    background: #f5f5f8 none repeat scroll 0 0;
    border-top: 1px solid #dfdfe7;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.left-menu .stk-hrmenu .topLevel > a {
    border-bottom: 1px solid #dfdfe7;
    cursor: default;
    display: block;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 1.5rem;
    transition: all 0.15s ease-in-out 0s;
}
.left-menu .stk-hrmenu .topLevel > a .smallArrow {
    display: none;
}
.left-menu .stk-hrmenu .topLevel > a .arrow {
    float: right;
    font-size: 2rem;
    line-height: 2.4rem;
    margin: -0.2rem 0 0;
    opacity: 0.3;
}
.left-menu .stk-hrmenu .topLevel > a.open {
    background: #dfdfe7 none repeat scroll 0 0;
}
.left-menu .stk-hrmenu .topLevel > a.open .arrow {
    margin: -0.2rem 0.5rem 0 0;
    opacity: 1;
    transform: rotate(90deg);
}
.left-menu .stk-hrmenu .stk-hrsub {
    background: #fff none repeat scroll 0 0;
    height: 0;
    overflow: hidden;
}
.left-menu .stk-hrmenu .stk-hrsub ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.left-menu .stk-hrmenu .stk-hrsub ul a {
    border-bottom: 1px solid #dfdfe7;
    cursor: default;
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    overflow: hidden;
    padding: 1.3rem 1.5rem 1.3rem 1.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left-menu .stk-hrmenu .stk-hrsub ul a .amount {
    background: #f5f5f8 none repeat scroll 0 0;
    border-radius: 1.4rem;
    color: #9096b1;
    float: right;
    font-size: 1.2rem;
    line-height: 2.8rem;
    margin-top: -0.6rem;
    text-align: center;
    width: 4.3rem;
}
.left-menu .stk-hrmenu .stk-hrsub ul a:active {
    background: #9096b1 none repeat scroll 0 0;
    color: #fff;
}
.left-menu .stk-hrmenu .stk-hrsub ul.highLight a {
    color: #ef6624;
    font-weight: 500;
}
.left-menu .stk-hrmenu .stk-hrsub.open {
    border-bottom: 5px solid #dfdfe7;
    height: auto;
    overflow: auto;
}
.left-menu .stk-hrmenu .stk-hrsub .subNavBanner {
    display: none;
}
.left-menu .sideMenuAccountLinks {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #dfdfe7;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.left-menu .sideMenuAccountLinks::before, .left-menu .sideMenuAccountLinks::after {
    content: " ";
    display: table;
}
.left-menu .sideMenuAccountLinks::after {
    clear: both;
}
.left-menu .sideMenuAccountLinks li {
    float: left;
    height: 4rem;
    width: 50%;
}
.left-menu .sideMenuAccountLinks a {
    border-bottom: 1px solid #dfdfe7;
    border-right: 1px solid #dfdfe7;
    color: #121758;
    cursor: default;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 40px;
    padding-left: 1.2rem;
    width: 100%;
}
.left-menu .sideMenuAccountLinks a span {
    color: #9096b1;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: -0.4rem;
    vertical-align: middle;
    width: 2.8rem;
}
.left-menu .sideMenuBanner {
    padding-top: 7rem;
    width: 100%;
}
.left-menu .sideMenuBanner img {
    width: 100%;
}
*/

.sideMenuCloseButton {
    color: #fff;
	position:absolute;
    top: 22px;
    z-index: 10000;
	cursor:pointer;
}

.sideMenuCloseButton:hover {color:#face26;}

.sideMenuCloseButton span.icon {font-size:30px;}

.sideMenuCloseButton {
    left: -7rem;
    width: 30px;
}

.sideMenuCloseButton.open {
    left: 30rem;
}
.sideMenuCloseButton.open {
    left: 85%;
}


.sideMenuBackdrop {
    background: #eee none repeat scroll 0 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
    z-index: 1111;
	left:0px;
}

.sideMenuBackdrop.show {
    opacity: 0.8;
    pointer-events: auto;
}


.header-regular .stk-hrmenu > ul > li.topLevel {width:25%; text-align:center; border-right:1px solid #dfdfdf; float:left; display:block;}
.header-regular .stk-hrmenu > ul > li.topLevel:first-child {border-left:1px solid #dfdfdf;}
.header-regular .stk-hrmenu > ul > li.topLevel h2.level0 {text-transform:uppercase; font-size:16px; letter-spacing:0.03em; font-weight:bold; margin-bottom:0px; padding:2px 0px;}
.header-regular .stk-hrmenu > ul > li.topLevel h2.level0 a {color:#c34996;}

.nav-regular .nav-panel--dropdown {box-shadow:none;}

.user-button-box {background-color:#9e3b8c; padding:15px 0px; text-align:center; height:65px;}
.user-button-box a {color:#FFF; font-size:24px;}
.user-button-box a span.label {display:none;}
.user-button-box .user-button-box #left-menu-user-wrapper a {} 

.user-button-box #left-menu-user-wrapper, .user-button-box #left-menu-compare-wrapper, .user-button-box #left-menu-cart-wrapper {float:left; width:33%;}

body.customer-logged-in .user-button-box #left-menu-user-wrapper, body.customer-logged-in .user-button-box #left-menu-compare-wrapper, body.customer-logged-in .user-button-box #left-menu-cart-wrapper, .user-button-box #left-menu-logout-wrapper {width:25%; float:left;}

.user-button-box #left-menu-cart-wrapper {border-left:1px solid #b870ab;}
.user-button-box #left-menu-user-wrapper {border-right:1px solid #b870ab;}
body.customer-logged-in .user-button-box #left-menu-cart-wrapper {border-right:1px solid #b870ab;}
body.customer-logged-in .user-button-box a.cart-link.is-not-empty {margin-left:-10px}

.user-button-box #left-menu-logout-wrapper span.ico-header {background-position: 0 -1463px;}

body.customer-logged-out #left-menu-logout-wrapper {display:none}

.left-menu #stk-hrmenu {margin-top:20px;}
.left-menu #stk-hrmenu a {color:#fff; line-height:40px;}
.left-menu #stk-hrmenu a:hover {color:#face26;}
#left-menu-compare-wrapper a.link-compare {margin-top:5px; display:block;}

.left-menu #stk-hrmenu h2.level0 {text-transform:uppercase; font-size:20px; font-weight:normal; letter-spacing:0.1em; padding:0px 20px; margin-bottom:1px; }
.left-menu #stk-hrmenu h3.level1 {background-color:#4e5d6c; padding:0px 35px; font-weight:normal; font-size:16px; margin-bottom:1px;}
.left-menu #stk-hrmenu li.level2 {background-color:#38495a; padding:0px 50px; margin-bottom:1px;}
.left-menu #stk-hrmenu li.level2 a {font-size:14px; display:block;}
.left-menu #stk-hrmenu li.topLevel {padding-bottom:30px;}
.left-menu #stk-hrmenu {background-color:#2c3e50;}

.left-menu .hide-on-side-menu {display:none}


.lista-prodotti-menu .item {clear:both; margin-bottom:30px;}
.lista-prodotti-menu .item h3.product-name {font-size:13px; text-align:left; margin-top:10px; margin-bottom:10px; padding-right:20px;}
.lista-prodotti-menu .item h3.product-name a {line-height:normal;}
.lista-prodotti-menu .item .product-image-wrapper {float:left; margin-right:20px;}
.lista-prodotti-menu .item .product-image-wrapper img {width:80px; height:80px;}
.lista-prodotti-menu .item .price-box {text-align:left;}
.lista-prodotti-menu .item .regular-price .price {font-size:20px; font-weight:bold;}
.lista-prodotti-menu .item .bandierine {display:none}
.lista-prodotti-menu .item-content {padding:10px 20px 10px 0px;}

.stk-hropen h2.level0 a {border-bottom:2px solid #c34996;}

.lista-prodotti-menu h5 {color:#a5a5a5; letter-spacing:0.1em;  padding-bottom:10px; border-bottom:1px solid #ddd; font-size:12px; text-align:left;}
.banner-menu:hover {opacity: 0.9; filter: alpha(opacity=90); /* For IE8 and earlier */}


.header-regular .stk-hrmenu li.menu-tablet .stk-hrsub h3.level1, .header-regular .stk-hrmenu li.menu-televisori .stk-hrsub h3.level1 {margin-bottom:15px;}

.left-menu span.count {background-color: #face26; border-radius: 10px; color: #000; display: inline-block; font-family: "Cabin",Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; height: 20px; line-height: 20px; position: absolute; text-align: center; width: 20px; margin-left:-5px;}

