.navbar-default img.logo {width:100px;}
.navbar-default ul li a {line-height:24px;}
.container .no-padding {padding-left:0px;padding-right:0px;}
.container .search {padding-bottom:17px;}
.container .search .btn {border-left:none;border:none;position:absolute;background:none;box-shadow: none;padding:9px 9px;right: 2px;top: 0px;outline:none;}
html[dir="rtl"] .container .search .btn {top: 2px; right: auto; left: 2px;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.container .search .btn:hover , .btn:focus {border-left:none;}
.container .mediabox {padding:0px;}
.container .mediabox img {width:100%;float:left;}
ul#list {height: 550px;}
.bs-callout-danger {
background-color: #fdf7f7;
border-color: #d9534f;
}
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.table th:first-child,
.table td:first-child {
   text-align: left;
   padding-left: 40px;
}
html[dir="rtl"] .table th:first-child,
html[dir="rtl"] .table td:first-child {
   text-align: right;
   padding-right: 40px;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
   padding: 5px 8px;
   vertical-align: middle;
}
html[dir="rtl"] .table>thead>tr>th,
html[dir="rtl"] .table>tbody>tr>th,
html[dir="rtl"] .table>tfoot>tr>th,
html[dir="rtl"] .table>thead>tr>td,
html[dir="rtl"] .table>tbody>tr>td,
html[dir="rtl"] .table>tfoot>tr>td {
  text-align: right;
}
.table {
   table-layout: fixed;
}
@media all and (max-width: 600px) {
  .table {
    table-layout: initial !important;
  }
  .table th, .table td {
      padding: 5px !important;
  }
}
@media all and (max-width: 500px) {
  #videoRelated {
    margin: 0 -10px;
  }
  #videoRelated a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
    height: auto;
    padding: 5px 10px;
  }
  	#videoRelated a img {
      display: block;
      height: auto;
      width: 100%;
    }
}
.alert-info2 {
    background-color: #e9eaed;
    border-color: #405d9b;
    color: #23355b;
}
html[dir="rtl"] .alert-dismissable .close {
  right: auto; left: 0;
  float: left;
}
html[dir="rtl"] .btn-group.pull-right,
html[dir="rtl"] #youtubeBackUrl {
  float: left !important;
}
html[dir="rtl"] .pull-right>.dropdown-menu {
  right: auto; left: 0;
}
html[dir="rtl"] .nav {
  padding-right: 0;
}
.vjs-default-skin .vjs-big-play-button {
  width: 2.8em !important; height: 2.8em !important;
  border-radius: 50% !important;
  outline: 0 !important;
  border-color: #fff !important;
  /* IE8 needs a non-glow hover state */
  background-color: #505050 !important;
  background-color: rgba(50, 50, 50, 0.75) !important;
  /* box-shadow */
  -webkit-box-shadow: 0 0 3em #ffffff !important;
  -moz-box-shadow: 0 0 3em #ffffff !important;
  box-shadow: 0 0 3em #ffffff !important;
}
.vjs-default-skin .vjs-big-play-button:before {
  line-height: 2.7em !important;
  left: 3px !important;
}
.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  margin: 0 !important;

  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}
#youtubeDownloadUrls2 tr.disabled {
  position: relative;
  pointer-events: none;
}
#youtubeDownloadUrls2 tr.disabled th,
#youtubeDownloadUrls2 tr.disabled td {
  opacity: .3;
  text-decoration: line-through;
}
#youtubeDownloadUrls2 tr.disabled + tr,
#youtubeDownloadUrls2 tr.disabled + tr td {
  text-align: center;
  line-height: 2;
}