@charset "UTF-8";
/* CSS Document */
/* Utility classes */
.cms-grey-desk-border--left {
	border-left:1px solid #e8edf0;
}
.cms-lightgrey-border {
	border: 1px solid #ececec;
}
.cms-list--no-bullet {
	list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0;
}
.cms-darkgrey-desk-border--left {
	border-left: 1px solid #bcc5ca;
}
.cms-desk-soft--top30 {
	padding-top: 30px;
}
.cms-center-all {
	margin: 0; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-right: -50%; 
	transform: translate(-50%, -50%); 
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.cms-desk-unitgreen-bdr--right {
	border-right: 1px solid #4d6102;
}
.cms-list li {
    list-style-position: inside;
    padding: 0 0 10px 20px;
    text-indent: -1em;
}
.v-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.cms-svg-img {
	max-width: 350px;
	width: 100%;
}
.cms-white--bg {
	background-color: #FFFFFF;
}
.no-border {
	border: none !important;
}
.border-right-bootstrap {
	border-right: 1px solid #ddd;
}
.cms-white--label label {
	color: #ffffff !important;
}
.cms--circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	width: 50px;
	height: 50px;
}
a.cms-orange--link {
  color: #d75e0d;
}
a:hover.cms-orange--link {
  color: #d75e0d;
}
a.cms-white--link {
  color: #ffffff;
}
a:hover.cms-white--link {
  color: #ffffff;
}
.cms-desk-soft--top20 {
	padding-top: 20px;
}
.cms-push--bottom15 {
	margin-bottom: 15px;
}
.cms-unit--navy {
	background-color: #24386e;
	color: #FFFFFF;
}
.cms-vs-unit-btn--navy {
	background-color: #5e7fc0;
	color: #FFFFFF;
}
.cms-vs-unit-btn--navy:hover {
	background-color: #4265a9;
	color: #ffffff;
}
.cms-vs-unit-btn--navy:focus {
	background-color: #4265a9;
	color: #ffffff;
}
.cms-vs-unit-btn--white {
	background-color: #FFFFFF;
	color: #e67109;
}
.cms-link--with-arrow:after {
	background-image: url("/cms/files/link-with-arrow.png");
  	height: 14px;
  	width: 9px;
  	margin-left: 10px;
  	content: '';
  	vertical-align: middle;
  	line-height: 1.2em;
  	text-decoration: none;
  	display: inline-block;	
}
.cms-type--green {
  color: #7e9e06;
}
/* Utility classes */
/* snippets */
/* cms search */
.cms-search__box--sty {
	padding-right: 0 !important;
}
.cms-search__btn--sty {
	padding-left: 0 !important;
}
.cms-search__box--bdr {
	 border-left: 1px solid #24386e;
	 border-top: 1px solid #24386e;
	 border-bottom: 1px solid #24386e;
}
.cms-search__box-icon {
	border: none;
	border-radius: 0;
	color: #24386e;
	background-color: #ffffff;
}
.cms-search-box__field {
	height:38px; 
	font-size:14px;
	border: none;
}
/* cms search */
/* snippets */
/* HubSpot form */
.cms-hubspot-form {
	max-width: 500px;
	margin: 0 auto;
  	padding-top: 40px;
}
/* Form Field (selector for form field wrapper) */
.hs-form .hs-form-field {
	margin-bottom: 20px;
}
/* Descriptions (targets class applied to Help Text divs) */
.hs-form .hs-field-desc {
	color: #434343;
	font-size: 0.75em;
  	line-height: 1.4;
}
/* Labels (selects field labels and error messages) */
.hs-form label {
	color: #434343;
	font-size: 1em;
	font-weight: 500;
}
/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"], 
.hs-form input[type="datetime"], 
.hs-form input[type="datetime-local"], 
.hs-form input[type="date"], 
.hs-form input[type="month"], 
.hs-form input[type="time"], 
.hs-form input[type="week"], 
.hs-form input[type="number"], 
.hs-form input[type="email"], 
.hs-form input[type="url"], 
.hs-form input[type="search"], 
.hs-form input[type="tel"], 
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select {
 	font-size: 1.3em;
	line-height: 1.6;
  	border: 2px solid #c6ccd2;
	border-radius: 3px;
	display: block;
	padding: 6px 12px;
	line-height: 1.6;
	color: #434343;
	background-color: #ffffff;
	background-image: none;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	width: 100%;
	height: 46px;	
}
/* Inputs in focus (selectors for all inputs when clicked)  */
.hs-form input[type="text"]:focus,
.hs-form input[type="password"]:focus, 
.hs-form input[type="datetime"]:focus, 
.hs-form input[type="datetime-local"]:focus, 
.hs-form input[type="date"]:focus, 
.hs-form input[type="month"]:focus, 
.hs-form input[type="time"]:focus, 
.hs-form input[type="week"]:focus, 
.hs-form input[type="number"]:focus, 
.hs-form input[type="email"]:focus, 
.hs-form input[type="url"]:focus, 
.hs-form input[type="search"]:focus, 
.hs-form input[type="tel"]:focus, 
.hs-form input[type="color"]:focus,
.hs-form input[type="file"]:focus,
.hs-form textarea:focus,
.hs-form select:focus {
	border-color: #047ea9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(4,126,169,0.6);
}
/* Multi-line inputs (selectors to target multi-line fields */
.hs-form textarea {}
.hs-form textarea:focus {}
/* Dropdowns (selectors for dropdowns) */
.hs-form select {
	font-size: 0.875em;
}
/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label{
	color: #dd3529;
  	line-height: 1.5;
	font-size: 0.875em;
}
.hs-form .inputs-list {
    margin: 0 0 5px;
    width: 100%;
    padding: 0;
}
.hs-form .inputs-list>li {
    display: block;
    padding: 0;
    width: 100%
}
.hs-form .inputs-list li input {
    margin: 3px 5px 3px 0px;
}
input.hs-input.error, select.hs-input.error {
	border-color: #dd3529;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
input.hs-input.error:focus, select.hs-input.error:focus {
	border-color: #8a1e16 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
}
/* Submit buttons (selectors for all non-CTA buttons) */
.hs-button.primary {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    white-space: normal;
	padding: 8px 32px;
    font-size: 1.12em;
    line-height: 1.6;
    letter-spacing: 0.05em;
	color: #fff;
	background-color: #047ea9;
  	margin-top: 20px;
}
.hs-button.primary:hover {
	text-decoration: none;
	background-color: #035977;
}
.hs-button.primary:focus {
	text-decoration: none;
	background-color: #035977;
}
.hs-form fieldset.form-columns-2 .hs-form-field {
	float: none !important;
  	width: 95% !important;
}
/* HubSpot form */
/* layouts */
.cms-fullpage--sty {
  margin-top: -40px;
}
.cms-hero__section {
	background-color: rgba(36, 56, 108, 0.4);
	padding: 20px 20px 20px 40px;
	max-width: 515px;
}
.cms-hero__section--sty {
  padding: 100px 0 20px 32px;
}
.cms-u-push--bottom3 {
	margin-bottom: 3px !important;
}
.cms-unit--blue {
	background-color: #047ea9;
	color: #000000;
}
.cms-desk-soft--left80 {
	padding-left: 80px;
}
.cms-desk-soft--ends45 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.cms-desk-soft--ends35 {
	padding-top: 35px;
	padding-bottom: 35px;
}
.cms-soft--ends60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.cms-soft--ends45 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.cms-soft--ends35 {
	padding-top: 35px;
	padding-bottom: 35px;
}
.cms-desk-soft--left32 {
	padding-left: 32px;
}
.cms-desk-soft--left10 {
	padding-left: 10px;
}
.cms-push--top45 {
	margin-top: 45px;
}
.cms-push-bottom5 {
	margin-bottom: 5px;
}
.cms-desk-soft--sides40 {
	padding-left: 40px;
	padding-right: 40px;
}
.cms-desk-soft--sides85 {
	padding-left: 85px;
	padding-right: 85px;
}
.cms-desk-soft--sides30 {
	padding-right: 30px;
	padding-left: 30px;
}
.cms-desk-soft--right30 {
	padding-right: 30px;
}
.cms-desk-soft--sides20 {
	padding-right: 20px;
	padding-left: 20px;
}
.cms-soft--top35 {
	padding-top: 35px;
}
.cms-soft--top45 {
	padding-top: 45px;
}
.cms-soft--top60 {
	padding-top: 60px;
}
.cms-card--shadow {
	-webkit-box-shadow: 0px 2px 6px #CACACA;
	-moz-box-shadow: 0px 2px 6px #CACACA;
	box-shadow: 0px 2px 6px #CACACA;
}
.cms-col-centered {
	float: none;
	margin: 0 auto;
}
.cms-hero--bg {
	background-color: #000000;
	color: #ffffff;
}
.cms-desk-card--shadow {
	-webkit-box-shadow: 0px 2px 6px #CACACA;
	-moz-box-shadow: 0px 2px 6px #CACACA;
	box-shadow: 0px 2px 6px #CACACA;
}
.cms-unit--darkblue {
	background-color: #002244;
	color: #FFFFFF;
}
.cms-unit--lightblue {
	background-color: #D2E9FC;
	color: #FFFFFF;
}
.cms-push--right40 {
	margin-right: 40px;
}
.cms-push--left40 {
	margin-left: 40px;
}
/* columns of same height styles */
.cms-row-same--height {
	display: table;
	width: 100%;
}
.cms-row-same--heightspacing {
	border-collapse: separate;
	border-spacing: 10px 5px;
}
/* columns of same height styles -- ends */
/* Embeded responisve videos */
.cms-video {
	margin: 0 auto;
	max-width: 750px;
}
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
	padding-bottom: 75%;
}
.embed-responsive {
	display: block;
	height: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: relative;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
/* Embeded responisve videos ends */
/* home */
.cms-home__hero {
	background: url("/cms/files/hero-home.jpg") no-repeat center;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
	min-height: 450px;
}
.cms-home__hero-sty {
	padding: 100px 0 20px 0;
}
.cms-home__hero-cnt {
	max-width: 515px;
}
.cms-home__hero-store {
	background-color: #d75e0d;
	border-radius: 5px;
	color: #ffffff;
	float: right;
	margin-top: 70px;
	padding: 15px 20px 20px 20px;
	text-align: center;
	max-width: 250px;
}
.cms-home-box-transform {
	transform: skewY(-2deg);
	margin-top: -30px;
}
.cms-home-box-transform-cnt {
	transform: skewY(2deg);
}
.cms-home__unit-blue-cnt {
	border-left: 1px solid #5e7fc0;
	padding-left: 5%;
}
.cms-home__unit-green {
	padding-left: 5%;
}
.cms-home__unit-blue {
	padding-right: 5%;
}
.cms-home__unit-green-cnt {
	border-left: 1px solid #4d6102;
	padding-left: 5%;
}
.cms-home__partner {
	background-color: #FFFFFF;
	width: 100%;
	max-width: 940px;
	margin: 0 auto 40px auto;
	box-shadow: 0px 2px 6px #CACACA;
	box-sizing: border-box;
	padding: 30px 20px;
}
.cms-home__partner a {
	display: block;
	margin-bottom: 15px;
  	color: #24386e; 
}
.cms-home__partner a:hover {
  	color: #05a3db; 
  	text-decoration: none;
}
.cms-home__partner--navy-bdr {
	border-top: 3px solid #24386e;
}
.cms-home__partner--orange-bdr {
	border-top: 3px solid #e67109;
}
.cms-home__partner--green-bdr {
	border-top: 3px solid #7e9e06;
}
.cms-home__partner--pink-bdr {
	border-top: 3px solid #d81e5d;
}
.cms-home__partner--blue-bdr {
	border-top: 3px solid #047ea9;
}
.cms-home__gradient-sty {
	padding-right: 5%;
	padding-left: 5%
}
.cms-home__hero-gradient {
	background: #24386e; /* Old browsers */
	background: -moz-linear-gradient(left, #24386e 0%, #24386e 50%, #7e9e06 50%, #7e9e06 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #24386e 0%, #24386e 50%, #7e9e06 50%, #7e9e06 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #24386e 0%, #24386e 50%, #7e9e06 50%, #7e9e06 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24386e', endColorstr='#7e9e06', GradientType=1 ); /* IE6-9 */
}
/* home */
/* Students */
.cms-students__hero {
	background: url("/cms/files/hero-student.jpg") no-repeat center center;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-students__hero--sty {
	padding: 100px 0 20px 32px;
}
.cms-students__search {
	background-color: rgba(4,126,169,0.85); 	
}
.cms-students__search-sty {
	padding: 38px 0 38px 32px;
}
/* Students */
/* Educators */
.cms-educators__hero {
	background: url("/cms/files/hero-educators.jpg") no-repeat center top;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-educators__hero--sty {
	padding: 245px 0 20px 32px;
}
.cms-educators__email-check__input {
	height: 38px;
	font-size: 14px;
}
.cms-educators__email-check__button {
	vertical-align: bottom;
}

/* Educators */
/* Bookshelf Features */
.cms-bf__hero {
	background: url("/cms/files/hero-bookshelf.jpg") no-repeat center center;
	margin:0;
	padding:0;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-bf__read-offline {
	padding: 6.25em 0 3.125em 3em;
}
.cms-bf__read-offline--tablet {
	position: absolute !important;
	bottom:0;
	right:0;
}
.cms-bf__read-offline--tablet-fig {
	width:333px;
	height:371px;
}
.cms-bf__read-offline--tablet-fig img {
	width: 100%;
	height: 100%;
}
.cms-bf__responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 60px;
	overflow: hidden;
}
.cms-bf__responsive-video iframe, .cms-bf__responsive-video object, .cms-bf__responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cms-bf__feature-block {
	min-height: 314px;
	-webkit-box-shadow: 0px 2px 6px #CACACA;
	-moz-box-shadow: 0px 2px 6px #CACACA;
	box-shadow: 0px 2px 6px #CACACA;
	margin-bottom: 20px;
}
.cms-bf__feature-block img {
	max-height: 100%;
	width: auto;
}
.cms-bf__sso {
  max-width: 800px; 
  margin: 0 auto; 
  padding-top: 20px; 
  width: 100%
}
/* Bookshelf Features */
/* Corporate Contact us */
.cms-corp-contacts__key a{
	color:#434343;
	font-size:0.875em;
}
.cms-corp-contacts__key a:hover, .cms-corp-contacts__key a:focus {
	color:#434343;
}
.cms-corp-contacts__key li {
	margin-bottom:0.5em;
}
.cms-corp-contacts__cnt-right p{
	margin-bottom:1em;
}
.cms-corp-contacts__cnt-right a{
	color:#434343;
	font-size:1em;
	font-weight:600;
}
.cms-corp-contacts__cnt-right a:hover, .cms-corp-contacts__cnt-right a:focus {
	color:#434343;
}
/* Corporate Contact us */
/* Admin */
.cms-admin__hero {
	background: url("/cms/files/hero-admin.jpg") no-repeat right center;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-admin__digitalbg {
	background: url("/cms/files/admin-digital-soultions.jpg") no-repeat center top;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.cms-admin__cards--ends {
	padding-top: 33px;
	padding-bottom: 33px;
}
.cms-admin--bdr {
	border-right: 1px solid #bcc5ca;
}
.cms-admin__hero--sty {
	padding: 193px 0 150px 32px;
}
.cms-admin__digitalcnt--text {
	padding: 0 20px;
}
.cms-admin__digitalcnt {
	padding-left: 0 !important;
}
/*Admin -- ends*/
/*Corporate Training */
.cms-corporate-training__hero {
	/*background: url("/cms/files/hero-corporate.jpg") no-repeat top right;*/
  	background: url("/cms/files/hero-corporate-training.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-corporate-training__hero--sty {
	padding: 135px 48px 260px 32px;
}
.cms-corporate-training__digitalimg {
	max-width: 360px;
  	width: 100%;
}
.cms-corporate-training__digital-expertiseimg {
	max-width: 545px;
  	width: 100%;
}
/*Corporate Training ends */
/* Corporate Training Solutions */
.cms-corporate-solutions__hero {
	background: url("/cms/files/hero-corporate-solutions.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-corporate-solutions__developimg {
	max-width: 520px;
  	width: 100%;
}
.cms-corporate-solutions__manageimg {
	width: 100%;
	max-width: 570px;
}
.cms-corporate-solutions__engageimg {
	max-width: 285px;
  	width: 100%;
}
.cms-corporate-solutions__measureimg {
	max-width: 400px;
  	width: 100%;
}
.cms-corporate-solutions__imgcont {
	text-align: right;
}
/* Corporate Training Solutions */
/* Publishers Overview */
.cms-publishers__hero {
	background: url("/cms/files/hero-publishers.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-publishers__hero--sty {
	padding: 135px 48px 155px 32px;
}
/* Publishers Overview */
/* Publisher Reps */
.cms-publisher-reps__hero {
	background: url("/cms/files/hero-publisher-reps.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-publisher-reps__hero--sty {
	padding: 100px 0px 190px 32px;
}
/* Publisher Reps */
/* Distribution Partners */
.cms-distribution-partners__hero {
	background: url("/cms/files/hero-book-sellers.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-distribution-partners__hero--sty {
	padding: 100px 0px 135px 32px;
}
/* Distribution Partners */
/* About Us */
.cms-aboutus__hero {
	background: url("/cms/files/aboutus.png") no-repeat center bottom;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 530px;
}
.cms-aboutus__hero--sty {
	padding: 100px 0 0px 0px;
}
.cms-locations-google-maps {
	width: 100%;
	height: 550px;
}
.cms-aboutus__mapstext {
	width: 200px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #cccccc;
}
.cms-aboutus__mapstext--links {
	padding: 5px 10px 15px 10px;
}
.cms-links--nounderline {
	text-decoration: none !important;
}
.cms-aboutus--maplinkscurrent {
	background-color: #eeeeee;
}
/* About Us */
/* VCS - VitalSource Content Studio */
.cms-vcs__hero {
	background: url("/cms/files/hero-vcs.jpg") no-repeat right center;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-vcs__imgblock {
  max-width: 396px;
  width: 100%;
}
.cms-vcs__info {
  max-width: 840px;
  margin: 0 auto;
}
/* VCS - VitalSource Content Studio */
/* Bookshelf GPS */
.cms-bookshelf-gps__hero {
	background: url("/cms/files/hero-bookshelf-gps.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-bookshelf-gps__img1 {
    max-width: 360px;
    width: 100%;
}
.cms-bookshelf-gps__img2 {
    max-width: 380px;
    width: 100%;
}
/* Bookshelf GPS */
/* K12 Educators */
.cms-k12__hero {
	background: url("/cms/files/hero-k12.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
.cms-k12__img {
    max-width: 300px;
    width: 100%;
}
.cms-k12__clever-img {
	max-width: 430px;
  	width: 100%; 
}
/* K12 Educators */
/* VS Access */
.cms-vsaccess__hero {
	background: url("/cms/files/hero-vsaccess.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
	min-height: 500px;
}
.cms-vsaccess__optoutimg {
	max-width: 340px;
	width: 100%;
}
.cms-vsaccess__accessimg {
	max-width: 320px;
	width: 100%;
}
/* VS Access */
/* Professional Services */
.cms-pro-services__hero {
	background: url("/cms/files/hero-pro-services.jpg") no-repeat top right;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
  	min-height: 500px;
}
/* Professional Services */
/* Analyze */
.cms-analyze__hero {
	background: url("/cms/files/hero-analyze.jpg") no-repeat center top;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
	min-height: 500px;
}
/* Analyze */
/* White label store */
.cms-whitelabel-store__hero {
	background: url("/cms/files/whitelabel-store-hero.jpg") no-repeat center top;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
	min-height: 500px;
}
.cms-whitelabel-store__demo {
	max-width: 473px;
	margin: 0 auto;
	padding-top: 5px;
}
.cms-whitelabel-store__art {
	max-width: 420px;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
}
/* White label store */
/* Careers */
.cms-careers__hero {
	background: url("/cms/files/careers-hero.jpg") no-repeat center top;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
	min-height: 450px;
}
.cms-careers-engineering__hero {
	background: url("/cms/files/careers-engineering-hero.jpg") no-repeat center center;
	margin: 0;
	padding: 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;
	min-height: 450px;
}
.cms-careers__block {
	background-color: #FFFFFF;
	width: 100%;
	margin-bottom: 50px;
	box-shadow: 0px 2px 6px #CACACA;
	box-sizing: border-box;
}
.cms-careers__block-cnt {
	padding: 40px 0 0 40px;
}
.cms-careers__block-img {
	text-align: right;
}
.table-careers {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20); 
	border: 1px solid #cacaca;
}
.table-careers > tbody > tr:nth-of-type(2n) {
   background: rgba(36,56,111,0.12);
}
.cms-career-job-post {
	background-color: #FFFFFF; 
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50); 
	padding: 40px;
}
/* Careers */
/*layouts -- ends*/
/* fonts */
.cms-copy--16 {
	font-size: 1em;
	line-height: 1.5;
}
.cms-copy--14 {
	font-size: 0.875em;
	line-height: 1.4;
}
.cms-copy--12 {
	font-size: 0.75em;
	line-height: 1.2;
}
.cms-copy--line {
	line-height: 1.5em;
}
.cms-heading--smaller {
	font-size: 1.375em; /*22px*/
}
.cms-heading--xxsmall {
	font-size: 1.125em; /*18px*/
}
.cms-heading--xmedium {
	font-size: 2em; /*32px*/
}
.cms-copy--lineheight {
	line-height: 1.2;
}
.cms-copy-lineheight--medium {
	line-height: 1.5;
}
.cms-copy-lineheight--small {
	line-height: 1.1;
}
.cms-form__header {
	font-size: 2.25em;
	line-height: 1.2;
}
.cms-hero--heading {
	font-size: 2.25em;
}
.cms-form__note {
	font-size: 1.25em;
	line-height: 1.2;
}
.cms-uppercase {
	text-transform: uppercase;
}
.cms-font--24 {
	font-size: 1.5em;
}
/* fonts -- ends */
/* colors */
.cms-type--white {
	color: #ffffff;
}
.cms-grey--bg {
	background-color: #ededed;
}
.cms-type--navy {
	color: #002244;
}
.cms-type--snowwhite {
	color: #FAFAFA;
}
.cms-type--lightwhite {
	color: #FEFEFE;
}
/* colors -- ends */
/* cms forms */
.cms-form {
	max-width: 620px;
	margin: 0 auto;
}
.cms-form__select--half {
	width: 50%;
}
#errorContainer {
	display: none;
	overflow: auto;
	background-color: #dd3529;
	border-radius: 3px;
	color: white;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 15px 30px;
	vertical-align: top;
}
#errorContainer li {
	list-style-type: none;
}
#errorContainer ul {
	padding: 0;
	margin: 0;
}
#errorContainer span {
	float: none;
	width: auto;
}
@media only screen and (max-width: 767px) {
/* Utility classes */
 .cms-darkgrey-desk-border--left {
	border-right: none;
}
.cms-mob-push--top20 {
	margin-top: 20px;
}
.cms-mob-list--nobullet {
	list-style-type: none;
	padding-left: 0 !important;
}
.cms-mob-push--bottom60 {
	margin-bottom: 60px;
}
.cms-mob-push--bottom45 {
	margin-bottom: 45px;
}
.cms-mob-push--top35 {
	padding-top: 35px;
}
.cms-desk-soft--sides30 {
	padding-right: 0px;
	padding-left: 0px;
}
.cms-desk-soft--sides20 {
	padding-right: 0;
	padding-left: 0;
}
.cms-desk-soft--right30 {
	padding-right: 0px;
}
.cms-desk-unitgreen-bdr--right {
	border-right: none;
}
.v-align {
    display: block;
    vertical-align: baseline;
    float: none;
}
.cms-mob-btn--full {
	width: 100%;
}
.cms-mob-cnt--txtctr {
	text-align: center;
}
.cms-mob-cnt--sty {
	padding-right: 5px;
	padding-left: 5px;
}
.cms-mob-dis--none {
	display: none;
}
.cms-grey-desk-border--left {
	border-left: none;
}
.cms-desk-soft--top30 {
	padding-top: 0;
}
.cms-hero--section {
	padding: 20px 12px 20px 12px;
}
/* Utility classes */
/* snippets */
/* cms search */
.cms-search__box--sty {
	padding-right: 15px !important;
	padding-left: 15px !important;
}
.cms-search__btn--sty {
	padding-right: 15px !important;
	padding-left: 15px !important;
	padding-top: 15px;
}
.cms-search__box--bdr {
	 border-right: 1px solid #24386e;
}
/* cms search */
/* snippets */
/* Embeded responisve videos */
.cms-video {
	max-width: 450px;
	width: 100%;
}
/* Embeded responisve videos ends */
/* layouts */
.cms-hero--sm {
	min-height: 310px;
}
.cms-fullpage--sty {
  margin-top: -20px;
}
.cms-desk-card--shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.cms-hero__section--sty {
  padding: 35px 15px;
}
.cms-hero__section {
	padding: 20px 12px;
}
.cms-desk-soft--left80 {
	padding-left: 0;
}
.cms-desk-soft--sides40 {
	padding-left: 0;
	padding-right: 0;
}
.cms-desk-soft--sides85 {
	padding-left: 0;
	padding-right: 0;
}
.cms-desk-soft--ends45 {
	padding-top: 0;
	padding-bottom: 0;
}
.cms-desk-soft--ends35 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.cms-mob-soft--top45 {
	padding-top: 45px;
}
.cms-mob-soft--ends45 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.cms-desk-soft--left32 {
	padding-left: 0px;
}
.cms-desk-soft--left10 {
	padding-left: 0;
}
.cms-mob-push--top20 {
	margin-top: 20px;
}
.cms-mob-soft--ends5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.cms-mod-u-hard--ends {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
/* Home Page */
.cms-homepage__hero {
	background: url("/cms/files/heromob-hp.jpg") no-repeat right top;
}
.cms-homepage__hero--sty {
	padding: 48px 0;
}
/* Home Page */
/* Universal homepage */
.cms-uhp__hero {
	background-image: url("/cms/files/hero-uhp-mob.jpg");
  	min-height: 310px;
}
.cms-uhp__hero--sty {
	padding: 90px 0px 60px 0px;
}
.cms-uhp__hero-stu-search--sty {
	padding: 20px 0;
}
.cms-uhp__hero-edu-search--sty {
	padding: 15px 0 27px 0;
}
.cms-uhp--bdr {
	border-right: none;
}
/* Universal homepage */
/* home - new design */
.cms-desk-soft--top20 {
	padding-top: 0px;
}
.cms-home__hero {
	min-height: 0;
}
.cms-home__hero-sty {
	padding: 30px 0;
}
.cms-home__hero-store {
	float: none;
	margin: 30px auto 0 auto;
}
.cms-home__hero-gradient {
	background: none !important;
}
.cms-home-box-transform {
	transform: none;
	margin-top: 0px;
}
.cms-home-box-transform-cnt {
	transform: none;
}
.cms-home__unit-green {
	padding-left: 0;
}
.cms-home__unit-blue {
	padding-right: 0;
}
/* home - new design */
/* Students */
.cms-students__hero {
	background-image: url("/cms/files/hero-student-mob.jpg");
  	min-height: 310px;
}
.cms-students__hero--sty {
	padding: 21px 15px 10px 15px;
}
.cms-students__search-sty {
	padding-left: 0;
}
/* Students */
/* Educators */
.cms-educators__hero {
	background-image: url("/cms/files/hero-educators-mob.jpg");
  	min-height: 310px;
  	background-position: right top;
}
.cms-educators__hero--sty {
	padding: 50px 15px 90px 15px;
}
/* Educators */
/* Bookshelf Features */
.cms-bf__hero {
	background-image: url("/cms/files/hero-bookshelf-mob.jpg");
  	min-height: 310px;
}
.cms-bf__read-offline {
	padding: 3.75em 0 0 0;
}
.cms-bf__read-offline--tablet {
	position: static !important;
	text-align: center;
	margin-top: 2em;
}
.cms-bf__read-offline--tablet-fig {
	margin: 0 auto;
	width: 300px;
}
.cms-bf__feature-block {
	max-width: 400px;
	width: 100%;
	
}
/* Bookshelf Features */
/* Admin */
.cms-admin__hero {
	background-image: url("/cms/files/hero-admin-mob.jpg");
  	min-height: 310px;
}
.cms-admin__hero--sty {
	padding: 44px 0;
}
.cms-admin__cards--ends {
	padding-top: 0;
	padding-bottom: 0px;
	margin-bottom: 50px;
}
.cms-admin__digitalbg {
	min-height: 329px;
}
.cms-admin__digitalcnt--text {
	padding: 0 10px;
}
.cms-admin__digitalcnt {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/* Admin -- ends */
/*Corporate Training */
.cms-corporate-training__hero {
	/*background-image: url("/cms/files/hero-corporate-mob.jpg");*/
  	min-height: 310px;
}
.cms-corporate-training__hero--sty {
	padding: 100px 0px 116px 22px;
}
/*Corporate Training ends */
/* Corporate Training Solutions */
.cms-corporate-solutions__hero {
	background-image: url("/cms/files/hero-corporate-solutions-mob.jpg");
  	min-height: 310px;
}
.cms-corporate-solutions__imgcont {
	text-align: center;
}
.cms-corporate-solutions__engageimg {
	max-width: 240px;
  	width: 100%;
}
.cms-corporate-solutions__measureimg {
	max-width: 300px;
  	width: 100%;
}
/* Corporate Training Solutions ends */
/* Publishers Overview */
.cms-publishers__hero {
	background-image: url("/cms/files/hero-publishers-mob.jpg");
  	min-height: 310px;
}
.cms-publishers__hero--sty {
	padding: 100px 0px 116px 22px;
}
/* Publishers Overview */
/* Publisher Reps */
.cms-publisher-reps__hero {
	background-image: url("/cms/files/hero-publisher-reps-mob.jpg");
	background-position: center;
  	min-height: 310px;
}
.cms-publisher-reps__hero--sty {
	padding: 100px 0px 116px 22px;
}
/* Publisher Reps */
/* Distribution Partners */
.cms-distribution-partners__hero {
	background-image: url("/cms/files/hero-book-sellers-mob.jpg");
  	min-height: 310px;
}
.cms-distribution-partners__hero--sty {
	padding: 100px 0px 116px 22px;
}
/* Distribution Partners */
/* About Us */
.cms-aboutus__hero {
	min-height: 450px;
}
.cms-aboutus__hero--sty {
	padding-top: 50px;
}
.cms-locations-google-maps {
	height: 300px;
}
/* About Us */
/* VCS - VitalSource Content Studio */
.cms-vcs__hero {
	background-image: url("/cms/files/hero-vcs-mob.jpg");
  	min-height: 310px;
}
.cms-vcs__imgblock {
  margin: 0 auto;
  float: none;
}
.cms-vcs__img-text-block {
  margin: 0 auto;
  width: 100%;
  max-width: 396px;
}
/* VCS - VitalSource Content Studio */
/* Bookshelf GPS */
.cms-bookshelf-gps__hero {
	background-image: url("/cms/files/hero-bookshelf-gps-mob.jpg");
  	min-height: 310px;
}
/* Bookshelf GPS */
/* K12 Educators */
.cms-k12__hero {
	background-image: url("/cms/files/hero-k12-mob.jpg"); 
  	min-height: 310px;
}
/* K12 Educators */
/* VS Access */
.cms-vsaccess__hero {
	background-image: url("/cms/files/hero-vsaccess-mob.jpg");
	min-height: 310px;
}
/* VS Access */
/* Professional Services */
.cms-pro-services__hero {
	background-image: url("images/hero-pro-services-mob.jpg");
  	min-height: 310px;
}
/* Professional Services */
/* Analyze */
.cms-analyze__hero {
	background-image: url("/cms/files/hero-analyze-mob.jpg");
	min-height: 310px;
}
/* Analyze */
/* White label store */
.cms-whitelabel-store__hero {
	min-height: 310px;
}
/* White label store */
/* Careers */
.cms-hero--sm {
	min-height: 310px;
}
.cms-careers__block-cnt {
	padding: 20px 10px 10px 10px;
}
.cms-careers__block-img {
	text-align: center;
	padding: 30px 0 15px 0;
}
/* Careers */
/* layouts -- ends */
/* fonts */
.cms-form__header {
	font-size: 1.75em;
	line-height: 1.1;
}
.cms-form__note {
	font-size: 1em;
	line-height: 1.3;
}
.cms-hero--heading {
	font-size: 2em;
}
.cms-mod-copy--line {
	line-height: 1.3em;
}
/* fonts -- ends */
/* cms forms */
.cms-form__select--half {
	width: 100%;
}
/* cms forms -- ends*/
}
/* columns of same height styles */
@media only screen and (min-width: 768px) {
.cms-col-same--height {
	display: table-cell;
	float: none !important;
}
}
@media only screen and (min-width: 992px) {
.cms-col-same--deskheight {
	display: table-cell;
	float: none !important;
}
}
/* columns of same height styles -- ends */
@media only screen and (max-width: 992px) {
/* Utility classes */
.cms-tablet-cnt--txtctr {
  text-align: center;
}
.cms-tablet-soft--top45 {
  padding-top: 45px;
}
.cms-tablet-soft--top20 {
	padding-top: 20px;
}
/* Utility classes */
/* Admin */
.cms-admin--bdr {
	border-right: none;
	border-top: 1px solid #bcc5ca;
}
/* Admin ends */
.cms-tablet-bdr--ends {
	border-top: 1px solid #bcc5ca;
	border-bottom: 1px solid #bcc5ca;
}
/* Bookshelf features */
.cms-bf__feature-block {
	min-height: 0;
	margin: 0 auto;
	padding-bottom: 5px;
	margin-bottom: 40px;
}
/* Bookshelf features */
/* careers */
.cms-careers__block-cnt {
	padding: 20px 0 0 20px;
}
/* careers */
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
	/* Bookshelf Features */
	.cms-bf__read-offline {
		padding-top: 3em;
		padding-left: 0;
	}
	.cms-bf__read-offline--tablet-fig {
		margin: 0 auto;
	}
	/* Bookshelf Features */
}
/* HubSpot form */
@media (max-width: 400px) {
  form.hs-form .form-columns-2 .hs-form-field .hs-input {
    width: 100% !important;
  }
}