/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
 
 
 body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead {margin: 0;padding: 0;border: 0;	outline: 0;	font-size: 100%;vertical-align: baseline;  background-color:transparent;}
body {line-height: 1.2;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';content: none;}

/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {	border-collapse: collapse;border-spacing: 0;}
td { vertical-align:top; }
pre {
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
}
/*end reset*/

/* styles for rotoworld Font-family:Agency FB (used for mocks), Sans-Serif, Verdana, Arial;*/

body {
	font-family: Arial, Helvetica, sans-serif,Verdana;
	font-size:11px;
    /*background:#202121 url(images/rw-background.jpg) center top no-repeat;*/
	background-color:#202121; /* 383734;*/
}

#RWO_wrapper {
 width:1170px;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-color:transparent;
margin:0 auto;
}
#RW_wrapper {
    float:left;
	background-color:#ffffff;
	width:1000px;
	border:solid 5px #ffffff;
    margin:0 auto;
}
/*
#RW_wrapper {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#ebebeb;
	margin:0 auto;
	width:1000px;
	border:solid 5px #ffffff;
}
*/
a {	color:#000; font-weight:bold; text-decoration:none;}
a:hover {color:#cc0000; font-weight:bold; text-decoration:underline;}

#RW_header, #RW_header_green { width:100%; height:78px; background:#ebebeb url(images/header-slice.png) left 1px repeat-x;}


#RW_header2 { width:100%; height:30px; overflow:hidden; background:#333 url(images/header2-bg.png) left top repeat-x;}
.RW_logo {float:left;width:266px;margin:5px 0px 0px 2px;padding-top:4px}
 
.RW_sitelinks {
    float:left;
	width:728px;
	margin:0px 0px 0px 3px;
}


#RW_login {	
    background-color:#000000;
    border-radius: 5px 5px 0 0;
    float: left;
    height: 24px;
    margin: 12px 0 0 86px;
    overflow: hidden;
    text-align: center;
    width: 360px;
 }
#RW_login div { color:#fff; padding:7px 10px 0px 10px;}
#RW_login #links { color:#cc0000; padding:5px 5px 0px 5px; text-align:right; }
#RW_login div a { color:#ebebeb; display:inline-block; border-bottom:dotted 1px #ccc;}
#RW_search {
    float: right;
    height: 30px;
    margin: 3px 0 0 1px;
    overflow: hidden;
    text-align: right;
    width: 310px;
}

/*player search */
#RW_search .player_search { height:30px;}

#RW_search .player_search .input {
    background-color: #FFFFFF;
    border: 1px solid #CC0000;
    font-size: 13px;
    height: 18px;
    left: 0px;
    padding: 5px;
    position: relative;
    top: 0;
    width: 198px;
    	
}
#RW_search .player_search .submit {
    background: url("images/search-submit.png") no-repeat scroll right top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 73px 6px 18px;
    text-align: left;
    width: 81px;
   
}


/*New Nav*/
#RW_nav {
    clear:both;
    background:#000 url("images/navbg.jpg") left top repeat-x;
    width:100%;
    overflow:hidden;
}



#RW_footer_nav {
  clear:both;
  text-align:left;
  background:#202121 url("images/navbg.jpg") left top repeat-x; color:#ffffff;
  overflow: auto;
  padding-top: 12px;
}
#RW_footer_nav ul {float:left; width:220px; margin:15px 0px 8px 35px; }
#RW_footer_nav li h4 { font-size:18px;  font-weight:bold; color:#ffffff; text-transform:uppercase;}

#RW_nav li {
    float:left;
    height:26px;
    background:transparent url("images/navlibg.jpg") left 3px no-repeat;
}

#RW_footer_nav li {
     padding:4px 5px;
    /*background:transparent url("images/navlibg.jpg") no-repeat top left;*/
}

#RW_nav li.first, #RW_footer_nav li.first {
    padding-left:5px;
    background-image:none;
}

#RW_nav li a {
    color:#ffffff;
    text-decoration:none;
    padding:8px 5px;
    overflow:hidden;
    display:block;
}

#RW_nav li a span {
    display:block;
    padding: 0 6px 0 6px;
}

#RW_footer_nav li a {
    color:#666666;
    text-decoration:none;
    padding: 0;
    margin: 0;
    display:block;
}
#RW_footer_nav li a:hover {
    color:#ffffff;
    text-decoration:none;
    margin: 0;
    display:block;
    padding: 0;
}
#RW_nav li.first a {
    border:none;
    padding-left:0px;
}

#RW_footer_nav li.first a {
    border:none;
    padding-left:0px;
    background-image:none;
}

#RW_nav li.next, #RW_footer_nav li.next {
    background-image:none;
}

#RW_nav li.next a, #RW_footer_nav li.next a {
    border:none;
    background-image:none;
}

#RW_nav li.active {
    background: #cc0000 url("images/nav_active_right.jpg") no-repeat top right;
    display:block;
    border:0px;
    padding:0;
    margin:0;
}

#RW_nav li.active a {
    background: url("images/nav_active_left.jpg") no-repeat top left;
    color:#fff;
    /*font-weight:bold;*/
    display:block;
    border:0px;
    margin:0;
}

#RW_nav li.active span {
    margin:0;
    display:block;
}

#RW_footer_nav li.RW_copy {
    color:#ccc;
    background-image:none;
    margin-left:30px;
}
#RW_footer_nav .live {color:#ffffff;}
#RW_subnav {background-color:#cc0000;overflow:hidden;}
#RW_subnav li {	float:left;	padding:5px 0px 5px 0px;}
#RW_subnav li a {
	border-left:1px solid #000;
	color:#ffffff;
	padding: 0 6px 2px 6px;
}
#RW_subnav li a.active {color:#fff;	font-weight:bold;}
#RW_subnav li.first a {	border:none;padding:0;}
.RW_scores {background:#666;width:633px;}


/*Flyouts - menu*/
.RW_flyout {height:265px;overflow:hidden;width:1000px;background-color:#333; z-index:12000;}
.RW_flyout .pages {
	background-color:#e1e1e1;
	width:186px;
	padding: 0 0 5px 0;
	height:100%;
	float:left;
}
.RW_flyout .pages h2 {
	background:#e1e1e1 url("images/flyout_title_one.jpg") no-repeat top left;
	padding:5px;
	height:24px;
	color:#fff; font-weight:bold;
}

.RW_flyout .pages a, .RW_flyout .premium a {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
.RW_flyout .pages li, .RW_flyout .premium li {padding:5px 10px;}
.RW_flyout .pages li:hover {background-color:#cc0001;}
.RW_flyout .pages li:hover a {color:#fff; width:100%; display:block;}
.RW_flyout .columns, .RW_flyout .premium {
	background-color:#c2c2c2;
	height:100%;
	width:240px;
	float:left;
}
.RW_flyout .premium { width:180px; }

.RW_flyout .columns h2, .RW_flyout .premium h2 {
	background:#c2c2c2 url("images/flyout_title_two.jpg") no-repeat top left;
	padding:5px;
	height:24px;
	color:#fff;font-weight:bold;
}
.RW_flyout .columns li {padding: 6px 5px;}
.RW_flyout .columns li span {color:#cc0000; font-size:10px;}
.RW_flyout .columns li a {color:#000; font-weight:bold;}
.RW_flyout .premium ul {border-left:1px solid #999;	height:215px;}
.RW_flyout .news {
	background:#363634;
	float:left;
	width:393px;
	color:#999;
	height:100%;
}
.RW_flyout .news ul {width:280px; float:left;}
.RW_flyout .news h2 {
	background:#363634 url("images/flyout_title_three.jpg") no-repeat top left;
	padding:5px;
	height:24px;
	color:#fff;font-weight:bold;
}
.RW_flyout .news li {padding:2px 5px; border-bottom:dotted 1px #cccccc;}
.RW_flyout .news li span {
	display:block;
	margin:0 10px 10px 0;
	float:left;
	color:#cacaca;
}
.RW_flyout .news li a {
	color:#cacaca;
	text-decoration:none;
	line-height:1.2em;
}

.blogslice {width:250px; float:left; margin:15px 0px 0px 10px;color:#ffffff;}
.blogslice .image {width:55px; float:left;}
.blogslice .content {width:180px; float:left;}
.blogslice .content h4 {font-size:12px;}
/*End New Nav*/


/*ad containers */
#RW_ad728 { width:998px; padding:3px 0px 1px 0px; background-color:#000; border:solid 1px #333;}
#RW_ad728 object, #RW_ad728 img, #RW_ad728 iframe, #RW_ad728 div { margin:0 auto !important; text-align:center; }
.RW_ad300 {width:320px; height:250px; float:right;margin:12px 4px 15px 0px; }
.RW_ad300 .ad-container { width:300px; height:250px; text-align:center; margin:0 auto;}

#ad160x600 { width:160px; float:left; margin-top:215px; padding:2px 0px 2px 0px; background-color:transparent;}
#ad160x600 .adcontent {height:600px; width:100%; margin-top:-1px; float:left; overflow:hidden; }
/*end ad containers */


#RW_breaking_news {
	/*background:transparent url("images/RW_excl.png") left 3px no-repeat;*/
	padding: 2px;
	font-weight:bold;
    height:28px !important; overflow:hidden;
	font-size: 19px;
	background: #ffffff;
}

.RW_breaking_news h2 {
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	padding:5px 0 0 0;
	float:left;
}

.RW_breaking_news .ticker {
	background: url("images/RW_bn_globe.jpg") no-repeat top left;
	color:#fff;
	float:left;
	margin: 0 15px;
	padding:5px 5px 5px 30px;
	font-size:12px;
}
#RW_breaking_news .bnstory {
 text-align :left; width:100%; padding:2px 2px 2px 10px;
}
#RW_breaking_news .bnstory .header {
	text-transform:uppercase; font-size:20px; font-weight:bold;
} 

.active {
	display: block;
}

#RW_main {background-color:#ffffff;	overflow:hidden;}


.left_wide { clear:both;float:left;width:665px;	margin:2px 0px 0px 0px;padding:0;}
.left_most {float:left;	display:block;	margin:2px 2px 0px 0px;	width:320px;}
.middle_column {float:left;	padding:0px 2px 0  2px;	margin:2px 0px 0px 4px;	width:330px;}
.right_most { float:right;width:335px;margin:4px 0px 0px 0px;overflow:hidden; padding-left:0px;}



.RW_mainstory, RW_featured {
	background:#fff url(images/gradientbg_long.jpg) repeat-x top left;
	border:1px solid #000;
	width:305px;
	margin:2px 0 4px 0px;
	padding:0px 5px 5px 5px;
	float:left;
}

/*featured story (home pages)*/
.RW_featured { width:650px; background:#ffffff url(images/gradientbg_long.jpg) left -120px  repeat-x; border:solid 1px #cccccc; margin-top:3px; border-top:solid 1px #333333;}
.RW_featured h1 { font-size:22px; padding:6px 3px 1px 3px;}
.RW_featured .RW_mainstory, .RW_featured .RW_headlines { background:transparent none; border:none;margin-top:0px}
.RW_featured .RW_headlines {width:330px; margin-top:0px}
.RW_featured .RW_headlines .top_headlines {padding: 0px 5px 5px 5px}
.RW_featured .RW_headlines ul { margin-top:0px;}
.RW_mainstory .contextlinks, .RW_featured .contextlinks { clear:both; width:100%; margin:4px 0px 2px 0px; }
.RW_mainstory .contextlinks div,.RW_featured .contextlinks div {padding:0px 2px 2px 2px; }
.RW_mainstory .contextlinks div span,.RW_featured .contextlinks div span { font-weight:bold; padding:0px 2px 0px 2px;}
.RW_mainstory .contextlinks a, .RW_featured .contextlinks a {font-weight:bold; white-space:nowrap; display:inline-block; margin: 4px 0px 0px 2px; padding:1px 0px 0px 0px;}


.RW_mainstory h1 {
	font-size:16px; padding:6px 0px 2px 3px;
	font-weight:bold; /* text-transform:capitalize; */
	margin:0px 0px 4px 0px;
}
.RW_mainstory h1 a { color:#cc0000; text-decoration:none;}

.RW_mainstory .photo {
	margin:0 auto;
	width:300px; height:200px;
	border:solid 2px #333333;
}

.RW_mainstory .excerpt {
	padding: 2px 5px 0px 5px;
	color:#333;
	font-size:12px;
}

.RW_mainstory .read_more {
	float:right;
	margin:5px 5px 0 0;
}

.RW_mainstory ul {
	clear:both;
	margin:0px 5px;
	padding:5px;
	display:block;
}

.RW_mainstory li {
	list-style-type:disc;
	list-style-position:inside;
	padding:2px 0;
}


.RW_mediacenter {
	background:#fff url(images/gradientbg_s.jpg) repeat-x top left;
	width:325px;
	float:right;
	border:1px solid #000;
	margin:2px 4px 6px 0px;
	padding: 0 0 2px 0;
	display:block;
	overflow:hidden;
}

.RW_mediacenter h2 {
	background:#000 url(images/headlinesbg.jpg) repeat-x top left;
	padding:0 0 5px 5px;
	clear:both;
	display:block;
}

.RW_mediacenter .title, .RW_playernews .title, .RW_headlines .title, .RW_promo .title, .RW_columns .title  {
	background:#000 url(images/headlinesbg.jpg) repeat-x top left;
	padding:2px 0 6px 0px;
	height:20px;
	width:100%;
	display:block;
}

.RW_headlines {
	border:1px solid #000;
	background:#fff url(images/gradientbg_s.jpg) repeat-x top left;
	width:325px;
	float:right;
	margin:2px 2px 4px 0px;
}
.RW_headlines.white {background:#fff url() repeat-x top left;}

.full-width { width:99.8%;float:left;}

.RW_mediacenter .title .title_left, .RW_playernews .title .title_left, .RW_headlines .title .title_left, .RW_columns .title .title_left, .RW_promo .title .title_left  {float:left; margin: 0px 0px 0px 3px;}
.RW_mediacenter .title .title_right, .RW_playernews .title .title_right, .RW_headlines .title .title_right, .RW_columns .title .title_right, .RW_promo .title .title_right  {float:right; margin:2px  2px 0; padding:2px 2px 0px 0px;}
.RW_mediacenter .fix {color:#cc0000;padding:5px;}
.RW_mediacenter .fix span {	display:block;	color:#333;	padding:2px 0;}
.RW_headlines .title {background:#d5d5d5 url(images/headlinesbg.jpg) repeat-x top left; height:35px;}
.RW_headlines .blank, .RW_columns .blank {background:#d5d5d5 url(images/headlines-point.jpg) repeat-x top left; height:35px;}
.RW_headlines.white .blank {background:#fff url(images/headlines-point_w.jpg) repeat-x top left; height:35px;}
.RW_headlines .blank .title_left h3, .RW_mediacenter .blank .title_left h3,  .RW_playernews .blank .title_left h3, .RW_columns .blank .title_left h3,.RW_promo .title .title_left h3 {font-size:13px; font-weight:bold; color:#cccccc; margin:2px 0px 0px 3px; } 
.RW_playernews .title_right select { height:16px; font-size:10px; padding:0px; }
.RW_headlines .date { color:#cc0000; }


.RW_headlines ul {
	margin:0px 5px 5px 8px;
}

.RW_headlines li {
	padding:2px 0 3px 0;
	width:99%;
	font-weight:bold;
}
.RW_headlines li a { color:#000; }
.RW_headlines li a:hover { color:#cc0000; }
.full-width li a {font-size: 11px; }

.RW_headlines li span {
	font-weight:bold; color:#666;
	margin: 0 3px 0 0; display:inline-block;
}

/*misc*/
.RW_headlines li span.raquo {font-size:bold; color:#cc0000;}
.RW_headlines li span.sport {width:22px; text-align:left;}


.RW_headlines .top_headlines {
	margin:1px 2px;
	padding:5px 3px;
	border-top:1px solid #ccc;
	
}

.RW_mediacenter .title .title_left h3 {
    font-size: 19px;
}

.RW_promo {
	background-color:#333;
	width:98%;
	padding:0px 0px 3px 0px;
	margin:2px 2px 4px auto;float:right;
    
}
.promo300 {
	width:300px; overflow:hidden;
	margin:5px auto auto auto; 
    clear:both;
}
.promo150 {
	width:150px; overflow:hidden;
	float:left;
	margin:5px 5px 5px 5px  
}




/*columns*/
.RW_columns {clear:both; width:650px; margin: 6px 0px 0px 2px;border:1px solid #000;}
.RW_columns .columnbox a,.RW_columns .columnbox a:hover { font-weight:normal; }
.RW_columns .columnbox h2 a,.RW_columns .columnbox h2 a:hover { font-weight:bold; }
/*.RW_columns .columnbox .story a:hover,.RW_columns .columnbox .story h2 a:hover { color:#cc0000; }*/
.RW_columns .columnbox {width:317px; margin:3px 0px 4px 4px; float:left; border: solid 1px #ebebeb; border-top:none; background:#fff url(images/gradientbg_s.jpg) repeat-x top left;}
.columnbox.small {width:211px; padding-bottom:4px; height:130px; overflow:hidden;margin:0px 0px 3px 3px; }

.RW_columns .columnbox .sport {
	background:#fff;
	margin:0;
	overflow:hidden;
}


.RW_columns .columnbox .photo, .full-width .photo {
    /*border:solid 3px #ccc;*/
	margin:2px 2px 5px 5px;
	float:left;
}

/* other sport columns  - home page*/

.RW_columns .columnbox .story, .full-width .story {
	color:#333;
	width:185px;
	float:left;
	margin: 0px 1px 0px 2px;
	padding: 0px 1px 0px 2px;
	line-height:1.2em;
}
.RW_columns .columnbox.small .story {width:195px;}
/*.RW_columns .columnbox.small .story, .full-width .story {width:204px; padding: 0px 1px 0px 5px;}*/


.RW_columns .columnbox .story h2 {
	background-image:none;
    background-color:transparent; 	
	color:#000;
	font-size:11px;	
	padding:0;
	margin:3px 0px 0px 0px;
}

.RW_columns .columnbox .date{
	color:#cc0000;
	font-weight:bold;
	
}


.RW_columns .columnbox ul {
	width:300px; 
	float:left;
	margin: 5px 5px 0 5px;
}

.RW_columns .columnbox ul li {color:#cc0001;padding: 0 0 6px 3px; list-style:none;} /* list-style-position:inside; list-style-image:url("images/li-ribbon-bul.png"); margin-left:4px;}*/
.RW_columns .columnbox ul.sport {background-color:transparent;}
.RW_columns .columnbox ul.sport li  {color:#cc0001;padding: 0 0 6px 0; list-style-image:url(); margin-left:4px;}
.RW_columns .columnbox ul.sport li .excerpt {padding:3px 2px 4px 0px; border-bottom:solid 1px #cccccc;}
/*.RW_columns .columnbox ul.sport li .excerpt h3 a {color:#000;}*/
/*.RW_columns .columnbox ul.sport li .excerpt a {color:#cc0000;}*/
/*.RW_columns .columnbox ul.sport li .excerpt h3 a:hover {color:#cc0000;} */


/* blog and forum updates */

.RW_blog_updates  {
	background:#fff url("images/gradientbg_s.jpg") repeat-x top left;
	border:1px solid #000;
	width:318px;
	float:left;
	margin:3px 0px 0px 3px;
	padding: 0 0 3px 0;
}

.RW_blog_updates .headline  {
	background:#000 url("images/navbg.jpg") left -40px repeat-x;
	margin:0;
	padding: 1px 0 0 0px;
	overflow:hidden;
    height:25px;
}

.RW_blog_updates .headline h3 {
	float:left; font-size:13px; font-weight:bold; color:#cccccc; margin:2px 0px 0px 5px; 
}

.RW_blog_updates .subhead {
	background:#666 url("images/sub.jpg") no-repeat top left;
	color:#fff;
	padding: 0px;
	text-align:right;
    width:100%;
}


.RW_blog_updates li {
	clear:both;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	height:55px;
	padding:0px 2px;
}

.RW_blog_updates li .excerpt a { display:inline-block;padding:1px 2px 3px 2px; }

.RW_blog_updates li { padding:2px 5px;}
.RW_blog_updates li a span { font-weight:bold; color:#000; }
.RW_blog_updates .photo { float:left; margin-top:3px; }
.RW_blog_updates .excerpt {
	float:left; 
	color:#333;
	width:285px;
	font-size:11px;
	line-height:1.1em;
	padding:2px 0 7px 3px;
	overflow:hidden;
}
.RW_blog_updates .excerpt.short { width:190px; }

.RW_blog_updates .excerpt h3,.RW_blog_updates .excerpt h3 a  {
	font-size:11px;
	/*color:#000;*/
}

.RW_playernews {
	margin:2px 0px 0px 0px;
	overflow:hidden;
	border:1px solid #000;
    float:left;
    width:auto;
}

.RW_playernews h2 {
	background:#000 url("images/navbg.jpg") repeat-x top left;
	padding: 1px 0 0 5px;
}

.RW_playernews .subhead {
	background:#666 url("images/sub.jpg") no-repeat top left;
	padding:5px 0px 5px 0px;
	text-align:right;
	overflow:hidden;
    width:100%;
}

.RW_playernews .subhead a {
	color:#ccc;
	font-weight:bold;
}

.RW_playernews .subhead a.active {
	color:#fff;
	font-weight:bold;
}

.RW_playernews .subhead ul {
	float:right;
}

.RW_playernews .subhead li {
	float:left;
	padding: 0 5px 0 0;
}

.RW_playernews .more_news {
	clear:both;
	background-color:#c2c2c2;
	overflow:hidden;
	padding:5px 5px 3px 5px;
	font-weight:bold;
}

.RW_playernews .more_news span {
	margin:2px 5px 0 0;
	float:left;
	display:block;
}

.RW_playernews .more_news .right {
	float:right;
}

/*player news colored boxed*/

.RW_pn {
	overflow:hidden;
	padding: 0 3px;
    width:auto;
}

 
/* overide bg from DB*/
.pb {
	background-color:#fff;
	margin:2px 0 3px 0; padding:0px;
	overflow:hidden;
	border:solid 1px #000;font-weight:normal;
    width:100%;
} 
.pb .headline {
  width:auto; background:#0069b3 url() left top no-repeat; height:30px; font-size:13px; font-weight:bold; color:#ffffff;
}
.pb .headline a { color:#ffffff;}
.pb .headline a:hover {text-decoration:underline;}
.pb .photo {float:left; width:105px; margin:2px 2px 0px 0px;}
.pb .report, .pp .report, .pp .info {width:96%;margin:5px 3px 0px 5px;font-size:12px}
.pb .impact, .pp .impact {width:96%; color:#0000FF;margin:3px 3px 3px 5px; font-size:12px}
.pb .player {width:100%;padding:8px 0px 0px  56px; float:left; }
.pb .info {width:100%; padding:3px 5px 0px 5px;}
.pb .info .source, .pb .info .related {float:left;}
/*.pb .info .source a,.pb .info .related a {color:#003399;}*/

.pb .info .date {float:right; padding:0px 10px 3px 0px; color:#666666;}
.pb table td { padding:3px 2px 2px 2px;}
.pb table td a img { vertical-align:baseline; }

/*player page*/
.pp {width:100%; overflow:hidden; }
.pp .playerphoto {width:100px; height:135px; overflow:hidden; float:left;}
.pp .playerphoto img {border:solid 2px #ccc;}
.pp .playerdetails {width:320px; float:left; margin-left:10px;}
.pp .playerdetails h1 { font-size:16px; padding:2px 2px 4px 0px;}

/*Team header only */
.pp .teamdetails {width:150px; float:left; margin-left:10px;}
.pp .infocenter {width:400px; float:left;}
.teamname h1 { font-size:30px; color:#333; margin:20px 0px 4px 10px; text-transform:capitalize;}



.pp .forecast {width:99%;}
.pp .weather {font-size:10px; width:95%; float:left; margin-left:4px;}
.weather .date-temp {}
.weather .day, .weather .night {width:100%; padding:2px 2px 2px 2px;}
.weather .night {border-top:dotted 1px #2e2e2e; background-color:#ebebeb; height:60px;}
.day .img, .night .img { width:31px; height:31px; float:left; margin-right:2px;} 


.pp .teamphoto { width:160px; text-align:center; float:right;}
.pp .teamphoto img { float:left; margin:0px auto; vertical-align:middle;} 

.pp .teamphoto-tmhdr { width:110px; margin:-2px 20px 10px 0px; text-align:center; float:right;}
.pp .teamphoto-tmhdr img { float:left; vertical-align:middle; width:100px; height:90px;} 

.pp .playernews { width:285px; float:left; padding-left:5px; margin-top:10px;}
.pp .playernews h3, .pp .headlines h3 {font-size:14px; text-transform:uppercase;padding-left:3px;}
.pb .contextlinks {float:left; margin:8px 4px  8px 4px; padding:5px 0px 10px 4px; border-left:solid 1px #ebebeb;}
.pb .contextlinks ul { margin:0px 3px 3px 20px; width:150px; float:left; line-height:1.5em;}
.pp .headlines { width:330px;  float:left; margin:10px 0px 0px 5px; padding:10px 0px 10px 10px; border-left:solid 1px #cccccc;}
.pp .headlines li, .pb .contextlinks li {list-style-position:inside; list-style-image:url("images/li-ribbon-bul.png"); margin-left:-7px; }
/*.pp .headlines li a, .pb .contextlinks a {color:#cc0000;}*/


.pp .headlines ul li.blurblist  {padding:6px; background-color:#ebebeb; border:solid 1px #cccccc; margin-bottom:6px;}
.pp .headlines ul li.blurblist.active {background-color:#ffffff; margin-left:-20px; border-left:none; }
.pp .headlines ul li.blurblist a, .pp .headlines ul li.blurblist a:hover {text-decoration:none; font-weight:normal; line-height:1.3em; padding:3px; color:#000;}



/*Team elements & nav */
.team-ribbon-links {background-color:#000; height:20px; border-bottom:solid 1px #666666; padding:5px 0px 0px 0px; width:998px; float:left;}
.team-ribbon-links a {color:#ffffff; font-size:11px; display:block; float:left; margin:0px 5px 0px 5px; border-bottom:1px dotted #ffffff;}
.team-ribbon-links iframe { margin:-2px 3px 0px 10px; float:right; } /*tweet buttons */

/**/
.pp .stat-div { width:730px; float:left;  background-color:#2e2e2e;}
.pp .depth-div { width: 250px; float:left; margin-left: 20px; background-color:#cccccc;} 


/*most searched temp */
.most_searched_small {width:325px;margin:2px 4px 6px 0px;}
/*.most_searched_small a {color:white;}
.most_searched_small a:hover {text-decoration:underline;}*/
.most_searched_small .title {background:#000 url(images/most_sr_hl.jpg) left top repeat-x; height:29px;}
.most_searched_small .title h2 {font-size:13px; font-weight:bold; color:#cccccc; padding:5px 0px 0px 2px; margin:4px 0px 0px 3px;}  

.most_searched_small .ms_block {
	background:#ffffff url(images/gradientbg_long.jpg) left -170px  repeat-x;  /* url(images/most_searchedbg.jpg) no-repeat top left;*/
	overflow:hidden;
	font-weight:bold;
}
/*.most_searched_small ul {border-left:dotted 2px #2f2929;}*/
.most_searched_small .ms_block ul {
	float:left;
    width:160px; overflow:hidden;
	margin:10px 2px 10px 0;
}
.most_searched_small .ms_block li {
	clear:both;
	padding: 0 0 5px 0px;
}


.most_searched_small .ms_block li span.order {
	color:#cc0000;
	font-weight:bold;
	font-size:11px;
	margin: 0 2px 0;
	text-align:right; padding-right:1px;
	width:15px;
	display:inline-block;
}
.most_searched_small .ms_block li span.league {
	color:#333;
	font-weight:normal; font-size:9px;
	margin: 0 1px 0 5px;
}
	
.most_searched_small .ms_block li span.number {
	color:#666;
	font-weight:normal; font-size:9px;
}


/*Team tabs */
#tmTabMLB, #tmTabNHL, #tmTabNBA, #tmTabNFL {
 width:99%; float:left; background-color:#ffffff; padding:3px; clear:both; 
}
#tmTabMLB span span, #tmTabNHL span span, #tmTabNBA span span, #tmTabNFL span span { width:50px; display:block; float:left; margin:2px 4px; }
.RW_blog_updates .headline .tmtabs {width:270px; float:right; margin:2px 4px 0px 0px;}
.tmtabs .tab {width:60px; float:left; margin-left:0;  text-align:center; }
.tmtabs .tab a { width:100%; display:block; text-decoration:none; padding:5px 2px; color:#ffffff;}
.tmtabs .tab a:hover {background: transparent url("images/nav_activebg.jpg") left top no-repeat; }
.tmtabs .tab a.active{ background: transparent url("images/nav_activebg.jpg") left top no-repeat; }



.inline-inputs input, .inline-inputs select, .inline-inputs submit {font-size:10px;}
.clearboth {clear:both; margin:0px 0px 3px 0px; content:" ";}

/*text align overrides*/
.textleft {text-align:left !important;}
.textcenter {text-align:center;}
.textright {text-align:right;}

/* stats tables */
.statstable {width:100%; margin-top:3px; border-spacing:0.1em; border-collapse:separate; }
.statstable .headertext { font-weight:bold; color:#ffffff; height:18px; padding:3px 0px 0px 5px; font-size:12px; text-align:left;}
.statstable th {height:14px; font-size:12px; font-weight:bold; text-align:right; color:#ffffff; padding:3px 2px 0px 0px;}
.statstable .columnnames {height:14px; background-color:#8e8d8c; font-size:12px; font-weight:bold; text-align:right; color:#ffffff; padding:3px 2px 0px 0px;}
.statstable td {text-align:right; padding:3px 2px 2px 1px;}
.statstable td .textleft, .statstable th .textleft {text-align:left !important; padding:3px 2px 2px 1px;}

/*Depth tables*/
.depthtable {width:100%; line-height:1.3;}
.depthtable th {height:24px; font-size:12px;text-align:left; font-weight:bold; padding:5px 0px 0px 5px;}
.depthtable th a {color:#ffffff;} 
.depthtable td {height:16px; padding:3px 0px 3px 1px}

/* table row colors*/
.highlight-row {background-color:#ebebeb;}
.oddrow { background-color: #ebebeb; }

/*player tracker */
.trackermenu {width:550px; float:left;padding:2px 2px 2px 2px; margin:1px 0px 3px 0px;}
.trackermenu a {text-align:center; display:inline-block; padding:4px; border:solid 1px #666666; margin:0px 3px 0px 3px; background-color:#ebebeb; font-weight:bold;}
.trackermenu .active {background-color:#cc0000; border:solid 1px #666666; color:#ffffff;}


/*Trending*/
#trending { width:99.8%; border:solid 1px #333333; margin: 3px 0 0; padding:0; background: url("images/gradientbg_long.jpg") repeat-x scroll left -220px #FFFFFF;}
#trending h1 { font-size:16px; width:150px; height:30px; float:left; background:transparent url("images/trending-now.png") left top no-repeat;}
#trending .players { padding:6px 2px; float:left; margin-left:6px; height:16px; width:830px; line-height:1.5em; overflow:hidden;  }
#trending .players a { font-size:12px; margin-left:3px;  border-bottom:1px dotted #000; }
#trending .players a:hover { color:#cc0000; text-decoration:none; border-bottom:1px dotted #cc0000; }
#trending .players a span {font-size:10px; color:#cc0000; }

/*flyouts*/
.playercard {text-align:left; width:300px; font-size:12px; color:#ffffff; padding:5px 5px 3px 5px; position:absolute; margin:25px 0px 0px -30px; background:transparent url("images/player-card-bg.png") top left repeat; border:solid 3px #333333; z-index:1000}
.playercard span { font-size:13px;  text-transform:capitalize; font-weight:bold;}
.playercard .report, playercard .impact, .playercard .date {padding:3px 3px 3px 3px; width:98%;}
.playercard .impact {color:#cccccc;}
.playercard .date {color:red;}
.playercard .close {width:99%;height:14px; text-align:right; float:right;}
.playercard .close a {color:#cc0000;}

/*status text e.g. dl, inj, etc. */
.small-status-text { color:Red; font-size:10px; }

/*misc*/
.raquo {font-weight:bold; color:#cc0000;}


/*99%*/
.stretch { width:99%; }

/*hacks*/
   #searchhelp {margin:0px 0px 0px -80px !ie;}
/* IE7 */
*:first-child+html #RW_search .player_search .input { top:-6px; }
*:first-child+html #RW_search .player_search .submit { width:90px; }
*:first-child+html #RW_main .pp .headlines li a {padding-left:8px;}
*:first-child+html #searchhelp {margin:30px 0px 0px -370px;}
*:first-child+html #RW_main .pb .contextlinks li a {display:inline-block; padding:0px 0px 2px 4px; margin-top:-7px;}

/* liveFyre width fix*/
form.fyre-cp-form { width: initial; }

