html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	border-top:6px solid #000;
	font-size: 14px;
	height:100%;
	position:relative;
	bottom:0px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;	
	text-decoration: none;
	text-align: left;
}

.clear {
	clear: both;
}
.float_left{

	float:left;
}

.990x100premium{

	width:990px;
	height:100px;
}

table tr td{

	padding:5px;
	font-family:arial;
}

table tr td{

		
		border-right:1px solid #333;
}

table tr:first-child{

	border:none;
}

table tr{
		background:#c8c8c8;
		color:#333;
		border-top:1px solid #333;

}

table tr:nth-child(2n+1){
		background:#e8e8e8;
		color:#333;

}