.footer a:hover 
{
	color:#FFCC05 !important;
}

.footer
{  margin: 0 auto;
   min-width:100%;
   color:white !important;
    overflow:hidden;
}

.center-this
{
	width:1024px;
	height:180px;
	position: absolute;
  
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
	
}

.nav_element{ width:165px}
.footer-top
{
	position:relative;
	padding-bottom:10px;
	width:100%;
	float:left;
	background-color: #232323;
	height: 180px;
	overflow:hidden;
	margin-top:10px;
	text-align: center;
}

.footer-main
{
	width:100%;
	float:left;
	/*height: 250px;*/
	background-color: #000000;
	padding:25px;
	position:relative;
	
}
.footer-sub
{   
	text-align: center;
	width:174px;
	height: 192px !important;
	margin:10px 10px 5px 20px;
	overflow:hidden;
	float:left;

}

.footer-sub-heading
{
	color:white;
	margin-bottom:10px;
}
.footer-sub-heading:hover
{
	color:#FFCC05;
	}
.footer-sub-img
{   
	position:relative; 
	width:165px !important;
	height:90px !important;
	background-color: #DDDDDD;

	overflow: hidden;

}
.footer-sub-title
{   font-size:14px;
	width:165px !important;
	height:54px !important;
	color: #999999;
	line-height: 1.27 !important;
	overflow:hidden;
}

.instagram-main
{
	width:300px;
	min-height:370px;
	margin-bottom: 40px;
    margin-right: 60px;
	float:right;
	overflow: hidden;
}
.instagram
{
	width:278px;
	height:370px;
	padding:10px;

	 border: 1px solid white;
	 border-radius: 5px;
	 background-color: white;
}

.twitter-main
{
	width:300px;
	min-height:370px;
	margin-bottom: 40px;
	/*float:right;*/
	overflow: hidden;
}
.twitter
{
	width:300px;
	height:370px;
	
}
.facebook-main
{
	width:300px;
	min-height:370px;
	margin-bottom: 40px;
	/*float:right;*/
	overflow: hidden;
}
.facebook
{
	width:300px;
	height:370px;
}

.footer li {
    line-height: 2;
    
}
.footer h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color:white;
    font-size:120%;
}