body
.iadbox-badge{
  display:none;
}

{/*position: relative;*/}
::-webkit-input-placeholder {
   color: #eee;
   font-size:10px;
   
}
.selected_tab{

    float: left;
    color: #ffffff !important;
    margin: 0em;
    padding: 1.2em 0.6em;
    font-size: .9em !important;
    background: #000000 !important;
    /*background: #f9ead8 !important;
    font-weight: bold;
    text-shadow: 1px 0px #ffffff;*/
}
:-moz-placeholder { /* Firefox 18- */
   color: #eee;  
   font-size:10px;
   
}

#wl{

  display:none;
  font-size: 12px;
  border-radius: 5px;
  background: #cc0000 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;  
   font-size:10px;
     
}

:-ms-input-placeholder {  
   color: #eee;  
   font-size:10px;
   
}

#radio_link{

  display:none;
}



#watch_live{

  float:right;
  width:20%;
  background:#cc0000;
  position: absolute;
  top:0px;  
  right:0px;
}

#watch_live ul{

margin:0px;  
float:left;
width:100%;
}

#watch_live ul li{

  list-style:none;
  float:left;
  width:50%;
  text-align: center;
  
}

#watch_live ul li a{

  padding:15px 10px 15px 10px;
  width:90%;
  float:left;
  color:#fff;
  font-family:inherit;
  font-weight:bold;
}

#watch_live ul li[id=joynews]{

background:url("http://myjoyonline.com/new/assets/images/joy_news.png") no-repeat 95% center;

}

#watch_live ul li[id=adomtv]{

background:#fea500 url("http://myjoyonline.com/new/assets/images/adom_tv.png") no-repeat 95% center;

}

#srhfrm{

  float:left;
  /*margin-top:10px;
  margin-left:20px; 
  position:relative;*/
  width:4%;

}

.srhicon{

  color:#fff !important;
  margin-top:5px;
  position:relative;
  font-size:13px !important;
}

#ff{

  
}

.signin{

  margin-top:15px;
}

.signin a{

  color:#fff !important;  
}

.signin a b{
  color:#FF0000;
  background:#fff; border-radius:20px; 
}

#srhfrm input[id=searchfield]{

    float: left;
    background: #c00;
    padding: 6px;
    color: #eee;
    border: none;
    border-bottom: 1px solid #cc0000;
    margin-top: 9px;
    width: 0%;
    border-radius: 50px;
    font-family: inherit;
    visibility: hidden;
    position: absolute;
    margin-left: 10px;

}

.photo-gallery-container{

  position:relative; 
  float:left; 
  width:330px; 
  height:330px;
  margin-bottom:10px !important; 
  margin-right:10px !important; 
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position: 50% 50%; 
  display: table;
}

.ss-col .fly-out-menu-links a #rss{
  color:#f87531;

}

.ss-col .fly-out-menu-links a #tt{
  color:#00aced;

}

.ss-col .fly-out-menu-links a #fb{
  color:#3b5998;

}

.ss-col .fly-out-menu-links a #yt{
  color:#bb0000;

}

.ss-col .fly-out-menu-links a #li{
  color:#007bb6;

}

.ss-col .fly-out-menu-links a #ig{
  color:#517fa4;

}

.ss-col .fly-out-menu-links a #gp{
  color:#dd4b39;

}

.social-topbar 
{  
   background-color: white;
   color:#777777;
   /*height: 30px; */
   padding: 10px 0px 10px 0px;
}

.social-topbar .item 
{
   font-size:24px;
   float:right;
   color:#777777;
   margin:0px 20px 0px 20px;
}
.margin-forty
{
  margin-right:40px !important;
  margin-left:40px !important;
} 

.nav 
{  

   max-width:990px;
   font-size: 18px;
   color: #FFFFFF;
   margin: 0px;
   position:relative;
   
}

header #mbtn{
  display:none;

}

.nav ul li{

  list-style: none;
  float:left;
  
  border-right: 1px solid rgba(238,0,0,1);
  border-left: 1px solid rgba(255,18,18,1);
  /*box-shadow: 1px 0 rgba(255,255,255,0.2) inset;*/
}

.nav ul li:first-child{

  border-left: none;
}

.logo
{
  /*background-image:url(../assets/logo/home-logo.png);
   top:-20px;
  left:-40%;*/
 
  margin-left:15px;
  margin-right:25px;
  float:left;
  position:relative;
}

.logo img{

  width:70px;
  /*position:absolute;*/
}

.nav-wrapper
{  
   width:100%; 
   margin:auto;
   padding:auto;
   background-color: #FF0000;
   position:relative;
   float:left;
   z-index: 99999;

}

 .nav li a{

  float:left;
  color: #FFFFFF;
  margin:0em;
  padding:1.2em 0.6em;
  font-size:.9em !important;

}

.nav li a:hover{

  color:#cccccc !important;
}

 .container-990
{
  width:990px  !important;
  padding: 0px 0px 0px 0px;
  background-color: #FFFFFF !important;
  margin-right:auto !important;
  margin-left:auto !important;
  margin-top:10px;
  transition: all 2s;
  position:relative;

}
.wrapper
{  
   max-width:990px;
   color: #FFFFFF;
   margin-right:auto;
   margin-left:auto;
   padding:0px;
   z-index: 0;
   position:relative;
}

.push-down-menu{
    position: fixed;
    height: 0;
    z-index: 99999999999999;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.85);
  /*border-bottom:5px solid #333333;*/
}

.push-down-menu ul{

  margin:0px;
  padding:0px;
  position:relative;
  z-index:0;
  display: none;

}
.fly-out-menu-links a{

    color: #B9B7B7;
    font-weight: normal;
    font-size: 110%;
    padding:4px 0px;
    line-height: 2;
    transition: .2s;

}

.fly-out-menu-links a:hover{

  color:#FF0000;
}
.push-down-menu ul li{

  position:relative;
  z-index: 0;
  margin-right:15px;
  float:left;
  width:150px;
  list-style: none;
  list-style-type: none; 
  text-align:left;
  margin-bottom:25px;

}

.push-down-menu ul li:last-child{
margin-right:0px;
}

.push-down-menu ul li h4{

    /*margin: 0;
    padding: 10px 0px;
    color: #fff;
    font-size: 18px;
    border-bottom:1px solid #c00;*/

    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-family: arial; 
    font-size: 20px;
}



#ab-message{

  background: #cccccc;
  position:relative;
  width: 500px;
  height: 420px;
  border:2px solid #444444;
  border-radius:5px;
  font:bold 20px arial;

}

#social-t{

 visibility:visible;
 display: block;
 background:#000;

}

.social-t a{

 float:left; 
 color:#fff; 
 padding:15.5px;

}

#social-t #ffb:hover{

  color:#3b5998 !important;

}

#social-t #fli:hover{

  color:#007bb6 !important;

}

#social-t #ftw:hover{

  color:#00aced !important;

}

#social-t #fgp:hover{

  color:#dd4b39 !important;

}

#social-t #fyt:hover{

  color:#bb0000 !important;

}

#social-t #fig:hover{color:#E28712 !important;}
.follow_container{

float:right; 
color:#fff; 
position:absolute; 
right:0px; 
top: 0px;

}

#sr{

  background-color: rgba(255,255,255,.1);
  font-size: 18px;
  /* font-weight: bold; */
  color: #FBD513 !important;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #666;
  /* border-top: 1px solid #333; */
  width: 100%;

}

#footer_nav{

  width:990px;
}


@media only screen and (min-width: 381px) and (max-width:520px){

.logo{

  display: block;
  position:absolute;
  right:12% !important;    
  margin-top: 7px;
}

#wl{

  display:block !important;
}

.iadbox-badge{
  display:block !important;
      top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}


}



@media only screen and (min-width: 0px) and (max-width:380px){
  html
{
  overflow-x: hidden !important;
}

#wl{

  display:block !important;
}


.iadbox-badge{
  display:block !important;
      top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}

.photo-body{

  width:380px !important;
  transition:all;
  margin-left:6% !important;
}

#radio_link{

  display:block !important;
}




.photo-gallery-container {
   
    width: 85% !important;
    
}
.media-pane-main{

	width:99.5%;

}

#vpane_buttons{

	left:20px !important;
	right:none;
}

.p_v_pane{

	position:relative !important;
}

.media-pane-sub{

	display:none;
}

.media-pane{

	width:99.5% !important;
	display:block!important;
}

.nav_element {
    width: 160px !important;
}

body{
  max-width:100%;
  position:relative;
  overflow-x: hidden !important;
  background: white;
}
.carousel { width:100% !important; margin-left: 2% !important;}
.carousel-title {width: 40% !important; /*max-height: 40px;*/ line-height:1.1; bottom: 90px;}


.sub-responsive{ background: white;}
.home-sidebar {float:none !important; margin:0 auto;}

 #bg{display:none !important;}

.div-300x250
{
  display:none;
}
.topstory-447
{
  width:95% !important;
  margin-left:2% !important;
}
.header-477
{
  width:100%;
}
.topstory-image{width: 100% !important;}
.topstory-title {width: 98% !important;}
.topstory-summary {width: 96% !important;}

.div-200x375 {

  /*margin-left: 28% !important;*/
  width: 335px !important;

}

.featured-image {
    width: 335px !important;

  }

.featured-image img{
    width: 335px !important;

  }

.featured-183 {
    
    width: 335px !important;
  }

.featured-title {
    
    width: 300px !important;

  }

.featured-sub {
   
    margin-left:15px !important;
    width:320px !important;

  }

.resp-hide{display:none;}
.hot-audio {display:none;}
.sub-responsive {width:100% !important;}
.sub-categories {width:89% !important;}
.sub-cat-title {   width: 71.2% !important;}
.sub-cat-item {   width: 55% !important;}
.sub-cat-img {width: 58% !important;}
#div-gpt-ad-1387206782276-12 {display:none;}
.potw-300{ width: 100% !important;}
.potw-title{max-width:100% !important;}
.twitter-main {display:none;}
.latest-stories{width: 100% !important; min-height: 850px !important;}
.latest-story-holder{margin-left: 20%  !important;}
.latest-story-controls{width: 100px !important;right: 41% !important;}

#article-page.sidebar 
{
  display:none;
}
.footer-sub {
  position: relative;
  right: -15%;
}

#footer_nav{

  width:100% !important;
}


#footer_nav .nav_element {

  margin-bottom:25px;
}

.nav {  

   width:100%;
   font-size: 18px;
   color: #FFFFFF;
   margin: 0px;
   position:absolute;
   top:33px;
   z-index:999999;
   background-color:#555555 !important;
   display:none;
   height:50px;
   transition: all .2s;
   
}
._990x100premium{

  display:none !important;
}
.modern-ticker{

  display:none !important;
}
.top-strip{

  display:none !important;
}

.carousel-description{

  width:43% !important;
}

.carousel{

  width:95.83% !important;
}

.container-990{

  width:98.5% !important;

}

.article-body{

  width:100% !important;
}

.article-text{

  width:100% !important;

}
.next-prev
{
  display:none;
}
.header-300 {

  width:100% !important;
  text-align:center;
  background-color:#4BAB77 !important;
}

.poll-300 {
    width: 100% !important;
    }

.poll-body {
    width: 100% !important;
}

.poll-header{

  width:100% !important;
  float:left;
}

.poll-header span{

  padding-top:11px;
  float:left;
}

.most-popular-300 {
    width: 100% !important;
    }

.most-popular-header {
  width:100% !important;
  float:left;
}

.most-popular-img {
    width: 100% !important;

    }
.potw-300 {
    width: 100% !important;

}

.potw-header {
  width:100% !important;
  float:left;
}

.potw-img {
    width: 100% !important;

    }

.potw-title {
    
    width: 100%;
}

.most-popular-title {

  width:100% !important;
}

.most-popular-item {
    
    width: 100%  !important;
}

.most-popular-title {

  width:100% !important;
}

.most-popular-header span{
  width:100% !important;
  display:block;
  padding:12px;

  }

.potw-header span{
  width:100% !important;
  display:block;
  padding:12px;

  }

.overlay-top {
    width: 90% !important;
    }

.overlay-top span {
   width: 89% !important;
}

.logo{

  display: block;
  position:absolute;
  right:2%;    
  margin-top: 7px;
}

.logo a img{

  width:35%;
}

.follow_container{

  display:none;
}

.nav ul li{

  list-style: none;
  float:left;
  width:100%;
  display: table-row;
  border-left: 1px solid rgba(238,0,0,1);
  box-shadow: 1px 0 rgba(255,255,255,0.2) inset;
  background: rgba(0,0,2,.9);
  border-bottom: 1px solid #222;
}
.nav ul li:hover{

  background:#666;
  border-bottom:1px solid #222;
}

.nav ul li a{

  float:left;
  width:100%;
}

.nav ul li:nth-child(n+14){

  display:none;
}

/*.media-pane{

  display:none;
}*/

#srhfrm{

  position:absolute;
  right:5px;
  top:5px;
}

#srhfrm #srhbtn{

  display:none;
}

#srhfrm #searchfield{
  position:absolute;
  top:-5px;
  visibility:visible;
  display: block;
  width:500%;
  right:0px;
  border-radius:5px;
}

.nav-wrapper
{  
   width:100%;
   margin:auto;
   padding:auto;
   background-color: #FF0000;
   position:relative;
   float:left;
   height:50px;

}

 .nav li a{

  float:left;
  color: #FFFFFF;
  margin:0em;
  padding:1.0em 0.6em;
  font-size:0.8em !important;
}

header #mbtn {
  
  padding:10px;
  color:#ffffff !important;
  display:block;
  float:left;
  position: relative;
  z-index:999;
  margin-top: 9px;

}

header #mbtn a i{

  padding:0px 5px 0px 0px;

}

header #mbtn a{

color:#ffffff !important;

}
.wrapper
{  
   max-width:100%;
   color: #FFFFFF;
   margin-right:auto;
   margin-left:auto;
   padding:0px;
   z-index: 0;
}
.footer1  { width:100% !important; position:relative !important; margin-left: 6%!important; min-height: 390px !important; } 

#search_btn{

  color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:block!important;
}

#search_btn a{

  color:#fff;
}

#classic_view{

    display:block!important;
  }

}


@media only screen and (min-width:381px) and (max-width:690px){

html
{
	overflow-x: hidden !important;
}

.iadbox-badge{
  display:block !important;
      top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}

#wl{

  display:block !important;
}

#radio_link{

  display:block !important;
}

.article-image {

  width:100% !important;
  height:none !important;

}

body{
  max-width:100%;
  position:relative;
  overflow-x: hidden !important;
  background: white;
}
.carousel {	width:100% !important; margin-left: 2% !important;}
.carousel-title {width: 55% !important; /*max-height: 40px;*/ line-height:1.1; bottom: 90px;}

#footer_nav{

  width:100% !important;
}


#footer_nav .nav_element {

  margin-bottom:25px;
}

.sub-responsive{ background: white;}
.home-sidebar {float:none !important; margin:0 auto;}

 #bg{display:none !important;}

.div-300x250
{
	display:none;
}
.topstory-447
{
	width:100% !important;
	margin-left:2% !important;
}
.header-477
{
	width:100%;
}
.topstory-image{width: 100% !important;}
.topstory-title {width: 98% !important;}
.topstory-summary {width: 98% !important;}
.div-200x375 {margin-left: 30% !important;}
.resp-hide{display:none;}
.hot-audio {display:none;}
.sub-responsive {width:100% !important;}
.sub-categories {width:100% !important;}
.sub-cat-title {   width: 66% !important;}
.sub-cat-item {   width: 66% !important;}
.sub-cat-img {width: 80% !important;}
#div-gpt-ad-1387206782276-12 {display:none;}
.potw-300{ width: 100% !important;}
.potw-title{max-width:100% !important;}
.twitter-main {display:none;}
.latest-stories{width: 100% !important; min-height: 850px !important;}
.latest-story-holder{margin-left: 25%  !important;}
.latest-story-controls{width: 100px !important;right: 41% !important;}

#article-page.sidebar 
{
	display:none;
}

.nav {  

   width:100%;
   font-size: 18px;
   color: #FFFFFF;
   margin: 0px;
   position:absolute;
   top:33px;
   z-index:999999;
   background-color:#555555 !important;
   display:none;
   height:50px;
   transition: all .2s;
   
}
._990x100premium{

  display:none !important;
}
.modern-ticker{

  display:none !important;
}
.top-strip{

  display:none !important;
}

.carousel-description{

  width:55% !important;
}

.carousel{

  width:95.83% !important;
}

.container-990{

  width:100% !important;

}

.article-body{

  width:100% !important;
}

.article-text{

  width:100% !important;

}
.next-prev
{
	display:none;
}
.header-300 {

	width:100% !important;
	text-align:center;
	background-color:#4BAB77 !important;
}

.poll-300 {
    width: 100% !important;
    }

.poll-body {
    width: 100% !important;
}

.poll-header{

	width:100% !important;
	float:left;
}

.poll-header span{

	padding-top:11px;
	float:left;
}

.most-popular-300 {
    width: 100% !important;
    }

.most-popular-header {
	width:100% !important;
	float:left;
}

.most-popular-img {
    width: 100% !important;

    }
.potw-300 {
    width: 100% !important;

}

.potw-header {
	width:100% !important;
	float:left;
}

.potw-img {
    width: 100% !important;

    }

.potw-title {
    
    width: 100%;
}

.most-popular-title {

	width:100% !important;
}

.most-popular-item {
    
    width: 100%  !important;
}

.most-popular-title {

	width:100% !important;
}

.most-popular-header span{
	width:100% !important;
	display:block;
	padding:12px;

	}

.potw-header span{
	width:100% !important;
	display:block;
	padding:12px;

	}

.overlay-top {
    width: 100% !important;
    }

.logo{

  display: block;
  position:absolute;
  right:20%;    
  margin-top: 7px;
}

.logo a img{

  width:35%;
}

.follow_container{

  display:none;
}

.nav ul li{

  list-style: none;
  float:left;
  width:100%;
  display: table-row;
  border-left: 1px solid rgba(238,0,0,1);
  box-shadow: 1px 0 rgba(255,255,255,0.2) inset;
  background: rgba(0,0,2,.9);
  border-bottom: 1px solid #222;
}
.nav ul li:hover{

  background:#666;
  border-bottom:1px solid #222;
}

.nav ul li a{

  float:left;
  width:100%;
}

.nav ul li:nth-child(n+14){

  display:none;
}

.media-pane{

	display:block !important;
}

#srhfrm{

  position:absolute;
  right:5px;
  top:5px;
}

#srhfrm #srhbtn{

  display:none;
}

#srhfrm #searchfield{
  position:absolute;
  top:-5px;
  visibility:visible;
  display: block;
  width:500%;
  right:0px;
  border-radius:5px;
}

.nav-wrapper
{  
   width:100%;
   margin:auto;
   padding:auto;
   background-color: #FF0000;
   position:relative;
   float:left;
   height:50px;

}

 .nav li a{

  float:left;
  color: #FFFFFF;
  margin:0em;
  padding:1.0em 0.6em;
  font-size:0.8em !important;
}

header #mbtn {
  
  padding:10px;
  color:#ffffff !important;
  display:block;
  float:left;
  position: relative;
  z-index:999;
  margin-top: 9px;

}

header #mbtn a i{

  padding:0px 5px 0px 0px;

}

header #mbtn a{

color:#ffffff !important;

}
.wrapper
{  
   max-width:100%;
   color: #FFFFFF;
   margin-right:auto;
   margin-left:auto;
   padding:0px;
   z-index: 0;
}
.footer1  { width:100% !important; position:relative !important; margin-left: 6%!important; min-height: 390px !important; } 

#search_btn{

	color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:block!important;
}

#search_btn a{

	color:#fff;
}

#classic_view{

    display:block!important;
  }

}






@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
.footer1  { width:100% !important; position:relative !important; margin: 0 auto; min-height: 390px !important; right: -90px;}  
.footer-top  { width:100% !important; min-height: 390px !important;  }
.center-this { width:100% !important; min-height: 390px !important;  }
.footer-sub { margin: 10px 5px 5px 10px;  }

#wl{

  display:block !important;
}

.iadbox-badge{
    display:block !important;
    top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}


.p_v_pane{

      /*right: -120px !important;*/

}

html
{
	overflow-x: hidden !important;
}

#radio_link{

  display:block !important;
}

.article-image {

  width:100% !important;
  height:none !important;

}

body
{
	max-width:100%;
	position:relative;
	overflow-x: hidden !important;
	background: white !important;
}
#article-page.sidebar 
{
	display:none;
}
.sub-responsive{ background: white;}
 #bg{display:none !important;}

.nav {  

   width:90%;
   font-size: 18px;
   color: #FFFFFF;
   margin: 0px;
   position:absolute;
   top:33px;
   z-index:999999;
   background-color:#555555 !important;
   display:none;
   height:50px;
   transition: all .2s;
   
}

._990x100premium{

  display:none;
}
.side-ad
{
	display:none;
}
.next-prev
{
	display:none;
}

.hot-audio
{
	display:none;
}
.div-300x250
{
	display:none;
}
.widget-300
{
		display:none;
}

.media-pane{

	display:block !important;
}

.div-200x375{

	width:150px !important;
}


/*
.most-popular-300
{
	float: none !important;
	margin: 0 auto;
}

.potw-300
{
	float: none !important;
	margin: 0 auto;
	padding-top: 20px;
	clear: both;
}

.poll-300
{
	float: none !important;
	margin: 0 auto;
}*/
.home-sidebar{ width:100% !important; float:none !important; height:100%; overflow:hidden; margin: 0 auto;}

/*
.most-popular-300, .potw-300, .poll-300 {float:left; margin:10px;}*/

.header-300 {

	width:100% !important;
	text-align:center;
	background-color:#4BAB77 !important;
}

.poll-300 {
    width: 68% !important;
    margin: 0 auto;
    float: none !important;
    }

.poll-body {
    width: 100% !important;
}

.poll-header{

	width:100% !important;
	float:left;
}

.poll-header span{

	padding-top:11px;
	float:left;
}
.qpoll {  width: 100% !important;}

.most-popular-300 {
    width: 68% !important;
    margin: 0 auto;
    float: none !important;
    }

.most-popular-header {
	width:100% !important;
	float:left;
}

.most-popular-img {
    width: 100% !important;

    }
.potw-300 {
    width: 68% !important;
    margin: 0 auto;
    padding-top: 20px;
    float: none !important;

}

.potw-header {
	width:100% !important;
	float:left;
}

.potw-img {
    width: 100% !important;

    }

.potw-title {
    
    width: 100%;
}

.most-popular-title {

	width:100% !important;
}

.most-popular-item {
    
    width: 100%  !important;
}

.most-popular-title {

	width:100% !important;
}

.most-popular-header span{
	width:100% !important;
	display:block;
	padding:12px;

	}

.potw-header span{
	width:100% !important;
	display:block;
	padding:12px;

	}
.sub-responsive
{
	float:none !important;
	margin: 0 auto;
}
.media-pane
{
	display:none;
}

.latest-stories
{
	  margin: 0 auto !important;
    width: 500px !important;
    height: 500px !important;
    float:none !important;
   margin-bottom: 30px !important;
 }
  
  .latest-stories #set1, #set2, #set3, #set4  
{
	  bottom:55px !important;
}

.photo-body {max-width:680px !important; margin:0 auto !important;} /*Photos Resp*/
.site-main { width:100%} .sidebar-right { width:100%}/*World Resp*/
  
  .latest-stories-controls
	{
	  right:211px !important;
	}


.container-990{

  width:100% !important;

}

.carousel-990{

	width:100% !important;
}

.carousel{

  width:100% !important;
}

.carousel-title{

  width:100% !important;
}

.carousel-img{

	width:100% !important;
}

.carousel-text{

  width:100% !important;
}

.carousel-description{

  width:100% !important;
}

.carousel-item{

	width:100% !important;
}

.article-body{

  width:100% !important;
}

.article-text{

  width:100% !important;

}

.header-300{

	width:100% !important;
	text-align: center !important;
	background:#4BAB77 !important;
}

#div-gpt-ad-1387206782276-9{

	display:none;
}

#div-gpt-ad-1465114673756-0{

	display:none;

}

.logo{

  display: block;
  position:absolute;
  right:25%;
  margin-top: 7px;
}

.logo a img{

  width:35%;
}

.follow_container{

  display:none;
}

.nav ul li{

  list-style: none;
  float:left;
  width:100%;
  display: table-row;
  border-left: 1px solid rgba(238,0,0,1);
  box-shadow: 1px 0 rgba(255,255,255,0.2) inset;
  background: rgba(0,0,2,.9);
  border-bottom: 1px solid #222;
}
.nav ul li:hover{

  background:#666;
  border-bottom:1px solid #222;
}

.nav ul li a{

  float:left;
  width:100%;
}

.nav ul li:nth-child(n+14){

  display:none;
}
.modern-ticker{

  display:none;
}
#srhfrm{

  position:absolute;
  right:5px;
  top:5px;
}

#srhfrm #srhbtn{

  display:none;
}

#srhfrm #searchfield{
  position:absolute;
  top:-5px;
  visibility:visible;
  display: block;
  width:500%;
  right:0px;
  border-radius:5px;
}

.nav-wrapper
{  
   width:100%;
   margin:auto;
   padding:auto;
   background-color: #FF0000;
   position:relative;
   float:left;
   height:50px;

}

 .nav li a{

  float:left;
  color: #FFFFFF;
  margin:0em;
  padding:1.0em 0.6em;
  font-size:0.8em !important;
}

header #mbtn {
  
  padding:10px;
  color:#ffffff !important;
  display:block;
  float:left;
  position: relative;
  z-index:999;
  margin-top: 9px;

}

header #mbtn a i{

  padding:0px 5px 0px 0px;

}

header #mbtn a{

color:#ffffff !important;

}
.wrapper
{  
   max-width:100%;
   color: #FFFFFF;
   margin-right:auto;
   margin-left:auto;
   padding:0px;
   z-index: 0;
}


#search_btn{

	color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:block!important;
}

#search_btn a{

	color:#fff;
}

#classic_view{

    display:block!important;
  }

}

@media only screen and (min-width:690px) and (max-width : 980px)and (orientation : landscape) {

  .media-pane{

    display:block!important;
  }

  #wl{

  display:block !important;
}


  .iadbox-badge{
  display:block !important
     top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
  }

.media-sub {
    position: absolute;
    left: 350px !important;
   /*width: 220px;*/
    height: 330px;
    overflow: hidden;
    top: 25px;
}


}

@media only screen and (min-width:690px) and (max-width : 980px) and (orientation : portrait) {
 .p_v_pane{

   right:-20px!important;
  }

  .iadbox-badge{
  display:block !important
     top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}

#wl{

  display:block !important;
}

.media-sub {
    position: absolute;
    left: 350px !important;
   width: 220px;
    height: 330px;
    overflow: hidden;
    top: 25px;
}
}

@media only screen and (min-width:690px) and (max-width : 980px) {

  

html
{
	overflow-x: hidden !important;
}

.iadbox-badge{
  display:block !important;
      top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}

#wl{

  display:block !important;
}

#radio_link{

  display:block !important;
}

.article-image {

  width:100% !important;
  height:none !important;

}
body
{
	max-width:100%;
	position:relative;
	overflow-x: hidden !important;
	background: white !important;
}
#article-page.sidebar 
{
	display:none;
}
.sub-responsive{ background: white;}
 #bg{display:none !important;}

.nav {  

   width:90%;
   font-size: 18px;
   color: #FFFFFF;
   margin: 0px;
   position:absolute;
   top:33px;
   z-index:999999;
   background-color:#555555 !important;
   display:none;
   height:50px;
   transition: all .2s;
   
}

#classic_view{

    display:block!important;
  }

._990x100premium{

  display:none;
}
.side-ad
{
	display:none;
}
.next-prev
{
	display:none;
}

.hot-audio
{
	display:none;
}
.div-300x250
{
	display:none;
}
.widget-300
{
		display:none;
}

.media-pane{

	display:block !important;
}

.media-nav{

	display:none !important;
}

#main_vid{

    display: block;
    position: relative;
    left: -80px;
    top: 24px;
}

.media_more{

  display:none;
}

#shrbtn{

  display:none;
}



.p_v_pane #frame_vid{

    position: relative;
    left: -90px;
    top: 24px;
}

.media-pane-overlay {
    top: 224px;
  }


.div-200x375{

	width:150px !important;
}
/*
.most-popular-300
{
	float: none !important;
	margin: 0 auto;
}

.potw-300
{
	float: none !important;
	margin: 0 auto;
	padding-top: 20px;
	clear: both;
}

.poll-300
{
	float: none !important;
	margin: 0 auto;
}*/
.home-sidebar{ width:100% !important; float:none !important; height:100%; overflow:hidden; margin: 0 auto;}

/*
.most-popular-300, .potw-300, .poll-300 {float:left; margin:10px;}*/

.header-300 {

	width:100% !important;
	text-align:center;
	background-color:#4BAB77 !important;
}

.poll-300 {
    width: 68% !important;
    margin: 0 auto;
    float: none !important;
    }

.poll-body {
    width: 100% !important;
}

.poll-header{

	width:100% !important;
	float:left;
}

.poll-header span{

	padding-top:11px;
	float:left;
}
.qpoll {  width: 100% !important;}

.most-popular-300 {
    width: 68% !important;
    margin: 0 auto;
    float: none !important;
    }

.most-popular-header {
	width:100% !important;
	float:left;
}

.most-popular-img {
    width: 100% !important;

    }
.potw-300 {
    width: 68% !important;
    margin: 0 auto;
    padding-top: 20px;
    float: none !important;

}

.potw-header {
	width:100% !important;
	float:left;
}

.potw-img {
    width: 100% !important;

    }

.potw-title {
    
    width: 100%;
}

.most-popular-title {

	width:100% !important;
}

.most-popular-item {
    
    width: 100%  !important;
}

.most-popular-title {

	width:100% !important;
}

.most-popular-header span{
	width:100% !important;
	display:block;
	padding:12px;

	}

.potw-header span{
	width:100% !important;
	display:block;
	padding:12px;

	}
.sub-responsive
{
	float:none !important;
	margin: 0 auto;
}
.media-pane
{
	display:none;
}

.latest-stories
{
	  margin: 0 auto !important;
    width: 500px !important;
    height: 500px !important;
    float:none !important;
   margin-bottom: 30px !important;
 }
  
  .latest-stories #set1, #set2, #set3, #set4  
{
	  bottom:55px !important;
}

.photo-body {max-width:680px !important; margin:0 auto !important;} /*Photos Resp*/
.site-main { width:100%} .sidebar-right { width:100%}/*World Resp*/
  
  .latest-stories-controls
	{
	  right:211px !important;
	}


.container-990{

  width:100% !important;

}

.carousel-990{

	width:100% !important;
}

.carousel{

  width:100% !important;
}

.carousel-title{

  width:100% !important;
}

.carousel-img{

	width:100% !important;
}

.carousel-text{

  width:100% !important;
}

.carousel-description{

  width:100% !important;
}

.carousel-item{

	width:100% !important;
}

.article-body{

  width:100% !important;
}

.article-text{

  width:100% !important;

}

.header-300{

	width:100% !important;
	text-align: center !important;
	background:#4BAB77 !important;
}

#div-gpt-ad-1387206782276-9{

	display:none;
}

#div-gpt-ad-1465114673756-0{

	display:none;

}

.logo{

  display: block;
  position:absolute;
  right:25%;
  margin-top: 7px;
}

.logo a img{

  width:35%;
}

.follow_container{

  display:none;
}

.nav ul li{

  list-style: none;
  float:left;
  width:100%;
  display: table-row;
  border-left: 1px solid rgba(238,0,0,1);
  box-shadow: 1px 0 rgba(255,255,255,0.2) inset;
  background: rgba(0,0,2,.9);
  border-bottom: 1px solid #222;
}
.nav ul li:hover{

  background:#666;
  border-bottom:1px solid #222;
}

.nav ul li a{

  float:left;
  width:100%;
}

.nav ul li:nth-child(n+14){

  display:none;
}
.modern-ticker{

  display:none;
}
#srhfrm{

  position:absolute;
  right:5px;
  top:5px;
}

#srhfrm #srhbtn{

  display:none;
}

#srhfrm #searchfield{
  position:absolute;
  top:-5px;
  visibility:visible;
  display: block;
  width:500%;
  right:0px;
  border-radius:5px;
}

.nav-wrapper
{  
   width:100%;
   margin:auto;
   padding:auto;
   background-color: #FF0000;
   position:relative;
   float:left;
   height:50px;

}

 .nav li a{

  float:left;
  color: #FFFFFF;
  margin:0em;
  padding:1.0em 0.6em;
  font-size:0.8em !important;
}

header #mbtn {
  
  padding:10px;
  color:#ffffff !important;
  display:block;
  float:left;
  position: relative;
  z-index:999;    
  margin-top: 9px;
}

header #mbtn a i{

  padding:0px 5px 0px 0px;

}

header #mbtn a{

color:#ffffff !important;

}
.wrapper
{  
   max-width:100%;
   color: #FFFFFF;
   margin-right:auto;
   margin-left:auto;
   padding:0px;
   z-index: 0;
}

#search_btn{

	color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:block!important;
}

#search_btn a{

	color:#fff;
}

#classic_view{

    display:block!important;
  }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation: landscape) {

   .media-pane{

    display:block!important;
  }

  .iadbox-badge{
  display:block !important;
     top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}

  .p_v_pane{

    left:6%;
  }

  .media-nav{

    display:none !important;
  }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation: portrait) {

   .p_v_pane{

    /*right:-40px !important;*/
  }

  .iadbox-badge{
  display:block  !important
     top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}

}


@media only screen and (min-width : 768px) and (max-width : 1024px) {

html
{
	overflow-x: hidden !important;
}

#radio_link{

  display:block !important;
}

.iadbox-badge{
  display:block !important;
      top: 15px;
    right: -60%;
    background-size: 25px 13px;
    background-position: 10px bottom;
}

.article-image {

  width:100% !important;
  height:none !important;

}


body
{
	max-width:100%;
	position:relative;
	overflow-x: hidden !important;
}


.side-ad
{
	display:none;
}
.next-prev
{
	display:none;
}


.nav {  

   width:100%;
   font-size: 18px;
   color: #FFFFFF;
   margin: 0px;
   position:absolute;
   top:33px;
   z-index:999999;
   background-color:#555555 !important;
   display:none;
   height:50px;
   transition: all .2s;
   
}
.modern-ticker{

  display:none !important;
}
.carousel{

  width:100% !important;
}

.carousel-img{

  width:100% !important;
}

.carousel-item{

  width:100% !important;
}

.carousel-text{

  width:100% !important;
}

.carousel-description{

  width:100% !important;
}

.carousel-990{

	width:100% !important;
}

.div-200x375{

	width:150px !important;
}

.div-477x375{

	margin-left: 45px !important;
}

.header-300{

	width:100% !important;
	text-align: center !important;
	background:#4BAB77 !important;
}

.div-300x250{

	/*margin-top: 85px;*/
}


.logo{

  display: block;
  position:absolute;
  right:35%;
  margin-top: 7px;
}

._990x100premium{

  display:none !important;
}


.logo a img{

  width:35%;
}

.follow_container{

  display:none;
}

.nav ul li{

  list-style: none;
  float:left;
  width:100%;
  display: table-row;
  border-left: 1px solid rgba(238,0,0,1);
  box-shadow: 1px 0 rgba(255,255,255,0.2) inset;
  background: rgba(0,0,2,.9);
  border-bottom: 1px solid #222;
}

.nav ul li:hover{

  background:#666;
  border-bottom:1px solid #222;
}

.nav ul li a{

  float:left;
  width:100%;
}

.nav ul li:nth-child(n+14){

  display:block;
}

#srhfrm{

  position:absolute;
  right:5px;
  top:5px;
}

#srhfrm #srhbtn{

  display:none;
}

#srhfrm #searchfield{
  position:absolute;
  top:-5px;
  visibility:visible;
  display: block;
  width:500%;
  right:0px;
  border-radius:5px;
}

.nav-wrapper
{  
   width:100%;
   margin:auto;
   padding:auto;
   background-color: #FF0000;
   position:relative;
   float:left;

}
.modern-ticker{

  display:block;
}
 .nav li a{

  float:left;
  color: #FFFFFF;
  margin:0em;
  padding:1.0em 0.6em;
  font-size:0.8em !important;
}

header #mbtn {
  
  padding:10px;
  color:#ffffff !important;
  display:block;
  float:left;
  position: relative;
  z-index:999;
  margin-top: 9px;

}

header #mbtn a i{

  padding:0px 5px 0px 0px;

}

header #mbtn a{

color:#ffffff !important;

}
.wrapper
{  
   max-width:990px;
   color: #FFFFFF;
   margin-right:auto;
   margin-left:auto;
   padding:0px;
   z-index: 0;
}

#search_btn{

	color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:none!important;
}

#search_btn a{

	color:#fff;
}

.media-pane{

  display:none;
}

#classic_view{

    display:block!important;
  }


}


@media only screen and (max-width : 1137px){


	.follow_container{

		display:none;
	}

  .media-pane{

  display:none;
}

.side-ad
{
	display:none;
}
	.nav ul li:nth-child(n+14){

 		 display:none;
	}

#search_btn{

	color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:none!important;
}

#search_btn a{

	color:#fff;
}

}

@media only screen and (max-width : 1348px){


	.follow_container{

		display:none;
	}

  .media-pane{

  display:none;
}

	.side-ad
{
	display:none;
}
#search_btn{

	color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:none!important;
}

#search_btn a{

	color:#fff;
}

#classic_view{

    display:none!important;
  }


}

@media only screen and (min-width : 1348px){

  #classic_view{

    display:none!important;
  }

  #search_btn{

  color: #fff !important;
    margin-top: 13px!important;
    position: absolute;
    display:none!important;
}
}

