@charset "utf-8";

/* Ticker */
.modern-ticker {
	color: #505050;
	background-color: #fafafa;
}
	
	/* Label */
	.mt-label {
		background-color: #ffffff;
	}
	
	/* News */
	.mt-news {
		background-color: #ffffff;
		text-align:center;
	}
	.mt-preloader {
		background: url("http://cdn.myjoyonline.com/public/images/news-ticker/preloader.gif") no-repeat center;
	}
	.mt-news ul {
		/* Preload */
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/bullet-over.png");
	}
	.mt-news a {
		color: #ca0008;
		background-color: #ffffff;
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/bullet.png");
	}
	.mt-news a:hover {
		color: #ca0008;
		background-color: #fcfcfc;
		border-color: #ff2200;
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/bullet-over.png");
	}
	.mt-news a:active {
		background-color: #0077ff;
	}
	
	/* Controls */
	.mt-controls {
		/* Preload */
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/pause.png");
	}
	.mt-prev, .mt-next {
		background-color: #ffffff;
	}
	.mt-prev {
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/arrow-prev.png");
	}
	.mt-next {
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/arrow-next.png");
	}
	.mt-play {
		background-color: #ffffff;
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/play.png");
	}
	.mt-pause {
		background-image: url("http://cdn.myjoyonline.com/public/images/news-ticker/pause.png");
	}
	.mt-play:hover, .mt-prev:hover, .mt-next:hover {
		background-color: #ffffff;
	}
	.mt-play:active, .mt-prev:active, .mt-next:active {
		background-color: #ffffff;
	}