@CHARSET "UTF-8";

.AdBlock_Loc_2{
	margin:auto;
	max-width: 1150px;
	background-image: url(http://ad3.fashionguide.com.tw/i/wwbg.jpg);
}

.AdBlock_Loc_7{
	text-align:center;
}
.AdItem_Loc_7{
	text-align:center;
}

/*-------Loc_8---------*/
.AdBlock_Loc_8 , .AdItem_Loc_8 , .AdText_Loc_8{
	font-size:12px;
	width:130px;
	display: inline ;
}

/*-------Loc_11 , Loc_45 共用區塊---------*/
.AdBlock_Loc_11 , .AdBlock_Loc_45{ margin: 0 auto; border-top: 1px dotted #666; }
.AdItem_Loc_11 , .AdItem_Loc_45{
	display:block;
	width:24%;
	float:left ;
	padding:5px 0px 0px 7px;
		}
.AdTitle_Loc_11 , .AdTitle_Loc_45, .AdTitle_Loc_11 a:link , .AdTitle_Loc_11 a:visited , .AdTitle_Loc_45 a:link , .AdTitle_Loc_45 a:visited
{ text-align: left; color: #999999; font-size: 13px; letter-spacing: 1pt; font-weight: bold; text-decoration: none; margin: 5px 0; 	}

.AdTitle_Loc_11 a:hover , .AdTitle_Loc_45 a:hover{
	text-decoration:underline;font-size:13px;
}

.AdText_Loc_11 , .AdText_Loc_11 a:link ,  .AdText_Loc_11 a:visited ,
.AdText_Loc_45 , .AdText_Loc_45 a:link ,  .AdText_Loc_45 a:visited
{ text-align: left; color: #666; font-size: 12px; line-height: 12pt; letter-spacing: 1pt; text-decoration: none; }
.AdText_Loc_11 a:hover , .AdText_Loc_45 a:hover{ text-decoraiton: none; color: #666;
}
.AdFrameL_Loc_11 , .AdFrameL_Loc_45{width:95px;}
.AdFrameR_Loc_11 , .AdFrameR_Loc_45{
	float:left;
	padding-left:5px;
	max-width:53%!important;
	max-width:53%;

}
/*-------Loc_18---------*/
.AdBlock_Loc_18{
	width:100%;
}
.AdItem_Loc_18{
	width:24.9%;
	float:left;
}

.AdText_Loc_18 , .AdText_Loc_18 a:link ,.AdText_Loc_18 a:visited,  .AdText_Loc_18 a:hover  {
color:#008000; font-size:15px; text-decoration:underline; line-height: 20px;
}

/*--------Loc_19------*/
.AdBlock_Loc_19{
	margin-left:auto !important;
	margin-left:12px;
	margin-right:auto;
	width:170px !important;
	width:175px;
	text-align:center;
	border-left:1px solid #C0C0C0;
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
	border-top:1px solid #ffffff;
	background-color:#FFFFFF;
	padding-left:2px !important;
	padding-left:5px;
	padding-bottom:5px;
}
.AdItem_Loc_19{
	margin-top:5px; text-align:left;
	background-image: url(http://ad3.fashionguide.com.tw/i/AdTpl_14_new_icon.gif);
	padding-left:16px;
	background-repeat: no-repeat;
	background-position: left top;
}
.AdText_Loc_19 img{
	vertical-align:text-top;
}
.AdText_Loc_19 , .AdText_Loc_19 a:link , .AdText_Loc_19 a:hover , .AdText_Loc_19 a:visited{
	line-height:12pt;
	letter-spacing:1pt;
	font-size:9pt;
	color:#6d7390;
	text-decoration:none;

}

/*--------Loc_20 , Loc_48 , Loc_59 共用 --------*/
.AdBlock_Loc_20 , .AdBlock_Loc_48 , .AdBlock_Loc_59{
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	line-height:15pt;
}
.AdTitle_Loc_20 a:link , .AdTitle_Loc_48 a:link , .AdTitle_Loc_59 a:link,.AdTitle_Loc_59 a:hover,.AdTitle_Loc_20 a:hover{
	color:#008000;
	font-size:9pt;
	text-decoration:underline;
}

.AdText_Loc_20 a:link , .AdText_Loc_48 a:link , .AdText_Loc_59 a:link{
	color:#666666;
	font-size:9pt;
	text-decoration:none;
}
.AdText_Loc_20 a:hover , .AdText_Loc_48 a:hover , .AdText_Loc_59 a:hover{
	text-decoration:underline;
	font-size:9pt;
}

/*--------Loc_25 , Loc_26 , Loc_46 , Loc_47 , Loc_171 , Loc_194 共用 ---------*/
.AdBlock_Loc_25 , .AdBlock_Loc_26 , .AdBlock_Loc_46 , .AdBlock_Loc_47 , .AdBlock_Loc_171 , .AdBlock_Loc_194{
	display:table !important;
	display:block;
	width:98% !important;
	width:100%;
	margin:0.5%;
	padding:0.5%;
	background-color:#FFFFFF;
	overflow:hidden;

}
.AdItem_Loc_25 , .AdItem_Loc_26 , .AdItem_Loc_46 , .AdItem_Loc_47 , .AdItem_Loc_171 , .AdItem_Loc_194{
	display:table-cell !important;
	display:block;
	width:31% !important;
	width:33%;

	background-color:#FFFFFF;
	padding:3px;
	float:left;
	height:64px !important;
	height:72px;

}
.AdTitle_Loc_25 , .AdTitle_Loc_25 a:link , .AdTitle_Loc_25 a:hover , .AdTitle_Loc_25 a:visited ,
.AdTitle_Loc_26 , .AdTitle_Loc_26 a:link , .AdTitle_Loc_26 a:hover , .AdTitle_Loc_26 a:visited ,
.AdTitle_Loc_46 , .AdTitle_Loc_46 a:link , .AdTitle_Loc_46 a:hover , .AdTitle_Loc_46 a:visited ,
.AdTitle_Loc_47 , .AdTitle_Loc_47 a:link , .AdTitle_Loc_47 a:hover , .AdTitle_Loc_47 a:visited ,
.AdTitle_Loc_171 , .AdTitle_Loc_171 a:link , .AdTitle_Loc_171 a:hover , .AdTitle_Loc_171 a:visited ,
.AdTitle_Loc_194 , .AdTitle_Loc_194 a:link , .AdTitle_Loc_194 a:hover , .AdTitle_Loc_194 a:visited
{
	text-align:left;
	color:#808080;
	font-size:10pt;
	letter-spacing:1pt;
	font-weight:bold;
}
.AdText_Loc_25 , .AdText_Loc_25 a:link , .AdText_Loc_25 a:hover , .AdText_Loc_25 a:visited ,
.AdText_Loc_26 , .AdText_Loc_26 a:link , .AdText_Loc_26 a:hover , .AdText_Loc_26 a:visited ,
.AdText_Loc_46 , .AdText_Loc_46 a:link , .AdText_Loc_46 a:hover , .AdText_Loc_46 a:visited ,
.AdText_Loc_47 , .AdText_Loc_47 a:link , .AdText_Loc_47 a:hover , .AdText_Loc_47 a:visited ,
.AdText_Loc_171 , .AdText_Loc_171 a:link , .AdText_Loc_171 a:hover , .AdText_Loc_171 a:visited ,
.AdText_Loc_194 , .AdText_Loc_194 a:link , .AdText_Loc_194 a:hover , .AdText_Loc_194 a:visited
{
	text-align:left;
	color:#808080;
	font-size:10pt;
	letter-spacing:1pt;

}
/*--------Loc_25---------*/
.AdFrameL_Loc_25{	width:30%;	}
.AdFrameR_Loc_25{	width:70%;	}

/*--------Loc_26---------*/
.AdFrameL_Loc_26{	width:40%;	}
.AdFrameR_Loc_26{	width:60%;	}

/*--------Loc_46---------*/
.AdFrameL_Loc_46{	width:30%;	}
.AdFrameR_Loc_46{	width:70%;	}

/*--------Loc_47---------*/
.AdFrameL_Loc_47{	width:30%;	}
.AdFrameR_Loc_47{	width:70%;	}

/*--------Loc_171---------*/
.AdFrameL_Loc_171{	width:30%;	}
.AdFrameR_Loc_171{	width:70%;	}

/*--------Loc_194---------*/
.AdFrameL_Loc_194{	width:30%;	}
.AdFrameR_Loc_194{	width:70%;	}

/*--------Loc_27---------*/
.AdHeader_Loc_27{
	margin-left:auto !important;
	margin-left:0px;
	margin-right:auto;
	text-align:center;
	width:199px;
	height:30px;
	background-image:url(http://ad3.fashionguide.com.tw/i/shineoff_24.gif);
}
.AdHeader_Loc_27:hover{
	margin-left:auto !important;
	margin-left:0px;
	margin-right:auto;
	text-align:center;
	width:199px;
	height:30px;
	background-image:url(http://ad3.fashionguide.com.tw/i/shineon_24.gif);
}
.AdBlock_Loc_27{
	text-align:center;
}
.AdItem_Loc_27{
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	background-color:#FFFFFF;
	text-align:center;
	width:175px;
	border:1px solid #C0C0C0;
}
.AdTitle_Loc_27{
	text-align:left;
	word-wrap:break-word;
	overflow:hidden;
}
.AdTitle_Loc_27 a , .AdTitle_Loc_27 a:hover{
	color:#000000;
	font-size:12pt;
	font-weight:bold;
	letter-spacing:2px;
	text-decoration:none;
	width:85px;
	overflow:hidden;
}
.AdText_Loc_27{
	text-align:left;
	font-size:9pt;
	line-height:12pt;
	text-decoration:none;

}
.AdText_Loc_27 a:link , .AdText_Loc_27 a:hover , .AdText_Loc_27 a:visited {
	font-size:9pt;
	line-height:12pt;
	color:#800000;
	text-decoration:underline;
}
.AdSText_Loc_27{
	text-align:left;
	color:#666666;
	font-size:9pt;
	line-height:12pt;
	text-align:right;
}
.AdTText_Loc_27 , .AdTText_Loc_27 a:link , .AdTText_Loc_27 a:hover , .AdTText_Loc_27 a:visited{
	text-align:left;
	font-size:9pt;
	color:#800000;
	text-decoration:underline;
}

/*--------Loc_28---------*/
.AdHeader_Loc_28{
	margin-left:auto !important;
	margin-left:0px;
	margin-right:auto;
	text-align:center;
	width:199px;
	height:30px;
	background-image:url(http://ad3.fashionguide.com.tw/i/shineoff_23.gif);
}
.AdBlock_Loc_28{
	text-align:center;
}
.AdItem_Loc_28{
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	background-color:#FFFFFF;
	text-align:center;
	width:175px;
	border-bottom:1px solid #C0C0C0;
	border-left:1px solid #C0C0C0;
	border-right:1px solid #C0C0C0;
}
.AdTitle_Loc_28{
	text-align:left;
	word-wrap:break-word;
}
.AdTitle_Loc_28 a , .AdTitle_Loc_28 a:hover{
	text-align:left;
	color:#000000;
	font-size:12pt;
	font-weight:bold;
	letter-spacing:2px;
	text-decoration:none;
}


.AdText_Loc_28 , .AdText_Loc_28 a:link , .AdText_Loc_28 a:hover , .AdText_Loc_2 a:visited {
	text-align:left;
	font-size:9pt;
	line-height:12pt;
	color:#800000;
	text-decoration:underline;
}

.AdSText_Loc_28 , .AdSText_Loc_28 a:link , .AdSText_Loc_28 a:hover , .AdSText_Loc_28 a:visited{
	text-align:left;
	font-size:9pt;
	color:#800000;
	text-decoration:underline;
}

/*-----------Loc_36----------*/
.AdText_Loc_36{
	color:#000000;
	text-decoration:none;
	font-size:9pt;
}
.AdText_Loc_36 a, .AdText_Loc_36 a:link ,  .AdSText_Loc_28 a:visited {
	color:#000000;
	text-decoration:none;
	font-size:9pt;
	letter-spacing:1px;
}
.AdText_Loc_36 a:hover {
	color:#A20F00;
	text-decoration:none;
	font-size:9pt;
	letter-spacing:1px;
}

/*-----------Loc_30----------*/
.AdTitle_Loc_30 a {
	color:#421801;
	text-decoration:none;
	font-weight:bold;
	font-size:10pt;
}
.AdTitle_Loc_30 a:hover{
	text-decoraiton:underline;
	color:#FC4128;
	font-weight:bold;
	font-size:10pt;

}
.AdText_Loc_30{
	text-decoraiton:none;
	font-size:10pt;
	color:#421801;
}
.AdText_Loc_30 a,.AdText_Loc_30 a:hover,.AdText_Loc_30 a:visited{
	text-decoraiton:none;
	font-size:9pt;
	color:#817676;

}
.AdText_Loc_38,.AdText_Loc_38 a:visited,.AdText_Loc_38 a:link,.AdText_Loc_39,.AdText_Loc_39 a:visited,.AdText_Loc_39 a:link{
	color:#000000;
	font-size:9pt;
}
.AdText_Loc_38 a:hover,.AdText_Loc_39 a:hover{
	color:#A20F00;
	font-size:9pt;
	text-decoration:none;
}

.AdItem_Loc_30{

  border-bottom: 1px dashed rgb(218, 215, 210);
  padding-bottom:8px;
	padding-top:8px;
}
.AdFrameL_Loc_30 , .AdFrameL_Loc_30{
	width:95px;
	color:#000000;
}
.AdFrameR_Loc_30 , .AdFrameR_Loc_30{
	text-align:left;
	float:right;
	padding-left:3px;
	margin-top:10px;

	width:50%;
}
.AdText_Loc_49,.AdText_Loc_50,.AdText_Loc_51,.AdText_Loc_52,.AdText_Loc_53,.AdText_Loc_54,
.AdText_Loc_55,.AdText_Loc_56,.AdText_Loc_57,.AdText_Loc_58{
	font-size:9pt;
	color:#000000;
}
.AdText_Loc_52 a,.AdText_Loc_53 a,.AdText_Loc_50 a,.AdText_Loc_55 a,
.AdText_Loc_56 a,.AdText_Loc_58 a,.AdText_Loc_54 a,.AdText_Loc_57 a,
.AdText_Loc_49 a,.AdText_Loc_51 a
	{
	text-decoration:none;
	font-size:9pt;
}
.AdText_Loc_49 a:hover,.AdText_Loc_51 a:hover,
.AdText_Loc_52 a:hover,.AdText_Loc_56 a:hover,
.AdText_Loc_53 a:hover,.AdText_Loc_58 a:hover,
.AdText_Loc_50 a:hover,.AdText_Loc_54 a:hover ,
.AdText_Loc_55 a:hover,.AdText_Loc_57 a:hover,
.AdText_Loc_94 a:hover
 {
	text-decoration:none;
	font-size:9pt;

	color:#A20F00;
}
.AdItem_Loc_83{
  	text-align:left;
	border-bottom:1px dashed #DAD7D2;
	width:215px;
}
.AdText_Loc_83,.AdText_Loc_83 a,.AdText_Loc_83 a:visited,.AdText_Loc_83 a:hover{
	line-height:20px;
	font-size:12px;
	margin-bottom:2px;
	color:#FC4128;
	text-decoration:underline;
}
.AdItem_Loc_82,.AdItem_Loc_85{
  	margin-top:5px;
}
.AdText_Loc_33{
	text-align:left;
	padding:0 3px;
	border-bottom:1px dashed #999999;
	margin-right:8px;
}
.AdText_Loc_35{
	text-align:left;
}
.AdBlock_Loc_35{
	width:100.2%;
}

.AdItem_Loc_93{
	float:left;
}
.AdItem_Loc_92,.AdItem_Loc_98,.AdItem_Loc_99{
	float:left;
	padding:0 4px;
}
.AdText_Loc_92,.AdText_Loc_98{
	color:#FFFFFF;
}
.AdItem_Loc_100{
 	width:16%
}
.AdItem_Loc_101,.AdItem_Loc_102,.AdItem_Loc_110,.AdItem_Loc_111{
	float:left;
}
.AdBlock_Loc_101,.AdBlock_Loc_102{
	border-bottom:1px dashed #666666;
	border-color:#666666;
	border-top:1px dashed #666666;
	height:75px;
	margin-bottom:5px;
	margin-top:5px;
	padding-left:20px;
	padding-right:20px;
}
.AdBlock_Loc_110,.AdBlock_Loc_111{
	border-color:#333333;
	border-top:1px dashed #333333;
	height:75px;
	margin-top:5px;
	padding-left:20px;
	padding-right:20px;

}

/*----------AdLoc_113-----------*/
.AdItem_Loc_113{
	background-color: #F2EFEA;
    float: left;
    height: 215px;
    margin-bottom: 5px;
    margin-left: 11px;
    padding-top: 8px;
    text-align: center;
    width: 175px;
}
.AdTitle_Loc_113 a:link{
	color: #421801;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.AdTitle_Loc_113 a:hover{
	color: #FC4128;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}
.AdText_Loc_113 {
	 color: #817676;
    font-size: 12px;
}


/*----------AdLoc_114-----------*/
.AdBlock_Loc_114{
	height:36px;
	line-height: 18px;
	clear:both;
	text-align:center;
}

.AdItem_Loc_114 {
	display:inline-block;
}

.AdText_Loc_114 a:link {
	color: #421801;
    font-size: 12px;
    text-decoration: none;
}

.AdText_Loc_114 a:hover {
	color: #FC4128;
    font-size: 12px;
    text-decoration: underline;
    text-align:left;
}
.AdImg_Loc_117{
	background-color:#FFFFFF;
	border-color:#DFDFDD;
	border-style:solid;
	border-width:1px;
	height:120px;
	padding-top:5px;
	width:164px;
}
.AdText_Loc_117{
	color:#817676;
	font-size:11px;
	width: 165px;
	margin-top:3px;
	text-align:left;
	line-height:15px;
}
.AdTitle_Loc_117{
	margin-top: 7px;
	width: 183px;
	text-align:left;
}

.AdTitle_Loc_117 a:link{
	color:#421801;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
}
.AdTitle_Loc_117 a:hover{
	color:#FC4128;
	font-size:13px;
	text-decoration:underline;
	font-weight:bold;
	text-align:left;
}
.AdImg_Loc_118{
	border-color:#E1DFDB;
	border-style:solid;
	border-width:1px;
	height:50px;
	margin-bottom:5px;
	margin-top:12px;
	padding:3px;
	width:68px;
}
.AdTitle_Loc_118 {
	text-align:left;
}
.AdTitle_Loc_118 a:link{
	color:#421801;
	font-size:12px;
	text-decoration:none;
	text-align:left;
}

.AdTitle_Loc_118 a:hover{
	color:#FC4128;
	font-size:12px;
	text-decoration:underline;
	text-align:left;
}
/*--------AdLoc_119---------------*/
.AdBlock_Loc_119{
	background-color: #FFFFFF;
    border: 1px solid #B5CADF;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 185px;
}

.AdBlock_Loc_119 a:link{
	font-size: 12px;
	color: #005599;
	text-decoration:none;
}

.AdBlock_Loc_119 a:hover{
	font-size: 12px;
	color: #005599;
	text-decoration:underline;
}

.AdHeader_Loc_119{
	background-image: url("http://i.fgi.tw/Img/titlebg_03.gif");
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    width: 100%;
}
.AdItem_Loc_119{
	border-bottom: 1px dashed #999999;
    height: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.AdImg_Loc_119{
	margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    height:80px;
}

.AdTitle_Loc_119{
    /*height: 60px;*/
    line-height: 15px;
    width: 90px;
}

.AdText_Loc_119{
	 color: #E86587;
    font-size: 13px;
    font-weight: bold;
}

/*---------AdLoc_120--------------*/
.AdBlock_Loc_120{
	text-align:left;
	width: 185px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #b5cadf;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

.AdHeader_Loc_120{
	background-image: url("http://i.fgi.tw/Img/titlebg_03.gif");
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    width: 100%;
}

.AdItem_Loc_120{
	margin-top:5px;
	padding-bottom: 5px;
	height:80px;
}

.AdImg_Loc_120{
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
}

.AdTitle_Loc_120{
	width: 90px;
	font-size: 12px;
	line-height: 15px;
	height: 73px;
	overflow: hidden;
}

.AdTitle_Loc_120 a:link{
	color: #005599;
	text-decoration:none;
}

.AdTitle_Loc_120 a:hover{
	color: #005599;
	text-decoration:underline;
}
.AdBlock_Loc_121{
	margin-left:7px;
	margin-right:7px;
	padding-bottom:5px;
	padding-top:5px;
}
.AdBlock_Loc_122{
	background-image:url("http://ad3.fashionguide.com.tw/i/AdLoc_122_icon_2.gif");
	background-repeat:repeat;
	width:310px;
	height:380px;
	margin-top:5px;
	padding:5px;
	text-align:center;
	position:relative;
}
.AdBlock_Loc_129{
	margin-top: 10px;
	margin-bottom: 10px;
}
.AdItem_Loc_17{
	padding-bottom: 5px;
}
/*--------Loc_141------*/
.AdHeader_Loc_141{
	margin-left:auto !important;
	margin-left:12px;
	margin-right:auto;
	text-align:center;
	width:175px;
	height:30px;
	background-image:url(http://ad3.fashionguide.com.tw/i/shineoff_18.gif);
}
.AdBlock_Loc_141{
	margin-left:auto !important;
	margin-left:12px;
	margin-right:auto;
	width:170px !important;
	width:175px;
	text-align:center;
	border:1px solid #C0C0C0;
	background-color:#FFFFFF;
	padding-left:2px !important;
	padding-left:5px;
	padding-bottom:5px;
}
.AdItem_Loc_141{
	margin-top:5px; text-align:left;
	background-image: url(http://ad3.fashionguide.com.tw/i/AdTpl_14_new_icon.gif);
	padding-left:16px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-top:5px;
	text-align:left;
}
.AdText_Loc_141 img{
	vertical-align:text-top;
}
.AdText_Loc_141 , .AdText_Loc_141 a:link , .AdText_Loc_141 a:hover , .AdText_Loc_141 a:visited{
	line-height:11pt;
	letter-spacing:1pt;
	font-size:9pt;
	color:#6d7390;
	text-decoration:none;

}

/*--------Loc_145---------*/
.AdHeader_Loc_145{
	margin-left:auto !important;
	margin-left:0px;
	margin-right:auto;
	text-align:center;
	width:199px;
	height:30px;
	background-image:url(http://ad3.fashionguide.com.tw/i/shineoff_23.gif);
}
.AdBlock_Loc_145{
	text-align:center;
}
.AdItem_Loc_145{
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	background-color:#FFFFFF;
	text-align:center;
	width:175px;
	border-bottom:1px solid #C0C0C0;
	border-left:1px solid #C0C0C0;
	border-right:1px solid #C0C0C0;
}
.AdTitle_Loc_145{
	text-align:left;
	word-wrap:break-word;
}
.AdTitle_Loc_145 a , .AdTitle_Loc_145 a:hover{
	text-align:left;
	color:#000000;
	font-size:12pt;
	font-weight:bold;
	letter-spacing:2px;
	text-decoration:none;
}


.AdText_Loc_145 , .AdText_Loc_145 a:link , .AdText_Loc_145 a:hover , .AdText_Loc_2 a:visited {
	text-align:left;
	font-size:9pt;
	line-height:12pt;
	color:#800000;
	text-decoration:underline;
}

.AdSText_Loc_145 , .AdSText_Loc_145 a:link , .AdSText_Loc_145 a:hover , .AdSText_Loc_145 a:visited{
	text-align:left;
	font-size:9pt;
	color:#800000;
	text-decoration:underline;
}

/*AD157用CSS*/
/*#eventAd*/
.eventName { font-size: 18px; color: #ff1e73; margin-left: 15px;}
.eventAdBlock { padding: 15px 25px; background: #d4d4d4; overflow: auto; margin: 10px 15px;}
.eventAdBlock .ad_brick { float: left; margin: 0 20px;}

/*2012首頁改版，首頁上方版位，文壓圖*/
.Ad_Loc_158_sub_img {padding: 0px; margin:0px;float: right;margin: 20px 5px 0 0;}
.Ad_Loc_158_sub_img li { width: 300px; height: 180px; position: relative; list-style: none; }
.Ad_Loc_158_sub_img li:first-child { margin-bottom: 5px;}
.Ad_Loc_158_sub_img li img { width: 300px; height: 180px;}
.Ad_Loc_158_sub_img .gray { display: block; background: #000; opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50); width: 300px; height: 35px; position: absolute; bottom: 0; left: 0;}
.Ad_Loc_158_sub_img p { position: absolute; left: 4px; top: 155px; font-size: 14px; width: 290px; text-align: center;}
.Ad_Loc_158_sub_img a { color: #fff; font-size: 15px; letter-spacing: 0.1em;}
.Ad_Loc_158_sub_img a:hover { color: #ff1e73;}
.Ad_Loc_158_ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*2012首頁改版，首頁上方版位，文壓圖*/
.Ad_Loc_159_sub_img {padding: 0px; margin:0px;float: right;margin: 0px 5px 0 0;}
.Ad_Loc_159_sub_img li { width: 300px; height: 180px; position: relative; list-style: none; }
.Ad_Loc_159_sub_img li:first-child { margin-bottom: 5px;}
.Ad_Loc_159_sub_img li img { width: 300px; height: 180px;}
.Ad_Loc_159_sub_img .gray { display: block; background: #000; opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50); width: 300px; height: 35px; position: absolute; bottom: 0; left: 0;}
.Ad_Loc_159_sub_img p { position: absolute; left: 4px; top: 155px; font-size: 14px; width: 290px; text-align: center;}
.Ad_Loc_159_sub_img a { color: #fff; font-size: 15px; letter-spacing: 0.1em;}
.Ad_Loc_159_sub_img a:hover { color: #ff1e73;}
.Ad_Loc_159_ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*--------Loc_162---------*/
/*Bottom Ad: .frame_AdBottom */
.AdBlock_Loc_45{border-top: 1px dotted #666;}
.frame_AdBottom .AdBlock { padding: 10px 0; overflow: hidden; }
.frame_AdBottom .AdBlock_Loc_10 .AdItem_Loc_10 { float: none;}
.frame_AdBottom .AdItem { background: #fff; padding: 0; margin: 0; float: left; width: 25%; word-break: break-all;}
.frame_AdBottom .AdFrameL { margin-right: 5px; margin-left: 5px; }
.frame_AdBottom .AdFrameR { width: 57%; text-align: left; }
.frame_AdBottom .AdTitle a, .frame_AdBottom .AdTitle a:hover { color: #000; font-size: 15px;font-weight:bold;}
.frame_AdBottom .AdText a, .frame_AdBottom .AdText a:hover, .frame_AdBottom .AdText a:visited {  color: #666; font-size: 12px; line-height: 12pt; letter-spacing: 1pt; text-decoration: none;}

/*2013 3C頻道，首頁上方版位，文壓圖*/
.Ad_Loc_182_sub_img {padding: 0px; margin:0px;float: right;margin: 20px 5px 0 0;}
.Ad_Loc_182_sub_img li { width: 300px; height: 180px; position: relative; list-style: none; }
.Ad_Loc_182_sub_img li:first-child { margin-bottom: 5px;}
.Ad_Loc_182_sub_img li img { width: 300px; height: 180px;}
.Ad_Loc_182_sub_img .gray { display: block; background: #000; opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50); width: 300px; height: 35px; position: absolute; bottom: 0; left: 0;}
.Ad_Loc_182_sub_img p { position: absolute; left: 4px; top: 155px; font-size: 14px; width: 290px; text-align: center;}
.Ad_Loc_182_sub_img a { color: #fff; font-size: 15px; letter-spacing: 0.1em;}
.Ad_Loc_182_sub_img a:hover { color: #ff1e73;}
.Ad_Loc_182_ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*2013 3C頻道，首頁上方版位，文壓圖*/
.Ad_Loc_183_sub_img {padding: 0px; margin:0px;float: right;margin: 0px 5px 0 0;}
.Ad_Loc_183_sub_img li { width: 300px; height: 180px; position: relative; list-style: none; }
.Ad_Loc_183_sub_img li:first-child { margin-bottom: 5px;}
.Ad_Loc_183_sub_img li img { width: 300px; height: 180px;}
.Ad_Loc_183_sub_img .gray { display: block; background: #000; opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50); width: 300px; height: 35px; position: absolute; bottom: 0; left: 0;}
.Ad_Loc_183_sub_img p { position: absolute; left: 4px; top: 155px; font-size: 14px; width: 290px; text-align: center;}
.Ad_Loc_183_sub_img a { color: #fff; font-size: 15px; letter-spacing: 0.1em;}
.Ad_Loc_183_sub_img a:hover { color: #ff1e73;}
.Ad_Loc_183_ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*2014 男性頻道，首頁上方版位，文壓圖*/
.Ad_Loc_196_sub_img {padding: 0px; margin:0px;float: right;margin: 20px 5px 0 0;}
.Ad_Loc_196_sub_img li { width: 300px; height: 180px; position: relative; list-style: none; }
.Ad_Loc_196_sub_img li:first-child { margin-bottom: 5px;}
.Ad_Loc_196_sub_img li img { width: 300px; height: 180px;}
.Ad_Loc_196_sub_img .gray { display: block; background: #000; opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50); width: 300px; height: 35px; position: absolute; bottom: 0; left: 0;}
.Ad_Loc_196_sub_img p { position: absolute; left: 4px; top: 155px; font-size: 14px; width: 290px; text-align: center;}
.Ad_Loc_196_sub_img a { color: #fff; font-size: 15px; letter-spacing: 0.1em;}
.Ad_Loc_196_sub_img a:hover { color: #ff1e73;}
.Ad_Loc_196_ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/*2014 男性頻道，首頁上方版位，文壓圖*/
.Ad_Loc_197_sub_img {padding: 0px; margin:0px;float: right;margin: 0px 5px 0 0;}
.Ad_Loc_197_sub_img li { width: 300px; height: 180px; position: relative; list-style: none; }
.Ad_Loc_197_sub_img li:first-child { margin-bottom: 5px;}
.Ad_Loc_197_sub_img li img { width: 300px; height: 180px;}
.Ad_Loc_197_sub_img .gray { display: block; background: #000; opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50); width: 300px; height: 35px; position: absolute; bottom: 0; left: 0;}
.Ad_Loc_197_sub_img p { position: absolute; left: 4px; top: 155px; font-size: 14px; width: 290px; text-align: center;}
.Ad_Loc_197_sub_img a { color: #fff; font-size: 15px; letter-spacing: 0.1em;}
.Ad_Loc_197_sub_img a:hover { color: #ff1e73;}
.Ad_Loc_197_ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}