@CHARSET "UTF-8";

/*--------- Block ---------*/
.AdBlock{
	padding:0px;
	text-align:center;
	width:100%;
}

/*--------- Frame ---------*/
.AdFrameL{
	float:left;
}
.AdFrameR{
	float:right;
}
.AdFrameC{
	clear:both;
}

/*--------- Img -----------*/
.AdImg {
  border:0px;
}

/*--------- Text ----------*/
.AdTitle{
	color:#817676;
	font-size:13px;
}

.AdTitle a {
	color:#817676;
	font-size:13px;
	text-decoration:none;
}

.AdTitle a:hover {
	color:#817676;
	font-size:13px;
	text-decoration:underline;
}

.AdText , .AdSText , .AdTText{
	color:#817676;
	font-size:11px;
}

.AdText a {
	color:#817676;
	font-size:11px;
	text-decoration:none;
}

.AdText a:hover {
	color:#817676;
	font-size:11px;
	text-decoration:underline;
}

.AdSText a {
	color:#817676;
	font-size:11px;
	text-decoration:none;
}

.AdSText a:hover {
	color:#817676;
	font-size:11px;
	text-decoration:underline;
}

.AdTText a {
	color:#817676;
	font-size:11px;
	text-decoration:none;
}

.AdTText a:hover {
	color:#817676;
	font-size:11px;
	text-decoration:underline;
}

/*----------custom -------------*/
.AdBlock_Loc_2{
	margin:auto;
}

.AdBlock_Loc_7{
	text-align:left
}
.AdItem_Loc_7{
	text-align:center;
}

.AdBlock_Loc_8 , .AdItem_Loc_8 , .AdText_Loc_8{
	font-size:12px;
	width:130px;
	display: inline ;
}
.AdItem_Loc_19{
	text-align:left;
	background-color:#FFFFFF;
}
.AdText_Loc_19{
	font-size:9pt;
	color:#6d7390;
	text-decoration:none;
}
.AdText_Loc_19 a{
	font-size:9pt;
	color:#6d7390;
	text-decoration:none;
}
.AdText_Loc_19 a:hover{
	font-size:9pt;
	color:#6d7390;
	text-decoration:underline;
}
.AdBlock_Loc_63{
	height:30px;
	background-color:#d19797;
}
.AdText_Loc_63,.AdText_Loc_63 a,.AdText_Loc_63 a:hover{
	font-size:10pt;
	color:#FFFFFF;
	text-decoration:none;
	line-height:30px;
	font-weight:bold;
}
.AdText_Loc_64 a,.AdText_Loc_65 a,.AdText_Loc_68 a{
	text-decoration:none;
	font-size:9pt;
	color:#000000;
}
.AdText_Loc_79 a,.AdText_Loc_80 a{
	text-decoration:none;
	font-size:9pt;
	color:#421801;
}
.AdText_Loc_64 a:hover,.AdText_Loc_65 a:hover,.AdText_Loc_68 a:hover{
	text-decoration:none;
	font-size:9pt;
	color:#A20F00;
}
.AdText_Loc_79 a:hover,.AdText_Loc_80 a:hover{
	font-size:9pt;
	color:#FC4128;
}
.AdTitle_Loc_46{
	text-align:left;
	font-size:15px;
	letter-spacing:1pt;
	font-weight:bold;
	text-decoration:none;
}
.AdFrameL_Loc_64,.AdFrameL_Loc_65{
	width:60px;
	margin-top:2px;
	margin-bottom:2px;
	border:1px solid #C0C0C0;
	margin-left:10px;
}
.AdFrameL_Loc_79{
	width:92px;
	margin-top:2px;
	margin-bottom:2px;
	margin-left: 5px;
	margin-right: auto;
}
.AdFrameL_Loc_80{
	width:70px;
	margin-top:2px;
	margin-bottom:2px;
	border:0px;
	margin-left:5px;
}
.AdFrameL_Loc_68{
	width:60px;
	margin-top:2px;
	margin-bottom:2px;

}
.AdFrameR_Loc_68{
	width:85px;
	text-align:left
}
.AdFrameR_Loc_64,.AdFrameR_Loc_65{
	width:100px;
	text-align:left;
	margin-right:5px ;
	margin-top:10px ;
}
.AdFrameR_Loc_79{
	width:112px;
	text-align:left;
	margin-right:5px ;
}
.AdFrameR_Loc_80{
	width:119px;
	text-align:left;
	margin-right:5px ;
}
.AdBlock_Loc_64,.AdBlock_Loc_65,.AdBlock_Loc_68{
	border-bottom:1px solid #C0C0C0;
	border-left:1px solid #C0C0C0;
	border-right:1px solid #C0C0C0;
	float:center;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color:#FFFFFF;
	width:92%;
	width:185px \9;
	margin-left:7px;
	margin-right:7px ;
}
.AdBlock_Loc_79,.AdBlock_Loc_80{
	border:1px solid #C0C0C0;
	float:center;
	background-color:#FFFFFF;
	width:96%;
	width:220px \9;
	margin-left:4px;
	margin-right:4px ;
}
.AdItem_Loc_64,.AdItem_Loc_65,.AdItem_Loc_78,.AdItem_Loc_79,.AdItem_Loc_80{
	margin-bottom: 3px;
	margin-top: 3px;

}
.AdItem_Loc_68{
	margin-top:3px;
	margin-bottom:3px;
	margin-left:9px;
	margin-right:9px;
}
.AdFrameL_Loc_91{}
.AdFrameR_Loc_91{}

.AdTitle_Loc_91 a,.AdTitle_Loc_91 a:hover{
	color:#FF7900;
	font-weight:bold;
	float:center;
	font-size:13px;
	letter-spacing:1px;
}
.AdText_Loc_91 a{
	color:#666666;
	letter-spacing:1px;
	line-height:16px;
	text-decoration:none;
	float:center;
	font-size:12px;
}
.AdText_Loc_91 a:hover{
	color:#0064C9;
	letter-spacing:1px;
	line-height:16px;
	text-decoration:none;
	float:center;
	font-size:12px;
}

.AdItem_Loc_91{

}
.AdItem_Loc_93{
	padding:12px 11px;
	width:120px;
}
.AdFrameL_Loc_93 {
	padding:0 0 15px;
}
.AdFrameR_Loc_93 {
	width:120px;
}
.AdText_Loc_93 a:visited,.AdText_Loc_93 a:link ,.AdText_Loc_93 a:hover{
	color:#5B3358;
	font-size:12px;
	text-decoration:none;
}
.AdItem_Loc_92,.AdItem_Loc_98{
	width:150px;
}
.AdFrameR_Loc_92,.AdFrameR_Loc_98 {
	width:150px;
}
.AdText_Loc_92,.AdText_Loc_98{
	font-size:12px;
}
.AdText_Loc_94 a:link,.AdText_Loc_94 a:visited{
	text-decoration:none;
	font-size:12px;
}

.AdText_Loc_95 a:link,.AdText_Loc_95 a:hover{
	color:#FF0000;
	text-decoration:none;
	font-size:12px;
}
.AdItem_Loc_99{
	width:124px;
}
.AdFrameR_Loc_99 {
	width:124px;
}
.AdTitle_Loc_99 a:link{
	color:#421801;
	font-weight:bold;
	font-size:15px;
	text-decoration:none;
}
.AdTitle_Loc_99 a:hover{
	color:#FC4128;
	font-weight:bold;
	font-size:15px;
}
.AdText_Loc_99 a:link, .AdText_Loc_99 a:hover{
 	font-size:12px;
 	color:#817676;
 	text-decoration:none;
}
.AdItem_Loc_100{
 	float:left;
}
.AdFrameL_Loc_101,.AdFrameL_Loc_102{
 	width:141px;
}
.AdFrameR_Loc_101,.AdFrameR_Loc_102{
 	width:300px;
}
.AdItem_Loc_101,.AdItem_Loc_102{
 	border:1px solid #DFDFDF;
 	height:62px;
 	margin:5px 3px;
 	width:62px;
}
.AdItem_Loc_110,.AdItem_Loc_111{
 	border:2px solid #DFDFDF;
 	height:62px;
 	margin:5px 3px;
 	width:62px;

}
.AdTitle_Loc_101,.AdTitle_Loc_102 {
	height:40px;
}
.AdTitle_Loc_101 a:link,.AdTitle_Loc_102 a:link{
	color:#421801;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
.AdTitle_Loc_101 a:hover,.AdTitle_Loc_102 a:hover{
	color:#FC4125;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}
.AdText_Loc_101,.AdText_Loc_102{
	color:#817676;
	font-size:12px;
}
.AdSText_Loc_101{
 	color:#86009F;
 	font-size:12px;
}
.AdText_Loc_101 a:link{
 	color:#7C526A;
 	font-size:12px;
 	text-decoration:underline;
}
.AdText_Loc_101 a:hover{
  	color:#D591B8;
 	font-size:12px;
 	text-decoration:underline;
}
.AdSText_Loc_102{
 	color:#7FA5C8;
 	font-size:12px;

}
.AdText_Loc_102 a:link{
 	color:#F77231;
 	font-size:12px;
 	text-decoration:underline;
}
.AdText_Loc_102 a:hover{
  	color:#F4A27A;
 	font-size:12px;
 	text-decoration:underline;
}
.AdFrameL_Loc_109{
	width:75px;
	height:75px;
	float:left;
	margin:5px;
}
.AdFrameR_Loc_109{
	width:120px;
	float:right;
	margin:5px 5px 5px 0px;
}
.AdTitle_Loc_109,.AdTitle_Loc_109 a:hover,.AdTitle_Loc_109 a:link{
	color:#421801;
	font-size:12px;
	text-decoration:none;
	text-align:left;
	font-weight:bold;

}
.AdText_Loc_109{
	margin-top:3px;
	text-decoration:none;
	text-align:left;
	color:#817676;
	font-size:12px;
}
.AdBlock_Loc_109{
	background-color:#FFFFFF;
	border:1px solid #C0C0C0;
	height:90px;
	margin:7px 4px 5px;
	text-align:left;
	width:220px;
}

.AdTitle_Loc_110 a:link,.AdTitle_Loc_111 a:link{
	color:#421801;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
.AdTitle_Loc_110 a:hover,.AdTitle_Loc_111 a:hover{
	color:#FC4128;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}
.AdHeadT_Loc_110,.AdHeadT_Loc_111{
	float:right;
	width:290px;
	line-height:18px;
	margin-top:2px;
}
.AdText_Loc_110,.AdText_Loc_111{
	color:#BF5E26;
	font-size:12px;

}
.AdHead_Loc_110,.AdHead_Loc_111{
	background-color:#FAFAFA;
	height:60px;
	margin-bottom:10px;
	margin-top:8px;
	width:310px
}
.AdFrameL_Loc_121{
	width:40px;
	float:left;
	float: left;
	height: 40px;
	margin-right: 7px;
	margin-top: 7px;
	margin-left: 1px;
}
.AdFrameR_Loc_121{
	width:121px;
	float:right;


}
.AdTitle_Loc_121{
	margin-top: 7px;
}
.AdItem_Loc_121{
	background-image: url(http://ad3.fashionguide.com.tw/i/AdTpl_40_icon_2.gif);
	background-repeat: repeat;
	width: 175px;
	height: auto;
	padding: 5px;
	float:left;
}

.AdTitle_Loc_121, .AdTitle_Loc_121 a:link,.AdTitle_Loc_121 a:visited{
	color: #de699d;
	text-decoration: none;
	text-align:left;
}
.AdTitle_Loc_121 a:hover{
	color: #de699d;
	text-decoration: underline;
}
.AdFrameT_Loc_121 img{

	max-width:174px;/*IE 以外*/
	border:0;
	width:expression(this.width>174 ? 174:true);/*IE 適用*/

}
.AdText_Loc_121{
	text-align:left;
}
.AdFrameL_Loc_122,.AdImg_Loc_122{
	width:97%;
	height:252px;
	background-image:url("http://ad3.fashionguide.com.tw/i/AdLoc_122_icon_1.gif");
	background-repeat:repeat-x;
	padding:5px;
}
.AdImg_Loc_122 img{
	width:299px;
	height:222px;
}
.AdTitle_Loc_122 a:link,.AdTitle_Loc_122 a:visited{
	color:#421801;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	padding-left:10px;
}
.AdTitle_Loc_122 a:hover{
	color:#FC4128;
	font-size:15px;
	font-weight:bold;
	text-decoration: underline;
}
.AdFrameR_Loc_122,.AdTitle_Loc_122{
	width:310px;
	line-height: 20px;
	text-align:left;
	padding-top:5px;
}
.AdText_Loc_122{
	margin-top:4px;
	margin-left:10px;
	margin-right:5px;
	line-height: 20px;
	text-align:left;
}
.AdFrameL_Loc_124 {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDD;
    padding-right: 12px;
    padding-left: 12px;
    width: 124px;
    height: 167px;
}
.AdTitle_Loc_124{
	margin-top: 3px;
	text-align:left;
}
.AdTitle_Loc_124 a:link,.AdTitle_Loc_124 a:visited{
	color:#421801;
	font-size:13px;
	text-decoration:none;
	text-align:left;
}
.AdTitle_Loc_124 a:hover{
	color:#FC4128;
	font-size:13px;
	text-decoration:underline;
	text-align:left;
}
.AdText_Loc_124{
	color:#817676;
	font-size:11px;
	height: 22px;
	margin-top:2px;
	text-align:left;
}
.AdText_Loc_124 a{
	color:#817676;
	font-size:11px;
	height: 22px;
	margin-top:2px;
	text-align:left;
}
.AdText_Loc_124 a:hover,.AdText_Loc_124 a:link,.AdText_Loc_124 a:visited{
	color:#817676;
	font-size:11px;
	height: 22px;
	margin-top:2px;
	text-align:left;
}
.AdBlock_Loc_124{
	width: 150px;
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	float:left;
	position:relative;
	height: 210px;
}
.AdFrameR_Loc_124{
	float: right;
	width: 150px;
	height: 45px;
}
.AdFrameL_Loc_125 {
	float: left;
}
.AdFrameR_Loc_125{
	float: right;
    width: 140px;
}
.AdBlock_Loc_125{
	width: 210px;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 7px;
	float:right;
	position:relative;
	height:210px;
}
.AdTitle_Loc_125 {
	margin-top: 7px;
	text-align:left;
}
.AdTitle_Loc_125 a:link,.AdTitle_Loc_125 a:visited{
	color:#421801;
	font-size:13px;
	text-decoration:none;
	text-align:left;
}
.AdTitle_Loc_125 a:hover{
	color:#FC4128;
	font-size:13px;
	text-decoration:underline;
	text-align:left;
}
.AdText_Loc_125 {
	color:#817676;
	font-size:11px;
	height: 25px;
	margin-top:3px;
	text-align:left;
}
.AdText_Loc_125 a{
	color:#817676;
	font-size:11px;
	height: 25px;
	margin-top:3px;
	text-align:left;
}
.AdText_Loc_125 a:hover,.AdText_Loc_125 a:link,.AdText_Loc_125 a:visited{
	color:#817676;
	font-size:11px;
	height: 25px;
	margin-top:3px;
	text-align:left;
}
.AdItem_Loc_125{
	padding-top: 2px;
	padding-left: 0px;
	padding-bottom: 7px;
	padding-right: 2px;

}
.AdText_Loc_126 {
	font-size:12px;
}
.AdText_Loc_126 a:hover{
	color:#421801;
	font-size:12px;
	text-decoration:underline;
	text-align:left;
}
.AdFrameL_Loc_127 {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDD;
    padding:0 12px;
		width: 124px;
    height: 163px;
}
.AdTitle_Loc_127{
	margin-top: 3px;
	text-align:left;
}
.AdTitle_Loc_127 a:link,.AdTitle_Loc_127 a:visited{
	color:#421801;
	font-size:13px;
	text-decoration:none;
	text-align:left;
}
.AdTitle_Loc_127 a:hover{
	color:#FC4128;
	font-size:13px;
	text-decoration:underline;
	text-align:left;
}
.AdText_Loc_127{
	color:#817676;
	font-size:11px;
	height: 22px;
	margin-top:2px;
	text-align:left;
}
.AdBlock_Loc_127{
	width: 150px;
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	float:left;
	position:relative;
	height: 210px;
}
.AdFrameR_Loc_127{
	float: right;
	width: 150px;
	height: 45px;
}
.AdFrameL_Loc_128 {
	float: left;
}
.AdFrameR_Loc_128{
	float: right;
    width: 140px;
}
.AdBlock_Loc_128{
	width: 210px;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 7px;
	float:right;
	position:relative;
	height:210px;
}
.AdTitle_Loc_128{
	margin-top: 7px;
	text-align:left;
}
.AdTitle_Loc_128 a:link,.AdTitle_Loc_128 a:visited{
	color:#421801;
	font-size:13px;
	text-decoration:none;
	text-align:left;
}
.AdTitle_Loc_128 a:hover{
	color:#FC4128;
	font-size:13px;
	text-decoration:underline;
	text-align:left;
}
.AdText_Loc_128{
	color:#817676;
	font-size:11px;
	height: 25px;
	margin-top:3px;
	text-align:left;
}
.AdItem_Loc_128{
	padding-top: 2px;
	padding-left: 0px;
	padding-bottom: 7px;
	padding-right: 2px;

}
/*--------- Test 130 ----------*/
.AdFrameL_Loc_130 {
	float: left;
}
.AdFrameR_Loc_130{
	float: right;
    width: 100px;
}
.AdBlock_Loc_130{
	width: 210px;
	margin-bottom: 7px;
	margin-right: 7px;
	float:right;
	position:relative;
	height:210px;
}
.AdTitle_Loc_130 {
	margin-top: 7px;
	text-align:left;
	font-weight: bold;
}
.AdTitle_Loc_130 a:link,.AdTitle_Loc_130 a:visited{
	color:#421801;
	font-size:13px;
	text-decoration:none;
	text-align:left;
}
.AdTitle_Loc_130 a:hover{
	color:#FC4128;
	font-size:13px;
	text-decoration:underline;
	text-align:left;
}
.AdText_Loc_130 {
	color:#817676;
	font-size:9pt;
	height: 25px;
	margin-top:3px;
	text-align:left;
}
.AdText_Loc_130 a{
	color:#817676;
	font-size:9pt;
	height: 25px;
	margin-top:3px;
	text-align:left;
}
.AdText_Loc_130 a:hover,.AdText_Loc_130 a:link,.AdText_Loc_130 a:visited{
	color:#817676;
	font-size:9pt;
	height: 25px;
	margin-top:3px;
	text-align:left;
}
.AdItem_Loc_130{
	border-bottom: 1px dashed #DAD7D2;
	padding-bottom: 8px;
    padding-top: 8px;

}
.AdItem_Loc_131{
  line-height: 20px;
  overflow: hidden;
	text-align:left;
	margin-left:12px;
}
/*---*/
.AdFrameL_Loc_136 {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDD;
    height: 90px;
    margin-left: 15px;
}
.AdTitle_Loc_136{
	margin-top: 3px;
	text-align:left;
}
.AdTitle_Loc_136 a:link,.AdTitle_Loc_136 a:visited{
	color:#421801;
	font-size:13px;
	text-decoration:none;
	text-align:left;
}
.AdTitle_Loc_136 a:hover{
	color:#FC4128;
	font-size:13px;
	text-decoration:underline;
	text-align:left;
}
.AdText_Loc_136{
	color:#817676;
	font-size:13px;
	margin-top:2px;
	text-align:left;
}
.AdText_Loc_136 a{
	color:#817676;
	font-size:13px;
	margin-top:2px;
	text-align:left;
}
.AdText_Loc_136 a:hover,.AdText_Loc_136 a:link,.AdText_Loc_136 a:visited{
	color:#817676;
	font-size:13px;
	margin-top:2px;
	text-align:left;
}
.AdBlock_Loc_136{
	width: 150px;
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	float:left;
	position:relative;
	height: 290px;
}
.AdFrameR_Loc_136{
	float: right;
	width: 150px;
	height: 50px;
}
.AdItem_Loc_136{
	height: 150px;
}
.AdItem_Loc_138{
	margin-bottom: 8px;
}
.AdItem_Loc_142{
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.AdText_Loc_142{
	color:#817676;
	font-size:13px;
}
.AdText_Loc_142 a{
	color:#817676;
	font-size:13px;
}
.AdText_Loc_142 a:hover,.AdText_Loc_142 a:link,.AdText_Loc_142 a:visited{
	color:#817676;
	font-size:13px;
}
.AdText_Loc_139{
	float: left;
	padding-left: 10px;
	font-size: 13px;
}
.AdText_Loc_139 a{
	float: left;
	padding-left: 20px;
	font-size: 13px;
}
.AdText_Loc_139 a:hover,.AdText_Loc_139 a:link,.AdText_Loc_139 a:visited{
	float: left;
	padding-left: 20px;
	font-size: 13px;
}
.AdText_Loc_176{
	float: left;
	color:#008000;
	font-size: 9pt;
}
.AdText_Loc_176 a{
	float: left;
	color:#008000;
	font-size: 9pt;
}
.AdText_Loc_176 a:hover,.AdText_Loc_176 a:link,.AdText_Loc_176 a:visited{
	float: left;
	color:#008000;
	font-size: 9pt;
}

/*-- 頁面關鍵字廣告 --*/
#fg_k3{
  width:250px;
  height:130px;
  background-color:#FFFFFF;
  margin:0 auto;
  overflow:hidden;
  position:fixed; bottom:33px; right:100px;
  _position: absolute; /* position fixed for IE6 */
  _top:expression(documentElement.scrollTop+documentElement.clientHeight-this.clientHeight-33);
  z-index:9999;
}

.fg_k3_img {
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 5px;
}
.fg_k3_txt1 {
	font-size: 15px;
	font-weight: bold;
}
.fg_k3_txt2 {
	font-size: 12px;
	color: #666;
	line-height: 12pt;
	letter-spacing: 1pt;
}
/*-- 個人化廣告 --*/
#per_box{
  width:250px;
  height:405px;
  margin:0 auto;
  overflow:hidden;
  position:fixed; bottom:33px; right:100px;
  _position: absolute; /* position fixed for IE6 */
  _top:expression(documentElement.scrollTop+documentElement.clientHeight-this.clientHeight-33);
  z-index:9999;
}
.per_title{ background-image:url(http://ad3.fashionguide.com.tw/pic/title250x370.jpg); height:35px; margin:0; position:relative;}
.per_off{ position:absolute; width:13px; height:13px; background:url(http://ad3.fashionguide.com.tw/pic/off.png) 0 0; margin:10px 8px 0px 229px; cursor:pointer; display:none;}
.per_banner{ height:250px;  margin:0 auto;}


/*-- 旅遊頻道 獨賣 --*/
.travel_ad { width:199px; height:270px; border: 1px solid #c2c2c2; padding:3px; background-color:#FFF; margin:10px 9px 0 12px; float:left; z-index:10; position:relative;}
.travel_ad:hover { border: 1px solid #ff1e73;}
.travel_ad a { text-decoration:none;}
.travel_ad p { font-size:13px; color:#000; line-height:1.5; padding:5px; margin:0; text-align:justify; height:58px;}
.travel_ad .price { font-size:20px; font-family:"Arial Black"; color: #ff1e73; float:left; padding:10px 0 10px 5px;}
.travel_ad .price .up { font-size:13px; color:#666;}
.travel_ad .more { float:right; padding:21px 5px 0 45px;}
.travel_ad .more a { font-size:13px; color:#666; text-decoration:none;}
.travel_ad .more a:hover { color: #ff1e73;}

/*-- 導購 DM 上方 --*/
.k4_killad {
	background-image: url(http://ad3.fashionguide.com.tw/pic/killbg.jpg);
	height: 275px;
	width: 787px;
	padding-top: 50px;
	padding-left: 134px;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}
.k4_killad_box {
	float: left;
	width: 154px;
	margin-left: 3px;
	font-size: 11px;
	color: #FFF;
}
.k4_killad_box a {
	color: #FFF;
	text-decoration: none;
}
.k4_killad_box .k4_title {
	font-size: 13px;
	color: #ffd0c0;
	height: 70px;
	padding-right: 3px;
	padding-left: 3px;
	overflow: hidden;
	font-weight:bold;
}
.k4_killad_box .k4_oldprice {
	text-align: center;
	font-size: 12px;
	height: 16px;
}
.k4_killad_box .k4_newprice {
	font-size: 48px;
	color: #ffd800;
	font-family: Impact;
	text-align: center;
	line-height: 48px;
	height: 62px;
}
.k4_newprice .k4_yun {
	font-size: 12px;
}
.k4_killad .k4_killad_box .k4_item_photo img {
	width: 113px;
}
.k4_killad_box .k4_item_photo {
	height: 114px;
	width: 153px;
	overflow: hidden;
	text-align: center;
}
/*-- 醫美，診所專區 --*/
.AdBlock_Loc_195 {
	border:1px solid #C0C0C0;
	padding: 5px;
	background-color:#FFFFFF;
	width:98%;
	overflow:hidden;
	margin-left:2px;
}
.AdItem_Loc_195 {
	width:248px;
	float:left;
	padding-top:5px;
}
.AdText_Loc_195 {
	width:239px;
	height:20px;
}
.AdText_Loc_195 a {
	text-decoration:none;
	font-size:15px;
	color:#000000;
}
.AdText_Loc_195 a:hover{
	text-decoration:none;
	font-size:15px;
	color:#3bcddc;
}
.AdFrameL_Loc_195 {
	width:230px;
	height:165px;
	margin:2px 0 2px 9px;
	border:1px solid #C0C0C0;
}
.AdFrameR_Loc_195 {
	padding:4px;
	width: 230px;
}
/* 小網 */
.AdBlock.AdBlock_Loc_215,
.AdBlock.AdBlock_Loc_216 {
    padding-left: 10px;
    padding-right: 10px;
}
/* 小網 一圖一文 */
.AdBlock_Loc_218 {
    background-color:#999;margin: 0 auto;
}
.AdItem_Loc_218 {
    width: 95%;
    margin-left: 2.5%;
    padding: 2.5% 10%;
}
.AdFrameR_Loc_218, .AdFrameL_Loc_218 {
    float: none;
    display: inline-block;
}
.AdText_Loc_218 a {
    font-size: 22px;
    line-height: 1.5em;
    color: #FFF;
}
.AdText_Loc_218 a:hover {
    font-size:24px;
    line-height:1.3;
    color:#FFF;
    text-decoration:underline;
}

/*-- Loc_222 特殊蓋台 --*/
@font-face {
    font-family: 'cwTeXMing';
    font-style: normal;
    font-weight: bold;
    src: url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff) format('woff'),
    url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf) format('truetype');
}

.pop_full_ad_Loc_222 {
    position: fixed;
    left: 95%;
    top: 85%;
    width: 0;
    height: 0;
    background: url("http://active.fashionguide.com.tw/resource/2016/fg_full_ad/images/pop_bg_03.png");
    z-index: 9999;
}

.pop_full_ad_Loc_222 h1, .pop_full_ad_Loc_222 h2, .pop_full_ad_Loc_222 h3, .pop_full_ad_Loc_222 h4, .pop_full_ad_Loc_222 h5, .pop_full_ad_Loc_222 h6, .pop_full_ad_Loc_222 p,
.pop_full_ad_Loc_222 a, .pop_full_ad_Loc_222 img, .pop_full_ad_Loc_222 ol, .pop_full_ad_Loc_222 ul, .pop_full_ad_Loc_222 li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.transform_Loc_222 {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.transform-active_Loc_222 {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
}

.pop_btn_Loc_222 {
    position: fixed;
    right: 0;
    bottom: 45px;
    cursor: pointer;
}

.pop_exit_Loc_222 {
    float: right;
    margin: 10px !important;
    cursor: pointer;
    display: none;
}

#pop_wrapper_Loc_222 {
    width: 854px;
    margin: 0 auto 100px auto !important;
    display: none;
}

.pop_main_bg_Loc_222 {
    width: 100%;
    height: 671px;
    position: relative;
    z-index: 1000;
    background: url("http://active.fashionguide.com.tw/resource/2016/fg_full_ad/images/pop_main_bg.png") no-repeat;
    font-family: "微軟正黑體", serif;
}

.pop_main_bg_Loc_222 ul {
    position: absolute;
    left: 379px;
    top: 207px;
    list-style: none;
}

.pop_main_bg_Loc_222 li {
    width: 172px;
    height: 210px;
    float: left;
    line-height: 24px !important;
    padding: 8px 9px !important;
}

.pop_main_bg_Loc_222 h1 {
    display: block;
    width: 172px;
    height: 5px;
    line-height: 5px;
    text-align: center;
    background: url("http://active.fashionguide.com.tw/resource/2016/fg_full_ad/images/pop_line.png") no-repeat;
    font-family: 'cwTeXMing', serif;
    font-size: 18px;
    color: #000000;
}

.pop_main_bg_Loc_222 p {
    width: 100%;
    max-height: 15px;
    padding: 10px 0;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
}

.pop_main_bg_Loc_222 a {
    display: block;
    margin-top: 5px !important;
}

.pop_main_bg_Loc_222 img {
    border-top: 2px solid #000000;
    padding-bottom: 11px;
    background: url("http://active.fashionguide.com.tw/resource/2016/fg_full_ad/images/pop_imgbg.png") no-repeat left bottom;
}

.pop_main_title_Loc_222 {
    width: 84%;
    margin: 10px auto !important;
}

.pop_main_title_Loc_222 img {
    float: left;
    margin-right: 10px;
}

.pop_main_title_Loc_222 h1 {
    font-family: "微軟正黑體", serif;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}