/* smartphones, iPhone, portrait 480x320 phones */
@media only screen
  and (min-width:320px)
	and (max-device-width:480px) { 
  #sidebar {
	  display: none !important;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media only screen
  and (min-width:481px)
	and (max-width:640px) { 
	#sidebar {
	  display: none !important;
  }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media only screen
  and (min-width:641px) 
	and (max-width:767px) { 
	#sidebar {
	  display: none !important;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen
  and (min-width:768px)  
  and (max-width:1024px) {
    #content { width: 400px !important; }
    #sidebar { width: 300px !important; }
    /*
    #sidebar .widget { display: block !important; }
    #sidebar .widget::before, #sidebar .widget::after { display: block; content: ""; clear: both; } 
    */
}
/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
  .hide_on_smarphones_screens{ display: none !important; }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { /* nada */ }
/* hi-res laptops and desktops */
@media (min-width:1281px) { /* nada */ }