@charset "utf-8";
/* CSS Document */

.container {width:100% !Important;}
#content { padding: 0px 75px 20px 25px !Important;}
#header{
	padding-right: 16%;
	float: right;
}
#supportText { width:100%; margin-left:30%; }
ul#supportTextList { padding-top:2px;}
ul#supportTextList li {
	list-style: disc outside none !Important;
	padding-top: 0px;
}
ul#topnav li {
	Font-size: 1.5em;
	list-style: none;
	position: relative;
	height:49px;
	float: right !Important;
	padding-right: 19% !Important;
}
ul#topnav li a {margin-top:11px;}

#nav {width:100%;}

/* Begin modal box */
.modal {
    background-color:#A32222;
    display:none;
    width:300px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
	
    opacity: 0.9;
    border-radius:6px;
    box-shadow: 0 0 50px #ccc;
}
.modal a, ul, li {
	color:#ffffff;
	text-decoration:none;
	list-style: none;
	padding-top: 10px;
}

.modal h2 {
	
    font-family:Georgia, "Times New Roman", Times, serif; 
	margin:0px;
    padding:10px 0 10px 0;
    border-bottom:1px solid #333;
    font-size:30px;
	text-align:center;
}

.modal h4 {
	
    background-color:#FFFFFF; 
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; 
	color:#095179; 
	font-weight:bold; 
	font-size:17px; 
	margin-top:1em; 
	margin-bottom:.3em;
}

.modal table {
	padding-top:10px;
}
.modal td { padding: 0; vertical-align: top;}
#ASIAdialog {width:783px;}
#EUROPEdialog  {width:1040px;}
#PMISdialog {width:408px;}
#SouthAMdialog {width:408px;}
#CENAMdialog {width:408px;}
#ChiPSdialog {width:370px;}
#AFRICAdialog {width: 408px;}
/* End modal box */

.countries {
	list-style-type: none;
	color:#ffffff;
}

.countries a, table, tr, td {
	color:#ffffff;
	text-decoration:none;
}

.countries a:hover {text-decoration:underline;}

.lead {font-weight:bold;}

.zoomASIA {
width:20px;
height:12px;
left:713px;
top:51px;
position:absolute;
}

.zoomEUROPE {
float:left;
left:563px;
height:136px;
top:49px;
width:278px;
position:absolute;
}

.zoomPMIS {
width:244px;
height:254px;
float:left;
left:1025px;
top:324px;
position:absolute;
}

.zoomAFRICA {
width:302px;
height:180px;
float:left;
position:fixed; 
left: 529px; 
top: 201px;
position:absolute;
}

.zoomCENAM {
width:126px;
height:112px;
float:left;
left: 108px;
top: 217px;
position: absolute;
}
.zoomChiPS {
width:145px;
height:42px;
float:left;
left: 238px;
top: 245px;
position: absolute;
}
.zoomNorthAM {
width:145px;
height:112px;
float:left;
left: 3px;
top: 62px;
position: absolute;
}
.zoomSouthAM {
width:145px;
height:112px;
float:left;
left: 247px;
top: 304px;
position: absolute;
}
