@charset "utf-8";
/* CSS Document */


body {
	margin: 0; padding: 0;
	background: url(../images/main_bg.png) repeat-x #2e77a3;
}
*{outline: none;}
img {border: 0;}

h1 { font-family:Helvetica, Arial, sans-serif; color:#ffffff; margin-bottom:.2em; line-height:1.2em; font-size:2em; }
h2 { font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin-bottom:.1em; }
h3 { font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin-bottom:5px; }
h4 { font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin-bottom:.3em; }
h5 { font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin-bottom:.2em; margin-top:.5em; }
p { font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin-bottom:.2em; }

#header { height:121px; background: url(../images/header_bg2.jpg) top left no-repeat #ffffff; }
#header #logo { margin: 35px 0 0 0; border-top: 1px solid #9ea6b6; border-bottom: 1px solid #9ea6b6; font-family:Georgia, "Times New Roman", Times, serif; width:450px; float:left; }
#header h1 { font-family:Georgia, "Times New Roman", Times, serif; color:#113e59; margin:3px; font-size:3.3em; line-height:1em; text-transform:uppercase; font-weight:normal; }
#header #logo h1.shadow { text-shadow: 1px 1px 7px #bfc0c0; }

#content { padding: 25px 75px 100px 25px; width:770px; margin-top:3px; }
.choose_arrow { margin-top:21px; }

ul#topnav {
	margin: 0; padding: 0;
	float:left;
	width: 100%;
	list-style: none;
	font-size: 1.1em;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	position: relative;
	height:49px;
}
ul#topnav li.first {
	padding-top: 12px;
}
ul#topnav li a {
	margin-top:16px;
	float: left; 
	/* text-indent: -9999px; */
	font-size:1.1em;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
}

ul#topnav li a:hover { text-decoration: underline; }
ul#topnav li:hover a, ul#topnav li a:hover { /* background-position: left bottom; */ }
ul#topnav a.choose {
	/* background: url(nav_home.png) no-repeat; */
	width: 160px; 
}
ul#topnav #left { border-left:1px solid #e37676; margin-right:5px; }
ul#topnav #right { border-right:1px solid #e37676; margin-left:5px; }



ul#topnav li .sub {
	position: absolute;	
	top: 51px; left: -10px;
	background: #a32222 /* url(sub_bg.png) repeat-x */;
	padding: 20px 20px 35px 20px;
	float: left;
	
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
	
	
}
ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 135px;
	float: left;
	margin-top:-15px;	
}
ul#topnav .sub ul li {
	width: 100%;
	color: #fff;
	height:25px;
	/* padding: 0 16px; */

}
ul#topnav .sub ul li h2 {
	padding: 0;  margin: 0;
	font-size: 1.3em;
	font-weight: bold;
	margin-top:20px;
}
ul#topnav .sub ul li h2 a {
	padding: 5px 0;
	background-image: none;
	color: #e8e000;
	font-size:.8em;
	}
ul#topnav .sub ul li a {
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	padding: 0 5px 4px 0;
	text-decoration: none;
	color: #eec1c1;
	font-size:.8em;
	margin-left:10px;
	
}

ul#topnav .sub ul li a:hover {color: #fff; background-position: 5px 12px; text-decoration:underline; }

#footer { padding: 0 8px 14px 8px; margin: 0 auto; }
	#footer ul { padding:0; margin:15px 0 0 0; }
		#footer ul li { list-style:none; font-weight:bold; line-height:1.1em; margin-bottom:5px; }
		#footer ul li.first { margin-top:10px; }
			#footer ul li a { text-decoration: none; color:#555; font-weight:normal; font-size:.9em;  }
				#footer ul li a:hover { text-decoration: underline; }
			#footer ul li a.lead { text-decoration: none; color:#333; font-weight:normal; font-size:.9em; }
				#footer ul li a.lead:hover { text-decoration: underline; }
			#footer ul li.lead { text-decoration: none; color:#333; font-weight:bold; font-size:.9em; }
				
#footer div.logo { width:232px; }
#footer div.home { width:232px; }	
#footer div.middle { width:190px; }	
#footer div { width:860px; margin-top:5px; }	
	#footer p.small { color:#fff; float:right; margin-top:5px; }
	#footer hr { width:120px; background-color:#ededed; }
	#footer li.dos { font-family:Georgia, "Times New Roman", Times, serif; text-transform:uppercase; font-weight:normal; }
				
#cgi_logo { margin:0 0 3px 7px; float:right; }

h5 { font-size:1.3em; margin:15px 0 0 0; font-weight:normal; }
ul.white li { color:#ffffff; font-size:1.3em; margin:0 0 0 30px; }
