.seach-suggest-bg{
    opacity: 0.3;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    left: 0;
    z-index: 82;
    right: 0;
}

#search-autocomplete {
    background: #FFF none repeat scroll 0px 0px;
    position: absolute;
    top: 34px;
    z-index: 98;
    text-indent: 0px;
    padding: 0px;
    width: 78%;
    font-size: 13px;
}
#search-autocomplete .title-suggest {
    font-size: 11px;
    position: relative;
    font-weight: bold;
    line-height: 1em;
    margin: 0px;
    padding: 15px 15px 15px;
    color: #73777a;
    text-transform: uppercase;
}
#search-autocomplete ul {
    padding: 0;
    list-style: none;
}
#search-autocomplete ul li {
    padding: 0px;
    margin: 0;
}
#search-autocomplete ul li a {
    color: #3c3d41;
    display: block;
    text-transform: capitalize;
    font-family: 'open_sansbold';
}
#search-autocomplete ul li a .highlight {
    font-family: 'open_sansregular';
}
#search-autocomplete ul li.list-suggest {
    padding: 0 15px 0 25px;
}
#search-autocomplete ul li.list-suggest:hover + li a {
}
#search-autocomplete ul li.list-suggest:hover {
    background: lightgrey;
    color: #fff;
}
#search-autocomplete ul li.list-suggest:hover a {
    color: #fff;
    text-decoration: none;
}
#search-autocomplete ul li.list-suggest:hover a span.highlight {
    color: #fff;
    font-weight: bold;
}
#search-autocomplete ul li.list-suggest a {
    padding: 5px;
}
#search-autocomplete .word-suggest {
    display: inline-block;
    width: 100%;
}
#search-autocomplete .product-name-search {
    display: inline-block;
    width: 100%;
}
#search-autocomplete .product-name-brand {
    display: inline-block;
    width: 100%;
}
#search-autocomplete .container-suggest > .list-suggest:last-child a {
    border-bottom: solid 1px lightgrey;
}
#search-autocomplete .container-suggest > .list-suggest:hover:last-child a {
    border-color: lightgrey;
}
