/*
|--------------------------------------------------------------------------
| G Floor Stylesheet
|--------------------------------------------------------------------------
|
| @author     : Front-end Marketing MM;
| @created    : 1 June 2016;
| @version    : 1.0;
|
*/

/** Floor G Custom CSS **/

#floor-g .floor-custom-title-wrapper.floor-title-g, #floor-g .row.floor, #floor-g .row.floor .floor-image-wrapper, #floor-g .row.floor .left-bar .brand-carousel {
    background-color: #0b0b0b !important;
}
.floor-custom-title-wrapper.floor-title-g {
    background-color: #0b0b0b !important;
}
#floor-g .floor .middle-bar, #floor-g .floor .small-image-col {
    border-top-color: #0b0b0b !important;
}
.g-floor-attribute {display: none !important;}
body #floor-g .small-image-col .border-bottom:first-child {
    border-bottom: 2px solid #0b0b0b !important;
}
body #floor-g .small-image-col .border-bottom {
    border-color: #0b0b0b !important;
}
#floor-g .floor-custom-title-wrapper.floor-title-g::after {
    border-left-color: #0b0b0b !important;
}
.floor-custom-title-wrapper.floor-title-g::after {
    border-left: 50px solid #0b0b0b !important;
}
#floor-g .floor-title-number {
    width: 185px;
    height: 47px;
    background-image: url(https://super.mataharimall.com/cmt/mira-html/g-floor/floor-g-shield-black.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top center !important;
    text-indent: -9999em;
}
#floor-g .floor-custom-title {position: relative;z-index: 999;margin-left: -150px;width: 200px;}
#floor-g .floor-custom-title a {background:none;}