/*UNRESPONSIVE*/
.container, .pre-content-container, header {
  margin-left: auto;
  margin-right: auto; }

.fix .header-top-menu {
  margin-top: -32px; }

@media screen and (max-width: 1199px) {
  body, html {
    overflow-x: visible; }

  header, .pre-content-container-wrapper, .body-container, .region-pre-footer, footer,
  .header-main.sticky {
    min-width: 970px; }

  .container {
    width: 950px; }

  .wrapp-category {
    z-index: 200; }

  .region-header-trending {
    height: 32px;
    overflow: hidden; }

  .breadcrumb > li:first-child {
    margin-left: 20px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 1179px; } }
.search-main {
  display: block !important; }

.category-top .region-header-trending ul li {
  float: left !important; }

.front .header-bottom .container {
  border-bottom: 4px solid #c40001 !important; }

.header-top-menu .navbar-nav > li {
  float: left; }

.col-xs-25 {
  width: 20%; }

.page-product-category .view-collection-products .product-item-wrapper .itembox {
  padding: 12px 15px; }
.page-product-category .view-collection-products .product-item-wrapper .img-product {
  width: auto;
  padding: 0; }
  .page-product-category .view-collection-products .product-item-wrapper .img-product img {
    max-height: 200px;
    max-width: 100%; }
.page-product-category .view-collection-products.fashion-category .product-item-wrapper .itembox {
  padding: 0; }
.page-product-category .view-collection-products.fashion-category .product-item-wrapper .img-product {
  width: auto;
  padding: 0; }
  .page-product-category .view-collection-products.fashion-category .product-item-wrapper .img-product img {
    max-width: 282px;
    max-height: 359px; }

@media (max-width: 1199px) {
  .search-main {
    margin-top: 10px; }

  .brand-carousel .item {
    width: 116px;
    margin: 0 auto; }
    .brand-carousel .item a img {
      height: auto; }

  #floor-g .brand-carousel .item {
    width: 90px; }
    #floor-g .brand-carousel .item a span {
      line-height: 60px; }

  .fix .header-main .logo-wrapper a {
    width: 136px;
    height: 40px;
    overflow: hidden; }

  button.btn-newsletter {
    width: 45%; }

  .view-collection-products.fashion-category .product-item-wrapper .itembox .itembox-inner {
    padding-left: 10px;
    padding-right: 10px; }
  .view-collection-products.fashion-category .product-item-wrapper .itembox .img-product {
    width: 227px !important;
    height: 291px !important;
    padding-left: 0px;
    padding-right: 0px; }
    .view-collection-products.fashion-category .product-item-wrapper .itembox .img-product img {
      max-width: 225px;
      max-height: 290px; }

  .product-dtls .product-tabs {
    margin-top: 40px; } }
@media (max-width: 768px) {
  .hidden-xs {
    display: block !important; }

  .filter-title {
    background-color: transparent; }

  .search-main {
    position: relative;
    z-index: 77;
    top: auto;
    left: auto;
    width: 87.5%;
    background-color: transparent; }

  .logo-main {
    width: 20.83333%;
    text-align: left;
    float: left; }

  header .logo-wrapper img {
    height: auto; }

  .header-top-menu .container {
    width: 950px;
    padding-left: 5px; }

  .header-top-menu .pull-right,
  .cart-menu {
    float: right !important;
    margin-top: 0; }

  .navbar-collapse.collapse, div#top-user-menu-wrapper {
    display: block !important; }

  #normal-user-menu {
    float: left; }

  .floor-title.visible-xs {
    display: none !important; }

  .pre-content-inner .no-padding-left {
    padding-left: 0px !important; }

  body.front .pre-content-container-wrapper {
    margin-bottom: 0; }

  .dropdown-item-page {
    width: 30%;
    float: right; }

  .product-list-pager {
    width: 70%;
    float: left; } }
@media (max-width: 1199px) and (min-width: 992px) {
  .hidden-md {
    display: block; } }
@media (max-width: 991px) and (min-width: 768px) {
  .hidden-sm {
    display: block; } }
.form-newsletter-signup {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
  max-width: 585px;
  height: auto;
  margin: 10px auto 0; }

.form-control-newsletter {
  border-radius: 0px; }

.btn-newsletter {
  border-radius: 0px;
  padding: 3px;
  color: #fff; }

.form-search-opps {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  margin-top: 0px;
  text-align: center; }

input#mce-EMAIL {
  background: #eaeaea;
  font-style: italic; }

.form-search-opps .form-control-newsletter {
  display: block;
  margin-bottom: 12px;
  width: 100%; }

.btn-red-newsletter {
  background-color: #de363f;
  border-color: #de363f;
  font-weight: bold;
  text-transform: uppercase;
  width: 49%; }

.btn-newsletter {
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.42857;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-red-newsletter.button-pria {
  margin-right: 1px; }

@media screen and (min-width: 240px) and (max-width: 960px) {
  .btn-red-newsletter.button-pria {
    margin-right: 10px; } }
@media screen and (min-width: 240px) and (max-width: 768px) {
  .btn-red-newsletter {
    width: 48%; }

  .btn-red-newsletter.button-pria {
    margin-right: 9px; }

  .form-newsletter-signup {
    height: auto; } }
@media screen and (min-width: 240px) and (max-width: 480px) {
  .btn-red-newsletter.button-pria {
    margin-right: 7px; }

  .form-newsletter-signup {
    width: 100%; } }
@media screen and (min-width: 480px) and (max-width: 768px) {
  .form-newsletter-signup {
    width: 70%;
    margin: 10px 0; } }
@media screen and (max-width: 960px) {
  .front .carousel-holder #slideshow-2 .item a img {
    max-height: 100%; } }
@media (max-width: 991px) {
  .banner-vertical div {
    height: 177px;
    overflow: visible; } }
@media screen and (max-width: 736px) and (min-width: 668px) {
  .banner-vertical {
    padding-right: 0px; } }

.item-product-list .itembox .itembox-inner .brand-title{
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}