body {
	background-color			: #4a4a4a;
	background-attachment		: fixed;
	padding						: 0px 0 0 0;
	margin						: 0px 0 0 0;
	font-family					: 'Open Sans', sans-serif;
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menuitems {
	font-size					: 22px;
	font-weight					: 600;
	color						: #FFF;
	text-shadow					: #000;
}

.menutitles{
	font-size					: 44px;
	font-weight					: 700;
	color						: #FFF;
	text-shadow					: #000;
	text-align					: center;
}

.welcome-text-dik {
	font-size					: 14px;
	font-weight					: 600;
	color						: #FFF;
	padding-left				: 20px;
	padding-top					: 20px;
	padding-right				: 20px;
}

.welcome-text-flat {
	font-size					: 14px;
	color						: #FFF;
	font-weight					: 400;
	padding-left				: 20px;
	padding-top					: 20px;
	padding-right				: 20px;
	padding-bottom				: 30px;
}

.welcome-benefits {
	font-size					: 13px;
	color						: #FFF;
	font-weight					: 400;
	padding-left				: 10px;
	padding-top					: 10px;
	padding-right				: 10px;
	padding-bottom				: 16px;
}

.firstphoto{
	background-image			: url(../images/photo01.jpg);
	width						: 1200px;
	height						: 326px;
	background-color			: #232323;
	font-size					: 50px;
	font-weight					: 700;
	color						: #FFF;
	text-shadow					: #000;
	text-align					: center;
}

.firstphoto-oranje{
	font-size					: 50px;
	font-weight					: 700;
	color						: #f74511;
	text-shadow					: #000;
	text-align					: center;
}

.sites-text-dik {
	font-size					: 14px;
	font-weight					: 600;
	color						: #FFF;
	padding-left				: 20px;
	padding-top					: 20px;
	padding-right				: 20px;
}

.sites-text-flat {
	font-size					: 14px;
	color						: #FFF;
	font-weight					: 400;
	padding-left				: 20px;
	padding-top					: 20px;
	padding-right				: 20px;
	padding-bottom				: 30px;
}

.sites-titles {
	font-size					: 18px;
	font-weight					: 600;
	color						: #f74511;
	padding-bottom				: 10px;
}

.sites-niches {
	font-size					: 12px;
	font-weight					: 400;
	color						: #ffffff;
	padding-top					: 8px;
	padding-bottom				: 10px;
}

.secondphoto{
	background-image			: url(../images/photo02.jpg);
	width						: 1200px;
	height						: 326px;
	background-color			: #232323;
	font-size					: 50px;
	font-weight					: 700;
	color						: #FFF;
	text-shadow					: #000;
	text-align					: center;
}

.secondphoto-oranje{
	font-size					: 50px;
	font-weight					: 700;
	color						: #f74511;
	text-shadow					: #000;
	text-align					: center;
}

.payout-text-oranje {
	font-size					: 14px;
	font-weight					: 600;
	color						: #f74511;
	padding-left				: 20px;
	padding-right				: 20px;
	padding-top					: 20px;
}

.payout-text-wit-dik {
	font-size					: 14px;
	font-weight					: 600;
	color						: #FFF;
	padding-left				: 20px;
	padding-right				: 20px;
	padding-top					: 12px;
}

.payout-text-wit {
	font-size					: 14px;
	font-weight					: 400;
	color						: #FFF;
	padding-left				: 20px;
	padding-right				: 20px;
	padding-top					: 12px;
}

.payout-text-bullit {
	font-size					: 14px;
	font-weight					: 400;
	color						: #FFF;
	padding-left				: 20px;
}

.contact-text-wit {
	font-size					: 14px;
	font-weight					: 400;
	color						: #FFF;
	padding-left				: 20px;
	padding-right				: 20px;
}

.contact-title-oranje {
	font-size					: 14px;
	font-weight					: 600;
	color						: #f74511;
}

.contact-title-oranje-italic {
	font-size					: 14px;
	font-weight					: 400;
	font-style					: italic;
	color						: #f74511;
}

.contact-tekst {
	font-size					: 14px;
	font-weight					: 400;
	color						: #ffffff;
}

.contact-information {
	font-size					: 14px;
	font-weight					: 600;
	color						: #a6a6a6;
}

.signup-text-oranje {
	font-size					: 14px;
	font-weight					: 600;
	color						: #f74511;
	padding-left				: 20px;
	padding-right				: 20px;
	padding-top					: 20px;
}

.signup-text-wit {
	font-size					: 14px;
	font-weight					: 400;
	color						: #FFF;
	padding-left				: 20px;
	padding-right				: 20px;
	padding-top					: 12px;
}

.login {
	font-size					: 11px;
	font-weight					: 600;
	color						: #fff;
}

.stats.button {
	color						: #fff;
	border-radius				: 0.3em;
	margin						: 0.5em auto 0;
	text-align					: center;
	background-color			: #f74511;
	border						: none;
}
.stats.button span {
	text-decoration				: none !important
}
.stats.button a {
	color						: #fff;
	display						: block;
	font-size					: 1.5em;
	font-weight					: bold;
	padding						: 0.5em 0.5em;
	width						: auto
}
.stats.button a:hover {
	color						: #ff6b40;
}

a:link {
	text-decoration				: none;
	color						: #ffffff;
}

a:visited {
	text-decoration				: none;
	color						: #ffffff;
}

a:hover {
	text-decoration				: none;
	color						: #f74511;
}

a:active {
	text-decoration				: none;
	color						: #f74511;
}

a.buttonRollover {
	display						: block;
	background-position			: top left;
}

a.buttonRollover:hover {
	background-position			: top right;
}

.center {
   width: 1200px;
   height: 550px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -600px;
   margin-top: -275px;
   display:inline-block;
}