@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('glyphicons-halflings-regular.eot');
    src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('glyphicons-halflings-regular.woff') format('woff'),
    url('glyphicons-halflings-regular.ttf') format('truetype'),
    url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
    font-family: 'icomoon';
    src:url('icomoon.eot?pfefvu');
    src:url('icomoon.eot?#iefixpfefvu') format('embedded-opentype'),
    url('icomoon.woff?pfefvu') format('woff'),
    url('icomoon.ttf?pfefvu') format('truetype'),
    url('icomoon.svg?pfefvu#icomoon') format('svg');
}
.icomoon {
    position: relative;
    top: 1px;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 3px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icomoon-forward:before {
    content: "\e600";
}
.icomoon-reply:before {
    content: "\e601";
}
.icomoon-like:before {
    content: "\e602";
}
.icomoon-smile:before {
    content: "\e603";
}
.icomoon-image:before {
    content: "\f03e";
}
.icomoon-chevron-left:before {
    content: "\f053";
}
.icomoon-chevron-right:before {
    content: "\f054";
}