#loginpopupdiv{
    display:none;
    
    box-shadow: 1px 1px 7px #666;
    -moz-box-shadow: 1px 1px 7px #666;
    -webkit-box-shadow: 1px 1px 7px #666;

    -webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

div.fixed {	position:fixed;	top: 30%; left: 28%; z-index: 9999; display: none; }

#loginerror{ display: none; }
#remembermebox { margin-right:20px; }
