/* menu bar */
#unifiedAuthDetails {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    font-size: 11px;
}

#unifiedAuthDetails img {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    vertical-align: middle;
}
table#menubar{margin-top:8px;width:100%;border:1px solid #d0d4d7;text-align:left}

table#menubar .qm { }

table#menubar #qm0 { border: 0px; }

table#menubar .ipsign { text-align: right; padding-right: 1em; font-size: 11px; min-height: 24px; vertical-align: middle }
#useracct { margin: 4px 0; white-space: normal; }
#useracct span.group { display: inline-block; }

.useracct-lib-off, .useracct-lib-on, .useracct-wc-off, .useracct-wc-on { padding: 1px 0px 2px 22px; margin-right: 0.4em; line-height: 1.5em; cursor: help }
.useracct-wc-off, .useracct-wc-on { margin-left: 1em }
.useracct-lib-off, .useracct-lib-on { margin-left: 0.5em }
.useracct-wc-off, .useracct-lib-off { color: #455560 }
.useracct-wc-on { font-weight: bold; color: #409a3c }
.useracct-lib-on { font-weight: bold; color: #455560 }
.useracct-lib-off { background: url('../images/bg_icons_useracct.png') 0px 0px no-repeat }
.useracct-lib-on { background: url('../images/bg_icons_useracct.png') 0px -100px no-repeat }
.useracct-wc-off { background: url('../images/bg_icons_useracct.png') 0px -200px no-repeat }
.useracct-wc-on { background: url('../images/bg_icons_useracct.png') 0px -300px no-repeat }
.signlink { color: #455560 }
.signlink a { white-space: nowrap }

#banner-cont { background: #fff url('../images/bg_banner_cont.png') repeat-y; padding: 0.5em; min-width: 828px; min-height: 72px; height: auto !important; height: 72px; }
#brand-cont { float: left; width: 250px; }

#banner-cont-local { background: #333366; padding: 0.5em; min-width: 828px; min-height: 72px; height: auto !important; height: 72px; overflow: auto; }
#brand-cont-local { float: left; width: 275px; }
#brand-cont-local img { max-width: 275px; }
#brand-cont-local span#title {display: block; font-weight: bold; margin: 5px 0 10px 0;}
#bd { clear: both; }

#search-cont { margin-left: 275px; background: #fff url('../images/bg_search_cont.png') repeat-x; padding: 0.5em; border-top: 1px solid #fafafa; border-right: 1px solid #b7b8b9; border-bottom: 1px solid #8f9192; border-left: 1px solid #f0f2f2; }
#search-cont-local { margin-left: 300px; background: #fff url('../images/bg_search_cont.png') repeat-x; padding: 0.5em; border-top: 1px solid #fafafa; border-right: 1px solid #b7b8b9; border-bottom: 1px solid #8f9192; border-left: 1px solid #f0f2f2; }


 
form#wcsrch {  }
form#wcsrch legend { display: none }
form#wcsrch fieldset { margin: 0; padding: 0 1px 1px 0; border: none }

.wcsrch-txt-cont { float: left; width:78%;}
.wcsrch-btn-cont {float: left;  margin-left: 12px;}
.wcsrch-txt-cont input {padding: 4px 2px;width: 100%;}
.wcsrch-btn-cont input { height: 30px; border: 1px outset #ccc; margin: 0; padding: 0 8px; font-size: 14px; font-weight: bold; color: #fff; background: #353637 url('../images/bg_btn_search.png') 0px 0px repeat-x; }
.wcsrch-btn-cont input:hover { background: #5d5e5f url('../images/bg_btn_search.png') 0px -60px repeat-x }
.wcsrch-btn-cont input:active { background: #8f9093 url('../images/bg_btn_search.png') 0px -120px repeat-x }



.scopesummary{display:block;padding:5px 0;margin-bottom:-5px;font-size:11px;line-height:1.3em;color:#131c24;}
.scopesummary select#scope-format,.scopesummary select#scope-inst{font-size:11px;margin:0 3px}
.scopesummary a{white-space:nowrap}
.scopesummary a,.scopesummary a:visited{color:#36444e}
.scopesummary a:hover{color:#ff7600}
.scopesummary a.fal{border-left:1px solid #D0D4D7;margin-left:6px;padding-left:8px;}
.scopesummary span.dbhint { border-bottom: 1px dashed #a2aaaf; white-space: nowrap; cursor: help; }
.scopesummary span.sep { color: #a2aaaf; padding: 0 0.6em }


