/* replaces modals_jquery_local.css */

/*
	JQuery modal dialog
	Minified version of http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css
*/

/*
WIDTH CLASSES
dialog width = desired width - 28px
*/
.ui-dialog .w420{width:392px !important}
.ui-dialog .w450{width:424px !important}
.ui-dialog .w660{width:632px !important}
.ui-dialog .w800{width:772px !important}
.ui-dialog .ui-widget{font-family:'Arial Unicode MS',Arial,Verdana,sans-serif;font-size:13px}
.ui-dialog{overflow:hidden;padding:0;position:absolute;width:auto !important;box-shadow:0 1px 2px #7c888f;-moz-box-shadow:0 1px 2px #7c888f;-webkit-box-shadow:0 1px 2px #7c888f;filter:progid:DXImageTransform.Microsoft.Shadow(color='#7c888f',direction=135,strength=1)}

/* default modal header colors -- overruled by Local style with !important */
.ui-dialog .ui-widget-header{background-color:#455560;color:#ffffff}

.ui-dialog .ui-widget-header{font-size:12px;font-weight:bold;line-height:15px;border-style:solid;border-width:0 0 1px 0;border-color:#7c888f;background-image:url('../images/bg_modal_gradient_24bit.png');_background-image:none;background-repeat:repeat-x;-webkit-border-bottom-right-radius:0px !important;-webkit-border-bottom-left-radius:0px !important;-moz-border-radius-bottomright:0px !important;-moz-border-radius-bottomleft:0px !important;border-bottom-right-radius:0px !important;border-bottom-left-radius:0px !important}
.ui-dialog .ui-widget-header .ui-icon,
.ui-dialog .ui-widget-header .ui-state-hover .ui-icon
{background-image:url('../images/bg_modals_closebtn.png') !important;background-repeat:no-repeat;*position:relative;*top:-1px}
.ui-dialog .ui-widget-header .ui-icon{background-position:0px 0px}
.ui-dialog .ui-widget-header .ui-state-hover .ui-icon{background-position:0px -30px}
.ui-dialog .ui-dialog-titlebar{padding:6px !important;text-align:left;position:relative;border-style:solid;border-width:1px 1px 0 1px;border-color:#7c888f}
.ui-dialog span.ui-dialog-title{margin:0;padding:1px 0 1px 24px;background-image:url('../images/bg_modals_wcmark_24bit.png');background-repeat:no-repeat;background-color:transparent;*background:none;*padding-left:4px}
.ui-dialog .ui-dialog-titlebar-close{width:19px;padding:1px;position:absolute;right:4px;top:3px;*top:7px}
.ui-dialog .ui-dialog-titlebar-close span{height:18px;display:block;margin:1px}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:1px}
.ui-dialog .ui-icon{display:block;overflow:hidden;cursor:pointer;text-indent:-99999px}
.ui-dialog .ui-widget-content,.ui-dialog .ui-dialog-content{background:#fff;border:none;color:#000;width:auto;height:auto !important}
.ui-dialog .ui-dialog-content{overflow:hidden;padding:8px 12px;text-align:left;zoom:1;border-style:solid;border-width:1px;border-color:#7c888f}
.ui-dialog .ui-draggable .ui-dialog-titlebar{cursor:move}
.ui-dialog .ui-corner-all{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.ui-dialog .ui-helper-clearfix{display:block}

/* for dialog, and set modal true */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #aaaaaa url(../images/bg_modal_gradient_24bit.png) 50% 50% repeat-x; opacity: .3;filter:Alpha(Opacity=30); }

/* for menu */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

/* jQuery UI autocomplete */

.ui-autocomplete-input{padding:2px 24px 2px 4px;border:1px solid #a2aaaf;background:#ffffff url('../images/bg_srchinput_autocomp.png') right -2px no-repeat;box-shadow:inset 1px 1px 2px #dadddf;-moz-box-shadow:inset 1px 1px 2px #dadddf;-webkit-box-shadow:inset 1px 1px 2px #dadddf}
.ui-autocomplete-input:focus{border-color:#7c888f;outline:none;background-position:right -27px;box-shadow:inset 1px 1px 2px #c7cccf;-moz-box-shadow:inset 1px 1px 2px #c7cccf;-webkit-box-shadow:inset 1px 1px 2px #c7cccf}
.ui-autocomplete{cursor:default;position:absolute}
.ui-autocomplete.ui-widget-content{background:#ffffff;border:1px solid #7c888f}
.ui-autocomplete.ui-menu{display:block;float:left;list-style:none;margin:0;padding:0 1px;box-shadow:1px 1px 2px -1px #455560;-moz-box-shadow:1px 1px 2px -1px #455560;-webkit-box-shadow:1px 1px 2px -1px #455560;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color='#dadddf',Positive='true')}
.ui-autocomplete.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%}
.ui-autocomplete.ui-menu .ui-menu-item a{display:block;padding:2px 8px;color:#000000;text-decoration:none;zoom:1;line-height:1.3em;font-weight: bold;}
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-hover,.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-active{background:#e3e6e7;color:#000000;font-weight:bold}
.ui-autocomplete.ui-menu .ui-menu{margin-top:-3px}
.ui-autocomplete-term{font-weight: normal; color: #000000}

/* default font size */
.ui-widget .ui-autocomplete-input,
.ui-autocomplete.ui-menu .ui-menu-item a{font-size:13px}

/* small font size */
.ui-widget.small .ui-autocomplete-input,
.ui-widget.small .ui-autocomplete.ui-menu .ui-menu-item a,.ui-widget.small label{font-size:11px}
.ui-widget.small .ui-autocomplete-input{background-position:right -3px}
.ui-widget.small .ui-autocomplete-input:focus{background-position:right -28px}

/* large font size */
.ui-widget.large .ui-autocomplete-input,
.ui-widget.large .ui-autocomplete.ui-menu .ui-menu-item a,.ui-widget.large label{font-size:16px}
.ui-widget.large .ui-autocomplete-input{font-weight:bold}
.ui-widget.large label{padding-right:3px}
.ui-widget.large .ui-autocomplete-input{background-position:right 0px}
.ui-widget.large .ui-autocomplete-input:focus{background-position:right -25px}

