body { font-family: 'Arial Unicode MS', Arial, Verdana, sans-serif; text-align: left }

span.link, span.control-link{color:#333333;text-decoration:underline}
span.link:hover, span.control-link:hover{color:#cc9900}
span.control-link{font-weight:normal;font-size:11px}

div#hd { min-width: 840px; }


/* Alerts */

/* minimum heights: IE7 needs 'height: #px'; FF needs min-height: #px !important */

.al-err, .al-con, .al-imp, .al-inf, al-fav, .la-al-err, .la-al-con, .la-al-imp, .la-al-inf, .la-al-fav { clear: both; background: #fff; display: block; text-align: left; white-space: normal; }
.al-err pre, .al-imp pre, .la-al-err pre, .la-al-imp pre {display: inline; padding: 0 0.3em; color: #455560}
.al-err, .al-con, .al-imp, .al-inf, .al-fav { min-height: 28px; height: auto !important; height: 28px; padding: 6px 14px 6px 44px; margin: 8px 0; font-size: 12px; line-height: 1.3em }
.la-al-err, .la-al-con, .la-al-imp, .la-al-inf, .la-al-fav { min-height: 20px; height: auto !important; height: 20px; margin: 6px 0; font-size: 11px; padding: 4px 10px 4px 32px; line-height: 1.2em }
.al-err p, .al-con p, .al-imp p, .al-inf p, al-fav p { line-height: 1.3em; margin: 0; }
.la-al-err p, .la-al-con p, .la-al-imp p, .la-al-inf p, .la-al-fav p { line-height: 1.2em; margin: 0; }
.al-err p, .al-con p, .al-imp p, .al-inf p, .al-fav p { padding: 0 0 8px 0 !important; }
.la-al-err p, .la-al-con p, .la-al-imp p, .la-al-inf p, .la-al-fav p { padding: 0 0 6px 0 !important; }
.al-err, .la-al-err { border: 1px solid #e31e26 !important; color: #e30e17; }
.al-err { background: #fff url('../images/bg_alerts.png') 0px -1000px no-repeat; }
.la-al-err { background: #fff url('../images/bg_alerts.png') 0px 0px no-repeat; }
.al-con, .la-al-con { border: 1px solid #69ad45 !important; color: #307f09; }
.al-con { background: #fff url('../images/bg_alerts.png') 0px -1250px no-repeat; }
.la-al-con { background: #fff url('../images/bg_alerts.png') 0px -250px no-repeat; }
.al-imp, .la-al-imp { border: 1px solid #f58220 !important; color: #d36011; }
.al-imp { background: #fff url('../images/bg_alerts.png') 0px -1500px no-repeat; }
.la-al-imp { background: #fff url('../images/bg_alerts.png') 0px -500px no-repeat; }
.al-inf, .la-al-inf { border: 1px solid #1d95d3 !important; color: #026eab; }
.al-inf { background: #fff url('../images/bg_alerts.png') 0px -1750px no-repeat; }
.la-al-inf { background: #fff url('../images/bg_alerts.png') 0px -750px no-repeat; }
.al-fav, .la-al-fav { color: #455560; border: 1px solid #e48d90 !important; }
.al-fav { background: #fdf3f4 url('../images/bg_alert_favlib.gif') 0px -250px no-repeat;  }
.la-al-fav { background: #fdf3f4 url('../images/bg_alert_favlib.gif') 0px 0px no-repeat;  }
.al-err a, .al-err a:hover, .al-err a:visited, .la-al-err a, .la-al-err a:hover, .la-al-err a:visited { color: #e30e17 !important; white-space: nowrap }
.al-con a, .al-con a:hover, .al-con a:visited, .la-al-con a, .la-al-con a:hover, .la-al-con a:visited { color: #307f09 !important; white-space: nowrap }
.al-imp a, .al-imp a:hover, .al-imp a:visited, .la-al-imp a, .la-al-imp a:hover, .la-al-imp a:visited { color: #d36011 !important; white-space: nowrap }
.al-inf a, .al-inf a:hover, .al-inf a:visited, .la-al-inf a, .la-al-inf a:hover, .la-al-inf a:visited { color: #026eab !important; white-space: nowrap }
.al-fav a, .al-fav a:hover, .al-fav a:visited, .la-al-fav a, .la-al-fav a:hover, .la-al-fav a:visited { color: #455560 !important; white-space: nowrap }
.al-err ul, .al-con ul, .al-imp ul, .al-inf ul, .al-fav ul, .la-al-err ul, .la-al-con ul, .la-al-imp ul, .la-al-inf ul { list-style: outside disc !important; margin: 0 !important; padding: 0 0 0 18px !important }
.al-err li, .al-con li, .al-imp li, .al-inf li, al-fav li, .la-al-err li, .la-al-con li, .la-al-imp li, .la-al-inf li { padding: 0 !important; margin: 0  !important; line-height: 1.2em }
.al-err ul li, .la-al-err ul li { color: #e30e17 !important; }
.al-con ul li, .la-al-con ul li { color: #307f09 !important; }
.al-imp ul li, .la-al-imp ul li { color: #d36011 !important; }
.al-inf ul li, .la-al-inf ul li { color: #026eab !important; }

.err-hilite { border: 1px solid #ff0000 !important; }
.err-select-hilite { border: 1px solid #ff0000 !important; padding: 1px; width: auto; }

ul.inlinelinks { list-style-type: none; padding: 0; margin: 0 }
ul.inlinelinks li { display: inline; padding: 0 6px 0 10px; border-left: 1px solid #d0d4d7 }
ul.inlinelinks li:first-child { border: none; padding: 0 6px 0 0; }




/* Miscellaneous */

input { padding: 0 2px }
input { margin:-1px 0px; }      /* all browsers read this, used to target IE6 */
html>body input { margin: 0px; }       /* IE 6 cannot read this, others can */
*+html>body input { margin: -1px; }      /* targets IE7 */

div.clear, div.clr { clear: both; height: 0; margin: 0; line-height: 0; font-size: 1px; }
span.pipe { color: #a2aaaf; padding: 0 0.5em }

/* downpage, new window links */
a.downpage,a.downpage:hover,a.downpage:active,a.newwin,a.newwin:hover,a.newwin:active{padding:0 0 0 12px;background-image:url('../images/bg_linktype.png');background-repeat:no-repeat}
a.downpage,a.downpage:hover,a.downpage:active{background-position:0px 0px}
a.newwin,a.newwin:hover,a.newwin:active{background-position:0px -100px}

/* PAGE LINK COLORS */
a.downpage,a.newwin{background-color:#333333; color:#333333; font-size: 11px; white-space: nowrap;}
a.downpage:visited,a.newwin:visited{background-color:#cc9900; color:#cc9900}
a.downpage:hover,a.newwin:hover{background-color:#cc9900; color:#cc9900}
a.downpage:active,a.newwin:active{background-color:#333333; color:#333333}
a.downpage:visited:hover,a.newwin:visited:hover{background-color:#cc9900; color:#cc9900}

/* Similar links */
ul#more-like-this li{display:inline;margin-right:14px}

/* library spotlight */
#libspot-cont{float:right;width:178px;margin:0 0 8px 20px}
#libspot{padding:8px 0;background:#eceeef url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_libspotlight.png') 10px 10px no-repeat}
#libspot ul li span.st-loc,#libspot p.tout,#libspot h2 span.det-loc,#libspot ul li span.dx,#libspot ul li.findmore a{font-size:11px;line-height:14px}
#libspot h2,#libspot p.det-loc{margin:0 0 4px 44px;color:#313e48}
#libspot h2,#libspot ul li.findmore a{font-weight:bold}
#libspot h2 span.det-loc,#libspot ul li span.st-loc,#libspot ul li span.dx{display:block}
#libspot h2{font-size:13px}
#libspot ul{width:160px;height:220px;margin:0 auto;margin-top:14px;padding:0;background:#fff;border:1px solid #c7cccf;overflow:auto}
#libspot ul li{list-style-type:none;margin:0;padding:8px;font-size:12px;line-height:15px;border-bottom:1px dotted #c7cccf}
#libspot ul li.findmore{border-bottom:none}
#libspot h2 span.det-loc{font-weight:normal}
#libspot ul li span.dx{color:#357a30}
#libspot p.tout,#libspot p.tout a{color:#6a7780}
#libspot p.tout{margin:10px 10px 0}

#spotlightload{

    padding:0 0 0 90px;
    background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/spinner.gif') center bottom no-repeat;
    text-align:left;
    font-size:11px;
    color:#357a30;
    width:20px;
    margin-left: -68px;

}

#lexile-load{

    padding:0 0 0 175px;
    background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/spinner.gif') center bottom no-repeat;
    text-align:left;
    width:20px;
    margin-left: -150px;

}

span.hovertxt { border-bottom: 1px dashed #a2aaaf; cursor: help; }

.inline-search { margin-top: 0.8em; padding: 2px 8px 4px 28px; border: 1px solid #e3e6e7; background: #fff url('../images/bg_inline_search.png') no-repeat }
.inline-search form label { font-size: 11px; color: #455560; padding: 0; margin: 2px 0 0 0; position: relative; top: -1px }
.inline-search form input.submit { display: inline; font-size: 11px }
form#journalSearch label { display: block; line-height: 1.2em; padding: 2px 0; }

/* Containers */

#record-cont { border: 1px solid #ccc; margin: 10px 0; padding: 6px 14px; background: #fff url('../images/bg_record_cont.png') repeat-x; min-width: 810px }
#bib-cont { margin: 14px 0 }
#bib-cont #cover { width: 152px }
#bib-cont #cover img.cover { font-size: 11px; color: #7c888f; }
#side-cont, #main-cont { margin: 0 0 10px 0; padding: 0; }
#main-cont { }


/* Expand-collapse containers */

.showMoreLessControlElement { cursor: hand; cursor: pointer; outline: 0; }
.showMoreLessControlElement img { margin-right: 3px }

.expanded-control {  }
.expanded-content{padding: 1em 1.3em 0.6em 1.3em} 
.expanded-content-nopad { padding: 0 0 0.6em 0 }
.contracted-control {  }
.contracted-content {  }

.showMoreLessBox-dark, .showMoreLessBox-grey, .showMoreLessBox-lite, .showMoreLessBox-local { border: 1px solid #c7cccf; padding: 0; margin: 0 0 0.7em 0; background: #fff }
.showMoreLessBox-dark-content-expanded, .showMoreLessBox-grey-content-expanded, .showMoreLessBox-lite-content-expanded, .showMoreLessBox-local-content-expanded { border-top: 1px solid #c7cccf; background: #fff }

.showMoreLessBox-dark h2, .showMoreLessBox-grey h2, .showMoreLessBox-lite h2, .showMoreLessBox-local h2 { margin: 0; padding: 3px 6px 4px 6px; font-size: 16px; font-weight: bold;  }

.showMoreLessBox-dark h2 { color: #fff; background: #465661 url('../images/bg_showmorelessbox.png') 0px 0px repeat-x; }
.showMoreLessBox-dark h2:hover { background: #586770 url('../images/bg_showmorelessbox.png') 0px -100px repeat-x; }
.showMoreLessBox-dark h2:active { background: #96a0a5 url('../images/bg_showmorelessbox.png') 0px -200px repeat-x; }

.showMoreLessBox-grey h2 { color: #455560; background: #d0d4d7 url('../images/bg_showmorelessbox.png') 0px -300px repeat-x; }
.showMoreLessBox-grey h2:hover { background: #d9dddf url('../images/bg_showmorelessbox.png') 0px -400px repeat-x; }
.showMoreLessBox-grey h2:active { background: #f9f9fa url('../images/bg_showmorelessbox.png') 0px -500px repeat-x; }

.showMoreLessBox-lite h2 { color: #455560; background: #d0d4d7 url('../images/bg_showmorelessbox.png') 0px -600px repeat-x; }
.showMoreLessBox-lite h2:hover { background: #d9dddf url('../images/bg_showmorelessbox.png') 0px -700px repeat-x; }
.showMoreLessBox-lite h2:active { background: #f9f9fa url('../images/bg_showmorelessbox.png') 0px -800px repeat-x; }

.showMoreLessBox-socutil { border: 1px solid #ffd6b2; }
.showMoreLessBox-socutil h4 { margin: 0; padding: 3px 6px 4px 6px; font-size: 13px; font-weight: bold; color: #455560; background: #fff1e5 url('../images/bg_showmorelessbox.png') 0px -900px repeat-x; }
.showMoreLessBox-socutil h4:hover { background: #fff3e9 url('../images/bg_showmorelessbox.png') 0px -1000px repeat-x; }
.showMoreLessBox-socutil h4:active { background: #fff url('../images/bg_showmorelessbox.png') 0px -1100px repeat-x; }
.showMoreLessBox-socutil-content-expanded { border-top: 1px solid #ffd6b2; background: #fff1e5 }

.showMoreLessBlock span { font-size: 11px; color: #455560 }

.showMoreLessInline span { font-size: 11px; text-decoration: underline; color: #034ea2; white-space: nowrap; padding-left: 0.3m; cursor: pointer }
.showMoreLessInline span:hover { color: #ff7600 }
.showMoreLessInline p { margin: 0 0 1em 0; padding: 0 }

.showMoreLocalAvail .link {  }
.showMoreLocalAvail .link span { font-weight: bold; color: #034ea2; text-decoration: underline; cursor: pointer }
.showMoreLocalAvail .link span:hover { color: #ff7600 }
.showMoreLocalAvail .display { display: none }






#main-cont h3 { margin: 10px 0; padding-top: 8px; border-top: 1px dotted #8f99a0; font-size: 13px; font-weight: bold; }
#main-cont h3 span.count { font-weight: normal; padding-left: 6px; white-space: nowrap }


/* utility and social bar links */

#util-cont { text-align: right; font-size: 11px }
#util-back { float: left; padding-top: 2px }
#util-links {  }
#util-links ul { float: right; list-style-type: none; margin: 0 0 6px 0; padding: 0; }
#util-links li { display: inline; margin-right: 14px; white-space: nowrap; }
#util-links li a, #soc-links li a { color: #455560; line-height: 16px }
#util-links li a:hover, #soc-links li a:hover { color: #ff7600 }

#util-links li a.cite, #util-links li a.pr, #util-links li a.sms, #util-links li a.em, #util-links li a.ask, #util-links li a.list, #util-links li a.sh, #util-links li a.pl, #util-links-cr a.plcr, #soc-links li a.rev, #soc-links li a.list, #soc-links li a.tag { padding: 1px 0 3px 22px !important;}
#util-links-cr a.plcr {margin-right: 12px; padding: 1px 0 3px 22px !important;}

#util-links li a.cite { background: url('../images/bg_icons_util_soc.png') 0px 0px no-repeat; margin-right: 0px }
#util-links li a.pr { background: url('../images/bg_icons_util_soc.png') 0px -100px no-repeat; }
#util-links li a.sms { background: url('../images/bg_icons_util_soc.png') 0px -200px no-repeat; }
#util-links li a.em { background: url('../images/bg_icons_util_soc.png') 0px -300px no-repeat; }
#util-links li a.sh { background: url('../images/bg_icons_util_soc.png') 0px -400px no-repeat; }
#util-links li a.pl { background: url('../images/bg_icons_util_soc.png') 0px -500px no-repeat; }
#util-links-cr a.plcr { background: url('../images/bg_icons_util_soc.png') 0px -500px no-repeat; }

#util-links li a.ask { background: url('../images/bg_icons_util_soc.png') 0px -600px no-repeat; }
#util-links li a.list { background: url('../images/bg_icons_util_soc.png') 0px -700px no-repeat; margin-right: 0px }

#soc-cont { margin-top: 4px; padding: 2px 8px 4px 8px; border: 1px solid #ffd6b2; background: #fff1e5 url('../images/bg_gradients.png') 0px -600px repeat-x; text-align: left; font-size: 11px }
#soc-links { }
#soc-links ul { list-style-type: none; margin: 1px 0 2px 0; padding: 0; }
#soc-links li { display: inline; margin-right: 18px; white-space: nowrap; color: #455560 }
#soc-links li a.rate { padding-left: 4px }
#soc-links li a.rev { background: url('../images/bg_icons_util_soc.png') 0px -800px no-repeat; }
#soc-links li a.list { background: url('../images/bg_icons_util_soc.png') 0px -900px no-repeat; }
#soc-links li a.tag { background: url('../images/bg_icons_util_soc.png') 0px -1000px no-repeat; }
#soc-links span.soc-status { color: #ff7600; padding-left: 0.5em; white-space: nowrap }
#soc-links span.soc-status a, #soc-links span.soc-status a:hover, #soc-links span.soc-status a:visited { color: #ff7600 }
#soc-links ul li ul#ratingStarList-socbar.rating-small { clear: none; margin: 3px 0 0 0;}
#soc-links ul li ul#ratingStarList-socbar { display: inline }

#soc-links li span.star0 { padding-left: 70px; background: url('../images/rating_00_ltbg.gif') no-repeat; }
#soc-links li span.star1 { padding-left: 70px; background: url('../images/rating_01_ltbg.gif') no-repeat; }
#soc-links li span.star2 { padding-left: 70px; background: url('../images/rating_02_ltbg.gif') no-repeat; }
#soc-links li span.star3 { padding-left: 70px; background: url('../images/rating_03_ltbg.gif') no-repeat; }
#soc-links li span.star4 { padding-left: 70px; background: url('../images/rating_04_ltbg.gif') no-repeat; }
#soc-links li span.star5 { padding-left: 70px; background: url('../images/rating_05_ltbg.gif') no-repeat; }

#util-cite-cont { border: 1px solid #d0d4d7; margin: 0 0.7em }
#util-cite-cont span.accordprefix { display: block; float: left; position: relative; width: 12px; height: 12px; margin: 0 5px 0 0; }
.showhide-cite-cont { margin: 0; padding: 4px 8px; background: #fff; border-bottom: 1px solid #d0d4d7;}
.showhide-cite-link { margin: 0; padding: 0.2em 0.4em; border-bottom: 1px solid #d0d4d7; cursor: pointer; background: #ebeded url('../images/bg_gradients.png') 0px -700px repeat-x; font-size: 11px; color: #455560 }
.showhide-cite-link:hover { color: #ff7600; background: #f1f2f2 url('../images/bg_gradients.png') 0px -800px repeat-x; }
.showhide-cite-link:active { background: #fafbfb url('../images/bg_gradients.png') 0px -900px repeat-x; }
.citation-txt { height: 60px; white-space: normal; overflow: auto; margin-top: 4px; border: 1px solid #6a7780; padding: 3px 6px; line-height: 1.2em }


/* bib record */

#bib-cont {  }
#bib-cont #bibdata table { margin-bottom: 10px; }
#bib-cont #bibdata table th, #bib-cont #bibdata table td { vertical-align: top; padding-bottom: 8px }
#bib-cont #bibdata table th { font-size: 12px;font-weight:normal; color: #455560; background: none; padding-right: 14px }
#bib-cont #bibdata table td { font-size: 13px; }
#bib-cont #bibdata table td a.vieweditions { font-size: 11px; white-space: nowrap; margin-left: 14px }
#bib-cont #bibdata h1 { font-size: 150%; font-weight: bold; line-height: 1.2em; margin-bottom: 10px }
#bibdata, #similarlinks { text-align: left }

#bib-cont #cover { float: left; text-align: center; margin: 0 1.5em 0 0; padding: 0; }
#bib-cont #cover img.cover { border: 1px solid #dadddf }
#cover a.preview { display: block; border: outset 1px #c7cccf; text-align: center; font-size: 14px; font-weight: bold; color: #455560; background: #d1d5d8 url('../images/bg_buttons1.png') 0px -400px repeat-x; cursor: pointer; margin-top: 0.5em; padding: 0.2em 0.4em 0.3em 0.4em; text-decoration: none }
#cover a.preview:hover { color: #455560; background: #dde0e2 url('../images/bg_buttons1.png') 0px -460px repeat-x; }
#cover a.preview:active { color: #455560; background: #fefefe url('../images/bg_buttons1.png') 0px -520px repeat-x; }
#item-preview-sub ul { margin: 1em }
#item-preview-sub ul li { font-size: 11px; color: #6a7780; line-height: 1.2em; margin-bottom: 0.5em}
#item-preview-sub ul li img { margin: 0; padding: 0; }
#item-preview-sub ul li a { font-weight: bold;  }




#bib-cont #similarlinks h2 { padding-bottom: 3px; font-size: 13px; font-weight: bold; color: #36444e; border-bottom: 1px dotted #c7cccf }
#bib-cont #similarlinks { float: right; width: 180px; margin: 0 0 0 20px; padding: 8px 0 8px 14px; border-left: 1px dotted #ccc }
#bib-cont #similarlinks h3 { font-size: 11px; font-weight: bold; color: #455560; line-height: 1.1em; margin: 12px 0 4px 0; }
#bib-cont #similarlinks ul { margin: 0 0 0 12px }
#bib-cont #similarlinks ul li { font-size: 11px; line-height: 1.2em; margin: 0 0 10px 0 }
#bib-cont #similarlinks ul li a { font-weight: normal }
#bib-cont #bibdata { padding: 0 210px 0 165px; }


p.rating { font-size: 11px; color: #7c888f; padding-top: 2px; }
p.rating a { margin-left: 14px; white-space: nowrap }
p.rating span { padding-left: 70px; }
p.rating span.star0 { background: url('../images/rating_00_ltbg.gif') no-repeat; }
p.rating span.star1 { background: url('../images/rating_01_ltbg.gif') no-repeat; }
p.rating span.star2 { background: url('../images/rating_02_ltbg.gif') no-repeat; }
p.rating span.star3 { background: url('../images/rating_03_ltbg.gif') no-repeat; }
p.rating span.star4 { background: url('../images/rating_04_ltbg.gif') no-repeat; }
p.rating span.star5 { background: url('../images/rating_05_ltbg.gif') no-repeat; }


/* get this zones */

#getthis h2.getthis { font-size: 18px; font-weight: bold; margin-bottom: 0.3em }
#getitjump { float: right; font-size: 11px; margin-top: -30px }
#getitjump a.borrow, #getitjump a.buyit { margin-left: 2em }

#ipstatus span { display: block }
#ipstatus span a, #ipstatus span a:visited { font-size: 11px; }

#showLocalSvcs { clear: both; border: 1px solid #9fcc9d; background: #fff url('../images/bg_localsvcs.png') top left no-repeat; padding: 6px 14px 6px 40px; margin-bottom: 1em }
#showLocalSvcs p { color: #2b7f27; margin-bottom: 2px }
#showLocalSvcs .showMoreLessControlElement {  }
#showLocalSvcs .showMoreLessControlElement span { font-size: 11px; font-weight: normal; color: #455560 }
#showLocalSvcs .showMoreLessControlElement span:hover { color: #ff7600 }
#showLocalSvcs .showMoreLessContentElement {  }
#showLocalSvcs ul { list-style-type: none; padding: 0; margin: 0; line-height: 1.3em !important  }
#showLocalSvcs ul li { display: inline; padding: 0 6px 0 10px; border-left: 1px solid #d0d4d7; }
#showLocalSvcs ul li:first-child { border: none; padding: 0 6px 0 0; }
#showLocalSvcs li a { margin: 0; font-size: 13px !important; font-weight: bold; white-space: nowrap }

#libslocator { background: #f2f3f4; border: 1px solid #d0d4d7; padding: 0.4em 0.6em 0.6em 0.6em }
#libslocator form .loc-entry { float: left; padding-top: 0.5em }
#libslocator form label.enterloc { font-size: 15px; font-weight: bold; margin-right: 0.5em }
#libslocator form input.loc { font-size: 15px; padding: 2px; margin-right: 0.3em }
#libslocator form .ip-select { float: left; display: inline; margin-left: 2em }
#libslocator form .ip-select label.selectloc { font-size: 11px; font-weight: bold; display: block; margin-bottom: 2px }
#libslocator form .ip-select select { margin-left: 0; padding-left: 0 }

#viewonline table, #wclibs table, #buyit table, table.viewonline, table.viewonline-sub, table.avail { clear: both; margin: 1em 0; border-top: 1px solid #d0d4d7; border-left: 1px solid #d0d4d7; border-right: none; border-bottom: none }
#viewonline table, #wclibs table, #buyit table { width: 100%; }
#viewonline table, #buyit table { margin: 0.3em 0; }
#wclibs table { margin: 0 0 0.3em 0; }

.liblocal-cont table.viewonline, .libgroup-cont table.viewonline { width: 91%; margin-left: 3em }
.liblocal-cont table.viewonline-sub, .libgroup-cont table.viewonline-sub { width: 96%; margin-left: 0 }
.libgroupmember-cont table.viewonline, .libgroupmember-cont table.viewonline { clear: both; width: 91%; margin: 1em 0 0.5em 3em }
.libgroupmember-cont table.viewonline-sub, .libgroupmember-cont table.viewonline-sub { width: 96%; margin-left: 0 }

#viewonline table th, #viewonline table td, #wclibs table th, #wclibs table td, #buyit table th, #buyit table td, table.viewonline th, table.viewonline td, table.viewonline-sub th, table.viewonline-sub td, table.avail th, table.avail td { background: #fff; text-align: left; vertical-align: top; border-bottom: 1px solid #d0d4d7; border-right: 1px solid #d0d4d7;  }
#viewonline table th, #wclibs table th, #buyit table th, table.viewonline th, table.viewonline-sub th, table.avail th { font-size: 11px; font-weight: normal; line-height: 1.2em; padding: 3px 8px; color: #455560; }
#viewonline table td, #wclibs table td, #buyit table td, table.viewonline td, table.viewonline-sub td, table.avail td { padding: 0.4em 0.8em 0.6em 0.8em; line-height: 1.3em; vertical-align: middle }
#viewonline table td.link, #viewonline table td.descrip, table.viewonline td.link, table.viewonline td.descrip, table.viewonline-sub td.link, table.viewonline-sub td.descrip { vertical-align: top }
#viewonline table td.link { width: 60%; font-size: 15px }
table.viewonline td.link, table.viewonline-sub td.link { width: 60%; font-size: 13px }
#viewonline table td.link a, table.viewonline td.link a, table.viewonline-sub td.link a { font-weight: bold }
#viewonline table td.descrip, table.viewonline td.descrip, table.viewonline-sub td.descrip { font-size: 11px; color: #455560; padding-top: 0.8em; padding-bottom: 0.8em }

#wclibs table td.name a { font-weight: bold; padding: 2px 0 4px 0px }
#wclibs table td.name span.makefav { display: block; font-size: 11px; padding-left: 1em }
#wclibs table td.name span.makefav a { white-space: nowrap; font-weight: normal; color: #7c888f }
#wclibs table td.heldform { font-size: 11px; width:20%;}
#wclibs table td.heldform span.itemtype span { font-weight: bold }
#wclibs table td.heldform span.itemtype { line-height: 1.5em }
#wclibs table td.heldform a { white-space: nowrap }
#wclibs table td.dist { width: 15%; font-size: 13px }
#wclibs table td.dist a.lib-map-sm {text-decoration: none; background: url(../images/LibraryProfile/mapit-bg.gif) left no-repeat #eaeaea; color: #888; padding: 0 6px 0 8px;font-size: 10px; text-transform: uppercase;font-weight: normal;background-image: none;	padding: 0 6px 1px 6px;	-moz-border-radius:3px;	margin: 2px 0 0 0;}
#wclibs table td.dist a.lib-map-sm img {margin: 0 0 -1px 0;}
#wclibs table td.dist a.lib-map-sm:hover {background-color: #f60;color: #fff;}
#wclibs table td.actions  { width: 15% }
#wclibs table td.libsdisplay, #wclibs table td.libsshow, #wclibs table td.libspaginate { background: #f2f3f4; font-size: 11px; color: #455560 }
#wclibs table td.libsdisplay { text-align: left; border-right: none }
#wclibs table td.libsshow { text-align: right }
#wclibs table td.libspaginate { text-align: center }
#wclibs table td.libsdisplay a, #wclibs table td.libsshow a { margin: 0 2px; font-weight: bold; }
#wclibs table td.libspaginate ul { list-style-type: none }
#wclibs table td.libspaginate ul li { display: inline; margin: 0 0.4em }
#wclibs table td.libspaginate ul li span.quo { font-size: 14px }


#wclibs table td.actions a.favelib, #wclibs table td.actions a.info, #wclibs table td.actions a.favelib:visited, #wclibs table td.actions a.info:visited, #wclibs table td.actions a.lib-ask,#wclibs table td.actions a.lib-ask:visited, #wclibs table td.actions a.searchlib, #wclibs table td.actions a.searchlib:visited { display: block; white-space: nowrap; font-size: 11px; color: #455560; padding: 0 0 0 16px; margin: 0; line-height: 1.5em }
#wclibs table td.actions a.favelib { background: url('../images/bg_icons_actions.png') 0px -240px no-repeat; }
#wclibs table td.actions a.info { background: url('../images/bg_icons_actions.png') 0px -280px no-repeat; }
#wclibs table td.actions a.favelib:hover { padding: 0 0 0 16px; background: url('../images/bg_icons_actions.png') 0px -320px no-repeat; color: #ff0000 }
#wclibs table td.actions a.info:hover { padding: 0 0 0 16px; background: url('../images/bg_icons_actions.png') 0px -360px no-repeat; color: #2178b5 } 
#wclibs table td.actions a.lib-ask {background: url('../images/LibraryProfile/bg-icons-libraryprofile.png') no-repeat 0 -429px;}
#wclibs table td.actions a.lib-ask:hover {background-position:0 -485px;}
#wclibs table td.actions a.searchlib { background: url('../images/bg_icons_actions.png') 0px -397px no-repeat; }
#wclibs table td.actions a.searchlib:hover { background: url('../images/bg_icons_actions.png') 0px -437px no-repeat; color: #2178b5 }


#wclibs { margin-top: 1em }
#wclibs table td.name { width: 55%; font-size: 15px; font-weight: bold }
#wclibs table td.name p.lib, #wclibs table td.name p.favlib, #wclibs table td.name p.geoloc { padding: 0 0 0 28px; }
#wclibs table td.name p.lib, #wclibs table td.name p.favlib { margin: 0 0 2px 0 }
#wclibs table td.name p.geoloc { margin: 0 0 0 36px !important }
#wclibs table td.name p.count {float:left;font-size:11px;font-weight:normal;min-width:30px;width:auto !important;width:30px;}
#wclibs table td.name p.lib { background: url('../images/bg_icon_library.png') 0px 0px no-repeat }
#wclibs table td.name p.favlib { background: url('../images/bg_icon_library.png') 0px -100px no-repeat }
#wclibs table td.name p.geoloc { margin: 0; font-size: 14px; font-weight: normal }


#buyit table td.seller a { padding: 0 0 0 24px; font-size: 15px; font-weight: bold }
#buyit table td.seller a.am { background: url('../images/bg_buyit_sellers.png') 0px 0px no-repeat; }
#buyit table td.seller a.bn { background: url('../images/bg_buyit_sellers.png') 0px -100px no-repeat; }
#buyit table td.seller a.bw { background: url('../images/bg_buyit_sellers.png') 0px -200px no-repeat; }
#buyit table td.seller a.wc { background: url('../images/bg_buyit_sellers.png') 0px -300px no-repeat; }
#buyit table td.seller a.bl { background: url('../images/bg_buyit_sellers.png') 0px -400px no-repeat; }
#buyit table td.seller a.kb { background: url('../images/bg_buyit_sellers.png') 0px -500px no-repeat; }
#buyit table td.seller a.eod { background: url('../images/bg_buyit_sellers.png') 0px -600px no-repeat; }
#buyit table td.seller a.gg { background: url('../images/bg_buyit_sellers.png') 0px -700px no-repeat; }
#buyit table td.seller span { display: block; font-size: 11px; color: #455560; padding: 0; margin-left: 24px }

#buyit table td.seller, #buyit table td.price { vertical-align: top; padding-top: 0.5em; padding-bottom: 0.5em }
#buyit table td.seller { width: 75%; }
#buyit table td.price { width: 25%; }

/* Find a copy online -- new styles */
#ecopy h3,#ecopy form,#ecopy .links-856 {background:#f2f3f4}
#ecopy a{font-weight:bold}
#ecopy h3 {margin:0;padding:4px 8px;font-size:13px;color:#6a7780;padding-bottom:0.3em;border-bottom:1px dashed #d0d4d7;border-top:none}
#ecopy h4{display:inline-block;font-size:14px;margin:0px 12px 6px 12px}
#ecopy span.count{margin-left:0.3em;font-weight:normal;color:#455560}
#ecopy form fieldset{padding:8px 24px;margin-bottom:12px;border:none;}

/* OpenURL resolver button: Uses custom Local button colors */
#ecopy form input{margin:0 0 6px 0;padding:2px 4px;*padding:0px;background:#f8af31;color:#fff;float:left;font-weight:bold;font-size:13px;border:1px outset;cursor:pointer;}
#ecopy form input:active{border:1px inset}

#ecopy .links-856 {padding:8px 12px}
#ecopy .links-856 p{margin:0px 24px}
#ecopy form p{margin:0 12px}
#ecopy .links-856 p,#ecopy form p{clear:both;padding:4px 12px 4px 12px;min-height:36px;height:auto !important;height:38px;border-left:1px solid #e3e6e7;border-right:1px solid #e3e6e7;border-top:1px solid #e3e6e7;background:#fff;font-size:13px;}
#ecopy .links-856 p:first-child{border-top:1px solid #e3e6e7}
#ecopy .links-856 p.alt{background:#f6f6f7}
#ecopy .links-856 p span,#ecopy form p span{display:block;font-size:12px}
#ecopy .links-856 .showMoreLessControlElement{display:block;margin:0px 24px;padding:8px 0 8px 12px;background:#fff;border:1px solid #e3e6e7}

#ecopy .links-856 .showMoreLessContentElement{display:none;padding:0;margin:-1px 0 0 0;*margin:0px}
#ecopy #links-wc856 {padding-bottom:12px}
#ecopy #links-local856 .showMoreLessContentElement, #ecopy #links-wc856 .showMoreLessContentElement {display:none}



/* local results */


#borrow h3 { border: none; font-size: 16px; font-weight: bold; color: #000; padding: 0; margin: 0 0 8px 0 }

#borrow span.avail-link { font-size: 13px; font-weight: bold; padding-left: 4px; text-decoration: underline; }
#borrow span.avail-link-nopadding { font-size: 13px; font-weight: bold; text-decoration: underline; }
#borrow span.avail { color: #297729 ; }
#borrow span.notavail { color: #ff0000 }
#borrow span.summary { color: #131c24 }
.fulfillmentOnly { clear: both; font-size: 13px; font-weight: bold; margin-top: 6px; color: #409a3c; text-align: center}

.liblocal, .libgroup, .libglobal { clear: both; border-top: 1px dotted #c7cccf; padding: 0.6em 1em }
.liblocal-separation { clear: both; border-top: 1px dotted #c7cccf}
.libglobal { border-bottom: 1px dotted #c7cccf; }

.liblocal-cont, .libgroup-cont, .libgroupmember-cont, .libglobal-cont { margin: 0 0 1em 2em; padding-bottom: 1em; }
.liblocal-cont, .libgroup-cont, .libglobal-cont { background: #f6f6f7 }
.localmsg { margin: 0.5em 0; padding: 0.3em 0.6em; font-size: 14px; font-weight: normal }

.liblocal h3, .libgroup h3, .libglobal h3 { font-size: 16px; font-weight: bold; margin: 0 0 0.5em 0; padding: 0; }
.liblocal h3 a, .libgroup h3 a, .libglobal h3 a { text-decoration: none; }
.liblocal h3 a:hover, .libgroup h3 a:hover, .libglobal h3 a:hover { color: #000; }
.showMoreLocalAvail {  }
.showMoreLocalAvail .link { font-weight: bold; text-decoration: underline; color: #034ea2 }
.showMoreLocalAvail .link:hover { color: #ff7600 }
.showMoreLocalAvail .showMoreLessContentElement { margin-top: 0; padding-top: 0 }
.invisible-control { display: none }

.restype-rvtext { clear:both; font-size: 12px; padding:8px 0px 5px 30px; }
#div-library-collapsed { margin-bottom: 0px; }
#div-library-expanded { margin-bottom: 0px; }
#div-group-collapsed { margin-bottom: 0px; }
#div-group-expanded { margin-bottom: 0px; }

.restypehed, .restypehed-group { width: 99.5%; min-height: 28px; height: auto !important; height: 28px; padding: 2px; }
.restypehed { background: #e3e6e7 }
.restypehed-group { background: #f2f3f4; margin-top: 0.5em }
.restypehed h5, .restypehed-group h5 { margin: 0 200px 0 0; padding: 6px 0 4px 28px; font-size: 15px; font-weight: normal; color: #333; line-height: 1.1em; }
h5.restype-online { background: url('../images/bg_icons_restype2.png') 0px 0px no-repeat }
h5.restype-lib { background: url('../images/bg_icons_restype2.png') 0px -100px no-repeat }
h5.restype-libgrp { background: url('../images/bg_icons_restype2.png') 0px -200px no-repeat }
h5.restype-wcat { background: url('../images/bg_icons_restype2.png') 0px -300px no-repeat }
.restypehed-btn { float: right; margin-top: -26px; margin-right: 5px;}

.instaval { clear: both; padding: 0.6em 1em; margin: 0 0 0 3em }
.instaval .div-expand-collapse a {text-decoration:none;}
.instaval .showMoreLessBlock { margin: 0 0 0 3em; }
.instaval table { width: 100%; border-top: 1px solid #d0d4d7; border-left: 1px solid #d0d4d7; border-right: none; border-bottom: none; background: #fff; }
.instaval table th, .instaval table td { background: #fff; vertical-align: top }
.instaval table th, .instaval table td { font-size: 11px; line-height: 1.2em }
.instaval table th { padding: 3px 8px; color: #455560; border-bottom: 1px solid #d0d4d7; border-right: 1px solid #d0d4d7; }
.instaval table td.viewdetail { border-right: 1px solid #c7cccf; border-bottom: 1px solid #c7cccf; padding: 2px 8px }
.instaval .liblocal-btn { float: right; margin-right: 14px; margin-top: -44px; }
.instaval table th.grplib { background: #fff; font-size: 13px; font-weight: bold; color: #131c24; padding: 0.3em 0.6em; }
.instaval table td { padding: 6px 8px; color: #000; }
.instaval table td.loca, .instaval table td.call, .instaval table td.stat, .instaval table td.note { border-right: 1px solid #d0d4d7; border-bottom: 1px solid #d0d4d7 }
.instaval table td.loca-plus, .instaval table td.call-plus, .instaval table td.stat-plus, .instaval table td.note-plus { border-right: 1px solid #d0d4d7; border-bottom: 1px solid #fff }
.instaval table td.loca, .instaval table td.loca-plus { font-weight: bold; color: #455560 }
.instaval table td.loca, .instaval table td.loca-plus { width: 25% }
.instaval table td.call, .instaval table td.call-plus { width: 25% }
.instaval table td.stat, .instaval table td.stat-plus { width: 20% }
.instaval table td.avail { font-weight: bold; color: #297729; padding: 10px 8px 10px 30px; background: #fff url('../images/bg_icons_localavail.png') 0px 0px no-repeat;}
.instaval table td.viewdetail { border-right: 1px solid #c7cccf; border-bottom: 1px solid #c7cccf; padding: 2px 8px }
.instaval .liblocal-btn { float: right; margin-right: 14px; margin-top: -44px; }
.instaval span.avail {color:#297729;}
.instaval span.avail-link-nopadding {font-size:13px;font-weight:bold;text-decoration:underline;}
.instaval span.notavail {color:#FF0000;}
.instaval span.avail-link-nopadding {font-size:13px;font-weight:bold;text-decoration:underline;}

.liblocal-cont p.instrux { clear: both; padding: 0.5em 1em 0.5em 0; margin-left: 2em }
.libLocalAvail, .libGroupSummary, .libGroupAvail, .libGlobalLookup { clear: both; margin-left: 2em; padding-top: 1em; overflow: auto }

.liblocal .showMoreLessBlock, .libgroup .showMoreLessBlock { margin: 0 0 0 3em; }
.liblocal table, .libgroup table { width: 100%; border-top: 1px solid #d0d4d7; border-left: 1px solid #d0d4d7; border-right: none; border-bottom: none; background: #fff; }
.liblocal table th, .liblocal table td, .libgroup table th, .libgroup table td { background: #fff; vertical-align: top }
.liblocal table th, .liblocal table td, .libgroup table th, .libgroup table td { font-size: 11px; line-height: 1.2em }
.liblocal table th, .libgroup table th { padding: 3px 8px; color: #455560; border-bottom: 1px solid #d0d4d7; border-right: 1px solid #d0d4d7; }
.liblocal table td.viewdetail, .libgroup table td.viewdetail { border-right: 1px solid #c7cccf; border-bottom: 1px solid #c7cccf; padding: 2px 8px }

.liblocal .liblocal-btn, .libgroup .liblocal-btn, .libglobal .liblocal-btn { float: right; margin-right: 14px; margin-top: -44px; }
.libgroup .needmargin .liblocal-btn {margin-top: -30px;}
.libgroup .liblocal-lev2-btn { float: right; margin-right: 14px; margin-top: -30px; }

.libgroup table th.grplib, .liblocal table th.grplib { background: #fff; font-size: 13px; font-weight: bold; color: #131c24; padding: 0.3em 0.6em; }
.liblocal table td, .libgroup table td { padding: 6px 8px; color: #000; }
.liblocal table td.loca, .liblocal table td.call, .liblocal table td.stat, .liblocal table td.note,
.libgroup table td.loca, .libgroup table td.call, .libgroup table td.stat, .libgroup table td.note 
{ border-right: 1px solid #d0d4d7; border-bottom: 1px solid #d0d4d7 }
.liblocal table td.loca-plus, .liblocal table td.call-plus, .liblocal table td.stat-plus, .liblocal table td.note-plus, .libgroup table td.loca-plus, .libgroup table td.call-plus, .libgroup table td.stat-plus, .libgroup table td.note-plus  { border-right: 1px solid #d0d4d7; border-bottom: 1px solid #fff }
.liblocal table td.loca, .liblocal table td.loca-plus, .libgroup table td.loca, .libgroup table td.loca-plus { font-weight: bold; color: #455560 }
.liblocal table td.loca, .libgroup table td.loca, .liblocal table td.loca-plus, .libgroup table td.loca-plus { width: 25% }
.liblocal table td.call, .libgroup table td.call, .liblocal table td.call-plus, .libgroup table td.call-plus{ width: 25% }
.liblocal table td.stat, .libgroup table td.stat, .liblocal table td.stat-plus, .libgroup table td.stat-plus { width: 20% }
.liblocal table td.avail, .libgroup table td.avail { font-weight: bold; color: #297729; padding: 10px 8px 10px 30px; background: #fff url('../images/bg_icons_localavail.png') 0px 0px no-repeat;}

/* additions for display of locally-held similar editions */
.local-status-msg,.simeditions ul li span.auth,.simeditions{display:block}
.local-status-msg{clear:both}
.simeditions{margin:14px 0;padding:0 0 8px;border:1px solid #dadddf}
.libLocalAvail .simeditions{margin-left:1em;width: 96%;background:#ffffff}
.simeditions h4{margin:0 0 8px;padding:6px 8px;font-size:11px;font-weight:bold;color:#313e48;background:#eceeef;border-bottom:1px solid #dadddf}
.simeditions ul{margin:0 14px;padding:0 0 8px}
.simeditions ul li{margin:0 0 8px;padding-bottom:8px;border-bottom:1px dotted #a2aaaf}
.simeditions ul li.last{margin-bottom:0;padding-bottom:0;border:none}
.simeditions ul li a.title{font-size:13px;line-height:16px;font-weight:bold}
.simeditions ul li span.auth,.simeditions ul li span.pub{margin-left:20px;font-size:12px;line-height:16px}
.simeditions p.viewall{margin:14px 0 4px 14px;font-size:11px}
/* top results (new for ?) */
#div-topresults{clear:both;margin-top:8px}
#div-topresults.expand-box th{border-bottom:1px solid #cccccc}
#donerefinesearch .collapse-box th,#donerefinesearch .expand-box th{font-size:11px}
#donerefinesearch .collapse-box th a,#donerefinesearch .expand-box th a{padding:4px 12px 6px}
#topresults.table-results{width:100%;margin:0 !important;border:none !important}
#topresults.table-results td{padding:8px 0 8px 8px !important;*padding-bottom:0 !important;border-bottom:1px dotted #c4c3b0;background:#f0f2f3}
#topresults.table-results tr.last td{border-bottom:none}
#topresults.table-results td.coverart img{margin:0 4px 0 8px}
.newestedition{display:inline;margin-left:8px;padding:2px 8px 3px 14px;background:transparent url('../images/bg_newest_edition.png') no-repeat center left;font-size:11px;font-weight:bold;color:#ffffff;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;white-space:nowrap}


.localItemDetails { background: #fff url('../images/bg_diag_ltgrey.png') repeat; padding: 0.2em }
.localItemDetails .showMoreLessControlElement {  }
.localItemDetails .showMoreLessContentElement { margin: 0; padding: 0.5em }
.localItemDetails table { margin-bottom: 0; border: 1px solid #fff; }
.localItemDetails table td.loca { width: 24%; border-right: 1px dashed #c7cccf; border-bottom: 1px dashed #c7cccf  }
.localItemDetails table td.stat { width: 21%; border-right: 1px dashed #c7cccf; border-bottom: 1px dashed #c7cccf  }
.localItemDetails table td.call { width: 26%; border-right: 1px dashed #c7cccf; border-bottom: 1px dashed #c7cccf  }
.localItemDetails table td.note { border: none; border-bottom: 1px dashed #c7cccf }

#borrowlocal td.stat span.notavail { background: url('../images/bg_icons_localavail.png') -1400px 0px no-repeat }

/* WC Local dark and lite input buttons */
input.local-btndk, input.local-btnlt { width: 0; overflow: visible; /* IE width fix */ }
input.local-btndk, input.local-btnlt { border: 1px outset #b5bbbf; white-space: nowrap; padding: 0.25em 0.6em; font-size: 13px; font-weight: bold; cursor: pointer; text-align: left; width: auto }
/* Demo dark color: #333366 */
input.local-btndk { background: #333366 url('../images/bg_local_btndk.png') 0px -100px repeat-x; color: #fff }
input.local-btndk:hover { background: #333366 url('../images/bg_local_btndk.png') 0px -100px repeat-x; border: 1px solid #fff }
input.local-btndk:active { background: #333366 url('../images/bg_local_btndk.png') 0px 0px repeat-x }
/* Demo lite color: #ccc */
input.local-btnlt { background: #ccc url('../images/bg_local_btnlt.png') 0px 0px repeat-x; color: #000 }
input.local-btnlt:hover { background: #ccc url('../images/bg_local_btnlt.png') 0px 0px repeat-x; border: 1px solid #fff }
input.local-btnlt:active { background: #ccc url('../images/bg_local_btnlt.png') 0px -100px repeat-x; }

.liblocal table td.viewdetail, .libgroup table td.viewdetail { border-right: 1px solid #c7cccf; border-bottom: 1px solid #c7cccf; padding: 2px 8px }

.liblocal .liblocal-btn, .libgroup .liblocal-btn, .libglobal .liblocal-btn { float: right; margin-right: 14px; margin-top: -44px; }
.libgroup .needmargin .liblocal-btn {margin-top: -30px;}
.libgroup .liblocal-lev2-btn { float: right; margin-right: 14px; margin-top: -30px; }
#borrow .liblocal-btn { float: right; margin-right: 14px; }
.libgroupmember { border: 1px solid #dadddf; background: #fff; padding: 0.4em 0.8em; margin: 5px 15px 0 15px; }
.libgroupmember h4 { font-size: 15px; font-weight: bold; color: #455560; padding: 0; margin: 0.2em 0 }
.libgroupmember .restypehed-btn input { margin: 14px 4px 4px 4px }
.libgroupmember .float { float: right; margin-top: -22px }
.secondaryils { margin:0;padding:8px 0;font-size:13px; font-weight:bold;padding-left:14px }

table.avail { margin-left:1em; width:96%; }


.showMoreLessBox-local h2 { color: #fff; _background-image:none; background: #333366 url('../images/bg_liblocal_screen.png') 0px 0px repeat-x; background-color: #333366}
.showMoreLessBox-local h2:hover { _background-image:none; background: #333366 url('../images/bg_liblocal_screen.png') 0px -100px repeat-x; background-color: #333366}
.showMoreLessBox-local h2:active { _background-image:none; background: #333366 url('../images/bg_liblocal_screen.png') 0px -200px repeat-x; background-color: #333366}
#borrow .div-expand-collapse a {text-decoration: none}
.lhrtext {font-size: 12px; font-weight: normal;}
.lhrtext-grey {font-size: 12px; font-weight: normal; color:#ccc;}
span.lhrtext a, span.lhrtext a:hover {text-decoration: underline; color: #0000FF;}
.inpopac_availability   {margin: 10px 0 10px 20px; display: none; font-size:11px;}

/* Details */

#details table { width: 100% }
#details table th, #details table td { font-size: 13px; vertical-align:top; padding-bottom: 14px; line-height: 1.4em; background: #fff }
#details table th { width: 20%; font-weight: bold; padding-right: 14px; }
#details table td { width: 80%; }
#details table td span.ftpgnumber { font-size: 85%; font-style: italic; color: #455560; margin-right: 4px; }
#details table td span.ftsnippet { color: #000; }
#details table td span.ftmatches { font-size: 85%; font-style: italic; color: #455560; margin-left: 8px; }

.abstracttxt { padding-left: 24px; font-size: 13px; margin-bottom: 14px; }

/* TOC */

#TOC table { width: 80%; margin-left: auto; margin-right: auto; }
#TOC table th, #TOC table td { font-size: 13px; vertical-align:top; padding-bottom: 2px; line-height: 1em; background: #fff }
#TOC table th { width: 10%; font-weight: bold; padding-right: 4px; }
#TOC table td { width: 70%; }



/* Reviews */

div.bydateline { margin: 2px 0 8px 0 }
div.bydateline, span.bydateline { font-size: 11px; font-weight: normal; color: #455560 }
div.bydateline a, span.bydateline a { color: #455560; font-weight: bold }
div.bydateline a:hover, span.bydateline a:hover { color: #455560 }
div.bydateline span.username, span.bydateline span.username { padding-right: 8px }
div.bydateline span.stars, div.bydateline span.plink { margin-left: 8px }
div.bydateline span.plink a { font-weight: normal }

.review-wc,.review-em,.review-wr,.review-gr,.review-am,.review-do{clear:both; margin:0 0 1em 0}
.review-wc h4, .review-am h4, .review-wr h4,.review-gr h4, .review-em h4, .review-do h4 { margin: 0; padding-top: 2px; font-size: 16px; font-weight: bold }
.review-wc h4, .review-am h4, .review-wr h4,.review-gr h4, .review-em h4, .review-do h4, .bydateline, .reviewtxt { padding-left: 24px; }
.review-wc h4 { background: url('../images/bg_icons_reviews.png') 0px 0px no-repeat }
.review-am h4 { background: url('../images/bg_icons_reviews.png') 0px -100px no-repeat }
.review-wr h4 { background: url('../images/bg_icons_reviews.png') 0px -200px no-repeat }
.review-gr h4 { background: url('../images/bg_icons_reviews.png') 0px -300px no-repeat }
.review-do h4 { background: url('../images/bg_icons_reviews.png') 0px -400px no-repeat }
ul.rev-rateflag, a.flag-inappr, input.vote-helpful, div.soc-util-note { font-size: 11px; font-weight: normal }
ul.rev-rateflag li.results { color: #455560 }
.reviewtxt { font-size: 13px }
.reviewtxt { margin-bottom: 14px }
.reviewtxt{margin:0}
.review-wc-morelink,.review-am-morelink,.review-wr-morelink,.review-gr-morelink, .review-do-morelink{font-size:12px;margin:0 0 18px 0}

ul.rev-rateflag, ul.soc-util-form {display:block;list-style-type:none;margin:4px 0 0 0;min-height:26px;auto !important;height:26px}
ul.rev-rateflag li.results, ul.rev-rateflag li.input, ul.rev-rateflag li.flag {float:left;background:none}
ul.rev-rateflag li.results {margin-left:18px;padding:6px 14px 6px 8px;}
ul.rev-rateflag li.input { padding: 2px 14px 3px 0; height: 22px }
ul.rev-rateflag li.flag { padding: 6px 8px }
a.flag-inappr { padding: 0 0 3px 18px; background: url('../images/bg_icons_actions.png') 0px -200px no-repeat; white-space: nowrap }
a.flag-inappr, .bydateline span.plink a { color: #7c888f; }
a.flag-inappr:hover, .bydateline span.plink a:hover { color: #ff7600 }
input.vote-helpful { font-weight: bold; padding: 0px 2px; }




.suggest-toggle { display: inline; font-size: 11px; color: #455560 }
.suggest-toggle a { color: #7c888f }
.suggest-toggle a:hover { color: #ff7600 }

.TagsApplied { background: #fff; border: 1px solid #a5acb2; padding: 0.3em 0.6em; height: 80px; margin-top: 4px; overflow: auto; }
.TagsApplied a { margin-left: 4px; white-space: nowrap }

span.befirst { margin-left: 14px; padding: 1px 4px 1px 8px; font-size: 9px; font-weight: normal; color: #fff; background: url('../images/bg_befirst.gif') no-repeat center left; white-space: nowrap }

/* Tags */

div.suggest { width: 250px; padding: 0 0 4px 0; border: 3px solid #a5acb2; background: #f4f8fb; text-align: left }
div.suggest ul { list-style-type: none; padding: 0; margin: 0; }
div.suggest li { font-size: 12px; margin: 0 4px; }
div.suggest li a { display: block; width: 220px; line-height: 14px; margin: auto; padding: 3px 6px; text-decoration: none; color: #455560;  }
div.suggest li a:hover { background: #deebf4; color: #455560; text-decoration: underline }
div.suggesthed { padding: 3px 6px 3px 22px; background: #e3e2b6 url('../images/bg_suggesthed.gif') 0px 0px no-repeat; font-size: 11px; color: #4d93c4; margin-bottom: 4px; min-height: 14px; height: auto !important; height: 14px; }

#showApplyTags { clear: both; margin-top: 0.5em }
#addtags form#AddTags input#TagEntry { display: inline }

div.tag-apply { width: 400px; color: #7c888f; margin-bottom: 14px }
div.tag-apply span.accord-link a { color: #6a7780; font-size: 11px; font-weight: normal; margin-right: 4px }
div.tag-apply div.accord-content { width: 360px; background: #fff;  }

div.tag-cloud { background: #fff; padding: 8px 14px; text-align: center }
div.tag-cloud ul { margin: 0; list-style-type: none; line-height: 30px; width: 90%; }
div.tag-cloud li { display: inline; padding: 0 0.5em; }
div.tag-cloud li a { white-space: nowrap }
div.tag-cloud span { position: absolute; left: -999px; width: 990px; }
div.tag-cloud li.size1, div.tag-cloud li.size2, div.tag-cloud li.size3, div.tag-cloud li.size4, div.tag-cloud li.size5 { font-weight: normal }
div.tag-cloud li.size6, div.tag-cloud li.size7 { font-weight: bold }
div.tag-cloud li.size1 { font-size: 11px }
div.tag-cloud li.size2 { font-size: 12px }
div.tag-cloud li.size3 { font-size: 14px }
div.tag-cloud li.size4 { font-size: 16px }
div.tag-cloud li.size5 { font-size: 18px }
div.tag-cloud li.size6 { font-size: 20px }
div.tag-cloud li.size7 { font-size: 24px }




/* List style in tags, similar items */

#tags ul, #similar ul { font-size: 15px; font-weight: bold; margin: 0 0 24px 24px; }
#tags ul li, #similar ul li { margin-bottom: 10px; line-height: 1.2em; }
#tags ul li span.count, #similar ul li span.count { font-size: 12px; font-weight: normal; color: #455560; padding-left: 6px; white-space: nowrap }






/* help */

.helplink { float: right; font-size: 11px; font-weight: normal; }
.helplink a { padding-left: 18px; color: #7a8990; background: url('../images/bg_icon_help.gif') 0px 0px no-repeat; text-decoration: underline }
.helplink a:hover { color: #61604f; background: url('../images/bg_icon_help.gif') 0px -18px no-repeat; }
.dropdiv-cont { font-weight: normal; width: 300px; color: #000 }
#help-related-sub { position: absolute; visibility: hidden; padding: 8px; text-align: left; }




/* drop divs */

.dropdiv2-soc, .dropdiv2-util, .dropdiv2-libinfo { position: relative; padding: 8px; text-align: left; z-index: 1 }
.dropdiv2-soc { background: url('../images/bg_transborder_dropdiv-soc.png') repeat; }
.dropdiv2-util { background: url('../images/bg_transborder_dropdiv-util.png') repeat; }
.dropdiv2-libinfo { background: url('../images/bg_transborder_dropdiv-libinfo.png') repeat; }
.dropdiv2-soc-int, .dropdiv2-util-int, .dropdiv2-libinfo-int { position: relative; padding: 8px; z-index: 2 }
.dropdiv2-soc-int { border: 3px solid #ff7600; background: #fff8f2; }
.dropdiv2-util-int { border: 3px solid #455560; background: #f6f6f7; }
.dropdiv2-libinfo-int { border: 3px solid #2178b5; background: #f4f8fb; }
.dropdiv2-soc-int .hd, .dropdiv2-util-int .hd, .dropdiv2-libinfo-int .hd { margin: -8px -8px 8px -8px; padding: 2px 6px 2px 18px; font-size: 11px; }
.dropdiv2-soc-int .hd { color: #ffad66; background: #fff url('../images/bg_dropdiv-soc.png') 0px 0px repeat-x; border-bottom: 1px solid #ffddbf }
.dropdiv2-util-int .hd { color: #455560; background: #fff url('../images/bg_dropdiv-util.png') 0px 0px repeat-x; border-bottom: 1px solid #d0d4d7 }
.dropdiv2-libinfo-int .hd { color: #7aaed3; background: #fff url('../images/bg_dropdiv-libinfo.png') 0px 0px repeat-x; border-bottom: 1px solid #d0d4d7 }
.dropdiv2-soc-int a.close, .dropdiv2-util-int a.close, .dropdiv2-libinfo-int a.close { float: right; z-index: 2; margin-right: 0px; position: relative; }
.dropdiv2-soc-int a.close { background: url('../images/bg_dropdiv-soc.png') 0px -120px no-repeat; }
.dropdiv2-soc-int a.close:hover { background: url('../images/bg_dropdiv-soc.png') 0px -160px no-repeat; }
.dropdiv2-util-int a.close { background: url('../images/bg_dropdiv-util.png') 0px -120px no-repeat; }
.dropdiv2-util-int a.close:hover { background: url('../images/bg_dropdiv-util.png') 0px -160px no-repeat; }
.dropdiv2-libinfo-int a.close { background: url('../images/bg_dropdiv-libinfo.png') 0px -120px no-repeat; }
.dropdiv2-libinfo-int a.close:hover { background: url('../images/bg_dropdiv-libinfo.png') 0px -160px no-repeat; }

.dropdiv2-libinfo { width: 400px; }
.dropdiv2-libinfo span.libname { display: block; font-size: 14px; font-weight: bold; }
.dropdiv2-libinfo ul { clear: both; list-style-type: none; margin: 0;  }
.dropdiv2-libinfo ul li { font-size: 11px; line-height: 1.3em }
.dropdiv2-libinfo .wifi { float: right; padding: 0 0 3px 20px; background: url('../images/bg_lib_info_pop_wifi.gif') no-repeat; font-size: 11px; color: #ff7600 }

.dropdiv2-libinfo-int ul.servicelinks { display: inline; }
.dropdiv2-libinfo-int ul.servicelinks li { display: inline; padding: 0 0.5em; border-right: 1px solid #bcd6e9; }
.dropdiv2-libinfo-int ul.servicelinks li:first-child { padding: 0 0.5em 0 1em }
.dropdiv2-libinfo-int ul.servicelinks li:last-child { padding: 0 0 0 0.5em; border: none }

.dropdiv2-libformats { width: 250px; }
.dropdiv2-libformats p { font-size: 12px; line-height: 1.2em; margin: 0; padding: 0}
.dropdiv2-libformats ul { margin-top: 0.5em; margin-bottom: 0.5em }

.dropdiv2 .hed, .dropdiv2 .hed-divider { font-size: 13px; font-weight: bold; }
.dropdiv2 .hed { margin-bottom: 0.5em }
.dropdiv2 .hed-divider { padding-top: 0.3em; font-size: 13px; font-weight: bold; margin: 1em 0 0.5em 0 }
.dropdiv2-util-int .hed-divider { border-top: 2px dotted #455560; }
.dropdiv2-soc-int .hed-divider { border-top: 2px dotted #ff7600; }
.dropdiv2 form { padding: 0; margin: 0 }
.dropdiv2 form span.hint, .dropdiv2 form input.checkbox, .dropdiv2 form input.radio, .dropdiv2 form input.primary, .dropdiv2 form fieldset fieldset { clear: both; }
.dropdiv2 form label:first-child { margin-top: 0px }
.dropdiv2 form span.hint, .dropdiv2 form label.checkbox, .dropdiv2 form label.radio { line-height: 1.15em }
.dropdiv2 form fieldset { border: none; padding: 0; margin: 0 }
.dropdiv2 form fieldset fieldset { border: 1px dotted #c7cccf; padding: 0.2em 0.4em; margin: 0 0 0.5em 0 }
.dropdiv2 form fieldset fieldset legend { font-size: 11px; font-weight: bold; color: #36444e; padding: 0.3em }
.dropdiv2 form label, form span.hint { display: block; font-size: 11px; }
.dropdiv2 form label { margin-top: 0.6em; font-weight: bold; color: #36444e }
.dropdiv2 form input.text { font-size: 12px }
.dropdiv2 form input.checkbox { float: left; width: 14px; margin: 1em 0 0.5em 0; }
.dropdiv2 form label.checkbox { margin-left: 20px; margin-bottom: 6px; font-weight: normal; padding-top: 8px }
.dropdiv2 form fieldset.radio { margin: 0.5em 0 0.1em 0; padding-left: 0.3em; border: none; }
.dropdiv2 form fieldset.radio legend { font-size: 11px; font-weight: bold; color: #455560; padding: 0; margin:  0 0 0 -4px;  }

.dropdiv2 form label.radio { font-size: 11px; font-weight: normal; margin: 0 0 5px 0; }
.dropdiv2 form label.radio span { line-height: 1.2em; }
#libsdisplay-form-sub.dropdiv2 form input.radioie {vertical-align: middle; }
#libsdisplay-form-sub.dropdiv2 label.itemtype span { margin: 0; }


.dropdiv2 form input.radio { position: relative; top: 2px; }
.dropdiv2 form span.hint { color: #455560; margin-top: 2px }
.dropdiv2 form select, .dropdiv2 form textarea { display: block; font-size: 12px !important; }
.dropdiv2 form select { width: auto; overflow: hidden }

.dropdiv2 form input.submit-primary, .dropdiv2 form input.submit-secondary, .soc-util-submit  input.submit-primary, .soc-util-submit input.submit-secondary { margin: 0.7em 1em 0 0; font-size: 13px; padding: 2px 6px; font-weight: bold; border: outset 1px #ccc }
.dropdiv2-util form input.submit-primary { color: #fff; background: #465661 url('../images/bg_buttons1.png') 0px 0px repeat-x; }
.dropdiv2-util form input.submit-primary:hover { background: #6b7881 url('../images/bg_buttons1.png') 0px -60px repeat-x; }
.dropdiv2-util form input.submit-primary:active { background: #959fa5 url('../images/bg_buttons1.png') 0px -120px repeat-x; }
.dropdiv2-util form input.submit-secondary { color: #455560; background: #d1d5d8 url('../images/bg_buttons1.png') 0px -400px repeat-x; }
.dropdiv2-util form input.submit-secondary:hover { background: #dde0e2 url('../images/bg_buttons1.png') 0px -460px repeat-x; }
.dropdiv2-util form input.submit-secondary:active { background: #fefefe url('../images/bg_buttons1.png') 0px -520px repeat-x; }
.dropdiv2-soc form input.submit-primary, .soc-util-submit input.submit-primary { color: #fff; background: #ff7702 url('../images/bg_buttons1.png') 0px -600px repeat-x; }
.dropdiv2-soc form input.submit-primary:hover, .soc-util-submit input.submit-primary:hover { background: #ff8b28 url('../images/bg_buttons1.png') 0px -660px repeat-x; }
.dropdiv2-soc form input.submit-primary:active, .soc-util-submit input.submit-primary:active { background: #ffac65 url('../images/bg_buttons1.png') 0px -720px repeat-x; }
.dropdiv2-soc form input.submit-secondary, .soc-util-submit input.submit-secondary { color: #ff7600; background: #ffd7b4 url('../images/bg_buttons1.png') 0px -800px repeat-x; }
.dropdiv2-soc form input.submit-secondary:hover, .soc-util-submit input.submit-secondary:hover { background: #ffe1c7 url('../images/bg_buttons1.png') 0px -860px repeat-x; }
.dropdiv2-soc form input.submit-secondary:active, .soc-util-submit input.submit-secondary:active { background: #fffefe url('../images/bg_buttons1.png') 0px -920px repeat-x; }

.dropdiv2 form a.secondary, .soc-util-submit a.secondary { font-size: 13px; font-weight: normal }
.dropdiv2 form a.secondary, .soc-util-submit a.secondary, .dropdiv2 .foot a { color: #455560 }
.dropdiv2 form a.secondary:hover, .soc-util-submit a.secondary:hover, .dropdiv2 .foot a:hover { color: #ff7600 }
.dropdiv2-util .foot, .dropdiv2-soc .foot { clear: both; margin-top: 0.6em; padding: 0.3em 0.5em; font-size: 11px; color: #455560; line-height: 1.2em; white-space: normal }
.dropdiv2-util .foot { background: #e3e6e7; }
.dropdiv2-soc .foot { background: #ffebd9; }

/* social toolbar */

#util-sms-sub form textarea#util-sms-preview { height: 60px; width: 300px; padding: 2px }
#util-em-sub form textarea#util-em-recipaddr { height: 40px; width: 300px; padding: 2px }
#util-em-sub form textarea#util-em-RO-note { height: 90px; width: 300px; padding: 2px }
#util-em-sub form textarea#util-em-note { height: 90px; width: 300px; padding: 2px }
#util-em-sub form textarea#util-em-note-avail{ height: 90px; width: 300px; padding: 2px } 
#soc-tag-sub form textarea#soc-tag-add { height: 40px; width: 250px; padding: 2px }
#soc-rev-sub form textarea#soc-rev-txt { height: 80px; width: 250px; padding: 2px }
#soc-list-sub form select#soc-list-add, #util-list-sub  form select#util-list-add { width: 250px }
#util-pl-sub form input#util-permalink { width: 270px }
#util-pl-cr form input#util-permalink {  width: 270px }
ul#soc-tag-apply { list-style-type: none; width: 220px; height: 80px; overflow: auto; margin-left: 2em; border: 1px solid #999; background: #fff; padding: 4px 8px; }
ul#soc-tag-apply li { display: block; font-size: 12px; line-height: 1.2em; }


#util-scope-sub, 
#util-sms-sub, #util-em-sub, #util-cite-sub, #util-list-sub, #util-pl-sub, #util-ask-sub, 
#soc-rev-sub, #soc-list-sub, #soc-tag-sub, 
#item-preview-sub,
#libsdisplay-num-sub, #libsdisplay-edit-sub, #libsdisplay-form-sub,
#srchselect1-sub,
#lib-info-pop01-sub, #lib-info-pop02-sub, #lib-info-pop03-sub, #lib-info-pop04-sub, #lib-info-pop05-sub, #lib-info-pop06-sub, #lib-info-pop07-sub, #lib-info-pop08-sub, #lib-info-pop09-sub, #lib-info-pop10-sub, 
#lib-formats-pop01-sub, #lib-formats-pop02-sub, #lib-formats-pop03-sub, #lib-formats-pop04-sub, #lib-formats-pop05-sub, #lib-formats-pop06-sub, #lib-formats-pop07-sub, #lib-formats-pop08-sub, #lib-formats-pop09-sub, #lib-formats-pop10-sub,
#util-srchscope-sub
{ position: absolute; visibility: hidden; }

/* global and social utility drops */

#util-scope-sub { width: 350px }
#util-sms-sub { width: 350px }
#util-em-sub { width: 350px }
#util-cite-sub { width: 500px }
#util-list-sub { width: 300px }	
#util-ask-sub { width: 300px }
#util-pl-sub { width: 300px }
#util-pl-cr { width: 300px }
#soc-list-sub { width: 300px }
#soc-tag-sub { width: 300px }
#soc-rev-sub { width: 300px }	
#item-preview-sub { width: 250px }
#libsdisplay-num-sub, #libsdisplay-edit-sub, #libsdisplay-form-sub { width: 250px }
#util-srchscope-sub { width: 300px }



/* Social utilities */

.soc-util form label { clear: both; display: block; font-size: 11px; font-weight: bold; margin-top: 8px; padding-bottom: 4px; }
.soc-util form input { margin-right: 8px }
.soc-util form select { margin-bottom: 2px }
.soc-util-note { font-size: 11px; color: #6a7780; }
.soc-util-submit { margin: 8px 0 14px 0; }


.soc-util a.cancel, div.soc-util a.delete { white-space: nowrap; font-size: 12px; margin-left: 10px }
.soc-util a.delete { background: url('../images/bg_icons_actions.png') 0px -80px no-repeat; color: #ff0000; padding-left: 16px }
	


/* WeRead recommended items */

.recomm-cont { float: left; width: 150px; min-height: 200px; margin: 14px 14px 8px 0; padding: 0; text-align: center; }
.recomm-cont .cover {  }
.recomm-cont .title { padding: 4px 10px; font-size: 11px; line-height: 1.3em }
.recomm-cont .title a { font-weight: bold }

/* Similar items YUI carousel */

.yui-carousel-element li { height: 180px; text-align: center; font-size: 11px; line-height: 1.2em; }
#container { margin: 0 auto; }
#container .item { display: inline; margin: 0 12px; overflow: hidden; width: 150px; padding-bottom: 8px }
#container .item p { margin-top: 4px; padding: 0 8px; }
#container .item a { font-weight: bold; margin-right: 3px }
ol#carousel li.item span.series, ol#carousel li.item span.auth, ol#carousel li.item span.subj { display: block; margin-bottom: 8px; color: #fff; text-align: center; padding: 1px 4px 3px 4px }
ol#carousel li.item span.series { background: #7f6da9 }
ol#carousel li.item span.auth { background: #4d93c4 }
ol#carousel li.item span.subj { background: #ba5a8c }

/* Syndetics reviews */

/* new styles utilizing local link colors */
.expcol-lev2 em.link,.control-link{color:#7d7d7d}
.expcol-lev2 em.link{border-bottom:1px solid #7d7d7d}
.expcol-lev2 em.link:hover{border-bottom:1px solid #990000}

/* new styles for new pushDownDiv instance */
.showMoreLessReadmore{margin:0 1em 1.3em 1em;}
.showMoreLessReadmore .showMoreLessContentElement{display:none;}
.showMoreLessReadmore .showMoreLessControlElement{outline:0;padding-left:6px}
.showMoreLessReadmore .contracted-control{padding-left:6px}
.showMoreLessReadmore .expanded-control,.showMoreLessReadmore .expanded-content{padding:0px}

/* new styles for editorial/user review breakout (Local only) */
.expcol-lev2{font-size:15px;font-weight:bold;}
#reviews em.link{font-style:normal;font-weight:bold;font-size:15px;}
#reviews em.count{font-weight:normal;padding-left:0.5em}
#rev-editor, #rev-users{margin-bottom:1em;}
#rev-editor{padding-bottom:1em;border-bottom:1px dashed #d0d4d7}
#rev-editor p.source,#rev-users p.source {display:block;margin:0.3em 0 0.5em 0;padding:0;font-weight:bold;color:#6a7780}
#rev-editor h3{font-size:16px;font-weight:bold;margin:0 1em 0.5em 1em;padding:0;line-height:1.2em}
#rev-editor p{margin:0 0.3em 0.5em 0.3em;padding:0}
#rev-editor p.id-syndet{text-align:right;font-size:11px;color:#a2aaaf;margin:0 !important;padding-top:0.5em}
#rev-editor p.id-syndet span{color:#6a7780;padding:0 0 2px 17px;background:url('../images/bg_id_syndetics.png') no-repeat}

/* All modules */
.syn_title,.syn_terms {display:none}
.syn_body p{font-size:13px;line-height:16px;margin:0 0 10px 0;padding:0}
.syn_body.syn_truncate blockquote{line-height:11px;margin-bottom:6px}
.syn_body.syn_truncate a{padding:0 2px;font-size:11px;white-space:nowrap}
.syn_copyright{margin-left:1em;font-size:11px;color:#576670}

/* merged */
#syn_toc,#syn_dbchapter,#syn_fiction{padding-left:24px}

/* Cover art */
#syn_mc img {border:1px solid #dadddf}

/* Series */
.syn_series_title a{display:none}
#syn_series .syn_list_item{margin-left:14px}
.syn_series_item_number{float:left;text-align:right;padding-right:6px}

/* TOC */
#syn_toc .syn_list_item{display:block;border-bottom:1px dotted #e3e6e7}
.syn_toc_label,.syn_toc_item_title,.syn_toc_item_page_num{display:inline-block;vertical-align:top}
.syn_toc_label{width:15%;}
.syn_toc_item_title{width:70%;}
.syn_toc_item_page_num{width:10%;text-align:right}

/* Fiction profile */
.syn_fp.syn_fp_characters .syn_fp_title {font-weight:bold;color:#455560;margin-bottom:8px}
.syn_fp_character{float:left;width:200px;margin:0 14px 8px 0;padding:8px;background:#f9fafa;border:1px solid #e3e6e7;min-height:200px}
.syn_fp_character .sp_fp_tag_title{display:block;font-size:11px;color:#576670}
.syn_fp_character .syn_fp_tag,.syn_fp_character .syn_fp_tag_seperator{display:inline}
.syn_fp_character .syn_fp_tag{font-size:14px;line-height:17px}
.syn_fp_character_tags{padding-bottom:8px}
.syn_fp_character_tags.syn_fp_character_name .syn_fp_tag {font-size:16px;font-weight:bold}
.syn_fp.syn_fp_genre{clear:both;padding-top:8px}
.syn_fp.syn_fp_genre,.syn_fp.syn_fp_topics,.syn_fp.syn_fp_setting,.syn_fp.syn_fp_period{padding-bottom:8px}
.syn_fp.syn_fp_genre .syn_fp_title,.syn_fp.syn_fp_topics .syn_fp_title,.syn_fp.syn_fp_setting .syn_fp_title,.syn_fp.syn_fp_period .syn_fp_title{width:12%;vertical-align:top;display:inline-block;font-weight:bold;color:#455560}
.syn_fp.syn_fp_genre .syn_fp_body,.syn_fp.syn_fp_topics .syn_fp_body,.syn_fp.syn_fp_setting .syn_fp_body,.syn_fp.syn_fp_period .syn_fp_body{width:78%;vertical-align:top;display:inline-block;padding-left:6px}

/* Reviews */
.synreview{margin-bottom:18px}
.synreview p{margin:0 1em 1em 1em !important}

/* Spanish, German language summary */
#syn_spsummary .syn_title,#syn_gmsummary .syn_title{display:inline-block !important;float:left;width:97px;font-weight:inherit;color:#6a7780}
#syn_spsummary .syn_body,#syn_gmsummary .syn_body{margin-left:104px}

/* Hide Syndetics label and content initially */
#syn_summary, #details-syn-series, #syn_series, #details-anotes, #syn_anotes, #details-toc, #syn_toc, #details-1stchpt, #syn_dbchapter, #details-profile, #syn_fiction, #details-syn-awards, #syn_awards {display:none}
#rev-editor, #rev-syndeticsreviews, #rev_pwreview, #syn_pwreview, #rev_ljreview, #syn_ljreview, #rev_sljreview, #syn_sljreview, #rev_blreview, #syn_blreview, #rev_chreview, #syn_chreview, #rev_hbreview, #syn_hbreview, #rev_kireview, #syn_kireview {display:none}

/* Microdata section */
#microdata table {width:auto; margin:.5%;}
#microdata table tr td {border:1px solid lightgray; padding:6px; }


/* parent child specific styles */
.independent-children {padding: 8px; margin-top: 8px; margin-left: 20px; margin-right: 40px; }
.dependent-link { margin-left: 70px; }
.independent-alert { margin-left: 50px; font-weight:bold }
.dependent-alert { margin-left: 50px; font-weight:bold }
div.parent-link { padding-bottom: 20px; padding-left: 5px;}
.album-tracking { margin-left: 50px; }
.album-tracking-author { color: #000; }
.author-text {color: #000; font-weight:normal }
.dependentChildTable, .dependentChildTable table { width:100%; clear: both; margin-bottom: 0px; border: 1px solid #d0d4d7; background: #f2f3f4; }
#bib-cont #bibdata #dependentChild table { margin: 0px; }
#dependentChild table, #dependentChild table td { background: #fff; text-align: left; vertical-align: top; border-bottom: 1px solid #d0d4d7; border-right: 1px solid #d0d4d7;}
#dependentChild table, #dependentChild table td { font-size: 11px; font-weight: normal; line-height: 14px; padding: 3px 8px; color: #455560;}
.numberRecords { width: 100%; height: 24px; }
.caption {margin-top: 4px; font-size: 11px; font-weight: normal; color: #455560;}

#bib-cont #bibdata #dependentChild table .dependentCell {vertical-align: middle; margin: 0px; background: #F6F6F7;}

.dependentchildtableCont { width: 670px; }

