.yui-nav li { line-height: 1.35em;} /* Fix IE 6 background round corner */

div#wchomecontent { margin: 18px 3%; margin-top: 0; font-size: 120%; min-width: 840px; }

/* search zone table */
td.illo { width: 14px; background: #2178b5 url(/wcpa/rel20161208/images/bgleft_homesrch.gif) no-repeat; padding: 0 }
td.homesrch { background: #2178b5 url(/wcpa/rel20161208/images/bg_homesrch.gif) repeat-x; padding: 0 20px 0 0 }
td.homesrchinput { margin: 0; padding: 0 8px 0 0 }

/* search zone */

div#demo { padding: 0.7em 1em 1em 0.7em }
div#demo h1
	/* Find items in libraries... */
{ margin: 0; padding: 0 0 0.2em 0; font-size: 150%; line-height: 1.3em; color: #fff }

div#demo h2.itemsavail
	/* [number] items available... */
{ margin: 0; padding: 0 0 1em 0; color: #fff; font-size: 75%; font-weight: normal }

div#demo h2.about
	/* WorldCat connects you... */
{ margin: 0; padding: 1em 0 0 0; font-size: 85%; color: #b5cfde; line-height: 1.25em }

input.homesrch, input.homelogin { border: 1px solid #999; padding: 1px 2px; }
input.homesrch { font-size: 100% }
input.homelogin { margin: 1px 0 }

input.homesrchbtn { padding: 0.1em 0.3em; background: #dadddf; }
td.homesrchadvan { font-size: 70%; color: #252d33; padding: 0.2em 0 0 0 }
td.homesrchadvan a, td.homesrchadvan a:hover, td.homesrchadvan a:visited { color: #252d33 }

span.wclearnmore { margin-left: 2em; font-size: 80%; font-weight: normal }
span.wclearnmore a, span.wclearnmore a:hover, span.wclearnmore a:visited { color: #b5cfde }

/* login zone */

td.signin-no { background: #eee url(/wcpa/rel20161208/images/bg_signin_no.png) no-repeat top right; padding: 0.8em 1em 1em 1em; width: 30%; }
td.signin-yes { background: #2178b5 url(/wcpa/rel20161208/images/bg_signin_yes.png) no-repeat top right; padding: 0.8em 1em 1em 1em }
div.signinhed { font-size: 85%; line-height: 1.2em; padding-bottom: 14px }
td.loginlabel { font-size: 70%; font-weight: bold; color: #455560; padding-right: 8px; white-space: nowrap }
td.loginremem { font-size: 70%; padding: 6px 0; color: #455560; }
div.forgot { font-size: 75%; padding: 8px 0 14px 0; color: #7C888F; }
div.xmitalert p {font-size: 68.8%; font-style: italic; color: #455560;}
div.create { font-size: 85%; font-weight: bold; white-space: nowrap; }
td.loginremem input { margin: 0 4px 0 0 }
div#signedinbox { background: #11517d; padding: 0.8em 1em 1em 1em }
td.welcome { font-size: 70%; font-weight: bold; color: #a2a9af; padding-bottom: 1em }
td.avatar { padding: 0; border: 1px solid #fff }
td.username { font-size: 120%; color: #fff; padding: 0 0 0 8px }
td.welcomelinks { font-size: 75%; padding-top: 1em }
td.changepicturelinks { font-size: 67%; padding-top: 1em }
td.welcomelinks ul { list-style-type: none; margin: 0; padding: 0 }
td.welcomelinks li { margin-bottom: 6px }
td.welcomelinks a, td.welcomelinks a:hover, td.welcomelinks a:visited { color: #fff }
td.changepicturelinks a, td.changepicturelinks a:hover, td.changepicturelinks a:visited { color: #fff }


/* stats bar */

td#stats { background: #a2a9af; font-size: 85%; font-weight: bold; color: #45464a; text-align: center; padding: 6px }
td#stats span.stat { color: #fff; font-size: 135% }
td#stats span.pipe, div#librarian span.pipe { color: #c7cccf; font-weight: normal }
td#stats span.pipe { margin: 0 14px }
div#librarian span.pipe { margin: 0 8px }

/* news zone */

div#news { margin: 14px 0; padding: 4px 14px }
div#newsding, div#blogding { padding: 2px 8px 2px 4px; font-size: 70%; font-weight: bold; text-align: center; color: #fff }
div#newsding { background: #ff6600 url(/wcpa/rel20161208/images/ding_news.gif) no-repeat center right }
div#blogding { background: #409a3c url(/wcpa/rel20161208/images/ding_blog.gif) no-repeat center right }

div#news ul { margin: 2px 0 0 10px; padding: 0; list-style-type: none; font-size: 90%; font-weight: bold }
div#news li { line-height: 1.3em; margin-bottom: 6px }
div#newsfloat { float: right; margin: 4px 0 0 14px; padding: 0; font-size: 70%; }

/* feature and librarian zones */

div#feature, div#librarian { margin: 14px 0; border: 1px solid #d0d0d0 }
div#feature { padding: 14px }
div#librarian { padding: 4px 14px 14px 14px }

div.featurebox, div#librarian { background: #f1f2f4 }

div#feature h3
	/* Create lists, Build a bibliography... */
{ background: url(/wcpa/rel20161208/images/ding_feature.gif) no-repeat top left; font-size: 100%; padding: 0 0 0 24px; line-height: 1.3em; margin: 0 0 0.7em 0; }

div#feature h3 a, div#feature h3 a:hover, div#feature h3 a:visited { color: #ff6600 }

div#feature p, div.featurebox ul, div#librarian p { color: #666; font-size: 70%; }
div#feature p { margin: 0 0 1em 0; }

td.feature1, td.feature2, td.feature3 { width: 33%; padding: 0 1em }
td.feature1, td.feature2  { border-right: 1px dotted #d0d0d0 }
div.featurebox { padding: 12px; margin-bottom: 1em }
div.featurebox ul { list-style-type: disc; padding: 0; margin: 0 0 0 1.2em; }
div.featurebox li { margin-bottom: 1em; }

div#librarian h2
	/* For librarians... */
{ font-size: 80%; margin: 0; padding: 0.3em 0 0.6em 0; }

div#librarian p { margin: 0; text-align: center; line-height: 1.4em }
div#librarian a { font-size: 110% }

/* button styles for links */
a.grey_btn {
	background: url(/wcpa/rel20161208/images/bg_button.gif) repeat-x;
	border: 1px solid #c7cccf;
	padding: 3px 5px;
	text-decoration: none;
 	margin: 0;
	height: 20px;
}

a:hover.grey_btn {
	background: url(/wcpa/rel20161208/images/bg_button_grey_over.gif) repeat-x;
	border: 1px solid #7c888f;
	text-decoration: none;
	color: #fff;
}

ul.feature_btns { list-style-type: none; margin: 0; padding: 0; font-size: 70% }
ul.feature_btns li { margin: 0 0 1.5em 0; }

div#librarian ul { list-style-type: none; width: 100%; margin: 4px 0 0 0; padding: 0 10px }
div#librarian li { float: left; border-right: 1px dashed #ccc; padding-right: 1.5em; margin-right: 14px; font-size: 70%; color: #455560; line-height: 1.3em; padding-bottom: 0 }
div#librarian li div.sub { margin: 4px 0 }
div#librarian li div.sub, div#librarian li div.sub a { font-size: 100% }
div#librarian li div.sub div.vid { padding: 6px 8px; background: #f6f6f7; margin-top: 6px; border: 1px solid #e3e6e7 }
div#librarian li div.sub div.vid a { color: #455560 }
div#librarian li div.sub div.vid a:hover { color: #ff6600 }

/* new mobile ribbon */
.tout-mobi img,.tout-mobi .cont,.tout-mobi ul li{float:left}
.tout-mobi h2 a,.tout-mobi p{font-weight:bold}
.tout-mobi:before,.tout-mobi:after{content:"";display:table}
.tout-mobi:after{clear:both}
.tout-mobi{width:100%;margin:8px 0;padding-bottom:8px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border:1px solid #c7ddec;background:#deebf4;background: -webkit-gradient(linear, left top, left bottom, from(#f8fbfd), to(#deebf4));background: -moz-linear-gradient(top,  #f8fbfd,  #deebf4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8fbfd', endColorstr='#deebf4');zoom:1}
.tout-mobi img{margin:8px 14px 8px 12px}
.tout-mobi h2{margin:22px 14px 18px 0;font-size:22px;line-height:25px;font-weight:normal;color:#155c8f}
.tout-mobi h2 a{white-space:nowrap}
.tout-mobi ul{width:100%;margin:12px 0 0 0}
.tout-mobi ul li{width:260px;margin:0 14px 14px 0}
.tout-mobi li{font-size:14px;line-height:18px}
.tout-mobi li.first{padding-right:4px;border-right:1px solid #90bbda}
.tout-mobi p{clear:both;margin:14px 0 8px;font-size:12px}


/* NEW IN MAY 2010 */
/* merged */
.arrowtout,.feature p,.feature img,.libraries-cont .toplib p.number,.reviews-cont p.excerpt,ul.inline{clear:both}
.contentrow-cont,.floatbox,.libraries-cont,.tags-cont,.reviews-cont,.lists-cont,.socfeatbox .floatbox img,.reviews-cont .floatbox,.libraries-cont .col1,.reviews-cont p.rating,.newsfeatbox,.newsfeatbox p,.arrowtout,.feature,.feature img,.feature .tut,.feature ul,.libraries-cont .toplib p.number{float:left}
.socfeatbox,.libraries-cont .col2,.libraries-cont .toplib p.lib,.toplib p.loc{float:right}
.socfeatbox .floatbox img,.reviews-cont p.excerpt a,.reviews-cont p.rating img,.arrowtout span,.arrowtout span em,.newsfeatbox p,.newsfeatbox span.signup{position:relative}
.socfeatbox h2,.socfeatbox p.listtitle,.reviews-cont p.revtitle,.tags-cont a.tag1,.tags-cont a.tag2,.newsfeatbox p,.arrowtout span,.feature .tut h3,.feature ul li,.libraries-cont .toplib p.lib{font-weight:bold}
.socfeatbox p.listuser,.reviews-cont p.revuser,.socfeatbox h2 span,ul.inline li,.reviews-cont p.excerpt a,.tags-cont a.tag6,.newsfeatbox span.signup{font-size:11px}
.socfeatbox ul.inline li,.reviews-cont p.revuser,.feature .tut h3,.feature .tut p.time,.socfeatbox h2 span{color:#455560}
.box,.newsfeatbox,.socfeatbox,#librarian,#mobileribbon{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
.libraries-cont,.tags-cont,.reviews-cont,.lists-cont{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.contentrow-cont,.newsfeatbox,.libraries-cont .toplib{width:100%}

/* columns */
.contentrow-cont{margin-bottom:18px}
.contentrow-1col{padding:8px 12px}
.contentrow-2col-left,.contentrow-2col-right{width:46%;padding:8px 12px}
.contentrow-2col-left{float:left}
.contentrow-2col-right{float:right}
#news .col1,#news .col2{margin-bottom:12px}
#news .col1{clear:both;float:left;width:15%}
#news .col2{float:right;width:85%}

/* containers */
.newsfeatbox,.socfeatbox{border:1px solid #d3e4f0}
.newsfeatbox{background:#f8fbfd url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_newsfeatbox.png') repeat-x}
.socfeatbox{background:#f8fbfd url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_socfeatbox.png') repeat-x}
.floatbox{margin:0 8px 8px 0;padding:4px 8px}
.libraries-cont,.tags-cont,.reviews-cont,.lists-cont{padding:8px 12px;background:#fff;border:1px solid #e8f1f7}
.libraries-cont{width:94%}
.libraries-cont .toplib{margin-bottom:4px}
.reviews-cont{margin-bottom:8px}
.libraries-cont .toplib.last,.reviews-cont.last{margin-bottom:0}

/* news */
.arrowtout{margin-bottom:8px;border-style:solid;border-width:1px 0 1px 1px;border-top-left-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-radius-topleft:3px;border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-radius-bottomleft:3px;min-height:28px;font-size:16px}
.arrowtout span{top:3px;left:10px;padding:4px 18px 5px 0;font-size:14px}
.arrowtout span em{top:1px;white-space:nowrap;font-style:normal}
.arrowtout.news{border-color:#ffba7f;background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_news.png') center left}
.arrowtout.news span{background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_news.png') center right;color:#b35000}
.arrowtout.blog{border-color:#9fcc9d;background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_blog.png') center left}
.arrowtout.blog span{background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_blog.png') center right;color:#357a30}
.newsfeatbox p{margin:0 0 18px 20px;font-size:15px;top:4px}
.newsfeatbox span.signup{padding-left:24px;font-weight:normal;top:-1px}
.newsfeatbox span.signup a{white-space:nowrap}

/* main feature zone */
.feature{padding:8px 12px}
.feature h2{margin:0 0 6px 0;font-size:20px}
.feature p{float:none;margin:0 0 12px 0;padding:0;font-size:12px;font-weight:normal;line-height:15px}
.feature .tut{width:156px;padding-left:8px}
.feature .tut h3{margin:0 0 4px 0;padding:0;font-size:12px}
.feature .tut p{margin:0 0 2px 0;font-size:15px;line-height:19px}
.feature .tut p.time{font-size:11px}
.feature ul{margin:0 0 0 8px;padding:0;list-style-type:none}
.feature ul li{margin:0 0 12px 0;padding:0;font-size:15px}

/* social feature zones */
.socfeatbox h2{margin:0 0 6px 0;padding:8px 0 12px 46px;font-size:18px;line-height:20px;background-image:url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_homepage_h2s.png');background-repeat:no-repeat}
.socfeatbox h2.desc{margin:0;padding:2px 0 12px 46px}
.socfeatbox h2 span{display:block;padding-top:2px;font-weight:normal;line-height:14px}
#libraries h2{background-position:0px 0px}
#tags h2{background-position:0px -100px}
#reviews h2{background-position:0px -200px}
#lists h2{background-position:0px -300px}
.libraries-cont .toplib p.number{width:8%;padding-right:4px;text-align:right;font-size:18px}
.libraries-cont .toplib p.lib,.toplib p.loc{width:90%;text-align:left}
.libraries-cont .toplib p.lib{font-size:15px;padding:1px 0}
.libraries-cont .toplib p.loc{font-size:13px;padding:0;}
.socfeatbox p.listtitle,.socfeatbox p.listuser{margin:0 0 4px 60px}
.socfeatbox p.listtitle{font-size:14px;line-height:16px}
.reviews-cont{width:96.7%}
.reviews-cont .minibrief{width:28%;margin-right:2%}
.reviews-cont .minibrief.box{background:#f4f8fb}
.reviews-cont .floatbox{width:20%;margin:0 2% 0 0;padding:0}
.reviews-cont .floatbox.last{margin-right:0}
.lists-cont .floatbox{width:220px;min-height:94px}
.reviews-cont p.revtitle,.reviews-cont p.excerpt{margin:0 0 4px 0;font-size:12px;line-height:16px}
.reviews-cont p.rating{margin:0 0 2px 0}
.reviews-cont p.rating img{top:0px}
.reviews-cont p.excerpt a{padding-left:4px;top:-1px}
.tags-cont .tag1,.tags-cont .tag2,.tags-cont .tag3,.tags-cont .tag4,.tags-cont .tag5,.tags-cont .tag6{margin:0 8px;line-height:30px}
.tags-cont a.tag1{font-size:10px;}
.tags-cont a.tag2{font-size:12px;}
.tags-cont a.tag3{font-size:14px;}
.tags-cont a.tag4{font-size:16px;}
.tags-cont a.tag5{font-size:18px;}
.tags-cont a.tag6{font-size:20px;}
.tags-cont a.tag7{font-size:22px;}

ul.inline{margin:0;padding:6px 0 0 0;list-style-type:none;text-align:center}
.floatbox ul.inline{margin:0 0 0 60px;padding:0;text-align:left}
ul.inline li{display:inline;border-left:1px solid #c7cccf;padding-left:7px;margin-left:3px}
ul.inline li.first{border:none;padding-left:0;margin-left:0; font-weight:normal;}

#genresribbon {-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
#genresribbon {clear:both;float:left;width:100%;background:#fff url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_genresribbon.png') repeat-x;border:1px solid #bcd6e9;margin:0 0 8px 0}
#genresribbon img {float:left;margin:8px 0 8px 14px}
#genresribbon h3{margin:12px 0 4px 124px;font-size:18px;font-weight:normal;color:#1d619a}
#genresribbon .cont{float:left;width:84%;background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_genresribbonhed.png') no-repeat;}
#genresribbon p{margin:2px 160px 8px 124px;font-size:14px;line-height:17px}
#genresribbon .experimental{float:right;margin:12px 18px 0 0;padding:6px 6px 6px 28px;background:#fff url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_experimental.png') 6px 4px no-repeat;border:1px solid #e3eec7;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-size:11px;font-weight:bold;color:#87ad27}

/* New for ID Network Ribbon */
#idnetworkribbon {-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
#idnetworkribbon {clear:both;float:left;width:100%;background:#fff url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_genresribbon.png') repeat-x;border:1px solid #bcd6e9;margin:0 0 8px 0}
#idnetworkribbon img {float:left;margin:8px 0 8px 14px;border:3px solid #eee;box-shadow:1px 2px 3px rgba(0,0,0,.5); -webkit-box-shadow:1px 2px 3px rgba(0,0,0,.5); -moz-box-shadow:1px 2px 3px rgba(0,0,0,.5);}
#idnetworkribbon h3{margin:12px 0 4px 124px;font-size:18px;font-weight:normal;color:#1d619a}
#idnetworkribbon .cont{float:left;width:84%;background:transparent url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_genresribbonhed.png') no-repeat;}
#idnetworkribbon p{margin:2px 160px 8px 124px;font-size:14px;line-height:17px}
#idnetworkribbon .experimental{float:right;margin:12px 18px 0 0;padding:6px 6px 6px 28px;background:#fff url('http://static1.worldcat.org/wcpa/rel20161208/images/bg_experimental.png') 6px 4px no-repeat;border:1px solid #e3eec7;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;font-size:11px;font-weight:bold;color:#87ad27}