﻿
.A130506_fW a {
    color: #0092d2;
}

    .A130506_fW a:hover {
        text-decoration: underline;
    }

.A130506_fW .wrap {
    position: relative;
    width: 326px;
    height: 230px;
    overflow: hidden;
    line-height: 22px;
    background: url(/images/images_Activity20130506/A130506_TB.jpg);
}

    .A130506_fW .wrap p {
        font-size: 14px;
        color: #d1c0a5;
        width: 326px;
        text-align: center;
        margin-top: 140px;
    }

.A130506_fW .close {
    position: absolute;
    display: block;
    top: 11px;
    right: 12px;
    z-index: 3000;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.A130506_fW .do {
    text-align: center;
    width: 168px;
    margin-top: 15px;
}

#main1306 .container {
    width: 960px;
    margin: 0 auto;
    color: #fff;
}

.A130506_a {
    font-family: "微软雅黑", Arial, Verdana, Helvetica, sans-serif;
    position: relative;
}

    .A130506_a img {
        vertical-align: top;
        border: 0;
    }

.A130506_fW .wrap02 {
    position: relative;
    width: 928px;
    height: 192px;
    padding-left: 32px;
    overflow: hidden;
    background: url(/images/images_Activity20130506/A130506_bg2.png)no-repeat;
}

    .A130506_fW .wrap02 li {
        width: 127px;
        height: 192px;
        float: left;
        cursor: pointer;
    }

        .A130506_fW .wrap02 li p {
            width: 127px;
            font-size: 32px;
            font-family: Arial;
            font-weight: bold;
            text-align: center;
            color: #fff;
            margin-top: 138px;
        }

.A130506_fW .txt {
    color: #fff;
    height: 40px;
    margin: 70px 0 0 22px;
    width: 182px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.A130506_fW .btn {
    display: inline-block;
    color: #000;
    width: 105px;
    height: 32px;
    line-height: 21px;
    cursor: pointer;
    margin-left: 108px;
}

.A130506_a .kur13_edict {
    position: absolute;
    top: 1094px;
    left: 87px;
    width: 190px;
    height: 264px;
    overflow: hidden;
}

.threelogin {
    background: url("/images/LR.jpg") no-repeat -17px -48px;
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    margin: 7px 2px 0 0;
}
