﻿@charset "utf-8";

/*floater*/
#floaterWins{position:absolute; z-index:1998; top:0; left:0}
#floaterWins a{color:#0092d2}
#floaterWins a:hover{text-decoration:underline}
#floaterWins .masklayer{position:absolute; background:#000; top:0; left:0; z-index:2000; display:none}
#floaterWins .masklayer .masklayerfixie6{position:absolute; top:0; left:0; z-index:1999; background:#000}

#floaterWins .floaterWin{position:absolute; top:0; left:0; z-index:2001; display:none; box-shadow:0 0 12px #333; border:1px solid #f2cd9f}
#floaterWins .floaterWin .wrap{position:relative; background:#fff; padding:20px; height:100%; overflow:hidden; line-height:18px}
#floaterWins .floaterWin .close{position:absolute; display:block; top:5px; right:5px; z-index:3000; background:url(/images/activity/btn_close.gif) 0 0 no-repeat #666; width:15px; height:15px; cursor:pointer}
#floaterWins .floaterWin .txt{color:#6a5341}
#floaterWins .floaterWin .txt a{color:red; text-decoration:none; cursor:default}
#floaterWins .floaterWin .do{margin-top:20px; height:22px; overflow:hidden; text-align:center}
#floaterWins .floaterWin .do a{display:inline-block; width:77px; height:22px; background:0 0 no-repeat; cursor:pointer}
#floaterWins .floaterWin .do .btn_continue{background-image:url(/images/activity/btn_continue.gif)}
#floaterWins .floaterWin .do .btn_exchange{background-image:url(/images/activity/btn_exchange1.gif); width:78px}
#floaterWins .floaterWin .do .btn_invite{background-image:url(/images/activity/btn_invite.gif); margin-left:40px}

.floaterLR{}
.floaterLR .wrap{width:470px}
.close{position:absolute; display:block; top:5px; right:5px; z-index:3000; background:url(/images/activity/close.gif) 0 0 no-repeat; width:15px; height:15px; cursor:pointer}
.TabMenu{ padding-top:37px; margin:0 35px 0 25px; width:410px; height:28px; line-height:28px; border-bottom:solid 2px #ff8900;}
.TabMenu li{ width:61px; height:28px; float:left; margin-right:2px; cursor:pointer; font-size:14px; text-align:center; background:url(/images/activity/CriticismB.png) no-repeat 0 -79px;}
.TabMenu .selected{ color:#fff; font-weight:bold; text-align:center; background:url(/images/activity/CriticismB.png) no-repeat 0 -48px;}
.TabBox{ padding:0 35px 10px 25px;}
.hide{ display:none;}
.Fl_login{ padding-top:22px;}
.TabBox th{text-align:right; vertical-align:top; line-height:25px; white-space:nowrap; font-weight:normal; padding-left:5px;}
.TabBox td{ padding-bottom:15px; text-align:left; vertical-align:top; line-height:25px}
.TabBox .txt{padding:0 2px; width:165px; height:25px; line-height:25px; border:1px solid #ddd; vertical-align:middle;}
.TabBox .err{color:#fc4c0f;}
.TabBox .tip{display:block; color:#999}
.TabBox .btn{display:inline-block; width:71px; height:24px; overflow:hidden; border:0; background:no-repeat; cursor:pointer}
.TabBox input.login{background:url(/images/activity/CriticismB.png) 0 -110px no-repeat;}
.TabBox input.reg{background:url(/images/activity/CriticismB.png) 0 -137px no-repeat;}
.TabBox .accounts{margin-top:10px; padding:12px 0; border-top:1px dotted #bbb; width:410px;}
.TabBox .accounts dd{margin-top:12px}
.TabBox .accounts ul{height:100%; overflow:hidden}
.TabBox .accounts li{float:left; width:90px; height:16px; overflow:hidden; margin-bottom:10px}
.TabBox .accounts li a{display:inline-block; height:16px; line-height:16px; color:#0092d2; padding-left:22px; background:url(/images/activity/Ico_login.gif) 0 0 no-repeat; overflow:hidden}
.TabBox .accounts li a.taobao{background-position:0 0}
.TabBox .accounts li a.qq{background-position:0 -32px}
.TabBox .accounts li a.sina{background-position:0 -16px}
.TabBox .accounts li a.alipay{background-position:0 -48px}
.TabBox .remen{ line-height:16px;}
.TabBox .remen input{ vertical-align:middle; margin:1px 5px 3px 0;}
.TabBox .forgetPassword{ color:#0092d2; margin-left:10px; text-decoration:underline;}
.Fl_register{ padding-top:15px;}