@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{font:12px/1.5 '微软雅黑';}
.float{float:left;}
.right{float:right;}
.rela{position:relative;}
.abso{position:absolute;}
.clear{clear:both;}
a{text-decoration: none;}
input{vertical-align:middle;}


/*login content*/
.boxshadow{border:2px solid #DAD9D9;width:630px;margin:2px;}
.t_window{ position: fixed;_position: absolute;top: 50%;left: 50%;margin: -75px 0 0 -182px;z-index: 1500;}
.loginbox{width:100%;padding:1px;border:1px solid #edc99d;background: #FAFAFA;margin:-2px 0 0 -4px ;}
.loginbox h5{height:28px;background:url(/images/login_t_images/t_l_h5_bg.jpg);font-size:14px;color:#fff;border:1px solid #ff8800;line-height:28px;text-indent:10px;}
.loginbox h5 .t_colose{background:url(/images/login_t_images/t_pic.png) -61px 0 no-repeat;width:15px;height: 15px;right:8px;top:6px;cursor:pointer;_font-size:1px;}
.loginbox .t_l_content{padding:10px 12px;}
.loginbox .t_l_content h4{width:100%;color:#666666;border-bottom:dashed 1px #e5e5e5;font-weight:100;height:30px;line-height:30px;padding-bottom:3px;}
.loginbox .t_l_content h4 .ed{width:24px;height:24px;background:url(/images/login_t_images/t_pic.png) -61px -15px no-repeat;display:inline-block;*zoom:1;*display:inline;vertical-align: middle;}
.loginbox .t_l_content ul{list-style:none;padding:5px 0;overflow: hidden;}
.loginbox .t_l_content ul li{margin:10px 0;}
.loginbox .t_l_content ul li input{width:177px;height:20px;line-height:20px;}
.loginbox .t_l_content ul li input.kbox{width:13px;height:13px;margin-left:63px;line-height:13px;_margin-top:-3px;}
.loginbox .t_l_content ul li span{vertical-align: middle;}
.loginbox .t_l_content ul li span.t_word{word-spacing:26px;_word-spacing:21px;}
.loginbox .t_l_content ul li b{color:red;}
.loginbox .t_l_content ul li.t_title{color:#FC4C0F;font-size:14px;}
.loginbox .t_l_content ul li a.t_but{text-align:center;background: url(/images/login_t_images/t_pic.png);width: 61px;height: 24px;display:block;margin-left:74px;color:#FCFFF5;line-height: 24px;text-decoration: none;font-size:12px;}
.loginbox .t_l_content .t_left{width:310px;float:left;background:url(/images/login_t_images/t_left_bg.png) right center repeat-y;}
.loginbox .t_l_content .t_right{width: 280px;float: left;padding-left: 15px;}

/*Registration content*/

.Registration{width:363px;}
.Registration .loginbox .t_l_content ul{padding-left:30px;padding-top:15px;}