/*
   Theme Name: MOLV6
   Theme URI: http://wordpress.org/themes/hueman
   Description: Child Theme. Parent Theme Hueman
   Author: Roberto erhard
   Author URI: misionesonline.net
   Template: hueman
   Version: 0.1
*/
@import url("../hueman/style.css");

.site-description {
font-size: 16px;
font-style: italic;
color: red;
/* color: rgba(255,255,255,0.5); */
float: left;
margin-left: 20px;
line-height: 60px;
padding: 10px 0;
}

.site-description {
font-size: 14px;
font-style: italic;
color: black;
float: none;
margin-left: 0;
line-height: 35px;
padding: 0;
}

.site-title {
font-size: 42px;
font-weight: 600;
letter-spacing: -0.5px;
float: none;
line-height: 60px;
padding: 0;
}

.site-title a img {
display: block;
max-width: 100%;
max-height: 60px;
height: auto;
padding: 0;
margin: 0;
-webkit-border-radius: 0;
border-radius: 0;
}

#otras_noticias {
/* background-image: url(images/divisor.jpg); */
background-repeat: repeat-y;
float: left;
}

.otras_noticias_izquierda {
/* width: 340px; */
width: 48%;
float: left;
}

.etiquetasUM {
width: 250px;
margin-bottom: 2px;
text-transform: uppercase;
padding-top: 3px;
padding-left: 8px;
line-height: 13px;
font-size: 11px;
font-weight:bold;
}

.Um_titulos {
height: auto;
float: left;
width: 90%;
padding-left: 22px;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
line-height: 13px;
padding-bottom: 8px;
}

.otras_noticias_derecha {
/*width: 358px;*/
width: 48%;
float: left;
}

.col-2cl .main-inner {
background: none;
padding-right: 280px;
}

.col-2cl .s1 {
float: right;
margin-right: -280px;
}

.s1 {
width: 280px;
z-index: 2;
}

.sidebar .widget {
padding: 5px 5px !important;
}

.pad {
padding: 30px 20px 20px;
}

/*.post-list.group.papel {
  background-color: #FBF5EF;
  max-width: 100%;
  margin-left: -20px;
  padding-left:40px;
  padding-top: 20px;
  float: left;
}*/

.post-list.group.papel {
background-color: #FBF5EF;
max-width: 100%;
margin-left: -10px;
padding-left: 20px;
padding-top: 20px;
float: left;
}

div#EdicionPapel {
height: 43px;
margin-left: -10px;
float: left;
}

/*div#EdicionPapel {
  height: 43px;
  margin-left:-20px;
  float: left;
}*/
/*div#EdicionPapel img {
  max-width: 745px;
  width: 745px;
}*/

/*div#OtrasNoticiasHoy {
  height: 43px;
  margin-left:-20px;
  float: left;
}*/

div#OtrasNoticiasHoy {
height: 43px;
margin-left: -10px;
float: left;
}

/*div#OtrasNoticiasHoy img {
  max-width: 745px;
  width: 745px;
}*/

#header {
	background: rgba(252,186,111,1);
	background: -moz-linear-gradient(top,rgba(252,186,111,1) 0%,rgba(255,144,8,1) 100%);
	background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(252,186,111,1)),color-stop(100%,rgba(255,144,8,1)));
	background: -webkit-linear-gradient(top,rgba(252,186,111,1) 0%,rgba(255,144,8,1) 100%);
	background: -o-linear-gradient(top,rgba(252,186,111,1) 0%,rgba(255,144,8,1) 100%);
	background: -ms-linear-gradient(top,rgba(252,186,111,1) 0%,rgba(255,144,8,1) 100%);
	background: linear-gradient(to bottom,rgba(252,186,111,1) 0%,rgba(255,144,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcba6f',endColorstr='#ff9008',GradientType=0);
}

.nav > li {
	font-size: 15px;
}

.post-title {
	color: #444;
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.entry.excerpt {
	font-size: 14px;
	color: #444;
	line-height: 1.2em;
}

/* ELEMENTOS DE COL DERECHA*/
.mlrp_ul {
	list-style-image: url('http://www.w3schools.com/css/sqorange.gif');
	font-size: 14px;
	line-height: 1 em;
        padding:20px;
}

.widget_mostreadpostswidget {
	background: #fff;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(47%,rgba(246,246,246,1)),color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2',endColorstr='#fefefe',GradientType=0);
	margin: 0 auto;
	width: 250px;
	padding: 100px;
	text-align: left;
	color: #000;
/* border-radius */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
/* box-shadow */
	-webkit-box-shadow: 3px 6px 5px 0 rgba(0,0,0,0.46);
	-moz-box-shadow: 3px 6px 5px 0 rgba(0,0,0,0.46);
	box-shadow: 3px 6px 5px 0 rgba(0,0,0,0.46);
}

.widget_mostreadpostswidget > h3 {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0;
        margin-left: 75px;
}

.sidebar .widget {
	padding: 10px 30px;
}

.site-description {
	font-size: 14px;
	font-style: italic;
	color: black;
	float: none;
	margin-left: 0;
	line-height: 35px;
	padding: 0;
}

.site-title {
	font-size: 42px;
	font-weight: 600;
	letter-spacing: -.5px;
	float: none;
	line-height: 60px;
	padding: 0;
}

.site-title a img {
	display: block;
	max-width: 100%;
	max-height: 60px;
	height: auto;
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}





.clima {
font-size: 12px;
font-weight: 700;
color: #666;
text-align: center;
/* position: relative; */
width: 80px;
/* height: 38px; */
z-index: 999;
line-height: 14px;
text-transform: uppercase;
float: left;
}

.ciudadclima {
font-size: 10px;
color: #333;
}

#header .pad {
padding-top: 12px;
padding-bottom: 30px;
float: left;
}

#header .bloque_clima{
float: right;
margin-right: 50px;
margin-top: 5px;
}

.blog .post {
  margin-bottom: 0px;
}

.featured, .featured.flexslider {
  padding-bottom: 0px;
}

.excerpt a {
  color: blue;
}

.entry-inner a {
  color: blue;
}

.entry.excerpt p {
  margin-bottom: 1em;
}

.content > .pad {
  padding: 30px 10px 20px;
}

#page {
/* padding-bottom: 60px; */
  margin-top: -25px;
}

#header .pad {
  padding-top: 12px;
  padding-bottom: 0px;
  float: left;
}

.barra-titulo-analisis {
  margin-bottom:10px;
  overflow:auto;
}

.titulo-analisis {
  float:left;
  background-color:#B9D6E5;
  width:80%;
  padding-left:20px;
  color:black;
  font-weight:bolder;
  padding-top:2px;
}

.ver-todo-analisis {
  float:right;
  background-color:#8C2337;
  color:white;
  padding-left:5px;
  padding-right:5px;
  width:15%;
  text-align:center;
  padding-top:2px;
  font-weight:bold;
}

.ver-todo-analisis a {
  color: white;
}

.post-format {
  position: relative;
  margin-bottom: 0;
}

.thumb-icon {
  transform: none;
  -webkit-transform: none;
  background: url(/images/play-1.png);
}

.post-hover:hover .thumb-icon {
  background: url(/images/play-2.png);
  width: 92px;
}

.thumb-icon .fa-play {
  display: none;
}

.calendar-navigation .menu {
  overflow-y: scroll !important;
  height: 200px;
  top: 0px !important;
}

.calendar-navigation span.title {
  color: white;
  font-weight: bold;
}

.archive .post {
  margin-bottom: 0px;
}

.epigrafe_relacionada {
  position: absolute;
  bottom: 8px;
  overflow: hidden;
  vertical-align: baseline;
  background-color: rgba(45,45,45,.75);
  color: #fff;
  line-height: 1.2;
  font-size: 14px;
  padding: 5px;
  left: 5px;
  right: 5px;
  text-align: center;
}

.boxed #wrapper {
    max-width: 1380px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0 0;
    box-shadow: 0px 0 0;
}