@charset "utf-8";
/*


# General css for all platforms starts here.




*/
* { margin:0; padding:0; }
body{
	background-color:#7f961c;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#262626;
}
a { color:#262626; text-decoration:none; }
a:hover { color:#CA0002; }
a:hover, #topnav a:hover, #options a:hover,
#search #newto a:hover, #medsection2 #rightsection a:hover, #medsection3 #rightsection a:hover,
#rowname #head a:hover, #medsection1 a:hover, div.alert-box h4 a:hover { text-decoration:underline; }
#search #newto a, div.alert-box h4 a, #leftsection ul li a:hover { text-decoration:none; }
div#ads a:link,
div#ads a:visited,
div#ads a:active { color:#0000EE; }
h1 {
	float:left;
	font-size:20px;
	margin:10px 0 7px 0;
	width:100%;
}
h2 { font-size:18px; margin:12px 0 7px 0; }
h3 {
	clear:left;
	font-size:16px;
	margin:4px 0 6px 0;
}
p {
	clear:left;
	line-height:1.4em;
	margin:0 0 10px;
}
ul { margin:0 0 5px 0; }
ul li { margin:0 0 5px 20px; }
ul.bullet { list-style-type:disc !important; }
ul.bullet li { margin:0 0 5px 20px !important; }
ul.nobullet { list-style:none; list-style-type:none; }
ul.nobullet.nopadding li { margin-left:9px; margin-bottom:9px; }
#pagecontainer{
	margin:0 auto;
	width:1000px;
	background-color: #fff;
}


#logo{
	/*height:75px;*/
	float:left;
	width:988px;
	position:relative;
	padding:12px 0 0 12px;
	border-bottom:1px solid #fff;
	background-color:#99b53a;
}

#thelogo{
	float:left;
}


#mainnav{
	float:right;
	}


#loginForm {
	position:relative;
	margin-top:-3px;
	margin-right:12px;
	}



#loginFormLinks a {
	color:#262626 !important;
	border-right:1px solid #262626;
	margin-right:3px;
	padding-right:7px;
	font-weight:bold;

	}

#loginFormLinks a.logIn {
	border:none;
	margin-right:0;
	padding-right:0;
	}






#langSwitch {
	margin-right:12px;
	margin-top:-3px;
	margin-left:18px;
	}

#langSwitch a {
  color: #262626;
  font-weight:bold;

}

#langSwitch img { }

#loginFormFields {
	overflow:hidden;
	 position:absolute;
	 top:13px;
	 right:0;
	 width:197px;
	 background:#e0e0e0;
	 padding:12px 10px 8px;
	 border-radius:3px;
	}

#loginFormFields label {
	width:auto;
	margin:0;
	width:65px;
	text-align:left;
	padding-top:7px
	}

#loginFormFields input {
	border: 1px solid #cecfce;
    border-radius: 3px;
    color: #262626;
    height: 22px;
    width: 130px;
	margin-bottom:4px;

	}

#loginFormFields input#loginbtn {

	width:auto

	}



















#accessmenu,
#socialMedia,
#loginForm,
#radioIcon,
#langSwitch  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#262626;
}


#accessmenu {
	float:left;
	margin-top:-3px;
	}

#accessmenu a {
	border-right:1px solid #262626;
	color:#262626 !important;
	padding-right:7px;
	margin-right:3px;
	font-weight:bold;
	}

#accessmenu a.last, ul#mainnavinner li.last, ul#footerinner li.last {  border-right:none; }
#accessmenu a:visited { color:#fff; }


#socialMedia,
#loginForm,
#langSwitch,
#radioIcon {
	float:right;
	margin-left:30px;
	width:auto;
	}

#socialMedia,
#radioIcon {
	margin-top:-6px;
	}

#socialMedia a,
#radioIcon a {
	border: medium none;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	height: 19px;
	width: 20px;
	text-indent:-9999px;
	}

#socialMedia a.yt {
	background-position:-12px -51px;
	}
#socialMedia a.fb {
	background-position:0 -46px;
	}

#socialMedia a.tw {
	background-position:-23px -46px;
	}

#socialMedia a.gp {
	background-position:-47px -46px;
	}

#socialMedia a.yt:hover {
	background-position:-11px -27px;
	}

#socialMedia a.fb:hover {
	background-position:0 -23px;
	}

#socialMedia a.tw:hover {
	background-position:-23px -23px;
	}

#socialMedia a.gp:hover {
	background-position:-47px -23px;
	}


#radioIcon a {
  	width: 79px;
	background-position:-72px -45px;
	}

#radioIcon a:hover {
	background-position:-72px -23px;
	}


#radioIcon a.fr {
  	width: 102px;
	background-position:-155px -45px;
	}

#radioIcon a.fr:hover {
	background-position:-155px -23px;
	}

#socialMedia a.yt {
	background-image:url(http://cdn.ghanaweb.com/design/new_top_sprite3.png);
	background-repeat:no-repeat;
	}

#socialMedia a,
#radioIcon a {
	background-image:url(http://cdn.ghanaweb.com/design/new_top_sprite3.png);
	background-repeat:no-repeat;
	}

#topnav{ clear:both; width:745px; height:11px; overflow:hidden; padding:3px 0 6px; color:#262626; font-size:12px; margin-bottom:3px;}
#topnav a{
	font-size:11px;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
	padding-right:8px;
	padding-left:8px;
}



ul#mainnavinner {
	float:right;
	margin:0;
	padding:0;
	text-align:center;
	border:1px solid #fff;
	border-bottom:none;
}
ul#mainnavinner li {
	float:left;
	list-style-type:none;
	padding:5px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	margin:0;
	/*border-left:1px solid #000;*/

	padding:11px 0;
	line-height:16px;
}
#mainnav li a{
	color:#fff;
	padding:0 14px;
}


#mainnavinner li.navNews { background:#7f961c}

#mainnavinner li.navSports { background:#e70909}

#mainnavinner li.navBusiness { background:#13508f}

#mainnavinner li.navEntertainment { background:#6b3163}

#mainnavinner li.navCountry { background:#947f68}

#mainnavinner li.navOpinions { background:#e8b20b}

#mainnavinner li.navMembers { background:#747272}

#mainnavinner li.navWorld { background:#586a58}


ul#footerinner {
	width:450px;
	margin:0;
	padding:0;
	float:left;
}
ul#footerinner li {
	float:left;
	list-style-type:none;
	padding:5px;
	color:#fff;
	font-weight:bold;
	border-right:1px solid #eef8c6;
	margin:0;
}
li.fstyle a{
	color:#fff;
	padding:5px;
	text-decoration:none;
}
li.fstyle a:hover{
	color:#fff;
	background-color:#ca0002;
	text-decoration:none;
}
#menuliststyle{
	padding-left:0px;
	font-size:11px;
	width:209;
	padding-bottom:5px;
}
#menuliststyle a{
	color:#fff;
	padding:5px;
	text-decoration:none;
	background-color:#ff9900;
}
#menuliststyle a:hover{
	color:#fff;
	background-color:#ca0002;
	text-decoration:none;
}


#banner{
	float:left;
	background-color:#eef8c6;
	width:976px;
	vertical-align:middle;
	overflow:hidden;
	padding:12px;
	height:90px;
	overflow:hidden;
}

#gw_leaderboard {
	width:728px; height:90px; margin:0; padding:0; float:left;
	overflow:hidden
	}
#search{
	width:224px;

	float:right;
	background-color:#eef8c6;

	border-left:1px solid;
	padding:5px 0 5px 12px;
}

#search h5 {
	font-size:14px;
	padding-bottom:6px;

}

#search label, #search input {
	width:auto;
	clear:none;
	font-weight:normal;
	float:left;
	margin:0;

}
#search label {
	padding:0 8px 0 4px
	}

#search .srhType {
	float:left; padding:4px 0 0
	}


#search #searchbox{
	float:left;
	padding-bottom:7px;
	width:100%;
	_width:100%;
}
#search #searchbutton{
	float:right;
}
#search #searchbox1{
	height:25px;
	border:1px solid #cecfce;
	border-radius:3px;
	color:#262626;
	width:221px;
	_width:221px;
}
#search #searchbtn, #loginFormFields input#loginbtn {
	background-color:#7f961c;
	border:none;
	color:#FFF;
	cursor:pointer;

	height:23px;
	padding:0 5px 2px;
	border-radius:3px;
	font-weight:bold;


}

.srcType {
  float: left;
  padding-top: 4px;
  width: auto;
}
#search #newto {
	float:left;
	color:#000;
	margin-top:5px;
	width:259px;
}
#search #loginem {
	float:left;
	width:96px;
	_width:86px;
}
#search #email { width:96px; _width:86px; }
#search #loginpas {
	float:left;
	width:84px;
	_margin-right:2px !important;
}
#search #password { width:84px; }
#search #loginem, #search #loginpas { padding-top:4px; margin-right:5px; }
#search #email, #search #password {
	height:19px;
	color:#262626;
	border:1px solid #cecfce;
}
#loginbtndiv {
	float:right;
}
#search #loginbtn {
	background-color:#778E1A;
	border:1px solid #CECFCE;
	color:#FFF;
	cursor:pointer;
	height:21px;
	padding:0 0 4px;
	width:64px;
}






#loginFormLinks a.logIn:target #loginFormFields {
    display: inline-block;
}
#loginFormLinks a.logIn:target #open {
    display: none;
}









#mainbody{
	background-color:#fff;
	width:1000px;
	margin:0;
	padding:0px;
}
.menuheading {
	margin:0;
	border-bottom:1px solid #d7d7d7;
	padding:4px 0px 4px 5px;
	font-weight:bold;
	background-color:#99b53a;
}
#menuheading_advert {
	margin:0;
	border-bottom:1px solid #d7d7d7;
	padding:4px 0px 4px 5px;
	font-weight:bold;
	background-color:#99b53a;
}
#leftsection ul{
	margin:0;
	padding:0;
	list-style:none;
	width:170px;
	margin-bottom:3px;
	float:left;
	background-color:#eef8c6;
}
#leftsection ul li{
	list-style:none;
	margin:0;
	border-bottom:1px solid #d7d7d7;
	padding:4px 0px 4px 0px;
}
#leftsection ul.nounderline li{ border-bottom:0; }
#leftsection ul li a {
	display:block;
	font-weight:normal;
	padding-left:10px;
	text-decoration:none;
	font-size:11px;
}


#leftspacer{ height:500px; background-color:#eef8c6; }
#medsection0{
	float:left;
	width:1000px;
	background-color:#fff;
	font-size:11px;
	padding:0 0 15px 0;
}
#medsection1{
	background-color:#fff;
	float:left;
	width:608px;
	_width:600px;
	border:1px thin #f4f4f4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:5px 15px 25px 15px;
}
#medsection2, #medsection3 {
	float:left;
	width:808px;
	_width:800px;
	background-color:#fff;
	border:1px thin #f4f4f4;
	font-size:12px;
	padding:0 5px 15px 10px;
}
#rightsection {
	float:left;
	margin:5px 5px 0 0;
	padding:5px;
	width:170px;
	height:auto !important; min-height:600px; height:600px;
}

#medsection2 #rightsection, #medsection3 #rightsection {
	border:1px solid #666;
	background-color:#E7E7E7;
	height:auto;
	float:right;
	padding:0;
	width:160px;
}
#medsection2 #rightsection.larger, #medsection3 #rightsection.larger { width:200px; }
#medsection2 #rightsection.larger h3, #medsection3 #rightsection.larger h3,
#medsection2 #rightsection.larger p, #medsection3 #rightsection.larger p { clear:none; }
#medsection2 #rightsection img, #medsection3 #rightsection img { display:block; margin:0 auto; }
#medsection2 #rightsection .menuheading, #medsection3 #rightsection .menuheading {
	background-color:#666;
	color:#FFF;
	margin:0 0 7px 0;
	clear: left;
}
#medsection2 #rightsection p, #medsection3 #rightsection p { padding:0 8px; }
#medsection2 #rightsection a, #medsection3 #rightsection a { color:#666; text-decoration:none; width: 140px;
	overflow: hidden; margin: auto; }
#leftsection {
	float:left;
	width:170px;
	height:100%;
	margin:5px 0 5px 5px;
	border:1px solid #d5e1a9;
	background-color:#eef8c6;
}
#medsection2 a:visited, #medsection3 a:visited { color:#767676; }
#medsection3 a { color:#0000FF !important; }
#center-column {
	float:left;
	padding-right:10px;
	_padding-right:0;
	width:590px;
	_width:580px;
}
#medsection2 .adbox-center a {
    width: 140px;
    overflow: hidden;
    margin: auto;
}
#medsection2 .larger a {
    width: 180px !important;
    overflow: hidden;
    margin: auto;
}
#center-column h3, #center-column p { clear:none; }
#center-column h4 { margin:10px 0; }
#center-column .twoColumn {
	clear:left;
	margin:15px 0 0;
	width:100%;
}
#center-column .twoColumn .column1, #center-column .twoColumn .column2 { width:279px !important; }
#center-column .twoColumn .column1 h4, #center-column .twoColumn .column2 h4 { margin:10px 0; }
#center-column.forty-sixty, #center-column.thirty-forty-thirty {
	width:808px;
}
#center-column.forty-sixty .column1 {
	float:left;
	width:270px;
}
#center-column.forty-sixty .column2 {
	float:left;
	margin-left:10px;
	padding-left:10px;
	padding-top:44px;
	width:500px;
}
#center-column.forty-sixty .column2 dl.date-breakout { float:left; width:330px; }
#center-column.forty-sixty .column2 dl.date-breakout dd { width:auto; }
#center-column.forty-sixty dl.topstory { margin:0 0 15px; }
#center-column.forty-sixty dl.topstory dt { width:25%; }
#center-column.forty-sixty dl.topstory dd { width:65%; }
#center-column.thirty-forty-thirty .column1 { float:left; width:250px; }
#center-column.thirty-forty-thirty .column2 { float:left; margin-left:15px; width:360px; }
#center-column.thirty-forty-thirty .column1 h5 { font-size:13px; margin-bottom:5px; }
h5.blog_title { color:#262626; }
p.blog_small { color:#666; font-size:11px; }
#adsense_top {
	float:left;
	width:500px;
	text-align:right;
	background-color:#99b53a;
	height:17px;
	padding:4px 0;
}
#adsense_bottom {
	float: right;
	padding-top: 4px;
}
#first a{
	text-decoration:none;
	padding-left:2px;
	font-weight:bold
}
#first a:hover{
	text-decoration:underline;
	padding-left:2px;
	font-weight:bold
}


#options{ float:right; clear:none; }
#options a{
	font-size:11px;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
	padding-right:8px;
}











#headline{
	padding-top:15px;
	padding-bottom:15px;
	font-weight:bold;
	font-size:11px
}
#newsimg{ padding-right:15px; }
#rowimg{ float:left }
#rowname{
	float:left;
	padding-right:15px;
	width:280px;
	height:75px
}
#rowname #head{
	font-weight:bold;
	font-size:11px;
	padding-bottom:10px;
}
#rowname #head a{ text-decoration:none; color:#006699; }
#rowlocation{ float:left; height:75px; }
#row{
	border-bottom:1px solid #f0f0f0;
	width:530px;
	padding-top:10px;
	padding-bottom:10px
}
#footer{
	background-color:#99b53a;
	height:25px;
	clear:both;
	width:100%
}
#footer #footerrechts {
	color:#FFF;
	width:45%;
	float:right;
	padding:3px;
	text-align:right
}
img { border-width:0px }
#medsection1 a { color:#2a74ae; text-decoration:none }
#medsection1 a:visited { color:#5c7996; }
#medsection1 a:focus { outline:none }
.message { font-weight:bold; color:green; }
.error { font-weight:bold; color:red }
label{
	float:left;
	width:14em;
	font-weight:bold;
	text-align:right;
	margin-right:0.8em;
	margin-bottom:20px;
	clear:both
}
.submit{ margin-left:14.8em; clear:both }
fieldset{
	clear:both;
	border:1px solid black;
	width: 600px;
	padding-top:10px;
}
fieldset input { margin-right:3px; }
legend{ font-size:11px }
.fieldbox {
	float:left;
	width:350px;
	margin-bottom:15px
}
.photo_box {
	align:right;
	float:right;
	margin-left:5px;
	margin-bottom:5px
}

.basictab{
	clear: both;
	margin: 8px 0px 8px 0px;
	padding: 0px 0px 3px 0px;
	font-family:Verdana, Arial, Helvetica;
	font-size:11px;
	border-bottom:8px solid gray;
	list-style-type:none;
	text-align:left
}
.basictab li{ background-color:#F1F1F1; padding: 4px 10px 4px 10px ; display:inline;  margin: 0px 6px 0px 0px;}
.basictab li a{
	background-color:#F1F1F1;
	padding-bottom: 2px;
}

.basictab li a:visited{ color:blue; }
.basictab li a:hover{ color:red; }
.basictab li.selected {
	background-color:gray;
	font-weight:bold;
	color:white;
}

dt {
	float:left;
	clear:left;
	width:120px;
	text-align:right;
	font-weight:bold;
	margin-right:10px
}
dd {
	margin-left:0px;
	margin-bottom:10px;
	float:left
}
.topstory {
	float:left;
	margin:0px;
	width:100%;
}
.topstory dt {
	width:65px;
	text-align:left;
	background-color:gray;
	color:white;
	padding:3px;
	margin-right:7px;
	font-size:90%;
	height:12px;
	overflow:hidden
}
.topstory dd { padding-top:3px; margin-bottom:8px }
blockquote.pull-quote {
	background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -120px -535px no-repeat;
	margin-top:9px;
}
blockquote.pull-quote p {
	display:block;
	text-indent:20px;
	padding-bottom:3px !important;
	margin-bottom:0;
}
blockquote.pull-quote strong {
	display:block;
	text-align:right;
	padding:3px 7px 10px 0;
}
#medsection0 { padding: 0 15px 15px 15px; width: 970px; }
#left-column {
	float:left;
	position:relative;
	width:660px;
}
#live-radio-button, #live-tv-button  {
	height:22px;
	background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -25px -440px no-repeat;
	text-indent:-9999px;
	display:block;
	width:90px;
	float:left;
	margin:0 0 10px 10px;
	}

#live-tv-button {
	background-position:-25px -403px;
	width:70px

}


#ads {
	float: right;
    overflow: hidden;
    margin: 20px 0;
    width: 300px;
    position: relative;
}
#ads .ad { margin-bottom:20px; clear:both }
#ads .ad:nth-child(4) {background: #f0f8ff url(http://cdn.ghanaweb.com/images/jobs-bg.png);
    background-repeat: no-repeat; background-position: 4px -20px; border:1px solid #cddce8; }
#ads .ad:nth-child(4) ul { margin: 10px 0 10px; }
#ads .ad:nth-child(4) ul li { margin-top:6px; }
#ads .ad:nth-child(4) ul li a { color: #000; font-size: 13px; }
#ads .ad:nth-child(4) ul li a:hover { color: #064b92; }
#ads .ad:nth-child(4) .job-more { 
    padding: 0px 132px;
    background: #f3f8fd;
    border-top: solid 1px #d9eaf9;
    border-bottom: solid 1px #d9eaf9;
    font-size: 13px;
    font-weight: 700;
    color: #000;}
#ads .ad:nth-child(3) .job-more:hover {
    background: #e6eff7;
}
#top-stories { float:left; margin-top:20px; }
#portal-sections { float:left; margin: 0 0 15px; width:667px }
#top-stories #feature-story-portrait {
	background-color:#99b53a;
	color:#FFF;
	float:left;
	padding:0 0 5px 0;
	margin:0 10px 0 0;
	width:300px;
	height:205px;
}

#top-stories #feature-story-portrait .wrapper {
	width: 130px;
	height:210px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
}

#top-stories #feature-story-portrait .topkop {
	float: left;
	width: 160px;
	height: 205px;
  overflow: hidden;
}



#top-stories #feature-story-portrait a {
	color:#FFF;
}

#top-stories #feature-story-portrait img {
	display:block;
	margin:0 0 5px 0;
}

#top-stories #feature-story-portrait h2 {
	color:#FFF;
	font-size: 140%;
}

#top-stories #feature-story-landscape {
	background-color:#99b53a;
	color:#FFF;
	float:left;
	padding:0 0 5px 0;
	margin:0 10px 0 0;
	width:320px;
	height: 205px;
	overflow:hidden;
  position:relative;
}

#top-stories #feature-story-landscape .wrapper {
	width: 320px;
	height: 185px;
	margin-bottom: 5px;
	overflow: hidden;
	float: left;
}

#top-stories #feature-story-landscape .topkop {
	vertical-align: middle;
	 position:absolute;
   bottom:5px;
   background:#99b53a;
}

#top-stories #feature-story-landscape a {
	color:#FFF;
}

#top-stories #feature-story-landscape img {
	display:block;
	margin:0 0 5px 0;
}

#top-stories #feature-story-landscape h2 {
	 color:#fff;
   margin: 5px 5px 0;
   font-size: 100%;
}









#top-stories dl.topstory {
	float:left;
	width:450px;
}
#top-stories dl.topstory dd {
	clear:left;
	margin:-20px 0 9px 80px;
	width:auto;
}

.panelbox {
	background-color:#eef8c6;
	border:1px solid #dbe6b0;
	float:left;
	margin:35px 10px 0 0;
	padding:9px;
	position:relative;
	height:165px;
	width:300px;
	/*overflow: hidden;*/
}
.panelbox img {

}

.panelbox div.img {
	margin:0 5px 5px 0;
	width:100px;
	height:75px;
	float:left;
	overflow:hidden;
	/*border:1px solid #888985;*/
}
.panelbox h3 {
	background-color:#eef8c6;
	border-left:1px solid #dbe6b0;
	border-right:1px solid #dbe6b0;
	border-top:1px solid #dbe6b0;
	color:#4a4d4a;
	float:left;
	font-size:13px;
	margin:-30px 0 0 -10px;
	padding:2px 5px;
}

.panelbox h3 a {
	color:#4a4d4a;
	}

.panelbox h4 {
	color:#347138;
	font-size:15px;
	float:left;
	clear:left;
	width:100%;
	height:78px;
	overflow:hidden;
}
.panelbox h4 a {
	color:#347138;
	text-decoration:none;
}

.panelbox h4 span {
	color:#262626;
	font-weight:normal;
	font-size:11px;
}
.panelbox div.fill {
	padding-left:4px;
	position:absolute;
	right:8px;
	top:30px;
	width:145px;
}
.panelbox div.fill p { clear:none; float:none; }
.panelbox p {
	clear:left;
	float:left;
	font-weight:bold;
	margin:4px 0 2px;
	width:100%;
}
.panelbox ul {
	clear:left;
	float:left;
	margin:0;
	width:100%;
}
.panelbox ul li {
	/*list-style-image:url(http://cdn.ghanaweb.com/design/bullet_arrow_green.png);*/
	background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -45px -283px no-repeat;
	/*margin:5px 10px 0px 5px;*/
	margin:0 0 2px 1px;
	width:100%;
	list-style:none;
	display:block;
	overflow:hidden;
	height:15px
}
.panelbox ul li  a{
	padding-left:15px;
	display:block;
}

.topstory dd a:visited { color:#7f961c; }
.panelbox ul li a:visited { color:#7f961c; }
dl.resources dd a:visited { color:#7f961c; }



dl.resources {
	float:left;
	margin:0 10px 0 0;
	width:121px;
}
dl.resources dt {
	background-color:#eef8c6;
	border:1px solid #dbe6b0;
	color:#7f961c;
	font-size:14px;
	text-align:left;
	padding:5px 0 5px 5px;
	margin:0;
	width:116px;
}
dl.resources dt, dl.resources dd { float:none; }
dl.resources dd  { margin:5px 0 5px 7px;}
table { border-collapse:collapse; }
table tr td {
	border:1px solid #D5E1A9;
	padding:0.5em;
	vertical-align:top;
}
table tr td.image-holder { padding:0; }

div.house-listing {
	border:1px solid #CDCDCD;
	float:left;
	height:114px;
	padding:5px;
	margin:2px 4px 2px 0;
	width:288px
}


div.object-listing {
	border:1px solid #CDCDCD;
	float:left;
	padding:5px;
	margin:2px 4px 2px 0;
	width:288px
}

#div.object-listing:hover { cursor:pointer; }
div.object-listing img {
	float:left;
	margin:0 10px 0 0;
}
div.object-listing descr_1{ float: left;  }
div.object-listing descr_2{ float: left; clear: left;}
.option-bar {
	background-color:#CCC;
	border:1px solid #666;
	float:left;
	height:19px;
	margin:5px 0 20px 0;
	padding:5px 7px;
	width:591px;
	position:relative;
}
.option-bar p {
	border-right:1px solid #13508F;
	clear:none;
	float:left;
	margin:0 10px 0 0;
	padding-right:10px;
}
.option-bar p a { font-weight:bold; }
.option-bar ul { float:right; }
.option-bar ul li {
	border-right:1px solid #13508F;
	float:left;
	list-style:none;
	list-style-type:none;
	padding:0 10px;
	margin:0;
}
.option-bar ul li.last, .option-bar p.last { border-right:none; padding-right:0; }
#address-listing { float:left; }
#address-listing li {
	padding:0 0 0 105px;
	list-style:none;
	list-style-type:none;
	margin:0 0 8px 0;
	width:260px;
}
#address-listing li label {
	float:left;
	font-weight:strong;
	margin:0 0 0 -115px;
	width:105px;
}
#right-photo-listing { float:right; }
#right-photo-listing li { list-style:none; list-style-type:none; }
#right-photo-listing li img { width:220px; }
div.twoColumn { float:left; margin:0 0 0 -10px; _margin-left:0; }
div.twoColumn div.column1 {
	float:left;
	padding:7px 8px 0;
	_padding:7px 3px 0;
	width:270px;
	_width:255px;
}
div.twoColumn div.column2 {
	float:left;
	padding:7px 8px 0;
	width:344px;
	_width:335px;
}
div.twoColumn div.column2.noTop { padding-top:2px; }
div.twoColumn div.column1 .topstory dt { font-size:0.75em; width:78px; }
div.twoColumn div.column1 .topstory dd {
	font-size:0.9em;
	line-height:1.5em;
	padding-top:0;
	width:170px;
	_width:160px;
	height:38px;
}
ul.thumblist-stories { float:left; margin:0 0 10px 0; }
ul.thumblist-stories li {
	height:auto;
	min-height:58px;
	list-style:none;
	list-style-type:none;
	padding-left:90px;
	margin:0 0 15px 0;
}
ul.thumblist-stories li img:not(.skip) {
	border:1px solid #99b53a;
	float:left;
	height:58px;
	margin:3px 0 0 -90px;
	padding:2px;
	width:78px;
}
ul.thumblist-stories li strong { display:block; margin:0 0 3px 0; }
ul.thumblist-images { margin:0; padding:0; }
ul.thumblist-images li {
	float:left;
	padding-left:30px;
	margin:0 0 8px 0;
	list-style:none;
	list-style-type:none;
	width:170px;
}
ul.thumblist-images li h3 {
	float:left;
	font-size:14px;
	width:110px;
}
ul.thumblist-images li h3 a { color:#FF9000; }
ul.thumblist-images li p { margin:0 0 0 47px; width:80px; }
ul.thumblist-images li img { float:left; margin:0 5px 0 -20px !important; _margin-left:-11px !important; _margin-right:7px !important;  }

div.listing-news-byday {
	float:left;
	margin:0 0 20px 0;
}
div.listing-news-byday h3 {
	color:#6B6F63;
	float:left;
	font-size:1em;
	margin:0 0 2px;
	min-width:140px;
	padding:3px 6px 3px 0;
	position:relative;
	_width:140px;
}
div.listing-news-byday ul {
	background-color:#FFF;
	float:left;
	width:322px;
	margin:0 0 10px;
	padding:8px 5px 2px 0px;
}
div.listing-news-byday ul li {
	font-size:95%;
	list-style:none;
	_line-height:1.3em;
	list-style-type:none;
	padding-left:69px;
	min-height:22px;
	margin:5px 0px 5px 3px;
	_padding-bottom:7px;
}

div.listing-news-byday ul { border:1px solid #666; padding-bottom:9px; }

div.listing-news-byday ul li.item_business {height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -3px no-repeat; }
div.listing-news-byday ul li.item_entertain { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -46px no-repeat; }
div.listing-news-byday ul li.item_sports { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -90px no-repeat; }
div.listing-news-byday ul li.item_opinions { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -134px no-repeat; }
div.listing-news-byday ul li.item_news { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -178px no-repeat; }
div.listing-news-byday ul li.item_world { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -345px no-repeat; }


div.listing-news-byday ul li.item_business_nt {height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -24px no-repeat; }
div.listing-news-byday ul li.item_entertain_nt {height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -68px no-repeat; }
div.listing-news-byday ul li.item_sports_nt {height:14px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -112px no-repeat; }
div.listing-news-byday ul li.item_opinions_nt { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -156px no-repeat; }
div.listing-news-byday ul li.item_news_nt { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -200px no-repeat; }
div.listing-news-byday ul li.item_world_nt { height:15px; background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -23px -367px no-repeat; }


div#news-flash {
	border:1px solid #666;
	background-color:#E2E2E2;
	margin-left:8px;
	float:left;
	padding:0px 15px 20px 15px;
	width:592px;
}
div#news-flash img { margin-right:10px; }
div#news-flash p { clear:none; }
div.ad-holder {
	background-color:#2A743A;
	color:#FFF;
	height:120px;
	margin:30px 0;
	text-align:center;
	width:100%;
}
.height250px { height:250px !important; }
.height600px { height:600px !important; }
div.article-right {
	float:right;
	margin:0 0 10px 10px;
	width:300px;
}

div.article-left {
	float:left;
	margin:0 10px 10px 0;
	width:300px;
}

p.article-image {  border:1px solid #000; padding:2px; float:left; text-align:center; }
.article-image a { float:left; position:relative}
div.article-left div.noPrint { clear:both}

p.article-image img { }

p.article-image .image_caption {
	margin-top:1px;
	background:#ccc;
	text-align:left;
	font-size:12px;
	font-style:italic;
	font-weight:bold; 
	float:left;
	width:100%;
}

.play-icon {
    background: url(http://cdn.ghanaweb.com/design/play-icon2.png) no-repeat 50% 0;
    position: absolute;
    background-color: #e40000;
    background-size: 35px;
    left: 0;
    width: 40px;
    bottom: 0;
    margin-top: -27px;
    height: 26px;
    text-indent: -9999px;
    opacity: 0.8;
}

/*.play-icon { 
	background:url(http://cdn.ghanaweb.com/design/play-icon.png) no-repeat 50% 0;
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	margin-top:-27px;
	height:55px;
	text-indent:-9999px;
	

}*/

p.article-image a:hover .play-icon {
	background:url(http://cdn.ghanaweb.com/design/play-icon.png) no-repeat 50% -55px;
	}




.image_caption span{ padding:2px 5px; display:block; }



div.alert-box { background-color:#E0F3FF; padding:4px 6px; }
div.alert-box h4 {
	font-size:12px;
	font-style:italic;
	padding:8px 0 0;
	margin:0 0 6px 0;
}
div.alert-box.tv-icon {
	background-image:url(http://cdn.ghanaweb.com/design/tv-icon.gif);
	background-position:6px 6px;
	background-repeat:no-repeat;
}
div.alert-box.tv-icon h4 { padding:8px 0 0 33px; }
/* Archive Section */
#year-breakdown { width:160px; }
#year-breakdown h4 {
	background-color:#262626;
	color:#FFF;
	clear:both;
	text-align:center;
	padding:4px 0;
	width:100%;
}
#year-breakdown ul, #month-breakdown ul { float:left; width:100%; }
#year-breakdown ul li, #month-breakdown ul li {
	color:#CCC;
	float:left;
	list-style:none;
	list-style-type:none;
	margin:0 0 2px 0;
	text-align:center;
	padding:8px 0;
	width:40px;
}
#month-breakdown {
	background-color:#CCC;
	border:1px solid #262626;
	padding:4px 5px;
	margin:0 10px 0 10px;
	width:70px;
}
#month-breakdown h5 {
	font-size:13px;
	margin:0 0 6px;
	text-align:center;
}
#month-breakdown ul li {
	color:#262626;
	padding:4px 0 4px 10px;
	text-align:left;
	width:100%;
}
#month-breakdown ul li a { font-weight:bold; }
#month-breakdown ul li strong {
	float:right;
	margin:0 9px 0 0;
	width:35px;
}
.highlighted-item {
	background-color:#FFE7FF;
	border:1px solid #330D3C;
	padding:8px 8px 2px;
	min-height:80px;
	_height:80px;
	margin:10px 0;
}
#medsection3 .highlighted-item {
	display:inline-block;
	min-height:70px;
	padding-bottom:5px;
}
#medsection3 .highlighted-item a {
	height:auto;
	width:auto;
}
#medsection3 .highlighted-item h3, #medsection3 .highlighted-item p {
	float:left;
	width:100%;
}
#medsection3 .highlighted-item p {
	width:50%;
}
.highlighted-item a {
	float:left;
	height:76px;
	margin:0 9px 9px 0;
}
.highlighted-item h3 {
	font-size:14px;
	*float:left;
	float:left;
	margin-top:0;
	width:130px;
}
.highlighted-item h3, .highlighted-item p { clear:none; }
.highlighted-item h3 a {
	color:#6B3163;
	height:auto;
	float:left;
	margin:0;
}
/*.highlighted-item .img-container { float:left; margin:0 9px 9px 0; width: 100px; height: 75px; overflow: hidden };*/
.highlighted-item .img-container { float:left; margin:0 9px 9px 0; width: 282px; height: 131px; overflow: hidden }
.business-popular .img-container { width: 100px; height: 75px; };
.highlighted-item img { float:left; margin:0 9px 9px 0;  }
.highlighted-item.center, .ad-holder.center { margin:10px auto; width:300px; }
#flash-banner { margin:5px 0 15px 0; }
/* stock listing */
#stock-listing {
	background-color:#98B9D7;
	border:1px solid #ABD9E9;
	float:right;
	margin-top:5px;
	/*width:200px;*/
	width:186px;
}
#stock-listing h3 {
	background-color:#E0F3FF;
	color:#13508F;
	font-size:12px;
	margin:0 0 5px 0;
	padding:4px;
	_width:208px;
}
#stock-listing dl {
	font-size:10px;
	padding-left:4px;
	padding-bottom:10px;
	width:180px;
}
#stock-listing dl dt { color:#000; text-align:left; }
#stock-listing dl.two-column dt { width:100px; }
#stock-listing dl.two-column dd { width:85px; }
#stock-listing dl.three-column dt { width:50px; }
#stock-listing dl.three-column dd { width:60px; }
.business-highlighted-item {
	background-color:#E0F3FF;
	border:1px solid #ABD9E9;
	float:left;
	margin:5px 0;
	padding:8px 8px 8px 175px;
}
.business-highlighted-item img { float:left; margin-left:-165px; }
.business-highlighted-item h3 a { color:#13508F; }
dl.date-breakout { margin:8px 0; width:100%; }
dl.date-breakout dt {
	float:left;
	font-weight:bold;
	margin-left:5px;
	text-align:left;
	width:75px;
}

dl.date-breakout dd {
	/*background:url(http://cdn.ghanaweb.com/design/darkgreen_square_bullet.png) no-repeat left center;*/
	height:12px;
	width:7px;
	background:url(http://cdn.ghanaweb.com/design/png_sprite_5.png) -45px -263px no-repeat;
	clear:left;
	margin:5px 0px 15px 50px;

	padding-left:12px;

	width:100%;
}

dl.date-breakout dd.nobullet { background-image:none; padding-left:0; }

dl.normal dt {
	text-align:left;
	margin-bottom:5px;
	width:100%;
}
dl.normal dd {
	clear:left;
	padding-left:15px;
	width:100%;
}
.generic-panel {
	background-color:#E2E2E2;
	border:1px solid #E70909;
	margin:10px 0;
}
.generic-panel .menuheading { margin-bottom:8px; }
.generic-panel img {
	display:block;
	margin:0 auto;
}
/*mmmm Generic Classes mmmm*/
p.caption {
	font-weight:bold;
	padding:5px 4px 0 4px !important;
	text-align:center;
}
.floatLeft { float:left; margin:0 6px 0 0; }
.floatRight {
	clear:none;
	float:right;
	margin:0 0 0 6px;
}
.noTopMargin { margin-top:0 !important; }
.paddedBorder { border:1px solid #99b53a; padding:2px; }
.clearfix:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}
.clearfix { display:inline-block; }
html[xmlns] .clearfix { display:block; }
* html .clearfix {  height:1%; }
/* Share styles

#share{visibility:hidden;width:445px;position:absolute;top:100px;left:100px; z-index:10;}
#share .inner{width:435px;margin:5px;}
#share .inner img.cntrl {
	position:absolute;
	right:-20px;
	top:-20px;
}

#share .inner ul{width:435px;}
#share .inner li{clear:none; float:left;width:200px; margin-right:10px;}*/

#share { margin:-1px 0 0}
#share li{ /*padding-top:5px;margin-bottom:5px;*/ border:none; padding:0 5px}
#share li a{text-indent:-9999px; display:block; border:none; height:20px; width:20px; background:url(http://cdn.ghanaweb.com/design/social_sprite.png); background-position:0 0}
#share li a:hover{ }

/*.popup-box{background:#fff;padding:10px 20px;border:10px solid #7f961c;float:left;width:480px;position:fixed;top:30%;left:50%;margin:0 0 0 -250px;z-index:100;}
.popup-box .share-top{float:left;margin-bottom:5px;width:480px;}
.popup-box h3{border:0;float:left;width:480px;margin:5px 0 7px 10px;}
.popup-box ul li{list-style-type:none; clear:none; float:left;}*/





#share a.facebook{background-position:-20px 0}
#share a.twitter{ background-position:-20px -30px}
#share a.gplus{background-position:-20px -60px}
#share a.email{background-position:-20px -120px}
#share a.print{background-position:-20px -90px}

#share a.facebook:hover{background-position:0 0}
#share a.twitter:hover{ background-position:0 -30px}
#share a.gplus:hover{background-position:0 -60px}
#share a.email:hover{background-position:0 -120px}
#share a.print:hover{background-position:0 -90px}

/*#share a.print{background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -10px -638px no-repeat;}*/
.videosec{
	float:left;
	background-color:#999;
	padding:0px 8px 8px 8px;
	color:white;
	width:316px;
	height:auto;
}
.videosec h3 {
	clear:left;
	font-size:120%;
	margin-bottom:2px;
}
.videosec img { float:left; margin-right:8px; }
.videosec .v_headline{
	float:left;
	width:155px;
	height:80px;
	overflow-y:auto;
	overflow-x:hidden;
	scrollbar-base-color:#eef8c6;
}
.videosec .videodate{
	float:left;
	width:155px;
	padding-bottom:5px;
	font-size:10px;
	font-weight:bold;
}
.tinted-box {
	border:1px solid #666;
	margin-bottom:10px;
	padding:10px 10px 20px;
}
.tinted-box h2 {
	margin-top:0;
}
.tinted-box img { margin:0 15px 8px 0;}
.adbox-center {
	float:left;
	margin-right:10px;
	width:160px;
}
/** Video News Column Ends **/
.pagination_bar { width:607px; padding-bottom: 10px; }
.pagination_bar h1 {
	clear:none;
	float:left;
	width:auto;
}
.pagination_bar .pagination {
	height: 50px;
	width: auto;
	float:right;
	margin-top:10px;
	margin-bottom: 5px;
	vertical-align:bottom;
}
.pagination_bar .pagination a {
 	border:1px solid black;
 	border-top:1px solid black;
	display:inline-block;
 	padding: 3px;
 	margin-left:3px;
}
.pagination_bar .pagination .disabled {
    border:1px solid #808080;
    background-color:white;
	display:inline-block;
    padding: 3px;
    margin-left:3px;
    color:#808080;
}
.pagination_bar .pagination .current {
    border:1px solid black;
    background-color:#c0c0c0;
	display:inline-block;
    padding: 3px;
    margin-left:3px;
}

#comment_area { width:100%; background-color:#eeeaea; }

#comment_area h3 {
	background-color:#404040;
	color:white;
	font-size:100%;
	padding:3px;
}
#comment_area .google {
	margin-right:10px;
	padding:0px 6px 6px 0px;
	border-width:1px;
	border-style:none solid none none ;
	float:left;
}

#comment_area .threads {
	clear: both;
	width: 100%;
	margin-top: 15px;
}

#comment_area	.comment {
	#width:	100%;
	padding-left: 6px;
	padding-right:6px;
}


#comment_area .line1 { height:21px; background-color:#eeeaea; }

#comment_area .mlabel {
	width:100px;
	font-weight:bold;
	float:left;
}
#comment_area .line_active {
	height:21px;
	background-color:#dcd6d6;
	font-weight:bold;
}
#comment_area .subject {
	height:21px;
	width:350px;
	float:left;
	overflow:hidden;
}
#comment_area .subject_txt {
	font-size:90%;
	height:21px;
	padding-top:2px;
	padding-left:3px;
	overflow:hidden;
}
#comment_area .author {
	font-size:90%;
	height:21px;
	width:184px;
	float:left;
	overflow:hidden;
}
#comment_area .dtime {
	font-size:80%;
	height:21px;
	width:57px;
	padding-right:3px;
	float:right;
	overflow:hidden;
}
#comment_area .im_n {
	float:left;
	height:21px;
	width:9px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -7px -436px no-repeat;


}
#comment_area .im_m {
	float:left;
	height:21px;
	width:10px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -7px -401px no-repeat;
}
#comment_area .im_c {
	float:left;
	height:21px;
	width:7px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -7px -489px no-repeat;

}
#comment_area .im_t {
	float:left;
	height:21px;
	width:10px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -5px -464px no-repeat;

}
#comment_area .im_l {
	float:left;
	height:21px;
	width:8px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -4px -520px no-repeat;
}
#comment_area .im_i {
	float:left;
	height:21px;
	width:10px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -5px -549px no-repeat;
}
#comment_area .im_3 {
	float:left;
	/*width:9px;
	height:21px;
	background-image:url(http://www.ghanaweb.biz/GHP/img/sil2/3.gif); */
	height:20px;
	width:8px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -0px -556px no-repeat;
}
#comment_area .im_2 {
	float:left;
	/*width:9px;
	height:21px;
	background-image:url(http://www.ghanaweb.biz/GHP/img/sil2/2.gif); */
	height:20px;
	width:9px;
	background:url(http://cdn.ghanaweb.com/design/gif_sprite3.gif) -0px -556px no-repeat;
}


.style_table_1 { clear: both; margin: 0px; padding: 0px; border-collapse: collapse; border: 2px solid; border-color: grey;}
.style_table_1 td { padding:3px 6px 6px 5px; vertical-align: top; }
.style_table_1 th { padding:3px 6px 6px 5px;text-align: left; font-weight:bold; background-color: gray; color: white }
.style_table_1 .label {font-weight: bold;}

.classified { width: 605px; clear: both; background-color: #EEEEEE; float:left}
.classified .header { height: 40px; width: 601px; background-color: #303838; color: white; padding: 2px;}
.classified .datetime {width: 100px; float: left; font-size: 80%; vertical-align: top;}
.classified .title {width: 400px; float: left; font-size: 110%; font-weight:bold;  padding: 6px 0px 6px 0px; text-align: center;}
.classified .nr {width: 100px; float: right; font-size: 80%; text-align: right;}
.classified .content	{padding: 4px 10px; float:left; width:585px;}
.classified .imgbox {float: right; margin-left: 10px; margin-bottom:10px; }

.search_result { width: 700px; clear: both; margin-bottom: 10px; }
.search_result .URL { color: green; }

.profile {
	float: left;
	width: 400px;
	margin-left: 5px;
}

.profile dl {
	width: 100%;
}

.profile dt {
	clear: both;
	text-align:right;
	margin-bottom:5px;
	width: 120px;
}
.profile dd {
	float: left;
	padding-left:15px;
	width: 255px;
}


/* Easy CSS Tooltip - by Koller Juergen [www.kollermedia.at] */
 {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; }
 /*a:hover {text-decoration:none;} /*BG color is a must for IE6*/
a.tooltip span
{
	display:none;
	padding:10px;
	margin-left:8px;
	background:#ffffff;
	width:350px;
	text-decoration:none;
}

a.tooltip:hover
{
	font-weight: bold;
	font-size: 120%;
	text-decoration:none !important;
}

a.tooltip:hover span
{
	display:block;
	position:absolute;
	margin-top: 10px;
	border:2px solid #ff0000;
	background:#F6F4F4;
	color:#414141;
	font-weight: normal;
	font-size: 85%;
	text-decoration:none !important;
	z-index:1;
}

.threads-listings{ width:100%;}
.float-left{ float:left;}
.threads-listings #thread-rows{height:30px;}
.threads-listings #topic{width:58%;}
.threads-listings #author{width:20%;}
.threads-listings #date{width:20%;}


.option_bar{ width:auto; }
.option_bar div  { float:left;}


/*-------------*/
.clear{ clear:both;}

.profile-listing{
	margin-bottom:5px;
	width:168px;
	border:1px solid #cccccc;
	position:relative;
	height:74px;
	clear: both;
}
.square-picture
{
	margin:5px;
	float:left;
	position:absolute;
	margin-left:-4px;
	margin-top:-5px;
	clip:rect(10px, 70px, 70px, 10px);
}

.descr{
	margin:5px;
	position:relative;
	float:right;
	width:92px;
	text-align:left;
}

/* musicians Page CSS */

.musician-main-div{width:100%;}
.musician-main-div #musician-column{float:left; width:30%; margin:5px;}

#adsense_leaderboard{
	text-align: center; clear: both; padding: 6px;
}

.hmLeftNav {float:left; margin:15px 18px 15px 0; width:160px;}
.hmResources{float:left;}
.rightNavSection{height:600px;margin-bottom:10px;}
.leagueTable{float:left; width:130px;}
.featPlayer{width: 120px; float: right; margin-top: -10px;}
#navigation_advert2{margin-top:2px; margin-bottom:6px; margin-left:4px;}
#newsGoogleAd{background-color:#CACACA; border:1px solid #666; width:275x; text-align:center; padding:4px;}

/*Begin NEW entertainment news */
.entNewsPtn .column1, .entNewsPtn .column2 {width:285px; float:left;}
.entNewsPtn .column1 {margin:0 20px 0 0;}

.entNewsPtn h2 { border-top:3px solid #f8c0f8; color:#ff9000; font-size:16px; font-weight:normal; margin:0; padding:3px 0 2px; float:left; width:100%}
.entNewsPtn h2 a { color:#ff9000 !important;}
.entNewsPtn ul { list-style-type:none; background:url(http://cdn.ghanaweb.com/design/ent-dash.gif) bottom left repeat-x; clear:both; margin:0 0 15px; padding:0; width:100%;}
.entNewsPtn ul li {background:url(http://cdn.ghanaweb.com/design/ent-dash.gif) repeat-x; padding:8px 0; margin:0 0 1px 0 !important; list-style-type:none; clear:both}
.entNewsPtn li a.bullet { background:url(http://cdn.ghanaweb.com/design/bullet_ent.gif) no-repeat 2px 4px; padding-left:12px; display:block}


.entHeadline {background:url(http://cdn.ghanaweb.com/design/ent-dash.gif) repeat-x; width:100%; padding:12px 0; float:left;}
.entHeadline a, .entHeadlineMain {font-weight:bold; font-size:14px;}
.entHeadline a img, .entHeadlineMain a img {float:left; border:1px solid #fff;}
.entHeadline a img {margin:0 5px 0 0;}
.entHeadline a:hover img, .entHeadlineMain a:hover img {border:1px solid #ff9000}

.entHeadlineMain {float:left; padding:0 0 10px; position:relative; width:100%;}
.entHeadlineMain h2 { position:absolute; top:5px; left:-3px; width:auto; font-size:10px; text-transform:uppercase; border:1px solid #f8c0f8; padding:2px 5px; background:#FFFFFF}

.entNewsPtn a.archiveLink { font-weight:bold;}

.entNewsPtn ul li.break {}
.entNewsPtn ul li.break a img {float:left; margin-right:5px; border:1px solid #e7e7e7}
.entNewsPtn ul li.break a:hover img { border:1px solid #ff9000}
.entNewsPtn li.break { background:#e7e7e7; padding:6px; font-weight:bold; float:left; border:1px solid #666; margin-bottom:8px;}



/*End NEW entertainment news */


/* Recommended links on homepage css - Lionel
-------------------------------------------------------------- */
.featLks {
	width:198px;
	border:1px solid #dbe6b0;
	}

.featLks a {
	text-decoration:none
	}

.featLks h2.hd {
	background:#f5fdd6;
	}

.featLks ul {
	margin:5px 4px;
	}

.featLks li {
	margin:4px 0 8px 0;
	padding:0px;
	}

.featLks li a {
	color:#262626 !important;
	}

.featLks li a:hover {
	color:#7f961c !important;
	}

/* facebook like links on  sections - Lionel
-------------------------------------------------------------- */

/* CPC ADS - Lionel
-------------------------------------------------------------- */
.memberAdsContainer {float:left; width:160px; padding:0; border:1px solid #DBE6B0; border:none; margin:0 0 10px;}
.memberAdHeading {background:#999;padding: 4px;font-weight:bold;color:#FFFFFF;}
.memberAdHeading a {font-weight:normal; float:right; color:#FFFFFF; font-size:10px; text-decoration:underline;}
.memberAdHeading a:hover {text-decoration:none;}
.memberAd { border:1px solid #D3D3D3; border-top:none; float:left; padding:5px 4px 5px 4px; width:150px; font-size:11px}
.memberAdsContainer div.last {border:none;}
.memberAd a{text-decoration:none;}
.memberAd .title {font-weight:bold;}
.memberAd .title a { color:#262626 !important}
.memberAd .title a:hover {text-decoration:underline; color:#7E961C;}
.memberAd .info {color:#7d7d7d; font-style:italic; clear:left; float:left; margin:2px 0 0;}
.memberAd .info:hover {text-decoration:underline}
.adText {color:#262626; font-size:10px;}
.adText:hover {text-decoration:underline; color:#262626;}
.memberAd a img {float:left; margin:3px 5px 0 0; border:1px solid #f2f2f2;}
.memberAd a:hover img {border:1px solid #000;}

.memberAdsContainer ul { margin:0; list-style-type:none}
.memberAdsContainer ul li { margin:0;}
.memberAdsContainer ul li a { float:left}
.scrollContainer { height:467px; overflow:hidden; position:relative; background:#9a9a9a;}
.memberAdsContainer h2 { font-weight:normal; font-size:14px; text-align:center; margin:0; line-height:18px;  background:#9a9a9a; padding:5px 0;}
.memberAdsContainer h2 a { color:#FFF}





h2.hd {
	font-size:13px;
	border-bottom:1px solid #dbe6b0;
	font-weight:bold;
	color:#7f961c;
	padding:3px 3px 3px 4px;
	margin:0 !important;
	}

/* search form on the different section of the portal*/

.portalSearch {
	width:593px;
	padding:10px 0 10px 10px;
	float:left;
	background:#f2f2f2;
	border:1px solid #ebebeb;
	margin:0 0 15px;
	font-size:12px;
	}

.portalSearch ul {
	list-style-type:none;
	width:100%;
	float:left
	}

.portalSearch li {
	margin:0px;
	float:left;
	margin:0 10px 0 0;
	}

.portalSearch label {
	margin:0;
	width:auto;
	font-weight:normal;
	clear:none
	}

.portalSearch li label {
	padding:4px 5px 0 0;
	}

.portalSearch li input {
	font-size:13px;
	padding:0 3px;
	}

.portalSearch select {
	height:20px;
	margin:0 0 0 0;
	padding:1px ;
	}

.portalSearch option {
	padding:3px 5px;
	}

.portalSearch li input, .portalSearch select {
	font-size:13px;
	color:#747272;
	height:22px;
	border:1px solid #b6b5b5;
	}

.portalSearch li input {
	height:20px
	}

.srhBtnDiv	{
	width:583px;
	width:100%;
	float:left
	}

.srhBtn {
	border:1px solid #5a3307;
	background:#9E7241;
	float:right;
	color:#FFFFFF;
	font-size:11px;
	padding:1px 9px;
	margin:0 12px 0 0;
	}

.chkTit {
	float:left;
	margin:2px 0 0 53px;
	}

.srhBtnDiv label {
	padding:2px 0 0 5px;
	font-size:11px;
	}


/*
classifieds search
*/
.srhClassifieds input, .srhClassifieds select {
	width:235px;
	}
/*
hotels search
*/
.srhhotels input {
	width:168px;
	}

.srhhotels select {
	width:125px;
	}



/* additional style for home page to display election banner, main - Lionel
-------------------------------------------------------------- */
#top-stories dl.topstory { width:330px;}

#top-stories dl.topstory dd { widows:313px; height:14px; overflow:hidden}

#ghElections-button {position:absolute; right:20px; top:175px; width:90px; height:35px; overflow:hidden; text-indent:-9999px; background:url(http://cdn.ghanaweb.com/election2012/hm_elections_banner.jpg) no-repeat}


/* Style for Election 2012 results on homepage - Lionel
-------------------------------------------------------------- */
.canListHome{float:left;width:740px}
.canListHome h1,.canListHome h2{font-size:14px;margin-bottom:3px}
.canListHome .canWrapper{background:none repeat scroll 0 0 #808080;float:left;margin-bottom:1px;padding:9px 2px 10px 10px;width:729px}
.canListHome .can{background:none repeat scroll 0 0 #fff;height:126px;margin:0 6px 0 0;padding:4px 5px;position:relative;width:75px;float:left}
.canListHome .embImg{margin-left:0;margin-right:5px;margin-top:0;width:20px; float:left}
.canListHome .parDet h5{float:left;font-size:12px;font-weight:bold;margin:1px 3px 2px 0}
.canListHome .canImg{border:1px solid #000;margin:1px 0;width:73px}
.canListHome span.canName{display:inline-block;font-size:11px;padding:0 2px;text-align:center;width:71px}
.canResults2{color:#262626;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px;line-height:150%;margin-bottom:1px;vertical-align:top}
.canResults2 th{background:none repeat scroll 0 0 #808080;color:#fff;font-size:12px;padding:3px 15px;text-align:center;text-transform:uppercase}
.canResults2 th,.canResults2 tr td{border-bottom:1px solid #e0e0e0;border-right:1px solid #e0e0e0}
.canResults2 tr td{border-left:medium none;border-top:medium none;padding:3px;vertical-align:top;text-align:center}
.legend{clear:left;width:100%;position:relative;padding:2px 0}
.legend span{display:inline-block;padding:2px 5px;margin-right:1px;font-weight:bold}
.legend a{position:absolute;right:0;color:#2a74ae;text-decoration:underline;font-weight:bold}
.legend a:hover{color:#262626;text-decoration:none}
.canListHome .winner,.legend span{background:#faef6e}


/* additional style for Newsarchive - Lionel
-------------------------------------------------------------- */
#daysOpinions dt {
	background:#fca615;
	color:#000;
}


/* additional style for business default - Lionel
-------------------------------------------------------------- */
#center-column .bizHome{width:610px;}
#center-column .bizHome .column1{width:300px !important; padding:2px 10px 2px 0px}
#center-column .bizHome .column2{width:300px !important; padding:2px 0}
.bizHome .highlighted-item h3{width:164px;}


/* blog list style on main news page - Lionel
-------------------------------------------------------------- */
.blogLinks {float:left; margin:0 18px 15px 0; width:160px; clear:left}
.blogLinks div {margin:0 0 15px 0; float:left;line-height:130%; }
.blogLinks h5 {clear:both; border:1px solid #666666; background:#d1d1d1; border-top:none; padding:2px 6px; width:146px; color:#666666; font-weight:normal; font-size:10px }
.blogLinks h5 a {font-weight:bold;}

.blogLinks div.blg_country h5{ border-color:#947f68; background:#c7ab8c }
.blogLinks div.blg_opinions h5 {border-color:#e8b20b; background:#fff284  }
.blogLinks div.blg_entertainment h5 {border-color:#330d3c; background:#ffe7ff }
.blogLinks div.blg_business h5 {border-color:#00adef; background:#e0f3ff  }

.blogLinks .doc,
.blogLinks .ok,
.blogLinks .vero,
.blogLinks .bex,
.blogLinks .sam,
.blogLinks .kojo {
	display:block;
	width:160px;
	height:83px;
	background:url(http://cdn.ghanaweb.com/design/blogs_sprite_v3.jpg) 0 0;
	}

.blogLinks .ok { background-position:0 -83px}
.blogLinks .vero { background-position:0 -166px}
.blogLinks .bex { background-position:0 -249px}
.blogLinks .sam { background-position:0 -332px}
.blogLinks .kojo { background-position:0 -415px}



/* new layout for photo archive/reports - Lionel
-------------------------------------------------------------- */

.photoArchive {

	}

.photoArchive td {
	width:25%;
	vertical-align:middle;
	}

.photoArchive tr.caption td {

	vertical-align:top;
	text-align:center
	}

.photoArchive img {
	width:100%;
	height:auto
	}

/* additional style for photo archive/reports
-------------------------------------------------------------- */
.overButton {
	font-size: 20px;
	font-weight: bold;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #FFFFFF;
	width: 30px;
	height:29px;
	line-height:29px;
	text-align:center;
	vertical-align:middle;
	border: 1px solid;
	margin: 0 0 5px;
}


.gallery_nav td a:hover{
	text-decoration:none !important;
}
.gallery_nav{
	width:100%;
	float:left;
	margin-top:-8px;
}

.prevPhoto{
	left:5px;
}

.nextPhoto{
	right:5px;
}

.photoArchive:hover .overButton {
    display: block;
}

.gridwrapper{
	line-height: 1.5;
   -webkit-column-count: 3;
   -webkit-column-gap:   0;
   -moz-column-count:    3;
   -moz-column-gap:      0;
   column-count:         3;
   column-gap:           0;
   clear: both;
}

#share { visibility:visible !important}


/* additional style for trending article flames
-------------------------------------------------------------- */

.speechIcon {
  color: #ffffff;
  font-size: 10px;
  font-weight: normal;
  height: 22px;
  line-height: 22px !important;
  text-align: center;
  width: 27px !important;
  font-family:Tahoma, Geneva, sans-serif;
  overflow:hidden
}

.speechIcon{
	background: url(http://cdn.ghanaweb.com/design/comments-sprite.png) no-repeat;
	background-position:100% 2px;
	margin-left: 3px !important;
}
.speechIcon sup { font-size:7px;}

.graySpeechIcon,
.yellowSpeechIcon,
.orangeSpeechIcon,
.redSpeechIcon {
	background: url(http://cdn.ghanaweb.com/design/sprite5.png) no-repeat;
	background-position:100% -17px;
	width: 13px !important;
	height: 18px !important;
	margin: -1px 0 0 0 !important;
}

.yellowSpeechIcon {
	background-position:100% -34px;
	color:#262626;
}

.orangeSpeechIcon{
	background-position:100% 0;
	color:#262626;
}

.redSpeechIcon{
	background-position:100% -52px;
}

div.twoColumn div.column1 .topstory dd{
	width: 179px;
}

/* additional style for outbrain widget
-------------------------------------------------------------- */
.AR_3 ul, .AR_3 ul li{
	margin-left: 0;
}

.AR_3 ul { padding-right:5px;}


.AR_3 .rec-link {
  color: #262626 !important;
  font-size: 14px !important;
  font-weight: bold;
  line-height: 1.4em;
}

.AR_3 .ob_dual_left, .AR_3 .ob_dual_right {
  float: left;

  width: 297px !important;
}
.AR_3 .ob_dual_left,
#outbrain_widget_0 .ob_dual_left {
  padding-right:12px !important;
}


.chimney-home{
  float: left;
  overflow: hidden;
  width: 200px;
  margin: 0 0 20px;
}


#thelogo img{ width:auto; height:64px; }
