@charset "utf-8";
/* CSS Document */


body{font: 12pt Times, serif;}

#pagecontainer{}
#banner{ display: none;}
#search{ display: none;}
#search #searchbox{}
#search #searchbutton{}
#search #searchbox1{}
#search #searchbtn{}
#search #newto {display: none;}
#search #newto a{}
#search #newto a:hover{}
#search #loginem{}
#search #loginpas{}
#search #loginbtndiv{}
#search #email{}
#search #password{}
#search #loginbtn{}

#share{display: none;}
.option-bar {display: none;}

#logo{ display: none;}
#thelogo{}

#mainbody{}

#leftsection{display: none;}
#menuheading {}

#left ul{}
#left ul li{}
#left ul li a{}
#left ul li a:hover{}

#medsection1{width:100 %}
#rightsection{display: none}

#first a{}
#first a:hover{}
#topnav{}
#topnav a{font-size:11px;color:#fff;text-decoration:none;font-weight:normal;padding-right:8px; padding-left:8px;}
#topnav a:hover{text-decoration:underline;}

#options{float: right; clear: none;}
#options a{font-size:11px;color:#fff;text-decoration:none;font-weight:normal;padding-right:8px;}
#options a:hover{text-decoration:underline;}


#mainnav{ display: none}
ul#mainnavinner { }
ul#mainnavinner li { }

li#active {border:1px solid #d5e1a9;color:#fff; background-color:#ca0002}
li#inactive a{color:#fff; padding:5px 5px 5px 5px; text-decoration:none;}
li#inactive a:hover{color:#fff; background-color:#ca0002; text-decoration:none;}

ul#footerinner { width:1000px; margin:0; padding:0;float:right;}
ul#footerinner li { float:left; list-style-type:none; padding:5px 5px 5px 5px; color:#fff; font-weight:bold; border-right:1px solid #d5e1a9;}
li#fstyle a{color:#fff; padding:5px 5px 5px 5px; text-decoration:none;}
li#fstyle a:hover{color:#fff; background-color:#ca0002; text-decoration:none;}

#menuliststyle{padding-left:0px; font-size:12px; width:209; padding-bottom:5px;}
#menuliststyle a{color:#fff; padding:5px 5px 5px 5px; text-decoration:none; background-color:#ff9900;}
#menuliststyle a:hover{color:#fff; background-color:#ca0002; text-decoration:none;}

.linkgreen { text-decoration:none; color:#7e961b; font-weight:bold;}
.linkgreen:hover{text-decoration:underline; font-weight:bold;}
#headline{ padding-top:15px; padding-bottom:15px; font-weight:bold; font-size:16px}
#newsimg{ padding-right:15px;}

#rowimg{float:left}
#rowname{float:left;padding-right:15px; width:280px; height:75px}
#rowname #head{font-weight:bold; font-size:12px; padding-bottom:10px;}
#rowname #head a{ text-decoration:none; color:#006699;}
#rowname #head a:hover{ text-decoration:underline}
#rowlocation{ float:left; height:75px;}

#row{border-bottom:1px solid #f0f0f0; width:530px; padding-top:10px; padding-bottom:10px;}

#footer{display: none;}

img {border-width: 0px;}

.floatLeft {
	float:left;
}
.floatRight {
	clear:none;
	float:right;
}

#accessmenu {display: none; }
#adsense_top {display: none;}
.option-bar {display: none;}
div.noPrint {display:none;}
