/**
 *     project responsive
 */
@media only screen and (max-width: 1199px) {
    .logo {padding-right: 0;}
    .logo img { max-width: 160px; }
    .nav-side {padding-left: 0;}
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a.dropdown-toggle {padding: 15px 12px;}
    .navbar-default .navbar-nav > li > a { font-size: 13px; }
    .document-header h1 {font-size: 44px !important; line-height: 50px; margin-top: 30px; margin-bottom: 15px;}
    .document-intro {margin-bottom: 0;}
    .home .document-intro p {font-size: 22px; line-height: 26px;}
    .content-module-faq h2 img {display: none;}
    /*.home-feature h2 {font-size: 20px;}*/
    .product-list .col-md-2 {margin-right: -10px;}
    .left-submenu { left: auto; right: 0; }
    .copyright {padding-top: 40px;}
}

@media only screen and (max-width: 991px) {
    .site-footer {
        padding-bottom: 0;
        background: linear-gradient(to bottom, #1a8cd2 50%, #0069aa 50%);
    }
    .footer-col-1,
    .footer-col-2 {
        float: left;
        height: 100px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .footer-col-1 {width: 100%;}
    .footer-nav {
        padding-top: 22px;
    }
    .copyright {padding-top: 38px;}
    .journals-list-nav {padding-left: 0;}
    .nav-secondary li.lang-switcher {padding: 0 8px;}
    .site-header .container {position: relative;}
    .logo, .nav-side {position: static;}
    .nav-secondary {position: absolute; top: 0; right: 0;}
    .logo {padding-bottom: 0;}
    .logo:after {display: none;}
    .nav-side:after {width: 95%;}
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a.dropdown-toggle {padding: 15px 12px;}
    .document-header h1 {font-size: 44px !important; line-height: 50px;}
    .document-intro {margin-bottom: 0;}
    .home .document-intro p {font-size: 22px; line-height: 26px;}
    .home .document-intro {padding-bottom: 20px;}
    .journals-list-nav {padding-left: 15px;}
    .home-mid-col {
        padding-right: 15px;
        padding-left: 30px;
    }
    .home-featured-videos {
        padding-right: 1em;
        padding-left: 1em;
        background-image: linear-gradient(#e5f2f8, #EFFDFF);
    }
    .featured-video__item {
        display: inline-block;
        width: 32.7%;
        vertical-align: top;
    }
    .request-demo a.btn-default {margin-left: 0;}
    .content-module-faq {background: transparent; padding: 0;}
    .demo-button {padding-left: 75px;}
    .link-video a {display: inline-block;}
    .searchform .form-group {width: auto;}
    #journals_list thead {display: none;}
    #journals_list td {display: block; width: 100%;}
    #journals_list td + td {font-style: italic;}
    #journals_alphanav a {border-width: 1px; border-radius: 7px; margin: 3px;}
    #journals_alphanav li:last-child a, #journals_alphanav li:first-child a {border-radius: 7px;}
    .demo-button {padding-left: 43px;}
    .tooltip {display: none !important;}
    .product-list .col-md-2 {margin-right: 0px;}
    .left-submenu {margin-left: -86% !important;}
    .home .document-intro {padding-bottom: 0; margin-bottom: 15px;}
    .home .document-header {padding-bottom: 15px;}
    .home-features {margin-top: 20px;}
    .blog-thumb a img {padding-bottom: 10px;}
}

@media only screen and (max-width: 767px) {
    .navbar-nav > li > .dropdown-menu {display: block; float: none; position: relative; }
    .dropdown-menu {box-shadow: none; border: none;}
    .dropdown-menu, .multi-column-dropdown.right-column {background: transparent;}
    .multi-column-dropdown.right-column li a {border-bottom: none;}
    .left-submenu {margin-left: 0 !important;}
    .dropdown-menu, .multi-column-dropdown, .multi-column-dropdown.right-column {padding: 0 0 0 30px;}
    .navbar-header {position: relative; top: -15px;}
    .navbar {top: -50px; z-index: 9999;}
    .navbar-default .navbar-nav > li > a.search-icon {display: none;}
    .navbar-default .navbar-toggle {border-color: transparent; background: transparent; margin-right: 0; padding: 10px 0 0 0; border-radius: 0;}
    .navbar-default .navbar-toggle:hover {background: transparent;}
    .navbar-default .navbar-toggle .icon-bar {background: #0069aa; height: 3px; width: 25px;}
    .navbar-default .navbar-toggle:hover .icon-bar {background: #3F9FBD;}
    .follow-us {padding-left: 20px;}
    .follow-us, .journals-list-nav {width: 50%; float: left;}
    .home .site-main {padding-bottom: 60px;}
    .home-features {margin-bottom: 4em;}
    .home-feature__image {
        max-width: 265px;
        margin-right: auto;
        margin-left: auto;
    }
    .home-customers {margin-bottom: 2em;}
    .customer__content {font-size: 1.05em;}
    .document-header {margin-bottom: 10px;}
    .nav-side {height: 0;}
    .site-header .container .row {border: none;}
    .product-infographic {display: none;}
    /*Increase Responsive Side Space*/
    .row {margin-left: 0; margin-right: 0;}
    .document-header {margin-left: 15px; margin-right: 15px;}
    .site-main {padding-bottom: 0;}
    .content ul {padding-left: 25px;}
    .navbar-collapse {padding-left: 0;}
    .site-header .row {margin-left: -15px; margin-right: -15px;}
    #journals_search {display: none;}
    #journals_alphanav {margin-top: 30px;}
    .product-box figure {width: 93%}
    #searchform_field, .searchform label, .searchform button {margin-left: 0;}
    .nav-article-meta ul {padding-left: 0;}
    .blog-content, .blog-thumb {margin-left: -15px;}
    .partners article {margin-left: -15px;}
    nav.nav-prevnext ul {padding-left: 0;}
    .content-timeline h3:before, .content-timeline:before {display: none;}
    .content-timeline {left: 0;}
    .form-group {margin-bottom: 5px;}
    .content {padding-top: 10px;}
    .search-results .content form.searchform {margin-top: 10px}
    .home .document-header {padding-bottom: 30px;}
    li.responsive-only form input.search-field {background: transparent; border-radius: 0; border: none; border-bottom: 1px solid #eee; margin-left: 15px; width: 80%; color: #eee;}
    li.responsive-only form input.search-field::-moz-placeholder {color: #eee; opacity: 1;}
    li.responsive-only form input.search-field::-webkit-input-placeholder {color: #eee;}
    li.responsive-only form input.search-field::-moz-placeholder {color: #eee;}
    li.responsive-only form input.search-field::-ms-input-placeholder {color: #eee;}
    .document-intro p {padding-right: 0px;}
    /*New Off Canvas Menu Stuff*/
    .navbar-toggle {margin-top: 0;}
    .nav-secondary {display: none;}
    .responsive-only {display: block !important;}
    .nav-open {-webkit-transform: translateX(-270px); -moz-transform: translateX(-270px); -ms-transform: translateX(-270px); transform: translateX(-270px);}
    .navbar-collapse {background: #0069aa; z-index: 101; display: block; overflow-x: hidden; position: fixed; right: 0; top: 0; -webkit-transform: translateX(270px); -moz-transform: translateX(270px); -ms-transform: translateX(270px); transform: translateX(270px); width: 270px; height: 100%; padding-top: 10px; margin: 0;}
    .navbar-nav {margin: 0;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: transparent;}
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a.dropdown-toggle {padding: 6px 15px; color: #fff;}
    .dropdown-menu > li > a, .multi-column-dropdown li a, .multi-column-dropdown.right-column li a {border-color: transparent; padding: 3px 0; color: #ddf2ff; box-shadow: none;}
    .multi-column-dropdown.right-column li a img {display: none;}
    .multi-column-dropdown.right-column li {padding-left: 0;}
    .multi-column-dropdown.right-column li.for-authors a, .multi-column-dropdown.right-column li.for-prospective-customers a, .multi-column-dropdown.right-column li.for-current-customers a {padding: 3px 0; color: #ddf2ff;}
    .navbar-default .navbar-nav > li > a:hover, .dropdown-menu > li > a:hover, .multi-column-dropdown li a:hover {color: #3f9fbd;}
    .multi-column-dropdown.right-column li.for-authors a:hover, .multi-column-dropdown.right-column li.for-prospective-customers a:hover, .multi-column-dropdown.right-column li.for-current-customers a:hover {color: #3f9fbd;}
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li:hover a {background: transparent;}
    /*NEWER Canvas Nav*/
    #nav_main {display: none;} /*Get rid of Bootstrap menu*/
    .responsive-nav {display: block; background: #0069AA; width: 270px; height: 100%; z-index: 101; position: fixed; right: 0; top: 0; padding-top: 10px; -webkit-transform: translateX(270px); -moz-transform: translateX(270px); -ms-transform: translateX(270px); transform: translateX(270px);}
    .toggle-nav {display: block; font-size: 30px; color: #0069AA; padding-top: 35px; padding-right: 15px; cursor: pointer;}
    .logo {width: 80%; float: left;}
    .nav-open {-webkit-transform: translateX(-270px); -moz-transform: translateX(-270px); -ms-transform: translateX(-270px); transform: translateX(-270px);}
    .responsive-nav ul {list-style-type: none; padding-left: 0;}
    .responsive-nav li {padding: 4px 10px;}
    .responsive-nav li a {font-size: 15px; color: #fff; text-transform: uppercase; font-family: "Montserrat"; font-weight: bold; padding: 6px 15px;}
    .responsive-nav li a:hover {color: #3f9fbd;}
    .responsive-nav ul.children li {padding: 0 10px;}
    .responsive-nav ul.children li a {font-size: 15px; font-weight: 300; color: #ddf2ff; text-transform: none; font-family: "Muli";}
    .responsive-nav ul.children li a:hover {color: #3f9fbd;}
    .responsive-nav li form input.search-field {background: transparent; border-radius: 0; border: none; border-bottom: 1px solid #eee; margin-left: 15px; width: 80%; color: #eee; font-size: 14px;}
    .responsive-nav li form input.search-field::-moz-placeholder {color: #eee; opacity: 1;}
    .responsive-nav li form input.search-field::-webkit-input-placeholder {color: #eee;}
    .responsive-nav li form input.search-field::-moz-placeholder {color: #eee;}
    .responsive-nav li form input.search-field::-ms-input-placeholder {color: #eee;}
    html {background: #0069aa;}
}

@media only screen and (max-width: 600px) {
    .site-footer {background: linear-gradient(to bottom, #1a8cd2 170px, #0069aa 170px);}
    .footer-col-1 {height: 170px;}
    .footer-col-2 {height: auto;}
    .copyright {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .copyright p {margin: 0;}
    .journals-list-nav {
        width: 100%;
        margin-bottom: 0.7em;
    }
    .follow-us {
        width: 100%;
        padding: 0;
    }
    .follow-us ul {text-align: left;}
    .testimonials-list .testimonial {background: transparent; padding-left: 0;}
    .home .document-header {padding-bottom: 15px;}
    .home-feature {
        padding-bottom: 2em;
    }
    .home-feature h2,
    .home-feature__desc p {
        text-align: left;
    }
    .home-feature h2 {
        font-size: 21px;
    }
    .home-feature__image {display: none;}
    .home-feature__desc .call-to-action {display: none;}
    .home-recent__thumb-wrap {width: 90px;}
    .home-recent__thumb {
        width: 75px;
        height: 75px;
    }
    .home-recent__content {width: calc(100% - 90px);}
    .home-cpt-links__list li {position: relative;}
    .home-cpt-links__list li:nth-child(n+2)::before {display: none;}
    .home-cpt-links__list li:first-child {padding-bottom: 0.7em;}
    .home-cpt-links__list li:first-child::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 50px;
        height: 1px;
        margin-left: -25px;
        background: #ccd1d9;

    }
    .content .home-recent__title {font-size: 1em;}
    .home-cpt-links__list li {
        display: block;
    }
    .featured-video__item {width: 48.5%;}
    .featured-video__thumb {border: 6px solid rgba(255,255,255,0.6);}
    .featured-video__thumb:hover {border: 6px solid rgba(255,255,255,1);}
    .solution-logos li {margin-right: 0; width: 50%;}
    .solution-logos ul {width: 100%;}
    .solution-logos li a img {max-width: 100%; height: auto;}
}

@media only screen and (max-width: 480px) {
    .copyright {padding-right: 40px;}
    .nav-secondary {display: none;}
    .document-header h1 {font-size: 26px !important; line-height: 30px; margin-top: 20px;}
    .home .document-intro {display: none;}
    .home-feature {
        padding-bottom: 0.5em;
        margin-bottom: 2.1em;
    }
    .home-recent__thumb-wrap {display: none;}
    .home-recent__content {width: 100%;}
    .content .featured-video__thumb,
    .content .featured-video__title,
    .featured-video__meta {
        max-width: 130px;
    }
    .product-box figure {width: 87%;}
    body.home .content {padding-top: 0;}
    #to-top {visibility: visible;}
}

@media only screen and (max-width: 375px) {
    .content .featured-video__thumb,
    .content .featured-video__title,
    .featured-video__meta {
        max-width: 115px;
    }
    .looking-for-demo img {padding-bottom: 65px;}
    .product-box figure {width: 80%;}
}
