/**
Theme Name: Bedstone by Windmill Design
Author: Windmill Design
Author URI: http://www.windmilldesign.com
Description: A custom theme by Windmill Design.
Version: 1.15.04
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/*Wordpress Default Alignments*/
.alignleft {display: inline; float: left; margin-right: 1.5em;}
.alignright {display: inline; float: right; margin-left: 1.5em;}
.aligncenter {clear: both; display: block; margin: 0 auto;}

/*Bootstrap Overrides*/
.dropdown:hover .dropdown-menu {display: block;}
.no-gutter {padding-left: 0; padding-right: 0;}

/*Body / Link Overrides*/
html {font-size: 16px; position: relative; /* for sticky-site-footer */ min-height: 100%; /* for sticky-site-footer */}
body {font-family: 'Muli'; font-size: 16px; color: #333; line-height: 26px; font-weight: 300; transition: all 0.25s cubic-bezier(0.54, 0.12, 0.2, 1) 0s;}
a:focus, a img, input:focus, textarea:focus, button:focus {outline: 0 none;}
a.click-to-call, a.click-to-call:visited, a.click-to-call:hover, a.click-to-call:active {color: inherit; text-decoration: inherit;}
a, a:visited {color: #068cb2; text-decoration: none;}
a:hover {color: #0f6c86; text-decoration: none;}
a:active {color: #0d3844; text-decoration: none;}
a:focus {color: #065d76; text-decoration: none;}
::-webkit-selection {background: #1A8CD2; color: #FFF; text-shadow: none;}
::-moz-selection    {background: #1A8CD2; color: #FFF; text-shadow: none;}
::selection         {background: #1A8CD2; color: #FFF; text-shadow: none;}

/*Site Logo*/
.logo {padding-top: 10px;}
.logo img {max-width: 184px; height: auto;}

/*Nav Secondary*/
.nav-secondary {text-align: right; padding-top: 10px;}
.nav-secondary ul {list-style: none; padding: 0;}
.nav-secondary li {display: inline-block;}
.nav-secondary li a {}

/*Breadcrumbs*/
.nav-breadcrumbs {}
.nav-breadcrumbs ul {list-style: none; padding: 0;}
.nav-breadcrumbs li {display: inline-block;}
.nav-breadcrumbs li:before {content: '\00a0\003E\00a0'; /* &gt; */}
.nav-breadcrumbs li:first-child:before {content: '';}
.nav-breadcrumbs li a {}

/*Document Header / Page Title*/
.document-header {margin-bottom: 30px;}
.document-header h1 {font-weight: 300; font-size: 36px; color: #2e3e58; line-height: 107%; margin-bottom: 20px; margin-top: 30px; text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);}
.document-intro {font-weight: 300; font-size: 18px; color: #727a89; line-height: 28px; margin-bottom: 15px; text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);}
.document-intro p {margin-bottom: 30px; padding-right: 70px;}

/*Style Guide / Wysiwyg Content*/
.content {padding-top: 0px; padding-right: 30px;}
.content img {max-width: 100%; height: auto;}
.content p {color: #333; font-weight: 300;}
.content p a {}
.content p a:hover {text-decoration: underline;}
.content h2, h2 {font-size: 30px; color: #2e3e58; line-height: 30px; margin-bottom: 15px; margin-top: 25px;}
.content h3, h3 {font-family: 'Montserrat'; font-weight: bold; font-size: 28px; color: #2d3d59; text-transform: uppercase; line-height: 36px; margin-top: 25px; margin-bottom: 15px;}
.content h4 {font-size: 22px; line-height: 1.4; color: #188cb0; clear: both; margin: 10px 0;}
.content h5 { color: #0c8db3; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 20px; line-height: 1.25; text-transform: uppercase; margin-top: 25px; }
.content h6 { color: #727a89; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 20px; line-height: 1.25; text-transform: uppercase; margin-top: 25px; }
.content ul ul, .content ul ol, .content ol ul, .content ol ol {margin-top: .5rem; margin-bottom: 0;}
.content li {margin-bottom: .5rem; line-height: 1.333;}
.content .callout {font-size: 18px; font-weight: 300; color: #8e9298; line-height: 32px; letter-spacing: .2px;}
.content .callout a {color: inherit;}
.content .callout a:visited, .content .callout a:hover, .content .callout a:active {}
.content .footnote {font-size: 10px; color: #8e9298; line-height: 16px; margin-top: 30px;}
.content .footnote a {}
.content .footnote a:visited, .content .footnote a:hover, .content .footnote a:active {}
.call-to-action {font-size: 18px; color: #068cb2; margin-top: 15px; margin-bottom: 30px; font-weight: normal;}
.call-to-action a {}
.call-to-action a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 8px;}
.call-to-action a:visited, .content .call-to-action a:hover, .content .call-to-action a:active {text-decoration: none;}
.article-header {}
.article-header h1 {}
.article-header h1 a {}
sub, sup {font-size: 50%;}
.content h4 + p {}

/*Content list*/
.content-list article + article {margin-top: 2em;}

/*Article Meta & Pagination*/
.nav-article-meta {padding-top: 10px;}
.nav-article-meta ul {list-style: none; padding: 0; line-height: 18px;}
.nav-article-meta li {display: inline;}
.nav-article-meta li:before {content: '\00a0\2013\00a0'; /* &ndash; */}
.nav-article-meta li:first-child:before {content: '';}
.nav-article-meta li a {}
.nav-prevnext {overflow: hidden; margin: .5rem 0;}
.nav-prevnext ul {list-style: none; padding: 0;}
.nav-prevnext li {width: 40%; float: left;}
.nav-prevnext li.nav-item-next {float: right; text-align: right;}
.nav-prevnext li a {}
.nav-prevnext li.nav-item-prev a:before {}
.nav-prevnext li.nav-item-next a:after {}
.nav-pagination {overflow: hidden; margin: .5rem 0;}
.nav-pagination ul {list-style: none; padding: 0;}
.nav-pagination li {display: inline-block;}
.nav-pagination ul.page-numbers li:first-child {border-top-left-radius: 7px; border-bottom-left-radius: 7px; border: 1px solid #dddddd;}
.nav-pagination ul.page-numbers li {float: left; border: 1px solid #ddd; border-left: none; font-size: 14px; padding: 10px 15px;}
.nav-pagination ul.page-numbers li:last-child {border-top-right-radius: 7px; border-bottom-right-radius: 7px;}



/* ==================================================
  Site Footer
================================================== */
/*body.sticky-site-footer {margin-bottom: 230px;}*/
/*body.sticky-site-footer .site-footer {height: 230px; position: absolute; bottom: 0; width: 100%;}*/
.site-footer {
    background: linear-gradient(to left, #1a8cd2 50%, #0069aa 50%);
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 1em;
    color: #fff;
}
.site-footer a:hover {
    color: #8E9298;
}
.footer-col-1 {
    float: right;
    padding-left: 2em;
}
.footer-col-2 {
    padding-right: 2em;
}
.footer-nav {
    height: 100%;
    padding-top: 40px;
}

/* ========== Footer Left col ========== */
.copyright {
    line-height: 14px;
    padding-top: 50px;
}
.copyright p {
    font-weight: 300;
    font-size: 10px;
    color: #aebfce;
}
.copyright a,
.copyright a:hover {
    color: #eee;
}

/* ========== Footer Right col ========== */
.follow-us ul {
    list-style-type: none;
    margin: 5px 0 20px 0;
    padding: 0;
    text-align: right;
}
.follow-us li {
    display: inline-block;
    margin-left: 0.4em;
    font-size: 1.7em;
    color: #fff;
}
.follow-us li:first-child {margin-left: 0;}
.follow-us li a {
    display: inline-block;
    width: 2em;
    height: 2em;
    padding-top: 0.4em;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    color: inherit;
    text-align: center;
    line-height: 1em;
    transition: border-color 0.25s;
}
.follow-us li a:hover,
.follow-us li a:focus {
    border-color: rgba(255,255,255,1);
    color: inherit;
}

/* ========== Journals ========== */
.journals-list-nav p {
    margin-bottom: 0;
}
.journals-list-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.journals-list-nav li {
    font-size: 0.95em;
    color: #fff;
    padding: 1px 0;
}
.journals-list-nav li a {
    color: inherit;
}
.journals-list-nav li a:hover,
.journals-list-nav li a:focus {
    color: #98b1c9;
}
.journals-list-nav img.list-nav-icon {
    width: 30px;
    height: 17px;
    padding-right: 5px;
    position: relative;
    top: -2px;
}
.footer-twitter .twitter-icon {
    text-align: right;
    font-size: 40px;
}
.footer-twitter .twitter-feed {
    font-size: 18px;
    padding-top: 8px;
}




/*Search Form*/
.searchform {}
.searchform h2 { margin-top: 0; }
.searchform .form-group { width: 40%; }
.searchform .form-group + .form-group { width: auto; }
.searchform label { margin-left: 10px; color: #2e3e58; font: normal 21px/1 'Muli', arial, sans-serif; letter-spacing: 1px; }
#searchform_field { width: 95%; margin-left: 15px; }
#search_filter { max-width: 300px; }
.searchform button { margin-left: 12px; color: #768295; }
.searchform button:after { content: '\00a0\00a0\f0da'; font: normal normal 400 .8em/1 FontAwesome; }
.navbar-form {padding-left: 0;}

/*Comments*/
.comment-form .form-submit,.comment-form .form-allowed-tags {display: none;}
.comment-form .form-group {width: 90%; max-width: 500px;}/* most of these are defined in functions.php */

/******************************************Custom Windmill Design Styles***********************************************/

/*Container Padding*/
.site-main {padding-bottom: 70px;}

/*Header*/
.site-header {background-image: url('images/banner-light.png'); background-repeat: no-repeat; background-size: cover; background-position: top center;}
.logo, .nav-side {position: relative;}
/*.logo:after {content: " "; height: 1px; width: 90%; background: #bac8d0; display: block; position: absolute; left: 15px; bottom: -5px;}
.nav-side:after {content: " "; height: 1px; width: 100%; background: #bac8d0; display: block; position: absolute; right: 25px; bottom: 0;}*/
.site-header .container .row {border-bottom: 1px solid #bac8d0;}

/*Navbar*/
.navbar {margin-bottom: 0; min-height: 40px;}
.navbar-default {background: transparent; border: none;}
.navbar-collapse {padding-left: 0;}
.navbar-default .navbar-nav > li > a {font-family: 'Montserrat'; font-weight: bold; font-size: 15px; color: #2e3e58; text-transform: uppercase; padding: 25px 17px;}
.navbar-default .navbar-nav > li > a.search-icon {color: #188cb0; padding-right: 0; cursor: pointer;}
.navbar-default .navbar-nav > li > a.search-icon:hover {background: transparent;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li:hover > a {color: #2e3e58; background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 75%, rgba(255,255,255,0) 100%);}
.navbar-default .navbar-nav > li > a.dropdown-toggle {padding: 25px 15px;}
.navbar-default .navbar-nav > li > a.dropdown-toggle:after {content: "\f107"; font-family: 'FontAwesome'; padding-left: 7px;}
/*Dropdown Menu*/
.dropdown-menu.columns-2 {min-width: 500px;}
.multi-column-dropdown {list-style: none; padding: 10px 25px 10px 21px;}
.multi-column-dropdown li a {display: block; clear: both; line-height: 1.428571429; color: #333; white-space: normal; padding: 3px 20px;}
.multi-column-dropdown li a:hover {text-decoration: none; color: #262626; background-color: #f5f5f5;}
.dropdown-menu {background: rgba(50,59,79,.91); padding: 10px 25px 7px 21px;}
.multi-column-dropdown.right-column {background: #2e3647; height: 258px; padding: 7px 0 3px 0;}
.dropdown-menu.multi-column.columns-2 {margin: 0; padding: 0;}
.dropdown-menu > li > a, .multi-column-dropdown li a {font-weight: 300; font-size: 16px; color: #fff; border-bottom: 1px solid #555d6d; box-shadow: 0 1px 0 #2d323f; padding: 8px 25px 8px 2px;}
.dropdown-menu > li:last-child > a, .multi-column-dropdown li:last-child a {border-bottom: none; box-shadow: none;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .multi-column-dropdown li a:hover, .multi-column-dropdown li a:focus {background: transparent; color: #dae5fd;}
.multi-column-dropdown.right-column li {padding-left: 25px; padding-right: 25px;}
.multi-column-dropdown.right-column li a {box-shadow: 0 1px 0 #242a38}
.multi-column-dropdown.right-column li.for-authors a {padding-top: 25px; padding-bottom: 25px;}
.multi-column-dropdown.right-column li.for-authors a img {position: relative; top: -3px;}
.multi-column-dropdown.right-column li.for-prospective-customers a {padding-top: 25px; padding-bottom: 25px;}
.multi-column-dropdown.right-column li.for-prospective-customers a img {position: relative; top: 9px;}
.multi-column-dropdown.right-column li.for-current-customers a {padding-top: 25px; padding-bottom: 25px; box-shadow: none;}
.multi-column-dropdown.right-column li.for-current-customers a img {position: relative; top: 10px;}
.multi-column-dropdown.right-column li a img {display: block; float: left; padding-right: 20px;}
.left-submenu {margin-left: -75%;} /*Make about submenu load to the left*/
/*Secondary Nav*/
.nav-secondary li {padding: 0 14px; font-size: 14px;}
.nav-secondary li:last-child {padding-right: 0;}
.nav-secondary li.lang-switcher {font-family: 'Lato'; font-weight: 800; font-size: 11px; text-transform: uppercase; padding: 0 12px;}
.nav-secondary li.ja-switcher {padding-right: 40px;}





/* =================================================================================
  Home Page
================================================================================= */

.home .content {
    padding-right: 0;
    padding-left: 0;
}

.home .container-non-site-footer-elements {
    padding-bottom: 0;
}

.home .site-header {
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,1) 70%), url('images/banner-light.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


/* ==================================================
  Home Document Header
================================================== */
.home .document-header {
    /*padding-bottom: 85px;*/
}
.home .document-header h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.875em;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.home .document-intro {
    margin-bottom: 25px;
}
.home .document-intro p {
    font-weight: 300;
    font-size: 1.23em;
    text-align: center;
    font-style: italic;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    line-height: 30px;
    margin-bottom: 10px;
    padding-right: 0px;
}

/* ========== Solutions Logos ========== */
.solution-logos {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.solution-logos ul {
    list-style-type: none;
    margin: 0 auto;
    width: 440px;
    padding-left: 0;
}
.solution-logos li {
    float: left;
    margin-right: 10px;
}


/* ==================================================
  Home Features
================================================== */
.home-features {
    position: relative;
}
.home-feature {
    margin-bottom: 2.7em;
    padding-bottom: 1.1em;
    box-shadow: 0 20px 12px -22px rgba(0,0,0,.5);
}
.home-feature:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    box-shadow: none;
}
.home-feature__image {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border: 11px solid #fff;
    border-radius: 2px;
    box-shadow:  0 0 15px -2px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: box-shadow 0.25s;
}
.home-feature:nth-child(1) .home-feature__image {}
.home-feature:nth-child(2) .home-feature__image {
    background-position: center right;
}
.home-feature:nth-child(3) .home-feature__image {
    background-position: center left;
}
.home-feature__image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.home-feature:nth-child(1) .home-feature__image::after {
    background: linear-gradient(to right, rgba(168,211,29,0.55), rgba(0,0,0,0) 70%);
}
.home-feature:nth-child(2) .home-feature__image::after {
    background: linear-gradient(to right, rgba(254,187,82,0.55), rgba(0,0,0,0) 70%);
}
.home-feature:nth-child(3) .home-feature__image::after {
    background: linear-gradient(to right, rgba(63,160,190,0.55), rgba(0,0,0,0) 70%);
}
.home-feature__image:hover {
    box-shadow:  0 0 15px 0px rgba(0,0,0,0.3);
}
.home-feature h2 {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
    margin-top: 25px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.home-feature h2 a:after {
    padding-left: 5px;
    content: "»";
}
.home-feature h2 a {
    color: #2e3e58;
    font-weight: 700;
}
.home-feature h2 a:hover {
    color: #188CB0;
}
.home-feature p {
    text-align: center;
    color: #333;
}
.home-feature__desc {
    line-height: 1.4em;
}
.home-feature p.call-to-action {
    margin-top: 22px;
}
.home-feature p.call-to-action a {
    font-size: 16px;
    border: 1px solid #068cb2;
    padding: 10px 12px;
    border-radius: 3px;
}
.home-feature p.call-to-action a:hover {
    background: #068cb2;
    color: #fff;
}


/* ==================================================
  Home Recent Posts
================================================== */
.home-mid-col {
    padding-right: 30px;
    padding-left: 30px;
}

.home-recent-posts {
    margin-bottom: 1.7em;
}
.home-recent__item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 1em;
}
.home-recent__thumb-wrap {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 112px;
    margin-right: 1em;
    padding-right: 0.7em;
    background: #fff;
}
.home-recent__thumb-wrap::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -9px;
    display: block;
    width: 9px;
    height: 80px;
    margin-top: -40px;
    background-image: url('images/shadow-right.png');
    background-repeat: no-repeat;
    background-position: top left;
}
.no-flexbox .home-recent__thumb-wrap {
    float: left;
    display: inline-block;
    margin-right: 1.2em;
}
.home-recent__thumb {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.no-thumb .home-recent__thumb {
    background-image: url('images/home-feature-default-img.png') !important;
}
.home-recent__content {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: calc(100% - 112px);
    padding: 1em 3em 1em 0;
    background: linear-gradient(to right, #fff, #f3f3f3 80%, #f3f3f3);
}
.home-recent__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 16px;
    background-image: url('images/shadow-top.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 327px 15px;
}
.home-recent__content::after {
    /*content: '\f105';
    position: absolute;
    top: 50%;
    right: 0.45em;
    display: block;
    margin-top: -0.55em;
    color: #d2d6dd;
    font-size: 2.5em;
    font-family: 'FontAwesome';
    line-height: 1em;
    transition: right 0.2s, color 0.2s;*/

    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    width: 18px;
    height: 32px;
    background-image: url('images/icon-recent-angle.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -16px;
    transition: right 0.25s;
}
.home-recent__meta-link {
    font-size: 0.68em;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
a.home-recent__meta-link {
    color: #3fa0be;
}
a.home-recent__meta-link:hover {
    color: #408094;
}
.content .home-recent__title {
    position: relative;
    margin: 0;
    font-size: 1.18em;
    font-family: muli;
    line-height: 1.4em;
    text-transform: none;
}
.home-recent__item--active a .home-recent__title {
    text-decoration: underline;
}
.home-recent__item--active .home-recent__content::after {
    right: 5px;
}


/* ==================================================
  Home CPT Links
================================================== */
.home-cpt-links {
    position: relative;
    margin-bottom: 3em;
    padding-bottom: 2em;
}
.home-cpt-links::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 15px;
    background-image: url('images/shadow-bottom-dark.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 292px 14px;
}
.home-cpt-links__list {
    list-style: none;
    padding: 0;
    text-align: center;
}
.content .home-cpt-links__list {
    padding-left: 0;
}
.home-cpt-links__list li {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 0.8em;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
.home-cpt-links__list li:nth-child(n+2)::before {
    content: '|';
    margin-right: 0.5em;
    color: #ccd1d9;
}
.home-cpt-links a {
    color: #3fa0be;
}
.home-cpt-links a:hover {
    color: #408094;
}


/* ==================================================
  Home Customers
================================================== */
.home-customers {
    min-height: 250px;
    text-align: center;
}
.content .home-customers__heading {
    font-size: 1.6em;
    font-family: Muli;
    font-weight: 300;
    text-transform: none;
}
.customer__item {
    /*display: none;*/
}
.customer__content {
    max-width: 350px;
    margin-bottom: 1.75em;
    margin-right: auto;
    margin-left: auto;
    color: #566173;
    font-size: 1.125em;
}
.customer__link {
    display: none;
}


/* ==================================================
  Home Featured Videos
================================================== */
.home-featured-videos {
    padding: 0.5em 1.5em 0.8em;
    background-color: #e2f2f8;
    background-image: url('images/bg-featured-videos.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}
.content .home-featured-videos__heading {
    margin: 0 0 0.4em 0;
    text-align: center;
    font-size: 0.7em;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
.home-featured-videos__heading a {
    color: #3fa0be;
}
.home-featured-videos__heading a:hover {
    color: #408094;
}
.featured-video__item {
    margin-bottom: 1em;
}
.featured-video__thumb {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    border: 11px solid rgba(255,255,255,0.4);
    border-radius: 2px;
    box-shadow: 0 0 15px -2px rgba(0,0,0,0.2);
    transition: all 0.25s;
}
.featured-video__thumb:hover {
    border: 11px solid rgba(255,255,255,1);
    box-shadow:  0 0 15px -1px rgba(0,0,0,0.4);
}
.content .featured-video__thumb,
.content .featured-video__title,
.featured-video__meta {
    max-width: 160px;
    margin-right: auto;
    margin-left: auto;
}
.content .featured-video__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875em;
}
.content .featured-video__title a {
    color: #2e3e58;
}
.featured-video__meta {
    position: relative;
    /*top: -2px;*/
    /*display: block;*/
    color: #6ba1b4;
    font-size: 0.85em;
}
.home-featured-videos__link {
    display: block;
    font-size: 0.8em;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
a.home-featured-videos__link {
    color: #3fa0be;
}
a.home-featured-videos__link:hover {
    color: #408094;
}





/*Blog Areas*/
.blog-thumb a img {max-width: 100%; height: auto;}
.blog-content h4 {margin-top: 0; margin-bottom: 10px; font-size: 22px; font-weight: normal;}
.blog-content h4 a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 8px; font-size: 20px;}
.blog-content p {margin-bottom: 0;}
.nav-article-meta li {font-family: 'Montserrat'; font-weight: normal; font-size: 12px; text-transform: uppercase;}
.nav-article-meta li span {font-weight: bold;}
.nav-article-meta li:before {content: " | ";}
.sidebar h3 {font-size: 20px; line-height: 1.3; margin-top: 30px; margin-bottom: 15px;}
.nav-pills nav ul {list-style-type: none; padding-left: 0;}
.nav-pills nav li {border-radius: 5px; border: 1px solid #cccccc; margin-bottom: 10px;}
.nav-pills nav li a {color: #768295; font-size: 16px; font-weight: 600; padding-top: 6px; padding-bottom: 6px; line-height: 19px; padding-left: 15px;}
.nav-pills nav li a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 8px; font-size: 14px;}
.nav-pills nav li a:hover {color: #5e697a;}
.nav-pills--inverse nav li a {color: #fff; background-color: #959595;}
.nav-pills--inverse nav li a:focus {color: #5e697a; }
.nav-pill-product-toolbox nav li {border: transparent;}
.nav-pill-product-toolbox nav li a {color: #fff; background-color: #0c8db3;}
.nav-pill-product-toolbox nav li a:hover {color: #fff; background-color: #0c8db3; background-image: url('./images/transpBlack10.png');}
.archive header.article-header h2 {padding-bottom: 20px;}

/*Blog Detail Page*/
.content header.article-header h2 {margin-bottom: 10px;}
.nav-categories ul {}
.nav-categories li {color: #068cb2; font-weight: normal;}
.nav-categories h3 {margin-bottom: 0;}

/*Solutions*/
.product-boxes {margin-top: 30px;}
.product-box {box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.35); border-radius: 5px; padding: 25px 20px; margin-bottom: 50px; position: relative;}
.product-box h1 {font-family: 'Roboto', sans-serif; font-size: 32px; font-weight: bold;}
.product-box figure {position: absolute; top: -25px; width: 86%;}
.product-box figure + h1 {margin-top: 40px;}
.product-box h1 + p {margin-bottom: 30px;}
.product-box p {line-height: 24px; padding-top: 5px;}
.product-box p a {color: #768295; padding: 8px 10px 8px 12px; border: 1px solid #cfcfcf; border-radius: 5px;}
.product-box p a:hover {text-decoration: none; color: #576170;}
.product-box p a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 8px; font-size: 14px;}
.nav-solutions {clear: both;}
.nav-solutions ul {list-style-type: none; padding-left: 0;}
.nav-solutions li {padding: 7px 0;}
.nav-solutions li a {font-size: 22px;}
.nav-solutions li a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 8px; font-size: 16px;}
h2.list {border-bottom: 1px solid #ccc; padding-bottom: 20px; margin-bottom: 20px;}
.product-list h3 {font-family: 'Roboto'; font-weight: bold; font-size: 28px; text-transform: none;}
.product-list h3 a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 8px; font-size: 20px;}
.product-list .col-md-2 {padding-right: 0; margin-right: -35px;}

/*Newsletter Archive*/
.newsletter-archive-landing,
.newsletter__articles {
    margin-top: 2em;
}
.newsletter-archive-landing article,
.newsletter__articles article {
    margin-bottom: 2em;
}

/*Newsletter Archive Landing*/
.newslettter__article-list {
    padding: 0;
    list-style: none;
}
.newsletter-archive-landing .blog-content h4 {
    margin-bottom: 0;
}
.newsletter__article-item {
    display: inline;
}
.newsletter__article-item::before {
    content: "\02022";
    margin: 0.4em;
}
.newsletter__article-item:first-child:before {
    display: none;
}

/*Newsletter Detail*/

/*newsletter sidebar*/
.sidebar__newsletter-links strong,
.sidebar__newsletter-links .link--back {
    line-height: 1.2em;
}
.sidebar__newsletter-links strong {
    display: block;
    margin-top: 0.8em;
    color: #2d3d59;
    font-size: 0.9em;
    font-family: 'Montserrat';
    font-weight: bold;
}
.sidebar__newsletter-links .link--back {
    margin-left: 1.5rem;
    font-size: 0.85em;
    font-weight: 700;
}
.sidebar__newsletter-links .link--back::before {
    content: "\f0d9";
    margin-right: 0.5em;
    font-family: 'FontAwesome';
}


/*Content Modules*/
.container-module-manuscript    {background: #4eb39d url('images/module-manuscript-bg.jpg') center top no-repeat; background-size: cover; margin-bottom: 20px;}
.container-module-journals      {background: #6bb84a url('images/module-journals-bg.jpg') center top no-repeat; background-size: cover; }
.container-module-documentation {background: #d0af21 url('images/module-documentation-bg.jpg') center top no-repeat; background-size: cover; }
.container-module-listserv      {background: #d69404 url('images/module-listserv-bg.jpg') center top no-repeat; background-size: cover; }
.container-module-wide { color: #f9f9f9; padding-top: 30px; padding-bottom: 40px; }
.container-module-wide h2 { color: #FFF; margin-bottom: 10px; margin-top: 15px; }
.container-module-wide a:last-child { display: inline-block; margin-top: 10px; font-size: 16px; padding: 6px 12px; border-radius: 3px; }
.btn-inverted,
.btn-inverted:visited,
.container-module-wide a,
.container-module-wide a:visited { background: transparent; border: 3px solid #fff; color: #fff; font-size: 16px; font-weight: normal; }
.btn-inverted:after,
.container-module-wide a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 8px; font-size: 14px;}
.btn-inverted:hover,
.container-module-wide a:hover {background: #FFF; color: #0069AA;}

/* HACK would rather not do this ...
but the content modules on "For Authors" are flush with the document header and it uses the default page template */
/* For Authors */
.page-id-22 .document-header { margin-bottom: 0; }
/* For Current Customers */
.page-id-24 .site-main { padding-bottom: 40px; }
.content-module-client-services { margin-top: 40px; }

/*Testimonials*/
.container-testimonials-random {padding: 50px 0; margin-bottom: 25px; background: #358db8 url('images/testimonials-random-bg.jpg') center top no-repeat; background-size: cover; color: #fefefe; }
.testimonials-random {margin-top: 15px; }
.testimonial h2,
.testimonials-random h2 {font-size: 15px; text-transform: uppercase; margin: 15px 0; line-height: 22px;}
.testimonials-random h2 {color: #fefefe;}
.testimonials-list .testimonial { margin: 30px 0; padding: 10px 0 10px 100px; background: url('images/icon-testimonial.png') 0 0 no-repeat; border-bottom: #cccccc 1px solid; }
.testimonials-list .testimonial:first-child { margin-top: 0; }
.testimonials-list .testimonial:last-child { margin-bottom: 0; padding-bottom: 0; border: 0; }

/*Editorial Manager*/
.product-infographic {margin-bottom: 20px; padding-top: 55px; padding-bottom: 50px; background-image: url('images/illustration-bg.png'); background-size: cover; background-position: center;}
.product-infographic img {max-width: 100%; height: auto;}
.request-demo {background-image: url('images/request-demo-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: top center; padding-top: 30px; padding-bottom: 40px; margin-top: 30px;}
.request-demo h2 {margin-bottom: 5px; margin-top: 5px; color: #fff;}
.request-demo p {color: #fff; font-size: 17px; margin-top: 0; margin-bottom: 0;}
.request-demo a.btn-inverted { margin-top: 25px; margin-left: 30px; }
.content-module-faq {background: url('images/faq-bg.png') no-repeat; padding: 15px 8px 20px 25px; margin-top: 30px;}
.content-module-faq h2 {position: relative; margin-top: 0;}
.content-module-faq h2 img {position: absolute; right: 0; top: 20px;}
.looking-for-demo img {float: left; padding-right: 15px;}
.looking-for-demo p {clear: both; padding-left: 60px;}

/*Sidebar Video Area*/
.container-link-video {margin-top: 33px; background: transparent url('./images/link-video-bg.png') no-repeat;}
.link-video {padding: 14px 0 0 14px;}
.link-video a {display: block; border: 0 solid #fcfdfd; border-width: 8px 11px 11px; box-shadow: 0 0 5px rgba(0, 0, 0, .25);}
.link-video a img {max-width: 100%;}
.link-video-meta {padding-left: 24px;}
.link-video-meta h2 {margin: 20px 0 0;}

/*About Us Timeline*/
/*Timeline CSS*/
.content-timeline {position: relative; left: 70px;}
.content-timeline:before {content: ""; display: block; position: absolute; left: -40px; width: 6px; height: 95%; background: #e1e1e1; margin-top: 50px; z-index: 0;}
.content-timeline h3:before {content: ""; display: block; position: absolute; left: -60px; width: 44px; height: 44px; border: 4px solid #fff; border-radius: 50%; box-shadow: 0px 0px 7.28px 0.72px rgba(0, 0, 0, 0.1); z-index: 10;}
.content-timeline h3:nth-of-type(3n+0):before{background: #3fa0be;}
.content-timeline h3:nth-of-type(3n+1):before {background: #a7d41c;}
.content-timeline h3:nth-of-type(3n+2):before {background: #febb52;}
.content-timeline h4 {margin: 10px 0;}
.content-timeline h4, body.page-id-20 .content p {position: relative;}
.content-timeline h3:last-of-type + *:before {content: ""; display: block; position: absolute; left: -57px; margin-top: -10px; height: 150%; width: 10px; background: #fff; z-index: 5;}
.content-timeline h3:last-of-type + * + *:before, body.page-id-20 .content h3:last-of-type + * + * + *:before, body.page-id-20 .content h3:last-of-type + * + * + * + *:before {content: ""; display: block; position: absolute; left: -57px; margin-top: -20px; height: 150%; width: 10px; background: #fff; z-index: 5;}
/*Content CSS*/
.content-timeline p {font-size: 15px; line-height: 21px;}
.content-timeline h4 + p + * {margin-top: 30px;}
.content-timeline h4 {font-size: 19px;}
/*Product List on About Us only*/
.page-id-20 .product-list {padding-bottom: 15px;}
.page-id-20 .product-list h3 {margin-top: 5px;}
.page-id-20 .product-list .col-md-2 {margin-right: 0;}

/*Request a Demo*/
.page-id-25 .request-demo {display: none;}
body.page-id-25 .content p strong {color: #068cb2;}
.wpcf7-list-item {display: block; color: #8e9298;}
.wpcf7-list-item-label {font-weight: normal;}
form.wpcf7-form .wpcf7-submit {background: #c2c2c2; color: #fff;}
form.wpcf7-form .wpcf7-submit:hover {background: #b1b1b1;}
form.wpcf7-form .wpcf7-textarea {max-height: 130px;}
form.wpcf7-form .control-label {color: #768295; font-weight: normal; font-size: 17px;}

/*Events*/
.events h2 {font-size: 22px; margin-bottom: 0;}
.events h2 a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 4px; font-size: 16px;}
.events figure { margin-top: 28px;}
.tooltip-inner {background: #b3d348; font-family: 'Montserrat'; font-weight: bold; font-size: 12px; text-transform: uppercase;}
.tooltip.left .tooltip-arrow {border-left-color: #b3d348;}

/*Partners*/
.partners h2 {font-size: 22px;}
.partners h2 a:after {content: "\f0da"; font-family: 'FontAwesome'; padding-left: 4px; font-size: 16px;}
.partners figure { margin-top: 28px;}

/*Filter for events, partners*/
.filter {padding-top: 40px; padding-bottom: 20px;}
.filter label {padding-right: 15px; color: #2e3e58; font: 400 22px/1.2 'Muli', arial, sans-serif;}

/*FAQ landing page*/
body.post-type-archive-faqs .blog-content h4 {font-size: 20px;}

/*Views & Press*/
.page-id-19 .content h2 {border-bottom: 1px solid #ccc; padding-bottom: 15px; margin-bottom: 30px;}

/*Search*/
#search {display: none;}
#search {position: absolute; z-index: 10; width: 100%; background: rgba(36, 65, 87, 0.9); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) inset; padding: 35px 0; border-top: 1px solid #2e3e58;}
#search input.search-field {width: 100%; border: none; border-bottom: 1px solid rgba(159, 166, 171, 0.35); background: transparent; color: #fff; font-size: 32px; padding: 10px 0; text-align: center;}
#search .container {position: relative;}
#search .search-close {position: absolute; top: 0; right: 0; color: #fff; cursor: pointer;}
#search .container .row {border-bottom: none;}
#search input.search-field::-moz-placeholder {color: #fff; opacity: 1;}
#search input.search-field::-webkit-input-placeholder {color: #fff;}
#search input.search-field::-moz-placeholder {color: #fff;}
#search input.search-field::-ms-input-placeholder {color: #fff;}
.content-list form.searchform {margin-bottom: 30px;}
.well {background: #fcfcfc;}


/*Current Customers*/
.content-list.releases {margin-bottom: 50px;}

/*Subscribe Box for Constant Contact in Sidebar*/
a.cc_safesubscribe {font-size: 12px;}
.cc_email_address input {background-color: #ffffff; background-image: none; border: 1px solid #cccccc; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555555; display: block; font-size: 14px; height: 34px; line-height: 1.42857; padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%;}
.cc_Go input {border: none; margin-top: 10px; border-radius: 4px; cursor: pointer; display: inline-block; font-size: 14px; font-weight: normal; line-height: 1.42857; margin-bottom: 0; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; background: #c2c2c2; color: #fff;}
.cc_Go input:hover {background: #5A5A5A}
.cc_email_address label {color: #768295; font-size: 17px; font-weight: normal;}
.subscribe-mailing-list h3 { line-height: 1.3em; }
.subscribe-mailing-list p.success {margin-top: 10px !important; color: #24A049; font-weight: bold;}

/*Video Gallery*/
.tubepress-fluid-width-video-wrapper {
    margin-top: 1em;
    border: 11px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.tubepress-thumbnail-image {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
.tubepress-meta-group {
    margin-top: .6em !important;
}
.tubepress-big-title {
    display: none;
}

/*Journal List*/
#journals_alphanav {
    margin-bottom: 30px;
    margin-top: -40px;
}
#journals_alphanav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#journals_alphanav li {
    display: inline;
    margin: 0;
    padding: 0;
}
#journals_alphanav a {
    float: left;
    width: 32px;
    height: 32px;
    border: 0 solid #ddd;
    border-width: 1px 0 1px 1px;
    color: #2e3e58;
    font: 700 18px/32px 'Montserrat', arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
#journals_alphanav a:hover {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .25);
}
#journals_alphanav li:first-child a {
    border-radius: 7px 0 0 7px;
}
#journals_alphanav li:last-child a {
    border-radius: 0 7px 7px 0;
    border-right-width: 1px;
}
#journals_alphanav li.isCurrent a {
    background: #ebebeb;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .25);
}

#journals_search {
    margin-bottom: 40px;
}
#journals_search .form-group {
    width: 40%;
}
#journals_search .twitter-typeahead,
#journals_search_field {
    width: 100%;
}
#journals_search button {
    margin-left: 13px;
    color: #768295;
    font: 400 14px/1.5 'Muli', arial, sans-serif;
}
#journals_search button:hover {
    color: #fff;
    background: #c2c2c2;
}
#journals_search button:after {
    content: '\00a0\00a0\f0da';
    font: 400 12px/1 FontAwesome;
}

.tt-menu {
    cursor: pointer;
    background: #fff;
    border-top: 1px solid #ccc;
}
.tt-suggestion {
    padding: 5px 12px;
    border: 0 solid #ccc;
    border-width: 0 1px 1px;
}
.tt-suggestion:hover {
    background: #efefef;
}

#journals_list {

}
#journals_list table {
    width: 100%;
}
#journals_list tbody tr:nth-child(odd) {
    background: #f9f9f9;
}
#journals_list th,
#journals_list td {
    width: 50%;
}
#journals_list th {
    padding: 8px 18px;
    padding-left: 0;
    border-bottom: 3px solid #ddd;
    color: #2e3e58;
    font: 700 20px/1.2 'Montserrat', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#journals_list th + th {
    padding-left: 18px;
}
#journals_list td {
    padding: 8px 18px;
    color: #768295;
    font: 400 16px/1.2 'Muli', arial, sans-serif;
}

/*Fading Inforgraphics*/
.infographic-image {opacity:0;}

/*To Top*/
#to-top {background: rgba(36, 140, 210, 0.5); border-radius: 50%; bottom: 20px; display: none; height: 45px; position: fixed; right: 20px; visibility: hidden; width: 45px; z-index: 10;}
#to-top:before {color: #ffffff; content: "\f106"; display: block; font: 24px/43px "FontAwesome"; text-align: center;}

/*New Off Canvas Nav*/
.responsive-only {display: none !important;}
.responsive-nav {display: none;}
.toggle-nav {display: none;}

/*Retina*/
@media
    (-webkit-min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 1.25),
    (-webkit-min-device-pixel-ratio: 1.3),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 192dpi),
    (min-resolution: 144dpi),
    (min-resolution: 120dpi),
    (min-resolution: 124.8dpi) {
        .exempli-gratia { background-image: url('./images/example.png'); background-size: 123px auto; }
}

/*Print Styles*/
@media print {
    * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
    @page { margin: 0.5cm; }
    /* a, a:visited { text-decoration: underline; } */
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
    .site-header .logo a:after { content: ''; }
}

