@charset "utf-8";

/* Base Layout Style */
* { margin:0; padding:0; }
html{ overflow-y:scroll;}
html,body{ width:100%; height:100%;}
body { width:100%; margin:0 auto; padding:0; margin:0; background-color:#fff; color:#888; font-size:12px; line-height:1.4; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;}
img, fieldset { outline:none; border:0; padding:0; margin:0; }
ol, ul, li, dl, dt, dd { padding:0; margin:0; list-style:none; }
a, a:active, a:link { text-decoration:none; color:#888; cursor:pointer; }
a:hover { text-decoration:underline; cursor:pointer;}
strong, th { font-weight:bold;}
button { cursor:pointer; background-color:#fff; margin:0; padding:0; border:0; }
legend, .hidden { visibility:hidden; height:0; font-size:0; }

/* css */
.fl { float:left; }
.fr { float:right; }

.pos_r { position:relative; overflow:hidden; clear:both; }
.pos_a { position:absolute; }

.bold { font-weight:bold; }
.thumb1 { border:1px solid #cecece; margin-right:12px;}
.thumb2 { border:1px solid #cecece; margin-right:8px;}
.thumb3, .thumb { border:1px solid #cecece; }
.thumb4 { border:1px solid #cecece; margin-left:12px; }
.thumb5 { border:1px solid #cecece; margin-bottom:8px; }

.ad1 { width:680px; height:90px; }
.ad2 { width:378px; height:100px; margin-top:12px; }
.ad3 { width:286px; height:110px; }
.ad4 { width:680px; height:90px; }

.mg0{ margin:0 !important; }
.mgr0{ margin-right:0 !important;}	
.mgr10{ margin-right:10px !important;}
.mgr12{ margin-right:12px !important;}
.mgr17{ margin-right:17px !important;}

.mgt0{margin-top:0 !important;}
.mgt10{ margin-top:10px !important;}
.mgt12{ margin-top:12px !important;}

.mgb0{margin-bottom:0 !important;}
.mgb5{ margin-bottom:5px !important;}
.mgb20{margin-bottom:20px !important;}

.mgl0{margin-left:0 !important;}
.mgl12{ margin-left:12px !important;}
.mgl20{margin-left:20px !important;}

.pdl15{padding-left:15px !important;}
.pdl20{padding-left:20px !important;}

.w567{ width:567px;}			
.w250{ width:250px;}
.w215{ width:215px;}		
.w135{ width:142px;}
.w150{ width:150px;}

.bdt{ border-top:0 none !important;}
.bdb{ border-bottom:0 none !important;}
.bdnone{ border:0 none !important;}
.bddot1{border-bottom:dotted 1px #cdcdcd;}

.txtc{ text-align:center !important;}
.clear{ clear:both;}

.dk_pk{color:#d91b5c !important;}

#wrap { width:100%; position:relative; }
span.bar { display:block; position:absolute; left:0; top:0; width:100%; height:27px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background-color:#fbfbfb;}
#header { width:990px; margin:0 auto; }
.img_ft{ background:url(http://img.etnews.com/2015/et/images/img_ft.png) no-repeat;}


/* *****GNB */
#gnb { position:relative; height:30px; z-index:100; }
.gnb01 { float:left;}
.gnb01 li { float:left; margin:7px 18px 0 0;}
.gnb01 li a { font-size:11px; letter-spacing:-1px; font-family:"돋움", Dotum; }
.gnb01 li a:hover { color:#D91B5C; }
.gnb01 .total_service { padding: 0 15px; border-left:1px solid #dfdfdf; margin:0; height:28px; border-right:1px solid #dfdfdf;background:none;}
.gnb01 .total_service a { font-weight:bold; color:#484848; line-height:30px; }
.gnb01 .total_service a:hover { color:#484848; }
	/* GNB-sns */
.gnb02 { float:right; height:28px; overflow:hidden; }
.gnb02 li { float:left; margin-top:1px; }
	/* GNB-로그인 */
.gnb03 { float:right; margin-top:4px;}
.gnb03 li { float:left; border:1px solid #cdcdcd; height:19px; background-color:#fff; margin-left:2px;}
.gnb03 li a { padding:0 7px; line-height:21px; font-weight:bold; color:#646464; font-size:11px; font-family:"돋움", Dotum; }
.gnb03 li a:hover { text-decoration:none; }
	/* 전체서비스 */
.total { position:absolute; top:28px; left:380px; width:450px; border:1px solid #5b6060; background-color:#fff; z-index:120;}
.total_tit { position:relative; height:26px; background-color:#5b6060;}
.total_tit .total_close { width:25px; height:25px; position:absolute; top:0; right:0; background:transparent url('http://img.etnews.com/2013/et/images/common/total_close.jpg') no-repeat left top;}
.total_table td { height:220px; vertical-align:top; border-right:1px solid #e4e4e4;}
.total_table h4.total_menu { height:29px; background-color:#f5f5f5; color:#000; line-height:29px; padding-left:13px;}
.total_table ul {float:none; margin: 7px 0 0 13px;}
.total_table ul li {float:none; margin:0; padding:0;}
.total_table ul li a { font-weight:normal; font-size:12px; color:#575757; line-height:22px; }
.total_table ul li a:hover { color:#D91B5C;}

/* *****LNB */
#lnb { height:91px; position:relative; display:block; width:100%; z-index:90;}
	/*프로모션배너*/
#promotionBanner { width:220px; height:91px; position:relative; }
.fl .paging1 { position:absolute; right:-30px; bottom:3px;}
.fl .paging1 button { width:15px; height:14px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -225px;}
.fl .paging1 button.prev1 { background-position:left -225px;}
.fl .paging1 button.next1 { background-position:-15px -225px;}
	/* 보털배너 */
.fr .paging1 { position:absolute; left:-30px; bottom:3px;}
.fr .paging1 button { width:15px; height:14px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -225px;}
.fr .paging1 button.prev1 { background-position:left -225px;}
.fr .paging1 button.next1 { background-position:-15px -225px;}
	/* 보털배너 */
.fr .paging1_votal { position:absolute; left:-30px; bottom:3px;}
.fr .paging1_votal button { width:15px; height:14px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -225px;}
.fr .paging1_votal button.prev1 { background-position:left -225px;}
.fr .paging1_votal button.next1 { background-position:-15px -225px;}

	/* logo */
#lnb h1.logo { position:absolute; left:33%; top:0;}
	/* 보털헤더 */
#lnb h1.logo_votal { position:relative; float:left; width:290px; margin-top:20px; }
#lnb h1.logo_votal a { float:left; }
	/* LNB-search */
#search { margin-top:20px;}
#search form span.date { display:block; color:#626262; margin-bottom:5px; font-family:"돋움", Dotum;}
#inputText { height:31px; border:2px solid #d91b5c; }
#inputText input.ip01 { font-weight:bold; color:#303030; width:200px; height:27px;line-height:27px; padding:0 10px; border:0 none;}
#inputText button#searchBtn { width:54px; height:31px; background:transparent url('http://img.etnews.com/2013/et/images/common/serch_etnews.jpg') no-repeat left -2px; }
.search_votal { position:absolute; left:37%; top:0; margin-top:0;} /* 보털검색 */

.v{ visibility:hidden;}

/* LNB-search 2015*/
	
	
#src_w{ float:right; width:278px; position:relative; margin-top:8px;}	
#src_w .dt_w{ overflow:hidden; width:278px; height:34px; position:relative;}
#src_w .dt_w .date_01{ position:absolute; left:0; top:12px; color:#626262; font-family:"돋움", Dotum;}
#src_w .dt_w .w_dt01{color:#626262;}
#src_w .dt_w span{ color:#626262;}
#src_w .dt_w span strong{color:#626262; font-size:12px;}
#src_w .dt_w span.bl{ color:#2a40a3;}
#src_w .dt_w span.bl strong{ color:#2a40a3;}
#src_w .dt_w span.pk{ color:#d91b5b;}
#src_w .dt_w span.pk strong{ color:#d91b5b;}
#src_w .dt_w .w_dt01 strong.pk{color:#d91b5b;}
#src_w .dt_w .w_dt01 strong.bl{color:#2a40a3;}
#src_w .dt_w .weather{position:absolute; right:0; top:0px; width:160px; text-align:right; margin-top:3px;}
#src_w .dt_w .weather ul{ width:110px; overflow:hidden; position:absolute; right:15px;}
#src_w .dt_w .weather ul li{ font-size:12px;}
#src_w .dt_w .weather span{ vertical-align:top; padding-top:9px; display:inline-block;}
#src_w .dt_w .weather .btn_arr{ background-position:0 -885px; width:10px; height:10px; }
#src_w .dt_w .weather .btn_arr a{ width:10px; height:10px; text-indent:-500em; font-size:0;  display:block;}
#src_w .dt_w .weather .btn_arr_on{ background-position:-301px -885px; width:10px; height:10px; }
#src_w .dt_w .weather .btn_arr_on a{ width:10px; height:10px; text-indent:-500em; font-size:0;  display:block;}
#src_w .dt_w .weather div{ vertical-align:top; padding-top:10px; display:inline-block; }

#src_w.search{overflow:hidden; display:block; position:relative;}
#src_w #inputText { height:31px; border:2px solid #d91b5c; position:relative; }
#src_w #inputText input.ip01 { font-weight:bold; color:#303030; width:215px; height:26px;line-height:27px; padding:3px 10px 0 10px; *height:29px; *padding:0 10px 0 10px; border:0 none !important; }
#src_w #inputText button#searchBtn { position:absolute; top:0; right:0; width:35px; height:32px; background:url(http://img.etnews.com/2015/et/images/img_ft.png) 0 -952px no-repeat #d91b5b;}

#src_w .pop_weather{position:absolute; top:32px; right:0; width:276px; z-index:9999999; background:#fff; overflow:hidden; border:solid 1px #5b5d60;}
#src_w .pop_weather h3{ background:#5b5b60; height:13px; display:block; text-align:center; padding:10px 0px; font-weight:normal; color:#f8f8f8;}
#src_w .pop_weather h3 strong{ color:#f3f3f3;}
#src_w .pop_weather .w_box{}
#src_w .pop_weather .w_list{ clear:both; border-bottom:solid 1px #e4e4e4; overflow:hidden; display:block; padding:10px 20px;}
#src_w .pop_weather .w_list li{ width:110px;}
#src_w .pop_weather .w_list li span.w_img{ float:left; margin-right:10px; }
#src_w .pop_weather .w_list li dl{ line-height:1.2 !important;}
#src_w .pop_weather .w_list li dl dt{ color:#626262; line-height:1.2 !important;}
#src_w .pop_weather .w_list li dl dt strong{ color:#626262;}
#src_w .pop_weather .w_list li dl dt.bl{ color:#2a40a3;}
#src_w .pop_weather .w_list li dl dt.bl strong{ color:#2a40a3;}
#src_w .pop_weather .w_list li dl dt.pk{ color:#d91b5b;}
#src_w .pop_weather .w_list li dl dt.pk strong{ color:#d91b5b;}
#src_w .pop_weather .w_list li dl dd{ color:#626262; font-size:12px;  line-height:1.2 !important;}
#src_w .pop_weather p.pwby_w{background:#f5f5f5; font-weight:normal; clear:both; text-align:right; font-size:11px;}
#src_w .pop_weather p.pwby_w span{ margin-right:5px; font-size:11px; vertical-align:top; line-height:36px; font-family:Tahoma, Geneva, sans-serif; letter-spacing:0;}
#src_w .pop_weather p.pwby_w img{ margin-right:10px;}




/* *****menuBox */
#menuBox { border-top:5px solid #d91b5c;}
	/* menuBox-top */
.menu_box1 { position:relative; height:40px; z-index:50;}
.menu_box1 dl { height:39px; position:relative; }
.menu_box1 dl dd { float:left; }
.menu_box1 dl#service1 { border-left:1px solid #eaeaea;}
	
	
/* 메뉴 */
.menu_box1 #menu dd a { display:block; height:39px; background:transparent url('http://img.etnews.com/2013/et/images/common/menu.jpg') no-repeat left top; }
.menu_box1 #menu dd a.menu01 { width:105px; background-position:left top; }
.menu_box1 #menu dd a:hover { text-decoration:none;}
.menu_box1 #menu dd a.menu01_on, .menu_box1 #menu dd a.menu01:hover { width:105px; background-position:left -39px; }
.menu_box1 #menu dd a.menu02 { width:122px; background-position:-105px top; }
.menu_box1 #menu dd a.menu02_on, .menu_box1 #menu dd a.menu02:hover { width:122px; background-position:-105px -39px; }
.menu_box1 #menu dd a.menu03 { width:92px; background-position:-227px top; }
.menu_box1 #menu dd a.menu03_on, .menu_box1 #menu dd a.menu03:hover { width:92px; background-position:-227px -39px; }
.menu_box1 #menu dd a.menu04 { width:94px; background-position:-319px top; }
.menu_box1 #menu dd a.menu04_on, .menu_box1 #menu dd a.menu04:hover { width:94px; background-position:-319px -39px; }
.menu_box1 #menu dd a.menu05 { width:111px; background-position:-413px top; }
.menu_box1 #menu dd a.menu05_on, .menu_box1 #menu dd a.menu05:hover { width:111px; background-position:-413px -39px; }
.menu_box1 #menu dd a.menu06 { width:100px; background-position:-524px top; }
.menu_box1 #menu dd a.menu06_on, .menu_box1 #menu dd a.menu06:hover { width:100px; background-position:-524px -39px; }
.menu_box1 #menu dd a span { color:#fff; border:0 none;; background-color:#fff;}



/* 메뉴20140516 */
.menu_box1 #menu dd a { display:block; height:39px; background:transparent url('http://img.etnews.com/2013/et/images/common/menu.png') no-repeat left top; }
.menu_box1 #menu dd a.menu1 { width:105px; background-position:left top; }
.menu_box1 #menu dd a:hover { text-decoration:none;}
.menu_box1 #menu dd a.menu1_on, .menu_box1 #menu dd a.menu1:hover { width:105px; background-position:left -39px; }
.menu_box1 #menu dd a.menu2 { width:96px; background-position:-105px top; }
.menu_box1 #menu dd a.menu2_on, .menu_box1 #menu dd a.menu2:hover { width:96px; background-position:-105px -39px; }
.menu_box1 #menu dd a.menu3 { width:122px; background-position:-202px top; }
.menu_box1 #menu dd a.menu3_on, .menu_box1 #menu dd a.menu3:hover { width:122px; background-position:-202px -39px; }
.menu_box1 #menu dd a.menu4 { width:92px; background-position:-323px top; }
.menu_box1 #menu dd a.menu4_on, .menu_box1 #menu dd a.menu4:hover { width:92px; background-position:-323px -39px; }
.menu_box1 #menu dd a.menu5 { width:94px; background-position:-415px top; }
.menu_box1 #menu dd a.menu5_on, .menu_box1 #menu dd a.menu5:hover { width:94px; background-position:-415px -39px; }
.menu_box1 #menu dd a.menu6 { width:111px; background-position:-509px top; }
.menu_box1 #menu dd a.menu6_on, .menu_box1 #menu dd a.menu6:hover { width:111px; background-position:-509px -39px; }
.menu_box1 #menu dd a.menu7 { width:100px; background-position:-620px top; }
.menu_box1 #menu dd a.menu7_on, .menu_box1 #menu dd a.menu7:hover { width:100px; background-position:-620px -39px; }
.menu_box1 #menu dd a span { color:#fff; border:0 none;; background-color:#fff;}


	/* menuBox-bottom */
.menu_box2 { position:relative; height:31px; border-bottom:1px solid #d5d5d5; border-top:1px solid #d5d5d5; background:transparent url('http://img.etnews.com/2013/et/images/bg/bg_submenu.jpg') repeat-x left top; }
.menu_box2 dl dd { float:left;}
.menu_box2 dl dd a { font-family:"돋움", Dotum;  }
.menu_box2 dl#subMenu { float:left; }
.menu_box2 dl#subMenu dd { letter-spacing:-1px; margin:8px 7px 0 7px; }
.menu_box2 dl#subMenu dd a:hover { color:#D91B5C; }
.menu_box2 dl#subMenu dd.first { background:none; }
.menu_box2 dl#service2 { position:absolute; right:0; top:0; margin-top:8px; }
.menu_box2 dl#service2 dd { float:left; margin-right:8px; padding-left:9px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -38px; }
.menu_box2 dl#service2 dd a { font-size:11px; color:#646464; font-size:11px; font-weight:bold;}
.menu_box2 dl#service2 dd.first { background:none; }
	/* 비주얼IT 리스트 */
.visualit_list { position:absolute; top:32px; right:63px; width:80px; padding:10px 0  7px 0;border:1px solid #5b6060; background-color:#fff; z-index:9999;}
.visualit_list li { margin-left:7px; }
.visualit_list li a { line-height:22px; color:#3f3f3f;}
.visualit_list li a:hover { color:#D91B5C; }

/* *****footer_area */
.footer_area { width:990px; margin:0 auto; clear:both; padding-top:13px; }
	/* footer 공통 */
#footer { clear:both; position:relative; border-top:1px solid #dcdcdc; }
#footer dl.fl { width:370px; }
#footer dl.fr { width:560px; }
#footer .etnews { position:relative; }
#footer dt { margin-top:2px;}
#footer dd { float:left; margin-top:12px; padding:0 5px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -75px; }
#footer dd.first { background:none; }
#footer dd a { color:#535353; font-family:"굴림", Gulim; font-size:11px; }
#copyright { clear:both; padding:15px 0; text-align:center; border-top:1px solid #dcdcdc; }
#copyright a.bt_rss { display:inline-block; margin-left:3px; width:37px; height:15px; background:transparent url('http://img.etnews.com/2013/et/images/bg/rss.jpg') no-repeat left top; position:relative;top:-10px; }





/* mainBottom - 2015 */
#footer_main { width:100%; clear:both; border-top:1px solid #dedede; overflow:hidden;}
#footer_main .mainBottom_01{ background:#fff; overflow:hidden;}
#footer_main .mainBottom_02{border-top:1px solid #dedede; overflow:hidden; background:#f6f6f6; padding:20px 0; border-bottom:1px solid #dedede;}
#footer_main .mainBottom_03{ padding:20px 0 15px 0; background:#eaeaea;}
#footer_main .mainBtm{ width:980px; margin:0 auto; overflow:hidden;}
#footer_main .mainBottom_01 li.mainb_01{ width:660px; overflow:hidden;}
#footer_main .mainBottom_01 li.mainb_02{width:165px; overflow:hidden;}
#footer_main .mainBottom_01 li{ padding:4px 0 4px 15px; background-position:0 -186px;}
#footer_main .mainBottom_01 li h3{ font-size:12px; font-weight:bold; color:#666; float:left; margin-top:7px; *margin-top:5px;}
#footer_main .mainBottom_01 li .mb_notice{ margin-top:5px; *top:4px;}
#footer_main .mainBottom_01 li h3 em{ color:#b7b7b7; margin:0 10px; font-weight:normal !important;}
#footer_main .mainBottom_01 ul.mb_list_box{height:19px; overflow:hidden; width:850px; *margin-top:7px;}
#footer_main .mainBottom_01 ul.mb_list_box li.notice{ padding:0; margin-top:4px;}
#footer_main .mainBottom_01 ul.mb_list_box li.notice h4{ float:left; padding:2px 7px 2px 7px; height:13px; border-top:solid 1px #d2d2d2; border-left:solid 1px #d2d2d2; border-bottom:solid 1px #b3b3b3; border-right:solid 1px #b3b3b3; background:#fff; overflow:hidden; color:#777; font-weight:normal !important; margin-right:8px; letter-spacing:-1px;}
#footer_main .mainBottom_01 ul.mb_list_box li.notice h4 a{ font-size:11px;  text-decoration:none;}
#footer_main .mainBottom_01 ul.mb_list_box li.notice p{ padding-top:3px; width:650px;}
#footer_main .mainBottom_01 ul.mb_list_box li.notice p a{color:#666;}



#footer_main .mainBottom_01 ul.list{ height:20px; overflow:hidden;}
#footer_main .mainBottom_01 ul.list li{ padding:0 !important;}
#footer_main .mainBottom_01 ul.list li a{ color:#666; margin-top:2px; display:inline-block;}

#footer_main .mainBottom_01 ul.mbsvc { padding:0; margin:0; overflow:hidden;}
#footer_main .mainBottom_01 ul.mbsvc li{padding:0 !important;}
#footer_main .mainBottom_01 ul.mbsvc li.m_apple{ background-position:0 -100px;  text-indent:-500em; margin-right:5px;}
#footer_main .mainBottom_01 ul.mbsvc li.m_apple a{ width:28px; height:28px; display:block;}
#footer_main .mainBottom_01 ul.mbsvc li.m_apple_on{ background-position:0 0px;  text-indent:-500em;margin-right:5px;}
#footer_main .mainBottom_01 ul.mbsvc li.m_apple_on a{  width:28px; height:28px; display:block}

#footer_main .mainBottom_01 ul.mbsvc li.m_android{ background-position:-301px -100px;  text-indent:-500em;}
#footer_main .mainBottom_01 ul.mbsvc li.m_android a{ width:28px; height:28px; display:block;}
#footer_main .mainBottom_01 ul.mbsvc li.m_android_on{ background-position:-301px 0px;  text-indent:-500em;}
#footer_main .mainBottom_01 ul.mbsvc li.m_android_on a{  width:28px; height:28px; display:block;}

#footer_main .mainBottom_02 li.mainb_03{ width:740px; overflow:hidden;}
#footer_main .mainBottom_02 li.mainb_04{ width:235px; overflow:hidden;}

#footer_main .mainBottom_02 li h3{ font-size:12px; font-weight:bold; color:#666; float:left; padding-right:10px; border-right: solid 1px #dedede; overflow:hidden; height:73px; padding-top:5px;}
#footer_main .mainBottom_02 li .premiumsvc{ padding-left:10px; overflow:hidden; border-left: solid 1px #fff;  height:78px;}
#footer_main .mainBottom_02 li .premiumsvc dl{ overflow:hidden !important; margin-right:8px;}

#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_01{ background-position:0px -250px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_01 a{width:94px; height:58px; display:block;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_01_on{ background-position:-301px -250px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_01_on a{width:94px; height:58px;  display:block;}

#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_02{ background-position:0px -350px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_02 a{width:94px; height:58px ; display:block;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_02_on{ background-position:-301px -350px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_02_on a{width:94px; height:58px; display:block;}

#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_03{ background-position:0px -450px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_03 a{width:94px; height:58px; display:block;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_03_on{ background-position:-301px -450px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_03_on a{width:94px; height:58px;  display:block;}

#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_04{ background-position:0px -550px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_04 a{width:94px; height:58px; display:block;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_04_on{ background-position:-301px -550px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_04_on a{width:94px; height:58px;  display:block;}

#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_05{ background-position:0px -650px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_05 a{width:94px; height:58px; display:block;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_05_on{ background-position:-301px -650px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_05_on a{width:94px; height:58px;  display:block;}

#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_06{ background-position:0px -750px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_06 a{width:94px; height:58px; display:block;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_06_on{ background-position:-301px -750px;  text-indent:-500em;}
#footer_main .mainBottom_02 li .premiumsvc dl dt.ps_06_on a{width:94px; height:58px;  display:block;}

#footer_main .mainBottom_02 li .premiumsvc dl dd{ text-align:center; margin-top:5px; letter-spacing:-1px; font-size:11px;  color:#666;}

#footer_main .mainBottom_02 li h3 span.btn{ display:block; text-indent:-500em; margin: 5px 0 0 20px;}
#footer_main .mainBottom_02 li h3 span.btn a{ float:left;}
#footer_main .mainBottom_02 li h3 span.btn a.prev{background-position:0px -851px; width:15px; height:15px; display:block;}
#footer_main .mainBottom_02 li h3 span.btn a.next{background-position:-15px -851px; width:15px; height:15px; display:block;}

#footer_main .mainBottom_02 li.mainb_04 dl{padding-left:10px; overflow:hidden; border-left: solid 1px #fff; height:73px; padding-top:5px;}
#footer_main .mainBottom_02 li.mainb_04 dl dt { margin-bottom:5px;}
#footer_main .mainBottom_02 li.mainb_04 dl dt a{color:#d31b59; font-weight:bold; font-size:12px; letter-spacing:-1px;}
#footer_main .mainBottom_02 li.mainb_04 dl dd a{ font-size:12px; }

#footer_main .mainBottom_03 .f_etnews{ clear:both; padding-bottom:5px; overflow:hidden;}
#footer_main .mainBottom_03 .f_etnews h3{ width:137px;}
#footer_main .mainBottom_03 .f_etnews h3 a{ font-size:12px; color:#4f4f4f; font-weight:bold;}
#footer_main .mainBottom_03 .f_etnews h3 a:hover{color:#d31b59;}
#footer_main .mainBottom_03 .f_etnews ul li{ float:left;}
#footer_main .mainBottom_03 .f_etnews ul li strong{ letter-spacing:-1px;}
#footer_main .mainBottom_03 .f_etnews ul li a{ font-size:11px; color:#4f4f4f;}
#footer_main .mainBottom_03 .f_etnews ul li em{ color:#e1e1e1; margin:0 5px; font-weight:normal !important; font-size:11px;}
#footer_main .mainBottom_03 .mainb_05{ width:580px;  overflow:hidden;}
#footer_main .mainBottom_03 .family select{color:#4f4f4f; border:1px #c7c7c7 solid; height: 36px; *height:24px; padding:8px; background-color: #f6f6f6;  text-align:center; width:160px;}
#footer_main .mainBottom_03 .family select option{font-size: 12px; line-height:18px; height: 25px;  padding:5px; text-align:center; width:160px;}



	/* mainBottom - 메인페이지 */
#mainBottom { position:relative; }
#mainBottom .bottom1 { width:349px; float:left; }
#mainBottom .bottom2 { width:640px; float:left; border-left:1px solid #e4e4e4; }
#mainBottom h3 { padding-left:20px; margin-bottom:7px; height:28px; line-height:28px; background-color:#f1f1f1; color:#000; font-size:12px; font-family:"굴림", Gulim;}
#mainBottom dl { position:relative; overflow:hidden; float:left; margin:2px 0; height:22px; }
#mainBottom dt { float:left; width:40px; margin:0 5px 0 20px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat right -622px; }
#mainBottom dt a { font-size:11px; font-weight:bold; color:#6f6f6f; line-height:22px; }
#mainBottom .bottom1 dl { clear:both; width:348px;}
#mainBottom .bottom1 dt { width:44px; background-position: right -622px; }
#mainBottom .bottom1 .bt_notice dt { width:30px; background-position: right -622px; }
#mainBottom .bottom1 .bt_notice dd { width:275px; }
#mainBottom .bottom2 dl { width:315px; }
#mainBottom .bottom2 dt { width:60px; background-position: right -622px; }
#mainBottom dd { float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#mainBottom dd a { color:#777; font-size:11px; line-height:22px; }
#mainBottom .bottom1 dd { width:250px; }
#mainBottom .bottom2 dd { width:230px; }
#mainBottom .bt_list { clear:both; width:100%; text-align:center; margin:0 auto; padding:10px 0 10px 0;}
#mainBottom .bt_list a { margin:0 6px; color:#6f6f6f; font-weight:bold; font-size:11px; }
.bt_mobile { position:relative; overflow:hidden; width:100%; margin:15px 0; }
.bt_mobile li { float:left; padding:0 20px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -478px;}
.bt_mobile li.first { background:none; }
	/* subBottom - 메인제외한 모든페이지*/
.footer_area .a_top { text-align:right; margin:0 3px 3px 0; }
#subBottom { position:relative; overflow:hidden; border-top:1px solid #dcdcdc; padding:15px 0; }
#subBottom .fl { width:766px; border-right:1px solid #dcdcdc; position:relative; overflow:hidden; }
#subBottom .fl h2 { font-size:14px; color:#d91b5c; margin-bottom:16px; }
#subBottom .fl li { float:left; width:136px; margin-right:17px;}
#subBottom .fl li h3 { margin-bottom:5px; }
#subBottom .fl li h3 a { color:#1f1f1f;}
#subBottom .fl li .txt { display:block; padding:0 13px; margin:7px 0; font-size:11px; height:30px; overflow:hidden;}
#subBottom .fr { width:210px; }
#subBottom .fr dl { position:relative; overflow:hidden; margin-top:14px;}
#subBottom .fr dl.first { margin-top:0;}
#subBottom .fr dt { color:#131313; font-weight:bold; margin-bottom:3px; font-family:"굴림", Gulim; }
#subBottom .fr dd { float:left; margin-right:9px;}
#subBottom .fr dd a { color:#565656; line-height:18px; letter-spacing:-1px; font-size:11px; } 

/* eBuzz footer */
#footerebuzz { width:990px; margin:0 auto; border-top:2px solid #1591d4; overflow:hidden; clear:both;}
#nextDaily { position:relative; overflow:hidden; height:35px; border-bottom:1px solid #e2e2e2;  }
#nextDaily dd { float:left; margin-top:12px; padding:0 15px; background:transparent url('http://img.etnews.com/2013/ebuzz/images/blit.png') no-repeat left 2px; }
#nextDaily dd.first { background:none; }
#nextDaily dd a { color:#535353; font-family:"굴림", Gulim;}
#nextDaily dd.ft_rss { position:relative; }
#nextDaily dd.ft_rss a { display:block; float:left; }
#nextDaily dd.ft_rss a.buzz_rss { margin-left:5px; width:35px; background:transparent url('http://img.etnews.com/2013/ebuzz/images/bg/rss.jpg') no-repeat left top; }
#copyrightebuzz { text-align:Center; margin:10px 0 30px 0; }

/* 실시간속보 : 홈,상세 */
.live_news { width:100%; height:24px; overflow:hidden; margin:5px 0; }
.live_news h3 { width:75px; margin:0 10px; float:left; }
.live_news h3 a { font-weight:bold; color:#000; font-size:12px; line-height:26px; }
.live_news h3 a span { font-weight:bold; color:#d91b5c; line-height:26px; padding-right:10px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat 29px -284px; }
.live_news ul { height:24px; overflow:hidden; }
.live_news li { width:235px; height:26px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.live_news li a { line-height:26px; color:#333; }

/* 인기기사,쇼핑정보 - 인기기사,댓글많은기사_131107 */
.rank_main { overflow:hidden; margin-top:-1px;}
.rank_article { padding:0; }

.rank_tab { position:relative; overflow:hidden; }
.rank_tab li { width:143px; height:33px; float:left; }
.rank_list { margin:12px 0; padding-left:30px; background:transparent url('http://img.etnews.com/2013/et/images/rank_num.png') no-repeat 10px 4px;}
.rank_list li { width:220px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.rank_list li a {line-height:22px; color:#2b2b2c; }
.rank_list li a:hover { color:#D91B5C; }

.rank_article01{ padding:17px 17px 5px 17px; border:solid 1px #d1d1d1;}
.rank_article01{ padding:17px 17px 5px 17px; border:solid 1px #d1d1d1;}
.rank_article01 .rank_list{ margin:0 0 12px 0; padding-left:19px; background:transparent url('http://img.etnews.com/2013/et/images/rank_num.png') no-repeat 0 4px;}


/* 날개배너묶음 */
#leftWingBanner { position:absolute;}
#RightWingBanner { position:absolute; }

/* 날개배너 */
#wingBanner { position:relative; z-index:1;}
#wingLeft { position:absolute; width:72px; height:72px; right:15px; }
#wingRight { position:absolute; width:72px; height:72px; left:1008px; }

#wingLeft2 { position:absolute; width:59px; height:182px; right:15px; padding-top:20px; background:transparent url('http://img.etnews.com/2013/et/images/sns/wing_bn_bg.png') no-repeat top right;}
#wingLeft3 { position:absolute; width:59px; height:178px; right:15px; padding-top:0; background:transparent url('http://img.etnews.com/2013/et/images/sns/wing_bn_bg.png') no-repeat top right; overflow:hidden;}

#wingLeft3 a { display:block; width:59px; height:59px;}
#wingLeft3 a.wing_ico1 { background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn1.png') no-repeat left top; }
#wingLeft3 a.wing_ico1:hover { text-decoration:none; background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn1_on.png') no-repeat left top; }
#wingLeft3 a.wing_ico2 { background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn2.png') no-repeat left top; }
#wingLeft3 a.wing_ico2:hover { text-decoration:none; background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn2_on.png') no-repeat left top; }
#wingLeft3 a.wing_ico3 { background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn3.png') no-repeat left top; }
#wingLeft3 a.wing_ico3:hover { text-decoration:none; background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn3_on.png') no-repeat left top; }
#wingLeft3 a.wing_ico4 { visibility:hidden; background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn4.png') no-repeat left top; }
#wingLeft3 a.wing_ico4:hover { text-decoration:none; background:transparent url('http://img.etnews.co.kr/2013/et/images/sns/wing_bn4_on.png') no-repeat left top; }


/* #wingLeftSticky { position:absolute; width:75px; height:72px; top:100px; left:-90px; } */
#wingLeftSticky { position:absolute; width:72px; height:102px; top:220px; right:17px; z-index:100;}
#wingLeftSticky1 { position:absolute; width:72px; height:102px; top:0; right:0; z-index:100; }
/* #wingLeftSticky2 { position:absolute; width:100px; height:400px; top:210px; right:0; } */
#wingLeftSticky2 { position:absolute; width:72px; height:400px; top:120px; right:0; } /* 런던올림픽 용 배너 */

#wingRightSticky { position:absolute; width:72px; left:1008px; top:0; z-index:100;}
#wingRightSticky1 { position:absolute; width:72px; height:300px; top:0; left:0; z-index:100; }
#wingRightSticky2 { position:absolute; width:100px; height:400px;/* top:220PX;*/ /*96px;*/ left:5px; top:0; }
#wingRightSticky3 { position:absolute; width:100px; height:400px; top:220PX; /*96px;*/ left:-9px; }

#wingLeftInterworks { position:absolute; width:220px; height:600px; top:222px; /*left:-90px;*/ right:1008px; z-index:10; display:none; }
#wingRightInterworks { position:absolute; width:220px; height:600px; top:222px; left:1008px; z-index:10; visibility:hidden; }

#wingLeftSticky3{  position:absolute; width:118px; height:102px; top:0; right:0; z-index:100;}

.nospace { visibility:hidden; height:0 !important; overflow:hidden; }

/* 32주년 */

#year32{ width:990px; background:url(http://img.etnews.com/2014/32/images/img_bgmain.jpg) no-repeat; overflow:hidden;}
#year32 ul{  position:relative; width:990px; margin-top:332px; min-height:650px;}
#year32 ul li h3.tap01{ position:absolute; top:0; left:0;} 
#year32 ul li h3.tap02{ position:absolute; top:0; left:339px;} 
#year32 ul li h3.tap03{ position:absolute; top:0; left:678px;} 
#year32 .con_news{position:absolute; top:123px; left:0; width:990px; height:500px;}
#year32 .bl{ border-top:4px solid #005393;}
#year32 .gr{ border-top:4px solid #01677d;}
#year32 .pi{ border-top:4px solid #d91b5c;}
#year32 .section{ padding:20px; background:#f8f8f8; margin-top:30px; overflow:hidden;}
#year32  p.more{position:absolute; top:0; right:0;}


#year32 .article_01{ width:340px; height:211px; overflow:hidden; position:relative; margin-right:19px;}
#year32 .article_01 span.txt{ position:absolute; bottom:0; left:0; background:#000;filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80; width:315px; height:38px; padding:15px;}
#year32 .article_01 span.txt a{ color:#fff; font-size:14px; font-weight:bold; letter-spacing:-1px;  height:37px;  display:block; overflow:hidden;}

#year32 .article_02{ width:340px; overflow:hidden;  margin-right:19px;}
#year32 .article_02 dl{ padding:10px; border:solid 1px #c7c7c7; background:#fff; overflow:hidden; }
#year32 .article_02 dl dt{ float:left; margin-right:10px; height:80px;}
#year32 .article_02 dl dd{ padding-top:4px;}
#year32 .article_02 dl dd strong{ height:37px; display:block; overflow:hidden; margin-bottom:5px;}
#year32 .article_02 dl dd strong a{ font-size:14px; font-weight:bold; color:#121212; line-height:20px; letter-spacing:-1px;}
#year32 .article_02 dl dd span{ height:32px; display:block; overflow:hidden;}
#year32 .article_02 dl dd span a{display:block; font-size:12px; line-height:16px; color:#666;}
#year32 .mgb7{ margin-bottom:7px;}

#year32 .article_03{ width:230px; overflow:hidden;}
#year32 .article_03 span{display:block;}
#year32 .article_03 dl{ background:#001b30; padding:10px 15px; height:48px;}
#year32 .article_03 dl dt a{ font-size:14px; color:#fff; letter-spacing:-1px; font-weight:bold; display:block; height:18px; overflow:hidden; margin-bottom:3px;}
#year32 .article_03 dl dd a{font-size:12px; color:#aac0d1; line-height:14px; display:block; height:28px; overflow:hidden;}

#year32 .article_04{ width:308px; overflow:hidden;  margin-right:19px; border:solid 1px #c7c7c7; background:#fff; padding:15px;}
#year32 .article_04  span { float:left;  margin-right:15px; display: block;}   
#year32 .article_04  strong a{ font-size:16px; line-height:22px; font-weight:bold; letter-spacing:-1px; color:#121212; margin-top:12px; display:block; height:65px; overflow:hidden;}     
#year32 .article_04  p a{clear:both; padding-top:15px; display:block; height:82px; overflow:hidden; color:#666;}

.nnn32{ width:640px; height:236px; background:url(http://img.etnews.com/2014/32/images/bg_img.jpg) no-repeat; padding:20px; position:relative; margin-bottom:15px;}
.nnn32 h3{ margin-bottom:15px; padding-top:5px;}

.nnn32 .article_01{ width:306px; height:192px; overflow:hidden; position:relative; margin-right:9px;}
.nnn32 .article_01 span.txt{ position:absolute; bottom:0; left:0; background:#000;filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80; width:276px; height:38px; padding:10px 15px;}
.nnn32 .article_01 span.txt a{ color:#fff; font-size:14px; font-weight:bold; letter-spacing:-1px;  height:37px;  display:block; overflow:hidden;}

.nnn32 .article_02{ width:321px; overflow:hidden; }
.nnn32  .article_02 dl{padding:9px 10px; border:solid 1px #c7c7c7; background:#f9f9f9; overflow:hidden; }
.nnn32  .article_02 dl dt{ float:left; margin-right:10px; height:76px;}
.nnn32  .article_02 dl dd{ padding-top:5px;}
.nnn32  .article_02 dl dd strong{ height:37px; display:block; overflow:hidden; margin-bottom:1px;}
.nnn32  .article_02 dl dd strong a{ font-size:12px; font-weight:bold; color:#121212; line-height:18px; letter-spacing:-1px;} 
.nnn32  .article_02 dl dd span{ height:32px; display:block; overflow:hidden;}
.nnn32  .article_02 dl dd span a{display:block; font-size:11px; line-height:16px; color:#666;}
.nnn32 .bdbff{ border-bottom:1px solid #fff !important;}
.nnn32 .bdtff{ border-top:1px solid #e2e2e2 !important;}
.nnn32 p.more{ position:absolute; top:32px; right:26px;}

/* 이메일 거부 */
#mail_box{ margin-bottom:50px; overflow:hidden;}
#mail_box h3{ font-size:24px; font-weight:bold; letter-spacing:-2px; margin-bottom:10px; margin-top:50px; color:#121212;}
#mail_box h3 span{ color:#d91b5c; font-size:24px; font-weight:bold; letter-spacing:-2px;}
#mail_box div.box{ border:solid 1px #c7c7c7; padding:120px 48px; overflow:hidden; text-align:center;}
#mail_box div.box p.tl{ font-weight:bold; letter-spacing:-1px; color:#333;  font-size:18px; margin-bottom:10px; }
#mail_box div.box p.tl span{ font-weight:bold; letter-spacing:-1px; color:#d91b5c;  font-size:18px; text-decoration:underline}
#mail_box div.box p.tm{ color:#666; font-size:14px;  margin-bottom:20px;}



#subBottom h2.todayet{ margin-bottom:10px; font-size:16px; font-weight:bold; letter-spacing:-1px; color:#d91b5b;}
#subBottom .sbl .pt_list{ width:201px; height:180px; overflow:hidden; display:block; float:left; margin-left:15px;}
#subBottom .sbl{ padding-right:29px; margin-right:29px; border-right:solid 1px #dcdcdc; width:633px; float:left;}
#subBottom .sbl img{ display:block; margin-bottom:15px; border:solid 1px #c7c7c7;}
#subBottom .sbl span{ font-size:14px; font-weight:bold; letter-spacing:-1px; color:#121212; line-height:20px;}
#subBottom .sbl a:hover span{ font-size:14px; font-weight:bold; color:#d91b5b; text-decoration:underline;}
#subBottom .sbr{ width:298px; float:left;}
#subBottom .sbr ul li a{font-size:14px; letter-spacing:-1px;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:298px; line-height:30px; color:#121212;}
#subBottom .sbr ul li  strong{ font-size:14px;line-height:30px; letter-spacing:-1px; color:#121212;}
#subBottom .sbr ul li a:hover{ color:#d91b5b; text-decoration:underline;}
#subBottom .sbr ul li a:hover strong{ color:#d91b5b; text-decoration:underline;}


/* wis2015 */

.s_wis2015{ background:url(http://img.etnews.com/2015/et/wis_2015/images/bg.jpg) no-repeat; width:680px; height:188px; overflow:hidden; position:relative; margin-top:10px;}
.s_wis2015 button{ background:url(http://img.etnews.com/2015/et/wis_2015/images/btn.jpg) no-repeat; width:157px; height:34px; display:inline;  position:absolute; top:129px; left:30px; border:0 !important; margin:0; padding:0; cursor:pointer;}
.s_wis2015 .article_list{ position:absolute; top:25px; left:211px;}
.s_wis2015 .article_list li{ position:relative; height:138px; width:214px;}
.s_wis2015 .article_list li p{ color:#fff; position:absolute; left:0; bottom:0; z-index:2;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:190px; line-height:34px; padding:0 15px;}
.s_wis2015 .article_list li i{ background:#c72b02; width:214px; height:37px; position:absolute; left:0; bottom:0; z-index:1; opacity:0.9;filter:alpha(opacity=90) }
.mgr11{ margin-right:11px;}
.s_wis2015 .article_list li img{ border:solid 1px #cecece;}	


/* .column_v{ border: solid 1px #c7c7c7; padding:30px; overflow:hidden; margin:20px 0;}
 .column_v dl dt{ font-size:18px; color:#121212; letter-spacing:-1px;}
*/
 .column_v{ border: solid 1px #c7c7c7; padding:15px 30px; overflow:hidden; margin:0;}
 .column_v img{ border:solid 1px #c7c7c7; margin-right:30px;}
 .column_v dl{ position:relative; height:120px; width:465px; overflow:hidden;}
 .column_v dl dt{ font-size:14px; color:#121212;}
 .column_v dl strong{ font-size:18px; color:#121212; letter-spacing:-1px;}
 .column_v dl dt a{ width:22px; height:21px; display:inline-block; background:url(http://img.etnews.com/2015/et/images/img_sns.png) no-repeat; margin-left:3px;}
 .column_v dl dt a:link.sns01{ background-position:0 0;}
 .column_v dl dt a:link.sns02{background-position:-24px 0;}
 .column_v dl dt a:link.sns03{background-position:-48px 0;}
 .column_v dl dt a:hover.sns01{ background-position:0 -59px;}
 .column_v dl dt a:hover.sns02{ background-position:-24px -59px;}
 .column_v dl dt a:hover.sns03{ background-position:-48px -59px;}
 

 .column_v dl dd em{ font-size:12px; color:#121212; display:block; line-height:20px;}
 .column_v dl dd { font-size:12px; display:block; line-height:18px; color:#484848;}
 .column_v dl dd span{ font-size:14px; color:#2c2c2c;}
 .column_v dl dd a{ font-size:11px; color:#9f9f9f; position:absolute; bottom:-3px; left:0; letter-spacing:-1px;}

 
 #year33{ width:990px; position:relative; overflow:hidden;}

#year33 ul li .bg33_01{ background:url(http://img.etnews.com/2015/et/etnews_33/img01.jpg) no-repeat; height:990px;}
#year33 ul li .bg33_02{ background:url(http://img.etnews.com/2015/et/etnews_33/img02.jpg) no-repeat; height:990px;}
#year33 ul li .bg33_03{ background:url(http://img.etnews.com/2015/et/etnews_33/img03.jpg) no-repeat; height:990px;}

#year33 ul{position:relative; width:990px; min-height:650px; margin-top:20px;}

#year33 ul li h3 a{width:105px; height:104px; display:block; position:absolute; top:343px;}

#year33 ul li h3 a.tap01{left:320px;  background:url(http://img.etnews.com/2015/et/etnews_33/tap01.png) no-repeat; text-indent:-500em;} 
#year33 ul li h3 a:hover.tap01{background:url(http://img.etnews.com/2015/et/etnews_33/tap01_on.png) no-repeat; text-indent:-500em;} 
#year33 ul li h3 a.tap01_on{left:320px;  background:url(http://img.etnews.com/2015/et/etnews_33/tap01_on.png) no-repeat; text-indent:-500em;} 

#year33 ul li h3 .tap02{left:445px;  background:url(http://img.etnews.com/2015/et/etnews_33/tap02.png) no-repeat; text-indent:-500em;} 
#year33 ul li h3 a:hover.tap02{background:url(http://img.etnews.com/2015/et/etnews_33/tap02_on.png) no-repeat; text-indent:-500em;} 
#year33 ul li h3 a.tap02_on{left:445px;  background:url(http://img.etnews.com/2015/et/etnews_33/tap02_on.png) no-repeat; text-indent:-500em;} 

#year33 ul li h3 .tap03{left:575px;  background:url(http://img.etnews.com/2015/et/etnews_33/tap03.png) no-repeat; text-indent:-500em;} 
#year33 ul li h3 a:hover.tap03{background:url(http://img.etnews.com/2015/et/etnews_33/tap03_on.png) no-repeat; text-indent:-500em;}
#year33 ul li h3 a.tap03_on{left:575px;  background:url(http://img.etnews.com/2015/et/etnews_33/tap03_on.png) no-repeat; text-indent:-500em;}  
#year33 ul li p.h_tit{ position:absolute; top:73px; left:332px;}

#year33 ul li p a{width:330px; height:38px; text-align:center; display:block; line-height:34px; font-family:'맑은 고딕',Malgun Gothic,dotum,'돋움'; font-size:14px; font-weight:bold; letter-spacing:-1px;}
#year33 ul li p a.btn_3301{ border:solid 4px #593f8b; color:#593f8b;}
#year33 ul li p a.btn_3302{ border:solid 4px #684600; color:#684600;}
#year33 ul li p a.btn_3303{ border:solid 4px #3b6a00; color:#3b6a00;}


#year33 .con_news{position:absolute; top:480px; left:0; width:990px; height:500px;}
#year33 .section{margin-top:30px; overflow:hidden;}
#year33 .article_01{ width:340px; height:211px; overflow:hidden; position:relative; margin-right:30px;}
#year33 .article_01 span.txt{ position:absolute; bottom:0; left:0; background:#000;filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80; width:315px; height:20px; padding:15px;}
#year33 .article_01 span.txt a{ color:#fff; font-size:14px; font-weight:bold; letter-spacing:-1px;  height:20px;  display:block; overflow:hidden; line-height:20px;}

#year33 .article_02{ width:338px; height:211px; overflow:hidden;  margin-right:30px;}
#year33 .article_02 dl{ display:block; height:89px;}
#year33 .article_02 dl dt{ float:left; margin-right:10px; height:89px;}
#year33 .article_02 dl dt img{ border:solid 1px #eaeaea;}
#year33 .article_02 dl dd{ padding-top:4px;}
#year33 .article_02 dl dd strong{ height:37px; display:block; overflow:hidden; margin-bottom:5px;}
#year33 .article_02 dl dd strong a{ font-size:14px; font-weight:bold; color:#121212; line-height:20px; letter-spacing:-1px;}
#year33 .article_02 dl dd span{ height:32px; display:block; overflow:hidden;}
#year33 .article_02 dl dd span a{display:block; font-size:12px; line-height:16px; color:#666;}
#year33 .article_02  .article_02_1{ padding-bottom:16px; margin-bottom:16px; border-bottom:solid 1px #c7c7c7; display:block;}
#year33 .mgb7{ margin-bottom:7px;}

#year33 .article_03{ width:249px; height:211px; overflow:hidden;}
#year33 .article_03 span{display:block;}
#year33 .article_03 strong a{ font-size:14px; color:#121212; line-height:20px; height:56px; overflow:hidden; padding-top:15px; display:block; letter-spacing:-1px;}

#year33 .article_04{ width:308px; overflow:hidden;  margin-right:19px; border:solid 1px #c7c7c7; background:#fff; padding:15px;}
#year33 .article_04  span { float:left;  margin-right:15px; display: block;}   
#year33 .article_04  strong a{ font-size:16px; line-height:22px; font-weight:bold; letter-spacing:-1px; color:#121212; margin-top:12px; display:block; height:65px; overflow:hidden;}     
#year33 .article_04  p a{clear:both; padding-top:15px; display:block; height:82px; overflow:hidden; color:#666;}

.nnn33{ width:640px; height:236px; border:solid 2px #cd0c4e; padding:20px; position:relative; margin-bottom:15px;}
.nnn33 h3{ margin-bottom:15px; padding-top:5px;}

.nnn33 .article_01{ width:290px; height:182px; overflow:hidden; position:relative; margin-right:20px;}
.nnn33 .article_01 span.txt{ position:absolute; bottom:0; left:0; background:#000;filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80; width:260px; height:20px; padding:10px 15px;}
.nnn33 .article_01 span.txt a{ color:#fff; font-size:14px; font-weight:bold; letter-spacing:-1px;  height:20px;  display:block; overflow:hidden;}

.nnn33 .article_02{ width:310px; overflow:hidden; }
.nnn33 .article_02 dl{overflow:hidden; }
.nnn33 .article_02 dl dt{ float:left; margin-right:10px; height:85px;}
.nnn33 .article_02 dl dt img{ border:solid 1px #c7c7c7;}
.nnn33 .article_02 dl dd{ padding-top:5px;}
.nnn33 .article_02 dl dd strong{ height:37px; display:block; overflow:hidden; margin-bottom:1px;}
.nnn33 .article_02 dl dd strong a{ font-size:12px; font-weight:bold; color:#121212; line-height:18px; letter-spacing:-1px;} 
.nnn33 .article_02 dl dd span{ height:32px; display:block; overflow:hidden;}
.nnn33 .article_02 dl dd span a{display:block; font-size:11px; line-height:16px; color:#666;}

.nnn33 .bdbff{ border-bottom:1px solid #fff !important; margin-bottom:15px;}
.nnn33 p.more{ position:absolute; top:15px; right:26px;}


/*151209관련기사*/
.related_storyWrap {position:relative; border:1px solid #ccc; margin:15px 0 5px; }
.related_storyWrap h3 {position:absolute; left:10px; top:-5px; background-color:#fff; padding:0 5px;}
.related_storyWrap .related_storyList {margin:10px;}
.related_storyWrap .related_storyList > li {float:left; width:46%; padding:10px 0 0 7px; margin-left:10px; background: transparent url('http://img.etnews.com/2015/et/images/blt_2px_ccc.gif') no-repeat left 17px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}

.clearfix {zoom:1;}
.clearfix:after {content:''; display:block; clear:both;}

/* 151223_레이어팝업을 위한 스크립트 */
#layerPopup2016 {width:355px; height:250px; margin:0; padding:0; z-index:99999; font-size:12px; position:absolute; left:350px; top:650px;}
#layerPopup2016 .btn_closePopup img {position:absolute; right:8px; bottom:13px;}
#layerPopup2016 .btn_closePopup {cursor:pointer;}


/* 특집_ces2016 */
.s_ces2016{ background:url(http://img.etnews.com/2016/et/ces2016/bg.jpg) no-repeat; width:680px; height:188px; overflow:hidden; position:relative; margin-top:10px;}
.s_ces2016 button{ background:url(http://img.etnews.com/2016/et/ces2016/btn_ces2016.png) no-repeat; width:157px; height:34px; display:inline;  position:absolute; top:129px; left:30px; border:0 !important; margin:0; padding:0; cursor:pointer;}
.s_ces2016 .article_list{ position:absolute; top:25px; left:211px;}
.s_ces2016 .article_list li{ position:relative; height:138px; width:214px;}
.s_ces2016 .article_list li p{ color:#fff; position:absolute; left:0; bottom:0; z-index:2;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:190px; line-height:34px; padding:0 15px;}
.s_ces2016 .article_list li i{ background:#0081be; width:214px; height:37px; position:absolute; left:0; bottom:0; z-index:1; opacity:0.9; filter:alpha(opacity=90) }
.s_ces2016 .article_list li img{ border:solid 1px #cecece;}	

/*160225_오피니언*/
.opinion_pic {width:auto; height:98px;}

/* 특집_wis2016 */
.s_wis2016 { background:url(http://img.etnews.com/2016/et/wis2016/bg.jpg) no-repeat; width:680px; height:188px; overflow:hidden; position:relative; margin:10px 0;}
.s_wis2016 button{ background:url(http://img.etnews.com/2016/et/wis2016/btn_wis2016.png) no-repeat; width:157px; height:34px; display:inline;  position:absolute; top:129px; left:30px; border:0 !important; margin:0; padding:0; cursor:pointer;}
.s_wis2016 .article_list{ position:absolute; top:25px; left:211px;}
.s_wis2016 .article_list li{ position:relative; height:138px; width:214px;}
.s_wis2016 .article_list li p{ color:#fff; position:absolute; left:0; bottom:0; z-index:2;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:190px; line-height:34px; padding:0 15px;}
.s_wis2016 .article_list li i{ background:#9f3993; width:214px; height:37px; position:absolute; left:0; bottom:0; z-index:1; opacity:0.9; filter:alpha(opacity=90) }
.s_wis2016 .article_list li img{ border:solid 1px #cecece;}	

/*160614_GNB변경*/
#menuBox .gnb {float:left; height:40px; font-weight:bold;}
#menuBox .gnb li {float:left;}
#menuBox .gnb li:first-child > a {background:none;}
#menuBox .gnb li > a {font-size:17px; letter-spacing:-0.1px; color:#333; display:inline-block; padding:8px 16px 6px; background:url('http://img.etnews.com/2016/img/gnb_border.png')left center no-repeat; font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
#menuBox .gnb li > a:hover {text-decoration:none; color:#d91b5c;}
#menuBox .gnb a.gnb_on {color:#d91b5c;}

#menuBox .gnb_side {float:right; height:40px;}
#menuBox .gnb_side a {display:inline-block; background:url('http://img.etnews.com/2016/img/gnb_border.png')left 12px no-repeat; padding:10px 10px 6px;}
#menuBox .gnb_side a:first-child {background:none;}
.visualit_list {right:57px!important;}


/*창간_34주년*/
.nnn34{ width:680px; height:auto; border:solid 2px #cd0c4e; padding:20px; position:relative; margin-bottom:15px; box-sizing:border-box;}
.nnn34 .nnn34_new4 li {float:left; width:148px; margin-left:14px; }
.nnn34 .nnn34_new4 li:first-child {margin-left:0;}
.nnn34 .nnn34_new4 li img{width:100%; height:auto; border:1px solid #ccc; box-sizing:border-box;}
.nnn34 .nnn34_new4 li p {font-weight:bold; color:#121212; text-align:center; line-height:1.3em; height:2.6em; overflow:hidden; margin-top:5px;}

#year33 ul li .bg33_01{ background:url(http://img.etnews.com/2016/et/etnews_34/img01.jpg) no-repeat; height:990px;}
#year33 ul li .bg33_02{ background:url(http://img.etnews.com/2016/et/etnews_34/img02.jpg) no-repeat; height:990px;}
#year33 ul li .bg33_03{ background:url(http://img.etnews.com/2016/et/etnews_34/img03.jpg) no-repeat; height:990px;}

#year33.year34 ul li h3 a.tap01{left:320px;  background:url(http://img.etnews.com/2016/et/etnews_34/tap01.png) no-repeat; text-indent:-500em;} 
#year33.year34 ul li h3 a:hover.tap01{background:url(http://img.etnews.com/2016/et/etnews_34/tap01_on.png) no-repeat; text-indent:-500em;} 
#year33.year34 ul li h3 a.tap01_on{left:320px;  background:url(http://img.etnews.com/2016/et/etnews_34/tap01_on.png) no-repeat; text-indent:-500em;} 

#year33.year34 ul li h3 .tap02{left:445px;  background:url(http://img.etnews.com/2016/et/etnews_34/tap02.png) no-repeat; text-indent:-500em;} 
#year33.year34 ul li h3 a:hover.tap02{background:url(http://img.etnews.com/2016/et/etnews_34/tap02_on.png) no-repeat; text-indent:-500em;} 
#year33.year34 ul li h3 a.tap02_on{left:445px;  background:url(http://img.etnews.com/2016/et/etnews_34/tap02_on.png) no-repeat; text-indent:-500em;} 

#year33.year34 ul li h3 .tap03{left:575px;  background:url(http://img.etnews.com/2016/et/etnews_34/tap03.png) no-repeat; text-indent:-500em;} 
#year33.year34 ul li h3 a:hover.tap03{background:url(http://img.etnews.com/2016/et/etnews_34/tap03_on.png) no-repeat; text-indent:-500em;}
#year33.year34 ul li h3 a.tap03_on{left:575px;  background:url(http://img.etnews.com/2016/et/etnews_34/tap03_on.png) no-repeat; text-indent:-500em;}  
#year33.year34 ul li p.h_tit{ position:absolute; top:73px; left:332px;}

#year33.year34 ul li p a.btn_3301{ border:solid 4px #7fc241; color:#fff; background-color:#7fc241;}
#year33.year34 ul li p a.btn_3302{ border:solid 4px #009bdf; color:#fff; background-color:#009bdf;}
#year33.year34 ul li p a.btn_3303{ border:solid 4px #f25e22; color:#fff; background-color:#f25e22;}