@charset "utf-8";

/* 메인페이지 */
#containerMain { width:990px; margin:15px auto; position:relative;}

/* 실시간속보 : 홈,상세 */
#containerMain .live_news { background-color:#f4f4f4; margin:10px 0 15px 0; width:100%; height:24px; }

/* *****main_left*/
.main_left { float:left; width:680px; margin-bottom:15px; margin-left:5px;}
	/* topNews-9등급 */
#topNews { padding-bottom:21px; border-bottom:1px solid #e7d0d8;}
		/* 썸네일 없을때 */
#topNews a.fl { display:inline-block; width:210px; height:130px; margin-right:12px; border:0 none; background:transparent url('http://img.etnews.com/2013/et/images/bg/thum_9a_210x130.jpg') no-repeat left top;  }
#topNews div { float:left; width:450px;}
#topNews h2 { width:450px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:-2px; }
#topNews h2 a { font-size:25px; color:#000; letter-spacing:-3px; font-weight:bolder; }
#topNews h3 { width:440px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-bottom:4px;}
#topNews h3 a { font-size:14px; color:#5a5a5a; }
#topNews p a { line-height:16px; color:#888; }
#topNews p a:hover { color:#D91B5C; }
#topNews ul { margin:6px 0 0 5px; height:32px; overflow:hidden;}
#topNews ul li { margin-bottom:2px; padding-left:10px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -246px; }
#topNews ul li a { color:#3f3f3f;font-size:11px; }
#topNews ul li a:hover { color:#D91B5C; }
	/* 8등급 */
#subNews1 div.fl { width:327px; padding:19px 12px 19px 0; border-right:1px solid #e4e2e4; }
#subNews1 div.fr { width:327px; padding:19px 0 19px 12px; border-right:0 none;}
#subNews1 div h3 { width:320px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-bottom:10px; letter-spacing:-1px; }
#subNews1 div h3 a { font-size:16px; color:#2f2f2f; }
#subNews1 div p { padding-top:8px;}
#subNews1 div p a:hover { color:#D91B5C; }
		/* 썸네일 없을때 */
#subNews1 div a.fl { display:inline-block; width:157px; height:97px; margin-right:12px; border:0 none; background:transparent url('http://img.etnews.com/2013/et/images/bg/thum_9a_155x96.jpg') no-repeat left top; }
	/* 알림,이벤트 */
#promote { width:100%; height:30px; margin-bottom:14px; background-color:#f6f6f6; }
#promote dl { width:320px; padding:0 10px;}
#promote dt { font-weight:bold; float:left; line-height:30px; margin-right:5px; color:#d91b5b; }
#promote dd { width:320px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
#promote dd a { line-height:30px; color:#d91b5b; }
	/* 5등급 */
#subNews2 { position:relative; overflow:hidden; }
#subNews2 .fl { width:384px; padding-right:10px; border-right:1px solid #e4e4e4; }
#subNews2 .fl li { width:370px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
#subNews2 .fl li a { font-size:14px; font-weight:bold; line-height:28px; color:#2b2b2b; }
#subNews2 .fl li a.ad_txt { color:#0e0f99; }
#subNews2 .fl li a:hover { color:#D91B5C; }
#subNews2 .fl .list1 { margin:-2px 0 -2px 0;}
#subNews2 .fl .list1 li { padding-left:16px; width:355px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat 5px -261px; }
#subNews2 .fl .list1 li a { font-size:12px; font-weight:normal; line-height:18px; color:#888; }
#subNews2 .fr { width:275px; }
#subNews2 .fr ul { padding-top:12px; margin-top:12px; border-top:1px solid #e4e4e4;}
#subNews2 .fr ul.first { padding-top:0; margin-top:0; border-top:0 none;}
#subNews2 .fr li { width:260px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-bottom:2px; } 
#subNews2 .fr li a { line-height:1.95; color:#2b2b2b; }
#subNews2 .fr li a:hover { color:#d91b5b; }
	/* 비주얼IT */
.content_type0 { margin-top:0; overflow:hidden; }
.content_type0 h3 { position:relative; font-size:14px; color:#d91b5c; border-top:1px solid #d9a9b9; padding:8px;}
.content_type0 h3 .tit_list1 { position:absolute; right:0; top:2px; margin-right:12px; }
.content_type0 h3 .tit_list1 a { padding-left:8px; margin-left:8px; line-height:33px; font-weight:normal; font-size:11px; color:#6c6c6c; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -60px; }
.content_type0 h3 .tit_list1 a.first { background:none; }
.content_type0 h3 a.engaget { position:absolute; right:0; top:0; }
.content_type0 div.fl { position:relative; overflow:hidden; width:380px; height:98px; padding-right:14px; border-right:1px solid #e4e4e4; }/* width:395px */
		/* 썸네일 없을때 */
.content_type0 div.fl a.fl { display:inline-block; width:157px; height:97px; margin-right:12px; border:0 none; background:transparent url('http://img.etnews.com/2013/et/images/bg/thum_9a_155x96.jpg') no-repeat left top; }
.content_type0 div.fl h4 { padding:7px 0 5px 0;}
.content_type0 div.fl h4 a { color:#131313; font-size:13px; line-height:18px; letter-spacing:-1px;}
.content_type0 div.fl p a { color:#777; font-size:11px; line-height:16px;}
.content_type0 div.fl p a:hover { color:#d91b5b; }
.content_type0 ul.fr { width:254px; height:98px; padding:0 15px; margin-top:2px; }
.content_type0 ul.fr li { width:254px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.content_type0 ul.fr li a { line-height:24px; color:#131313; letter-spacing:-1px; }
.content_type0 ul.fr li a:hover { color:#d91b5b; }
	/* 모바일게임, 자동차, 컨슈머, 엔가젯 */
.content_type1 { margin-top:17px; overflow:hidden; }
.content_type1 h3 { position:relative; font-size:14px; color:#d91b5c; border-top:1px solid #d9a9b9; padding:8px;}
.content_type1 h3 .tit_list1 { position:absolute; right:0; top:2px; margin-right:12px; }
.content_type1 h3 .tit_list1 a { padding-left:8px; margin-left:8px; line-height:33px; font-weight:normal; font-size:11px; color:#6c6c6c; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -60px; }
.content_type1 h3 .tit_list1 a.first { background:none; }
.content_type1 h3 a.engaget { position:absolute; right:0; top:0; }
.content_type1 div.fl { position:relative; overflow:hidden; width:380px; height:98px; padding-right:14px; border-right:1px solid #e4e4e4; }/* width:395px */
		/* 썸네일 없을때 */
.content_type1 div.fl a.fl { display:inline-block; width:157px; height:97px; margin-right:12px; border:0 none; background:transparent url('http://img.etnews.com/2013/et/images/bg/thum_9a_155x96.jpg') no-repeat left top; }
.content_type1 div.fl h4 { padding:7px 0 5px 0;}
.content_type1 div.fl h4 a { color:#131313; font-size:13px; line-height:18px; letter-spacing:-1px;}
.content_type1 div.fl p a { color:#777; font-size:11px; line-height:16px;}
.content_type1 div.fl p a:hover { color:#d91b5b; }
.content_type1 ul.fr { width:254px; height:98px; padding:0 15px; margin-top:2px; }
.content_type1 ul.fr li { width:254px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.content_type1 ul.fr li a { line-height:24px; color:#131313; letter-spacing:-1px; }
.content_type1 ul.fr li a:hover { color:#d91b5b; }
	/* 포토,ePlay */
.content_type2 { margin-top:17px; background-color:#f9f9f9; }
h3.title01 { width:100%; border-top:1px solid #d91b5c; padding-top:10px;}
h3.title01 a { font-size:14px; margin:0 40px; font-weight:normal; color:#131313; padding-right:18px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat right -203px; }
h3.title01 a.on { font-weight:bold; color:#d91b5c; letter-spacing:-1px;}
.content_type2 h4 { position:relative; font-size:14px; color:#d91b5c; border-top:1px solid #d9a9b9; padding:8px;}
.content_type2 h4 .tit_list1 { position:absolute; right:0; top:2px; margin-right:12px; }
.content_type2 h4 .tit_list1 a { padding-left:8px; margin-left:8px; line-height:33px; font-weight:normal; font-size:11px; color:#6c6c6c; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -60px; }
.content_type2 h4 .tit_list1 a.first { background:none; }
.content_type2 h4 a.engaget { position:absolute; right:0; top:0; }
/* h3.title01 span.more { padding-left:17px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat -14px -205px; }  더보기 */
.content_type2 ul { margin:0 auto; padding:7px 0 9px 0; width:634px; position:relative; overflow:hidden; }
.content_type2 ul li { float:left; width:148px; height:140px; position:relative; margin-left:14px; text-align:center; }
.content_type2 ul li.first { margin-left:0; }
.content_type2 ul li a span { position:absolute; bottom:5px; left:0; display:block; height:35px; overflow:hidden; margin:0 3px; font-family:"굴림", Gulim; color:#2b2b2b;}
.content_type2 ul li a:hover, .content_type2 ul li a:hover span, .content_type2 ul li a:hover span:hover, .content_type2 ul li a span:hover { color:#D91B5C; }
		/* 썸네일 없을때 */
.content_type2 ul li a { display:inline-block; width:146px; height:94px; margin-right:12px; border:0 none; background:transparent url('http://img.etnews.com/2013/et/images/bg/thum_9a_146x94.jpg') no-repeat left top; }

/* *****main_right */
.main_right { float:right; width:286px; }
	/* main_right-공통스타일 */
.content_type3 { width:286px; margin:18px 0; }
.title02 { position:relative; margin-bottom:8px; color:#000; font-size:12px;}
.title02 span.tit_list2 { float:right; }
.title02 span.tit_list2 a { display:inline-block; width:9px; height:9px; margin-left:3px; font-size:0; text-indent:-10000px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -185px; }
.title02 span.tit_list2 a.on { background-position:left -155px; }
.title02 a.more { background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat -15px -205px; }/* 더보기 */
.title03 { margin-bottom:7px; }
.title03 a { color:#111; }
.title03 a:hover { color:#D91B5C; }
.content_type4 { width:256px; padding:14px 14px 10px 14px; background-color:#f9f9f9; border:1px solid #e4e2e4; border-top:0 none;}
.content_type5 { padding:16px 0; border-bottom:1px solid #e4e2e4; }
.content_type5 p a:hover { color:#D91B5C; }

	/* 트렌드키워드
.trendkey_main { margin-bottom:15px; border:1px solid #dcdcde; border-top:1px solid #c83001;}
.trendkey_main h3 { height:32px; width:284px; background:transparent url('http://img.etnews.com/2013/et/images/bg/trendkeyword_bg1.jpg') repeat-x left top;}
.trendkey_main ul { padding:10px 0 2px 0; background-color:#fbfbfb; }
.trendkey_main ul li { float:left; width:140px; margin-bottom:5px; padding-left:10px; }
.trendkey_main ul li a { color:#363636; display:block; width:122px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding-left:18px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat 10px -108px;}
.trendkey_main ul li a.bold { letter-spacing:-1px; }
.trendkey_main ul li a:hover { color:#D91B5C; }*/

/* 트렌드키워드2 */
#trendKeyword { position:relative; overflow:hidden; }
#trendKeyword li { float:left; width:125px; margin-bottom:5px; }
#trendKeyword li a { color:#363636; display:block; width:110px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding:0 5px 0 10px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -108px;}
#trendKeyword li a.bold { letter-spacing:-1px; }
#trendKeyword li a:hover { color:#D91B5C; }
 
/* 이슈분석2 */
.issue_main { margin-bottom:15px; border:1px solid #dcdcde; border-top:1px solid #c83001;}
.issue_main h3 { height:32px; width:284px; background:transparent url('http://img.etnews.com/2013/et/images/bg/trendkeyword_bg1.jpg') repeat-x left top;}
.issue_main ul { padding:10px 0 2px 10px; background-color:#fbfbfb; }

.issue_analysis_main { background:#f9f9f9; margin-bottom:15px; padding-bottom:15px; border:1px solid #e2e2e2;}
.issue_analysis_main h3 span.tit_list3 {top:14px; left:44%;}
.issue_analysis_main div { width:256px; height:151px; margin:0 auto; }
.issue_analysis_main div img {border:1px solid #e4e4e4;}
.issue_analysis_main div span.issue_tit { display:block; position:absolute; bottom:0; left:0; width:100%; height:28px; background-color:#000; opacity:0.7; }
.issue_analysis_main div strong { display:block; width:100%; color:#fff; text-align:center; position:absolute; bottom:6px; }


	/* 미디어플러스 */
.mediaplus li { position:relative; overflow:hidden; margin-bottom:8px;}
.mediaplus li h3 { position:relative; color:#205da2; margin:4px 0 2px 0; }
.mediaplus li h3 a { position:absolute; right:0; top:0; font-size:11px; font-weight:normal; color:#a0a0a0;}
.mediaplus li p a { color:#595959; }
.mediaplus li p a:hover { color:#D91B5C; }
		/* 썸네일 없을때 */
.mediaplus li a.fl { display:inline-block; width:96px; height:62px; margin-right:12px; border:0 none; background:transparent url('http://img.etnews.com/2013/et/images/bg/thum_9a_96x60.jpg') no-repeat left top; }
	/* 오피니언 */
#opinion { width:256px; padding:15px 14px 5px 14px; border:1px solid #e4e4e4;background-color:#fff; }
#opinion ul { margin-bottom:5px;}
#opinion ul li { width:235px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
#opinion ul li a { line-height:19px;}
#opinion dl { position:relative; overflow:hidden; height:50px; border-top:1px dotted #e4e2e4;}
#opinion dt { margin-top:9px; }
#opinion dt a {color:#7272a1; font-size:11px; font-weight:bold; }
#opinion dd { width:180px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
#opinion dd.pos_a { top:4px; right:5px; width:42px;  }
#opinion dd a { color:#474747; }
#opinion dd a:hover { color:#D91B5C; }
	/* ET특집 */
.title02 span.tit_list3 { position:absolute; left:45%; top:3px; }
.title02 span.tit_list3 a { display:inline-block; width:9px; height:9px; margin-left:3px; font-size:0; text-indent:-10000px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -185px; }
.title02 span.tit_list3 a.on { background-position:left -155px; }
.list1 { margin-top:6px; }
.list1 li { margin-bottom:4px; padding-left:16px; width:250px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat 5px -261px; }
.list1 li a { font-size:12px; font-weight:normal; color:#575757; }
.list1 li a:hover { color:#D91B5C; }
.content_type4 .special_txt { display:block; width:256px; height:30px;  font-size:14px; font-weight:bold; background:transparent url("http://img.etnews.com/2013/et/images/bg/bg_section_list2_tit.jpg") repeat-x scroll left top; color:#D5FCFF; text-align:center; line-height:30px; }
	/* 트렌드리포트 */
.trendreport_box { padding:16px 0; border-bottom:1px solid #e4e2e4; }
.trendreport_box .title06 { position:relative; margin-bottom:8px; color:#000; }
.trendreport_box .title06 a.more { background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat -15px -205px; }/* 더보기 */
.trendreport_box .title03 { margin-bottom:7px; }
.trendreport_box .title03 a { color:#111; }
.trendreport { position:relative; overflow:hidden; padding-bottom:7px;}
.trendreport p { margin-top:5px; }
.trendreport p a { font-size:11px; color:#787878; line-height:16px; }
.trendreport .btn_detail { float:right; margin:10px 0 0 0; }
	/* 이슈포커스 list2 : '.' icon */ 
.list2 { margin:0;}
.list2 li { margin-bottom:3px; padding-left:10px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat 3px -108px; width:240px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.list2 li a { color:#575757; }
.list2 li a:hover { color:#D91B5C; }
	/* socialLive */
.sns_list { width:256px; padding:10px 14px; margin-top:10px; background-color:#f8f8f8; border:1px solid #bbc4d5; }
.title04 { color:#131313; position:relative; margin-bottom:8px; padding-bottom:7px; border-bottom:2px solid #bbc4d5;} 
.title04 span.tit_list4 { position:absolute; right:0; top:0; }
.title04 span.tit_list4 a { display:block; float:left; height:16px; margin-left:5px; font-weight:normal; font-size:11px; padding-left:18px; background:transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -434px; }
.title04 span.tit_list4 a.sns_twitter { color:#1591d4; background-position:left -434px; }
.title04 span.tit_list4 a.sns_facebook { color:#2b4d88; background-position:left -452px; }
.sns_list div { width:256px; height:130px; overflow:auto;}
.sns_list div dl { margin:5px 0 10px 3px;}
.sns_list div dt { color:#4675a6; line-height:18px;}
.sns_list div dd { color:#8b8b8b; font-size:11px; }


/* 전자신문 31주년 */
#anniversary31{ overflow:hidden; margin:0; padding:0; width:680px; margin-bottom:18px;}
#anniversary31 ul.hd31{ background:url(http://img.etnews.com/2013/etnews/images/13year/bg_hd31.gif) 0 0  no-repeat; width:680px; height:60px; position:relative;}
#anniversary31 ul.hd31 .txt01{ position:absolute; top:16px; left:18px;}
#anniversary31 ul.hd31 .txt02{ position:absolute; top:13px; left:219px;}
#anniversary31 ul.hd31 .btn_special31{ position:absolute; top:16px; right:15px;}
#anniversary31 .news31{ background:#3a3a3a; overflow:hidden; border:solid 1px #000;}
#anniversary31 .news31 .article01{ float:left; padding:20px 15px; border-right: solid 1px #7f7f7f; overflow:hidden;}
#anniversary31 .news31 .article01 .box{ position:relative;}
#anniversary31 .news31 .article01 img{ border:solid 1px #000;}
#anniversary31 .news31 .article01 span.news_txt{ position:absolute; left:0;  bottom:0; background:url(http://img.etnews.com/2013/etnews/images/13year/bg_opacity_txt.png)  repeat; padding:10px;}
#anniversary31 .news31 .article01 span.news_txt a{color:#fff; }
#anniversary31 .news31 .article02{ padding:20px 15px; overflow:hidden; }
#anniversary31 .news31 .article02 .article_news{ overflow: hidden;}
#anniversary31 .news31 .article02 .mb17{ margin-bottom:17px;}
#anniversary31 .news31 .article02 img{ float:left; border:solid 1px #000; margin-right:15px; }
#anniversary31 .news31 .article02 dd{ margin:7px 0 5px 0; }
#anniversary31 .news31 .article02 dd a{ color:#c7c7c7; line-height:18px; }
#anniversary31 .news31 .article02 dd strong{ display:block;}
#anniversary31 .news31 .article02 dd strong a{color:#fff; margin-bottom:3px;}


/* 미래비즈니스포럼 2013 */
div.next_bf13 {overflow:hidden; margin:18px 0 15px 0; width:680px; height:188px;  background:url(http://img.etnews.com/2013/et/images/main/img_nbf2013.png) no-repeat; }
   .next_bf13 .tid{text-indent:-99999px !important;}
   .next_bf13 .bf_tit{ overflow:hidden; width:189px;}
   .next_bf13 .bf_tit p.tit{background:url(http://img.etnews.com/2013/et/images/main/img_nbf2013.png) 0 -200px no-repeat;  width:141px;  height:76px; margin:25px 0 0 27px;}
   .next_bf13 .bf_tit p.btn{ margin:7px 0 0 27px;}
   .next_bf13 .bf_tit .btn_confm{background:url(http://img.etnews.com/2013/et/images/main/img_nbf2013.png) 0 -300px no-repeat;  width:140px; height:36px; display:inline-block; }
   .next_bf13  dl.nbf{ width:213px; overflow:hidden; }
   .next_bf13  dl.nbf dt a{ font-weight:bold; color:#000d32; font-size:16px; line-height:22px; display:block;  margin-bottom:5px; letter-spacing:-1px;}
   .next_bf13  dl.nbf dd a{ font-size:12px; line-height:17px;}
   .next_bf13  dl.nbf dd a:hover{ color:#D91B5C; }
   .next_bf13  dl.nbf dd img{ border:solid 1px #cecece;}
   .next_bf13 .bf_article{ float:left; margin:30px 20px;}
   .next_bf13 .mr20{ margin-right:20px;}
   .next_bf13 .mr10{ margin-right:10px;}
   .next_bf13 .mr25{ margin-right:18px;}
   
   


/* CES 2014 */   
div.ces_2014 {overflow:hidden; margin:18px 0 15px 0; width:680px; height:220px;  background:url(http://img.etnews.com/Et_2014/special/140102_ces/main_bg3.jpg) no-repeat; }
   .ces_2014 .tid{text-indent:-99999px !important;}
   .ces_2014 .ces_bt{ overflow:hidden; width:100%;}
   .ces_2014 .ces_bt p.btn{ float:right; margin-top:12px;}
   .ces_2014 .ces_bt .btn_issue{background:url(http://img.etnews.com/Et_2014/special/140102_ces/bt_go3.png) 0 no-repeat;  width:148px; height:34px; display:inline-block; }

   .ces_2014  dl.cestit { width:303px; overflow:hidden; }
   .ces_2014  dl.cestit dt a{ font-weight:bold; color:#000d32; font-size:16px; line-height:22px; display:block;  margin-bottom:5px; letter-spacing:-1px; margin-bottom:7px; overflow:hidden; height:44px;}
   .ces_2014  dl.cestit dd a{ font-size:12px; line-height:17px;}
   .ces_2014  dl.cestit dd a:hover{ color:#D91B5C; }
   .ces_2014  dl.cestit dd img{ border:solid 1px #cecece;}
   
   .ces_2014  dl.cestit_e { width:303px; overflow:hidden; }
   .ces_2014  dl.cestit_e p.iters { position:absolute; top:620px; left:357px; width:93px; height:22px; background:url(http://img.etnews.com/Et_2014/special/140102_ces/iters.png) no-repeat;}
   .ces_2014  dl.cestit_e dt a{ font-weight:bold; color:#000d32; font-family:Tahoma, Geneva, sans-serif,돋움, dotum; font-size:16px; line-height:22px; display:block;  margin-bottom:5px; letter-spacing:-0.5px; margin-top:-3px; margin-bottom:7px; overflow:hidden; height:44px;}
   .ces_2014  dl.cestit_e dd a{ font-size:12px; line-height:17px; font-family:Tahoma, Geneva, sans-serif,돋움, dotum;}
   .ces_2014  dl.cestit_e dd a:hover{ color:#D91B5C; }
   .ces_2014  dl.cestit_e dd img{ border:solid 1px #cecece;}
   
   .ces_2014 .ces_cont { float:left; margin:18px 20px;}
   .ces_2014 .mr20{ margin-right:20px;}
   .ces_2014 .mr10{ margin-right:10px;}
   .ces_2014 .mr25{ margin-right:18px;}
   .ces_2014 .ml20{ margin-left:15px;}   
   
   
/* CES 2015 */   
div.ces_2015 {overflow:hidden; margin:18px 0 15px 0; width:680px; height:220px;  background:url(http://img.etnews.com/2015/et/ces2015/main_bg3.jpg) no-repeat; }
   .ces_2015 .tid{text-indent:-99999px !important;}
   .ces_2015 .ces_bt{ overflow:hidden; width:100%;}
   .ces_2015 .ces_bt p.btn{ float:right; margin-top:12px;}
   .ces_2015 .ces_bt .btn_issue{background:url(http://img.etnews.com/Et_2014/special/140102_ces/bt_go3.png) 0 no-repeat;  width:148px; height:34px; display:inline-block; }

   .ces_2015  dl.cestit { width:303px; overflow:hidden; }
   .ces_2015  dl.cestit dt a{ font-weight:bold; color:#000d32; font-size:16px; line-height:22px; display:block;  margin-bottom:5px; letter-spacing:-1px; margin-bottom:7px; overflow:hidden; height:44px;}
   .ces_2015  dl.cestit dd a{ font-size:12px; line-height:17px;}
   .ces_2015  dl.cestit dd a:hover{ color:#D91B5C; }
   .ces_2015  dl.cestit dd img{ border:solid 1px #cecece;}
   
   .ces_2015  dl.cestit_e { width:303px; overflow:hidden; }
   .ces_2015  dl.cestit_e p.iters { position:absolute; top:620px; left:357px; width:93px; height:22px; background:url(http://img.etnews.com/Et_2014/special/140102_ces/iters.png) no-repeat;}
   .ces_2015  dl.cestit_e dt a{ font-weight:bold; color:#000d32; font-size:16px; line-height:22px; display:block;  margin-bottom:5px; letter-spacing:-0.5px; margin-top:-3px; margin-bottom:7px; overflow:hidden; height:44px;}
   .ces_2015  dl.cestit_e dd a{ font-size:12px; line-height:17px;}
   .ces_2015  dl.cestit_e dd a:hover{ color:#D91B5C; }
   .ces_2015  dl.cestit_e dd img{ border:solid 1px #cecece;}
   
   .ces_2015 .ces_cont { float:left; margin:18px 20px;}
   .ces_2015 .mr20{ margin-right:20px;}
   .ces_2015 .mr10{ margin-right:10px;}
   .ces_2015 .mr25{ margin-right:18px;}
   .ces_2015 .ml20{ margin-left:15px;}   



/* mwc2014 */
div.mwc_2014 {overflow:hidden; margin:18px 0 15px 0; width:680px; height:220px;  background:url(http://img.etnews.com/2014/mwc2014/main_bg.png) no-repeat; }
   .mwc_2014 .tid{text-indent:-99999px !important;}
   .mwc_2014 .mwc_bt{ overflow:hidden; width:100%;}
   .mwc_2014 .mwc_bt p.btn{ float:right; margin-top:13px;}
   .mwc_2014 .mwc_bt .btn_issue{background:url(http://img.etnews.com/2014/mwc2014/main_issuebt.png) 0 no-repeat;  width:149px; height:35px; display:inline-block; }

   .mwc_2014  dl.mwctit { width:303px; overflow:hidden; }
   .mwc_2014  dl.mwctit dt a{ font-weight:bold; color:#000d32; font-size:16px; line-height:22px; display:block;  margin-bottom:5px; letter-spacing:-1px; margin-bottom:7px; overflow:hidden; height:44px;}
   .mwc_2014  dl.mwctit dd a{ font-size:12px; line-height:17px;}
   .mwc_2014  dl.mwctit dd a:hover{ color:#D91B5C; }
   .mwc_2014  dl.mwctit dd img{ border:solid 1px #cecece;}
   
   .mwc_2014 .mwc_cont { float:left; margin:18px 20px;}
   .mwc_2014 .mr20{ margin-right:20px;}
   .mwc_2014 .mr10{ margin-right:10px;}
   .mwc_2014 .mr25{ margin-right:18px;}
   .mwc_2014 .ml20{ margin-left:15px;}   
   
   

   
/* 특집 삼성 */
div.content_sam{overflow:hidden; width:286px; margin:16px 0;}
div.content_sam ul{ background:url(http://img.etnews.com/2014/samsung/images/bg_sam.gif); width:256px; height:161px; padding:15px;}
div.content_sam ul li{ background:url(http://img.etnews.com/2014/samsung/images/dot_sam.gif) 0 6px no-repeat; padding-left:10px; width:227px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
div.content_sam ul li a{ font-size:12px; color:#191919; line-height:20px;}
   
   
/* 특집 삼성수정 */
div.content_sam_edit{overflow:hidden; width:286px; margin:16px 0;}
div.content_sam_edit ul.sumsung_01 { background:url(http://img.etnews.com/2014/samsung/images/bg_sam.gif); width:256px; height:97px; padding:15px;}
div.content_sam_edit ul.sumsung_01 li{ background:url(http://img.etnews.com/2014/samsung/images/dot_sam.gif) 0 6px no-repeat; padding-left:10px; width:227px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
div.content_sam_edit ul.sumsung_01 li a{ font-size:12px; color:#191919; line-height:20px;}

div.content_sam_edit ul.sumsung_02 { background:url(http://img.etnews.com/2014/samsung/images/bg_sam2.gif); width:256px; height:38px; padding:15px;}
div.content_sam_edit ul.sumsung_02 li{ background:url(http://img.etnews.com/2014/samsung/images/dot_sam.gif) 0 6px no-repeat; padding-left:10px; width:227px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
div.content_sam_edit ul.sumsung_02 li a{ font-size:12px; color:#191919; line-height:20px;}

/* 특집 */

.s_issue{ border:solid 1px #e4e4e4; border-top:solid 1px #d91b5b; padding:20px; overflow:hidden; margin:20px 0;}
.s_issue h3{ margin-right:20px;}
.s_issue ul li{ display:block; overflow:hidden;}
.s_issue ul li span{ margin-right:15px; border:solid 1px #c7c7c7;}
.s_issue ul li dl dt{ margin-bottom:4px;}
.s_issue ul li dl dt a{ font-size:16px; font-weight:bold; line-height:22px; color:#303030; letter-spacing:-1px;}

/* 특집 mb2015 */
.s_mb2015{overflow:hidden; margin:20px 0; height:257px;}
.s_mb2015 ul{border:solid 1px #e4e4e4; border-left:0 none !important; padding:21px 20px; overflow:hidden;  }
.s_mb2015 ul li{ display:block; overflow:hidden;}
.s_mb2015 ul li span{ margin-right:15px; border:solid 1px #c7c7c7; background:url(http://img.etnews.com/2015/images/mwc2015_thumb.jpg); width:155px; height:96px;}
.s_mb2015 ul li dl dt{ margin-bottom:4px; overflow:hidden; height:44px;}
.s_mb2015 ul li dl dt a{ font-size:16px; font-weight:bold; line-height:22px; color:#303030; letter-spacing:-1px;}
.s_mb2015 ul li dl dd {height:51px; overflow:hidden;}
.s_mb2015 ul li dl dd a{ line-height:17px;}
.s_mb2015 ul li dl dd a:hover{ color:#e93139;}
.mgb15{ margin-bottom:15px !important;}


/* 특집 ifa2015 */
.ifa2015{overflow:hidden; margin:20px 0; height:246px; border-bottom:solid 5px #e3001b !important; border:solid 5px #003871;}
.ifa2015 ul { padding:21px 20px; overflow:hidden;  }
.ifa2015 ul li{ display:block; overflow:hidden;}
.ifa2015 ul li span{ margin-right:15px; border:solid 1px #c7c7c7; width:155px; height:96px;}
.ifa2015 ul li dl dt{overflow:hidden; height:46px; margin-bottom:5px;}
.ifa2015 ul li dl dt a{ font-size:16px; font-weight:bold; line-height:22px; color:#303030; letter-spacing:-1px;}
.ifa2015 ul li dl dd a{ line-height:16px;}
.ifa2015 ul li dl dd a:hover{ color:#e93139;}
.mgb10{ margin-bottom:10px !important;}

/*160518_앳뉴스*/
.atnewsWrap {border:1px solid #e4e4e4; margin-bottom:15px; padding:15px;}
.atnewsWrap h3 span {color:#0089cf;}
.atnewsWrap h3 a {color:#fff; }
.atnewsWrap h3 a:hover {text-decoration:none;}
.atnewsWrap #atnewsList {margin-top:10px;}
.atnewsWrap .atnews_list {margin-top:10px;}
.atnewsWrap .atnews_list li {background: transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -107px; }
.atnewsWrap .atnews_list li > a {display:inline-block; padding-left:6px; color:#575757; width:250px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}

	/*ver2*/
.atnewsWrap2 {border:1px solid #e4e4e4; margin-bottom:15px;}
.atnewsWrap2 h3 span {vertical-align:middle; display:inline-block; height:34px;}
.atnewsWrap2 h3 span > img {height:100%;}
.atnewsWrap2 h3.atnewtit {padding:10px 15px 5px;}
.atnewsWrap2 h3 p {vertical-align:middle; display:inline-block; padding-left:12px; letter-spacing:-0.6px; font-size:13px; color:#222;}
.atnewsWrap2 h3 a {color:#fff; }
.atnewsWrap2 h3 a:hover {text-decoration:none;}
.atnewsWrap2 .atnewslistWrap {padding:12px 15px 5px;}
.atnewsWrap2 .atnews_list li {background: transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -107px;}
.atnewsWrap2 .atnews_list li:first-child {font-weight:bold;}
.atnewsWrap2 .atnews_list li > a {display:inline-block; color:#555; padding-left:6px; margin:1px 0;  width:250px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}

	/*ver4*/
.atnewsWrap4 {margin-bottom:15px;}
.atnewsWrap4 h3 img {width:100%;}
.atnewsWrap4 h3 a {display:block;}
.atnewsWrap4 .atnewslistWrap {border:1px solid #e4e4e4; padding:15px 12px 5px;}
.atnewsWrap4 .atnews_list li {background: transparent url('http://img.etnews.com/2013/et/images/blit.png') no-repeat left -107px;}
.atnewsWrap4 .atnews_list li:first-child {font-weight:bold;}
.atnewsWrap4 .atnews_list li > a {display:inline-block;  padding-left:6px; margin:1px 0; color:#555; width:250px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}

/*161114_게이밍기어업*/
.gaminggearup {border:1px solid #e4e4e4; padding:15px;}
.gaminggearup h3 a {font-size:12px; color:#000; vertical-align:middle; }
.gaminggearup h3 a:hover {color:#d91b5c;}
.gaminggearup h3 a > span {display:inline-block; margin-left:5px; background:url('http://img.etnews.com/2013/et/images/issue_main2.gif')no-repeat -68px -16px; width:11px; height:11px;}
.gaminggearup dl {position:relative; margin:10px 0;}
.gaminggearup dt {display:block; height:2.8em; overflow:hidden; padding-right:85px; padding-top:5px;}
.gaminggearup dt a {color:#575757; line-height:1.4em;}
.gaminggearup dd.thumb {display:block; width:75px; height:50px; margin-left:10px; overflow:hidden; position:absolute; right:0; top:0px; border:none; box-sizing:border-box; border:1px solid #cecece;}
.gaminggearup dd.thumb img {height:100%;}