/* Primary SASS file */
/* reset css (from 960) */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html, body {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

b, strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

sub, sup, small {
  font-size: 75%; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

/* text normalizer (from 960) */
body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; }

pre, code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace; }

hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  margin-left: 30px; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {
  margin-bottom: 20px; }

/* 960 grid */
body {
  min-width: 960px; }

.container_12, .container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15 {
  position: relative; }

.container_12 .grid_3, .container_16 .grid_4 {
  width: 220px; }

.container_12 .grid_6, .container_16 .grid_8 {
  width: 460px; }

.container_12 .grid_9, .container_16 .grid_12 {
  width: 700px; }

.container_12 .grid_12, .container_16 .grid_16 {
  width: 940px; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.container_12 .grid_1 {
  width: 60px; }
.container_12 .grid_2 {
  width: 140px; }
.container_12 .grid_4 {
  width: 300px; }
.container_12 .grid_5 {
  width: 380px; }
.container_12 .grid_7 {
  width: 540px; }
.container_12 .grid_8 {
  width: 620px; }
.container_12 .grid_10 {
  width: 780px; }
.container_12 .grid_11 {
  width: 860px; }

.container_16 .grid_1 {
  width: 40px; }
.container_16 .grid_2 {
  width: 100px; }
.container_16 .grid_3 {
  width: 160px; }
.container_16 .grid_5 {
  width: 280px; }
.container_16 .grid_6 {
  width: 340px; }
.container_16 .grid_7 {
  width: 400px; }
.container_16 .grid_9 {
  width: 520px; }
.container_16 .grid_10 {
  width: 580px; }
.container_16 .grid_11 {
  width: 640px; }
.container_16 .grid_13 {
  width: 760px; }
.container_16 .grid_14 {
  width: 820px; }
.container_16 .grid_15 {
  width: 880px; }

.container_12 .prefix_3, .container_16 .prefix_4 {
  padding-left: 240px; }

.container_12 .prefix_6, .container_16 .prefix_8 {
  padding-left: 480px; }

.container_12 .prefix_9, .container_16 .prefix_12 {
  padding-left: 720px; }

.container_12 .prefix_1 {
  padding-left: 80px; }
.container_12 .prefix_2 {
  padding-left: 160px; }
.container_12 .prefix_4 {
  padding-left: 320px; }
.container_12 .prefix_5 {
  padding-left: 400px; }
.container_12 .prefix_7 {
  padding-left: 560px; }
.container_12 .prefix_8 {
  padding-left: 640px; }
.container_12 .prefix_10 {
  padding-left: 800px; }
.container_12 .prefix_11 {
  padding-left: 880px; }

.container_16 .prefix_1 {
  padding-left: 60px; }
.container_16 .prefix_2 {
  padding-left: 120px; }
.container_16 .prefix_3 {
  padding-left: 180px; }
.container_16 .prefix_5 {
  padding-left: 300px; }
.container_16 .prefix_6 {
  padding-left: 360px; }
.container_16 .prefix_7 {
  padding-left: 420px; }
.container_16 .prefix_9 {
  padding-left: 540px; }
.container_16 .prefix_10 {
  padding-left: 600px; }
.container_16 .prefix_11 {
  padding-left: 660px; }
.container_16 .prefix_13 {
  padding-left: 780px; }
.container_16 .prefix_14 {
  padding-left: 840px; }
.container_16 .prefix_15 {
  padding-left: 900px; }

.container_12 .suffix_3, .container_16 .suffix_4 {
  padding-right: 240px; }

.container_12 .suffix_6, .container_16 .suffix_8 {
  padding-right: 480px; }

.container_12 .suffix_9, .container_16 .suffix_12 {
  padding-right: 720px; }

.container_12 .suffix_1 {
  padding-right: 80px; }
.container_12 .suffix_2 {
  padding-right: 160px; }
.container_12 .suffix_4 {
  padding-right: 320px; }
.container_12 .suffix_5 {
  padding-right: 400px; }
.container_12 .suffix_7 {
  padding-right: 560px; }
.container_12 .suffix_8 {
  padding-right: 640px; }
.container_12 .suffix_10 {
  padding-right: 800px; }
.container_12 .suffix_11 {
  padding-right: 880px; }

.container_16 .suffix_1 {
  padding-right: 60px; }
.container_16 .suffix_2 {
  padding-right: 120px; }
.container_16 .suffix_3 {
  padding-right: 180px; }
.container_16 .suffix_5 {
  padding-right: 300px; }
.container_16 .suffix_6 {
  padding-right: 360px; }
.container_16 .suffix_7 {
  padding-right: 420px; }
.container_16 .suffix_9 {
  padding-right: 540px; }
.container_16 .suffix_10 {
  padding-right: 600px; }
.container_16 .suffix_11 {
  padding-right: 660px; }
.container_16 .suffix_13 {
  padding-right: 780px; }
.container_16 .suffix_14 {
  padding-right: 840px; }
.container_16 .suffix_15 {
  padding-right: 900px; }

.container_12 .push_3, .container_16 .push_4 {
  left: 240px; }

.container_12 .push_6, .container_16 .push_8 {
  left: 480px; }

.container_12 .push_9, .container_16 .push_12 {
  left: 720px; }

.container_12 .push_1 {
  left: 80px; }
.container_12 .push_2 {
  left: 160px; }
.container_12 .push_4 {
  left: 320px; }
.container_12 .push_5 {
  left: 400px; }
.container_12 .push_7 {
  left: 560px; }
.container_12 .push_8 {
  left: 640px; }
.container_12 .push_10 {
  left: 800px; }
.container_12 .push_11 {
  left: 880px; }

.container_16 .push_1 {
  left: 60px; }
.container_16 .push_2 {
  left: 120px; }
.container_16 .push_3 {
  left: 180px; }
.container_16 .push_5 {
  left: 300px; }
.container_16 .push_6 {
  left: 360px; }
.container_16 .push_7 {
  left: 420px; }
.container_16 .push_9 {
  left: 540px; }
.container_16 .push_10 {
  left: 600px; }
.container_16 .push_11 {
  left: 660px; }
.container_16 .push_13 {
  left: 780px; }
.container_16 .push_14 {
  left: 840px; }
.container_16 .push_15 {
  left: 900px; }

.container_12 .pull_3, .container_16 .pull_4 {
  left: -240px; }

.container_12 .pull_6, .container_16 .pull_8 {
  left: -480px; }

.container_12 .pull_9, .container_16 .pull_12 {
  left: -720px; }

.container_12 .pull_1 {
  left: -80px; }
.container_12 .pull_2 {
  left: -160px; }
.container_12 .pull_4 {
  left: -320px; }
.container_12 .pull_5 {
  left: -400px; }
.container_12 .pull_7 {
  left: -560px; }
.container_12 .pull_8 {
  left: -640px; }
.container_12 .pull_10 {
  left: -800px; }
.container_12 .pull_11 {
  left: -880px; }

.container_16 .pull_1 {
  left: -60px; }
.container_16 .pull_2 {
  left: -120px; }
.container_16 .pull_3 {
  left: -180px; }
.container_16 .pull_5 {
  left: -300px; }
.container_16 .pull_6 {
  left: -360px; }
.container_16 .pull_7 {
  left: -420px; }
.container_16 .pull_9 {
  left: -540px; }
.container_16 .pull_10 {
  left: -600px; }
.container_16 .pull_11 {
  left: -660px; }
.container_16 .pull_13 {
  left: -780px; }
.container_16 .pull_14 {
  left: -840px; }
.container_16 .pull_15 {
  left: -900px; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.container_12:before, .container_12:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.container_16:before, .container_16:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.clearfix:after, .container_12:after, .container_16:after {
  clear: both; }

.clearfix, .container_12, .container_16 {
  zoom: 1; }

/* COLORS */
/* Colors file - all colors used in the template go here. */
/*TABLE OF CONTENTS
 *
 *
 *
 * 1. Base colors
 *
 *    a. YouGov Brand Colors
 *
 *    b. Sub-Brand (site specific) Colors
 *
 *    c. Link Colors
 *
 *    d. Body copy color
 *
 *    
 *
 * 2. Typography Specific
 *
 *    a. Headers for Articles
 *
 *    b. Section Headers
 *
 *    c. News Pages
 *
 *    d. Account Related Pages Headers
 *
 *    e. Redemption Page Headers
 *
 *    f. Redemption Buttons
 *
 *    g. Account Feed Colors
 *
 *    h. Pagination Bar Colors
 *
 *	  i. Account Feed Colors
 *
 */
/*Base Colors */
/*  YouGov Brand Colors */
/* Shades of grey used through the site */
/* Link Colors */
/*  Sub-Brand/Sub-site Colors */
/* Body Text Colors */
/*Navigation Colors */
/*Typography Specific */
/* Section Headers */
/* News Pages */
/* Account Related Pages Headers */
/* for pages sugh as log-in, register, activity, rewards, and account */
/* Redemption Page */
/* Redemption Buttons */
/* Account Feed Colors */
/* Pagination Bar Colors */
/* Spritesheet */
/* SPRITESHEET STYLES FOR THEME-LABS */
/*  Usage: */
/* */
/*   1. Locate the background image needed */
/*   2. Use the @include mainSpriteSheet SASS function to load the spritesheet image. */
/*   3. Use the @extend .sprite-name SASS function to locate the specific sprite image you need. */
/*   4. Remove the auto-generated width/height declarations as needed if it will interrupt your layout. */
/* */
/*   In some cases additional markup may be needed, such as a span tag to hold the sprite for proper dimensions. */
/*   Don't forget to add display: block to your span to set the width/height properly. */
/* Sprites */
/* Feed SpriteSheet */
.sprite-feed_icon_activity, #accountActivityMenuIcon {
  background-position: 16px 0; }

.sprite-feed_icon_activity_over, #accountActivityMenuIcon.current, #accountActivityMenuIcon:hover {
  background-position: 16px -98px; }

.sprite-feed_icon_completed, #surveyCompletedMenuIcon {
  background-position: 16px -196px; }

.sprite-feed_icon_completed_over, #surveyCompletedMenuIcon.current, #surveyCompletedMenuIcon:hover {
  background-position: 16px -294px; }

.sprite-feed_icon_redempt, #redemptionMenuIcon {
  background-position: 16px -392px; }

.sprite-feed_icon_redempt_over, #redemptionMenuIcon.current, #redemptionMenuIcon:hover {
  background-position: 16px -490px; }

.sprite-feed_icon_referral, #referralMenuIcon {
  background-position: 16px -588px; }

.sprite-feed_icon_referral_over, #referralMenuIcon.current, #referralMenuIcon:hover {
  background-position: 16px -686px; }

.sprite-feed_icon_surveys, #availableSurveyMenuIcon {
  background-position: 16px -784px; }

.sprite-feed_icon_surveys_over, #availableSurveyMenuIcon.current, #availableSurveyMenuIcon:hover {
  background-position: 16px -882px; }

.sprite-redemption, .feed_event span.img.redemption {
  background-position: 0 -980px;
  width: 33px;
  height: 30px; }

.sprite-referral, .feed_event span.img.referral {
  background-position: 0 -1060px;
  width: 33px;
  height: 30px; }

.sprite-survey_available, .feed_event span.img.survey_available {
  background-position: 0 -1140px;
  width: 33px;
  height: 30px; }

.sprite-survey_completed, .feed_event span.img.survey_completed {
  background-position: 0 -1220px;
  width: 33px;
  height: 30px; }

/* framework styles - structural, and non-typography common elements */
/* Framework SASS File for structural elements and non-typography common tags */
/* REQUIRED: colors.sass file must be included before this file. */
/*TABLE OF CONTENTS
 *
 * 1. Variables
 *    1a. Mixins
 * 2. 960 grid extensions
 * 3. Header framework
 * 4. Global Landing Home
 * 5. Survey Closed Page
 */
/*Variables */
/*  Mixins - NON TYPOGRAPHY */
/*Mixin: opacitySetting
 * Use a decimal value for this call. (ie 0.5)
 */
/*Mixin: roundedCorners
 * Rounds all four corners
 * Pass in an integer value for corner radius, in pixels (e.g. '5px')
 */
/*Mixin: roundedBottom
 * Rounds the corners specified
 * Pass in a side value (e.g. side, bottom) followed by a comma
 * and an integer value for corner radius, in pixels (e.g. '5px')
 */
/*Mixin: lightGrayGradient
 * TODO (Jen): Write mixin for background on product blurbs on home page:
 * http://www.colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+100&1+27,0+100;Custom
 */
/*960 grid extensions */
.grid_4_5 {
  width: 340px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.grid_4_5.alpha {
  margin-left: 0; }

.grid_4_5.omega {
  margin-right: 0; }

/*Global Landing Home */
body {
  margin: 0;
  padding: 0; }

.black-gradient {
  background: #393939;
  background: -moz-linear-gradient(top, #393939 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #393939), color-stop(100%, black));
  background: -webkit-linear-gradient(top, #393939 0%, black 100%);
  background: -o-linear-gradient(top, #393939 0%, black 100%);
  background: -ms-linear-gradient(top, #393939 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D3D3D', endColorstr='#000000',GradientType=0 );
  background: linear-gradient(top, #393939 0%, black 100%); }

.white-gradient {
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f8f8f8 27%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(27%, #f8f8f8), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f8f8f8 27%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #f8f8f8 27%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%, #f8f8f8 27%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(top, #f5f5f5 0%, #f8f8f8 27%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#00ffffff',GradientType=0 ); }

/*Header framework */
#header {
  height: 100px;
  overflow: hidden; }
  #header .logo {
    margin-top: 50px; }

#sidebar {
  background-color: #f5f5f5; }

.product-blurb {
  clear: left; }
  .product-blurb h1 {
    padding-top: 15px;
    margin-bottom: 5px;
    color: red;
    font-size: 1.35em;
    font-weight: bold;
    line-height: 110%; }
  .product-blurb p {
    margin-left: 90px; }
  .product-blurb .product-icon {
    padding: 8px 10px;
    float: left;
    height: inherit; }
  .product-blurb .product-logo {
    padding: 10px 10px 10px 20px;
    float: right; }
    .product-blurb .product-logo img {
      margin-top: 20px; }

/*Footer framework */
#footer {
  background-color: black;
  color: white;
  margin-bottom: 20px;
  min-height: 40px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #footer .footerSection {
    margin: 15px 0;
    display: inline; }
  #footer #copyright {
    float: left;
    margin: 10px; }
  #footer #footerLinks {
    float: right;
    margin: 10px; }
    #footer #footerLinks a {
      color: #ef2d27; }

/*Survey Closed Page */
#surveyClosed {
  border-top: 5px solid #666666;
  margin-top: 10px;
  padding-top: 30px; }
  #surveyClosed div {
    border-bottom: 1px solid #666666;
    padding-bottom: 15px;
    margin-bottom: 15px; }
  #surveyClosed img {
    float: left;
    margin-right: 10px; }
  #surveyClosed .right {
    text-align: right; }
    #surveyClosed .right img {
      float: right;
      margin-left: 10px;
      margin-right: 0; }

/* typography */
/* FRAMEWORK.SASS */
/* Framework SASS File for typography and type-related colors */
/*REQUIRED: The following files muse be included before this file:
 *
 *  1. colors.sass
 *
 *  2. framework.sass
 *
 */
/*TABLE OF CONTENTS
 *
 *
 *
 * 1. Variables
 *
 *    1a. Mixins
 *
 *    1b. Fonts
 *
 * 2. Common Elements
 *
 * 3. Header Text Styles
 *
 * 4. Global Landing Page
 *
 * 5. Survey Closed Page
 *
 */
/*Variables */
/* Mixins */
/* Fonts */
/*Common Elements */
body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif; }

a {
  color: #ef2d27;
  text-decoration: none; }
  a:hover {
    color: #ef2d27;
    text-decoration: underline; }

a.more {
  background-color: red;
  color: white;
  padding: 5px;
  margin-left: 15px; }

h1 {
  color: #888888;
  font-weight: normal; }

h2 {
  margin-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
  font-style: normal;
  font-size: 18px; }

h3 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal; }

p {
  font-size: 12px;
  line-height: 1.5em; }

ol, ul {
  list-style: none outside; }

/*Header Text Styles */
/*Main Content Text Styles */
#main ol {
  list-style-type: decimal; }
#main ul {
  list-style-type: circle; }

/*Footer Text Styles */
#footer a {
  font-weight: normal;
  color: #ef2d27; }

/*Page-Specific Areas */
/*Shared Text Styles */
h1.sidebarHeader {
  background-color: #bbbbbb;
  background-image: url("../img/white-arrow.e582b1a0079e.png");
  background-repeat: no-repeat;
  background-position: 9px 11px;
  padding: 10px 10px 10px 25px;
  font-size: 0.9em;
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

/*Survey Closed Page */
#surveyClosed h3 {
  color: #ef2d27;
  font-weight: bold;
  margin-bottom: 5px; }

/* navigation */
/* Menus SASS File for all styles relating */
/*REQUIRED: The following files muse be included before this file:
 *
 *  1. colors.sass
 *
 *  2. framework.sass
 *
 *  3. typography.sass
 *
 */
/*TABLE OF CONTENTS
 *
 *
 *
 * 1. Variables
 *
 *    1a. Mixins
 *
 * 2. Main Menu Navigation
 *
 * 3. Footer Navigation
 *
 *
 *
 */
/*Variables */
/* Mixins */
/*Main Menu Navigation */
#corpMainNav {
  background-color: black;
  margin-bottom: 20px;
  padding-top: 5px;
  height: 25px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #corpMainNav ul {
    padding: 0; }
    #corpMainNav ul li.level0 {
      /*position: relative */
      display: inline-block;
      list-style-image: url("../img/gray-triangle-right.6ba83fbb98e3.png");
      color: white;
      font-size: 0.9em;
      height: 25px; }
      #corpMainNav ul li.level0 .bigMenu {
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        position: absolute;
        top: 30px;
        left: 0;
        display: none;
        background: #666666;
        box-shadow: 9px 20px 39px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 9px 20px 39px rgba(0, 0, 0, 0.53);
        -webkit-box-shadow: 9px 20px 39px rgba(0, 0, 0, 0.53);
        font-family: "Open Sans", Arial, Helvetica, sans-serif; }
      #corpMainNav ul li.level0:hover .bigMenu {
        display: block; }
      #corpMainNav ul li.level0 #industryBigMenu {
        padding: 11px 15px 0 15px;
        left: 82px;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topleft: 0px;
        border-top-left-radius: 0px;
        border-top-left-radius: 0px; }
        #corpMainNav ul li.level0 #industryBigMenu ul {
          list-style-type: none; }
          #corpMainNav ul li.level0 #industryBigMenu ul li {
            padding: 0;
            margin: 0; }
            #corpMainNav ul li.level0 #industryBigMenu ul li h3 {
              margin-bottom: 0; }
              #corpMainNav ul li.level0 #industryBigMenu ul li h3 a {
                color: white;
                font-size: 0.775em;
                margin-bottom: 0; }
      #corpMainNav ul li.level0 div {
        z-index: 1;
        /*h2 styles are (almost) identical for left & right divs */ }
        #corpMainNav ul li.level0 div .left {
          -webkit-border-bottom-left-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomleft: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-top-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topleft: 5px;
          border-top-left-radius: 5px;
          border-top-left-radius: 5px;
          float: left;
          background-color: #666666;
          padding: 10px; }
          #corpMainNav ul li.level0 div .left ul li {
            padding: 0px 8px;
            margin: 0px; }
        #corpMainNav ul li.level0 div .right {
          -webkit-border-bottom-right-radius: 5px;
          -webkit-border-bottom-right-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -moz-border-radius-bottomright: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
          background-color: #efefef;
          padding: 10px 0;
          float: left; }
          #corpMainNav ul li.level0 div .right a {
            color: black; }
          #corpMainNav ul li.level0 div .right span {
            color: red;
            font-size: 1.25em; }
          #corpMainNav ul li.level0 div .right h3 {
            font-size: 1.4em;
            margin: 0px 0 10px 0;
            color: #ef2d27; }
          #corpMainNav ul li.level0 div .right h4 {
            text-transform: uppercase;
            font-size: 1em;
            margin: 15px 0 0 0; }
          #corpMainNav ul li.level0 div .right .level1 {
            margin-left: 0px;
            padding: 0 20px; }
            #corpMainNav ul li.level0 div .right .level1 h3 a {
              color: red; }
            #corpMainNav ul li.level0 div .right .level1 .subitem_group {
              border-right: 1px solid #cccccc;
              float: left; }
              #corpMainNav ul li.level0 div .right .level1 .subitem_group ul {
                margin: 0;
                padding: 0; }
                #corpMainNav ul li.level0 div .right .level1 .subitem_group ul li {
                  margin: 0px;
                  padding: 0px; }
              #corpMainNav ul li.level0 div .right .level1 .subitem_group:first-child {
                padding-left: 0;
                margin-left: 0; }
              #corpMainNav ul li.level0 div .right .level1 .subitem_group:last-child {
                border: none;
                padding-right: 0; }
        #corpMainNav ul li.level0 div .left h2, #corpMainNav ul li.level0 div .right h2 {
          color: #87c1c4;
          padding: 8px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          background-color: #5b5b5b;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 600; }
        #corpMainNav ul li.level0 div .right h2 {
          margin: 0 10px 10px 10px; }
  #corpMainNav #searchBlock {
    float: right;
    margin-top: -1px;
    margin-right: -5px;
    width: 180px;
    font-size: 0.7em; }
    #corpMainNav #searchBlock #searchBox {
      padding: 0 5px;
      position: relative;
      top: -6px;
      left: 3px;
      height: 22px;
      width: 125px;
      border: none; }
    #corpMainNav #searchBlock #btnSearchSubmit {
      padding: 0; }

/*Footer Navigation */
/* feed styles */
.feed_wrap {
  margin: 40px 0 20px 0; }

.feed_event {
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid #d9e2eb;
  background-color: #f5f5f5;
  padding: 25px 25px 0 0; }
  .feed_event:last-child {
    border-bottom: 1px solid #d9e2eb; }
  .feed_event a {
    font-weight: normal;
    color: #ef2d27; }

.survey_available, .survey_completed, .redemption {
  font-size: 14px; }

.feedEventDate {
  font-size: 11px;
  color: #999999; }

#feed_content img {
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0; }
  #feed_content img.redemption {
    padding-left: 15px; }

.survey_available {
  background: #fde9e9; }
  .survey_available img {
    border: none;
    margin-left: -4px;
    background: none; }

.takepart_widget h3 {
  margin-bottom: 15px; }
.takepart_widget .survey_available {
  padding: 8px 12px 8px 12px; }
.takepart_widget ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none; }
  .takepart_widget ul li img {
    width: 31px;
    margin: 0 0 0 0;
    vertical-align: middle; }

#feed_more {
  display: none;
  background-color: #ef2d27;
  width: 100%;
  height: 26px;
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-top: 1px solid #d9e2eb;
  cursor: pointer;
  text-align: center; }
  #feed_more a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    width: 70px;
    background: url("../img/white_arrow.416c7dbf3a66.png") no-repeat 53px -54px;
    display: inline-block;
    text-align: left; }
    #feed_more a:hover {
      text-decoration: underline; }
  #feed_more.active {
    display: inherit; }

.feed_filter {
  font-size: 11px;
  font-weight: normal;
  display: block;
  height: 34px;
  padding-top: 52px;
  text-align: center;
  text-transform: uppercase;
  color: #999999; }
  .feed_filter.current, .feed_filter:hover {
    color: #ef2d27; }

/* Feed Menu Icons */
#feed_filters li a {
  background-image: url("../img/feed-icons/feed-spritesheet.a944061ef1b3.png");
  background-repeat: no-repeat;
  background-color: transparent; }

#availableSurveyBlock #availableSurveyMenuIcon {
  position: absolute;
  top: -26px;
  margin-left: 44px;
  position: absolute;
  top: -26px;
  margin-left: 44px; }

#completedSurveyBlock #surveyCompletedMenuIcon {
  position: absolute;
  top: -26px;
  margin-left: 53px; }

#redemptionBlock #redemptionMenuIcon {
  position: absolute;
  top: -26px;
  margin-left: 30px; }

.feed_event h4 {
  font-weight: bold;
  margin-bottom: 10px; }
.feed_event.empty, .feed_event.loading {
  padding: 10px; }
.feed_event span.img {
  display: block;
  float: left;
  margin: 0 10px;
  background-image: url("../img/feed-icons/feed-spritesheet.a944061ef1b3.png");
  background-repeat: no-repeat;
  background-color: transparent; }

#feed_filters {
  list-style-type: none;
  line-height: 1.3em;
  margin: 0 0 20px 20px;
  overflow: hidden; }
  #feed_filters li {
    float: left;
    display: inline-block;
    margin: 0 40px 0 0;
    width: 75px;
    text-align: center; }
    #feed_filters li a img {
      margin-bottom: 7px; }
    #feed_filters li a span {
      display: block; }

/* social widget styles */
button.twitterLogin {
  background: url("../img/Sign-in-with-Twitter-darker.0b2e6a1335d1.png");
  width: 151px;
  height: 24px;
  border: none;
  cursor: pointer; }

.loginForm {
  padding-left: 15px; }
  .loginForm ol {
    list-style: none outside; }
  .loginForm li {
    padding: 10px 0 2px 0;
    margin: 0 0 0 0; }
  .loginForm label {
    display: block; }
  .loginForm input[type="password"], .loginForm input[type="text"] {
    border: solid 1px #333333;
    padding: 5px;
    font-size: 1.2em;
    width: 250px; }
  .loginForm input[type="password"] :focus, .loginForm input[type="text"] :focus {
    background: #c6e3fe; }
  .loginForm .direct {
    float: left;
    width: 360px;
    borderRight: solid 1px black;
    background: #dddddd;
    padding: 20px;
    -webkit-border-radius-topleft: 7px 7px;
    -webkit-border-radius-topright: 7px 7px;
    -webkit-border-radius-bottomright: 7px 7px;
    -webkit-border-radius-bottomleft: 7px 7px;
    -moz-border-radius-topleft: 7px 7px;
    -moz-border-radius-topright: 7px 7px;
    -moz-border-radius-bottomright: 7px 7px;
    -moz-border-radius-bottomleft: 7px 7px;
    border-top-left-radius: 7px 7px;
    border-top-right-radius: 7px 7px;
    border-bottom-right-radius: 7px 7px;
    border-bottom-left-radius: 7px 7px;
    width: 270px; }
  .loginForm .socialconnect {
    float: left;
    margin: 0 0 0 40px;
    width: 400px; }
    .loginForm .socialconnect h4 {
      margin: 0 0 20px 0; }
  .loginForm ul.errorList {
    list-style: none outside;
    color: red;
    font-weight: bold;
    font-size: 0.85em;
    margin: 0; }
    .loginForm ul.errorList li {
      padding: 0; }

/* social widget styles */
/* Stylesheet for Global Landing Page */
/* INHERITS Styles from UK RESEARCH */
/*TABLE OF CONTENTS
 * TYPOGRAPHY
 * 1. Variables
 *    1a. Mixins
 *    1b. Fonts
 * 2. Common Elements
 * 3. Header Text Styles
 * 4. Main Content Text Styles
 * 5. Footer Text Styles
 * 
 * FRAMEWORK
 * 1. Variables
 *    1a. Mixins
 * 2. 960 grid extensions
 * 3. Header framework
 *     a. Status Frame in Header
 * 4. Main Content framework
 *    a. Dynamic Section: DoodleGuide
 *    b. Dynamic Section: CountrySelect
 * 5. Footer framework
 *      a. External Footer
 */
/*Variables */
/*  border that's used a lot. */
/*  Mixins - NON TYPOGRAPHY */
/** TYPOGRAPHY STYLES ** */
.globalLandingPage {
  border-top: 5px solid #666666;
  position: relative;
  height: 420px; }
  .globalLandingPage .hide {
    display: none; }
  .globalLandingPage a {
    color: #ef2d27; }

#selectedActionLabel {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  top: 3px;
  left: 340px; }
  #selectedActionLabel.surveys {
    color: #d27421; }
  #selectedActionLabel.research {
    color: #93d020; }
  #selectedActionLabel.polling {
    color: #5facaf; }

#selectionGroup .selection {
  text-align: center;
  font-weight: bold;
  color: white;
  /* normal */
  opacity: 0.6;
  /* mozilla/netscape */
  -moz-opacity: 0.6;
  /* IE 8 */
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* IE 5-7 */
  filter: alpha(opacity="60");
  /* Safari 1.x */
  -khtml-opacity: 0.6; }
  #selectionGroup .selection p {
    font-size: 18px;
    line-height: 20px;
    z-index: 4000;
    position: relative;
    margin-top: 60px; }
    #selectionGroup .selection p span {
      margin-top: 20px;
      font-size: 14px;
      display: block;
      width: 100%;
      clear: both;
      text-decoration: underline; }
  #selectionGroup .selection.research p {
    margin-top: 45px;
    font-size: 16px; }
  #selectionGroup .selection.research span {
    margin-top: 10px;
    line-height: 14px; }
  #selectionGroup .selection.active {
    color: white; }

#sidebarContent {
  color: #888888; }
  #sidebarContent .about {
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px; }
    #sidebarContent .about strong {
      color: #ef2d27; }
  #sidebarContent .quoteName {
    line-height: 13px;
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
    margin-left: 4px; }

#globalMap #startOverLink {
  position: relative;
  bottom: 10px;
  margin: 10px 30px 0 0;
  font-size: 12px;
  float: right;
  color: #ef2d27;
  padding-right: 25px;
  background: url("../img/global-landing/undo-icon.534e01189a5f.png") top right no-repeat; }
#globalMap h3.dotted {
  text-transform: capitalize;
  border-bottom: 1px dotted #bbbbbb;
  padding-bottom: 3px; }
#globalMap ul, #globalMap li {
  list-style: none outside;
  margin: 0;
  padding: 0;
  overflow: hidden; }
#globalMap .countryList .col a {
  color: #666666;
  font-size: 14px; }
  #globalMap .countryList .col a:hover {
    color: #ef2d27; }
#globalMap p {
  margin: 0 30px;
  color: #999999;
  float: left; }
#globalMap .foundCountries {
  text-align: center; }
  #globalMap .foundCountries li {
    font-size: 130%;
    font-weight: bold; }

/*Page-Specific Areas */
/*** FRAMEWORK STYLES ** */
/*Global */
/*Main Content framework */
#selectionGroup {
  overflow: visible;
  height: 205px;
  margin: 0 20px;
  position: relative; }
  #selectionGroup .selection {
    z-index: 3000;
    float: left;
    width: 172px;
    height: 167px;
    margin: 0 25px;
    cursor: pointer;
    position: absolute;
    background-size: cover; }
    #selectionGroup .selection:first-child {
      margin-left: 0; }
    #selectionGroup .selection.surveys {
      left: 0;
      background: url("../img/global-landing/section_circle_orange.682dc96ebdb3.png") no-repeat 0 0; }
    #selectionGroup .selection.research {
      left: 200px;
      background: url("../img/global-landing/section_circle_green.b581a7b2f9f6.png") no-repeat 0 0; }
    #selectionGroup .selection.polling {
      left: 420px;
      background: url("../img/global-landing/section_circle_blue.ef29e70c23d2.png") no-repeat 0 0; }

#mainBodyContentBottom {
  height: 217px;
  padding-top: 20px;
  overflow: visible;
  margin-bottom: 10px;
  position: relative;
  z-index: 200;
  border-top: 4px solid #ef2d27;
  margin-top: -40px; }
  #mainBodyContentBottom #swiffyBlock {
    position: relative;
    z-index: 300; }
    #mainBodyContentBottom #swiffyBlock #hingeHeads {
      z-index: 300; }
    #mainBodyContentBottom #swiffyBlock iframe {
      width: 921px;
      height: 213px; }
  #mainBodyContentBottom #rightColBubble {
    position: absolute;
    margin-top: -110px;
    right: 0;
    z-index: 300;
    width: 200px;
    height: 110px;
    text-indent: -400px;
    font-size: 0px;
    line-height: 0px;
    background: url("../img/global-landing/voice_bubble.d2c6c1e95181.png") no-repeat top left;
    /* normal */
    opacity: 0;
    /* mozilla/netscape */
    -moz-opacity: 0;
    /* IE 8 */
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity="0");
    /* Safari 1.x */
    -khtml-opacity: 0; }

/* Dynamic Section: DoodleGuide */
#activeSelectionGuide {
  overflow: hidden;
  float: left;
  position: relative;
  width: 100%; }
  #activeSelectionGuide.tall {
    height: 200px; }
  #activeSelectionGuide .speechBubble {
    width: 575px;
    height: 105px;
    background: url("../img/global-landing/speech_bubble.7977e960d127.png") no-repeat top left;
    color: #ef2d27;
    float: left;
    position: relative;
    z-index: 3000;
    margin-top: 30px;
    /* normal */
    opacity: 0;
    /* mozilla/netscape */
    -moz-opacity: 0;
    /* IE 8 */
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity="0");
    /* Safari 1.x */
    -khtml-opacity: 0; }
    #activeSelectionGuide .speechBubble.tall {
      height: 120px;
      background: url("../img/global-landing/speech_bubble_tall.afc6b3f6ce1d.png") no-repeat -3px 0px; }
    #activeSelectionGuide .speechBubble p {
      margin-top: 17px;
      text-align: center;
      font-size: 16px; }
      #activeSelectionGuide .speechBubble p.location {
        margin-top: 17px; }
  #activeSelectionGuide .doodleGuide {
    position: absolute;
    width: 125px;
    height: 192px;
    margin-top: 300px;
    left: 560px; }

/* Dynamic Section: CountrySelect */
.countryHelpLink {
  float: left;
  color: #999999;
  margin-top: -35px;
  margin-left: 35px; }
  .countryHelpLink p {
    font-size: 16px; }

#globalMap {
  position: absolute;
  z-index: 3000;
  margin-top: -120px;
  width: 715px;
  height: 254px;
  background: url("../img/global-landing/map_background.c5ef3b0ca459.png") no-repeat top left; }
  #globalMap .countryList {
    text-align: center;
    margin-top: 40px; }
    #globalMap .countryList .col {
      display: inline-block;
      float: left;
      width: 238px; }
  #globalMap .foundCountries {
    margin-top: 10px; }
    #globalMap .foundCountries li {
      display: inline-block;
      float: left;
      width: 238px;
      margin: 5px 0; }
  #globalMap .dotted {
    margin: 10px 30px; }

.ie7 .globalLandingPage {
  position: relative; }
.ie7 .leftSide {
  z-index: 200; }
.ie7 #globalMap {
  left: 0;
  z-index: 5000;
  /* normal */
  opacity: 0;
  /* mozilla/netscape */
  -moz-opacity: 0;
  /* IE 8 */
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity="0");
  /* Safari 1.x */
  -khtml-opacity: 0; }

/* cms snippets */
/* CMS-SNIPPETS.SASS */
/* Styles for Site Global Snippets */
/*REQUIRED: The following files muse be included before this file:
 *  1. colors.sass
 *  2. framework.sass
 *  3. typography.sass */
/*RULES OF THIS FILE:
 * 1. Each block should be labeled with the corresponding snippet name for quick reference. */
/*TABLE OF CONTENTS
 *
 * 1. Variables
 *    a. Mixins
 *    b. Fonts
 * 2. Global Styles
 *
 * 3. Plugins
 *    a. Blog Latest Entries - Homepage
 *    b. Link
 *    c. Plugin Heading
 *    d. Redemption
 *    e. Selected Entries
 *    f. Take Part
 *      
 * 4. Global Snippets
 *    a. Random Testimonials
 *    b. Random Factoids
 *    c. economist recent poll results
 * 
 * 5. Other Blocks
 *    a. Register Page
 *    b. Entry Styles
 */
/*Variables */
/* Mixins */
/* Fonts */
/*Global Styles */
#sidebarContent {
  border-left: 1px solid #ebebeb;
  padding-left: 10px;
  margin-left: -2px; }

/*Block Specific Areas */
/* Blog Latest Entries - Homepage */
.blogSidebarLogo {
  display: block;
  width: 154px;
  margin: 15px auto 15px auto; }

#sidebarContent .userPhoto {
  float: left;
  border: 1px solid #ebebeb;
  background-color: white;
  margin: 0 0 10px 0;
  padding: 5px;
  width: 88px; }
  #sidebarContent .userPhoto.right {
    float: right;
    margin-top: 25px;
    margin-bottom: 10px; }
#sidebarContent .blogArticleDate {
  margin-bottom: 0px;
  padding-bottom: 2px; }

.blogCopy {
  float: right;
  width: 190px; }
  .blogCopy p {
    margin-top: 4px; }

.blogAuthorName {
  display: block;
  width: 180px;
  background-color: #e1e1e1;
  color: #636363;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 0;
  padding: 2px 2px 2px 6px;
  text-decoration: none; }
  .blogAuthorName a:link, .blogAuthorName a:visited, .blogAuthorName a:hover, .blogAuthorName a:active {
    color: #636363; }

.blogTitle {
  font-family: "Palatino Linotype", Palatino, "Georgia", "Times New Roman", Times, serif;
  line-height: 21px;
  margin-bottom: 2px; }

.blogArticleDate {
  font-size: 9px;
  margin-top: 0px;
  padding-bottom: 2px;
  color: #555555;
  text-transform: uppercase; }

.sidebarBanner {
  margin: 15px 0; }

/*  Plugin Heading */
/* Redemption Block */
#sidebarContent .redemptionItem {
  margin: 10px 0; }

.redemptionItem .imageContainer {
  float: right;
  width: 120px;
  margin: 0 0 10px 10px;
  text-align: right; }
  .redemptionItem .imageContainer img {
    height: 120px;
    width: 120px;
    border: solid 1px #999999; }
  .redemptionItem .imageContainer button {
    margin: 5px 0 0 0; }
.redemptionItem h4 {
  font-weight: 700;
  margin-bottom: 5px; }
.redemptionItem h5 {
  font-weight: 700;
  color: #ee2d27; }
.redemptionItem p {
  margin: 0 0 0px 0; }

#ie7only .redemptionItem p {
  padding-left: 0; }

/* Selected Entries */
.articlesPlugin {
  margin: 10px 0; }

/* Take Part */
.takepartWidget p {
  font-size: 110%;
  margin: 10px 0 20px 0; }
.takepartWidget ul {
  list-style: none; }
  .takepartWidget ul li {
    margin: 0 0 15px 0; }
    .takepartWidget ul li a {
      padding: 7px 0 5px 40px;
      background: transparent center left no-repeat;
      background-image: url("../img/feed-icons/survey_available_menu_31x25.8aa78fbe0866.gif"); }
.takepartWidget .survey_available, .takepartWidget .survey_completed, .takepartWidget .redemption {
  padding: 15px 25px 15px 0;
  font-size: 14px;
  margin-bottom: 5px; }

/*Global Snippets */
/* Random Tesimonials */
#becomeAPanelistBlock {
  background-image: url("../img/become_a_panelist_bg_body.447ada2a6a52.png");
  background-repeat: repeat-y;
  margin-top: 15px;
  padding: 15px;
  padding-bottom: 0;
  min-height: 330px;
  width: 270px;
  overflow: hidden; }
  #becomeAPanelistBlock h3 {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: bold;
    margin-bottom: 10px; }
  #becomeAPanelistBlock h4 {
    font-size: 13.5px;
    line-height: 1.4em;
    font-weight: bold;
    margin-bottom: 10px; }
  #becomeAPanelistBlock h5 {
    font-size: 12px;
    font-style: italic;
    font-weight: 500; }
  #becomeAPanelistBlock .personQuote {
    font-size: 9.5px;
    font-style: normal; }
  #becomeAPanelistBlock .pipe {
    color: gray;
    font-weight: normal;
    padding: 0 4px; }
  #becomeAPanelistBlock #registerNowLink {
    float: right;
    margin-right: 15px; }

#ie7andup #registerNowLink {
  position: relative;
  top: -15px; }

#ie7only #registerNowLink {
  position: relative;
  top: -4px; }

.becomeAPanelistEndcap {
  background: url("../img/become_a_panelist_bg_endcap.4497dd26c1b8.png") bottom left;
  height: 45px;
  margin-top: -20px;
  margin-bottom: 10px; }

/* Random Factoids */
#factoidsBlock h1 {
  color: #ee2d27;
  font-size: 60px;
  line-height: 1em;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px; }
#factoidsBlock h2 {
  color: #898989;
  font-size: 21px;
  font-weight: lighter;
  line-height: 1.3em;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 0px; }

.factoidGraphic {
  margin-top: 15px; }

#mainBodyContentBottom {
  min-height: 60px; }

/* economist recent poll results sidebar  */
.documentsWidgetContainer {
  position: relative;
  color: #252525;
  margin-bottom: 20px;
  min-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; }
  .documentsWidgetContainer .pdfIcon {
    margin-bottom: -4px; }

.documentsWidgetTable a:link, .documentsWidgetTable a:visited {
  color: #018fc4;
  text-align: center;
  font-weight: bold;
  text-decoration: none; }
.documentsWidgetTable a:hover, .documentsWidgetTable a:active {
  text-decoration: underline; }
.documentsWidgetTable span.underline {
  border-bottom: 1px solid #999999;
  padding-bottom: 3px; }
.documentsWidgetTable td {
  text-align: center;
  padding: 8px 0; }
.documentsWidgetTable tr:nth-child(even) {
  background-color: #f5f5f5; }
.documentsWidgetTable th {
  font-size: 12px;
  padding: 8px 0px 6px 0px;
  background-color: white; }
.documentsWidgetTable td.econPollArchiveRow {
  background-color: #f5f5f5;
  padding-top: 2px;
  padding-bottom: 2px;
  letter-spacing: 0.05em; }

#ie7andup .documentsWidgetTable span.underline {
  border-bottom: none;
  padding-bottom: 0px; }
#ie7andup .documentsWidgetTable tr {
  border-bottom: 1px dotted #a7a9ac; }
#ie7andup .documentsWidgetTable thead tr th {
  background-color: black;
  padding: 0;
  text-align: left;
  height: 30px; }
#ie7andup .documentsWidgetTable thead th a, #ie7andup .documentsWidgetTable thead th span {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
  vertical-align: middle;
  line-height: 1.5; }
#ie7andup .documentsWidgetTable tr#archiveRow {
  border-bottom: 0px; }
#ie7andup .econPollArchiveRoll {
  color: #018fc4;
  font-weight: bold;
  text-decoration: none; }

.documentsWidgetTableArchive {
  min-height: 680px; }

.documentsWidget {
  padding-top: 20px; }
  .documentsWidget ul {
    list-style: none; }
    .documentsWidget ul li {
      margin-left: 0px;
      padding-bottom: 10px; }
  .documentsWidget a.documentLink {
    background: transparent center left no-repeat;
    padding: 4px 0 2px 23px; }

/*Other Snippets */
/* Register Page */
ul.red_ticks {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.red_ticks li {
    background: url("../img/red_tick.8b7b9df583d0.png") 0 5px no-repeat;
    margin: 0;
    padding: 0 0 20px 35px; }

h5.quote {
  font-style: italic;
  font-size: 12px; }
  h5.quote .personQuote {
    font-size: 9.5px;
    font-style: normal; }

#sidebarContent h4 {
  font-size: 14px;
  font-weight: 500;
  font-style: normal; }

/* Entry Styles */
.entryCategoryTitle {
  color: #ee2d27;
  display: inline;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 4px 2px 2px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  letter-spacing: 0.08em; }

.entryTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 15px 0;
  padding: 0px; }

.entry .shareButtons {
  padding: 10px 0 25px 0;
  height: 30px; }
  .entry .shareButtons a {
    margin-right: 5px; }

.dateLine {
  font-size: 9px;
  color: #555555;
  text-transform: uppercase;
  font-weight: 500; }

.byLine {
  font-size: 12px;
  margin-bottom: 15px; }

.entryPost p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em; }

.entryContent p.pullLeft {
  float: left; }
.entryContent p.pullRight {
  float: right; }
.entryContent p.quote {
  margin: 4px 15px 15px 15px;
  padding: 10px 0px;
  width: 300px;
  font-size: 1.8em;
  font-style: normal;
  color: red;
  border-top: 5px solid #cccccc;
  border-bottom: 5px solid #cccccc; }
.entryContent table {
  margin: 10px auto; }
  .entryContent table caption {
    font-weight: bold;
    font-size: 14px;
    padding: 10px; }
  .entryContent table th {
    background-color: #555555;
    color: white;
    border: 2px solid white;
    padding: 5px;
    font-weight: bold;
    vertical-align: middle; }
    .entryContent table th:first-child {
      background-color: white; }
  .entryContent table td {
    text-align: center; }
    .entryContent table td:first-child {
      text-align: right;
      font-style: italic;
      padding-right: 5px; }
  .entryContent table tr {
    border-bottom: 1px solid #dddddd; }
    .entryContent table tr:first-child {
      border-bottom: none; }
