.topContainer2 {
width: 974px;
height: 239px;
}

.errorsProduct {
    background-color: #F1EEE7;
    color: #910101;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#caPageContainerMain {
    background-image: url(/images/pl-komputronik/AdvConfigurator/bg.jpg);
    background-repeat: repeat-x;
    background-color: #FFFDF1;
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica,
        sans-serif;
}

.pageContainer2 {
    width: 974px;
    margin: 0px auto;
    background-image: url(/images/pl-komputronik/AdvConfigurator/topBg.jpg);
    background-repeat: no-repeat;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica,
        sans-serif;
}

.cls {
    clear: both;
    padding: 0px;
    margin: 0px;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

.pkt1_a {
    width: 232px;
    height: 63px;
    position: relative;
    top: 82px;
    left: 307px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/pk1_a.jpg);
    background-repeat: no-repeat;
    color: #000000;
    font-size: 12px;
    padding-left: 36px;
    padding-top: 10px;
    float: left;
}

.pkt1_a_aktywny {
    width: 232px;
    height: 63px;
    position: relative;
    top: 82px;
    left: 307px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/pk1_b.jpg);
    background-repeat: no-repeat;
    color: #000000;
    font-size: 12px;
    padding-left: 36px;
    padding-top: 10px;
    float: left;
}

.pkt1_a p {
    padding: 0px;
    margin: 0px;
}

.pkt1_a_aktywny p {
    padding: 0px;
    margin: 0px;
}

.pkt1_a a {
    display: block;
    height: 12px;
    font-size: 11px;
    width: 232px;
    line-height: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.pkt1_a_aktywny a {
    display: block;
    height: 12px;
    font-size: 11px;
    width: 232px;
    line-height: 11px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.pkt1_a a:hover {
    color: #053ba8;
}

.pkt1_a_aktywny a:hover {
    color: #053ba8;
}

.pkt2_a_aktywny {
    width: 232px;
    height: 63px;
    position: relative;
    top: 82px;
    left: 307px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/pk2_b.jpg);
    background-repeat: no-repeat;
    color: #000000;
    font-size: 12px;
    padding-left: 36px;
    padding-top: 10px;
    float: left;
    margin-left: 20px;
}

.pkt2_a {
    width: 232px;
    height: 63px;
    position: relative;
    top: 82px;
    left: 307px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/pk2_a.jpg);
    background-repeat: no-repeat;
    color: #000000;
    font-size: 12px;
    padding-left: 36px;
    padding-top: 10px;
    float: left;
    margin-left: 20px;
}

.pkt2_a ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
}

.pkt2_a_aktywny ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
}

.pkt2_a ul span {
    color: #333333;
    font-weight: normal;
}

.pkt2_a_aktywny ul span {
    color: #333333;
    font-weight: normal;
}

.contentBox {
    width: 892px;
    margin: 0 auto;
    background-color: #E3E3DB;
    border: 1px solid #E1E0DB;
}

/* wymagane box */
.wymaganeBox {
    margin: 0;
    padding: 0;
    width: 275px;
    float: left;
}

.wymaganeBoxInner {
    padding: 10px;
}
.wymaganeBox .wymaganeBoxInner .header {
    font-weight: bold;
}

div.wymagane {
    width: 888px;
    height: 40px;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/h1_wymagane.jpg);
    margin: 0px auto;
    margin-top: 1px;
}
div.wymagane .header, .elementsHead {
    padding-left:16px;
    padding-top: 10px;
    font-size: 15px;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica,
        sans-serif;
    color: #333333;
    font-weight: bold;
}

.conftext {
    margin: 10px auto;
    width: 888px;
    font-size: 15px;
}

.wymaganeBox ul {
    width: 275px;
    padding: 0px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wymaganeBox li {
    list-style: none;
    display: block;
    height: 20px;
    font-size: 12px;
    text-indent: 18px;
}

.wymaganeBox li a {
    text-decoration: none;
    color: #333333;
}

.wymaganeBox li a:hover {
    display: block;
    width: 270px;
    border: 1px solid #c8c7c2;
    line-height: 18px;
    height: 18px;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/link_bg.jpg);
    background-repeat: repeat-x;
    font-size: 12px;
    text-decoration: none;
    color: #333333;
}

.wymaganeBox li a:hover span {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-image: url(/images/pl-komputronik/AdvConfigurator/plus.jpg);
    background-position: 250px 0px;
}

.textBar div,.textBar2 {
    margin: 10px;
    font-size: 12px;
}

/* tabela produktów */
.tabelaProduktow {
    margin: 0px auto;
    width: 890px;
    background-color: #E3E3DB;
    border: 1px solid #E1E0DB;
    margin-top: 5px;
}

.tabelaProduktowWhite {
    margin: 0px auto;
    width: 890px;
    padding-top: 10px;
    background-color:#FFF;
    overflow:hidden;
}

.tabela1 {
    width: 886px;
    padding: 0px;
    margin: 0px auto;
    margin-bottom: 10px;
    font-size: 11px;
}

.tabela1 h3 {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.tabela1 h3 a {
    text-decoration: none;
    color: #000000;
}

.tabela1 h3 a:hover {
    color: #990000;
    text-decoration: underline;
}

.wierszTop {
    height: 40px;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/tabelaBg.jpg);
    background-repeat: repeat-x;
}

.top_main_element_name {
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
    color: #333333;
}

.obrazek img {
    display: block;
    padding: 3px;
    border: 1px solid #83837B;
    background-color: #FFFFFF;
    margin: 0px auto;
    margin-top: 8px;
}

.configuratorSeparator {
    font-size: 0px;
    line-height: 2px;
    height: 10px;
    background-position: bottom;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/separator.jpg);
    background-repeat: repeat-x;
}

.cena {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.dostep {
    text-align: center;
}

.dodaj {
    text-align: center;
}

.infoCA {
    background-image: url(/images/pl-komputronik/AdvConfigurator/info.jpg);
    background-repeat: repeat-x;
    background-color: #5889ce;
    background-position: top;
    padding: 15px 10px;
}

.infoCA span {
    font-size: 11px;
}

.errorTextCA {
    color: #FFFFFF;
    font-size: 14px;
}

.errorTextCA p {
    font-size: 16px;
    font-weight: bold;
}

.errorTextCA a {
    text-decoration: none;
    color: #5E0302;
    font-weight: bold;
}

.errorTextCA a:hover {
    color: #FF9900;
}

.errorContainer {
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/error_bg.jpg);
    background-repeat: repeat-x;
    width: 100%;
    margin-top: 1px;
    background-color: #CF0D0D;
}

.errorLeft {
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/error_left.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
}

.errorRight {
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/error_right.jpg);
    background-repeat: no-repeat;
    background-position: right 0px;
    padding: 15px 15px 25px 15px;
}

.errorText {
    color: #FFFFFF;
    font-size: 14px;
}

.errorText p {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.errorText p.errorHeader {
    font-size: 16px;
    font-weight: bold;
}

.errorText a {
    text-decoration: none;
    color: #5E0302;
    font-weight: bold;
}

.errorText a:hover {
    color: #FF9900;
}

.noError {
    background-image: url(/images/pl-komputronik/AdvConfigurator/ok.jpg);
    background-repeat: repeat-x;
    background-color: #72b958;
    background-position: top;
    margin-top: 1px;
    padding: 15px;
}

.noError .errorText p {
    font-weight: bold;
}

.szukaj {
    display: block;
    width: 202px;
    height: 34px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/szukaj.jpg)
        ;
    background-repeat: no-repeat;
}

.top2_table {
    width: 343px;
    height: 27px;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/bg_table2.jpg);
    background-repeat: repeat-x;
    font-weight: bold;
    padding-left: 20px;
    color: #666666;
    font-family: "Trebuchet MS", Tahoma;
}

.sep {
    width: 2px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/sep.jpg);
    background-repeat: repeat-y;
}

.sep2 {
    width: 2px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/sep2.jpg);
    background-repeat: repeat-y;
}

.tree {
    padding-left: 20px;
    padding-bottom: 15px;
    vertical-align: top;
}

.tree ul {
    padding: 0;
    margin: 0;
}

.tree ul.mainList {
    padding: 0;
    margin: 8px 0;
}

.tree li {
    list-style: none;
    font-size: 11px;
    color: #333333;
}

.tree a {
    text-decoration: none;
    color: #333333;
}

.tree a:hover {
    text-decoration: none;
    color: #990000;
}

li.tyt {
    font-size: 14px;
    font-weight: bold;
}

li.normal {
    font-size: 11px;
    font-weight: normal;
    margin-left: 10px;
}

.tabelaProduktow .nazwa {
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tabelaProduktow .nazwa a {
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: #333333;
}

.tabelaProduktow .nazwa a:hover {
    color: #990000;
}

.tabelaProduktow .nazwa span {
    display: block;
    font-weight: normal;
    font-size: 10px;
    margin-left: 25px;
}

a.dodaj {
    width: 115px;
    height: 35px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/dodaj.jpg);
    background-repeat: no-repeat;
    display: block;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.podsuma p {
    padding: 0px;
    margin: 0px;
}

p.brutto {
    font-size: 14px;
    color: #FF9900;
    font-weight: bold;
}

p.netto {
    font-size: 11px;
    color: #333333;
    font-weight: bold;
}

.klawisze {
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
}

.saveParts {
    display: block;
    height: 42px;
    width: 140px;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/zamow_czesci.jpg);
    background-repeat: no-repeat;
    float: left;
}

.saveAssembly {
    display: block;
    height: 42px;
    width: 140px;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/zamow_zestaw.jpg);
    background-repeat: no-repeat;
    float: left;
}

.printdiv {
    display: block;
    height: 42px;
    width: 97px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/print.jpg);
    background-repeat: no-repeat;
    float: left;
}

.purge {
    display: block;
    height: 42px;
    width: 136px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/claer.jpg);
    background-repeat: no-repeat;
    float: left;
}

.separator3 {
    height: 2px;
    font-size: 0px;
    padding: 0px;
    line-height: 0px;
    margin: 0px;
    width: 100%;
    background-image:
        url(/images/pl-komputronik/AdvConfigurator/separator2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

a.zestaw {
    display: block;
    width: 211px;
    height: 33px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/zestaw.jpg)
        ;
    background-repeat: no-repeat;
}

div.ca_indicator {
    margin-top: 5px;
}

div.ca_group_name {
    display: inline;
    float: left;
    margin: 8px 10px 0 0;
    font-size: 14px;
    font-weight: bold;
}

div.ca_group_menu {
    display: inline;
    float: left;
    margin: 8px 10px 0 10px;
}

div.ca_search_advanced {
    display: inline;
    float: right;
}

td.ca_wiersz_info {
    font-size: 10px;
    padding: 0 20px 5px 20px;
    text-align: center;
}

span.ca_error_text {
    font-size: 12px;
}

label.ca_menu_list_label {
    font-weight: bold;
}

a.ca_header_item_link {
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

/******** Static content *******/
#caPageContainerMainCMS {
    background-image: url(/images/pl-komputronik/AdvConfigurator/bg.jpg);
    background-repeat: repeat-x;
    background-color: #FFFDF1;
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica,
        sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.punkt {
    width: 165px;
    height: 64px;
    float: left;
    padding-top: 82px;
}

.punkt p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    padding-top: 8px;
    color: #000000;
}

.punkt span {
    display: block;
    line-height: 11px;
    font-size: 9px;
    color: #3e5b86;
}

.punkt a {
    text-decoration: none;
}

.punkt a:hover p {
    color: #2761b8;
}

.punkt a:hover span {
    color: #14243a;
}

.pageContainer2 .content {
    width: 85%;
    margin: 0px auto;
}

.pageContainer2 .content img {
    display: block;
    margin: 0px auto;
}

.k1 {
    width: 500px;
    height: 26px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/k1.jpg);
    background-repeat: no-repeat;
}

.k2 {
    width: 500px;
    height: 26px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/k2.jpg);
    background-repeat: no-repeat;
}

.k4 {
    width: 500px;
    height: 26px;
    background-image: url(/images/pl-komputronik/AdvConfigurator/k4.jpg);
    background-repeat: no-repeat;
}

.compatibilitySeparator {
    font-weight: bold;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}


.tabela1 input
{
    width:40px;
}

.pageContainer2 .bannerTextContainer {
    color: #ffffff;
    position: relative;
    left: 370px;
    top: 50px;
    text-transform:uppercase;
    text-align: right;
    font-weight: bold;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica;
    height: 65px;
    width: 530px;
}

.pageContainer2 .bannerTextContainer h1 {
    font-size: 32px;
}

.pageContainer2 .bannerTextContainer h2 {
    font-size: 16px;
    margin-top: 8px;

}

.conftext#footer  {
    margin-bottom: 0px !important;
    padding-bottom: 10px;
}