@charset "utf-8";

.cartColumnContainer.cartStep4 .cartContainer .cartPromotions {
    width: 944px;
}

.cartContainer .cartPromotions {
    box-sizing:border-box;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 6px;
    overflow: hidden;
    width: 97.34395750332005%;
    padding:10px;
    border-bottom:4px solid #f0f0f0;
    margin-bottom:20px;
}
.cartContainer .cartPromotions * {
    box-sizing:border-box;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

.cartContainer .cartPromotions .label {
    padding: 20px 0px;
    color: #6cc049;
    font-size: 18px;
    background:url(/images/pl-komputronik/promotion/icon-promo-entry.png) no-repeat left center;
    background-position:0px 12px;
    padding-left:50px;
}


.cartContainer .cartPromotions ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.cartContainer .cartPromotions ul li {
    padding-bottom: 6px;
    list-style-type: none;
}


.cartContainer .cartPromotions .item {
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom:1px solid #f0f0f0;
    padding:10px 10px 10px 0;
}

.cartContainer .cartPromotions ul li:last-child .item {
    border-bottom: none;
}

.cartContainer .cartPromotions .item .radio {
    float: left;
    width: 50px;
    line-height: 23px;
    text-align: left;
    padding-left:14px;
    padding-top: 10px;
}

.cartContainer .cartPromotions .item .radio input[type=radio] {
    margin: 0px;
    line-height: 23px;
    vertical-align: middle;
}

.cartContainer .cartPromotions .item .description {
    float: left;
    padding-top: 6px;
    width: 90%;
}

.cartContainer .cartPromotions .item.withIcon .description {
    width: 590px;
}

.cartContainer .cartPromotions .item .icon {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    width: 100px;
    height: auto;
}

.cartContainer .cartPromotions .item label {
    font-weight: bold;
    font-size:14px;
    padding-bottom: 6px;
    line-height:22px;
    display: block;
    color: #000000;
}

.cartContainer .cartPromotions .item .text {
    color: #343434;
    font-size: 12px;
    line-height: 16px;
    width:90%;
}

.cartContainer .cartPromotions .promoProductsSwitch {
    cursor: pointer;
    line-height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    border:1px solid #78c459;
    font-weight: normal;
    float: left;
    color:#78c459;
    font-size:12px;
    padding: 0px 15px;
    margin-top: 10px;
    margin-bottom: 6px;
    transition:all 100ms ease-out;
}

.cartContainer .cartPromotions .promoProductsSwitch:active,
.cartContainer .cartPromotions .promoProductsSwitch:hover {
    background-color:#78c459;
    color:#fff;
}


.cartContainer .cartPromotions .productsList {
    display: none;
    background-color: #ffffff;
    clear: both;
    width:95%;
    padding:10px 10px 10px 0px;
    margin-bottom:10px;
}

.cartContainer .cartPromotions .productsList .label {
    padding:10px 0px;
    font-weight: bold;
    font-size:14px;
    background-image:none;
    color: #6cc049;
}

.cartContainer .cartPromotions .productsList .entry {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}

.cartContainer .cartPromotions .productsList .entry td {
    vertical-align: middle;
}

.cartContainer .cartPromotions .productsList .entry:last-child {
    border-bottom: none;
}

.cartContainer .cartPromotions .productsList .entry .image {
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    /*border:1px solid #e0e0e0;*/
    float: none;
    margin-left: 6px;
    text-align: center;
}

.cartContainer .cartPromotions .productsList .entry .description {
    width: 400px;
    float: none;
    padding-left: 6px;
    padding-top: 0px;
    margin-top: 0px;
}

.cartContainer .cartPromotions .productsList .entry .description a {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

.cartContainer .cartPromotions .productsList .entry .description a:active, .cartContainer .cartPromotions .productsList .entry .description a:hover {
    text-decoration: underline;
}

.cartContainer .cartPromotions .productsList .entry .price {
    text-align: center;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    white-space: nowrap;
    padding: 0px 10px;
}

.cartContainer .cartPromotions .productsList .entry .price .oldPrice {
    text-decoration: line-through;
    font-size: 11px;
}

.cartContainer .cartPromotions .productsList .entry .price .promoPrice {
    font-weight: bold;
    font-size: 14px;
    color: #c86300;
}

.cartContainer .cartPromotions .item.quantityPromotion .text {
    line-height:20px;
    width:60%;
    float:left;
}

.cartContainer .cartPromotions .item.quantityPromotion .text + .text {
    margin-top:10px;
}


.cartContainer .cartPromotions .item.quantityPromotion .text table td {
    padding:3px 4px;
    font-size:12px;
}

.cartContainer .cartPromotions .item.quantityPromotion .text table td span {
    font-weight:bold;
    color:#6cc049;
}

.cartContainer .cartPromotions .item.quantityPromotion .text table tr:nth-child(2n) td {
    background-color:#f1f1f1;
}

.cartContainer .cartPromotions .item.quantityPromotion .text table tr td:nth-child(2n)::before {
    font-family:'komputronik-icons';
    font-size:14px;
    padding-right:5px;
    color:#6cc049;
    font-weight:normal;
    content:' \e630';
}


.cartContainer .cartPromotions a.addToCart {
    color:#c86300;
    float: left;
    display: block;
    line-height: 20px;
    white-space:nowrap;
    font-weight: bold;
    text-align: center;
    background-image:none;
    width:auto;
    background-color: #ffffff;
    border: 1px solid #c86300;
    border-radius: 5px;
    padding: 4px 10px;
    margin-left: 8px;
    margin-top:8px;
    margin-bottom:8px;
    text-decoration: none;
    min-height: 34px;
}

.cartContainer .cartPromotions .addToCart::before {
    font-family:'komputronik-icons';
    font-size:14px;
    font-weight:normal;
    content:' \e64a';
    padding-right:6px;
    color:#c86300;
}

.cartContainer .cartPromotions a.addToCart:active::before,
.cartContainer .cartPromotions a.addToCart:hover::before {
    color:#fff;
}

.cartContainer .cartPromotions a.addToCart:active,
.cartContainer .cartPromotions a.addToCart:hover {
    background-color: #c86300;
    border: 1px solid #c86300;
    color: #ffffff;
}
