/* ******* standardowe selektory do szybkiego formatowania tagów ********* */
.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.DisplayNone {
    display: none;
}

.DisplayBlock {
    display: block;
}

.DisplayInline {
    display: inline;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}
