/* ******* background Guard Premium Container ******** */
.backgroundGuardPremiumContainer {
    background-color: #000000;
    height: 100%;
    left: 0;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.guardBoxContainer {
    padding: 30px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

.guardBoxContainer .contentBoxContainer {
    margin: 0 auto;
    width: 914px;
}

/* ******* guard Premium Container ******** */
.guardPremiumContainer {
    margin: 0px;
    padding: 0 0 10px 0;
    width: 914px;
    overflow: hidden;
    background-color: #ffffff;
    border: 3px solid #646c70;
    font: normal 11px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    text-align: left;
}

.guardPremiumContainer .contentContainer {
    width: 886px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #999999;

}

.guardPremiumContainer .content {
    width: 886px;
    overflow: hidden;
    background: url(/images/pl-komputronik/exguard/gb-logo.png) no-repeat top right;
}

.guardPremiumContainer .productAdded {
    width: 222px;
    float: left;
    text-align: center;
}

.guardPremiumContainer .productAdded h2 {
    color: #646464;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 35px;
}

.guardPremiumContainer .productAdded .productPhoto img {
    border: 1px solid #dedede;
    background-color: #ffffff;
    padding: 2px;
    margin: 0 auto;
    margin-top: 15px;
    width: 200px;
}

.guardPremiumContainer .productAdded .productName {
    font-weight: normal;
    font-size: 13px;
    color: #616161;
    width: 202px;
    margin: 0 auto;
    margin-top: 5px;
}

.guardPremiumContainer .productAdded .productPrice {
    margin-top: 0px;
    font: bold 16px Arial, Tahoma, Helvetica, sans-serif;
    color: #cc0000;
    padding-bottom: 5px;
}

.guardPremiumContainer .guardInfo {
    margin-left: 232px;
    width: 654px;
}

.guardPremiumContainer .guardInfo h1 {
    color: #cc0505;
    font: normal 20px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    margin: 0px;
    padding: 55px 120px 0px 10px;
}

.guardPremiumContainer .guardInfo h2 {
    color: #3b3b3b;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    padding: 15px 0px 10px 10px;
}

.guardPremiumContainer .guardInfo .description {
    color: #575757;
    font-size: 12px;
    margin: 0px;
    padding: 15px 140px 0px 10px;
}

.guardPremiumContainer .itemRow {
    border-top: 1px solid #dedede;
    margin-left: 10px;
    width: 624px;
    background: url(/images/pl-komputronik/exguard/ikona_guard.png) no-repeat left top;
    overflow: hidden;
    padding-bottom: 5px;
}

.guardPremiumContainer .itemRow input.intoBasket {
    background: url(/images/pl-komputronik/exguard/btn_koszyk.png) no-repeat left top;
    display: block;
    width: 118px;
    margin: 10px 0px 0px 0px;
    height: 23px;
    float: right;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

.guardPremiumContainer .itemRow .itemName {
    margin: 18px 0px 0px 57px;
    font-weight: bold;
    font-size: 12px;
    color: #0157b0;
}

.guardPremiumContainer .itemRow .itemDescription {
    padding: 0px;
    color: #454545;
    margin: 5px 0px 0px 57px;
}

.guardPremiumContainer .itemRow .itemAmount {
    color: #676767;
    margin: 10px 0px 0px 57px;
    float: left;
    line-height: 23px;
}

.guardPremiumContainer .itemRow .itemAmount span {
    margin: 0px;
    padding: 0px;
    color: #cc0000;
    font-size: 14px;
    font-weight: bold;
}

.guardPremiumContainer .itemRow a.regulations {
    display: block;
    float: left;
    width: 100px;
    margin: 10px 0px 0px 10px;
    background: url(/images/pl-komputronik/exguard/ikona_pdf.png) no-repeat left center;
    line-height: 23px;
    color: #3b3b3b;
    padding-left: 23px;
    text-decoration: underline;
}

.guardPremiumContainer .itemRow a.regulations:active, .guardPremiumContainer .itemRow a.regulations:hover {
    color: #cc0000;
    text-decoration: none;
}

.guardPremiumContainer .footer {
    width: 886px;
    padding: 0px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 13px;
}

.guardPremiumContainer a.btnAction {
    color: #ffffff;
    max-width: 120px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    display: block;
    line-height: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #086cb2;
    border: 1px solid #064a7a;
    border-radius: 5px;
    padding: 0px 6px 0px 6px;
    margin: 0 auto;
    text-decoration: none;
    float: none;
}

.guardPremiumContainer a.btnAction:active, .guardPremiumContainer a.btnAction:hover {
    background-color: #CEE2F0;
    border: 1px solid #064a7a;
    color: #086cb2;
}

.guardPremiumContainer a.btnAction span {
    color: #83B5D8;
}

.guardPremiumContainer a.btnAction:active span, .guardPremiumContainer a.btnAction:hover span {
    color: #086cb2;
}

.guardBoxContainer a.btnOption {
    color: #333333;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    display: block;
    line-height: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0px 6px 0px 6px;
    margin-right: 20px;
    margin-top: 40px;
    text-decoration: none;
    float: right;
}

.guardBoxContainer a.btnOption:active, .guardBoxContainer  a.btnOption:hover {
    background-color: #086cb2;
    border: 1px solid #064a7a;
    color: #ffffff;
}

.guardBoxContainer a.btnOption span {
    color: #dd1e08;
}

.guardBoxContainer a.btnOption:active span, .guardBoxContainer a.btnOption:hover span {
    color: #ffffff;
}
