@charset "utf-8";

/* CSS Document */
.searchResultsGoogle h2 {
  font-size: 22px;
  color: #454545;
  font-weight: 700;
  text-align: left;
}

.mainColumnContainer.productsListContainer.fullWidth {
    margin: 0 auto;
    width: 964px;
}

.googleResults.hide {
    display: none;
}

.searchResultsNotFound, .searchResultsGoogle {
    width:964px;
    margin:0 auto;
    background-color:#ffffff;
    border-radius:5px;
    -moz-border-radius:5px;
    font-family:'Open Sans', Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight:400;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
}

.searchResultsNotFound.afterList {
    width:100%;
    margin-top:6px;
}

.searchResultsGoogle {
    text-align:left;
    padding-left:20px;
    padding-right:20px;
    box-sizing:border-box;
}

.searchResultsNotFound .info {
    font-size:18px;
    font-weight:700;
    color:#000000;
    margin-bottom:20px;
}

.searchResultsNotFound a.searchButton {
    display:inline-block;
    text-align:center;
    padding:3px 5px;
    text-decoration:none;
    border-radius:3px;
    margin: 0px 10px;
    box-sizing:border-box;
}

.searchResultsNotFound a.searchButtonBlue {
    color:#ffffff;
    background-color:#0072bc;
    border:1px solid #0072bc;
}

.searchResultsNotFound a.searchButtonWhite {
    color:#0097d5;
    background-color:#ffffff;
    border:1px solid #0097d5;
}

.searchResultsNotFound a.searchButtonBig {
    font-weight:700;
    padding:10px 20px;
}

.searchResultsNotFound a.searchButtonBlue:active,
.searchResultsNotFound a.searchButtonBlue:hover {
    background-color:#30363a;
    border-color:#30363a;
}

.searchResultsNotFound a.searchButtonWhite:active,
.searchResultsNotFound a.searchButtonWhite:hover {
    background-color:#0097d5;
    color:#ffffff;
}

.searchResultsNotFound .suggestions {
    margin-bottom: 20px;
}

.searchResultsNotFound .suggestions a {
    margin-left: 6px;
}

.searchResultsGoogle h2 {
    font-size:22px;
    color:#454545;
    font-weight:700;
    text-align:left;
}

.googleResults .gs-result {
    margin-bottom:30px;

}

.googleResults .gs-title {
    font-size:18px;
    font-weight:400;
    color:#0072bc;
}
.googleResults .gs-title b {
    font-weight:700;
}

.googleResults a.gs-title {
    text-decoration:none;
}

.googleResults a.gs-title:active,
.googleResults a.gs-title:hover {
    text-decoration:underline;
}

.googleResults a.gs-title:visited {
    color:#787878;
}

.googleResults .gs-snippet {
    font-size:13px;
    font-weight:400;
    color:#545454;
}
.googleResults .gs-url {
    font-size:13px;
    font-weight:400;
    color:#006621;
}

.googleResults .gsc-cursor {
    display:inline;
}
.googleResults .center {
    text-align: center;
}
