@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'komputronik-top-icons';
    src: url('/css/pl-komputronik/fonts/komputronik-icons-top.eot?hrcxpd');
    src: url('/css/pl-komputronik/fonts/komputronik-icons-top.eot?#iefixhrcxpd') format('embedded-opentype'),
    url('/css/pl-komputronik/fonts/komputronik-icons-top.woff?hrcxpd') format('woff'),
    url('/css/pl-komputronik/fonts/komputronik-icons-top.ttf?hrcxpd') format('truetype'),
    url('/css/pl-komputronik/fonts/komputronik-icons-top.svg?hrcxpd#komputronik-icons-top') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-image: none;
}

.wrapper {
    width:100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:400;
}

.wrapper .container {
    width: 980px;
    margin: 0 auto;
}

.wrapper.account {
    background-color: #30363A;
    font-size:13px;
    color: #ffffff;
    margin:0 auto;
}

.wrapper.account .container {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.wrapper.account .container a:active,
.wrapper.account .container a:hover {
    background-color: #0072bc;
    max-height: 37px;
}

.wrapper.account .container .customerShortcuts ul {
    margin: 0;
    padding: 0;
}

.wrapper.account .container .customerShortcuts ul li {
    list-style-type: none;
    display: block;
    float: left;
    height: 100%;
}

.wrapper.account .container .customerShortcuts ul li::after {
    content: '|';
    color: #9e9e9e;
}

.wrapper.account .container .customerShortcuts ul li:last-child:after {
    content: '';
}


.wrapper.account .container .customerShortcuts ul li > a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    float: left;
    height: 100%;
    padding: 0px 7px;
}

.wrapper.account .container .customerShortcuts .customerName {
    color: #ffffff;
    display: block;
    float: left;
    height: 30px;
    line-height:25px;
    padding: 0px 7px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.wrapper.account .container .customerShortcuts .customerName strong {
    font-weight:700;
}

.wrapper.account .container .customerShortcuts .customerName::before {
    content: '\e60d';
    font-family: 'komputronik-top-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    display:inline-block;
    text-align: left;
    color: #ffffff;
    padding: 0px 4px 0px 0px;
}

.wrapper.account .container .customerShortcuts ul li > a:active,
.wrapper.account .container .customerShortcuts ul li > a:hover {
    background-color: #0072bc;
}


.wrapper.account .container .customerShortcuts {
    float: right;
    font-size: 13px;
    margin-right:60px;
}

.wrapper.account .container .customerShortcuts .login {
    position:relative;
    color: #ffffff;
    text-decoration: none;
    display: block;
    float: left;
    height: 100%;
    padding: 0px;
    margin-right:60px;
}

.wrapper.account .container .customerShortcuts .login .label {
    display:block;
    cursor:pointer;
    padding:0px 7px;
}

.wrapper.account .container .customerShortcuts .login .label::after {
    content: '\f13a';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
    color: #e0e1e1;
    padding-left: 5px;

}
.wrapper.account .container .customerShortcuts .login .label:hover {
    background-color:#505558;
}
.wrapper.account .container .customerShortcuts .login .label.expanded {
    background-color:#505558;
}

.wrapper.account .container .customerShortcuts .login .label.expanded::after {
    content:'\f139';
}

.wrapper.account .container .customerShortcuts .login .content {
    position:absolute;
    top:30px;
        right:0px;
    background-color:#505558;
   display:block;
    transform:scaleY(0);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(0);
    overflow:hidden;
    transition:all 100ms ease-out;
    width:240px;
        text-align:left;
/*    box-shadow:1px 0px 10px #898989;*/
    z-index:100;
        padding-top:23px;
        padding-bottom:8px;
        font-size:13px;
        text-align:center;
}

.wrapper.account .container .customerShortcuts .login .content input {
    width:93.33333333333333%;
    margin:0 auto;
    display:block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    color: #000;
}

.wrapper.account .container .customerShortcuts .login .content input[type="text"],
.wrapper.account .container .customerShortcuts .login .content input[type="password"] {
    border:1px solid #30363A;
    height:31px;
    line-height:31px;
    border-radius:3px;
    padding-left:10px;
}

.wrapper.account .container .customerShortcuts .login .content a.loginButton {
    height:31px;
    background-color:#0097D5;
    line-height:31px;
    text-align:center;
    width:93.33333333333333%;
    display:block;
    color:#ffffff;
    text-decoration:none;
    margin:0 auto;
    margin-top:5px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-radius:3px;
}

.wrapper.account .container .customerShortcuts .login .content a.loginButton:active,
.wrapper.account .container .customerShortcuts .login .content a.loginButton:hover {
        background-color:#0072bc;
}

.wrapper.account .container .customerShortcuts .login .content a.social:active,
.wrapper.account .container .customerShortcuts .login .content a.social:hover {
    background-color:#000000;
}

.wrapper.account .container .customerShortcuts .login .content a.remindPassword {
    height:31px;
    font-size:11px;
    line-height:31px;
    text-align:center;
    width:93.33333333333333%;
    color:#d5d6d6;
    text-decoration:underline;
    margin: 5px auto 0 auto;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.wrapper.account .container .customerShortcuts .login .content a.remindPassword:hover {
    background: #505558;
}

.wrapper.account .container .customerShortcuts .login .content input[type="text"] + input[type="text"],
.wrapper.account .container .customerShortcuts .login .content input[type="text"] + input[type="password"] {
    margin-top:5px;
}
.wrapper.account .container .customerShortcuts .login .content.expanded {
    height:auto;
    transform:scaleY(1);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(1);
}

.wrapper.account .container .customerShortcuts a.social {
    background-color:#30363a;
    color:#ffffff;
    text-decoration:none;
    width:93.33333333333333%;
    display:block;
    margin:0 auto;
    margin-top:5px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    height:31px;
    font-size:13px;
    line-height:31px;
    border-radius:3px;
}

.wrapper.account .container .customerShortcuts a.social.facebook::after {
    content: '\f09a';
    font-family: 'komputronik-top-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding: 0px 4px;
}

.wrapper.account .container .customerShortcuts a.social.googleplus::after {
    content: '\f0d5';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding: 0px 4px;
}

.wrapper.account .container .infoline {
    float: left;
    font-size: 14px;
}

.wrapper.account .container .infoline strong {
    font-weight: 800;
    -webkit-font-smoothing: none;
}

.wrapper.account .container .languages {
    float: right;
    width:80px;
    text-align:center;
    height:100%;
    position:relative;
}

.wrapper.account .container .languages .label {
    display:block;
    cursor:pointer;
    height:100%;
    padding:0px 8px;
}

.wrapper.account .container .languages .label::before {
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.wrapper.account .container .languages .label img {
    display:inline-block;
    vertical-align:middle;
    margin-right:2px;
    width: 19px;
    height: 12px;
}

.wrapper.account .container .languages .label span {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
}

.wrapper.account .container .languages .label::after {
    content: '\f13a';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
    color: #e0e1e1;
}

.wrapper.account .container .languages .content .label::after {
    content:'';
}

.wrapper.account .container .languages .content .label:hover {
    background-color:#30363a;
}

.wrapper.account .container .languages .label a {
    padding: 0;
    border: 0;
    float: none;
    display: inline;
    text-decoration: none;
    color: white;
}

.wrapper.account .container .languages .content .label a:hover {
    background-color: #30363a;
}

.wrapper.account .container .languages .label:hover, .wrapper.account .container .languages .label a:hover {
    background-color:#505558;
}
.wrapper.account .container .languages .label.expanded {
    background-color:#505558;
}

.wrapper.account .container .languages .label.expanded::after {
    content:'\f139';
}

.wrapper.account .container .languages .content {
    position:absolute;
    top:30px;
    right:0px;
    background-color:#505558;
    display:block;
    transform:scaleY(0);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(0);
    overflow:hidden;
    transition:all 100ms ease-out;
    width:80px;
    text-align:left;
    z-index:100;
    padding-top:6px;
    padding-bottom:4px;
    font-size:13px;
    text-align:left;
}

.wrapper.account .container .languages .content.expanded {
    height:auto;
    transform:scaleY(1);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(1);
}

.wrapper.top {
    background-color: #ffffff;
    color: #212121;
    margin: 0 auto;
    z-index: 50;
    position: relative;
}

.wrapper.top .container {
    padding:0px 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.wrapper.top .container a.logo {
    display: block;
    float: left;
    text-align:center;
    vertical-align: middle;
    width: 29.5102%;
    margin-top: 20px;
}

.wrapper.top .container a.logo img {
    vertical-align: middle;
}

.wrapper.top .container a.logo:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.wrapper.top .container a.newsletterTeaser {
    display: block;
    float: left;
    margin-left: 46px;
    font-size: 12px;
    vertical-align: middle;
    text-decoration: none;
    color: #30363a;
    margin-top: 36px;
}

.wrapper.top .container a.newsletterTeaser .label {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
}

.wrapper.top .container a.newsletterTeaser:before {
    content: '\f003';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 31px;
    color: #ee5151;
    padding-right: 10px;
    display: block;
    float: left;
    height: 100%;
    vertical-align: middle;
}

.wrapper.top .container a.newsletterTeaser span {
    font-size: 16px;
}

.wrapper.top .container .cartSummary {
    display: block;
    text-decoration: none;
    float: right;
    width:20.469%;
    text-align:center;
    height:31px;
    margin-right: 0px;
    margin-top: 35px;
    font-size: 13px;
    vertical-align: middle;
    color: #999B9C;
}

.wrapper.top .container .cartSummary::before {
    content: '\e608';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-size: 24px;
    text-align: center;
    color: #999B9C;
    padding-left: 10px;
}

.wrapper.search {
    background-color: #ffffff;
    color: #212121;
}

.wrapper.search .container {
    padding-bottom: 5px;
    background-color: #ffffff;
}

.wrapper.search .container .searchField {
    border: 1px solid #9A9FA2;
    border-radius: 3px;
    height: 42px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 60.20408163265306%;
    position:relative;
    z-index: 51;
}

.wrapper.search .container .searchField input[type="text"] {
    border: none;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #757575;
    padding:0px 10px;
    display:block;
    float:left;
}

.searchAutocompleteContainer .ui-corner-all {
    border-radius: 0px !important;
}

.searchAutocompleteContainer ul.ui-autocomplete {
    width:450px;
    border:none;
    padding: 10px 0px;
    top: 0px !important;
}
.searchAutocompleteContainer ul.ui-autocomplete li {
    list-style-type:none;
    width:100%;
}
.searchAutocompleteContainer ul.ui-autocomplete li a {
    display:block;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:5px 10px;
    overflow:hidden;
    text-decoration:none;
    color:#212121;
    cursor: pointer;
    font-size: 12px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif !important;
}

.searchAutocompleteContainer ul.ui-autocomplete li a span:first-child {
    font-weight: 600;
}

.searchAutocompleteContainer ul.ui-autocomplete li a:active,
.searchAutocompleteContainer ul.ui-autocomplete li a:hover {
    background-color:#EEEEF0;
}

.searchAutocompleteContainer ul.ui-autocomplete li a div span ~ span {
    display:block;
    float:right;
    color: #999999;
}
.searchAutocompleteContainer ul.ui-autocomplete .ui-menu-item .inside {
    padding: 0px;
    font-size:12px;
    color: #212121;
}

.searchAutocompleteContainer ul.ui-autocomplete .ui-menu-item .ui-state-hover .inside {
    background:none;
}

.wrapper.search .container .searchField .select {
    position:relative;
    display:block;
    float:left;
    height:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color:#ffffff;
    width:38%;
    font-size:13px;
    z-index:1;
}
.wrapper.search .container .searchField .select > a {
    display:block;
    padding:0px;
    color:#212121;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:middle;
    width:100%;
    height:100%;
    text-decoration:none;
}

.wrapper.search .container .searchField .select > a span {
    display:inline-block;
    padding-left:10px;
    vertical-align:middle;
    width: 182px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}

.wrapper.search .container .searchField .select > a::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.wrapper.search .container .searchField .select > a::after {
    content: '\f078';
    font-family: 'komputronik-top-icons';
    font-size:12px;
    display:block;
    float:right;
    height:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:middle;
    line-height:38px;
    text-align:right;
    margin-right:10px;
    font-weight:normal;
}

.wrapper.search .container .searchField .select > a.expanded::after {
     content: '\f077';
}


.wrapper.search .container .searchField .select > a:active,
.wrapper.search .container .searchField .select > a:hover {
    background-color:#efefef;
}

.wrapper.search .container .searchField .select .searchCategoryFlyout {
    height: 0;
    position:absolute;
    display:block;
    transform:scaleY(0);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(0);
    overflow:hidden;
    transition:all 100ms ease-out;
    background-color:#ffffff;
    width:100%;
    box-shadow:1px 0px 3px #bcbcc1;
    z-index:100;
}

.wrapper.search .container .searchField .select .searchCategoryFlyout.expanded {
    height:auto;
    transform:scaleY(1);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(1);
}

.wrapper.search .container .searchField .select .searchCategoryFlyout ul  {
    margin-top:10px;
    margin-bottom:10px;
}
.wrapper.search .container .searchField .select .searchCategoryFlyout ul li {
    list-style-type:none;
    width:100%;
}
.wrapper.search .container .searchField .select .searchCategoryFlyout ul li a {
    display:block;
    color:#212121;
        font-size:14px;
    text-decoration:none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:5px 5px;

}
.wrapper.search .container .searchField .select .searchCategoryFlyout ul li a:hover,
.wrapper.search .container .searchField .select .searchCategoryFlyout ul li a:active {
    background-color:#30363a;
    color:#ffffff;
}




.wrapper.search .container .searchField a.executeButton {
    display: Block;
    float: right;
    background-color: #30363a;
    color: #ffffff;
    height: 100%;
    text-align: center;
    padding: 0px 20px 0px 16px;
    text-decoration: none;
}
.wrapper.search .container .searchField a.executeButton:active,
.wrapper.search .container .searchField a.executeButton:hover {
    background-color:#0072bc;
}

.wrapper.search a.executeButton:after {
    content: '\e610';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    padding-left: 5px;
}

.wrapper.search a.searchAdvanced {
    display: block;
    float: left;
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    height: 42px;
    color: #30363a;
    padding-left: 10px;
}
.wrapper.search a.searchAdvanced:active,
.wrapper.search a.searchAdvanced:hover {
    color:#0072bc;
}

.wrapper.search a.searchAdvanced:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.wrapper.search a.searchAdvanced span {
    display: inline-block;
    vertical-align: middle;
    width:78px;
}

.wrapper.menu .container .categoriesButton {
    width:14.3878%;
    height: 41px;
    border-radius: 3px;
    background-color: #0072bc;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    float: left;
    line-height: 41px;
    cursor: pointer;
    margin-left: 0.306122%;
}

.wrapper.menu .container #KTHomeToggle:hover,
.wrapper.menu .container #KTHomeToggle:active,
.wrapper.menu .container .categoriesButton:hover,
.wrapper.menu .container .categoriesButton:active {
    background-color:#30363a;
}

.wrapper.menu .container .categoriesButton::after {
    content: '\f13a';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding-left: 0px;
}

.wrapper.menu .categoriesButton.active::after {
    content: '\f139';
}

.wrapper.search .categoriesButton.active::after {
    content: '\f139';
}

.wrapper.menu {
    background-color: #ffffff;
    color: #212121;
}

.wrapper.menu .container {
    background-color: #ffffff;
    padding:6px 10px 12px 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    min-height: 40px;
}

.wrapper.menu .container ul.storeMenu {
    display: block;
    float: right;
    height: 36px;
}

.wrapper.menu .container ul li {
    float: left;
    list-style-type: none;
    height: 100%;
    vertical-align: middle;
    line-height: 41px;
    margin-right: 6px;
}

.wrapper.menu .container a {
    color: #231f20;
    text-decoration: none;
    display: block;
    float: left;
    height: 100%;
    vertical-align: middle;
    font-size: 14px;
    text-decoration: none;
    padding: 0px 7px;
}

.wrapper.menu .container a:active,
.wrapper.menu .container a:hover {
    color: #0072bc;
}

.wrapper.menu .container ul.storeMenu li:first-child a {
    font-weight: 800;
    color: #0072bc;
}

.wrapper.menu .container ul.extrasMenu {
    display: block;
    float: left;
    height: 41px;
    margin-left:20px;
}

.wrapper.menu .container ul.extrasMenu li a::after {
    content: '\f13a';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: baseline;
    font-size: 12px;
    text-align: center;
    padding-left: 1px;
}

.wrapper.menu .container ul.extrasMenu li.active a {
    color:#0072bc;
}
.wrapper.menu .container ul.extrasMenu li.active a::after {
    content: '\f139';
}

.categoryNav {
    background-color: #ffffff;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.categoryNav .container {
    width: 980px;
    margin: 0 auto;
    height: 500px;
    transition: all 400ms ease-out;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.categoryNav .categoryListContainer {
    width: 100%;
    padding-bottom: 5px;
    margin: 0 auto;
}

.categoryNav.expanded {
    display: block;
}

.categoryNav .navigation {
    width: 960px;
    margin: 0 auto;
    padding: 0px 10px 5px 10px;
    border-bottom: 2px solid #e5e5e5;
    min-height: 55px;
}

.navigation a.closeNavButton {
    display: block;
    float: right;
    top: 10px;
    right: 0px;
    line-height: 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: #5A697A;
    border: 1px solid #5A697A;
    background-color: #FFF;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 3px;
    position: relative;
    z-index: 1000;
    margin-bottom: 10px;
}

.navigation a.closeNavButton:hover {
    background-color: #5A697A;
    color: #FFF;
}

.navigation a.closeNavButton::after {
    content: '\f077';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    font-size: 8px;
    text-align: center;
    padding-left: 5px;
}

.navigation a.showAsListButton {
    display: none;
    clear:right;
    float: right;
    top: 10px;
    right: 0px;
    line-height: 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: #5A697A;
    border: 1px solid #5A697A;
    background-color: #FFF;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: 45px;
}

.navigation a.showAsListButton:active,
.navigation a.showAsListButton:hover {
    background-color:#5A697A;
    color:#fff;
}

.navigation a.showAsListButton::after {
    content: '\f054';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-size: 9px;
    text-align: center;
    padding-left: 5px;
}

.categoryNav .categoryListContainer a.category {
    display: block;
    width: 20%;
    float: left;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 174px;
    text-decoration: none;
}

.categoryNav .categoryListContainer li.animate-repeat a.category {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.categoryNav .CategoryDefault .categoryListContainer .previousVisible li.animate-repeat:nth-child(5n) a.category,
.categoryNav .CategoryDefault .categoryListContainer .previousVisible li.animate-repeat:last-child a.category,
.categoryNav .CategoryDefault .categoryListContainer .previousHidden li.animate-repeat:nth-child(5n + 1) a.category,
.categoryNav .CategoryDefault .categoryListContainer .previousHidden li.animate-repeat:last-child a.category {
    border-right: none;
}

.categoryNav .CategoryDefault .categoryListContainer .previousVisible li.animate-repeat:nth-last-child(-n + 5):nth-child(5n + 1) a.category,
.categoryNav .CategoryDefault .categoryListContainer .previousVisible li.animate-repeat:nth-last-child(-n + 5):nth-child(5n + 1) ~ li.animate-repeat a.category,
.categoryNav .CategoryDefault .categoryListContainer .previousHidden li.animate-repeat:nth-last-child(-n + 5):nth-child(5n + 2) a.category,
.categoryNav .CategoryDefault .categoryListContainer .previousHidden li.animate-repeat:nth-last-child(-n + 5):nth-child(5n + 2) ~ li.animate-repeat a.category {
    border-bottom: none;
}

.categoryNav .CategoryHome .categoryListContainer .previousVisible li.animate-repeat:nth-child(3n) a.category,
.categoryNav .CategoryHome .categoryListContainer .previousVisible li.animate-repeat:last-child a.category,
.categoryNav .CategoryHome .categoryListContainer .previousHidden li.animate-repeat:nth-child(3n + 1) a.category,
.categoryNav .CategoryHome .categoryListContainer .previousHidden li.animate-repeat:last-child a.category {
    border-right: none;
}

.categoryNav .CategoryHome .categoryListContainer .previousVisible li.animate-repeat:nth-last-child(-n + 3):nth-child(3n + 1) a.category,
.categoryNav .CategoryHome .categoryListContainer .previousVisible li.animate-repeat:nth-last-child(-n + 3):nth-child(3n + 1) ~ li.animate-repeat a.category,
.categoryNav .CategoryHome .categoryListContainer .previousHidden li.animate-repeat:nth-last-child(-n + 3):nth-child(3n + 2) a.category,
.categoryNav .CategoryHome .categoryListContainer .previousHidden li.animate-repeat:nth-last-child(-n + 3):nth-child(3n + 2) ~ li.animate-repeat a.category {
    border-bottom: none;
}

.categoryNav .categoryListContainer a.category figure {
    width: 76.92307692307692%; /* 150 / 195 */
    height: 115px;
    margin: 0 auto;
    text-align: center;
    transition: all 200ms ease-out;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    margin-top: 15px;
    /* aby miniaturki produktow byly centrowane */
    display: table-cell;
    vertical-align: middle;
    display: block;
}

.categoryNav .categoryListContainer a.category figure img {
    max-width: 100%;
    max-height: 100%;
}

.categoryNav .categoryListContainer a.category:active figure, .categoryNav .categoryListContainer a.category:hover figure {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.categoryNav .categoryListContainer a.category span {
    color: #212121;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 5px 10px 0px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 200ms ease-out;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    background: none;
    line-height: 18px;
}

.categoryListContainer a.category:active span, .categoryListContainer a.category:hover {
    z-index: 999;
}

.categoryListContainer a.category:active span, .categoryListContainer a.category:hover span {
    -ms-transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    overflow: visible;
    background: white;
    z-index: 999;
    height: auto;
}

.categoryNav .navigation .breadCrumbs {
    display: block;
    float: left;
}

.categoryNav .navigation .breadCrumbs ul {
    display: block;
}

.categoryNav .navigation .breadCrumbs ul li {
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #454545;
    padding-left: 5px;
    margin-top: 5px;
}

.categoryNav .navigation .breadCrumbs ul li.active {
    display: inline-block;
}


.categoryNav .navigation .breadCrumbs ul li.hidden {
    display: none;
}

.categoryNav .navigation .breadCrumbs ul li a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

.categoryNav .navigation .breadCrumbs ul li a:active, .categoryNav .navigation .breadCrumbs ul li a:hover {
    text-decoration: underline;
}

.categoryNav .navigation .breadCrumbs ul li:after {
    font-family: 'komputronik-top-icons';
    font-size: 10px;
    color: #0072bc;
    font-weight: normal;
    padding-left:5px;
    content: ' \f054';
}

.categoryNav .navigation .breadCrumbs ul li:first-child {
    padding-left: 0;
}

.categoryNav .navigation .breadCrumbs ul li.active:last-child a {
    font-weight:400;
    color: #000;
/*    display: block;*/
    font-size: 30px;
/*    margin-top: 10px;*/
    line-height: 31px;
/*    padding-left: 0px;*/
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.categoryNav .navigation .breadCrumbs ul li.active:last-child {
    display: block;
    font-size:22px;
    margin-top:10px;
    line-height:31px;
    padding-left:0px;
}

.categoryNav .navigation .breadCrumbs ul li.active:last-child a:hover {
    text-decoration: underline;
}

.categoryNav .navigation .breadCrumbs ul li.active:nth-last-child(2):after,
.categoryNav .navigation .breadCrumbs ul li.active:last-child:after {
    content: '';
    float: left;
}

.categoryNav .categoryListContainer {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.categoryNav .categoryListContainer.previous {
    position: absolute;
    left: -100%;
    top: 0;
    opacity: 0;
}

.categoryNav .categoryListContainer.active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

.categoryNav .categoryListContainer.next {
    left: 100%;
    top: 0px;
    opacity: 0;
}


.topMenuExpandableContainer {
    display:none;
    background-color: #ffffff;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.topMenuExpandableContainer .container {
    width: 980px;
    margin: 0 auto;
    height: 500px;
    position: relative;
    overflow: hidden;
}


.topMenuExpandableContainer .navigation {
    width: 980px;
    overflow:hidden;
    margin: 0 auto;
    padding-bottom: 10px;
}


.topMenuExpandableContainer .menuContainer {
    width: 980px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.topMenuExpandableContainer .menuContainer.previous {
    position: absolute;
    left: -100%;
    top: 0;
    opacity: 0;
}

.topMenuExpandableContainer .menuContainer.active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    display: block;
}

.topMenuExpandableContainer .menuContainer.next {
    left: 100%;
    top: 0px;
    opacity: 0;
}
#expandablesNav {
    display: none;
}
.allMenusContainer {
    height: auto !important;
}
.allMenusContainer .menuContainer {
    position: relative !important;
}
.brandShopsContainer > div {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.brandShopsContainer a.shop {
    background: url(/media/pl-komputronik/categoryPages/mainpl/gfx/brandshops-top-bg-201501.png) no-repeat center center;
    display: block;
    float: left;
    width: 20%;
    height: 120px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.brandShopsContainer a.shop.accura {
    background-position: 0px 0px;
    margin-top: 10px;
}

.brandShopsContainer a.shop.acer {
    background-position: -184px 0px;
    margin-top: 10px;
}

.brandShopsContainer a.shop.apple {
    background-position: -368px 0px;
    margin-top: 10px;
}

.brandShopsContainer a.shop.asus {
    background-position: -552px 0px;
    margin-top: 10px;
}

.brandShopsContainer a.shop.bosch {
    background-position: -736px 0px;
    margin-top: 10px;
    border-right: none;
}

.brandShopsContainer a.shop.braun {
    background-position: 0px -120px;
}

.brandShopsContainer a.shop.microsoft {
    background-position: -184px -120px;
}

.brandShopsContainer a.shop.oralb {
    background-position: -368px -120px;
}

.brandShopsContainer a.shop.tplink {
    background-position: -552px -120px;
}

.brandShopsContainer a.shop.wd {
    background-position: -736px -120px;
    border-right: none;
}

.brandShopsContainer a.shop.zelmer {
    background-position: 0px -240px;
    border-right: none;
    border-bottom: none;
}

.brandShopsContainer a.shop:active, .brandShopsContainer a.shop:hover {
    opacity: 0.7;
}

.topBrandsContainer a {
    display: block;
    float: left;
    width: 11.02040816326531%;
    height: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    text-align:center;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
    color: #FFF;
}


.topBrandsContainer a:nth-child(9n), .topBrandsContainer a:last-child {
    border-right: none;
}

.topBrandsContainer a:nth-last-child(-n + 9):nth-child(9n + 1),
.topBrandsContainer a:nth-last-child(-n + 9):nth-child(9n + 1) ~ a {
    border-bottom: none;
}

.topBrandsContainer a img {
    max-width: 99%;
    display:inline-block;
    vertical-align:middle;
}

.topBrandsContainer a::before {
    display: inline-block;
    content: '';
    height:100%;
    vertical-align: middle;
}
#search_run {
    height:100%;
}
.wrapper.search .searchField .select #category {
    display: none !important;
}
.searchError {
    border: 1px solid #FF0000 !important;
    background-color: #FAEDF1;
}
#categoriesNav .indicatorStorehouse {
    text-align: center;
}
.categoryListContainer > ul {
    list-style: none;
}
.categoriesContainer {
    height: auto !important;
}
.categoriesContainer .categoryListContainer.active {
    position: relative !important;
}
.allMenusContainer > div {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.allMenusContainer > div.visible {
    opacity:1;
    height:auto;
}
.allMenusContainer > div.notVisible {
    opacity:0;
    height:0px;
    display: none;
}
.categoriesMenu .indicatorStorehouse {
    text-align: center;
}
#categories-main {
    display: none;
}

.wrapper.top .container .searchContainer {
    display: block;
    float: left;
    text-align:center;
    padding-top:30px;
    width:50.0204%;
}

.wrapper.top .container .searchContainer .searchField {
    border: 1px solid #dedede;
    border-right:none;
    border-radius: 3px 0px 0px 3px;
    height: 31px;
    background-color:#f9f9f9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 76.2%;
    margin-left:0%;
    position:relative;
}

.wrapper.top .container .searchContainer .searchField input[type="text"] {
    border: none;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #636363;
    padding:0px 10px;
    background-color:transparent;
    display:block;
    float:left;
}

.wrapper.top .container .searchContainer .searchField .prompter {
    position:absolute;
    top:30px;
    background-color:#ffffff;
    width:450px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    height:auto;
    transition:all 300ms ease-out;
    box-shadow:1px 0px 3px #bcbcc1;
    z-index:100;
    font-size:13px;
    text-align:left;
}

.wrapper.top .container .searchContainer .searchField .prompter li {
    list-style-type:none;
}
.wrapper.top .container .searchContainer .searchField .prompter li a {
    display:block;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:5px 10px;
    overflow:hidden;
    text-decoration:none;
    color:#212121;
}

.wrapper.top .container .searchContainer .searchField .prompter li a:active,
.wrapper.top .container .searchContainer .searchField .prompter li a:hover {
    background-color:#EEEEF0;
}

.wrapper.top .container .searchContainer .searchField .prompter li a span ~ span {
    display:block;
    float:right;
}

.wrapper.top .container .searchContainer .searchField .select {
    position:relative;
    display:block;
    float:right;
    height:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color:#f9f9f9;
    width:50%;
    font-size:10px;
    z-index:1;
}
.wrapper.top .container .searchContainer .searchField .select > a {
    display:block;
    padding:0px;
    color:#636363;
    box-sizing:border-box;
        text-align:right;
    -moz-box-sizing:border-box;
        vertical-align:middle;
    width:100%;
    height:100%;
    text-decoration:none;
}

.wrapper.top .container .searchContainer .searchField .select > a span {
    display:inline-block;
    padding-right:4px;
    vertical-align:middle;
    width: 155px;
    overflow: hidden;
    white-space: nowrap
}

.wrapper.top .container .searchContainer .searchField .select > a::before {
    content:'';
        display:inline-block;
        vertical-align:middle;
        height:100%;
}

.wrapper.top .container .searchContainer .searchField .select > a::after {
    content: '\f107';
        font-family: 'komputronik-top-icons';
    font-size:12px;
    display:block;
        float:right;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
    vertical-align:middle;
        line-height:29px;
        text-align:right;
        margin-right:10px;
    font-weight:normal;
}

.wrapper.top .container .searchContainer .searchField .select > a.expanded::after {
     content: '\f106';
}


.wrapper.top .container .searchContainer .searchField .select > a:active,
.wrapper.top .container .searchContainer .searchField .select > a:hover {
    background-color:#efefef;
}

.wrapper.top .container .searchContainer .searchField .select .searchCategoryFlyout {
    position:absolute;
    display:block;
    transform:scaleY(0);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(0);
    overflow:hidden;
    transition:all 100ms ease-out;
    background-color:#ffffff;
    width:250px;
        text-align:left;
    box-shadow:1px 0px 3px #bcbcc1;
    z-index:109;
}

.wrapper.top .container .searchContainer .searchField .select .searchCategoryFlyout.expanded {
    height:auto;
    transform:scaleY(1);
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:scaleY(1);
}

.wrapper.top .container .searchContainer .searchField .select .searchCategoryFlyout ul  {
    margin-top:10px;
    margin-bottom:10px;
}
.wrapper.top .container .searchContainer .searchField .select .searchCategoryFlyout ul li {
    list-style-type:none;
    width:100%;
}
.wrapper.top .container .searchContainer .searchField .select .searchCategoryFlyout ul li a {
    display:block;
    color:#212121;
        font-size:13px;
    text-decoration:none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:5px 5px;

}
.wrapper.top .container .searchContainer .searchField .select .searchCategoryFlyout ul li a:hover,
.wrapper.top .container .searchContainer .searchField .select .searchCategoryFlyout ul li a:active {
    background-color:#30363a;
    color:#ffffff;
}

.wrapper.top .container .searchContainer a.executeButton {
    display: block;
    float: left;
    width:18%;
    background-color: #0072bc;
    color: #ffffff;
    height: 31px;
    line-height:31px;
    font-size:13px;
    text-transform:uppercase;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding: 0px;
    padding-right:4px;
    text-decoration: none;
    border-radius:0px 3px 3px 0px;
}
.wrapper.top .container .searchContainer a.executeButton:active,
.wrapper.top .container .searchContainer a.executeButton:hover {
    background-color:#30363a;
}

.wrapper.top .container .searchContainer a.executeButton::before {
    content: '\e610';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    padding-right: 5px;
}

.wrapper.top .container .searchContainer a.searchAdvanced {
    display: block;
    float:right;
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    color: #acadae;
    margin-top:4px;
    margin-right:30px;
}
.wrapper.top .container .searchContainer a.searchAdvanced:active,
.wrapper.top .container .searchContainer a.searchAdvanced:hover {
    color:#0072bc;
}

.wrapper.top .container .searchContainer a.searchAdvanced::after {
    content: '\f054';
    font-family: 'komputronik-top-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-size: 8px;
    line-height:20px;
    text-align: center;
    padding-left: 5px;
}

.wrapper.top .container .searchContainer a.searchAdvanced span {
    display: inline-block;
    vertical-align: middle;
}

.searchAutocompleteContainer {
    height: 0px;
}

.login .error {
    margin: 0;
    color: red;
}

.rememberLoginAndPassword {
    overflow: hidden;
    position: relative;

}

.wrapper.account .container .customerShortcuts .login .content input[type="checkbox"] {
    width: auto;
    margin: 10px 0 0 10px;
    position: absolute;
    top: 0;
    left: 0;

}

.languages a.languageSwitch {
    color: white;
    text-decoration-line: none;
    line-height: 30px;
}
#KTHomeToggle {
    background-color: #CA3780;
    vertical-align: middle;
}

.categoryNav .navigation .breadCrumbs ul li:first-child::before {
    font-family: 'komputronik-top-icons';
    font-size: 13px;
    color: #424C56;
    font-weight: normal;
    padding-right:5px;
    content: ' \e604';
}

.categoryNav .CategoryHome .categoryListContainer a.category {
    width: 33.3333333%;
}

.categoryNav .categoryListContainer a.category figure {
    max-width: 100%;
}

.new-shop-version {
    text-align: center;
    width: 29.5102%;
    padding-top: 15px;
}
