@media print {
  .screen-only {
    display: none !important; }

  .print-container {
    width: 100% !important;
    max-width: none; }

  .print-avoid-break {
    page-break-inside: avoid; } }
@media screen {
  .print-only {
    display: none !important; } }
.reset-right {
  padding-right: 0; }

.no-gutters {
  margin: 0 !important;
  padding: 0 !important; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.text-center {
  text-align: center; }

@font-face {
  font-family: 'icons';
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.eot);
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.woff) format("woff"), url(/css/pl-komputronik/fonts/komputronik-icons-set.ttf) format("truetype"); }
@font-face {
  font-family: 'icons-mobile';
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.eot);
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.woff) format("woff"), url(/css/pl-komputronik/fonts/komputronik-icons-set.ttf) format("truetype"); }
@font-face {
  font-family: 'icons-rwd';
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.eot);
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.woff) format("woff"), url(/css/pl-komputronik/fonts/komputronik-icons-set.ttf) format("truetype"); }
@font-face {
  font-family: 'icons-filter';
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.eot);
  src: url(/css/pl-komputronik/fonts/komputronik-icons-set.woff) format("woff"), url(/css/pl-komputronik/fonts/komputronik-icons-set.ttf) format("truetype"); }
.icon:before,
.micon:before,
.icon-rwd:before,
.icon-filter {
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.icon:before {
  font-family: "icons" !important; }

.micon:before {
  font-family: "icons-mobile" !important; }

.icon-rwd:before {
  font-family: "icons-rwd" !important; }

.icon-filter:before {
  font-family: "icons-filter" !important; }

.icon-context-nav:before {
  content: '\e688'; }

.icon-account:before {
  content: '\e665'; }

.icon-caret:before {
  content: '\f107'; }

.icon-caret-right:before {
  content: '\f105'; }

.icon-caret-left:before {
  display: inline-block;
  content: '\f104'; }

.icon-caret-up:before {
  display: inline-block;
  content: '\f106'; }

.icon-caret-down:before {
  display: inline-block;
  content: '\f107'; }

.icon-caret3-left:before {
  display: inline-block;
  content: '\f104'; }

.icon-caret3-right:before {
  display: inline-block;
  content: '\f105'; }

.icon-facebook:before {
  content: '\e637'; }

.icon-gplus:before {
  content: '\e63a'; }

.icon-twitter:before {
  content: '\e635'; }

.icon-facebook2:before {
  content: '\e637'; }

.icon-gplus2:before {
  content: '\e63a'; }

.icon-reviews:before {
  content: '\e607'; }

.icon-specification:before {
  content: '\f085'; }

.icon-description:before {
  content: '\e901'; }

.icon-accessories:before {
  content: '\e619'; }

.icon-alert:before {
  content: '\e60d'; }

.icon-error:before {
  content: '\e61a'; }

.icon-ask:before {
  content: '\e61c'; }

.icon-remove:before {
  content: '\e618'; }

.icon-round-plus:before {
  content: '\e619'; }

.icon-round-minus:before {
  content: '\e618'; }

.icon-people:before {
  content: '\e607'; }

.icon-check2:before {
  content: '\f00c'; }

.icon-add-contact:before {
  content: '\e608'; }

.icon-orders:before {
  content: '\e663'; }

.icon-small-arrow-right:before {
  content: '\e628'; }

.icon-pen:before {
  content: '\e602'; }

.icon-tools:before {
  content: '\e64c'; }

.icon-warning:before {
  content: '\e61e'; }

.icon-info:before {
  content: '\e675'; }

.micon-plus:before {
  content: '\f067'; }

.micon-card:before {
  content: '\e60f'; }

.micon-search:before {
  content: '\e613'; }

.micon-caret2:before {
  content: '\e626'; }

.micon-copy:before {
  content: '\e621'; }

.micon-caret-up:before {
  display: inline-block;
  content: '\e627'; }

.micon-arrow-left:before {
  content: '\f104'; }

.micon-arrow-right:before {
  content: '\f105'; }

.micon-phone:before {
  content: '\f095'; }

.micon-home:before {
  content: '\e604'; }

.micon-close:before {
  content: '\e61f'; }

.micon-enter:before {
  content: '\f090'; }

.icon-star:before {
  content: '\e615'; }

.micon-variants:before {
  content: '\e62a'; }

.micon-round-caret-up:before {
  content: '\f139'; }

.micon-check:before {
  content: '\f00c'; }

.micon-star:before {
  content: '\e615'; }

.micon-heart:before {
  content: '\e615'; }

.micon-graph:before {
  content: '\f080'; }

.micon-pointer:before {
  content: '\e611'; }

.micon-light:before {
  content: '\f0eb'; }

.micon-invoice:before {
  content: '\f0f6'; }

.micon-refresh:before {
  content: '\f021'; }

.micon-barcode:before {
  content: '\e605'; }

.micon-exit:before {
  content: '\f08b'; }

.micon-smile:before {
  content: '\e617'; }

.micon-cogs:before {
  content: '\f085'; }

.micon-like:before {
  content: '\e628'; }

.micon-envelop:before {
  content: '\e601'; }

.micon-envelop2:before {
  content: '\e601'; }

.icon-rwd-round-check {
  margin-top: 1px; }

.icon-rwd-round-check:before {
  content: '\f05d'; }

.icon-rwd-round-check-alt:before {
  content: '\f058'; }

.icon-rwd-book:before {
  content: '\e901'; }

.icon-rwd-calendar:before {
  content: '\e927'; }

.icon-rwd-card:before {
  content: '\e923'; }

.icon-rwd-unavailable:before {
  content: '\e928'; }

.icon-rwd-smile:before {
  content: '\e617'; }

.icon-rwd-emotion-1:before {
  content: '\e91e'; }

.icon-rwd-emotion-2:before {
  content: '\e91c'; }

.icon-rwd-emotion-3:before {
  content: '\e922'; }

.icon-rwd-emotion-4:before {
  content: '\e924'; }

.icon-rwd-book:before {
  content: '\e901'; }

.icon-rwd-addresses:before {
  content: '\e925'; }

.icon-rwd-lifebuoy:before {
  content: '\e905'; }

.icon-rwd-order-history {
  margin-top: -7px; }
  .icon-rwd-order-history:before {
    content: '\e62a'; }

.icon-rwd-print:before {
  content: '\e924'; }

.micon-roll-up:before {
  content: '\f077'; }

.icon-filter-wifi:before {
  content: '\e646'; }

.icon-filter-smart-tv:before {
  content: '\f0ac'; }

.icon-payment-sygma:before {
  content: '\e904'; }

.icon-payment-grenke:before {
  content: '\e908'; }

.icon-payment-przelewy24:before {
  content: '\e906'; }

.icon-timer:before {
  content: '\e909'; }

.icon-promotion:before {
  content: '\e900'; }

.icon-bank-transfer:before {
  content: '\e902'; }

.icon-cash-on-delivery:before {
  content: '\e903'; }

.btn2 {
  position: relative;
  display: inline-block;
  border: 0;
  background-color: #b9b9b9;
  padding: 13px 10px 12px;
  box-sizing: border-box;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  -webkit-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
  font-size: 1rem;
  text-decoration: none !important; }
  .btn2.btn2-nowrap {
    white-space: nowrap; }
  .btn2.btn2-inline {
    padding: 0 5px; }
  .btn2.btn2-auto {
    width: auto; }
  .btn2.btn2-fill {
    width: 100%; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-fill {
      width: 100%; }
    .btn2.btn2-xs-auto {
      width: auto; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-fill {
      width: 100%; }
    .btn2.btn2-s360-auto {
      width: auto; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-fill {
      width: 100%; }
    .btn2.btn2-s414-auto {
      width: auto; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-fill {
      width: 100%; }
    .btn2.btn2-sm-auto {
      width: auto; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-fill {
      width: 100%; }
    .btn2.btn2-md-auto {
      width: auto; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-fill {
      width: 100%; }
    .btn2.btn2-slg-auto {
      width: auto; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-fill {
      width: 100%; }
    .btn2.btn2-lg-auto {
      width: auto; } }
  .btn2.btn2-p10 {
    padding-left: 10px;
    padding-right: 10px; }
  .btn2.btn2-p20 {
    padding-left: 20px;
    padding-right: 20px; }
  .btn2.btn2-p30 {
    padding-left: 30px;
    padding-right: 30px; }
  .btn2.btn2-p40 {
    padding-left: 40px;
    padding-right: 40px; }
  .btn2.btn2-p80 {
    padding-left: 80px;
    padding-right: 80px; }
  .btn2.btn2-blue {
    background-color: #0097d5;
    border: 1px #0097d5 solid;
    color: #fff; }
    .btn2.btn2-blue.btn2-empty {
      background-color: transparent;
      border-color: #0097d5;
      color: #0097d5; }
    .btn2.btn2-blue:hover {
      background-color: #0085bc; }
      .btn2.btn2-blue:hover.btn2-empty {
        background-color: transparent;
        color: #0085bc;
        border-color: #0085bc; }
  .btn2.btn2-grey {
    background-color: #606569;
    border: 1px #606569 solid;
    color: #fff; }
    .btn2.btn2-grey.btn2-empty {
      background-color: transparent;
      border-color: #606569;
      color: #606569; }
    .btn2.btn2-grey:hover {
      background-color: #6c7276; }
      .btn2.btn2-grey:hover.btn2-empty {
        background-color: transparent;
        color: #6c7276;
        border-color: #6c7276; }
  .btn2.btn2-green {
    background-color: #6cc049;
    border: 1px #6cc049 solid;
    color: #fff; }
    .btn2.btn2-green.btn2-empty {
      background-color: transparent;
      border-color: #6cc049;
      color: #6cc049; }
    .btn2.btn2-green:hover {
      background-color: #7bc75c; }
      .btn2.btn2-green:hover.btn2-empty {
        background-color: transparent;
        color: #7bc75c;
        border-color: #7bc75c; }
  .btn2.btn2-light-grey {
    background-color: #e5e5e5;
    border: 1px #e5e5e5 solid;
    color: #212121; }
    .btn2.btn2-light-grey.btn2-empty {
      background-color: transparent;
      border-color: #e5e5e5;
      color: #e5e5e5; }
    .btn2.btn2-light-grey:hover {
      background-color: #d8d8d8; }
      .btn2.btn2-light-grey:hover.btn2-empty {
        background-color: transparent;
        color: #d8d8d8;
        border-color: #d8d8d8; }
  .btn2.btn2-black {
    background-color: #010101;
    border: 1px #010101 solid;
    color: #fff; }
    .btn2.btn2-black.btn2-empty {
      background-color: transparent;
      border-color: #010101;
      color: #010101; }
    .btn2.btn2-black:hover {
      background-color: #272727; }
      .btn2.btn2-black:hover.btn2-empty {
        background-color: transparent;
        color: #272727;
        border-color: #272727; }
  .btn2.btn2-transparent {
    background-color: transparent;
    border: 1px transparent solid;
    color: inherit; }
    .btn2.btn2-transparent.btn2-empty {
      background-color: transparent;
      border-color: transparent;
      color: transparent; }
    .btn2.btn2-transparent:hover {
      background-color: transparent; }
      .btn2.btn2-transparent:hover.btn2-empty {
        background-color: transparent;
        color: transparent;
        border-color: transparent; }
  .btn2.btn2-white {
    background-color: #fff;
    border: 1px #fff solid;
    color: #0097d5; }
    .btn2.btn2-white.btn2-empty {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
    .btn2.btn2-white:hover {
      background-color: #d9d9d9; }
      .btn2.btn2-white:hover.btn2-empty {
        background-color: transparent;
        color: #d9d9d9;
        border-color: #d9d9d9; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-s1 {
      font-size: 1rem; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-s1 {
      font-size: 1rem; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-s1 {
      font-size: 1rem; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-s1 {
      font-size: 1rem; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-s1 {
      font-size: 1rem; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-s1 {
      font-size: 1rem; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-s1 {
      font-size: 1rem; } }
  .btn2.btn2-s1 {
    font-size: 1rem; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-s2 {
      font-size: 1.3rem; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-s2 {
      font-size: 1.3rem; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-s2 {
      font-size: 1.3rem; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-s2 {
      font-size: 1.3rem; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-s2 {
      font-size: 1.3rem; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-s2 {
      font-size: 1.3rem; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-s2 {
      font-size: 1.3rem; } }
  .btn2.btn2-s2 {
    font-size: 1.3rem; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-s3 {
      font-size: 1.7rem; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-s3 {
      font-size: 1.7rem; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-s3 {
      font-size: 1.7rem; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-s3 {
      font-size: 1.7rem; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-s3 {
      font-size: 1.7rem; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-s3 {
      font-size: 1.7rem; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-s3 {
      font-size: 1.7rem; } }
  .btn2.btn2-s3 {
    font-size: 1.7rem; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-s4 {
      font-size: 1.85rem; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-s4 {
      font-size: 1.85rem; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-s4 {
      font-size: 1.85rem; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-s4 {
      font-size: 1.85rem; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-s4 {
      font-size: 1.85rem; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-s4 {
      font-size: 1.85rem; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-s4 {
      font-size: 1.85rem; } }
  .btn2.btn2-s4 {
    font-size: 1.85rem; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-h0 {
      padding-top: 1px !important;
      padding-bottom: 0px !important; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-h0 {
      padding-top: 1px !important;
      padding-bottom: 0px !important; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-h0 {
      padding-top: 1px !important;
      padding-bottom: 0px !important; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-h0 {
      padding-top: 1px !important;
      padding-bottom: 0px !important; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-h0 {
      padding-top: 1px !important;
      padding-bottom: 0px !important; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-h0 {
      padding-top: 1px !important;
      padding-bottom: 0px !important; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-h0 {
      padding-top: 1px !important;
      padding-bottom: 0px !important; } }
  .btn2.btn2-h0 {
    padding-top: 1px !important;
    padding-bottom: 0px !important; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-h1 {
      padding-top: 7px !important;
      padding-bottom: 6px !important; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-h1 {
      padding-top: 7px !important;
      padding-bottom: 6px !important; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-h1 {
      padding-top: 7px !important;
      padding-bottom: 6px !important; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-h1 {
      padding-top: 7px !important;
      padding-bottom: 6px !important; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-h1 {
      padding-top: 7px !important;
      padding-bottom: 6px !important; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-h1 {
      padding-top: 7px !important;
      padding-bottom: 6px !important; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-h1 {
      padding-top: 7px !important;
      padding-bottom: 6px !important; } }
  .btn2.btn2-h1 {
    padding-top: 7px !important;
    padding-bottom: 6px !important; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-h2-5 {
      padding-top: 11px !important;
      padding-bottom: 9px !important; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-h2-5 {
      padding-top: 11px !important;
      padding-bottom: 9px !important; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-h2-5 {
      padding-top: 11px !important;
      padding-bottom: 9px !important; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-h2-5 {
      padding-top: 11px !important;
      padding-bottom: 9px !important; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-h2-5 {
      padding-top: 11px !important;
      padding-bottom: 9px !important; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-h2-5 {
      padding-top: 11px !important;
      padding-bottom: 9px !important; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-h2-5 {
      padding-top: 11px !important;
      padding-bottom: 9px !important; } }
  .btn2.btn2-h2-5 {
    padding-top: 11px !important;
    padding-bottom: 9px !important; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-h2-7 {
      padding-top: 12px !important;
      padding-bottom: 10px !important; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-h2-7 {
      padding-top: 12px !important;
      padding-bottom: 10px !important; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-h2-7 {
      padding-top: 12px !important;
      padding-bottom: 10px !important; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-h2-7 {
      padding-top: 12px !important;
      padding-bottom: 10px !important; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-h2-7 {
      padding-top: 12px !important;
      padding-bottom: 10px !important; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-h2-7 {
      padding-top: 12px !important;
      padding-bottom: 10px !important; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-h2-7 {
      padding-top: 12px !important;
      padding-bottom: 10px !important; } }
  .btn2.btn2-h2-7 {
    padding-top: 12px !important;
    padding-bottom: 10px !important; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-h2 {
      padding-top: 13px !important;
      padding-bottom: 12px !important; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-h2 {
      padding-top: 13px !important;
      padding-bottom: 12px !important; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-h2 {
      padding-top: 13px !important;
      padding-bottom: 12px !important; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-h2 {
      padding-top: 13px !important;
      padding-bottom: 12px !important; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-h2 {
      padding-top: 13px !important;
      padding-bottom: 12px !important; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-h2 {
      padding-top: 13px !important;
      padding-bottom: 12px !important; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-h2 {
      padding-top: 13px !important;
      padding-bottom: 12px !important; } }
  .btn2.btn2-h2 {
    padding-top: 13px !important;
    padding-bottom: 12px !important; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-h3 {
      padding-top: 18px !important;
      padding-bottom: 17px !important; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-h3 {
      padding-top: 18px !important;
      padding-bottom: 17px !important; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-h3 {
      padding-top: 18px !important;
      padding-bottom: 17px !important; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-h3 {
      padding-top: 18px !important;
      padding-bottom: 17px !important; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-h3 {
      padding-top: 18px !important;
      padding-bottom: 17px !important; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-h3 {
      padding-top: 18px !important;
      padding-bottom: 17px !important; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-h3 {
      padding-top: 18px !important;
      padding-bottom: 17px !important; } }
  .btn2.btn2-h3 {
    padding-top: 18px !important;
    padding-bottom: 17px !important; }
  @media print, screen and (min-width: 0px) {
    .btn2.btn2-xs-h4 {
      padding-top: 23px !important;
      padding-bottom: 22px !important; } }
  @media print, screen and (min-width: 360px) {
    .btn2.btn2-s360-h4 {
      padding-top: 23px !important;
      padding-bottom: 22px !important; } }
  @media print, screen and (min-width: 414px) {
    .btn2.btn2-s414-h4 {
      padding-top: 23px !important;
      padding-bottom: 22px !important; } }
  @media print, screen and (min-width: 480px) {
    .btn2.btn2-sm-h4 {
      padding-top: 23px !important;
      padding-bottom: 22px !important; } }
  @media print, screen and (min-width: 768px) {
    .btn2.btn2-md-h4 {
      padding-top: 23px !important;
      padding-bottom: 22px !important; } }
  @media print, screen and (min-width: 992px) {
    .btn2.btn2-slg-h4 {
      padding-top: 23px !important;
      padding-bottom: 22px !important; } }
  @media print, screen and (min-width: 1266px) {
    .btn2.btn2-lg-h4 {
      padding-top: 23px !important;
      padding-bottom: 22px !important; } }
  .btn2.btn2-h4 {
    padding-top: 23px !important;
    padding-bottom: 22px !important; }
  .btn2 > span {
    display: block;
    margin-top: -2px; }
    .btn2 > span.btn2-static {
      display: inline-block;
      vertical-align: middle; }
    .btn2 > span.btn2-lp10 {
      padding-left: 10px; }
    .btn2 > span.btn2-pp10 {
      padding-right: 10px; }
    .btn2 > span.btn2-lp20 {
      padding-left: 20px; }
    .btn2 > span.btn2-pp20 {
      padding-right: 20px; }
    .btn2 > span.btn2-lp30 {
      padding-left: 30px; }
    .btn2 > span.btn2-pp30 {
      padding-right: 30px; }
    .btn2 > span.btn2-lp40 {
      padding-left: 40px; }
    .btn2 > span.btn2-pp40 {
      padding-right: 40px; }
    .btn2 > span.btn2-lp50 {
      padding-left: 50px; }
    .btn2 > span.btn2-pp50 {
      padding-right: 50px; }
    .btn2 > span.btn2-lp60 {
      padding-left: 60px; }
    .btn2 > span.btn2-pp60 {
      padding-right: 60px; }
    .btn2 > span.btn2-lp70 {
      padding-left: 70px; }
    .btn2 > span.btn2-pp70 {
      padding-right: 70px; }
    .btn2 > span.btn2-sb {
      font-weight: 600; }
    .btn2 > span.btn2-b {
      font-weight: bold; }
  .btn2 > i {
    position: absolute;
    top: 50%;
    right: 10%;
    line-height: 0; }
    .btn2 > i.btn2-i-static {
      position: static;
      vertical-align: middle;
      display: inline-block;
      padding-left: 5px; }
    .btn2 > i.micon-card {
      margin-top: -2px; }
    .btn2 > i.btn2-rma-1 {
      margin-top: 1px; }
    .btn2 > i.btn2-rms-1 {
      margin-top: -1px; }
    .btn2 > i.btn2-rma-2 {
      margin-top: 2px; }
    .btn2 > i.btn2-rms-2 {
      margin-top: -2px; }
    .btn2 > i.btn2-rma-3 {
      margin-top: 3px; }
    .btn2 > i.btn2-rms-3 {
      margin-top: -3px; }
    .btn2 > i.btn2-rma-4 {
      margin-top: 4px; }
    .btn2 > i.btn2-rms-4 {
      margin-top: -4px; }
    .btn2 > i.btn2-rma-5 {
      margin-top: 5px; }
    .btn2 > i.btn2-rms-5 {
      margin-top: -5px; }
    .btn2 > i.btn2-rma-6 {
      margin-top: 6px; }
    .btn2 > i.btn2-rms-6 {
      margin-top: -6px; }
    .btn2 > i.btn2-i-r0 {
      right: 0%;
      left: auto; }
    .btn2 > i.btn2-i-r5 {
      right: 5%;
      left: auto; }
    .btn2 > i.btn2-i-r10 {
      right: 10%;
      left: auto; }
    .btn2 > i.btn2-i-r20 {
      right: 20%;
      left: auto; }
    .btn2 > i.btn2-i-r25 {
      right: 25%;
      left: auto; }
    .btn2 > i.btn2-i-r30 {
      right: 30%;
      left: auto; }
    .btn2 > i.btn2-i-r35 {
      right: 35%;
      left: auto; }
    .btn2 > i.btn2-i-r40 {
      right: 40%;
      left: auto; }
    .btn2 > i.btn2-i-r50 {
      right: 50%;
      left: auto; }
    .btn2 > i.btn2-i-r55 {
      right: 55.0%;
      left: auto; }
    .btn2 > i.btn2-i-r60 {
      right: 60%;
      left: auto; }
    .btn2 > i.btn2-i-r65 {
      right: 65%;
      left: auto; }
    .btn2 > i.btn2-i-r70 {
      right: 70%;
      left: auto; }
    .btn2 > i.btn2-i-r75 {
      right: 75%;
      left: auto; }
    .btn2 > i.btn2-i-r80 {
      right: 80%;
      left: auto; }
    .btn2 > i.btn2-i-r85 {
      right: 85%;
      left: auto; }
    .btn2 > i.btn2-i-r90 {
      right: 90%;
      left: auto; }
    .btn2 > i.btn2-i-l0 {
      right: auto;
      left: 0%; }
    .btn2 > i.btn2-i-l2 {
      right: auto;
      left: 2%; }
    .btn2 > i.btn2-i-l5 {
      right: auto;
      left: 5%; }
    .btn2 > i.btn2-i-l10 {
      right: auto;
      left: 10%; }
    .btn2 > i.btn2-i-l20 {
      right: auto;
      left: 20%; }
    .btn2 > i.btn2-i-l25 {
      right: auto;
      left: 25%; }
    .btn2 > i.btn2-i-l30 {
      right: auto;
      left: 30%; }
    .btn2 > i.btn2-i-l40 {
      right: auto;
      left: 40%; }
    .btn2 > i.btn2-i-l50 {
      right: auto;
      left: 50%; }
    .btn2 > i.btn2-i-l55 {
      right: auto;
      left: 55.0%; }
    .btn2 > i.btn2-i-l60 {
      right: auto;
      left: 60%; }
    .btn2 > i.btn2-i-l65 {
      right: auto;
      left: 65%; }
    .btn2 > i.btn2-i-l70 {
      right: auto;
      left: 70%; }
    .btn2 > i.btn2-i-l75 {
      right: auto;
      left: 75%; }
    .btn2 > i.btn2-i-l80 {
      right: auto;
      left: 80%; }
    .btn2 > i.btn2-i-l85 {
      right: auto;
      left: 85%; }
    .btn2 > i.btn2-i-l90 {
      right: auto;
      left: 90%; }
    .btn2 > i.btn2-i-l20px {
      right: auto;
      left: 20px; }
    .btn2 > i.btn2-i-l40px {
      right: auto;
      left: 40px; }
    .btn2 > i.btn2-i-l60px {
      right: auto;
      left: 60px; }
    .btn2 > i.btn2-i-l80px {
      right: auto;
      left: 80px; }
    .btn2 > i.btn2-i-l100px {
      right: auto;
      left: 100px; }
    .btn2 > i.btn2-i-l110px {
      right: auto;
      left: 110px; }
    .btn2 > i.btn2-i-l120px {
      right: auto;
      left: 120px; }
    .btn2 > i.btn2-i-l140px {
      right: auto;
      left: 140px; }
    .btn2 > i.btn2-i-l160px {
      right: auto;
      left: 160px; }
    .btn2 > i.btn2-i-l180px {
      right: auto;
      left: 180px; }
    .btn2 > i.btn2-i-l200px {
      right: auto;
      left: 200px; }
    .btn2 > i.btn2-is1:before {
      font-size: 0.85rem; }
    .btn2 > i.btn2-is2:before {
      font-size: 1rem; }
    .btn2 > i.btn2-is3:before {
      font-size: 1.3rem; }
    .btn2 > i.btn2-is4:before {
      font-size: 1.7rem; }
    .btn2 > i.btn2-is5:before {
      font-size: 2rem; }

.interspace-5 {
  display: block;
  height: 5px; }
  .interspace-5::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-5:before {
    content: "";
    display: table;
    clear: both; }

.interspace-10 {
  display: block;
  height: 10px; }
  .interspace-10::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-10:before {
    content: "";
    display: table;
    clear: both; }

.interspace-15 {
  display: block;
  height: 15px; }
  .interspace-15::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-15:before {
    content: "";
    display: table;
    clear: both; }

.interspace-20 {
  display: block;
  height: 20px; }
  .interspace-20::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-20:before {
    content: "";
    display: table;
    clear: both; }

.interspace-25 {
  display: block;
  height: 25px; }
  .interspace-25::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-25:before {
    content: "";
    display: table;
    clear: both; }

.interspace-30 {
  display: block;
  height: 30px; }
  .interspace-30::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-30:before {
    content: "";
    display: table;
    clear: both; }

.interspace-40 {
  display: block;
  height: 40px; }
  .interspace-40::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-40:before {
    content: "";
    display: table;
    clear: both; }

.interspace-50 {
  display: block;
  height: 50px; }
  .interspace-50::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-50:before {
    content: "";
    display: table;
    clear: both; }

.interspace-60 {
  display: block;
  height: 60px; }
  .interspace-60::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-60:before {
    content: "";
    display: table;
    clear: both; }

.interspace-70 {
  display: block;
  height: 70px; }
  .interspace-70::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-70:before {
    content: "";
    display: table;
    clear: both; }

.interspace-90 {
  display: block;
  height: 90px; }
  .interspace-90::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-90:before {
    content: "";
    display: table;
    clear: both; }

.interspace-100 {
  display: block;
  height: 100px; }
  .interspace-100::after {
    content: "";
    display: table;
    clear: both; }
  .interspace-100:before {
    content: "";
    display: table;
    clear: both; }

.separator-big {
  border-bottom: 9px #f5f5f5 solid;
  margin: 20px 0; }
  .separator-big.low-top {
    margin-top: 12px; }
  .separator-big.lower-top {
    margin-top: 5px; }
  .separator-big.almost-no-top {
    margin-top: 1px; }

.separator-small {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  margin: 20px 0; }

.separator-medium {
  width: 100%;
  height: 2px;
  background-color: #f5f5f5;
  margin: 25px 0; }
  .separator-medium.lower {
    margin: 15px 0; }
  .separator-medium.no-top {
    margin-top: 0; }

.pull-right {
  float: right; }

.img-wrap.wrap-max-40 {
  height: 40px; }
  .img-wrap.wrap-max-40 img {
    max-height: 100%; }

.img-fill {
  width: 100%; }

.silent-separator {
  min-height: 20px; }

.layer {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
  -webkit-box-shadow: 0px 14px 65px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 14px 65px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 14px 65px 0px rgba(0, 0, 0, 0.32);
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0); }
  .layer img {
    max-width: 100%; }
  .layer > .container {
    height: 100%;
    margin: 0 auto; }
    .layer > .container:before {
      width: 0px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      content: ''; }
  .layer.visible {
    overflow: visible;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    position: absolute; }
    @media print, screen and (min-width: 768px) {
      .layer.visible {
        position: fixed; } }
  .layer.hidden {
    display: none; }
  .layer .wrapper {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    max-width: 480px;
    min-height: 200px;
    max-height: 99%;
    overflow-y: auto;
    background: #d6dbe0;
    font-size: 1rem;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .layer .wrapper.size.sm {
      max-width: 376px; }
    .layer .wrapper.size.md {
      max-width: 531px; }
    .layer .wrapper.size.lg {
      max-width: 647px; }
    .layer .wrapper.size.xl {
      max-width: 760px; }
    .layer .wrapper.size.xxl {
      max-width: 1010px; }
    .layer .wrapper.pull.left {
      margin-left: -50%; }
    .layer .wrapper.pull.right {
      margin-left: 50%; }
    .layer .wrapper .layer-container {
      padding: 20px 16px 0px; }
      .layer .wrapper .layer-container .layer-container {
        padding: 8px 8px; }
        .layer .wrapper .layer-container .layer-container .layer-container {
          padding: 4px 4px; }
    .layer .wrapper .header {
      color: #606569;
      white-space: nowrap;
      width: 100%;
      height: 70px;
      padding: 0 10px;
      display: table; }
      .layer .wrapper .header:before {
        width: 0px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: ''; }
      .layer .wrapper .header .layer-icon {
        font-size: 1.8rem;
        width: 45px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        display: table-cell; }
      .layer .wrapper .header .caption {
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
        line-height: 1.5rem;
        white-space: normal;
        display: table-cell; }
        @media print, screen and (min-width: 480px) {
          .layer .wrapper .header .caption {
            font-size: 1.4rem;
            line-height: 2rem;
            padding-top: 0; } }
      .layer .wrapper .header .close-wrap {
        display: table-cell;
        width: 40px;
        vertical-align: middle; }
      .layer .wrapper .header .close {
        font-size: 1.4rem;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        display: table-cell;
        border: 0;
        background-color: transparent; }
        .layer .wrapper .header .close:before {
          display: inline-block;
          vertical-align: middle;
          font-family: "icons" !important;
          font-family: "icons-mobile" !important;
          font-style: normal !important;
          speak: none !important;
          font-weight: normal !important;
          -webkit-font-smoothing: antialiased !important;
          font-smoothing: antialiased !important;
          text-rendering: optimizeLegibility !important;
          content: '\e61f'; }
        .layer .wrapper .header .close:hover {
          color: #0e5997; }
    .layer .wrapper .layer-content {
      margin: 5px 5px 10px;
      background-color: #fff;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      position: relative; }
      .layer .wrapper .layer-content .layer-container {
        padding: 14px 14px; }
        .layer .wrapper .layer-content .layer-container .layer-container {
          padding: 7px 7px; }
          .layer .wrapper .layer-content .layer-container .layer-container .layer-container {
            padding: 4px 4px; }
    .layer .wrapper .separator {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 1px;
      width: 100%;
      background-color: #d6dbe0; }
      .layer .wrapper .separator.blank {
        background-color: transparent; }
      .layer .wrapper .separator.half {
        margin-top: 5px;
        margin-bottom: 5px; }
  .layer.layer-white .wrapper {
    background-color: #fff; }
  .layer .alert {
    margin-top: -2px;
    padding: 2px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff; }
    .layer .alert i {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem; }
    .layer .alert.error {
      font-weight: bold;
      color: #ca0809; }
  .layer .form-element {
    margin: 10px 0; }
    .layer .form-element.less {
      margin: 10px 0 0; }
    @media print, screen and (min-width: 768px) {
      .layer .form-element.less {
        margin: 10px 0; } }
    .layer .form-element:first-child {
      margin-top: 0; }
    .layer .form-element input {
      display: inline-block;
      vertical-align: middle;
      background-color: white;
      border: 2px white solid;
      padding: 8.5px 10px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
      .layer .form-element input.error {
        border-color: #ca0809;
        background-color: #f9e7e7; }
        .layer .form-element input.error::-webkit-input-placeholder {
          color: #2d2d2d; }
        .layer .form-element input.error:-moz-placeholder {
          color: #2d2d2d; }
        .layer .form-element input.error::-moz-placeholder {
          color: #2d2d2d; }
        .layer .form-element input.error:-ms-input-placeholder {
          color: #2d2d2d; }
    .layer .form-element label {
      display: inline-block;
      vertical-align: middle;
      font-weight: 600; }
      .layer .form-element label input {
        margin: 0 2px; }
      .layer .form-element label span {
        padding-top: 1px; }
  .layer .btn {
    width: auto;
    height: 41px;
    display: inline-block;
    vertical-align: middle; }
    .layer .btn:before {
      width: 0px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      content: ''; }
    .layer .btn.finally-v {
      display: table; }
    .layer .btn.fill {
      width: 100%; }
@-moz-document url-prefix() {
  .layer .btn.fill {
    width: auto; } }
    .layer .btn.fill-force {
      width: 100%; }
    .layer .btn span {
      display: inline-block;
      vertical-align: middle; }
    .layer .btn i {
      line-height: 1rem;
      padding-top: 2px; }
    .layer .btn.btn-primary {
      background-color: #0072bc; }
    .layer .btn.btn-bare {
      padding-top: 8px;
      background-color: transparent;
      border: 0;
      color: #343434; }
      .layer .btn.btn-bare i {
        color: #0072bc; }
    .layer .btn.btn-empty {
      font-weight: 600;
      background-color: transparent; }
    .layer .btn.less {
      font-size: .85rem;
      letter-spacing: -.01rem;
      padding-left: .375rem;
      padding-right: .375rem; }
      @media print, screen and (min-width: 414px) {
        .layer .btn.less {
          font-size: 1rem;
          padding-left: 1rem;
          padding-right: 1rem; } }
    .layer .btn.icon-size.md i {
      font-size: 1.33rem; }
    .layer .btn.icon-size.lg {
      padding-top: 3px;
      padding-bottom: 3px; }
      .layer .btn.icon-size.lg i {
        font-size: 1.67rem; }
    .layer .btn.font.semibold {
      font-weight: 600; }
    .layer .btn i {
      display: inline-block;
      vertical-align: middle; }
  .layer .simple-caption {
    padding-top: 3px;
    font-weight: 600;
    height: 41px;
    margin: 10px 0; }
    @media print, screen and (min-width: 768px) {
      .layer .simple-caption {
        margin: 0; } }
  .layer .pull.left {
    float: left; }
  .layer .pull.right {
    float: right; }
  .layer .great-link {
    font-weight: 600;
    color: #343434;
    font-size: .85rem; }
    @media print, screen and (min-width: 360px) {
      .layer .great-link {
        font-size: 1rem; } }
    .layer .great-link.greater {
      font-weight: bold; }
    .layer .great-link i {
      color: #0072bc;
      display: inline-block;
      vertical-align: middle; }
  .layer .heading {
    font-weight: 600;
    font-size: 1.3rem; }
  .layer .footer {
    padding: 10px 0 15px; }
    .layer .footer.center {
      text-align: center; }
    .layer .footer small {
      display: inline-block;
      text-align: justify;
      margin: 20px 10px 10px;
      line-height: 1rem;
      font-size: .85rem; }
  .layer .fixed-footer {
    padding-bottom: 54px; }
    .layer .fixed-footer .footer {
      width: 100%;
      position: fixed;
      background: #d6dbe0;
      bottom: 1px;
      -moz-border-radius-bottomleft: 2px;
      -webkit-border-bottom-left-radius: 2px;
      border-bottom-left-radius: 2px;
      -moz-border-radius-bottomright: 2px;
      -webkit-border-bottom-right-radius: 2px;
      border-bottom-right-radius: 2px; }
      .layer .fixed-footer .footer:before {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        width: 100%;
        height: 40px;
        position: absolute;
        left: 0;
        top: -40px;
        content: '';
        background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.12) 100%);
        background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.12) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#30000000',GradientType=0 ); }
  .layer .fixed-footer.size.sm .footer {
    max-width: 376px; }
  .layer .fixed-footer.size.md .footer {
    max-width: 531px; }
  .layer .fixed-footer.size.lg .footer {
    max-width: 647px; }
  .layer .fixed-footer.size.xl .footer {
    max-width: 760px; }
  .layer .fixed-footer.size.xxl .footer {
    max-width: 1010px; }
  .layer .entry-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .layer .entry-list > li {
      padding: 15px 0;
      border-bottom: 1px #d6dbe0 solid;
      display: table;
      width: 100%;
      margin-top: 10px; }
      .layer .entry-list > li:last-child {
        border-bottom: 0; }
    .layer .entry-list.no-table > li {
      display: block; }
      .layer .entry-list.no-table > li .table {
        width: 100%;
        display: table; }
    .layer .entry-list .cell {
      width: auto;
      display: table-cell;
      vertical-align: middle; }
      .layer .entry-list .cell.nowrap {
        white-space: nowrap; }
      .layer .entry-list .cell.more-space {
        padding: 0 10px; }
      @media print, screen and (min-width: 1266px) {
        .layer .entry-list .cell.lg-w-40-up {
          width: 40%; } }
      .layer .entry-list .cell.separate-bottom {
        padding-bottom: 5px; }
    .layer .entry-list .row {
      display: table-row; }
    .layer .entry-list .text-right {
      text-align: right; }
    .layer .entry-list .image {
      width: 100px;
      padding: 0 5px; }
      @media print, screen and (min-width: 768px) {
        .layer .entry-list .image {
          width: 110px; } }
      .layer .entry-list .image.const {
        width: 110px; }
      .layer .entry-list .image img {
        width: auto;
        height: auto;
        max-width: 100%; }
    .layer .entry-list .layout-fill {
      display: table-caption; }
    .layer .entry-list .footer {
      display: table-footer-group; }
    @media print, screen and (max-width: 767px) {
      .layer .entry-list .fill-sm-down {
        display: table-caption; } }
    .layer .entry-list .max-half {
      max-width: 50%; }
  .layer div.entry-list {
    display: table;
    width: 100%; }

.layer-abs-close {
  position: absolute;
  top: 14px;
  right: 14px; }
  .layer-abs-close button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #606569; }
