@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'list-filtering-icons';
    src:url('/css/pl-komputronik/fonts/list-filtering-icons.eot?-46yog2');
    src:url('/css/pl-komputronik/fonts/list-filtering-icons.eot?#iefix-46yog2') format('embedded-opentype'),
    url('/css/pl-komputronik/fonts/list-filtering-icons.woff?-46yog2') format('woff'),
    url('/css/pl-komputronik/fonts/list-filtering-icons.ttf?-46yog2') format('truetype'),
    url('/css/pl-komputronik/fonts/list-filtering-icons.svg?-46yog2#list-filtering-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sideColumn .frameContainer {
    padding-top: 0;
}

.sideColumn .frameLabel.filterFeaturesLabel {
    background: none !important;
}

.listFilterContainer {
    padding:0px 0px 10px 0px;
    border-radius: 5px;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family:Arial,Tahoma,Helvetica,sans-serif;
}

.listFilterContainer h4 {
    display:block;
    background-color:#0178bc;
    border-radius: 5px 5px 0px 0px;
    color:#ffffff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:28px 8px 15px 8px;
    font-size:18px;
    font-weight:bold;
}

.listFilterContainer .activeFilters {
    background-color:#0178bc;
    color:#ffffff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0px 8px 8px 8px;
    width:100%;
    overflow:hidden;

}

.listFilterContainer .activeFilters ul {
    margin:0;
    padding:0;
}

.listFilterContainer .activeFilters ul li {
    list-style-type:none;
    display:block;
    width:100%;
    overflow:hidden;
    font-size:12px;
    line-height:120%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:4px;
    padding-bottom:8px;
}

.listFilterContainer .activeFilters ul li + li {
    border-top:1px solid #3493C9;
    padding-top:8px;
}


.listFilterContainer .activeFilters ul li span {
    display:block;
    float:left;
    width:90%;
}

.listFilterContainer .activeFilters ul li span span {
    display:block;
    float:none;
    width:100%;
    font-weight:bold;
    padding-bottom:2px;
}

.listFilterContainer .activeFilters ul li a {
    display:block;
    float:right;
    text-align:center;
    width:10%;
    height:100%;
    text-decoration:none;
}

.listFilterContainer .activeFilters ul li a:before {
    content:'\f00d';
    font-family: 'list-filtering-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align:middle;
    text-align:center;
    line-height:240%;
    color:#ffffff;
}

.listFilterContainer .wrapper {
    width:100%;
    overflow:hidden;
    padding:0px 8px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    background-color:#ffffff;
}
.sideColumn .frameContainer, .sideColumn .frameContainer.withoutHeader {
    background-color:#ffffff;
    border: 0px;
}

.listFilterContainer .groupContainer {
    border-top:1px solid #D9D9D9;
    border-bottom:1px solid #D9D9D9;
}
.listFilterContainer .groupContainer + .groupContainer {
    border-top:none;
}

.listFilterContainer .groupContainer.expanded {

}

.listFilterContainer .groupContainer h5 {
    color:#0072bc;
    font-size:14px;
    font-weight:bold;
    display:block;
    cursor:pointer;
    padding-top:20px;
    padding-bottom:20px;
}

.listFilterContainer .groupContainer h5:hover:after {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);

}

.listFilterContainer .groupContainer h5:after {
    content:'\f078';
    font-family: 'list-filtering-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display:Block;
    float:right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align:middle;
    text-align:center;
    transition:all 400ms ease-out;
    line-height:100%;
    color:#0072bc;
}

.listFilterContainer .groupContainer.expanded h5:after {
    content:'\f077';
}

.listFilterContainer .featuresContainer {
    display:none;
}
.listFilterContainer .entry .name {
    font-size:13px;
    font-weight:bold;
    padding-top:15px;
    padding-bottom:4px;
    color:#212121;
    border-bottom:1px solid #D9D9D9;
}
.listFilterContainer .entry .content {
    padding-top:14px;
}

.listFilterContainer .entry .content ul {
    margin:0px;
    padding:0px;
    margin-bottom:10px;
}

.listFilterContainer  .entry .content ul li {
    list-style-type:none;
    padding:4px 0px;
}

.listFilterContainer .entry .content select {
    width:100%;
    margin:0;
}

.listFilterContainer .entry .content ul li input[type="checkbox"] {
    width:10%;
    margin:0;
}
.listFilterContainer .entry .content ul li a,
.listFilterContainer .entry .content ul li label {
    display:inline-block;
    color:#0178bc;
    cursor:pointer;
    font-size:12px;
    max-width:68%;
    text-decoration:none;
}

.listFilterContainer .entry .content ul li a:active,
.listFilterContainer .entry .content ul li a:hover,
.listFilterContainer .entry .content ul li label:hover {
    text-decoration:underline;
}

.listFilterContainer .entry .content ul li span {
    float:right;
    color:#757575;
    max-width:20%;
}

.listFilterContainer .options {
    width:100%;
    overflow:hidden;
    margin-top:5px;
    padding-bottom:15px;
}

.listFilterContainer .featuresContainer .options {
    margin-top:15px;
}

.listFilterContainer .entry  .options a.execute {
    display:block;
    float:right;
    border-radius:3px;
    background-color:#0072bc;
    color:#ffffff;
    font-size:12px;
    text-align:center;
    line-height:24px;
    padding:0px 15px;
    text-decoration:none;
}

.listFilterContainer a.remove {
    display:block;
    float:left;
    color:#212121;
    font-size:11px;
    text-align:left;
    line-height:26px;
    vertical-align:middle;
    text-decoration:none;
}

.listFilterContainer a.remove:before {
    content:' \f00d';
    font-family: 'list-filtering-icons';
    font-size:10px;
    display:inline-block;
    line-height:26px;
    vertical-align:top;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#212121;
    padding-right: 4px;
}

.listFilterContainer .activeFilters a.remove {
    float:right;
    color:#ffffff;
    padding-right:0px;
}

.listFilterContainer .activeFilters a.remove:before {
    color:#ffffff;
    padding-right:4px;
}

.listFilterContainer .entry .options a.execute:after {
    content:' \f054';
    font-family: 'list-filtering-icons';
    font-size:10px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align:baseline;
    text-align:center;
    line-height:100%;
    color:#ffffff;
}

.listFilterContainer .entry .options a.execute:active,
.listFilterContainer .entry .options a.execute:hover {
    background-color:#212121;
    color:#ffffff;
}

.listFilterContainer a.moreFilters {
    display:block;
    float:right;
    border-radius:3px;
    color:#0072bc;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    line-height:24px;
    padding:0px 5px 0px 15px;
    text-decoration:none;
}

.listFilterContainer a.moreFilters:after {
    content:' \f054';
    font-family: 'list-filtering-icons';
    font-size:10px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align:baseline;
    text-align:center;
    line-height:100%;
    color:#0072bc;
}



.listFilterContainer  .entry a.showAll {
    font-size:12px;
    color:#0072bc;
    text-decoration:none;
}

.listFilterContainer .entry a.showAll:after {
    content:' \f078';
    font-family: 'list-filtering-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size:10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align:baseline;
    text-align:center;
    line-height:100%;
    color:#0072bc;
}

.content .ui-widget-content .ui-widget-header {
    background-color:#0072bc !important;
    background-image:none;
}

.featuresContainer .entry .ui-slider-horizontal {
    margin-bottom: 5px;
}

.listFilterContainer input[type=text].sliderAmount {
    border:0;
    color:#212121;
    width:100%;
    margin-top:10px;
    text-align:left;
    font-weight:normal;
}

.listFilterContainer .showAll a {
    display: block;
    color: #222;
    font-size: 11px;
    margin-left: 0px;
    margin-right: 5px;
    text-decoration: underline;
    font-weight: bold;
}

.listFilterContainer .showAll a:hover {
    color: #BB2B2B;
}


.ui-slider .ui-slider-handle {
    width:1.4em;
    height:1.4em;
    cursor:pointer;
}

.ui-slider-horizontal .ui-slider-handle {
    top:-0.4em;
}

.ui-slider.ui-widget-content {
    border:none 0px;
    background-image:none;
    background-color:#c0c2c4;
    border-radius:0px;
    width:92%;
    margin:0 auto;
    margin-top:10px;
}


.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
/* Component containers
----------------------------------*/

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background:#E6E6E6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url("images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url("images/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url("images/ui-icons_222222_256x240.png"); }
.ui-widget-header .ui-icon {background-image: url("images/ui-icons_ffffff_256x240.png"); }
.ui-state-default .ui-icon { background-image: url("images/ui-icons_ef8c08_256x240.png"); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url("images/ui-icons_ef8c08_256x240.png"); }
.ui-state-active .ui-icon {background-image: url("images/ui-icons_ef8c08_256x240.png"); }
.ui-state-highlight .ui-icon {background-image: url("images/ui-icons_228ef1_256x240.png"); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url("images/ui-icons_ffd27a_256x240.png"); }

/* Misc visuals
----------------------------------*/

/* Corner radius */

/* Overlays */
.ui-widget-overlay { background: #666666 url("images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat; opacity: .5;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url("images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x; opacity: .2;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #D3D3D3;
    background: #E6E6E6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%;
    font-weight: normal;
    color: #555;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.3em;
    margin-left: -0.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-slider {
    text-align: left;
}
