

/*

    NEW LISTING, NEW PRODUCT

*/



/*  ============================== main-lifting.css ============================== */

.clearfix::after {
    content:'';
    display:table;
    clear:both;
}

@font-face {
    font-family: 'komputronik-icons-list-fullview';
    src:url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.eot?fl9dxc');
    src:url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.eot?#iefixfl9dxc') format('embedded-opentype'),
    url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.ttf?fl9dxc') format('truetype'),
    url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.woff?fl9dxc') format('woff'),
    url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.svg?fl9dxc#komputronik-icons-list-fullview') format('svg');
    font-weight: normal;
    font-style: normal;
}

.productsListContainer .cartPromoContainer {
    background-color: #e3f9da;
    overflow: hidden;
    width: 733px;
    margin-right: 10px;
    display: block;
    height: auto;
}

.productsListContainer .cartPromoContainer .title {
    color:#499c27;
    font-size:14px;
    font-weight:bold;
    display:block;
    float:left;
    text-transform:uppercase;
    padding-left:10px;
    width:20%;
}

.productsListContainer .cartPromoContainer .list {
    width:74.35197817189632%;
    float:right;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-left:6px solid #499c27;
    padding-bottom:10px;
}

.productsListContainer .cartPromoContainer .list .entry {
    width:95%;
    padding-left:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:hidden;
}
.productsListContainer .cartPromoContainer .list .entry + .entry {
    margin-top:20px;
}
.productsListContainer .cartPromoContainer .list .entry .name {
    background-color:#499c27;
    float:left;
    padding:4px 30px 4px 10px;
    color:#ffffff;
    font-size:16px;
    font-weight:bold;
}

.productsListContainer .cartPromoContainer .list .entry .description {
    width:100%;
    float:left;
    font-size:11px;
    padding-top:6px;
}

.productsListContainer .cartPromoContainer .info {
    font-weight:bold;
    font-size:12px;
    padding-top:2px;
    padding-bottom:8px;
}

.productsListContainer .cartPromoContainer .info::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:16px;
    color:#499c27;
    content:'\f05a';
    padding-left:10px;
    vertical-align:baseline;
}

.productsListContainer .cartPromoContainerAfter {
    height: 3px;
    display: block;
}

.productsListContainer .productsListContainer .productsContainer .product .pricing .cartPromoNotification {
    background-color: #e3f9da;
    border-left: 6px solid #6cc049;
    color: #438a25;
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
    max-width: 70%;
    padding: 4px 10px 4px 4px;
    text-transform: uppercase;
}

.productsListContainer a.slimButton {
    padding: 0px 3px 0px 3px;
    margin-left: 5px;
}
.productsListContainer .listFilterContainer .filterInputContainer {
    margin-top: 4px;
}


.productsListContainer .inputRed {
    border: 2px solid red !important;
}

.productsListContainer .markContainer {
    width:auto;
    height:auto;
    line-height:normal;
    float:right;
}

.productsListContainer .markContainer .label {
    display:inline-block;
    font-weight:500;
    line-height:14px;
    font-size:14px;
    margin-right:6px;
}

.productsListContainer .markContainer .summary {
    display:block;
    margin-left:6px;
    font-size:11px;
    color:#898989;
    text-align:right;
    clear: both;
}

.productsListContainer .markContainer .summary span {
    font-weight:bold;
}

.productsListContainer .markContainer .markStars {
    background-image:none;
    position:relative;
    display:block;
    height:auto;
    position: relative;
    width: 100px;
    float: right;
}

.productsListContainer .markContainer .starRatingContainer {
    height:14px;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:1;
}

.productsListContainer .markContainer .markStars:after {
    font-family:'komputronik-icons-list-fullview';
    font-size:20px;
    color:#b9b7b7;
    content:'\e614\e614\e614\e614\e614';
}

.productsListContainer .markContainer .markStars .value {
    background-image:none;
    height:20px;
    width:1%;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    overflow:hidden;
}

.productsListContainer .markContainer .value::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:20px;
    color:#0072bc;
    content:'\e614\e614\e614\e614\e614';
}

.productsListContainer .categoryHomeProducts .markContainer .value::before {
    color:#C42172;
 }

.attribute {
    font-size:11px;
    text-transform:none;
    font-weight:normal;
    height:auto;
    line-height:21px;
    float:left;
    margin-left:0px;
    margin-right:4px;
    padding-left:8px;
    padding-right:8px;
}

.attribute.attributeP {
    background-color:#6cc049;
    margin-left:0px;
}

.attribute.attributeS {
    background-color:#ff4c00;
    margin-left:0px;
}

.attribute.attributeN {
    background-color:#cf0a2c;
    color:#ffffff;
    margin-left:0px;
}

.attribute.bestseller,
.attribute.attributeBESTSELLER {
    background-color:#397237;
    margin-left:0px;
}

.attribute.attribute.nowosc {
    background-color:#ffa300;
}

.attribute.attributeW {
    background-color:#0070cd;
}

.productsListContainer .listOptionsContainer .attributesContainer .filterAttribute .checkbox {
    margin-right:4px;
}

.attributesContainer .attribute.attributeCO,
.attributesContainer .attribute.attributeSL,
.attributesContainer .attribute.attributeSLI {
    display: none;
}

/*  ============================== lista-produktow-lifting.css ============================== */


.productsListContainer .productsContainer .product {
    font-family:Arial,Tahoma,Helvetica,sans-serif;
}
.productsListContainer .product .header .nameAndDescriptionContainer {
    width:73.62346521145975%;
    display:block;
    padding-top:20px;
}

.productsListContainer .productsContainer .product .header .name {
    font-size:22px;
    color:#454545;
    margin:0px;
    width:100%;
    line-height:24px;
    font-family:Arial,Tahoma,Helvetica,sans-serif;
}

.productsListContainer .productsContainer .product .header .name a {
    font-size:inherit;
    color:inherit;
}

.productsListContainer .product .header .shortDescription {
    font-size:11px;
    color:#454545;
    width:100%;
}

.productsListContainer .productsContainer .product .header .erpCode {
    float:none;
    width:100%;
    margin-left:0px;
}

.productsListContainer .productsContainer .product .header {
    background-image: none;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: 0;
}


.productsListContainer .productsContainer .product .header .attributesContainer {
    float:left;
    height:auto;
    margin-top:0px;
    margin-right:0px;
}


.productsListContainer .productsContainer .product .content.options {
    margin-left:0px;
    margin-top:15px;
    line-height:20px;
    padding-bottom:8px;
    position: relative;
}
.productsListContainer .productsContainer .product .addToCart2 {
    display:block;
    line-height:normal;
    height:45px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:center;
    color:#ffffff;
    font-size:12px;
    text-transform:uppercase;
    font-weight:bold;
    margin-right:0px;
    width:100%;
    text-decoration:none;
    border-radius: 0;
}

.productsListContainer .productsContainer .product .addToCart2.withExplication {
    height:55px;
}

.productsListContainer .productsContainer .product .addToCart2.storeCollect::before,
.productsListContainer .productsContainer .product .addToCart2.inPersonCollect::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}
.productsListContainer .productsContainer .product .addToCart2 span {
    display:inline-block;
    max-width:75%;
    vertical-align:middle;
}

.productsListContainer .productsContainer .product .addToCart2 span span {
    max-width:100%;
    display:inline-block;
    vertical-align:middle;
    font-weight: normal;
    text-transform: none;
    font-size: 90%;
}

.productsListContainer .productsContainer .product a.addToCart2.storeCollect {
    background-color:#0097d5;
    color:#ffffff;
}

.productsListContainer .categoryHomeProducts .product a.addToCart2.storeCollect {
    background-color:#C42172;
    color:#ffffff;
}

.productsListContainer .productsContainer .product a.addToCart2.inPersonCollect {
    background-color:#0097d5;
    color:#ffffff;
}

.productsListContainer .categoryHomeProducts .product a.addToCart2.inPersonCollect {
    background-color:#C42172;
    color:#ffffff;
}

.productsListContainer .productsContainer .product a.addToCart2:active,
.productsListContainer .productsContainer .product a.addToCart2:hover {
    background-color:#0072bc;
}

.productsListContainer .categoryHomeProducts .product a.addToCart2:active,
.productsListContainer .categoryHomeProducts .product a.addToCart2:hover {
    background-color:#C42172;
}
.productsListContainer .productsContainer .product .addToCart2.phoneOrder {
    line-height:normal;
    font-size:13px;
    height:auto;
    color:#404040;
    margin:6px 0px 0px 0px;
    padding:6px 0px;
    text-transform:uppercase;
}

.productsListContainer .productsContainer .product .addToCart2.phoneOrder span {
    display:block;
    text-align:center;
    font-weight:normal;
    max-width:100%;
}


.productsListContainer .productsContainer .product .marketingDescription {
    width: 69.98635743519782%;
    color: #434343;
    font-size:11px;
    border-bottom: none;
    padding:20px 0px 10px 0px;
    line-height: 16px;
    margin-left:0px;
    font-family:Tahoma,Arial,Helvetica,sans-serif;
}

.productsListContainer .productsContainer .product .content {
    width: 100%;
    overflow:hidden;
    padding:0;
}


.productsListContainer .productsContainer .product table.availability {
    width: 100%;
    margin-top: 6px;
}

.productsListContainer .productsContainer .product .content .pricing .price {
    color: #f37021;
    font-size: 26px;
}

.productsListContainer .productsContainer .product .prices  .price .oldPrice {
    font-size:18px;
    padding-right:6px;
    font-weight:normal;
    text-decoration:line-through;
}


.productsListContainer .productsContainer .product .content .prices .priceValue {
    width: 100%;
    height: auto;
    margin-right: 0px;
}

.productsListContainer .productsContainer .product .content .prices .instalment {
    margin-right: 0px;
    width: 100%;
    padding-top:20px;
}

.productsListContainer .productsContainer .product .instalment,
.productsListContainer .productsContainer .product .instalment a {
    font-size:12px;
    color:#626262;
    text-decoration:none;
}

.productsListContainer .productsContainer .product .instalment span {
    font-size:18px;
    font-weight:bold;
}

.productsListContainer .productsContainer .product .instalment div.calc {
    width: auto;
    display: inline-block;
}

.productsListContainer .productsContainer .product .instalment div.calc::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:10px;
    color:#0072bc;
    content:'\f061';
    padding-left:5px;
}

.productsListContainer .categoryHomeProducts .product .instalment div.calc::after {
    color:#C42172;
}

.productsListContainer .productsContainer .product a.btnOption.details {
    width: 160px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #ececec;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    float: left;
    margin-top: 8px;
    margin-bottom: 0px;
}

.productsListContainer .productsContainer .product a.btnOption.details:active,  .productsContainer .product a.btnOption.details:hover {
    border: 1px solid #064a7a;
}

.productsListContainer .productsContainer .product a.turbokurierBtn {
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}


.productsListContainer .productsContainer .product .markContainer {
    width: auto;
    height: auto;
    padding-top: 0px;
}



.productsListContainer .productsContainer .product table.availability td {
    padding: 4px 8px;
}

.productsListContainer .productsContainer .product {
    margin-bottom: 10px;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0px 10px;
}


.productsListContainer .productsContainer .product .comparison {
    margin-left: 0px;
    border-color: #cccccc;
}

.productsListContainer .productsContainer .product .content div.photo {
    width:27.28512960436562%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:block;
    float:left;
    margin-top:0px;
}

.productsListContainer .productsContainer .product .content .spec {
    width: 45.83765347885402%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:block;
    float:left;
    padding-top:0px;
    margin-top:0px;
}

.productsListContainer .productsContainer .product .content.descriptionAndPhoneOrderContainer,
.productsListContainer .productsContainer .product .content.descriptionAndViewVariantsContainer {
    position:relative;
    min-height:45px;
    padding:0;
}

.productsListContainer .productsContainer .product .content.descriptionAndViewVariantsContainer {
    width:97.34395750332005%;
    margin:0 auto;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    min-height:55px;
}

.productsListContainer .productsContainer .product .content .prices,
.productsListContainer .productsContainer .product .content .addToCartContainer2,
.productsListContainer .productsContainer .product .content .addToCartContainer3 {
    display:block;
    float:right;
    width:25.2387448840382%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:right;
}

.productsListContainer .productsContainer .product .content .addToCartContainer3 {
    position:absolute;
    bottom:0;
    right:0;
}

.productsListContainer .productsContainer .product .content.descriptionAndViewVariantsContainer .addToCartContainer3 {
    bottom:10px;
}

.productsListContainer .productsContainer .product .content .addOns {
    width:48.97680763983629%;
    display:block;
    float:left;
    /* height:85px; */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:bottom;
    /* bez tego boxy sa zawsze na dole */
    height:auto;
    min-height:85px;
    position: relative;
    top: 47px;
    bottom: 0;
}
.productsListContainer .productsContainer .product .content .addOns.addOnsTop {
    top:0px;
}


.productsListContainer .productsContainer .product.bundleList .content .addOns {
    min-height:45px;
    height: auto;
    top: 17px;
}

.productsListContainer .productsContainer .product .content .addOns .productSticker {
    display:inline-block;
    float:none;
    margin-bottom:0px;
    margin-top:4px;
}

.productsListContainer .productsContainer .product .content .addOns .productSticker.turbokurier {
    display: none;
}

.productsListContainer .productsContainer .product .content .addToCartContainer1 {
    display:block;
    float:left;
    width:25.2387448840382%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:center;
}

.productsListContainer .productsContainer .product .content .spec .rowContainer .specName {
    width: 42%;
    padding-right:8px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin-right:0px;
}

.productsListContainer .productsContainer .product .content .spec .rowContainer .specValue {
    width: 58%;
    color: #232323;
    box-sizing:border-box;
    -moz-box-sizing:border-box;

}

.productsListContainer .productsContainer .product .content .spec .rowContainer .specValue a {
    color: #0072bc;
    text-decoration: none;
}

.productsListContainer .productsContainer .product .prices .cartPromoNotification {
    color:#438a25;
    text-transform:uppercase;
    border-left:6px solid #6cc049;
    background-color:#e3f9da;
    max-width:70%;
    padding:4px;
    padding-right:10px;
    font-size:11px;
    font-weight:bold;
    float:right;
    margin-top:15px;
}
.productsListContainer .productsContainer .product .prices .price {
    font-size:27px;
    /*color:#343434;*/
    color:#000000;
    font-weight:bold;
    padding-top:10px;
}

.productsListContainer .productsContainer .product .prices .price .priceStarts {
    font-size:50%;
}
.productsListContainer .productsContainer .product .content .prices {
    width:26.2387448840382%;
}

.productsListContainer .productsContainer .product .prices .pricing.phonePrice {
    min-height: 100px;
}
.productsListContainer .productsContainer .product .prices .phonePrice .priceValue {
    float:right;
    width: 50%;
}

.productsListContainer .productsContainer .product .content .pricing.phonePrice .price {
    color: #D41702;
    font-size: 14px;
    line-height: 14px;
    padding-top: 20px;
    height: auto;
    text-align: center;
}

.productsListContainer .productsContainer .product .prices .netPrice {
    font-size:11px;
    color:#626262;
}

.productsListContainer .productsContainer .product .content .availability {
    background-color: #343434;
    color: #ffffff;
    text-align: center;
    float: right;
    width: 51.02319236016371%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 37px;
    text-align: center;
    margin-top: 2px;
}

.productsListContainer .productsContainer .product .content .availability .label {
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;
}
.productsListContainer .productsContainer .product .content .availability span:first-child {
    text-transform: uppercase;
    font-weight: bold;
}
.productsListContainer .productsContainer .product .content .availability .label span {
    display: block;
}

.productsListContainer .productsContainer .product .content .availability a {
    color:#ffffff;
    text-decoration: none;
}
.productsListContainer .productsContainer .product .addToCartContainer2.disabled .addToCart2.storeCollect,
.productsListContainer .productsContainer .product .addToCartContainer1.disabled .addToCart2.inPersonCollect {
    background-color: #f5f5f5;
}

.productsListContainer .productsContainer .product .content .availability::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.productsListContainer .productsContainer .product .addToCart2.storeCollect::after,
.productsListContainer .productsContainer .addToCart2.inPersonCollect::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:16px;
    padding-left:6px;
    vertical-align:middle;
    color:#ffffff;
    content:'\f061';
}
.productsListContainer .productsContainer .product .content.options ul {
    display:block;
    float:left;
    margin:0;
    padding:0;
}
.productsListContainer .productsContainer .product .content.options ul li {
    display:block;
    float:left;
    padding:0px 10px;
    border-right:1px solid #e6e6e6;
}

.productsListContainer .productsContainer .product .content.options ul li:last-child {
    border-right:none;
}

.productsListContainer .productsContainer .product .content.options ul li > div {
    display: block;
    min-width:100px;
    height: 20px;
}


.productsListContainer .productsContainer .product .content.options ul li div.checkbox,
.productsListContainer .productsContainer .product .content.options ul li label.compareCheckboxLabel {
    display: inline;
    float: left;
}

.productsListContainer .productsContainer .product div.optionButton,
.productsListContainer .productsContainer .product a.optionButton {
    font-size:12px;
    color:#454545;
    text-decoration:none;
}

.productsListContainer .productsContainer .product .content.options a.optionButton.productDetails {
    /* margin-right: 20px; */
}

.productsListContainer .productsContainer .optionButton label.compareCheckboxLabel::after,
.productsListContainer .productsContainer a.optionButton::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:10px;
    padding-left:6px;
    color:#0072bc;
    content:'\f061';
}

.productsListContainer .categoryHomeProducts .optionButton label.compareCheckboxLabel::after,
.productsListContainer .categoryHomeProducts a.optionButton::after {
    color:#C42172;
}

.productsListContainer .productsContainer a.optionButton.checkbox::after {
    content:'\ea53';
    font-size:12px;
}

.productsListContainer .productsContainer a.optionButton.checkbox.active::after {
    content:'\ea52';
}

.productsListContainer .productsContainer .product a.optionButton.productDetails {
    float:right;
}

.productsListContainer .productsContainer .product.wariant .content .spec {
    border-left:6px solid #0072bc;
    padding-top:0px;
    margin-top:20px;
    width: auto;
    max-width: 345px;
}

.productsListContainer .categoryHomeProducts .product.wariant .content .spec {
    border-left:6px solid #C42172;
}
.productsListContainer .productsContainer .product.wariant .features {
    padding-left:10px;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    color:#006ab3;
}

.productsListContainer .productsContainer .product.wariant .features + .features {
    margin-top:7px;
}
.productsListContainer .productsContainer .product.wariant .features span {
    font-weight:bold;
}
.productsListContainer .productsContainer .product.wariant .features .label {
    display:block;
    color:#212121;
    font-size:12px;
    padding-bottom:4px;
}
.productsListContainer .productsContainer .product.wariant .features .value {
    display:block;
    color:#c4dced;
    font-size:12px;
    padding-bottom:6px;
}
.productsListContainer .productsContainer .product.wariant .features .value span {
    color:#ffffff;
    background-color:#0072bc;
    padding:3px 5px;
    margin-bottom:3px;
    margin-right:3px;
    word-wrap:break-all;
    display:inline-block;
}
.productsListContainer .categoryHomeProducts .product.wariant .features .value span {
    background-color:#C42172;
}

.productsListContainer .productsContainer .product.wariant .features .value span:first-child {
    padding:3px 5px;
}


.productsListContainer .productsContainer .product.wariant {
    padding:0px;
    border:none;
}

.productsListContainer .productsContainer .product.wariant .header {
    padding:35px 10px 30px 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border:none;
}

.productsListContainer .productsContainer .product.wariant .header .name {
    margin-top:0px;
    display:inline-block;
    width:71.62346521145975%;
}

.productsListContainer .productsContainer .product.wariant .marketingDescription {
    width: 69.98635743519782%;
    margin-left:0px;
}

.productsListContainer .productsContainer .product.wariant .addToCart2 span {
    max-width:70%;
}

.productsListContainer .productsContainer .product.wariant .header .variantsAmount,
.productsListContainer .productsContainer .product .header .bundleMark {
    display:block;
    float:right;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    color:#ffffff;
    background-color:#0072bc;
    padding:3px 15px;
    margin-right:0px;
}

.productsListContainer .categoryHomeProducts .product.wariant .header .variantsAmount,
.productsListContainer .categoryHomeProducts .product .header .bundleMark {
    background-color:#C42172;
}

.productsListContainer .productsContainer .product.wariant .prices {
    margin-top:20px;
    padding-right:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.productsListContainer .productsContainer .product .prices .priceRange {
    font-size:22px;
    font-weight:normal;
    color:#7b7b7b;
}

.productsListContainer .productsContainer .product.bundleList .header .nameAndDescriptionContainer {
    width:80%;
}

.productsListContainer .productsContainer .product.bundleList .spec ul li {
    display:block;
    list-style-type:none;

}

.productsListContainer .productsContainer .product.bundleList .spec ul li + li {
    margin-top:10px;
}

.productsListContainer .productsContainer .product.bundleList .spec ul li::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:15px;
    padding-right:6px;
    display:inline-block;
    vertical-align:middle;
    color:#0072bc;
    content:'\f067';
}

.productsListContainer .categoryHomeProducts .product.bundleList .spec ul li::before {
    color:#C42172;
}

.productsListContainer .productsContainer .product.bundleList .spec ul li a {
    display:inline-block;
    text-decoration:none;
    max-width:90%;
    color:#454545;
}

.productsListContainer .productsContainer .product.bundleList .spec ul li a:active,
.productsListContainer .productsContainer .product.bundleList .spec ul li a:hover {
    color:#0072bc;
    text-decoration:underline;
}

.productsListContainer .productsContainer .product.bundleList .spec ul li a::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
}

.productsListContainer .productsContainer .product.bundleList .spec ul li a img {
    display:inline-block;
    vertical-align:middle;
}

.productsListContainer .productsContainer .product.bundleList .spec ul li a span {
    display:inline-block;
    vertical-align:middle;
    padding-left:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-size:12px;
    max-width:70%;
}

.productsListContainer .productsContainer .product.bundleList .content div.photo,
.productsListContainer .productsContainer .product.bundleList .content .spec {
    margin-top:10px;
}

.productsContainer .product.fullView .details .tabContent .opinions {
    padding: 12px 12px 12px;
}

/*  ========================== lista-produktow-lifting-polecane.css ========================= */

.productsContainer .product.recommended {
    border:1px solid #cfd9e4;
    position:relative;
}

.productsContainer .product.recommended .recommendedLabel {
    float:left;
    width:15%;
    background-color:#ff4c00;
    color:#ffffff;
    font-size:12px;
    font-weight:600;
    padding-top:2px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-bottom:2px;
    text-align:left;
    padding-left:8px;
    text-transform:uppercase;
    margin-top:8px;
}

.productsContainer .product.recommended .header .erpCode {
    float:none;
    width:100%;
    clear:both;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-left:0px;
    margin-top:8px;
    padding-top:4px;
    padding-bottom:2px;
    line-height:13px;
}

.productsContainer .product.recommended .nameAndDescriptionContainer {
    width:73.73461012311902%;
    float:left;
    padding-top:10px;
}

.productsContainer .product.recommended .nameAndDescriptionContainer .name {
    font-size:18px;
}

.productsContainer .product.recommended .availabilityAndCartButtonsContainer {
    display:block;
    width:72.77701778385773%;
    position:absolute;
    bottom:0;
    right:0;
}

.productsContainer .product .content {
    position:relative;
}

.productsContainer .product.recommended .addToCartContainer1 {
    float:right !important;
    margin-right:2px;
}

.productsContainer .product.recommended .addToCartContainer2 {
    width:32.5187969924812% !important;
    float:right;
}

.productsContainer .product.recommended .addToCartContainer3 {
    position:relative !important;
    float:right;
    width:33.64661654135338% !important;
    margin-right:2px;
}

.productsContainer .product.recommended .addToCart2.phoneOrder {
    margin-top:0;
    border:1px solid #0097d5;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-bottom:7px;
    color:#0097d5;
    line-height:15px;
    font-size:12px;
}

.productsContainer .product.recommended .addToCart2 {
    line-height:15px;
    margin-top: 0 !important;
}

.productsContainer .product.recommended .content .availability {
    background-color:#ffffff;
    width:58.08270676691729%;
}

.productsContainer .product.recommended .content .availability,
.productsContainer .product.recommended .content .availability .label a {
    color: #499c27 !important;
}

.productsContainer .product.recommended .content .availability .label {
    max-width:100%;
}

.productsContainer .product.recommended .content div.photo {
    min-height:200px;
}

.productsContainer .product.recommended .prices .price {
    padding-top:0;
}

#optionsOccasionsContainer {
    ddisplay: none;
}
