@CHARSET "UTF-8";

.lukas_lightbox_calculator, .lukas_lightbox_calculator:active, .lukas_lightbox_calculator:hover
{
    width:124px;
    height:30px;
    min-height: 30px;
    background:url(images/ktrPaymentsPlugin/images/LukasBankCreditPaymentProvider/lukas_raty_sprite_karta_produktu.gif) no-repeat 0px 0px;
    background-color: black;
}

.lukas_lightbox_calculator:active, .lukas_lightbox_calculator:hover
{
    background-position:0px -30px;
}

a#lukas_lightbox_calculator_in_cart, a#lukas_lightbox_calculator_in_cart:active, a#lukas_lightbox_calculator_in_cart:hover
{
    display:block;
    margin-top: 10px;
    width:120px;
    height:28px;
    background:url(/images/ktrPaymentsPlugin/images/LukasBankCreditPaymentProvider/oblicz_raty_duckblue.png);
    text-decoration:none;
}

a#lukas_lightbox_calculator_product, a#lukas_lightbox_calculator_product:active, a#lukas_lightbox_calculator_product:hover
{
    display:block;
    width:124px;
    height:29px;
    margin: 0 auto;
    background:url(images/ktrPaymentsPlugin/images/LukasBankCreditPaymentProvider/lukas_raty_sprite_karta_produktu.gif) no-repeat 0px 0px;
    text-decoration:none;
}

a#lukas_lightbox_calculator_product:active, a#lukas_lightbox_calculator_product:hover
{
    border: 0px solid;
    background-position:0px -29px;
}

div#lukas_bank_amount
{
    display: none;
}

a.lukas_procedure_button, a.lukas_procedure_button:active, a.lukas_procedure_button:hover
{
    display:block;
    margin-top: 2px;
    width:236px;
    height:28px;
    background:url(images/ktrPaymentsPlugin/images/LukasBankCreditPaymentProvider/wypelnij_wniosek.gif) no-repeat 0px 0px;
    text-decoration:none;
}

a.lukas_procedure_button:active, a.lukas_procedure_button:hover
{
    background-position:0px -31px;
}

div#do_lukas_payment
{
    width: 236px;
    margin: 0 auto;
    clear: both;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
}

a.do_lukas_payment, a.do_lukas_payment:active, a.do_lukas_payment:hover
{
    display:block;
    margin-top: 10px;
    width:236px;
    height:35px;
    background:url(images/ktrPaymentsPlugin/images/LukasBankCreditPaymentProvider/wniosek.gif) no-repeat 0px 0px;
    text-decoration:none;
}

a.do_lukas_payment:active, a.do_lukas_payment:hover
{
    background-position:0px -42px;
}

div#lukas_before_payment_left
{
    float: left;
    width: 20%;
    margin: 2%;
    color: #494443;
    line-height: 150%;
}

div#lukas_before_payment_right
{
    float: left;
    width: 60%;
    margin: 2%;
    padding: 10px;
    color: #494443;
    background-color: #EFEFEF;
    line-height: 150%;
}

div#lukas_terms_acceptation
{
    font-weight: bold;
    display: block;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

input.lukasCheck
{
    vertical-align: middle;
}

div#lukas_modal_action
{
    display: none;
}

span.lukas_cart_info
{
    margin-top: 5px;
    color: red;
    vertical-align: middle;
    font-weight: bold;
}

.lukas_info
{
    line-height: 150%;
    font-size: 9pt;
    margin: 50px;
}

.lukasAfterImage
{
    margin-right: 30px;
    float: left;
}