@charset "utf-8";
/* CSS Document */

.clearfix::after {
    content:'';
    display:table;
    clear:both;
}

@font-face {
    font-family: 'komputronik-icons-list-fullview';
    src:url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.eot?fl9dxc');
    src:url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.eot?#iefixfl9dxc') format('embedded-opentype'),
    url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.ttf?fl9dxc') format('truetype'),
    url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.woff?fl9dxc') format('woff'),
    url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.svg?fl9dxc#komputronik-icons-list-fullview') format('svg');
    font-weight: normal;
    font-style: normal;
}

.newFullView .markContainer, .popupContainer .markContainer, .opinions .markContainer {
    width:auto;
    height:auto;
    line-height:normal;
    float:right;
}

.newFullView .markContainer .label, .popupContainer .markContainer .label, .opinions .markContainer .label {
    display:inline-block;
    font-weight:500;
    line-height:14px;
    font-size:14px;
    margin-right:6px;
}

.newFullView .markContainer .summary, .popupContainer .markContainer .summary, .opinions .markContainer .summary {
    display:block;
    margin-left:6px;
    font-size:11px;
    color:#898989;
    text-align:right;
    clear:both;
}

.newFullView .markContainer .summary span, .popupContainer .markContainer .summary span, .opinions .markContainer .summary span {
    font-weight:bold;
}

.newFullView .markContainer .markStars, .popupContainer .markContainer .markStars, .opinions .markContainer .markStars {
    background-image:none;
    position:relative;
    display:block;
    height:auto;
    width:103px;
    float:right;
}

.newFullView .markContainer .starRatingContainer, .popupContainer .markContainer .starRatingContainer, .opinions .markContainer .starRatingContainer {
    height:14px;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:1;
}

.newFullView .markContainer .markStars:after, .popupContainer .markContainer .markStars:after, .opinions .markContainer .markStars:after {
    font-family:'komputronik-icons-list-fullview';
    font-size:20px;
    color:#b9b7b7;
    content:'\e614\e614\e614\e614\e614';
}

.newFullView .markContainer .markStars .value, .popupContainer .markContainer .markStars .value, .opinions .markContainer .markStars .value {
    background-image:none;
    height:20px;
    width:1%;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    overflow:hidden;
    text-align: left;
    white-space: nowrap;
}

.newFullView .markContainer .value::before, .popupContainer .markContainer .value::before, .opinions .markContainer .value::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:20px;
    color:#0072bc;
    content:'\e614\e614\e614\e614\e614';
}

.categoryHomeProducts .newFullView .markContainer .value::before,
.categoryHomeProducts .markContainer .value::before,
.categoryHomeProducts .opinions .markContainer .value::before {
    color:#C42172;
}

.opinions .markContainer {
    float: left;
}

.attribute {
    font-size:11px;
    text-transform:none;
    font-weight:normal;
    height:auto;
    line-height:21px;
    float:left;
    margin-left:0px;
    margin-right:4px;
    padding-left:8px;
    padding-right:8px;
}

.attribute.attributeP {
    background-color:#6cc049;
    margin-left:0px;
}

.attribute.attributeS {
    background-color:#ff4c00;
    margin-left:0px;
}

.attribute.attributeN {
    background-color:#cf0a2c;
    color:#ffffff;
    margin-left:0px;
}

.attribute.bestseller,
.attribute.attributeBESTSELLER {
    background-color:#397237;
    margin-left:0px;
}

.attribute.attribute.nowosc {
    background-color:#ffa300;
}

.attribute.attributeW {
    background-color:#0070cd;
}

.attributesContainer .attribute.attributeSL,
.attributesContainer .attribute.attributeCO,
.attributesContainer .attribute.attributeSLI {
    display: none;
}

.productSticker {
    width:160px;
    height:40px;
    background-color:#f4faff;
    font-size:10px;
    line-height:12px;
    color:#0072bc;
    margin-bottom:4px;
    margin-right:4px;
    font-weight:bold;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    vertical-align:bottom;
    text-transform:uppercase;
    float:left;
    position: relative;
}
.categoryHomeProducts .productSticker {
    color:#C42172;
}

.productSticker span.icon {
    margin-left:6px;
    display:inline-block;
    vertical-align:middle;
    width:40px;
    height:80%;
    background-position:left bottom;
    background-repeat:no-repeat;
}

.productSticker span.label {
    display:inline-block;
    vertical-align:bottom;
    wwidth:60%;
    padding-bottom:4px;
}

.productSticker::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:14px;
    display:inline-block;
    text-align:right;
    color:#0072bc;
    content:'\f00c';
    vertical-align:bottom;
    padding-bottom:4px;
    padding-right:3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.categoryHomeProducts .productSticker::after {
    color:#C42172;
}

.productSticker.turbokurier span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-turbokurier-blue.png);
    width:60px;
}

.categoryHomeProducts .productSticker.turbokurier span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-turbokurier-kthome.png);
}

.productSticker.turbokurier span.label {
    width:60px;
}

.productSticker.freeDelivery span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-free-delivery-blue.png);
    width:40px
}

.categoryHomeProducts .productSticker.freeDelivery span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-free-delivery-kthome.png);
}

.productSticker.freeDelivery span.label {
    width:80px;
}

.productSticker.vipPrices span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-vip-prices-blue.png);
    width:40px;
}

.categoryHomeProducts .productSticker.vipPrices span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-vip-prices-kthome.png);
}

.productSticker.vipPrices span.label {
    width:80px;
}

.productSticker.bringing span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-bringing-blue.png);
    width:40px;
}

.categoryHomeProducts .productSticker.bringing span.icon {
    background-image:url(/images/pl-komputronik/icons/product-icon-bringing-kthome.png);
}

.productSticker.bringing span.label {
    width:80px;
}

.listOptionsContainer .attributesContainer .filterAttribute .checkbox {
    margin-right:4px;
}

.productsContainer .product .content div.photo {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 195px;
    min-height: 190px;
}

.productsListContainer .productsContainer .productListFullView .productLabel .regularProduct {
    top: 190px;
}

.productFullViewContainer .productsContainer .content .photo .productLabel {
    position: absolute;
}

.productFullViewContainer .productsContainer .content .photo .productLabel .regularProduct {
    position: relative;
    left: 180px;
    top: 140px;
}

.productFullViewContainer .productsContainer .product .content {
    position:initial !important;
}

.productsContainer .content .photo .productLabel .regularProduct span img {
    max-width: 90px;
    max-height: 90px;
}
.product .content.options ul li a.optionButton.services {
    display: none;
}
/* FIXME usuwamy przyciski zmiany widokow */
.listOptionsContainer .content .option.displayMode .label,
.listOptionsContainer .content .option.displayMode .boxDisplaySwitch,
.listOptionsContainer .content .option.displayMode .rowDisplaySwitch,
.listOptionsContainer .content .option.displayMode .hardcoreDisplaySwitch {
    display: none;
}

/* wybor promocji w koszyku */
.cartContainer .cartPromotions {
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 6px;
    overflow: hidden;
    width: 733px;
    width: 920px;
}

.cartContainer .cartPromotions .label {
    padding: 6px;
    padding-top: 10px;
    color: #cc0000;
    font-size: 16px;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
}

.cartContainer .cartPromotions ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.cartContainer .cartPromotions ul li {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 6px;
    list-style-type: none;
}

.cartContainer .cartPromotions ul li.even {
    background-color: #f5f5f5;
}

.cartContainer .cartPromotions .item {
    display: block;
    width: 100%;
    overflow: hidden;
}

.cartContainer .cartPromotions ul li:last-child {
    border-bottom: none;
}

.cartContainer .cartPromotions .item .radio {
    float: left;
    width: 25px;
    line-height: 23px;
    text-align: center;
    padding-top: 6px;
}

.cartContainer .cartPromotions .item .radio input[type=radio] {
    margin: 0px;
    line-height: 23px;
    vertical-align: middle;
}

.cartContainer .cartPromotions .item .description {
    float: left;
    padding-top: 6px;
    width: 690px !important;
}

.cartContainer .cartPromotions .item.withIcon .description {
    width: 590px;
}

.cartContainer .cartPromotions .item .icon {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    width: 100px;
    height: auto;
}

.cartContainer .cartPromotions .item label {
    font: bold 12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    padding-bottom: 6px;
    display: block;
    color: #000000;
}

.cartContainer .cartPromotions .item .text {
    color: #333333;
    font-size: 11px;
    line-height: 14px;
}

.cartContainer .cartPromotions .promoProductsSwitch {
    cursor: pointer;
    line-height: 18px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    font-weight: normal;
    float: left;
    color: #000000;
    padding: 0px 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.cartContainer .cartPromotions .productsList {
    display: none;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    clear: both;
}

.cartContainer .cartPromotions .productsList .label {
    padding-top: 10px;
    padding-left: 6px;
    padding-bottom: 2px;
    font: bold 12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    color: #000000;
}

.cartContainer .cartPromotions .productsList .entry {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}

.cartContainer .cartPromotions .productsList .entry td {
    vertical-align: middle;
}

.cartContainer .cartPromotions .productsList .entry:last-child {
    border-bottom: none;
}

.cartContainer .cartPromotions .productsList .entry .image {
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    /*border:1px solid #e0e0e0;*/
    float: none;
    margin-left: 6px;
    text-align: center;
}

.cartContainer .cartPromotions .productsList .entry .description {
    width: 400px;
    float: none;
    padding-left: 6px;
    padding-top: 0px;
    margin-top: 0px;
}

.cartContainer .cartPromotions .productsList .entry .description a {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

.cartContainer .cartPromotions .productsList .entry .description a:active, .cartContainer .cartPromotions .productsList .entry .description a:hover {
    text-decoration: underline;
}

.cartContainer .cartPromotions .productsList .entry .price {
    text-align: center;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    white-space: nowrap;
    padding: 0px 10px;
}

.cartContainer .cartPromotions .productsList .entry .price .oldPrice {
    text-decoration: line-through;
    font-size: 11px;
}

.cartContainer .cartPromotions .productsList .entry .price .promoPrice {
    font-weight: bold;
    font-size: 12px;
    color: #cc0000;
}
