@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'komputronik-icons-list-fullview';
    src:url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.eot?fl9dxc');
    src:url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.eot?#iefixfl9dxc') format('embedded-opentype'),
        url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.ttf?fl9dxc') format('truetype'),
        url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.woff?fl9dxc') format('woff'),
        url('/css/pl-komputronik/fonts/komputronik-icons-list-fullview.svg?fl9dxc#komputronik-icons-list-fullview') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cartAreaAvailabilityPopupLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: #3e3e3e;
}

.cartAreaAvailabilityPopupLayer .popupApla {
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.popupContainer2 {
    width:40%;
    min-width:350px;
    background-color:#ffffff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:24px;
    font-family:Arial,Tahoma,Helvetica,sans-serif;
    margin: 200px auto;
    position: relative;
    z-index: 2;
}

.popupContainer2 .flash-message {
    display: none;
}

.popupContainer2 .indicator {
    height: 45px;
    width: 45px;
    display: none;
    float: right;
    margin-right: 10px;
}

.popupContainer2 .close {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline;
    float: right;
    text-align: center;
    transition: all 200ms;
    font-size: 34px;
    line-height: 30px;
    text-decoration: none;
    color: #0097d5;
    border: 2px solid;
}

.popupContainer2 .close:hover {
    color: #ffffff;
    background-color: #0097d5;
    border-color: #0097d5;
}

.popupContainer2 h2 {
    color:#0097d5;
    font-size:22px;
    font-weight:bold;
    padding-top:20px;
}

.popupContainer2 .content {
    font-family:Tahoma,Arial,Helvetica,sans-serif;
    color:#454545;
    font-size:13px;
    padding-top:15px;
    width:100%;
    overflow:hidden;
}

.popupContainer2 .content .section.strong {
    font-weight:bold;
}

.popupContainer2 .content .section {
    font-family:Tahoma,Arial,Helvetica,sans-serif;
    color:#454545;
    font-size:13px;
    padding-top:10px;
    width:100%;
    overflow:hidden;
}

.popupContainer2 .content .section.separated {
    padding-top:30px;
}

.popupContainer2 input[type="text"] {
    border: 1px solid #f0f0f0;
    width: 60%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height:35px;
    height:35px;
    color: #636363;
    padding:0px 10px;
    background-color:#f9f9f9;
    display:inline-block;
}

.popupContainer2 select {
    border: 1px solid #f0f0f0;
    width: 60%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height:35px;
    height:35px;
    color: #636363;
    padding-left: 10px;
    background-color:#f9f9f9;
    display:inline;
}

.popupContainer2 textarea {
    border: 1px solid #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height:auto;
    color: #636363;
    padding:10px 10px;
    background-color:#f9f9f9;
    display:block;
}
.popupContainer2  .btn {
    display:block;
    line-height:normal;
    height:45px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:center;
    color:#ffffff;
    font-size:12px;
    text-transform:uppercase;
    font-weight:bold;
    margin-right:0px;
    text-decoration:none;
    padding:0px 15px;
}

.popupContainer2 .btn::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}
.popupContainer2 .btn span {
    display:inline-block;
    max-width:100%;
    vertical-align:middle;
}

.popupContainer2 .btn.forward {
    background-color:#0097d5;
    color:#ffffff;
    float:right;
}

.popupContainer2 .btn.close {
    border:1px solid #0097d5;
    color:#0097d5;
    float:left;
}

.popupContainer2 .btn.forward:hover {
    background-color:#0072bc;
}

.popupContainer2 .btn.close:hover {
    background-color:#0097d5;
    color:#ffffff;
}

.popupContainer2 .btn.forward::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:16px;
    padding-left:6px;
    vertical-align:middle;
    color:#ffffff;
    content:'\f061';
}

.popupContainer2 a.optionButton {
    font-size:12px;
    color:#454545;
    text-decoration:none;
}

.popupContainer2 a.optionButton::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:10px;
    padding-right:6px;
    color:#454545;
    content:'\f061';
}

.popupContainer2 a.optionButton.checkbox::before {
    content:'\ea53';
    font-size:12px;
}

.popupContainer2 a.optionButton.checkbox.active::before {
    content:'\ea52';
    color:#0072bc;
}

.popupContainer2 .markDescription {
    float:left;
    line-height:33px;
}

.popupContainer2 .error {
    background-color:#ff5b5b;
    color:#ffffff;
    display:inline-block;
    padding:2px 10px;
    margin-top:5px;
}

.popupContainer2 .note {
    font-size:12px;
    font-style:italic;
    color:#454545;
}

.popupContainer2 .note a {
    text-decoration:underline;
    color:#0097d5;
}

.popupContainer2 .note a:active, .popupContainer2 .note a:hover {
    color:#454545;
}

.popupContainer2 .inputLabel {
    width:70px;
    display:inline-block;
}
