@charset "utf-8";

@font-face {
    font-family: 'komputronik-icons';
    src: url('/css/pl-komputronik/fonts/komputronik-icons4.eot?-p4tl8f');
    src: url('/css/pl-komputronik/fonts/komputronik-icons4.eot?#iefix-p4tl8f') format('embedded-opentype'), url('/css/pl-komputronik/fonts/komputronik-icons4.woff?-p4tl8f') format('woff'), url('/css/pl-komputronik/fonts/komputronik-icons4.ttf?-p4tl8f') format('truetype'), url('/css/pl-komputronik/fonts/komputronik-icons4.svg?-p4tl8f#komputronik-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.promotionsNotification {
    color:#ffffff;
    box-sizing:border-box;
    font-family:Arial,Tahoma,Helvetica,sans-serif;
    background:#89cd6d url(/images/pl-komputronik/promotion/icon-promo-product-button.png) no-repeat center left;
    background-position:5px center;
    padding:4px;
    max-width:90%;
    padding-right:10px;
    padding-left:30px;
    font-size:12px;
    font-weight:bold;
    float:right;
    text-align:center;
    margin-top:6px;
    margin-bottom:6px;
}

.product.newFullView .promotionAvailableButton {
    background-color:#F7FDF6;
    border:none;
    display:block;
    float:right;
    vertical-align:middle;
    width:57.2987721691678%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0;
    margin-top:8px;
}


.product.newFullView .promotionAvailableButton .promotionsNotification {
    width:100%;
    font-size:14px;
    max-width:none;
    margin:0;
    background-image:none;
    text-align:center;
    text-decoration:none;
}

.product.newFullView .promotionAvailableButton .promotionsNotification:active,
.product.newFullView .promotionAvailableButton .promotionsNotification:hover {
    background-color:#6cc049;
}

.product.newFullView .promotionAvailableButton .promotionsNotification img {
    display:inline-block;
}
.product.newFullView .promotionAvailableButton .promotionsNotification .caption {
    display:inline-block;
    padding-left:10px;
}

.product.newFullView .promotionAvailableButton .promotionsNotification .caption span {
    display:block;
    color:#e1fbdb;
    font-size:12px;
    font-weight:normal;
}

.product.newFullView .promotionAvailableButton .promotionsNotification .caption span::after {
    font-family:'komputronik-icons';
    font-size:12px;
    color:#ffffff;
    font-weight:normal;
    content:' \e62a';
    vertical-align:middle;
}

.productPromotions {
    width:100%;
    max-width: 1100px;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto;
    padding-bottom:8px;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

.productPromotions, .productPromotions * {
    box-sizing:border-box;
}


.productPromotions .header {
    font-size: 22px;
    color: #ffffff;
    border-radius:5px;
    font-weight: normal;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:80px;
    background:#93d079 url(/images/pl-komputronik/promotion/icon-promo-product-aggregator-title.png) no-repeat left center;
    background-position:15px center;
    cursor:pointer;
}

.productPromotions .header:active,
.productPromotions .header:hover {
    background-color:#6cc049;
}

.productPromotions .header::after {
    font-family:'komputronik-icons';
    font-size:22px;
    float:right;
    margin-right:20px;
    color:#ffffff;
    font-weight:normal;
    content:' \e62b';
}

.productPromotions .header.collapsed::after {
    content:' \e62a';
}

.productPromotions .entry {
    background:#ffffff url(/images/pl-komputronik/promotion/icon-promo-entry.png) no-repeat left center;
    background-position:25px 15px;
    padding:25px 15px 15px 80px;
    margin-top:8px;
    border-radius:5px;
    width:100%;
    overflow:hidden;
}

.productPromotions .entry.cartPromotion {
    background:url(/images/pl-komputronik/promotion/icon-promo-entry.png) no-repeat left center,
    url(/images/pl-komputronik/promotion/icon-promo-entry-cart.png) no-repeat right bottom;
    background-position:25px 15px, 98% 88%;
    background-color:#ffffff;
}

.productPromotions .entry.quantityPromotion {
    background:url(/images/pl-komputronik/promotion/icon-promo-entry.png) no-repeat left center,
    url(/images/pl-komputronik/promotion/icon-promo-entry-quantity.png) no-repeat right bottom;
    background-position:25px 15px, 98% 88%;
    background-color:#ffffff;
}

.productPromotions .entry.labelPromotion .icon {
    float:right;
    width:13%;
    text-align:center;
}

.productPromotions .entry.labelPromotion .icon img {
    max-width:100%;

}

.productPromotions .instruction {
    margin-top:10px;
    font-weight:normal;
    font-size:12px;
    color:#8d8d8d;
    line-height:16px;
    width:60%;
    float:left;
}

.productPromotions .instruction::before {
    font-family:'komputronik-icons';
    font-size:13px;
    padding-right:5px;
    color:#8d8d8d;
    font-weight:normal;
    content:' \e675';
}

.productPromotions .entry h2 {
    font-size:18px;
    font-weight:bold;
    color:#454545;
    padding-bottom:10px;
}

.productPromotions .entry .description {
    font-size:14px;
    color:#343434;
    line-height:20px;
    width:60%;
    float:left;
}

.productPromotions .entry .description + .description {
    margin-top:8px;
}
.productPromotions .entry .description table td {
    padding:3px 4px;
    font-size:14px;
}

.productPromotions .entry .description table td span {
    font-weight:bold;
    color:#6cc049;
}

.productPromotions .entry .description table tr:nth-child(2n) td {
    background-color:#f1f1f1;
}

.productPromotions .entry .description table tr td:nth-child(2n)::before {
    font-family:'komputronik-icons';
    font-size:14px;
    padding-right:5px;
    color:#6cc049;
    font-weight:normal;
    content:' \e630';
}
