.productsContainer .product.wariantGroupView .header {
    border-bottom: 1px solid #dddddd;
    margin: 0 auto;
    width: 97.8%;
}

.productsContainer.fullView .product.wariantGroupView {
    padding: 0;
    overflow: visible;
}

.productsContainer .product.wariantGroupView .content .allPhotos::before {
    content: none;
}

.productsContainer .product.wariantGroupView .content .allPhotos a.slideLeft {
    border: none;
    display: block;
    float: left;
    height: 52px;
    width: 14px;
    background: url(/images/pl-komputronik/layout/sprites/photo_arrows_sprite.png) no-repeat left center;
}

.productsContainer .product.wariantGroupView .content .allPhotos a.slideRight {
    border: none;
    display: block;
    float: right;
    height: 52px;
    width: 14px;
    background: url(/images/pl-komputronik/layout/sprites/photo_arrows_sprite.png) no-repeat -14px center;
}

.productsContainer .product.wariantGroupView .content .allPhotos a.slideLeft::before {
    content: none;
}

.productsContainer .product.wariantGroupView .content .allPhotos ul {
    float: left;
}

.productsContainer .product.wariantGroupView .content .allPhotos ul li {
    float: left;
    margin-right: 1px;
}

.productsContainer .product.wariantGroupView .content .allPhotos a.slideRight::before {
    content: none;
}

.productsContainer .product.wariantGroupView .socialMediaButtons {
    float: left;
    width: 320px;
    position: relative;
    left: 20px;
    top: 9px;
    max-width: none;
}

.productsContainer .product.fullView.wariantGroupView .details .tabContent .dateAdded {
    margin-left: 10px;
}

.productsContainer .product.fullView.wariantGroupView .details .tabContent .description {
    padding: 12px;
}

.productsContainer .product.wariantGroupView .content .availability {
    background: none;
}

.productsContainer .product.wariantGroupView .addToCartContainer1 .availability {
    display: none;
}

.productsContainer .product.wariantGroupView .addToCartContainer2 .availability {
    display: none;
}

.productsContainer .product.wariantGroupView .attributesContainer {
    height: auto;
}

.productsContainer .product.wariantGroupView .content .availability::before {
    content: none;
}

.productsContainer .product.wariantGroupView .content .pricing {
    margin-right: 0px;
}

.productsContainer .product .productWariants .header {
    border-bottom: 1px solid #dddddd;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .photo {
    display: block;
    float: left;
    width: auto;
    color: #FFF;
    font-size: 1px;
    margin: 6px 2px 0px 0px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    position: relative;
    min-height: 0;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .photo .productLabel {
    position: absolute;
    bottom:10px;
    right:0;
    line-height: 100%;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .photo .regularProduct {
    left: auto;
    top: auto;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .photo .productLabel img {
    max-width: 34px;
    max-height: 34px;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .photo img {
    vertical-align: middle;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .addToCartContainer1 .availability {
    display: none;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .addToCartContainer2 .availability {
    display: none;
}

.productsContainer .product .tabContent .productWariants .productWariantsContainer .attributesContainer {
    height: auto;
}
