@charset "utf-8";

@font-face {
    font-family: 'icomoon';
    src: url('/css/pl-komputronik/komputronik-icons.eot?-q614ps');
    src: url('/css/pl-komputronik/komputronik-icons.eot?#iefix-q614ps') format('embedded-opentype'), url('/css/pl-komputronik/komputronik-icons.woff?-q614ps') format('woff'), url('/css/pl-komputronik/komputronik-icons.ttf?-q614ps') format('truetype'), url('/css/pl-komputronik/komputronik-icons.svg?-q614ps#komputronik-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.setsConfigurator {
    width: 964px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    color: #41404f;
    border-radius: 5px;
}

.setsConfigurator .content {
    width: 96%;
    position: relative;
    margin: 0 auto;
}

.setsConfigurator h1 {
    font-size: 36px;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 6px;
}

.setsConfigurator h1 span {
    color: #298fd4;
}

.setsConfigurator .steps {
    border-top: 1px solid #d9d9dc;
    border-bottom: 1px solid #d9d9dc;
    padding: 0px 0px;
    padding-top: 4px;
    font-size: 16px;
}

.setsConfigurator .steps ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 32px;
    overflow: visible;
}

.setsConfigurator .steps ul li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    padding: 4px 0px;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.setsConfigurator .steps ul li span.label {
    border-right: 1px solid #c6c5ca;
    padding: 0px 20px;
}

.setsConfigurator .steps ul li:last-child span.label {
    border-right: none;
}

.setsConfigurator .steps ul li .stepsArrow-top.stepsArrow {
    display: none;
}

.setsConfigurator .steps ul li.active,
.setsConfigurator .steps ul li.selected {
    font-weight: 500;
    border-bottom: 5px solid #41404f;
}

.setsConfigurator .steps ul li.active .stepsArrow-top.stepsArrow {
    display: block;
}

.setsConfigurator h2, .setsConfigurator .header {
    font-size: 26px;
    font-weight: 500;
    padding: 20px 0px;
}

.setsConfigurator .text {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.setsConfigurator .main {
    width: 74%;
    float: left;
}

.setsConfigurator .button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #0072bc;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    border: none;
    border-radius: 0px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    display: block;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    transition-delay: 0s;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}

.setsConfigurator .button .icon {
    color: #ffffff;
    font-family: 'icomoon', cursive;
    font-size: 40px;
    left: 20px;
    line-height: inherit;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 1px #333333;
    transition-delay: 0s;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: easy-in-out;
    width: 60px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.setsConfigurator .button.prevStep {
    float: left;
}

.setsConfigurator .button.nextStep {
    float: right;
}

.setsConfigurator .button.nextStep .icon, .setsConfigurator .button.prevStep .icon {
    font-size: 25px;
}


.setsConfigurator .button.order .icon {
    font-size:25px;
    right: 20px;
    left: auto;
}

.setsConfigurator .button.nextStep .icon {
    right: 20px;
    left: auto;
}

.setsConfigurator .button .label {
    height: inherit;
    font-family: 'Roboto', Tahoma, sans-serif;
    font-weight: 300;
    font-size: inherit;
    line-height: inherit;
    color: #ffffff;
    text-align: center;
    position: absolute;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.setsConfigurator .button.nextStep, .setsConfigurator .button.prevStep {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    width: 30%;
}

.setsConfigurator .button.nextStep {
    padding-left: 0px;
    padding-right: 20px;
}

.setsConfigurator .button.order {
    height:40px;
    background-color:#d01017;
    font-size:22px;
    line-height:40px;
    width:30%;
    padding-left: 0px;
    padding-right: 20px;
}

.setsConfigurator .button.order .label {
    padding-right: 40px;
}

.setsConfigurator .button.nextStep .label {
    padding-right: 40px;
}

.setsConfigurator .button .icon.cart:before {
    content: '\e64a';
}

.setsConfigurator .button .icon.arrowRight:before {
    content: '';
}

.setsConfigurator .button .icon.arrowRight:after {
    content: '\e652';
}

.setsConfigurator .button .icon.arrowLeft:before {
    content: '\e654';
}

.setsConfigurator .button:hover {
    background-color: #000000;
}

.setsConfigurator .button:hover .icon {
    color: #0072bc;
    font-size: 200px;
    left: -20px;
    opacity: 0.6;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}

.setsConfigurator .button.order:hover .icon {
    color: #d01700;
}

.setsConfigurator .button.prevStep:hover .icon,
.setsConfigurator .button.nextStep:hover .icon {
    font-size: 160px;
}

.setsConfigurator .button.prevStep:hover .icon {
    left: -10px;
}

.setsConfigurator .button.nextStep:hover .icon {
    right: 90px;
    left: auto;
}

.setsConfigurator .button.nextStep:hover .label {
    padding-right: 70px;
    padding-left: 0px;
}

.setsConfigurator .button.order:hover .icon {
    right: 110px;
    left: auto;
}

.setsConfigurator .button.order:hover .label {
    padding-right: 70px;
    padding-left: 0px;
}

.setsConfigurator .button:hover .label {
    padding-left: 70px;
}

.setsConfigurator .navigator {
    float: right;
    width: 25%;
    margin-right:4px;
    margin-top:4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 10px;
    background-color: #f6f6f6;
    border:1px solid #e0e0e0;
    box-shadow:0px 0px 4px 0 rgba(0, 0, 0, 0.1);
}

.setsConfigurator .navigator.summary {
    position: absolute;
    bottom: 150px;
    right: 0px;
    float: none;
}

.setsConfigurator .footer {
    width: 100%;
    overflow: hidden;
    border-top: 3px solid #c0c0c5;
    padding-bottom: 20px;
}

.setsConfigurator .group {
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
}

.setsConfigurator .group .header {
    width: 100%;
    padding:0px;
    margin-top:20px;
    position: relative;
    overflow: visible;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.setsConfigurator .group .header h3 {
    font-size: 24px;
    font-weight: 700;
    background-color:#0072bc;
    color:#ffffff;
    padding-left:5px;
    display: block;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin:0 auto;
    overflow: visible;
}

.setsConfigurator .group .subcategory .header h3 {
    padding-top: 5px;
}

.setsConfigurator .group .header + .text {
    padding-top:10px;
    line-height:18px;
    font-size:13px;
}


.setsConfigurator .group .subcategory .header h3:before {
    font-size: 22px;
    color: #e51a21;
}

.setsConfigurator .group .header img {
/*    display: block;*/
    display:none;
    position: absolute;
    right: 0px;
    bottom: 5px;
    max-height:140px;
}

.setsConfigurator .group .items {
    width: 100%;
    overflow: hidden;
}

.setsConfigurator .group .items h4,
.setsConfigurator .navigator h4,
.setsConfigurator .navigator .setValue {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d9d9dc;
}

.setsConfigurator .group .items h4 {
    font-size:18px;
    color:#0072bc;
}

.setsConfigurator .navigator .setValue {
    border-bottom: none;
    color:#d01700;
}


.setsConfigurator .group .items.entry li.applianceItem:hover {
    background-color: rgba(65,64,79,0.1);
}

.setsConfigurator .group .items.entry li.applianceItem h3 {
    padding: 0;
    display:block;
    margin:0 auto;
    line-height:25px;
    overflow:hidden;
    vertical-align:middle;
    text-align:left;
    padding:5px 40px 5px 7px;
    background-color:rgba(0,0,0,0.7);
    color:#ffffff;
    font-size: 22px;
    font-weight: 900;
    line-height:20px;
}



.setsConfigurator .group .items.entry li.applianceItem .description {
    font-size:12px;
    font-weight:500;
    height:68%;
    padding:7px;
    max-width:60%;
    line-height:17px;
    overflow:hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.setsConfigurator .group .items.entry li.applianceItem .arrow {
    font-size:12px;
    height:15%;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    vertical-align:bottom;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    left: 10px;
 transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: easy-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.setsConfigurator .group .items.entry li.applianceItem .arrow:before {
    font-family:'icomoon';
    content:'\e652';
      transition-delay: 0s;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: easy-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:20px;
    color:#d01017;
    vertical-align:bottom;

}


.setsConfigurator .group .items.entry li.applianceItem h3:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.setsConfigurator .group .items.entry li.applianceItem:hover .arrow {
        transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    left:20px;
}

.setsConfigurator .group .items.entry li.applianceItem:hover .arrow:before {
    font-size:120px;
    color:#41404f;
    opacity: 0.1;
}


.setsConfigurator .group .items.summary h4 {
    font-size: 18px;
    border-bottom: none;
}

.setsConfigurator .group .items.summary textarea {
    width: 95%;
    border: 1px solid #c6c5ca;
    background-color: #f6f6f6;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    resize: none;
}

.setsConfigurator .group .column {
    width: 49%;
    float: left;
}

.setsConfigurator .group .column:last-child {

    float: right;
}

.setsConfigurator .group .items ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: table;
}

.setsConfigurator .navigator ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;

}

.setsConfigurator .navigator ul li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style-type: none;
    padding: 3px 0px;
}

.setsConfigurator .navigator ul li {
    color: #41404f;
    text-decoration: none;
    cursor: pointer;
}
.setsConfigurator .navigator ul li a {
    color:#41404f;
    font-weight:600;
    display:block;
    text-decoration:none;
}
.setsConfigurator .navigator ul li a:before {
    font-family:'icomoon';
    font-size:12px;
    content:'\e630';
    vertical-align:middle;
    color:#d01017;
}

.setsConfigurator .navigator ul li a:active,
.setsConfigurator .navigator ul li a:hover {
    color: #298FD4;
}

.setsConfigurator .navigator span.value {
    color: #d01017;
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.setsConfigurator .group .items ul li {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    list-style-type: none;
    padding: 0px;
    color: #000000;
    border-bottom: 1px solid #d9d9dc;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
}

.setsConfigurator .group .items:not(.summary) ul li {
    cursor: pointer;
}

.setsConfigurator .group .items.entry ul li {
    display: block;
    float: left;
/*    width: 23.7%;*/
    width: 49%;
    border: 1px solid #ccccd5;
    border-bottom-width: 2px;
    height: 200px;
    position: relative;
    padding: 0px;
    margin-right: 1%;
    margin-bottom: 1%;
}

.setsConfigurator .group .items.entry ul li {
    display: block;
    position: relative;
    color: #41404f;
}

.setsConfigurator .group .items.entry ul li img {
    margin: 0px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    z-index: 1;
}

.setsConfigurator .group .items ul li:last-child {
    border-bottom: none;
}

.setsConfigurator .group .items.entry ul li:last-child {
    border-bottom: 2px solid #ccccd5;
}

.setsConfigurator .group .items ul li.selected {
    font-weight: 700;
}

.setsConfigurator .group .items ul li {
    display: block;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    padding: 5px 0px;
}

.setsConfigurator .group .items ul li input[type="radio"] {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-left: 5px;
}

.setsConfigurator .group .items ul li > div {
    display: inline-block;
    padding-left: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 19px;
    overflow: hidden;
    width: 100%;
}

.setsConfigurator .group .items ul li :not(li.photoPicker) > div:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.setsConfigurator .group .items ul li:hover .image {
    border: 1px solid #D9D9DC;
}

.setsConfigurator .group .items ul li.selected .image {
    border: 1px solid #d9d9dc;
}

.setsConfigurator .group .items.photoPicker ul li input[type="radio"] {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    display: block;
}
.setsConfigurator .group .items.photoPicker ul li:hover .image {
       border: 1px solid #d9d9dc;
}

.setsConfigurator .group .items.summary ul li {
    padding: 5px 0px;
}

.setsConfigurator .group .items.summary ul li .label {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-left: 4px;
    font-weight: 700;
    color: #41404f;
    width: auto;
    border: none;
    width:90%;
}

.setsConfigurator .group .items.summary ul li:hover .label {
    border: none;
}

.setsConfigurator .group .items.summary ul li .component {
    font-size: 16px;
    display: block;
    font-weight: 400;
    color: #000000;
}


.setsConfigurator .group .items ul li .image {
    text-align:center;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #ffffff;
    width:54px;
}

.setsConfigurator .group .items.photoPickerBig ul li .image {
    display:inline-block;
    width:150px;
    text-align:center;
    background-color:#ffffff;
    max-height:150px;
}
.setsConfigurator .group .items.photoPickerBig ul li img {
    max-width:150px;
    height:auto;
    width:auto;
    vertical-align:middle;
    max-height:150px;
}

.setsConfigurator .group .items.photoPicker ul li img {
    vertical-align: middle;
    border: none;
}

.setsConfigurator .group .items ul li.applianceItem a {
    display:block;
    width:100%;
    height:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:5px;
    text-decoration:none;
    background-repeat:no-repeat;
    background-position:right 90%;
    background-origin:border-box;
}


.setsConfigurator .group .items ul li > div > span {
    color: #555555;
    padding-left: 6px;
    font-size: 11px;
    display: block;
    float: right;
    padding-top: 5px;
}


.setsConfigurator .group .items ul li > div.pic {
    width: auto;
}

.setsConfigurator .group .items .column ul li > div {
    display: block;
}

.setsConfigurator .group .items.withProductPhotos .column ul li > a div {
    width: 230px;
}

.setsConfigurator .group .items ul li div .label {
    vertical-align: middle;
}

.setsConfigurator .group .items ul li div .label .description {
    font-size:11px;
    font-weight:400;
    float:none;
    line-height:16px;
    text-align:left;
    display:block;
    padding:0;
    width:auto;
}

.setsConfigurator .group .items.summary ul li .label {
    vertical-align: middle;
    height: 100%;
    padding-left: 10px;
    font-weight: 700;
    color: #41404f;
}

.setsConfigurator .group .items.summary ul li .component {
    font-size: 16px;
    display: block;
    font-weight: 400;
    color: #000000;
}

.setsConfigurator .group .items ul li .image {
    display:inline-block;
    width:54px;
    text-align:center;
}
.setsConfigurator .group .items ul li img {
    vertical-align: middle;
    width: inherit;
}

.setsConfigurator .group .items.photoPicker ul li {
    padding: 5px;
    border-right: 1px solid #d9d9dc;
    border-bottom: 1px solid #d9d9dc;
    width: 19.95%;
    display: block;
    float: left;
    font-size:12px;
    height: 246px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.setsConfigurator .group .items ul li:hover {
    background-color: #f6f6f6;
}

.setsConfigurator .group .items.photoPicker ul li:last-child,
.setsConfigurator .group .items.photoPicker ul li:nth-child(5) {
    border-right: none;
}

.setsConfigurator .group .items.photoPicker ul li.selected {
    font-weight: 700;
}

.setsConfigurator .group .items.photoPicker ul li > div {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding:0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.setsConfigurator .group .items.photoPicker ul li input[type="radio"] {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 30px;
    margin-bottom:4px;
}


.setsConfigurator .group .items.photoPicker ul li .image {
    width:100%;
    text-align:center;
    background-color:#ffffff;
    border:1px solid #ffffff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    height:100px;
}



.setsConfigurator .group .items.photoPicker ul li.selected .image {
    border:1px solid #d9d9dc;
}

.setsConfigurator .group .items.photoPicker ul li img {
    vertical-align: middle;
    margin: 0 auto;
    display: block;
    width:auto;
    max-height:95%;
    max-width:100%;
}

.setsConfigurator .group .items.photoPicker ul li span {
    color: #555555;
    font-size: 11px;
    float: none;
    width:auto;
    text-align:center;
    padding-left: 0px;
    display: block;
}

.setsConfigurator .group .items.photoPicker ul li > div {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
}

.setsConfigurator .group .items ul li.selected {
    background-color: #e5f1f8;
}



.setsConfigurator .group .items ul li div span {
    color: #555555;
    font-size: 11px;
    padding-left: 6px;
    display: inline-block;
}

.stepsArrow {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: -1;
}

.stepsArrow span, .stepsArrow-border {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
}

.stepsArrow-top span, .stepsArrow-top-right span, .stepsArrow-top-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-top: 8px solid;
    bottom: -7px;
}

.stepsArrow-top .stepsArrow-border, .stepsArrow-top-right .stepsArrow-border, .stepsArrow-top-left .stepsArrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid;
    bottom: -7px;
}

.stepsArrow-bottom span, .stepsArrow-bottom-right span, .stepsArrow-bottom-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
    top: -7px;
}

.stepsArrow-bottom .stepsArrow-border, .stepsArrow-bottom-right .stepsArrow-border, .stepsArrow-bottom-left .stepsArrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom: 9px solid;
    top: -7px;
}

.stepsArrow-top span, .stepsArrow-top .stepsArrow-border, .stepsArrow-bottom span, .stepsArrow-bottom .stepsArrow-border {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.stepsArrow-top-left span, .stepsArrow-bottom-left span {
    left: 6px;
}

.stepsArrow-top-left .stepsArrow-border, .stepsArrow-bottom-left .stepsArrow-border {
    left: 5px;
}

.stepsArrow-top-right span, .stepsArrow-bottom-right span {
    right: 6px;
}

.stepsArrow-top-right .stepsArrow-border, .stepsArrow-bottom-right .stepsArrow-border {
    right: 5px;
}

.stepsArrow-left span, .stepsArrow-left .stepsArrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -7px;
}

.stepsArrow-left .stepsArrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-left: 9px solid;
    margin-top: -8px;
}

.stepsArrow-right span, .stepsArrow-right .stepsArrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 8px solid;
    top: 50%;
    margin-top: -7px;
    left: -7px;
}

.stepsArrow-right .stepsArrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-right: 9px solid;
    margin-top: -8px;
}

.setsConfigurator .navigator.middle {
    float: right;
    top: 435px;
    left: 935px;
    width: 217px;
    position: static;
}

.setsConfigurator .group .items ul li > div > label > span, .setsConfigurator .group .items :not(.subcategory .summary) span {
    color: #555555;
    display: inline-block;
    float: none;
    vertical-align:middle;
    font-size: 11px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right:0px;
    cursor: pointer;
    width:17%;
    text-align:right;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.setsConfigurator .group .items .column ul li > div > span {
    width:30%;
}

.setsConfigurator .group .items :not(.subcategory) label {
    cursor: pointer;
}

.setsConfigurator .group .items .subcategory h3 span {
    font-size: 20px;
    display: inline;
    float: none;
}

.setsConfigurator .group .items .subcategory {
    width: 48%;
    float: left;
    display: block;
    margin-left: 10px
}

.setsConfigurator .group .items.entry ul li a {
    color: #41404F;
}

.setsConfigurator .group .items ul li .label {
    color: inherit;
    display: inline-block;
    font-size:14px;
    width:70%;
    font-weight:700;
    padding: 3px 0;
    text-decoration: none;
    vertical-align: middle;
}

.setsConfigurator .group .items.photoPickerBig ul li .label {
    width:59%;
}

.setsConfigurator .group .subcategory .items ul li .label,
.setsConfigurator .group .column .items ul li .label {
    width:44%;
}

.setsConfigurator .group .items.textOnly .column ul li .label {
    width:60%;
}


.setsConfigurator .group .items .multiple ul li .label {
    width:78%;
}

.setsConfigurator .group .items .subcategory .multiple ul li .label {
    width:55%;
}


.setsConfigurator .group .items.photoPicker ul li .label {
    width:100%;
    height:98px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:hidden;
}

.setsConfigurator .groupC, .selectConfiguratorCategory {
    display: none;
}

#order_comments_limit {
    color: #555555;
    cursor: default;
    display: block;
    float: right;
    font-size: 12px;
    padding-right: 14px;
}

.setsConfigurator .upperButtons {
    width:100%;
    overflow:hidden;
    padding-bottom:20px;
}
.setsConfigurator .noImage {
    display: inline-block;
    width: 54px;
    text-align: center;
    vertical-align: middle;
    border: 0px none;
    height: 54px;
}

.setsConfigurator .subcategoryBreak {
    height: 0px;
    overflow: hidden;
    clear: both;
    border: 0;
}
