@charset "utf-8";
/* CSS Document */
a.turbokurier {
    background:#2b2e30 url(/images/pl-komputronik/turbokurier/arrow.png) no-repeat right bottom;
    display:block;
    border-radius:5px;
    padding:15px 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    color:#ffffff;
    text-decoration:none;
    overflow:hidden;
    width:100%;
    vertical-align:middle;
}
a.turbokurier::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
}

a.turbokurier .label {
    font-family:'Alegreya Sans', Arial,sans-serif;
    font-size:18px;
    font-weight:400;
    display:inline-block;
}

a.turbokurier .label span {
    font-weight:800;
    font-size:23px;
}

a.turbokurier .label .note {
    font-size:14px;
    color:#cccccc;
}

a.turbokurier.center {
    padding:0px 10px;
}
a.turbokurier.center img {
    display:inline-block;
    margin-left:7%;
}
a.turbokurier.center .label {
    padding-left:30px;
    text-align:center;
}

a.turbokurier.aside {
    padding:10px 15px 10px 20px;
    position:absolute;
    width:140px;
    right:0px;
    top:400px;
    border-radius:5px 0px 0px 5px;
    z-index:100;
    box-shadow: 0px 0px 6px rgba(43,46,48,0.7);
}
a.turbokurier.aside .label {
    font-size:15px;
}
a.turbokurier.aside .label span {
    font-size:18px;
}

.product.newFullView .addToCart2 {
    display:block;
    line-height:normal;
    height:55px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:center;
    color:#ffffff;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
    margin-right:0px;
    width:100%;
    text-decoration:none;
    float: none !important;
    border-radius: 0 !important;
    margin-top: 0px !important;
}

.product.newFullView .addToCart2.withExplication {
    height:65px;
}

.product.newFullView  .addToCart2.storeCollect::before,
.product.newFullView  .addToCart2.inPersonCollect::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}
.product.newFullView  .addToCart2 span {
    display:inline-block;
    max-width:75%;
    vertical-align:middle;
}

.product.newFullView  .addToCart2 span span {
    max-width:100%;
    display:inline-block;
    vertical-align:middle;
    font-weight: normal;
    text-transform: none;
    font-size: 90%;
}

.product.newFullView  a.addToCart2.storeCollect {
    background-color:#0097d5;
    color:#ffffff;
}
.product.newFullView  a.addToCart2.inPersonCollect {
    background-color:#0097d5;
    color:#ffffff;
}

.categoryHomeProducts .product.newFullView  a.addToCart2.storeCollect,
.categoryHomeProducts .product.newFullView  a.addToCart2.inPersonCollect {
    background-color:#C42172;
}

.product.newFullView  a.addToCart2:active,
.product.newFullView  a.addToCart2:hover {
    background-color:#0072bc;
}

.categoryHomeProducts .product.newFullView  a.addToCart2:active,
.categoryHomeProducts .product.newFullView  a.addToCart2:hover {
    background-color: #C42172;
}

.product.newFullView  .addToCart2.phoneOrder {
    line-height:normal;
    font-size:13px;
    height:auto;
    color:#404040;
    margin:6px 0px 0px 0px;
    padding:6px 0px;
    text-transform:uppercase;
}

.product.newFullView  .addToCart2.phoneOrder span {
    display:block;
    text-align:center;
    font-weight:normal;
    max-width:100%;
}

.productsContainer .product.newFullView .content .pricing {
    border:none;
}

.productsContainer.fullView .product {
    width:100%;
    overflow:hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0px 10px;
}

.productsContainer.fullView .product.bundle {
    overflow:visible;
    padding:0px;
}

.product.newFullView {
    font-family:Arial,Tahoma,Helvetica,sans-serif;
}

.product.newFullView .header {
    background-image:none;
}


.product.newFullView .header .nameAndDescriptionContainer {
    width:71.62346521145975%;
    display:inline-block;
    padding-top:10px;
}

.product.newFullView .header h1.name {
    font-size:22px;
    color:#454545;
    margin:0px;
    line-height:24px;
    width:100%;
    padding-bottom:5px;
}

.product.newFullView .header .shortDescription {
    font-size:11px;
    color:#454545;
    padding-bottom:5px;
    width:100%;
}

.product.newFullView .header .attributesContainer {
    float:left;
    height:auto;
    margin-top:0px;
}


.product.newFullView .header .vendorLogo {
    text-decoration:none;
    float: right;
    text-align:right;
    width:27%;
}
.product.newFullView .content {
    width:100%;
    overflow:hidden;
}
.productsContainer .product.newFullView .content .photo,
.productsContainer .product.newFullView .content .thumbnails {
    width:42.29195088676671%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:block;
    float:left;
    margin-top:0px;
}

.productsContainer .product.newFullView .content .thumbnails {
    height:100%;
}

.productsContainer .product.newFullView .content .thumbnails::before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.productsContainer .product.newFullView .content .addOns,
.productsContainer .product.newFullView .content .addToCartContainer1 {
    display:block;
    float:left;
    width:28.22223738062756%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.product.newFullView .content .prices,
.product.newFullView .content .addToCartContainer2,
.product.newFullView .content .phoneSection {
    display:block;
    float:right;
    width:28.78581173260573%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:right;
}

.product.newFullView .content .prices {
    width: 29%;
}
.product.newFullView .content .prices .innerPriceValue {
    display: inline-block;
}

.productsContainer .product.newFullView .instalment,
.productsContainer .product.newFullView .instalment a {
    font-size:12px;
    color:#626262;
    text-decoration:none;
}

.productsContainer .product.newFullView .instalment span {
    font-size:20px;
    font-weight:bold;
}
.productsContainer .product.newFullView .prices .internetPrice,
.productsContainer .product.newFullView .prices .retailPrice {
    padding-top: 5px;
}

.productsContainer .product.newFullView .prices .retailPrice {
    margin-bottom: 8px;
}

.productsContainer .product.newFullView .prices .label,
.productsContainer .product.newFullView .prices a.label {
    font-size:12px;
    color:#343434;
}

.productsContainer .product.newFullView .prices a.label {
    text-decoration:underline;
}

.productsContainer .product.newFullView .prices .internetPrice .price {
    font-size:30px;
    color:#343434;
    font-weight:bold;
}

.productsContainer .product.newFullView .prices .retailPrice .price {
    font-size:12px;
    color:#343434;
    font-weight:bold;
}

.productsContainer .product.newFullView .prices .internetPrice .price .oldPrice {
    font-size:18px;
    padding-right:6px;
    font-weight:normal;
    text-decoration:line-through;
}

.productsContainer .product.newFullView .prices .netPrice {
    font-size:11px;
    color:#626262;
}

.productsContainer .product .content .allPhotos {
    width:100%;
    float:none;
    text-align:center;
    margin:0px;
    margin-top:41px;
}

.productsContainer .product .content .allPhotos ul {
    display:inline-block;
    float:none;
    text-align:center;
}
.productsContainer .product .content .allPhotos ul li {
    display:inline-block;
    float:none;
}
.productsContainer .product .content .allPhotos a {
    display:block;
    float:none;
}
.productsContainer .product .content .allPhotos a.slideLeft,
.productsContainer .product .content .allPhotos a.slideRight {
    display:inline-block;
    float:none;
}

.productsContainer .product.newFullView .content .availability {
    background-color: #343434;
    color: #ffffff;
    text-align: center;
    float: right;
    width: 57.70804911323329%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    margin-top: 3px;
}
.productsContainer .product.newFullView .content .availability span:first-child {
    text-transform: uppercase;
    font-weight: bold;
}
.productsContainer .product.newFullView .content .availability .label span {
    display: block;
}

.productsContainer .product.newFullView .content .availability::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.productsContainer .product .content .availability .label {
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;
}
.product.newFullView .addToCartContainer2.disabled .addToCart2.storeCollect,
.product.newFullView .addToCartContainer1.disabled .addToCart2.inPersonCollect {
    background-color: #f5f5f5;
}

.productsContainer .product .content .limitedSale {
    width:57.70804911323329%;
    display:block;
    float:right;
    text-align:center;
    font-size:13px;
    color:#343434;
    padding-bottom: 8px;
}

.productsContainer .product .content .limitedSale span {
    font-size:14px;
    font-weight:bold;
}

.productsContainer .product .cartPromoContainer {
    background-color:#e3f9da;
    padding-top:20px;
    margin-bottom:8px;
    width:100%;
    overflow:hidden;
}

.productsContainer .product .cartPromoContainer .title {
    color:#499c27;
    font-size:14px;
    font-weight:bold;
    display:block;
    float:left;
    text-transform:uppercase;
    padding-left:10px;
    width:20%;
}

.productsContainer .product .cartPromoContainer .list {
    width:74.35197817189632%;
    float:right;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-left:6px solid #499c27;
    padding-bottom:10px;
}

.productsContainer .product .cartPromoContainer .list .entry {
    width:95%;
    padding-left:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    overflow:hidden;
}
.productsContainer .product .cartPromoContainer .list .entry + .entry {
    margin-top:20px;
}
.productsContainer .product .cartPromoContainer .list .entry .name {
    background-color:#499c27;
    float:left;
    padding:4px 30px 4px 10px;
    color:#ffffff;
    font-size:16px;
    font-weight:bold;
}

.productsContainer .product .cartPromoContainer .list .entry .description {
    width:100%;
    float:left;
    font-size:11px;
    padding-top:6px;
}

.productsContainer .product .cartPromoContainer .info {
    font-weight:bold;
    font-size:12px;
    padding-top:15px;
    padding-bottom:8px;
}

.productsContainer .product .cartPromoContainer .info::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:16px;
    color:#499c27;
    content:'\f05a';
    padding-left:10px;
    vertical-align:baseline;
}

.productsContainer .product.newFullView .instalment a::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:10px;
    color:#0072bc;
    content:'\f061';
    padding-left:5px;
}

.productsContainer .product.newFullView .infoOneHourReception {
    background-color: #F7FDF6;
    border: 2px solid #41B925;
    display: block;
    float: right;

    vertical-align: middle;
    width: 57.2988%;
    box-sizing: border-box;
    padding: 12px 10px;
    margin-top: 6px;
}

.productsContainer .product.newFullView .infoOneHourReception span {
    font-size: 13px;
    color: #309F16;
    max-width: 83%;
    box-sizing: border-box;
    padding-left: 10px;
}

.productsContainer .product.newFullView .infoOneHourReception img, .productsContainer .product.newFullView .infoOneHourReception span {
    display: inline-block;
    vertical-align: middle;
}

.productsContainer .product.newFullView .infoOneHourReception span a {
    color: #EF1010;
    font-weight: bold;
}

.categoryHomeProducts .productsContainer .product.newFullView .instalment a::after {
    color:#C42172;
}

.topMenuContainerWrapper {
    display:block;
}

.productsContainer .product .content .allPhotos {
    height:54px;
    width:98%;
    display:inline-block;
    line-height:normal;
    vertical-align:middle;
}

.productsContainer .product .content .allPhotos ul {
    line-height:normal;
    vertical-align:middle;
}

.productsContainer .product .content .allPhotos ul li {
    margin-right:0px;
}
.productsContainer .product .content .allPhotos a {
    line-height:52px;
    font-size:14px;
}

.productsContainer .product .content .allPhotos::before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.productsContainer .product .content .allPhotos a.slideLeft,
.productsContainer .product .content .allPhotos a.slideRight {
    background-image:none;
    height:100%;
    vertical-align:middle;
    width:20px;
}

.productsContainer .product .content .allPhotos a.slideLeft::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:16px;
    display:block;
    height:100%;
    vertical-align:middle;
    color:#0072bc;
    content:'\f053';
    padding-right:5px;
}

.productsContainer .product .content .allPhotos a.slideRight::before {
    font-family:'komputronik-icons-list-fullview';
    font-size:16px;
    vertical-align:middle;
    color:#0072bc;
    content:'\f054';
}

.product.newFullView .addToCart2.storeCollect::after, .product.newFullView .addToCart2.inPersonCollect::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:16px;
    padding-left:6px;
    vertical-align:middle;
    color:#ffffff;
    content:'\f061';
}

.productsContainer .product .content.options {
    margin-left:0px;
    margin-top:15px;
    line-height:20px;
    padding-bottom:8px;
}

.productsContainer .product .content.options ul {
    display:block;
    float:left;
    margin:0;
    padding:0;
}
.productsContainer .product .content.options ul li {
    display:block;
    float:left;
    padding:0px 10px;
    border-right:1px solid #e6e6e6;
}

.productsContainer .product .content.options ul li:last-child {
    border-right:none;
}

.productsContainer .product a.optionButton {
    font-size:12px;
    color:#454545;
    text-decoration:none;
}

.productsContainer a.optionButton::after {
    font-family:'komputronik-icons-list-fullview';
    font-size:10px;
    padding-left:6px;
    color:#0072bc;
    content:'\f061';
}
.categoryHomeProducts .productsContainer a.optionButton::after {
    color:#C42172;
}

.productsContainer a.optionButton.checkbox::after {
    content:'\ea53';
    font-size:12px;
}

.productsContainer a.optionButton.checkbox.active::after {
    content:'\ea52';
}

.productsContainer .product a.optionButton.productDetails {
    float:right;
}
.productsContainer .product.newFullView .options {
    position: static !important;
    bottom: 0px !important;
}
.productsContainer .product.newFullView .content {
    padding-top: 0px !important;
}
.productsContainer .optionInputButton label {
    color: #454545;
    font-size: 12px !important;
}
.productsContainer .optionInputButton input {
    border: 1px solid #0072bc;
    vertical-align: middle;
}
.productsContainer .product .content .availability span a {
    text-decoration: none;
    font-weight: normal;
    color: inherit;
}

.phoneSection {
    padding-top: 20px;
}
.productsContainer .product .content.thumbnailsAndAddToCartContainer {
    padding-bottom: 8px;
}
.product.fullView .bundledProduct .addToCart2 {
    width: 200px;
}
.product.fullView .bundledProduct .addToCart2Container .addToCart2 {
    font-size: 12px !important;
    line-height: 16px !important;
    margin-right: 0;
    padding: 6px;
    box-sizing: border-box;
    float: right;
    font-family: Arial,Tahoma,Helvetica,sans-serif;
}
.addToCartContainerInBundle {
    width: 50%;
    float: right;
}
.productsContainer .product.newFullView .notToBuyStatus {
    margin-top: 10px;
}
.productsContainer.fullView.bundledProducts .product {
    padding: 0 !important;
}
.productsContainer.fullView .product.fullView.details {
    padding: 0px 8px;;
}

.productsContainer .product .vendorLogo a,
.productsContainer .product .vendorLogo a:hover,
.productsContainer .product .vendorLogo a:visited {
    text-decoration: none;
    color: #000;
}

.productsContainer.fullView .product.fullView.bundle .header {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 4px;
}

.productsContainer.fullView .product.fullView.bundle .content {
    padding-top: 10px;
    padding-bottom: 8px;
}

.productsContainer.fullView .product.fullView.bundle .content .internetPrice {
    text-align: center;
}

.productsContainer.fullView .product.fullView.bundle .cartPromoContainer {
    width: 97.8%;
    margin: 0 auto 8px auto;
    padding-top: 0px;
}

.productsContainer.fullView .product.fullView.bundle .cartPromoContainer .info {
    padding-top: 0px;
    padding-bottom: 0px;
}

.productsContainer.fullView.bundledProducts .product .header {
    border-bottom: 1px solid #dddddd;
}

.productsContainer.fullView.bundledProducts .product .header,
.productsContainer.fullView .product.fullView.details .header {
    border-bottom: 1px solid #dddddd;
}

.sideColumn .findSimilarProductsContainer .groupContainer li .similarFeature a,
.productsContainer .product.fullView .details .tabContent .specification a,
.productsContainer .product .content .spec .rowContainer a {
    color: #0072bc;
    text-decoration: none;
}
