/* podstawowe style do wishlisty */
.wishListFont {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: normal;
}
.wishListLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: #3e3e3e;
    display: none;
}
.wishListLayer div.closePopup {
    text-align:right;
}
.wishListLayer .wishListApla {
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.wishListLayer .contentContainer {
    position: relative;
    background-color: #fff;
    z-index: 2;
    border-radius: 3px;
    padding: 10px;
    width: 600px;
    margin: 200px auto;
}
.wishListLayer .contentContainer .content {
    margin: 10px 50px;
}
.wishListLayer .contentContainer .content .flash-message {
    width: auto;
    line-height: normal;
}
.wishListLayer .contentContainer .content .titleText {
    font-size: 24px;
    color: #000;
}
.wishListLayer .contentContainer .content .titleTextSmaller {
    font-size: 20px;
    color: #000;
}
.wishListLayer .contentContainer .content .regularText {
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 6px;
}
.wishListLayer .contentContainer .content input[type=text], .wishListLayer .contentContainer .content select {
    border: solid 1px #a7a7a7;
    background-color: #efefef;
    color: #3f3f3f;
    padding: 3px;
}
.wishListLayer .contentContainer .content input[type=text] {
    width: 492px;
}
.wishListLayer .contentContainer .content select {
    width: 500px;
}
.wishListLayer .contentContainer .content .buttons {
    text-align: center;
    margin-top: 30px;
}
.wishListLayer .contentContainer .content .buttons button {
    margin-top: 0px;
    padding: 5px 30px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.wishListLayer .contentContainer .content .buttons button[type=button] {
    background-color: #aaaaaa;
}
.wishListLayer .contentContainer .content .buttons button[type=submit] {
    background-color: #0072bc;
}
.wishListLayer .contentContainer .content .titleText .invitationMail {
    font-style: italic;
}
.wishListLayer .contentContainer .content .titleText .wishlistName {
    color: #0072bc;
}
.wishListLayer .contentContainer .content .invitationMessage {
    text-align: center;
    margin-bottom: 0px !important;
}
.widerWishlist {
    width: 600px !important;
}

.productListFullView .btnAddToWishListBigger div {
    display: block;
    font-size: 19px;
    height: 40px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 14px !important;
    width: 223px;
}
.productListFullView .btnAddToWishList, .product.fullView .bundledProduct .btnAddToWishList {
    background-color: #ffcf00;
    border: 1px solid #ffba00;
    border-radius: 5px;
    color: #000;
    padding-left: 15px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    height:20px;
    line-height:20px;
    text-decoration:none;
}
.productListFullView a.btnAddToWishList:hover, .productListFullView a.btnAddToWishList:active,
.product.fullView .bundledProduct a.btnAddToWishList:hover, .product.fullView .bundledProduct a.btnAddToWishList:active {
    background-color:#232323;
    color:#ffffff;
    border-color:#232323;
}
.productListFullView .btnAddToWishList:hover div, .product.fullView .bundledProduct .btnAddToWishList:hover div {
    background-color: #ffcf00 !important;
    color: #777 !important;
}
.productListFullView div.mainColumnContainer.productsListContainer div.productsContainer div.product div.header a.btnAddToWishList.wishListFont div {
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}
.productListFullView .productsContainer .product .btnAddToWishList {
    float:left;
    margin-top:8px;
    margin-left:8px;
}

.fullView .btnAddToWishListBigger {
    float: left;
    margin-left: 22px;
}

.fullView .btnAddToWishListBigger span {
    width: 226px;
    height: 40px;
    font-size: 19px;
    padding: 14px 0px 0px 0px !important;
    display: block;
}

.fullView .btnAddToWishList span {
    vertical-align: middle;
    text-align: center;
    padding: 3px 15px 3px 15px;
    border: 1px solid #ffcf00;
    border-radius: 3px;
    color: #000;
    background: #f7ff89;
    background: -moz-linear-gradient(top, #f7ff89 1%, #fcc100 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f7ff89), color-stop(100%,#fcc100));
    background: -webkit-linear-gradient(top, #f7ff89 1%,#fcc100 100%);
    background: -o-linear-gradient(top, #f7ff89 1%,#fcc100 100%);
    background: -ms-linear-gradient(top, #f7ff89 1%,#fcc100 100%);
    background: linear-gradient(to bottom, #f7ff89 1%,#fcc100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ff89', endColorstr='#fcc100',GradientType=0 );
}
.fullView .bundledProduct .btnAddToWishList span {
    background: none;
    padding: 0px;
    border: none;
}

.fullView .btnAddToWishList:link, .btnAddToWishList:hover, .btnAddToWishList:active, .btnAddToWishList:visited {
    text-decoration: none;
}

.fullView .btnAddToWishList:hover span {
    background-color: #000000!important;
    color: #ffffff !important;
}
.fullView .bundledProduct .btnAddToWishList:hover span {
    color: none;
    background-color: none;
}
.productBox .btnAddToWishList, .compactView .btnAddToWishList {
    display: none;
}

/* przycisk - karta produktu */
div.mainColumnContainer.productFullViewContainer div.productsContainer div.product div.header h1.name {
    /*width:auto !important;*/
}

div.mainColumnContainer.productFullViewContainer div.productsContainer div.product div.header a.btnAddToWishList.wishListFont span {
    margin: 10px !important;
}

/* przycisk - lista produktow */
div.mainColumnContainer.productsListContainer div.productsContainer div.product div.header div.name {
    /*width:auto !important;*/
}

div.mainColumnContainer.productsListContainer div.productsContainer div.product div.header a.btnAddToWishList.wishListFont span {
    margin: 10px !important;
}

#wishlistContainer .customerWishlists {
    line-height: normal;
}
#wishlistContainer .customerWishlists .newWishlistButtonContainer {
    float: right;
}
#createWishlistWithoutProduct {
    text-decoration: none !important;
}
#createWishlistWithoutProduct > div {
    margin-top: 10px;
    line-height: normal;
    background-color: #0072bc;
    padding: 5px 30px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
#wishlistWithoutProductPopup {
    display: none;
}
.customerWishlist .wishlistHeader {
    padding-bottom:5px;
    border-bottom: solid 2px #0072bc;
}
.customerWishlist .wishlistHeader .wishlistName{
    color:#0072bc;
    font-size:22px;
    margin-bottom:5px;
}
.customerWishlist .deliveryContainer {
    margin-top:15px;
}
.customerWishlist .deliveryContainer .receiverBox {
    float:left;
    display:table;
    min-width:85px;
    height:30px;
}
.customerWishlist .deliveryContainer .receiverBox .receiverNameContainer {
    vertical-align:middle;
    display:table-cell;
}
.customerWishlist .deliveryContainer .receiverButtonContainer {
    float:left;
    margin-left:15px;
    margin-top: 4px;
}
.customerWishlist .deliveryContainer .receiverButtonContainer a {
    text-decoration:none!important;
}
.customerWishlist .deliveryContainer .receiverButtonContainer a > div {
    line-height:normal;
    background-color: #0072bc;
    border:0;
    padding:5px;
    border-radius: 3px;
    color:#fff;
    font-weight:bold;
    text-transform: uppercase;
}
.customerWishlist .productsContainer {
    margin-top:5px;
    overflow: hidden;
}
.customerWishlist .productsContainer .productWishList {
    margin-top: 30px;
}
.customerWishlist .productsContainer .productWishList div.outer {
    float: left;
    border-radius: 3px;
    border: solid 1px #eaeaea;
    text-align: center;
    padding: 5px;
    margin: 2px;
    width:130px;
}
.customerWishlist .productsContainer .productWishList div.outer > a {
    text-decoration:none;
    height:100px;
    display:block;
}
.customerWishlist .productsContainer .productWishList div.outer img.photo, .productWishListView div.outer img.photo {
    max-width: 120px;
    max-height: 100px;
}
.customerWishlist .productsContainer .productWishList div.outer div.title {
    margin: 5px 0;
    font-size: 14px;
    height: 65px;
    overflow: hidden;
}
.customerWishlist .productsContainer .productWishList div.outer div.title a {
    text-decoration: none;
    color: #000;
}
.customerWishlist .productsContainer .productWishList div.outer .status {
    background-repeat: no-repeat;
    background-position: top left;
    margin: auto auto;
    width: 60px;
    height: 30px;
    padding-top: 3px;
    font-size: 14px;
    text-transform: uppercase;
}
.customerWishlist .productsContainer .productWishList div.outer .status.success {
    background-image: url(/images/pl-komputronik/layout/ico-kupiony.png);
    color: #189205;
    padding-left: 20px;
}
.customerWishlist .productsContainer .productWishList div.outer .status.toBuy {
    background-image: url(/images/pl-komputronik/layout/ico-usun.png);
    color: #cf0b02;
    padding-left: 6px;
    cursor: pointer;
}
.productWishListView div.outer div.title {
    height: 78px;
    overflow: hidden;
}
.productWishListView div.outer div.price {
    height: 43px;
    display: block;
}
.productWishListView div.outer a.photoLink {
    height: 100px;
    display: block;
    text-decoration:none;
}
.productWishListView div.outer.notBuyable {
    background-color: #f5f5f5;
}
.productWishListView div.outer div.price.notBuyable {
    color: #888888;
}
.productWishListView div.outer .status.notBuyable {
    background-color: #999999;
    background-image: none;
    background-position: 3px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    width: 85px;
    text-align:left;
    height: 20px;
    margin-bottom:10px
}

.invitationFormContainer {
    margin-top: 20px;
}
.invitationFormContainer input[name=invitation_email] {
    margin-left:3px;
    border-radius:0;
    border:solid 1px #5e5e5e;
    padding:5px;
    color: #5e5e5e;
    width:250px;
}
.invitationFormContainer button[type=submit] {
    background-color: #0072bc;
    padding: 5px;
    border:0;
    border-radius: 3px;
    color:#fff;
    text-transform: uppercase;
}
.invitationListContainer .header {
    margin: 10px 0px;
    font-size:20px;
    color:#3e3e3e
}
.invitationListContainer .invitationsContainer {
    margin: 10px 0;
}
.invitationListContainer .invitationsContainer h3 {
    margin-left: 8px;
}
.invitationListContainer .wishlistInvitationNotification {
    margin-left: 8px;
    margin-top: 5px;
}
.sendWishlistText {
    margin: 20px 0px 10px 4px;
    font-size: 20px;
    color: #3e3e3e;
}

div.invited {
    float: left;
    border-radius: 3px;
    border: solid 1px #eaeaea;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: 5px 0px;
    padding-left: 25px;
    margin: 3px;
}
div.invited.success {
    background-image: url(/images/pl-komputronik/layout/ico-kupiony.png);
}
div.invited.fail {
    background-image: url(/images/pl-komputronik/layout/ico-fail.png);
    background-position: 5px 5px;
}

.receiverSelectContainer {
    display: none;
}
div.info.success {
    color: #4BD918;
    margin: 9px;
    float: left;
}
.cb {
    clear:both;
}
.fr {
    float:right;
}
.no-border {
    border: 0!important;
}
.db {
    display:block;
}
#wishlistPopupDialog {
    text-align:center;
}
#wishlistPopupError {
    display:none;
}
