body.kaliningrad {
  margin-top: 220px;
}
.kaliningrad .kbg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(/images/adv/bg1.jpg) no-repeat no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  display: block;
  top: 0px;
}
.kaliningrad .bg2 {
  background: url(/images/adv/bg2.jpg) no-repeat no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.kaliningrad .bg3 {
  background: url(/images/adv/bg3.jpg) no-repeat no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.kaliningrad .bg4 {
  background: url(/images/adv/bg4.jpg) no-repeat no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.kaliningrad .bg5 {
  background: url(/images/adv/bg5.jpg) no-repeat no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.kaliningrad .bg6 {
  background: url(/images/adv/bg6.jpg) no-repeat no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.kaliningrad .bg7 {
  background: url(/images/adv/bg7.jpg) no-repeat no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.kaliningrad #topdate, .kaliningrad #right div *, .kaliningrad #main .shadow, .kaliningrad #copyrights, .kaliningrad #topor {
  display: none;
}
.kaliningrad #vdelimiter {
   background: url(/images/adv/shadow.png) no-repeat 0px 20px;
}
.kaliningrad #right div .kauthor {
  display: block; position: fixed; width: 180px; height: 30px; font-size: 10px; font-family: Tahoma, Arial, sans-serif; bottom: 20px; color: #fff;
}
.main-container {
  max-width: 1280px;
  margin: 0px auto;
  position: relative;
}
.main-container .menu {
  max-width: 1020px;
}
.left-banner {
	position: fixed;
	left: 0px;
	top: 40px;
	background: url(/images/adv/toporArmy-_left.jpg) no-repeat;
	width: 747px;
	height: 602px;
	z-index: -1;
}
.left-banner.tank {
	background: url(/images/adv/toporArmy_left01.jpg) no-repeat;
	width: 1114px;
	height: 818px;
	top: 0px;
}
.left-banner-adv {
	position: absolute;
	top: 29px;
	left: -140px;
	width: 120px;
	height: 600px;
}
ins { text-decoration: none; }
a.lnk{ text-decoration:none }
a.lnk:hover{ text-decoration:underline }
#dni-num-1{
margin-bottom:8px;
font-weight:bold;
}
.import-wrapper{
margin-top:15px;
}
.import,.new-block{
border-collapse:collapse;
}
.new-block{
margin-bottom:15px;
}
.new-block td{
padding-bottom:3px;
font-size:13px;
line-height: 15px;
}
.new-block td.l{
padding-right:5px;
}
.new-block td a{
	text-decoration: none;
}
.new-block td a:hover{
	text-decoration: underline;
}
.import img,.new-block img{
filter:gray(enabled=1);
}
.import td{
padding-bottom:7px;
vertical-align:top;
}
.import td,.import a{
font:11px/100% Tahoma;
}
.import-wrapper table{
border-collapse:collapse;
}
.import-wrapper table td{
padding:0px;
}
.y{
font:10px/100% Tahoma;
text-decoration:none;
}
.uz{
font-size:13px;
font-weight:bold;
}
html,body{
height:100%;
}
#error-msg{
margin-left:35%;
margin-right:20%;
width:45%;
}
/*div.text*/ table.tbl{
border:1px solid #e2e2e2;
}
/*div.text*/ table.tbl td{
padding:5px;
border:1px solid #e2e2e2;
}
/*div.text table{
border:1px solid #e2e2e2;
}
div.text table td{
padding:10px;
border:1px solid #e2e2e2;
}
#related td,.imgleft,.imgright,.imgcenter,.imgleft td,.imgright td,.imgcenter td{
border:none !important
}
#related td,.imgleft td,.imgright td,.imgcenter td{
padding:0px !important
}*/
#news-top{
margin:0px;
padding:0px;
}
#news-top li{
margin-left:15px;
margin-bottom:3px;
}
#related,#vote{
float:right;
clear: right;
width:30%;
/*padding:0 0 10px 0px;*/
margin: 0px 10px 10px 20px;
}
#related{
	width: 240px !important;
}

#related h3 a{
text-decoration: none;
}

#vote{
background:#F0F0F0;
margin-left:10px;
}
#vote .more{
margin-right:10px;
}
#vote .vote .title{
margin-right:10px;
}
#vote .vote{
margin-left:10px;
}
ul#related-links{
margin-left:0px;
padding-left:0px;
}
ul#related-links li{
margin-left:20px;
font:normal 14px/16px "Times New Roman", Times, serif !important;
margin-bottom:6px;
}
hr.lenta-hr{
/*margin-top:15px;
margin-bottom:15px;*/
}
dl.lenta{
margin-top:10px;
margin-bottom:10px;
}
dl.lenta dt span#after-article-dni{
/*font-size:12px;
padding:2px 5px;*/
font-size:13px;
background:#FFF;
color:black;
}
#right_td dl.lenta {
	display: none;
}
dl.lenta2{
margin-top:3px;
margin-bottom:12px;
}
dl.lenta2 dt span#after-article-dni{
/*font-size:12px;
padding:2px 5px;*/
font-size:13px;
background:#FFF;
color:black;
}
#fin-usd-graph{
margin-top:5px
}
#article-action-links{
border:0px;
border-top:1px solid #000000;
border-collapse:collapse;
margin-top:15px;
margin-bottom:15px;
}
#article-action-links td{
background:#e2e2e2;
padding:8px 15px 8px 15px;
white-space:nowrap;
}
#article-action-links td.l{
text-align:left;
width:25%;
}
#article-action-links td.m{
text-align:center;
width:50%;
}
#article-action-links td.r{
text-align:right;
width:25%;
}
#page-nav{
/*display:none;*/
background:#F0F0F0;
padding:10px;
}

div.stats{
display:inline;
height:0px;
left:-1000px;
margin:0px;
padding:0px;
position:absolute;
top:-1000px;
visibility:hidden;
width:0px;
}

body { padding: 0; margin: 0; font-family: "Times New Roman", Times, serif; color: #000; background: #e2e2e2 url(images/bg.gif)}

a { color: #000;  }
a:visited { color: #000; }

hr { display: block; border: 0; margin: 0; color: #000; background-color: #000; width: 100%; height: 1px; margin: 10px 0;}
html>body hr { margin: 1em 0; }

form { margin: 0; }
input, textarea { font-size: 11px; }
table, img { border: 0; }

.clear { clear: both; height: 0px; font: 0px; overflow: hidden; }
.mbg { background-color: #fff !important; }

/* ---------------------------------------------------------------------------- */

#main { vertical-align: top; }
#vdelimiter { background: transparent url(images/sh1.gif) no-repeat 0px 103px; }
#vdelimiter div { width: 20px; }
#right { width: 240px; vertical-align: top; min-width: 240px; position: relative; z-index: 1000;}

#toptools { float: right; padding: 7px 0 8px 0; }
#toptools, #topdate, #toplinks, #toptools a, #toptools a:visited, #toplinks a, #toplinks a:visited  { font-family: Tahoma, Arial, sans-serif; font-size: 10px; color: #656565; }
#topdate { float:left; padding: 7px 0 8px 20px; }
#toplinks { padding: 7px 0 8px 0; }

#top { background: #fff url(images/sh2.jpg) no-repeat top right; padding: 0 20px 0 15px; clear: both; }
#top form { padding-top: 10px; }
#top form .input { width: 97%; font-size: 11px; font-family: Tahoma, Arial, sans-serif; border: 1px solid #505050; background-color: #fff; }
#top form .input { font-size: 11px; font-family: Tahoma, Arial, sans-serif; }
#top form a { font-family: Tahoma, Arial, sans-serif; font-size: 9px; }
#top .plus18 { background: url("/images/18+.gif") no-repeat scroll 0 0 transparent; float: right; height: 26px; width: 56px; margin-top: -26px; margin-right: -5px; }

/*
#main .menu { background: #fff; padding: 0 20px 0 15px; }
#main .menui { width: 100%; border-top: 3px solid #000; }

#main .menui td {vertical-align: top; font-size: 11px; padding-top: 7px; padding-bottom: 0; line-height: 100%; font-family: Tahoma, Arial, sans-serif; }
#main .menui td a {text-decoration: none; }
#main .menui td p {margin: 0 0 5px; font-size: 11px; font-family: Tahoma, Arial, sans-serif; }
#main .menui td .last {font-weight: bold; font-size: 11px; font-family: Tahoma, Arial, sans-serif; }
#main .menui div{
	margin: 0px;
	padding: 0px;
}
*/

.hot2{padding: 10px 5px 10px 10px; background-color: #f0f0f0; margin-bottom: 0px;}
.hot2 td{vertical-align: top; font:normal 14px/16px "Times New Roman", Times, serif !important;}
.hot2 img{ margin-top: 5px; margin-right: 10px;}

#main .shadow { height: 20px; background: url(images/sh4.gif) no-repeat top right; }
#main .hot { padding: 0 5px 0px 10px; background-color:#f0f0f0; margin-bottom: 0px;}
#main .hot2 { padding: 10px 5px 10px 10px; background-color:#f0f0f0; margin-bottom: 0px;}
#main .hot2 img{ margin-top: 5px; margin-right: 10px;}
#main .light { background: #d8d8b2 !important; }
#main .hoti { width: 100%; }
#main .hot td { vertical-align: top; padding: 10px 7px 0 0; font-size: 10px; font-family: Tahoma, Arial, sans-serif; }
#main .hot td img { padding: 2px; }
#main .hot td.help { vertical-align: top; padding: 0px 7px 0 0; font-size: 10px; font-family: Tahoma, Arial, sans-serif; line-height: 120%; padding: 5px 0;}
#main .hot2 td { vertical-align: top; font:normal 14px/16px "Times New Roman", Times, serif !important; }
#review { padding: 0 20px 0 15px; background: #fff; }
#review .reviewi { width: 100%; }
#reviewarr { font-size: 14px; }
#review table.content { border: 2px solid #c2c2c2; background-color:#f5f5f5}

#main .lead { font-size: 85%; color: #505050; }
#main .extra { color: #505050; font-family: Tahoma, Arial, sans-serif; font-size: 10px; }

#main .comments { padding: 15px; background: #f0f0f0; font-size: 105%; line-height: 130%; min-height: 120px; }
#main .comments img { float: right; margin: 0 0 10px 10px; }
#main .comments .ctitle { font-weight: bold; margin-bottom: 1em; }

#rightl { height: 100px; }
#rightc { padding: 0 0 5px 15px; background: #f8f8e2; }
#rightc .menu { padding: 7px 10px 10px 15px; background: #d8d8b2; border-top: 3px solid #000; }
#rightc .menu a, #rightc .menu a:visited { font-size: 15px; font-weight: bold; }

#right .shadow { height: 20px; overflow: hidden; background: #e2e2e2 url(images/sh3.gif) no-repeat; margin-top: -4px; }

.redact { background: #f0f1f3 url(images/sh5.gif) no-repeat; background-position:bottom left; }

img.border { border: 1px solid #000; }

#right .hot { margin-bottom: 10px; }
#right .hot td { vertical-align: top; padding: 15px 10px 0 0; font-size: 75%; line-height: 115%; }
#right .hot a { font-size: 15px; line-height: 17px; font-weight: bold; text-decoration: none; }
#right .hot a:hover { text-decoration: underline; }

.short { padding: 10px 15px 15px 15px; margin-bottom: 10px; font-size: 80%; color: #fff; }
.short div { margin-bottom: 5px; }
.short a, .short a:visited { color: #fff; font-family: Georgia, "Times New Roman", Times, serif; font-size: 19px; line-height: 18px; font-weight: bold; text-decoration: none; }
.short a:hover { text-decoration: underline; }

/*#copyrights { font-family: Tahoma, Arial, sans-serif; font-size: 10px; }
#copyrights .left { padding: 0 0 15px 15px; }
#copyrights .middle { float: right; padding: 0; margin-right:20em; }
#copyrights .right { float: right; text-align: right; padding-right: 260px; }
#copyrights .bolotov { text-decoration: none; background-color: #555A6E; color: #fff; font-weight: bold; }
#copyrights .bolotov:visited { color: #fff; }*/

#copyrights{
border:none;
border-collapse:collapse;
}
#copyrights.up {
	position: fixed;
	bottom: 0px;
	background-color: #e2e2e2;
	max-width: 1280px;
	width: 100%;
	z-index: 1;
}
#adsense {
	display: none;	
}
#bottom_ads {
background: #E2E2E2 url(/images/anons/728x90-bg.jpg) repeat-x right top;
height: 120px;
position: relative;
width: 100%;
}
	
#copyrights td.left{
padding:0 0 15px 15px;
width:33%;
}
#copyrights td.middle{
text-align:center;
width:33%;
}
#copyrights td.right{
padding:0 0 15px 15px !important;;
text-align:right;
width:33%;
}
#copyrights td{
font:normal 10px Tahoma,Arial,sans-serif;
padding:0px;
}
#copyrights .bolotov{
background:#555A6E;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
#copyrights .bolotov:visited{
color:#FFFFFF;
}

#hot-news h4, h3 { display: block; background: #656565; color: #fff; margin: 0 0 7px 0; padding: 7px 0 8px 15px; font-family: Tahoma, Arial, sans-serif; font-size: 10px; font-weight: bold; text-transform: uppercase; line-height: 100%; }
.author-spec{
background:#656565;
color:#FFFFFF;
font:10px Tahoma,Arial,sans-serif;
margin:0;
margin-top:-7px;
margin-bottom:7px;
padding:15px;
padding-top:0px;
}
h3 a, h3 a:visited { color: #fff; }
h3.nomargin { margin: 0 !important; }
h3.red { background: #9F272A; }
h3.green { background: #30705C; }
h3.blue { background: #369; }
h3.ligth { background: #919184; }

h3.tabs {margin: 0 0 7px; }
h3.tabs span{background: #656565; padding: 1px 1px 1px 1px;font-weight: bold;line-height: 100%;text-transform: uppercase;font-size: 10px;} 
h3.tabs span.active{background: #FFFFFF; margin-top: 6px}
h3.tabs span a{color: #FFFFFF; }
h3.tabs span.active a{color: #656565;}
h3.tabs #photoTab{margin-left: 14px;}

dl.lenta dt { display: block; margin: 0 0 7px 0; padding: 0; }
dl.lenta dt { font-weight: bold; font-size: 90%; line-height: 100%; }
dl.lenta dt a, dl.lenta dt a:visited {  text-decoration: none; }
dl.lenta dt a:hover {  text-decoration: underline; }
dl.lenta dd a, dl.lenta dd a:visited {  text-decoration: none; }
dl.lenta dd a:hover {  text-decoration: underline; }
dl.lenta dt span { color: #fff; background: #656565; font-family: Arial, Tahoma, sans-serif; font-size: 11px; white-space: nowrap; font-weight: bold; }
dl.lenta dd { display: block; margin: 0 0 1em 0; font-size: 80%; line-height: 110%; }

dl.lenta2 dt { display: block; margin: 0 0 7px 0; padding: 0; }
dl.lenta2 dt { font-weight: bold; font-size: 90%; line-height: 100%; }
dl.lenta2 dt img {margin-bottom:8px;}
dl.lenta2 dt a, dl.lenta2 dt a:visited {  text-decoration: none; }
dl.lenta2 dt a:hover {  text-decoration: underline; }
dl.lenta2 dd a, dl.lenta2 dd a:visited {  text-decoration: none; }
dl.lenta2 dd a:hover {  text-decoration: underline; }
dl.lenta2 dt span { color: #fff; background: #656565; font-family: Arial, Tahoma, sans-serif; font-size: 11px; white-space: nowrap; font-weight: bold; }
dl.lenta2 dd { display: block; margin: 0 0 1em 0; font-size: 90%; line-height: 110%; }

.mainnews
{
	margin-bottom: 1em;
}

.mainnews h1 { display: block; margin: 0; margin-bottom: 5px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 32px; line-height: 32px; font-weight: bold; }
.mainnews h1 a, .mainnews h1 a:visited { text-decoration: none; }
.mainnews h1 a:hover { text-decoration:underline; }
.mainnews .lead { font-size: 85%; color: #505050; text-decoration: none; }
.mainnews .text { font-size: 90%; line-height: 130%; text-decoration: none; }
.mainnews .description { padding: 0 4px; color:#999; font-family: Arial, Tahoma, sans-serif; font-size: 10px; }
.mainnews .description span { white-space: nowrap; }
html>body .mainnews .description span { white-space: normal; }

.hotnews { margin-bottom: 1em; }
.hotnews .title { font-weight: bold; font-size: 105%; line-height: 100%; }
.hotnews .title a, .hotnews .title a:visited { text-decoration: none; }
.hotnews .leadh { font-size: 75%; color: #505050; line-height: 110%; margin-bottom: 7px; }
.hotnews .text { font-size: 80%; line-height:110%; margin-top: 7px; margin-bottom: 7px; }

.othnews { border-top: 2px solid #000; clear: both; margin-bottom: 16px; }
#othnewsanother { border: none; }
.thick { border: 0 !important; }
.thick .divider { border-top: 1px solid #000; margin-right: 150px; height: 1px; font: 1px; overflow: hidden; }
.othnews table { width: 1%; float: right; margin: 0px 0 7px 7px; }
.othnews table h5 { display: block; color: #000; font-size: 13px; font-weight: bold; padding: 4px 10px 6px 10px; background-color: #e2e2e2; color: #808080; text-align: center; margin: 0 0 0 0; }
.othnews table td div { padding: 4px 0px 4px 0; color: #808080; font-family: Tahoma, Arial, sans-serif; font-size: 10px; line-height: 9px; }
/*.othnews*/ h4 { display: block; margin: 15px 0 7px 0; font-family: Georgia, "Times New Roman", Times, serif; font-size: 125%; font-weight: bold; color: #000; line-height: 100%; }
/*.othnews*/ h4 a, /*.othnews*/ h4 a:visited { text-decoration: none; }
/*.othnews*/ h4 a:hover { text-decoration: underline; }
.othnews .lead { font-size: 85%; color: #505050; }
.othnews .text { font-size: 90%; line-height:130%; margin-top: 1em; margin-bottom: 5px;}
.othnews .text p { margin-top: 0; }

.othnews .material-type
{
	color: #808080;
	font-size: 13px;
	padding: 4px 0;
	font-weight: bold;
}

.othnews .material-title
{
	color: #505050;
	font-weight: normal;
	font-size: 13px;
}

.author
{
	margin-bottom: 20px;
}

.author img { padding: 0 0 5px 5px; float: right; }
.author .title { font-weight: bold; font-size: 90%; line-height: 100%; margin-bottom: 5px; }
.author .title a, .author .title a:visited { text-decoration: none; }
.author .title a:hover { text-decoration: underline; }
.author .text { font-size: 80%; line-height: 110%; }
.author .comments-info
{
	margin-bottom:-12px;
	margin-top: 2px;
	text-align: right;
/*	font-style: italic;*/
	color: #808080;
	font-size: 13px;
}

.vote .title { font-size: 90%; line-height: 130%; margin-bottom: 5px; font-weight: bold; }
.vote-intro { font-size: 80%; margin-bottom: 5px; font-style:italic; }
.vote .info { color:#808080; font-family:Tahoma,Arial,sans-serif; font-size:10px;}

.fin td { padding: 3px 0; font-size: 12px; }

.rbctod { margin: 1em 0; }
.rbctod .holder { width: 201px; height: 132px; overflow: hidden; }
.rbctod img { position: relative; left: -6px; top: 0; filter: gray(enabled=1); }

.rmore { text-align: right; font-weight: bold; font-size: 90%; line-height: 100%; text-decoration: none; }
.more a, .more a:visited { font-weight: bold; text-decoration: underline; }
.m5 { margin-bottom: 5px; }
.m3 { margin-bottom: 3px; }

h1 { display: block; margin: 0 0 3px 0; font-family: Georgia, "Times New Roman", Times, serif; font-size: 32px; line-height: 32px; font-weight: bold; }
.z9 { font-family: Tahoma, Arial, sans-serif; font-size: 9px; }
.z10 { font-family: Tahoma, Arial, sans-serif; font-size: 10px;}
.z11 { font-size: 12px; line-height: 15px; }
.zm { font-size: 85%; line-height: 130%; }
.text { font-size: 105%; line-height: 130%; }
.hh1 { font-family: Georgia, "Times New Roman", Times, serif; font-size: 22px; line-height: 24px; font-weight: bold; }

cite { float: right; margin: 0 0 15px 15px; padding: 15px; display: block; width: 210px; background: #f0f0f0; border-top: 1px solid #000; border-bottom: 1px solid #000; font-family: Georgia, "Times New Roman", Times, serif; font-size: 130%; font-weight: normal; color: #505050; text-decoration: none; line-height: 120%; font-style: normal; }
#related.news-popular {
	margin-right: 0;
}
#related.news-popular .hot,
#related .hot{
	padding: 0;
	margin-top:7px;
	background: none;
}
#related.news-popular .hot td,
#related .hot td{
	vertical-align: middle;
	padding: 0 0 3px 0;
	font-size: 13px;
	font-family: "Times New Roman";
	line-height: 15px;
}
#related.news-popular #pop-news-inner{
	border-collapse: collapse;
}
#related.news-popular #pop-news-inner img,
#related #pop-news-inner img{
	margin: 0;
}
#related.news-popular td.title {
	padding-left: 5px;
}

#related.article-main-block {
	margin-right: 0;
}

.imgright { width: 1%; float: right; clear: right; }
.imgright td { padding: 0 0 15px 15px; }
.imgright div { margin-top: 5px; font-size: 10px; color: #999; line-height: normal; font-family: Tahoma, Arial, sans-serif; }

.imgleft { width: 1%; float: left; margin: 0 15px 15px 0; }
.imgleft div { margin-top: 5px; font-size: 10px; color: #999; line-height: normal; font-family: Tahoma, Arial, sans-serif; }

.imgcenter { width: 1%; margin: 1em 0; clear: both; }
.imgcenter div { margin-top: 5px; font-size: 10px; color: #999; line-height: normal; font-family: Tahoma, Arial, sans-serif; }

#thumbnails { width: 180px; height: 490px; overflow: auto;  }
#thumbnails .description { display: none; }
#thumbnails .thumb { cursor: pointer; cursor: hand; }

.title4 { font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; line-height: 90%; }

.jh1 { color:black; font-family: Georgia, Times New Roman, Times, serif; font-size: 35px; line-height: 32px; font-weight: bold; margin-bottom:10px; text-decoration: none; }
.jh4, .jh4:visited { color:#000; font-family: Georgia, "Times New Roman", Times, serif; font-size: 120%; font-weight: bold; line-height: 90%; text-decoration: none; }
.jh4:hover, .jh1:hover { text-decoration: underline; }

.jtext { font-size: 105%; line-height: 130%; }
.jtext2 { font-size: 90%; line-height: 130%; }
.jtext3 { font-size: 75%; line-height: 140%; }

#pop-news {
	padding:0;
	margin:0;
	list-style:none;
	margin-bottom:7px;
	font:11px/11px Tahoma;
	}
#pop-news LI {
	margin-bottom:4px;
	overflow:hidden;
	zoom:1;
	}
#pop-news IMG {
	float:left;
	margin-top:4px;
	margin-right:5px;
	}
#pop-news EM {
	font-style:normal;
	font:10px Tahoma;
	color:#666;
	}
#pop-news A {
	text-decoration:none;
	}
#pop-news A:hover {
	text-decoration:underline;
	}



#dni-tisr {
	font:11px Tahoma, sans-serif;
	}
	#dni-tisr DT,
	#dni-tisr DD {
		padding:0;
		margin:0;
		}
	#dni-tisr DT {
		padding-bottom:11px;
		}
	#dni-tisr DT IMG {
		display:block;
		}
	#dni-tisr DD {
		padding:0 0 5px;
		overflow:hidden;
		zoom:1;
		font-weight:bold;
		}
	#dni-tisr DD IMG {
		float:left;
		margin:0 5px 0 0;
		}
	#dni-tisr DD STRONG {
		display:block;
		line-height:1;
		font-weight:normal;
		color:#9C2129;
		}
	#dni-tisr A {
		text-decoration:none !important;
		}


/* Video */
.video {
	border:solid 1px #000;
	border-width:1px 0;
	text-align:center;
	font:10px Tahoma, sans-serif;
	width: 100%;
	clear: both;
	/*margin-top:25px;*/
	}
.video.left {
	float:left;
	margin-right:10px;
	}
.video.right {
	float:right;
	margin-left:10px;
	}
.video * {
	display:block;
	padding:0;
	margin:0;
	}
.video DT {
	padding:3px 10px 5px;
	background:#E2E2E2;
	text-align:left;
	font-weight:bold;
	font-size:10px;
	}
.video DD {
	background:#EEE;
	}
.video DD * {
	margin:auto;
	}
.video DD A {
	text-decoration:none;
}
div.desc {
	background-color: #FFF;
}

iframe.teasers-inner{
	float:right;
	margin-left:5px;
}

#article-tags-wrapper {
	width: 228px;
	border-top: 2px solid #919285;
	padding: 12px;
	background-color: #f0f0f0;
}
#article-tags-wrapper.key-words {
	width: 216px;
}

#article-tags-wrapper p {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	line-height: 100%;
}

.archive-table {
	border-collapse:collapse;
	width: 100%;
}

.archive-table td {
	border: 1px solid #e7e7e7;
}

.archive-calendar-cell {
	text-align: center;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.archive-calendar-cell-active {
	background-color: #e7e7e7;
	font-weight:bold;
	text-align: center;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.archive-inputes {
	font-family: Tahoma;
	font-size: 11px;
}

#archive-inputes-year {
	width: 90%;
	margin-left: 3px;
}

#archive-inputes-month {
	width: 90%;
	margin-right: 3px;
}

#archive-inputes-stream {
	width: 100%;
}

.archive-stream-cell {
	padding-top: 9px;
	padding-bottom: 9px;
}

.archive-date-cell {
	padding: 5px;
	background-color: #e7e7e7;
	border: 1px solid #e7e7e7;
}

.archive-layout-table {
	border-collapse:collapse;
	width: 90%;
}

/* Features */
#features {
	padding:7px 0 0;
	margin:0;
	float:right;
	font:10px Tahoma, Arial, sans-serif;
	list-style:none;
	color:#656565;
	}
	#features LI {
		display:inline;
		}
	#features A {
		color:#656565;
		}
	#features IMG {
		vertical-align:middle;
		}


#rss-options {
	padding:0;
	margin:0;
	background:#FFF;
	}
#rss-options P {
	padding:0 20px;
	}
#rss-options LI {
	margin:0 0 3px;
	}


/* Hot news */
#hot-news {
	margin-left:2em;
	margin-right:2em;
	width:100%;
}
#hot-news img{
	float: left;
	margin-right: 6px;
}
#hot-news H4 {
	float: left;
	margin-bottom: 1px;
	padding: 6px 13px 8px 12px;
}
#hot-news SPAN {
	display: block; clear: both;
	margin-left: -1px;
	font: 10px 'Arial', sans-serif;
	color: #8F8F8F;
}
#hot-news A {
	text-decoration: none;
}
#hot-news P {
	margin-top: 3px;
	margin-bottom: 0px;
	font-size: 90%;
	font-weight: bold;
	line-height:110%;
}
#hot-news .allnews {
	font: 12px 'Times New Roman', serif;
	text-decoration: none;
	white-space: nowrap;
}

#blogger-code{
color:#000000;
text-decoration:underline;
cursor:pointer;
display:inline;
font-family: Tahoma, Arial, sans-serif;
font-size: 10px;
}
#blogger-code-hint{
color:gray;
margin-top:3px;
}
#blogger-code-text{
width:450px;
height:150px;
display:block;
margin:5px 0px 5px 0px;
font-size:11px;
}

#blogger-photo-code{
/*float:right;*/
color:#000000;
text-decoration:underline;
cursor:pointer;
font-size:11px;
line-height:12px;
}
#blogger-photo-code-hint{
color:gray;
margin-top:3px;
}
#blogger-photo-code-text{
width:520px;
height:130px;
display:block;
margin:5px 0px 0px 7px;
font-size:11px;
}
#blogger-code-text-wrapper{
margin:5px 0px 0px 0px;
}
.othtime{float:left; margin:15px 15px 0 0;color:#000;font-family:Georgia,"Times New Roman",Times,serif;font-size:125%;font-weight:bold; width:3em;
}
.othnews-container{ zoom:1; overflow:hidden}

.scores_table { font-size: 14px; border-collapse: collapse; margin-bottom: 8px;}
.scores_table td { padding: .15em .6em .15em .2em; white-space: nowrap; }
.scores_table th { text-align: left; padding: .6em .6em .1em .2em; border-bottom: 1px solid #999999; white-space: nowrap; }
.scores_table_euro { width: 100%; border-collapse: collapse; }
.scores_table_euro .scores_table { font-size: 100%; }

.euro_matches { border-collapse: collapse; margin-bottom: 1em; background: #F0F0F0; }
.euro_matches td { padding: .4em 1em .2em .2em; white-space: nowrap; }
.euro_matches td.scores { padding-right: .2em; }
.euro_matches td.div { width: 50%; }

/*.scores_table.teams th{
	padding: .6em .2em .1em .6em;
}
.scores_table.teams td {
	padding: .15em 0 .15em .6em;
}*/
.scores_table.games {
	margin-bottom: 0;
}

#content-loader { display: none; }

a.help2 {text-decoration: none;}

.pic_hand
{
cursor: pointer;
}

div.picture
{
line-height: 20px;
/*display: none;*/
border: solid black 1px;
visibility:hidden;
background-color: #fff;
position: absolute;
/*left: 300px; */
top: 500px;
}

div.picture span
{
padding-top: 0px;
/*vertical-align: middle;*/
padding-left: 10px;
margin: 0;
background: #fff;
text-align: center;
font-weight: bold;
cursor: pointer;
}

div.picture img
{
border: gray 1px;
padding: 10px;
background-color: #B1B1B1;
cursor: pointer;
}

.hournews span {background:#DC0000 !important;}
/*.z12 h4 {background:#DC0000 !important;}*/
.othnews .hournews {background:#656565 !important; vertical-align:middle; color:white; padding:1px 2px 5px 3px; width:60px;}
.subtitle {font-size:10px; font-weight:normal !important;white-space:nowrap;}


div.pager
{
background:#F0F0F0 none repeat scroll 0 0;
text-align: center;
padding:10px;
margin-top: 16px;
margin-bottom: 16px;
height: 15px;
}
.pager h3 { float: left; font-size: 12px; line-height: 100%; margin: 0; padding: 0; color: #000000; background:#F0F0F0 none repeat scroll 0 0; font-family: "Times New Roman",Times,serif; }
.pager ul { padding: 0; margin: 0; border: none !important; float: left; list-style: none;}
.pager ul li { padding: 0; border: none !important; float: left; height: auto; clear: none; font-size: 12px; line-height: 100%; margin-left: 1em; font-weight: bold; }
.pager ul li a { font-weight: normal; font-size: 12px; }

.topic
{
	position: relative;
}

.topic h2
{
	background: #656565 none repeat scroll 0 0;
	color: #FFFFFF;
	display: block;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 100%;	
	margin: 0 0 7px;
	padding: 7px 0 8px 15px;
	text-transform: uppercase;
}

.topic h1
{
	display:block;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:32px;
	font-weight:bold;
	line-height:25px;
	margin:0 0 7px;
	padding: 7px 0 8px 0px;
	text-transform: none;
}
.topic h1 a {
	text-decoration: none;
}
.topic h3
{
	background: #FFFFFF none repeat scroll 0 0;
	color:#000000;
	display:block;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:18px;
	font-weight:bold;
	line-height:100%;
	margin:0px 0 7px;
	padding: 0px 0 0px 0px;
	text-transform: none;
}
*html .topic h3{
	width: 90%;
}

.topic_image
{
	float: left; 
	margin-right: 10px;
}

/*-------------------------- Realty banner -------------------------------------------*/
.realty-banner .top{
	background:transparent url(/images/realty_anons.gif) no-repeat scroll left top;
	width: 240px;
	height: 64px;
}

.realty-banner .type-realty{
	background:transparent url(/images/tabs-realty.jpg) no-repeat scroll left top;
	width: 240px;
	height: 25px;
}

.realty-banner .type-health{
	background:transparent url(/images/tabs-health.jpg) no-repeat scroll left top;
	width: 240px;
	height: 25px;
}

.realty-banner .content{
}

.realty-banner .content.realty{
	background: #E3E2C7;
}

.realty-banner .content.health{
	background: #ffffff;
}

/*
.realty-banner .on-other-tab{
	width: 119px;
	height:25px;
	float: left;
}
.realty-banner .on-other-tab:hover{
	cursor: pointer;
}*/

.realty-banner .tab{
	width: 119px;
	height:25px;
	float: left;
}

.realty-banner-block{
	width: 220px;
	height: 140px;
	margin: 0 10px 0 10px;
	border-bottom: 1px solid #cbc9ba;
	padding: 17px 0 15px 0;
}
.realty-banner-block .info{
	margin-top: 12px;
}
.realty-banner-block .title{
	font-size:15px;
	font-weight:bold;
	line-height:15px;
	color: #3d3b3e;
	text-decoration: none;
}

.realty-banner-block .image{
	display: block;
	float: left;
}

.realty-banner-block .description{
	display: block;
	float: left;
	color: #3d3b3e;
	font-size:13px;
	text-decoration: none;
	width: 121px;
	margin-left: 10px;
	margin-top:-2px;
	line-height:14px;
}
.realty-banner-block .detail{
	display: block;
	text-align:left;
	text-decoration: underline;
}

.space-line{
	height: 10px;
}

.realty-banner-block .description b{
	font-weight: normal;
}

.realty-banner-block div{
	line-height:14px;
}

.lenta .our-news
{
	height:14px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	margin-top:1px;
	position:relative;
	top:4px;
}

.lenta .our-news-time
{
	background: #B7B7B7 !important; 
	color: #000000;
}

.ournews 
{
	background: #B7B7B7 !important; 
	vertical-align: middle; 
	padding: 1px 2px 5px 3px; 
	width: 60px;
	color: #000000;
}

.ournews-subtitle
{
	width: 40px;
	font-size: 10px; 
	font-weight: bold !important;
	color: #838383;
}
.block-show-window--horizontal{
	overflow: hidden;
	width:100%;
}
.block-show-window--horizontal table{
	width: 100%;
}
.show-window-horizontal{
	width: 25%;
	text-align: center;
}

#pop-news-inner 
{
	padding: 0;
	margin: 0;
	list-style: none;
	padding-bottom: 7px;
	font: 11px/11px Tahoma;
}

#pop-news-inner li
{
	margin-bottom: 4px;
	overflow: hidden;
	zoom: 1;
}

#pop-news-inner img
{
	float: left;
	margin-top: 4px;
	margin-right: 5px;
	border: 0;
}

#pop-news-inner em 
{
	font-style: normal;
	font: 10px Tahoma;
	color: #666;
}

#pop-news-inner a
{
	text-decoration: none;
}

#pop-news-inner a:hover 
{
	text-decoration: underline;
}
.speech {
	background: #b4b4b4;
	width: 100%;
	min-width: 175px;
	height: 100%;
}
.speech h3 {
	white-space: nowrap;
	background: #000000;
}
.speech .cont {
	padding: 0 10px 10px 10px;
}
.speech .cont hr {
	margin: 10px 0px;
}
.speech a.all {
	color: #545454;
	padding: 10px;
	font-weight: bold;
}
.speech .gap {
	width: 100%;
	height: 100%;
}
.speech img { padding: 0 0 5px 5px; float: right; }
.topic h3 span, .speech .time { font-weight: bold; font-size: 90%; line-height: 100%; margin-bottom: 5px; background: #000000; color: #ffffff; padding-left: 3px;padding-right: 3px;}
.speech .title { font-weight: bold; font-size: 90%; line-height: 100%; margin-bottom: 5px; }
.speech .title a, .author .title a:visited { text-decoration: none; }
.speech .title a:hover { text-decoration: underline; }
.speech .text { font-size: 80%; line-height: 110%; color: #545454; }

/* Apend into other applications */
.append-other-applecations{
	height:10px;
}
.recommend-facebook{
	margin-top:10px;
}
.photo-report .recommend-facebook{
	margin-top: 23px;
	clear:both;
}
.photo-report .append-other-applecations{
}

.append-other-applecations .addintion-actions{
	border:1px solid #9A9A9A;
	float:left;
	height:21px;
	width:62px;
}
.append-other-applecations .action{
	float:left;
	height:16px;
	margin:3px 3px 0 8px;
}
.append-other-applecations .action.favorite{
	background: url(/images/add-favorits.gif) no-repeat 0 0;
	width: 15px;
}
.append-other-applecations .action.print{
	background: url(/images/add-print.gif) no-repeat 0 0;
	width: 18px;
}
.append-other-applecations .action.mail{
	background: url(/images/send-mail.gif) no-repeat 0 0;
	width: 18px;
}

.append-other-applecations .append{
	border:1px solid #9A9A9A;
	float:left;
	height:21px;
	margin-left:8px;
	width:280px;
}
.append-other-applecations .append-all-app{
	background:url("/images/share.gif") no-repeat scroll 5px 2px #E5E5E5;
	border-right:1px solid #C3C3C3;
	float:left;
	font-size:12px;
	height:19px;
	padding-left:29px;
	padding-top:2px;
	text-align:left;
	width:130px;
}
.append-other-applecations .append-several-app{
	float:left;
	height:21px;
	width:116px;
}
.append-other-applecations .app{
	float:left;
	height:16px;
	margin:3px 0 0 7px;
	width:16px;
	cursor: pointer;
}
.append-other-applecations .app.big-vkontakte{
	background: url(/images/vkontakte_bw.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-vkontakte:hover{
	background: url(/images/vkontakte_color.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-twitter{
	background: url(/images/twitter_bw.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-twitter:hover{
	background: url(/images/twitter_color.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-livejournal{
	background: url(/images/lj_bw.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-livejournal:hover{
	background: url(/images/lj_color.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-facebook{
	background: url(/images/app-fasebook-bw.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-facebook:hover{
	background: url(/images/app-fasebook.gif) no-repeat 0 0;
}
.append-other-applecations .app.big-russiaru{
	background: url(/images/app-russiaru_bw.png) no-repeat 0 0;
}
.append-other-applecations .app.big-russiaru:hover{
	background: url(/images/app-russiaru.png) no-repeat 0 0;
}

.append-other-applecations  .app-popup{
	background:none repeat scroll 0 0 #E5E5E5;
	/*border-color:-moz-use-text-color #9A9A9A #9A9A9A;
	border-style:none solid solid;
	border-width:medium 1px 1px;*/
	border: 1px solid #9A9A9A;
	border-top: none;
	height:123px;
	left:100px;
	padding:2px 0 0 15px;
	position:absolute;
	top:23px;
	width:241px;
	z-index:100;
}
*html .append-other-applecations  .app-popup{
	border: 1px solid #9A9A9A;
}
.append-other-applecations  .app-popup .popup-apps{
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	margin:7px 12px 0 0;
	padding-left:24px;
	text-align:left;
	width:84px;
}
*html .append-other-applecations  .app-popup .popup-apps{
	margin-right: 6px;
	width:78px;
	padding-left:20px;
}
.append-other-applecations  .app-popup .popup-apps.blogger{
	background: url(/images/app-blogger.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.google{
	background: url(/images/app-buzz.png) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.livejournal{
	background: url(/images/app-livejournal.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.mailru{
	background: url(/images/app-mail.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.facebook{
	background: url(/images/app-fasebook.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.twitter{
	background: url(/images/app-twitter.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.gmail{
	background: url(/images/app-gmail.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.vkontakte{
	background: url(/images/vkontakte_color.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.liveinternet{
	background: url(/images/app-liveinternet.gif) no-repeat 0 0;
}
.append-other-applecations  .app-popup .popup-apps.myspace{
	background: url(/images/app-myspase.gif) no-repeat 0 0;
}

.isepr {
 	clear: both;
	padding: 5px 0px 5px 105px;
	background: url(/images/isepi_logo.jpg) no-repeat;
	font-family: Times New Roman;
	size: 13px;
	color: #787878;
	height: 45px;
	margin-bottom: 10px;
	line-height: 60px;
}
.isepr_opinions {
 	float: right;
	font-family: Times New Roman;
	size: 13px;
	color: #787878;
}

.main-photos
{
	margin: -7px 0pt 18px;
}

.main-photos a
{
	color:#808080; 
	font-size:10px;
	font-family:Tahoma,Arial,sans-serif;
	padding:4px 0 4px 0;
	display: block;
}

.main-photos td.img
{
	cursor: pointer;
	height: 120px;
}

.photo-report
{
	background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial;
}

.photo-report .m3
{
	display: none;
}

.photo-report .app-popup
{
	padding-bottom: 8px;
}

.photo-report #thumbnails 
{
	width: 100%;
	background: #fff;
}

.photo-report #thumbnails 
{
	width: 100%;
	height: auto;
	overflow: visible;
}

.photo-report #left_td
{
	width: 22%;
	padding: 15px 0px 10px 15px;
}

.photo-report #right_td
{
	width: auto;
	padding: 15px 20px 10px 15px;
}

.photo-report hr
{
	margin: 10px 0;
	height: 2px;
}

.photo-report .clear
{
	width: 0px;
}

.photo-report #blogger-photo-code
{
	width: 90px;
	float: left;
}

.photo-report .alt
{
	color:#808080; 
	font-size:10px;
	font-family:Tahoma,Arial,sans-serif;
	padding:4px 0 4px 0;
}

.photo-report .popular-label
{
	float: right;
	width: 160px;
	height: 30px;
	background-color: #E2E2E2;
	margin-top: -10px;
}

.photo-report .popular-label div
{
	font-weight: bold;
	margin-left: 5px;
	margin-top: 4px;
}

.photo-report .on-theme
{
	float: left;
	width: 158px;
	text-align: left;
	margin-right: 10px;
	position: relative;
}
.ad-preloads {
	display: none;
}
.photo-report .on-theme .border-lt, .ad-nav .ad-thumbs .ad-active .ad-border-lt
{
	background: transparent url(/images/photo-border-lt.png) no-repeat; 
	width: 27px; 
	height: 27px; 
	position: absolute; 
	top: 0; 
	left: 0;
}

.photo-report .on-theme .border-rt, .ad-nav .ad-thumbs .ad-active .ad-border-rt
{
	background: transparent url(/images/photo-border-rt.png) no-repeat;
	width: 27px;
	height: 27px;
	position: absolute;
	top: 0;
	right: 0;
}

.photo-report .on-theme .border-lb, .ad-nav .ad-thumbs .ad-active .ad-border-lb
{
	background: transparent url(/images/photo-border-lb.png) no-repeat;
	width: 27px;
	height: 27px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.photo-report .on-theme .border-rb, .ad-nav .ad-thumbs .ad-active .ad-border-rb
{
	background: transparent url(/images/photo-border-rb.png) no-repeat;
	width: 27px;
	height: 27px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.ad-image-wrapper {
	background-color: #E2E2E2;
	position: relative;
	overflow: hidden;
}
.ad-image-wrapper .ad-image {
	position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 9;
}
.ad-image-wrapper .ad-loader {
  position: absolute;
  z-index: 10;
  top: 48%;
  left: 48%;
  border: 1px solid #CCC;
}
.photo-report .link-left, .ad-image-wrapper .ad-prev .ad-prev-image
{
	background: transparent url(/images/photo-link-left.png) no-repeat;
	margin-left: 10px;
	margin-top: 135px;
	width: 62px;
	height: 82px;
	float: left;
	display: block;
	z-index: 100;
	cursor: pointer;
}
.photo-report .link-right, .ad-image-wrapper .ad-next .ad-next-image
{
	background: transparent url(/images/photo-link-right.png) no-repeat;
	margin-right: 10px;
	margin-top: 135px;
	width: 62px;
	height: 82px;
	float: right;
	display: block;
	z-index: 100;
	cursor: pointer;
}
.ad-image-wrapper .ad-prev, .ad-image-wrapper .ad-next {
	display: none;
}
.ad-image-wrapper:hover .ad-prev, .ad-image-wrapper:hover .ad-next {
	display: block;
}
.photo-report .on-theme img
{
	margin: 4px 0px -1px 4px;
}

.popular-photos .last
{
	float: left;
	width: 150px;
	height: 205px;
	text-align: left;
	margin-right: 10px;
}

.popular-photos .last img
{
	margin:15px 0 5px 0;
}
.russia {
	width: 239px;
	height: 70px;
	position: relative;
	font-size: 14px;
	color: #ffffff;
}
.russia form {
	border:none;
	padding:0px;
	margin:0px;
}
.russia .russia-hdr {
	background: transparent url(/images/russia-hdr.gif) repeat-x;
	height: 20px;
	color: #ffffff;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 3px;
}
.russia .russia-hdr img {
	position: absolute;
	right: 10px;
	top: 0px;
}
.russia .russia-hdr span {
	position: absolute;
	left: 120px;
	top: 0px;
	background: transparent url(/images/russia-hdr-delim.gif) no-repeat;
	width: 13px;
	height: 23px;
}
.russia .border {
	background: url(/images/russia-bg.png) no-repeat;
	width: 239px;
	height: 35px;
	padding-top: 12px;
	font-size: 14px;
	font-weight: normal;
	font-family: Arial;
}
.russia .border input {
	width: 112px;
	margin-left: 9px;
	padding-left: 5px;
	color: #8b8d9d;
}
.russia .border .reg {
	background: url(/images/russia-btn.gif) no-repeat;
	width: 92px;
	height: 23px;
	border: 0px;
	color: #ffffff;
	position: absolute;
	top: 34px;
	font-size: 13px;
	font-family: Arial;
}
.russia .border .passwd {
	width: 112px;
}
.russia .border a.reg {
	position: absolute;
	right: 10px;
	text-decoration: underline;
}
.advert{
	background: #e2e2e2;
	border: 1px solid #939393;	
	padding:0 2px 2px 0;
	margin: 17px 0 12px 0;
	clear:both;
	font-size: 14px;
	min-height: 34px;
	line-height: 0;
}
.advert .image{
	float: left;
	display: block;
	margin-right:3px;
	padding-bottom:2px;
}
.advert .adv{
	display: block;
}
.advert .adv br, .advert .adv hr, .advert .adv b{
	display: none;
}
.advert .adv li{
	display: block;
	font-size:90%;
	list-style: none outside none;
}

#vk_like{
	margin-top: 0px;
}
.twitter-share-button {
	float: left;
	margin-bottom: 10px;
	margin-right: 40px;
}

#facebook-like.recommend-facebook{
	float:left;
	width: 362px;
	margin-top:3px;
	
}

.block-show-window-left{
	
}
.block-show-window-left .show-window-left{
	margin-bottom: 5px;
}



.vote-page
{
	background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
	-moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial;
}

.vote-page .m3
{
	display: none;
}

.vote-page .app-popup
{
	padding-bottom: 8px;
}

.vote-page #thumbnails 
{
	width: 100%;
	background: #fff;
}

.vote-page #thumbnails 
{
	width: 100%;
	height: auto;
	overflow: visible;
}

.vote-page #left_td
{
	width: 22%;
	padding: 15px 0px 10px 15px;
}

.vote-page #right_td
{
	width: auto;
	padding: 15px 20px 10px 15px;
}

.vote-page hr
{
	margin: 10px 0;
	height: 2px;
}

.vote-page .clear
{
	width: 0px;
}

.vote-page #blogger-photo-code
{
	width: 90px;
	float: left;
}

.vote-page .alt
{
	color:#808080; 
	font-size:10px;
	font-family:Tahoma,Arial,sans-serif;
	padding:4px 0 4px 0;
}

.vote-page .popular-label
{
	float: right;
	width: 200px;
	height: 30px;
	background-color: #E2E2E2;
	margin: -10px 0px 10px 0px;
	text-align: center;
}

.vote-page .popular-label div
{
	font-weight: bold;
	margin-left: 5px;
	margin-top: 4px;
}

.vote-page .on-theme
{
	float: left;
	width: 150px;
	text-align: left;
	margin-right: 10px;
}

.vote-page .on-theme img
{
	margin: 15px 0 5px 0;
}

.vote-page .blogger_button
{
    color: #000000;
    cursor: pointer;
    font-size: 11px;
    line-height: 12px;
    text-decoration: underline;
}

.vote-page .blogger_code textarea
{
	width: 353px;
	height: 100px;
}

.vote-page .blogger_code .hint
{
    color: gray;
    margin-top: 3px;
}

.vote-page .answer-result
{
	margin: 5px 0px 5px 0px;
}

.vote-page .answer-result .answer
{
	margin: 2px 0px 0px 5px;
	color: #000000;
	font-size: 15px;
}

.vote-page .answer-result .line-container
{
	width: 200px;
}

.vote-page .answer-result .line-container div
{
	background-color: #B9B9B9;
	height: 18px;
	padding: 4px 0px 0px 3px;
	float: left;
}

.vote-page .vote
{
	width: 100%;
}

.vote-page .vote .vote-img
{
	float: left;
	margin-right: 10px;
}

.vote .comments-title {
    color: #808080;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 0;
}

.vote .comments-count {
    color: #505050;
    font-size: 13px;
    font-weight: normal;
}

.popular-votes .vote table
{
	width: 100%;
}

.popular-votes .vote .content
{
	padding: 0px 10px 0px 0px;
}

.popular-votes .vote hr
{
	background-color: #E2E2E2;
	height: 1px;
}

.top-news
{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	margin-top: 10px;
	width: 100%;
}

.top-news .top
{
	width: 20%;
	padding-right: 10px;
	padding-bottom: 10px;
}

.top-news a
{
	text-decoration: none;
	color: #000000;
}

.top-news .opinion
{
	width: 40%;
	vertical-align: top;
}

.top-news .opinion img
{
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}

.top-news .opinion a
{
	display: block;
	float: left;
	font-family: Tahoma,Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
}

.other-opinions-label
{
	background-color: #E2E2E2;
	float: right;
	height: 25px;
	width: 130px;
	padding: 5px 10px 0px 10px;
	text-align: center;
}

.menui
{
	background-color: #FFFFFF;
	padding: 0 15px;
}

.spec-project-photos .thumbs
{
	height: 160px;
	overflow: hidden;
	width: 100%;
}

.spec-project-photos li.thumb
{
	float: left;
	display: block;
	margin-right: 10px;
	width: 150px;
	height: 160px;
}

.spec-project-photos li a
{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	line-height: 10px
}

.spec-project-photos .jcarousel-prev
{
	background: transparent url(/images/photo-prev-small.png) no-repeat;
	width: 23px;
	height: 30px;
	z-index: 100;
	position: relative;
	float: left;
	margin-top: -123px;
	cursor: pointer;
}

.spec-project-photos .jcarousel-next
{
	background: transparent url(/images/photo-next-small.png) no-repeat;
	width: 23px;
	height: 30px;
	z-index: 100;
	position: relative;
	float: right;
	margin-top: -123px;
	cursor: pointer;
}

.jcarousel-next-disabled, .jcarousel-prev-disabled
{
	opacity: 0.5;
	cursor: default;
}

.main-menu
{
    background-color: #656565;
    color: #FFFFFF;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    height: 24px;
    width: 100%;
    overflow-x: hidden;
}

.main-menu .menu
{
	height: 20px;
	overflow: hidden;
	font-weight: bold;
}

.main-menu li.thumb
{
	float: left;
	display: block;
	margin-right: 10px;
	padding-top: 8px;
	width: 100px;
	height: 20px;
	text-align: center;
}

.main-menu li a
{
    color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	line-height: 10px
}

.main-menu .jcarousel-prev
{
	background: transparent url(/images/tg-left.png) no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: -14px;
	margin-right: 20px;
	cursor: pointer;
}

.main-menu .jcarousel-next
{
	background: transparent url(/images/tg-right.png) no-repeat;
	width: 12px;
	height: 12px;
	float: right;
	margin-top: -14px;
	cursor: pointer;
}

.main-menu .jcarousel-buttons, .taggroup-menu .jcarousel-buttons
{
	width: 40px;
	z-index: 100;
	position: relative;
	float: right;
	margin-right: 4px;
}

* html .main-menu .jcarousel-buttons, * html .taggroup-menu .jcarousel-buttons
{
	display: none;
}
		
.taggroup-menu
{
	background: none repeat scroll 0 0 #E2E2E2;
    border-top: 3px solid #000000;
    font-size: 14px;
    width: 100%;
    height: 20px;
    position: relative;
    overflow-x: hidden;
}

.taggroup-menu .taggroup a
{
	text-decoration: none;
	line-height: 20px;
}

.taggroup-menu .taggroup
{
	height: 20px;
	overflow: hidden;
	font-weight: bold;
}

.taggroup-menu .taggroup ul {
    margin: 0;
    padding: 0;
}

.taggroup-menu li.thumb
{
	float: left;
	display: inline-block;
	width: 158px;
	height: 20px;
	text-align: center;
}

.taggroup-menu li a
{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	line-height: 10px
}

.taggroup-menu .jcarousel-prev
{
	background: transparent url(/images/tg-left.png) no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: -17px;
	margin-right: 20px;
	cursor: pointer;
}

.taggroup-menu .jcarousel-next
{
	background: transparent url(/images/tg-right.png) no-repeat;
	width: 12px;
	height: 12px;
	float: right;
	margin-top: -17px;
	cursor: pointer;
}

.social-network-panel{
	background: none repeat scroll 0 0 white;
    height: 355px;
    position: fixed;
    width: 280px;
    z-index: 100;
    border: 1px solid black;
    /*padding: 15px 10px 10px 10px;*/
    bottom: 10px;
}
.social-network-panel .title {
	font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}
.social-network-panel .close {
	background: url("/images/pop_close.png") no-repeat scroll left bottom transparent;
	/*background: none;*/
    cursor: pointer;
    position: absolute;
    margin-top: 4px;
    margin-right: 4px;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
}
.social-network-panel .close:hover{
	background-position: 0 -25px;
}
.social-network-panel .network {
}
.social-network-panel .network.facebook {
	margin-top: 10px;
}
.social-network-panel .network.facebook .border{
	border-color: #315C99 #AAAAAA #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.fbConnectWidgetHeaderTitleBranded {
    background: none repeat scroll 0 0 #3B5998;
    color: #FFFFFF;
    cursor: default;
    height: 14px;
    padding-bottom: 5px;
    padding-top: 1px;
}
.phm {
    padding-left: 10px;
    padding-right: 10px;
}
.clearfix {
    display: block;
}
.lfloat {
    float: left;
    line-height: 16px;
}
.fsl {
    font-weight: bold;
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
    font-size: 11px;
}
.rfloat {
    float: right;
}

.social-network-panel .network.twitter {
	margin-top: 10px;
}
.social-network-panel .network.twitter .border{
	border-color: #C5DEEF;
    border-style: solid;
    border-width: 1px;
}
.social-network-panel .network.twitter .border .header{
	background: none repeat scroll 0 0 #EEF9FD;
	height: 14px;
    padding-bottom: 5px;
    padding-top: 1px;
    color: #186487;
    font-weight: bold;
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
    font-size: 11px;
}
.social-network-panel .network.twitter .border .header img{
	margin-left: 8px;
}
.social-network-panel .network.twitter .border .header span{
	margin-left: 5px;
    position: relative;
    top: -3px;
}
.social-network-panel .network.twitter .body{
	height: 25px;
    padding: 22px 10px;
}


#online .append-other-applecations .append, #online .append-other-applecations, #online .append-other-applecations .append-all-app
{
	width: auto;
}

#online .append-other-applecations
{
	margin: 6px 6px 0px 0px !important;
}

#online .append-other-applecations .append-all-app
{
	padding-left: 29px;
	border: none;
}

#online .append-other-applecations .app-popup
{
	width: 134px;
	height: 240px;
	left: 8px;
}

#online .append-other-applecations .append-several-app
{
	width: 120px;
}

#online .msg, .mf_feed .msg
{
	display: none;
	color: #656565;
	text-decoration: none;
	font-size: 14px;
	font-family: Tahoma;
	min-width: 200px;
	height: 20px;
	padding: 5px;
	background: #E2E2E2;
	text-align: center;
}

#online .more
{
	display: block;
	color: #656565;
	text-decoration: none;
	font-size: 33px;
	min-width: 200px;
	height: 40px;
	padding: 5px;
	background: #E2E2E2;
	text-align: center;
}

#online .more.after
{
	margin-top: 5px;
	border-top: 2px solid #000000;
}

#online .img
{
	float: right;
	margin-left: 5px;
}

#online .posts .top
{
	border-top: 2px solid #000000;
	margin-bottom: 5px;
}

#online .posts .top .date
{
	float: right;
	background: #E2E2E2;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px 6px;
	width: 130px;
	font-weight: bold;
}

#online .posts .top .title
{
	/*font-size: 22px;*/
	font-weight: bold;
	margin-top: 5px;
}
#online .posts .top .title a {
	text-decoration: none;
}
#online .posts .top .title a:hover {
	text-decoration: underline;
}
#online .posts .txt
{
	font-size: 14px;
	margin-bottom: 10px;
}

#online .xdm-container iframe
{
	margin-left: 20%;
	margin-bottom: 5px;
}
.news-vote {
	width: 100%;
	clear: both;
}
.news-vote h2 {
	text-transform: uppercase;
	font-size: 16px;	
	margin: 20px 0px 7px 0px;
}
.news-vote td h2 {
	color: #767676;
	text-align: center;
	margin: 0px 0px 6px 0px;
}
.news-vote .vote-area {
	border: 1px #b8b8b8 solid;
	padding: 7px 9px;
	font-weight: bold;
	font-size: 16px;
}
.news-vote .vote-area img {
	float: left;
	padding-right: 7px;
}
.news-vote .vote-area .second img {
	float: right;
	padding-left: 7px;
	padding-right: 0px;
}
.rel {
	position: relative;
}
.news-vote .vote-area .vote-image {
	width: 200px;
}
.news-vote .vote-area span {
	line-height: 13px;
	display: block;
	text-align: left;
	color: #767676;
}
.news-vote .vote-area .second span {
	text-align: right;
	padding-left: 7px;
}
.news-vote .vote-area .vote-image input[type=button] {
	background: none;
	background-color: #535353;
	border: 1px #b8b8b8 solid;
	position: absolute;
	bottom: 0px;
	left: 70px;
	z-index: 10;
	width: 120px;
	height: 22px;
	color: #fff;
}

.news-vote .vote-area .vote-image .second input[type=button] {
	left: 8px;
}
.news-vote .vote-area .image-percent {
	height: 50px;
}
.news-vote .vote-area .vote-simple {
	width: 75px;
	vertical-align: bottom;
}
.news-vote .vote-area .vote-simple input[type=button] {
	background: none;
	background-color: #535353;
	border: 1px #b8b8b8 solid;
	width: 60px;
	height: 22px;
	color: #fff;
}
.news-vote .vote-area .vote-simple input[type=button].right {
	float: right;
}
.news-vote .vote-area .simple-percent {
	height: 30px;
}
.news-vote .vote-area .votep1 {
	background-color: #d9d9d9;
	text-align: center;
	padding: 0px 5px;
	white-space: nowrap;
	font-weight: normal;
}
.news-vote .vote-area .votep2 {
	background-color: #999999;
	text-align: center;
	color: #000;
	padding: 0px 5px;
	white-space: nowrap;
	font-weight: normal;
}
.up-page {
	position: fixed;
	bottom: 168px;
	margin-left: -28px;
	width: 27px;
	height: 27px;
	background: url(/images/scroll_.jpg) no-repeat;
	cursor: pointer;
	z-index: 1000;
	display: none;
}
.news-anons {
	position: absolute;
}
.news-anons.next {
	right: 43px;
	background: url(/images/anons/right_inactive.png) no-repeat;
}
.news-anons.prev {
	left: 0px;
	background: url(/images/anons/left_inactive.png) no-repeat;
}
.news-anons a {
	position: fixed;
    cursor: pointer;
    height: 47px;
    margin-top: -81px;
    /*overflow: hidden;*/
    top: 50%;
    width: 63px;
    z-index: 900;
    font-size: 0px;
    display: block;
	padding: 50px 0px;
}
.news-anons.next a {
	background: url(/images/anons/right_inactive.png) no-repeat;
	right: 0px;
}
.news-anons.prev a {
	background: url(/images/anons/left_inactive.png) no-repeat;
	left: 0px;
}
.news-anons.next.active {
	right: 291px;
}
.news-anons.next.active a {
	font-size: 13px;
	width: 280px;
	background: url(/images/anons/center.png) repeat-x top;
}
.news-anons.next.active a span:first-child {
	background: url(/images/anons/right_timer_left.png) no-repeat left top;
	height: 147px;
	width: 55px;
	left: -55px;
	position: absolute;
	top: 0px;
}
.news-anons.next.active a span:last-child {
	background: url(/images/anons/right_timer_right.png) no-repeat right top;
	/*float: right;*/
	right: -31px;
	display: block;
	width: 31px;
	height: 147px;
	top: 0px;
	position: absolute;
}
.news-anons.prev.active {
	left: 31px;	
}
.news-anons.prev.active a {
	font-size: 13px;
	width: 280px;
	background: url(/images/anons/center.png) repeat-x top;
	padding-left: 30px;
}
.news-anons.prev.active a span:first-child {
	background: url(/images/anons/left_timer_left.png) no-repeat left top;
	height: 147px;
	width: 31px;
	left: -31px;
	position: absolute;
	top: 0px;
}
.news-anons.prev.active a span:last-child {
	background: url(/images/anons/left_timer_right.png) no-repeat right top;
	right: -55px;
	display: block;
	width: 55px;
	height: 147px;
	top: 0px;
	position: absolute;
}

p.footnote {
	font-size: 12px;
	line-height: 14px;
}

.pluso {
	width: 100%;
	margin: 7px 0;
}

.comment-policy-info {
	clear: both;
	font-size: 12px;
}

#blogger-photo-code, #blogger-code, .print-link {
	display: none;
}

.jscroll-inner .pluso {
	padding-bottom: 15px;
}

.m3 > a:last-child {
	font-size: 10px;
}

.m3 div {
	display: none !important;
}

.m3 {
	font-size: 0;
}


@media print {
	#topor, #left_td, #right, #vdelimiter, .m3, .menu, #top, #copyrights, #topdate, #features, .left-banner, #header-banner,
	#related, #article-tags-wrapper, iframe, #xdm-container, .news-anons, .comment-policy-info, .jscroll-added, .up-page, .shadow,
	#blogger-code, .print-link, .video.right, div[id^="yandex_ad"]
	{
		display: none !important;
	}

	.pluso {
		display: none !important;
		height: 0 !important;
		overflow: hidden;
	}

	a {
		text-decoration: none;
	}
}

.photo-report .extra.posttime {
	padding-top: 8px;
}

.photo-report .social {
	padding-top: 10px;
}

#TB_caption2 {
	padding: 18px 0 0 17px;
}

.userhelp {
	color: #656565;
	font-size: 10px;
	font-family: Tahoma, Arial, sans-serif;
}
.photorep-details {
    padding-bottom: 10px;
}

.othnews.infographics table.imgleft {
    margin: 0 auto;
    width: 608px;
    float: none;
}

.othnews.photo .text a {
    display: none;
}

.othnews.photo .text {
    margin: 0;
}
.main-container.narrow {
	max-width: 1010px;
}
#topor {
	background-color: #e2e2e2;
	text-align: center;
}
#topor .border {
	border: 1px #696969 solid;
	padding-top: 4px;
}
.main-container.narrow #topor {
	position: absolute;
	width: 1005px;
}
.main-container.narrow #topor .border {
	margin-bottom: 14px;
}
.main-container.narrow #main {
	max-width: 747px;
}
.main-container.narrow #top {
	padding-top: 115px;
	max-width: 712px;
}
.main-container.narrow .menu {
	max-width: 747x;
}
.main-container.narrow #vdelimiter {
	background-position-y: 110px;
}
.main-container.narrow #toplinks {
	padding-bottom: 121px;
}
.main-container.narrow #hot-news P {
	max-width: 230px;
}
.main-container.narrow .mainnews {
	max-width: 300px;
}
.main-container.narrow #main .extra {
	width: 150px;
	white-space: normal;
}
.main-container.narrow .mainnews .description {
	display: none;
}
.main-container.narrow #widget-xdm-container {
	max-width: 220px !important;
	min-width: 220px !important;
}
.main-container.narrow #right_td,  .main-container.narrow #right_td img, .main-container.narrow .ad-image, .main-container.narrow .ad-image-wrapper {
	max-width: 455px;	
	height: auto;
}
.main-container.narrow #right_td iframe {
	max-width: 455px;	
}
#bottom_ads {
	border: 1px #696969 solid;
	background: #e2e2e2;
	position: relative;
	text-align: center;
}
#bottom_ads iframe {
	position: initial !important;
}
.main-container.narrow #bottom_ads {
	width: 1008px;
}
#bottom_ads .close {
	width: 13px;
	height: 13px;
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
	background: url(/images/close.gif) no-repeat;
}
.main-container.narrow #copyrights.up {
	z-index: 10000;
}

.othnews.photo table a {
    float: right;
    width: 240px;
    height: 120px;
    position: relative;
    overflow: hidden;
}

.othnews.photo table a img {
    position: absolute;
}

.othnews.photo table a:hover img.grayscale, .othnews.photo table a img.color {
    display: none;
}

.othnews.photo table a:hover img.color {
    display: block;
}

.m3 a.print-link {
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
}

.ms_teaser {
	display: block;
	border-top: 1px #000 solid;
	background-color: #e2e2e2;
	margin-bottom: 10px;
	padding: 7px;
	position: relative;
	font-family: Arial;
	font-size: 14px;
	height: 50px;
	text-decoration: none;
}
.ms_teaser img {
	float: left;
	margin-right: 10px;
}
.ms_teaser span {
	color: #8c8c8c;
	font-size: 13px;
	position: absolute;
	bottom: 7px;
	right: 7px; 
}

#top table table td:first-child {
    position: relative;
}
.mf_feed {
	margin-top: 10px;
	border-top: 2px solid #000;
}
.mf_icon {
    float: left;
    margin: 14px 14px 0 0;
    width: 20px;
}
.mf_link {
	padding-left: 20px;
}
.othnews.mf_link.mf_top {
	padding: 9px 19px;
	border: 1px #808080 solid;
	margin-top: 10px;
}
.mf_icon img {
	filter: grayscale(100%);
	width: 20px !important;
	height: 20px !important;
}
.mf_link:hover .mf_icon img {
	filter: none;
}
.othnews.mf_link {
	border-top: 0px none;
}
.mf_link h4 {
	font-size: 100%;
	text-decoration: underline;
}
.mf_desc {
	color: #808080;
	font-size: 75%;
}
.mf_desc .visible_link {
	color: #808080;
	max-width: 300px;
	overflow: hidden;
	display: inline-block;
	height: 16px;
	float: left;
	margin-right: 20px;
	text-decoration: none;
	white-space: nowrap;
}
.mf_filter {
	float: right;
	list-style: none;
	margin: 8px 0px;
}
.mf_filter li {
	float: left;
	display: inline-block;
}
.mf_filter li a {
	display: inline-block;
	text-transform: uppercase;
	padding: 7px 10px 8px 10px;
	font-size: 10px;
	text-decoration: none;
	font-family: Tahoma;
}
.mf_filter li a.active {
	background-color: #656565;
	color: #fff;
}
dl.mf_themes {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.mf_up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 8px solid white;
  float: right;
  margin-right: 5px;
  margin-top: 1px;
  cursor: pointer;
  opacity: 0.6;
}

.mf_down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 8px solid white;
  float: right;
  margin-right: 10px;
  margin-top: 1px;
  cursor: pointer;
}
dl.mf_themes::-webkit-scrollbar { width: 1em; }
dl.mf_themes dt {
    font-size: 90%;
    line-height: 100%;
    margin: 0 0 6px 0px;
    padding: 0;
}
dl.mf_themes dt a {
	font: normal 13px/15px "Georgia", Times, serif !important;
	text-decoration: none;
	height: 44px;
	overflow: hidden;
	display: block;
}
dl.mf_themes dt a h4, .top-news .opinion.agregator h4 {
	margin: 0px 0px 2px 0px;
	font-size: 100%;
}
.top-news .opinion.agregator h4 {
	margin-top: 3px;
	font-family: Tahoma,Arial, sans-serif;
}
.top-news .opinion.agregator a {
	height: 43px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}
dl.mf_themes dt a img, .top-news .opinion.agregator img {
	float: left;
    margin-right: 7px;
    margin-top: 2px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
@media (max-width: 1199px) {
	
	dl.mf_themes dt a {
		font: normal 11px/10px "Georgia", Times, serif !important;
		height: 34px;
	}
	dl.mf_themes dt a img {
	    width: 30px;
	    height: 30px;
	}
	dl.mf_themes {
		max-height: 240px;
	}
}
.mf_themes div {
	margin-top: 20px;
	padding: 0px 20px;
}
.mf_themes div a {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.mf_themes div a.theme {
	text-decoration: none;
	font-weight: bold;
	margin-right: 5px;
	font-size: 125%;
}
.mf_radar {
	font-size: 80%;
}
.mf_radar canvas {
	margin-right: 10px;
	float: left;
}
.mf_radar .copy {
	display: block;
	margin: 10px 0px;
	color: #808080;
	font-size: 80%;
}
.mf_radar a {
	text-decoration: none;
} 
.yt-close {
	display: none;
	width: 46px;
	height: 47px;
	background: url(/i/close.gif) no-repeat;
	cursor: pointer;
	position: fixed;
	top: 0px;
}
