/* Lightbox */
#LightBox
{
	position: absolute;
	z-index: 1000;
	font-size: 11px;	
	font:normal 11px Arial, Sans-Serif;
}
a, span.link 
{
cursor: pointer;
color: #1686C6;
text-decoration: none;
}
a:hover, span.link:hover, span.linkhover
{
	text-decoration: underline;
}
table {border-spacing:0;}
.formerror {
color: #a70908 !important;
font-weight: bold !important;
}
		#LightBoxShadow {border:none !important;}
		#LightBoxShadow tr.top td{border:none !important;}
		#LightBoxShadow tr.bottom td{border:none !important;} 		
		
		#LightBoxShadow td
		{
			width: 50%;
		}
		#LightBox .top .left
		{
			background: transparent url('/images/lightbox/lightbox_shd.png') top left no-repeat;
		}
		#LightBox .top .right
		{
			background: transparent url('/images/lightbox/lightbox_shd.png') top right no-repeat;
		}
		#LightBox .bottom .left
		{
			background: transparent url('/images/lightbox/lightbox_shd.png') bottom left no-repeat;
		}
		#LightBox .bottom .right
		{
			background: transparent url('/images/lightbox/lightbox_shd.png') bottom right no-repeat;
		}
		.LightBox .content
		{
			position: absolute;
			top: 55px;
			left: 55px;
			background: #ffffff;
			width: 300px;
			padding: 15px;
			z-index: 1000;
		}
			#LightBox .content h3
			{
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 4px;
				margin-top:0;
			}

	#LightBox .buttons
	{
		clear: both;
		border-top: 1px solid #cecece;
		padding: 8px 0 0 0;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 8px;
		width: 100%;
	}
	#LightBox .button
	{
		width: 57px;
		height: 23px;
		text-align: center;
		background: none;
		border: 0;
		color: #ffffff;
		cursor: pointer;
		font-weight: bold;
		letter-spacing: -1px;
		margin: 0 3px;
		vertical-align: middle;
	}
	#LightBox .button:hover
	{
		color: #000000;
	}
	#LightBox .submit
	{
		display: inline-block;
		background: #1BA7F8;
		line-height: 23px;
		font-size: 13px;
		font-weight: bold;
		padding-left: 3px;
		border-bottom: 1px solid #1686C6;
	}
		#LightBox .submit .right
		{
			float: right;
			height: 100%;
			width: 4px;
			background: #1BA7F8;
			border-bottom: 1px solid #1686C6;
		}
	#LightBox .cancel
	{
		font-weight: normal;
		background: #D0CFCF;
		border-bottom: 1px solid #B3B3B3;
		width: 60px;
		height: 24px;
	}
	#LightBox .close
	{
		position: absolute;
		top: 0;
		right: 0;
		background: transparent url('../imgs/lightbox_x.gif') 0 0 no-repeat;
		display: block;
		width: 16px;
		height: 16px;
		cursor: pointer;
		z-index: 10;
	}
	#LightBox .close:hover
	{
		background-position: 0 -15px;
	}
	#LightBox .handle
	{
		position: absolute;
		top: 0;
		left: 0;
		cursor: move;
		display: block;
		width: 100%;
		z-index: 5;
		padding: 0;
		height: auto;
	}
	#LightBox .handle:hover, #LightBox .handle.hover
	{
		background: #eee;
	}


.LoginLightBox
{
	top: -1000px;
	left: -1000px;
}
.LoginLightBox .content
{
	width: 300px;
	height: 187px !important;
}
.LoginLightBox #LoginForm
{
	float: left;
}
	.LoginLightBox #LoginForm div
	{
		clear: both;
		padding: 3px 0 3px 50px;
	}
	.LoginLightBox #LoginForm div label
	{
		display: block;
		float: left;
		width: 55px;
		padding-top: 3px;
	}
	.LoginLightBox #LoginForm div input.txt
	{
		float: left;
		width: 100px;
		border: 1px solid #B9E1F8;
		
	}
	.LoginLightBox #LoginForm div .forgot
	{
		display: block;
		float: left;
		margin: 3px 0 0 2px;
	}
	.LoginLightBox #LoginForm div input.chk
	{
		float: left;
		
		padding: 2px 5px 0px 0px;
		vertical-align: middle;
	}
	.LoginLightBox #LoginForm div .chklbl
	{
		width: auto;
	}
	.LoginLightBox .buttons .signupnow
	{
		font-size: 1.1em;
		color: #666;
		margin-top: 10px;
	}
	.LoginLightBox .buttons .signupnow .link
	{
		font-weight: bold;	
	}
	.LoginLightBox #LoginForm .formerror
	{
		/*position: absolute;
		top: 25px;
		left: 70px;*/
	}


/* Register */
.RegisterLightBox
{
	top: 80px;
}
	.RegisterLightBox .content
	{
		width: 250px !important;
		height: 310px !important;
	}
	.VerificationLightBox .content
	{
		height: 246px !important;
	}
	.RegisterLightBox #RegisterForm
	{
		font-size: 1.1em;
	}
	.RegisterLightBox #RegisterForm div
	{
		clear: both;
		height: 20px;
		padding: 4px 0;
	}
	.RegisterLightBox #RegisterForm div label
	{
		float: left;
		width: 66px;
		padding-top: 2px;
	}
	.RegisterLightBox #RegisterForm div label.chklbl
	{
		width: auto;
		display: block;
		float: left;
		margin-top: 2px;
	}
	.RegisterLightBox #RegisterForm div input.txt
	{
		float: left;
		width: 164px;
		border: 1px solid #B9E1F8;
	}
	.RegisterLightBox #RegisterForm .verify
	{
		margin-top: 10px;
	}
		.RegisterLightBox #RegisterForm .verify label
		{
			width: 130px;
		}
		.RegisterLightBox #RegisterForm .verify .txt
		{
			width: 65px;
		}
	.RegisterLightBox #RegisterForm div input.chk
	{
		float: left;
		margin-left: 0;
		padding: 2px 5px 0px 0px;
		vertical-align: middle;
	}
	.RegisterLightBox .problems
	{
		text-align: left;
		font-size: 1.1em;
		margin-top: 10px;
	}
		.RegisterLightBox .problems li
		{
			line-height: 1.5em;
			padding-left: 15px;
		}
/* ----- */

.DemoLightBox .content
{
	width: 594px !important;
	height: 400px !important;
}
	.DemoLightBox .content .dbutton
	{
		position: absolute;
		bottom: 50px;
		left: 176px;
	}
		.DemoLightBox .content .dbutton a.get
		{
			display: block;
			width: 252px;
			height: 42px;
			background: transparent url('../images/demo/b_get_grazeit_bg.gif') top left no-repeat;
			padding: 20px 20px 0 0;
			color: #fff;
			font-size: 2em;
			text-decoration: none;
			text-align: center;
			line-height: .7em;
		}
		.DemoLightBox .content .ie a.get{ background-image: url('../images/demo/b_get_grazeit_bg_ie.gif'); }
		.DemoLightBox .content .ff a.get{ background-image: url('../images/demo/b_get_grazeit_bg_ff.gif'); }
		.DemoLightBox .content .other a.get{ background-image: url('../images/demo/b_get_grazeit_bg_other.gif'); }

		.DemoLightBox .content .dbutton a.get:hover
		{
			text-decoration: none;
		}
		.DemoLightBox .content .dbutton a.get span
		{
			display: block;
			color: #4f6407;
			font-size: .45em;
			font-weight: bold;
		}
		.DemoLightBox .content .dbutton p
		{
			color: #656565;
			text-align: center;
			padding: 0;
		}


/* Alert */
.AlertLightBox
{
	top: 150px;
	left: 600px;
}
	.AlertLightBox .content
	{
		width: 300px !important;
		height: 125px !important;
	}
		.AlertLightBox .content padding
		{
			line-height: 1.1em;
		}

.DeleteBlogFromBot
{
}
	.DeleteBlogFromBot .content
	{
		height: 100px !important;
	}

.EditBlogFromBot
{
}
	.EditBlogFromBot .content
	{
		height: 170px !important;
	}

.RunBot
{
}
	.RunBot .content
	{
		width: 400px;
		height: 150px;
	}

.AuthLightBox, .Invite2Bot
{
}
	.AuthLightBox #AuthTitle, .Invite2Bot .title
	{
		font-size: 13px !important;;
	}
	.AuthLightBox .content
	{
		padding-top: 10px;
		height: 	 240px !important;
		width: 	 350px !important;
		font-size:   12px;
	}
	.Invite2Bot .content
	{
		padding-top: 10px;
		height: 	 210px !important;
		width: 	 350px !important;
		font-size:   12px;
	}
	.AuthLightBox td, .Invite2Bot td, .EditBlogFromBot td
	{
		padding: 4px 5px 4px 0;
	}
	.Invite2Bot input
	{
		border: 1px solid #aaa;
		color: gray;
	}
.DeleteSiteFromBlacklist
{
}
	.DeleteSiteFromBlacklist .content
	{
		width: 400px;
		height: 100px;
	}
.HideWidget
{
}
	.HideWidget .content
	{
		width: 400px;
		height: 100px;
	}	
	
.NewWebsiteLightBox .content
{
	width: 330px;
	height: 200px !important;
}
	.NewWebsiteLightBox h3
	{
		margin-bottom: 20px !important;
	}
	.NewWebsiteLightBox td
	{
		padding: 4px 5px 4px 0;
	}
	.NewWebsiteLightBox input
	{
		border: 1px solid #aaa;
		color: black;
		width: 200px;
		margin-left: 10px;
	}
