.caja_monster { border-top-color: #815AA7; }
.caja_monster h3 a { color:#815AA7; font-weight:bold;margin-bottom:13px; }
.caja_monster h3 .bolillo { background:#815AA7 url(/iconos/v1.x/v1.0/varios/mascara_flecha_encabezado.png) no-repeat -9px 0; }
.caja_monster .monster_form { padding:14px 10px; background:#EDEDED; border-radius:3px 3px 0 0;*width:358px;}
.caja_monster .monster_form p { float:left; display:inline-block; margin:0;  }
.caja_monster .monster_form p:first-child{margin-right:6px;}
.caja_monster .monster_form label { display:block; margin:0 0 7px 3px; font:bold 11px/15px Tahoma, Arial, Geneva, sans-serif; color:#000; text-shadow:1px 1px #fff; }
.caja_monster .monster_form input { display:block; padding:7px 6px; background:#fff;border-width:1px;border-style: solid;border-color:#c9c9c9 #fff #fff #c9c9c9;border-radius:3px; font:12px/14px Arial, Helvetica, sans-serif; color:#333; }
.caja_monster .monster_form .monster_palabras{width:147px;}
.caja_monster .monster_form .monster_localidad{width:88px;}
.caja_monster .monster_form a { float:right; padding:9px 0 10px; width:76px; text-align:center; margin:19px 0 0; font:bold 11px/15px Tahoma, Arial, Geneva, sans-serif; color:#fff; background: #815AA7; border-radius:2px; }
.caja_monster .monster_links{clear:both;*width:358px;}
.caja_monster .monster_links ul { list-style:none;}
.caja_monster .monster_links li { margin-left:8px; color: #000000; float: right; font: bold 11px/15px Tahoma, Arial, Geneva, sans-serif; margin: 0 7px 0 0; padding: 13px 0 4px; text-shadow: 1px 1px #FFFFFF; }
.caja_monster .monster_links li:first-child{margin-left:8px; margin-right:0; float:left; }
.caja_monster .monster_links li a { color: #815AA7; text-decoration: underline; }
.caja_monster .monster_links li a:hover { opacity: 0.85; filter: alpha(opacity=85); }


/* MONSTER EN CAJA CLASIFICADOS */
.columna_secundaria .caja_clasificados .caja_monster{position:relative;}
.columna_secundaria .caja_clasificados .caja_monster h3{margin:0;padding:0;}
.columna_secundaria .caja_clasificados .caja_monster h3 .bolillo{display:none;}
.columna_secundaria .caja_clasificados .caja_monster h3 a{background:#7F57A2 url(/estaticos/economia/empleo/img/mini_logo_monster.png) 282px 18px no-repeat; width:380px;height: 41px; padding:0;margin:0 0 10px 9px; border:none; display:block;text-indent:-9999px;}
.columna_secundaria .caja_clasificados .caja_monster .monster_form{border-radius:0;border-top:1px solid #a1a1a1;background:#F7F7F7;padding:9px;width:380px; height:108px;}
.columna_secundaria .caja_clasificados .caja_monster .monster_form label{color:#666;}
.columna_secundaria .caja_clasificados .caja_monster .monster_form p{float:none;display:block;margin-bottom:0px;}
.columna_secundaria .caja_clasificados .caja_monster .monster_form .monster_palabras {width: 255px;}
.columna_secundaria .caja_clasificados .caja_monster .monster_form a{background:#5A5A5A;position:absolute;bottom:27px;right:9px;width:100px;border-radius:4px;margin:0;padding:8px 0 7px;line-height:15px;}
.columna_secundaria .caja_clasificados .caja_monster .monster_links {background: none repeat scroll 0 0 #f7f7f7;height: 20px;padding: 0 8px 0 10px;width: 380px;}
.columna_secundaria .caja_clasificados .caja_monster .monster_links ul{padding-top:0;}
.columna_secundaria .caja_clasificados .caja_monster .monster_links ul li{float:none;margin:0 10px 0 0;;color:#666;font-weight:normal;background: url(/economia/iconos/v1.x/v1.0/varios/vivienda/li.png) left 10px no-repeat;
padding:0 0 0 6px;line-height:17px; display:block; float:left;}
.columna_secundaria .caja_clasificados .caja_monster .monster_links ul li a{font-weight:bold;color:#333;text-decoration:none;}
.columna_secundaria .caja_clasificados .caja_monster .monster_links li a:hover{ opacity: 1; filter: alpha(opacity=100); border-bottom:1px dotted #666; }
