/* estilos para el bloque tematico de 40 aniversario */
/* peq */
	.bloque_tematico_carrera-especial .bloque-cabecera { background: #c0001f;}
	.bloque_tematico_carrera-especial .cabecera-titulo .sin_enlace,
	.bloque_tematico_carrera-especial .cabecera-titulo .enlace {
		background: transparent url(/estaticos/2016/02/la-carrera-especial/img/logo-la-carrera-especial-tematico-pq.svg) no-repeat left center; 
		text-indent: -9999px; 
		display: block;
		width: 8.688rem; 
		height: 2.250rem; 
		background-size: auto 0.9rem;
		}


	.bloque_tematico_carrera-especial .cabecera-titulo .enlace:hover { opacity: 1;}

	.bloque_tematico_carrera-especial .caja-patrocinador { 
		position: absolute; 
	    bottom: -3px;
	    right: 0.5rem;
		background-image: url(/estaticos/2016/02/la-carrera-especial/img/logo-santander.svg);
		text-indent: -9999px;
		width: 7rem; 
		height:2.2rem;
		display:block;
		background-repeat: no-repeat;
	}


/* y en grande */
@media(min-width:1000px){
	.bloque_tematico_carrera-especial .bloque-cabecera { background: url(/estaticos/2016/02/la-carrera-especial/img/fondo-triangulos.png) 20px 40px no-repeat #c0001f; height:  13.69rem; position: relative;width: 14.6%; margin: 0 0 0 0.688rem; }
    .bloque_tematico_carrera-especial .bloque-cabecera h3{border:none;}
	.bloque_tematico_carrera-especial .cabecera-titulo .sin_enlace,
	.bloque_tematico_carrera-especial .cabecera-titulo .enlace {
		background-image: url(/estaticos/2016/02/la-carrera-especial/img/logo-la-carrera-especial-tematico.svg); 
		background-size: contain; 
		height: 2.063rem;    
		position: relative;    
		width: 100%;    
		background-position: 0 center;
		background-repeat: no-repeat;
		margin-top: 15px;
    	margin-left: 10px;
		}

	.bloque_tematico_carrera-especial .caja-patrocinador { 
		position: absolute; 
		bottom: 0.250rem; 
		left: 1.375rem;
		background-image: url(/estaticos/2016/02/la-carrera-especial/img/logo-santander.svg);
		text-indent: -9999px;
		width: 7rem; 
		height:2.2rem;
		display:block;
		background-repeat: no-repeat;
	}

}
