/* peq */

.bloque_tematico_elecciones-estados-unidos .cabecera-titulo .sin_enlace,
.bloque_tematico_elecciones-estados-unidos .cabecera-titulo .enlace {
	background: transparent url(/iconos/v2.x/v2.1/bloques_tematicos/elecciones-eeuu-2016-pq.svg) no-repeat left center; 
	text-indent: -9999px; 
	display: block; 
	width: 16rem; 
	height: 2.250rem; 

}

/* y en grande */
@media(min-width:1000px){
 
	.bloque_tematico_elecciones-estados-unidos .cabecera-titulo .sin_enlace,
	.bloque_tematico_elecciones-estados-unidos .cabecera-titulo .enlace {
		background-image: url(/iconos/v2.x/v2.1/bloques_tematicos/elecciones-eeuu-2016.svg); 
		background-size: auto; 
		height: 2.5rem; 
		position: relative; 
		width: 100%;
		background-position: 0 7px;
	}
}