/* estilos para el bloque tematico de En corto */
/* peq */
.bloque_tematico_retina .cabecera-titulo .sin_enlace,
.bloque_tematico_retina .cabecera-titulo .enlace {
	background: transparent url(/iconos/v2.x/v2.0/cintillos/retina-negro.svg) no-repeat left center; 
	text-indent: -9999px; 
	display: block; 
	width: 6rem; 
	height: 2.250rem; 
	background-size: contain;
}

