#styleguide-v2 {
background-color:#d4d9dd;
margin:0;
}

#styleguide-v2 #base {
position:static;
width:auto;
height:auto;
background:url(bground2.gif) repeat-y center;
margin:auto;
}

h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
}

h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
height:10px;
}

h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:none;
}

TEXTAREA {
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
}

#flotante {
position:absolute;
display:none;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
border:1px solid gray;
background-color:#f1f1f1;
}

.flotante {
position:absolute;
text-align:left;
display:none;
font-size:11px;
font-family:verdana;
border:1px solid gray;
background-color:#fff;
padding:4px;
}

.bg-black {
background-color:#000;
color:#FFF;
}

.wd-150 {
width:150px;
}

.wd-350 {
width:350px;
}

.wd-600 {
width:600px;
}

#ad300x300 {
margin-left:30px;
float:left;
width:670px;
text-align:left;
margin-bottom:80px;
background-color:#FFF;
border:1px solid #000;
padding:15px;
}

#ad300x300_detalle {
margin-left:40px;
float:left;
width:700px;
text-align:center;
margin-bottom:15px;
background-color:#EFEFEF;
}

#contenedor_gral {
width:970px;
margin:0 auto;
}

#contenedor_der {
float:left;
width:200px;
}

.fuente1 {
font-size:22px;
font-weight:700;
}

.fuente3 {
font-size:10px;
color:red;
}

.fuente4 {
font-size:13px;
font-weight:700;
}

.fuente5 {
font-size:12px;
font-weight:700;
}

.fuente6 {
font-size:14px;
color:red;
font-weight:700;
}

.fuente7 {
font-size:16px;
font-weight:700;
}

.fuente8 {
font-size:17px;
font-weight:700;
}

.codigo_captcha {
font-size:11px;
font-family:arial;
font-weight:700;
color:#069;
}

.fuente_verde {
color:#00B900;
}

.fuente_referere {
font-family:verdana;
font-size:12px;
color:#CC000F;
margin-left:10px;
font-weight:700;
}

.fuente_referere2 {
font-family:verdana;
font-size:13px;
margin-left:10px;
}

.fuente_referere3 {
font-family:verdana;
font-size:10px;
margin-left:10px;
}

.link2 {
color:#000;
text-decoration:underline;
}

.link3 {
color:red;
font-weight:700;
text-decoration:none;
}

#notificaciones {
text-decoration:none;
display:inline-block;
margin-top:0;
margin-right:3px;
}

.nrofondorojo {
background-color:red;
color:#FFF;
font-size:9px;
font-weight:700;
}

#imagen-notif {
height:13px;
width:16px;
display:inline-block;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
background-position:top;
background-repeat:no-repeat;
}

.imagenhaynotif {
background-image:url(img/notif-on.png);
}

.imagennohaynotif {
background-image:url(img/notif-off.png);
}

.cajaconsombra {
box-shadow:0 8px 10px #777;
}

#nronotif {
padding-left:2px;
padding-right:2px;
position:relative;
top:3px;
left:21px;
}

#lista-notificaciones {
background-color:#FBFBFB;
box-shadow:0 8px 10px #777;
display:none;
position:absolute;
text-align:left;
z-index:2;
margin-left:4px;
width:270px;
max-height:450px;
overflow:hidden;
font-family:Arial,Helvetica,sans-serif;
}

#titulo-lista-notif {
text-align:left;
font-size:11px;
font-family:Arial,Helvetica,sans-serif;
padding-left:5px;
padding-top:3px;
padding-bottom:3px;
border-bottom:1px solid gray;
font-weight:700;
}

#lista-notif-arriba {
width:270px;
max-height:400px;
overflow:auto;
}

#link-todas-notif {
text-align:center;
font-size:11px;
font-family:Arial,Helvetica,sans-serif;
box-shadow:0 -1px 5px #777;
padding:3px;
}

#link-todas-notif a {
text-decoration:none;
color:grey;
}

#todas-notificaciones {
background-color:#F9F9F9;
float:left;
margin-left:60px;
width:660px;
text-align:left;
font-family:Arial,Helvetica,sans-serif;
}

.item-notificacion {
font-size:12px;
border-bottom:1px solid gray;
padding:5px;
}

.item-notificacion:hover {
background-color:#E8EAEC;
}

.item-todas-notif {
display:inline-block;
margin-left:5px;
width:540px;
}

.item-notif-derecha {
float:right;
margin-right:5px;
}

.item-notif-noleido {
background-color:#EDEFF5;
}

.notif-unsub-x {
float:right;
display:inline-block;
cursor:pointer;
font-family:"Lucida Console", Monaco, monospace;
visibility:hidden;
margin-left:2px;
margin-right:4px;
}

#cancel-subscription {
visibility:hidden;
position:absolute;
display:inline-block;
z-index:4;
margin-left:120px;
margin-top:20px;
background-color:#000;
color:#FFF;
font-family:Arial,Helvetica,sans-serif;
font-weight:700;
width:105px;
padding:3px;
}

#icon-notif {
float:left;
width:20px;
height:22px;
margin-right:3px;
background-position:top;
background-repeat:no-repeat;
display:inline-block;
}

#text-notif {
display:table;
min-height:22px;
font-size:10px;
}

.icon-101 {
background-image:url(img/icon-votothread.png);
}

.icon-102 {
background-image:url(img/icon-write.png);
}

.icon-103 {
background-image:url(img/icon-favmasuno.png);
}

.icon-201 {
background-image:url(img/pulgar_arriba_on.gif);
}

.icon-202 {
background-image:url(img/pulgar_abajo_on.gif);
}

.icon-301 {
background-image:url(img/nocorreo.png);
}

#arriba-item {
display:inline-block;
padding-left:3px;
padding-right:6px;
}

#arriba-item a {
text-decoration:none;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:700;
}

#arriba-flecha-foros {
display:inline-block;
width:7px;
height:7px;
background-image:url(img/flecha-abajo-white-sm.png);
margin-left:5px;
margin-right:2px;
margin-bottom:2px;
}

#arriba-flecha-foros:hover {
background-image:url(img/flecha-abajo-black-sm.png);
}

.rotado {
transform:rotate(180deg);
-ms-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-o-transform:rotate(180deg);
}

.flecha-desplegable {
opacity:0.4;
float:right;
margin-left:3px;
margin-top:4px;
width:10px;
height:5px;
background-image:url(img/flecha-abajo-black-wd.png);
}

#arriba-lista-categorias {
background-color:#FBFBFB;
box-shadow:0 8px 10px #777;
display:none;
position:absolute;
z-index:2;
text-align:left;
padding-bottom:5px;
padding-left:5px;
padding-right:10px;
}

#arriba-lista-categorias li {
list-style-type:none;
list-style-position:outside;
}

#arriba-lista-categorias a {
color:#777;
}

#menu-lc-itemcat {
margin-top:3px;
}

#menu-lc-itemtema {
text-indent:10px;
margin-top:2px;
}

#menu-lc-itemtema a {
font-size:10px;
font-weight:400;
}

#cabecera {
width:970px;
height:80px;
}

#barra {
width:970px;
height:20px;
background:url(titulo.jpg) repeat top center;
text-align:center;
vertical-align:middle;
}

#barra_logo {
float:left;
width:300px;
height:50px;
margin-right:3px;
text-align:left;
vertical-align:top;
}

#barra_buscador {
float:right;
width:660px;
height:50px;
padding-top:10px;
margin-right:3px;
text-align:right;
vertical-align:middle;
}

#arriba_detalle {
float:right;
margin-left:3px;
}

#fb_login_b {
display:inline-block;
margin-top:3px;
}

.buscador_arriba:hover {
border:2px #5C7DB3 solid;
}

.input_buscador {
font-weight:700;
font-size:144px;
}

.nu {
margin-top:3px;
margin-right:1px;
}

.titulo_menu_izq_vertodo {
text-decoration:none;
color:#000;
font-size:12px;
font-weight:700;
float:right;
}

.foro_home {
text-decoration:none;
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:13.4px;
font-weight:700;
float:left;
margin-left:5px;
margin-top:5px;
vertical-align:top;
}

.foro_home_vertodos {
text-decoration:none;
color:#000;
font-size:15px;
font-weight:700;
float:right;
}

#foro_home {
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin-left:20px;
width:690px;
height:auto;
background-color:#F9F9F9;
display:inline;
}

#foro_home_renglon {
float:left;
width:690px;
height:36px;
padding-right:2px;
background-color:#F9F9F9;
display:inline;
}

#foro_home_renglon_final {
float:left;
width:690px;
background-color:#F9F9F9;
}

#foro_home_titulo {
float:left;
width:650px;
height:15px;
padding-bottom:7px;
}

#foro_home_datos {
float:right;
text-align:right;
font-size:11px;
width:550px;
height:14px;
}

#foro_home_img {
float:left;
width:25px;
height:33px;
padding-top:7px;
margin-left:2px;
}

#menu_top {
background:url(titulo.jpg) no-repeat top center;
height:22px;
width:192px;
text-align:left;
padding-left:8px;
padding-top:4px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
color:#fff;
}

#home_izq {
float:left;
width:200px;
margin-left:15px;
}

#home_centro {
float:left;
width:520px;
height:auto;
margin-left:15px;
}

#home_der {
float:right;
width:200px;
margin-right:20px;
padding-left:5px;
text-align:center;
}

#cuadrados_izq {
width:192px;
text-align:left;
margin-bottom:15px;
padding-left:6px;
padding-right:3px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
background-color:#F9F9F9;
overflow:hidden;
}

#cuadrados_izq_int {
width:200px;
text-align:center;
background-color:#F9F9F9;
}

#cuadrados_izq_reng {
background-color:#F9F9F9;
margin-bottom:3px;
padding:4px;
}

.txtcuadrados_izq {
text-decoration:none;
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
float:left;
}

#menu {
float:left;
width:180px;
background-color:#f111f0;
}

#menu1 {
width:180px;
height:250px;
background-color:#9c9222;
}

#menu2 {
width:180px;
height:250px;
background-color:#6c6;
}

#menu_largo {
background:url(titulo.jpg) repeat top center;
float:left;
text-align:left;
margin-left:20px;
width:690px;
height:26px;
padding-left:4px;
color:#fff;
}

#principal {
float:left;
margin-left:20px;
width:550px;
height:500px;
background-color:#EBEBFC;
}

.tags_font {
text-decoration:none;
float:center;
color:#000;
font-family:Arial, Helvetica, sans-serif;
padding:4px;
}

.tags_font:hover {
text-decoration:underline;
float:center;
color:#000;
font-family:Arial, Helvetica, sans-serif;
}

#tags {
float:left;
margin-left:20px;
margin-bottom:15px;
width:550px;
height:120px;
background-color:#f6f7eb;
}

#panel_editar_categoria {
width:100%;
display:none;
}

#panel_editar_categoria a {
display:block;
width:160px;
background-color:#f7f8e8;
border-bottom:1px solid #eee;
text-align:center;
padding:3px;
}

#panel_editar_categoria a:link,#panel_editar_categoria a:visited {
color:red;
text-decoration:none;
}

#panel_editar_categoria a:hover {
background-color:#369;
color:#fff;
}

#lista_temas {
float:left;
margin-left:5px;
}

#despejar {
clear:both;
}

#contenedor_buscador {
font-family:Arial, Helvetica, sans-serif;
float:left;
width:700px;
}

#buscador_detalle {
float:left;
width:735px;
margin-left:10px;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
padding-bottom:15px;
}

#buscador_detalle_sub {
background-color:#F9F9F9;
font-size:12px;
padding-top:5px;
}

#buscador_detalle_sub_datos {
background-color:#F9F9F9;
padding-top:5px;
font-size:11px;
padding-bottom:3px;
}

#menu_detalle_buscador {
float:left;
text-align:left;
background:url(titulo.jpg) repeat top center;
height:26px;
width:735px;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
margin-left:10px;
}

#menu_titulo_buscador {
float:left;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
margin-top:3px;
font-size:14px;
font-weight:700;
margin-left:10px;
}

#paginacion {
position:relative;
float:left;
width:700px;
height:auto;
margin-left:40px;
}

.result_busc {
font-family:Arial, Helvetica, sans-serif;
color:#000;
font-size:28px;
font-weight:700;
}

.result_busc2 {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:700;
}

#error_buscador {
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
float:center;
text-align:left;
width:630px;
margin-left:10px;
}

#buscador_rss {
float:left;
text-align:center;
margin-top:10px;
width:650px;
margin-left:60px;
}

.detalle_foto {
float:left;
margin-left:5px;
margin-top:5px;
margin-right:20px;
}

#detalle_foto {
float:left;
width:50px;
background-color:#F9F9F9;
}

#menu_detalle {
float:left;
text-align:left;
padding-left:10px;
background:url(titulo.jpg) repeat top center;
height:24px;
font-weight:700;
width:725px;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
padding-top:2px;
margin-left:10px;
}

#menu_detalle_log {
float:left;
background:url(titulo.jpg) repeat top center;
height:26px;
width:650px;
margin-left:60px;
}

#detalle_datos {
float:center;
width:100%;
text-align:left;
font-size:14px;
margin-left:5px;
margin-right:5px;
}

#detalle_bajarahora {
float:center;
width:650px;
text-align:center;
}

#detalle_comentarios {
text-align:center;
font-size:12px;
width:630px;
margin-left:60px;
}

#detalle_reng_coment1 {
float:center;
text-align:left;
margin-top:10px;
padding-left:10px;
}

#detalle_reng_coment2 {
text-align:right;
padding-right:10px;
}

#detalle_login {
float:center;
text-align:center;
width:550px;
background-color:#fff;
}

#detalle_datos_derecha {
text-align:right;
font-size:11px;
margin-right:10px;
}

#detalle_ficha {
margin-left:10px;
float:left;
width:735px;
text-align:center;
margin-bottom:15px;
background-color:#F9F9F9;
}

#detalle_errorm {
text-align:center;
}

#detalle_buenomalo {
width:500px;
font-size:12px;
height:60px;
margin-top:10px;
}

#detalle_puntos {
float:left;
width:80px;
padding:10px;
}

.detalle_errorm {
text-decoration:none;
color:red;
font-size:15px;
font-weight:700;
}

.detalle_calif {
float:right;
margin-left:5px;
margin-top:5px;
margin-right:5px;
}

.comentario_sub {
font-size:13px;
text-align:right;
text-decoration:none;
}

.bajar_ahora {
text-decoration:none;
color:#fff;
font-size:25px;
font-weight:700;
border:2px;
background-color:#3b5998;
border-color:#d8dfea #0e1f5b #0e1f5b #d8dfea;
border-style:solid;
padding:5px 20px;
}

.bajar_ahora:hover {
color:#F9F9F9;
}

#input_bajar: {
font-family:Arial, Helvetica, sans-serif;
font-size:25pt;
}

.comentarios_dejados {
font-size:25px;
text-align:center;
text-decoration:none;
font-weight:700;
}

.yaprobaste {
font-size:12px;
text-align:center;
text-decoration:none;
font-weight:700;
}

.titulo_ficha {
font-size:25px;
font-weight:700;
float:center;
}

.espere5 {
font-size:12px;
font-weight:700;
float:center;
margin-top:5px;
}

.click_manual {
text-decoration:underline;
color:#000;
font-size:12px;
font-weight:700;
}

.click_ayuda {
text-decoration:none;
color:#000;
font-size:12px;
font-weight:700;
}

div#pie img {
vertical-align:middle;
}

.highslide-html-content {
position:absolute;
display:none;
}

.highslide-loading {
display:block;
color:#000;
font-size:8pt;
font-family:sans-serif;
font-weight:700;
text-decoration:none;
border:1px solid #000;
background-color:#FFF;
background-image:url(highslide/graphics/loader.white.gif);
background-repeat:no-repeat;
background-position:3px 1px;
padding:2px 2px 2px 22px;
}

a.highslide-credits,a.highslide-credits i {
color:silver;
text-decoration:none;
font-size:10px;
padding:2px;
}

a.highslide-credits:hover,a.highslide-credits:hover i {
color:#FFF;
background-color:gray;
}

.highslide-wrapper .highslide-html-content {
width:400px;
height:400px;
padding:5px;
}

.highslide-wrapper .highslide-header ul {
text-align:right;
margin:0;
padding:0;
}

.highslide-wrapper .highslide-header ul li {
display:inline;
padding-left:1em;
}

.highslide-wrapper .highslide-header a {
font-weight:700;
color:gray;
text-transform:uppercase;
text-decoration:none;
}

.highslide-wrapper .highslide-footer {
height:11px;
}

.highslide-wrapper .highslide-footer .highslide-resize {
float:right;
height:11px;
width:11px;
background:url(highslide/graphics/resize.gif);
}

.highslide-resize {
cursor:nw-resize;
}

.highslide-display-block {
display:block;
}

#contenedor_foro {
text-align:left;
width:700px;
background-color:#F9F9F9;
margin:0 auto;
}

.fecha {
float:left;
width:700px;
height:20px;
padding-top:5px;
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#F9F9F9;
font-weight:700;
background:url(titulo.jpg) top center;
}

.cita {
float:right;
height:25px;
width:290px;
text-align:top;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background-color:#F9F9F9;
}

.datos {
float:left;
width:150px;
background-color:#F9F9F9;
font-family:verdana;
font-size:11px;
text-align:center;
}

.mensaje {
float:left;
width:550px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
overflow:hidden;
background-color:#F9F9F9;
display:block;
}

#primer_msg {
position:static;
float:left;
text-align:center;
width:695px;
height:auto;
margin-left:25px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
border:1px solid #000;
background-color:#FFF;
padding-left:5px;
padding-right:5px;
padding-bottom:7px;
margin-bottom:7px;
display:inline;
}

#primer_msg_categoria {
text-align:left;
margin-top:10px;
width:640px;
}

#primer_msg_titulo {
float:left;
width:640px;
margin-bottom:10px;
margin-top:10px;
}

#texto_titulo {
font-size:23px;
font-weight:700;
display:inline-block;
}

.boton_recuadro {
background-color:#E6EFF9;
text-decoration:none;
color:green;
padding:2px;
}

#primer_msg_fav {
display:none;
background-color:#FFF;
margin-left:190px;
position:absolute;
width:250px;
text-align:left;
border-style:solid;
border-width:1px;
padding:5px;
}

#favorito_boton {
width:16px;
height:16px;
display:inline-block;
margin-right:4px;
font-size:11px;
font-weight:400;
text-align:center;
}

.favorito_imagen_vacia {
width:16px;
height:16px;
background:url(img/fav_star_vacia.png) no-repeat center;
}

.favorito_imagen_vacia:hover {
background:url(img/fav_star_bordedorado.png) no-repeat center;
}

.favorito_imagen_rellena {
width:16px;
height:16px;
background:url(img/fav_star_rellena.png) no-repeat center;
}

.nick_favpopup {
text-decoration:underline;
color:#000;
font-weight:700;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

#primer_msg_voto {
float:right;
width:50px;
height:60px;
padding-top:2px;
text-align:bottom;
font-size:14px;
font-weight:700;
color:#FFF;
background:url(votos.jpg) no-repeat top center;
}

#primer_msg_votar {
margin-top:15px;
height:20px;
}

#primer_msg_datos {
position:static;
text-align:center;
width:630px;
margin-top:3px;
}

#primer_msg_mensaje {
text-align:center;
width:620px;
}

#foro_ir_a {
float:left;
text-align:left;
width:695px;
margin-left:30px;
font-weight:700;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
}

#foro_ir_ultima {
float:left;
text-align:right;
width:695px;
margin-left:30px;
font-weight:700;
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
}

.link_vertodo_foro {
text-decoration:underline;
color:#000;
}

.quote {
float:left;
width:545px;
position:relative;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#000;
background-color:#EEE;
margin:0 0 15px;
padding:0;
}

.link_foro:hover {
text-decoration:underline;
color:red;
font-weight:700;
}

.link_foro {
text-decoration:underline;
color:#000;
font-weight:700;
}

.nick_foro {
text-decoration:none;
color:#000;
font-weight:700;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

.publicar_rta {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
text-decoration:none;
font-weight:700;
color:#000;
}

#prog_detalle {
float:left;
text-align:left;
background:#FFF;
width:660px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-left:60px;
margin-bottom:30px;
}

#prog_fila {
padding:5px;
}

#reg_menu_detalle {
text-align:left;
padding-left:10px;
background:url(titulo.jpg) repeat top center;
height:26px;
width:700px;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFF;
}

#reg_detalle {
text-align:center;
background-color:#F9F9F9;
width:700px;
height:900px;
font-family:Arial, Helvetica, sans-serif;
margin-bottom:30px;
padding:5px;
}

#reg_tabla {
float:left;
width:520px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
margin-left:90px;
display:inline;
}

#reg_fila {
float:left;
width:520px;
height:25px;
font-size:14px;
font-weight:700;
border:3px solid #FFF;
background:#E5E5E5;
padding:5px;
}

#reg_fila:hover {
background:#F3F3F3;
}

#reg_columna {
float:left;
width:247px;
height:25px;
}

#reg_detalle_exitoso {
text-align:center;
width:700px;
height:350px;
font-family:Arial, Helvetica, sans-serif;
margin-bottom:30px;
background-color:#F9F9F9;
padding:5px;
}

#reg_exitoso {
float:center;
text-align:left;
width:680px;
height:auto;
font-size:15px;
border:1px solid #FFF;
font-weight:700;
padding:10px;
}

#reg_text {
float:left;
width:600px;
margin-left:52px;
margin-top:15px;
height:auto;
background-color:#E5E5E5;
}

#home_menu_chico {
text-align:left;
padding-left:10px;
background:url(titulo.jpg) repeat top center;
height:26px;
width:200px;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFF;
}

#home_detalle222 {
text-align:center;
width:200px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-bottom:30px;
background:#FFF none repeat scroll 0 0;
padding:5px;
}

#home_detalle333 {
float:center;
width:200px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
background:#FFF;
}

#micuenta_detalle {
text-align:center;
width:700px;
height:1000px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
margin-bottom:30px;
background-color:#F9F9F9;
padding:5px;
}

#micuenta_detalle_log {
text-align:center;
width:700px;
height:260px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
margin-bottom:30px;
background-color:#F9F9F9;
padding:5px;
}

#micuenta_separador {
float:left;
width:500px;
height:15px;
}

#micuenta_columnax4 {
float:left;
width:140px;
height:25px;
}

#micuenta_fila_abajo {
float:left;
width:600px;
margin-left:30px;
height:25px;
padding:5px 5px 5px 40px;
}

#serie_fila {
margin-left:5px;
margin-right:5px;
padding:5px;
}

#serie_detalle {
float:left;
text-align:left;
width:660px;
font-weight:700;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
margin-left:60px;
margin-bottom:30px;
background:#F9F9F9;
}

div.pagination {
position:relative;
font-family:Arial, Helvetica, sans-serif;
float:right;
font-size:11px;
margin-right:30px;
margin-top:10px;
text-align:right;
color:#000;
padding:3px;
}

div.pagination a {
margin-right:2px;
border:1px solid #9aafe5;
background-color:#FFF;
text-decoration:none;
color:#000;
padding:3px 6px;
}

div.pagination a:hover,div.pagination a:active {
border:1px solid #000;
background-color:#EBEBFB;
}

div.pagination span.current {
margin-right:2px;
border:1px solid #000;
background-color:#2e6ab1;
color:#FFF;
padding:3px 6px;
}

div.pagination span.disabled {
margin-right:2px;
border:1px solid #e1e4ce;
color:#e1e4ce;
background-color:#e1e4ce;
display:none;
padding:3px 6px;
}

#foro_tema_menu {
float:left;
background:url(titulo.jpg) repeat top center;
height:22px;
width:650px;
text-align:left;
margin-left:60px;
margin-top:15px;
padding-top:2px;
background-color:#f6f7eb;
}

#foro_tema_principal {
margin-left:60px;
float:left;
width:650px;
text-align:left;
padding-top:4px;
}

#foro_tema_ficha {
margin-left:60px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:650px;
text-align:center;
padding-top:4px;
height:auto;
background-color:#F9F9F9;
}

#foro_tema_img {
float:left;
text-align:center;
width:30px;
height:25px;
padding-top:10px;
padding-right:8px;
}

#foro_tema_detalle {
float:left;
text-align:left;
width:400px;
height:auto;
}

#foro_tema_datos {
float:left;
text-align:bottom;
width:200px;
height:50px;
padding-left:10px;
}

.link_foro_tema {
color:#000;
text-decoration:none;
font-size:12px;
font-weight:700;
}

.titulo_menu_foro_tema {
text-decoration:none;
color:#fff;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:700;
padding-left:5px;
padding-top:5px;
margin-top:5px;
}

#ultimos_foros {
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
padding-left:0;
margin-left:60px;
width:660px;
height:auto;
background-color:#F9F9F9;
}

#ultimos_foros_top {
float:left;
width:660px;
height:55px;
margin-left:60px;
background-color:#F9F9F9;
}

#ultimos_foros_cat {
float:left;
text-align:right;
font-size:11px;
font-weight:700;
width:650px;
padding-right:4px;
padding-top:1px;
padding-bottom:3px;
background-color:#F9F9F9;
}

#ultimos_foros_renglon {
float:left;
width:645px;
height:auto;
margin-left:5px;
background-color:#F9F9F9;
padding:3px;
}

#ultimos_foros_titulo {
float:left;
text-align:left;
width:470px;
height:14px;
margin-left:10px;
padding-bottom:2px;
}

#ultimos_foros_datos {
float:right;
text-align:right;
width:600px;
height:14px;
padding-bottom:2px;
}

#ultimos_foros_img {
float:left;
width:25px;
}

#forosxuser_renglon {
float:left;
width:645px;
height:auto;
font-size:11px;
margin-left:5px;
background-color:#F9F9F9;
padding:3px;
}

#forosxuser_mensaje {
float:left;
width:640px;
text-align:left;
height:auto;
margin-left:5px;
padding:3px;
}

#foroxuser_titulo {
float:left;
text-align:left;
width:550px;
height:14px;
margin-left:10px;
padding-bottom:2px;
}

#foroxuser_datos {
float:right;
text-align:right;
width:600px;
height:14px;
margin-top:3px;
padding-bottom:2px;
}

.cita_foroxuser {
float:left;
width:624px;
text-align:top;
margin-bottom:5px;
font-family:Arial, Helvetica, sans-serif;
background-color:#E0E0E0;
padding:6px;
}

#agregaf_detalle_log {
text-align:center;
width:650px;
height:260px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
margin-bottom:30px;
background-color:#F9F9F9;
}

#agregaf_detalle {
float:left;
text-align:center;
background-color:#F9F9F9;
width:660px;
font-weight:700;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin-left:60px;
margin-bottom:30px;
}

#drdivx_menu_detalle {
float:left;
text-align:left;
padding-left:10px;
background:url(titulo.jpg) repeat top center;
height:26px;
width:650px;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFF;
margin-top:30px;
margin-left:60px;
}

#drdivx_menu_renglon {
float:left;
width:645px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:left;
height:auto;
margin-left:5px;
margin-bottom:15px;
background-color:#F9F9F9;
padding:10px 3px;
}

#drdivx_menu_datos {
float:left;
width:635px;
font-size:11px;
text-align:right;
height:auto;
padding-right:10px;
margin-right:35px;
font-weight:700;
}

#drdivx_menu_separador {
float:left;
width:635px;
height:1px;
margin-top:15px;
margin-right:35px;
font-weight:700;
background-color:#000;
}

#upload_contenedor {
float:left;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
padding-left:0;
margin-left:60px;
width:660px;
height:auto;
background-color:#F9F9F9;
}

#tabla_upload {
float:left;
width:500px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
margin-left:22px;
display:inline;
}

#columna_upload {
float:left;
width:280px;
height:25px;
}

#fila_upload {
float:left;
width:600px;
font-size:14px;
font-weight:700;
border:3px solid #FFF;
background-color:#E5E5E5;
padding:5px;
}

#fila_upload_auto {
float:left;
width:600px;
height:auto;
font-size:14px;
font-weight:700;
border:3px solid #FFF;
background-color:#E5E5E5;
padding:5px;
}

#fila_upload_final {
float:left;
margin-top:10px;
margin-bottom:30px;
width:600px;
font-size:14px;
font-weight:700;
padding:5px;
}

#pop_upcoment {
float:left;
width:380px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-top:7px;
padding:4px;
}

#pop_upcoment_der {
float:left;
width:370px;
font-weight:700;
text-align:right;
}

#pop_reglas_sub {
float:left;
text-align:center;
width:370px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:700;
}

#pop_reglas_sub2 {
float:left;
text-align:left;
width:370px;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-top:7px;
}

#perfil {
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-left:60px;
margin-bottom:20px;
width:660px;
height:auto;
background-color:#F9F9F9;
}

#perfil_izq {
float:left;
width:200px;
padding-top:10px;
}

#perfil_der {
float:left;
padding-top:20px;
margin-left:15px;
width:420px;
}

#perfil_reng {
margin-top:4px;
text-align:left;
width:370px;
background-color:#F1F1F1;
padding:4px;
}

#perfil_botones {
float:left;
text-align:left;
padding-left:80px;
margin-top:10px;
}

#perfil_submit {
float:left;
width:100px;
}

#perfil_mensaje {
float:left;
text-align:left;
margin-top:20px;
margin-left:10px;
width:640px;
height:auto;
}

#perfil_mensajes {
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin-left:60px;
margin-top:20px;
margin-bottom:20px;
width:660px;
height:auto;
}

#perfil_mensajes_datos {
text-align:right;
float:right;
font-weight:700;
height:auto;
}

#perfil_mensajes_renglon_priv {
text-align:left;
float:left;
width:640px;
margin-bottom:10px;
height:auto;
background-color:#F1F1F1;
padding:5px;
}

#perfil_mensajes_renglon_pub {
text-align:left;
float:left;
width:640px;
margin-bottom:10px;
height:auto;
padding:5px;
}

#perfil_borrar_msje {
float:right;
margin-left:2px;
}

#tags_detalle {
float:left;
text-align:center;
width:640px;
font-family:Arial, Helvetica, sans-serif;
margin-left:60px;
margin-bottom:30px;
background:#F9F9F9;
padding:10px;
}

#pie {
float:left;
width:950px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-top:60px;
margin-bottom:10px;
margin-left:10px;
text-align:center;
}

#legal {
float:left;
text-align:left;
width:640px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
margin-left:60px;
margin-bottom:30px;
background:#F9F9F9;
padding:10px;
}

#contactenos {
float:left;
text-align:center;
width:640px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
margin-left:60px;
margin-bottom:30px;
background:#F9F9F9;
padding:10px;
}

#menu_largo_chat {
background:url(titulo.jpg) repeat top center;
float:left;
text-align:left;
margin-left:20px;
width:690px;
height:23px;
padding-left:4px;
padding-top:3px;
margin-top:20px;
}

#chat_home {
float:left;
margin-left:20px;
height:auto;
width:690px;
background-color:#F9F9F9;
}

#chat_reng {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
float:left;
height:auto;
width:650px;
margin-left:7px;
margin-top:7px;
background-color:#F2F2F2;
padding:4px;
}

#chat_der {
float:left;
text-align:right;
width:650px;
}

.cita_chat {
float:left;
width:646px;
text-align:top;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
background-color:#F9F9F9;
}

#banner_728x90_top {
float:left;
font-family:Arial, Helvetica, sans-serif;
margin-left:10px;
height:105px;
width:728px;
font-size:10px;
margin-bottom:10px;
}

#banner_160x600_top {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:160px;
text-align:center;
float:left;
}

#banner_160x600_trans {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:151px;
margin-bottom:15px;
text-align:center;
float:left;
padding:5px;
}

#banner_sasori {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:160px;
text-align:center;
margin-bottom:15px;
float:left;
}

#detalle_referer {
margin-left:40px;
float:left;
width:680px;
text-align:left;
margin-bottom:45px;
background-color:#F9F9F9;
}

#menu_referer {
float:left;
text-align:left;
padding-left:10px;
height:24px;
font-weight:700;
width:670px;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
color:#000;
padding-top:2px;
margin-left:40px;
}

#ad_code {
width:336px;
text-align:center;
background:#EFEFEF url(img/fondoads.png) center center no-repeat;
padding:14px 22px 22px 12px;
}

.boton_denuncia {
cursor:pointer;
}

#fb-float-like {
background:none repeat scroll 0 0 #FFF;
border:5px solid #3e6898;
border-radius:10px 10px 10px 10px;
float:right;
margin-right:65px;
margin-top:40px;
padding:5px;
}

#fb-float-like-container {
position:absolute;
width:695px;
z-index:1;
visibility:hidden;
}

#fb-float-like.right:before {
bottom:auto;
left:auto;
right:55px;
top:45px;
border-color:transparent #3e6898;
border-width:15px 0 15px 15px;
}

#fb-float-like:before {
bottom:-20px;
content:"";
display:block;
left:40px;
position:absolute;
width:0;
border-color:#3e6898 transparent;
border-style:solid;
border-width:20px 20px 0;
}

#fb-float-like.right:after {
bottom:auto;
left:auto;
right:61px;
top:51px;
border-color:transparent #FFF;
border-width:9px 0 9px 9px;
}

#fb-float-like:after {
bottom:-13px;
content:"";
display:block;
left:47px;
position:absolute;
width:0;
border-color:#FFF transparent;
border-style:solid;
border-width:13px 13px 0;
}

INPUT,SELECT {
font-family:Arial, Helvetica, sans-serif;
font-size:8pt;
}

#contenedor_interno,#detalle_contenedor {
position:static;
float:left;
text-align:center;
width:970px;
margin-bottom:15px;
font-family:Arial, Helvetica, sans-serif;
}

#contenedor_izq,#cont_home_izq {
float:left;
width:750px;
}

.fuente2,#arriba-item a:hover,.highslide-wrapper .highslide-header a:hover {
color:#000;
}

.fuente_roja,.link2:hover,.link4:hover,.loguearse_olvido:hover,.nick_favpopup:hover {
color:red;
}

.fuente_blanca,.titulo_menu_izq {
text-decoration:none;
color:#fff;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
margin-top:5px;
}

.titulo_menu_izq2 {
text-decoration:none;
color:#fff;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:700;
margin-top:5px;
}

.link1,.foro_home_datos,.detalle_link,.ir_ultima {
color:#000;
text-decoration:none;
}

.link1:hover,.link3:hover,.titulo_menu_izq:hover,.titulo_menu_izq_vertodo:hover,.foro_home:hover,.foro_home_datos:hover,.foro_home_vertodos:hover,.txtcuadrados_izq:hover,.detalle_link:hover,.datos_foro:hover,.publicar_rta:hover,.ir_ultima:hover,.link_foro_tema:hover,.titulo_menu_foro_tema:hover {
text-decoration:underline;
}

.link4,.item-notificacion a,.datos_foro {
text-decoration:none;
color:#000;
}

.item-notificacion:hover .notif-unsub-x,.notif-unsub-x:hover + #cancel-subscription {
visibility:visible;
}

#menu-lc-itemcat a,.buscador_arriba_select,.buscador_arriba {
font-size:12px;
}

.logo,#lista_categorias {
float:left;
}

#foro_home_renglon:hover,#cuadrados_izq_reng:hover,#detalle_comentarios:hover,#detalle_puntos:hover,#prog_fila:hover,#serie_fila:hover,#foro_tema_ficha:hover,#ultimos_foros_renglon:hover,#forosxuser_renglon:hover,#drdivx_menu_renglon:hover,#pop_upcoment:hover,#perfil_reng:hover,#perfil_mensajes_renglon_priv:hover,#perfil_mensajes_renglon_pub:hover,#chat_reng:hover {
background-color:#EBEBFC;
}

.result_busc_paginacion,.result_busc3 {
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#detalle_calificar,#loguearse_user_pass {
text-align:center;
width:650px;
}

.click_manual:hover,.click_ayuda:hover,.link_vertodo_foro:hover {
text-decoration:underline;
color:red;
}

.loguearse_olvido,.progs_link {
text-decoration:none;
color:#000;
font-weight:700;
}

.highslide-html,.highslide-wrapper {
background-color:#FFF;
}

.highslide-wrapper .highslide-header ul li.highslide-previous,.highslide-wrapper .highslide-header ul li.highslide-next,.highslide-display-none,#cambio_titulo {
display:none;
}

.highslide-wrapper .highslide-header .highslide-move a,.highslide-move {
cursor:move;
}

.nick_foro:hover,.progs_link:hover {
text-decoration:underline;
font-weight:700;
}

#prog_menu_detalle,#perfil_menu {
float:left;
text-align:left;
padding-left:10px;
background:url(titulo.jpg) repeat top center;
height:26px;
width:650px;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#FFF;
margin-left:60px;
}

#reg_text:hover,#fila_upload:hover,#reg_fila_upload_auto:hover,#pop_reglas_sub2:hover {
background-color:#F3F3F3;
}