#filtros{
background-color: #EFEFEF;
float:left;
text-align:left;
padding-right:2px;
margin-left: 20px;
height:28px;
visibility: hidden;
}

#lista_filtros li {
	width: 26px;
	height: 26px;
	/*background: #fff;*/
	/*border: #000 solid 1px;*/
}


#titulo_filtros {
background: url(titulo.jpg) repeat top center;
height: 20px;
text-align:left;
width:690px;
padding-left:4px;
color:#ffffff;
}

#iconos_filtros{
margin-top: 2px;
margin-bottom: 2px;
}