@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latoregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


html,body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body{
    overflow-x: hidden;
}

a{color: #007BA1;}

/* TOP-BAR 
  ================================================== */

.top-bar{
    border-bottom: 1px solid #EEE;
    padding: 8px 0;
}

.social{
    padding: 0;
    margin-bottom: 30px;
    margin-top: 10px;
}

.social li{
    list-style: none;
    display: inline;
    margin-right: 12px;
}

.social li a{
    color: #CCC;
    border-radius:50%;
    border:1px solid #CCC;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.social li a:hover,.social li a:focus{
    color: #FFF;
    background-color: #dc7c26;
    border-color: #dc7c26;
}

.btn-privada,.english{
    color: #888;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    text-align: right;
    float: right;
}

.btn-privada i{
    margin-right: 3px;
}

.btn-privada:hover,.btn-privada:focus,.english:hover,.english:focus{
    color:#dc7c26;
    text-decoration: none;
}

.login{
    display: none;
    position: absolute;
    z-index: 999999;
    right: 51px;
    background-color: #FFF;
    padding: 20px 30px;
    top: 29px;
    box-shadow: 0px 4px 10px #333;
}

.login:before{
    font-family: FontAwesome;
    content: "\f0d8";
    position: absolute;
    top: -13px;
    left: 100px;
    color:#CCC;
}

.form-control:focus{
    border-color: #dc7c26;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(220,124,38,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(220,124,38,.6);
}

button{
    width: 100%;
    background-color: #565a5c;
    border:none;
    color: #FFF;
    padding: 10px;
    background-position: -30px center;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

button:hover{
    background-color: #dc7c26;
    border-radius: 20px 0 20px 0;
    background-image: url('../img/img-btn.png');
    background-position: 15% center;
    background-repeat: no-repeat;

}

.english{
    margin-left: 60px;
}

.logo-wrapper{
    float: left;
    min-width: 140px;
}

img.logo{
    padding: 14px 0;
    width: 119px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

img.logo.sticky{
    width: 75px;
}

/* MENU
  ================================================== */
nav.menu-wrapper{
    float:right;
}

.gradient{
    position: relative;
    z-index: 10;
    background-color: transparent;
    background-image: none, linear-gradient(to top, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.6) 20px, rgba(255, 255, 255, 0.7) 30px, rgba(255, 255, 255, 0.85) 40px, rgba(255, 255, 255, 0.95) 50px, rgba(255, 255, 255, 0.99) 60px, #ffffff 70px);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: #FFF\9;
}

.gradient.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: #FFF;
}

.gradient.sticky.mini{
    background-color:rgba(255,255,255,0.7);
    box-shadow: 0px 0px 30px #777;
}

#menu-principal.sticky ul li{
    padding: 15px 0;  
    position: relative;  
}

#menu-principal.sticky .menuSlider{
    top: 33px!important;
}

.menuSlider{
    top: 60px!important;
}

#menu-principal{
    float: right;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#menu-principal ul{
    margin: 0;
    padding: 0;
}

#menu-principal ul li{
    display: inline-block;
    margin-right: 50px;
    padding: 28px 0;
    float: left;
    position: relative;
}

li.selectedMenuItem{
    border-bottom: 2px solid #ff5a00;
}

#menu-principal ul li:last-child{
    margin-right: 0;
}

#menu-principal ul li a{
    color: #888;
    font-weight: 400;
    font-size: 16px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#menu-principal ul li a:focus,#menu-principal ul li a:active{
    text-decoration: none;
}

#menu-principal ul li.selectedMenuItem a, #menu-principal ul li a:hover{
    color: #333;
    text-decoration: none;
}

#menu-principal ul li ul{
    display: none;
    position: absolute;
    min-width: 215px;
    background-color: #FFF;
    top: 75px;
    box-shadow: 0px 13px 20px #888;
    left: 0;
    overflow: hidden;
}

#menu-principal.sticky ul li ul{
    top: 51px;
}

#menu-principal ul li:hover ul{
    display: block;
}

#menu-principal ul li ul li{
    display: block;
    margin: 0;
    width: 100%;
    padding: 0!important;
}

#menu-principal ul li ul li a{
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0px 10px 20px!important;
    font-size: 14px;
    *min-width:215px;
}

#menu-principal ul li ul li a:hover{
    background-color: #f4f4f4;
    border-left: 2px solid #FF5A00;
}

.burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  margin-top: 22px;
  display: none;
}

.gradient.sticky.mini .burger-menu{
    margin-top: 15px;
}

.burger {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 100%;
  height: 5px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
}
.burger::before {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 30px;
  height: 5px;
  top: 10px;
  content: "";
  display: block;
}
.burger::after {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 30px;
  height: 5px;
  bottom: 10px;
  content: "";
  display: block;
}
.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
.burger-menu.menu-on .burger::before{
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
  top: 0px;
}
.burger-menu.menu-on .burger{
 background: rgba(111,111,111,.0);
}


/* SLIDER
  ================================================== */

.slider{
    background-size: cover;
    margin-top: -70px;
    margin-bottom: -70px;
}

.item{
    text-align: center\9;
}

.carousel-indicators{
    bottom: 70px;
}

.carousel-control{
    font-size: 50px;
    line-height: 29px;
}

.carousel-indicators .active{
    background-color: #c9cac8;
}

.carousel-indicators{
    border-color: #c9cac8;
}

.carousel-inner>.item>img{width: 100%;}

.carousel-caption{
    top: 25%;
    max-width: 500px;
    left: 50%;
    margin-left:-250px;
    text-align: center;
}

. ie10 .carousel-caption{max-width: auto;}

.carousel-caption h1{
    background-image: url('../img/bg-grey-ie.png')\9;
    background-color: rgba(86,90,92,0.5);
    font-weight: 300;
    padding: 10px 0;
    text-shadow:none;
    font-size: 24px;
    margin: 0;
    color:#FFF;
}

.carousel-caption h2{
    background-image: url('../img/bg-white-ie.png')\9;
    background-color: rgba(255,255,255,0.7);
    color: #565a5c;
    margin: 0;
    text-shadow:none;
    font-weight: 300;
    padding: 15px 0;
    font-size: 41px;
}


.carousel-caption .cta-slide{
    background-color: rgba(86,90,92,0.7);
    background-image:url(../img/bg-grey-ie.png)\9;
    color: #FFF;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 400;
    text-shadow:none;
    display: block;
    max-width: 200px;
    margin: 30px auto 0 auto;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.carousel-caption .cta-slide:hover{
    text-decoration: none;
    background-color: #dc7c26;
    border-radius: 20px 0 20px 0;
}

.carousel-caption .cta-slide i{
    margin-left: 8px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.carousel-caption .cta-slide:hover i{
    margin-left: 18px;
}



/* SECCIONES
  ================================================== */

.gradient-bottom{
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.6) 10px, rgba(255, 255, 255, 0.7) 20px, rgba(255, 255, 255, 0.85) 30px, rgba(255, 255, 255, 0.95) 40px, rgba(255, 255, 255, 0.99) 50px, #ffffff 0px);
    background-position: center top;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 0 -1px 0 0 rgba(5, 38, 57, 0.05);
    position: relative;
    height: 100px;
    display: none\9;
}

#main section{padding: 100px 0}

#main{
    margin-top: 100px\9;
}

. ie10 #main{
margin-top: 100px;
}

.title-section{
    text-align: center;
    margin: 0 auto;
    color: #565a5c;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.separator{
    background-image:url('../img/separador.png');
    width: 289px;
    height: 49px;
    margin: 20px auto;
}

.separator-blank{
    margin: 20px 0;
}

.intro{
    text-align: center;
    max-width: 640px;
    margin: 0 auto 40px auto;
    color: #565a5c;
    font-size: 15px;
    line-height: 25px;
}


/* SERVICIOS
  ================================================== */

#servicios{
    padding-top: 0!important;
    margin-top:100px\9;
}

.service-box{
    position: relative;
    padding-bottom: 30px;
    padding-top: 15px;
    background-size: 100% 100%;
    background-position: center center;
    width: 25%;
    float: left;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.service-box img{
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.service-box:after{
    content: url('../img/right-line.png');
    position: absolute;
    right: -1px;
    top: 40px;
}


.service-box:before{
    content: url('../img/bottom-line.png');
    position: absolute;
    bottom: -6px;
    left: 58px;
    margin: 0 auto;
}

.servicios2 .service-box:before{display: none}

.service-box:hover,.service-box:focus{
    text-decoration: none;
}

.service-box:hover img{
    -webkit-transform: rotate3d(0,1,0,-360deg);
    -moz-transform: rotate3d(0,1,0,-360deg);
    -ms-transform: rotate3d(0,1,0,-360deg);
    -o-transform: rotate3d(0,1,0,-360deg);
    transform: rotate3d(0,1,0,-360deg);
}

.service-box .icono{
    text-align: center;
    font-size: 80px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.service-box.ecommerce .icono{color: #dc7c26;}
.service-box.fraude .icono{color: #565a5c;}
.service-box.innovacion .icono{color: #ffb612;}
.service-box.sanitaria .icono{color: #8b8d8e;}
.service-box.dispositivos .icono{color: #007ca2;}
.service-box.movilidad .icono{color: #79a503;}
.service-box.otros-servicios .icono{color: #c9cac8;}

.service-box .icono img{margin-bottom: 4px;}

.service-box h3{
    text-align: center;
    color: #565a5c;
    font-size: 20px;
    margin-top: 8px;
    font-weight: 400;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.service-box p{
    text-align: center;
    color: #777;
    padding:  0 10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}



.service-box.innovacion:after,.service-box.otros-servicios:after{display: none;}



.service-box.ecommerce:hover,.service-box.ecommerce:focus{background-color:#DC7B24;color:#FFF;}
.service-box.fraude:hover,.service-box.fraude:focus{background-color: #353E48;color:#FFF;}
.service-box.iupay:hover,.service-box.iupay:focus{background-color: #354647;color:#FFF;}
.service-box.innovacion:hover,.service-box.innovacion:focus{background-color: #ffb612;color:#FFF;}
.service-box.sanitaria:hover,.service-box.sanitaria:focus{background-color: #007CA2;color:#FFF;}
.service-box.dispositivos:hover,.service-box.focus:hover{background-color: #007ca2;color:#FFF;}
.service-box.movilidad:hover,.service-box.movilidad:focus{background-color: #6EB77F;color:#FFF;}
.service-box.otros-servicios:hover,.service-box.otros-servicios:focus{background-color: #888;color:#FFF;}
.service-box.comercio-electronico:hover,.service-box.comercio-electronico:focus{background-color: #F77B55;color:#FFF;}

.service-box:focus p, .service-box:focus h3{
    color: #FFF!important;
}

/*.service-box.comercio-electronico h3{color: #F77B55}
.service-box.ecommerce h3{color: #E8872A}
.service-box.fraude h3{color: #474f59}
.service-box.innovacion h3{color: #ffb612}
.service-box.sanitaria h3{color: #007CA2}*/

.service-box:hover h3, .service-box:hover p,.service-box:hover h3, .service-box:hover .icono{
    color: #FFF;
}

.desplegable{
    display: none;
}

.desplegable .container{
    background-color: #f4f4f4;
    border: 1px solid #EEE;
    padding: 30px;
}

.desplegable p{
   color:#565a5c; 
}

.grafico{
    max-width: 100%;
    display: block;
}

.service-box.activo:before{
    content: url('../img/service-active.png');
    position: absolute;
    bottom: -6px;
    left: 127px;
    margin: 0 auto;
    display: block;
}

.mas{
    float: left;
    margin: 8px 0!important;
    padding: 12px 40px!important;
    background-position: -10px center;
    background-color: #565a5c;
}

.mas:hover{
    background-image: url('../img/img-btn.png');
    background-position: 10% center;
    background-repeat: no-repeat;
}

.mas i{
    margin-left: 7px;
}



/* DESCARGAS
  ================================================== */
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{
    background-color: #f4f4f4;
}
.tabla-descargas tr th{
    text-align: center;
    color: #565a5c;
}

.tabla-descargas tbody tr td{
    padding: 15px 0;
}

td.descargar,td.ver-video{
    text-align: center;
}

.iupay-descargas{
    max-width: 48px;
    margin-left: 7px;
}

.logo-plataforma{
    display: block;
    margin: 0 auto;
}

.descargar{
    text-align: center;
}

.descargar a{
    color: #565a5c;
    font-size: 12px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.descargar a:hover,.ver-video a:hover,.descargar a:focus,.ver-video a:focus{
    text-decoration: none;
}

.descargar a:hover i{
    text-decoration: none;
    color: #dc7c26;
}

.descargar a i{
    color:#b7b7b7;
    font-size: 20px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

tr.descarga-api td{
    text-align:center!important;
    vertical-align: middle!important;
}

.api-title{background-color:#f4f4f4;border-right:1px solid #DDD}

.ver-video{
    text-align: center;
}

.ver-video a{
    color: #565a5c;
    padding-top: 14px;
    display: block;
}

.ver-video a i{
    color: #b7b7b7;
    font-size: 18px;
    margin-left: 5px;
}

.ver-video a:hover i{
    text-decoration: none;
    color: #dc7c26;
}


/* MANUALES TPV
  ================================================== */
.stripe-manuales{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:50% 50%\9 !important;
    background-position: 50% 50%;
    background-image: url(../img/parallax-tpv.jpg);
    -moz-box-shadow: inset 0 22px 40px #999;
    -webkit-box-shadow: inset 0 22px 40px #999;
    box-shadow: inset 0 22px 40px #999;
}

.boton-descarga{
    padding: 15px;
    display: block;
    margin: 0 auto;
    max-width: 190px;
    text-align: center;
    color: #FFF;
    background-color: rgba(86,90,92,0.7);
    margin-top: 40px;
    background-image:url(../img/bg-grey-ie.png)\9;
    background-position: -10px center;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.boton-descarga:hover,.boton-descarga:focus{
    background-color: #dc7c26;
    color: #FFF;
    text-decoration: none;
    border-radius: 20px 0 20px 0;
    background-image: url('../img/img-btn.png');
    background-position: 10% center;
    background-repeat: no-repeat;
}

.white{color:#FFF; }


/* FORMULARIO
  ================================================== */

.contacto,.datos-contacto{
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.contacto input,.contacto textarea{
    margin-bottom: 15px;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    padding: 0;
}

.contacto input:focus,.contacto textarea:focus{
    border-bottom:2px solid #dc7c26;
    box-shadow: none;
}

.contacto button{
    width: 100%;
    background-color: #565a5c;
    border:none;
    color: #FFF;
    padding: 10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.contacto button:hover{
    background-color: #dc7c26;
    border-radius: 20px 0 20px 0;

}

.datos-contacto h4{
    border-bottom: 1px solid #CCC;
    padding-bottom: 6px;
    font-weight: 300;
    color:#565a5c;
}


.datos-contacto p{
    color: #8b8d8e;
    font-size: 16px;
}

.datos-contacto p i{
    color: #565a5c;
    margin-right: 12px;
}

/*.datos-contacto i{
    display: block;
    font-size: 35px;
}*/

.datos-contacto a{
    color: #555;
    display: block;
    margin-top: 15px;
    font-size: 14px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.datos-contacto a:hover{
    text-decoration: none;
}

/*.datos-contacto:hover{
    border-radius: 20px 0;
    color: #FFF;
    background-color: #555555;
}*/

.datos-contacto:hover > a{
    color: #FFF;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
    background: url('../img/loader.gif') 50% 50% no-repeat #FFF;
}


/* FOOTER
  ================================================== */
  footer{
    background-color: #8b8d8e;
    border-top: 4px solid #eeeeee;
    padding: 40px 0;
    text-align: center;
    color: #EEE;
    font-size: 13px;
  }

  footer p a{color:#AAA;}
  footer p a:hover{color: #FFF;}

  footer p i{
    color: #BFBFBF;
    margin-right: 6px;
    margin-left: 15px;
  }

  footer p.copy{
    color: #BFBDBD;
  }

/* GENERICOS
  ================================================== */
.bg-section{
    background-color: #f4f4f4;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 80px 0!important;
}

.close{
    margin-top: -15px;
    margin-bottom: 10px;
    float: right;
}

.margin-top{
    margin-top: 40px;
}

.padding-bottom{
    padding-bottom: 250px!important;
}

img{max-width: 100%;}


.parallax-top{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:50% 50%\9 !important;
    background-position: 50% 50%;
    padding: 220px 0 150px 0;
    margin-top: -70px;
}

.cover-ecommerce{
    background-image: url(../img/cover-ecommerce.jpg);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.cover-salud{
    background-image: url(../img/cover-salud.jpg);
}

.cover-entidades{
    background-image: url(../img/cover-entidades.jpg);
}

.cover-quienes{
    background-image: url(../img/cover-quienes.jpg);
    padding: 300px 0;
}

.cover-movilidad{
    background-image: url(../img/cover-movilidad.jpg);
    padding: 300px 0;
}

.cover-laboratorio{
    background-image: url(../img/cover-laboratorio.jpg);
    padding: 250px 0;
}

.cover-otros{
    background-image: url(../img/cover-otros.jpg);
    padding: 300px 0;
}

.cover-quienes h1,.cover-otros h1, .cover-movilidad h1{
    color: #FFF;
    text-align: center;
    letter-spacing: 20px;
    text-shadow:0px 0px  10px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#555,direction=0);
}

.cuadro-top{
    background-image: url(../img/bg-grey-ie.png);
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    padding: 40px 20px;
}

.cuadro-top h1{
    font-weight: 300;
    font-size: 26px;
    color: #DC7C1A;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 10px;
    margin-bottom: 10px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#555,direction=0);
}

.cuadro-top h2{
    color: #FFF;
    font-weight: 300;
    font-size: 22px;
    margin-top: 0;
    text-shadow: 1px 1px 1px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#555,direction=0);
}

.cuadro-top p{
    color: #FFF;
    font-size: 17px;
    line-height: 28px;
    text-shadow: 1px 1px 1px #000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#555,direction=0);
}

ul.bullets{
    list-style-image: url('../img/bullet-n.png');
}

ul.bullets li{
    margin-bottom: 15px;
}

.img-grafico{
    display: block;
    margin: 20px auto;
}


/* COMERCIO ELECTRÓNICO
  ================================================== */
.servicios-ecommerce{
    width: 100%;
    margin-bottom: 50px;
}

.servicios-ecommerce a{
    width: 20%;
    *width: 19.9%;
    display: block;
    float: left;
    text-align: center;
    padding: 20px 0;
    color: #FFF;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.servicios-ecommerce a:hover,.servicios-ecommerce a:focus{
    text-decoration: none;
    margin-top: -10px;
    padding-bottom: 40px;
}



.servicios-ecommerce a i{
    font-size: 28px;
    margin-bottom: 10px;
}

#conexiones{
    background-color:#DC7C26;
}

#oneclic{
    background-color: #FFB612;
}

#personalizacion{
    background-color: #007CA2;
}

#mod-administracion{
    background-color: #79A503;
}

#fraudeec{
    background-color: #9E9E9E;
}


.subapartado{
    padding-top: 160px;
    color: #FFF;
    display: none;
    height: 420px;
}

.subapartado .separator{
    margin: 10px auto;
}

.subapartado h3{
    font-weight: 300;
    font-size: 19px;
    max-width: 730px;
    margin: 10px auto 0 auto;
    text-transform: uppercase;
}

.subapartado h4{
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 300;
}

.subapartado p{
text-align: center;
    padding: 0 15px;
}

.subapartado .boton-descarga{
    margin:20px auto;
}

/*.conexiones h3 span, .conexiones h4 span{color: #DC7C26}
.conexiones p strong{color: #DC7C26}
.oneclick h3 span, .oneclick h4 span{color: #FFB612}
.oneclick p strong{color: #FFB612}
.personalizacion h3 span, .personalizacion h4 span{color: #007CA2;text-shadow: 1px 1px 0px #000;}
.personalizacion p strong{color: #007CA2;text-shadow: 1px 1px 0px #000;}
.mod-administracion h3 span, .mod-administracion h4 span{color: #79A503}
.mod-administracion p strong{color: #79A503}
.fraudeec h3 span, .fraudeec h4 span{color: #9E9E9E}
.fraudeec p strong{color: #9E9E9E}*/

.conexiones{ background-color: rgba(220, 124, 38, 0.3);}
.oneclick{background-color: rgba(255, 182, 18, 0.3);}
.personalizacion{background-color: rgba(0, 124, 162, 0.3);}
.mod-administracion{background-color: rgba(121, 165, 3, 0.3);}
.fraudeec{background-color: rgba(158, 158, 158, 0.3);}

.subapartado .span6{
    background-color: rgba(0,0,0,0.5);
}

.servicio-salud h3{
    text-align: center;
    font-weight: 300;
    margin: 0;
    color: 
}

.servicio-salud p{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.servicio-salud img{
    max-width: 300px;
}

.titulo-azul{
    color: #007CA2;
    letter-spacing: 8px;
    text-align: center;
    font-size: 28px;
}

.cover-entidades h1{
    color: #007CA2;
    letter-spacing: 8px;
    text-align: center;
    font-size: 28px;
    background-color: rgba(255,255,255,0.7);
    /* color: #444; */
    padding: 15px;
    max-width: 100%;
    margin: 0 auto;
}

.accordion-group{
    border: none;
}

.accordion-inner{
    border-top: 0;
    padding-top: 0;
    padding-left: 40px;
}


.accordion-heading .accordion-toggle{
    color: #f37240;
}

.accordion-heading{
    background-image: url("../img/icon_mas.png");
    background-repeat: no-repeat;
    background-position: 0px center;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.accordion-heading.desplegado{
    background-image: url("../img/icon_menos.png");
}

.accordion-heading .accordion-toggle{
    padding: 15px 40px;
}

.btns-entidades{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #FFF;
    display: table;
    margin: 0 auto;
    overflow: hidden;
    background-size: auto 150px;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFF;

}

.btns-entidades h2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}


.btns-entidades.emision{
    /*background-image: url("../img/grafico_emision.png");*/
    background-color: #DC7C26;
}

/*#conexiones.active:before {
    position: absolute;
    top: -20px;
    left: 0;
    margin: 0 auto;
    display: block;
    content: '\25b2';
    right: 0;
    font-size: 30px;
}

#conexiones.active:before{color:#DC7C26;}
#oneclic.active:before{color:#FFB612;}
#personalizacion.active:before{color:#007CA2;}
#mod-administracion.active:before{color:#79A503;}
#fraudeec.active:before{color:#565A5C;}*/



.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    *display: none;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap{
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    perspective: 800px;
    transition: all 0.4s ease-in-out;
    top: 20px;
    left: 20px;
    background: #DDD;
    box-shadow: 
        0 0 0 20px rgba(255,255,255,0.5), 
        inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info{
    position: absolute;
    width: 160px;
    height: 160px;
    display: block;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    transform-style: preserve-3d;
}

.ch-info > div {
    display: block;
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    backface-visibility: hidden;
    background-size: 160px;
}

.ch-img-1 .ch-info .ch-info-back{
    background: #DC7C26;
}

.ch-img-2 .ch-info .ch-info-back{
    background: #FFB612;
}

.ch-img-3 .ch-info .ch-info-back{
    background: #007CA2;
}


.ch-info .ch-info-back {
    transform: rotate3d(0,1,0,180deg);
    
}

.ch-img-1 { 
    background-image: url(../img/emision_circle.png);
}

.ch-img-2 { 
    background-image: url(../img/procesamiento_circle.png);
}

.ch-img-3 { 
    background-image: url(../img/adquirencia_circle.png);
}

.ch-info-wrap a{
    font-weight: 300;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 15px;
    height: 90px;
    font-weight:300;
    line-height: 16px;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-wrap {
    box-shadow: 
        0 0 0 0 rgba(255,255,255,0.8), 
        inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
    transform: rotate3d(0,1,0,-180deg);
}

.bullet-point{
    list-style: none;
    padding:0;
    margin:0 0 15px 0;
}

.bullet-point li { 
    padding-left: 1em; 
    text-indent: -.7em;
    margin-bottom: 4px;
}

.bullet-point li:before {
    content: "• ";
    color: #DC7C26;
}

.bullet-point li a{
    color: #000;
}

.enlace-cuentas{margin-bottom: 20px;}

.enlace-cuentas  a.boton-descarga{
    font-weight: 700;
    max-width: 300px;
    margin: 0;
}


.accordion-inner h5{margin-bottom: 0;}

.btn-actividad{
    background-color: #FFF;
    color: #dc7c26;
    border:2px solid #dc7c26;
}

.btn-actividad:hover{background-image:none;}


.img-actividad{
    display: block;
    margin: 10px auto;
}

.modal-body{
    max-height: 550px;
}

.junta{
    position: fixed;
    right: 0;
    width: 300px;
    background-color: #FFF;
    z-index: 999;
    top: 200px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(85,85,85,0.5);
    -moz-box-shadow: 0px 0px 37px 0px rgba(85,85,85,0.5);
    box-shadow: 0px 0px 37px 0px rgba(85,85,85,0.5);
}

.junta h2{
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 4px;
    line-height: 25px;
    margin: 0;
}

.junta .divisor{
    height: 2px;
    width: 60px;
    margin: 20px auto;
    background-color: #dc7c26;
}

.junta h3{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 25px;
    margin: 0;
    color: #555;
}

.junta .boton-descarga{
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
    margin-top: 25px;
}

#cookie-law { 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 9999;
    border-top: 1px solid #EEE;
}
 
#cookie-law p { 
    padding:10px; 
    font-size:14px;  
    text-align:center; 
    color:#333; 
    margin:0;
}

.close-cookie-banner ,.close-cookie-banner:hover, .close-cookie-banner:focus{
    color: #FFF;
    background-color: #333;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
}

.titulo-clientes{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

ul.clientes li{
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
    padding: 17px 0px;
    background-color: #f4f4f4;
    border: 1px solid #EEE;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

ul.clientes li:hover{
    background-color: #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

#formDescarga{
    width: 335px;
    margin-left: -167px;
}

#formDescarga .modal-header{border-bottom: none;}

#formDescarga .boton-descarga{
    margin-top: 20px;
}

#formDescarga .modal-header h3{
    text-align: center;
    font-size: 18px;
}

.modal-header .close{
    width: auto;
}

#formDescarga .modal-body p{
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    padding: 0 7px;
}

#formDescarga .modal-body p span{
    color: #dc7c26;
    font-size: 15px;
}

.modal-header .close:hover{
    background-color: #FFF;
    background-image: none;
}

#fomulario-descarga{
    width: 250px;
    margin: 0 auto;
}

#fomulario-descarga input{
    width: 100%;
    margin-bottom: 10px;
    padding-right: 0;
}

#fomulario-descarga .checkbox{
    font-size: 12px;
}

#fomulario-descarga .checkbox input[type="checkbox"]{
    width: auto;
}

p#validadorMail{
    margin-top: -5px!important;
    margin-bottom: 12px!important;
    font-size: 13px!important;
    display: none;
}

.input-ko{
    border:1px solid #d61d21!important;
}


/* MEDIA QUERIES
  ================================================== */

@media(max-width:1199px) {
    .service-box:before{left: 37px;}
    .service-box.activo:before{left: 107px;}
}

@media(max-width:1024px) {
    .carousel-caption h1{font-size: 17px;}
    .carousel-caption h2{font-size: 28px;}
    .carousel-caption .cta-slide{font-size: 16px;}
}

@media(max-width:991px) {
    .slider{margin-top: 0;margin-bottom: 0;}
    .service-box:before,.service-box:after{display: none;}
    .service-box.activo:before{left: 75px;}
    .junta{bottom: 0;right: auto;top:auto;width: 100%;padding: 15px 0}
    .junta .boton-descarga{max-width: 300px;margin: 10px auto;}
    .junta h2{font-size: 13px;letter-spacing: 2px;}
    .junta h3{font-size: 12px;}
    .junta .divisor{margin: 8px auto}
}

@media(max-width:767px) {
    body{padding-right: 0;padding-left: 0;}
    .container{padding-left: 15px;padding-right: 15px;}
    #menu-principal ul li{margin-right: 30px;}
    .gradient-bottom{display: none;}
    .service-box{padding-top: 10px;padding-bottom: 10px;}
    .service-box p{display: none;}
    .service-box h3{font-size: 12px;line-height: 15px;}
    .service-box .icono{font-size: 30px;}
    .service-box .icono img{max-width: 60px;}
    .carousel-caption h1{font-size: 11px;}
    .carousel-caption h2{font-size: 12px;}
    .carousel-caption{top: 10px;margin-left: -125px;left: 0;right: 0;margin-right: auto;margin-left: auto;max-width: 220px;position: absolute;}
    .carousel-caption .cta-slide{font-size: 13px;margin-top: 10px;}
    .grafico{margin: 15px auto;}
    .logo-plataforma{max-width: 60px;padding-top: 13px;}
    #menu-principal{display: none;}
    .tabla-descargas th{font-size: 10px;}
    .tabla-descargas tbody tr td{padding: 10px 0;}
    #menu-principal{position: absolute;background-color: #FFF;right: 0;top: 54px;box-shadow: 0px 6px 10px #333;width: 210px;}
    #menu-principal ul li,#menu-principal.sticky ul li{display: block;margin-right: 0;text-align: left;padding: 10px 20px;width: 100%;}
    .burger-menu{display: block;}
    .datos-contacto{margin-top: 50px;}
    .descargar a i{font-size: 16px;}
    .ver-video a{font-size: 12px;}
    .service-box.activo:before{display: none;}
    .desplegable img{display: none;}
    li.selectedMenuItem{border-bottom: none;position: relative;}
    li.selectedMenuItem:before{font-family: FontAwesome;content: "\f0da";color: #ff5a00;position: absolute;left: 10px;}
    #menu-principal ul li:hover ul{display: none;}
    #menu-principal ul li ul{position: relative;box-shadow: none;top: 0;left: -10px;}
    #menu-principal.sticky ul li ul{top: 0}
    #menu-principal ul li ul li:before{display: none!important;}
    .servicios-ecommerce a span{display: none;}
    .carousel-caption h1, .carousel-caption h2{line-height: 21px;}
    #formDescarga{right: 0;left: 0; margin: 0 auto;top: 70px;}

}


@media(max-width:450px) {
    .carousel-caption{top: 0;}
    .carousel-caption .cta-slide{padding: 8px;max-width: 150px;}
    .carousel-caption h2{padding: 8px 0;}
    .carousel-caption h1{padding:0;}
}
