
  body
  {
    color:black;
    overflow-x: hidden;
    overflow-y: visible;
    color:#4c4c4c
  }
  .myblack
  {
    color:black;
  }
  .vitblue
  {
    color:#3B5998;
  }
  
 .logo {
    border: 0;
  
  padding: 10px;
}
 .brand-logo {
  background-color: #3B5998;
  height: 100%;
  padding: 1px;
  z-index: 99;
}
.nav-top-fixed
{
    position: fixed;
  z-index: 999;
  top: 0;
  background-color: #3B5998;
}
.shift-events
{
  position: absolute;
  margin-left: 79%;
}
@media only screen and (min-width: 601px)
{
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
   height: 92px;
  line-height: 51px;
}
}
.navrow {
  margin-left: 188px;
}
.nav-top-padding
{
  margin-top: 20px;
 
}
nav ul a {
  color: white;
  font-size: 1.1em;
  padding: 3px 34px;
  font-weight: 500;
    padding: 0px 18px;
}
@media screen and (min-width:100px ) and (max-width: 992px)
{
  nav .nav-wrapper {
  background-color: #3B5998;
}
.nav-top-padding
{
  margin-top: 0px
}
}
 .mdi-navigation-menu:before {
  content: "\e8a1";
  padding: 18px;
}
@media only screen and (min-width: 601px) and (max-width: 992px)
{
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 105px;
  line-height: 95px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1139px)
{
  nav ul a {
  padding: 0px 6px;
}
.navrow {
    margin-left: 184px;
}
}
@media only screen and (min-width: 1140px) and (max-width: 1345px)
{
  nav ul a {
  padding: 0px 13px;
}
}
.searchbar
{
  background-color: rgba(255,255,255,0.12) !important;
  border-radius: 1px;
  height: 2.6rem !important;
  width: 10% !important;
  margin: 0 0 15px 0;
  right: 10px;
  top: 5px;
  position: absolute;
  padding-left: 10px !important;
  padding-right: 50px !important;
  border-bottom :none !important;
}
.row {
  margin-bottom: 0;
}
.black
{
  color:black;
}
.nav-top-bottom {
  position: relative;
  top: -24px;
  font-size: 13px;
}
nav ul li {
    height: 49px
}
.nav-bottom-text-size
{
  font-weight: 400;
  color:#D6DCD7;
}
@media screen and (min-width:601px )
{
.slider {
  
  height: 560px !important;
    margin-top: 91px;
   
   
}
}

@media screen and (min-width:0px ) and (max-width:601px)
{
 .slider {
  
  height: 560px !important;
    margin-top: 56px;
   
   
}
}



@media screen and (min-width:601px )
{
.overlay5 {
  position: absolute;
   
  background-color: black;
  height: 7%;
  right: 0;
  z-index: 777;
  top: 32%;
  opacity: 0.6;
  color:white;
    padding: 11px;
      font-weight: 300;
}
.overlay1
{
  display: none;
}
.overlay2 {
  position: absolute;
  ;
  background-color: black;
  height: 7%;
  right: 0;
  z-index: 777;
  top: 42%;
  opacity: 0.6;
  color:white;
    padding: 11px;
      font-weight: 300;
}
.overlay3 {
  position: absolute;
   
  background-color: black;
  height: 7%;
  right: 0;
  z-index: 777;
  top: 52%;
  opacity: 0.6;
  color:white;
    padding: 11px;
      font-weight: 300;
}
.overlay4
{
  display: none;
}
}

@media screen and (min-width:0px ) and (max-width:601px)
{
 .overlay1 {
    position: fixed;
    background-color: black;
    height: 7%;
    right: 0;
    z-index: 777;
    bottom: 0;
    opacity: 0.6;
    color: white;
    padding: 11px;
    font-weight: 300;
        font-size: 17px;
}
.overlay4 {
    position: fixed;
    background-color: black;
    height: 7%;
    left: 0;
    z-index: 777;
    bottom: 0;
    opacity: 0.6;
    color: white;
    padding: 11px;
    font-weight: 300;
        font-size: 17px;
}
.overlay2{
  display: none;

}
.overlay3{
  display: none;

}
.overlay5
{
  display: none;
}

}



.slider .slides {
  height :100% !important;
}
.slider .indicators {
   
  z-index: 99;
    bottom: 6%;
}
.slider .indicators .indicator-item.active {
  background-color: #3B5998;
}
.slider .indicators .indicator-item {
    
    height: 11px;
    width: 11px;
    
}
.events
{}

 
.newsinfocustxt {
  font-size: 38px;
  font-weight: 500;
   padding-left: 41px;
}
.infocustxt {
  font-size: 38px;
  font-weight: 500;
  
}
.discovervittxt {
  font-size: 46px;
  font-weight: 900;
  margin-left: 41px;
  color:white;
  padding-top: 50px;
}
@media screen and (min-width:992px ) 
{
.discover-inside-text {
  color: white;
  font-size: 30px;
  font-weight: 300;
  line-height: 4vh;
}
}    
@media screen and (min-width:0px ) and (max-width:992px)
{
 .discover-inside-text 
 {
  
  color: white;
  font-size: 30px;
  font-weight: 300;
  line-height: 5vh;
 } 
}
.discover-video-image {
 
  height: 314px;
  margin-top: 0px !important;
  width: 342px;
  border-radius: 4px;
}
.heigh
{
margin-left: 32px;
  margin-right: 32px;
}
.heigh2 {
  margin-left: 32px;
  margin-right: 0px;
}
.infocus-card
{
  margin: 0.5rem 28px 3rem 1px;
 
}

.card .card-content {
  padding: 10px;
  border-radius: 0 0 2px 2px;
}
.card {
  background-color: transparent;
}
.card .card-image img {
  
}
.news-card-content {
  height: 97px !important;
}
.discover-border {
  margin: 19px;
  border-right: 1px solid #7182a6;
    margin-left: 48px;
}
@media only screen and (min-width: 0px) and (max-width: 992px)
{
  .discover-border {
 
  border:none !important;
      margin-left: 15px !important;
    margin: 6px !important;
    margin-top: 0px !important;
    .discovervideo-side-border {
    border-right: none !important;
    }
    
}
.discovervittxt {
   
    margin-left: 14px !important;
    
}
.discover-image {
   
    margin-right: 12px !important;
}
.discover-vit-video-text {
    margin-right: -4px !important;
}
}
@media only screen and (min-width: 0px) and (max-width: 992px)
{
  .mobile-admission-news
  {
    display: block;
  }

}

@media only screen and (min-width: 992px)
{
  .mobile-admission-news
  {
    display: none ;
  }
  .discovervideo-side-border
{
  border-right: 1px solid #7182a6;
}
}
.discover-image {
  margin-top: 31px;
   
  margin-right: 51px;
}

.discover-image {
  margin-top: 31px;
  margin-right: 51px;
}
.nav-sidebar-text
{
  color:black;
  font-size: 24px;
}

.events-sidenav-a
{
    height: 0px !important;
}
 
.allnews {
  font-size: 15px;
  font-weight: 400;
  color: #3B5998;
}
.social-feeds {
    margin-top: 4%;
    margin-right: 0px;
    margin-left: -14px;
}
@media only screen and (min-width: 600px)
                      {
                        .twfeedimg
                        {
                          margin-left:15%;
                        }
                      }
                      @media only screen and (min-width: 0px) and (max-width:600px)
                      {
                        .twfeedimg
                        {
                          margin-left:0%;
                        }
                      }
/*footer */
.footer-lighten-text
{
  font-weight: 300;
}
 
/*image overlay */
.image-overlay
{
 
}
 
 
 
 

 
/*footer*/
footer.page-footer {
margin-top: 0px;
}
 
.discover-vit-video-text
{
  margin-right: 40px
}

.readmore
{
  
}
/*
@media only screen and (min-width: 0px) and (max-width:342px)
{
  .modal
  {
        width: 109%;
    top: 25% !important;
    margin: -14px;
    overflow: hidden;
    background: transparent;
  }
}
@media only screen and (min-width: 342px) and (max-width:439px)
{
  .modal
  {
        width: 109%;
    top: 25% !important;
    margin: -19px;
    overflow: hidden;
    background: transparent;
  }
}
@media only screen and (min-width: 439px) and (max-width:770px)
{
  .modal
  {
        width: 100%;
    top: 25% !important;
    
    overflow: hidden;
    background: transparent;
  }
}
@media only screen and (min-width: 771px) and (max-width:992px)
{
  .modal
  {
overflow: hidden;
    background: transparent;

            width: 88%;
  }
}

@media only screen and (min-width: 992px) 
{
.modal
{
      overflow: hidden;
    background: transparent;

            width: 67%;
}
}
.modal-close-button {
    position: fixed;
    top: 19px;
    right: 3px;
}
*/

.card .card-content .card-title {
    line-height: 0px;
    font-size: 17.5px;
    font-weight: 400;
    color: #818181 !important;
}
.infocus-card-content
{
  height: 69px !important;
}
.admission-news
{
  margin: auto;
    font-size: 17.5px;
    font-weight: 500;
    color: #818181 !important;
}
.admission-news-txt
{
  font-size: 13px;
  margin-top: :-2px;
}
.admission-news-col
{
  margin-top: 4px;
}
.admission-divider
{
  margin-top: 11px;
}
@media only screen and (min-width: 992px) and (max-width: 1161px)
{
  .admission-news
{
  margin: auto;
    font-size: 14.5px;
    font-weight: 500;
    color: #818181 !important;
}
.admission-divider {
    margin-top: 0px;
}
.admission-news-col {
    margin-top: -3px;
}
.admission-news-txt {
    font-size: 13px;
    margin-top: -7px !important;
}

}
@media only screen and (min-width: 0px) and (max-width: 992px)
{
  .admissions-news
{
  display: none;
  }
}
@media only screen and (min-width: 602px)
{
.caption-overlay {
    
    background-color: rgba(0, 0, 0, 0.30) !important;
    padding: 18px;
        margin-left: -71px;
}


}

@media only screen and (min-width: 992px)
{
.slider .indicators {
    
    left: 78vw;
}
}
.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
    position: absolute;
  
    z-index: 9;
    left: 50%;
    bottom: 3%;
    background-color: rgba(0,0,0,0.7) !important;
    margin: -27.5px 0 0 -20.5px;
}
.scroll-down-arrow
{
      font-size: 40px !important;
}
.btn-floating.btn-large i {
    line-height: 58.5px;
}

/*bounce effect */
.animated { 
    -webkit-animation-duration: 4s; 
    animation-duration: 4s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(--15px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-15px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
} 
