/* Ticker Styling */
.ticker-wrapper.has-js {
	/*margin: 20px 0px 20px 0px;
	padding: 0px 20px;
	width: 780px;
	height: 32px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #A4C0CA;
	font-size: 0.75em;*/
}
.ticker {
	background: url("../images/icon/puce_header.png") no-repeat scroll right 40% transparent;
    display: block;
    height: 23px;
    margin-right: 8px;
    overflow: hidden;
    position: relative;
    width: 710px;
}
.ticker-title {
	padding-top: 9px;
	color: #000911;
	font-weight: bold;
	background-color: #A4C0CA;
	text-transform: uppercase;
}
.ticker-content {
	margin: 0px;
	/*padding-top: 9px;*/
	position: absolute;
	color: #000911;
	font-weight: bold;
	/*background-color: #A4C0CA;*/
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
	font-size:18px;
	font-weight:normal\9;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	/*color: #1F527B;*/
	color: black;
}
.ticker-content a:hover {
	text-decoration: underline;	
	/*color: #0D3059;*/
	color: black;
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: #A4C0CA;
	display: block;
	width: 800px;
	height: 23px; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: #A4C0CA;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}

.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #A4C0CA;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls, .ticker-title {
    padding-right: 6px;
	display:none !important;
}