@font-face {
  font-family: 'Monda';
  font-style: normal;
  font-weight: 700;
  src: local('Monda Bold'), local('Monda-Bold'), url(http://fonts.gstatic.com/s/monda/v6/h8Lv3ZYKAXAcwBhdctJLvvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(http://fonts.gstatic.com/s/sintony/v4/2OObVMTQarlIKJSvYmLF5w.ttf) format('truetype');
}
