* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background: #fff;
    font-family: Tahoma,sans-serif;
    font-size: 12px;
    color: #fff;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.alignleft {
    float: left;
}
.aligntight {
    float: right;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {*min-height: 1px;}
    /*----- Start header -----*/
#header {
    height: 86px;
    overflow: hidden;
    background: #2b343e;
    position: relative;
}
.logo{
    float: left;
    margin: 16px 25px 0 10px;
}
.site_descrip{
    height: 45px;
    overflow: hidden;
    margin: 20px 260px 0 0;
}
.site_descrip p{
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-family: Tahoma, sans-serif;
    text-shadow: 1px 1px 0 #272f37;    
}
.social {
    position: absolute;
    top: 28px;
    right: 20px;
}
.social a {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 2px;
    display: block;
}

/*----- End header -----*/
/*----- Start menu -----*/
/*------- Begin menu -------*/
.menu {
    height: 42px;
    margin-bottom: 3px;    
    background: #c4d6df;
}
.menu ul{
    float: left;
}
.menu li {
    float: left;
    list-style: none;
    background: url(images/menu_separ.png) no-repeat right center;
}
.menu li.parent{
    background: url(images/menu_parrent.png) no-repeat right center;
    position: relative;
}
.menu li a {
    height: 42px;
    line-height: 42px;
    padding: 0 23px;
    margin-left: -2px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
    color: #000;
    text-shadow: 1px 1px 0 #deebf2;
}
.menu li a:hover,.menu li:hover.parent a {
    background: #d73123;
    color: #fff;
    text-shadow: 1px 1px 0 #82150c;
}
/*--- go down menu ---*/
.menu ul li .child{
    width: 750px;
    background: rgba(215,49,35,.9);
    position: absolute;
    display: none;
    left: -2px;
    z-index: 100;
}
.menu ul li:hover .child{
    display: block;
}
.menu ul li .child2{
    width: 250px;
    background: rgba(215,49,35,.9);
    position: absolute;
    display: none;
    left: -2px;
    z-index: 100;
}
.menu ul li:hover .child2{
    display: block;
}
.menu li ul{
    float: left;
    height: auto;
    margin: 0 20px 0 5px;
    padding: 10px;
    text-transform: none;
    width: auto;
}
.menu li ul li{
    float: none;
    background: none;
    height: auto;
    text-align: left;
}
.menu li ul li a,.menu li.parent ul li a{
    display: inline;
    line-height: 16px;
    padding: 0;
    text-transform: none;
    background: none !important;
    font-size: 11px;
    color: #fff;
    text-shadow: 1px 1px 1px #d73123;
    text-shadow: none;
}
.menu li ul li a:hover,.menu li.parent ul li a:hover{
    background: none;
    color: #000;
    text-shadow: 1px 1px 1px #d73123;
}
/*------- End menu -------*/
/*------- Begin search -------*/
.search {
    width: 399px;
    height: 29px;
    display: block;
    float: right;
    margin: 5px 7px 0 0;
    background: url(images/search_bg.png) no-repeat;
}
.search input {
    width: 354px;
    height: 29px;
    line-height: 29px;
    padding: 0 5px 0 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 11px;
    color: #000;
    float: left;
}
.search input.bttn {
    width: 30px;
    height: 29px;
    cursor: pointer;
    padding: 0;
}
.search input.bttn:hover{
    background: rgba(100,132,168,.4);
}
/*------- End search -------*/
/*----- End menu -----*/
/*----- Start content -----*/
/*----- Start title -----*/
.title {
    height: 42px;
    line-height: 43px;
    overflow: hidden;
    position: relative;
}
.title img {
    position: absolute;
    top: 8px;
    left: 10px;
}
.title h2 {
    font-weight: bold;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    color: #c4d6df;
    text-shadow: 1px 1px 0 #161b20;
    padding-left: 50px;
    text-transform: uppercase;
    float: left;
}
/*----- End title -----*/
/*----- Start thumb -----*/
.thumbs{
    text-align: center;
    font-size: 0;
}
.thumb {
    width: 302px;
    padding: 2px 2px 5px;
    background: #2b343e;
    margin: 1px;
    display: inline-block;
    position: relative;
}
.thumb img {
    width: 300px;
    height: 225px;
    overflow: hidden;
    border: 1px solid #fff;
}
.thumb img:hover,.thumb_sm img:hover{
    border: 1px dotted #fff;
}
.thumb img:first-child {
    display: block;
    margin-bottom: 3px;
}
.thumb_count_video{
    position: absolute;
    top: 210px;
    left: 3px;
    width: 300px;
    height: 18px;
    line-height: 18px;
    background: rgba(0,0,0,.5);
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #474649;
}
.thumb a {
    font: bold 16px Tahoma, sans-serif;
    color: #fc4b3d;
    text-shadow: 1px 1px 0 #212831;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
.thumb a:hover {
    color: #fff;
}
/*----- End thumb -----*/

.list,.list_two {
    margin: 10px 10px 8px;
    padding: 0 0 10px;
    background: #2b343e;
}
.list ul,.list_two ul {
    width: 20%;
    float: left;
    margin-bottom: 15px;
    list-style: none;
}
.list ul:last-child {
    margin-right: 0;
}
.list li.first_category{
    background: #5b748f;
    padding: 0;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin: 3px 0 7px 25px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #2b343e;
}
.list li,.list_two li {
    font: 12px Tahoma, sans-serif;
    color: #c5e5f8;
    text-shadow: 1px 1px 0 #1c252e;
    padding-left: 10px;
    line-height: 20px;
    margin-left: 20px;
    background: url(images/bullet.png) no-repeat 0 7px;
}
.list li a,.list_two li a {
    font:12px Tahoma, sans-serif;
    color: #fefefe;
    text-decoration: none;
}
.list li a:hover,.list_two li a:hover {
    color: #fc4b3d;
}
.list_two ul{
    margin-bottom: 0;
}
.list_two li{
    color: #fc4b3d;
    background: none;
    font-weight: bold;
}
/*----- End list -----*/
/*------- Begin thumb_sm -------*/
.thumbs_sm{
    background: #2b343e;
    padding-bottom: 20px;
    margin: 0 10px;
}
.thumb_sm{
    width: 182px;
    padding: 8px 8px 3px 8px;
    margin: 0 1px 1px 0;
    background: #3f4e5e;
    display: inline-block;
}
.thumb_sm img{
    width: 180px;
    height: 135px;
    display: block;
    border: 1px solid #fff;
}
.thumb_sm a{
    display: block;
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #d5eefc;
    text-shadow: 1px 1px 0 #1c252e;
}
.thumb_sm a:hover{
    color: #fc4b3d;
}
/*------- End thumb_sm -------*/
/*----- End content -----*/
/*----- Start footer -----*/
 #footer {
    height: 170px;
    margin-top: 25px;
    background: #2b343e;
    border: 1px solid #373f49;
    text-align: center;
    overflow: hidden;
}
.footer_logo{
    margin: 20px 0 10px;
}
.description_site{
    height: 48px;
    overflow: hidden;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #efefef;
    margin: 0 40px 5px;
    line-height: 15px;
    text-shadow: 1px 1px 0 #1c252e;
}
.description_site a{
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #ffffff;
}
.footer_nav{
    display: inline-block;
}
.footer_nav li{
    list-style: none;
    float: left;
    background: url(images/footer_nav_delim.png) no-repeat right center;
    padding: 0 17px;
}
.footer_nav li:last-child{
    background: none;
}
.footer_nav li a{
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #a3c2e2;
    text-shadow: 1px 1px 0 #1c252e;
}
.footer_nav li a:hover{
    color: #fff;
}
 /*End footer*/
 /*------- Begin page_two -------*/
 
.wrap_category_tags{
    background: #2b343e;
    height: 60px;
    padding: 10px;
    margin: 0 10px 5px;
}
.category_tags{
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}
.category_tags span{
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    color: #fdfdfd;
    text-shadow: 1px 1px 0 #000;
    margin-right: 10px;
}
.category_tags a{
    font-size: 12px;
    background: url(images/category_tags.png) no-repeat;
    font-family: Tahoma, sans-serif;
    color: #b1d3fa;
    text-shadow: 1px 1px 0 #000;
    padding: 0 15px 0 17px;
}
.category_tags a:hover{
    text-decoration: underline;
}
.title_two{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.title_two h2{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Tahoma, sans-serif;
    color: #fc4b3d;
    float: left;
    margin-left: 12px;
}
.inxy-paginator{
    float: right;
    margin-right: 10px;
}
.inxy-paginator li{
    float: left;
    margin-right: 2px;
    font-weight: bold;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
    color: #000;
}
p.pages_pagin{
    float: right;
    margin-right: 3px;
    font-size: 13px;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    color: #000;
}
.inxy-paginator a{
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding: 0 9px;
    background: #404e5d;
    color: #fff;
    text-shadow: 1px 1px 0 #2e3a47;
}
.inxy-paginator a:hover{
    background: #fc4b3d;
    text-shadow: 1px 1px 0 #82150c;
}
.thumb_time{
    position: absolute;
    top: 206px;
    right: 3px;
    width: 48px;
    height: 22px;
    line-height: 22px;
    background: rgba(0,0,0,.5);
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}
.thumb_time_video{
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #000;
    float: left;
}
.thumb_two a{
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-transform: none;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a.thumb_link{
    width: auto;
    font-weight: bold;
    font-size: 11px;
    text-transform: none;
    text-decoration: underline;
    font-family: Tahoma, sans-serif;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #000;
    float: right;
}
a:hover.thumb_link{
    text-decoration: none;
}
.thumb_tags{
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    margin-top: 3px;
    font-family: Tahoma, sans-serif;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #000;
}
.thumb_tags a{
    display: inline;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 11px;
    text-align: left;
    font-family: Tahoma, sans-serif;
    color: #b1d3fa;
    text-shadow: 1px 1px 0 #000;
}
/*------- End page_two -------*/
/*------- Begin video.html -------*/
.video_wrap{
    width: 1256px;
    margin: 0 auto 5px;
}
.video_left{
    padding: 10px 25px;
    margin-right: 3px;
    float: left;
    width: 855px;
    background: #2b343e;
}
.video{
    display: inline-block;
    width: 855px;
    height: 510px;
    background: url(images/video.jpg) no-repeat;
}

#player iframe {width:860px !important; height:510px !important;}

.video_add,.video_tags{
    font-weight: bold;
    margin-top: 3px;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
    color: #f2f2f2;
    text-shadow: 1px 1px 0 #18212b;
}
.video_add span{
    font-weight: normal;
}
.video_tags a{
    color: #b4e5fe;
    font-weight: normal;
}
.video_tags a:hover{
    text-decoration: underline;
}
.video_right{
    float: right;
    width: 300px;
    padding: 27px 23px;
    background: #2b343e;
}
.video_right a{
    display: block;
    margin-bottom: 7px;
}
/*------- End video.html -------*/