body {margin:0px;padding:0px;font-family: Arial, Helvetica, sans-serif;background-color:#FFF;font-size:16px;}
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
input {border:none;padding:0px;-webkit-appearance: none;border-radius: 0; -moz-box-sizing: border-box;}
input:-webkit-autofill {-webkit-box-shadow:0 0 0 50px #FFFFE1 inset; }
::-webkit-input-placeholder {color:#999;font-size:18px;padding:0px 5px;line-height:45px}
:-moz-placeholder { color:#999;font-size:18px;padding:0px 5px;line-height:45px}
::-moz-placeholder {color:#999;font-size:18px;padding:0px 5px;line-height:45px}
:-ms-input-placeholder {color:#999;font-size:18px;padding:0px 5px;line-height:45px}
@font-face {font-family: 'mjhicons';src: url('http://media.myjobhelper.com/css/font/mjhicons.eot?24490269');src: url('http://media.myjobhelper.com/css/font/mjhicons.eot?24490269#iefix') format('embedded-opentype'),url('http://media.myjobhelper.com/css/font/mjhicons.woff?24490269') format('woff'),url('http://media.myjobhelper.com/css/font/mjhicons.ttf?24490269') format('truetype'),url('http://media.myjobhelper.com/css/font/mjhicons.svg?24490269#mjhicons') format('svg');font-weight: normal;font-style: normal;}
.clear {float:none;clear:both;}
.button-gradient {border-radius:3px;border:1px solid #FFF;background: #ffb689;background: -moz-linear-gradient(top,  #ffb689 0%, #fd7600 50%, #ec7501 75%, #ec7501 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb689), color-stop(50%,#fd7600), color-stop(75%,#ec7501), color-stop(100%,#ec7501));
background: -webkit-linear-gradient(top,  #ffb689 0%,#fd7600 50%,#ec7501 75%,#ec7501 100%);background: -o-linear-gradient(top,  #ffb689 0%,#fd7600 50%,#ec7501 75%,#ec7501 100%);background: -ms-linear-gradient(top,  #ffb689 0%,#fd7600 50%,#ec7501 75%,#ec7501 100%);background: linear-gradient(to bottom,  #ffb689 0%,#fd7600 50%,#ec7501 75%,#ec7501 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb689', endColorstr='#ec7501',GradientType=0 );text-shadow: 1px 1px 1px rgba(20, 20, 20, 1);-webkit-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-moz-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);}

.desk-hide, #mobilesearch, .advanceinit, .form-field-mobile, .filterC, .filterD {display:none;}

.corner-ribbon {font-family: 'Droid Sans', sans-serif;width: 730px;background: #e43;position: absolute;top: 25px;left: 0px; text-align: center;line-height: 25px; padding:12px 0;color: #f0f0f0;  transform: rotate(-30deg);-webkit-transform: rotate(-30deg);text-shadow: 1px 1px 1px rgba(20, 20, 20, 1);font-size:18px;z-index:2}
.corner-ribbon a:link, .corner-ribbon a:visited {color:#FFF}
.corner-ribbon span {font-weight:700;font-size:22px}
.corner-ribbon.sticky{position: fixed;}
.corner-ribbon.shadow{box-shadow: 0 0 3px rgba(0,0,0,.3);}
.corner-ribbon.top-right{top: 100px;left: -120px;transform: rotate(-30deg);-webkit-transform: rotate(-30deg);}
.corner-ribbon.red{background: #79A70A;background: linear-gradient(#CF0000 0%, #8F0808 100%);box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);}
@media only screen and (max-width : 945px)  {
.corner-ribbon {width:510px;padding:8px 0}
.corner-ribbon.top-right{top: 60px;left: -80px;font-size:14px}
.corner-ribbon span {font-size:20px}
}
@media only screen and (max-width : 805px)  {
.corner-ribbon {width:410px;padding:8px 0}
.corner-ribbon.top-right{top: 60px;left: -80px;font-size:14px}
.corner-ribbon span {font-size:20px}
}
@media only screen and (max-width : 755px)  {
.corner-ribbon {position:relative;width:100%;padding:8px 0;line-height:20px;transform: none;-webkit-transform: none;}
.corner-ribbon.top-right{position:relative;top: 0;left: 0;font-size:14px;transform: none;-webkit-transform: none;}
.corner-ribbon span {font-size:18px}
}
#wrapper {margin:0 auto;background-color:#FFFFFF;padding:0;position:relative}
#wrapper-internal {margin:0 auto;background-color:#FFFFFF;padding:0;position:relative;width:80%}
.logo-internal {margin:20px 0 10px 0;paddding:0 0 0 20px}
.about-photo {float:right;width:180px;margin:10px 20px 0px 0;right:50px;font-size:12px;line-height:16px;background:#333;border:solid 1px #999;color:#FFF;}
.about-photo img {margin:0 !important;padding:0 !important}
.about-photo div {padding:0 5px 5px 5px;}

.dropcap:first-letter { float: left; color: #8ebdf8;font-size: 85px; line-height: 60px; padding-top: 4px; padding-right: 3px; padding-left: 0; font-family: Georgia;}
.about-signature {position:absolute;bottom:25px;left:2px}

#header {background-color: #FFFFFF;padding:0;width:100%;color:#FFF;margin:50px auto 10px auto;display:block;}
#header .image-div {display:block;padding:0;width:320px;margin:0 auto;padding:0 30px 0 0px}
#header .form-div {display:block;vertical-align:top;text-align:center;padding:0;margin:60px auto 0 auto;background-color:#666;padding:30px 0;}
#header a {color:#0099FF;text-decoration:none;font-size:0.8em}
#header img {padding:0;border:0px;width:100%;height:auto;display:block}
#header form {text-align:center;margin:0 auto;padding:0;width:900px}
#header input[type=button], #header input[type=submit] {display:inline-block;width:280px;font-family: Arial, Helvetica, sans-serif;font-size:125%;font-weight:bold;color:#FFF;background-color:#FF9900;padding:0 15px;cursor:pointer;-webkit-appearance: none;line-height:44px;margin:0;}
#header input[type=button]:hover, #header input[type=submit]:hover { background-color:#8dbef8;-webkit-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);-moz-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);}
#header input[type=text] {padding:0 0px 0 5px;margin:0 5px 0 0;color:#333;border:solid 1px #000;font-size:24px;background-color: #FFF;width:300px; -moz-box-sizing: border-box;box-sizing: border-box;line-height:45px;height:45px;border-radius:5px}
#header label {display:table-cell;font-size:12px;color:#666;padding:3px 0 3px 5px;margin:0;border-collapse:collapse}
#header fieldset {display:inline-block;border:none;padding:0;margin:0}
#header .advanced {display:block;text-align:left;padding:5px 0 0 10px;margin:0 auto;}
#header .advanceText::after {content: "Advanced Search";color:#FFF;}
#header .advanceText::before {content: "\25BA";margin:0 0 0 0;padding:0 5px 0 0;font-weight:bold;font-size:14px;width:10px;color:#FFF}
#header .browseText {display:none;padding:0 0 0 15px;}
#header .browseText::after {content: "Browse All Jobs";color:#FFF;}
#header .browseText::before {content: "\25BA";margin:0 0 0 0;padding:0 5px 0 0;font-weight:bold;font-size:14px;width:10px;color:#FFF}
#header .active::before {content: "\25BC";margin:0 0 0 0;padding:0 5px 0 0;font-weight:bold;font-size:14px;}
#header h1 {color:#666;text-align:center;margin:0 0 20px 0;padding:0;}

.index-popular-mobile {display:none}

#advancedsearch {display:none;width:550px;color:#000;border:solid 1px #000;padding:0;margin:0 auto 20px auto;position:relative;background:#FFF;-webkit-box-shadow: -9px 10px 17px -8px rgba(0,0,0,0.75);-moz-box-shadow: -9px 10px 17px -8px rgba(0,0,0,0.75);box-shadow: -9px 10px 17px -8px rgba(0,0,0,0.75);border-radius:10px;}
#advancedsearch h3 {color:#FF9900;text-align:center;font-size:20px;margin:0;padding:10px 0;letter-spacing:-1px}
#advancedsearch form {padding:10px 10px 30px 10px;text-align:center;}
#advancedsearch input[type=text], #advancedsearch select {display:inline-block;padding:5px 0px 5px 3px;margin:0 80px 10px 0px;border:solid 1px #000;font-size:14px;background-color: #FFFFEA;width:220px;}
#advancedsearch label {display:inline-block;font-size:14px;color:#333;padding:0 0 5px 0;margin:0;text-align:right;width:180px;}
#advancedsearch input[type=submit], #advancedsearch .btn {display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;color:#FFF;line-height:25px;cursor:pointer;padding:0 10px;text-decoration:none;}
.bar {display:none;background-color:#EAEAEA;height:5px;margin:0px auto 0 auto;border-radius: 2px;width:100%;border-bottom:solid 1px #CCC;float:none;clear:both}
.country-setting {position:absolute;font-size:14px;padding:24px 0 0 0;margin:auto;width:100px;left:0;right:-390px}
.country-setting img {vertical-align:middle;margin:0 0 0 5px;padding:0;border:solid 1px #000}
.country-setting-internal {position:absolute;font-size:14px;padding:0;margin:auto;width:40px;left:300px;top:20px}
.country-setting-internal img {vertical-align:middle;margin:0 0 0 5px;padding:0;border:solid 1px #000}

.desk-hide {display:block}
.countries-content {padding: 10px;}
.countries-content img {vertical-align:middle;margin:0 10px 0 0}
.countries-content a:link {display:block;padding:0 0 10px 0;}


#samples {width:500px;margin:0 auto;padding:0 0 0 20px;color:#333;font-size:12px;line-height:20px;}
#samples a, #samples a:visited {color:#333;display:block;}
#samples h3 {font-size:12px;font-weight:normal;margin:0 0 10px 0;padding:0;}
#samples .samples-column {-webkit-column-count: 4; -moz-column-count: 4;column-count: 4;}

#content-internal {overflow:hidden}
#content-internal a {color:#0066FF;text-decoration:none;padding:5px 0}
#content-internal a:visited {color:#0099FF;text-decoration:none;}
#content-internal h1 {font-size:30px;color:#FFF;padding:5px 15px 7px 0;color:#FF9900;position:relative;margin:0 0 10px 0;border-top:solid 1px #CCC;border-bottom:solid 1px #CCC}
#content-internal .internal-nav {text-align:right;}
#content-internal .internal-nav ul {list-style:inside;padding:0;margin:0;}
#content-internal .internal-nav li {display:inline-block;padding:0 10px;margin:0 0 0 0;border-right:solid 1px #333}
#content-internal p {padding:10px 20px;line-height:24px}
#content-internal p img {max-width:100%;height:auto;margin:0 20px 20px 0;}

#content-internal .privacy-left {padding:0 0 0 20px}
#content-internal .privacy-right {text-align:left;padding:0 20px 0 0}

#about-column1 {display:inline-block;vertical-align:top;padding:10px 5px 10px 0;margin:15px 10px 0 0;width:200px;border-right:solid 1px #CCC;}
#about-column2 {position:relative;display:inline-block;vertical-align:top;padding:0 0 10px 10px;margin:15px 0 0 0;width:75%;line-height:20px;}


#about-column1 a, #about-column1 a:visited {color:#666;display:block;text-decoration:none;border-bottom:dotted 1px #666;padding:5px;}
#about-column1 a:hover {border-bottom:solid 1px #666;font-weight:bold}

#about-column2 img {margin:0 15px 5px 0}
#about-column2 .ad-burst {margin: 20px auto;text-align:center;}
#about-column2 a:visited {color:#0066FF}
#about-column2, #tips-column2 p {font-size:14px;}
#about-column2 li p {text-align:left !important}
#about-column2 .button {color:#FFF !important;font-weight:bold;font-size:18px;padding:7px 10px; background-color:#8dbef8;-webkit-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);-moz-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);}
#about-column2 a.button:hover {text-shadow: none;}
.image-careers {float:right;margin:0 0 15px 25px !important;border:solid 1px #CCC;}

#tips-column2 {display:inline-block;vertical-align:top;padding:10px 0 10px 10px;margin:15px 0 0 0;width:750px;line-height:20px;}
#tips-column2 h2 {float:none;clear:both;font-size:22px;color:#FFF;padding:8px 15px;background-color:#8ebdf8;text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);position:relative;margin:20px 0 0 0;}
#tips-column2 h2:after {top: 100%;left: 25%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 153, 0, 0);border-top-color: #8ebdf8;border-width: 15px;margin-left: -30px;}
#tips-column2 img {float:left;margin:0 10px 10px 0;}
#tips-column2 ul {float:none;clear:both;display:block;overflow:hidden;list-style:none;vertical-align:top;margin:20px 0 !important;}
#tips-column2 a {display:block;padding:5px 0;}
#tips-column2 li {float:left}
#tips-column2 h3 {margin:0 0 0 20px;padding:font-size:16px}
#tips-column2 .numbers {margin:0 0 20px 20px;}
#twenty-links {margin:0 0 25px 20px;}
#twenty-links a {display:inline-block;padding:5px;margin:0 0 0 0 ;font-weight:bold;color:#0099FF;text-decoration:none;font-size:16px}


.adpage-column1 {display:block;float:left;padding-left:10px !important}
.adpage-column2 {display:block;float:left;width:40% !important;padding-right:10px !important;margin-right:10 !important}


#internal-column1 {display:inline-block;vertical-align:top;padding:10px 20px;margin:15px 20px 0 0;width:38%;border-right:solid 1px #CCC}
#internal-column2 {display:inline-block;vertical-align:top;padding:10px 0 10px 20px;margin:15px 0 0 0}

#internal-column1 h1 {margin:5px 0 20px 0;padding:0 0 0 0;font-size:28px;}
#internal-column1 h2 {margin:0;padding:0;font-size:18px}
#internal-column1 p {font-size:14px;line-height:24px;}
#internal-column1 p img {margin:0 0 0 20px;}
#internal-column1 p a:link {color:#0066FF;text-decoration:none;padding:5px 0;}
#internal-column1 ul {list-style:none;}
#internal-column1 li {margin:0;padding:10px 20px 10px 32px;background-image: url(http://media.myjobhelper.com/img/ad_bullett.jpg);background-repeat: no-repeat;background-position: 0 10px;}

#internal-column2 h2 {font-size:30px;color:#FFF;padding:5px 15px;background-color:#8ebdf8;text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);position:relative;margin-top:0;}
#internal-column2 h2:after {top: 100%;left: 25%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 153, 0, 0);border-top-color: #8ebdf8;border-width: 15px;margin-left: -30px;}
#internal-column2 p {font-size:14px;line-height:24px;width:450px}
#internal-column2 form {margin:30px auto 10px auto;background:#EAEAEA;padding:15px 50px 30px 50px;}
#internal-column2 form td {padding:10px 5px;}
#internal-column2 a.forgot:link, #internal-column2 a.forgot:visited {font-size:12px;color:#0066FF;text-decoration:none;padding:5px;margin:0 0 0 0}
#internal-column2 .join {margin:20px 0;}
#internal-column2 a.join:link,#internal-column2 a.join:visited {font-size:16px;font-weight:bold;color:white;text-decoration:none;border:solid 1px #FFF;padding:6px 20px;text-transform:none;margin:0px;font-weight:800;text-shadow: black 0.05em 0.05em 0.15em;-webkit-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-moz-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;	background-image: url(../img/btn_bg_orange.jpg);background-repeat: repeat-x;-webkit-appearance: none;cursor:pointer;}
#internal-column2 label {font-weight:bold;color:#333}
#internal-column2 input[type=submit] {display:block;font-size:25px;font-weight:bold;color:white;text-decoration:none;border:solid 1px #FFF;padding:4px 50px;text-transform:uppercase;margin:0px;font-weight:800;text-shadow: black 0.05em 0.05em 0.1em;-webkit-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-moz-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;	background-image: url(../img/btn_bg_orange.jpg);background-repeat: repeat-x;-webkit-appearance: none;cursor:pointer;}
#internal-column2 input[type="text"], #column1 input[type="password"] {line-height:22px;height:25px;background:#FFFFE1 !important;border:solid 1px #333;padding:5px 10px;width:200px}
#internal-column2 .formbg {padding:0 0 35px 0;background-image: url(http://media.myjobhelper.com/img/woman_ad.jpg);background-repeat: no-repeat;background-position: right 0px;}
#internal-column2 .ad-burst {margin: 20px auto;text-align:center;}
/* Mprefs */
#internal-prefs {text-align:center;}
#internal-prefs p {margin:0;}
#internal-prefs h2 {font-size:16px;text-align:center;line-height:20px;font-weight:normal}
#internal-prefs h3 {font-size:16px;text-align:center;line-height:20px;font-weight:normal;margin:20px auto}
#internal-prefs table {border-collapse:collapse;font-size: 12px;text-align:left;margin:0px auto;}
#internal-prefs table tr.even, table tr.odd {background-color:#FFF;}
#internal-prefs td, tr {border-right:none;padding:10px;}
#internal-prefs form {margin:15px 0px;font-family:Arial, Helvetica, sans-serif;}
#internal-prefs  .message {font-size:12px;color:red;background-color: #FFFFEA;text-align:center;padding:10px 5px;text-align:center;width:700px;margin:0 auto;line-height:20px;}
#internal-prefs label {text-align:right;white-space: nowrap;}
#internal-prefs select {background-color:#FFF;margin:0px 10px 25px 0px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius: 5px;color:#333;border:solid #000 1px;padding:5px;width:180px;margin:0 10px 0 0}
#internal-prefs input[type=submit] {display:inline-block;font-family: Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;color:#FFF;background-color:#FF9900;padding:0 5px;cursor:pointer;-webkit-appearance: none;line-height:25px;margin:0;border:solid 1px #FFF;}
#internal-prefs input {outline:none;border:none;margin:0px;padding:0px;line-height:20px;width:220px;}
#internal-prefs input[type=text] {border:solid 1px #000;background:#FFF;padding:0 5px;line-height:20px}
#internal-prefs .message-form {font-size:12px;margin:10px 0 20px 0}
#internal-prefs .edit-table {width:auto}
#mpop a, #mpop a:visited {color:#FFFF00;font-weight:bold;} 
#mpop {width:520px;margin:0 auto;background-color:#FF0000;color:#FFF;border:solid 1px #FFF;padding:5px;line-height:18px;font-size:12px} 

.footable > thead > tr > th,.footable > thead > tr > td {position: relative;}
.footable th {color:#000}
 .footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {width:220px;}
.footable {border-spacing: 0;width:800px;margin:0 auto;border-right: solid #ccc 1px;border-bottom: solid #ccc 1px;font-size: 12px;color: #000;background:#FFF;letter-spacing: 0.02em;}
.footable.breakpoint > tbody > tr > td.expand {background: url('http://media.myjobhelper.com/img/plus.png') no-repeat 5px center;padding-left: 40px;}
.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {background: url('http://media.myjobhelper.com/img/minus.png') no-repeat 5px center;}
.footable.breakpoint > tbody > tr.footable-row-detail {background: #FFF;}
.footable > tbody > tr:hover {background: #fbf8e9;}
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {cursor: pointer;}
 .footable > thead > tr > th {border-top: 1px solid #ccc;padding: 10px;text-align: left;}
.footable > tbody > tr > td {border-left: 1px solid #ccc;border-top: 1px solid #ccc;padding: 10px;text-align: left;}
.footable > thead > tr > th {background-color: #FEC100;color:#000;border:none;}
.footable > thead > tr > td {background:#0c2b7d;}
.footable > thead > tr > th, .footable > thead > tr > td {color:#000;border-top: none;}
.footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {vertical-align:middle;}
.footable > thead > tr > th:last-child, .footable > thead > tr > td:last-child {}
.footable > thead > tr > th:only-child, .footable > thead > tr > td:only-child {}
.footable-odd {background:#f2f2f2;}
.footable-even {}
.footable > tbody > tr:last-child > td:first-child {-moz-border-radius: none;-webkit-border-radius: none;border-radius: none;font-size:12px;}
.footable > tbody > tr:last-child > td:last-child {-moz-border-radius: none;-webkit-border-radius: none;border-radius: none;}
.footable > tbody img {vertical-align:middle;}
.footable-row-detail-name {float:left;width:100px;font-weight:bold;}

#signup table {width:540px;}
#signup td {padding:5px;}
#signup label {font-weight:bold;text-align:right;display:block}
#signup input[type=submit] {display:block;font-family: Arial, Helvetica, sans-serif;font-size:20px;font-weight:bold;color:#FFF;background-color:#FF9900;padding:0 10px;cursor:pointer;-webkit-appearance: none;line-height:34px;margin:0;}
#signup form {text-align:left}
#signup input[type=button]:hover, #header input[type=submit]:hover { background-color:#8dbef8;-webkit-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);-moz-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);}
#signup  input[type=text] {padding:8px 0px 7px 3px;margin:0px;border:solid 1px #000;font-size:16px;background-color: #FFFFEA;width:220px; -moz-box-sizing: border-box;box-sizing: border-box}
#signup .required {font-size:12px;}
#signup .legal {padding:20px;text-align:center;line-height:18px;font-size:12px;}
#signup .feedback {text-align:center;}

#footer {background-color:#FFF;color:#333;width:auto;position:relative;padding:20px 20px 50px 20px;margin:40px 0 0 0}
#footer ul {display:table;padding:20px 0 0 0;margin:0 auto;text-align:center;width:auto;}
#footer li {display:block;margin:0 auto;text-align:center;padding:20px;vertical-align:top;width:70%}
#footer h3 {font-size:16px;font-weight:bold;margin:0 0 10px 0;padding:0;border-bottom:dotted 1px #333}
#footer a, #footer a:visited {display:inline-block;margin:0 10px 10px 0;padding:0;text-decoration:none;border-bottom:solid 1px #333;;color:#333;line-height:18px;font-size:12px;}
#footer a:hover {border-bottom:1px dotted #333}
#footer p {font-size:12px;text-align:center;padding:20px 0;}
.truste-cookie {position:fixed;bottom:30px;right:20px;z-index:200}
.truste-cookie a {text-decoration:none !important;border:none !important;}
.badges-footer {display:table;margin:0 auto;text-align:center;}
.badges-footer a {border:none !important;}
.badge-trustpilot {display:inline-block;margin:0 30px 0 0;vertical-align:middle;	filter: url('../js/filters.svg#grayscale'); /* Firefox 3.5+ */filter: gray; /* IE6-9 */-webkit-filter: grayscale(1); /* Webkit Nightlies, Google Chrome Canary and Microsoft Edge*/;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ }
.trustpilot-widget {width:110px;margin:0 auto}
.badge-truste {display:none;margin:0 10px 0 0;vertical-align:middle;}

.burst {display:inline-block;padding:0 0px 0px 10px;vertical-align:top;height:100px;margin:-10px 0 0 0;	filter: url('../js/filters.svg#grayscale'); /* Firefox 3.5+ */filter: gray; /* IE6-9 */-webkit-filter: grayscale(1); /* Webkit Nightlies, Google Chrome Canary and Microsoft Edge*/;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ }
.burst img {max-height:100%;width:auto}
.deloitte {display:inline-block;padding:0 0px 0px 10px;vertical-align:top;margin:-10px 0 0 0;width:150px;margin:0 0 0 20px}
.deloitte img {width:100%;height:auto}
.join-button {display:block !important;letter-spacing:-0.01em;font-family: Arial, Helvetica, sans-serif;font-size:18px !important;font-weight:bold;color:#FFF !important;padding:5px 10px !important;cursor:pointer;-webkit-appearance: none;line-height:22px !important;text-align:center;text-decoration:none;border-color:#FFF !important;margin:20px auto !important;width:250px}
.footer-social {text-align:right;}
.footer-social a {font-size:45px !important;border:none !important;}
.countries {display:block;padding:0 0 20px 0;margin:0 auto 25px auto;text-align:center;width:80%}
.countries h4 {font-size:12px;font-weight:bold;margin:0 auto 20px auto;padding:0;border-bottom:dotted 1px #333;width:200px;}
.countries a {display:inline-block;margin:0 10px 20px 0 !important;padding:0 5px !important ;line-height:18px !important;text-align:left;border:none !important;vertical-align:middle}
.countries img {vertical-align:middle;margin:0 0 0 5px;padding:0;border:solid 1px #000;width:40px;height:auto}


@media only screen and (max-width: 667px) {
body {width:100%;margin:0;padding:0}
#wrapper, #wrapper-internal {width:inherit;margin:0;overflow:auto;padding:0;position:relative;}
.desk-hide, #searchopen, .form-field-desk, .form-field-mobile,  #mobilesearch, .advanceText, #signup-index, #advancedsearch, #header .advanceinit  {display:none;}
.logo-internal {margin:5px 0;paddding:0;width:180px;padding:0 0 0 10px}
.logo-internal img {max-width:100%;height:auto;}
#header {width:auto;color:#FFF;margin:0;display:block;}
#header .image-div {display:block;padding:0;width:200px;margin:5px auto;text-align:center;}
#header .form-div {display:block;vertical-align:top;text-align:right;padding:0 !important;margin:0 auto !important;width:auto}
#header a {color:#0099FF;text-decoration:none;font-size:0.8em}
#header img {padding:0;border:0px;max-width:100%;height:auto;}
#header form {text-align:left;margin:0;padding:0}
#header input[type=text] {width:300px;}
#header input[type=button], #header input[type=submit] {display:block;margin:10px 5px}
#header input[type=button]:hover {  background-color:#8dbef8;}
#header label {display:block;font-size:12px;color:#666;padding:3px 0 3px 5px;}
#header fieldset {display:block;border:none;padding:0 5px;margin:0}
#header h1 {color:#666;text-align:center;margin:0 0 10px 0 !important;padding:0 !important;font-size:18px;}

#samples {width:auto;margin:0 auto;padding:0 0 0 20px;color:#333;font-size:12px;line-height:20px;}
#samples a, #samples a:visited {color:#333;display:block;}
#samples h3 {font-size:12px;font-weight:normal;margin:10px 0 10px 0;padding:0;}
#samples .samples-column {-webkit-column-count: 1; -moz-column-count: 1;column-count: 1;}

.index-popular-mobile {display:block}

.adpage-colum1 {display:block;float:none}
.adpage-column2 {display:block;float:none}

#internal-column1 {display:block;vertical-align:top;padding:10px 5px;margin:15px 0 0 0;width:auto;border-right:none;border-bottom:solid 1px #CCC}
#internal-column2 {display:block;vertical-align:top;padding:10px 5px 10px 5px;margin:15px 0 0 0}

#internal-column1 h1 {margin:5px 0 10px 0;font-size:18px;}
#internal-column1 h2 {font-size:16px}
#internal-column1 p {font-size:12px;line-height:18px;margin:10px 0;padding:0}
#internal-column1 p img {margin:0px;}
#internal-column1 ul {margin:10px 0;padding:0;}
#internal-column1 li {font-size:12px;margin:0px;padding:10px 5px 10px 30px;background-image: url(http://media.myjobhelper.com/img/ad_bullett.jpg);background-repeat: no-repeat;background-position: 0px 10px;}

#internal-column2 h2 {font-size:18px;color:#FFF;padding:5px 15px;background-color:#8ebdf8;text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);position:relative;margin-top:0;}
#internal-column2 h2:after {top: 100%;left: 25%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 153, 0, 0);border-top-color: #8ebdf8;border-width: 15px;margin-left: -30px;}
#internal-column2 p {font-size:12px;line-height:18px;width:auto;margin:10px 0 0 0}
#internal-column2 form {margin:0;background:#EAEAEA;padding:0;}
#internal-column2 form td {padding:5px;}
#internal-column2 a.forgot:link, #internal-column2 a.forgot:visited {font-size:12px;color:#0066FF;text-decoration:none;padding:5px;margin:0 0 0 0}
#internal-column2 .join {margin:20px 0;}
#internal-column2 a.join:link,#internal-column2 a.join:visited {font-size:16px;font-weight:bold;color:white;text-decoration:none;border:solid 1px #FFF;padding:6px 20px;text-transform:none;margin:0px;font-weight:800;text-shadow: black 0.05em 0.05em 0.15em;-webkit-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-moz-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;	background-image: url(../img/btn_bg_orange.jpg);background-repeat: repeat-x;-webkit-appearance: none;cursor:pointer;}
#internal-column2 label {font-weight:bold;color:#333}
#internal-column2 input[type=submit] {display:block;font-size:25px;font-weight:bold;color:white;text-decoration:none;border:solid 1px #FFF;padding:4px 50px;text-transform:uppercase;margin:0px;font-weight:800;text-shadow: black 0.05em 0.05em 0.1em;-webkit-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-moz-box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);box-shadow: 0px 5px 9px -2px rgba(54,54,54,1);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;	background-image: url(../img/btn_bg_orange.jpg);background-repeat: repeat-x;-webkit-appearance: none;cursor:pointer;}
#internal-column2 input[type="text"], #column1 input[type="password"] {line-height:22px;height:25px;background:#FFFFE1 !important;border:solid 1px #333;padding:5px 10px;width:200px}
#internal-column2 .formbg {padding:0 0 20px 0;background:none;}
#internal-column2 .ad-burst {margin: 10px auto;text-align:center;}
#internal-column2 .ad-burst img{width:150px;height:auto;}



#content-internal .internal-nav {text-align:left;padding:10px 10px 10px 10px}
#content-internal .internal-nav ul {list-style:inside;padding:0;margin:0;font-size:12px;}
#content-internal h1 {font-size:16px;color:#FFF;padding:5px 5px 5px 15px;background-color:#FF9900;text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);position:relative;margin:0 0 10px 0}
#content-internal h1:after {top: 100%;left: 15%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 153, 0, 0);border-top-color: #FF9900;border-width: 15px;margin-left: -30px;}
#content-internal .internal-nav li {display:inline-block;padding:0 5px;margin:0 ;border-right:solid 1px #333;line-height:22px}

#about-column1 {display:block;vertical-align:top;padding:0 10px 10px 0;margin:0 5px;width:auto;border-right:none;font-size:12px;}
#about-column2 {display:block;vertical-align:top;padding:0 0 10px 0px;margin:0 0 0 0;width:auto;line-height:20px;}
#about-column1 a, #about-column1 a:visited {display:inline-block;color:#666;display:block;text-decoration:none;border-bottom:dotted 1px #666;padding:5px;}
#about-column1 a:hover {border-bottom:solid 1px #666;font-weight:bold}

#about-column2 img {margin:0 15px 5px 0}
#about-column2 .ad-burst {margin: 20px auto;text-align:center;}
#about-column2 a:visited {color:#0066FF}
#about-column2 h2 {font-size:16px;margin:15px 0;padding:0}
#about-column2 p {padding:10px;}

#about-column2 .button-careers {font-size:13px !important;margin:0 !important}

#tips-column2 {display:block;vertical-align:top;padding:0 0 10px 0;margin:0 0 0 0;width:auto;line-height:20px;}
#tips-column2 h2 {float:none;clear:both;font-size:22px;color:#FFF;padding:8px 15px;background-color:#8ebdf8;text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);position:relative;margin:20px 0 0 0;}
#tips-column2 h2:after {top: 100%;left: 25%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 153, 0, 0);border-top-color: #8ebdf8;border-width: 15px;margin-left: -30px;}
#tips-column2 img {display:block;float:none;margin:0;width:100px;height:auto;}
#tips-column2 ul {float:none;clear:both;display:block;overflow:hidden;list-style:none;vertical-align:top;margin:20px 0 !important;padding:0 10px!important}
#tips-column2 a {display:block;padding:5px 0;margin:0;}
#tips-column2 li {float:none;}
#tips-column2 h3 {margin:0 0 0 20px;padding:0;font-size:16px}
#tips-column2 .numbers {margin:0 0 20px 20px;}

#twenty-links {margin:0 0 25px 15px;}
#twenty-links a {display:inline-block;padding:5px;margin:0 0 0 0 ;font-weight:bold;color:#0099FF;text-decoration:none;font-size:12px}

#internal-prefs  .message {font-size:12px;color:red;background-color: #FFFFEA;text-align:center;padding:10px 5px;text-align:center;width:auto;margin:0 auto;line-height:18px;}
#mpop {width:auto;padding:5px;line-height:18px;font-size:12px} 
#internal-prefs .message-form p {font-size:12px;margin:10px 0 0 0;line-height:18px}

#internal-prefs .edit-table {width:90%}
#internal-prefs .edit-table  td {display:block;padding:5px}
#internal-prefs .edit-table input[type=text] {border:solid 1px #333;padding:0 5px;line-height:20px}
#internal-prefs .edit-table label {font-weight:bold}
#internal-prefs .edit-table .footable-odd {background:none;}
#internal-prefs .edit-table td:nth-child(even) {background: #CCC}
#internal-prefs .edit-table input[type=submit] {margin:15px 0}

#internal-prefs select {background-color:#FFF;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius: 5px;color:#333;border:solid #000 1px;padding:10px 5px;width:150px;margin:0 10px 0 0}
#internal-prefs .message-form input[type=submit] {width:100px}

.footable { width: 100%;}
.footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {width:190px;}
.footable > tbody > tr {line-height:20px;}
.footable.breakpoint > tbody > tr > td.expand {padding-left: 40px;text-indent:25px}

.country-setting-internal {position:fixed;right:20px;bottom:20px;top:auto;left:auto;width:40px;z-index:2;padding:0}
.truste-cookie {position:relative;text-align:center;margin:0 0 10px 0;z-index:0;bottom:0;right:0}
.badge-trustpilot {display:block;margin:0 0 10px 0;vertical-align:middle;}
.badge-truste {display:block;margin:0 0 10px 0;vertical-align:middle;}
.badge-iaews {display:block;margin:0;vertical-align:middle;}

#footer {float:none;clear:both;background-color:#EAEAEA;color:#333;width:auto;position:relative;padding:5px;}
#footer ul {display:table;padding:20px 0;margin:0 auto;text-align:center;}
#footer li {display:lock;padding:10px;width:auto;vertical-align:top;text-align:center;}
.burst {display:block;margin:0;padding:10px 0}
.deloitte {display:block;padding:10px 0;}

.countries {display:block;padding:0 0 20px 0;margin:0 0 10px 0;text-align:left;width:auto;}
.countries h4 {font-size:16px;font-weight:bold;margin:0 auto 10px auto;padding:0;border-bottom:dotted 1px #333;width:90%;}
.countries a {width:45% !important;margin:0 0 10px 5px !important;padding:0 5px 0 0!important ;line-height:18px !important;text-align:left;border:none !important;vertical-align:middle;}
.countries img {vertical-align:middle;margin:0 0 0 5px;padding:0;border:solid 1px #000}

}