@font-face {
  font-family: 'mjhicons';
  src: url('http://media.myjobhelper.com/css/font/mjhicons.eot?90464909');
  src: url('http://media.myjobhelper.com/css/font/mjhicons.eot?90464909#iefix') format('embedded-opentype'),
       url('http://media.myjobhelper.com/css/font/mjhicons.woff2?90464909') format('woff2'),
       url('http://media.myjobhelper.com/css/font/mjhicons.woff?90464909') format('woff'),
       url('http://media.myjobhelper.com/css/font/mjhicons.ttf?90464909') format('truetype'),
       url('http://media.myjobhelper.com/css/font/mjhicons.svg?90464909#mjhicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mjhicons';
    src: url('http://media.myjobhelper.com/css/font/mjhicons.svg?90464909#mjhicons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mjhicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook-squared:before { content: '\41'; } /* 'A' */
.icon-linkedin-squared:before { content: '\42'; } /* 'B' */
.icon-twitter-squared:before { content: '\43'; } /* 'C' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-glide:before { content: '\f2a5'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */