@font-face {
  font-family: 'mjhvideo';
  src: url('mjhvideo.eot?5604620');
  src: url('mjhvideo.eot?5604620#iefix') format('embedded-opentype'),
       url('mjhvideo.woff2?5604620') format('woff2'),
       url('mjhvideo.woff?5604620') format('woff'),
       url('mjhvideo.ttf?5604620') format('truetype'),
       url('mjhvideo.svg?5604620#mjhvideo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mjhicons';
  src: url('http://media.myjobhelper.com/css/font/mjhicons.eot?70720895');
  src: url('http://media.myjobhelper.com/css/font/mjhicons.eot?70720895#iefix') format('embedded-opentype'),
       url('http://media.myjobhelper.com/css/font/mjhicons.woff?70720895') format('woff'),
       url('http://media.myjobhelper.com/css/font/mjhicons.ttf?70720895') format('truetype'),
       url('http://media.myjobhelper.com/css/font/mjhicons.svg?70720895#mjhicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mjhvideo';
    src: url('../font/mjhvideo.svg?5604620#mjhvideo') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {

  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;

  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 

 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-play-circled2:before {  font-family: "mjhvideo"; content: '\e800'; } /* '' */
.icon-stop-circled:before {   font-family: "mjhvideo";content: '\e801'; } /* '' */
.icon-play-circled:before {  font-family: "mjhvideo"; content: '\e802'; } /* '' */
.icon-play-circled2-1:before {   font-family: "mjhvideo";content: '\e803'; } /* '' */
.icon-stop:before {   font-family: "mjhvideo";content: '\e804'; } /* '' */
.icon-videocam:before {   font-family: "mjhvideo";content: '\e805'; } /* '' */
.icon-videocam-1:before {  font-family: "mjhvideo"; content: '\e806'; } /* '' */
.icon-monitor:before {  font-family: "mjhvideo"; content: '\f032'; } /* '' */
.icon-desktop:before {  font-family: "mjhvideo"; content: '\f108'; } /* '' */

#header .form-div {overflow:hidden;}
#header .advanced {float:right;margin:10px 10px 0 0}
#video-check {padding:0 10px;font-family:Arial, Helvetica, sans-serif;overflow:hidden;float:left;}
#video-check div {display:inline-block;font-size:14px;color:#FFF;vertical-align:middle}
.video-icon {display:block;padding:0;margin:0 5px;position:relative;font-family: "mjhvideo";font-size:50px !important;color:#fd7a09 !important;text-shadow: 1px 1px #000;cursor:help}
.video-help {margin:-20px 0 0 -15px;font-size:16px;color:#FFF;font-weight:700;padding:20px;display:block;text-shadow: 1px 1px #000;cursor:help}

#video-check  input {-webkit-appearance: checkbox;font-size:16px !important;}
#tooltip
		{
			font-family: Ubuntu, sans-serif;
			font-size: 0.875em;
			text-align: center;
			text-shadow: 0 1px rgba( 0, 0, 0, .5 );
			line-height: 1.5;
			color: #fff;
			background: #333;
						-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border-top: 1px solid #fff;
			-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
			-moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
			box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
			position: absolute;
			z-index: 100;
			padding: 15px;
		}
			#tooltip:after
			{
		        width: 0;
		        height: 0;
		        border-left: 10px solid transparent;
		        border-right: 10px solid transparent;
				border-top: 10px solid #333;
		        border-top-color: #333;
				content: '';
				position: absolute;
				left: 50%;
				bottom: -10px;
				margin-left: -10px;
			}
				#tooltip.top:after
				{
			        border-top-color: transparent;
					border-bottom: 10px solid #666;
			        border-bottom-color: #333;
					top: -20px;
					bottom: auto;
				}
				#tooltip.left:after
				{
					left: 10px;
					margin: 0;
				}
				#tooltip.right:after
				{
					right: 10px;
					left: auto;
					margin: 0;
				}