.ih-item.square {
  position: relative;
  width: auto;
  height: auto;
  border: 0px solid #fff;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item img {
  width: auto;
  height: auto;
}

.ih-item .img81x120 img {
  width: 81px;
  height: 120px;
}

.ih-item .img64x95 img {
  width: 64px;
  height: 95px;
}

.ih-item .img65x90 img {
  width: 65px;
  height: 90px;
}

.ih-item .img70x105 img {
  width: 70px;
  height: 105px;
}

.ih-item .img75x113 img {
  width: 75px;
  height: 113px;
}

.ih-item .img35x44 img {
  width: 30px!important;
  height: 44px;
}

.ih-item .img33x49 img {
  width: 33px;
  height: 49px;
}

.ih-item .img33x50 img {
  width: 33px;
  height: 50px;
}

.ih-item .img30x45 img {
  width: 30px;
  height: 45px;
}

.show-summary .ih-item {
  float: left;
  margin: 0 10px 5px 0;
}

.episode-summary .ih-item {
  float:left;
  margin:3px 10px 3px 3px;
}

.category-item .ih-item {
  float:left;
  margin:0 25px 0 0;
}

.listings .ih-item {
  float:left;
  margin: 0 5px 0px 5px;
}

.my-listings .ih-item {
  float:left;
  margin: 3px;
}

.my-listings .ih-item img {border: 1px solid #0493BD;}


.listings li .ih-item a {padding: 0;}

.category-item .ih-item a {
  padding: 0;
}
.ih-item.square .infolisting, .ih-item.square .smallinfolisting {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square.effect7 {
  overflow: hidden;
}
.ih-item.square.effect7.colored .info, .ih-item.square.effect7.colored .infolisting, .ih-item.square.effect7.colored .smallinfolisting  {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.square.effect7.colored .info h3, .ih-item.square.effect7.colored .infolisting h3, .ih-item.square.effect7.colored .smallinfolisting h3 {
  color: #FFFFFF;
  background: rgba(12, 34, 52, 0.6);
}
.ih-item.square.effect7 .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ih-item.square.effect7 .info, .ih-item.square.effect7 .infolisting, .ih-item.square.effect7 .smallinfolisting  {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect7 .info h3, .ih-item.square.effect7 .infolisting h3 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   font-size: 22px;
   padding: 10px;
   background: none;
   margin: 0;
   margin-top: 45%;
   -webkit-transform: scale(4);
   -moz-transform: scale(4);
   -ms-transform: scale(4);
   -o-transform: scale(4);
   transform: scale(4);
   -webkit-transition: all 0.35s 0.1s ease-in-out;
   -moz-transition: all 0.35s 0.1s ease-in-out;
   transition: all 0.35s 0.1s ease-in-out;
 }

.ih-item.square.effect7 .smallinfolisting h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  background: none;
  margin: 0;
  margin-top: 45%;
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  -o-transform: scale(4);
  transform: scale(4);
  -webkit-transition: all 0.35s 0.1s ease-in-out;
  -moz-transition: all 0.35s 0.1s ease-in-out;
  transition: all 0.35s 0.1s ease-in-out;
}


.ih-item.square.effect7 .info p, .ih-item.square.effect7 .infolisting p, .ih-item.square.effect7 .smallinfolisting p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
  transform: scale(5);
  -webkit-transition: all 0.35s 0.3s linear;
  -moz-transition: all 0.35s 0.3s linear;
  transition: all 0.35s 0.3s linear;
}
.ih-item.square.effect7 a:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ih-item.square.effect7 a:hover .info, .ih-item.square.effect7 a:hover .infolisting, .ih-item.square.effect7 a:hover .smallinfolisting {
  visibility: visible;
  opacity: 1;
}
.ih-item.square.effect7 a:hover .info h3, .ih-item.square.effect7 a:hover .infolisting h3, .ih-item.square.effect7 a:hover .smallinfolisting h3,
.ih-item.square.effect7 a:hover .info p, .ih-item.square.effect7 a:hover .infolisting p, .ih-item.square.effect7 a:hover .smallinfolisting p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}