@font-face {
    font-family: 'h3g-icons';
    src:    url('fonts/h3g-icons.eot?1k0c61');
    src:    url('fonts/h3g-icons.eot?1k0c61#iefix') format('embedded-opentype'),
        url('fonts/h3g-icons.ttf?1k0c61') format('truetype'),
        url('fonts/h3g-icons.woff?1k0c61') format('woff'),
        url('fonts/h3g-icons.svg?1k0c61#h3g-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'h3g-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-three-months:before {
    content: "\e90d";
}
.icon-thirty-days:before {
    content: "\e90e";
}
.icon-bill-paid:before {
    content: "\e90f";
}
.icon-leaving-three:before {
    content: "\e910";
}
.icon-lost-stolen-phone:before {
    content: "\e911";
}
.icon-recycle-device:before {
    content: "\e912";
}
.icon-no-signal:before {
    content: "\e90b";
}
.icon-phone-spanner:before {
    content: "\e90c";
}
.icon-filter-arrows:before {
    content: "\e90a";
}
.icon-family-group:before {
    content: "\e909";
}
.icon-chat-dots:before {
    content: "\e908";
}
.icon-contract:before {
    content: "\e905";
}
.icon-bell:before {
    content: "\e907";
}
.icon-credit-cards:before {
    content: "\e906";
}
.icon-note:before {
    content: "\e900";
}
.icon-molecule:before {
    content: "\e901";
}
.icon-iphone-import:before {
    content: "\e902";
}
.icon-info-circle:before {
    content: "\e903";
}
.icon-sui-logo:before {
    content: "\e904";
}
.icon-eye-accessibility:before {
    content: "\e67c";
}
.icon-exclaimation-mark-circle:before {
    content: "\e61c";
}
.icon-question-mark-circle:before {
    content: "\e628";
}
.icon-device-manual:before {
    content: "\e62a";
}
.icon-padlock-locked:before {
    content: "\e62b";
}
.icon-padlock-unlocked:before {
    content: "\e62c";
}
.icon-micro-sim:before {
    content: "\e631";
}
.icon-nano-sim:before {
    content: "\e632";
}
.icon-standard-sim:before {
    content: "\e63c";
}
.icon-sync:before {
    content: "\e63e";
}
.icon-dongle:before {
    content: "\e600";
}
.icon-pause-circle:before {
    content: "\e601";
}
.icon-play-circle:before {
    content: "\e602";
}
.icon-iphone-sim:before {
    content: "\e603";
}
.icon-instagram:before {
    content: "\e604";
}
.icon-youtube:before {
    content: "\e605";
}
.icon-sim-free:before {
    content: "\e606";
}
.icon-sim-calendar:before {
    content: "\e607";
}
.icon-sim-money:before {
    content: "\e608";
}
.icon-three-dots:before {
    content: "\e609";
}
.icon-iphone-0800:before {
    content: "\e60a";
}
.icon-pound-circle:before {
    content: "\e60b";
}
.icon-checkbox-tick:before {
    content: "\e60c";
}
.icon-phone-download:before {
    content: "\e60d";
}
.icon-thumbs-up:before {
    content: "\e60e";
}
.icon-ios:before {
    content: "\e60f";
}
.icon-windows-8:before {
    content: "\e610";
}
.icon-kindle-fire:before {
    content: "\e611";
}
.icon-apple:before {
    content: "\e612";
}
.icon-kindle:before {
    content: "\e613";
}
.icon-android:before {
    content: "\e614";
}
.icon-mifi:before {
    content: "\e615";
}
.icon-life-donut:before {
    content: "\e616";
}
.icon-google-plus:before {
    content: "\e617";
}
.icon-wifi:before {
    content: "\e618";
}
.icon-iphone-headphone:before {
    content: "\e619";
}
.icon-iphone-world:before {
    content: "\e61a";
}
.icon-search:before {
    content: "\e61b";
}
.icon-info:before {
    content: "\69";
}
.icon-cart:before {
    content: "\e61d";
}
.icon-basket:before {
    content: "\e61e";
}
.icon-printer:before {
    content: "\e61f";
}
.icon-menu:before {
    content: "\e620";
}
.icon-insurance-undo:before {
    content: "\e621";
}
.icon-globe:before {
    content: "\e622";
}
.icon-world:before {
    content: "\e623";
}
.icon-checkmark:before {
    content: "\e624";
}
.icon-tick:before {
    content: "\e625";
}
.icon-checkmark-circle:before {
    content: "\e626";
}
.icon-cross:before {
    content: "\e627";
}
.icon-close:before {
    content: "\78";
}
.icon-close-button:before {
    content: "\e629";
}
.icon-plus:before {
    content: "\2b";
}
.icon-minus:before {
    content: "\2d";
}
.icon-asterisk:before {
    content: "\2a";
}
.icon-questionmark-circle:before {
    content: "\e62d";
}
.icon-chat:before {
    content: "\e62e";
}
.icon-speechbubble:before {
    content: "\e62f";
}
.icon-callout:before {
    content: "\e630";
}
.icon-chevron-left:before {
    content: "\3c";
}
.icon-chevron-right:before {
    content: "\3e";
}
.icon-chevron-up:before {
    content: "\e633";
}
.icon-chevron-down:before {
    content: "\e634";
}
.icon-chevron-left-thin:before {
    content: "\e635";
}
.icon-chevron-right-thin:before {
    content: "\e636";
}
.icon-chevron-up-thin:before {
    content: "\e637";
}
.icon-chevron-down-thin:before {
    content: "\e638";
}
.icon-triangle-left:before {
    content: "\e639";
}
.icon-triangle-right:before {
    content: "\e63a";
}
.icon-triangle-up:before {
    content: "\e63b";
}
.icon-triangle-down:before {
    content: "\76";
}
.icon-expand:before {
    content: "\e63d";
}
.icon-three-logo:before {
    content: "\33";
}
.icon-threelogonotext:before {
    content: "\e63f";
}
.icon-clock:before {
    content: "\e640";
}
.icon-insurance-clock:before {
    content: "\e641";
}
.icon-speedo:before {
    content: "\e642";
}
.icon-gauge:before {
    content: "\e643";
}
.icon-marker-in:before {
    content: "\e644";
}
.icon-marker:before {
    content: "\e645";
}
.icon-bus:before {
    content: "\e646";
}
.icon-park:before {
    content: "\e647";
}
.icon-rail:before {
    content: "\e648";
}
.icon-home:before {
    content: "\e649";
}
.icon-truck:before {
    content: "\e64a";
}
.icon-insurance-truck:before {
    content: "\e64b";
}
.icon-signalmast:before {
    content: "\e64c";
}
.icon-video:before {
    content: "\e64d";
}
.icon-camera:before {
    content: "\e64e";
}
.icon-telly:before {
    content: "\e64f";
}
.icon-desktop-display:before {
    content: "\e650";
}
.icon-pc-phone:before {
    content: "\e651";
}
.icon-laptop-wifi:before {
    content: "\e652";
}
.icon-laptop-money:before {
    content: "\e653";
}
.icon-laptop-calendar:before {
    content: "\e654";
}
.icon-sim:before {
    content: "\e655";
}
.icon-phone:before {
    content: "\e656";
}
.icon-tablet:before {
    content: "\e657";
}
.icon-iphone:before {
    content: "\e658";
}
.icon-iphone-plus:before {
    content: "\e659";
}
.icon-phone-feature:before {
    content: "\e65a";
}
.icon-phone-feature-money:before {
    content: "\e65b";
}
.icon-phone-cracked:before {
    content: "\e65c";
}
.icon-phone-hotspot:before {
    content: "\e65d";
}
.icon-phone-question:before {
    content: "\e65e";
}
.icon-phone-transfer:before {
    content: "\e65f";
}
.icon-phone-envelope:before {
    content: "\e660";
}
.icon-phone-feature-calendar:before {
    content: "\e661";
}
.icon-phone-feature-texts:before {
    content: "\e662";
}
.icon-iphone-calendar:before {
    content: "\e663";
}
.icon-money-calendar:before {
    content: "\e664";
}
.icon-iphone-money:before {
    content: "\e665";
}
.icon-tablet-phone:before {
    content: "\e666";
}
.icon-accessories:before {
    content: "\e667";
}
.icon-insurance-one-call:before {
    content: "\e668";
}
.icon-money-plus:before {
    content: "\e669";
}
.icon-bill:before {
    content: "\e66a";
}
.icon-doc-tick:before {
    content: "\e66b";
}
.icon-envelope:before {
    content: "\e66c";
}
.icon-email-envelope:before {
    content: "\e66d";
}
.icon-external-link:before {
    content: "\e66e";
}
.icon-headphones:before {
    content: "\e66f";
}
.icon-4g:before {
    content: "\e670";
}
.icon-piggybank:before {
    content: "\e671";
}
.icon-corner-bottom-left:before {
    content: "\e672";
}
.icon-pencil:before {
    content: "\e673";
}
.icon-tools:before {
    content: "\e674";
}
.icon-star:before {
    content: "\e675";
}
.icon-people2:before {
    content: "\e676";
}
.icon-facebook:before {
    content: "\e677";
}
.icon-twitter:before {
    content: "\e678";
}
.icon-lock-combination:before {
    content: "\e679";
}
.icon-google:before {
    content: "\e67a";
}
.icon-contacts:before {
    content: "\e67b";
}

