@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?yzk1jd');
    src:    url('icomoon.eot?yzk1jd#iefix') format('embedded-opentype'),
        url('icomoon.ttf?yzk1jd') format('truetype'),
        url('icomoon.woff?yzk1jd') format('woff'),
        url('icomoon.svg?yzk1jd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-forward-right:before {
    content: "\e915";
}
.icon-rss_feed:before {
    content: "\e916";
}
.icon-edit:before {
    content: "\e913";
}
.icon-close:before {
    content: "\e900";
}
.icon-menu:before {
    content: "\e901";
}
.icon-search-thin:before {
    content: "\e902";
}
.icon-arrow-bottom:before {
    content: "\e313";
}
.icon-arrow-left:before {
    content: "\e314";
}
.icon-arrow-right:before {
    content: "\e315";
}
.icon-arrow-top:before {
    content: "\e316";
}
.icon-apple:before {
    content: "\e917";
}
.icon-android:before {
    content: "\e919";
}
.icon-quotes-left:before {
    content: "\e903";
}
.icon-quotes-right:before {
    content: "\e904";
}
.icon-google-plus:before {
    content: "\e905";
}
.icon-facebook:before {
    content: "\e906";
}
.icon-whatsapp:before {
    content: "\e907";
}
.icon-twitter:before {
    content: "\e908";
}
.icon-telegram:before {
    content: "\e90d";
}
.icon-instagram:before {
    content: "\e909";
}
.icon-share2:before {
    content: "\e90a";
}
.icon-youtube:before {
    content: "\e90b";
}
.icon-comment:before {
    content: "\e918";
}
.icon-view:before {
    content: "\e914";
}
.icon-favourite:before {
    content: "\e91a";
}
.icon-viber:before {
    content: "\e90c";
}
.icon-mail:before {
    content: "\e90e";
}
.icon-bell:before {
    content: "\e90f";
}
.icon-odnoklassniki:before {
    content: "\e910";
}
.icon-pocket:before {
    content: "\e911";
}
.icon-vk:before {
    content: "\e912";
}
