body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #333;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

header,
.menu-global-wrapper,
.content-main,
.menu-global-wrapper.cloned .nav-global {
    width: 1200px;
    margin: 0 auto;
}


/***** Header *****/
/*header.header {
    height: 160px;
}*/

header.header .header-logo {
    float: left;
    margin: 20px 0 30px;
}

header.header .data {
    float: right !important;
    margin: 20px 0 !important;
    color: #333;
    font-size: 1.1em !important;
}

header.header .data .perioada {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}

header.header .data .perioada span {
    color: #5d5d5d;
    font-size: 0.8em;
    display: block;
    text-align: center;
    font-weight: normal;
}

header.header .data .regulament {
    display: inline-block;
    display: none;
}

header.header .data .regulament:before {
    font-family: 'icomoon';
    content: "\e902";
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 8px;
    color: #fd4507;
}

/***** Meniu principal *****/
.menu-global-wrapper {
    z-index: 5;
}

.menu-global-wrapper .nav-global {
    display: table;
    width: 100%;
}

.menu-global-wrapper .nav-global .cat-item {
    display: table-cell;
    width: auto;
    vertical-align: top;
    white-space: nowrap;
    padding: 0 3px;
}

.menu-global-wrapper .nav-global .cat-item:first-child {
    padding-left: 0;
}

.menu-global-wrapper .nav-global .cat-item:last-child {
    padding-right: 0;
}

.menu-global-wrapper .nav-global .cat-item a {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 3px 4px !important;
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 0 1px;
}

.menu-global-wrapper .nav-global .cat-item a span {
    background: none;
    color: inherit;
    line-height: 1.5em;
}

.menu-global-wrapper .nav-global .cat-item a span:before {
    font-family: 'icomoon';
    content: "\e90a";
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px;
    display: none;
}

.menu-global-wrapper .nav-global .cat-item.ingrijire_personala_parfumuri_ceasuri a span:before {
    content: "\e906";
}

.menu-global-wrapper .nav-global .cat-item.electrocasnice a span:before {
    content: "\e904";
}

.menu-global-wrapper .nav-global .cat-item.telefoane_gadgeturi a span:before {
    content: "\e901";
}

.menu-global-wrapper .nav-global .cat-item.laptopuri_accesorii a span:before {
    content: "\e907";
}

.menu-global-wrapper .nav-global .cat-item.televizoare a span:before {
    content: "\e900";
}

.menu-global-wrapper .nav-global .cat-item.componente_periferice a span:before {
    content: "\e909";
}

.menu-global-wrapper .nav-global .cat-item.mama_bebe a span:before,
.menu-global-wrapper .nav-global .cat-item.casa_bebe_jucarii a span:before {
    content: "\e903";
}

.menu-global-wrapper .nav-global .cat-item.bricolaj_auto a span:before {
    content: "\e90a";
}

.menu-global-wrapper .nav-global .cat-item.cadouri a span:before {
    content: "\e90c";
}

.menu-global-wrapper .nav-global .cat-item.is-active a span:before {
    display: inline-block;
}

.menu-global-wrapper .nav-global .cat-item:hover a,
.menu-global-wrapper .nav-global .cat-item.is-active a {
    text-decoration: none;
    background: #fe5a13;
    border-color: #fe5a13;
}

.content-main {
    margin: 10px auto;
}

/* Meniu fix */
.menu-global-wrapper.cloned {
    position: fixed !important;
    display: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    background: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;

    -moz-box-shadow: 0 5px 5px rgba(207, 207, 207, 0.5);
    -webkit-box-shadow: 0 5px 5px rgba(207, 207, 207, 0.5);
    box-shadow: 0 5px 5px rgba(207, 207, 207, 0.5);
}


/***** Fixed menu *****/
.content-main aside {
    width: 250px;
    z-index: 5;
    position: absolute;
    top: 0;
}

.content-main aside > h3 {
    display: none;
}

.content-main aside .nav-support {
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
}

.content-main aside .sub-item a {
    display: block;
    font-size: 13px;
    position: relative;
    padding: 8px 10px 8px 15px;
    border-bottom: 1px solid #ebebeb;
}

.content-main aside .sub-item:first-child a {
    border-radius: 5px 5px 0 0;
}

.content-main aside .sub-item:last-child a {
    border-radius: 0 0 5px 5px;
}

.content-main aside .sub-item a:hover,
.content-main aside .sub-item.is-active a {
    background: #fff;
    color: #333;
}

.content-main aside .sub-item:last-child a {
    border-bottom: 0;
}

/***** Content *****/
#first_sections,
#content_loader {
    width: auto;
    margin-left: 260px;
}

.content-main .content-section {
    width: 100%;
    float: right;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
}

.content-main .content-section h1.section-title {
    display: none;
}

.content-main .content-section > a:first-of-type .lazy {
    border-radius: 5px 5px 0 0;
}

.content-main .content-section .section-product-item {
    width: 20%;
    float: left;
    position: relative;
    margin: 10px 0;
    text-align: center;
}

.content-main .content-section .section-product-item .product-link {
    margin: 0 10px;
    display: block;
    color: #333;
    text-align: center;
}

.content-main .content-section .section-product-item .product-link .product-image {
    position: relative;
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.content-main .content-section .section-product-item .product-link .product-bonus table {
    display: none;
}

.content-main .content-section .section-product-item .product-link .product-image img {
    max-width: 90%;
    max-height: 90%;
}

.content-main .content-section .section-product-item .productSpecialInfo {
    position: absolute;
    top: 0;
    left: 10px;
}

.content-main .content-section .section-product-item .productSpecialInfo .product-discount {
    background: #fe5a13;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 1em !important;
    display: block;
    margin-bottom: 10px;
}

.content-main .content-section .section-product-item .productSpecialInfo .bonus {
    color: #fe5a13;
    border: 1px solid #b3b3b3;
    background: #fff;
    border-radius: 5px;
    padding: 5px 0;
}

.content-main .content-section .section-product-item .productSpecialInfo .bonus i {
    font-size: 1.5em;
    vertical-align: middle;
}

.content-main .content-section .section-product-item .product-price {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 10px 0 5px;
}

.content-main .content-section .section-product-item .product-price .product-old-price {
    position: absolute;
    left: 80%;
    top: 0;
    text-decoration: line-through;
    font-size: 1.1em;
    color: #a5a5a5;
    text-align: left;
    white-space: nowrap;
}

.content-main .content-section .section-product-item .product-price .product-old-price > .product-price-curr {
    text-transform: lowercase;
}

.content-main .content-section .section-product-item .product-price .product-cp > .product-price-fix {
    font-size: 2.2em;
    color: #fe5a13;
}

.content-main .content-section .section-product-item .product-price .product-cp .product-price-curr {
    text-transform: lowercase;
    display: inline-block;
    margin-left: 3px;
}

.content-main .content-section .section-product-item .product-link .product-title {
    font-size: 1em;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
    text-align: center;
    color: #333;
    margin: 0;
}

.content-main .content-section .section-product-item .addToCart {
    text-transform: uppercase;
    color: #333;
    border: 1px solid #fe5a13;
    padding: 2px 15px;
    border-radius: 3px;
    margin: 5px 0;
    display: inline-block;
}

.content-main .content-section .section-product-item .addToCart span {
    vertical-align: middle;
}

.content-main .content-section .section-product-item .addToCart:hover {
    border-color: #ccc7c7;
}

.content-main .content-section .section-product-item .addToCart:before {
    font-family: 'icomoon';
    content: "\e905";
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    position: relative;
    margin-right: 8px;
    color: #fd4507;
}

.content-main .content-section .section-product-item .product-outofstock {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 100%;
    background: rgba(255,255,255,0.7);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content-main .content-section .section-product-item .product-outofstock .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.content-main .content-section .section-product-item .product-outofstock .infoStoc {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #333;
    border-left: 0;
    border-right: 0;
    padding: 5px 10px;
}

.content-main .content-section .section-product-item .product-outofstock .infoStoc .stoc {
    font-size: 3.5em;
    line-height: 0.8;
    color: #ee3e40;
}

.content-main .content-section .section-product-item .product-outofstock .infoStoc .epuizat {
    font-size: 2.3em;
    line-height: 0.8em;
    margin-top: 3px;
}

.content-main .content-section .section-show-more {
    clear: left;
    display: block;
    margin: 10px;
    text-align: center;
    background: #fe5a13;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
}

.content-main .content-section .section-show-more:hover {
    background: #f96526;
}

.backToTop {
    display: inline-block;
    color: #fff;
    font-size: 2em;
    background: #fe5a13;
    border-radius: 0 5px 5px 0;
    margin-left: 10px;
    padding: 4px 10px;
    position: fixed;
    bottom: 10px;
    left: -10px;
}

.backToTop:hover {
    color: #fff;
    background: #f96526;
}

iframe[name='google_conversion_frame'], 
iframe[width='1'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

@media all and (min-width: 1440px) {
    header,
    .menu-global-wrapper,
    .content-main,
    .menu-global-wrapper.cloned .nav-global {
        width: 1400px;
    }

    .menu-global-wrapper .nav-global .cat-item a span:before {
        display: inline-block;
    }
}

@media all and (min-width: 1200px) {
    .menu-global-wrapper .nav-global .cat-item a span {
        line-height: 2.3em;
    }
}

@media all and (max-width: 1200px) {
    body {
        padding: 0 10px;
        background-image:none!important;
    }

    header,
    .menu-global-wrapper,
    .content-main,
    .menu-global-wrapper.cloned .nav-global {
        width: 100%;
    }

    .menu-global-wrapper .nav-global .cat-item {
        display: table;
        width: 25%;
        margin-bottom: 10px;
        float: left;
    }

    .menu-global-wrapper .nav-global .cat-item:nth-child(4n) {
        margin-right: 0;
    }

    .menu-global-wrapper .nav-global .cat-item a {
        white-space: normal;
        display: table-cell;
        padding: 0 5px !important;
        height: 3.4em;
        vertical-align: middle;
    }

    .content-main .content-section .section-product-item {
        width: 25%;
    }
}

@media all and (min-width: 993px) {
    .menu-global-wrapper .nav-global .cat-item:first-child a {
        margin-left: 0;
    }

    .menu-global-wrapper .nav-global .cat-item:last-child a {
        margin-right: 0;
    }
}

@media all and (max-width: 992px) {
    .content-main aside {
        display: none;
    }

    .menu-global-wrapper .nav-global .cat-item:nth-child(4n) {
        padding-right: 0;
    }

    .menu-global-wrapper .nav-global .cat-item:nth-child(4n+1) {
        padding-left: 0;
    }

    #first_sections,
    #content_loader {
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    header .header-logo,
    header.header .data {
        float: none !important;
        text-align: center;
        display: block;
    }

    .menu-global-wrapper .nav-global .cat-item {
        width: 50%;
    }

    .menu-global-wrapper .nav-global .cat-item:nth-child(2n) {
        padding-right: 0;
    }

    .menu-global-wrapper .nav-global .cat-item:nth-child(2n+1) {
        padding-left: 0;
    }

    .content-main .content-section .section-product-item {
        width: 33.3333%;
    }
}

@media all and (max-width: 600px) {
    .content-main .content-section .section-product-item {
        width: 50%;
    }
}

@media all and (max-width: 480px) {
    header .data .perioada {
        margin-right: 0;
    }

    .menu-global-wrapper .nav-global .cat-item {
        width: 100%;
        padding: 0;
    }

    .menu-global-wrapper .nav-global .cat-item a span:before {
        display: inline-block;
    }
}

@media all and (max-width: 380px) {
    .content-main .content-section .section-product-item .addToCart {
        padding: 2px 0;
        display: block;
        margin: 5px 2px;
    }

}

@media all and (max-width: 299px) {
    .content-main .content-section .section-product-item {
        width: 100%;
    }
}