@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mocpu9');
  src:  url('fonts/icomoon.eot?mocpu9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?mocpu9') format('woff2'),
    url('fonts/icomoon.ttf?mocpu9') format('truetype'),
    url('fonts/icomoon.woff?mocpu9') format('woff'),
    url('fonts/icomoon.svg?mocpu9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
  content: "\e90c";
}
.icon-chevron-up:before {
  content: "\e90b";
}
.icon-tv:before {
  content: "\e900";
}
.icon-telefon:before {
  content: "\e901";
}
.icon-regulament:before {
  content: "\e902";
}
.icon-jucariibebe:before {
  content: "\e903";
}
.icon-electrocasnice:before {
  content: "\e904";
}
.icon-cos:before {
  content: "\e905";
}
.icon-ingrijire:before {
  content: "\e906";
}
.icon-laptop:before {
  content: "\e907";
}
.icon-bonus:before {
  content: "\e908";
}
.icon-componente:before {
  content: "\e909";
}
.icon-casasigradina:before {
  content: "\e90a";
}

