﻿.ad, aside, form, .marquee, header .navbar, header .btn, .form, header #search-form-radios, header small, .article-tags, .article-linkstodiscussion, .rubrics-list, .modal, #social-media-buttons
{
    display:none !important;
}

img 
{
    width:auto !important;
    border:0 !important;
}