@media (max-width: 1642px) {
    .ny-left-corner {
        width: 200px;
    }
    .ny-right-corner {
        width: 200px;
    }
}

@media (max-width: 1542px) {
    .ny-left-corner {
        width: 150px;
    }
    .ny-right-corner {
        width: 150px;
    }
}

@media (max-width: 1440px) {
    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }
}

@media (max-width: 1260px) {

    .achievements ul {margin: 0 30px;}
    .achievements .icon, .contacts .text-block i {width: 120px; height: 119px;}
    .achievements li > span {font: 700 14px/28px 'Open Sans', sans-serif;}
    .achievements li > span strong {font: 700 24px/28px 'Open Sans', sans-serif;}
    .achievements li p {font: 300 16px/22px 'Open Sans', sans-serif;}
    #carusel-partners {padding: 0 30px;}

    .contacts .text-block .title {font: 700 12px/20px 'Open Sans', sans-serif;}
    .contacts .text-block .txt {font-size: 12px;}

    .slider-for:after {width: 470px; height: 470px;}
    .slider-for {width: 324px; height: 324px;}

    .slider-for .slick-slide h4 {font: 700 16px/22px 'Open Sans', sans-serif;}
    .slider-for .slick-slide p {font: 400 12px/16px 'Open Sans', sans-serif;}

    #slick-slide00 {top: 50px; left: -7px;}
    #slick-slide01 {top: 308px; left: 36px;}
    #slick-slide02 {top: -20px; left: 240px;}
    #slick-slide04 {top: 215px; right: -30px;}
    #slick-slide05 {top: 302px; right: 25px;}
    #slick-slide06 {top: 345px; left: 190px;}

    .page .menu li {font-size: 14px;}

    .authorization, .registration {max-width: 450px;}
    .jcarousel li {width: 438px;}

    .publishers .owl-carousel .item .st {bottom: 70px; width: 20%;}
    .publishers .owl-carousel .item .white {right: -25px; bottom: 50px;}
    .text-block{padding-left: 15%; padding-right: 15%;}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }
}


@media (max-width: 1190px) {

    .col-lg {width: 100%; margin-top: 12px;}
    .col-lg .marg12 {margin: 0 12px 0 0;}
    .col-lg-none {display: none;}

    .sel-mob {width: 150px;}
    .sel-mob-w100 {width: 100px;}

    .wid-a, .wid-b, .wid-c {width: 130px;}
    .plac .wid-a, .plac .wid-b, .plac .wid-c {width: 110px;}
    .filter-sel {}

    .filter .w50 {width: 100%; padding: 5px 0;}
    .filter {margin: -5px 0;}
    .filter .w50 + .w50 > div:first-child {padding-left: 0;}

    .plac .w50 {width: auto; padding: 0px 0;}
    .plac {margin:0;}
    .plac .w50 + .w50 > div:first-child {padding-left: 10px;}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }


}

@media (max-width: 1100px) {

    .payment {display: none;}

    /*
    .regfunc .reg-popup {width: 100%;}
    .-next.bot1100 {width: 100%;}
    .-next.bot1100:before {left: 50px; top: 14px;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    */

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }
}


@media (max-width: 1000px) {

    .main {padding-top: 84px;}
    header {height: 50px;}
    header .cent {height: 50px;}
    .language, .menu .btn-menu {margin-top: 6px;}
    .logo a {width: 164px; height: 40px;}
    .logo a img {width: 140px;}
    .logo {top: 5px;}
    header.menu-open .logo a {width: 38px;}

    .header .logout {top: 5px;}
    .header .logo {margin-top: 5px;}

    .menu ul {padding-top: 16px;}
    .home h1 {font: 300 30px/42px 'Open Sans', sans-serif;}
    .home h1 strong {font-size: 32px;}

    .container {padding: 50px 0 100px 0;}

    .minheight {min-height: 500px;}
    .achievements .icon {margin-top: 0;}
    .achievements li {padding: 10px 0;}

    .contacts .text-block h3 {padding-top: 0 !important;}
    .contacts .minheight {min-height: 400px;}

    .page footer {position: relative; left: auto; bottom: auto; height: 50px;}
    footer {height: 50px;}
    .copyr {padding: 9px 0 0 0; font: 400 11px/16px 'Open Sans', sans-serif;}
    footer nav li {font-size: 11px; padding: 0 7px 0 9px;}
    footer nav {padding-top: 16px;}

    .mouse {display: none;}

    .wrap {overflow: hidden;}

    .column-right {position: absolute; right: 15px;
    -webkit-transform: translate(150%, 0);
    -moz-transform: translate(150%, 0);
    -ms-transform: translate(150%, 0);
    -o-transform: translate(150%, 0);
    transform: translate(150%, 0);
    }
    .column-left {margin: 0;}
    .filter {padding-right: 0;}

    .add-site {margin-top: 15px; position: relative; right: auto; float: left; width: 100%;}
    .add-site a {width: 240px;}

    .block-link {display: none;}
    .header .menu ul li {font-size: 14px; padding: 0 10px 0 12px;}
    .header .menu {margin: 0 120px 0 170px;}

    .filter .w50 {width: auto; padding: 0px 0;}
    .filter {margin: 0px 0;}
    .filter .w50 + .w50 > div:first-child {padding-left: 10px;}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }

}

@media (max-width: 970px) {

    .coll-50.minheight {width: 100%; height: auto;}
    #owl-demo .item img {max-height: 400px; width: auto; max-width: 100%; display: block; margin: 0 auto;}
    .row {height: auto;}
    .menu {overflow: visible;}

    .text-block, .achievements, .carusel-frame, .slider-for {position: relative; left: auto; top: auto; margin: 0 auto;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    }

    .minheight {min-height: auto; padding: 30px 0;}
    #main h3 {padding: 0 0 20px 0;}
    .fp-tableCell {vertical-align: top;}
    .home .fp-tableCell {vertical-align: middle;}

    .slider-for {display: block; margin: 0 auto;}
    .minheight.slider {padding: 80px 0;}

    .contacts {background: #fafbff;}
    .partners-frame {padding: 30px 0;}

    #map {height: 300px;}

    .maps {height: auto !important; padding: 0 !important; min-height: auto !important; }
    .section.cont, .fp-tableCell {height: auto !important;}

    .container {padding: 50px 15px 100px 15px;}

    header .cent {overflow: visible;}
    .page .menu {position: absolute; right: 15px; top: 0;}
    .page .menu ul {position: absolute; right: 0; top: 49px; padding: 10px 0; margin: 0; background: #2c2e3e; width: 200px;
        -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    }
    .page .menu ul li {float: none; display: block; padding: 0px 0px; margin: 0;}
    .page .menu ul li a {display: block; padding: 7px 15px;}
    .page .menu ul li:before {display: none;}
    .page .menu:after {display: none;}

    #menu {
    -webkit-transform: translate(150%, 0);
       -moz-transform: translate(150%, 0);
        -ms-transform: translate(150%, 0);
         -o-transform: translate(150%, 0);
            transform: translate(150%, 0);
    }
    .menu-open #menu {
        -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    }
    header.menu-open .logo a {width: 164px;}
    header.menu-open .logo {left: 50%;
        -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);}

    #carusel-partners {padding: 0 10px;}
    footer nav li:before {top: -1px;}

    .page {padding-top: 49px;}

    .authorization, .registration {max-width: 612px;}
    .jcarousel li {width: 600px;}

    .publishers .owl-carousel .item .st {position: absolute; right: 53%; bottom: 50px; width: 20%;}
    .publishers .owl-carousel .item .white {position: absolute; right: -50px; bottom: 0px; width: 60%;}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }


}


@media (max-width: 900px) {

    .filter .jq-selectbox__select, .filter .jq-selectbox__dropdown, .filter .data-inp .inp {font-size: 12px;}
    .wid-d, .wid-a, .wid-b, .wid-c {width: 100px;}
    .filter .data-inp .inp {}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }

}


@media (max-width: 768px) {

    footer nav {display: none;}
    .copyr {width: 100%; text-align: center;}
    .achievements ul {margin: 0 15px;}
    .btn {font-size: 12px;}
    .type-reg .btn {padding: 0; text-align: center;}
    .registration .title-step {font-size: 14px;}
    .authorization .row, .registration .row {padding: 11px 10px;}
    .btn-prev, .btn-next {width: 120px;}

    .faq {margin: 0 0px;}

    .inputline .titl, .inputline .input, .add-site, .company .inputline .titl {float: left; width: 100%; text-align: left;}
    .company .inputline .input {margin: 0; width: 100%; float: left;}
    .add-price {float: left !important;}

    .-next.bot1100 {width: 48px;}
    .-next.bot1100:before {left: 50%; top: 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .col-lg {width: auto; margin-top:0px;}
    .col-lg-none {display: block;}
    .lh115 {line-height: 38px !important;}
    .col-lg .marg12 {margin: 0 0px 0 12px;}

    .inputline .titl {line-height: 26px;}
    .sel-ch label {font-size: 12px;}

    .column-left h1 {font: 600 18px/24px 'Open Sans', sans-serif;}
    .main {padding-bottom: 100px;}

    .block-right {display: none;}
    .btn-mobile {display: block;}

    .block-right {position: absolute; width: 200px; right: 15px; top: 49px; background: #2c2e3e; padding-bottom: 15px;}
    .open .block-right {display: block;}

    .header .menu {margin: 0; text-align: left;}
    .header .menu ul {padding: 10px 0;}
    .header .menu ul li {font-size: 14px; padding: 0; margin: 0; display: block;}
    .header .menu ul li:before {display: none;}

    .header .menu ul li a {display: block; padding: 7px 15px;}

    .header .logout {margin: 0 auto; display: block; float: none; width: 110px; position: relative; right: auto; top: auto;}

    .delete {width: 14px; height: 15px; overflow: hidden; font-size: 0; display: block; line-height: 0; margin-top: 11px;}
    .delete:before {margin: 0 0 0 0;}

    .table table {font-size: 12px;}

    .filter .w50 {width: 100%; padding: 5px 0;}
    .filter {margin: -5px 0;}
    .filter .w50 + .w50 > div:first-child {padding-left: 0;}
    .wid-a, .wid-b, .wid-c {width: 118px;}

    .add-site a {margin: 0 auto;}

    .plac .wid-b, .plac .wid-c {width: 124px;}

    .publishers .owl-carousel .item .st {bottom: 70px; width: 20%;}
    .publishers .owl-carousel .item .white {right: -25px; bottom: 50px;}
    
    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }

}


@media (max-width: 690px) {
    /*

    */
    .col-lg {width: 100%; margin-top: 12px;}
    .col-lg .marg12 {margin: 0 12px 0 0;}
    .col-lg-none {display: none;}

    .regfunc .reg-popup {width: 100%;}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }

}


@media (max-width: 550px) {
    .-next.bot1100 {width: 100%;}
    .-next.bot1100:before {left: 50px; top: 14px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    .sel-mob {width: 208px;}
    .sel-mob-w100 {width: 115px;}

    .radio-list li {display: block; padding: 5px;}

    .col-lg .coll {padding: 5px 0;}

    .table thead th, .table tbody td, .table tfoot td {padding: 5px 4px;}
    .table thead th, .table tbody td, .table tfoot td, .table tfoot td:first-child {font-size: 10px;}
    .table thead th {font-size: 9px;}

    .authorization .coll-50, .registration .coll-50 {width: 100%; padding: 6px 0;}
    .img-capcha {width: 220px; margin: 0 auto;}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }


}


@media (max-width: 500px) {

    .text-block {width: auto; display: block; padding:  0 15px;}
    .maps, .slider, .publishers .bgcfa {display: none;}

    .slider-for:after {width: 300px; height: 300px;}
    .slider-for {width: 206px; height: 206px;}
    .contacts .text-block li {width: 100%; padding: 15px 0;}
    .contacts .text-block .title {min-height: auto;}

    .achievements li {width: 50%;}
    #main h3 {font: 300 24px/34px 'Open Sans', sans-serif;}

    header .logo a, header.menu-open .logo a {width: 38px;}

    .reklm .text-block p strong {font: 700 14px/20px 'Open Sans', sans-serif;}
    .slider-nav .slick-slide {font: 400 12px/20px 'Open Sans', sans-serif !important;}

    .home h1 {font: 300 18px/35px 'Open Sans', sans-serif;}
    .home h1 strong {font-size: 22px;}

    .reklm h3 {text-align: center;}

    .authorization .row .coll-50 {width: 100%; padding: 6px 0;}

    .slider-nav .slick-active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);}

    .container {padding-bottom: 30px; padding-top: 0;}

    .row.mobile {padding: 5px 10px;}
    .mobile .coll-50 {width: 100%; padding: 6px 0;}
    .btn-prev, .btn-next {font-size: 14px;}

    .input .coll-a {width: 150px;}

    .-tit {width: 100%; text-align: left;}



    .wid-c {width: 100%; margin: 10px 0 0 0;}
    .wid-a, .wid-b, .plac .wid-b, .plac .wid-c {width: 50%; margin: 0; padding: 0 0px; -moz-box-sizing: border-box;  box-sizing: border-box;}
    .wid-a, .plac .wid-b {padding-right: 5px;}
    .wid-b, .plac .wid-c {padding-left: 5px;}

    .plac .wid-b, .plac .wid-c {}

    .filter .sel-button {margin: 0; padding: 10px 0 0 0; width: 100%; text-align: center;}

    .popup {width: 300px;}


    .btn-prev, .btn-next {width: 105px; font-size: 12px;}
    .registration .title-step, .agree label {font-size: 12px;}

    .img-capcha {width: 150px; margin: 0 auto;}

    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }


}

@media (max-width: 300px) {

    .achievements li {width: 100%;}
    .ny-left-corner, .ny-right-corner, .left-tree, .right-tree {
      display: none;
    }
}
