/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin: 0px; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	margin: 0px; text-indent: -9999px; overflow: hidden;
	padding: 0px; width: 62px; height: 148px; position: absolute; top: 50%; margin-top: -74px;
	font-size: 0px;
	background: #d0d3df;
}
.owl-theme .owl-controls .owl-buttons div:after {width: 16px; height: 27px; content: '';}
.owl-prev {left: 0;}
.owl-next {right: 0;}
.owl-prev:after {background: url(../images/owl-prev.png);}
.owl-next:after {background: url(../images/owl-next.png);}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
background: #fd493d;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0px 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    border: 2px solid #2c2e3e; -moz-box-sizing: border-box;  box-sizing: border-box;
	background: #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #fd493d; border: 2px solid #fd493d;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}