html, body {margin: 0; padding: 0; width: 100%;  height: 100%; font-size: 14px; font-family: 'Open Sans', sans-serif;}
* {padding:0; margin:0;}
img {border:0; display:block;}

body {min-width: 280px;}

article, aside, footer, header, hgroup, nav, section {display: block;}
input, textarea {outline:none;}
textarea {resize:none;}
ul {list-style:none;}
.bold {font-weight:bold;}
.clear {clear:both; line-height:0; font-size:0; height:0;}

.clearfix:after { content:''; clear:both; display:block; height:0; line-height:0; font-size:0; background:none;}
.cent {max-width: 1140px; display: block; margin: 0 auto; position: relative; padding: 0 15px;}

.left {float: left;}
.right {float: right;}

a {color: #6eaee5; outline:none;}
a:hover {text-decoration: none;}

.page {position: relative; width: 100%; display: block; overflow: hidden;}

button {outline:none;}

.forget-password-tooltip {
    text-align: center;
    display: block;
    font: 400 14px/20px 'Open Sans', sans-serif;
    text-transform: uppercase;
}


@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Margins */
.mt8{
    margin-top: 8px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}


.home {background: url(../images/bg1.jpg) no-repeat; background-size: cover;}
.bg2 {background: url(../images/bg2.jpg) no-repeat; background-size: cover;}
.bg3 {background: url(../images/bg3.jpg) no-repeat; background-size: cover;}
.bg4 {background: url(../images/bg4.jpg) no-repeat; background-size: cover;}
.bgcfa {background: #fafbff;}

.row {display: block; position: relative; height: 100%;}
.row .coll-50 {width: 50%; float: left; position: relative; height: 100%; -moz-box-sizing: border-box;  box-sizing: border-box;}

.menu .btn-menu:after, .language span:after, .menu .btn-menu:before, .mouse, .contacts .text-block .txt:before, .faq .ui-accordion-header:before, .btn-prev:before, .btn-next:after, .jq-checkbox, .jq-checkbox.checked .jq-checkbox__div, .header .logout a:before, .manager-panel .contacts-list li span:before, .jq-selectbox__trigger-arrow, .data-inp:after, .add-site a:before, .status, .sprite:before, .add-price a:before, .delete:before, .-next:before, .btn-add:before, .butt:before, .jq-radio, .jq-radio.checked .jq-radio__div, .jq-select-multiple li:after, .chosen-container-multi .chosen-drop .result-selected:after, .btn-mobile:after, .btn-mobile:before, input[type=radio].css-checkbox + label.css-label:after
{
background-image: url(../images/sprite.png); background-repeat: no-repeat; display: block; content: '';
}

.unselectable, header {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.menu ul, .logo, .menu a, .owl-theme .owl-controls .owl-buttons div, footer nav li a, .owl-theme .owl-controls .owl-page span, .butt-list a, .butt-list span, .slider-nav .slick-slide {
-webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

}

.logo a, .menu .btn-menu:after, .menu .btn-menu:before {
-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}


/* -------- header -------- */

header {position: fixed; left: 0; top: 0; height: 80px; width: 100%; background: #2c2e3e; z-index: 150;}
header .cent { height: 80px;}

.logo {position: absolute; left: 50%; top: 6px; z-index: 50;

    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
.logo a {width: 223px; height: 64px; display: block; overflow: hidden;}
.logo a img {}
header.menu-open .logo {left: 90px;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}
header.menu-open .logo a {width: 61px;}

header.menu-open .right-tree, header.menu-open .left-tree {
  display: none;
}

.menu .btn-menu, .btn-mobile {border: 2px solid #ffffff; position: relative; display: block; width: 60px; height:  38px; -moz-box-sizing: border-box;  box-sizing: border-box; cursor: pointer;
    -webkit-border-radius:20px;
       -moz-border-radius:20px;
           border-radius: 20px;
}

.language, .menu .btn-menu {margin-top: 20px;}
.language span {font: 300 14px/34px 'Open Sans', sans-serif; padding: 0 0 0 15px; color: #fff;}
.language span:after {width: 7px; height: 4px; background-position: -124px -111px; position: absolute; right: 11px; top: 50%; margin-top: -2px;}


.lang {width: 60px;}
.language .jq-selectbox li.sel {display: none;}
.language .jq-selectbox__select {
    height: 34px;
    padding: 0 20px 0 15px;
    font: 300 14px/34px 'Open Sans', sans-serif;
    color: #fff;
    background: #2c2e3e;
    border: 2px solid #fff;
    -webkit-border-radius:20px;
       -moz-border-radius:20px;
           border-radius: 20px;
}
.language .opened  .jq-selectbox__select{

    -webkit-border-radius:20px 20px 0 0;
       -moz-border-radius:20px 20px 0 0;
           border-radius: 20px 20px 0 0;
    background: #fd483d;

}
.language .jq-selectbox__trigger-arrow {width: 7px; height: 4px; background-position: -124px -111px; position: absolute; right: 10px; top: 50%; margin-top: -2px;}
.language .opened .jq-selectbox__trigger-arrow {background: url(../images/ar.png);}

.language .jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: -2px 0 0;
    padding: 0;
    border: 2px solid #fff;
    -webkit-border-radius:0 0 20px 20px;
       -moz-border-radius:0 0 20px 20px;
           border-radius: 0 0 20px 20px;
    background: #FFF;
    font: 14px/34px 'Open Sans', sans-serif;
    color: #000;
}
.language .jq-selectbox li {
    min-height: 32px; text-align: center;
    padding: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #000;
}
.language .jq-selectbox li:hover {background: none;}

.language.panel{
    margin-right: 10px;
}

.menu {position: relative; overflow: hidden;}
.menu:after {width: 94px; height: 60px; content: ''; position: absolute; right: -15px; top: 0; z-index: 10; background: #2c2e3e; font-size: 0;}
.menu ul {padding: 29px 0 0 0; float: left;
    -webkit-transform: translate(200%, 0);
       -moz-transform: translate(200%, 0);
        -ms-transform: translate(200%, 0);
         -o-transform: translate(200%, 0);
            transform: translate(200%, 0);
}
.menu li {float: left; text-transform: uppercase; color: #3799ed; font: 300 16px/20px 'Open Sans', sans-serif; position: relative; padding: 0 17px 0 19px;}
.menu li:before {content: '|'; position: absolute; left: 0px; top: 0px;}
.menu li:first-child:before {display: none; padding-left: 0;}
.menu a {color: #3799ed; text-decoration: none;}
.menu a:hover, .menu li.active a {color: #fff;}

.menu .btn-menu {z-index: 50; background: #2c2e3e;}
.menu .btn-menu:after, .menu .btn-menu:before, .btn-mobile:after, .btn-mobile:before {content: ''; width: 24px; height: 14px; background-position: -5px -5px; position: absolute; left: 50%; top: 50%; margin: -7px 0 0 -12px; opacity: 1;}
.menu .btn-menu:before, .btn-mobile:before {width: 20px; height: 20px; background-position: -39px -5px; margin: -10px 0 0 -10px; opacity: 0;}
.menu .btn-menu.active:after, .btn-mobile.active:after {opacity: 0;}
.menu .btn-menu.active:before, .btn-mobile.active:before {opacity: 1;}

.btn-mobile {position: absolute; right: 15px; top: 5px; display: none;}
.block-right {width: 100%; display: block; position: relative;}

header.menu-open .menu ul {
    -webkit-transform: translate(0%, 0);
       -moz-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
         -o-transform: translate(0%, 0);
            transform: translate(0%, 0);
}


.header .logo {position: relative; left: 0; top: 0; float: left; margin-top: 14px;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}


.header .logout {position: absolute; right: 15px; top: 21px; margin: 0px 0 0 0;}
.header .logout a, .add-site a {border: 2px solid #fd493d; -moz-box-sizing: border-box;  box-sizing: border-box; display: block; height: 38px; padding: 0 18px 0 15px; font: 400 14px/34px 'Open Sans', sans-serif; text-transform: uppercase; text-decoration: none; color: #fff;
    -webkit-border-radius:20px;
       -moz-border-radius:20px;
           border-radius: 20px;
}
.add-site a {color: #29356a; text-decoration: none; text-align: center;}
.header .logout a:before, .add-site a:before {width: 13px; height: 15px; background: url(../images/logout.png); content: ''; display: inline-block; vertical-align: middle; margin: 0 6px 4px 0;}
.add-site a:before {width: 14px; height: 14px; background-image: url(../images/sprite.png); background-position: -5px -47px; margin-bottom: 2px; margin-left: 7px;}

.add-site {position: absolute; right: 0; top: 0px; width: 240px;}

.header .menu {margin: 0 120px 0 220px; text-align: center;}
.header .menu ul {float: none; display: inline-block; vertical-align: top;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}
.header .menu ul li { display: inline-block; vertical-align: middle;}
.header .menu li:before {left: -2px; top: -1px;}
.header .menu:after {display: none;}

/* -------- END header -------- */


/* -------- END footer -------- */

footer {background: #24262b; overflow: hidden; display: block; width: 100%; z-index: 50;  height: 79px; position: absolute; left: 0; bottom: 0px;}
.wrap > footer {bottom: -6px}

.copyr {float: left; padding: 20px 50px 0 0; font: 400 12px/19px 'Open Sans', sans-serif; color: #fff; text-transform: uppercase;}
.copyr a {color: #fd493d; text-decoration: none;}

.payment {float: left; margin: 30px 0 0 0;}
.payment .paym-item {float: left; margin: 0 6px;}

footer nav {float: right; padding-top: 30px;}
footer nav li {float: left; color: #ffffff; font: 400 14px/19px 'Open Sans', sans-serif; text-transform: uppercase; position: relative; padding: 0 11px 0 13px;}
footer nav li:before {content: '|'; position: absolute; left: 0; top: 0;}
footer nav li:first-child {padding-left: 0;}
footer nav li:first-child:before {display: none;}
footer nav li:last-child {padding-right: 0;}
footer nav li a {color: #fff; text-decoration: none;}
footer nav li a:hover {color: #fd493d;}

/* -------- END footer -------- */


.home {}
.home h1 {text-align: center; font: 300 39px/50px 'Open Sans', sans-serif; color: #fff; text-transform: uppercase; text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); padding: 40px 0;}
.home h1 strong {display: block; font-weight: 700; font-size: 38px;}
.home p {text-align: center; color: #d0d3df; font: 400 14px/20px 'Open Sans', sans-serif; text-transform: uppercase; padding: 20px 0;}

.authorization, .registration {
    -webkit-border-radius:10px;
       -moz-border-radius:10px;
           border-radius: 10px;
}
.authorization form, .registration form, .authorization .authorization-inner, .registration .registration-inner {
    -webkit-border-radius:6px;
       -moz-border-radius:6px;
           border-radius: 6px;
}

.authorization, .registration {display: block; margin: 0 auto; max-width: 612px; -moz-box-sizing: border-box;  box-sizing: border-box; border: 2px solid #fff; padding: 4px; text-align: center; position: relative; z-index: 150;}
.registration {z-index: 9999;}
.authorization h3, .registration h3 {font: 300 24px/30px 'Open Sans', sans-serif; color: #2c2e3e; text-transform: uppercase; padding: 9px 0 5px 0 !important; margin: 0 !important; }
.authorization form, .registration form, .authorization .authorization-inner, .registration .registration-inner{display: block; background: #fff; padding: 11px 0;}
.authorization .row, .registration .row {padding: 11px 16px;}
.authorization .coll-50, .registration .coll-50, .registration .coll-100 {padding: 0 6px;}

.registration .jq-checkbox.focused{outline:1px solid #CCCECE;}
.registration .btn-next.owl-next-btn{-webkit-transition: background-color 0.3s; transition: background-color 0.3s;}
.registration .btn-next.owl-next-btn:focus{background-color: #628445;}

.ots {padding-top: 25px !important;}

.ugl {position: relative;}
.ugl:after {width: 18px; height: 10px; content: ''; background: url(../images/ug.png); position: absolute; left: 50%; bottom: -11px; margin-left: -9px;}

.coll-100 {text-align: center;}
.coll-100 .inp {max-width: 272px; margin: 0 auto;}
.coll-100 button {float: none; display: inline-block;}

.registration .btn {display: block; text-align: center;}
.registration .title-step {text-transform: uppercase; color: #a5aabd; font: 400 16px/20px 'Open Sans', sans-serif; padding: 15px 10px 0 10px;}
.type-reg {padding: 9px 0 28px 0;}

.btn-prev, .btn-next {border: 0; padding: 0 0px; width: 142px; text-align: center; display: inline-block !important; color: #fff; font: 400 16px/48px 'Open Sans', sans-serif; text-transform: uppercase; height: 48px; cursor: pointer; margin: 0 5px;
    -webkit-border-radius:22px;
       -moz-border-radius:22px;
           border-radius: 22px;
}

.display-none {display: none !important;}
.reg-form-top {display: none;}

.btn-prev { background: #d0d3df;}
.btn-next {background: #7fad57;}

.btn-prev:before, .btn-next:after {content: ''; width: 7px; height: 13px; display: inline-block; vertical-align: middle;}
.btn-prev:before {background-position: -86px -5px; margin: 0 5px 2px 0px;}
.btn-next:after {background-position: -69px -5px; margin: 0 0px 2px 5px;}

.agree {text-align: left; font-size: 0; margin-top: 12px;}
.btn, .agree {
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.agree label {display: block; margin: 0 0 0 44px; padding-top: 6px; vertical-align: middle; color: #29356a; font: 400 14px/20px 'Open Sans', sans-serif; text-transform: none;}
.agree .jq-checkbox {margin-right: 12px; float: left;}

.img-capcha {border: 2px solid #d0d3df; width: 100%; -moz-box-sizing: border-box;  box-sizing: border-box;
    -webkit-border-radius:7px;
       -moz-border-radius:7px;
           border-radius: 7px;
}


.inp, .area {display: block; width: 100%; -moz-box-sizing: border-box;  box-sizing: border-box; padding: 0 15px; border: 2px solid #d0d3df; height: 48px; font: 300 16px/48px 'Open Sans', sans-serif; color: #000;
    -webkit-border-radius:7px;
       -moz-border-radius:7px;
           border-radius: 7px;
}
.inp.small, .area {height: 38px; font: 400 14px/34px 'Open Sans', sans-serif; color: #000; padding: 0 10px;}
.data-inp .inp.small {background: none; position: relative; z-index: 5;}
.data-inp {position: relative;}
.data-inp:after {width: 7px; height: 4px; background-position: -249px -129px; position: absolute; right: 12px; top: 17px; z-index: 1;}

.inp::-webkit-input-placeholder {color: #d0d3df;}
.inp::-moz-placeholder          {color: #d0d3df;}
.inp:-moz-placeholder           {color: #d0d3df;}
.inp:-ms-input-placeholder      {color: #d0d3df;}

.inp.error{border: 2px solid #fd493d; color: #fd493d;}
.errorlist{color: #fd493d; line-height: 1.5em;}

.btn {border: 0; background: #fd493d; cursor: pointer; display: inline-block; font: 400 16px/48px 'Open Sans', sans-serif; color: #fefefe; text-transform: uppercase; height: 48px; padding: 0 43px; outline:none; text-decoration: none;
    -webkit-border-radius:22px;
       -moz-border-radius:22px;
           border-radius: 22px;
}
.btn.grey {background: #2c2e3e;}
.btn.black {background: #2c2e3e;}
.btn.small {line-height: 38px; height: 38px; font-size: 14px; padding: 0 24px;
    -webkit-border-radius:19px;
       -moz-border-radius:19px;
           border-radius: 19px;
}

.btn-jcarousel {font-size: 0;}
.btn-jcarousel button {margin: 0 6px;}

input:disabled {background: #f4f5f9;}
input[readonly] {background: #f4f5f9;}

.area {overflow: hidden; height: 134px; line-height: 18px; padding: 11px 15px;}

.mouse {width: 34px; height: 51px; background-position: -205px -111px; position: absolute; bottom: 12px; left: 50%; margin-left: -17px;}

.text-block, .achievements, .carusel-frame, .owl-theme .owl-controls .owl-buttons div:after, .butt-list .sprite:before, .slider-for, .slider-for-frame, .cir {position: absolute; left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.text-block {width: 100%; color: #fff; -moz-box-sizing: border-box;  box-sizing: border-box; padding-left: 20%; padding-right: 20%; text-align: justify;}
#main h3 {font: 300 38px/48px 'Open Sans', sans-serif; text-transform: uppercase; padding: 30px 0;}
#main .contacts h3 {padding-top: 0;}
.text-block p {font: 400 14px/18px 'Open Sans', sans-serif; padding: 9px 0;}
.contacts .text-block{padding-left:2%; padding-right: 2%}

.achievements {width: 100%;}
.achievements ul {font-size: 0px; text-align: center; margin: 0 60px;}
.achievements li { display: inline-block; vertical-align: top; width: 33.3%;}

.achievements .ic1 {background: url(../images/info-ico1.png) no-repeat;}
.achievements .ic2 {background: url(../images/info-ico2.png) no-repeat;}
.achievements .ic3 {background: url(../images/info-ico3.png) no-repeat;}
.achievements .ic4 {background: url(../images/info-ico4.png) no-repeat;}
.achievements .ic5 {background: url(../images/info-ico5.png) no-repeat;}
.achievements .icon {width: 168px; height: 167px; display: block; margin: 0 auto; background-size: cover; margin-top: 45px;}

.achievements li > span {font: 700 16px/32px 'Open Sans', sans-serif; color: #fd493d; margin-top: 7px; display: block; text-align: center;}
.achievements li > span strong {font: 700 32px/32px 'Open Sans', sans-serif; text-transform: uppercase;}
.achievements li p {color: #2c2e3e; font: 300 22px/26px 'Open Sans', sans-serif; text-transform: uppercase;}
.achievements li p > span {display: block; color: #39b549;}

.publishers .text-block h3, .about .text-block h3, .reklm .text-block h3{text-align: center;}
.publishers .text-block .button {text-align: center; margin-top: 42px;}
.publishers .text-block .btn {display: inline-block;}

.about .text-block ul li{margin: 10px 0}

.bgcfa .owl-item {text-align: center; padding: 0 100px; -moz-box-sizing: border-box;  box-sizing: border-box;}
/*.publishers .owl-item {text-align: center; padding: 0 100px; -moz-box-sizing: border-box;  box-sizing: border-box;}*/
.publishers .owl-carousel .item {position: relative; display: inline-block; vertical-align: top; padding: 110px 0px;}

.publishers .owl-carousel .item .info-slide {position: absolute; right: 0; bottom: 0; z-index: 10;}
.publishers .owl-carousel .item .st {position: absolute; right: 53%; bottom: 50px; width: 20%;}
.publishers .owl-carousel .item .white {position: absolute; right: -50px; bottom: 0px; width: 60%;}
.publishers .owl-carousel .item .white img, .publishers .owl-carousel .item .st img {width: 100%; max-width: 100%;}



.owl-carousel .item img{
    display: block; max-width: 100%; margin: 0 auto;
    height: auto;
}

.carusel-frame {width: 100%;}
.owl-theme {padding: 0 0px; -moz-box-sizing: border-box;  box-sizing: border-box;}

.reklm .slider {min-height: 600px;}
.reklm .text-block {color: #fff;}
.reklm .text-block h3 {margin-bottom: -5px;}
.reklm .text-block p strong {font: 700 18px/24px 'Open Sans', sans-serif; padding: 0 0 0 20px;}
.reklm .button {text-align: center; margin-top: 40px;}
.slider-nav {padding: 0 0 0 20px; text-transform: uppercase;}
.slider-nav .slick-slide {font: 400 14px/20px 'Open Sans', sans-serif !important; position: relative; padding:  0 0 0 29px; margin-top: 8px; float: none !important; width:auto !important; outline:none; cursor: pointer;}
.slider-nav .slick-slide.slick-cloned {display: none !important;}
.slider-nav .slick-active {

    -webkit-transform: translate(19px, 0);
       -moz-transform: translate(19px, 0);
        -ms-transform: translate(19px, 0);
         -o-transform: translate(19px, 0);
            transform: translate(19px, 0);

}
.slider-nav .slick-slide i {position: absolute; left: 0; top: 0; width: 20px; height: 20px; border: 2px solid #fff; -moz-box-sizing: border-box;  box-sizing: border-box;
    -webkit-border-radius:50%;
       -moz-border-radius:50%;
            border-radius:50%;
}

.slick-slide .desc-item p span{text-decoration: underline}

.ico1 {background: #29356a;}
.ico2 {background: #fd7a3d;}
.ico3 {background: #8dc552;}
.ico4 {background: #5d6ca2;}
.ico5 {background: #fd493d;}
.ico6 {background: #39b55b;}
.ico7 {background: #fdb33d;}


.slider-nav .slick-track {width: 100% !important; left: 0 !important; top: 0 !important;}

.cir {width: 511px; height: 510px;}

.fp-viewing-advertisers .cir {

  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

.circl1 {background: url(../images/circule/circle_1.png); background-size: cover;  animation-delay: 1s;}
.circl2 {background: url(../images/circule/circle_2.png); background-size: cover;  animation-delay: 1.2s;}
.circl3 {background: url(../images/circule/circle_3.png); background-size: cover;  animation-delay: 1.4s;}
.circl4 {background: url(../images/circule/circle_4.png); background-size: cover;  animation-delay: 1.6s;}
.circl5 {background: url(../images/circule/circle_5.png); background-size: cover;  animation-delay: 1.8s;}
.circl6 {background: url(../images/circule/circle_6.png); background-size: cover;  animation-delay: 2s;}
.circl7 {background: url(../images/circule/circle_7.png); background-size: cover;  animation-delay: 2.2s;}

.slider-for {z-index: -1;}


.slider-for .slick-dots { position: absolute; left: 0; top: 0; width: 100%; z-index: 200;}
.slider-for .slick-dots li {position: absolute;  z-index: 150;}
.slider-for .slick-dots li button {border: 0; background: url(../images/slick-dots.png) no-repeat; width: 17px; height: 17px; display: block; font-size: ; text-indent: -9999px; overflow: hidden; cursor: pointer;}

#slick-slide00 {top: 50px; left: -1px;}
#slick-slide01 {top: 324px; left: 32px;}
#slick-slide02 {top: -20px; left: 250px;}
#slick-slide03 {top: 94px; right: -24px;}
#slick-slide04 {top: 232px; right: -28px;}
#slick-slide05 {top: 324px; right:  33px;}
#slick-slide06 {top: 372px; left: 202px;}

.slider-for .slick-slide { height: 352px;}
.slider-for .slick-slide .desc-item {position: absolute; left: 0; top: 50%; width: 100%; padding: 0 31px; -moz-box-sizing: border-box;  box-sizing: border-box;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.slider-for .slick-list {}
.slider-for .slick-slide h4 {color: #2c2e3e; font: 700 18px/24px 'Open Sans', sans-serif; text-transform: uppercase; padding: 0 0 15px 28px; position: relative;}
.slider-for .slick-slide h4 i {position: absolute; left: 0; top: 5px; width: 16px; height: 16px;
    -webkit-border-radius:50%;
       -moz-border-radius:50%;
           border-radius: 50%;
}
.slider-for .slick-slide p {color: #464e53; font: 400 14px/18px 'Open Sans', sans-serif;}



.reklm .text-block p.button {margin-top: 32px;}

.partners-frame {padding: 30px 0 67px 0;}
.partners h3 {color: #2c2e3e; text-align: center;}
.carusel-partners {padding: 0 140px;}
.carusel-partners .item{
  margin: 3px;
}
.carusel-partners .item {text-align: center;}
.carusel-partners .item a {display: inline-block;}
.carusel-partners .item img{
  display: block; margin: 0 auto; max-width: 100%;
  height: auto;
}
.carusel-partners .owl-controls {position: relative; display: block; text-align: center; font-size: 0;}
.carusel-partners .owl-wrapper-outer {padding: 17px 0 17px 0;}
.carusel-partners:not(:first-of-type) .owl-wrapper-outer {padding: 27px 0 17px 0;}

.contacts .text-block {width: 100%;}
.contacts .text-block h3 {color: #29356a; text-align: center;}
.contacts .text-block ul {}
.contacts .text-block li {width: 33.3%; float: left;}

.contacts .text-block .ic1 {background: url(../images/contact-ico1.png) no-repeat;}
.contacts .text-block .ic2 {background: url(../images/contact-ico2.png) no-repeat;}
.contacts .text-block .ic3 {background: url(../images/contact-ico3.png) no-repeat;}
.contacts .text-block i {width: 168px; height: 167px; display: block; margin: 0 auto; background-size: cover !important;}

.contacts .text-block .title {color: #fd493d; font: 700 18px/25px 'Open Sans', sans-serif; text-transform: uppercase; text-align: center; min-height: 50px;}
.contacts .text-block .txt {color: #2c2e3e; font: 400 16px/24px 'Open Sans', sans-serif; text-transform: uppercase; text-align: center; padding: 0;}
.contacts .text-block .txt span {display: inline-block; vertical-align: middle;}
.contacts .text-block .txt:before {content: ''; display: inline-block; vertical-align: middle; margin-right: 5px;}

.contacts .text-block .skype:before {width: 21px; height: 21px; background-position: -37px -135px;}
.contacts .text-block .icq:before {width: 23px; height: 22px; background-position: -140px -76px;}
.contacts .text-block .mail:before {width: 23px; height: 18px; background-position: -63px -103px;}

#map {width: 100%; height: 100%;}


.wrap {min-height: 100%; position: relative;}
.wrap header {z-index: 150;}
.main {max-width: 1140px; padding: 0 15px; margin: 0 auto; display: block; position: relative; padding-bottom: 158px; padding-top: 114px;}

.faq {margin: 0 90px; padding: 0px 0 0 0;}
.faq h1 {text-align: center; color: #fc483c; font: 300 36px/40px 'Open Sans', sans-serif; text-transform: uppercase; padding-bottom: 9px;}
.faq h1 span {display: block; font-size: 16px; line-height: 22px;}

.faq h3 {font: 600 16px/20px 'Open Sans', sans-serif; color: #3799ed; text-transform: uppercase; outline:none; padding: 0 0 0 20px; position: relative; margin: 17px 0 0 0;}
.faq h3:before {content: ''; width: 8px; height: 9px; background-position: -141px -111px; position: absolute; left: 0; top: 5px;}
.faq h3 span {display: inline-block; cursor: pointer; border-bottom: 1px dashed #3799ed;}
.faq h3.ui-accordion-header-active {color: #fc4e42;}
.faq h3.ui-accordion-header-active:before {width: 9px; height: 8px; background-position: -249px -111px; top: 6px;}
.faq h3.ui-accordion-header-active span {border-bottom: 1px dashed #fc4e43;}
.faq .ui-accordion-header-icon {display: none;}
.faq .ui-accordion-content {font: 400 14px/18px 'Open Sans', sans-serif; color: #000; padding: 9px 0 14px 20px;}

.faq ul{padding-left: 40px; list-style: initial; margin-bottom: 10px;}
.faq p{margin-bottom: 10px;}

.bg {background: #2c2d3f;}

.step-item, .registration-steps {padding: 15px 0;}
.registration-steps {padding: 15px;}
.marg0 {margin: 0 !important;}


.column-left {margin: 0 275px 0 0;}
.column-right {float: right; width: 250px; position: relative;}

.user-panel {background: #358ede; position: relative; text-align: center; padding: 16px 0; color: #2c2e3e; font: 400 12px/18px 'Open Sans', sans-serif; text-transform: uppercase;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}

.user-panel .img img {display: block; margin: 0 auto;}
.user-panel .name {padding: 9px 0 0 0;}
.user-panel .name a {color: #fff; text-decoration: underline; font-weight: 700;}
.user-panel .balans {padding-bottom: 13px;}
.user-panel .balans a {color: #fff; text-decoration: underline; font-weight: 700;}
.user-panel .balans span {color: #fff; text-decoration: none; font-weight: 700;}
.user-panel .balans a:last-child{
    margin-left: 3px;
    font-weight: bold;
    font-size: 1.8em;
    color: black;
    vertical-align: bottom;
    text-decoration: none
}

.login {text-align: center; max-width: 452px; }
.user-login {display: inline-block; padding: 0 0 0 60px; margin-top: 26px; position: relative;}
.user-login .user-img {position: absolute; left: 0; top: -1px;}
.user-login .user-img img {}

.user-login .user-info {text-align: left;}
.user-login .user-info p {padding: 0; margin: 0; color: #2c2e3e; font: 400 16px/22px 'Open Sans', sans-serif; text-align: left; }
.user-login .user-info a {color: #fd493d; font-weight: 700;}
.user-login .user-info span {color: #fd493d; font-weight: 700;}

.user-buttons {font-size: 0; text-align: center; padding:  27px 0 21px 0;}
.user-buttons a {display: inline-block; vertical-align: top; text-transform: uppercase; text-decoration: none; font: 400 16px/44px 'Open Sans', sans-serif; -moz-box-sizing: border-box;  box-sizing: border-box;
    -webkit-border-radius:24px; height: 48px; margin: 0 6px;
       -moz-border-radius:24px;
            border-radius:24px;
}
.user-buttons .btn-office {background: #fd493d; color: #fff; width: 162px; line-height: 48px; }
.user-buttons .btn-office:before {width: 13px; height: 15px; content: ''; background: url(../images/btn-office.png) no-repeat; display: inline-block; vertical-align: middle; margin: 0 9px 4px 0;}
.user-buttons .btn-office.grey{background: #2c2e3e;}

.user-buttons .btn-logout {width: 135px;   border: 2px solid #fd493d; color: #2c2e3e;}
.user-buttons .btn-logout:before {width: 14px; height: 16px; display: inline-block; vertical-align: middle; content: ''; background: url(../images/logout-black.png) no-repeat; margin: 0 5px 4px 0;}

.manager-panel {border: 2px solid #d0d3df; margin: 10px 0 0 0; padding: 41px 0 28px 0; text-align: center; text-transform: uppercase; position: relative;
    -webkit-border-radius:10px;
       -moz-border-radius:10px;
            border-radius:10px;
}
.manager-panel:after, .manager-panel:before {content: ''; background: url(../images/cl.png); position: absolute; top: -28px; width: 14px; height: 42px;}
.manager-panel:before {left: 54px;}
.manager-panel:after {right: 54px;}

.manager-panel .img img {border: 6px solid #7fad57; display: block; margin: 0 auto;
    -webkit-border-radius:50%;
       -moz-border-radius:50%;
            border-radius:50%;
}
.manager-panel .title {color: #a7adc2; font: 300 14px/16px 'Open Sans', sans-serif; padding: 12px 0 6px 0;}
.manager-panel .name {color: #7fad57; font: 700 22px/26px 'Open Sans', sans-serif; font-style: italic; }
.manager-panel .contacts-list {padding: 25px 0 0 0;}
.manager-panel .contacts-list li {color: #2c2e3e; font: 400 14px/24px 'Open Sans', sans-serif;}
.manager-panel .contacts-list li span:before {display: inline-block; vertical-align: middle; margin-right: 4px;}
.manager-panel .contacts-list li .skype:before {width: 18px; height: 18px; background-position: -68px -135px;}
.manager-panel .contacts-list li .icq:before {width: 18px; height: 17px; background-position: -173px -76px;}
.manager-panel .contacts-list li .mail:before {width: 18px; height: 15px; background-position: -96px -103px; margin-bottom: 2px;}

.filter {display: block; padding-bottom: 32px; position: relative; z-index: 100}
.filter .w50, .filter .sel-box, .filter .sel-sep {float: left;}
.filter .sel-box {}
.filter .sel-sep {padding: 0 10px; font: 400 14px/38px 'Open Sans', sans-serif;}
.filter .sel-button {float: left; margin-left: 12px;}
.filter .sel-button .btn {padding: 0 16px; height: 38px; font: 400 14px/38px 'Open Sans', sans-serif;}
.wid-a {width: 124px;}
.wid-b {width: 139px; margin-left: 12px;}
.wid-c {width: 154px; margin-left: 12px;}
.wid-d {width: 117px;}
.plac .wid-b {margin: 0;}


.table {margin: 0 -1px;}
.table table {width: 100%; border-spacing: 0; border-collapse: 0; text-align: center; font: 400 14px/20px 'Open Sans', sans-serif; background: #fff;}
.table thead th {background: #4e5261; color: #fff;  font-weight: 700; text-transform: uppercase; padding: 9px 12px; border: 1px solid #fff;}
.table thead th a {color: #fff; text-decoration: none;}
.table thead th a:hover {text-decoration: underline;}
.table tbody td {border: 1px solid #fff; padding: 9px 12px;}
.table tbody tr:nth-child(2n) td {background: #f6f8fb;}
.table tfoot {border: 0;}
.table tfoot td {background: #30355e; color: #fff; font-weight: 700; text-transform: uppercase; padding: 9px 12px; border: 1px solid #fff; border-top: 22px solid #fff;}
.table tfoot td:first-child {background: #fd493d; font-size: 16px; text-transform: none;}


.graph {position: relative; margin-bottom: 32px;}
.graph .title {position: absolute; top: 0; bottom: 0; width: 24px; height: 100%; color: #fff; overflow: hidden; }
.graph .earnings {left: 0; background: #2c2e3e;}
.graph .screenings {right: 0; background: #7fad57;}
.graph .title span {font: 400 14px/24px 'Open Sans', sans-serif; position: absolute; top:50%; left: -24px;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.graph .earnings span {margin-top: -10px;
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
.graph .screenings span { left: -12px; margin-top: -10px;
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}
.graph .graph-frame {margin: 0 24px;}
.graph .graph-frame img {width: 100%;}



.ui-datepicker {background: #fff; z-index: 1000; border: 2px solid #d0d3df; margin-top: -2px;
    -webkit-border-radius:7px;
       -moz-border-radius:7px;
            border-radius:7px;
}

.xdsoft_year {display: none;}


.status {display: inline-block; width: 22px; height: 22px;}
.play {height: 23px; background-position: -5px -135px;}
.stop {background-position: -158px -135px;}
.pause {background-position: -173px -103px;}

.alignleft {text-align: left !important;}

.butt-list {font-size: 0; padding: 10px 0; margin: 0 -5px;}
.butt-list li {display: inline-block; vertical-align: top; margin: 5px; position: relative;}
.butt-list li i {position: absolute; left: 50%; top: -24px; font: 400 12px/19px 'Open Sans', sans-serif; background: #4e5261; white-space: nowrap; padding: 0 6px; color: #fff; display: none; font-style: normal;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);

    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}
.butt-list li i:after {width: 9px; height: 5px; position: absolute; left: 50%; bottom: -5px; margin-left: -4px; background: url(../images/ug1.png) no-repeat; content: '';}
.butt-list li:hover i {display: block;}
.butt-list li:first-child {}
.butt-list span {display: block; width: 38px; height: 38px; background: #d0d3df; position: relative; cursor: pointer;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}
.butt-list span:hover {background: #2c2e3e;}

.butt-list .sprite:before {}
.-code:before {width: 19px; height: 21px; background-position: -53px -47px;}
.-code:hover:before {width: 17px; height: 21px; background-position: -82px -47px;}
.-link:before {width: 19px; height: 20px; background-position: -5px -103px;}
.-link:hover:before {background-position: -34px -103px;}
.-down:before {width: 20px; height: 19px; background-position: -133px -47px;}
.-down:hover:before {background-position: -163px -47px;}
.-edit:before {width: 21px; height: 17px; background-position: -5px -76px;}
.-edit:hover:before {background-position: -109px -76px;}
.-stat:before {width: 21px; height: 20px; background-position: -96px -135px;}
.-stat:hover:before {background-position: -127px -135px;}
.-stat-part:before{width: 21px; height:21px; background-image: url(../images/pie_chart-21.png);}
.-stat-part:hover:before{background-image: url(../images/pie_chart-21-hover.png);}
.-play:before {height: 21px; width: 19px; background-image: url(../images/start-21.png);}
.-play:hover:before {background-image: url(../images/start-21-hover.png);}
.-pause:before {height: 21px; width: 18px; background-image: url(../images/pause-21.png);}
.-pause:hover:before {background-image: url(../images/pause-21-hover.png);}

.column-left h1 {color: #d2d5e0; font: 600 22px/28px 'Open Sans', sans-serif; text-transform: uppercase; padding: 0; margin: 0;}


.edit-frame {margin: 0 auto; max-width: 721px; display: block; margin-top: 20px;}
.edit-frame.company {max-width: none;}

.inputline {padding: 6px 0; float: left; width: 100%;}
.inputline .titl {float: left; width: 40%; font: 600 14px/38px 'Open Sans', sans-serif;}
.inputline  .input {float: left; width: 60%;}

.company .inputline .titl {width: 220px; text-align: right;}
.company .inputline .input {width: auto; margin: 0 0 0 232px; float: none;}

.pad6 {padding-top: 6px;}

.slider {background: #fafbff;}

.input .row {padding: 6px 0; float: left; width: 100%;}
.input .row > div {float: left;}
.input .row p {line-height: 38px;}
.input .coll-a {width: 208px; margin: 0 12px 0 0;}
.input .coll-b {width: 78px; margin: 0 12px 0 0px;}
.input .coll-b input {width: 78px; }
.input .coll-c {margin: 0 0 0 0px; line-height: 38px;}

.add-price {float: right !important;}
.btn-add {border: 2px solid #7fad57; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; height: 38px; padding: 0 20px; font: 400 14px/34px 'Open Sans', sans-serif;
text-transform: uppercase;
text-decoration: none;
color: #7fad57;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.btn-add:before { width: 14px; height: 14px; background-position: -29px -47px; display: inline-block !important; vertical-align: middle; margin: 0 7px 0 0;}
.add-price .btn-add {padding: 0 34px 0 38px;}

.delete {color: #fd493d; text-decoration: none; text-transform: uppercase;}
.delete:before {width: 14px; height: 15px; background-position: -109px -47px; display: inline-block; vertical-align: middle; margin: 0 7px 2px 0;}
.coll .delete {margin-left: 12px;}

.sel-ch {margin: 12px 0 0 0;}
.sel-ch .jq-checkbox {margin-right: 12px;}

.buttonline {float: left; width: 100%; text-align: center; margin-top: 42px;}

.inputline .line {position: relative; display: block; padding: 6px 43px 6px 0;}
.inputline .wm-title {position: absolute; right: 0; top: 6px; line-height: 38px; font-weight: 700; text-transform: uppercase;}

.w208 {width: 208px;}
.w115 {width: 115px;}
.w100 {width: 100px;}
.w272 {width: 272px;}
.w68 {width: 68px;}
.w464 {max-width: 464px;}
.w124 {width: 124px;}

.coll {float: left; line-height: 38px;}
.-next {width: 48px; float: left; height: 38px; position: relative;}
.-next:before {width: 23px; height: 11px; background-position: -201px -172px; position: absolute; left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.-tit {min-width: 128px; text-align: right; padding-right: 10px;}

.font400 {font-weight: 400 !important;}
.marg12 {margin-left: 12px;}

.inputline .desc {width: 100%; float: left; color: #acb1c5; font-size: 12px; font-weight: 400; line-height: 14px; padding: 4px 0 0 0;}


.butt {width: 168px; height: 38px; -moz-box-sizing: border-box;  box-sizing: border-box; display: block; text-align: center; text-decoration: none; font-size: 14px; line-height: 34px; text-transform: uppercase;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.butt:before {display: inline-block; vertical-align: middle; margin: 0 8px 2px 0;}
.-all {border: 2px solid #7fad57; color: #7fad57}
.-clear {border: 2px solid #fd493d; color: #fd493d;}

.butt.-all:before {width: 20px; height: 15px; background-position: -171px -172px;}
.butt.-clear:before {width: 14px; height: 15px; background-position: -109px -47px;}

.radio-list {padding: 2px 0; font-size: 0;}
.radio-list label {margin-right: 60px; font-size: 14px; vertical-align: middle; display: inline-block;}
.radio-list li {display: inline-block; vertical-align: top;}

.lh115 {line-height: 115px !important;}
.lh184 {line-height: 84px !important;}
.mrgntp38 {margin-top: 38px;}

.coll p {margin-top: 12px;}
.ret {height: 115px; width: 44px;}

.coll p.actual {line-height: 18px; color: #29356a; font-size: 14px; padding: 25px 8px 0 0;}
.row .titl-sep {float: left; line-height: 38px; width: 40px; margin-left: -10px;}


.slider-for, .slider-for-frame {width: 352px; height: 352px;}

.white-popup-block {display: block; margin: 0 auto; max-width: 612px;}

.regfunc {position: relative;}
.regfunc .reg-popup {
    position: absolute; left: 50%; display: none; bottom: 68px; z-index: 9999;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 120%;
}
// .owl-carousel .owl-item, .owl-wrapper-outer.autoHeight {min-height: 105px;}
.regfunc .registration {position: relative;}
.bgsh {top: 50%; display: none;
  left:50%;
  width: 9999px;
  height: 9999px;
  z-index: 5000;
  overflow: hidden;
  position: fixed;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);

-webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.display-block {display: block !important;}

.pop-reg .bg3 .text-block {z-index: 160;}
.gh .bg3 .text-block {z-index: 130;}
.pop-reg .bg4 .text-block {z-index: 150;}
.pop-reg header:after {position: absolute; left: 0px; top: 0; width: 100%; height: 100%;
  background: #000; z-index: 9999; content: '';
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.btn {position: relative; overflow: hidden;}



.pop-reg #fp-nav {display: none !important;}

.mfp-close {display: none !important;}





.animated {

  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

.s1 {animation-delay: 0.6s;}
.s2 {animation-delay: 1s;}
.s3 {animation-delay: 1.4s;}
.s4 {animation-delay: 1.8s;}
.s5 {animation-delay: 2.2s;}


@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.fp-viewing-about .rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}




@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fp-viewing-advertisers .slider-for {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-delay: 0.6s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fp-viewing-publishers .owl-item.active .st {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-delay: 0.8s;
 -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fp-viewing-publishers .owl-item.active .white {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-delay: 1.3s;
 -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes swing {
  0% {
       opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  0% {
       opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.fp-viewing-contacts .contacts .text-block i {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.fp-viewing-publishers .owl-controls .owl-buttons div {
  animation-delay: 0.6s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



.places {position: relative;}
.places:after {width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 10; background: url(../images/sh-white.png) repeat; content: ''; display: none;}
.places.pop-act-c:after, .places.pop-act-l:after, .places.pop-act-d:after, .places.pop-act:after {display: block;}

.popup {position: fixed; left: 50%; top: 50%; width: 380px; background: #f6f8fb; z-index: 100; overflow: hidden; display: none;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius: 5px;
-webkit-box-shadow: 5px 5px 5px 0px rgba(78,82,97,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(78,82,97,1);
box-shadow: 5px 5px 5px 0px rgba(78,82,97,1);
}

.places.pop-act-c .popup.-c, .places.pop-act-l .popup.-l, .places.pop-act-d .popup.-d {display: block;}

.popup .pop-title {background: #4e5261; padding: 12px; position: relative;}
.popup .pop-title h4 {float: left; font-size: 16px; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: #fff; line-height: 38px; margin-left: 22px; font-weight: normal; }
.popup .pop-title .cls {width: 32px; height: 32px; position: absolute; right: 12px; top: 14px; background: url(../images/cls.png) no-repeat; cursor: pointer;}

.pop-frame {padding: 12px; display: block; position: relative;}
.pop-frame textarea, .link-block {display: block; width: 100%; height: 134px; border: 2px solid #d0d3df; -moz-box-sizing: border-box;  box-sizing: border-box; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #000; line-height: 18px; padding: 10px; background: #fff url(../images/shtop.png) repeat-x 0 0;
        -webkit-border-radius:5px;
           -moz-border-radius:5px;
               border-radius: 5px;
}

.popup .pop-footer{
  background: #4e5261;
  padding: 12px;
  color: white;
  font-size: 10px;
}
.link-block a {color: #358ede;}

.btn-link-down {position: absolute; right: 19px; bottom: 18px; z-index: 5;}
.btn-link-down a {color: #358ede; font-size: 14px;}
.btn-link-down a:after {width: 16px; height: 15px; content: ''; background: url(../images/btn-link-down.png) no-repeat; display: inline-block; vertical-align: middle; margin: 0 0 0 3px;}


input[type=radio].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=radio].css-checkbox + label.css-label {
padding-left:40px; position: relative;
display:inline-block;
line-height:32px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:14px; text-transform: uppercase;
vertical-align:middle;
cursor:pointer;
}
input[type=radio].css-checkbox + label.css-label:after {width: 32px; height: 32px; background-position: -87px -172px; position: absolute; left: 0; top: 0; content: '';}
input[type=radio].css-checkbox:checked + label.css-label:after {background-position: -129px -172px;}
label.css-label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}





.jcarousel-wrapper {
    margin: 0px auto;
    position: relative;
}

/** Carousel **/

.jcarousel-wrapper {
    margin: 0px auto;
    position: relative;
    width: 100%;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left; width: 600px;
}


.jcarousel-control-prev.inactive { display: none;}
.btn-prev.disabled {display: none !important;}
.prev-btn-form {display: none !important;}
.inline-block {display: inline-block !important;}
.owl-reg.owl-theme, .owl-reg1.owl-theme, .owl-reg2.owl-theme, .owl-reg3.owl-theme {padding: 0;}

.jq-selectbox__select-text.placeholder{color:black;}


/**/
/* multiselect */
.chosen-select .ms-parent > button:focus,
.chosen-select .ms-parent  > button{
    height: 38px;
    /*padding: 0 10px;*/
    border: 2px solid #d0d3df;
    font: 400 14px/34px 'Open Sans', sans-serif;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.chosen-select .ms-parent > button > span{
    line-height: 38px;
    padding: 0 10px;
}

.chosen-select .ms-parent > button > div{
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    width: 7px;
    height: 4px;
    background-position: -249px -129px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    display: block;
    content: '';
}

.chosen-select .ms-parent .ms-drop{
    border: 2px solid #d0d3df;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin: -2px 0 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chosen-select .ms-parent .ms-drop > ul{
    padding: 0;
}

.chosen-select .ms-parent .ms-drop > ul li{
        position: relative;
}

.chosen-select .ms-parent .ms-drop > ul label{
    padding: 5px 10px 6px;
    margin: 0px;
}

.chosen-select .ms-parent .ms-drop > ul label input{
    display: none;
}

.chosen-select .ms-parent .ms-drop > ul li.selected label{
    font-weight: 700;
    background-color: white;
}
.chosen-select .ms-parent .ms-drop > ul li.selected label:hover{
    background-color: #f2f3f8;
}
.chosen-select .ms-parent .ms-drop > ul label:hover{
    background-color: #f2f3f8;
}

.chosen-select .ms-parent .ms-drop > ul li.selected label:after{
    width: 20px;
    height: 15px;
    background-position: -171px -172px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;

    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    display: block;
    content: '';
}

.inputline.captcha .titl {margin-top: 43px;}
.inputline.captcha img{width:100%; margin-bottom: 5px;}

/* Cover left side panel until it fully loaded */
.cover{position: relative;}
.cover:after{
    content: '';
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: white;
    z-index: 100;
    position: absolute;
}

/* Code error */
.code {text-align: center; font: 300 140px 'Open Sans', sans-serif}
.code h1.code-error {color: rgba(255, 0, 0, 0.57); font-size: 100%; text-transform: uppercase; padding: 0; margin: 0;}
.code .code-text, .code .code-tomain {font-size: 30%;}

.colored-list > li{position:relative; padding-left: 30px;}
.colored-list > li:before{content:'';display:inline-block;position:absolute; width:15px;height:15px;box-sizing:border-box;background-color:#fd493d; border-radius:50%; border: 2px solid; left:5px; top: 1px;}


/* Foret password tooltip in the log in window */
.authorization .forget-password-tooltip{
  line-height: 22px;
  // text-decoration: none;
  top: -10px;
  right: 30px;
  cursor: pointer;
  position: absolute;
}

.authorization .forget-password-tooltip:hover{
  // text-decoration: underline;
}

#forget-password input.btn{
  margin-left: auto;
  margin-right: auto;
}

#forget-password .row:not(:last-of-type){
  height: 60px;
}


/**/
/*Payment page*/
/**/

/* Button small pale */
.btn.small.--green{
    line-height: 35px;
    background: #7fad57;
    color:white;
}
.btn.small.--green:hover{
    background-color: #628445;
}

.btn.small strong{
    font-size: 1.5em;
    vertical-align: bottom;
}

.btn.small.--pale{
    line-height: 35px;
    background: white;
    border: 2px solid #d0d2de;
    color:#4e5261;
}
.btn.small.--pale:hover span.--question{
    background-color: #4e5261;
}

.btn[disabled]{
    pointer-events: none;
    cursor: not-allowed;
}

.btn span.--question{
    height: 23px;
    width: 22px;
    margin-right: 5px;
    line-height: 23px;
    border-radius: 50%;
    background-color: #d0d2de;
    color: white;
    display: inline-block;
}

p span.--color-red{
    margin-right: 2px;
    color: red;
}

/* POPOVER */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

/**/
/* Alerts */
/**/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

/* Close button */
.close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.display-none-new{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;

}

.xdsoft_datetimepicker{ width: auto; }


/* Preloader */
#preloader{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 200;
    text-align: center;
    background-color: #2c2e3e;
}
#preloader img{
    margin-top:6px;
    margin-bottom: 20px;
    display: initial;
}
body.preloader{
    overflow: hidden;
}

.cssload-zenith {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border-radius: 50%;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	box-shadow: 3px 3px 1px rgb(255,255,255);
	animation: cssload-spin 690ms infinite linear;
		-o-animation: cssload-spin 690ms infinite linear;
		-ms-animation: cssload-spin 690ms infinite linear;
		-webkit-animation: cssload-spin 690ms infinite linear;
		-moz-animation: cssload-spin 690ms infinite linear;
}

/*.epayments {
  margin: 0 auto; 
  margin-top: -10px; 
  margin-bottom: 10px;
}*/

.ny-left-corner {
  position: absolute;
}

.ny-right-corner {
  position: absolute;
  right: 0px;
}

.left-tree {
  position: absolute; 
  left: 25%; 
  bottom: 0;
}

.right-tree {
  position: absolute; 
  left: 75%; 
  bottom: 0;
}


@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
