﻿@charset "utf-8";
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic&subset=latin,latin-ext";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, u, i, ins, dl, dt, dd, ol, ul, li, abbr, fieldset, form, label, legend, input, textarea, select { margin: 0; padding: 0; border: 0; outline: 0; text-decoration: none; }
ol, ul, li { list-style: none; }
input, textarea, select { font-family: 'Source Sans Pro'; background: 0; font-size: 14px; }
textarea { resize: none; overflow: auto; }
body { line-height: 1; font-family: 'Source Sans Pro'; font-size: 12px; }
a { text-decoration: none; outline: 0; }
a:focus { background-color: transparent; }
a:active { background-color: transparent; }
.fx { clear: both; font-size: 0; line-height: 0; line-height: 0; }
#header { height: 127px; min-width: 988px; font-size: 13px; position: relative; z-index: 88; }
#header .bar { width: 980px; height: 32px; margin: 0 auto; padding: 19px 0; position: relative; z-index: 4; }
#header .bar .f5 { font-size: 0; width: 146px; height: 119px; position: absolute; left: 0; top: 0; background: url(sp.png) no-repeat; }
#header .bar .f5 a { display: block; width: 146px; height: 119px; border-radius: 80px 80px 120px 120px; }
#header .bar .cy { float: left; width: 316px; margin-left: 160px; }
#header .bar .cy span { float: left; width: 79px; }
#header .bar .cy i { float: left; width: 16px; height: 32px; margin-right: 5px; background: url(sp.png) no-repeat; }
#header .bar .cy b { display: block; margin: 2px 0; }
#header .bar .cy small { display: block; font-size: 12px; font-weight: 700; }
#header .bar .cy .u i { background-position: -180px -56px; }
#header .bar .cy .e i { background-position: -180px -56px; }
#header .bar .cy .d i { background-position: -196px -56px; }
#header .bar .cy .u small { color: #2ecc71; }
#header .bar .cy .e small { color: #2ecc71; }
#header .bar .cy .d small { color: #e74c3c; }
#header .bar .wh { float: left; width: 182px; margin-right: 20px; position: relative; }
#header .bar .wh ins { float: left; width: 54px; height: 32px; }
#header .bar .wh ins img { display: block; margin-top: -9px; max-width: 55px; max-height: 50px; }
#header .bar .wh span { float: left; width: 80px; height: 32px; line-height: 32px; text-align: center; cursor: pointer; }
#header .bar .wh abbr { float: left; font-family: Tahoma; width: 40px; height: 32px; line-height: 32px; padding-left: 8px; text-align: center; letter-spacing: -1px; color: #fff; font-weight: 700; background: url(sp.png) -61px -121px no-repeat; }
#header .bar .wh i { display: none; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 8px solid #bdc3c7; position: absolute; right: 90px; bottom: -3px; }
#header .bar .wh ul { display: none; width: 135px; height: 161px; background: #bdc3c7; position: absolute; right: 0; top: 35px; border-radius: 2px; overflow: auto; }
#header .bar .wh li { padding: 6px 12px; color: #34495e; font-size: 14px; border-bottom: 1px solid #95a5a6; cursor: pointer; }
#header .bar .wh li:hover { color: #fff; background: #95a5a6; }
#header .bar .wh li:first-child:hover { background: #bdc3c7; }
#header .bar .sn { float: left; }
#header .bar .sn a { font-size: 0; float: left; width: 32px; height: 32px; margin-left: 3px; background: url(sp.png) no-repeat; }
#header .bar .sn a.fb { background-position: -147px -89px; }
#header .bar .sn a.tw { background-position: -147px -56px; }
#header .bar .sn a.se { background-position: -180px -89px; }
#header .bar .sh { float: left; width: 177px; height: 32px; margin-left: 20px; background: #ecf0f1; border-radius: 2px; }
#header .bar .sh input { width: 177px; height: 32px; text-align: center; font-size: 14px; color: #34495e; }
#header .nav { width: 100%; height: 36px; line-height: 26px; font-size: 13px; font-weight: 600; background: #2B8AB3; border-bottom: 1px solid #1F5E79; position: relative; }
#header .nav a { display: block; height: 26px; padding: 0 5px; color: #fff; }
#header .nav a:hover { color: #c5eff7; }
#header .nav ol { display: block; width: 980px; height: 36px; margin: 0 auto; position: relative; }
#header .nav li { float: left; height: 26px; padding: 5px 0; margin: 0 1px; }
#header .nav li:first-child { margin-left: 155px; margin-right: 0; }
#header .nav li:first-child a { color: #e4f1fe; }
#header .nav li:last-child { margin-right: 0; }
#header .nav a.act { background: #1B6CA0; border-radius: 2px; color: #fff; }
#header .nav li.f5 { display: none; width: 55px; height: 55px; padding: 0; text-align: center; font-weight: 700; position: absolute; background: url(sp.png) -147px 0 no-repeat; }
#header .nav li.f5 a { font-size: 0; padding: 0; width: 55px; height: 55px; line-height: 18px; position: absolute; left: 0; top: 0; background-position: -147px 0; }
#header .nav li.f5 span { width: 60px; cursor: pointer; line-height: 20px; display: none; height: 21px; font-size: 12px; color: #e74c3c; position: absolute; left: 60px; top: 10px; background: url(sp.png) 0 -121px no-repeat; }
#header.srx .bar { display: none; }
#header.srx .nav { position: fixed; top: 0; }
#header.srx .nav li.f5 { left: 10px; top: 0; }
#wraper { width: 980px; height: auto; overflow: hidden; margin: 0 auto; padding: 0 9px 50px; }
#cont { float: left; width: 660px; }
#cont .hotnws { width: 660px; height: 350px; border-radius: 2px; position: relative; overflow: hidden; z-index: 10; }
#cont .hotnws .pagination { width: 660px; height: 30px; line-height: 28px; text-align: center; font-weight: 600; font-size: 14px; background: #d6dbdf; overflow: hidden; }
#cont .hotnws .pagination a { float: left; width: 29px; height: 30px; border-right: 1px solid #e4e7ea; position: relative; cursor: pointer; }
#cont .hotnws .pagination a i { width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; position: absolute; left: 11px; bottom: -1px; }
#cont .hotnws .pagination a:hover { background: #c0392b; color: #fff; }
#cont .hotnws .pagination a:hover i { border-bottom: 5px solid #fff; }
#cont .hotnws .all { width: 60px; height: 30px; line-height: 30px; text-align: center; color: #fff; font-weight: 600; font-size: 14px; background: #3a5795; position: absolute; right: 0; bottom: 0; z-index: 4; border-bottom-right-radius: 2px; }
#cont .hotnws .swiper-slide a { display: block; width: 660px; height: 320px; position: relative; }
#cont .hotnws .swiper-slide span { width: 660px; height: 160px; position: absolute; left: 0; bottom: 0; background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.7) 100%); }
#cont .hotnws .swiper-slide em { display: block; font-style: normal; line-height: normal; padding-bottom: 2px; color: orange; font-size: 22px; }
#cont .hotnws .swiper-slide strong { width: 630px; padding: 15px; line-height: 40px; color: #fff; font-weight: 600; font-size: 32px; position: absolute; left: 0; bottom: 0; }
#cont .hotnws .swiper-slide img { display: block; border-radius: 2px 2px 0 0; }
#cont .hotnws .swiper-slide a > span > i.VideoIcon { position: absolute; left: 15px; top: 10px; color: rgb(66, 66, 66); font-size: 60px; background-color: rgb(255, 255, 255); border-radius: 50%; padding: 6px 3.5px 3px 3.8px; line-height: 0.81; opacity: .5; }
#cont .hotnws .swiper-slide a > span > i.GaleriIcon { position: absolute; left: 15px; top: 10px; color: rgba(43, 43, 43, 0.72); font-size: 38px; background-color: #fff; border: 8px solid #fff; border-radius: 50%; line-height: 40px; opacity: .5; }
#cont .heanws { width: 660px; height: 320px; border-radius: 2px; overflow: hidden; }
#cont .heanws a { display: block; width: 660px; height: 320px; position: relative; }
#cont .heanws span { width: 660px; height: 160px; position: absolute; left: 0; bottom: 0; background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%); }
#cont .heanws em { display: block; font-style: normal; line-height: normal; padding-bottom: 2px; color: orange; font-size: 22px; }
#cont .heanws strong { width: 620px; padding: 10px; line-height: 40px; color: #fff; font-weight: 600; font-size: 32px; position: absolute; left: 0; bottom: 0; }
#cont .heanws img { display: block; }
#cont .topnws { width: 660px; height: 210px; padding-top: 20px; overflow: hidden; border-bottom: 1px solid #dadfe1; }
#cont .topnws ul { width: 660px; }
#cont .topnws li { margin-right: 15px; float: left; width: 210px; height: 195px; position: relative; }
#cont .topnws li:last-child { margin-right: 0; }
#cont .topnws a { display: block; color: #34495e; }
#cont .topnws a:hover { color: #3498db; }
#cont .topnws img { display: block; margin-bottom: 5px; border-radius: 2px; }
#cont .topnws strong { line-height: 20px; font-size: 16px; font-weight: 600; }
#cont .topnws span { display: block; padding: 5px 5px 0 0; color: #7f8c8d; font-size: 13px; line-height: 16px; }
#cont .topnws small { width: 40px; height: 20px; line-height: 20px; text-align: center; font-size: 12px; color: #fff; background: #2980b9; border-radius: 0 2px 2px 0; position: absolute; left: 0; top: 80px; z-index: 2; }
#cont .nwslst { width: 660px; }
#cont .nwslst li { height: 110px; padding: 15px 0; border-bottom: 1px solid #dadfe1; }
#cont .nwslst .lt { float: left; width: 210px; height: 110px; position: relative; }
#cont .nwslst .lt img { display: block; border-radius: 2px; }
#cont .nwslst .lt small { width: 40px; height: 20px; line-height: 20px; text-align: center; font-size: 12px; color: #fff; background: #2980b9; border-radius: 0 2px 2px 0; position: absolute; left: 0; top: 80px; z-index: 2; }
#cont .nwslst .rt { float: left; width: 440px; margin-left: 10px; }
#cont .nwslst .rt p { width: 440px; height: 85px; margin-bottom: 3px; overflow: hidden; }
#cont .nwslst .rt p a { color: #34495e; }
#cont .nwslst .rt p a:hover { color: #3498db; }
#cont .nwslst .rt p strong { line-height: 20px; font-size: 17px; font-weight: 600; }
#cont .nwslst .rt p small { display: block; padding: 10px 5px 0 0; color: #7f8c8d; font-size: 13px; line-height: 16px; }
#cont .nwslst .rt span { width: 440px; height: 16px; line-height: 16px; }
#cont .nwslst .rt ins { float: left; color: #bdc3c7; }
#cont .nwslst .rt ins img { float: left; margin-right: 5px; }
#cont .nwslst .rt ins em { float: left; font-style: normal; color: #bdc3c7; }
#cont .nwslst .rt ins b { float: left; margin: 0 3px; font-weight: 600; color: #bdc3c7; }
#cont .nwslst .rt ins a { float: left; color: #bdc3c7; }
#cont .nwslst .rt ins a:hover { text-decoration: underline; }
#cont .nwslst .rt abbr { float: right; margin-right: 7px; font-size: 11px; }
#cont .nwslst .rt abbr a { color: #3498db; }
#cont .nwslst .rt abbr a:hover { text-decoration: underline; }
#cont .whlc { height: 25px; font-weight: 600; font-size: 13px; color: #7f8c8d; }
#cont .whlc a { float: left; text-decoration: underline; color: #7f8c8d; }
#cont .whlc b { float: left; margin: 0 5px; }
#cont .whlc ins { float: left; }

.loader { text-align: center; padding: 10px; }

#cont .news { padding-bottom: 2px; }
#cont .news h1 { line-height: 38px; margin-bottom: 7px; color: #c0392b; font-weight: 600; font-size: 36px; }
#cont .news h2 { line-height: 1.3em; margin-bottom: 12px; color: #111; font-weight: 600; font-size: 18px; }
#cont .news span.newsText { padding-bottom: 15px; color: #444; font-size: 16px; line-height: 1.6em; }
#cont .news span.newsText img { max-width: 660px; }
#cont .news span.newsText br,
#cont .news span.newsText div,
#cont .news span.newsText p { content: " "; margin: 14px 0; display: block; line-height: none !important; }
#cont .news span.newsText abbr { display: block; line-height: 20px; color: #34495e; font-size: 13px; font-weight: 600; }
#cont .news span.newsText abbr a { color: #3498db; text-decoration: underline; }
#cont .news .pht { float: left; margin: 0 10px 10px 0; }
#cont .news .pht img { display: block; border-radius: 2px; max-width: 660px; height: auto; }
#cont .news .adSocial { float: left; margin: 8px 10px 3px 0; width: 336px; }
#cont .news .adSocial span { float: left; height: 30px; overflow: hidden; }
#cont .news .adSocial span.tw { width: 100px; }
#cont .news .adSocial span.fb { width: 165px; margin: 0; }
#cont .news .adSocial span.gp { width: 70px; }
#cont .news .vdo { width: 660px; height: 360px; margin-bottom: 20px; background: #111; color: #fff; }
#cont .news .whlc { color: #c0392b; padding-top: 30px; }
#cont .news .whlc a { color: #3498db; }
#cont .tidt { margin-bottom: 7px; color: #3498db; font-weight: 600; font-size: 20px; }
#cont .gads { margin-bottom: 25px; display: block; text-align: center; }
.sndkka { height: 40px; }
.sndkka h1 { float: left; width: 270px; height: 30px; line-height: 30px; text-align: center; font-weight: 600; font-size: 20px; color: #fff; background: #e74c3c; border-radius: 2px; }
.sndkka span { float: right; }
.sndkka span select { float: left; margin-left: 5px; height: 30px; padding: 5px; color: #333; background: #ecf0f1; border: 1px solid #acacac; border-radius: 2px; }
#side { float: left; width: 300px; margin-left: 20px; }
#side .nwslst { padding-bottom: 0; }
#side .nwslst li { margin-bottom: 15px; }
#side .nwslst a { display: block; width: 300px; height: 150px; position: relative; border-radius: 2px; overflow: hidden; }
#side .nwslst span { width: 300px; height: 75px; position: absolute; left: 0; bottom: 0; border-radius: 0 0 0 2px; background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%); }
#side .nwslst em { display: block; font-style: normal; line-height: normal; padding-bottom: 2px; color: orange; font-size: 14px; }
#side .nwslst strong { width: 280px; padding: 10px; line-height: 20px; color: #fff; font-weight: 600; font-size: 16px; position: absolute; left: 0; bottom: 0; }
#side .nwslst img { display: block; }
#side .feanws { width: 300px; margin-bottom: 15px; border-radius: 2px; position: relative; overflow: hidden; }
#side .feanws .pag { width: 300px; height: 30px; line-height: 28px; text-align: center; font-weight: 600; font-size: 14px; background: #d6dbdf; overflow: hidden; }
#side .feanws .pag a { float: left; width: 29px; height: 30px; border-right: 1px solid #e4e7ea; position: relative; cursor: pointer; }
#side .feanws .pag a i { width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; position: absolute; left: 11px; bottom: -1px; }
#side .feanws .pag a:hover { color: #fff; }
#side .feanws .pag a:hover i { border-bottom: 5px solid #fff; }
#side .feanws .swp-cnt { width: 300px; height: 200px; position: relativ; overflow: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; }
#side .feanws .swp-wrp { position: relative; width: 100%; -webkit-transition-property: -webkit-transform,left,top; -webkit-transition-duration: 0; -webkit-transform: translate3d(0px,0,0); -webkit-transition-timing-function: ease; -moz-transition-property: -moz-transform,left,top; -moz-transition-duration: 0; -moz-transform: translate3d(0px,0,0); -moz-transition-timing-function: ease; -o-transition-property: -o-transform,left,top; -o-transition-duration: 0; -o-transform: translate3d(0px,0,0); -o-transition-timing-function: ease; -o-transform: translate(0px,0px); -ms-transition-property: -ms-transform,left,top; -ms-transition-duration: 0; -ms-transform: translate3d(0px,0,0); -ms-transition-timing-function: ease; transition-property: transform,left,top; transition-duration: 0; transform: translate3d(0px,0,0); transition-timing-function: ease; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
#side .feanws .swp-sld { float: left; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
#side .feanws .swp-sld a { display: block; width: 300px; height: 200px; position: relative; }
#side .feanws .swp-sld span { width: 300px; height: 75px; position: absolute; left: 0; bottom: 0; background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.8) 100%); }
#side .feanws .swp-sld strong { width: 280px; padding: 10px; line-height: 24px; color: #fff; font-weight: 600; font-size: 20px; position: absolute; left: 0; bottom: 0; }
#side .feanws .swp-sld img { display: block; }
#side .feanws .swp-pag-switch { color: #777; }
#side .feanws .swp-act-switch { background: #2980b9; color: #fff; }
#side .feanws .swp-vis-switch i { border-bottom: 5px solid #fff; }
#side .tabglr { height: 506px; margin-bottom: 20px; border-radius: 2px 2px 0 0; overflow: hidden; }
#side .tabglr .nav { height: 34px; line-height: 34px; font-size: 15px; font-weight: 600; }
#side .tabglr .nav i { float: left; width: 18px; height: 16px; margin: 9px; background: url(sp.png) -110px -137px no-repeat; }
#side .tabglr .nav a { display: block; color: #fff; }
#side .tabglr .nav li { float: left; width: 150px; height: 34px; background: orange; }
#side .tabglr .nav li:first-child i { width: 23px; background-position: -129px -137px; }
#side .tabglr .nav li.act { float: left; width: 150px; height: 34px; background: #2980b9; }
#side .tabglr .tab { height: 457px; padding: 14px 14px 0; border: 1px solid #dadfe1; border-top: 0; border-radius: 0 0 2px 2px; }
#side .tabglr .tab a { display: block; position: relative; }
#side .tabglr .tab ins { opacity: .8; background: #ecf0f1; position: absolute; z-index: 2; }
#side .tabglr .tab i { background: url(sp.png) no-repeat; }
#side .tabglr .tab dt img { display: block; border-radius: 2px; }
#side .tabglr .tab dt span { display: block; height: 32px; overflow: hidden; line-height: 1.4em; padding: 2px 0 10px 2px; color: #34495e; font-size: 14px; font-weight: 600; }
#side .tabglr .tab dt ins { width: 48px; height: 48px; border-radius: 2px; left: 111px; top: 66px; }
#side .tabglr .tab dt i { display: block; width: 32px; height: 32px; margin: 8px 0 0 10px; }
#side .tabglr .tab dd { height: 60px; padding: 8px 0; border-top: 1px solid #eee; }
#side .tabglr .tab dd img { float: left; border-radius: 2px; margin-right: 7px; }
#side .tabglr .tab dd span { display: block; color: #34495e; font-size: 14px; line-height: 1.4em; font-weight: 600; }
#side .tabglr .tab dd ins { width: 24px; height: 24px; border-radius: 2px; left: 33px; top: 18px; }
#side .tabglr .tab dd i { display: block; width: 16px; height: 16px; margin: 4px 0 0 5px; }
#side .tabglr .tab dt:hover span { color: #c0392b; }
#side .tabglr .tab dd:hover span { color: #c0392b; }
#side .tabglr #vdo dt i { background-position: 0 -153px; }
#side .tabglr #vdo dd i { background-position: -153px -137px; }
#side .tabglr #fto dt i { background-position: -33px -153px; margin: 8px 0 0 8px; }
#side .tabglr #fto dd i { background-position: -170px -137px; margin: 4px 0 0 4px; }
#side .gglads { width: 300px; height: 250px; margin-bottom: 15px; border-radius: 2px; overflow: hidden; background-color: #eee; }
.gglads a { height: auto; }
#side .ifwdgt { width: 300px; margin-bottom: 15px; border-radius: 2px; overflow: hidden; }
#side .ifwdgt iframe { display: block; width: 300px; height: 250px; }
#side .ifwdgt iframe#to { height: 353px; background: #eee; border-bottom: 2px solid #eee; }
#side .author { margin-bottom: 20px; border: 1px solid #dadfe1; border-radius: 2px; overflow: hidden; }
#side .author li { height: 55px; padding: 8px; border-bottom: 1px solid #dadfe1; }
#side .author a { display: block; height: 55px; }
#side .author img { float: left; margin-right: 10px; border-radius: 2px; }
#side .author strong { display: block; line-height: 21px; color: #3498db; font-size: 14px; font-weight: 600; }
#side .author span { display: block; line-height: 17px; font-size: 14px; color: #2c3e50; }
#side .author a:hover strong { color: #2c3e50; }
#side .author a:hover span { color: #2980b9; }
#spot { margin-bottom: 0; }
#spot .vnws { width: 980px; height: 155px; overflow: hidden; }
#spot .vnws ul { width: 978px; height: 150px; font-weight: 600; overflow: hidden; }
#spot .vnws li { float: left; width: 150px; height: 140px; margin-right: 16px; line-height: 18px; overflow: hidden; }
#spot .vnws li:last-child { margin-right: 0; }
#spot .vnws li a { display: block; text-align: center; font-size: 14px; color: #3498db; font-weight: 600; }
#spot .vnws li img { display: block; margin-bottom: 5px; border-radius: 2px; }
#spot .vnws li a:hover { color: #e74c3c; }

#glryhst { height: auto; width: 680px; float: left; }
#glryhst > h1 { margin-bottom: 50px; color: #c0392b; text-align: center; font-weight: 600; font-size: 40px; line-height: 45px; }
.fglr { position: relative; width: 660px; margin-bottom: 70px; padding-top: 15px; border-top: 1px dotted #ccc; }
.fglr > p { margin-bottom: 20px; line-height: 24px; text-align: center; font-weight: 400; font-size: 18px; font-style: italic; }
.fglr > .fglrNums { position: absolute; top: -18px; left: 0; font-size: 0; }
.fglr > .fglrNums > span.curr { padding: 5px; background-color: #C0392B; font-size: 25px; color: #fff; }
.fglr > .fglrNums > span.total { padding: 8px; background-color: #eee; font-size: 14px; }
.fglr .nav { height: 30px; line-height: 30px; text-align: center; font-size: 14px; font-weight: 600; color: #666; position: relative; }
.fglr .nav span { height: 30px; color: #2980b9; position: absolute; top: 0; }
.fglr .nav span a { color: #2980b9; }
.fglr .nav span:hover, .fglr .nav span:hover a { color: #27ae60; }
.fglr .nav span i { width: 0; height: 0; position: absolute; top: 12px; }
.fglr .nav span.prv { padding-left: 15px; left: 50px; }
.fglr .nav span.prv i { border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 6px solid; left: 5px; }
.fglr .nav span.nxt { padding-right: 15px; right: 50px; }
.fglr .nav span.nxt i { border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 6px solid; right: 5px; }
.fglr .pht { width: 660px; height: auto; text-align: center; }
.fglr .pht img { display: inline; max-width: 660px; max-height: 660px; margin-bottom: 15px; margin-top: 15px; }
.fglr .tmb { width: 660px; height: 55px; padding-top: 10px; border-top: 1px solid #dadfe1; position: relative; overflow: hidden; }
.fglr .tmb ul { width: 660px; height: 54px; padding-left: 2px; }
.fglr .tmb li { float: left; width: 79px; height: 54px; margin-right: 7px; border-radius: 2px; overflow: hidden; }
.fglr .tmb li img { display: block; width: 75px; height: 50px; border: 2px solid #dadfe1; border-radius: 2px; }
.fglr .tmb li.act img { border: 2px solid #c0392b; }

#GaleriMainDiv { width: 100%; height: auto; overflow: hidden; }

#glryhst > div.galleryAll { border: none; display: block; padding: 15px 10px 15px 10px; background-color: #ECF0F1; font-size: 26px; font-weight: 300; text-align: center; }
#glryhst > div.galleryAll > a { color: #404040; }

.down-arrow { position: relative; background: #ECF0F1; padding: 15px 0; text-align: center; }
.down-arrow:after { content: ''; display: block; position: absolute; left: 0; top: 100%; width: 70%; height: 0; border-top: 10px solid #ECF0F1; border-right: 100px solid transparent; border-bottom: 0 solid transparent; border-left: 100px solid transparent; }

.fideAdd { float: left; width: 300px; vertical-align: top; }

.fide { display: inline-block; width: 150px; padding: 2px; border-radius: 2px; vertical-align: top; }
.fide li { text-align: center; margin-bottom: 8px; font-weight: 600; }
.fide li img { display: block; width: 150px; height: 100px; border-radius: 2px; margin-bottom: 5px; }
.fide li a { display: block; color: #e74c3c; line-height: 16px; }
.fide li a:hover { text-decoration: underline; color: #7f8c8d; }
.ats { color: #333; padding: 10px 0; }
.ats strong { display: block; padding-top: 5px; color: #c0392b; font-weight: 600; font-size: 18px; }
.ats .lt { float: left; width: 630px; font-size: 15px; line-height: 22px; }
.ats .lt p { padding: 10px 0 20px; text-align: justify; }
.ats .lt p a { color: #3498db; }
.ats .rt { float: left; width: 320px; margin-left: 29px; text-align: center; border-left: 1px solid #dadfe1; }
.ats .rt dt { padding: 10px 0 2px; font-size: 14px; font-weight: 700; }
.ats .rt dd { line-height: 18px; font-size: 13px; }
.ats .rt dd a { color: #333; }
.ats .rt dd a:hover { color: #3498db; }
.ats .rt dl { padding-bottom: 15px; }
.ctc { color: #333; padding: 10px 0; }
.ctc strong { display: block; height: 35px; padding-top: 5px; color: #c0392b; font-weight: 600; font-size: 18px; }
.ctc .lt { float: left; width: 569px; }
.ctc .lt li { margin-bottom: 20px; }
.ctc .lt li label { float: left; width: 140px; height: 24px; line-height: 24px; font-size: 14px; font-weight: 600; }
.ctc .lt li input { width: 220px; height: 24px; text-align: center; border: 1px solid #dadfe1; border-radius: 2px; color: #666; }
.ctc .lt li textarea { width: 310px; height: 90px; padding: 5px; border: 1px solid #dadfe1; border-radius: 2px; color: #666; }
.ctc .lt li input:focus, .ctc .lt li textarea:focus { border: 1px solid #3498db; }
.ctc .lt li:last-child input { width: auto; height: 30px; padding: 0 10px; color: #fff; background: #3498db; border: 0; cursor: pointer; }
.ctc .lt span { display: block; color: #27ae60; font-weight: 600; font-size: 14px; }
.ctc .rt { float: left; width: 290px; padding-left: 100px; border-left: 1px solid #dadfe1; }
.ctc .rt dt { padding: 20px 0 5px; font-size: 14px; font-weight: 700; }
.ctc .rt dd { line-height: 20px; font-size: 13px; }
.ctc .rt dd a { color: #333; }
.ctc .rt dd a:hover { color: #3498db; }
.ctc .rt dl { padding-bottom: 30px; }
.wea { margin: 40px auto; padding-bottom: 30px; text-align: center; background: #009ed8; border-radius: 2px; }
.wea h1 { color: #fff; font-weight: 600; font-size: 28px; padding: 20px 0; }
.wea iframe { display: inline; width: 727px; height: 111px; border-radius: 2px; }
.asj { padding-top: 5px; }
.asj h1 { margin-bottom: 15px; line-height: 34px; text-align: center; color: #fff; font-weight: 600; font-size: 24px; background: #c0392b; border-radius: 2px; }
.asj i { display: block; height: 50px; margin: 5px auto; background: url(sp.png) no-repeat; }
.asj i.bd1 { width: 56px; }
.asj i.b1 { width: 56px; background-position: 0 -194px; }
.asj i.b2 { width: 61px; background-position: -57px -194px; }
.asj i.b3 { width: 46px; background-position: -119px -194px; }
.asj i.b4 { width: 52px; background-position: 0 -244px; }
.asj i.b5 { width: 45px; background-position: -54px -244px; }
.asj i.b6 { width: 43px; background-position: -99px -244px; }
.asj i.b7 { width: 104px; background-position: 0 -294px; }
.asj i.b8 { width: 62px; background-position: -104px -294px; }
.asj i.b9 { width: 48px; background-position: -146px -244px; }
.asj i.b10 { width: 44px; background-position: -168px -194px; }
.asj i.b11 { width: 92px; height: 40px; margin-bottom: 15px; background-position: -66px -154px; }
.asj i.b12 { width: 42px; background-position: -169px -294px; }
.asj li { float: left; width: 212px; height: 110px; margin-bottom: 28px; text-align: center; }
.asj li strong { display: block; color: #c0392b; font-size: 22px; padding: 5px 0; font-weight: 600; }
.asj li small { display: block; font-size: 13px; color: #333; }
.asj li a { display: inline-block; }
.asj li a:hover strong, .asj li a:hover small { color: #3498db; }
.asj li a.act strong, .asj li a.act small { color: #3498db; }
.asj .d { font-size: 1.2em; margin-bottom: 25px; padding: 10px 0 35px; border-bottom: 1px solid #dadfe1; }
.asj .d span { float: left; width: 110px; margin: 0 50px 0 10px; text-align: center; }
.asj .d span strong { display: block; color: #c0392b; font-size: 22px; padding: 5px 0; font-weight: 600; }
.asj .d span small { display: block; font-size: 13px; color: #333; }
.asj .d p { width: 100%; padding-top: 5px; font-size: 18px; line-height: 22px; }
.asj .d p strong { display: block; margin-bottom: 7px; font-size: 22px; font-weight: 600; }
.asj .d p strong em { font-style: normal; color: #e74c3c; }
.hln { padding-bottom: 10px; }
.hln .dt { height: 20px; padding: 10px; }
.hln .dt h1 { float: left; font-weight: 600; color: #c0392b; }
.hln .dt span { float: right; }
.hln .dt select { float: left; margin-left: 5px; height: 30px; padding: 5px 10px; color: #333; background: #ecf0f1; border: 1px solid #acacac; border-radius: 2px; }
.hln .dt input { float: left; margin-left: 10px; height: 30px; padding: 0 10px; color: #fff; background: #3498db; border: 1px solid #3498db; border-radius: 2px; cursor: pointer; }
.hln li { float: left; width: 300px; margin: 26px 13px 0; }
.hln li a { display: block; width: 300px; height: 150px; position: relative; border-radius: 2px; overflow: hidden; }
.hln li span { width: 300px; height: 75px; position: absolute; left: 0; bottom: 0; background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%); }
.hln li em { display: block; font-style: normal; line-height: normal; padding-bottom: 2px; color: orange; font-size: 14px; }
.hln li strong { width: 280px; padding: 10px; line-height: 20px; color: #fff; font-weight: 600; font-size: 16px; position: absolute; left: 0; bottom: 0; }
.hln li img { display: block; }
.gzt { width: 980px; padding-bottom: 30px; overflow: hidden; }
.gzt h1 { padding: 20px 0; font-weight: 600; font-size: 28px; color: #c0392b; }
.gzt em { font-style: normal; color: #7f8c8d; }
.gzt dl { width: 980px; text-align: center; }
.gzt dd { float: left; width: 140px; margin: 0 12px 12px 0; padding: 4px; border: 1px solid #ddd; }
.gzt dd img { display: block; width: 140px; height: 190px; }
.gzt dd strong { text-align: center; line-height: 30px; font-size: 14px; color: #2980b9; }
.gzt dd a { color: #2980b9; }
.gzt dd a:hover { text-decoration: underline; }
.gzt h2 { padding: 10px 0; font-weight: 600; font-size: 24px; color: #c0392b; text-align: center; }
.gzt ul { width: 980px; height: 75px; padding: 0 0 15px 25px; line-height: 24px; }
.gzt li { float: left; width: 106px; list-style: disc; color: #c0392b; }
.gzt li a { color: #e74c3c; font-size: 14px; }
.gzt li a:hover { color: #222; }
.gzt .p { width: 960px; padding: 9px; margin-bottom: 20px; text-align: center; border: 1px solid #dadfe1; border-radius: 2px; }
.gzt .p img { width: 960px; height: auto; margin: 0 auto 30px; }
.gzt .b { float: left; width: 300px; height: 250px; border-radius: 2px; overflow: hidden; }
.gzt .c { float: left; width: 300px; height: 250px; margin: 0 30px; border-radius: 2px; overflow: hidden; }
.lnk { padding-top: 15px; }
.lnk h1, .lnk h2, .lnk h3, .lnk h4 { margin-bottom: 10px; padding-left: 5px; font-weight: 600; font-size: 18px; }
.lnk ul { padding: 4px; margin-bottom: 20px; border: 1px solid #dadfe1; border-radius: 2px; height: auto; }
.lnk li { float: left; width: 140px; height: 20px; line-height: 20px; padding-left: 7px; margin: 5px; background: #ecf0f1; border-radius: 2px; }
.lnk li a { color: #333; display: block; }
.lnk li a:hover { color: #e74c3c; }
.lnk li.fx { float: none; width: 0; height: 0; line-height: 0; padding: 0; margin: 0; }
.swiper-container { margin: 0 auto; position: relative; overflow: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; }
.swiper-wrapper { position: relative; width: 100%; -webkit-transition-property: -webkit-transform,left,top; -webkit-transition-duration: 0; -webkit-transform: translate3d(0px,0,0); -webkit-transition-timing-function: ease; -moz-transition-property: -moz-transform,left,top; -moz-transition-duration: 0; -moz-transform: translate3d(0px,0,0); -moz-transition-timing-function: ease; -o-transition-property: -o-transform,left,top; -o-transition-duration: 0; -o-transform: translate3d(0px,0,0); -o-transition-timing-function: ease; -o-transform: translate(0px,0px); -ms-transition-property: -ms-transform,left,top; -ms-transition-duration: 0; -ms-transform: translate3d(0px,0,0); -ms-transition-timing-function: ease; transition-property: transform,left,top; transition-duration: 0; transform: translate3d(0px,0,0); transition-timing-function: ease; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.swiper-slide { float: left; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.swiper-wp8-horizontal { -ms-touch-action: pan-y; }
.swiper-wp8-vertical { -ms-touch-action: pan-x; }
.swiper-container { width: 660px; height: 320px; }
.swiper-pagination-switch { color: #777; }
.swiper-active-switch { background: #c02b2b; color: #fff; }
.swiper-visible-switch i { border-bottom: 5px solid #fff; }
.had .b { float: left; width: 300px; height: 250px; border-radius: 2px; overflow: hidden; }
.had .c { float: left; width: 300px; height: 250px; margin: 0 30px; border-radius: 2px; overflow: hidden; }
#footer { display: none; width: 100%; height: 30px; background: #2980b9; position: fixed; left: 0; bottom: 0; z-index: 99; }
#footer.srx { display: block; }
#footer.fxd { display: block; }
#footer span { display: block; width: 980px; height: 30px; margin: 0 auto; line-height: 30px; text-align: center; }
#footer a { color: #fff; margin: 0 6px; font-size: 13px; }
#footer a:hover { color: #fff; text-decoration: underline; }
#cont .hotnws .swiper-slide span, #cont .heanws span, #side .nwslst span, #side .feanws .swp-sld span, .hln li span { background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1))); background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); }
#cont .hotnws .swiper-slide span strong, #cont .heanws span strong, #side .nwslst span strong, #side .feanws .swp-sld span strong, .hln li span strong { text-shadow: 1px 2px 0 #000; }
#cont .news .ajansGaleri { margin-bottom: 15px; line-height: 13px; }
#cont .news .ajansGaleri h2 { font-weight: 700; font-size: 14px; display: block; color: #ae0000; text-decoration: underline; }
#cont .news .ajansGaleri h2 a { color: #3498db; }
#cont .news .ajansGaleri img { width: 95px; height: 65px; padding: 1px; border: 1px solid #e9e9e9; margin: 0 3px 3px 0; }
.HotNews { color: #3498db; }
.gOtherDiv { overflow: hidden; width: 100%; border-radius: 2px; }
.gOtherDiv ul { width: auto; overflow: hidden; width: 104%; }
.gOtherDiv ul li { float: left; width: 300px; height: 250px; overflow: hidden; margin: 0 35px 5px 0; }
.gOtherDiv ul li a { display: block; color: #000; line-height: 16px; font-size: 16px; color: #222; font-weight: 700; }
.gOtherDiv li img { display: block; width: 300px; height: 200px; border-radius: 2px; margin-bottom: 5px; }
html { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
#PagingNumsActive { background-color: #EAEAEA; font-weight: bold; border-top: 1px solid rgb(186, 186, 186); border-bottom: 1px solid rgb(186, 186, 186); }
.PagingNums { width: 100%; overflow: hidden; margin-top: 10px; }
.PagingNums a { float: left; padding: 10px; margin: 0px 2px 2px 0px; background-color: rgba(208, 208, 208, 0.78); font-size: 14px; color: #0034ff; border-radius: 10px; border-top: 1px solid rgb(202, 202, 202); border-bottom: 1px solid rgb(202, 202, 202); }
.PagingNums a:hover { background-color: #EAEAEA; border-top: 1px solid rgb(182, 182, 182); border-bottom: 1px solid rgb(153, 153, 153); }

.towerSkinMain { top: 0; left: 0px; width: 100%; text-align: left; position: fixed; z-index: 1; }
.towerSkinMain .bannerDiv { width: 980px; position: relative; }
.towerSkinMain .bannerDiv .left { position: absolute; top: 127px; left: -175px; width: 160px; height: 600px; overflow: hidden; text-align: left; }
.towerSkinMain .bannerDiv .right { position: absolute; top: 127px; right: -175px; width: 160px; height: 600px; overflow: hidden; text-align: right; }

.TopNews { position: relative; width: 980px; height: 180px; overflow: hidden; margin-bottom: 20px; border-radius: 2px; }
.TopNews-pages { width: auto; height: auto; overflow: hidden; opacity: .8; background: none; padding: 6px; position: absolute; top: 0; right: 0; font-weight: 700; }
.TopNews-pages a { display: inline-block; width: 23px; margin-left: 4px; padding: 5px 0; font-size: 13px; background-color: #dedede; color: #555; border-radius: 2px; text-align: center; cursor: pointer; }
.TopNews-pages a.selected { background-color: #c02b2b; color: #fff; text-decoration: none; }
.TopNews > a.Prev,
.TopNews > a.Next { position: absolute; top: 15px; bottom: 0; margin-top: auto; margin-bottom: auto; z-index: 1; width: 40px; height: 50px; display: block; }
.TopNews > a.Prev { left: 1px; background: url(/images/ustmanset_sol_ok.png) 8px 0 no-repeat; }
.TopNews > a.Next { right: 1px; background: url(/images/ustmanset_sag_ok.png) 8px 0 no-repeat; }
.TopNews > ul > li > a > img { border-radius: 2px; }

.nm { margin-bottom: 20px; overflow: hidden; height: auto; }
.nm > div.aside { float: right; width: 300px; }
.nm > div.aside > div.sehirListesi { }
.nm > div.aside > div.sehirListesi > div.illst { float: left; width: 100px; margin: 0 0 10px 0; }
.nm > div.aside > div.sehirListesi > div.illst > a { font-size: 15px; color: #222; }

.nm > div.rside { float: left; width: 660px; }
.nm > div.rside > div { float: left; width: 300px; height: auto; overflow: hidden; margin-right: 20px; margin-bottom: 20px; }
.nm > div.rside > div > strong { display: block; font-size: 22px; padding: 5px; background-color: rgb(197, 239, 175); color: #222; margin: 0 0 10px 0; font-weight: 600; }
.nm > div.rside > div > strong > i { font-weight: 600; font-size: 14px; }
.nm > div.rside > div > strong > a { color: #222; }
.nm > div.rside > div > ul { }
.nm > div.rside > div > ul > li { height: 53px; line-height: 58px; font-size: 19px; padding: 0 15px; overflow: hidden; border-bottom: 1px solid #bdd0de; }
.nm > div.rside > div > ul > li > span.txt { display: block; padding: 0 13px; height: auto; overflow: hidden; }
.nm > div.rside > div > ul > li > span.txt > strong { float: left; font-weight: normal; }
.nm > div.rside > div > ul > li > span.txt span { float: right; color: #4198d2; }

.g-wr { position: relative; width: 660px; height: 320px; overflow: hidden; border-radius: 2px; }
.g-wr-pages { width: auto; height: auto; overflow: hidden; opacity: .8; background: none; padding: 6px; position: absolute; top: 0; right: 0; font-weight: 700; }
.g-wr-pages a { display: inline-block; width: 10px; margin-left: 4px; padding: 5px 0; font-size: 13px; background-color: #dedede; color: #555; border-radius: 2px; text-align: center; cursor: pointer; }
.g-wr-pages a.selected { background-color: #c02b2b; color: #fff; text-decoration: none; }
.g-wr > a.Prev,
.g-wr > a.Next { position: absolute; top: 15px; bottom: 0; margin-top: auto; margin-bottom: auto; z-index: 1; width: 40px; height: 50px; display: block; }
.g-wr > a.Prev { left: 1px; background: url(/images/ustmanset_sol_ok.png) 8px 0 no-repeat; }
.g-wr > a.Next { right: 1px; background: url(/images/ustmanset_sag_ok.png) 8px 0 no-repeat; }
.g-wr > ul > li > a { position: relative; display: block; }
.g-wr > ul > li > a > span { display: block; width: 660px; height: 160px; position: absolute; left: 0; bottom: 0; border-radius: 2px; background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1))); background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); }
.g-wr > ul > li > a > img { border-radius: 2px; }
.g-wr > ul > li > a > span > strong { position: absolute; bottom: 10px; left: 10px; color: #fff; font-weight: 600; font-size: 28px; line-height: 1.2em; }

.gv-p-b { background-color: black; padding: 8px 0 0 0; overflow: hidden; height: auto; }
.gv-p-b > span { float: left; display: block; overflow: hidden; height: auto; margin-left: 8px; }

.gv-p-b > a.videoGoHome { float: right; -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf)); background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%); background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%); background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%); background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%); background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0); background-color: #ededed; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 1px solid #dcdcdc; display: inline-block; cursor: pointer; color: #444; font-family: Arial; font-size: 14px; font-weight: bold; padding: 2px 10px; margin: 0 8px 0 0; text-decoration: none; text-shadow: 0px 1px 0px #ffffff; }
.gv-p-b > a.videoGoHome:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed)); background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%); background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%); background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%); background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%); background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0); background-color: #dfdfdf; }
.gv-p-b > a.videoGoHome:active { position: relative; top: 1px; }

.gv-p-b > a.goReleatedNews { float: right; margin: 0 8px 0 0; -moz-box-shadow: inset 0px 34px 0px -15px #b54b3a; -webkit-box-shadow: inset 0px 34px 0px -15px #b54b3a; box-shadow: inset 0px 34px 0px -15px #b54b3a; background-color: #a73f2d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display: inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 14px; font-weight: bold; padding: 3px 14px; text-decoration: none; text-shadow: 0px -1px 0px #7a2a1d; }
.gv-p-b > a.goReleatedNews:hover { background-color: #b34332; }
.gv-p-b > a.goReleatedNews:active { position: relative; top: 1px; }

.gv-p-b > div.k-s-y { float: left; padding: 2px 10px; margin-top: 8px; background-color: #FFDA9E; }
.gv-p-b > div.k-s-y > strong { font-size: 16px; line-height: 20px; }
.gv-p-b > div.k-s-y > textarea { float: left; font-family: monospace; width: 100%; color: #222; }

.vg-side > h1 { font-size: 20px; line-height: 1.2em; margin: 10px 0 8px 0; }
.vg-side > h2 { font-size: 16px; font-weight: 500; overflow-y: auto; height: 175px; line-height: 18px; }

.g-b-cont { width: 100%; overflow: hidden; }
.g-b-cont > ul { display: block; width: 105%; }
.g-b-cont > ul > li { display: inline-block; width: 230px; height: 170px; margin: 5px 20px 10px 0; vertical-align: top; }
.g-b-cont > ul > li > a { display: block; }
.g-b-cont > ul > li > a > img { border-radius: 2px; }
.g-b-cont > ul > li > a > strong { display: block; margin: 6px 6px; color: #000; font-size: 16px; line-height: 1.3em; font-weight: 600; }

.videogaleriMain { position: relative; width: 660px; height: 115px; padding: 15px 0; border-bottom: 1px solid #dadfe1; overflow: hidden; }
.videogaleriMain > ul { overflow: hidden; height: 115px; }
.videogaleriMain > ul > li { width: 220px; height: auto; position: relative; }
.videogaleriMain > ul > li > a { position: relative; display: block; width: 210px; margin-left: 5px; }
.videogaleriMain > ul > li > a > i { opacity: .6; position: absolute; top: 7px; left: 7px; z-index: 2; font-size: 25px; color: #fff; text-shadow: 0px 0px 2px #000; }
.videogaleriMain > ul > li > a > span { display: block; width: 100%; height: 60%; position: absolute; left: 0; bottom: 0; border-radius: 2px; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 16%, rgba(0,0,0,0.9) 73%, rgba(0,0,0,0.9) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,0.9) 73%,rgba(0,0,0,0.9) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,0.9) 73%,rgba(0,0,0,0.9) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); }
.videogaleriMain > ul > li > a > img { border-radius: 2px; width: 100%; height: 115px; }
.videogaleriMain > ul > li > a > span > strong { display: block; position: absolute; bottom: 7px; left: 7px; right: 7px; line-height: 1.2em; color: #fff; font-weight: 600; font-size: 16px; text-shadow: 1px 2px 0 #000; }
.videogaleriMain > a.Prev,
.videogaleriMain > a.Next { position: absolute; top: 52px; margin-top: auto; margin-bottom: auto; z-index: 1; width: 6px; height: 6px; display: block; font-size: 26px; color: #fff; background-color: #2B8AB3; border-radius: 2px; padding: 10px; }
.videogaleriMain > a.Prev { left: 0; }
.videogaleriMain > a.Next { right: 0; }
.videogaleriMain > a > i.fa-angle-right { position: absolute; top: 0; left: 10px; }
.videogaleriMain > a > i.fa-angle-left { position: absolute; top: 0; left: 8px; }
