html, body {
	background-color: #F1F1F1;
	color: #333;
}

#tooltip {
	position: absolute;
	visibility: hidden;
	width: 300px;
	height: 80px;
	background: none repeat scroll 0 0 #5F2600;
	border: 1px solid #FF6600;
	padding: 5px;
	z-index: 9999;
	overflow: hidden;
	color: #FFF;
}

.background-wrapper {
	width: 100%;
	height: 470px;
	background: url(/images/r_bg.jpg) repeat scroll 0 0 #000;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	border-bottom: 3px solid #C55C01;
}

.background-wrapper-tv-mode {
	width: 100%;
	height: 680px;
	background: none repeat scroll 0 0 #000;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	border-bottom: 3px solid #777;
}
.background-wrapper-tv-mode2 {
    height: 698px !important;
}
.background-wrapper-secondary {
	width: 100%;
	height: 140px;
	background: url(/images/r_bg.jpg) repeat scroll 0 0 #000;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	border-bottom: 3px solid #C55C01;
	overflow: hidden;
}

.left-background {
	width: 800px;
	height: 470px;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/left_bg.jpg) no-repeat scroll 0 0 transparent;
}

.right-background {
	width: 800px;
	height: 470px;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: -800px;
	background: url(../images/right_bg.jpg) no-repeat scroll 0 0 transparent;
}

.left-background-tv-mode {
	width: 800px;
	height: 470px;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 100px;
	background: url(../images/left_bg2.jpg) no-repeat scroll 0 0 transparent;
}

.right-background-tv-mode {
	width: 800px;
	height: 470px;
	z-index: 1;
	position: absolute;
	top: 100px;
	left: 100%;
	margin-left: -800px;
	background: url(../images/right_bg2.jpg) no-repeat scroll 0 0 transparent;
}

.left-background-secondary {
	width: 800px;
	height: 500px;
	z-index: 1;
	position: absolute;
	left: -100px;
	top: -160px;
	background: url(../images/left_bg.jpg) no-repeat scroll 0 0 transparent;
}

.right-background-secondary {
	width: 800px;
	height: 500px;
	z-index: 1;
	position: absolute;
	top: -50px;
	left: 100%;
	margin-left: -800px;
	background: url(../images/right_bg.jpg) no-repeat scroll 0 0 transparent;
}

.tv-player-wrapper {
	width: 960px;
	height: 540px;
	position: relative;
	clear: both;
	background-color: #000;
	/*overflow: hidden;*/
}

.page {
	position: relative;
	width: 960px;
	margin: 0 auto 0 auto;
    /*background: none !important;*/
}

.header {
	position: relative;
	width: 960px;
	height: 90px;
	margin: 5px 0 5px 0;
	overflow: hidden;
	background: none repeat scroll 0 0 transparent;
}
.header2 {
    height:  110px !important;
}
.header .logo-img {
	/*border: 0 none;
	width: 469px;
	height: 90px;
	position: relative;
	float: left;*/
    border: 0 none;
    height: 70px;
    width: auto;
    position: relative;
    float: left;
    margin-top: 13px;
}
.header .logo-img2 {
    border: 0 none;
    width: 444px;
    height: 66px;
    position: relative;
    float: left;
}

.header .extended-bar {
	width: 490px;
	float: right;
	position: relative;
	margin-top: 5px;
}

.header .extended-bar .auth .reg {
	color: #FFF;
	float: right;
	font: bold 14px sans-serif;
	height: 34px;
	padding-bottom: 10px;
	padding-top: 5px;
	position: relative;
	text-align: right;
	line-height: 20px;
	padding-right: 3px;
}

.header .extended-bar .auth .reg a, .header .extended-bar .auth .reg a:visited, .header .extended-bar .auth .reg a:active {
	font: inherit;
	color: #FFF;
}

.header .extended-bar .search {
	clear: right;
	float: right;
	position: relative;
	text-align: right;
	width: 550px;
}

.header .extended-bar .search .search-form-container {
	float: right;
	padding-left: 10px;
}

.header .extended-bar .search .search-form-container .blue-button {
	padding: 6px 9px;
}

.header .extended-bar .search .search-unknown-container {
	float: right;
	margin-top: 6px;
	padding-right: 10px;
	display: none !important;
}

.header .extended-bar .search input[type="text"] {
	background-color: #F0F0F0;
	border: 1px solid #B5B5B5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 3px 3px #E7E7E7 inset;
	left: 100px;
	padding: 5px;
	top: 0;
	width: 200px;
	margin-top: 6px;
	margin-right: 10px;
}

.page .cp-menu {
	list-style: none outside none;
	position: relative;
	width: 740px;
	height: 30px;
	font: bold 16px Colibri, Tahoma, sans-serif;
	margin-bottom: 130px;
}

.page .cp-menu li {
    float: left;
    display: inline-block;
    position: relative;
    padding: 8px 10px 10px 10px;
    /* height: 30px; */
    background-color: #E1E1E1;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 17px;
    margin-bottom: 10px;
}

/* Main menu: General */
.main-menu {
	height: 40px;
	position: relative;
	z-index: 9998;  /* 1 is enough, but some dull ppl are using values up to 999 on the page */
	float: left;
	clear: both;
	width: 960px;
	background: url(../images/menu_bg.jpg) repeat-x;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.main-menu ul {
	list-style: none;
}

.main-menu a {
	color: #FFF;
	text-decoration: none;
	font: bold 16px Colibri, Tahoma, sans-serif;
}

/* Main menu: Lvl 1 (horizontal) */
.main-menu > ul {
	display: table;
	height: 40px;
	width: 100%;
	margin: 0 auto;
}

.main-menu > ul > li {
	display: table-cell;
	position: relative;
	background: url(../images/divider.png) no-repeat right center;
}

.main-menu > ul > li:first-child {
	padding-left: 10px;
}

.main-menu > ul > li:last-child {
	background: none;
	padding-right: 10px;
}

.main-menu > ul > li > a {
	display: block;
	line-height: 40px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
}

.main-menu > ul > li > a:hover {
	color: #3D1606;
}

/* Main menu: General from Lvl 2 and deeper */
.main-menu ul ul a {
	display: block;
	padding: 4px 10px;
	background: #D15300;
	min-height: 19px;
}

.main-menu ul ul a:hover {
	background: #3B478F;
}

/* Main menu: Lvl 2 (dropdown) */
.main-menu > ul > li > ul {
	display: block;
	visibility: hidden; /* It's important because we need to get element dimensions thru js */
	position: absolute;
	top: 40px;
	left: 0;
	width: 195px;
}

.main-menu > ul > li:hover > ul {
	visibility: visible;
}

.main-menu > ul > li > ul > li {
	position: relative;
}

/* Main menu: Lvl 3 (drop to the right) */
.main-menu > ul > li > ul > li > ul {
	display: block;
	visibility: hidden; /* It's important because we need to get element dimensions thru js */
	position: absolute;
	left: 195px;
	top: 0;
	width: 215px;
}

.main-menu > ul > li > ul > li:hover > ul {
	visibility: visible;
}

.main-menu > ul > li > ul > li > ul {
	left: 195px;  /* (lvl2_ul_width + lvl3_ul_width * column) */
}
.main-menu > ul > li > ul > li > ul + ul {
	left: 410px;  /* col 2 */
}
.main-menu > ul > li > ul > li > ul + ul + ul {
	left: 625px;  /* col 3 */
}
.main-menu > ul > li > ul > li > ul + ul + ul + ul {
	left: 840px;  /* col 4 */
}
.main-menu > ul > li > ul > li > ul + ul + ul + ul + ul {
	left: 1055px;  /* col 5 (it should not be exists) */
}
.main-menu > ul > li > ul > li > ul + ul + ul + ul + ul + ul {
	left: 1270px;  /* col 6 (it should not be exists) */
}
.main-menu > ul > li > ul > li > ul + ul + ul + ul + ul + ul + ul {
	left: 1485px;  /* col 7 (it should not be exists) */
}

.main-menu > ul > li > ul > li > ul a {
	background: #AF4600;
}
.main-menu > ul > li > ul > li > ul + ul a {
	background: #9F3F00;
}
.main-menu > ul > li > ul > li > ul + ul + ul a {
	background: #8F3900;
}
.main-menu > ul > li > ul > li > ul + ul + ul + ul a {
	background: #853300;
}

/* Main menu: Dim (overrides) */
.dim.main-menu {
	background: url(../images/menu_bg-tv.jpg) repeat-x scroll 0 0 transparent;
	border-bottom: 3px solid #777;
	border-radius: 0;
}

.dim.main-menu > ul > li {
	background: url(../images/divider-tv.png) no-repeat right center;
}

.dim.main-menu > ul > li:last-child {
	background: none;
}

.dim.main-menu > ul > li > a:hover {
	color: #222;
}

.dim.main-menu > ul > li > ul a {
	background: #7B7B7B;
}

.dim.main-menu > ul > li > ul a:hover {
	background: #222;
}

.dim.main-menu > ul > li > ul > li > ul a {
	background: #6F6F6F;
}
.dim.main-menu > ul > li > ul > li > ul + ul a {
	background: #5F5F5F;
}
.dim.main-menu > ul > li > ul > li > ul + ul + ul a {
	background: #4F4F4F;
}
.dim.main-menu > ul > li > ul > li > ul + ul + ul + ul a {
	background: #3F3F3F;
}


.features-wrapper {
	width: 950px;
	position: relative;
	clear: both;
	border-left: 5px solid #C75900;
	border-right: 5px solid #C75900;
	border-bottom: 5px solid #C75900;
	height: 350px;
	overflow: hidden;
}

.features {
	width: 948px;
	position: relative;
	height: 348px;
	border: 1px solid #893B00;
	background: url(../images/feature1.jpg) no-repeat scroll 0 0 transparent;
}

.channel-name {
	float: left;
	clear: both;
	margin-top: 20px;
	width: 710px;
	position: relative;
	font: bold 24px sans-serif;
}

/* CHANNEL DESCRIPTION begin */

.channel-description {
	float: left;
	clear: both;
	/*margin-top: 20px;*/
	/*width: 710px;*/
	position: relative;
	font: 12px sans-serif;
	text-align: justify;

	color: #3B478F;
	width: 100%;
	/*margin: 0;*/
	margin: 20px 15px 0 15px;
	padding: 0;
}

.channel-description .channel-info,
.channel-description .channel-social {
	display: inline-block;
}

.channel-description .channel-info .channel-broadcaster,
.channel-description .channel-info .channel-time,
.channel-description .channel-info .channel-bitrate {
	display: inline-block;
	margin: 0 10px 0 0;
	padding-left: 18px;
	line-height: 30px;
	vertical-align: baseline;
	color: #475f82;
	background: no-repeat 0 6px;
}

.channel-description .channel-info .channel-broadcaster {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABW0lEQVQ4T5WTzVXCQBSF752NWztAKhA7wA2wtAExHQAFSAIWYOggYAMuARdSQqxA6cCtm7meCQ5OEuI5zm7ez533vveGqJxBlFxYmRGgLsGOcwvKAe4M7WKdJR9hCsNLfzhLQY6qouFdQLpdTifedhToDec5ictjsLAXlLk7wQhEy/tcRdtlfHXwAai9LOy/jO3ssuTT+btRcn5mTR6KQFpsVvGYrmfJvJfKlGbbVZyEtt5wlpCMS/3Ttnmyb4vJ5mmalvjczscweCzxkRas9f5D3ffoE5ri2L+b6xR1B4pCAVFE5EdajW0U+GuUJQ7V0iS8ydjoJUvyMHAQPXStVRqO2sXWIJK2Xd02L1SbmIMYGp3idjUt1rfphBW7x2qLRPJ6nd3vTgm4NiS9Fj6/SA1jyiA9W6O98xvLFsgbANEh97fSf38m/3LtM5VAWY4Fdj3xgja0o1FaBfwNO9q8RksBntkAAAAASUVORK5CYII=');
	font-size: 19px;
	text-decoration: none;
	opacity: 0.9;
}

.channel-description .channel-info .channel-time,
.channel-description .channel-info .channel-bitrate {
	font-size: 13px;
	opacity: 0.8;
	cursor: default;
}

.channel-description .channel-info .channel-time {
	background-size: 13px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABe0lEQVQ4T41T0VXCQBCcCQVIB0IFagXGH+DPDgJWABZgEmID0EGSCvwk+TF2gBUAFUgFt75NchiC8Li/29ubndmdJVpnNAl7RpwpIC7Be30WyBpg4dAsV3G4bX5h8zL05guQ0zIm2AlQJhPogbitwljkif9q/x0ABl60JnEngi/HYbiK3wp3EnY1sYjD/Wjy7hojIYlHZZQnwUMNDtjKIpLkaTCx6ENv/iHAOk+D0MYG3jwmOYbIMkuDGVWziLPRynnqu01JAy8qACmaAPqucWVCmj5tdZJPSvsaAJUjIp/KgqV2oJulfq89kXMMNG/oRVuh/HA4juQ/+g2qG2MQW/BOx+x0lAcZlwC0iSCfm8xssQNANT65yZKg35Zw6V5KAPYXm3gO4KiJdozqlyzxn65hcTTGqqMHC8dZ4r9cAjkx0p/DKisrE5Lztidq2gEAVwTfeeqXi3Z+mSBbgPXmSQ9g5ZPawifLZANlTwxnAro1I2hFQgo6smiv8y/Z/u5GmO8rJgAAAABJRU5ErkJggg==') 2px 7px;
}

.channel-description .channel-info .channel-bitrate {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABaklEQVQ4T6WTwVHCQBiF39vMgDfpADoQKxAOwBEswBA6wAIgARugA0MoQLgJXGIHsQPsAI84k/2dXcSJCI4Me9jL/u97b//9lzhz8Uw9DgJqXlCmdppKpWPAKWmNG1HpbBkGyb7hL0DdHYQk26aQZFVrXSHpW6HG/XzSH2Uh34Da3dCDoxOkqqwUHm29RocUA2gL8P5BXcppdkW4Wk76oTUxW917aFHkCZDVhnKd1wxEqfgDaXwBFDSc8s51WwcIebsIe1MLaLjDFYhi9uBQc03KXTqIzOaR37KAihcUcpojAut55Hf/epm6OwigVGLcjY4NdzACeQmR6TzyZ8aFZHER9QbHQFsNmiJ8Y6M9FBtd8LKI+hVDzWuVgCKk6jyHvXgfVHeHCYkr20QDEMErIfEufvauAlkLpZqdAZNAwIqBHJ3EH439SnfoSkcB2YESkfEi8r2TALYXqbKijaPDOAzWJwH++8nO/o2fSqindSiPBpQAAAAASUVORK5CYII=');
}

.channel-description .channel-info .channel-bitrate small {
	opacity: 0.5;
	font-style: italic;
}


.channel-social.toright {
	float: right;
	clear: both;
}

.channel-social .share-label,
.channel-social .share-buttons {
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
}

.channel-social .share-label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	opacity: 0.8;
	overflow: hidden;
	text-indent: 30px;
	width: 30px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB7klEQVRIS7VWwXXaQBScWd5zjtBB6CDuIORg7FvSAESuIEoBxkIpIE4FlnED9i3Gh8gdkApCOoBr8rST94XxU7CACIW9spqZ///8WYj/cI57cQiHtwA6giaQuxmPzoYGzbr4x/3hDUgDXz3p3dXgTS2Co14cOIfLdSK9x2ktgg3qc04JD7UIuv04JfF6XQUSvu9McBJEbYnfALbXzlG6rUzQCaLWC7nPAIJtBiH595CPgugQmWui4ef3STQpAhjwgW98AH1IsGX9dY5RlqldOmiPj3fXg4u8AgOmeEnwcAlqfhZ1+huYlgF/Tc7S5d2T4FPHex8s2qXUOZcuf2euTPxhqlZLFjRbLAtbEH7SMSgCb2tR/m23P0xIvl/rBGAuj/D+epD8C+DqHXb78YTEqw1WexiPBp1dwB8r2OrlugTbWqQZ5C5+uexLmkT5TKqcxyG7KYHm8yFjTmEG4mU+cCEcj86vKhE82dS7pDgLW3M5H9g+5KFGREYEaCohKhKZTSWZUdoCJo68fbJpUY3tQwONVoZstrpouZBeHNDBlqe5JJLIskWTNByPzqOdouLAMwQZlrW1KPhZVFTp7SI6nKXpWotjl7ArithrXBvR3h+cvT+Zm6qwOLeIqeyiMiPY3xYR7+z5NGCLbLOo3f0DtP7yW+AsbDMAAAAASUVORK5CYII=') no-repeat 50% 4px;
}

.channel-description .channel-info .channel-broadcaster:hover,
.channel-description .channel-info .channel-time:hover,
.channel-description .channel-info .channel-bitrate:hover,
.channel-social .share-label:hover {
	opacity: 1;
}

/* CHANNEL DESCRIPTION end */

.vk-comments-wrapper {
	float: left;
	clear: both;
	margin-top: 20px;
	width: 710px;
	position: relative;
}

.vk-comments-header {
	width: 660px;
	height: 25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: url(../images/menu_bg.jpg) repeat-x scroll 0 0 transparent;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	padding: 8px 0 2px 65px;
	color: #FAFAFA;
}

.vk-comments-header-tv {
	width: 660px;
	height: 25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: url(../images/menu_bg-tv.jpg) repeat-x scroll 0 0 transparent;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	padding: 8px 0 2px 65px;
	color: #FAFAFA;
}

.vk-comments-wrapper .icon {
	z-index: 999;
	position: relative;
	height: 0;
	top: -16px;
	left: -10px;
}

.vk-comments {
	width: 703px;
	float: left;
	clear: both;
	position: relative;
	padding: 10px 10px 15px 10px;
	background: none repeat scroll 0 0 #ECECEC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
}

.on-air-before {
	/*width: 100%;*/
	clear: both;
	position: relative;
	float: left;
	font: 12px sans-serif;
	color: #999;
	padding: 5px 0 5px 10px;
	width: 679px;
}

.on-air-before span {
	display: inline-block;
}

.on-air {
	/*width: 100%;*/
	clear: both;
	position: relative;
	float: left;
	font: 12px sans-serif;
	color: #333;
	padding: 5px 0 5px 10px;
	width: 679px;
}

.on-air span {
	display: inline-block;
}

.best-channels-wrapper {
	float: left;
	clear: both;
	margin-top: 30px;
	width: 710px;
	position: relative;
}

.best-channels-header {
	width: 660px;
	height: 25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: url(../images/menu_bg.jpg) repeat-x scroll 0 0 transparent;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	padding: 8px 0 2px 65px;
	color: #FAFAFA;
}

.best-channels-wrapper .icon {
	z-index: 999;
	position: relative;
	height: 0;
	top: -16px;
	left: -12px;
}

.best-channels {
	width: 703px;
	float: left;
	clear: both;
	position: relative;
	padding: 10px 10px 15px 10px;
	background: none repeat scroll 0 0 #ECECEC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
}

.best-channels-content {
	width: 215px;
	float: left;
	border-radius: 5px;
	border: 1px solid #D1D1D1;
	background: none repeat scroll 0 0 #FAFAFA;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	min-height: 215px;
	overflow: hidden;
	word-wrap: break-word;
}

.best-channels-content:hover h5 {
	background: none repeat scroll 0 0 #D50843;
	color: #FAFAFA;
}

.best-channels-content .channel-logo {
	max-height: 50px;
	max-width: 215px;
	border: 0 none;
}

.best-channels-content h5 {
	width: 100%;
	background: none repeat scroll 0 0 #97B1D6;
	margin: 3px 0 6px 0;
	padding: 3px 0 3px 0;
	font: bold 12px sans-serif;
	color: #333;
}

.best-channels-content h5 a, .best-channels-content h5 a:active, .best-channels-content h5 a:hover, .best-channels-content h5 a:visited {
	font: inherit;
	text-decoration: none;
	color: inherit;
}

.best-channels-content p {
	margin: 0;
	padding: 0;
	text-align: left;
}

.best-channels .nothing-icon {
	margin: 0;
    float: left;
	position: relative;
	width: 64px;
	height: 64px;
    padding: 0 10px 0 0;
    background: url(../images/empty.png) no-repeat scroll 0 0 transparent;
}

.best-channels .nothing {
	font: bold 16px sans-serif;
	color: #333;
	margin: 0;
    float: left;
	position: relative;
    padding: 10px 0 0;
}

.best-channels .bc-time {
	display: inline-block;
	clear: both;
	position: relative;
	margin: 0;
    float: left;
	font: inherit;
	color: inherit;
    padding: 0 0 3px;
    font-size: 12px;
}

.best-channels .bc-text {
	display: inline-block;
	position: relative;
	margin: 0;
    float: left;
	font: inherit;
	color: inherit;
	width: 160px;
	text-align: left;
    padding: 0 0 3px 5px;
    font-size: 12px;
}

.usual-wrapper {
	float: left;
	clear: both;
	margin-top: 20px;
	width: 710px;
	position: relative;
}

.usual-header {
	width: 660px;
	height: 25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: url(../images/menu_bg.jpg) repeat-x scroll 0 0 transparent;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	padding: 8px 0 2px 65px;
	color: #FAFAFA;
}

.usual-header .fake-link, .usual-header .fake-link:active, .usual-header .fake-link:visited, .usual-header .fake-link:hover {
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	color: #FAFAFA;
}

.usual-header-tv {
	width: 660px;
	height: 25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: url(../images/menu_bg-tv.jpg) repeat-x scroll 0 0 transparent;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	padding: 8px 0 2px 65px;
	color: #FAFAFA;
}

.usual-header-tv .fake-link, .usual-header-tv .fake-link:active, .usual-header-tv .fake-link:visited, .usual-header-tv .fake-link:hover {
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	color: #FAFAFA;
}

.usual-wrapper .icon {
	z-index: 999;
	position: relative;
	height: 0;
	top: -16px;
	left: -12px;
}

.usual {
	width: 703px;
	float: left;
	clear: both;
	position: relative;
	padding: 10px 10px 5px 10px;
	background: none repeat scroll 0 0 #ECECEC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
}

.usual-content {
	width: 690px;
	float: left;
	border-radius: 5px;
	border: 1px solid #D1D1D1;
	background: none repeat scroll 0 0 #FAFAFA;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 12px;
}

.usual-content a, .usual-content a:visited, .usual-content a:active {
	font: inherit;
	text-decoration: underline;
	color: #475F82;
}

.usual-content a:hover {
	font: inherit;
	text-decoration: none;
	color: #475F82;
}

.usual-content p {
	margin: 0;
	padding: 0;
	text-indent: 0.5em;
}

.usual-content .bigger {
	text-indent: 0;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.usual-content .bigger-ul {
	list-style-type: square;
	font-family: sans-serif;
	font-size: 12px;
	margin-left: 25px;
	margin-top: 10px;
}

.usual-content .bigger-ul li {
	padding: 5px 0;
}

.usual textarea,
.usual input[type="text"],
.usual input[type="email"],
.usual input[type="password"] {
	background-color: #F0F0F0;
	border: 1px solid #B5B5B5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 3px 3px #E7E7E7 inset;
	padding: 5px;
	width: 540px;
	margin-top: 6px;
	margin-right: 10px;
	font: normal 12px sans-serif;
}

.usual textarea {
	height: 150px;
}

.usual .caption {
	position: relative;
	float: left;
	clear: both;
	font: bold 14px sans-serif;
	padding-top: 10px;
	padding-left: 5px;
	width: 120px;
}

.usual .long-caption {
	position: relative;
	float: left;
	clear: both;
	font: bold 14px sans-serif;
	padding-top: 10px;
	padding-left: 5px;
	width: 180px;
}

.usual .input {
	position: relative;
	float: left;
	min-height: 40px;
}

.usual .form-table {
	width: 100%;
	float: left;
	position: relative;
	padding: 0;
	margin: 0;
	display: table;
}

.usual .cell {
	display: table-cell;
	vertical-align: middle;
}

.usual .news-wrapper {
	float: left;
	position: relative;
	background-color: #97B1D6;
	border-bottom: 3px solid #475F82;
	margin-bottom: 5px;
}

.usual .news-date {
	position: relative;
	float: left;
	width: 100px;
	font: bold 12px sans-serif;
	color: #333;
	padding: 10px;
}

.usual .news-text {
	position: relative;
	float: left;
	width: 550px;
	font: normal 12px sans-serif;
	color: #333;
	padding: 10px;
	background-color: #FFF;
}

.usual .news-text img {
	float: left;
	border: 0 none;
	padding: 10px 5px 10px 0;
}

.usual .news-text a, .usual .news-text a:visited, .usual .news-text a:active {
	font: normal 12px sans-serif;
	text-decoration: underline;
	color: #475F82;
}

.usual .news-text a:hover {
	font: normal 12px sans-serif;
	text-decoration: none;
	color: #475F82;
}

.blue-link, .blue-link:visited, .blue-link:active {
	font: inherit;
	text-decoration: underline;
	color: #475F82;
}

.blue-link:hover {
	font: inherit;
	text-decoration: none;
	color: #475F82;
}

.blue-link-bigger, .blue-link-bigger:visited, .blue-link-bigger:active {
	font: normal 12px sans-serif;
	text-decoration: underline;
	color: #475F82;
}

.blue-link-bigger:hover {
	font: normal 12px sans-serif;
	text-decoration: none;
	color: #475F82;
}

.fake-blue-link-bigger {
	font: normal 12px sans-serif;
	text-decoration: none;
	color: #475F82;
}

.nnerba {
	position: relative;
	width: 710px;
	overflow: hidden;
	height: 95px;
	clear: both;
	margin-top: 15px;
	padding-top: 20px;
}

.help-wrapper {
	float: left;
	clear: both;
	margin-top: 20px;
	width: 710px;
	position: relative;
	font: bold 16px sans-serif;
}

.help-button {
	display: inline-block;
	margin-right: 3px;
	padding: 8px 15px;
	background: #3B478F;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	box-shadow: 
	inset 0 1px 0 rgba(255,255,255,0.5), 
	0 2px 2px rgba(0,0,0,0.3), 
	0 0 4px 1px rgba(0,0,0,0.2); 
	text-decoration: none;
	color: #FFF;
	font: bold 16px sans-serif;
	position: relative;
}

.help-button:hover {
	background: #DA4A01;
}

.slide_helper {
	font: bold 26px Colibri, Tahoma, sans-serif;
	width: 703px;
	position: relative;
	float: left;
	clear: both;
	text-align: center;
}

.channel-filter {
	font: bold 12px sans-serif;
	width: 723px;
	position: relative;
	clear: both;
	padding-top: 10px;
	text-align: right;
	background: none repeat scroll 0 0 #ECECEC;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
}

.channel-filter span {
	display: inline-block;
	padding-right: 10px;
}

.channel-filter input[type="text"] {
	background-color: #F0F0F0;
	border: 1px solid #B5B5B5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 3px 3px #E7E7E7 inset;
	left: 100px;
	padding: 5px;
	top: 0;
	width: 200px;
	margin-top: 6px;
	margin-right: 10px;
}

.channel-list {
	font: bold 12px sans-serif;
	width: 4170px;
	position: relative;
	clear: both;
	padding-top: 10px;
}

.channel-list .channel-wrapper {
	width: 184px;
	height: 68px;
	border-radius: 4px;
	background-color: #FFF;
	border: 1px solid #A1A1A1;
	padding: 8px;
	margin-bottom: 6px;
	margin-right: 6px;
	float: left;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}

.channel-list .channel-wrapper:hover {
	background-color: #E6FCFF;
}

.channel-list .channel-wrapper img {
	max-width: 64px;
	max-height: 64px;
	vertical-align: middle;
	margin-right: 10px;
}

.channel-list .table {
	padding: 0;
	margin: 0;
	border: 0 none;
	height: 68px;
	width: 184px;
	display: table;
}

.channel-list .table .cell {
	padding: 0;
	margin: 0;
	border: 0 none;
	vertical-align: middle;
	height: 68px;
	display: table-cell;
}

.channel-list a, .channel-list a:visited, .channel-list a:active {
	font: inherit;
	text-decoration: none;
	color: inherit;
}

.channel-list a:hover {
	text-decoration: underline;
}

.spacer {
	width: 100%;
	height: 30px;
	position: relative;
	clear: both;
}

.form-spacer {
	width: 100%;
	height: 15px;
	position: relative;
	clear: both;
}

.left-side {
	float: left;
	width: 710px;
}

.right-side {
	float: left;
	width: 225px;
	margin-left: 25px;
	padding-top: 87px;
}

.right-side .section {
	width: 213px;
	float: left;
	border-radius: 5px;
	border: 1px solid #A1A1A1;
	background: none repeat scroll 0 0 #FAFAFA;
	padding: 5px;
	margin-bottom: 10px;
	font: 12px sans-serif;
}

.right-side .section h2 {
	text-decoration: none;
	text-transform: uppercase;
	font: bold 16px sans-serif;
	color: #F94709;
	width: 100%;
	border-bottom: 1px solid #B1B1B1;
	padding-bottom: 2px;
}

.right-side .section p {
	text-indent: 0.5em;
    margin: 0;
    padding: 5px 0 0;
    text-align: left;
}

.right-side input[type="text"] {
	background-color: #F0F0F0;
	border: 1px solid #B5B5B5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 3px 3px #E7E7E7 inset;
	left: 100px;
	padding: 5px;
	top: 0;
	width: 200px;
	margin-top: 6px;
}

.right-side .vk-group {
	padding-top: 5px;
	position: relative;
	width: 213px;
	float: left;
}

.blue-button-fake {
	display: inline-block;
	margin-right: 3px;
	padding: 4px 7px;
	background: #98B1D6;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	box-shadow: 
	inset 0 1px 0 rgba(255,255,255,0.5), 
	0 2px 2px rgba(0,0,0,0.3), 
	0 0 4px 1px rgba(0,0,0,0.2); 
	text-decoration: none;
	color: #FFF;
	font: bold 14px sans-serif;
	position: relative;
}

.blue-button-fake:hover {
	display: inline-block;
	margin-right: 3px;
	padding: 4px 7px;
	background: #98B1D6;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	box-shadow: 
	inset 0 1px 0 rgba(255,255,255,0.5), 
	0 2px 2px rgba(0,0,0,0.3), 
	0 0 4px 1px rgba(0,0,0,0.2); 
	text-decoration: none;
	color: #FFF;
	font: bold 14px sans-serif;
	position: relative;
}

.blue-button-fake:active, .blue-button-fake:visited {
	display: inline-block;
	margin-right: 3px;
	padding: 4px 7px;
	background: #98B1D6;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	box-shadow: 
	inset 0 1px 0 rgba(255,255,255,0.5), 
	0 2px 2px rgba(0,0,0,0.3), 
	0 0 4px 1px rgba(0,0,0,0.2); 
	text-decoration: none;
	color: #FFF;
	font: bold 14px sans-serif;
	position: relative;
}

.blue-button {
	display: inline-block;
	margin-right: 3px;
	padding: 4px 7px;
	background: #98B1D6;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	box-shadow: 
	inset 0 1px 0 rgba(255,255,255,0.5), 
	0 2px 2px rgba(0,0,0,0.3), 
	0 0 4px 1px rgba(0,0,0,0.2); 
	text-decoration: none;
	color: #FFF;
	font: bold 14px sans-serif;
	position: relative;
}
 
.blue-button:hover {
	background: #3B478F;
}

.footer-wrapper {
	width: 100%;
	clear: both;
	height: 200px;
	background: url(../images/footer_bg2.jpg) repeat-x scroll 0 0 #262624;
	margin-top: 20px;
	border-top: 3px solid #C55C01;
	overflow: hidden;
}

.footer-bg {
	float: right;
	width: 550px;
	height: 200px;
	background: url(../images/footer_bg.jpg) no-repeat scroll 0 0 #262624;
}

.footer {
	width: 960px;
	clear: both;
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: -200px;
}

.footer .menu {
	border-radius: 15px;
	height: 40px;
	position: relative;
	float: left;
	clear: both;
	width: 960px;
	border: 1px solid #111;
	background-color: #101010;
	margin-top: 20px;
}

.footer .menu ul.footer-menu-ul {
	margin: 0 auto;
	list-style: none outside none;
	position: relative;
	height: 25px;
	width: 915px;
	top: 11px;
}

.footer .menu ul.footer-menu-ul-vip {
	margin: 0 auto;
	list-style: none outside none;
	position: relative;
	height: 25px;
	width: 945px;
	top: 11px;
}

.footer .menu ul li.menu-divider, .footer .menu ul li.menu-ending {
	float: left;
	display: block;
	position: relative;
	color: #FFF;
	cursor: pointer;
	font: bold 16px Colibri, Tahoma, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 19px;
}

.footer .menu ul li.menu-divider-vip, .footer .menu ul li.menu-ending-vip {
	float: left;
	display: block;
	position: relative;
	color: #FFF;
	cursor: pointer;
	font: bold 16px Colibri, Tahoma, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 14px 0 14px;
}

.footer .menu ul li a {
	font: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	color: inherit;
}

.footer .menu ul li a:hover {
	color: #F45B15;
}

.footer .counters {
	width: 960px;
	height: 30px;
	clear: both;
	text-align: center;
	padding-top: 20px;
	position: relative;
}

.footer .counters img {
	margin-right: 10px;
}

.footer .copyright {
	width: 960px;
	height: 30px;
	clear: both;
	text-align: center;
	padding-top: 20px;
	position: relative;
	font: bold 12px Colibri, Tahoma, sans-serif;
	color: #777;
}

.space-block {
	float: left;
	clear: both;
	margin-top: 20px;
	width: 710px;
	position: relative;
	font: 12px sans-serif;
	color: #333;
	text-align: justify;
}

.space-block h1 {
	font: bold 18px Colibri, Tahoma, sans-serif;
	color: #3B478F;
    margin: 0;
    padding: 0 0 20px;
}

.space-block h2 {
	font: bold 16px Colibri, Tahoma, sans-serif;
	color: #CC5600;
	padding: 10px 0 10px 0;
	margin: 0;
}

.space-block a, .space-block a:visited, .space-block a:active {
	font: normal 12px sans-serif;
	text-decoration: underline;
	color: #475F82;
}

.space-block a:hover {
	font: normal 12px sans-serif;
	text-decoration: none;
	color: #475F82;
}

.space-block img {
	display: block;
	position: relative;
	margin: 0 auto;
	clear: both;
	padding: 10px 0;
}

.space-block p {
	padding-bottom: 10px;
	text-indent: 1em;
	margin: 0;
}

.auth {
	width: 490px;
	height: 34px;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: normal 12px sans-serif;
	overflow: hidden; /* clearfix */
}

.alert-info {
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}

.alert-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.alert-danger, .alert-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}

.alert .wicon {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	border: 0 none;
	position: relative;
	padding-right: 15px;
	float: left;
}

.c-channel-wrapper {
	background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #D1D1D1;
    border-top: 16px #3B478F;
    border-bottom: 8px #999;
    border-radius: 5px 5px 5px 5px;
	float: left;
	font-size: 12px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px;
	text-align: left;
	margin-top: 10px;
	width: 667px;
}

.c-channel-logo {
	width: 225px;
	text-align: center;
	float: left;
	position: relative;
	height: 60px;
}

.c-channel-logo img {
	border: 0 none;
}

.c-channel-params {
	width: 442px;
	float: left;
	position: relative;
	margin-bottom: 20px;
}

.c-channel-info {
	float: left;
	clear: both;
	position: relative;
	background-color: #000;
	border: 3px double #CCC;
	color: #EEE;
	font-family: monospace;
	padding: 5px;
	width: 651px;
}

.red-button {
	display: inline-block;
	margin-right: 3px;
	padding: 4px 7px;
	background: #D39998;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	box-shadow: 
	inset 0 1px 0 rgba(255,255,255,0.5), 
	0 2px 2px rgba(0,0,0,0.3), 
	0 0 4px 1px rgba(0,0,0,0.2); 
	text-decoration: none;
	color: #FFF;
	font: bold 14px sans-serif;
	position: relative;
}
 
.red-button:hover {
	background: #7F2E2C;
}

.tabs {
	width: 700px;
	position: relative;
	top: -10px;
	left: -5px;
	background-color: #3B478F;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	margin-bottom: 10px;
}

.tabs .tab {
	float: left;
	font: bold 16px sans-serif;
	color: #FFF;
	padding: 15px;
	margin-left: 15px;
	background: none repeat scroll 0 0 #F55B15;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.tabs .tab-inactive {
	float: left;
	font: bold 16px sans-serif;
	color: #E6E6E6;
	padding: 14px;
	border: 1px solid #98B1D6;
	margin-left: 15px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.tabs .tab-inactive:hover {
	float: left;
	font: bold 16px sans-serif;
	color: #FFF;
	padding: 15px;
	margin-left: 15px;
	background: none repeat scroll 0 0 #98B1D6;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 0 none;
}

.tabs .tab-inactive span {
	font: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.tabs .tab span {
	font: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.donate-button {
	width: 213px;
	height: 53px;
	background: url(../images/donate-button.png) no-repeat scroll center top transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	display: block;
}

.donate-button:hover {
	background: url(../images/donate-button.png) no-repeat scroll center bottom transparent;
}

.vip-button {
	width: 213px;
	height: 53px;
	background: url(../images/vip-button.png) no-repeat scroll center top transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	display: block;
}

.vip-button:hover {
	background: url(../images/vip-button.png) no-repeat scroll center bottom transparent;
}

.fav-wrapper {
	width: 690px;
	float: left;
}

.fav-wrapper .fav-item {
	width: 690px;
	float: left;
	clear: both;
	display: table;
	border-bottom: 1px solid #EFEFEF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.fav-wrapper .fav-item-logo-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 220px;
	border-right: 1px solid #D1D1D1;
	border-left: 2px dotted #FFF;
	height: 60px;
}

.fav-wrapper .fav-item:hover .fav-item-logo-wrapper {
	border-left: 2px dotted #B1B1B1;
}

.fav-wrapper .fav-item-logo {
	border: 0 none;
	max-width: 215px;
	max-height: 58px;
}

.fav-wrapper .fav-item-name-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	width: 220px;
	border-right: 1px solid #D1D1D1;
	font: 14px sans-serif;
	height: 60px;
}

.fav-wrapper .fav-item-controls-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 10px;
	width: 215px;
	font: 14px sans-serif;
	height: 60px;
}

.fav-add-button {
	 width: 86px;
	 height: 86px;
	 border: 0 none;
	 background: url(../images/add-to-favorites.png) no-repeat scroll 0 0 transparent;
	 display: block;
}

.fav-add-button:hover {
	 border: 0 none;
	 background: url(../images/add-to-favorites-1.png) no-repeat scroll 0 0 transparent;
}

.goog-te-combo {
	width: 212px;
}

#google_translate_element {
	padding-top: 5px;
}

.grad_wrapper {
	background: #f2f6f8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I1YzZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
	width: 300px;
	height: 15px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
}

.grad {
	height: 15px;
	background: #feccb1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlY2NiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNzQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhNTUwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e));
	background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );
}

.help-button-2 {
	display: inline-block;
	margin-right: 3px;
	padding: 8px 15px;
	background: #DA4A01;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	box-shadow: 
	inset 0 1px 0 rgba(255,255,255,0.5), 
	0 2px 2px rgba(0,0,0,0.3), 
	0 0 4px 1px rgba(0,0,0,0.2); 
	text-decoration: none;
	color: #FFF;
	font: bold 16px sans-serif;
	position: relative;
}

.help-button-2:hover {
	background: #3B478F;
}

.fb-like {
	margin-top: 15px;
}

#table_trfh {

    /*cellpadding:0;
    cellspacing:0;*/
    border:0;
    /*width: 100%;*/
    width: 674px;
    margin-left: 8px;
}
#table_trfh tr th{
    text-align: left; padding: 10px 2px 10px 5px; font: inherit; font-weight: bold; background-color: #C3D3DF; vertical-align: middle; font-size: 12px;
}
#table_trfh tr td {
    text-align: left; padding: 6px 2px 6px 5px; background-color: #E9E9E9; vertical-align: middle; border-bottom: 1px solid #D9D9D9; font-size: 12px;
}


.donate_lang_h1 {
    font-size: 30px;
    margin-left: 120px;
    color: rgb(51, 51, 51);
}
.donate_lang_h1 a {
    color: rgb(51, 51, 51);
}
.donate_lang_h1 a img{
    margin: 0 20px 0 0;
}

/*@media (max-width: 960px) {*/
@media (max-width: 1280px) {
    #screenshooter{
        display:none !important;
    }
}


.tv-player-wrapper, #tvwrapper {
	overflow: initial;
}
.hls-toggle {
	position: absolute;
	top: -22px;
	left: 0;
	right: 0;
	height: 21px;
	padding: 0 0 0 6px;
	border-bottom: 1px solid #B6B6B6;
}
.hls-toggle > * {
	display: inline-block;
	height: 19px;
	line-height: 20px;
	padding: 0 12px;
	font-size: 12px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: bottom;
}
.hls-toggle > a {
	color: #B6B6B6;
	background-color: #2E2E2E;
	margin-right: 1px;
}
.hls-toggle > a:first-child {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
}
.hls-toggle > a:last-child {
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
}
.hls-toggle > a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #3B3B3B;
	height: 21px;
	line-height: 21px;

}
.hls-toggle > span {
	background-color: #B6B6B6;
	color: #141414;
	font-weight: bold;
	border-top: 1px solid #DBDBDB;
	font-size: 13px;
	height: 21px;
}


#channel_list_wrapper {
    float: right;
}

.vouchers {
    width: 100%;
    text-align: center;
}

.voucher {
	position: relative;
	width: 640px;
	height: 310px;
	background-image: url("/images/voucher/bg.png");

}

.vouchers > .voucher {
    margin: 20px auto;
}

.voucher .vcopy {
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: 1px 1px 0 0 rgba(242, 238, 215, 1);
	-moz-box-shadow: 1px 1px 0 0 rgba(242, 238, 215, 1);
	box-shadow: 1px 1px 0 0 rgba(242, 238, 215, 1);
	color: #F2EED7;
	font-family: "arial", sans-serif;
	font-weight: 400;
	font-style: italic;
	background-color: #7A7F66;
	position: absolute;
	top: 229px;
	left: 474px;
	border: 0;
	width: 100px;
	height: 28px;
	line-height: 20px;
}

.voucher .vcode , .usual-wrapper .usual .usual-content .voucher .vcode {
	position: absolute !important;
	left: 108px !important;
	top: 220px !important;
	width: 360px !important;
	height: 43px !important;
	border: 0 !important;
	background-color: #DFE0C7 !important;
	text-align: center !important;
	color: #444444 !important;
	font-family: "Times New Roman",serif !important;
	font-size: 32px !important;
	padding: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
}

.voucher .vsumm {
	position: absolute;
	display: inline-block;
	top: 128px;
	font-family: "Times New Roman",serif;
	font-size: 60px;
	font-weight: bold;
	color: #666D53;
	text-shadow: 2px 2px 0 rgba(242, 238, 215, 1);
	line-height: 50px;
	vertical-align: bottom;
}

.voucher .vsumm::after {
	content: "";
	display: inline-block;
	width: 33px;
	height: 45px;
	background: url("/images/voucher/ruble.png") no-repeat;
	vertical-align: text-bottom;
	margin-left: 10px;
}

.voucher-alert {
    width: 620px;
    margin-left: 10px;
    margin-top: 10px;
}
.voucher-alert .alert-text {
    /*width: 500px;*/
}
.voucher-alert > img {
    width: 100px;
    height: auto;
    vertical-align: middle;
    border: 0 none;
    position: relative;
    padding-right: 15px;
    float: left;
}
.voucher-alert h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.voucher-alert p {
    text-indent: 0;
}
.voucher-form {
    text-align: center;
}
.voucher-form-use {
    margin-top: 40px;
}
.voucher-form .header____ {
    font-weight: bold ;
    font-size: 16px;
}
.voucher-form input[type="number"] {
    background-color: #F0F0F0;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #E7E7E7 inset;
    padding: 5px;
    text-align: right;
    width: 100px;
    margin-top: 6px;
}
.voucher-form input[type="text"] {
    background-color: #F0F0F0;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #E7E7E7 inset;
    padding: 5px;
    width: 200px;
    margin-top: 6px;
}

.twitter-share-button {
    margin-top:15px !important;
}

.ts-proxy-li {
    background-color: #3B478F !important;
    border-color: #102080 !important;
}

.ts-proxy-li a {
    color: #FFFFFF !important;
}


.use-flash {
    position: absolute;
    bottom: 0;
    color: #EAEAEA;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin: auto;
    padding: 0 20% 20% 20%;
    max-width: 600px;
}

.use-flash a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

.use-flash a:hover {

}

a.buy-ts-proxy {
    display: inline-block;
    text-indent: initial;
    padding: 10px 20px;
    background: #3B478F;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
    text-decoration: none !important;
    color: #FFF !important;
    font: bold 16px sans-serif !important;
}

a.buy-ts-proxy:hover {
    background: #98B1D6;

}

.refer-a-friend {
    margin: 10px;
}

.refer-a-friend > div {
    margin: 0 0 20px 0;
}

.refer-a-friend .pcode {
    font-size: 16px;
    font-style: italic;
}

.refer-a-friend h2{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.refer-a-friend ul, .voucher-alert ul{
    margin: 0 0 0 20px;
    list-style: initial;
}

.refer-a-friend li, .voucher-alert li{
    margin: 0 0 10px 0;
}

.promo-container {
    margin-top: 30px;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 20px;
    border: 1px solid #A1A1A1;
}

.promo-container a {
    color: #850F25;
}

.promo-container .promo-title {
    padding: 20px;
    font-size: 30px;
}

.promo-container .promo-subtitle {
	text-align:  center;
    padding: 20px 20px 10px 20px;
    font-size: 22px;
}

.promo-container .about-gift-button {
    text-decoration: none;
    display: block;
    background-color: #7F1225;
    font-size: 24px;
    width: 160px;
    padding: 10px 20px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto 40px auto;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.promo-container .about-gift-button:hover
, .promo-code-submit:hover {
    text-decoration: none;
    background-color: #1D1D1D;
}

.promo-container .promo-text {
    padding: 0 30px;
    font-size: 14px;
}

.promo-container .promo-text p {
    margin-bottom: 10px;
}

.promo-container .promo-text i {
    font-style: italic;
}


.promo-container ol {
    list-style-type: decimal;
    padding: 0 30px 0 50px;
    font-size: 14px;
}

.promo-container ol li {
    margin-bottom: 10px;
}

.promo-container ul.gift-list {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.promo-container ul.gift-list li {
    display: inline-block;
    width: 220px;
    height: 220px;
    position: relative;
}


.promo-container ul.gift-list li .gift-item {
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
}

.promo-container ul.gift-list li .gift-item .gift-num {
    display: block;
    font-size: 30px;
    color: #850F25;
}

.promo-container ul.gift-list li .gift-icon {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    background: #EBEBED no-repeat 50% 50%;

}

.promo-container ul.gift-list li .gift-icon.ts-proxy-inf {
    background-image: url("/images/icon-ts-proxy-inf.png");
}

.promo-container ul.gift-list li .gift-icon.ts-proxy-x1 {
    background-image: url("/images/icon-ts-proxy-x1.png");
}

.promo-container ul.gift-list li .gift-icon.ts-proxy-x2 {
    background-image: url("/images/icon-ts-proxy-x2.png");
}

.promo-container ul.gift-list li .gift-icon.money-200 {
    background-image: url("/images/icon-money-200.png");
}

.promo-container ul.gift-list li .gift-icon.money-1000 {
    background-image: url("/images/icon-money-1000.png");
}

.promo-container ul.gift-list li .gift-icon.random-gift {
    background-image: url("/images/icon-random-gift.png");
}

.your-promo-code {
    height: 200px;
    padding: 0 5px;
    position: relative;
    background: #FFFFFF url("/images/snegurochka-your-gift.jpg") no-repeat 0 0;
}

.your-promo-code .text-top {
    position: absolute;
    width: 460px;
    right: 10px;
    top: 20px;
    font-size: 18px;
}

.your-promo-code .text-middle {
    position: absolute;
    height: 50px;
    width: 460px;
    right: 10px;
    top: 10px;
    bottom: 0;
    font-size: 24px;
    margin: auto;
    text-align: center;
}

.your-promo-code .text-bottom {
    position: absolute;
    width: 460px;
    right: 10px;
    bottom: 20px;
    font-size: 15px;
    font-style: italic;
}

.promo-code-input {
    background-color: #F0F0F0;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #E7E7E7 inset;
    left: 100px;
    top: 0;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}

.promo-code-submit {
    text-decoration: none;
    display: inline;
    background-color: #7F1225;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    left: 0;
    right: 0;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.promo-code-label {
    font-size: 16px;
    margin-right: 10px;
}

.promo-code-hr {
    margin: 20px 0;
    border-style: solid;
    border-bottom: none;
    border-color: #B1B1B1;
}

a.promo-code-info {
    display: block;
    text-align: center;
    font-size: 18px !important;
}

.promo-text ul {
    list-style: initial;
    margin-left: 30px;
    margin-bottom: 10px;
}

.promo-text ul li {
    padding: 5px 0;
}

.index-about {
    box-sizing: border-box;
    padding: 15px;
}

.index-about p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
    text-indent: 1.3em;
    font-size: 12px;
    line-height: normal;
    margin-bottom: 10px;
}

.index-about p b {
    font-weight: bold;
}

.right-side-vip {
    margin-top: 5px;
}

.right-side-banner {
    width: 213px;
    height: 500px;
    border: 0 none;
    border-top: 2px solid transparent;
}

.popup-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.auth-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 450px;
    height: 360px;
    background-color: #FFFFFF;
    margin: auto;
    z-index: 9999;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);

}



.auth-popup .popup-header {
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.auth-popup form {
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
}

.auth-popup form input[type="email"],
.auth-popup form input[type="password"],
.auth-popup form input[type="submit"],
.auth-popup form label
{
    display: block;
    box-sizing: border-box;
    margin: 0 0 15px 0;
}

.auth-popup form label {
    font-size: 16px;
}

.auth-popup form input[type="email"],
.auth-popup form input[type="password"]
{
    background-color: #F0F0F0;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #E7E7E7 inset;
    padding: 5px;
    font: normal 12px sans-serif;
    width: 100%;
}

.auth-popup .popup-header .popup-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/UlEQVQ4T62TYXECQQxGHwqKBFDQ4gAcFAegoFQJoAAk4IBKAAVFAlXQzrtJmGU5OkC7/y6bvCTffdvh8vSAN2AIvMT1DvgAlsChLOlU9YsobuGeQua851cJsMvzb5XFnbkDvxNwS+ea7TozAe78Wd3uI/4U8a/YvZ6wL6DubrECvgKrAIxDRIUsIUsB9e7HEGkdEBkbYALMgW6phYDvK8LZ1UKPxTnNWfq/AOoVFGwGuIKdXSlXUK8U1kn2bSIKHFUiTgOyLdwpoBGx7TcKSRub6BRauIwZb36j509GSlXvsbJeaaZ55DE1Fm57TBlTExN0Y7rOjrrQVc+e8w9fSDoODZGdewAAAABJRU5ErkJggg==');
}

.auth-popup .service-links a {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}


.popup-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.auth-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 450px;
    height: 380px;
    background-color: #FFFFFF;
    margin: auto;
    z-index: 9999999;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);

}

.auth-popup .popup-header {
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.auth-popup form {
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
}

.auth-popup form input[type="email"],
.auth-popup form input[type="password"],
.auth-popup form input[type="submit"],
.auth-popup form label
{
    display: block;
    box-sizing: border-box;
    margin: 0 0 15px 0;
}

.auth-popup form label {
    font-size: 16px;
}

.auth-popup form input[type="email"],
.auth-popup form input[type="password"]
{
    background-color: #F0F0F0;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #E7E7E7 inset;
    padding: 5px;
    font: normal 12px sans-serif;
    width: 100%;
}

.auth-popup .popup-header .popup-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/UlEQVQ4T62TYXECQQxGHwqKBFDQ4gAcFAegoFQJoAAk4IBKAAVFAlXQzrtJmGU5OkC7/y6bvCTffdvh8vSAN2AIvMT1DvgAlsChLOlU9YsobuGeQua851cJsMvzb5XFnbkDvxNwS+ea7TozAe78Wd3uI/4U8a/YvZ6wL6DubrECvgKrAIxDRIUsIUsB9e7HEGkdEBkbYALMgW6phYDvK8LZ1UKPxTnNWfq/AOoVFGwGuIKdXSlXUK8U1kn2bSIKHFUiTgOyLdwpoBGx7TcKSRub6BRauIwZb36j509GSlXvsbJeaaZ55DE1Fm57TBlTExN0Y7rOjrrQVc+e8w9fSDoODZGdewAAAABJRU5ErkJggg==');
}

.auth-popup .service-links a {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.oauth-block {
    margin: 15px 0;  }

.oauth-block > p {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    font-size: 14px;
    margin-right: 10px;
}

.oauth-list {
    display: inline-block;
}

.oauth-list li {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.oauth-list li a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 24px;
}

.oauth-list .oauth-vkontakte {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABh0lEQVRIS8WWTU7CUBSFz6Ed6IwdyA7EFYg76LBoQF2BjE0bSiBOhRWQ0Gh1JDsAdoA7gB3gCAct17wGGCD94afaUdOXnu/de9+59xEADKebPw20ugAGwYL6tu8jkAmB/lwLGn3nfsZQ3NcHIIr7im79TzCe6/4Vy5bbBvFwVPGVmKCjABMQZ1kAwnSVbVeyEF9p/i9AgE8Iar8ipBQgLJG4TYo+IQIZec1qKUqkbPdqAJ/jIKkBpuUq0KUAs/dWpbMSTarhLgCHRF0JM8hdvD7djNV7BgAZzbXAUC417d4dwe5RUrQpcv34UpTcop/kodQp2rZL0/EK9P1hHCQ1wLTcdQ1E0HhrVZywBpZrgPiIStNeAAimXqsSdl11ukgMjgYQwRcpjtestkNAQqFTRxC1Q9N2xwTOD45gU2BpvDqJSKeHnok3isxEGBpq3R2B/C7D6Q+6aYYDR5227EemGvongT6MOwlJPX/bupol35pfolpc3iyUM5UrD5vPginUtUX3HdUQfwDkAdxVyXpjxwAAAABJRU5ErkJggg==');
}

.oauth-list .oauth-google {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACE0lEQVRIS71WPXLTYBTcp0iumElugD2D3MYUsUocbGrIcACcE8ScgPgCwA1AJ8D0MsilBYXTWimcGzgdiWUt88kyliMpI2sSVEgz+tl9b9+3+0kQH36neU7gtUAa63slry5A13S8vvpe1Gnabk5E5LAkYOZnBCd1x3suqnJAPjwk+AaLfXmM6hMEI/E7FnOrJ64gnKWeU6oQPC3S9X0E7xUAiUORpW06v93pq6OGEO8ArVcEPBpyVgcMw1NNZE6Rbxug5bEi8TtNF5AXSZ1NxzvPUyKDgNem4x2kh8+R6Xgtv2Op6j+VJiAxqw/HtenLo65o2pekFKYzlvR99nfsANADqQF/5oFemQGyH5EQV+ZwXPU71gDgRIHmzSEpV96QXT24OVkYRlUoSvN9NRfRtINYnsitK4JwFM9GEcYrUv6R564iJZVIOGCIi/qPX1/T2q/rLyHRduur4V62m2+2V9WDEeC7Htx0a+5knjV4ALFcG1mSBWb7gLT12+BjUDGOBWzFqWg/G3qD/E6yR54iIGkby9veQq/8TEf3Su9d8usOwdpkd820qU55Ie3m/ODYIlhn+H0yRARta1Y67IQ8WWltfabgLBEJ1wzZS3ihUN7l+CBU4Lax2JsHelCNjByET7BnvBVBtxBy/NL/2HAeectUneyy7IrKQ/KiPvQa0V+FOlb5j9b2ZlIULvkeR8rd67T9C1eUMkz6sOgiAAAAAElFTkSuQmCC');
}

.oauth-list .oauth-facebook {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABI0lEQVRIS+1W0VGDQBTcrUA70A7ECuKHfDt2cBmwDpNCGM4O/AdnoIOkg1iCDWSdh7mRD8ORCH/hA2aYu919+2DfEYfr0RUrQk8gk/DunKekBmBT+2xt+2m3dFlsANydA3h0j7SpfH7PTjnxOin4AUzCmrOo/1XbGoFOUS/oi6BZCkEJwauh/ScR7KXnD5+/B8B0WTQAFhMR6K0qc9cHm5TAGlb7bGUE9mEAWgBMSFxPUkGfYIzyQBrtgaBPiB7YN7V/Mc+RusIJuAXlCN78t4K2KrOHv0DGVBKtAMAQQTQBxhB04mfrQbDmQhCNo4tFUYsg7ATtfhbGM6gfFdGfJc5+dEU7/8icbegD26rMku5UETKehIXa4IQaYVcrwY4t3ez4BhESwcGJ4f/mAAAAAElFTkSuQmCC');
}

.oauth-account {
    margin-left: 15px;
    margin-bottom: 5px;
}

.oauth-account span.oauth {
    padding-left: 20px;
    padding-top: 1px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}

.oauth-account span.oauth-vkontakte {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABh0lEQVRIS8WWTU7CUBSFz6Ed6IwdyA7EFYg76LBoQF2BjE0bSiBOhRWQ0Gh1JDsAdoA7gB3gCAct17wGGCD94afaUdOXnu/de9+59xEADKebPw20ugAGwYL6tu8jkAmB/lwLGn3nfsZQ3NcHIIr7im79TzCe6/4Vy5bbBvFwVPGVmKCjABMQZ1kAwnSVbVeyEF9p/i9AgE8Iar8ipBQgLJG4TYo+IQIZec1qKUqkbPdqAJ/jIKkBpuUq0KUAs/dWpbMSTarhLgCHRF0JM8hdvD7djNV7BgAZzbXAUC417d4dwe5RUrQpcv34UpTcop/kodQp2rZL0/EK9P1hHCQ1wLTcdQ1E0HhrVZywBpZrgPiIStNeAAimXqsSdl11ukgMjgYQwRcpjtestkNAQqFTRxC1Q9N2xwTOD45gU2BpvDqJSKeHnok3isxEGBpq3R2B/C7D6Q+6aYYDR5227EemGvongT6MOwlJPX/bupol35pfolpc3iyUM5UrD5vPginUtUX3HdUQfwDkAdxVyXpjxwAAAABJRU5ErkJggg==');
}

.oauth-account span.oauth-google {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACE0lEQVRIS71WPXLTYBTcp0iumElugD2D3MYUsUocbGrIcACcE8ScgPgCwA1AJ8D0MsilBYXTWimcGzgdiWUt88kyliMpI2sSVEgz+tl9b9+3+0kQH36neU7gtUAa63slry5A13S8vvpe1Gnabk5E5LAkYOZnBCd1x3suqnJAPjwk+AaLfXmM6hMEI/E7FnOrJ64gnKWeU6oQPC3S9X0E7xUAiUORpW06v93pq6OGEO8ArVcEPBpyVgcMw1NNZE6Rbxug5bEi8TtNF5AXSZ1NxzvPUyKDgNem4x2kh8+R6Xgtv2Op6j+VJiAxqw/HtenLo65o2pekFKYzlvR99nfsANADqQF/5oFemQGyH5EQV+ZwXPU71gDgRIHmzSEpV96QXT24OVkYRlUoSvN9NRfRtINYnsitK4JwFM9GEcYrUv6R564iJZVIOGCIi/qPX1/T2q/rLyHRduur4V62m2+2V9WDEeC7Htx0a+5knjV4ALFcG1mSBWb7gLT12+BjUDGOBWzFqWg/G3qD/E6yR54iIGkby9veQq/8TEf3Su9d8usOwdpkd820qU55Ie3m/ODYIlhn+H0yRARta1Y67IQ8WWltfabgLBEJ1wzZS3ihUN7l+CBU4Lax2JsHelCNjByET7BnvBVBtxBy/NL/2HAeectUneyy7IrKQ/KiPvQa0V+FOlb5j9b2ZlIULvkeR8rd67T9C1eUMkz6sOgiAAAAAElFTkSuQmCC');
}

.oauth-account span.oauth-facebook {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABI0lEQVRIS+1W0VGDQBTcrUA70A7ECuKHfDt2cBmwDpNCGM4O/AdnoIOkg1iCDWSdh7mRD8ORCH/hA2aYu919+2DfEYfr0RUrQk8gk/DunKekBmBT+2xt+2m3dFlsANydA3h0j7SpfH7PTjnxOin4AUzCmrOo/1XbGoFOUS/oi6BZCkEJwauh/ScR7KXnD5+/B8B0WTQAFhMR6K0qc9cHm5TAGlb7bGUE9mEAWgBMSFxPUkGfYIzyQBrtgaBPiB7YN7V/Mc+RusIJuAXlCN78t4K2KrOHv0DGVBKtAMAQQTQBxhB04mfrQbDmQhCNo4tFUYsg7ATtfhbGM6gfFdGfJc5+dEU7/8icbegD26rMku5UETKehIXa4IQaYVcrwY4t3ez4BhESwcGJ4f/mAAAAAElFTkSuQmCC');
}


.oauth-account form {
    display: inline-block;
    line-height: 16px;
    height: 16px;
}

.oauth-account button.del {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    background-position: 50% 44%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 50%;
    border: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA80lEQVQ4T41TSxbBQBCsYus9buAKNrH2uQA3cAROwk24AXsbR+AG8WQrLdPzwiRmmizTU9XVXdUsZtlKgC3BHKUse6fzBcZXTLIROtwLZEBgw8c8yytw32FEJGeJaYrEgaWDI8nB+30xG19BDOumKZI2WN8LbtRCF6daRUxJDFyNcOcTk2oMwCJRwkC2b+zBblQlsEhcrZ65DdZauPCYkrAedq7/NwhSSmKdbYLWzJbF3yNEwJbFzSVGtu0X5YMWU/KxMWGVgoyc+CAZPlsWu9jzK8pBSH5aLLg2jykBToVNc6HnTOwoes6LP8/5IKzOWbB+AdR46SQXvUoZAAAAAElFTkSuQmCC');
}

h3.oauth-header {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 15px 5px;
}

.auth-popup .disclaimer {
    font-size: 11px;
    color: #666666;
    margin-top: 20px;
}

.auth-popup .disclaimer a {
    font-size: 11px;
    display: inline;
}

#pay_form h2 {
    margin: 10px 0 20px 0;
}

#pay_form .label_t {
    width: 230px;
    margin-bottom: 10px;
    display: inline-block;
}

#pay_form select {
    width: 90px;

}

#price_block, #discount_block, #itogo_block {
    margin: 10px 0;
}

#price, #discount, #itogo {
    font-weight: bold;
    margin-left: 10px;
}

.time-tarif-form {
    text-align: center;
    margin: 20px 0;
}
.time-tarif-table {
    width: 100%;
    margin: 10px 0;
}
.time-tarif-table td, .time-tarif-table th {
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
}
.time-tarif-table th {
    border-bottom: 1px solid #cccccc;
}
.time-tarif-table th img {
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

h2.subheader {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.install-noxbit {
    width: 300px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
    position: absolute;
}
.install-noxbit p {
    color: #EAEAEA;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}
a.install-noxbit-btn {
    margin: 30px auto;
    position: relative;
    width: 185px;
    height: 35px;
    background: #498C9F;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    display: block;
    color: #EAEAEA;
}