html.fixed-html {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

body {
    background : #f5f5f5;
    margin     : 0;
    padding    : 0;
}

.item {
    margin-bottom : 10px;
    width         : 240px;
}

.facebook {
    width        : 240px;
    height       : 125px;
    float        : left;
    background   : #fff;
    box-shadow   : 0 0 6px 1px rgba(0, 0, 0, 0.1);
    border-top   : 4px solid;
    border-color : #2e9ad2;
}

.clear { clear : both; }

#main-container { margin-top: 63px }

.main-container {
    margin  : 0 auto;
    display : none;
}

.facebook-like-container {
    width      : 200px;
    margin     : 5px auto;
    text-align : center;
}

.facebook-text {
    margin-top     : 8px;
    margin-bottom  : 10px;
    line-height    : 1.1;
    color          : #008ed4;
    font-size      : 16px;
    font-weight    : bold;
    letter-spacing : 0px;
    font-family    : Arial, Helvetica, sans-serif !important;
}

.facebook-iframe-container { margin-left : 20px }

.fb-like {
    margin   : 16px 5px;
    float    : left;
    overflow : hidden;
}

body {
    color      : #7b8c98;
    font       : 14px/20px "Open Sans", Arial, Helvetica, sans-serif;
    margin     : 0;
    background : url(http://img3.zergnet.com/0_assets/images/bg-page.jpg);
}

img { border-style : none; }

a {
    text-decoration : underline;
    color           : #6e8291;
}

a:hover { text-decoration : none; }

a:active { background-color : transparent; }

#header:after {
    content : '';
    display : block;
    clear   : both;
}

#header {
    position           : fixed;
    z-index            : 50;
    min-width          : 1090px;
    background         : #fff;
    width              : 100%;
    margin             : 0 0 15px;
    left               : 0;
    top                : 0;
    -webkit-box-shadow : 0px 0 3px 1px #736b6b;
    box-shadow         : 0px 0 3px 1px #736b6b;
    height             : 50px;
}

.header-holder:after {
    content : '';
    display : block;
    clear   : both;
}

.header-holder { width : 100%; }

.logo {
    background: url(http://img1.zergnet.com/0_assets/images/logo.png) no-repeat 10px 0;
    float: left;
    height: 25px;
    overflow: hidden;
    text-indent: -9999px;
    width: 129px;
    margin: 15px 15px 0 0;
    margin-left: 0px;
}

.logo a {
    display : block;
    height  : 100%;
}

#nav {
    list-style     : none;
    float          : left;
    margin         : 0;
    padding        : 0;
    text-transform : uppercase;
    font-weight    : 700;
}

#nav li {
    float      : left;
    text-align : center;
    border-top : 3px solid #00a0dc;
}

#nav li.spring { border-top : 3px solid #26dcc2; }

#nav li.spring.active a,
#nav li.spring a:hover {
    background : #26dcc2;
    border-top : 0px;
}

#nav li.coral { border-top : 3px solid #ff7973; }

#nav li.coral.active a,
#nav li.coral a:hover {
    background : #ff7973;
    border-top : 0px;
}

#nav li.magenta { border-top : 3px solid #ae4fff; }

#nav li.magenta.active a,
#nav li.magenta a:hover {
    background : #ae4fff;
    border-top : 0px;
}

#nav li.pink { border-top : 3px solid #fb73dd; }

#nav li.pink.active a,
#nav li.pink a:hover {
    background : #fb73dd;
    border-top : 0px;
}

#nav li.orange { border-top : 3px solid #ffc24f; }

#nav li.orange.active a,
#nav li.orange a:hover {
    background : #ffc24f;
    border-top : 0px;
}

#nav a {
    text-decoration : none;
    padding         : 13px 12px 14px;
    display         : block;
}

#nav.scaling-active a { padding : 14px 0; }

#nav li.active a,
#nav a:hover {
    color      : #fff;
    background : #00a0dc;
    border-top : 0px;
}

.btn-holder {
    float         : right;
    padding-right : 10px;
}

.btn-login,
.btn-sign-up {
    border-radius   : 5px;
    font-weight     : 700;
    color           : #fff;
    text-decoration : none;
    font-size       : 12px;
    line-height     : 16px;
}

.btn-login:active,
.btn-login {
    background : #6e8291 url(http://img2.zergnet.com/0_assets/images/arrow.png) no-repeat 90% 11px;
    float      : right;
    margin     : 11px 0 0;
    padding    : 6px 23px 7px 10px;
}

.btn-sign-up:active,
.btn-sign-up {
    padding    : 6px 10px 7px 10px;
    background : #00a0dc;
    margin     : 11px 5px 0 0;
    float      : left;
}

#main {
    overflow : hidden;
    width    : 1003px;
}

.first {
    position   : relative;
    width      : 492px;
    background : #333;
    border     : 1px solid #ccc;
    float      : left;
}

.box-link {
    display         : block;
    text-decoration : none;
}

.mainbox-link {
    display         : block;
    text-decoration : none;
    cursor          : pointer;
}

.box-link .hover-block {
    display  : none;
    position : absolute;
    height   : 100%;
    cursor   : pointer;
}

.box-link:hover .hover-block {
    display    : block;
    height     : 100%;
    width      : 100%;
    background : rgba(222, 222, 222, 0.15);
    z-index    : 3;
    top        : 0;
    left       : 0;
}

.mainbox-link .hover-block {
    display  : none;
    position : absolute;
    height   : 100%;
    cursor   : pointer;
}

.mainbox-link:hover .hover-block {
    display    : block;
    height     : 100%;
    width      : 100%;
    background : rgba(222, 222, 222, 0.05);
    z-index    : 3;
    top        : 0;
    left       : 0;
}

.img-holder:after {
    content : '';
    display : block;
    clear   : both;
}

.img-holder {
    display          : block;
    position         : relative;
    background-color : #fff;
}

.first img {
    vertical-align : top;
    float          : right;
}

.first .top {
    position : absolute;
    top      : -1px;
    left     : 15px;
}

.title-box {
    padding     : 4px 5px;
    color       : #fff;
    font-weight : 700;
    font-size   : 24px;
    line-height : 35px;
    position    : absolute;
    top         : 61px;
    left        : 8px;
}

.bg {
    background : #333;
    padding    : 3px 10px 2px 0;
}

.view {
    position        : absolute;
    color           : #fff;
    background      : #00a0dc;
    padding         : 11px 36px 10px 35px;
    top             : 244px;
    left            : 18px;
    text-decoration : none;
    border-radius   : 5px;
    font-weight     : 700;
}

.view:hover { text-decoration : underline; }

.text {
    font-family : Arial, Helvetica, sans-serif !important;
    display     : block;
    background  : #fff;
    padding     : 9px 15px 15px;
    font-size   : 14px;
    line-height : 20px;
}

.second {
    border : 1px solid #ccc;
    float  : left;
}

.second img { vertical-align : top; }

.second .text {
    font-family : Arial, Helvetica, sans-serif !important;
    font-size   : 13px;
    line-height : 18px;
    padding     : 15px;
}

.second .post-title {
    font-size   : 20px;
    line-height : 24px;
    font-weight : 700;
    color       : #5b6c76;
    margin      : 0 0 11px;
    display     : block;
}

.second .text span { display : block; }

.second .named {
    position : absolute;
    bottom   : 0;
    left     : 0;
}

.second .title-news {
    font-family : Arial, Helvetica, sans-serif !important;
    display     : block;
    width       : 220px;
    margin      : 0px;
    color       : #fff;
    font-size   : 20px;
    line-height : 24px;
    padding     : 9px 5px 11px 15px;
    background  : rgba(0, 0, 0, 0.65);
}

.second .sponsored-result {
    background             : none repeat scroll 0 0 #e9e9e9;
    border-top-left-radius : 10px;
    color                  : #858585;
    display                : block;
    font-family            : Arial, Helvetica, sans-serif !important;
    font-size              : 12px;
    padding-left           : 8px;
    padding-top            : 2px;
    width                  : 68px;
}

.second .named-sr {
    bottom   : 0;
    right    : 0;
    position : absolute;
}

/*
 * Zerg Homepage Header/Top Bar (used for mobile still)
 */


​
#aside-nav ul li {
    background: #4f5e6a;
    border: 2px solid #5b6c79;
    border-width: 0 0 1px;
}

#aside-nav ul li:last-child {
    border-width: 0 0 4px;
}


#aside-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#aside-nav ul li a {
    color: #fff;
    display: block;
    padding: 12px 22px;
    text-decoration: none;
    -webkit-transition: background 300ms linear;
    transition: background 300ms linear;
    font-size: 19px;
    text-transform: uppercase;
    background: #4F5E6B;
    border-bottom: 1px solid #5B6C7A;
}

#aside-nav ul li.info_links {
    background: transparent;
    border-color: #333e46;
}

#aside-nav .info-links a {
    color: #7B8C99;
    text-transform: uppercase;
    font-size: 18px;
    background: 0;
}

#aside-nav ul li.first-info-link {
    border-top: 3px solid #5B6C7A;
}

.nav-active #main-container:before {
    background: rgba(0, 0, 0, .8);
    z-index: 100;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.nav-active #main {
    left: 327px;
}

.nav-active #header {
    left: 327px !important;
}

.close {
    right: 25px;
}

.header-bar {
    -webkit-box-shadow : 1px 0px 4px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow    : 1px 0px 4px 0px rgba(0, 0, 0, 0.10);
    box-shadow         : 1px 0px 4px 0px rgba(0, 0, 0, 0.10);
    -moz-transition    : all .2s ease-in;
    -webkit-transition : all .2s ease-in;
    -o-transition      : all .2s ease-in;
    background         : #fff;
    border-bottom      : 1px solid #ccc;
    height             : 42px;
    margin-bottom      : 10px;
}

.header-flame {
    float        : left;
    padding-top  : 8px;
    padding-left : 60px;
}

.header-logo {
    float        : left;
    padding-left : 70px;
    padding-top  : 1px;
}

.header-tagline {
    font-family : 'Open Sans', Arial, Helvetica, sans-serif !important;
    float       : left;
    margin-left : 20px;
    font-size   : 14px;
    color       : #777;
    padding-top : 14px;
}

.header-right-section {
    float        : right;
    margin-right : 40px;
}

.header-right-container {
    float       : left;
    padding-top : 13px;
}

.header-right-link {
    font-family : 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size   : 13px;
}

.header-right-link-spacer { margin-left : 16px; }

/** HAMBURGER NAV **/
.nav-opener {
    overflow: hidden;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    z-index: 99;
    position: relative;
    letter-spacing: 0;
    float: left;
}

.unbranded .nav-opener {
    position: absolute;
    top: -1px;
    left: 0;
    height: 43px;
    width: 43px;
}

.nav-opener:before,
.nav-opener:after,
.nav-opener span {
    background: #4c4c4c;
    position: absolute;
    top: 45%;
    left: 26%;
    height: 4px;
    margin-top: -1px;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    width: 30px;
}

.nav-opener:before,
.nav-opener:after {
    content: "";
    top: 27%;
}

.nav-opener:after {
    top: 64%;
}

.nav-opener:hover {
    /*background: #4c4c4c;*/
}

.nav-opener:hover:before,
.nav-opener:hover:after,
.nav-opener:hover span {
    /*background: #fff;*/
}

.nav-drop {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    background: #000;
    right: 0;
    width: 327px;
    height: 100%;
    z-index: 101;
    letter-spacing: 0;
    -webkit-transition: left 300ms linear;
    transition: left 300ms linear;
}

.jcf-scrollable-wrapper {
    box-sizing: content-box;
    position: relative;
}

.jcf-scrollbar-vertical {
    position: absolute;
    cursor: default;
    background: none;
    width: 8px;
    bottom: 0;
    right: 0;
    top: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
    background: #e3e3e3;
    height: 1px;
    width: 8px;
    border-radius: 10px;
}

.jcf-scrollbar-horizontal {
    position: absolute;
    background: none;
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 8px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
    display: inline-block;
    position: relative;
    height: 8px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
    position: absolute;
    background: #e3e3e3;
    height: 8px;
    border-radius: 10px;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
    visibility: hidden;
}

/* common custom form elements styles */

.jcf-disabled {
    background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
    border-color: #f00 !important;
}

.nav-drop .jcf-scrollable {
    height: 100%;
    background: #333e46;
}

.nav-drop .nav-top {
    background: #fff;
    padding: 17px 40px 35px 20px;
    position: relative;
}

.nav-drop .nav-bottom {
    margin: 0 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-drop .social-networks {
    margin: 0;
}

.nav-drop .social-networks a:before {
    margin: 0;
}

.nav-drop .social-networks li {
    margin: 0 18px 5px 0;
}

.nav-drop .social-networks li:first-child {
    margin: 0 18px 5px 0;
}

.nav-drop .copyright-info {
    padding: 20px 0;
}

.nav-drop .nav-opener.close {
    background: url(http://www.looper.com/wp-content/themes/unified/images/sprite.png) no-repeat -140px 0;
    width: 20px;
    height: 20px;
    border-style: none;
}

.nav-drop .nav-opener.close:hover {
    opacity: .5;
}

.nav-drop .nav-opener:before,
.nav-drop .nav-opener:after,
.nav-drop .nav-opener span {
    background: none;
}

.nav-drop .aside-holder {
    /*border: 2px solid #333;*/
    border-width: 0 0 2px;
    margin: 0 0 5px;
}

.nav-drop .logo {
    width: 130px;
    margin: 0;
    background-position: 0% 0%;
    position: static;
}

.nav-active {
    /*overflow: hidden;*/
}

.nav-active #footer {
    display: block;
}

.nav-active .nav-drop {
    left: 0;
}

.resize-active .nav-drop {
    -webkit-transition: none !important;
    transition: none !important;
}

.close {
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(/wp-content/themes/unified/images/sprite.png) no-repeat -26px 0;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 16px;
}

.close:hover {
    opacity: .5;
}

@media screen and (max-device-width: 1024px) {
    .header-bar { position: fixed; top: 0; left: 0; z-index: 2; margin-top: -1px }
    .logo-container { margin-left: -43px }

    .nav-opener:before,.nav-opener:after,.nav-opener span {
        left: 25%;
        right: 35%;
        top: 46%;
    }

    .nav-opener:before,.nav-opener:after {
        top: 28%
    }

    .nav-opener:after {
        top: 65%
    }

    .nav-opener.close {
        left: inherit;
        top: 28px;
    }

    .nav-drop {
        left: -327px;
        width: 327px;
        right: auto
    }

    .nav-drop .nav-top {
        padding: 20px 50px 35px 12px
    }
}
@media screen and (max-device-width: 1023px) {
    #main-container { margin-top: 53px }
}
@media screen and (max-device-width: 500px) {
    .nav-opener { height: 43px; width: 43px }
    .logo-container { margin-left: -33px }
    #aside-nav ul li a { padding: 10px 22px }
    #aside-nav .info-links a { font-size: 13px }
}
@media screen and (max-device-width: 400px) {
    .nav-opener { height: 43px; width: 43px }
    #aside-nav ul li a { padding: 6px 22px; font-size: 15px }
    #aside-nav .info-links a { font-size: 13px }
}
@media screen and (max-device-height: 568px ) {
    #aside-nav ul { height: 483px; overflow: scroll }
}
@media screen and (max-device-height: 480px ) {
    #aside-nav ul { height: 394px; overflow: scroll }
}