@charset "euc-jp";
body {font-size:12px;margin:0 auto;padding:0;line-height:1.2;min-width:980px;max-width:1450px;font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, "MS PGothic","Osaka",Arial,sans-serif;color: #222;background-color:#fff;}
* html body {
  background: url(null) fixed;
}

* html #menu-bar {
  position: absolute;
  top: expression(eval(document.documentElement.scrollTop+0));
}

#wrapper{/*margin-top:30px;*/}
#menu-bar {
	background: url(../common/images/topnav_bg.gif) repeat-x;
	width:100%;height:30px;min-width:980px;
}

/*Chorme,Safari*/
@media screen and (-webkit-min-device-pixel-ratio:0){
#menu-bar {
      filter:alpha(opacity=85);
      opacity:.85;
}}
/*Firefox*/
@-moz-document url-prefix() {
#menu-bar {
      filter:alpha(opacity=85);
      opacity:.85;
}}
#menu-bar-left {
float:left;width:800px;height:30px;margin-left:10px;
}
#menu-bar-right {
float:right;margin:7px 0px 7px 7px;height:30px;
}
ul.topnav {
	list-style: none;
	padding: 0 2px;
	margin: 0;
	float: left;
	width: 910px;
	background: #222;
	font-size: 1.0em;
	background: url(../common/images/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 5px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(../common/images/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 30px;
	float: left;
	background: url(../common/images/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 30px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../common/images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../common/images/dropdown_linkbg.gif) no-repeat 10px center;
}
form,div,h1,h2,h3,p	{ margin:0; padding:0;}
img { border:0;}
input { line-height:1; margin:0;}
#wrapper{margin-right:5px;margin-left:5px;}
tr,td {font-size: 12px;border-spacing: 0;}
big{font-size:120%;}
small{font-size:90%;}
a {text-decoration: none;color: #12C;}
a,a:link,a:visited {text-decoration: none; color:#12C;}
a:hover {text-decoration: underline; color:#C00;}
a:active {text-decoration: underline; color:#C00; }
a:hover img {
      border-color:red;
/*      filter:alpha(opacity=75);
      opacity:.75;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";*/
     }
/*color  -----------------------------------------------------------------------------------*/
.black {color:#222;}
.blackb {font-weight: bold; color:#222;}
.blacks {color:#222; font-size: 83%;}
.white {color:#ffffff}
.whiteb {font-weight: bold; color:#ffffff;}
.whitebb {font-weight: bold; color:#ffffff;}
.whites {color:#ffffff; font-size: 83%;}
.red {color:#CC0000;}
.redb {font-weight: bold; color:#CC0000;}
.redb2 {font-size:120%; font-weight: bold; color:#CC0000;}
.reds {color:#CC0000; font-size: 83%;}
.green {color:#006600;}
.greenb {font-weight: bold; color:#12C;}
.greens {color:#006600; font-size: 83%;}
.blue {color:#12C; text-decoration: none;}
.bluebig {font-size:120%; font-weight: bold; color:#12C;}
.blueb {font-weight:bold; color:#12C;}
.blueb2 {font-weight:bold; color:#0033CC;}
.blues {color:#12C;font-size:11px;}
.orange {color:#FF8800;}
.orangeb {font-weight:bold; color:#FF8800;}
.oranges {color:#FF8800; font-size: 83%;}
.seline {color:#555555; }
.cgethu {color:#FF99CC;}
.cgethubig {font-size:120%; color:#FF99CC;}
.cpcgame {color:#ff0000;}
.canime {color:#ff6600;}
.cmusic {color:#ffcc00;}
.cgoods {color:#66cc33;}
.cboys {color:#9966ff;}
.cdoujin {color:#990099;}
.csearch {color:#3399ff;}
.cinfo {color:#0066ff;}
.gray {color:#555555;}
.ranknum {font-size: 18px; font-weight: bold; color:#ffffff;font-style: italic;}
.navyb {font-size: 130%; font-weight: bold; color:navy; text-decoration: none;margin-bottom:8px;}
a.bluea:link {color:#12C;text-decoration: underline;}
a.bluea:hover {color: #C00;}
a.black:link,a.black:visited {color:#222;}
a.black:hover {color: #06C;}
/*header  -----------------------------------------------------------------------------------*/
#colortabsline{
display: block;
position: relative;
clear: both;
padding: 0;
height:5px;
line-height: 8px;
border-right: 1px #999 solid;
border-left: 1px #999 solid;
}

.header_search {
display: block;
position: relative;
border: 1px #999 solid;
padding: 2px 0px;
padding-left: 2px;
color: #494949;
background: url(../jquery/css/custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x left top;
overflow: hidden;
-moz-border-radius: 0px 0px 4px 4px;
-webkit-border-radius: 0px 0px 4px 4px;
-khtml-border-radius: 0px 0px 4px 4px;
border-radius: 0px 0px 4px 4px;
}
.header_search_left{
float:left;padding:2px 0 3px 5px;
}
.header_search_right{
float:right; padding:2px 5px 3px 0;
}
.search_select {
margin: 3px 2px 0 0px;
vertical-align: top;
zoom: 1;
display: inline-block;
position: relative;
text-decoration: none !important;
overflow: hidden;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
border: 1px solid #999;
background: #fff;
color: #555;
}
.search_text {
margin: 0;
vertical-align: top;
zoom: 1;
padding:2px 4px 2px;
display: inline-block;
position: relative;
text-decoration: none !important;
overflow: hidden;
border: 1px solid #999;border-right:0;
-moz-border-radius: 4px 0 0 4px;
-webkit-border-radius: 4px 0 0 4px;
-khtml-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
background: #fff;
color: #555;
width:370px;
height: 20px;
line-height: 19px;
}
* html .ui-button {
margin-top:1px;
}
* html .search_text {
height: 24px;
}

.header_detail{
width:103px;height:26px;line-height:1.4;
}

.header_wish{
width:112px;height:26px;line-height:1.4;
}

.header_cart{
width:128px;height:26px;line-height:1.4;
}

.header_search_button:hover,.header_detail:hover,.header_wish:hover,.header_cart:hover{
border: 1px solid #222;
background: #ffff99 url(../jquery/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
color: #212121;
}

.header_search_button:active,.header_detail:active,.header_wish:active,.header_cart:active{
border: 1px solid #aaa;
background: #ffffff url(../jquery/css/custom-theme/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
color: #212121;
}

#slantedmenu2{
margin-top:4px;
clear: both;
border-top: 1px solid #999;
line-height:1.5;
font-size:12px;
}
#slantedmenu2:after{ /*Add margin between menu and rest of content in Firefox*/
}
#slantedmenu2 ul{
text-indent: 10px;
padding: 4px 0 2px;
margin: 0;
text-align: left; /*set value to "center" for example to center items*/
}
#slantedmenu2 ul li{
display: inline;
padding: 5px 0;
padding-right: 20px;
margin: 0;
text-decoration: none;
background: transparent url(../common/images/slantdivider.gif) top right no-repeat;
}
#slantedmenu2 ul li a{
color:#494949;
}
#slantedmenu2 ul li a:visited{
color:#494949;
}
#slantedmenu2 ul li a:hover{
color:#0066CC;
}
/*menu---------------*/
.glossymenu{
margin: 5px 0;
padding: 0;
width: 180px;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}
.glossymenu a.menuitem{
background: #3498db;
font-weight: bold;
font-size: 1.2em;
color: white;
display: block;
position: relative;
width: auto;
padding: 4px 6px;
padding-left: 5px;
text-decoration: none;
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: white;
}
.glossymenu a.menuitem .statusicon{
position: absolute;
top: 5px;
right: 5px;
border: none;
}
.glossymenu a.menuitem:hover{
background: #3399FF;
}
.glossymenu div.submenu{
background: white;
font-size:12px;
line-height:13px;
}
.glossymenu div.submenu ul{
list-style-type: none;
margin: 0;
padding: 0;
}
.glossymenu div.submenu ul li{
border-bottom: 1px solid #9A9A9A;
word-break: break-all;
}
.glossymenu div.submenu ul li a{
display: block;
color: #222;
text-decoration: none;
padding: 4px 0;
padding-left: 3px;
}
.glossymenu div.submenu ul li a:hover{
background: #cdeaff;
color: black;
}
   *.float
   {
     float: left;
     margin-right: 1em;
   }
   *.floatclear
   {
     clear: both;
   }
.ui-default-button {
display: inline-block;
position: relative;
padding: 0;
margin-right: .1em;
text-decoration: none !important;
cursor: pointer;
text-align: center;
zoom: 1;
overflow: hidden;
moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
border: 1px solid #999;
background: #EEE url(../jquery/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #555;
font-weight:bold;
}
.ui-default-button-search{
width:75px;height:26px;
}
.ui-default-button-search{
width:75px;height:26px;
}
.ui-default-button-search{
width:75px;height:26px;
}
.ui-default-button-search{
width:75px;height:26px;
}
.ui-default-button-search-icon {
position: absolute;
top: 50%;
margin-top: -8px;
background-image: url(../jquery/css/custom-theme/images/ui-icons_888888_256x240.png);
background-position: -160px -112px;
width: 16px;
height: 16px;
display: block;
text-indent: -99999px;
overflow: hidden;
background-repeat: no-repeat;
cursor: pointer;
text-align: center;
font-weight: normal;
color: #555;
}
.tabtop a,.tabpc a,.tabanime a,.tabadultanime a,.tabmusic a,.tabgoods a,.tabbgame a,.tabdakimakura a,.tabbooks a,.tabmagazine a,.tabdvdpg a,.tabboys a,.tabdl a,.tabinfo a,.tabadult a,.tabndl a,.tabdoujin a,.tabcosplay a,.tabblog a,.tabakiba a,.tabadultgoods a,.tabinfo a,.tabhistory a{
color:#222;
}
.tabtop a:hover{background-color:#0066CC;color:white;}
.tabpc a:hover{background-color:#CC3333;color:white;}
.tabanime a:hover,.tabadultanime a:hover{background-color:#FF9933;color:white;}
.tabmusic a:hover{background-color:#FFCC33;color:black;}
.tabgoods a:hover,.tabbgame a:hover,.tabdakimakura a:hover,.tabadultgoods a:hover{background-color:#669900;color:white;}
.tabbooks a:hover{background-color:#990099;color:white;}
.tabmagazine a:hover{background-color:#000099;color:white;}
.tabdvdpg a:hover{background-color:#00AAFF;color:white;}
.tabboys a:hover{background-color:#AE63CA;color:white;}
.tabdl a:hover{background-color:#EC8BB0;color:white;}
.tabinfo a:hover{background-color:#0066CC;color:white;}
.tabadult a:visited{background-color:#ffccff;color:black;}
.tabadult a:hover{background-color:#EC8BB0;color:white;}
.tabndl a:hover{background-color:#00AAFF;color:white;}
.tabdoujin a:hover,.tabcosplay a:hover{background-color:#009999;color:white;}
.tabblog a:hover{background-color:#0066CC;color:white;}
.tabakiba a:hover{background-color:#EC8BB0;color:white;}
.tabinfo a:hover{background-color:#0066CC;color:white;}
.tabhistory a:hover{background-color:#0066CC;color:white;}
.tabadult a{
background-color: #FCF;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
-khtml-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.ui-headtabs
{
position: relative; padding: 0; zoom: 1; margin:0px;
 margin: 0; padding: 1px 1px 0;
}
.ui-headtabs .ui-headtabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 0 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; margin-bottom: 0; padding-bottom: 0; }.ui-headtabs .ui-headtabs-nav li a { float: left; padding: 5px 6px 4px; text-decoration: none; }
.ui-headtabs .ui-headtabs-hide { display: none !important; }
.genretab
 {
border: 1px solid #999;
background: #EEE url(../jquery/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
font-weight: normal;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
-khtml-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
 }
.genretab a,.genretab a:link,.genretab a:visited
 {
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
-khtml-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.genretab a:hover
 {
color:#fff;
}
.genretab current a,.genretab current a:link, .genretab current a:visited, .genretab current a:active{
color:#fff;
font-weight:bold;
}
/*center menu*/
#genre_menu{width:180px;}
#genre_submenu{width:180px;}
#genre_middle_menu{max-width:180px;}
.genre_banner{text-align:center;}
#whatsnew{ border: 1px #999999 solid; padding: 3px; text-align:left;margin:2px auto 6px; }
#calendar{
width:99%;
border: 1px #999999 solid;
background-color:#f1f1fd;
text-align: center;
margin: 0px;
padding: 2px;
}
#item-box{ width: 100%; margin: 2px; padding: 2px 0px;}
#reserve{ width: 100%; margin: 2px 0px; padding: 2px 0px;}

.banner_topwide {background:transparent url("../banner/banner_topwide.jpg") no-repeat center}
.banner_topwide_background {/*background:#FFF url("../banner/banner_topwide_background.jpg") repeat-x left*/}
.banner_topwide_pc1 {background:transparent url("../mbanner/img/1266.jpg") no-repeat center}
.banner_topwide_background_pc1 {/*background:#FFF url("../banner/banner_topwide_background_pc1.jpg") repeat-x left*/}
.banner_topwide_pc2 {background:transparent url("../mbanner/img/1265.jpg") no-repeat center}
.banner_topwide_background_pc2 {/*background:#FFF url("../banner/banner_topwide_background_pc2.jpg") repeat-x left*/}

.banner_topwide1 {background:transparent url("../mbanner/img/1302.jpg") no-repeat center}
.banner_topwide_background1 {/*background:#FFF url("../banner/banner_topwide_background1.jpg") repeat-x left*/}
.banner_topwide2 {background:transparent url("../mbanner/img/1301.jpg") no-repeat center}
.banner_topwide_background2 {/*background:#FFF url("../banner/banner_topwide_background2.jpg") repeat-x left*/}
.banner_topwide3 {background:transparent url("../mbanner/img/1263.jpg") no-repeat center}
.banner_topwide_background3 {/*background:#FFF url("../banner/banner_topwide_background1.jpg") repeat-x left*/}
.banner_topwide4 {background:transparent url("../mbanner/img/1264.jpg") no-repeat center}
.banner_topwide_background4 {/*background:#FFF url("../banner/banner_topwide_background2.jpg") repeat-x left*/}

/*box type*/
.box-title{
float: left; width:100%;
}
.box-a {
float: left; width:280px; height:130px;
border: 1px solid #CCCCCC;
color:#222;
margin: 3px 3px 3px 0px;
padding: 2px;
background-color:#ffffff;
line-height:1.1;
text-align:left;
overflow:hidden;
}
.box-a a { color:#12C; text-decoration: none;}
.box-a a:link {text-decoration: none; color:#12C; }
.box-a a:visited {text-decoration: none; color:#12C; }
.box-a a:active {text-decoration: underline; color:#FF66CC; }
.box-a a:hover {text-decoration: none;color:red;}
.box-a img{margin:2px;width:100px;height:100px;border: 1px #999999 solid;}
.box-a img:link{margin:2px;width:100px;height:100px;border: 1px #999999 solid;}
.box-a img:hover{border:1px solid red;}
.box-a:hover {background:#fff2fd; border:1px solid #FF69B4;}

.box-a p{ margin-left:105px;}

.box-off {
float: left; width:280px; height:130px;
border: 1px solid #CCCCCC;
color:#222;
margin: 3px 3px 3px 0px;
padding: 2px;
background-color:#EEE;
line-height:1.1;
text-align:left;
}

.box-off a { color:#1d3994; text-decoration: none;}
.box-off a:link {text-decoration: none; color:#1d3994; }
.box-off a:visited {text-decoration: none; color:#1d3994; }
.box-off a:active {text-decoration: underline; color:#FF66CC; }
.box-off a:hover {text-decoration: none;color:red;}
.box-off img{margin:2px;width:100px;height:100px;border: 1px #999999 solid;}
.box-off img:link{margin:2px;width:100px;height:100px;border: 1px #999999 solid;}
.box-off img:hover{border:1px solid red;}


.box-c {
float: left; width:130px; height:193px;
border: 1px solid #fff;
color:#222;
padding: 2px;
background:#fff;
line-height:1.1;
}
.box-c:hover {background:#fff; border:1px solid #EEEEEE;}
.box-c a {text-decoration: none;}
.box-c a:link {text-decoration: none;}
.box-c a:visited {text-decoration: none;}
.box-c a:hover {text-decoration: none;color:red;}
.box-c img{margin:1px 13px;width:100px;height:100px;border: 1px #999999 solid;}
.box-c img:hover{border:1px solid red;}
.box-list {list-style: none; padding:2px 2px 0px 2px;border:0px solid #999999;line-height:1.1;font-size:13px;}
.box-list li {float:left; width:100px; height:140px;padding-top:2px;text-align:left;color:#222;border:0px solid #fff;}
.box-list {margin: 0; padding-right:4px;float:left; width:100px; height:140px;text-align:left;background:#fff;border:1px solid #fff;line-height:13px;letter-spacing:0px;}
.box-list:hover {background:#fff2fd; border:1px solid #FF69B4;}
.box-list a:hover {text-decoration: none;color:#FF69B4;}
.box-list img{margin:1px 10px;width:80px;height:80px;border: 1px #999999 solid;}
.box-list img:hover {border:1px solid #FF69B4;}


.rankingtitle {
margin: 0px;
padding: 4px;
width: auto; /*width of menu*/
font-weight: bold;
font-size: 110%;
color:#FFFFFF;
/*background-color:#12C;*/
background: black url('../top/glossyback.gif') repeat-x bottom left;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}
.menu-title {
margin: 0px;
padding: 4px;
width: auto; /*width of menu*/
font-weight: bold;
font-size: 110%;
color:#FFFFFF;
/*background-color:#12C;*/
background: black url('../top/glossyback.gif') repeat-x bottom left;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}
.title-center { /*top.html center only */
width:98%;
padding: 2px 4px;
border-color:#12C;
border-style: solid;
text-align:left;
font-size: 110%;
color:#12C;
border-width: 0 0 1px 5px;
margin: 2px 0px;
}
.doujin-dl {
width:98%;
padding: 2px 4px;
border-color:#FF69B4;
border-style: solid;
text-align:left;
font-size: 110%;
color:#FF69B4;
border-width: 0 0 1px 5px;
margin: 2px 0px;
}
.update2 {
font-size:110%;
padding: 2px 4px;
border-color:#555;
border-style: solid;
text-align:left;
color:#555;
border-width: 0 0 1px 8px;
margin: 2px;
}
#container {
 width:100%;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 line-height:100%;
}
.banner { margin-top:10px; margin-bottom:3px;text-align:center;}
.banner_text {font-size: 100%;}

.list-whatsnew ul {list-style: none; margin: 0; padding: 0;}
.list-ranking ul {list-style: none; margin: 0; padding: 0;}
.list-menu ul {list-style: none; margin: 0; padding: 0;line-height:1.7;font-size:13px;}
.list {list-style: none; margin: 0; padding: 0;}
.list li {margin: 0; padding: 0 0 0 10px;float:left;}

li.pc { list-style-type: none; background: url('../common/images/li_pc.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.dvdpg { list-style-type: none; background: url('../common/images/li_dvdpg.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.anime { list-style-type: none; background: url('../common/images/li_anime.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.cd { list-style-type: none; background: url('../common/images/li_cd.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.goods { list-style-type: none; background: url('../common/images/li_goods.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.books { list-style-type: none; background: url('../common/images/li_books.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.magazine { list-style-type: none; background: url('../common/images/li_magazine.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.boys { list-style-type: none; background: url('../common/images/li_boys.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.news { list-style-type: none; background: url('../common/images/li_news.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.blog { list-style-type: none; background: url('../common/images/li_blog.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.column { list-style-type: none; background: url('../common/images/li_column.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.dl { list-style-type: none; background: url('../common/images/li_dl.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.tokuten { list-style-type: none; background: url('../common/images/li_tokuten.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.demo { list-style-type: none; background: url('../common/images/li_demo.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.update { list-style-type: none; background: url('../common/images/li_update.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.doujin { list-style-type: none; background: url('../common/images/li_doujin.gif') no-repeat;background-position: 0% top; padding: 0px 0px 0px 40px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
li.allow { list-style-type: none; background: url('../common/images/allow_red.gif') no-repeat;background-position: 0% top; padding: 0px 0px 2px 10px; margin: 2px;line-height:1.6;border-bottom: 1px dotted
#CCC;}
.rank_order ul{
list-style-type: none;
margin: 0;
padding: 0;
}
.rank_order li{
margin:0;
line-height:1.2;
padding:0 2px;
padding-left:21px;
clear: both;
word-break: break-all;
}
.rank_order li img{
margin: 0px 3px 0px 0px; width:60px; height:60px;
border: 1px #999999 solid;
}
.rank_order li a{
display: block;
padding:4px 0px 4px 2px;
color: #222;
text-decoration: none;
}
.rank_order a:hover{
background: #cdeaff;
color: black;
}
   *.float
   {
     float: left;
     margin-right: 1em;
   }
   *.floatclear
   {
     clear: both;
   }


.rank1 {background: url('../common/images/crown01.png') no-repeat;background-position: 1px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank2 {background: url('../common/images/crown02.png') no-repeat;background-position: 1px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank3 {background: url('../common/images/crown03.png') no-repeat;background-position: 1px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}

/*
.rank1 {background: url('../common/images/li_rank1.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank2 {background: url('../common/images/li_rank2.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank3 {background: url('../common/images/li_rank3.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
*/
.rank4 {background: url('../common/images/li_rank4.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank5 {background: url('../common/images/li_rank5.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank6 {background: url('../common/images/li_rank6.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank7 {background: url('../common/images/li_rank7.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank8 {background: url('../common/images/li_rank8.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank9 {background: url('../common/images/li_rank9.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank10 {background: url('../common/images/li_rank10.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank11 {background: url('../common/images/li_rank11.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank12 {background: url('../common/images/li_rank12.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank13 {background: url('../common/images/li_rank13.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank14 {background: url('../common/images/li_rank14.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank15 {background: url('../common/images/li_rank15.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank16 {background: url('../common/images/li_rank16.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank17 {background: url('../common/images/li_rank17.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank18 {background: url('../common/images/li_rank18.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank19 {background: url('../common/images/li_rank19.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank20 {background: url('../common/images/li_rank20.gif') no-repeat;background-position: 2px center; padding: 1px 0px 2px 19px; margin: 2px;border-bottom: 1px dotted #9A9A9A;}
.rank1 a,.rank2 a,.rank3 a,.rank4 a,.rank5 a,.rank6 a,.rank7 a,.rank8 a,.rank9 a,.rank10 a
{min-height:64px;word-wrap: break-word;}

/*soft.phtml*/
#soft-title { line-height:1.8; font-size:140%; font-weight:bold; color:black;width:100%; margin:10px 0px; border-top:1px #CCCCCC dotted;border-bottom:1px #CCCCCC dotted; padding:5px 0px;}
.chara-name { font-size:118%;margin:0 0 5px 5px;line-height:1.5;color:black;}
#container-top{text-align:left;margin:0;}
#container-center{width:100%;margin:0;padding:0;}
#container-top{text-align:left;margin:0;}
#container-center{width:auto;margin:0;padding:0;}
#wrapper-center{float:left;width:100%;margin:0;padding:0;}
#content-center{margin: 12px 190px 0 190px; padding:0px;text-align:left;}
#navigation{float:left;width:180px;margin-top:2px;margin-left:-100%;margin-right:0px;text-align:left;padding:0;}
#extra{float:left;width:180px;margin-top:2px;margin-left:-184px;margin-right:0px;text-align:left;padding:0;}
#footer{clear:left;width:100%;margin:0;padding:0;}
#n_navi{float:left; width:200px; margin:0;}
#n_contents{float:left; margin: 0px 0px 0px 210px; padding:0px;text-align:left;}
.word {font-size:14px;word-spacing: 4px;line-height: 1.5;}
span.tipinfo {
	display: block;
	line-height: 1.5em;
	margin-top:10px;
	padding: 3px;
	margin-bottom: 1px;
	background-color: #FFFFCC;
	border: 1px solid #d8d7d7;
	color: #000;
}
.header_submenu{
border: 1px #999999 solid;padding:2px 0px;color:#494949;background: url(../common/images/formbg.gif) repeat-x left top;font-size: 13px;list-style:none;letter-spacing: 1px;height:30px;
}
/*index.html*/
#normal_body{margin:0 auto;border-left:1px solid #fff;border-right:1px solid #fff;width:970px;}
#normal_header{width:100%;border-bottom:2px solid #FFF;background-color:#FFF;}
#normal_footer{width:100%;clear:both;background-color:#FFF;border-top:2px solid #fff;text-align:center; padding:1em 0;}
#normal_main{float:left; width:630px;}
#normal_sub{float:left; width:300px;}
#mynavi{padding:2px;border:1px solid #fff;}
#mymain{padding:3px;border-left:1px solid #fff;}

.title_info{
padding:7px 4px;font-weight:bold; font-size:17px;border: 1px #00AAFF solid; background-color: #CCECFF;
}
.top_block a{display: block;color: #222;text-decoration: none;width:294px;min-height:54px;border:1px #999999 solid;padding:2px;line-height:13px;margin-bottom:2px;}
.top_block a:hover{background: #cdeaff;border:1px #12C solid;color: black;text-decoration: none;}
.blog_block a,.blog_block a:visited{display: block;color: #222;text-decoration: none;width:294px;min-height:54px;border:1px #999999 solid;border-top:0px;padding:2px;line-height:13px;letter-spacing:0px;}
.blog_block a:hover{background: #cdeaff;color: black;text-decoration: none;}
.blog_block img{margin: 1px 3px 1px 0px; width:50px; height:50px; border: 1px solid;}

/*genre-----------------------------------------------------------------------------------------------------*/
.pc_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#FFCCCC;border:1px solid #CC3333;}
.anime_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#FFCC99;border:1px solid #FF9933;}
.music_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#FFFF99;border:1px solid #FFCC33;}
.goods_headword,.adultgoods_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#CCFF99;border:1px solid #669900;}
.books_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#FFCCFF;border:1px solid #990099;}
.magazine_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#9999FF;border:1px solid #000099;}
.boys_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#CC99FF;border:1px solid #AE63CA;}
.doujin_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#99CCCC;border:1px solid #99CCCC;}
.dvdpg_headword{font-size:16px;font-weight:bold;padding:6px;background-color:#CCECFF;border:1px solid #00AAFF;}
.category_top_b{background-color:#fff;border:1px solid #0066CC;padding:0px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_pc_b{background-color:#fff;border:1px solid #FFCCCC;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_anime_b{background-color:#fff;border:1px solid #FFCC99;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_music_b{background-color:#fff;border:1px solid #FFCC33;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_goods_b,.category_adultgoods_b{background-color:#fff;border:1px solid #669900;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_books_b{background-color:#fff;border:1px solid #FFCCFF;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_magazine_b{background-color:#fff;border:1px solid #6666FF;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_doujin_b{background-color:#fff;border:1px solid #99CCCC;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_dvdpg_b{background-color:#fff;border:1px solid #CCECFF;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_boys_b{background-color:#fff;border:1px solid #CC99FF;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_dl_b{background-color:#fff;border:1px solid #99CCCC;padding:5px;margin-bottom:5px;border-top:none;line-height:1.4;}
.category_top_t{border:#0066CC solid 1px;background-color:#fff;display:block;padding:.3em .3em;}
.category_top_t2{border-left:#0066CC solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_pc_t{border-top:#CC3333 solid 1px; background-color:#FFCCCC; display:block;padding:.3em .3em;}
.category_pc_t2{border-left:#CC3333 solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_anime_t{border-top:#FF9933 solid 1px; background-color:#FFCC99; display:block;padding:.3em .3em;}
.category_anime_t2{border-left:#FF9933 solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_music_t{border:#FFCC33 solid 1px; border-bottom:none;background-color:#FFFF99; display:block;padding:.3em .3em;}
.category_music_t2{border-left:#FFCC33 solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_goods_t,.category_adultgoods_t{border:#669900 solid 1px;border-bottom:none;background-color:#CCFF99; display:block;padding:.3em .3em;}
.category_goods_t2,.category_adultgoods_t{border-left:#669900 solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_books_t{border-top:#990099 solid 1px; background-color:#FFCCFF; display:block;padding:.3em .3em;}
.category_books_t2{border-left:#990099 solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_magazine_t{border-top:#000099 solid 1px; background-color:#9999FF; display:block;padding:.3em .3em;}
.category_magazine_t2{border-left:#000099 solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_boys_t{border-top:#AE63CA solid 1px; background-color:#CC99FF; display:block;padding:.3em .3em;}
.category_boys_t2{border-left:#AE63CA solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_doujin_t{border-top:#009999 solid 1px; background-color:#99CCCC; display:block;padding:.3em .3em;}
.category_doujin_t2{border-left:#009999 solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_dvdpg_t{border-top:#00AAFF solid 1px;background-color:#CCECFF;display:block;padding:.3em .3em;}
.category_dvdpg_t2{border-left:#00AAFF solid 6px;font-weight:bold;color:#494949;padding:.3em .3em .3em .8em;}
.category_dl_t{padding:3px;border:1px solid #EC8BB0;background-color:#EC8BB0;color:#fff;font-weight:bold;text-indent:3px;text-align:left;}

.menu_body{
background-color:#fff;border:1px solid #999999;padding:3px;margin-bottom:5px;border-top:none;
}

.re_img_effect img{width:100px;height:100px;}
.re_img_effect img:hover{border:1px solid red;}
.top_return{-moz-border-radius: 25px;-webkit-border-radius: 25px;border-radius: 25px;background-color:#EEEEEE;width:180px;border:1px solid #cccccc;padding:5px;margin:5px auto;text-align:center;}
.footer_guide{-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;background-color:#EEEEEE;width:820px;border:1px solid #cccccc;padding:5px;margin:5px auto;text-align:center;line-height:1.5;
}
.button_cart{
vertical-align:middle;border:1px solid #999999;width:125px;height:25px;font-weight:bold;color:#494949;background:transparent;padding:4px;
}

/*month_ranking*/
.srank_li ul{margin:0;padding:0;list-style: none; }
.srank_li li{margin:0;padding: 5px 0 5px 0;list-style: none;clear: both;list-style: none;float:left;border-bottom:1px dotted #CCC;width:100%;}
.srank_num{
float: left;
font-weight:bold;
font-size: 22px;
line-height: 24px;
min-height: 160px;
width:30px;
height:200px;
font-family: arial, sans-serif;
text-align:left;
}
.srank_img{
float: left;
vertical-align: top;
text-align:center;
width:130px;
height:200px;
}
.srank_txt{
float:left;
vertical-align: top;
padding: 0 0 0 5px;
width:520px;
height:200px;
line-height:1.5;
display:inline;
}
.srank_title{font-size:20px;font-weight:bold;font-family: 'meiryo','Hiragino Kaku Gothic Pro','MS PGothic',Verdana,Arial,sans-serif;}
.srank_comment{border:2px solid #EEE;padding:5px;line-height:1.5;margin-top:10px;}
.srank_num_s{
float: left;
font-weight:bold;
font-size: 22px;
line-height: 24px;
min-height: 100px;
width:30px;
height:100px;
font-family: arial, sans-serif;
text-align:center;
}
.srank_img_s{
float: left;
vertical-align: top;
text-align:center;
width:130px;
height:100px;
}
.srank_txt_s{
float:left;
vertical-align: top;
padding: 0 0 0 5px;
width:520px;
height:100px;
line-height:1.5;
display:inline;
}
.srank_title_s{font-size:15px;font-weight:bold;font-family: 'meiryo','Hiragino Kaku Gothic Pro','MS PGothic',Verdana,Arial,sans-serif;}
.srank_num_ss{
float: left;
font-weight:bold;
font-size: 16px;
line-height: 18px;
min-height: 60px;
width:30px;
height:60px;
font-family: arial, sans-serif;
text-align:center;
}
.srank_img_ss{
float: left;
vertical-align: top;
text-align:center;
width:130px;
height:100px;
}
.srank_txt_ss{
float:left;
vertical-align: top;
padding: 0 0 0 5px;
width:520px;
height:60px;
line-height:1.5;
display:inline;
}
.srank_title_ss{font-size:13px;font-weight:bold;font-family: 'meiryo','Hiragino Kaku Gothic Pro','MS PGothic',Verdana,Arial,sans-serif;}

#headsearch {
	position: relative;
	top:7px;
}
#headkeywords{
	width: 122px;
	height: 12px;
	background: #EEE;
	border: 0;
	padding: 2px;
	color: #222;
}
#headsearchBtn	{
	position: absolute;
	top: 0;
	_top: 1px;
	left: 126px;
	width:16px;height:16px;
	background: url(../common/images/headicon_search.png) no-repeat center top;
}
*:first-child + html #headsearchBtn	{
	top: 1px;
}

/*--search--*/
     .search_container {
      margin:0 0 0 5px;padding:0px;
      overflow:hidden;
      border:0px solid #999;
      }
.search_nav{
      background-color:#222222;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
margin:5px auto;
     }
.search_content{
border:1px solid #999;
padding-top:10px;
margin:0px;background:#fff;
}
/*     .search_container h2 a {
      font-size:12px;
      font-weight:bold;
	　　line-height:1;
     }*/
     ul.display {
      float:left;
      width:100%;
      margin:0; padding:0px;
      list-style:none;
      background:#fff;
     }
     ul.display li {
      float:left;
      width:100%;
      margin:0; padding:10px 0;
      border-top:1px solid #CCC;
      border-right:0px solid #999;
     }

     ul.display li .content_block {
      padding:0 5px;
      float:left;
     }
     ul.display li .content_block .package a img{
      background:#fff;
      float:left;
      margin-right:5px;
     }
     ul.display li .cart_block{
width:200px;text-align:center;line-height:1.35;
}

.relation{vertical-align:middle;margin-left:5px;padding-bottom:2px;}
.favorite{vertical-align:middle;margin-left:5px;padding-bottom:2px;}

.package{float:left;width:130px;}
.package2{float:left;}
.search_tab{cursor:pointer;}
/*--search--*/
.yyyy {font-size:11px;line-height:2;}
.yyyy select {font-size:11px;}
.sort select {font-size:11px;}
.flow{margin:5px;font-weight:bold;}
.flow span{letter-spacing:5pt;}
.genre_block{
width:178px;
background: white;
font-size:12px;
line-height:13px;
border-right:1px #999 solid;
border-left:1px #999 solid;
margin-bottom:2px;
}
.genre_block ul{
list-style-type: none;
margin: 0;
padding: 0;
}
.genre_block ul li{
border-bottom: 1px solid #9A9A9A;
}
.genre_block ul li a{
display: block;
color: #222;
text-decoration: none;
padding: 2px 0;
padding-left: 3px;
min-height:54px;
}
.genre_block ul li a:hover{
background: #cdeaff;
color: black;
}
   *.float
   {
     float: left;
     margin-right: 1em;
   }
   *.floatclear
   {
     clear: both;
   }
.genre_block ul li img{
margin: 1px 3px 1px 0px; width:50px; height:50px; border: 1px #999999 solid;
}
.search_genre_box{border-top:1px #999 solid;margin-top:5px;padding:5px 0;line-height:1.5;}
.search_genre_box2{border-top:1px #999 solid;margin-top:5px;padding:5px 0;line-height:1.5;}
.search_genre_box p{margin-bottom:5px;}
.search_genre_box2 p{margin-bottom:5px;}
/*demo page css*/
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

/*top.css-end*/

/*recommend.css*/
/*一般TOP */
.retitle-ntop {
width:98%;
padding: 2px 4px;
border-color:#12C;
border-style: solid;
text-align:left;
font-size: 110%;
font-weight:bold;
color:#12C;
border-width: 0 0 1px 5px;
margin: 2px 0px;
}
.re_ntop{
border-collapse: separate;
border-spacing: 1px;
}
.reitem_ntop{
width:20%;
height: 178px;
text-align: left;
vertical-align: top;
padding:3px;
}
/*アダルトTOP */
.retitle-atop {
width:98%;
padding: 2px 4px;
border-color:#12C;
border-style: solid;
text-align:left;
font-size: 110%;
color:#12C;
border-width: 0 0 1px 5px;
margin: 2px 0px;
font-weight:bold;
}
.re_atop{
border-collapse: separate;
border-spacing: 1px;
}
.reitem_atop{
width:23%;
height: 178px;
text-align: left;
vertical-align: top;
padding:3px;
}
/*ジャンルTOP */
.retitle-gtop{
padding: 2px 4px;
border-style: solid;
border-color: #12C;
text-align:left;
font-size: 110%;
font-weight:bold;
color:#12C;
border-width: 0 0 1px 5px;
margin: 2px 0px;
}
.re_gtop{
border-collapse: separate;
border-spacing: 1px;
}
.reitem_gtop{
width:19%;
height: 178px;
text-align: left;
vertical-align: top;
padding:3px;
}


/*画像透過処理 */
.re_img_effect img{
margin-bottom:2px;
}

/*jquery/css/custom-theme/jquery-ui-1.8.18.custom.css*/
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; text-decoration: none; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }
/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Component containers
----------------------------------*/
.ui-widget {  }
.ui-widget .ui-widget {  }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(../jquery/css/custom-theme/images/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x; color: #222222; }
.ui-widget-content a {  }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(../jquery/css/custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: normal; }
.ui-widget-header a { color: #222222; }
/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #999; background: #EEE url(../jquery/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #222; background: #ffff99 url(../jquery/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(../jquery/css/custom-theme/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }
/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1; background: #fbf9ee url(../jquery/css/custom-theme/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(../jquery/css/custom-theme/images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
/* Icons
----------------------------------*/
/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../jquery/css/custom-theme/images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../jquery/css/custom-theme/images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../jquery/css/custom-theme/images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../jquery/css/custom-theme/images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../jquery/css/custom-theme/images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../jquery/css/custom-theme/images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../jquery/css/custom-theme/images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../jquery/css/custom-theme/images/ui-icons_cd0a0a_256x240.png); }
/* positioning */
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(../jquery/css/custom-theme/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(../jquery/css/custom-theme/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: hidden; *overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }
/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;font-weight:bold;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 3px 5px 3px 20px;}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: 3px 20px 3px 5px;}
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }
/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }
/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
.ui-tabs { position: relative; padding: .2em; zoom: 1; margin-bottom:3px;} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 1px 1px 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .1em 0 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 10px; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 3px 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


/* novelty_image*/
.charanum{
padding: 5px 20px; margin:5px;
}

.charanum ul{
margin: 0;
padding: 0;
text-align: center; /*Set to "right" to right align charanum interface*/
font-size: 14px;
}

.charanum li{
list-style-type: none;
display: inline;
padding: 5px;
}

.charanum a, .charanum a:visited{
padding: 4px 8px;
border: 1px solid #9aafe5;
text-decoration: none;
color:#2e6ab1;
font-weight:bold;
}

.charanum a:hover, .charanum a:active{
border: 1px solid #2b66a5;
text-decoration: none;
color:#000;
background-color:#FFFF80;
font-weight:bold;
}

.charanum a.disablelink, .charanum a.disablelink:hover{
background-color:white;
cursor: default;
color:#929292;
border-color:#929292;
font-weight:bold;
padding: 5px
}

.charavisited{
background-color:#000099;
color:#FFFFFF;
border: 1px solid #9aafe5;
text-decoration: none;
font-weight:bold;
padding: 5px
}


.openmenu,.closedmenu{ cursor: pointer; }


.heart{
	width: 13px;height:13px;color:#fff;
	background: url(http://www.getchu.com/common/images/font_heart.gif) no-repeat center center;
}
.heart2{
	width: 17px;height:17px;color:#fff;
	background: url(http://www.getchu.com/common/images/font_heart2.gif) no-repeat center center;
}

.header_search_button{width:30px;height:26px;line-height:1.4;
-moz-border-radius: 0 4px 4px 0;
-webkit-border-radius: 0 4px 4px 0;
-khtml-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}


/*--------------------------------------------
　◆WN構成用CSS
---------------------------------------------*/
.list-whatsnew ul li:last-child{
	border-bottom: none;
}
.icon{
	margin: 2px 2px 2px 0;
	vertical-align:-4px;
}
.wn_pickimg_l,
.wn_pickimg_m,
.wn_pickimg_s{ /* 左端画像 */
	float:left;
	margin-right: 5px;
	margin-bottom: 5px;
/*
	width:150px;
	height:100px;
*/
	width:100px;
	height:65px;
	border: 1px #999 solid;
}
.wn_endline{
	padding:0 5px;
	background-color:#999;
	border: 0;
	height: 1px;
}
/*---------------------
大記事設定
---------------------*/
li.wn_l {
	list-style-type: none;
	padding: 5px 0;
	margin: 2px 5px;
	line-height:1.4;
	border-bottom: 1px dotted #9A9A9A;
	font-size:16px;
	font-weight:bold;
	color:#555;
	clear:left;
}
.wn_img_l{ /* {imgID} */
	width:48px;
	height:48px;
	margin:2px 5px;
	border: 1px #999 solid;
	float:left;
}
.wn_img2_l{ /* {@img} */
	margin-right:5px;
	margin-bottom:5px;
	float:left;
}
.wn_txt_l{
	font-size:13px;
	color:#333;
	font-weight:normal;
	margin-top:5px;
}

/*---------------------
中・小記事設定
---------------------*/
.wn_m{
	list-style-type: none;
	padding: 1px 0;
	margin: 2px 5px;
	line-height:1.6;
	border-bottom: 1px dotted #9A9A9A;
	font-size:14px;
	font-weight:bold;
	color:#555;
	clear:left;
}
.wn_s{
	list-style-type: none;
	padding: 1px 0;
	margin: 2px 5px;
	line-height:1.6;
	border-bottom: 1px dotted #9A9A9A;
	font-size:12px;
	clear:left;
}
.wn_txt_m{ /* 詳細コメント */
	font-size:12px;
	font-weight:normal;
}
.wn_img_m,
.wn_img_s{ /* {imgID} */
	width:50px;
	height:50px;
	margin:2px 5px 2px 0;
	border: 1px #999 solid;
	float:left;
}
.wn_img2_m,
.wn_img2_s{ /* {@img} */
	margin-right:5px;
	margin-bottom:5px;
	border: 1px #999 solid;
	float:left;
}
.wn_img2_m:hover {
	border:1px solid red;
	text-decoration:none;
}

.taxin {
font-size: 11px;
font-weight: normal;
}

.taxin10 {
font-size: 10px;
font-weight: normal;
text-indent:15px;
}

.taxin10_2 {
font-size: 10px;
font-weight: normal;
text-indent:38px;
}

.taxin10_3 {
font-size: 10px;
font-weight: normal;
margin-left:105px;
text-indent:38px;
}

.taxin10_4 {
font-size: 10px;
font-weight: normal;
margin-left:105px;
text-indent:15px;
}

#search_container {
width: 100%;
margin: 0 auto;
}
#search_containerInner {
width: 100%;
height: 25px;
padding: 3px;
}

#search_nav {
float: left;
width: 135px;
margin-right: -135px;
position: relative;
z-index: 2;
}

#search_content {
float: left;
width: 100%;
margin-right: -526px;
position: relative;
z-index: 1;
}
#search_contentInner {
display:block;
margin-left: 135px;
margin-right: 535px;
}

#search_aside {
float: left;
width: 524px;
position: relative;
z-index: 3;
}

.search_text {
width:100%;
}
h1.getchu-header,
h2.getchu-header,
h3.getchu-header,
h4.getchu-header{
  padding: 2px 4px;
  border-color: #FF2994;
  border-style: solid;
  text-align: left;
  border-width: 0 0 1px 5px;
}