/*reset*/
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, textarea, select, th, td { padding: 0; margin: 0; }
body { font: 12px/1.5 simsun; color: #333; background:#fff; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ol, ul { list-style: none; }
b, i, cite { font-weight: normal; font-style: normal; }
img, iframe { border: none; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, buttun { font: inherit; outline: none; -webkit-appearance: none; }
a { text-decoration: none; color: #333; transition: color 0.25s; }
a:hover { text-decoration: underline; color: #f60 !important; }
.clearfix { *zoom: 1;
}
.clearfix:after { display: block; overflow: hidden; clear: both; height: 0; visibility: hidden; content: '.'; }
.wrap { width: 1000px; margin: 0 auto; }
.f60, .orange { color: #f60; }
/*top*/
.top { line-height: 30px; height: 30px; background: #EDF4F4; position: relative; z-index: 2; }
.top a { color: #666; }
.top-nav { float: left; overflow: hidden; _width:400px; _position:relative; }
.top-nav ul { margin: 0 0 0 -10px; }
.top-nav li { float: left; background: url(../images/img.png) 0px 0px no-repeat; }
.top-nav li a { display: block; padding: 0 12px; }
.top-drop { float: left; position: relative; _width:68px;}
.top-drop dt { background: url(../images/img.png) 0px 0px no-repeat; }
.top-drop dt a { display: block; padding: 0 20px 0 12px; }
.top-drop dt i { position: absolute; width: 9px; height: 9px; background: url(../images/img.png) 0px -65px no-repeat; right: 6px; top: 11px; transition: transform 0.2s ease-in; }
.top-drop dd { position: absolute; left: 0; top: 29px; border: #D0DCE4 1px solid; width: 96px; background: #FFF; display: none; }
.top-drop dd a { display: block; padding: 0 6px 0 12px; }
.top-drop dd a:hover { color: #666 !important; text-decoration: none; background: #E3EFF0; }
.top-drop-hover dt { position: relative; z-index: 1; }
.top-drop-hover dt a { background: #fff; padding: 0 19px 0 11px; border: #D0DCE4 1px solid; border-width: 0 1px; }
.top-drop-hover dt i { background-position: -41px -65px\9; transform: rotate(180deg); transform-origin: 50% 50%; }
.top-drop-hover dd { display: block; }
.top-login { float: right; margin: 0 -10px 0 0; }
.top-login a { padding: 0 10px; }
.topbar { overflow: hidden; }
.new_nav { margin-right: 0; padding-right: 5px; padding-left: 5px; }
.new_navlogin { float: right; }
.new_navlogin .n_userinfo { float: left; }
.new_navlogin ul, .new_navlogin li { float: none; }
.new_navlogin .n_userinfo em { padding: 0 20px 0 6px; cursor: pointer; height: 30px; border-left: solid 1px #EDF4F4; border-right: solid 1px #EDF4F4; position: relative; z-index: 920; font-style: normal; font-size: 12px; font-family: Verdana; display: block; _width: 67px; overflow: hidden; }
.new_navlogin .n_userinfo em i { position: absolute; width: 9px; height: 9px; background: url(../images/img.png) 0px -65px no-repeat; right: 6px; top: 11px; transition: transform 0.2s ease-in; }
.new_navlogin .n_userinfo em a { color: #666; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 67px; _width: 67px; text-align: right; font-family: Verdana; }
.new_navlogin .n_userinfo em a:hover { color: #2e97a8; text-decoration: none; }
.new_navlogin .UIbox { display: none; position: absolute; right: 50%; margin-right: -433px; top: 29px; z-index: 910; }
.new_navlogin .UIbox .ulist { display: block; overflow: hidden; zoom: 1; width: 93px; background: #fff; border: #D0DCE4 1px solid; }
.new_navlogin .UIbox .ulist ul li { float: left; width:100%; }
.new_navlogin .UIbox .ulist ul li.nobline { }
.new_navlogin .UIbox .ulist ul li a { display: block; padding: 0 0 0 20px; }
.new_navlogin .UIbox .ulist ul li a:hover { color: #666 !important; text-decoration: none; background: #E3EFF0; }
.new_navlogin .UIbox i { display: none; }
.new_navlogin #userinfo_box.h em { background-color: #fff; color: #2e97a8; border-left: solid 1px #D0DCE4; border-right: solid 1px #D0DCE4; }
.new_navlogin #userinfo_box.h em a { color: #2e97a8; }
.new_navlogin #userinfo_box.h em i { background-position: -41px -65px\9; transform: rotate(180deg); transform-origin: 50% 50%; }
.new_navlogin .n_message { float: left; font-family: Verdana; font-size: 12px; width: 64px; text-align: center; padding-left: 3px; }
.new_navlogin .n_message em { display: block; color: #666; cursor: pointer; height: 30px; overflow: hidden; zoom: 1; display: block; width: 62px; border-left: solid 1px #EDF4F4; border-right: solid 1px #EDF4F4; font-style: normal; position: relative; z-index: 931; }
.new_navlogin .n_message em i { color: #f60; font-size: 12px; font-style: normal; margin-left: 5px; }
.new_navlogin .n_message em a { color: #666; text-decoration: none; }
.new_navlogin .n_message em a:hover { color: #666; text-decoration: none; }
.new_navlogin .n_message.h em { color: #2e97a8; text-decoration: none; border-left: solid 1px #D0DCE4; border-right: solid 1px #D0DCE4; background-color: #fff; color: #2e97a8; text-decoration: none; }
.new_navlogin .n_message.h em a, .new_navlogin .n_message.h em a:hover { color: #2e97a8; text-decoration: none; }
.new_navlogin .n_message .message_wrap { display: none; position: absolute; right: 50%; top: 29px; font-size: 12px; width: 274px; z-index: 5; margin: 0 -508px 0 0; }
.new_navlogin .n_message.h .message_wrap { z-index: 930; }
.new_navlogin .n_message .message_wrap .message_bg { display: block; overflow: hidden; zoom: 1; background: #fff; width: 264px; float: left; border: solid 1px #D0DCE4; }
.new_navlogin .n_message .message_wrap .message_bbg { display: block; background: none; width: 264px; height: 10px; line-height: 10px; font-size: 0; overflow: hidden; zoom: 1; display: none; }
.new_navlogin .message_box { display: block; width: 264px; margin: 0 auto; overflow: hidden; color: #333; font-family: Verdana; line-height: normal; background: #fff; text-align: left; border: none; }
.new_navlogin .message_box span { margin: 0; padding: 0; }
.new_navlogin .message_box span a { padding: 0; }
.new_navlogin .message_box .message_tabs { padding-left: 20px; background: url(http://image.39.net/art2013/images/channel/message_tabs_bg2.png) repeat-x bottom; height: 46px; margin: 0; }
.new_navlogin .message_box .message_tabs dd { float: left; width: 76px; text-align: center; height: 46px; line-height: 46px; font-size: 12px; overflow: hidden; cursor: pointer; padding: 0; margin: 0; }
.new_navlogin .message_box .message_tabs dd i { display: inline-block; padding: 0 10px; font-style: normal; margin: 0; }
.new_navlogin .message_box .message_tabs dd i.new { background: url(http://image.39.net/art2013/images/channel/message_tips_ico.png) no-repeat right 13px; }
.new_navlogin .message_box .message_tabs dd.on { background: url(http://image.39.net/art2013/images/channel/message_tips_role.png) no-repeat center bottom; color: #2e97a8; }
.new_navlogin .message_box .message_data { clear: both; line-height: normal; height: auto; display: none; }
.new_navlogin .message_box .message_data .message_data_list li { vertical-align: bottom; overflow: hidden; zoom: 1; background: url(http://image.39.net/art2013/images/channel/message_tips_linebg.png) repeat-x left bottom; padding: 12px 15px 15px 15px; }
.new_navlogin .message_box .message_data .message_data_list li.h { background-color: #f9fffe; }
.new_navlogin .message_box .message_data .message_data_list li img { float: left; width: 30px; height: 30px; border: solid 1px #eaeaea; margin-top: 5px; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r { float: right; width: 190px; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r strong { display: block; line-height: 24px; color: #666; font-size: 14px; font-weight: bold; text-align: left; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r strong a { color: #666; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r strong a:hover { color: #f60; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r p { line-height: 22px; color: #999; overflow: hidden; zoom: 1; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r p a { color: #2e97a8; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r p a:hover { color: #f60; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r p .mbtn { float: left; background: url(http://image.39.net/art2013/images/channel/message_tips_btn.png) no-repeat 0 0; width: 80px; height: 23px; line-height: 23px; text-align: center; overflow: hidden; font-size: 12px; margin: 8px 7px 0 0; color: #666; }
.new_navlogin .message_box .message_data .message_data_list li .dlist_r p .mbtn:hover { background-position: -87px 0; color: #666!important; text-decoration: none; }
.new_navlogin .message_box .message_data .message_data_bot { display: block; line-height: 26px; padding: 8px 30px 8px 60px; overflow: hidden; zoom: 1; font-weight: bold; }
.new_navlogin .message_box .message_data .message_data_bot i { color: #f60; font-style: normal; }
.new_navlogin .message_box .message_data .message_data_bot a { float: left; color: #666; }
.new_navlogin .message_box .message_data .message_data_bot a:hover { color: #f60; }
.new_navlogin .message_box .message_data .message_data_bot .message_set { float: right; background: url(http://image.39.net/art2013/images/channel/message_tips_set.png) no-repeat 0 0; width: 16px; height: 16px; line-height: 16px; overflow: hidden; font-size: 1px; text-indent: -100em; margin-top: 6px; }
.new_navlogin .message_box .message_data .message_data_bot .message_set:hover { background-position: 0 -21px; }
.new_navlogin .message_box .message_data .message_data_none { display: block; background: url(http://image.39.net/art2013/images/channel/message_tips_linebg.png) repeat-x bottom; padding-bottom: 20px; }
.new_navlogin .message_box .message_data .message_data_none p { background: url(http://image.39.net/art2013/images/channel/message_none_icon2.png) no-repeat center bottom; font-family: "Microsoft YaHei"; font-size: 20px; text-align: center; padding: 20px 10px 60px 10px; color: #666; }

/*
.fas{background:#138a62 url(http://image.39.net/index/images/festival/qm.jpg) center 0 no-repeat;}
.fas .fas_main{background:#fff; width:1000px; padding:0 5px; margin:0 auto;}
.fas_main{background:#fff; width:1000px; padding:0 5px; margin:0 auto;}
.fas .fas_main{background:#fff url(http://image.39.net/index/images/festival/spring_logo.jpg) 0 -30px no-repeat; width:1000px; padding:0 5px; margin:0 auto;}
.fas .top{ width:1000px; padding:0 5px; margin:0 auto;}
.fas .logo{margin: 0 25px 0 54px; }
.fas .logo img{ visibility:hidden;}
.fas .search .text{ width: 100px;}
.fas_btn{display:block; position: absolute; left:50%; margin:0 0 0 505px; top:300px; width:16px; text-align:center; line-height:13px; color:#fff; background:#127f5a; border-radius:2px; padding:3px 0;  }
.fas_btn:hover{ color:#fff !important; text-decoration: none; background:#127f5a;}
*/
/*fas end*/
/*head*/
.head { padding: 13px 0 0 1px; position: relative; z-index: 1; }
.logo { float: left; display: inline; margin: 0 30px 0 0; }
.logo a{ display:block;}
.logo img { width: 158px; height: 45px; }
.search { float: left; padding: 6px 0 0; position: relative; }
.search .opt { float: left; line-height: 28px; font-weight: bold; color: #999; width: 52px; border: #BBBBBB 1px solid; border-width: 1px 0 1px 1px; border-radius: 2px 0 0 2px; text-indent: 8px; background: url(../images/img.png) 38px -107px no-repeat; cursor: pointer; }
.search .text { background: none; border: #BBBBBB 1px solid; border-width: 1px 0; float: left; width: 186px; height: 14px; line-height: 14px; color: #999; padding: 7px 8px; }
.search .focus { color: #666; }
.search .sub { float: left; width: 55px; height: 30px; border: none; border-radius: 0 2px 2px 0; font-family: microsoft yahei; font-size: 14px; padding: 0 0 2px; background: #6FA936; color: #fff; cursor: pointer; }
.search .sub:hover { background: #78B63C; }
.search-ask { float: left; display: inline; width: 56px; line-height: 30px; margin: 0 0 0 5px; border-radius: 2px; font-family: microsoft yahei; font-size: 14px; background: #488AD8; color: #fff; text-align: center; }
.search-ask:hover { background: #6BA0DE; color: #fff !important; text-decoration: none; }
.search .opt-list { position: absolute; top: 36px; left: 0; border: #BBBBBB 1px solid; border-width: 0 1px 1px; width: 51px; display: none; background: #fff; }
.search .opt-list li { line-height: 30px; text-indent: 8px; color: #666; cursor: pointer; }
.search .opt-list li:hover, .search .opt-list .now { font-weight: bold; background: #E3EFF0; }
.search .opt-list-show { }
.ad-keys { float: right; padding: 1px; overflow: hidden; }
.ad-keys-list { width: 464px; margin: 0 -10px 0 0; line-height: 20px; }
.ad-keys-list li { float: left; width: 58px; }
.ad-keys-list li a { color: #666; }
.ad-keys-list .w2 { width: 70px; }
.ad-keys-list .w1 { width: 46px; }
/*nav*/
.nav { margin: 9px 0 0; background: #0096A5; border-radius: 2px; padding: 3px 0 3px 8px; }
.nav ul { float: left; padding: 0 6px; background: url(../images/img.png) 0px -172px no-repeat; }
.nav ul li { float: left; line-height: 2; white-space: nowrap;}
.nav ul li a { color: #fff; padding: 0 6px; }
.nav ul li a:hover { color: #ffcc00 !important; text-decoration: none; }
.nav .people { width: 72px; background: none; }
.nav .disease { width: 243px; }
.nav .drug { width: 144px; }
.nav .living { width: 144px; }
.nav .news { width: 180px; }
.nav .community { width: 132px; }
.nav-lab-wrap { position: relative; height:63px; }
.nav-lab a { color: #333; }
.nav-lab a:hover { color: #f60; }
.nav-lab { height: 63px; }
.nav-lab li { padding: 0 0px; float: left;}
.nav-lab li a { float: left; padding: 36px 11px 0 11px; background: url(../images/icon_lab.png) no-repeat; }
.nav-lab .i1 { background-position: 6px 3px; padding: 36px 8px 0 2px; }
.nav-lab .i2 { background-position: -30px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i3 { background-position: -78px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i4 { background-position: -231px 3px; padding: 36px 9px 0 7px; }
.nav-lab .i5 { background-position: -169px 3px; padding: 36px 6px 0 6px; }
.nav-lab .i6 { background-position: -321px 3px; padding: 36px 7px 0 9px; }
.nav-lab .i7 { background-position: -384px 3px; padding: 36px 8px 0 6px; }
.nav-lab .i8 { background-position: 5px -335px; }
.nav-lab .i9 { background-position: -448px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i10 { background-position: -503px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i11 { background-position: -719px 3px; padding: 36px 10px 0 9px; }
.nav-lab .i12 { background-position: -760px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i13 { background-position: -813px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i14 { background-position: -856px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i15 { background-position: -962px 3px; padding: 36px 0px 0 6px; height: 27px; }
.nav-lab .i15 span { background: url(http://image.39.net/images/icon_ks.gif) no-repeat -7px -765px; }
.nav-lab .i16 { background-position: -120px 3px; padding: 36px 7px 0 9px; }
.nav-lab .i17 { background-position: -555px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i18 { background-position: 7px -900px; }
.nav-lab .i19 { background-position: -664px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i20 { background-position: -610px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i21 { background-position: 5px -1066px; }
.nav-lab .i22 { background-position: 0 -1120px; padding: 35px 6px 0 8px; }
.nav-lab .i23 { background-position: -909px 3px; padding: 36px 9px 0 9px; }
.nav-lab .i80 { background-position: -280px 3px; padding: 36px 10px 0 8px; }
.nav-lab-box { position: relative; z-index: 10000; }
.nav-lab-box a { color: #333; }
.nav-lab-box a:hover { color: #f60; }
.nav-lab-box { position: absolute; display: none; width: 450px; top: 63px; right: 0; background: #fff; }
.nav-lab-box .title { padding: 0 10px 0 17px; line-height: 26px; background: #8DC96B; color: #fff; }
.nav-lab-box .title .t1 { margin: 0 10px 0 0; font-weight: bold; }
.nav-lab-box .title .t2 { }
.nav-lab-box .title .t3 { float: right; cursor: pointer; color: #C9E6B8; font-weight: bold; font-size: 18px; }
.nav-lab-box ul { padding: 12px 0 6px 16px; border: #D0E4E6 1px solid; border-width: 0 1px 1px; }
.nav-lab-box li { width: 68px; height: 25px; color: #999; float: left; }
.nav-lab-box li a, .nav-lab-box li span { padding: 0 0 0 12px; background: url(../images/img.png) 0px -268px no-repeat; }
/*hotlink*/

.hotlink { padding: 10px 0; width: 100%; overflow: hidden; }
.hotlink .tips { margin: 0 0 0 10px; padding: 0 0 0 10px; float: left; display: inline; }
.hotlink .tips span { font-weight: bold; color: #333; }
.hotlink .qqzx { float: right; display: inline; }
.hotlink .qqzx a { padding: 0 0 0 20px; margin: 0 0 0 16px; background: url(../images/img.png) 0 -366px no-repeat; display: inline-block; vertical-align: top; color: #666; }
.hotlink .key { margin: 0 0 0 -12px; display: inline; float: left; }
.hotlink .key a { padding: 0 8px 0 12px; background: url(../images/img.png) 0 -317px no-repeat; }
/*main*/
.section { }
.section .left { float: left; width: 300px; }
.section .mid { float: left; width: 430px; display: inline; margin: 0 20px; }
.section .right { float: left; width: 230px; }
.focus { }
.focus dl { height: 225px; position: relative; }
.focus dl dt { }
.focus dl dt img { height: 225px; width: 300px; }
.focus dl dd { position: absolute; left: 0; bottom: 0; width: 100%; background:url(../images/cover.png);
}
.focus dl dd a { display: block; margin: 0 4px; text-align: center; color: #fff; font: 16px/36px microsoft yahei; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.focus dl dd a:hover { text-decoration: none; color: #ffdb35 !important }
.focusPage { height: 26px; font: 12px/25px verdana; }
.focusPage li { float: left; display: inline; width: 49px; background: #fff; cursor: pointer; text-align: center; border: #DDE8E9 1px solid; border-width: 0 1px 1px 0; }
.focusPage .first { border-width: 0 1px 1px 1px; width: 48px; }
.focusPage .now { background-color: #0096A5; border-color: #0096A5; color: #fff; cursor: default; }
.data-box { margin: 20px 0 0; border: #D0E4E6 1px solid; }
.data-box .tab { border: #D0E4E6 1px solid; border-width: 0 1px; float: left; width: 85px; font: 12px/38px microsoft yahei; }
.data-box .tab li { background: #F5F8F8; border-top: #E9F3F4 1px solid; height: 38px; position: relative; float: left; width: 100%;}
.data-box .tab li a { display: block; text-indent: 29px; background-image: url(../images/icon_data.png); background-repeat: no-repeat; }
.data-box .tab .on { }
.data-box .tab .on i { position: absolute; width: 2px; height: 100%; background: #0096A5; z-index: 1; padding: 1px 0; left: -2px; top: -1px; }
.data-box .tab .on a { background-color: #fff; width: 100%; padding: 0 1px 0 0; border: #D0E4E6 1px solid; border-width: 1px 0; position: relative; z-index: 1; top: -1px; }
.data-box .tab li .db1 { background-position: 0 11px; }
.data-box .tab li .db2 { background-position: 0 -28px; }
.data-box .tab li .db3 { background-position: 0 -65px; }
.data-box .tab li .db4 { background-position: 0 -105px; }
.data-box .tab li .db5 { background-position: 0 -145px; }
.data-box .tab li .db6 { background-position: 0 -165px; }
.data-box .tab li .db7 { background-position: 0 -223px; }
.data-box .tab li .db8 { background-position: 0 -262px; }
.data-box .tab li .db9 { background-position: 0 -183px; }
.data-box .con { float: left; width: 211px; _width: 208px; height: 311px; overflow: hidden; }
.data-box .item { }
.data-box .con ul { padding: 12px 0 0 15px; color: #56BAC4; }
.data-box .con ul { *zoom: 1;
}
.data-box .con ul:after { display: block; overflow: hidden; clear: both; height: 0; visibility: hidden; content: '.'; }
.data-box .con li { float: left; line-height: 26px; width: 64px; }
.data-box .con .zzk { padding: 6px 0 0 15px; }
.data-box .con .zzk li { }
.data-box .con .ypk { }
.data-box .con .ypk li { width: 96px; }
.data-box .con .yyk1, .data-box .con .yyk2 { padding-top: 2px; }
.data-box .con .yyk li { width: 86px; }
.data-box .con .yyk2 li { width: 43px; }
.data-box .con .ysk { }
.kwbox { height: 67px; overflow: hidden; border: #D0E4E6 1px solid; border-width: 0 1px 1px; }
.kwbox ul { margin: 9px 0 0 18px; }
.kwbox li { float: left; line-height: 2; width: 78px; }
.kwbox li a { color: #666; }
.data-box2 { margin: 20px 0 0; }
.data-box2 .block-tabs { margin: 0px 0 0 0px; }
.data-box2 .block-tabs .tabs-tit { background: url(../images/fix_tab.gif) 0 0 no-repeat; }
.data-box2 .block-tabs .tabs-con { width: auto; margin: 0; border: #D0E4E6 1px solid; border-width: 0 1px 1px; height: 276px; }
.data-box2 .testbox { padding: 21px 0 0 11px; }
.data-box2 .testbox .test1, .testbox .test2, .testbox .test3, .testbox .test4 { float: left; width: 90px; height: 44px; padding: 0 0 0 50px; margin: 0 0 21px; display: inline; line-height: 22px; background: url(../images/icon_test.gif) no-repeat; }
.data-box2 .testbox .gray { color: #999; }
.data-box2 .testbox a:hover .gray { color: #f60; }
.data-box2 .testbox .test1 { background-position: 0 0; }
.data-box2 .testbox .test2 { background-position: 0 -65px; }
.data-box2 .testbox .test3 { background-position: -141px 0; }
.data-box2 .testbox .test4 { background-position: -141px -65px; }
.data-box2 .testbox .test { padding: 5px 0 0 5px; clear: both; }
.data-box2 .testbox .test li { width: 120px; padding: 0 8px 0 12px; background: url(../images/img.png) 0 -311px no-repeat; margin: 0; }
.data-box2 .dtopten { padding: 7px 0 0 15px; background: url(../images/bg_ten.gif) no-repeat 7px 12px; }
.data-box2 .dtopten li { padding: 0 0 0 18px; color: #56BAC4; margin: 0 !important; }
.data-box2 .dtopten li .a1 { float: left; width: 57px; }
.data-box2 .dtopten li .a2 { float: left; width: 69px; }
.data-box2 .dtopten li .a3 { float: left; width: 69px; }
.data-box2 .dtopten li .a4 { float: left; width: 69px; }
.single-box { margin: 20px 0 0; border: #D0E4E6 1px solid; }
.single-box .tit { font: 14px/33px microsoft yahei; color: #0096a5; padding: 0 12px 0 14px; background: #F8FBFB; }
.single-box .tit a { color: #0096a5;}
.single-box .tit .tit-more { float: right; font-family: simsun; font-size: 12px; color: #666; }
.apps { height: 85px; width:100%; overflow:hidden; }
.apps ul{ width:9999px;}
.apps li { float: left; width: 74px; text-align: center; }
.apps li a { display: block; padding: 57px 0 0; background: url(../images/icon_app.gif) 0 0 no-repeat; }
.apps li .app-ask { background-position: 15px 9px; }
.apps li .app-yyk { background-position: -60px 10px; }
.apps li .app-ypk { background-position: -135px 9px; }
.apps li .app-m { background-position: -208px 9px; }
.apps li .app-39{ background-position: -282px 9px; }
#homeheadlines {height:542px; overflow:hidden;}
.newsbox .tabs-tit { overflow: hidden; zoom: 1; height: 35px; background: #f6f9f9 url(../images/tit_linebg.png) repeat-x left bottom; }
.newsbox .tabs-tit span { float: left; }
.newsbox .tabs-tit span a { float: left; width: 107px; height: 35px; line-height: 35px; overflow: hidden; text-align: center; font-family: "Microsoft YaHei"; font-size: 16px; color: #666; }
.newsbox .tabs-tit span.on { border-top: solid 2px #0096a5; }
.newsbox .tabs-tit span.on a, .newsbox .tabs-tit span.on a:hover { height: 33px; line-height: 33px; border: solid 1px #dbe8e9; border-width: 0 1px; background-color: #fff; font-size: 18px; color: #0096a5 !important; text-decoration: none; }
.newsbox .tabs-tit span .bg_order { background: url(../images/img.png) 86px -406px no-repeat; padding: 0 10px 0 0; width: 97px; }
.newsbox .tabs-tit span.on .bg_order { background: #fff url(../images/img.png) 87px -408px no-repeat; }
.toptitle { display: block; padding: 15px 0 0; }
.toptitle strong { display: block; font: 20px/1.5 microsoft yahei; text-align: center; height: 30px; overflow: hidden; }
.toptitle .tt1, .toptitle .tt2 { color: #f60; }
.toptitle span { display: block; text-align: center; height: 18px; color: #666; padding: 7px 0 0; }
.toptitle .clear { height: 0px; display: block; overflow: hidden; }
.toptitle span a { color: #666; }
.toptitle span a:hover { color: #f60; }
.newslist, .sdlist { padding: 13px 0 0; }
.newslist li, .sdlist li { line-height: 2; font-size: 14px; padding: 0 0 0 11px; background: url(../images/img.png) 0 -310px no-repeat; height: 28px; overflow: hidden; }
.newslist li img, .sdlist li img { vertical-align: middle; _margin: 7px 0 }
.newslist { }
.newslist li a {  display: inline-block; vertical-align: top;}
.newslist li span { display: inline-block; vertical-align: top; margin: 0 0 0 11px; padding: 0 0 0 12px; background: url(../images/img.png) 0 -711px no-repeat; }
.newslist li span .icon-pic { padding: 0 0 0 20px; background: url(../images/img.png) 0 -913px no-repeat; }
.newslist li span .icon-video { padding: 0 0 0 23px; background: url(../images/img.png) 0 -861px no-repeat; }
.newslist-v li { background: none; padding: 0; }
.newslist-v li span { padding: 0; margin: 0; background: none; }
.newslist-v li span a { margin: 0 10px 0 0; }
.sd_pic_wrap { width: 100%; overflow: hidden; }
.sd_pic_box { width: 500px; margin-top: -12px; }
.sd_pic_wrap2 .sd_pic_box { margin-top: -9px; }
.sd_pic { float: left; width: 120px; margin: 30px 35px 0 0; display: inline; text-align: center; position: relative; }
.sd_pic img { width: 120px; height: 90px; }
.sd_pic .a { position: absolute; left: 0; top: 70px; width: 100%; text-align: center;  background:url(../images/cover.png);
line-height: 20px; height: 20px; overflow: hidden; color: #fff; }
.sd_pic .a:hover { color: #ffcc00 !important; }
.sd_pic .b { height: 18px; overflow: hidden; display: block; padding: 10px 0 0; }
.yyk_inner { padding: 15px 0 0; }
.m_yyk_tit { height: 24px; line-height: 24px;position: relative; }
.m_yyk_tit a { color: #999999; }
.m_yyk_tit a:hover { color: #f60; }
.m_yyk_tit .m_yyk_logo { float: left; display: inline; font: 16px/24px microsoft yahei; color: #2089a8; padding: 0 0 0 27px; background: #fff url(../images/img.png) 0 -961px no-repeat; }
.m_yyk_tit .yyk-qcode{
    position: absolute;
    right: 0;
    top: -2px;
    height: 29px;
    width: 89px;
    background: #fff url(../images/yyk-tab-qcode.gif) 0 0 no-repeat;
    z-index: 5;
}
.m_yyk_tit .yyk-qcode:hover{
    height: 116px;
    background-position: 0 -29px;
}
.m_yyk_tit .quick_reg { float: left; display: inline; margin: 15px 0 0 10px; }
.m_yyk_more { float: right; display: inline; margin: 0px 18px 0 0; }
.m_yyk_tit .m_yyk_more { margin-top: 15px; }
.m_yyk_ref_tit { padding-bottom: 10px; }
.m_yyk_ref_tit strong { font-size: 14px; display: inline-block; margin: 13px 0 0 17px; }
.m_yyk_ref_tit .m_yyk_more { margin-top: 13px; color: #999999; }
cite, em { font-style: normal; }
.m_yyk_ref { padding-bottom: 20px; border-top: 1px dashed #dbe7e7; }
.m_yyk_ref_ys, .m_yyk_ref_ys dt, .m_yyk_ref_ys dd, .m_yyk_mid dl, .m_yyk_mid dt, .m_yyk_mid dd { /* margin: 0; */ /* padding: 0; */ }
.m_yyk_ref_ys { overflow: hidden; zoom: 1; padding-left: 17px; float: left; display: inline; width: 208px; border-right: 1px solid #dbe7e7; }
.m_yyk_ref_ys dt { float: left; display: inline; width: 70px; height: 87px; margin: 5px 11px 0 0; }
.m_yyk_ref_ys dt img { width: 70px; height: 87px; }
.m_yyk_ref_ys dd { line-height: 24px; color: #333333; white-space: nowrap; width: 120px; overflow: hidden; }
.m_yyk_ref_ys dd b { font-size: 14px; margin-right: 18px; }
.m_yyk_ref_ksbz { float: right; width: 180px; padding-left: 16px; padding-right: 10px; }
.m_yyk_ref_ksbz li { line-height: 24px; width: 162px; white-space: nowrap; overflow: hidden; }
.m_yyk_ref_ksbz li cite { color: #666666; }
.m_yyk_ref_ksbz li a { margin: 0 10px 0 0; }
.m_yyk_bot { border-top: 1px dashed #dbe7e7; background: #f7fafa; padding: 10px 0; }
.m_yyk_yh_list { width: 400px; margin: 0 auto; display: block; float: none; overflow: hidden; }
.m_yyk_yh_list li { line-height: 24px; white-space: nowrap; overflow: hidden; float: none; }
.m_yyk_yh_list li em { color: #ff6600; }
.m_yyk_mid { padding: 2px 0 0; +padding: 9px 0;
}
.m_yyk_controls_layout { position: relative; }
.m_yyk_filter dd .m_yyk_controls_layout { width: auto; display: block; border: none; height: auto; }
.m_yyk_filter { margin: 18px 0 0px 0; position: relative; }
.m_yyk_filter dt { width: 72px; text-indent: 2px; font-size: 14px; float: left; display: inline; line-height: 33px; }
.m_yyk_filter dd { float: left; display: inline; width: 358px; position: relative; }
.m_yyk_controls { height: 31px; line-height: 31px; position: relative; }
.m_yyk_controls { width: 332px; border: 1px solid #D0E4E6; font-size: 14px; }
.m_yyk_controls .arrow { display: block; position: absolute; width: 13px; height: 15px; background: url(../images/img.png)0 -466px no-repeat; right: 14px; top: 8px; cursor: pointer; font-size: 0; line-height: 0; }
.m_yyk_controls .arrow3 { background: #fff url(../images/img.png) 0 -517px no-repeat; display: block; position: absolute; width: 14px; height: 15px; right: 13px; top: 8px; cursor: pointer; font-size: 0; line-height: 0; }
.m_yyk_controls .input_txt { display: block; color: #999999; cursor: pointer; height: 31px; white-space: nowrap; overflow: hidden; padding: 0 14px 0 10px; }
.m_yyk_controls .selected { background: #F5F8F8; color: #333; }
.m_yyk_controls .m_yyk_select { border: 1px solid #D0E4E6; width: 418px; }
.m_yyk_select { position: absolute; left: -1px; top: -1px; z-index: 5; font-size: 12px; }
.m_yyk_select ul, .m_yyk_select li { float: left; }
.m_yyk_controls .m_yyk_select_tit { height: 26px; line-height: 26px; width: 418px; background: url(http://image.39.net/images/bg_m_yyk_tit2.gif) left top repeat-x; position: relative; overflow: hidden; }
.m_yyk_controls .m_yyk_select_con { overflow-y: auto; overflow-x: hidden; width: 418px; max-height: 353px; _height:expression(this.scrollHeight > 359 ? "359px" : "auto");
overflow-y: auto; background: #fff; }
.m_yyk_select_tit .close { width: 8px; height: 7px; position: absolute; right: 12px; top: 9px; background: url(http://image.39.net/images/bg_m_yyk.gif) -30px top no-repeat; font-size: 0; line-height: 0; cursor: pointer; }
.m_yyk_select_list { overflow: hidden; zoom: 1; float: left; }
.m_yyk_select_list li { position: relative; padding: 0 25px 0 10px; cursor: pointer; color: #666; }
.m_yyk_select_list li .arrow2 { background: url(http://image.39.net/images/bg_m_yyk.gif) -21px top no-repeat; display: block; width: 7px; height: 4px; font-size: 0; line-height: 0; position: absolute; right: 12px; top: 12px; }
.m_yyk_select_list .cur { background: #fff; border-right: 1px solid #e5ebeb; border-left: 1px solid #e5ebeb; color: #333 }
.m_yyk_select_list .no_bl_h { max-width: 190px; text-overflow: hidden; overflow: hidden; }
.m_yyk_select_list .no_bl_h.cur { margin-left: -1px; }
.m_yyk_select_list .cur .arrow2 { background-position: -21px -4px; }
.m_yyk_select_item { padding: 10px 5px; }
.m_yyk_select_item li { line-height: 25px; display: inline; overflow: visible; text-overflow: ellipsis; font-family: "Arial"; }
.m_yyk_select_item li a { white-space: nowrap; color: #666666; padding: 2px; transition: all 0.2s; }
.m_yyk_select_item li a:hover { background: #419aa5; color: #fff !important; text-decoration: none; }
.m_yyk_select_item .hover a { background: #419aa5; color: #fff; }
.mysi1 li { width: 46px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin: 0 2px 0 3px; }
.mysi2 { padding: 12px 8px; }
.mysi2 li { margin-right: 10px; width: 182px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.mysi2 .nofound { width: auto; color: #f60; }
.mysi3 li { margin: 0 2px 0 3px; width: 60px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.mysi4 li { width: 84px; color: #666666; cursor: pointer; margin: 0 5px 0 6px; }
.m_yyk_mid p { padding-left: 97px; line-height: 24px; padding-top: 5px; color: #999999; }
.m_yyk_mid p em { color: #f60; }
.m_yyk_btn { border: none; background: #0096A5; margin: 23px auto 0; width: 206px; font: 16px/34px microsoft yahei; display: block; text-align: center; color: #fff; cursor: pointer; border-radius: 3px; }
.m_yyk_btn:hover { color: #fff !important; background: #1CAEBD; text-decoration: none; }
.yyk_inner .m_yyk_trans { background: #666; opacity: 0.3; filter: alpha(opacity=30); height: 138px; width: 419px; position: absolute; left: 2px; top: 3px; display: none; }
#m_yyk_date .m_yyk_select, #m_yyk_date .m_yyk_trans { height: 96px; }
#m_yyk_date .m_yyk_select_con { height: 70px }
.m_yyk_tit p { float: left; padding: 0 0 0 12px; color: #999; }
.m_yyk_tit p em { color: #f60; font-family: verdana; }
.index_yyk_tabs, .index_yyk_tabs div, .yyk_tabs_bot, .yyk_tabs_bot div { display: block; float: none; height: auto; border: none; }
.index_yyk_tabs { margin: 32px 0 0; }
.index_yyk_tabs .tabs_btns_box { background: url(../images/tit_linebg.png) repeat-x left bottom; height: 30px; font: 14px/1.5 microsoft yahei; }
.index_yyk_tabs .tabs_btns_box dl { height: 30px; }
.index_yyk_tabs .tabs_btns_box dl dd { float: left; width: 86px; text-align: center; font-size: 14px; overflow: hidden; cursor: pointer; }
.index_yyk_tabs .tabs_btns_box dl dd.last { }
.index_yyk_tabs .tabs_btns_box dl dd a { color: #333; display: block; height: 28px; width: 100%; }
.index_yyk_tabs .tabs_btns_box dl dd a:hover { color: #f60; }
.index_yyk_tabs .tabs_btns_box dl dd.on a, .index_yyk_tabs .tabs_btns_box dl dd.on a:hover { color: #fff; }
.index_yyk_tabs .tabs_btns_box dl dd.on { color: #0096a5; font-weight: bold; border-bottom: #0096A5 1px solid; padding: 0 0 8px; background: #fff url(../images/img.png) 37px -559px no-repeat; }
.yyk_tabs_list { padding: 22px 0 0; height: 100px; }
.yyk_tabs_list li { float: left; width: 210px; display: inline; margin-right: 10px; }
.yyk_tabs_list li.r { float: right; margin-right: 0; }
.yyk_tabs_list li img { float: left; width: 80px; height: 100px; }
.yyk_tabs_list li p { float: right; width: 120px; }
.yyk_tabs_list li span { display: block; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 12px; line-height: 22px; height: 22px; color: #333; }
.yyk_tabs_list li span i { font-style: normal; color: #666; }
.yyk_tabs_list li .ltit { padding-bottom: 3px; color: #999; }
.yyk_tabs_list li strong { font-size: 16px; color: #069; font-family: "Microsoft YaHei"; }
.yyk_tabs_list li strong a { color: #069; }
.yyk_tabs_list li strong a:hover { color: #f60; }
.yyk_tabs_list li .yygh_list_btn { display: block; background: #0096A5; width: 65px; height: 22px; line-height: 22px; text-align: center; font-size: 12px; margin-top: 8px; border-radius: 3px; color: #fff; }
.yyk_tabs_list li .yygh_list_btn:hover { color: #fff !important; background: #1CAEBD; text-decoration: none; }
.yyk_tabs_bot { padding: 20px 0 0; }
.yyk_tabs_bot ul { float: none; }
.yyk_tabs_bot ul li { line-height: 26px; height: 26px; overflow: hidden; }
.yyk_tabs_bot ul li em { color: #f60; }
.yyk_tabs_bot ul li a { margin-right: 20px; color: #666; }
.yyk_tabs_bot ul li a:hover { color: #f60; }
.m_yyk_btn2 { }
.art-list { }
.art-list-l { float: left; width: 190px; _width: 180px; }
.art-list-l h4 { font: 16px/1.5 microsoft yahei; padding: 14px 0 0; text-indent: 2px; height: 24px; overflow: hidden; }
.art-list-l h4 a { font-weight:bold; }
.art-list-l ul { padding: 2px 0 0; }
.art-list-l ul li { line-height: 2; font-size: 14px; padding: 0 0 0 11px; background: url(../images/img.png) 0 -310px no-repeat; height: 28px; overflow: hidden; }
.art-list-l ul li a { }
.art-list-r { float: left; width: 240px; overflow:hidden;}
.art-list-r dl { padding: 20px 0 0 20px; text-align: center; float: left; width: 100px; }
.art-list2 .art-list-r dl { padding: 20px 0 0 0; margin: 0 20px 0 0; }
.art-list-r dt { }
.art-list-r dt img { width: 100px; height: 100px; }
.art-list-r dd { padding: 8px 0 0; height: 18px; overflow: hidden; }
.art-list-r dd a { }
.art-tag { margin: 8px 0 0; border-top: #D0E4E6 1px dashed; }
.art-tag ul { padding: 7px 0 0; }
.art-tag ul li { line-height: 2; font-size: 14px; padding: 0 5px 0 11px; background: url(../images/img.png) 0 -310px no-repeat; height: 28px; overflow: hidden; float: left; width: 70px; }
.art-tag ul li a { }
.art-tag2 ul li { width: 69px; }
.link-more { height: 18px; overflow: hidden; padding: 10px 0 0; }
.link-more a { }
.link-more .more { float: right; color: #666; }
.art-list3 { }
.art-list3 .sd_pic { margin: 21px 20px 0 0; }
.art-list3 .art-list-r { }
.art-list3 .art-list-r { float: left; width: 290px; }
.art-list3 .art-list-r h4 { font: 16px/1.5 microsoft yahei; padding: 16px 0 0; text-indent: 2px; height: 24px; overflow: hidden; font-weight:bold;}
.art-list3 .art-list-r h4 a { }
.art-list3 .art-list-r ul { padding: 8px 0 0; }
.art-list3 .art-list-r ul li { line-height: 2; font-size: 14px; padding: 0 0 0 11px; background: url(../images/img.png) 0 -310px no-repeat; height: 28px; overflow: hidden; }
.art-list3 .art-list-r ul li a { }
.art-list4 { height: 96px; overflow: hidden; }
.art-list4 dt { float: left; width: 96px; padding: 20px 15px 0 0; }
.art-list4 dt img { width: 96px; height: 72px; }
.art-list4 dd { float: left; width: 318px; }
.art-list4 dd h4 { font: 16px/1.5 microsoft yahei; padding: 16px 0 0; text-indent: 2px; height: 24px; overflow: hidden; font-weight: bold;}
.art-list4 dd p { line-height: 26px; color: #666; padding: 6px 0 0; }
.art-list4 dd p a { color: #666; }
/*myzx*/
.cust210_1 { width: 210px; margin: 10px 0 0 0; background: #fff; float: left; overflow: hidden; _zoom: 1; }
.top_pic { background: url(http://image.39.net/images/minyi/images/2_r2_c2.png) no-repeat 0 0; width: 210px; height: 30px; left: -1px; top: 0; }
.top_pic h4 { font-size: 14px; color: #FFF; font-weight: bold; line-height: 30px; margin-left: 10px; width: 120px; }
.top_pic h4 a { color: #fff; }
.top_pic h4 a:hover { color: #fff; }
.myzx_main { height: 221px; }
.myzx_main .title { height: 95px; }
.myzx_main .title .pic { padding: 17px 12px 0 11px; float: left; width: 60px; }
.myzx_main .title .pic img { width: 60px; height: 60px; }
.myzx_main .title .info { float: left; width: 140px; padding: 13px 0 0; }
.myzx_main .title .info h4 { font: 14px/1.5 microsoft yahei; }
.myzx_main .title .info h4 a { }
.myzx_main .title .info p { line-height: 22px; padding: 4px 0 0; }
.myzx_main .title .info p .a2 { color: #0096A5; font-weight: bold; }
.djs_t { display: block; margin: 0 11px; text-align: center; background: url(../images/tit_linebg.png) repeat-x left center; }
.djs_t b { display: inline-block; background: #fff; padding: 0 10px; }
.djs { display: block; margin: 14px 0 0 20px; line-height: 26px; height: 26px; }
.djs .pic_4 { background: url(../images/img.png) 0 -613px no-repeat; color: #f60; display: block; width: 28px; height: 26px; float: left; margin: 0 6px; overflow: hidden; font: bold 12px/26px Verdana; text-align: center; }
.djs .djs_1 { float: left; font-size: 12px; }
#span_dt { display: block; *padding-top:4px;
}
#span_dt img { margin-left: -15px; }
#span_dt p { text-indent: -20px; line-height: 20px; height: 20px; margin-top: 10px; }
#span_dt_end, #span_dt_ing { height: 50px; padding: 8px 0 0; *padding-top:4px;
_padding-top: 3px; display: block; color: #666; line-height: 40px; text-align: center; overflow: hidden; _zoom: 1; }
#span_dt_end img, #span_dt_ing img { display: block; margin: 0 auto; }
#span_dt_end p, #span_dt_ing p { line-height: 20px; padding: 8px 0 0; }
.fiask { text-align: center; margin: 15px 0 0; display: block; }
.fiask a { border: none; background: #0096A5; margin: 0 11px; width: 206px; font: 16px/34px microsoft yahei; display: block; text-align: center; color: #fff; cursor: pointer; border-radius: 3px; }
.fiask a:hover { color: #fff !important; background: #1CAEBD; text-decoration: none; }
ul.wqhg { padding: 16px 11px 0; line-height: 22px; }
.wqhg li { }
.wqhg .list_1 { background: url(../images/tit_linebg.png) repeat-x left center; text-align: right; height: 22px; }
.wqhg .t1 { color: #006699; margin: 3px 0 0; }
.wqhg .t1 a { }
.wqhg .list_1 strong { float: left; background: #fff; padding: 0 10px 0 0; }
.wqhg .list_1 span { float: right; }
.wqhg .b1 { color: #999; }
.wqhg em { font-style: normal; float: right; }
.wqhg span { }
.wqhg .e1 { float: right; background: #fff; padding: 0 0 0 10px; }
.wqhg em a { color: #006699; font-size: 12px; }
.wqhg em a:hover { color: #f60; }
.bottom_pic { background: url(http://image.39.net/images/minyi/images/bottom.png) no-repeat 0 -3px; width: 210px; height: 5px; }
#ad_210 { width: 210px; height: 35px; background: #F00; margin-top: 8px; _margin-top: 0px; }
.rank { height: 277px; }
.rank ul { padding: 6px 0 0 33px; background: url(../images/bg_ten.gif) no-repeat 9px 11px; }
.rank li { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 26px; line-height: 26px; }
/*box*/
.box { margin: 10px 0 0; }
.box .tit { line-height: 45px; height: 48px; background: url(../images/bg_tit.gif) 0 8px repeat-x; position: relative; }
.box .tit h2 { float: left; font-family: "Microsoft YaHei"; color: #0096a5 !important; font-weight: normal; font-size: 24px; }
.box .tit .tag { float: left; padding: 0 0 0 40px; }
.box .tit .tag a { color: #999; margin: 0 12px 0 0; }
.box .tit-bg { height: 52px; position: absolute; right: 0; top: 0; width: 180px; }
.box .tit-bg.t1 { background: url(../images/bg_tit.gif) right -97px no-repeat; }
.box .tit-bg.t2 { background: url(../images/bg_tit.gif) right -172px no-repeat; }
.box .tit-bg.t3 { background: url(../images/bg_tit.gif) right -251px no-repeat; }
.box .tit-bg.t4 { background: url(../images/bg_tit.gif) right -330px no-repeat; }
.box .con { }
.box .con-link { float: left; display: inline; margin: 20px 0 0; height: 243px; width: 208px; overflow: hidden; border: #D0E4E6 1px solid; }
.box .con-link .item { height: 121px; border-bottom: #E9F3F4 1px solid; }
.box .con-link .item h4 { float: left; width: 16px; text-align: center; line-height: 2; padding: 12px 0 0 8px; }
.box .con-link .item h4 a { color: #0096A5; }
.box .con-link .item h4 a:hover { }
.box .con-link .item ul { float: left; width: 166px; line-height: 2; padding: 12px 0 0 18px; }
.box .con-link .item ul li { float: left; width: 80px; padding: 0 3px 0 0; height: 24px; overflow: hidden; }
.box .con-link .item ul li a { }
.box .con-art { margin: 20px 0 0 20px; height: 245px; width: 375px; float: left; }
.box .con-art .cap { height: 32px; line-height: 31px; background: #F6F9F9; }
.box .con-art .cap h3 { float: left; font-family: "Microsoft YaHei"; color: #0096a5; font-size: 16px; font-weight: normal; border-top: #0096A5 1px solid; }
.box .con-art .cap h3 a { color: #0096a5; display: block; padding: 0 20px; border: #E9F2F3 1px solid; border-width: 0 1px; background: #fff; }
.box .con-art .cap h3 a:hover { }
.box .con-art .cap .tag { float: right; padding: 1px 0 0; }
.box .con-art .cap .tag a { margin: 0 12px 0 0; color: #999; }
.box .newslist, .sdlist { padding: 10px 0 0; }
.box .art-list3 { }
.box .art-list3 .sd_pic { margin-right: 15px; }
.box .art-list-r { width: 240px; }
.box .art-list3 .art-list-r h4 { padding: 11px 0 0; }
.box .art-list3 .art-list-r ul { padding: 1px 0 0; }
.box .con-art { }
.box .con-art .search2 { padding: 3px 0 0; }
.box .con-art .search2 span { float: left; line-height: 24px; width: 62px; }
.box .con-art .search2 .text { background: none; border: #BBBBBB 1px solid; float: left; width: 196px; height: 14px; line-height: 14px; color: #999; padding: 4px 8px; border-width: 1px 0 1px 1px; }
.box .con-art .search2 .sub { float: left; width: 47px; height: 24px; border: none; border-radius: 0 2px 2px 0; background: #6FA936; color: #fff; cursor: pointer; }
.box .con-art .search2 .sub:hover { background: #78B63C; }
.box .con-art .search2 .search-ask { float: left; display: inline; width: 48px; line-height: 24px; margin: 0 0 0 5px; border-radius: 2px; background: #488AD8; color: #fff; text-align: center; font-size: 12px; font-family: simsun; }
.box .con-art .search2 .search-ask:hover { background: #6BA0DE; color: #fff !important; text-decoration: none; }
/*==block-tabs==*/

.block-tabs { margin-top: 20px; }
.block-tabs .tabs-tit { overflow: hidden; zoom: 1; height: 35px; background: #f6f9f9 url(../images/tit_linebg.png) repeat-x left bottom; }
.block-tabs .tabs-tit span { float: left; }
.block-tabs .tabs-tit span a { float: left; padding: 0 15px; height: 35px; line-height: 35px; overflow: hidden; text-align: center; font-family: "Microsoft YaHei"; font-size: 14px; color: #666; }
.block-tabs .tabs-tit span.on { border-top: solid 2px #0096a5; }
.block-tabs .tabs-tit span.on a, .block-tabs .tabs-tit span.on a:hover { height: 33px; line-height: 33px; border: solid 1px #dbe8e9; border-width: 0 1px; background: #fff; font-size: 16px; padding: 0 14px; color: #0096a5 !important; color: #0096a5; text-decoration: none; }
.block-tabs .tabs-con { display: none; width: 1000px; overflow: hidden; margin-top: 15px; }
.block-tabs .tabs-con ul { overflow: hidden; zoom: 1; }
.block-tabs .tabs-con ul li { float: left; display: inline; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 26px; line-height: 26px; margin-right: 10px; }
.block-tabs .tabs-con ul li img { max-height: 25px; width: auto; vertical-align: middle; margin: 0; }
.block-tabs .tabs-con .five-col li { width: 190px; }
.block-tabs .tabs-con .eight-col li { width: 115px; }
.block-tabs-data .tabs-tit span a { padding: 0 14px; }
.block-tabs-data .tabs-tit span.on a, .block-tabs-data .tabs-tit span.on a:hover { padding: 0 13px; }
.block-tabs-data .tabs-con ul { padding: 3px 0; }
.block-tabs-data .tabs-con ul li { height: 24px; line-height: 24px; }
.block-tabs-data .tabs-con ul li { width: 80px; }
.block-tabs-data .tabs-con ul li.data-tit { width: 85px; }
.block-tabs-data .tabs-con ul li.data-tit strong { float: left; background: url(../images/icon_arrow.png) no-repeat right center; padding-right: 12px; padding-left: 2px; }
.block-tabs-data .tabs-con ul li.data-tit2 { width: 80px; }
.block-tabs-data .tabs-con ul li.data-tit .blue, .block-tabs-data .tabs-con ul li.data-tit .blue a { color: #0096a5; }
.block-tabs-data .tabs-con ul li.column_jc { width: 125px; }
.block-tabs-data .tabs-con ul li.column_6 { width: 130px; }
.block-tabs-data .tabs-con ul li.column_7 { width: 112px; }
.block-tabs-data .tabs-con ul li.column_8 { width: 103px; }
.block-tabs-data .tabs-con ul li.column_area { width: 44px; }
.block-tabs-data .tabs-con ul li.column_3 { width: 105px; }
.block-tabs-data .tabs-con ul li.column_13 { width: 66px; font-weight: bold; }
.block-tabs-data .tabs-con ul li.column_bk { width: 59px; }
.block-tabs-data .tabs-con ul li.column_more2 { color: #666; width: 70px; }
.block-tabs-data .tabs-con ul li.column_more2 a { color: #666; }
.block-tabs-data .tabs-con ul li.column_more3 { color: #666; float: right; width: auto; text-align: right; margin-right: 5px; }
.block-tabs-data .tabs-con ul li.column_more3 a { color: #666; }
.block-tabs-data .tabs-con ul li.column_bk_more { color: #666; width: 70px; }
.block-tabs-data .tabs-con ul li.column_bk_more a { color: #666; }
.block-tabs-data .tabs-con ul li.zm_nav { background: url(../images/icon_gapline.png) no-repeat right center; width: 70px; margin-right: 15px; }
.block-tabs-data .tabs-con ul li.zm_nav2 { margin-left: 35px; }
.block-tabs-data .tabs-con ul li.data-more { float: right; text-align: right; width: auto; color: #666; margin-right: 5px; }
.block-tabs-data .tabs-con ul li.data-more a { color: #666; }
/*==footer==*/
.footer { color: #666; }
.footer a { color: #666; }
.allsite { height: 37px; line-height: 37px; background: #f6f9f9; text-align: center; color: #bbb; margin-top: 20px; }
.allsite span { color: #333; }
.allsite a { color: #333; }
.footer-ewm { overflow: hidden; zoom: 1; border-bottom: solid 1px #d0e4e6; padding: 25px 0 25px 64px; }
.footer-ewm .box-ewm { float: left; display: inline; margin-right: 20px; overflow: hidden; width: 312px; }
.footer-ewm .app-ewm { width: 311px; }
.footer-ewm .box-ewm img { float: left; width: 100px; height: 100px; margin-right: 15px; }
.footer-ewm .box-ewm strong { display: block; font-family: "Microsoft YaHei"; font-size: 16px; font-weight: normal; line-height: 26px; color: #333; line-height: 26px; }
.footer-ewm .box-ewm strong a { color: #333; }
.footer-ewm .box-ewm p { line-height: 20px; overflow: hidden; }
.footer-ewm .box-ewm span { display: block; overflow: hidden; zoom: 1; margin-top: 9px; }
.footer-ewm .box-ewm span a { float: left; width: 80px; height: 25px; line-height: 25px; overflow: hidden; margin-right: 14px; background: #e9f3f4 url(../images/img.png) no-repeat 7px -761px; font-family: Verdana; border-radius: 3px; text-indent: 26px; font-size: 12px; }
.footer-ewm .box-ewm span a.android { background-position: 7px -761px; }
.footer-ewm .box-ewm span a.iphone { background-position: 7px -812px; }
.footer-info { text-align: center; line-height: 28px; margin-top: 10px; }
.footer-info .mission { background: url(../images/mission_img.jpg) no-repeat center center; height: 50px }
.footer-info .footer-nav { color: #bbb; }
.footer-info .copyright { font-family: Verdana; }
.footer-law { line-height: 28px; background: #f6f9f9; text-align: center; padding: 1px 0; margin-top: 10px; color: #bbb; }
.footer-law span { color: #666; }
.footer-cert { text-align: center; line-height: 24px; margin-top: 10px; }
.footer-cert a { display: inline-block; margin: 0 5px; font-size: 12px; }
.footer-img { width: 1000px; overflow: hidden; margin-top: 10px; padding-bottom: 20px; }
.footer-img ul { overflow: hidden; zoom: 1; width: 1020px; }
.footer-img ul li { float: left; display: inline; width: 156px; height: 56px; border: solid 1px #ededed; margin: 10px 10px 0 0; }
.footer-img ul li p { overflow: hidden; zoom: 1; }
.footer-img ul li p img { float: left; }
.footer-img ul li p span { height: 36px; line-height: 18px; text-align: center; display: inline-block; padding-top: 10px; }
.footer-img ul li a { display: block; cursor: pointer; }
.footer-img ul li .fimg01 img { margin: 6px 10px 0 30px; width: 37px; height: 45px; }
.footer-img ul li .fimg02 img { margin: 8px 10px 0 23px; width: 41px; height: 41px; }
.footer-img ul li .fimg03 img { margin: 10px 10px 0 35px; width: 30px; height: 37px; }
.footer-img ul li .fimg04 img { margin: 10px 0 0 30px; width: 95px; height: 35px; }
.footer-img ul li .fimg05 img { margin: 7px 10px 0 28px; width: 40px; height: 42px; }
.footer-img ul li .fimg05 span { padding-top: 18px; }
.footer-img ul li .fimg06 img { margin: 11px 0 0 30px; width: 95px; height: 34px; }
/*right*/
html{_background-image:url(about:blank); _background-attachment:fixed;}
.rightToolbox{ display:block; position:fixed; right:0; top:-450px; _position:absolute; _float:right; _text-align:right;_bottom:auto;_width:45px;}
.rightToolbox_hold{top:450px;_top:expression(eval(document.documentElement.scrollTop)+450); }
.rightToolbox ul{ float:none;height:125px;}
.rightToolbox li{ width:45px; height:40px; display:block; float:none; vertical-align:bottom;}
.rightToolbox li a{ background:url(../images/rollbtn_index.png) no-repeat; display:block; height:40px; width:45px; border: #E9F1F2 1px solid;}
.rightToolbox li a:hover{text-decoration:none; /*overflow:hidden;*/ text-indent:-100em;}
.rightToolbox .rFavorite a{ background-position:0 0;}
.rightToolbox .rFavorite a:hover{background-position:-46px 0;}
.rightToolbox .rFeedback a{ background-position:0 -41px;}
.rightToolbox .rFeedback a:hover{ background-position:-46px -41px;}
.rightToolbox .rTgotoTop a{ background-position:0 -82px;}
.rightToolbox .rTgotoTop a:hover{ background-position:-46px -82px;}
.rightToolbox .rQcode a{background-position: 0 -124px;position: relative; height: 39px}
.rightToolbox .rQcode a:hover{background-position:-46px -124px;}
.rightToolbox .rQcode a em{
    position: absolute;
    width: 123px;
    height: 155px;
    top: -1px;
    left: -123px;
    background: url(../images/rollbtn_index.png) no-repeat 0 -164px;
    display: none;
}

.rightToolbox .rEwm a{ background-position:0 -123px;}
.rightToolbox .rEwm a:hover { background-position:-46px -123px;}
.rightToolbox .rEwm{ position:relative;}
.rightToolbox .rEwm .rEwm_box{ position:absolute; width:130px; padding:0;background:#317c8a; right:57px; top:0; display:none;}
.rightToolbox .rEwm .rEwm_box a{ display:block; background:none; width:auto; height:auto;}
.rightToolbox .rEwm .rEwm_box a:hover{ text-indent:0;}
.rightToolbox .rEwm .rEwm_box i{ position:absolute; background:url(../images/rollbtn_index.png) no-repeat 0 -168px; width:9px; height:19px; overflow:hidden; right:-8px; top:12px;}
.rightToolbox .rEwm .rEwm_box .rEwm_img{ margin: 0 auto; width:110px; height:110px; overflow:hidden; display:block; padding:10px 0 0 0;}
.rightToolbox .rEwm .rEwm_box .rEwm_img img{ width:110px; height:110px;}
.rightToolbox .rEwm .rEwm_box .rEwm_text{ font-family:"Microsoft YaHei"; font-size:14px; color:#fff; line-height:20px; text-align:center; padding:5px 10px 10px 10px; display:block;}
.rbtn-move-act {transition:all .2s ease 0s}

.hulianwan_adv{ width:100%; margin-top:10px;}

/*20160809 39hospital*/
.m_yyk_tit .m_yyk_logo_yiyuan{
    color:#333;
}
.m_yyk_tit p{line-height:28px;}
.m_yyk_tit2{
    margin-top:20px
}
.newsbox .tabs-tit span.on .bg_order{
    background:none;
	text-align:center;
	padding:0;
	width: 107px;
}
.newsbox .tabs-tit span .bg_order{
    background:none;
	text-align:center;
	padding:0;
	width:107px
}
.m_yyk_mid dd input{
    height:31px;
	width:322px;
	font-size:14px;
	color:#999999;
	line-height:31px;
	border:#d0e4e6 1px solid;
	padding-left:10px
}
.m_yyk_mid dd textarea{
   resize:none;
   width:322px;
   height:61px;
   border:#d0e4e6 1px solid;
	font-size:14px;
	color:#999999;
	line-height:31px;
	padding-left:10px;
	overflow:auto
   
}
.m_yyk_mid dd span{
    display:none
}

.myzx_main{
    height:221px;
}
.hulianwan_adv{
    width:100%;
	margin-top:10px;
}
.m_yyk_btn{
    margin:15px auto
}
.m_yyk_mid2 .m_yyk_btn{
    margin:19px auto
}
.m_yyk_tit .m_yyk_logo_yiyuan{
    background:url(../images/yiyuan_03.jpg) left center no-repeat;
}
.m_yyk_tit_yiyuan .yyk-qcode2{
    padding-left:17px;
	background:url(../images/appdown_03.jpg) left center no-repeat;
	color:#666;
	font-size:12px;
	line-height:31px;
	height:29px;
	float:right;
	margin-right:10px
}
.m_yyk_tit_yiyuan .yyk-qcode2:hover{
    color:#f60;
}
@-moz-document url-prefix() {
    .m_yyk_tit_yiyuan .yyk-qcode2{
	    line-height:29px
	 }
}
.m_yyk_filter{
    margin:14.5px 0;
}
.m_yyk_mid2 .m_yyk_btn{
    margin: 17px auto 19px auto;
}
.m_yyk_mid{
    position:relative;
}
#yiyuan_alert{
    position:absolute;
	width:384px;
	height:212px;
	background:#fff;
	border:1px solid #d0e4e6;
	top:15px;
	left:20px;
	z-index:100;
	display:none
}
#yiyuan_alert span{
    position:absolute;
	width:20px;
	height:19px;
	display:block;
	top:9px;
	right:12px;
	cursor:pointer;
	background:url(../images/tangchuan_03.jpg) left top no-repeat;
}
#yiyuan_alert p{
    padding:0;
	margin-left:32px;
	padding-right:32px;
	font-size:14px;
	color:#333;
	line-height:27px;
}
#yiyuan_alert p.suc{
    font-size:18px;
	color:#ff6600;
	margin:24px 0 17px 32px;
	padding-left:48px;
	background:url(../images/tangchuan_06.jpg) left top no-repeat;
	height:41px;
	line-height:38px
}

   #namephone span {
    font-size: 14px;
   }
   .m_yyk_mid dd .choose{
	background: url("http://image.39.net/index//images/img.png") no-repeat;
    background-position: 0 -460px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    width: 24px;
    height: 29px;
    display: block;
    z-index: 100;
    right: 26px;
    }
	#xuqiu{
	    position:absolute;
		top:31px;
		width:334px;
		font-size: 14px;
		display:none;
        color: #333;
		background:#fff
	}
	#xuqiu li{
		height:30px;
		cursor:pointer;
		border-bottom:1px solid #d0e4e6;
		padding-left:10px;
		line-height:30px;
		border-left:1px solid #d0e4e6;
		border-right:1px solid #d0e4e6;
	    
	}
	#xuqiu li:hover{
	    background:rgb(65,154,165)
	}
   #namephone input {
	margin-left: -4px;
	font-size:14px;
	padding-left:10px;
	color:#999;
    width: 111px;
    height: 31px;
    margin-right: 10px;
    border: #d0e4e6 1px solid; 
	}
.m_yyk_filter cute {
    position: absolute;
    /* z-index: 21321231321321313; */
    display: block;
	border: 1px solid #D0E4E6;
    width: 322px;
    font-size: 14px;
    color: #999;
    height: 29px;
    top: 1px;
    left: 0px;
    padding-left: 10px;
    line-height: 31px;
    background: #fff;
}