@charset "gb2312";
/* CSS Document */
/*rentimode*/
.rentimode{ display:block; width:290px; height:230px; overflow:hidden; zoom:1; position:relative; margin: 0 0 0 8px; top: 21px;}
.rentimode .rentibg,.rentimode .rentichange,.rentimode .rentictrl{ display:block; width:100%; height:100%; position:absolute; left:0; top:0;}
.rentimode .rentibg{ z-index:1;}
.rentimode .rentichange{z-index:3;}
.rentimode .rentictrl{ z-index:5;}
.rentimode img{ z-index:7; position:relative;}
.ctrlzf{ display:block; width:37px; height:51px; position:absolute;z-index:8; left:8px; bottom:9px; }
.ctrlzf a{ font-size:12px; display:block; height:23px; line-height:22px;  text-align:center; color:#666; text-decoration:none; border: #D0E4E6 1px solid; border-radius: 2px;}
.ctrlzf a:hover{ text-decoration:none; color:#666;}
.ctrlzf a.ctrlb{ margin-top:3px;}
.ctrlzf a.now,.ctrlzf a.now:hover{ font-weight:bold; color:#fff; background: #0096A5; border-color: #0096A5;}
.#renMap1{ position:absolute; left:0; top:0; z-index:6;}
.#renMap1 area{ cursor:pointer;}
.rentimode .rentictrl img{ display:none;}
.rentimode .rentictrl img.now{ display:block;}

.rentichange em{ display:block; position:absolute; z-index:3;}
.rentichange .cz1{ width:72px; height:43px; background:url(../images/renti/z2.png) no-repeat; background-position:0 0px; right:89px; top:0px;}
.rentichange .cz2{ width:88px; height:36px; background:url(../images/renti/z2.png) no-repeat; background-position:0 -43px; right:81px; top:39px;}
.rentichange .cz3{ width:103px; height:29px; background:url(../images/renti/z2.png) no-repeat; background-position:0px -79px; right:63px; top:71px;}
.rentichange .cz4{ width:127px; height:68px; background:url(../images/renti/z2.png) no-repeat; background-position:0 -108px; right:43px; top:94px;}
.rentichange .cz5{ width:147px; height:127px; background:url(../images/renti/z1.png) no-repeat; background-position:0px -103px; right:104px; top:103px;}
.rentichange .cz6{ width:208px; height:103px; background:url(../images/renti/z1.png) no-repeat; background-position:0px 0px; right:51px; top:39px;}

.rentichange .cb1{ width:79px; height:20px; background:url(../images/renti/b1.png) no-repeat; background-position:0 0; right:81px; top:16px;}
.rentichange .cb2{ width:72px; height:34px; background:url(../images/renti/b1.png) no-repeat; background-position:0 -20px; right:81px; top:34px;}
.rentichange .cb3{ width:102px; height:20px; background:url(../images/renti/b1.png) no-repeat; background-position:0px -54px; right:64px; top:68px;}
.rentichange .cb4{ width:70px; height:23px; background:url(../images/renti/b1.png) no-repeat; background-position:0px -74px; right:99px; top:93px;}
.rentichange .cb5{ width:124px; height:42px; background:url(../images/renti/b1.png) no-repeat; background-position:0px -118px; right:147px; top:105px;}
.rentichange .cb6{ width:116px; height:20px; background:url(../images/renti/b1.png) no-repeat; background-position:0px -97px; right:129px; top:79px;}
.rentichange .cb7{ width:290px; height:230px; background:url(../images/renti/b2.png) no-repeat; background-position:0 0; right:0px; top:0px;}

/*peoplemode erji*/
.renerji{ width:0; height:0; position:absolute; left:0; top:0; z-index:9; margin:0; padding:0; list-style:none;}
.renerji li{ display:none; position:absolute; line-height:16px; font-size:12px; color:#fff; z-index:9;  margin:0; padding:0; list-style:none;}
.renerji li i{ background:#144e59;opacity:0.60;-moz-opacity:0.60;filter:alpha(opacity=66); display:block; position:absolute; left:0; right:0; top:0; bottom:0; z-index:8;}
.renerji li strong{ display:inline-block; float:left; *display:inline; background:#f90;  padding:2px 4px; position:relative; text-align:center; z-index:9;  white-space:nowrap;}
.renerji li strong a{ display:block; _display:inline;text-decoration:none; color:#fff; float:none; margin:0; padding:0;font-weight:bold; }
.renerji li strong a:hover{ text-decoration:none; color:#fff; background:#f90;}
.renerji li p{ clear:both; font-size:12px; padding:0px 0 5px 5px; line-height:18px; position:relative;overflow:hidden; zoom:1; white-space:normal; _background:#6f9399;}
.renerji li a,.renerji li cite{ float:left; *float:none;display:inline-block; line-height:16px; color:#fff; position:relative; z-index:9; margin:5px 5px 0px 0px; padding:2px 5px; text-decoration:none;}
.renerji li cite{ font-style:normal; margin-left:0; margin-right:0; padding-left:0; padding-right:0;}
.renerji li a:hover{ background:#528188; color:#fff; text-decoration:none;}
.renerji .cz1{ left:181px; top:2px; width:86px;}
.renerji .cz2{ left:189px; top:39px; width:84px;}
.renerji .cz3{ left:207px; top:71px; width:61px;}
.renerji .cz4{ left:189px; top:118px; width:66px; _background:none;}
.renerji .cz4 strong{ margin-bottom:4px;}
.renerji .cz5{ left:39px; top:122px; width:72px;}
.renerji .cz6{ left:31px; top:57px; width:71px;}

.renerji .cb1{ left:189px; top:16px; width:57px;}
.renerji .cb1 p{ }
.renerji .cb2{ left:189px; top:41px; width:84px;}
.renerji .cb3{ left:206px; top:68px; width:58px;}
.renerji .cb4{ left:171px; top:96px; width:45px;}
.renerji .cb4 p{ }
.renerji .cb5{ left:19px; top:119px; width:66px;_background:none;}
.renerji .cb6{ left:44px; top:79px; width:45px;}
.renerji .cb6 strong{ margin-right:0;}
.renerji .cb7{ left:45px; top:32px; width:55px;_background:none;}