/* MediaBistro Jobs Feed:
Right Col and Pre-Footer */
.block-adweek_mb_jobs {
  padding-top:6px !important;
}
#block-adweek_mb_jobs-adweek-mb-jobs-home-right-block, #block-adweek_mb_jobs-adweek-mb-jobs-home-footer-block {
  width:316px;
  padding:0;
}
#block-adweek_mb_jobs-adweek-mb-jobs-home-footer-block {
  margin-bottom:18px;
}
.block-adweek_mb_jobs {
  font-family:Helvetica, Arial, sans-serif;
  height:auto;
}
.block-adweek_mb_jobs .mod-title {
  font:bold 22px/24px Flama, Helvetica, sans-serif;
  padding:0 0 6px 0;
  margin-bottom:10px;
  border-bottom:1px solid #ccc;
}
.block-adweek_mb_jobs ul {
  list-style:none;
  text-align:left;
  width:300px;
  padding:0;
}
.block-adweek_mb_jobs ul li {
  font-size:14px;
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
}
.block-adweek_mb_jobs ul li a {
  text-decoration:none;
}
.block-adweek_mb_jobs ul li .headline {
  display:block;
  color:#333;
  font:bold 14px/18px Helvetica, Arial, sans-serif;
}
.block-adweek_mb_jobs ul li .subheadline {
  display:block;
  color:#666;
  font:normal 14px/18px Helvetica, Arial, sans-serif;
}
.block-adweek_mb_jobs ul li .location {
  display:block;
  color:#999;
  font:normal 14px/18px Helvetica, Arial, sans-serif;
}
.block-adweek_mb_jobs .mb-jobs .mb-jobs-ftr a {
  color:#ed1d25;
  text-decoration:none;
  font:bold 16px/22px Flama, Helvetica, sans-serif;
}
.block-adweek_mb_jobs .mb-jobs .mb-jobs-ftr a:after {
  content: " »"
}