@charset "UTF-8";
/* unquote("600; font-weight: bold"); // dolphin-Browser workaround */
/* unquote("600; font-weight: bold"); // dolphin-Browser workaround */
/* line 11, ../../../scss/v4/desktop/_lvl1-old.scss */
#content { margin: 20px 0 0; }

/* line 14, ../../../scss/v4/desktop/_lvl1-old.scss */
#indx-srch { display: none; }

/* line 17, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst { background-color: #fbf3da; border: 1px solid #fddcaf; border-radius: 3px; padding: 15px 0px 15px 10px; }

/* line 23, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst li.kat-itm { border-top: 1px solid #fedeb5; padding: 10px 0 10px 100px; width: 74.5%; }

/* line 28, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst li.kat-itm:first-child { border-top: 0 none; padding: 0 0 10px 100px; }

/* line 32, ../../../scss/v4/desktop/_lvl1-old.scss */
span.lvl2-nav { color: #06c; font-size: 16px; font-weight: bold; }

/* line 37, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst ul { margin: 3px 0 0; }

/* line 40, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst ul li { border: 0 none; display: inline; line-height: 18px; }

/* line 45, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst ul li a { color: #767676; }

/* line 48, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst ul li .cmm { color: #767676; }

/* line 51, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c1, #kat-lst #c22259, #kat-lst #c24062 { background-position: 0 0; }

/* line 56, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst .ctgry-img { background-image: url("../../../img-v3/thumbmap.png"); background-repeat: no-repeat; margin: 1px 0 0 -90px; height: 60px; position: absolute; width: 75px; }

/* line 64, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c1, #kat-lst #c22259, #kat-lst #c24062 { background-position: 0 0; }

/* line 69, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c2, #kat-lst #c22260, #kat-lst #c24071 { background-position: 0 -60px; }

/* line 74, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c16, #kat-lst #c22274, #kat-lst #c24074 { background-position: 0 -120px; }

/* line 79, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c23, #kat-lst #c22281, #kat-lst #c24083 { background-position: 0 -180px; }

/* line 84, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c24, #kat-lst #c22282, #kat-lst #c24084 { background-position: 0 -240px; }

/* line 89, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c15, #kat-lst #c22273, #kat-lst #c24073 { background-position: 0 -300px; }

/* line 94, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c17, #kat-lst #c22275, #kat-lst #c24077 { background-position: 0 -360px; }

/* line 99, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c21, #kat-lst #c22279, #kat-lst #c24081 { background-position: 0 -420px; }

/* line 104, ../../../scss/v4/desktop/_lvl1-old.scss */
#kat-lst #c0 { /* Frühling: 480px; Sommer: 540px; Herbst: 600px; Winter: 660px; */ background-position: 0 -540px; }

/* line 107, ../../../scss/v4/desktop/_lvl1-old.scss */
#indx-rvws { padding-left: 45px; }

/** Bannerzone über "Aktuelle Tests", ausblenden **/
/* line 112, ../../../scss/v4/desktop/_lvl1-old.scss */
#dfp-rv-right { display: none; }

/* line 115, ../../../scss/v4/desktop/_lvl1-old.scss */
#indx-top-rvw { display: none; }

/* line 118, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr .img-box img.cover { border: 1px solid #dddddd; border-radius: 3px; max-height: 132px; }

/* line 123, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr .img-box-ls { width: 100px; overflow: hidden; }

/* line 127, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr .img-box img.zlogo { background: none repeat scroll 0 0 #ffffff; border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd; left: 1px; padding: 2px; position: absolute; top: 1px; }

/* line 136, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr .img-box img.shadow { display: block; }

/* line 139, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr { border-top: 1px solid #dddddd; padding: 15px 0; display: table; }

/* line 144, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr .img-box { position: relative; display: table-cell; vertical-align: middle; width: 25%; }

/* line 150, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr .indx-rvw-msg { padding-left: 5px; display: table-cell; vertical-align: top; width: 75%; }

/* line 156, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr .indx-rvw-msg p { display: inline; }

/* line 159, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr p { line-height: 16px; margin: 0; padding: 8px 0 0; }

/* line 164, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr h3 { color: #333; font-size: 16px; margin: 0; }

/* line 169, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr h3 a { color: #333; font-size: 16px; /*text-decoration: none;*/ }

/* line 174, ../../../scss/v4/desktop/_lvl1-old.scss */
.rvw-tsr h3 span { color: #333; font-weight: normal; }

/* line 178, ../../../scss/v4/desktop/_lvl1-old.scss */
.indx-info { color: #767676; display: inline-block; line-height: 16px; padding-top: 20px; vertical-align: top; width: 48%; margin-left: 2%; }
/* line 187, ../../../scss/v4/desktop/_lvl1-old.scss */
.indx-info:first-of-type { margin-left: 0; }

/* line 191, ../../../scss/v4/desktop/_lvl1-old.scss */
.indx-info .box { background: none repeat scroll 0 0 #f2f2f2; color: #333333; padding: 10px; }
/* line 196, ../../../scss/v4/desktop/_lvl1-old.scss */
.indx-info .box p:last-of-type { margin-bottom: 0; }

/* line 200, ../../../scss/v4/desktop/_lvl1-old.scss */
#disclaimer { padding-top: 20px; }

/* 2nd magnifying glass in resp header */
/* line 204, ../../../scss/v4/desktop/_lvl1-old.scss */
.indxzoom { display: none; }

/* line 10, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #header { z-index: 10; }
/* line 16, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1:not(.errr) #sbox input { font-size: 16px; margin: 0; width: 365px; }
/* line 25, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1:not(.errr) #search:not(.fe717) #sbox input:focus { border-color: transparent; }
/* line 30, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search { float: none; margin: 20px 0 25px; position: relative; z-index: 0; }
/* line 36, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search.fe717, .lvl1 #search.fe717.filled { border: none !important; }
/* line 41, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .wlcm { display: none; }
/* line 45, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .bgi { background-color: #f2f2f2; box-shadow: -50em 0 0 #f2f2f2, 50em 0 0 #f2f2f2, inset 2px 0 0 #f2f2f2, inset 2px 0 0 #f2f2f2; height: 343px; max-width: 958px; overflow: hidden; position: relative; width: 975px; }
/* line 54, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .bgi:before, .lvl1 #search .bgi:after { bottom: -5em; box-shadow: inset 10em 0 8em #f2f2f2; content: ''; pointer-events: none; position: absolute; top: -5em; width: 18em; z-index: 1; }
/* line 66, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .bgi:before { left: 0; }
/* line 70, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .bgi:after { right: -1px; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
/* line 75, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .bgi img { left: 1px; max-width: 956px; pointer-events: none; position: relative; top: 0; vertical-align: top; z-index: 0; }
/* line 86, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .cntnt { left: 0; position: absolute; top: 30%; z-index: 1; }
/* line 92, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .cntnt h1 { background-color: #fc7217; color: #ffffff; font-family: "Helvetica", Arial, sans-serif; font-size: 22px; font-weight: 200; padding: .4em; text-align: center; }
/* line 102, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .cntnt form { padding: .75em; }
/* line 106, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .cntnt .ac_input { border-color: transparent; box-sizing:  content-box; height: 28px; padding:  0 6px; outline: 1px solid #999999; width: 365px; }
/* line 115, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .cntnt .bttn { background: #fc7217; border: none; color: #ffffff; font-size: 14px; height: 32px; margin-left: .5em; position: static; text-shadow: none; }
/* line 125, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #search .cntnt .bttn:hover { background-color: #d95600; }
/* line 132, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 .ac_results { border: 1px solid #999999; border-top: none; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); margin-left: -1px; margin-top: 1px; }
/* line 139, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 .ac_results ul { border-color: transparent; -webkit-transition: height 150ms; transition: height 150ms; }
/* line 145, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts { margin-bottom: 20px; }
/* line 148, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts .abt-blcks { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; display: block; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
/* line 156, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts .abt-blcks .itm { display: inline-block; -webkit-box-flex: 0; -webkit-flex: 0 2 13%; -ms-flex: 0 2 13%; flex: 0 2 13%; text-align: center; vertical-align: top; width: 16.25%; }
/* line 163, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts .abt-blcks .itm p { line-height: 1.5; margin: 0; }
/* line 170, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts .icn { color: #fc7217; display: inline-block; }
/* line 174, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts .icn i { background-color: #f2f2f2; border-radius: 50%; display: block; font-size: 3em; height: 60px; position: relative; width: 60px; }
/* line 183, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts .icn i:before { left: 0; position: absolute; right: 0; text-align: center; top: .3em; }
/* line 193, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts h4 { font-size: 16px; margin: 10px 0 15px; }
/* line 197, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts h4 small { display: block; font-size: 12px; }
/* line 204, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-abts p a { color: #000000; }
/* line 210, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws { margin-bottom: 25px; padding: 0; }
/* line 214, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding-top: 20px; }
/* line 222, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .itm { border-top: none; display: inline-block; -webkit-box-flex: 0; -webkit-flex: 0 0 32%; -ms-flex: 0 0 32%; flex: 0 0 32%; margin-bottom: 2em; margin-right: 18px; padding: 0; position: relative; vertical-align: top; width: 31%; }
/* line 233, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .itm:nth-child(3n) { margin-right: 0; }
/* line 237, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .itm.scnd { margin-bottom: 0; max-height: 0; overflow: hidden; -webkit-transition: all 150ms; transition: all 150ms; }
/* line 245, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .img-box { display: inline-block; left: 0; position: absolute; top: 0; }
/* line 251, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .img-box .shadow { display: none; }
/* line 256, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .indx-rvw-msg { padding-left: 0; }
/* line 259, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .indx-rvw-msg:before { content: ''; display: block; float: left; height: 136px; width: 110px; }
/* line 267, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .indx-rvw-msg .rvwTxt { margin-top: 10px; }
/* line 272, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .rvw-lst .rlsd { color: #767676; display: block; margin: -5px 0 15px; }
/* line 279, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .mre-rvws { -webkit-font-smoothing: subpixel-antialiased; -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; background-color: #dddddd; -webkit-box-flex: 1; -webkit-flex: 1 0 100%; -ms-flex: 1 0 100%; flex: 1 0 100%; height: 1px; margin-top: -.5em; margin: .5em 0 1em; position: relative; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
/* line 290, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .mre-rvws:before { background: #fff; content: ''; height: 10px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 164px; z-index: 1; }
/* line 302, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .mre-rvws button { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-49%, -50%); -ms-transform: translate(-49%, -50%); transform: translate(-49%, -50%); width: 142px; z-index: 2; }
/* line 310, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .mre-rvws button span { font-weight: bold; }
/* line 314, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws .mre-rvws button .lss { display: none; }
/* line 321, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws.shw-mre-rvws .rvw-lst .itm.scnd { margin-bottom: 2em; max-height: 70em; overflow: hidden; }
/* line 327, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws.shw-mre-rvws .mre-rvws { margin-top: .5em; }
/* line 331, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws.shw-mre-rvws .bttn { -webkit-transform: translate(-49%, -50%); -ms-transform: translate(-49%, -50%); transform: translate(-49%, -50%); }
/* line 334, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws.shw-mre-rvws .bttn .lss { display: inline; }
/* line 338, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-rvws.shw-mre-rvws .bttn .mre { display: none; }
/* line 345, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats { margin-bottom: 20px; }
/* line 348, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; background-color: transparent; border: none; display: block; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding: 0; }
/* line 360, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst .kat-itm { border: none; display: inline-block; -webkit-box-flex: 1; -webkit-flex: 1 0 17%; -ms-flex: 1 0 17%; flex: 1 0 17%; height: 90%; margin-top: 20px; padding: 0 14px 0 70px; position: relative; vertical-align: top; width: 22%; }
/* line 372, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst .ctgry-img { background: #f2f2f2; border-radius: 50%; font-size: 1em; height: 60px; margin-left: -70px; width: 60px; }
/* line 380, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst .ctgry-img:before { color: #fc7217; display: block; font-size: 3em; left: 0; position: relative; right: 0; text-align: center; top: .28em; }
/* line 392, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c0:before { content: "\e901"; }
/* line 396, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c1:before { content: "\e903"; }
/* line 400, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c2:before { content: "\e902"; top: .4em; }
/* line 405, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c16:before { content: "\e900"; top: .3em; }
/* line 410, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c23:before { content: "\e904"; }
/* line 414, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c24:before { content: "\e909"; }
/* line 418, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c15:before { content: "\e905"; }
/* line 422, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c17:before { content: "\e90a"; }
/* line 426, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-kats #kat-lst #c21:before { content: "\e908"; }
/* line 432, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-prtnrs { margin-bottom: 20px; }
/* line 435, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-prtnrs .shwll { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 12px; margin-top: 10px; }
/* line 443, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-prtnrs .prtnrs-lst { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; display: block; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding-top: 20px; width: 100%; }
/* line 454, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-prtnrs .prtnrs-lst .itm { display: inline-block; -webkit-box-flex: 0; -webkit-flex: 0 1 10%; -ms-flex: 0 1 10%; flex: 0 1 10%; min-width: 0; text-align: center; width: 10%; }
/* line 461, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1 #indx-prtnrs .prtnrs-lst .itm img { max-height: 100px; max-width: 100%; }

/* line 471, ../../../scss/v4/desktop/desktop-lvl1.scss */
.indx-info p { line-height: 1.5; margin-top: 0; }
/* line 476, ../../../scss/v4/desktop/desktop-lvl1.scss */
.indx-info h3 { color: #333333; display: inline; font-size: 12px; margin: 0; }

/* line 484, ../../../scss/v4/desktop/desktop-lvl1.scss */
.lvl1.msie #search .cntnt .bttn, .lvl1.webkit #search .cntnt .bttn { margin-left: .7em; }

/*# sourceMappingURL=desktop-lvl1.css.map */