* {
	margin: 0 auto;
	padding: 0;
	outline: 0
}

html {
	_background-image: url(about:blank);
	_background-attachment: fixed;
	-webkit-text-size-adjust: none
}

body {
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,SimSun;
	font-size: 14px;
	line-height: 26px;
	color: #222
}

a {
	color: #222;
	text-decoration: none
}

a:hover {
	color: #ff7d00
}

ul {
	list-style: none outside none
}

img {
	border: none
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400
}

input {
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,SimSun;
	font-size: 12px
}

.cor666,.cor666 a {
	color: #666
}

.cor666 a:hover {
	color: #ff7d00
}

.cor999,.cor999 a {
	color: #999
}

.cor999 a:hover {
	color: #ff7d00
}

.fred {
	color: red
}

.fred:hover {
	color: #ff7d00
}

.f12 {
	font-size: 12px
}

.f16 {
	font-size: 16px
}

.f18 {
	font-size: 18px
}

.f24 {
	font-size: 24px
}

.fb {
	font-weight: 700
}

.tc {
	text-align: center
}

.overhide {
	overflow: hidden
}

.ml15 {
	margin-left: 15px
}

.mb10 {
	margin-bottom: 10px
}

.mb14 {
	margin-bottom: 14px
}

.mb15 {
	margin-bottom: 15px
}

.mb16 {
	margin-bottom: 16px
}

.mb20 {
	margin-bottom: 20px
}

.mb25 {
	margin-bottom: 25px
}

.mt5 {
	margin-top: 5px
}

.pt5 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pt15 {
	padding-top: 15px
}

.pb15 {
	padding-bottom: 15px
}

.pb10 {
	padding-bottom: 10px
}

.pb20 {
	padding-bottom: 20px
}

.pb25 {
	padding-bottom: 25px
}

.h80 {
	height: 80px
}

.h95 {
	height: 95px
}

.imgDef a:hover img {
	opacity: .8;
	filter: alpha(opacity=80)
}

.dis {
	display: block
}

.disn {
	display: none
}

.fl {
	float: left;
	_display: inline
}

.fr {
	float: right;
	_display: inline
}

.cf:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.cf {
	*zoom: 1
}

.clear {
	clear: both
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition-property: -webkit-transform,left,top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px,0,0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform,left,top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px,0,0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform,left,top;
	-o-transition-duration: 0s;
	-o-transform: translate3d(0px,0,0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0px,0);
	-ms-transition-property: -ms-transform,left,top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px,0,0);
	-ms-transition-timing-function: ease;
	transition-property: transform,left,top;
	transition-duration: 0s;
	transform: translate3d(0px,0,0);
	transition-timing-function: ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-free-mode>.swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto
}

.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-wp8-horizontal {
	-ms-touch-action: pan-y
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x
}

.sp {
	background: url(b3708sp.png) no-repeat;
	_background: url(b3708sp1.png) no-repeat
}

.w660 {
	width: 660px
}

.list li {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	overflow: hidden
}

.list li img {
	vertical-align: middle
}

.box {
	width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
	background: #fff;
	clear: both
}

.l,.m,.r {
	width: 320px
}

.m {
	padding-left: 20px;
	padding-right: 20px
}

.topHeader {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	_top: expression(documentElement.scrollTop + 'px');
	width: 100%;
	height: 50px;
	background-color: #FFF;
	background-color: rgba(255,255,255,.9);
	*background-color: #FFF;
	z-index: 100;
	display: none;
	border-bottom: 1px solid #e3dfdc\9;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	box-shadow: 0 2px 3px rgba(0,0,0,.15)
}

.topHeader a:hover {
	color: #004EA2
}

.topHeader .box {
	background: 0 0
}

.ddLogo {
	width: 118px;
	height: 30px;
	background-position: -136px -50px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	_display: inline
}

.ddRightInfo {
	float: right;
	line-height: 50px
}

.ddRightInfo a {
	float: right;
	margin-right: 15px;
	_display: inline
}

.banner {
	position: relative;
	z-index: 32;
	height: 80px;
	background: #fff
}

.banner a:hover {
	color: #004EA2
}

.logo {
	width: 185px;
	height: 47px;
	margin-top: 18px;
	background-position: -55px -1px
}

.bannerAd {
	width: 380px;
	height: 60px;
	margin-left: 32px;
	margin-top: 10px
}

.bannerAd img {
	width: 100%;
	height: 100%
}

.rightInfo {
	width: 395px;
	height: 35px;
	margin-top: 34px
}

.rightInfo .popLayer {
	top: 35px;
	right: -1px;
	_right: 0
}

.rightInfo .loginUserPop {
	right: -2px;
	_right: -1px
}

.rightInfo .loginBtn,.rightInfo .searchBtn {
	width: 35px;
	height: 35px;
	line-height: 35px
}

.rightInfo .loginA,.rightInfo .searchBtnA {
	width: 34px;
	height: 34px;
	line-height: 34px
}

.rightInfo .loginUserBtn,.rightInfo .loginUserBtn .loginA {
	width: 115px
}

.rightInfo .loginTxtR {
	float: left;
	width: 0;
	height: 0;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	border-top: 5px solid #c8c8c8;
	margin-top: 17px;
	overflow: hidden
}

.rightInfo .loginTxtRHover {
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
	border-top: 5px solid #014da1;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: all .25s ease 0s;
	-webkit-transition: all .25s ease 0s
}

.rightInfoA {
	float: right;
	cursor: pointer;
	line-height: 35px;
	padding-left: 13px
}

.rightInfoASy {
	padding-left: 10px
}

.searchIcon {
	display: block;
	width: 15px;
	height: 15px;
	margin-top: 10px;
	background-position: -18px 0;
	overflow: hidden
}

.searchPop {
	width: 195px;
	padding: 0 15px;
	height: 85px
}

.searchText {
	position: relative;
	margin-top: 15px;
	width: 138px;
	background-color: #FFF;
	border: 1px solid #B1D7FF;
	border-radius: 4px;
	font-size: 14px;
	padding: 5px 45px 5px 10px;
	line-height: 20px;
	height: 20px
}

.searchGo {
	position: absolute;
	font-size: 14px;
	top: 15px;
	*top: 16px;
	right: 15px;
	line-height: 32px;
	*line-height: 16px;
	height: 32px;
	color: #54a6ff;
	cursor: pointer;
	width: 40px;
	text-align: center;
	border: none;
	background: 0 0;
	border-left: 1px solid #B1D7FF
}

.searchGo:hover {
	color: #004EA2
}

.searchGoCur {
	border-left: 1px solid #127aeb
}

.loginBtn,.searchBtn {
	float: right;
	position: relative
}

.loginA,.searchBtnA {
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 100;
	border: 1px solid transparent;
	_border: 1px solid #FFF;
	_border-bottom: none
}

.loginACur,.searchBtnACur {
	background-color: #FFF;
	border: 1px solid #e3dfdc;
	border-bottom: 1px solid #FFF
}

.loginACur .loginIcon,.searchBtnACur .loginIcon {
	background-position: 0 -18px
}

.loginACur .searchIcon,.searchBtnACur .searchIcon {
	background-position: -18px -18px
}

.loginUserBtn {
	display: none;
	float: right;
	position: relative
}

.wellcomTxt {
	float: left;
	line-height: 33px;
	display: none
}

.loginIcon {
	display: block;
	width: 14px;
	height: 15px;
	background-position: 0 0;
	margin-top: 10px;
	overflow: hidden
}

.loginTxt {
	float: left;
	width: 85px;
	text-align: center;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 10px;
	_display: inline
}

a.loginA:hover,.loginACur .loginTxt {
	color: #004EA1
}

.popLayer {
	background-color: #FFF;
	border: 1px solid #e3dfdc;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 99;
	display: none;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	box-shadow: 0 2px 3px rgba(0,0,0,.15)
}

.popLayer input:focus::-webkit-input-placeholder {
	color: #d9d9d9!important;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	transition: color .5s ease-out
}

.popLayer input:focus:-moz-placeholder {
	color: #d9d9d9!important;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	transition: color .5s ease-out
}

.popLayer input:focus::-moz-placeholder {
	color: #d9d9d9!important;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	transition: color .5s ease-out
}

.popLayer input:focus:-ms-input-placeholder {
	color: #d9d9d9!important;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	transition: color .5s ease-out
}

.loginPop .loginUser {
	width: 170px
}

.loginPop .loginReg {
	width: 218px;
	padding-top: 15px
}

.loginPop .loginUserA {
	text-align: center;
	line-height: 40px;
	display: block
}

.loginPop .loginUserA:hover {
	color: #004EA2
}

.loginPop .loginUserABorder {
	border-bottom: 1px solid #ccc9c6
}

.loginPop .textIn {
	width: 168px;
	background-color: #FFF;
	border: 1px solid #B1D7FF;
	border-radius: 4px;
	font-size: 14px;
	color: #666;
	padding: 5px 10px;
	line-height: 18px;
	height: 18px;
	margin-left: 15px
}

.loginPop .error {
	border: 1px solid red
}

.loginPop .error:focus {
	border: 1px solid red
}

.loginPop .rCheckBoxBtn {
	position: relative;
	cursor: pointer;
	padding-left: 20px;
	color: #666
}

.loginPop .rCheckBox {
	position: absolute;
	top: 3px;
	*top: 2px;
	_top: -2px;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=100);
	cursor: pointer
}

.loginPop .rCheckBoxIcon {
	position: absolute;
	top: 2px;
	left: 0;
	border-radius: 4px;
	border: 1px solid #B1D7FF;
	width: 13px;
	height: 13px;
	background-color: #FFF;
	filter: alpha(opacity=0)
}

.loginPop .rCheckBoxIconCur {
	background-position: -136px -87px
}

.loginPop .loginSubmit {
	width: 190px;
	background-color: #e0f0fe;
	border-radius: 4px;
	line-height: 35px;
	height: 35px;
	margin-left: 14px;
	margin-right: 14px;
	border: none;
	cursor: pointer;
	color: #0068d7;
	font-size: 14px;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out
}

.loginPop .loginSubmit:hover {
	background-color: #004ea1;
	color: #FFF;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out
}

.loginPop .regBtn {
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 30px
}

.loginPop .rememberForget {
	height: 17px;
	line-height: 17px;
	overflow: hidden;
	margin-left: 14px;
	margin-right: 14px
}

.loginPop .errTip {
	color: red;
	text-align: center;
	line-height: 20px;
	margin-bottom: 5px
}

.textIn:hover,.searchText:hover {
	-webkit-box-shadow: inset 0 0 2px #B1D7FF;
	-moz-box-shadow: inset 0 0 2px #B1D7FF;
	box-shadow: inset 0 0 2px #B1D7FF
}

.textIn:focus,.searchText:focus {
	border: 1px solid #127aeb
}

.textIn:focus:hover,.searchText:focus:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.navbar {
	background-color: #004ea2;
	padding: 11px 0
}

.siteNavBox {
	width: 1000px
}

.siteNav {
	width: 1017px
}

.siteNavList {
	padding-left: 22px;
	border-right: 1px solid #549cea;
	float: left;
	width: 181px
}

.firstSiteNav {
	padding-left: 5px;
	width: 195px
}

.lastSiteNav {
	border-right: none
}

.navItem {
	float: left;
	margin-right: 16px;
	_display: inline;
	word-break: keep-all
}

.siteNavLink {
	color: #8bb9eb
}

.lightWhite {
	color: #e2f0ff
}

.subNav {
	position: relative;
	z-index: 25;
	width: 100%;
	height: 30px;
	background: #FFF;
	border-bottom: 1px solid #e3dfdc\9;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	box-shadow: 0 2px 3px rgba(0,0,0,.15)
}

.subNav li {
	float: left;
	margin-right: 16px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	color: #004ea2
}

.subNav li.noa {
	margin-right: 14px;
	_display: inline
}

.subNav li.noa a {
	color: #004ea2
}

.subNav li.noa a:hover {
	color: #ff7d00
}

.subNav li.noa1 {
	margin-left: 5px;
	margin-right: 13px
}

.subNav li.subNavScrollZz {
	width: 135px;
	overflow: hidden;
	margin-right: 0
}

.subNav li.subSite {
	position: relative;
	width: 10px;
	cursor: pointer;
	margin-left: -20px
}

.subNav li.subSite li {
	height: 20px;
	margin-right: 18px;
	line-height: 20px;
	margin-bottom: 5px;
	vertical-align: middle;
	overflow: hidden
}

.subNav li.subSiteXsb li {
	margin-left: 15px;
	margin-right: 5px;
	_display: inline
}

.subNav li.subSiteZz {
	margin-right: 0;
	margin-left: -10px
}

.subNav li.subNavScrollXsb {
	width: 145px;
	overflow: hidden
}

.subarrow {
	position: absolute;
	top: 13px;
	z-index: 10;
	width: 0;
	height: 0;
	line-height: 0;
	margin-left: 0;
	font-size: 0;
	border-color: #004EA2 transparent transparent;
	border-style: solid dashed dashed;
	border-width: 5px 5px 0;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transition: all .25s ease 0s
}

.subarrowHover {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: all .25s ease 0s
}

.subSiteSelect {
	position: absolute;
	top: 30px;
	right: -4px;
	_right: -5px;
	display: none;
	z-index: 1000;
	width: 998px;
	border: 1px solid #e3dfdc;
	background: #FFF;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
	box-shadow: 0 2px 3px rgba(0,0,0,.15)
}

.subSiteSelect ul {
	padding: 10px 0 5px 24px;
	_padding: 10px 0 5px 15px
}

.subSiteSelectXsb {
	right: -204px;
	_right: -205px
}

.subSiteSelectXsb ul {
	padding: 10px 0 5px
}

.topicLeaderBox {
	height: 120px;
	overflow: hidden
}

.hotNews {
	width: 690px;
	text-align: center
}

.hotNews .hotNewsTopic {
	line-height: 50px;
	height: 50px;
	overflow: hidden;
	margin: 15px 0;
	font-size: 34px
}

.hotNews .hotNewsSubTit {
	line-height: 25px;
	height: 25px;
	overflow: hidden
}

.hotNews img {
	vertical-align: middle
}

.hotNewsJt {
	padding-top: 5px
}

.hotNewsJt .hotNewsTopic2 {
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	overflow: hidden
}

.hotNewsJt .hotNewsTopic {
	margin: 0
}

.hotNewsMore {
	_font-family: "宋体";
	width: 28px;
	height: 118px;
	border: 1px solid #DEDEDE;
	border-radius: 2px;
	text-align: center;
	letter-spacing: 2px;
	margin-left: 20px;
	margin-right: 10px;
	writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	*writing-mode: tb-rl;
	text-orientation: upright
}

.hotNewsMore:hover {
	border-color: #FF7D00
}

.rxList {
	height: 78px;
	overflow: hidden;
	margin-top: 5px
}

.leader {
	width: 250px;
	position: relative;
	padding-top: 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.leaderBtn {
	width: 15px;
	height: 15px;
	display: block;
	background-position: -37px 0;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -2px
}

.leaderBtnBk {
	cursor: pointer
}

.leaderBtnBk .leaderBtnTxt {
	color: #666
}

.leaderBtnBk:hover .leaderBtnTxt {
	color: #004EA2
}

.leaderBtnBk:hover .leaderBtn {
	background-position: -37px -18px;
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg)
}

.leaderBtnTxt {
	position: absolute;
	right: 20px;
	top: -7px;
	font-size: 12px
}

.leaderList li {
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	overflow: hidden
}

.leaderList li img {
	vertical-align: middle
}

.leaderListFocus {
	height: 30px;
	line-height: 30px
}

.leaderListFocus a {
	color: #f70;
	font-size: 16px
}

.secondTit {
	position: relative;
	height: 17px
}

.secondTitTip {
	position: absolute;
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	color: #004ea2;
	background: #fff;
	padding-right: 10px;
	top: 0;
	left: 0
}

.secondTitLine {
	position: absolute;
	top: 7px;
	left: 0;
	width: 100%;
	height: 3px;
	line-height: 0;
	font-size: 0;
	background-color: #dedede;
	overflow: hidden
}

.jsbYwBox {
	margin-bottom: 15px;
	*margin-bottom: 0
}

.jsbList li {
	line-height: 32px;
	height: 32px
}

.focusImgBk,.swiper-container,.swiper-slide {
	width: 660px;
	height: 370px
}

.focusImgBk {
	margin-bottom: 15px;
	position: relative
}

.focusImgBk .swiper-slide {
	position: relative;
	cursor: pointer
}

.focusImgBk .focusImg {
	width: 100%;
	height: 100%;
	display: block
}

.focusImgBk .focusTit {
	width: 500px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 150px 0 10px;
	font-size: 20px;
	color: #fff;
	z-index: 3;
	background: rgba(0,0,0,.38);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000')
}

.focusImgBk .pagination {
	position: absolute;
	right: 0;
	text-align: center;
	bottom: 17px;
	width: 140px;
	z-index: 9
}

.focusImgBk .swiper-pagination-switch {
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #adb6c1;
	margin-right: 10px;
	cursor: pointer;
	overflow: hidden
}

.focusImgBk .swiper-active-switch {
	background: #004ea2
}

.focusImgBk .focusBtn {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 150px;
	background-color: #FFF;
	background: rgba(255,255,255,.3);
	z-index: 9;
	cursor: pointer;
	display: none
}

.focusImgBk .focusBtn:hover {
	background-color: #FFF;
	background: rgba(255,255,255,.6)
}

.focusImgBk .focusBtnIcon {
	display: block;
	width: 11px;
	height: 22px;
	margin-top: 9px
}

.focusImgBk .focusBtnL {
	left: 15px
}

.focusImgBk .focusBtnL .focusBtnIcon {
	background-position: -153px -83px
}

.focusImgBk .focusBtnR {
	right: 15px
}

.focusImgBk .focusBtnR .focusBtnIcon {
	background-position: -172px -83px
}

.videoListUl {
	width: 675px;
	height: 155px
}

.videoListLi {
	width: 210px;
	height: 155px;
	float: left;
	margin-right: 15px;
	cursor: pointer;
	position: relative
}

.videoListLi .videoImg {
	position: relative;
	width: 210px;
	height: 120px
}

.videoListLi img {
	display: block;
	width: 100%;
	height: 100%
}

.videoListLi .icon {
	width: 27px;
	height: 20px;
	background-position: -185px -84px;
	position: absolute;
	top: 10px;
	left: 10px
}

.videoListLi .titA {
	width: 210px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	display: block
}

.videoListLi .videoPlay {
	position: absolute;
	width: 210px;
	height: 120px;
	top: 0;
	left: 0;
	display: none
}

.videoListLi .videoPlay #zjol-video {
	width: 210px;
	height: 120px;
	margin: 0
}

.videoListLi .videoPlay .videoClose {
	width: 14px;
	height: 14px;
	background-position: -242px -1px;
	position: absolute;
	right: 0;
	top: 0
}

.videoImgHover .icon {
	background-position: -218px -84px
}

.commentListL {
	width: 130px
}

.commentListR {
	width: 180px
}

.imgTitAbsList {
	margin-bottom: 5px
}

.imgTitAbsList img {
	float: left;
	width: 140px;
	height: 80px;
	margin-right: 10px
}

.imgTitAbsListTit {
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	overflow: hidden;
	cursor: pointer
}

.imgTitAbsListAbs {
	line-height: 20px;
	height: 40px;
	overflow: hidden
}

.advCon {
	width: 100%
}

.advCon img {
	width: 100%;
	height: 100%
}

.qmtjz {
	width: 999px;
	height: 49px;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede
}

.qmtjzLi {
	width: 79px;
	line-height: 40px;
	padding: 4px 0;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	float: left;
	text-align: center
}

.qmtjzLi span {
	display: block;
	line-height: 20px
}

.qmtjzLiB {
	width: 118px;
	color: #004ea2
}

.qmtjzIcon {
	width: 0;
	height: 0;
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
	border-top: 5px solid #c8c8c8;
	position: absolute;
	top: 22px;
	right: 3px;
	margin-left: 3px;
	overflow: hidden;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all .25s ease 0s;
	transition: all .25s ease 0s
}

.qmtjzLiHover {
	border-bottom: 1px solid #FFF;
	color: #004EA2
}

.qmtjzLiHover .qmtjzIcon {
	border-top: 5px solid #004EA2;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .25s ease 0s;
	transition: all .25s ease 0s
}

.qmtjzMore {
	cursor: pointer;
	position: relative;
	text-indent: -10px
}

.secQmtjz {
	display: none;
	position: absolute;
	left: -1px;
	top: 49px;
	line-height: 30px;
	border: 1px solid #dedede;
	border-top: none;
	background-color: #FFF;
	z-index: 9;
	padding: 5px 0
}

.secQmtjzLi {
	width: 79px;
	text-align: center;
	float: left;
	color: #222;
	text-indent: 0
}

.secQmtjzLast {
	right: -1px;
	left: auto
}

.col1 {
	width: 79px
}

.col2 {
	width: 159px
}

.col3 {
	width: 239px
}

.col4 {
	width: 319px
}

.firstTit {
	position: relative;
	height: 30px
}

.firstTitLine {
	position: absolute;
	top: 13px;
	left: 0;
	width: 100%;
	height: 5px;
	line-height: 0;
	font-size: 0;
	background: #dedede
}

.firstTitTip {
	position: absolute;
	top: 0;
	left: 35px;
	height: 30px;
	line-height: 28px;
	*line-height: 30px;
	vertical-align: middle;
	padding: 0 22px;
	font-size: 24px;
	font-weight: 700;
	color: #024ca1;
	background: #fff
}

.imgTitLink {
	position: relative;
	display: block;
	color: #fff
}

.imgTitLink:hover {
	color: #fff
}

.bImg {
	width: 100%;
	margin-bottom: 16px
}

.bImg img {
	display: block;
	width: 320px;
	height: 180px
}

.bImgTitBg {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 60px;
	background: url(b3708bg.png) repeat-x;
	_background: 0 0;
	_background-color: #000;
	_filter: alpha(opacity=60)
}

.bImgTit {
	position: absolute;
	bottom: 7px;
	left: 10px;
	max-height: 44px;
	line-height: 22px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: 700;
	_height: expression( this.scrollHeight > 44 ? '44px' : 'auto' );
	overflow: hidden;
	text-shadow: .5px .87px .99px rgba(0,0,0,.88);
	cursor: pointer
}

.sImg {
	position: relative;
	top: 4px;
	float: left;
	width: 140px;
	height: 80px
}

.sImg img {
	display: block;
	width: 140px;
	height: 80px
}

.sImgTit {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	width: 130px;
	font-size: 14px;
	overflow: hidden;
	cursor: pointer;
	background: rgba(0,0,0,.4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000')
}

.titAbsTit {
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	font-weight: 700;
	overflow: hidden
}

.titAbsTit img {
	vertical-align: middle
}

.titAbsAbs {
	height: 40px;
	line-height: 20px;
	margin-bottom: 11px;
	overflow: hidden
}

.pl150 {
	padding-left: 150px
}

.friendLinkBox {
	width: 1001px;
	height: 143px;
	padding-bottom: 15px;
	overflow: hidden
}

.friendLink {
	height: 44px;
	border-bottom: 1px solid #cdcdcd
}

.linkTitle {
	position: relative;
	width: 324px;
	height: 45px;
	text-align: center;
	background: url(b3708bg1.jpg) no-repeat
}

.linkTitleLi {
	float: left;
	width: 77px;
	text-align: center;
	font-size: 16px;
	line-height: 44px;
	cursor: pointer
}

.linkTitleSpan {
	display: block;
	width: 77px
}

.linkTitleSpanCur {
	width: 77px;
	color: #004EA2
}

.linkCons {
	display: none;
	height: 88px;
	padding-top: 10px;
	text-align: center
}

.linkLi {
	display: inline;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	margin: 0 15px 0 5px
}

.linkOn {
	display: block
}

.linkConsTxtL .linkLi {
	display: block;
	float: left;
	width: 91px;
	margin: 0;
	text-align: left
}

#footer {
	line-height: 24px;
	text-align: center;
	border-top: 1px solid #cdcdcd;
	background: #fff
}

#footer .ftLink {
	height: 24px
}

#footer .box {
	padding-top: 39px;
	padding-bottom: 10px
}

.ftImgTxt {
	display: block;
	width: 1000px;
	height: 60px;
	text-align: left;
	overflow: hidden
}

.ftImgTxt .tc {
	padding-left: 0;
	width: 148px
}

.ftImgTxtA {
	float: left;
	width: 143px;
	height: 50px;
	line-height: 22px;
	margin-right: 20px;
	padding-top: 8px;
	padding-left: 5px;
	border: 1px solid #cdcdcd
}

.ftjc {
	line-height: 40px
}

.ftba {
	margin-right: 0
}

.ftwfIcon {
	width: 44px;
	height: 37px;
	margin-right: 8px;
	margin-top: 5px;
	background-position: -46px -64px
}

.ftwmIcon {
	width: 43px;
	height: 43px;
	margin-right: 8px;
	background-position: -2px -58px
}

.ftjcIcon {
	width: 43px;
	height: 44px;
	margin-right: 8px;
	background-position: -92px -56px
}

.ftLinkA {
	display: inline-block;
	padding-right: 8px;
	padding-left: 4px;
	height: 16px;
	line-height: 16px;
	border-right: 1px solid #999
}

.ftLinkALast {
	border: none
}

.backTop {
	display: none;
	position: fixed;
	_position: absolute;
	right: 10px;
	bottom: 10px;
	_top: expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-10+'px');
	width: 63px;
	height: 54px;
	border: 1px solid #e1e0dc;
	background: #fff;
	z-index: 9999;
	cursor: pointer
}

.backTopIcon {
	display: block;
	margin-top: 20px;
	width: 42px;
	height: 17px;
	background-position: -1px -37px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.backTopHover {
	background-color: #eee;
	_background-color: #fff
}