/* Table of Content
==================================================
    #Normalize    
  #Basic Styles
  #Typography
  #Lists
  #MSU Masthead 
  #Search Tool
  #Desktop/Responsive Navigation
  #Example Site Styles Content
  #Standard Footer 
  #Grid Based Column Widths
  /

 


/* #Normalize 
================================================== */

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;  /* 1 */
  -ms-text-size-adjust: 100%;  /* 2 */
  -webkit-text-size-adjust: 100%;  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;  /* 1 */
  vertical-align: baseline;  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
a:active, a:hover {
  outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
img.img-right, img.img-left {
  float: none;
  padding: 6px 0px 6px 0px;
}
@media (min-width:894px) {
  img.img-right {
    float: right;
    padding: 6px 0px 6px 6px;
  }
}
@media (min-width:894px) {
  img.img-left {
    float: left;
    padding: 6px 6px 6px 0px;
  }
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;  /* 1 */
  font: inherit;  /* 2 */
  margin: 0;  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"] {
  -webkit-appearance: button;  /* 2 */
  cursor: pointer;  /* 3 */
}
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;  /* 2 */
  cursor: pointer;  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;    /* 1 */
  padding: 0;    /* 2 */
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;    /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;    /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;  /* 1 */
  padding: 0;  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}

/* #Basic Styles
================================================== */

/* Typefaces */

/* Descriptive Colors */

/* Functional Colors */
body {
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
}
a {
  color: #835d41;
  text-decoration: underline;
  outline: 0;
}
a:visited {
  color: #835d41;
  text-decoration: underline;
  outline: 0;
}
a:hover, a:focus {
  color: #333333;
}
p a {
  line-height: inherit;
}
p a:visited {
  line-height: inherit;
}
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}
.hide {
  position: absolute;
  left: -9999px;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #00723f;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}
@media print {
  h1, h2, h3, h4, h5, h6 {
    color: #222222 !important;
  }
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 18px;
}
h2 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 14px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 6px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
.subheader {
  color: #777777;
}
p {
  margin: 0 0 20px 0;
}
p img {
  margin: 0;
}
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777777;
}
em {
  font-style: italic;
}
small {
  font-size: 80%;
}

/*    Blockquotes  */
blockquote {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  font-style: italic;
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #dddddd;
}
blockquote p {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  font-style: italic;
}
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a {
  color: #555555;
}
blockquote cite a:visited {
  color: #555555;
}
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px;
}
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
  margin-left: 30px;
}
ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}
ul.square {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.disc {
  list-style: disc outside;
}
ul ul, ul ol {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}
ul ul li, ul ol li {
  margin-bottom: 6px;
}
ol ol li, ol ul li {
  margin-bottom: 6px;
}
li {
  line-height: 18px;
  margin-bottom: 12px;
}
ul.large li, li p {
  line-height: 21px;
}

/* #MSU Masthead
================================================== */
#msu-masthead {
  height: 60px;
  padding-left: 12px;
}
@media (min-width:964px) {
  #msu-masthead {
    padding-left: 0px;
  }
}
#msu-masthead a:focus img {
  border-bottom: 1px solid #fff;
}
#msu-masthead img {
  padding-top: 16px;
  width: 210px;
}
@media (min-width:360px) {
  #msu-masthead img {
    padding-top: 14px;
    width: 254px;
  }
}
@media (min-width:460px) {
  #msu-masthead img {
    padding-top: 10px;
    width: 304px;
  }
}
#msu-masthead img.print-msugraphic {
  display: none;
}
@media print {
  #msu-masthead img.print-msugraphic {
    display: block;
  }
}
@media print {
  #msu-masthead img {
    display: none;
  }
}
.u-header-column {
  width: 68%;
  float: left;
  position: relative;
}
@media (min-width:894px) {
  .u-header-column {
    width: 45%;
  }
}
.oldie #msu-masthead img {
  width: 300px;
}

/* #Search Tool
================================================== */
.u-search-column {
  width: 20%;
  float: right;
  position: relative;
}
@media (min-width:894px) {
  .u-search-column {
    width: 50%;
  }
}
#search-wrapper-mobile {
  display: block;
  float: left;
  padding: 2% 0 0 14px;
  width: 100%;
}
@media (min-width:894px) {
  #search-wrapper-mobile {
    display: none;
  }
}
.js-nav #search-wrapper {
  display: none;
}

/*hides search at mobile to avoid build flash */
#search-wrapper  #search-tool-box {
  display: none;
}
@media (min-width:894px) {
  #search-wrapper  #search-tool-box {
    display: block;
  }
}
#search-wrapper {
  padding-right: 0px;
  margin-top: 17px;
}
@media (min-width:894px) {
  #search-wrapper {
    padding-right: 12px;
  }
}
@media (min-width:964px) {
  #search-wrapper {
    padding-right: 0px;
  }
}
#search-tool-box {
  background: white;
  border: 1px solid #999999;
  border-radius: 3px;
  float: none;
  width: 90%;
  margin-bottom: 12px;
  height: 28px;
}
@media (min-width:894px) {
  #search-tool-box {
    width: 319px;
    float: right;
  }
}
#search-tool-box input#q {
  width: 80%;
  padding-left: 8px;
  border: 0px;
  background-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  color: #666666;
  font-size: 12px;
  font-weight: normal;
  float: left;
  height: 26px;
  outline: none;
}
@media (min-width:894px) {
  #search-tool-box input#q {
    width: 252px;
  }
}
#btn_search {
  height: 28px;
  width: 34px;
  background: white url(../images/rwd2014/icon-search.png) no-repeat center;
  cursor: pointer;
  outline: 0px none;
  border: 0pc none;
  float: right;
  margin: 0 auto;
  text-indent: -9999px;
  text-transform: capitalize;
  border-radius: 0px 3px 3px 0px;
}
#btn_search:hover, #btn_search:focus {
  -webkit-box-shadow: inset 0 0px 60px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0px 60px rgba(0, 0, 0, 0.3);
}
#bottom-nav-search-box {
  height: 28px;
  width: 93%;
  background: white;
  border: 1px solid #999999;
  border-radius: 3px;
  margin-left: 12px;
}
@media (min-width:460px) {
  #bottom-nav-search-box {
    width: 86%;
  }
}
#bottom-nav-search-box input#q {
  width: 76%;
  padding-left: 10px;
  border: 0px;
  font-size: 12px;
  outline: none;
  margin-top: 5px;
}
.no-js .u-search-column, .no-js .u-header-column {
  width: 100%;
  float: none;
}

/* #Desktop/Responsive Navigation
================================================== */
#home-icon a span {
  text-indent: none;
  background: transparent;
  color: white;
}
@media (min-width:894px) {
  #home-icon a span {
    display: inline-block;
    width: 30px;
    height: 28px;
    padding-left: 8px;
    background: url(../images/rwd2014/home_icon.png) center no-repeat;
    text-indent: -9999px;
    text-transform: capitalize;
  }
}
@media (min-width:894px) {
  #home-icon a:hover span, #home-icon a:focus span, .home-pageID #home-icon a span {
    background: url(../images/rwd2014/home_icon_white.png) center no-repeat;
  }
}
@media (min-width:894px) {
  li.active#home-icon a span {
    background: url(../images/rwd2014/home_icon_white.png) center no-repeat;
  }
}
li.active#home-icon a:focus {
  outline: 1px solid #fff;
}
.no-js .u-nav-btn {
  display: none;
}
#outer-wrap {
  width: 100%;
  overflow: hidden;
}
#inner-wrap {
  width: 100%;
  position: relative;
}
.js-ready #inner-wrap {
  right: 0px;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
}
.js-nav #inner-wrap {
  right: 300px;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
  position: fixed;
}
.js-nav #dim-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333;
  opacity: .6;
  z-index: 5;
}
#desktop-nav-wrapper #nav {
  display: none;
}
@media (min-width:894px) {
  #desktop-nav-wrapper #nav {
    display: table;
  }
}
#nav {
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 0;
  background: #444;
}
@media (min-width:894px) {
  #nav {
    height: 28px;
    background: #dfdfd7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #dfdfd7), to(#8b8b81));
    background: -webkit-linear-gradient(top, #dfdfd7 11%, #8b8b81 100%);
    background: linear-gradient(to bottom, #dfdfd7 11%, #8b8b81 100%);
    border-radius: 5px;
    display: table;
    z-index: 9998;
    position: relative;
    width: auto;
    color: #333333;
    right: 0px;
    margin: 0px 12px;
  }
}
@media (min-width:964px) {
  #nav {
    width: 100%;
    margin: 0 auto;
  }
}
#nav .nav_caret {
  display: none;
}
#nav .close-btn {
  position: absolute;
  top: -3.75em;
  right: 1.875em;
}
@media (min-width:894px) {
  #nav .close-btn {
    display: none;
  }
}
#nav ul {
  clear: both;
  padding-left: 0px;
}
@media (min-width:894px) {
  #nav ul {
    text-align: center;
    white-space: nowrap;
    display: table-row;
    height: 28px;
  }
}
#nav ul li {
  position: relative;
}
@media (min-width:894px) {
  #nav ul li {
    -webkit-box-shadow: inset 0px 0px 2px 0px #909188, 1px 0px 0px 0px #B1B1AA;
    box-shadow: inset 0px 0px 2px 0px #909188, 1px 0px 0px 0px #B1B1AA;
    display: table-cell;
  }
}
@media (min-width:894px) {
  #nav ul li ul {
    display: none;
    height: auto;
  }
}
@media (min-width:894px) {
  #nav ul li ul li ul {
    display: none;
  }
}
#nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width:894px) {
  #nav ul li:last-child {
    -webkit-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
  }
}
#nav ul li a {
  padding: 14px 0px 14px 18px;
  color: white;
  font-family: "Gotham A", "Gotham B", arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}
@media (min-width:894px) {
  #nav ul li a {
    height: 28px;
    display: block;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    padding: 0px 8px;
    text-align: center;
    font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
    color: #333333;
    -webkit-font-smoothing: antialiased;
  }
}
#nav ul li a:focus, #nav ul li a:hover {
  color: white;
  background: #444444;
  text-decoration: underline;
}
@media (min-width:894px) {
  #nav > ul {
    position: relative;
  }
}
@media (min-width:894px) {
  #nav > ul > li.home-icon {
    width: 80px !important;
  }
}
@media (min-width:894px) {
  #nav > ul > li:first-child {
    border-radius: 5px 0px 0px 5px;
  }
}
@media (min-width:894px) {
  #nav > ul > li:last-child {
    border-radius: 0px 5px 5px 0px;
  }
}
@media (min-width:894px) {
  #nav > ul > li:last-child:hover > a {
    border-radius: 0px 5px 5px 0px;
  }
}
@media (min-width:894px) {
  #nav > ul > li.level-one {

    /*background: transparent url('../images/rwd2014/down-chevron.png') 90% 17px no-repeat;*/
    width: 142px;
    border: none;
  }
}
@media (min-width:894px) {
  #nav > ul > li.level-one:hover > a, #nav > ul > li#home-icon:hover > a {
    background: #626258;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #afafa5), to(#626258));
    background: -webkit-linear-gradient(top, #afafa5 11%, #626258 100%);
    background: linear-gradient(to bottom, #afafa5 11%, #626258 100%);
    color: #fff;
  }
}
#nav > ul > li.level-one > ul {
  display: none;
}
@media (min-width:894px) {
  #nav > ul > li.level-one > ul {
    position: absolute;
  }
}
@media (min-width:894px) {
  #nav > ul > li.level-one > ul > li {
    display: block;
    width: 140px;
    height: 43px;
  }
}
#nav > ul > li.level-one > ul > li.level-two > ul {
  display: none;
}
#nav > ul > li:first-child.active a, .home-pageID #nav > ul > li#home-icon a, #nav > ul > li#home-icon:hover > a {
  border-radius: 5px 0px 0px 5px;
}
@media (min-width:894px) {
  #nav > ul > li.active > a, .home-pageID #nav > ul > li#home-icon > a, .about-pageID #nav > ul > li.about-navID > a, .admission-pageID #nav > ul > li.admission-navID > a, .academics-pageID #nav > ul > li.academics-navID > a, .research-pageID #nav > ul > li.research-navID > a, .global-pageID #nav > ul > li.global-navID > a, .engagement-pageID #nav > ul > li.engagement-navID > a, .athletics-pageID #nav > ul > li.athletics-navID > a {
    color: #fff;
    background: #386337;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #a8d8a4), to(#386337));
    background: -webkit-linear-gradient(top, #a8d8a4 11%, #386337 100%);
    background: linear-gradient(to bottom, #a8d8a4 11%, #386337 100%);
    -webkit-box-shadow: inset 0px 0px 2px 0px #909188, 1px 0px 0px 0px #B1B1AA;
    box-shadow: inset 0px 0px 2px 0px #909188, 1px 0px 0px 0px #B1B1AA;
  }
}
@media (min-width:894px) {
  #nav > ul > li:last-child.active a, .athletics-pageID #nav > ul > li.athletics-navID > a {
    border-radius: 0px 5px 5px 0px;
  }
}
@media (min-width:894px) {
  #nav > ul > li.active .nav_caret {
    height: 10px;
    width: 100%;
    display: block;
    text-align: left;
    margin-left: 12px;
    position: absolute;
    top: -10px;
  }
  #nav > ul > li.active .nav_caret img {
    height: 11px;
    float: left;
    margin-bottom: -1px;
  }
}
@media (min-width:894px) {
  #nav > ul > li:last-child.active .nav_caret {
    right: -44px;
  }
}
#nav > ul > li.level-one.active > ul {
  display: block;
  margin: 0px;
  -webkit-box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.2);
  box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.2);
}
@media (min-width:894px) {
  #nav > ul > li.level-one.active > ul {
    background: #959A8D;
    white-space: normal;
    border-radius: 5px;
    border-left: 0px;
    width: 165px;
    -webkit-box-shadow: inset #fff 0 0px 0 1px;
    box-shadow: inset #fff 0 0px 0 1px;
    padding: 12px 1px 12px 0px;
    margin-top: 9px;
  }
}
@media (min-width:894px) {
  #nav > ul > li:last-child.level-one.active > ul {
    right: 0px;
  }
}
#nav > ul > li.level-one.active > ul > li:last-child {
  border-bottom: 0px;
}
@media (min-width:894px) {
  #nav > ul > li.level-one.active > ul > li:last-child a {
    border-bottom: none;
  }
}
@media (min-width:894px) {
  #nav > ul > li.level-one.active > ul > li {
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: 164px;
    margin: 0px;
    padding: 0px;
  }
}
@media (min-width:894px) {
  #nav > ul > li.level-one.active > ul > li:hover {
    background: #444444;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
}
#nav > ul > li.level-one.active > ul > li > a {
  padding: 12px 12px 12px 18px;
}
@media (min-width:894px) {
  #nav > ul > li.level-one.active > ul > li > a {
    border-bottom: 1px dotted #333333;
    text-align: left;
    text-transform: none;
    width: auto;
    padding: 4px 2px;
    margin: 1px 12px 0px 12px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    height: auto;
  }
  #nav > ul > li.level-one.active > ul > li > a:hover {
    text-decoration: underline;
  }
}
#nav > ul > li.level-one.active > ul > li.level-two.active > ul {
  display: block;
  margin: 0px;
  -webkit-box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.3);
  box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.3);
  border-left: 8px solid #636363;
}
#nav > ul > li.level-one.active > ul > li.level-two.active > ul > li > a {
  padding: 12px 12px 12px 18px;
}
#nav > ul > li > a {
  text-transform: uppercase;
}
.js-ready #nav {
  right: -300px;
  width: 0px;
  -webkit-box-shadow: inset 0.8em 0 0.8em -0.8em rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.8em 0 0.8em -0.8em rgba(0, 0, 0, 0.5);
  -webkit-transition: right .3s, width 1s;
  transition: right .3s, width 1s;
}
@media (min-width:894px) {
  .js-ready #nav {
    position: relative;
    right: 0px;
  }
}
@media (min-width:964px) {
  .js-ready #nav {
    width: 960px;
  }
}
.js-nav #nav {
  right: 0px;
  width: 300px;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
  background: #272727;
  color: white;
  padding-top: 0px;
}
#off-canvas-nav-wrapper {
  display: none;
}
#off-canvas-nav-wrapper nav.dark-background {
  background: #272727;
}
#off-canvas-nav-wrapper nav.dark-background ul li a {
  color: #fff;
}
#off-canvas-nav-wrapper nav.dark-background #home-icon a span {
  color: #fff;
}
#off-canvas-nav-wrapper nav.dark-background #off-canvas-sitename {
  border-top: 4px double #888;
}
#off-canvas-nav-wrapper nav.dark-background #off-canvas-sitename a {
  font-size: 32px;
  line-height: 38px;
  color: white;
  font-family: "Georgia, serif;
  text-decoration: none;
}
#off-canvas-nav-wrapper nav.dark-background #off-canvas-close-btn > a {
  background: transparent url(../images/rwd2014/close-btn.png) 208px center no-repeat;
}
#off-canvas-nav-wrapper nav.dark-background ul > li.level-one.active > ul {
  background: #3f3f3f;
  border-left: 8px solid #6e6e6e;
}
#off-canvas-nav-wrapper nav.dark-background ul > li.level-one.active > ul > li.level-two.active > ul {
  background: #505050;
}
#off-canvas-nav-wrapper nav.dark-background li.level-one, #off-canvas-nav-wrapper nav.dark-background li.level-two {
  background: transparent url("../images/rwd2014/down-chevron.png") 86% 20px no-repeat;
}
#off-canvas-nav-wrapper nav.dark-background li.level-one.active, #off-canvas-nav-wrapper nav.dark-background li.level-two.active {
  background: transparent url("../images/rwd2014/up-chevron.png") 86% 20px no-repeat;
}
#off-canvas-nav-wrapper nav.light-background {
  background: white;
}
#off-canvas-nav-wrapper nav.light-background ul li a {
  color: #222;
}
#off-canvas-nav-wrapper nav.light-background ul > li > ul li a {
  font-weight: 600;
}
#off-canvas-nav-wrapper nav.light-background #home-icon a span {
  color: #222;
}
#off-canvas-nav-wrapper nav.light-background #off-canvas-sitename {
  -webkit-box-shadow: inset 0 1px 0 0 #888888, inset 1px 4px 0 0 white, inset 1px 5px 0 0 #888888;
  box-shadow: inset 0 1px 0 0 #888888, inset 1px 4px 0 0 white, inset 1px 5px 0 0 #888888;
}
#off-canvas-nav-wrapper nav.light-background #off-canvas-sitename a {
  color: #222;
}
#off-canvas-nav-wrapper nav.light-background #off-canvas-close-btn > a {
  background: transparent url(../images/rwd2014/close-btn-black.png) 208px center no-repeat;
}
#off-canvas-nav-wrapper nav.light-background ul > li.level-one.active > ul {
  background: #cccccc;
  border-left: 8px solid #6e6e6e;
}
#off-canvas-nav-wrapper nav.light-background ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#off-canvas-nav-wrapper nav.light-background ul > li.level-one.active > ul > li.level-two.active > ul {
  background: #999999;
}
#off-canvas-nav-wrapper nav.light-background li.level-one, #off-canvas-nav-wrapper nav.light-background li.level-two {
  background: transparent url("../images/rwd2014/down-chevron-black.png") 86% 20px no-repeat;
}
#off-canvas-nav-wrapper nav.light-background li.level-one.active, #off-canvas-nav-wrapper nav.light-background li.level-two.active {
  background: transparent url("../images/rwd2014/up-chevron-black.png") 86% 20px no-repeat;
}
#off-canvas-nav-wrapper nav ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px;
  padding-right: 12px;
  background: transparent;
  width: 100%;
}
#off-canvas-nav-wrapper nav ul li > ul > li {
  border-top: 0px;
}
#off-canvas-nav-wrapper nav ul li > ul > li > a {
  border-bottom: 1px dotted #777;
  padding: 12px 12px 12px 2px !important;
  width: 240px;
  margin-left: 18px;
}
#off-canvas-nav-wrapper nav ul li > ul > li > ul > li a {
  border-bottom: 1px dotted #ccc;
}
#off-canvas-nav-wrapper nav ul li > ul > li > ul > li:last-child a {
  border-bottom: 0px;
}
#off-canvas-nav-wrapper nav ul li > ul > li.level-two.active > a {
  border-bottom: 0px;
}
#off-canvas-nav-wrapper nav ul li ul li:last-child a {
  border-bottom: 0px;
}
#off-canvas-nav-wrapper nav ul li a:hover {
  background: transparent;
}
#off-canvas-nav-wrapper nav ul li a {
  height: 100%;
  width: 90%;
  display: block;
  text-decoration: none;
}
@media (min-width:894px) {
  #off-canvas-menu-buttons-wrapper {
    display: none;
  }
}
#off-canvas-menu-buttons-wrapper #off-canvas-sitename {
  width: 268px;
  float: left;
  line-height: 32px;
  padding: 16px 0px 8px 4px;
  margin-bottom: 6px;
  border-bottom: 1px solid #888;
  margin-left: 12px;
}
#off-canvas-menu-buttons-wrapper #off-canvas-sitename a {
  color: white;
  font-family: georgia, serif;
  font-size: 32px;
  text-decoration: none;
}
#off-canvas-menu-buttons-wrapper #off-canvas-close-btn > a {
  float: left;
  display: block;
  text-indent: -9999px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0px 8px;
  height: 42px;
  width: 100%;
}
header.dark-background .u-nav-btn {
  background: transparent url("../images/rwd2014/nav-icon-white.svg") center right no-repeat;
}
.no-svg header.dark-background .u-nav-btn {
  background: transparent url("../images/rwd2014/nav-icon-white.png") center right no-repeat;
}
.u-nav-btn {
  position: absolute;
  top: -0.5em;
  right: .5em;
  display: block;
  width: 75px;
  height: 41px;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
}
.u-nav-btn:hover, .u-nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media (min-width:894px) {
  .u-nav-btn {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
.oldie #nav > ul > li.level-one:hover > ul, .oldie #nav > ul > li.level-one > ul:hover {
  display: block;
  background: #555;
  white-space: normal;
  margin: 0px;
  padding-right: 8px;
}
.oldie #nav > ul > li.level-one:hover > ul a, .oldie #nav > ul > li.level-one > ul:hover a {
  color: #fff;
  text-decoration: underline;
}
.oldie #nav > ul > li.level-one:hover > ul > li {
  border-right: 0px;
}
#static-footer-nav {
  display: block;
  background: #272727;
  margin-top: 12px;
  padding-bottom: 2px;
}
@media (min-width:894px) {
  #static-footer-nav {
    display: none;
  }
}
#static-footer-nav ul {
  padding-left: 0px;
}
#static-footer-nav ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px;
  padding-right: 12px;
  background: transparent;
  width: 100%;
}
#static-footer-nav ul li.level-one, #static-footer-nav ul li.level-two {
  background: transparent url("../images/rwd2014/down-chevron.png") 86% 20px no-repeat;
}
#static-footer-nav ul li.level-two.active, #static-footer-nav ul li.level-one.active {
  background: transparent url("../images/rwd2014/up-chevron.png") 86% 20px no-repeat;
}
#static-footer-nav ul li a {
  padding: 14px 0px 14px 18px;
  color: white;
  text-decoration: none;
  width: 90%;
  height: 100%;
  display: block;
  font-family: "Gotham A", "Gotham B", arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}
#static-footer-nav ul li a:hover {
  background: transparent;
}
#static-footer-nav ul > li.level-one > ul {
  display: none;
}
#static-footer-nav ul > li.level-one > ul > li.level-two > ul {
  display: none;
}
#static-footer-nav ul > ul {
  padding-top: 12px;
}
#static-footer-nav ul > li.level-one.active > ul {
  display: block;
  margin: 0px;
  background: #3f3f3f;
  border-left: 8px solid #6e6e6e;
  -webkit-box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.2);
  box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.2);
}
#static-footer-nav ul > li.level-one.active > ul > li {
  border-top: 0px;
}
#static-footer-nav ul > li.level-one.active > ul > li > a {
  padding: 12px 12px 12px 2px !important;
  width: 86%;
  margin-left: 18px;
}
@media (min-width:460px) {
  #static-footer-nav ul > li.level-one.active > ul > li > a {
    width: 90%;
  }
}
#static-footer-nav ul > li.level-one.active > ul > li:last-child a {
  border-bottom: 0px !important;
}
#static-footer-nav ul > li.level-one.active > ul > li.level-two.active a {
  border-bottom: 0px;
}
#static-footer-nav ul > li.level-one.active > ul > li.level-two.active > ul {
  display: block;
  margin: 0px;
  background: #505050;
  border-left: 8px solid #636363;
  -webkit-box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.3);
  box-shadow: inset 10px 13px 8px -9px rgba(0, 0, 0, 0.3);
}
#static-footer-nav ul > li.level-one.active > ul > li.level-two.active > ul > li {
  border: 0px;
}
#static-footer-nav ul > li.level-one.active > ul > li.level-two.active > ul > li > a {
  border-top: 0px;
  padding: 12px 12px 12px 2px !important;
  width: 86%;
  margin-left: 18px;
}
@media (min-width:460px) {
  #static-footer-nav ul > li.level-one.active > ul > li.level-two.active > ul > li > a {
    width: 90%;
  }
}
#static-footer-nav ul > li.level-one.active > ul > li.level-two.active > ul > li:last-child a {
  border-bottom: 0px !important;
}
#static-footer-nav ul > li.level-one.active > ul > li:last-child {
  border-bottom: 0px;
}
#static-footer-nav #bottom-navigation {
  padding-top: 12px;
}
#static-footer-nav #bottom-navigation .nav_caret {
  display: none;
}
#static-footer-nav #bottom-navigation > ul > li {
  text-transform: uppercase;
}
#static-footer-nav #bottom-navigation > ul > li > ul > li {
  text-transform: none;
}
#static-footer-nav #static-footer-menu {
  display: inline-block;
  padding-top: 12px;
  width: 100% !important;
}
#static-footer-nav #static-footer-menu > div.static-footer-sitename {
  float: left;
  width: 97%;
  line-height: 16px;
  margin-top: 8px;
  border-bottom: 1px solid #888;
  padding: 12px 12px;
}
#static-footer-nav #static-footer-menu > div.static-footer-sitename a {
  font-size: 32px;
  line-height: 38px;
  color: white;
  font-family: "Georgia, serif";
  text-decoration: none;
}
nav#static-footer-nav.dark-background {
  background: #272727;
}
nav#static-footer-nav.dark-background ul > li.level-one.active > ul > li > a {
  border-bottom: 1px dotted #777;
}
nav#static-footer-nav.dark-background ul > li.level-one.active > ul > li.level-two.active > ul > li > a {
  border-bottom: 1px dotted #ccc;
}
nav#static-footer-nav.dark-background #bottom-navigation {
  background: #272727;
}
nav#static-footer-nav.dark-background ul li a {
  color: #fff;
}
nav#static-footer-nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav#static-footer-nav.dark-background #home-icon a span {
  color: #fff;
}
nav#static-footer-nav.dark-background #static-footer-menu .static-footer-sitename {
  border-top: 4px double #888;
}
nav#static-footer-nav.dark-background #static-footer-menu .static-footer-sitename a {
  color: #fff;
}
nav#static-footer-nav.dark-background #off-canvas-close-btn > a {
  background: transparent url(../images/rwd2014/close-btn.png) 208px center no-repeat;
}
nav#static-footer-nav.dark-background ul > li.level-one.active > ul {
  background: #3f3f3f;
  border-left: 8px solid #6e6e6e;
}
nav#static-footer-nav.dark-background ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
nav#static-footer-nav.dark-background ul > li.level-one.active > ul > li.level-two.active > ul {
  background: #505050;
}
nav#static-footer-nav.dark-background li.level-one, nav#static-footer-nav.dark-background li.level-two {
  background: transparent url("../images/rwd2014/down-chevron.png") 86% 20px no-repeat;
}
nav#static-footer-nav.dark-background li.level-one.active, nav#static-footer-nav.dark-background li.level-two.active {
  background: transparent url("../images/rwd2014/up-chevron.png") 86% 20px no-repeat;
}
nav#static-footer-nav.light-background {
  background: white;
}
nav#static-footer-nav.light-background ul > li.level-one.active > ul > li > a {
  border-bottom: 1px dotted #222;
}
nav#static-footer-nav.light-background ul > li.level-one.active > ul > li.level-two.active > ul > li > a {
  border-bottom: 1px dotted #222;
}
nav#static-footer-nav.light-background #bottom-navigation {
  background: white;
}
nav#static-footer-nav.light-background ul li a {
  color: #222;
}
nav#static-footer-nav.light-background ul > li > ul li a {
  font-weight: 600;
}
nav#static-footer-nav.light-background #home-icon a span {
  color: #222;
}
nav#static-footer-nav.light-background #static-footer-menu .static-footer-sitename {
  border-top: 4px double #888;
}
nav#static-footer-nav.light-background #static-footer-menu .static-footer-sitename a {
  color: #222;
}
nav#static-footer-nav.light-background #off-canvas-close-btn > a {
  background: transparent url(../images/rwd2014/close-btn-black.png) 208px center no-repeat;
}
nav#static-footer-nav.light-background ul > li.level-one.active > ul {
  background: #cccccc;
  border-left: 8px solid #6e6e6e;
}
nav#static-footer-nav.light-background ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
nav#static-footer-nav.light-background ul > li.level-one.active > ul > li.level-two.active > ul {
  background: #999999;
}
nav#static-footer-nav.light-background li.level-one, nav#static-footer-nav.light-background li.level-two {
  background: transparent url("../images/rwd2014/down-chevron-black.png") 86% 20px no-repeat;
}
nav#static-footer-nav.light-background li.level-one.active, nav#static-footer-nav.light-background li.level-two.active {
  background: transparent url("../images/rwd2014/up-chevron-black.png") 86% 20px no-repeat;
}

/* #MSU.edu Site Styles Content 
================================================== */
body {
  background-color: #f9f9f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#003025), color-stop(30%, #1a483d), to(#f9f9f7));
  background-image: -webkit-linear-gradient(top, #003025 0%, #1a483d 30%, #f9f9f7 100%);
  background-image: linear-gradient(to bottom, #003025 0%, #1a483d 30%, #f9f9f7 100%);
  -webkit-background-size: 100% 550px;
  background-size: 100% 550px;
  background-repeat: no-repeat;
}
.no-cssgradients body {
  background: #18453b;
}

/*MSU View*/
.showingVideo0 #big_vid_node0 .overlay, .showingVideo1 #big_vid_node1 .overlay, .showingVideo2 #big_vid_node2 .overlay, .showingVideo3 #big_vid_node3 .overlay, .showingVideo4 #big_vid_node4 .overlay, .showingVideo5 #big_vid_node5 .overlay, .showingVideo6 #big_vid_node6 .overlay, .showingVideo7 #big_vid_node7 .overlay, .showingVideo8 #big_vid_node8 .overlay, .showingVideo9 #big_vid_node9 .overlay {
  background-position: left bottom;
}
.home_msuview_big_copy {
  position: absolute;
  bottom: 0px;
  color: #f9f9f7;
  font-weight: bold;
  display: block;
  left: 24px;
  width: 250px;
}
.home_msuview_big_copy h3 {
  color: #f9f9f7;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin: 8px 0px;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
}
.home_msuview_big_copy p {
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
}
#msuview_big h2.title {
  font-size: 28px;
  color: #f9f9f7;
  position: absolute;
  left: 25px;
  top: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 2px #777, 0 2px 0 #999;
  font-weight: normal;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#msuview_big h2.title span.span_MSU {
  font-weight: bold;
}
.home_msuview_copy {
  float: left;
  width: 28%;
  color: #f9f9f7;
  font-weight: bold;
  display: none;
  margin: 0px 0px 0px 16px;
  position: relative;
}
.home_msuview_copy a {
  color: #FFFFFF;
  text-decoration: none;
}
.home_msuview_copy a:hover {
  text-decoration: underline;
}
.home_msuview_copy h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 3px;
}
.slide1 #vidCopy1, .slide2 #vidCopy2, .slide3 #vidCopy3, .slide4 #vidCopy4, .slide5 #vidCopy5, .slide6 #vidCopy6, .slide7 #vidCopy7, .slide8 #vidCopy8, .slide9 #vidCopy9, .slide10 #vidCopy10 {
  display: block;
}
#home_msuview_vid_crop {
  height: 138px;
  width: 54%;
  bottom: 13px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 7%;
}
#home_msuview_vid {
  height: 138px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.home_msuview_vid_node {
  display: block;
  float: left;
  height: 183px;
  width: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
}
.home_msuview_vid_node img {
  width: 100%;
}
.home_msuview_vid_node .home_msuview_vid_node_overlay {
  background-image: url(../images/rwd2014/panel_msuview_play.png);
  height: 35px;
  width: 36px;
  position: absolute;
  left: 109px;
  top: 51px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.home_msuview_vid_node:hover .home_msuview_vid_node_overlay {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.video-arrow-wrapper {
  float: right;
}
#home_msuview {
  float: left;
  width: 100%;
  position: relative;
}
#home_panel_arrow_left, #home_panel_arrow_right {
  background-image: url(../images/rwd2014/panel_arrows.gif);
  height: 17px;
  width: 10px;
  display: block;
  position: absolute;
  margin-top: 44px;
  cursor: pointer;
}
#home_panel_arrow_left {
  background-position: 0px -17px;
  margin-left: 35%;
}
#home_panel_arrow_right {
  background-position: 0px 0px;
  margin-left: 94%;
}
#home_panel_arrow_left:hover {
  background-position: -20px -17px;
}
#home_panel_arrow_right:hover {
  background-position: -20px 0px;
}
.slideBeg #home_panel_arrow_left {
  background-position: -10px -17px;
  cursor: default;
}
.slideEnd #home_panel_arrow_right {
  background-position: -10px 0px;
  cursor: default;
}
#msuview_big {
  background-color: #69a869;
  background-image: url(../images/rwd2014/panel_msuview_big_bg2.gif);
  background-repeat: repeat-x;
  background-position: bottom left;
  height: 555px;
  position: relative;
  max-width: 960px;
  width: 960px;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  z-index: 0;
}
#msuview_big_vid {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 98%;
  height: 340px;
  z-index: 10;
}
#msuview_big_btnclose {
  display: block;
  position: absolute;
  right: 30px;
  top: 15px;
  width: 58px;
  height: 19px;
  cursor: pointer;
  z-index: 15;
  color: #f9f9f7;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
}
#msuview_big_btnclose span.close_x {
  font-size: 20px;
  padding: 0px 6px;
  vertical-align: sub;
}
#msuview_big_slider_crop {
  width: 85%;
  height: 160px;
  position: absolute;
  bottom: 0px;
  left: 55px;
  overflow: hidden;
}
#msuview_big_slider {
  position: absolute;
  height: 160px;
  left: 0px;
  top: 0px;
  width: 1750px !important;
}
.big_vid_node {
  width: 216px;
  margin-right: 71px;
  height: 160px;
  position: relative;
  cursor: pointer;
  float: left;
}
.big_vid_node_crop {
  width: 216px;
  height: 119px;
  overflow: hidden;
}
.big_vid_node h3 {
  color: #f9f9f7;
  font-weight: bold;
  font-size: 13px;
  text-decoration: underline;
  padding-top: 2px;
  margin: 0px;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
}
.big_vid_node .overlay {
  width: 216px;
  height: 119px;
  background-image: url(../images/rwd2014/panel_msuview_vidstates.png);
  position: absolute;
  left: 0px;
  top: 0px;
  background-position: 0px 0px;
}
.big_vid_node:hover .overlay {
  background-position: 0px -119px;
}
#msuview_big embed, #msuview_big object, #msuview_big iframe {
  width: 542px;
  height: 300px;
}
#msuview_big embed {
  right: 0px;
  bottom: 0px;
  position: absolute;
  display: block;
}
#msuview_big object, #msuview_big iframe {
  right: 0px;
  bottom: 0px;
  position: absolute;
  display: block;
  width: 60%;
}
#msuview_big #vid_shadow {
  background-image: url(../images/rwd2014/panel_msuview_big_shadow.png);
  width: 542px;
  height: 37px;
  position: absolute;
  right: 0px;
  bottom: -37px;
  z-index: 50;
}
#vid_divider {
  position: absolute;
  left: 24px;
  top: 366px;
  z-index: 100;
  width: 94%;
  background: #777;
  height: 1px;
  border: 0px;
}
#msuview_big_arrow_left, #msuview_big_arrow_right {
  display: block;
  width: 10px;
  height: 17px;
  background-image: url(../images/rwd2014/panel_arrows.gif);
  bottom: 100px;
  position: absolute;
  cursor: pointer;
}
#msuview_big_arrow_left {
  left: 24px;
  background-position: 0px -17px;
}
#msuview_big_arrow_right {
  right: 24px;
  background-position: 0px 0px;
}
#msuview_big_arrow_left:hover {
  background-position: -20px -17px;
}
#msuview_big_arrow_right:hover {
  background-position: -20px 0px;
}
.slideBeg #msuview_big_arrow_left {
  background-position: -10px -17px;
  cursor: default;
}
.slideEnd #msuview_big_arrow_right {
  background-position: -10px 0px;
  cursor: default;
}
#home_msuview h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 3px;
  color: #f9f9f7;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin-top: 12px;
  float: left;
  width: 100%;
}
#home_msuview p {
  font-weight: bold;
  color: #f9f9f7;
  font-size: 12px;
  line-height: 12px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
}
@media (min-width:894px) {
  nav#secondary-nav {
    width: auto;
    padding: 0px 12px;
  }
}
@media (min-width:964px) {
  nav#secondary-nav {
    width: 100%;
    padding: 0px;
  }
}
nav#secondary-nav a {
  line-height: 11px;
  font-size: 10px;
  margin: 0 6px;
  color: #eaede6;
  text-decoration: none;
  border-bottom: 1px solid #608179;
  padding: 0px;
  text-transform: uppercase;
}
nav#secondary-nav a:focus, nav#secondary-nav a:hover {
  border-bottom: 2px solid #fff;
}
nav#secondary-nav div#MSU-top-utilities {
  float: left;
}
nav#secondary-nav div#MSU-top-utilities ul {
  padding: 0px;
}
nav#secondary-nav div#MSU-top-utilities ul li {
  display: inline;
}
nav#secondary-nav div#search-utilities {
  float: right;
}
nav#secondary-nav div#search-utilities ul li {
  display: inline;
}
nav#secondary-nav div#search-utilities, nav#secondary-nav div#MSU-top-utilities {
  display: none;
}
@media (min-width:894px) {
  nav#secondary-nav div#search-utilities, nav#secondary-nav div#MSU-top-utilities {
    display: block;
  }
}
#static-footer-nav div#MSU-top-utilities ul, #off-canvas-nav-wrapper div#MSU-top-utilities ul {
  margin-top: 0px;
}
#static-footer-nav div#MSU-top-utilities ul li, #off-canvas-nav-wrapper div#MSU-top-utilities ul li {
  border-top: 0px !important;
}
#static-footer-nav div#MSU-top-utilities ul li a, #off-canvas-nav-wrapper div#MSU-top-utilities ul li a {
  color: #ddd;
}
#static-footer-nav div#search-utilities, #off-canvas-nav-wrapper div#search-utilities {
  padding-bottom: 8px;
}
#static-footer-nav div#search-utilities ul, #off-canvas-nav-wrapper div#search-utilities ul {
  margin-top: 0px;
}
#static-footer-nav div#search-utilities ul li, #off-canvas-nav-wrapper div#search-utilities ul li {
  border-top: 0px !important;
}
#static-footer-nav div#search-utilities ul li a, #off-canvas-nav-wrapper div#search-utilities ul li a {
  color: #ddd;
}
#static-footer-nav div#MSU-top-utilities, #off-canvas-nav-wrapper div#MSU-top-utilities, #off-canvas-nav-wrapper div#search-utilities, #static-footer-nav div#search-utilities {
  background: #323232;
  border: 1px solid #444;
  border-radius: 8px;
  margin: 8px;
}
#static-footer-nav div#MSU-top-utilities ul, #off-canvas-nav-wrapper div#MSU-top-utilities ul, #off-canvas-nav-wrapper div#search-utilities ul, #static-footer-nav div#search-utilities ul {
  margin-bottom: 6px;
}
#static-footer-nav div#MSU-top-utilities a, #off-canvas-nav-wrapper div#MSU-top-utilities a, #off-canvas-nav-wrapper div#search-utilities a, #static-footer-nav div#search-utilities a {
  font-size: 90%;
  line-height: 90%;
}
#static-footer-nav div#MSU-top-utilities ul li:last-child, #off-canvas-nav-wrapper div#MSU-top-utilities ul li:last-child, #off-canvas-nav-wrapper div#search-utilities ul li:last-child, #static-footer-nav div#search-utilities ul li:last-child {
  border-bottom: none !important;
}
.mobile-audience-nav-header {
  display: block;
}
@media (min-width:894px) {
  .mobile-audience-nav-header {
    display: none;
  }
}
.mobile-audience-nav-header h2 {
  font-size: 18px;
  padding-left: 12px;
  color: #8AC93A;
  font-family: "Georgia, serif;
  margin: 0px 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #444;
}
@media (min-width:894px) {
  section#view-news-events {
    margin-bottom: 12px;
    height: 183px;
    width: auto;
    padding: 0px 12px;
  }
}
@media (min-width:964px) {
  section#view-news-events {
    width: 100%;
    padding: 0px;
  }
}
.columns.view-box {
  background: #568a56;
  background: -webkit-gradient(linear, left top, left bottom, from(#69a869), to(#568a56));
  background: -webkit-linear-gradient(top, #69a869 0%, #568a56 100%);
  background: linear-gradient(to bottom, #69a869 0%, #568a56 100%);
  -webkit-box-shadow: inset 1px 6px 3px -4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 6px 3px -4px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
@media (min-width:894px) {
  .columns.view-box {
    -webkit-box-shadow: 6px 0px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 0px 4px -1px rgba(0, 0, 0, 0.3);
    margin-left: 0px !important;
    border-radius: 5px 0px 0px 5px;
    height: 183px;
  }
}
.columns.view-box .slick-next {
  top: 63%;
  left: 284px;
  height: 45px;
  width: 45px;
}
@media (min-width:360px) {
  .columns.view-box .slick-next {
    top: 60%;
  }
}
@media (min-width:600px) {
  .columns.view-box .slick-next {
    top: 34%;
    left: 536px;
  }
}
@media (min-width:894px) {
  .columns.view-box .slick-next {
    right: auto;
    left: 394px;
    top: 32%;
  }
}
@media (min-width:964px) {
  .columns.view-box .slick-next {
    left: 428px;
  }
}
.columns.view-box .slick-prev {
  top: 63%;
  left: 0px;
  height: 45px;
  width: 45px;
}
@media (min-width:360px) {
  .columns.view-box .slick-prev {
    top: 60%;
  }
}
@media (min-width:600px) {
  .columns.view-box .slick-prev {
    left: 250px;
    top: 34%;
  }
}
@media (min-width:894px) {
  .columns.view-box .slick-prev {
    left: 142px;
    top: 32%;
  }
}
@media (min-width:964px) {
  .columns.view-box .slick-prev {
    left: 152px;
  }
}
.columns.view-box .slick-prev:before {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  font-family: none;
  content: "";
  font-size: 0px;
}
.columns.view-box .slick-next:before {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  font-family: none;
  content: "";
  font-size: 0px;
}
.columns.view-box .slick-prev:hover:before {
  border-right: 10px solid #18453b;
}
.columns.view-box .slick-next:hover:before {
  border-left: 10px solid #18453b;
}
.columns.view-box .slick-prev:before, .columns.view-box .slick-next:before {

  /*font-size: 42px;
  @include breakpoint(double-short) {
    font-size: 30px;
  }*/
}
.columns.view-box .slick-slider {
  margin-bottom: 0px;
  -webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 12px;
}
@media (min-width:600px) {
  .columns.view-box .slick-slider {
    margin-top: -12px;
  }
}
@media (min-width:894px) {
  .columns.view-box .slick-slider {
    margin-bottom: 12px;
    padding-bottom: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.columns.view-box .slick-slide img {
  margin-left: 40px;
}
@media (min-width:600px) {
  .columns.view-box .slick-slide img {
    margin-left: 0px;
    cursor: pointer;
  }
}
.columns.view-box h2 {
  line-height: 1;
  padding: 8px 8px 0px 8px;
  margin: 0px;
}
.columns.view-box h2 a {
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: -1px 0px #666;
  font-weight: normal;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  padding: 2px 6px 2px 6px;
  -webkit-font-smoothing: antialiased;
}
.columns.view-box h2 a span.span_MSU {
  font-weight: bold;
}
.columns.view-box h2 a:hover, .columns.view-box h2 a:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #466d46), to(#629a62));
  background: -webkit-linear-gradient(top, #466d46 14%, #629a62 100%);
  background: linear-gradient(to bottom, #466d46 14%, #629a62 100%);
  border-radius: 8px;
  text-shadow: -1px 0px #333;
}
.columns.view-box span.video-h3-tag {
  float: left;
  width: auto;
  padding: 0px 24px 0px 16px;
}
@media (min-width:600px) {
  .columns.view-box span.video-h3-tag {
    margin-right: 80px;
    width: 180px;
    padding: 0px 16px;
  }
}
@media (min-width:894px) {
  .columns.view-box span.video-h3-tag {
    margin-right: 2px;
    width: 132px;
  }
}
@media (min-width:964px) {
  .columns.view-box span.video-h3-tag {
    margin-right: 24px;
  }
}
.columns.view-box h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 3px;
  color: #f9f9f7;
  padding: 0px;
  float: left;
  width: 100%;
  margin-top: 24px;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  font-weight: bold;
}
.columns.view-box p {
  font-weight: bold;
  color: #f9f9f7;
  font-size: 12px;
  line-height: 13px;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  float: left;
  width: 100%;
  padding: 0px;
}
.columns.view-box .home_msuview_vid_node_overlay {
  background-image: url(../images/rwd2014/panel_msuview_play.png);
  height: 35px;
  width: 36px;
  position: absolute;
  left: 153px;
  top: 146px;
  opacity: 0.75;
  z-index: 99;
  cursor: pointer;
  cursor: hand;
}
@media (min-width:360px) {
  .columns.view-box .home_msuview_vid_node_overlay {
    top: 140px;
  }
}
@media (min-width:600px) {
  .columns.view-box .home_msuview_vid_node_overlay {
    left: 402px;
    top: 42px;
  }
}
@media (min-width:894px) {
  .columns.view-box .home_msuview_vid_node_overlay {
    left: 274px;
    top: 46px;
  }
}
@media (min-width:964px) {
  .columns.view-box .home_msuview_vid_node_overlay {
    left: 298px;
  }
}
.oldie .slick-slide img {

  /* IE 8 */
}
.container .row .five.columns.news-box {
  float: none;
  width: auto;
  height: auto;
  padding-bottom: 18px;
  background: #92978b;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2b8a9), to(#92978b));
  background: -webkit-linear-gradient(top, #b2b8a9 0%, #92978b 100%);
  background: linear-gradient(to bottom, #b2b8a9 0%, #92978b 100%);
  -webkit-box-shadow: 6px 0px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 0px 4px -1px rgba(0, 0, 0, 0.3);
  z-index: 888;
}
@media (min-width:600px) {
  .container .row .five.columns.news-box {
    float: left;
    width: 60%;
    height: 174px;
    padding-bottom: 0px;
  }
}
@media (min-width:894px) {
  .container .row .five.columns.news-box {
    margin-left: 0px !important;
    height: 183px;
    width: 31.787282%;
  }
}
.container .row .five.columns.news-box h2 {
  line-height: 1;
  margin: 0px 0px 9px 0px;
  padding: 8px 8px 0px 12px;
}
.container .row .five.columns.news-box h2 a {
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: -1px 0px #666;
  font-weight: normal;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  padding: 2px 6px 2px 6px;
  -webkit-font-smoothing: antialiased;
}
.container .row .five.columns.news-box h2 a span.span_MSU {
  font-weight: bold;
}
.container .row .five.columns.news-box h2 a:hover, .container .row .five.columns.news-box h2 a:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #6b6e66), to(#a3a89b));
  background: -webkit-linear-gradient(top, #6b6e66 14%, #a3a89b 100%);
  background: linear-gradient(to bottom, #6b6e66 14%, #a3a89b 100%);
  border-radius: 8px;
  text-shadow: -1px 0px #333;
}
.container .row .five.columns.news-box ul {
  padding: 0px;
  margin: 0px 0px 18px 0px;
}
.container .row .five.columns.news-box ul li {
  border-bottom: 1px solid #8E9086;
  border-top: 2px solid #B3B6AC;
  padding: 4px 20px;
  line-height: 14px;
  margin-bottom: 0px;
}
.container .row .five.columns.news-box ul li:last-child {
  border-bottom: none;
}
.container .row .five.columns.news-box ul li a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}
.container .row .five.columns.news-box ul li a:focus, .container .row .five.columns.news-box ul li a:hover {
  text-decoration: underline;
}
.container .row .five.columns.news-box ul li:first-child {
  border-top: 0px;
}
.news-box ul li.emergency-news a {
  font-weight: bold;
}
.container .row .three.columns.events-box {
  background: #8b7c4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa975b), to(#8b7c4b));
  background: -webkit-linear-gradient(top, #aa975b 0%, #8b7c4b 100%);
  background: linear-gradient(to bottom, #aa975b 0%, #8b7c4b 100%);
  padding: 0px;
  color: #000;
  float: none;
  width: auto;
  height: auto;
  -webkit-box-shadow: inset 1px 6px 3px -4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 6px 3px -4px rgba(0, 0, 0, 0.5);
  padding-bottom: 18px;
}
@media (min-width:600px) {
  .container .row .three.columns.events-box {
    float: left;
    width: 40%;
    height: 174px;
    -webkit-box-shadow: inset 4px 0px 5px -1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 4px 0px 5px -1px rgba(0, 0, 0, 0.3);
    padding-bottom: 0px;
  }
}
@media (min-width:894px) {
  .container .row .three.columns.events-box {
    margin-left: 0px !important;
    width: 19.25% !important;
    border-radius: 0px 5px 5px 0px;
    height: 183px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.container .row .three.columns.events-box h2 {
  line-height: 1;
  margin: 0px 0px 9px 0px;
  padding: 8px 8px 0px 12px;
}
.container .row .three.columns.events-box h2 a {
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: -1px 0px #666;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  padding: 2px 6px 2px 6px;
}
.container .row .three.columns.events-box h2 a span.span_MSU {
  font-weight: bold;
}
.container .row .three.columns.events-box h2 a:hover, .container .row .three.columns.events-box h2 a:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #645936), to(#998852));
  background: -webkit-linear-gradient(top, #645936 14%, #998852 100%);
  background: linear-gradient(to bottom, #645936 14%, #998852 100%);
  border-radius: 8px;
  text-shadow: -1px 0px #333;
}
.container .row .three.columns.events-box .event_date {
  padding: 0px 20px;
}
.container .row .three.columns.events-box .event_date #event_month {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .row .three.columns.events-box .event_date #event_day {
  font-size: 18px;
}
.container .row .three.columns.events-box p {
  margin: 0px 0px 18px;
  padding: 0px 20px;
  font-size: 12px;
  line-height: 14px;
}
.container .row .three.columns.events-box p a {
  color: #000;
  text-decoration: none;
}
.container .row .three.columns.events-box p a:hover, .container .row .three.columns.events-box p a:focus {
  text-decoration: underline;
}
#msu-talk {
  height: auto;
}
@media (min-width:894px) {
  #msu-talk {
    width: auto;
    padding: 0px 12px;
    height: 38px;
  }
}
@media (min-width:964px) {
  #msu-talk {
    width: 100%;
    padding: 0px;
  }
}
#msu-talk .msu-talk {
  background: #d3d8cc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, #d3d8cc), to(#afb4a9));
  background: -webkit-linear-gradient(top, #d3d8cc 44%, #afb4a9 100%);
  background: linear-gradient(to bottom, #d3d8cc 44%, #afb4a9 100%);
  height: auto;
  -webkit-box-shadow: inset 1px 6px 3px -4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 6px 3px -4px rgba(0, 0, 0, 0.5);
  overflow: auto;
}
@media (min-width:894px) {
  #msu-talk .msu-talk {
    height: 38px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
  }
}
#msu-talk .msu-talk .msu_talk_heading {
  padding: 20px 12px 12px 12px;
  background: transparent url(../images/rwd2014/chevron_talk.png) 128px 15px no-repeat;
}
@media (min-width:894px) {
  #msu-talk .msu-talk .msu_talk_heading {
    background: transparent url(../images/rwd2014/chevron_talk.png) right no-repeat;
    float: left;
    width: 96px;
    margin: 8px 0px 0px 8px;
    padding: 0px 12px 0px 0px;
  }
}
#msu-talk .msu-talk .msu_talk_heading a {
  color: #4B4B4A;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 2px #fff, 0 1px 0 #D4D7CF;
  font-weight: normal;
  padding: 2px;
  -webkit-font-smoothing: antialiased;
}
@media (min-width:894px) {
  #msu-talk .msu-talk .msu_talk_heading a {
    font-size: 17px;
  }
}
#msu-talk .msu-talk .msu_talk_heading a span {
  font-weight: bold;
}
#msu-talk .msu-talk #social_feed {
  float: left;
  width: 80%;
  font-size: 12px;
  color: #2c2c29;
  line-height: 18px;
  padding-left: 0;
  overflow: hidden;
  margin-left: 16px;
}
@media (min-width:894px) {
  #msu-talk .msu-talk #social_feed {
    margin-top: 8px;
    height: 26px;
    width: 86%;
    font-size: 11px;
    margin-left: 0px;
  }
}
#msu-talk .msu-talk #social_feed a {
  color: #2c2c29;
}
#msu-talk .msu-talk #social_feed a:hover {
  color: #477947;
}
.main-feature-slick.slick-slider {
  margin-bottom: 0px;
}
@media (min-width:894px) {
  .main-feature-slick.slick-slider {
    margin-bottom: 12px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
  }
}
.main-feature-slick.slick-slider .slick-next {
  right: 40px;
}
.main-feature-slick.slick-slider .slick-prev {
  left: 8px;
}
.main-feature-slick.slick-slider .slick-prev, .main-feature-slick.slick-slider .slick-next {
  text-shadow: 0px 0px 2px #333;
}
.main-feature-slick.slick-slider .slick-prev:before, .main-feature-slick.slick-slider .slick-next:before {
  color: #ddd;
}
.main-feature-slick.slick-slider span {
  position: relative;
  z-index: 999;
  font-size: 42px;
  color: #fff;
  font-family: arial;
  top: 0px;
  left: 0px;
  clear: both;
  margin: 20px;
  float: left;
}
@media (min-width:964px) {
  .main-feature-slick.slick-slider span {
    position: absolute;
    margin: 0px;
    top: 200px;
    left: 20px;
  }
}
.main-feature-slick.slick-slider .slick-dots {
  z-index: 9995;
  right: 37px;
}
.main-feature-slick.slick-slider .slick-dots li {
  margin: 0px 8px;
}
.main-feature-slick.slick-slider .slick-dots li.slick-active button {
  background: #90C27C;
  color: #222222;
}
.main-feature-slick.slick-slider .slick-dots li button {
  background: #fff;
  border: 1px solid #444444;
  border-radius: 4px;
  line-height: 14px;
  font-size: 14px;
  height: 28px;
  padding: 6px;
  content: "";
  width: 28px;
  color: #444444;
}
.main-feature-slick.slick-slider .slick-dots li button:before {
  content: "";
}
.main-feature-slick.slick-slider .slick-dots li:last-child {
  margin-right: 16px;
}
.main-feature-slick.slick-slider img {
  width: 100%;
}
#carousel-controls {
  position: absolute;
  bottom: 22px;
  right: 18px;
  z-index: 9995;
  display: none;
  cursor: hand;
  cursor: pointer;
}
@media (min-width:894px) {
  #carousel-controls {
    display: block;
  }
}
#carousel-controls #playButton {
  position: absolute;
  left: -19px;
  bottom: -3px;
  background: #fff;
  width: 28px;
  height: 26px;
  border: 1px solid #444444;
  border-radius: 4px;
  display: none;
}
#carousel-controls #playButton .play-button {
  width: 28px;
  height: 12px;
  position: absolute;
  padding: 5px 8px;
}
#carousel-controls #playButton .play-button span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #444;
}
#carousel-controls #pauseButton {
  position: absolute;
  left: -19px;
  bottom: -3px;
  background: #fff;
  width: 28px;
  height: 26px;
  border: 1px solid #444444;
  border-radius: 4px;
  display: normal;
}
#carousel-controls #pauseButton .pause-button {
  width: 28px;
  height: 12px;
  position: absolute;
  padding: 6px 8px;
}
#carousel-controls #pauseButton .pause-button span {
  position: absolute;
  width: 3px;
  height: 14px;
  border-right: 4px solid #444;
  border-left: 4px solid #444;
}
#promo-space {
  margin-top: 12px;
  width: auto;
  padding: 0px 12px;
}
@media (min-width:964px) {
  #promo-space {
    width: 100%;
    padding: 0px;
  }
}
.no-cssgradients #promo-space {
  background: #fff;
  overflow: auto;
}
.promo-spot-left {
  border-bottom: 2px dotted #bbb;
  margin: 14px;
  text-align: center;
  padding-top: 20px;
}
@media (min-width:600px) {
  .promo-spot-left {
    padding-left: 30px;
    text-align: left;
  }
}
@media (min-width:894px) {
  .promo-spot-left {
    -webkit-box-shadow: inset -6px -2px 1px -4px #B3B3AD;
    box-shadow: inset -6px -2px 1px -4px #B3B3AD;
    border-right: 2px solid #fff;
    padding-left: 12px;
    padding-top: 12px;
    border: none;
    margin: 0px 0px 12px 0px;
    border-radius: 0px;
  }
}
.promo-spot-left img {
  width: 100%;
  max-width: 339px;
  margin-top: -12px;
}
@media (min-width:460px) {
  .promo-spot-left img {
    margin-top: 0px;
  }
}
.promo-right-slick.slick-slider {
  margin-bottom: 24px;
}
@media (min-width:894px) {
  .promo-right-slick.slick-slider {
    margin: 12px 0px;
  }
}
.promo-right-slick.slick-slider .slick-prev, .promo-right-slick.slick-slider .slick-next {
  width: 40px;
  height: 40px;
  top: 20%;
}
@media (min-width:600px) {
  .promo-right-slick.slick-slider .slick-prev, .promo-right-slick.slick-slider .slick-next {
    top: 36%;
  }
}
.promo-right-slick.slick-slider .slick-next {
  right: auto;
  left: 260px;
}
@media (min-width:460px) {
  .promo-right-slick.slick-slider .slick-next {
    right: auto;
    left: 380px;
  }
}
@media (min-width:600px) {
  .promo-right-slick.slick-slider .slick-next {
    right: auto;
    left: 540px;
  }
}
@media (min-width:894px) {
  .promo-right-slick.slick-slider .slick-next {
    right: auto;
    left: 446px;
  }
}
.promo-right-slick.slick-slider .slick-prev:before {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000;
  font-family: none;
  content: "";
  font-size: 0px;
}
.promo-right-slick.slick-slider .slick-next:before {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000;
  font-family: none;
  content: "";
  font-size: 0px;
}
.promo-right-slick.slick-slider .slick-next:hover:before {
  border-left: 10px solid #4E8D6C;
}
.promo-right-slick.slick-slider .slick-prev:hover:before {
  border-right: 10px solid #4E8D6C;
}
.promo-right-slick.slick-slider img {
  float: none;
  margin-left: 50px;
  border: 8px solid white;
  -webkit-box-shadow: 5px 8px 7px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 8px 7px -4px rgba(0, 0, 0, 0.5);
}
@media (min-width:600px) {
  .promo-right-slick.slick-slider img {
    float: left;
    margin-left: 40px;
  }
}
.promo-right-slick.slick-slider .promo-right-blurb {
  float: left;
  width: 60%;
  margin: 20px 20px 0px 56px;
}
@media (min-width:600px) {
  .promo-right-slick.slick-slider .promo-right-blurb {
    width: 270px;
    margin: 0px 20px;
  }
}
@media (min-width:894px) {
  .promo-right-slick.slick-slider .promo-right-blurb {
    width: 37%;
    margin: 0px 20px;
  }
}
.promo-right-slick.slick-slider .promo-right-blurb h2 {
  text-transform: uppercase;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 12px;
  margin-top: 4px;
}
.promo-right-slick.slick-slider .promo-right-blurb h2 a {
  text-decoration: none;
  color: #91918a;
}
.promo-right-slick.slick-slider .promo-right-blurb p {
  width: auto;
  margin-left: 0px;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width:600px) {
  .promo-right-slick.slick-slider .promo-right-blurb p {
    font-size: 12px;
    line-height: 14px;
  }
}
.promo-right-slick.slick-slider .promo-right-blurb p a {
  text-decoration: none;
  color: #222222;
}

/* #Secondary Pages 
================================================== */
#tier2 #main-content {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 12px;
  width: auto;
}
#tier2 #main-content ul {
  list-style: disc;
  padding: 4px;
}
#tier2 #main-content h1 {
  color: #3F6E3E;
  font-size: 29px;
  font-weight: normal;
  padding: 12px 0px;
  line-height: 34px;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  margin-left: 12px;
}
@media (min-width:894px) {
  #tier2 #main-content h1 {
    margin-left: 0px;
  }
}
#tier2 .secondary-content {
  background: #e4e8de;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
#tier2 .secondary-content #featured_links {
  background: #487448;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 12px 10px 12px 18px;
}
@media (min-width:894px) {
  #tier2 .secondary-content #featured_links {
    padding: 38px 10px 20px 18px;
    border-radius: 6px 0px 0px 6px;
    -webkit-box-shadow: inset -10px 0 5px -5px rgba(0, 0, 0, 0.25);
    box-shadow: inset -10px 0 5px -5px rgba(0, 0, 0, 0.25);
  }
}
#tier2 .secondary-content #featured_links h2 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  padding: 0px 0px 12px 0px;
  -webkit-font-smoothing: antialiased;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
}
#tier2 .secondary-content #featured_links h2 span {
  font-weight: bold;
}
#tier2 .secondary-content #featured_links ul {
  margin-left: 16px;
  margin-top: 0px;
}
#tier2 .secondary-content #featured_links ul li {
  line-height: 18px;
  margin: 0;
  padding: 0;
  color: #222222;
}
#tier2 .secondary-content #featured_links ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
#tier2 .secondary-content #featured_links ul li a:hover, #tier2 .secondary-content #featured_links ul li a:focus {
  text-decoration: underline;
}
#tier2 .secondary-content #spotlight {
  padding: 0px 60px 0px 20px;
}
#tier2 .secondary-content #spotlight h2 {
  color: #333;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
}
#tier2 .secondary-content #spotlight h3 {
  color: #333;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
}
#tier2 #link_columns {
  background: #e4e8de;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 12px;
  padding: 0px 20px 20px 20px;
  width: auto;
}
@media (min-width:964px) {
  #tier2 #link_columns {
    margin: 0px 0px 20px 0px;
  }
}
#tier2 #link_columns .columns {
  padding: 0px 12px;
}
#tier2 #link_columns .columns {
  border-top: 1px solid #d3d3ce;
  padding-bottom: 12px;
}
@media (min-width:894px) {
  #tier2 #link_columns .columns {
    border-top: 0px;
  }
}
#tier2 #link_columns .columns:first-child {
  border-top: 0px;
}
@media (min-width:894px) {
  #tier2 #link_columns .columns:nth-child(n+5) {
    border-top: 1px solid #d3d3ce;
  }
}
@media (min-width:894px) {
  #tier2 #link_columns .columns:nth-child(4n-7) {
    clear: left;
    margin-left: 0px !important;
  }
}
#tier2 #link_columns h2 {
  color: #50504b;
  font-size: 17px;
  line-height: 20px;
  margin: 16px 0 12px 0;
  padding: 0;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  font-weight: bold;
}
#tier2 #link_columns ul {
  padding: 0px;
  margin: 0px;
}
#tier2 #link_columns ul li {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  line-height: 16px;
}
#tier2 #link_columns ul li a {
  color: #746030;
  text-decoration: none;
  font-size: 13px;
}
#tier2 #link_columns ul li a:hover, #tier2 #link_columns ul li a:focus {
  color: #386836;
  text-decoration: underline;
}

/* #Terciary Pages 
================================================== */
#tier3 img.tier3-banner {
  margin-bottom: 12px;
  width: 100%;
}
#tier3 #main-content {
  background: #fff;
  overflow: auto;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 12px 12px 12px;
  width: auto;
}
@media (min-width:964px) {
  #tier3 #main-content {
    margin: 0px auto;
    margin-bottom: 20px;
    width: 100%;
  }
}
#tier3 #main-content .columns:first-child {
  padding: 0px 20px;
}
#tier3 #main-content a {
  color: #746030;
}
#tier3 #main-content h1 {
  color: #3F6E3E;
  font-size: 29px;
  font-weight: normal;
  padding: 12px 0px;
  line-height: 34px;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  margin-left: 0px;
}
#tier3 #main-content h2 {
  color: #7F6F3B;
  font-size: 19px;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 4px;
}
#tier3 #main-content h3 {
  font-size: 16px;
  color: #444;
  padding: .4em 0 .2em 0;
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}
#tier3 #main-content h4 {
  font-family: "Gotham SSm A", "Gotham SSm B", arial, sans-serif;
  color: #333;
  font-size: 18px;
}
#tier3 #main-content ul {
  list-style: disc;
  padding-left: 3em;
}
#tier3 #main-content .callout-right {
  background: #EAEDE6;
  border-radius: 5px;
  padding: 12px;
  margin: 12px;
  font-size: 12px;
  line-height: 18px;
}
#tier3 #main-content .callout-right.no-bkg {
  background: transparent;
}
#tier3 #main-content .callout-right a {
  color: #3E713E;
}
#tier3 #main-content .callout-right ul li {
  list-style: disc;
  font-size: 14px;
  line-height: 14px;
}

/* #Standard Footer 
================================================== */
#interactive-footer {
  background: #e4e8de;
  overflow: auto;
  margin-bottom: 20px;
  padding: 0px 20px;
  border-radius: 5px;
  width: auto;
  margin: 0px 12px;
}
@media (min-width:894px) {
  #interactive-footer {
    padding: 12px 0px;
  }
}
@media (min-width:964px) {
  #interactive-footer {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width:894px) {
  #interactive-footer .columns {
    border-right: 1px solid #ccc;
  }
}
#interactive-footer .columns:last-child {
  border-right: none;
}
#interactive-footer .columns.omega {
  border-right: none;
}
#interactive-footer .budget-column {
  text-align: center;
  clear: both;
  border-top: 2px dotted #bbb;
  width: auto;
  padding: 20px 0px 20px 0px;
}
@media (min-width:600px) {
  #interactive-footer .budget-column {
    text-align: left;
    margin-top: 20px;
    width: 374px;
  }
}
@media (min-width:894px) {
  #interactive-footer .budget-column {
    clear: none;
    text-align: center;
    padding: 0px 2% 0px 0px;
    margin-top: 0px;
    width: 23.404293%;
    border-top: 0px;
  }
}
#interactive-footer .budget-column img#budget-graphic {
  height: auto;
  margin-top: 0px;
  opacity: 1;
}
@media (min-width:894px) {
  #interactive-footer .budget-column img#budget-graphic {
    margin-top: 0px;
    opacity: .7;
    height: 96px;
  }
}
#interactive-footer .ss-column {
  padding-bottom: 20px;
  overflow: auto;
}
@media (min-width:600px) {
  #interactive-footer .ss-column {
    padding-bottom: 0px;
  }
}
@media (min-width:894px) {
  #interactive-footer .ss-column {
    padding-bottom: 6px;
  }
}
#interactive-footer .support-column {
  text-align: center;
  width: 100%;
  float: none;
  border-bottom: 2px dotted #bbb;
  padding-bottom: 20px;
}
@media (min-width:460px) {
  #interactive-footer .support-column {
    float: left;
    width: 49%;
    border-right: 1px solid #bbb;
    border-bottom: none;
    padding-bottom: 0px;
  }
}
@media (min-width:600px) {
  #interactive-footer .support-column {
    width: 200px;
    text-align: left;
  }
}
@media (min-width:894px) {
  #interactive-footer .support-column {
    width: 48.936249%;
    padding-right: 4%;
    padding-top: 16px;
    text-align: center;
    padding-bottom: 6px;
  }
}
#interactive-footer .subscribe-column {
  text-align: center;
  width: 100%;
  float: none;
  padding-top: 20px;
}
#interactive-footer .subscribe-column a:focus img {
  outline: 2px solid #333333;
}
@media (min-width:460px) {
  #interactive-footer .subscribe-column {
    float: left;
    width: 49%;
    padding-top: 0px;
  }
}
@media (min-width:600px) {
  #interactive-footer .subscribe-column {
    width: 200px;
  }
}
@media (min-width:894px) {
  #interactive-footer .subscribe-column {
    width: 48.936249%;
    padding-right: 4%;
    padding-top: 16px;
  }
}
#interactive-footer .social-column {
  text-align: center;
  border-bottom: 2px dotted #bbb;
  margin: 0px 0px 28px 0px;
  padding: 20px 0px 20px 0px;
}
#interactive-footer .social-column a {
  text-indent: -9999px;
}
#interactive-footer .social-column a {
  background-image: url('../images/rwd2014/social-icons-sprite.png');
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  display: inline-block;
  margin: 2px;
}
#interactive-footer .social-column a.facebook-icon {
  background-position: 0px 0px;
}
#interactive-footer .social-column a.twitter-icon {
  background-position: -32px 0px;
}
#interactive-footer .social-column a.linkedin-icon {
  background-position: -64px 0px;
}
#interactive-footer .social-column a.youtube-icon {
  background-position: 128px 0px;
  clear: left;
}
#interactive-footer .social-column a.instagram-icon {
  background-position: -192px 0px;
}
#interactive-footer .social-column a.googleplus-icon {
  background-position: -224px 0px;
}
#interactive-footer .social-column a, #interactive-footer .social-column a:hover, #interactive-footer .social-column a:visited {
  text-decoration: none;
}
#interactive-footer .social-column a:focus img {
  outline: 2px solid #333333;
}
@media (min-width:600px) {
  #interactive-footer .social-column {
    text-align: left;
    width: 374px;
  }
}
@media (min-width:894px) {
  #interactive-footer .social-column {
    border-bottom: none;
    padding: 12px 2% 6px 5.5%;
    width: 23.404293%;
    margin: 0px;
  }
}
#interactive-footer .social-column br {
  display: none;
}
@media (min-width:894px) {
  #interactive-footer .social-column br {
    display: block;
  }
}
footer#standard-MSU-footer {
  width: 266px;
  padding-left: 0px;
  margin: 0 auto;
  padding-top: 20px;
  height: auto;
}
@media (min-width:460px) {
  footer#standard-MSU-footer {
    width: auto;
    padding-left: 12px;
  }
}
@media (min-width:964px) {
  footer#standard-MSU-footer {
    padding-left: 0px;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer .twelve.columns {
    float: right !important;
    margin-top: 10px;
  }
}
footer#standard-MSU-footer .four.columns {
  margin: 80px 0px 140px 0px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer .four.columns {
    margin: 20px 0px;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer .four.columns {
    float: left !important;
    margin: 13px 18px 13px 0px;
  }
}
footer#standard-MSU-footer.light-background #standard-footer-site-links ul li {
  border-right: 1px solid #666666;
  color: #18453b !important;
}
footer#standard-MSU-footer.light-background #standard-footer-site-links ul li a {
  color: #18453b;
}
footer#standard-MSU-footer.light-background #standard-footer-MSU-info ul li {
  color: #18453b;
}
footer#standard-MSU-footer.light-background #standard-footer-MSU-info ul li a {
  color: #4c7e00 !important;
}
footer#standard-MSU-footer.light-background #standard-footer-MSU-info ul li span.msu-phone {
  color: #4c7e00 !important;
}
footer#standard-MSU-footer.dark-background #standard-footer-site-links ul li {
  border-right: 1px solid #333333;
}
footer#standard-MSU-footer.dark-background #standard-footer-site-links ul li a {
  color: white;
}
footer#standard-MSU-footer.dark-background #standard-footer-MSU-info ul {
  color: white;
}
footer#standard-MSU-footer.dark-background #standard-footer-MSU-info ul li a {
  color: #84d123 !important;
}
footer#standard-MSU-footer.dark-background #standard-footer-MSU-info ul li span.msu-phone {
  color: #84d123 !important;
}
footer#standard-MSU-footer #standard-footer-site-links {
  float: left;
  border-bottom: 1px dotted #808080;
  text-align: left;
  padding-bottom: 12px;
  width: 100%;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-site-links {
    width: auto;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-site-links {
    padding-bottom: 0px;
  }
}
footer#standard-MSU-footer #standard-footer-site-links ul {
  margin: 0px;
  float: left;
  padding-left: 0px;
  text-align: center;
  width: 266px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-site-links ul {
    text-align: left;
    width: auto;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-site-links ul {
    height: 22px;
  }
}
footer#standard-MSU-footer #standard-footer-site-links ul li {
  display: inline;
  padding: 0 0 0 4px;
  margin-bottom: 0px;
}
footer#standard-MSU-footer #standard-footer-site-links ul li:first-child {
  padding-left: 0px;
}
footer#standard-MSU-footer #standard-footer-site-links ul li:last-child {
  border-right: 0px !important;
}
footer#standard-MSU-footer #standard-footer-site-links ul li a {
  font-size: 14px;
  padding: 0 8px 0 0;
  white-space: nowrap;
  text-decoration: none;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-site-links ul li a {
    font-size: 12px;
  }
}
footer#standard-MSU-footer #standard-footer-site-links ul li a:hover, footer#standard-MSU-footer #standard-footer-site-links ul li a:focus {
  text-decoration: underline;
}
footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(1) {

  /*
  color: $white;
  float: left;
  width: 100%;
  font-size: 13px;
  border-right: 0px; */
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(1) {
    text-align: left;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(1) {
    clear: none;
    float: none;
    width: auto;
    border-right: 1px solid #444444;
  }
}
footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(2) {

  /*
  padding-left: 0px;*/
  border-right: 0px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(2) {
    border-right: 1px solid #444444;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(2) {
    padding-left: 4px;
  }
}
footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(3) {

  /*
  border-right: 0px;*/
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(3) {
    border-right: 1px solid #444444;
  }
}
footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(4) {
  padding-left: 0px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-site-links ul li:nth-child(4) {
    padding: 0 0 0 4px;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info {
  padding-top: 12px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-MSU-info {
    text-align: left;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-MSU-info {
    float: left;
    margin-top: -1px;
    padding-top: 0px;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info ul {
  margin: 0 auto;
  padding-left: 0px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul {
    margin: 0px;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul {
    width: 100%;
    height: 16px;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li {
  margin-bottom: 0px;
  font-size: 10px;
  line-height: 10px;
  display: inline;
  border-right: 1px solid #444444;
  padding: 0px 4px 0px 8px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul li {
    font-size: 9px;
  }
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul li {
    width: 100%;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li:first-child {
  padding-left: 0px;
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li:last-child {
  border-right: 0px !important;
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li a {
  font-weight: bold;
  text-decoration: none;
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li a:hover, footer#standard-MSU-footer #standard-footer-MSU-info ul li a:focus {
  text-decoration: underline;
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(2) {
  border-right: 0px;
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(2) {
    border-right: 1px solid #444444;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(3) {
  float: left;
  width: 100%;
  clear: both;
  padding-left: 0px;
}
@media (min-width:894px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(3) {
    float: none;
    width: auto;
    padding: 0 8px;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(3) span {
  float: left;
  width: 100%;
  padding: 5px 0px 0px 0px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(3) span {
    float: none;
    width: auto;
    padding: 0px;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(4) {
  padding-left: 3px!important;
  font-weight: 400;
}
footer#standard-MSU-footer #standard-footer-MSU-info ul li.spartans-will {
  text-transform: uppercase;
  font-weight: 600;
}
footer#standard-MSU-footer #standard-footer-MSU-info ul.copyright li:first-child {
  float: left;
  width: 100%;
  padding: 6px 0px;
  border-right: 0px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul.copyright li:first-child {
    float: none;
    width: auto;
    border-right: 1px solid #444444;
    padding: 0px 4px 0px 0px;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-info ul.copyright li:last-child {
  float: left;
  width: 100%;
  padding: 0px;
}
@media (min-width:460px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul.copyright li:last-child {
    float: none;
    width: auto;
    padding: 0px 0px 0px 4px;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-wordmark .print-msuwordmark {
  display: none;
}
@media print {
  footer#standard-MSU-footer #standard-footer-MSU-wordmark .print-msuwordmark {
    display: block;
  }
}
footer#standard-MSU-footer #standard-footer-MSU-wordmark img {
  width: 100%;
  max-width: 266px;
}
@media print {
  footer#standard-MSU-footer #standard-footer-MSU-wordmark img .screen-msuwordmark {
    display: none;
  }
}
.no-cssgradients footer#standard-MSU-footer {
  overflow: auto;
  background: #fff;
}

/* #Grid Based Column Widths 
================================================== */
.container {
  padding: 0px;
  min-width: 0;
  margin-left: 0;
  margin-right: 0;
}
.container .row {
  width: 100%;
  min-width: 0;
  margin-left: 0;
  margin-right: 0;
}
.container .row .row {
  min-width: 0px;
}
.container .row .row .column, .container .row .row .columns {
  padding: 0;
}
@media (min-width:894px) {
  .container .row .column:first-child, .container .row .columns:first-child, .container .row .alpha {
    margin-left: 0px;
  }
}
.container .row .column:last-child, .container .row .columns:last-child {
  margin-right: 0;      /*float: none;*/
}
@media (min-width:894px) {
  .container .row .column.omega, .container .row .columns.omega {
    float: right;
  }
}
.container .row .column, .container .row .columns {
  width: auto;
  float: none;
  margin-left: 0px;
  margin-right: 0px;
}
@media (min-width:894px) {
  .container .row .column, .container .row .columns {
    margin-left: 2.127663%;
    float: left;
    min-height: 1px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width:894px) {
  .container .row {
    margin: 0 auto;
    max-width: 960px;
    min-width: 870px;
  }
  .container .row .one.columns {
    width: 4.255326%;
  }
  .container .row .two.columns {
    width: 10.638315%;
  }
  .container .row .three.columns {
    width: 17.021304%;
  }
  .container .row .four.columns {
    width: 23.404293%;
  }
  .container .row .five.columns {
    width: 29.787282%;
  }
  .container .row .six.columns {
    width: 36.170271%;
  }
  .container .row .seven.columns {
    width: 42.55326%;
  }
  .container .row .eight.columns {
    width: 48.936249%;
  }
  .container .row .nine.columns {
    width: 55.319238%;
  }
  .container .row .ten.columns {
    width: 61.702227%;
  }
  .container .row .eleven.columns {
    width: 68.085216%;
  }
  .container .row .twelve.columns {
    width: 74.468205%;
  }
  .container .row .thirteen.columns {
    width: 80.851194%;
  }
  .container .row .fourteen.columns {
    width: 87.234183%;
  }
  .container .row .fifteen.columns {
    width: 93.617172%;
  }
  .container .row .sixteen.columns {
    width: 100%;
  }
}
.clearfix {
  clear: both;
}

/* Emergency Announcement Styles */
.emergency-wrapper {
  width: 100%;
  background: #ffffcc;
  float: left;
  position: relative;
  margin-bottom: 12px;
  margin-top: -8px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.emergency-content {
  width: 960px;
  max-width: 960px;
  width: auto !important;
  margin: 0 auto;
}
img#emergency-icon {
  float: left;
  margin: 12px;
}
.emergency-content p {
  padding: 12px;
  margin-bottom: 0px;
  float: left;
  width: 80%;
  color: #18453b;
  line-height: 20px;
}
img#emergency-feature-override {
  margin-bottom: -4px;
  width: 100%;
}
@media (min-width:894px) {
  img#emergency-feature-override {
    margin-bottom: 8px;
  }
}

/*Feature Video */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
@media (min-width:894px) {
  .embed-container {
    margin-bottom: 12px;
  }
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img#feature-video {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: -4px;
}
@media (min-width:894px) {
  img#feature-video {
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 0px;
  }
}

/* social/index.php */
#social-table {
  padding: 0px 20px;
}
@media (min-width:960px) {
  #social-table {
    padding: 0px;
  }
}
#social-table img {
  padding-right: 4px;
}
@media (min-width:960px) {
  #social-table img {
    padding-right: 0px;
  }
}
#social-table table {
  border: none;
  width: auto;
  border-collapse: collapse;
}
@media (min-width:960px) {
  #social-table table {
    width: 900px;
  }
}
#social-table tr {
  float: left;
  width: 100%;
  clear: both;
  padding: 6px 0px;
}
@media (min-width:960px) {
  #social-table tr {
    float: none;
    width: auto;
    clear: none;
    padding: 0px;
    border-bottom: 1px solid #ccc;
  }
}
#social-table td {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width:960px) {
  #social-table td {
    padding-top: 6px;
  }
}
#social-table th {
  font-family: Arial, serif;
  text-align: center;
  font-size: .8em;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: normal;
}
#social-table .msuOfficeTitle {
  padding-right: 1em;
  font-family: Arial, serif;
  font-size: 1em;
}
.bgFacebook, .bgTwitter, .bgYoutube, .bgFlickr, .bgLinkedin, .bgSlideshare, .bgGooglePlus, .bgInstagram {
  text-align: center;
  width: auto;
  float: left;
}
@media (min-width:960px) {
  .bgFacebook, .bgTwitter, .bgYoutube, .bgFlickr, .bgLinkedin, .bgSlideshare, .bgGooglePlus, .bgInstagram {
    width: 64px;
    float: none;
  }
}
#social-table tr.social-titles {
  display: none;
  border-bottom: 0px;
}
@media (min-width:960px) {
  #social-table tr.social-titles {
    display: table-row;
  }
}
#social-table .msuOfficeTitle {
  padding-right: 1em;
  font-family: Arial, serif;
  font-size: 1em;
  width: 100%;
  display: block;
  float: left;
  clear: both;
}
@media (min-width:960px) {
  #social-table .msuOfficeTitle {
    width: auto;
    display: inline-block;
    float: none;
  }
}
#tier3 #main-content #social-table td a {
  color: #457D45;
}

/* about/thisismsu/board-admin/org-chart.html */
#orgChart {
  text-align: center;
}
@media (min-width:894px) {
  #orgChart {
    margin-left: 0px;
    text-align: center;
  }
}
#orgChart ul {
  padding: 0px 12px;
}
#orgChart section.row {
  padding: 20px 0px;
}
#orgChart .eight.columns {
  margin-left: 0px;
  margin-right: 0px;
}
section.row.gray-bkg {
  background: #E4E8DE;
  overflow: auto;
}

/* /state-transparency-reporting */
#tier3 table.state-reporting {
  width: 100%;
  border-collapse: collapse;
}
#tier3 table.state-reporting th {
  color: #ffffff;
  background: #18453B;
  padding: 5px 3px;
  border: 1px solid black;
}
#tier3 table.state-reporting td {
  padding: 5px 3px;
  text-align: center;
  border: 1px solid black;
}
#tier3 table.state-reporting th[scope=row] {
  text-align: left;
}
#str-breadcrumb {
  color: #000000;
  font-size: 11px;
  position: absolute;
  top: 5px;
  left;
  0px;
}

/* Shame */
#site-map ul li {
  list-style: disc;
  padding-top: 8px;
  font-size: 15px;
}
#site-map ul ul {
  margin-left: 0px;
  padding-left: 16px;
}
#main.support-msu ul li {
  list-style: disc;
  font-size: 14px;
}
#main.support-msu ul {
  margin-left: 0px;
  padding-left: 20px;
}
#holiday-give {
  position: absolute;
  width: 50px;
  left: 50%;
  top: 0px;
  z-index: 1;
}
@media (min-width:894px) {
  #holiday-give {
    display: block;
  }
}
@media (max-width:893px) {
  #holiday-give {
    margin-top: 60px;
    display: block;
    left: 50%;
  }
  footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(4) {
    display: block;
    padding-left: 0!important;
  }

  /* Enable the following statement when displaying the Univ Advancement holiday ornament/link (i.e. when using the Holiday Masthead/Search block) on the MSU Home page.
  /* Disable this statement when the Holiday Ornament/Link is removed. */

  /*    #banner-slideshow { margin-top: 75px !important; }  */
}
@media (max-width:460px) {
  footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(3) {
    border-right: none;
  }
  footer#standard-MSU-footer #standard-footer-MSU-info ul li:nth-child(4) {
    line-height: 2.1;
  }

  /* Enable the following statement when displaying the Univ Advancement holiday ornament/link (i.e. when using the Holiday Masthead/Search block) on the MSU Home page.
  /* Disable this statement when the Holiday Ornament/Link is removed. */

    #banner-slideshow { margin-top: 75px !important; }  
}

/* Used for the msutalk section */
.slick-slide .emoji {
  display: inline;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

#data-breach-link {
    margin-left: 72px;
}

#data-breach-link a {
    color: #d1de3f!important;
}

@media screen and (max-width:950px) {
#data-breach-link {
    margin-left: 0;
}

}