
@font-face {
    font-family: 'helvetica_condensedbold';
    src: url('fonts/helvetica-condensed-bold-webfont.eot');
    src: url('fonts/helvetica-condensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica-condensed-bold-webfont.woff') format('woff'),
         url('fonts/helvetica-condensed-bold-webfont.ttf') format('truetype'),
         url('fonts/helvetica-condensed-bold-webfont.svg#helvetica_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'TruthFB-Light';
	src: url('fonts/trthlt__.eot');
	src: url('fonts/trthlt__.eot?#iefix') format('embedded-opentype'),
			 url('fonts/trthlt__.woff') format('woff'),
			 url('fonts/trthlt__.ttf') format('truetype'),
			 url('fonts/trthlt__.svg#trthlt__') format('svg');
	font-weight: normal;
	font-style: normal;
		}
@font-face {
    font-family: 'rupeeregular';
    src: url('fonts/rupee-webfont.eot');
    src: url('fonts/rupee-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rupee-webfont.woff') format('woff'),
         url('fonts/rupee-webfont.ttf') format('truetype'),
         url('fonts/rupee-webfont.svg#rupeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


img {border:0;}

a {
        color:#333333;
        font-family:Arial, Helvetica, sans-serif;
        font-size:11px;
        text-decoration: none;
}
a:hover {color:#ff0000; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-decoration:none}
body { margin:0px;
background-color:#eaeaea;}

#footer{
        font-family:Arial, Helvetica, sans-serif;
        color:#b81319;
        font-size:11px;
        text-align:left;
}
.home-dropdown{
        font-family:Arial, Helvetica, sans-serif;
        color:#333333;

background-color:#FF0000       text-align:left;
        font-size: 10px;
		width:150px;
		height:20px;
}

.home-dropdown2{
        font-family:Arial, Helvetica, sans-serif;
        color:#333333;

background-color:#ffffff;       text-align:left;
        font-size: 11px;
		width:200px;
		height:20px;
		 border:#000000 1px solid;
}

.home-dropdown3{
        font-family:Arial, Helvetica, sans-serif;
        color:#333333;

background-color:#ffffff;
    
	   border:#cccccc 1px solid;
        font-size: 11px;
		width:200px;
		height:20px;
	
}
#leftsubnev td{ padding:11px 0 6px 20px; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:11px;}

#centercontenor{ width:96%; margin:10px;}
#centercontenor h3{ background-image:url(../images/row-bg.jpg); height:26px; font-size:11px; padding:0px 4px 0px 4px; border-bottom:1px solid #C7C7C7; line-height:23px}
#centercontenor td{
        font-family:Arial, Helvetica, sans-serif;
        color:#666;
        font-size:11px;
        padding:0px;
}
#centercontenor h2{ font-family:Arial, Helvetica, sans-serif;font-size:11px; color:#FF0000; background-image:url(../images/row-bg.jpg); background-repeat:repeat-x; height:29px; border-bottom:1px solid #e3e3e3; line-height:26px}
#centercontenor h1{ font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#5b5b5b; background-repeat:repeat-x; height:29px; border-bottom:1px solid #e3e3e3; line-height:26px; background-image:url(../images/table-header-bg-main.jpg)}
#centercontenor h1 span{ padding-left:5px}
#centercontenor h4{ font-style:italic; font-size:10px}
#centercontenor h2 span{ padding-left:5px; padding-right:5px}
#centercontenor a{color:#5b5b5b; font-size:11px;  text-decoration:underline}
#centercontenor a:hover{color:#FF0000 ; font-size:11px; }

h1 {Arial, Helvetica, sans-serif; color:#000000; font-size:13px; font-weight:bold;}
#heading {Arial, Helvetica, sans-serif;
        color:#fff;
        font-size:13px;
        font-weight:bold;
        font-family: Arial, Helvetica, sans-serif;
        padding-left:30px;
}
#topsubnavi{margin-left:1px; padding:0 10px 0 10px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#808080; text-align:center;}
.Black11pt
{
 font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;
}

#para{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666" align="center}
#para a{ color:#FF0000;  font-weight:bold; text-decoration:underline}
#para a:hover{ color:#FF0000;  font-weight:bold}

#data-tables{  border-bottom:4px solid #333333; border-right:0px; font-family:Arial, Helvetica, sans-serif}
#data-tables th{
        background-image:url(../images/table-header-bg.jpg);
        height:29px;
        background-repeat:repeat-x;
        color:#fff;
        font-family:Arial, Helvetica, sans-serif;
        font-size:11px;
        line-height:26px
}
#data-tables .rows{background-image:url(../images/row-bg.jpg); height:26px; padding:0px 4px 0p 4px;border-bottom:1px solid #EBEBEB; border-right:1px solid #EBEBEB; color:#666666; border-left:1px solid #EBEBEB; background-repeat:repeat-x;}
#data-tables .altrows{
        height:26px;
        padding:0px 4px 0p 4px;
        border-bottom:1px solid #EBEBEB;
        border-right:1px solid #EBEBEB;
        color:#666666;
        border-left:1px solid #EBEBEB;
}
#data-tables td{padding:0px 4px 0px 4px; font-size:11px; line-height:26px}
#data-tables tr{padding:0px 4px 0px 4px; font-size:11px; line-height:26px}
#data-tables .heads{color: #EA264E; font-size:11px; font-weight:bold; margin:0px; padding:0px 4px 0px 4px;border-right:1px solid #EBEBEB; border-left:1px solid #EBEBEB}
#data-tables .heads1{font-size:11px; font-weight:bold; margin:0px; padding:0px 4px 0px 4px; border-right:1px solid #EBEBEB; color:#666666;border-left:1px solid #EBEBEB}
.data-tables h4{font-style:italic; font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#666 }
.data-tables h1{background-color:#CCCCCC; border-bottom:solid 1px #999999; color:#FF0000; font-family:Arial, Helvetica, sans-serif; font-size:11px; height:20px; padding:5px; line-height:18px}
.data-tables h2{ color:#000; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold}
th{padding-left:4px;text-align:left}
#data-tables-edit{  border-bottom:4px solid #333333; border-right:0px; font-family:Arial, Helvetica, sans-serif}
#data-tables-edit th{
        background-image:url(../images/header-row-bg.jpg);
        height:50px;
        background-repeat:repeat-x;
        color:#fff;
        font-family:Arial, Helvetica, sans-serif;
        font-size:10px;
        line-height:20px
}
#data-tables-edit .rows{background-image:url(../images/row-bg.jpg); height:26px; padding:0px 4px 0p 4px;border-bottom:1px solid #EBEBEB; border-right:1px solid #EBEBEB; color:#666666; border-left:1px solid #EBEBEB; background-repeat:repeat-x;}
#data-tables-edit .altrows{height:26px; padding:0px 4px 0p 4px;border-bottom:1px solid #EBEBEB;border-right:1px solid #EBEBEB; color:#666666;border-left:1px solid #EBEBEB}
#data-tables-edit td{padding:0px 4px 0px 4px; font-size:11px; line-height:26px}
#data-tables-edit tr{padding:0px 4px 0px 4px; font-size:11px; line-height:26px}
#data-tables-edit .heads{color: #EA264E; font-size:11px; font-weight:bold; margin:0px; padding:0px 4px 0px 4px;border-right:1px solid #EBEBEB; border-left:1px solid #EBEBEB}
#data-tables-edit .heads1{font-size:11px; font-weight:bold; margin:0px; padding:0px 4px 0px 4px; border-right:1px solid #EBEBEB; color:#666666;border-left:1px solid #EBEBEB}
.data-tables-edit h4{font-style:italic; font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#666 }
.data-tables-edit h1{background-color:#CCCCCC; border-bottom:solid 1px #999999; color:#FF0000; font-family:Arial, Helvetica, sans-serif; font-size:11px; height:20px; padding:5px; line-height:18px}
.data-tables-edit h2{ color:#000; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold}
#data-table{  border-bottom:4px solid #333333; border-right:0px; font-family:Arial, Helvetica, sans-serif}
#data-table th{
        background-image:url(../images/big-header.jpg);
        height:39px;
        background-repeat:repeat-x;
        color:#fff;
        font-family:Arial, Helvetica, sans-serif;
        font-size:11px;
        line-height:16px
}
#data-table .rows{background-image:url(../images/row-bg.jpg); height:26px; padding:0px 4px 0p 4px;border-bottom:1px solid #EBEBEB; border-right:1px solid #EBEBEB; color:#666666; border-left:1px solid #EBEBEB; background-repeat:repeat-x;}
#data-table .altrows{
        height:26px;
        padding:0px 4px 0p 4px;
        border-bottom:1px solid #EBEBEB;
        border-right:1px solid #EBEBEB;
        color:#666666;
        border-left:1px solid #EBEBEB;
}
#data-table td{padding:0px 4px 0px 4px; font-size:11px; line-height:26px}
#data-table tr{padding:0px 4px 0px 4px; font-size:11px; line-height:26px}.handset-name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: #F00;
        text-decoration: none;
}
.bold-red {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #FF0101;
        font-weight: bold;
}
.blac-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #000;
}
.blac-text2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #ff0000;
}

.blac-text3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #ff0000;
}

.blue-link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #0a83ab;
		
}


.blue-link a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #0a83ab;
		text-decoration:underline;
}


.blue-link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #0a83ab;
}

.tableheaderbg2
{
background-image:url(../images/table-header-bg2.jpg);
background-repeat:repeat-x;

background-position:top;
font-family:Arial, Helvetica, sans-serif, "Lucida Handwriting";
color:#FFFFFF;
font-size:14px;
font-weight:bold;
padding:10px;
}

.dropdownmenu
{
font-family:Arial, Helvetica, sans-serif;
color:#333333;
font-size:10px;
width:100px;
padding:2px;
}


.important-links
{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:16px;
font-weight:bold;
padding:5px 5px 0 0px;
text-align:left;
}

.links
{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:10px;
padding:4px 0px 4px 10px;
background:url(../images/arrow.png) 0 center no-repeat;
text-align:left;
text-decoration: none;
}

.links a
{
font-family:Arial, Helvetica, sans-serif;
color:#1481b4;
font-size:10px; line-height:10px;
text-align:left;
text-decoration: none;
outline:none;
border-bottom:1px #1481b4 solid;
}
.links a:hover
{
font-family:Arial, Helvetica, sans-serif;
color: #333333;
font-size:10px;

text-align:left;
text-decoration: none;
outline:none;
border-bottom:none;
}
.links sup{font-size:60%; position:relative;}


.boxes
{
/*background-image:url(../images/boxes.png);*/
width:297px;
height:190px;
background-repeat:no-repeat;
background-position:left top;
}

.boxes2
{
background-image: url(../images/boxes-small.png);
width:297px;
height:91px;
background-repeat:no-repeat;
background-position:left top;
}
/*.boxes2
{
background-image: url(../images/boxes-Medium.png);
width:297px;
height:125px;
background-repeat:no-repeat;
background-position:left top;
}*/
a.PrepaidBtn{width:136px; height:24px; float:left; background:url(../images/PrepaidBtn.png) 0 0 no-repeat; font:normal 11px/24px Arial, Helvetica, sans-serif; color:#FFFFFF; padding:0 0 0 10px;}
a.PrepaidBtn:hover{width:136px; height:24px; float:left; background:url(../images/PrepaidBtn.png) 0 bottom no-repeat;}

.boxes-myaccount
{
background-image: url(../images/my-accountbg.png);
width:297px;
height:60px;
background-repeat:no-repeat;
background-position:left top;
}
.my-accounttext
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#bf1414;
padding-top:2px;
padding-left:0px;
font-weight:bold;

}
.boxes-heading
{
font-family: Arial, Helvetica, sans-serif;

color:#666666;
padding-top:10px;
padding-right:10px;
padding-left:10px;
padding-bottom:0px;
font-weight:600;
font-size:12px;
}

.musicimage
{
background-image:url(../images/musictrackimg.png);
width:283px;
height:178px;
background-repeat:no-repeat;
background-position:top;
}

.bottom-links
{
font-family:Arial, Helvetica, sans-serif;
color:#1481b4;
font-size:11px;
padding:5px;
text-align:right;
}

.bottom-links a
{
font-family:Arial, Helvetica, sans-serif;
color:#1481b4;
font-size:11px;

text-align:right;
text-decoration:none;

}
.bottom-links a:hover
{
font-family:Arial, Helvetica, sans-serif;
color:#333333;
font-size:11px;

text-align:right;
text-decoration: underline;

}

.textbox
{
background-image:url(../images/search-middle.png);
height:11px;
background-repeat:repeat-x;
width:120px;
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:10px;
padding:5px;
border:none;
outline:none;

}

input[type="radio"] {}
.ez-hide { opacity: 0; filter:alpha(opacity=0); cursor: pointer; display: block; margin: 0; position: relative; top: 0; margin:0;}
.ez-checkbox { background: transparent url(../images/checkbox.png) 0 0 no-repeat; display:block;  float: left; height: 16px; margin-right: 5px; margin-top: 3px; width: 16px; outline:none; border:none;}
.ez-radio {background: url(../images/radio.png) 0 0 no-repeat; cursor: pointer; display: block; float: left; height: 14px; margin:0; width: 14px; }
.ez-checked { background-position: 0 bottom; }
.ez-selected { background-position: 0 -14px; }
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:32px; }
.defaultP label{float:left; padding-left:3px;}



/*.offerbox{width:297px; height:185px; float:left; display:block; text-align:left;}
.offerbox .imgarea{width:120px; height:185px; padding:10px 0 0 10px; float:left; display:block;}
.offerbox h2{width:165px; height:auto; margin:25px 0 15px 0; padding:0; float:left; display:block; font-family:'TruthFB-Light', Arial; color:#ff0000; font-size:24px; font-weight:bold;}
.offerbox p{width:165px; height:auto; margin:0 0 15px 0; padding:0; float:left; display:block; font-family:'TruthFB-Light', Arial; color:#1e1e1e; font-size:12px; font-weight:normal; line-height:16px;}*/


