#lightbox_wrap { position: fixed; width:100%; height:100%; top:0; left:0;background: url(../images/lightbox_bg.png) repeat transparent; z-index:9998;}
#homelightbox { width:700px; padding:20px 15px 20px 20px; position: fixed; top:90px; left:50%; margin-top:0; margin-left:-350px; z-index:9999; font-family:Arial, sans-serif; color:#333333; background: #FFFFFF;}
#homelightbox span { display:block; font-size:16px; font-weight:700; margin:10px 0; text-align:center;}
#homelightbox h2 { font-size:15px; font-weight:bold; margin:20px 0 7px 0;}
#homelightbox p { font-size:13px; line-height:15px; font-weight:normal; margin:0 0 10px 0;}
#lightbox_close { position:absolute; top:10px; right:10px; color:#C00; font-weight:700; cursor:pointer;}

#homelightbox ul{margin:0; padding:0; list-style:none;}
#homelightbox ul li{margin:0; padding:0 0 0 15px; list-style:none; background:url(../images/popup-list.jpg) 0 center no-repeat; font-size:13px; line-height:15px; font-weight:normal;}


#sliderWrap {
	position: relative;
}
.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
.nivoSlider a {
	background-color: #fff;
	filter:alpha(opacity=0);
	opacity: 0;
	-webkit-opacity:0;
	-moz-opacity:0;
	-khtml-opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav { display:block; position:absolute !important; top:10px; right:35px; z-index:9999;}
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
