@charset "utf-8";
/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td，article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:0;outline:0;text-align:left;vertical-align:baseline}body,button,input,select,textarea{font:14px/20px 'Helvetica Neue','Helvetica','Arial','Sans-serif';color:#333}input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}th{text-align:inherit}fieldset,img{border:none}iframe{display:block}abbr,acronym{border:none;font-variant:normal}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}q:before,q:after,blockquote:before,blockquote:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ins,a{text-decoration:none}a:hover{text-decoration:underline}a:focus,*:focus{outline:none}.fl{float:left;display:inline}.fr{float:right;display:inline}.mt10{margin-top:10px}.clearThis{clear:both}.hide{display:none}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both;overflow:hidden}.clearfix{zoom:1}.cm_c3_1{width:280px;_overflow:hidden}.cm_c3_2{width:700px;_overflow:hidden}.cm_c3_2_l,.cm_c3_2_r{width:340px;float:left;display:inline;zoom:1;overflow:hidden}.cm_c3_2_r{float:right}.cm_c4,.cm_c4_last{width:235px;float:left;margin-right:20px;display:inline}.cm_c4_last{margin-right:0}.cm_c2_l,.cm_c2_r{width:490px;float:left;margin-right:20px;display:inline;_overflow:hidden}.cm_c2_r{margin-right:0}.side_box{border:1px solid #e0e0e0;padding-bottom:15px;overflow:hidden}.cm_c3_a,.cm_c3_b,.cm_c3_c{width:320px;margin-right:20px;float:left;display:inline;overflow:hidden}.cm_c3_c{margin-right:0;float:right}.cm_c5,.cm_c5_last{width:184px;float:left;margin-right:20px;display:inline;_overflow:hidden}.cm_c5_last{margin-right:0}.cm_c3_180,.cm_c3_390{width:180px;float:left;display:inline}.cm_c3_390{width:390px}.cm_700_c5,.cm_700_c5_last{width:132px;float:left;margin-right:10px;display:inline;_overflow:hidden}.cm_700_c5_last{margin-right:0}.black{background:#000}.white{background:#FFF}.green{background:#0F0}.blue{background:#00F}.bg_red{background:#C00}.bg_f2{background:#f2f2f2}.bg_fff{background:#FFF}.bd1{border:1px solid #ddd}.red{color:#C00}

/*18083.css*/
.wp{width:1000px; margin:auto;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;*margin-top:20px;}
.mt18{ margin-top:18px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt32{ margin-top:32px;}

.ml5{ margin-left:5px;}
.ml20{ margin-left:20px;}
.ml40{ margin-left:40px;}
.ml10{ margin-left:10px;}
.mb20{ margin-bottom:20px;}
.hide		{display:none;}
.oh{ overflow:hidden;}
.more{float:right; font-size:12px;}
em{ margin:0 4px;}
.line,.line_dot{border-top:1px solid #ddd; line-height:0; height:0; clear:both;}
.line_dot{border-top:1px dotted #eee;}
.red{ color:#cc0000;}

.inline{ display:inline;}
.relative{ position:relative;}
/* 清除浮动 */
.clearThis 	{clear:both;}

a{ color:#252525;}
a:hover{ color:#363;}

/*----------------------------------------------------------------
 - 弹窗广告广告
 ---------------------------------------------------------------*/
#ad_background{position:absolute;z-index: 5555;zoom:1;width: 100%;background:#000; opacity: 0.7; filter:alpha(opacity=70); display:none;}
#ad_banner{ width:100%; height:100%; position:fixed; _position:absolute;z-index: 6666; zoom:1; display:none;}
#ad_banner img{width:1000px; height:500px;position:absolute; z-index:5; display:none;}
#ad_banner a.ad_close{width:42px; height:42px;top:0;right:0; background:url("gallery.gif") 0 -520px;position:absolute;opacity: 0.5;filter:alpha(opacity=50); z-index:10}
#ad_banner a:hover{opacity:0.8;filter:alpha(opacity=80);}

.ad_banner_1000x120{ width:1000px; height:120px; overflow:hidden; background:#f8f8f8;}
/*----------------------------------------------------------------
 - 顶部导航
 ---------------------------------------------------------------*/
.cm_nav{height:34px; padding-bottom:1px; background:#fff; border-bottom: 1px #d8d8d8 solid; width: 100%;min-width: 1000px;  position:relative;
transition:all 0.3s ease;z-index: 666; position: fixed; top:0;left:0;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));}
.cm_nav .m{ background:#f2f2f2; overflow:visible;height:34px; font:13px/34px "宋体";}
.cm_nav a{float: left;padding: 0 4px;}
.cm_nav .pipe{border-left:1px solid #999;border-right:1px solid #fff;float:left; margin:10px 4px;height:12px; display:inline; background:#FFF;}

.hidden{ display:none;}
/*----------------------------------------------------------------
 - 登陆部分
 ---------------------------------------------------------------*/
.top-menu{height:36px; position:relative; padding-right:10px;}
.top-menu a{ float:left;}
.top-menu .pipe{ float:left; line-height:0;}
#login_table{ width:100%}
#login_table input{ width:160px;}
#login_table tr td {display: block;margin:auto;padding-left: 35px; padding-top:10px;}
#login_table tr td button {width: 154px;}
#login_table tr td span{ display:block;}
#login_div {width:240px; top:34px; left:0; position:absolute; z-index:999; background:#fff;border: 1px solid #cdcdcd; -webkit-box-shadow: 0 0 8px #cdcdcd; -moz-box-shadow: 0 0 8px #cdcdcd; box-shadow: 0 0 8px #cdcdcd; line-height:28px;}
/*----------------------------------------------------------------
 - 页眉头部
 ---------------------------------------------------------------*/
#header{ padding-top:46px;*padding-top:26px; height:180px; width:100%;}
/*#header a.banner-link{height:126px; display:block;}*/
.hdc{margin-bottom: 15px; height:75px;}
/*页眉 左部 LOGO*/
.hdc .logo{width:233px; height:75px; float: left;text-align: center; overflow:hidden; display:inline;}
.hdc .logo h1{ margin:0; padding:0;}
.hdc .logo a{
	width: 230px;
	height: 75px;
	line-height: 75px;
	display: block;
	overflow: hidden;
	background:url(logo.jpg);
}
.hdc .logo a span{display:none;}

/*页眉 中部*/
.hdc .middle{ width:370px; height:75px; float:left; margin-left:12px; display:inline;}
/*页眉 中部 天气*/
.hdc .middle .cndate{ width:100%;font:12px/28px "宋体"; height:28px; margin-top:12px;}
/*页眉 中部 搜索*/
.hdc .middle .search{width:380px;height:34px;line-height:34px; }
/*页眉 中部 搜索分类*/
.hdc .serach_type{ width:75px; height:32px; float:left; border:1px solid #d6d6d6; position:relative; border-right:none;}
.hdc .serach_type a{width:75px; height:32px;line-height:32px; display:block;font-size:14px; text-decoration:none; text-indent:10px;background:url("gallery.gif") 0 -33px no-repeat;}
.hdc .serach_type ul{ width:75px;border:1px solid #ddd; background:#FFF; overflow:hidden;position:absolute; z-index:20; left:-1px; top:32px;display:none; }
.hdc .serach_type li{ padding-left:10px; line-height:28px; border-bottom:1px solid #f0f0f0; cursor:pointer; }
.hdc .serach_type li:hover{ background:#f8f8f8;}
/*页眉 中部 文本框*/
.hdc .search_txt{width:200px;height:18px;padding:7px 9px;float: left;line-height: 18px;font-size: 14px;border: 1px solid;border-color: #afafaf #d6d6d6 #d6d6d6 #afafaf;background: #FFF;color:#999;}
/*页眉 中部 搜索按钮*/
.hdc .search_btn { width:75px;float: left;cursor: pointer;margin-left: -1px;padding: 0 20px;font-size: 14px;font-weight: normal;height: 34px;color: #666;
				line-height: normal;vertical-align: middle;border: 1px solid #d6d6d6;background:#eee;}

/*页眉 右部 微信微博*/
.wxwb{ height:42px; float:right;}
.wxwb a{margin:0 0 0 15px;float:left;display:block; width:98px; text-align:center; line-height:30px;border:1px solid #eee;}
/*页眉 右部 报系网系*/
.bxwx{float:right; margin-top:6px; width:220px;}
.bxwx .on ul{ display:block;}
.sitelink{width:98px; height:30px; border: 1px solid #d6d6d6;display: block; z-index:10; float:left; position:relative; margin-left:10px; display:inline;}
.sitelink a{width:78px;height:30px; display:block; line-height:30px; padding:0 10px;overflow:hidden;}
.sitelink a.gfbw{background: url("gallery.gif") 24px -35px no-repeat;}
.sitelink a.jfjb{background: url("gallery.gif") 0 -170px no-repeat;  text-indent:120px;}
.sitelink a.zggfb{background: url("gallery.gif") 0 -620px no-repeat;  text-indent:120px;}
.sitelink a.zgjsw{background: url("gallery.gif") 0 -655px no-repeat;  text-indent:120px;}
.sitelink ul { width:100%; position:absolute; overflow:hidden; background:#FFF; border:1px solid #ddd; left:-1px;display:none;z-index:80;}
.sitelink ul li{line-height:28px; border-bottom:1px solid #f0f0f0; cursor:pointer; }
.sitelink ul li:hover{ background:#f8f8f8;}
.sitelink-center{ margin-top:10px; text-align:center; z-index: 5;}
/*.sitelink-center a{display:inline;}*/

/*----------------------------------------------------------------
 - 页眉 主导航
 ---------------------------------------------------------------*/
.main_nav{overflow:hidden;border-top:3px solid #326433; padding:10px 0;}
.main_nav .region{float:left; overflow:hidden; border-right:1px dotted #ddd; margin-right:14px; width:188px;}
.main_nav .region_last{width:188px;float:left; overflow:hidden;}
.main_nav .region_last ul{width:188px;float:left; overflow:hidden;}
.main_nav ul{ overflow:hidden; width:188px;}
.main_nav ul li{ float:left; width:45px; font-size:13px;text-align: center;}
.main_nav strong{ width:12px; display:block; padding-top:1px;}
.main_nav a{font-family: "微软雅黑","SimHei"; line-height:26px;transition:all 0.3s linear; color:#242424; font-size:14px;letter-spacing:2px;}
.main_nav a:hover{ color:#336633;}

/*----------------------------------------------------------------
 - 布局 栏目标题
 ---------------------------------------------------------------*/

 /*头条*/
.tp_4{ margin-top:4px;}
.cm_topline{width:998px; height:86px; border:1px solid #ddd; background:#f8f8f8;margin-bottom: 18px; float:left;}
.cm_topline_ico{ width:100px; height:86px; background:url(gallery.gif) -376px -94px no-repeat; float:left;}
.cm_topline_ico span{background:url(jwtitle.png) 4px 4px no-repeat; width:96px; height:78px; display:block;}
.cm_topline-live .cm_topline_ico span{background-position:4px -76px;}

.cm_topline_m{ width:890px; float:left;  height:60px;}
.cm_topline_m .cm_topline_t{ text-align:center; height:60px;width: 890px;display: block;}
.cm_topline_m p{ display:block;text-align:center; height:20px; line-height:20px; overflow:hidden; margin:0px;}
.cm_topline_m p a{margin:0 10px;}
.cm_topline_m a{ color:#045d3f;}
 /*头条结束*
 
/*栏目标题 直线风格*/
.box_hd{margin-bottom: 0;height:34px;line-height:34px; border-bottom: 2px solid #363;}
.box_hd h4{height:34px;line-height:34px; text-align:left; margin-left:12px; float:left; font-size:18px; font-weight:bold; font-family:"微软雅黑","黑体";}
.box_hd a:hover{ text-decoration:none;}
.box_hd h6{ width:115px; height:34px;line-height:34px; text-align:center; float:left; font-size:16px; font-weight:bold; font-family:"微软雅黑";}
.box_hd h6.cur a{ color:#252525;}
.box_hd h6 a{ color:#666;}
.box_hd span{float:right; font-size:14px; padding:0 10px;}
.box_hd span a{ color:#999; line-height:34px; font-size:12px;}
.box_hd span a:hover{ color:#363;}

/*栏目标题 可滑动*/
.cm_tab{ overflow:hidden;}
.tab_hd{ width:100%; height:35px;position:relative; zoom:1;line-height:34px; border-bottom:1px solid #ccc; clear:both;font-family:"微软雅黑","黑体"; margin-bottom:2px;}
.tab_hd li{width:110px;float:left; height:35px; font-size:16px; text-align: center; position:relative;}
.tab_hd li.selected{ border:1px solid #ddd; border-top:2px solid #326433;border-bottom:none;background:#FFF; height:34px;_top:1px; font-weight:bold;font-size: 18px;}
.tab_hd a{ color:#252525;}
.tab_hd a:hover{text-decoration:none; color:#363;}
.tab_hd li.right{ font-family:"宋体"; width:auto; float:right; display:block; font-size:14px; position:absolute; right:0; top:0;color:#999;}
.tab_hd li.right a{ color:#999;}
.tab_hd li.notab{}

.tab_hd_c3 li{ width:110px;}				/*340 平均分*/
.tab_hd_cx li{ width:auto; padding:0 10px;}	/*八一电视*/

/*栏目标题 可滑动 主题部分*/
.tab_bd{ overflow:hidden; width:100%; position:relative;}
.tab_bd .inner{overflow:hidden; position:relative;}
.tab_bd .item{display:block; overflow:hidden; background:#FFF;}

/*中国梦 强军梦*/
.cm_meng{background:url("gallery.gif") 0 -475px; text-indent:300px; line-height:34px;height:34px; width:116px; margin-left:12px; overflow:hidden; display:block;}

/*八一手写体*/
.bayi,.zhibo{height:34px; line-height:34px; overflow:hidden;background:url("gallery.gif");display:block; margin:0 auto;}
.bayi{ background-position:0 -290px;text-indent:40px; width:80px;}
.zhibo{background-position:0 -324px; text-indent:30px;width:80px;}

/*热点观点*/

.sublink{text-align:center; height:55px; overflow:hidden; line-height:28px; padding-left:12px; background:#eee;}
.sublink a{ display:block; white-space:nowrap; float:left; font-weight:bold; font-family:"微软雅黑","黑体"; }
.sublink .pipe {border-left: 1px solid #999;border-right: 1px solid #fff;margin: 7px 8px;height:14px; float:left; line-height:0; overflow:hidden;}

/*宽 700 像素 2 等分， 400+280*/
.cm_700_c2_380{ width:380px; overflow:hidden; display:inherit;}
.cm_700_c2_300{ width:300px; overflow:hidden; display:inherit;}


/*----------------------------------------------------------------
 - 焦点图 图片尺寸不限，单张图片尺寸为700 或 相邻两张图片宽度值和为700
 - 单步滑动尺寸 700px
 ---------------------------------------------------------------*/ 
.focus_outer{width:700px; height:320px; overflow:hidden; position:relative;}
/*内容主题*/
.focus_inner{ position:relative; height:320px; width:5800px;}
.focus_inner li{ float:left; overflow:hidden; height:320px; position:relative;}
.focus_inner img{ position:relative; z-index:1; left:0; float:left;width: 700px;height: 320px;}
.focus_inner a{ width:100%; height:100%; position:absolute;overflow: hidden; display:block; top:0; left:0; z-index:10;background:url(gallery.gif) -500px -610px no-repeat;}
.focus_inner a:hover em.video_80x80{background: url('http://www.81.cn/res/static/play_icon_80_hover.png');_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://www.81.cn/res/static/play_icon_80_hover.png');
_background: none;}
.focus_inner a em.video_80x80{top: 178px;left: 618px;z-index: 20;}
.focus_inner a em.video_40x40{top: 216px;left: 637px;z-index: 20;}

.focus_inner span{ width:100%; position:absolute;zoom:1;height:50px;bottom:0; z-index:5;}
.focus_inner span.text{width:70%; height:34px;font-size:20px; font-family:"微软雅黑", "黑体"; line-height:25px;color: #fff;z-index:10; padding:10px; padding-top:6px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap; cursor:pointer;}
.focus_inner span.screen{background:#000;filter:alpha(opacity=50);opacity: 0.5;}

/*控制按钮*/
.focus_ctrl{height:30px; position:absolute; z-index:30; right:10px; bottom:0;}
.focus_ctrl_bg{ width:100%; height:30px; bottom:0; position:absolute;background:#000;filter:alpha(opacity=50);opacity: 0.5; z-index:5;}
.focus_ctrl li{ width:10px; height:10px; float:left; cursor:pointer; margin:10px 5px; background:#FFF;border-radius:5px; text-align:center; overflow:hidden;box-shadow: 1px 1px 1px #A9A9A9 inset;}
.focus_ctrl li.selected{ background:#c00;box-shadow: 1px 1px 1px #000 inset;}

/*淡入淡出切换焦点图盒子*/
#cm_h_i_f_box{position:relative; height:320px; width:700px; overflow:hidden;}
#cm_h_i_f_box .focus_pic_tab,#cm_h_i_f_box .focus_video_tab,#cm_h_i_f_box .focus_special_tab,#cm_h_i_f_box .focus_graphic_tab,#cm_h_i_f_box .focus_imagery_tab,#cm_h_i_f_box .focus_vr_tab{ position:absolute; top:10px; right:0; height:30px; width:70px; background:url("gallery.gif") 0 -210px; z-index:80;opacity:0.5;filter:alpha(opacity=50); text-align:center; color:#FFF; font-family:"微软雅黑"; font-size:18px; line-height:30px; letter-spacing:5px; padding-left:12px; text-decoration:none;}

#cm_h_i_f_box .focus_vr_tab{top:42px;}
#cm_h_i_f_box .focus_pic_tab{top:74px;}
#cm_h_i_f_box .focus_special_tab{top:138px;}
#cm_h_i_f_box .focus_graphic_tab{top:106px;}
#cm_h_i_f_box .focus_imagery_tab{top:170px;}

#cm_h_i_f_box a:hover{ color:#FFF;}
#cm_h_i_f_box a.on{background:url("gallery.gif") 0 -250px;opacity:0.8;filter:alpha(opacity=80);}
#focus_video,#focus_pic,#focus_special,#focus_graphic,#focus_imagery,#focus_vr{ position:absolute; width:700px; height:320px; z-index:1;}


/*----------------------------------------------------------------
 - 文章列表
 ---------------------------------------------------------------*/ 
 
/*文章列表 圆点前缀 十四号字体*/
.list_ns_f14_dot{ overflow:hidden; width:100%; clear:both;}
.list_ns_f14_dot li{background:url("gallery.gif")  -460px -38px no-repeat;padding-left: 12px; line-height:28px; height:28px; overflow:hidden; font-size:14px;}
.video_dot li{background:url("gallery.gif")  -2px -575px no-repeat;padding-left: 20px;}
.list_ns_f14_dot strong{ height:28px; overflow:hidden;}
.list_ns_f14_dot span{margin-right:6px;}

/*文章列表 圆点前缀 十四号字体*/
.list_ns_f14{ overflow:hidden; width:100%; clear:both;}
.list_ns_f14 li{line-height:28px; height:28px; overflow:hidden; font-size:14px; vertical-align:middle;}
.list_ns_f14 strong{ height:28px; overflow:hidden;}
.list_ns_f14 span{margin-right:6px;}
.list_ns_f14 .hot{ padding:0 6px; background:#c00; color:#FFF; font-size:12px;}
.list_ns_f14_c2 li{width:50%;line-height:28px; height:28px; overflow:hidden; font-size:14px; float:left;}
.list_ns_f14_c2 a{ width:90%; display:block; overflow:hidden; height:28px;}

/*文章列表 图片(左) +标题(右上)+摘要（右下）*/
.list_hs_f14_c2{zoom: 1;overflow: hidden; height:90px;}
.list_hs_f14_c2 .pic{float: left;width: 120px; height:90px; overflow:hidden;}
.list_hs_f14_c2 .pic a{ width:100%; height:100%; display:block;position: relative;}
.list_hs_f14_c2 .pic img{ float:left; width:120px; height:90px; position:absolute;}
.list_hs_f14_c2 .title{ font-weight:bold; height:20px; overflow:hidden;}
.list_hs_f14_c2 .title,.list_hs_f14_c2 p{margin-left: 130px;color: #326433; line-height:20px; font-size:12px;}
.list_hs_f14_c2 p{ margin-top:10px;color: #999; height:60px; overflow:hidden; line-height:20px;}

.list_hs_f14_c2 .video_40x40{top:50px;left:75px;z-index: 10; cursor:pointer;}
.list_hs_f14_c2 a:hover .video_40x40{background: url('http://www.81.cn/res/static/play_icon_40_hover.png');_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://www.81.cn/res/static/play_icon_40_hover.png');
_background: none;}

/*图片列表*/
.gallery_300{ overflow:hidden; clear:both;}
.gallery_300 ul{ width:320px; position:relative; height:105px;}
.gallery_300 li{ width:140px; overflow:hidden; position:relative; float:left;  margin-right:15px; margin-bottom:15px;}
.gallery_300 img{ width:140px; height:105px; position:relative;}
.gallery_300 a{ width:100%; height:100%; display:block;position:relative;}
.gallery_300 span,.gallery_340 span{width:100%; height:24px; position:absolute;  line-height:24px; overflow:hidden; font-size:12px; color:#FFF; bottom:0; left:0;text-align:center;
background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}

.gallery_340{ clear:both; position:relative; overflow:hidden;}
.gallery_340 ul{ width:360px; position:relative; top:0; height:115px;}
.gallery_340 li{ position:relative; float:left; width:160px; margin-right:20px; margin-bottom:20px; height:90px;}
.gallery_340 a{ display:block; float:left;}
.gallery_340 img{ width:160px; height:90px; position:absolute;}

.gallery_x4 ul{ height:260px;}
/*八一图片*/
.pic81{width:280px; overflow:hidden;}
.pic81 li{ margin-top:15px; overflow:hidden;}
.pic81 img{width:50px; height:50px;  float:left; margin-right:10px;}
.pic81 h3{ font-weight:bolder; line-height:28px; height:28px; overflow:hidden; float:right; width:220px;}
.pic81 p{ font-size:12px; color:#777;float:right; width:220px;}
.pic81 span{ margin-right:20px;}

/*导读 网站头条*/
.headlines{ text-align:center; overflow:hidden; height:45px; padding-bottom:30px;}
.headlines h1{font-size:30px; font-family:"微软雅黑","黑体"; line-height:45px; height:45px; overflow:hidden;font-weight: bold; text-align:center;}
.headlines a:hover{ text-decoration:none;}

/*军委总部子导航*/
.jw_sub_nav{background:#f2f2f2; height:30px; line-height:30px; text-align:center;}
.jw_sub_nav .pipe{border-left:1px solid #999;border-right:1px solid #fff; margin:14px 8px;height:14px;}

/*陆海空二武*/
.lhkep {width:700px; height:168px; overflow:hidden; }
.lhkep .pic{width:212px; height:159px; float:left; overflow:hidden;}
.lhkep .pic img{width:212px; height:159px;}
.lhkep .pic a{ display:block; float:left; color:#000;}
.lhkep .right{ float:right; width:450px; overflow:hidden; height:160px;}
.lhkep dl{border-bottom:1px dotted #eee; height:80px;}
.lhkep dt{ font-size:20px; font-family:"微软雅黑","黑体"; line-height:32px; height:32px; overflow:hidden;}
.lhkep dd{ font-size:12px; color:#999; text-indent:24px; line-height:24px; height:48px; overflow:hidden;}

/*中国预备役*/
.bh_yby{ overflow:hidden;height:205px; margin-bottom:5px; border-bottom:1px dotted #ccc;}
.bh_yby .pic,.bh_yby .pic img{ width:280px; height:90px;}
.bh_yby .title{ font-weight:bolder; margin-top:10px; line-height:28px; height:28px; overflow:hidden;}
.bh_yby p{ font-size:12px;color:#777; line-height:24px; height:72px; overflow:hidden; text-indent:24px;}

/*特色栏目滚动*/
.cm_scrollbanner_box{height:78px; overflow:hidden; border-color:#eee; border-style:solid; border-width:1px 0; padding:10px 0;}
.cm_scrollbanner_box .outer{ overflow:hidden; height:78px;}

/*外军扫描子导航*/
.wj_junli{height:28px; overflow:hidden; line-height:28px; text-align:center;}
.wj_junli a{display: block;float: left;margin-right: 1.3em;}

/*八一电视*/
.dianshi280 .title{ height:40px;}
/*直播*/
/*播放图标*/
em.video_40x40{position: relative;display: block;height: 40px;width: 40px;background: url('http://www.81.cn/res/static/play_icon_40.png');_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://www.81.cn/res/static/play_icon_40.png');
_background: none;}

.video_80x80{position: relative;display: block;height: 80px;width: 80px;background: url('http://www.81.cn/res/static/play_icon_80.png');_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://www.81.cn/res/static/play_icon_80.png');
_background: none;}

.bytv_zhibo{ height:150px; overflow:hidden;position:relative; }
.bytv_zhibo dt{ font-weight:bold; height:20px; overflow:hidden;}
.bytv_zhibo dd{ overflow:hidden; height:120px; line-height:24px; margin-top:12px; width:280px; font-size:12px; line-height:24px; color:#888;}
.bytv_zhibo dd .pic{float:left; width:120px; height:90px; overflow:hidden;margin:0 10px 0 0;}
.bytv_zhibo dd .pic a{ width:100%; height:100%; display:block;position: relative;}
.bytv_zhibo dd .pic img{ float:left; width:120px; height:90px; position:absolute;}

.bytv_zhibo dd .video_40x40{top:25px;left:40px;z-index: 10; cursor:pointer;}
.bytv_zhibo dd a:hover .video_40x40{background: url('http://www.81.cn/res/static/play_icon_40_hover.png');_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://www.81.cn/res/static/play_icon_40_hover.png');
_background: none;}

.dianshi{width:228px; height:300px; overflow:hidden; float:left;}
.dianshi .pic{width:228px; height:171px;overflow:hidden;}
.dianshi .pic img{width:228px; height:171px;}
.dianshi .pic a{ float:left;}
.dianshi dl{overflow:hidden; height:120px; margin-top:10px;}
.dianshi dt{ font-size:16px; line-height:22px; height:44px; overflow:hidden; font-family:"微软雅黑","黑体";}
.dianshi dd{ margin-top:10px;font-size:12px; line-height:20px; color:#777; height:62px; overflow:hidden;}

.dianshi_right { width:450px; height:300px; float:right;}
.list_img_450{ width:450px; margin-top:20px;}
.list_img_450 li{ width:140px; height:105px; float:left; overflow:hidden; margin-right:15px;}
.list_img_450 li.last{margin-right:0;}
.list_img_450 a{float:left;width:100%; height:105px;display:block; position:relative;}
.list_img_450 a:hover{ text-decoration:none;}
.list_img_450 img { width:100%; height:100%;position:absolute;z-index:5; left:0;}
.list_img_450 span {width: 100%;position: absolute;height: 24px;background: rgba(0,0,0,0.6);line-height: 24px;overflow: hidden;font-size: 12px;color: #FFF;bottom: 0; left:0;text-align: center;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');z-index: 10;}

.list_img_450 .video_40x40{top:40px;left:95px;z-index: 10; cursor:pointer;}
.list_img_450 a:hover .video_40x40{background: url('http://www.81.cn/res/static/play_icon_40_hover.png');_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://www.81.cn/res/static/play_icon_40_hover.png');
_background: none;}

/*八一话题*/
.list_hs_f14_r2{ overflow:hidden;}
.list_hs_f14_r2 dt{ font-weight:bold;}
.list_hs_f14_r2 dd{ overflow:hidden; height:90px; line-height:24px; margin-top:12px;}
.list_hs_f14_r2 img{ float:left;}
.list_hs_f14_r2 p{ float:right; width:150px; font-size:12px; line-height:22px; color:#888;}
.ht_lh26 li{height:27px;*line-height:22px;}
.cm_weibo_shequ{text-indent:12px; line-height:28px;}

/*图片中心*/
.pre_pic,.next_pic{position:absolute; width:13px; height:23px; background-image:url('btn_pre_next.jpg'); cursor: pointer; z-index: 15;opacity:0.5;filter:alpha(opacity=50);}
.photo_zx{ width:700px; overflow:hidden; position:relative; left:0;}
.photo_zx .pic_list{width:620px; height:140px; margin-top:22px; overflow:hidden;position:relative; margin:22px 40px 0 40px;}
.photo_zx .pic_list ul{width:1440px;overflow:hidden; position:relative;}
.photo_zx .pic_list li{ width:140px; overflow:hidden; float:left; margin-right:20px; overflow:hidden; height:160px;}
.photo_zx .pic_list li a{ display:block; text-align:center;}
.photo_zx .pic_list li img{ width:140px; height:105px;}
.photo_zx .pic_list li span{ font-size:12px; margin-top:10px; display:block; text-align:center;}
.photo_zx .pre_pic{top: 60px;left:0; background-position: 0 0;}
.photo_zx .next_pic{top: 60px; right:0; background-position: -27px 0;}

/*军迷贴图*/
.cm_jmtt{width:720px; height:150px; margin-top:22px; overflow:hidden;position:relative;}
.cm_jmtt li{ width:160px; overflow:hidden; float:left; margin-right:20px; overflow:hidden; height:160px;}
.cm_jmtt li a{ height:160px; float:left;}
.cm_jmtt li span{ margin-top:10px; display:block; line-height:20px; height:20px; overflow:hidden; text-align:center;font-size:12px;}
.cm_jmtt li img{ width:160px; height:120px;}

/*八一阅读 1000px*/
.cm_books{ width:1000px; overflow:hidden; position:relative; left:0;}
.cm_books .inner{ height:200px; overflow:hidden;position:relative; margin:22px 40px 0 40px; width:920px;}
.cm_books ul{width:91860px;overflow:hidden; position:relative;}
.cm_books li{ float:left; width:120px; height:200px; margin-right:14px; overflow:hidden;}
.cm_books img{width:120px; height:170px; margin-bottom:10px; float:left;}
.cm_books li a{ font-size:12px; text-align:center; width:120px; display:block; overflow:hidden;}
.cm_books .pre_pic{ left:0;top: 80px; background-position: 0 0;}
.cm_books .next_pic{top: 80px; right:0; background-position: -27px 0;}

/*青春频道*/
.c4_banner{background:#366; text-align:center; font-family:"微软雅黑","黑体"; font-size:28px; line-height:30px; padding:15px;}
.c4_banner a{color:#eee;}
.c4_banner a:hover{color:#FFF; text-decoration:none;}

#cm_channel{height:60px; width:280px; overflow:hidden; position:relative;background:#366;}
#cm_channel a{text-align:center; font-family:"微软雅黑","黑体"; font-size:28px; color:#eee; line-height:60px; height:60px; display:block; letter-spacing:8px;}
#cm_channel a:hover{color:#FFF; text-decoration:none;}

/*英文版*/
.e_title{ height:36px; border-bottom:2px solid #006699;  overflow:hidden;}
.e_title li{ line-height:36px; background:#006699; margin-left:10px; float:left; padding:0 16px;}
.e_title a{ color:#FFF; font-weight:bolder;}

/*英文版*/
.ebox{ width:680px; float:left; overflow:hidden;}
.ebox dt{ font-size:22px; line-height:26px;}
.ebox dd{ margin-top:12px; overflow:hidden;}
.ebox .pic{width:180px; height:130px; overflow:hidden; float:left;}
.ebox .pic img{ width:180px; height:130px; }
.ebox .abstract{ padding-left:20px; color:#777; margin-bottom:20px; height:60px; overflow:hidden;}
.ebox .info{padding-left:200px; color:#333; line-height:28px;}

.ebox_hotnews{ overflow:hidden;}
.ebox_hotnews h2{font-size: 22px;line-height: 30px; color:#900; border-bottom:1px dotted #999;}
.elist li{ font-size:12px;}

/*友情链接*/
.rm_link{ line-height:28px; margin:8px 15px; overflow:hidden; font-size:12px; clear:both;}
.rm_link strong{float: left;color: #333;font-weight: normal;display: block;width: 90px;height: auto; }
.rm_link p{ float:left; width:880px;}
.rm_link a{margin-right: 14px; color:#555; display:block; float:left;zoom:1;}

/*页脚*/
.footer{font-size:12px; overflow:hidden; padding-bottom:20px;}
.footer .recommend{ width: 1000px;margin: 0 auto;padding-bottom: 30px;}
.footer .info{width:1000px; margin:auto; line-height:28px; font-size:12px; color:#777; padding-top:12px; text-align:center;}
.footer .info a{ color:#777;}
.footer .info div{ text-align:center;}
.footer em {margin: 0 8px; color:#555;}

a.backToTop{width: 50px;height: 50px;background: url(gallery.gif) 0 -100px;display: block;position: fixed;bottom: 145px;right: 50px;_position:absolute;
filter: alpha(opacity=50);opacity: 0.5;}
a.backToTop:hover{filter: alpha(opacity=100);opacity:1;}

/*专题幻灯片*/
.special-list{ width: 1000px; margin: 0 auto; position: relative;}
.special-list a.more{width:14px; height:80px;background: #066; padding:5px 8px; position:absolute;  top:0; left:-30px;  background: #066; color:#FFF; text-decoration:none; font-size:14px; border-radius:8px 0 0 8px;display:none;}
.special-list a.more:hover{background: #055;}
.special-list a.xuexi{ margin-left: 10px; float: left; opacity: 1;}
.special-list a.xuexi:hover{opacity: 0.9;}
.zhuantijdt { width: 750px; height: 90px; margin:0px; position: relative; margin-bottom: 15px;float: left;}

.zhuantijdt .zhuantijdt-ul{overflow:hidden; height:120px;}
.zhuantijdt li img{ width: 750px; height: 90px; display: block;}
/*数字按钮样式*/
.zhuantijdt .num { overflow:hidden; height: 20px; position: absolute; bottom:5px; left: 550px; zoom:1; z-index:3 }
.zhuantijdt .num li { width: 20px; height: 20px; line-height: 20px; text-align: center; font-weight: 600; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #444444; margin-right: 5px; cursor:pointer; float: left; font-size: 12px;}
.zhuantijdt .num li.on { background: #d20000; } /*当前项*/

/*上一个  下一个*/
.zhuantijdt .prev,
.zhuantijdt .next { display: none; top:20px; width: 40px; height: 50px; background: url(btn.png) no-repeat; position: absolute; }
.zhuantijdt .prev { left: 0; }
.zhuantijdt .next { right: 0; background-position: right }
/*APP二维码链接*/
.app_erweima{padding-top: 0px;float: left;clear: none;width: 70px;height: 80px;text-align: center;line-height: 10px;display: inline-block; font-size:12px;}

/*栏目标题 直线风格*/
.box_hd{margin-bottom: 0;height:34px;line-height:34px; border-bottom: 2px solid #363;}
.box_hd h4{height:34px;line-height:34px; text-align:left; margin-left:12px; float:left; font-size:18px; font-weight:bold; font-family:"微软雅黑","黑体"; margin: 0; padding: 0;}
.box_hd a{ text-decoration:none; color: #333;}
iframe{border-style:solid;border-color: #ccc; border-width:0 0 1px 0; height: 350px;}

/*cn_title_thin*/
.cm_title_wp{ height:28px; border-bottom:2px solid #ddd; clear:both; position:relative;font-family:"微软雅黑","黑体";}
.cm_title_wp a{font-weight: bold;font-size: 18px; position:absolute;height:28px; border-bottom:2px solid #336633;color:#252525;text-decoration: none;}
.cm_title_wp a:hover{ color:#326433;}

.area_kj {float:left width: 100%; margin-bottom: 15px; }
.area_kj .tt { height: 36px; background-image: url(images/t3.gif); position: relative; border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; border-top-color: #e9b8b8; border-right-color: #e9b8b8; border-left-color: #e9b8b8; background-repeat: no-repeat; background-position: center top;text-align: center; }
.area_kj .tt h3 span { line-height: 36px; margin-left: 20px; display: inline-block; font:normal 20px/180% \5FAE\8F6F\96C5\9ED1;color:#CA0002; line-height:39px;  }
.area_kj .tt h3 span em {  color:#CA0002; }
.area_kj .tt h3 span em a {  color:#CA0002; }
/*.area_kj .box { height: 100px;}*/
.list_title_pic2 { text-align: center;width: 340px;height:230px; }
.list_title_pic2 li {padding-right:10px; float: left;  overflow: hidden; background-repeat: no-repeat; background-position: right center;padding:20px 13px 0 13px; }
.list_title_pic2 li.last { background-image: none; }
.list_title_pic2 li a.pic { display: inline-block; }
.list_title_pic2 li a.title { display: block;width: 58px;text-align: center;font-size: 12px;}
.area_kj .box .Cont{width:700px;overflow:hidden;float:left;}
/*.area_kj .box .ScrCont{width:10000000px;}*/
.area_kj .box #List1,.area_kj .box #List2{float:left;}

/**军网理论*/
.mt22{margin-top:22px;*margin-top:17px}

/*头条回顾*/
.hg_link{float: right;
height: 88px;
position: absolute;
top: 0;
right: -30px;
background: #066;
width: 30px;
letter-spacing: 0;
text-align: center; overflow:hidden;
border-radius: 0 8px 8px 0;}
.hg_link a{ color:#FFF; padding:4px 8px; display:block; text-decoration:none;}
.hg_link a:hover{ background:#055;}

/*军媒要闻要论前置图标*/
.ywyl_icon{ width: 55px;height: 16px;display: inline-block;position: relative; top: -1px; *top: -3px;background: #ff0000;color: #fff;   font-size: 12px;   line-height: 18px;  font-weight: bold;  padding-left: 4px;  padding-bottom: 1px;*padding-bottom: 0px;}

/*下面是对联广告的css代码*/
.duilian{top:225px;position:absolute; width:120px; overflow:hidden; display:none;}
.duilian a{color:#FFF;}
.duilian a:hover{ text-decoration:none;}
.duilian_right,.duilian_left{z-index: 100;}
.duilian_left{ left:2px;}
.duilian_right{right:2px;}
.duilian_con{width:120px; height:400px; overflow:hidden;}
.duilian_close{ padding:0 5px; height:24px; line-height:24px; text-align:center; font-size:14px; background: #333;text-decoration:none;cursor: pointer;}
.duilian_right .duilian_close{float:left;}
.duilian_left .duilian_close{ float:right;}

/*20140911 军报天天读
.jfjb_video_bg {background: url(jfjb_video_bg1.png) no-repeat -30px -10px;height: 206px;width: 340px;}
*/
.cm_c3_2_132{width:132px;float: left;display: inline;zoom: 1;overflow: hidden;margin-left: 10px;}
.cm_c3_2_132 a { float:left;border: 1px solid #ccc;}
.cm_c3_2_132 a:hover{ border:1px solid #cc0000;}
.cm_c3_2_132 a img{ width:130px; height:186px;}
.cm_c3_2_178 {width: 178px;float: right;display: inline;zoom: 1;overflow: hidden;margin-right: 4px;}
.cm_c3_2_178 .list_img_450{width: 169px;margin-top: 0px;float: left;}
.cm_c3_2_178 .list_img_450 li {width: 169px;height: 187px;float: left;overflow: hidden;}
.cm_c3_2_178 .list_img_450 .video_40x40 {top: 98px;left: 62px;}
.cm_c3_2_178 .list_img_450 img {width: 169px;height: 187px;position: absolute;z-index: 5;left: 0;}
.today_title{text-align: center;width: 100px;margin: 0 auto;border: 1px solid #d3d3d3;border-radius: 2px;}
.today_title a{ color:#326433;}
.jfjb_data{height: 76px;width: 180px;margin-top: 10px;}
.jfjb_video{height: 116px;width: 340px;margin-top: 10px; background:url(jfjb_video.jpg) no-repeat; float:left;}

/* 子报子刊 */
.magazine{width:340px;overflow:hidden;list-style:none;margin:15px 0 0 0;padding:0; float:left}
.magazine li{ float:left; width:70px; margin-left:10px; margin-right:2px;}
.magazine li a{display:block ;}
.magazine li a img{width:100%; background:#DDD; height:100px; margin-bottom:5px;}
.magazine li a span{background:#F2F2F2; display:block; text-align:center; font-size:12px; line-height:2em;}

/**
 * 说明：节日氛围背景图片切换
 * 使用：<body class="env">
 **/
.env{ background-image: url('header-bg.jpg'); background-repeat: no-repeat; background-position: top center;}
.target{display:none;height:85px;margin-top: 35px;position:relative;}
.target a{position: absolute;top: 0;bottom: -36px;left: 0;z-index: 1;right:0;}
.target span{    position: absolute;right: 0;top: 0px;background: #8dd4f0;padding: .2em .5em;width: auto;color: #020202; height: auto;font-size: 12px;border-radius: 0 0 3px 3px;z-index:2;cursor: pointer;}
.target span:hover{color:#fff;background-color:#f55;}
.env .target{display:block}
.container{width:1000px;margin:0 auto;}



.zgjsfocus{background-image: url("gallery.gif?v=1.9"); background-position:0 -700px; height:35px; text-indent: 120px; overflow:hidden;display: block;}

.ad-jz{ margin-top:18px; overflow:hidden;}
.ad-jz span{ display:none;}
.ad-jz a{display:block; transition: all 0.3s; height:60px; background-image:url('jz-logo.jpg'); background-repeat:no-repeat; background-position:left top}
.ad-jz a:hover{background-position:left bottom;}
.ad-jz a img{ display:block; width:100%;}