/*# sourceMappingURL=site.css.map */
.countrySelectBanner {
	background:rgba(0, 0, 0, 0.8);
	padding: 20px;
	padding-right: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	z-index: 99999;
	width: 100%;
 position: fixed;
 top: 0px;
 left: 0px;
}
.countrySelectBanner .inner {width: 100%; margin: 0 auto; color: rgba(255, 255, 255, 0.7); letter-spacing: 0.5px; position: relative;text-align: center;}
.countrySelectBanner .inner .message1 {display: block;}
.countrySelectBanner .inner .message1 span.countryListToggle {border-bottom: 1px solid rgba(239, 0, 0, 0.3); display: inline-block; cursor: pointer;}
.countrySelectBanner .inner .message1 span {color: rgba(255, 255, 255, 0.95);}
.countrySelectBanner .inner .message2 {display: none;}
.countrySelectBanner .inner .message2 ul.countryList {margin: 0; display: inline-block; padding: 0;}
.countrySelectBanner .inner .message2 ul.countryList li {list-style: none; display: inline-block; border-bottom: 1px solid rgba(239, 0, 0, 0.3); margin: 0 2px 5px;}
.countrySelectBanner .inner .message2 ul.countryList li:hover, .countrySelectBanner .inner .message1 span.countryListToggle:hover {border-color: #c81925; color: #fff;}
.countrySelectBanner .inner .message2 ul.countryList li a {color: inherit;}
.countrySelectBanner .inner .message2 ul.countryList li a:hover {text-decoration: none; color: #fff;}
.countrySelectBanner .inner .close:after {content: "×"; display: block; margin-top: -1px; line-height: 20px}
.countrySelectBanner .inner .close {position: absolute; top: 0; right: 30px; width: 20px; height: 20px; display: block; cursor: pointer; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; text-align: center; border: 2px solid rgba(255, 255, 255, 0.25); color: white; font-weight: 500; font-size: 20px; color: rgba(255, 255, 255, 0.45);}

