
/* CSS Document*/
	/* 贈點活動 兌點活動等說明文*/
	.v-widget-Point .readItems .title, ..v-widget-Point .readItems .title2 a {
	font-size: 14px;
	width: 270px;
	height: 14px;
	overflow: hidden;
}
/* v-widget-Point*/
	.v-widget-Point {
	padding: 20px 0 0 60px;
}
.v-widget-Point .readItems.hasAds .readItem, .v-widget-Point .readItems .readItem {
	float: left;
}
.v-widget-Point .readItems .readItem {
	margin: 0 14px 6px 15px;
}
.v-widget-Point .readItems .pics {
	width: 250px;
	height: 250px;
	padding: 10px;
	border: 1px solid #cfcfcf;
	background: #fff;
}
.v-widget-Point .readItems .title, .v-widget-extendedRead .readItems .title a {
	font-size: 14px;
	width: 270px;
	height: 33px;
	overflow: hidden;
}
.v-widget-Point .readItems .description {
	position: relative;
	padding-top: 15px;
	width: 265px;
}
.v-widget-Point .readItems .description a {
	font-size: 18px;
	padding: 5px  0 0 0;
	height: 38px;
	display: block;
	overflow: hidden;
	line-height: 20px;
}
.v-widget-Point .readItems .description span {
	display: block;
	font-size: 15px;
	padding: 15px 0 0 0;
}
.v-widget-Point .readItems .readMore a {
font-size: 14px; color: #ca0008; font-family: bauerbodonistd-roman; text-align: left;
}
.v-widget-Point .readItems .readMore a: hover {
color: #e11921;
}


/* .v-widget-PointPage*/
.v-widget-PointPage .v-btn-SeeAll {
	width: 125px;
	height: 30px;
	background-position: -16px -16px;
	cursor: pointer;
	margin: 15px auto;
}
.v-widget-PointPage .v-btn-SeeAll a{
	width: 125px;
	height: 30px;
	display: block;
}
.v-widget-PointPage .v-btn-SeeAll:hover {
	background-position: -141px -16px;
}
.v-widget-PointPage .v-btn-loadMore {
	width: 125px;
	height: 30px;
	background-position: -106px -174px;
	cursor: pointer;
	margin: 15px auto;
}
.v-widget-PointPage .v-btn-loadMore a{
	width: 125px;
	height: 30px;
	display: block;
}
.v-widget-PointPage .photos_detail{
	float: left;
	width: 300px;
}
.v-widget-PointPage .text_detail{
	float: left;
}
.v-widget-PointPage .text_detail ul{
	padding: 0;
}
.v-widget-PointPage .text_detail li{
	list-style-type: none;
	padding: 5px 0;
}
.v-widget-PointPage .t{
	display: inline-block;
	width: 75px;
	font-size: 14px;
	vertical-align: middle;

}
.v-widget-PointPage .content{
	display: inline-block;
	width: 425px;
	line-height: 25px;
	font-size: 18px;
	vertical-align: top;
}
.v-widget-Point .form_Area{
	width: 900px;
}
.v-widget-Point .history{
	font-size: 18px;
}
.v-widget-Point .form_Area .row{
	border-bottom: #f0f0f0 1px solid;
	padding: 5px 0 5px 0;
	line-height: 40px;
}
.v-widget-Point .form_Area .row_title{
	border-bottom: #c0c0c0 1px solid;
	border-top: #c0c0c0 1px solid;
	height: 30px;
	padding-top: 15px;
}
.v-widget-Point .form_Area .item{
	width: 5%;
	margin-left: 15px;
	display: inline-block;
}
.v-widget-Point .form_Area .date{
	width: 20%;
	display: inline-block;
	margin-left: 25px;
}

.v-widget-Point .form_Area .name{
	display: inline-block;
	width: 40%;
	overflow: hidden;
	font-weight: bold;
	vertical-align: middle;
}
.v-widget-Point .form_Area .got_point{
	width: 10%;
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
}
.v-widget-Point .form_Area .need_point{
	width: 10%;
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
}
.v-widget-Point .form_Area .current_point{
	
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
}
.v-contentBody .paging{
	padding-top: 20px;
	text-align: center;
}
.v-contentBody .paging .active a{
	color: #c90000;
}

.v-widget-PointPage .description{
	display: inline-block;
	width: 520px;
	line-height: 25px;
	font-size: 14px;
	vertical-align: top;
}
.v-widget-PointPage #panel{
	width: 250px;
	height: 250px;
	padding: 10px;
	border: 1px solid #cfcfcf;
	background: #fff;
}
.v-widget-PointPage #thumbs{
	overflow: hidden;
	padding-top: 15px;
}
.v-widget-PointPage #thumbs img{
	float: left;
	padding-right: 16px;
	cursor: pointer;
}
.v-widget-PointPage .action_button{
	float: right;
	background-position:-57px -48px;
	
}
.v-widget-PointPage .action_button a{
	display: block;
	cursor: pointer;
	width: 70px;
	height: 81px;
}
.v-widget-PointPage .action_button:hover{
	background-position:-167px -48px;
}
.v-widget-PointPage .Normaltext_Area{
	line-height: 30px;
}
.v-widget-PointPage .Normaltext_Area li{
	padding-top: 10px;
}
.point-sprite{
	background: url(/images/skin_website_point.png) no-repeat;
}
/* 兌點活動紅色button位置*/
.v-widget-Point .readItems .description .change {
	width: 40px;
	height: 41px;
	background-position:-17px -55px;
	position: absolute;
	z-index: 2;
	right: -5px;
	top: 67px;
}
.v-widget-Point .readItems .description .change:hover {
	background-position:-127px -55px;
	
}
.v-widget-Point .readItems .description .attend {
	width: 40px;
	height: 41px;
	background-position: -17px -95px;
	position: absolute;
	z-index: 2;
	right: -5px;
	top: 67px;
}
.v-widget-Point .readItems .description .attend:hover {
	background-position: -127px -95px;
	
}
.v-widget-Point .readItems .description .finished {
	width: 40px;
	height: 41px;
	background-position: -237px -95px;
	position: absolute;
	z-index: 2;
	right: -5px;
	top: 67px;
}

.v-widget-Point .readItems .description .change a {
	}
/* point上方英文大標*/
	.Title-Point {
	font-size: 55px;
	line-height: 50px;
	text-align: center;
	padding: 20px 0 5px 0;
	font-family: 'bauerbodonistd-roman';
	color: rgb(0, 0, 0);
}
/* point上方中文大黑*/
	.SubTitle-Point {
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	padding-bottom: 10px;
	font-family: 微軟正黑體, Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
}

/* point上方中文大標紅*/
	.SubTitle-Point-red {
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	padding-bottom: 10px;
	color: #ca0008;
	font-family: 微軟正黑體, Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
}