@charset "utf-8";
/* CSS Document */

/* 0. font face */
/* 1. Html Common Tag */
/* 2. VOGUE Layout    */
/* 3. Common Style */
/* 4. VOGUE Components */
/* 5. Icons */
/* 6. Hhdpi*/
/* 7. retina*/

/*================================================*/
/* 0. font face */
/*================================================*/
@font-face {
  font-family: 'bauerbodonistd-roman';
  src: url('../fonts/bauerbodonistd-roman.woff') format('woff');
}
/*@font-face {
    font-family: 'BauerBodniBTBold';    
    src: url('../fonts/bauerbodonBold-roman.woff') format('woff');
}*/

/*================================================*/
/* 1. Html Common Tag */
/*================================================*/
* {
	font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
	
	margin: 0;
	line-height: 18px;
	-webkit-text-size-adjust: none;	
}
a{
	color: #333;
}
/*html, body{*/
/*html, body{ overflow: hidden; height: 100%;}
.body{	
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: #4A4A4A;	
	*position: fixed;	
}*/
html, body{}
.body{	
	width: 100%;
	min-width: 1024px;	
	background: #4A4A4A;
}
.v-wrapper, .v-footer-wrapper, .v-footer, .v-navi, .v-widget-bannerSlide.headline .bannerController{ width: 1024px;}
a, a:link, a:visited { text-decoration: none; cursor: pointer;}
a img{ border: 0;}
label input[type='checkbox']{ position: relative; top: 2px;}
input{ padding: 0 5px;}
input:focus, select:focus{ outline: 1px solid #333333;}
ol{padding: 0;margin: 0;}
/*================================================*/
/* 2. VOGUE Layout */
/*================================================*/
.v-wrapper {	
	/*min-height: 100%;*/
	height: auto !important;
	/*height: 100%;*/
	margin: 0 auto;
	position: relative;
}
.v-contentWrapper{ background: #fff; position: relative;}
.v-contentWrapper.shift{ padding-top: 80px;}
.v-hasPadding17{ padding: 0 17px;}
.v-hasPadding27{ padding: 0 27px;}
.v-loginbar{ height: 40px; background: url(http://resources.vogue.com.tw/images/opacity_black.png) repeat; position: relative;}
.v-navi-pages .v-loginbar{ background: #2c2c2c url('');}
.v-loginbar .v-widget-socialSearch{ float: right; margin-right: 10px;}
.v-loginbar .v-widget-login{ float: right; margin-right: 30px; margin-right: 20px \0; color: #fff;}
.v-loginbar .v-widget-login a{ font-size: 14px; font-family: 微軟正黑體; color: #fff; line-height: 40px;}
.v-loginbar a:hover{ text-decoration: underline;}
.v-specialMenu{ position: relative; margin-left: 26px;}
.v-specialMenu .itemName a, .v-specialMenu .itemName a:link, .v-specialMenu .itemName a:visited, .v-specialMenu .itemName a:link{	
	display: block; 	 	
	float: left;
	font-size: 21px;
	color: #fff;	
	line-height: 40px;
	height: 40px;
	padding-left: 25px;
}
.v-specialMenu .itemName:first-child a{ padding-left: 0px;}
.v-pageHead-AD{}
.v-divider{ height: 20px;}
.v-divider.type1{  background: url('http://resources.vogue.com.tw/images/skin_website.png') no-repeat center -433px; margin-top: 15px;}
.v-divider.type2{ height: 10px; border-bottom: 1px solid #cfcfcf; margin-bottom: 10px;}
.v-divider.type5{ height: 10px; border-bottom: 1px solid #cfcfcf; margin-bottom: 10px;}
.v-contentBody{ padding: 5px 0; background: #ffffff; position: relative;}
.v-crazyBanner, .v-crazyBanner.v-widget-bannerSlide{ width: 100%; height: 435px; overflow: hidden;}
.v-crazyBanner-fixed{ position: fixed; top: -435px;}
.v-contentBody-shift{}
.v-pageHeader{ text-align: center;}
.v-bigLogo, .v-channel, .v-topic, v-channel a{ text-align: center; color: #333;}
.v-channel, .v-channel a{ font-size: 65px; line-height: 65px; color: #333; margin-left: 15px;}
.v-topic{ font-size: 40px; line-height: 40px; cursor: pointer; position: relative; z-index: 80; margin-bottom: 8px;}
.v-topic:hover{ color: #333;}

/* v-articleTitle */
.v-articleTitle{ font-size: 25px; color: #333; font-family: 微軟正黑體; line-height: 40px; text-align: center; padding-bottom: 10px;}

/* v-articleBody-new */
.v-articleBody-new{}
.v-articleBody-new .article-title{ font-size: 25px; color: #333; font-family: 微軟正黑體; line-height: 40px; text-align: center; padding-bottom: 10px;}
.v-articleBody-new .article-title.eng{ font-size: 40px; font-family: bauerbodonistd-roman; line-height: 40px;}
.v-articleBody-new .article-subtitle{ font-size: 20px; color: #545454; font-family: 微軟正黑體; line-height: 20px; text-align: center; margin-bottom: 10px;}

.v-articleBody-new .article-topic{font-size:35px; color: #000; font-family: 微軟正黑體; line-height: 35px; text-align: center; margin-bottom: 10px;}
.v-articleBody-new .articleBody, .v-articleBody-new .articleBody p, .articleBody * { *float: none; *clear: both; font-size: 16px !important; line-height: 1.7em !important;}
.articleBody #v-smallViewer .top3 .text * {font-size: 14px !important; line-height: 18px !important;}
.articleBody #v-smallViewer .top3 .title {padding-top: 0}
.v-articleBody-new .articleBody.floatArticle, .v-articleBody-new .articleBody.floatArticle .v-widget-smallViewer{ float: left;}
.v-articleBody-new .articleBody.floatArticle{ width: 960px;}
.v-widget-articleDetail .articleBody {overflow: hidden;}

/* v-articleBody */
.v-articleBody{}
.v-articleBody .article-title{ font-size: 25px; color: #333; font-family: 微軟正黑體; line-height: 40px; text-align: center; padding-bottom: 10px;}
.v-articleBody .article-title.eng{ font-size: 40px; font-family: bauerbodonistd-roman; line-height: 40px;}
.v-articleBody .article-subtitle{ font-size: 20px; color: #545454; font-family: 微軟正黑體; line-height: 20px; text-align: center; margin-bottom: 10px;}

.v-articleBody .article-topic{font-size:35px; color: #000; font-family: 微軟正黑體; line-height: 35px; text-align: center; margin-bottom: 10px;}
.v-articleBody .articleBody, .v-articleBody .articleBody p{ *float: none; *clear: both; font-size: 14px; line-height: 25px;}
.v-articleBody .articleBody.floatArticle, .v-articleBody .articleBody.floatArticle .v-widget-smallViewer{ float: left;}

/* v-topicSearch */
.v-topicSearch, .v-tagCloud{ background-color: #f7f7f8;}
.v-topicSearch{
	height: 100px;
	background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat 0 0;
	position: relative;
}
.v-topicSearch .v-widget-timeset-L{
	position: absolute;
	top: 20px;
	left: 35px;
}
.v-topicSearch .v-widget-search{
	position: absolute;
	top: 30px;
	left: 243px;
}
.v-topicSearch .v-hotKeyword{
	position: absolute;
	width: 300px;
	left: 263px;
	top: 66px;
	text-align: left;
}

.v-tagCloud{ padding: 0 40px !important;}
.v-functionBottom{
	height: 12px;
	background: url('../images/skin_website.png') no-repeat 0 -108px;
}
/* fashion, beauty, jerwery, feature, tv */
.v-topic.fashion, .v-topic.beauty, .v-topic.jerwery, .v-topic.feature, .v-topic.blog, .v-topic.news, .v-topic.tv{ 
	display: inline-block;
	font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif;
	background: url('../images/pageHeader/topicArrow.png') no-repeat right center;
	width: 260px;	
}
.v-topic.eng{ font-family: bauerbodonistd-roman;}
.v-topic.flatMenu {
	height: 35px;
	border-top: 1px solid #CACACA;
	line-height: 35px;
	font-size: 20px;
}
.v-topic.flatMenu a {
	font-size: 20px;
	font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif;
	color: black;
	line-height: 35px;
	margin: 0px 8px;
}
.v-topic.flatMenu a.selected, .v-topic.flatMenu a:hover { color: #A8A8A8;}
.v-topic .itemlist{ 
	display: none;
	position: absolute;
	*left: 0px;
	*top: 45px;	
}
.v-topic .itemlist .itemPointer{ 
	width: 29px; 
	height: 16px; 
	position: relative; 
	left: 116px;
	*left: 0; 
	background: url(http://resources.vogue.com.tw/images/pageHeader/listPointer.png) no-repeat;
	z-index: 81;
}
.v-topic .itemlist .v-unRead{
	text-align: center;
	font-size: 10px !important;
	line-height: 20px;
	position: absolute;
	width: 25px;
	height: 20px;
	color: #fff;	
	padding-left: 2px;	
	background: url('../images/skin_website.png') no-repeat -5px -124px;	
}
.v-topic .itemlist ul{ 
	display: block; 
	width: 260px; 
	float: left; 
	list-style:	none;
	background: #fff; 	
	padding: 8px 0; 
	border: 1px solid #e2e2e2;	
	font-weight: normal;
	position: relative;
	top: -1px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0px 0px 8px 2px #e2e2e2;
	-moz-box-shadow: 0px 0px 8px 2px #e2e2e2;
	box-shadow: 0px 0px 8px 2px #e2e2e2;
	
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#e2e2e2')\9;	
}
.v-topic:hover .itemlist{ display: block; text-align: center; cursor: default; margin-left: 15px;}
.v-topic .itemlist ul li{ padding: 6px 8px 6px 8px; margin: 0 8px; border-top: 1px solid #cfcfcf;}
.v-topic .itemlist ul li:first-child{ border-top: 0;}
.v-topic .itemlist ul li, .v-topic .itemlist ul li a{ position: relative; font-size: 18px; text-align: left; line-height: 20px;}
.v-topic .itemlist ul li a{ display: block;}
.v-topic .itemlist ul li{ /* border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;*/}
.v-topic .itemlist ul li a:hover{ color: #a8a8a8; cursor: pointer;}

/* used for footer stick the bottom */
/*.v-push { height: 380px; /* used for footer stick the bottom  }*/
.v-footer-wrapper{ margin : 0 auto; background: #fff;}
.v-footer{ margin : 0 auto; background: #333; }
.v-footer-divider{ height: 25px; background: url(http://resources.vogue.com.tw/images/footer/footer-divider.png) no-repeat center center;}
.v-footer-relativedLogo{padding-left: 5px;}
.v-footer-link{ padding: 8px 0 20px 0;color: #666;}
.v-footer-link a, .v-footer-link a:hover, .v-footer-link a:visited{ font-size: 12px; color: #a8a8a8; display: inline-block; margin: 0 4px;}
.v-footer-link a:first-child{ }
.v-footer-socalLink{ height: 50px;}
.v-footer-socalLink div{ float: left;}
.v-footer-socalLink .icon{ width: 16px; height: 16px;}
.v-footer-socalLink a, .v-footer-socalLink a:hover, .v-footer-socalLink a:visited{ font-size: 12px; line-height: 16px; color: #a8a8a8; padding: 0 22px 0 4px;}
.v-footer-socalLink .v-footer-link{ padding: 0; }
.v-footer-socalLink .v-footer-link a{ margin: 0; padding: 0 5px;}

.v-space-divider{ padding-bottom: 10px !important;}
.clearAll{
	float: none;
	clear: both;
	width: 0px;
	height: 0px;
	display: block;
}
.v-sitemap th{	
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid #333;
	height: 40px;
}
.v-sitemap th a{
	padding: 0 2px;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	text-align: left;
	height: 40px;
	font-family: bauerbodonistd-roman;
}
.v-sitemap td{ padding: 13px 5px;}
.v-sitemap td div, .v-sitemap td div a, .v-sitemap td div a:hover, .v-sitemap td div a:visited{ font-size: 12px; color: #a8a8a8;}
.v-divider-grayline{ border-bottom: 1px solid #333333; padding-top: 10px; margin-bottom: 10px;}
.v-legal{
	position: absolute;
	bottom: 8px;
	left: 749px;
}
.v-legal-logo{ width: 228px; height: 52px; background: url(http://resources.vogue.com.tw/images/footer/cnLogo.png) no-repeat center center;}
.v-legal-desc{ font-size: 12px; color: #a8a8a8; text-align: center; padding: 5px 0;}
.v-articlaTags{ padding: 0 60px; }
/* collection */
.v-collectionMenuBlock{}
.v-collectionMenuBlock .v-widget-collectionMenu{ float: left; width: 350px; height: 500px;}
.v-collectionMenuBlock .v-widget-bannerSlide{ width: 674px; height: 500px; float: left; overflow: hidden;}
/* brand */
.v-brandTimeline{ position: relative;}
.v-brandTimeline .blockName{ font-size: 20px; color: #545454; font-family: bauerbodonistd-roman; line-height: 40px; margin-left: 8px; text-align: center;}
.v-brandTimeline .btnSeeShows{ width: 97px; height: 28px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -483px -174px; position: absolute; right: 0; top: 5px; *top: 0; cursor: pointer;}
/* videoStream */
.v-videoStream{}
.v-videoStream .video{ float: left; margin: 0 6px 0 5px; width: 150px;}
.v-videoStream .video .videoImg{ width: 150px; height: 100px; background: #000; position: relative;}
.v-videoStream .video .videoImg .playBtn{ position: absolute; width: 40px; height: 40px; background:url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat -558px -43px; right: 5px; bottom: 5px;}
.v-videoStream .video .videoImg .playBtn a{ display: block; width: 40px; height: 40px;}
.v-videoStream .video .desc{ font-size: 12px; color: #040404; height: 35px; overflow: hidden;}

/* horoscope */
.v-horoscope-article{ padding: 10px 60px; position: relative;}
.v-horoscope-article .sideLeft{ width: 355px; float: left;}
.v-horoscope-article .photo{ width: 355px; height: 440px; background: #fff url(http://resources.vogue.com.tw/images/skin_picBorder.png) no-repeat -160px 0;}
.v-horoscope-article .photo img{ margin-top: 12px; margin-left: 13px;}
.v-horoscope-article .profile{ line-height: 30px; font-size: 14px;}
.v-horoscope-article .articleTitle{ margin-left: 390px; border-bottom: 1px solid #ededed; position: relative;}
.v-horoscope-article .articleTitle .name{ font-size: 22px; color: #000; line-height: 40px; width: 380px;}
.v-horoscope-article .articleTitle .pager{ position: absolute; right: 0; bottom: 10px;}
.v-horoscope-article .articleTitle .pager > div { float: left; height: 20px; margin-left: 20px;}
.v-horoscope-article .articleTitle .pager .btnPre{ padding-left: 20px; background: url(http://resources.vogue.com.tw/images/horoscopePager.png) no-repeat left 0;}
.v-horoscope-article .articleTitle .pager .btnNext{ padding-right: 20px; background: url(http://resources.vogue.com.tw/images/horoscopePager.png) no-repeat right -40px;}
.v-horoscope-article .articleTitle .pager .btnPre:hover{ background-position: left -20px;}
.v-horoscope-article .articleTitle .pager .btnNext:hover{ background-position: right -60px;}
.v-horoscope-article .articleTitle .pager a{ color: #6f6f6f; line-height: 20px;}
.v-horoscope-article .articleTitle .pager > div:hover a{ color: #333;}
.v-horoscope-article .articleBody{ margin-left: 390px; padding: 10px 0;}
.v-horoscope-article .articleBody span { font-size: 14px; line-height: 25px;}
.v-articleLink{}
.v-articleLink > div{}
.v-articleLink a{ height: 20px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat left -752px; padding: 3px 20px 3px 20px;  line-height: 20px; display: block; border-bottom: 1px dotted #c0c0c0; color: #040404;}
.v-floatLayer{ display: none; background: url(http://resources.vogue.com.tw/images/opacity_black.png) repeat; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 15000; overflow-y: scroll;}
.v-form{}
.v-form td, .v-form label, .v-form ul li{ color: #767676;}
.v-form a{ text-decoration: underline;}
.v-form .policyLink a{ color: #333; font-weight: bold; text-decoration: underline;}
.v-form input[type='text'], .v-form input[type='password'], .v-form input[type='tel'], .v-form input[type='email']{ height: 28px; line-height: 28px; border: 1px solid #aaaaaa; background: #eeeeee;}
/*.v-form.form-order input{ height: 23px; line-height: 23px;}
.v-form.form-order input[type='radio'], .v-form.form-order input[type='checkbox']{ position: relative; top: 6px;}*/
.v-form select{ height: 30px; border: 1px solid #aaaaaa; background: #eeeeee; padding: 5px; line-height: 28px;}
.v-form .order-red{ font-size: 14px; color: #c8161d; font-weight: bold;}
.v-form ul.order-desc{ list-style: decimal;}
.v-form ul.order-desc li{ margin-left: -20px;}
.v-form .form-label{ width: 95px; width: 10px \9;}
:root .v-form .form-label{ width: 95px \0;}

.v-form-btnAction{ display: inline-block; height: 30px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat left -632px; padding-left: 10px;}
.v-form-btnAction a{ display: inline-block; height: 30px; line-height: 30px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat right -662px; padding-right: 10px; color: #fff; text-align: center; text-decoration: none !important;}
.v-form-btnAction:hover, .v-form-btnAction.ignore{ background-position: left -692px;}
.v-form-btnAction:hover a, .v-form-btnAction.ignore a{ background-position: right -722px;}
.v-form-btnAction.chi a{ font-family: 微軟正黑體; font-size: 18px;}
.v-form-btnAction.eng a{ font-family: bauerbodonistd-roman; font-size: 18px;}
.v-verifyCode{ margin-right: 10px;}
.v-required{ color: #c8161d !important;}
a.v-descLink{ text-decoration: underline;}
/* order */
.v-order{ padding: 0 30px;}
.v-ssDivTitle{ text-align: center;}
.v-ssDivTitle table{ display: inline-block; height: 80px;}
.v-ssDiv{ padding: 10px 0;}
.v-ssDiv .v-ssColumn{ float: left;}
.v-ssDiv .v-ssColumn.pic{ position: relative;}
.v-ssDiv .v-ssColumn.pic.border{ 
	padding: 10px; border: 1px solid #ededed; background: #fff;
	-webkit-box-shadow:  1px 2px 4px 4px rgba(140, 140, 140, 0.1);
    box-shadow:  1px 2px 4px 4px rgba(140, 140, 140, 0.1);
}
.v-ssDiv.big .v-ssColumn.pic{ 
	width: 324px; height: 415px; 
	margin-left: 70px;	
	margin-right: 60px;
}
.v-ssDiv.eMag .v-ssColumn.pic{ margin-left: 60px; margin-right: 60px;}
.v-ssDiv.big.mag .v-ssColumn .title, .v-ssDiv.big .v-ssColumn .title.mag{ font-family: bauerbodonistd-roman; font-size: 36px; color: #333; line-height: 72px;font-weight: bold;}
.v-ssDiv.big.eMag .v-ssColumn .title{ font-family: bauerbodonistd-roman; font-size: 36px; color: #333; line-height: 50px; margin-top: 100px;font-weight: bold;}
.v-ssDiv.big.eMag .v-ssColumn .title2{ font-family: bauerbodonistd-roman; font-size: 36px; color: #333; line-height: 50px; margin-top: 50px;font-weight: bold; text-align:center}
.v-ssDiv.big.eMag .v-ssColumn .title3{ font-family: bauerbodonistd-roman; font-size: 28px; color: #333; line-height: 50px; margin-top: -8px;font-weight: bold; text-align:center}
.v-ssDiv.big.eMag .v-ssColumn .subTitle{ margin-top: 30px;}
.v-ssDiv.big.eMag .v-ssColumn .subTitle2{ font-size: 18px;margin-top: 10px; text-align:center}
.v-ssDiv.big .v-ssColumn .subTitle, .v-ssDiv.big .v-ssColumn .subTitle b{ font-size: 18px; color: #333; margin: 8px 0; line-height: 25px;}
.v-ssDiv.big .v-ssColumn .desc{ margin-bottom: 15px;}
.v-ssDiv.big .v-ssColumn .desc .itemNum, .v-ssDiv.big .v-ssColumn .desc .itemName{ float: left;}
.v-ssDiv.big .v-ssColumn .desc .itemDesc{ clear: both; margin-left: 50px; font-weight: bold;}
.v-ssDiv.big .v-ssColumn .desc .itemNum{ font-family: bauerbodonistd-roman; font-size: 50px; color: #333; line-height: 50px; font-style: italic; margin-right: 20px;}
.v-ssDiv.big .v-ssColumn .desc .itemName, .v-ssDiv.big .v-ssColumn .desc .itemName b{ color: #333; font-size: 18px; line-height: 50px;}

.v-ssDiv.small{ float: left;}
.v-ssDiv.small .v-ssColumn.pic, .v-ssDiv.ordered .v-ssColumn.pic{ width: 250px; height: 250px; margin: 0;}
.v-ssDiv.small .v-ssColumn.desc, .v-ssDiv.ordered .v-ssColumn.desc{ background: #fff; position: relative; height: 220px; width: 230px; top: 15px; left:-20px;}
.v-ssDiv.small .v-ssColumn.desc .title, .v-ssDiv.small .v-ssColumn.desc .desc, .v-ssDiv.small .v-ssColumn.desc .buyNow,
.v-ssDiv.ordered .v-ssColumn.desc .title, .v-ssDiv.ordered .v-ssColumn.desc .desc, .v-ssDiv.ordered .v-ssColumn.desc .buyNow{ margin-left: 10px;}
.v-ssDiv.small .v-ssColumn.desc .title, .v-ssDiv.ordered .v-ssColumn.desc .title{ padding: 10px 0;}
.v-ssDiv.small .v-ssColumn.desc .title .num, .v-ssDiv.ordered .v-ssColumn.desc .title .num, .v-ssDivTitle .num{ font-size: 55px; color: #333; font-family: bauerbodonistd-roman; font-style: italic; line-height: 55px; padding-right: 8px;}
.v-ssDiv.small .v-ssColumn.desc .title .desc ,.v-ssDiv.ordered .v-ssColumn.desc .title .desc, .v-ssDivTitle .desc{ font-size: 18px; color: #333; line-height: 23px;}
.v-ssDiv.small .v-ssColumn.desc .desc{ }
.v-ssDiv.small .v-ssColumn.desc .desc b, .v-ssDiv.ordered .v-ssColumn.desc .desc b{ color: #333;}
.v-ssDiv.small .v-ssColumn.desc .buyNow, .v-ssDiv.ordered .v-ssColumn.desc .buyNow{ padding: 10px 0;}
.v-ssDiv .buyNow a{ font-size: 14px; font-family: bauerbodonistd-roman; color: #c8161d;}
.v-ssDiv.eMag .buyNow{ margin-top: 30px;}
.v-ssDiv.eMag .buyNow2{ margin-top: 12px;text-align:center}
.v-ssDiv.small.retail .v-ssColumn .title{ margin-top: 60px;}
.v-ssDiv.small.centered{ width: 480px; margin: 0 auto; clear: both; float: none;}

/* footer */
.v-footerBlock1 .v-widget-socialSearch{float: right; position: relative; top: -8px;}
.v-footerBlock1 .v-widget-links{ /*width: 800px;*/ float: left; }
.v-footerMag .pic{ overflow: hidden;}
.v-footerMag .pic.mag{ width: 320px; height: 250px; background: url(http://resources.vogue.com.tw/images/skin_picBorder.png) no-repeat -500px -441px;}
.v-footerMag .pic.eMag{ width: 500px; height: 250px; background: url(http://resources.vogue.com.tw/images/skin_picBorder.png) no-repeat 0 -441px;}
.v-footerMag .pic.eMag .v-border{ float: left;}
.v-border{ background: url(http://resources.vogue.com.tw/images/skin_picBorder.png) no-repeat;}
.v-border.borgerMag{ width: 178px; height: 226px; background-position: -509px 0;}
.v-border.borgerMag img{ margin-left: 9px; margin-top: 9px;}
.v-border.borgerEMag{ width: 177px; height: 225px; background-position: -690px 0;}
.v-border.borgerEMag img{ margin-left: 24px; margin-top: 26px;}
.v-border.borgerEMag.big{ width: 324px; height: 411px; background-position: 0 -697px;}
.v-border.borgerEMag.big img{ margin-left: 41px; margin-top: 43px;}

/*================================================*/
/* 3. Common Style */
/*================================================*/
.v-footerBlock4{ position: relative; background: #000000;}
.v-footerBlock1, .v-footerBlock2, .v-footerBlock3, .v-footerBlock4, .v-pageHead-AD, .v-topicSearch, .v-tagCloud{ padding-left: 27px; padding-right: 27px;}
.v-footerBlock1, .v-footerBlock2, .v-footerBlock3, .v-footerBlock4, .v-pageHead-AD{ background: #fff;}
.v-footerBlock4{ background: #000;}
.txt-center{ text-align: center;}
.v-specialMenu .itemName, .v-specialMenu .itemName a, .v-specialMenu .itemName a:link, .v-specialMenu .itemName a:visited, .v-specialMenu .itemName a:link,
.v-menubar .item .itemName, .v-sitemap th, .v-widget-cell .title, .v-widget-cell .title a, .v-widget-cell .title a:hover, .v-widget-login > a, 
.v-bigLogo, .v-channel, .v-channel a, .v-topic{ font-family: bauerbodonistd-roman;}

/*================================================*/
/* 4. VOGUE Components */
/*================================================*/
.v-navi{ position: absolute; top: 340px; height: 80px; z-index:9999;}
.v-navi-pages{ position: fixed; top: 0px; border-bottom: 1px solid #f2f2f2;}

.v-navi.v-navi-fixed, .v-navi-pages.v-navi-fixed{ position: fixed; top: 0px;}

.v-menubar { height: 40px; background: #fff;}
.v-menubar > ul{margin-left: -22px;}
.v-menubar .item{ 	
	position: relative;
	display: block; 	 	
	float: left;
	/*background: url(http://resources.vogue.com.tw/images/menubar/menuItem_arrow.png) no-repeat right 0;	*/
}
.Red{
	color: #ca0008;
}
.v-menubar > ul > li.item > a.itemName{	
	font-size: 20px; 
	height: 40px;
	line-height: 40px; 
	padding: 0 5px;
	cursor: pointer;
	display: block;
	/*font-family: 'bauerbodonistd-roman';*/
}
.v-menubar > ul > li.item:hover > a.itemName{ color: #a8a8a8; background: url(http://resources.vogue.com.tw/images/menubar/itemBack.jpg) no-repeat center center;}
.v-menubar > ul > li.item.noSublist:hover > a.itemName{ background: none;}
.v-menubar > ul > li.item .subList{ position: absolute; overflow: hidden; width: 130px; display: none;}
.v-menubar > ul > li.item:hover .subList{ display: block;}
.v-menubar > ul > li.item .subList .subList{}
.v-menubar > ul > li.item .subList > ul{ background: #fff; list-style: none;}
.v-menubar > ul > li.item .subList > ul li{ border: 1px solid #ccc; border-top: 0; margin-left: -40px; *margin-left: 0px; position: relative;}
.v-menubar > ul > li.item .subList > ul li a{ font-size: 12px; font-family: 新細明體, sans-serif; color: #333; display: block; height: 33px; line-height: 33px; text-align: center;}
.v-menubar > ul > li.item .subList > ul > li:hover a{ color: #fff;}
.v-menubar > ul > li.item .subList > ul > li:hover{ background: #4a4a4a; border: 1px solid #4a4a4a; border-top: 0;}

/* timestamp */
.v-widget-timeStamp .timeBlock-info, .v-widget-timeStamp .timeBlock-info a{ color: #767676; padding: 8px 0;}

/* timeset */
.v-widget-timeset-L{}
.v-widget-timeset-L .Month, .v-widget-timeset-L .Date, .v-widget-timeset-L .Year{ color: #333; font-family: bauerbodonistd-roman; font-weight: bold; font-style: italic;}
.v-widget-timeset-L .Month{
	font-size: 44px;
	line-height: 44px;
	margin-left: 85px;
	position: relative;
	top: 4px;
}
.v-widget-timeset-L .Date{
	font-size: 70px;
	line-height: 70px;
	position: absolute;
	width: 85px;
	*top: 0;
	*left: 0;
}
.v-widget-timeset-L .Year{
	font-size: 18px;
	margin-left: 85px;
	position: relative;		
}
.v-widget-timeset-M{}
.v-widget-timeset-M .Month, .v-widget-timeset-M .Date, .v-widget-timeset-M .Year{ color: #333; font-family: bauerbodonistd-roman; font-style: italic; text-align: left;}
.v-widget-timeset-M .Month{
	font-size: 24px;
	line-height: 20px;
	margin-left: 50px;
	position: relative;
	top: 5px;
	text-transform: uppercase;
}
.v-widget-timeset-M .Date{
	font-size: 40px;
	line-height: 40px;
	position: absolute;
	width: 50px;
	*left: 0;
	*top: 0;
}
.v-widget-timeset-M .Year{
	font-size: 11px;
	margin-left: 50px;
	position: relative;	
	top: 2px;
}
/* v-widget-loadmoreArtical */
.v-widget-loadmoreArticle{ }
.v-widget-loadmoreArticle.v-community{ background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat center -150px;}
.v-widget-loadmoreArticle .v-btnPannel{}
.v-widget-loadmoreArticle .v-btn-loadMore{ width: 125px; height: 30px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -106px -174px; cursor: pointer; margin: 15px auto;}
.v-widget-loadmoreArticle .v-btn-loadMore:hover{ background-position: -231px -174px;}

/* v-widget-userSocial */
.v-widget-userSocial{}
.v-widget-userSocial .icon{ background:url(http://resources.vogue.com.tw/images/widget/skin_socialSearch.png) no-repeat; width: 30px; height: 40px; float: left; margin: 0 2px; position: relative; top: 7px;}
.v-widget-userSocial .icon a{ display: block; width: 30px; height: 40px;}
.v-widget-userSocial .icon-fb{ background-position: 0 0;}
.v-widget-userSocial .icon-pinterest{ background-position: 0 -80px;}
.v-widget-userSocial .icon-tumblr{ background-position: 0 -208px;}
.v-widget-userSocial .icon-google{ background-position: 0 -40px;}
.v-widget-userSocial .icon-fb:hover{ background-position: -60px 0;}
.v-widget-userSocial .icon-pinterest:hover{ background-position: -60px -80px;}
.v-widget-userSocial .icon-tumblr:hover{ background-position: -60px -208px;}
.v-widget-userSocial .icon-google:hover{ background-position: -60px -40px;}
.v-widget-userSocial .v-widget-vogue-pinBtn, .v-widget-userSocial .v-widget-vogue-follow, .v-widget-userSocial .v-widget-vogue-message{ float: left; margin: 0 8px; top: 6px;}

/* v-widget-socialAndSearch  */
.v-widget-socialSearch{}
.v-widget-socialSearch .Search, .v-widget-socialSearch .Social{float: left;}
.v-widget-socialSearch .Search{
	background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -120px;
	/*width: 228px;*/
	width: 172px;
	height: 30px;
	position: relative;
	top: 5px;	
}
.v-widget-socialSearch .Search .btn-submit{ float: right; width: 30px; height: 30px; background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -150px;}
.v-widget-socialSearch .Search .btn-dropdown{ float: right; width: 30px; height: 30px; background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -180px;}
.v-widget-socialSearch .Social .icon{ background:url(http://resources.vogue.com.tw/images/widget/skin_socialSearch.png) no-repeat; width: 30px; height: 40px; float: left; margin: 0 2px;}
.v-widget-socialSearch .Social .icon a{display: block; width: 30px; height: 40px;}
.v-widget-socialSearch .icon-fb.white{ background-position: -30px 0;}
.v-widget-socialSearch .icon-google.white{ background-position: -30px -40px;}
.v-widget-socialSearch .icon-pinterest.white{ background-position: -30px -80px;}
.v-widget-socialSearch .icon-fb.gray{ background-position: 0 0;}
.v-widget-socialSearch .icon-fb.gray:hover{ background-position: -60px 0;}
.v-widget-socialSearch .icon-google.gray{ background-position: 0 -40px;}
.v-widget-socialSearch .icon-google.gray:hover{ background-position: -60px -40px;}
.v-widget-socialSearch .icon-pinterest.gray{ background-position: 0 -80px;}
.v-widget-socialSearch .icon-pinterest.gray:hover{ background-position: -60px -80px;}
.v-widget-socialSearch .Search .btn-submit a, .v-widget-socialSearch .Search .btn-dropdown a{display: block; width: 30px; height:30px;}
.v-widget-socialSearch .Search .btn-submit:hover{ background-position: -30px -150px;}
.v-widget-socialSearch .Search .btn-dropdown:hover{ background-position: -30px -180px;}
.v-widget-socialSearch .Search .input-text{
	float: left; 
	height: 30px; 
	line-height: 30px; 
	padding: 0; 
	border: 0; 
	background: none;
	font-size: 14px;
	color: #a8a8a8;
	width: 120px;
	padding-left: 20px;
	outline: 0;
}
.v-widget-socialSearch .Search .input-text:focus{ color: #333;}

/* v-widget-search */
.v-widget-search{	
	position: relative;	
}
.v-widget-search .Search, .v-widget-search .Category{float: left;}
.v-widget-search .Search{
	background: url('../images/widget/skin_socialSearch.png') no-repeat -229px -120px;
	width: 478px;
	height: 30px;
	margin-right: 10px;
}
.v-widget-search .Category{
	background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -120px;
	width: 228px;
	height: 30px;
	cursor: pointer;
	position: relative;
}
.v-widget-search .Search .btn-submit{ float: right; width: 30px; height: 30px; background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -150px; margin-right: 5px; cursor: pointer;}
.v-widget-search .Category .btn-dropdown{ float: right; width: 30px; height: 30px; background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -180px; cursor: pointer;}
.v-widget-search .Search .btn-submit:hover{ background-position: -30px -150px;}
.v-widget-search .Category .btn-dropdown:hover, .v-widget-search .Category:hover .btn-dropdown{ background-position: -30px -180px;}
.v-widget-search .input-text{
	float: left; 
	height: 30px; 
	line-height: 30px; 
	padding: 0; 
	border: 0; 
	background: none;
	font-size: 14px;
	color: #a8a8a8;
	width: 140px;
	padding-left: 20px;
	outline: 0;
}
.v-widget-search .Search .input-text{ width: 420px;}
.v-widget-search .Category .input-text{ width: 170px; text-align: left;}
.v-widget-search .Category:hover .input-text{ color: #333;}
.v-widget-search .Category .itemlist{ 
	display: none; 
	position: absolute; 
	top: 30px; 
	background: #fff; 
	border: 1px solid #E2E2E2;
	z-index: 84;
	padding: 8px 0px;
	*left: 0;
	
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0px 0px 8px 2px #e2e2e2;
	-moz-box-shadow: 0px 0px 8px 2px #e2e2e2;
	box-shadow: 0px 0px 8px 2px #e2e2e2;
	
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#e2e2e2')\9;
}
.v-widget-search .Category .itemlist ul{ 
	display: block; 
	float: left; 
	width: 228px; 
	list-style: none; 
	margin-left: -40px;	
	*margin-left: 0;
}
.v-widget-search .Category:hover .itemlist{ display: block;}
.v-widget-search .Category .itemlist ul li{ text-align: left; padding: 3px 0; margin: 0 19px; border-top: 1px solid #e3e3e3; cursor: pointer;}
.v-widget-search .Category .itemlist ul li:first-child{ border-top: 0;}
.v-widget-search .Category .itemlist ul li, .v-widget-search .Category .itemlist ul li a{ font-size: 14px; cursor: pointer;}
.v-widget-search .Category .itemlist ul li:hover{ }
.v-widget-search .Category .itemlist ul li a{ color: #767676; display: block;}
.v-widget-search .Category .itemlist ul li:hover a{ color: #333;}
.v-hotKeyword, .v-hotKeyword a, .v-hotKeyword span{ color: #a8a8a8;}

/* v-widget-links */
.v-widget-links{ height: 50px;}
.v-widget-links .Links{display: block; float: left; line-height: 50px; margin: 0 8px;}
.v-widget-links a:hover{ text-decoration: underline;}

/* v-widget-articleFilter */
.v-widget-articleFilter{ font-size: 12px; text-align: center; border-bottom: 1px solid #f2f2f2; color: #a8a8a8;}
.v-widget-articleFilter a{ font-size: 15px; color: #333; margin: 0 15px; line-height: 35px;}
.v-widget-articleFilter a:hover, .v-widget-articleFilter a.selected{ color: #FF0000;}
.v-widget-articleFilter.v-community{ padding: 7px 0; border-bottom: 0;}
.v-widget-articleFilter.v-community a{ 
	font-size: 20px;
	font-family: 'bauerbodonistd-roman';
	margin: 0 35px;	
}
.v-widget-articleFilter.horoscope a{ margin: 0 7px;}



/* v-widget-footerAD */
.v-footer-AD, .v-top-AD{ width: 970px; height: 250px;}

/* v-widget-cell */
.v-widget-cell{float: left;}
.v-widget-cell .pic{}
.v-widget-cell .title, .v-widget-cell .title a, .v-widget-cell .title a:hover{ font-size: 24px; line-height: 30px;}
.v-widget-cell .desc, .v-widget-cell .desc a{ font-size: 12px; }
.v-widget-cell .desc a, .v-widget-cell .desc b{ font-family: 新細明體;}
.v-widget-cell a, .v-widget-cell a:link, .v-widget-cell:hover{ color: #000000;}

/* v-widget-horoscope */
.v-widget-horoscope{ width: 970px; height: 250px; margin: 0 auto;}
.v-widget-horoscope .monthly{ width: 665px; float: left; position: relative; border: 1px solid #d3d3d3;}
.v-widget-horoscope .starSign{ height: 52px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat 0 -463px;}
.v-widget-horoscope .starSign .icon{ width: 30px; height: 52px; float: left; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat; cursor: pointer; margin: 0 12px;}
.v-widget-horoscope .starSign .icon:first-child{ margin-left: 15px;}
.v-widget-horoscope .starSign .icon.ari{ background-position: 0 -508px;}
.v-widget-horoscope .starSign .icon.tau{ background-position: -30px -508px;}
.v-widget-horoscope .starSign .icon.gem{ background-position: -60px -508px;}
.v-widget-horoscope .starSign .icon.can{ background-position: -90px -508px;}
.v-widget-horoscope .starSign .icon.leo{ background-position: -120px -508px;}
.v-widget-horoscope .starSign .icon.vir{ background-position: -150px -508px;}
.v-widget-horoscope .starSign .icon.lib{ background-position: -180px -508px;}
.v-widget-horoscope .starSign .icon.sco{ background-position: -210px -508px;}
.v-widget-horoscope .starSign .icon.sag{ background-position: -240px -508px;}
.v-widget-horoscope .starSign .icon.cap{ background-position: -270px -508px;}
.v-widget-horoscope .starSign .icon.aqu{ background-position: -300px -508px;}
.v-widget-horoscope .starSign .icon.pis{ background-position: -330px -508px;}
.v-widget-horoscope .starSign .icon.ari:hover, .v-widget-horoscope .starSign .icon.ari.selected{ background-position: 0 -560px;}
.v-widget-horoscope .starSign .icon.tau:hover, .v-widget-horoscope .starSign .icon.tau.selected{ background-position: -30px -560px;}
.v-widget-horoscope .starSign .icon.gem:hover, .v-widget-horoscope .starSign .icon.gem.selected{ background-position: -60px -560px;}
.v-widget-horoscope .starSign .icon.can:hover, .v-widget-horoscope .starSign .icon.can.selected{ background-position: -90px -560px;}
.v-widget-horoscope .starSign .icon.leo:hover, .v-widget-horoscope .starSign .icon.leo.selected{ background-position: -120px -560px;}
.v-widget-horoscope .starSign .icon.vir:hover, .v-widget-horoscope .starSign .icon.vir.selected{ background-position: -150px -560px;}
.v-widget-horoscope .starSign .icon.lib:hover, .v-widget-horoscope .starSign .icon.lib.selected{ background-position: -180px -560px;}
.v-widget-horoscope .starSign .icon.sco:hover, .v-widget-horoscope .starSign .icon.sco.selected{ background-position: -210px -560px;}
.v-widget-horoscope .starSign .icon.sag:hover, .v-widget-horoscope .starSign .icon.sag.selected{ background-position: -240px -560px;}
.v-widget-horoscope .starSign .icon.cap:hover, .v-widget-horoscope .starSign .icon.cap.selected{ background-position: -270px -560px;}
.v-widget-horoscope .starSign .icon.aqu:hover, .v-widget-horoscope .starSign .icon.aqu.selected{ background-position: -300px -560px;}
.v-widget-horoscope .starSign .icon.pis:hover, .v-widget-horoscope .starSign .icon.pis.selected{ background-position: -330px -560px;}
.v-widget-horoscope .starTell-header{ margin: 0 15px; border-bottom: 1px solid #e5e5e5; padding: 10px 0;}
.v-widget-horoscope .starTell-header .starName-eng{ font-size: 30px; font-family: bauerbodonistd-roman; line-height: 35px; margin-right: 15px;}
.v-widget-horoscope .starTell-header .starName-chn{ font-size: 26px; font-family: 微軟正黑體; line-height: 35px;}
.v-widget-horoscope .starTell-desc{ color: #6f6f6f; margin: 0 15px; border-bottom: 1px solid #e5e5e5; padding: 10px 0; height: 55px; overflow: hidden;}
.v-widget-horoscope .starTell-tip{ margin: 0 15px; height: 44px;}
.v-widget-horoscope .starTell-tip span{ margin-right: 30px; line-height: 40px; color: #6f6f6f;}
.v-widget-horoscope .starTell-tip span b{ color: #333;}
.v-widget-horoscope .ads{ width: 300px; height: 250px; float: right;}

/* v-widget-userInfo */
.v-widget-userInfo{ width: 970px; height: 250px; margin: 0 auto;}
.v-widget-userInfo .user{ width: 665px; float: left; position: relative; border: 1px solid #d3d3d3;}
.v-widget-userInfo .user .detailBlock{ height: 118px; position: relative; }
.v-widget-userInfo.userInfo-self .user .detailBlock{ height: 110px;}
.v-widget-userInfo .user .relatedBlock{}
.v-widget-userInfo .user .relatedBlock .borderDiv{ 
	border: 4px solid #fff;  
	height: 122px;
    background: #f2eeee url('../images/widget/userInfo_arrow.png') no-repeat right 0;
}
.v-widget-userInfo.userInfo-self .user .relatedBlock .borderDiv{ 
	overflow: auto;
	width: 655px;
	height: 130px;
}
.v-widget-userInfo .userPhoto{ width: 105px; height: 105px; margin: 8px 20px 4px 10px; float: left;}
.v-widget-userInfo.userInfo-self .userPhoto{ margin: 4px 20px 4px 10px;}
.v-widget-userInfo .userPhoto .uploadPhoto{ position: absolute; bottom: 8px; left: 38px;}
.v-widget-userInfo .userPhoto .uploadPhoto a{ color: #fff; text-decoration: underline;}
.v-widget-userInfo .userInfo{ height: 40px;}
.v-widget-userInfo .userInfo, .v-widget-userInfo .userWords{ margin-left: 130px;}
.v-widget-userInfo .userWords{ height: 72px; overflow: hidden;}
.v-widget-userInfo .userName, .v-widget-userInfo .userName a{ font-size: 22px; line-height: 40px; font-weight: bold;}
.v-widget-userInfo .userName, .v-widget-userInfo .userName a,
.v-widget-userInfo .userType, .v-widget-userInfo .userType a,
.v-widget-userInfo .typeDesc, .v-widget-userInfo .typeDesc a,
.v-widget-userInfo .userEdit, .v-widget-userInfo .userEdit a{ float: left; line-height: 40px; margin-right: 5px;}
.v-widget-userInfo .userType, .v-widget-userInfo .userType a{ font-size: 13px; color: #6f6f6f; font-weight: bold;}
.v-widget-userInfo .typeDesc, .v-widget-userInfo .typeDesc a,
.v-widget-userInfo .userEdit, .v-widget-userInfo .userEdit a{ font-size: 13px; color: #999; text-decoration: underline;}
.v-widget-userInfo .userEdit, .v-widget-userInfo .userEdit a{ float: right;}
.v-widget-userInfo .userWords{}
.v-widget-userInfo .userCredit{ font-size: 16px; font-weight: bold; line-height: 40px;}
.v-widget-userInfo .userCredit .amount{ font-size: 20px; font-weight: bold;}
.v-widget-userInfo .userCredit .amount .zero{ font-size: 20px; color: #cfcfcf;}
.v-widget-userInfo .ads{ width: 300px; height: 250px; float: right;}
.v-widget-userInfo .relatedEvent, .v-widget-userInfo .extendedRead{ float: left; margin-top: 3px;}
.v-widget-userInfo .relatedEvent .eventTitle{ height: 17px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -1007px -454px; padding-left: 20px; margin: 0 20px 2px 10px; font-weight: bold;}
.v-widget-userInfo .relatedEvent .eventPic{ margin: 0 20px 0 10px;}
.v-widget-userInfo .extendedRead .readTitle{ height: 17px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -1007px -470px; padding-left: 20px; margin: 0 20px 2px 0;  font-weight: bold;}
.v-widget-userInfo .extendedRead .readLinks a{ display: block; line-height: 25px; border-top: 1px dotted #cfcfcf; width: 500px; }
.v-widget-userInfo .extendedRead .readLinks a:hover { color: #c8161d;}
.v-widget-userInfo .extendedRead .readLinks a:first-child{ border-top: 0;}


/* v-widget-userCounter */
.v-widget-userCounter .usercounter {float: left;}
.v-widget-userCounter .iconLabel{ font-size: 13px;}
.v-widget-userCounter .iconLabel, .v-widget-userInfo .iconLabel{ display: inline-block; line-height: 22px;}
.v-widget-userCounter .iconLabel{ height: 22px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat;}
.v-widget-userCounter .amount{ font-weight: bold; color: #979797;}

.v-widget-userInfo.userInfo-user .v-widget-userCounter{ position: relative; top: 10px; height: 77px;}
.v-widget-userInfo.userInfo-user .v-widget-userCounter .usercounter{ background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat right -360px;	}
.v-widget-userInfo.userInfo-user .usercounter{ width: 120px;}
.v-widget-userInfo.userInfo-user .iconLabel{ text-align: center; width: 120px;}
.v-widget-userInfo.userInfo-user .v-widget-userCounter .iconLabel.following{ background-position: -970px -221px; padding-left: 8px;}
.v-widget-userInfo.userInfo-user .v-widget-userCounter .iconLabel.follower{ background-position: -975px -243px; padding-left: 8px;}
.v-widget-userInfo.userInfo-user .v-widget-userCounter .iconLabel.article{ background-position: -970px -261px; padding-left: 10px;}
.v-widget-userInfo.userInfo-user .v-widget-userCounter .amount{ 
	font-size: 38px; 	 
	text-align: center;
	padding: 10px 0; 	
}
.v-widget-userInfo.userInfo-self{}
.v-widget-userInfo.userInfo-self .v-widget-userCounter .usercounter{}
.v-widget-userInfo.userInfo-self .v-widget-userCounter .usercounter > div, 
.v-widget-userCounter.inline .usercounter > div{ float: left; line-height: 22px;}
.v-widget-userInfo.userInfo-self .v-widget-userCounter .usercounter .iconLabel{ padding-left: 25px; font-size: 16px;}
.v-widget-userCounter.inline .usercounter .iconLabel{ padding-left: 25px; font-size: 13px;}
.v-widget-userInfo.userInfo-self .v-widget-userCounter .usercounter .iconLabel.following{ background-position: -1002px -287px;}
.v-widget-userCounter.inline .usercounter .iconLabel.following{ background-position: -1002px -485px;}
.v-widget-userInfo.userInfo-self .v-widget-userCounter .usercounter .iconLabel.follower{ background-position: -1002px -309px;}
.v-widget-userCounter.inline .usercounter .iconLabel.follower{ background-position: -1002px -507px;}
.v-widget-userInfo.userInfo-self .v-widget-userCounter .usercounter .iconLabel.message{ background-position: -1002px -331px;}
.v-widget-userCounter.inline .usercounter .iconLabel.message{ background-position: -1002px -529px;}
.v-widget-userInfo.userInfo-self .v-widget-userCounter .amount, 
.v-widget-userCounter.inline .amount{ font-size: 20px; padding-left: 5px; margin-right: 10px;}

/* v-widget-userSocial */
.v-widget-userSocial{ height: 45px; background: #fff;}

/* v-widget-waterfall */
.v-widget-waterfall{ padding: 15px 60px;}
.v-widget-waterfall .fallItems{ 
	border: 1px solid #ededed;
	background: #fff;
	
	padding: 5px 0 0 0;
	
	-webkit-box-shadow: 1px 1px 3px 1px #f0f0f0;
	-moz-box-shadow: 1px 1px 3px 1px #f0f0f0;
	box-shadow: 1px 1px 3px 1px #f0f0f0;
	
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#f0f0f0') \9;
}
.v-widget-waterfall .fallItems.fallNormal{ width: 210px;}
.v-widget-waterfall .fallItems.fallTop{ width: 430px;}
.v-widget-waterfall .fallItems > div{ margin: 0 5px;}
.v-widget-waterfall .fallItems .fallPic{ cursor: pointer; }
.v-widget-waterfall .fallItems .fallSocial-info{ height: 52px;}
.v-widget-waterfall .fallItems .fallSocial-info .v-widget-vogue-pinBtn{ float: right;}
.v-widget-waterfall .fallItems .fallAuthor{ 
	margin: 0; 
	background: #f4f4f4; 
	padding: 5px 0; 
	position: relative; 
	border-bottom: 1px solid #D5D5D5;
	height: auto !important;
}
.v-widget-waterfall .fallAuthor .authorPhoto{ 
	width: 65px; 
	height: 65px; 
	margin-left: 5px; 
	*margin-top: 10px;
	position: absolute;
	*top: 0;
	*left: 0;
}
.v-widget-waterfall .fallAuthor .authorName, .fallItems .fallAuthor .authorMsg{ position: relative; margin-left: 75px; padding: 0 5px;}
.v-widget-waterfall .fallAuthor .authorName-title, .v-widget-waterfall .fallAuthor .authorName-title a{font-size: 15px;	line-height: 20px;	font-weight: bolder; padding-left: 8px;}
.v-widget-waterfall .fallAuthor .authorName, .v-widget-waterfall .fallAuthor .authorName a{ font-size: 14px; margin-bottom: 7px; line-height: 20px;}
.v-widget-waterfall .fallAuthor .authorMsg{ }
.v-widget-waterfall .fallItems.fallNormal .fallAuthor{}
.v-widget-waterfall .fallItems.fallTop .fallAuthor{}
.v-widget-waterfall .fallItems.gallery .fallAuthor .authorName{ margin-left: 0;}
.v-widget-waterfall .fallContent { position:relative; float:left; }
.v-widget-waterfall .fallContentTopSize { width:450px; }
.v-widget-waterfall .fallContentNormalSize { width:220px; }
.v-widget-waterfall .fallItems { margin-top:10px; } 
.v-widget-waterfall .fallItems:first-child { margin-top:0; }

/* v-widget-likeCount */
.v-widget-likeCount{ 
	background: url('../images/skin_website.png') no-repeat;
	position: relative;
}
.v-widget-likeCount{ 
	width: 57px; 
	height: 47px; 
	float: left; 
	padding-left: 48px; 
	background-position: 0 -174px; 
	line-height: 47px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;	
	font-weight: bold;
	color: #5C444;
}
/* v-widget-shareBtn */
.v-widget-shareBtn{ position: relative; right: 5px;}
.v-widget-shareBtn .shareBtn{ 
	background: url('../images/widget/widgetSkin_share.png') no-repeat 0 0;
	width: 49px; 
	height: 32px; 
	float: right; 
	cursor: pointer;
	position: relative;
}
.v-widget-shareBtn .shareBtn:hover{ background-position: -49px 0;}
.v-widget-shareBtn-open{ 
	position: absolute;
	height: 32px; 
	right: 83px; 
	background: url('../images/widget/widgetSkin_share.png') no-repeat left -32px; 
	display: none;
	border-right: 1px solid #e2e2e2;
	z-index: 88;
}
.v-widget-shareBtn-open .openBody{ 
	/*height: 32px; */
	/*background: url('../images/widget/widgetSkin_share.png') no-repeat right -96px; */
	line-height: 32px; 			
	width: 200px;
	padding-left: 10px;
}
.v-widget-shareBtn-open .openBody div{ padding-left: 5px;}
.v-widget-shareBtn.black .shareBtn{ background-position: -98px 0;}
.v-widget-shareBtn.black .shareBtn:hover{ background-position: -147px 0;}
.v-widget-shareBtn.black .v-widget-shareBtn-open{ background-position: left -64px; border-right: 1px solid #616161;}

/* v-widget-vogue-pinBtn */
.v-widget-vogue-pinBtn{ position: relative; width: 40px; height: 37px; background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -248px; cursor: pointer;}
.v-widget-vogue-pinBtn:hover, .v-widget-vogue-pinBtn.pinned, .v-widget-pinBtn.pinned:hover{ background-position: -40px -248px;}

/* v-widget-vogue-follow */
.v-widget-vogue-follow{ position: relative; width: 40px; height: 37px; background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -285px; cursor: pointer}
.v-widget-vogue-follow:hover{ background-position: -40px -285px;}

/* v-widget-vogue-message */
.v-widget-vogue-message{ position: relative; width: 40px; height: 37px; background: url('../images/widget/skin_socialSearch.png') no-repeat 0 -322px; cursor: pointer}
.v-widget-vogue-message:hover{ background-position: -40px -322px;}

/* v-widget-articleDetail-new */
.v-widget-articleDetail-new{ padding: 10px 32px;}
.v-widget-articleDetail-new .articleHeader{ padding-top:15px;text-align: left; *position: relative; padding-left: 15px;}
.v-widget-articleDetail-new .articleHeader .v-widget-timeset-M, .v-widget-articleDetail-new .articleHeader .articleTitle{ text-align: left; float: left;}
.v-widget-articleDetail-new .articleHeader .articleTitle{ border-left: 3px solid #cfcfcf; margin-left: 15px; padding-left: 15px; width: 750px; overflow: hidden;}
.v-widget-articleDetail-new .articleTitle{ margin-bottom: 20px;}
.v-widget-articleDetail-new .articleTitle .title{ font-size: 22px; line-height: 30px;}
.v-widget-articleDetail-new .articleTitle .info{ position: relative; top: 2px;}
.v-widget-articleDetail-new .articleBody p{ *float: none; *clear: both; font-size: 14px; line-height: 25px;}
.v-widget-articleDetail-new .articleBody strong{ *float: none; *clear: both; font-size: 14px; line-height: 25px;}
.v-widget-articleDetail-new .articleBody u{ *float: none; *clear: both; font-size: 14px; line-height: 25px;}
.v-widget-articleDetail-new .articleBody span {	font-size: 14px; line-height: 25px;}
.v-widget-articleDetail-new a span img{ position: relative; top: 3px;}
.v-widget-articleDetail-new a span{ font-size: 14px;}
.v-widget-articleDetail-new .articleBody div{line-height: 25px;}

/* v-widget-videoArticleDetail */
.v-widget-articleDetail-new.tv{ padding: 10px 27px;}
.v-widget-articleDetail-new.tv .articleHeader{ padding-left: 0;}

/* v-widget-articleDetail */
.v-widget-articleDetail{ padding: 10px 60px;}
.v-widget-articleDetail .articleHeader{ padding-top:15px;text-align: left; *position: relative; padding-left: 15px;}
.v-widget-articleDetail .articleHeader .v-widget-timeset-M, .v-widget-articleDetail .articleHeader .articleTitle{ text-align: left; float: left;}
.v-widget-articleDetail .articleHeader .articleTitle{ border-left: 3px solid #cfcfcf; margin-left: 15px; padding-left: 15px; width: 750px; overflow: hidden;}
.v-widget-articleDetail .articleTitle{ margin-bottom: 20px;}
.v-widget-articleDetail .articleTitle .title{ font-size: 22px; line-height: 30px;}
.v-widget-articleDetail .articleTitle .info{ position: relative; top: 2px;}
.v-widget-articleDetail .articleBody p{ *float: none; *clear: both; font-size: 14px; line-height: 25px;}
.v-widget-articleDetail .articleBody strong{ *float: none; *clear: both; font-size: 14px; line-height: 25px;}
.v-widget-articleDetail .articleBody u{ *float: none; *clear: both; font-size: 14px; line-height: 25px;}
.v-widget-articleDetail .articleBody span {	font-size: 14px; line-height: 25px;}
.v-widget-articleDetail a span img{ position: relative; top: 3px;}
.v-widget-articleDetail a span{ font-size: 14px;}

/* v-widget-videoArticleDetail */
.v-widget-articleDetail.tv{ padding: 10px 27px;}
.v-widget-articleDetail.tv .articleHeader{ padding-left: 0;}

/* v-widget-extendedRead */
.v-widget-extendedRead{ padding: 0 60px;}
.v-widget-extendedRead .extendedRead-Title{ font-size: 40px; line-height: 50px; text-align: center; padding-bottom: 10px; font-family: 'bauerbodonistd-roman';}
.v-widget-extendedRead .extendedRead-ch-Title{font-size: 18px; text-align: center;padding-bottom: 10px;}
.v-widget-extendedRead .readItems.hasAds{ width: 590px; float: left;}
.v-widget-extendedRead .extendedRead-Ads{ width: 300px; height: 600px; float: left;}
.v-widget-extendedRead .readItems.hasAds .readItem, .v-widget-extendedRead .readItems .readItem{ float: left;}
.v-widget-extendedRead .readItems .readItem{ margin: 0 14px 6px 15px;}
.v-widget-extendedRead .readItems.hasAds .readItem{ margin: 0 10px 6px 10px;}
.v-widget-extendedRead .readItems .pics{ width: 250px; height: 250px; padding: 10px; border: 1px solid #cfcfcf; background: #fff;}
.v-widget-extendedRead .readItems .title, .v-widget-extendedRead .readItems .title a{ font-size: 12px; width: 270px; height: 33px; overflow: hidden;}
.v-widget-extendedRead .readItems .title{ padding: 2px 0;}

/* v-widget-articleMatrix */
.v-widget-articleMatrix{}
.v-widget-articleMatrix .matrixItem{ 
	float: left;
	border: 1px solid #cfcfcf; 
	background: #fff; 
	padding: 10px; 
	width: 478px; 
	height: 390px; 
	margin: 6px;

	
	-webkit-box-shadow: 2px 3px 4px 1px #e2e2e2;
	-moz-box-shadow: 2px 3px 4px 1px #e2e2e2;
	box-shadow: 2px 3px 4px 1px #e2e2e2;
	
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#e2e2e2')\9;	
	*filter: none;	
}
.v-widget-articleMatrix .matrixPics{ position: relative;}
.v-widget-articleMatrix .smallPic{ width: 158px; height: 160px;}
.v-widget-articleMatrix .bigPic{ width: 320px; height: 320px; position: absolute; right: 0; top: 0;}
.v-widget-articleMatrix .matrixInfo{ height: 70px; position: relative;}
.v-widget-articleMatrix .matrixInfo > div{ position: relative;}
.v-widget-articleMatrix .authorPhoto{ width: 50px; height: 50px; float: left; top: 15px;}
.v-widget-articleMatrix .authorName, .v-widget-articleMatrix .authorName a{ font-size: 18px; float: left; top: 33px; margin: 0 5px;}
.v-widget-articleMatrix .matrixInfo .v-widget-pinCount{ float: right; top: 23px; margin: 0 10px;}
.v-widget-articleMatrix .matrixInfo .v-widget-pinCount > div{ float: left;}
.v-widget-articleMatrix .matrixInfo .v-widget-pinCount .pinBtn{ width: 100px; height: 34px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat 0 -326px; cursor: pointer;}
.v-widget-articleMatrix .matrixInfo .v-widget-pinCount .pinBtn a{ display: block; width: 102px; height: 34px;}
.v-widget-articleMatrix .matrixInfo .v-widget-pinCount .pinBtn:hover{/* background-position: -102px -326px;*/}
.v-widget-articleMatrix .matrixInfo .v-widget-pinCount .pinCount{ line-height: 36px; font-size: 13px; color: #5e5e5e;}
.v-widget-articleMatrix .matrixInfo .actionBtn{ float: right; width: 34px; height: 34px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat 0 -360px; top: 25px;}
.v-widget-articleMatrix .matrixInfo .actionBtn a{ display: block; width: 34px; height: 34px;}
.v-widget-articleMatrix .matrixInfo .actionBtn:hover{ background-position: -34px -360px;}

/* v-widget-timeBlock */
.v-widget-timeBlock{ width: 970px; margin: 0 auto; position: relative;}
.v-widget-timeBlock .v-widget-timeStamp{ position: absolute; top: 8px;}
.v-widget-timeBlock .timeBlock-name, .v-widget-timeBlock .timeBlock-name *{ text-align: center; color: #999999; font-size: 30px; font-family: bauerbodonistd-roman; line-height: 35px;margin-bottom: 30px;}
.v-widget-timeBlock .timeBlock-name.pageUsing, .v-widget-timeBlock .timeBlock-name.pageUsing *{ font-size: 27px; font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif;}
.v-widget-timeBlock .v-widget-pinShareSet{ position: absolute; right: 0px; top: 8px; width: 150px;}
.v-widget-timeBlock .timeBlock-pic{ width: 970px; text-align:center; }
.v-widget-timeBlock .timeBlock-articleTitle{ padding: 0px 100px; margin-top: 10px; line-height: 30px;}
.v-widget-timeBlock .timeBlock-articleTitle, .v-widget-timeBlock .timeBlock-articleTitle a{ font-size: 27px; color: #000000; text-align: center; line-height: 40px;}
.v-widget-timeBlock .timeBlock-articleBody{ padding: 8px 100px;} 
.v-widget-timeBlock .timeBlock-articleBody, .v-widget-timeBlock .timeBlock-articleBody a{ color: #3f3f3f; text-align: center;}
.v-widget-timeBlock .timeBlock-readMore{ padding: 8px 100px;}
.v-widget-timeBlock .timeBlock-readMore, .v-widget-timeBlock .timeBlock-readMore a{ 
	font-size: 14px;
	color: #ca0008;
	font-family: bauerbodonistd-roman;
	text-align: center;
}
.v-widget-timeBlock .timeBlock-readMore a:hover{ color: #e11921;}
/* type 2 */
.v-widget-timeBlock.type2 .timeBlock-name{padding-top: 20px;}
/* type 3*/
.v-widget-timeBlock.type5 .timeBlock-name{padding-top: 20px;}
/* type 4 */
.v-widget-timeBlock.type4 .timeBlock-pic{ float: left; width: 380px; margin-left: 120px; margin-right: 22px; padding-top: 35px;}
.v-widget-timeBlock.type4 .timeBlock-name{ text-align: left; margin-bottom: 10px; padding: 80px 70px 0 70px;}
.v-widget-timeBlock.type4 .timeBlock-articleTitle, .v-widget-timeBlock.type4 .timeBlock-articleTitle a{ text-align: left;}
.v-widget-timeBlock.type4 .timeBlock-articleBody{ text-align: left;}
.v-widget-timeBlock.type4 .timeBlock-readMore{ text-align: left;}

/* type 4 right*/
.v-widget-timeBlock.type4.right .timeBlock-pic{ float: right; margin-right: 120px; margin-left: 22px; *position: relative; *left: 25px;}
.v-widget-timeBlock.type4.right .timeBlock-name{ text-align: right;}
.v-widget-timeBlock.type4.right .timeBlock-articleTitle, .v-widget-timeBlock.type4.right .timeBlock-articleTitle a{ text-align: right;}
.v-widget-timeBlock.type4.right .timeBlock-articleBody{ text-align: right;}
.v-widget-timeBlock.type4.right .timeBlock-readMore{ text-align: right;}

/* v-widget-pinShareSet */
.v-widget-pinShareSet{ position: relative;}
.v-widget-pinShareSet .v-widget-vogue-pinBtn{ float: right;}
.v-widget-pinShareSet-content .v-widget-vogue-pinBtn{ float: right;margin-right: 55px;}
.v-widget-pinShareSet .timeBlock-info{ color: #767676; padding: 8px 0; position: absolute; right: 0; top: 38px;}

/* v-widget-expendedAds */
.v-widget-expendedAds{ position: relative;}
.v-widget-expendedAds{ width: 970px; height: 250px; margin: 0 auto; overflow: hidden;}
.v-widget-expendedAds img{ position: absolute;}
.v-widget-expendedAds .expendedBtn{ position: absolute; width: 59px; height: 19px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat; right: 10px; top: 10px; cursor: pointer;}
.v-widget-expendedAds .expendedBtn.open{ background-position: -202px -330px;}
.v-widget-expendedAds .expendedBtn.close{ background-position: -261px -330px;}

#suzy_Ads{ width: 970px; height: 250px; margin: 0 auto; overflow: hidden;}

/* v-widget-videoImage */
.v-widget-videoImage{ position: relative;}
.v-widget-videoImage .img{ }
.v-widget-videoImage .clipName{ height: 40px; background: url(http://resources.vogue.com.tw/images/widget/videoImage/videoTitleBG.png) repeat; position: absolute; width: 100%; bottom: 0px; text-align: center; overflow: hidden;}
.v-widget-videoImage .clipName *{ font-size:22px; }
.v-widget-videoImage .clipName a{ color: #333; position: relative; top: -2px;}
.v-widget-videoImage .clipName a:hover{ text-decoration: underline;}
.v-widget-videoImage .clipName .playBtn{ position: relative; display: inline-block; width: 32px; height: 32px; background:url(http://resources.vogue.com.tw/images/widget/videoImage/playBtn.png) no-repeat; top: 4px; *top: 0; margin-left: 10px;}
.v-widget-videoImage.size970{ width: 970px; margin: 0 auto;}
.v-widget-videoImage.size485{ width: 485px;}
.v-widget-videoImage.typeSlide .clipName{ background: none; width: 16px; height: 16px; position: absolute; right: 6px; bottom: 6px;}
.v-widget-videoImage.typeSlide .clipName .playBtn{ width: 16px; height: 16px; background: url(http://resources.vogue.com.tw/images/widget/videoImage/playBtn_small.png) no-repeat; margin: 0; top: 0;}
.v-widget-videoImage.typeTopic .clipName{ background: none; width: 47px; height: 47px; position: absolute; right: 6px; bottom: 6px;} 
.v-widget-videoImage.typeTopic .clipName .playBtn{ width: 47px; height: 47px; background: url(http://resources.vogue.com.tw/images/widget/videoImage/topicRows_playBtn.png) no-repeat; margin: 0; top: 0;}

/* v-widget-album */
.v-widget-album{ padding: 0 13px 0 17px;}
.v-widget-album .v-album{ float: left; width: 190px; height: 355px; margin: 5px 4px 5px 4px;}
.v-widget-album .albumCover{ width: 190px; height: 285px;  position: relative;}
.v-widget-album .albumCover .albumType.video{
	width: 16px;
	height: 16px;
	background: url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat -480px -100px;
	position: absolute;
	bottom: 30px;
	right: 10px;
}
.v-widget-album .albumName{ position: relative; background: #fff; width: 160px; height: 70px; top: -24px; margin-left: 10px; padding: 10px; overflow: hidden; font-family: 'bauerbodonistd-roman';}
.v-widget-album .albumName, .v-widget-album .albumName a, .v-widget-album .albumName, .v-widget-album .albumName span{ font-size: 16px; color: #333; font-family: 'bauerbodonistd-roman';}
.v-widget-album .albumName, .v-widget-album .albumName a:hover{ color: #a8a8a8;}
.v-widget-album .albumType, .v-widget-album .albumType a, .v-widget-album .albumType a:hover{ color: #b09c6e; font-size: 12px; font-style: normal;}
.v-widget-album .albumName .chn, .v-widget-album .albumName .chn a{ font-family: 微軟正黑體; font-size: 14px;}
.v-widget-album .v-alphaBlock{ background: #333;}
.v-widget-album .v-alphaBlock .blockWrapper{ margin: 10px; height: 325px; width:150px; /*overflow-y: scroll; overflow-x:hidden;*/}
.v-widget-album .v-alphaBlock .alpha{ color: #fff; font-family: bauerbodonistd-roman; font-size: 60px; line-height: 70px;}
.v-widget-album .v-alphaBlock .itemList{ }
.v-widget-album .v-alphaBlock .itemList ul{ list-style: none; margin-left: -35px;}
.v-widget-album .v-alphaBlock .itemList a{ color: #919191; font-family: bauerbodonistd-roman;}
.v-widget-album .v-alphaBlock .itemList a:hover{ color: #fff;}

.v-widget-album .v-alphaBlock .viewport { overflow: hidden; position: relative; }
.v-widget-album .v-alphaBlock .overview { list-style: none; position: absolute; left: 0; top: 0; }
.v-widget-album .v-alphaBlock .thumb .end,
.v-widget-album .v-alphaBlock .thumb { background-color: #DBDBDB; border-radius:5px; }
.v-widget-album .v-alphaBlock .scrollbar { position: relative; float: right; width: 15px; top:15px; }
.v-widget-album .v-alphaBlock .track { border:1px solid #DBDBDB; border-radius:5px; height: 100%; width:7px; position: relative; }
.v-widget-album .v-alphaBlock .thumb { height: 20px; width:7px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.v-widget-album .v-alphaBlock .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.v-widget-album .v-alphaBlock .disable{ display: none; }

/* v-widget-videoSlide */
.v-widget-videoSlide{ width: 970px; height: 293px; margin: 0 auto; position: relative; overflow: hidden;}
.v-widget-videoSlide .videoContainer{ width: 9999px; position: absolute;}
.v-widget-videoSlide .v-widget-videoImage{ float: left;}
.v-widget-videoSlide .slideController{ width: 970px; position: absolute; top: 82px;}
.v-widget-videoSlide .slideController .btnPrevious{ cursor: pointer; width: 39px; height: 62px; background: url(http://resources.vogue.com.tw/images/widget/videoSlide/controller.png) no-repeat 0 0; float: left;}
.v-widget-videoSlide .slideController .btnNext{ cursor: pointer; width: 39px; height: 62px; background: url(http://resources.vogue.com.tw/images/widget/videoSlide/controller.png) no-repeat -39px 0; float: right;}
.v-widget-videoSlide .slideController .btnPrevious:hover{ background-position: 0 -62px;}
.v-widget-videoSlide .slideController .btnNext:hover{ background-position: -39px -62px;}

/* v-widget-videoRows */
.v-widget-videoRows{ padding: 0 27px; position: relative;}
.v-widget-videoRows .videoRows{  position: relative;  display: table; width: 970px;}
.v-widget-videoRows .videoRows .datestamps{ }
.v-widget-videoRows .videoRows .datestamps .date{ font-size: 24px; line-height: 24px; font-family: 'bauerbodonistd-roman'; margin-top: 25px;}
.v-widget-videoRows .videoRows .datestamps .videoRows-info, .v-widget-videoRows .videoRows .datestamps .videoRows-info a{ color: #767676; padding: 2px 0;}
.v-widget-videoRows .videoRows .videoName{  top: 0px; margin-left: 30px; position: relative;}
.v-widget-videoRows .videoName, .v-widget-videoRows .videoName a{  font-size:21px;color: #333; font-family: 新細明體, 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif; font-weight: bold; line-height: 35px;}
.v-widget-videoRows .videoRows .videoName a:hover{ color: #a8a8a8;}
.v-widget-videoRows .v-widget-videoImage{ float: left;}
.v-widget-videoRows .videoRows.group2 .v-widget-videoImage{ width: 345px;}
.v-widget-videoRows .videoRows.group2 .datestamps, 
.v-widget-videoRows .videoRows.group2 .videoName, 
.v-widget-videoRows .videoRows.group2 .videoStream{ display: table-cell; vertical-align: middle;}
.v-widget-videoRows .videoRows.group2 .videoName{ width: 440px; padding-right: 10px;}
.v-widget-videoRows .videoRows.group2 .videoStream{ text-align: right; width: 345px;}
.v-widget-videoRows .videoRows.group3{}
.v-widget-videoRows .videoRows.group3 .v-widget-videoImage{ width: 115px; height: 65px;}
.v-widget-videoRows .videoRows.group3 .datestamps, 
.v-widget-videoRows .videoRows.group3 .videoName, 
.v-widget-videoRows .videoRows.group3 .videoStream{ display: table-cell; vertical-align: middle;}
.v-widget-videoRows .videoRows.group3 .videoName{ width: 440px; padding-right: 10px;}
.v-widget-videoRows .videoRows.group3 .videoStream{ text-align: right; width: 345px;}
/* IE7 hack */
.v-widget-videoRows .videoRows{ *display: block;}
.v-widget-videoRows .videoRows .datestamps, .v-widget-videoRows .videoRows .videoName{ *float: left;}
.v-widget-videoRows .videoRows .datestamps .date{ *margin-top: 0;}
.v-widget-videoRows .videoRows .videoStream{ *float: right;}
.v-widget-videoRows .videoRows.group2 .datestamps{ *display: block; *margin-top: 80px;}
.v-widget-videoRows .videoRows.group2 .videoName{ *display: block; *margin-top: 75px; *width: 400px; *height: 75px; *overflow: hidden;}
.v-widget-videoRows .videoRows.group3{ }
.v-widget-videoRows .videoRows.group3 .videoStream{ *margin-top: 10px;}
.v-widget-videoRows .videoRows.group3 .datestamps{ *display: block; *margin-top: 23px;}
.v-widget-videoRows .videoRows.group3 .videoName{ *display: block; *margin-top: 20px; *width: 400px; *height: 75px; *overflow: hidden;}
.v-widget-videoRows .videoRows.group3 .clipName .playBtn{ *height: 18px;}

/* v-widget-topicRows */
.v-widget-topicRows{ padding: 0 27px; }
.v-widget-topicRows .topicRows{ position: relative; height: 150px; overflow: hidden;}
.v-widget-topicRows .numberstamps{ float: left;}
.v-widget-topicRows .numberstamps .number{ font-size: 40px; line-height: 40px; font-family: 'bauerbodonistd-roman'; font-style: italic;}
.v-widget-topicRows .numberstamps .topicRows-info, .v-widget-topicRows .numberstamps .topicRows-info a{ color: #767676; padding: 2px 0;}
.v-widget-topicRows .picStream{ float: left; margin-left: 36px;}
.v-widget-topicRows .picStream .groupPic{ float: left;}
.v-widget-topicRows .topicDesc{ float: left; width: 462px; height: 150px; margin-left: 23px; margin-top: 5px; overflow: hidden;}
.v-widget-topicRows .topicDesc .title{ margin-bottom: 8px;}
.v-widget-topicRows .topicDesc .title a{
	font-size: 25px;
	color: black;
	font-family: 新細明體, 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	line-height: 32px;
}
.v-widget-topicRows .topicDesc .title a:hover{ color: #a8a8a8;}
.v-widget-topicRows .topicDesc .desc{}
.v-widget-topicRows .topicRows.group5 .groupPic{ width: 69px;}
.v-widget-topicRows .topicRows.group3 .groupPic{ width: 115px;}
.v-widget-topicRows .topicRows.group1 .groupPic{ width: 345px;}
/* v-widget-collectionMenu */
.v-widget-collectionMenu{}
.v-widget-collectionMenu .menuTabs{ height: 52px; text-align: center; background: url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat 0 -629px; position: relative; z-index: 50;}
.v-widget-collectionMenu .menuTabs a{ padding: 0 3px; height: 52px; line-height: 40px; font-size: 18px; color: #848484; font-family: 'bauerbodonistd-roman'; margin: 0 16px; display: inline-block;}
.v-widget-collectionMenu .menuTabs a:hover, .v-widget-collectionMenu .menuTabs a.selected{ color: #fff;}
.v-widget-collectionMenu .menuTabs a.selected{ background: url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat center -682px;}
.v-widget-collectionMenu .menuItemList{ height: 448px; /*overflow-y: scroll; overflow-x: hidden;*/}
/*.v-widget-collectionMenu .menuItemList .listDiv{ position: relative; width: 1200px;}*/
.v-widget-collectionMenu .menuItemList #menu_brand{ float: left; width: 350px;}
.v-widget-collectionMenu .menuItemList #menu_seasons{ float: left; width: 350px;}
.v-widget-collectionMenu .menuItemList #menu_aToZ{ float: left; width: 350px;}
.v-widget-collectionMenu .menuItemList ul{ margin-left: -42px; list-style: none;}
/* collectionMenu */
#scrollItemList{ margin-top: -8px; overflow: hidden;}
#scrollItemList > div { width: 350px; clear: both; padding-top: 8px;}
#scrollItemList > div .viewport { width: 325px; height:430px; overflow: hidden; position: relative; }
#scrollItemList > div .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollItemList > div .thumb .end,
#scrollItemList > div .thumb { background-color: #DBDBDB; border-radius:5px; }
#scrollItemList > div .scrollbar { position: relative; float: right; width: 15px; }
#scrollItemList > div .track { border:1px solid #DBDBDB; border-radius:5px; height: 100%; width:7px; position: relative; }
#scrollItemList > div .thumb { height: 20px; width:7px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollItemList > div .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollItemList > div .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
#scrollItemList > div .overview > ul > li{
	width:290px;
	overflow: hidden;
	margin-left:20px;
	padding-right: 18px;
	height:33px;
	line-height:33px;
	border-bottom:1px solid #e5e5e5;
	font-family: 'bauerbodonistd-roman';
	font-size: 16px;
	cursor: pointer;	
	background: url('../images/skin_website2.png') no-repeat right -565px;
}
#scrollItemList > div .overview > ul.oneLevel > li{ background:none; }
#scrollItemList > div .overview > ul > li:hover{ color: #ba1a1a;}

/* collectionMenu submenu */
#scrollItemList > div .submenu { position: absolute; top:0; left:100%; background: #f4f4f6; width: 350px; height: 456px; clear: both;}
#scrollItemList > div .submenu  .scrollbar{ top: 10px;}
#scrollItemList > div .submenu .viewport { width: 275px; left:50px; top: 10px;}
#scrollItemList > div .submenu .backbar { position: absolute;top: 0;left: 0;width:48px;height: 100%;background: #fff url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat left -735px;border-right:solid 1px #d9d9db;cursor:pointer; }
#scrollItemList > div .submenu .backbar:hover{ background-position: -49px -735px;}
#scrollItemList > div .submenu .overview > ul > li{ width:240px; background:none; }

/* collectionMenu hasTag */
#scrollItemList > div.hasTag .viewport{ height:392px; top:36px; }
#scrollItemList > div.hasTag .scrollbar{ top:36px; }
#scrollItemList > div.hasTag .tagbarOuter{ position: absolute; width: 305px; height:36px; top:0px; left:20px; }
#scrollItemList > div.hasTag .tagbar ul{ white-space:nowrap; }
#scrollItemList > div.hasTag .tagbar li{ display:inline-block; vertical-align:top; width:auto; height:36px; line-height:36px; text-align:center;cursor:pointer; padding: 0 3px;}
#scrollItemList > div.hasTag .btnPrevious, #scrollItemList > div.hasTag .btnNext, #scrollItemList > div.hasTag .tagbar li{ font-family: bauerbodonistd-roman; font-size: 20px; color: #aaa9a9;}
#scrollItemList > div.hasTag .btnPrevious:hover, #scrollItemList > div.hasTag .btnNext:hover, #scrollItemList > div.hasTag .tagbar li:hover{ color: #333333;}
#scrollItemList > div.hasTag .tagbar li.selected{ color: #333333;}
#scrollItemList > div.hasTag .btnPrevious{ width: 20px; height:36px; left:0; top:0; }
#scrollItemList > div.hasTag .btnNext{ width: 20px; height:36px; right:0; top:0; }
#scrollItemList > div.hasTag .btnPrevious, #scrollItemList > div.hasTag .btnNext{ line-height:36px; text-align:center; cursor:pointer; font-family: bauerbodonistd-roman; font-size: 20px; color: #aaa9a9; } 

/* v-widget-bannerSlide */
.v-widget-bannerSlide{ position: relative;}
.v-widget-bannerSlide .bannerSlide{ position: absolute;}
.v-widget-bannerSlide .bannerSlide .slideDiv{position: relative; width: 9999px;}
.v-widget-bannerSlide .bannerSlide .slideDiv .slideImg{ float: left;}
.v-widget-bannerSlide .bannerController{ height: 30px;}
.v-widget-bannerSlide .bannerController a{ display: inline-block; cursor: pointer;}
.v-widget-bannerSlide .bannerController.right{ text-align: right;}
.v-widget-bannerSlide .bannerController.center{ text-align: center;}
.v-widget-bannerSlide .bannerController.left{ text-align: left;}
.v-widget-bannerSlide.collection .bannerSlide{ width: 674px;}
.v-widget-bannerSlide.headline .bannerController{ position: absolute; height: 15px; bottom: 100px;}
.v-widget-bannerSlide.headline .bannerController a{ width: 10px; height: 11px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -387px -174px; margin: 0 5px;}
.v-widget-bannerSlide.headline .bannerController a:hover, .v-widget-bannerSlide.headline a.selected{ background-position: -397px -174px;}

.v-widget-bannerSlide.collection .bannerController a{ width: 10px; height:11px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -387px -174px; margin: 0 5px; margin-top: 10px;}
.v-widget-bannerSlide .bannerController a:hover, .v-widget-bannerSlide.collection a.selected{ background-position: -397px -174px;}
.v-widget-bannerSlide.collection .bannerDesc{ background: #333; width: 320px; height: 150px; padding: 15px; position: absolute; margin-top: 175px; margin-left: 324px;}
.v-widget-bannerSlide.collection .bannerDesc .title, .v-widget-bannerSlide.collection .bannerDesc .title a{ font-size: 30px; line-height: 40px; color: #fff; font-family: bauerbodonistd-roman;}
.v-widget-bannerSlide.collection .bannerDesc .subtitle, .v-widget-bannerSlide.collection .bannerDesc .subtitle a{ font-size: 18px; line-height: 40px; color: #fff;}
.v-widget-bannerSlide.collection .bannerDesc .desc, .v-widget-bannerSlide.collection .bannerDesc .desc a{ font-size: 12px; line-height: 18px; color: #fff;}

/* v-widget-brand */
.v-widget-brand{ padding: 0 64px;}
.v-widget-brand .brandPhotos{ height: 630px;}
.v-widget-brand .brandPhotos .bigsize{ width: 425px; height: 630px; float: left; margin: 7px 7px;}
.v-widget-brand .brandPhotos .photocell{ width: 456px; height: 630px; float: left;}
.v-widget-brand .brandPhotos .photocell .cell{ width: 138px; height:200px; float:left; margin: 7px 7px;}

/* v-widget-landscapeSlider */
.v-widget-landscapeSlider{}
.v-widget-landscapeSlider .btnPrevious, .v-widget-landscapeSlider .btnNext{ width: 38px; height: 100px; float: left; margin-top: 45px; cursor: pointer;}
.v-widget-landscapeSlider .btnPrevious{ background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -407px -174px;}
.v-widget-landscapeSlider .btnPrevious:hover{ background-position: -445px -174px;}
.v-widget-landscapeSlider .btnNext{ float: right; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -407px -274px;}
.v-widget-landscapeSlider .btnNext:hover{ background-position: -445px -274px;}
.v-widget-landscapeSlider .picWrapper{ float: left; width: 800px;  margin-left: 12px; overflow: hidden;}
.v-widget-landscapeSlider .picStream{ position: relative; width: 9999px;}
.v-widget-landscapeSlider .picStream .pic{ float: left; width: 125px; height: 185px; margin: 0 4px; overflow: hidden;}
.v-widget-landscapeSlider .picStream .pic .caption, .v-widget-landscapeSlider .picStream .pic .caption a{ height: 35px; line-height: 20px; text-align: center; color: #4c4c4c;}

/* v-widget-popotMember */
.v-widget-popupMember{ width: 361px; position: fixed; right: 10px; z-index: 13000;}
.v-widget-popupMember .popupPanel{ position: relative; z-index: 5; width: 361px; height: 188px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -488px -220px;}
.v-widget-popupMember .noLogin-msg{ font-size: 14px; text-align: center; position: relative; top: 70px; color: #000;}
.v-widget-popupMember .naviLink{ text-align: center; font-size: 14px; position: relative; top: 80px;}
.v-widget-popupMember .naviLink a{ font-size: 14px; margin: 0 5px; font-family: 微軟正黑體; cursor: pointer;}
.v-widget-popupMember .naviLink a:hover{ color: #a8a8a8;}
.v-widget-popupMember .memberProfile{ overflow: hidden;}
.v-widget-popupMember .memberProfile .memberPhoto{  position: absolute; left: 18px; top: 18px;}
.v-widget-popupMember .memberProfile .memberName, .v-widget-popupMember .memberProfile .pointLabel, .v-widget-popupMember .memberProfile .memberPoints{ margin-left: 135px;} 
.v-widget-popupMember .memberProfile .memberName{ margin-top: 20px;}
.v-widget-popupMember .memberProfile .memberName a{ font-size: 22px; line-height: 50px; font-weight: bold;}
.v-widget-popupMember .memberProfile .pointLabel{ font-size: 14px; font-weight: bold; line-height: 22px;}
.v-widget-popupMember .memberProfile .memberPoints{ font-size: 20px; font-weight: bold;}
.v-widget-popupMember .memberProfile .memberPoints .zero{color: #CFCFCF; font-size: 20px;}
.v-widget-popupMember .memberProfile .myMainPage{ position: absolute; top: 38px; right: 20px;}
.v-widget-popupMember .memberProfile .myMainPage a{ text-decoration: underline; color: #333;}
.v-widget-popupMember .memberProfile .myMainPage a:hover{ color: #a8a8a8;}
.v-widget-popupMember .memberProfile .linkLogout{ position: absolute; top: 72px; right: 20px;}
.v-widget-popupMember .memberProfile .linkLogout a:hover{ color: #9e8554;}

.v-widget-popupMember .memberProfile .coupon{ position: absolute; top: 100px; right: 20px; }
.v-widget-popupMember .memberProfile .coupon a{ text-decoration: underline; color: #333;}
.v-widget-popupMember .memberProfile .coupon a:hover{ color: #a8a8a8;}


.v-widget-popupMember .v-divider{ margin-top: 12px; margin-left: 18px; width: 326px;}
.v-widget-popupMember .v-widget-userCounter{  margin-top: 13px; margin-left: 20px; }
.v-widget-popupMember .btnVogueMember{ width: 209px; height:42px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -585px -178px; cursor: pointer; right:0; position: absolute; top: 170px;}
.v-widget-popupMember .btnToTop{ width: 79px; height:30px; background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -798px -185px; cursor: pointer; right: 200px; position: absolute; top: 178px;}
.v-widget-popupMember.member .popupPanel .memberName{ margin-top: 50px;}
.v-widget-popupMember.member .popupPanel .v-divider{ margin-top: 23px;}
/* v-widget-window */
.v-widget-window{ background: #fff; overflow: hidden; padding: 40px 50px 15px 50px; position: absolute;}
.v-widget-window.register, .v-widget-window.login, .v-widget-window.welcome, .v-widget-window.forgetPwd, .v-widget-window.resetPwd, .v-widget-window.changePwd , .v-widget-window.coupon{ display: none;}
.v-widget-window.register, .v-widget-window.login, .v-widget-window.welcome, .v-widget-window.forgetPwd, .v-widget-window.resetPwd, .v-widget-window.changePwd ,.v-widget-window.coupon{ width: 590px; }
.v-widget-window .window-header{ text-align: center; padding-bottom: 15px; border-bottom: 1px solid #e5e5e5;}
.v-widget-window .window-header .window-name{ font-size: 70px; color: #333; font-family: 'bauerbodonistd-roman'; line-height: 60px;}
.v-widget-window .window-header .window-name.small{ font-size: 59px;}
.v-widget-window .window-header .desc, .v-widget-window .window-header .desc a{ color: #767676;}
.v-widget-window .window-header .desc a{ text-decoration: underline;}
.v-widget-window .window-header .desc b{ color: #333;}
.v-widget-window .window-body{}
.v-widget-window .window-body > div{ padding: 15px 0; border-bottom: 1px solid #e5e5e5;}
.v-openID-fb, .v-openID-google, .v-openID-fb a, .v-openID-google a{ width: 190px; height: 36px; display: block;}
.v-openID-fb{ background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -410px -554px;}
.v-openID-google{ background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -611px -554px;}
.v-openID-fb.login{ background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -410px -592px;}
.v-openID-google.login{ background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat -611px -592px;}
.v-widget-window .v-openID-fb, .v-widget-window .v-openID-google{ float: left; margin-right: 13px;}
.v-widget-window .window-body .normalInput td{ padding-top: 15px;}
.v-widget-window .window-body .normalInput tr:first-child td{ padding-top: 0;}
.window-promo{ overflow: hidden; padding: 15px 0;}
.window-promo .promoPhoto{ width: 160px; height: 160px; background: url(http://resources.vogue.com.tw/images/skin_picBorder.png) no-repeat 0 0; float: left;}
.window-promo .promoPhoto img{ margin: 12px;}
.window-promo .promoTitle{ margin-left: 185px; margin-top: 25px;}
.window-promo .promoTitle .mainTitle{ font-size: 36px; font-family: 'bauerbodonistd-roman'; line-height: 60px; color: #333;}
.window-promo .promoTitle .subTitle{ font-size: 18px; margin-left: 5px;}
.window-promo .promoDesc{ margin-left: 185px;}
.btnClose{
	position: absolute;
	right: 10px;
	top: 10px;
	padding-right: 25px;
	height: 22px;
	font-size: 20px;
	line-height: 22px;
	color: #c8161d;	
	font-family: 'bauerbodonistd-roman';
	background: url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat right -757px; cursor: pointer;	
}
.v-widget-window .btnClose:hover{ color: #e11921;}
.v-widget-window .timeBlock-articleTitle-pop{ font-size: 27px; color: #000; text-align: center; line-height: 35px;}

/* v-widget-smallViewer */
.v-widget-smallViewer{ width: 430px; height: 600px; position: relative; margin-right: 15px; margin-bottom: 10px;}
.v-widget-smallViewer > div{ position: absolute;}
.v-widget-smallViewer .photo{overflow:hidden; width: 400px; height: 600px; margin: 0 15px; background-color: #333;}
.v-widget-smallViewer .photo .inner{ cursor: pointer;}
.v-widget-smallViewer.multiple .photo .item{ width: 130px; height: 130px; float: left; margin: 13px 1px 13px 2px;}
.v-widget-smallViewer .previous, .v-widget-smallViewer .next{ width: 50px; height: 75px; background: #333; cursor: pointer;}
.v-widget-smallViewer .previous{ left: 0; top: 263px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat 0 -344px;}
.v-widget-smallViewer .next{ right: 0; top: 263px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -52px -344px;}
.v-widget-smallViewer .previous:hover{ background-position: 0 -419px;}
.v-widget-smallViewer .next:hover{ background-position: -52px -419px;}
.v-widget-smallViewer .bottomFunction{ background: url('http://resources.vogue.com.tw/images/opacity_black70.png') repeat; margin: 0 15px; bottom: 0;}
.v-widget-smallViewer .bottomFunction{ width: 400px; height: 46px;}
.v-widget-smallViewer .bottomFunction > div{ float: left; margin-top: 15px;}
.v-widget-smallViewer .bottomFunction .pieceNumber{ border-right: 1px solid #fff; color: #fff; font-size: 18px; line-height: 20px; padding: 0 10px; font-family: 'bauerbodonistd-roman'}
.v-widget-smallViewer .bottomFunction .descPiece{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -1004px 0; margin-left: 10px;}
.v-widget-smallViewer .bottomFunction .toMulti{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -984px 0; margin-left: 10px; cursor: pointer;}
.v-widget-smallViewer .DescriptionContainer{
    bottom: 25px;
    background: url('http://resources.vogue.com.tw/images/opacity_black70.png') repeat;
    bottom: 46px;
    width: 570px;
    border-bottom: 1px solid rgb(160, 160, 160);
    
}
.v-widget-smallViewer .DescriptionContainer .pieceDescription{
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    font-family: "微軟正黑體";
}
.v-widget-smallViewer .DescriptionContainer > div{
    float: left;
    margin-top: 15px;
}


/* v-widget-smallViewer size900 */
.v-widget-smallViewer-size900{ width: 900px; height: 600px; position: relative;  margin-bottom: 10px;}
.v-widget-smallViewer-size900 > div{ position: absolute;}
.v-widget-smallViewer-size900 .photo{overflow:hidden; width: 900px; height: 600px; background-color: #333;}
.v-widget-smallViewer-size900 .photo .inner{ cursor: pointer;}
.v-widget-smallViewer-size900.multiple .photo .item{ width: 130px; height: 130px; float: left; margin: 13px 1px 13px 2px;}
.v-widget-smallViewer-size900 .previous, .v-widget-smallViewer-size900 .next{ width: 38px; height: 75px; background: #333; cursor: pointer;}
.v-widget-smallViewer-size900 .previous{ left: 0; top: 263px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -14px -344px;}
.v-widget-smallViewer-size900 .next{ right: 0; top: 263px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -52px -344px;}
.v-widget-smallViewer-size900 .previous:hover{ background-position: -14px -419px;}
.v-widget-smallViewer-size900 .next:hover{ background-position: -52px -419px;}
.v-widget-smallViewer-size900 .bottomFunction{ background: url('../images/opacity_black70.png') repeat; bottom: 0;}
.v-widget-smallViewer-size900 .bottomFunction{ width: 900px; height: 46px;}
.v-widget-smallViewer-size900 .bottomFunction > div{ float: left; margin-top: 15px;}
.v-widget-smallViewer-size900 .bottomFunction .pieceNumber{ border-right: 1px solid #fff; color: #fff; font-size: 18px; line-height: 20px; padding: 0 10px; font-family: 'bauerbodonistd-roman'}
.v-widget-smallViewer-size900 .bottomFunction .descPiece{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -1004px 0; margin-left: 10px;}
.v-widget-smallViewer-size900 .bottomFunction .toMulti{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -984px 0; margin-left: 10px; cursor: pointer;}
.v-widget-smallViewer-size900 .DescriptionContainer{
    bottom: 25px;
    background: url('http://resources.vogue.com.tw/images/opacity_black70.png') repeat;
    bottom: 46px;
    width: 900px;
    border-bottom: 1px solid rgb(160, 160, 160);
    
}
.v-widget-smallViewer-size900 .DescriptionContainer .pieceDescription{
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    font-family: "微軟正黑體";
}
.v-widget-smallViewer-size900 .DescriptionContainer > div{
    float: left;
    margin-top: 15px;
}

/* v-widget-smallViewer size645 */
.v-widget-smallViewer-size645{ width: 645px; height: 430px; position: relative;  margin-bottom: 10px;}
.v-widget-smallViewer-size645 > div{ position: absolute;}
.v-widget-smallViewer-size645 .photo{overflow:hidden; width: 645px; height: 430px; background-color: #333;}
.v-widget-smallViewer-size645 .photo .inner{ cursor: pointer;}
.v-widget-smallViewer-size645.multiple .photo .item{ width: 100px; height: 100px; float: left; margin: 13px 1px 13px 2px;}
.v-widget-smallViewer-size645 .previous, .v-widget-smallViewer-size645 .next{ width: 38px; height: 75px; background: #333; cursor: pointer;}
.v-widget-smallViewer-size645 .previous{ left: 0; top: 170px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -14px -344px;}
.v-widget-smallViewer-size645 .next{ right: 0; top: 170px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -52px -344px;}
.v-widget-smallViewer-size645 .previous:hover{ background-position: -14px -419px;}
.v-widget-smallViewer-size645 .next:hover{ background-position: -52px -419px;}
.v-widget-smallViewer-size645 .bottomFunction{ background: url('../images/opacity_black70.png') repeat; bottom: 0;}
.v-widget-smallViewer-size645 .bottomFunction{ width: 645px; height: 46px;}
.v-widget-smallViewer-size645 .bottomFunction > div{ float: left; margin-top: 15px;}
.v-widget-smallViewer-size645 .bottomFunction .pieceNumber{ border-right: 1px solid #fff; color: #fff; font-size: 18px; line-height: 20px; padding: 0 10px; font-family: 'bauerbodonistd-roman'}
.v-widget-smallViewer-size645 .bottomFunction .descPiece{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -1004px 0; margin-left: 10px;}
.v-widget-smallViewer-size645 .bottomFunction .toMulti{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -984px 0; margin-left: 10px; cursor: pointer;}
.v-widget-smallViewer-size645 .DescriptionContainer{
    bottom: 25px;
    background: url('http://resources.vogue.com.tw/images/opacity_black70.png') repeat;
    bottom: 46px;
    width: 645px;
    border-bottom: 1px solid rgb(160, 160, 160);
    
}
.v-widget-smallViewer-size645 .DescriptionContainer .pieceDescription{
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    font-family: "微軟正黑體";
}
.v-widget-smallViewer-size645 .DescriptionContainer > div{
    float: left;
    margin-top: 15px;
}
.v-widget-smallViewer-size645 .ads{ 
width: 300px; 
height: 250px; 
float: right;
position: absolute;
left: 660px;
}
.v-widget-smallViewer-size645 .top3{
	width: 260px;
	height: 130px;
	border: 1px solid #cfcfcf;
	float: right;
	position: absolute;
	top: 260px;
	left: 660px;
	padding: 20px;
	background-color: #fff;
	}
.v-widget-smallViewer-size645 .top3 .title{
	font-family: "微軟正黑體", Verdana, Arial;
	font-size: 20px;
	line-height: 18px;
	color: #333;
	padding-top: 8px;
	padding-bottom: 8px;
	}
.v-widget-smallViewer-size645 .top3 .text{
	font-family: "微軟正黑體", Verdana, Arial;
	font-size: 14px;
	line-height: 18px;
	color: ##3f3f3f;
	padding-top: 5px;
	padding-bottom: 5px;
	}	
.v-widget-smallViewer-size645 .top3 .text a{	
	text-decoration:none;
	}
.v-widget-smallViewer-size645 .top3 .text a:hover{
	text-decoration:underline;
	}
.v-widget-smallViewer-size645 .top3 #top3number{
	font-family: "微軟正黑體", Verdana, Arial;
	font-size: 16px;
	line-height: 20px;
	color: #F00;
	font-weight: bold;
padding-right: 10px;
padding-left: 5px;
	}

/* v-widget-smallViewer size600 */
.v-widget-smallViewer-size600{ width: 600px; height: 400px; position: relative;  margin-bottom: 10px;}
.v-widget-smallViewer-size600 > div{ position: absolute;}
.v-widget-smallViewer-size600 .photo{overflow:hidden; width: 600px; height: 400px; background-color: #333;}
.v-widget-smallViewer-size600 .photo .inner{ cursor: pointer;}
.v-widget-smallViewer-size600.multiple .photo .item{ width: 130px; height: 130px; float: left; margin: 13px 1px 13px 2px;}
.v-widget-smallViewer-size600 .previous, .v-widget-smallViewer-size600 .next{ width: 38px; height: 75px; background: #333; cursor: pointer;}
.v-widget-smallViewer-size600 .previous{ left: 0; top: 150px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -14px -344px;}
.v-widget-smallViewer-size600 .next{ right: 0; top: 150px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -52px -344px;}
.v-widget-smallViewer-size600 .previous:hover{ background-position: -14px -419px;}
.v-widget-smallViewer-size600 .next:hover{ background-position: -52px -419px;}
.v-widget-smallViewer-size600 .bottomFunction{ background: url('../images/opacity_black70.png') repeat; bottom: 0;}
.v-widget-smallViewer-size600 .bottomFunction{ width: 600px; height: 46px;}
.v-widget-smallViewer-size600 .bottomFunction > div{ float: left; margin-top: 15px;}
.v-widget-smallViewer-size600 .bottomFunction .pieceNumber{ border-right: 1px solid #fff; color: #fff; font-size: 18px; line-height: 20px; padding: 0 10px; font-family: 'bauerbodonistd-roman'}
.v-widget-smallViewer-size600 .bottomFunction .descPiece{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -1004px 0; margin-left: 10px;}
.v-widget-smallViewer-size600 .bottomFunction .toMulti{ width: 20px; height: 20px; background: url('http://resources.vogue.com.tw/images/skin_website2.png') no-repeat -984px 0; margin-left: 10px; cursor: pointer;}
.v-widget-smallViewer-size600 .DescriptionContainer{
    bottom: 25px;
    background: url('http://resources.vogue.com.tw/images/opacity_black70.png') repeat;
    bottom: 46px;
    width: 600px;
    border-bottom: 1px solid rgb(160, 160, 160);
    
}
.v-widget-smallViewer-size600 .DescriptionContainer .pieceDescription{
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    font-family: "微軟正黑體";
}
.v-widget-smallViewer-size600 .DescriptionContainer > div{
    float: left;
    margin-top: 15px;
}


/* v-widget-forms */
.v-widget-forms{ padding: 0 28px;}
.v-widget-forms .article-title{ font-size: 60px; line-height: 60px; margin: 20px 0 10px 0;}
.v-widget-forms .article-subtitle{ font-size: 18px; font-family: 微軟正黑體; color: #333; margin-bottom: 30px;}
.v-widget-forms .article-subtitle-desc{ text-align: center;}
.v-widget-forms .v-form{ padding: 0 40px;}
.v-widget-forms .v-form td{ padding: 8px 0;}
.v-widget-forms .v-form .v-form-btnAction{ margin-top: 30px;}

/* v-widget-orderColumn */
.v-widget-orderColumn.v-ssDiv{ position: relative;}
.v-widget-orderColumn .pager{ position: absolute; right: 0; bottom: 10px;}
.v-widget-orderColumn .pager > div { float: left; height: 20px; margin-left: 20px;}
.v-widget-orderColumn .pager .btnPre{ padding-left: 20px; background: url(http://resources.vogue.com.tw/images/horoscopePager.png) no-repeat left 0;}
.v-widget-orderColumn .pager .btnNext{ padding-right: 20px; background: url(http://resources.vogue.com.tw/images/horoscopePager.png) no-repeat right -40px;}
.v-widget-orderColumn .pager .btnPre:hover{ background-position: left -20px;}
.v-widget-orderColumn .pager .btnNext:hover{ background-position: right -60px;}
.v-widget-orderColumn .pager a{ color: #6f6f6f; line-height: 20px;}
.v-widget-orderColumn .pager > div:hover a{ color: #333;}

/* v-widget-rankingClouod */
.v-widget-rankingClouod .rankWrods{ 
	font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif; 
	color: #848484; 
	font-size: 12px;
}
.v-widget-rankingClouod .rankWrods.rank1{ font-size: 21px; color: #900000;}
.v-widget-rankingClouod .rankWrods.rank2{ font-size: 19px; color: #5a0000;}
.v-widget-rankingClouod .rankWrods.rank3{ font-size: 17px; color: #290000;}
.v-widget-rankingClouod .rankWrods.rank4{ font-size: 15px; color: #333333;}
.v-widget-rankingClouod .rankWrods.rank5{ font-size: 13px; color: #848484;}

/* v-widget-accroding */
.v-widget-accroding{}
.v-widget-accroding .accrodedTab{ overflow: hidden;}
.v-widget-accroding .tabBar { height: 38px; background: #000; cursor: pointer; text-align: center;}
.v-widget-accroding .tabBar .caption{ display: inline-block; height: 38px; line-height: 38px; font-size: 15px; font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Geneva, sans-serif; color: #ccc; vertical-align: top;}
.v-widget-accroding .tabBar:hover .caption{ color: #fff;}
.v-widget-accroding .tabBar.closed .pic{ display: inline-block; width: 38px; height: 38px; background: url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat -598px -43px;}
.v-widget-accroding .tabBar.closed:hover .pic{ display: inline-block; width: 38px; height: 38px; background: url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat -636px -43px;}
.v-widget-accroding .tabBar.opened .pic{ display: inline-block; width: 38px; height: 38px; background: url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat -598px -81px;}
.v-widget-accroding .tabBar.opened .pic{ display: inline-block; width: 38px; height: 38px; background: url(http://resources.vogue.com.tw/images/skin_website2.png) no-repeat -636px -81px;}
/*================================================*/
/* 5. Icons */
/*================================================*/
.fb16{ background:url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat 0 -976px;}
.google16{ background:url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat 0 -992px;}
.youtube16{ background:url(http://resources.vogue.com.tw/images/skin_website.png) no-repeat 0 -1008px;}

/*================================================*/
/* 6. Special blocks */
/*================================================*/
.template{ display:none;}
.ajaxLoading{ position: relative;width:100%; height:200px; background:url(http://resources.vogue.com.tw/images/ajaxloading.gif) no-repeat center center;}
.nowLoading{ background:url(http://resources.vogue.com.tw/images/ajaxloading.gif) no-repeat center center; }
.nowLoading *{ display:none; }


/*LIVE*/

.v-loginbar .TopsubList{
    position: absolute;
    overflow: hidden;
    width: 130px;
    display: none;
}
.v-specialMenu .TopsubList{
    border: 1px solid #3F3F3F;
    border-top: 5px;
    margin-left: 55px;
    top: 40px;
    z-index: 8;
    background-color: #2c2c2c;
    width: 128px;
}
.v-specialMenu  .TopsubList  ul{
   
    list-style: none;
}
.v-specialMenu .TopsubList ul li{
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top: 0px;
    margin-left: -40px;
    position: relative;

}

.v-specialMenu .TopsubList #TopText{
    font-size: 14px;
    color: #fff;
    border-bottom: : 1px solid #525252;
    width: 100%;
    padding-left: 0;
    text-align: center;
    font-family: "微軟正黑體";
    border-bottom: 1px solid #5A5A5A;
    text-decoration: none;
}
.v-specialMenu .TopsubList #TopText:hover{
    color: #333;
    background-color: #FFF;
}
.itemName:hover a#live{
    background: url(http://resources.vogue.com.tw/images/menubar/itemGrey.png) no-repeat left;
    background-position: 23px 0;
    text-decoration: none;
}

/*viewer functionBAR*/

.bottomFunctionShow{
	background: url(http://resources.vogue.com.tw/images/opacity_black70.png) repeat;  
    margin: 0px 4px;  
    bottom: -4px;
    position: absolute;
    width: 425px;  height: 46px;
    /* margin-left: 15px; */
    z-index: 1;
}
.descCamera{
	width: 20px;  height: 20px;  
    background: url(http://resources.vogue.com.tw/images/skin_website2.png) -1004px 0px no-repeat;  
    margin-left: 50px; 
    margin-top: 15px;
    float: left;
}
.seeMorebtn{
	font-size: 15px;
    color: #fff;
    margin-top: 15px;
    padding-left: 11px;
    float: left;
}



/* topic css */

#ad-pushNone{height: 50px;
overflow: hidden;}