	#ad-top{
		width: 100%;
		height: 50px;
	}
	#ad-top .myFlash_S{
		cursor: pointer;
		width: 1024px;
		height: 250px;
		
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
	}
	#ad-top .myFlash_B{
		cursor: pointer;
		display: none;
		width: 1024px;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
	}
	#ad-FullSize{
		position: absolute;
		top: 0;
		z-index: 10000;
		width: 1024px;
		margin: 0 auto;

	}
	#ad-FullSize-Container{
		display: none;

	}
	#ad-FullSize .close_btn{
		display: block;
		text-align: right;
		cursor: pointer;
		font-size: 12px;
		width: 1024px;
		background-color: #000;
		color: #fff;
	}
	
	#ad-floatRight{
		
		width: 300px;
		height: 800px;
		position:absolute;
		bottom: -8px;
		left: 1024px;
		top:0px;
	}
	#ad-floatLeft{
		width: 300px;
		height: 800px;
		position:absolute;
		bottom: -8px;
		left: -300px;
		top:0px;
	}
	.subChannel{

	}
#OutSideBanner {
position: fixed;
top: 0;
}

#bannerIpad{
	display: none;
	position: absolute;
	z-index: 99999;
	top: 150px;
	left: 150px;
}
#bannerIpad .close-pop{
	cursor: pointer;
	position: absolute;
	z-index: 777;
	right: 0;
}
