/* /hero-full.css */
.row-fluid .content-block {
    min-height: 540px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.table-row.hero > #hero {
    text-align: center;
    vertical-align: middle;
}
.novideo-bg {
    display: none;
    background-position: center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    height: 400%\9;
    z-index: -1;
}
.no-backgroundsize .novideo-bg {
    top: -280px\9;
}
.novideo-bg.show {
    display: block;
}
.hero .novideo-bg {
    background-image: url("https://www.paypalobjects.com/webstatic/mktg/wright/home/city_bg_mobile.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}
.dark .hero-video-still .novideo-bg {
    background-color: #333;
}
#hero.video-loaded > .novideo-bg {
    display: none;
}
.hero h1 {
    margin-bottom: 20px;
    line-height: 1.3em;
}
.hero .row-fluid {
    background: transparent;
}
.hero .btn {
    width: 321px;
}
.hero .legal-notes {
    color: #fff;
    line-height: 1.5em;
}
.hero .signup-subline {
    margin-top: 26px;
    font-size: 15px;
    font-size: 1.07142857142857rem;
}
#fixed-top > .table-row.hero > div {
    text-align: center;
    vertical-align: middle;
}
html[data-device-type="dedicated"] .hero-fixed {
  min-height: 500px;
}
html[data-device-type="dedicated"] .hero-subheadline,
html[data-device-type="portable"] .hero-subheadline {
    margin-bottom: 26px;
    font-size: 18px;
}
html[data-device-type="dedicated"] .hero-hatch,
html[data-device-type="portable"] .hero-hatch {
    margin-top: 26px;
}
/* content on the left half */
html[data-device-type="dedicated"] .hero .span7,
html[data-device-type="portable"] .hero .span7 {
    padding: 0;
    text-align: left;
}
/* Portable */
html[data-device-type="portable"] .hero .btn {
    width: 32%;
}
/* Mobile version */
html[data-device-type="mobile"] .hero .row-fluid .span7 {
    width: 100%;
}
html[data-device-type="mobile"] .hero .span12,
html[data-device-type="mobile"] .hero .span7 {
    padding: 3.75%;
}
html[data-device-type="mobile"] .hero .btn {
    width: 89%;
    display: block;
    margin: 0 auto;
    -webkit-touch-callout: none;
}
html[data-device-type="mobile"] .hero h1 {
    font-size: 40px;
    font-size: 2.857rem;
    line-height: 1.25em;
    padding: 4% 8% 0;
    text-shadow: none;
    margin-top: 0;
}
html[data-device-type="mobile"] .hero.mobile-img-top .span12 {
    padding-top: 225px;
}
html[data-device-type="mobile"] .hero.mobile-img-top .hero-video-still .novideo-bg {
    background-size: auto 225px;
    background-repeat: no-repeat;
    background-position: right top;
}
html[data-device-type="mobile"] .hero .signup-subline {
    margin-top: 0;
}

.table-row.hero > #hero {
    text-align: center;
    vertical-align: middle;
}
html[data-device-type="mobile"] #fixed-top > .hugger-row,
html[data-device-type="mobile"] .hero-hugger,
html[data-device-type="mobile"] .hero-hugger-spacer {
    display: none;
}
.hero-hugger {
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    z-index: 3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
}
.hero-hugger .containerCentered {
    padding-top: 16px;
    line-height: 0.5em;
}
.hero-hugger .button-menu {
    padding: 0;
    margin: 0;
    width: 180px;
    white-space: nowrap;
    text-align: left;
}
.hero-hugger .button-menu li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}
.hero-hugger .button-menu .navlink {
    display: inline-block;
    font-size: 13px;
    color: #777;
    padding-left: 8px;
    border-left: 1px solid #ddd;
    position: relative;
    top: -2px;
}
.hero-hugger .country-selector {
    margin-top: 0;
}
.hero-hugger .country-selector a {
    color: #777;
}
html[data-device-type="mobile"] #hero .fancy-down-arrow-grey {
    display: block;
}
#hugger-arrow {
    top: -10px;
}
.button-menu .icon {
    background-color: transparent;
    background-image: url("https://www.paypalobjects.com/webstatic/mktg/wright/icons/quickbar-icons2x.png");
    background-image: url("https://www.paypalobjects.com/webstatic/mktg/wright/icons/quickbar-icons.png")\9;
    background-repeat: no-repeat;
    background-position: -25px 5px;
    background-size: 72px 32px;
    margin: 0 4px 0 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #8c8c8c;
    border-radius: 14px;
    overflow: hidden;
    text-indent: -999em;
    min-width: 0;
    padding: 0;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.button-menu .icon:hover,
.button-menu .icon:focus {
    border-color: #0079c1;
}
.button-menu .icon:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #0079c1;
}
.button-menu .icon.help {
    width: 23px;
}
.button-menu .icon.help:hover,
.button-menu .icon.help:focus {
    background-position: -25px -15px;
}
.button-menu .icon.contact {
    background-position: -55px 5px;
}
.button-menu .icon.contact:hover,
.button-menu .icon.contact:focus {
    background-position: -55px -15px;
}
.button-menu .icon.search {
    background-position: 5px 5px;
}
.button-menu .icon.search:hover,
.button-menu .icon.search:focus {
    background-position: 5px -15px;
}
#n1 {
    box-shadow: 0 -1px rgba(0, 0, 0, .1);
}

#uncookiedHero .novideo-bg{background-image:url("https://www.paypalobjects.com/webstatic/de_DE/mktg/wright/home/hero_appgrade.jpg");opacity:.8}#cookiedHero .novideo-bg{background-image:url("https://www.paypalobjects.com/webstatic/de_AT/mktg/wright/home/hero_directdebit.jpg");opacity:.8}#n1{box-shadow:0 -1px rgba(0,0,0,0.1)}.n1{background-image:url("https://www.paypalobjects.com/webstatic/de_AT/mktg/wright/home/home_n1_1x.jpg")}.n2,.n2.parallax .parallax-bg{background-image:url("https://www.paypalobjects.com/webstatic/de_AT/mktg/wright/home/home_n2_1x.jpg")}.n3{background-image:url("https://www.paypalobjects.com/webstatic/de_AT/mktg/wright/home/home_n3_1x.jpg")}.n4,.n4.parallax .parallax-bg{background-image:url("https://www.paypalobjects.com/webstatic/mktg/wright/home/home_n4_1x.jpg")}.n5,.n5.parallax .parallax-bg{background-image:url("https://www.paypalobjects.com/webstatic/de_AT/mktg/home/background.jpg")}

