﻿.sticky-placeholder, .js-sticky-header {
	margin-bottom: 45px;
}

#fashionMenu {
	margin: -5px 0 0 0 ;
}

.campaign_menu {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	box-shadow: 0 0px 4px rgba(0, 0, 0, .7);
	height: 40px;
	background: #f5f5f5 !important;
	font-weight: bold;
}

.campaign_menu ul a,
.campaign_menu ul ul,
.campaign_menu ul li,
.campaign_menu ul div,
.campaign_menu ul form,
.campaign_menu ul input {
	margin: 0;
	border: none;
	outline: none;
	direction: rtl;
}

.campaign_menu ul a {
	text-decoration: none;
}

.campaign_menu ul li {
	list-style: none;
}

/* Menu Container */
.campaign_menu #top, .campaign_menu ul {
	display: block;
	position: relative;
	cursor: default;
	z-index: 200;
	margin: auto;
	padding: 0 !important;
}

.campaign_menu #top {
	padding: 0;
	margin-right: 100px;
	width: 1170px;
	margin: auto;
}

/* Menu Links */
.campaign_menu ul > li > a {
	position: relative;
	display: block;
	z-index: 510;
	height: 40px;
	width: 125px;
	text-align: center;
	line-height: 36px;
	font-size: 15px;
	color: #fcfcfc !important;
	text-shadow: 0 0 1px rgba(0, 0, 0, .2);
	float: left;
}

.campaign_menu ul > li:hover {
	color: #000;
}

.campaign_menu ul > li > a:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 15px solid #ff9900;
	position: absolute;
	top: 35px;
	margin-right: calc(50% - 15px);
	display: none;
}

/* .campaign_menu ul > li:hover > a:after {
    display: block;
    } */

    .campaign_menu ul > li:first-child > a {
    	border-left: none;
    }

    /* Menu Dropdown */
    .campaign_menu ul > li > div {
    	position: absolute;
    	display: block;
    	width: 100%;
    	top: 36px;
    	left: 0;
    	opacity: 0;
    	visibility: hidden;
    	overflow: hidden;
    	background: #ffffff;
    	background-color: #eee;
    	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    	background-size: 100%;
    	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    	height: 350px;
    }

    .campaign_menu ul > li:hover > div {
    	opacity: 1;
    	visibility: visible;
    	overflow: visible;
    }

    .campaign_menu ul > li.logo {
    	float: right;
    }

    .campaign_menu ul > li.logo span {
    	width: 220px;
    	display: block;
    	z-index: 510;
    	text-align: center;
    	line-height: 37px;
    	font-size: 16px;
    	color: #1f5f9d;
    	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    	margin-right: 5px;
    }

    .link-discount {
    	margin-left: 45px !important;
    }

    .campaign_menu ul > li.link-discount a {
    	display: block;
    	float: left;
    	background: #59B131;
    	font-weight: normal;
    }

    .campaign_menu ul > li.link-discount a:hover {
    	background: #F49200;
    }

    .campaign_menu ul > li.link-discount > a:after {
    	display: none;
    }

    .campaign_menu ul {
    	width: 1170px;
    	height: 40px;
    	background-size: 100% !important;

    }

    .campaign_menu ul > li a {
    /*        color: #fff;
            height: 40px;
            width: 585px;
            cursor: pointer;*/
        }

        @media (max-width: 1199px) {

        	.campaign_menu ul {
        		width: 975px !important;
        	}

        	.campaign_menu ul > li a {
        		width: 487px;
        		height: 34px;
        		font-size: 13px;
        		line-height: 2.5;
        	}
        }

        /*mystery*/
        .title-discount {
        	margin: 90px 20px auto 10px;
        	font-size: 16px;
        	color: #fff;
        	float: right;
        }

        .btn-md {
        	height: 25px;
        	background: #FEAA16 none repeat scroll 0% 0%;
        	color: #000;
        	line-height: 24px;
        	text-align: center;
        	border: medium none;
        	float: right;
        	cursor: pointer;
        	width: 100px;
        }

        .btn-md:hover {
        	background: #FCC15A;
        }

        #mysterious-fashion-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/fa.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-appliance-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/happ.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-elec-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/ea.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-hk-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/hk.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-gmae-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/game.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-toy-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/toy.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-book-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/book.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-sta-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/sta.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-tool-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/tool.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-hnb-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/hnb.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;
        }

        #mysterious-mobile-banner {
        	background: url("http://img.bamilo.com/pro/94/mysterious/cat-teaser/mob.jpg");
        	height: 200px;
        	background-size: 100%;
        	background-repeat: no-repeat;
        	height: 200px;
        	margin-bottom: 10px;

        }

        .code-discount p {
        	color: rgb(255, 255, 255);
        	margin-top: 30px;
        }

        .cd-area {
        	resize: none;
        	float: right;
        	padding: 2px 0;
        	margin: 0 0px;
        	width: 110px;
        	word-wrap: break-word;
        	height: 25px;
        	text-align: center;
        	color: #000;
        	background: #E2E4E3;
        	font-size: 14px;
        	overflow: hidden;
        }

        #mysterious-mobile-banner .first-discount {
        	display: block;
        	margin: 0 10px 0 0;
        	padding: 20px 0 0 0;
        	width: 580px;
        	height: 90px;
        }

        #mysterious-mobile-banner .first-discount .code-discount {
        	margin-top: 20px;
        }

        #mysterious-mobile-banner .first-discount .title-discount {
        	margin-top: 30px;
        	font-size: 14px;
        }

        #mysterious-mobile-banner .second-discount {
        	display: block;
        	margin: 50px 10px 0 0;
        	width: 580px;
        	height: 60px;

        }

        #mysterious-mobile-banner .second-discount .code-discount {
        	margin-right: 65px;
        	margin-top: 0;

        }

        #mysterious-mobile-banner .second-discount .title-discount {
        	font-size: 14px;
        	max-width: 100% !important;
        	width: 300px;
        	margin: 8px 10px 0 0 !important;
        }

        #mysterious-fashion-banner {
        	display: inline-block;
        	width: 100%;
        	height: auto !important;
        }

        #mysterious-fashion-banner .first-discount {
        	display: inline-block;
        	height: 125px;
        }

        #mysterious-fashion-banner .banner-desc {
        	display: inline-block;
        	width: 100%;
        }

        #mysterious-fashion-banner .banner-desc .cl-effect-8 a {
        	float: none;
        	font-size: 14px;
        	padding: 10px 15px;
        	width: auto;
        	margin: 15px -100px 16px 0 !important;
        }

        #mysterious-fashion-banner .banner-desc #fadesc, #mysterious-fashion-banner .banner-desc #desc {
        	background-color: #08294C;
        }

        #mysterious-fashion-banner .banner-desc #fadesc {
        	display: none;
        	width: 100%;
        	color: #FFF;
        	background-color: #08294C;
        	padding: 15px 25px;
        	position: relative;
        	text-align: justify;
        	line-height: 24px;
        }

        @media (max-width: 1199px) {
        	.title-discount {
        		margin-top: 74px;
        	}

        	.code-discount {
        		margin-top: 63px;
        	}

        	.top-mysterious {
        		height: 168px !important;
        	}

        	#mysterious-mobile-banner .second-discount {

        		margin: 20px 5px 0 0 !important;
        	}

        	#mysterious-fashion-banner.top-mysterious {
        		height: auto !important;
        	}

        	#mysterious-fashion-banner .banner-desc {
        		height: auto !important;
        	}

        	#mysterious-fashion-banner .banner-desc .cl-effect-8 a {
        		margin: -21px -50px 8px 0 !important;
        	}

    /*   #mysterious-mobile-banner .first-discount .code-discount{
           margin-top: 10px;
       }
       #mysterious-mobile-banner .first-discount .title-discount{
           margin-top: 21px;
       }

       #mysterious-mobile-banner .second-discount .code-discount{
           margin-top: 104px;
       }
       #mysterious-mobile-banner .second-discount .title-discount{
           margin-top: 117px;
           }*/

       }

       /*mystery end*/

       /* Referral Menu */
       #left-block,
       #right-block {
       	float: right;
       	height: 40px;

       }

       #right-block {
       	background: #DEF4B3;
       	width: 59%;

       }

       #left-block {
       	width: 38%;
       }

       #right-block .top-text {
       	float: left;
       	margin: 0 10px 0 0;
       	display: inline-block;

       }

       #right-block .top-pic {
       	float: left;
       }

       #right-block .top-text a.link-discount {
       	float: left;
       	color: #420000 !important;
       	font-size: 12px;
       	line-height: 38px;
       	font-weight: bold;
       	width: auto;
       	margin: 2px 0 0 7px !important;

       }

       #right-block .top-text:hover {
       	color: #FA791D;
       }

/*    #right-block .link-discount:before {
        display: inline !important;
        content: ">";
        width: 15px !important;
        font-family: 'Bamilo-Icons';
        color: #420000 !important;
        font-size: 34px;
        float: left;
        line-height: 22px;
        font-style: normal;
        font-weight: 800;
        margin: 9px 5px 0 0;
    }
    */
    #left-block span {
    	display: inline-block;
    }

    #left-block .Free-d {
    	display: inline-block;
    	width: auto;
    	height: 40px;
    	line-height: 39px;
    	padding: 0 5px;
    	font-size: 15px;
    	background: #ffffff;
    	color: #6d6d6f !important;
    }

    #left-block .top-ico {
    	margin: 6px 0 0 10px;

    }

    #left-block span.top-text {
    	display: inline-block;
    	height: 40px;
    	line-height: 33px;
    	margin: 0px 0 0 7px !important;
    	text-align: left;
    	color: #6d6d6f !important;
    }

    #left-block span.top-text p {
    	display: inline-block;
    	width: auto;
    	padding: 2px 0px 3px;
    	line-height: 35px;
    	font-size: 14px;
    }

    .campaign_menu ul > li a {
    	width: auto !important;
    	margin: 0 !important;

    }

    @media (max-width: 1199px) {
    	.campaign_menu ul > li a {
    		width: auto !important;
    		margin: 0 !important;

    	}

    	#left-block {
    		width: 48%;
    	}

    	#right-block {
    		width: 48%;
    	}

    	#left-block, #right-block {

    		height: 34px;
    	}

    	#left-block .top-ico {
    		margin: 0;

    	}

    	#left-block span.top-text p {
    		padding: 0px 5px;
    		height: 34px;
    		line-height: 30px;
    	}

    	#left-block span.top-text {
    		line-height: 34px;
    		margin: 0;
    	}

    	#right-block .link-discount:before {
    		width: 10px !important;
    		font-size: 24px;
    		line-height: 22px;
    		margin: 9px 3px 0 0;
    	}

    	#right-block .top-text a.link-discount {
    		font-size: 11px;
    		margin: 0 !important;
    		letter-spacing: -0.5px;
    	}

    	#right-block .top-pic img {
    		width: 265px !important;
    	}

    	#left-block .Free-d {
    		height: 34px;
    		line-height: 33px;

    	}

    }
    #top_menu li#top-one p {
    	height: 40px;
    	background-size: 100%;
    	background-repeat: no-repeat;
    	margin: 0 5px 0 0px !important;
    	line-height: 40px;
    	color: #555;
    	font-size: 16px;
    	text-align: right;
    	font-weight: normal;
    	letter-spacing: 0;
    }
    #top_menu li,
    #top_menu li a,
    #top_menu p {
    	display: inline-block;
    	float: right;
    	margin: 0 !important;
    	padding: 0 !important;
    	background: transparent;
    	height: 40px;
    }

    #top_menu li {
    	float: left;
    }

    #top_menu p {
    	padding: 0 5px 0 10px !important;
    	text-align: center;
    }

    #top_menu a {
    	position: relative;
    	width: 100%;
    	font-size: 15px;
    	line-height: 38px;
    	font-weight: normal;
    	color: #6E6E6E !important;
    	text-shadow: 0 0 1px rgba(0, 0, 0, .2);
    }

/*    #top_menu p::after {
        position: absolute;
        content: ">";
        font-family: "Bamilo-Icons";
        font-size: 2.4rem;
        margin-right: 4px;
        top: 2px;
        }*/
/* #top-one .p_two {
    background: url("http://img.bamilo.com/pro/95/general/ramadan/csr/logo.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 24px;
    background-size: 100%;
}
*/
/*#top-one p.p_one {
	float: right;
	color: #FFF;
	font-size: 17px !important;
	width: 440px !important;
}
*/
#top_menu li#top-one {
	float: right;
	width: 100%;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;

}

#top_menu li#top-one p::after {
	display: none;
}

#top_menu li#top-two p {
	width: 335px;
	border-left: 2px solid whitesmoke;
	display: none;
}

#top_menu li#top-three {
	display: none;
	width: 327px;
	/*background: #115790;*/
}

#top_menu li#top-one p.p_one {
	float: right;
	background-image: url('http://img.bamilo.com/ui/megamenu/free-delivery.png') !important;
	width: 45px;
	height: 40px;
	background-size: 100% !important;
	background-repeat: no-repeat;
	margin: 0px 0 0 0 !important;
	padding: 0 !important;
}

#top_menu li#top-three p.p_two {
	float: right;
	color: #FFF;
	font-size: 18px !important;
	width: 290px;
	padding: 0 10px 0 0  !important;

}
#top_menu li#top-three p.p_two a {
	color: #FFF !important;
}
#top_menu li#top-three p.p_two a:hover {
	color: #FFB200 !important;
}

#top_menu li#top-three p.p_one {
	float: right;
	background: url("http://img.bamilo.com/bnp/hp/mg-menu/badge.png");
	width: 48px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0px 0 0 0 !important;
}

#top_menu #top-one a ,
#top_menu #top-two a {
	display: inline-block !important;
	width: auto !important;
	height: 40px !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #000065 !important;
}
#top_menu #top-one a:hover ,
#top_menu #top-two a:hover {
	color: #f90 !important
}
@media (max-width: 1199px) {
	#top_menu a {

		/*		font-size: 13px;*/
	}
	#top_menu li#top-three p {
		/*		width: 340px;*/
	}
}