﻿ul.hp_fixed_menu {
    width: 35px;
    background-color: #fff;
    position: fixed;
    top: 73px;
    padding: 0;
    margin: auto;
    margin-right: -63px;
    box-shadow: 0 0 5px #777;
    z-index: 10;
    display: none;
}

    ul.hp_fixed_menu li {
        float: right;
        list-style: none;
        display: block;
        width: 35px;
        height: 30px;
    }

        ul.hp_fixed_menu li a {
            display: block;
            color: #fff !important;
            width: 35px;
            height: 30px;
            padding: 5px;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            overflow: hidden;
        }

            ul.hp_fixed_menu li a:hover {
                width: 237px;
                box-shadow: 0 0 5px #222;
            }

            ul.hp_fixed_menu li a span {
                display: none;
                float: left;
                margin-left: 5px;
                font-size: 12px;
                line-height: 18px;
            }

            ul.hp_fixed_menu li a:hover span {
                display: block;
            }

            ul.hp_fixed_menu li a i {
                display: block;
                float: right;
                width: 25px;
                height: 20px;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                font-size: 22px;
                text-transform: none;
                font-family: "oshfont" !important;
                line-height: 20px !important;
                color: #000;
                text-align: center;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }

            ul.hp_fixed_menu li a:hover i, ul.hp_fixed_menu li a.selected i {
                color: #fff !important;
            }

            ul.hp_fixed_menu li a.fashion_for_men i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.fashion_for_men:hover, ul.hp_fixed_menu li a.fashion_for_men.selected {
                background-color: #4B4B4B;
            }

            ul.hp_fixed_menu li a.fashion_for_women i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.fashion_for_women:hover, ul.hp_fixed_menu li a.fashion_for_women.selected {
                background-color: #CA248E;
            }

            ul.hp_fixed_menu li a.smartphone_tablet_mobile i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.smartphone_tablet_mobile:hover, ul.hp_fixed_menu li a.smartphone_tablet_mobile.selected {
                background-color: #1E9CB6;
            }

            ul.hp_fixed_menu li a.electronic_accessories i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.electronic_accessories:hover, ul.hp_fixed_menu li a.electronic_accessories.selected {
                background-color: #0229B1;
            }

            ul.hp_fixed_menu li a.home_kitchen i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.home_kitchen:hover, ul.hp_fixed_menu li a.home_kitchen.selected {
                background-color: #8E9579;
            }

            ul.hp_fixed_menu li a.health_beauty_personal_care i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.health_beauty_personal_care:hover, ul.hp_fixed_menu li a.health_beauty_personal_care.selected {
                background-color: #5D3380;
            }

            ul.hp_fixed_menu li a.computer_office_equipment_printer_scanner i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.computer_office_equipment_printer_scanner:hover, ul.hp_fixed_menu li a.computer_office_equipment_printer_scanner.selected {
                background-color: #0090C9;
            }

            ul.hp_fixed_menu li a.children i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.children:hover, ul.hp_fixed_menu li a.children.selected {
                background-color: #83D0C8;
            }

            ul.hp_fixed_menu li a.books_digitalconent_education i:before {
                content: "";
            }

            ul.hp_fixed_menu li a.books_digitalconent_education:hover, ul.hp_fixed_menu li a.books_digitalconent_education.selected {
                background-color: #9F4B4A;
            }

            ul.hp_fixed_menu li a.homeoffice:hover, ul.hp_fixed_menu li a.homeoffice.selected {
                background-color: #D06716;
            }
            ul.hp_fixed_menu li a.homeoffice i:before {
                content: "";
            }