@charset "utf-8";

/* NEW HOME PAGE */

/* main */

#breadcrumbs {
    display: none;
}
.index_new {
    padding: 40px 0;
    font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
}
.index_new.index_search {
    padding: 25px 0;
}
.index_new.index_banner {
    padding: 0;
}
.index_new p {
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 20px;
}
.index_new p.premium {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.index_new p.date {
    margin: 0;
    font-size: 12px;
}
.index_new.index_red {
    background: #e40000;
    color: #fff;
}
.index_new b,
.index_new strong {
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
}
.index_new a {
    color: #4b97ed;
}
.index_new.index_red a {
    color: #fff;
}
.index_new.index_gray {
    background: #f2f2f2;
}
.index_new.index_center {
    text-align: center;
}
.index_new .mb0 {
    margin-bottom: 0;
}
.index_new h1 {
    margin: 0 0 20px 0;
    font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}
.index_new h1 strong {
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
}
.index_new h2 {
    margin: 0 0 15px 0;
    padding: 0;
    font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    text-transform: none;
    border: none;
    color: #333;
}
.index_new h2 a {
    color: #333;
    text-decoration: none;
}
.index_new h3 {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}
.index_new h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 0 6px 0;
}
.index_new .button {
    display: block;
    padding: 0;
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #e40000;
    border: none;
    border-radius: 3px;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-transition: .15s ease-in;
    -moz-transition: .15 ease-in;
    -ms-transition: .15 ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}
.index_new .button.button_primary {
    line-height: 66px;
    height: 66px;
    width: 240px;
    border: none;
}
.index_new .button.button_secondary {
    color: #e40000;
    background: #fff;
    border: solid 2px #e40000;
}
.index_new .button.button_secondary:hover {
    color: #fff;
    background: #cd0000;
    border: solid 2px #cd0000;
}
/* domain search */

.index_new.index_search h1 {
    font-size: 28px;
    margin-bottom: 12px;
}
.index_new.index_search .grid_12 {
    background: url('/imgs/ea5cb4b519e6c386360b0e9df5cfb0d4.png') no-repeat 5px 15px;
}
.index_new #domains_search_wrapper {
    margin: 0 auto;
    padding: 3px;
    width: 720px;
    border: solid 1px #ccc;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.index_new #domains_search_input {
    font-size: 22px;
    width: 540px;
    padding: 13px 0 12px 15px;
    color: #333;
}
.index_new.index_search a {
    text-decoration: none;
}
.index_new.index_search a:hover {
    text-decoration: underline;
}
.index_new.index_search .button.button_primary {
    float: right;
    padding: 0;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #e40000;
    border: none;
}
.index_new.index_search .button.button_primary:hover {
    background: #cd0000;
}
.index_new.index_search p {
    margin: 6px 0 0 0;
    font-size: 12px;
}
.index_new.index_search p .index_search_promo {
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    color: #e20000;
}
.index_new.index_search p a {
    color: #333;
}
a.index_generator {
    position: absolute;
    top: 33px;
    right: 10px;
    width: 83px;
    height: 83px;
    text-indent: -3000px;
    overflow: hidden;
    background: url('/imgs/2871d7c075078d8669278113437cbe82.png') no-repeat 0 0;
}
.index_generator a.generator_border {
    display: block;
    text-align: center;
    padding: 2px 4px;
    margin-bottom: 3px;
    font-weight: bold;
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    color: #e40000;
    border: 2px solid #e40000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: .15s ease-in;
    -moz-transition: .15 ease-in;
    -ms-transition: .15 ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}
.index_generator a.generator_border:hover {
    background: #e40000;
    color: #fff;
    text-decoration: none;
}
.index_generator a.generator_noborder {
    color: #333;
}
.index_generator a.generator_noborder:hover {
    text-decoration: underline;
}

/* slider */

.index_new#slides {
    position: relative;
    padding: 0;
}
.index_new .slides_container {
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
}
.index_new .slides_container div.wrapper {
    width: 100%;
    height: 360px;
    display: block;
    margin: 0 auto;
}
.index_new .slides_container a.banner {
    display: block;
    width: 100%;
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
}
.slides_pagination {
    position: relative;
    z-index: 19;
    bottom: 25px;
    text-align: center;
    height: 0;
}
.slides_pagination li {
    display: inline-block;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    margin: 0 3px;
    opacity: 0.5;
    border: 1px solid #000;
    cursor: pointer;
}
.slides_pagination li.visible {
    background: #fff;
}
.slides_pagination li.current {
    background: #000;
}
.slides_pagination li a {
    display: block;
    width: 40px;
    height: 5px;
    overflow: hidden;
    text-indent: -3000px;
}
.prev {
    background: url('/imgs/b8033d70ae481eda8d69bc07ea48c031.png') no-repeat left top;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    z-index: 19;
    overflow: hidden;
    text-indent: -3000px;
}
.next {
    background: url('/imgs/b8033d70ae481eda8d69bc07ea48c031.png') no-repeat left bottom;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    z-index: 19;
    overflow: hidden;
    text-indent: -3000px;
}

/* services */

.index_new#box_services {
    position: relative;
    padding-bottom: 6px;
}
.box_services_pagination {
    z-index: 20;
    padding-top: 16px;
    text-align: center;
}
.box_services_pagination li {
    display: inline-block;
    margin: 0 auto;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    margin: 0 3px;
    opacity: 0.4;
    border: 1px solid #000;
    cursor: pointer;
}
.box_services_pagination li.visible {
    background: #fff;
}
.box_services_pagination li.current {
    background: #000;
}
.box_services_pagination li a {
    display: block;
    width: 40px;
    height: 5px;
    overflow: hidden;
    text-indent: -3000px;
}
.index_new .box_services_main {
    padding: 25px 230px 0 30px;
    height: 225px;
    background: #fff;
    cursor: pointer;
}
.index_new .box_services_main.box_services_www {
    background: #fff url('/imgs/70c9b9f3cfe62804c6c461d154ba9895.jpg') no-repeat right center;
}
.index_new .box_services_main.box_services_hosting {
    background: #fff url('/imgs/276686a4f195a52b3c689721da2d19dd.jpg') no-repeat right center;
}
.index_new .box_services_main.box_services_shop {
    background: #fff url('/imgs/425dd471cdf926fa0ebb858145810928.jpg') no-repeat right bottom;
}
.index_new .box_services_main.box_services_office {
    background: #fff url('/imgs/1d733001bd69e3bb2a9fb8d2d54a3ebd.jpg') no-repeat right bottom;
}
.index_new .box_services_main h5 {
    float: left;
    margin: 0 0 8px 0;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: #e40000;
}
.index_new .box_services_main h2 {
    clear: both;
    margin: 0 0 15px 0;
}
.index_new .box_services_main p {
    margin: 0 30px 5px 0;
    font-size: 15px;
    line-height: 21px;
}
.index_new .box_services_main p.details {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}
.index_new .box_services_icons {
    height: 118px;
}
.index_new .box_services_icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.index_new .box_services_icons li {
    float: left;
    width: 145px;
    margin: 9px 0;
    padding: 0 0 0 45px;
    font-size: 13px;
    line-height: 17px;
}
.index_new .box_services_icons.box_services_icons_www li.box_services_icons_www_1 {
    background: url('/imgs/ff76527de186dae6dfcd9447815b5040.png') no-repeat 0 0;
}
.index_new .box_services_icons.box_services_icons_www li.box_services_icons_www_2 {
    background: url('/imgs/ff76527de186dae6dfcd9447815b5040.png') no-repeat 0 -100px;
}
.index_new .box_services_icons.box_services_icons_www li.box_services_icons_www_3 {
    background: url('/imgs/ff76527de186dae6dfcd9447815b5040.png') no-repeat 0 -200px;
}
.index_new .box_services_icons.box_services_icons_www li.box_services_icons_www_4 {
    background: url('/imgs/ff76527de186dae6dfcd9447815b5040.png') no-repeat 0 -300px;
}
.index_new .box_services_icons.box_services_icons_hosting li.box_services_icons_hosting_1 {
    background: url('/imgs/6c2baf4ecb5d09b025cbaf3805340bec.png') no-repeat 0 0;
}
.index_new .box_services_icons.box_services_icons_hosting li.box_services_icons_hosting_2 {
    background: url('/imgs/6c2baf4ecb5d09b025cbaf3805340bec.png') no-repeat 0 -100px;
}
.index_new .box_services_icons.box_services_icons_hosting li.box_services_icons_hosting_3 {
    background: url('/imgs/6c2baf4ecb5d09b025cbaf3805340bec.png') no-repeat 0 -200px;
}
.index_new .box_services_icons.box_services_icons_hosting li.box_services_icons_hosting_4 {
    background: url('/imgs/6c2baf4ecb5d09b025cbaf3805340bec.png') no-repeat 0 -300px;
}
.index_new .box_services_icons.box_services_icons_shop li.box_services_icons_shop_1 {
    background: url('/imgs/9285204b0427e4366ba5e9887adc364a.png') no-repeat 0 0;
}
.index_new .box_services_icons.box_services_icons_shop li.box_services_icons_shop_2 {
    background: url('/imgs/9285204b0427e4366ba5e9887adc364a.png') no-repeat 0 -100px;
}
.index_new .box_services_icons.box_services_icons_shop li.box_services_icons_shop_3 {
    background: url('/imgs/9285204b0427e4366ba5e9887adc364a.png') no-repeat 0 -200px;
}
.index_new .box_services_icons.box_services_icons_shop li.box_services_icons_shop_4 {
    background: url('/imgs/9285204b0427e4366ba5e9887adc364a.png') no-repeat 0 -300px;
}
.index_new .box_services_icons.box_services_icons_office li.box_services_icons_office_1 {
    background: url('/imgs/5f60aec3475430da5293c1f3aa68ccde.png') no-repeat 0 0;
}
.index_new .box_services_icons.box_services_icons_office li.box_services_icons_office_2 {
    background: url('/imgs/5f60aec3475430da5293c1f3aa68ccde.png') no-repeat 0 -100px;
}
.index_new .box_services_icons.box_services_icons_office li.box_services_icons_office_3 {
    background: url('/imgs/5f60aec3475430da5293c1f3aa68ccde.png') no-repeat 0 -200px;
}
.index_new .box_services_icons.box_services_icons_office li.box_services_icons_office_4 {
    background: url('/imgs/5f60aec3475430da5293c1f3aa68ccde.png') no-repeat 0 -300px;
}
.index_new .box_services_icons li:nth-child(odd) {
    margin-right: 15px;
}
.index_new .box_services_buy {
    clear: both;
    height: 106px;
    padding: 20px 30px 0 30px;
    background: #fff;
    border: 3px solid #e40000;
}
.index_new .box_services_buy h3 {
    margin-bottom: 15px;
}
.index_new .box_services_buy p.prices {
    float: left;
    position: relative;
    margin: 6px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
}
.index_new .box_services_buy p.prices .price_old {
    position: relative;
    top: -4px;
    font-size: 14px;
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: line-through;
}
.index_new .box_services_buy p.prices .price_brutto {
    position: relative;
    top: -2px;
    font-size: 11px;
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
color: #999;
}
.index_new .box_services_buy p.prices .price_new {
    font-size: 35px;
}
.index_new .box_services_buy a.button.button_primary {
    float: right;
    padding: 0;
    width: 136px;
    height: 46px;
    line-height: 46px;
    background: #e40000;
    color: #fff;
    border: solid 2px #e40000;
}
.index_new .box_services_buy a.button.button_primary:hover {
    background: #cd0000;
    border-color: #cd0000;
}


/* no.1 */

.index_new .index_rewards {
    padding-top: 15px;
}
.index_new .index_rewards .reward {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-top: 96px;
    background: url('/imgs/54f9c3d4d3431c0510819f56d94f6a4a.png') no-repeat center 0;
}
.index_new .index_rewards .reward_box {
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    color: #666;
    text-transform: none;
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* support */

.index_new.index_support {
    padding: 35px 0;
}
.index_new.index_support h3 {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
    margin: 4px 0;
}
.index_new.index_support h3 span {
    font-size: 24px;
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.index_new.index_support .index_support_phone {
    padding: 4px 0 4px 75px;
    height: 52px;
    background: url('/imgs/afd415cc7f6a8b09200f1743357a6f4f.png') no-repeat left center;
}
.index_new.index_support h2 {
    font-size: 34px;
    line-height: 42px;
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    color: #fff;
}
.index_new.index_support p.small {
    margin: 0;
    font-size: 10px;
    line-height: 10px;
    color: #f6c3c3;
}
.index_new.index_support .button.button_secondary {
    line-height: 40px;
    height: 40px;
    width: 185px;
    margin: 8px auto;
    background: #e40000;
    color: #fff;
    border-color: #fff;
}
.index_new.index_support .button.button_secondary:hover {
    background: #fff;
    color: #cd0000;
}

/* articles */

.index_new.index_articles h4 a {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
    color: #333;
    text-decoration: none;
}
.index_new.index_articles h4 a:hover {
    text-decoration: underline;
}
.index_new.index_articles .button.button_secondary {
    line-height: 30px;
    height: 30px;
    width: 100px;
    margin: 20px auto 0;
    font-size: 13px;
}

/* bottom banner */

.index_new.banner_bottom_wrapper {
    height: 220px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
.index_new.banner_bottom_wrapper a.banner_bottom {
    display: block;
    width: 100%;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
}

/* disclaimer */

.index_new.index_disclaimer {
    padding: 0 0 10px 0;
}
.index_new.index_disclaimer .small_bottom {
    font-size: 10px;
    line-height: 12px;
    color: #aaa;
}