@charset "UTF-8";

/* fonts */

@font-face {
    font-family: "OpenSansLight";
    src: url("/static/fonts/www/OpenSans-Light-webfont.eot");
    src: url("/static/fonts/www/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/www/OpenSans-Light-webfont.woff") format("woff"),
         url("/static/fonts/www/OpenSans-Light-webfont.ttf") format("truetype"),
         url("/static/fonts/www/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("/static/fonts/www/OpenSans-Regular-webfont.eot");
    src: url("/static/fonts/www/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/www/OpenSans-Regular-webfont.woff") format("woff"),
         url("/static/fonts/www/OpenSans-Regular-webfont.ttf") format("truetype"),
         url("/static/fonts/www/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansItalic";
    src: url("/static/fonts/www/OpenSans-Italic-webfont.eot");
    src: url("/static/fonts/www/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/www/OpenSans-Italic-webfont.woff") format("woff"),
         url("/static/fonts/www/OpenSans-Italic-webfont.ttf") format("truetype"),
         url("/static/fonts/www/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "OpenSansSemibold";
    src: url("/static/fonts/www/OpenSans-Semibold-webfont.eot");
    src: url("/static/fonts/www/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/www/OpenSans-Semibold-webfont.woff") format("woff"),
         url("/static/fonts/www/OpenSans-Semibold-webfont.ttf") format("truetype"),
         url("/static/fonts/www/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("/static/fonts/www/OpenSans-Bold-webfont.eot");
    src: url("/static/fonts/www/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/www/OpenSans-Bold-webfont.woff") format("woff"),
         url("/static/fonts/www/OpenSans-Bold-webfont.ttf") format("truetype"),
         url("/static/fonts/www/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

/* general */

html {
    margin: 0;
    padding: 0;
    border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 1020px;
    font: 13px/1.5 Arial, Helvetica, sans-serif;
    color: #333;
    text-align: left;
    background: #f0f0f0;
}
#main_wrapper {
    background-color: #fff;
    clear: both;
}

.clearB {
    clear: both;
}

/* common */

.strike {
    text-decoration: line-through;
}
.color_white {
    color: #fff;
}
.color_red {
    color: #e20000;
}
h2.gray {
    font: 14px "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #888;
    margin: 0 0 1.5em 0;
    padding: 0 0 5px 0;
    text-transform: uppercase;
}
h2.gray.low,
h2.low {
    text-transform: none;
}
h2.underlined {
    border-bottom: 1px solid #dddddd;
}
h2.first {
    margin: 2.5em 0 1.5em 0;
}
h2.gray a {
    display: block;
    float: right;
    padding: 2px 0 0 0;
    color: #aaaaaa;
    text-decoration: none;
    font: 10px "OpenSansSemiBold", Arial, Helvetica, sans-serif;
}
h2.gray a:after {
    content: " \00BB";
}
h2.gray a:hover {
    text-decoration: underline;
}
h2.normal {
    margin: 0 0 15px 0;
    padding: 0;
    font: 14px "OpenSansBold", Arial, Helvetica, sans-serif;
}
h2.mb_0 {
    margin-bottom: 0;
}
.content_main ul li,
ol li ul li {
    margin-left: 30px;
}
.content_main ul {
    margin-bottom: 15px;
}
.content_main ol {
    margin-left: 20px;
    margin-bottom: 20px;
}
.nomargin {
    margin: 0;
}
.mt25 {
    margin-top: 25px;
}
.mb20 {
    margin-bottom: 20px;
}
.mt20 {
    margin-top: 20px;
}
.ml40 {
    margin-left: 30px;
}
.pb10 {
    padding-bottom: 10px;
}
#content_main h2.mb20 {
    margin-bottom: 20px;
}
.small_info_l {
    font-size: 12px;
    color: #333;
    line-height: 17px;
}
.small_bottom_right {
    font-size: 10px;
    line-height: 12px;
    color: #bbb;
    text-align: right;
    margin: 0;
}
.right {
    text-align: right;
}
.imgL {
    float: left;
    margin: 3px 20px 0 0;
}
.uppercase {
    text-transform: uppercase;
    text-align: center;
}
.side_movie {
    width: 195px;
    height: 114px;
    background: #fff;
    border: 1px solid #e3e3e3;
}
.side_info {
    padding: 15px 0;
}
.side_info p {
    color: #969696;
    margin: 0;
    padding: 0;
}
small {
    color: #888;
    font-size: 10px;
}

/* buttons */

a.button_gray {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0 12px;
    border: 0;
    background: #999;
    color: #fff;
    font-family: "OpenSansBold";
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a:hover.button_gray {
    background: #666;
}
a.button_blue {
    display: block;
    margin: 0 auto;
    background: #0e6dc4 url("/static/img/www/but_blue.png") repeat-x 0 0;
    width: 80px;
    height: 18px;
    padding: 10px 10px 8px 10px;
    font: bold 14px/18px "OpenSansBold", Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px -1px 0 #0e63a3;
    border: 1px solid #0a5293;
    border-bottom: 2px solid #0a5293;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}
input.button_blue {
    display: block;
    margin: 0;
    background: #0e6dc4 url("/static/img/www/but_blue.png") repeat-x 0 0;
    width: 107px;
    height: 42px;
    padding: 11px 0;
    font: bold 14px/18px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: -1px -1px 0 #0e63a3;
    border: 1px solid #0a5293;
    border-bottom: 2px solid #0a5293;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
a:hover.button_blue,
input:hover.button_blue {
    background: #005eb5 url("/static/img/www/but_blue.png") repeat-x 0 -56px;
    border-bottom: 2px solid #0a5293;
}
a:active.button_blue,
input:active.button_blue {
    background: #1b89d3 url("/static/img/www/but_blue.png") repeat-x 0 -112px;
    border: 1px solid #0a5293;
    border-top: 2px solid #0a5293;
}
.link {
    display: block;
    float: right;
    font-size: 11px;
    color: #004695;
}

/* forms */

.mainForm {
    margin: 20px 0;
    padding: 20px 0;
    background: #f8f8f8;
    overflow: hidden;
}
.mainForm div {
    padding: 4px 20px;
    overflow: hidden;
}
.mainForm div div {
    padding: 0;
}
.mainForm div div div {
    clear: both;
}
.mainForm div.divInput {
    float: right;
    width: 450px;
    margin: 0;
    padding: 0 0 0 20px;
}
.mainForm div.divInput div,
.mainForm div.divInputBox div {
    margin: 0;
}
.mainForm div.divInputBox div.divInput {
    padding: 0;
}
.mainForm div.divLabel {
    display: block;
    float: left;
    width: 225px;
    line-height: 15px;
    text-align: right;
}
.mainForm div.divInputBox {
    float: left;
    width: 450px;
    margin: 0;
    padding: 0 0 5px 20px;
}
.mainForm div.divInputBox.emptyRight {
    float: left;
    width: 450px;
    margin: 0 0 0 245px;
    padding: 0;
}
.mainForm label {
    display: block;
    float: left;
    width: 225px;
    padding: 8px 0;
    line-height: 12px;
    text-align: right;
}
.mainForm input.radio {
    position: relative;
    top: 1px;
    float: left;
    margin-right: 5px;
}
.mainForm .divInput label,
.mainForm .divInputBox label {
    float: left;
    width: auto;
    text-align: left;
    padding: 2px 0 6px 0;
}
.mainForm .divInput.emptyRight label,
.mainForm .divInputBox.emptyRight label {
    padding: 1px 0 6px 0;
}
.standardInput,
.mainForm input.text {
    height: 15px;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #333;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
}
.mainForm textarea {
    padding: 5px;
    overflow: auto;
    margin: 0;
    border: 1px solid #ccc;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #333;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
}
.standardSelect,
.mainForm select {
    float: left;
    margin: 0;
    padding: 4px;
    height: 27px;
    border: solid 1px #ccc;
    background: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #333;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 8px 4px -7px rgba(0, 0, 0, 0.1);
}
.divInput .btn_plus {
    background: transparent url("/static/img/www/button_plus.png") no-repeat center;
    width: 14px;
    text-indent: -4000px;
    height: 14px;
    padding: 13px 0 0 10px;
    position: absolute;
}
.divInput .btn_minus {
    background: transparent url("/static/img/www/button_minus.png") no-repeat center;
    width: 14px;
    text-indent: -4000px;
    height: 14px;
    margin-left: 20px;
    padding: 13px 0 0 10px;
    position: absolute;
}
.mainForm label small {
    float: right;
    margin: 2px 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.2em;
    color: #888;
}
.mainForm .divInputBox label small {
    float: left;
    margin: 0;
}
.mainForm div.divInputBox div.pv2px {
    padding-top: 6px;
}
input#promo {
    margin: 0 5px 0 0;
    width: auto;
}
.mainForm p.button {
    margin: 1.5em 0;
}
.mainForm p.button input {
    display: block;
    margin: 0;
    background: #0e6dc4 url("/static/img/www/but_blue.png") repeat-x 0 0;
    width: 122px;
    height: 41px;
    padding: 9px 10px;
    font: bold 14px/18px "OpenSansBold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px -1px 0 #0e63a3;
    border: 1px solid #0a5293;
    border-bottom: 2px solid #0a5293;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.mainForm p.button input:hover {
    background: #005eb5 url("/static/img/www/but_blue.png") repeat-x 0 -56px;
    border-bottom: 2px solid #0a5293;
}
.mainForm p.button input:active {
    background: #1b89d3 url("/static/img/www/but_blue.png") repeat-x 0 -112px;
    border: 1px solid #0a5293;
    border-top: 2px solid #0a5293;
}
.mainForm .error {
    background: #f2dede;
    border: none;
}
.mainForm .error span {
    background-image: none;
}
.red {
    color: #e20000;
}
.mainForm .must {
    font-weight: bold;
}
.w100 {
    width: 100px;
}
.w200 {
    width: 200px;
}
select.w200 {
    width: 192px;
}
.w300 {
    width: 300px;
}
.w400 {
    width: 400px;
}
textarea.h100 {
    height: 100px;
}

/* boxes notice */

.box_alert {
    position: relative;
    top: 0;
    left: 0;
    font: 13px/18px Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 60px;
    text-align: left;
}
.box_alert p {
    margin: 0 0 5px 0;
    padding: 0;
}
.box_alert span {
    display: block;
    position: absolute;
    top: 9px;
    left: 20px;
    width: 20px;
    height: 20px;
}
.box_alert p:last-child {
    margin: 0;
}
.success {
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #355936;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.success span {
    background-image: url("/static/img/www/ico_box_alert.png");
}
.error {
    background: #f2dede;
    border: 1px solid #eed3d7;
    color: #762e2d;
}
.error span {
    background-image: url("/static/img/www/ico_box_alert.png");
    background-position: 0 -22px;
}
.notice {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #7e5b1f;
}
.notice span {
    background-image: url("/static/img/www/ico_box_alert.png");
    background-position: 0 -44px;
}
.info {
    background: #d9edf7;
    border: 1px solid #bce8f1;
    color: #285a72;
}
.info span {
    background-image: url("/static/img/www/ico_box_alert.png");
    background-position: 0 -66px;
}
.no_ico {
    padding: 10px 20px;
}
.no_ico span {
    background-image: none;
}

/* head */

#header {
    font-family: "OpenSansRegular";
}
#header p {
    margin: 0;
}
#head {
    height: 82px;
}
#logo {
    float: left;
}
#logo a {
    background: url("/static/img/www/logo_home.png") no-repeat 0 0;
    display: block;
    float: left;
    height: 44px;
    margin: 20px 0 0 0;
    overflow: hidden;
    text-indent: -2500px;
    width: 153px;
}
#header p#claim {
    float: left;
    margin: 45px 0 0 10px;
    padding: 0;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    color: #666;
}
#support {
    margin: 30px 0 0 0;
    color: #bcbcbc;
    text-align: center;
}
#support a {
    display: block;
    font-size: 14px;
    height: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #666;
}
#support p {
    font-size: 10px;
    height: 14px;
    line-height: 14px;
}
#support a span {
    font-family: "OpenSansBold";
    color: #e20000;
}
#menu_apps {
    float: right;
    margin: 18px 0 0 0;
}

#menu_apps li {
    float: left;
    list-style: none;
    margin: 0 0 0 15px;
    width: 52px;
    height: 62px;
}
#menu_apps a {
    text-decoration: none;
    color: #666;
    display: block;
}
#menu_apps span {
    display: block;
    padding: 34px 0 0 0;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
#webmail {
    background: url("/static/img/www/button_g_webmail.png") no-repeat 50% 0;
}
#panel {
    background: url("/static/img/www/button_g_panel.png") no-repeat 50% 0;
}
#promo {
    background: url("/static/img/www/button_g_promo.png") no-repeat 50% 0;
}

/* nav, nav_bottom (footer) */

.nav {
    position: relative;
    height: 44px;
    line-height: 44px;
    background-color: #262626;
    z-index: 10;
}
.nav ul {
    float: left;
    margin: 0;
}
.nav li {
    position: relative;
    color: #fff;
    float: left;
    list-style: none;
}
.nav li {
    position: relative;
    float: left;
    color: #ddd;
    list-style: none;
}
.nav a {
    display: block;
    text-decoration: none;
    color: #ddd;
    padding: 0 7px;
}
#nav_top a.active,
#nav_top a:hover.active {
    background-color: #464646;
    color: #fff;
}
#nav_top a:hover {
    background-color: #464646;
    color: #fff;
}

#home {
    width: 28px;
    text-indent: -2500px;
    background: url("/static/img/www/button_home.png") no-repeat 50% 50%;
    margin: 0;
    padding: 0;
}
#home a span {
    display: block;
    height: 44px;
    background-image: url("/static/img/www/button_home.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#nav_bottom {
    border-top: 1px solid #cecece;
    margin-top: 29px;
    padding: 23px 0 12px 0;
}
#nav_bottom ul {
    list-style: none;
}
#nav_bottom .new {
    background:#e20000;
    color:#fff;
    font-size:10px;
    line-height:12px;
    padding:2px 5px;
    border-radius:4px;
    margin:0 0 0 5px;
}
#nav_bottom a {
    color: #303030;
    display: inline;
    font-size: 12px;
    text-decoration: none;
}
#nav_bottom a:hover {
    text-decoration: underline;
    background: none;
}
#nav_top a:hover + div.context_menu {
    visibility: visible;
}
div:hover.context_menu {
    visibility: visible;
}
#nav_bottom #facebook a {
    float: left;
    width: 38px;
    text-indent: -2500px;
    background: url("/static/img/www/button_facebook.png") no-repeat 50% 50%;
    margin: 0;
    padding: 0;
}
.sticky {
    background-color: #262626;
    left: 0;
    opacity: 0.96;
    filter: alpha(opacity=96);
    position: fixed !important;
    top: 0;
    width: 100%;
}
.nav_brd_btm {
    background-color: #fff;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    opacity: 0.3;
}
#sticky-anchor {
    font-size: 0;
    height: 0;
}

/* context menu */

.context_menu {
    visibility: collapse;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 35px;
    left: -14px;
    height: auto;
    line-height: 1.5em;
    margin: 0;
    padding: 5px 0;
    background: #f6f6f6;
    border: 1px solid #b5b5b5;
    border-top: 2px solid #e51d1d;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 10;
    -webkit-transition: opacity 250ms ease 0ms, top 150ms ease 75ms, visibility 150ms ease 75ms;
    -moz-transition: opacity 250ms ease 0ms, top 150ms ease 75ms, visibility 150ms ease 75ms;
    -ms-transition: opacity 250ms ease 0ms, top 150ms ease 75ms, visibility 150ms ease 75ms;
    -o-transition: opacity 250ms ease 0ms, top 150ms ease 75ms, visibility 150ms ease 75ms;
    transition: opacity 250ms ease 0ms, top 150ms ease 75ms, visibility 150ms ease 75ms;
}
.context_menu ul {
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.context_menu ul ul {
    margin: 0;
}
.context_menu li {
    position: relative;
    float: none;
}
.context_menu a {
    margin: 0;
    padding: 3px 15px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
}
/* usuniety .context_menu a:after */
.context_menu li li a {
    padding: 0 21px 0 60px;
    font-weight: normal;
}
#nav_top a:hover + div.context_menu,
#nav_top div.context_menu:hover {
    visibility: visible;
    top: 40px;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: auto;
}
div:hover.context_menu {
    visibility: visible;
    opacity: 1;
}
.context_menu a:hover {
    background: #464646;
    color: #fff;
}
.context_menu .pike {
    display: block;
    position: absolute;
    top: -14px;
    left: 25px;
    height: 0;
    border-color: transparent transparent #f8f8f8;
    border-style: solid;
    border-width: 7px;
    text-indent: -10000px;
    z-index: 1000;
    outline: none;
}

/* basket */

#basket {
    float: right;
    height: 44px;
    line-height: 44px;
    color: #fff;
    padding: 0 25px 0 0;
    margin: 0;
    font-size: 12px;
    background: #353535;
    border-left: 1px solid #0d0d0d;
    -webkit-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
#counter {
    float: left;
    height: 44px;
    border-left: 1px solid #454545;
    padding: 0 26px 0 24px;
    margin: 0 8px 0 0;
    background: url("/static/img/www/basket.png") no-repeat 100% 50%;
}
#counter span {
    display: block;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    margin: 13px 0 0 0;
    background-color: #1f8dd5;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#price {
    font-family: "OpenSansBold";
    font-size: 14px;
}

/* breadcrumbs */

#breadcrumbs {
    color: #bcbcbc;
    font-size: 11px;
    margin: 0 15px 0 27px;
    height: 22px;
    visibility: hidden;
}
#breadcrumbs a {
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #666;
}
#breadcrumbs a:hover {
    text-decoration: underline;
}

/** domains **/

#domains {
    height: 120px;
    margin-top: 5px;
    background: #202020 url("/static/img/www/bg_domains.png") repeat-x 0 0;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#domains_content {
    height: 120px;
    margin: 0;
    padding: 0;
    background: transparent url("/static/img/www/wrap_domains.png") no-repeat 100% 100%;
    color: #fff;
}
#domains_content h1,
#domains_content h2 {
    float: left;
    width: 185px;
    height: 120px;
    line-height: 120px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "OpenSansRegular";
    color: #fff;
    text-align: center;
}
#domains_content h1 span,
#domains_content h2 span {
    position: relative;
    top: -4px;
    font-size: 18px;
}
#domains_shadow {
    height: 20px;
    background: transparent url("/static/img/www/shadow_domains.png") no-repeat 0 0;
}
#domains_search {
    float: left;
    width: 620px;
    margin: 0;
    padding: 0;
}
#domains_content a {
    text-decoration: none;
    color: #d2d2d2;
}
#domains_content a:hover {
    text-decoration: underline;
}
#domains_content h1 a,
#domains_content h2 a {
    color: #fff;
}
#domains_content h1 a:hover
#domains_content h2 a:hover {
    text-decoration: none;
}
#domains_search_wrapper {
    width: 620px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#domains_search_input {
    float: left;
    border: 0;
    background: none;
    width: 467px;
    font-size: 20px;
    height: 25px;
    line-height: 25px;
    padding: 13px 20px 12px 20px;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    outline: none;
    color: #333;
}
#domains_search_input.placeholder {
    color: #bcbcbc;
}
#domains_search_wrapper .button_blue {
    position: relative;
    top: 4px;
    right: 4px;
    float: right;
}
.domains_search_row_1,
.domains_search_row_3 {
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    color: #d2d2d2;
}
.domains_search_row_2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
}
.domains_search_row_3 {
    font-size: 11px;
    clear: both;
}
#domains_help {
    float: left;
    width: 145px;
    margin: 35px 0;
    padding: 0 20px;
    font-size: 11px;
    color: #d2d2d2;
}
#domains_help b {
    color: #dcdcdc;
    font-size: 12px;
}

/** content **/

#content {
    padding: 0;
    margin-bottom: 22px;
}
#content .box_index_content {
    margin: 0;
    padding: 0 0 0 70px;
}
#web {
    background: url("/static/img/www/web.png") no-repeat 0 0;
}
#hosting {
    background: url("/static/img/www/hosting.png") no-repeat 0 0;
}
#shops {
    background: url("/static/img/www/shops.png") no-repeat 0 0;
}
.box_index h2 {
    margin: 0 0 8px 0;
}
.box_index h2 a {
    height: 28px;
    line-height: 28px;
    font-size: 24px;
    font-family: "OpenSansSemibold";
    color: #333;
    text-decoration: none;
}
.box_index h2 span,
.box_index h2 small {
    font-family: "OpenSansLight";
}
.box_index h2 small {
    font-size: 18px;
    line-height: 24px;
}
.box_index li {
    height: 18px;
    line-height: 18px;
    padding: 0 0 0 14px;
    list-style: none;
    background: url("/static/img/www/circle_red.png") no-repeat 2px 6px;
}
.box_index_offer {
    position: relative;
    margin: 16px 0 0 0;
    padding: 15px 25px 30px;
    background: #f0f0f0;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.box_index_offer h3 {
    font-size: 15px;
    margin: 0 0 12px 0;
}
.box_index_price {
    float: left;
    width: 144px;
    margin-top: 2px;
}
.box_index_price .strike {
    float: left;
    margin: -3px 3px 0 0;
    font-size: 14px;
    height: 17px;
    line-height: 17px;
    font-family: "OpenSansBold";
}
.box_index_price .price_1,
.box_index_price .price_2 {
    float: left;
    margin: -3px 0 0 0;
    padding: 0;
    font-size: 44px;
    height: 36px;
    line-height: 36px;
    color: #e20000;
    font-family: "OpenSansBold";
}
.box_index_price .price_2 {
    margin: -11px 0 0 0;
    padding: 0;
    height: 52px;
    line-height: 52px;
}
.box_index_price .price_3 {
    float: left;
    color: #e20000;
    font-family: "OpenSansBold";
}
.box_index_price .price_3 b {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 17px;
    line-height: 17px;
}
.box_index_price .price_3 small {
    display: block;
    margin: 1px 0 0 0;
    padding: 0;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    font-family: "OpenSansRegular";
}
.box_index_badge {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 74px;
    height: 74px;
    z-index: 10;
}
.box_index_button {
    position: absolute;
    right: 25px;
    width: 102px;
    z-index: 20;
}
.box_index_buttons {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 148px;
}
.box_index_button .button_blue {
    display: block;
    float: right;
}
.box_index_button .link {
    display: block;
    margin: 2px 0 0 0;
}


/** footer **/

/* boxes */

#help {
    padding: 30px 0 50px 0;
    background: url("/static/img/www/shadow_support.png") no-repeat 50% 0;
}
#help h4 {
    margin-bottom: 4px;
}
#help h4 a {
    display: block;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    font-family: "OpenSansSemibold";
    font-size: 18px;
    color: #434343;
    background: none;
    border: 0;
    text-decoration: none;
}
#help small {
    display: block;
    padding: 0;
    margin: 0;
    color: #a1a1a1;
    font-size: 10px;
}
#help p {
    font-size: 12px;
    height: 56px;
    margin: 0;
    line-height: 16px;
    color: #666;
}
.box_index {
    float: left;
    width: 296px;
    padding-right: 25px;
    padding-left: 26px;
}
.box_index.alpha {
    padding-left: 0;
}
.box_index.omega {
    padding-right: 0;
}
#help .box_index_content {
    margin: 0;
    padding: 0 0 0 44px;
}
#expert {
    background: url("/static/img/www/expert.png") no-repeat 0 0;

}
#help_center {
    background: url("/static/img/www/help_center.png") no-repeat 0 0;

}
#suggest {
    background: url("/static/img/www/suggest.png") no-repeat 0 0;
}
#footer {
    background-color: #313131;
    border-top: 1px solid #d3d3d3;
    font-family: OpenSansRegular;
}
#footer_content {
    padding-bottom: 25px;
    position: relative;
    top: 0;
}

#box_policies {
    font-size: 11px;
    margin-bottom: 10px;
}

#box_policies a {
    color: #285A72;
}

#box_policies #policies {
    background: url("/static/img/www/bg_policies.png") no-repeat right;
    color: #285A72;
    float: right;
    padding-right: 22px;
}

/* copy */

p#copy {
    color: #838383;
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* vat */

p.vat {
    color: #838383;
    float: right;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: right;
}

/* nav */

#nav_addons {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ddd;
    padding: 29px 0 12px 0;
}
.menu_addons {
    float: left;
}
#menu_addons_right {
    float: right;
}
.menu_addons li {
    float: left;
    line-height: 13px;
    list-style: none;
    min-height: 27px;
    padding: 0 10px 0 0;
    white-space: nowrap;
}
.menu_addons li.omega {
    padding-right: 0;
}
.menu_addons li a {
    padding-top: 2px;
    text-decoration: none;
    color: #303030;
    font-size: 11px;
}
.menu_addons li a strong {
    font-size: 12px;
}
.footer-ico {
    background: url("/static/img/www/footer_ico.png") no-repeat 0 0;
    display: block;
    float: left;
    height: 27px;
    left: 0;
    position: relative;
    top: 0;
    width: 27px;
}
.affiliate {
    background-position: 0 0;
    margin: 0 15px 0 0;
}
.facebook {
    background-position: 0 -47px;
}
.twitter {
    background-position: 0 -94px;
}
.instagram {
    background-position: 0 -141px;
}
.youtube {
    background-position: 0 -188px;
}

/* partners */

.partners {
    background: url("/static/img/www/bg_partners.png") no-repeat 50% 46px;
    border-bottom: 1px solid #464646;
    height: 64px;
    margin-top: 10px;
    padding: 18px 0;
    text-align: center;
}
.partners h5 {
    color: #838383;
    font-family: OpenSansLight;
    font-size: 12px;
    font-weight: normal;
}

/* offer box */

.offer_box {
    padding: 0;
    margin: 0 0 30px 0;
}
.offer_box .normal li {
    list-style: none;
    margin-bottom: 12px;
}
.offer_box .normal li:last-child {
    margin-bottom: 0;
}
.offer_box .normal li ul li {
    margin-bottom: 0;
}
.offer_box .normal h4 {
    font: 15px "OpenSansRegular", Arial, Helvetica, sans-serif;
    margin: 0 0 6px 0;
}
.offer_box .normal p {
    font-size: 11px;
    color: #777777;
}
.offer_box .col_left * {
    padding-right: 15px;
}
.offer_box .col_right * {
    padding-left: 15px;
}
.offer_box a.more,
p a.more {
    font-weight: bold;
}
.offer_box a.more:after,
p a.more:after {
    content: " \00BB";
}
.offer_box.padding_top_none {
    padding-top: 0;
}
.offer_box p:last-child {
    margin: 0;
}

/* regulaminy */

.content_main .terms ul {
    list-style: disc;
    margin: 0;
}
.content_main .terms ol li {
    margin: 0 0 0 30px;
}
.content_main .terms ul li {
    margin: 5px 0 5px 30px;
}

/* aktualnosci */

.news {
    margin: 0 0 35px 0;
}
p.date {
    margin: 0;
    font-size: 11px;
    color: #888;
}
.news h2 {
    margin-bottom: 1.3em;
}

/* grid addons */

.container_full {
    width: 100%;
}
.p_alpha {
    padding-left: 0;
}

.p_omega {
    padding-right: 0;
}

/* banner */

#banner {
    position: relative;
    height: 280px;
    margin-bottom: 30px;
    z-index: 0;
}
#banner.index {
    height: 250px;
    margin-bottom: 0;
    background: url("/static/img/www/banner_bg.jpg") no-repeat center 0;
}
#banner.hosting {
    background: url("/static/img/www/banner_hosting.jpg") no-repeat center 0;
}
#banner.firma {
    background: url("/static/img/www/banner_firma.jpg") no-repeat center 0;
}
#banner_content .grid_12 {
    padding: 30px 90px;
    height: 220px;
}
#banner_content.index .grid_12 {
    padding: 0;
    height: 250px;
}
#banner.hosting .grid_12 {
    background: url("/static/img/www/service_icon_hosting.png") no-repeat 17px 22px;
}
#banner.firma .grid_12 {
    background: url("/static/img/www/service_icon_firma.png") no-repeat 17px 22px;
}
#banner_content h1 {
    margin: 0 0 11px 0;
    font: normal 36px/40px "OpenSansSemibold", Arial, Helvetica, sans-serif;
    color: #333;
}
#banner_content h1 span {
    margin-left: 3px;
    font: normal 13px/40px "OpenSansRegular", Arial, Helvetica, sans-serif;
    color: #777;
}
#banner_features li {
    margin: 0 0 10px 0;
    padding: 0 0 0 32px;
    list-style: none;
    font: bold 16px/16px "OpenSansSemibold", Arial, Helvetica, sans-serif;
    background: url("/static/img/www/tick.png") no-repeat 8px 1px;
}
#banner_features li .new {
    position: relative;
    top: -1px;
    padding: 2px 8px;
    background: #E20000;
    font: bold 10px/14px "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #fff;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
#banner_features li .additional {
    font: normal 11px/14px "OpenSansRegular", Arial, Helvetica, sans-serif;
    color: #777;
}

/* banner pagination */

.banner_pagination {
    position: relative;
    margin: -20px auto 0 auto;
    width: 60px;
    z-index: 10;
}
.banner_pagination li {
    float: left;
    margin: 0 5px;
    list-style: none;
}
.banner_pagination li a {
    display: block;
    width: 10px;
    height: 0;
    padding-top: 10px;
    background-image: url("/static/img/www/pagination.png");
    background-position: 0 0;
    float: left;
    overflow: hidden;
}
.banner_pagination li.current a {
    background-position: 0 -12px;
}

/* tabs */

#tabs {
    position: absolute;
    left: 23px;
    bottom: 0;
    padding: 5px 5px 0 5px;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
#tabs li {
    float: left;
    margin: 0;
    padding: 0;
}
#tabs a {
    float: left;
    margin: 0 2px;
    padding: 10px 18px;
    background: #353535;
    color: #fff;
    font: bold 13px/14px "OpenSansBold", Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-color: #353535;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    -webkit-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
}
#tabs a:hover {
    background: #fff;
    color: #888;
    border-color: #b5b5b5;
}
#tabs .active a {
    background: #fff;
    color: #333;
    border-color: #b5b5b5;
}

/* content */

#content {
    padding: 10px 0;
}
#content.index {
    padding: 15px 0 20px;
    min-height: 0;
}
p {
    margin: 0.5em 0 1em 0;
}
p.center {
    text-align: center;
}
p.small {
    font-size: 11px;
    line-height: 1.2em;
    color: #888;
}
.image img {
    border: 1px solid #ddd;
}
a {
    color: #00447E;
    cursor: pointer;
}
h1 {
    font: normal 30px/36px "OpenSansRegular", Arial, Helvetica, sans-serif;
    margin: 0.3em 0 1em 0;
}
h2 {
    font: normal 22px/26px "OpenSansSemibold", Arial, Helvetica, sans-serif;
    margin: 30px 0 24px 0;
}
h2 {
    font: 14px "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #888;
    margin: 0 0 1.5em 0;
    padding: 0 0 5px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
}
#domains h2,
.index h2 {
    text-transform: none;
    border: none;
    padding: 0;
}
h4 {
    font: bold 13px/14px "OpenSansBold", Arial, Helvetica, sans-serif;
    margin: 0 0 12px 0;
}
h5 {
    font: bold 11px/13px "OpenSansBold", Arial, Helvetica, sans-serif;
    margin: 0 0 12px 0;
}
#content p.small_bottom {
    position: relative;
    top: 12px;
    margin: 0 0 10px 0;
    font-size: 10px;
    line-height: 12px;
    color: #aaa;
}
#content p.small_bottom a {
    color: #aaa;
    text-decoration: underline;
}
#content p.small_bottom.normal {
    top: 0;
}

/* tables */

.table_services {
    width: 100%;
    margin-bottom: 40px;
    border-collapse: separate;
}
.table_services.mb20 {
    margin-bottom: 20px;
}
.table_services thead th {
    padding: 15px 20px;
    background: #787878;
    color: #fff;
    text-align: center;
    font: bold 14px/15px "OpenSansBold", Arial, Helvetica, sans-serif;
    border-left: 2px solid #fff;
    border-top: 10px solid #fff;
}
.table_services thead th.top {
    background: #686868;
}
.table_services thead th.badge_th {
    padding: 0;
}
.table_services thead th .badge_wrapper {
    position: relative;
    padding: 15px 20px;
}
.table_services thead th.top .badge {
    width: 74px;
    height: 74px;
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 10;
}
.table_services thead th.top.featured .badge {
    top: -12px;
}
.table_services thead td.narrow,
.table_services tbody td.narrow,
.table_services tfoot td.narrow {
    padding-left: 10px;
    padding-right: 10px;
}
.table_services tfoot tr:last-child td {
    border-bottom: 10px solid #fff;
}
.table_services thead th span {
    font: normal 11px "OpenSansRegular", Arial, Helvetica, sans-serif;
    color: #d2d2d2;
    margin-top: -2px;
}
.table_services thead th.featured {
    background: #E20000;
    border-top: none;
}
.table_services thead th.top.featured {
    background: #c00000;
}
.table_services tfoot tr:last-child td.featured {
    border-bottom: none;
}
.table_services thead th.featured span {
    color: #F5CCBF;
}
.table_services thead th.empty {
    background: none;
    border: none;
}
.table_services thead th.top_header {
    background: none;
    border: none;
    color: #777;
    text-align: left;
    vertical-align: bottom;
}
.table_services thead td,
.table_services tfoot td {
    padding: 10px 20px 15px;
    background: #787878;
    color: #fff;
    text-align: center;
    border-left: 2px solid #fff;
    vertical-align: top;
}
.table_services tfoot td {
    padding: 15px 20px;
}
.table_services thead td.featured,
.table_services tfoot td.featured {
    background: #E20000;
}
.table_services thead td.t_header,
.table_services tfoot td.t_header {
    padding: 15px 20px;
    background: #F0F0F0;
    color: #333;
    text-align: left;
    font: bold 12px/12px Arial, Helvetica, sans-serif;
    border: none;
}
.table_services tfoot td.test_14 {
    padding-left: 55px;
    background: #F0F0F0 url("/static/img/www/test_14.png") no-repeat 20px 13px;
}
.table_services tfoot td.bg_white {
    background: #fff;
    color: #333;
    padding-bottom: 0;
}
.table_services tfoot td.bg_white p {
    text-align: left;
    margin: 0;
    padding: 0;
}
.table_services thead td.t_header .small,
.table_services tfoot td.t_header .small {
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #666;
}
.table_services thead td.t_header .small a.link_gray,
.table_services tfoot td.t_header .small a.link_gray {
    color: inherit;
}
.table_services thead td.t_header .promo {
    padding: 3px 6px;
    font: bold 11px/24px Arial, Helvetica, sans-serif;
    color: #fff;
    background: #E20000;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table_services thead td p.price {
    margin: 0 0 6px 0;
}
.table_services thead td p.price .price_old {
    padding-right: 2px;
    font: normal 14px/16px "OpenSansSemibold", Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    position: relative;
    top: -11px;
}
.table_services thead td p.price .price_new {
    font: bold 30px/36px "OpenSansBold", Arial, Helvetica, sans-serif;
}
.table_services thead td.divider,
.table_services tbody td.divider,
.table_services tfoot td.divider {
    background: #fff;
    padding: 0;
    line-height: 5px;
    font-size: 1px;
    color: #fff;
}
.table_services td.divider {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
a.button {
    display: block;
    margin: 0 auto;
    background: #fff url("/static/img/www/but_light.png") repeat-x 0 0;
    width: 100px;
    height: 18px;
    padding: 10px 10px 8px 10px;
    font: bold 14px/18px "OpenSansBold", Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #d7d7d7;
    border-bottom: 2px solid #aaa;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
a:hover.button {
    background: #e2e2e2 url("/static/img/www/but_light.png") repeat-x 0 -40px;
    border: 1px solid #c7c7c7;
    border-bottom: 2px solid #888;
}
.table_services tfoot p.select {
    margin: 0 0 10px 0;
}
.table_services tfoot p.select select {
    padding: 3px;
    font: normal 12px/14px Arial, Helvetica, sans-serif;
    border: none;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table_services tfoot p.button {
    margin: 0;
}
.table_services tfoot p.button input {
    display: block;
    margin: 0 auto;
    background: #fff url("/static/img/www/but_light.png") repeat-x 0 0;
    width: 120px;
    height: 38px;
    padding: 6px 0;
    font: 14px/18px "OpenSansBold", Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    border: none;
    border-bottom: 2px solid #aaa;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.table_services tfoot p.button input:hover {
    background: #e2e2e2 url("/static/img/www/but_light.png") repeat-x 0 -40px;
    border-bottom: 2px solid #888;
}
.table_services tbody td {
    padding: 12px 20px;
    text-align: center;
    border-left: 2px solid #fff;
    font: normal 13px/14px Arial, Helvetica, sans-serif;
    color: #333;
}
.table_services tbody td.main {
    font-size: 14px;
    font-weight: bold;
}
.table_services tbody td.v_top {
    vertical-align: top;
}
.table_services tbody td.t_header {
    font: bold 12px/14px Arial, Helvetica, sans-serif;
    text-align: left;
    border: none;
}
.table_services tbody td .small {
    font: normal 11px/13px Arial, Helvetica, sans-serif;
    color: #666;
}
.table_services tbody td p {
    margin: 2px 0;
}
.table_services tbody td.t_header p {
    margin: 0 0 4px 0;
}
.table_services tbody td.t_header p:last-child {
    margin: 0;
}
.table_services tbody td.t_header p a.details {
    float: right;
    font: normal 11px/13px Arial, Helvetica, sans-serif;
    margin: 0 0 0 10px;
}
.table_services tbody td.t_header a.link_gray {
    color: inherit;
    text-decoration: none;
}
.table_services tbody td.t_header a:hover {
    text-decoration: underline;
}
.table_services tbody tr:nth-child(odd) td {
    background: #f8f8f8;
}
.table_services tbody tr:nth-child(even) td {
    background: #f0f0f0;
}
.table_services tbody tr:nth-child(odd) td.featured {
    background: #f0f0f0;
}
.table_services tbody tr:nth-child(even) td.featured {
    background: #E3E3E3;
}
.table_services tbody tr td.section,
.table_services tbody tr td.more {
    padding: 5px 0;
    background: #fff;
    font: bold 14px/40px Arial, Helvetica, sans-serif;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.table_services tbody tr td.section {
    padding: 0 20px;
    color: #777;
    text-align: left;
    float: none;
}
.table_services tbody tr td.more {
    color: #fff;
}
.table_services tbody td.more a {
    display: block;
    padding-left: 20px;
    text-align: left;
    color: #fff;
    text-decoration: none;
    background-color: #aaa;
    background-repeat: no-repeat;
}
.table_services tbody td.more a span {
    float: left;
    text-align: right;
    margin: 0;
    padding-right: 26px;
    height: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: none;
    background-repeat: no-repeat;
}
.table_services tbody td.more a span.roller {
    float: right;
    text-align: right;
    margin-right: 20px;
    padding-right: 26px;
    height: 40px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-repeat: no-repeat;
}
.table_services tbody td.more a:hover {
    background-color: #787878;
}
.table_services tbody td.more a.closed span,
.table_services tbody td.more a.opened span {
    background-image: none;
    background-position: right center;
}
.table_services tbody td.more a.closed span.roller {
    background-image: url("/static/img/www/more_closed.png");
}
.table_services tbody td.more a.opened span.roller {
    background-image: url("/static/img/www/more_opened.png");
}
.table_services tbody td.t_header ul {
    margin-left: 22px;
}
.table_services tbody td.t_header li {
    font: normal 11px/13px Arial, Helvetica, sans-serif;
    color: #666;
}
.table_services tbody tr td.nobrd_top {
    border-top: 0;
}
.table_services tbody tr td.nobrd_bottom {
    border-bottom: 0;
}
.table_services tbody td.t_header p:last-child.details_inner {
    margin: 0 0 5px 0;
    text-align: right;
}
.table_services tbody td.t_header p.margin_bottom_0 {
    margin-bottom: 0;
}
.table_services thead th.left {
    text-align: left;
}
.table_services thead th.normal {
    font: bold 12px/14px Arial, Helvetica, sans-serif;
    color: #333;
}
.table_services thead th.normal span.small {
    color: #666;
}

/* features */

.content_features,
.content_main ul.content_features {
    margin: 0 0 20px 0;
}
.container_12 .content_features li.grid_3 {
    width: 183px;
    padding: 0 0 0 42px;
    margin-left: 15px;
}
.container_12 .content_features li:first-child.grid_3 {
    margin-left: 0;
}
.container_12 .content_features li.grid_45 {
    width: 310px;
    padding: 0 0 0 42px;
    margin-left: 0;
}
.content_features .features_leader {
    background: url("/static/img/www/content_features_leader.png") no-repeat 6px 0;
}
.content_features .features_services {
    background: url("/static/img/www/content_features_services.png") no-repeat 6px 0;
}
.content_features .features_support {
    background: url("/static/img/www/content_features_support.png") no-repeat 6px 0;
}
.content_features .features_address {
    background: url("/static/img/www/content_features_address.png") no-repeat 6px 0;
}
.content_features .features_bank {
    background: url("/static/img/www/content_features_bank.png") no-repeat 6px 0;
}
.content_features h4 {
    margin: 0 0 4px 0;
    color: #666;
}
.content_features p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #999;
}
.content_features.normal p {
    color: #333;
}
.content_features p.small {
    margin: 0 0 10px 0;
    font-size: 10px;
    line-height: 12px;
    color: #888;
}
.content_features p.small.rev {
    margin: 10px 0 4px 0;
}

/* notifications */

.box_info_gray {
    padding: 15px 20px 15px 48px;
    background: #f8f8f8 url("/static/img/www/box_info.png") no-repeat 16px 14px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* right side */

.content_side {
    padding: 0 0 30px 0;
}
.side_menu {
    padding: 15px 0;
    background: #FFEFBF;
    border-top: 3px solid #FFC001;
}
.side_menu h4 {
    margin: 0 15px 10px 15px;
}
.side_menu h4 a {
    color: #333;
    text-decoration: none;
}
.side_menu h4 a:hover {
    text-decoration: underline;
}
.side_menu h4 a:after {
    content: " \00BB";
}
.side_menu h4 a.active:after {
    content: "";
}
.side_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.side_menu li {
    font: normal 12px/14px Arial, Helvetica, sans-serif;
}
.side_menu li a {
    display: block;
    padding: 4px 15px 4px 27px;
    color: #333;
    text-decoration: none;
    background: url("/static/img/www/side_menu_dot.png") no-repeat 17px 9px;
}
.side_menu li li a {
    display: block;
    padding: 4px 15px 4px 37px;
    color: #333;
    text-decoration: none;
    background: none;
}
.side_menu li a:hover,
.side_menu li a.active {
    color: #222;
    background: #FFF7DF url("/static/img/www/side_menu_dot.png") no-repeat 17px 9px;
}
.side_menu li li a:hover,
.side_menu li li a.active {
    color: #222;
    background: #FFF7DF no-repeat 17px 9px;
}
.side_menu li a.active {
    font: bold 12px/14px Arial, Helvetica, sans-serif;
}
.side_menu li a:after {
    content: " \00BB";
}
.side_menu li a.active:after {
    content: "";
}
.side_addons {
    padding: 15px 15px 0 15px;
    background: #f8f8f8;
}
.side_addons.first {
    border-top: 3px solid #e7e7e7;
}
.side_addons div.section {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #DFDFDF;
}
.side_addons div.section:first-child {
    border-top: none;
}
.side_addons div.section:last-child {
    border-bottom: none;
}
.side_addons p.italic {
    margin: 0;
    padding: 0 0 5px;
    font: italic 11px/14px Arial, Helvetica, sans-serif;
}
.side_addons p.more {
    margin: 0;
    padding: 0 0 15px 0;
    text-align: right;
}
.side_addons p.more a {
    font: bold 11px/14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #333;
}
.side_addons p.more a:hover {
    text-decoration: underline;
}
.side_addons p.more a:after {
    content: " \00BB";
}
.side_awards {
    padding: 0 0 12px;
}
.side_awards p {
    margin: 0;
    text-align: center;
}
.side_cite {
    padding: 15px 0;
}
.side_cite p.cite {
    margin: 0 0 6px 0;
    padding-left: 22px;
    font: italic 11px/14px Arial, Helvetica, sans-serif;
    background: url("/static/img/www/side_cite.png") no-repeat 0 3px;
}
.side_cite p.author {
    margin: 0;
    text-align: right;
    font-size: 11px;
    line-height: 14px;
}
.side_cite p.author a {
    color: #333;
    text-decoration: none;
}
.side_cite p.author a:hover {
    text-decoration: underline;
}
.side_pros {
    padding: 0 0 8px 0;
}
.side_pros h5 {
    margin: 0 0 0 13px;
}
.side_pros p {
    margin: 0 0 8px 13px;
    font-size: 11px;
    line-height: 13px;
    color: #666;
}
.side_support {
    margin: 0;
    padding: 15px;
    background: #f0f0f0;
    border-top: 3px solid #d8d8d8;
}
.side_support ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.side_support li {
    padding: 0 0 5px 40px;
}
.side_support li:last-child {
    padding: 5px 0 2px 40px;
}
.side_support li.phone {
    background: url("/static/img/www/side_support_phone.png") no-repeat 0 0;
}
.side_support li.mail {
    background: url("/static/img/www/side_support_mail.png") no-repeat 0 0;
    min-height: 30px;
}
.side_support li.mail p {
    line-height: 30px;
}
.side_support li.chat {
    background: url("/static/img/www/side_support_chat.png") no-repeat 0 0;
    min-height: 30px;
}
.side_support li.chat p {
    line-height: 30px;
}
.side_support p {
    margin: 0;
    font: normal 12px/14px Arial, Helvetica, sans-serif;
}
.side_support p.large {
    font: bold 22px/23px Arial, Helvetica, sans-serif;
}
.side_support p.light {
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    color: #666;
}
.side_support p.button {
    margin: 0;
}
p.side_small {
    margin: 5px 0 10px 0;
    font-size: 10px;
    line-height: 12px;
    color: #aaa;
}
.mobile_link {
    background: #222;
    -webkit-box-shadow: inset 0px 10px 24px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 10px 24px -6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 10px 24px -6px rgba(0, 0, 0, 0.2);
    font-size: 35px;
    font-family: "OpenSansLight";
    padding: 70px;
    text-align: center;
}
