@charset "utf-8";

/* =====================================================================
	global
====================================================================== */

* {
	margin : 0;
	padding : 0;
	background : transparent;
	border : none;
	font : normal normal 100% Arial,Helvetica,sans-serif;
}
body {
	background : #ffffff;
	color : #333333;
	font-size : 62.5%;
}

ul {
	list-style : none;
}
p {
	line-height : 1.6em;
}
hr {
	clear : both;
	visibility : hidden;
}

/* =====================================================================
	shell
====================================================================== */

div#shell {
	overflow : hidden;
	position : absolute;
	left : 50%;
	margin : 10px auto auto -410px;
	font-size : 1.0em;
	width : 800px;
}
*html div#shell {
	overflow : hidden;
	font-size : 0.9em;
}
h1 {
	overflow : hidden;
	margin : 12px 0 0 0;
	padding-right: 3px;
	font-size: 12px;
}
h1 a {
	display : block;
	padding : 60px 0 0 0;
	width : 180px;
	height : 60px;
}
h2 {
	overflow : hidden;
	margin : 0;
	font-size : 12px;
	height : 55px;
	line-height:1.5em;
}
*html h2 {
	overflow : hidden;
	margin : 10px 0 0 5px;
	padding-left:8px;
	font-size : 1.1em;
	line-height:1.7em;
}
*+html h2 {
	overflow : hidden;
	margin : 10px 0 0 5px;
	padding-left:10px;
	font-size : 1.0em;
	line-height:1.7em;
}
h2:after,
div#contents:after {
	display : block;
	clear : both;
	content : ".";
	visibility : hidden;
	height : 0;
}
h3 {
	font-size : 1.2em;
	color:#666666;
	font-weight:bold;
	margin:0 0 5px 0;
}
*html h3 {

	font-weight:bold;
	margin:0 0 5px 0;
}
*+html h3 {

	font-weight:bold;
	margin:0 0 5px 0;
}

/* =====================================================================
	contents
====================================================================== */
div#logo {
	overflow : hidden;
	float : left;
	margin : 15px 0 0 0;
	width : 140px;
	height : 69px;
}
div#contents {
	overflow : hidden;
	margin : 5px 0 0 0;
	background : url(../img/icon/accessory/entrance/background.gif) no-repeat;
	width : 800px;
	height : 390px;
}

div#contents div.summary {
	overflow : hidden;
	float : left;
}
*html div#contents div.summary {
}

*+html div#contents div.summary {
	font-size : 0.9em;
}

div#contents div.btn {
	margin : 80px 0 11px 25px;
	width : 240px;
}
*html div#contents div.btn {
	margin : 80px 0 11px 10px;
	width : 248px;
}

*+html div#contents div.btn {
	margin : 80px 0 11px 18px;
	font-size : 0.9em;
	width : 250px;
}

div#contents div.r18 {
	overflow : hidden;
	margin : 0 0 0 9px;
	width : 265px;
}

div#contents div.summary p.enterbtn{
	text-align: center;
	padding: 5px 0;
}

div#contents div.summary p.text{
	background : url(../img/icon/accessory/entrance/r18.gif) no-repeat left;
	padding-left: 55px;
	font-size: 12px;
}

/* ___________________________________________________________ navigation */

ul {
	position : relative;
	overflow : hidden;
	left : 25px;
	background : url(../img/icon/accessory/entrance/r18.gif) no-repeat top center;
	text-align : center;
	width : 170px;
	height : 40px;
}
ul li {
	width : 55px;
	height : 40px;
}
ul li a {
	position : absolute;
	top : 0;
	padding : 40px 0 0 0;
	width : 55px;
	height : 40px;
}
ul li#enter a {
	left : 115px;
	background : url(../img/icon/accessory/entrance/enter.gif) no-repeat;
}
ul li#leave a {
	left : 0;
	background : url(../img/icon/accessory/entrance/leave.gif) no-repeat;
}
/* 風俗情報ENTERボタン */
a.heavenbutton {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*background: -moz-linear-gradient(top, #C9DEFA, #5792FF 49%, #0031FE 50%, #1664FF);
	background: -webkit-gradient(linear, center top, center bottom, from(#C9DEFA), color-stop(0.49, #5792FF),color-stop(0.5, #0031FE), to(#1664FF));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#C9DEFA, EndColorStr=#1664FF);*/
	background: -moz-linear-gradient(top, #5792FF, #1664FF);
	background: -webkit-gradient(linear, center top, center bottom, from(#5792FF), to(#1664FF));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#5792FF, EndColorStr=#1664FF);
	background: linear-gradient(to bottom, #5792FF, #1664FF);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	border:1px solid #4D6ABF;
	color:white;
	text-decoration:none;
	text-align:center;
	display:block;
	width: 90%;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	margin: 0 auto;
	border-radius: 4px;
}

/* 女性求人ENTERボタン */
a.girlsbutton {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: -moz-linear-gradient(top, #FFFFFF, #E1E1E1);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#E1E1E1));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#E1E1E1);
	background: linear-gradient(to bottom, #FFFFFF, #E1E1E1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	border:1px solid #999999;
	color: #333333;
	text-decoration:none;
	text-align:center;
	display:block;
	width: 90%;
	height: 38px;
	line-height: 38px;
	font-size: 15px;
	margin: 0 auto;
	border-radius: 4px;
}
a.girlsbutton span{
	display: block;
	text-align: center;
	font-weight: bold;
	color: #F39;
	line-height: 14px;
	font-size: 13px;
}
/* キャバクラENTERボタン */
a.nightsbutton {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*background: -moz-linear-gradient(top, #ded89d, #e6de8b 49%, #a78b13 50%, #d9ce5f);
	background: -webkit-gradient(linear, center top, center bottom, from(#ded89d), color-stop(0.49, #e6de8b),color-stop(0.5, #a78b13), to(#d9ce5f));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#a78b13, EndColorStr=#d9ce5f);*/
	background: -moz-linear-gradient(top, #d9ce5f, #c3b84b);
	background: -webkit-gradient(linear, center top, center bottom, from(#d9ce5f), to(#c3b84b));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#d9ce5f, EndColorStr=#c3b84b);
	background: linear-gradient(to bottom, #d9ce5f, #c3b84b);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	border:1px solid #999999;
	color: #FFFFFF;
	text-decoration:none;
	text-align:center;
	display:block;
	width: 90%;
	height: 38px;
	line-height: 38px;
	font-size: 15px;
	margin: 0 auto;
	border-radius: 4px;
}

div#contents div.btn a:hover{
	text-decoration: none;
}
/* ___________________________________________________________ sponsor */

p#sponsor {
	float : right;
	margin : 11px 11px 0 0;
	width : 509px;
	height : 367px;
}
*html p#sponsor {
	margin : 11px 5px 0 11px;
}

/* =====================================================================
	footer
====================================================================== */

div#footer {
	width : 800px;
	margin : 5px 0 -25px 0;
}

/* =================================================================== */