@charset "utf-8";

h3{
   color:#666666;
   }
   
h4 {
	font-size : 1.0em;
}

a {
	font-size: 80%;
	color : #3366cc;
	text-decoration : none;
}
a:link {
}
a:visited {
}
a:hover {
	text-decoration : underline;
}
a:active {
}


/* =====================================================================
	NenreiCheck
====================================================================== */
div#nenrei {
	overflow : auto;
	position : absolute;
	top : 50%;
	left : 50%;
	font-size : 1.0em;
	width : 820px;
}


div#gg1{
		margin:20px 0 30px 10px;
		width : 780px;
		color:#666666;
		 }

*html div#gg1{
		margin:10px 0 30px 10px;
		width : 780px;
		color:#666666;
		font-size:9px;
		 }
	 
*+html div#gg1{
		margin:20px 0 30px 10px;
		width : 780px;
		color:#666666;
		font-size:9px;
		height: 1000px;
		 }
		 
div#gg1 .explain{
padding-left:5px;
font-size: 80%;
		 }
		 
.arealink{
	font-size: 85%;
}

.arealink a{
	font-size: 85%;
}
		 
div.area_link{
		 color:#666666;
		 margin-top:10px;
		 text-decoration:none;
}
		 
.link_deco{
			  text-decoration:none;
			  color:#666666;
}
		 
.link_deco2{
			  text-decoration:none;
			  color:#999999;
}
 
#gg2 {
margin: 0;
padding:0;
margin-left:0px;
margin-bottom:20px;
width: 100%;
}

*html #gg2 {
margin: 0;
padding:0;
margin-left:0px;
margin-bottom:20px;
width: 100%;
}

*+html #gg2 {
margin: 0;
padding:0;
margin-left:0px;
margin-bottom:20px;
width: 100%;
}


#gg2 ul { 
width: 100%;
list-style-type:none;
}

*html #gg2 ul.list {
width: 100%;
list-style-type:none;
margin-top:-10px;
}

*+html #gg2 ul.list { 
width: 100%;
list-style-type:none;
margin-top:-10px;
}

#gg2 li { 
color:#999999;
display:inline; 
width : 33px;
float:left;
border-right:1px solid #999;
text-align:center;
font-size : 1.0em;
}

*html #gg2 li { 
color:#999999;
display:inline; 
width : 36px;
float:left;
border-right:1px solid #999;
text-align:center;
font-size : 1.0em;
margin-bottom:3px;
}

*+html #gg2 li { 
color:#999999;
display:inline; 
width : 34px;
float:left;
border-right:1px solid #999;
text-align:center;
font-size : 0.9em;
margin-bottom:3px;
}

br.type1{
		 margin-bottom:3px;
		 }
		 
*html br.type1{
         margin-bottom:30px;
		 }

*+html br.type1{
         margin-bottom:30px;
		 }

div#gg3{
		margin-left:-5px;
		margin-top:10px;
		margin-bottom:50px;
		width: 100%;
		color:#666666;
		font-size : 1.0em;
		 }

*html div#gg3{
		margin-left:0px;
		margin-top:20px;
		margin-bottom:20px;
		width: 100%;
		color:#666666;
		font-size : 1.0em;
		 }
	 
*+html div#gg3{
		margin-left:-5px;
		margin-top:20px;
		margin-bottom:20px;
		width: 100%;
		color:#666666;
		font-size : 1.0em;
		 }

#gg3 .title{
            width:784px;
			height:17px;
			background-color:#EFF3F8;
			vertical-align:middle;
			padding-left:15px;
			padding-top:3px;
}

*html #gg3 .title{
            width:794px;
			height:17px;
			background-color:#EFF3F8;
			vertical-align:middle;
			padding-left:15px;
			padding-top:3px;
}


#gg3 .title_block{
            width:799px;
			height:20px;
}

*+html #gg3 .title_block{
            width:799px;
			height:20px;
			margin-top:5px;
}

#gg3 .title_block1{
            width:799px;
			height:20px;
}

*+html #gg3 .title_block1{
            width:799px;
			height:20px;
			margin-top:0px;
}

#gg3 .title_m{
            width:380px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			float:left;
}

*html #gg3 .title_m{
            width:392px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			float:left;
}

*+html #gg3 .title_m{
            width:380px;
			height:15px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:5px;
			float:left;
}

#gg3 .title_m1{
            width:380px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			margin-left:9px;
			float:left;
}

*html #gg3 .title_m1{
            width:392px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			margin-left:9px;
			float:left;
}

*+html #gg3 .title_m1{
            width:380px;
			height:15px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:5px;
			margin-left:9px;
			float:left;
}


#gg4 {
margin: 0;
padding:0;
margin:60px 0px 30px 0px;
width: 100%;
color:#666666;
font-size : 1.0em;
}

*html #gg4 {
margin:30px 0px 30px 0px;

}

*+html #gg4 {
margin:40px 0px 30px 0px;
font-size : 0.9em;
}


#gg4 .exp{
            width:777px;
			height:40px;
			background-color:#F8FAFC;
			vertical-align:middle;
			padding:10px 10px 10px 10px;
}

*html #gg4 .exp{
            width:792px;
			height:30px;
}

*+html #gg4 .exp{
            width:792px;
			height:40px;
			padding:20px 0 0 10px;
}

.bookmark {
width: 780px;
position:absolute;
margin-top:-10px;
}
*+html .bookmark {
width: 780px;
position:absolute;
margin-top:-10px;
}
*html .bookmark {
width: 780px;
position:absolute;
margin-top:-10px;
}
.bookmark_left{
float: left;
margin-top:-10px;

}
*+html .bookmark_left{
float: left;
margin-top:-10px;

}
*html .bookmark_left{
float: left;
margin-top:-10px;

}
.bookmark_left a{
color:#3A97D2;
text-decoration:none;
font-size: 95%;
}
.bookmark_right{
float: right;
margin-top:-10px;

}
*+html .bookmark_right{
float: right;
margin-top:-10px;

}
*html .bookmark_right{
float: right;
margin-top:-10px;

}
.bookmark_right a{
color:#3A97D2;
text-decoration:none;
font-weight: bold;
font-size: 12px;
}

/* =====================================================================
	footer
====================================================================== */
div#footer {
margin:25px auto 0;
padding:17px 0 0;
text-align:center;
width:990px;
}

div#footer address {
font-size:80%;
margin:15px auto 3px;
}

div#footer ul, div#footer address, div#footer p, div#footer div#end {
font-size:80%;
margin:0 auto;
padding:0 0 3px 25px;
text-align:left;
}