@charset "utf-8";

h3{
   color:#666666;
   }
   
h4 {
	font-size : 1.0em;
}

a {
	font-size: 12px;
	color : #2242AB;
	text-decoration : none;
}
a:link {
}
a:visited {
}
a:hover {
	text-decoration : underline;
}
a:active {
}


/* =====================================================================
	NenreiCheck
====================================================================== */
div#nenrei {
	overflow : auto;
	position : absolute;
	top : 50%;
	left : 50%;
	font-size : 1.0em;
	width : 820px;
}


div#gg1{
		margin:20px 0 30px 10px;
		width : 780px;
		color:#666666;
		 }

div#gg2{
		margin:20px 0 20px 10px;
		width : 780px;
		color:#666666;
		 }

*html div#gg1{
		margin:10px 0 30px 10px;
		width : 780px;
		color:#666666;
		font-size:9px;
		 }
	 
*+html div#gg1{
		margin:20px 0 30px 10px;
		width : 780px;
		color:#666666;
		font-size:9px;
		height: 1000px;
		 }
		 
div#gg1 .explain{
padding-left:5px;
font-size: 11px;
		 }
		 
.arealink{
	font-size: 12px;
	clear: both;
}

.arealink a{
	font-size: 12px;
}
		 
div.area_link{
		 color:#666666;
		 margin-top:10px;
		 text-decoration:none;
}
		 
.link_deco{
			  text-decoration:none;
			  color:#666666;
}
		 
.link_deco2{
			  text-decoration:none;
			  color:#999999;
}
 
#gg2 {
margin: 0;
padding:0;
margin-left:0px;
margin-bottom:20px;
width: 100%;
}

*html #gg2 {
margin: 0;
padding:0;
margin-left:0px;
margin-bottom:20px;
width: 100%;
}

*+html #gg2 {
margin: 0;
padding:0;
margin-left:0px;
margin-bottom:20px;
width: 100%;
}


#gg2 ul { 
width: 100%;
list-style-type:none;
}

*html #gg2 ul.list {
width: 100%;
list-style-type:none;
margin-top:-10px;
}

*+html #gg2 ul.list { 
width: 100%;
list-style-type:none;
margin-top:-10px;
}

#gg2 li { 
color:#999999;
display:inline; 
width : 33px;
float:left;
border-right:1px solid #999;
text-align:center;
font-size : 1.0em;
}

*html #gg2 li { 
color:#999999;
display:inline; 
width : 36px;
float:left;
border-right:1px solid #999;
text-align:center;
font-size : 1.0em;
margin-bottom:3px;
}

*+html #gg2 li { 
color:#999999;
display:inline; 
width : 34px;
float:left;
border-right:1px solid #999;
text-align:center;
font-size : 0.9em;
margin-bottom:3px;
}

br.type1{
		 margin-bottom:3px;
		 }
		 
*html br.type1{
         margin-bottom:30px;
		 }

*+html br.type1{
         margin-bottom:30px;
		 }

div#gg3{
		margin-left:-5px;
		margin-top:10px;
		margin-bottom:50px;
		width: 100%;
		color:#666666;
		font-size : 1.0em;
		 }

*html div#gg3{
		margin-left:0px;
		margin-top:20px;
		margin-bottom:20px;
		width: 100%;
		color:#666666;
		font-size : 1.0em;
		 }
	 
*+html div#gg3{
		margin-left:-5px;
		margin-top:20px;
		margin-bottom:20px;
		width: 100%;
		color:#666666;
		font-size : 1.0em;
		 }

#gg3 .title{
            width:784px;
			height:17px;
			background-color:#EFF3F8;
			vertical-align:middle;
			padding-left:15px;
			padding-top:3px;
}

*html #gg3 .title{
            width:794px;
			height:17px;
			background-color:#EFF3F8;
			vertical-align:middle;
			padding-left:15px;
			padding-top:3px;
}


#gg3 .title_block{
            width:799px;
			height:20px;
}

*+html #gg3 .title_block{
            width:799px;
			height:20px;
			margin-top:5px;
}

#gg3 .title_block1{
            width:799px;
			height:20px;
}

*+html #gg3 .title_block1{
            width:799px;
			height:20px;
			margin-top:0px;
}

#gg3 .title_m{
            width:380px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			float:left;
}

*html #gg3 .title_m{
            width:392px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			float:left;
}

*+html #gg3 .title_m{
            width:380px;
			height:15px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:5px;
			float:left;
}

#gg3 .title_m1{
            width:380px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			margin-left:9px;
			float:left;
}

*html #gg3 .title_m1{
            width:392px;
			height:17px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:3px;
			margin-top:5px;
			margin-left:9px;
			float:left;
}

*+html #gg3 .title_m1{
            width:380px;
			height:15px;
			background-color:#EFF3F8;
			border-left:5px solid #3A97D2;
			vertical-align:middle;
			padding-left:10px;
			padding-top:5px;
			margin-left:9px;
			float:left;
}


#gg4 {
margin: 0;
padding:0;
margin:60px 0px 30px 0px;
width: 100%;
color:#666666;
font-size : 1.0em;
}

*html #gg4 {
margin:30px 0px 30px 0px;

}

*+html #gg4 {
margin:40px 0px 30px 0px;
font-size : 0.9em;
}


#gg4 .exp{
            width:777px;
			height:40px;
			background-color:#F8FAFC;
			vertical-align:middle;
			padding:10px 10px 10px 10px;
}

*html #gg4 .exp{
            width:792px;
			height:30px;
}

*+html #gg4 .exp{
            width:792px;
			height:40px;
			padding:20px 0 0 10px;
}

.bookmark {
width: 780px;
position:absolute;
margin-top:-10px;
}
*+html .bookmark {
width: 780px;
position:absolute;
margin-top:-10px;
}
*html .bookmark {
width: 780px;
position:absolute;
margin-top:-10px;
}
.bookmark_left{
float: left;
margin-top:-10px;

}
*+html .bookmark_left{
float: left;
margin-top:-10px;

}
*html .bookmark_left{
float: left;
margin-top:-10px;

}
.bookmark_left a{
color:#2242AB;
text-decoration:none;
font-size: 12px;
}
.bookmark_right{
float: right;
margin-top:-10px;

}
*+html .bookmark_right{
float: right;
margin-top:-10px;

}
*html .bookmark_right{
float: right;
margin-top:-10px;

}
.bookmark_right a{
color:#2242AB;
text-decoration:none;
font-weight: bold;
font-size: 12px;
}


/* =====================================================================
	年齢認証footer PC板
====================================================================== */
#areaSearch_NenreiCheck * {
    height: auto;
    margin: 0;
    padding: 0;
    position: static;
    width: auto;
    color: #333;   
}
#areaSearch_NenreiCheck {
    margin: 0 0 30px;
}
#areaSearch_NenreiCheck ul {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-align: left;
}
#areaSearch_NenreiCheck a {
	 color: #2242ab;
}
#areaSearch_NenreiCheck dl::after,#areaSearch_NenreiCheck ul::after{
	clear: both;
	display: block;
	content: "";
}
#areaSearch_NenreiCheck #prefecture-wrap {
    border-top: 1px solid #ddd;
    padding: 1px 0 0;
}
#areaSearch_NenreiCheck #prefecture-wrap > h2 {
    color: #fe9a2e;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
  background: url(bg_sample-gradient.png) 0 0 repeat-x;/* Old browsers */
  background: -moz-linear-gradient(top,  #f0f0f0 0%, #FFFFFF 50%, #FFFFFF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#FFFFFF 50%,#FFFFFF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f0f0f0 0%,#FFFFFF 50%#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f0f0f0 0%,#FFFFFF 50%#FFFFFF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f0f0f0 0%,#FFFFFF 50%#FFFFFF 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f0f0f0 0%,#FFFFFF 50%#FFFFFF 100%); /* W3C,IE+10 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
  background-color:#fff;
}
#areaSearch_NenreiCheck .prefectur-list li {
    border-right: 1px solid #a0a0a0;
    float: left;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}
#areaSearch_NenreiCheck .prefectur-list li a{
	text-decoration: underline;
}
#areaSearch_NenreiCheck .prefectur-list {
    padding:10px;
}
#areaSearch_NenreiCheck .prefectur-list:nth-of-type(2n+2) {
	background: #eeeeee;
	border:1px dotted #dddddd;
}
#areaSearch_NenreiCheck .prefectur-list:nth-last-of-type(1) {
    border-bottom: 1px dotted #ddd;
}
#areaSearch_NenreiCheck .prefectur-list li:nth-last-of-type(1) {
    border: medium none;
}
#areaSearch_NenreiCheck .contents-text {
    font-size: 12px;
    margin: 32px 0 7px;
    color: #333;
}
/*-------------------
アコーディオンタブ
---------------------*/
#areaSearch_NenreiCheck #accordion-wrap {
    position: relative;
    margin-bottom: 30px;
}
#areaSearch_NenreiCheck .accordion-tab{
	border-bottom: 3px solid #fe9a2e;
}
#areaSearch_NenreiCheck .accordion-tab li {
    float: left;
    display: table;
    margin: 0 2px 0 0;
}
#areaSearch_NenreiCheck .accordion-tab li:nth-last-of-type(1) {
    margin: 0;
}

#areaSearch_NenreiCheck .accordion-tab li a {
    border-left: 1px solid #e6e6e6;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: table-cell;
    font-size: 10px;
    font-weight: bold;
    height: 40px;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
    color: #333;
    transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
#areaSearch_NenreiCheck .accordion-tab li a:hover {
	text-decoration: none;
}
#areaSearch_NenreiCheck .accordion-tab li .tab-active {
    background: #fe9a2e none repeat scroll 0 0;
    color: #fff;
    border-left: 1px solid #fe9a2e;
    border-right: 1px solid #fe9a2e;
    border-top: 1px solid #fe9a2e;
}
#areaSearch_NenreiCheck .accordion-inner dt {
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding: 10px 0 0 10px;
}
#areaSearch_NenreiCheck .accordion-inner dd {
	float: left;
	width: 100%;
}
#areaSearch_NenreiCheck .accordion-list {
    margin: 0;
    padding: 10px;
}
#areaSearch_NenreiCheck .accordion-list:nth-of-type(2n+2) {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px dotted #dddddd;
}
#areaSearch_NenreiCheck .accordion-list li {
    float: left;
    margin: 0 5px 0 0;
}
#areaSearch_NenreiCheck .accordion-list li:nth-last-of-type(1) a {
	border: none;
}
#areaSearch_NenreiCheck .accordion-list li a {
	font-size: 12px;
	border-right: 1px solid #a0a0a0;
	padding: 0 8px 0 0;
}
#areaSearch_NenreiCheck .accordion-inner{
	transition: all 0.2s ease 0s;
	opacity: 0;
	position: relative;
	z-index: 0;
	display: none;
}
#areaSearch_NenreiCheck .accordion-inner dl{
	margin: 0 0 5px 0;
}
#areaSearch_NenreiCheck .list-active{
	opacity: 1;
	z-index: 10;
	display: block;
}
#areaSearch_NenreiCheck .list-border {	
	border-bottom:1px dotted #ddd;
}
.kyabakura-list:nth-last-of-type(1) {
    border-bottom: 1px dotted #ccc;
}
/*-------タブリスト個別指定-------*/
#areaSearch_NenreiCheck #ac_tab01{
	padding: 0;
}
#areaSearch_NenreiCheck #ac_tab01 dl{
	padding: 10px;
	margin: 0;
}
#areaSearch_NenreiCheck #ac_tab01 dt{
	padding: 0;
	margin: 0;
	width: 90px;
}
#areaSearch_NenreiCheck #ac_tab01 dl .accordion-list{
	padding: 0;
	margin: 0;
}
#areaSearch_NenreiCheck #ac_tab01 dl:nth-last-of-type(1) {
    border-bottom: 1px dotted #ddd;
}
#areaSearch_NenreiCheck #ac_tab01 dl dd{
	width: 660px;
}
#areaSearch_NenreiCheck #ac_tab01 dl:nth-of-type(2n+2) {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px dotted #dddddd;
}
#areaSearch_NenreiCheck #ac_tab01 dl .accordion-list li{
	margin: 0 5px 0 0;
}

#areaSearch_NenreiCheck #ac_tab04 dl {
    margin: 0 0 15px 0;
}
#areaSearch_NenreiCheck #ac_tab04 dl {
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}
#areaSearch_NenreiCheck #ac_tab05.accordion-inner dt {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    margin: 0 ;
}
/*-------キャバクラ情報＆飲み屋情報-------*/
#areaSearch_NenreiCheck #kyabakura-wrap{
	margin: 0;
}
#areaSearch_NenreiCheck .kyabakura-inner {
    padding: 0;
}

#areaSearch_NenreiCheck .kyabakura-inner dt {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    width: 100%;
}
#areaSearch_NenreiCheck .kyabakura-inner dd {
	float: left;
	width: 100%;
}
#areaSearch_NenreiCheck .kyabakura-list li {
    float: left;
    margin: 0 5px 0 0;
}
#areaSearch_NenreiCheck .kyabakura-list{
    margin: 0;
    padding: 10px;
}
#areaSearch_NenreiCheck .kyabakura-list-color {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px dotted #dddddd;
}
#areaSearch_NenreiCheck .kyabakura-list li a {
    border-right: 1px solid #a0a0a0;
    font-size: 12px;
    padding: 0 5px 0 0;
}
#areaSearch_NenreiCheck .kyabakura-list li:nth-last-of-type(1) a {
    border: medium none;
}
/* =====年齢認証footer.PC板end========================================  */
