/**
 * Add text colors to the playlist shortcode light color scheme.
 * 
 * Core ticket: https://core.trac.wordpress.org/ticket/27562
 */

.wp-playlist-light {
	color: #000;
}

.wp-playlist-light .wp-playlist-item {
	color: #333;
}

.wp-playlist-light .wp-playlist-playing {
	background: #fff;
	color: #000;
}

.wp-playlist-dark .wp-playlist-item .wp-playlist-caption {
	color: #fff;
}

.wp-playlist-caption {
	display: block;
}/**
 * MP6 hacks, CSS that's either WPCOM specific or otherwise not suitably for MP6 proper
 */

/* Invert stats sparkline on light theme */
body.admin-color-mp6-light li#wp-admin-bar-stats img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

/* Fix dashicons priority so Japanese users can use the toolbar. Should long term be fixed in whatever plugin that forces all fonts to be Arial */
i.mce-i-bold, i.mce-i-italic, i.mce-i-bullist, i.mce-i-numlist, i.mce-i-blockquote, i.mce-i-alignleft, i.mce-i-aligncenter, i.mce-i-alignright, i.mce-i-link, i.mce-i-unlink, i.mce-i-wp_more, i.mce-i-strikethrough, i.mce-i-spellchecker, i.mce-i-fullscreen, i.mce-i-wp_fullscreen, i.mce-i-wp_adv, i.mce-i-underline, i.mce-i-alignjustify, i.mce-i-forecolor, i.mce-i-pastetext, i.mce-i-pasteword, i.mce-i-removeformat, i.mce-i-charmap, i.mce-i-outdent, i.mce-i-indent, i.mce-i-undo, i.mce-i-redo, i.mce-i-help, i.mce-i-wp_help, i.mce-i-wp-media-library, i.mce-i-ltr, i.mce-i-wp_page, .mce-close {
	font: normal 20px/1 'dashicons' !important;
}

.dashicons, .dashicons-before:before {
	font-family: 'dashicons' !important;
}

.noticon {
	font-family: "Noticons" !important;
}.bbp-staff-role {
	color: #f1831e;
}

.bbp-a8c-reply {
	background: #e9eff3 !important;
	border: 1px solid #c8d7e1;
	width: 98% !important;
}.nypost-gif-player,.nypost-gif-player .post-image{position:relative}.nypost-gif-player .post-image-cover{content:'';position:absolute;left:0;top:0;background:0 0;width:100%;height:100%;z-index:0;cursor:pointer}.nypost-gif-player .gif-image-wrapper{display:inline-block;position:relative}.nypost-gif-player .gif-control{position:absolute;left:50%;top:50%;width:40px;height:40px;cursor:pointer;z-index:10;outline:0}.nypost-gif-player .gif-control.icon-play{border:4px solid #c33;border-radius:50%;padding:0;margin-left:-20px;margin-top:-20px;color:#fff;background:0 0;font-size:16px;cursor:pointer}.nypost-gif-player .gif-control.icon-play:before{margin-left:3px}.pagesix .nypost-gif-player .gif-control.icon-play{border:4px solid #f7cb00}.decider .nypost-gif-player .gif-control.icon-play{border:4px solid #00a1ff}.nypost-gif-player .gif-control span,.nypost-gif-player .gif-control[data-player-state=play]{display:none}
/*# sourceMappingURL=nypost-animated-gif.min.css.map */