body {
	padding-top: 0;
}
.global-header {
	background: none;
	position: relative;
}
.white {
	color: #fff;
}
.blue {
	color: #177cff;
}
.navy {
	color: #1c355e;
}
.small {
	color: #044419;
	font-size: 12px;
}
.grey {
	color: #8898a2;
}
.strong {
	font-weight: bold;
}
.desktop {
	display: inline-block;
}
.mobile {
	display: none;
}
.nflpa-logo {
	width: 30px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 9;
}
.header-arrows {
	width: 100%;
	margin-top: -30px;
	height: 20px;
	text-align: center;
	position: relative;
	z-index: 100;
}
.arrows {
	width: 30px;
}
.arrows path {
	width: 30px;
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}
@keyframes arrow {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}
.arrows path.a1 {
	animation-delay:-.5s;
	-webkit-animation-delay:-.5s; /* Safari 和 Chrome */
}
.arrows path.a2 {
	animation-delay:-0.25s;
	-webkit-animation-delay:-0.25s; /* Safari 和 Chrome */
}
.nav-offer-fixed {
	width: 100%;
	height: 66px;
	position: fixed;
	z-index: 9999;
	top: 0;
	display: none;
}
.nav-offer-container {
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
	background: #1493ff;
	width: 100%;
	padding: 0 5%;
}
.nav-offer {
	margin: auto;
	max-width: 1420px;
}
.fixed-state {
	display: block;
}
.default-state {
	margin-top: -66px;
}
.active-state {
	margin-top: 0;
}
.offer-copy {
	height: 65px;
	line-height: 65px;
	vertical-align: middle;
	float: left;
}
.join-menu-block-offer {
	height: 65px;
	margin-right: 12px;
	line-height: 65px;
	vertical-align: middle;
	font-weight: bold;
}
.header-container {
	margin-top: -66px;
	width: 100%;
	position: relative;
	min-height: 590px;
	background-color: #1e355f;
	background-image: -webkit-linear-gradient(0deg, #1e355f 70%, #0090ff 30%);
}
.player-imagery {
	position: absolute;
	right: 0;
	width: 750px;
	height: 590px;
	background-image: -webkit-linear-gradient(0deg, #1e355f 31.5%, #0090ff 68.5%);
}
.player-imagery-mobile{
	display: none;
}
.player-imagery-phone {
	display: none;
}
.player-image1 {
	position: absolute;
	background-size: cover;
	width: 750px;
	height: 590px;
	animation: fade 20s infinite;
	-webkit-animation: fade 20s infinite;
}
.player-image2 {
	position: absolute;
	background-size: cover;
	width: 750px;
	height: 590px;
	background-size: cover;
	animation: fade2 20s infinite;
	-webkit-animation: fade2 20s infinite;
}
@keyframes fade {
	0% { opacity: 1; }
	20% { opacity: 1; }
	40% { opacity: 0; }
	60% { opacity: 0; }
	80% { opacity: 1; }
	100% { opacity: 1; }
}
@keyframes fade2 {
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 1; }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
.header {
	width: 100%;
	max-width: 1420px;
	margin: auto;
	position: relative;
	min-height: 590px;
}
.header-content {
	position: absolute;
	top: 60%;
	transform: translateY(-60%);
}
.header-h3 {
	line-height: 0px;
}
.header-h1 {
	font-size: 45px;
	margin-bottom: 80px;
}
.header-h2 {
	line-height: 0px; 
}
.offer-details {
	margin: 60px 0 0 0;
}
.header-links {
	color: #fff;
	text-decoration: underline;
}
.header-links:hover {
	color: #fff;
	text-decoration: none;
}
.header-button {
	font-size: 18px;
	padding: 8px 20px;
}
.page-navigation-container {
	width: 100%;
	position: relative;
	min-height: 80px;
	z-index: 2;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.page-navigation {
	margin: auto;
	max-width: 1420px;
}
.page-link {
	width: 33%;
	float: left;
	min-height: 80px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.middle-link {
	margin: 0 .5%;
	border-left: 2px solid #1c355e;
	border-right: 2px solid #1c355e;
}
.vertical-align {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.section-2-container {
	background: #f5f8fc;
	min-height: 620px;
	width: 100%;
	padding: 50px 0;
}
.section-2-content {
	max-width: 1200px;
	width: 98%;
	margin: auto;
}
.section-2-image {
	float: left;
	width: 45%;
	margin-right: 5%;
}
.section-2-copy {
	width: 50%;
	float: left;
}
.step {
	min-height: 50px;
	position: relative;
}
.step-image {
	width: 4%;
	float:left;
}
.step-copy {
	float: left;
	margin-left: 4%;
	width: 92%;
	padding: 12px 0;
}
.step-head {
	font-weight: bold;
	font-size: 20px;
	line-height: 0px;
}
.step-sub {
	line-height: 0;
	font-size: 13px;
}
.section-3-container {
	background: #fff url('https://s3.amazonaws.com/cdn.fanduel.com/images/pages/new-homepage-sept2016/stadium.jpg') no-repeat;
	background-position: center center;
	width: 100%;
	margin-top: -160px;
	padding-top: 140px;
	padding-bottom: 50px;
}
.section-3-content {
	max-width: 1200px;
	width: 98%;
	margin: auto;
}
.section-3-copy {
	width: 50%;
	float: left;
	margin-right: 5%;
}
.section-3-image {
	float: left;
	width: 45%;
	border: 2px solid #177cff;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.disclaimer {
	padding-top: 20px;
	font-size: 10px;
	text-align: center;
}
.section-4-container {
	background: #1c355e;
	background-position: 0% 120%;
	width: 100%;
	padding: 50px 0 60px;
}
.section-4-content {
	max-width: 1200px;
	width: 98%;
	margin: auto;
}
.section-4-copy {
	width: 100%;
	text-align: center;
}
.section-4-slider {
	max-width: 1000px;
	margin: auto;
}
.pad-me {
	padding-top: 30px;
}
.card {
	width: 32%;
	float: left;
	text-align: center;
}
.middle-card {
	margin: 0 2%;
}
.card-header {
	background-color: #177cff;
	padding: 30px 0;
}
.purple {
	background-color: #887aef;
}
.light-blue {
	background-color: #1493ff;
}
.light-green {
	background-color: #2cb459;
}
.card-body {
	background-color: #fff;
	padding: 50px 30px 30px;
}
.section-5-container {
	background: #f0f3f8;
	width: 100%;
}
.section-5-content {
	max-width: 1200px;
	margin: auto;
}
.section-5-copy {
	width: 50%;
	float: left;
	padding: 30px 50px 0 30px;
}
.section-5-image {
	float: left;
	width: 50%;
}
.sportsrich-h1 {
	padding-top: 10px;
	padding-bottom: 30px;
	line-height: 0;
	font-size: 60px;
}
.sportsrich-p {
	font-size: 14px;
}
.section-6-container {
	background: #fff;
	width: 100%;
	padding: 50px 0;
}
.section-6-content {
	max-width: 1000px;
	margin: auto;
}
.offer-step-content {
	max-width: 1000px;
	width: 98%;
	margin: auto;
	padding-top: 50px;
	text-align: center;
}
.section-6-copy {
	width: 70%;
	float: left;
	padding: 0 0 0 30px;
}
.section-6-image {
	float: left;
	width: 30%;
	text-align: center;
}
.offer-badge {
	width: 150px;
	margin: auto;
}
.offer-step {
	width: 32%;
	float: left;
	text-align: center;
}
.middle-offer-step {
	margin: 0 2%;
}
.offer-step-icon {
	max-width: 75px;
	margin: auto;
}
.offer-step-copy {
	padding: 15px 0 50px;
}
.offer-button-container {
	width: 100%;
	margin: auto;
	text-align: center;
}
.constrained-paragraph {
	width: 70%;
	margin: auto;
}
.section-7-container {
	background: #1493ff;
	width: 100%;
}
.section-7-content {
	max-width: 1200px;
	margin: auto;
	min-height: 267px;
	position: relative;
}
.section-7-copy {
	width: 50%;
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
}
.section-7-image {
	position: absolute;
	margin-top: -148px;
	margin-left: -100px;
	max-width: 600px;
}
.quote-p {
	margin-top: -20px;
	line-height: 0;
}
.section-8-container {
	background: #fff;
	width: 100%;
	padding: 50px 0 0;
}
.section-8-content {
	width: 98%;
	max-width: 1200px;
	margin: auto;
}
.section-8-copy {
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}
.featured-logo {
	height: 50px;
}
.featured-logo-fox {
	height: 70px;
	margin-top: -8px;
}
.section-9-container {
	background: #192a49;
	width: 100%;
	padding: 50px 0;
}
.section-9-content {
	max-width: 1200px;
	width: 98%;
	margin: auto;
}
.section-9-copy {
	width: 35%;
	float: left;
	margin-left: 5%;
	min-height: 323px;
	position: relative;
}
.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.section-9-image {
	float: left;
	width: 50%;
}
@media screen and (max-width: 1600px) {
	.header-content {
		padding-left: 70px;
	}
}
@media screen and (max-width: 1210px) {
	.header {
		overflow: hidden;
	}
	.player-imagery {
		right: -60px;
	}
	.header-h3 {
		font-size: 20px;
	}
	.header-h1 {
		font-size: 36px;
	}
	.header-h2 {
		font-size: 26px;
	}
}
@media screen and (max-width: 1100px) {
	.section-3-container {
		margin-top: -160px;
		padding-top: 50px;
	}
	.section-3-content {
		width: 96%;
	}
	.section-5-content .desktop {
		display: none;
	}
	.section-5-content .mobile {
		display: block;
		float: none;
		margin: auto;
		width: 100%;
	}
	.section-5-copy {
		width: 98%;
		text-align: center;
		margin: auto;
		float: none;
	}
	.sportsrich-h1 {
		font-size: 45px;
	}
	.section-7-image {
		position: absolute;
		margin-top: -121px;
		margin-left: -100px;
		max-width: 560px;
	}
}
@media screen and (max-width: 1040px) {
	.player-imagery.desktop {
		display: none;
	}
	.player-imagery-mobile {
		display: block;
		position: absolute;
		bottom: 0;
		min-height: 590px;
		width: 100%;
	}
	.player-image-mobile1 {
		position: absolute;
		width: 100%;
		min-height: 590px;
		background-size: cover;
		background-position: -10% center;
		animation: mobile 30s infinite;
		-webkit-animation: mobile 30s infinite;
	}
	.player-image-mobile2 {
		position: absolute;
		width: 100%;
		min-height: 590px;
		background-size: cover;
		background-position: -10% center;
		animation: mobile2 30s infinite;
		-webkit-animation: mobile2 30s infinite;
	}
	.player-image-mobile3 {
		position: absolute;
		width: 100%;
		min-height: 590px;
		background-size: cover;
		background-position: -10% center;
		animation: mobile3 30s infinite;
		-webkit-animation: mobile3 30s infinite;
	}
	@keyframes mobile {
		0% { opacity: 1; }
		12.5% { opacity: 1; }
		25% { opacity: 0; }
		37.5% { opacity: 0; }
		50% { opacity: 0; }
		62.5% { opacity: 0; }
		75% { opacity: 0; }
		87.5% { opacity: 0; }
		100% { opacity: 1; }
	}
	@keyframes mobile2 {
		0% { opacity: 0; }
		12.5% { opacity: 0; }
		25% { opacity: 1; }
		37.5% { opacity: 1; }
		50% { opacity: 1; }
		62.5% { opacity: 0; }
		75% { opacity: 0; }
		87.5% { opacity: 0; }
		100% { opacity: 0; }
	}
	@keyframes mobile3 {
		0% { opacity: 0; }
		12.5% { opacity: 0; }
		25% { opacity: 0; }
		37.5% { opacity: 0; }
		50% { opacity: 0; }
		62.5% { opacity: 1; }
		75% { opacity: 1; }
		87.5% { opacity: 1; }
		100% { opacity: 0; }
	}
	.header-container {
		background-color: #1e355f;
		background-image: none;
	}
	.header {
		overflow: auto;
		width: 100%;
	}
	.header-content {
		position: relative;
		top: 320px;
		width: 98%;
		margin: auto;
		text-align: center;
		padding: 0;
	}
}
@media screen and (max-width: 980px) {
	.section-2-image {
		margin-left: -70px;
	}
	.section-2-copy {
		width: 57%;
		float: left;
	}
	.section-2-container {
		min-height: 610px;
	}
	.section-7-image {
		position: absolute;
		margin-top: -65px;
		margin-left: -100px;
		max-width: 480px;
	}
}
@media screen and (max-width: 955px) {
	.section-9-copy {
		width: 55%;
		float: left;
	}
	.section-9-image {
		width: 40%;
		padding-left: 20px;
		float: left;
		margin-top: 50px;
	}
}
@media screen and (max-width: 920px) {
	.section-2-container {
		min-height: 540px;
	}
	.section-3-container {
		margin-top: -90px;
		padding-top: 50px;
	}
	.section-3-content {
		width: 95%;
		margin: auto;
	}
	.section-3-copy {
		float: none;
		width: 100%;
		text-align: center;
	}
	.section-3-content .desktop {
		display: none;
	}
	.section-3-content .mobile {
		display: block;
		max-width: 260px;
		margin: 40px auto 0;
	}
	.section-3-ul {
		text-align: left;
		width: 364px;
		margin: auto;
	}
	.section-3-image {
		width: 90%;
		margin: 40px auto 0;
		float: none;
	}
	.section-4-content {
		width: 95%;
	}
	.card {
		float: none;
		width: 80%;
		margin: auto;
	}
	.middle-card {
		margin: 30px auto;
	}
	.section-7-container {
		padding: 50px 0;
		min-height: 400px;
	}
	.section-7-image.desktop {
		display: none;
	}
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -134px;
	}
	.section-7-copy {
		width: 80%;
		position: relative;
		top: auto;
		right: auto;
		transform: none;
		margin: auto;
		text-align: center;
	}
}
@media screen and (max-width: 900px) {
	.page-navigation-container {
		display: none;
	}
	.section-2-container {
		border-top: 3px solid #177cff;
	}
}
@media screen and (max-width: 866px) {
	.section-2-container {
		min-height: 550px;
	}
}
@media screen and (max-width: 860px) {
	.offer-copy {
		width: 60%;
		height: 65px;
		padding-top: 13px;
		line-height: 18px;
		font-size: 16px;
	}
}
@media screen and (max-width: 846px) {
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -167px;
	}
	.section-6-image {
		float: none;
		margin: auto;
		width: 50%;
	}
	.section-6-copy {
		text-align: center;
		width: 90%;
		margin: 30px auto 0;
		float: none;
		padding: 0;
	}
}
@media screen and (max-width: 820px) {
	.section-9-copy {
		width: 55%;
		float: left;
	}
	.section-9-image {
		width: 40%;
		padding-left: 20px;
		float: left;
		margin-top: 80px;
	}
}
@media screen and (max-width: 771px) {
	.player-image-mobile1 {
		background-position: bottom center;
	}
	.player-image-mobile2 {
		background-position: bottom center;
	}
	.player-image-mobile3 {
		background-position: bottom center;
	}
}
@media screen and (max-width: 755px) {
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -125px;
		max-width: 420px;
	}
}
@media screen and (max-width: 720px) {
	.section-2-content {
		width: 99%;
	}
	.section-2-container .mobile {
		display: block;
	}
	.section-2-container .desktop {
		display: none;
	}
	.section-2-image {
		margin-left: -70px;
	}
	.section-2-copy {
		width: 98%;
		float: none;
		margin: auto;
		text-align: center;
	}
	.step {
		width: 66%;
		margin: auto;
		text-align: left;
	}
	.step-image {
		width: 25px;
	}
	.step-copy {
		width: 85%;
	}
	.step-sub {
		line-height: 16px;
		margin-top: -9px;
	}
	.section-2-mobile-image {
		margin-left: -60px;
	}
}
@media screen and (max-width: 640px) {
	.header-container {
		margin-bottom: 10px;
	}
	.player-imagery-mobile {
		display: none;
	}
	.header {
		height: 750px;
	}
	.player-imagery-phone {
		display: block;
		position: absolute;
		bottom: 0;
		min-height: 590px;
		width: 100%;
	}
	.player-image-phone {
		position: absolute;
		width: 100%;
		min-height: 590px;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom center;
	}
	.mobile {
		display: inline-block;
	}
	.desktop {
		display: none;
	}
	.section-9-copy {
		width: 80%;
		float: none;
		margin: auto;
		text-align: center;
		min-height: 150px;
	}
	.section-9-image {
		width: 50%;
		float: none;
		margin: auto;
		text-align: center;
		padding: 0;
	}
}
@media screen and (max-width: 611px) {
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -91px;
		max-width: 370px;
		margin-left: -60px;
	}
}
@media screen and (max-width: 592px) {
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -124px;
		max-width: 370px;
		margin-left: -60px;
	}
}
@media screen and (max-width: 580px) {
	.nav-offer-container {
		padding: 0 2%;
	}
	.offer-copy {
		width: 50%;
		height: 65px;
		padding-top: 13px;
		line-height: 18px;
		font-size: 14px;
	}
}
@media screen and (max-width: 522px) {
	.offer-copy {
		width: 55%;
		height: 65px;
		padding-top: 13px;
		line-height: 18px;
		font-size: 12px;
	}
	.nav-offer .support-menu-block {
		display: none;
	}
}
@media screen and (max-width: 510px) {
	.header {
		height: 700px;
	}
	.header-h1 {
		font-size: 30px;
	}
}
@media screen and (max-width: 480px) {
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -82px;
		max-width: 310px;
		margin-left: -30px;
	}
}
@media screen and (max-width: 450px) {
	.homepage-h1 {
		font-size: 30px;
	}
	.homepage-h3 {
		font-size: 25px;
	}
	.homepage-h4 {
		font-size: 20px;
	}
	.section-3-ul {
		width: 80%;
	}
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -82px;
		max-width: 345px;
		margin-left: -30px;
	}
}
@media screen and (max-width: 430px) {
	.header {
		height: 660px;
	}
	.header-content {
		top: 310px;
	}
	.header-h1 {
		font-size: 40px;
		margin-bottom: 40px;
	}
	.header-h2 {
		font-size: 20px;
	}
	.header-p {
		font-size: 14px;
	}
	.offer-details {
		margin-top: 20px;
	}
}
@media screen and (max-width: 415px) {
	.offer-copy {
		width: 55%;
		height: 65px;
		padding-top: 13px;
		line-height: 18px;
		font-size: 11px;
	}
}
@media screen and (max-width: 400px) {
	.offer-copy {
		width: 55%;
		height: 65px;
		padding-top: 16px;
		line-height: 18px;
		font-size: 9px;
	}
	.nav-offer .login-menu-block {
		display: none;
	}
	.step {
		width: 90%;
	}
	.sportsrich-h1 {
		font-size: 35px;
	}
}
@media screen and (max-width: 349px) {
	.section-7-image.mobile {
		display: block;
		position: absolute;
		margin-top: -109px;
		max-width: 345px;
		margin-left: -90px;
	}
}