a:link, a:visited{color:#a90329;text-decoration:none;}
a:hover{text-decoration:underline;cursor:pointer;}
a.new_win:link, a.new_win:visited{text-decoration:none;}
a.new_win:hover{text-decoration:underline;}
table{empty-cells:show;}
body{background:#454A5C;background-position:center;background-position:top;font:12px/150% Tahoma, sans-serif;margin:0;padding:0;}
body#help_popup{padding:1em;}
body, td, th, tr{color:#555;}
div#wrapper{width:990px;margin:0 auto;}
form{padding:0;margin:0;}
input, button, select, textarea{font:95%/115% verdana, Helvetica, sans-serif;color:#000;background:#fff;border:1px solid #7f9db9;padding:2px;}
select{padding:0;}
select option{padding:1px;}
textarea{font:100%/130% verdana, Helvetica, sans-serif;}
.button_submit, .button_reset{background:#cde7ff url(../images/theme/submit_bg.png) no-repeat;border:1px solid #aaa;cursor:pointer;font-weight:normal;color:#fff;}
input:hover, textarea:hover, button:hover, select:hover{border:1px solid #454545;}
.button_submit:hover, .button_reset:hover{border:1px solid #aaa;background:url(../images/theme/submit_bg.png) no-repeat 0 -140px #cde7ff;}
input:focus, textarea:focus, button:focus, select:focus{border:1px solid #454545;}
input.input_check, input.input_radio{border:none;background:none;}
h3.catbg input.input_check{margin:9px 7px 0 7px;}
input[disabled].input_text{background-color:#eee;}
hr, .hrcolor{height:1px;border:0;color:#d5d5d5;background-color:#d4d4d4;}
h1, h2, h3, h4, h5, h6{color:#000;font-size:1em;margin:0;padding:0;}
fieldset{border:1px solid #c4c4c4;padding:1em;margin:0 0 0.5em 0;}
fieldset legend{font-weight:bold;color:#222;}
a img{border:0;}
strong{font-weight:bold;}
em{font-style:italic;}
.underline{text-decoration:underline;}
.floatright{float:right;}
.floatleft{float:left;}
.flow_auto{overflow:auto;}
.flow_hidden{overflow:hidden;}
.flow_hidden .windowbg, .flow_hidden .windowbg2{margin-top:2px;}
.clear{clear:both;}
.clear_left{clear:left;}
.clear_right{clear:right;}
.smalltext, tr.smalltext th{font-size:11px;}
.middletext{font-size:12px;line-height:1em;}
.normaltext{font-size:16px;line-height:1.2em;}
.largetext{font-size:18px;}
.centertext{margin:0 auto;text-align:center;}
.righttext{margin-left:auto;margin-right:0;text-align:right;}
.lefttext{margin-left:0;margin-right:auto;text-align:left;}
.double_height{line-height:2em;}
.padding{padding:0.7em;}
.main_section, .lower_padding{padding-bottom:0.5em;}
ul.reset, ul.reset li{padding:0;margin:0;list-style:none;}
blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote{font-size:11px;color:#3a3a3a;line-height:1.4em;background:url(../images/theme/quote.png) 0.1em 0.1em no-repeat;border-top:solid 4px #959595;border-bottom:solid 4px #959595;padding:1.1em 1.4em;margin:0.1em 0 0.3em 0;overflow:auto;}
blockquote.bbc_standard_quote{background-color:#cecece;}
blockquote.bbc_alternate_quote{background-color:#cecece;}
code.bbc_code{display:block;font-family:"dejavu sans mono", "monaco", "lucida console", "courier new", monospace;font-size:x-small;background:#fbede6;border-top:solid 5px #f1ccbb;border-bottom:solid 5px #f1ccbb;line-height:1.5em;padding:3px 1em;overflow:auto;white-space:pre;max-height:24em;}
.codeheader, .quoteheader{color:#000;font-size:11px;font-weight:bold;padding:0 0.3em;}
.codeoperation{font-weight:normal;}
.bbc_link:link, .bbc_link:visited{}
.bbc_size{line-height:1.4em;}
.bbc_color a{color:inherit;}
.bbc_img{border:0;}
.bbc_table{font:inherit;color:inherit;}
.bbc_table td{font:inherit;color:inherit;vertical-align:top;}
.bbc_u{text-decoration:underline;}
.bbc_list{text-align:left;}
.bbc_tt{font-family:"dejavu sans mono", "monaco", "lucida console", "courier new", monospace;}
.help{cursor:help;}
.meaction{color:red;}
.highlight{font-weight:bold;color:#ff7200 !important;font-size:1.1em;}
.highlight2{background-color:#D1E1EF;color:#000 !important;}
.titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td{color:#000;font-size:1em;font-weight:bold;background:url(../images/theme/main_block.png) no-repeat -10px -200px;}
.catbg, .catbg2, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th{color:#454545;font-size:1em;font-weight:bold;background:url(../images/theme/main_block.png) no-repeat -10px -160px;}
tr.titlebg th, tr.titlebg2 th, td.titlebg, td.titlebg2, tr.catbg th, tr.catbg2 th, td.catbg, td.catbg2{padding:0 6px;}
tr.titlebg th a:link, tr.titlebg th a:visited, tr.titlebg2 td a:link, tr.titlebg2 td a:visited{color:#000;}
tr.catbg th a:link, tr.catbg th a:visited, tr.catbg2 td a:link, tr.catbg2 td a:visited{color:#444;}
.catbg select{height:1.5em;font-size:0.85em;}
.windowbg, #preview_body{background-color:#f6f6f6;}
.windowbg2{background-color:#eee;}
.windowbg3{background-color:#f0f0f0;}
.pagesection{font-size:0.9em;padding:0.2em;overflow:hidden;margin-bottom:1px;}
div.pagesection div.floatright input{margin-top:3px;}
.pagelinks{padding:0.6em 0 0.4em 0;}
.approvebg{color:#000;background-color:#ffeaea;}
.approvebg2{color:#000;background-color:#fff2f2;}
.approvetbg{color:#000;background-color:#e4a17c;}
.approvetbg2{color:#000;background-color:#f3bd9f;}
.stickybg{background:#e8d8cf;}
.stickybg2{background:#f2e3d9;}
.lockedbg{background:#d4dce2;font-style:italic;}
.lockedbg2{background:#d8e1e7;font-style:italic;}
.post, .personalmessage{overflow:auto;line-height:1.4em;padding:0.1em 0;}
.signature, .attachments{width:98%;overflow:auto;clear:right;padding:1em 0 3px 0;border-top:1px solid #aaa;line-height:1.4em;font-size:0.85em;}
.custom_fields_above_signature{width:98%;clear:right;padding:1em 0 3px 0;border-top:1px solid #aaa;line-height:1.4em;font-size:0.85em;}
.error{color:red;}
.alert{color:red;}
.birthday{color:#920ac4;}
.event{color:#078907;}
.holiday{color:#000080;}
.warn_mute{color:red;}
.warn_moderate{color:#ffa500;}
.warn_watch, .success{color:green;}
a.moderation_link, a.moderation_link:visited{color:red;font-weight:bold;}
.openid_login{background:white url(../images/openid.gif) no-repeat;padding-left:18px;}
.description, .description_board, .plainbox{padding:0.5em 1em;font-size:0.9em;line-height:1.4em;border:1px solid #dddada;background:#f6f6f6;margin:0.2em 1px 1em 1px;}
.description_board{margin:1em 1px 0 1px;}
.information{padding:0.5em 1em;font-size:0.9em;line-height:1.3em;border:1px solid #bbb;background:#f0f6f0;margin:0.2em 1px 1em 1px;}
.information p{padding:1em;margin:0;}
p.para2{padding:1em 0 3.5em 0;margin:0;}
#ajax_in_progress{background:url(../images/theme/loadingbar.png) repeat-x;color:#f96f00;text-align:center;font-size:16pt;padding:8px;width:100%;height:66px;line-height:25px;position:fixed;top:0;left:0;}
#ajax_in_progress a{color:orange;text-decoration:underline;font-size:smaller;float:right;margin-right:20px;}
dl.settings{clear:right;overflow:auto;margin:0 0 10px 0;padding:0;}
dl.settings dt{width:48%;float:left;margin:0 0 10px 0;padding:0;clear:both;}
dl.settings dt.settings_title{width:100%;float:none;margin:0 0 10px 0;padding:5px 0 0 0;font-weight:bold;clear:both;}
dl.settings dt.windowbg{width:98%;float:left;margin:0 0 3px 0;padding:0 0 5px 0;clear:both;}
dl.settings dd{width:48%;float:left;margin:0 0 3px 0;padding:0;}
dl.settings img{margin:0 10px 0 0;}
dl.settings dt a img{position:relative;top:2px;}
h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg{overflow:hidden;height:31px;line-height:31px;font-size:12px;font-weight:bold;}
h3.catbg a:link, h3.catbg a:visited, h4.catbg a:link, h4.catbg a:visited, h3.catbg, .table_list tbody.header td, .table_list tbody.header td a{color:#454545;}
h3.catbg2 a, h3.catbg2{color:#feb;}
h3.catbg a:hover, h4.catbg a:hover, .table_list tbody.header td a:hover{text-decoration:underline;}
h3.catbg2 a:hover{color:#fff;text-decoration:none;}
h3.titlebg a, h3.titlebg, h4.titlebg, h4.titlebg a{color:#000;}
h3.titlebg a:hover, h4.titlebg a:hover{color:#ffa500;text-decoration:none;}
h3.catbg img.icon, h4.titlebg img.icon{vertical-align:middle;margin:-2px 5px 0 0;}
h4.catbg a.toggle img{vertical-align:middle;margin:-2px 5px 0 5px;}
h4.catbg, h4.catbg2 , h3.catbg , h3.catbg2 , .table_list tbody.header td.catbg{background:url(../images/theme/main_block.png) no-repeat 100% -160px;padding-right:9px;}
h4.titlebg, h3.titlebg{background:url(../images/theme/main_block.png) no-repeat 100% -200px;padding-right:9px;}
h4.titlebg img.icon{float:left;margin:5px 8px 0 0;}
div.cat_bar{background:url(../images/theme/main_block.png) no-repeat 0 -160px;padding-left:9px;height:31px;overflow:hidden;margin-bottom:1px;}
div.title_bar{background:url(../images/theme/main_block.png) no-repeat 0 -200px;padding-left:9px;height:31px;overflow:hidden;margin-bottom:1px;}
div.roundframe div.cat_bar{background:url(../images/theme/main_block.png) no-repeat 0 -160px;}
div.roundframe div.cat_bar h3.catbg{background:url(../images/theme/main_block.png) no-repeat 100% -160px;}
div.title_barIC{background:url(../images/theme/main_block.png) no-repeat 0 -120px;padding-left:9px;height:31px;overflow:hidden;margin-bottom:1px;}
div.title_barIC h4.titlebg{background:url(../images/theme/main_block.png) no-repeat 100% -120px;}
#upshrinkHeaderIC p.pminfo{margin:0;padding:0.5em;}
img#upshrink_ic, img#newsupshrink{float:right;margin:10px 5px 0 0;}
table.table_list a.unreadlink, table.table_list a.collapse{float:right;}
table.table_list a.collapse{margin:10px 5px 0 1em;}
.table_grid tr.catbg, .table_grid tr.titlebg{font-size:0.95em;border-bottom:1px solid #fff;}
.table_grid tr.catbg th, .table_grid tr.titlebg th{height:31px;line-height:31px;}
tr.catbg th.first_th{background:url(../images/theme/main_block.png) no-repeat 0 -160px;}
tr.catbg th.last_th{background:url(../images/theme/main_block.png) no-repeat 100% -160px;}
tr.titlebg th.first_th{background:url(../images/theme/main_block.png) no-repeat 0 -200px;}
tr.titlebg th.last_th{background:url(../images/theme/main_block.png) no-repeat 100% -200px;}
.table_grid th.last_th input{margin:0 2px;}
.table_grid th.lefttext{padding:0 0.7em;}
table.table_grid{border-collapse:collapse;margin-top:0.1em;}
table.table_grid td{padding:3px;border-bottom:1px solid #fff;border-right:1px solid #fff;}
.additional_row{padding:0.5em 0 0.5em 0;}
table.table_grid thead tr.catbg th{white-space:nowrap;}
#permissions table.table_grid td{padding:0.4em 0.8em;cursor:default;}
.windowbg span.topslice{display:block;padding-left:20px;background:url(../images/theme/main_block.png) 0 -30px no-repeat;}
.windowbg span.topslice span{display:block;background:url(../images/theme/main_block.png) 100% -30px no-repeat;height:11px;}
.windowbg span.botslice{display:block;padding-left:20px;background:url(../images/theme/main_block.png) 0 -40px no-repeat;font-size:5px;line-height:5px;margin-bottom:0.2em;}
.windowbg span.botslice span{display:block;background:url(../images/theme/main_block.png) 100% -40px no-repeat;height:11px;}
.windowbg2 span.topslice{display:block;padding-left:20px;background:url(../images/theme/main_block.png) 0 -60px no-repeat;}
.windowbg2 span.topslice span{display:block;background:url(../images/theme/main_block.png) 100% -60px no-repeat;height:11px;}
.windowbg2 span.botslice{display:block;padding-left:20px;background:url(../images/theme/main_block.png) 0 -71px no-repeat;font-size:5px;line-height:5px;margin-bottom:0.2em;}
.windowbg2 span.botslice span{display:block;background:url(../images/theme/main_block.png) 100% -71px no-repeat;height:11px;}
.approvebg span.topslice{display:block;padding-left:20px;background:url(../images/theme/main_block.png) 0 0 no-repeat;}
.approvebg span.topslice span{display:block;background:url(../images/theme/main_block.png) 100% 0 no-repeat;height:11px;}
.approvebg span.botslice{display:block;padding-left:20px;background:url(../images/theme/main_block.png) 0 -11px no-repeat;margin-bottom:0.2em;}
.approvebg span.botslice span{display:block;background:url(../images/theme/main_block.png) 100% -11px no-repeat;height:11px;}
.postbg{border-left:1px solid #7f7f7f;border-right:1px solid #7f7f7f;}
.roundframe{padding:0 10px;background:#f6f6f6;border-left:1px solid #dddada;border-right:1px solid #dddada;}
.roundframe dl, .roundframe dt, .roundframe p{margin:0;}
.roundframe p{padding:0.5em;}
span.upperframe{padding:0;display:block;background:url(../images/theme/main_block.png) 0 -90px no-repeat;padding-left:20px;}
span.upperframe span{padding:0;height:12px;display:block;background:url(../images/theme/main_block.png) 100% -90px no-repeat;}
span.lowerframe{padding:0;display:block;background:url(../images/theme/main_block.png) 0 -102px no-repeat;padding-left:20px;}
span.lowerframe span{padding:0;height:12px;display:block;background:url(../images/theme/main_block.png) 100% -102px no-repeat;}
.content{padding:0.5em 1.2em;margin:0;border:none;}
.content p{margin:0 0 0.5em 0;}
.auto_suggest_div{border:1px solid #000;position:absolute;visibility:hidden;}
.auto_suggest_item{background-color:#ddd;}
.auto_suggest_item_hover{background-color:#888;cursor:pointer;color:#eee;}
#main_menu{padding:0 0.5em;float:left;margin:0;width:98%;}
.dropmenu, .dropmenu ul{list-style:none;line-height:1em;padding:0;margin:0;}
.dropmenu{padding:0 0.5em;}
.dropmenu a{display:block;color:#000;text-decoration:none;}
.dropmenu a span{display:block;padding:0 0 0 5px;font-size:0.9em;}
.dropmenu li a.firstlevel{margin-right:8px;}
.dropmenu li a.firstlevel span.firstlevel{display:block;position:relative;left:-5px;padding-left:5px;height:22px;line-height:20px;}
.dropmenu li{float:left;padding:0;margin:0;position:relative;}
.dropmenu li ul{z-index:90;display:none;position:absolute;width:19.2em;font-weight:normal;border-bottom:1px solid #999;background:url(../images/theme/menu_gfx.png) 0 -100px no-repeat;padding:7px 0 0 0;}
.dropmenu li li{width:19em;margin:0;border-left:1px solid #999;border-right:1px solid #999;}
.dropmenu li li a span{display:block;padding:8px;}
.dropmenu li ul ul{margin:-1.8em 0 0 13em;}
.dropmenu li a.active{background:url(../images/theme/menu_gfx.png) no-repeat 100% 0;color:#444;font-weight:bold;}
.dropmenu li a.active span.firstlevel{background:url(../images/theme/menu_gfx.png) no-repeat 0 0;}
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel{background:url(../images/theme/menu_gfx.png) no-repeat 100% -30px;color:#fff;cursor:pointer;text-decoration:none;}
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel{background:url(../images/theme/menu_gfx.png) no-repeat 0 -30px;}
.dropmenu li li a:hover, .dropmenu li li:hover>a{background:#d4dbe4;color:#000;text-decoration:none;}
.dropmenu li:hover ul ul, .dropmenu li:hover ul ul ul{top:-999em;}
.dropmenu li li:hover ul{top:auto;}
.dropmenu li:hover ul{display:block;}
.dropmenu li li.additional_items{background-color:#fff;}
#menu_toggle{float:right;margin-right:10px;padding-top:3px;}
#menu_toggle span{position:relative;right:5000px;}
.buttonlist ul{z-index:100;padding:5px;margin:0 0.2em 5px 0;}
.buttonlist ul li{margin:0;padding:0;list-style:none;float:left;}
.buttonlist ul li a{display:block;font-size:0.8em;color:#000;background:url(../images/theme/menu_gfx.png) no-repeat 0 -60px;padding:0;margin-left:12px;text-transform:uppercase;cursor:pointer;}
.buttonlist ul li a:hover{background:url(../images/theme/menu_gfx.png) no-repeat 0 0;color:#000;text-decoration:none;}
.buttonlist ul li a span{background:url(../images/theme/menu_gfx.png) no-repeat 100% -60px;display:block;height:24px;line-height:20px;padding:0 8px 0 0;position:relative;right:-8px;}
.buttonlist ul li a:hover span{background:url(../images/theme/menu_gfx.png) no-repeat 100% 0;}
.buttonlist ul li a.active{background:url(../images/theme/menu_gfx.png) no-repeat 0 -30px;color:#fff;font-weight:bold;}
.buttonlist ul li a.active span{background:url(../images/theme/menu_gfx.png) no-repeat 100% -30px;}
.buttonlist ul li a.active{font-weight:bold;}
.buttonlist ul li a.active:hover{color:#ddf;}
.align_top ul li a, .align_bottom ul li a{margin:0 12px 0 0;}
ul#navigation{margin:0;font-size:0.9em;padding:1em 0.4em;}
ul#navigation li{float:none;font-size:0.95em;display:inline;}
#adm_submenus{padding-left:2em;}
#adm_submenus, #adm_submenus ul{height:3em;}
h3, h4{padding-bottom:3px;}
.navigate_section{padding:0.5em;margin:0 0 0 0;}
.navigate_section ul{display:block;margin:0;font-size:0.9em;padding:0.5em 0;overflow:hidden;list-style:none;clear:both;width:100%;}
.navigate_section ul li{float:left;padding:0 0.5em 0 0;font-size:0.95em;}
.navigate_section ul li a{color:#000;font-weight:bold;}
select.qaction, input.qaction{font-size:0.85em;padding:0;}
#mlist table tbody td.windowbg2{text-align:center;}
table.table_list{width:100%;}
table.table_list p{padding:0;margin:0;}
table.table_list td, table.table_list th{padding:5px;}
table.table_list tbody.header td{padding:0;}
table.table_list tbody.content td.stats{font-size:90%;width:15%;text-align:center;}
table.table_list tbody.content td.lastpost{line-height:1.3em;font-size:90%;width:24%;}
table.table_list tbody.content td.icon{text-align:center;width:6%;}
.table_list tbody.content td.info a.subject{font-weight:bold;font-size:110%;}
.table_list tbody.content td.children{color:#555;font-size:85%;}
p.moderators{font-size:0.8em;font-family:verdana, sans-serif;}
#boardindex_table .table_list thead, #boardindex_table .table_list tfoot{display:none;}
#posting_icons{padding:0 1em 0.5em 1em;margin:0 0 1em 0;line-height:1em;}
#posting_icons ul{font-size:0.8em;}
#posting_icons img{vertical-align:middle;margin:0 0 0 4ex;}
#postbuttons_upper ul li a span{line-height:19px;padding:0 0 0 6px;}
.nextlinks{text-align:right;margin-top:-1px;}
.nextlinks_bottom{clear:right;text-align:right;}
.mark_read{padding:0 0.5em;}
#newsfader{margin:0 2px;}
#smfFadeScroller{text-align:center;padding:0 2em;overflow:auto;margin:1em 0;color:#575757;}
#upshrinkHeaderIC{margin-top:4px;}
dl#ic_recentposts{margin:0 0 0.5em 0;padding:0.5em;line-height:1.3em;}
dl#ic_recentposts dt{float:left;}
dl#ic_recentposts dd{text-align:right;}
#upshrinkHeaderIC p{margin:0 0 0.5em 0;padding:0.5em;}
#upshrinkHeaderIC p.last{margin:0;padding:0.5em;border-top:2px dotted #bbb;}
#upshrinkHeaderIC p.inline{border:none;margin:0;padding:0.2em 0.5em 0.2em 0.5em;}
#upshrinkHeaderIC p.stats{font-size:1.1em;padding-top:8px;}
form#ic_login{padding:0.5em;height:2em;}
form#ic_login ul li{margin:0;padding:0;float:left;width:20%;text-align:center;}
form#ic_login ul li label{display:block;}
#index_common_stats{display:block;margin:0 0 0.5em 0;text-align:right;font-size:0.9em;position:relative;top:-20px;line-height:1px;}
img.new_posts{padding:0 0.1em;}
div.table_frame .table_list{border-collapse:collapse;margin:2px 0;}
.table_frame .table_list td.icon, .table_frame .table_list td.info, .table_frame .table_list td.stats{border-right:2px solid white;}
#messageindex{clear:both;}
.childboards{margin-bottom:0.2em;}
#childboards h3{padding-bottom:0;}
#childboards .table_list thead{display:none;}
#childboards .table_list{margin-bottom:1em;}
.lastpost img{float:right;padding:4px;}
#postbuttons div.buttons{padding:0.5em;width:40%;float:right;}
#postbuttons div.middletext{width:60%;}
#postbuttons span{display:block;text-align:right;}
#postbuttons span.lower{clear:right;}
#postbuttons .buttonlist{float:right;}
#postbuttons #pagelinks{padding-top:1em;}
#moderationbuttons{overflow:hidden;}
.linked_events{padding:1em 0;}
.edit_event{margin:0 1em;vertical-align:middle;}
#poll{overflow:hidden;}
#poll .content{padding:0 1em;}
h4#pollquestion{padding:0 0 0.5em 2em;}
#poll_options ul.options{border-top:1px solid #999;padding:1em 2.5em 0 2em;margin:0 0 1em 0;}
#poll_options div.submitbutton{border-bottom:1px solid #999;clear:both;padding:0 0 1em 2em;margin:0 0 1em 0;}
#poll_options dl.options{border:solid #999;border-width:1px 0;padding:1em 2.5em 1em 2em;margin:0 1em 1em 0;line-height:1.1em !important;}
#poll_options dl.options dt{padding:0.3em 0;width:30%;float:left;margin:0;clear:left;}
#poll_options dl.options .voted{font-weight:bold;}
#poll_options dl.options dd{margin:0 0 0 2em;padding:0.1em 0 0 0;width:60%;max-width:450px;float:left;}
#poll_options dl.options .percentage{display:block;float:right;padding:0.2em 0 0.3em 0;}
#poll_options p{margin:0 1.5em 0.2em 1.5em;padding:0 0.5em 0.5em 0.5em;}
div#pollmoderation{margin:0;padding:0;overflow:auto;}
#forumposts{clear:both;}
#forumposts .cat_bar{margin:0 0 2px 0;}
#forumposts h3 span#author{margin:0 7.7em 0 0;}
#forumposts h3 img{float:left;margin:4px 0.5em 0 0;}
#forumposts h3.catbg{margin-bottom:3px;}
p#whoisviewing{margin:0;padding:0.5em;}
.post_wrapper{float:left;width:100%;}
.poster{float:left;width:15em;}
.postarea, .moderatorbar{margin:0 0 0 16em;}
.postarea div.flow_hidden{width:100%;}
.moderatorbar{clear:right;}
.poster h4, .poster ul{padding:0;margin:0 1em 0 1.5em;}
.poster h4{margin:0.2em 0 0.4em 1.1em;font-size:120%;}
.poster h4, .poster h4 a{}
.poster ul ul{margin:0.3em 1em 0 0;padding:0;}
.poster ul ul li{display:inline;border:0;}
.poster li.stars, .poster li.avatar, .poster li.blurb, li.postcount, li.im_icons ul{margin-top:0.5em;}
.poster li.avatar{overflow:hidden;}
.poster li.warning{line-height:1.2em;padding-top:1em;}
.poster li.warning a img{vertical-align:bottom;padding:0 0.2em;}
.messageicon{float:left;margin:0 0.5em 0 0;}
.messageicon img{padding:6px 3px;}
.keyinfo{float:left;width:50%;}
.modifybutton{clear:right;float:right;margin:8px 20px 10px 0;text-align:right;font:bold 0.85em arial, sans-serif;color:#334466;}
div.quickbuttons_wrap{padding:0.2em 0;width:100%;float:left;}
ul.quickbuttons{margin:0.9em 11px 0 0;clear:right;float:right;text-align:right;font:bold 0.85em arial, sans-serif;}
ul.quickbuttons li{float:left;display:inline;margin:0 0 0 11px;}
ul.quickbuttons li a{padding:0 0 0 20px;display:block;height:20px;line-height:18px;float:left;}
ul.quickbuttons a:hover{}
ul.quickbuttons li.quote_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 0;}
ul.quickbuttons li.remove_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -30px;}
ul.quickbuttons li.modify_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -60px;}
ul.quickbuttons li.approve_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -90px;}
ul.quickbuttons li.restore_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -120px;}
ul.quickbuttons li.split_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -150px;}
ul.quickbuttons li.reply_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -180px;}
ul.quickbuttons li.reply_all_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -180px;}
ul.quickbuttons li.notify_button{background:url(../images/theme/quickbuttons.png) no-repeat 0 -210px;}
ul.quickbuttons li.inline_mod_check{margin:0 0 0 5px;}
.post{margin-top:0.5em;clear:right;}
.inner{padding:1em 1em 1em 0;margin:0 1em 0 0;border-top:1px solid #999;}
.inner img.smiley{vertical-align:bottom;}
#forumposts .modified{float:left;}
#forumposts .reportlinks{margin-right:1.5em;text-align:right;clear:right;}
#forumposts .signature, .post .signature{margin:1em 0 0 0;}
#forumposts span.botslice{clear:both;}
.attachments hr{clear:both;margin:1em 0 1em 0;}
.attachments{padding:1em 0 2em 0;}
.attachments div{padding:0 0.5em;}
#quickreplybox{padding-bottom:1px;}
#quickReplyOptions .roundframe{text-align:center;padding:0;}
#quickReplyContent{padding:0.5em 0;}
#quickReplyContent form textarea{width:91%;height:100px;margin:0.25em 0 1em 0;}
#quickReplyOptions div{text-align:center;}
#quickReplyOptions #quickReplyWarning{width:68%;margin:0 17% 0 15%;}
#quickReplyOptions #quickReplyContent form#postmodify{margin:0;padding:0;}
#quickReplyOptions #quickReplyContent form#postmodify div{margin:0;padding:4px 0;}
#quickReplyOptions #quickReplyContent form#postmodify div#message_resizer{margin:0 15% 5px 15%;padding:2px 0;}
#qr_buttons{text-align:center;}
#quickReplyOptions #quickReplyContent input{margin-bottom:10px;}
#display_jump_to{clear:both;padding:5px;margin-top:6px;text-align:right;}
#forumposts .post_separator{display:none;}
form#postmodify .roundframe{padding:0 12%;}
#post_header, .postbox{padding:0.5em;overflow:hidden;}
#post_header dt, .postbox dt{float:left;padding:0;width:15%;margin:.5em 0 0 0;font-weight:bold;}
#post_header dd, .postbox dd{float:left;padding:0;width:83%;margin:.3em 0;}
#post_header img{vertical-align:middle;}
ul.post_options{margin:0 0 0 1em;padding:0;list-style:none;overflow:hidden;}
ul.post_options li{margin:0.2em 0;width:49%;float:left;}
#postAdditionalOptionsHeader{margin-top:1em;}
#postMoreOptions{border-bottom:1px solid #999;padding:0.5em;}
#postAttachment, #postAttachment2{overflow:hidden;margin:.5em 0;padding:0;border-bottom:1px solid #999;padding:0.5em;}
#postAttachment dd, #postAttachment2 dd{margin:.3em 0 .3em 1em;}
#postAttachment dt, #postAttachment2 dt{font-weight:bold;}
#postAttachment3{margin-left:1em;}
#post_confirm_strip, #shortcuts{padding:1em 0 0 0;}
.post_verification{margin-top:.5em;}
.post_verification #verification_control{margin:.3em 0 .3em 1em;}
#bbcBox_message{margin:0.75em 0.5em;}
#bbcBox_message div{margin:0.2em 0;vertical-align:top;}
#bbcBox_message div img{margin:0 1px 0 0;vertical-align:top;}
#bbcBox_message select{margin:0 2px;}
#smileyBox_message{margin:0.5em;}
#post_event .roundframe{padding:0 12%;}
#post_event fieldset{padding:0.5em;clear:both;}
#post_event #event_main input{margin:0 0 1em 0;float:left;}
#post_event #event_main div.smalltext{width:33em;float:right;}
#post_event div.event_options{float:right;}
#post_event ul.event_main, ul.event_options{padding:0;overflow:hidden;}
#post_event ul.event_main li{list-style-type:none;margin:0.2em 0;width:49%;float:left;}
#post_event ul.event_options{margin:0;padding:0 0 .7em .7em;}
#post_event ul.event_options li{list-style-type:none;margin:0;float:left;}
#post_event #event_main select, #post_event ul.event_options li select, #post_event ul.event_options li .input_check{margin:0 1em 0 0;}
#edit_poll{overflow:hidden;}
#edit_poll fieldset{padding:0.5em;clear:both;overflow:hidden;}
#edit_poll fieldset input{margin-left:8.1em;}
#edit_poll ul.poll_main li{padding-left:1em;}
#edit_poll ul.poll_main input{margin-left:1em;}
#edit_poll ul.poll_main, dl.poll_options{overflow:hidden;padding:0 0 .7em .7em;list-style:none;}
#edit_poll ul.poll_main li{margin:0.2em 0;}
#edit_poll dl.poll_options dt{width:33%;padding:0 0 0 1em;}
#edit_poll dl.poll_options dd{width:65%;}
#edit_poll dl.poll_options dd input{margin-left:0;}
#readbuttons_top .pagelinks, #readbuttons .pagelinks{padding-bottom:1em;width:60%;}
#readbuttons .pagelinks{padding-top:1em;}
#recent{clear:both;}
#move_topic dl{margin-bottom:0;}
#move_topic dl.settings dt{width:40%;}
#move_topic dl.settings dd{width:59%;}
.move_topic{width:710px;margin:auto;text-align:left;}
div.move_topic fieldset{padding:0.5em;}
fieldset.send_topic{border:none;padding:0.5em;}
dl.send_topic{margin-bottom:0;}
dl.send_mail dt{width:35%;}
dl.send_mail dd{width:64%;}
#report_topic dl{margin-bottom:0;}
#report_topic dl.settings dt{width:20%;}
#report_topic dl.settings dd{width:79%;}
div#selected, div#not_selected{width:49%;}
ul.split_messages li.windowbg, ul.split_messages li.windowbg2{margin:1px;}
ul.split_messages li a.split_icon{padding:0 0.5em;}
ul.split_messages div.post{padding:1em 0 0 0;border-top:1px solid #fff;}
ul.merge_topics li{list-style-type:none;}
dl.merge_topic dt{width:25%;}
dl.merge_topic dd{width:74%;}
fieldset.merge_options{clear:both;}
.custom_subject{margin:0.5em 0;}
.login{width:540px;margin:0 auto;}
.login dl{overflow:auto;clear:right;}
.login dt, .login dd{margin:0 0 0.4em 0;width:44%;padding:0.1em;}
.login dt{float:left;clear:both;text-align:right;font-weight:bold;}
.login dd{width:54%;float:right;text-align:left;}
.login p{text-align:center;}
.register_error{border:1px dashed red;padding:5px;margin:0 1ex 1ex 1ex;}
.register_error span{text-decoration:underline;}
dl.register_form{margin:0;clear:right;}
dl.register_form dt{font-weight:normal;float:left;clear:both;width:50%;margin:0.5em 0 0 0;}
dl.register_form dt strong{font-weight:bold;}
dl.register_form dt span{display:block;}
dl.register_form dd{float:left;width:49%;margin:0.5em 0 0 0;}
#confirm_buttons{text-align:center;padding:1em 0;}
.coppa_contact{padding:4px;width:32ex;background-color:#fff;color:#000;margin-left:5ex;border:1px solid #000;}
.valid_input{background-color:#f5fff0;}
.invalid_input{background-color:#fff0f0;}
#maintenance_mode{width:75%;min-width:520px;text-align:left;}
#maintenance_mode img.floatleft{margin-right:1em;}
h3.titlebg img{vertical-align:middle;margin-right:0.5em;margin-top:-1px;}
tr.titlebg td{padding-left:0.7em;}
#admin_menu{min-height:2em;padding-left:0;}
#admin_content{clear:left;padding-top:0.5em;}
#admin_content .custom_field{margin-bottom:15px;}
#admin_login .centertext{padding:1em;}
#admin_login .centertext .error{padding:0 0 1em 0;}
.left_admmenu, .left_admmenu ul, .left_admmenu li{padding:0;margin:0;list-style:none;}
#left_admsection{width:160px;float:left;padding-right:10px;}
.adm_section h4.titlebg{font-size:95%;margin-bottom:5px;}
#adm_container{border-bottom:1px solid #999;margin-bottom:5px;}
.left_admmenu li{padding:0 0 0 0.5em;}
.left_admmenu{margin-bottom:0.5em;}
#main_admsection{margin-left:172px;}
tr.windowbg td, tr.windowbg2 td, tr.approvebg td, tr.highlight2 td{padding:0.3em 0.7em;}
#credits p{padding:0;font-style:italic;margin:0;}
.topic_table table{width:100%;}
.topic_table .icon1, .topic_table .icon2, .topic_table .stats{text-align:center;}
#topic_icons{margin:1em 0 0 0;}
#topic_icons .description{margin:0;}
.topic_table table thead{border-bottom:1px solid #fff;}
.topic_table td{font-size:1em;}
.topic_table td.subject p, .topic_table td.stats{font-size:0.9em;padding:0;margin:0;}
.topic_table td.lastpost{font-size:0.9em;line-height:1.3em;padding:4px;}
.topic_table td.stickybg2{background-image:url(../images/icons/quick_sticky.gif);background-repeat:no-repeat;background-position:98% 4px;}
.topic_table td.lockedbg2{background-image:url(../images/icons/quick_lock.gif);background-repeat:no-repeat;background-position:98% 4px;}
.topic_table td.locked_sticky2{background-image:url(../images/icons/quick_sticky_lock.gif);background-repeat:no-repeat;background-position:98% 4px;}
.topic_table td.lastpost{background-image:none;}
#fatal_error{width:80%;margin:auto;}
.errorbox{padding:1em;border:1px solid #cc3344;color:#000;background-color:#ffe4e9;margin-bottom:1em;}
.errorbox h3{padding:0;margin:0;font-size:1.1em;text-decoration:underline;}
.errorbox p{margin:1em 0 0 0;}
.errorbox p.alert{padding:0;margin:0;float:left;width:1em;font-size:1.5em;}
dl{overflow:auto;margin:0;padding:0;}
#basicinfo{width:20%;float:left;}
#basicinfo .windowbg .content{padding-left:20px;}
#detailedinfo{width:79.5%;float:right;}
#basicinfo h4{font-size:135%;font-weight:100;line-height:105%;white-space:pre-wrap;overflow:hidden;}
#basicinfo h4 span.position{font-size:80%;font-weight:100;display:block;}
#basicinfo img.avatar{display:block;margin:10px 0 0 0;}
#basicinfo ul{list-style-type:none;margin:10px 0 0 0;}
#basicinfo ul li{display:block;float:left;margin-right:5px;height:20px;}
#basicinfo span#userstatus{display:block;clear:both;}
#basicinfo span#userstatus img{vertical-align:middle;}
#detailedinfo div.content dl, #tracking div.content dl{clear:right;overflow:auto;margin:0 0 18px 0;padding:0 0 15px 0;border-bottom:1px #999 solid;}
#detailedinfo div.content dt, #tracking div.content dt{width:35%;float:left;margin:0 0 3px 0;padding:0;font-weight:bold;clear:both;}
#detailedinfo div.content dd, #tracking div.content dd{width:65%;float:left;margin:0 0 3px 0;padding:0;}
#detailedinfo div.content dl.noborder{border-bottom:0;}
#detailedinfo div.content dt.clear{width:100%;}
.signature, .custom_fields_above_signature{border-top:1px #999 solid;}
.signature h5{font-size:0.85em;margin-bottom:10px;}
#personal_picture{display:block;margin-bottom:0.3em;}
#avatar_server_stored div{float:left;}
#main_admsection #basicinfo, #main_admsection #detailedinfo{width:100%;}
#main_admsection #basicinfo h4{float:left;width:35%;}
#main_admsection #basicinfo img.avatar{float:right;vertical-align:top;}
#main_admsection #basicinfo ul{clear:left;}
#main_admsection #basicinfo span#userstatus{clear:left;}
#main_admsection #basicinfo p#infolinks{display:none;clear:both;}
#main_admsection #basicinfo .botslice{clear:both;}
div#profile_error, div#profile_success{margin:0 0 1em 0;padding:1em 2em;border:1px solid;}
div#profile_error{border-color:red;color:red;background:#fee;}
div#profile_error span{text-decoration:underline;}
div#profile_success{border-color:green;color:green;background:#efe;}
#generalstats div.content dt{width:50%;float:left;margin:0 0 3px 0;padding:0;font-weight:bold;clear:both;}
#generalstats div.content dd{width:50%;float:left;margin:0 0 3px 0;padding:0;}
#activitytime{margin:6px 0;}
.activity_stats{margin:0;padding:0;list-style:none;}
.activity_stats li{margin:0;padding:0;width:4.16%;float:left;}
.activity_stats li span{display:block;border:solid #000;border-width:1px 1px 0 0;text-align:center;}
.activity_stats li.last span{border-right:none;}
.activity_stats li div.bar{margin:0 auto;width:15px;}
.activity_stats li div.bar div{background:#6294CE;}
.activity_stats li div.bar span{position:absolute;top:-1000em;left:-1000em;}
#popularposts{width:49.5%;float:left;}
#popularactivity{width:49.5%;float:right;}
#popularposts div.content dt, #popularactivity div.content dt{width:65%;float:left;margin:0 0 3px 0;padding:0;font-weight:bold;clear:both;}
#popularposts div.content dd, #popularactivity div.content dd{width:35%;float:left;margin:0 0 3px 0;padding:0;}
.profile_pie{background-image:url(../images/stats_pie.png);float:left;height:20px;width:20px;margin:0 1em 0 0;padding:0;text-indent:-1000em;}
.topic .time{float:right;}
.counter{margin:0 0 0 0;padding:0.2em 0.5em 0.1em 0.2em;font-size:2.2em;font-weight:bold;color:#3f3f3f;float:left;}
.list_posts{border-top:2px solid #b3b3bf;padding-top:12px;margin-top:6px;overflow:auto;}
.core_posts{margin-bottom:3px;}
.topic h4{margin:3px 0;}
.topic .post{margin:0 1em;min-height:80px;height:auto !important;height:80px;}
.topic .mod_icons{text-align:right;margin-right:1em;}
#tracking div.content dl{border-bottom:0;margin:0;padding:0;}
#creator dl{margin:0;}
#creator dt{width:40%;float:left;clear:both;margin:0 0 10px 0;}
#creator dd{float:left;width:55%;margin:0 0 10px 2px;}
.ignoreboards{margin:0 2%;padding:0;width:45%;}
.ignoreboards a{font-weight:bold;border-bottom:1px solid #c4c4c4;padding:0.1em 0;}
.ignoreboards a:hover{text-decoration:none;border-bottom:1px solid #334466;}
.ignoreboards ul{margin:0;padding:0;}
.ignoreboards li{list-style:none;float:left;clear:both;}
.ignoreboards li.category{margin:0.7em 0 0 0;width:100%;}
.ignoreboards li ul{margin:0.2em 0 0 0;}
.ignoreboards li.category ul li.board{width:93%;}
#theme_settings{overflow:auto;margin:0;padding:0;}
#theme_settings li{list-style:none;margin:10px 0;padding:0;}
#paid_subscription{width:100%;}
#paid_subscription dl.settings{margin-bottom:0;}
#paid_subscription dl.settings dd, #paid_subscription dl.settings dt{margin-bottom:4px;}
#pick_theme{width:100%;float:left;}
#warn_body{width:80%;font-size:0.9em;}
#statistics{padding:0.5em 0;}
#statistics div.title_bar{margin:4px 0 -2px 0;}
#statistics h3.catbg{text-align:center;}
#statistics div.content{min-height:210px;}
#statistics div.top_row{min-height:150px;}
#stats_left, #top_posters, #top_topics_replies, #top_topics_starter{float:left;width:49.5%;}
#stats_right, #top_boards, #top_topics_views, #most_online{float:right;width:49.5%;}
dl.stats{clear:both;overflow:hidden;margin:0;padding:0;}
dl.stats dt{width:49%;float:left;margin:0 0 4px 0;line-height:16px;padding:0;clear:both;font-size:1em;}
dl.stats dd{text-align:right;width:50%;font-size:1em;float:right;margin:0 0 4px 0;line-height:16px;padding:0;}
.statsbar div.bar{float:left;background:url(../images/bar_stats.png) no-repeat;display:block;margin:0 4px;height:16px;}
.statsbar div.bar div{position:relative;right:-4px;padding:0 4px 0 0;background:url(../images/bar_stats.png) no-repeat 100%;height:16px;}
tr.windowbg2 th.stats_month{width:25%;padding:0 2em;text-align:left;}
tr.windowbg2 td.stats_day{padding:0 3.5em;text-align:left;}
#personal_messages h3 span#author, #personal_messages h3 span#topic_title{float:left;}
#personal_messages h3 span#author{margin:0 0 0 0.5em;}
#personal_messages h3 span#topic_title{margin:0 0 0 9em;}
#personal_messages div.labels{padding:0 1em 0 0;}
#personal_messages .capacity_bar{background:#f0f4f7;display:block;margin:0.5em 0 0 1em;height:1em;border:1px solid #adadad;width:10em;}
#personal_messages .capacity_bar span{border-right:1px solid #adadad;display:block;height:1em;}
#personal_messages .capacity_bar span.empty{background:#a6d69d;}
#personal_messages .capacity_bar span.filled{background:#eea800;}
#personal_messages .capacity_bar span.full{background:#f10909;}
#personal_messages .reportlinks{padding:0.5em 1.3em;}
#searchLabelsExpand li{padding:0.3em 0.5em;}
#manrules div.righttext{padding:0.3em 0.1em;}
dl.addrules dt.floatleft{width:15em;color:#333;padding:0 1.25em 0.5em 1.25em;}
#addrule fieldset{clear:both;}
.calendar_table{margin-bottom:0.7em;}
.calendar_today{background-color:#fff;}
#month_grid{width:200px;text-align:center;float:left;}
#month_grid div.cat_bar{height:31px;}
#month_grid h3.catbg{height:31px;line-height:31px;}
#month_grid table{width:200px;}
#main_grid table{width:100%;padding-bottom:4px;}
#main_grid table h3.catbg{text-align:center;height:29px;border-top:2px solid #fff;border-bottom:none;}
#main_grid table.weeklist td.windowbg{text-align:center;height:49px;width:25px;font-size:large;padding:0 7px;border-bottom:2px solid #fff;}
#main_grid table.weeklist td.weekdays{height:49px;width:100%;padding:4px;text-align:left;vertical-align:middle;border-bottom:2px solid #fff;}
#main_grid h3.weekly{text-align:center;padding-left:0;font-size:large;height:29px;}
#main_grid h3 span.floatleft, #main_grid h3 span.floatright{display:block;font-weight:bold;}
#main_grid table th.days{width:14%;padding:4px 0;}
#main_grid table.weeklist h4.titlebg{margin:0 0 0 0;height:23px;line-height:27px;}
#main_grid table td.weeks{vertical-align:middle;text-align:center;font-weight:bold;font-size:large;}
#main_grid table td.days{vertical-align:top;text-align:center;}
a.modify_event{color:red;}
span.hidelink{font-style:italic;}
#calendar_navigation{text-align:center;}
#mlist_search{margin:auto;width:500px;}
#searchform, #simple_search p{padding:0.5em;margin:0;}
#simple_search, #simple_search p, #advanced_search{text-align:center !important;margin:0;}
#search_error{font-style:italic;padding:0.3em 1em;}
#search_term_input{font-size:115%;margin:0 0 1em;}
#searchform fieldset{text-align:left;padding:0;border:none;}
#advanced_search dl#search_options{margin:0 auto;width:600px;padding-top:1em;overflow:hidden;}
#advanced_search dt{clear:both;float:left;padding:0.2em;text-align:right;width:20%;}
#advanced_search dd{width:75%;float:left;padding:0.2em;margin:0 0 0 0.5em;text-align:left;}
#searchform p.clear{clear:both;}
.topic_table td blockquote, .topic_table td .quoteheader{margin:0.5em;}
.search_results_posts{overflow:hidden;}
.search_results_posts .buttons{padding:5px 1em 0 0;}
#help_container{margin:4px 0 0 0;padding:0 0 8px 0;}
#helpmain{padding:0 1em;}
#helpmain .help_sample{border:1px solid #999;background:#fff;padding:1em;overflow:auto;margin-bottom:1em;}
#helpmain .help_sample .navigate_section{margin:0;}
#helpmain .help_sample .navigate_section ul{padding-top:0;border:none;}
#helpmain p{margin:0 0 1.5em 0;line-height:1.5em;}
#helpmain ol{font-weight:bold;list-style-type:disc;margin-bottom:1em;margin-top:1em;line-height:1.5em;}
#helpmain ol.la{font-weight:normal;list-style-type:circle;margin:0.5em 0 1em 0;padding-left:1.5em;}
ul.basic_helplist{padding:0.8em 1.5em;line-height:1.5em;}
#helpmain #messageindex{clear:right;}
@media print{#headerarea{display:none;}
.tborder{border:none;}
}
.new_win{width:400px;height:400px;}
#topbar{height:30px;line-height:30px;overflow:hidden;}
#topbar span{padding-left:25px;color:#fff;}
#bodybg{background:#2d2d2d url('http://rsm.torrent-oyun.com/torrent-bg.jpg') top fixed repeat-x;top:0pt;cursor:pointer;}
#shad-l{padding-left:18px;background:0 0 no-repeat;}
#shad-r{padding-right:18px;background:100% 0 no-repeat;}
#header{position:relative;height:120px;overflow:hidden;background:url('http://rsm.torrent-oyun.com/tobanner.jpg') 0 0 repeat-x;}
#head-r{height:120px;background:100% 0 no-repeat;}
#head-l{background:0 0 no-repeat;}
#logo{position:absolute;top:0px;left:20px;display:block;width:600px;height:120px;cursor:pointer;}
#userarea{height:73px;float:right;padding:12px 25px 0 0;line-height:135%;text-align:right;color:#4B4B4B;font-family:tahoma, sans-serif;}
#userarea a:link, #userarea a:visited{color:#801F1F;}
#userarea a:hover{color:#5A5A5A;text-decoration:underline;}
#searcharea{float:right;padding:5px 25px 0 0;margin:0;clear:both;}
#toolbar{height:30px;background:url('http://rsm.torrent-oyun.com/tobanner2.jpg') 0 0 repeat-x;}
#topmenu{margin:0;padding:0;font-family:tahoma, sans-serif;font-size:11px;}
#topmenu ul{padding:0 0 0 5px;margin:0;list-style-type:none;width:auto;float:left;}
#topmenu ul li{margin:0;padding:0;display:inline;}
#topmenu ul li a{float:left;display:block;margin:0 0 0 2px;padding:0 0 0 10px;text-decoration:none;line-height:30px;color:#fcfcfc;background:url(../images/custom/l.png) 0 0 no-repeat;}
#topmenu ul li a span{float:left;display:block;padding:0 15px 0 7px;cursor:pointer;background:url(../images/custom/r.png) 100% 0 no-repeat;}
#topmenu ul li a.current{color:#000;font-weight:bold;background:url(../images/custom/l2.png) 0 0 no-repeat;}
#topmenu ul li a.current span{display:block;width:auto;background:url(../images/custom/r2.png) 100% 0 no-repeat;}
#topmenu ul li a:hover{}
#topmenu ul li a:hover span{text-decoration:underline;display:block;width:auto;}
#bodyarea{padding:5px;background:#fcfcfc url(../images/custom/bodyarea-bg.gif) 0 0 repeat-x;}
#footer{background:#454A5C 0 100% repeat-x;}
#foot-r{}
#foot-l{}
#footerarea{text-align:center;padding:10px;color:#ccc;line-height:110%;}
#footerarea a:link, #footerarea a:visited{color:#a0a0a0;}
#footerarea a:hover{color:#ccc;text-decoration:none;}
.popuptext{color:white;}
a.googletag{color:#003399;}
a.googletagged{color:#336699;}
.profil{border:1px dashed #999999;background-image:url('images/profilbg.gif');background-repeat:repeat-x;background-color:#E2E2E2;padding:3px;margin:3px;}
.poster ul li, .poster h4{border:1px solid #999999;background-image:url('http://www.torrent-oyun.com/Themes/default/images/profilbg.gif');background-repeat:repeat-x;background-color:#E2E2E2;padding:3px;margin:3px;text-align:center;}
.poster ul.nolist li{background:none;border:none;}
.poster ul li.margintop{margin-top:0;}
a.googletag{color:#003399;}
a.googletagged{color:#336699;}table.ncode_imageresizer_warning, table.ncode_imageresizer_warning td{background-color:#fefee1;}
table.ncode_imageresizer_warning{color:#000000;border:1px solid #CCCDCD;cursor:pointer;}
table.ncode_imageresizer_warning td{font-size:10px;vertical-align:middle;text-decoration:none;}
table.ncode_imageresizer_warning td.td1{padding:5px;}
#bbcBox_message{margin:0;}
#bbcBox_message div{margin:0;vertical-align:top;}
.richedit_resize{margin:0 auto;}
textarea.editor{resize:none;}
#quickReplyOptions .roundframe{text-align:center;padding:0;}
#quickReplyContent{padding:0.5em 0;}
#quickReplyContent form textarea{width:91%;height:100px;margin:0.25em 0 1em 0;}
#quickReplyOptions div{text-align:center;}
#quickReplyOptions #quickReplyWarning{width:68%;margin:0 17% 0 15%;}
#quickReplyOptions #quickReplyContent form#postmodify{margin:0;padding:0;}
#quickReplyOptions #quickReplyContent form#postmodify div{margin:0;padding:4px 0;}
#quickReplyOptions #quickReplyContent form#postmodify div#message_resizer{margin:0 15% 5px 15%;padding:2px 0;}
#qr_buttons{text-align:center;}
#quickReplyOptions #quickReplyContent input{margin-bottom:10px;}#bbcBox_message{margin:0;}
#bbcBox_message div{margin:0;vertical-align:top;}
.richedit_resize{margin:0 auto;}
textarea.editor{resize:none;}
#quickReplyOptions .roundframe{text-align:center;padding:0;}
#quickReplyContent{padding:0.5em 0;}
#quickReplyContent form textarea{width:91%;height:100px;margin:0.25em 0 1em 0;}
#quickReplyOptions div{text-align:center;}
#quickReplyOptions #quickReplyWarning{width:68%;margin:0 17% 0 15%;}
#quickReplyOptions #quickReplyContent form#postmodify{margin:0;padding:0;}
#quickReplyOptions #quickReplyContent form#postmodify div{margin:0;padding:4px 0;}
#quickReplyOptions #quickReplyContent form#postmodify div#message_resizer{margin:0 15% 5px 15%;padding:2px 0;}
#qr_buttons{text-align:center;}
#quickReplyOptions #quickReplyContent input{margin-bottom:10px;}
.seo_hhy{color:#000000;font:bold 16px arial, verdana, sans-serif;margin-top:0px;margin-right:25px;margin-left:25px;margin-bottom:0px;padding:4px;}
#relevant_replacement{font-size:11px;width:70%;border-top:#CCCCCC 1px solid;margin-top:0px;margin-right:25px;margin-left:25px;margin-bottom:0px;padding:4px;}
#bbcBox_message { margin: 0; }
#bbcBox_message div
{
	margin: 0;
	vertical-align: top;
}
.richedit_resize { margin: 0 auto; }
textarea.editor { resize: none; }
#quickReplyOptions .roundframe
{
	text-align: center;
	padding: 0;
}
#quickReplyContent { padding: 0.5em 0; }
#quickReplyContent form textarea
{
	width: 91%;
	height: 100px;
	margin: 0.25em 0 1em 0;
}
#quickReplyOptions div { text-align: center; }
#quickReplyOptions #quickReplyWarning
{
	width: 68%; 
	margin: 0 17% 0 15%;
}
#quickReplyOptions #quickReplyContent form#postmodify
{
    margin: 0;
	padding: 0;
}
#quickReplyOptions #quickReplyContent form#postmodify div
{
    margin: 0;
	padding: 4px 0;
}
#quickReplyOptions #quickReplyContent form#postmodify div#message_resizer
{
    margin: 0 15% 5px 15%;
	padding: 2px 0;
}
#qr_buttons { text-align: center; }
#quickReplyOptions #quickReplyContent input { margin-bottom: 10px; }table.ncode_imageresizer_warning, table.ncode_imageresizer_warning td
	{
		background-color: #fefee1; /* the bgcolor behind the text and image */
	}
	table.ncode_imageresizer_warning {
		color: #000000; /* the font color */
		border: 1px solid #CCCDCD; /* the border around the whole thing */
		cursor: pointer;
	}
	table.ncode_imageresizer_warning td {
		font-size: 10px;
		vertical-align: middle;
		text-decoration: none;
	}

	table.ncode_imageresizer_warning td.td1 {
		padding: 5px;
	}
