/**
 * @package Progress Bar BBcode
 * @version 1.1
 * @author phantom
 * @copyright 2012
 * @license http://creativecommons.org/licenses/by-nc-nd/3.0/ CC BY-NC-ND 3.0
 */

.ProgressBar
{
margin-left:10px;
}
.ProgressBar2
{
background: #cedce7;
background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72));
background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%);
background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%);
background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%);
background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0);
border: 1px solid #000; -moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
width:50%;
margin-top: 2px;
}
.ProgressBar3
{
background: #c9de96;
background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0);
color:white;
font-weight:bold; max-width:100%;
height:20px;
}
