.heroBanner .itemInner.lazyLoad,.itemInner.lazyLoad{
	background-image: none !important;
}

.heroBanner .customImage-1,.customImage-1{
		background-image: url('/~/media/MainSite/images/home-exit/2016/01/older-couple-walking/brand-hub-older-couple-walking-Investments-hero-480.jpg?h=560&w=480');
		background-position: center center;
			display: block;
}
@media screen and (min-width: 37.5em){
	.heroBanner .customImage-1,.customImage-1{
				background-image: url('/~/media/MainSite/images/home-exit/2016/01/older-couple-walking/brand-hub-older-couple-walking-Investments-hero-800.jpg?h=670&w=800');
					}
	}
@media screen and (min-width: 64em) {
	.heroBanner .customImage-1,.customImage-1{
				background-image: url('/~/media/MainSite/images/home-exit/2016/01/older-couple-walking/brand-hub-older-couple-walking-Investments-hero-1024.jpg?h=683&w=1024');
					}
	}
@media screen and (min-width: 75em){
	.heroBanner .customImage-1,.customImage-1{
				background-image: url('/~/media/MainSite/images/home-exit/2016/01/older-couple-walking/brand-hub-older-couple-walking-Investments-hero-1200.jpg?h=690&w=1200');
					}
	}
.ie8 .customImage-1,.ie9 .customImage-1,
.ie8 .heroBanner .customImage-1,.ie9 .heroBanner .customImage-1{
		background-image: url('/~/media/MainSite/images/home-exit/2016/01/older-couple-walking/brand-hub-older-couple-walking-Investments-hero-1200.jpg?h=690&w=1200');
		}

.heroBanner .customImage-2,.customImage-2{
		background-image: url('/~/media/MainSite/images/home-exit/2016/10/flexone-brand-ad/brand-hub-brand-ad-isadora-480.jpg?h=560&w=480');
		background-position: center center;
			display: block;
}
@media screen and (min-width: 37.5em){
	.heroBanner .customImage-2,.customImage-2{
				background-image: url('/~/media/MainSite/images/home-exit/2016/10/flexone-brand-ad/brand-hub-brand-ad-isadora-800.jpg?h=670&w=800');
					}
	}
@media screen and (min-width: 64em) {
	.heroBanner .customImage-2,.customImage-2{
				background-image: url('/~/media/MainSite/images/home-exit/2016/10/flexone-brand-ad/brand-hub-brand-ad-isadora-1024.jpg?h=683&w=1024');
					}
	}
@media screen and (min-width: 75em){
	.heroBanner .customImage-2,.customImage-2{
				background-image: url('/~/media/MainSite/images/home-exit/2016/10/flexone-brand-ad/brand-hub-brand-ad-isadora-1200.jpg?h=690&w=1200');
					}
	}
.ie8 .customImage-2,.ie9 .customImage-2,
.ie8 .heroBanner .customImage-2,.ie9 .heroBanner .customImage-2{
		background-image: url('/~/media/MainSite/images/home-exit/2016/10/flexone-brand-ad/brand-hub-brand-ad-isadora-1200.jpg?h=690&w=1200');
		}

.heroBanner .customImage-3,.customImage-3{
		background-image: url('/~/media/MainSite/images/home-exit/2016/12/shelter/brand-hub-shelter-children-480.jpg?h=560&w=480');
		background-position: center bottom;
			display: block;
}
@media screen and (min-width: 37.5em){
	.heroBanner .customImage-3,.customImage-3{
				background-image: url('/~/media/MainSite/images/home-exit/2016/12/shelter/brand-hub-shelter-children-800.jpg?h=670&w=800');
					}
	}
@media screen and (min-width: 64em) {
	.heroBanner .customImage-3,.customImage-3{
				background-image: url('/~/media/MainSite/images/home-exit/2016/12/shelter/brand-hub-shelter-children-1024.jpg?h=683&w=1024');
					}
	}
@media screen and (min-width: 75em){
	.heroBanner .customImage-3,.customImage-3{
				background-image: url('/~/media/MainSite/images/home-exit/2016/12/shelter/brand-hub-shelter-children-1200.jpg?h=690&w=1200');
					}
	}
.ie8 .customImage-3,.ie9 .customImage-3,
.ie8 .heroBanner .customImage-3,.ie9 .heroBanner .customImage-3{
		background-image: url('/~/media/MainSite/images/home-exit/2016/12/shelter/brand-hub-shelter-children-1200.jpg?h=690&w=1200');
		}

.heroBanner .customImage-4,.customImage-4{
		background-image: url('/~/media/MainSite/images/home-exit/2016/12/christmas-flexplus/brand-hub-christmas-flexplus-480.jpg?h=560&w=480');
		background-position: center bottom;
			display: block;
}
@media screen and (min-width: 37.5em){
	.heroBanner .customImage-4,.customImage-4{
				background-image: url('/~/media/MainSite/images/home-exit/2016/12/christmas-flexplus/brand-hub-christmas-flexplus-800.jpg?h=670&w=800');
					}
	}
@media screen and (min-width: 64em) {
	.heroBanner .customImage-4,.customImage-4{
				background-image: url('/~/media/MainSite/images/home-exit/2016/12/christmas-flexplus/brand-hub-christmas-flexplus-1024.jpg?h=683&w=1024');
					}
	}
@media screen and (min-width: 75em){
	.heroBanner .customImage-4,.customImage-4{
				background-image: url('/~/media/MainSite/images/home-exit/2016/12/christmas-flexplus/brand-hub-christmas-flexplus-1200.jpg?h=690&w=1200');
					}
	}
.ie8 .customImage-4,.ie9 .customImage-4,
.ie8 .heroBanner .customImage-4,.ie9 .heroBanner .customImage-4{
		background-image: url('/~/media/MainSite/images/home-exit/2016/12/christmas-flexplus/brand-hub-christmas-flexplus-1200.jpg?h=690&w=1200');
		}
