@font-face {
	font-family: 'OnDemandKorea';
	src:url('/fonts/fontello.eot');
	src:url('/fonts/fontello.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fontello.ttf') format('truetype'),
		url('/fonts/fontello.woff') format('woff'),
		url('/fonts/fontello.svg#OnDemandKorea') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ODK-"], [class*=" ODK-"] {
	font-family: 'OnDemandKorea';
	speak: none;
	font-style: normal;
	font-weight: normal;
	
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	 
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ODK-music:before {
	content: "\e801";
}
.ODK-film:before {
	content: "\e817";
}
.ODK-gamepad:before {
	content: "\e80e";
}
.ODK-mic:before {
	content: "\e80f";
}
.ODK-arrow-right:before {
	content: "\e814";
}
.ODK-arrow-left:before {
	content: "\e815";
}
.ODK-arrow-right2:before {
	content: "\e804";
}
.ODK-arrow-left2:before {
	content: "\e802";
}
.ODK-search:before {
	content: "\e811";
}
.ODK-arrow-down:before {
	content: "\e803";
}
.ODK-arrow-right3:before {
	content: "\e809";
}
.ODK-arrow-down2:before {
	content: "\e806";
}
.ODK-arrow-left3:before {
	content: "\e808";
}
.ODK-arrow-up:before {
	content: "\e807";
}
.ODK-arrow-up2:before {
	content: "\e805";
}
.ODK-facebook:before {
	content: "\e80b";
}
.ODK-twitter:before {
	content: "\e80a";
}
.ODK-arrow-right4:before {
	content: "\e810";
}
.ODK-file-plus:before {
	content: "\e80d";
}
.ODK-file:before {
	content: "\e80c";
}
.ODK-camera:before {
	content: "\e800";
}
