/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
========================================================================================= Default */

*:focus {outline: none ! important;}
a {outline: none ! important;}

::selection {background:#a8d1ff;}
::-moz-selection {background:#a8d1ff;}

/* body {font-size: 12px; font-family: 'Nanum Gothic', sans-serif;} */
body {font-size: 12px; font-family: sans-serif;}
.right{float:right;}
.container{padding:0px; width:980px !important; margin:0 auto;}
.container-non-responsive { padding: 0px; width:980px !important; margin:0 auto;}
a{color:#000;}
a:hover, a:focus{text-decoration:none !important;color: #fb9922 /*!important*/;}
.green{color:#2db400;}
.no-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 125px;
	padding-top: 5px;
}

.row .first{padding-left:0px;padding-right:0px;}
.row .last{padding-right:0px;}
.breaking{
	background:#FF0000;
	padding: 2px 6px 2px 6px;
	margin-right: 7px;
	color:#fff;
	text-transform:uppercase;
}
a#breaking{color:#555555;}
.date{color:#ccc;}
.full-width .col-xs-4 .dash{
	width: 290px;
	height: auto;
	margin: 35px 0px 10px 0px;
}
.gal-caption {
	width: 100%;
	bottom:-47px;
	left: 0;

	text-align: center;
	position: absolute;
	padding:28px 10px 3px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../images/odk-dispatch.png) no-repeat center top;
}
.gal-caption.hover {
	border-bottom:13px green solid;
}
.image-bg {
	background: url(../images/odk-dispatch-hover.png) no-repeat center top; padding-bottom: 13px; bottom: -57px;
}
.dash-bg{
	width:470px;
	height:auto;
	background: url(../images/news-dashline-body.png) repeat-y;
	float:right;
	padding-left: 20px;
}
.dash-bg.header{height:5px;background: url(../images/news-dashline-header.png) no-repeat ;}
.menu-main-search {
	width: 200px;
	height: 35px;
	overflow: hidden;
	display: inline;
	float: left;
	position: relative;
	border: 1px solid #8a8689;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding-left: 5px;
}
#s {
	float: left;
	width: 150px;
	height: 27px;
	line-height: 27px;
	text-indent: 5px;
	font-family: arial, sans-serif;
	font-size: 1em;
	color: #8a8689;
	background: #fff;
	border: 0px;
	margin-right: 0px;
	margin-top:3px;
	float: left;
	margin-left:8px;
}
#searchsubmit {
	margin-top: 3px;
	cursor: pointer;
	width: 30px;
	height: 27px;
	line-height: 27px;
	font-size: 0;
	text-indent: -999px;
	color: transparent;
	background: url('../images/sprite_odk-news.png') -260px -25px;
	border: 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	float: left;
}
.full-dash{padding-bottom: 20px;border-top: 1px solid #eee;}
.line{padding-top:10px;border-bottom:4px solid #d1d1d1}
.thumbnail
{
	padding:0px;
	border:0px;
	border-radius:0px;
}
/*
========================================================================================= iosslider main-banner */
.iosSlider-outer-container{
	position:relative;
}
.iosSlider-outer-container .mainbanner{
	position:relative;
	width: 601px;
	height:436px;
/*
	height:436px;
	visibility: hidden;
*/
	
}
.ios-container{
	width: 100%;
	height: 100%;
}
.iosSlider {
	width: 100%;
}

.iosSlider .slider {
	width: 100%;	
}

.iosSlider .slider .item {
	float: left;	
	width: 606px;
}

.iosSlider .slider .item img {
	width: 100%;
	height: auto;
	background-color:#ffffff;
}

.slideSelectors-box{
	position:relative;
	bottom:28px;
	z-index: 1;
	width:596px;
/* 	background-color:#eee; */
	opacity:0.85;
	filter: alpha(opacity=85);
	height:28px;
}
.slideSelectors {
	position: relative;
	left: 0;
	min-width: 100px;
	max-width: 240px;
	margin: 0 auto;
	padding-top: 9px;
	z-index: 1;
	height: 28px;
}
.slideSelectors .item {
	float: left;
	width: 9px;
	height: 9px;
	background: #fff;
	margin: 1px 1px 1px 11px;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
}
.slideSelectors .selected {
	width: 12px;
	height: 12px;
	margin: 0 0 0 10px;
	background: #FF0000;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: none;
}

.container .next.hover{
	/*display:block;*/
	filter: alpha(opacity=85);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.container .prev.hover{
	/*display:block;*/
	filter: alpha(opacity=85);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.container .next {
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	/*display:none;*/
	position: absolute;
	top: 0px;
	right: 0px;
	width: 28px;
	height: 238px;
	background: #000;
	z-index: 10;
	background: transparent url('../images/arrow-right.png') no-repeat 0 0;
}

.container .next:hover {
	background: transparent url('../images/arrow-right_on.png') no-repeat 0 0;
}

.container .prev {
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	/*display:none;*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 28px;
	height: 238px;
	background: #000;
	z-index: 10;
	background: transparent url('../images/arrow-left.png') no-repeat 0 0;
}

.container .prev:hover {
	background: transparent url('../images/arrow-left_on.png') no-repeat 0 0;
}

.container .next.clips{
	height: 550px;
	background: transparent url('../images/arrow-l-right.png') no-repeat 0 0;
}

.container .next.clips:hover {
	background: transparent url('../images/arrow-l-right_on.png') no-repeat 0 0;
}

.container .prev.clips{
	height: 550px;
	background: transparent url('../images/arrow-l-left.png') no-repeat 0 0;
}

.container .prev.clips:hover {
	background: transparent url('../images/arrow-l-left_on.png') no-repeat 0 0;
}

.container .next.clip{
	height: 100px;
	background: transparent url('../images/arrow-s-right.png') no-repeat 0 0;
}

.container .next.clip:hover {
	background: transparent url('../images/arrow-s-right_on.png') no-repeat 0 0;
}

.container .prev.clip{
	height: 100px;
	background: transparent url('../images/arrow-s-left.png') no-repeat 0 0;
}

.container .prev.clip:hover {
	background: transparent url('../images/arrow-s-left_on.png') no-repeat 0 0;
}

/*
========================================================================================= iosslider clips rows:4 cols:5 items */
.contents.clips .ios-container{width: 100%;}
.contents.clips .iosSlider {
	width: 100%;
	height: 732px;
	margin:0 auto;
}

.contents.clips .iosSlider .slider {
	width: 100%;	
	height: 732px;
}

.contents.clips .iosSlider .slider .item {
	float: left;	
	width: 980px;
	overflow: hidden;
}
.contents.clips .iosSlider .slider .item .cliprow{
	float: left;	
	width: 100%;
	height:150px;
	overflow: hidden;
}
.contents.clips .iosSlider .slider .item .cliprow a:hover{
	color: #fb9922;
}
.contents.clips .iosSlider .slider .item .entry{
	float: left;	
	width: 201px;
	display:inline;
}
.contents.clips .iosSlider .slider .item .last_entry{
	float: left;	
	width: 175px;
	display:inline;
}

.contents.clips .iosSlider .slider .item a{
	height:150px;	
	display: block;
}
.contents.clips .iosSlider .slider .item a:hover{
	color:#fb9922;
}

.contents.clips .iosSlider .slider .item img {
	width: 175px;
	height:100px;
	height: auto;
	background-color:#ffffff;
	border:1px solid #cccccc;
}

.contents.clip .iosSlider {
	width: 100%;
	height: 150px;
	margin:0 auto;
}
/*
========================================================================================= iosslider Contents 5 items */
.contents .ios-container{width: 100%;}
.contents .iosSlider {
	width: 100%;
	height: 278px;
	margin:0 auto;
}

.contents .iosSlider .slider {
		width: 100%;	height: 238px;
}

.contents .iosSlider .slider .item {
	float: left;
	width: 980px;
	overflow: hidden;
}



.contents .iosSlider .slider .item .entry {
	display: inline;
	float:left;
	width:203px;
}
.contents .iosSlider .slider .item .last {
	display: inline;
	float:left;
	width:168px;
}

.contents .iosSlider .slider .item img {
	width: 168px;
	height: 238px;
	/*height: auto;*/
	background-color:#ffffff;
	border:1px solid #cccccc;
}

.contents .iosSlider .slider .ep_title{
	overflow: hidden;
	height:20px;
	min-height: 20px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
	margin-top:5px;
}

/*
========================================================================================= iosslider Contents 5 items 1 row clips */
.contents-1row .ios-container{width: 100%;}
.contents-1row .iosSlider {
	width: 100%;
	height: 150px;
	margin:0 auto;
}

.contents-1row .iosSlider .slider {
	width: 100%;
	height: 150px;
}

.contents-1row .iosSlider .slider .item {
	float: left;
	width: 980px;
	overflow: hidden;
}

.contents-1row .iosSlider .slider .item .entry {
	display: inline;
	float:left;
	width:201px;
}
.contents-1row .iosSlider .slider .item .last_entry {
	display: inline;
	float:left;
	width:175px;
}

.contents-1row .iosSlider .slider .item img {
	width: 175px;
	height: 100px;
	height: auto;
	background-color:#ffffff;
	border:1px solid #cccccc;
}

.contents-1row .iosSlider .slider .ep_title{
	overflow: hidden;
	height:20px;
	min-height: 20px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
	margin-top:8px;
}
/*
========================================================================================= Header- Navbar */
.navbar{border:0px;border-radius:0px;min-height: 49px;}
.navbar-inverse{background-color:#464646;border-color:#464646;margin-bottom:0px;}
.navbar-default {background-color: #fff;border-color: #fff;text-align: center;margin-bottom:1px;border: none;}
.navbar-default i{font-size: 20px;color: #000;}
.navbar-default .mls{margin-top:-3px;}
.navbar-default .navbar-right > li.last > a{padding-right:0px;}

.navbar-static-top .table{margin-bottom:0px;}
.navbar-static-top h1.green{color:#2eb300;float:left;margin:0px;font-weight: bold;}
.navbar-static-top td.logo{padding:8px 10px 0px 0px;float:left;}
.navbar-static-top td.logo.news_logo{padding:0px 20px 0px 0px;}
.navbar .logo { vertical-align: baseline; }
.navbar .logo img { position: relative;bottom: 5px; }
.navbar .join_link { width:65px; vertical-align: middle; }
.navbar .dropdown i, .navbar #language i{font-size: 10px;padding-left: 5px;}
/* .navbar td.icon{padding:8px 4px 0px 4px;} */
.navbar .icon_td img{width:20px;height:20px;}

.navbar #language { width:91px; }
.navbar #language .dropdown-menu{min-width:95px;top: 25px;left: 766px;}
.navbar #search{width: 275px;/* padding:8px 39px 8px 51px; */ position:relative;right:30px;float:right;left:20px;top:2px;}
.navbar #title{float:left;margin-left: -30px;}
.navbar #life{ margin:0; width:105px;}
.navbar #edu{ margin:0; width:87px;}
.navbar-inverse .table{text-align:center;margin-bottom:0px;}
.navbar-inverse .table td
{
	background-color: #464646;
	line-height: 20px;
	padding: 15px 10px 15px 10px;
	vertical-align: middle;
	letter-spacing: 0.5px;
}
.navbar-inverse .table td.v-bar{background: url('../images/nav-bar.jpg') no-repeat left center;cursor:pointer;}
.navbar-inverse .table td.v-bar.left { background: none;}
.navbar-inverse .table td i{padding-left:7px;font-size: 8px;}
.navbar-inverse .table a{color:#fff;font-weight: normal;}
.navbar-inverse .table a:hover {color:#fff !important;}
.navbar-inverse .table > tbody > tr > td, .navbar-static-top .table > tbody > tr > td{border-top:0px;}
.navbar-inverse .table td.button{padding:8px 0px 8px 0px;width:130px;}
.navbar-inverse .table td.button:hover{background-color:#464646;}
.navbar-inverse .btn{
	color: #fff;
	font-weight: bold;
	background-color: #fd750f;
	border-color: #fd750f;
}
.navbar-inverse .table td:hover, .navbar-inverse .table td.active,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color:#2eb300;
}


.navbar-inverse .navbar-collapse{
	padding-left:0px;
	padding-right:0px;
}

.navbar.news{margin-bottom: 0px;}
/*
========================================================================================= */
.navbar-inverse ul.level-top{ display: block; text-align:center; }
.navbar-inverse ul li.level-top { display: inline-block; }
.navbar-inverse ul.dropdown-menu li { float: none;height: auto;display: block; }
.navbar-inverse ul.dropdown-menu li a {display: block;float:none;text-decoration: none !important; color: #262626;}
.navbar-inverse ul.dropdown-menu li a:hover {color: #262626 !important;}
.navbar-inverse ul.dropdown-menu li a span{float:none;}



/*
========================================================================================= Search box */
.navbar-default .navbar-form{line-height:55px;margin-bottom:0px;}
.form-control{width:250px;border-radius: 15px;}


/*
========================================================================================= dispatch page */
.container.dispatch{ border-top: 4px solid #d1d1d1;}
.container.dispatch.top{border-top:0px;padding-left:1px;}
.container.dispatch.top .full-width .col-xs-12 {}
.container.dispatch.top .row.header{padding-top:0px;}
.container.dispatch h4{padding-bottom:0px;padding-top:15px;}
.container.dispatch .header{padding-bottom:10px; margin:0px;}

.container .full-width{margin-left:-15px;margin-right:-15px;}
.container .full-width img{width:100%; height:auto;}
.container .full-width .ep_title{padding: 10px 10px 10px 0px;}
.container .full-width .top-news .col-xs-12{padding-right:5px;}

.container.dispatch.ads-right{border-top:0px;}
.container.dispatch.ads-right h4#border{border-top:4px solid #d1d1d1;padding-top:25px;margin-top:0px;}
.container.dispatch.ads-right table.list td{border-top:1px solid #ddd;}
.container.dispatch.ads-right table.list td.first{border-top:0px;}
.container.dispatch .quarter{
	width:197px;
	height:120px;
}
.container.dispatch .col-xs-4.w230{width: 230px;margin-right: 50px;}
.container.dispatch #second-margin{margin-left:25px;}
.container.dispatch #third-margin{margin-left:40px;}


.container.dispatch .row{
	padding-top:5px;
}
.container.dispatch #top{padding-top:22px;}
.container.dispatch .row.inner{
	padding-top:0px;
	padding-bottom:0px;
	border-top: 0px;
}
.container.dispatch .last{
	padding-right: 0px;
	padding-left: 22px;
}
.container.dispatch .more, .container .more{
	display: block;
	width: 100%;
	height: 25px;
	font-size:13px;
}
.container .more{
	font-size:11px;
}
.container.dispatch .no-padding1{padding-left:10px;}
.container.dispatch .no-padding2{padding-left:5px;}
.container.dispatch .no-padding3{padding-left:0px;}

.container.dispatch .more.shade{
	width: 50%;
	float:left;
}
.container.dispatch .more.shade b{font-size:16px;}
.container.dispatch .panel-heading {
	height: 37px;
}
.container.dispatch .panel-default {
	width:97%;
	border-radius:0px;
	margin-top:29px;
	/*width:463px;*/
}
.container.dispatch .panel-default.first{margin-left:13px;border-radius:0px;margin-top:29px;}
.container.dispatch .panel-default.second{margin-left:20px;}
.container.dispatch table .image{width:96px;}
.container.dispatch table .news .green{color:#008000; padding-right:5px;}
.container.dispatch table img{width:80px;height:auto;}

.container.dispatch .more i{color:#008000;}
.container.dispatch .full-width .culture .col-xs-12{padding-right:9px;}
/*
========================================================================================= dispatch page with ads spot */

.container.dispatch.ads{border-bottom:0px;}
.container.dispatch.ads .third{width:335px;height:270px;padding-bottom: 0px;}
.container.dispatch.ads table img{width:135px;height:auto;}
.container.dispatch.ads table tr{padding-bottom:3px;}
.container.dispatch.ads table td{border-top:0px;/*padding:0px 8px 6px 8px;*/}
.container.dispatch.ads .col-xs-2{padding-left:24px;}

.container.dispatch.ads .full-width h4{padding-bottom:10px; border-bottom:1px solid #eee;}
.container.dispatch.ads .full-width h4.border{padding-top: 10px;padding-bottom: 15px;}
.container.dispatch h4.border2{padding-top: 15px;padding-bottom: 15px;border-bottom:1px solid #eee;width: 458px;}
.container.dispatch h4.border2-2{padding-top: 15px;padding-bottom: 15px;border-bottom:1px solid #eee;width: 456px;margin-left: 20px;}
.container.dispatch h4.border3{padding-top: 25px;padding-bottom: 15px;border-bottom:1px solid #eee;border-top:4px solid #d1d1d1;}
.container.dispatch.ads .full-width .col-xs-2 img{margin-top:55px;width:120px;height:600px;}
.container.dispatch.ads .full-width .col-xs-2 img#second-ads{margin-top:110px;}
.container.dispatch .full-width .row.ads .col-xs-4{padding-left:22px;}
.container.dispatch #padding-left{margin-left:0px;}
.container.dispatch #padding-left .more{width:478px;}

.container.dispatch .num{padding-left:15px;font-size:15px;width: 30px;float: left;}
.container.dispatch .num.first{font-size:25px;}
.container.dispatch table.list .green, .container.dispatch table.list .no-overflow span{padding-left:20px;padding-right:5px;}
.container.dispatch table.list td{padding:2px; border-top: 1px dashed #ddd;}
.container.dispatch table.second td.first{border-top:0px;padding-top: 12px;}
.container.dispatch table.inside{width:250px; margin-left:40px; }
.container.dispatch table.inside td{border:0px;}

.container.dispatch .third{width:290px;height:auto;padding-bottom:20px;}
.container.dispatch .third-ads{width:300px;height:250px;padding-bottom:20px;}
.container.dispatch .third.half{width:290px;height:300px;padding-bottom:20px;}
.container.dispatch .third.hover{position:relative;height: 600px;}
.container.dispatch .third.half.hover{position:relative; margin-top: 20px;height: 300px;}

.container.dispatch table#photo td.border-top{padding:5px 2px 2px 4px;border-top: 1px solid #ddd;}
.container.dispatch table#photo #main-image{padding:25px 2px 2px 15px;}
.container.dispatch table#breaking #main-image{}
.container.dispatch table#breaking #main-title{padding:0px;}
.container.dispatch table#breaking .no-overflow, .container.dispatch .table.list .no-overflow{width: 300px;padding-top:0px;}

.container.dispatch table#photo #main-title{padding:25px 2px 2px 5px;}
.container.dispatch table#photo #main-title div,.container.dispatch table#breaking #main-title div{padding:0px 0px 0px 5px;}
.container.dispatch table#photo #main-title div:last-child, .container.dispatch table#breaking #main-title div:last-child{padding-top:8px;}
.container.dispatch table#photo #main-title div:nth-child(2) a,.container.dispatch table#breaking #main-title div:nth-child(2) a{color:#555555;font-size:15px;}
.container.dispatch table#photo td#main-title .green, .container.dispatch table#breaking td#main-title .green{padding-left:0px;}
.container.dispatch table#photo table.inside{width:275px;}
.container.dispatch table#photo td.border-top .no-overflow{width:300px;padding-top:0px;}
.container.dispatch table#photo td#main-title .no-overflow{width: 170px;}
.container.dispatch table#photo td#main-title .no-overflow span {padding-left: 0px;}
.container.dispatch table#photo td.first{border-top:0px;height:140px;}
/*
========================================================================================= dispatch news-list */

.row.center{width:425px;margin:0 auto;}
.row.center.title{ /*padding-bottom:30px;*/}
.row.center.title p#content{margin-top:10px;}
.container.dispatch a.more.news i.moreview{font-size:0px;float:right; width:23px; height:22px; background: url('../images/sprite_odk-news.png') no-repeat -165px -115px; }
.container.dispatch a.more.news, .container.dispatch a.more.news i{font-size:15px;color:#000;}
.container.dispatch a.more.news span{width:100px;}
.row.center.thumbs{padding:130px 10px 0px 10px;}
.row.center.thumbs .col-xs-3{padding:0px 5px 0px 5px;}
.container.dispatch.news{border-bottom: 0px; padding-bottom:20px;border-top: 4px solid #d1d1d1;}
.container.dispatch.news .header{padding-bottom:0px;position:relative;}
.container.dispatch.news .date{line-height: 30px;padding-top: 24px;margin-right:-15px;}
.container.dispatch.news .image-center{width:300px;height: 250px;margin:0 auto;}
.container.dispatch.news .image-center img{width:300px;height:250px;}
.ads-center{width:730px;margin:0 auto;padding-top:10px;padding-bottom:35px;}
.container.dispatch.news #title{margin-left:-15px;}
.container.dispatch.news #main-big{width:100%;height:100%;}
.container.dispatch.news #main-small{width:100%;height:100%;}
.container.dispatch .row.ads.inside{padding:34px 0px 0px 0px;}
.container.dispatch.news .col-xs-6.first{width:495px;}
.container.dispatch.news .col-xs-6.first.w400{width:400px;}
.container.dispatch.news .col-xs-6.first.w450{width:450px;}
.container.dispatch.news .col-xs-6.last{width:470px;float: right;}
.container.dispatch.news .col-xs-6.last.absolute{position:absolute;right:0px;bottom:0px;}
/*
========================================================================================= dispatch news-detail */
.container.dispatch.news.detail .header{border-top:0px;}
.container.dispatch.news.detail h4{border-bottom:0px;padding-bottom: 0px;}
.container.dispatch.news.detail .ads{padding-right: 0px;padding-left: 32px;}
.container.dispatch.news.detail .ads img{ width:120px;height:600px;} 
.container.dispatch.news.detail{border-top:0px;}
.container.dispatch.news.detail.comments{padding-bottom:45px;}
.container.dispatch.news.detail.comments #facebook{margin:10px 0px 10px 0px;}
.container.dispatch.news.detail.contents{border-top:0px;padding-bottom: 55px;border-bottom: 4px solid #eee;}
.container.dispatch.news.detail #date{margin-top:-15px;}

.container table.list .green{padding-left:10px;padding-right:5px;}
.container table.list td{padding:3px 0px 3px 0px;}
.container table.list td.first{border-top:0px;}
.container table.list td{border:0px;}
.container table.list td#main-image{width:120px; padding-left:0;}
.container table.list td#main-image img{width:120px;height:auto;}
.container table.list td#main-title{padding:10px 0px 0px 0px;}
.container table.list td#main-title .green, .container table#breaking .green a {color:#555555; font-size:15px;}
.container table.list td#main-title .green, .container table#breaking .green a:hover{color:#fb9922;}
.container table.list td#main-title .no-overflow{width:224px;font-size:16px;padding-top:0px;}
.container table.list td#main-title .no-overflow.second{font-size:11px;padding-top:10px;}
.container table.list td#main-title .no-overflow a{color:#555555;}
.container table.list td#main-title .no-overflow a:hover{color:#fb9922;}
.container table.list td#main-title .no-overflow.second a{color:#000;}
.container table.list td#main-title .no-overflow.second a:hover{color:#fb9922;}
.container table.list td#main-title .no-overflow span{padding-left:10px;}

/*
========================================================================================= main index detail css */
.main_banner, .main_container { margin:0;}
.main_banner_left, .main_banner_right{ padding:0; }
.main_banner_left{width:727px;}
.main_banner_right{width:249px;padding-left:4px;}
.main_slider_container { width:596px; height: 435px; padding:0;margin-top:2px;}
.main_news_container { width:382px;height: 439px; padding: 10px 10px 10px 10px;margin-top: -1px;background:url('../images/news-bg_fivepx.png') no-repeat;float:right;}
.main_news_container table.list td.first{padding:0px;}
.main_news_title{ border-bottom:1px solid #ddd; padding-bottom:8px;}
.main_news_container .table.inside { margin-bottom:10px; }
.main_news_container .ODK-arrow-right3.green{ float:right;}
.main_news_container .more_view { float:right; font-size:12px; margin-top:3px; }
.main_news_container .col-xs-4:first-child{padding-left:25px;padding-right:10px;}
.main_news_container .deepest_row_second { padding: 0 14px;}
.main_news_container .row .last.deepest_row_last { padding-left:3px;}
.main_news_container .deepest_row_container { clear:both;padding-bottom:5px;}
/*
========================================================================================= dispatch detail css */
.container.dispatch .row.small_img_news { padding-top:17px;}
.container.dispatch .row.small_img_news_container { padding-bottom:5px;}
.container.dispatch .row.none_border { border:none;}
.container.dispatch.news .header.border_style { border-top:1px solid #ddd; padding-top:20px;}
.container.dispatch a.more.news { font-size:12px; font-weight:bold;line-height: 24px;}
.container.dispatch .social{margin-top:15px;}
.container.dispatch a.more.news span { float:left;} 
.container.dispatch a.more.news i { margin-top:1px; margin-left:3px; float:left;}
/*
========================================================================================= layout detail css */
.container.dispatch .row.six_columns{ padding-top:0; border:none;}
.three_colums_border { border-top: 3px solid #eee; }
.colums_border_style{ border-bottom: 3px solid #eee; padding-bottom: 15px;}
.container.dispatch h4.title_border{border-bottom: 1px solid #eee; padding-bottom: 10px;}
.container.dispatch.ads .col-xs-2.ads_style { padding-top:39px;}
.container.dispatch.ads .col-xs-2.ads_style2{ padding-top:47px;}
.no-overflow.list_news_first { width: 133px; }
.container.dispatch table.inside.list_news { width: 88%; margin-bottom: 13px;}
.container.dispatch table.list .green.padding_style { padding-left:10px; }
.container.dispatch .row.bottom_style { border-bottom: 3px solid #eee; padding-bottom: 15px; }
.container.dispatch.ads .col-xs-3.first.no_padding{ padding-left: 0;}
.container.dispatch .row.entertainment { width:830px; margin:0 auto; }
.container.dispatch .table.list{width:100%;margin-left:0px;}


/*
========================================================================================= news-detail detail css */
.news_detail_container {padding-left:0;}

/*
========================================================================================= head detail css */
.navbar-default .navbar-form {
display: inline-block;
}
.navbar-form .form-group {
display: inline-block; margin-bottom: 0; float: left;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: transparent;
}

.main_news_container h4{float:left;padding:7px 0px 12px 11px;margin:0px;border-bottom:0px;}
.container .more.main{width: auto;float: right;padding: 15px 5px 0px 0px;}
.container .more.main .ODK-arrow-right3.green{float:none;}
.contents.sub .item img.new{width:25px;height:5px;border:0px;margin-bottom: 10px;}


.tab-content ul{padding-left:0px;}
.tab-content ul li.first{padding-left:0px;clear:both;}
.tab-content ul li.last{padding-right:0px;float:right;}
.tab-content ul li{list-style:none;float:left;padding:16px;}
.tab-content ul li img{border:1px solid #cccccc;}

.contents.sub .nav-tabs > li > a.v-bar{background: url('../images/nav-bar.jpg') no-repeat left center;}
.contents.sub .nav-tabs > li > a
{
	font-size: 15px;
	color: #555555;
	/*color: #888888;*/
	font-weight:700;
}
.contents.sub .nav-tabs > li > a:hover {
	border-color: #fff;
	color:#fb9922;
	border-bottom:4px solid #2EB300;
	font-size: 1.5em;
}
.contents.sub .nav > li > a:hover,.contents.sub .nav > li > a:focus {
	text-decoration: none;
	background-color: #fff;
}
.contents.sub .nav-tabs > li.active > a
{
	color: #000;
	/*color: #6D6969;*/
	/*font-size: 17px;*/
	font-size: 1.6em;
	font-weight: bold;
	/*font-weight: 800;*/
	border:0px;
	border-bottom:4px solid #2EB300;
	outline: none;
}

.contents.sub .nav-tabs > li.active > a:hover, .contents.sub > li.active > a:focus
{
	color:#fb9922;
}

.footer .row.bottom{padding-top:30px;}
.footer .row.copyright .col-xs-12{width:283px;margin:0 auto;color:#999999;margin-bottom:20px;}
.footer ul li{float:left;list-style:none;padding:0px 16px 0px 15px;background: url('../images/nav-bar.jpg') no-repeat left center;}
.footer ul li.last{padding-right:0px;}
.footer ul li.first{padding-left:0px;margin-left:-22px;background: none;}
.footer ul li a{color:#8a8689;}

.table.list{margin-left:13px;width:335px;clear:both;margin-bottom:10px;}
.main_news_container table .ODK-arrow-right3.green{float:left;padding:2px 0px 0px 0px; margin-left:-3px; background: url('../images/minibullet.png') no-repeat -1px 0px; font-size:0; width:8px; height:9px;}
.selector{width:65px;position: absolute;right: 30px;top: 9px;}
.selector .ODK-arrow-right3{float:left; cursor:pointer; background: url('../images/sprite_odk-news.png') no-repeat -53px -116px; width: 17px; height:17px; font-size:0;}
.selector .ODK-arrow-left3{float:left;cursor:pointer; background: url('../images/sprite_odk-news.png') no-repeat -36px -116px; width: 17px; height:17px; font-size:0;}
.selector .page{float:left;color:#8a8689;padding-right:10px;}


.tab-content ul li.item.second{padding-left:35px;}
.tab-content ul li.item.third{padding-left:19px;}
.tab-content ul li.item.fourth{padding-left:19px;}
.container.sub .tab-pane .ep_title{padding-top:15px;}

/*
========================================================================== sub-issue-video */
.youtube .ads-center{text-align:center;font-size:15px;font-weight:bold;padding-top:0px;padding-bottom:5px;}
.youtube .col-xs-9{width:700px;height:394px;padding:0px;}
.youtube .col-xs-3{width:280px;height:394px;padding:0px;background-color:#2d2d2d;}
table.youtube span{color:#fff;font-size:17px;}
table.youtube tr > td{border:0px;padding:6px;vertical-align: middle;text-align: center;}
.clips .prev-episode{border-bottom: 1px solid #000;margin-bottom: 5px;}

div#mastheadDividerSubject {
/* background-image: url('http://www.ondemandkorea.com/images/title_divider2.png'); */
background-repeat: no-repeat;
background-position: 0 100%;
text-align: left;
width: 980px;
margin: 0 auto;
height: 39px;
color: #424242;
font-size: 15px;
font-weight: bold;
padding: 7px 0 15px;
padding-top: 7px;
position: relative;
}
#title_sns {
position: absolute;
top: 7px;
left: 704px;
right: 0px;
}
.clips  a:hover .ep_date , .third.hover:hover  span{ color: #000;}
.navbar td.icon  a:hover, .container.dispatch .table.list a.custom_hover:hover, a.custom_hover:hover { text-decoration:none;}
.navbar td.icon  a:hover .mls, .container.dispatch table.list .no-overflow a:hover span.only_underline, a.custom_hover:hover span.only_underline  { text-decoration:none;}
.deepest_row_container .ep_title { margin-top:10px; max-width: 106px;}
h4, .h4 { font-size: 20px; }
.container.dispatch.top a:hover , .container.dispatch.top a:focus, .container.dispatch a:hover  { color: #000; }
.container.dispatch table.list .no-overflow span.only_underline { padding:0; }
.container table.list .green.custom_paading{ padding-left:5px;}
.container.dispatch.top .col-xs-10 { padding-right:7px; }
.more_view { font-size:11px;}
.container.dispatch.top .full-width .col-xs-10 .col-xs-12 { padding-right: 0;}
.custom_font_size { font-size:22px;}
.container.dispatch.news.detail.contents p { font-size:16px;}
.navbar-inverse .table td.v-bar.menu_life, .navbar-inverse .table td.v-bar.menu_edu{ position:relative;}
.navbar-inverse .table td.v-bar.nav_hover_css { background:none; background-color:#2eb300 !important; cursor:pointer; }
.navbar-inverse .table td.v-bar.nav_hover_next { background:none;}
.right_links { position: fixed; top:40%; right:0; }
.right_links div { height:41px; width:33px;}
.right_links .facebook_link { background: url('../images/fb.png') no-repeat; padding:15px; font-size:0;}
.right_links .twitter_link { background: url('../images/twitter.png') no-repeat; padding:15px; font-size:0;}
.navbar-inverse .navbar-collapse span { font-size:13px; font-weight:600;}
.navbar #language .dropdown-menu li a { font-size: 12px; color: #8a8689; }
#language > a, .join_link a, .login_link a{ color: #8a8689;}
.no_ads_button {background: url('../images/sprite_odk-news.png') no-repeat -308px -18px; width:132px;}
.no_ads_button a { display:block;}
.navbar-inverse .navbar-collapse .no_ads_button a  span { font-size: 0;}
.dropdown_arrow { background: url('../images/arrow.png') no-repeat 0px 0px; padding:5px; float:right;}
/* h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Nanum Gothic', sans-serif; line-height: 1.8;} */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { sans-serif; line-height: 1.8;}
.main_news_title span { font-size: 17px; font-weight: 600; }
.contents .iosSlider .slider .ep_title b { font-size:13px;}
.contents-1row .iosSlider .slider .ep_title b { font-size:13px;}
h4.font_size_custom { /*font-size:18px;*/}
.col-xs-12.padding_custom { padding-top: 10px;}
h4.font_size_custom strong{ /*color: #6D6969;*/ font-weight: 800;}
h4.font_size_custom.hot_issue{ font-size:19px;}
#hot_news, .dropdown-menu.hot_news_menu_drop { margin-top:0;}
.container.dispatch.news .col-xs-6.last.ad_banner { padding-top:32px; /*position: absolute;*/right: 0;bottom: 20px;}

p {line-height: 1.8;}
span {line-height: 1.6;}

.register{text-align:center;}
.container.dispatch.register{text-align:center;border-top: 1px solid #d1d1d1; padding-bottom: 20px;}
.container.register .facebooklogin,.container.register .register-button{width:331px;height:72px;margin-top:20px;}

.form-horizontal{border-top:3px solid #D1D1D1;border-bottom: 3px solid #D1D1D1;}
.form-horizontal .control-group {
margin-bottom: 20px;
margin-top: 20px;
height:30px;
padding-left:35px;
}
.form-horizontal .control-group2 {
margin-bottom: 20px;
margin-top: 20px;
height:30px;
}
.form-horizontal .ODK-stop{font-size:10px;}
.form-horizontal .control-label {
float: left;
width: 150px;
padding-top: 0px;
padding-left: 10px;
text-align: left;
line-height:30px;
font-weight: normal;
}
.register .form-horizontal .control-label {
	background: url('../images/minibullet-green.png') no-repeat 0px 11px; 
}
.form-horizontal .controls {
margin-left: 150px;
text-align:left;
}
.form-horizontal input{
width:250px;
height:30px;
background: #F2F2F2;
border: 1px solid #9C9C9C;
}
.form-horizontal label.radio{width:70px;float:left;padding:0px;line-height:30px;font-weight: normal;}
.form-horizontal #ws-plugin--s2member-custom-reg-field-gender-0,.form-horizontal #ws-plugin--s2member-custom-reg-field-gender-1 {
	width:13px;
	height:17px;
	float:left;
	margin-top:6px;
	margin-right: 20px;
}
.row-fluid .buttons {width:65px;float:left;}
.row-fluid .buttons-text{float: left;line-height: 30px;padding: 0px 5px;}
}
.row-fluid .span4 {
width: 31.914893617021278%;
float: left;
}
.row-fluid .span8 {
width: 65.95744680851064%;
float:left;
}
.form-horizontal .span12.control-label{width:100%;}

.form-horizontal .btn {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 11px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #333333;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #cccccc;
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}


.form-horizontal .bootstrap-select.btn-group .btn .filter-option{left:5px;}

span.underline{color: #E38239;text-decoration:underline}
span.orange{color: #E38239;}




.container.membership{text-align:center;background:#F1F0F0}
p.notice{color:#E38239}
p.info{font-size:14px;}
.billing-title{margin-top:0px;}
.billing .form-horizontal{border-top: 3px dotted #888888;border-bottom: 3px dotted #888888;padding-top:15px;}
.billing .form-horizontal .control-label{padding-left:0px;width:250px;}
.billing .row-fluid .buttons{width: 80px;padding-right: 10px;}
#inputCardValidation,#inputZipcode{width:100px;}
.inputHolderName{width:124px !important;}
.inputExpireDate{width:100px !important;}
.billing label.checkbox{width:100%;padding-left:0px;font-weight:normal;}
.billing label{font-weight:normal;}
.billing #agree{width:50px;height:auto;margin-top:0px;}
.billing #agree {margin-left:0px;}
.billing .checkout2{text-align:right;}
.billing .checkout{text-align:right;}
ul.login{padding-left:18px;padding-top:10px;}
ul.login li{padding:5px 0px;}

h3.bold{font-weight: bold;}

.popup-bottom{border-top:1px solid #ccc;text-align:center;padding-top:5px;}

.popup .form-horizontal{border-top:0px; border-bottom:0px;}
.popup .form-horizontal .control-group{margin-bottom: 10px;margin-top: 10px;}
.popup .form-horizontal .control-label{padding-left:0px;width: 50px;margin-right: 10px;}
.popup .form-horizontal .controls{margin-left:50px;}
.popup .form-horizontal input{width:220px;}
.popup .checkbox{padding:0px;}
.popup .checkbox input[type="checkbox"]{width:25px;height:15px;margin-top: 0;margin-left: 0px;}
.popup span.underline.green{color: #008000;}

.fancybox-opened .fancybox-skin{background:#fff;}

.gal-caption span{z-indeX: 99999;position: absolute;left: 74px;bottom: 20px;}
.container.dispatch  .gal-caption h4{padding-top:0px;padding-bottom:0px;margin-top:5px;}
.container.dispatch .gal-caption h5 { padding-top:0px;padding-bottom:0px;margin-top:13px; margin-bottom: 0;}
.ODK-file.absolute{position: absolute;z-index: 99999;top: 8px;left: 137px;font-size: 19px;}
.container.billing .row.header{ padding-bottom:18px; padding-top: 5px;}
.container.billing {padding-bottom:20px;}
.container.register {padding-bottom:10px;}
.more_view_arrrow { position: absolute; left: 117px; top: 88px; display: none;}
.gal-caption:hover .more_view_arrrow {
	display:block;
}

/*
********** ODK CSS **********
*/

.top-6 .first-row {
	width: 290px ! important;
	height: 290px ! important;
}

.top-6 .second-row {
	width: 290px ! important;
	height: 200px ! important;
}

.top-6 .third-row {
	width: 290px ! important;
	height: 200px ! important;
}

.container.dispatch .third.half {
	height: 300px ! important;
}

#playerMasthed {
	width:100%;
	position:relative;
	overflow:hidden;
	background-color:#444;
	background-image:-moz-linear-gradient(top,#555,#333);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#555),to(#333));filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr="#555555",endColorStr="#333333");
}

#playerMasthed .inner {
	width:900px;
	height:506px;
	background-color:#000;
	margin:0 auto;
	position:relative;
	left:30px;
}

#playerMasthed .inner {
width: 900px;
height: 506px;
background-color: #000;
margin: 0 auto;
position: relative;
left: 30px;
}

#channels {
position: absolute;
width: 60px;
top: 5px;
left: -63px;
}


div#player
{
	width:980px;
	margin:0 auto;
	height:394px;
	border:0px;
}
div#odk_player {
	display:table;
	width:700px;
	height:394px;
}
.knews_menu {
	width:980px;
	position:relative;
	margin:0 auto;
	padding:0;
	margin-top:5px;
}
.submenu {
	padding-left:0px;
}
.submenu li {
	display: inline;
	float:left;
	font-size: 1.6em;
	padding-left:15px;
	height:33px;		
}
.submenu a
{
	display:block;
}
.mastheadDivider {
	width:100%;
	height:39px;
	
}
div#mastheadDividerSubject {
/* 	background-image:url('http://www.ondemandkorea.com/images/title_divider2.png'); */
	background-repeat:no-repeat;
/*	background-position: 0 100%; */
	text-align:left;
	width:980px;
	margin:0 auto;
	height:39px;
	color:#424242;
	font-size:15px;
	font-weight:bold;
	padding-top:7px;
	position:relative;
	
}
#title {
	margin:0 auto;
	
}
#title_sns {
	position:absolute;
	top:7px;
	left:704px;
	right:0px;
}
/*
.fb-like {
	margin-right:10px;
	width:52px;
	overflow:hidden;
	}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {display: none !important;}
*/

/*
.menu {
	float: left;
	text-align: left;
}
.menu ul {
	margin:0px; 
	padding:0px; 
	list-style:none;
}
.menu ol {
	margin:0px; 
	padding:0px; 
	list-style:none;
}
.menu li {
	margin:0px; 
	padding:0px; 
	list-style:none;
}
*/
div#mainContent {
	width: 100%;
	position:relative;

}
div#mainContentInner {
	width:980px;
	min-height:550px;
	margin:0 auto;
	padding-top:10px;
	text-align:left;
	
}

div.genreSub {
	width: 100%;
	float: left;
	padding-left:15px;
	text-align:left;
	position:relative;
}

div.genreSub img {
	margin-bottom:10px;
}

div.genreSub li {
	float:left;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	padding-bottom:0px;
}

div.genreSubcat {
	width: 100%;
	float: left;
	padding-left:15px;
	text-align:left;
	position:relative;
}

div.genreSubcat img {
	margin-bottom:10px;
}
div.genreSubcat ul {
	margin:0;
	padding:0;
	list-style: none;
}
div.genreSubcat li {
	float:left;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	padding-bottom:0px;
}



div.genreSubProfile {
	width: 100%;
	float: left;
	margin-bottom:20px;
	text-align:left;
	position:relative;

}

div.genreSubProfile img {
	margin-bottom:10px;
}

div.genreSubProfile li {
	float:left;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	padding-bottom:45px;
}

div.ep {
	float: left;
	width: 175px;
	text-align: left;
	margin-right:13px;
	font-size: 11px;
	margin-bottom:15px;
	position:relative;
} 
div.ep img {
	margin: 0 0 3px 0;
	border:1px solid #cccccc;
}

div.ep_last img {
	margin: 0 0 3px 0;
	border:1px solid #cccccc;
}

.ep:hover a {
	color: #fb9922;
}
div.ep_last {
	position:relative;
	float: left;
	width: 174px;
	text-align: left;
	font-size: 11px;
}
.ep_last:hover a {
	color: #fb9922;
}
div.ep_history {
	float: left;
	width: 160px;
	text-align: left;
	margin-right:20px;
	font-size: 11px;
	margin-bottom:12px;
}
div.ep_history img {
	margin: 0 0 3px 0;
	border:1px solid #cccccc;
}

.ep_history_profile {
	float: left;
	width: 150px;
	height:165px;
	text-align: left;
	margin-right:20px;
	font-size: 11px;
	margin-bottom:20px;
}

.ep_history_profile img {
	width:160px;
	margin-right:10px;
	border:1px solid #cccccc;
}

.content {
	border-top:1px solid #575757;
	float:left;
	clear:both;
	width:100%;
}

/* Pagination DIV */
#pg
{
	background-color: #FFFFFF;
	text-align: center;
	font-size: 10px;
	color: #2B3956;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 11px;
	text-align: left;
}

/* Pagination Link */

#pg a {
	font-size: 10px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #dddddd;
	padding: 3px;
	-moz-border-radius: 3px;
	margin-right:5px;
}

#pg a:hover {
	font-size: 10px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #A7A7A7;
	background-color: white;
	padding: 3px;
	-moz-border-radius: 3px;
}

/* Pagination Current Page */

#pg a.current {
	font-size: 10px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #336699;
	background-color: #F5F7FA;
	padding: 3px;
	-moz-border-radius: 3px;
}

/* Pagination Disabled Page */

#pg span.disabled {
	font-size: 10px;
	text-decoration: none;
	color: #C6C7C7;
	border: 1px solid #C6C7C7;
	background-color: white;
	padding: 3px;
	-moz-border-radius: 3px;
}
#pg .pgnum {
	float:left;
	margin-bottom: 10px;
}

div#information {
float: left;
width: 100%;
display: inline;
position: relative;
}

div.mutual_recommand_obj {

margin-right: 25px;
float: left;
width: 170px;
position: relative;
margin-bottom: 15px;
}

div.mutual_recommand_img {
display: inline;
float: left;
}

.mutual_poster {
border: 1px solid #cccccc;
width: 168px;
height: 238px;
}

div.ep_box {
	width:168px;	
	height:268px;
	margin-bottom:20px;
	margin-right:5px;
	position:relative;
	
}
div.ep_box:hover a {
	color: #fb9922;
}
div.ep_box img {
	border:1px solid #cccccc;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_3 {
  width: 220px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_6 {
  width: 460px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_9 {
  width: 700px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

.container_12 .grid_12 {
  width: 940px;
}
.container_12 .grid_12 h1{
	font-size:2em;
	font-weight:600;
}

#sidebar {
border: 1px solid #5A4;
padding: 10px;
border-radius: 5px;
background: #CEC;
}

#radios {
	font-size:1em;
}
#radios table {
border-collapse: collapse;
border-spacing: 0;
border:none;
}

#radios table td{
border-collapse: collapse;
border-spacing: 0;
border:none;
}

.iosSlider.banner {
	width:596px;
	height:435px;
	visibility: hidden;
}
.iosSlider.banner .PrevSelector {
background: url('/images/odk-news-slider.png') no-repeat -10px -5px;
position: absolute;
width: 40px;
height: 40px;
z-index: 2;
left: 0;
top: 182px;
}

.iosSlider.banner .PrevSelector:hover {
background: url('/images/odk-news-slider-on.png') no-repeat -10px -5px;
}

.iosSlider.banner .NextSelector {
background: url('/images/odk-news-slider.png') no-repeat -105px -2px;
position: absolute;
width: 40px;
height: 40px;
z-index: 2;
right: 0;
top: 182px;
}

.iosSlider.banner .NextSelector:hover {
background: url('/images/odk-news-slider-on.png') no-repeat -105px -2px;
}

.col_left {
	width:237px;
	float:left;
	margin-right:20px;
	color:#444444;
}
.col_left h3 {
	size:15px;
	margin-bottom:5px;
	margin-top:10px;
}
#profile_pic {
	width:50px;
	float:left;
}
#profile_name {
	width:177px;
	float:left;
	padding-left:10px;
	font-size:22px;
	
	font-weight:bold;
}
.col_right {
	float:left;
	width:720px;
}
.fbpic {
	float:left;
	display:inline;
}
.fbpic img{
	width:42px;
	height:42px;
}
.clear {
	clear:both;
}

.hr {
  color: #dddddd;
	background-color: #dddddd;
	height: 1px;
	margin-bottom:10px;
}
.account_status {
	width:100%;
}
.account_header td {
	background-color:#f8f8f8;
	border:1px solid #e7e7e7;
	height:34px;
	text-align:center;
	vertical-align:middle;
}
.account_status td {
	height:34px;
	text-align:center;
	vertical-align:middle;
	border:1px solid #e7e7e7;
}


/* profile tab.css */
@CHARSET "UTF-8";
/******* GENERAL RESET *******/


.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
a{
	text-decoration: none;
}
/******* GENERAL RESET *******/

/******* /LOGO  *******/
/******* MENU *******/
#container{
	width:100%;
	margin: 0 auto;
}
#container ul{
	list-style: none;
	list-style-position: outside;
	
}
#container ul.menu li{
	float: left;
	

}
#container ul.menu li{
	font-weight: 700;
	display: block;
	margin-right:5px;
	background: #efefef;
	margin-bottom: -1px;
	position: relative;
	color: #898989;
	cursor: pointer;
}
#container ul.menu li.active{
	background: #fff;
	top: 0px;
	border-bottom: 0;
	color: #5f95ef;
}

#container ul.menu_profile li{
	float: left;
	

}
#container ul.menu_profile li{
	font-weight: 700;
	display: block;
	margin-right:5px;
	background: #efefef;
	margin-bottom: -1px;
	position: relative;
	color: #898989;
	cursor: pointer;
}
#container ul.menu_profile li.active{
	background: #fff;
	top: 0px;
	border-bottom: 0;
	color: #5f95ef;
}
/******* /MENU *******/

.container.register.tagline {
	margin-top:25px;
}

.styled-select select {
	background: transparent;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
}


/* sprite */
.ad_kr, .ad_kr_hover, .ad_en, .ad_en_hover, .ad_cn, .ad_cn_hover, .ad_tw, .ad_tw_hover, .noad_tw_hover, .noad_tw, .noad_cn_hover, .noad_cn, .noad_en_hover, .noad_en, .noad_kr_hover, .noad_kr{
	background: url('../images/ads_buttons_sprite2.png') no-repeat;
	width: 110px;
	height: 30px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}

.ad_kr{
	background-position: -44px -37px ;
	width: 110px;
	height: 30px;
}

.ad_kr:hover{
	background-position: -165px -38px ;
	width: 110px;
	height: 30px;
}

.ad_en{
	background-position: -44px -74px ;
	width: 110px;
	height: 30px;
}

.ad_en:hover{
	background-position: -164px -74px ;
	width: 110px;
	height: 30px;
}

.ad_cn{
	background-position: -44px -206px ;
	width: 110px;
	height: 30px;
}

.ad_cn:hover{
	background-position: -165px -206px ;
	width: 110px;
	height: 30px;
}

.ad_tw{
	background-position: -44px -242px ;
	width: 110px;
	height: 30px;
}

.ad_tw:hover{
	background-position: -165px -242px ;
	width: 110px;
	height: 30px;
}

/* a/b testing */
.ad_test_kr, .ad_test_kr_hover, .ad_test_en, .ad_test_en_hover, .ad_test_cn, .ad_test_cn_hover, .ad_test_tw, .ad_test_tw_hover, .noad_test_tw_hover, .noad_test_tw, .noad_test_cn_hover, .noad_test_cn, .noad_test_en_hover, .noad_test_en, .noad_test_kr_hover, .noad_test_kr{
	background: url('../images/ads_buttons_sprite2_2.png') no-repeat;
	width: 110px;
	height: 30px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}

.ad_test_kr{
	background-position: -44px -37px ;
	width: 110px;
	height: 30px;
}

.ad_test_kr:hover{
	background-position: -165px -38px ;
	width: 110px;
	height: 30px;
}

.ad_test_en{
	background-position: -44px -74px ;
	width: 110px;
	height: 30px;
}

.ad_test_en:hover{
	background-position: -164px -74px ;
	width: 110px;
	height: 30px;
}

.ad_test_cn{
	background-position: -44px -206px ;
	width: 110px;
	height: 30px;
}

.ad_test_cn:hover{
	background-position: -165px -206px ;
	width: 110px;
	height: 30px;
}

.ad_test_tw{
	background-position: -44px -242px ;
	width: 110px;
	height: 30px;
}

.ad_test_tw:hover{
	background-position: -165px -242px ;
	width: 110px;
	height: 30px;
}

.noad_test_tw:hover{
	background-position: -44px -326px ;
	width: 111px;
	height: 32px;
}

.noad_test_tw{
	background-position: -164px -326px ;
	width: 111px;
	height: 32px;
}

.noad_test_cn:hover{
	background-position: -44px -326px ;
	width: 111px;
	height: 32px;
}

.noad_test_cn{
	background-position: -164px -286px ;
	width: 111px;
	height: 32px;
}

.noad_test_en:hover{
	background-position: -44px -118px ;
	width: 111px;
	height: 32px;
}

.noad_test_en{
	background-position: -164px -117px ;
	width: 111px;
	height: 32px;
}

.noad_test_kr:hover{
	background-position: -44px -158px ;
	width: 111px;
	height: 32px;
}

.noad_test_kr{
	background-position: -164px -157px ;
	width: 111px;
	height: 32px;
}

/* for trial */
.ad_trial_kr, .ad_trial_kr_hover, .ad_trial_en, .ad_trial_en_hover, .ad_trial_cn, .ad_trial_cn_hover, .ad_trial_tw, .ad_trial_tw_hover {
	background: url('../images/ads_trial_buttons_sprite.png') no-repeat;
	width: 110px;
	height: 30px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}

.ad_trial_kr{
	background-position: -37px -33px ;
	width: 110px;
	height: 30px;
}

.ad_trial_kr:hover{
	background-position: -167px -33px ;
	width: 110px;
	height: 30px;
}

.ad_trial_en{
	background-position: -37px -75px ;
	width: 110px;
	height: 30px;
}

.ad_trial_en:hover{
	background-position: -167px -75px ;
	width: 110px;
	height: 30px;
}

.ad_trial_cn{
	background-position: -37px -118px ;
	width: 110px;
	height: 30px;
}

.ad_trial_cn:hover{
	background-position: -167px -118px ;
	width: 110px;
	height: 30px;
}

.ad_trial_tw{
	background-position: -37px -160px ;
	width: 110px;
	height: 30px;
}

.ad_trial_tw:hover{
	background-position: -167px -160px ;
	width: 110px;
	height: 30px;
}
/**/

.noad_tw:hover{
	background-position: -44px -326px ;
	width: 111px;
	height: 32px;
}

.noad_tw{
	background-position: -164px -326px ;
	width: 111px;
	height: 32px;
}

.noad_cn:hover{
	background-position: -44px -326px ;
	width: 111px;
	height: 32px;
}

.noad_cn{
	background-position: -164px -286px ;
	width: 111px;
	height: 32px;
}

.noad_en:hover{
	background-position: -44px -118px ;
	width: 111px;
	height: 32px;
}

.noad_en{
	background-position: -164px -117px ;
	width: 111px;
	height: 32px;
}

.noad_kr:hover{
	background-position: -44px -158px ;
	width: 111px;
	height: 32px;
}

.noad_kr{
	background-position: -164px -157px ;
	width: 111px;
	height: 32px;
}

/* bootstrap modification */
.col-xs-10 {
  width: 79%;
}
.col-xs-2 {
  width: 16.5%;
}

.subcat_heading {
	font-size:18px;
	font-weight:bolder;
}

.table.icon img {
	vertical-align: top;
	padding-bottom: 3px;
}

.rate_num {
float: left;
padding-top: 90px;
display: inline;
font-size: 2em;
font-weight: bolder;
width: 30px;
}
.rate_poster {
	float:left;
	display:inline;
}
.rate_poster img{
	border:1px solid #cccccc;
	width:150px;
	margin-left:5px;
	margin-top:5px;
	
}
.rate_divider {
	float:left;
	display:inline;
	margin-left:20px;
	padding-top:10px;
}
.rate_content {
	float:left;
	width:745px;
	display:inline;
	margin-left:20px;
	color:#5c5b5b;
	margin-top:2px;
}
.rate_content_top {
	float:left;
	width:745px;
}
.rate_content_bottom {
	float:left;
	width:735px;
	overflow:hidden;
	padding-right:10px;
	position:relative;
	
}
.rate_left {
	float:left;
	width:330px;
}
.rate_left img {
	position:relative;
}
.rate_right {
	margin-top:0px;
	float:left;
	width:400px;
	height:50x;
	overflow:hidden;
	position:relative;
	
}
.rate_right img{
	width:35px;
	height:35px;
}
.rate_title {
	display:inline;
	font-size:20px;
	font-weight:bold;
	color:#5c5b5b;
	margin-bottom:10px;

	float:left;
}


.logo_div {
	float:left;
	margin-top:5px;
}
.odk_div {
	display: inline;
	float: left;
}
.movies_div {
	display: inline;
	float: left;
	margin-left:10px;
}
.enews_div {
	display: inline;
	float: left;
	margin-left:10px;
}

.icons_search_div {
	display: inline;
	float:right;
}
.icons_div {
	display: inline;
	float: left;
	margin-right: 30px;
}
.icons_list {
	/*margin-top:12px;*/
	margin-top:7px;
	text-align:right;
	display: inline;
	float: left;
	margin-right: 35px;
	font-size:14px;
}
.icons_list li {float:right;padding:0 15px 0 17px; background:url('/images/layout/line3.gif') no-repeat 0 center}
.icons_list li.last {padding-right:0;}
.icons_list li a {
	font-weight: 500;
	color: #444;
}
.icons_list li a:hover {color:#2db400;}
.icons_list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.icons_list ul li.first {
	background: none;
	padding-left: 0;
}

.search_div {
	display: inline;
	float: left;
	margin-top:4px;
}


/* ajax navigation */

#hot_backward {
	height:620px;
}
#hot_forward {
	height:620px;
}

.componentWrapper .thumbForward{
	position:absolute;
	width:28px;
	height:100px;
	background-image:url('/images/arrow-l-right.png');
	top:0px;

}

.componentWrapper .thumbForward:hover{
	position:absolute;
	width:28px;
	height:100px;
	background-image:url('/images/arrow-l-right_on.png');
	top:0px;

}

.componentWrapper .thumbBackward{
	position:absolute;
	width:28px;
	height:100px;
	background-image:url('/images/arrow-l-left.png');
	top:0px;
}

.componentWrapper .thumbBackward:hover{
	position:absolute;
	width:28px;
	height:100px;
	background-image:url('/images/arrow-l-left_on.png');
	top:0px;

}

.componentWrapper .thumbBackward img{
	position:absolute;
	display:block;
	width:21px;
	height:31px;
	top:50%;
	left:50%;
	margin-left:-12px;
	margin-top:-15px;
}


.componentWrapper .thumbForward img{
	position:absolute;
	display:block;
	width:21px;
	height:31px;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-15px;
}


.thumbHolder {
	display:inline;
	float:left;
	margin: 0 4px 20px 4px;
	width:175px;
	overflow:hidden;
	left:37px;
	/*position:relative;*/
}
.thumbHolder img {
	margin-bottom:5px;
	border:none;
}

.thumbHolder:hover a {
	color: #fb9922;
}

.componentWrapper {
	width:980px;
	text-align:left;
	position:relative;
}
.thumbInnerContainer {
	padding-left:3px;
	float:left;
}
.thumb_title {
	height:15px;
	overflow:hidden;
	margin-bottom:2px;
}
.thumb_info {
	padding-top:2px;
}
.blankThumb {
	width:175px;
	height:100px;
}
.loading {
	border:none !important;
	left:50%;
	top:43%;
	position:absolute;
}
#4rows_thumbInnerContainer {
	width:980px;
	height:660px;
}
#1row_thumbInnerContainer {
	width:980px;
	height:165px;
}

p.error {
	color:red;
	font-size:1.5em;
	font-weight:bolder;
}

/* user-rating percentage bar */
.bar {
width: 300px;
position: relative;
float: left;
}
.percentage {
float: left;
display: inline;
position: relative;
top: 3px;
}
.percentbar {
float: left;
margin-top: 5px;
margin-left: 10px;
display: inline;
width: 200px;
background: #CCCCCC;
border: 1px solid #666666;
height: 10px;
margin-right: 10px;
}
.percentbar div {
background: #bdf734;
height: 8px;
}
.daysonair {
	margin-top:5px;
}
.player_ads {
	width:277px;
	height:394px;
	background-color:#393939;
	padding:5px;
}

.dropdown-menu.menu-dispatch-categories {
	border-radius: 0px;
}
.dropdown-menu {
	border-radius: 0px !important;
}

.hover_underline:hover {text-decoration:underline;}

/* layout */
#wrapGnb {position:relative;z-index:2000;height:33px;padding-top:3px;color:#737373;border-bottom:1px solid #c9c9c9;background:#f6f6f6;}
#wrapGnb ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#wrapGnb a {
	color: #555;
	text-decoration: none;
	font-size: 12px;
}
#wrapGnb input {
	outline: none;
}
#wrapContainer {}
#wrapFooter {margin-top:53px;clear:both;}
.wrapContent {z-index:2000;position:relative;width:980px;margin:0 auto;}

/* gnb */
.gMenu1 {position:absolute; top:6px;left:0;}
.gMenu1 li {float:left; padding:0 11px 0 9px; background:url('/images/layout/line1.gif') no-repeat 0 center;}
.gMenu2 {position:absolute; top:6px;right:0;}
.gMenu2 li {float:left; padding:0 0 0 13px;}
.gMenu2 .gMenu2_lang {position:relative;}
.gMenu2 .gMenu2_lang .currentLang {padding-right:10px;background:url('/images/layout/arrow_down1.gif') no-repeat  right center;color:#2db400;}
#currentLang {height:23px; cursor: pointer;}
.wrapSearch {position:relative;width:265px;height:25px;margin:0 auto;background:url('/images/layout/bg_searchform.gif') no-repeat;}
.wrapSearch form {margin:0;padding:0;}
.wrapSearch  input[type=text] {margin:4px 0 0 10px;padding:0;width:215px;border:0;}
.wrapSearch  input[type=image] {position:absolute;top:3px;right:13px;}

.gMenu2 .gMenu2_lang .layerLang {display:none;position: absolute;top:23px;right:-20px;width:93px;margin:0;padding:0;height:56px;border:1px solid #d6d6d6;}
.gMenu2 .gMenu2_lang .layerLang li {margin:5px 0 ;}
.gMenu2 .gMenu2_lang .layerLang  a {background:none;color:#737373;padding:5px 0 0 12px;}
.gMenu2 .gMenu2_lang .layerLang  a.on {color:#2db400 ! important;}

/* tab */
.tabmenu {position:relative;height:50px;}
.tabmenu ul {margin: 0;padding: 0;list-style: none;color: #555;}
.tabmenu li {float:left;width:487px;height:50px;margin: 0;padding: 0;list-style: none;color: #555;}
.tabmenu li.mMovie {margin-right:6px}
.tabmenu li div {display:table-cell;vertical-align:middle;}
.tabmenu li a {width:100%;height:100%;background:#464646;display: table;}
.tabmenu li.on a {background:#000;}
.tabmenu li img {float:left;padding-left:20px;}
.tabmenu li span {color:white;display:inline;font-size:17px;line-height: 1;padding-left:20px;vertical-align:middle;}
.tabmenu li.on span {color: #2eb300;font-size:21px;padding-left:10px;}
.btn_adnone {position:absolute;top:10px;right:8px;width:110px;height:30px;background:url('/images/content/btn_ad_none.gif') no-repeat;}

.tabmenu  a {display:block;overflow: hidden;}

.movie_sorting {padding:27px 0 28px;/*text-align:right;*/margin-bottom: 10px;font-size: 18px;}
.movie_sorting ul {margin:0;padding:0;list-style:none;}
.movie_sorting li {float:right;padding:0 10px 0 12px; background:url('../images/layout/line1.gif') no-repeat 0 center}
.movie_sorting li.last {padding-right:0;}
.movie_sorting li a.on {color:#2db400;}

/* icon */
.ic_eng {width:30px;height:14px;background:url('../images/content/ic_eng.gif') no-repeat;}
.ic_okdplus {width:58px;height:14px;background:url('../images/content/ic_okdplus.gif') no-repeat;}
.ic_age {width:15px;height:14px;background:url('../images/content/ic_age.png') no-repeat;}
.ic_age.age19 {background-position: 0 0;}
.ic_age.age15 {background-position: 0 -16px;}
.ic_age.age12 {background-position: 0 -32px;}
.ic_age.ageAll {background-position: 0 -48px;}
.star span {float:left;display:block;width:14px;height:14px;background:url('../images/content/ic_star.gif') no-repeat;}
.star span.star_off {background-position: -15px 0;}
.star span.star_on {background-position: 0 0;}

/* list */
.list_ty1 {overflow:auto;margin:0;padding:0;list-style:none;}
.list_ty1 ul {margin:0;padding:0;list-style:none;}
.list_ty1 ol {margin:0;padding:0;list-style:none;}
.list_ty1 li {margin:0;padding:0;list-style:none;}
.list_ty1 dl {margin:0;padding:0;list-style:none;}
.list_ty1 dt {margin:0;padding:0;list-style:none;line-height: 1.0;}
.list_ty1 dd {margin:0;padding:0;list-style:none;}
.list_ty1 li {float:left;position:relative;width:168px;height:400px;margin-left:35px;overflow:hidden;}
.list_ty1 li .thumb {position:absolute;top:0;left:0;width:168px; height:237px;overflow: hidden;}
.list_ty1 li .thumb image {width:168px; height:237px;}
.list_ty1 li dl {margin-top:250px;}
.list_ty1 li dl dt {padding-bottom:4px;margin-bottom:10px;border-bottom:1px solid #d4d4d4;font-size:13px;font-weight: bold;}
.list_ty1 li  dd {color: #555;list-style: none;}
.list_ty1 li  dd .thumb-bar {padding:0 5px;}
.list_ty1 li  dd.info1 {/*padding-bottom:11px;*/}
.list_ty1 li  dd.info1 span {margin: 0;padding: 0;color: #555;}
.list_ty1 li  dd.info1 .thumb-date {display:block;padding-top:3px;}
.list_ty1 li  dd.info2 {padding-bottom:8px;overflow:auto; clear:both;}
.list_ty1 li  dd.info2 span {float:left;margin-right:7px;}
.list_ty2 {}
.list_ty2 li {padding:9px 0 7px 3px;background:url('/images/content/dot1.gif') repeat-x left bottom;}

.hd_icon {width:24px; height:14px;background:url('../images/content/hd_icon.png') no-repeat;}

.list_ty3 {margin: 0;padding: 0;list-style: none;}
.list_ty3 li {float:left;width:175px;margin-left:13px;margin-bottom: 13px;}
.list_ty3 li img {display:block;width:173px;height:98px;margin-bottom:14px;border:1px solid #ccc;}
/* watch */
.watch {height:392px;margin-bottom:20px;background-color:#393939;height:392px;overflow:hidden;}
.watch div {padding: 0;color: #555;}
.watch ul {margin:0;padding: 0;color: #555;}
.watch .wrapMovie {float:left;width:699px;height:392px;}
.watch .wrapBanner {float:right;width:265px;}
.watch .wrapBanner li {margin-bottom:8px;}
.wrapMoiveHead {position:relative;width:699px;margin-bottom:22px;height:21px;}
.wrapMoiveHead h1 {margin: 0;padding: 0;color: #555;}
.wrapMoiveHead h1.text {font-size:23px;color:#000;margin: 0;padding: 0;font-weight: 700;line-height:1;}
.wrapMoiveHead .btns {position:absolute;top:0;right:0;text-align:right;display:table;}
.wrapMoiveHead .btns .enlarge {margin-right:6px;}

/* 최신영화 */
.wrapNewMovie {overflow:auto;clear:both;padding-top:19px;color: #555;}
.wrapNewMovie h2 {margin: 0 0 18px;padding: 0 0 16px;border-bottom: 1px solid #a6a6a6;font-size: 16px; font-weight: 700;line-height: 1;}
.wrapNewMovie span {line-height: 1;}
.wrapNewMovie .list_ty1 li {height:330px;}

/* 최신정보  */
.contentLeft {float:left;width:740px;margin-right:8px;clear:both;}
.contentLeft span {margin: 0;padding: 0;color: #555;line-height: 1;}
.wrapTopNews {float:right;width:231px;}
.wrapTopNews  h2 {border-bottom:2px solid #a6a6a6;margin-bottom:0;}
.wrapTopNews  .more {float:right;width:36px;height:11px;margin-top:4px;background:url('../images/content/btn_more.gif') no-repeat;}

/* 예고편 */
.wrapTrailer {margin-bottom:45px;overflow:auto;clear:both;}
.wrapTrailer h2 {margin: 0 0 18px;padding: 0 0 16px;border-bottom: 1px solid #a6a6a6;font-size: 16px; font-weight: 700;line-height: 1;}
.wrapTrailer span {line-height: 1;}
.wrapTrailer_s {float:left;width:403px;clear:none;}
.wrapTrailer_s ul {margin-left:-13px;}
.wrapTrailer_s li {margin-left:23px;margin-right:10px;margin-bottom:13px;}
.wrapTrailer_s li img {margin-bottom:12px;}

/* 영화정보 */
.wrapMovieinfo {}
.wrapMovieinfo h2 {margin: 0 0 18px;padding: 0 0 16px;border-bottom: 1px solid #a6a6a6;font-size: 16px; font-weight: 700;line-height: 1;}
.wrapMovieinfo span {line-height: 1;}
.wrapMovieinfo table {width:730px;}
.wrapMovieinfo th, .wrapMovieinfo td {vertical-align: top;padding-bottom:17px;line-height:18px;}
.wrapMovieinfo th {width:80px;padding-left:11px;text-align: left; background:url('../images/content/dot2.gif') 0 8px no-repeat;}
.wrapMovieinfo td {}

/* 최신 예고편 */
.wrapNewTrailer  {overflow:auto;clear:both;padding-top:19px;}
.wrapNewTrailer h2 {margin: 0 0 18px;padding: 0 0 16px;border-bottom: 1px solid #a6a6a6;font-size: 16px; font-weight: 700;line-height: 1;}
.wrapNewTrailer span {line-height: 1;}
.wrapNewTrailer ul {/*margin-left:-26px;*/}
.wrapNewTrailer  li {margin-left:26px;}

/* 영화보기 */
.wrapPlay {width:188px; float:left;margin-right:119px;}
.wrapPlay h2 {margin: 0 0 18px;padding: 0 0 16px;border-bottom: 1px solid #a6a6a6;font-size: 16px; font-weight: 700;line-height: 1;}
.wrapPlay .list_ty1 {margin:0 0 0 10px;}
.wrapPlay .list_ty1 li {margin:0;}
.playMask {position:absolute;top:0;left:0;width:168px;height:237px;background:rgba(0,0,0,0.7) url('../images/content/ic_play.png') no-repeat 50% 50%;}
.playMask2 {position:absolute;top:0;left:0;width:168px;height:237px;background:url('../images/content/playmask1.png') no-repeat ;}
.playMask2:hover {position:absolute;top:0;left:0;width:168px;height:237px;background:url('../images/content/playmask1_on.png') no-repeat ;}

.enews_widget_header span {line-height: 1.2 ! important;}

address, .fmenu li a, .svn_name a,
.ic_eng, .ic_okdplus, .ic_age,.star span,.hd_icon,
.wrapTopNews  .more, .playMask, .playMask2 {display:block;text-indent: -99999px;overflow: hidden;}
.trailer_dim_span, .movie_dim_span {color: #777777 ! important;}

.side_ads {
	padding-bottom: 4px;
}
.player_ads:last-child {
    padding-bottom: 5px;
}
.banner_728x90 {
	margin: 0 auto;
	width:728px;
	height:90px;
	overflow: hidden;
	background-image: url('https://sp.ondemandkorea.com/images/sponsor.jpg');
}
.banner_300x250 {
	margin: 0 auto;
	width:300px;
	height:250px;
	overflow: hidden;
	background-image: url('https://sp.ondemandkorea.com/images/sponsor_300x250.jpg');
}

.schedule-table-detail {
    overflow:hidden;
}

.schedule-table-detail .date-container {
    background-color: #f4f4f4;
}
.schedule-table-detail .date-container > li {
    width: 140px;
    height: 64px;
}

/* BASIC */
.schedule-table-detail .date-container > li {
    color: #828282;
}
.schedule-table-detail .date-container > li:hover {
    color: #404040;
}
.schedule-table-detail .date-container > li.active {
    color: #ffffff;
    background-color: #7eb631;
}

/* UPCOMING */
.schedule-table-detail .date-container > li.upcoming {
    color: #f78900;
}
.schedule-table-detail .date-container > li:hover.upcoming {
    color: #ff6c00;
}
.schedule-table-detail .date-container > li.active.upcoming {
    color: #ffffff;
    background-color: #ffa22a;
}

/* TODAY */
.schedule-table-detail .date-container > li.today {
    color: #61a600;
}
.schedule-table-detail .date-container > li:hover.today {
    color: #4f8800;
}
.schedule-table-detail .date-container > li.active.today {
    color: #ffffff;
    background-color: #7eb631;
}

.schedule-table-detail .date-container .left-day-line {
    background-image: url('/images/schedule_day_line.png');
    background-position: left;
    background-repeat: no-repeat;
}

.schedule-table-detail .date-container > li > a,
.schedule-table-detail .date-container > li.active > a,
.schedule-table-detail .date-container > li > a:hover,
.schedule-table-detail .date-container > li.active > a:hover,
.schedule-table-detail .date-container > li > a:focus,
.schedule-table-detail .date-container > li.active > a:focus {
    margin: 0px;
    height: 64px;
    padding-top: 12px;
    padding-bottom: 14px;
    border: 0;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    background-color: inherit;
    font-weight: bold;
}

.schedule-table-detail .schedule-tab {
    margin-top: 2px;
}
.schedule-table-detail .schedule-tab > .tab-pane.today {
    color: #61a600;
}
.schedule-table-detail .schedule-tab > .tab-pane.upcoming {
    color: #f78900;
}
.schedule-table-detail .schedule-tab .upcoming .notification-dot {
    position:absolute;
    top:18px;
    left:34px;
    width:16px;
    height:16px;
}
.schedule-table-detail .schedule-tab .title-container {
    display: -webkit-inline-block;
	display: -moz-inline-block;
	display: -ms-inline-block;
	display: -o-inline-block;
	display: inline-block;
    width:auto;
    margin-top: 10px;
}
.schedule-table-detail .schedule-tab .title-container .title {
    display: inherit;
    width: auto;
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
    color: inherit;
}

.schedule-table-detail .schedule-tab .title-container .date {
    display: inherit;
    width: auto;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    color: inherit;
    font-weight: bold;
    padding-left: 7px;
}
.schedule-table-detail .schedule-tab .title-container .notice {
    display: inherit;
    width: auto;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    color: inherit;
    background-image: url('/images/schedule_notice_bg.png');
    width: 590px;
    height: 32px;
    position: relative;
    top: 13px;
    left: 10px;
}
.schedule-table-detail .schedule-tab .title-container .notice .notice-txt {
    font-size: 13px;
    position: relative;
    top: -14px;
    left: 34px;
    font-weight: normal;
    width: 520px;
}

.schedule-table-detail .schedule-tab .content-container {
    min-height: 200px;
    height: auto;
    width: 100%;
}
.schedule-table-detail .schedule-tab .content-container .category {
    margin-top: 16px;
    margin-bottom: 16px;
    height: auto;
    color: black;
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #e1e1e1;
}
.schedule-table-detail .schedule-tab .content-container .category .title {
    font-size: 20px;
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 12px;
    margin-top: 3px;
}
.schedule-table-detail .schedule-tab .content-container .category .title a {
    color: inherit;
}
.schedule-table-detail .schedule-tab .content-container .category .category-content {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
}

.schedule-table-detail .schedule-tab .content-container .title {
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    height: 23px;
    padding: 3px;
    list-style: none;
    width: 100%;
}

.schedule-table-detail .schedule-tab .content-container .category .category-content .ep {
    margin-right: 26.25px;
    font-size: 14px;
}
.schedule-table-detail .schedule-tab .content-container .category .category-content .ep_last {
    font-size: 14px;
}

.schedule-table-detail .schedule-tab .content-container .category .category-content .coming-soon {
    position: absolute;
    font-size: 13px;
    width: 175px;
    height: 100px;
    background-color: black;
    opacity: 0.6;
}

.schedule-table-detail .schedule-tab .content-container .category .category-content .coming-soon-title {
    position: absolute;
    font-size: 13px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    color: #ffffff;
}

.push-app-container {
    background-color: #f0f0f0;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 236px;
    display: none;
}
.push-app {
    margin: 48px 30px 48px 30px;
    display: inline-block;
    height: 150px;
    width: 920px;
    vertical-align: middle;
}

.push-app .logo-container {
    display: inherit;
    vertical-align: top;
}
.push-app .logo-container img {
    width: 140px;
    height: 140px;
}

.push-app .text-container {
    display: inherit;
    margin-top: 10px;
    margin-left: 30px;
}

.push-app .text-container .text1{
    font-weight: bold;
    font-size: 23px;
    line-height: 24px;
    color: #333333;
}
.push-app .text-container .text2{
    font-weight: normal;
    font-size: 23px;
    line-height: 24px;
    color: #676767;
    margin-top: 11px;
}
.push-app .text-container .push-app-download {
    margin-top: 17px;
    width: 338px;
    height: 54px;
}
.push-app .close-button {
    display: inherit;
    vertical-align: top;
    float: right;
    width: 56px;
    height: 56px;
    margin-top: -18px;
}

.ie-menu td {
    padding-left: 7px !important;
    padding-right: 7px !important;
}
::cue(c.vtext) { color:#ff0; }

.main_news_container2 {
    border: 1px solid rgba(128,128,128,0.5);
    width: 382px;
    height: 436px;
    margin-top: 2px;
    float: right;
}
.date_container {
}
.date_container > li {
    width: 54.28px;
    height: 38px;
}
.date_container > li.active a,
.date_container > li.active a:hover,
.date_container > li.active a:focus {
    color: #62a600;
    background-color: white;
}
.date_container > li > a {
    margin: 0px;
    height: 38px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: #a6a6a6;
    border-right: 1px solid rgba(128,128,128,0.3);
    border-bottom: 1px solid rgba(128,128,128,0.3);
    border-radius: 0px;
    background-color: rgba(242,242,242,0.5);
}

.schedule-tab-index {
    
}
.schedule-tab-index .title-container {
    height: 33px;
    border-bottom: 1px solid rgba(128,128,128,0.3);
}
.schedule-tab-index .title-container .title {
    display: inline-block;
    width: auto;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    padding: 10px;
    height: 30px;
}
.schedule-tab-index .title-container .more {
    display: inline-block;
    width: auto;
    float: right;
    padding-right: 10px;
    padding-top: 8px;
}
.schedule-tab-index .title-container .more a {
    font-weight: bold;
    font-size: 13px;
}
.schedule-tab-index .content-container {
    margin: 10px;
    height: 350px;
    width: 360px;
}
.schedule-tab-index .content-container .title {
    font-size: 15px;
    line-height: 17px;
    font-weight: 600;
    height: 23px;
    padding: 3px;
    list-style: none;
    width: 100%;
    margin-top: 7px;
}
.schedule-tab-index .content-container .truncate {
    width: 172px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:4px;
    margin-bottom:6px;
    font-size: 13px;
}
.schedule-tab-index .content-container .content-half-right .truncate {
    margin-left: 2px;
}

.content-half-left,
.content-half-right {
    width: 180px;
    height: 338px;
    float: left;
}

.content-half-left .title:first-child,
.content-half-right .title:first-child,
.content-half-right .truncate:first-child {
    margin-top: 0px;
}

.search_result_row {
  display: block;
  height: 320px;
  line-height: 160%;
}

.search_result_row img {
    width: 168px;
    height: 238px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 4px;
}

.search_result_entry {
  display: inline;
  float:left;
  width:203px;
}

.search_result_entry.last {
  width:168px;
}

.ep_title {
  width: 168px;
}

.ep_tag_text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 168px;
}

#searchsubmit.reset {
  background: url(https://sp.ondemandkorea.com/images/search_close.png) 3px 3px no-repeat;
}

.header_bg {
    width: 980px;
    height: 214px;
}

.content-container {
    width: 980px;
    background-color: #f7f5f4;
}

.content-container .benefit-container {
    width: 980px;
    height: auto;
    padding: 34px 30px 30px 30px;
}

.content-container .benefit-title {
    margin-bottom: 16px;
}

.content-container .benefit-item-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 22px;
}

.content-container .benefit-item-img {
    width: 917px;
    height: 400px;
}

.content-container .last {
    margin-right: 0px;
}

.content-container .no-margin-left-right {
    margin-left: 0px;
    margin-right: 0px;
}

.content-container .inquiry-container {
    margin-top: 12px;
}

.content-container .inquiry-title {
    margin-bottom: 16px;
}

.content-container .thank-you-container {
    margin-top: 12px;
    border: 1px;
    border-top: 1px #d2d0d0 solid;
}

.content-container .thank-you-img {
    margin-top: 30px;
}

.copy_it_button {
-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
box-shadow:inset 0px 1px 0px 0px #caefab;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
background-color:#77d42a;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #268a16;
display:inline-block;
cursor:pointer;
color:#306108;
font-family:Arial;
font-size:13px;
font-weight:bold;
padding:5px 18px;
text-decoration:none;
text-shadow:0px 1px 0px #aade7c;
margin-right: 10px;
}
.copy_it_button:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
background-color:#5cb811;
}
.copy_it_button:active {
position:relative;
top:1px;
}
.kbo.prev {
background: transparent url('../images/arrow-small-left.png') no-repeat 0 0;
}
.kbo.prev:hover {
background: transparent url('../images/arrow-small-left_on.png') no-repeat 0 0;
}
.kbo.next {
background: transparent url('../images/arrow-small-right.png') no-repeat 0 0;
}
.kbo.next:hover {
background: transparent url('../images/arrow-small-right_on.png') no-repeat 0 0;
}
.watched.prev {
background: transparent url('../images/arrow-small-left.png') no-repeat 0 0;
}
.watched.prev:hover {
background: transparent url('../images/arrow-small-left_on.png') no-repeat 0 0;
}
.watched.next {
background: transparent url('../images/arrow-small-right.png') no-repeat 0 0;
}
.watched.next:hover {
background: transparent url('../images/arrow-small-right_on.png') no-repeat 0 0;
}
#sports-menu {
position: absolute !important;
z-index: 1000 !important;
width: 71px;
top: 100% !important;
margin: 0 !important;
left: auto !important;
margin-left: -10px !important;
height: auto !important;
}
.menu_sports {
padding-left: 8px !important;
}

.prd_contents_images ul {
	list-style: none;
}

.prd_contents_images img {
	width: 780px;
}

#detail_html ul {
    list-style-type: none;
}

.lang_option {
	display:inline-block;
	margin:6px 4px;
}
.lang_desc {
	margin-top:26px;
	margin-bottom:25px;
	font-size: 1.3em;
	font-weight: bolder;
}
#language_popup
{
	width:376px;
	height:194px;
	display:none;
	text-align:center;
}
.fancybox-inner
{
	height: auto !important;
}

.dropdown-toggle:hover {
    color: rgb(138,134,137) !important;
}
#my-dropdown li {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 85px;
    width: auto;
    background: none;
    font-size: 12px;
}
#my-dropdown li a {
    max-width: 85px;
    width: 85px;
    padding-left:0px;
    padding-right:0px;
    text-align: center;
}
#my-dropdown li a:hover {
    background: none;
    color: rgb(46,179,0) !important;
}
.dropdown:hover .dropdown-menu {
   display: block;
}

.vertical .carousel-inner {
  height: 100%;
}
.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
  top: 0;
}
.carousel.vertical .next {
  top: 100px;
}
.carousel.vertical .prev {
  top: -100px;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}
.carousel.vertical .active.left {
  top: -100px;
}
.carousel.vertical .active.right {
  top: 100px;
}
.carousel.vertical .item {
    left: 0;
}