#bg2 {   
	width:100%;   
	text-align:center;   
}

#next_massage_txt {   
	margin:0 auto;
	height: auto;
    width: auto;
}

#next_title_txt {
	margin:0 auto;
	height: auto;
    width: auto;
}

#ccounter {
	margin:0 auto;
}

#cinput {
	margin:0 auto;
}

#suc {   
	width:100%;   
	text-align:center;   
}

#reply {   
	width:100%;   
	text-align:center;   
}

#cur_title_suc_txt {
	margin:0 auto;
}

#cur_suc_txt {
	margin:0 auto;
}

#cur_title_rep_txt {
	margin:0 auto;
}
#cur_replay_txt {
	margin:0 auto;
}

