#warper { /*fffa00*/  
    overflow:hidden;
	border:1px solid #ddd;
	
	background-color: rgba (192, 192, 192, 1.0)
	margin: 20px;
	padding: 10px;
} 
#slides {
    border: 1px solid #555656;
}

.menu_container {
}
.menu-ul .active {
    background:#555656;
    color:#fff;
    /*box-shadow: 0 45px 40px -40px inset;*/
    -webkit-box-shadow:0 45px 40px -45px inset;
    box-shadow:0 45px 40px -45px inset;
}
.menu-ul > li:hover, .menu-ul > li.active {
    background:#555656;
    /*box-shadow: 0 45px 40px -40px inset;*/  
    -webkit-box-shadow:0 45px 40px -45px inset;
    box-shadow:0 45px 40px -45px inset;
}


.letest-news h3 {
    background:#b50301;
    color:#fff;
}
.letest-news h4 a{
    background:#555656;
    color: #fff;
}
.footer-active, .menu li a:hover {
    background:#555656;
    -webkit-box-shadow:0 45px 40px -45px inset;
    box-shadow:0 45px 40px -45px inset;
	color:#fff !important;
}
.w300 {
	border: 2px solid #555656;
}

/*#home-part2-right .lead-sideber .lead-box {
	border:2px solid #555656;
}
.lead-sideber .lead-box h4 {
	background-color: #555656;
}*/


