.add {
	float: left;
    margin-top: 10px;
    width: 1060px;
}
.add.addbottom {
	margin-bottom:10px;	
}
.w-253-80 {
	width:252px !important;	
}
.w-253-80.left {
	margin-right:15px;
}


.top-add-left {
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    float: left;
    height: 80px;
    width: 203px;
    
}

.top-add-left img{
	height:80px;
}
.w-235-80 {
	width:235px !important;	
}
.w-315-80 {
	width:360px !important;	
}
.w-315-80 img{
	width:360px !important;	
}
.top-add-right {
	width:300px;
}
.w-665-80 {
	width:737px !important;
}	
#add-place {
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 980px;
}
.add-left {
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    float: left;
    height: 80px;
    width: 230px;
}
.add-left-one {
    margin-right: 15px;
}
.add-inner-page {
    border: 1px solid #DDDDDD;
    float: left;
    margin-bottom: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    width: 280px;
}

.add-left img{
	height:80px;
}

.add-left-right {
    float: right;
}
.add-left-mid {
    margin-left: 17px;
}
.add-left h1, .add-sideber h1 {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 22px;
    text-align: center;
}
.add-left p, .add-sideber p {
    font-size: 12px;
    text-align: center;
}

.add-sideber {
	border: 1px solid #DDDDDD;
    float: left;
    margin-bottom: 15px;
    width: 304px;
	text-align:center;
}