/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;height:310px !important;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}

ol.bjqs-markers{
	bottom: 0;
    left: 0 !important;
    list-style: none outside none;
    margin: 0;
    padding: 5px;
    position: absolute;
    width: 469px;
	}

ol.bjqs-markers.h-centered{text-align: right;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:459px;margin:0;padding:2%;position:absolute;top:0px;font-size:22px;text-align:center;}

.bjqs-slide img {
	width:478px;
	height:308px;	
}