pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h2{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}

#banner-fade,
#banner-slide{
	/*margin-bottom: 60px;*/
	width:479px;
	height:308px !important;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 13px;
    margin: 2px;
    padding: 0 3px;
    text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: #fff; /*rgba(255,255,255,0.9);*/
}