/* 4 days color code #555656 */
.menu-ul > li > a:hover {
	color:#fff;
}
.back-top {
	background:#c2c2c2; 	
}
.back-top a {
	color:#fff;	
}

.home-rajniti-heading h2 {
	background-repeat:repeat-x;
    border-bottom:2px solid #c2c2c2;
    color: #FFFFFF;
	
	border-top:1px solid #c2c2c2;
}

.home-binodon-heading h2 {
    color: #FFFFFF;
	background-repeat:repeat-x;
	border-bottom:2px solid #c2c2c2;
	
	border-top:1px solid #c2c2c2;
}
