* {
    margin: 0;
    outline: medium none;
    padding: 0;
}

body {
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: auto auto;
    font-family: SolaimanLipi,Arial,Vrinda;
    font-size: 12px;
}

form {
	margin:0px !important;	
}

.details_news a {
	font-weight: bold;
    /*letter-spacing: 3px;*/
}

#home-part2-right .lead-sideber .lead-box {
	border:2px solid red;
}
.lead-sideber .lead-box h4 {
	background-color: red;
}

/*===============================
================new header===============
=====================================*/
.header {
    float: left;
    height: 100px;
    width: 1060px;
}
.header-left {
    float: left;
    margin-top: 25px;
    width: 390px;
}
.header-left img {
    width: 239px;
}
.header-right {
    float: right;
    width: 570px;
}
.mobile-version {
    display: block;
    float: right;
    margin: 5px 0;
    text-align: right;
    width: 100%;
}
.site-time {
    display: block;
    float: right;
    font-size: 16px;
    text-align: right;
    width: 100%;
}
.home-search {
    position: relative;
}
.home-search .site-search {
    right: 0;
    top: 67px;
}
.header-right .social-icon {
    margin-right: 0;
}
/*===============================
================new header end===============
=====================================*/
#letest-right .english-version {
    margin-left: 0;
    text-align: center;
    width: 110px;
}
#letest-right .blog-version {
    text-align: center;
    width: 40px;
}
.image-row {
	float:left;	
	margin-bottom:10px;
}
.rm {
	font-weight:bold;
	color:#000;	
}

h3 a p {
	text-align:left;	
}

.search h3 {
	color:#3776AC;	
}

.search-result {
	border: 1px solid #DDDDDD;
    color: #8C8C8C;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 4px;
}

#archive_category {
	border-radius: 0;
    margin-bottom: 5px;
    margin-top: 3px;
}

.site-search {
	/*float: left;
    font-size: 15px;
    padding: 0 0 0 6px;
	position:relative;*/
	
	font-size: 15px;
    padding: 0 0 0 6px;
    position: absolute;
    right: 10px;
    top: 23px;
}

.site-search-page {
	font-size: 15px;
    padding: 0 0 0 6px;
    position: absolute;
    right: 12px;
    top: 0;
    width: 212px;
}

.exclusive-lead {
    
}

.exclusive-lead .home-box-headline h3 {
    font-size:35px;
    line-height:33px;
}

.site-search .search-keyword {
    border: 1px solid #AAAAAA;
    /*display: block;*/
    font-size: 16px;
    height: 24px;
    margin: 3px 0 0;
    padding: 0 0 0 3px;
    width: 165px;
	border-radius:0px;
	/*border-right:0px;*/
}

.site-search .search-btn {
    background: url("../img/search.png") no-repeat scroll 2px center #EEEEEE;
    border: 1px solid #AAAAAA;
    color: #000000;
    cursor: pointer;
    /*float: right;*/
    height: 26px;
    margin-top: 3px;
    padding: 0 10px 0 20px;
}

#unicode_font_top, #unicode_font_detail {
    background: #E3E3E3;
    padding: 2px 4px 1px;
    position: absolute;
    top: 29px;
    width: 160px;
    border: 1px solid #AAAAAA ;
    border-top: none;
	display:none;
	z-index:10;
}


#unicode_font .close {
	
}

.back-top {
	position: fixed; 
	width: 14px; 
	bottom:80px; 
	right: 8px; 
	float: right; 
	display: block; 
	text-align: center; 
	padding: 3px;	
}
.allnews {
	font-size: 22px;
    margin-top: 20px;
    text-align: right;
}
.allnews .icon-chevron-right {
		
}
.details_news p {
	margin-bottom:17px;
}
.details_news img {
	float:left;
	/*margin-right:10px;*/
	max-width:680px;
	
}

#category-left .news-details h1 p {
	margin:0px;	
	text-align:left;
}

.info {
    color: #8C8C8C;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin-top: 5px;
	margin-bottom:5px;
}

#footer-copyright {
	background:#F5F5F5;
    border: 1px solid #CCCCCC;
    color: #999999;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 5px;
	float:left;
}

#warper {
    margin: 0 auto;
    width: 1062px;
	background-color:#fff;
}
#main-body {
    background: none repeat scroll 0 0 #FFFFFF;
    /*box-shadow: 0 0 3px #999999;*/
	border:0px solid #ddd; 
    float: left;
    width: 1060px;
}
#header-top {
    /*background:#dddddd;*/
    color: #4D4D4D;
    font-size: 17px;
    height: 38px;
    width: 980px;
	/*border-top:4px solid #ddd;*/
	float:left;
}
.top-date {
    float: left;
    font-size: 15px;
    padding:0px 6px 0 0px;
}

.top-date p {
	line-height:35px;	
}

.letest-news {
    background: #183a53;
    float: left;
    height: 30px;
    overflow: hidden;
    width: 1060px;
}
.letest-news h3 {
    /*background: none repeat scroll 0 0 #E3E3E3;
    color: #000000;*/
    float: left;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.scrol-news a {
	color:#fff;
}

#letest-right {
    float: right;
    width: 160px;
}

.letest-news h4 {
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin: 0 0 0 5px;
}

.letest-news h4 a{
	display:block;
	padding-left: 8px;
    padding-right: 8px;
	line-height: 25px;
	text-decoration:none;
}

.letest-news h4 a:hover{
	background: none repeat scroll 0 0 #E3E3E3;
	display:block;
	padding-left: 8px;
    padding-right: 8px;
	line-height: 25px;
	text-decoration:none;
	color: #000;
}

#header3-1-left-ticker {
    float: left;
	width:650px;
	overflow:hidden;
}

.scrol-news {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    overflow: hidden;
    width: 968px;
}

.scrol-news ul {
	list-style: none outside none;
    margin: 3px 0 0;	
}

.scrol-news ul li {
	float:left;	
	padding-right:10px;
}

.scrol-news ul li a {
	/*color: #3776AC;*/
    font-size: 20px;
}

.scrol-news ul li a i{
	margin-top:3px;
}

#header3-1-left-ticker ul {
	list-style:none;
}

#header3-1-left-ticker ul li {
	float:left;
}

#header3-1-left-ticker a {
    color: #fff;
	line-height:30px;
}
.social-icon {
    float: right;
    /*margin-right: 8px;*/
    margin-top: 0px;
	/*width:215px;*/
}
.social-icon ul {
    list-style: none outside none;
    margin: 0;
}
.social-icon ul li {
    float: left;
    /*margin-left: 7px;*/
}

.social-icon ul li a {
    /*color: #FFFFFF;*/
}

.social {
	float:right;	
}

.social li a{
    float: left;
    margin-left: 7px;
	line-height:32px;
}

#nav {
	float:left;	
	margin-top:5px;
}

#nav ul li a {
	width:100%;	
}

#nav > li > a:hover {
  text-decoration: none;
  background-color: #222B46 !important;
}

#logo {
    /*margin-left: 10px;*/
	width: 980px;
	margin-top:0px;
	float:left;
	/*overflow:hidden;*/
	position:relative;
	height:85px;
}

#logo-left {
    float: left;
    width: 291px;
	margin-right:7px;
	padding-bottom:13px;
	padding-top:20px;
}

#logo-left img {
	width:290px;
	/*height:53px;*/
}


#logo-right {
    float: right;
    /*margin-right: 7px;*/
	width:557px;
}

#news-cat {
	float:left;
}
#main-content {
    border: 0 solid red;
    float: left;
    margin-top: 10px;
    width: 1060px;
}

#main-content h2 a {
	color:#4D4D4D;
}

#main-content h2 a:hover {
	color:#6c6c6c;
	text-decoration:none;
}

#category-left {
    float: left;
    font-size: 17px;
    width: 740px;
	text-align:justify;
}
.cat-allnews {
	border-bottom: 1px dotted #E2E2E2;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.cat-allnews2 {
    margin: 0;
    padding: 0 0 5px;
    text-align: left;
}
.catnews-left {
    float: left;
    width: 50%;
}
.catnews-left2 {
    margin: 0;
    padding: 0 11px 0 0;
    text-align: left;
}
.news-top img {
    background-color: #EEEEEE;
    float: left;
    height: auto;
    margin-left: auto;
    margin-right: 10px;
    max-height: 550px;
    max-width: 300px;
}

#news-top img {
    background-color: #EEEEEE;
    float: left;
    height: 174px;
    margin-left: auto;
    margin-right: 10px;
    width: 348px;
	margin-bottom:10px;
}
.news-top img {
    /*height: 174px;*/
    width: 400px;
}

.sporte-right4 {
	float:right!important;
	margin-right:0px!important;	
}

.cat-content {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.news-box, .center-news-box {
    margin-bottom: 15px;
}
.center-news-box img {
}
.catnews-left2 h3 {
    border-bottom: 0 solid #000000;
    font-size: 19px;
    line-height: 25px;
    margin: 0;
	margin-bottom:10px;
}
.news-box p, .center-news-box p {
    line-height: 21px;
    margin-bottom: 0;
}

.news-box p, .site-content p {
	text-align:justify;	
}

.news-box p img, .site-content p img {
	float:left;
	margin-right:10px;	
}

.news-box h3 p, .site-content h3 p {
	text-align:left;	
}

.category-top-right-div {
	padding: 0px !important; margin-left: 10px !important;	
}

.site-content {
	/*width:310px;*/	
}

.catnews-left2 .news-box .left-img img {
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 135px;
}
#category-right {
    float: right;
    width: 305px;
}
#category-right ul {
    list-style: none outside none;
    margin: 0;
}
#category-right ul li a {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    font-size: 17px;
}

.arrow li {
    background: url("../img/icon_arrow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left:18px;
	margin-bottom:5px;
	list-style:none;
}

.arrow-feature {
    background: url("../img/icon_arrow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left:18px;
	list-style:none;
}

#category-right h2 {
    border-bottom: 1px dotted #CCCCCC;
    color: #666666;
    font-size: 20px;
    line-height: 30px;
    margin: 15px 0 10px;
}
.news-details h1 {
    border-bottom: 0 solid #000000;
    float: left;
    font-size: 35px;
    line-height: 42px;
    margin: 0px 0 0px;
    text-align: left;
    width: 100%;
}

#footer {
    border: 1px solid #E2E2E2;
    float: left;
    margin-top: 10px;
    width: 1060px;
	border-top:0px;
	background:#fff;
}
#footer-left {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#footer-right {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.greentechsolution {
    float: left;
    font-family: arial;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    width:980px;
}

#footer-mid {
	float: left;
    margin-left: 10px;
    margin-top: 10px;
	margin-right:10px;
	width:980px;
}

#login h1 {
	font-size: 25px;
    line-height: 20px;
    margin: 0;
}

#login i {
	margin-top: 7px;
}

#article-details-top {
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    float: left;
    /*height: 65px;*/
    line-height: 29px;
    margin: 10px 0;
    padding:0 0 10px;
	padding-bottom:10px;
}
#article-details-top {
    display: block;
    float: left;
    width: 740px;
    height:70px;
}
#article-reporter-top {
    display: block;
    float: left;
    width: 740px;
    height:auto;
}

.reporter-photo {
	float: left;
    width: 400px;
}
.share-socialicon {
	float: right;
    width: 740px;
	/*margin-top:7px;*/
}

.article-details {
    display: block;
    float: left;
}

#footer-copyright i p {
	margin-bottom:0px;
}

.reporter-desc {
	float:left;
	margin-top:40px;
	margin-left:7px;
}
.reporter-photo .reporter-desc h5 {
	font-size: 17px;
    margin: 0;
}
.reporter-photo .reporter-desc p {
	line-height: 20px;
    margin: 0;
}
.reporter-photo .re-photo {
	float:left;
}
.reporter-photo .re-photo img {
	border: 1px solid #DDDDDD;
    height: 70px;
    padding: 4px;
    width: 60px;
}

#user-comment {
	display: block;
    float: left;
    width: 680px;
}

#user-view {
	background: none repeat scroll 0 0 #F3F9FF;
    border-top: 3px solid #CCCCCC;
    display: block;
    float: left;
    padding: 10px;
    width: 718px;
}
#user-view h4 {
	margin:0px;
}
#comment-box {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    float: left;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 670px;
}
#commentbox-pic {
    float: left;
}
#commentbox-pic img {
    border: 1px solid #E2E2E2;
    height: 50px;
    margin-right: 10px;
    padding: 5px;
    width: 70px;
	background:#fff;
}
#commentbox-comment {
    font-size: 15px;
}
#commentbox-comment p {
	margin:0px;	
}
#footer-menu #menu{
	margin-top:0px;
}

#select-archive {
	height: 26px;
    padding: 2px;
    width: 80px;
}
#archive_category {
	height: 26px;
    padding: 2px;
    width: 158px;
}

.old-poll {
	background: none repeat scroll 0 0 #F8F8F8;
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 10px;
    padding: 10px;
}

.feature-top {
	overflow: hidden;
    width: 100%;
}

.feature-top h3 {
	line-height: 25px;
    margin: 0;
    padding-bottom: 10px;
}

.cat-feature-news {
	margin-bottom: 25px;
}

.cat-feature-news h3{
	
}

.cat-feature-news .left-img img{
	
}
.my-account {
	font-size:12px;
}
.account {
	margin-left:0px !important;
}

.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
  content: "My Account";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.bs-docs-sidenav {
  /*width: 228px;*/
  margin: 15px 0 0;
  padding: 0;
  background-color: #fff;
  /*-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);*/
}

.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 9px 15px !important;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.my-account .display-user {
	margin-bottom:0px;	
}

.display-user h2 {
	font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .accaption {
  padding: 9px;
  color: #555555;
}
.thumbnails > li {
    margin-left: 30px;
}

.thumbnail .accaption {
    padding: 9px;
	text-align:center;
}

.thumbnails {
	margin:0px;	
}

.thumbnails > li {
    float: left;
    margin-bottom: 18px;
    margin-left: 20px;
}

.thumbnails > li {
    margin-left: 30px;
	list-style:none;
}


.thumbnail .caption h6{
    font-size:12px;
	font-weight:normal;
}


.my-account .btn {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
}

.my-account .name {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
/*===========================vedio================*/
.play-vedio {
	float: left;
    width: 100%;
}
.play-screen {
	float: left;
    width: 100%;
}
.vedio-desc {
	background-color: #F9F9F9;
    border-right: 2px solid #114F83;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 658px;
}
.vedio-gallery-thum {
	float: left;
    margin-right: 13px;
    width: 160px;
	position:relative;
	margin-bottom:15px;
}
.vedio-gallery-thum img {
	height: 100px;
    width: 160px;
	float:left;
}

.vedio-gallery-thum span{
	font-weight:normal;
	font-size:16px;
	float:left;
	margin-top:5px;
}

.vedio-divider {
	display: inline;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.vedio-pagi {
	float:left;
}
.thum-right {
	float: right;
    margin-right: 0px;	
}
.thum-mid {
	margin-right:0px;
}
.vedio-thum-divider {
	clear:both;	
}
.vedio-gallery-thum .play2 {
    background: url("../img/play_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 1px;
    height: 85px;
    left: 42px;
    margin: 0;
    opacity: 0.3;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: 10px;
    width: 85px;
    z-index: 1;
}
/*====================vedio =========== edn ========*/

/*====================== entertainment ======================*/
.entertainment-top img {
    background-color: #EEEEEE;
    float: left;
    height: 402px;
    margin-bottom: 10px;
    margin-left: auto;
    /*margin-right: 10px;*/
    width: 680px;
}
.entertainment-small-lead-img {
	
}
.entertainment-small-lead-img img {
    float: left;
    height: 193px;
    margin-bottom: 10px;
    width: 327px;
}

.entertainment-small-small-lead-img img {
    float: left;
    height: 80px;
    margin-bottom: 10px;
    width: 135px;
	margin-right:10px;
}
/*====================== entertainment end ======================*/

.more-news {
    float: left;
    width: 740px;
	margin-bottom:20px;
}
.more-news .more-news-box {
    float: left;
    margin-right: 10px;
    width: 235px;
}
.more-news .more-left-img img {
    height: 35px;
    width: 50px;
	float:left;
	margin-right:10px;
}

.more-news .more-left-img.world-cop-img img {
    height: 50px;

}
.more-news h3 {
    font-size: 17px;
}
.more-news h3 a {
    letter-spacing: 0;
}

.more-news .morenews-box-right-div {
	margin-right:0px;
}

.more-news h4 {
	background-color: #F9F9F9;
    border-left: 3px solid #CCCCCC;
    margin: 0 0 10px;
    padding: 7px 9px;
}


/*special category (bises aiojon)*/
.bises-aiojon-box {
	float:left;
	width:100%;
	display:block;	
}
.bises-box {
	float:left;
	width:312px;
	background-color: #f5f5f5;
	padding: 10px;
	margin-right:0px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

/*.bises-box:hover {
	background-color:#114F83;
	color:#fff;
}*/

.bises-box.right {
	margin-right:0px;
	float:right;
}
.bises-box h2 {
	margin-top: 0px;
    font-size: 25px;
}
.bises-box .bisess-date {
	
}
.bises-box .bisess-redemore {
	text-align: right;
    font-weight: bold;
}
.clear {
	clear:both;
}	
/*special category (bises aiojon) end*/

/*quiz*/
.quiz {
	float:left;
	width:600px;	
}
.quiz h1 {
	line-height: 29px;
    font-size: 20px;
	/*color:#600960;*/
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;	
}
.quiz h2 {
	font-size:18px;
	/*color:#9E079E;*/
}
.quiz-table {
	margin-top:20px;	
}
/*quiz end*/

.archive_category {
	width:130px;	
}
.archive_dateTo {
	width:65px;
}


.gallery_dateTo {
	width:55px;
}

.article-details table {
    background-color: #F9F9F9;
    border-top: 5px solid #CCCCCC;
    float: right;
    margin-bottom: 10px;
    margin-left: 15px;
}
.article-details td {
    padding: 10px;
}
.article-details td h4, .article-details td h3, .article-details td h2, .article-details td h1, .article-details td h5 {
    background-image: url("../img/details_arrow.jpg");
    background-repeat: no-repeat;
    font-size: 20px;
    margin-top: 0;
    padding-top: 30px;
    text-align: left;
}
.article-details td p {
    margin: 0;
    text-align: left;
}
#allImg {
	width:400px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.news-top #allImg .allimg {
	width:400px;
	height:300px;
	max-width:400px;
}
#allImg .carousel-inner {
	height:300px;
}
#allImg .carousel-caption {
	background-color: rgba(0, 0, 0, 0.7);
    bottom: -300px;
}
#allImg .carousel-caption p{
	color:#fff;
}
#allImg .carousel-control {
	top:50%;
}
#allImg .carousel-control.left {
	left:-3px;
}
#allImg .carousel-control.right {
	right:-3px;
}
.world-cup-banner {
	margin-bottom:20px;	
}
#category-right .world-cup-right ul li a{
	border:none;
}
.world-cup-right ul li{
	margin-bottom:10px;
}







