.lead-sideber .lead-box h4 {
    color: #FFFFFF;
    font-size: 18px !important;
    font-weight: normal;
    padding: 5px;
    text-align: left;	
	margin-bottom:0px;
	padding-left:10px;
}
#home-part2-right .lead-sideber .lead-box {
	background-color: #fff;
    float: left;
}
	
.ramadan-lead .dec-lead-bottom img {
	float:left;
	margin-right:10px;
}

.lead-sideber .lead-box h4 p {
	padding-bottom:0px;	
}
.lead-sideber .lead-box h4 a{
color:#fff;	
}

.lead-box .home-box-headline h3 {
	padding-top:10px;
}

.lead-sideber .lead-box img {
	
}
.home-box-buttom {
	margin-bottom:15px;
}
.home-box-buttom.last {
	margin-bottom:0px;
}
.lead-sideber .lead-box h3 p {
	padding-bottom:2px;
}

.lead-sideber .lead-box p {
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.lead-sideber .home-box-headline h3 {
	font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
	/*padding-left:10px;*/
}
/*==============lead 4 end===================*/

.home-rajniti-heading h2 {
	/*background-color: #E3DDD4;*/
    font-size: 22px;
    line-height: 31px;
    margin: 0 0 10px;
    padding-left: 10px;
    width: 640px;
}

.sporte-headline {
	margin:0px !important;
}

#home-part4 .home-part4mini {
	margin-top:0px;	
}

.all-dist-box {
	float:right;
	width:315px;	
}

.last-6lead {
	float: left;
    margin-bottom: 15px;
    width: 650px;
}

.last-6lead ul li {
	float: left;
    width: 300px;
    margin-right: 5px;
}

.lead-box-headline {
	margin-top:20px;
}
.lead-box-headline ul {
	margin:0px;	
}
.lead-box-headline ul li{
	/*margin-bottom:20px;*/
}

.top-slide a {
	color:#4F4F4F;	
}

.home-lead4 {
	margin-bottom:20px;
}

.special-homebox {
	margin-top:0px !important;	
}
.current-special-box {
	float: left;
    width: 650px;
}
.current-special-content {
	float: left;
    margin-bottom: 20px;
    width: 312px;
}

.current-special-content.right {
	float:right;
}

.current-special-content h4 {
	
}

.current-special-content .home-box-headline h3 {
	line-height:20px;
}

.current-special-content h3 p {
	
}

.current-special-content img {
	float: left;
    margin-right: 10px;
}
.special-divider {
	clear:both;
}

.letest-three {
	border: 0px solid;
    float: left;
    width: 250px;
}

.english-latest {
	margin-top:10px;
}

.english-latest h2 {
	font-size: 16px !important;
}

.latest-english ul li a {
	font-size:12px;	
}

.divider {
	clear:both;	
}


.rajniti-headline {
	margin-top:10px !important;
}

.life-style {
	margin-bottom:10px;
	overflow:hidden;	
}

#home-box2-top img {
	float: left;
    margin-right: 10px;
    /*width: 314px;
	height: 200px;*/	
}




.lead-sideber {
	margin-bottom:10px;
    float: left;
}

.lead-sideber h4 {
	text-align:left;
}
.lead-sideber h4 p {
	text-align:left;	
}



.lead-sideber .home-box-headline h4 a p, .lead-sideber .home-box-headline h4 a {
	text-align:left;	
}

#home-november-heading {
	background: url("../img/seven_nobember.jpg") repeat scroll left bottom rgba(0, 0, 0, 0);
    float: left;
    margin-top: 10px;
	margin-bottom:10px;
	
	/*background: url("../img/seven_nobember.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    float: left;
	margin-top:10px;*/	
}
.world-cup-right .video_block_inner {
	height: 193px;
    margin-bottom: 10px;
    width: 280px;
}
.video_block_inner {
    background: none repeat scroll 0 0 #292929;
    float: left;
    height: 215px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 314px;
    z-index: 1;
}

a .play2 {
    background-position: 0px 0px !important;
}
a:hover .play2{
    background-position: 0px -85px !important;
}
.world-cup-right .play2 {
	left: 100px;
    top: 60px;
}

.play2 {
    cursor: pointer;
    font-size: 1px;
    height: 85px;
    left: 115px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: 67px;
    width: 85px;
    z-index: 1;
	background:url("../img/play_icon.png") no-repeat;
	opacity:0.3;
}

.november4-box {
	margin-right: 10px;
    width: 235px !important;
}
.november4-box h3 {
	line-height: 1 !important;
    margin-top: 8px !important;
    width: 100% !important;	
}

.november-box-right {
	float:right !important;	
}

.november-box-left {
	float:left !important;	
}

.november4-box img {
	width:234px !important;
	height:160px !important;	
}

.home-november-transferent {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    overflow: hidden;
    padding: 10px;
	
	-moz-box-shadow: 0px 3px 3px #ccc;
	 -webkit-box-shadow: 0px 3px 3px #ccc;
	 box-shadow: 0px 3px 3px #ccc;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#ccc')";
	 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#ccc');
}

.home-november-heading {
	margin-bottom:0px;	
}

.home-november-heading h2 {
	background-color: #3B5998;
    border-bottom: 3px solid #647DB0;
    border-top: 0 solid #9CD6EC;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 10px;
    padding-left: 10px;
    /*width: 100%;*/	
}

.home-binodon-heading h2 {
    font-size: 22px;
    line-height: 31px;
    margin: 0 0 15px;
    padding-left: 10px;
}

.home-rajniti-heading h2 a {
	color:#4D4D4D;	
}

.home-rajniti-heading a:hover {
	color:#ccc;	
	text-decoration:none;
}

.home-box-headline h3 {
	font-size: 19px;
    line-height: 25px;
    margin: 0;
	margin-bottom:5px;
}

.lead-sideber img {
	margin-left:10px;
	float:right;
	margin-bottom:10px;
}
.home-box-two {
    float: left;
    width: 325px;
}
.letest-box {
    float: right;
    width: 360px;
}
#breking-news {
	background: none repeat scroll 0 0 #183a53;

    bottom: 0;
    display: block;
    float: left;
    margin-top: 15px;
    padding: 10px;
    position: relative;
    right: 0;
    width: 1040px;
}

#breking-inner {
	position: absolute;
    right: -6px;
    top: -7px;
    z-index: 1000;	
}

#breking-details {
	font-size: 25px;
    height: 30px;
    line-height: 32px;
    color:#fff;
}

#home-leadbox h4 {
	font-size: 19px;
    margin: 0;
    /*font-style: italic;*/
	font-weight:normal;
}

#home-leadbox h4 p {
	text-align:left;
}
.lead-sideber h4 {
	font-size: 19px;
    font-weight: normal;
    margin: 0;
    text-align: center;	
}

#category-box h4, #home-part4 h4, #share-bazar h4 {
	font-size: 16px;
    margin: 0;
    /*font-style: italic;*/
	font-weight:normal;
	text-align:left;
	margin-b:10px;
}
#category-box h4 p, #home-part4 h4 p, #share-bazar h4 p{
	text-align:left;
}

.sport-div #sports-bottom h4 {
	font-size: 16px;
    margin: 0;
    /*font-style: italic;*/
	font-weight:normal;
	text-align:left;
	margin-top:0px;
}
.sport-div #sports-bottom h4 p {
	text-align:left;
}

.news-details h4 {
	float: left;
    font-size: 22px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.news-details h4 p {
	margin-bottom:0px;	
}

#special-breaking {
	margin-bottom:10px;
	width:980px;
	position: relative;	
}

#special-breaking h4 {
	left: 10px;
    position: absolute;
    top: 7px;
}

#home-part4 #vedio-thum img{
	height: 260px;
    width: 313px;
	border:none;
}

#home-part1 {
    border: 0 solid red;
    float: left;
    margin-bottom: 0;
    width: 978px;
	overflow: hidden;
}

.columnHeight {
	height:235px;
	overflow:hidden;
	margin-right:10px;
	width:415px;
}

#logo-right img {
	width:557px;
	height:80px;
	border:0px;
}

.headline-title {
	height: 47px;
    overflow: hidden;
    width: 415px;
}

#more-details img {
	width:100px;
	height:70px;	
}

#dropdown-menu {
}
#dropdown-menu li {
	float:none;
}
#dropdown-menu li a {
	
}

#sports {
	border-bottom: 1px dotted #DDDDDD;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.sports img {
	float: left;
    margin-right: 10px;
    width: 100px;
}

.sports-bottom {
    float: left;
    width: 360px;
}

.sports-bottom.bottom {
	margin-top:15px;
}

.sports-bottom img {
	float: left;
    margin-right: 10px;
    width: 130px;
	height:90px;
}
#sporte-right.binodon-left {
	float:left;
}
#sporte-left.binodon-right {
	float:right;
}
.sports-bottom  h3 {
	/*float: left;*/
    font-size: 17px;
    line-height: 16px !important;
    margin: 0;
    /*width: 195px;*/
}

#sports  h3 {
	float: left;
    font-size: 17px;
    line-height: 16px !important;
    margin: 0;
    width: 195px;
}

#letest-tab {
    border: 0 solid;
    float: right;
    width: 212px;
	height:395px;
}
#news-slide {
    border: 0 solid;
    float: left;
    height: 310px;
    left: 16px;
    overflow: hidden;
    position: relative;
    right: 0;
    width: 480px;
}
.current-special {
    float: left;
    height: 139px;
    margin-bottom: 15px;
    /*overflow: hidden;*/
    width: 250px;
}
.info-current {
	margin-top:0px;	
}
.current-special.last {
	border-bottom: 1px dotted #DDDDDD;
    border-top: 1px dotted #DDDDDD;
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-top: 8px;	
}

.current-special h1 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
	margin-bottom:4px;
}

.current-special h4 {
    font-size:15px;
    font-weight: normal;
    margin-top: 0;
	margin-bottom:0px;
}

.current-special img {
    float: left;
    height:56px;
    margin-right: 10px;
    width: 80px;
}

.current-special p {
	/*font-size:16px;*/
}
.home-box-buttom {
	/*margin-bottom:0px !important;*/	
}
#home-part1 #demo1, #home-part1 #demo2 {
	height:275px;
}
#home-part1 #letest-tab {
	height:311px;	
}

.special-homebox h3 a{
	color:#004276;
	font-weight:normal;
}

.current-special h1 a {
	color:#005580;
	font-weight:normal;
}

.special-homebox h3 a:hover, .current-special h1 a:hover{
	color:#4F4F4F;
}

/*#news-slide {
    border: 0 solid;
    float: left;
    overflow: hidden;
    position: relative;
    right: 0;
    width: 756px;
	height:395px;
}*/
.slide-thum {
	margin-bottom: 9px; height: 41px; width: 219px;	
}

#tab1 ul, #tab2 ul, #tab3 ul {
    list-style: none outside none;
    margin: 0;
}

#tab1 ul li, #tab2 ul li, #tab3 ul li{
    display:block;
	/*width:212px;*/
}

#letest-tab #tab1 ul li, #letest-tab #tab2 ul li, #letest-tab #tab3 ul li{
	width:212px;
}

#tab1 ul li a, #tab2 ul li a, #tab3 ul li a, #moncho ul li a, #prodorsuni ul li a, #flim ul li a, #tv ul li a {
    border-bottom: 1px dotted #E2E2E2;
    display: block;
    margin-bottom: 3px;
    padding-bottom: 3px;
    padding-top: 2px;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    width: 10px;
}
.carousel-indicators .active {
	background-color:#000 !important;
}
.carousel-indicators {
    list-style: none outside none;
    margin: 0;
    position: absolute;
    left: -4px;
    top:310px;
    z-index: 5;
}
#slide-img img {
    height: 310px;
    width: 495px;
}
#sompadok-tab {
    border: 0 solid;
    float: right;
    width: 220px;
}
#home-part2 {
    border: 0 solid red;
    float: left;
    width: 1060px;
}
#home-part2-left {
    border: 0 solid #000000;
    float: left;
    width: 740px;
}

#home-leadbox {
	width:740px;
	float:left;
}
#home-leadbox-last {
	float:right;
	width:300px;
}
/*#home-part2-left h2 {
	font-size: 22px;
    line-height: 20px;
    margin-top: 0;
}*/

#home-part2-right {
    border: 0 solid #000000;
    float: right;
    width: 305px;
}

.shilpo-shang h2 {
	width:auto !important;
}

#home-box2-top {
    float: left;
    width: 740px;
}
.box2-left {
    float: left;
    margin-bottom: 5px;
    width: 360px;
}
.box2-right {
    float: right;
    width: 360px;
}

.box2-right .home-box-headline h3, .box2-left .home-box-headline h3 {
	line-height:30px;
	font-size:25px;
}

#home-box2-top .box2-right .home-box-headline h3 p, #home-box2-top .box2-left .home-box-headline h3 p {
	text-align:left;
}

.box2-right img {
    float: right;
}

/*#home-box2-top h3 {
    font-size: 19px;
    line-height: 24px;
    margin: 0;
}*/

.box-small-left {
    float: left;
    margin-right: 17px;
    width: 235px;
}
.box-small-left.mid {
    margin-right: 0;
}
.box-small-left.right {
    float: right;
    margin-right: 0;
}

#home-box2-top p {
    text-align: justify;
}
#category-box {
    float: left;
    width:740px;
	margin-top:20px;
}

/*.title {
	width: 100%; float: left; margin-bottom: 5px; margin-top: 8px;	
}*/
#binodon-right .binodon-right-top h3 {
	width: 100%; float: left; margin-bottom: 5px; margin-top: 8px;
}
/*#category-box h2 {
    background-color: #3B5998;
    border-bottom: 3px solid #647DB0;
    border-top: 0 solid #DDDDDD;
    font-size: 22px;
    line-height: 32px;
    padding-left: 10px;
    width: 640px;color:#fff;
}*/
#rajniti-left {
    float: left;
    width: 365px;
}
#rajniti-inleft {
    float: left;
    width: 365px;
	margin-bottom:25px;
}
#rajniti-inleft h3 {
    font-size: 17px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 0;
	
    /*width: 250px;
	float: left;*/
}

#sporte-left h3 {
	margin-top: 10px; 
	margin-bottom: 10px;	
	font-size:17px;
}


#category-box #rajniti-rigth h3 {
	line-height: 16px; margin-top: 10px; margin-bottom: 10px;
}

#rajniti-inleft p {
    margin-left: 6px;
    /*width: 360px;*/
}
#rajniti-inleft img {
    float: left;
    margin-right: 10px;
    width: 100px;
	height:70px;
}
#rajniti-left ul {
    list-style: none outside none;
    margin: 0;
}
#rajniti-left ul li {
}
#rajniti-left ul li a {
}
#rajniti-rigth {
    float: right;
    width: 270px;
}

#rajniti-rigth img {
	width: 270px;
	height:180px;
}

#sporte-left {
    float: left;
    width: 360px;
}

.mandela {
	width:35px !important;
	height:31px !important;	
}

#sporte-left img img {
	height: 195px;
    width: 315px;
}

.sport-div #sporte-left img, .sport-div #sporte-right img {
	height: 195px;
    width: 315px;
}

#sporte-right {
    float: right;
    width: 360px;
}

#sports-bottom-headline li{
	float: left;
    width: 300px;
}

#sporte-right ul, #sporte-left ul, #share-bazar ul, #home-part4 ul, #home-part5 ul, #category-box ul {
    list-style: none outside none;
    margin: 0;
}

#share-bazar {
    float: left;
    margin-bottom: 15px;
}

#share-bazar fieldset{
    border:5px solid #e9e9e9;
	padding:10px;
	width:276px;	
}

#share-bazar fieldset legend{
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;	
}

#share-bazar h3 {
    /*float: left;*/
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    /*width: 185px;*/
}
#share-bazar img {
    float: right;
    width: 100px;
	height:70px;
	margin-left:10px;
}
.share-bazar {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.home-box-content {
    float: left;
    width: 100%;
}

.home-box-content p {
	float:left;
}

#home-part3 {
    float: left;
    width: 978px;
	margin-top:20px;
}

/*#home-part3 h2 {
    background-color: #3B5998;
    border-bottom: 3px solid #647DB0;
    border-top: 0 solid #DDDDDD;
    font-size: 22px;
    line-height: 32px;
    padding-left: 10px;color:#fff;
}*/

#binodon-left {
    border: 0 solid;
    float: right;
    width: 365px;
}
.bleft1 {
    border: 0 solid red;
    float: left;
    margin-bottom: 30px;
    width: 364px;
	text-align:justify;
}

.bangladesh-left .bangladesh-lefttop h3 {
	width: 100%; float: left; margin-top: 5px; margin-bottom: 10px;
	font-size: 17px;
    line-height: 20px;
}

.binodon-url {
	margin-top:20px;
}

#binodon-left h3 {
	font-size: 18px;
    line-height: 17px;
    margin: 0 0 5px;
}

#binodon-right h3 {
	font-size: 18px;
    line-height: 17px;
    margin: 7px 0;
}

.bright {
    border: 0 solid red;
    float: right;
    width: 204px;
}
#binodon-right {
    border: 0 solid;
    float: left;
    width: 270px;
	text-align:justify;
}

.lead-top h3 {
	font-size:35px;
	margin-bottom:10px;	
}

#binodon-right .binodon-right-top img {
    border: medium none;
    height: 200px;
    width: 270px;
}

#binodon-right .binodon-small-box img {
    border: medium none;
    height: 70px;
    width: 100px;
}

#binodon-left .bleft1 img, .bright img {
    border: medium none;
    float: right;
    height: 125px;
    margin-left: 10px;
    margin-right: 0;
    width: 170px;
}

#home-part3 h3 {
    font-size: 17px;
    line-height: 15px;
    margin: 10px 0;
}
#binodon-divider {
    clear: left;
    display: block;
    margin-bottom: 13px;
    width: 100%;
}
#home-part4 {
    float: left;
    margin-bottom:20px;
    width: 1060px;
}
.homepart4-left {
    float: left;
    margin-right: 15px;
    width: 313px;
}
.homepart4-right {
    float: left;
    width: 314px;
}

.binodon-right-panel {
	width:648px;
	float:right;	
}
.shilpo-shang {
	float: left;
    width: 314px;
}
/*#home-part4 h2 {
    background-color: #3B5998;
    border-bottom: 3px solid #647DB0;
    border-top: 0 solid #DDDDDD;
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 10px;
    padding-left: 10px;color:#fff;
}*/

#home-part4 h3 {
    float: left;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;
    width: 100%;
}

#home-part5 {
    float: left;
    margin-bottom: 20px;
    width: 1060px;
	margin-top: 20px;
}
#home-part4 img {
    float: left;
    height: 170px;
	margin-left:0px;
    width: 252px;
}

.home-common-box-left {
	margin-right:17px;
	float:left;
	width:252px;
}

.home-common-box-left.mid {
	margin-right:0;
}
.home-common-box-left.right {
	float:right;
	margin-right:0;
}

#cat-right img {
    float: right;
    height: 70px;
    margin-left: 10px;
    margin-right: 0;
    width: 100px;
}

.homepart5-right {
    float: left;
    width: 325px;
}

/*#home-part5 h2 {
    background-color: #3B5998;
    border-bottom: 3px solid #647DB0;
    border-top: 0 solid #DDDDDD;
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 10px;
    padding-left: 10px;
	color:#fff;
}*/

#home-part5 h3 {
    font-size: 17px;
    margin: 0;
}
.homepart5-left {
    float: right;
    width: 715px;
}
#gallery-img img {
    height: 390px;
    width: 715px;
}
.homepart5-right img {
    float: left;
    height: 70px;
    margin-right: 10px;
    width: 100px;
}


#vedio-thum .main-vedio {
    float: right;
    height: 197px;
    margin-left: 10px;
    width: 314px;
}
.special-news-box {
	float:left;
}
.special-news-box.bottom {
	margin-top:15px;
	margin-bottom:15px;
}
#vedio-thum .vedio-ber {
    float: right;
    height: 18px;
    margin-left: 10px;
    width: 314px;
}

.world-cup-right .vedio-ber {
    width: 280px;
}

#slide-mainimg {
	height: 310px;
    width: 525px;
	overflow:hidden;
}

#slide-big img {
    border: medium none;
    height: 235px;
    width: 425px;
}
#newsticker-jcarousellite img {
    /*position: relative;
    top: -25px;*/
    width: 58px;
	height:40px;
}
#slide-heading h4 {
    font-size: 19px;
    line-height: 20px;
    margin: 9px 0;
}
#slide-thum {
    float: right;
    margin-right: 10px;
    overflow: hidden;
    width:58px;
}
#slide-heading p {
}
#newsticker-jcarousellite p {
    float: left;
    text-align: left;
	width:148px;
}
#newsticker-jcarousellite p a {
    color:#5D78CF;
    font-size: 16px;
}

#footer-menu {
	width: 100%; display: block; float: left;
	background-color:#b50301;
}

#footer-menu .menu {
	margin: 0 auto;
}

.footer-bottom {
	float:left;
	width:100%;
}
.Fbottom-left {
	float:left;
	width:365px;
}
.Fbottom-left-top {
    padding-left: 10px;
    padding-top: 10px;
    width: 350px;
}
.Fbottom-left-bottom {
    float: left;
    width: 360px;
}
.Fbottom-right {
    float: right;
    width: 670px;
	padding-top:10px;
	padding-right:10px;
}
.right-ber-news {
	float: left;
    margin-bottom: 15px;
	width:100%;
}
.right-ber-news img {
	float:left;
	margin-right:10px;
}
.right-ber-news h3 {
	float: left;
    font-size: 17px;
    line-height: 20px;
    margin:0;
	margin-bottom:10px;
    width: 100%;
}
.bangladesh {
	float: right;
    width: 648px;
}

.bangladesh-left {
	width:330px;
	float:left;
}
.bangladesh-right {
	float:right;
	width:300px;	
}

.bangladesh-right h2 {
	border-bottom: 1px dotted #CCCCCC;
    color: #666666;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 10px;	
}

.bangladesh-left .bangladesh-lefttop img {
	height: 200px !important;
    margin-bottom: 10px;
    margin-right: 0 !important;
    width: 330px !important;
}

.bd-bottum img {
    float: left;
    height: 70px;
    margin-left: 0;
    margin-right: 10px;
    width: 100px;
}

.bd-bottum h3 {
    font-size: 17px;
    line-height: 20px;
    margin: 0;
}

.bd-bottum {
	margin-bottom:10px;	
}

.bangladesh-lefttop {
	margin-bottom:20px;	
}

#bd-inleft {
    float: left;
    width: 300px;
	margin-bottom:20px;
}

.facebook-like {
	float: left; margin-top: 15px;	
}

#binodon-left .binodon2013 img {
	height: 229px;
    padding: 0;
    width: 365px;
}

#binodon-left .binodon2013 .carousel-control {
	top:48%;	
}

#binodon-left .binodon2013 .carousel-inner {
	height: 306px;
}

#binodon-left .binodon2013 .binodon-slide-caption {
	background-color: rgba(0, 0, 0, 0.7);
    height: 57px;
    top: 229px;
    width: 344px;
}
#binodon-left .binodon2013 .binodon-slide-caption h1 {
	font-size: 18px;
    margin-top: 0;
	font-weight:bold;
	margin-bottom:0px;
}
#binodon-left .binodon2013 .binodon-slide-caption h1 a:hover {
	color:#ddd;
}
#binodon-left .binodon2013 .binodon-slide-caption p {
	color:#fff;
}
.binodon-slide-caption a {
	color: #fff;
}

.binodon-small-box 

#binodon-left .binodon2013 .carousel-control.right {
	right:0px;	
}

#binodon-left .binodon2013 .carousel-control.left {
	left:0px;	
}

#binodon-left .binodon2013 .carousel-control.right {
	right:0px;	
}

.binodon-small-box {
	margin-top:10px;	
}

#binodon-left .binodon2013 h5 {
	background: none repeat scroll 0 0 #F9F9F9;
    border-left: 4px solid #032568;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#binodon-left .binodon2013 h5  a {
	color: #353535;
}

.homepart2-left {
	float: left;
    width: 235px;
	margin-right:17px;
}

.homepart2-left.mid {
	margin-right:0px;
}

.homepart2-left.right {
	margin-right:0px;
	float:right;
}
h2.heading {
	border-bottom: 2px solid #c2c2c2;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
.right-ber h2.heading {
	float:left;
	width:100%;
}
.homepart2-left h2 a {
	
}
.right-ber {
	float:left;
	margin-bottom:15px;
}
.arrow {
	margin:0;
}
.homepart2-left h3 {
	font-size: 17px;
    line-height: 20px;
    float:left;
	width:100%;
	margin:10px 0;
}

.homepart2-left.right{
	float:right;
}

.homepart2-left img {
	float: left;
    height: 150px;
    width: 235px;	
}
.home-dist-list {
	float:left;
}
.dist-list {
	float:left;
}
#dist-loading {
	float:right;
	margin-left:10px;
}
.home-dist-list #dist-loading img {
	width:16px;
	height:16px;
	margin-top:6px;
}
.bangladesh.left {
	float:left;
}
.homepart4-right.right {
	float:right;
}
#dist-headline .allnews {
	float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
    width: 100%;
}
#dist-headline .allnews a i {
	margin-top:5px;	
}







