/*==================*/
.menu_container {
    background:#b50301;
}
/*======================*/
.menu_container {
    float: left;
    height: auto;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 10px;
    position: relative;
    width: 1060px;
	
	-webkit-box-shadow:0 40px 48px -63px inset;
    box-shadow:0 40px 48px -63px inset;
}

.submenu-list li .img-small {
	width:50px;
}

.menu_container:hover {
    z-index: 100;
}
.menu-ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.menu-ul, .menu-ul > li, .menu-ul li > a, .menu-ul > li.active a, .menu-ul > li:hover a {
}

.menu-ul > li {
    background: none repeat scroll 0 0 #b50301;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    transition: all 150ms linear 0s;
	-webkit-box-shadow:0 40px 48px -63px inset;
    box-shadow:0 40px 48px -63px inset;
}

.menu-ul > li > a {
    border-right: 1px solid #c48073;
    color: #fff;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
}

/**/
.more-menu {
	width:100%;	
}

.more-menu .menu-ul > li {
    width:100%;
	border-bottom: 1px solid #E3E3E3;
}
/**/

.menu-ul li.has-dropdown > a:after {
    content: "›";
    font-weight: bold;
    line-height: 16px;
    margin-top: -9px;
    position: absolute;
    right: 10px;
    top: 50%;
}
.menu-ul > li.has-dropdown > a:after {
    display: none;
}
.menu-ul > li > a > i {
    width: 19px;
}
.menu-ul > li.static > .menu-dropdown {
    margin-top: 0;
}
.menu-ul > li.has-dropdown.full-width {
    position: static;
}
.menu-ul > li.has-dropdown.full-width .menu-dropdown {
    left: 0;
    margin-top: 0;
    width: 100%;
}
.menu_container.vertical .menu-ul > li.has-dropdown.full-width {
    position: relative;
}
.menu_container.vertical .menu-ul > li.has-dropdown.full-width .menu-dropdown {
    width: 750px;
}
.menu-dropdown {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.82);
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: opacity 200ms linear 0s;
    visibility: hidden;
    width: auto;
}
.menu-dropdown, .submenu-list {
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 2px;
}
.menu-ul li.has-dropdown:hover > .menu-dropdown {
    opacity: 1;
    visibility: visible;
}
.menu-ul > li > .menu-dropdown {
    left: 0;
    margin-top: 0px;
    padding-left: 0;
}
#dropdown-right {
    left: auto !important;
    margin-top: 0px !important;;
    padding-left: 0;
    right: 0 !important;
}
#dropdown-part1 {
    float: right !important;
}
.dropdown-part1 {
    float: left !important;
}
.menu-ul > li > .menu-dropdown.right-align {
    left: auto;
    right: 0;
}
.menu-ul > li > .menu-dropdown > ul.submenu-list {
    padding-left: 0;
}
.submenu-list li {
    display: block;
    margin: 0;
    padding: 0;
    transition: all 150ms linear 0s;
}
.submenu-list li > a {
    color: #FFFFFF;
    display: block;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.submenu-list li:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}
.submenu-list li .menu-dropdown {
    left: 100%;
    top: 0;
}
.submenu-list li .menu-dropdown.right-align {
    left: auto;
    padding-left: 0;
    padding-right: 2px;
    right: 100%;
    top: 0;
}
.submenu-list li > a {
    overflow: hidden;
    padding: 10px 5px 10px 15px;
}
.submenu-list li span.image {
    /*border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px 3px 3px 3px;*/
    float: left;
    margin-right: 15px;
    padding: 1px;
    width: 30%;
}
.submenu-list li span.image img {
    /*border-radius: 2px 2px 2px 2px;*/
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
}
.submenu-list li img {
	width: 90px; float: left; margin-right: 8px;
}
.submenu-list li span.title {
    color: #353535;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.submenu-list li span.title small {
}
.submenu-list li span.desc {
    color:#353535;
    display: block;
    padding: 0px 0;
    white-space: normal;
}
.menu-dropdown.submenu, .menu-dropdown.submenu .menu-dropdown {
    background: none repeat scroll 0 0 #F9F9F9;
}
.menu-dropdown.submenu li {
    position: relative;
    /*width: inherit;*/
}
#menu-letest {
    float: right;
    margin-left: 10px;
    width: 46%;
}
#menu-letest ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: auto;
}
#menu-letest li {
	/*background: url("../img/icon_arrow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding-left:18px;*/
}
#menu-letest a {
    border: medium none !important;
    font-size: 17px !important;
    line-height: 25px !important;
	
}
#menu-letest a:hover {
    /*background: none repeat scroll 0 0 transparent;*/
}
#menu-letest h2 {
    font-size: 18px;
}
.menu-dropdown.submenu li:hover {
}
.menu-dropdown.submenu ul {
    float: left;
    width: 50%;
}
.menu-dropdown .columns {
    float: left;
    width: 100%;
}
.menu-dropdown .column-content {
    color: #999999;
    padding: 10px 20px;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.menu-dropdown .columns [class^="span"] {
    float: left;
}
.menu-dropdown .columns .span1 {
    width: 8.33333%;
}
.menu-dropdown .columns .span2 {
    width: 16.6667%;
}
.menu-dropdown .columns .span3 {
    width: 25%;
}
.menu-dropdown .columns .span4 {
    width: 33.3333%;
}
.menu-dropdown .columns .span5 {
    width: 41.6667%;
}
.menu-dropdown .columns .span6 {
    width: 50%;
}
.menu-dropdown .columns .span7 {
    width: 58.3333%;
}
.menu-dropdown .columns .span8 {
    width: 66.6667%;
}
.menu-dropdown .columns .span9 {
    width: 75%;
}
.menu-dropdown .columns .span10 {
    width: 83.3333%;
}
.menu-dropdown .columns .span11 {
    width: 91.6667%;
}
.menu-dropdown .columns .span12 {
    width: 100%;
}
.column_title {
    color: #FFFFFF;
    font-weight: bold;
}
.menu-dropdown .menu-form .field {
    margin-bottom: 10px;
    overflow: hidden;
}
.menu-dropdown span.field-label {
    color: #FFFFFF;
    display: block;
    line-height: 24px;
    margin-right: 3%;
}
.menu-dropdown span.field-input {
    display: block;
}
.menu-dropdown span.field-input input, .menu-dropdown span.field-input textarea {
    -moz-box-sizing: border-box;
    border: 1px solid #333333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3) inset;
    margin: 0;
    padding: 6px 5px;
    width: 100%;
}
.menu-dropdown .field-submit {
    background: none repeat scroll 0 0 #41484F;
    border: 1px solid #222222;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding: 8px 20px;
    transition: all 150ms linear 0s;
}
.menu-dropdown .field-submit:hover {
    background: none repeat scroll 0 0 #FF4141;
}
.menu-dropdown.custom li.field {
    padding: 15px 20px;
}
.menu-dropdown p {
    color: #999999;
    margin-bottom: 1em;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.menu-dropdown p.links a {
    color: #FFFFFF;
    text-decoration: none;
}
.menu-dropdown p.links a:hover {
    text-decoration: underline;
}
.menu_container.vertical {
    float: left;
}
.menu_container.vertical .menu-ul {
    float: left;
}
.menu_container.vertical .menu-ul li {
    float: none;
}
.menu_container.vertical .menu-ul > li {
    border-bottom: 0 none;
    border-right: 4px solid #FF4141;
}
.menu_container.vertical .menu-ul > li > .menu-dropdown {
    border-top: 0 none;
    left: 100%;
    margin-left: 4px;
    margin-top: 0;
    top: 0;
}
.menu_container.spaced .menu-ul > li {
    margin-left: 2px;
}
.menu_container.spaced .menu-ul > li:first-child {
    margin-left: 0;
}
.menu_container.vertical.spaced .menu-ul > li {
    margin-left: 0;
    margin-top: 2px;
}
.menu_container.vertical.spaced .menu-ul > li:first-child {
    margin-top: 0;
}
.menu_container.centered .menu-ul {
    margin: 0 auto;
    width: 960px;
}
.menu_container.topfixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu_container.leftfixed {
    left: 0;
    position: fixed;
    top: 100px;
}
.w100 {
    width: 100px;
}
.w200 {

    width: 200px;
}
.w300 {
    /*-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF;
    border-image: none;
    border-right: 4px solid #FFFFFF;
    border-style: none solid solid;
    border-width: medium 4px 4px;*/
    width: 525px;
}
.w400 {
    width: 400px;
}
.w500 {
    width: 500px;
}
.w600 {
    width: 600px;
}
.w700 {
    width: 700px;
}
.w800 {
    width: 800px;
}
.w900 {
    width: 900px;
}
.text-right {
    text-align: right;
}



/*==============small menu===*/
.menu-small {
    float: left;
    width: 100%;
	margin-top:5px;
}
.menu-small ul {
    list-style: none outside none;
    margin-left: 62px;
}
.menu-small ul li {
    float: left;
}
.menu-small ul li a {
    background-color: #ddd;
    display: block;
    margin-left: 1px;
    padding: 4px 10px;
}
.menu-small ul li a:hover {
}