/* CSS Document */
#welcome_ad {
	display:none;
	position:fixed;
	width:660px;
	top:40px;
	z-index:1000;
	margin-left:20px;
	font-size:15px;
}
/*height:440px;*/
#welcome_ad a {
	cursor:pointer;
	text-decoration:none;
}
#pclose {
	right:0px;
	top:0px;
	position:absolute;
	z-index:15;
} /*margin-top:-10px; margin-right:-5px;*/
