
#demo1, #demo2, #demo3 {
    height: 345px;
    width: 100%;
}
.gallery-top-side {
    float: left;
    margin-bottom: 20px;
    width:740px;
}
.all-album-list {
    float: left;
    width: 740px;
}
.thumb {
    border: 1px solid #DDDDDD;
    float: left;
    margin-bottom: 20px;
    margin-right: 16px;
    padding: 8px;
    width: 155px;
}
.thumb:hover {
    background-color: #EDEAEA;
}
.thumb.last {
    float: right;
    margin-right: 0;
}
.thumb.agolast {
    margin-right: 0;
}
.thumb img {
    border: medium none;
    float: left;
    height: 125px;
    width: 152px;
}
.thumb p {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 140px;
}
.gallery-thum {
    border: 1px solid #F5F5F5;
    float: left;
    width: 680px;
}
.gallery-thum ul {
    list-style: none outside none;
    margin: 0;
}
.gallery-thum ul li {
    float: left;
    margin: 5px;
}
.gallery-thum img {
    height: 80px;
    width: 125px;
}
.gallery-details {
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 680px;
}
.gallery-details img {
    height: 400px;
    width: 680px;
}
.gallery-details p {
    background-color: #F5F5F5;
    padding: 10px;
}
.gallery-top-side .span8 {
    margin-left: 0;
}
.more-album-link {
    border-bottom: 1px solid #DDDDDD;
    float: left;
    padding-bottom: 5px;
    width: 740px;
}
.more-album-link a {
    float: right;
}
.details-photo-album-pagination {
    position: absolute;
    top: 170px;
    width: 740px;
    z-index: 100;
}
.details-photo-album-pagination a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    color: #000000;
    display: block;
    font-size: 65px;
    height: 40px;
    line-height: 34px;
    padding: 10px;
    text-decoration: none;
    width: 20px;
}
.details-photo-album-pagination a:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);	
}
.details-photo-album-pagination .prev {
    float: left;
}
.details-photo-album-pagination .next {
    float: right;
}

.photo-share {
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    float: left;
    line-height: 29px;
    margin: 10px 0;
	padding-bottom:10px;
	display: block;
    float: left;
    width: 680px;
    height:70px;
}
.foodball-dailyphoto {
    float: left;
    width: 680px;
}
.foodball-desc {
    float: left;
    margin-top: 10px;
    width: 680px;
}
.foodball-dailyphoto .big-photo {
    height: 402px;
    width: 680px;
}
.foodball-desc p.left-img {
    float: left;
    width: 194px;
}
.foodball-desc p {
    float: right;
    width: 480px;
}
#world-cup .carousel-inner #gallery-img img {
	width:680px;
	height:402px;	
}
.world-cupgallery {
	margin-bottom:10px;	
}
.world-cup-right-thum {
	float:left;	
}
.world-cup-right-thum img {
	float:left;
	margin-right:10px;	
}
#category-right .world-cup-right ul li a {
	display:inline;	
}
.daily-ramandan {
	margin-bottom:10px;	
}
.daily-ramandan table {
	/*width:250px;*/
	border-radius:0px;
}
.daily-ramandan table td{
	/*width:250px;*/
	border-radius:0px!important;
}
.ramadan-lead {
	margin-top:10px;
	float:left;	
}
