html, body, form{
	margin: 0;
	padding: 0;
}
body {
	color: #222;
	font-family: Arial;
	font-size:12px;
	line-height: 150%;
	background-color: #f2f4f6;
	/*background:url(images/bg.jpg) repeat-y scroll center top #E8E5D6;*/

}
a, a:visited {
	color: #0033FF;
	text-decoration: none;
}
a:hover {
	color: #000;
}
a img {
	border-width: 0;
}
input, select, textarea, .inputbox {
	font-size: 100%;
	border:1px solid #D1D7D5;
}
li{
	list-style-type: none;
}
ul{
	padding:0;
	margin:0;
}
div.main-menu ul{
	margin:0;
	padding:0;
}

div#body{
	background: #FFF; ;
	width:1040px;
	margin:auto;
}
div#body img{
	max-width:1040px;
}
div.main-header{
	
}
div.main-header h1.logo{
	display:block;
	width:262px;
	height:45px;
	margin: 0;
	float: left;
}
div.main-header h1.logo a{
	background: url(images/logo.png) no-repeat 0 0;
	display:block;
	width:262px;
	height:45px;
}
div.main-header div.search{
	float: left;
    margin-left: 50px;
    margin-top: 8px;
}
div.main-header div.post-video{
	float: left;
    margin-left: 10px;
    margin-top: 8px;
}
div.main-header div.post-video a{
	color: #FFF;
	background-color:#D73F3A;
	display:inline-block;
	padding:5px 10px;
	text-transform:uppercase;
	font-size:11px;
}
div.main-header div.post-video a:hover{
	color: #D73F3A;
	background-color:#FFF;
}
div.main-header div.search input{
	border: 1px solid #329CF2;
    float: left;
    height: 27px;
    margin: 0;
    padding: 0;
    width: 260px;
}
div.main-header div.search button{
	background: url("images/bt-search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 29px;
    width: 29px;
}
div.top-menu{

}
div.top-menu ul{
	float: right;
    padding-top: 11px;
}
div.top-menu ul li{
	float: left;
    padding-left: 0px;
    padding-right: 0px;
	color: #0071B2;
}
div.top-menu ul li a{
	color: #0071B2;
    font-size: 12px;
    font-weight: normal;
    margin-left: 6px;
    margin-right: 6px;
}
div.top-menu ul li a.active{
	color: #D73F3A;
}
div.main-menu{
	background: none repeat scroll 0 0 #309DF2;
    height: 35px;
	margin-bottom: 5px;
}
div.main-menu ul{
	
}
div.main-menu ul li{
	float:left;
	margin-left: 10px;
    margin-right: 10px;
}
div.main-menu ul li a{
	color: #FFFFFF;
    font-size: 12px;
	font-weight:bold;
	line-height: 25px;
}
div.main-menu ul li.home{
	background: url("images/home.png") 0px 0px no-repeat;
    height: 35px;
    margin-left: 30px;
    margin-right: 0;
}
div.main-menu ul li.home a{
	display: block;
    height: 40px;
    width: 30px;
}
div.main-menu ul li.more{
	float:left;
	margin-left: 20px;
    margin-right: 20px;
}
div.main-menu ul li.more a{
	color: #FFFFFF;
    font-size: 12px;
	line-height: 25px;
	font-size:12px;
	text-transform:none;
}
div.main-menu ul li.home a span{
	display:none;
}
div.left-body{
	float: left;
	padding-right:10px;
    width: 730px;
}
div#body div.left-body img{
	max-width: 730px;
}
div.right-body{
	float: right;
	width: 300px;
}
div.mang-xahoi{
	padding-right:5px;
	text-align: right;
}
div.mang-xahoi a{
	margin-right:2px;
}
div.mang-xahoi img{
	height: auto;
    width: 60px;
}
div.ds-thongbao{
	height: 200px;
    overflow: auto;
    padding-bottom: 10px;
    text-align: center;
	border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;

}
div.ds-thongbao li{
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 50px;
    padding-right: 50px;
}
div.ds-thongbao a:hover {
    text-decoration: underline;
}
div.ds-thongbao li.tb-item0 a{
	color:#00468a;
}
div.ds-thongbao li.tb-item1 a{
	color:#ff9b0b;
}
div.thong-bao h3.title{
	background: none repeat scroll 0 0 #61AA3B;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
}
div.videogame-tieubieu1{
	margin-bottom:5px;
}
div.videogame-tieubieu1 h3.title{
	background: none repeat scroll 0 0 #D73F3A;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
div.videogame-tieubieu1 div.video-filter .left-tieubieu{
	float: left;
    margin-left: 20px;
}
div.videogame-tieubieu1 div.video-filter .right-tieubieu{
	float: right;
    margin-right: 20px;
}
div.videogame-tieubieu1 div.video-filter{
	background: none repeat scroll 0 0 #D73F3A;
	color:#fff;
	margin-top: -8px;
	height: 20px;
}
div.videogame-tieubieu1 div.video-filter li{
	float: left;
}
div.videogame-tieubieu1 div.video-filter li a{
	font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
	color:#fff;
}
div.videogame-tieubieu1 div.video-filter li.active a{
	color:#005aa0;
	font-weight:bold;
}
div.ds-video, div.list-video{
	border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
	padding-left:5px;
}
border{
	border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}
div.list-video  li, div.ds-video li{
	float: left;
    width: 173px;
	padding-left:3px;
	padding-right:3px;
	height: 115px;
	position:relative;
}
div.list-video li img.video-thumb , div.ds-video li img.video-thumb{
	height: 115px;
    width: 174px;
}
div.list-video  li a.play-icon, div.ds-video li a.play-icon{
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
div.list-video  li a.play-icon img, div.ds-video li a.play-icon img{
	padding-left: 70px;
    padding-top: 25px;
}
div.list-video  li div.video-info, div.ds-video li div.video-info{
	background: url("images/bg-tran1.png") repeat scroll 0 center rgba(0, 0, 0, 0);
    bottom: 0;
    height: 40px;
    left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    width: 154px;
	overflow: hidden;
}
div.video-info-title{
	max-height: 58px;
    padding-top: 6px;
    text-align: center;
}
div.video-info-title a{
	color:#fff;
	font-weight: bold;
}
span.video-info2-left{
	float:left;
	color:#fff;
	font-size:10px;
	line-height: normal;
}
.video-info2-right{
	float:right;
	font-size:10px;
	line-height: normal;
    cursor: pointer;
    color: #000;
}
.video-info2-right img,span.video-info2-left img{
	float:left;
}
div.video-info2{
}
div.list-video  li:hover div.video-info, div.ds-video li:hover div.video-info{
	height: 80px;
}
div.xemthem{
	clear: both;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
}
div.xemthem a.xemthem{
	color:#d73f3a;
}

div.video-moi-nhat h3.title,div.video-moi-nhat div.video-filter{
    background: none repeat scroll 0 0 #59c8ff;
}
div.video-yeuthich h3.title,div.video-yeuthich div.video-filter{
    background: none repeat scroll 0 0 #59c8ff;
}
div.video-xem-nhieu h3.title,div.video-xem-nhieu div.video-filter{
	background: none repeat scroll 0 0 #59c8ff;
}
/*
div.video-moi-nhat div.ds-video,div.video-xem-nhieu div.ds-video,div.video-yeuthich div.ds-video{ 
	height: 250px;
}
div.video-moi-nhat div.ds-video ul,div.video-xem-nhieu div.ds-video ul,div.video-yeuthich div.ds-video ul{ 
	height:125px;
}
*/
div#body div.right-body img{
	max-width: 300px;
	height:auto;
}
div.main-footer{
	clear: both;
    padding-top: 10px;
}
div.main-footer div.menu-bottom{
	background: none repeat scroll 0 0 #309DF2;
    padding: 10px 20px;
	position: relative;
}
div.main-footer div.menu-bottom a{
	color:#fff;
}
div.baner2{
	clear:both;
	margin-bottom:5px;
}
div.baner1{
	clear:both;
	margin:0px;
	width:1040px; 
	height:10px;
}
div.banner-right{
	clear:both;
	margin:0px;
	padding:0px;
}
div.main-footer span.Copyright{
	bottom: 25px;
    position: absolute;
    right: 15px;
	color:#fff;
}
div.main-footer span.Lang{
	bottom: 3px;
    position: absolute;
    right: 15px;
	color:#fff;
}
div.thong-bao{
	padding-bottom:5px;
}

div.dangvideo{
	padding-left:50px;
	padding-right:50px;
}
div.dangvideo .tieude{
	width:100%;
}
div.dangvideo .noidung{
	width:100%;
	resize: vertical;
}
div.dangvideo .danhmucgame,div.dangvideo .danhmucgamecon{
	margin-bottom: 7px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-top: 2px;
    width: 100%;
}
div.dangvideo .sovideo{
	 width: 20px;
}
div.dangvideo a.ladsovideo{
	background: none repeat scroll 0 0 #309DF2;
    color: #FFFFFF;
    padding: 3px 15px 1px;
	cursor: pointer;
}
div.list-videodang input{
	width:100%;
}
div.bt-active{

}
div.bt-active button{
	background: none repeat scroll 0 0 #75A616;
    border-left: 1px solid #618507;
    border-radius: 3px 3px 3px 3px;
    border-top: 1px solid #618507;
    color: #FFFFFF;
    cursor: pointer;
    padding: 4px 20px;
}
/* */
ul#menu ul.sub-menu-ex {
    padding:2px 0px 0px 0px;
    margin: 0;
    color: #fff;
	z-index:99;
}
ul#menu ul.sub-menu-ex li {
    list-style-type: none;
    display: inline-block;
}
ul#menu ul.sub-menu-ex li {
	border-bottom:1px solid #FFF;
	width:90px;
	text-transform:none;
}
/*Link Appearance*/
ul#menu li ul.sub-menu-ex li a {
    text-decoration: none;
    color: #fff;
    padding: 3px 0px;
    display:inline-block;
}
 ul#menu li ul.sub-menu-ex li a:hover {
    text-decoration: underline;
}
/*sub menu*/
ul#menu li ul.sub-menu-ex {
    display:none;
    position: absolute;
    top: 30px;
    right: 0;
    background: #309DF2;
}
ul#menu li:hover ul.sub-menu-ex {
    display:block;
}
/* */
ul#menu, ul#menu ul.sub-menu {
    padding:2px 0px 0px 0px;
    margin: 0;
    color: #fff;
	text-transform:uppercase;
	z-index:99;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
ul#menu ul.sub-menu li {
	border-bottom:1px solid #FFF;
    width: 150px;
	text-transform:none;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 3px 0px;
    display:inline-block;
}
ul#menu li a:hover, ul#menu li ul.sub-menu li a:hover {
    text-decoration: underline;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    background: #309DF2;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
/* */
.clear {
	clear:both;
}
.padding-30 {
        padding-top: 30px;
}
.padding-20 {
        padding-top: 20px;
}
.padding-10 {
        padding-top: 10px;
}
.padding-5 {
        padding-top: 5px;
}
.center {
	text-align:center;
}
div.form-reg {
	padding-top:50px;
}
div.form-reg .error{
	color:red;
	padding:5px;
	display:none;
}
div.form-reg .success{
	color:blue;
	padding:5px;
	display:none;
}
div.form-reg input[type='text'], .form-reg input[type='password'] {
	padding:5px; border:1px solid #CCC;
	margin-top:5px;
}
div.form-reg input[type='button'], .form-reg input[type='submit'], .button  {
	background-color:#59c8ff;
	padding:5px 15px;
	color:#FFF;
}
div.form-reg .link{
	padding:10px 5px;
}
div.form-reg .link a{
	padding:0px 20px;
	display:inline-block;
	font-weight:bold;
	color:#309DF2;
}
.avatar {
	border:1px solid #CCC;
	padding:2px;
	max-height:50px;
	max-width:50px;
}
div.member-info {
	padding:10px 10px 10px 10px;
}
div.member-info .image{
	float:left;
	margin-right:10px;
}
div.member-info .user{
	padding:0px;
	font-weight:bold;
}
div.member-info .link{
	padding:15px;
	height:45px;
}
div.member-info .link-text{
	padding:30px 0px 0px 10px;
	font-weight:bold;
}
div.member-info .link-fb{
	float:left;
	padding:0px 0px 0px 5px;
}
div.member-info .link-mes{
	float:left;
	padding:0px 0px 0px 5px;
}

div.member-info .link-follow{
	color:blue;
	padding:2px 5px 0px 5px;
	display:none;
	float:left;
}
div.member-info .link-error{
	color:red;
	padding:2px 5px 0px 0px;
	display:none;
	float:left;
}
div.member-menu{
	margin:-25px 10px 0px 10px;
	padding:5px 30px 0px 30px;
	background:url(../images/dot.gif) 0px 24px repeat-x;
	height:30px;
}
div.member-menu a{
	float:right;
	padding:0px 5px 2px 5px;
	margin:0px 5px;
	display:inline-block;
	font-weight:bold;
	color:#999;
}
div.member-menu a.active{
	padding:0px 5px;
	border-bottom:2px solid #C33;
	font-weight:bold;
	color:#000;
}
div.member-menu a:hover{
	padding:0px 5px;
	border-bottom:2px solid #C33;
	font-weight:bold;
	color:#000;
}
div.member-profile {
	padding:20px 10px 10px 10px;
}
ul.item-link {
    padding:0px;
} 
ul.item-link li{
    float:left;
} 
ul.item-link li a{
    display: inline-block;
    padding: 5px 5px; 
    background-color: #D73F3A;
    margin: 0px 2px 2px 2px;
	color:#FFF;
} 
ul.item-link li a.active{
    display: inline-block;
    padding: 5px 10px; 
    background-color: #309DF2;
    margin: 0px 0px 0px 0px;
	color:#FFF;
} 
ul.item-link2 {
	float:right;
	width:640px;
    padding:0px;
} 
ul.item-link2 li{
    float:left;
} 
ul.item-link2 li a{
    display: inline-block;
    padding: 3px 3px; 
    background-color: #D73F3A;
    margin: 0px 2px 2px 0px;
	color:#FFF;
}
ul.item-link2 li a:hover{
	background-color:#309DF2;
	color:#FFF;
} 
.expandable {
}
.expandable .read-more, .expandable .read-less{
	margin:0px 100px 0px 100px;
	padding:15px 0px 0px 0px;
	background:url(../images/dot.gif) 0px 26px repeat-x;
   	color:#999;
	display:block;
	text-align:center;
}
.expandable .read-more a, .expandable .read-less a{
   	color:#999;
	display:inline-block;
	background-color:#FFF;
	padding:0px 10px;
}

div.video-title{
	background: none repeat scroll 0 0 #D73F3A;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0px 0px 10px;
    text-align: left;
}
div.video-embed{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
div.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
div.video-views {
	float:left;
	padding:0px 0px 0px 10px;
}

div.video-views span{
	float:left;
	color:#D73F3A;
	font-size:14px;
	padding:0px 0px 0px 0px;
}
div.video-numviews {
	float:left;
	padding:0px 0px 0px 10px;
}

div.video-numviews span{
	float:left;
	color:#000;
	font-size:11px;
	padding:0px 0px 0px 20px;
}
div.video-social {
	float:right;
	padding:0px 10px 0px 0px;
}
div.video-social div{
	float:right;
	padding:0px 0px 0px 0px;
}
div.video-socialf {
	float:left;
	padding:0px 0px 0px 0px;
}
div.video-socialf div{
	float:left;
	padding:0px 0px 0px 0px;
}
div.video-comment {
	clear:both;
	padding:0px 10px 0px 10px;
	min-height:150px;
}
div.video-more {
	
}
div.video-more span{
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#309DF2;
	display:inline-block;
    padding: 10px 10px 0px 10px;
}
div.video-note {
	color:#D73F3A;
	font-size:14px;
	font-weight:normal;
	display:inline-block;
    padding: 10px 10px 0px 10px;
}
.friend {
	float:left;
	cursor:pointer;
}
.follow-btn{
	background: url(images/icon-follow.png) 0px 0px no-repeat; 
	width:84px;
	height:26px;
}
.follow-btn:hover{}
.unfollow-btn{
	background: url(images/icon-unfollow.png) 0px 0px no-repeat; 
	width:84px;
	height:26px;
}
.unfollow-btn:hover{
}

div.video-fb{
	padding:10px 10px 10px 10px
}

ul.tabs {
	margin:-25px 10px 0px 10px;
	padding:5px 20px 0px 0px;
	background:url(../images/dot.gif) 0px 24px repeat-x;
	height:30px;
}
ul.tabs li{
	float:right;
	list-style:none;
	display:inline;
}
ul.tabs li a{
	padding:0px 5px 2px 5px;
	margin:0px 5px;
	display:inline-block;
	color:#999;
	font-weight:bold;
}
ul.tabs li  a.active,  ul.tabs li a:hover{
	padding:0px 5px;
	font-weight:bold;
	border-bottom:3px solid #C33;
	color:#000;
}
div.video-content {
	clear:both;
    line-height: 17px;
	padding:10px 20px 20px 20px;
}
div.video-content p{
	padding:2px;
	margin:0px;
}
div.social-share{
	padding:0px 50px;
}
.page {
	padding:0px 0px 0px 0px;
	width:100%;
	text-align:center;
}
.page a, .page span{
	border:1px solid #CCC;
	display:inline;
	margin:0px 3px;
	padding:5px 10px;
}
.page a:hover, .page span, .page a.active{
	background-color:#D73F3A;
	color:#FFF;
}
.page a.first, .page a.last{
	border:none;
}
.video-views {
	color:#309DF2;
}


.tags {
	padding:0px 0px 10px 0px;
	width:100%;
}
.tags a{
	float:left;
	padding:5px;
	display:inline-block;
	margin:0px 1px 1px 0px;
	background-color:#D73F3A;
	color:#FFF;
}
.tags a:hover, .tags span{
	background-color:#309DF2;
	color:#FFF;
}
.tags p{
	padding:0px 5px;
	margin:0px;
}
ul.tag {
	padding:0px 0px 0px 0px;
	width:500px;
	margin:0px;
}
ul.tag li{
	float:left;
	padding:0px 0px;
	width:30%;
}

div.right-body h4.title{
	background: none repeat scroll 0 0 #309DF2;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding:5px;
    text-transform: uppercase;
	text-align:center;
}

div.right-body h4 img{
	float:right;
}
.list-friend {
	padding: 5px;
}
.list-friend ul{
}
.list-friend ul li{
	padding: 5px;
	float:left;
	width:30%;
	position:relative;
}
.list-friend ul li img{
	padding: 5px;
	float:left;
}
.list-friend ul li p{
	padding: 5px;
	float:left;
}

.list-friend ul li span.video-views{
	color:#000;
	padding:1px 0px 7px 20px;
	background: url("images/icon12.png") 0px 3px no-repeat;
	display:inline-block;
	position:absolute;
	bottom:0px;
	left:75px;
}

.list-friend ul li a.title{
	padding:2px 0px 7px 10px;
	display:inline-block;
	font-weight:bold;
	font-size:13px;
}

.list-message ul{
	padding:10px;
}
.list-message ul li{
	padding: 5px;
	float:left;
	width:100%;
	background:url(../images/dot.gif) center bottom repeat-x;
}
.list-message ul li p{
	padding:0px 0px;
	margin:0px;
	clear:both;
}

.list-message ul li span.date{
	float:right;
	padding:0px 5px;
}

.list-message ul li a.title{
	float:left;
	padding: 0px;
	display:inline-block;
	font-weight:bold;
	font-size:13px;
}
.line {
	border-bottom:1px solid $000;
}
.ds-video-item {
	cursor:pointer;
	margin-top:5px;
}


#user-info {
	float:right;
	padding:15px 10px 0px 0px;
	position:relative;
}

#user-info > a > i {
    display: inline-block;
    width: 20px;
    text-align: left;
    cursor: default;
    font-size: 14px;
	color: #309DF2;
}
#user-info > a:hover > i {
    font-size: 16px;
}
#user-info a span {
	color:#fe0f00;
	font-size:11px;
}

.user-info, .user-cal-info, .user-mes-info, .user-mail-info {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	margin: 0px; 
	padding: 0px;
	display: none;
	float: left;
	border:1px solid #ededed;
	z-index:99;
	width:300px;
	background-color:#FFF;
}
.user-mail-info {
	right: 60px; 
	top:30px;
}
.user-cal-info {
	right: 40px; 
	top:30px;
}
.user-mes-info {
	right: 20px; 
	top:30px;
}
.user-info {
	right: 0px; 
	top:30px;
}
.user-info li, .user-cal-info li, .user-mes-info li, .user-mail-info li{
	width:100%;
	padding:5px 20px;
	background-color:#FFF;
	width:280px;
}
.user-info li.viewmore, .user-cal-info li.viewmore , .user-mes-info li.viewmore , .user-mail-info li.viewmore{
	padding:3px 10px;
	text-align:center;
	background-color:#ededed;
	width:280px;
	list-style: none;
}
.user-info li.viewmore a, .user-cal-info li.viewmore a, .user-mes-info li.viewmore a, .user-mail-info li.viewmore a{
	font-size:10px;
	color:#D73F3A;
	text-transform:uppercase;
}
.user-info li:hover, .user-cal-info li:hover, .user-mes-info li:hover, .user-mail-info li:hover{
	padding:3px 10px;
	background-color:#ededed;
	width:280px;
}
.user-info li a, .user-cal-info li a, .user-mes-info li a, .user-mail-info li a{
	color:#999;
	padding:4px 13px;
	background:url(../images/point.gif) 0px 10px no-repeat;
	display:inline-block;
}
a.user-user, a.user-cal, a.user-mail, a.user-mes, a.user-name{
}
.act-icon >  a {
    padding-left: 25px;
    color: #333;
    cursor: text;
}
.act-icon >  a:hover {
    text-decoration: none;
}
.act-icon > a > i {
    display: inline-block;
    width: 20px;
    text-align: left;
    cursor: default;
}
.act-icon > a:hover > i {
    font-size: 16px;
}
.taithem {
	background: none repeat scroll 0 0 #E2E2E2;
    border: 1px solid;
    border-radius: 40px;
    padding: 2px 6px;
}

.btn {
  	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.video-info2-right img, span.video-info2-left img {
  	float: left;
}

.video-info2-right {
	float: right;
	color: #000;
	font-size: 10px;
	line-height: normal;
}

.blog-container {
	padding: 20px;
	overflow: hidden;
}

.blog-container:after {
	clear: both;
}

.panel {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    padding: 20px;
}

.blog-container .blog .title {
	overflow: hidden;
	border-bottom: 2px solid #1c94c6;
    font-weight: 700;
    font-size: 18px;
}

.blog-container .blog .title a {
    color: #1c94c6;
}

.blog-container .blog .title .btn-like {
	float: right;
}

.blog-container .blog .content {
	padding: 10px 20px;
	height: 70px;
	overflow: hidden;
}

.blog-container .blog .bottom {
	padding: 10px;
}

.blog-container .blog .bottom .date {
	display: inline-block;
	float: right;
	color: #949494;
}

.pager {
	padding: 0 20px;
}

.dark-body {
	background: #f3f3f3;
}

.btn-sm {
  	padding: 5px 10px;
  	font-size: 12px;
  	line-height: 1.5;
  	border-radius: 3px;
}

.pull-right {
	float: right !important;
}

.blog-detail {
	padding: 0 20px;
}

.blog-detail .title {
	font-size: 24px;
	line-height: 24px;
	overflow: hidden;
}

.blog-detail .date,
.blog-detail .blog-tags {
	color: #949494;
}

.blog-detail .content {
	margin: 20px 0;
}

.blog-comment {
	padding: 20px;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
a.label:hover,
a.label:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.label-success {
  	background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  	background-color: #449d44;
}