


/* 2016-07-11 */

/*** HEADER ***/


/* MASTERNAVI */

#header
{
background: url(../img/base/masternavi/mn_ard.png) repeat-x 0 0;
}

.ard  #header
{
background: url(../img/base/masternavi/mn_ard.png) repeat-x 0 -65px;
}

/* @group Hintergruende */

.tagesschau #header
{	
background: url(../img/base/masternavi/mn_tagesschau.png) repeat-x 0 -65px;
}

.sportschau #header
{
background: url(../img/base/masternavi/mn_sportschau.png) repeat-x 0 -65px;
}

.boerse #header
{
background: url(../img/base/masternavi/mn_boerse.png) repeat-x 0 -65px;
}

.ratgeber #header
{
background: url(../img/base/masternavi/mn_ratgeber.png) repeat-x 0 -65px;
}

.wissen #header 
{
background: url(../img/base/masternavi/mn_wissen.png) repeat-x 0 -65px;
}

.kultur #header
{
background: url(../img/base/masternavi/mn_kultur.png) repeat-x 0 -65px;
}

.kinder #header
{
background: url(../img/base/masternavi/mn_kinder.png) repeat-x 0 -65px;
}

.intern  #header
{
background: url(../img/base/masternavi/mn_intern.png) repeat-x 0 -65px;
}

.tv  #header
{
background: url(../img/base/masternavi/mn_tv.png) repeat-x 0 -65px;
}

.radio  #header
{
background: url(../img/base/masternavi/mn_radio.png) repeat-x 0 -65px;
}

.ardmt  #header
{
background: url(../img/base/masternavi/mn_ardmediathek.png) repeat-x 0 -65px;
}

/* @end */


.masternavi ul{
	display: block;
}

.masternavi .section,
#header .wrapper .section
{
    margin-top: 0;
    margin-bottom: 0;
}

.masternavi .navi
{
    float: left;
    width: 100%;
}

.masternavi .intern {
    margin-right: 32px;
}


/* @group Subnavi */

.subnavi .subressort
{
    float: left;
    padding: 6px 12px 6px 10px;
    background-color: #fff;
}

.subnavi .subressort.hasArrow
{
    padding-right: 20px;
}

/* erstes Level der Ressort-Navi */

#header .subressort .collapseArrow 
{
   background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -100px;
    height: 20px;
    margin-right: 3px;
    margin-top: 6px;
    width: 13px;
}

#header .subressort.collapsed .collapseArrow 
{
   background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -80px;
}

/* zweites Level der Ressort-Navi */

#header .subressorts .collapseArrow 
{
   background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -20px;
}

#header .subressorts .hasArrow.collapsed .collapseArrow
{
   background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 0;
}

.subnavi .ressorts li a:focus,
.subnavi .ressorts .collapsed a:focus
{
	/* define visual effect for tab-navigation focus */
	/* green color for testing */
	 /*color: green;*/
}

.subnavi .subressorts .collapsed a
{
    color: #000000;
    display: block;
    line-height: 120%;
    padding: 8px 30px 8px 6px;
    text-indent: 0;
    width: 264px;
}

.subnavi .subressorts
{
    position: absolute;
    position: absolute;
    width: 300px;
    left: 0px;
    top: 32px;
    padding: 4px;
    background-color: #fff;
    z-index: 10;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
}

.subnavi .subressorts span
{
    float: left;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

.subnavi .subressorts li a
{
    color: #000000;
    display: block;
    line-height: 120%;
    padding: 8px 6px 8px 6px;
    text-indent: 0;
    width: 288px;

}

.subnavi .subressorts li
{
    position: static;
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 6px 0 6px 0;
    padding: 0 0 0 0;
}

.subnavi .subressorts li:last-child
{
    border-bottom: 0 solid #fff;

}

.subnavi .subsubressorts
{
    width: 100%;
    float: left;
    z-index: 20;
    margin: 0 0 0 0;
}


.subnavi .subsubressorts li a
{
    display: block;
    line-height: 120%;
    margin: 0;
    padding: 6px 2%;
    text-indent: 0;
    width: 96%;
}

.subnavi .subsubressorts li
{ 
	border-bottom: 1px solid #fff;
}

.subnavi .active,  .subnavi .active.collapsed
{
	color: #001a4b;
	background: #fff;
	border-bottom: 2px solid #fff;
	padding-bottom: 4px;
}

.subnavi .active a, .subnavi .active.collapsed a
{
color: #001a4b;
padding: 0;
}

.subnavi .menueToggle
{
    background-color: #fff;
    height: 25px;
    padding: 0 4px 0 0;
    float: right;
    width: 75px;
    display: none;
}

.subnavi .menueToggle a
{
    padding: 4px 0 0 4px;
    float: left;
    width: 50px;
}

/* @end */

#header {
    width: 100%;
    float: left;
    margin-bottom: 6px;
}

#header .logo
{
    float: left;
    padding: 0 0 0 0;
    width: 50%;
    height: 70px;
}

/* SEARCH - BOX */

#header .searchBox
{
    float: right;
    padding: 8px 0 0 0;
    width: auto;
}


#header .searchBox img
{
    float: left;
    height: 25px;
}

#header .searchBox input
{
    float: left;
    padding: 0 0 0 5px;
    margin: 0;
	width: 170px;
	-ms-box-sizing: border-box;
}

#header .searchToggle
{
    display: none;
}

#header .searchForm
{
    background-color: #fff;
    height: 25px;
    width: 198px;
    margin-top: 15px;
    float: right;
}

#header .searchInput
{
    float: left;
    height: 25px;
    width: 150px;
    border: none;
    padding: 0 0 0 0;
    margin: 0;
    color: #516384;
    font-size: 0.8em;
}

#header .searchInput.active
{
    color: #000;
}

#header .searchSubmit
{
    float: left;
    width: 25px;
    padding: 0;
    margin: 0;
}

#header .searchSubmit img
{
    float: right;
    width: 100%;
}

/*** ENDE HEADER ***/



/*** FOOTER ***/
#footer
{
	width: 100%;
	float: left;
	margin-top: 20px;
	padding-top: 30px;
    padding-bottom: 12px;
    background-color: #001A4B;
    font-size: 1em;
}

#footer .section
{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 4px;
}

#footer a{
	color: #FFFFFF;
	font-family: Thesis;
	font-size: 0.9em;
}

#footer li
{
    padding-bottom: 3px;
    padding-top: 3px;
}

#footer h3{
    color: #FFFFFF;
}

#footer .foot
{
    float: left;
    width: 100%;
    padding-top: 24px;
    position: relative;
}

#footer .help
{
    float: left;
    width: 100%;
}

#footer .help li
{
    float: left;
    margin-right: 8px;
}

#footer .logo
{
    bottom: 0;
    right: 0;
    position: absolute;
}

#footer .logo img
{
    margin-bottom: 6px;
}

#footer .copy
{
	color: #FFFFFF;
	font-family: Thesis;
	font-size: 0.9em;
    float: left;
    width: 100%;
}

/*** ENDE FOOTER ***/



/*** GRID ***/
/* PAGE LAYOUT */

body
{
    overflow-x: hidden;
}

.wrapper
{
	width: 1008px;
	margin: 0 auto 0 auto;
}

/* CONTENT */

#content 
{ 
	width: 100%;
	float: left;

}

.overview
{	
	float: left;
	width: 100%;
}

.article
{	
	float: left;
	width: 100%;	
}

.con
{
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
    background-color: #fff;

}

.sectionArticle .con
{
  margin-top: 8px;
}

.con:first-child
{
  margin-top: 8px;
}

.modCon
{	
	width:100%;
	float: left;
    background-color: #fff;
}

.boxCon
{
	width: 100%;
	float: left;
}

/* SECTION LAYOUT */

.section
{
    float: left;
    width: 100%;
    margin: 6px;
    padding: 0px;
}

.sectionArticle
{
  background-color: #fff;
}


/* BOX LAYOUT */

.box
{
    margin: 0px;
    padding: 8px;
    width: 100%;
    float: left;
    overflow: auto;
}


/* MODULE LAYOUTS - SECTION A */

.sectionA
{
    width: 996px;
}

.sectionA .con 
{
	margin-top: 0;
}

.sectionA .modA .box
{
    width: 980px;
}

.sectionA .modB .box
{
    width: 482px;
}

.sectionA .modC .box
{
    width: 316px;
}

.sectionA .modD .box
{
    width: 233px;
}

.sectionA .modE .box
{
    width: 183px;
}

.sectionA .modZ .box
{
    width: 648px;
}

/* MODULE LAYOUTS - SECTION B */

.sectionB
{
    width: 492px;
}

.sectionB .con:first-child 
{
    margin-top: 0;
}

.sectionB .modA .box
{
    width: 476px;
}

.sectionB .modB .box
{
    width: 230px;
}

.sectionB .modC .box
{
    width: 148px;
}

.sectionB .modD .box
{
    width: 230px;
}

.sectionB .modE .box
{
    width: 148px;
}

.sectionB .modZ .box
{
    width: 312px;
}

/* MODULE LAYOUTS  - SECTION C */

.sectionC
{
    width: 324px;
}

.sectionC .conHeadline
{
	padding-top: 2px;
}

.sectionC .con
{
	margin-top: 4px;
}

.sectionC h3.ressort
{
	line-height: 1em;
}

.sectionC .mod  .box
{ 
	width: 308px;
}

/* MODULE LAYOUTS - SECTION Z */

.sectionZ
{
    width: 660px;
}


.sectionZ .modA.modClassic .teaser
{
    margin-top: 4px;
}

.sectionZ.sectionArticle .modA.modParagraph .box .mediaTop:first-child
{
	margin-top: 0px;
}

.sectionZ .modA .box
{
    width: 644px;
}

.sectionZ .modB .box
{
    width: 314px;
}

.sectionZ .modParagraph .modB .box
{
    width: 306px;
}

.sectionZ .modParagraph .modC .box{
	width: 206px;
	padding: 4px;
}

.sectionZ .modParagraph .modC{
	width: 642px;
	margin-left: 2px;
}




.sectionZ .modB .teaser
{
	margin-top: 4px;
}

.sectionZ .modC .box
{
    width: 204px;
}

.sectionZ .modD .box
{
    width: 149px;
}


.sectionZ .modParagraph .modD{
	width: 640px;
	margin-left: 2px;
}

.sectionZ .modParagraph .modD .box
{
    width: 152px;
    padding: 4px;
}


.sectionZ .modParagraph .modE{
	width: 640px;
	margin-left: 2px;
}

.sectionZ .modE .box
{
    width: 116px;
}

.sectionZ .modParagraph .modE .box
{
    width: 124px;
    padding: 2px;
}


.sectionZ .modZ .box
{
    width: 424px;
}

/* TEASER LAYOUT */

.teaser
{
	width: auto;
	float: none;
	overflow: auto;
}

/* units (immer -0.03% wegen IE7) */

.unitA
{
    width: 100%;
    float: left;
}

.unitB
{
    width: 49.97%;
    float: left;
}

.unitC
{
    width: 33.30%;
    float: left;
}

.unitD
{
    width: 24.97%;
    float: left;
}

.unitE
{
    width: 19.97%;
    float: left;
}

.unitX
{
    width: 79.97%;
    float: left;
}

.unitY
{
    width: 74.97%;
    float: left;
}

.unitZ
{
    width: 66.63%;
    float: left;
}

/*** meldungsteaser flach ***/

.mod.tsTeaser .teaser {
	margin-top: 4px;
}

.mod.tsTeaser:first-child .teaser {
	margin-top: 0;
}

.mod.tsTeaser .mediaCon {
	width: 316px;
	margin-right: 1.7%;
}

.mod.tsTeaser .dachzeile, .mod.tsTeaser .headline, .mod.tsTeaser .teasertext {
	width: 65.3%
}

/*** Ende meldungsteaser flach ***/


/*.childA * *,
.childB * *,
.childC * *,
.childD * *,
.childE * *,
.childZ * *
{
    width: auto;
    float: none;
} */

/* INITIAL SLIDER COLCON-WIDTH */

.mod .slider
{
	width: 200000px;
}

/* GENERAL */

img
{ 
	display: block; 
}

/*** ENDE GRID ***/

/*** TS-SKIN ***/


/*** FONTS TAGESSCHAU ***/

.tagesschau h1, 
.tagesschau h2, 
.tagesschau h3, 
.tagesschau h4
{
	font-family: Thesis;
} 



/*** SKIN: TS ***/

body.tagesschau
{ 
	background: #015999 url(../img/tagesschau/background/base.jpg) repeat-x fixed top;
}



.tagesschau .box.active a
	{
	color: #fff;
	}

.tagesschau #content
{
	background: none;
}


.tagesschau .mod{
	background-color: #fff;
}

.tagesschau .box.active{
	background-color: #c8e4f5;
}

.tagesschau #content .sectionC, .tagesschau #content .sectionZ{
    background-color: #fff;
}



/*** HINTERGRUND BOX ***/
.tagesschau .box
{
	background: #fff url('../img/tagesschau/background/box_base.jpg') repeat-x bottom;
}

.tagesschau .box.active
{
    background: #001a4b url('') repeat-x bottom;
    color: #fff;
}


/*** ENDE TS-SKIN ***/



/*** ./mod.css ***/
/************ MODULE-DESIGN: DEFAULT  ************/

.mod
{
	width: 100%;
    float: left;
	overflow: hidden;
    position: relative;
    line-height: 140%;
}

.mod .teaser
{
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
}

.mod .ressort
{
	text-transform: uppercase;
	letter-spacing: 1px;	
	margin: 0;
    padding: 0 0 8px;
	width: 100%;
	float: left;
}



.mod .mediaCon
{	
	margin: 0 0 8px 0;
	width: 100%;
	float: left;
}

.mod  .portrait .mediaCon
{ 	
	width: 50%;
	float: none;
	overflow: auto;
	margin-left:  auto;
	margin-right: auto;
}

.mod .media
{
    width: 100%;
    float: left;
    position: relative;
}

.mod .mediaB
{
    width: 48%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaC
{
    width: 31.333%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaD
{
    width: 23%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.mod .mediaLink{
	width: 100%;
	float: left;
}

.mod  .mediaCon .img
{
	float: left;
	width: 100%;
}

.mod .icon
{
    left: 0;
    bottom: 0;   
    position: absolute;
}

.mod .icon img
{
    width: 100%;
}

.mod .marke
{ 
	float: right;
    margin-right: 4px;
    margin-top: -51px;
}

img.marke
{
	width:90px;
	height:51px;
}

.mod  .dachzeile
{
	margin: 0 0 4px 0;
	width: 100%;
	float: left;
}

.mod  .headline
{	
	margin: 0 0 6px 0;	
	width: 100%;
	float: left;
}

.mod .subtitle
{
    width: 100%;
    float: left;
}

.mod  .teasertext
{
	margin: 0 0 8px 0;
	width: 100%;
	float: left;
	line-height: 140%;
}

.mod .text
{

}

.mod .teasertext.colCnt2
{
	column-count: 2;
    column-gap: 15px;
	column-rule-color: #A3B5C1;
    column-rule-style: solid;
    column-rule-width: 1px;
	
	-moz-column-count: 2;
    -moz-column-gap: 15px;
    -moz-column-rule-color: #A3B5C1;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
	
	-webkit-column-count: 2;
	-webkit-column-gap: 15px;
    -webkit-column-rule-color: #A3B5C1;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
}

.mod .linklist
{ 
	float: left;
	margin: 0 0 8px 0;
	width: 100%;	
}

.mod .linklist .more
{ 
		clear: both;
	margin: 0 0 6px 0;
	width: 100%;
}

.mod .linklist .more strong
{ 

	}

.mod .linklist .list
{ 
	width: 100%;
	float: left;
	border-top: 1px solid #9dadc7;
}

.mod .linklist .list li
{ 
	width: 100%;
	float: left;	
	/* padding: 3px 0 3px 0; */
	border-bottom: 1px solid #9dadc7;
}

.mod .linklist .list strong
{ 
	font-weight: bold;
}


.mod .collapsed
{
    }
    
/** Lotto **/



/*** ENDE ./mod.css ***/

/*** modThumbnail ***/
.modThumbnail a.linkflaeche{
	display: block;
}

.modThumbnail .dachzeile
{
    width: auto;
    float: none;
}

.modThumbnail .headline
{
    width: auto;
    float: none;
}

.modThumbnail  .teasertext
{
    width: auto;
    float: none;
}

.modThumbnail .linklist
{
    width: 100%;
    float: left;
    clear: right;
}


.modThumbnail .mediaCon {
    margin-right: 1%;
    width: 25%;
}

.modThumbnail .dachzeile {
    float: none;
    width: auto;
}


.modThumbnail .headline {
    float: none;
    width: auto;
}
.modThumbnail .teasertext {
    float: none;
    width: auto;
}
.modThumbnail .linklist {
    clear: right;
    float: left;
    width: 100%;
}

/*** ENDE modThumbnail ***/



/*** ./modBreakingNews.css ***/
.mod.modBreakingNews
{
}

/* should be in L-View only */
.sectionA .modA.mod.modBreakingNews .box
{
	padding: 8px 8px 4px 8px;
}

.mod.modBreakingNews .ressort
{
	padding: 1px 8px 1px 8px;
	margin: -8px 0 0 -8px;
}

/* should be in L-View only */
.mod.modBreakingNews  .mediaCon
{ 
	width: 19%;
	float: left;
	margin: 8px 8px 4px 0;
}

.mod.modBreakingNews .dachzeile
{ 	
	margin: 4px 0 0 0;
	float: none;
}

.mod.modBreakingNews .headline
{	
	float: none;
	margin: 4px 0 0 0;
}

.mod.modBreakingNews .teasertext
{ 
	float: none;
	margin: 0 0 0 0;
}

.mod.modBreakingNews .linklist
{ 
	display: none;
}

/*** ENDE ./modBreakingNews.css ***/
/*** ./modClassic.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modClassic  .mediaCon
{
    width: 36.25%;
    width: 49%;
    margin: 0 8px 0 0;  
}

.modClassic .dachzeile
{
    width: auto;
    float: none;
    margin: 0 0 4px 0;
}

.modClassic .headline
{
    width: auto;
    float: none;
}

.modClassic  .teasertext
{
    width: 50%;
}

.sectionZ .modClassic  .teasertext
{
    width: 49%;
}

.modClassic .linklist
{
    width: 100%;
    float: left;
    clear: right;
}

/*** ENDE ./modClassic.css ***/
/*** ./modForm.css ***/
/************  MODULE-DESIGN: FORMS  ************/

#euform span.unitC
{
	margin: 8px 0 4px 0;
	line-height: 100%;
	text-indent: 3%;
}

.modForm #euform select
{
	height: 24px;
	background: #fff;
}

/*** ENDE ./modForm.css ***/



/*** ./modGallery.jsp ***/
/************  MODULE-DESIGN: PREMIUM  ************/

.modGallery .ressort
{
	display : none;
}

.modGallery .dachzeile
{ 	
	display : none;
}

.modGallery .linklist
{ 
	display : none;
}

.mod.modGallery .media{
	height: 555px;
}

/************ MODULE-DESIGN: SLIDER  ************/

.mod.modGallery .controls.sliding 
{
    height: 140px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 205px;
    visibility: hidden;
    z-index: 50;
}

/* positionsaenderung fuer Galerien im Beitrag */
.sectionZ .mod.modGallery .controls.sliding
{
    top: 90px;
}

/*** ENDE ./modGallery.jsp ***/
/*** ./modGlossar.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.sectionZ .modA.modGlossar .box
{
/*	width: 594px; */
}

.modGlossar .teaserHeadline
{
    float: right;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1.2em;
    width: 98%;
}

.modGlossar .headline.small
{
	margin: 8px 5%;
	width: 90%;
}

.modGlossar .link
{
    width: 75%;
    float: left;
}

.modGlossar .ressort
{		
	display:none;
}

.modGlossar  .media
{
    margin: 1%;
    width: auto;
    float: left;
}

.modGlossar  .mediaCon .img
{
    width: auto;
    height: 8em;
}

.modGlossar .icon.audio
{ 

.modGlossar .ressort
{		
	display:none;
}

}


.modGlossar .dachzeile
{ 
	display:none;
}

.modGlossar .headline
{
    margin: 0 0 0 0;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modGlossar .controls .labels .entries {
    padding: 12px 0 0 0;
}
/*** ENDE ./modGlossar.css ***/
/*** ./modHead.css ***/
/************ MODULE-DESIGN: HEAD  ************/

.modHead .info
{
	width: auto;
	float: right;
	clear: right;	
}

.modHead .headline
{
	width: auto;
	float: left;
	clear: left;
}

.modHead .subline
{
	width: auto;
	float: left;
	clear: left;
}

.modHead .link
{
	width: auto;
	float: right;
	clear: right;	
}
/*** ENDE ./modHead.css ***/
/*** ./modHeadline.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modHeadline .box
{
   width: auto;
}


.modHeadline .ressort
{		
	display:none;
}

.modHeadline  .mediaCon
{	
	display:none;
}

.modHeadline .dachzeile
{ 
	display:none;
}

.modHeadline  .teasertext
{ 
	display:none;
}

.modHeadline .linklist
{ 
	display: block;
}

.modHeadline .linklist .more
{  
	display:none;
}


/*** ENDE ./modHeadline.css ***/
/*** ./modList.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modList .teaser
{
    padding-top: 8px;
}

.modList  .mediaCon
{
    width: 25%;
    margin-top: 8px;
}

.modList  .mediaCon .img
{
    width: 100%;
}

.modList .dachzeile
{ 
	width: 74%;
    float: right;
    font-size: 0.9em;
    margin-bottom: 4px;
}

.modList .headline
{
    width: 74%;
    float: right;
    margin-bottom: 4px;
}

.modList  .teasertext
{
    width: 74%;
    float: right;
    margin-bottom: 4px;
}

.modList .linklist
{
    width: 74%;
    float: right;
    margin-bottom: 0px;
}

.modList .linklist .list
{
    border-top: none;
}

.modList .linklist .list li
{
    border-bottom: none;
    font-size: 0.9em;
    padding: 4px 0 0;
}

.modList .linklist .list li a
{
    color: #516384;
}

/*** ENDE ./modList.css ***/
/*** ./modLotto.css ***/


/*** ENDE ./modLotto.css ***/
/*** ./modMini.css ***/
/************ MODULE-DESIGN: MINI  ************/

.modConStage .modMini .active
{
    /*display: none;*/
}

.modMini .teaser
{
	background-image: url('') !important;
}

.modMini .ressort
{ 
	display: none;
}

.modMini .marke
{ 
    display: none;
}

.modMini   .headline
{
	font-size: 1.1em;
}

.modMini  .teasertext
{ 
	display: none;
}

.modMini .linklist
{ 
	display: none;
}

/*** ENDE ./modMini.css ***/
/*** ./modPaging.jsp ***/
/************  MODULE-DESIGN: STAGE  ************/

.modPaging .paging
{
    width: 100%;
    float: left;
}

.modPaging  .text
{ 
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.modPaging .linklist .list
{ 
    border-top: none;

}

.modPaging .linklist .list li
{
    width: auto;
    float: left;
    border-bottom: none;
    padding: 1%;
    background-color: #eee;
    margin-left: 1px;
}

.modPaging .pagingControls .next
{
    background: url('../img/base/icon/arrow_sprite.png') no-repeat 0 0;
    width: 30px;
    height: 30px;
    float: right;
}

.modPaging .pagingControls .prev
{
    background: url('../img/base/icon/arrow_sprite.png') no-repeat 0 -100px;
    float: left;
    width: 30px;
    height: 30px;
}

.modConSearch .modPaging .linklist .list li
{
    font-size: 1.2em;
    padding: 8px 14px;
};

.modConSearch .modPaging  .linklist
{
    float: none;
    margin: 0 auto;
    width: 75%;
}

.modConSearch .modPaging .linklist
{
    float: none;
    margin: 0 auto;
    width: 50%;
}

.modConSearch #form .submitfield div.unitY .unitY input.textInput {
    line-height: 20px;
}

.modConGlossar .modPaging .list li.active
{
    background-color: #fff;
}


.modConGlossar .modPaging .loadNameInfo
{
    float: left;
    font-size: 1.2em;
    margin: 0 0 4px 0;
    padding-left: 1%;
    width: 98%;
}
/*** ENDE ./modPaging.jsp ***/
/*** ./modParagraph.css ***/
/************  MODULE-DESIGN: Absatz in einem Beitrag  ************/

.modParagraph .mediaCon
{
    float: none;
    margin-bottom: 8px;
    margin-top: 1%;
    overflow: auto;
    width: auto;
}

.modParagraph .mediaCon.mediaTop.small
{
	margin-top: 12px;
	margin-bottom: 12px;
	float: left;
	width: 92%;
	
}


.modParagraph .mediaCon.mediaLeft.small
{
    margin-right: 1.5%;
    margin-left: 4.5%;
}

.modParagraph .mediaCon.mediaRight.small
{
    margin-left: 1.5%;
    margin-right: 5%;
}

.modParagraph .small.mediaRight,
.modParagraph .small.mediaLeft
{
	overflow:hidden;
}

.modParagraph .small.mediaRight .mediaA,
.modParagraph .small.mediaLeft .mediaA
{
	margin: 0;
}

.modParagraph .media
{
    width: 98%;
    margin-bottom: 4px;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.modParagraph .mediaA
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.modParagraph .small .mediaA
{
    width: 98%;
    margin-left: 0.9%;
    margin-right: 0.9%;
}

.modParagraph .mediaB
{
    width: 48%;
}

.modParagraph .mediaC
{
    width: 31.33%;
}

.modParagraph .mediaD
{
    width: 23%;
}

.modParagraph .mediaRight
{	
   float: right;
   clear: right;

}

.modParagraph .mediaLeft
{
    float: left;
    clear: left;
}

.modParagraph .mediaCon.mediaLeft.small .mediaA, 
.modParagraph .mediaCon.mediaLeft.small .mediaA, 
.modParagraph .mediaCon.mediaRight.small .mediaA, 
.modParagraph .mediaCon.mediaRight.small .mediaA

{
	width: 256px;
}

.modParagraph .mediaCon.mediaLeft.small .mediaA.portrait, 
.modParagraph .mediaCon.mediaLeft.small .mediaA.portrait, 
.modParagraph .mediaCon.mediaRight.small .mediaA.portrait, 
.modParagraph .mediaCon.mediaRight.small .mediaA.portrait
{
	width: 200px;
}


.sectionB .modParagraph .mediaCon, 
.sectionC .modParagraph .mediaCon, 
.sectionD .modParagraph .mediaCon, 
.sectionE .modParagraph .mediaCon
{
	clear: both;
	float: none;

	
}

/*
.modParagraph .mediaInfo .galerie img:hover {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -o-zoom-in;
    cursor: -ms-zoom-in;
}*/

.modParagraph .dachzeile
{
    width: auto;
    float: none;
}

.modParagraph .headline
{
    width: auto;
    float: none;
	font-weight: bold;
}

/* Einzug fuer Headlines im Beitrag */
.modParagraph h2.headline
{
    width: auto;
    float: none;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.75em;
}


.modParagraph .subtitle
{
	font-weight: bold;
    width: auto;
    float: none;
}

.modParagraph  .einleitung
{
	font-weight: bold;
    margin: 0 0 8px 0;
    width: auto;
	font-weight: bold;
    float: none;
}

.modParagraph  .autor
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.modParagraph  .text
{
    margin: 0 0 8px 0;
    width: auto;
    float: none;
}

.modParagraph .small, 
.modHeadline .small

{
    margin-left: 5%;
    margin-right: 5%;
}

.modParagraph .autorenzeile
{
	margin-top: 16px;
	margin-bottom: 16px; 
}

.infokasten .teasertext 
{
	margin: 0;
}

.infokasten.right .teasertext, 
.infokasten.left .teasertext
{
	margin-bottom: 8px;
}

.sectionZ .modParagraph .articlePageList
{
    margin: 6px 5% 10px 5%;
    width: 90%;
}


.sectionZ .modParagraph .controls.buttonfield
{
    margin: 6px 5% 16px 5%;
    width: 90%;
}

/************* Infokasten Sendungsbezug & RSS-Feed  ************/

.modParagraph .infokasten.sendungsbezug,
.modParagraph .infokasten.rssfeed  
{
	padding: 14px 2% 14px 8%;
	width: 80%;
}


/*** ENDE ./modParagraph.css ***/
/*** ./modPicture.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modPicture .ressort
{		
	display:none;
}

.modPicture  .mediaCon
{	
	margin: 0;
}

.modPicture .dachzeile
{ 
	display:none;
}

.modPicture .headline
{ 
	display:none;
}

.modPicture  .teasertext
{ 
	display:none;
}

.modPicture .linklist
{ 
	display:none;
}

/*** ENDE ./modPicture.css ***/
/*** ./modPremium.css ***/

/************ MODULE-DESIGN: PAGING  ************/


.mod .controls.buttonfield a.next:hover,
.mod .controls.buttonfield a.prev:hover
{
    background: #396192;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396192', endColorstr='#396192',GradientType=0 ); /* IE6-9 */
    color: #fff;
    z-index: 100;
}

/************  MODULE-DESIGN: PREMIUM  ************/

.modPremium .dachzeile
{ 	
	font-size: 1em;
}

.modPremium .headline
{
	font-size: 1.5em;
	clear: both;
}

.modPremium .teasertext
{ 
	width: 49%;
	clear: both;
}

.modPremium .linklist
{ 
	float: right;
	width: 49%;
}

.modPremium.smallImage .mediaCon{
	width: 49%;
}

.modPremium.smallImage .dachzeile, .modPremium.smallImage .headline, .modPremium.smallImage .teasertext, .modPremium.smallImage .linklist{
	width: 49%;
	clear: none;
	clear: right;
	float: right;
}


/*** ENDE ./modPremium.css ***/
/*** ./modQuiz.css ***/
/************  MODULE-DESIGN: STAGE  ************/


.modQuiz
{
	color: #24324C;
}

.modQuiz .resultTable
{
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 8px;
    table-layout: auto;
}

.modQuiz .resultTable th.answerHeader
{
	width: 17%;
}

.modQuiz .resultTable .entry
{
    vertical-align: top;
    padding-top: 8px;
    border-bottom: 1px solid #DDDDDD;
}

.modQuiz .resultTable .even
{
    background-color: #eee;
}

.modQuiz .resultTable .answer
{
    border: none;
    text-align: left;
    padding: 0 0 8px 0;
}

.modQuiz .resultTable .entry .mediaCon
{
	border: none;
	margin: 0;
}

.modQuiz .resultTable .headlines .entry
{
    border-bottom: 1px solid #24324C;
    vertical-align: bottom;
    padding-left: 1%;
}

.modQuiz .resultTable .data .entry
{
	padding: 8px 8px 0px 16px;
}

.modQuiz .resultTable .question
{
    border: none;
    text-align: left;
    padding: 0;
}

.modQuiz .resultTable .right
{
    color: #080;
}

.modQuiz .resultTable .wrong
{
    color: #800;
    opacity: 1;
    filter: alpha(opacity=100);
}


.modQuiz .resultTable .corrected
{
    font-style: italic;
    font-weight: normal;
}


.modQuiz .text
{
    line-height: 125%;
    width: 100%;
    float: left;
}

.modQuiz .link
{
    width: auto;
    float: right;
    margin-bottom: 36px;
    margin-top: 16px;
    margin-left: 30px;
    padding: 0.5% 1%;
    background-color:  #eee;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.modQuiz .link.quizPre.quizStart
{
	float: left;
}

.modQuiz .dachzeile
{ 
	margin: 0 30px 4px 30px;
	width: auto;
	clear: left;
}

.modQuiz h3.headline
{ 
	margin: 0 30px 6px 30px;
	width: auto;
	clear: left;
	font-size: 1.8em;
}

.modQuiz  .teasertext
{ 
	margin: 0 30px 8px 30px;
	width: auto;
	clear: left;
}

.modQuiz  .answer
{
    border-bottom: 1px solid #DDDDDD;
    float: left;
    width: 99%;
    padding: 1.5% 0 1.5% 1%;
}

.modQuiz  .wrong
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modQuiz .textResults
{
    float: left;
    width: 49%;
    border-right: 1px solid #eee;
    clear: left;
}

.modQuiz .visualResults
{
    float: right;
    width: 49%;
    clear: right;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modQuiz .unit
{
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.modQuiz .unit.quizEntry,
.modQuiz .unit.quizAfter
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.modQuiz .unit .mediaCon
{
    margin-top: 8px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 36px;
}

.modQuiz .unit .mediaCon .imgLink img
{
	padding: 1%;
	border: 1px solid #DDDDDD;
}

.modQuiz .resultBar
{
    height: 15px;
    width: 100%;
    float: left;
    background-color: #800;
    margin-top: 8px;
}

.modQuiz .resultLevel
{
    height: 100%;
    float: left;
    background-color: #080;
}

.modQuiz .question, .modQuiz .result
{
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    float: left;
    line-height: 150%;
    width: 95%;
	font-weight: bold;
	padding: 36px 0 36px 5%;
}

.modQuiz .progress
{
    float: left;
    margin-top: 30px;
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
}

.modQuiz .progressText
{
    width: 100%;
    float: left;
    color: #AAAAAA;
}

.modQuiz .answer .link
{
    background-color: transparent;
    float: right;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 94%;
    padding: 0;
    border: none;
}

.modQuiz .label
{
    background-color: #EEEEEE;
    float: left;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    width: 4%;
    padding: 0;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    font-weight: bold;
}

.modQuiz .media .label
{
    position: relative;
    top: 27px;
    left: 2px;
    width: 1.25em;
    
}

.modQuiz .result .wrong
{
    color: #800;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modQuiz .result .rigth
{
    color: #080;
}

.modQuiz .progressVisual
{
    float: left;
    height: 8px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.modQuiz .progressVisual .active
{
    height: 100%;
    float: left;
}

.modQuiz .progressVisual .right
{
    height: 100%;
    float: left;
}

.modQuiz .progressVisual .wrong
{    
    height: 100%;
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modQuiz .progressEntry
{
    height: 100%;
    float: left;
}

.modQuiz .progressEntry .progressIdx
{
	text-align: center;
	margin-bottom: -0.2em;
	color: #AAAAAA;
}

.modQuiz .progressEntry .progressBorder,
.modQuiz .progressEntry .progressColor
{
	height: 6px;
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

.modQuiz .progressEntry:first-child .progressBorder,
.modQuiz .progressEntry:first-child .progressColor{
	border-left: 1px solid #AAAAAA;
}

.modQuiz .progressEntry .progressBorder
{
	border-top: none;
	border-bottom: none;	
}

.modQuiz .progressEntry.right .progressColor
{
	background-color: #008800;
}

.modQuiz .progressEntry.wrong .progressColor
{
	background-color: #880000;
}

.modQuiz .linklist
{
    margin-top: 8px;
}

.modQuiz .linklist .more
{  
	font-family: ThesisAntiqua, Times, serif;
	text-transform: uppercase;
}

.modQuiz .linklist .more strong
{ 
	font-weight: bold;
}

/*** modQuiz poll ***/
/*
.modQuiz .poll h3.headline
{
	margin: 0 0 15px 0;
}*/

/*** ENDE ./modQuiz.css ***/
/*** ./modSocialbar.jsp ***/

/************ MODULE-DESIGN: DEFAULT  ************/

.modSocialbar .likeCon
{
	height: 36px; 
}

.modSocialbar li.likeCon {
	height: 34px;
}

.modSocialbar .likes
{
    width: 126px;
}

/*** ENDE ./modSocialbar.jsp ***/


/*** ./modStage.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.mod.modStage .mediaCon{
	margin: 0;
}

.modStage  .mediaCon
{	
	width: 49%;
}

.modStage .dachzeile
{
	width: 50%;	
	float: right;
	clear: right;
}

.modStage .headline
{ 
	width: 50%;	
	float: right;
	clear: right;
	font-size: 1.5em;

}

.modStage  .teasertext
{ 
	width: 50%;	
	float: right;
	clear: right;
}

.modStage .linklist
{ 
	width: 50%;	
	float: right;
	clear: right;
}


.modStage .teaserImgOverlayText{
	right: -500px;
}

.modStage.panoramalinks .teaserImgOverlayText {
    right: 0;
}

/************ MODULE-DESIGN: SLIDER  ************/

.modStage .box .teaserCon
{
  	background: url('../img/tagesschau/banner/stagebg-hell.png') repeat-y top right transparent;
	float: right;
//	background-color: rgba(10, 65, 120, 0.7);;
	width: 49%;
}

.modStage .box .teaserCon .dachzeile, .modStage .box .teaserCon h4, .modStage .box .teaserCon p, .modStage .box .teaserCon .linklist 
{
	width: 98%;
	margin: 1%;
}

.modStage.dark .box .teaserCon
{
  	background: url('../img/tagesschau/banner/stagebg-dunkel.png') repeat-y top right transparent;
	color: white;
}

.modStage.dark .box .teaserCon a
{
	color: white;
}

.modStage.dark .box .teaserCon .linklist a:hover
{
	color: #24324C;
}

.modStage.textonly .box .teaserCon,
.modStage.dark.textonly .box .teaserCon
{
	background: none;
	margin-right: 4px;
}

/*** ENDE ./modStage.css ***/
/*** ./modStopper.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modStopper .ressort
{		
	display:none;
}

.modStopper  .mediaCon
{	
	margin: 0;
}

.modStopper .viewB .mediaCon
{
    width: 50%;
}

.modStopper .viewC .mediaCon
{
    width: 75%;
}

.modStopper .dachzeile
{ 
	display:none;
}

.modStopper .headline
{ 
	display:none;
    font-family: Thesis;
    font-weight: bold;
    margin-bottom: 4px;
}

.modStopper .viewB .headline
{
    display:block;
    width: 49%;
    float: right;
}

.modStopper .viewC .headline
{
    display:block;
    width: 24%;
    float: right;
}

.modStopper  .teasertext
{ 
	display:none;
    font-family: Thesis;
    font-size: 0.95em;
}

.modStopper .viewB .teasertext
{
    display:block;
    width: 49%;
    float: right;
}

.modStopper .viewC .teasertext
{
    display:block;
    width: 24%;
    float: right;
}

.modStopper .linklist
{ 
	display:none;
}


/*** ENDE ./modStopper.css ***/
/*** ./modTable.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modParagraph .modTable 
{
	margin-top: 32px;
}

.modTable .table
{
    width: 100%;
    float: left;
    margin-bottom: 32px;
    overflow-x: auto;
    position: relative;
    overflow: hidden;    
}

.modTable .table table
{
    width: 100%;
    float: none;
}

.modTable .table table td
{
	padding: 6px 4px 6px 4px;
	border-bottom: 1px solid #a3c3d7;	
}

.modTable .table table th
{
	padding: 6px 4px 6px 4px;
	color: #fff;
	background: #001a4b;
}

.modTable .table table th a
{
	color: #fff;
}

.modTable .table table.fixed
{
	width: auto;
	float: left;
}

.modTable .table .scrollTableContainer
{
	overflow-x: auto;
	overflow-y: hidden;
}

.modTable .headlines
{ 
    background-color: #aaa;
    color: #fff;
}

.modTable .headlines .entry
{
    vertical-align: middle;
}

.modTable .headline.small
{
	margin-top: 6px;
}

.modTable table tr.quelle td {
	padding: 1% 3.5% 1% 2%;
}

/*** ENDE ./modTable.css ***/

/************* modIFrame ************/

.legende .button a
{
	padding: 16px 12px;
}

/*** ./modTagcloud.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modTagcloud .linklist .list
{
    border: none;
}

.modTagcloud .linklist .list li
{
    border: none;
    width: auto;
    padding-right: 12px;
    display: table;
    float: left;
}

.modTagcloud .linklist .list li a
{
    display: table-cell;
    vertical-align: bottom;
    height: 30px;
    padding: 0;
}


.modTagcloud .linklist .list li a:hover,
.modTagcloud .linklist .list li a:active,
.modTagcloud .linklist .list li a:focus

{
	padding: 0;
	display: table-cell;

}


/************ MODULE-DESIGN: SLIDER  ************/


.modTagcloud .controls .labels .entries
{
    padding: 0 8px 0 8px;
}
/*** ENDE ./modTagcloud.css ***/

/*** Börsenbox ***/

#boersenbox .mediaCon
{
	margin-bottom: 7px; 
}

/*** ./modTeaseronly.css ***/
/************  MODULE-DESIGN: STAGE  ************/

.modTeaseronly .linklist
{ 
	display:none;
}

.sectionA, .modC.modTeaseronly .box
{
	margin-top: 4px;
}

.sectionA .modC.modTeaseronly
{
	margin-top: -4px;
}

.tsIndex .sectionA .modClassic .box.modTeaseronly .dachzeile, .sectionA .modClassic .box.modTeaseronly .headline {
	clear: right;
	float: right;
	width: 49%;
} 

.tsIndex .sectionA .modClassic .box.modTeaseronly .teasertext {
	float: right;
	width: 49%; 
}


/*** ENDE ./modTeaseronly.css ***/
/*** ./page.css ***/
/************ PAGE-DESIGN  ************/


/*
input:focus, select:focus
{
    outline: #ff6400 solid 2px;
    outline-offset: -2px;
}*/

/*** VISIBLE UND HIDDEN KLASSEN ***/

.hiddenInViewL
{
	display: none;
}

.visibleInViewL
{
	display: block;
}



/*** Inline-Klasse ***/

.inline .modGallery .box, .inline .modHead .box, .inline .modBildwischer .box
{
	width: 580px;
	padding: 0;
}

.inline .modGallery .media, .inline .modBildwischer .media{
	width: 100%;
	height: 329px;
}



.inline {
	margin: 20px 5%;
	width: 580px;
	display: block;
	float: left;
	position: relative;
}

.inline .media{
	margin: 0px;
}

.inline .modHead .info, .inline .modHead .subline, .inline .modGallery .teasertext{
	padding: 4px;
	width: auto;
}

.inline .mod.modGallery .controls.sliding .prev, .inline .mod.modGallery .controls.sliding .next{
	margin: 0px;
}

.modParagraph .inline h2.headline {
    float: none;
    font-size: 1.3em;
	margin: 0px;
    width: auto;
    padding: 4px;
}






.sectionZ .inline .modB .box {
    width: 274px;
}


.sectionZ .inline .modC{
	width: 579px;
	margin: 0;
}

.sectionZ .inline .modC .box {
    width: 185px;
    padding: 4px;
}




.sectionZ .inline .modD{
	font-size: 0.7em;
}

.sectionZ .inline .modD .box {
    width: 133px;
    padding: 6px;
}



.sectionZ .inline .modE {
    margin-left: 0px;
    width: 580px;
    font-size: 0.7em;
}

.sectionZ .inline .modE .box {
    width: 110px;
    padding: 3px;
}






.modParagraph h4.subtitle.faqTrigger,
.modParagraph h2.subtitle.faqTrigger {

    float: left;
    width: 86%;
}


/* UI-Datepicker */
 
.ui-datepicker td span, 
.ui-datepicker td a 
{ display: block;     padding: 1px 4px 1px 1px;
 text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

.ui-datepicker th {
    border: 0 none;
    font-weight: bold;
    padding: 1px 4px 1px 1px;
    text-align: center;
}
/*** Wetter ***/

.wetter .collapseArrow
{
	margin-top: 4px;
}


.mod.modKachel .slider {
    width: 100% !important;
}



/* Text-Link im Logo-Bereich f. spezielle Events */
.eventLogo {
	font-size: 1.9em;
	width: 424px;
	position: relative;
	top: -62px; 
	left: 358px;
}

.eventLogoLink {
	color: #FFFFFF; 
}

/*** ################ Barrierefrei ###################  ***/
.skiplinks a:focus
{
	width: 996px;
}



/* ############################ sectionA Rundown ####################### */
div.subnavi.fixie{
	width: 996px;
	margin-bottom: 8px;
	margin-left: -8px;
}
 
.mod .chapter .dossiertitle {
	padding-top: 40px;
}
 
div.subnavi.fixie .subressort.hasArrow{
	padding-right: 25px;
} 
 
div.subnavi.fixie .collapsed .collapseArrow {
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -80px rgba(0, 0, 0, 0);
}
 
div.subnavi.fixie .collapseArrow {
    background: url("../img/base/icon/arrow_collapsible.png") no-repeat scroll 0 -100px rgba(0, 0, 0, 0);
}

 .modParagraph.modRundown .small.video .mediaA iframe{
	/* height: 443px !important; */
}

 .modParagraph.modRundown .small.audio .mediaA iframe{
	height: 160px !important;
}

.modParagraph.modRundown .mediaCon.mediaTop.small.map {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30%;
    width: 59%;
}

.sectionA .inline{
	width: 780px;
}


.mod .chapter.v2 .dossiertitle {
	padding: 0;
	height: 80px;
}

.mod .chapter.v2 {
	padding-top: 85px;
}

.chapter.v2 .prevchapter .button{
	bottom: 39px; 
}

.chapter.v2 .prevchapter{
	top: 86px;
}
.mod .chapter.v2 .dossiertitle {
	padding: 0;
	height: 85px;
}

.sectionA .modRundown .inline .mod.modGallery .controls.sliding {
	top: 160px;
}


/*** Breadcrumb ***/

#header .wrapper .section.sectionBreadcrumb {
	margin-bottom: -6px;
}

/*** Section andocken ***/
.angedockt {
	margin-top: -6px;
}

.angedockt .box { 
	margin-top: 4px;
}

/*** top10 Nummerierung ***/
.modPicList.smallThumb .linklist .list .number {
	margin: 5px 8px 0 0;
}

.modPicList .linklist .list .number {
	margin: 15px 8px 0 0;
	padding: 8px 10px 7px 12px;
	width: 10px;
}

.modPicList .linklist .list .number.zweistellig {
	padding: 8px 10px 7px 9px;
	width: 14px;
}

/*** Container Button ***/

.containerButton {
	float: right;
	margin: -34px 6px 0 0;
}

.sectionA .modConGallery .modHead .box, .modConGallery .mod.modHead {
	overflow: visible;
}

.sectionA .modConGallery .modHead .box {
	padding-top: 0;
	padding-bottom: 0;
}

.sectionA .modConGallery .modHead .info {
	clear: both;
	width: 100%;
	text-align: right;
	margin-top: -30px;
}

.sectionA .modConGallery.embedded .modHead .info {
	text-align: center;
}

/***shareCon ***/
/*
.socialMedia .modSharing.sharingBar {
	height: 70px;
}*/

.socialMedia .sharingBar .shareCon {
	padding: 10px 3.2% 0 3.2%;
	height: 45px;
}

.socialMedia .sharingBar .shareCon.isFixed {
	background-color: #ffffff;
	position: fixed;
	bottom: 0;
	height: 45px;
	width: 991px;
	padding: 2px;
	margin-left: -7px;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.57);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.57); 
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(31%,rgba(255,255,255,1)), color-stop(53%,rgba(255,255,255,0.8)), color-stop(82%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 31%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	}

.nachoben {
	display: none;
}

.sharingBar .shareCon.isFixed .nachoben {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 0px; 
	padding:7px 8px;
	margin-right: 6px;
	margin-bottom: 6px;
	z-index: 1001;
	opacity: 0.8;
}

/* sammelcontainer ausblenden  */

.modSharing.sharingBar .fixedSharingContainer {
	display: none;
}

/*** Storywrapper ***/

.storywrapper .modA,
.storywrapper .modA .box {
	overflow: visible;
}

.storywrapper .mediaTop {
	margin-top: 0;
}

.storywrapper {
	width: 996px;
	margin-left: 6px;
}

.storywrapper .sectionA {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}


.storywrapper .sectionC {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.storywrapper .sectionA .modA .dachzeile,
.storywrapper .sectionA .modA .headline,
.storywrapper .sectionA .modA .text {
	margin-left: 3.1%;
}

.storywrapper .sectionA .modA h1,
.storywrapper .sectionA .modA .text {
	position: relative;
	top: 10px;
}

.storywrapper .sectionA .modA .headline {
	font-size: 2em;
}


/* sectionC nach oben ausrichten */
.storywrapper .section.sectionC {
	margin-top: -94px;
}

.storywrapper .section.sectionC .con:first-child h3.ressort {
	padding-bottom: 12px;
}

.storywrapper .section.sectionC .con {
	margin-top: 12px;
}

.storywrapper .section.sectionC cset .con:first-child {
	margin-top: 12px;
}


/*
.storywrapper .metaBlock {
	margin: 0 5% 8px;
}*/

/*** Styling Dossier Seite ***/
/* MeldungHead rausrücken */
.contenttypedossier .storywrapper .sectionA .meldungHead span.dachzeile,
.contenttypedossier .storywrapper .sectionA .meldungHead span.headline
 {
	margin-left: 5px; 
}

.contenttypedossier .storywrapper .sectionA .meldungHead p.text {
	margin-left: 7px;
}

.contenttypedossier .storywrapper .sectionA .meldungHead .socialMedia .shareCon {
	padding-left: 6px;
}

.contenttypedossier .storywrapper .sectionA .meldungHead .socialMedia .shareCon.isFixed {
	padding-left: 2px;
}

.contenttypedossier .storywrapper .sectionZ .con:first-child p.text {
	margin-left: 7px;
} 
/* hintergründe und Abstände */
.contenttypedossier .storywrapper .sectionZ .con .box {
	background: none;
}

.contenttypedossier .storywrapper .sectionZ .con:first-child + .con {
	margin-top: 25px;
}

.contenttypedossier .storywrapper .sectionZ .con:first-child + .con .mod {
	margin-bottom: 20px;
}


/*** Panorama links ***/

.modStage.panoramalinks .teaser .mediaCon {
	float: right;
}

.modStage.panoramalinks .teaser .mediaCon div.multimediaButtons {
	right: 0;
	left: auto;
}

.modStage.panoramalinks .teaser .teaserCon {
	float: left;
	padding-left: 4px;
}

/* h3 Überschrift Kachel 

.sectionC.kachel h3.ressort {
	text-transform: none;
	font-size: 1.7em;
	font-weight: normal;
} */

/*** Dachzeilen Überschriften und Teasertexte ausrichten ***/
/*
.tsIndex .modPremium.smallImage .dachzeile, .tsIndex .modPremium.smallImage .headline, .tsIndex .modPremium.smallImage .teasertext, .tsIndex .modPremium.smallImage .linklist {
	width: 49%;
} */

/* Teaserinhalt im Teaser Panorama zentrieren */

.modStage.textonly.panoramalinks .box .teaserCon, .modStage.dark.textonly.panoramalinks .box .teaserCon {	
	height: 270px !important;
}
.modStage.textonly .box .teaserCon:before, .modStage.dark.textonly .box .teaserCon:before, .modStage.dark .box .teaserCon::before, .modStage .box .teaser .teaserCon::before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: -0.25em;
	vertical-align: middle;
}

.centerDiv {
	display: inline-block;
	vertical-align: middle;
}

.modStage .mediaCon img.img{
	height: 276px;
}

/* modLiveblog */
.sectionA .modLiveblog .inline,
.sectionA .modLiveblog .inline .modHead .box,
.sectionA .modLiveblog .inline .modGallery .box {
    width: 920px;
}

.sectionA .modLiveblog .mediaCon.small,
.sectionA .modLiveblog .inline {
	margin-left: 3.1%;
}

.sectionA .modLiveblog h4.small {
	width: 93.8%;
}

.sectionA .modLiveblog .inline .modGallery .box .mediaCon {
	height: 530px;
}

.sectionA .modLiveblog .modD .box {
	width: 214px;
}

.sectionA .modLiveblog .mediaCon.mediaTop.small {
	width: 93.88%;
}

/* modLiveblog Headerbild oberer Abstand*/
.sectionA .modLiveblog .mediaCon {
	margin-top: 0%;
}

.sectionA .modLiveblog.modParagraph .buttons {
	margin-right: 3.1%;
}

/* modLiveblog Kartengroeße*/
.sectionA .modLiveblog .mediaCon.mediaTop.small.map {
		width: 580px;
}

