
.contModule {
    background: none repeat scroll 0 0 #DEE7F8;
}
.contModule h1, .contModule h2, .contModule h3, .contModule h4, .contModule p, .contModule ul li {
    padding-left: 8px;
    padding-right: 8px;
}
.contModule h1 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 0.25em;
    padding: 0.25em 8px;
}
.contModule h2 {
    font-size: 1.08em;
    font-weight: bold;
}
.contModule h3 {
    border-top: 1px solid #FFFFFF;
    margin: -1px 0 0;
    padding: 0.25em 8px;
}
.contModule .teaserImg img {
    border: 1px solid #FFFFFF;
    margin: 3px;
}
.wideCol {
    padding-top: 0.5em;
}
span.small {
    display: block;
    width: 190px;
}
.singleImg {
    margin: 0;
}
.singleImg .articleImg {
    background: none repeat scroll 0 0 #C3D1EB;
    display: block;
    float: none;
    margin: 0 0 1em 4px;
    width: 512px;
}
.articleImg {
    background: none repeat scroll 0 0 #C3D1EB;
    float: right;
    margin: 0 0 8px 8px;
    width: 256px;
}
.doubleImg {
    background: url("/image/bg-doubleimg.gif") repeat-y scroll center top #C3D1EB;
    margin: 0 3px 1.3em;
}
.doubleImg .articleImg {
    margin: 0;
}
.doubleImg .first, .doubleImg .second {
    display: block;
}
.doubleImg .first {
    float: left;
}
.doubleImg .second {
    float: right;
}
.doubleImg .spacer {
    height: 0;
}
.imgSubline {
    display: block;
    padding: 8px 8px 8px 33px;
}
.lupe {
    display: block;
    float: left;
    height: 17px;
    margin: 8px 8px 0;
    width: 17px;
}
.fPlayer {
    background: none repeat scroll 0 0 #C3D1EB;
    margin: 0 3px 1.3em;
}
.fPlayer .spacer {
    display: none;
}
.fPlayerTeaser {
    padding: 4px;
}
.media li {
    border-bottom: 1px solid #DEE7F8;
}
.standDatum {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #5D84BF;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: right;
}
.zitatBox {
    background: none repeat scroll 0 0 #C3D1EB;
    float: right;
    margin: 0 4px 1.3em 8px;
    padding: 0 0 4px;
    width: 256px;
}
.zitatBox.breit, .zitatBox.img {
    float: none;
    margin-left: 4px;
    margin-right: 4px;
    width: 512px;
}
.zitatBox .zSource1, .zitatBox .zSource2 {
    display: block;
    font-style: italic;
    padding-left: 8px;
}
.fPlayer h2 {
    background: none repeat scroll 0 0 #5C84BF;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0.25em 0 0;
    padding: 0.5em 8px;
}
.zTitle, .zitatBox .zImgTitle, .zitatBox h3 {
    background: none repeat scroll 0 0 #5C84BF;
    border-bottom: 1px solid #DEE7F8;
    border-top: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0.4em 8px;
}
.fPlayer h2 {
    margin: 0;
}
.zContent {
    display: block;
    padding: 0 0 8px 8px;
}
.boxMoreLinks {
    background: none repeat scroll 0 0 #5C84BF;
    color: #FFFFFF;
    height: 2em;
    padding: 0 8px;
    position: relative;
}
.boxMoreLinks a {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.boxMoreLinks a:hover {
    text-decoration: none;
}
.boxMoreLinks a img {
    margin-top: 0.25em;
}
.boxMoreLinks a span {
    display: none;
}
.boxMoreLinks a:hover span {
    display: block;
    left: 60px;
    position: absolute;
    top: 0.25em;
    z-index: 100;
}
#socialBookmarks a:hover span {
    display: block;
    left: 100px;
    position: absolute;
    text-align: right;
    top: 0.25em;
    width: 240px;
    z-index: 100;
}
.boxMoreLinks div {
    float: left;
}
#socialBookmarks {
    float: right;
}
#socialBookmarks a {
    margin-left: 4px;
}
.weltatlas {
    border-top: 0 none;
}
#allCols .weltatlas li {
    margin-top: 4px;
    padding: 0.25em 0 0.25em 8px;
}
#allCols .weltatlas li span a {
    font-size: 0.8em;
}
#allCols .weltatlas li a {
    display: inline;
    padding-left: 0;
}
#allCols .weltatlas li a img {
    margin: 0 5px 0 0;
}
#allCols .teaserBox li p a {
    border: medium none;
    display: inline;
    margin: 0;
    padding: 0;
}
.teaserBox li p {
    border-top: 1px solid #DEE7F8;
    margin: -1px -8px 0;
    padding-left: 30px;
}
strong.nonBold {
    font-weight: normal;
}
.zitatBox.breit .zImage, .zitatBox.breit .zImg, .zitatBox.img .zImage, .zitatBox.img .zImg {
    float: left;
    height: 107px;
    margin-right: 4px;
    width: 190px;
}
.zImage, .zImg {
    float: left;
    height: 144px;
    margin-bottom: 4px;
    width: 256px;
}
.zImgInfoDiv {
    margin-left: 0;
    padding: 0;
}
.zImgInfoDiv ul {
    margin: 8px 0 0;
}
.zContent span {
    padding-left: 0;
    padding-right: 4px;
}
.zContentSmalLine {
    padding: 0 8px 0 0;
}
.zContentSmalLine a {
    display: block;
    padding: 0.25em 0 0.25em 20px;
}
.zContentSmalLine a img {
    float: left;
    height: 17px;
    margin: 0 0 0 -20px;
    padding: 0;
    width: 17px;
}
p.zContentTextSmal {
    padding: 0 0 0 23px;
}
.zitatBoxContent {
    padding: 8px;
}
.zitatBox .zImgContent {
    display: block;
    padding: 1px 5px 0;
}
.zitatBox .zImgContent a img {
    float: left;
    height: 17px;
    margin: 0 4px 85px 0;
    padding: 0;
    width: 17px;
}
.zitatBox .zImgContent a {
    display: block;
    padding: 0.25em 0 0.25em 20px;
    text-decoration: none;
}
.zitatBox .zImgContentText {
    display: block;
    padding: 0 8px 8px;
}
.innerform input {
    background-color: #FFFFFF;
    border: 1px solid #00044B;
}
#zusatztext {
    width: 38em;
}
.article p a, .article table a {
    text-decoration: underline;
}
.article h2 a:hover {
    text-decoration: none;
}
.extraText a {
    text-decoration: underline;
}
#tabcontainer {
    border-bottom: 1px solid #5C84BF;
    border-left: 1px solid #5C84BF;
    overflow: visible;
}
#tablist {
    margin: 0;
    padding: 0;
}
#tablist li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
#contentWrapper #tablist li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #C3D1EB;
    border-color: #5C84BF #5C84BF #5C84BF -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    display: block;
    font-weight: bold;
    height: 1.3em;
    margin: 0 0 -1px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
}
#tablist li a:hover {
    text-decoration: underline;
}
#tablist li#current a {
    background: none repeat scroll 0 0 #DEE7F8;
    border-bottom-color: #DEE7F8;
}
.linkList {
    background: none repeat scroll 0 0 #DEE7F8;
    padding: 8px 8px 1.3em;
}
.linkList h2 {
    font-size: 1.3em;
    font-weight: bold;
}
* html #tablist li a {
    width: 100px;
}
* html #tabcontainer {
    border-bottom: medium none;
}
.pageinfo, .pageinfoFoot {
    border: 1px solid #000044;
    margin: 1em 8px;
    padding: 8px;
}
.pageinfo legend, .pageinfoFoot legend {
    font-weight: 600;
    padding: 0 8px;
}
.pageinfo ul, .pageinfoFoot ul {
    list-style: none outside none;
    margin: 0;
    padding-left: 0;
}
.pageinfo li {
    line-height: 1.4em;
    padding: 0.25em 0;
}
.pageinfo li a {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.pageinfo li a:hover, .pageinfoFoot a:hover {
    text-decoration: underline;
}
.pageinfo li img {
    margin: 0 2px -3px 0;
}
.pageinfoFoot a {
    background: url("/image/icon_intern_d5e0f7.gif") no-repeat scroll 0 2px transparent;
    display: block;
    padding: 0.25em 0 0.25em 22px;
    text-decoration: none;
}
.pagination {
    padding: 0 8px 1.3em;
}
.pages {
    float: left;
    margin: 0 8px;
    width: 190px;
}
.pages a {
    display: block;
    float: left;
    margin: 0 2px 2px 0;
}
.pagebutton, .buttonLeft, .buttonRight {
    background: url("/image/bg-level2nav.gif") repeat scroll 0 0 #043BA0;
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 0.5em 0;
    text-align: center;
    width: 149px;
}
#allCols div.metatag a {
    border-bottom: medium none;
    float: left;
}
#allCols div.metatag .metataglink {
    padding-right: 15px;
}
.buttonRight {
    float: right;
}
.pagebutton a, .buttonLeft a, .buttonRight a {
    color: white;
}
.pageCenter {
    float: left;
    padding: 0.5em 4px;
    width: 190px;
}
.pagingButtonBar {
    background: none repeat scroll 0 0 lime;
    padding: 0 8px;
}
#wm2010mitte {
    background: none repeat scroll 0 0 #DEE7F8;
}
#wm2010mitte div.teaser {
    border-bottom: 1px solid #D30F1F;
}
#wm2010mitte div.foot {
    background: url("/wmteaserunten100~_v-original.jpg") no-repeat scroll center bottom transparent;
    color: white;
    height: 23px;
    padding-top: 1px;
    text-align: right;
}
#wm2010mitte div.foot span {
    display: block;
    padding: 3px 8px;
}
#wm2010mitte div.foot a {
    color: white;
}
#wm2010mitte div.foot a:hover {
    color: #FF841D;
    text-decoration: underline;
}
#wm2010mitte div.bannerImg {
    border: 1px solid #FFFFFF;
    float: none;
    margin: 3px 3px 0;
}
#wm2010mitte div.teaser {
    padding-top: 0;
}
div.poll {
    margin-top: 8px;
}
div#faqcontrol {
    background: url("/image/bg-level2nav.gif") repeat-x scroll 0 0 #013C80;
    clear: both;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 8px;
    margin-right: 4px;
    padding: 0.5em 8px;
    text-align: center;
}
div#faqcontrol:hover {
    cursor: pointer;
}
#faq div.faqContent {
    overflow: hidden;
}
#faq h2.faq {
    background: url("/image/icon/icon_faq-plus_d5e0f7.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    margin-left: 4px;
    padding-left: 20px;
}
#faq h2.faq:hover {
    cursor: pointer;
}
#faq h2.faq.aktiv {
    background: url("/image/icon/icon_faq-minus_d5e0f7.gif") no-repeat scroll 0 0 transparent;
}
#MSVE_PoweredByLogo {
    display: none !important;
}
div.bingmap {
    padding-right: 8px;
}
.pin1 {
    background-image: url("http://maps.gstatic.com/mapfiles/ms/micons/blue.png");
    height: 32px;
    left: -4px;
    position: relative;
    top: -19px;
    width: 32px;
}
.pin2 {
    background-image: url("http://maps.gstatic.com/mapfiles/ms/micons/red.png");
    height: 32px;
    left: -4px;
    position: relative;
    top: -19px;
    width: 32px;
}
.pin3 {
    background-image: url("http://maps.gstatic.com/mapfiles/ms/micons/green.png");
    height: 32px;
    left: -4px;
    position: relative;
    top: -19px;
    width: 32px;
}
.smallpin1 {
    background-image: url("/image/bingmaps/map_info_blue.png");
    height: 20px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 20px;
}
.smallpin2 {
    background-image: url("/image/bingmaps/map_info_red.png");
    height: 20px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 20px;
}
.smallpin3 {
    background-image: url("/image/bingmaps/map_info_green.png");
    height: 20px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 20px;
}
