



/*** TS FONTS ***//
/* Thesis Sans */

@font-face 
{
	font-family: 'Thesis';
	font-weight: bold;
	font-style: italic;	
	src:  	url('fonts/TheSans_LT_TT7i.eot#') format('eot'),
	  		url('fonts/TheSans_LT_TT7i.woff') format('woff'), 
		 	url('fonts/TheSans_LT_TT7i.svg') format('svg');
}

@font-face
{
	font-family: 'Thesis';	
	src:  	url('fonts/TheSans_LT_TT5i.eot#') format('eot'),
	  		url('fonts/TheSans_LT_TT5i.woff') format('woff'), 
		 	url('fonts/TheSans_LT_TT5i.svg') format('svg');
	font-style: italic;		 	
}

@font-face
{
	font-family: 'Thesis';
	font-weight: normal;	
	src:  	url('fonts/TheSans_LT_TT5_.eot#') format('eot'),
	   		url('fonts/TheSans_LT_TT5_.woff') format('woff'), 
		 	url('fonts/TheSans_LT_TT5_.svg') format('svg');
}

@font-face 
{
	font-family: 'Thesis';
	font-weight: bold;
	font-style: bold;
	src:  	url('fonts/TheSans_LT_TT7_.eot#') format('eot'),
	  		url('fonts/TheSans_LT_TT7_.woff') format('woff'), 
		 	url('fonts/TheSans_LT_TT7_.svg') format('svg');
}

/*** ###################### ***/

@page {
	margin: 1,0cm;
}

html, body	{
	margin: 0;
	padding: 0;
	font-family: Thesis, Tahoma, sans-serif;
	font-size: 12px;
	color: #000;
	background-color: #FFF;
/*	width: 650px !important; */
}

body.tagesschau 
{
	background: transparent !important;
}

/*	--------------- HEADER --------------- */

#header {
	display: none;
}

/*	--------------- PRINTBOX --------------- */

#printbox {
 /*   border: 2px solid #CECECE;*/
    clear: left;
    display: block;
    height: 86px;
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    font-size: 12px;
    page-break-after: avoid !important;
}
#printbox img {
    float: left;
    left: 0;
    margin: 10px 18px 10px 0;
    position: absolute;
    top: 0;
    width: 250px;
}
#printbox div {
    margin: 0 0 0 270px;
	padding: 12px 12px 12px 0;
}

#printbox span 
{
	float: left;	
	margin-top: 10px;
}

#printbox div #article_url {
	font-size: 12px;
    font-weight: 800;
    clear: both;
    margin-top: 5px;
}

h1, h2, h3, h4, h5, h6, p, form {
	margin: 5px 0 !important;
	padding: 0;
}

img
{
	border: none;
/*	width: 200px !important;*/
}

.tsIndex .modPremium img, .story .mediaTop .mediaA img 
{
	width: 650px !important;
}

ul, ol, li {
	padding: 0;
	margin: 0;
	border: 0 !important;
/*	list-style: none;*/
}

.IEabbr, abbr, acronym {
	border-bottom: none;
}

a:link, a:visited {
 color: #000;
 background: transparent;
/* font-size: 1em;*/
 font-weight: normal !important;
 text-decoration: none;
 }

/*	---{/Misc}--- */
/*	---FONTS--- */

a, p {
	font-family: Thesis !important;
	font-weight: 400 !important;	
}

a, #centerCol a, #sendungenLeft a, #sendungenLeft .zusatz a, #seitenanfang a, #stopper a {
	color: #000;
	text-decoration: none;
}

.headline, conHeadline {
	font-family: Thesis !important;
}

h4.headline a
{
	font-size: 13px !important;
	color: #000 !important;
	font-weight: bold !important;	
	text-decoration: none !important;
	width: 100% !important;
	float: none !important;
}

h1 {
	font-size: 21px;
}

.storywrapper .sectionA .modA span.headline {
	font-size: 21px !important;
}

.storywrapper .sectionA .modA span.dachzeile {
	font-size: 16px !important;
}

h2 {
	font-size: 20px;
	page-break-after: avoid !important;
}

h2.conHeadline {
	font-weight: normal;
	page-break-after: avoid !important;
}

h3 {
	font-size: 16px;
}

h4, .modPremium.smallImage h4.headline {
	font-size: 16px !important;
}

.modPremium h4.headline {
	font-size: 22px !important;	
}

.subtitle.small
{
	font-size: 13px !important;
	font-weight: 800;
	margin: 0 !important;
}

.siteHeadline, a.hidden,
.conHeadline.hidden
{
	display: none;
}

/*	---{/Fonts}--- */

/*.story p
{
	width: 630px !important;
} */

/* -------- Links --------- */

.mubuText {
	display: none !important;
}


/*	--------------- HP --------------- */
.section {
	border-top: solid 2px #e9e9e9 !important; 
	overflow: auto !important;
	page-break-after: auto !important; 
	page-break-inside: auto !important;
}

.story .section {
	border: none !important;
}

.tsIndex .section:first-of-type {
	border-top: none;
}

/*
.mod {
	border-bottom: solid 2px #e9e9e9 !important;	
}

.mod.tsTeaser {
	border-bottom: none !important;
} */

.sectionC .boxCon .box {
	margin: 0 !important;
}

html title {
	font-size: 35px;
}

/* page-breaks */

.tsIndex .dachzeile {
	page-break-after: avoid !important;
}

.mediaCon, img, .box {
	page-break-inside: avoid;
}

.boxCon, .modPicList {
	page-break-inside: auto !important;
}

.box, .modPicList .linklist li {
	page-break-after: auto !important;
}

.modA .tsTeaser, .modInhaltstypTgs, .section {
	page-break-after: auto !important;
}

/* nicht drucken */

.tshtmlplayer, .tshtmltplayer, .tshtmlaudioplayer {
   	display: none !important;
}

/* ausblenden */
ul.skiplinks,
.modConGallery .modHead,
.dachzeile.datum,
.videoQuadriga,
.tsIndex .sectionA:first-of-type h2.conHeadline,
.section.sectionC,
.modBreakingNews, 
.modSocialbar,
.icon,
.mubuIcon,
.multimediaButtons,
.poweruser,
.containerButton,
iframe, 
.inline,
.modQuiz, 
.modPicture,
.modConComments,
.buttons a,
.multimediaButtons .hiddenInViewXS,
.imagegallery .modHead .info,
.imagegallery .modHead .link,
.story .mediaCon .mediaInfo .teasertext, 
.sectionA .modD,
.modMini,
.conHeadline,
.teaserImgOverlayText,
h2.conHeadline,
/*.slider,*/
/*#slider-1,*/ 
/*#slider-2,*/ 
/*#slider-3,*/ 
#slider-4,
.modTicker .lottoBox,
.lottoBox,
.hidden 
{
	display: none !important;
}

.sectionC h2.conHeadline, .sectionA h2.conHeadline
{
	display: block !important;
	color: black;
}

ol, ul 
{
    list-style-type: none;
    margin-bottom: 10px !important;
}

.tsIndex .section
{
/*	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px; */
	height: 100% !important;	
	clear: left;
}

/* ---------- sectionB ---------------------------- */

.sectionB {
	margin-bottom: 15px !important;
	width: 650px !important;	
}

.tsIndex .sectionB .box,
.tsIndex .sectionB .box .teaser
{
     width: 650px !important;
}

/*------ Blöcke (2) / .modPremium / .modTeaseronly -----------------*/
.tsIndex .modB .box,
.tsIndex .modB .box .teaser, 
.tsIndex .modB .box .teaser img,
.tsIndex .modB .box .teaser a,
.tsIndex .modB .box .teaser .dachzeile, 
.tsIndex .modB .box .teaser .headline, 
.tsIndex .modB .box .teaser .teasertext,
.tsIndex .modClassic img,
.tsIndex .modClassic .mediaCon,
.tsIndex .modTeaseronly .teaser a,
.tsIndex .modPremium.smallImage .teaser a,
.tsIndex .modPremium.smallImage .teaser .mediaCon,
.tsIndex .modPremium.smallImage .teaser img,
.tsIndex .sectionB .box .teaser a, 
.tsIndex .sectionB .box .teaser img
 {
	width: 320px !important;
}

.tsIndex .modB .box .teaser .dachzeile, 
.tsIndex .modB .box .teaser .headline, 
.tsIndex .modB .box .teaser .teasertext {
	padding-right: 0 !important;
}

.tsIndex .modB .box,
.tsIndex .modB .box .mediaCon,
.tsIndex .modClassic .mediaCon {
	float: left !important;
}

.tsIndex .modB .box:first-child,
.tsIndex .sectionB .box:first-child {
	margin-right: 5px !important;
}

.tsIndex .modB .box {
	margin-bottom: 20px !important;
}
/*
.tsIndex .modB, .tsIndex .modCon, .tsIndex .boxCon {
	overflow: auto !important;
	height: 100% !important;
	width: 650px;
}*/

.tsIndex .modCon {
	overflow: auto !important;
}

/* ------------- Teaser ---------------*/

.tsTeaser img, .sectionC.kachel img, 
.sectionA .modConGallery.embedded img,
.tsIndex .modC img {
	width: 250px !important;
}

/*  mediaCon */
.tsTeaser .mediaCon, 
.tsTeaser .teaser .mediaCon a, 
.sectionC .teaser .mediaCon, 
.sectionA .modGallery .teaser .mediaCon,
.sectionA .modConGallery.embedded .mediaCon,
.tsIndex .boxCon.slider .teaser .mediaCon
 {
	width: 250px !important;
	margin-right: 10px !important;
	float: left !important;
}
/*
.sectionA .modGallery .teaser .mediaCon,
.sectionA .modConGallery.embedded .mediaCon {
	margin-bottom: 6px !important;
}*/

.sectionC .teaser .mediaCon {
	margin-bottom: 18px !important;
}

.teaserImgOverlayText {
	color: #fff !important;
}

.tsIndex .tsTeaser .box, 
.tsIndex .tsTeaser .teaser,
.tsIndex .boxCon.slider .box {
	overflow: auto !important;
}

.tsIndex .tsTeaser .dachzeile,
.tsIndex .modTeaseronly .dachzeile {
	margin-top: 0 !important;
}

.tsIndex .tsTeaser .dachzeile, .tsIndex .tsTeaser .headline, .tsIndex .tsTeaser .teasertext,
.section.sectionC.kachel .teaser .dachzeile, .section.sectionC.kachel .teaser .headline, .section.sectionC.kachel .teaser .teasertext,
.slider .teaser .dachzeile, .slider .teaser .headline, .slider .teaser .teasertext
  {
	float: right !important;
	width: 380px !important;
	padding-right: 10px !important;
}


.tsIndex .tsTeaser a, 
.section.sectionC.kachel a, 
.slider .teaser a {
	float: left !important;
	width: 390px !important;
}


.tsIndex .modPremium .teasertext, 
.tsIndex .tsTeaser .teaser, 
.tsIndex .tsTeaser .box, 
.section.sectionC.kachel .teaser,
.tsIndex .modClassic .modTeaseronly .teaser,
.tsIndex .modPremium.smallImage .teaser,
.slider .teaser,
.tsIndex .modA.modStage .viewA .teaser 
 {
	width: 650px !important;
} 

.tsIndex .modClassic .mediaCon {
	margin-right: 10px;
	height: 90px !important;
}

.tsIndex .modClassic .modTeaseronly .teaser .dachzeile, 
.tsIndex .modClassic .modTeaseronly .teaser .headline, 
.tsIndex .modClassic .modTeaseronly .teaser .teasertext,
.tsIndex .modPremium.smallImage .teaser .dachzeile,
.tsIndex .modPremium.smallImage .teaser .headline,
.tsIndex .modPremium.smallImage .teaser .teasertext,
.tsIndex .modA.modStage .viewA .teaser .dachzeile,
.tsIndex .modA.modStage .viewA .teaser .headline,
.tsIndex .modA.modStage .viewA .teaser .teasertext
 {
	width: 315px !important;
	padding-right: 5px !important;
}

.tsIndex .modTeaseronly .teaser a,
.tsIndex .modPremium.smallImage .teaser a,
.tsIndex .modA.modStage .viewA .teaser a,
.tsIndex .sectionB .box .teaser a
 {
	float: right !important;
}

.tsIndex .modTeaseronly .teaser a {
	margin-bottom: 8px !important;
}

.tsIndex .modPremium.smallImage .teaser .mediaCon,
.tsIndex .sectionB .box .teaser .mediaCon {
	margin-right: 10px !important;
	float: left !important;
}

.modParagraph .mediaCon.mediaTop.small .media {
	margin: 0; 
}

.mediaCon.mediaTop.small.image .mediaInfo {
	top: 0px;
}


.tsIndex .modPremium.smallImage .teaser .teaserImTeaser,
.tsIndex .modA.modStage .viewA .teaser .teaserImTeaser
{
	width: 315px !important;
	margin-left: 5px !important;
}

.tsIndex .modPremium.smallImage .teaser .teaserImTeaser,
.tsIndex .modA.modStage .viewA .teaser .teaserImTeaser {
	margin: 8px 0 10px 5px !important;
}

.tsIndex .modPremium.smallImage .teaser .teaserImTeaser a,
.tsIndex .modA.modStage .viewA .teaser .teaserImTeaser a {
	margin: 0 !important;
	padding: 0 !important;
	clear: both !important; 
}

.modClassic .modTeaseronly {
	overflow: auto !important;
}

/* -------------- KACHEL ---------------------- */

.section.sectionC.kachel{
	display: block !important;
	width: 650px !important;
}  

.section.sectionC.kachel .box {
	width: 650px !important;
}

.tsIndex .modPicList .mediaCon,
.tsIndex .modPicList .mediaCon img {
	width: 100px !important;
	
}

.tsIndex .modPicList {
	overflow: auto !important;
}

/* -------------GALLERY --------------- */

.tsIndex .modGallery {
	overflow: auto !important;
	height: 146px !important;
}

.tsIndex .modConGallery .teaser {
	overflow: auto !important;
}

.tsIndex .modConGallery .box,landscape {
	overflow: auto !important;
	margin-bottom: 0 !important;
}

.tsIndex .modConGallery .modGallery .teaser {
	margin-top: 0 !important;
	width: 650px;
	min-height: 146px;
}

.tsIndex .modConGallery .modGallery .teasertext {
	width: 360px !important; 
	padding-right: 10px !important;
	float: right !important;
}

/* ------ Panoramateaser ---------- */

.tsIndex .modA.modStage img,
.tsIndex .modA.modStage .mediaCon,
.tsIndex .modA.modStage .teaserCon 
 {
	width: 650px
}

.tsIndex .modA.modStage .teaser {
	height: 100% !important;
	background-repeat: no-repeat !important;
}

.tsIndex .modA.modStage .teaser .teaserCon {
	height: auto !important;
	overflow: auto !important;
}

.tsIndex .modA.modStage .mediaCon {
	display: none !important;
}

.tsIndex .modA.modStage .mediaCon .mediaLink {
	height: 8px !important;
}


.tsIndex .modA.modStage .centerDiv:before {
	content: "Panorama: " !important;
	font-size: 18px;
	font-weight: 800;
}

/*
.tsIndex .modA.modstage .teaserCon  {
	clear: both;
}*/

/* ------------ STAGE --------------------- */

.tsIndex .modA.modStage .viewA .mediaCon {
	display: block !important;
	width: 320px !important;
	height: 185px !important;
	margin-right: 10px !important;
	float: left;
}

.tsIndex .modA.modStage .viewA .mediaCon img {
	width: 320px !important;
}

/* ---------- SLIDER ---------------------- 

.tsIndex .boxCon.slider {
	width: 650px !important;
}*/

/* --------- Box -------------------------- */

.box .modTeaseronly {
	margin: 0 !important;
}

.boxCon.slider, .slider .box {
	width: 650px !important;
}

.box
{
	background: transparent !important;
	height: 100% !important;
	margin-bottom: 10px !important;
	padding: 0 !important;
/*	width: 100% !important;*/
}

/* ---- Linklist ------- */

.tsIndex .teaser .linklist.teaserImTeaser
{
	margin-top: 15px !important;
	float: left !important;
}

p, ul, ol, li {
 /*   color: #000000 !important;
    text-decoration: none; */
} 
/*
.mediaB,
.teaser .linklist.teaserImTeaser,
.linklist,
.teaserCon
{
	float: none !important;	
	clear: left !important;
} */

.modStage .teaserCon {
	float: none !important;	
	clear: left !important;
}

.mediaCon.small
{
	margin: 10px 0 !important;
	height: 100% !important;
}

.mediaCon.mediaTop.small
{
	margin: 0;	
}

.modPremium.smallImage .teasertext,
.mod.modA.modClassic .teasertext,
.modPremium.smallImage .linklist

{
	width: 630px !important;
}

.teaser
{
	margin-top: 10px !important;	
}

/* -------------- Netzreporter ---------------  */

.modInhaltstypTgs.dark.textonly {
	border-bottom: none !important;
}

.modInhaltstypTgs.dark.textonly .teaser.twoImages {
	width: 650px !important;
}

.teaser.twoImages .mediaCon a.mediaLink {
	width: 650px !important;
	heigth: 91px !important;
	overflow: hidden !important;
}

.teaser.twoImages .mediaLink .mediaB {
	width: 325px !important;
	float: left !important;
	margin: 0 !important;
}

.teaser.twoImages .mediaLink .mediaB img {
	width: 325px;
} 

/* -------- TOP TEN --------------------- */

.modB.modPicList.smallThumb .linklist .list li {
	min-height: 64px !important;
}	

.modB.modPicList.smallThumb .linklist .list .mediaCon {
	margin-right: 8px;
}

.modB.modPicList.smallThumb .linklist .list .number {
	font-size: 14px;
	font-weight: bold;
	margin-right: 4px;
	padding-left: 0;
}



/* -------- STORY --------------------- */

.story #printbox {
	margin-bottom: 0;
}

.storywrapper, .modParagraph {
	width: 650px !important;
	page-break-inside: auto !important;
}

.storywrapper .section {
	margin: 0 !important;
}

.storywrapper .sectionA {
	page-break-before: avoid !important;
}

.storywrapper .mediaCon.small {
	width: 650px !important;
}
/*
.modParagraph p, .modParagraph .teaser {
	overflow: auto !important;
}*/

.storywrapper p  {
	width: 650px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.meldungHead span {
	margin: 0 !important;
}

.modParagraph .text,
.modParagraph .text.small,
.infotext
{
	margin-bottom: 15px !important;
}

form.separatefields
{
	margin-bottom: 15px;
}

.linklist.articlePageList
{
	margin-bottom: 15px !important;
	margin-top: 15px !important;
}
/*
.modParagraph .media img
{
	margin-top: 5px;	
	width: 180px;
}
*/
.modParagraph .mediaCon.small .mediaC
{
	width: 180px;
} 

.modParagraph .mediaCon.small .mediaB,
.modParagraph .mediaCon.small .mediaB img,
.modParagraph .mediaCon.small .mediaA img  
{	
	width: 250px !important;
}

.modParagraph .mediaTop .mediaA img
{
	width: 650px !important;
}

/*** AV Inhalte ***/
.story .mediaCon.audio .infotext:before
{
	content: "Audio: ";
	font-weight: 800;
}

.story .mediaCon.video .infotext:before
{
	content: "Video: ";
	font-weight: 800;
}

.story .mediaCon.video {
	overflow: auto !important;
}

.story .mediaCon.video iframe {
	display: block !important;
	width: 250px;
	height: 142px;
	margin-right: 10px !important;
	float: left;
}


/*** modGallery ***/

.story .modGallery img, .imagegallery .modGallery img
{
	width: 630px !important;
}

.story .modGallery .landscape .teaser, .imagegallery .modGallery .landscape .teaser
{
	margin-top: 0 !important;
}

/*** ----------------- Inhaltstyp -------------------------  ***/

.modInhaltstypTgs {
   width: 650px !important;
/*   border-bottom: 5px solid #000; */
   margin-bottom: 20px !important;
}

.inhaltstypTgsDiv {
	border-bottom: 5px solid #ddd;
}

.modInhaltstypTgs h2 {
	font-size: 25px !important;
	text-transform: uppercase;
}

/*** ----------------- Meldungen --------------------------- ***/

.meldungHead h1 span.headline {
	margin-top: 5px !important;
}

.modParagraph h1 .headline {
	margin: 0 !important;
}

.modParagraph h1 .dachzeile {
	float: left;
	width: 100%; 
	margin: 0;
/*	font-size: 0.7em;*/
	font-weight: normal;
}

.modParagraph .autorenzeile
{
	margin: 0 0 15px 0 !important;
}

.modParagraph.mediaCon.mediaRight {
	clear: right;
	margin-left: 0 !important;
	margin-right: 0 !important;
	float: left !important;
}

.modParagraph .text.small {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 650px !important;
}

.modParagraph .mediaCon .mediaLink, .modParagraph .mediaCon .mediaLink img {
	clear: both !important;
}

/*  Infokasten  */

.infokasten.small img
{
	width: 250px !important;
}

.infokasten.small {
	width: 635px !important;
	overflow: auto !important;
	border: solid 5px #f2f2f2 !important;
/*	-webkit-print-color-adjust: exact; 
	padding: 10px !important; */
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 10px !important;
}

.infokasten.small .ressort, .infokasten.small .teaser {
	margin: 0 !important;
	width: 630px;
}

.infokasten.small p {
	width: 365px;
	margin-left: 0 !important;
	margin-right: 0 !important;
} 

.infokasten.small p.teasertext {
	width: 365px !important;
	float: left !important;
}
/*
.infokasten.small p.teasertext a {
	float: right;
}*/

.infokasten.small p.dachzeile {
	margin-top: 0 !important; 
}

.infokasten.small .teaser {
	margin-top: 0 !important;
	overflow: auto;
}

.infokasten.small .mediaCon {
	float: left !important;
	margin-right: 10px !important;
}

.infokasten.small .mediaCon a {
	overflow: auto !important;
}

.infokasten p.author
{
	font-style: italic;
	text-indent: 10px;	
	margin-bottom: 5px;
}

.infokasten .teaser
{
	margin-bottom: 15px;
}

.infokasten.small .linklist {
	padding-left: 5px;
}

/* Sendungsbezug */

.infokasten.small.sendungsbezug,
.infokasten.small.rssfeed
{
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	float: none;
}

.infokasten.small.sendungsbezug p.teasertext {
	width: 625px !important;
	float: none;
	padding-left: 5px;
	
}

.sendungsbezug p.teasertext
{
	font-weight: 800 !important;
}


/* Mediacon Image*/

.mediaCon.small.image .mediaLink {
	width: 250px !important;
	margin-right: 10px !important;
	float: left !important;
}

.mediaCon.small.image .media {
	overflow: auto !important; 
	width: 650px!important;
}

.mediaCon.small.image .mediaInfo, .mediaCon.small.image .mediaInfo p.infotext {
	width: 390px !important;
	float: right !important;
}

.mediaCon.small.image .mediaInfo {
   position: relative;
   top: 92px; 
}

/*  Table  */
 table 
 {
 	margin-bottom: 10px;
 }
 
 table tr.headlines
 {
 	background-color: #001A4B !important;
 }


/*	--------------- FOOTER --------------- */
#footer {
	display: none;
}


/* --- SHARING --- */

.modSharing{
	display: none;
}