@charset "UTF-8";
::selection {background:#111; color:#fff;}
::-moz-selection {background:#111; color:#fff;}
::-webkit-input-placeholder {color:#111;}
:-moz-placeholder {color:#111;}

* {margin: 0; padding: 0; }
a > * {line-height:0;}
img {border:none;}
body {font-family:Arial, Helvetica, sans-serif;}
a {color:#000; text-decoration:none;}
a:hover {color:#f74d4c;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.clearfix {clear:both; display:block; height:0;}
.f-rht {float:right;}
.f-lft {float:left;}
.hid {display:none;}
.uni-nav .uni-m a, .bk-hd *,
.bk-latest .art-cate00,
.story-headline,
.bk-pagetitle {font-family:'Fjalla One', Arial, Helvetica, sans-serif; text-transform:uppercase; font-weight:normal;}
.art-cate00 {color:#444; font-size:11px; line-height:24px; display:block;}
.art-img:after {content:""; box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.5); transform: rotate(3deg);}
.art-sum {font-size:12px; line-height:16px; color:#555; padding:5px 0;}
a:hover .art-cate00 {color:#f74d4c;}
a:hover .art-img {box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.5);}
.bk-end {padding:0 !important; margin:0 !important;}

.uni-hdr, .uni-contents, .uni-nav, .uni-ftr {text-align:center; width:100%; clear:both;}
.uni-innerwrap {width:1200px; margin:0 auto; text-align:left; padding-left:10px; padding-right:10px;}
.uni-hdr {background-color:#222;}
.uni-hdr .uni-innerwrap {padding:10px 10px 7px 10px; color:#999; font-size:12px; line-height:18px;}
.uni-contents .uni-innerwrap {margin-top:15px; padding-bottom:15px; background:url('../images/bg-contents.gif') 839px 0 repeat-y;}
.article .uni-contents .uni-innerwrap, .section .uni-contents .uni-innerwrap {padding-top:15px; margin-top:0;}
.uni-main {float:left; width:810px;}
.uni-aux {float:right; width:350px;}
.uni-logo {float:left; margin:10px 0;}
.uni-logo span {line-height:38px; padding-left:10px;}
.uni-logo * {vertical-align:top;}
.uni-jumpmenu {background:#515151; font-size:12px; color:#ffffff; width:205px; padding:5px 8px; border:none; -webkit-appearance:none; -moz-appearance:none; float:right; margin-top:13px; margin-left:10px;}
.uni-search {float:right; margin:10px 0; width:192px; background:url('../images/search-txt.png') 0 0 no-repeat; padding:3px 0;}
.uni-search * {vertical-align:top;}
.uni-infos {background:url('../images/bg-hdr-infos.png') 0 0 repeat-x #ebebeb; line-height:16px; padding-bottom:9px; padding-top:5px;}
.uni-infos .f-lft strong {background-color:#F74D4C; font-size:12px; line-height:16px; color:#fff; padding:0 5px; display:inline-block; margin-right:7px; border-radius:2px;}
.uni-infos a {color:#F74D4C !important; font-size:12px; line-height:16px; padding:0 3px; font-weight:bold;}
.uni-infos a:hover {color:#ff3535 !important;}
.uni-nav {background-color:#020202; height:40px; overflow:hidden;}
.uni-ftr {background-color:#151515; color:#fff; padding:20px 0; clear:both;}

.topsearch-txt {width:146px; height:28px; line-height:28px; padding:0 0 0 10px; margin:0; border:none; font-family:Arial, Helvetica, sans-serif; color:#999; background:transparent;outline: mediumaquamarine;}
.topsearch-btn {width:28px; height:28px; padding:0; margin:0; border:none; cursor:pointer; font-family:Arial, Helvetica, sans-serif;outline: mediumaquamarine;}

.uni-nav li {float:left; list-style:none; text-align:center;}
.uni-nav .uni-m a {display:inline-block; padding:5px 0; font-size:16px; line-height:30px; color:#fff; text-transform:uppercase; transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease 0s;}
.uni-nav .m1 {width:7%;}
.uni-nav .m2 {width:9%;}
.uni-nav .m3 {width:8%;}
.uni-nav .m4 {width:10%;}
.uni-nav .m5 {width:7%;}
.uni-nav .m6 {width:8%;}
.uni-nav .m7 {width:8%;}
.uni-nav .m8 {width:11%;}
.uni-nav .m9 {width:8%;}
.uni-nav .m10 {width:10%;}
.uni-nav .m11 {width:10%;}
.uni-nav .m12 {width:4%;}
.uni-nav .m1 a:hover, .uni-nav .m1 a.selected {color:#da0000;}
.uni-nav .m2 a:hover, .uni-nav .m2 a.selected {color:#008edf;}
.uni-nav .m3 a:hover, .uni-nav .m3 a.selected {color:#00b4a5;}
.uni-nav .m4 a:hover, .uni-nav .m4 a.selected {color:#a9af00;}
.uni-nav .m5 a:hover, .uni-nav .m5 a.selected {color:#ff6c00;}
.uni-nav .m6 a:hover, .uni-nav .m6 a.selected {color:#5dbc00;}
.uni-nav .m7 a:hover, .uni-nav .m7 a.selected {color:#0047d7;}
.uni-nav .m8 a:hover, .uni-nav .m8 a.selected {color:#006aa6;}
.uni-nav .m9 a:hover, .uni-nav .m9 a.selected {color:#5600ae;}
.uni-nav .m10 a:hover, .uni-nav .m10 a.selected {color:#c300cf;}
.uni-nav .m11 a:hover, .uni-nav .m11 a.selected {color:#cf007a;}
.uni-nav .m12 a:hover, .uni-nav .m12 a.selected {color:#ff0054;}

.uni-social {float:right; text-align:right; width:270px; color:#999; font-size:11px; line-height:34px; font-weight:bold; padding:10px 5px 0 0;}
.uni-social * {vertical-align:top; line-height:34px;}
.uni-social span {display:none; width:32px; height:24px;}
.uni-social .social-fbook {width:34px; height:34px; background:url('../images/itechpost-sprite.png') 0 0 no-repeat; display:inline-block;}
.uni-social .social-twit {width:34px; height:34px; background:url('../images/itechpost-sprite.png') -40px 0 no-repeat; display:inline-block;}
.uni-social .social-gplus {width:34px; height:34px; background:url('../images/itechpost-sprite.png') -80px 0 no-repeat; display:inline-block;}
.uni-social .social-rss {width:34px; height:34px; background:url('../images/itechpost-sprite.png') -120px 0 no-repeat; display:inline-block;}
.uni-social .social-fbook:hover {background-position:0 -35px;}
.uni-social .social-twit:hover {background-position:-40px -35px;}
.uni-social .social-gplus:hover {background-position:-80px -35px;}
.uni-social .social-rss:hover {background-position:-120px -35px;}

.uni-ftr .bk-col1 {float:left; width:180px;}
.uni-ftr .bk-col2 {float:left; width:360px;}
.uni-ftr .bk-col3 {float:left; width:180px;}
.uni-ftr .bk-col4 {float:left; width:300px;}
.uni-ftr li {list-style:none;}
.uni-ftr {font-size:14px; line-height:24px; font-weight:bold;}
.uni-ftr a {color:#fff;}
.uni-ftr a:hover {text-decoration:underline;}
.uni-ftr p {font-size:12px; line-height:24px; color:#f74d4c;}
.uni-ftr .bk-col1 .copy {font-weight:normal; font-size:10px; line-height:14px; padding-top:20px; color:#666;}
.uni-ftr .bk-col2 li, .uni-ftr .bk-col3 li {float:left; width:180px;}
.uni-ftr .bk-col4 .uni-social {float:none; width:100%; text-align:left; padding-bottom:12px;}

.uni-home {background-color:#fff;}
.uni-home .f-lft {width:835px;}
.uni-home .f-rht {width:350px;}
.uni-home .bk-blockboxes .f-lft , .uni-home .bk-blockboxes .f-rht {width:50%;}

.bk-hd .ttl-lft {float:left; padding:4px;}
.bk-hd .ttl-lft * {font-size:16px; line-height:22px;}
.bk-hd .ttl-rht {float:right; padding:4px;}
.bk-hd .ttl-rht a {font-size:12px; line-height:22px;}

.bk-headline .bk-start {float:left; width:515px; height:400px; position:relative; z-index:20;}
.bk-headline .bk-start .art-img {width:515px; height:400px;}
.bk-headline .bk-start .art-txt {position:absolute; bottom:0; width:475px; padding:100px 20px 10px 20px; background:url('../images/bg-cover-headline.png') left bottom no-repeat;}
.bk-headline .bk-start .art-ttl {font-size:28px; line-height:30px; color:#fff; text-shadow:0 0 8px #444, -1px -1px 0 rgba(68, 68, 68, 1), 1px -1px 0 rgba(68, 68, 68, 1), -1px 1px 0 rgba(68, 68, 68, 1), 1px 1px 0 rgba(68, 68, 68, 1);}
.bk-headline .bk-start .art-sum {font-size:14px; line-height:18px; color:#ccc;}
.bk-headline .bk-start a:hover .art-txt {background:url('../images/bg-cover-headline-hover.png') left bottom no-repeat;}
.bk-headline ul {float:right; width:320px; list-style:none;}
.bk-headline .bk-con {background:url('../images/pointer-off.png') 0 0 repeat-x; height:56px; padding:12px; position:relative; z-index:30;}
.bk-headline .bk-con .art-img {float:left; margin-right:12px;}
.bk-headline .bk-con .art-ttl {font-size:14px; line-height:16px; font-weight:bold;}
.bk-headline .bk-con.selected {background:url('../images/pointer-on.png') 0 0 no-repeat; margin-left:-20px;}
.bk-headline .bk-con.selected .art-img {margin-left:20px;}

.bk-picks {border-top:#f74d4c solid 2px; border-bottom:#777 solid 3px; padding-top:18px; padding-bottom:18px; position:relative;}
.bk-picks .bk-hd {float:left; background:url('../images/itechpost-sprite.png') -72px -70px no-repeat; width:70px; height:58px; padding-left:12px; padding-top:8px;}
.bk-picks .bk-hd * {color:#fff; font-size:12px; line-height:22px;}
.bk-picks .bk-hd strong {font-size:20px;}
.bk-picks .bk-bd {float:right; width:1100px; list-style:none;}
.bk-picks .bk-bd .bk-con {float:left; width:24%; list-style:none; margin-right:8px;}
.bk-picks a {font-size:16px; line-height:18px; font-weight:bold;}

.bk-headline, .bk-photos, .bk-latest, .bk-subhead, .bk-sidelist {margin-bottom:20px;}

.bk-photos {position:relative;}
.bk-photos .bk-hd {position:absolute; top:15px; background:url('../images/itechpost-sprite.png') -74px -140px no-repeat; width:98px; height:34px; text-align:center; margin:0;}
.bk-photos .bk-hd * {color:#fff; font-size:14px !important; line-height:26px !important;}
.bk-photos .bk-hd .ttl-lft {float:none; padding-right:10px;}
.bk-photos .bk-bd {padding:15px 0;}
.bk-photos .bk-bd .bk-con {display:block; margin-bottom:15px;}
.bk-photos .art-ttl {font-size:20px; line-height:22px; font-weight:bold;}
.bk-photos .art-img {display:block; float:none; margin-bottom:15px; position:relative;}
.bk-photos .bk-start {padding-bottom:20px;}
.bk-photos .bk-start .art-txt {padding-top:50px;}
.bk-photos .bk-start .art-img {float:right; margin-left:20px; width:395px; overflow:hidden; height:250px;}
.bk-photos .bk-start .art-ttl {font-size:26px; line-height:28px; font-weight:bold;}
.bk-photos .f-lft, .bk-photos .f-rht {width:395px;}

.bk-playnow {position:relative; padding-bottom:20px;}
.bk-playnow .bk-bd {padding:0 0 15px 0;}
.bk-playnow .art-ttl {font-size:22px; line-height:24px; font-weight:bold;}
.bk-playnow .art-img {display:block; float:none; margin-bottom:15px; position:relative;}
.bk-playnow .art-sum strong {color:#F74D4C !important;}
.bk-playnow object {width:100%; max-width:100%;}

.art-cate01 {position:absolute; top:0; right:0; background:url('../images/sym01.png') #da0000 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate02 {position:absolute; top:0; right:0; background:url('../images/sym02.png') #008edf 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate03 {position:absolute; top:0; right:0; background:url('../images/sym03.png') #00b4a5 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate04 {position:absolute; top:0; right:0; background:url('../images/sym04.png') #a9af00 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate05 {position:absolute; top:0; right:0; background:url('../images/sym05.png') #ff6c00 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate06 {position:absolute; top:0; right:0; background:url('../images/sym06.png') #5dbc00 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate07 {position:absolute; top:0; right:0; background:url('../images/sym07.png') #0047d7 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate08 {position:absolute; top:0; right:0; background:url('../images/sym08.png') #006aa6 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate09 {position:absolute; top:0; right:0; background:url('../images/sym09.png') #5600ae 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate10 {position:absolute; top:0; right:0; background:url('../images/sym10.png') #c300cf 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate11 {position:absolute; top:0; right:0; background:url('../images/sym11.png') #cf007a 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
.art-cate12 {position:absolute; top:0; right:0; background:url('../images/sym12.png') #ff0054 0 0 no-repeat; width:40px; height:40px; border-radius:3px;}
a:hover .art-cate01, a:hover .art-cate02, a:hover .art-cate03, a:hover .art-cate04, a:hover .art-cate05, a:hover .art-cate06, a:hover .art-cate07, a:hover .art-cate08, a:hover .art-cate09, a:hover .art-cate10, a:hover .art-cate11, a:hover .art-cate12 {transition:#000 0.5s ease 0s; -webkit-transition:all 0.5s ease 5s; background-color:#222;}

.bk-latest {border-top:#777 solid 5px; display:block; clear:both;}
.bk-latest .bk-hd {background:url(../images/itechpost-sprite.png) 0 -260px no-repeat; width:225px; height:50px; text-align:center; margin:-15px auto 10px auto;}
.bk-latest .bk-hd * {color:#fff; font-size:20px !important; line-height:32px !important;}
.bk-latest .bk-hd .ttl-lft {float:none;}
.bk-latest .art-img {float:left; margin-right:12px; margin-bottom:10px; width:120px;}
.bk-latest .art-list li, .bk-latest .art-list ul {list-style:none;}
.bk-latest .bd-con {float:left; width:395px; position:relative; margin-bottom:20px;}
.bk-latest .art-ttl {font-size:14px; line-height:16px; font-weight:bold; padding:10px 0; border-top:#ddd solid 1px; clear:both;}
.bk-latest .art-ttl strong { line-height:20px; font-weight:bold;}
.bk-latest .art-cate00 {font-size:20px; line-height:40px; padding-left:50px;}
.bk-latest .art-cate00 * {left:0 !important; }
.bk-latest .art-ttl:after {clear:both;}
.bk-latest .f-rht {float:right !important;}

.bk-subhead {border-top:#777 solid 5px;}
.bk-subhead .bk-hd {background:url(../images/itechpost-sprite.png) 0 -260px no-repeat; width:225px; height:50px; text-align:center; margin:-15px auto 10px auto;}
.bk-subhead .bk-hd * {color:#fff; font-size:20px !important; line-height:32px !important;}
.bk-subhead .bk-hd .ttl-lft {float:none;}
.bk-subhead .bk-hd .ttl-lft h2 {text-transform:uppercase;}
.bk-subhead .bk-bd a {display:block; padding:15px 0; border-bottom:#eee solid 1px;}
.bk-subhead .art-img {float:left; width:120px; margin-right:15px;}
.bk-subhead .art-ttl {font-size:22px; line-height:24px;}
.bk-subhead .art-sum strong {color:#F74D4C !important;}
.bk-subhead .bk-bd a:hover {border-color:#ddd !important;}
.bk-subhead .bk-hd a {color:#666;}

.bk-sideview .bk-con {width:100%; height:195px; position:relative; z-index:20; margin-bottom:10px;}
.bk-sideview .bk-con .art-img {width:100%; height:195px; opacity:1;}
.bk-sideview .bk-con .art-txt {position:absolute; width:100%; height:195px; bottom:0; left:0; background:url('../images/bg-cover-sideview.png') 0 0 repeat; z-index:10;}
.bk-sideview .bk-con .art-ttl {position:absolute; bottom:20px; padding-left:20px; padding-right:20px; font-size:22px; line-height:24px; color:#fff; text-shadow:0 0 8px #444, -1px -1px 0 rgba(68, 68, 68, 1), 1px -1px 0 rgba(68, 68, 68, 1), -1px 1px 0 rgba(68, 68, 68, 1), 1px 1px 0 rgba(68, 68, 68, 1);}
.bk-sideview .bk-con .art-sum {display:none; position:absolute; bottom:20px; padding-left:20px; padding-right:20px; font-size:12px; line-height:16px; color:#ddd;}
.bk-sideview .bk-con a:hover .art-txt {transition:all 0.5s ease 0s; -webkit-transition:all 0.3s ease 0s; background:url('../images/bg-cover-sideview-hover.png') 0 0 repeat; }
.bk-sideview .bk-con a:hover .art-ttl {display:none;}
.bk-sideview .bk-con a:hover .art-sum {display:block;}
.bk-sideview .bk-hd {position:absolute; left:20px; top:-7px; background:url('../images/itechpost-sprite.png') 0 -320px no-repeat; width:132px; height:40px; text-align:center; z-index:30;}
.bk-sideview .bk-hd * {color:#fff; font-size:16px; line-height:34px;}
.bk-sideview .bk-start .bk-hd {background-position:0 -320px;}
.bk-sideview .bk-con a:hover .art-img {opacity:1;}
.bk-sideview .bk-con a:hover .art-ttl {color:#fff;}
.bk-blockboxes {margin-bottom:15px;}
.bk-blockboxes .bk-sideview .bk-con, .bk-blockboxes .bk-sideview .bk-con .art-img, .bk-blockboxes .bk-sideview .bk-con .art-txt {margin:0; height:240px; box-shadow:0 0 50px 0 #000 inset; background:none;}
.bk-blockboxes .bk-sideview .bk-hd {background-position:right -380px; line-height:28px; left:0; top:15px; width:auto; padding-left:20px; padding-right:35px;}
.bk-blockboxes .bk-sideview .bk-hd * {line-height:28px; font-size:18px;}
.bk-blockboxes .bk-sideview .bk-con.m1 .art-ttl, .bk-blockboxes .bk-sideview .bk-con.m6 .art-ttl {font-size:30px; line-height:32px;}
.bk-blockboxes .bk-sideview .bk-con .art-ttl {text-shadow:1px 1px 5px #000, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;}
.bk-blockboxes .bk-sideview .bk-hd strong {font-weight:normal; color:#e93a39;}
.bk-blockboxes .bk-sideview .m1.bk-con a:hover .art-txt {background:url('../images/bg-cover-weekend-hover1.png') 0 0 repeat;}
.bk-blockboxes .bk-sideview .m2.bk-con a:hover .art-txt {background:url('../images/bg-cover-weekend-hover2.png') 0 0 repeat;}
.bk-blockboxes .bk-sideview .m3.bk-con a:hover .art-txt {background:url('../images/bg-cover-weekend-hover3.png') 0 0 repeat;}
.bk-blockboxes .bk-sideview .m4.bk-con a:hover .art-txt {background:url('../images/bg-cover-weekend-hover4.png') 0 0 repeat;}
.bk-blockboxes .bk-sideview .m5.bk-con a:hover .art-txt {background:url('../images/bg-cover-weekend-hover5.png') 0 0 repeat;}
.bk-blockboxes .bk-sideview .m6.bk-con a:hover .art-txt {background:url('../images/bg-cover-weekend-hover6.png') 0 0 repeat;}
.bk-blockboxes .bk-con:hover {-webkit-box-shadow:0 0 1px 0 #999, 1px 1px 7px 5px #222; box-shadow:0 0 1px 0 #999, 1px 1px 7px 5px #222; z-index:70;}

.bk-sidelist {border:#777 solid 5px;}
.bk-sidelist .bk-hd {background:url('../images/itechpost-sprite.png') 0 -180px no-repeat; width:153px; height:38px; text-align:center; margin:-15px auto 0 auto;}
.bk-sidelist .bk-hd * {color:#fff; font-size:16px; line-height:22px;}
.bk-sidelist .bk-hd .ttl-lft {float:none;}
.bk-sidelist .bk-bd {padding:15px 18px;}
.bk-sidelist ol {width:100%; list-style:none; margin:0; padding:10px 0;}
.bk-sidelist ul {list-style:none; margin:0; padding:10px 0;}
.bk-sidelist li {padding:7px 0; color:#000; font-size:30px; line-height:30px; font-weight:normal; clear:both;}
.bk-sidelist .bk-con a {clear:both;}
.bk-sidelist .art-txt {display:inline-block; width:100%;}
.bk-sidelist .art-img {float:left; width:150px; margin-right:15px;}
.bk-sidelist .art-ttl {font-size:14px; line-height:16px; color:#777; font-weight:bold;}
.bk-sidelist .art-cate00 {color:#000; font-size:30px; line-height:30px; float:left; display:inline-block; letter-spacing:-0.12em;}

.bk-sidemust .bk-hd {background-position:0 -220px;}
.bk-sidemust .art-ttl {color:#000;}
.bk-sidemust .art-txt {float:none; width:100%; display:block;}

.bk-relateds {float:left; width:240px; margin-right:15px; margin-bottom:15px; border:#999 solid 5px; clear:left;}
.bk-relateds .bk-hd {background:url('../images/itechpost-sprite.png') 0 -180px no-repeat; width:153px; height:38px; text-align:center; margin:-15px auto 0 auto;}
.bk-relateds .bk-hd * {color:#fff; font-size:16px !important; line-height:22px !important;}
.bk-relateds .bk-hd .ttl-lft {float:none;}
.bk-relateds .bk-con {padding:15px 0;}
.bk-relateds .art-img {float:left; width:74px; margin-right:12px;}
.bk-relateds .art-ttl {font-size:14px; line-height:15px;}

.bk-sidefbook {margin:15px auto; padding:5px; width:300px; background-color:#eee;}

.bk-sidevid {margin:15px auto; padding:5px 0; width:350px; background-color:#eee; text-align:center;}
.bk-sidebn {margin:15px auto; padding:15px 25px; width:300px; background-color:#eee; text-align:center;}
.bk-ftrbn, .bk-hdrbn {margin:0 auto; width:728px;}
.uni-ftrbn, .uni-hdrbn {background-color:#eee; padding-top:5px; padding-bottom:5px;}

.bk-pagetitle {font-size:40px; line-height:54px; color:#222; /*border-bottom:#999 solid 3px*/}
.bk-pagetitle * {vertical-align:middle;}
.bk-navigation {text-align:center; margin:0 auto;}
.bk-navigation a, .bk-navigation .num-default {font-size:12px; line-height:20px; display:inline-block; border:3px solid #ddd; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; color:#777; padding:0 7px; margin:0 2px;}
.bk-navigation a .num-default {border:none; padding:0; background:none; box-shadow:none;}
.bk-navigation a:hover {border:3px solid #bbb;}
.bk-navigation .current {color:#000 !important; font-weight:bold;}
.bk-loadmore.bk-navigation a, .bk-loadmore.bk-navigation .num-default {font-size:14px; line-height:36px; font-weight:bold; padding:0 12px;}

.story-contents {padding:10px 0;}
.story-contents p, .story-contents li, .story-contents dl, .uni-main .txt {padding:7px 0; line-height:23px; font-size:16px;}
.story-contents ul, .story-contents li, .story-contents dl {padding:5px 0; margin: 0 10px;}
.story-contents p a {text-decoration:underline; color:#004488;}
.story-contents p a:hover {color:#008EDF !important;}
.story-contents blockquote {border-left:#666 solid 5px; padding:3px 0 3px 20px;}
.story-contents .imgbox {margin:7px 0 14px 0;}
.story-contents .caption {font-size:11px;padding:7px 15px 10px;background:#333;color:#999;}
.story-contents .videocontent {margin: 0 auto; display: block; max-width:100%;}
.story-source {border-top:#eee solid 2px; font-size:11px; line-height:18px; color:#999; padding:5px 0;}
.story-headline {font-size:38px; line-height:38px; padding-bottom:10px; text-transform:none;}
.story-tools {border:1px solid #eee; line-height:22px; font-size:12px; color:#666; list-style:none; padding:6px 0 0 0;}
.story-tools li {float:left; list-style:none; padding:0 3px;}
.story-tools .tools-email, .story-tools .tools-print {float:right;}
.story-tools .tools-email a {background:url('../images/tools-email.png') 0 0 no-repeat; height:20px; padding-left:24px; display:inline-block;}
.story-tools .tools-print a {background:url('../images/tools-print.png') 0 0 no-repeat; height:20px; padding-left:24px; display:inline-block;}
.story-tools .tools-comments {padding-left:10px;}
.story-tools .tools-email a:hover, .story-tools .tools-print a:hover {background-position:0 -20px;}
.story-picture, .imageNone, .imageLeft, .imageRight, .story-contents .frame_img {margin:0 auto 10px auto; text-align:center; max-width:710px;}
.story-picture .story-picture-caption, .imageNone .caption, .imageLeft .caption, .imageRight .caption, .story-contents .frame_txt {color:#666; font-size:11px; line-height:14px; padding:7px 0; display:block; margin:0 auto;}
.story-contents .story-slides .frame_txt {text-align:center;}
.story-picture, .imageNone, .story-contents .frame_img {clear:both;}
.imageLeft {float:left; margin-right:20px; clear:left;}
.imageRight {float:right; margin-left:20px; clear:right;}
.story-posted {line-height:24px; font-size:12px; color:#666; border-bottom:#eee solid 2px;}
.story-posted .posted-by {float:left; padding-left:10px; line-height:22px; font-size:12px; color:#666; font-weight:bold;}
.story-posted .posted-by em {font:#999; font-weight:normal;}
.story-posted .posted-time {float:right; padding-right:10px; line-height:22px; font-size:12px; color:#666;}
.story-comment .bk-bd {padding:10px 0;}
.story-tags strong {background-color:#222; font-size:12px; line-height:18px; color:#fff; padding:0 5px; display:inline-block; margin-right:7px; border-radius:2px;}
.story-tags a {text-decoration:underline; padding:0 3px;}
.story-slides {display:block; position:relative;}
.story-slidebtn ul, .story-slidebtn li {list-style:none; padding:0; margin:0;}
.story-slidebtn {height:30px;}
.story-slidebtn ul {width:272px;}
.story-slidebtn li {float:left; margin:0 5px; width:58px; height:22px; font-size:12px; line-height:22px; text-align:center;}
.story-slidebtn li a {width:58px; height:22px; display:block;}
.story-slidebtn .bt_end a, .story-slidebtn .bt_next a {background:url('../images/slideshow-btn-rht.png') center no-repeat;}
.story-slidebtn .bt_prev a {background:url('../images/slideshow-btn-lft.png') center no-repeat;}
.story-slidebtn li a {color:#113;}
.story-img {float:left; clear:left; width:450px; margin-right:15px; margin-bottom:15px; background-color:#eee; position:relative; line-height:0; box-shadow:0 1px 3px #aaa;}
.story-img_bigImag {clear:left; width:100%; margin-right:15px; margin-bottom:15px;  position:relative; line-height:0; }
.story-picture_bigImag {max-width: 100%;   text-align: center;}
.story-picture_bigImag img {max-width: 100%;}
.story-img .art-txt {position:relative; font-size:11px; line-height:16px; color:#666; padding:5px 10px 8px 10px;}
.story-img .art-txt em {font-style:normal; color:#555; font-weight:bold;}
.story-img.bk-in {width:250px;}
.story-img.bk-in .art-img {width:250px;}
.story-img.bk-out {width:600px;}
.story-img.bk-out .art-img {width:600px;}
.story-img.bk-in .btn-out {position:absolute; width:30px; height:30px; top:-30px; right:0; background:url(../images/btn-in.png) 0 0 no-repeat #222; cursor:pointer;}
.story-img.bk-out .btn-out {position:absolute; width:30px; height:30px; top:-30px; right:0; background:url(../images/btn-out.png) 0 0 no-repeat #222; cursor:pointer;}

article {margin-bottom:25px;}
article a:hover {color:#D80000 !important;}

/*.story-comment {border-top:#777 solid 5px;}*/
.story-comment .bk-hd {background:url('../images/itechpost-sprite.png') 0 -260px no-repeat; width:225px; height:50px; text-align:center; margin:-15px auto 10px auto;}
.story-comment .bk-hd * {color:#fff; font-size:20px !important; line-height:32px !important;}
.story-comment .bk-hd .ttl-lft {float:none;}

.story-slidebtn .bt_number {text-align:center; width:57px; line-height:22px;}

#head_slide {font-weight:bold; font-size:16px; margin-bottom:15px; line-height:20px;}
.newsphoto_area img {max-width:650px;}
.story-slides .story-picture {overflow:hidden;}
.story-slides .story-picture .frame_click {position:absolute; width:100%;}
.story-slides .story-picture .frame_click img {width:100%; height:100%;}
.story-slides .story-picture .frame_click a:hover img {background:url('../images/bt-slideshow-start.png') 50% 60% no-repeat;}
.story-slides .story-picture .frame_click.current a:hover img {background:url('../images/bt-slideshow-pause.png') 50% 60% no-repeat;}
.showtime {position:absolute; width:100%; height:490px; z-index:100; top:0;	left:0;}
.slideshow_start, .slideshow_pause, .slideshow_restart {width:100%; height:490px; background-attachment:initial; background-clip:initial; background-color:initial; background-image:url('../images/bt-slideshow-start.png'); background-origin:initial; background-position:50% 50%; background-repeat:no-repeat; cursor:pointer;}
.slideshow_pause {background-image:url('../images/bt-slideshow-pause.png');}
.slideshow_restart {background-image:url('../images/bt-slideshow-restart.png');}

.nw_cont {overflow:hidden; font:12px/15px Arial, Helvetica, sans-serif; background-color:#eee; height:auto; min-height:40px; padding:15px 10px 10px 10px; margin:15px 0; clear:both;}
.nw_cont .nw_icon_newsletter {padding-left:15px; height:31px; padding-top:7px; color:#444;}
.nw_cont .nw_icon_newsletter .tet{color:#444;}
.nw_cont .nw_form_newsletters{width:270px; float:right; margin-left:10px;}
.nw_cont .newsletters_form {height:25px; border:1px solid #cccccc; width:170px; padding:0 3px;}
.nw_cont .newsletters_btn {background-color:#545454; height:27px; color:#fff; padding:0 5px; border:none; cursor:pointer;}
.nw_cont .newsletters_btn:hover {background-color:#333;}
.nw_cont .nw_comment:before {border-bottom:8px solid #EAEAEA; border-left:6px solid transparent; border-right:6px solid transparent; bottom:100%; content:""; height:0; left:30px; position:absolute; z-index:10; width:0;}
.nw_cont .nw_comment {background:none repeat scroll 0 0 #EAEAEA; border-radius:6px; clear:both; color:#777; float:left; margin-top:5px; padding:5px 10px; position:relative; width:230px; font-size:12px;}

.bk-subart .bk-bd {padding:15px 0;}
.bk-subart .bk-con {float:right; width:460px; display:block; margin-left:20px; padding-bottom:10px;}
.bk-subart .bk-start {float:left; width:230px; display:block; margin:0;}
.bk-subart .art-img {width:74px; float:left; margin-right:12px; margin-bottom:10px;}
.bk-subart .bk-start .art-img {width:230px; float:none; margin:0;}
.bk-subart .art-txt {float:right; border-bottom:#eee solid 1px; width:100%;}
.bk-subart .art-ttl {font-size:14px; line-height:18px; font-weight:bold; }
.bk-subart .bk-start .art-ttl {font-size:28px; line-height:28px; }
.bk-subart .bk-bd a:hover {border-color:#048 !important;}
.bk-subart .bk-hd a {color:#666;}

.bk-disc {border:#eee solid 2px; border-top:#aaa solid 2px; padding:20px 25px; margin-bottom:25px;}
.bk-disc p {font-size:13px; line-height:18px;}
.bk-disc p a {font-weight:bold; color:#dd0000;}

.ad-sample { width: 100%; clear: both;}
.ad-sample:before, .ad-sample:after { content: ""; display: table; }
.ad-sample:after { clear: both; }
.ad-sample span {text-align: center; font-size: 0.688em; text-transform: uppercase; color: #ddd; margin-bottom: 0.625em; display: block; clear: both; }

@media screen and (max-width:1140px) {
.uni-innerwrap {width:980px}
.uni-nav .uni-m a {font-size:13px;}
.uni-main {width:600px;}
.uni-contents .uni-innerwrap {background-position:624px 0;}
.uni-home .f-lft {width:610px;}
.uni-social {width:150px;}
.uni-social strong {display:none;}
.bk-headline ul {width:95px;}
.bk-headline .bk-con .art-txt {display:none;}
.bk-picks .bk-bd {width:880px;}
.bk-picks a {font-size:14px; line-height:16px;}
.bk-photos .art-img {overflow:hidden;}
.bk-photos .bk-con .art-img img {width:290px;}
.bk-photos .bk-start .art-ttl {font-size:20px; line-height:22px;}
.bk-photos .f-lft, .bk-photos .f-rht, .bk-latest .bd-con {width:290px;}
.uni-ftr .bk-col2 {width:320px;}
.uni-ftr .bk-col2 li {width:160px;}
#fixme {margin-left:-660px !important;}
.story-picture, .imageNone, .imageLeft, .imageRight, .story-contents .frame_img {max-width:600px;}
.story-picture img, .imageNone img, .imageLeft img, .imageRight img, .story-contents .frame_img img {max-width:570px;}
}

/* Top Leaderboard 970x90, 970x250, 728x90 */
.ad_tlb {
    width:970px;
    margin:0 auto;
    text-align:center !important;
    overflow:hidden;
}
.ad_tlb table {
    display:inline-table;
}

/* Bottom Leaderboard 728x90 */
.ad_blb {
    width:728px;
    margin:0 auto;
    text-align:center !important;
    overflow:hidden;
}
.ad_blb table {
    display:inline-table;
}

/* Sidebar Rectangle 300x250, 300x600 */
.ad_rtg300 {
    width:300px;
    margin:0 auto;
    text-align:center !important;
    overflow:hidden;
}
.ad_rtg300 table {
    display:inline-table;
}

/* Rectangle 336x280, 300x250 */
.ad_rtg336 {
    width:336px;
    margin:0 auto;
    text-align:center !important;
    overflow:hidden;
}
.ad_rtg336 table {
    display:inline-table;
}

/* Rectangle 250x250 only */
.ad_rtg250 {
    width:250px;
    text-align:center !important;
}
.ad_rtg250 table {
    display:inline-table;
}