html, body{
  height:100%;
}
body {
	margin:0 0 0 0;
	font-family: 'Exo', Arial, sans-serif !important;
	font-weight:400;
	font-size: 15px;
	background:#fff;
}

a {
   outline: 0;
}

.jp-container {
	height:90px;
	width:100%;
	min-width:200px !important;
	position:relative;
	background: #fff;
}

.jp-thumbnail {
	height:90px;
	width: 90px;
	background: #000 !important;
	float:left;
}

.button-type-square, .pw-size-large {
	width:18% !important;
}



.jp-jplayer img#jp_poster_0 {
	display:block;
	height:100% !important;
	width:auto !important;
	max-width: 100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	
}

#jp_video_0, .bc  {
	cursor:hand;
	cursor:pointer;
}

.jp-all-controls {
	height:100%;
	width:calc(100% - 92px);
	margin-left:2px;
	float:left;
	overflow:hidden;
	position:relative;
}
.jp-top-controls {
	width:100%;
	height:59px;
	background: #fff;
	float:left;
	display:inline-block;
	white-space: nowrap;
	background: #fff;
}
.jp-top-controls img {
	width:70%;
	padding:20%;
	cursor:pointer;
	cursor:hand;
}
.jp-bottom-controls {
	margin-left:3px;
	width:100%;
	height:35px;
	max-height: 30px !important;
	background: #fff;
	float:left !important;
	white-space: nowrap !important;
	display:inline !important;
	vertical-align: top !important;
	position:relative;
}

.bottom-control-set {
	float:left;
	white-space: nowrap !important;
	vertical-align: top !important;
	overflow:hidden !important;
	height:25px !important;
	min-height:25px !important;
	border-right:1px solid #E9E8E8;
	border-left:1px solid #E9E8E8;
	border-bottom:1px solid #E9E8E8;
	position:relative;
}
.bottom-control-set-left {	
	height:100%;
	margin-right:2px;			
	width:40%;				
	max-width:40% !important;
	min-width:40% !important;					
	float:left;
	margin-top:5px;
	overflow:hidden !important;
}

.bottom-control-set-middle {
	height:100%;
	margin-right:2px;			
	width:40%;				
	min-width:40% !important;
	float:left;
	margin-top:5px;
	overflow:hidden !important;
}
.bottom-control-set-right {
	height:100%;
	float:left;
	white-space: nowrap !important;
	vertical-align: top !important;
	overflow:hidden !important;
	margin-top:5px;
}

.bc {
	overflow:hidden;
	height:25px;
	font-size:0.8em;
	background:white;
	text-align:center;
	float:left;
	vertical-align:top;
}

.bc svg {
	height: 61%;
	margin-top:5px;
	cursor:hand;
	cursor:pointer;
}

.bc-resource-controls {
	width:25%;
	min-width:25%;
	max-width:25%;
	text-align:center;
}

.bc-resource-controls svg {
	height: 70% !important;
	margin-top:2px !important;
	cursor:hand;
	cursor:pointer;
	fill: #000 !important; /*these will not change colors */
}

.jp-rss img {
	width:auto;
	height:65%;
	margin-top:2px;
}

.bc-resource-controls path,  .bc-resource-controls circle, .bc-resource-controls line, .bc-resource-controls polyline, .bc-resource-controls polygon {
	stroke: #000 !important;
}

.jp-rss {
	margin-top:0px !important;
}

/*failsafe logo*/
.jp-logo {
	background: url("http://ssl-static.libsyn.com/p/assets/platform/html5player/libsyn-player-custom.png "); 
	background-position: 45% 3px !important;
    background-size: 55px !important;
}


.play-pause {
	margin-left:3px;
	height:57px;
	width:calc(14.5% - 3px);
	min-width: 50px;
	float:left;	
	background: #fff;
	border:1px solid #E6E5E5;
	overflow:hidden;
}

.play-pause svg {
	width:70%;
	height:70%;
	display:block;
    margin: 10px auto;
}


.title-and-progress {
	margin-left:2px;
	height:100%;
	/*width:calc(100% - 77px) !important;*/
	width:85% !important;
	overflow:hidden;
	display:inline-block;
}

.jp-title-podcast {
	width:100% !important;
	float:left;
	text-transform: uppercase;
	background:#fff;
	color:lightgrey;
	padding-left:2px !important;
	font-size:.8em;
}
.jp-title {
	width:calc(100% - 2px) !important;
	height:18px;
	float:left;
	background:#fff;
	color:black;
	padding-left:2px !important;
	margin-bottom:1px;
	white-space: nowrap;
	overflow:hidden;
  	text-overflow: ellipsis !important;
  	font-family: 'Open Sans', Arial, sans-serif !important;
  	font-weight:600;
  	font-size:13px;
}

.progress-bar {
	width:100%;
	height:30px;
	float:left;
	background: #E6E5E5;
	font-size:0.75em;
	min-width:10px !important;
}
.jp-current-time {
	margin-top:5px;
}
.jp-seek-bar {
	background: #E6E5E5;
	height: 100%;
	width:100% !important;
}
.jp-seek-bar:hover {
	cursor:hand;
	cursor:pointer;
}
.jp-play-bar {
	background-color: #96D77F;
	height: 100%;
	width:100%;
}

.jp-playlist {
	width:100%;
	height:auto;
	overflow-x:hidden;
	overflow-y:auto;
	background-color: #E6E5E5;
    margin-top:3px;
	float:left;
	z-index: 1;
	border-bottom:1px solid #E2E1E1;
}

.jp-playlist ul {
	margin-top:0px;
	padding: 0px;
    list-style-type: none;
    margin-bottom:0;
}

.jp-playlist li {
	height:48px;
	background:#fff;
	border-bottom:1px solid #E6E5E5;
	padding:3px;
}

.jp-playlist li a {
	font-size: .85em;
    cursor: pointer;
	color:#000;
	text-decoration: none;
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-weight:400;
}

.jp-playlist li a:hover {
	 color: #96D77F;
}

a.jp-playlist-item:before {
	display: inline-block;
	width: 50px;
	height: 50px;
	content: "";
	background: url("/img/svg/play.svg") no-repeat;
	background-size: 35%;
	margin-left:3px;
	float:left;
	display:block;
}


a.jp-playlist-current:before {
	display: inline-block;
	width: 50px;
	height: 50px;
	content: "";
	background: url("/img/svg/wave.svg") no-repeat;
	background-size: 85%;
	margin-left:3px;
	float:left;
	display:block;
}

.jp-playlist-current {
	color: #96D77F !important;
}


.playlistItemContainer {
	width:100%;
	height:50px;
	overflow:hidden;
	font-size: 11pt;
	position:relative;
	white-space: pre-wrap;
}

.playlistItemImg {
	height:100%;
	width:20%;
	width:50px;
	float:left;
}

.playlistItemImgLock {
	position:absolute;
	height:50px;
	width:50px;
	background-color: rgba(0, 0, 0, 0.4);
	background-image:url("/img/svg/lock.svg");
	background-size:50%;
	background-position:center;
	background-repeat:no-repeat;
}

.playlistTitleContainer {
	height:33px;
	width:calc(100% - 50px);
	float:left;
	font-weight:bold;
  	text-overflow:ellipsis;
  	line-height: 15px;
  	overflow:hidden;
}

.playlistItemDurationContainer {
	height:25px;
	width:calc(100% - 50px);
	background:#fff;
	float:left;
	text-align:left;
	text-indent:55px;
}

.playlistDuration{
	width:50%;
	height:100%;
	text-indent:53px;
	font-size: .8em;
	float:left;
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-weight:300;
}

.playlistInfo {
	width:50%;
	height:100%;
	background:30px;
	text-align:right;
	float:left;
}

.playlistDate {
	font-size: .8em;
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-weight: 300;
    float:right;
    white-space: nowrap;
    width:auto;
    height:100%;
    text-align: left;
    margin-right: 5px;
}

.playlistItemInfo {
	float:right;
	background: url("/img/svg/info.svg") no-repeat;
	background-size: 65%;
	width:25px;
	height:15px;
	display:block;
}

.playlistItemDescription {
	font-weight:bold;
	color:#000;
	text-align:left;
	font-size:.85em;
	background: #fff;
	width:99%;
	height:75px;
	overflow-x:hidden;
	overflow-y:auto;
	border:1px solid #E6E5E5;
	display:block;
	padding-left:1%;
	margin-top:2px;
	margin-bottom:2px;
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-weight:400;
}

.playlistItemDescription a {
	color:#0000EE !important;
}

.playlistItemDescription p {
	margin-top:1px;
}

svg {
	cursor:pointer;
	cursor:hand;
	/*default - overidden by user value */
	fill: #96D77F;
}


/* custom css for the scrollbar */
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
	background-color: #CDCDCD;
	width:90%; 
	position:relative;
	z-index:1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ 
	background-color: #E6E5E5;
	width:80px;
	border-radius:0px;
	z-index:2;
} 


/* custom css for overlay*/
.jp-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	z-index:10;
	height:100%;
	width:100%;
	display:none;	
}

.jp-whitebox {
	background:#fff;
	position:relative;
	width: 95%;
	height: auto;
    margin: 0 auto;
    margin-top:4px;
    padding: 2px;
    z-index:11;
    opacity:1;
}

.jp-close-overlay {
	display:block;
	background:transparent;
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	z-index: 500000;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
	color:black;
	cursor:hand;
	cursor:pointer;
}
.jp-close-overlay:after {
	content: '✖'; /* UTF-8 symbol */
}

.share-icon {
	width:18%;
	height:35px;
	cursor:pointer;
	cursor: hand;
}
.embed_code {
	width:100%;
	height:80px;
	resize:none;
	font-size:.8em;
	float:left;
	margin-left:1;
}

textarea#embed_code {
	height:68px !important;
	width:95%;
	margin-bottom:0px !important;
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-size:10.5px;
	word-wrap: break-word;
	overflow-y: hidden;
}

textarea#embed_code:focus {
	outline: none;
}

.video-large {
  	height: 100% !important;
  	width: 100% !important;
  	position:absolute !important;
  	z-index:400 !important;
}

.jp-mini-controls {
	width:100%;
	height:25px;
	background-color: #fff;
    bottom:0;
    left:0;
	float:left;
	position:absolute;
	opacity: .90;
	z-index: 500 !important;
	display:none;
}

.jp-full-screen {
	height:100%;
	float:left;
	cursor:pointer;
	cursor:hand;
}

.jp-fullscreen-controls {
	padding:3px;
	width:100%;
	height:30px;
	background-color: #fff;
    bottom:0;
    left:0;
	float:left;
	position:absolute;
	opacity: .90;
	z-index: 2147483646;
	display:none;
}


.jp-fullscreen-mode {
	background : #000;
	position: fixed;
	z-index : 1000;
	top:0;
	left : 0;
	min-height : 100%;
	width:auto;	
}

.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 10px; 
	display:none;
	z-index: 6 !important;
	background: #fff;
}

.loading .sk-rect {
	background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: loadingStretchDelay 1.2s infinite ease-in-out;
            animation: loadingStretchDelay 1.2s infinite ease-in-out; 
}
.loading .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; 
}
.loading .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .loading .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .loading .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .loading .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }

@-webkit-keyframes loadingStretchDelay {
	0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes loadingStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

.spinner {
  margin: 0;
  width: 100%;
  text-align: center;
  height:25px;
  margin-top:5px;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@media only screen and (max-width: 705px) {
	.jp-title, .jp-playlist li a, .playlistItemDescription {
		font-size:.75em;
	}
	.playlistDuration, .playlistDate {
		padding-top: 2px;
		font-size:.60em;
	}

	.bc-audio-controls {
		min-width:33% !important;
	}
}

@media only screen and (max-width: 456px) {
	.title-and-progress {
		width: calc(100% - 50px) !important;
		min-width: calc(100% - 50px) !important;
	}
}

@media only screen and (max-width: 449px) {
	.bottom-control-set-right {
		display:none;
	}
	.bottom-control-set-left {
		width:50% !important;
		min-width:50% !important;
	}
	.bottom-control-set-middle {
		min-width:calc(50% - 10px) !important;
	}
	svg {
		width:15px;
		height:15px;
	}
	
}

@media only screen and (max-width: 380px) {
	.jp-current-time {
		font-size:11px;
		margin-top:6px;
	}
	.jp-forward-thirty, .jp-back-thirty {
		font-size:11px;
	}
}

@media only screen and (max-width: 345px) {
	.jp-current-time {
		font-size:12px !important;
		margin-top:5px !important;
	}
	.jp-forward-thirty, .jp-back-thirty, .jp-next, .jp-previous {
		display:none !important;
	}
	.bc-audio-controls {
		min-width:100% !important;
	}
	.bottom-control-set-left {
		width:40% !important;
		min-width:40% !important;
	}
	.bottom-control-set-middle {
		min-width:calc(60% - 8px) !important;
	}
	.playlistTitleContainer {
		width:100%;
	}
	.playlistItemDurationContainer {
		width:100%;
	}
	.playlistItemImgLock {
		height:33px;
		width:40px;
	}

}

@media only screen and (max-width: 400px) {
	/* mini controls */
	.elapsed-time-mini {
		min-width:50px !important;
		width:50px !important;
	}
	.jp-current-time-mini {
		font-size:.8em !important;
		margin-top:7px !important;
	}
	#jp-status-bar-mini {
		width:calc(75% - 65px) !important;
		min-width:calc(75% - 65px) !important;
	}
	.jp-full-screen-mini, .jp-reset-view-mini {
		width:10% !important;
		min-width:10% !important;
	}
}

