@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body, html {
	height: 100%;
}
img, fieldset, a img {
	border: none;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
	-webkit-appearance: none;
}
input[type="submit"], button {
	cursor: pointer;
}
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
padding: 0;
border: 0;
}
textarea {
	overflow: auto;
}
input, button {
	margin: 0;
	padding: 0;
	border: 0;
}
div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
	outline: none;
}
ul, ol {
	list-style-type: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
.disable-hover {
	pointer-events: none !important;
}
* {
	box-sizing: border-box;
}
a {
	color: inherit;
}
textarea {
	resize: none;
}
.clear {
	clear:both;
}
/*------------------------------------------------------------------------- */
/*----------------------------- MAIN STYLES ------------------------------- */
/*------------------------------------------------------------------------- */
a, a:hover, a:focus {
	text-decoration: none;
}
body {
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	min-width:320px;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	padding-bottom: 57px;
}
.container {
	max-width: 1024px;
	margin:0 auto;
}
/* Header */
.header {
	height: 435px;
	background-color: #000;
}
.header .black-box {
	background: url(../images/bg.png) no-repeat center center;
	background-size: cover;
	opacity:0.3;
	width:100%;
	height: 435px;
	position:absolute;
	top:0;
	left:0;
	right:0;
}
.header .container {
	padding: 54px 54px 0 54px;
	position:relative;
}
.logo {
	background:url(../images/logo.png) no-repeat center top;
	width:179px;
	height:25px;
}
.header h1 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 25px;
	text-align: center;
	font-weight: 400;
	line-height: 43px;
	margin: 65px auto 0;
	max-width:700px;
}
.header h1 span {
	font-size:70px;
	line-height: 60px;
}
.header h1 span.bold {
	font-weight:700;
}
/* Article */
.article {
	padding-top: 18px;
	padding-bottom: 37px;
	width: 960px;
	margin: 0 auto;
}
.article h2 {
	color:#292c33;
	font-size:36px;
	font-weight:700;
	line-height:30px;
}
.article .f-left {
	float: left;
	margin: 20px 20px 0;
	width: 440px;
	height:388px;
	padding: 40px 30px;
}
.article ul {
	padding-left: 60px;
	margin-top: 43px;
}
.article ul li {
	text-align: left;
	min-height: 30px;
	color: #292c33;
	font-size: 18px;
	padding: 0;
	position: relative;
	margin-top: 10px;
	height: 45px;
	margin-left: 13px;
	line-height: 20px;
}
.article ul li span {
	background: url(../images/icon_li.png) no-repeat left 0px;
	width: 59px;
	height: 34px;
	color: #fff;
	position: absolute;
	left: -68px;
	padding: 6px 48px 16px 12px;
	top: -7px;
}
.webmaster {
	background:#f7f7f7 url(../images/bg_girl.png) no-repeat right bottom;
}
.addmaster {
	background:#f7f7f7 url(../images/bg_boy.png) no-repeat right bottom;
}
/* Register */
.register {
	padding-top: 15px;
	padding-bottom: 30px;
	color: #fff;
	background:#292c33;
}
.register-wrap {
	text-align: center;
	max-width:550px;
	margin:0 auto;
}
.register h3 {
	font-size: 36px;
	font-weight: 700;
	line-height: 70px;
}
.register p {
	line-height: 22px;
	margin-top: 10px;
	padding:0 10px;
	max-width:620px;
}
.register p a {
	font-weight:700;
}
.register .form-register {
	margin: 25px 58px;
}
.register .form-register .help-block.form-error {
	display: block;
	margin-top: 5px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #ff7d5b;
	line-height: 1.1;
}
.register .field + .field {
	margin-top: 10px;
}
.register .field:last-child {
	margin-top: 20px;
}
.register .green-btn {
	width: 120px;
	height: 50px;
}
.register .form-input[name="user_name"] {
	background:#202328 url(../images/icon_name.png) no-repeat 10px 10px;
}
.register .form-input[name="user_email"] {
	background: #202328 url(../images/icon_email.png) no-repeat 10px 10px;
}
.register .form-input {
	padding: 0 15px 0 40px;
	height: 46px;
	width: 100%;
	line-height: 50px;
	vertical-align: bottom;
	font-size: 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 2px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.7);
	resize: none;
	width: 100%;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.register .form-textarea {
	padding: 5px 15px 5px 40px;
	width: 100%;
	line-height: 22px;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
	background: #202328 url(../images/icon_text.png) no-repeat 10px 5px;
	vertical-align: bottom;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 2px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.7);
	resize: none;
	width: 100%;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.register .form-input:hover, .register .form-textarea:hover {
	border: 2px solid rgba(255, 255, 255, 0.2);
}
.register .form-input:-moz-placeholder, .register .form-input::-moz-placeholder, .register .form-textarea:-moz-placeholder, .register .form-textarea::-moz-placeholder {
color: #555;
opacity: 1;
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
 -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
 -o-transition: border linear 0.2s, box-shadow linear 0.2s;
 transition: border linear 0.2s, box-shadow linear 0.2s;
}
.register .form-input::-webkit-input-placeholder, .register .form-textarea::-webkit-input-placeholder {
color: #555;
}
.submit {
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#fff;
	font-weight:700;
	text-decoration: none;
	outline: none;
	padding: 10px 30px;
	margin:10px 0 0;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	background-color: #ff7d5b;
}
.submit:hover {
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
	color: #fff;
}
/* Footer */
.footer {
	margin-top: -57px;
	height: 57px;
	color: #292c33;
	line-height: 57px;
	text-align: left;
}
.footer ul li {
	font-size:16px;
	font-weight:700;
	display:inline;
	margin-left:45px
}
a:hover {
	color:#ff7d5b;
}
/* Popup */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
}
.overlay .cancel {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: default;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 5% auto;
	padding: 25px;
	background: #fff;
	border: 1px solid #666;
	width: 80%;
	height:80%;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative;
}
.popup .close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0px;
	right: 0px;
	opacity: 0.8;
	transition: all 200ms;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #292c33;
}
.popup .close:hover {
	opacity: 1;
}
.popup .content {
	overflow: auto;
	padding:10px 20px 40px;
	height:100%;
}
.popup p {
	margin: 0 0 1em;
}
.popup p:last-child {
	margin: 0;
}
.rules ol {
	list-style: none;
}
.rules ol li:before { /* общие стили для псевдолементов */
	position: absolute;
	left: 0;
}
.rules {
	counter-reset: chapter 0; /* устанавливаем счетчик текущей главы */
}
.rules > ol ol {
	counter-reset: section; /* устанавливаем счетчик подраздела */
}
.rules ol li {
	margin-bottom: 10px;
	padding-left: 20px;
	position: relative;
	color: #ff7d5b;
}
.rules ol li ol li {
	padding-left: 40px;
	color: #292c33;
}
.rules > ol li:before {
	content: counter(chapter)".";
	counter-increment: chapter;
	color: #ff7d5b;
	padding: 0;
}
.rules > ol li ol li:first-child {
	margin-top: 10px;
}
.rules > ol li ol li:before {
	content: counter(chapter)"."counter(section);
	counter-increment: section;
	color: #292c33;
}
 @media screen and (max-width: 960px) {
	.article {
	 width:440px;
	}
	.article .f-left {
	 margin: 20px auto 0;
	}
	.header h1 {
	 font-size:22px;
	margin-top: 45px;
	}
	 .header h1 span {
	 font-size:52px;
	}
	.popup {
	padding:25px 25px 25px 10px;
	}
}
 @media screen and (max-width: 600px) {
	.header .container {
	 padding: 50px 20px 0;
	}
	.article {
	 width:440px;
	}
	.article .f-left {
	 margin: 20px auto 0;
	}
	.header h1 {
	font-size:18px;
	margin-top: 45px;
	}
	.header h1 span {
	 font-size:46px;
	}
	.footer {
	 line-height:26px;
	}
	.footer ul {
	 padding:10px;
	}
	.popup {
	 padding:25px 25px 25px 10px;
	 width:90%;
	 font-size:14px;
	}
}
 @media screen and (max-width: 460px) {
	.header .container {
	 padding: 40px 15px 0;
	}
	.article {
	 width:320px;
	}
	.article h2 {
	 font-size:26px
	}
	.article .f-left {
	 margin: 20px auto 0;
	 padding:20px;
	 width:auto;
	 height:auto;
	}
	.article ul {
	margin-top:30px
	}
	.article ul li {
	height:auto;
	padding: 0 0 10px;
	}
	.header h1 {
	font-size:18px;
	margin-top: 45px;
	}
	.header h1 span {
	 font-size: 36px;
	 line-height: 40px
	}
	 .footer {
	 line-height:26px;
	}
	.footer ul {
	 padding:10px;
	}
	.footer ul li {
	 margin-left:25px;
	}
	.popup {
	 padding:10px 25px 15px 10px;
	 width:90%;
	 font-size:14px;
	}
	.popup .content {
	 padding: 10px 10px 40px;
	}
	.rules ol li {
	padding-left:10px;
	}
	.rules ol li ol li {
	padding-left:34px;
	}
}
