.colorbox-video {
	position:relative;
	display:block;
	width:218px;
	margin:0;
	padding:0;
	text-decoration:none !important;
	border:1px solid #ACC2D1;
	background-color:#F0F6FA;
}
.colorbox-video img {
	display:block;
}
.colorbox-video span.title {
	display:block;
	position:absolute;
	padding:5px;
	font-size:11px;
	line-height:13px;
	left:0;
	bottom:0;
	color:#fff;
	font-weight:bold;
	width:208px;
	background:url('../images/colorbox-background.png');
	_background:none;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/colorbox-background.png', sizingMethod='crop');
	cursor:pointer;
}
.colorbox-video span.number {
	position:absolute;
	padding:0;
	font-size:11px;
	line-height:13px;
	text-align:center;
	margin:0;
	top:0;
	right:0;
	color:#fff;
	background:url('../images/colorbox-background.png');
	_background:none;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/colorbox-background.png', sizingMethod='crop');
	font-weight:bold;
	cursor:pointer;
}
.colorbox-inline {
	display:none;
}
#colorbox, #cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
}
#cboxMiddleRight, #cboxMiddleLeft {
	width:10px;
	background-position:right;
}
#cboxTopLeft, #cboxTopCenter, #cboxTopRight {
	height:10px;
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
	background:#fff;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear:left;
}
#cboxContent {
	position:relative;
	overflow:visible;
	margin:0;
	margin-top:17px;
	margin-bottom:18px;
	padding-bottom:0; /* 22px */
	background:#fff;
	/* background-image:url('../images/cb-bg.jpg'); */
	background-repeat:repeat-x;
	background-position:bottom;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 2px 2px 8px #333;
	-moz-box-shadow: 2px 2px 8px #333;
	-webkit-box-shadow: 2px 2px 8px #333;
}
.IE #cboxContent {
	border:1px solid #E0E0E0;
}
#cboxLoadedContent {
	overflow:auto;
	padding: 10px 10px 5px 10px; /* 10px */
	margin-bottom:6px;
	font-size:11px;
	line-height:19px;
}
#cboxLoadedContent .colorbox-inline {
	display:block;
}
#cboxLoadedContent iframe {
	display:block;
	width:100%;
	height:100%;
	border:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor:pointer;
}
#cboxLoadingGraphic {
	background:url('../images/throbber.gif') center center no-repeat;
}
#cboxLoadingOverlay {
	background:#fff;
}
#cboxTitle {
	margin:0;
	position:absolute;
	bottom:8px;
	color:#000;
	left:10px;
	font-size:10px;
	line-height:12px;
}
#cboxCurrent {
	position:absolute;
	font-size:10px;
	line-height:10px;
	right:35px;
	color:#666;
	bottom:10px;
}
#cboxClose {
	text-indent:-9999px;
	width:31px;
	height:31px;
	position:absolute;
	top:-15px;
	background:url('../images/controls.png') 0 0 no-repeat;
 *background:url('../images/controls.gif') 0 0 no-repeat;
/*_background:none;
 	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='controls.png', sizingMethod='crop');*/
}
#cboxSlideshow, #cboxPrevious, #cboxNext {
	text-indent:-9999px;
	font-size:10px;
	line-height:10px;
	width:11px;
	height:12px;
	position:absolute;
	bottom:8px;
	background:url('../images/controls.png') 0 0 no-repeat;
	_background:none;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/controls.png', sizingMethod='crop');
}
#cboxPrevious {
	background-position:-9px -27px;
	right:97px;
}
#cboxPrevious.hover {
	background-position:-9px -92px;
}
#cboxNext {
	background-position:-78px -27px;
	right:10px;
}
#cboxNext.hover {
	background-position:-78px -92px;
}
#cboxClose {
	background-position:-35px 0px;
	right:-12px;
}
#cboxClose.hover {
	background-position:-35px -102px;
}
