

/*OVERLAY PANELS*/
.overlay-panel {
	-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 20px rgba(0,0,0,0.4);
	-o-box-shadow: 0 1px 20px rgba(0,0,0,0.4);
	box-shadow: 0 1px 20px rgba(0,0,0,0.4);
}


/*INTERACTIVE MAP BANNER*/
.interactive-maps-banner-container{
height:690px;
overflow:hidden;
position:relative;
}
.interactive-map-caption {
  position: absolute;
  width: 500px;
  padding: 20px 30px 30px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,.7);
  /* margin: 0 auto; */
  top: 200px;
  left: 25%;
  width: 50%;
  box-sizing: border-box;
}

.interactive-map-panel{
position: absolute;
height: 690px;
left: 0;
right: 0;
background-color: #fff;
}
.interactive-map-panel.active{
z-index:105;
}
.interactive-map-iframe {
width: 100%;
height:100%;
position:absolute;
border:none;
}

.interactive-maps-banner-fader{
background:#fff;
z-index:105;
display:none;
}
.interactive-maps-banner-fader.active{
display:block;
}

.interactive-maps-click-target.cui-block {
  z-index: 110;
  cursor: -webkit-grab;

  cursor:grab;
}

.interactive-maps-banner-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  /* background: rgba(0,0,0,.5); */
  background: transparent;
  z-index:200;
  text-align:center;
}
.interactive-map-selector{
  display:inline-block;
  background:#fff;
  width:15px;
  height:15px;
  margin:10px;
  border-radius:50%;
  cursor:pointer;
}
.interactive-map-selector.active{
background:#007ac2;
}

.section-navigation-bar{
background:#eee;
overflow: hidden;
overflow-x: scroll;
}

.content-slider {

}

.content-item-holder {
  margin-bottom: 20px;
  /*width: 3000px;*/
}

.interactive-map-panel.Image-panel iframe {
    display: none;
}

/*WEBMAP CAROUSEL*/
.agol-webmap-carousel-container {
  position: relative;
  /* background: #ddd; */
  margin: 20px 0;
  min-height: 200px;
}
.ccarousel-button {
  position: absolute;
  width: 50px;
  /* background: #eee; */
  height: 100%;
}


.ccarousel-button.prev-button,
.ccarousel-button.next-button {
  background-image: url('../../img/maps/carousel-arrows.png');
  background-repeat: no-repeat;
  height: 50px;
  width: 60px;
  margin-top: -55px;/*centering to image, not whole item */
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  bottom: 50%;

}

.ccarousel-button.prev-button {
  background-position: -2px -5px;
  left: -20px;
}
.ccarousel-button.prev-button:hover {
  background-position: -56px -5px;
}
.ccarousel-button.prev-button.disabled:hover,
.ccarousel-button.prev-button.disabled {
  background-position: -110px -5px;
  cursor: auto;
}

.ccarousel-button.next-button {
  background-position: -2px -56px;
  right: -20px;
}
.ccarousel-button.next-button:hover {
  background-position: -56px -56px;
}
.ccarousel-button.next-button.disabled:hover,
.ccarousel-button.next-button.disabled {
  background-position: -110px -56px;
  cursor: auto;
}



/*
.ccarousel-button.prev-button,
.ccarousel-button.next-button {

  background-image: url('../../img/maps/maps-nav-arrows.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 40px;
  margin-top: -20px;
  text-indent: -9999px;

  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 30px;
}


.ccarousel-button.prev-button {
  background-position: 0 0;
  left:0;
}
.ccarousel-button.next-button {
  background-position: -22px 0;
  right:0;
}
*/


.carousel-items-viewport {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  margin: 0;
  padding: 0;
}



#contentOverlay {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(255,255,255,0.8);
  display:none;
  z-index: 1000;
}
#contentOverlay.active {
  display:block;
}
.hidden-popup-content {
  position: fixed;
  z-index: 1005;
  margin: 0 auto;
  background: #fff;
  display: none;
  top: 5%;
  width: 600px;
  left: 0;
  right: 0;
  bottom: 5%;

  min-height: 650px;
  max-height: 90%;
}
.hidden-popup-content.active {
  display:block;
}

.hidden-popup-close {
  background-image: url('../../img/close.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: -24px;
  right: -18px;
  height: 48px;
  width: 48px;
}
.hidden-popup-close:hover {
  background-position: 0 -48px;
}

.hidden-popup-content .popup-title {
  color: #FFF;
  font-size: 44px;
  margin: 0;
  text-align: center;
	width: 55%;
	margin: 0 auto;
}
@media screen and (max-width: 650px) {
	.hidden-popup-content .popup-title {
		margin-top: 50px;
	}
}


.hidden-popup-content .popup-background,
.hidden-popup-content .popup-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden-popup-content .popup-background {
  height: 40%;
  padding: 60px 0;
  text-align: center;
}
.hidden-popup-content .popup-background img {
  display: block;
  margin: 0 auto 10px auto;
}

.hidden-popup-content .popup-content {
  height: 60%;
  padding: 10px 30px;
}
.hidden-popup-content .popup-content h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 0;
}
.hidden-popup-content .popup-content hr {
  border: 1px solid #007ac2;
  width: 80px;
}
.hidden-popup-content .popup-content p {
	font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif;
	font-size: 15px;
  text-align: center;
}

@media only screen and (max-width : 900px) {

  .hidden-popup-content {}
  .hidden-popup-close {}
  .hidden-popup-content .popup-background {}
  .hidden-popup-content .popup-title {
    font-size: 1.8em;
  }
  .hidden-popup-content .popup-content {}
  .hidden-popup-content .popup-content h3 {
    font-size: 18px;
  }

}


@media screen and (max-height:650px) {

  .hidden-popup-content {
    max-height: 100%;
    min-height: 0;
    bottom: 5%;
    top: 5%;
  }
  .hidden-popup-content .popup-background {
    padding: 20px 0;
    min-height: 200px;
  }
  .hidden-popup-content .popup-content {
    overflow: hidden;
    overflow-y: scroll;
  }

}

@media only screen and (max-width : 650px) {

  .hidden-popup-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30px;
    max-height: 100%;
    width: auto;
    min-height: 100%;
  }
  .hidden-popup-close {
    top: 5px;
    right: -15px;
  }
  .hidden-popup-content .popup-background {
    min-height: 200px;
    padding: 20px 0;
    font-size: 16px;
  }
  .hidden-popup-content .popup-title {}
  .hidden-popup-content .popup-content {
    position: absolute;
    overflow: hidden;
    overflow-y: auto;

  }
  .hidden-popup-content .popup-content h3 {}

}



/* Map Popup */
#mapOverlayPanel{
  display:none;
  margin:5%;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}
#mapOverlayPanel.active{
	display:block;
	background:#aaa;
}
#mapOverlayMap {
  width: 100%;
  height: 100%;
  border: none;
}

#mapOverlayPopup{
  position: absolute;
  margin:10px;
  width:450px;
  background:#fff;
  border-radius:4px;
}

#mapPopupTitle {
  font-size: 22px;
  padding: 15px 20px;
  background: #eee;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #DDD;
  cursor:pointer;
  background-image: url('../../img/arcgis_icons.png');
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: right;
}

#mapPopupContent {
  padding: 20px;
}

/*toggle*/
.collapsed #mapPopupContent {
  display: none;
}

.collapsed #mapPopupTitle {
  border-radius: 4px;
  background-position-y:-48px;
}

.map-popup-description{
  overflow :hidden;
  overflow-y: auto;
  max-height: 300px;
}
.map-popup-owner{
  font-size:smaller;
  margin: 10px 0;
}

.map-popup-link {
  margin: 10px 0;
  display: block;
}
/*PHONES */
@media only screen
and (max-width : 600px) {
	.interactive-map-caption {
  	left: 0;
  	width: 100%;
	}
  #mapOverlayPopup{
    width:100%;
    margin:0;
    border-radius:0;
  }

	/* Map Popup */
	#mapPopupTitle{
    top: 0;
    border-radius: 0;
    padding: 13px 35px 13px 45px;
    background-position-x: left;
    font-size: 18px;
    line-height: 1;
	}

	#mapOverlayPanel{
		margin:0;
        right: 20px;
	}



}


/* Block Carousel */
.blockCarousel {
  min-height: 650px;
  margin-top: 40px;
  overflow: hidden;
}
.blockCarousel .block {
  width: 100%;
  max-width: 900px;
}

.blockCarousel .cui-viewport {
  position: relative;
  left: 0;
  right: 0;
}

.blockCarousel .cui-carousel-item h3 {

}
.blockCarousel .cui-carousel-item p {
/*   font-size: 14px; */
  margin-top: 0;
  margin-bottom: 1.71429em;
}
.blockCarouselDescription p {
  font-size: 14px;
}

.blockCarousel .cui-block-left,
.blockCarousel .cui-block-right {
  display: none;
}


@media screen and (max-width: 650px) {
  .blockCarousel {
    overflow: visible;
  }
  .blockCarousel .cui-block-left,
  .blockCarousel .cui-block-right {
    background-image: url('../../img/maps/carousel-arrows.png');
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 60px;
    margin-top: -25px;
  }

  .blockCarousel .cui-block-left {
    background-position: -2px -5px;
    left: -20px;
  }
  .blockCarousel .cui-block-left:hover {
    background-position: -56px -5px;
  }
  .blockCarousel .cui-block-left.disabled:hover,
  .blockCarousel .cui-block-left.disabled {
    background-position: -110px -5px;
    cursor: auto;
  }

  .blockCarousel .cui-block-right {
    background-position: -2px -56px;
    right: -20px;
  }
  .blockCarousel .cui-block-right:hover {
    background-position: -56px -56px;
  }
  .blockCarousel .cui-block-right.disabled:hover,
  .blockCarousel .cui-block-right.disabled {
    background-position: -110px -56px;
    cursor: auto;
  }
}
