.cui-container {
  margin: 0 auto;
  min-height: 170px;
  position: relative;
  width: 80%;
/*   width: 100%; */
}

.blockCarousel .cui-container {
  min-height: 600px;
  width: 100% !important;
}


.cui-slider {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  margin: 0 auto;
  padding: 0;
  min-height: 165px;
}

.ccarousel-button {
	cursor: pointer;
}
.cui-block {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}


.cui-block-left,
.cui-block-right {
  background-image: url('../../img/maps/maps-nav-arrows.png');
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50px;
  width: 60px;
  margin-top: -25px;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  bottom: 50%;
}


.content-slider .cui-block-left,
.content-slider .cui-block-right {
  background-image: url('../../img/maps/carousel-arrows.png');
}


.cui-block-left {
  background-position: -2px -5px;
  left: -20px;
}
.cui-block-left:hover {
  background-position: -56px -5px;
}
.cui-block-left.disabled:hover,
.cui-block-left.disabled {
  background-position: -110px -5px;
  cursor: auto;
}

.cui-block-right {
  background-position: -2px -56px;
  right: -20px;
}
.cui-block-right:hover {
  background-position: -56px -56px;
}
.cui-block-right.disabled:hover,
.cui-block-right.disabled {
  background-position: -110px -56px;
  cursor: auto;
}


@media screen and (max-width: 650px) {
  .cui-block-left {
    left: -5px;
  }
  .cui-block-right {
    right: -5px;
  }
}





/*
.cui-block-left,
.cui-block-right {
  background-image: url('../../img/maps/maps-nav-arrows.png');
  background-repeat: no-repeat;
  cursor: pointer;

  height: 40px;
  width: 30px;

  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.cui-block-left.disabled,
.cui-block-right.disabled {
  cursor: default;
  opacity: 0.3;
}


.cui-block-left {
  background-position: 0 0;
  left: 0;
}
.cui-block-right {
  background-position: -22px 0;
  right: 0;
}
*/






.cui-viewport {
  position: absolute;
  left: 50px;
  right: 50px;
}

.cui-carousel-item {
  /* display: inline-block; */
  display: block;
  float: left;
}

.content-item-holder .cui-carousel-item {
  cursor:pointer;
}

.content-item-holder .cui-carousel-item {
  width: 220px;
}
.cui-carousel-item img {

}
.cui-carousel-item h3 {
  color: #007ac2;
  line-height: 1.3;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.cui-carousel-item p {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 0;
}


.page-navigation .cui-carousel-item {
  width: 160px;
}
.agol-webmap-carousel-container .cui-carousel-item{
  cursor:pointer;
}
.agol-webmap-carousel-container .cui-carousel-item img{
  height: auto\0;
  width: 100%\0;
}
@media screen and (max-width: 650px) {

  .section-navigation-bar1 {
    display: none;
  }
  .cui-container {
    width: 100%;
  }

}



.accordian {

}
.accordian .cui-container {
  width: 100%;
}

.accordian .cui-accordian-header {
  background-color: #f3f3f3;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  display: block;
  line-height: 45px;
  margin-bottom: 20px;
  min-height: 45px;
}

.accordian .cui-accordian-header:before {
  background-image: url('../../img/plus-minus.png');
  background-position: -2px -2px;
  background-repeat: no-repeat;
  border: 1px solid #dcdcdc;
  content: '';
  display: inline-block;
  float: left;
  margin: -1px 15px 0 -1px;
  height: 45px;
  width: 45px;
}
.accordian .cui-accordian-header.open:before {
  background-position: -2px -52px;
}

.accordian .cui-accordian-content {
  margin: 0 auto;
  width: 90%;
}
.cui-accordian-item {
  margin-bottom: 40px;
}



@media screen and (max-width: 700px) {
  .accordian .cui-accordian-header {
    font-size: 1em;
  }
  .accordian .cui-accordian-content {
    width: 100%;
  }
}



.agol-webmap-carousel-container,
.page-navigation,
.content-item-holder,
.blockCarousel,
.accordian {
    visibility: hidden;
}
.loaded {
    visibility: visible;
}
