/* CSS Document */
body {
margin:0;
padding:0;
background:url(../images/bg.jpg) top repeat-x #BFBBBC;
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:18px;
}
.font1 {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:18px
}
.style1 {color: #FFFFFF}
.style2 {color: #005DB6}
#top_add {
width:950px;
height:97px;
margin:0 auto;
line-height:107px;
text-align:center;
padding-top:10px;
}
#header_ {
width:950px;
height:173px;
margin:0 auto;
background:url(../images/header_.jpg) no-repeat;
}
#header_1 {
width:450px;
height:120px;
float:left;
}
#header_2 {
width:490px;
height:110px;
float:right;
padding:10px 10px 0 0;
}
#nav_container {
width:950px;
height:53px;
}
#nav {
width:940px;
height:53px;
margin:0 auto;
float:left;
padding-left:10px;
}
#nav ul {
list-style:none;
margin:0;
padding:0;
}
#nav ul li {
float:left;
margin-right:6px;
}
#nav ul li.home a {
width:128px;
height:53px;
background:url(../images/nav/home.png) no-repeat;
display:block;
}
#nav ul li.home a:hover {
width:128px;
height:53px;
background:url(../images/nav/home_.png) no-repeat;
display:block;
}
#nav ul li.mobile a {
width:128px;
height:53px;
background:url(../images/nav/mobile.png) no-repeat;
display:block;
}
#nav ul li.mobile a:hover {
width:128px;
height:53px;
background:url(../images/nav/mobile_.png) no-repeat;
display:block;
}
#nav ul li.music a {
width:128px;
height:53px;
background:url(../images/nav/music.png) no-repeat;
display:block;
}
#nav ul li.music a:hover {
width:128px;
height:53px;
background:url(../images/nav/music_.png) no-repeat;
display:block;
}
#nav ul li.pcvideos a {
width:128px;
height:53px;
background:url(../images/nav/pcvideos.png) no-repeat;
display:block;
}
#nav ul li.pcvideos a:hover {
width:128px;
height:53px;
background:url(../images/nav/pcvideos_.png) no-repeat;
display:block;
}
#nav ul li.forum a {
width:128px;
height:53px;
background:url(../images/nav/forum.png) no-repeat;
display:block;
}
#nav ul li.forum a:hover {
width:128px;
height:53px;
background:url(../images/nav/forum_.png) no-repeat;
display:block;
}
#nav ul li.lyrics a {
width:128px;
height:53px;
background:url(../images/nav/lyrics.png) no-repeat;
display:block;
}
#nav ul li.lyrics a:hover {
width:128px;
height:53px;
background:url(../images/nav/lyrics_.png) no-repeat;
display:block;
}
#nav ul li.contact a {
width:128px;
height:53px;
background:url(../images/nav/contact.png) no-repeat;
display:block;
}
#nav ul li.contact a:hover {
width:128px;
height:53px;
background:url(../images/nav/contact_.png) no-repeat;
display:block;
}
#contect_area {
width:930px;
background-color:#ffffff;
margin:0 auto;
padding:10px;
}
#left_panel {
width:217px;
float:left;
}
#right_panel {
width:713px;
float:right;
}
#footer {
width:950px;
height:54px;
margin:0 auto;
margin-top:10px;
background:url(../images/footer.jpg) no-repeat;
text-align:center;
color:#ffffff;
}
#footer a {
font:13px Arial, Helvetica, sans-serif;
color:#ffffff;
line-height:54px;
text-align:center;
text-decoration:none;
}
#footer a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#ffffff;
line-height:54px;
text-align:center;
text-decoration:underline;
}
#footer1 {
width:950px;
height:54px;
margin:0 auto;
margin-top:10px;
text-align:center;
color:#545454;
}
#footer1 a {
font:13px Arial, Helvetica, sans-serif;
color:#545454;
line-height:18px;
text-align:center;
text-decoration:none;
}
#footer1 a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#545454;
line-height:18px;
text-align:center;
text-decoration:underline;
}
#border_both {
border:1px solid #E3E3E3;
}
#table_ a {
color:#00FF00;
}
#bollywood {
font:13px Arial, Helvetica, sans-serif;
color:#ffffff;
line-height:18px;
background:#5B5B5B;
font-weight:bold;
}