@charset "utf-8";

ul, ol, li{list-style-type: none;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: bottom;
word-break: normal; /*文字の禁則処理*/
line-break: strict; /*IE*/
}
@font-face {
font-family: 'getnews';
src:
url('../img/fonts/getnews.woff') format('woff'),
url('../img/fonts/getnews.ttf') format('truetype'),
url('../img/fonts/getnews.eot') format('embedded-opentype'),
url('../img/fonts/getnews.svg') format('svg');
font-weight: normal;
font-style: normal;
}
/*広告設定*/
#mtburn .add-info li{
  background: #eee;
color: #333;
font-weight: bold;
}
#mtburn .add-info li:before{
content: "\e922";
}
#mtburn .add-info li:last-child:before{
content: "";
}
#mtburn .add-info time{
color: #333;
}

/*ガジェット通信アイコン設定今後集約予定３・３１*/
[class^="mark-"]::before,
[class*="mark-"]::before,
.post-balloon .interviewer_A strong::before,
.post-balloon .speaker_A strong::before{
font: 14px/1 "getnews";
vertical-align: middle;
margin: 0 4px 0 0;
}
.mark-pen::before{
content: "\e60e";
line-height: 21px;
}
.mark-write::before{
content: "\e922";
line-height: 21px;
}
.mark-folder::before{
content: "\e616";
}
/*各カテゴリーのアイコンでも出来たら搭載する。
defaultで表示されるものも用意。*/
.mark-name::before{
content: "✦";
}
/*画像で出来たアイコン*/
i[class^="img-icon-"]{
background: url(../img/site_icon.svg) no-repeat;
margin: 0 0 8px;
padding: 0 0 0 24px;
width: 20px;
height: 20px;
content: "";
}
i.img-icon-rensai{
border-top: #00a0e9;
background-position: 0 -22px;
}
i.img-icon-otajo{
border-top: #f7c8db;
background-position: 0 -48px;
}
i.img-icon-getgirl{
border-top: #6FF;
background-position: 0 -77px;
}
i.img-icon-sakidori{
background-position: 0 0;
}
i.img-icon-carreview {
background-position: 0 -124px;
}
i.img-icon-taberuno {
border-top: #ffbba3;
background-position: 0 -144px;
}
i.img-icon-travel{
border-top: #001a9f;
background-position: 0 -190px;
}
i.img-icon-live{
border-top: #001a9f;
background-position: 0px -159px;
}
/*初期設定*/
pre {
white-space: pre;           /* CSS 2.0 */
white-space: pre-wrap;      /* CSS 2.1 */
white-space: pre-line;      /* CSS 3.0 */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap;  /* HP Printers */
word-wrap: break-word;      /* IE 5+ */
}
article, aside, figure, figcaption, footer, header, hgroup, nav, section {
display: block;
}
h1,h2,h3,h4,h5,h6{
line-height: 1.3;
}
time{color: #999;}

h3 {
font-size: 18px;
clear: both;
margin: 12px 0 0;
}
body {
color: #111;
font:normal 12px/1.6 "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
background: #fafafa;
-webkit-text-size-adjust: 100%;
}
img {
border: 0;
vertical-align: middle;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;
}
i[onclick]{
cursor: pointer;
}
a:hover img {
filter:alpha(opacity=95);
-moz-opacity: 0.95;
opacity: 0.95;
filter: brightness(110%);
-moz-filter: brightness(110%);
-webkit-filter: brightness(110%);
/* アニメーション指定*/
-moz-transition: 0.1s linear;
-webkit-transition: 0.1s linear;
transition: 0.1s linear;
}

a{color: #303030;text-decoration: none;}
a:hover{color: #127069;
background-color: #F5F5F5;
}
.Topics_area li a:hover,
#getTopics a:hover,
a:hover .top-news h1,
a:hover .sub-news h2,
.list-news a:hover,
.widget-Parts a:hover,
#kikou-post a:hover,
.cat_Related li a:hover h2,
.taglist li a:hover{
text-decoration: underline;
}
blockquote {
background: #f5f5f5;
padding: 0 20px 20px;
border: 1px solid #E6E6E6;
margin: 8px 0;
clear: both;
}
blockquote p:last-child{
  margin:16px 0 0;
}
select[name*="archive-dropdown"] {
width: 100%;
padding: 8px;
border: 1px solid #777;
}

/*中央カラム　検索流入広告表示部分*/
#main_re {background: #fff;overflow: hidden;margin: 0 0 8px 0;}
#main_re_left {float: left;margin-right: 10px;width: 300px;}
#main_re_right {float: right;padding: 0;width: 280px;}
#main_re_right img {padding: 0;margin: 0;border: 0;}
#main_re_right ul {padding-left: 20px;}
#main_re_right li {padding: 0;margin: 0 0 3px 0;}
#main_re_right li a {font:300 14px/1.5"";display: block;}
#main_re_right li a:hover {background: #FAFAFA;}

.oki_b, .twi_b, .facebook_b{
background: url(../img/button_twi_oki.png) no-repeat;
height: 45px;
width: 280px;
margin-bottom: 5px;
}
.oki_b {background-position: 0px 0px;}
.twi_b {background-position: 0px -50px;}
.facebook_b {background-position: 0px -100px;}

/*カラム-----------------------------------------------------*/
.execphpwidget,.textwidget,.widget_archive {margin: 0 0 20px 0;}
.textwidget a > img {width: 100%;}

/*ヘッダー関連----------------------------------------------------*/
#get-header{
background: #fff;
position: relative;
}
header h1 {
height: 45px;
width: 180px;
float: left;
margin: 33px 0 20px 8px;
}
#get-header > span{
position: absolute;
bottom: 34px;
left: 4px;
font-size: 12px;
color: #777;
}
#bigbanner {
display: inline-block;
width: 728px;
height: 90px;
margin: 4px 0 4px 72px;
padding: 0;
background: #eee;
}
.b_writing{
position: absolute;
bottom: 34px;
right: 0;
}
.b_writing span{
display: block;
margin: 0 0 12px;
padding: 4px 12px;
font-size: 12px;
background: #eee;
border: 1px solid #ccc;
}
.b_writing span:hover{
background: #ededed;
border: 1px solid #bbb;
}
/*検索フォーム*/
.search-icon{display: none;}

.search-icon:before{
display: block;
content: "\e62c  検索する";
font:bold .8rem/1 "getnews";
z-index: 10;
}
.search-icon:hover,
.menu-icon:hover{
background: #222;
color: #eee;
cursor: pointer;
}
.js-header-search {
background: #222;
padding: 4px 4px 4px 600px;
width: 100%;
height: 32px;
}
#mobile-searchForm {position: relative;}
#mobile-searchForm input[type*="text"]{
width: 100%;
border: 2px solid #777;
padding: 4px 8px 4px 28px;
color: #555;
height: 28px;
}
#mobile-searchForm:before {
position: absolute;
top: 7px;
left: 7px;
content: "\e62c";
font: .9rem/1 "getnews";
z-index: 10;
color: #999;
}
/*ヘッダーメニュー----------------------------------------------------------*/
.pc-navigation{
position: relative;
clear: both;
}

#nav_menu {
clear: left;
margin: 0;
padding: 0;
border: 1px solid #777;
border-top:none;
background-color: #dedede;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fbfbfb), color-stop(0.10, #f9f9f9), color-stop(0.10, #b70e0e), color-stop(0.00, #b70e0e));
background: -webkit-linear-gradient(top, #b70e0e 0%, #b70e0e 10%, #f9f9f9 10%, #fbfbfb 100%);
background: -moz-linear-gradient(top, #b70e0e 0%, #b70e0e 10%, #f9f9f9 10%, #fbfbfb 100%);
background: -ms-linear-gradient(top, #b70e0e 0%, #b70e0e 10%, #f9f9f9 10%, #fbfbfb 100%);
background: linear-gradient(to bottom, #b70e0e 0%, #b70e0e 10%, #f9f9f9 10%, #fbfbfb 100%);
}
#nav_menu:after{
content: "";
display: block;
clear: both;
}
#nav_menu li {
width: 120px;
float: left;
white-space: nowrap;
font-size: 13px;
line-height: 32px;
font-weight: bold;
/*text-shadow: 0 0 5px rgba(34, 32, 28, 0.15);*/
text-align: center;
box-shadow: inset 1px 1px 0 rgba(255,255,255,.2),inset -1px 0 0 rgba(0,0,0,.3);
}
#nav_menu li a {
position: relative;
color: #666;
display: block;
/* アニメーション指定*/
-moz-transition: 0.1s ;
-webkit-transition: 0.1s ;
transition: 0.1s ;
}
#nav_menu .current-menu-item a,
#nav_menu li a:active,
#nav_menu li a:hover{
color: #222;
font: 700 106%/32px"";
text-decoration: none;
box-shadow: inset 1px 1px 0 rgba(255,255,255,.2),inset -1px 0 0 rgba(0,0,0,.3);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #e2e2e2), color-stop(0.10, #EDEDE1), color-stop(0.10, #b70e0e), color-stop(0.00, #222));
background: -webkit-linear-gradient(top, #222 0%, #222 10%, #EDEDE1 10%, #e2e2e2 100%);
background: -moz-linear-gradient(top, #222 0%, #222 10%, #EDEDE1 10%, #e2e2e2 100%);
background: -ms-linear-gradient(top, #222 0%, #222 10%, #EDEDE1 10%, #e2e2e2 100%);
background: linear-gradient(to bottom, #222 0%, #302E2E 10%, #EDEDE1 10%, #e2e2e2 100%);
}
.social_icon{
position: absolute;
right: 0;
top: 6px;
}
.social_icon li{
float: left;
margin: 0 4px 0 0;
}
.social_icon li a {
display: block;
}
.social_icon [class^="icon_"] a::before,
.social_icon [class*=" icon_"] a::before{
font: 1rem/1 "getnews";
padding: 4px;
border-radius: 2px;
color: #fff;
/*outline: 1px solid #ccc;*/
display: block;
}
.social_icon [class^="icon_"] a:hover::before,
.social_icon [class*=" icon_"] a:hover::before{
outline: 1px solid #aaa;
opacity: .85;
}
.icon_RSS a:before{
background: #e0812a;
content: "\e60c";
}
.icon_facebook a:before{
background: #3b5997;
content: "\e60a";
}
.icon_twitter a:before{
background: #41b7d8;
content: "\e60b";
}
.icon_youtbe a:before{
background: #cd201f;
content: "\e632";
}
.icon_instagram a:before{
/*background: #333;*/
  background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
content: "\ea91";
}

/* 右カラムtopics用 ※topicsと共用有り-----------------------------------------------*/
#getsideTopics {
background: #fff;
border: 1px solid #bbb;
padding: 4px;
}
#getsideTopics p{
border-bottom: 1px solid #bbb;
font-weight: bold;
display: block;
padding: 0 8px 0 8px;
margin: 0 0 4px 0;
}

#getsideTopics ul li a{
padding: 4px 0;
display: block;
font-size: 12px;
line-height: 1.5;
font-weight: 300;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
#getsideTopics ul li a:hover{text-decoration: underline;}
/*.topics用---------------------------------------------------*/
.top-topics{
position: relative;
min-height: 230px;
margin: 0 0 20px;
}
#tab_area {
position: absolute;
padding: 0;
width: 100%;
text-align: left;
border-bottom: none;
z-index: 10;
}
#tab_area li{
margin: 0 2px 0 0;
float: left;
width: 33.333%;
height: 33px;
line-height: 34px;
font-weight: bold;
border: 1px solid #777;
border-radius: 2px;
text-align: center;
display: block;
color:#777;
background: #eee;
text-decoration:none;
/* アニメーション指定*/
-moz-transition: .1s linear;
-webkit-transition: .1s linear;
transition: .1s linear;
}
#tab_area li.select{
border-radius: 2px 2px 0 0;
height: 36px;
line-height: 34px;
background: #fff;
border-bottom: none;
color: #111;
margin: 0 2px 0 0;
}
.topics-icon:before,
.jiji-topics-icon:before{
font: 16px/34px "getnews";
margin: 0 4px 0 0;
vertical-align: middle;
color:#777;
display: inline-block;
}
.topics-icon:before{
content: "\e9d3";
}
.jiji-topics-icon:before{
content: "\e904";
}
#tab_area li.select .topics-icon:before,
#tab_area li.select .jiji-topics-icon:before{
color: #111;
}
#tab_area li:hover{
cursor: pointer;
color: #111;
}
#tab_area_box {
background: #fff;
position: absolute;
top: 35px;
width: 100%;
min-height: 184px;
border: 1px #777 solid;
padding: 12px;
z-index: 9;
}
#tab_area_box .hide {display:none;}

#getTopics i {
float: right;
border: 1px solid #9C9C9C;
background: #F5F5F5;
width: 210px;
padding: 4px;
}
#getTopics i:hover{
border-color: #ccc;
}
#getTopics i a span{
z-index: 10;
font-size: 11px;
text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#getTopics i img {
    height: auto;
    max-height: 150px;
    max-width: calc(100% - 0px);
    overflow: hidden;
    display: block;
    margin: 0 auto;
    background: #FAFAFA;
}
#getTopics i span {
display: block;
text-align: center;
padding: 4px 0 0 0;
}
#getTopics ul{
width: 340px;
}
#getTopics ul li a,
.Topics_area li a{
padding: 0 0 5px 0;
display: block;
font-size: 12px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.Topics_area span {
font-size: 10px;
}
.Topics_area li:hover span,
.Topics_area li a span:hover,
.Topics_area li a span:hover,
.Topics_area span:hover,
.Topics_area li a:hover span{
text-decoration: none;
}
#getsideTopics ul li a:before,
#getTopics ul li a:before,
.Topics_area li a:before {
content: "";
width: 0;
height: 0;
border-left: 4px solid #CCC;
border-top: 3.5px solid transparent;
border-bottom: 3.5px solid transparent;
margin: 1px 8px 0 0;
display: inline-block;
}
/*TOPページ記事設定---------------------------------------------------------*/
.block-title{display: none;}
/*.mainColumn > p{display: none;}*/

.mainColumn .adsense{
border-top: 1px solid #DBDBDB;
margin: 0 0 4px;
}
.mainColumn article aside,article .single_ad{
border: none;
margin: 0 0 16px;
}

#cntx_archive,.mainColumn .authorlist{
font: 700 13px/1.3"";
margin: 0 0 16px;
padding: 4px;
color: #DFDFDF;
border-radius: 2px;
letter-spacing: 16px;
text-align: center;
background: #222222;
border: 2px solid #0F0F0F;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #333), color-stop(0.65, #222), color-stop(0.00, #222));
background: -webkit-linear-gradient(top, #222 0%, #222 65%, #333 100%);
background: -moz-linear-gradient(top, #222 0%, #222 65%, #333 100%);
background: -o-linear-gradient(top, #222 0%, #222 65%, #333 100%);
background: -ms-linear-gradient(top, #222 0%, #222 65%, #333 100%);
background: linear-gradient(to bottom, #222 0%, #222 65%, #333 100%);
text-shadow: 0 0 8px #0A6762;
display: block;
}
.article-list{
background: #fff;
border: 1px solid #777;
}
.top-news > a,
.sub-news > a{
text-decoration: none;
display: block;
overflow: hidden;
padding: 12px;
border-top: 1px solid #DBDBDB;
}
.top-news,
.sub-news {
position: relative;
}
.top-news h1,
.sub-news h2 {
letter-spacing: 1px;
position: relative;
font-size: 18px;
font-weight: bold;
text-shadow: 0px 1px 0 rgba(0,0,0,.1);
margin: 0 0 4px;
}
.top-news:hover h1,
.sub-news:hover h2 {
text-decoration: underline;
}
.top-news a i,
.sub-news a i{
display: block;
overflow: hidden;
}
.add-info{
color: #999;
}
.gunosy-ads-spot img{
width: 96px;
height: auto;
}
.add-info li{
float: left;
padding: 0 16px 0 0;
}
.add-info li:before{
margin: 0 4px 0 0;
font: 11px/1 "getnews";
content: "\e60f";
}
.add-info li:last-child:before{
margin: 0 4px 0 0;
font: 11px/1 "getnews";
content: "\e615";
}
.gunosy-ads-rendered h2{
color: #999 !important;
}
li[class$="-news"] img,
.sub-news img{
float: left;
height: auto;
margin: 0 8px 0 0;
}
.top-news img {
width: 280px;
}
.sub-news img {
width: 96px;
}
li[class$="-news"] p{
font-size: 12px;
margin: 0 0 4px;
color: #595959;
}
li.list-news {
margin: 0 -1px 0 -9px;
}
.list-news a{
background: #fff;
position: relative;
border: 1px solid #777;
width: calc(24.9999% - 8px);
width: -webkit-calc(24.9999% - 8px);
min-height: 168px;
float: left;
margin: 8px 0 8px 8px;
overflow: hidden;
}
.list-news a:hover{
background: #F5F5F5;
}
.list-news .add-info li:nth-child(1){
position: absolute;
bottom: 4px;
left: 4px;
}
.list-news .add-info li:nth-child(2){
position: absolute;
top: 0;
width: 100%;
background: #DFDFDF;
padding: 8px 0;
font-size: 12px;
line-height: 1.3;
text-align: center;
color: #222;
}
.list-news h3{
margin: 28px 0 0 0;
padding:8px;
display: block;
font-size: 14px;
line-height: 1.3;
text-align: left;
}
.list-news p,
.list-news img{
display: none;
}
#morePict {
clear: both;
background: #E03946;
border-bottom: 4px solid #C60010;
display: block;
height: 40px;
margin: 8px auto 20px;
padding: 10px;
text-align: center;
font-weight: 700;
color: #eee;
border-radius: 3px;
/* アニメーション指定*/
-moz-transition: 0.1s linear;
-webkit-transition: 0.1s linear;
transition: 0.1s linear;
}
#morePict:hover {
background: #C60010;
border-color: #9E000D;
text-decoration: none;
}
#morePict:after {content: "▶";}

#cntx_newlist,
.cat_Related h1{
border: 1px solid #777;
border-bottom: none;
position: relative;
font-size: 12px;
background: #DFDFDF;
padding: 8px;
}
#cntx_newlist::before,
.cat_Related h1::before{
margin: 0 4px 0 0;
font: 14px/1 "getnews";
content: "\e615";
}
.cat-more-link{
padding: 8px;
position: absolute;
top: 1px;
right: 0;
color: #ccc;
display: block;
}
.cat-more-link:before{
content: attr(data-text);
}
.flipsnap {
background: #fff;
border: 1px solid #777;
margin: 0 0 20px 0;
}
.cat_Related ul li {
position: relative;
}
.cat_Related ul li:last-child a {
border: none;
}
.cat_Related ul li:before {
position: absolute;
display: inline-block;
content: "";
width: 0;
height: 0;
top: 10px;
left: 4px;
float: left;
border-left: 4px solid #777;
border-top: 3.5px solid transparent;
border-bottom: 3.5px solid transparent;
margin: 1px 8px 5px  1px;
}
.cat_Related li a{
padding: 4px 0 4px 16px;
font-size: 14px;
line-height: 1.5;
font-weight: 300;
display:block;
border-bottom: 1px dashed #ccc;
}
.cat_Related li a h2{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*グノシーアド用スペース調整*/
._Getnews_recommend2_container {
     margin: 16px 0 0 !important;
     padding: 0 0 0 0 !important;
}
/*ソーシャルブックマーク-----------------------------------------------------------*/
.wp_social_bookmarking_light{
margin: 8px 0 !important;
}
.wp_social_bookmarking_light:after{
content: "";
clear: both;
display: block;
}
.wp_social_bookmarking_light div{
float: left !important;
margin: 0 4px 8px 0 !important;
text-indent: 0 !important;
}
.wp_social_bookmarking_light img{
border: 0 !important;
padding: 0;
margin: 0;
vertical-align: top !important;
}
.wp_social_bookmarking_light_clear{
clear: both !important;
display: none;
}
.wsbl_twitter{
width: 100px;
}

/*---------------- button_sns ----------------*/
.button_sns{
clear: both;
width: 100%;
overflow: hidden;
margin:0 0 12px;
}
.button_sns:after{
content: "";
display: table;
clear: both;
}
.button_sns li{
float: left;
width: calc( 16.55555% - 4px);
text-align: center;
margin: 0 4px 4px 0;
border-radius: 2px;
border-bottom: 2px solid #eee;
}
.button_sns li a{
height: 36px;
color: #fff;
display: block;
border-radius: 2px;
box-shadow:inset 0 -2px 0 rgba(0,0,0,.2);
}
.button_sns li a span{
font-size: 14px;
line-height: 36px;
font-weight: 300;
letter-spacing: 1px;
font-family: "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.button_sns li a:hover{
filter:alpha(opacity=90);
-moz-opacity: 0.90;
opacity: 0.90;
text-shadow: 0 0 3px rgba(0,0,0,.3);
text-decoration: none;
}
.button_sns li a:active{
border: none;
border-top: 1px solid rgba(255,255,255,1);
font: 1.3rem/37px"getnews";
}
li[class^="b_"] a{
font: 1.3rem/36px "getnews";
}
li[class^="b_"] a::before{
margin: 0 4px 0 0;
}
.b_facebook a{background: #3b5997;}
.b_facebook a:before{content: "\e60a";}

.b_twitter {background: #41b7d8 ;}
.b_twitter a[title]{
display: block;
width: 44.4444%;
float: left;
}
.b_twitter a[title]:before{content: "\e60b";padding: 0 8px;}
.b_twitter .tweet-counter{
box-shadow:inset 0 -2px 0 rgba(0,0,0,.2);
font-size: 14px;
line-height: 36px;
font-weight: 300;
display: block;
background: #429EBA;
color: #fff;
float: right;
width: 55%;
overflow: hidden;
margin: 0;
}
.b_twitter .tweet-counter:hover .c,.b_twitter .tweet-counter:active .c{
font-size: 14px;
line-height:36px;
}
.b_twitter span a:hover {background: #3B8DA5;}

.b_google a{background: #d64937 ;}
.b_google a:before{content: "\e631";}

.b_hatebu a{background: #008fde;}
.b_hatebu a:before{content: "\e62f";}

.b_pocket a{background: #ee4056;}
.b_pocket a:before{content: "\e62e";}

.b_mixi a{background: #d1ad59;}
.b_mixi a:before{content: "\e62d";}

.b_line a{background: #00c300;}
.b_line a:before{content: "\e630";}

.button_sns li:nth-of-type(6){
width: calc( 16.55555% - 4px);
}
.button_sns li:nth-of-type(7){display: none;} /*LINE*/

.buton-follow{
width: 100%;
overflow: hidden;
margin: 0;
font-size: 10px;
line-height: 20px;
}
.buton-follow li{float: left;margin: 0 4px 8px 0;}

/*.シングルページ記事設定-----------------------------------------------------*/
.post {
background: #fff;
font-size: 15px;
line-height: 1.7;
word-wrap: break-word;
-ms-word-wrap: break-word;
padding:16px;
border:1px solid #aaa;
}
.post a{
color:rgb(17, 130, 124);
font-weight: bold;
}
.post a:hover{
text-decoration: underline;
}
.post h1 {
background: none;
border-left: 8px solid #C60010;
clear: both;
font-size: 24px;
font-weight: bold;
padding: 8px 0 0 12px;
margin:0 0 16px;
text-shadow: 1px 2px 0 rgba(0,0,0,.1);
}
.post h2,
.post h5 {
background: #333;
background-image: -webkit-linear-gradient(-45deg, #444 25%, transparent 25%, transparent 50%, #444 50%, #444 75%, transparent 75%, transparent);
background-image: linear-gradient(-45deg, #444 25%, transparent 25%, transparent 50%, #444 50%, #444 75%, transparent 75%, transparent);
background-size: 12px 12px;
border-left: 10px solid #C00;
clear: both;
color: #F5F5F5;
font-size: 20px;
line-height: 1.3;
padding: 8px;
text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.post h3,
.post h6 {
background:#FAFAFA;
border-bottom: 1px solid #DFDFDF;
border-right: 1px solid #DFDFDF;
clear: both;
font-size: 18px;
font-weight: bold;
line-height: 1.3;
margin: 32px 0;
padding: 8px 8px 8px 16px;
position: relative;
text-shadow : 1px 1px 1px #d2d2d2;
}
.post h3:before,
.post h6:before{
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fb7e7e), color-stop(0.54, #b70e0e), color-stop(0.00, #b70e0e));
background: -webkit-linear-gradient(top, #b70e0e 0%, #b70e0e 54%, #fb7e7e 100%);
background: -moz-linear-gradient(top, #b70e0e 0%, #b70e0e 54%, #fb7e7e 100%);
background: -ms-linear-gradient(top, #b70e0e 0%, #b70e0e 54%, #fb7e7e 100%);
background: linear-gradient(to bottom, #b70e0e 0%, #b70e0e 54%, #fb7e7e 100%);
content: "";
height: 85%;
left: 4px;
position: absolute;
top: 2px;
width: 4px;
}
#eachitem {
font-size: 13px;
margin: 0 0 0 0;
padding: 2px 0 0 2px;
border-left: 5px solid #CCC;
display: block;
}
iframe h2, iframe h3, iframe h4, iframe h5, iframe h6 {
font-size: 15px;
line-height: 1.7;
margin: 0 0 3px 0 !important;
padding: 4px 0 0 4px !important;
}
.post img.size-full {
max-width: 500px;
margin: 4px 0;
}
.post img.alignleft,
.post img.alignright,
.post img.aligncenter,
.gate_firstimg{
max-width: calc(100% - 12px);
max-width: -webkit-calc(100% - 12px);
height: auto;
padding: 5px;
border: 1px solid #DCDCDC;
background-color: #FFF;
}
.post img.alignleft {float: left;margin: 8px 8px 4px 0;}
.post img.alignright {float: right;margin: 8px 0 4px 8px;}
.post img.aligncenter{display: block;clear: both;margin: 8px auto;}

.post b,.post strong {
font-size: 16.5px;
line-height: 1.7;
font-weight: bold;
}
.post-bodycopy p,
.post p {
line-break: strict;
font-size: 16px;
line-height: 1.7;
margin: 16px 0 2em;
word-spacing: 0.1px;
text-overflow: ellipsis;
}


/*続きを読む クッションページ対応*/
.blind-screen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(90%, #fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 90%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 90%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 90%);
  height: 125px;
  margin: -150px 0 0;
  position: relative;
}
/*.対談用記事設定----------------------------------------------------*/
.post-balloon p{
  clear: both;
}
.post-balloon .interviewer_A{
  color: #b60400;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 16px;
  position: relative;
  margin: 0 0 1.5em 60px;
  border-radius: 16px;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,.05);
  text-shadow: 2px 2px 0 rgba(0, 0, 0,.05);
 background-color: #FFF5EE;
}
.post-balloon .interviewer_A:before{
  content: "";
  position: absolute;
  left: -1px;
  top: 20px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid #ccc;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.post-balloon .interviewer_A:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 20px;
  margin-left: -8.5px;
  width: 0;
  height: 0;
  border-right: 10px solid #FFF5EE;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.post-balloon strong,
.post-balloon strong{
  position: relative;
}
.post-balloon .interviewer_A strong:before{
  content: "\e900";
  color: #111;
  font-size: 170%;
  left: -64px;
  position: absolute;
  text-shadow: none;
  top: -8px;
}
.post-balloon .speaker_A strong:before{
  content: "\e903";
  color: #111;
  font-size: 170%;
  right: -50px;
  position: absolute;
  text-shadow: none;
  top:44px;
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.post-balloon .speaker_A{
  float:right;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 16px;
  position: relative;
  margin: 20px 60px 1.5em 0;
  border-radius: 16px;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,.05);

}
.post-balloon .speaker_A:before{
  content: "";
  position: absolute;
  right: 1px;
  top: 20px;
  margin-right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 1;
}
.post-balloon .speaker_A:after {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  margin-right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid #ccc;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.post-balloon .speaker_A strong{
  color: #0270C1;
  position: absolute;
  top: -28px;
  right:0;
}
.post .interviewer_A{
  color: #b60400;
  display: block;
}
.post .speaker_A strong{
  color: #0270C1;
}
/*アイコンをなくすタグ*/
.post-balloon .icon-none{
  margin: 20px 8px 1.5em;
}
.post-balloon .icon-none strong:before{
content: "";
}


.post object {
  margin-bottom: 8px;
}
.cattag{
  font-size: 14px;
  line-height: 1.5;
  color: #999;
  margin: 0 0 8px;
}
.post .post-bodycopy iframe {
margin-bottom: 0;
max-width:100%;
}
.google-iframe{
position: relative;
padding-bottom: 400%;
padding-top: 0;
height: 0;
overflow: hidden;
margin: 10px auto 20px;
width: 100%
}
.google-iframe iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.freebirdFormviewerViewFormContent {
     padding: 0 
}
/*youtube関連制御周り制御*/
.movie-post {
position: relative;
padding-bottom: 56.25%;
padding-top: 0;
height: 0;
overflow: hidden;
margin: 10px auto 20px;
width: 100%
}
.movie-post iframe,
.movie-post object,
.movie-post embed{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#post_sp {
margin: 20px 0 30px;
clear: both;
}
#supplement{
clear: both;
font-size: 14px;
margin:0;
padding: 0 0 0 24px;
}
#supplement li{
color:#666;
list-style: square;
margin: 0 0 .2em 0;
}
#supplement li a{
font-weight: 700;
}

/*ソーシャルファボ用ボタン*/
.social-banner {
  background-repeat: no-repeat;
  width: 100%;
  margin: 20px auto 8px;
  height: 160px;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.social-banner .profile-icon {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  border: 2px solid #F9F9F3;
}
.social-banner .col {
  float:left;
  height: 160px;
}
.social-banner .col.left {
  width:60%;
  background-size: cover;
}
.social-banner .col.right {
  background: #333;
  height: 100%;
  width:40%;
}
.social-banner .col.right .share-buttons {
  text-align: center;
  padding: 8px;
}
.social-banner .fb-like-wrap {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
    width: 120px;
    margin: 0 auto;
}
.social-banner .share-buttons li {
  margin-bottom: 12px;
}
.social-banner .description {
  font-size: 13px;
}
.social-banner:after {
  content: "";
  clear: both;
  display: block;
}
.follow-mobile-button {
  margin: 8px auto 20px;
}
.follow-mobile-button li{
  float: left;
  width: 50%;
  height: 50px;
}
[class*="_follow"]:before{
    font: 1rem/36px "getnews";
    padding:8px;
    color: #fff;
}
.b_twitter_follow{
}
.b_twitter_follow:before {
    background: #41b7d8;
    content: "\e60b";
  }
/*-----------------------メインカラムwidget-----------------------*/
/*特集枠用*/
#feature {
background: #eaf5f5;
border: 1px solid #bbb;
overflow: hidden;
padding: 0 0 4px;
}
#feature h1{
font-size: 18px;
line-height: 32px;
font-weight: bold;
margin: 0;
color: #000;
padding: 4px;
border-left: 4px solid #C60010;
}
#feature h1:before {
content: url("../img/feature_hand.svg");
margin-right: 4px;
}
#feature h1 span{
margin:0 1em 0 0;
}
#feature ul{
width: 100%;
overflow: hidden;
padding: 0 0 0 8px;
}
#feature li{
width: calc(33.3333% - 8px);
width: -webkit- calc(33.3333% - 8px);
margin: 0 8px 0 0;
float: left;
padding:0;
}
#feature li a{display: block;height: 100%;}
#feature li img {width: 100%;border: 1px solid #bbb;margin: 0 0 4px;
}
#feature h2 {
clear:both;
padding: 0;
margin: 0;
font-size: 14px;
line-height: 1.3;
font-weight: 300;
}
#feature p{
color: #000;
font-size: 14px;
line-height: 24px;
font-weight: bold;
text-align: right;
text-shadow: -1px -1px 1px #DADCDC, -1px -1px 1px #DADCDC;
margin: 4px 0 0 0;
width: 100%;
}
#feature p a{
width: 100%;
padding: 0 8px 0 0;
display: block;
}
/*記事直下関連記事-----------------------------------*/
.Related_t {
font-size: 16px !important;
line-height: 1;
font-weight: bold;
color: #222;
margin: 8px 0 !important;
}
.Related_u {
padding:0;
margin: 0 0 8px;
}
.Related_u li a{
display: block;
margin: 0;
border-bottom: 1px dashed #ccc;
padding: 8px 4px;
line-height: 1.3;
}
/*生放送枠-----------------------------------*/
.live_arc_table {
width: 100%;
background-color: #CCC;
border: 1px solid #CCC;
margin: 0;
padding: 0;
}
.live_arc_table th {
font-weight: 700;
color: #E8E8E8;
background-color: #888;
padding: 3px;
font-size: 12px;
text-align: center;
}
.live_arc_table td {
padding: 2px;
background-color: #FFF;
vertical-align: middle;
}
.live_arc_day {
font-size: 12px;
color: #6D6D6D;
width: 80px;
}
.live_arc_title {
font-size: 15px;
line-height: 1.3;
font-weight: bold;
width: 240px;
}
.live_arc_watcher, .live_arc_com {
width: 90px;
text-align: center;
}
.live_arc_memo {
font-size: 12px;
color: #666;
text-align: center;
}
/* feed icons on archives page */
.archives-page img {
border: 0;
padding: 0;
background: none;
margin-bottom: 0;
vertical-align: -10%;
}
#pst_navi {
font-size: 11px;
}
#lst_ud {
font-size: 10px;
padding: 0 10px 4px;
border-bottom: 1px solid #EEE;
text-align: right;
color: #5A5A5A;
background: #F5F5F5;
}
#arc_cnt {
clear: right;
font-size: 14px;
line-height: 18px;
}
#arc_cnt a {
margin-top: 1px;
}
#arc_cnt p {
font-size: 14px;
line-height: 18px;
margin-top: 7px;
}
#arc_cnt h3 {
font-size: 16px;
overflow: hidden;
padding: 1px 0 0;
clear: right;
letter-spacing: -1px;
word-spacing: -1px;
}
/*アーカイブページ ----------------------------------------*/
#archive_title {
padding:0;
margin: 0 0 8px;
text-align: center;
}
#archive_title img{
max-width: 100%;
}
#archive_title p{
font-size: 12px;
line-height: 1.6;
color:#333;
padding: 8px;
}
.tweet_tag {
  margin:8px 0;
}
#emg {
overflow: hidden;
font-size: 12px;
margin: 3px;
}
#na_sp_border,  /*広告下の仕切り線 */ {
border-bottom: 1px dotted #BBB;
clear: both;
}
#pst_b_border {
margin: 0 3px 5px;
}
#na_sp_border, #borderLst {
margin-bottom: 4px;
}
#arc_border {
margin: 0 0 5px 0;
}
/*ページバー関連------------------------------------------------------*/
.pagebar {
clear: both;
font-size: 14px;
line-height: 18px;
font-weight: bold;
padding: 2px;
border: 1px solid #fff;
background: #fff;
text-align: center;
margin: 16px 0;
}
.pagebar:after{
content: "";
clear: both;
display: block;
}
.pagebar a,
.pagebar a, .pageList .this-page {
border: 1px solid #999;
padding: 0.25em 0.45em;
}
.pagebar .break {
padding: 2px 6px;
}
.pagebar a:hover ,
.pagebar .this-page {
border: 1px solid #999;
color: #fff;
background: #999;
padding: 0.25em 0.45em;
}
.pagebar .inactive {
border: 1px solid #ccc;
color: #ccc;
}
/* ページバー */
ul.page-numbers {
clear: both;
font-size: 14px;
line-height: 18px;
font-weight: bold;
background: #EAEAEA;
text-align: center;
margin: 20px 0;
}
ul.page-numbers li{
display: inline;
line-height: 35px;
}
ul.page-numbers a{
padding: 6px 14px;
line-height: 35px;
}
ul.page-numbers a:hover ,
ul.page-numbers .current{
color: #fff;
background: #B70E0E;
padding: 6px 14px;
}
/*記事下フルバナー広告-------------------------------------*/
.single_ad {
width: 468px;
margin: 16px auto;
}
.title{
border-left: 4px solid #C60010;
position: relative;
overflow: hidden;
margin: 0 0 8px;
padding: 0px 0 0px 8px;
text-shadow: 0 1px 0 rgba(0,0,0,.2);
font-weight: bold;
}
#misawa_title{
font-size: 14px;
line-height: 1.5;
font-weight: bold;
}
.rank span:before{
content: "記事ランキング";
}
.rank:after{
position: absolute;
top: 0;
right: 0;
padding: 4px 12px;
font:700 10px/1 'Roboto Condensed', sans-serif;
content: "RANKING";
color: #fff;
letter-spacing: 1px;
background: #B6B3B3;
}
/*ランキング----------------------------------------------------------------*/
.Getnews_ranking{
background-color: #EEE;
border: 1px solid #EEE;
border-left: 1px solid #DDD;
border-right: 1px solid #DDD;
line-height: normal;
text-align: left;

overflow: hidden;
clear: both;
border: 1px solid #28a7e1;
border: 1px solid #777;
padding: 8px 4px 4px;
background: #EAEAEA;
}
.Getnews_ranking .title{
border-left: 4px solid #C60010;
font-size: 100%;
font-weight: bold;
margin: 0 0 8px;
overflow: hidden;
padding: 0px 0 0px 8px;
position: relative;
text-shadow: 0 1px 0 rgba(0,0,0,.2);
}
.Getnews_ranking .title:after{
background: #B6B3B3;
border-radius: 2px;
color: #fff;
content: "RANKING";
font:700 10px/1 'Roboto Condensed', sans-serif;
letter-spacing: 1px;
right: 0;
padding: 4px 12px;
position: absolute;
top: 0;
}
.Getnews_ranking ul{
background: #fff;
counter-reset:li;
margin: 0px;
padding: 0px;
}
.Getnews_ranking li{
border-bottom: 1px solid #EEE;
clear: both;
font-size: 12px;
display: block;
line-height: 1.5;
overflow: hidden;
position: relative;
}
.Getnews_ranking li:before {
position: absolute;
font: 14px/1 'Roboto Condensed', sans-serif;
max-width: 12px;
max-height: 24px;
top: 4px;
left: -8px;
color: #BDBDBD;
content: counter(li);
counter-increment: li;
padding: 6px 12px;
z-index: 10;
}
.Getnews_ranking li:last-child:before{
left: -12px;
letter-spacing: -2px;
}

.Getnews_ranking li a{
margin: 0px;
padding: 0px;
text-decoration:none;
display: block;
position: relative;
}
.Getnews_ranking li img{
margin: 0px;
display: block;
width: 36px;
height: 36px;
overflow: hidden;
top: 8px;
left: 20px;
position: absolute;
}
.Getnews_ranking li p{
min-height: 44px;
overflow: hidden;
letter-spacing: 0.5px;
padding: 8px 8px 8px 64px;
font-size: 100%;
}


/*寄稿記事*/
.kikou {
color: #fff;
font: 700 12px/1.3 'ＭＳ Ｐ明朝', 'MS PMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', serif;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c60010), color-stop(0.01, #e20008));
background: -webkit-linear-gradient(top, #e20008 1%, #c60010 100%);
background: -moz-linear-gradient(top, #e20008 1%, #c60010 100%);
background: -ms-linear-gradient(top, #e20008 1%, #c60010 100%);
background: linear-gradient(to bottom, #e20008 1%, #c60010 100%);
border: 1px solid #777;
border-bottom: none;
overflow: hidden;
position: relative;
padding: 8px 30px;
margin: 0;
}
.kikou:before {
font: 1.8rem/1 "getnews";
position: absolute;
top: -6px;
left: -3px;
content: "\e610";
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
transform: rotateY(180deg);
}
#kikou-post {
background: #fff;
border: 1px solid #777;
border-top: none;
}
#kikou-post li a{
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
padding: 8px;
display: block;
position: relative;
border-bottom: 1px solid #ccc;
}
#kikou-post span a{
font-size: 12px;
line-height: 1;
display: block;
padding: 8px;
text-align: right;
border: none;
}
/* タグ一覧--------------------------*/
.bg-box img {
width: 100%;
height: auto;
}
.bg-box {
min-height: 178px;
position: relative;
box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.bg-box a{
display: block;
overflow: hidden;
}
.widget-header {
color: #444;
font-weight: bold;
margin: 0 0 8px 4px;
font-size: 12px;
line-height: 12px; /*アイコンと高さを合わせるため微調整*/
text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
}
.more-link {
float:right;
}
.more-link::after {
content: "もっとみる ▶";
padding: 0px 4px;
background: #BDBDBD;color: #FEFEFE;
font-weight: 300;
font-size: 10px;
border-radius: 2px;
text-shadow: none;
}
.more-link:hover::after {
background: #B70E0E;
}
.layer_1 {
color: #FEFEFE;
background-color: rgba(0,0,0,0.4);
width: 100% ;
min-height: 60px;
padding: 32px 8px 8px;
font-size: 14px;
line-height: 1.5;
position: absolute;
bottom: 0;
left: 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, rgba(0,0,0,0)), color-stop(0.35, rgba(0,0,0,0.4)), color-stop(0.00, rgba(0,0,0,0.4)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.4) 100%);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.4) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.4) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.4) 100%);
}
.layer_1 a {
color:#FFF;
}
/*連載・特集・ブロマガ枠--------------------------*/
.taglist {
background: #fff;
display: table;
table-layout: fixed;
}
.taglist li {
border-bottom: 1px solid #eee;
display:table;
table-layout: fixed;
width:100%;
}
.taglist img {
float:left;
margin:0px 4px 0px -4px;
}
.taglist span {
display:table-cell;
vertical-align:middle;
line-height:1.2em;
height: 45px;
}
.taglist li a {
display: block;
padding: 8px 4px 8px 12px;
vertical-align:middle;
}
i[class*="banner_"]{
  width: 137px;
  height: 50px;
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
}
i[class*="banner_"]:before{
content: url("../img/logo-alls.svg");
position: absolute;
width: 100%;
height: auto;
left:-4px;
}
.banner_moritapo:before{
top: -336px;
}
.banner_mogera:before{
top: -403px;
}
.banner_kosoan:before{
top: -477px;
}
.banner_cureco:before{
top: -273px;
}
.banner_horror2:before{
top: -75px;
}
.banner_rensai:before{
top: -142px;
}
.banner_otajo:before{
top: -213px;
}
.banner_getcre:before{
top: -547px;
}

/*インフォメーション*/
.infomation{
background: #fff;
}
.infomation p{
margin: 4px;
}
.infomation strong{
padding: 8px 4px;
color: #0079DF;
display: block;
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #eee;
}
.widget-Parts{
overflow: hidden;
clear: both;
border: 1px solid #28a7e1; /*連載JPよう*/
border: 1px solid #777;
padding: 8px 4px 4px;
background: #EAEAEA;
}
.ichioshi{
padding: 8px 0 0;
}
.widget-Parts .center {
background: #fff;
text-align: center;
padding: 4px 4px 20px;
}
.post-list {
background: #EAEAEA;
}
.post-list li{
background: #FFF;
}
.post-list li a{
position: relative;
font: 12px/1.5"";
padding: 4px 4px 4px 8px;
border-bottom: 1px dashed #DBDBDB;
display: block;
}
.live ul li{
padding:0;
}
#live-pickup img{
width:90px;
float:left;
margin-right:4px;
}
.pickup{
position: absolute;
top: 0;
left: 0;
display: block;
background: #FF0000;
color: #FFF;
font-size:10px;
padding: 0 2px;
z-index: 20;
}
#live-pickup li{
background: #fff;
border-bottom: 1px dashed #DBDBDB;
padding: 0 8px 4px 0;
min-height: 60px;
position: relative;
overflow: hidden;
}
.widget-bottom{
display:block;
text-align:right;
background: #EAEAEA;
padding: 4px 4px 0px;
}
#live-list .date{
display:block;
font-weight:bold;
}
.travel  a span,
.sakidori a span{
text-indent: -9999px;
}
.travel li span{
background-image: url(../img/left_travel_all.png);
height: 55px;
width: 145px;
float: left;
background-size: 100%;
}
.travel #hon{
background-position: 0 0;
}
.travel #kuma{
background-position: 0 -54px;
}
.travel #aus{
background-position: 0 -109px;
}
.travel #ger{
background-position: 0 -163px;
}
.sakidori ul {
  background: #fff;
  overflow: hidden;
  padding: 4px 0 0 ;
}
.sakidori ul li {
  padding: 4px;
  position: relative;
  /*max-width: 100%;*/
}
.sakidori ul li:after{
  display: block;
  content: "";
}
.sakidori ul li span{
background-image: url(../img/kyoudo-project.png);
display: block;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sakidori ul li span:hover{
filter:alpha(opacity=80);
-moz-opacity: 0.80;
opacity: 0.80;
}
.sakidori ul li.left{
  float:left;
}
.sakidori ul li.right{
  float:right;
}
.sakidori ul .square{
width:50%;
}
.sakidori ul .square:after{
padding-top: 52.75%;
}
.sakidori ul .square span{
background-size: 195%;
}
.sakidori ul .rectangle{
clear: both;
width:100%;
/*height: 19.568%;*/
}
.sakidori ul .rectangle{
padding-top:19.568%;
}
.sakidori ul .rectangle span{
background-size: 100%;
}
.sakidori #loft{
background-position:0 2%;
}
.sakidori #magzine-house{
background-position: 100% 2%;
}
.sakidori #tsutaya{
background-position:0 30%;
}
.sakidori #ice31{
background-position:0 50%;
}
.sakidori #yonayona{
background-position:0 77%;
}
.sakidori #mono-magzine{
background-position: 100% 77%;
}
.sakidori #lawson{
background-position:0 100%;
}

/*.フッター関連--------------------------------------------------------------*/
footer,
#footer_partners {
clear: both;
background: #F6F6F6;
margin: 0;
border: 1px solid #777;
overflow: hidden;
}
#footer_bg {
clear: both;
line-height: 55px;
word-spacing: 1px;
text-align: center;
background: #F0F0F0;
}
#footer_partners .loft h4 {
border-left: solid 5px #c80014;
padding: 4px;
font-size: 14px;
line-height: 1.5;
font-weight: bold;
margin: 0 0 4px 0;
}
#footer_partners .loft {
padding: 12px;
float: left;
}
#footer_partners .loft ul{ display: block; overflow: hidden;}
#footer_partners .loft:nth-of-type(1){ width: 63.9999%;}
#footer_partners .loft:nth-of-type(2){ width: 35.9999%;}
#footer_partners .loft:nth-of-type(3){ clear:both;}


#footer_partners .loft ul li{float: left;}
#footer_partners .loft:nth-of-type(1) li{ width: 32.9999%;}
#footer_partners .loft:nth-of-type(2) li{ width: 49.9999%;}

#footer_partners .loft ul li a {
font-size: 14px;
line-height: 1.7;
font-weight: 300;
display: block;
padding: 0 4px 4px 12px;
position: relative;
}
#footer_partners .loft ul li a:before {  /*三角形*/
position: absolute;
display: inline-block;
content: "";
top: 6px;
left: 0;
width: 0;
height: 0;
border-left: 4px solid #777;
border-top: 3.5px solid transparent;
border-bottom: 3.5px solid transparent;
margin: 1px 8px 1px  1px;
}
#footer_partners .loft ul li a:hover {
background-color:#f0f0f0;
text-decoration: underline;
}
/*プロフィール欄------------------------------------------------------*/
#sp_profile {
padding: 16px;
background: #EFEEEB;
border: 8px solid #D8D6D2;
margin: 0 0 16px 0;
overflow: hidden;
box-shadow: inset 1px 1px 0 #FFF;
}
#sp_profile i{
overflow: hidden;
display: block;
}
#sp_profile img {
float: left;
margin:0 16px 0 0;
/*box-shadow: 2px 2px 0 rgba(0,0,0,.15);*/
}
#sp_profile p {
margin:0 0 4px 0;
}
#sp_profile h1 {
margin: 0 0 8px 0;
font-size: 20px;
}
#list-arrow { /* 三角形 */
width: 0;
height: 0;
border-left: 4px solid #CCC;
border-top: 3.5px solid transparent;
border-bottom: 3.5px solid transparent;
margin: 5px;
}
/*プロフィール欄　其の２-------------------------------------------------*/
.author-link{
clear: both;
font-size: 16px;
line-height: 1.3;
font-weight: bold;
margin: 16px 0;
display: block;
}
#si_profile {
border: 1px solid #eaeaea;
text-align: left;
background: #fafafa;
padding: 16px;
margin: 16px 0;
/*box-shadow: inset 0 0 2px rgba(255,255,255,1);*/
overflow: hidden;
}
#si_profile img {
padding: 0;
float: left;
margin: 0 16px 0 0;
box-shadow:1px 1px 2px rgba(0,0,0,.2);
}
#si_profile i {
display: block;
overflow: hidden;
}
#si_profile a {
font-size: 12px;
line-height: 1.7;
font-weight: bold;
}
#si_profile p {
overflow: hidden;
font-size: 12px;
line-height: 1.7;
margin: 0;
}
.tagimages {
margin:0 auto 5px;
text-align: center;
}
/*facebookプラグインコメント欄*/
.getnews-fb-comment{
margin:20px 0;
}
/*ボタンエリア*/
.cautions {
padding: 0 0 5px 0;
}
.comment-block .cautions input[type="submit"] {
font-size: 16px;
line-height: 1;
font-weight: bold;
margin: 0;
width: auto;
padding: 10px;
}
.comment-block .cautions input[type="submit"]:hover {
cursor: pointer;
}
.comment-block p {
font-size: 12px;
line-height: 1.5;
}
/*コメント一覧表示*/
.headingBlock-comment .heading {
font-size: 14px;
line-height: 1;
font-weight: 300;
padding: 0;
margin: 0 0 10px 0;
}
.columnBlock-comment .author {
padding: 0;
margin: 0 0 5px 0;
overflow: hidden;
list-style: none;
}
.columnBlock-comment .author li {
font-size: 12px;
line-height: 1;
font-weight: 300;
float: left;
margin: 0 10px 0 0;
}
.columnBlock-comment .author .com_number {
color: #666;
font-weight: bold;
font-family: "'Overlock SC', cursive";
}
.columnBlock-comment .author .com_number:before {
content: "No.";
}
.columnBlock-comment .author .com_name:before {
content: "ID:";
}
.columnBlock-comment .author .com_date {
float: right;
margin: 0;
}
.columnBlock-comment .inBlock {
background-color: #fff;
border-radius: 3px;
width: 95%;
border: 1px solid #ccc;
padding: 5px;
margin: 0 0 5px 0;
}
.columnBlock-comment .inBlock p {
font-size: 14px;
line-height: 1.5;
}
/*scroll　ボタン*/
#page-top{
position: fixed;
z-index: 80;
right: 20px;
}
#page-top a {
width: 72px;
height: 50px;
padding: 20px;
text-align: center;
display: block;
letter-spacing: 1px;
color: #eee;
font-weight: bold;
background: rgba(29, 29, 29, 0.8);
}
#page-top a:after{display: none;}

#container {
width: 1260px;
margin: 0 auto;
}
header{
/*margin: 0 0 20px 0;*/
}
#mainContent {
width: 1260px;
float: left;
}
#reportColumn {
float: left;
}
.mainColumn {
float: left;
width: 660px;
display: block;
padding: 0 20px;
}
#Column_main_left {
float: right;
width: 960px;
margin: 20px 0 20px;
}
#rightColumn {
float: right;
width: 300px;

}
#leftColumn {
float: left;
width: 300px;
margin: 20px 0 0;
}
/*ランキング and 404ページ*/
.mainColumn .ranking-area{
padding: 8px 0;
}
.mainColumn .ranking-h1{
clear: both;
font-size: 22px;
font-weight: bold;
padding: 0 0 4px 0;
margin: 40px 0 20px;
border-bottom: 2px solid #eee;
}
.get-ranking{
clear: both;
}
.get-ranking li{
position: relative;
min-height: 96px;
clear: both;
padding: 4px;
margin: 0 0 16px 0;
border-bottom:1px solid #ccc;
}
.get-ranking li:after{
content: "";
clear: both;
display: block;
}
.get-ranking .numbar {
position: absolute;
top: -11px;
left: 0;
box-shadow: 0 0 0 3px rgba(255,255,255,1);
border-radius: 50%;
background: #C60010;
width: 30px;
height: 30px;
z-index: 11;
}
.get-ranking .numbar i{
position: absolute;
font-size: 16px;
line-height: 10px;
font-weight: bold;

color: #fefefe;
top: 36%;
z-index: 10;
}
.get-ranking li:nth-of-type(1) .numbar{ box-shadow: 0 0 0 3px rgba(189, 166, 45, 0.99);}
.get-ranking li:nth-of-type(2) .numbar{ box-shadow: 0 0 0 3px rgba(192, 192, 192, 0.99);}
.get-ranking li:nth-of-type(3) .numbar{ box-shadow: 0 0 0 3px rgba(180, 147, 121, 0.99);}
.get-ranking li:nth-of-type(n+1):nth-of-type(-n+9) .numbar i{
left: 30%;
}
.get-ranking li:nth-of-type(n+10) .numbar i{
left: 13%;
}
.get-ranking .title-1 {
font-size: 18px;
line-height: 1.3;
font-weight: 300;

margin: 0 0 0 100px;
}
.get-ranking .title-2 {
font-size: 22px;
line-height: 1.3;
font-weight: 300;
margin: 8px 0 0 32px;
}
.get-ranking .rank-images {
float: left;
overflow: hidden;
width: 200px;
height: 120px;
margin: 0 8px 0 8px;
position: relative;
}
.get-ranking .rank-images img {
width: 100%;
height: auto;
}
.get-ranking .data1{
position: absolute;
bottom:0;
left: 0;
font-size: 12px;
line-height: 1.5;
font-weight: 300;
background: rgba(0,0,0,.6);
padding: 4px;
width: 200px;
overflow: hidden;
color: #eee;
}
.get-ranking .data2{
font-size: 12px;
line-height: 1.2;
font-weight: 300;
margin: 8px 0 8px 32px;
}
/*コンタクトフォーム７設定----------------------------------*/
.post h2{
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
    text-shadow: 1px 2px 0 rgba(0,0,0,.1);
    border-left: 8px solid #C60010;
    margin: 0 0 16px;
    padding: 8px;
}
div.wpcf7 {
margin: 0;
padding: 8px 0;
}
.wpcf7-form{
width: 100%;
}
div.wpcf7-response-output {
margin: 2em 0 1em;
padding: 0.2em 1em;
}
div.wpcf7-mail-sent-ok {
border: 2px solid #398f14;
}
div.wpcf7-mail-sent-ng {
border: 2px solid #ff0000;
}
div.wpcf7-spam-blocked {
border: 2px solid #ffa500;
}
div.wpcf7-validation-errors {
border: 2px solid #F7B200;
background: #F5EFCF;
}
span.wpcf7-form-control-wrap {
position: relative;
}
span.wpcf7-not-valid-tip {
position: absolute;
top: -50%;
left: 4%;
z-index: 100;
background: #C60010;
border: 1px solid #ff0000;
color: #fff;
font-size: 10pt;
width: 280px;
padding: 4px;
box-shadow: 0 2px 0 rgba(0, 0, 0, 0.46);
}
span.wpcf7-not-valid-tip-no-ajax {
color: #f00;
font-size: 10pt;
display: block;
}
span.wpcf7-list-item {
margin-left: 0.5em;
}
.wpcf7-display-none {
display: none;
}
div.wpcf7 img.ajax-loader {
border: none;
vertical-align: middle;
margin-left: 4px;
}
div.wpcf7 div.ajax-error {
display: none;
}
div.wpcf7 .placeheld {
color: #888;
}
.screen-reader-response{
font-size: 14px;
color: red;
}
.wpcf7 input[type="email"],
.wpcf7 input[type="text"]{
border: 1px solid #ccc;
padding: 4px;
position: relative;
margin: 0 0 1em 0;
width: 100%;
}
.wpcf7 input[type="submit"]{
background: #A00814;
color: #F4E2E2;
/*width: 120px;*/
padding: 4px 8px;
box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
border-radius: 3px;
}
.wpcf7 input[type="submit"]:hover{
background: #C60010;
color:#fff;
cursor: pointer;
}
.wpcf7 input[type="submit"]:active{
padding: 5px 8px 3px;
}
.wpcf7-textarea{
width: 100%;
min-height: 160px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.wpcf7-radio{
clear: both;
display: block;
overflow: hidden;
padding: 8px 0 16px;
}
.wpcf7 .form-title{
font-weight: bold;
white-space: nowrap;
text-align: left;
padding:4px;
border-bottom: 1px solid #ccc;
border-left: 7px solid #333;
margin: 0 0 1em 0;
}
.Dicnico_tag {
    clear: both;
}
.Dicnico_tag a{
background-image: url(../img/dic_on.png);
background-position: 3px center;
background-repeat: no-repeat;
background-size: 13px auto;
padding-left: 18px;
margin: 0 3px;
}

/* ここからレスポンシブ化の設定。----------------------------------------------------------*/

/* PC用 -------------------------------------------------------------------------------*/
@media screen and (min-width: 641px){
.js-header-search,
.js-header-menu{
display: none !important;
}
.moblie-only{
display:none;
}
.ex-adsense{
  display: none;
}

}
/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:640px) {
h1,h2,h3,h4,h5,h6{
line-height: 1.3;
}
body {
color: #333;
background: #fff;
}
/*広告,、他非表示*/
select[name*="archive-dropdown"],
#text-447347173,
#text-447347174,
#text-447347182,
#text-447347183,
#execphp-4,
#execphp-5,
#execphp-9,
#execphp-12,
#execphp-19,
#execphp-44,
#execphp-43,
#execphp-37,
#execphp-52,
.widget_archive,
.b_writing,
#footer_partners .loft,
#bigbanner,
.pc-navigation,
#get-header > span,
.social_icon,
.list-news{
display: none;
}
.ex-adsense{
  display:block;
  text-align: center;
  margin: 4px 0;
}
.textwidget a > img {
width: 100%;
margin: 0;
}
#text-447347198{
margin: 8px auto;
width: 300px;
}
#execphp-13,
#execphp-15,
#execphp-16,
#execphp-58,
#execphp-62{
margin: 0 auto;
width: 300px;
}
#execphp-18{
margin: 0 auto;
width: 300px;
overflow:hidden;
}
/*カラム----------------------------------------*/
#container {
min-width: 300px;
width: 100%;
width: calc(100% - 8px);
width: -webkit-calc(100% - 8px);
padding: 0;
margin: 0 auto;
}
#mainContent {
width: 100%;
clear: both;
float: none;
}
#reportColumn {
float: none;
}
.mainColumn {
float: none;
width: 100%;
padding:0;
}
#Column_main_left,
#rightColumn,
#leftColumn {
float: none;
width: 100%;
}
#cntx_archive,.mainColumn .authorlist{
letter-spacing: 4px;
border-radius: 0;
box-shadow: inset 0 0 11px #111;
color: #18A7A0;
}
/*トップページ要素*/
header{
margin: 0 -4px 20px -4px;
background: rgba(210,210,210, .8);
}
header h1{
width: 160px;
height: auto;
margin: 0 auto;
float: none;
display: block;
padding:8px 0;
background-position: 0 4px;
}
header h1 img{
width:90%;
/*height: 100%;*/
}
nav{
border-top: 4px solid #C60010;
}
.menu-icon,
.search-icon{
border-radius: 3px;
display: block;
position: absolute;
width: 40px;
height: 40px;
top: 4px;
color: #666;
background: #eee;
}
.menu-icon{display: block !important;left: 4px;}
.search-icon{right: 4px;}

.menu-icon:before{
content: "\e614";
font:bold 2.5rem/1 "getnews";
}
.search-icon:before{
position: absolute;
top: 7px;
left: 7px;
content: "\e62c";
font: bold 1.5rem/1 "getnews";
}
#mobile-searchForm:before {
position: absolute;
top: 2px;
left: 2px;
content: "\e62c";
font: 1.1rem/1 "getnews";
z-index: 10;
color: #999;
}
.js-header-search {
padding: 4px;
width: 100%;
height: 40px;
}
.js-header-menu{
border: none;
top: 44px;
width: 100%;
height: 100%;
z-index: 20;
}
.js-header-menu li a{
background: #444;
border-top: 1px solid #4F4F4F;
border-bottom: 1px solid #2D2B2B;
color: #eee;
font-size: 14px;
display: block;
height: 40px;
line-height: 32px;
padding: 4px 8px;
}
#mobile-searchForm {
display: block;
}
#mobile-searchForm input[type*="text"]{
float: right;
width: 100%;
height: auto;
border: 1px solid #ccc;
border-radius: 2px;
font-size: 14px;
line-height: 1.5;
padding: 4px 4px 4px 32px;
}
#mobile-searchForm:before {
top: 5px;
left: 6px;
}
/*イチオシ記事用追加指定*/
.ichioshi {
    margin: 0 auto;
    width: 302px;
}
/*トピックス用カラム---------------------------------------------------------------------*/
.block-title,
.mainColumn > p{
  clear: both;
  display: block;
  border: none;
  text-align: center;
  padding: 8px;
  letter-spacing: 8px;
  color: #fff;
  background: #222;
  border-left: 8px solid #C60010;
  border-right: 8px solid #C60010;
  /* margin: 4px -4px; */
  margin: 4px 0px;
}
/*画像付きトピックス*/
.top-topics {
position: relative;
min-height: 324px;
overflow: hidden;
margin: 4px 0;
}
#tab_area,
#tab_area_box{width: 100%}
#tab_area li{width: 40%;}
#tab_area_box{ padding: 0; min-height: 288px;}

.Topics_area li a{
line-height: 32px;
border-bottom: 1px solid #ccc;
display: block;
}
#getTopics i {
margin: 0;
overflow: hidden;
width: 33.1111%;
float: right;
border:none;
border-top: 1px solid #ccc;
background:none;
padding: 0;
}
#getTopics i a span{
font-size: 12px;
line-height: 1.3;
text-align: left;
  white-space: inherit;
}
#getTopics i img {
padding: 0;
/*height: 133px;*/
background: #FAFAFA;
position: relative;
/*left: -35px;*/
}
#getTopics i span {
display: block;
padding: 4px;
}
#getTopics ul {
padding:0;
width: 100%;
}
#getTopics ul li a:before {
border:0;
margin:0;
}
#getTopics ul li a{
padding: 4px !important;
display: block;
font-size: 13px;
line-height: 1.3;
font-weight: 300;
box-shadow: inset 0 1px 0 #fff;
white-space: normal;
}
#getTopics ul li:nth-child(-n+4) a{
padding-left:0;
width: 66.8899%;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
min-height: 53px;
}
#getTopics ul li:nth-child(4) a{
border-bottom: none;
}
#getTopics ul li:nth-child(n+5) a{
float: left;
border: 1px solid #ccc;
border-bottom: none;
border-left: none;
width: 33.45555%;
height: 74px;
}
#getTopics ul li:last-child a{
border-right: none;
width: 32.9999%;
}
#Column_main_left section a{
clear: both;
}
.mainColumn section:first-of-type{
border-top: 1px solid #ccc;
}
/*ニュース一覧*/
.article-list {
margin: 0;
}
.mainColumn .adsense {
border: none;
border-bottom: 1px solid #DBDBDB;
margin: 0;
padding: 0 0 8px;
}
.top-news a,
.sub-news a{
min-height: 90px;
position: relative;
padding: 4px 0 4px 4px;
clear: both;
border: none;
border-top: 1px solid #fff;
border-bottom: 1px solid #ccc;
overflow: hidden;
}
.top-news p,
.sub-news p{
display: none;
}
.sub-news:after{
content: "";
display: block;
clear: both;
}
.top-news ul,
.sub-news ul{
padding: 0;
position: absolute;
bottom: 0;
right: 0;
z-index: 10;
}
.top-news a i li,
.sub-news a i li,
.list-news a i li,
.top-news i time,
.sub-news i time,
.list-news i time,{
color: #999;
}
.top-news a i,
.sub-news a i{
bottom:0;
left:0;
margin: 0;
display: block;
height: auto;
background: none;
}
.top-news h1,
.sub-news h2{
font-size: 14px;
font-weight: 300;
padding: 0 24px 12px 0;
color: #333;
}
/*色々装飾を消す*/
.top-news h1:before,
.sub-news h2:before{
border:none;
background: none;
box-shadow: none;
}
.top-news img{
max-width: 120px;
}
.sub-news img{
width: 80px !important;
}
#morePict{
height: auto;
display: block;
margin: 8px 0;
padding: 12px 0;
text-align: center;
position: relative;
font-size: 14px;
font-weight: 300;
}
#morePict:hover:after {content: "";}

/*-----------------------メインカラムwidget-----------------------*/
.single-otherbox{margin: 0 4px;}
#feature li img {
width: 100%;
height: auto;
}
#feature li{
position: relative;
float: left;
overflow: hidden;
}
/*カテゴリ別記事一覧*/
.cat_Related{
overflow: hidden;
margin: 20px 0 0;
}
.cat-more-link{
padding:0 8px;
position: absolute;
top: 0;
right: 0;
color: #ccc;
display: block;
}
.cat_Related ul li a h2{
padding: 8px 8px 8px 20px;
color: #eee;
background: #222;
font-size: 14px;
min-height: 48px;
text-overflow: inherit;
white-space: inherit;
}
.cat_Related h1{
padding: 8px;
font-weight: bold;
font-size: 12px;
}
.cat_Related ul li a{
margin: 0;
padding: 0;
border-bottom: 1px solid #111;
}

#digital,
#entertainment,
#food,
#video,
#life,
#politicseconomysociety,
#getgames,
.social-banner .description br{
display: none;
}
/* 中央カラム　検索流入広告表示部分----------------------------------------*/
#main_re {
overflow: hidden;
margin: 0 0 8px 0;
}
#main_re_left {
float: none;
margin:4px auto;
width: 300px;
}
#main_re_right {
float: none;
margin:8px auto;
padding: 0;
width: 280px;
}
/*トピックスカラム-------------------------------------------*/
#getsideTopics{
padding: 0;
border-bottom: 1px solid #ccc;
background: #fff;
}
#getsideTopics p{
border: none;
}
#getsideTopics ul li a{
padding: 8px;
min-height: 40px;
display: block;
font-size: 14px;
line-height: 1.5;
font-weight: 300;
border-top: 1px solid #ccc;
border-bottom: 1px solid #fff;
}
/*記事ページ---------------------------------------------*/
.post{
padding:0 4px;
border:none;
}
.post h1{
margin: 20px -8px 4px;
font-size: 20px;
padding: 8px;
}
.post h2,
.post h5 {
border-left: 4px solid #C00;
}
.post img{
width:auto;
}
.post img.size-full,
.post img.alignleft,
.post img.alignright,
.post img.aligncenter{
width: 100%;
max-width: 100%;
height: auto;
padding: 0;
border: 1px solid #DCDCDC;
margin: 4px 0;
}
.post-bodycopy > p {
margin: 16px 8px 2em;
}
.post .post-bodycopy p iframe,
.post .post-bodycopy iframe{
margin:0 0 20px;
max-width: calc(100%  - 0px)!important;
max-width: -webkit-calc(100%  - 0px)!important;
}
blockquote {
padding: 8px;
margin: 8px 0;
}
/*youtube関連制御周り制御*/
.movie-post {
width: 100%;
}
/*ループ用関連記事*/
.moblie-only{
padding: 4px 4px 0;
background: #DEDEDE;
overflow: hidden;
}
.bg-box img {
height: auto;
}
.moblie-only .bg-box{
margin: 0 0 4px;
}
#supplement li:nth-child(-n+2){
display: none;
}
.social-banner .col.left {
    width: 55%;
}
.social-banner .col.right {
    width: 45%;
}


/*寄稿記事-------------------------------------------------------------------*/
#kikou-post li a{
border: none;
border-top: 1px solid #fff;
border-bottom: 1px solid #ccc;
padding: 12px 32px 12px 8px;
min-height: 48px;
}
#kikou-post span a{
min-height: 40px;
}
/*姉妹サイトリスト--------------------------------------------------------------*/
.widget-Parts i{
margin: 0;
}
.travel li a{
width: -webkit-calc(49.999% - 1px);
width: calc(49.999% - 1px);
float: left;
}
.post-list li a:before{
border: none;
}
.post-list li a{
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 4px;
height: 60px;
overflow: hidden;
}
.more-link::after {
  background: #B70E0E;
  padding: 4px 8px;
}
/*リンク用arrow ver.ホワイト----------------------------------------- */
#morePict:after{
position: absolute;
top: 50%;
right: 8px;
display: block;
content: '';
width: 8px;
height: 8px;
margin-top: -6px;
border-top: 2px solid #eee;
border-right: 2px solid #eee;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
/*リンク用arrow ver.グレー-----------------------------------------*/
.top-news:after,
.sub-news:after,
#kikou-post li a:before,
#get_ranking li a:after,
.Otherreports:after{
position: absolute;
top: 50%;
right: 8px;
content: '';
width: 8px;
height: 8px;
margin-top: -6px;
border-top: 2px solid #999;
border-right: 2px solid #999;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
/*scroll　ボタン*/
#page-top{
position: fixed;
z-index: 200;
right: 0;
background: rgba(100,100,100,.7);
border-radius: 3px 0 0 3px;
}
#page-top a {
color:rgba(255,255,255,.8);
font-size: 14px;
line-height: 1;
font-weight: 300;
width: 60px;
min-width: 60px;
height: 32px;
padding: 8px 4px;
text-align: center;
display: block;
letter-spacing: 1px;
}
/*ページバー関連------------------------------------------------------*/
.pagebar {
font-size: 12px;
line-height: 30px;
font-weight: 700;
padding: 2px;
border: 1px solid #fff;
background: none;
text-align: center;
margin:16px 0;
}
.pagebar:after{
content: "";
clear: both;
display: block;
}
.pagebar a,
.pagebar a, .pageList .this-page {
border: 1px solid #999;
padding: 0.25em 0.45em;
background: #fff;
}
.pagebar .break {
padding: 2px 6px;
}
.pagebar a:hover ,
.pagebar .this-page {
border: 1px solid #999;
color: #fff;
background: #999;
padding: 0.25em 0.45em;
}
.pagebar .inactive {
border: 1px solid #ccc;
color: #ccc;
}
/*ソーシャルブックマーク-----------------------------------------------------------*/
.sns_listpage{display: none;}
.buton-follow li{margin: 0 4px 4px 0;}
.button_sns li{
float: left;
text-align: center;
margin: 0 4px 4px 0;
}
.button_sns li:nth-of-type(-n+3){
width: calc( 33.33333% - 4px);
}
.button_sns li:last-child,
.button_sns li:nth-of-type(n+4){
width: calc( 24.9999% - 4px);
}
/*.button_sns li:nth-of-type(7){
width: 24.9999%;
margin: 0 0 4px 0;
}
.button_sns li:nth-of-type(3){
width: 33.33333%;
margin: 0 0 4px 0;
}*/
.button_sns li:nth-of-type(7){display: inline;}

.top_sns > .button_sns .b_facebook,
.top_sns > .button_sns .b_twitter,
.top_sns > .button_sns .b_line {width: calc( 33.33333% - 4px);}
.top_sns > .button_sns .b_line {margin: 0 0 4px 0;}
.top_sns > .button_sns .b_google,
.top_sns > .button_sns .b_hatebu,
.top_sns > .button_sns .b_pocket,
.top_sns > .button_sns .b_mixi{
  display: none
}
.float_sns_button{
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  padding: 0 0 0 8px;
}
.float_sns_button li:nth-of-type(6),
.float_sns_button .b_twitter .tweet-counter,
.float_sns_button span{
  display: none;
}
.float_sns_button .b_twitter a[title] {
    width: 100%;
}
.float_sns_button .button_sns li{
  margin: 0 8px 0 0px;
  width: calc( 16.6666% - 8px);
border-bottom: none;
}
.float_sns_button li[class^="b_"] a::before {
     margin: 0;
}
.Getnews_ranking li img{
width: auto;
}
} /* ←ココ終わり*/
@media screen and (min-width: 0px) and (max-width: 340px) {
#getTopics ul li a {
  font-size: 12px;
  line-height: 1.3;
}
#getTopics ul li:nth-child(-n+4) a{
min-height: 53px;
}
.top-news img {
max-width: 100px;
}
.sub-news img {
width: 80px;
}
.social-banner .fb-like-wrap {
  transform:scale(1.0);
  -webkit-transform:scale(1.0);
  -moz-transform:scale(1.0);
    width: 120px;
    margin: 0 auto;
}
.Getnews_ranking li img{
width: auto;
}

}
