@charset "utf-8";
/*飯テロ*/

/*上書き処理*/
#get-header{
  /*margin: 0;*/
}
#get-header > span {
  /*color: #fff;*/
}
.b_writing {
  z-index: 10;
}
header h1,
#get-header > span {
  position: absolute;
  z-index: 10;
}

#get-header > span {
    /*bottom: 130px;*/
}
#get-header a:hover{
  background: none;
}
#bigbanner{
    position: absolute;
    z-index: 30;
    top: 0;
    left: 200px;
}
.pc-navigation {
  padding: 98px 0 0;
}
#nav_menu {
  border: 1px solid #777;
  border-top: none;
}
.b_writing{
  /*display: none;*/
}
.social_icon {
  position: absolute;
  right: 0;
  top: initial;
  bottom: 4px;
}

/*ここから 飯テロメイン部分*/
.header-meshi{
  position: relative;
}
.header-meshi-link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 0;
}
.header-meshi-bg{
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -1;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: top center !important;
}
.meshi_headerarea{
  margin: 0 0 80px;
}
.article_meshibox{
  overflow: hidden;
  margin: 1px -1px;
}
.meshitero_main_logo{
  background: url(../img/meshitero/meshitero_logo.png) no-repeat center;
  background-size: 80%;
  float: left;
  width: calc(25% - 2px);
  background-color:#fff;
}
.meshitero_main_logo:after{
 padding-top: 61.7%;
}
.meshitero_face_A{
   background: url(../img/meshitero/meshitero_face_A.jpg) no-repeat center;
  background-size: 100%;
}
.meshitero_face_B{
   background: url(../img/meshitero/meshitero_face_B.jpg) no-repeat center;
  background-size: 100%;
}


.meshi-desc{
  bottom: 20px;
  color: #777;
  font-size: 10px;
  font-weight: bold;
  left: 0;
  letter-spacing: 2px;
  position: absolute;
  text-align: center;
  width: 100%
}
.meshitero_main_logo,
li[class*="article_meshi_"]{
  position: relative;
  display: block;
  height: auto;
  margin: 1px;
  padding: 0;
  overflow: hidden;
}
li[class*="article_meshi_large"]{
  width: calc(75% - 2px);
}
.article_meshi_large1{
  float: left;
}
.article_meshi_large2{
  float: right;
}
li[class*="article_meshi_normal"]{
  float: left;
  width: calc(25% - 2px);
}
.meshitero_main_logo:after,
li[class*="article_meshi_"]:after{
  content: "";
  display: block;
}
li[class*="article_meshi_large"]:after{
  padding-top: 61.8%;
}
.article_meshi_normal:after{
  padding-top: 61.63%;
}
.article_meshi_normal_2:after{
  padding-top: 67.755%;
}
/*メインcolumn記事一覧*/
.article_meshi2 li{
  float: left;
  width: calc(50% - 10px);
  margin: 0 20px 20px 0;
  background: #fff;
  padding: 0px;
}
.article_meshi2 li:after{
  content: "";
  display: block;
  padding-top: 100%;
}

.article_meshi2 li:nth-child(odd){
  clear: both;
}
[class*="article_"] img{
  width: 100%;
  height: auto;
  position: absolute;
  transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
}
[class*="article_meshi"] li a:hover{
  background: none;
}
.article_meshi_normal img,
[class*="article_meshi_large"] img{
  opacity: 1;
}
[class*="article_meshi"] li:hover img{
  opacity: 0.8;
}
[class*="meshi_"] [class*="_title"]{
  bottom: 0;
  width: 100%;
  left: 0;
  position: absolute;
  text-shadow:0 0 4px rgba(0,0,0,.3);
  z-index: 15;
}
.meshi_normal_title{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  padding: 20px;
}
li[class*="article_meshi_"] a:hover [class*="_title"]:not(.meshi_normal_2_title):not(.meshi_normal_3_title){
  background-color: rgba(0,0,0,0.4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, rgba(0,0,0,0)), color-stop(0.35, rgba(0,0,0,0.3)), color-stop(0.00, rgba(0,0,0,0.3)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 35%, rgba(0,0,0,0.3) 100%);
}
[class^="meshi_large"]{
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  padding:12px;
}
.meshi_normal_2_title {
  color: #333 ;
  font-size: 14px;
  line-height: 1.5;
  padding: 30px 20px ;
}
a:hover .meshi_normal_2_title,
a:hover .meshi_normal_3_title{
  text-decoration: underline;
}
.meshi_normal_3_title {
  color: #333 ;
  font-size: 16px;
  line-height: 1.5;
}
#morePict{
  margin: 0 0 20px;
  font-size: 18px;
  color: #fff;
  height: auto;
}
.meshi_info{
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 10px;
}
.meshi_form a{
  background: #eee;
  border-radius: 10px;
  display: block;
  float: left;
  width: calc(25% - 2px);
  margin: 1px;
  padding: 20px 40px;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.meshi_form a::before{
  content: "\e60d";
  font: 88px/1 "getnews";
  display: block;
  left: 0;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 100%;
}
.meshi_form a:after{
  content: "";
  display: block;
  padding-top: 25.511%;
}
@media only screen and (min-width:641px) {
  .article_meshi2 li:nth-child(even){
    margin: 0 0 20px 0;
  }
  [class*="meshi_"] [class*="_title"] {
    min-height: 80px;
  }
  .meshi_normal_3_title {
  padding: 10px 20px ;
  top: 190px;
  }

li[class*="article_meshi_normal_3"] a:hover:before{
height: 60%;
}
}

/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:640px) {
  .mainColumn {
    margin: 0 0 20px;
  }
  #get-header {
    height: 48px;
  }
  .menu-icon,
  .search-icon {
    z-index: 10;
  }
  .js-header-menu {
    top: 48px;
    z-index: 100;
    position: absolute;
  }
  #mobile-searchForm {
    display: block;
    z-index: 100;
  }
  header h1{
    position: inherit;
  }
.js-header-menu li a{
    background: #444;
  }
  .header-meshi-bg{
    background-size:auto 100% !important;
  }
  .meshi_headerarea {
    margin: 0;
  }
  .meshitero_main_logo {
    float: none;
    width: 100%;
  }
  li[class*="article_meshi_large"],
  li[class*="article_meshi_normal"]{
    width: 100% ;
  }
  li.article_meshi_normal:nth-child(n+8):nth-child(-n+12){
    width: calc(50% - 2px);
  }
  li.article_meshi_normal:nth-child(n+8):nth-child(-n+12) .meshi_normal_title{
    font-size: 11px !important;
  }
  .article_meshi_large1 {
    float: none;
  }
  .meshi_normal_title {
    padding: 8px;
  }
  .meshi_large1_title, .meshi_large2_title {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    padding: 8px;
  }
  .article_meshi_normal_2:after {
    padding-top: 62%;
  }
  .meshi_form a {
    width: 100%;
  }
  .meshi_form a::before {
  top: 87px;
}
  .meshi_normal_3_title {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    padding: 12px;
    bottom:0;
  }
  .article_meshi2 li {
    float: left;
    width: 100%;
    margin: 0 0 2px 0;
    padding: 0px;
  }
  .article_meshi2 li:after {
    padding-top: 61.511%;
  }


}