/*==============================================================================
    Layout
===============================================================================*/

/* Wrapper */
#wrapper.boxed,
.inner-wrapper {
    width: 740px
}


/*==============================================================================
    Responsive menu
===============================================================================
ul.top-menu,
ul.main-menu {
    display: none
}

.click-to-open-menu {
    display: block !important;
}*/

/*==============================================================================
    Above the fold
===============================================================================*/

/* Posts block */
.posts-top-grid .post-block {
    width: 347px
}
.posts-top-grid .post-block:nth-child(3n) {
    margin-right: 5px 
}
.posts-top-grid .post-block:nth-child(2n) {
    margin-right: 0
}


/*==============================================================================
    Flexslider
===============================================================================*/
.flexslider {
    height: auto;
    width: 100%;
    float: none
}


/*==============================================================================
    Block with two slides
===============================================================================*/
.block-with-two-posts .post-block {
    width: 49.5%;
    height: auto;
    display: inline;
    float: left;
    margin: 0 0.5% 5px 0
}
.block-with-two-posts .post-block img {
    min-height: 208px
}
.block-with-two-posts .post-block:last-child {
    margin-left: 0.5%;
    margin-right: 0
}

/*==============================================================================
    Block layout 5
===============================================================================*/

.block-layout-five .main-item .post-img {
    width: 200px
}
.block-layout-five .main-item .post-meta {
    width: 300px
}


/*==============================================================================
    Main
===============================================================================*/

/* Main */
#main.left,
#main.right {
    width: 520px
}




/*==============================================================================
    Block layout 1
===============================================================================*/

.block-layout-one .item img {
    display: none
}
.block-layout-one .item div {
    margin-left: 0px
}

/*==============================================================================
    Block layout 2
===============================================================================*/

/* Item */
.block-layout-two .item img {
    display: none
}
.block-layout-two .item div {
    margin-left: 0px
}

/*==============================================================================
    Block layout 3
===============================================================================*/

/* Item */
.block-layout-three .main-item {
    width: 256px;
    margin-right: 8px
}
.block-layout-three .small-items {
    width: 256px;
    margin: 0 0 1em 0
}
.block-layout-three .small-items .item img {
    display: none
}
.block-layout-three .small-items .item div {
    margin-left: 0px
}

/*==============================================================================
    Shop
===============================================================================*/

/* Items */
ul.products li.product,
#main.left ul.products li.product,
#main.right ul.products li.product {
    width: 49%;
    margin-right: 2%
}

/*==============================================================================
    Shop
===============================================================================*/

/* Products */
#main ul.products li.product {
    width: 49%;
    margin-right: 2%
}
#main ul.products li.product.last,
#main ul.products li.product:nth-child(2n) {
    margin-right: 0 !important
}

/*==============================================================================
    Shop single
===============================================================================*/

/* Base */
#main div.images .thumbnails img {
    width: 55px;
    height: 55px
}


/*==============================================================================
    Sidebar
===============================================================================*/

/* Sidebar */
aside#sidebar {
    width: 160px
}

/* Recent posts */
ul.recent-posts li .image {
    display: none
}
ul.recent-posts .text {
    margin-left: 0px
}

/* Banners */
ul.ad-banner-125x125 li {
    float: none;
    text-align: center
}
ul.ad-banner-125x125 li:hover {
    border: 1px solid #ccc
}

/* Tabs */
.widget .tabs .ui-tabs-nav {
    padding: 0
}
.tabs .ui-tabs-nav li {
    margin-right: 0;
    float: none;
    display: block
}
.tabs .ui-tabs-nav li a {
    display: block
}

/*==============================================================================
    Footer
===============================================================================*/

/* Widget */
#footer .widget {
    width: 160px
}

/*==============================================================================
    Grid columns
===============================================================================*/

/* Default */
.row .grid_1,
.row .grid_2,
.row .grid_3,
.row .grid_4,
.row .grid_5,
.row .grid_6,
.row .grid_7,
.row .grid_8,
.row .grid_9,
.row .grid_10,
.row .grid_11 {
    display: inline;
    float: left;
    margin: 0 20px 1em 0
}

.row .grid_1 {width: 40px}
.row .grid_2 {width: 100px}
.row .grid_3 {width: 160px}
.row .grid_4 {width: 220px}
.row .grid_5 {width: 280px}
.row .grid_6 {width: 340px}
.row .grid_7 {width: 400px}
.row .grid_8 {width: 460px}
.row .grid_9 {width: 520px}
.row .grid_10 {width: 580px}
.row .grid_11 {width: 640px}
.row .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}

.row .grid_1:last-child,
.row .grid_2:last-child,
.row .grid_3:last-child,
.row .grid_4:last-child,
.row .grid_5:last-child,
.row .grid_6:last-child,
.row .grid_7:last-child,
.row .grid_8:last-child,
.row .grid_9:last-child,
.row .grid_10:last-child,
.row .grid_11:last-child {
    margin-right: 0 !important
}

/* With sidebar */
#main.left .grid_1, #main.right .grid_1,
#main.left .grid_2, #main.right .grid_2,
#main.left .grid_3, #main.right .grid_3,
#main.left .grid_4, #main.right .grid_4,
#main.left .grid_5, #main.right .grid_5,
#main.left .grid_6, #main.right .grid_6,
#main.left .grid_7, #main.right .grid_7,
#main.left .grid_8, #main.right .grid_8,
#main.left .grid_9, #main.right .grid_9,
#main.left .grid_10, #main.right .grid_10,
#main.left .grid_11, #main.right .grid_11 {
    margin: 0 8px 1em 0
}

#main.left .grid_1, #main.right .grid_1 {width: 36px}
#main.left .grid_2, #main.right .grid_2 {width: 80px}
#main.left .grid_3, #main.right .grid_3 {width: 124px}
#main.left .grid_4, #main.right .grid_4 {width: 168px}
#main.left .grid_5, #main.right .grid_5 {width: 212px}
#main.left .grid_6, #main.right .grid_6 {width: 256px}
#main.left .grid_7, #main.right .grid_7 {width: 300px}
#main.left .grid_8, #main.right .grid_8 {width: 344px}
#main.left .grid_9, #main.right .grid_9 {width: 388px}
#main.left .grid_10, #main.right .grid_10 {width: 432px}
#main.left .grid_11, #main.right .grid_11 {width: 476px}
#main.left .grid_12, #main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}