/*==============================================================================
    Layout
===============================================================================*/

/* Wrapper */
#wrapper.boxed,
.inner-wrapper {
    width: 1000px
}

/* Banner */
.ad-banner-728x90 {
    float: left
}


/*==============================================================================
    Responsive menu
===============================================================================*/
a.responsive-menu-btn {
    display: none !important
}
.main-menu > li > a {
    font-size: 12px;
    padding: 15px 6px;
}
/* Mega menu grid */
.row .grid_4 {width:31.9431%}


/*==============================================================================
    Above the fold
===============================================================================*/

/* Posts block */
.posts-top-grid .post-block {
    width: 316px
}


/*==============================================================================
    Flexslider
===============================================================================*/
.flexslider {
    width: 655px;
}
.flexslider .post-box-text h3 {
    font-size: 24px
}

/*==============================================================================
    Block with two slides
===============================================================================*/
.block-with-two-posts .post-block {
    width: 300px;
    height: 208px
}
.block-with-two-posts .post-block img {
    width: auto;
    min-height: 208px
}

/*==============================================================================
    Main
===============================================================================*/

/* Main */
#main.left,
#main.right {
    width: 724px
}

/*==============================================================================
    Block layout 3
===============================================================================*/

/* Item */
.block-layout-three .main-item {
    width: 358px;
    margin-right: 8px
}
.block-layout-three .small-items {
    width: 358px;
    margin: 0 0 1em 0
}


/*==============================================================================
    Block layout 5
===============================================================================*/

.block-layout-five .main-item .post-img {
    width: 280px
}
.block-layout-five .main-item .post-meta {
    width: 424px
}


/*==============================================================================
    Shop
===============================================================================*/

/* Full page */
ul.products li.product {
    width: 222px;
    margin-right: 24px
}

/* With sidebar */
#main.left ul.products li.product,
#main.right ul.products li.product {
    width: 175px;
    margin-right: 8px
}




/*==============================================================================
    Sidebar
===============================================================================*/

/* Sidebar */
aside#sidebar {
    width: 216px
}

/* Banners */
ul.ad-banner-125x125 li {
    max-width: 106px;
    border: none;
    padding: 0px;
    margin: 1px
}
ul.ad-banner-125x125 li img {
    
}
ul.ad-banner-125x125 li:hover {
    border: 1px solid #ccc
}

/* Tabs */
.widget .tabs .ui-tabs-nav {
    padding: 0
}
.tabs .ui-tabs-nav li {
    margin-right: 0;
    float: none;
    display: block
}
.tabs .ui-tabs-nav li a {
    display: block
}

/*==============================================================================
    Footer
===============================================================================*/

/* Widget */
#footer .widget {
    margin: 0 24px 1em 0;
    width: 222px
}


/*==============================================================================
    Grid columns
===============================================================================*/

/* Default */
.row .grid_1,
.row .grid_2,
.row .grid_3,
.row .grid_4,
.row .grid_5,
.row .grid_6,
.row .grid_7,
.row .grid_8,
.row .grid_9,
.row .grid_10,
.row .grid_11 {
    display: inline;
    float: left;
    margin: 0 24px 1em 0
}

.row .grid_1 {width: 58px;}
.row .grid_2 {width: 140px}
.row .grid_3 {width: 222px}
.row .grid_4 {width: 304px}
.row .grid_5 {width: 386px}
.row .grid_6 {width: 468px}
.row .grid_7 {width: 550px}
.row .grid_8 {width: 632px}
.row .grid_9 {width: 714px}
.row .grid_10 {width: 796px}
.row .grid_11 {width: 878px}
.row .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}

.row .grid_1:last-child,
.row .grid_2:last-child,
.row .grid_3:last-child,
.row .grid_4:last-child,
.row .grid_5:last-child,
.row .grid_6:last-child,
.row .grid_7:last-child,
.row .grid_8:last-child,
.row .grid_9:last-child,
.row .grid_10:last-child,
.row .grid_11:last-child {
    margin-right: 0 !important
}

/* With sidebar */
#main.left .grid_1, #main.right .grid_1,
#main.left .grid_2, #main.right .grid_2,
#main.left .grid_3, #main.right .grid_3,
#main.left .grid_4, #main.right .grid_4,
#main.left .grid_5, #main.right .grid_5,
#main.left .grid_6, #main.right .grid_6,
#main.left .grid_7, #main.right .grid_7,
#main.left .grid_8, #main.right .grid_8,
#main.left .grid_9, #main.right .grid_9,
#main.left .grid_10, #main.right .grid_10,
#main.left .grid_11, #main.right .grid_11 {
    margin: 0 8px 1em 0
}

#main.left .grid_1, #main.right .grid_1 {width: 53px}
#main.left .grid_2, #main.right .grid_2 {width: 114px}
#main.left .grid_3, #main.right .grid_3 {width: 175px}
#main.left .grid_4, #main.right .grid_4 {width: 236px}
#main.left .grid_5, #main.right .grid_5 {width: 297px}
#main.left .grid_6, #main.right .grid_6 {width: 358px}
#main.left .grid_7, #main.right .grid_7 {width: 419px}
#main.left .grid_8, #main.right .grid_8 {width: 480px}
#main.left .grid_9, #main.right .grid_9 {width: 541px}
#main.left .grid_10, #main.right .grid_10 {width: 602px}
#main.left .grid_11, #main.right .grid_11 {width: 663px}
#main.left .grid_12, #main.right .grid_12 {width: 100%;display: inline-block; float: none; margin: 0 0 1em 0}