
/*==============================================================================
    Layout
===============================================================================*/

#style-switcher {
    display: none
}

/* Wrapper */
#wrapper.boxed,
.inner-wrapper {
    width: 100%
}

/*==============================================================================
    Header
===============================================================================*/

/* Logo */
#logo {
    float: none;
    display: block
}
h1#site-logo {
    margin-bottom: 0.2em
}
h2#site-description {
    margin-left: 0
}
h1#site-logo,
h2#site-description {
    text-align: center;
    display: block
}

/* Search */
#header .search-form {
    width: 100%;
    float: none;
    margin-top: 0.7em
}



/*==============================================================================
    Responsive menu
===============================================================================*/
ul.top-menu,
ul.main-menu {
    display: none
}

.click-to-open-menu {
    display: block !important;
}


/*==============================================================================
    Above the fold
===============================================================================*/

/* Posts block */
.posts-top-grid .post-block {
    width: 49%;
    margin: 0 1% 1% 0
}
.posts-top-grid .post-block:nth-child(3n) {
    margin: 0 1% 1% 0
}
.posts-top-grid .post-block .post-box-text {
    padding: 0.5em
}
.posts-top-grid .post-block h3 {
    margin: 0;
    font-size: 13px;
    line-height: 16px
}
.posts-top-grid .post-block span {
    display: none
}
.posts-top-grid .post-block p {
    font-size: 10px
}


/*==============================================================================
    Flexslider
===============================================================================*/
.flexslider {
    height: auto;
    width: 100%;
    float: none
}
.flexslider .post-box-text h3 {
    font-weight: 400;
    font-size: 18px
}


/*==============================================================================
    Block with two slides
===============================================================================*/
.block-with-two-posts .post-block {
    width: 49.5%;
    height: auto;
    display: inline;
    float: left;
    margin: 0 0.5% 5px 0
}
.block-with-two-posts .post-block:last-child {
    margin-left: 0.5%;
    margin-right: 0
}
.block-with-two-posts .post-block .post-box-text {
    padding: 0.5em
}
.block-with-two-posts .post-block .post-box-text h3 {
    margin-top: 0;
    font-size: 13px;
    line-height: 16px
}
.block-with-two-posts .post-block .post-box-text span {
    display: none
}
.block-with-two-posts .post-block .post-box-text p {
    font-size: 10px
}

.block-layout-three .main-item {
    width: 100%;
    float: none;
    display: block;margin-right: 0
}

.block-layout-three .small-items {
    width: 100%;
    display: block;
    float: none
}

/*==============================================================================
    Block layout 5
===============================================================================*/

.block-layout-five .main-item .post-img,
.block-layout-five .main-item .post-meta {
    display: block;
    float: none;
    margin-right: 0;
}
.block-layout-five .main-item .post-img,
.block-layout-five .main-item .post-meta {
    width: 100%
}

/*==============================================================================
    Main
===============================================================================*/

/* Main */
#main.left,
#main.right {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

/*==============================================================================
    Post comments
===============================================================================*/

/* Comment */
ol.comments-list li article .comment-avatar {
    display: none
}
ol.comments-list li article .comment-meta,
ol.comments-list li article .comment-content,
ul.children {
    margin-left: 20px
}

/*==============================================================================
    Post Rating
===============================================================================*/

/* Base */
.post-rating {
    width: 100%;
    float: none;
    margin: 0 0 1em 0
}

/*==============================================================================
    Shop
===============================================================================*/

/* Items */
ul.products li.product,
#main.left ul.products li.product,
#main.right ul.products li.product {
    width: 49%;
    margin-right: 2%
}
ul.products li.product:nth-child(2n) {
    margin-right: 0 !important
}

/*==============================================================================
    Shop single
===============================================================================*/

#main div.images {
    width: 100%;
    float: none;
    margin-right: 0;
    display: block;
}
#main div.images .thumbnails img {
    width: 70px;
    height: 70px
}
#main div.summary {
    margin-bottom: 3em;
    float: none;
    width: 100%;
    display: block;
}
#main div.summary h1 {
    font-size: 30px
}
.woocommerce-product-rating ul {
    margin-bottom: 0
}
.woocommerce-product-rating .rating-stars {
    float: none !important;
    text-align: left !important
}

.summary p.price {
    margin-top: 0.5em;
    font-size: 18px;
    font-weight: 700;
    color: #333
}
.summary p.price del {
    font-weight: 400;
    color: #999
}
.summary p.price ins {
    text-decoration: none;
}

/*==============================================================================
    Gallery
===============================================================================*/
.gallery-content .gallery-album {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.5em;
}
.gallery-content {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
}


/*==============================================================================
    404 Page
===============================================================================*/

.page404 {
    margin-bottom: 1em !important
}
.page404 img {
    display: none
}
.page404 h2 {
    font-weight: 700;
    letter-spacing: -3px;
    font-size: 80px;
    margin: 0 0 20px 0;
    line-height: 60px;
}

/* Form */
.page404 form {
    margin-top: 20px
}
.page404 form input[type="text"]{
    width: auto
}

/*==============================================================================
    Sidebar
===============================================================================*/

/* Sidebar */
aside#sidebar {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}


/*==============================================================================
    Footer
===============================================================================*/

/* Widget */
#footer .widget {
    width: 100%
}

/*==============================================================================
    Copyright
===============================================================================*/

/* Base */
#copyright,
#copyright .grid_6:last-child {
    text-align: center
}

/*==============================================================================
    Grid columns
===============================================================================*/
.row .grid_1,
.row .grid_2,
.row .grid_3,
.row .grid_4,
.row .grid_5,
.row .grid_6,
.row .grid_7,
.row .grid_8,
.row .grid_9,
.row .grid_10,
.row .grid_11,
.row .grid_12 {
    display: block;
    float: none;
    margin: 0 0 1em 0
}

/*==============================================================================
    Torrent Tables
===============================================================================*/
table.bordered td.s, table.bordered th:nth-child(2)	 { display:none; visibility:hidden; }
table.bordered td.t, table.bordered th:nth-child(3)	 { display:none; visibility:hidden; }
table.bordered td { border:0px;border-right:0px;text-align:left; }
table.bordered td.t,table.bordered td.u,table.bordered td.d{text-align:left;}
table.bordered thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
table.bordered tbody,table.bordered td, table.bordered tr {
			display: block;
			border:0px;
		}
table.bordered td {
			/* Behave  like a "row" */
			border: none;
			position: relative;
			padding-left: 15%;
			vertical-align:text-bottom;
		}

table.bordered td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 2px;
			width: 15%;
			padding-right: 10px;
			white-space: nowrap;
		}
table.bordered td.v div.n,table.bordered td.v div.v {
			float:none;
		}
table.bordered td:nth-of-type(1):before { content: "Name:"; }
table.bordered td:nth-of-type(4):before { content: "Seeds:"; }
table.bordered td:nth-of-type(5):before { content: "Peers:"; }

.ad-banner-728x90{float:none;padding-top:0}
h2#site-description{ display:none; visibility:hidden; }
footer { display:none; visibility:hidden; }