/**/
.btn,
[class*="btn-"],
.dropdown > a,
.dropdown > button,
[class*="dropdown-"] > a,
[class*="dropdown-"] > button {
  display: inline-block;
  padding: 10px 20px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #0654ba;
  text-decoration: none;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fafafa), color-stop(1, #fefefe));
  background-image: -ms-linear-gradient(bottom, #fafafa, #fefefe);
  background-image: -moz-linear-gradient(center bottom, #fafafa 0, #fefefe 100%);
  background-image: -o-linear-gradient(#fefefe, #fafafa);
  background-image: linear-gradient(to top, #fafafa, #fefefe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#fafafa', GradientType=0);
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn:visited,
[class*="btn-"]:visited,
.dropdown > a:visited,
.dropdown > button:visited,
[class*="dropdown-"] > a:visited,
[class*="dropdown-"] > button:visited {
  color: #0654ba;
  text-decoration: none;
}
.btn,
.dropdown > a,
.dropdown > button,
.dropdown-no-split > a,
.dropdown-no-split > button {
  border: 1px solid #dddddd;
}
[disabled].btn,
.disabled.btn,
[disabled][class*="btn-"],
.disabled[class*="btn-"],
[disabled].dropdown > a,
.disabled.dropdown > a,
[disabled].dropdown > button,
.disabled.dropdown > button,
[disabled][class*="dropdown-"] > a,
.disabled[class*="dropdown-"] > a,
[disabled][class*="dropdown-"] > button,
.disabled[class*="dropdown-"] > button {
  user-select: none;
  cursor: default;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.btn[disabled],
.disabled.btn,
.disabled.dropdown > a,
.disabled.dropdown > button {
  border: 1px solid #dddddd;
  color: #7fa6c4;
}
.lt-ie9 .disabled.btn:hover,
.lt-ie9 [disabled].btn:hover,
.lt-ie9 .disabled[class*="btn-"]:hover,
.lt-ie9 [disabled][class*="btn-"]:hover,
.lt-ie9 .disabled.dropdown > a:hover,
.lt-ie9 .disabled.dropdown > button:hover,
.lt-ie9 .disabled[class*="dropdown-"] > a:hover,
.lt-ie9 .disabled[class*="dropdown-"] > button:hover {
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  background-position: 0 0;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.btn.large,
[class*="btn-"].large,
.dropdown.large > a:first-child,
.dropdown.large > button:first-child,
[class*="dropdown-"].large > a:first-child,
[class*="dropdown-"].large > button:first-child {
  padding: 12px 20px;
  font-size: 16px;
}
.btn.small,
[class*="btn-"].small,
.dropdown.small > a:first-child,
.dropdown.small > button:first-child,
[class*="dropdown-"].small > a:first-child,
[class*="dropdown-"].small > button:first-child {
  padding: 7px 15px;
  font-size: 12px;
}
.no-touch .btn:hover,
.no-touch [class*="btn-"]:hover,
.no-touch .dropdown > a:hover,
.no-touch .dropdown > button:hover,
.no-touch [class*="dropdown-"] > a:hover,
.no-touch [class*="dropdown-"] > button:hover {
  text-decoration: none;
  background-position: 0 -45px;
  -webkit-transition: background-position 0.09s linear;
  -moz-transition: background-position 0.09s linear;
  -o-transition: background-position 0.09s linear;
  transition: background-position 0.09s linear;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
}
.no-touch .btn:hover,
.no-touch .dropdown > a:hover,
.no-touch .dropdown > button:hover {
  border: 1px solid #aaaaaa;
}
.no-touch .btn[disabled]:hover,
.no-touch .disabled.btn:hover,
.no-touch [class*="btn-"][disabled]:hover,
.no-touch .disabled[class*="btn-"]:hover,
.no-touch .disabled.dropdown > a:hover,
.no-touch .disabled.dropdown > button:hover,
.no-touch .disabled[class*="dropdown-"] > a:hover,
.no-touch .disabled[class*="dropdown-"] > button:hover {
  background-position: 0 0;
}
.no-touch [disabled].btn:hover,
.no-touch .disabled.btn:hover,
.no-touch .disabled.dropdown > a:hover,
.no-touch .disabled.dropdown > button:hover {
  border: 1px solid #dddddd;
}
[class*="btn-"].disabled,
[disabled][class*="btn-"],
[class*="dropdown-"] > a,
[class*="dropdown-"] > button {
  border: none;
  color: #fff;
}
.no-touch [class*="btn-"].disabled:hover,
.no-touch [disabled][class*="btn-"]:hover,
.no-touch [class*="dropdown-"] > a:hover,
.no-touch [class*="dropdown-"] > button:hover {
  border: none;
}
.btn-prim,
.dropdown-prim > a,
.dropdown-prim > button {
  border: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
  background-color: #00509d;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00509d), color-stop(1, #007abd));
  background-image: -ms-linear-gradient(bottom, #00509d, #007abd);
  background-image: -moz-linear-gradient(center bottom, #00509d 0, #007abd 100%);
  background-image: -o-linear-gradient(#007abd, #00509d);
  background-image: linear-gradient(to top, #00509d, #007abd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007abd', endColorstr='#00509d', GradientType=0);
}
.btn-prim:visited,
.dropdown-prim > a:visited,
.dropdown-prim > button:visited {
  color: #fff;
  text-decoration: none;
}
.dropdown-prim.disabled > a + a,
.dropdown-prim.disabled > button + button {
  border-left: 1px solid #2680bb;
}
.no-touch .btn-prim:hover,
.no-touch .dropdown-prim > a:hover,
.no-touch .dropdown-prim > button:hover {
  border: none;
  background-color: #00509d;
  color: #fff;
}
.no-touch .btn-prim.disabled:hover,
.no-touch .dropdown-prim.disabled > a:hover,
.no-touch .dropdown-prim.disabled > button:hover {
  background-color: #00509d;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00509d), color-stop(1, #007abd));
  background-image: -ms-linear-gradient(bottom, #00509d, #007abd);
  background-image: -moz-linear-gradient(center bottom, #00509d 0, #007abd 100%);
  background-image: -o-linear-gradient(#007abd, #00509d);
  background-image: linear-gradient(to top, #00509d, #007abd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007abd', endColorstr='#00509d', GradientType=0);
}
.no-touch .dropdown-prim.disabled > a:hover + a,
.no-touch .dropdown-prim.disabled > button:hover + button {
  border-left: 1px solid #2680bb;
}
.no-touch .dropdown-prim.disabled > a + a:hover,
.no-touch .dropdown-prim.disabled > button + button:hover {
  border-left: 1px solid #2680bb;
}
.lt-ie9 .dropdown-prim.disabled > a:hover + a,
.lt-ie9 .dropdown-prim.disabled > button:hover + button {
  border-left: 1px solid #2680bb;
}
.lt-ie9 .dropdown-prim.disabled > a + a:hover,
.lt-ie9 .dropdown-prim.disabled > button + button:hover {
  border-left: 1px solid #2680bb;
}
.lt-ie9 .dropdown-prim.disabled > a:first-child:hover,
.lt-ie9 .dropdown-prim.disabled > button:first-child:hover {
  border-right: none;
}
.lt-ie9 .btn-prim:hover,
.lt-ie9 .dropdown-prim > a:hover,
.lt-ie9 .dropdown-prim > button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00509d', endColorstr='#00509d', GradientType=0);
}
.btn-scnd,
.dropdown-scnd > a,
.dropdown-scnd > button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
  background-color: #2386c0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2386c0), color-stop(1, #46aad6));
  background-image: -ms-linear-gradient(bottom, #2386c0, #46aad6);
  background-image: -moz-linear-gradient(center bottom, #2386c0 0, #46aad6 100%);
  background-image: -o-linear-gradient(#46aad6, #2386c0);
  background-image: linear-gradient(to top, #2386c0, #46aad6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46aad6', endColorstr='#2386c0', GradientType=0);
}
.btn-scnd:visited,
.dropdown-scnd > a:visited,
.dropdown-scnd > button:visited {
  color: #fff;
  text-decoration: none;
}
.no-touch .btn-scnd:hover,
.no-touch .dropdown-scnd > a:hover,
.no-touch .dropdown-scnd > button:hover {
  border: none;
  background-color: #2386c0;
  color: #fff;
}
.no-touch .btn-scnd.disabled:hover,
.no-touch .dropdown-scnd.disabled > a:hover,
.no-touch .dropdown-scnd.disabled > button:hover {
  background-color: #2386c0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2386c0), color-stop(1, #46aad6));
  background-image: -ms-linear-gradient(bottom, #2386c0, #46aad6);
  background-image: -moz-linear-gradient(center bottom, #2386c0 0, #46aad6 100%);
  background-image: -o-linear-gradient(#46aad6, #2386c0);
  background-image: linear-gradient(to top, #2386c0, #46aad6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46aad6', endColorstr='#2386c0', GradientType=0);
}
.no-touch .dropdown-scnd.disabled > a + a,
.no-touch .dropdown-scnd.disabled > button + button {
  border-left: 1px solid #55add5;
}
.no-touch .dropdown-scnd.disabled > a + a:hover,
.no-touch .dropdown-scnd.disabled > button + button:hover {
  border-left: 1px solid #55add5;
}
.no-touch .lt-ie9 .btn-scnd.disabled:hover,
.no-touch .lt-ie9 .dropdown-scnd.disabled > a:hover,
.no-touch .lt-ie9 .dropdown-scnd.disabled > button:hover {
  border: 1px solid #2386c0;
}
.no-touch .lt-ie9 .dropdown-scnd.disabled > a + a:hover,
.no-touch .lt-ie9 .dropdown-scnd.disabled > button + button:hover {
  border-left: 1px solid #55add5;
}
.no-touch .lt-ie9 .btn-scnd:hover,
.no-touch .lt-ie9 .dropdown-scnd > a:hover,
.no-touch .lt-ie9 .dropdown-scnd > button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2386c0', endColorstr='#2386c0', GradientType=0);
}
.btn-green {
  border: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
  background-color: #479313;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #479313), color-stop(1, #70b52d));
  background-image: -ms-linear-gradient(bottom, #479313, #70b52d);
  background-image: -moz-linear-gradient(center bottom, #479313 0, #70b52d 100%);
  background-image: -o-linear-gradient(#70b52d, #479313);
  background-image: linear-gradient(to top, #479313, #70b52d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70b52d', endColorstr='#479313', GradientType=0);
}
.btn-green:visited {
  color: #fff;
  text-decoration: none;
}
a.btn-green,
a.btn-green:visited {
  color: #fff;
}
.no-touch .btn-green:hover {
  border: none;
  background-color: #479313;
  color: #fff;
}
.no-touch .btn-green[disabled]:hover,
.no-touch .btn-green.disabled:hover {
  background-color: #479313;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #479313), color-stop(1, #70b52d));
  background-image: -ms-linear-gradient(bottom, #479313, #70b52d);
  background-image: -moz-linear-gradient(center bottom, #479313 0, #70b52d 100%);
  background-image: -o-linear-gradient(#70b52d, #479313);
  background-image: linear-gradient(to top, #479313, #70b52d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70b52d', endColorstr='#479313', GradientType=0);
}
.lt-ie9 .btn-green:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#479313', endColorstr='#479313', GradientType=0);
}
.lt-ie9 .btn-green[disabled]:hover,
.lt-ie9 .btn-green.disabled:hover {
  border: 1px solid #479313;
}
.dropdown,
[class*="dropdown-"] {
  position: relative;
  z-index: 0;
  display: inline-block;
}
.dropdown > a,
[class*="dropdown-"] > a,
.dropdown > button,
[class*="dropdown-"] > button {
  position: relative;
  z-index: 1;
  padding: 10px 15px;
  margin: 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  vertical-align: top;
}
.dropdown > a + a:before,
[class*="dropdown-"] > a + a:before,
.dropdown > button + a:before,
[class*="dropdown-"] > button + a:before,
.dropdown > a + button:before,
[class*="dropdown-"] > a + button:before,
.dropdown > button + button:before,
[class*="dropdown-"] > button + button:before {
  content: '';
  position: relative;
  top: -3px;
  display: inline-block;
  background-image: url('//secureir.ebaystatic.com/pictures/aw/cmp/ds3/skin_sprite3.png');
  margin: 0;
  padding: 0;
  height: 4px;
  width: 8px;
  background-position: -251px -174px;
}
.dropdown > a:first-child,
[class*="dropdown-"] > a:first-child,
.dropdown > button:first-child,
[class*="dropdown-"] > button:first-child {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: none;
}
.dropdown > ul,
[class*="dropdown-"] > ul {
  display: none;
  position: absolute;
  padding: 7px 5px 5px 5px;
  right: 1px;
  top: 22px;
  z-index: 0;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fefefe), color-stop(1, #fafafa));
  background-image: -ms-linear-gradient(bottom, #fefefe, #fafafa);
  background-image: -moz-linear-gradient(center bottom, #fefefe 0, #fafafa 100%);
  background-image: -o-linear-gradient(#fafafa, #fefefe);
  background-image: linear-gradient(to top, #fefefe, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#fefefe', GradientType=0);
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
}
.dropdown > ul > li,
[class*="dropdown-"] > ul > li {
  margin: 0;
  padding: 15px 11px;
  list-style: none;
  font-size: 14px;
  font-weight: normal;
  color: #555555;
  text-decoration: none;
}
.dropdown.open > ul,
[class*="dropdown-"].open > ul {
  display: inline-block;
}
.dropdown-prim > a,
.dropdown-prim > button {
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  border-left: 1px solid #2680bb;
}
.dropdown-scnd > a,
.dropdown-scnd > button {
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  border-left: 1px solid #55add5;
}
.dropdown-prim > a + a:before,
.dropdown-scnd > a + a:before,
.dropdown-prim > button + a:before,
.dropdown-scnd > button + a:before,
.dropdown-prim > a + button:before,
.dropdown-scnd > a + button:before,
.dropdown-prim > button + button:before,
.dropdown-scnd > button + button:before {
  background-position: -293px -198px;
}
.dropdown-prim > a:first-child,
.dropdown-scnd > a:first-child,
.dropdown-prim > button:first-child,
.dropdown-scnd > button:first-child {
  border-left: 0;
}
.dropdown.large > a + button,
[class*="dropdown-"].large > a + button,
.dropdown.large > button + button,
[class*="dropdown-"].large > button + button,
.dropdown.large > a + a,
[class*="dropdown-"].large > a + a,
.dropdown.large > button + a,
[class*="dropdown-"].large > button + a {
  padding: 14px 17px 12px;
}
.dropdown.large > ul,
[class*="dropdown-"].large > ul {
  top: 22px;
}
.dropdown.large > ul li,
[class*="dropdown-"].large > ul li {
  font-size: 16px;
}
.dropdown.small > a + button,
[class*="dropdown-"].small > a + button,
.dropdown.small > button + button,
[class*="dropdown-"].small > button + button,
.dropdown.small > a + a,
[class*="dropdown-"].small > a + a,
.dropdown.small > button + a,
[class*="dropdown-"].small > button + a {
  padding: 5px 8px 7px;
}
.dropdown.small > ul,
[class*="dropdown-"].small > ul {
  top: 14px;
}
.dropdown.small > ul > li,
[class*="dropdown-"].small > ul > li {
  font-size: 12px;
  padding: 8px 11px;
}
.dropdown-no-split > button:first-child,
.dropdown-no-split > a:first-child {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dddddd;
  color: #0654ba;
}
.dropdown-no-split > button:after,
.dropdown-no-split > a:after {
  content: '';
  position: relative;
  top: -3px;
  display: inline-block;
  background-image: url('//secureir.ebaystatic.com/pictures/aw/cmp/ds3/skin_sprite3.png');
  margin: 0;
  padding: 0;
  height: 4px;
  width: 8px;
  background-position: -251px -174px;
  margin-left: 20px;
}
.dropdown-no-split.dropdown-prim > button,
.dropdown-no-split.dropdown-scnd > button,
.dropdown-no-split.dropdown-prim > a,
.dropdown-no-split.dropdown-scnd > a {
  border: 0;
  color: #fff;
}
.dropdown-no-split.dropdown-prim > button:after,
.dropdown-no-split.dropdown-scnd > button:after,
.dropdown-no-split.dropdown-prim > a:after,
.dropdown-no-split.dropdown-scnd > a:after {
  background-position: -293px -198px;
}
.no-touch .dropdown > a:first-child:hover,
.no-touch [class*="dropdown-"] > a:first-child:hover,
.no-touch .dropdown > button:first-child:hover,
.no-touch [class*="dropdown-"] > button:first-child:hover {
  border-right: 0;
}
.no-touch .dropdown > a:hover,
.no-touch [class*="dropdown-"] > a:hover,
.no-touch .dropdown > button:hover,
.no-touch [class*="dropdown-"] > button:hover {
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
}
.no-touch .dropdown > a:hover + a,
.no-touch [class*="dropdown-"] > a:hover + a,
.no-touch .dropdown > button:hover + a,
.no-touch [class*="dropdown-"] > button:hover + a,
.no-touch .dropdown > a:hover + button,
.no-touch [class*="dropdown-"] > a:hover + button,
.no-touch .dropdown > button:hover + button,
.no-touch [class*="dropdown-"] > button:hover + button {
  border-left: 1px solid #aaaaaa;
}
.no-touch .dropdown.dropdown-prim > a:hover,
.no-touch [class*="dropdown-"].dropdown-prim > a:hover,
.no-touch .dropdown.dropdown-prim > button:hover,
.no-touch [class*="dropdown-"].dropdown-prim > button:hover {
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
}
.no-touch .dropdown.dropdown-prim > a:hover + a,
.no-touch [class*="dropdown-"].dropdown-prim > a:hover + a,
.no-touch .dropdown.dropdown-prim > button:hover + a,
.no-touch [class*="dropdown-"].dropdown-prim > button:hover + a,
.no-touch .dropdown.dropdown-prim > a:hover + button,
.no-touch [class*="dropdown-"].dropdown-prim > a:hover + button,
.no-touch .dropdown.dropdown-prim > button:hover + button,
.no-touch [class*="dropdown-"].dropdown-prim > button:hover + button {
  border-left: 1px solid #2680bb;
}
.no-touch .dropdown.dropdown-prim > a + a:hover,
.no-touch [class*="dropdown-"].dropdown-prim > a + a:hover,
.no-touch .dropdown.dropdown-prim > button + a:hover,
.no-touch [class*="dropdown-"].dropdown-prim > button + a:hover,
.no-touch .dropdown.dropdown-prim > a + button:hover,
.no-touch [class*="dropdown-"].dropdown-prim > a + button:hover,
.no-touch .dropdown.dropdown-prim > button + button:hover,
.no-touch [class*="dropdown-"].dropdown-prim > button + button:hover {
  border-left: 1px solid #2680bb;
}
.no-touch .dropdown.dropdown-scnd > a:hover,
.no-touch [class*="dropdown-"].dropdown-scnd > a:hover,
.no-touch .dropdown.dropdown-scnd > button:hover,
.no-touch [class*="dropdown-"].dropdown-scnd > button:hover {
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
}
.no-touch .dropdown.dropdown-scnd > a:hover + a,
.no-touch [class*="dropdown-"].dropdown-scnd > a:hover + a,
.no-touch .dropdown.dropdown-scnd > button:hover + a,
.no-touch [class*="dropdown-"].dropdown-scnd > button:hover + a,
.no-touch .dropdown.dropdown-scnd > a:hover + button,
.no-touch [class*="dropdown-"].dropdown-scnd > a:hover + button,
.no-touch .dropdown.dropdown-scnd > button:hover + button,
.no-touch [class*="dropdown-"].dropdown-scnd > button:hover + button {
  border-left: 1px solid #55add5;
}
.no-touch .dropdown.dropdown-scnd > a + a:hover,
.no-touch [class*="dropdown-"].dropdown-scnd > a + a:hover,
.no-touch .dropdown.dropdown-scnd > button + a:hover,
.no-touch [class*="dropdown-"].dropdown-scnd > button + a:hover,
.no-touch .dropdown.dropdown-scnd > a + button:hover,
.no-touch [class*="dropdown-"].dropdown-scnd > a + button:hover,
.no-touch .dropdown.dropdown-scnd > button + button:hover,
.no-touch [class*="dropdown-"].dropdown-scnd > button + button:hover {
  border-left: 1px solid #55add5;
}
.no-touch .dropdown > ul > li:hover,
.no-touch [class*="dropdown-"] > ul > li:hover {
  color: #0654ba;
  background-color: #f0f0f0;
  text-decoration: none;
  -webkit-transition: background-color 0.08s linear;
  -moz-transition: background-color 0.08s linear;
  -o-transition: background-color 0.08s linear;
  transition: background-color 0.08s linear;
}
.no-touch .dropdown > ul > a:hover,
.no-touch [class*="dropdown-"] > ul > a:hover {
  text-decoration: none;
}
.no-touch .dropdown-no-split > button:first-child:hover,
.no-touch .dropdown-no-split > a:first-child:hover {
  border: 1px solid #aaaaaa;
}
.no-touch .dropdown-no-split.dropdown-prim > button:hover:first-child,
.no-touch .dropdown-no-split.dropdown-scnd > button:hover:first-child,
.no-touch .dropdown-no-split.dropdown-prim > a:hover:first-child,
.no-touch .dropdown-no-split.dropdown-scnd > a:hover:first-child {
  border: 0;
}
.no-touch .dropdown.disabled a:first-child:hover,
.no-touch .dropdown.disabled button:first-child:hover {
  border-right: none;
}
.no-touch .dropdown.disabled a:hover + a,
.no-touch .dropdown.disabled button:hover + button {
  border-left: 1px solid #dddddd;
}
.no-touch .dropdown-no-split.disabled > button:hover:first-child,
.no-touch .dropdown-no-split.disabled > a:hover:first-child {
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
}
.no-touch .dropdown-no-split.disabled.dropdown-prim > button:hover:first-child,
.no-touch .dropdown-no-split.disabled.dropdown-scnd > button:hover:first-child,
.no-touch .dropdown-no-split.disabled.dropdown-prim > a:hover:first-child,
.no-touch .dropdown-no-split.disabled.dropdown-scnd > a:hover:first-child {
  border: 0;
}
