/**/
/* normalize.css v2.1.2 | MIT License | git.io/normalize 
 *
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: "sans-serif";
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  color: #000;
  background: #ff0;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  padding: 0;
  border: 0;
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html > body {
  font-family: "Helvetica neue", Helvetica, Arial, "sans-serif";
  font-size: 14px;
  color: #333;
  background: url("//secureir.ebaystatic.com/pictures/aw/cmp/ds3/imgbg.jpg") repeat 0 0 #f8f8f8;
}
h1 {
  font-size: 2em;
  line-height: 1.95em;
}
h2 {
  font-size: 1.714em;
  /* 24px */

}
h3 {
  font-size: 1.429em;
  /* 20px */

  font-weight: 500;
}
h4 {
  font-size: 1.143em;
  /* 16px */

  font-weight: 600;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
/*  Hyperlinks
--------------------------------*/
a,
a:focus,
a:hover,
a:visited {
  color: #0654ba;
  text-decoration: none;
}
a:visited {
  color: #6a29b9;
}
a:focus,
a:hover {
  text-decoration: underline;
}
/* ========================================
   Utility Classes & Mixins
   ======================================= */
/*	CLEAR FIX - Mixin
----------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
/*	CAPITALIZE - Mixin
------------------*/
/*	GENERAL
------------------*/
.hide {
  display: none;
}
.hide-force {
  display: none !important;
}
/* CSS image replacement
-------------------------*/
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.show {
  display: block;
}
.show-force {
  display: block !important;
}
.overflow-hide {
  overflow: hidden;
}
.white-bkg {
  background: #fff;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.border-box {
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.float-row {
  *zoom: 1;
}
.float-row:before,
.float-row:after {
  display: table;
  content: " ";
}
.float-row:after {
  clear: both;
}
.float-row:before,
.float-row:after {
  display: table;
  content: " ";
}
.float-row:after {
  clear: both;
}
.float-row > div,
.float-row > li,
.float-row > section,
.float-row > aside {
  display: block;
  float: left;
}
/* don't use this for images */
.fluid {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.fluid-image {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.invisible {
  visibility: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.uppercase {
  text-transform: uppercase;
}
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.split {
  width: 50%;
}
.auto-width {
  width: auto;
}
.space-top {
  margin-top: 10px;
}
.space-bottom {
  margin-bottom: 10px;
}
.space-left {
  margin-left: 10px;
}
.space-right {
  margin-right: 10px;
}
.space-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}
.space-horizontal {
  margin-left: 10px;
  margin-right: 10px;
}
.space-zero {
  margin: 0;
}
.pad-top {
  padding-top: 10px;
}
.pad-bottom {
  padding-bottom: 10px;
}
.pad-left {
  padding-left: 10px;
}
.pad-right {
  padding-right: 10px;
}
.pad-zero {
  padding: 0;
}
.pad-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pad-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}
.z-index {
  position: relative;
  z-index: 1;
}
.x-small {
  font-size: .71em;
}
.small {
  font-size: .86em;
}
.medium {
  font-size: 1em;
}
.large {
  font-size: 1.43em;
}
.x-large {
  font-size: 2.57em;
}
