/*  project.css */

h1 {
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .langhomepageboxbg {
    background-image: url(\${IMAGEPAGE}befr/langhomepage/backgroundbox_355x242.gif);
    width: 355px;
    height: 242px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
  }
  
  table.langhomepagetable td {
    font-size: small;
  }
  
  table.langhomepagetable td p {
    text-align: justify;
    font-size: small;
    margin: 0px;
  }
   
  table.langhomepagebutton td {
    background-image: url(\${IMAGEPAGE}befr/langhomepage/buttonback_5x60.gif);
    height: 60px;
    background-repeat: repeat-x;
  }
  
  
  table.langhomepagebutton td h1 a:link, table.langhomepagebutton td h1 a:visited {
    text-decoration: underline;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }
  
  table.langhomepagebutton td h1  {
    padding-top: 15px;
    font-size: 24px;
  }
  
  table.langhomepagebutton td h1 a:hover {
    text-decoration: underline;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }
  
/* New BE CSS */

.benl_box, .befr_box {
	width:312px;
	height:241px;
	background-color:#fff;
	position:relative;
	overflow:hidden;
}

.benl_box div.img1,
.benl_box div.img2,
.benl_box div.img3,
.befr_box div.img1,
.befr_box div.img2,
.befr_box div.img3 {
	position: absolute;
	padding:0;
	margin:0;
}

.benl_box div.img1 {
	background: transparent url("http://pics.ebaystatic.com/aw/pics/befr/langhomepage/BE_Nederlands_01.jpg") no-repeat top left;
	width:312px;
	height:88px;
	top:0;
	left:0;
}

.benl_box div.img2 {
	background: transparent url("http://pics.ebaystatic.com/aw/pics/befr/langhomepage/BE_Nederlands_02.jpg") no-repeat top left;
	width:91px;
	height:143px;
	top:98px;
	left:0;
}

.benl_box div.img3 {
	background: transparent url("http://pics.ebaystatic.com/aw/pics/befr/langhomepage/BE_Nederlands_03.jpg") no-repeat top left;
	width:211px;
	height:90px;
	bottom:0;
	left:101px;
}

.befr_box div.img1 {
	background: transparent url("http://pics.ebaystatic.com/aw/pics/befr/langhomepage/BE_Francais_01.jpg") no-repeat top left;
	width:210px;
	height:88px;
	top:0;
	left:0;
}

.befr_box div.img2 {
	background: transparent url("http://pics.ebaystatic.com/aw/pics/befr/langhomepage/BE_Francais_02.jpg") no-repeat top left;
	width:92px;
	height:141px;
	top:0;
	right:0;
}

.befr_box div.img3 {
	background: transparent url("http://pics.ebaystatic.com/aw/pics/befr/langhomepage/BE_Francais_03.jpg") no-repeat top left;
	width:313px;
	height:91px;
	bottom:0;
	left:0;
}

.benl_box a, .befr_box a {
	position:absolute;
	margin:0;
}

.benl_box a {
	top:99px;
	left:101px;
	width:171px;
}

.befr_box a {
	top:99px;
	left:0;
	width:171px;
}

a.btn-prim:active, a.btn-prim:link, a.btn-prim:link {
    color: #fff !important;
    text-decoration: none !important;
}

body {
	background:#fff !important;
}

td.padded-1{
	padding: 50px 30px 0 30px;
	text-align: center;
}

td.padded-2 {
	padding: 0 30px 50px 30px;
	text-align: center;
}

td.padded {
	padding: 0 30px 0 30px;
	text-align: center;
}

.logopad {
	padding-left:30px;
}