html { overflow-x: hidden }
html.noscroll {
    position: static;
    overflow-y: auto;
    width: auto;
}
.main-container { max-width: 96% }
#mobile-menu-wrapper {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background: #222;
    left: -300px;
    overflow: auto;
    transition: left 500ms ease;
    -webkit-backface-visibility: hidden;
    z-index: 9999999;
}
.rtl #mobile-menu-wrapper {
    left: auto;
    right: -300px;
    border-right: 0;
    transition: right 500ms ease;
}
.main-container, body > footer {
    position: relative;
    left: 0;
    transition: left 500ms ease;
}
.rtl .main-container, body.rtl > footer {
    left: auto;
    right: 0;
    transition: right 500ms ease;
}
/* ------------------ @media {   } queries ------------------ */
@media screen and (max-width:1235px) { 
    #sticky.sticky-nav { max-width: 96% }
}
@media screen and (max-width: 1200px) { 
    .single-prev-next { display: none }
}
@media screen and (max-width:1050px) { 
    #wp-subscribe p.text { display: none }
    #wp-subscribe h4.title span {
        margin-bottom: 10px;
        font-size: 25px!important;
    }
    .widget-header #wp-subscribe h4.title span { font-size: 30px }
    .widget-header #wp-subscribe h4.title { font-size: 20px }
    #header .header-search {
        float: none;
        width: 35%;
    }
}
@media screen and (max-width:1000px) { 
    #move-to-top {
        margin-right: 0;
        right: 5px;
    }
    .rtl #move-to-top {
        margin-left: 0;
        left: 5px;
        right: auto;
    }
}
@media screen and (max-width:960px) { 
    .secondary-navigation { left: 0 }
    .rtl .secondary-navigation {
        left: auto;
        right: 0;
    }
    img {
        max-width: 100%;
        height: auto!important;
    }
    .ad-300 img { max-width: 100% }
    .ad-125 li { max-width: 40% }
    .ad-125 img {
        padding: 0;
        background: #FAFAFA;
        border: 0;
    }
    div#page.single { padding: 25px 2% }
    .copyrights { text-align: center }
    .copyright, .top {
        float: none;
        text-align: center;
    }
    a.toplink { top: 10px }
    .copyrights { padding-bottom: 10px }
}
@media screen and (max-width:900px) { 
    article.latestPost .title, article.latestPost .title a {
        font-size: 20px;
        line-height: 1.4;
    }
}
@media screen and (max-width:865px) { 
    #page, .container { max-width: 100% }
    footer .container { padding: 0 2% }
    #header .header-search {
        max-width: 250px;
        float: left;
        margin-left: 20px;
    }
    .rtl #header .header-search {
        float: right;
        margin-right: 20px;
        margin-left: 0;
    }
    #mobile-menu-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        cursor: pointer;
        display: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: rgba(0,0,0,.5);
    }
    html.noscroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }
    .navigation {
        width: 100%;
    }
    #secondary-navigation {
        width: 100%!important;
        position: relative!important;
    }
    .navigation .menu a, .navigation .menu .fa > a, .navigation .menu .fa > a {
        color: #fff!important;
        background: transparent;
    }
    .navigation .menu {
        display: block!important;
        float: none;
        background: transparent;
        margin-bottom: 45px;
    }
    .navigation ul ul {
        visibility: visible!important;
        opacity: 1!important;
        position: relative;
        left: 0!important;
        border: 0;
        width: 100%;
    }
    .navigation ul li li {
        background: transparent;
        border: 0;
    }
    #navigation { height: auto }
    #navigation li, .navigation ul li li {
        width: 100%!important;
        float: left;
        position: relative;
    }
    .navigation ul li:after { display: none }
    .navigation ul li:before { display: none }
    #navigation li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2)!important;
        width: 100%!important;
        box-sizing: border-box;
    }
    #footer-navigation #navigation li a {
        border-bottom: 0!important;
        width: auto!important;
        text-indent: 0;
    }
    #navigation a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    a#pull {
        display: block;
        width: 100%;
        position: relative;
        color: #fff;
        padding: 10px 0;
        text-indent: 15px;
    }
    a#pull:after {
        content: "\f0c9";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
        font-family: FontAwesome;
    }
    .navigation ul .sfHover a, .navigation ul li:hover, .navigation ul .sfHover ul li { background: transparent }
    /*disable flayout*/
    #catcher { height: 0 !important }
    .sticky-navigation-active {
        position: relative !important;
        top: 0 !important;
    }
    /*-[ Responsive Navigation ]--------------------------------*/
    .main-container {
        position: relative;
        left: 0;
        transition: left 500ms ease;
    }
    .mobile-menu-active .main-container {
        left: 300px;
        transition: left 500ms ease;
    }
    .navigation.mobile-menu-wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        z-index: 9999;
        width: 300px;
        height: 100%;
        background-color: #222222;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        overflow: auto;
        transition: left 500ms ease;
        -webkit-backface-visibility: hidden;
    }
    .mobile-menu-active .navigation.mobile-menu-wrapper { left: 0 }
    .navigation ul li {
        width: 100%;
        display: block;
    }
    .navigation ul li:hover { background: none }
    #primary-navigation ul li a, #primary-navigation ul ul a {
        padding: 9px 20px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation ul ul {
        position: static;
        width: 100%;
        background: none;
        border: none;
    }
    .navigation ul ul li {
        background: none;
        width: 100%;
    }
    .navigation i { display: inline }
    .navigation ul ul a { padding: 9px 30px !important }
    .navigation ul ul ul a { padding: 9px 27px !important }
    .navigation ul ul ul ul a { padding: 9px 20px 9px 40px !important }
    .navigation .toggle-caret {
        display: block;
        width: 42px;
        height: 42px;
        line-height: 42px;
        color: #ffffff;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        z-index: 99;
        cursor: pointer;
    }
    .navigation .menu-item-has-children.active > .toggle-caret i:before { content: "\f068" }
    .navigation .menu-item-has-children > a:after { content: '' }
    /*-[ Mega Menu ]--------------------------------*/
    #wpmm-megamenu .wpmm-subcategories {
        width: 100%;
        text-indent: 0;
    }
    #wpmm-megamenu .wpmm-posts { width: 100% }
    #wpmm-megamenu .wpmm-post {
        width: 100%!important;
        padding: 0 10px!important;
        text-align: center!important;
    }
    #wpmm-megamenu .wpmm-thumbnail img { float: left }
    .latestPost {
        width: 48%!important;
        margin-right: 2.6%;
    }
    .related-posts .latestPost.last { margin-right: 2.6%!important }
    .rtl .latestPost {
        margin-right: 0;
        margin-left: 2.6%;
    }
    .latestPost:nth-of-type(2n+2) {
        margin-right: 0;
        clear: none;
        float: right;
    }
    .related-posts .latestPost:nth-child(2n+2) {
        float: left;
        clear: none;
        margin-right: 0!important;
    }
    .related-posts .latestPost:nth-child(3n-2) { clear: none!important }
    .rtl .latestPost:nth-of-type(2n+2) {
        margin-left: 0;
        float: left;
    }
}
/* Force hide mobile menu on > 865 */
@media screen and (min-width:865px) { 
    .mobile-menu-active .main-container {
        position: relative!important;
        left: 0!important;
        transition: none!important;
    }
    .rtl.mobile-menu-active .main-container {
        left: auto!important;
        right: 0!important;
        transition: none!important;
    }
    #mobile-menu-wrapper { transition: none!important }
    .navigation.mobile-only { display: none }
    .mobile-menu-active .main-container, body.mobile-menu-active > footer { transition: none!important }
    .rtl.mobile-menu-active .main-container, body.rtl.mobile-menu-active > footer { transition: none!important }
}
@media screen and (max-width:840px) { 
    #header .header-search {
        max-width: 250px;
        float: right;
        margin-right: 24px;
    }
    .rtl #header .header-search {
        float: left;
        margin-left: 24px;
        margin-right: auto;
    }
}
@media screen and (max-width:728px) { 
    .latestPost:nth-child(3n+1) { clear: none !important }
    .logged-in .pace .pace-progress { top: 46px }
    #header h1, #header h2, .site-description {
        float: none;
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    #header h1, #header h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .site-description { margin-top: 0 }
    #logo a, #logo img {
        float: none!important;
        letter-spacing: 0;
    }
    .logo-wrap {
        margin-bottom: 10px;
        margin-top: 0;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }
    #header .header-search {
        max-width: 60%;
        float: left;
        padding-left: 25px;
        margin-top: 0;
        margin-left: 0;
    }
    .rtl #header .header-search {
        float: right;
        padding-right: 25px;
        margin-right: 0;
    }
    #header .header-social { margin-top: 0 }
    .latestPost:nth-child(3n+1) { clear: left }
    .rtl .latestPost:nth-child(3n+1) { clear: right }
    .latestPost:nth-child(4) { clear: none }
    .latestPost.featuredPost { width: 100% }
    .homepage-widget, #wp-subscribe {
        width: 100%;
        box-sizing: border-box;
    }
    .widget-header #wp-subscribe h4.title span { margin-top: 0 }
    .widget-header #wp-subscribe h4.title { margin-bottom: 10px }
    .single-title {
        font-size: 30px!important;
        line-height: 1.4!important;
    }
    .widget-header #wp-subscribe p.footer-text { display: block }
    .rtl .related-posts .last { margin-right: 0 }
    .rtl .related-posts:nth-child(even) { margin-left: 0 }
    .rtl .related-posts:nth-child(odd) { margin-left: 3.04% }
}
@media screen and (max-width:720px) { 
    .secondary-navigation a {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .article, .home-h2 .article { width: 100% }
    #content_box {
        padding-right: 0px;
        padding-left: 0px!important;
    }
    .rtl #content_box {
        padding-left: 0px;
        padding-right: 0px!important;
    }
    .sidebar.c-4-12 {
        float: none !important;
        /*width: 108% !important;*/
        width: 100% !important;
        margin: 0 auto;
        overflow: hidden;
        /*margin-right: -4%;
        margin-left: -4%;*/
        padding: 22px 4%;
    }
    .f-widget, .widgets-num-4 .f-widget { width: 48% }
    .f-widget:nth-child(2n+2) { margin-right: 0 }
    .rtl .f-widget:nth-child(2n+2) { margin-right: 0 }
    .f-widget-2 { margin-right: 0 }
    .rtl .f-widget-2 { margin-left: 0 }
    .ad-125 li { max-width: 45% }
    #comments { margin-right: 0 }
    .rtl #comments { margin-left: 0 }
    .latestPost .thecategory { display: none }
}
@media screen and (max-width:600px) { 
    .logged-in .pace .pace-progress { top: 0px }
    #header .header-search { max-width: 50% }
    .postauthor img {
        padding: 15px;
        padding-right: 0;
        box-sizing: border-box;
    }
}
@media screen and (max-width:550px) { 
    .sbutton { float: right }
    .rtl .sbutton { float: left }
    .f-widget, .widgets-num-4 .f-widget {
        width: 100%;
        margin-right: 0;
    }
    .rtl .f-widget, .rtl .widgets-num-4 .f-widget { margin-left: 0 }
    form#commentform { padding: 10px }
    .single-title {
        font-size: 26px!important;
        line-height: 1.4!important;
    }
    span.author-posts { display: none }
}
@media screen and (max-width:480px) { 
    #navigation { border-bottom: 0 }
    #navigation {
        margin-top: 0;
        margin-bottom: 0;
    }
    .secondary-navigation {
        width: 102%;
        height: 35px;
    }
    .related-posts .latestPost {
        width: 100%;
        float: left!important;
        max-width: 100%;
    }
    .rtl .related-posts .latestPost { float: right!important }
    .related-posts .relatepostli4 {
        padding-bottom: 15px;
        border-bottom: 1px solid #CCC;
        margin-bottom: 11px;
    }
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
        width: 100%;
        margin-right: 0;
    }
    .rtl .one_half, .rtl .one_third, .rtl .two_third, .rtl .three_fourth, .rtl .one_fourth, .rtl .one_fifth, .rtl .two_fifth, .rtl .three_fifth, .rtl .four_fifth, .rtl .one_sixth, .rtl .five_sixth { margin-left: 0 }
    #wp-subscribe p.text { display: block }
    #cancel-comment-reply-link {
        margin-bottom: 0;
        margin-top: -43px;
    }
    article.latestPost .title, article.latestPost .title a { font-size: 17px }
    .latestPost { width: 100%!important }
    .latestPost header { min-height: 100% }
    .latestPost .review-total-star {
        position: relative;
        top: 0;
        left: 0;
    }
    .rtl .latestPost .review-total-star { right: 0 }
    #header .header-search, #header .header-social {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: 0;
        text-align: center;
    }
    .rtl #header .header-search, #header .header-social { margin-left: 0 }
    #featured-thumbnail {
        max-height: 180px;
        overflow: hidden;
    }
    #header .header-social a {
        float: none;
        min-width: 42px;
        overflow: hidden;
        display: inline-block;
    }
    .featured-thumbnail {
        width: 100%;
        max-height: 200px;
        overflow: hidden;
    }
}
@media screen and (max-width:400px) { 
    article header { overflow: hidden }
    .slidertext { display: none }
}
@media screen and (max-width:320px) { 
    .latestPost { width: 100% !important }
    .latest-cat-post #featured-thumbnail {
        width: 100%;
        max-width: 100%;
    }
    .latest-cat-post #featured-thumbnail .featured-thumbnail { float: none }
    #navigation li {
        display: block;
        float: none;
        width: 100%;
    }
    #navigation li a { border-bottom: 1px solid #576979 }
}