@charset "big5";
/* CSS Document */

/* entertainment slider start*/

#jFlow_wrapper_320{
position:relative;
width:325px;
	overflow:hidden;
	height:50px;
}
/* Slides */

#jFlowSlide_320{
margin-top:10px;
padding-left:0px;
}


.jFlowPrev_320, .jFlowNext_320{
cursor:pointer;
position:absolute;
}
.jFlowPrev_320 {left:150px;top:-10px;}
.jFlowNext_320 {left:170px;top:-10px;}


.box_wrapper_320{
	width:100%;
	height:50px;
	overflow:hidden;
	position:relative;
}

.box_content_320{
padding:3px 0 0 10px;
float:left;
}

.box_content_320 img{
border:1;
}

.box_content_320 li{
width:300px;
list-style:none;
float:left;
padding:2px;
line-height:110%;
font-weight:normal;
}




/* editorial slider box start */
#jFlow_wrapper_635{
position:relative;
width:635px;
overflow:hidden;
}
/* Slides */
#myController_635{
position:absolute;
left:590px;
top:10px;
z-index:10;
}

#jFlowSlide_635{
margin-top:10px;
padding-left:0px;
}


.jFlowPrev_635, .jFlowNext_635{
cursor:pointer;
position:absolute;
}
.jFlowPrev_635 {left:3px;top:90px;}
.jFlowNext_635 {right:10px;top:90px;}


.box_wrapper_635{
	width:630px;
	height:165px;
	overflow:hidden;
	position:relative;
}

.box_content_635{
padding:0 0 0 15px;
float:left;
}

.box_content_635 img{
border:1px solid #DDDDDD;
}

.box_content_635 li{
width:264px;
height:165px;
list-style:none;
float:left;
margin-left:5px;
padding:13px;
line-height:110%;
font-weight:normal;
background-image:url(../image/editor_slider_bkg.jpg);
background-repeat: no-repeat;
}
.box_content_635 li table{
height:140px;
}

/* jFlow multimedia start here*/

#jFlow_wrapper{
position:relative;
width:435px;
	background-image:url(../image/box_bkg430.jpg);
	background-repeat: no-repeat;
	overflow:hidden;
	background-position: left top;
}
/* Slides */
#myController{
position:absolute;
left:390px;
top:7px;
z-index:10;
}

#myController span, #myController_635 span{
background-image:url(../image/jflow_normal.gif);
background-repeat:no-repeat;
width:7px;
height:7px;
display:block;
cursor:pointer;
float:left;
margin:1px;
}

#myController span.jFlowSelected, #myController_635 span.jFlowSelected_635 {
background-image:url(../image/jflow_selected.gif);
background-repeat:no-repeat;
display:block;
width:7px;
height:7px;
}

#jFlowSlide{
margin-top:10px;
padding-left:-10px;
}


.jFlowPrev, .jFlowNext{
cursor:pointer;
position:absolute;
}
.jFlowPrev {right:417px;top:90px;}
.jFlowNext {right:3px;top:90px;}

#slideswrapper {
position:relative;
}

.box_wrapper{
	width:435px;
	height:160px;
	overflow:hidden;
	position:relative;
}

.box_content{
padding:15px 0 0 17px;
width:96%;
float:left;
}

.box_content img{
float:left;
margin:0px;
border:0;
}

.photo_bkg{
background-image:url(../image/multimedia_tb_bkg.gif);
display:block;
width:129px;
height:99px;
padding:2px 0 0 2px;
margin-bottom:-20px;
}

.btn_play{
display:block;
z-index:12;
position:absolute;
right:8px;
top:72px;
}

.box_content li{
list-style:none;
width:31%;
float:left;
margin-left:2px;
padding:0px;
line-height:110%;
font-weight:normal;
position:relative;
}

.box_content h3{
color:#006699;
font-size:14px;
margin:0 0 5px 0;
}

.box_content h5{
color:#999;
font-size:12px;
text-align:center;
font-weight:normal;
}

