/* Just some base styles not needed for example to function */
*, html { font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
 /* will be replaced by Helvetica Neue 55 Roman */ }

h1, h2, h3, h4, h5, h6 {
margin: 0px;
padding: 0;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: .04em;
/* zeros out browser defualts and adds a little kerning-out  */  }
 
body, form, ul, li, p, h1, h2, h3, h4, h5
{
 margin: 0;
 padding: 0;
}
body {
background-color: #606061;
width: 100%;
}

img { border: none; }

p {
margin: 0 0 0.5em 0;
padding: 5px;
color: #333;
font-size: 13px;
line-height: 120%;

}

html { font-size: 100%; height: 100%; /* IE hack */ }
body { font-size: 0.75em; } /* Base font 12px */
table { font-size: 100%; /* IE hack */ }

input, select, textarea, th, td { font-size:1em; }


.clear {clear: both;}

h2, h3 {
font-size: 15px;
text-transform: uppercase;/* will be replaced by Helvetica Neue 77 Condensed Bold */}
    
nav ul.usernav a {
font-family: Arial, Verdana,sans-serif;
font-size: 14px;
text-transform: uppercase;

/* will be replaced by Helvetica Neue 77 Condensed Bold */}
    
a, a:link, a:visited, a:hover, a:active {
color: #3399FF;
text-decoration: none;
}

a:hover, a:active {
text-decoration: underline;
}  
    
 #intro p {

 text-transform: none;
 /* will be replaced by Helvetica Neue 57 Condensed */}

/*******************************************************************************************************************************
* LAYOUT #1 LAYOUT #1 LAYOUT #1 LAYOUT #1 LAYOUT #1 LAYOUT #1 LAYOUT #1 LAYOUT #1  LAYOUT #1 LAYOUT #1 LAYOUT #1 *
*******************************************************************************************************************************/ 

/*      Default Layout: 992px. 
        Gutters: 24px.
        Outer margins: 24px.
        Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
width: 100%;
padding:0px;
background-color: #fff;
-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
margin: 0 auto; 
color: #666;
}

#wrapper, #threecol {
width: 990px;
margin: 0 auto;
}


/************************************************************************
* HEADER LAYOUT #1 HEADER LAYOUT #1 HEADER LAYOUT #1 HEADER LAYOUT #1 *
***************************************************************************/

#headerupper{
width: 100%;
background-color: #fff;
clear:both;
position: relative;
display: block;
margin: 24px 0 0 0;
}

#headerlower{
width: 100%;
background-color: #cc0000;
clear:both;
position: relative;
display: block;
margin: 0;
}

.wrapper {
width: 990px;
margin: 0 auto;
}

dl {
margin: 0;
padding: 0;
}

/* UPPER header UPPER header UPPER header*/
headerupper a.root{
height: 60px;
width: 100%;
font-family: Georgia, Times, Arial, serif;
font-size: 32px;
color: #FFFFFF;
padding: 10px;
text-decoration: none;
background-color: #fff;
}

/*--headerupper a.root  {
font-family: Georgia, Times, Arial, serif;
font-size: 32px;
color: #CC0000;
padding: 0px;
text-decoration: none;
}-->

headerupper a.department {
font-family: Georgia, Times, Arial, serif;
font-size: 18px;
color: #999;
padding: 0px;
font-style:italic;
text-decoration: none;
}--*/

#searchForm {
position: relative;
float: right;
margin-top: 32px;  
height: 30px;
}

#q {
margin-right: 5px;
}

/* LOWER header LOWER header LOWER header*/

/* USER NAV 1 */
nav {
float: left;
padding: 0px;
font-size: 100%;
width: 100%;
background-color:#CC0000;
}

nav ul.usernav {
padding: 0px;
line-height: 2.0em;
margin: 0 auto;
}

nav ul.usernav li {
display: inline;
list-style-type: none;
padding-right: 0px;
}

nav ul.usernav li.top {display:block; float:left;}
nav ul.usernav li a {display:block; float:left; height:auto; border:none; text-decoration:none; padding:0; cursor:pointer;}

nav ul.usernav a:link.first {
margin-left: 0px;
}

nav ul.usernav a:hover {
background-color:#FFF;
color: #CC0000;
}

nav ul.usernav a.current:link, nav a.current:visited,
nav ul.usernav a.current:hover, nav a.current:active {
color: #003F5F;
text-decoration: none;
}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
margin-right: 5px; 
padding: 5px 4px;
text-decoration: none;
font-family: 12px/1 Arial, Verdana,Arial,Helvetica,Verdana, sans-serif;
color: #ffffff;
height: auto;
}

nav ul.usernav a:hover {
background-color:#FFF;
color: #CC0000;
}
  
/* HOMEPAGE 1*/
#introwrapper {
display: block;
width: 100%;
margin: 20px 0px 20px 0px;
}

.bannerhome {
position: relative;
}

span.bannerhome img {
float: left;
position: relative;
width: 483px;
}

#intro {
float: right;
width: 483px;
min-height: 175px;
background-color: #dfe7e9;
padding:0px;
}

#intro p {
padding: 10px 20px 0px 20px;
}
#intro p.condensed {
	font-size: 140%;}
	
.module4col img, .module4col img, .module4col img,  .module4col img {
width: 100%;
}

span.bannerinterior img {
float: left;
width: 100%;
margin: 10px 0px 20px 0px;
}

#bottom {
margin-top: 20px;
}

#modules {
float: left;
width: 75%;
}

#modules ul
{margin: 0px 0px 10px 5px;}

#modules ul li {
padding: 5px 5px 5px 10px;
background-image: url('images/redArrow_8x8.png');
background-repeat: no-repeat;
background-position: left 8px;}

.module4col h2, .module4col h2, .module4col h2, #leftcolumn h2 {
color:#FFFFFF;
padding: 15px 0px 0px 10px;
height: 34px;
background-color: #4e819c;
}

.module4col {
width: 230px;
float: left;
margin: 0px 0px 12px 24px;
min-height: 200px;
background-image: url('images/homepage/mod_bkg.jpg');
background-position: 0 40px;
background-repeat:repeat-x;
min-height: 200px;
}

.firstmodule, .clear3 {
 margin-left: 0;
 clear: left;
}

.module4col .moreinfo {
margin: -15px 0 0 0;
padding: 0 0 0 5px;
}

.module4col .moreinfo a {
text-decoration: none;
color: #3399ff;
border: 0px;
padding-right: 10px;
background-image: url('images/redArrow_8x8.gif');
background-repeat: no-repeat;
background-position: 120px 5px;}

.module4col .moreinfo a:hover {
text-decoration: underline;
border: 0px;}

.module4col h3 {
line-height: 18px;}

#sidebar4col {
float: right;
width: 23%;
margin: 0px 0px 12px 0;
min-height: 200px;
}

#sidebar4col .box {
background-color: #dfe7e9;
padding: 10px;
margin-top: 20px;
}

#sidebar4col .box:first-child {
margin-top: 0;
}

#modulecontainerleft, #modulecontainerright {
float: left;
margin-top: 20px;}
#leftcolumn {
float: left;
width: 710px;
margin: 10px 0px 0px 0px;
background-image: url('images/bkg_interior.jpg');
background-position: 0 222px;
background-repeat:repeat-x;}

#leftcolumn ul {
margin-left: 20px;
padding: 5px;
}

#leftcolumn p {
padding-left: 10px;
padding-right: 10px;
}

table {
margin-bottom: 1.2em;
line-height: 1.8em;
border-collapse: collapse;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc; 
margin: 10px;
}

table th {   
color: #fff;
letter-spacing: 2px;
text-transform: uppercase;
text-align: left;
padding: 6px;
background: #4E819C;
}

table thead tr th {
text-transform: uppercase;
background: #e2e2e2;
color: #003F5F;
}

table td, table th {
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 5px;
line-height: 1.2em;
vertical-align: top;
width: auto;
}

table tr:nth-child(odd) {
background-color: #EEE;
}

#rightcolumnone {
float: right;
width: 344px;
margin: 10px 0px 0px 0px;
}

#rightcolumntwo {
float: right;
width: 344px;
margin: 10px 0px 0px 0px;
}

#threecol #leftnavigation {
float: left;
width: 20%;
}

#threecol #leftcolumn {
float: left;
width: 40%;
}

#threecol #rightcolumnone {
float: right;
width: 20%;
margin: 10px 0px 0px 0px;
}

#threecol #rightcolumntwo {
float: right;
width: 20%;;
margin: 10px 0px 0px 0px;
}
/**********************************
* Begin code for Right Col list *
**********************************/
#rightcolumnone {
float: right;
width: 255px;
margin: 20px 0px 0px 0px;
background-color: #dfe7e9;
padding: 5px 5px 5px 0px;
min-height: 364px;
}

#rightcolumnone h2 {
padding: 8px 0px 0px 10px;
}
#rightcolumnone h3 {
padding: 8px 0px 0px 10px;
}
#rightcolumnone p {
margin: 0px;
padding: 5px 0px 0px 10px;
}

/*--#rightcolumnone ul {
list-style: none;
margin: 0px 0px 0px 15px;
}
#rightcolumnone li {
margin: 10px 0px 5px 0px;
}--*/

#rightcolumnone a {
font-weight: normal;
text-decoration: none;
color: #3399ff;
border: 0px;
}

#rightcolumnone a:hover {
text-decoration: underline;
}

#leftcolumn ul {
	list-style-type: none;
}
#leftcolumn ul li {
padding: 5px 5px 5px 10px;
background-image: url('https://www.northeastern.edu/css/images/redArrow_8x8.png');
background-repeat: no-repeat;
background-position: left 8px;}

#rightcolumnone ul {
	list-style-type: none;
		margin: 0px 0px 0px 10px;}
#rightcolumnone ul li {
padding: 5px 5px 5px 10px;
background-image: url('https://www.northeastern.edu/css/images/redArrow_8x8.png');
background-repeat: no-repeat;
background-position: left 8px;}
/**********************************
* Begin code for box lists *
**********************************/
.module4col ul, #sidebar4col ul {
list-style: none;
margin: 10px 0px 0px 0px;
}
/*--#rightcolumnliststyleA {
float: right;
width: 344px;
padding-top: 0px;
padding-bottom: 0px;
margin: 10px 0px 0px 0px;
padding-left: 10px;
}

.module4col li, #sidebar4col li {
padding: 5px 0px 5px 0px;
background-repeat: no-repeat;
background-position: 0 8px;
}

.module4col a, #sidebar4col a {
font-weight: normal;
text-decoration: none;
color: #3399ff;
border: 0px;
}

.module4col a:hover, #sidebar4col a:hover {
text-decoration: underline;
border: 0px;
}

.module4col h3 {
line-height: 18px;
padding: 0 5px;
}--*/

/************************
* FOOTER *
************************/
footer {
clear:both;
position: relative;
display: block;
width: 100%;
background-color: #636363;
color: #FFF;
font-size: 11px;
text-align: left;
vertical-align: middle;
margin-top: 12px auto 0 auto;
padding: 6px 0;
}

footer a.logo {
background: url('https://northeastern.edu/neuhome/images/logo-footer.png') no-repeat scroll left top transparent;
float: left;
width: 173px;
height: 17px;
color: #FFF;
font-family: Georgia,Times,Arial,serif;
font-size: 18px;
margin-right: 20px;
padding: 0;
text-decoration: none;
}

footer a {
color: #FFF;
text-decoration: none;
}

footer img {
margin-right: 10px;
float: right;
}

.info {
display: inline;
float: left;
font-size: 12px;
list-style-type: none;
margin: -4px 0 10px 0;
color: #CCC;
}

.info li {
float: left;
margin-right: 4px;
}

.info li:after {
content: "\20\00b7";
}

.info li:last-child:after {
content: "";
margin-right: 0;
padding-right: 0;
}

footer .info a:link, footer .info a:visited {
color: #FFF;
text-decoration: none;
}
    
footer .info a:hover, footer .info a:active {
color: #CCC;
text-decoration: underline;
}

.social-media {
display: inline;
float: right;
list-style-type: none;
font-size: 11px;
margin: 0;
}

.social-media li {
float: left;
margin-right: 10px;
}

.social-media li:last-child {
margin-right: 0;
padding-right: 0;
}

.social-media img {
 margin: 0;
 float: left;
}

.social-media a img {
 border: 0;
 padding: 0;
}

.contact {
clear: both;
line-height: 1.4em;
margin: 0 0 0 193px;
padding: 0;
color: #CCC;
}
/*---
footer {
clear:both;
display: block;
width: 100%;
text-align: center;
color: #333;
padding: 0px 0px 10px 0px;
margin: 0 auto;
position: relative;
font-size: 80%;
}
                
footer li   {
display: inline;
}
    
#footer a:link, #footer a:visited {
color: #333;
text-decoration: none;}

footer a:hover {
color: #3333;
text-decoration: underline;}
    
footer nav {
margin: 0px;
color: #333;}*/
/************************
* END footer *
************************/ 

/****************************************************************************************************************************
* LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 *
****************************************************************************************************************************/ 

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
body {
}

/************************************************************************
* HEADER LAYOUT #2 HEADER LAYOUT #2 HEADER LAYOUT #2 HEADER LAYOUT #2 *
***************************************************************************/
.wrapper {
width: 712px;
margin: 0 auto;
}

#wrapper, #threecol {
width: 712px;
margin: 0 auto;
}

#searchForm {
position: relative;
float: right;
}

/* User Navigation 2 */
nav {
float: left;
padding: 0px;
font-size: 120%;
width: 100%;
background-color:#CC0000;
}

nav ul.usernav {
padding: 0px;
line-height: 2em;
margin: 0 auto;
text-align: center;
}

nav ul.usernav li {
display: inline;
list-style-type: none;
padding-right: 0px;
}


nav ul.usernav li.top {display:block; float:left;}
nav ul.usernav li a {display:block; float:left; height:40px; border:none; text-decoration:none; padding:0; cursor:pointer;}
nav ul.usernav li:hover {position:relative; z-index:200;}
nav ul.usernav a:hover {position:relative; white-space:normal; z-index:200;}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
margin: 5px;
padding: 5px;
text-decoration: none;
color: #ffffff;
height:35px;
}

nav ul.usernav a:link.first {
margin-left: 0px;
}

nav ul.usernav a:hover {
background-color:#FFF;
color: #CC0000;
}

nav ul.usernav a.current:link, nav a.current:visited,
nav ul.usernav a.current:hover, nav a.current:active {
color: #003F5F;
text-decoration: none;
}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
margin: 5px 0px 5px 15px; 
padding: 0px 10px 10px 10px;
text-decoration: none;
color: #ffffff;
height: 28px;
border: 1px solid #dc5555;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

nav ul.usernav a:hover {
background-color:#FFF;
color: #CC0000;
}

nav ul.usernav li.menusearch form#searchForm {
height: 26px;
text-align: right;
padding:2px 0px;
margin: 0 auto;
position:relative;
top:0px;
float: right;
width: 728px;
margin-top: -225px;
}

/* HOMEPAGE 2*/
span.bannerhome{
float: left;
width: 345px;
overflow: hidden;
}

span.bannerhome img {
}

#intro {
float: right;
width: 48%;
background-color: #dfe7e9;
padding: 5px 5px 5px 0px;
min-height: 164px;
}

#modules {
float: left;
width: 75%;
}

.module4col {
width: 45.5%;
float: left;
margin-left: 0;
margin-right: 24px;
min-height: 200px;
}

.clear2 {
margin-left: 0;
clear: left;
}

.clear3 {
clear: none;
}

#sidebar4col {
width: 178px;
}

.leftmodule {
clear: none;
}

#leftcolumn {
width: 100%;
}

#rightcolumnone {
width: 100%;
}

#rightcolumntwo {
width: 100%;
}

#rightcolumnliststyleA {
float: left;
}

#rightcolumntwo {
float: right;
width: 344px;
}

.module4col {
border-bottom-left-radius: 0px;
}

.module4col {
border-bottom-left-radius: 10px;
}

.module4col {
border-bottom-right-radius: 10px;
}

footer {
font-size: 10px;
margin-left: auto;
margin-right: auto;
margin-top: 18px;
padding: 6px 0;
position: relative;
text-align: left;
vertical-align: middle;
width: 100%;
}

footer a.logo {
font-size: 14px;
margin-right: 20px;
padding: 0;
text-decoration: none;
}

.info {
font-size: 10px;
padding-top: 5px;
}

.contact {
 font-size: 10px;
}
#intro p.condensed {
	font-size: 110%;} 
}

/*************************************************************************************************************************
* LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 *LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 *
*************************************************************************************************************************/ 


/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

body {
}

/************************************************************************
* HEADER LAYOUT #2 HEADER LAYOUT #2 HEADER LAYOUT #2 HEADER LAYOUT #2 *
***************************************************************************/
.wrapper {
width: 320px;
margin: 0 auto;
}

#wrapper, #threecol {
width: 320px;
margin: 0 auto;
}

/* UPPER header*/
headerupper a.root {
color: #CC0000;
font-family: Georgia,Times,Arial,serif;
font-size: 22px;
padding: 0;
text-decoration: none;
}

.module4col, #sidebar4col {
width: 100%;
float: left;
margin-left: 0px;
}

#modulecontainerleft, #modulecontainerright {
float: left;
width: 100%;
}

#toplinks-list {
text-align: center;
}

#logo {
height: 50px;
}

#footer span.links {
display: none;
}

#footer {
font-size: 60%;
line-height: 110%;
}

#wrapper {
margin-top: 0px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
    
/* User Navigation 3 
nav {
background-color:#fff;}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {}

nav ul.usernav, ul.toplinks {
line-height: 1.85em;
width: 480px;
position: relative;}

nav ul.toplinks {
line-height: 1.85em;
width: 480px;
position: relative;
text-transform: uppercase;
color: #fff;}



nav ul.usernav li, nav ul.toplinks li {
display: block;
width: 100%;
height: 28px;
margin-top: 5px;
background-color:#CCCCCC;
float: left;
text-align: left;}

nav ul.usernav li a, nav ul.toplinks li a {
color: #fff;
height: 18px;
padding: 0px 0px 0px 5px;
width: 200px;
float: left;}

nav ul.toplinks li a:link, nav ul.toplinks li a:visited {
color: #fff;}


nav a, nav a:visited, nav a:link {
margin-left: 0px; 
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 5px;
text-decoration: none;
font-weight: normal;
color: #ffffff;}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
    color: #FFFFFF;
    font-weight: normal;
    height: 28px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-decoration: none;
}
nav ul.usernav li a:hover, nav ul.toplinks li a:hover {
color: #fff;
height: 18px;
background-color:#CCCCCC;
text-decoration: none;}*/

/* User Navigation 2 */
nav {
float: left;
padding: 0px;
font-size: 120%;
width: 100%;
background-color:#CC0000;
}

nav ul.usernav {
padding: 0px;
line-height: 2.9em;
margin: 0 auto;
text-align: center;
}

nav ul.usernav li {
display: inline;
list-style-type: none;
padding-right: 0px;
}


nav ul.usernav li.top {display:block; float:left;}
nav ul.usernav li a {
display:inline-block; 
float:none; 
height:40px; 
border:none; 
text-decoration:none; 
padding:0; cursor:pointer;
}

nav ul.usernav li:hover {position:relative; 
z-index:200;
}

nav ul.usernav a:hover {position:relative; white-space:normal; z-index:200;}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
margin: 5px;
padding: 5px;
text-decoration: none;
color: #ffffff;
height:35px;
}

nav ul.usernav a:link.first {
margin-left: 0px;
}

nav ul.usernav a:hover {
background-color:#FFF;
color: #CC0000;
}

nav ul.usernav a.current:link, nav a.current:visited,
nav ul.usernav a.current:hover, nav a.current:active {
color: #003F5F;
text-decoration: none;
}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
margin: 3px; 
padding: 3px;
text-decoration: none;
color: #ffffff;
height: 18px;
border: 1px solid #dc5555;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

nav ul.usernav {
line-height: 1em;
text-align: center;
}

nav ul.usernav a:hover {
background-color:#FFF;
color: #CC0000;
}

nav ul.usernav li.menusearch form#searchForm {
height: 26px;
text-align: right;
padding:2px 0px;
margin: 0 auto;
position:relative;
top:0px;
float: right;
width: 728px;
margin-top: -225px;
}

#leftcolumn {
width: 100%;
float: left;
margin: 10px 0px 0px 0px;
background-image: url('images/bkg_interior.jpg');
background-position: 0 100px;
background-repeat:repeat-x;
}

#rightcolumnone {
width: 100%;
}

#rightcolumntwo {
width: 100%;
}

#modules {
width: 100%;
}

.module4col {
margin: 0px 0px 12px 0px;
background-image: url('images/homepage/mod_bkg.jpg');
background-position: 0 4px;
background-repeat:repeat-x;
min-height: 300px;
}

.module4col {
border: none;
width: 100%;
min-height: 100%;
}

.module4col img {
display:  none;
}

span.bannerhome img {
float: left;
width: 100%;
}

#intro {
float: left;
width: 100%;
background-color: #dfe7e9;
margin-top: 10px;
padding: 0px;
min-height: 50px;
}

 #intro p {
font-family: Arial, Verdana,sans-serif;
font-size: 12px;
}

footer .wrapper {
margin-top: 0;
}

footer {
margin: 18px auto 0 auto;
font-size: 10px;
padding: 5px 10px;
position: relative;
text-align: left;
vertical-align: middle;
width: 300px;
}

footer a.logo {
font-size: 14px;
margin-right: 20px;
padding: 0;
text-decoration: none;
}

.info {
float: left;
width: 50%;
font-size: 9px;
margin: 3px 0;
}

.info li:after {
content: "";
}

.info li {
float: none;
margin-right: 0;
padding: 5px 0;
}

.social-media {
float: right;
width: 30%;
margin-top: -17px;
}

.social-media li {
float: left;
margin: 0 0 0 10px;
}

.contact {
margin-left: 0;
}

/*******************************
 *   Top Search Box            *
****************************/
nav ul.usernav li.menusearch form#searchForm {
height: 26px;
text-align: right;
padding:2px 0px;
margin: 0 auto;
margin: 0px;
float: left;
display: block;
position: relative;
}

#q {
color: #666;
padding: 2px 0 0 3px;
padding: 0 0 0 3px;
width: 100px;
margin: 2px 5px 0px 5px;
height:20px;
background: #fff;
border: #d2d2d2 1px solid;
float: left;
 }
 
#searchForm input.button {
float: left;
margin-top: 5px;

}

#searchForm label {
display: none;
float: left;
}

#bottom {
margin-top: 10px;
}

#sidebar4col .box {
    margin-top: 10px;
}
#intro p.condensed {
	font-size: 100%;}

    
}

/*************************************************************************************************************************
* LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 *
*************************************************************************************************************************/ 

/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
body {
}

.wrapper {
 width: 480px;
 margin: 0 auto;
}

#wrapper, #threecol {
width: 480px;
margin: 0 auto;
}

h2, h3, nav ul.usernav a, nav ul.toplinks li a {
font-family: Arial, Verdana,sans-serif;
font-size: 12px;
text-transform: uppercase;
}
    
/************************************************************************
* HEADER LAYOUT #3 HEADER LAYOUT #3 HEADER LAYOUT #3 HEADER LAYOUT #3 *
***************************************************************************/

/* CSS ACCORDIAN Header*/
header{
padding: 10px;
}

header dt.headerupper{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #cccccc;
margin: 0px;
padding: 0px;
background-color: #fff;
height: 35px;
}

/* UPPER header*/
headerupper a.root {
color: #CC0000;
font-family: Georgia,Times,Arial,serif;
font-size: 22px;
padding: 0;
text-decoration: none;
}

#intro {
min-height: 100px;
}

#intro p {
font-family: Arial, Verdana,sans-serif;
font-size: 13px;
}

#modulecontainerleft, #modulecontainerright {
float: left;
margin-top: 10px;
}

#modules {
float: none;
width: 100%;
}

.module4col {
 border: none;
 min-height: 100%;
}

.module4col img {
display: none;
}

#leftcolumn {
float: left;
margin: 10px 0px 0px 0px;
background-image: url('images/bkg_interior.jpg');
background-position: 0 160px;
background-repeat:repeat-x;
}

/*******************************
 *   Top Search Box            *
****************************/
nav ul.usernav li.menusearch form#searchForm {
height: 26px;
text-align: right;
padding:2px 0px;
margin: 0 auto;
margin: 0px;
float: left;
display: block;
position: relative;
}

#q {
color: #666;
padding: 2px 0 0 3px;
padding: 0 0 0 3px;
width: 180px;
margin: 2px 5px 0px 5px;
height:20px;
background: #fff;
border: #d2d2d2 1px solid;
float: left;
}

#searchForm input.button {
float: left;
margin-top: 5px;
}
    
#searchForm label {
display: none;
float: left;
}

footer {
width: 100%;
margin: 18px auto 30px auto;
font-size: 10px;
padding: 0;
position: relative;
text-align: left;
vertical-align: middle;
}

footer .wrapper {
width: 480px;
padding: 5px 0;
}

footer a.logo {
font-size: 14px;
margin-right: 20px;
padding: 0;
text-decoration: none;
}

.info {
clear: left;
width: 82%;
font-size: 9px;
margin-top: 3px;
}

.info li {
float: left;
 margin-right: 4px;
}

.info li:after {
content: "\20\00b7";
}

.info li:last-child:after {
content: "";
margin-right: 0;
padding-right: 0;
}


.social-media {
 width: 17%;
 margin-top: -17px;
}

.contact {
 margin-left: 0;
}

#bottom {
margin-top: 10px;
}

#sidebar4col .box {
    margin-top: 20px;
}
 #sidebar4col .box:first-child {
    margin-top: 0;
    min-height: 160px;
}
#intro p.condensed {
	font-size: 100%;}

}