#nav-primary {
    background-color: #353535;
    float: none;
    width: 100%;
}

nav {
    background-color: #353535;
    float: none;
}

.topnav {
    background-color: #353535;
    list-style:none;
    width:992px;
    margin:46px auto 0px auto;
    height:38px;
    padding:0px ;
}

.topnav li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    /*padding: 10px 20px 9px 20px;*/
    margin-right:0;
    height: 19px;
}

.topnav li.active, .topnav li:hover {
    /*padding: 10px 20px 9px 20px;*/
    height: 17px;
}

.topnav li a {
    font-family:"HelveticaNeueW01-57Cn",Arial, Helvetica, sans-serif;
    font-size:14px; 
    color: #fff;
    cursor: default;
    display:block;
    outline:0;
    text-decoration:none;
}

.topnav li.active a, .topnav li:hover a {
    color:#161616;
    /*text-shadow: 1px 1px 1px #ffffff;*/
}
.topnav li .drop {
   padding: 10px 20px 9px 20px; 
}
.topnav li .drop:hover {
    background: #797979;
    color: #161616;
    cursor: pointer;
}
.topnav li .drop.active, .topnav li.active .drop {
    background: #fff;
    border-top: 1px solid #353535;
    color:#161616;
    padding-bottom: 8px;
}
.topnav li .drop:hover {
    border-top: 1px solid #797979;
    padding: 10px 20px 8px 20px;
}
.topnav li .drop.active:hover {
    padding-bottom: 8px;
}

.topnav .right {
    float: right;
    margin-right: 0;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:0 auto;
    display: none;
    float:left;
    position:absolute;
    text-align:left;
    padding:20px 20px 20px 20px;
    border:1px solid #777777;
    border-top:none;
    background:#fff;
    z-index: 10;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 950px;}
.dropdown_5columns {width: 928px; z-index: 16;} /* make full width of nav (992px), x + 20px padding each side + 1px borders on each side */

.topnav li .drop.active.gray-bg, .dropdown_5columns.gray-bg {
    background-color: #EFEFEF;
}

.topnav li.about .dropdown_5columns {
    left:-1px;
    top:auto;
}
.topnav li.admissions .dropdown_5columns {
    left:-81px;
    top:auto;
}
.topnav li.academics .dropdown_5columns {
    left:-198px;
    top:auto;
}
.topnav li.experiential .dropdown_5columns {
    left:-309px;
    top:auto;
}
.topnav li.global .dropdown_5columns {
    left:-497px;
    top:auto;
}
.topnav li.research .dropdown_5columns {
    left:-585px;
    top:auto;
}
.topnav li.regional .dropdown_5columns {
    left:-690px;
    top:auto;
}
.topnav li.athletics .dropdown_5columns {
    right:-1px;
    top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 0;
    margin-right: 25px;
}
.col_1 {width:126px;}
.col_2 {width:270px;}
.col_3 {width:490px; margin-right: 135px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

.topnav .menu_right {
    float:right;
    margin-right:0px;
}
.topnav li .align_right {
    /* Rounded Corners 
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;*/
}

.topnav li .align_right {
    left:auto;
    right:-2px;
    top:auto;
}

.topnav h2, .topnav h3, .topnav ul li {
    font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    /*text-shadow: 1px 1px 1px #FFFFFF;*/
}
.topnav p {
    font-family: "HelveticaNeueW01-55Roma", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}
.topnav h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
.topnav h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
.topnav p {
    color: #333;
    line-height:18px;
    margin:0 0 10px 0;
    padding: 0;
}

.topnav li div li {
    height: auto;
}

.topnav li div a {
    color:#333;
    cursor: pointer;
    font-size:15px;
}
.topnav li div a:hover {
    color:#C00;
}


.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

.imgshadow { /* Better style on light background */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}

.topnav li .black_box {
    background-color:#333333;
    color: #eeeeee;
    /*text-shadow: 1px 1px 1px #000;*/
    padding:4px 6px 4px 6px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}

.topnav li ul {
    list-style:none;
    padding:0;
    margin: 3px 0 12px 0 !important;
}
.topnav li ul li {
    border: none;
    font-size:12px;
    height: auto;
    line-height:15px;
    position:relative;
    /*text-shadow: 1px 1px 1px #ffffff;*/
    padding:0;
    margin:0 0 12px 0;
    float:none;
    text-align:left;
    width:130px;
}
.topnav li ul li:hover {
    background:none;
    border:none;
    height: auto;
    padding:0;
    margin:0 0 12px 0;
}

.topnav li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.topnav li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}

.floatleft {clear: both; float: left;}
.floatright {clear: both; float: right;}

@media only screen and (min-width: 768px) and (max-width: 991px) {

#nav-primary ul {
    margin-left: -10px;
}

.topnav {
    height: 36px;
    width: 748px;
}

.topnav p {
    font-size: 12px;
}
.topnav li {
    padding: 0;
}
.topnav li .drop {
   padding: 10px 10px 10px 10px;
}
.topnav li .drop:hover {
    padding: 10px 10px 10px 10px;
}

#nav-primary .topnav  .dropdown_5columns li a {
    font-size: 12px;
}

.dropdown_5columns {
    margin-top: 0;
    width: 687px;
    z-index: 16;
}

.col_3 {
    margin-right: 95px;
    width: 320px;
}

.topnav li.about .dropdown_5columns {
    left:-1px;
    top:auto;
}
.topnav li.admissions .dropdown_5columns {
    left:-57px;
    top:auto;
}
.topnav li.academics .dropdown_5columns {
    left:-144px;
    top:auto;
}
.topnav li.experiential .dropdown_5columns {
    left:-227px;
    top:auto;
}
.topnav li.global .dropdown_5columns {
    left:-305px;
    top:auto;
}
.topnav li.research .dropdown_5columns {
    left:-434px;
    top:auto;
}
.topnav li.regional .dropdown_5columns {
    left:-511px;
    top:auto;
}
.topnav li.athletics .dropdown_5columns {
    right:-1px;
    top:auto;
}

}