* {
    margin: 0;
    padding: 0;
}
/*
CODE FOR FOOTER AT BOTTOM OF PAGE UNDO MARKER
*/

html, body {
    height: 100%;
}
#holder{
    min-height: 100%;
    /*position:relative; this is unnecessary due to additon of #inner-wrap and #outer-wrap for mobile nav*/
}
#outer-wrap {
    min-height: 100%;
    position: relative;
}
#body{
    width: 100%;
    padding-bottom: 92px;    /* height of footer */
}

ul.privacy {
    list-style: disc;
}
.wrapper, .container {
    max-width: 998px;
    width: 998px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

#body .wrapper {
    padding-bottom: 20px;
}

nav ul.usernav {
    line-height: 1.5em;
}

body {
    background: #5A5A5A url('../images/body-bg.png') repeat left top;
    font-size: 1.0em;
}

a, a:link, a:hover, a:visited {
    color: #cc0000;
    text-deocration: none;
}

h1, h2, h3, h4, h5, h6 { /* this is an html5styles override */
    letter-spacing: normal;
    margin: 0 0 1.0em 0;
    padding: 0;
    color: #666;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

/* Header */

header {
    background-color: #FFF;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

/* Logo - Uses image replacement technique*/

#logo {
    position: relative;
    width: 401px;
    height: 60px;
    padding: 50px 0 10px 0;   
}

#menu-button {
    display: none;
}

/* Search Form - magnifying glass icon */

.nav-search input#s, .nav-search input#s-mobile {
    width:20px;
    background-color:transparent;
    border:1px solid #FFF;
    -moz-transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
    background-image:url('https://www.northeastern.edu/images/search.png');
    background-repeat:no-repeat;
    background-position:center left
}

.nav-search input#s:hover, .nav-search input#s-mobile:hover {width:180px;background-color:#FFF;border:1px solid #ccc;padding-left:33px}


.nav-search input#s:focus, .nav-search input#s:active, .nav-search input#s-mobile:focus, .nav-search input#s-mobile:active{
    width:180px;
    background-color:#FFF;
    padding-left:33px;
    border:1px solid #666;
    background-color:#FFF;
    box-shadow:0 0 4px #E4E4E4 inset;
}


label {
    display: none;
}
.assistive-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.nav-search {
    position:absolute;
    top: 60px;
    right: 0;
    margin: 0;
}

#searchForm input#s:hover, #searchForm input#s-mobile:hover {
    width:180px;
    background-color:#FFF;
    border:1px solid #ccc;
    padding-left:33px
}

.nav-search input#s:focus, .nav-search input#s:active, .nav-search input#s-mobile:focus, .nav-search input#s-mobile:active {
    width:180px;
    background-color:#FFF;
    padding-left:33px;
    border:1px solid #666;
    background-color:#FFF;
    box-shadow:0 0 4px #E4E4E4 inset;
}

input[type="text"], textarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
}

input[type="text"] {
    padding: 3px;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button, input {
    line-height: normal;
}

#searchsubmit {
    display: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FAFAFA 60%, #E6E6E6 100%) repeat scroll 0 0 transparent;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 1px #FFFFFF inset;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1.12em 1.5em 0.88em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button, input {
    line-height: normal;
}

#nav-primary{
    width: 100%;
    float: none; /* override html5styles */
    background-color: #353535;
}

nav {
    background-color: #353535;
    float: none;
}

#nav-primary ul { /*override html5styles */
    margin: 0 0 0 -18px;
}

#nav-primary ul a { /* this can go in html5styles or fancydropdown */
    font-size: 16px;
}

#nav-primary ul ul { /* this can go in html5styles */
    margin: 0;
}

/* MOBILE NAV */
#nav {
    display: none;
}

/* TOP MODULE */

#module {
    overflow: hidden;
    position: relative;
    width: 100%;
    line-height: 0.7em;
}

#body .slides {
    margin-left: 0;
}

#body #module .wrapper {
    position: relative;
    padding-bottom: 0;
}

#body #main-content p, #body #main-content ul, #body #main-content ol {
    font-family: "HelveticaNeueW01-55Roma",helvetica,arial,verdana,sans-serif;
    font-size: 14px;
    line-height: 130%;
    margin: 0 0 0.5em;
}

#body #main-content ul, #body #main-content ol {
    color: #333;
    margin-left: 15px;
}

#body #main-content li {
    margin-bottom: 0.2em;
}

#module #slideshow img {
    height: auto;
    width: 100%;
    position: relative;
}

#module .news-box {
    background: transparent url('../images/news-bg.png') repeat top left;
    bottom: 100px;
    min-height: 154px;
    margin-top: 0;
    max-width: 300px;
    padding: 10px;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 3;
}

#module.background-video .news-box {
    margin-top: 0;
    max-width: 280px;
    min-height: 154px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 350px;
    width: auto;
    z-index: 9;
}

.news-box h2 {
    color: #FFF;
    font-family: "HelveticaNeueW01-55Roma";
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    margin: 0 0 10px 0;
    padding-right: 55px;
    text-transform: none;
}

#module.background-video .news-box h2 {
    padding-right: 0; /* don't need padding because the dots for the slideshow are gone */
}

.news-box h2 a {
    color: #FFF;
}

.news-box .read-more {
    background-color: #FFF;
    color: #4C4C4C;
    display: inline;
    font-weight: bold;
    padding: 0 5px 3px 5px;
    line-height: 100%;
    width: auto;
}

.news-box .read-more a {
    color: #4C4C4C;
    font-weight: bold;
    text-decoration: none;
}

.news-box .read-more a:hover, .news-box .read-more a:active  {
    color: #C00;
}

#module .flex-control-paging {
    background-color: transparent;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    right: 7px;
    top: -267px;
    width: 69px;
    z-index: 15;
}

#bottom {
    margin-top: 0;
}

.news-box p {
    color: #FFF;
    margin: 0 0 10px 0;
    padding: 0;
}

.news-box .read-more {
    font-weight: bold;
    padding: 2px 5px 3px 5px;
    line-height: 100%;
}

#video-container {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 9;
}

#bg-video {
    height: auto;
    width: 100%;
}

.background-video {
    height: 720px;
    position: relative;
    width: 100%;
}

.background-video.fixed {
    background-color: #F3EFF4;
    height: 452px !important;
}

.background-video.fixed #bg-video {
    display: block;
    height: 452px !important;
    margin: 0 auto;
    width: 1024px;
}

/* usernav */

#usernav {
    margin-top: -15px;
    position: relative;
    z-index: 10;
}

#body #usernav .wrapper {
    background-color: #FFF;
    padding-bottom: 0;
}

#usernav-container {
    -moz-box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
}

#usernav ul {
    background-color: #FFF;
    display: table;
    list-style: none outside none;
    margin: 0 auto;
    padding: 12px 0;
    position: relative;
}

#usernav ul li {
    float: left;
    border-right: 1px solid #343434;
    margin-right: 10px;
}

#usernav ul li:last-child {
    border-right: 0;
}

#usernav ul li span {
    cursor: pointer;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    padding-right: 10px;
    text-transform: uppercase;
}

#usernav ul li a:link, #usernav ul li a:visited {
    color: #343434;
}

#usernav ul li span:hover, #usernav ul li span:active {
    color: #C00;
    text-decoration: none;
}

#usernav ul li span.active:link, #usernav ul li span.active:visited, #usernav ul li span.active:hover, #usernav ul li span.active:active {
    color: #C00;
}

#bottom {
    margin: 18px auto 0 auto;
    max-width: 998px;
    width: 998px;
}

#news-events-box {
    float: left;
    line-height: 80%;
    position :relative;
    width: 678px;
}

#news-events-headings {
    height: 50px;
    width: 100%;
    cursor: pointer;
}

#news-events-headings h2, #usernav-header {
    color: #EFEFEF;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    letter-spacing: 0.07em;
    line-height: 1.0em;
    cursor: pointer;
}

#news-events-headings h2 a, #news-events-headings h2 a:link, #news-events-headings h2 a:visited,
#news-events-headings h2 a:hover, #news-events-headings h2 a:active {
    color: #EFEFEF;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    cursor: pointer;
}

#mobile-experts-news {
    display: none;
}

#news-events-headings.news-events-headings-shift h2 {
    color: #9B9B9B;
    cursor: pointer;
}

.news-events-headings-shift {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

#news-header, #events-header, #usernav-header {
    display: inline;
    float: left;
    font-size: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

#news-header, #events-header {
    cursor: pointer;
}

#usernav-header {
    border-right: 1px solid #9B9B9B;
    padding-right: 20px;
}

#news-header {
    width: 51.7%;
}

h2.news-shift {
    float: right;
    margin-right: 6px;
    width: auto;
}

h2.news-shift:after {
    content: " &";
}

#events-header {
    float: left;
    margin-right: 0;
    width: 48%;
}

#news-header.news-shift, #events-header.events-shift {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 9px;
    cursor: pointer;
}

#news-events-headings h2.news-shift, #news-events-headings h2.events-shift {
    width: auto;
    cursor: pointer;
}

#back-to {
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
    cursor: pointer;
}

#news-events-content-holder {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#news-events-content {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.news-events h3 {
    color: #2F2F2F;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    font-size: 22px;
    height: 45px;
    line-height: 1.1em;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
    text-transform: none;   
    cursor: pointer;
}

.news-events p {
    color: #2F2F2F;
    margin: 0 0 12px 0;
    padding: 0;
}

#news-events-content-holder .news-events .left-column img {
    width: 330px;
}

#news-events-content-holder .news-events img.play {
     height: 66px;
     left: 141px;
     position: absolute;
     top: 87px;
     width: 58px;
}

#news-menu {
    color: #FFF;
    font-size: 16px;
    line-height: 0.8em;
    margin-bottom: 20px;
    padding: 0;
    text-transform: capitalize;
}

#news-menu a {
    color: #FFF;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
}

#future-students-content {
    display: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#news-events-content-holder .hide {
    display: none;
    /*height: 0;*/
}

#news-events-content-holder .show {
    display: block;
    /* height: auto; */
}

#news-events-content-holder .home-banner {
    margin-bottom: 15px;
}

.left-column {
    float: left;
    margin-right: 10px;
    min-height: 915px;
    padding-right: 10px;
    width: 330px;
}

.left-column .mosaic-block {
    /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
    -webkit-transform: translate3d(0px,0px,0px); 
}

.usernav-info {
    background-color: #EFEFEF;
    padding: 10px;
}

.usernav-info p {
    color: #666;
    font-size: 14px;
}

.usernav-stripe-box {
    background-color: #EFEFEF;
    border-top: 4px solid #C50000;
    margin-bottom: 20px;
    padding: 15px;
}

.usernav-stripe-box h4 {
    font-size: 20px;
    letter-spacing: 0.07em;
    line-height: 100%;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.usernav-stripe-box ul {
    list-style-type: none;
}

.usernav-stripe-box ul li {
    line-height: 1.0em;
    padding: 6px 0;
}

.usernav-stripe-box ul li a {
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
}

.right-column {
    float: right;
    width: 327px;
}

#load {  
    display: none;  
    position: absolute;  
    right: 10px;  
    top: 50px;  
    background: url('../images/ajax-loader.gif');  
    width: 43px;  
    height: 11px;  
    text-indent: -9999em;  
}  

#sidebar {
    border-left: 1px dashed #EFEFEF;
    float: right;
    line-height: 0.8em;
    margin-top: 50px;
    padding-left: 10px;
    width: 298px;
}

#insolution-logo {
    border-bottom: 1px solid #EFEFEF;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 298px;
}

#sidebar h4 {
    color: #EFEFEF;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
    font-size: 24px;
    letter-spacing: 0.07em;
    line-height: 1em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#sidebar #colleges-list {
    border-bottom: 1px solid #EFEFEF;
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#sidebar #colleges-list li {
    margin-bottom: 15px;
}

#sidebar #colleges-list li:last-child {
    margin-bottom: 0;
}

#sidebar #colleges-list a {
    color: #CFCFCF;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
}

#connect-menu {
    color: #FFF;
    display: table;
    font-size: 16px;
    line-height: 0.8em;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    text-transform: capitalize;
}

#connect-menu li {
    border-right: 2px solid #FFF;
    float: left;
    margin-right: 10px;
    padding: 3px 10px 3px 0;
    text-transform: uppercase;
}

#connect-menu li:last-child {
    border-right: 0;
}

#connect-menu a {
    color: #FFF;
    cursor: pointer;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
}

#connect-menu li a.selected {
    color: #C00;
}

#social-container {
    min-height: 250px; /* should probably cut images out of tweets because they can get cut off */
    overflow: hidden;
    position: relative;
    width: 300px;
}

#facebook-tab, #twitter-tab, #youtube-tab {
    display: block;
    left: 301px;
    top: 34px;
    width: 300px;
    z-index: 4;
    position: absolute;  
}

#social-container div.selected {
    left: 0;
    top: 34px;
    z-index: 5;
}

#social-container #twitter-tab, #social-container #youtube-tab  {
    
}

/* The wall post items */

#wall {
    width: 298px;
}

.facebookWall li{
    color: #EFEFEF;
    list-style: none;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
}

.facebookWall li:last-child {
    padding-bottom: 0;
}

/* The user/page avatar */

.facebookWall li img.avatar {
    float:left;
    height: 55px;
}

/* The user/page name */

.facebookWall h2  {
    font-size:16px;
    font-weight:normal;
    margin-bottom: 5px;
}

/* The .status div container */

.facebookWall .status {
    width:239px;
    min-height: 50px; /* img height */
    padding-left:59px;
}

.status a, .status a:link, .status a:visited, .status a:hover, .status a:active {
    color: #FFF;
}

/* Link share attachment */

.facebookWall .attachment {
    border-left: 1px solid #C4C4C4;
    font-size: 12px;
    margin-top: 14px;
    overflow: hidden;
    padding-left: 10px;
}

.facebookWall .attachment-data {
    display:table-cell;
    vertical-align:top;
}

.facebookWall img.picture {
    float:left;
    margin-right: 10px;
}

#body .facebookWall p {
    color: #FFF;
    margin: -2px 0 0 0; /* pull the top up a bit because of the line height */
    padding: 0;
}

.facebookWall p.meta {
    color: #BBBBBB;
    font-size: 11px;
    padding: 15px 0 0 65px;
}

.social-icons {
    display: none;
}

#social-media-button {
    background: transparent url('../images/hub.png') no-repeat right top;
    display: block;
    margin-top: 20px;
    width: 327px;
    height: 54px;
}

#social-media-button:hover {
    background: transparent url('../images/hub-x.png') no-repeat right top;
}

/*interior pages */
#homepage-content img {
    margin-bottom: 15px;
}

.news-content #left-column {
    background-color: #FFF;
    float: left;
    margin-right: 20px;
    padding: 15px 15px 0 15px;
    width: 297px;
}

.news-content #right-column {
    background-color: #FFF;
    float: right;
    padding: 15px 15px 0 15px;
    width: 297px;
}

#homepage-content #left-column p, #homepage-content #right-column p,
#homepage-content #left-column ul, #homepage-content #right-column ul {
    margin: 0 0 1.0em 0;
    padding: 0;
}

#homepage-content #left-column ul li, #homepage-content #right-column ul li {
    margin-bottom: 15px;
}

.news-events .right-column .mobile-heading {
    display: none;
}

.news-events .right-column #featured-event {
    margin: 0 0 25px 0;
    width: 100%;
}

.news-events .right-column #featured-event img {
    margin: 0 0 5px 0;
}

.news-events .right-column #featured-event .date-time {
    color: #FFF;
    float: left;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.06em;
    line-height: 1.0em;
    text-transform: uppercase;
    width: 45%;
}

.news-events .right-column #featured-event .event-title {
    font-size: 14px;
    letter-spacing: 0.06em;
    margin-left: 50%;
    min-height: 34px;
    width: 50%;
}

.news-events .right-column #featured-event .event-title a {
    color: #FFF;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    text-decoration: none;
}

.news-events .right-column #featured-event .event-title a:hover, .news-events .right-column #featured-event .event-title a:active {
    text-decoration: underline;
}

.news-events .right-column .event {
    background-color: #EFEFEF;
    border-top: 4px solid #C50000;
    margin-bottom: 20px;
    padding: 16px 20px;
}

.news-events .right-column .event .date-time {
    color: #636363;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.06em;
    line-height: 1.0em;
    text-transform: uppercase;
}

.news-events .right-column .event .event-title a {
    color: #636363;
    font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.news-events .right-column .event .event-title a:hover, .news-events .right-column .event .event-title a:active {
    color: #C00;
    text-decoration: none;
}

.news-events .right-column .event .event-info {
    color: #636363;
    font-size: 14px;
}

.news-events .right-column #featured-event .event-info {
    color: #CFCFCF;
    font-size: 14px;
}

.news-events .right-column #featured-event .event-info a, .news-events .right-column #featured-event .event-info a:link,
.news-events .right-column #featured-event .event-info a:visited, .news-events .right-column #featured-event .event-info a:hover,
.news-events .right-column #featured-event .event-info a:active {
    color: #FFF;
    font-size: 14px;
}

#events-calendar-button {
    background: transparent url('../images/events.png') no-repeat left top;
    display: block;
    height: 54px;
    overflow: hidden;
    width: 327px;
    cursor: pointer;
}

#events-calendar-button:hover {
    background: transparent url('../images/events-x.png') no-repeat left top;
    cursor: pointer;
}

#show-more-button {
    display: none;
}

.event.more {
    display: none;
}

.panel-container {
    display: none;
}

.panel-container .left-column, .panel-container .right-column {
    border: 0;
    min-height: 400px;
}

.usernav-affiliation, #future-students, #current-students, #alumni, #parents, #faculty-staff, #prospective-faculty, #coop-employers, #employer-partners {
    background-color: transparent;
}

#adblock-alert {
    background-color: #EFEFEF;
    display: none;
    padding: 10px;
}

/*********************************
* LEFT COLUMN                    *
*********************************/

#leftcolumn {
    float: left;
    width: 595px;
    background-image: none;
}

#leftcolumn h2 {
    background-color: #FFF;
    color: #C00;
    text-transform: uppercase;
    height: auto;
    font-size: 24px; /* override html5styles */
    line-height: 1.0em; /* override html5styles */
    margin: 0 0 1.0em 0; /* override html5styles */
    padding: 0; /* override html5styles */
}

#leftcolumn h3 {
    font-size: 18px;
    color: #353535;
    padding: 0;
    text-transform: uppercase;
}

#leftcolumn h4 {
    font-size: 16px;
    color: #353535;
    padding: 0;
    text-transform: none;
}

#leftcolumn h5 {
    font-size: 14px;
    color: #353535;
    padding: 0;
    text-transform: none;
}

#leftcolumn h6 {
    font-size: 12px;
    color: #353535;
    padding: 0;
    text-transform: none;
}

#leftcolumn p { /* override html5styles */
    padding: 0;
    margin: 0 0 1.2em 0;
}

#leftcolumn ul {
    color: #333;
    margin: -1.0em 0 1em 1.2em;
    padding: 0;
}

#leftcolumn ul li {
    font-size: 13px;
    margin: 0.5em 0;
}

#leftcolumn iframe {
    width: 575px;
    height: 335px;
    padding: 0 10px;
}

/************************
* EMPOWER TAB           *
************************/

#empower-tab {
    background-color: #FFF;
    position:absolute;
    right: 0;
    z-index: 20;
}

#empower-tab .hide {
    display: none;
}

#empower-tab img {
  float: left;
  margin: 0;
}

#empower-text {
    line-height: 0.6em;
}

#empower-text a {
    color: #333;
    text-decoration: none;
}

#empower-image {
    background-image: url('../images/empower-tab-bottom.png');
    cursor: pointer;
    float: left;
    height: 50px;
    width: 200px;
}

#empower-arrow {
    cursor: pointer;
    float: right;
    height: 34px;
    width: 47px;
}

/**********
* ALERT   *
/*********/

#alert {
    background-color: #FEAE00;
    padding: 28px 0 34px 0;
}

#alert p, #alert strong {
    font-family: 'HelveticaNeueW01-57Cn',Helvetica,Verdana,Arial,sans-serif;
    font-size: 14px;
}

.alert-large {
    font-family: 'HelveticaNeueW01-57Cn',Helvetica,Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#alert strong a, #alert strong a:link, #alert strong a:visited, #alert strong a:hover, strong a:active {
    font-family: 'HelveticaNeueW01-57Cn',Helvetica,Verdana,Arial,sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

/************************
* FOOTER                *
************************/
footer {
    clear:both;
    width: 100%;
    height: 52px;
    color: #FFF;
    letter-spacing: 0.03em;
    padding: 20px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #636363;
}


footer .wrapper {
    height: 30px;
    margin: 0 auto;
}

footer a.logo {
    background: url("https://www.northeastern.edu/neuhome/images/logo-footer.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: left;
    font-family: Georgia,Times,Arial,serif;
    font-size: 18px;
    height: 17px;
    margin-right: 20px;
    padding: 0;
    text-decoration: none;
    width: 173px;
}

.info {
    display: inline;
    float: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0 0 10px 170px;
    color: #CCC;
}

footer .info a:link, footer .contact {
    font-family: Arial,Verdana,Sans-Serif !important;
}

.info li {
    float: left;
    margin-right: 10px;
}

.info li:after {
    content: "\00b7";
}

.info li:last-child:after {
    content: "";
    margin-right: 0;
    padding-right: 0;
}

footer .info a {
    margin-right: 10px;
}

footer .info a:link, footer .info a:visited {
    color: #FFF;
    text-decoration: none;
}
    
footer .info a:hover, footer .info a:active {
    color: #CCC;
    text-decoration: underline;
}

footer .contact {
    clear: both;
    font-size: 100%;
    line-height: 1.4em;
    height: auto;
    margin: 0 0 0 363px;
    padding: 0;
    color: #CCC;
}    
footer a:link, footer a:visited {
    color: #FFF;
    text-decoration: none;
}

footer a:hover {
    color: #FFF;
    text-decoration: underline;
}
    
footer p {
    margin-bottom: 10px;
    line-height: 100%;
    color: #FFF;
}

/* SECOND LEVEL PAGES */

#left-navigation {
    background-color: #FFF;
    float: left;
    margin-right: 20px;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    width: 260px;
    z-index: 15;
}

#navigation-heading {
    color: #333;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
    font-size: 24px;
    letter-spacing: 0.07em;
    line-height: 1em;
    margin-bottom: 15px;
}

#left-navigation ul {
    font-size: 18px;
    list-style-type: none;
}

#left-navigation ul li {
    margin-bottom: 10px;
}

#left-navigation ul li:last-child {
    margin-bottom: 0;
}

#left-navigation ul a {
    color: #333;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
}

#left-navigation ul a.active {
    color: #C00;
}

#left-navigation ul li.active a, #left-navigation ul li.active ul li.active a  {
    color: #C00;
}

#left-navigation ul li ul {
    margin: 10px 0 0 20px;
}

#left-navigation ul li.active ul li a {
    color: #333;
}

#mobile-left-navigation {
    display: none;
}

#main-column {
    float: left;
    margin: 0;
    padding: 0;
    width: 678px;
}

#main-content h1 { font-size: 22px; }
#main-content h2 { font-size: 20px; }
#main-content h3 { font-size: 18px; }
#main-content h4 { font-size: 16px; }
#main-content h5 { font-size: 15px; }
#main-content h6 { font-size: 14px; }

#main-column-wide {
    width: 998px;
}

#interior-heading {
    color: #EFEFEF;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
    font-size: 32px;
    letter-spacing: 0.07em;
    line-height: 1em;
    margin-bottom: 18px;
    max-width: 638px;
    width: 100%;
}

#main-column-wide #interior-heading {
    max-width: 998px;
    width: 92%;
}

#main-content {
    background-color: #FFF;
    margin: 0;
    padding: 18px 20px 20px 20px; /* less padding on top to account for line-height in paragraph */
    width: 638px;
}

#main-column-wide #main-content {
    width: 958px;
}

#main-column-wide iframe {
    border: 0;
    width: 958px;
    height: 539px;
}

#campus-map iframe {
    border: 0 none;
    height: 100% !important;
    width: 958px;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6,
#main-content h1 a, #main-content h2 a, #main-content h3 a, #main-content h4 a, #main-content h5 a, #main-content h6 a {
    font-family: "HelveticaNeueW01-75Bold",helvetica,arial,verdana,sans-serif;
    margin-bottom: 0.5em;
}

#main-content p {
    padding: 0;
}

#main-content table {
    width: 96%;
}

table th, table td {
    font-size: 0.8em;
}

#main-content button, #main-content input[type="submit"], #main-content input[type="reset"]  {
    font-size: 1.0em;
    padding: 5px;
}

#body #main-content #colleges-schools ul {
    margin: 20px 0 0 0;
}
                        
#colleges-schools li {
clear: both;
list-style-type: none;
margin-bottom: 20px;
min-height: 75px;
}
                        
#colleges-schools img {
    clear: left;
    float: left;
    margin: 0 10px 20px 0;
}

#colleges-schools h3 {
    font-size: 18px;
    line-height: 1.0em;
    margin-bottom: 12px;
    text-transform: none;
}

#body #main-content #colleges-schools li p {
    font-size: 12px;
}

/* org chart styles */

#bottom-full-width {
    margin-top: 18px;
}

#bottom-full-width #main-column {
    width: 100%;
}

#bottom-full-width #main-column .wrapper {
    padding-bottom: 0;
}

#bottom-full-width #main-column #main-content {
    background-color: #FFF;
    height: 1400px;
    padding: 0;
    width: 100%;
}

#bottom-full-width #main-column #main-content #Administration {
    margin: 0 auto;
    padding: 0 20px;
    width: 1504px;
}

#right-sidebar{
    background-color: #FFF;
    float: right;
    margin-left: 20px;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    width: 260px;
    z-index: 15;
}

#sidebar-heading {
    color: #333;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
    font-size: 24px;
    letter-spacing: 0.07em;
    line-height: 1em;
    margin-bottom: 15px;
}

/* affiliation pages */

#main-content #homepage-content img {
    width: 638px;
}

#main-content #homepage-content .left-column {
    min-height: 100px;
    width: 309px;
}

#main-content #homepage-content .right-column {
    width: 309px;
}

.back-to-home { display: none; }

#feedback { background-color: #1E1E1E; padding: 12px 0; width: 100%; }
#body #feedback .wrapper { padding-bottom: 0; }
#feedback p { color: #C5C5C5; }
#feedback p a, #feedback p a:link, feedback p a:visited, #feedback p a:hover, #feedback p a:active { color: #FFF; }

/* campus map */
#icon {
    width: 33%;
    float: left;
}
#clear {
    clear: both;}

/****************************************************************************************************************************
* LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 LAYOUT #2 *
****************************************************************************************************************************/ 

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
.wrapper, .container {
    max-width: 728px;
    padding: 0 20px;
    width: 728px;
}

#empower-tab {
    right: 20px;
}

.nav-search {
    right: 20px;
}

#nav-primary ul { /* in menu.css */
    margin-left: -10px;
}

#usernav ul li span {
    font-size: .83em;
}

.topnav {
    width: 748px;
}

.topnav li { /* in menu.css */
    padding: 10px 10px 9px 10px;
}

#nav-primary ul a {
    font-size: 14px;
}

nav ul.usernav {
    text-align: left;
}

.background-video {
    height: 557px;
}

.background-video.fixed {
    background-size: contain !important;
    height: 338px !important;
    width: 100% !important;
}

.background-video.fixed video {
    width: 768px !important;
}

.background-video.fixed #bg-video {
    height: 338px !important;
}

#module .news-box {
    bottom: 35px;
    max-width: 300px;
    min-height: 104px;
    right: 20px;
}

#module .flex-control-paging {
    right: 30px;
    top: -147px;
}

.news-box h2 {
    font-size: 16px;
}

#body .news-box p {
    font-size: 12px;
}

#usernav {
    margin: -15px auto 0 auto;
    width: 728px;
}

#body #usernav .wrapper {
    padding: 0;
    width: 768px;
}

#usernav ul {
    padding: 10px 0;
    width: 728px;
}

#usernav ul li {
    margin-right: 7px;
}

#usernav ul li:first-child {
    margin-left: 11px;
}

#usernav ul li:last-child {
    margin-right: 0;
}

#usernav ul li a {
    font-size: 14px;
    padding-right: 7px;
}

#bottom {
    width: 100%;
}

#news-events-box {
    width: 494px;
}

#news-events-headings {
    height: 34px;
}

#news-header, #events-header, #usernav-header {
    font-size: 24px;
}

#usernav-header {
    padding-right: 10px;
}

#news-header {
    width: 52.7%;
}

#events-header {
    width: 47%;
}

.news-events-headings-shift {
    margin-left: 10px;
}

#news-header.news-shift, #events-header.events-shift {
    font-size: 14px;
}

.left-column {
    width: 241px;
}

#body #news-menu {
    font-size: 11px;
}

.news-events h3 {
    font-size: 16px;
    height: 33px;
    margin-bottom: 10px;
}

#news-events-content-holder .news-events .left-column img {
    width: 242px;
    height: 180px;
}

#news-events-content-holder .news-events .left-column img.play {
     height: 66px;
     left: 102px;
     top: 55px;
     width: 58px;
}

#body .news-events .details p {
    font-size: 12px;
}

.right-column {
    width: 233px;
}

.news-events .right-column #featured-event .event-title {
    margin-left: 50%;
}

.news-events .right-column #featured-event .date-time {
    font-size: 16px;
    width: 49%;
}

.news-events .right-column #featured-event .event-title {
    font-size: 12px;
}

.news-events .right-column #featured-event img {
    width: 100%;
}

#body .event p {
    font-size: 12px;
}

.news-events .right-column .event .event-title a {
    font-size: 12px;
}

#events-calendar-button {
    background: transparent url('../images/events233x38.png') no-repeat left top;
    height: 38px;
    width: 233px;
}

#events-calendar-button:hover {
    background: transparent url('../images/events-x233x38.png') no-repeat left top;
}

#sidebar {
    margin-top: 44px;
    width: 212px;
}
 
#insolution-logo {
    height: auto;
    width: 212px;
}

#sidebar #colleges-list {
    font-size: 14px;
}

#social-container {
    /*min-height: 374px;*/
    width: 212px;
}

#connect-menu {
    font-size: 14px;
}

#connect-menu li:last-child {
    margin-right: 0;
    padding-right: 0;
}

#wall {
    width: 212px;
}

.facebookWall li img.avatar {
    width: 45px;
    height: 45px;
}

#body #wall p {
    font-size: 11px;
}

.facebookWall .status {
    min-height: 45px;
    padding-left: 50px;
    width: 162px;
}

#twitter-tab iframe {
    width: 212px !important;
}

#social-media-button {
    background: url("../images/hub212x35.png") no-repeat scroll right top transparent;
    height: 35px;
    width: 212px;
}

#social-media-button:hover {
    background: url("../images/hub-x212x35.png") no-repeat scroll right top transparent;
}

#leftcolumn {
    width: 480px;
}

footer {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

footer a.logo {
    font-size: 14px;
    margin-right: 20px;
    padding: 0;
    text-decoration: none;
}

.info {
    font-size: 9px;
    padding-top: 5px;
    margin-left: 90px;
}

.info li {
    margin-right: 5px;
}

footer .info a {
    margin-right: 5px;
}

footer .contact {
    margin-left: 283px;
}

.contact {
    font-size: 10px;
}

/* SECOND LEVEL PAGES */

#left-navigation {
    width: 155px;
}

#main-column {
    width: 513px;
}

#main-column-wide {
    width: 728px;
}

#main-content {
    width: 473px;
}

#main-content img {
    max-width: 473px;
    height: auto;
}

#main-content iframe, #main-content object {
    height: 266px !important;
    width: 473px !important;
}

#main-content #videostream iframe, #main-content #videostream object {
    height: 500px !important;
    width: 656px !important;
}

#main-column-wide #main-content {
    width: 688px;
}

#main-column-wide #main-content img {
   max-width: 688px;
   height: auto;
}

#main-column-wide iframe {
    border: 0;
    width: 688px !important;
    height: 387px !important;
}

#campus-map iframe {
    border: 0;
    height: 100% !important;
    width: 688px !important;
}

#right-sidebar{
    width: 155px;
}

/* affiliation pages */

#main-content #homepage-content .left-column {
    min-height: 100px;
    width: 473px;
}

#main-content #homepage-content .right-column {
    margin-top: 20px;
    min-height: 100px;
    width: 473px;
}

/* campus map */
#icon {
    width: 33%;
    float: left;
    font-size: 80%;
}

}

/*************************************************************************************************************************
* LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 *LAYOUT #4 LAYOUT #4 LAYOUT #4 LAYOUT #4 *
*************************************************************************************************************************/ 


/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

header {
    height: 45px;
}

#body {
    background-color: #333; /* must replace with image */
    clear: both;
    padding-bottom: 290px;
}

.wrapper {
    width: 87.5%;
    padding: 0 20px;
}

header .wrapper {
    padding: 0;
    width: 100%;
}

#empower-tab { /* only need to load empower js for non-mobile screens */
    display: none;
}

#menu-button {
    border-right: 1px solid #E1E1E1;
    display: inline;
    float: left;
    height: 45px;
    width: 39px;
}

#logo {
    background-color: #FFF;
    float: left;
    height: 23px;
    padding: 10px 0 10px 10px;
    width: 241px;
}

.logo {
    height: 23px;
    width: 241px;
}

.nav-search {
    display: none;
}

#nav-primary {
    display: none;
    position: relative;
}

#nav-primary ul {
    width: 300px;
}

#nav-primary ul ul {
    padding-right: 0;
}

nav {
    width: 300px;
    margin: 0 auto;
}

nav ul.usernav a, nav ul.usernav a:visited, nav ul.usernav a:link {
    margin: 3px 0;
}

.menu-button {
    z-index: 1;
    width: 280px;
}

div.menu-button img {
    float: right;
    margin: -45px 0px 0 0;
}

/* MOBILE NAV */
.mobile-nav-search {
    height: 36px; margin: -37px 0 0 50px; width: 210px;
}

.mobile-nav-search #s-mobile {
    height: 14px; width: 150px; font-size: 12px;
}

.mobile-nav-search .button {
    margin-left: 10px; position: absolute; top: 12px;
}

#module {
    margin-bottom: 20px;
}

#body #module #slideshow .wrapper {
    width: 100%;
}

#video-container {
    display: none;
}

.background-video {
    height: 269px;
}

.background-video.fixed {
    background-size: contain !important;
	height: 142px !important;
	width: 100% !important;
}

#module .news-box {
    bottom: 0;
    height: 60px;
    left: 0;
    min-height: 60px;
    padding: 10px 10px 10px 20px;
    width: 150px;
}

#module.background-video .news-box {
    min-height: 54px;
    top: 189px;
}

.news-box h2 {
    font-size: 13px;
    line-height: 140%;
    padding-right: 0;
}

.news-box h2 a {
    font-family: "HelveticaNeueW01-55Roma",helvetica,arial,verdana,sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
}

.news-box p, .news-box .read-more {
    display: none;
}

#module .flex-control-paging {
   display: none;
}

#usernav {
    display: none;
}

#bottom {
    max-width: 480px;
    width: 100%;
}

#bottom .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 87.5%;
}

#news-events-box {
    width: 100%;
}

#news-events-headings {
    height: auto;
}

#news-header {
    font-size: 24px;
    margin-bottom: 10px;
    width: auto;
}

#news-events-headings #events-header {
    display: none;
}

#news-events-headings #mobile-experts-news {
    display: inline;
    float: left;
    font-size: 12px;
    margin: 9px 0 0 10px;
}

#mobile-experts-news a, #mobile-experts-news a:link, #mobile-experts-news a:visited,
#mobile-experts-news a:hover, #mobile-experts-news a:active {
    color: #9B9B9B;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
    font-weight: normal;
}

.news-events {
    margin-right: 0;
    overflow: hidden;
    padding-right: 0;
    width: 100%;
}

.news-events h3 {
    font-size: 14px;
}

#news-events-content-holder .news-events .left-column img {
    width: 223px;
    height: 167px;
}

#news-menu {
    display: none;
}

.left-column {
    display: inline;
    float: left;
    margin: 0;
    min-height: 187px;
    padding: 0;
    width: 1000px;
}

#news-events-content-holder .news-events .left-column img.play {
    height: 58px;
    left: 91px;
    top: 50px;
    width: 66px;
}

.right-column {
    clear: left;
    float: left;
    width: 100%;
}

.news-events .right-column .mobile-heading {
    display: block;
    font-size: 24px;
    letter-spacing: 0.07em;
    line-height: 1em;
    margin-bottom: 10px;
}

.news-events .right-column .mobile-heading a, .news-events .right-column .mobile-heading a:link, .news-events .right-column .mobile-heading a:visited,
.news-events .right-column .mobile-heading a:hover, .news-events .right-column .mobile-heading a:active {
    color: #EFEFEF;
    font-family: "HelveticaNeueW01-57Cn",Helvetica,Verdana,Arial,sans-serif;
}

.news-events .right-column #featured-event {
    background-color: #EFEFEF;
    border-top: 4px solid #C50000;
    margin-bottom: 10px;
    padding: 3px 8px 1px 8px;
    width: 100%;
}

.right-column #featured-event img {
    display: none;
}

.news-events .right-column #featured-event .date-time {
    color: #636363;
    float: none;
    font-family: "HelveticaNeueW01-55Roma",helvetica,arial,verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.06em;
    line-height: 130%;
    text-transform: uppercase;
    width: 95%;    
}

#body .news-events p.date-time {
    font-size: 13px;
    margin-bottom: 0;
}

.news-events .right-column #featured-event .event-title {
    color: #636363;
    float: none;
    font-size: 13px;
    margin-left: 0;
    width: 95%;
}

.news-events .right-column .event {
    margin-bottom: 10px;
    padding: 3px 8px 1px 8px;
}

.news-events .right-column .event .event-title a {
    font-weight: normal;
}

.news-events .right-column #featured-event .event-title a {
    color: #636363;
}

#body .news-events p.event-title {
    font-size: 13px;
}

.news-events .right-column .event .event-info {
    display: none;
}

#news-events-content-holder .news-events #events-calendar-button {
   display: none;
    height: 54px;
    margin-bottom: 10px;
    width: 460px;
}

#show-more-button {
    background: transparent url('../images/show-more-events.png') no-repeat right top;
    display: block;
    height: 54px;
    width: 460px;
}

#show-more-button:hover {
    cursor: pointer;
}

#sidebar {
    border: 0;
    float: left;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

#sidebar h4 {
    margin-bottom: 10px;
}

#insolution-logo {
    border-bottom: 0;
    height: auto;
    padding-bottom: 0;
    width: 100%;
}

#colleges-heading, #colleges-list {
    display: none;
}

#social-container {
    display: none;
}

.social-icons {
    display: inline;
    float: left;
    margin: 0 0 0 0;
    width: 146px;
}

.social-icons img {
    margin-right: 15px;
}

#social-media-button {
    background: transparent url('../images/hub-mobile.png') no-repeat right top;
    float: right;
    height: 29px;
    margin: 0;
    width: 134px;
}

#social-media-button:hover {
    background: transparent url('../images/hub-mobile.png') no-repeat right top;
}

#left-navigation {
    width: 92%;
    padding: 5px 0;
}

#left-navigation ul li {
    border-bottom: none;
    display: inline;
    float: left;
    padding: 5px;
}

#left-navigation ul li:after {
    content: "\20\2022";
    color: #666;
}

#left-navigation ul li:last-child:after {
    content: "";
}

#left-navigation ul li a {
    padding: 10px 5px;
}

#mobile-left-navigation {
    background-color: #EFEFEF;
    clear: both;
    display: block;
    margin: 0;
    padding: 0 20px 20px 20px;
}

#mobile-left-navigation h3 {
    margin-bottom: 0;
}

#body #mobile-left-navigation ul {
    margin: 0;
    padding: 10px;
}

#mobile-left-navigation ul li {
    font-size: 14px;
    list-style-type: none;
    margin-bottom: 5px;
}

#mobile-left-navigation ul li a  {
    color: #333;
}

#mobile-left-navigation ul li.active a, #mobile-left-navigation ul li.active ul li.active a  {
    color: #C00;
}

#body #mobile-left-navigation ul li ul {
    margin: 5px 0 0 0;
    padding: 0 0 0 10px;
}

#mobile-left-navigation ul li.active ul li a {
    color: #333;
}

#leftcolumn {
    width: 87%;
    margin-top: 0;
}

#leftcolumn img {
    max-width: 100%;
    height: auto;
}

.template .description {
    width: 60%;
}

.social-media {
    float: left;
    margin: 20px 0;
    width: 100%;
}

.social-media li {
    margin-left: 0;
}

.info {
    clear: left;
    float: left;
    font-size: 10px;
    margin: 3px 0 0 0;
    width: 50%;
}

.info li:after {
    content: "";
}

.info li:after {
    content: "";
}

.info li {
    float: none;
    margin-right: 0;
    padding: 2px 0;
}

footer .info a {
    margin-right: 4px;
}

footer {
    height: 250px;
    margin-top: 0;
}

footer .wrapper {
    width: 87.5%;
    max-width: 440px;
}

footer .contact {
    margin: 20px 0
}

/* SECOND LEVEL PAGES */

#left-navigation {
    display: none;
}

#bottom {
    margin-top: 0;
}

#interior-page #bottom .wrapper {
    padding: 0;
    width: 100%;
}

#interior-heading {
    font-size: 24px;
    margin-bottom: 0;
    padding: 15px 5px 15px 20px;
    width: auto;
}

#main-column, #main-column-wide {
    background-color: #CCC;
    width: 100%;
}

#main-content, #main-column-wide #main-content {
    background-color: #EFEFEF;
    max-width: 440px;
    width: auto;
}


#main-content img {
    height: auto;
    max-width: 280px;
    width: 100%;
}

#main-content iframe, #main-content object {
    height: 135px !important;
    width: 240px !important;
}

#campus-map iframe {
    height: 100% !important;
    width: 240px !important;
}

#main-content #videostream iframe, #main-content #videostream object {
    height: 247px !important;
    width: 240px !important;
}

#main-content p {
    font-size: 12px;
}

#colleges-schools h3 {
    font-size: 12px;
    line-height: 1.0em;
    margin-bottom: 2px;
}

#colleges-schools img {
    height: auto;
    margin: 0 10px 5px 0;
    width: 104px;
}

#body #main-content #colleges-schools li {
    margin-bottom: 20px;
}

#right-sidebar {
    float: left;
    margin: 10px auto 0 auto;
    padding: 20px;
    width: auto;
}

table {
    margin: 10px 0;
    width: 100%;
}

table th, table td {
    font-size: 0.65em;
}

/* affiliation pages */

#main-content #homepage-content img {
    max-width: 460px;
    width: 100%;
}

#main-content #homepage-content .left-column {
    min-height: 100px;
    width: 100%;
}

#main-content #homepage-content .left-column .usernav-info {
    padding: 0;
}

#main-content #homepage-content .right-column {
    margin-top: 20px;
    min-height: 100px;
    width: 100%;
}

#main-content #homepage-content .right-column .usernav-stripe-box {
    padding: 15px 0;
}

.back-to-home { display: block; }

/* campus map */
#icon {
    width: 99%;
    float: none;
	font-size: 60%;
}

div#maps #icon img, div#maps p b img {
	width: 22px;
	height: 22px;}

}

/*************************************************************************************************************************
* LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 LAYOUT #3 *
*************************************************************************************************************************/ 

/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
#body {
    padding-bottom: 125px;
}

/*
NEEDED TO TAKE OUT FOR EVENTS TO FIT CORRECTLY ON PAGE
.wrapper {
    width: 460px;
    padding: 0 10px;
}*/ 

header {
    padding: 0;
}

nav {
    width: 460px;
    margin: 0 auto;
}

#nav-primary ul {
    width: 460px;
}

.menu-button {
    width: 440px;
    
}

div.menu-button img {
    float: right;
}

.background-video {
    height: 431px;
}

.background-video.fixed {
    background-size: contain !important;
	height: 213px !important;
	width: 100% !important;
}

#module.background-video .news-box {
    top: 351px;
}

h2, h3 {
    font-size: 15px;
}

.template .description {
    width: 74%;
}

footer {
    width: 100%;
    height: 85px;
    margin: 0 auto;
    font-size: 10px;
    text-align: left;
    vertical-align: middle;
}

footer .wrapper {
    padding: 5px 20px;
}

footer a.logo {
    font-size: 14px;
    margin-right: 20px;
    padding: 0;
    text-decoration: none;
}

.info {
    clear: left;
    width: 82%;
    font-size: 9px;
    margin-top: 3px;
}

.info li {
    float: left;
    margin-right: 4px;
}

.info li:after {
    content: "\20\00b7";
}

.info li:last-child:after {
    content: "";
    margin-right: 0;
    padding-right: 0;
}


.social-media {
    width: 17%;
    margin-top: -17px;
}

.contact {
    margin-left: 0;
}

#main-content img {
    max-width: 380px;
    height: auto;
}

#main-content iframe, #main-content object {
    height: 214px !important;
    width: 380px !important;
}

#campus-map iframe {
    height: 100% !important;
    width: 380px !important;
}

#main-content #videostream iframe, #main-content #videostream object {
    height: 391px !important;
    width: 380px !important;
}

#right-sidebar {
    float: left;
    margin: 10px auto 0 auto;
    padding: 20px;
    width: 380px;
}


/* affiliation pages */

#main-content #homepage-content img {
    width: 380px;
}

#main-content #homepage-content .left-column {
    width: 380px;
}

#main-content #homepage-content .left-column {
    width: 380px;
}

#main-content #homepage-content .right-column {
    width: 380px;
}
    
}