.popcon , .popcon * {
	box-sizing:border-box;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}
.popcon {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	perspective: 1000px;
}
.popcon.show{
	opacity: 1;
	z-index: 99999;
}
.popcon .popbg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.5;
	background: #45484d;
	background: -moz-linear-gradient(-45deg,  #45484d 0%, #000000 100%);
	background: -webkit-linear-gradient(-45deg,  #45484d 0%,#000000 100%);
	background: linear-gradient(135deg,  #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}
.popcon .pop {
	max-width: 975px;
	max-height: 90%;
	background: #fff;
	padding: 30px;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	margin-top: 150px;
	overflow: auto;
	-webkit-transform:scale(0.98);
	-moz-transform:scale(0.98);
	-ms-transform:scale(0.98);
	-o-transform:scale(0.98);
	transform:scale(0.98);
}
.popcon.show .pop{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

.popcon.waiting .pop{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);

	opacity: 0.6;

	-webkit-transform:scale(0.8) rotateX(25deg);
	-moz-transform:scale(0.8) rotateX(25deg);
	-ms-transform:scale(0.8) rotateX(25deg);
	-o-transform:scale(0.8) rotateX(25deg);
	transform:scale(0.8) rotateX(25deg);
}

.popcon .pop.hide{
	opacity: 0;
	-webkit-transform:scale(0.98);
	-moz-transform:scale(0.98);
	-ms-transform:scale(0.98);
	-o-transform:scale(0.98);
	transform:scale(0.98);
}


@media (max-width:1000px){
	.popcon .pop {
		margin: 0 12px;
	}
}
.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/* DEL ALERT CSS */




#delAlert , #delAlert * {
	box-sizing:border-box;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
#delAlert {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
}
#delAlert.show{
	opacity: 1;
	z-index: 99999;
}
#delAlert .alertbg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.5;
	background: #45484d;
	background: -moz-linear-gradient(-45deg,  #45484d 0%, #000000 100%);
	background: -webkit-linear-gradient(-45deg,  #45484d 0%,#000000 100%);
	background: linear-gradient(135deg,  #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}
#delAlert .alert {
	max-width: 400px;
	max-height: 90%;
	/*background: #fff;*/
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	margin-top: 150px;
	overflow: auto;
	border:5px solid rgba(0,0,0,0.2);
	-webkit-transform:scale(0.98);
	-moz-transform:scale(0.98);
	-ms-transform:scale(0.98);
	-o-transform:scale(0.98);
	transform:scale(0.98);
}
#delAlert.show .alert{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}



#delAlert .alert .con {
	position: relative;
	overflow: auto;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#delAlert .alert .con .head {
	width: 100%;
	height: 40px;
	padding: 10px 10px 5px;
	background: #0076e8;
	border-bottom:1px solid #CECECE;
	color: #fff;
	line-height: 28px;
}

#delAlert .alert .con .msg {
	width: 100%;
	min-height: 100px;
	padding: 10px;
}

#delAlert .alert .con .btns {
	width: 100%;
	height: 40px;
	background: #EEEEEE;
	border-top:1px solid #CECECE;
	padding: 5px 10px 10px;
}

#delAlert .alert .con .btns button {
    padding: 3px 10px;
    line-height: 22px;
    border: 0px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 3px;

    background: #121212;
    color: #EEEEEE;
}

#delAlert .alert .con .btns button:hover {
	background: #0076e8;
    color: #FFF;

}


/* delicious loader */


.del_loader {
	display: block;
	margin: 0 auto;
	width:20px;
	height:20px;
	box-shadow: 0 0 50px rgba(255,255,255,1);
	background: rgba(255,255,255,0.2);
	transform: scale(0.8);
}

.del_loader div {
  height: 20px;
  width: 20px;
  position: absolute;
  transform: scale(0.7);
  opacity: 0;

}
.del_loader div:first-child:after,
.del_loader div:nth-child(2):after,
.del_loader div:nth-child(3):after,
.del_loader div:nth-child(4):after{
	content: "";
	width:20px;
	height: 20px;
	background: #FFFFFF;
	position: absolute;
	border-radius: 20% 20% 0 20%;
	left:-10px;
	top:-10px;

}

.del_loader div:nth-child(2):after{background: #2A96FF; left:10px; border-radius: 20% 20% 20% 0 ;}
.del_loader div:nth-child(3):after{background: #EEEEEE; left:10px; top:10px; border-radius: 0 20% 20% 20%}
.del_loader div:nth-child(4):after{background: #222222; top:10px; border-radius: 20% 0 20% 20%;}


.del_loader div:first-child {
  animation: move 1.4s ease-in-out infinite alternate;
}
.del_loader div:nth-child(2) {
  animation: move 1.4s ease-in-out 0.4s infinite alternate;
}
.del_loader div:nth-child(3) {
  animation: move 1.4s ease-in-out 0.8s infinite alternate;
}
.del_loader div:nth-child(4) {
  animation: move 1.4s ease-in-out 1.2s infinite alternate;
}

.del_loader.floatCenter{
	position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
}

@-webkit-keyframes move {
  0% {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0.4;
  }
  50% {
  	-webkit-transform: scale(1);
  	transform: scale(1);
    opacity: 1;
  }
  100% {
  	-webkit-transform: scale(0.7);
  	transform: scale(0.7);
    opacity: 0.4;
  }
}
@-moz-keyframes move {
  0% {
	-moz-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0.4;
  }
  50% {
  	-moz-transform: scale(1);
  	transform: scale(1);
    opacity: 1;
  }
  100% {
  	-moz-transform: scale(0.7);
  	transform: scale(0.7);
    opacity: 0.4;
  }
}
@-o-keyframes move {
  0% {
	-o-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0.4;
  }
  50% {
  	-o-transform: scale(1);
  	transform: scale(1);
    opacity: 1;
  }
  100% {
  	-o-transform: scale(0.7);
  	transform: scale(0.7);
    opacity: 0.4;
  }
}
@keyframes move {
  0% {
	transform: scale(0.7);
	opacity: 0.4;
  }
  50% {
  	transform: scale(1);
    opacity: 1;
  }
  100% {
  	transform: scale(0.7);
    opacity: 0.4;
  }
}

.hide{
	display: none;
}
/* tooltip css */
@-webkit-keyframes openAnimation{
    0%   {
        -webkit-transform:scale(0.5);
        opacity: 0;
        z-index: -1;
    }
    60% {
        -webkit-transform:scale(1.05);
        opacity: 1;
        z-index: 999999;
    }
    100% {
        -webkit-transform:scale(1);
        opacity: 1;
        z-index: 999999;
    }
}
keyframes openAnimation{
    0%   {
        transform:scale(0.5);
    	opacity: 0;
    	z-index: -1;
    }
    60% {
        transform:scale(1.05);
    	opacity: 1;
    	z-index: 999999;
    }
    100% {
        transform:scale(1);
    	opacity: 1;
    	z-index: 999999;
    }
}
@-webkit-keyframes closeAnimation{
    0%   {
        -webkit-transform:scale(1);
        opacity: 1;
        z-index: 999999;
    }
    60% {
        -webkit-transform:scale(1.05);
        opacity: 1;
        z-index: 999999;
    }
    100% {
        -webkit-transform:scale(0.5);
        opacity: 0;
        z-index: -1;
    }
}
keyframes closeAnimation {
    0%   {
        transform:scale(1);
    	opacity: 1;
    	z-index: 999999;
    }
    60% {
        transform:scale(1.05);
    	opacity: 1;
    	z-index: 999999;
    }
    100% {
    	transform:scale(0.5);
    	opacity: 0;
    	z-index: -1;
    }
}
.tooltip {
	position: absolute;
	border: 2px solid #000;
	top:-1000px;
	left: 0;
	padding: 6px;
	font-size: 12px;
	max-width: 300px;
	background: #2a2a2a;
	color:#fff;
	border-radius: 3px;
	animation:closeAnimation 0.3s;
	animation-fill-mode: forwards;
	-webkit-animation:closeAnimation 0.3s;
	-webkit-animation-fill-mode: forwards;
	z-index: 9999999;
}

.tooltip.show{
	animation:openAnimation 0.3s;
	animation-fill-mode: forwards;
	-webkit-animation:openAnimation 0.3s;
	-webkit-animation-fill-mode: forwards;
}
.tooltip.blur{
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}
.tooltip.show.antiAnimation{
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}

.tooltip .arrow, .tooltip .arrowBorder {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tooltip .arrow {border-color: rgba(136, 183, 213, 0);border-width: 7px;}
.tooltip .arrowBorder {border-color: rgba(194, 225, 245, 0);border-width: 9px;}

/*top --- */
.tooltip.top .arrow, .tooltip.top .arrowBorder {bottom: 100%;left: 15px;}
.tooltip.top .arrow {border-bottom-color: #2a2a2a;margin-left: -7px;}
.tooltip.top .arrowBorder {border-bottom-color: #000;	margin-left: -9px;}

/*right --*/
.tooltip.right .arrow, .tooltip.right .arrowBorder {left: 100%;	top: 50%;}
.tooltip.right .arrow {border-left-color: #2a2a2a;	margin-top: -7px;}
.tooltip.right .arrowBorder {border-left-color: #000;	margin-top: -9px;}
/*bottom --*/
.tooltip.bottom .arrow, .tooltip.bottom .arrowBorder {top: 100%;left: 15px;}
.tooltip.bottom .arrow {border-top-color: #2a2a2a;  margin-left: -7px;}
.tooltip.bottom .arrowBorder {border-top-color: #000;	margin-left: -9px;}
/*left --*/
.tooltip.left .arrow, .tooltip.left .arrowBorder {right: 100%;top: 50%;}
.tooltip.left .arrow {border-right-color: #2a2a2a;margin-top: -7px;}
.tooltip.left .arrowBorder {border-right-color: #000;	margin-top: -9px;}

.tooltip ul {
    padding-left: 18px;
}
.tooltip ul li {
    list-style-type: disc;
    list-style-position: outside;
}
.tooltip code {
    color:#2789F5;
}
/* tooltip css end */

.scroll_100{max-height: 100px;}
.scroll_150{max-height: 150px;}
.scroll_200{max-height: 200px;}
.scroll_250{max-height: 250px;}
.scroll_300{max-height: 300px;}
.scroll_350{max-height: 350px;}
.scroll_400{max-height: 400px;}
.scroll_450{max-height: 450px;}
.scroll_500{max-height: 500px;}
.scroll_550{max-height: 550px;}
.scroll_600{max-height: 600px;}
.scroll_650{max-height: 650px;}
.scroll_700{max-height: 700px;}