@charset "utf-8";
/* CSS Document */
@media (max-width:1300px) {
.adContent300-250.adTrending300-250{
	width:220px;
	}
div.homeContentPan .adContent300-250.adTrending300-250{
	width:300px;
	}
}
/*-----------23-02-16----------*/
@media (max-width:1175px) {
div.tabMenu .colaspeTabMenu{
	display:block;
}
div.tabMenu ul{
	display:none;
}
div.tabMenu{
	border-bottom:1px solid #c7c7c7;
	margin-bottom:20px;
	padding-bottom:10px;
	position:relative;
}
div.tabMenu ul{
	border-bottom:0 !important;
	position:absolute;
	top:30px;
	left:0;
	width:250px;
}
div.tabMenu ul li{
	display:block;
	float:none;
}
div.tabMenu ul li a{
	border-radius:0;
}
}
/*-----------23-02-16----------*/
/*------------05-01-16-------------*/
@media (min-width:1141px) {

.trending-url {
	left: 53px
}
#share-anchor {
	left: 24%
}
#link-anchor {
	right: 20%
}
}
@media (max-width:1040px){
.googleAd300.articleAdd{
	width:48%;
	margin-right:1.5%;
}	
}
/*@media (max-width:1000px){
.googleAd970-90,
.googleAd970-90Outer{
	display:none;
}*/
.googleAd728.displayNone,
.googleAd728Outer.displayNone{
	display:block;
}

}
/*------------05-01-16-------------*/

@media (max-width:1300px){
div.profileSearchPanel div.searchPanel input{
	width:65%;
	float:left;
}	
}
@media (max-width:1160px){
/*div.aricleBlockOuter{
	width:46%;
}*/
}
@media (max-width:1125px){
div.profileSearchPanel div.searchPanel input{
	width:60%;
	float:left;
}	
}
@media (max-width:1024px) {
div.savedBy,  div.follow {
 float:none;
 width:100%;
}
 div.savedBy p,  div.follow p {
 padding-bottom:0;
}
/*.adContent300-250.adTrending300-250{
	width:175px;
	}*/
.aricleBlockOuter.aricleTrendingBlock{
	width:48%;
}
.adContent300-250.adTrending300-250{
	width:auto;
	max-width:300px;
	margin:0 auto 25px;
	display:block;
	float:none;
	clear:both;
	}
.bottomAddPanel{
	padding-left:31%;
}

.googleAd300,
.googleAd300Outer{
    margin:0 auto 50px;
    display: block;
    clear: both;
}

/*.articleAdd{
	float:none;
	clear:both;
}*/
}
@media (max-width:1070px){
.adContent300-250{
	width:250px;
	}
}

@media (max-width:1000px){
div.highScreen{
	display:none;
}
div.midScreen{
	display:block;
}
div.contentRightPan{
	width:160px;
}
div.profileSearchPanel div.searchPanel input{
	width:55%;
}
/*div.profileContent div.container,
div.homeContentPan div.container{
	padding-right:210px;
}*/

div.contentDoublePanel div.contentLeft{
	width:560px;
}
div.userHomeContent div.container{
	padding-right:210px !important;
	}
.userHomeRight{
	display:none;
}
div.userHomeContent div.container,
div.userHomeContent div.container .contentPanel{
	padding-right:20px !important;
}
/*-------------------23-02-16-------------*/
/*div.profileContent div.container{
	padding-right:10px;
}*/
/*-------------------23-02-16-------------*/
}
@media (max-width:980px){
/*div.profileContent div.container{
	padding-right:210px !important;
	}*/
}

@media (max-width:960px){
.fixedAd{
	right: 10px;	
	}
}
@media (max-width:940px){
.adContent300-250{
	width:180px;
	}
}
@media (max-width:900px){
/*div.articlePic{
	max-width:480px;
}*/
/*div.contentLeftPan{
	width:555px;
	padding-right:25px;
}*/
div.profileSearchPanel div.searchPanel input{
	width:50%;
}

div.contentDoublePanel div.contentLeft{
	width:500px;
}
}
@media (max-width:885px){
div.smallScrn885{
	display:none;
}
.minHeight555{
	min-height:0;
}
}
@media (max-width:850px){
div.tabMenu ul li a{
	font-size:13px;
	line-height:19px;
}
div.contentDoublePanel div.contentLeft{
	width:400px;
}
/*-----------------------23-02-16-------------*/
.textFldsRow label{
	float:none;
	text-align:left;
	padding-bottom:10px;
}
.textFldsRow input[type="text"]{
	width:100%;
}
.textFldsRow textarea{
	width:100%;
}
.notificationsRow.saveBtn2{
	padding-left:0;
}
.flieUploadFlds label{
	padding-bottom:10px;
}
/*-----------------------23-02-16 end-------------*/

}
/*-----------------------23-02-16-------------*/
@media (max-width:830px){
.notificationsRadioBtn{
	padding:15px 0 0 300px;
}
}
/*-----------------------23-02-16 end-------------*/
@media (max-width:800px){
div.profileSearchPanel div.searchPanel input{
	width:40%;
}

div.profileAdhighScreen800{
	display:none;
}
div.profileAdlowerScreen800{
	display:block;
}
div.profileMidScreen{
	display:none;
}
div.profileContent div.container{
	padding-right:10px;
}
div.profileLowerScreen800{
	display:block;
}
div.profileHighScreen800{
	display:none !important;
}
div.homeContentPan h1{
	font-size:26px;
	line-height:30px;
}
}
@media (max-width:760px){
div.lowerScreen760{
	display:block;
}
div.highScreen760{
	display:none;
}
div.contentRightPan{
	display:none;
	float:none;
}
/*div.contentLeftPan{
	float:none;
	margin:0 auto;
	padding-right:0;
}
div.contentLeftPan{
	width:530px;
}
*/
div.navPanel ul li a{
	font-size:12px;
}
div.footerLeft,
div.footerRight{
	float:none;
	width:auto;
	text-align:center;
}
div.footerLeft{
	padding-bottom:10px;
}
div.homeContentPan div.container{
	padding-right:10px;
}
div.loggedInMenupanel{
	display:none;
}
div.loggedInMenupanelSmallScrn{
	display:block;
}
div.ad320-50LoggedIn,
div.ad320-100LoggedIn{
	margin-top:40px;
}

div.contentDoublePanel div.contentLeft{
	width:100%;
	float:none;
}
div.contentDoublePanel div.contentRight{
	float:none;
	width:300px;
	margin:0 auto;
}
div.profileContent div.container{
	padding-right:0px !important;
}
/*.googleAd728.displayNone,
.googleAd728Outer.displayNone{
	display:none;
}*/
.googleAd320,
.googleAd320Outer{
	display:block;
}
.googleAd320-100,
.googleAd320-100Outer{
	display:block;
}
.googleAd300.displayNone{
	display:block;
}
}
@media (max-width:720px){
div.articleRightPanel{
	display:none;
}
div.articleLeftPanel{
	width:100%;
}
.searchTagBtn span{
	display:none;
}
}
@media (max-width:680px){
div.profileSearchPanel div.searchPanel input{
	width:32%;
}		
}

/*-------------23-02-16--------------*/
@media (max-width:650px){
.notificationsRow label, .bookmarksCheckbox label{
	width:200px;
}
.notificationsRow.saveBtn{
	padding-left:0;
}
.notificationsRadioBtn{
	padding:15px 0 0 150px;
}
.notificationsRadioBtn label{
	width:auto;
	text-align:left;
}
div.headerSearchPan{
	width:210px;
}

}
/*-------------23-02-16 end--------------*/
/*-------------23-02-16--------------*/
@media (max-width:530px){
.notificationsRadioBtn{
	padding:15px 0 0 20px;
}	
}
/*-------------23-02-16 end--------------*/
/*------------05-01-16-------------*/
@media (min-width:320px) and (max-width:639px) {
.trending-item {
	width: 100%
}
.trending-link {
	height: auto;
	width: 80%;
	line-height: 1.168em
}
/*#share-anchor {
	left: 24%
}
#link-anchor {
	right: 20%
}*/
.trending-description {
	display: none
}
.trending-link a, .trending-url a {
	font-size: 14px
}
}
@media (max-width:1000px) {
.trending-link {
	width: 77%;
	line-height: 14px
}
#share-anchor {
	left: 24%
}
#link-anchor {
	right: 20%
}
}
@media (max-width:750px){
div.aricleBlockOuter,
.aricleBlockOuter.aricleTrendingBlock{
	width:100%;
	margin:0;
	float:none;
}
div.trendingRightPan{
	padding-right:10px;
}
.adContent300-250,
.adContent300-250.adTrending300-250{
	width:auto;
	max-width:300px;
	margin:0 auto 25px;
	display:block;
	float:none;
	clear:both;
	}
div.ad-300-smallScrn750{
	display:block !important;
	clear:both;
	margin:20px auto 30px;
}
div.lowerScrn750{
	display:none !important;
}
div.searchResulLeft{
	padding-right:0;
}
/*.googleAd728,
.googleAd728Outer{
	display:none;
}*/
.googleAd320,
.googleAd320Outer{
	display:block;
}
.googleAd300.articleAdd,
.googleAd300Outer.articleAdd{
	width:300px;
	margin-top:0 !important;
	margin-left:auto;
	margin-right:auto;
}	
.articleAdd{
	clear:both;
	float:none;
	margin-bottom:20px;
	margin-top:0 !important;
}
}
/*------------05-01-16-------------*/
@media (max-width:595px){
div.navPanel{
	display:none;
}
div.navPanSmallScrn{
	display:block;
}
div.lowerScreen600{
	display:block;
}
div.highScreen600{
	display:none;
}
div.searchPanel{
	display:none;
}
div.headerSearchPan{
	display:none;
}
div.smallScrnSrch div.searchPanel{
	display:block;
}
div.lowerScreen760{
	display:none;
}
div.ad320-50{
	display:block;
}
div.profileAdlowerScreen600{
	display:block;
}


div.profileContent div.container{
	padding-right:10px;
}
div.profileLeftPan{
	width:100%;
	float:none;
	padding-bottom:5px;
}

div.profileLeftPan:before{
    content: " ";
    display: table;
    
}
div.profileLeftPan:after{
  content: " ";
  display: table;
  clear: both;
}

div.profileMidpanel{
	width:100%;
	padding:0 0 0 10px;
	float:none;
}
div.profileLeftPan a.followBtn{
	position:absolute;
	top:0;
	right:0;
	font-size:18px;
}
div.profileDetails{
	padding-top:0;
}
div.profileDetails:before, 
div.profileDetails:after {
    display: table;
    content: " ";
}
div.profileDetails:after{
    clear: both;
}
div.profilePic{
	float:left;
	width:25%;
}
div.profileBrief{
	float:left;
	padding:0 10px 0 20px;
	width:75%;
}
div.datesPanel, div.tagsBundlePanel{
	display:none;
}
/*div.profileLinks{
	display:none;
}*/
div.profileLinksSmallScreen{
	display:block;
}
div.profileDetails{
	padding-bottom:0;
	margin-bottom:20px;
}
div.profileBrief{
	margin-bottom:0;
}
div.contentPanel p{
	font-size: 18px;
    line-height: 24px;
}
div.profileLinks p {
    font-size: 16px;
    line-height: 20px;
}
/*div.profileDetails{
	padding-bottom:5px;
	width:48%;
	float:left;
}
div.tagsPanel{
	width:48%;
	float:right;
	clear:right;
}*/

div.followersContentPanel {
 padding:175px 0 0 0;
 width:100%;
}
 div.savedBy {
 float:left;
 width:auto;
}
 div.follow {
 float:right;
 width:auto;
}
 div.commentBlock div.followersContentPanel {
 padding-top:190px;
}
.adSmall300-250{
	width:auto;
	max-width:300px;
	min-height:250px;
	margin-left:auto;
	margin-right:auto;
	}
}
@media (max-width:590px){
.userTrendingRight{
	width:100% !important;
	float:none !important;
	clear:both;
	padding-right:15px;
	}
div.profileLeftPan a.followBtn{
	position:relative;
}
div.profilePic{
	display:none;
}
div.profileBrief h2{
	display:none;
}
div.profileBrief{
	float:none;
	padding:0;
	width:100%;
	margin-bottom:15px;
}
}
@media (max-width:570px){
div.contentLeftPan{
	width:auto;
	padding-right:10px;
}
div.viewOlderPost a{
	font-size:16px;
	padding:10px 30px;
}
div.profileBrief h2{
	font-size:22px;
	line-height:26px;
}
div.profileBrief h3{
	font-size:16px;
	line-height:22px;
}
/*div.tabSubMenu ul li a{
	padding:10px 15px;
}*/

}
@media (max-width:480px){
.googleAd728Outer{
	display:none;
}
.googleAd320-50Outer{
	display:block;
}
}
@media (max-width:475px){
div.profileBrief h2{
	font-size:16px;
	line-height:20px;
}
div.profileBrief h3{
	font-size:13px;
	line-height:19px;
}
div.profileBrief p,
div.profileLinksSmallScreen p{
	font-size:12px;
	line-height:16px;
}
div.profileLeftPan a.followBtn{
	padding:5px 10px;
	font-size:16px;
	margin-bottom:25px;
}
div.tagsFilter input{
	width:100%;
}
.bottomAddPanel{
	padding-left:0;
}
div.profilePic{
	display:none;
}
}

@media (max-width:460px){
div.tabMenu ul li a{
/*	padding:4px 8px;*/
	font-size:12px;
}
div.profileDetails{
	padding-bottom:5px;
	width:100%;
	float:none;
}
div.tagsPanel{
	width:100%;
	float:none;
}
}
@media (max-width:425px) {
 div.followerTopPanel {
 padding-right:0;
}
 div.followerTopLeft {
 width:100%;
 float:none;
 padding-right:0;
 padding-bottom:15px;
}
 div.followerTopRight {
 position:relative;
 left:auto;
 right:auto;
 top:auto;
}
 a.followBtnSmall {
 padding:8px;
 max-width:none;
 width:103px;
}
 div.commentBlock a.followBtnSmall {
 width:123px;
}
}
 @media (max-width:390px) {
 div.savedBy,  div.follow {
 float:none;
 width:100%;
}
 div.savedBy p,  div.follow p {
 padding-bottom:0;
}
}
/*------------29-01-16-------------*/
@media (max-width:500px) {
div.innerContLeftPanel,
div.innerContRightPanel{
	float:none;
	width:100%;
}
div.innerContLeftPanel{
	padding-bottom:20px;
}
div.innerContRightPanel img{
	margin:0 auto;
}
div.contentDoublePanel div.contentLeft{
	padding-right:0;
	padding-bottom:15px;
}
}
@media (max-width:470px){
.socailBtnBlock{
	float:none;
	width:auto;
	margin-bottom:1px;
	padding-right:0;
}
.notRegisterTop .logo,
.notRegisterTop .logo a{
	float:none !important;
	display: inline-block;
}
.registerLink{
	float:none;
}
}
/*------------29-01-16-------------*/

/*------------10-05-16-----------*/
@media (max-width:590px){
div.profileInfo{
	display:none;
	margin-bottom: 15px;
}
div.tagsPanel{
	display:none;
    background: url(../img/profile-box-bg.jpg) repeat;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}
.profileHeading{
	padding-bottom:0px;
}
div.profileMidpanel div.tabMenu{
	display:none;
}
.profileHeading .tabMenu{
	display:block;
}
 div.profileHeading div.tabMenu {
    position: absolute;
    top: -8px;
    right: 0;
    margin-bottom: 0 !important;
}
.profileHeading h3,
.profileHeading h4{
display:none;
}
.profileInfoIcon{
	display:block;
}
div.tabMenu ul{
	right:0;
	left:auto;
}
div.profileBrief{
	margin-bottom:0;
}
.pulsIcon {
	display:block;
}
div.tagsPanel h3{
	display:none;
}
div.tagsPanel{
	padding-top:40px;
}
div.breadcrumbPanel{
 padding-bottom:0;
}
div.profileDetails{
 padding-bottom:0;
 margin-bottom: 0; 
}
}
