﻿*{margin:0;padding:0;}  
header, footer, aside, nav, article,section{display:block;}
body{margin:0px auto;padding:0px 0px;font:13px/20px Verdana, Arial, Helvetica,sans-serif;background:url(/images/common/bg.png) /*url(/images/common/bg_2016.png)*/ top center no-repeat /*repeat*/ #d7d7d7; color:#525252;}
/*#logotext{ width:320px;}*/
#logotext h1{cursor:pointer;cursor:hand;}
h1{color:#469ddb;}
header h1{color: #8E8E8E; font: bold 10px/11px Verdana,Arial,Helvetica,sans-serif; padding: 0 0 0 /*15px*/ 2px;position: relative;  /*text-transform: uppercase;*/}
header h1:first-line{color: #469DDB; font: 38px Arial,Helvetica,Verdana,sans-serif; margin-bottom: 0; padding-bottom: 0;  position: relative;/*text-transform: none!important;*/}
h2{font-size:28px;line-height:44px;padding:22px 0;}
h3{font-size:18px;line-height:22px;padding:11px 0;}
p{padding-bottom:22px;}
a:link,a:visited{color:#0774B7;text-decoration:underline;}
a:hover, a:active{color:#0774B7;text-decoration:underline;}
textarea{resize:none;width:98%;height:90px;font-family:Verdana, Tahoma, Arial, sans-serif;padding:5px;}
select{border:0;min-width:150px;}
/*header h1{font:38px Arial, Helvetica, Verdana, sans-serif;position:relative;padding-bottom:0;margin-bottom:0;}*/
header h2{font:14px Verdana, Arial, Helvetica, sans-serif;position:relative;color:#aeaeae;text-transform:uppercase;padding:0 0 10px 2px;}
h1.siteTranslator{font-size:30px}
h2.siteTranslator{font-size:12px;}
.wrapp{padding:0 20px 10px 20px;background-color:transparent;}
#topMenu{ position:relative; z-index:100000;}
*html #topMenu{position:static; z-index:100000;}
#rightSection{width:240px;float:right;min-height:400px;}
#Adv240{width:240px;min-height:400px;background-color:#ffffff;} 
#Adv240_1{width:240px;min-height:400px;background-color:#bebebe;} 
#blurResult{background-color:#fff;height:100%!important;left:0;margin:0;opacity:0.6;padding:0;position:absolute;top:0;width:100%;z-index:900;text-align:center;padding-top:60px;display:none;
    background-image:url(/images/ie/tr_bg.png)\9;background-color:Transparent\9;opacity:1.0\9;} 
.horiz #result #blurResult {position: relative;}
#result{position:relative;}
#mainSection{clear:left;margin:20px 260px 20px 0px;}
#contentBlock{background-color:#fff;border:1px solid #c7c7c7;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;
	padding:10px;box-shadow:1px 1px 3px #bbb;-moz-box-shadow:1px 1px 3px #bbb;-webkit-box-shadow:1px 1px 3px #bbb;
	min-width:970px;max-width:1260/*980px*/;margin:5px auto; position:relative;
    border:0\9;border-left:1px solid #c7c7c7;background:url(/images/ie/mw_rbg.png) repeat-y right\9;margin:0px auto\9;}
*html #contentBlock {position:static;}
#form1{padding:0 2px;}
#aspnetForm{background-color:transparent;}
#topAdvert{min-width:730px;max-width:1260/*980px*/;margin:0 auto; position:relative; z-index:5; }
*html #topAdvert{min-width:732px;max-width:1262px;margin:0 auto; z-index:5; position:static;}

#tmOther,#passportMenu{float:right;}
#tmOther{background-color:#005e97;border-radius:0px 0px 8px 8px;-moz-border-radius:0px 0px 8px 8px;-webkit-border-radius:0px 0px 8px 8px;padding:3px 20px;color:#fff; width:250px;}
#passportMenu{background-color:#689b15;border-radius:0px 0px 8px 8px;-moz-border-radius:0px 0px 8px 8px;-webkit-border-radius:0px 0px 8px 8px;padding:3px 20px;color:#fff;margin-right:-10px;font-weight:bold;width:300px;}
/* */
*+html #passportMenu{background-color:transparent;background-image:url(/images/ie/ie_tm_green.png);}
#passportMenu{background-color:transparent\0/;background-image:url(/images/ie/ie_tm_green.png)\0/;}

*+html #tmOther{background-color:transparent;background-image:url(/images/ie/ie_tm_blue.png);background-position:right;}    
#tmOther{background-color:transparent\0/;background-image:url(/images/ie/ie_tm_blue.png)\0/;background-position:right\0/;}    
/* */

#passportMenu a:link, #passportMenu a:visited{color:#fff;}
#topAdvert{clear:both;}
.selDiv{border:1px solid #7f9db9;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;padding:3px;float:left;
    background:url(/images/ie/ie_lang.png) no-repeat scroll 0 0 white\9;border:0 solid #7E9DB9\9;width:152px\9;}
.selDiv select{
    border-color:#ffffff\9;width:150px\9;margin:-1px\9;}
.editBttn{margin-right:5px;}
#dir_set{/*clear:left;*/ margin-top:15px;}
#dir_set_dict{margin-top:0px;}
#ch_bttn{margin:0 5px;}
#bTranslate,.transit_{color:#fff;background-color:#689b15;font-weight:bold;text-transform:uppercase;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border:0px solid #5c8f00;padding:5px 20px;text-align:center;cursor:pointer;cursor:hand;
    background:url(/images/ie/ie_gbtt.png) no-repeat transparent\9; paddig:0\9; text-align:center\9;width:152px\9;}
.cancelBtt{color:#689b15;background-color:#fff;font-weight:bold;text-transform:uppercase;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border:1px solid #5c8f00;padding:5px 20px;text-align:center;cursor:pointer;cursor:hand;}
/*  */
  .cancelBtt{background:url(/images/ie/ie_wbtt.png) no-repeat transparent\9; padding:6px 0\9; text-align:center\9;width:113px\9; border-color:transparent\0/;}
  *+html .cancelBtt{border-color:transparent;}
/*  */

#btr_web{margin-left:15px;float:left;}
btr_web{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border:1px solid #5c8f00;padding:0;}
#ttSourceText{color:#45697e;border:1px solid #d0dae3;padding:10px 10px;font-weight:bold;margin:0px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-align:center;vertical-align:middle;background-color:#e9f0f8;background:-moz-linear-gradient(center top , #fcffff, #d8e5ee) repeat scroll 0 0;background:-webkit-gradient(linear,0 0,0 100%,from(#fcffff),to(#d8e5ee));background:-o-linear-gradient(#fcffff, #d8e5ee);background:-ms-linear-gradient(#fcffff, #d8e5ee);max-width:400px; display:none;}
#btt{background:url(/images/common/btt.gif);margin:-1px 0 0px 70px;width:20px;height:11px; dispplay:none;}
.vert{float:left;width:50%;margin:0;padding:0;}
.vert1{float:left;width:45%;margin:0 ;padding:0;}
.horiz{float:left;width:100%;}
#viewModeBlock{float:right;color:#747474;padding:2px;border:1px solid transparent;background-color:transparent;font:11px/11px Verdana, Arial, Helvetica,sans-serif;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;width:154px;text-align:right;margin-right:10px;}
#viewModeBlock:hover, .showModes{border:1px solid #b3bdc5;background-color:#e6eff8;background:-moz-linear-gradient(center top , #e6eff8, #cfdbe9) repeat scroll 0 0;background:-webkit-gradient(linear,0 0,0 100%,from(#e6eff8),to(#cfdbe9));background:-o-linear-gradient(#e6eff8, #cfdbe9);background:-ms-linear-gradient(#e6eff8, #cfdbe9);}
#viewModeStatus  img{padding:0 5px;}
#viewModeStatus{cursor:pointer;cursor:hand;display:block;}
#viewModeBlock #vmDes{display:none;color:#a4a4a4;}
#viewModeBlock:hover #vmDes{display:inline;}
#source,#result{margin-top:20px;}
#sourceDict{margin:0px 30px 0 0;}
#result{margin-left:15px;}
#4advSection{clear:left;display:block;margin:10px 260px 10px 0;}
.topBlog{margin:0 0 0 20px;z-index:10px;position:relative;}
.rightBlog{margin:10px;}
#blogRSS h3{color:#f57b02;font-size:20px;font-weight:normal;}
#blogRSS .blogHeader{color:#2273a5;font-size:15px;font-weight:bold;}
#blogRSS .blogData{color:#959595;font-size:11px;}
#blogRSS .blogPost{margin-bottom:35px;color:#525252;}
#blogRSS a:link, #blogRSS a:visited, #blogRSS a:hover, #blogRSS a:active{text-decoration:none;}
#moreBlog{color:#959595;float:right;font-size:11px;}
#moreBlog a{margin-left:10px;}
#blogRSSRight{display:none;}
#blogRSSRight a:link, #blogRSSRight a:visited, #blogRSSRight a:hover, #blogRSSRight a:active{text-decoration:none;}
#blogRSSRight h3{color:#f57b02;font-size:12px;font-weight:bold;}
#blogRSSRight .blogHeader{color:#2273a5;font-size:11px;font-weight:bold;}
#blogRSSRight .blogData{color:#959595;font-size:11px;}
#blogRSSRight .blogPost{font-size:11px;margin-bottom:20px;color:#525252;}
#blogRSSRight img.ico{width:30px;height:30px;}
#moreBlog{color:#959595;float:right;font-size:11px;}
#bott_link{color:#fff;text-align:center;margin:5px auto -2px auto;}
#bott_link a:link, #bott_link a:visited{color:#fff;}
#bott_link a:hover, #bott_link a:active{color:#fefefe;}
#fullRLink{border-top:1px dashed #ccc;padding:5px 25px; background:url(/images/common/fulldict_ico.gif) no-repeat 0 5px;margin:10px 10px 0px 10px;height:30px;font-size:12px;font-weight:normal;}
#fullRLink a:link, #fullRLink a:visited, #shortRLink a:link, #shortRLink a:visited{color:#0774B7;text-decoration:underline;}
#shortRLink{border-bottom:1px dashed #ccc;padding:5px 25px; background:url(/images/common/shortdict_ico.gif) no-repeat 0 5px;margin:10px 10px 15px 10px;font-size:12px;}
#al_fullWR{display:none;color:#0774b7;font-size:9px;}
.newTemplate{background:url(/images/new_status.gif) top right no-repeat;}
.ref_direction{font-weight:700;font-size:11px;padding:6px;}
.ref_key{background-color:#FFF;height:20px;font-size:14px;border-style:window-inset;border-width:2px;padding:4px;}
.ref_not_found{color:red;font-weight:700;font-size:14px;padding:6px;}
.ref_cform{padding-left:20px;padding-top:10px;font-weight:normal;}
.ref_source{font-weight:700;font-size:14px;}
.ref_psp{font-style:italic;font-size:12px;color:#00641b;font-weight:normal;}
.ref_dictionary,.r_d{color:#2b5b99;font-style:italic;font-size:12px; font-weight:normal; padding-left:15px;}
.ref_bullet{font-size:16px;}
.ref_translation,.r_tr{padding-left:10px;line-height:18px;font-size:14px;}
#mfi_translate .r_i { padding-left: 3px;}
.ref_result,.r_rs{font-weight:400;font-size:14px;}
.ref_comment,.r_c{color:#8b8b8b;font-size:14px;}
.ref_active{color:green;font-style:italic;font-size:14px;}
.ref_info,.r_i{font-style:italic;font-size:11px;color:#00f; font-weight:normal;}
ol{font-size:10px;list-style-type:none;margin-top:5px;}
div#cforms_result li{padding-bottom:2px;}
#translations, #trsl{margin:auto 3px auto 20px;}
#autoInfo{margin-top:20px;color:#759a21;display:none;font-size:12px;margin-bottom:13px;}
#autoInfo a {color:#759a21; text-decoration:none; outline: none;}
#autoInfo a img{border:none;}
.error{color:red;font-size:12px;margin-bottom:20px;}
.warning{color:#525252;font-size:12px;margin-bottom:20px;padding:10px;}
.warning a:link, .warning a:visited, .warning a:hover, .warning a:active{color:#0774B7;text-decoration:underline;}
#translationResult{display:none;font-size:16px;word-wrap:break-word; min-height:90px;}
#divFullWordResult{display:none;font-size:16px;}
/*#SiteContent_sourceText{font:16px/20px Verdana, Arial, Helvetica,sans-serif;overflow-x:hidden;}*/
#SiteContent_sourceText{font:16px/20px Verdana, Arial, Helvetica,sans-serif;overflow-x:hidden;}
.ref_source .sforms_src{display:none;padding:7px 10px 5px 7px;margin-left:-20px;margin-top:14px;width:220px;line-height:12px;color:#000;font-weight:normal!important;}
.ref_source:hover .sforms_src{display:inline;position:absolute;background:url(/images/common/temptitlebg.gif) no-repeat;border-bottom:1px solid #349126;color:#4c4c4c;z-index:55}
.ref_result .sforms_src{display:none;padding:7px 10px 5px 7px;margin-left:-10px;margin-top:10px;width:220px;line-height:12px;color:#000;font-weight:normal!important;font-size:9px;}
.ref_result:hover .sforms_src{display:inline;position:absolute;background:url(/images/common/temptitlebg.gif) no-repeat;border-bottom:1px solid #349126;color:#4c4c4c;z-index:55}
.fsform_link a{float:right;font-size:9px;color:#8B8B8B!important;margin-right:5px;}
.cforms_result{padding-bottom:5px;cursor:pointer;cursor:hand;}
.cforms_result:hover{background-color:#EFEFEF;}
.cforms_result:hover .ref_cform .fsform_link a{color:#0774B7!important;}
.ref_source .sf_sr{display:none;padding:7px 10px 5px 7px;margin-left:-20px;margin-top:14px;width:220px;line-height:12px;color:#000;font-weight:normal!important;}
.ref_source:hover .sf_sr{display:inline;position:absolute;background:url(/images/common/temptitlebg.gif) no-repeat;border-bottom:1px solid #349126;color:#4c4c4c;z-index:55}
#flView .ref_source:hover .sf_sr{display:none;}
.r_rs .sf_sr{display:none;padding:7px 10px 5px 7px;margin-left:-10px;margin-top:10px;width:220px;line-height:12px;color:#000;font-weight:normal!important;font-size:9px;}
.r_rs:hover .sf_sr{display:inline;position:absolute;background:url(/images/common/temptitlebg.gif) no-repeat;border-bottom:1px solid #349126;color:#4c4c4c;z-index:55}
#flView .r_rs:hover .sf_sr{display:none;}
.fsform_link a{float:right;font-size:9px;color:#8B8B8B!important;margin-right:5px;}
.cforms_result{padding-bottom:5px;cursor:pointer;cursor:hand;}
.cforms_result:hover{background-color:#EFEFEF;}
.cforms_result:hover .ref_cform .fsform_link a{color:#0774B7!important;}
#mfi_translate .cforms_result:hover{background-color:white;}
#megaFullInfoAdv{clear:both;text-align:center;color:#7b7b7b;font-size:10px;background:url(/images/common/fi_adv_bg.gif);width:525px;height:34px;padding-top:5px;margin-left:85px;line-height:11px;}
#megaFullInfoAdv a{color:#2596cb;text-decoration:underline;}
#megaFullInfo{display:none;margin:10px;background:url(/images/common/owl_big.gif) no-repeat bottom left;font-size:11px;line-height:13px;}
#mfi_translate{float:left;width:240px;overflow:auto;height:370px;}
#mfi_grammInfoDiv{margin-left:255px;margin-top:0px;height:390px;}
#mfi_grammInfoDiv h3{color:#3c8d41;text-decoration:underline;}
#mfi_grammInfo{border:1px solid #3C8D41;color:#4c4c4c;overflow:auto;min-height:70px;max-height:360px;padding:10px;margin-bottom:10px;}
#mfi_translate .ref_cform{padding:4px 0 4px 3px;}
#mfi_translate .ref_translation{padding-left:8px;}
#mfi_translate .ref_translation:hover, #mfi_translate .ref_cform:hover{background-color:#eaf9e3!important;}
#mfi_translate .ref_cform{padding:4px 0 4px 3px;}
#mfi_translate r_tr{padding-left:8px;}
#mfi_translate r_tr:hover, #mfi_translate .ref_cform:hover{background-color:#eaf9e3!important;}
#mfi_translate .ref_result, #mfi_translate .ref_source, #mfi_translate .ref_info, #mfi_translate .ref_psp, #mfi_translate .ref_psp, #mfi_translate .translations .ref_translation, #mfi_translate .translations .ref_comment, #mfi_translate .translations .ref_result,  #mfi_translate .translations .ref_info, #mfi_translate .translations .ref_dictionary{font-size:11px;}
#mfi_translate .ref_source:hover .sforms_src{display:none;}
#mfi_translate .ref_result:hover .sforms_src{display:none;}
.translations, .trsl{display:none;margin-left:25px;}
.transl_form{color:#2596cb;}
#mfi_translate .ref_cform:hover, #mfi_translate .ref_translation:hover{background-color:#cddbc5;cursor:pointer;cursor:hand;}
#mfi_translate .r_rs, #mfi_translate .ref_source, #mfi_translate .r_i, #mfi_translate .ref_psp, #mfi_translate .ref_psp, #mfi_translate .trsl r_tr, #mfi_translate .trsl .r_c, #mfi_translate .trsl .r_rs,  #mfi_translate .trsl .r_i, #mfi_translate .trsl .r_d{font-size:11px;}
#mfi_translate .ref_source:hover .sf_sr{display:none;}
#mfi_translate .r_rs:hover .sf_sr{display:none;}
.translations, .trsl{display:none;margin-left:25px;}
.tr_f{color:#5f5f5f/*0070c0*/; font-size:12px;}
#mfi_translate .ref_cform:hover, #mfi_translate r_tr:hover{background-color:#cddbc5;cursor:pointer;cursor:hand;}
/*#SiteContent_MA_trasnlform_divResult .cforms_result{cursor:pointer;cursor:hand;}*/
#SiteContent_MA_trasnlform_divResult .cforms_result{cursor:pointer;cursor:hand;}
.w_des{display:inline-block;width:80px;} 
.w_des_fw{display:inline-block;width:110px;} 
.transl_form_des,
.tr_f_d{display:inline-block;font-size:10px;}
/*#SiteContent_MA_trasnlform_divResult .ref_source{text-decoration:underline;}
#SiteContent_MA_trasnlform_divResult .ref_source:hover{color:#2596CB;}*/
#SiteContent_MA_trasnlform_divResult .ref_source{text-decoration:underline;}
#SiteContent_MA_trasnlform_divResult .ref_source:hover{color:#2596CB;}
#mfi_grammInfo p{margin:10px 10px 0px 0px;padding-bottom:0;}
#mfi_translate #shortRLink {display:none;}
.wordforms td{border:solid 1px #CCD4D4;padding:5px;}
.wordforms{border-collapse:collapse;margin-top:3px;width:100%;}
.fromTxt{font-size:11px;font-style:italic;margin-left:10px;margin-top:10px;font-weight:normal;}
.sourceTxt{border-bottom:1px dashed #CCCCCC;margin:auto 10px;padding-bottom:15px;padding-top:5px;}
.wfSpan{width:20%; padding:5px; border:1px solid #dddddd; margin:10px; display:inline-block;vertical-align: top; /*min-height:144px;*/}
#mfi_grammInfo .wfSpan p {margin-top:0;}


.wf td{border:solid 1px #CCD4D4;padding: 5px; font-size:12px;}
.wf td .tr_f {color:#0070c0;}
.wf{border-collapse:collapse;margin-top:3px; }
.unclick {color:#bababa!important;}

/* old grammTableFormat
.wf td{border:solid 1px #CCD4D4;padding:5px;}
.wf{border-collapse:collapse;margin-top:3px; max-width:680px; min-width:680px;}
.wf td{width:30%}
.wf td .tr_f {color:#0070c0;}
.wf td:first-child{width: 16%;} */


.source_only_wf {font-size:16px; color:#333; font-weight:normal;}

.viewGrammModeBlock{display: inline-block; float:right; margin-left:20px; margin-top:-2px;height: 26px;}
.viewGrammMode img{padding:5px; border:1px solid transparent; }
.viewGrammMode{display:inline-block; cursor:pointer;}
.curGrammMode img{border-color:#46a0f5;}
.wfSpan table{width:100%}


#ui-dialog-title-megaFullInfo{margin:-1px 0 2px;}
#keepClick, #keepClickVM {z-index:2;display:none;padding:0px 0px 0px 0px;margin:0px;height:100%!important;width:100%;position:absolute;left:0;top:0;background-color:#ababab;filter:alpha(opacity=9, style=0);-moz-opacity:.1;opacity:.1;}
#keepClickEditor{z-index:2;display:none;padding:0px 0px 0px 0px;margin:0px;width:100%;position:absolute;left:0;top:0;background-color:#333300/*ababab*/;filter:alpha(opacity=9, style=0);-moz-opacity:.1;opacity:.1;}
*html #keepClick{height:890px;line-height:890px;}
*html #keepClick{height:890px;line-height:890px;}
#forLogin{background-color:#689B15;display:none;margin-top:0px;top:20px;padding:0;position:absolute;width:325px;z-index:1100;border-radius:0px 0px 8px 8px;-moz-border-radius:0px 0px 8px 8px;-webkit-border-radius:0px 0px 8px 8px;box-shadow:5px 5px 4px #bbb;-moz-box-shadow:5px 5px 4px #bbb;-webkit-box-shadow:5px 5px 4px #bbb;width:340px;margin-left:-20px;}
.close{float:right;height:26px;padding-right:25px;background:url(/images/common/bt_close3.png) no-repeat top right;margin-right:10px;}
#flags,#feedbackForm{top:21px;right:5px;background-color:#005E97;display:none;height:180px;margin-left:0px;margin-top:0px;padding:0 15px;position:absolute;width:110px;z-index:110000;border-radius:0px 0px 8px 8px;-moz-border-radius:0px 0px 8px 8px;-webkit-border-radius:0px 0px 8px 8px;box-shadow:5px 5px 4px #bbb;-moz-box-shadow:5px 5px 4px #bbb;-webkit-box-shadow:5px 5px 4px #bbb;font-weight:bold;}
/*  */
*+html #flags{background-color:transparent;background-image:url(/images/ie/ie_flags.png);height:185px;width:113px;right:3px;}
#flags{background-color:transparent\0/;background-image:url(/images/ie/ie_flags.png)\0/;height:185px\0/;width:113px\0/;right:3px\0/;}
/*  */

#flags a:link, #flags a:visited, #currentLang a:link, #currentLang a:visited, #feedbackForm a:link, #feedbackForm a:visited{color:#fff;text-decoration:none;}
#flags .close a:link, #feedbackForm .close a:link{font-weight:normal;text-decoration:underline;}
#currentLang{float:right;}
#feedbackForm{width:590px;height:380px;}
/*  */
*+html #feedbackForm{background-color:transparent;background-image:url(/images/ie/ie_feedback.png);height:383px;width:593px;right:2px;background-position:bottom;}
*+html #forLogin{background-color:transparent;background-image:url(/images/ie/ie_login.png);background-position:bottom; width:344px;}

#feedbackForm{background-color:transparent\0/;background-image:url(/images/ie/ie_feedback.png)\0/;height:383px\0/;width:593px\0/;right:2px\0/;background-position:bottom\0/;}
#forLogin{background-color:transparent\0/;background-image:url(/images/ie/ie_login.png)\0/;background-position:bottom\0/; width:344px\0/;}
/*  */


/*.pbf_h span, .pbf_s span,.ref_info span, .r_i span, .ref_comment span, .r_c span {display:none;padding:10px 10px 7px 7px;margin-left:-20px;margin-top:15px;width:198px;line-height:12px;font-weight:normal!important;font-size:9px;color:#818090;line-height:18px;}*/
.pbf_h span, .pbf_s span,.ref_info span, .r_i span, .ref_comment span, .r_c span {display:none;padding:5px; margin-left:-20px;margin-top:15px; width:auto;line-height:12px;font-weight:normal!important;font-size:9px;color:#818090;line-height:12px;}
.pbf_h span{padding:10px 10px 7px 4px;}
.loadFrv{display:none;}
.pbf_h span a.addW{display:block;width:118px;padding:5px 4px 5px 20px;text-decoration:none;font-weight:bold;}
.pbf_h span a:hover{background:url(/images/common/cFrv.gif) left 50% no-repeat #c1dfe7;color:#009933;}
.pbf_h:hover span{display:inline;position:absolute;background:url(/images/common/pbf_h.png) no-repeat;z-index:55}
/*.pbf_s:hover span, .ref_info:hover span, .r_i:hover span, .ref_comment:hover span, .r_c:hover span{display:inline;position:absolute;background:url(/images/common/pbf_s.png) no-repeat;z-index:55}*/
.pbf_s:hover span, .ref_info:hover span, .r_i:hover span, .ref_comment:hover span, .r_c:hover span{display:inline;position:absolute;background-color:#ffffff; border:1px solid #0074d9; z-index:55; -webkit-box-shadow: 2px 2px 4px 0px rgba(200,200,200,1);-moz-box-shadow: 2px 2px 4px 0px rgba(200,200,200,1);box-shadow: 2px 2px 4px 0px rgba(200,200,200,1);}
#addPr{display:none;}
#addPr span a{display:block;text-decoration:none;font-weight:bold;color:#1c8cb4;padding:4px 0px 4px 20px;margin:3px 0 0 0;width:120px;color:#1c8cb4;}
#addPr span a:link, #addPr span a:visited{color:#1c8cb4;}
#addPr span a:hover{background:url(/images/common/pointer.gif) 3px 2px no-repeat #c1dce4;color:#178034;}
#pronunciation, #tr_pr{display:inline-block;margin-left:20px;}
.templatesBlock{display:none;background-color:#e9f0f8;background:-moz-linear-gradient(center top,#fcffff,#f6f9fb) repeat scroll 0 0;background:-webkit-gradient(linear,0 0,0 100%,from(#fcffff),to(#f6f9fb));background:-o-linear-gradient(#fcffff, #f6f9fb);background:-ms-linear-gradient(#fcffff, #f6f9fb);margin-left:-1px;margin-top:20px;padding:10px;position:absolute;width:250px;z-index:1100;border:1px solid #6f8ea9;border-radius:0px 8px 8px 8px;-moz-border-radius:0px 8px 8px 8px;-webkit-border-radius:0px 8px 8px 8px;box-shadow:5px 5px 4px #bbb;-moz-box-shadow:5px 5px 4px #bbb;-webkit-box-shadow:5px 5px 4px #bbb;}
#allTemplatesBlock{display:none;background-color:#e9f0f8;background:-moz-linear-gradient(center top , #fcffff, #f6f9fb) repeat scroll 0 0;background:-webkit-gradient(linear,0 0,0 100%,from(#fcffff),to(#f6f9fb));background:-o-linear-gradient(#fcffff, #f6f9fb);background:-ms-linear-gradient(#fcffff, #f6f9fb);padding:10px;position:absolute;width:90%;z-index:2100!important;left:0; top:16px;border:1px solid #6f8ea9;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:5px 5px 4px #bbb;-moz-box-shadow:5px 5px 4px #bbb;-webkit-box-shadow:5px 5px 4px #bbb;margin:auto;}
#keepClickTemplate{display:none;background-color:#ababab;filter:alpha(opacity=9, style=0);-moz-opacity:.1;opacity:.1;position:absolute;left:0;width:100%;z-index:500;border:1px solid #6f8ea9;margin:37px 0 0 0;height:600px;}
#fCol, #sCol, #tCol{float:left;width:31%;min-height:20px;margin-right:10px;}
#fCol{clear:both;}
#tCol{margin-bottom:10px;}
#allList{display:none;}
#fCol .aboutTemplateL .templateDesctiption ,#sCol .aboutTemplateL .templateDesctiption,#tCol .aboutTemplateL .templateDesctiption{font:11px/13px Arial,Helvetica,sans-serif;margin:2px auto 2px 10px;}
#fCol .aboutTemplateL, #sCol .aboutTemplateL,#tCol .aboutTemplateL{padding:0px 20px 0px 5px;}    
.viewModeList{display:none;background-color:#e9f0f8;background:-moz-linear-gradient(center top , #fcffff, #f6f9fb) repeat scroll 0 0;background:-webkit-gradient(linear,0 0,0 100%,from(#fcffff),to(#f6f9fb));background:-o-linear-gradient(#fcffff, #f6f9fb);background:-ms-linear-gradient(#fcffff, #f6f9fb);margin-left:-114px;margin-top:27px;padding:10px;position:absolute;width:250px;z-index:1100;border:1px solid #6f8ea9;border-radius:8px 0px 8px 8px;-moz-border-radius: 8px 0px 8px 8px;-webkit-border-radius:8px 0px 8px 8px;box-shadow:5px 5px 4px #bbb;-moz-box-shadow:5px 5px 4px #bbb;-webkit-box-shadow:5px 5px 4px #bbb;text-align:left;}
.viewModeEl:hover{border-color:#bcdca7;background-color:#e6f5df;}
.templateHeader{position:relative;float:left;color:#005e97;cursor:point;cursor:hand;margin:0px 0px 0px 0px;font:12px/20px Arial, helvetica, Tahoma;font-weight:bold;padding:0px;border:0px solid transparent;border-bottom:0px;cursor:pointer;cursor:hand;border-top:3px solid transparent;}
.templateName,.templateDesctiption, .viewModeName,.viewModeDesctiption{display:block;}
.templateName, .viewModeName{font:12px Arial, Helvetica,sans-serif ;color:#005e97;font-weight:bold;margin-left:10px}
.templateDesctiption, .viewModeDesctiption{font:12px/15px Arial, Helvetica,sans-serif;color:#515151;margin:2px auto 2px 10px;}
.btwTemplate{border:0;border-bottom:1px dotted #bdb9b9;padding-bottom:5px;margin-bottom:10px;width:100px;height:2px;margin-left:36px;}
.curSelectTempl{background:url(/images/common/curtempl.gif) top right no-repeat;}
#fCol .curSelectTempl, #sCol .curSelectTempl, #tCol .curSelectTempl{background:url(/images/common/curtempl.gif) top right no-repeat;}
.aboutTemplate, .viewModeEl{padding:5px 25px 5px 5px;border:1px solid transparent;}
.aboutTemplate:hover{border-color:#bcdca7;}
.templateHeader:hover, .tempSelectTemplate{border:0px solid #79afd5;border-top:3px solid #77abd6;}
.ext{background:url(/images/common/ext.gif) center right no-repeat;}
.blockTemplateName{margin:0 1px;display:inline-block;padding:8px;}
.ext{padding:8px 16px 8px 8px;}
.curentBlockTemplate .blockTemplateName{background-color:white;}
.curentBlockTemplate{border:0px solid #71c800;font-size:14px;border-top:3px solid #7eba19;background:url(/images/common/tmpl_hdr_bg.png) repeat-x;color:#5a8d00;}
.curentBlockTemplate:hover{border:0px solid #71c800;font-size:14px;border-top:3px solid #7eba19;color:#5a8d00;}
#addUTBttmId{color:#fff;background-color:#689b15;font-weight:bold;text-transform:uppercase;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;border:0px solid #5c8f00; margin:0 10px; padding:4px 20px;text-align:center; vertical-align:top;
    background:url(/images/ie/ie_gbtt.png) no-repeat transparent\9; paddig:0\9;width:146px\9;}
#user_template_span{float:left;width:30%;margin:0 20px 0 5px;}
#user_template_span label{font-weight:bold;color:#759A21; font-size:11px; font-weight:bold;}
#user_template_span h3{color:#759A21;font-size:12px;font-weight:bold;}
#user_template_span p {font-size:11px; padding-bottom:11px;}
#keepClickTemplateTop{display:none;background-color:#ababab;filter:alpha(opacity=9, style=0);-moz-opacity:.1;opacity:.1;position:absolute;width:100%;z-index:1000;left:0;top:0px;border:1px solid #6f8ea9; margin:0;height:215px;}
/*#SiteContent_templatesBlock{position:relative;background-color:#ebebeb!important; background-image:url(/images/common/tmpl_nav_bg.gif);background-repeat:repeat-x;}
*+html #SiteContent_templatesBlock{border:1px solid transparent;}*/
#SiteContent_templatesBlock{position:relative;background-color:#ebebeb!important; background-image:url(/images/common/tmpl_nav_bg.gif);background-repeat:repeat-x;}
*+html #SiteContent_templatesBlock{border:1px solid transparent;}
/*#SiteContent_templatesBlock{height:1px;}
.templateHeader, .blockTemplateName {height:0px;}
#shAllTmpl {display: none;}*/
#SiteContent_templatesBlock{height:1px;}
.blockTemplateName, #shAllTmpl, #shAllTmpl a {display:none;}
#curPTSTopic {pointer-events: none;
              -ms-appearance: none;
  appearance: none!important;}
#curPTSTopic::-ms-expand {
  display: none;
}

/*.selDiv label {position:relative}
.selDiv label:after {content:'> ';
    font:14px "Consolas", monospace;
    color:#333;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:1px; top:-3px;
    padding:3px 2px 3px 4px;
    border-bottom:1px solid #7f9db9;
    position:absolute;
    pointer-events:none;
}
.selDiv label:before {
    content:'';
    right:-1px; top:-1px;
    width:23px; height:20px;
    background:#ffff00;
    position:absolute;
    pointer-events:none;
    display:block;
}*/
.seiDivTmpl  {position:relative}
/*.seiDivTmpl:after {content:'> ';
    font:14px "Consolas", monospace;
    color:#333;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:1px; top:-3px;
    padding:3px 2px 3px 4px;
    border-bottom:1px solid #7f9db9;
    position:absolute;
    pointer-events:none;
}*/
.seiDivTmpl:before {
    content:'';
    right:0px; top:0px;
    width:100%; height:27px;
    background:#fff;
    opacity: 0.01; 
    position:absolute;
    /*pointer-events:none;*/
    display:block;
}




#keepClick{z-index:100;display:none;padding:0px 0px 0px 0px;margin:0px;height:100%!important;width:100%;position:absolute;left:0;top:20px;background-color:#ababab;filter:alpha(opacity=9, style=0);-moz-opacity:.1;opacity:.1;}
#feedbackForm{font-weight:normal;}
#pFeedBack1_f1 h4{font-size:22px;font-weight:normal;padding-bottom:10px;}
.input_txt1, .input_txt2{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;background-color:red;background:none repeat scroll 0 0 white;border:1px solid #7898B8;height:24px;margin-bottom:10px;overflow:hidden;text-align:center;}
.input, .input_txt, .input1{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;background-color:red;background:none repeat scroll 0 0 white;border:1px solid white;height:24px;margin-bottom:10px;overflow:hidden;text-align:center;}
.input1{border:1px solid #759A21;}
.input_txt{ height:84px;}
.input input, .input1 input, #saveLinkResult input, #saveLinkResult_bt input{background:none repeat scroll 0 0 white;height:26px;margin:-5px 0 0 -5px;padding:2px 8px;width:190px;}
.input_txt textarea, #saveLinkResult textarea{background:none repeat scroll 0 0 white;height:96px;margin:-5px 0 0 -5px;padding:6px 8px;width:390px;}
.input_txt2 textarea {background:none repeat scroll 0 0 white;height:100px;margin:-5px 0 0 -5px;padding:6px 8px;}
.errMsg{border:1px solid #CD0A0A;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background:url(/images/common/emssg_red.png) 10px 10px no-repeat;display:block;padding:10px;padding-left:46px;margin:10px;}
.warningMsg, #adviseIconDiv{border:1px solid #fb9b00;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding-left:46px;background:url(/images/common/emssg_yell.png) 10px 10px no-repeat; direction:ltr!important;}
#socialServices{display:none;color:#747474;border:1px solid #d0dae3;padding:10px 10px;font-weight:normal;margin:0px 0 0 auto;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-align:center;vertical-align:middle;background-color:#e9f0f8;background:-moz-linear-gradient(center top , #fcffff, #d8e5ee) repeat scroll 0 0;background:-webkit-gradient(linear,0 0,0 100%,from(#fcffff),to(#d8e5ee));background:-o-linear-gradient(#fcffff, #d8e5ee);background:-ms-linear-gradient(#fcffff, #d8e5ee);max-width:400px;text-align:right;font-size:11px;margin-top:15px;}
#socialServices  a:link, #socialServices  a:visited{color:#0774B7;text-decoration:underline;}
.vt{cursor:pointer;cursor:hand;}
#ttt{background:url(/images/common/ttt.gif) ;margin:-19px 70px 10px 0px;width:18px;height:9px;}
#loadingLink{display:none;text-align:center;background:white;padding:60px 100px;}
#saveLinkResult, #ATSpan, #ATSpan_bt{display:none;}
#getLinkSpan{text-align:right;display:none; padding:0px;color:#487898;font-size:10px;line-height:16px;}
#getLinkSpan_bt{padding:0px;color:#487898;font-size:10px;line-height:16px;display:none;}
#getLinkSpan textarea{margin-bottom:10px}
#getLinkSpan p, #getLinkSpan_bt p{margin:0 20px 0px 0;padding-bottom:0px;}
#getViewLinkSpan{color:#484848;text-align:left;display:none;margin:5px 0; padding:5px 5px 5px 5px;background-color:#fff;border:dashed 1px #b9b8b7;font-size:10px;line-height:16px;z-index:910;/*height:33px;*/ float:right;width:323px;}
#getLinkSpan input, #getLinkSpan textarea{color:#484848;font-size:10px;font-family:Verdana;border:1px solid white;width:330px;}
#getLinkSpan_bt input, #getLinkSpan_bt textarea{color:#484848;font-size:10px;font-family:Verdana;border:1px solid white;width:270px;}
#getLinkSpan textarea{height:116px;}
#saveLinkResult{display:none;}
#adv4Blocks{display:block;margin:10px 260px 10px 0;}
.adv4ElGr{float:left;width:24%;}
.adv4El{margin:0 10px;text-align:center;}
.vLineDiv{float:left;width:8px;height:188px;margin-top:30px;background:url(/images/common/vline.gif) 0 50% no-repeat;}
.adv4ElTop{border:0px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;/*height:6px;*/margin-bottom:10px;  padding: 2px; color:#fff; font-size:16px; font-weight:bold;}
.adv4ElImg{height:112px;}
.adv4ElImg img{border:0;margin:0 auto;}
.adv4ElText{height:125px;color:#7d7d7d;}
.adv4ElTop a:link, .adv4ElTop a:visited, .adv4ElTop a:hover, .adv4ElTop a:active{display:block;color:#ffffff;text-decoration:none;}
.adv4ElText a:link, .adv4ElText a:visited{color:#7d7d7d;text-decoration:none;}
.adv4ElText a:hover, .adv4ElText a:active{color:#0774B7;text-decoration:underline;}
.adv4ElFoot{background:url(/images/common/adv4elbt.gif) 50% 0 no-repeat;height:10px;}
#adv4El1 .adv4ElTop{background-color:#029BDC/*#86C9EF*/;}
#adv4El2 .adv4ElTop{background-color:#fc575e;}
#adv4El3 .adv4ElTop{background-color:#67b23a/*#9fc54e*/;}
#adv4El4 .adv4ElTop{background-color:#e3ad00/*#f5bd00*/;}
#adv4El5 .adv4ElTop{background-color:#fc575e;}
#adv4El6 .adv4ElTop{background-color:#e3ad00/*#f5bd00*/;}
#vkb_f1{margin:0px 25px;display:block;}
.vkRow{text-align:center;height:29px;line-height:16px}
.vkLangspan{display:none;}
a.vkbt{color:#0774b7!important;width:25px;height:21px;background:url('/images/common/vkbtt_.gif') repeat-x;display:block;text-align:center;float:left;padding-top:5px;text-decoration:none!important;font-weight:700;font-size:13px;margin:1px;}
a.vkbt:visited{color:#0774b7!important;width:25px;height:21px;background:url('/images/common/vkbtt_.gif') repeat-x;display:block;text-align:center;float:left;padding-top:5px;text-decoration:none!important;margin:1px;}
a.vkbt:hover,a.vkbt:active{color:#bf2b4b!important;background-image:url("/images/common/vkbta_.gif");}
a.vkbt_b{color:#0774b7!important;width:64px;height:21px;background:url('/images/common/vkbtt_b_.gif') repeat-x;display:block;text-align:center;float:left;padding-top:6px;font-size:11px;font-family:Arial;font-weight:700;text-decoration:none!important;margin:1px;}
a.vkbt_b:hover,a.vkbt_b:active{color:#bf2b4b!important;background-image:url("/images/common/vkbta_b_.gif");}
a.vkbt_b:visited{color:#0774b7!important;width:64px;height:21px;background:url('/images/common/vkbtt_b_.gif') repeat-x;display:block;text-align:center;float:left;padding-top:6px;font-size:11px;font-family:Arial;text-decoration:none!important;margin:1px;}
a.vkbt_s{color:#0774b7!important;width:260px;height:21px;background:url('/images/common/vkbtt_s.gif') repeat-x;display:block;text-align:center;float:left;padding-top:6px;font-size:14px;font-family:Arial;text-decoration:none!important;margin:1px 1px 1px 83px;}
a.vkbt_s:hover,a.vkbt_s:active{color:#e90026!important;background-image:url("/images/common/vkbta_s.gif");}
a.vkbt_s:visited{color:#0774b7!important;background:url('/images/common/vkbtt_s.gif') repeat-x;display:block;text-align:center;float:left;padding-top:4px;font-size:11px;font-family:Arial;text-decoration:none!important;}
* html a.vkbt_s{margin-left:42px;}
a.vkll2{margin-left:44px;}
*html a.vkll2{margin-left:25px!important;}
a.vkll4{margin-left:27px;}
* html a.vkll4{margin-left:17px!important;;}

#bottomAdv{clear:left;float:left;width:7 28px;max-height:90px;/*height:auto;*/ background-color:#ccc; margin-top:10px;}
fieldset{border:1px solid #2273A5;padding:10px;margin:10px 20px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
legend{padding:10px;margin:20px;color:#2273A5;font-size:20px;text-align:left;}
fieldset label{font-weight:bold;width:200px;text-align:right;clear:both;float:left;display:block;margin-right:20px;}
#leftMobileSection{float:left;width:49%;}
#rightMobileSection{float:right;width:49%;}
#leftMobileSection h3, #rightMobileSection h3{color:#2273A5;font-size:20px;font-weight:normal;padding:11px 0 20px 0;}
#rightMobileSection div{display:block;height:180px;border:1px solid #fff;padding:10px;}
#rightMobileSection div div { height:auto;}
.app_pos{max-width:450px;}
.app_pos:hover{background:url(/images/common/app_pos_bg.png) 210px 5px no-repeat; } 

#rightMobileSection div img {padding-bottom: 50px;}
#rightMobileSection div div img {padding-bottom: 0px;}
.price{font-weight:bold;font-size:14px;padding-right:40px;color:#004c80}
#rightMobileSection div:hover{border-color:#bcdca7;}
#rightMobileSection div:hover div:hover{border-color:#ffffff;}
#addTranslationBttn,#addTranslationBttn_bt{background:url(/images/common/uv_btt.gif) no-repeat scroll 0 0 transparent;border:0 solid #FFFFFF;color:#597B9A;font-size:9px;font-weight:bold;height:23px;padding-left:18px;text-align:center;width:97px;}
#sol240x400 object,#sol240x400 img,#sol240x400 embed{display:block;margin:0;padding:0;}#sol240x400 br{display:none;}.advSText{font-size:10px;color:#4c4c4c;padding-left:10px;display:block;}
#leftCorpSection{float:left;width:49%;}
#rightCorpSection{float:right;width:49%;}
#leftCorpSection h3, #rightCorpSection h3{color:#2273A5;font-size:20px;font-weight:normal;padding:11px 0 20px 0;}
#rightCorpSection div,#leftCorpSection div{display:block;border:1px solid #fff;padding:10px;}
.price{font-weight:bold;font-size:14px;padding-right:40px;color:#004c80}
#rightCorpSection ul, #leftCorpSection ul{margin:10px 20px 20px 40px;}
#rightCorpSection div p,#leftCorpSection div p{margin-left:210px;}
#promt_cloud, #promt_api{ background-color:#689B15;border:0 solid #5C8F00;border-radius:8px 8px 8px 8px;color:#FFFFFF;font-weight:bold;padding:5px 20px;text-align:center;text-transform:uppercase;float:right;margin-right:40px;}
#corpSubmit, #corpSubmit_en{ background-color:#689B15;border:0 solid #5C8F00;border-radius:8px 8px 8px 8px;color:#FFFFFF;font-weight:bold;padding:5px 20px;text-align:center;text-transform:uppercase;margin-left:120px;}
.rightCorpSection{float: right; width: 49%;}
.leftCorpSection{float: left;width: 49%;}
.rightCorpSection div, .leftCorpSection div {border: 1px solid #FFFFFF; display: block; padding: 10px;}
.leftCorpSection h3, .rightCorpSection h3 {color: #2273A5;font-size: 20px;font-weight: normal; padding: 11px 0 20px;}
.rightCorpSection div p, .leftCorpSection div p { margin-left: 240px;}
.leftCorpSection ul, .rightCorpSection ul { height: 220px;}

#orderFormWin, #sendLoading, #featuresWin{display:none;}
#orderForm{margin:10px;color:#666;}
#orderForm fieldset{width:550px;border:0;}
#orderForm label{text-align:right;width:100px!important;float:left;padding:0.2em;margin:0;margin-top:0.3em;font-weight:normal;}
#orderForm nobr{display:none;}  
#orderForm .textfield{margin:3px;height:20px;width:300px;margin-left:20px;}
#ofComment{margin:3px;height:80px;width:300px!important;margin-left:20px;}
#promt_cloud, #promt_api{ background-color:#689B15;border:0 solid #5C8F00;border-radius:8px 8px 8px 8px;color:#FFFFFF;font-weight:bold;padding:5px 20px;text-align:center;text-transform:uppercase;float:right;margin-right:40px;}
#corpSubmit{ background-color:#689B15;border:0 solid #5C8F00;border-radius:8px 8px 8px 8px;color:#FFFFFF;font-weight:bold;padding:5px 20px;text-align:center;text-transform:uppercase;margin-left:120px;}
#2colmn{padding:0 20px;height:200px;} 
.two_colmn{height:220px; font-weight:bold;}
#leftCorpSection ul, #rightCorpSection ul{height:220px;}   
.red{color:red;}
#templateContentAbout ul,#templateContentHelp ul{margin:0 0 22px 30px;}
div#templateMenuAbout{width:300px;float:left;}
div#templateMenuHelp{width:280px;float:left;padding-right:8px;}
div#templateMenuHelp ul,div#templateMenuAbout ul{list-style:none;margin:5px 40px 5px 20px;padding:0;}
div#templateMenuHelp li ul,div#templateMenuAbout li ul{padding:15px 0;}
div#templateMenuHelp li,div#templateMenuAbout li{border-bottom:1px #c3c3c3 dashed;margin:8px 15px 2px 20px;padding:0;}
div#templateMenuHelp a,div#templateMenuAbout a{color:#0774B7;text-decoration:none;}
div#templateMenuHelp a:hover,div#templateMenuAbout a:hover{text-decoration:none;color:#5A8D00;}
div#templateContentAbout,div#templateContentHelp{margin-left:300px;font-size:12px;} 
div#templateContentAbout h3{padding-bottom:3px;margin-bottom:20px;padding-top:10px;font-size:12px;}
div#templateContentAbout h1,div#templateContentHelp h1{color:#5A8D00;font-size:20px;font-weight:normal;padding:11px 0 5px 0;border-bottom:1px solid #5A8D00;margin:0 0 20px 0px;}
p.topic{font-size:14px;border-bottom:1px solid #0874cc;margin:0 40px 0 20px;padding:15px 0 0;}
.leftAboutCol h2,.rightAboutCol h2,div#templateContentAbout h2,div#templateContentHelp h2{border-bottom:1px solid #2273A5;margin-bottom:20px;padding-bottom:3px;padding-top:30px;color:#2273A5;}
#templateContentHelp ol,#templateContentAbout ol{font-size:13px;margin:0 0 22px 30px;list-style-type:decimal;}
/* spelling */
#okSpellDescr{color:green; font-weight:bold; display:none;}
#errSpellDescr{color:red; font-weight:bold;display:none; margin-bottom:20px;}
#spellEditor {border:1px solid #7f9db9;padding:10px; height:300px; font-size:16px; line-height:20px; overflow-y:auto; }
.errWordSpan {color:red; display:inline-block;}
.replWord {color:blue; display:inline-block;}
.suggs {display:none;color:#666666;font-size:12px;background:#fff;border:1px solid #6F8EA9;display:none;margin-left:-1px;margin-top:20px;padding:3px;position:absolute;z-index: 1100;}
.errWordSpan:hover .suggs{display:block;}
.replWord:hover .suggs{display:block;}
.suggWord{ font-weight:bold; font-size:16px; color:#689b15;cursor:pointer;cursor:hand;}
span.more {padding-left:170px;}

#AdvInResult{display:none; border:1px solid #7f9db9;  box-shadow:5px 5px 4px #BBBBBB; position:absolute;z-index:100000;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px; background-color:White!important; padding:10px;}



#editResultWin{display:none;background-color:#e9f0f8;margin-left:0px;margin-top:-5px;padding:5px;position:absolute;width:350px;z-index:1100;border:1px solid #6f8ea9;border-radius:8px;-moz-border-radius: 8px;-webkit-border-radius:8px 0px 8px 8px;box-shadow:5px 5px 4px #bbb;-moz-box-shadow:5px 5px 4px #bbb;-webkit-box-shadow:5px 5px 4px #bbb;text-align:left;}
#editResult{width: 95%; border: 1px solid #7F9DB9; font-size: 16px;line-height: 20px;overflow-y: auto; padding:10px;}
#translationResult{border: 1px solid #7F9DB9;}
#resultFunction {text-align:left; float:left;}

#editResultWin_test{display:none;background-color:transparent;margin-left:-6px;margin-top:-7px;padding:5px;/*position:absolute;width:350px;z-index:100;*/border:1px solid #6f8ea9;border-radius:8px;-moz-border-radius: 8px;-webkit-border-radius:8px 0px 8px 8px;box-shadow:5px 5px 4px #bbb;-moz-box-shadow:5px 5px 4px #bbb;-webkit-box-shadow:5px 5px 4px #bbb;text-align:left;}
#editResult_test{ background:white; color:#525252/*transparent*/; width: 95%; border: 1px solid #7F9DB9; font-size: 16px;line-height: 20px;overflow-y: auto; padding:3px;}
#translationResult{border: 1px solid /*#7F9DB9*/ transparent; padding:0 4px; color:white;}
/*#SiteContent_sourceText {border: 1px solid #7F9DB9;}
#SiteContent_sourceText {border:0px!important;}*/
#SiteContent_sourceText {border: 1px solid #7F9DB9;}
#sourceTextBrdr {border: 1px solid #7F9DB9; padding:0px; padding-right:2px;}
#spellBttms_test{display:none;}
#editResultWin_test{background:transparent; color:transparent;border: 1px solid transparent; box-shadow:5px 5px 4px #bbb; -moz-box-shadow:0px 0px 0px #fff;-webkit-box-shadow:0px 0 0 #fff;}
*+html #editResultWin_test{margin-left:-6px;margin-top:-27px;}

div.horiz #editResultWin_test{margin-left:-16px;}
div.horiz #editResult_test{width:99%;}

#subscribeForm {width:248px;position:fixed;z-index:5000;	bottom:0; right:5px;}
#ssHead{background: url("/images/common/ss_hdr.png") repeat scroll 0 0 transparent; color: #FFFFFF; font-size: 14px; font-weight: bold; height: 19px; padding: 10px  0; text-align: center;}
#ssBody{display:none;height:121px; background: url(/images/common/ss_body.png); padding:5px 10px;}
#ssBody h4 {font-size:13px; font-weight:normal; color:#00437e;margin:0px auto 16px 60px;}
#ssMain{height:75px;}
#ssSubmit{height:25px; width:115px; color:#fff;background: url(/images/common/ss_submit.png) no-repeat; margin:10px; border:0;}
#ssAddr{margin-left:60px; border:0!important; width: 165px;}

/*.newTmpl{background: url(/images/new_tmpl2.png) no-repeat top right ; display: inline;
    height: 28px;
    margin-top: -18px;
    position: absolute;
    left:  0px;
    width: 34px;
    z-index: 100; }
    
 .newTmpl{background: url(/images/new_tmpl1.png) no-repeat top right ; display: inline;
    height: 28px;
    margin-top: -18px;
    position: absolute;
    left: 8px;
    width: 34px;
    z-index: 100; }*/
 .newTmpl{background: url(/images/new_tmpl_14.png) no-repeat top right ; display: inline;
    height: 28px;
    margin-top: -22px;
    position: absolute;
    left: 0px;
    width: 22px;
    z-index: 100; }
 a#linkGL:link, a#linkGL:visited,a#linkGL:hover, a#linkGL:active{color: #747474; text-decoration:none;}
 .aboutTemplate a, .aboutTemplateL a{ text-decoration:none;}
 /* halloween 
body {background: url("/images/common/hall_bg.gif") #D7D7D7;}

#hat{z-index:100;margin-left: -12px;margin-top: -24px; position: absolute; background:url(/images/common/hall_hat.png) no-repeat; width:60px;height:52px;}
*+html #hat{margin-left:-72px!important; margin-top:-26px!important;}
 end  halloween 
 #hat{display:none;}*/
/* new year
 #hat{z-index:100;margin-left: -6px;margin-top: 2px; position: absolute; background:url(/images/common/santa_hat.png) no-repeat; width:60px;height:52px;}
*+html #hat{margin-left:-66px!important; margin-top:0px!important;}
.newTmpl{background: url(/images/common/snowflake1.png) no-repeat top right ; display: inline; height: 40px; margin-top: -30px;position: absolute;left: 3px;width: 40px;z-index: 100; }
end new year*/

.rotate {
-webkit-transform: rotate(-180deg)!important;
-moz-transform: rotate(-180deg)!important;
-ms-transform: rotate(-180deg)!important;
}

#start_button, #disMicro {
border: 0;
background-color:transparent;
padding: 0;
float: right;
}
#disMicro {display:none;}
#start_button .speech_info, #disMicro .speech_info{display:none;padding:7px 10px 5px 7px;margin-left:-6px;margin-top:0px;width:220px;line-height:12px;color:#000;font-weight:normal!important;font-size:9px;}
#disMicro .speech_info{margin-top:27px;margin-left:-20px;}
#start_button:hover .speech_info, #disMicro:hover .speech_info{display:inline;position:absolute;background:url(/images/common/temptitlebg_blue.gif) no-repeat;border-bottom:1px solid #00aef0;color:#4c4c4c;z-index:55}

.dictResultHeader{color:#009800; font: 18px 'Open Sans', sans-serif; font-weight:lighter; margin-top:10px}
.dictBlockHeader{color:#0067af; font: 18px 'Open Sans', sans-serif; font-weight:lighter; margin-top:10px}
.phrList {padding-bottom:2px;}
.phrList a:link, .phrList a:visited { text-decoration:none;}
.phrList a:hover, .phrList a:active { text-decoration:underline;}

#mainSection div #mfi_grammInfo {border:none;}
#dictBlockAll {margin:20px auto auto 10px; padding:10px;}


#topPhrases, #mfi_grammInfo, #allPhrases, #topSamples{position:relative; overflow:hidden;}
#samplesBlock, #mfi_grammInfo{height:100%; overflow:auto;}
.js-expandtxt {height:150px!important;}
.js-expandtxt:after, .js-expandtxtD:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    content: "";
    color:Blue;
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align:right;
}
.morePhrases
{	
	background:url("/images/common/showmore_right.png") no-repeat top right transparent; color:#0067af; padding:0 20px 10px 0; line-height:12px; font-size:12px; float:right;}
#topPhrases:hover, #topSamples:hover{ background:#efefef; cursor:pointer;}

#mfi_grammInfoBlock .morePhrases,  #dictBlockAll .morePhrases{background:url("/images/common/showmore_down.png") no-repeat top right transparent;}
/*#SiteContent_sourceTextDict {border: 1px solid #7F9DB9; border-width:1px 0 1px 1px; height: 20px; resize:none; width:87%;font-family:Verdana, Tahoma, Arial, sans-serif;padding:5px; border-radius: 8px 0 0 8px;display:inline-block;}*/
#sourceDict{border: 1px solid #7F9DB9;padding:5px; border-radius:8px;}
#SiteContent_sourceTextDict {border: 0; height: 20px; resize:none; width:87%;font-family:Verdana, Tahoma, Arial, sans-serif;padding:0px; display:inline-block; outline: none; }
#SiteContent_sourceTextDict::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

#findPhraseBlock, #findSamplesBlock  {width:320px;position:relative;display:block; margin-bottom:10px;}
/*#findPhraseBlock:after {
   content: " ";  Older browser do not support empty content 
   visibility: hidden;
   display: block;
   height: 0;
   clear: left;
}*/
div.input_s { width:/*120px*/232px; padding:3px 15px 3px 43px;border-radius:20px;border:1px solid #c6d2db;border-top:1px solid #b4c1cb;box-shadow:inset 0 1px 2px rgba(0,0,0,0.08); float:left; background:#ffffff;}
div.input_s.focus {border:1px solid #9ecbe2; box-shadow:0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08);}
input#findPhrase, input#findSamples {width:100%; border:0; /*border-radius:20px;*/background:transparent;height:14px;color:#b4bdc4;text-shadow:0 1px 1px #fff;}
input#findPhrase:focus, input#findSamples:focus {outline:none}
input#searchSubmit, input#searchSamplesSubmit {width:19px;height:19px;text-indent:-9999px;overflow:hidden;background:url(/images/common/search-icon1.png) no-repeat;border:0;position:absolute;top:4px; left:10px;z-index:5; cursor:pointer;}
.clearSearch{width:19px;height:19px;text-indent:-9999px;overflow:hidden;background:url(/images/common/clear_ico18.png) no-repeat;border:0;position:absolute;top:5px; right:35px;z-index:5; cursor:pointer;}

#contentBlock:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#megaFullInfo #mfi_grammInfo{overflow:auto;}
#clearSourceDictBtt{margin:1px;height:18px;width:18px; background: url(/images/common/clear_ico18.png) no-repeat transparent; display:inline-block;float:right;}

.samplesList {display:table; width:100%;}
.samplesList:hover{background:#f4f4f4;} 
.samSource {color:#0774b7;}
.sourceSample {background:#cbf9d8;}
.sourceSampleSearch {background:#ffef67/*#8ddeeb*/;}
.samSource, .samTranslation{ display:table-cell; width:50%; padding:10px; border:1px solid #eee; border-bottom-width:0px;}
.samSource { border-right-width:0;}
.samplesList:last-of-type .samSource, .samplesList:last-of-type .samTranslation{border-bottom-width:1px!important;}
.difLinkBlock  {display:block}
.otherImportantForms {display:block; color:#307bc7; font-size:12px;}

.subMenu {
	height: 37px;
	z-index: 1000;
	/*width: 100%;
	background: #58abdd;*/
	margin:10px -10px -30px -10px;
	background: #58abdd;
	display:none;
}
#logotext h1{display:inline-block;}
#logotext h2 {text-transform:none;font-size:16px; margin-top:-5px; color:#a9a9a9;}
#logotext h2 a{ color:#559ddb; margin-left:35px;}

#mfi_grammInfo p b { font-size:15px!important;}
#sendLoadingND { margin-top: 20px;}

/* 1 sept
#hat {z-index: 100; margin-left: -23px; margin-top: -41px; position: absolute; background: url("/images/common/1sept.png") no-repeat scroll 0px 0px / cover ; height: 78px; width: 75px;}
body{background:#006633 url("/images/common/back2school_bg_3.png") repeat scroll center top}
#goHome img {margin-left:10px;}
 1 sept end*/