.clearfix:after
{
	content:"";
	display:table;
	clear:both
}
.red
{
	color:#d62b23
}
.green
{
	color:#1c7e11
}

#search
{
	display:none;
	height:0;
	width:100%;
	background:#3c3c3c;
	overflow:hidden
}

#custom-search-form
{
	margin:10px 8px 0;
	padding:0
}

#custom-search-form .search-query
{
	font-size:18px;
	padding-right:3px;
	padding-left:10px;
	margin-bottom:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

#custom-search-form button
{
	border:0;
	background:0;
	padding:8px 5px;
	margin-top:2px;
	position:relative;
	left:-28px;
	margin-bottom:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.search-query:focus+button
{
	z-index:3
}

#our_sites
{
	width:100%;
	height:40px;
	background:#000;
	line-height:40px;
	color:#fff
}

#our_sites .site_wrapper
{
	margin:0 20px 0 0;
	text-align:right
}

#our_sites a
{
	color:#8bc7fc;
	padding:0
}

#our_sites a:visited
{
	color:#006fa9
}

#anon_header
{
	height:62px;
	border-bottom:2px solid #d6363a
}

#anon_header .navbar
{
	padding:10px 0 15px;
	opacity:.90
}

#anon_header .navbar,#anon_header .navbar-collapse
{
	background:#efefef;
	margin-bottom:0;
	border-left:0 solid transparent;
	border-right:0 solid transparent;
	border-radius:0;
	border-bottom:0
}

#anon_header .navbar-toggle
{
	border-color:#c4c4c4;
	background:#e4e4e4;
	margin-top:0;
	margin-bottom:0
}

#anon_header .navbar-default .navbar-toggle:hover,#anon_header .navbar-default .navbar-toggle:focus
{
	background:#fcfcfc
}

#anon_header h1
{
	margin:0
}

#anon_header h1 a
{
	display:block;
	margin:0 5px;
	padding:0;
	width:205px;
	height:35px;
	background:transparent url('/img/layout/header.white.logo.filefactory.svg') 50% 50% no-repeat;
	background-size:205px 35px;
	outline:0;
	text-indent:-9999px
}

#anon_header .navbar-nav
{
	margin-top:9px
}

#anon_header .navbar-nav>li
{
	padding:0 25px
}

#anon_header .navbar-nav>li>a
{
	padding:0;
	font-size:16px;
	font-weight:400;
	color:#34495e;
	padding-bottom:4px
}

#anon_header .navbar-nav>li>a
{
	border-bottom:2px solid #d7d7d7
}

#anon_header .navbar-nav>li>a:hover
{
	text-decoration:none;
	color:#576575;
	border-bottom:2px solid #a5a5a5
}

#anon_header .navbar-default .navbar-nav>.active>a,
#anon_header .navbar-default .navbar-nav>.active>a:hover,
#anon_header .navbar-default .navbar-nav>.active>a:focus
{
	background:#efefef;
	color:#576575;
	font-weight:700;
	border-bottom:2px solid #ed1c24
}


/*	
@media(max-width:767px)
{
	#anon_header .navbar,
	#anon_header .navbar-collapse
	{
		border-top:0
	}
	#anon_header .navbar-nav>li>a
	{
		margin:10px
	}
}

	
@media(max-width:995px)
{
	#anon_header .navbar-nav>li
	{
		padding:0 10px
	}
}


@media(max-width:820px)
{
	#anon_header h1 a
	{
		width:150px;
		margin:0 0 0 15px;
		background:transparent url('/img/layout/header.white.logo.filefactory.small.svg') 50% 50% no-repeat;
		background-size:150px 35px
	}
}
*/
	

#global_footer
{
	padding:40px 15px;
	color:#5a5a5a;
	text-align:center;
	max-width:960px;
	margin:0 auto
}

#global_footer div#set_language
{
	max-width:450px;
	margin:30px auto 0;
	padding-top:15px;
	border-top:1px solid #eee
}

#global_footer div#set_language span.selectboxit-container
{
	padding-bottom:5px
}

#global_footer div#set_language button.btn
{
	font-size:12px
}
input,
	textarea
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
table input
{
	margin:0!important
}
table.table-vertical-middle td
{
	vertical-align:middle!important
}
table.table-center-align td
{
	text-align:center
}
.widget-content table:last-child
{
	margin-bottom:0
}
.tabbable .nav-tabs
{
	margin-bottom:0
}
.tabbable .nav-tabs>.active>a
{
	background-color:#f9f9f9
}
.tabbable .tab-content
{
	width:100%;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd
}
.tabbable fieldset
{
	padding:20px
}
.tabbable .form-actions
{
	margin:0
}
table.tablesorter thead tr .header
{
	background-image:url("/img/download/tablesorter.bg.gif");
	background-repeat:no-repeat;
	background-position:center right;
	cursor:pointer
}
table.tablesorter thead tr .headerSortUp
{
	background-image:url("/img/download/tablesorter.asc.gif")
}
table.tablesorter thead tr .headerSortDown
{
	background-image:url("/img/download/tablesorter.desc.gif")
}
body[data-color="red"].flat .modal.redheader .modal-header,
.modal.redheader .modal-header
{
	margin-top:-1px;
	padding:9px 15px;
	border-radius:6px 6px 0 0;
	background-color:#d6363a;
	color:#fff;
	height:auto;
	box-shadow:none;
	-webkit-box-shadow:none
}
body[data-color="red"].flat .modal.redheader .modal-header h3,
.modal.redheader .modal-header h3
{
	margin:0;
	line-height:30px
}
div#joinModal div.modal-body
{
	padding-bottom:0
}
div#joinModal div.modal-body div.join_left
{
	display:block;
	width:320px;
	float:left;
	padding:50px 0 10px 40px
}
div.join_left h3
{
	margin-bottom:15px;
	font-size:26px;
	line-height:31px
}
div#joinModal div.modal-body div.join_right
{
	display:block;
	padding:0 25px 0 0;
	float:right
}
div#joinModal div.modal-body div.join_center
{
	padding:0 0 15px
}
div.join_center h3
{
	margin:0 0 15px;
	font-size:26px;
	line-height:115%
}
div#joinModal div.modal-footer a#notagain
{
	margin-left:40px;
	padding-top:5px
}
div#joinModal div.modal-footer .btn
{
	margin-right:40px
}

#alert_message
{
	margin:20px 0
}

#alert_message h2
{
	font-size:18px;
	margin:0 0 10px
}

#alert_message #alert_inner
{
	margin:0 auto;
	max-width:960px
}
.divider
{
	position:relative;
	margin:40px 0;
	clear:both
}
.divider:before
{
	content:"";
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	top:50%;
	z-index:1;
	border-top:solid 1px #e1e1e1
}
.divider span
{
	padding:0 20px;
	position:relative;
	z-index:5;
	color:#aaa;
	background:#f6f3ef
}
.divider span.whitebg
{
	background:#fff
}

/*
#premium h2
{
	max-width:750px;
	margin:0 auto;
	font-weight:normal;
	color:#5a5a5a
}

#premium h3
{
	max-width:800px;
	margin:0 auto;
	font-size:18px;
	font-weight:normal;
	color:#5a5a5a
}
*/

#upgrade
{
	padding:40px 0;
	background:0
}
.upgrade_plans
{
	margin:40px auto
}
.upgrade_plans th
{
	padding:8px;
	background:#fff;
	border:10px solid #f6f3ef
}
.upgrade_plans th .length
{
	padding:15px 10px;
	color:#fff;
	font-size:18px;
	font-weight:normal
}
.upgrade_plans th.green
{
	outline:1px solid #63c50c;
	outline-offset:-5px
}
.upgrade_plans th.blue .length
{
	background:#01b8e2
}
.upgrade_plans th.green .length
{
	background:#63c50c;
	border-bottom:5px solid #fff
}
.upgrade_plans th .price
{
	display:block;
	padding:25px 5px 0;
	font-size:50px;
	font-weight:normal;
	background:#f6f6f6
}
.upgrade_plans th.blue .price
{
	color:#01b8e2
}
.upgrade_plans th.green .price
{
	background:#63c50c;
	color:#fff
}
.upgrade_plans th .price span
{
	display:block;
	padding:20px 5px 10px;
	color:#5a5a5a;
	font-size:14px;
	font-weight:normal
}
.upgrade_plans th.blue .price span
{
	color:#5a5a5a
}
.upgrade_plans th.green .price span
{
	color:#fff
}
.upgrade_plans tr td
{
	padding:15px 10px;
	border:10px solid #f6f3ef
}
.upgrade_plans tr:nth-child(even)
{
	background:#fff
}
.upgrade_plans tr:nth-child(odd)
{
	background:#f6f6f6
}
.upgrade_plans td.green
{
	color:#fff;
	background:#63c50c
}
.upgrade_plans tr.button_row
{
	background:0
}
.upgrade_plans tr.button_row .btn
{
	padding:5px 30px
}

#currencySelect
{
	max-width:800px;
	margin:0 auto 20px;
	background:#eee;
	text-align:center;
	border:1px solid #ccc;
	padding:10px;
	border-radius:5px
}

#currencySelect span
{
	line-height:32px
}

#currencySelect select
{
	width:180px;
	margin:0
}

#security_questions .selectboxit,.security_questions .selectboxit
{
	width:172px
}

#banner
{
	width:830px;
	height:600px;
	margin:20px auto 0;
	background:url(/img/account/affiliates/affiliates.screens.png) no-repeat;
	position:relative
}

#banner_header
{
	display:block;
	text-align:center
}

#download_rates
{
	border:0;
	border-bottom:1px solid #ddd
}

#download_rates td:last-child
{
	border-right:1px solid #ddd
}

#download_rates th
{
	background:0;
	border:0;
	border-right:1px solid #f9f9f9
}

#rate_info
{
	list-style-type:none
}

#happy_affiliates .widget-content
{
	background:#7f8181;
	color:#fff
}
a#recaptcha_image.thumbnail
{
	width:300px!important;
	height:63px!important;
	margin-bottom:5px!important
}
body
{
	font-family:'Open Sans',Arial,sans-serif;
	font-size:16px
}
.alert h2
{
	font-size:18px;
	font-weight:bold;
	margin:0 0 10px
}
.btn-grey
{
	color:#FFF;
	background-color:#666;
	border-color:#666
}
.btn-grey:hover,.btn-grey:focus,.btn-grey:active,.btn-grey.active,.open .dropdown-toggle.btn-grey
{
	color:#FFF;
	background-color:#606060;
	border-color:#606060
}
.btn-grey:active,.btn-grey.active,.open .dropdown-toggle.btn-grey
{
	background-image:none
}
.btn-grey.disabled,.btn-grey[disabled],fieldset[disabled] .btn-grey,.btn-grey.disabled:hover,.btn-grey[disabled]:hover,fieldset[disabled] .btn-grey:hover,.btn-grey.disabled:focus,.btn-grey[disabled]:focus,fieldset[disabled] .btn-grey:focus,.btn-grey.disabled:active,.btn-grey[disabled]:active,fieldset[disabled] .btn-grey:active,.btn-grey.disabled.active,.btn-grey[disabled].active,fieldset[disabled] .btn-grey.active
{
	background-color:#606060;
	border-color:#606060
}
.btn-grey .badge
{
	color:#fff;
	background-color:#666
}
.selectboxit-container
{
	padding-right:5px
}
body,html
{
	min-width:inherit
}


@media(max-width:767px)
{
	#zenbox_tab
	{
		display:none!important
	}
	.alert
	{
		word-wrap:break-word
	}
}

	

	